[2015-12-24 08:40] jdubois commented on #2528
- the way we use Hibernate, this is because you have 2 different databases: this is clearly not a "normal" setup, and not a JHipster issue in normal situations.
- yes UUIDs would solve the problem, but from a performance point of view I want to stick with Long for normal setups

Another solution would be that you use a different sequence in one of your databases, that starts with a much higher num

[2015-12-24 09:51] mihaisimi commented on #2512
Mathematically eliminating one problem out of many does reduce the overall risk. Except for the case when many tends to be infinite :).

[2015-12-24 10:22] xjiaoyang commented on #2528
@jdubois, yes in the distribution environment, UUID solve the problem, and this is not a JHipster problem.
And for the performance problem , distributed system seems like born with it. we already decide use uuid instead of Long as the primary key. i put issue here because i want to discuss about how to solve the problem on distributed deployment that use jhipster with you all.

[2015-12-24 13:42] Panthro commented on #2517
well, it's fully automated and it would avoid the scenario that there's a release with a broken structure (which is what jhipster is for in my opinion, create a better code skeleton) it's worth it.

Think about something, in my case I'm a experienced java developer, and I can find this kind of issues easily, can debug maven dependencies, etc etc etc until I find the issue and fix it.

But if a new

[2015-12-24 15:18] Panthro commented on #2517
PR for the bugfix in the h2 url is here #2530

[2015-12-24 15:26] Panthro commented on #2528
My problem with this issue is the statement:

Do you mind sharing your requirements for the statement above?

How are you connecting and replicating those databases?

If you're using replication, do you allow read/write in all databases?

Can you use native replication and have 1 db to write and read in from the others?

[2015-12-24 15:28] Panthro commented on #2525
+1 for keeping bootstrap.

[2015-12-24 16:32] pascalgrimaud commented on #2517
In fact, testing `liquibase:diff` is not so easy.
You have to start the app, to "init" the database, then stop the app and launch `liquibase:diff`.

I have a lot of problem to test if the app is started or not, so for now, I commented the curl test :
https://github.com/jhipster/generator-jhipster/blob/master/travis/scripts/05-run.sh#L15-L16

Sometimes, the app didn't start and is stuck, I explaine

[2015-12-24 18:43] Panthro commented on #2517
hummm I didn't think that travis would affect that much the environment afterall.

Ok, let's leave this discussion for a future time =)

[2015-12-24 20:09] jdubois commented on #2512
All projects I can think of do it this way (Vagrant, MySQL...), with a default password.
The only exception I see at the moment is Tomcat, and that's a pain to use... Same thing here, this is going to annoy every user.
You're supposed to installer JHipster on your machine, and you're supposed to have it correctly configured -> if your 8080 or 3000 port is open, then you're probably doing it on pur

[2015-12-25 03:59] xjiaoyang commented on #2528
@Panthro
each application relay on a different db server， i mean:
[code]
db0 down both app switch to db1.
native replication --- you mean Mysql Master - Slaves based replication? no, we definitely want try alibaba guys different zone multi master idea.
we changed a lot last night, Server 1 connect to db0 serves the zone ST, Server 2 and 3 connect to db1 serves zone GA, Server 4 and 5 connect to db

[2015-12-25 04:24] deepu105 commented on #2525
I would also keep bootstrap as angular material would mean all new
templates, it could be a module which will replace our generated templates.
Sendil, ill be working on something similar for audit, so let me discuss
this with you when I'm back, i have an idea on how to do this as a module
so that you can do and own it as well.
On 24 Dec 2015 20:58, "Rafael Roman" <notifications@github.com> wrote:

[2015-12-25 04:57] deepu105 commented on #2528
Shouldn't this be on stack overflow?
On 25 Dec 2015 09:29, "WB" <notifications@github.com> wrote:

[2015-12-25 05:31] veejayendraa commented on #1688
Issue is still coming with 2.26.1 version of Jhipster.

[2015-12-25 05:57] veejayendraa opened #2531 "Duplicated Hazelcast instances"
Hi.

I'm starting a new project with Jhipster, I am getting Duplicate Hazelcast instance exception while building the project and running auto generated test cases.

Its related to #1688 , but that issue was resolved in 2.18 and I m using 2.26.1

.yo-rc.json is as per below

`{
  "generator-jhipster": {
    "baseName": "societyManagement",
    "packageName": "com.digiworld.society",
    "packageFo

[2015-12-25 08:40] pascalgrimaud commented on #2531
If you remove Cucumber, it will work.
If you want to keep Cucumber, you have to use gradle instead of maven.

Duplicated : https://github.com/jhipster/generator-jhipster/issues/2502

[2015-12-25 08:40] #2531 closed

[2015-12-25 14:27] xjiaoyang commented on #2528
@deepu105 close this!

[2015-12-25 15:53] mihaisimi commented on #2512
Mysql asks you to provide a root password when using the GUI installer (see User Accounts and Roles capture here):
https://dev.mysql.com/doc/mysql-installer/en/mysql-installer-gui.html
Tomcat uses defaults, but disables them.

The problem we have is that JHipster being such a great tool we do a lot of prototyping and generate a lot of apps. Is not like mysql that you install 3 times/year :).
Most

[2015-12-25 21:16] #2493 closed

[2015-12-25 21:22] #2515 closed

[2015-12-25 21:23] #2528 closed

[2015-12-25 21:24] #2525 closed

[2015-12-25 21:25] jdubois commented on #2505
I'm closing this as it's going to be a module -> don't hesitate to open issues if you want more variables/functions for your module!

[2015-12-25 21:25] #2505 closed

[2015-12-26 07:47] jdubois commented on #2516
Closed as PR is merged ( @Panthro next time add a "fix" keyword in your PR, it will close the issue automatically)

[2015-12-26 07:47] #2516 closed

[2015-12-26 12:56] tayfunyasar opened #2533 "jHipster and Instagram login"
I'm trying to do Instagram Integration with jHipster. I saw twitter and facebook login auth but there is no instagram integration.

Will you include instagram login too? When?

[2015-12-26 14:51] gmarziou commented on #2533
JHipster provides what Spring-social provides, you should have a look at spring-social add-ons, ther'es a community project https://github.com/mattupstate/spring-social-instagram though it seems rather old

[2015-12-26 16:31] jdubois commented on #2533
Yes we can't do more than what Spring Social provides: you need to ask this (or contribute!) to Spring Social to have more options

[2015-12-26 16:31] #2533 closed

[2015-12-26 18:04] pascalgrimaud commented on #2533
@tayfunyasar : look at this PR https://github.com/jhipster/jhipster.github.io/pull/144

[2015-12-26 18:20] #2517 closed

[2015-12-28 00:34] hirro opened #2537 "Time not editable for ZonedDateTime and date selector is on a separate line"
**Overview of the issue**

I created a new project using 2.26.1 and found that edit control for ZonedDateTime only is a date selector (I couldn't enter any time at all due to validation errors. Also, the button for the date selector wrapped which doesn't look that good.

![screen shot 2015-12-28 at 00 42 47](https://cloud.githubusercontent.com/assets/4715022/12012579/02f64dba-acfc-11e5-9e48-6370c1

[2015-12-28 00:55] Panthro commented on #2516
Ops sorry. Forgot to do it this time.

[2015-12-28 01:06] Panthro commented on #2512
If you use that much jhipster for new projects and it's a pain in the ass changing passwords, why don't you create a `bash script` that automatically replace your passwords in the jhipster newly generated app right after you create it?

I mean, it makes sense for your use case, but not for the rest of the world that will use jhipster once in a while. (I'm on my third project with jhipster this yea

[2015-12-28 01:11] Panthro commented on #2509
quick comment on this:

The same thing happened to me, I'm using jhipster and docker for quite a while, when I referred jhipster to a friend he had troubles because his company has strict policies about installing new software and they have to use VMs for a lot of things.

When I told him to use docker he was AMAZED and it was really nice.

Also, to another friend that I referred jhipster, when he

[2015-12-28 06:46] mihaisimi commented on #2512
Ok, closing.

[2015-12-28 06:46] #2512 closed

[2015-12-28 06:48] rakishmu commented on #2497
hi. can anyone help me ? how to upgrade from version 2.25.0 ? because i already development using that one.

[2015-12-28 06:52] pascalgrimaud commented on #2497
Look at http://jhipster.github.io/2015/12/17/jhipster-release-2.26.1.html
Don't forget to commit or create branch with git before trying updating to latest version
So you'll be able to rollback

[2015-12-28 07:17] rakishmu commented on #2497
@pascalgrimaud thanks a lot !

[2015-12-28 11:40] lourai opened #2538 "Adding User entity enhancement management"
User is a special entity, pre-generated and needed by jhipster as a core entity. Actually, every relation to User is working great (you can add relation from an entity to User) but every relation from it, or new attribute are ignored. This is due to the actual entitygenerator who use template to create (or update) assets for the new entity.

I figure out and try 2 ways to improve that :
- create a

[2015-12-28 11:54] pnreddysvu commented on #2538
one hint to add any number of new attributes to user entity. The SSO project from JBoss Keycloak(http://keycloak.jboss.org/) handled the same case very well. I think we should inspire from that solution.

[2015-12-28 12:26] lourai commented on #2538
Wasn't aware of that project, sound very good and cover most of common use case we need when speak about A&A, but need a lot of work to be integrated in jhipster, isn't it (first time i use a question tag in my whole life :D) ? To be planed for jHipster 3 ?

One thought : if the User.java core class become simply an extends of a 'JHIUser' like abstract class that come with all actuel User property

[2015-12-28 12:33] jdubois commented on #2537
- Yes, I fully agree with this issue, in fact I have the same one!
- I would like to avoid adding too many third-party libs, as everyone will get them (and probably very few people will use that feature). So I would either do it manually (3) or with the timepicker (4). With the timepicker, isn't there a way to make it look better, next to the datepicker? I haven't looked at it in detail.

[2015-12-28 12:36] jdubois commented on #2521
- I'm editing the title of your issue as this only occurs on CloudFoundry
- MongoDB on CloudFoundry isn't supported, because of Mongeez (see the [documentation](http://jhipster.github.io/cloudfoundry.html)). Did you remove all references to Mongeez? Then maybe it's because of our Cloud connector

[2015-12-28 12:36] jdubois commented on #2521
I guess it's because of the cloud connector -> as this is not supported anyway, I'm closing this

[2015-12-28 12:36] #2521 closed

[2015-12-28 12:44] jdubois commented on #2520
Yes you can add the tip to our website (you need to do a PR to https://github.com/jhipster/jhipster.github.io ), it's nice for IDEA users.

Of course we can't put this in the main generator, as we don't have anything specific for an IDE (at least that's the current decision, as otherwise we would have too many files generated, for all IDEs...).

For the main project, I'd also like to stick to the

[2015-12-28 12:44] #2520 closed

[2015-12-28 13:12] jdubois commented on #2504
I think what @geraldhumphries writes is a good solution (and besides he found an issue in the current ES code), so I'm closing this.
Maybe this could be part of the generator, or be a module in the future, if people are interested by having a generic solution to this problem.

[2015-12-28 13:12] #2504 closed

[2015-12-28 13:12] jdubois commented on #2518
I'm editing the title of your issue, as this is because your have translations not enabled.

[2015-12-28 13:18] pnreddysvu commented on #2538
Yes it is really a great project but very few people know this(may be less publicity). Till last week I was thing that Cloud Foundry UAA was the best A&A project but after going through KeyCloak, UAA is nothing in front of that.

I dont think integrating with JHipster is difficult. They have Spring-boot adapter.
https://github.com/keycloak/keycloak/tree/master/integration/spring-boot

[2015-12-28 14:10] jdubois commented on #2518
I can't reproduce your issue: I just created a new application with social login and enableTranslation: false, and the application.yml file has all 3 (Google, Facebook, Twitter) configurations.
As you don't give your JHipster version, I guess you are using an older version and this has now been fixed.

[2015-12-28 15:18] geraldhumphries commented on #2504
@Vaelyr that's a good idea, but with pagination there's no API endpoint for findAll without pagination. Discussion in #2251. The only option I've found aside from adding another endpoint  is to specify an extremely large page size, but that is definitely not optimal. For server side searching across all fields ES is the easiest solution but there are others, like an "all columns" Specification. If

[2015-12-28 16:17] pnreddysvu commented on #2538
JHIPSTER DEV Team:  just have a look at https://www.youtube.com/watch?v=5MQoJZKXM_s
I feel it is worth to consider KeyCloak instead of UAA for micro service architecture.
It is a JBoss project having 7 dedicated developers and very active community.

[2015-12-28 16:39] wadael opened #2539 "Issue with dates,two types not supported"
I had a set of java entities, used VP to turn them to uml, processed the result through jhipster-uml

See http://stackoverflow.com/questions/34497037/date-types-not-supported

(and please create a jhipster-uml tag)

[2015-12-28 16:43] jdubois commented on #2538
I still have to see if we need such a server: we already have built-in OAuth2 support, so maybe we could just have a JHipster server that is the OAuth2 server.

In a microservices architecture, we would have a front-end router, and then all other REST endpoints would be behind this router: we don't really need an SSO server for this. Maybe the other endpoints would not be secured, or be secured di

[2015-12-28 16:59] pnreddysvu commented on #2538
understood. keycloak module make sense. Lack of proper documentation and examples are the reasons for not gaining popularity. Otherwise it is a great project. I will try integrating in my free time.

[2015-12-28 19:57] sdoxsee commented on #2518
I have the same issue.

* **Overview of the issue**
screenshot (same as above)
https://www.dropbox.com/s/g95o5hdveaxgx09/Screenshot%202015-12-28%2014.47.48.png?dl=0

I have only tried Google sign in with translation disabled. After I authorize access to my web app on the google consent screen, i get the error screen above.

[code]

* **Motivation for or Use Case**

I'd like to use authentication v

[2015-12-28 20:20] moifort commented on #2518
I have reproduced the error I will try to investigate! (Sherlock Holmes mode activated)

[2015-12-28 20:46] MathieuAA commented on #2539
Hi again. You should post this issue on the JHipster-UML's "issue tracker", not on the main project's. If I am not mistaken, your problem isn't with the generator (your stack trace speaks for itself by the way).
Feel free to close this one, I'll take care of answering you when you open an issue on the JHipster-UML project page.

[2015-12-28 20:48] #2539 closed

[2015-12-28 21:20] gmarziou commented on #2538
I did not know about CAS, it's very interesting. I'll have a closer look.

[2015-12-28 22:20] lourai commented on #2538
Implementing external login to existing service (such as ldap) or even SSO (like CAS, reverse proxy, etc) is not big deal, really. And adding it to a jhipster can but done manually in a few hours... ! If the need is ton implement that king of server, builtin, that's, for me, not a JHI core concern (more a markeplace one however).

But remember this issue is much more simple : adding some data logi

[2015-12-29 09:20] hirro commented on #2537
Would it be possible to only include the dependencies angular-bootstrap-datetimepicker and moment iff ZonedDateTime type is used?

I am currently in the middle of trying out angular-bootstrap-datetimepicker, the component looks ideal for editing ZonedDateTime and it has support for localization through moment (http://momentjs.com/) .

[2015-12-29 09:37] #2518 closed

[2015-12-29 13:01] jdubois commented on #2504
@geraldhumphries as I'm not sure of all the impacts here, I'd prefer to see a module first. Then, if this is popular, we could put it into the main generator as an option. Is it fine for you?

[2015-12-29 13:25] jdubois opened #2542 "Use a global NPM repository to speed up the builds"
As mentioned in https://github.com/jhipster/jhipster-devbox/issues/21 we could use [this tip](https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md) to install NPM packages locally, using the user's rights.

- This would allow us to use NPM the same way we use Maven, with a global repository
- This would speed up builds for both Docker and the devbox

@pascalgrimaud what do

[2015-12-29 13:55] pascalgrimaud commented on #2542
@jdubois : I don't think it's the same subject

This tips seems to be used for :
- users who are not root on the machine
- using `npm install -g <package>` (globally)
This tips will use a personal directory instead of `/usr/lib/node_modules` (for example) which requires to be root to write on this dir

For generating a JHipster project, we use `npm install` locally so npm will :
- read the package

[2015-12-29 14:00] jdubois commented on #2542
OK, my bad!

[2015-12-29 14:00] #2542 closed

[2015-12-29 14:51] geraldhumphries commented on #2504
@jdubois I am actually talking about the `404` block of code I mentioned above that doesn't do anything. I can look into creating a module.

[2015-12-29 18:01] Panthro opened #2543 "Using Entity.id only on equals() lead to unexpected behavior when id = null"
### SImple scenario:

when you have 2 entities with a OneToMany relationship and want to use the parent list to maintain the relationship using `CascadeType.ALL` (or persist, or update)

- [ ] Create the Father of the relationship
- [ ] Create 2 new childs of the same type and add them to the parent list.
- [ ] using `CascadeType.PERSIST` on the relationship call `repository.save()`

### Expected

[2015-12-29 21:19] jdubois commented on #2543
Agreed, and this is more a "best practice with Hibernate" than an actual issue with JHipster.
Your solution would work, as long as comparing all fields is a correct way to check that both entities are "equals" (a common use case, of course).
You could also do a save() on each entity first, to force them to be created, and hence they would have an id -> not really an optimal solution in terms of co

[2015-12-29 21:56] #2341 closed

[2015-12-29 22:11] jdubois commented on #2495
I can't reproduce this:

- Do you mean the tests in `generator-jhipster`?
- You seem to use some kind of plugin to run those tests, what exactly are you using?

If you want to make a PR with this, no problem, looks like you know this better than me!

[2015-12-29 22:14] gzsombor commented on #2543
If you remove the generated equals and hashCode method, you would get a more consistent behaviour - it's not 100% correct but it's a better default,than the current one (which is known to not following the general, expected contract of hashCode/equals methods)

[2015-12-29 22:19] geraldhumphries commented on #2495
1. Yeah, the Mocha tests from `generator-jhipster`.

2. I am using a Mocha run config in IntelliJ, which is bundled in the AngularJS plugin. Instructions [here.](https://www.jetbrains.com/idea/help/running-mocha-unit-tests.html)

[2015-12-29 22:21] geraldhumphries commented on #2495
Here is a screenshot of my config:

![mocha](https://cloud.githubusercontent.com/assets/5278953/12043196/a86698c2-ae50-11e5-8a34-e845f27d8393.png)

[2015-12-29 22:28] jdubois commented on #2495
Hey, that's super cool!!!! Would like to improve the IDEA setup at http://jhipster.github.io/configuring_ide_idea.html ? Otherwise I will do it when I have the time.

And indeed the names are not good, would you like to do a PR?

[2015-12-29 22:36] rampantlion103 commented on #2341
Hi Julien,
I love  your work, jhipster. Unfortunately, I am watching the local evening news here in New York, New York. The news is giving an update about the Hipster trend is pretty much outdated here in New York, as the news caster interviewed many people on the street and none of them wants to be identified as a Hipster. The younger ones wants to be identified differently, not a hipster.

So th

[2015-12-29 22:44] geraldhumphries commented on #2495
I can do a PR. I will also look at updating the docs - this specific configuration is not very useful for JH users (it's for JD developers) but there are other useful configs like Karma.

[2015-12-29 22:46] jdubois commented on #2341
Hi @rampantlion103 I suggest opening a specific thread for this, as this is another topic and we have high quality requirements for such important matters :-)
Indeed, this is originally a French project, and it seems that we are a few years behind the US in terms of fashion, so for us it's still cool to be hipster, while in the US it's already outdated.

[2015-12-29 22:55] roblight opened #2544 "Entity names are not capitalized in the Entities dropdown menu"
Tested with the 2.26.1 release.

[2015-12-29 22:57] geraldhumphries commented on #2544
Reproduced in https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/webapp/scripts/components/navbar/navbar.html

[2015-12-29 23:03] jdubois opened #2545 "Session clustering with Hazelcast is broken"
Following #2395

- With JHipster 2.26.1 (and current master branch)
- Create a project with all default options (NO Hazelcast 2nd level cache for Hibernate), and just the session clustering with Hazelcast

Issue is:

    Error creating bean with name 'hazelcastInstance': Requested bean is currently in creation: Is there an unresolvable circular reference?

It looks like the servlet filter is trigg

[2015-12-29 23:08] geraldhumphries commented on #2543
Autogenerated equals and hashCode in IntelliJ with the default settings look like this (selected all fields, accepted subclasses as parameters, did not use getters/setters, did not make any fields not-null):
[code]

It seems pretty robust and easy to implement in a generator, maybe we should follow its example?

[2015-12-30 02:46] gouravsood commented on #2521
Hi @jdubois Yes I have removed the all the references of Mongeez but still it was happening.

Finally to make it work instead of using the Paas service, I used Spring Cloud configs (application-cloud.yml) to load the connection details to MongoDB and connected to the Mongo DB service in cloud. That worked for me.

[2015-12-30 07:46] #2545 closed

[2015-12-30 09:15] jdubois commented on #2521
Can you document this, or provide a PR? This question keeps coming back, and I'm sure many people would benefit from it.
Unfortunately it's quite complex to test, as you need a CloudFoundry + MongoDB instance.

[2015-12-30 09:43] jdubois commented on #2502
Fixed by https://github.com/jhipster/generator-jhipster/commit/680d7060f9e7c229e99b1aa8ab54ec2d7b76638f

[2015-12-30 09:43] #2502 closed

[2015-12-30 10:26] jdubois commented on #1896
So still nobody interested in OpenShift -> I will remove OpenShift support in our next release

[2015-12-30 10:28] gmarziou commented on #2543
Hibernate team's position is that you should better use a business key than a generated key for implementing equalsd/hashCode. See [Hibernate doc](https://docs.jboss.org/hibernate/stable/core.old/reference/en/html/persistent-classes-equalshashcode.html).

Of course, JHipster cannot really know how to build a business key from your entity fields, it could try to guess one by looking at unique const

[2015-12-30 10:43] jdubois commented on #2543
@gmarziou yes this is the part I need to check, as originally our equals/hashcode is supposed to be the one generated by Idea... At least that was the case 2 years ago, but so many things have changed since that time!
I am strongly against the commons-lang approach: I have seen several projects where we had a big performance hit (as much as 30%) because of those (as far as I remember it is because

[2015-12-30 10:44] jdubois commented on #1859
This is something I have never used myself, you mean to put an @NotNull on a relationship?

This would be against our Policy 2 at http://jhipster.github.io/policies.html as we wouldn't add much value: basically we replace one annotation by one question... It's easier for people to use the annotation directly.

[2015-12-30 10:44] #1859 closed

[2015-12-30 10:47] gmarziou commented on #2543
Wow 30%, good to know.

[2015-12-30 12:30] titogeorgep commented on #2518
Thank you all for a Quick fix!!

[2015-12-30 15:24] cbornet commented on #2428
In fact, this is not good since with basic auth you want to disable csrf and configure stateless session management. The only solution I found to have usable basic auth in parallel of form login is to duplicate the api endpoints on a "/api_basic" path which is protected by basic auth. This is easily done by adding the path to the RequestMapping of each entity resource. The advantage is that it is

[2015-12-30 15:31] roblight commented on #401
A quick, related follow-up (for posterity's sake) is that the Swagger "Try it out!" button actions will work when served on port 8080 (as served by the default Gradle task) but will not work on port 3000 (as served by the default Grunt task).

Related: #1961

[2015-12-30 15:33] cbornet commented on #401
I think you can make it work by setting the CORS in your application.yml

[2015-12-30 15:43] roblight commented on #401
Thanks for the reply!  However that did not work for me.

[2015-12-30 17:36] geraldhumphries commented on #2537
The issue with the styling is probably happening because the input and button are not wrapped in `div.input-group`.

[2015-12-30 17:50] DanielSBFranco commented on #2543
You could store System.nanoTime() in a javax.persistence.Transient field and use this field on equals() and hashcode() only when ID is null.

[2015-12-30 18:09] Panthro commented on #2543
I'm against commons lang approach too. AFAIK it uses reflection, and in cases you have some complex cases it makes a simple `list.add()` takes a really nice performance hit.

@jdubois The problem with the __save your entity to get an id__ approach is that in my case, the child entity will fail as the father relationship is required, and as a business requirement I should not save the parent until

[2015-12-30 18:14] mhavrlent opened #2546 "Oracle: liquibaseDiffChangelog gradle task enhancement request"
In order to use Gradle `liquibaseDiffChangelog` task with Oracle DB I had to do the following changes:
1) Fill in the DB details to the task args in `liquibase.gradle` file. Example:
<pre>
`args "--referenceUrl=hibernate:spring:com.hpe.l4.generator.domain?dialect=org.hibernate.dialect.Oracle10gDialect"
  args "--username=SCHEMA_NAME"
  args "--password=somepass"
  args "--url=jdbc:oracle:thin:@loc

[2015-12-30 18:18] Panthro commented on #2544
:+1:

[2015-12-30 18:29] geraldhumphries commented on #2546
+1

[2015-12-30 20:05] atomfrede commented on #2546
Do we have the same issue with maven? Nowhere is any statement about oracle.

[2015-12-30 20:08] verrol opened #2547 "Basic Non-Secure RESTful API Fails of Anonymous User"
I added the following class under src/main/java/com/my/demo/web/rest. I don't get any error so far. But, when I try to call my endpoint, /api/myapi, I get the following messages on the console:

2015-12-30 14:18:25.198 DEBUG 30765 --- [nio-8080-exec-2] c.c.health.aop.logging.LoggingAspect     : Enter: org.springframework.boot.actuate.audit.AuditEventRepository.add() with argument[s] = [AuditEvent

[2015-12-30 20:20] geraldhumphries commented on #2547
You need to add `.antMatchers("/api/myapi").permitAll()` to SecurityConfiguration.

This question is probably better suited for StackOverflow.

[2015-12-30 20:30] pascalgrimaud commented on #2502
In fact, I think there are 2 issues here :
- maven + hazelcast hibernateCache + cucumber => still KO in 2.26.2
- maven + hazelcast cluster + cucumber => OK now (KO before)
- gradle => OK

I used this `.yo-rc.json` and `mvn test` failed :
[code]

Sorry @jdubois but it seems that this issue is not totally resolved => can you confirm ?

[2015-12-30 20:42] gzsombor commented on #2543
Including all the fields of an entity class for equality comparison is more broken - because they are entities, and not value classes - than the current equals method, which is using the id field.
 If I were you, I would just remove that equals, and hashCode method, as the default java equals method would work perfectly fine. And I argue, that would be the correct behaviour : because two different

[2015-12-30 21:00] pascalgrimaud commented on #2546
maven : https://github.com/jhipster/generator-jhipster/blob/master/app/templates/_pom.xml#L781-L798
gradle : https://github.com/jhipster/generator-jhipster/blob/master/app/templates/_liquibase.gradle#L16-L22

The information for Oracle is not generated, that's explain your issue => PR is welcome
But it works for mysql, postgresql and h2disk.

[2015-12-30 22:34] mipas1 commented on #2546
I've created a PR. Some properties cannot be set directly such as `username` or `password`, but I guess the `driver`, `dialect` and `url` will help users to configure it faster. As of the documentation, I found some info the `Development` page: `If you use Gradle instead of Maven, you can use the same workflow by running ./gradlew liquibaseDiffChangelog, and change the database configuration in li

[2015-12-30 22:42] verrol commented on #2547
@geraldhumphries, Thanks.
That doesn't seems to work just yet. But I will ask on SOf.

[2015-12-30 22:42] #2547 closed

[2015-12-30 23:20] hirro commented on #2537
Yes, that it correct, input-group is missing. I am soon publishing a PR (hours) that solves the above issues, however with a dependency on angular-bootstrap-datetimepicker and moment. But it looks very nice, please see what you think.

[2015-12-31 01:11] geraldhumphries commented on #2543
@gzsomber Agreed, comparing across all fields is definitely not correct. It is impossible to generate equals and hashCode using business keys without asking the user, and I would rather have no implementation than an incorrect implementation - but I am not an expert.

If we keep the methods, the current implementation is not the best, but returning false if either object's id is null will make it

[2015-12-31 01:29] gouravsood commented on #2521
Sure @jdubois. I will create a working sample app and share the code how I did solve it. I will also try to send a PR with changes.

[2015-12-31 08:07] rampantlion103 commented on #2341
It’s good to hear that hipster is still cool in France :-) and I will do what you suggested that I need to open up a separate thread…  But the funny thing is that I am currently using jhipster here in NY, and my client is in Manila Philippines whose parent company is a big French company.  Also, the first time I heard about JHipster was in my interview with Societe Generale Group here in NY. It is

[2015-12-31 08:19] atomfrede commented on #2546
You are right username and password are left blank. The user must enter it.

If you like you can also open pull request against our documentation repository.

[2015-12-31 08:55] jdubois commented on #2543
Oh yes @gzsombor you are totally right.
Le 31 déc. 2015 2:11 AM, "Gerald Humphries" <notifications@github.com> a
écrit :

[2015-12-31 09:39] jdubois commented on #2521
Thanks a lot!!

[2015-12-31 09:51] jdubois commented on #2428
As this is on the generated entities, this looks complex to add a needle here, or do a 'sed' replacement.
You could generate the configuration and then let the users modify manually the entities.

[2015-12-31 09:56] cbornet commented on #2428
@jdubois That's a good idea and very simple to do. I will do that as a first version.

[2015-12-31 09:58] cbornet commented on #2428
The question of entity plugin wil surely come-back though...

[2015-12-31 10:04] cbornet opened #2550 "[Module] Impossible to add a line in a file if another line is the same"
I am trying to add a line
[code]
by a module in pom.xml in the prod profile.
But as the line already exists in dev profile, the rewrite function in utils.js will not add it.
I can workaround this by adding a \n but it would be better to narrow the haystack to a portion of the file and not the full file.

[2015-12-31 10:05] sreedevi-chintagunta commented on #1370
Hi EveryOne,

I developed a chat application with springboot,spring security,spring websockets and sockjs.
I am using angular and sockjs client to send requests.when I try to connect to connect STOMP end point its giving the error at developer console(front end) and back end console.Below is the track trace,
From Developer console:
Opening Web Socket...
stomp.min.js (line 8)
GET http://localhost:8

[2015-12-31 11:46] hirro commented on #2267
The material design demonstrated by mraible looks so nice, is there any possibility to include that into the generator?

As it is now, is the title supposed to be on a line separate from the line with search input, search button, and create button? The create button padding has a padding to the left side which looks a bit unbalanced. The search controls are not right aligned, instead they are more

[2015-12-31 11:59] deepu105 commented on #1896
I guess all the cloud generators can be made into modules

On Wed, 30 Dec 2015 6:27 pm Julien Dubois <notifications@github.com> wrote:

[2015-12-31 12:03] deepu105 commented on #2546
Guys it two different things, as far as I know the maven and gradle task
for liquibase canot read from application yml files, so these have to be
manually changed anyway for all DB

On Thu, 31 Dec 2015 5:00 am Pascal Grimaud <notifications@github.com> wrote:

[2015-12-31 12:04] deepu105 commented on #2546
Ok you need to fill just username and password remaining can be generated,
so PR welcome else ill do it when i find time

On Thu, 31 Dec 2015 8:02 pm deepu ks <deepu.ks05@gmail.com> wrote:

[2015-12-31 12:10] deepu105 commented on #2537
I have used a custome directive to wrap angular-ui date picker and timepicker together and and looks alright, i wouldn't want to add another dependency just for zoned date time, else we should look at using another standard calender/time lib for all date and time fields for consistency

[2015-12-31 12:17] deepu105 commented on #2267
Its available as a module check the module page

On Thu, 31 Dec 2015 7:47 pm Jim <notifications@github.com> wrote:

[2015-12-31 12:29] hirro opened #2552 "Improve entity list UI"
* **Overview of the issue**
There are some UI issues with the current entity lists I would like to discuss (also see #2267):
![jhipster_ 2552](https://cloud.githubusercontent.com/assets/4715022/12065466/1c5090ca-afd8-11e5-9cb6-057100a8dc63.png)

  * "Create new <Entity>" is left aligned but has some unnecessary left padding which makes it looks at bit unbalanced.
  * Is the text "Create new ..." r

[2015-12-31 12:46] hirro commented on #2537
Combining the date picker and the timepicker works, but unless you were able to get rid of those up and down toggles it takes too much vertical space. Do you have the possibility to show how it looks like using your  custom directive, screenshot maybe? The specialised date time picker control (angular-bootstrap-datetimepicke) looks very good, well that is my opinion.

Which calender/time lib is cu

[2015-12-31 12:54] hirro commented on #2267
Awesome! I was not updated on modules.

[2015-12-31 14:34] deepu105 commented on #2552
I guess @mraible had opened a same issue, plz check and close if its a
duplicate

On Thu, 31 Dec 2015 8:29 pm Jim <notifications@github.com> wrote:

[2015-12-31 15:16] hirro commented on #2552
They are not the same, but the is some overlapping with #2267. Most of my issues (besides the last two points which are overlapping) are related to layout and text outside the table.

[2015-12-31 15:51] cbornet commented on #2225
Can someone test if executable=true works with the latest CF CLI ( v6.14.1) ?

[2015-12-31 22:58] paulyomi commented on #2089
I agree that this would be a good feature.  For those searching, here's a stack overflow solution: http://stackoverflow.com/questions/28739550/jhipster-authentication-login-with-email

[2016-01-01 08:27] jdubois commented on #2544
OK, this is in the navigation bar, for the non-i18n text (so it's not visible with Angular Translate).
Very minor issue.

[2016-01-01 08:43] jdubois commented on #2502
Bummer, this will never be solved!!!!!
@pascalgrimaud this is another issue (I'll open it ASAP), as this is not with session replication but with the 2nd level cache....

[2016-01-01 08:44] jdubois opened #2553 "Hazelcast 2nd level cache + Cucumber test failing"
As mentioned in #2502

- Hazelcast with 2nd level cache
- Cucumber test

Fails with:

    Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'hazelcastInstance' defined in class path resource [com/mycompany/myapp/config/CacheConfiguration.class]: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiat

[2016-01-01 09:16] andidev commented on #2089
I agree this feels like a defacto standard. Mostly the email is used as username but e.g. in twitter where you have a username one can login with e-mail.

[2016-01-01 11:24] gouravsood commented on #2521
Hi @jdubois  and all,

I have written a sample application in below repo to explain how to work with Spring Boot (following JHipster approach) and connect to MongoDB in local and cloud (Cloud Foundry) database.

https://github.com/gouravsood/SpringBootMongoDBCloud

I will plan to pick the PR on Jhipster Repo to fix it in code itself.

Hope this helps.

Happy new year to everyone :)

Thanks,
Gourav

[2016-01-01 12:23] mhavrlent opened #2554 "`009_tips_using_bootswatch_themes` html page missing {{theme.name}} binding in footer section"
It seems that the following markdown page `https://github.com/jhipster/jhipster.github.io/blob/master/tips/009_tips_using_bootswatch_themes.md` is not rendered correctly on jhipster site: `https://jhipster.github.io/tips/009_tips_using_bootswatch_themes.html`.

In md file there is a following text in a footer section: `<a href="" jh-switch-theme="theme">{{theme.name}}</a>`
On jhipster site, there

[2016-01-01 13:48] jdubois commented on #2554
This is done with Github markdown, by Github pages, I guess @deepu105 didn't test it with Github markdown -> @deepu105 I'm assigning this to you, as you authored the page

[2016-01-01 14:24] fodaley commented on #2100
Happy new year. @amit2103 is there any update on this?

[2016-01-01 14:38] jdubois commented on #2550
Can't you use a needle here? With a specific, unique name? That should do the trick.

[2016-01-01 14:44] cbornet commented on #2550
Yes that's the workaround I found. The true issue is the time I spent banging my head on the wall understanding why my initial needle was not added :smile: .

[2016-01-01 14:52] jdubois commented on #2546
Yes this is documented at http://jhipster.github.io/development.html
This should work also with Oracle, and I would be very grateful if someone could send a PR with Oracle support.
The only reason why it's not supported yet is that this is a proprietary database, and I don't have a license: so quite obviously I can't work on this or test this.

[2016-01-01 14:55] mhavrlent commented on #2546
Actually I already sent a PR for this...

[2016-01-01 14:56] jdubois commented on #2546
Oh sorry, I'm checking this now

[2016-01-01 14:59] jdubois commented on #2546
This is merged -> can you also do a PR in the documentation ?

[2016-01-01 15:00] mhavrlent commented on #2546
Btw. you can work with Oracle Enterprise without the license if it's for development (one person/one server). Until you use it in production you don't have to pay the license.
More info here: http://it.toolbox.com/blogs/oracle-guide/does-oracle-require-a-license-for-a-development-database-26422

[2016-01-01 15:03] jdubois commented on #2546
Yes but they don't have a Mac OSX version... And on Linux it's a pain to install.

[2016-01-01 15:06] pascalgrimaud commented on #2546
Interesting @mhavrlent. Do you know if there is an official Docker image? I don't see one in Docker Hub...

[2016-01-01 15:20] mhavrlent commented on #2546
@jdubois  Regarding the documentation PR I would do the following:
1/ Create a link from `Options -> Using Oracle` page to the `Development` page section where the liquibase udpates are mentioned.
2/ Update `Development` page with the following:
* Create `Database updates with the Gradle` section.
* Highlight that one needs to update liquibase.gradle with username and password before running the d

[2016-01-02 11:16] mhavrlent opened #2558 "[Feature request] option to have custom table name when creating entity"
Currently it's not possible to generate Entity with name that matches DB reserved word, such as `Database`, `Column` or `Table`. This restriction should be removed as there is no such restriction in JPA/Java world.
Instead we should ask user for a different table name. This new table name would be saved to the `entityTableName` generator field.

Example:
* Entity name: Database
* Table name: app_d

[2016-01-02 12:31] deepu105 commented on #2558
what do you mean by building generator-jhipster project ? its a yeoman
generator you dont have to build it! if you are talking about building the
genrated application then check the documentation here
https://jhipster.github.io/production.html

On Sat, Jan 2, 2016 at 7:16 PM, Miroslav Havrlent <notifications@github.com>
wrote:

[2016-01-02 12:48] deepu105 commented on #2554
@jdubois I usually test using markdown preview in atom and this one renders correctly, no idea whats wrong here anyway ill update it with syntax tags hope it works

anyway i need to convert this to a module

[2016-01-02 12:55] deepu105 commented on #2271
anyone working on this?

[2016-01-02 12:58] deepu105 commented on #2544
I guess we can put in a camelToHuman filter here as default @jdubois do you
want me to do a PR?

On Fri, Jan 1, 2016 at 4:27 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-01-02 13:34] mhavrlent commented on #2558
@deepu105
I mean after you do the changes to the git project. Just `npm install` ?

[2016-01-02 13:55] gmarziou commented on #2558
You run npm link, see https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup

[2016-01-02 13:57] mhavrlent commented on #2558
thanks

[2016-01-02 14:44] jdubois commented on #2544
Yes please do!
Le 2 janv. 2016 1:58 PM, "Deepu k Sasidharan" <notifications@github.com> a
écrit :

[2016-01-02 15:17] mhavrlent commented on #2558
PR has been created. CI build in progress....
Can someone do a code review afterwards?

[2016-01-02 15:38] atomfrede commented on #2558
I'm not sure if this is only related to tables names. For example the entity can't be named document when using mongo db. Not sure if required, but maybe we need to know the table name when doing any updates to existing entities. So maybe this should be discussed further.

[2016-01-02 15:45] mhavrlent commented on #2558
It would have to be saved in the entity configuration json file for sure, so that we can read it on entity update...

[2016-01-02 16:01] gmarziou commented on #2558
I think it's a good thing to be able to name the table as you want even when not using a reserved keyword.

In my company, we have to follow some naming conventions like T_BNK_USER for table storing User entity of Bank feature.

In fact, I would prefer to be always asked for the table name as the default name never matches my requirements.

[2016-01-02 16:11] atomfrede commented on #2558
:+1: Good point :) For me the table name is mostly not relevant at all.

[2016-01-02 16:42] mhavrlent commented on #2558
@gmarziou
Actually this is the same for me and it's the way I did the PR. It always asks for the table name.

If for some people the table name is not relevant at all, we could do a compromise here. Ask a question but predefine answer with the entity name. Similarly to relationship mapping, where field name is predefined to the name of the entity. How about that?

[2016-01-02 16:49] gmarziou commented on #2558
@mhavrlent this would work for me but I know @jdubois is sometimes reluctent to add new questions unless it's really required, so I'd like to get his feedback.

[2016-01-02 18:17] jdubois commented on #2558
This has already been discussed before:

- The table name is only written in the @Table annotation on the entities
- (OK, it can also be argued it's also written in the Liquibase changelog)

So this doesn't respect our Policy 2 at http://jhipster.github.io/policies.html

-> having a question for this is more complex than letting people change the @Table annotation. Besides, the annotation is gener

[2016-01-02 18:25] mhavrlent commented on #2558
@jdubois
I understand your point, but this is not actually about changing the @Table annotation. If i cannot use DB reserved word for my entity, I need to name my entity with different name. For example `Database` entity needs to be `AppDatabase`. If I want to refactor that to `Database` it's a lot of changes.

[2016-01-02 18:32] mhavrlent commented on #2558
Also, once my entity json config is named `AppDatabase` I cannot use the entity generator for that entity again as that would produce `AppDatabase` named files again and I would need to refactor those to `Database` again.

[2016-01-02 18:35] jdubois commented on #2558
Oh sorry, you got a point

[2016-01-02 19:08] cbornet commented on #2558
I think you can generate an entity with an "authorized" name and rename the entity json file afterwards.

[2016-01-02 19:13] mhavrlent commented on #2558
@cbornet
You are correct. This works actually.

[2016-01-02 19:17] slatteryja opened #2560 "Getting startup errors after updating mail properties in application-dev.yml"
* **Overview of the issue**

All email notifications not working after upgrading to jhipster 2.26.2. I tried using the same application.yml configuration from jhipster 2.19.0 but I'm getting an error when attempting to inject any property other than from. Here is my application-dev.yml.

jhipster:
    cache: # Hibernate 2nd level cache, used by CacheConfiguration
        timeToLiveSeconds: 3600

[2016-01-02 19:45] pascalgrimaud commented on #2560
Your application-dev.yml is wrong and should be under spring properties and not jhipster properties
Have a look at http://jhipster.github.io/tips/011_tip_configuring_email_in_jhipster.html
There are great examples

[2016-01-02 19:51] gmarziou commented on #2558
Changing the table name in @Table annotation is easy, the hardest part is to update the changelog if you want to update also foreign key names, index names, ....

The naming conventions of my company are so exhaustive that I'm considering building a module to do so. I must admit that I don't even know if a module would be able to override default naming for tables and columns.

[2016-01-02 21:52] slatteryja commented on #2560
Thanks Pascal, that worked.

Quick question. Is there any documentation on using needles?

Thanks,
Jamie

On Sat, Jan 2, 2016 at 11:45 AM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-01-02 21:57] pascalgrimaud commented on #2560
That worked, so I'm closing this issue.

About using needles and modules : https://jhipster.github.io/modules/creating_a_module.html
There is no really documentation about how using jhipsterVar and jhipsterFunc because it's about code.
But you can have a look at our modules, there will be nice examples : https://jhipster.github.io/modules/marketplace.html

[2016-01-02 21:57] #2560 closed

[2016-01-02 23:17] pascalgrimaud opened #2561 "Gradle packaging : war.original contains tomcat-embed libs"
When packaging a JHipster project with Gradle, the war.original contains tomcat-embed libs although it shouldn't. The maven version is correct.

**Step1** : generate a project, all default except **gradle**, with this `.yo-rc.json`:
[code]

**Step2** : package for production
[code]

[code]

**Step3** : check the file war.original
There are `tomcat-*.jar` libs inside the war.original, and there sho

[2016-01-03 03:15] deepu105 commented on #2558
@gmarziou i guess a regex replace would do from a module, look at my audit module where i modify entities

[2016-01-03 03:20] deepu105 commented on #2558
@mhavrlent @jdubois instead of asking a question we can have it as an optional argument so `yo jhipster:entity foo` would work as today and return error when keywords are used while `yo jhipster:entity foo foo_table` would take the table name and proceed

[2016-01-03 03:23] deepu105 commented on #2561
ya i noticed that too, i think its a gradle issue as we use the default
gradle bootRepackage task

On Sun, Jan 3, 2016 at 7:17 AM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-01-03 05:07] yzijun opened #2562 "User settings page input exist email alert message error"
JHipster Version

2.25.0
Reproduce the error

url:http://localhost:3000/#/settings
Page file: scripts\app\account\settings\settings.html

When i input email user@localhost alert message  An error has occurred! Settings could not be saved.
login user is admin

Suggest a Fix
js file:scripts\app\account\settings\settings.controller.js
[code]
modified
[code]
I'm sorry
My English so poor

[2016-01-03 05:21] mayurbais opened #2563 "how to disable liquibase?"
Hi,
I am in phase of re-doing my model diagram, and i am trying out this poc with Jhipster-sample-app and   jhipster-uml. But every time I change some thing in my model, I run into some liquibase related error.

I see that entities are created nicely and everything is done properly, but some version management of liquibase does not create tables in my mysql schema,

I just want to skip liquibase.

[2016-01-03 05:40] deepu105 commented on #2306
Here is the feature as a Jhipster module https://github.com/deepu105/generator-jhipster-entity-audit
this should be available to users from the next Jhipster release

hence closing this issue

@jhipster/developers guys please take a look and let me know if this can be improved, especially the angular interceptor which i would like to avoid as Spring data auditing already marks created by and creat

[2016-01-03 05:40] #2306 closed

[2016-01-03 05:48] deepu105 commented on #2562
can you propose a PR?

On Sun, Jan 3, 2016 at 1:07 PM, yzijun <notifications@github.com> wrote:

[2016-01-03 05:49] mayurbais commented on #2563
i kinda solved this. I removed all the dependencies of liquibase..but that was not the reason...
I change my MySQLInnoDBDialect  to MySQL5InnoDBDialect.. and it works like charm again for me..

[2016-01-03 05:49] #2563 closed

[2016-01-03 05:52] deepu105 commented on #1762
guys take a look at the Jhipster module https://github.com/deepu105/generator-jhipster-entity-audit
this should be available to users from the next Jhipster release

[2016-01-03 05:53] deepu105 commented on #1762
@myspivey @bartoszwalacik if required you can create a Javers module as well

[2016-01-03 06:38] deepu105 commented on #2282
@gmarziou I know how to do it in gulp, but havent tried in grunt, do you have any sample?

[2016-01-03 07:07] yzijun commented on #2562
I'm not sure.
I can try.

[2016-01-03 08:32] pascalgrimaud commented on #2554
The new "module" label is a good idea!

[2016-01-03 08:56] mhavrlent commented on #2558
@deepu105
I'm ok with this.

[2016-01-03 09:06] atomfrede commented on #2561
Yes. We are not changing the repackage task, looks like a gradle boot plugin issue.

[2016-01-03 09:16] atomfrede commented on #2561
Guess I found the issue. According to the docs tomcat-starter must be declared as providedRuntime in order to generate an executable an deployable war file.

Will have a look at it tomorrow.

https://docs.spring.io/spring-boot/docs/current/reference/html/build-tool-plugins-gradle-plugin.html

[2016-01-03 09:58] rkohel commented on #2562
This issue should be fixed by #2460 already.
Please try again with 2.26.2.

[2016-01-03 10:14] pascalgrimaud commented on #2345
@wibbo @simonbrowndotje We have a new "module" system. Here is :
- [our module marketplace](https://jhipster.github.io/modules/marketplace.html)
- [how to make a module](https://jhipster.github.io/modules/creating_a_module.html)

It will be interesting to have a module for Structurizr

[2016-01-03 11:11] yzijun commented on #2562
@rkohel thank you

[2016-01-03 11:11] #2562 closed

[2016-01-03 11:19] jdubois commented on #2345
Yes this is done for projects like yours! Sorry I didn't add a comment here earlier.
Hope you like it, don't hesitate to send comments or ask for more features.

[2016-01-03 12:01] gmarziou commented on #2282
I have switched to gulp 6 months ago, so I don't know either for grunt.

[2016-01-03 12:08] deepu105 commented on #2282
Damn if Grunt was easy as gulp :(

On Sun, Jan 3, 2016 at 8:01 PM, Gaël Marziou <notifications@github.com>
wrote:

--
thank you,
Deepu.k.s

[2016-01-03 12:20] gmarziou commented on #2306
Why do you set `@NotNull`on createdBy and createdDate fields in DTO? To me client cannot be trusted for these fields and only the server should be able to set them, so I would not require them in DTO.

[2016-01-03 14:00] robertolos commented on #2452
It's the fitst time I use AWS, after searching on internet and playing around with AWS I've been able to deploy my app on AWS. It will be nice if someone adds on the aws jhipster page the exact steps to create the role.

[2016-01-03 14:02] slatteryja commented on #2560
Agreed. Thanks for the great support.

On Sat, Jan 2, 2016 at 1:57 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-01-03 14:20] gmarziou commented on #2558
@deepu105 I already use a regex but from a bash script and I'm not sure what would be the benefit doing the same in a module. What I'd like is having a hook in entityt generator so that I can "fix" the table and column names before generation.

[2016-01-03 14:28] cbornet commented on #2558
Maybe they could be optional fields in the json description. So, no question is asked, defaults to entity name but can be overridden.

[2016-01-03 15:18] deepu105 commented on #2306
@gmarziou yes you are correct, I didnt want even the abstractDTO actually but the problem is during updates the createdBy is null and bean validation fails as in the abstarctAuditingEntity these fields are set as notNull,  any idea how to workaround this, plz feel free to PR if you think this can be improved

[2016-01-03 15:21] deepu105 commented on #2306
@gmarziou Im currently using an angular interceptor to set createdBy, modifiedBy etc coz somehow the beanValidation is being trigered before spring sets these, the correct way should be that these are set at server side by spring in AuditingEventListener alone, I was able to get them working for normal entity but for DTO again I had the createdBy null issue during updates

[2016-01-03 15:36] deepu105 commented on #2558
@gmarziou yes that would be ideal, I guess you can do something similar to
what i did for audit entity hook, but need to figure out how to make the
change persist on commit in yeoman, may be you can try with my jhipster
audit-hook branch and entity-audit module and see if you can figure out a
way

On Sun, Jan 3, 2016 at 10:28 PM, Christophe Bornet <notifications@github.com

--
thank you,
Deepu.k.s

[2016-01-03 19:11] jdubois commented on #2521
Thanks a lot, and happy new year to you too!

[2016-01-03 19:12] jdubois commented on #2546
Yes, totally agree

[2016-01-03 19:25] jdubois commented on #2554
OK I'm merging this we'll see the results! Sorry I only got my phone, I can't test.

[2016-01-03 19:26] #2554 closed

[2016-01-03 19:34] #2495 closed

[2016-01-03 19:44] cbornet opened #2567 "Replace console.log() by this.log()"
According to http://yeoman.io/authoring/user-interactions.html, this.log() should be used instead of console.log() in yeoman generators.

[2016-01-03 19:52] bartoszwalacik commented on #1762
@deepu105 @myspivey I'm not into jhipster but I can help if someone who knows jhipster wants to create Javers module

[2016-01-03 20:00] atomfrede commented on #1762
A javers module would be cool. I'll try to setup javers and see how to make it into a module.

[2016-01-03 21:53] dimeros commented on #2491
So the technical solution is what @Vaelyr mentioned before:
1) client side: check equality for id or email and hide the button
2) server side deleting user: if a user tries to delete himself a 403 http response should be thrown.

Is this correct? I will try to assign this PR to myself

[2016-01-04 03:15] mayurbais opened #2568 "issue with jhipster-sample-app"
I am trying to use this app for my POC, it used to work nicely..but latest build has some error...
when I generate entity..it adds the entry of entity on top of master.xml in liquibase ..
upon correction of this xml , when we run the app,
and also the UI goes for a toss,

![image](https://cloud.githubusercontent.com/assets/9245684/12082859/06d82a28-b24e-11e5-8f3a-12882b40fad1.png)

please help..I

[2016-01-04 05:25] pascalgrimaud commented on #2568
Can you give more information to reproduce your errors ?
Clone jhipster-sample-app, then?
What languages did you add? What entities etc?

[2016-01-04 05:37] mayurbais commented on #2568
then, do something like this:

yo jhipster:entity author

it will add a line :
<include
file="classpath:config/liquibase/changelog/20160104021420_added_entity_Author.xml"
relativeToChangelogFile="false"/>

to master.xml at the top (i.e at line no 1. and not in <databaseChangeLog>
tag ). If I correct this xml. and try to run the app using mvn
spring-boot:run
tomcat starts and I can access http://lo

[2016-01-04 05:47] pascalgrimaud commented on #2568
Do you use the latest version of generator-jhipster ? 2.26.2 ?

[2016-01-04 06:14] pascalgrimaud commented on #2568
Here my `master.xml` file :
[code]

I think in your `master.xml` file, you don't have this new ``

So, 2 possibilites:
- you used an old version of generator-jhipster
- you tried to update your clone project by merging, and it didn't add this new needle

See my PR : https://github.com/jhipster/generator-jhipster/pull/2474

[2016-01-04 06:15] mayurbais commented on #2568
yes

when I do ," npm view generator-jhipster yo version" on  my system I get
: 2.26.2

Regards,
Mayur
(c)323-873-2822

On Sun, Jan 3, 2016 at 9:47 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-01-04 06:16] mayurbais commented on #2568
I did not clone,

 I just went on this link, https://github.com/jhipster/jhipster-sample-app
and downloaded the zip.

Regards,
Mayur
(c)323-873-2822

On Sun, Jan 3, 2016 at 10:14 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-01-04 06:23] pascalgrimaud commented on #2568
Can you show your `master.xml` file ?

[2016-01-04 06:25] mayurbais commented on #2568
<include file="classpath:config/liquibase/changelog/20160104021420_added_entity_SchoolDetails.xml" relativeToChangelogFile="false"/>
<include file="classpath:config/liquibase/changelog/20160104021420_added_entity_CurrancyLOV.xml" relativeToChangelogFile="false"/>
<include file="classpath:config/liquibase/changelog/20160104021420_added_entity_LanguageLOV.xml" relativeToChangelogFile="false"/>
<incl

[2016-01-04 06:57] pascalgrimaud commented on #2568
One last thing to check : `your jhipster-sample-app/node_modules/generator-jhipster/package.json`, the version of generator-jhipster inside your project.

I didn't manage to reproduce your problem. I'm pretty sure your problem comes from an old version of the generator, globally or locally.
It has been resolved since the 2.26.0 with https://github.com/jhipster/generator-jhipster/pull/2474

[2016-01-04 07:04] mayurbais commented on #2568
its this : "generator-jhipster": "2.26.2",

[2016-01-04 07:05] mayurbais commented on #2568
Is there any way I don quick ,, live demo of what I am doing..? I am sure.. I am doing pretty simple things..

[2016-01-04 07:30] pascalgrimaud commented on #2568
Try:
- re do all things (I did all steps like you and it works fine)
- generate a new project yourself
- maybe reinstall generator-jhipster ?
- use our [devbox](https://github.com/jhipster/jhipster-devbox) with vagrant <- I use it when I tried to reproduce issue

[2016-01-04 07:42] mayurbais commented on #2568
okay..I will try ..but i am sure..it wont work.. the only thing I haven't done is using devbox.
I will let you know, if it will work with that.

Thanks.

[2016-01-04 08:23] amit2103 commented on #2100
Sorry was in a Holiday for 2 weeks..started work on this again..Will give an update soon

[2016-01-04 13:37] jdubois commented on #2568
jhipster-sample-app is the sample application, you're not supposed to use it to build your application directly, but use the generator.
It definitely looks like a version issue, with a needle which has changed between the version that was used to generate the sample application, and the version of JHipster you currently use.
Those needs to be the same version -> most of the time it will work fine

[2016-01-04 13:37] #2568 closed

[2016-01-04 13:41] jdubois commented on #2491
Yes looks correct to me.
You can't assign the issue to someone outside of the team (that's annoying with Github...), but if you tell here that you'll do the PR I don't think anybody will steal it from you :-)

[2016-01-04 14:25] roblight commented on #2525
Just to help others that are wanting Material Design (albeit not Angular Material), an option is to use:

http://fezvrasta.github.io/bootstrap-material-design/

See Matt Raible's talk for now to setup it up (very easy):

https://www.youtube.com/watch?feature=player_detailpage&v=baVOGuFIe9M#t=2748

[2016-01-04 14:31] jdubois commented on #1995
@deepu105 I understand you will make this as a JHipster module, so I'm closing this here.

[2016-01-04 14:41] jdubois commented on #2550
OK I'm closing this as you need to use a needle for this.

[2016-01-04 14:41] #2550 closed

[2016-01-04 14:42] jdubois commented on #2546
I'm closing this as the PR is merged, @mhavrlent of course another PR for the documentation is most welcome!!!

[2016-01-04 14:42] #2546 closed

[2016-01-04 14:55] deepu105 commented on #1995
Yes I can try atleast :)

On Mon, Jan 4, 2016 at 10:31 PM, Julien Dubois <notifications@github.com>
wrote:

--
thank you,
Deepu.k.s

[2016-01-04 20:33] uscomputing commented on #1779
@marcelinobadin Do you have a workaround for this error? Is happening in my server on AWS.

[2016-01-04 20:35] victorv977 commented on #1779
@marcelinobadin Do you have a workaround for this error? Is happening in my server on AWS.

[2016-01-04 21:47] dptinor commented on #1779
The problem seems to be happening only from IE and not from any other browser.

[2016-01-04 22:10] dimeros commented on #2491
Ok I will try to do it.

[2016-01-05 06:23] sparun160782 commented on #2339
Ok Thank You

[2016-01-05 06:35] bartoszwalacik commented on #1762
Ok @atomfrede, new jhipster issue for javers module?

[2016-01-05 06:45] mayurbais commented on #2568
I have one question,
When I generate the app using yo jhipster, it creats, node_modules folder with lot of files in it,
But the jhipster-sample-app does not contains this folder.
can you pls let me know how this app was generated?

[2016-01-05 06:53] pascalgrimaud commented on #2568
Just read the [README.md](https://github.com/jhipster/jhipster-sample-app/blob/master/README.md)
It's `npm install`

[2016-01-05 07:17] mayurbais commented on #2568
I dont think you got my question..

see , I am trying to work my ways arround jhipster very hard...

From y'day
I hav

Regards,
Mayur
(c)323-873-2822

On Mon, Jan 4, 2016 at 10:53 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-01-05 08:14] mayurbais commented on #2568
what I usually do is,

create a directory, navigate to it and do "yo jhipster",
it asks me series of question, answer them and it creates, a folder structure in side my newly created directory, like this :

![image](https://cloud.githubusercontent.com/assets/9245684/12110438/037066a4-b341-11e5-8d18-10ab9dcaf1db.png)

and when I saw "jhipster-sample-app" folder structure, I dont see presence of "no

[2016-01-05 08:16] atomfrede commented on #2568
node_modules is required to develop a jhipster app (using grunt or gulp for
example). I think it is not under version control so its not in the sample
app.

2016-01-05 9:14 GMT+01:00 mayurbais <notifications@github.com>:

[2016-01-05 10:21] marcelinobadin commented on #1779
Well, it is not happening anymore since a few later versions... I am using 2.25.0 now and my logs are ok.

[2016-01-05 14:27] mayurbais commented on #2568
then why does sample app gets build and runs properly..
and any which ways..I answer build tool as mvn (to one of the question that
is asked during "yo jhipster ")

Regards,
Mayur
(c)323-873-2822

On Tue, Jan 5, 2016 at 12:17 AM, Frederik Hahne <notifications@github.com>
wrote:

[2016-01-05 15:09] hirro commented on #2552
I have submitted a PR for this, please try it out and see it is ok.

It has been tested on the following browsers:
OSX: Chrome (latest), Firefox (latest), Safari (latest)
Windows 8: IE 11.0.9600

I have tested with the following generator alternatives:
* Use SCSS: both
* Elastic search: both

[2016-01-05 15:40] deepu105 commented on #2568
Dude maven is for server build and hence it will run without npm and
node_modules, if you run a production build then npm is required for grunt
or gulp to work and for npm node_modules are required, the sample app is
for reference and hence we dont check in node modules as it will be lots of
files.
On 5 Jan 2016 22:27, "mayurbais" <notifications@github.com> wrote:

[2016-01-05 15:40] cbornet opened #2571 "Use Yeoman generator.fs functions"
Yeoman generators have generator.fs.read(), generator.fs.write(), generator.fs.delete() functions that could be used instead of fs.readFileSync, fs.writeFileSync in util functions rewriteFile, replaceContent, ...
The advantage of using these functions is that when changes are made to files using these functions, you get the ```? Overwrite file? (Ynaxdh)```questions

[2016-01-05 15:44] deepu105 commented on #2552
Can you paste a screenshot of the new look so that people can take a quick
look
On 5 Jan 2016 23:10, "Jim" <notifications@github.com> wrote:

[2016-01-05 15:45] deepu105 commented on #2571
Yes i was thinking this today when i rewrote entity generator, i guess we
can change those step by step
On 5 Jan 2016 23:40, "Christophe Bornet" <notifications@github.com> wrote:

[2016-01-05 16:46] #2544 closed

[2016-01-05 17:04] atomfrede commented on #1762
I think we could create a new repository and keep track of the progress outside the main generator project.

[2016-01-05 17:24] roblight commented on #2544
Just wanted to say "thanks" for the quick response!!  :thumbsup:  :smile:

[2016-01-05 17:48] hirro commented on #2552
Sure!

![screen shot 2016-01-05 at 18 46 37](https://cloud.githubusercontent.com/assets/4715022/12122658/b12304c8-b3dc-11e5-8bc2-dd1257abbe21.png)
![screen shot 2016-01-05 at 18 45 14](https://cloud.githubusercontent.com/assets/4715022/12122659/b12574f6-b3dc-11e5-9be8-7ac2e6d8aa4d.png)
![screen shot 2016-01-05 at 18 44 51](https://cloud.githubusercontent.com/assets/4715022/12122661/b1272ab2-b3dc-1

[2016-01-05 21:09] hirro commented on #2267
PR #2570 (fix of issue #2552) also handles this issue.

[2016-01-05 22:18] emanuelbatista commented on #2349
Soluction:
<code>
@PostConstruct
    private void init() {
        try {
            String[] fieldsToMap = {
                "id", "about", "age_range", "bio", "birthday", "context", "cover", "currency", "devices", "education", "email", "favorite_athletes", "favorite_teams", "first_name", "gender", "hometown", "inspirational_people", "installed", "install_type","is_verified", "languages", "last_n

[2016-01-06 01:00] deepu105 commented on #1762
@atomfrede if you are building this module why not collaborate on the
entity auditing module and make javers an option there so we can ask user
if they want hibernate audit or javers audit, so that we can reuse the UI
etc. What do you think?

I had already setup javers once, i didn't use it as it couldn't audit data
loaded outside of javers otherwise its a good option

On Wed, 6 Jan 2016 1:04 am F

[2016-01-06 01:02] deepu105 commented on #2552
I think the create button should have a + icon rather than lightning bolt

On Wed, 6 Jan 2016 1:48 am Jim <notifications@github.com> wrote:

[2016-01-06 01:06] deepu105 commented on #2552
There is one small issue in using the tooltip on the buttons, in mobile
touch screens when you touch the button first instead of triggering the
buttons action it will show a tooltip, you need to touch again to trigger
the action so its kind of annoying to a daily user. There is of course a
way to disable it but then in mobiles you wont have the tooltip

I would prefer not having tooltip rather the

[2016-01-06 04:39] deepu105 opened #2572 "Add daviddm url to readme to monitor dependency status"
Add daviddm url to readme to monitor dependency status, the yeoman generator adds this badge in the template and looks cool

here is jhipster dependency status https://david-dm.org/jhipster/generator-jhipster

[2016-01-06 05:09] atomfrede commented on #1762
Hi,

I didn't think about it but that is even better 😀 I'll delete my repo an
open an issue.
Am 06.01.2016 2:00 vorm. schrieb "Deepu k Sasidharan" <
notifications@github.com>:

[2016-01-06 06:03] deepu105 commented on #1762
@atomfrede yes plz PR and improve as you see fit :)
On 6 Jan 2016 13:09, "Frederik Hahne" <notifications@github.com> wrote:

[2016-01-06 07:49] hirro commented on #2552
Yes, I also think the icon should be a plus. Look a bit more familiar to me.

[2016-01-06 07:56] hirro commented on #2552
Regarding the buttons:

What about this?

No tooltips.
On large screens: Show text in buttons.
On small and medium screens: Hide text

This way screen space will be conserved for smaller screens/windows. Currently the edit/view/delete buttons take unproportional amount of horizontal space.

[2016-01-06 09:10] jdubois commented on #2572
Oh, and we need to update those... But this moves so fast, we will always be out of date.

[2016-01-06 09:10] deepu105 commented on #2571
here is the full lsit supported
https://github.com/sboudrias/mem-fs-editor

[2016-01-06 09:17] mistvan opened #2574 "Travis : grunt build failed, using the generated .travis.yml file"
Hi gyus,
I generated basic jhipster app and wanted to use travis, but I got unexpected issue.
Can somebody have a look at my travis build log please?
https://travis-ci.org/mistvan/spevnik/builds/100521652

[2016-01-06 09:21] jdubois commented on #2574
Please, can you follow the [guidelines(https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue) to submit a bug report?

[2016-01-06 10:52] mistvan commented on #2574
Hi,
issue was fixed by using karma v0.3.19 based on this https://github.com/karma-runner/karma/issues/1782.
Now build has passed :) https://travis-ci.org/mistvan/spevnik/builds/100551888

[2016-01-06 11:58] KevinLange commented on #2153
With the current stable v5.3.0 this problem seems to be solved.

[2016-01-06 12:26] pascalgrimaud opened #2576 "Travis : warning during npm test"
Since this PR https://github.com/jhipster/generator-jhipster/pull/2565, there is a warning in our Travis build (all tests seems OK). Here some examples (click on details => **`$ $JHIPSTER_INSTALL/02-install-jhipster-stack.sh`**):
- before : https://travis-ci.org/jhipster/generator-jhipster/jobs/99825995
- after : https://travis-ci.org/jhipster/generator-jhipster/jobs/99988659

[code]

@geraldhumph

[2016-01-06 13:16] pascalgrimaud commented on #2574
There is something to analyze and to do here:
- upgrade our karma lib to 0.3.19
- maybe the default .travis.yml generated is outdated
- why our travis build didn't fail

I will change title and assign to me

[2016-01-06 13:29] deepu105 commented on #2552
+1
On 6 Jan 2016 15:56, "Jim" <notifications@github.com> wrote:

[2016-01-06 13:49] erensimsek commented on #2504
Hello,

@jdubois I provide a code sample.

We replaced the generated code  from

    <div class="form-group">
        <label translate="atlantisApp.customer.company" for="field_company">company</label>
        <select class="form-control" id="field_company" name="company" ng-model="customer.company" ng-options="company as company.name for company in companys | orderBy:'name' track by company.id">

[2016-01-06 14:22] bradrich commented on #823
Has anything came out of this conversation? I am extremely impressed with JHipster, really want to use it, but with Angular 2 in Beta, I am uneasy about putting a lot of effort into a standard JavaScript approach. I thought about putting TypeScript into my JHipster project anyway, but the entity generator doesn't play nicely with it.

[2016-01-06 14:36] moifort commented on #2552
:+1:

[2016-01-06 14:36] pascalgrimaud commented on #2427
@deepu105 do you think this doable in module ?

[2016-01-06 15:06] geraldhumphries commented on #2576
Good catch, I will look into it.

[2016-01-06 15:29] deepu105 commented on #2504
I have used ui select extensively in a jhipster app, look wise it is good
but the way it is done is difficult to manage and i dont think it should be
that complex in angular,  its buggy and you have to tweak it a lot to get
it working fine in all scenarios.

It might be an overkill for normal apps
On 6 Jan 2016 21:49, "Eren ŞİMŞEK" <notifications@github.com> wrote:

[2016-01-06 15:34] geraldhumphries commented on #2576
My PR did not fix it, so I've closed it. I will need to investigate this later.

[2016-01-06 15:43] deepu105 commented on #2427
I dont see value in doing it as a module as it needs just few more lines of
code to the current config moduel
On 6 Jan 2016 22:36, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-01-06 15:52] pascalgrimaud commented on #2576
@geraldhumphries : little tip. You can link your personnal Travis account to your fork project, so you can test as long as you want, before proposing a PR. That's what I do ;)

[2016-01-06 16:07] pascalgrimaud commented on #2427
It can be usefull yes, but I just wonder if, in production, there can be some system information that an administrator in the application shouldn't see
I think about smtp, database url, password (can be replaced by **** like in your screenshot), etc.

[2016-01-06 17:00] geraldhumphries commented on #2042
@alialrabi I've created a module that will generate a service to reindex your entire DD in Elasticsearch.

https://www.npmjs.com/package/generator-jhipster-elasticsearch-reindexer

[2016-01-06 17:15] gmarziou commented on #823
| the entity generator doesn't play nicely with it

What do you mean?
As far as I know, you could rename .js files into .ts files.
It could probably be done via a module.

[2016-01-06 17:19] gmarziou commented on #2153
We highly recommend not using stable releases, you'd better use LTS (Long Term Support) releases which are more ... stable ;)

[2016-01-06 18:53] hirro commented on #2552
PR is updated now with the following new behaviour:

View/Edit/Delete buttons:
* Text is visible on large+ screens, on smaller screens only the icon is visible.
* Tooltips are not used since there was a usability problem with those pointed out by Deepu.

Search button:
* Tooltip text is moved to the placeholder. This look much nicer.

Table data:
* Bootstrap uses "vertical-align: top" on td by def

[2016-01-07 00:36] deepu105 commented on #2427
Passwords are shown as ** for other stuff it should be controlled by roles
On 7 Jan 2016 00:07, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-01-07 00:39] deepu105 commented on #823
@gmarziou its high time we start angular 2.0 what say
On 7 Jan 2016 01:15, "Gaël Marziou" <notifications@github.com> wrote:

[2016-01-07 03:23] deepu105 commented on #2567
Its done for the entity Generator, need to be done for remaining

[2016-01-07 03:40] deepu105 opened #2581 "Modularize the main generator to follow yeoman recommended priority names"
Modularize the main generator to follow yeoman recommended priority names as per [this](http://yeoman.io/authoring/running-context.html)

This is done for entity generator in this PR https://github.com/jhipster/generator-jhipster/pull/2569
This needs to be done for main generator and remaining subs one by one

make the main generator methods more modular with distinct method names for grouped task

[2016-01-07 03:41] deepu105 opened #2582 "Add --skipClient and --skipServer flags to generator"
There has been many request for a similar feature by different people earlier. but then we didnt have enough use cases for this

I propose to add two non intrusive flags to the main generator so that below use cases can be supported

1.  A module can compose using the main generators to create a Jhipster server side templates and it can provide its own client side, this will make possible to creat

[2016-01-07 03:42] deepu105 commented on #2581
I can do the main generator and service sub, but will need some one to take up the remaining sub gens

[2016-01-07 06:27] #2574 closed

[2016-01-07 07:37] deepu105 opened #2583 "remove use of process.exit"
As per node guidelines its bad practice to call process.exit(1) we are using it in many places, we should  change to `this.env.error("something bad is happened");` as per below SO answer

https://github.com/yeoman/generator/issues/876

https://stackoverflow.com/questions/27616689/how-to-gracefully-abort-yeoman-generator-on-error/27648367#27648367

[2016-01-07 10:16] jdubois commented on #2582
Yes, I fully agree with this idea, then maybe it shouldn't be a flag but a new question. Can you wait a couple of weeks, until the microservices stuff is more mature?

I'm thinking we could have a the beginning a new question:

What type of application would you like to generate?

- Normal JHipster application (monolithic)
- Cloud-enabled JHipster application (registers in Eureka, security is done

[2016-01-07 10:27] jdubois opened #2584 "Refactor the whole Spring Security configuration to use OAuth2 only"
I have 2 issues with our current security options:

- we support 4 types of authentication, and this making things really complex as we have too many use cases. This is why we have too many opened issues here.
- we don't provide anything for working with "microservices"

I've done some research here, and I'm clearly not an expert in that field, but I think we should only support Spring Security's

[2016-01-07 10:27] #2543 closed

[2016-01-07 10:45] deepu105 commented on #2582
@jdubois yes once the microservice is out it might be good to have that question, my requirement above is more for other generators and modules to compose using Jhipster easily for that purpose flags are more appropriate easy to pass when composing.

Once we modularize the main generator properly this would require only very few if checks overall and in my opinion this can co exist along side the

[2016-01-07 10:48] deepu105 commented on #2584
does session invalidation work?? last I tried it didnt work and i forgot to follow that up, what happens if i invalidate my current active session?

[2016-01-07 10:49] jdubois commented on #2584
Session invalidation only removes the current "remember me" tokens -> so for the current OAuth2 implementation (which doesn't have remember me), it shouldn't work.
But I need to check if this could be implemented.

[2016-01-07 10:51] jdubois commented on #823
Yes this will only happen when we migrate to AngularJS 2.0

[2016-01-07 10:54] jdubois commented on #2582
Yes it's the same idea anyway -> OK for me

[2016-01-07 11:12] jdubois commented on #2291
This ticket is quite a mess, with people asking questions unrelated to the original issue...

- I have just tried it, no issue at all for me: I can log in again after a restart, etc.
- I'm closing this as it's a mess

For me the only issue is the one from @gzsombor concerning the devtools -> hopefully this should be solved by the Spring team, and anyway this isn't an OAuth2 issue at all. I suggest

[2016-01-07 11:12] #2291 closed

[2016-01-07 11:15] jdubois commented on #1898
- For our current architecture there is no issue in showing the client secret, as it is not used. That's why I'm closing this.
- Yes we are currently working on a microservices architecture, where this secret will need to be hidden -> this is what is planned for this new version, of course

[2016-01-07 11:15] #1898 closed

[2016-01-07 12:37] cbornet commented on #2584
For what I know about OAuth2:
* As there is no session/server cookie involved, CSRF is not needed.
* The "remember-me" can be a refresh token stored in local storage or client cookie
* To invalidate a "session", you need to revoke both the refresh token and the access token. Spring security has a [revokeToken](https://github.com/spring-projects/spring-security-oauth/blob/234ec98f88f9ef5246381beed2

[2016-01-07 12:44] cbornet commented on #2584
@jdubois what is your source stating that CSRF protection is needed ? There are some "anti-CSRF" protection mechanisms involved with authorization/implicit flows but they come out-of-the box with Spring Security OAuth

[2016-01-07 15:07] jdubois commented on #2584
@cbornet I'm reading this here: http://projects.spring.io/spring-security-oauth/docs/oauth2.html

[2016-01-07 15:27] cbornet commented on #2584
This is only for /oauth/confirm_access and /oauth/error since they are forms used in the authorization_code/implicit flows. For jhipster login, we use the password flow so these endpoints are not used.

[2016-01-07 15:28] hirro commented on #2537
Do you want me to strip this down to manual time entry (plain text input)?
This would fix the following:
* The wrapping issues will be fixed for both Date and DateTime.
* It is possible to enter data for ZonedDateTime in the edit/new form.

I don't know how the module system works, but is it feasible to implement my PR as a module?

[2016-01-07 15:30] deepu105 commented on #2582
Great, ill first do a PR to restructure the main generator

On Thu, 7 Jan 2016 6:54 pm Julien Dubois <notifications@github.com> wrote:

[2016-01-07 15:30] jdubois commented on #2584
So for you there is no CSRF filter to add? That would be a lot better!

[2016-01-07 15:31] sdoxsee commented on #2584
If you're going with OAuth2 (which I think is a great idea), I'd recommend proxying all of your API calls via a thin server side component or API gateway (example here: https://spring.io/guides/tutorials/spring-security-and-angular-js/#_sso_with_oauth2_angular_js_and_spring_security_part_v). That way you'll use the (more secure) "authorization code" flow rather than the (problematic) "implicit" fl

[2016-01-07 15:35] jdubois commented on #2584
@sdoxsee yes that's the idea, to have a Zuul gateway in front

For the password flow: we still need to have one, we can't remove this

[2016-01-07 15:37] deepu105 commented on #2537
Yes it should be possible, you can use cheerio to amend the generated html,
even better you can do a post entity hook, ill write some documentation
about that soon, check the entity-audit module for sample and bootswatch
module for cheerio sample

On Thu, 7 Jan 2016 11:28 pm Jim <notifications@github.com> wrote:

[2016-01-07 15:44] cbornet commented on #2584
I know the Alex Bilbie blog post and I have still not understood his point:
* if you don't store the access_token, another app can't get your access_token
* if you store it, you need physical access to the computer to get the token but that's the same security issue than with a remember-me. CSRF attacks won't work because it's a client cookie, not a server one.
* if you store it encrypted someone

[2016-01-07 15:58] cbornet commented on #2584
BTW I would be very grateful if someone pointed out something I missed !

[2016-01-07 16:57] sdoxsee commented on #2584
@jdubois why do we still need to use the password flow?

Authentication is an Authorization Server (or better...an OpenID Connect Provider) job and the collection of credentials should be done there (IMO).

@cbornet
* if you don't store the access_token, another app can't get your access_token

If we're using an API gateway, the tokens are safe on the server.
* if you store it, you need physical a

[2016-01-07 17:36] cbornet commented on #2584
@sdoxsee No I mean a cookie field written by your client javascript. It's much like localStorage and XSS is also a possibility there. The libraries we use should prevent XSS but of course you never know...

[2016-01-07 17:57] hirro commented on #2537
Ok, I'll reduce the original PR into a fix for:
* The wrapping issues will be fixed for both Date and DateTime.
* It is possible to enter data for ZonedDateTime in the edit/new form.

And later on (might take some time), a module for changing the default input to a custom date-time control. Thanks for the pointers Deepu!

If it sounds ok for you in the developer team; then I proceed with the reduc

[2016-01-07 21:43] sdoxsee commented on #2584
@jdubois I also just found this from Dave Syer regarding a login form on the gateway (which must be the password flow). https://github.com/spring-guides/tut-spring-security-and-angular-js/issues/57#issuecomment-167597115

"The whole point of the auth server is that it is a centralized resource, so putting a login form in the gateway (unless it is also the auth server) defeats the object somewhat.

[2016-01-07 23:02] cbornet commented on #2584
As for using authorization_code flow this is poor user experience since you first login as a user then need to authorize the app. Why would you have to authorize your own app ?

[2016-01-08 01:57] deepu105 commented on #2537
Plz proceed to reduce it will solve an issue anyway
On 8 Jan 2016 01:57, "Jim" <notifications@github.com> wrote:

[2016-01-08 02:40] sdoxsee commented on #2584
Hi @cbornet. I agree that having to "authorize" your own app every time (or even once for some clients) would make for a bad user experience. However, the authorization server can easily be configured to "whitelist" or "autoApprove" scopes for specific clients so that the jhipster webapp user would never have to manually "approve" anything on the auth server (e.g. https://github.com/spring-project

[2016-01-08 04:14] sdoxsee commented on #2584
I've modified the spring tutorial example with the UI gateway, authorization server, and resource server using JWTs. Note, I'm not using the resource server in this example...so you only need to start the authserver and ui spring-boot apps.

https://github.com/sdoxsee/jhipster-with-external-authserver

The UI (jhipster) project only really has jhipster angular code with the vanilla server-side par

[2016-01-08 08:29] gerbsen opened #2586 "Swagger "Try it Out" Feature not working"
Hey,
First of all thank you guys for this awesome generator. I was searching for this quite a long time. It's like working on rails!

Now to my question, I generated an app which is running smoothly, but the "try it out" feature of swagger does not work:

![screenshot 2016-01-08 09 25 22](https://cloud.githubusercontent.com/assets/1186245/12193590/0bd7fc2a-b5ea-11e5-9516-13614553d963.png)

Browser

[2016-01-08 08:38] cbornet commented on #2584
@sdoxsee Even with authorization whitelisting, I don't see what would be the added value compared to password flow apart that you would use the same login form for your app and client apps : you still have the client_id/client_secret exposed in your JS and if you want a "remember-me", you still have to store the refresh_token in localStorage or client cookie.
As for using a server-side proxy, this

[2016-01-08 08:45] cbornet commented on #2584
@jdubois To go back to the initial question and try to sum up , if you want to use OAuth2 with "remember-me" in the "monolithic" JHipster then you are sensitive to XSS attacks on your localStorage.

[2016-01-08 09:11] jdubois commented on #2584
Thanks @sdoxsee @cbornet for all the feedback.

In fact I'm now thinking this ticket was a mistake, I will not do this refactoring. Let me summarize, and get your comments before closing this:

- Currently our 3 authentication schemes work differently (for example for remember-me): my idea was to clean that up, but in the end this isn't really a problem. They are just different use-cases.
- OAuth2

[2016-01-08 09:53] gmarziou commented on #2586
Hi Daniel,

The try-out feature does not work for all authentication schemes, what do you use?

[2016-01-08 10:03] cbornet commented on #2584
+1

[2016-01-08 10:35] ViCe2099 commented on #2171
Could you please specify what end up being the final solution? I'm at a loss here getting 403 only in POST requests.
Thanks in advance.

[2016-01-08 10:39] cbornet commented on #2171
@ViCe2099 check #2288

[2016-01-08 11:48] gerbsen commented on #2586
The default one, I guess it was HTTP Session Authentication

[2016-01-08 14:56] kavenr commented on #2522
I had the same problem after starting a new project. You need to run the maven build before starting the project in Eclipse. If you go ahead and run the project in Eclipse right away, the css files aren't generated and you end up with this problem.

[2016-01-08 15:33] sdoxsee commented on #2584
Thanks for the great discussion @jdubois and @cbornet

@cbornet with the gateway solution and authorization_code flow, neither the tokens nor the client secret are exposed to the JS.

@jdubois you bring up some interesting points

I agree that this is a drawback. However, we could save state in cookies or HTML 5 web storage to remember where we left off and maybe have the rememberme on the auth se

[2016-01-08 16:14] ViCe2099 commented on #2171
@cbornet Thanks for the response, I had already checked that thread, my problem was in where I had to add the filter but that is now done. Unfortunately it didn't resolve my problem, I'm trying to make a POST call from a Ionic mobile app to a service in my apache-tomcat 8 and I'm always getting 403, I have no problem with GET calls and I'm at a loss as I thought it was a CORS related problem and t

[2016-01-08 16:29] lordlothar99 commented on #2553
Hi jdubois, I'm gonna have a look at this soon

[2016-01-08 16:36] jdubois commented on #2553
Cool, this is driving me crazy...

[2016-01-08 16:41] lordlothar99 commented on #2553
i just had a look at #2502, seems like it's been quite a headache !! hope I can find a way to solve this ..

[2016-01-08 16:45] lordlothar99 commented on #2553
ok, I pulled the repo and reproduced the pb... I think some resources are not well destroyed in cucumber test context.

[2016-01-08 16:52] lordlothar99 commented on #2553
I think I have a fix... I just have to test it

[2016-01-08 16:55] lordlothar99 commented on #2553
unit test ok ! :+1:

[2016-01-08 18:01] hirro opened #2590 "Feature Request: Select which attributes to show in table view"
* **Overview of the feature request**

I would like to select which attributes (columns) that should be visible in the entities table view. The  info/edit views  still show all the fields of course.

* **Motivation for this feature**

Some fields of the entity may not be relevant to be displayed in the table, those fields are only visible/editable in the info/edit view.
Too many columns make the t

[2016-01-08 20:20] cbornet commented on #2171
Does it work with  the generated Angular ?

[2016-01-08 22:52] mistvan commented on #1896
Hi guys,
I am interested in openshift deploy.
I recently found tutorial to deploy war file to openshift via SCP/SFTP:
https://developers.openshift.com/en/tomcat-deployment-options.html#_deploying_your_war_files_using_scp_sftp
So I would like to test this these days. Will get back to you then.

Thanks

[2016-01-09 01:19] deepu105 commented on #2590
I dont know if there is enough value in this as the entity generator is
already very complex, you just need to comment out the <th> and <td> for
the column in the html which i think is very easy, any way ill leave this
open for others in the team for opinion
On 9 Jan 2016 02:01, "Jim" <notifications@github.com> wrote:

[2016-01-09 02:02] deepu105 opened #2591 "Generate a default app.constants.js"
This file ideally should be created during wiredep after install, but for some reason if its fails it will be still nice to have a default to start the app without error

[2016-01-09 02:03] deepu105 commented on #2591
This is similar to what we are doing for the css when choosing sass

[2016-01-09 02:04] deepu105 commented on #2572
Ya it will mostly show yellow, that's fine but we should take a look when its red

[2016-01-09 04:47] #2572 closed

[2016-01-09 07:18] pascalgrimaud commented on #2576
It seems this https://github.com/jhipster/generator-jhipster/pull/2592 resolves this issue.

[2016-01-09 08:14] jdubois commented on #2584
Great points @sdoxsee especially the last one:

- I've checked with several companies, and from my understanding they just need security at the Gateway level. I'm guessing that it's what Netflix means by an "edge server": behind this server, you are in your own corporate network, and you are secured.
- On the other hand, I agree with you that having SSO looks better in terms of security and de-cou

[2016-01-09 08:26] hirro commented on #2590
I would like to apply additional UI functionality for attributes, this could be a first step. Maybe it could be part of the discussion on how to extend this feature request?

* Attribute categories: Make it possible to create localizable attribute categories. More complex entities with a lot of attributes could benefit from grouping attributes in the UI under a category.
* Advanced attributes: Adv

[2016-01-09 08:32] jdubois commented on #1896
@mistvan OK then we'll keep the ticket opened for you!
You should have a look at https://blog.openshift.com/using-openshift-enterprise-grade-spring-boot-deployments/

[2016-01-09 08:34] jdubois commented on #2591
Yes indeed

[2016-01-09 09:35] #1974 closed

[2016-01-09 13:09] pascalgrimaud commented on #2576
Confirmed. Warning about memory leak resolved by #2592

Another warning appears : `require('yeoman-generator').generators.Base is deprecated. Use require('yeoman-generator').Base directly` but it's another issue

[2016-01-09 13:09] #2576 closed

[2016-01-09 14:22] deepu105 commented on #2576
Yes can you open a ticket for that, i have removed it in entity generator
and app generator need to check other subs

On Sat, 9 Jan 2016 9:09 pm Pascal Grimaud <notifications@github.com> wrote:

[2016-01-09 14:23] jdubois commented on #2586
- I can't reproduce, this is working fine for me
- Maybe you could send us your configuration? It's impossible for us to reproduce if we don't have your exact config
- From what I see in your logs, you have an authentication or authorization problem: maybe you are not logged in, or maybe your user doesn't have the necessary rights?

[2016-01-09 14:26] pascalgrimaud opened #2594 "Warnings when using the generator : generators.Base is deprecated"
Some warnings appears since this PR https://github.com/jhipster/generator-jhipster/pull/2592 :
`require('yeoman-generator').generators.Base is deprecated. Use require('yeoman-generator').Base directly`

[2016-01-09 17:55] dimeros commented on #2491
So how can I create a pull request for this in order to be reviewed?

[2016-01-09 18:28] pascalgrimaud commented on #2491
@dimeros : read the [CONTRIBUTING.md](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md)

Fast steps :
- fork generator-jhipster
- clone your fork
- create branch (it's important in my opinion)
- work on your branch
- commit/push to your fork project
- as soon as it's ready, create pull request

[2016-01-09 18:59] #2561 closed

[2016-01-09 19:10] rilopez opened #2597 "Delete dialog doesn't show backend response errors (*-delete-dialog.html doesn't use jh-alert-error)"
**Summary:**

The delete dialogs(`*-delete-dialog.html `) doesn't show backend response errors. for example if the `DELETE` request gets a a 500 error , the dialog just stays there  like it hasn't execute the request.

**Steps to reproduce**

1. Force the response http error by throwing a dummy exception on the DELETE `api/users/`  endpoint (`com.nearsoft.training.web.rest.UserResource#deleteUser`

[2016-01-09 20:58] gmarziou commented on #2586
HTTP Session Authentication should work as it uses a cookie, the issue with swagger is about authentication mechanisms that use an HTTP header like JWT.

[2016-01-10 02:35] deepu105 commented on #2491
Yes indeed, creating a branch is very important :)
On 10 Jan 2016 02:28, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-01-10 02:36] deepu105 commented on #2597
Do you want to do a PR for thia, if so its welcome
On 10 Jan 2016 03:10, "Isaac Lopez" <notifications@github.com> wrote:

[2016-01-10 02:39] #2597 closed

[2016-01-10 11:52] jdubois opened #2600 "Discussion on the docker/sonar support and the new "docker" folder"
I just released we have a new "docker" folder at the root of the project, from @pascalgrimaud

- I'm not sure this is correct from a Maven point of view
- It only has a Docker Compose configuration for Sonar, and I guess not a lot of people are using each of those tools, and even less are using them together, so having this at the root of the project isn't probably good

By the way, we also have a

[2016-01-10 12:33] TonyLuo opened #2601 "swagger api ui performance is very slow"
the swagger api ui takes minutes to show every time, it seems scan the annotation every time when access it. is any configuration can be done to enabled it scan the api annotation once and then cache all api info?

[2016-01-10 12:46] deepu105 commented on #2600
Since many wont be using this shouldn't this be an option or a module?

The same goes for the cloud sub gens shouldn't they be modules?
On 10 Jan 2016 19:52, "Julien Dubois" <notifications@github.com> wrote:

[2016-01-10 12:57] atomfrede commented on #2600
For me (as a Linux user) docker compose (->Databases) is a killer feature :) So I don't like to have it inside a module only. But I agree docker files for non "core" features like sonar could be inside a module. For me a docker folder in the root doesn't sound so bad, but I'm not sure how strict maven conventions are.

[2016-01-10 14:19] jdubois commented on #2600
For me we need to have some out-of-the-box solutions for deployment, so
they should be sub-generators and not modules. It's much easier for people,
as everything is installed at once.
I would have at least: cloudfoundry, heroku, AWS, and of course Docker, as
they are the main ones.

For Maven conventions: there isn't much for something like Docker anyway,
but everything should be inside the src di

[2016-01-10 15:20] pascalgrimaud commented on #2600
I feel really guilty about this.

For @deepu105 : the discussion about module is here https://github.com/jhipster/generator-jhipster/issues/2509

The main problem why I keep these files at root directory and use the docker/ directory is Cassandra.
If you generate a project with Cassandra, you'll have a lot additional files here.
So Why ? Because, we use opscenter and a new Docker image which is bu

[2016-01-10 17:17] atomfrede opened #2602 "creating a new user results in activated"
I've a question regarding the user management. When creating a new user the user is always activated (such that the user can reset the password). In the ui you can create a new user with activated=false. It is a little confusing for the user I think.

My solution would be to deactivate the checkbox (and check it) when creating a new user. Is everyone ok with that or do I miss something?

[2016-01-10 17:23] pascalgrimaud commented on #2600
So, let's move all dockerfile/docker-compose files to 'src/main/docker' directory.
Is it ok for you ?

Here new commands :
MySQL, PostgreSQL, MongoDB in Development:
[code]

MySQL, PostgreSQL, MongoDB in Development:
[code]

Cassandra in Development:
[code]

Cassandra in Production, with Opscenter and Clusters:
[code]

[2016-01-10 17:36] jdubois commented on #2590
As @deepu105 points out, this would be against our Policy 2 at http://jhipster.github.io/policies.html
-> we would add one option for something really too simple

I'm very reluctant do add more questions, we already have too many of them.

[2016-01-10 17:40] jdubois commented on #2586
OK I'm closing this as I still can't reproduce, please provide more information!

[2016-01-10 17:40] #2586 closed

[2016-01-10 18:17] jdubois commented on #2600
Great, I like this, as it's the same as in the Spring Boot Docker sample,
so definitely this looks like the most logical place!

On Sun, Jan 10, 2016 at 6:23 PM, Pascal Grimaud <notifications@github.com>
wrote:

--
Julien Dubois

Twitter: @juliendubois <http://twitter.com/#!/juliendubois>
Phone: +33 (0)6 25 02 34 18

[2016-01-10 21:03] gmarziou commented on #2601
Please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) about submitting a

[2016-01-10 21:59] cbornet commented on #2601
The scan should only occur once at startup. You activate swagger debug logs to confirm that.

[2016-01-11 00:06] hirro commented on #2387
@geraldhumphries I needed to get the search pagination working for a project I'm doing. Is it ok that I submit a PR for this or are you on this issue already?

[2016-01-11 00:28] deepu105 commented on #2602
I thought it was checked always, but yes should be deactivated as well i
guess
On 11 Jan 2016 01:18, "Frederik Hahne" <notifications@github.com> wrote:

[2016-01-11 00:55] deepu105 commented on #2600
I think we should atleast have a --skip-docker flag to skip creating docker folders and files for those who dont want it.

I know many enterprises using Jhipster who doesnt do docker due to policies and stuff so for these people it would be unnecessary stuff might even confuse some people who doesnt know what docker is.

Btw, pascal plz wait untill the app generator restructuring is merged

[2016-01-11 00:57] deepu105 commented on #2594
This is thrown from the script-base.js at root, will remove once the restructure PR is merged

[2016-01-11 01:14] pascalgrimaud commented on #2600
Don't worry @deepu105, you made a huge work in https://github.com/jhipster/generator-jhipster/pull/2595
I'll wait your PR is merged and I'll do PR

[2016-01-11 02:55] deepu105 opened #2603 "Modularize all the sub generator to follow yeoman recommended priority names"
Modularize all the sub generator to follow yeoman recommended priority names

Main generator restructuring is done here https://github.com/jhipster/generator-jhipster/pull/2595
Entity gene is restructured here https://github.com/jhipster/generator-jhipster/pull/2569

We need to do the same for language, module, service, and all the cloud subs

**Edit:** The restructuring is complete for all core t

[2016-01-11 03:44] geraldhumphries commented on #2387
@hirro go ahead, I haven't had any time to work on it.

[2016-01-11 04:28] adaykin opened #2604 "Issue connecting to postgresql database using default generated files"
When I try and startup I get an error that says:
Liquibase could not start correctly, your database is NOT ready: org.postgresql.util.PSQLException: This connection has been closed.

My application.yml looks like this:
driver-class-name: org.postgresql.ds.PGSimpleDataSource
url: jdbc:postgresql://localhost:5432/test
username: postgres
password: password

I can tell the connection is sort of workin

[2016-01-11 06:21] pascalgrimaud commented on #2604
Please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines) about submitting an issue and provide some details.

Just tried and it works fine:
My docker-compose file to start a postgresql database:
[code]

My application.yml config :
[code]

[2016-01-11 07:36] gerbsen commented on #2586
Sorry for the delay... could you tell me which configuration files you mean?

[2016-01-11 07:39] moifort commented on #2586
@gerbsen everything is detail here:

### Submitting an Issue
Before you submit your issue search the archive, maybe your question was already answered.

If your issue appears to be a bug, and hasn't been reported, open a new issue.
Help us to maximize the effort we can spend fixing issues and adding new
features, by not reporting duplicate issues.  Providing the following information will increase

[2016-01-11 09:18] mihaisimi opened #2606 "NPE thrown when using anonymousUser"
* **Overview of the issue**
NPE thrown when using anonymousUser. Caused by authentication.getPrincipal being a string ("anonymousUser") and not a User object.

ERROR 2016-01-11T10:55:49.286 [http-nio-8080-exec-4] o.a.c.c.C.[.[.[.[dispatcherServlet](DirectJDKLog.java:182) Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exc

[2016-01-11 14:24] eheb opened #2607 "Can't read swagger JSON from http://127.0.0.1:8080/v2/api-docs"
when i deploy jhispter/swagger2 application in tomcat8 with a root web context (by example ods-0.0.1-SNAPSHOT) , swagger api url is getting from http://127.0.0.1:8080/v2/api-docs instead of http://127.0.0.1:8080/ods-0.0.1-SNAPSHOT/v2/api-docs
what can i do ? is there swagger properties to define this url in application-[env].yml ?
best regards

[2016-01-11 14:44] lordlothar99 commented on #2553
shouldn't we set this issue as "fixed" ?

[2016-01-11 14:49] #2581 closed

[2016-01-11 14:51] jdubois commented on #2553
Sorry, yes -> I usually don't do it, see https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#commit where you "must" use the Gitub keywords to automatically close your issues (not a big deal, of course!)

[2016-01-11 14:51] #2553 closed

[2016-01-11 15:13] lordlothar99 commented on #2553
noted ! :+1:

[2016-01-11 15:17] jdubois commented on #2607
Yes, that's because you have a Web application context when you deploy on Tomcat. There is probably a way to make this URL relative, or as you say write the context somewhere.

[2016-01-11 15:19] jdubois commented on #2604
Yes, @adaykin your configuration is probably wrong, did you create the database schema?
We really need more information, I just tried it on a clean install and it's working.

[2016-01-11 15:23] deepu105 commented on #2607
It can be made relative like in the websocket tracker service
On 11 Jan 2016 23:19, "Julien Dubois" <notifications@github.com> wrote:

[2016-01-11 15:27] eheb commented on #2607
you say write the context somewhere : how ?
 is there swagger properties to define this url in application-[env].yml ?
where and how the path of the swagger.json is built ?
how do developers where thes deploy to Tomacat or another application server ? how do the 'embeddedexecutable' war do because it works ?
Best regards.

[2016-01-11 15:27] eheb commented on #2607
how to matke this pat to swagger json file relative to the context root ?

[2016-01-11 15:59] jdubois commented on #2222
There is an issue with the built-in h2 console, as it doesn't support our CSRF token (and so with our default authentication scheme it will fail).
Besides, it doesn't use the `.h2.server.properties` file.
So our configuration is quite simple, and provides more features, let's keep it.
I will however disable the default h2 console (no need to have it twice), and map our console to that URL, as it's

[2016-01-11 16:03] jdubois commented on #2222
Sorry, for the CSRF issue it's configured in Spring Security, so this isn't a valid argument in fact.

[2016-01-11 16:13] jdubois commented on #2222
Still, using the h2.server.properties file is important, so we point to the correct database on the H2 console login screen, so let's keep the current configuration and remove the H2 auto-configuration from Spring Boot.

[2016-01-11 16:18] #2222 closed

[2016-01-11 16:50] gmarziou commented on #2607
/v2/api-docs is the default path for springfox, as written in [their doc](http://springfox.github.io/springfox/docs/snapshot/#customizing-the-swagger-endpoints).

It should be possible to change this in SwaggerConfiguration by using the Docket initialisation code.

[2016-01-11 17:05] eheb commented on #2607
SwaggerConfiguration.java, Docker init :        Docket docket = new Docket(DocumentationType.SWAGGER_2)
            .apiInfo(apiInfo)...
Where can i find a complete example for the v2 api path customisation ?

[2016-01-11 17:08] ykushch opened #2608 "AngularJS replacement with ReactJS"
Are there any plans regarding the usage of ReactJS instead of AngularJS?
If there plans - I will be glad to help with this.

[2016-01-11 17:13] jdubois commented on #2608
We are not going to replace AngularJS by ReactJS.
There is a module currently being written for this, you can have a look at what @deepu105 does at https://github.com/deepu105/generator-jhipster-react

[2016-01-11 17:13] #2608 closed

[2016-01-11 21:33] cbornet opened #2609 "Wrong jhipster version for modules on jhipster.io"
All modules on the website are said to be compatible with jhipster > 2.26.2 even though it s not the case in their package.json.

[2016-01-12 00:28] deepu105 commented on #2608
@ykushch I haven't committed anything yet, as its still WIP but if you want
to collaborate you are welcome, ill let you know once i commit the base
On 12 Jan 2016 01:13, "Julien Dubois" <notifications@github.com> wrote:

[2016-01-12 03:57] deepu105 commented on #2609
Yes, may be all of us need to correct this for our module entry in the modules.json

[2016-01-12 05:44] deepu105 commented on #2594
this needs to be done for remaining sub generators as well

[2016-01-12 06:09] #2591 closed

[2016-01-12 06:12] #2447 closed

[2016-01-12 06:15] deepu105 commented on #2603
I'll do module, language and service. Any volunteer for the openshift, cloudfoundry, aws and heroku subs?

@wuethrich44 do you wanna do AWS sub restructure?

[2016-01-12 06:16] deepu105 commented on #2601
please provide more info next time

[2016-01-12 06:16] #2601 closed

[2016-01-12 06:17] deepu105 commented on #2606
yes plz do PR

[2016-01-12 06:18] deepu105 commented on #2590
@hirro Plz let us know if you think there is any more value in this and we will reopen this. You can always convince us if there is enough value to back this

[2016-01-12 06:18] #2590 closed

[2016-01-12 06:21] deepu105 commented on #1945
no one is working on this so closing it

[2016-01-12 06:21] #1945 closed

[2016-01-12 06:22] deepu105 commented on #2135
checkout the store property of the promt mechanism in yeoman, that should be a quick solution

[2016-01-12 06:23] deepu105 commented on #2149
linked to https://github.com/jhipster/generator-jhipster/issues/2558 this can be tracked there

[2016-01-12 06:23] #2149 closed

[2016-01-12 06:25] deepu105 commented on #2224
@delverdev do you want to PR this?

[2016-01-12 06:27] deepu105 commented on #2267
closing this since this is tracked in #2552 as well

[2016-01-12 06:27] #2267 closed

[2016-01-12 06:52] ouyangshixiong opened #2617 "Is there any way to add property like "CascadeType.ALL" to relationships"
As I known, I can set relationship between entities.
But I can't set any properties like "CascadeType.ALL" to certain fields.
So, If I add any field to the domain object, I have to modify annotation @ManyToOne to @ManyToOne( cascade = { CascadeType.ALL } ) to certain fields manually.

By the way, I am using jhipster-uml's JDL. there are same problems when add field to exist entities and regenerate

[2016-01-12 08:03] hirro commented on #2590
Just want to verify one thing before dropping the issue.

Was it only the feature (as stated in the issue) "Select which attributes to show in table view" that was closed? Or did you also consider the additional UI features I mentioned in the discussion  (Attribute categories, Advanced attributes, Default values, Help text)?

[2016-01-12 08:36] cbornet commented on #2609
The default jhiVersionRequired should probably be 2.26.0 since it's what most early modules use.

[2016-01-12 08:43] eheb commented on #2607
I add this part in the appplication-dev.yml as in the doc of springfox but i doesn't work :-(
why ? how to do with the Docket initialisation code in SwaggerConfiguration
# swagger
# springfox.documentation.swagger.v2.path=/v2/api-docs
# override property for Tomcat deploy : /ods-0.0.1-SNAPSHOT/v2/api-docs
springfox:
  documentation:
     swagger:
        v2:
          path: /ods-0.0.1-SNAPSHOT/v2/

[2016-01-12 08:55] #2552 closed

[2016-01-12 08:56] #2600 closed

[2016-01-12 08:56] #2582 closed

[2016-01-12 08:57] #2583 closed

[2016-01-12 08:58] jdubois commented on #2609
Yes this is my fault: when the version is not set, I put "2.6.2" by default, as it was the most recent version...

[2016-01-12 08:58] jdubois commented on #2609
I could put "version not set" instead

[2016-01-12 09:47] eelcobrolman opened #2618 "Grunt useminPrepare uses html files from bower components"
Hi,

I ran into a problem when using a bower component "angular-audio": suddenly the -Pprod build failed to generate the minified app.js. After investigation I concluded the following:
* the angular-audio component ships with a ```src/main/webapp/bower_components/angular-audio/app/index.html``` where I found a `````` tag.
* the ng-file-upload component (shipped by default with jhipster) provides t

[2016-01-12 10:56] andidev commented on #2618
Does neglegating the bower_components folder like this work?

[code]

But maybe it is better to be clearer to directly point out the html file as you suggest.

[2016-01-12 12:15] eelcobrolman commented on #2618
Yes, that works also...!

[2016-01-12 12:37] wuethrich44 commented on #2135
I will provide a PR in the next few days. So you can leave this open.

[2016-01-12 12:39] wuethrich44 commented on #2603
@deepu105 I can do that for sure. Could you send me a link where I will see the recommended changes?

[2016-01-12 12:53] ViCe2099 commented on #2171
Using Postman I have no problem, when using it through the android emulator it doesn´t work, when using service through the app from my phone it doesn´t work and I cant use ionic serve at this time :/

[2016-01-12 13:02] MathieuAA commented on #2617
Can you post the issue in JHipster-UML's page so that it's verified/fixed?

[2016-01-12 13:03] gmarziou commented on #2607
Sorry this property is used only by ApiResourceController, the path /v2/api-docs is hard-coded in javascript block in src/main/webapp/swagger-ui/index.html, I guess it could be edited to use a relative path like ../v2/api-docs. Could you try?

[2016-01-12 13:24] deepu105 commented on #2590
To be frank i dont think I have understood the other part properly, can you
give more details on that, open a new issue if required

On Tue, Jan 12, 2016 at 4:03 PM, Jim <notifications@github.com> wrote:

--
thank you,
Deepu.k.s

[2016-01-12 13:29] deepu105 commented on #2603
refer the run loop part here http://yeoman.io/authoring/running-context.html
you can also refer entity/index.js or app/index.js I have already
restructured these

On Tue, Jan 12, 2016 at 8:39 PM, Fabian Wüthrich <notifications@github.com>
wrote:

--
thank you,
Deepu.k.s

[2016-01-12 13:54] atomfrede commented on #2618
@andidev I agree, pointing directly to ``index.html`` makes more sense to me (**Single**Page App). If somebody wants to have multiple entry points it can easily changed.

[2016-01-12 15:14] jvence opened #2619 "Changing logback.loglevel in pom.xml has no effect"
I'm using jHipster 2.23.0 and have not upgraded because of the amount of work required for out particular project

Trying to modify the logging levels of my app but changing logback.loglevel in pom.xml has no effect.

logback-spring.xml seems to use logback.loglevel to set the level but it doesn't seem to be working.

Changing log level from admin log menu is not option as it is not persistent

Mi

[2016-01-12 17:14] marcelinobadin opened #2621 "Error on Grunt Test - TypeError: sockets.forEach is not a function..."
If you got this error, the solution for me was to upgrade __Karma to version 0.13.19__ (according to https://github.com/karma-runner/karma/issues/1782).

After that, all tests passed.
[code]

[2016-01-12 18:04] pascalgrimaud commented on #2621
Same issue here : https://github.com/jhipster/generator-jhipster/issues/2574
The fix already done : https://github.com/jhipster/generator-jhipster/pull/2580
I don't understand how our Travis build didn't detect that, probably an issue related to the use of cache, so I added a new test here : https://github.com/jhipster/generator-jhipster/issues/2596

[2016-01-12 18:04] #2621 closed

[2016-01-12 18:08] #2604 closed

[2016-01-12 18:13] marcelinobadin commented on #2621
Great, thanks. I did the upgrade from 2.25.0 to 2.26.2 and it didn't change to 0.13.19 version if this information helps you on something.

[2016-01-12 18:16] pascalgrimaud commented on #2621
Yes, it will change in the next release, 2.26.3 or 2.27.0

[2016-01-12 18:46] roblight opened #2622 "Searching for decimal numbers produces no results"
Using jhipster-sample-app-elasticsearch@90a11f4b87f2d80e28eeee7ca23e8dc2c4858678 app I created a new `BankAccount` entity with a balance of `98.76`.  Searching for `98.76` gives no results on the `/#/bankAccounts` page.

[2016-01-12 19:35] mihaisimi commented on #2606
Also made the /api/account a permitAll service. We are calling this for anon. users so it makes sense to allow it.

[2016-01-12 20:32] delverdev commented on #2224
My website design isn't default JHipster, so I don't know how to fix it.

[2016-01-12 23:00] btabo opened #2625 "Pagination bug"
Pagination is not showing the appropriate number of pages for me.
You can reproduce this issue with  the user management page, or any entity you decide to create with linked pagination : if you try to reduce the page size from 20 to lets say 5 (for example in user-management.controller.js), and add a couple of entities just for testing, you'll expect to find at least 2 pages but I can still see on

[2016-01-13 00:50] #2602 closed

[2016-01-13 03:51] ruddell commented on #2625
When the paging changed to ui-bootstrap in 2.25.0, it started to use a default items-per-page attribute of 20 (uib-pager.config and uib-pagination.config).  The old custom pagination generated the page numbers to display directly in the HTML.

To make the pages generate correctly, set $scope.pageSize, replace the 20 in the query with $scope.pageSize, and set the items-per-page attribute in the uib

[2016-01-13 06:34] pascalgrimaud commented on #2622
Correct result in Elasticsearch : http://localhost:9200/_search?q=13.37
[code]

Trace in JHipster, for same search:
[code]

[2016-01-13 07:16] pascalgrimaud commented on #2622
See https://github.com/jhipster/generator-jhipster/pull/2434
In your BankAccountResource.java, can you try :
[code]

[2016-01-13 08:00] #2607 closed

[2016-01-13 10:11] #2618 closed

[2016-01-13 10:19] ouyangshixiong commented on #2617
Thanks MathieuAA .
I had try this process again.
1. make up JDL file relationship.jh
![problem2](https://cloud.githubusercontent.com/assets/2086862/12286080/164b77ca-b9fc-11e5-85a3-cf87920b8b06.png)
2. Run jhipster-uml relationship, And modify application-dev.xml config; And run mvn to generate db tables.
3.  modify relationship.h add field
![problem3](https://cloud.githubusercontent.com/assets/20

[2016-01-13 10:43] btabo commented on #2625
Thanks it is works perfectly fine now ;)

[2016-01-13 10:43] #2625 closed

[2016-01-13 12:30] jdubois commented on #2465
Hi @raehalme we've had some recent new works, in the field of microservices, and I'm finding Keycloak looks like a very good idea for #2584
This is quite a different use-case, but if we want to have an OAuth2 server, Keycloak looks like an excellent option, I'm definitely going to test this out!

[2016-01-13 13:59] roblight commented on #2622
Excellent!  Thank you so much @pascalgrimaud !  That worked perfectly.  :smile:

[2016-01-13 14:18] jdubois commented on #2584
I'm closing this and doing a new ticket at https://github.com/jhipster/jhipster-experimental-microservices (which will be linked here once it's created), as in the end this is a discussion only on microservices.

[2016-01-13 14:18] #2584 closed

[2016-01-13 14:56] roblight commented on #2622
Related question: Searching for `Boolean` values doesn't seem to work.  The URL `http://localhost:8080/api/_search/users/true` returns HTTP 200 and no results.

Should I open another issue?

[2016-01-13 15:17] jdubois commented on #2622
@roblight looks like another issue, so yes please create a new one.
I'm closing this one as this is OK.

[2016-01-13 15:25] roblight opened #2631 "Searching for boolean values produces no results"
Searching for `Boolean` values doesn't seem to work. The URL `http://localhost:8080/api/_search/users/true` returns HTTP 200 and no results.

Related #2622.

[2016-01-13 15:25] jdubois commented on #2609
I've written "version not set" if nothing is written, but for all current modules I put "> 2.26.2", as it's a recent version I'm sure it works.
If you know your module works with an older version, please do a PR and I will merge it ASAP

[2016-01-13 15:26] #2609 closed

[2016-01-13 15:31] roblight commented on #2622
Shouldn't there be a change to the generator for all `@RequestMapping` queries as suggested by @pascalgrimaud in https://github.com/jhipster/generator-jhipster/issues/2622#issuecomment-171199847?

[2016-01-13 17:53] cbornet commented on #2609
Arf ! I think the only module that needs > 2.26.2 is the entity-audit from @deepu105 . The other ones work with 2.26.0.
Maybe we could get the jhipster version from github's package.json ?

[2016-01-13 17:58] amaillere opened #2632 "Login/username with uppercase characters simply can't login..."
for example a twitter login (with upper chars) created with Spring Social can't login

this comes from ee2540c26d42b8ffaae0dd1cf0dcc4b09310d922

but nothing prevents the creation of usernames with Uppercase chars...

[2016-01-13 18:02] cbornet commented on #2609
Or even better : directly from npmjs !
http://registry.npmjs.org/generator-jhipster-basic-auth/latest

[2016-01-13 18:31] pascalgrimaud commented on #2631
it's about elasticsearch mechanism here, not an JHipster issue, IMO
Try this search : `field:true` or `field:false`

[2016-01-13 18:49] roblight commented on #2631
Yes you are correct!  Tested and working as described by @pascalgrimaud.  Thank you again!

n.b. For others sake, `field` is the name of your `@Entity`'s field.

[2016-01-13 18:50] #2631 closed

[2016-01-13 18:59] pascalgrimaud commented on #2622
Do you want to make a PR @roblight ?

[2016-01-13 19:02] roblight commented on #2622
@pascalgrimaud If it's not too much to ask, that would be great!

[2016-01-14 02:01] #2594 closed

[2016-01-14 06:55] pascalgrimaud commented on #2622
The user should be able to search with a 'dot' => so I will reopen this ticket until your PR

[2016-01-14 07:26] pascalgrimaud commented on #2619
Can't test 2.23.0 right now, but maybe can you look this issue https://github.com/jhipster/generator-jhipster/issues/2340
And maybe this PR https://github.com/jhipster/generator-jhipster/pull/2347 can resolve your problem ?

[2016-01-14 08:24] cbornet opened #2633 "[ jhipster.github.io] Get module information from npmjs"
By using the info from the package.json that we can get on registry.npmjs.org, we could reduce the information in modules.json to just a short name and a npm package name  for jhipster.github.io
See http://registry.npmjs.org/generator-jhipster-basic-auth/latest
We could also output the latest module version available on jhipster.github.io

[2016-01-14 09:36] deepu105 commented on #2633
@cbornet may be you should try it out in the new revamped site first https://github.com/jhipster-redesign/jhipster-redesign.github.io

[2016-01-14 09:37] deepu105 commented on #2567
done for https://github.com/jhipster/generator-jhipster/pull/2634

[2016-01-14 10:14] cbornet commented on #2633
OK. I will PR on your project if you're OK

[2016-01-14 10:20] deepu105 commented on #2633
100 % ok
On 14 Jan 2016 18:14, "Christophe Bornet" <notifications@github.com> wrote:

[2016-01-14 10:35] wuethrich44 commented on #2603
@deepu105 I will implement this names in the next few days. Just three short questions:

* Should I do the build in `configuring`?
* and where should I put the other deployment steps `default` oder `writing`?
* Is the new error handling done with `this.env.error(chalk.red())` instead of the following method?

[code]

[2016-01-14 10:50] cbornet commented on #2633
Arf ! The registry doesn't set the CORS headers : https://github.com/npm/npm-registry-couchapp/issues/108. Is it ok to use an online-proxy ?

[2016-01-14 11:00] deepu105 commented on #2603
@wuethrich44

1. I think build should be in default
2. these should be in default and if there is any file write then do it in writing instaed
3. yeoman recommends `this.env.error` and I feel it is cleaner as well optimal than doing custom logic

[2016-01-14 11:02] deepu105 commented on #2633
Not sure man, is it worth if it is that complicated?

Thanks & Regards,
Deepu

On Thu, Jan 14, 2016 at 6:50 PM, Christophe Bornet <notifications@github.com

[2016-01-14 11:08] deepu105 commented on #2567
we can track this in #2603 as it would be better done together

[2016-01-14 11:08] #2567 closed

[2016-01-14 12:35] amaillere commented on #2632
modifying UserService to lowercase every Login field before save did the trick,

it worked with automated tests except:
 SocialServiceIntTest.testCreateSocialUserShouldCreateUserWithSocialLoginWhenIsTwitter:232
(comparison should be isEqualToIgnoringCase)
others tests I did myself were OK

@jdubois should I make a PR or was it on purpose for some reason?

[2016-01-14 12:45] moifort commented on #2632
@amaillere yes make a PR, I will take a look.

[2016-01-14 12:45] amaillere commented on #2632
I also tested a minor modification that lowercase username in SocialService.getLoginDependingOnProviderId

it works as well

[2016-01-14 13:18] lourai opened #2636 "Hibernate dialect misconfigured for cloudfoundry deployment"
we use with success cloudfroundry from pivotal as deployment plateforme for our projects, but as we use mysql for dev (locally) and elephantSql as database service when deploying, we're getting error :
...
OUT org.postgresql.util.PSQLException: ERROR: LIMIT #,# syntax is not supported
...

The reason is simple : the dialect used and configured in application-dev (or prod) yaml configuration file

[2016-01-14 13:19] deepu105 commented on #2608
@ykushch I have committed an initial version here https://github.com/deepu105/generator-jhipster-react

Plz take a look, I havent added any client side code, this will currently only generate a backend application I have added placeholder methods for front end promts and writing client files.

Would you like to collaborate on this, if so ill provide you access

cc @Dhiviya-Bharathi Arun mentioned

[2016-01-14 13:53] amaillere commented on #2632
done... with the second solution
The first one has more consequences and design choices to make.

[2016-01-14 14:12] cbornet commented on #2633
It's not complicated : https://cors-anywhere.herokuapp.com/registry.npmjs.org/generator-jhipster-basic-auth/latest (will not work from a browser address bar)

[2016-01-14 14:19] cbornet commented on #2633
If you want to have a look : http://cbornet.github.io/modules/marketplace.html (not finished)

[2016-01-14 14:36] deepu105 commented on #2633
But im able to hit the original nom registry itl and see the json content,
why do you want CORS here? Am i missing something
On 14 Jan 2016 22:12, "Christophe Bornet" <notifications@github.com> wrote:

[2016-01-14 14:36] deepu105 commented on #2633
Ok im just being stupid i guess, got it :)
On 14 Jan 2016 22:35, d4udts@gmail.com wrote:

[2016-01-14 14:39] deepu105 commented on #2633
+1
On 14 Jan 2016 22:36, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2016-01-14 14:49] cbornet commented on #2633
This is now done.
@jdubois can you check if it's ok for you ? http://cbornet.github.io/modules/marketplace.html

[2016-01-14 15:28] deepu105 commented on #2633
Can you update the tiles on home page as well?
On 14 Jan 2016 22:49, "Christophe Bornet" <notifications@github.com> wrote:

[2016-01-14 15:37] cbornet commented on #2633
Yes I just saw that :smile: . Working on it

[2016-01-14 16:47] lourai commented on #2538
Last word for short term : we use the UserXX tricks.

Issue can be close as incoming news must precise future on next jHipster Meetup in Paris !

[2016-01-14 17:33] cbornet commented on #2633
@deepu105 @jdubois can you review the PR ?

[2016-01-14 18:57] atomfrede opened #2638 "hasAuthority not reevaluated"
* **Overview of the issue**

When using ``has-authority`` directive to hide e.g. a button on a user role this is only evaluated once.

* **Motivation for or Use Case**

Some functions on entities are only allowed for certain user roles (e.g. editor, manager).

* **JHipster Version(s)**

latest master

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

* **Brow

[2016-01-14 19:03] atomfrede commented on #2638
Edit: I have a solution, but that looks strange (and I don't know why it works).

Adding after ``defineVisibility(true)`` works (as it watches the changes of the ``isAuthenticated`` function)

[code]

[2016-01-14 19:41] jdubois commented on #2636
This is an option we have removed a few months ago: it's not really logical to develop on MySQL and deploy on Postgresql....
So if you have selected MySQL on production, but you deploy on Postgresql, that's quite logical don't have the correct dialect.
I'm sorry but this isn't a bug from JHipster, it's an option that we don't provide because that's not a very common requirement.

[2016-01-14 19:41] #2636 closed

[2016-01-14 21:13] jdubois commented on #2633
OK that's not complicated to use, but this "proxy" is really asking for trouble: I'm pretty sure this is going to fail at some point in time.
I'd rather stay with our current system, it's very simple and doesn't need any maintenance from our part.

I know that I'm not being fun here, but I really don't want to have any maintenance to do, as (like all of you) I'm just doing this in my spare time.

[2016-01-14 21:44] cbornet commented on #2633
Yes, I understand. So, we need to wait that they add CORS headers to npm-registry but since the issue is 2 years old I don't have much hope...
The other possibility is to get the package.json from github. We could have a field for the path to fetch.

[2016-01-14 23:15] pascalgrimaud opened #2639 "npm test broken"
`npm test` seems to be OK, but in fact, it doesn't work anymore.
I think it is related to https://github.com/jhipster/generator-jhipster/pull/2565/ : @geraldhumphries if you have time, can you have a look plz ?

Steps to reproduce :

1) launch `npm test` => it's OK

[code]

2) made a change in test/test-creation.js for example, by changing a name file

[code]

3) launch test

[code]

[2016-01-15 00:05] geraldhumphries commented on #2639
Thinking of reverting the change to the tests. It is causing too many problems.

Does the test fail when you revert to the previous version?

[2016-01-15 00:49] deepu105 commented on #2633
Oops I might have jumped the gun and merged it, any way can revert if
needed.

As Julien says im also worried that it might fail at some point.

Does they allow JsonP for this, if so we can do that instead of doing proxy
On 15 Jan 2016 05:44, "Christophe Bornet" <notifications@github.com> wrote:

[2016-01-15 00:53] deepu105 commented on #2639
Oh shit, i was doing npm test always and was thinking that the tests become
faster and less verbos since you guys were tweaking it a lot

Now that explains it
On 15 Jan 2016 08:06, "Gerald Humphries" <notifications@github.com> wrote:

[2016-01-15 01:50] geraldhumphries commented on #2639
Just verified. OOPS

[2016-01-15 03:09] geraldhumphries commented on #2639
All fixed 😨

[2016-01-15 03:58] #2639 closed

[2016-01-15 05:27] geraldhumphries commented on #2387
@hirro check out my updated gist: https://gist.github.com/geraldhumphries/569b189c1e1b62fb77d8

This is what I've been using for my pages but I haven't had a chance to code it into the generator. This new code is cleaner than my old stuff and satisfies the most important requirements I mentioned in the OP.

It is based off 2.25.0 so it does not have the entity UI changes. I also removed/re-purpose

[2016-01-15 05:50] pascalgrimaud commented on #2639
@geraldhumphries thanks for this very quick fix!!

[2016-01-15 06:26] geraldhumphries commented on #2244
Here is a quick implementation of an integration test based on the getAll test:

[code]

ElasticsearchTemplate also needs to be injected but nothing else needs to be changed.

Elasticsearch will start embedded in the same folder (by default) as when you're running on develop. The line `elasticsearchTemplate.deleteIndex(Address.class);` will delete all data from the entity's Elasticsearch index. Th

[2016-01-15 06:56] pascalgrimaud commented on #2619
just tested it, #2347 should fix your problem

[2016-01-15 06:56] #2619 closed

[2016-01-15 07:17] hirro commented on #2387
I will look at that @geraldhumphries! In my current branch everything works besides DTOs. I must get that working before making the PR. Hopefully get it done during the weekend.

[2016-01-15 07:24] #2491 closed

[2016-01-15 08:00] cbornet commented on #2244
:+1: nice !

[2016-01-15 08:30] cbornet commented on #2633
At least GH correctly sets the CORS so it can be used.
As for JSONP, it doesn't seem possible : https://github.com/npm/npm-registry-couchapp/issues/157

[2016-01-15 16:36] cbornet commented on #2633
I made a PR to use a package.json file path. Can you review ?

[2016-01-15 17:00] gmarziou commented on #2582
Hi @deepu105

I tried --skip-client option, it works great, I have few remarks:
- as it is easy to make typos in options names, would it be possible to raise an error if option is not recognized? Maybe this is an option of yo?
- the README.md should not have links to node and other JS tools at the bottom

When going to root path (http://localhost:8080), I get an error which seems to indicate an is

[2016-01-16 00:49] deepu105 commented on #2582
Yup plz more hands on these the better :)

Let me see if possible to raise errors for wrong option

On Sat, 16 Jan 2016 1:00 am Gaël Marziou <notifications@github.com> wrote:

[2016-01-16 12:45] deepu105 commented on #2582
this option would be more useful for use as an API, see what Im doing here https://github.com/deepu105/generator-jhipster-react

[2016-01-16 13:32] #2638 closed

[2016-01-16 20:47] geraldhumphries commented on #2244
There is a problem, the line `elasticsearchTemplate.deleteIndex(Address.class);` is a performance issue. It takes 0.5-1.5 seconds to run and that will significantly affect the amount of time the test suite will take.

`elasticsearchTemplate.deleteIndex("_all");` will delete all indexes at once and is a lot faster than deleting them individually (~1.5 seconds to run for 33 entities vs 0.5-1.5 secon

[2016-01-16 23:12] geraldhumphries commented on #2244
Running `clean` will delete the target folder, clearing the index. Other tests will sometimes fail due to ES errors if this isn't done anyways, like when `create` is called through the API. I would rather explicitly clear the indexes, but if that isn't possible without performance/code cleanliness hits, do you think specifying in the docs that `clean` needs to be done before tests would be suffici

[2016-01-17 19:42] worm333 opened #2642 "The attempt to get 'anonymousUser' causes an 405 error."
By default, JHipster comes with "anonymousUser", when trying to get this user using api, for example:

curl -X GET --header "Accept: application/json" --header "X-CSRF-TOKEN: e2861624-b75c-427b-af4d-29486ae60a66" "http://localhost:8080/api/users/anonymousUser"

get an 405 error with response body
{
  "message": "error.methodNotSupported",
  "description": "Request method 'GET' not supported",
  "f

[2016-01-17 19:51] gmarziou commented on #2642
Please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#issue) when submitting an issue.

[2016-01-17 22:13] pascalgrimaud commented on #2622
@roblight : any news about this little PR ? => If you don't have time, I'll do it
A new version should be release soon, so it would be interesting to fix this, before the release

[2016-01-17 23:31] roblight commented on #2622
@pascalgrimaud - If you could do it that would be great.  Thanks so much.

[2016-01-18 05:03] deepu105 commented on #2633
Im closing it here as we will track it in https://github.com/jhipster-redesign/jhipster-redesign.github.io/issues/4 and we are having a discussion there

[2016-01-18 05:03] #2633 closed

[2016-01-18 05:04] deepu105 commented on #2617
please take this to the Jhipster UML repo as @MathieuAA suggested

[2016-01-18 05:04] #2617 closed

[2016-01-18 05:10] deepu105 commented on #1895
@jhipster/developers why dont we just use https://www.npmjs.com/package/pluralize in the generator and generate correct forms during entity creation??

[2016-01-18 05:13] deepu105 commented on #2642
That Jhipster version does not even exist.

[2016-01-18 05:24] herusdianto opened #2643 "Could not commit JPA transaction; nested exception is javax.persistence.RollbackException when change password"
* **Overview of the issue**

When I change my password, it always thrown a javax.persistence.RollbackException.

Here is the stacktrace:
[code]

Here is the HTTP response:
[code]

* **Motivation for or Use Case**

It doesn't change my password.

* **JHipster Version(s)**

v2.23.1

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

* **Entity configuration(s) `

[2016-01-18 05:59] worm333 commented on #2642
I'm sorry about misinformation with version, actually version is 2.26.2

[2016-01-18 06:02] deepu105 commented on #2643
follow our [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue)

[2016-01-18 06:04] deepu105 commented on #2642
Still not enough info to actually help you, if you follow our guidelines ill reopen this, or open new issue following our guideline https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue

[2016-01-18 06:04] #2642 closed

[2016-01-18 06:12] herusdianto commented on #2643
how to get jhipster version sir?

[2016-01-18 06:25] andidev opened #2645 "Make entity angular controllers and router ui states more unique to avoid name clashes"
* **Overview of the issue and Motivation for or Use Case**

When generating an entity, lets say Workplace, the following angular controllers are generated for the entity views:
[code]

The ui router state used is `workplace`.

This is a problem when I would like to create general page representing a Workspace. Then the WorkplaceController and the ui router state `workplace` is occupied.

* **Entit

[2016-01-18 08:51] deepu105 commented on #2645
@andidev but in many cases we would end up customizing the entity page based on our need rite? so in most cases we would be changing what is generated and in very few cases we would want to name something similar to an entity, but for such cases isnt it better to rename the entity manually?

Having keyword entity all over seems very ugly to me. Its just my perspective and i could be wrong.

[2016-01-18 08:52] #2622 closed

[2016-01-18 09:05] andidev commented on #2645
I guess it depends on how you use jhipster. I try to keep the generated admin gui unchanged so I can benefit from jhipster updates.

Maybe a better name would be `AdminWorkplaceController` or `ManageWorkplaceController`.

I have now encountered a name clash 5 entities out of 20. So the issue is there for me. And I don't want to modify the admin entity gui since I want to keep them for the advanced

[2016-01-18 09:09] vikasmadineni opened #2646 "Jhipster Deployment in Weblogic"
Hi team,

Can u please help me how to deploy jhipster application in weblogic middleware server.

regards,
vikas

[2016-01-18 09:16] deepu105 commented on #2643
you can do npm view generator-jhipster version

or

npm ls -g --depth=1 2>/dev/null | grep generator-jhipster

Thanks & Regards,
Deepu

On Mon, Jan 18, 2016 at 2:12 PM, Heru Rusdianto <notifications@github.com>
wrote:

[2016-01-18 09:17] deepu105 commented on #2645
I can understand, lets see what others have to say

Thanks & Regards,
Deepu

On Mon, Jan 18, 2016 at 5:05 PM, Anders Steiner <notifications@github.com>
wrote:

[2016-01-18 09:20] deepu105 commented on #2646
@vikasmadineni we do not officially support weblogic, but given that you can generate a war out of a jhipster app its definetely possible to do so, I have deployed to Jboss and have heard about people deploying to other containers as well. Just try to deploy it like any other war

But since we dont not support this officially please take this to stack overflow and tag it with JHipster and the comm

[2016-01-18 09:20] #2646 closed

[2016-01-18 09:22] deepu105 opened #2647 "deprecate the FAST profile"
since the spring boot 1.3 upgrade the normal workflow is fast enough and the FAST profile seems a bit redundant, shouldn't we deprecate and remove it later to reduce complexity?

[2016-01-18 09:22] atomfrede commented on #2645
@andidev I think we may have a similar situation (didn't really started my project) but I'll have a public view of some entities and the admin/manager view. Both views are completly different so I like your proposal to seperate the generated ui more.

[2016-01-18 09:37] jdubois commented on #1895
Thanks @deepu105 , yes this has been opened for too long:

- I still have no idea what we do with MessageFormat.js , I didn't have the time to check
- It's clear that Pluralize will do the trick, and it's very popular, so let's use it
- And we need to store the plural form in our .json conf file, so it can be modified if needed -> in the future, we could also provide this as an "advanced" option i

[2016-01-18 09:39] jdubois commented on #2642
Well, I think I understand the issue: it's just that you can't get the "anonymousUser", and that's normal, this is not a "real" user, and you will get an error when trying to transform it to a real user.
This is a specific Spring Security user -> maybe we should make this more explicit, you are not supposed to use it directly
In a "normal" JHipster application, you should not see this user, as you

[2016-01-18 09:47] jdubois commented on #2643
I'm closing this as this is not a JHipster issue, you have modified the User class and did a bug in your application.
Now let me explain you the bug:

- The error you have is thrown by Bean Validation
- When your JPA entity gets saved by Hibernate, Bean Validation validates that your entity is correct: it is because this validation fails that your entity is not saved, and Hibernate rolls back your

[2016-01-18 09:47] #2643 closed

[2016-01-18 09:52] deepu105 commented on #1895
I think message format is used in angular js side for i18n are we using the
npm module anywhere?

Thanks & Regards,
Deepu

On Mon, Jan 18, 2016 at 5:37 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-01-18 09:54] jdubois commented on #2646
As we generate a Spring Boot application, and that those applications are supposed to work on Weblogic, you shouldn't have any issue deploying to Weblogic.
Of course it depends on your version numbers, for that you need to check with your Weblogic documentation and the Spring Boot documentation.
If you have any feedback on those, please don't hesitate to post it here.

[2016-01-18 09:55] jdubois commented on #2647
Yes, there isn't much interest in having the FAST profile anymore

[2016-01-18 10:09] jdubois commented on #2645
At least we should have a prefix for the admin pages.
For the entity pages, so are supposed to be "your" code in the end, so they are the ones that shouldn't have a prefix (or have an optional one).
This would be a major change, of course.

[2016-01-18 10:15] jdubois commented on #2606
I'm closing this with reference to #2623

The NPE is thrown by a modification in the code that was generated, so this is not a JHipster issue. The whole idea of securing this API, is that no anonymous user access it, so this NPE can't happen under normal circonstances.

Of course, you can disagree with our current design of sending a 401 error code when an unauthorized user access the page, and fo

[2016-01-18 10:15] #2606 closed

[2016-01-18 12:01] andidev commented on #2645
@jdubois
Maybe we should not see this as a prefix and rather see it as the names are curretly incorrectly named. The current views that is generated are views that allows the user to **manage** the Entity. Why should'nt the word manage be used in the naming then?

We have actually two types of usecases here:
1. The JHipster user modifies the generated views completely

2. The JHipster user keeps t

[2016-01-18 12:47] ykushch commented on #2608
@deepu105 yes, I would like to start working on that. Planning to use React with Jhipster's backend.

[2016-01-18 13:00] deepu105 commented on #2608
Great let me know if I can help in anyway
On 18 Jan 2016 20:47, "Yuri" <notifications@github.com> wrote:

[2016-01-18 13:09] deepu105 commented on #2632
Closed via #2637

[2016-01-18 13:09] #2632 closed

[2016-01-18 13:47] ykushch commented on #2608
@deepu105 sure. Thanks for mentioning. Already forked it. Will start looking through code.

[2016-01-18 15:10] cbornet opened #2648 "Bulk Import/export of entities by CSV files"
A commonly asked featured is to have CSV import and export features of entities. I think this would be interesting to have it in the main generator with endpoints that can take file or text/csv data (REST + Json is sometimes not performant enough) and buttons in the angular views to import/export the data. But if there is not enough interest to do it in the main generator, I can do it as a module.

[2016-01-18 15:41] cbornet commented on #2171
@ViCe2099 Can you try adding .antMatchers(HttpMethod.OPTIONS, "/**").permitAll() to the WebSecurityConfigurerAdapter together with the cors options of application.yml ?

[2016-01-18 19:11] sanderman123 commented on #565
Maybe still helpful to someone:
I had a similar issue when I was testing the swagger API docs of the standard JHipster generated app using grunt (port 3000), if however I went directly to the webapp running on port 8080 it worked.

[2016-01-18 19:43] cbornet commented on #565
The issue with grunt is that springfox (swagger lib) detects port 8080 for the host instead of 3000 so the requests are made cross domain. I think you can force the springfox host in your application.yml.
As for making CORS work with the session, you need to put the withCredentials flag on the xhr request and configure access-control-allow-credentials to true on the server.
Note that swagger-ui do

[2016-01-18 22:11] jdubois commented on #1896
As this has been broken for a long time I have:

- Removed the documentation at https://github.com/jhipster/jhipster.github.io/commit/9ecdae6677b2912aca242241c42477dcb2fde116
- Removed the code at https://github.com/jhipster/generator-jhipster/commit/3c9531cb0dc7876db6122d07f88f87348572ff06

Those can be easily reverted, of course, but:

- As the new OpenShift version is totally different, I doubt

[2016-01-18 22:11] #1896 closed

[2016-01-19 01:23] deepu105 commented on #2648
yes its a very good feature. :+1: either in main generator as default or as module

Actually http://ui-grid.info/docs/#/tutorial/312_exporting_data_complex has these features, may be we could refer that

[2016-01-19 08:28] deepu105 commented on #2608
@sendilkumarn you can follow a similar approach as [here](https://github.com/hipster-labs/generator-jhipster-react) if you want to do a jhipster generator with angular material instead of bootstarp

[2016-01-19 08:50] magick93 commented on #2538
Hello

I would really like to see Keycloak integrate with JHipster. Is anyone interested in working on this? I am new to JHipster, but am help to help on this task.

[2016-01-19 09:15] pnreddysvu commented on #2538
@magick93 I am interested to work on this. But I can do only back end work. I am not a front end developer.

[2016-01-19 09:17] magick93 commented on #2538
@pnreddysvu - Keycloak has its on frontend. Basically, when the user needs to login the should be redirected to keycloak for auth, then redirected back.
Keycloak also has a user management UI.

[2016-01-19 09:18] pascalgrimaud commented on #2538
@magick93 @pnreddysvu : there was a discussion here https://github.com/jhipster/generator-jhipster/issues/2465 about keycloak
Maybe someone has begun to work on this module...

[2016-01-19 09:23] pnreddysvu commented on #2538
@pascalgrimaud It is good if someone has started.
@magick93  I know keycloak provides user management. But many changes required in Jhipster front end code. I am talking about that part.

[2016-01-19 09:26] pascalgrimaud commented on #2538
@pnreddysvu : not sure someone has begun this module, maybe locally? Because I don't see repository about it ;)

[2016-01-19 09:29] cbornet commented on #2171
@ViCe2099 [This](https://github.com/jhipster/generator-jhipster/pull/2650) should solve your issue

[2016-01-19 09:29] magick93 commented on #2538
@pnreddysvu - ok. Well, I probably have the least experience in Jhipster of anyone. I only learned about JHipster about 2 hours ago.

[2016-01-19 09:30] pnreddysvu commented on #2538
Below things to be done to integrate with keycloak

1) Split current monolithic Jhipster app into two apps 1) Client app(front end app) 2) Server app
2) Remove user management, login, social login from both front end and backend
3) Secure both backend and frontend with keycloak
4) Enable relationship between new entities and keycloak entities

[2016-01-19 09:36] cbornet commented on #2584
If we talk about OAuth2 servers, maybe [Tyk](https://tyk.io/) and [WSO2](http://wso2.com/) are worth mentionning since they are pretty popular. Anyway, I think we should propose a reference implementation with one of the OAuth server but a user should be able to easily switch to another one. I don't know if it is possible though...

[2016-01-19 09:38] pascalgrimaud commented on #2538
Some work was already done par Deepu here : https://github.com/jhipster/generator-jhipster/pull/2613
There should be a new option : --skip-client

[2016-01-19 09:41] magick93 commented on #2538
Keycloak has a federation spi - which means it can auth user based on an
existing 3rd party db.

So you dont necessarily need to remove the jhipster backend. You can create
a sync between keycloak and jhipster.

Keycloak will also sync. Keycloak can get all users from Jhipster.

Then, you can, for example, enable social login, and this will create an
account based on, say facebook, in both keycloa

[2016-01-19 09:44] pnreddysvu commented on #2538
That leads to completely duplicate tasks and mess up things. It will be nightmare to maintain the code. This is my personal opinion. Please don't get offended.

[2016-01-19 09:52] magick93 commented on #2538
@pnreddysvu - you will have to try harder to offend me :)

By using the JHipster database it allows users who already have users to switch to keycloak, and not need to migrate.

I guess my point is, there are many ways of using Keycloak. So we should decide how and what we want to get from it.

[2016-01-19 09:52] jdubois opened #2652 "Broken links with the new website redesign"
I'm assigning this to @deepu105 as he's the one who did the redesign.

We have some broken links, for example at http://jhipster.github.io/2014/10/13/jhipster-release-1.4.0.html this points to http://jhipster.github.io/creating_an_entity.html

- we need to redirect those old URLs to the new ones
- we need to update all the links -> I guess a good search/replace should do the trick
- @deepu105 I sh

[2016-01-19 10:02] pnreddysvu commented on #2538
Ok let me clarify you few things.

1) Jhipster provides user management and keycloak also provides user management. To work seamlessly you need two way replication. If you create user in Jhipster it should be replicated back to keycloak and vice versa. If you change password through keycloak interface that has to be synced again back to jhispter db.

2) Keyclaok user can have different fields and

[2016-01-19 10:14] gerbsen opened #2653 "How to decouple frontend and backend"
Hey,
I'm trying to figure out, what needs to be done in order to have the HTML/JS on my webspace and the backend on my application server. I can't find a global variable to do this, do I really need to change all AngularJS factories?

Cheers,
Daniel

[2016-01-19 10:22] deepu105 commented on #2653
what are you trying achive, anyway this sounds like a stack overflow item so plz open it there and tag it with Jhipster please

[2016-01-19 10:22] #2653 closed

[2016-01-19 10:25] deepu105 commented on #2652
I guess i missed that folder in my regex search will update

Thanks & Regards,
Deepu

On Tue, Jan 19, 2016 at 5:52 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-01-19 10:51] andidev commented on #2645
I'm ready to work on this if we all agree on it. Otherwise let's close it.

[2016-01-19 10:51] magick93 commented on #2538
Ok, yes that does clarify things.

Does jhipster use Spring Security?

[2016-01-19 11:09] cbornet commented on #2645
:+1: something should be done. Either that or set existing angular routes to reserved entity names (for instance if you name your entity "Site" you will have a conflict)

[2016-01-19 11:13] pnreddysvu commented on #2538
yes jhipster uses spring security.

[2016-01-19 11:23] magick93 commented on #2538
Im not sure if this helps -the documentation is a bit light - http://keycloak.github.io/docs/userguide/keycloak-server/html/ch08.html#spring-security-adapter

[2016-01-19 11:29] pnreddysvu commented on #2538
yes that is the way to go.
here is the working sample.
https://github.com/foo4u/keycloak-spring-demo

[2016-01-19 12:13] magick93 commented on #1636
Hello, is there any documentation on using the openshift deployer?

What version of Openshift does this support?

[2016-01-19 12:36] pascalgrimaud commented on #1636
@magick93 : you can look here https://github.com/jhipster/generator-jhipster/issues/1896
OpenShift support is removed

[2016-01-19 12:54] gmarziou commented on #2645
Could we avoid name conflicts by using separate angular module for entity code?

[2016-01-19 13:39] raphaelbrugier commented on #1896
Hi,

Sorry @jdubois , I told you I was working on the issue but didn't take the time to finish the investigation :(

For history here what I found when I started to look into :

Current problems :
- #778 application not scalable on OpenShift.
The default cartridge used (Diy) is not scalable
- current task (yo jhipster:openshift) does not work fully
I never succeed to initialize the openshift direc

[2016-01-19 14:22] andidev commented on #2645
Unfortunately it is not supported by angular

http://stackoverflow.com/questions/13406791/modules-and-namespace-name-collision-in-angularjs

[2016-01-19 15:00] mistvan commented on #1896
Hi guys,

I dont understand the thing that it is not addressing the same use case anymore.

Last week I have used diy cartridge and was able to upload war file to openshift v2 here http://songbook-mistvan.rhcloud.com/. But I am still experiencing quota exceeding issue there.

So @raphaelbrugier, what is your email address so I can ask you about openshift platform.

Thanks

[2016-01-19 15:47] antonevane opened #2656 "Atomikos - Log already in use?"
Hello, JHipsters
 I'm facing an issue due to some Atomikos/Config.
 Tests are failing.

 Run as: `./mvnw clean package -Dspring.profiles.active=dev`

The following issue described:
 [http://stackoverflow.com/questions/21014964/strange-atomikos-exception-error-in-init-log-already-in-use](http://stackoverflow.com/questions/21014964/strange-atomikos-exception-error-in-init-log-already-in-use)

Has an

[2016-01-19 15:58] cbornet commented on #2656
This is not a JHipster issue. Please post your question to stackoverflow or [gitter](https://gitter.im/jhipster/generator-jhipster).
Atomikos couldn't write the transaction log. I would delete the transaction-log directory and see what happens. Have you tried all the answers of the SOF link you posted ?

[2016-01-19 15:59] #2656 closed

[2016-01-19 16:01] cbornet commented on #2656
You should also check if https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-jta-atomikos works for you.

[2016-01-19 16:31] cbornet opened #2657 "Painful paginated entity navigation"
* **Overview of the issue**
When an entity has "pagination" pagination and you view an item, clicking on "back" sends you to the first page instead of the page you were on before viewing the item

* **Motivation for or Use Case**
This is really painful when you want to see item details one item by one item of a very long list.

* **JHipster Version(s)**
2.26.2

* **JHipster configuration, a `.yo-r

[2016-01-19 17:31] raphaelbrugier commented on #1896
Hi @mistvan,

Sorry for the confusion, the initial problem I was trying to solve was #778 which I believe require to use OpenShift V3 and not the cartridge system (if following the post on the openshift blog https://blog.openshift.com/using-openshift-enterprise-grade-spring-boot-deployments/ )

And by different use case, I meant this would require to setup an OpenShiftV3 infrastructure which is mo

[2016-01-19 17:43] jdubois opened #2658 "New file .yo-rc-global.json keeps package name in the home folder"
There's a new .yo-rc-global.json file, which I guess was added during the codebase refactoring by @deepu105 , which is in the user's home directory.
This file currently stores the package name: that means we have by default the same package name for all generated applications.

This isn't necessarily bad: the default package name isn't useful anyway, so our best guess as a default package name wou

[2016-01-19 17:44] gmarziou commented on #2645
Good point, I forgot about this. New DI system in Angular 2 solves this, in the mean time your prefix suggestion is the way to go I think.

[2016-01-19 17:53] antonevane commented on #2656
it doesn't help.

[2016-01-19 17:53] PierreBesson commented on #2657
I have reproduced your bug. When clicking the "back" button, it actually does a window.history.back() so it has no way to know on which page it was before.
So your bug could be solved by doing a pushState and changing the URL on a page switch (for example : #/foos/2).
It seems that the pager provided by Angular-UI Bootstrap does not change the page URL by itself, but some people have managed to ad

[2016-01-19 19:25] jdubois commented on #2656
@antonevane the stackoverflow question you point to looks to have some good answers, did you try them?
Otherwise you could also ask your software vendor: given the price of Atomikos, don't you have a support contract with them? Why don't they help you?

[2016-01-19 21:13] cbornet commented on #565
@sanderman123 see #2654

[2016-01-19 21:28] cbornet opened #2659 "Loading data by liquibase in dev profile"
I like to use in-memory H2 for dev as it plays magically with devtools : you regen an entity with a new field and the server reloads with the correct db schema in a few seconds.
The disadvantage is that the DB is emptied during the process. So I use liquibase to load CSV files with sample data into my entities.
So the question is : would it be interesting to create a CSV file with only the header

[2016-01-19 21:32] jdubois commented on #2659
Did you try H2 with disk-based persistence? This is what I do and I have your use-case working without doing anything :-)

[2016-01-19 21:49] cbornet commented on #2659
You mean that when you add a field to an entity, the table gets recreated ? I need to test that.

[2016-01-19 21:52] jdubois commented on #2659
Oh no, sorry: for that, I need to run "mvn liquibase:diff", but that doesn't work perfectly with H2, this is something that must be corrected.
It works perfectly with MySQL and Postgresql, of course.

[2016-01-19 21:53] jdubois commented on #2659
But doing a "yo jhipster:entity Foo" works perfectly in all cases -> with both BrowserSync and the devtools, that's one hell of a result!

[2016-01-19 22:15] cbornet commented on #2427
:+1: to have this in main generator

[2016-01-19 22:25] cbornet commented on #2537
@hirro Are you working on this ?

[2016-01-20 00:29] deepu105 commented on #2658
Hi Julien,

I think it is from the store property I added on the package name promt
sorry, that was suppose to be another PR but i pushed it there I guess.
Anyways its just a an improvment so that you dont have to type the pacakge
name again and again, it will remember what you typed last and you can type
something new if you want to override. So its actually a good thing in my
opinion

May be you

[2016-01-20 02:08] deepu105 opened #2660 "Discover modules automatically using npm search"
This is continuation of discussion at https://github.com/hipster-labs/jhipster-redesign.github.io/pull/4

We can use https://github.com/solids/npmsearch to get all Jhipster modules,so that module writers need not PR to the modules.json at all? we could maintain a moduleConfig map to mark verified generators and to blacklist any generator that might abuse the keyword

we can use the jhipster-module

[2016-01-20 05:59] deepu105 commented on #2538
Im not an expert on Oauth and Im not familiar with keyclock. But reading above I can talk only from JHipster perspective.

The comments above about works to be done to integrate keyclock with Jhipster is too drastic and will break a lot of our current options, so Im not sure its worth the effort given it doesnt achive much in value compared to current implementation. It might make sense in a micro

[2016-01-20 05:59] #2538 closed

[2016-01-20 06:26] magick93 commented on #2538
I dont know anything about writing jhipster modules, but would really like to see keycloak work with jhipster.

Can someone please provide a highlevel list of tasks on what would be needed to make keycloak work with jhipster as a module, then I can give it a go.

[2016-01-20 06:36] pascalgrimaud commented on #2658
It's this line : https://github.com/jhipster/generator-jhipster/blob/master/app/index.js#L219
The .yo-rc-global.json can be created by another generator, which use "store"

Honestly, it's very interesting to store some basic information, no need to put them the next time.

So my opinion is to keep them. But if we decide to remove it, another generator (for example modules) can use them... So the f

[2016-01-20 06:49] deepu105 commented on #2538
use our https://github.com/jhipster/generator-jhipster-module module
generator to generate a skeleton, refer docs here
https://jhipster.github.io/modules/creating-a-module/

Thanks & Regards,
Deepu

On Wed, Jan 20, 2016 at 2:26 PM, magick93 <notifications@github.com> wrote:

[2016-01-20 06:57] andidev commented on #2645
So how about calling the entity (e.g. with a name Workplace) related files and controllers the following:

related folder:
[code]

related files:
[code]

related controllers:
[code]

related states:
[code]

It would follow the naming convention for the user management view.
The drawback is that if someone wants to change the views from not being management views they will have to change all names

[2016-01-20 07:01] pnreddysvu commented on #2538
@deepu105 I agree with you. keycloak make sense if we go with micro services approach.
I would expect one thing from you if you are willing to help here.

instead of --skip-client use option like --separate-client and if used generate two apps 1) client app and 2) server app.

It will be useful for microservices as well as keycloak integration.
You can ignore client if you want to use react client

[2016-01-20 07:07] atomfrede commented on #2645
I like your proposal. Makes it much easier for keeping the default management stuff while adding some nice views for specific entites in addition.

[2016-01-20 07:45] deepu105 commented on #2538
That will be too much of if else on the generator and bit of work to do and
we are not going that direction atleast for now based on earlier
discussions we had, this might change in the future based on demand and how
the microservices architecture goes.

Btw I have a question for you. What do you consider a separate client app?
to me the current client is almost like a separate angular app, the on

[2016-01-20 07:55] pnreddysvu commented on #2538
There are at least three use cases now.

1) Micro services:
  - Depending on load you can scale only client or only server
  - You can implement client load balancing using Ribbon

2) Keycloak integration specific
   - REST API will be secured with bearer-only so that you can implement own client and expose API to 3 rd parties

- clients will be secured with confidential/public depending on client

[2016-01-20 08:02] #2652 closed

[2016-01-20 08:30] hirro commented on #2537
@cbornet I am finishing working on #2387 before I will start. For me it is working since I am using the code from the PR that fixed this (they did not want to add dependency to another JS module). If you need a quick fix look at what I did in my jhipster branch.

If you want to fix it feel free to do so, besides my proposed fix replaces the datetime control with a simple edit. It is not the most u

[2016-01-20 10:21] jdubois opened #2661 "Generate front-end code only, based on Swagger"
In case people want to use an external back-end service, we could only generate our front-end code, based on the Swagger documentation.

For example:

- We have an external service, which uses some kind of proprietary technology
- The user has to code his own Spring MVC REST controller, using that specific technology -> that can't be generated, it depends on the underlying technology
- Based on th

[2016-01-20 11:57] ViCe2099 commented on #2171
Thanks for the response, I tried that and more, added all kinds of permissions to every kind of request, after that i created clean projects where I could debug and I now know what the problem is:
isValidOrigin(originHeader)
Basically my originHeader is "file://", i'm running a ionic app on android 4.4.2 and that's the origin it gets and I don't know how to change it, the reason that the request i

[2016-01-20 15:36] putssander commented on #1185
@gpulluri Today I got JHipster v2.27.0 running with MSSQL

I followed the tutorial https://jhipster.github.io/tips/004_tip_using_ms_sql_server.html and got the same error message "Cannot insert the value NULL into column 'event_id'.

The error is caused by copying the snippet 00000000000000_initial_schema.xml of the tutorial which overwrites autoIncrement (mssql has to be added).
<property name="a

[2016-01-20 15:42] cbornet commented on #2661
I don't understand the Spring MVC REST controller part : shouldn't the user use or write a swagger doc directly using swagger-editor for instance ?
There is already an Swagger AngularJS generator in swagger-codegen but maybe we could write a jhipster-angular generator so that it fits well with jhipster's existing code

[2016-01-20 15:50] cbornet opened #2662 "Error responses in prod profile"
The standard Spring Boot error message for uncatched exceptions gives details about the exception : this is nice in dev but IMO is lame in prod.
So we should probably provide our own ControllerAdvice when the profile is prod.

[2016-01-20 15:57] cbornet commented on #2662
Or according to http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-error-handling we can maybe also use an ErrorAttributes bean to mask the "exception" field.

[2016-01-20 20:39] jdubois commented on #2658
OK, let's keep it this way, but we need to document this -> I'm keeping this opened until we have documented this somewhere on the website

[2016-01-20 20:45] jdubois commented on #2661
I didn't know about swagger-editor -> yes this could be a broader solution, of course
Then, the problem is to have our own generator, so that what is generated works fine with the rest of the JHipster application

[2016-01-20 21:38] geraldhumphries commented on #2271
+1 for making this a priority.

[2016-01-21 00:44] deepu105 commented on #1185
Would you like to do a PR to update the tip?
On 20 Jan 2016 23:36, "Sander Puts" <notifications@github.com> wrote:

[2016-01-21 00:46] deepu105 commented on #2658
Ill document it on the app creation page
On 21 Jan 2016 04:40, "Julien Dubois" <notifications@github.com> wrote:

[2016-01-21 00:47] deepu105 commented on #2271
I dont think anyone is working on this?
On 21 Jan 2016 05:38, "Gerald Humphries" <notifications@github.com> wrote:

[2016-01-21 00:50] deepu105 commented on #2271
I have also started to feel that it might be better to invest time to
migrate to angular2 rather than this
On 21 Jan 2016 08:47, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2016-01-21 00:51] deepu105 commented on #2660
@jdubois i have some time this week can I do this?

[2016-01-21 01:47] phouverneyuff opened #2663 "CucumberTest override report test generated by Unit Test and Integration Test"
When run gradle test, the report generated in build/reports/tests only show the results for Cucumber Test.

I'm doing a PR for this problem.

[2016-01-21 02:12] phouverneyuff commented on #2663
Fixed by PR #2664

[2016-01-21 04:33] deepu105 opened #2665 "Show modules readme in the details page"
It would be very nice to show the modules github readme.md file in the module details page so that there is more info present along with stats

![image](https://cloud.githubusercontent.com/assets/1107223/12471671/cd002d28-c03a-11e5-8200-59768efec78e.png)

[2016-01-21 05:51] ouyangshixiong opened #2666 "jhipster liquibase changelog bug"
1. mysql client console,drop database soup; create a new one.
2. mvn -Pprod  generate all tables;
3. mvn clean
4. mvn compile liquibase:diff

### I think there must be no differences. Because it is a total new database.
### But it is not!
See the attachment for the changelog file.
I am not sure how to fix it.

jhipster version: v2.23.0
yo-rc file:
[yo-rc-json.txt](https://github.com/jhipster/gener

[2016-01-21 06:24] pascalgrimaud commented on #2666
Please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines) about submitting an issue and provide some details.

We need your .yo-rc.json

[2016-01-21 06:25] pascalgrimaud commented on #2665
what about the very very long README ?

[2016-01-21 06:39] jdubois commented on #2660
Yes of course, it looks like less maintenance work for us in the end.
Le 21 janv. 2016 1:51 AM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-01-21 07:23] deepu105 commented on #2665
I dont think it will cause any issues? do you think of any issues?

[2016-01-21 07:26] pascalgrimaud commented on #2665
no issue, simple question
So maybe display the beautiful graph of download before readme ?

[2016-01-21 07:28] deepu105 commented on #2665
i was thinking from a usefulness perspective, I mean i would like to see info about using the module more than knowing its download counts, but thats personal pref, if you guys feel otherwise I can change it :)

[2016-01-21 07:28] deepu105 commented on #2660
Ok :)

Thanks & Regards,
Deepu

On Thu, Jan 21, 2016 at 2:39 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-01-21 08:29] pascalgrimaud commented on #2665
From this point of view, I completely agree !

[2016-01-21 09:14] cbornet commented on #1185
Or maybe create a module ?

[2016-01-21 10:36] deepu105 commented on #2665
@moifort your modules have some images with relative urls which arent visible, may be you should update them to have a fixed url from the repo

[2016-01-21 11:19] moifort commented on #2665
I will check it!

[2016-01-21 14:18] amitjindal opened #2668 "[Enhancement Request] Add more fields to existing entity"
**Overview of the issue**
I would like a way to add more fields to an entity. Currently Once have generated an entity there is no way to add additional fields (columns) unless done manually which is error prone.

**Motivation for or Use Case**
 In any ongoing project it is common in my humble opinion that fields will be missed or may need a change.  hence an option that allows us to continue addin

[2016-01-21 14:56] antonevane commented on #2656
@jdubois, @cbornet Thanks for your inputs. One of our team members made some bad change. It was a configuration changes and Atomikos version. This issue shouldn't be created.

[2016-01-21 14:58] wimdeblauwe opened #2669 "Error generating new application with 2.27.0"
I am trying to generate a new application. At the end, the following output is shown:

[code]

[2016-01-21 15:10] deepu105 commented on #2668
This has been asked many times before and yes i agree that its a very
useful feature, but having said that its also very difficult to add to
existing code without breaking anything coz existing code might have
undergone manual change, another easier way would be to give this option
then just regenerate everything for that entity which is easier to achive
On 21 Jan 2016 22:18, "Amit Jindal" <notifi

[2016-01-21 15:57] cbornet commented on #2668
@amitjindal have you tried jhipster-uml ?

[2016-01-21 16:02] cbornet commented on #2662
Did it by adding
[code]
This removes error details fields "exception", "message" and "trace"
OK to PR ?

[2016-01-21 16:28] pascalgrimaud commented on #2669
Can you show your .yo-rc.json file plz ?

[2016-01-21 17:18] akeske opened #2670 "Request to add LDAP authorization"
Hi, I have a small :-1:  problem with the configuration of LDAP! If anyone has any idea to help me i will appreciate it. I cant find anything from internet about ldap and custom user and roles in database.... thanx

[2016-01-21 18:20] pascalgrimaud commented on #2670
Please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines) about submitting an issue and provide some details.

Anyway, I don't understand this ticket :
- is it a feature request about supporting LDAP in JHipster ?
- you tried to use LDAP with JHipster and it didn't work ? => post your question to stackoverflow
- you need help

[2016-01-21 18:20] #2670 closed

[2016-01-21 19:59] geraldhumphries commented on #2657
What about using query parameters in ui-router and transitioning states on page change/sort/etc.?

I have not worked out all the kinks, but here is a working implementation:
https://gist.github.com/geraldhumphries/e1adec511d9fc43ad665

Supports back/forward buttons on the browser.

[2016-01-21 20:10] gmarziou commented on #2668
Have you read this answer?

http://stackoverflow.com/questions/28216307/how-to-modify-existing-entity-generated-with-jhipster

[2016-01-21 20:57] pascalgrimaud commented on #2669
Please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines) about submitting an issue and provide some details.

[2016-01-21 20:57] #2669 closed

[2016-01-21 21:30] pascalgrimaud commented on #2666
There is no issue here.

Your `.yo-rc.json` file indicates you use a h2Memory so look your `pom.xml` file, there is no configuration for liquibase :
[code]

Try to update your configuration

[2016-01-22 00:04] ouyangshixiong commented on #2666
Pascalgrimaud, very disappointed for your haste answer.
Could you pls make it clear,that I am using "prod" profile.
So let me show you part of
![problem2](https://cloud.githubusercontent.com/assets/2086862/12498592/aab1ac02-c0de-11e5-9688-30cd156b306d.png)
the pom file:

[2016-01-22 06:39] cbornet commented on #2666
@ouyangshixiong well, you do use h2memory as dev database so this means you edited the pom manually to add your prod config.
Please understand that we do this on our free time so if you want us to help please give as much information as you can. Your issue is that liquibase wants to create "yaAdress_id" instead of the existing "ya_adress_id" column for some of your relationships.

[2016-01-22 06:46] deepu105 commented on #2666
@ouyangshixiong please do understand that no body is paying any of us to do this, so if you are expecting help from us please atleast follow our guidelines and give all the required info when you create an issue

[2016-01-22 07:24] jdubois commented on #2657
Yes that looks like a neat solution !

[2016-01-22 07:35] jdubois commented on #2666
I guess @ouyangshixiong is doing a Liquibase diff on his prod database: that's a very strange way of working, but that's something that could work.
Anyway, @ouyangshixiong if you don't follow the guidelines and don't explain what you do (in particular if that's something unusual) we can't help you.
Maybe you have a Liquibase bug, maybe your setup is wrong... It's very time consuming for us to help

[2016-01-22 08:22] cbornet opened #2671 "Spring Boot 1.3.2 is out !"
And it fixes https://github.com/spring-projects/spring-boot/issues/4866

[2016-01-22 08:29] atomfrede commented on #2662
Very nice idea, like it.

[2016-01-22 08:30] pascalgrimaud commented on #2671
good news! :+1:

[2016-01-22 08:36] pascalgrimaud commented on #2671
Quote from https://spring.io/blog/2016/01/22/spring-boot-1-3-2-released

We need to check this

[2016-01-22 10:46] cbornet commented on #2666
@ouyangshixiong can you try with the latest JHipster version. See [this](https://github.com/jhipster/generator-jhipster/commit/e86f710187d32dad53792e6d21917ca1eb7ebb3a) commit.

[2016-01-22 11:48] The-Crocop opened #2672 "Language keyword should be forbidden"
When creating an entity called language the ui doesnt work unless you rename the depending language service and all its references. Either the main language service should be renamed to something more specific or entities called language shouldnt be allowed in the first place

[2016-01-22 12:57] wimdeblauwe commented on #2669
The file contents is this:

[code]

[2016-01-22 13:19] deepu105 commented on #2669
This definitely seems like environment issue and not a JHipster issue.

Few suggestions

Delete your bower_components folder
Delete your node_modules folder
Now run npm install and wait for it to complete
Run npm install -g bower
Run bower install

If still there is issue try to un install node and npm then install a
stable LTS version and try above steps again

On Fri, 22 Jan 2016 8:57 pm Wim Deb

[2016-01-22 14:22] #2663 closed

[2016-01-22 15:21] geraldhumphries commented on #2387
@hirro Do you think you would be able to work on this over the weekend? Anything I can do to help? This fix has become very important to me.

[2016-01-22 15:27] cbornet commented on #2671
Yes, I guess ot's just about copying our messages_en.properties to messages.properties

[2016-01-22 17:26] amitjindal commented on #2668
@deepu105
I would expect anyone using JHipster to atleast have git and be able to reconcile the changes. :-)
The problem we faced is that I am using this in a project where we have tables with 50+ columns. This has relations with several tables. As the project has progressed, fields and relations are added. Now if I have to add 4-5 fields to this or add a relation, its a nightmare to redo the enti

[2016-01-22 19:23] pascalgrimaud commented on #2669
Like Deepu said :

I used your .yo-rc.json and no problem for generating a JHipster application

[2016-01-22 19:56] pmadridb commented on #2239
You didn't exactly point out how you fixed this issue.

[2016-01-22 22:46] geraldhumphries commented on #2657
One problem I'm running into is that Bootstrap's pagination directive keeps resetting `page` to 1. This is because it checks the total number of pages and will set the `current` page to the last page if `current > total`. See http://stackoverflow.com/questions/27911740/ui-bootstrap-pagination-resetting-current-page-on-initialization

On state transition, `totalItems` is undefined because the `load

[2016-01-22 22:52] pascalgrimaud commented on #2672
You're correct, @The-Crocop
Do you want to fix it, by PR ?

[2016-01-23 01:26] ouyangshixiong commented on #2666
### Thank you very much. @cbornet  @deepu105 @jdubois
### Sorry if I offended you. @pascalgrimaud

Let recalls the way I create the project "soup"：
I‘m doing part time job for a friend's company for free, After I found jhipster project, I think it is a excellent architecture, It may help me to make the backend of the project quickly( The front using Android & iOS).

Because there are not data at t

[2016-01-23 02:00] deepu105 commented on #2668
Ok Amit, I do understand your pain thats why I havent closed this issue :)

@jhipster/developers doing this as a command line option should be feasible
and if im not wrong shouldn't be too much of a change, let me take a look
and post what needs to be done and if everyone agrees we can do it
On 23 Jan 2016 01:26, "Amit Jindal" <notifications@github.com> wrote:

[2016-01-23 02:05] deepu105 commented on #2239
Check the commit mentioned
On 23 Jan 2016 03:56, "Pedro Madrid" <notifications@github.com> wrote:

[2016-01-23 03:34] deepu105 commented on #2672
@The-Crocop add it to the JHipster reserved words

[2016-01-23 04:25] amitjindal commented on #2668
Great. Thanks for your kind consideration.

Here's what I did (attached as a patch). See if this helps. This is from early Oct so probably won't apply directly but it has been working for me for a while now.

Doing this the problem we see is Liquidbase file is regenerated with a new name and liquid base fails because it complaints table already exists (doh). We have to manually remove the older fi

[2016-01-23 05:05] deepu105 commented on #2668
@amitjindal we will consider if others in our team agrees otherwise sorry

[2016-01-23 05:12] amitjindal commented on #2668
Sure. That's okay.

[2016-01-23 08:14] pascalgrimaud commented on #2668
From my point of view, it's a very interesting feature request!

I see 2 ways how we can work:
- directly in core
    - it should not break our current sub entity generator
    - it should be tested on all db (mysql, psql, oracle, mongo, cassandra)
    - as it is complex, we can have a lot of tickets about it, so a lot of work
- as a module
    - maybe @amitjindal you want to lead this module or @

[2016-01-23 09:08] pascalgrimaud commented on #2666
no problem @ouyangshixiong
So you used jhipster-uml ! Maybe something related to jhipster-uml ?

[2016-01-23 09:09] pascalgrimaud commented on #2648
Yes ! :+1: too !

[2016-01-23 09:54] jdubois commented on #2645
Yes, that would avoid the name clashes -> not a perfect solution, but with AngularJS 1.x there isn't much choices

[2016-01-23 09:59] jdubois commented on #2662
Yes we need a solution for this in production, great idea!

[2016-01-23 09:59] #2660 closed

[2016-01-23 09:59] #2665 closed

[2016-01-23 10:00] #2658 closed

[2016-01-23 10:03] jdubois commented on #2671
Yes it should be simple!

[2016-01-23 10:23] ouyangshixiong commented on #2666
I had spent some time try to minimize the rang of the bug.
Now I think it is obviouse.
Follow these step, you will reproduce the bug.

1. Upgrade jhipster and jhipster-uml to the latest version.
2. Run yo jhipster generate jhipster code
3. Run jhipster-uml soup.jh generate business model code
4. Run mvn clean compile
5. Run mvn liquibase:diff generate liquibase changelog

Open the changelog file ,

[2016-01-23 10:40] ouyangshixiong commented on #2666
I had spent some time try to minimize the rang of the bug.

Follow these steps, you will reproduce the bug.

1. Upgrade jhipster and jhipster-uml to the latest version.
2. Run yo jhipster to generate jhipster code
3. Run jhipster-uml soup.jh to generate business model code
4. Run mvn clean compile
5. Run mvn liquibase:diff to generate liquibase changelog

expected outputs:
1.There is no changes in

[2016-01-23 11:03] cbornet commented on #2666
Seems that some JoinColumn annotations are missing on OneToOne and OneToMany

[2016-01-23 12:29] andidev commented on #2645
So will we merge this if I'll fix a PR?

[2016-01-23 14:52] phouverneyuff opened #2674 "Email user not null in database model"
The jhipster default code should generate @NotNull above the email property in User.java and put nullable="false" in liquibase

I saw in register.html that the field email is required. Is this a bug?

[2016-01-23 16:28] gmarziou commented on #2648
I'm not fully convinced by CSV exporting done by a JS grid, in my experience you'll get better performance from server download unless of course you want to be able to select which rows to export.

BTW, what about replacing our entity table by a real grid  with better look and more features like either ui-grid you mentioned or [ag-grid](https://www.ag-grid.com/) ?

[2016-01-23 16:30] mraible commented on #2648
I've used this on a project before:

https://github.com/asafdav/ng-csv
On Sat, Jan 23, 2016 at 10:28 Gaël Marziou <notifications@github.com> wrote:

[2016-01-23 17:32] deepu105 commented on #2648
I used Ui grid on a JHipster project and i was satisfied with performance
and quality of the csv download and pdf rather than doing a server side
option, but if i wanted excel etc i might go sever side
On 24 Jan 2016 00:30, "Matt Raible" <notifications@github.com> wrote:

[2016-01-23 17:42] amitjindal commented on #2668
I didn't think of this as a module but that might work. All we need is ability to add and regenerate. However asking the same questions again with all dependencies will be duplicated work. I don't know how to write such a module but will read about that.

[2016-01-23 18:00] cbornet commented on #2648
@deepu105 does the csv download work with our server-side pagination ?

[2016-01-23 18:13] cbornet commented on #2662
We can also catch exceptions in in the existing ExceptionTranslator. The advantage is that it can be used client side to print an alert
What do you prefer ?

[2016-01-23 19:05] The-Crocop commented on #2672
OK will do.

[2016-01-23 19:33] ruddell opened #2676 "Paginate Audits"
* **Overview of the issue**
Over the course of a month (the default audit page period), the number of audit events to display can add up.  The Audit Resource currently returns a list of all the audit events, and each event is joined with the event type resulting in another query for each result.  This has been happening since before 2.0.

* **Motivation for or Use Case**
Loading the Audits page ca

[2016-01-23 19:48] jdubois commented on #2645
As far as I'm concerned this is a good idea and should be merged -> this is quite an important change, thus, so I'd be happy to have other people feedback

[2016-01-23 23:44] geraldhumphries commented on #2657
I've updated the gist. Everything is working except the sorting icons in the table headers.

https://gist.github.com/geraldhumphries/e1adec511d9fc43ad665

I've added my thoughts on the changes as comments in the code. Let me know how it looks.

[2016-01-24 01:31] deepu105 commented on #2668
I too think that a module will be a lot of duplicated work
On 24 Jan 2016 01:42, "Amit Jindal" <notifications@github.com> wrote:

[2016-01-24 01:34] deepu105 commented on #2648
I didn't use server side pagination with Ui grid coz it was handling 50,000
rows without a sweat so client side pagination was more than sufficient,
reading ui grid docs they do support server side pagination and sort
On 24 Jan 2016 02:00, "Christophe Bornet" <notifications@github.com> wrote:

[2016-01-24 01:35] deepu105 commented on #2676
Ya this should be paginated its a lot of entries
On 24 Jan 2016 03:33, "Jon Ruddell" <notifications@github.com> wrote:

[2016-01-24 01:36] deepu105 commented on #2645
Im ok with it since most of you agree
On 24 Jan 2016 03:48, "Julien Dubois" <notifications@github.com> wrote:

[2016-01-24 09:59] wimdeblauwe commented on #1939
I have noticed that there is still a recommended tag on Grunt in 2.27.0. I found this issue because I was trying to figure out why it is recommended. It it still recommended to use Grunt (our front-end devs like Gulp more).

If Grunt and Gulp should be on par, then maybe the page http://jhipster.github.io/development/ should be updated to reflect how to use the live reloading with Gulp?

[2016-01-24 10:42] deepu105 commented on #1939
Problem is we dont have anyone actively maintaining our gulp part and the
core team mostly uses grunt so we couldn't put more effort to keep gulp in
line with grunt.

Yes gulp seems more user friendly and stable now so if anyone comes forward
to update and contribute we would be happy to remove the recommended label
for grunt. We have done it for gradle earlier and removed label since our
gradle s

[2016-01-24 10:48] atomfrede commented on #1939
I'm using gulp a lot at work, its pretty cool and I think I like it more than grunt. But as @deepu105 said we don't have a maintainer for that part. Does anybody know the current state of the gulp support? Are all features of our grunt build supported?

[2016-01-24 10:52] deepu105 commented on #1939
I would also like to add few points.

After trying both grunt and gulp i would definitely prefer gulp
- as it is much more faster than grunt due to its streaming of files
opposed to io in grunt
- gulp is less verbose and easier to configure than grunt.
- less lines of code than grunt for similar setup
- you can do everything in gulp which you could do in grunt
- angular, yeoman and many big projec

[2016-01-24 10:54] deepu105 commented on #1939
@atomfrede lets try to get our gulp on par with grunt. Then we can remove
the recommended label

On Sun, 24 Jan 2016 6:52 pm Deepu K Sasidharan <d4udts@gmail.com> wrote:

[2016-01-24 10:54] atomfrede commented on #1939
@deepu105 You are absolutly right. Same experience from my side. We used grunt first (using windows at work) and starting up a browsersync server is much faster with gulp even the project is larger than the one using grunt.

[2016-01-24 13:27] ngasull commented on #1939
Hello hipsters, @pascalgrimaud brought me here!

A lot people now - especially among frontend and fullstack devs - prefer gulp over grunt mostly because of its principle: code over configuration. Morover, gulp community grew huge (see that [grunt](https://www.npmjs.com/package/grunt) and [gulp](https://www.npmjs.com/package/gulp) npm downloads are comparable, gulp is even higher) Thus I highly enc

[2016-01-24 13:27] hirro commented on #2387
Sorry, didn't see this until now. But sure, I will send you a mail.

[2016-01-24 13:28] ma2tkraus opened #2677 "Allow Anonymous Access To An Entity, 401 Error"
I'm trying to generate a page that users can see without being logged in, i.e., for anonymous access.  It is unclear from the documentation on how to accomplish this.

To access an entity anonymous, the Jhipster documentation states:

To accomplish this the 'roles:[]' element is left empty

    .config(function ($stateProvider) {
        $stateProvider
            .state('show', {

[2016-01-24 13:40] deepu105 commented on #1939
Thats great, we need to compare the gulpfile with gruntfile to see if all
options are covered, next we should test and make sure everything wirks
fine, need to check browsersync part which was having issues all the time
On 24 Jan 2016 21:27, "Nicolas Gasull" <notifications@github.com> wrote:

[2016-01-24 13:47] atomfrede commented on #1939
I've created an app with gulp. Surprisingly browser sync seems to work quite well. The prod build is not working at all 😢

[2016-01-24 14:05] pvlastaridis opened #2678 "What if we had some kind of backend ui, instead of jhipster-uml then we reach django python functionality"
Let's make Jhipster a web framework!!!

[2016-01-24 16:44] lusorio commented on #2078
I experienced the same issue but was solved by just relaunching the project. The tables were not created in the DB and therefore the error. Relaunching made liquibase to update the tables and worked fine. I guess this is the normal behaviour for liquibase (?)

[2016-01-24 18:10] jdubois commented on #1939
It's like our support for Gradle and Maven, the problem is that:

- Supporting both tools makes everybody happy (otherwise we would lose a good share of our users)
- But it's too much work for us to support both of them!

The current state is that most people use Grunt, including me, and that's why it's the recommended option, as we know there are less bugs.

We could do a bold move and migrate to

[2016-01-24 18:12] jdubois commented on #2676
Yes of course!

[2016-01-24 18:21] jdubois commented on #2662
I haven't used the ErrorAttributes bean yet, so I'm totally sure of this.
But yes, the ExceptionTranslator is supposed to be here for this reason, so I guess it's better to use it. And indeed, it would be good to provide some feedback in the UI. Maybe something in the main layout, as this could happen anywhere, warning that there was a server error.

[2016-01-24 18:32] jdubois commented on #2657
If it also fixes #2387 that's definitely a good enhancement!!

[2016-01-24 18:49] jdubois commented on #2668
Indeed, this has been asked many times, and is a bit difficult for us as we expect people have modified their code, so we could have all kind of issues. So 2 solutions here:

- We re-generate the code with the new attribute -> then the user will have to do the merging himself. This is the safest option for us, as we send all the burden of merging to the user :-)
- Use the new needles we worked on

[2016-01-24 19:29] ruddell commented on #2677
The stateProvider only restricts client side access to a specific state.  If you also want to open the API endpoint to the public, you have to enable access to it in java/config/SecurityConfiguration. Here's a link to the line where to add this [in the sample app.](https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/java/com/mycompany/myapp/config/SecurityConfiguration.java#L107-L

[2016-01-24 21:28] ma2tkraus commented on #2677
Perfect answer.  Problem solved.  Thanks!

[2016-01-24 21:28] #2677 closed

[2016-01-25 00:44] deepu105 commented on #2678
Is this a feature request?  If so please be more specific.
Jhipster is already a web app framework

[2016-01-25 00:49] deepu105 commented on #2678
If im not wrong Jhipster does more than what django does and in a more efficient and user friendly way

[2016-01-25 01:01] geraldhumphries commented on #2657
I realized that I don't need to move the querying to resolve.

I did some testing with a simulated 5 second delay (just `Thread.sleep(5000)` in the resource) and have concluded that it's much nicer to load data in the controller instead of resolve *for long requests* so the state loads right away.

Upsides of not using resolve:
* Slightly nicer UX, since the page loads right away and the table is

[2016-01-25 01:06] deepu105 commented on #1939
Julien,  yes its true that we need not invest more time here, but I think
we need to give gulp a chance by fixing it and removing the label.  The
usage ratio is less coz Most of the people who use Jhipster would be
backend devs who are not very familiar with Gulp or Grunt so they just
choose our recommended tool. I can boldly say that anyone who have used
both on a real project will never go back

[2016-01-25 01:09] geraldhumphries commented on #2657
More questions:

1. Should I add `pagingParams` to the controller's scope and use it directly, instead of adding each of its attributes individually?
1. Should I separate the `sort` param into `predicate` and `direction` so I don't need to separate them out of the string?

[2016-01-25 01:13] deepu105 commented on #2668
@jdubois

"Read the entity configuration again, and then add the ability to add,
edit, or even delete attributes (and maybe relationships in a second time)"

this is exactly something i asked as a feature when i was new to Jhipster :)

Ill take look at the feasibility later, i think should be doable
On 25 Jan 2016 02:49, "Julien Dubois" <notifications@github.com> wrote:

[2016-01-25 01:22] deepu105 commented on #2657
I wouldn't want long requests in resolve without a proper loading page. So
if we are doing it there we need to do proper loading page for the state as
well.

Also is it really the routers responsibility to handle data? Im bit
confused on that
On 25 Jan 2016 09:09, "Gerald Humphries" <notifications@github.com> wrote:

[2016-01-25 01:36] geraldhumphries commented on #2657
I looked into it, we are already using the angular-loading-bar directive. I thought it was a Chrome feature until now.

It is not necessarily the router's responsibility, no. But it is the purpose of `resolve`. These are two different styles each with upsides and downsides, see johnpapa [Y080](https://github.com/johnpapa/angular-styleguide#style-y080) vs [Y081](https://github.com/johnpapa/angular-

[2016-01-25 06:34] hirro commented on #2657
Speaking pagination and of long delays:

When testing with different paginations alternative, I noticed no-pagination makes the page unresponsive until all entities are loaded. This takes ~8-10 seconds for 2000 rows. This pagination is visually similar to infinite pagination, maybe just remove the no-paging option?

Btw,  fixing #2387 takes a bit longer than expected due to the templating and DTO

[2016-01-25 08:13] MathieuAA commented on #2678
Is it April fool's day already? :joke
More seriously though, JHipster UML is not a backend UI, at all.

[2016-01-25 09:27] jdubois commented on #2668
@deepu105 yes, to me this looks a bit complex to do, so I've always been reluctant to do this, but maybe with your new refactoring, and some clever code, this could be done with a few lines of code

[2016-01-25 09:39] jdubois commented on #2657
Very interesting points @geraldhumphries !!
It's hard to decide which option is best, at the moment I have a preference for NOT using resolve as:

- The UI would be better -> the end-user are more important than the beauty of our code :-)
- Here we only generate simple screens, but for more complex screens, with several different entities, it seems more logical to me to handle them in the controll

[2016-01-25 10:01] jdubois commented on #2678
I'm not totally sure of what you mean -> I don't think we could run JHipster inside a JHipster generated application, as the technologies are very different.
I'm also not sure of the use case, it looks like the current Yeoman questions are good enough for simple needs, and of course we have JHipster UML for more complex needs

[2016-01-25 10:01] #2678 closed

[2016-01-25 10:50] cbornet commented on #2671
It seems that we aren't using MessageSource autoconfiguration but that we configure it explicitly in LocaleConfiguration.java.
There is a spring.message.basename in application.yml but the autoconfiguration condition doesn't match because it looks for ```classpath*:classpath/i18n/messages*.properties``` on 1.3.1 and  ```classpath*:classpath/i18n/messages.properties``` on 1.3.2.
So I think it's saf