[2016-10-19 12:30] deepu105 commented on #4331
Would you consider doing a PR to correct the docs?

Thanks & regards,
Deepu

On 19 Oct 2016 17:50, "Octavio Amuchástegui" <notifications@github.com>
wrote:

[2016-10-19 12:34] octavioamu commented on #4331
Yes, I will upgrade my version of jhipster in my project and make the corrects tests. I want to take a look deeper to the css/sass tasks because in my browser is reloading all the page each time I change something and also I had to save main.scss to any _custom-file.scss take effect.

[2016-10-19 12:45] mehmet-aslan commented on #4344
I think clob type could use same validation prompts of string type.
This will change structure of json files from
[code]
to
[code]
and annotations will change to `@Size` without requiring any other change.

Is backward compatibility required for old json files while the blob option is in beta?

[2016-10-19 13:37] deepu105 commented on #4344
Why not use min and max and just change the annotation accordingly? I don't
like to break stuff unnecessarily even for beta

Thanks & regards,
Deepu

On 19 Oct 2016 18:15, "Mehmet Aslan" <notifications@github.com> wrote:

[2016-10-19 13:40] beaussart opened #4356 "Many-To-Many dto compile error"
##### **Overview of the issue**

When there is a Many-To-Many of an entity with himself, the mapstruct dto fail to compile. The mapper throw a `java.lang.StackOverflowError` when doing so.

##### **Motivation for or Use Case**

I need for a project to have a entity Step requiring previous Steps to be done before and I would like a dto for the rest endpoint.

##### **Reproduce the error**

Just cre

[2016-10-19 15:34] mehmet-aslan commented on #4344
It will bring some duplicate code to field_validators.
[code]
These lines need to be copied and changed to min and max fields only for clob fields.

Alternatively, if json file contains min and max fields, they could be treated as minlength and maxlength at regeneration time to not break anything.

[2016-10-19 18:20] PierreBesson commented on #4317
We should be able to switch to yarn now that @sendilkumarn 's PR is merged and released upstream: https://github.com/yarnpkg/yarn/releases/tag/v0.16.0
Congrats Sendil !

[2016-10-19 18:33] raphaelbrugier commented on #4205
Hi,

Thank you both for your answers.

Ok, let's keep it simple and just add a warning in the documentation page to explain it's up to the users to tweak for their needs (more fault tolerant == more complicated).

I'll just port the Kafka docker-compose file to k8s.

@pascalgrimaud
About volumes:
- I don't know about ELK and Consul but for Cassandra the volume section in the docker-compose file ge

[2016-10-19 18:58] pascalgrimaud commented on #4205
@raphaelbrugier :
I was refering to this https://github.com/jhipster/generator-jhipster/blob/master/test/templates/compose/05-cassandra/src/main/docker/cassandra-migration.yml#L12-L13

With Kubernetes, we have probably to find another way to play CQL scripts

[2016-10-19 19:18] MathieuAA commented on #4317
Not yet... yarn's support is not widely "on" right now (check TravisCi PR about it [here](https://github.com/travis-ci/travis-ci/issues/6720) for instance). If you guys wanna use it, you can as it's on top of NPM but don't expect to see big differences... it's the opposite right now (check JHipster Core's yarn-dedicated branch, or better [this](https://twitter.com/kentcdodds/status/786286125786669

[2016-10-19 19:40] ruddell commented on #4354
@pascalgrimaud Thanks for looking into this!  With those changes, I get a [different error](https://gist.github.com/ruddell/30904cd8f9b58f6b941be79d10d90e1a).  You get this error if you use the docker-compose subgenerator, so we're making progress!

The important change from above is the ENV var override.

[2016-10-19 20:14] pascalgrimaud commented on #4354
@ruddell : strange, I generate docker-compose.yml file with the sub docker-compose generator, using my project (modified accordingly on what I copy/past above)
Everything works fine for me:
[code]

[2016-10-19 20:22] pascalgrimaud commented on #4317
Like @MathieuAA said, let's wait.
Yarn is not stable yet and it's not so easy to make it work with Travis.

Here what I tried:
- 1st build without cache : all ok
- 2nd build using the existing cache: fail with PhantomJS

I have one question: what is the equivalent of `npm test` ?

[2016-10-19 20:31] MathieuAA commented on #4317
`yarn run test`... they haven't exposed everything yet.

[2016-10-19 20:32] MathieuAA commented on #4317
You can see every command [here](https://yarnpkg.com/en/docs/cli/).... but I've yet to see a project fully support the bare minimum as people do with NPM.

[2016-10-19 20:42] pascalgrimaud commented on #4317
Thanks Matthieu! The last time I look, I didn't see it...

[2016-10-20 05:10] haifzhan commented on #3725
@lrkwz any luck?  I encountered the same issue when I use getCurrentUserLogin() in my EntityResource file.  The Unit Test always fail and I don't know how to create a Mock User...

[2016-10-20 06:27] jdubois commented on #4356
Can you write a better title? I have never done a unidirectional many-to-many association on the same entity... That's really not an obvious use case. I don't even know if it works without DTOs.

[2016-10-20 07:58] deepu105 commented on #4317
yes lets wait

[2016-10-20 08:31] xetys commented on #4272
IMHO using springs default solutions is more comfortable with our policies, then providing custom solutions, so feel free to go ahead :smile:

[2016-10-20 09:20] somewhereMrli opened #4358 "Suggestions on Generating Large Numbers of Entities"
Why not generate code from the database, so as long as the tools to support the generation of the database can be easily used, and now this is generated from the xml code is not suitable for complex engineering code migration.

[2016-10-20 09:52] somewhereMrli opened #4360 "How can I specify uml when exporting tables and properties of aliases"

[2016-10-20 10:22] deepu105 commented on #4358
If you have a feature request please provide use case with proper explanation and solutions if any.

Please follow our [guidelines ](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#issue) when opening issues if you want us to help you.
For bug reports please follow the template pre populated [here](https://github.com/jhipster/generator-jhipster/issues/new)
Open a new iss

[2016-10-20 10:22] #4358 closed

[2016-10-20 10:24] deepu105 commented on #4360
This is not a bug or feature request and hence this is not the correct forum for this.
Please use Stack overflow for this. Tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster) and someone will help you out there.

This helps us to keep issue tracker clean. Also stack overflow will give your query a larger audience.

[2016-10-20 10:24] #4360 closed

[2016-10-20 11:47] jdubois opened #4362 "Use HTML5 pushState"
We currently use a hash in our URL to handle our routing.

I'm currently working for a customer who wants to have his application crawled by Google, with (obviously) a good SEO.

- Using HTML 5 pushState removes the hash -> makes the URL a bit nicer, but until today I haven't found a better usage for that
- This can be used by the Google crawler to index the page correctly -> if you have the hash,

[2016-10-20 11:55] deepu105 commented on #4362
we already discussed this in https://github.com/jhipster/generator-jhipster/issues/2965

Also we had below requests for the same as well

https://github.com/jhipster/generator-jhipster/issues/1297
https://github.com/jhipster/generator-jhipster/issues/374

This is definetely good for SEO but bit tricky to do on NG1 but easier on NG2. For NG2 im gonna add a step to do this as default

[2016-10-20 12:01] jdubois commented on #4362
Oh sorry, I did a search on "pushState" and didn't see those...
I'm really tired, as [this comment](https://github.com/jhipster/generator-jhipster/issues/1297#issuecomment-89344900) perfectly summarize everything, and I wrote it myself :-)
OK let's not do this in JHipster (but I'll do it for my client, of course)

[2016-10-20 12:01] #4362 closed

[2016-10-20 13:55] chegola commented on #4276
I 've tried a couple of experiments and seemed that this issue is not a bug as secure web https would need certificate and keys. Myself dont have much experience on this. If I just generate jhipster with statefull option and deploy on Heroku I ll get http and social works fine. So I ll close this and thank @jdubois for your reply.

[2016-10-20 13:55] #4276 closed

[2016-10-20 14:46] jdubois opened #4363 "CloudFoundry + MongoDB is broken"
From my stats, very few people are using CloudFoundry (10 times less than Heroku!), which is probably why we didn't see this.
Besides, there is only a "free" plan, which is very limited and not production-ready, on the CloudFoundry marketplace.

Choosing CloudFoundry + MongoDB doesn't work as we have both `CloudDatabaseConfiguration` and `CloudMongoDbConfiguration` which get configured, and which

[2016-10-20 15:05] jkutner commented on #4363
No problem on Heroku (from what I can see with a smoke test of 3.9.1). Please let me know if there is something more subtle.

[2016-10-20 16:44] dilipkrish commented on #4303
Also just to note that this is not an issue per se, unless someone can confirm otherwise.

__This is a debug message__.

We explicitly added a corruption layer to shield consumers from changes in 2.6 vs 2.7 vs 2.8 of jackson. So this is just a message indicating that "we tried doing X with 2.6 and now we're going to try with 2.7".

[2016-10-20 18:17] jdubois commented on #4363
I will commit a fix soon

[2016-10-20 20:43] raphaelbrugier commented on #4205
Oh thanks Pascal, I forgot about this one :).
Yes, we'll have to rethink how to apply the CQL scripts when deploying in k8s.
I have always preferred the idea to have the deployment pipeline responsible for applying the scripts, so it really depends on what we want to achieve with the k8s default setup.

I have not make any progress on Kafka because I'm running into a problem with the existing k8s

[2016-10-20 21:03] pascalgrimaud commented on #4205
Can you look at :
- issue: https://github.com/jhipster/generator-jhipster/pull/4364
- PR: https://github.com/jhipster/generator-jhipster/pull/4364

Maybe it's related to this issue

[2016-10-20 21:44] jdubois commented on #4363
I will merge this with #4349 as it's related

[2016-10-21 05:30] ehillis commented on #1833
no answer to this?   I'm seeing the same error.. this was over a year ago.. and still not resolved???

[2016-10-21 06:09] PierreBesson commented on #1833
@ehillis please dont comment on an old issue. Open a new one if needed. Have a look at #4363 mongodb + cloudfoundry is currently broken and is getting a fix soon. Please provide feedback as you are one of the few users using cloudfoundry and mongodb.

[2016-10-21 06:33] ehillis commented on #4363
I made a comment on this "old issue" because I didn't see it resolved anywhere else..   is the circular reference fixed (or about to be?)    I'm using bluemix because it offers a free (30 day trial), and I assumed that to use heroku with mongodb I would need to pay $18/month just to "try" it...  heroku did NOT seem to work for me (out of the box), it was getting an error with a MONGODB environment

[2016-10-21 06:51] gaurav20-07 commented on #4313
@deepu105 the commit of ng2-translate is not working. The contents of i18n folder are not getting loaded when the app is run.

[2016-10-21 07:02] deepu105 commented on #4313
Try the latest angular2 branch. Generate an app with more than 1 language, make sure your npm install, bower install and gulp install finish successfully after that check. If you still see an issue give me more details like stack trace, any errors, your yo-rc.json etc

[2016-10-21 07:39] xetys commented on #3664
A brief update on this: I started working on this a few days ago, and it seems to all of our ng1 http interceptors aren't working anymore. Until yet I only managed it to build a one time request interceptor using `BaseRequestOptions` and looking for a per-request way to go.

Will report, when I get more results

[2016-10-21 08:54] #4354 closed

[2016-10-21 08:55] ruddell commented on #4354
Your change fixes it for me on Ubuntu, thanks.

On my Mac, I still get the second error `Caused by: java.lang.IllegalArgumentException: Broker cannot be null` ([full stacktrace](https://gist.github.com/ruddell/30904cd8f9b58f6b941be79d10d90e1a)).  I'm on Docker beta so it could be due to that.  I'll update if I find out anything.

[2016-10-21 08:58] pascalgrimaud commented on #4354
I don't have Mac, so I can't test sorry.
Should we change the title and reopen this ?

[2016-10-21 10:18] davidweianibone commented on #3599
Hi, I have the same issue and followed jdl docs.
Didn't quit understand if and why do I need to specify my microservice name.
I have used the jhipster uml to generate the micro services entities.

[2016-10-21 12:15] #4363 closed

[2016-10-21 12:16] jdubois commented on #4363
@ehillis it should work now on Cloud Foundry
There shouldn't be such a problem on Heroku, as it's not working the same way (or this is a whole different issue)

[2016-10-21 12:50] octavioamu commented on #4331
I had made a pr #4366  about the problem with imports in main.scss will fix part of the problem the others is in the docs, but I will se if I find some better solution than remove a line in bower

[2016-10-21 20:26] nkolosnjaji commented on #4346
this can be closed now PR was merged, but I didn't put correct **FIX** footer commit message

[2016-10-21 20:32] #4346 closed

[2016-10-21 21:57] tezcane commented on #3599
Same issue as @davidweianibone .   It would be nice if the JDL documentation had a simple step 1. 2. 3. guide on how to make entities on the microservice (using JDL studio) then import these entities into the gateway.  I have found, there is a lot of gray area around JDL studio.   Although an awesome tool, I wish the documentations were a little clearer.  Once I learn it I was hoping to contribute

[2016-10-21 22:58] tezcane commented on #3599
@davidweianibone got it working by deleting .yo-rc-global.json which was in my home folder.  It was pointing to generator v3.8.0, but I had upgraded to v3.9.1 today.

[2016-10-21 23:48] davidweianibone commented on #3599
Don't find such file in my project. The only file I have is .yo-rc.json which looks like this
{
  "generator-jhipster": {
    "jhipsterVersion": "3.8.0",
    "baseName": "AniBoneGateWay",
    "packageName": "com.anibone",
    "packageFolder": "com/anibone",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "hazelcast",
    "webs

[2016-10-22 08:45] pascalgrimaud commented on #3599
Plz guys, don't camp on old tickets.
If you have an issue, plz open a new one, with :
- full configuration, projects, entities ( all .yo-rc.json, all jdl files and/or all .jhipster/*.json etc...)
- all steps precisely to reproduce quickly the bug

[2016-10-22 17:14] pascalgrimaud commented on #4205
@raphaelbrugier : I retry to deploy a simple monolith application. Everything works fine on my minikube

[2016-10-22 18:33] davidweianibone opened #4370 "Failed to generate gateway entities from microservie"
##### **Overview of the issue**

Trying to generate gateway entities from an existing microservice ends with error:
.jhipster/Business.json not found in /Users/david/git/AniBoneMcrServic/

I checked and the file exists in the specific location.
The file and folder that were created are hidden! Could be this is the issue ?

##### **Motivation for or Use Case**

Cannot create entities for the gatewa

[2016-10-22 18:54] pascalgrimaud commented on #4370
@davidweianibone : can you show your microservice configuration too plz ?

[2016-10-22 18:56] raphaelbrugier commented on #4205
Thanks @pascalgrimaud,
Yes, my problem is with a very simple JHipster monolith application from scratch with just a MySQL database.
It was working fine the first time I used the k8s generator, but I doest not work anymore.

I'll give it another try tomorrow with a fresh install of minikube and the latest JHipster master.

[2016-10-22 19:04] #4228 closed

[2016-10-22 19:11] davidweianibone commented on #4370
Sure

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

AbUser.json

[code]

Address.json

[code]

Article.json

[code]

ArticleCategory.json

[code]

AssetLocation.json

[code]

AssetSpecs.json

[code]

Business.json

[

[2016-10-22 19:52] pascalgrimaud commented on #4370
@davidweianibone : it's because there is no microserviceName in all of your JSON file

1) Can you add this in your `AniBoneMcrServic/.jhipster/Business.json` :
[code]
Then, retry: `yo jhipster:entity Business` on your gateway

2) now, we need to know how did you create all of JSON ?

[2016-10-22 20:08] gmarziou commented on #4356
mapStruct has an issue about cycles: https://github.com/mapstruct/mapstruct/issues/469

Looks like they have á recent fix

[2016-10-22 20:14] davidweianibone commented on #4370
I have created them using UMLDesigner and jhipster-uml.

Did I missed anything, so the microserviceName was not created ?

[2016-10-22 20:19] pascalgrimaud commented on #4370
Here is the related docs https://jhipster.github.io/jdl/#microserviceoptions
Probably:
`microservice * with AniBoneMcrServic`

[2016-10-22 20:26] pascalgrimaud commented on #4370
Just made some tests on my side, everything is OK. I'm pretty sure you miss this microservice name, that's why you can't generate entities from microservice, in your gateway,
So I'm closing this

[2016-10-22 20:26] #4370 closed

[2016-10-22 20:28] davidweianibone commented on #4370
I have added the line and still getting same error
.jhipster/Business.json not found in /Users/david/git/AniBoneMcrServic/

{
  "fluentMethods": true,
  "relationships": [
    {
      "relationshipType": "one-to-one",
      "relationshipValidateRules": "required",
      "relationshipName": "addresss",
      "otherEntityName": "address",
      "otherEntityField": "id",
      "ownerSide": true,

[2016-10-22 20:43] pascalgrimaud commented on #4370
Maybe I'm doing wrong in my test, I name my project `AniBoneMcrServic` instead of `AniBoneMcrService`
-> is there a missing `e` ?

[2016-10-22 21:22] davidweianibone commented on #4370
Yap! This did the trick :)
Thank a lot!

Not sure tho were I was suppose to set the: microservice * with AniBoneMcrServic
Inside the UML file ?

[2016-10-22 21:25] pascalgrimaud commented on #4370
`microservice * with AniBoneMcrService` need to be set in the jdl file:
https://jhipster.github.io/jdl-studio/

[2016-10-22 21:30] davidweianibone commented on #4370
But I don't have a JDL file :)
I used UMLDesigner and have only UML

[2016-10-22 21:38] davidweianibone commented on #4370
I mean, where did I needed to add this line so all the json files in .jhipster folder to be created properly

[2016-10-22 21:48] pascalgrimaud commented on #4370
Oh I see, I have no idea how it works with the UML
I ping @MathieuAA our JHipster UML expert

[2016-10-22 21:49] davidweianibone commented on #4370
Great! Many thanks again :)

[2016-10-22 21:52] pascalgrimaud commented on #4370
I think it's already done.
Have a look:
- https://github.com/jhipster/jhipster-uml/issues?utf8=%E2%9C%93&q=microservice
- https://github.com/jhipster/jhipster-uml/issues/168

[2016-10-23 17:28] codebusta commented on #4303
I do confirm that this issue occurs in the latest jhipster application. The default JacksonConfiguration is as follows:

`@Configuration
public class JacksonConfiguration {

    public static final DateTimeFormatter ISO_FIXED_FORMAT =
        DateTimeFormatter.ofPattern("yyyy-MM-dd'T'HH:mm:ss.SSS'Z'").withZone(ZoneId.of("Z"));

    @Bean
    public Jackson2ObjectMapperBuilderCustomizer jacksonCust

[2016-10-24 01:58] #4347 closed

[2016-10-24 06:05] pascalgrimaud commented on #4205
I begin to work on consul

[2016-10-24 08:38] Dufgui opened #4372 "[FEATURE] Remove entity"
##### **Overview of the issue**

Remove all files of generated for one entity by the entities sub generator
##### **Motivation for or Use Case**

Many people ask to remove entity.
##### **Suggest a Fix**

add an option to the entity generator or create a dedicated sub generator
##### **JHipster Version(s)**

All

[2016-10-24 08:41] Dufgui commented on #4372
PR #4369

[2016-10-24 08:46] Dufgui commented on #4372
So to summarize / quote all opinions from the PR chat:
Pros:

- A lot of people are requesting this

Cons:

- I don't think it's useful, you should better use Git to rollback your changes
- It adds a lot more code in the generator, and that's going to be annoying to maintain (now we must always write code to "undo" what we do in the generator)
- I'm afraid it will lead into an increasing number of

[2016-10-24 08:50] jdubois commented on #4372
There's another "Pro": it might makes upgrades easier

[2016-10-24 08:51] Dufgui commented on #4372
**My answer:**
according to the result of this chat:

- I am ok to move the code to a dedicated generator
- I am ok to just delete the files and not update the modified filed but I can log a warn on file to modified. but I think it's boring to remove a feature just because  it's a little more effort to the update. If we do a good unit test we must see it.

[2016-10-24 08:55] jdubois commented on #4372
OK let's wait a couple of days to have comments from other contributors (and also end-users!), but +1 for me, if so many people ask for this.

[2016-10-24 08:59] Dufgui commented on #4372
oki doki ;o).
I add a link to here on SO: http://stackoverflow.com/questions/28226336/how-to-delete-an-entity-after-creating-it-using-jhipster/40213511#40213511. In order to have the feedback of end users

[2016-10-24 09:42] cbornet commented on #4372
That's why I also propose the "jhipster:upgrade" way of doing things which would preserve your manual changes.

[2016-10-24 09:45] cbornet commented on #4372
And since you don't need to do any `npm install', the process shouldn't be that long.

[2016-10-24 12:04] #4272 closed

[2016-10-24 12:31] mmaia opened #4373 "Tests generated for ZonedDateTime entity attributes are failing"
##### **Overview of the issue**

Tests generated for ZonedDateTime entity attributes are failing, basically the generated tests are using ZoneId.systemDefault() which causes the test to fail.

The fix is to use UTC instead as discussed here: http://stackoverflow.com/questions/40191004/integration-tests-with-zoneddatetime-using-spring-boot-1-4-error

So this is how it's generated:

[code]

and this

[2016-10-24 13:06] cbornet commented on #4373
What does the tests give if you use ehCache ?

[2016-10-24 13:51] clp334264003 opened #4374 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
##### **Overview of the issue**

An example of an angular2,
The node is started
Combined with jhipster single application login function

console
zone.js?1477316048302:1274 GET http://localhost:8080/api/account
XMLHttpRequest cannot load http://localhost:8080/api/account. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:5555' is therefore not a

[2016-10-24 14:00] jdubois commented on #4374
AngularJS 2 is not released yet, this is in a specific dev branch.
You shouldn't have a CORS error, but it really depends on what you do, etc.

This is not a bug, you are working on unreleased code, so I'm closing it.

[2016-10-24 14:00] #4374 closed

[2016-10-24 15:19] mmaia commented on #4373
Hi @cbornet - I just created a project picking EHCache and I have exactly the same error when running the tests.

[2016-10-24 15:45] cbornet commented on #4373
OK. So this is when you use ElasticSearch with failure on the search endpoint test.
* it's true that it is not wise to use the system TZ in tests. We should set it to a fixed TZ. The easiest is probably UTC as it would be the same jsonpath string to compare between elasticsearch's test and other tests.
* we should also probably set the CI servers TZ to something else than UTC to detect this kind o

[2016-10-24 16:47] roytruelove commented on #2810
+1 on auth not being generated with`--skip-server`.  I ran `yo` with `authenticationType` set to `jwt` in my `.yo-rc.json`

[2016-10-24 17:03] mraible opened #4376 "Add jhiPrefixCapitalized to the list of variables available when creating a module"
Since `<%=jhiPrefixCapitalized%>` is used in templates, I figured I could use the following in my module to expose this variable:

[code]

However, this doesn't work and I have to do the following instead:

[code]

[2016-10-24 20:40] nvoxland commented on #4195
Liquibase-hibernate5 v3.6 has been released

[2016-10-24 21:07] raphaelbrugier opened #4378 "[Kubernetes]Virtualbox 5.0.x is broken with Minikube"
##### **Overview of the issue**

When the two containers, jhipsterapp and jhipsterapp-mysql are run in Kubernetes (minikube), the app can't reach the mysql container.

This follows up the discussion in #4205 where I reported having a problem to run a monolith freshly generated in minikube with kubernetes.
The first time I used the kubernetes generator, this worked but since then every JHipster app

[2016-10-25 00:54] henri-tremblay commented on #4195
Yep. Next step is the PR to jhipster. I have all the working code locally, I "just" need to move it in the generator.

[2016-10-25 04:48] pascalgrimaud commented on #4315
I'm closing this, as I can't reproduce and there is no additional information.
There seems to be 2 different config here:
- 1 for HospitalApp (configuration provided)
- 1 for demoApp (2nd stacktrace)

[2016-10-25 04:48] #4315 closed

[2016-10-25 04:50] #4376 closed

[2016-10-25 06:09] pascalgrimaud commented on #4378
I follow all your steps, but I didn't manage to reproduce...
The only thing I didn't do, is to `docker push`, because I used your docker image

![kubernetes-issue-4378](https://cloud.githubusercontent.com/assets/9156882/19674701/131cc454-9a8a-11e6-8203-1491eace89b9.png)

My versions:
[code]

[code]

I try to upgrade minikube and kubectl, then I will try to reproduce

Note: not related to this issu

[2016-10-25 06:14] pascalgrimaud commented on #4378
Here all my kubernetes configuration:

**jhiapp-deployment.yml**
[code]

**jhiapp-mysql.yml**
[code]

**jhiapp-service.yml**
[code]

[2016-10-25 06:20] pascalgrimaud commented on #4378
Here the description of my pods:

[code]

[2016-10-25 06:24] pascalgrimaud commented on #4373
I confirm this issue in my local.

But using Travis, I didn't manage to reproduce
I tried to change the timezone but it doesn't change anything, all tests are ok:
[code]

[2016-10-25 07:02] cbornet commented on #4373
We have a test with both ES and ZonedDateTime so that's strange...

[2016-10-25 08:28] boubou158 opened #4380 "Changing a property type of an entity"
##### **Overview of the issue**

Hello,

I'm trying to understand how liquibase and entity works with Jhipster because I will need to be able to make a lots of changes in my entities when the project will grow up. I really can't figure out how it works :
If I modify my JPA object, add a new property in the class and launch ./mvnw compile liquibase:diff, I get a good result in the diff change log f

[2016-10-25 08:41] jdubois commented on #4380
I confirm the issue, it looks like the Liquibase goal doesn't support refactoring the type of a property... Then, that would be really strange, what do you want it to do to your database? Like drop the column, and create a new one? Doesn't look a very normal use case.

Also note we are in the process of upgrading Liquibase, so maybe it will solve your issue.

Anyway I'm closing this as this is a L

[2016-10-25 08:41] #4380 closed

[2016-10-25 10:08] shijomj commented on #3539
I want to change default index.html to some another html like login.html how it is possible in JHipster...

[2016-10-25 10:10] shijomj opened #4381 "How To Change default index.html"
I want to change default index.html to some another html like login.html how it is possible in JHipster... I am a newcomer in Jhipster...

[2016-10-25 10:12] jdubois commented on #3539
Please @shijomj don't spam the ticket system, this is the second time today

[2016-10-25 10:13] #4381 closed

[2016-10-25 10:48] sendilkumarn commented on #4378
@raphaelbrugier It is working as expected. I also got this error initially but after deleting everything [ ~/.minikube ] it worked perfect.

[2016-10-25 11:22] delverdev opened #4382 "Use default methods in JpaRepository to separate repository and service layers"
##### **Overview of the issue**

Let's take a look at `UserService`. Methods `getUserWith...` assigned only from controller. But in larger apps they may be assigned from the same service too. If it is, lazy collections will not be loaded and `LazyInitializationException` will be throwed. I don't know details, but Spring uses proxy for transaction s and transaction will be closed before collection

[2016-10-25 12:05] jdubois commented on #4382
Did you check the service layer? It is here to handle such a use case, including transactions, which are defined at this level.

[2016-10-25 12:37] delverdev commented on #4382
The limitation of Spring is when calling method on the same bean, call is not intercepted by the system and no annotation based modifications will be applied. That's why `@Transactional` annotation on `getUserWith...` will not work if they'll be called from the same bean. So if I will call for ex. `getUserWithAuthorities` in `UserService`'s method, it will throw `LazyInitializationException`.

[2016-10-25 12:42] jdubois commented on #4382
Yes that's normal, unless you use AspectJ.
I'm sorry but this is normal Spring, even normal Java stuff: if you call a method within the same bean, the AOP proxies won't be applied. There are many ways to go around this, but usually people do it on purpose (you don't want to have your security annotations applied twice), and that could also be a sign of bad design (you probably need a service layer

[2016-10-25 12:42] #4382 closed

[2016-10-25 18:17] deepu105 commented on #4372
Ok since you moved discussion here ill add my comment here. Sorry for the
spam

I agree with the maintenance issue Julien highlighted. We already have a
solution to reduce it. Since im working on refactoring the write blocks to
use metadata rather than instructions it would be very easy to write or
delete files using a simple function so lot less code to maintain.
But then I agree that not many wo

[2016-10-25 18:17] deepu105 commented on #4372
Im against additing a new sub generator for this. If we are doing this it
should be here as we do create and edit here already so would make sense to
do delete here as well. May be we can add the question to ask for delete
along with regeneration/edit option when re running the generator

Thanks & regards,
Deepu

On 24 Oct 2016 14:22, d4udts@gmail.com wrote:

Ok since you moved discussion here ill

[2016-10-25 18:24] deepu105 commented on #4195
Awesome

Thanks & regards,
Deepu

On 25 Oct 2016 02:10, "Nathan Voxland" <notifications@github.com> wrote:

[2016-10-25 18:24] jdubois commented on #4363
Yes I'm going to fix this for CloudFoundry, and test if it still works for
Heroku.
I have everything working, but I need time to test. And I have no idea when
I will have some free time.

Le 21 oct. 2016 8:33 AM, "ehillis" <notifications@github.com> a écrit :

I made a comment on this "old issue" because I didn't see it resolved
anywhere else.. is the circular reference fixed (or about to be?) I'm

[2016-10-25 18:29] deepu105 commented on #1833
Are deploying to CF?

Thanks & regards,
Deepu

On 21 Oct 2016 11:00, "ehillis" <notifications@github.com> wrote:

[2016-10-25 18:31] ehillis commented on #4363
Thanks!
Do I need to update Jhipster and recreate my project to get mine to work?

On Friday, October 21, 2016, Julien Dubois <notifications@github.com> wrote:

[2016-10-25 18:35] jdubois commented on #4363
You need to wait for the next release, probably very soon

[2016-10-25 18:42] ehillis commented on #1833
I responded to you in #4363 thanks for the heads up!

On Thursday, October 20, 2016, Pierre Besson <notifications@github.com>
wrote:

[2016-10-25 20:14] PierreBesson commented on #4345
Good job @xetys of fixing this upstream ! Spring Cloud just released their Camdem.SR1 but hopefully we can have this fixed in just a matter of weeks.

[2016-10-25 20:43] raphaelbrugier commented on #4378
I have deleted my ~/.minikube and ~/.kube folders and relaunched the minikube then deployed the application but I still have the same error with minikube.

<img width="1907" alt="screen shot 2016-10-25 at 4 39 19 pm" src="https://cloud.githubusercontent.com/assets/579318/19703401/af41cd42-9ad1-11e6-81a5-cca9930741a0.png">

I used the same image and same configuration files to deploy on Google Cont

[2016-10-25 20:44] raphaelbrugier commented on #4378
Here the description of my pods:

[code]

[2016-10-25 21:10] cbornet commented on #4308
I tried springfox-bean-validators and it's working perfectly well for me on 3.9.1 as long as I don't add javadoc on the field. If there is javadoc, the @ApiModelProperty( required=false)  takes the lead.

[2016-10-25 21:17] cbornet commented on #4308
Pics or didn't happen:

![swagger](https://cloud.githubusercontent.com/assets/11633333/19704686/e5502064-9b08-11e6-940c-688e5b64309a.png)

(myString is required)

[2016-10-25 21:21] raphaelbrugier commented on #4378
I've found a clean workaround which leads me to a question about the current implementation.

The mysql container is exposed via a service.
This means the other containers can reach it via the address `jhiapp-mysql:3306. Instead of `jhiapp-mysql.default.svc.cluster.local:3306`.

I tried changing the deployment configuration to use this shorter address and it worked in minikube.

What is the reason

[2016-10-25 21:41] PierreBesson commented on #4378
I don't know the reason, I would also agree to do it like you but I'm not an expert. I think this was a choice from the start maybe for security reasons... ping @saturnism Do you agree with this change ? What was the original reason for using `.default.svc.cluster.local` ?

[2016-10-26 01:03] clp334264003 opened #4383 "getCurrentUserLogin() can not get userName"
public static String getCurrentUserLogin() {
        SecurityContext securityContext = SecurityContextHolder.getContext();
        Authentication authentication = securityContext.getAuthentication();
        String userName = null;
        if (authentication != null) {
            if (authentication.getPrincipal() instanceof UserDetails) {
                UserDetails springSecurityUser = (UserDeta

[2016-10-26 01:11] sonersivri opened #4384 "swagger-ui jar dependecy adding"
swagger-ui.jar can be added to build files.
generators/server/templates/_build.gradle
generators/server/templates/_pom.xml
adding swagger-ui may be parametric
server api more useful i guess

[2016-10-26 06:22] pascalgrimaud commented on #4378
Here in local, we have `default.svc.cluster.local` but `default` is replaced by `kubernetesNamespace` which is one of the question in the kubernetes sub generator
So I think it's important to keep that. Let's wait if @saturnism can answer to us

[2016-10-26 07:54] wmarques commented on #3664
About the performance issues @deepu105 mentioned, maybe they are due to the hybrid app, I guess performances will be better when we will drop all ng1 features to move to a fully ng2 app.

[2016-10-26 08:00] jdubois commented on #4383
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-10-26 08:00] #4383 closed

[2016-10-26 08:01] jdubois commented on #4384
I'm sorry but I have no idea what this would add to our current setup...

[2016-10-26 08:02] jdubois commented on #4384
Oh sorry, this is a "webjars"! This is the opposite philosophy to what JHipster does, and our current setup should work well for you.

[2016-10-26 08:02] #4384 closed

[2016-10-26 08:14] Dufgui commented on #4372
Ok is it possible to be on copy of this discution ? Or maybe I can join the ML ? Just to know how modify this PR please? Just want to know i can help the project. ;o)

[2016-10-26 08:50] heppa opened #4386 "change user password with admin account"
* **Overview of the request**

It seems that an admin cannot easily set new passwords for users in the user edit screen in user management.

* **Motivation for or Use Case**

Our admins should be able to set passwords for users.

* **Browsers and Operating System**

Irrelevant

* **Related issues**

Could not find any.

* **Suggest a Fix**

Add input fields to set new passwords for users in the ed

[2016-10-26 08:53] jdubois commented on #4386
That means admins know the users' passwords... I'm sorry but that would be illegal in several countries (at least mine!), so we can't have this by default.
It's very easy to customize, and those screens are generated for this very reason: once they are generated, just add the password field, and allow your admins to change it.

This isn't a bug, this is more a StackOverflow question, so I'm closin

[2016-10-26 08:53] #4386 closed

[2016-10-26 08:58] heppa commented on #4386
Julien, I understand your reasoning for closing and not allowing a general fix and I know, how to change it in my code, I just thought it would be an interesting feature for others as well in the generated code.

You don't agree, fine. But I don't agree that it should've been a question to be put on SO! ;)

Sorry for bothering!

[2016-10-26 09:04] jdubois commented on #4386
Oh yes sorry @heppa -> I thought you didn't know how to modify this.
In this case, indeed this is a feature request, and the right place is here, and I apologize.
Anyway, I'm sorry but as this is illegal in some countries, this really can't be the default.

[2016-10-26 09:08] heppa commented on #4386
@jdubois no worries... If I didn't know how to modify this, I would run into many other issues! ;)

Thanks anyway and I understand! It's maybe because we are not running a public website but migrating internal tools to become webapps.

[2016-10-26 09:13] jdubois commented on #4386
Oh yes was thinking of a public website, if it's an internal app it's a whole different business.
Then most people use an LDAP directory for this, and we lack support (or at least documentation) on how to integrate JHipster with an LDAP server.

[2016-10-26 09:38] heppa commented on #4386
Currently, we are in Beta and I'm waiting for our IT department to finish migration towards Active Directory to start integrating LDAP auth. Once I faced this and know more about it, I may spend some time to help with documentation. But it's true, that this integration would make this feature obsolete anyway. good point! ;)

But one other point related to your concerns with user passwords: I just

[2016-10-26 09:49] jdubois commented on #4386
- Yes you need to use HTTPS, this will solve all the Ajax issues, and that's totally normal
- Normally you shouldn't be able to see the passwords in the logs, but we've had this issue in the past. Basically, they are not shown in the "toString" methods. For the LoggingAspect it's another issue, and you are correct, but then it is disabled in "prod" mode, and that's the whole idea :-)

[2016-10-26 09:55] heppa commented on #4386
Yes, I totally agree. My bad for not checking the solutions with HTTPS earlier and that the LoggingAspect is only active in dev profile...

Thanks again!

[2016-10-26 10:52] cbornet commented on #4372
Small script I used as a POC for a git based solution inspired by jhipster:upgrade
[code]
Pros:
* No maintenance (except bug fix)
* Easier to test, no weird regexp side-effects
* Preserves user manual changes
Cons:
* git required

[2016-10-26 10:54] cbornet commented on #4372
And it's quite fast: about 20s on my slow laptop

[2016-10-26 11:51] dpalomar opened #4387 "[FEATURE] gitignore could have folders and not files"
##### **Overview of the issue**

When you make a `git clean -df` some folders like node folders are removed even if they are in _.gitignore_ file

##### **Motivation for or Use Case**

Common development of Jhipster tasks require to use git to control changes and errors because some features are difficult to remove or change without impact. So automated discard of untracked files, results in remov

[2016-10-26 12:08] jdubois commented on #4387
I'm the culprit for this, and I've never used "git clean" to be honest... So comments are welcome, as I'm not using this personally, but this looks like a good improvement.
@dpalomar would you like to do a PR for this? It shouldn't be very difficult.

[2016-10-26 12:52] dpalomar commented on #4387
It does not appear to be difficult, let me see how the generator works. Really I don't know if .gitignore is hardcoded or dinamically generated.

[2016-10-26 14:43] jdubois commented on #4387
Have a look at [the documentation](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup) - honestly it should be very easy

[2016-10-26 15:39] jdubois commented on #4383
I'm sorry I don't understand what you want...

Le 26 oct. 2016 3:03 AM, "clp334264003" <notifications@github.com> a écrit :

[2016-10-26 15:41] deepu105 commented on #3664
Yes it could be due to hybrid app, means its unusable for any production
grade app for now

Thanks & regards,
Deepu

On 26 Oct 2016 13:24, "William Marques" <notifications@github.com> wrote:

About the performance issues @deepu105 <https://github.com/deepu105>
mentioned, maybe they are due to the hybrid app, I guess performances will
be better when we will drop all ng1 features to move to a fully

[2016-10-26 15:47] jdubois commented on #4308
Great, happy to have this solved!

Le 25 oct. 2016 11:17 PM, "Christophe Bornet" <notifications@github.com> a
écrit :

[2016-10-26 15:49] PierreBesson commented on #4387
👍  For this suggestion.
It will be very easy, just PR changes to this file: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/gitignore

[2016-10-26 16:57] dpalomar commented on #4387
I've got it.

Thanks

[2016-10-26 17:14] jdubois opened #4390 "Check HikariCP with MySQL"
See https://twitter.com/BrettWooldridge/status/791318270020169728

[2016-10-26 17:39] deepu105 commented on #4302
@jhipster/developers guys can anyone take up this?
also we need to decide if we need to keep the same folder structure or move the tests into the same folders as the src similar to angular style guide and angular CLI this will be important if we are gonna support CLI later

[2016-10-26 18:22] sonersivri commented on #4384
Ok
I use only server side code generation of jhibster
I go on add manually.

[2016-10-26 18:24] TheLarkInn commented on #3664
Hey we would be happy to assist you with any webpack migration or support. Please let us know where we (the webpack org) can help out if needed.

[2016-10-26 18:26] christopherthielen commented on #3664
@TheLarkInn  you are everywhere

[2016-10-26 18:33] deepu105 commented on #3664
@TheLarkInn thank you for coming forward. yes we would appreciate any help possible here.
To be frank we started with systemJS since ng2 guys were using it and now they have switched to webpack. We are trying to keep our code as much compatible to Angular CLI as possible.

We currently use Gulp for our complex production build and browsersyc pipe line. See here https://github.com/jhipster/generato

[2016-10-26 18:35] deepu105 commented on #3664
@christopherthielen @TheLarkInn its really nice of you guys coming forward to help the JHipster community. we are definitely Ng2 newbies and would love more expert help

[2016-10-26 18:38] deepu105 commented on #3664
@TheLarkInn Just saw that you are on core Angular CLI team as well hence we would be grateful if you can review our code and suggest what we can do to make it more compatible with the Angular CLI as well

[2016-10-26 19:27] TheLarkInn commented on #3664
@christopherthielen Funny story, I happened to actually learn about JHipster today at work. Being a large financial F500 company, there are a lot of Java systems, and I was charged to help lay out some architecture requirements for TS/Angular2/(and webpack) applications. So a Java developer pointed out to me this tool and was scanning for `webpack` related issues and stumbled here. Haha not to dow

[2016-10-26 19:33] jdubois commented on #4384
I understand! Hopefully we can have a solution for people like you, this could be interesting for microservices.

[2016-10-26 20:35] jdubois commented on #4390
Looks like a false alarm...

[2016-10-26 20:35] #4390 closed

[2016-10-27 02:09] deepu105 commented on #3664
@TheLarkInn we wouldn't mind replacing everything if its possible and cleaner. We wouldn't mind a hybrid as well. The assets architecture would be tricky as its a Java appa and needs to be deployed with certain structure, like assets and minified files in the target/www folder.
Yes we can do a hangout but b4 that we need to make ourself familiar with webpack. May be first ill draft out some more d

[2016-10-27 02:38] mraible commented on #3664
I'd be interested in joining a hangouts to learn more about webpack. Or
maybe you have a video online that can help us learn more?
On Wed, Oct 26, 2016 at 20:09 Deepu K Sasidharan <notifications@github.com>
wrote:

[2016-10-27 02:38] TheLarkInn commented on #3664
Awesome that sounds like a perfect first step!! Let's start with that.

[2016-10-27 02:41] sendilkumarn commented on #3664
@TheLarkInn Thanks again for helping us out.

I'd also join the hangout.

[2016-10-27 02:44] TheLarkInn commented on #3664
So we have a bit better documentation that we are working on as we speak: webpack.js.org

That is a great place to start and also I have a moderately well received "Core Concepts" video that's a little long winded lol: https://m.youtube.com/watch?v=AZPYL30ozCY

Otherwise get a list of questions and then we can tackle things. I know JHipster has different kinds of app setups: microservices, or serv

[2016-10-27 04:38] sendilkumarn opened #4392 "[Feature] Webpack Migration of ng2"
The discussion started from [here](https://github.com/jhipster/generator-jhipster/issues/3664)

Migrating System Js into Webpack, to align more towards angular-cli.

cc @deepu105 @mraible @TheLarkInn

TODO:

- [x] Migrate from gulp to webpack
- [x] Migrate systemJs to webpack
- [x] Polish initial config so that it works OOB
- [x] Watch breaks on error we should use something like noErrorsPlugin
-

[2016-10-27 05:54] pascalgrimaud commented on #4378
@raphaelbrugier : I try with the same version of minikube (0.12.0) / kubectl (1.4.4) like you, I have no problem to deploy the app

[2016-10-27 07:43] erikkemperman commented on #4290
Found this issue looking for any JH users running into websocket reconnect problems. In particular, re-starting the server is more or less transparent to clients (no F5 required) because of persistent session management, but the websocket part doesn't reconnect, leaving the front-end half-functional and the users fully-confused.

Would it make sense to include something like that in the shared ser

[2016-10-27 08:14] jdubois commented on #4290
Yes we could have some re-connect solution here, just we need it both for ng1 and ng2, or just ng2. At least it can't be ng1-only.
Once again, the current "tracker" screen is just a helper to get started, I didn't code this with such advanced use-case, and I'm surprised we have so many people using it and nobody is ever contributing back! So yes it can definitely be improved, that's really clear f

[2016-10-27 08:26] erikkemperman commented on #4290
@jdubois Thanks for the quick reply! I guess it "just works" for most people, most of the time. I just noticed another possible issue which is the usage of stomp-websocket, which seems to be no longer maintained.

All right, I will have to make a quick-and-dirty fix in our app, but I will keep an eye on this issue and if I feel there's anything I can contribute I will jump in!

[2016-10-27 09:18] PierreBesson commented on #4384
Well, for this usecase we already have the gateway (when doing microservice). However if generating a monolith with SkipCkient this could be an interesting addition. We would need to add the webjar only in this case.
I have seen some people actually using the angular client only for swagger UI !

@jhipster/developers Would everyone agree to add the choice no front-end to the angular1/angular2 ques

[2016-10-27 09:22] jdubois commented on #4302
- If nobody takes this, I have a new trainee arriving in the middle of November. But that means it won't be finished before several weeks.
- For the folder structure, we need to keep the "Maven" folder structure or everyone will be lost: that would just be the root of the folder structure, then we should follow AngularJS style guide and Angular CLI. I remember @jmirc did a trick for that, so we co

[2016-10-27 09:23] cbornet commented on #4384
For apps without front-end, you can also run swagger-ui in docker (just needs some CORS config)

[2016-10-27 09:25] jdubois commented on #4384
For monoliths, if you don't want a frontend, I don't see much interest in using JHipster... I understand some people do this, but I don't think we should spend time on this, or modify anything for them.

[2016-10-27 09:28] cbornet commented on #4384
Or even easier : just use the one deployed at http://petstore.swagger.io/

[2016-10-27 09:32] jdubois commented on #3664
I agree with @deepu105 -> if we can replace the whole Gulp config by Webpack, and have something 100% clean coming directly from you @TheLarkInn , it would be a great solution (and you don't need to know Java for that!).

My only concern is concerns the "Developer Experience":

- Currently we have Gulp+BrowserSync which makes a killer combination with hot reload and multiple browsers synchronizati

[2016-10-27 09:42] wmarques commented on #3664
@TheLarkInn Thanks for helping us. I managed to do a first webpack integration [in this branch ](https://github.com/wmarques/generator-jhipster/tree/angular2-webpack) on my fork but I'm having some errors like 'cannot resolve type Promise'.

+1 to drop Gulp if possible, there will be alot of work to move gulp tasks into npm tasks with various configurations (sass or not for instance) but I think i

[2016-10-27 10:30] PierreBesson commented on #4384
@cbornet I confirm it works with any Swagger UI but you do need to enable cors (uncommenting properties in application.yml).
Also you will need to authenticate by hand or remove security so that you can test endpoints.
So in the end that's a lot of work to support this with few benefits.

[2016-10-27 12:54] maxleiko commented on #1425
Sorry for the revival, but it's the same for ScaleWay C1 (arm arch) with a Debian Jessie.
The solution for the application not to hang, was to specify `-Djava.security.egd=file:/dev/urandom`

[2016-10-27 12:56] ivanursul commented on #1425
I know, thanks.

[2016-10-27 13:28] TheLarkInn commented on #4392
Some things I think worth asking that I'll leave here:

- Do you want to have the webpack configuration (whether it be in a JS file with the node api, or webpack.config.js) to the user?

- If this replaces gulp, then the defacto method of running scripts would be through `npm` scripts or node scripts. Thoughts?

[2016-10-27 13:33] sendilkumarn commented on #4392
IMO, I think we to give that to users, the decision is upto them to use what. We can give an optimum solution but it is upto to play around.

Yes of course, with ng2 we are planning to remove `bower` completely. so `npm` will be defacto

[2016-10-27 13:40] deepu105 commented on #4392
@TheLarkInn regarding your questions

1. I guess since we are not that familiar with webpack, I would prefer if you could suggest a default for the config
2. If webpack has some mechanism to do everything we do currently (live reload, browsersync, sass, uglify, minify, inject, sourcemaps, css minify and uglify, image optimizations etc) then yes we will like to use that but if any of this requires

[2016-10-27 13:44] Dufgui commented on #4372
So you can close my PR, and maybe add this script in the doc for other people, no
 ?

[2016-10-27 14:12] cbornet commented on #4372
@Dufgui It would be better to integrate the script in a subgen. I can do it if we all agree.

[2016-10-27 14:23] Dufgui commented on #4372
Ok for me, many thanks, I let other people reply

[2016-10-27 14:25] raphaelbrugier commented on #4378
Thanks for the help @pascalgrimaud

I don't know what can explain a different behavior. Minikube is supposed to start a cluster in a VirtualBox VM, so when I deleted everything in my ~/.minikube it should have reinstall the box from scratch.

My VirtualBox version is `5.0.20 r106931`
I'll try to update it as well.

I'm currently using the shorter name of the services to reach the mysql, kafka and

[2016-10-27 14:28] deepu105 commented on #4392
@TheLarkInn here are the questions I wanted to ask regarding webpack and also will give some insights into our architecture and limitations since its a java app @jhipster/developers please correct me if I'm wrong about anything

**a)** We have 2 profiles for build `dev` and `prod` which are triggered by maven/gradle
**b)** Since we generate a maven/gradle project it needs to follow certain convent

[2016-10-27 14:58] deepu105 commented on #4372
@cbornet ok your script seems better than the manual removal steps by @Dufgui but I have few questions. What happens if there are custom code in entities which are being modified? also I think this would always result in merge conflicts for the user.
Also as I said earlier if this is being done it should be part of the entity sub generator as part of this question or as a CLI flag else it will be

[2016-10-27 15:18] cbornet commented on #4372
Yes, if you modified the entity being removed that will conflict. Then the merge must be done with "theirs" strategy to force the suppression.

[2016-10-27 15:22] cbornet commented on #4372
As for the git commands, I was thinking of reusing the ones from the upgrade gen (putting them in a utility file). They already use gitExec.

[2016-10-27 16:45] yogeshkrishnani commented on #3906
I am facing the same issue.

mvn -Pprod creates CSS files with semi-colons between the files.

[2016-10-27 19:33] gmarziou commented on #3906
@yogeshkrishnani Which version? Do you mean that the fix did not work for you?

[2016-10-28 02:15] anjia0532 opened #4395 "Generate a custom Docker-Compose configuration without uaa"
I create  uaa application and gateway applicaton

[code]
the output

[code]
`docker-compose.yml`

[code]

$ yo jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s) 3.9.1**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` d

[2016-10-28 05:35] pascalgrimaud commented on #4395
Uaa is still in beta and is not supported yet in the sub generator docker compose and kubernetes

[2016-10-28 05:58] yogeshkrishnani commented on #3906
@gmarziou The fix did work for me. I am using JHipster version 3.1.0.

[2016-10-28 06:42] PierreBesson commented on #4345
Shouldn't we rollback to the previous config-loader without all then. As this one is broken !! ?

[2016-10-28 07:20] PierreBesson commented on #4395
Although you can have a look at @xetys sample project : https://github.com/xetys/jhipster-uaa-setup
Defiantly something that needs to be done though...

[2016-10-28 08:10] deepu105 commented on #3906
then why are you commenting here?

Thanks & Regards,
Deepu

On Fri, Oct 28, 2016 at 11:28 AM, Yogesh Krishnani <notifications@github.com

[2016-10-28 08:13] JinnaBalu opened #4397 "Unsatisfied dependency expressed error, created new app with cassandra and created cassndra database manually"
"C:\Program Files\Java\jdk1.8.0_91\bin\java" "-Dmaven.home=C:\Program Files (x86)\JetBrains\IntelliJ IDEA Community Edition 2016.2.5\plugins\maven\lib\maven3" "-Dclassworlds.conf=C:\Program Files (x86)\JetBrains\IntelliJ IDEA Community Edition 2016.2.5\plugins\maven\lib\maven3\bin\m2.conf" -Didea.launcher.port=7532 "-Didea.launcher.bin.path=C:\Program Files (x86)\JetBrains\IntelliJ IDEA Community

[2016-10-28 08:56] yogeshkrishnani commented on #3906
Just to tell, Other users are also affected from it. Nothing else.

[2016-10-28 09:51] jdubois commented on #4397
You have installed Cassandra yourself, and as you can read from the log:

   Host does not support protocol version V4 but V3

So you're using an outdating version. It's probably possible to use it, but it's not a JHipster bug, please ask this on StackOverflow with the JHipster tag.

[2016-10-28 09:51] #4397 closed

[2016-10-28 09:51] jdubois commented on #4395
Yes that needs to be done, but since we are still in Beta there is not need to rush.

I'm closing this as this isn't really a feature request, it's normal that we do this in the end, we are just not finished yet. That's the whole point of "Beta" :-)

[2016-10-28 09:51] #4395 closed

[2016-10-28 09:52] #4387 closed

[2016-10-28 10:15] gmarziou commented on #3906
This fix has been released in version 3.6.0 (current one is 3.9.1), so no other users will be affected except the ones like you using an old version.

When an issue is closed, we don't expect people to comment it further unless the fix is not working.

[2016-10-28 11:47] JinnaBalu commented on #4397
Thank you dubois, solved the issue: changed the version in CassandraConfiguration.java. saved my day.

[2016-10-28 12:27] xetys commented on #4345
I am not sure, this would mean insecure service discovery...if someone will use this in production, everyone who is familiar with consuls API can look at the services registered, and register own ones etc...

if you think we should rollback this, then only the loader (just use the last working previous version of loader), which doesn't perform ACL setup....

for my personal taste I am ok with usin

[2016-10-28 12:37] yogeshkrishnani commented on #3906
Okay I understand now.

[2016-10-28 12:46] PierreBesson commented on #4345
You are right, if people want to use consul now they must know what they are doing and it will be fine.

[2016-10-28 12:46] dpalomar opened #4398 "Camel case entity names do not work properly with jdl import"
##### **Overview of the issue**
Using jdl import not generates  names of entity correctly when the name is like _NameXX_ , this does not occur when the _jhipster:entity_ generator is used.

##### **Motivation for or Use Case**

If an entity has a relationship with another one that use a name like before pattern, the code does not compile, and the test will fail.

##### **Reproduce the error**

`yo

[2016-10-28 12:53] TheLarkInn commented on #4392
Thanks for all the questions!! I will be away from the interwebs for most of today (jury duty). So if I don't respond here right away that's why.

[2016-10-28 13:08] jdubois commented on #4398
I think this should go to the jhipster/jhipster-core project, @MathieuAA what do you think?

[2016-10-28 13:17] cbornet commented on #4398
:+1:  I also have the issue !
And yes, it's a jhipster-core issue.

[2016-10-28 13:19] openworker opened #4399 "Unable to generate entities for serverless jhipster app"
##### **Overview of the issue**

Attempting to create a client only jhipster app using the --skip-server flag.  When I attempt to add an entity, the following error occurs on Windows 10 and OSX 10.11.6
Using 3.10 but 3.9.1 (at least is also affected).

C:\Users\asani.SANI-ITA\jhipster-serverless-test2>yo jhipster:entity book --skip-server
events.js:141
      throw er; // Unhandled 'error' event

[2016-10-28 13:23] gmarziou commented on #4399
Are you sure that the -skip-server option is supported by the entity sub generator? I would expect it to not require it as it should be saved by the app generator you used first.

[2016-10-28 13:27] openworker commented on #4399
I tried without the -skip-server as well with same problem.

On Fri, Oct 28, 2016 at 9:23 AM, Gaël Marziou <notifications@github.com>
wrote:

[2016-10-28 13:30] MathieuAA commented on #4398
I confirm. It will be fixed tomorrow.

[2016-10-28 13:35] gmarziou commented on #4399
OK, so just debug reserved_keyword.js to find out which string it is failing for.

[2016-10-28 14:48] jdubois commented on #4195
@henri-tremblay @nvoxland it looks like you are pretty close to have something fully working. My idea is that this is such a big update that it needs to be its own release, so when you have the PR ready we need to synchronize.

My goal is to have a release with all your changes in one place, and have the correct release notes (I'll need your help), and of course go through the usual Twitter, etc t

[2016-10-28 15:40] anjia0532 commented on #4395
OK , thanks all.

I manually modify the docker-compose.yml add uaa-app and uaa-mysql.it's ok.

[2016-10-28 15:51] henri-tremblay commented on #4195
Sure. I'm stuck on something else but starting next week, my free time
should be dedicated to it.

On 28 October 2016 at 10:48, Julien Dubois <notifications@github.com> wrote:

[2016-10-28 16:58] deepu105 commented on #4305
its done

[2016-10-28 16:58] #4305 closed

[2016-10-28 18:06] deepu105 commented on #3664
@christopherthielen we have migrated all the routes to ng2 format and I guess we are ready to drop ui router ng1 and go full ng2. Would really appreciate your help on this

[2016-10-28 19:44] MichalFoksa commented on #2349
There is a similar issue with `spring-social-facebook` now:

Above workaround by @emanuelbatista works just fine, just drop `bio` from `fieldsToMap` array.

[2016-10-28 21:34] raphaelbrugier opened #4402 "ClassNotFoundException when using Kafka + Gatling"
##### **Overview of the issue**

In a microservice architecture, both for a gateway and a service, a class is missing when adding the kafka option.

I've run into this stack trace when starting a gateway with the kafka option and a service too in Kubernetes.
I've reproduced the issue with docker-compose.
##### **Reproduce the error**
- generate a gateway with kafka
- generate a service with kafka

[2016-10-28 21:39] pascalgrimaud commented on #4205
Edit: I only begin to write tests for consul, but I don't have time to finish it. I will do it later -> as I will help for testing angular2

[2016-10-28 22:44] ruddell commented on #4402
This is the same error as before.  For the JHipster Kafka release (v3.8.0), the Kafka/Gatling combo was disabled.  It looks like the new release of Spring Cloud Stream didn't fix the issue, removing Gatling fixes the issue

[2016-10-29 05:04] willy-juisan commented on #3497
What version of node.js that working for jhipster? Since in node.js homepage at current already using version 6.9.1 for the LTS.

[2016-10-29 05:36] pascalgrimaud commented on #3497
4.6.0 works perfectly, all our Travis builds use it.
But I didnt notice that 6.9.1 is now LTS, I think it's very recent.

[2016-10-29 06:30] jdubois commented on #3497
Yes it's very recent.
I'm using it, as well as 7.0.0 and it works, but I haven't tried all use
cases, so I would still be cautious.

Le 29 oct. 2016 7:36 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

4.6.0 works perfectly, all our Travis builds use it.
But I didnt notice that 6.9.1 is now LTS, I think it's very recent.

—
You are receiving this because you modified the open/close stat

[2016-10-29 07:40] jdubois commented on #4402
Yes still the same issue... I thought it was solved...

[2016-10-29 08:30] jdubois commented on #4402
I updated the title so that everybody could find it.
This would need a patch release quickly, but I don't have much time at the moment...

-> help is welcome, at least to test the various Gatling/Kafka releases

Otherwise we'll go to the former solution, when Kafka is selected you can't use Gatling.

As I forgot to update the documentation, at least it is still correct :-)

[2016-10-29 17:47] MathieuAA opened #4404 "Minor problem when removing a field in a class"
Hi guys, I've created a simple class (`ClassA`) containing a simple field (`myAttribute`) and nothing else.
The problem is when I want to remove my field, the generator actually asks me to choose which relationship I want removed... Even if I don't have any.

My bug:

[code]

To reproduce:
  - `yo jhipster` to have the following .yo-rc.json file:
[code]
  - `yo jhipster:entity Toto` and create onl

[2016-10-29 18:39] deepu105 commented on #4404
Not exactly a bug, just an aesthetic glitch. Its an easy fix need to add a
validation to check if there are fields or relationships b4 asking the
question. You can do a PR if required for me its not a priority item

Thanks & regards,
Deepu

On 29 Oct 2016 23:18, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-10-29 18:50] MathieuAA commented on #4404
Me neither, just telling you guys. And I did mention it was minor.

[2016-10-29 18:52] MathieuAA commented on #4404
Thanks Jon!

[2016-10-29 21:43] Dufgui commented on #4398
I think it's related to  #4320.

[2016-10-30 04:25] #4404 closed

[2016-10-30 09:22] jdubois commented on #3497
FYI Node 7.0.0 doesn't work with the Kubernetes sub-generator (but 6.9.1 does!).
So yes, LTS is always preferred!

[2016-10-30 09:51] deepu105 commented on #4398
Im closing this as the issue is in jHipster-core

[2016-10-30 09:51] #4398 closed

[2016-10-30 09:57] deepu105 opened #4407 "Angular2 known issues"
Adding a known issues todo list for Angular2 so that we have track of these here
- [x] `Resetting invalid cookie language "en" to prefered language "en"` this is being logged enormous times, thats not the issue, the issue is somewhere the stuff is being run so many times then really needed and its kind of slowing down the page loads. This needs to be investigated and fixed
- [x] There is a console

[2016-10-30 12:10] deepu105 commented on #3664
@wmarques @sendilkumarn we are almost there. Can any of you take up the interceptors please?

[2016-10-30 14:27] gmarziou commented on #2668
I answered to a user who had problems with Liquibase changes checksums after having added a field to an entity, maybe we could solve this by checking the existence of a migration file named .*_added_entity_.*.xml and then try to create a new migration which alters the existing table.

https://stackoverflow.com/questions/40328840/add-new-field-to-existing-entity-with-jhipster/40329781

[2016-10-30 15:42] mfalzetta commented on #3641
I have the same issue.
Its my first time with jhipster. Only install al components, create application e try to build entities with hipster-uml.

Someone can help me please?

Thanks.

**Error**

[code]

**Framework version**
[code]

**yo-rc.json**
[code]

**.model.jh**
[code]

[2016-10-30 15:50] deepu105 commented on #3641
Please dont camp on old issues. If you have an issue open a ticket with all
details. If you have issues with jhipster uml open issue in that project

Thanks & regards,
Deepu

On 30 Oct 2016 21:14, "Marlon Falzetta" <notifications@github.com> wrote:

[2016-10-30 16:00] ZiyaErcanErdem commented on #3641
Change the line "service all with serviceImpl" as "service * with serviceImpl"

[2016-10-30 16:40] Patresss opened #4409 "Bug with pagination - can't see all entities in list when edit/add other entity with relation"
When I use pagination I can't see (and select) all entities in list when I want to edit or add other entity with relation.
For example. I want to add division to teacher. I can see only 20 division.
http://i.imgur.com/qQ2pWrs.png
When I add division (in my database) which isn't in first 20 I see empty space in my teacher.
I use version: 3.9.1

[2016-10-30 16:55] gmarziou commented on #4409
Please rewrite your issue by following our issue template and provide all requested information.
Please also clarify your last sentence.

[2016-10-30 17:23] #4409 closed

[2016-10-30 17:23] Patresss opened #4410 "Bug with pagination - can't see all entities in list when edit/add other entity with relation"
##### **Overview of the issue**

When I use pagination I can't see (and select) all entities in list when I want to edit or add other entity with relation.
For example:
1. I have a division "Francuski 1 gr. 1" which is in second page in my list
http://i.imgur.com/7nFScR1.png
2. I want to add this division(owner) to my place but I can see only 20 division in list:
http://i.imgur.com/qQ2pWrs.png
3.

[2016-10-30 17:41] ruddell commented on #4410
The issue here is that the default page size in Spring is 20.  In order to get the entire list of entities to appear in the dropdown, you need to change the `size` of the query.

For example, in the `place-dialog.controller.js` change the line `vm.divisions = Division.query();` to include a size param: `vm.divisions = Division.query({size: 100});`

This becomes an issue as the entity list grows, a

[2016-10-30 17:42] deepu105 commented on #4410
You still havent given all details required in the issue template like the `yo-rc.json` file, please provide all required information or the issue will be closed.

Though from your explanation it seems like a known issue with pagination as pagination causes just the first 20 to be displayed. Ideally you should handle this own your own depending on your use case cc @jdubois

[2016-10-30 17:47] jdubois commented on #4410
You selected pagination, and then fill a bug because you have pagination :-)
I understand this isn't obvious, but it's also against our guidelines to document the underlying frameworks: the solution from @ruddell is good, this is why I'm closing this.

[2016-10-30 17:47] #4410 closed

[2016-10-30 17:48] Patresss commented on #4410
Thank you @ruddell! You suggested add size parametr for example 100. Is it possible to add parametr for getting all list? Something like this:
`Division.query({size: MAX});`

[2016-10-30 17:49] jdubois commented on #4410
This is typically the kind of classical use case where we need some tutorial. That would be a huge job...

[2016-10-30 17:57] cbornet commented on #4410
Maybe a dropdown that handles pagination could be useful. I don't know if that exists...

[2016-10-30 18:01] jdubois commented on #4410
Unfortunately I don't think there's a good solution here... If you want everything then don't use pagination (Spring Data will still put a limit, but it's quite high... And you need one anyway or your app could crash at some point).
Best solution is not to use a Drop down list, but then that would be some custom dev for you.

[2016-10-30 18:20] sendilkumarn commented on #3664
@deepu105 let me have a look later this week. Bit busy as of now.

[2016-10-31 03:41] deepu105 commented on #4410
I would use an autocomplete with a custom query to handle such use cases.
If your dropdown is gonna have more than 20 entries its bad UX already so
better use an autocomplete or linked select that shows less items based on
a query or some other criteria

Thanks & regards,
Deepu

On 30 Oct 2016 23:31, "Julien Dubois" <notifications@github.com> wrote:

[2016-10-31 08:08] #4399 closed

[2016-10-31 14:37] TheLarkInn commented on #3664
This is possible there is a BrowserSync webpack plugin which works with webpack-dev-server I believe, or potentially replaces it.

------

Is there specific timelines for this work (besides ASAP) that you are looking to land these changes etc. I ask because I will be away next week in SF for QCon2016, so this week is pretty busy for me.

[2016-10-31 15:23] jdubois commented on #4402
I've tested and that's quite strange. I don't think it's exactly the same error.

I'm using JHipster 3.10.0 but that shouldn't be an issue as we didn't touch Kafka or Gatling in that release.

- I don't have issues with monoliths -> @raphaelbrugier can you test if that's the same for you?
- I do have the error, but not doing compilation, it's at the end of the application start-up

So the easy sol

[2016-10-31 15:30] raphaelbrugier commented on #4402
Yes, monolith was working for me. With the 3.9.1 version

Here is a working configuration:

[code]

I confirm the stacks I've posted first are from a microservice configuration and happened at the application startup for me too, not a compilation time.

[2016-10-31 15:32] jdubois commented on #4402
OK so that's not exactly the same issue...
Easy solution is to exclude Gatling when Kafka is selected on a gateway or monolith. Still, I'd like to understand the root of the issue, maybe we can do something.

[2016-10-31 15:42] flaviencathala commented on #3664
@wmarques @deepu105 I investigated on the performance issues, I don't think they are due to the hybrid app. It takes 3.6s to SystemJS for loading all the external modules (almost 500), 90% from rxjs.
![screenshot from 2016-10-31 16-20-34](https://cloud.githubusercontent.com/assets/11872070/19860083/bab0f896-9f87-11e6-9c48-04c5daa622a3.png)

[2016-10-31 15:50] jdubois commented on #3664
@flaviencathala and would migrating to Webpack solve that performance issue?

[2016-10-31 15:50] deepu105 commented on #3664
Hmmmm what else were we expecting from npm on client. Thats really bad hope
there is a fix for this

Thanks & regards,
Deepu

On 31 Oct 2016 21:13, "Flavien Cathala" <notifications@github.com> wrote:

[2016-10-31 15:53] fmatuszewski commented on #3664
Yes Webpack will compile all dependencies into one or few js depending of
configuration which can be minified and loaded.
Web pack will also include only referenced files.

Filip Matuszewski
604 59 99 36
mapa.budzet-partycypacyjny.pl

2016-10-31 16:50 GMT+01:00 Julien Dubois <notifications@github.com>:

[2016-10-31 16:20] jdubois commented on #4372
I like the solution from @cbornet as:

- it works like the "upgrade" sub-generator, so at least we have something coherent here
- we don't need to remember to do the "delete" part after modifying the entity sub-generator, it's all going to work "automatically"

Of course there is still the issue of people changing the code: I expect that most people will change a lot of code. So that's going to be

[2016-10-31 16:24] jdubois commented on #4153
Is anyone interested in working on this?

I think everybody agrees this would be a good feature, then that's a lot of work and I'd rather focus on Angular 2 at the moment.

Otherwise I will close this for "lack of interest", as I don't want to have old tickets staying opened if nobody works on them.

[2016-10-31 16:28] sendilkumarn commented on #3664
can we tweak systemjs to use only Rxjs/Observable and its dependencies.

may be in our copy function ?

[2016-10-31 16:31] deepu105 commented on #3664
Lets see if migration to webpack fixes this.

Thanks & regards,
Deepu

On 31 Oct 2016 21:58, "Sendil Kumar N" <notifications@github.com> wrote:

[2016-10-31 17:50] jdubois commented on #4344
I'm doing this right now while correcting #4336 as I got into the same problem.
The issue is that this must be a "size". "min" and "max" are for numbers, not text, so this is all wrong.
I guess we can forget about being backward compatible: current setup doesn't work anyway!

[2016-10-31 17:55] #4229 closed

[2016-10-31 17:55] #4344 closed

[2016-10-31 18:10] jdubois commented on #4356
Then, should we support something that complex? Looks like a lot of work for us, for a very specific use case.

[2016-10-31 19:11] deepu105 commented on #4407
@ruddell can check the translation issue again? for me its loading translations

[2016-10-31 20:09] ruddell commented on #4407
@deepu105  The translations on the page work but the titles aren't loaded: `translation-not-found[user-management.detail.title]`.  This also affects the main user-management page.

[2016-10-31 22:49] cbornet commented on #4372
@jdubois when removing an entity we either:
* remove lines from a file
* delete a file
For the first case, the subgen in PR does a merge with `-X theirs` strategy. So if your modifications don't conflict they'll just be merged. If they conflict, it means that you modified code in the lines that were added above the needle (eg. you modified the ehcache confg for the entity you want to remove) and t

[2016-11-01 00:46] christopherthielen commented on #3664
@deepu105 https://github.com/jhipster/generator-jhipster/pull/4416 there are some additional ng1 uirouter things to clean up, but i got you started.  I am super slow right now because I just had surgery on my dominant arm, so I am one-handed

[2016-11-01 01:22] christopherthielen commented on #3664
The RxJS umd bundle is problematic with ng2: https://github.com/angular/angular/issues/9359

I think its best to fix by bundling with webpack

[2016-11-01 02:36] clp334264003 opened #4417 "when i use get() in angular2,it get null"
##### **Overview of the issue**
import { Injectable } from '@angular/core';
import { Http, Response } from '@angular/http';
import { Observable } from 'rxjs/Rx';

@Injectable()
export class AccountService  {
  constructor(private http: Http) { }

  get(): Observable<any> {
    return this.http.get('api/account').map((res: Response) => res.json());
  }

  save(account: any): Observable<Response> {

[2016-11-01 05:20] deepu105 commented on #3664
@christopherthielen  thanks a lot

[2016-11-01 05:33] deepu105 commented on #4417
This is unreleased code so please don't open bug reports. If you find issues and wanna help please comment on the issue #4407 with clear explanation and stack trace. Even better you can do PR to fix it

[2016-11-01 05:33] #4417 closed

[2016-11-01 05:34] deepu105 commented on #4392
@TheLarkInn no worries take your time

[2016-11-01 08:45] mehmet-aslan commented on #4344
@jdubois Clob test strings are not generated yet. They can be generated using same block with string.

I guess these lines can be removed as well:
https://github.com/jhipster/generator-jhipster/blob/8826f701506f27341dd2aebcffd27985334cc05b/generators/entity/prompts.js#L797
https://github.com/jhipster/generator-jhipster/blob/8826f701506f27341dd2aebcffd27985334cc05b/generators/entity/prompts.js#L815

[2016-11-01 09:53] nkolosnjaji commented on #4195
Could ehcache be replaced with caffeine cache ?
[Caffeine is a Java 8 rewrite of Guava’s cache and will supersede the Guava support in Spring Boot 2.0.](http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-caching-provider-caffeine)
Also, here are behcnmarks: https://github.com/ben-manes/caffeine/wiki/Benchmarks

[2016-11-01 10:09] gmarziou commented on #4195
@nkolosnjaji can caffeine be used as second level cache for hibernate?

[2016-11-01 10:17] nkolosnjaji commented on #4195
yes it can with JCache JSR
https://hibernate.atlassian.net/browse/HHH-10770

[2016-11-01 13:23] henri-tremblay commented on #4195
Yes. I will provide a patch using Ehcache... because I'm kinda working on Ehcache. But the implementation including metrics is fully JCache compliant. So switching to another framework will be much more easier.

Should be able to work on it next week during Devoxx.

[2016-11-01 15:19] syampid commented on #2075
You need to add below line in main app.java file

**@EnableAutoConfiguration(exclude = {  EmbeddedMongoAutoConfiguration.class })**

[2016-11-01 16:22] raphaelbrugier commented on #4378
So, good news!
Updating virtualbox solved the issue.
My virtualbox version is `5.1.8 r111374 (Qt5.5.1)`
I can now run a monolith app in minikube without changing the ip.

What virtualbox version did you use @pascalgrimaud ?

[2016-11-01 16:24] pascalgrimaud commented on #4378
@raphaelbrugier : Version 5.1.4 r110228 (Qt5.5.1)
So that means the 5.0.x is broken with Minikube

[2016-11-01 16:30] pascalgrimaud commented on #4378
So we can change the title and close this issue?

[2016-11-01 16:31] raphaelbrugier commented on #4378
Yes, I'll do it.

[2016-11-01 16:32] raphaelbrugier commented on #4378
Thanks for the help @pascalgrimaud

[2016-11-01 16:32] #4378 closed

[2016-11-01 16:59] ben-manes commented on #4195
I'm a big believer in those doing the work should get the credit, so @henri-tremblay advocating Ehcache in the patch / documentation is a nice reward. Mentioning other providers in the documentation would be reasonable, but perhaps with less emphasis.

If the generator supported multiple providers, changed defaults, etc. that could be a different discussion. But I wouldn't want to detract from @he

[2016-11-01 17:07] jdubois commented on #4195
Thanks @ben-manes that is really fair from you!

[2016-11-01 17:16] henri-tremblay commented on #4195
Thanks guys. BTW, if you want to see the generated result, it is now an [Ehcache sample](https://github.com/ehcache/ehcache3-samples/tree/master/fullstack). That's what I need to move to the generator.

[2016-11-01 17:24] jdubois commented on #4195
OMG, you mean some of my code is now part of the official ehcache sample? I'm so proud!!!!!!

[2016-11-01 17:28] pascalgrimaud commented on #4402
I confirm the issue

A solution is to follow this comment https://github.com/spring-cloud/spring-cloud-stream-starters/issues/5#issuecomment-246676348

[2016-11-01 17:33] henri-tremblay commented on #4195
:-)

[2016-11-01 17:58] mraible commented on #4195
@henri-tremblay I tried to build the fullstack example, but I get the following error:

[code]

My environment:

[code]

[2016-11-01 18:01] mraible commented on #4195
Actually, this happens when I run `yo jhipster` on the project, which is likely expected. If I just try to build using `./mvnw`, I get:

[code]

[2016-11-01 18:16] henri-tremblay commented on #4195
Oh! That's interesting. I guess I need to add Terracotta repositories. Let
me see.

On 1 November 2016 at 14:01, Matt Raible <notifications@github.com> wrote:

[2016-11-01 18:33] henri-tremblay commented on #4195
Can you add this at the end of your pom:

[code]

[2016-11-01 18:53] henri-tremblay commented on #4195
I've removed the bad dependencies. So if you pull the new code, it should work nicely without the Terracotta repo. Thanks @anthonydahanne you did the code sample with me and just approved the PR containing the fix :-)

[2016-11-01 19:14] mraible commented on #4195
@henri-tremblay Adding the repositories works, as does pulling the latest code.

I'm interested in this sample because it uses EhCache and we, at Stormpath, have had [an issue](https://github.com/stormpath/stormpath-sdk-java/issues/1024) with the caching setup in a JHipster application. It seems we have to add entries in `ehcache.xml` for things to work.

This seems strange since I took your examp

[2016-11-01 19:43] PierreBesson commented on #4195
@henri-tremblay I just had a look at the ehcache sample and really liked it. Thanks a lot for working on this.

I also noticed that there is a "clustered" config with a docker config for an off-heap server. It would be very interesting for https://github.com/jhipster/generator-jhipster/issues/3621 which was an idea we had of adding a scalable cache for requests that passed through our Zuul Gateway

[2016-11-02 07:44] siwarbns commented on #1891
@tvd27285  you just should add this line to you weblogic.xml
`<wls:package-name>com.fasterxml.jackson.*</wls:package-name>`

[2016-11-02 10:08] bojancai commented on #3664
Hi,  think we can use HMR to replace browsersync, webpack has plugin like @angularclass/hmr, @angularclass/hmr-loader

[2016-11-02 10:50] anthonydahanne commented on #4195
@PierreBesson good catch :-)
The clustered cache configuration can be used to connect your client caches to a terracotta server (that is using offheap storage to store your cache elements).
With [this demo](https://github.com/ehcache/ehcache3-samples/tree/master/fullstack), @henri-tremblay  and I show that it is possible to start with local caching and then easily switch (changing few lines in ehc

[2016-11-02 12:33] clp334264003 commented on #4407
I can not get the current user from the server.and The message header has no token
get(): Observable<any> {
    return this.http.get('api/account').map((res: Response) => res.json());
  }

[2016-11-02 12:49] #4402 closed

[2016-11-02 15:01] codespicelabs commented on #4110
i've been waiting for JHipster 4 release since the milestone was created but what do you guys think about https://github.com/angular/material2
so if you gonna use NG2 why not to use some kind of 'native' UI for Angular 2 from the NG core team.
Surely it still in alpha but most of important components are ready and very 'sexy' IMO

by the way, look at https://github.com/valor-software/ng2-bootstrap

[2016-11-02 15:56] wmarques commented on #4110
I'm also a big fan of the material design but I think, for now at least, we should follow on bootstrap as it will be much faster to migrate than moving to material. Also, people are most used to the bootstrap grid system.

[2016-11-02 16:23] gabrielfreire commented on #4110
I personally prefer bootstrap

[2016-11-02 16:32] jdubois commented on #4110
Let's not mix up stuff: this is a ticket on Bootstrap, we've always used Bootstrap and have excellent experience and feedback on it, so let's stick to it.
Migrating to something else would be another ticket/discussion, and we don't have the time right now as we should focus first on Angular 2.

[2016-11-02 17:41] deepu105 commented on #4110
Migration to material2 is another head ache. Im already very frustrated
with ng2 to be honest so nope, we don't want to rewrite everything again

Thanks & regards,
Deepu

On 2 Nov 2016 22:02, "Julien Dubois" <notifications@github.com> wrote:

[2016-11-02 18:06] JinnaBalu opened #4423 "want to create app using jhipster with angular 2 branch"
I have an interest to create an app from jhipster upcomming release from angulae 2 branch, how an i create app from the branch. not as the generator i want it ass the jhipster app.

[2016-11-02 18:10] jdubois commented on #4423
Sorry but this is the bug tracker...

[2016-11-02 18:10] #4423 closed

[2016-11-02 18:49] deepu105 commented on #4423
Read the ng2 guide in the angular2 branch

Thanks & regards,
Deepu

On 2 Nov 2016 23:40, "Julien Dubois" <notifications@github.com> wrote:

[2016-11-02 23:23] raulgomis commented on #4110
I agree, it's better to continue with Bootstrap as it has proven to be a great framework for frontend development. Have you considered using AdminLTE template for the redesign? It has a great work behind in terms of CSS, JS, HTML that we could benefit, saving time in the redesign.

[2016-11-02 23:32] gmarziou commented on #4110
AdminLTE  uses Bootstrap 3 so far.

[2016-11-02 23:33] jdubois commented on #4110
@raulgomis we focus on the standard, vanilla Bootstrap. Then many people, including me, change the default theme to something that they like better. I use AdminLTE quite often in fact.
JHipster is just for getting you started, and gives you the tools to do more. Otherwise it would become too bloated, which is also a common criticism.
Now sorry to be annoying but I would like this ticket to keep it

[2016-11-03 07:18] KalavaraSiri opened #4424 "Unable to generate executable war file using "mvnw -Pprod package", getting following stacktrace"
created key space and able to build and run the app, but to create executable war file facing thsi issue.

2016-11-03 12:24:13.009  WARN 21488 --- [           main] com.datastax.driver.core.Cluster         : You listed localhost/0:0:0:0:0:0:0:1:9142 in your contact points, but it wasn't
 found in the control host's system.peers at startup
Tests run: 2, Failures: 0, Errors: 1, Skipped: 0, Time elap

[2016-11-03 07:20] jdubois commented on #4424
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-03 07:20] #4424 closed

[2016-11-03 10:46] CFabbricante81 opened #4425 "Set column name other than field name"
##### **Motivation for or Use Case**

I would put in .json (or in JDL IDE ) a column name other than field name to not lose the mapping regenerating the entity

##### **JHipster Version(s)**

All

[2016-11-03 11:01] pascalgrimaud commented on #4425
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-03 11:01] #4425 closed

[2016-11-03 15:55] jdubois commented on #4209
I have the warning banner working, let me finish testing and publishing!

[2016-11-03 16:20] jdubois commented on #4209
The warning should be OK! There are so many pages it's impossible to test everything, of course.

[2016-11-03 18:35] pascalgrimaud commented on #4317
I play with yarn since 0.16.1 and it seems working very well.
So for all projects generated, I use:
[code]

What do you think about adding `--yarn` option?
The use will be: `yo jhipster --yarn` -> with this, the generator will do `yarn install` instead of `npm install`

I have this code already working on my branch, tell me if I should PR or not?
It should be a first step for supporting yarn in ou

[2016-11-03 19:20] jdubois commented on #4317
Oh yes that would be cool!!!
We need this for our Devoxx presentation on Monday, with the bad Wifi!!
I would even add a new question for this.

Le 3 nov. 2016 7:35 PM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2016-11-03 22:05] lrkwz commented on #2693
@amitjindal , @deepu105  can you please explain where exactly modal behavior can be disabled?

Thank you.

[2016-11-03 23:11] PierreBesson commented on #4209
I have done a PR to the docs. Finally all the boxes are ticked.

[2016-11-03 23:11] #4209 closed

[2016-11-03 23:35] PierreBesson commented on #4209
@jdubois, It does work but the banner is quite ugly on the V3 website because of the sidebar...

![capture du 2016-11-04 00-10-15](https://cloud.githubusercontent.com/assets/513471/19988916/4ef5969a-a223-11e6-88bc-ab2f91e254ca.png)
![capture du 2016-11-04 00-10-05](https://cloud.githubusercontent.com/assets/513471/19988917/4efbd2c6-a223-11e6-89e3-bcd8a36eb7d0.png)

Now, that I'm thinking about it,

[2016-11-03 23:37] PierreBesson commented on #4209
@jdubois, It does work but the banner is quite ugly on the V3 website because of the sidebar...

![capture du 2016-11-04 00-10-15](https://cloud.githubusercontent.com/assets/513471/19988916/4ef5969a-a223-11e6-88bc-ab2f91e254ca.png)
![capture du 2016-11-04 00-10-05](https://cloud.githubusercontent.com/assets/513471/19988917/4efbd2c6-a223-11e6-89e3-bcd8a36eb7d0.png)

Now, that I'm thinking about it,

[2016-11-03 23:59] delverdev commented on #2693
@lrkwz, if you're asking about closing on outside click, here it is:
Modal opens through `$uibModal.open` and have params like controller, templateUrl etc. Add param `backdrop: 'static'` and modal will not be closed on outside click.

[2016-11-04 09:41] jdubois commented on #4209
Yes +1 for doing this, can you do it? Not sure when I will the time.
Otherwise I know it's ugly, but at least it's clear!

[2016-11-04 09:45] lrkwz commented on #2693
Well no I am interested in not popping out the modal at all: I'll prefer
having the body inline in the page.

Il 04/nov/2016 00:59, "Delver Developer" <notifications@github.com> ha
scritto:

[2016-11-04 13:41] LaurSo opened #4427 "duplicate class while compiling"
##### **Overview of the issue**

I get the hipster project generated, I configure my eclipse, and when I compile the project, I get the error.
I have found other post but that not help or that are not clear. Can you help

 COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /xxx/target/generated-sources/com/camaieu/fasst/service/mapper/UserMapperImpl.ja

[2016-11-04 13:45] jdubois commented on #4427
Yes that's because of MapStruct.
Did you follow our guide at https://jhipster.github.io/configuring-ide/ ?
It might need to be corrected.

[2016-11-04 14:04] LaurSo commented on #4427
Yes I followed, except the part of the plugin maven "maven processor plugin" I dont know if installed or not
but It wasnt requered during configuration of eclipse
because no corresponding errors occured

[2016-11-04 14:06] jdubois commented on #4427
Well your issue is exactly with the "maven processor plugin": so it depends if the documentation is wrong or if you didn't follow it :-)
I know this isn't obvious, this is why DTOs are still in BETA after all this time. I personally don't have a clean working environnement here.

[2016-11-04 14:10] gmarziou commented on #2693
Guys, this is an issue tracker, please continue your dicussion where it belongs to: stackoverflow or gitter.
Thanks

[2016-11-04 14:15] lrkwz commented on #2693
You are right http://stackoverflow.com/questions/40424898/disable-modal-in-jhipster-angular-ui

[2016-11-04 14:17] jdubois commented on #2693
Guys, what's going in here?
I'm locking this thread.

[2016-11-04 16:50] mraible commented on #3664
@deepu105 I have some time to help with this today. Where should I dive in?

[2016-11-04 17:25] mraible commented on #4407
Translation seems to work for me. Login does not. I click on "Sign in" and nothing happens. Also, the following import statement does not resolve classes in IntelliJ IDEA:

[code]

This does work:

[code]

Should I change these?

[2016-11-05 06:46] deepu105 commented on #3664
Could you try to make protractor and karma tests work please. I have  a
ticket opened for that
On 04-Nov-2016 10:21 pm, "Matt Raible" <notifications@github.com> wrote:

[2016-11-05 06:47] deepu105 commented on #4407
Matt its coz of IDE issue. It works fine in vscode and while doing tscompile
On 04-Nov-2016 10:55 pm, "Matt Raible" <notifications@github.com> wrote:

[2016-11-05 06:49] deepu105 commented on #4407
The sign in on menu will work, but the one in the page doesn't work coz
translated content is sanitized and those directive are stripped. I still
don't have a solution for that
On 05-Nov-2016 12:17 pm, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2016-11-05 06:52] jdubois commented on #3664
Yes +1 for Karma and Protractor

[2016-11-05 08:29] alialrabi opened #4430 "Use entity in other microservice"
hi,I have problem to use entities  between  Microservices ,I have microservice1 has Team entity I need to use Team  entity in microservice2 ,I mean I need to import  TeamRepository.java in microservice2,How can  do that with jhipster?

[2016-11-05 08:41] jdubois commented on #4430
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-05 08:41] #4430 closed

[2016-11-05 08:43] jdubois commented on #4430
Sorry but this should go to SO

[2016-11-05 08:51] alialrabi opened #4431 "using entity in other microservice"
##### **Overview of the issue**
hi,I have problem to use entities between Microservices ,I have microservice1 has Team entity I need to use Team entity in microservice2 ,I mean I need to import TeamRepository.java in microservice2,How can do that with jhipster?

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster

[2016-11-05 08:57] jdubois commented on #4431
I'm sorry but this is the bug tracker and you don't have a bug.
The good place to go is Stackoverflow with the jhipster tag.

[2016-11-05 08:57] #4431 closed

[2016-11-05 08:57] jdubois commented on #4431
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-05 10:17] pascalgrimaud commented on #4430
@alialrabi : as said, it's a question for StackOverFlow. But you can find some information in this ticket that can help you too: https://github.com/jhipster/generator-jhipster/issues/3649 -> lot of links, blog, projects etc.

[2016-11-05 17:29] olsky commented on #2850
I have same issue: no log file in tomcat.

I have uncommented "FILE and ASYNC appenders" in the logback-spring.xml file.

Now, when starting with gradlew in dev -- the file is created in the project folder.
But when deploying war file to tomcat -- no file is created.

Any hints on this?

[2016-11-05 17:36] gmarziou commented on #2850
@olsky please don't camp on an old issue, open your own issue and provide all details.

[2016-11-05 17:45] olsky opened #4432 "Log file missing in deployed war (tomcat)"
Missing log file: jhipster war file deployed to tomcat.

The file appender uncommented in logback-spring.xml as in example.

Now when I start with gradlew in dev profile -- the file is created, but not when deployed.

Any idea on how to get the log?

Version info:

- jhipsterVersion: 3.6.0
- tomcat 8
- node: v6.3.0
- yeoman: 1.8.4

[2016-11-05 18:05] gmarziou commented on #4432
Look at tomcat logs to see how slf4j and logback are initialized, so far there's no evidence that logback-spring.xml is loaded and applied. You can put `<configuration debug=true` in logback-spring.xml to get more logs at init.

I suppose that logback-spring.xml is embedded in your war file, please confirm.

[2016-11-05 18:14] olsky commented on #4432
I will use the template next time! 👍

The logback-spring.xml is embedded in the war file, let me try to get it out...

[2016-11-05 18:51] olsky commented on #4432
so, modified catalina.sh added extra conf for logback.configurationFile...

but still no evidence of tomcat picking the conf up.

Am I doing it wrong?

[2016-11-05 18:53] ruddell commented on #4432
I uncommented the lines in logback-spring.xml and see a `logFile.2016-11-05.log` created in the root of my Tomcat folder (`/usr/local/tomcat`).  It stays at 0 bytes though, even in the dev profile...

[2016-11-05 19:53] gmarziou commented on #4432
This option look suspicious to me, as far as I remember it should be:

`-Dlogging.file=file:/usr/local/tomcat/conf/logback-spring.xml`

[2016-11-05 19:55] olsky commented on #4432
thank you for your input, I will try it.

[2016-11-05 20:01] gmarziou commented on #4432
Oops it should be

-Dlogging.configuration=file:/usr/local/tomcat/conf/logback-spring.xml

logging .file is for log file loacation, see http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html

[2016-11-05 20:02] olsky commented on #4432
here is what I've tried now:

this is tomcat specific, but it worked out and I see log file created with content.

[2016-11-05 20:03] gmarziou commented on #4432
It works because by default, your app prints to STDOUT but how will you change loglevel with this workaround?

[2016-11-05 20:03] pascalgrimaud commented on #4432
For me, I use these 2 steps:
1) uncomment https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/resources/logback-spring.xml#L7-L23
2) change from CONSOLE to FILE here: https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/resources/logback-spring.xml#L59

[2016-11-05 20:06] olsky commented on #4432
@gmarziou I see your point, I was on my way to try the external config file. Will try the: -Dlogging.configuration

[2016-11-05 21:00] gmarziou commented on #4432
I close the issue as it does not seem to be related to JHipster: more likely a spring-boot logging configuration question.

[2016-11-05 21:00] #4432 closed

[2016-11-05 23:33] PierreBesson commented on #4195
@anthonydahanne This looks really interesting, it would interesting to integrate this and have an option for the clustered cache in JHipster as well.

[2016-11-06 11:24] EmilMichalczewski opened #4434 "Credentials for default users not working"
I generated app with MongoDb database and OAuth2 authentication and after run i am trying to login with admin - admin and user - user credentials and both don't work.  There is one Warning which could be the cause :

[2016-11-06 11:54] jdubois commented on #4434
It really depends on your JHipster version and the options you selected. We can't just "imagine" what you do, and please remember we all do this on our free time... So please help us by providing more information.

[2016-11-06 11:54] jdubois commented on #4434
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-06 11:54] #4434 closed

[2016-11-06 15:03] pascalgrimaud commented on #4427
@LaurSo : just played with the last version of Eclipse: Neon, and I didn't manage to reproduce the issue.
But I use h2Disk / mysql instead of your config oracle/oracle:
- right click on pom.xml > run as... > maven build... > clean package
- right click on pom.xml > run as... > maven build... > spring-boot:run

Can you provide these information plz?
1) what is the version of your Eclipse ?
2) how d

[2016-11-06 16:50] jdubois commented on #4427
Not sure if @LaurSo you have misconfigured something or not, but as nobody else as commented this or warned us about the error, I guess I did something strange -> I'm closing this until we have more information, and we can reproduce

[2016-11-06 16:50] #4427 closed

[2016-11-06 17:28] lrkwz opened #4436 "baseURL in mail is localhost"
When used behind a proxy (nginx, varnish, ...) the technique used to retrieve baseUrl to be injected in email templates resolves in http://localhost:8080

            String baseUrl = request.getScheme() + // "http"
            "://" +                                // "://"
            request.getServerName() +              // "myhost"
            ":" +                                  // ":"

[2016-11-06 17:35] jdubois commented on #4436
- We probably have the same issue with the microservice architecture -> for me that's even worse, as what we provide out of the box isn't fully working
- Then we only use here the standard Servlet API, and going away from it could cause issues

Anyway, this whole line could be a custom Spring Boot property, and that would probably solve the issue for everyone:

- In our default conf this property

[2016-11-06 17:39] mraible commented on #3664
I'll work on this tomorrow (Monday).

[2016-11-06 17:41] gmarziou commented on #4436
There is probably something that can be done in same vein as this: http://docs.spring.io/spring-boot/docs/current/reference/html/howto-embedded-servlet-containers.html#howto-use-tomcat-behind-a-proxy-server

[2016-11-06 17:46] jdubois commented on #4436
Oh that would be even better, thanks @gmarziou
This needs to be tested, but if it works let's use that.

[2016-11-07 07:50] lrkwz commented on #4436
@gmarziou I've run a quick test of using the "Forgotten password" link and is seems to not resolve the port problem correctly:

    http://172.27.0.1:8080/#/reset/finish?key=21325569793582422291

The hostname (localhost) is replaced by the proxy ip (172.27.01 in my case because I'm using a dockerized httpd) but the port is still there.

My application.yml is

    server:
        port: 8080

[2016-11-07 10:10] davidweianibone commented on #3664
Hi, do you have estimation for when is Angular 2 going to be formally released for this project ?

[2016-11-07 10:15] wmarques commented on #3664
@davidweianibone depends on community contributions, so no, maybe a month or few weeks.

[2016-11-07 10:18] davidweianibone commented on #3664
Thanks wmarques! I'v just started to code with this amazing project and Angular. Hope to gain some more knowledge and also contribute.

[2016-11-07 10:50] gmarziou commented on #4436
Of course, it is documented to solve the HTTP redirection not your mail use case.
What I proposed is to look in Spring Boot source code how rediretion is solved and pottentially re-use whatever beans or services they used in another context: mail.

[2016-11-07 10:55] gmarziou commented on #4436
Thuguh it might not be possible as they use a Tomcat valve:

https://github.com/spring-projects/spring-boot/blob/98a3ae9ac4e617afe72de786ebc3033532bb125d/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/web/ServerProperties.java#L806

[2016-11-07 13:13] wmarques commented on #3664
@davidweianibone thanks, if you see some improvements don't hesitate to contribute ! :smile:

[2016-11-08 05:00] gtiwari333 commented on #4189
I got the similar exception when upgraded the JHipster version from 3.6.0(tomcat) to 3.10.0(undertow).
Had to update pom.xml to use tomcat instead of undertow to make the error go away.

As the occurrence of this exception is very unpredictable or random, I am having difficulty to debug this.
It would be good to have a permanent solution to it.

[2016-11-08 09:52] PierreBesson opened #4445 "[FEATURE] Prometheus support (Metrics)"
I think the metrics aspect of JHipster is not put forward enough as this stuff is really cool. Our official monitoring solution is the JHipster Console (of which I'm releasing a v2 and not planning to abandon) but it might not fit everyone use case (for exemple if you already have a log management solution) so it might be interesting to offer an alternative.

In the mean time some new technologies

[2016-11-08 10:17] cbornet commented on #4445
But ELK has the advantage to handle both logs and metrics. That's the reason why we didn't use Graphite initially.

[2016-11-08 10:22] pascalgrimaud commented on #4445
@PierreBesson : I got this error when launching docker-compose up:
`ERROR: Service 'prometheus' depends on service 'cadvisor' which is undefined.`

[2016-11-08 10:34] PierreBesson commented on #4445
@cbornet you are right I still want to work on elk but have a look at prometheus it has a lot of interesting features and is already present in many kubernetes/docker setups for monitoring the infrastructure. Also it's very easy to add support for it as you just need to expose the metrics on an endpoint similar to what is done by spring boot...

[2016-11-08 11:00] PierreBesson commented on #4445
@pascalgrimaud I just fixed it.

[2016-11-08 11:40] NijsTom opened #4447 "yo jhipster:client generator doesn't ask which type of authentication you want."
When generating the client, it doesn't ask which type of authentication the user would like to implement:
session-based: (stateful), token-based: (stateless), ...
It uses session-based by default and this causes some issues when using a token-based authentication implementation in the server.

![image](https://cloud.githubusercontent.com/assets/16881115/20097731/dfd857b0-a5a7-11e6-9157-97a221941b3

[2016-11-08 12:09] delverdev opened #4448 "Set default 'produces' to JSON in REST mappings"
##### **Overview of the issue**

Since most of the REST mappings produce JSON, I would like to suggest to set default 'produces' to `MediaType.APPLICATION_JSON_VALUE`.

##### **Motivation for or Use Case**

Less code.

##### **Suggest a Fix**

Make `WebConfigurer` extend `WebMvcConfigurerAdapter` and add the following bean:

[code]
Then remove all `produces = MediaType.APPLICATION_JSON_VALUE` from

[2016-11-08 12:35] xetys commented on #4448
Since we migrated to spring boot 1.4, we are already using the short cut
annotations like GetMapping. We also figured out, that json is already
there default value for content negotiation, so we are not mentioning it
anymore.

So for new JHipster applications, this would be ambiguous

вт, 8 Ноя 2016 г., 13:09 Delver Developer <notifications@github.com>:

[2016-11-08 12:40] PierreBesson commented on #4448
I hadn't noticed as well but as @xetys pointed out, the media type is not present anymore in generated REST resources:
https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/templates/src/main/java/package/web/rest/_EntityResource.java

Anyway thanks for your input.

[2016-11-08 12:40] #4448 closed

[2016-11-08 12:40] gmarziou commented on #4447
Are you sure that you can use the client generator directly?

In my understanding this is always used through the app generator with `yo jhipster --skip-server` but I could be wrong.H ave you tried?

[2016-11-08 18:17] jdubois opened #4449 "Update to Spring Boot 1.4.2"
See https://spring.io/blog/2016/11/08/spring-boot-1-4-2-available-now

[2016-11-08 21:24] deepu105 commented on #4447
Please read the docs. If you are using the client directly you need to pass
the auth and other details as command line flags. It's documented on the
website.

Thanks & regards,
Deepu

On 8 Nov 2016 1:40 p.m., "Gaël Marziou" <notifications@github.com> wrote:

[2016-11-08 21:24] #4447 closed

[2016-11-08 23:57] nkolosnjaji opened #4450 "[FEATURE] Improve infinite-scroll for Entity with Slice"
* **Overview of the request**

Use Spring Slice instead of Page when infinite-scroll is turned on for Entity.

Edit: this techinque can be used with Simple Pager also, but it can't show total count for jhi-item-count component

* **Motivation for or Use Case**

Slice is more suited for infinite-scroll because count all query can be avoided which will improve performance. Requesting page with size

[2016-11-09 00:01] mraible commented on #4302
Is it possible to disable the UI-Router state viewer? I think it might be causing issues with Protractor tests.

[2016-11-09 06:44] deepu105 commented on #4302
Should be possible I guess. @christopherthielen

[2016-11-09 10:54] jdubois commented on #4450
I'm not familiar with it, but indeed this looks much better!
So +1 from me!

If you do a PR be careful:

- On the backend this should be implemented for JPA (easy), MongoDB (no idea how it's done), and Cassandra (I coded this myself, should be similar, but that was some time ago so I'm not 100% sure).
- On the frontend we have 2 branches, one for AngularJS 1 and one for Angular 2. So the best solu

[2016-11-09 11:02] #4249 closed

[2016-11-09 11:51] nkolosnjaji commented on #4450
Yes, there will be a small impact on frontend, so we don't need to wait for Jhipster 4 release.
I have working sample for JPA and today I will start PoC for other DB options before doing PR.
I will let you know of progress later.

[2016-11-09 12:15] becjit opened #4451 "Java Service Class is not generated while regenerating entity"
##### **Overview of the issue**

Java Service Class is not getting generated while regenerating entities by  modifying <entity>.json file

TestEntity.json after generating it

{
    "fluentMethods": true,
    "fields": [
        {
            "fieldName": "isDefault",
            "fieldType": "Boolean"
        }
    ],
    "changelogDate": "20161106174609",
    "dto": "no",
    **"service": "no",*

[2016-11-09 12:19] chaodhib commented on #1558
Using the maven plugin `maven-compiler-plugin` (like described in the [documentation of MapStruct ](http://mapstruct.org/documentation/1.1/reference/html/index.html#configuration-options)), instead of the plugin `maven-processor-plugin` also fixes the issue, without having to do any other change.

[2016-11-09 12:23] mehmet-aslan commented on #4451
You could write `serviceClass` or `serviceImpl` to generate service class/interface&implementation. It does not have option `yes`.

[2016-11-09 12:26] jdubois commented on #4451
Yes indeed!

[2016-11-09 12:26] #4451 closed

[2016-11-09 12:31] jdubois commented on #1558
@chaodhib could you help on the doc? Looks like you have a solution, and I don't have a good one (disclaimer: I don't use DTOs! I know I should!)

[2016-11-09 12:32] jdubois commented on #4450
Great, thank you @nkolosnjaji
I think it shouldn't be too hard on MongoDB and Cassandra, and at least I'm available to help on Cassandra

[2016-11-09 12:33] Halogar opened #4453 "Session IDs being dropped"
Hello,

We have encountered a problem where from time to time we lose an request to API due to the error that there is no session associated with the request. It occurs at random and we have not been able to determine any proper cause for it. It seems that for some reason sessions are dropped etc. Stacktrace of one of failed calls is included below.

The problem does not seem to have any relation

[2016-11-09 12:52] becjit commented on #4451
Thanks. Can this be added in the documentation of regenerating/updating entity? It would be helpful

[2016-11-09 12:57] jdubois commented on #4453
This is a duplicate from #4189 and this is why I'm closing this.
Looks like an important issue, we need help to find this out, as this has been opened for a long time.
One solution for you is to use Tomcat, but this isn't a long-term solution.
I'll try to find some time in the next weeks for this.

[2016-11-09 12:57] #4453 closed

[2016-11-09 12:59] #4449 closed

[2016-11-09 13:40] jdubois commented on #4453
@Halogar could you provide your full `.yo-rc.json`, as requested in the guidelines? It's really important, if you want me to be able to reproduce... I just wanted to try during 5 minutes, and I couldn't reproduce, so here we are losing time!

[2016-11-09 13:44] Halogar commented on #4453
Added conf file.

[2016-11-09 13:46] jdubois commented on #4453
Thanks! You have selected all the options :-)

[2016-11-09 13:48] Andaav commented on #4189
With regards to #4453 - we are not using undertow. We get the error quite often (perhaps 1 in 100 requests?) and the configuration is Apache from 5.6-apache (2.4.10) / Tomcat from 8.5-jre8.

[2016-11-09 13:51] jdubois commented on #4189
thanks @Andaav ... so the issue would be just with Hazelcast? Like their filter isn't working properly?

[2016-11-09 14:10] Andaav commented on #4189
@jdubois sorry this goes way over my competence level :)

[2016-11-09 14:14] jdubois commented on #4189
OK this looks like an Hazelcast issue, at least I'm going to update its version:

- This is needed by @henri-tremblay on #4454 anyway
- Hopefully the issue is corrected in this new release

[2016-11-09 15:57] jdubois commented on #4189
I've tried to upgrade Hazelcast, and as always this is very painful, and not working.

So I've spent a lot of time of Hazelcast session clustering, and I'm not sure this is useful:

- We clearly push to have stateless apps
- In my stats, only 1,3 % of people are using it (that's from the anonymous stats - turn them on if you want your vote to count!)

I'm going to do a quick Twitter survey on this

[2016-11-09 17:19] swit1983 opened #4455 "I encountered an error in the implementation of yo !"
##### **Overview of the issue**
G:\kenlenecd>yo jhipster
F:\node-global\node_modules\yo\node_modules\rx-lite\rx.lite.js:75
    throw e;
    ^

Error: write EINVAL
    at exports._errnoException (util.js:1022:11)
    at WriteStream.Socket._writeGeneric (net.js:715:26)
    at WriteStream.Socket._write (net.js:734:8)
    at doWrite (_stream_writable.js:334:12)
    at writeOrBuffer (_stream_writable.j

[2016-11-09 17:31] jdubois commented on #4455
Depends on your version, etc....

[2016-11-09 17:31] jdubois commented on #4455
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-09 17:31] #4455 closed

[2016-11-09 20:06] deepu105 commented on #4392
@TheLarkInn did you find time to have a look at this?

[2016-11-09 21:21] nkolosnjaji commented on #4450
@jdubois I finished PoC for MongoDB. It's easy to implement, same as JPA, because it's using spring data abstraction. With Cassandra I will need help, because I don't have knowledge.
Is there any reason why not using spring-data-cassandra ? It will be easier for developers to use uniform spring data project. Are there any open issues ? If yes, I can make same test.

[2016-11-09 21:26] jdubois commented on #4189
So eventually I did the upgrade to Hazelcast 3.7 :
https://github.com/jhipster/generator-jhipster/commit/dd8d84ff70d7c426296516065890af30d18cbb1a

The code I originally did is a bit tricky, as it looks like Hazelcast didn't think of people who would use HTTP Session clustering AND Hibernate 2nd level cache at the same time. And this is what is mostly causing issues. Without session clustering, our

[2016-11-09 21:33] jdubois commented on #4450
@nkolosnjaji basically spring-data-cassandra is not as up to date and as well documented as the rest of Spring Data, because that's a contribution from a third-party company.
Then, I don't find the Spring Data philosophy fits well with Cassandra, and I know a lot of Cassandra developers and nobody uses it. So I'd rather use the "normal" API, which is the recommended one by DataStax, which is (obvi

[2016-11-09 22:28] jdubois commented on #4189
As @gAmUssA looks interested:

- One of the troubles is the maintenance of https://github.com/jhipster/generator-jhipster/blob/dd8d84ff70d7c426296516065890af30d18cbb1a/generators/server/templates/src/main/java/package/config/hazelcast/_HazelcastCacheRegionFactory.java
- This file is needed to get a reference to the Hazelcast instance (otherwise it's in a protected field), so we use the same instan

[2016-11-09 22:30] jdubois commented on #4189
@gAmUssA and then of course the goal is to solve https://github.com/jhipster/generator-jhipster/pull/4454 but for me we should first upgrade to the latest version cleanly

[2016-11-09 23:33] chaodhib commented on #1558
@jdubois It's not about the doc.

Up until https://github.com/mapstruct/mapstruct/pull/786, the guys at MapStruct were using the `maven-processor-plugin` in order to launch their annotation processor.

So in the pom file, projects that used MapStruct had this section:
[code]
Since then, `maven-compiler-plugin` is used:
[code]

They did this change because of issues cf https://github.com/mapstruct/

[2016-11-10 00:04] christopherthielen commented on #4302
Can you toggle debug mode for the tests?

https://github.com/jhipster/generator-jhipster/blob/angular-2/generators/client-2/templates/src/main/webapp/app/blocks/config/_router.config.ts#L11-L14

[code]

[2016-11-10 00:30] gAmUssA commented on #4189
@jdubois couple questions / notes

- https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/_CacheConfiguration.java#L164 you shouldn't use `HazelcastInstanceFactory`, it's private API. Instead, use `Hazelcast.newHazelcastInstance(config);`
- using `Hazelcast.getHazelcastInstanceByName("myApp") you can retrieve available Hazelcast instan

[2016-11-10 04:22] gAmUssA commented on #4189
@jdubois bullet point 3 in your question - what's desired behaviour?

[2016-11-10 06:05] ruddell commented on #4075
Instructions to reproduce

1. Generate a UAA (unrelated), microservice (`micro`), and gateway (`gway`).
2. Generate an entity in the microservice.
3. Replace the `return` in the create method with the `return` from the first post
4. On an entity creation, I see the headers `X-microApp-error:error.identifierexists`, `X-microApp-params:Device`
5. I can verify the error is received in `errorhandler.i

[2016-11-10 08:20] nkolosnjaji commented on #4450
@jdubois currently pagination is [disabled ](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/prompts.js#L347-L349) for entity generator and [user-management](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/web/rest/_UserResource.java#L157) in admin section when cassandra is selected. Do we have to implement t

[2016-11-10 08:34] henri-tremblay commented on #4189
For Ehcache, because of the way JCache, Hibernate and Spring works, I had to use a [SpringCacheRegionFactory](https://github.com/jhipster/generator-jhipster/pull/4454/files#diff-19f26f38a822f1ce23fe5d7c3c5c3b81) to have the same CacheManager for both Spring and Hibernate.

We should be able to load Hazelcast using JCache and get only one CacheManager.

[2016-11-10 10:02] jdubois commented on #1558
Oh I didn't know that, we must update the generator then! Let me have a look

[2016-11-10 10:05] jdubois commented on #4450
Oh I didn't think it was disabled! I coded this to have it working, and probably didn't finish... As nobody asked about it, it probably isn't that useful anyway.
For this PR, anyway: let's do one thing at a time, so let's improve the current code with the "slice", and then we could do a 2nd PR do add this feature for Cassandra, but that's a different thing.
So for me if you have JPA+MongoDB workin

[2016-11-10 10:21] jdubois commented on #4189
@gAmUssA thanks for your comments!

- This code is in fact quite old. I coded this for myself, a long time before Spring Boot existed, and probably for Hazelcast 2.x. And since then nobody touched it. So it can definitely be improved -> if you can remove or improve it, that's perfectly normal, and don't hesitate to do so.
- My expected behavior is that Hazelcast isn't lazy-loaded. The main use cas

[2016-11-10 11:01] jdubois commented on #1558
Indeed, this works well!! It's probably also so end of the "IDE" profile from @cbornet as it now works well out of the box.
I'll do some more tests and commit this.

[2016-11-10 11:14] jdubois commented on #1558
OK it's not so easy, I'm re-opening the ticket to remember this, and work on it later.
Help of course is welcome!
And the documentation on https://jhipster.github.io/configuring-ide-eclipse/ will need to be updated

[2016-11-10 11:16] SidMorad opened #4456 "Removing trailing whitespaces"
Hi everyone,

JHipster : 3.10.0

I do check for trailing whitespaces by .git/hooks/pre-commit hook.

Since I may not be the only one, would you please doing this last step
to make new generated app by JHipster trailing whitespace free?

Doing this fix for generating new Entity will be great too. Imagine I
am doing this boring task again and again while you could fix it for
me and everyone else in

[2016-11-10 12:41] deepu105 commented on #4456
You can submit a PR we will be happy to merge

Thanks & regards,
Deepu

On 10 Nov 2016 12:16 p.m., "SidMorad" <notifications@github.com> wrote:

[2016-11-10 15:02] gAmUssA commented on #4189
@henri-tremblay Hazelcast has integration with [Hibernate5 and 5.2][2]. It requires Hazelcast 3.7
Also in Hibernate 5 they [introduced][1] `JCacheRegionFactory`. Going forward I think it would be more sense standardize on `JCache`.

@jdubois

We can start `HazelcastInstance` during Spring context initialization. After that instance can be injected using `@Autowired` or `@Inject`.
Correct?
I can cr

[2016-11-10 17:08] henri-tremblay commented on #4189
Thanks. I will upgrade to 3.7 and hibernate52-1.1.1

On 10 November 2016 at 16:02, Viktor Gamov <notifications@github.com> wrote:

[2016-11-10 17:37] swit1983 opened #4457 "Help me,What is wrong result?"
G:\kenlenecd>yo jhipster
F:\node-global\node_modules\yo\node_modules\rx-lite\rx.lite.js:75
    throw e;
    ^

Error: write EINVAL
    at exports._errnoException (util.js:1022:11)
    at WriteStream.Socket._writeGeneric (net.js:715:26)
    at WriteStream.Socket._write (net.js:734:8)
    at doWrite (_stream_writable.js:334:12)
    at writeOrBuffer (_stream_writable.js:320:5)
    at WriteStream.Writ

[2016-11-10 17:55] ruddell commented on #4457
This is your second issue with the same content.  Please follow the issue template before opening another one.  I would try re-installing or upgrading yeoman `npm install -g yo`.

[2016-11-10 17:55] #4457 closed

[2016-11-10 17:59] jdubois commented on #4189
@henri-tremblay I've already upgraded to 3.7 in master :-)

@gAmUssA yes the Spring Cache abstraction is another good use case: we don't provide it just because it's too simple (there is no added value, see [Policy 2](https://jhipster.github.io/policies/), but I guess many people want this. And it would indeed be simpler if that was a Spring Bean - I think there is already a Spring Boot starter fo

[2016-11-10 17:59] jdubois commented on #4457
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-10 17:59] ruddell commented on #4457
This looks like an issue with the newer versions of node (> v7.0.0).  The current 'workaround' is to either use v7.0.0 or LTS

https://github.com/nodejs/node/issues/9542

[2016-11-10 18:00] jdubois commented on #4457
Oh yes, then this ticket could have been good!!! Can you rewrite the title?

[2016-11-10 18:07] ruddell commented on #4457
I updated the title, I don't think there's much we can do until it gets fixed upstream.

This issue only affects Windows users using the newest node version

[2016-11-10 18:20] deepu105 commented on #4457
Just use an LTS guys

Thanks & regards,
Deepu

On 10 Nov 2016 7:07 p.m., "Jon Ruddell" <notifications@github.com> wrote:

[2016-11-11 02:54] swit1983 commented on #4457
I'm sorry, I didn't see the first question that had been closed.

Thank everyone.

[2016-11-11 07:08] deepu105 opened #4459 "Ng2: refactor entity sub generator"
Internal task

- [x] split to entity-client and entity-server
- [x] refactor to use the new file syntax
- [ ] add ng1 and ng2 templates for client

[2016-11-11 12:32] jdubois commented on #1558
I'm still working on this: you are correct and this must be updates, but it's so hard to have a working Eclipse configuration!!!! Lots of time lost here.

[2016-11-11 22:16] #1558 closed

[2016-11-11 23:01] jdubois commented on #4373
I confirm the issue, and the fix by @mmaia works for me.

[2016-11-11 23:10] #4373 closed

[2016-11-12 02:44] gAmUssA commented on #4189
@jdubois implemented your requirements

https://github.com/gAmUssA/jhipster-hazelcast-reference-impl/commit/c87b285cf6a73453ba6cf3c1c3d806d7529a1d78 - check commit message and diff

Let me know if you have any questions.
If you're ok with this implementation I will go ahead and send PR for generator.
After that we can upgrade with @henri-tremblay changes

Thank you

[2016-11-12 08:18] nkolosnjaji commented on #4450
@jdubois unfortunately this feature can not be implement for elastic search as spring-data-elastic doesn't support Slice for search method (only for find). Do you still want to go with this feature when elastic search is turned off and db is not Cassandra ?

[2016-11-12 08:25] deepu105 commented on #4450
I dont like to maintain 2 implementations for the same thing unless there
is a huge benefit from doing so

Thanks & regards,
Deepu

On 12 Nov 2016 9:18 a.m., "Nikola Kološnjaji" <notifications@github.com>
wrote:

@jdubois <https://github.com/jdubois> unfortunately this feature can not be
implement for elastic search as spring-data-elastic doesn't support Slice
for search method (only for find). Do

[2016-11-12 08:44] nkolosnjaji commented on #4450
@deepu105  yes, it will add confusions with different combos. This feature is really easy to implement so it will not add too much value.

[2016-11-12 10:22] jdubois commented on #4450
Oh I'm so sad about this!!
Indeed, it's going to be confusing to have 2 implementations, and a lot of people are using ElasticSearch, so this wouldn't be a minor change.

So I'm closing this as we can't do it, but I'm really sorry about this @nkolosnjaji you had a good idea and spent time to implement it!!!!!

[2016-11-12 10:22] #4450 closed

[2016-11-12 10:30] jdubois commented on #4189
Thanks @gAmUssA

- We added quite a few comments
- But overall this looks really good
- And lots of lines deleted!!! Great!

If you struggle with our templates, don't hesitate to do an incomplete PR, we will help you, no problem.

[2016-11-12 11:28] jdubois commented on #4153
I'm closing this for "lack of interest", this is something we can work on after the Angular 2 release, but that's going to take some time.

[2016-11-12 11:28] #4153 closed

[2016-11-12 11:48] m2ger commented on #1425
Thanks, the same helped in vultr with Debian Jessie as well.
It had worked though in the same server without this parameter for the last 10+ months.

[2016-11-12 19:31] deepu105 commented on #4450
You could submit this as a tip on the website if you like

Thanks & regards,
Deepu

On 12 Nov 2016 11:22 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2016-11-12 23:00] jdubois commented on #4356
In fact we also have the issue without DTOs... I've never done a many-to-many relationship on the same entity, should we support this? This is like inheritance, we can't support everything.
If it adds too much complexity for us, and if this isn't widely used, then we let people code it themselves.

[2016-11-12 23:22] jdubois commented on #4356
Sorry, this analysis is wrong. I used your `.json` file but you made a mistake (not an easy one, of course!): your `otherEntityRelationshipName` isn't the same as your `relationshipName`, but as you make the relationship on the same entity, they should be the same.
If you correct that, then it works without DTOs, so no issue at all here.

That just leaves us with the DTO issue: once again, this is

[2016-11-12 23:50] mehmet-aslan commented on #4075
Entity create/update/delete alerts have similar issue. Microservice adds `X-microApp-alert` and `X-microApp-params` to headers but gateway tries to get alert&params headers using `gatewayAppName` at `notification.interceptor.js`.
[code]
I tried @ruddell's solution, it seems that `headers` is filled in reverse order so `headers[0]` and `headers[1]` should be switched.

Also `X-microApp-alert` heade

[2016-11-13 09:16] nkolosnjaji commented on #4450
@deepu105 will do

[2016-11-13 11:04] jdubois commented on #4189
@henri-tremblay I won't be much available to work on JHipster next week, so that would be at least the week after

[2016-11-13 17:35] jdubois commented on #4436
Yes I've had a look at it and it seems quite complex to re-implement for mail, and besides I'm sure there are use cases which will not cover.
I'm going to do my first proposal, which is much easier, and add a configuration property.

[2016-11-13 17:57] lrkwz commented on #4436
+1 Makes sense

Il 13/nov/2016 18:35, "Julien Dubois" <notifications@github.com> ha scritto:

[2016-11-13 19:44] #4436 closed

[2016-11-13 22:54] #4159 closed

[2016-11-13 23:12] zulfahmi commented on #2281
It seems that Liquibase Hibernate support Hibernate 5 now

[2016-11-13 23:53] gmarziou commented on #2281
Yes we know: https://github.com/jhipster/generator-jhipster/issues/4195

[2016-11-14 01:52] zulfahmi commented on #4195
Will support for Hibernate 5.x mean that Geometry/Spatial data type will be available in entity?
I hope this will. Thank you.

[2016-11-14 03:30] gAmUssA commented on #4189
@henri-tremblay I will work on PR tomorrow.

[2016-11-14 07:18] mehmet-aslan commented on #4075
@ruddell if you are not working on this, I will make a PR to correct both error and alert headers using your solution.

[2016-11-14 07:29] jdubois commented on #4075
This is all my fault, and I know this is not working, but the original idea is that you have different headers depending on which microservice sends the message. I'm not sure it was such a great idea, now, and we have no use case for this, that I know of.

There are other solutions like:

- Have a Zuul filter that modifies the request: headers could be re-written there.
- Have the same headers for

[2016-11-14 07:32] jdubois commented on #4195
@zulfahmi we are just doing an upgrade for the moment, so nothing more. This ticket is about doing this upgrade, if you want new features please add a new ticket.

[2016-11-14 08:03] krishna81m opened #4466 "blank page on startup with no exceptions"
* **Overview of the request**
blank page on startup on FireFox and Chrome in windows OS with no exceptions

* **Motivation for or Use Case**
tried jhipster-sample-app as well as building a new application from generator-jhipster

* **Browsers and Operating System**
all browsers

C:\Work\neon-workspace\jhipster-sample-app\.jhipster>yo jhipster:info

Just found a `.yo-rc.json` in a parent directory.

[2016-11-14 08:08] krishna81m commented on #4466
A quick look at the page source showed that /bower_components was completely missing.
http://localhost:8080/bower_components/angular-loading-bar/build/loading-bar.js"

[2016-11-14 08:17] krishna81m commented on #4466
Also, another issue is that if we enable kafka, it is forcing us to validate the ZK/Broker endpoints, I thought jhipster brings up some embedded kafka instance, isn't it?

[2016-11-14 08:29] krishna81m commented on #4466
I tried twice and chose fewer/simpler components and reproduce the problem in new folders, something with windows OS?

  +-- window-size@0.2.0
  +-- y18n@3.2.1
  `-- yargs-parser@3.2.0
    `-- camelcase@3.0.0

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents

[2016-11-14 08:30] jdubois commented on #4466
Blank page, not the error page? With no Bower? That would be a major
issue!!!!
Can you send your logs when the app is generated? You should have a trace
at the end.
And can you do a "source view" of the blank page, if possible?? No idea why
don't have the error page.
For Kafka: one issue per ticket, or this will be a mess.

Le 14 nov. 2016 9:17 AM, "Krishna" <notifications@github.com> a écrit :

[2016-11-14 08:40] krishna81m commented on #4466
Here you go:

`<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>jhipsterSampleApplication</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css

[2016-11-14 08:49] daddy32 opened #4467 "Performance decrease with byte[] fields in entities."
##### **Overview of the issue**
I see following issue with otherwise excellent blob support in JHipster.

As per design, the REST response is returning all the file contents directly. This is problematic in listing templates - when displaying a list of several records, page is not rendered until the angular client finishes downloading ALL the files from the server - of course, only after the query

[2016-11-14 09:47] cbornet commented on #4466
Are you sure git is installed on your system ?

[2016-11-14 10:00] krishna81m commented on #4466
Its installed but probably not in the path, you think git caused this problem with just this one folder?

[2016-11-14 10:06] pascalgrimaud commented on #4466
@krishna81m : do you use this project https://github.com/jhipster/jhipster-sample-app.git ?

[2016-11-14 10:24] krishna81m commented on #4466
Update: fixed git path, did yo jhipster in a new folder and mvnw again and it worked, thanks so much guys.
http://localhost:8080/#/

@pascalgrimaud yes, tried that app too, it had the bowers folder/scripts but still did not come up either. This could not be relate to git :), as I check out using git.

[2016-11-14 10:36] pascalgrimaud commented on #4466
I think there is an issue:
- git clone https://github.com/jhipster/jhipster-sample-app.git
- cd jhipster-sample-app
- npm install
- ./mvnw

=> blank page

Then, I stopped the app
- bower install && gulp install
- I saw some git diff in the project -> it shouldn't

@jdubois : I wonder if it's related to some problems when you regenerate the project here https://github.com/jhipster/jhipster-sample-a

[2016-11-14 10:59] pascalgrimaud commented on #4466
To resolve this issue on the generated jhipster-sample-app:
- rm -Rf src/main/webapp/bower_components/angular-loading-bar
- rm -Rf src/main/webapp/bower_components/ngInfiniteScroll
- bower install && gulp install

Maybe the others generated are impacted too.

[2016-11-14 11:03] jdubois commented on #4466
Thanks @pascalgrimaud I'm having a look

[2016-11-14 11:04] jdubois commented on #4466
@pascalgrimaud in fact I'm going to regenerate everything with the current master, this shouldn't do much harm anyway

[2016-11-14 11:22] jdubois commented on #4466
concerning the original issue: you have a big stack trace saying `Error: Bower components directory does not exist at C:\Work\neon-workspace\jhipster_app_2\src\main\webapp\bower_components` so of course it fails.
Then the page shouldn't be like that, I don't understand why you don't have the error page.

[2016-11-14 11:22] #4466 closed

[2016-11-14 11:23] jdubois commented on #4466
Closing this as it looks you solved it, still I don't understand what you did.

[2016-11-14 11:36] jdubois commented on #4466
@pascalgrimaud in fact all samples fail since commit https://github.com/jhipster/generator-jhipster/commit/78b546331aef18612fc4cf9d14ddf320c4f1e761 from @dpalomar as now the "build" directory is excluded.
And this is used by various packages in bower_components, which makes they are not commited in Git -> when you clone the project, those files are missing.
I'm going to change this.

[2016-11-14 11:46] pascalgrimaud commented on #4466
Nice ! Good catch Julien

[2016-11-14 13:06] jdubois commented on #4467
Yes I understand your issue, as you ask to have 5 big entities loaded.
Maybe you could have those big attributes lazy-loaded: in this specific use case it wouldn't help as you are loading everything anyway (it might even make things worse), but you could also hide those attributes from the UI and not load them at all.
That could be a solution, then there are other people who will want to do the op

[2016-11-14 13:06] #4467 closed

[2016-11-14 14:18] henri-tremblay commented on #4189
Thanks. I merge it into mine to see how it goes. Your code is much simpler than the actual one.

[2016-11-14 15:02] zulfahmi commented on #4195
@jdubois I see, thanks

[2016-11-14 15:04] zulfahmi opened #4468 "Strange Behaviour if entity name contain "Node" word"
I think there is an issue when application using word 'node' or word contain 'node' as entity name.
I created simple jhipster app, then I add some entities and one of them is entity Node. I can generate and run application. But when I try create new Node data in new form, there is no form shown, only grey page. There is no problem with other entity CRUD test. I thought there was a problem with my

[2016-11-14 15:08] #4456 closed

[2016-11-14 15:11] zulfahmi opened #4469 "[FEATURE] Geometry field type support"
I think it will be very helpful if field type Geometry added to entity when jhipster upgrade to Hibernate 5 because this Hibernate version already include spatial data type in its release.

My wish list anyway :)

Thanks and regards,

zulfahmi

[2016-11-14 15:11] jdubois commented on #4468
Next time, can you follow the guidelines so I can more easily reproduce? I'm trying to create one now

[2016-11-14 15:13] jdubois commented on #4468
I confirm the issue, looks like an issue in AngularJS, maybe `node` or `nodeName` is a reserved keyword there?

[2016-11-14 15:14] jdubois commented on #4468
Here is my `.jhipster/Node.json` file:

    {
    "fluentMethods": true,
    "relationships": [],
    "fields": [
        {
            "fieldName": "nodeName",
            "fieldType": "String"
        },
        {
            "fieldName": "nodeType",
            "fieldType": "String"
        }
    ],
    "changelogDate": "20161114151048",
    "dto": "no",
    "service": "no",
    "entityTableNam

[2016-11-14 15:21] zulfahmi commented on #4468
@jdubois  Thanks for remind me about the guidelines.
And also for swift response.

[2016-11-14 15:26] jdubois commented on #4468
I guess we will need to have a new "reserved keywords" for the front end, like we have for databases

[2016-11-14 16:07] mehmet-aslan commented on #4075
Don't you prefer the javascript parse option? Even if microservices use same headers, created/updated/deleted messages need to move under this header name. It isn't much different and maybe different headers could be meaningful at sometime(even though you said no use case for now).

[2016-11-14 16:11] jdubois commented on #4075
I'm afraid that looking for `X-*-error` could make you find other headers than the ones sent by JHipster, they are not specific enough. Then, of course, this would work and be less trouble.
I'm eager to have feedback here!

[2016-11-14 16:52] daddy32 commented on #4467
Thank you for an answer.

But I would argue that current behavior is almost never desirable - so even if there is no option, default behavior should be other way around:  **never** load the contents of byte[] fields, at least in the listings.
But of course, I don't have the usage statistics (small files vs bigger files) to support this claim.

Just to be clear: I've used generated application with

[2016-11-14 16:55] ruddell commented on #4075
@jdubois To make sure we only get JHipster headers, we can search for `X-*App-error` or `X-*App-params` ('App' is added on to the base name automatically).  I prefer having the app name rather than a generic `X-jhipster-error` header - this really only benefits the developer though.

@mehmet-aslan Feel free to claim this fix, I would wait until the correct path is decided.

[2016-11-14 17:02] ruddell commented on #4467
I solved this in the past by using DTOs.  When fetching lists of the entity, I used a DTO that excluded the blob field.  When creating/updating/loading a single entity, I used a DTO that included the blob field.

[2016-11-14 17:06] jdubois commented on #4467
Oh yes that's even easier @ruddell !

[2016-11-14 17:12] daddy32 commented on #4467
OK, thank you both! I will use the DTO approach.

[2016-11-14 19:51] deepu105 commented on #4468
I dont think angular has such reserved keywords. needs some investigation
here

Thanks & Regards,
Deepu

On Mon, Nov 14, 2016 at 4:26 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-11-14 20:15] lluiscanals opened #4471 "mysql table creation fails when selecting more than one required field of type ZonedDateTime"
##### **Overview of the issue**
Table creation fails when selecting more than one required field of type ZonedDateTime.

[code]
##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
3.10.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
{
  "generator-jhipster": {

[2016-11-14 20:49] deepu105 commented on #4471
I think its a known limitation of MySQL where you cant have two columns of
date type with required on it

Thanks & Regards,
Deepu

On Mon, Nov 14, 2016 at 9:15 PM, Lluis Canals Ros <notifications@github.com>
wrote:

[2016-11-14 20:52] jdubois commented on #4471
Yes and we already had this ticket in the past, have a look at the history

[2016-11-14 20:52] #4471 closed

[2016-11-14 21:27] krishna81m commented on #4466
Thanks @pascalgrimaud  and @Julien for finding and fixing sample app empty page *as well*, let me give it a try.

[2016-11-14 22:10] gmarziou commented on #4469
This could be not easy because not all databases support Geometry. At work, we use it for both PostgreSQL and H2, there's also a 3rd party extension for Liquibase.

[2016-11-14 23:09] tientq opened #4473 "[FEATURE] Support Vietnamese"
* **Overview of the request**

Hello, I'm Vietnamese. I'm going to use jhipster to kick start my project. And I recognize that jhipster has not support Vietnamese yet.
I read guidelines about how to add a new language that is not supported. But I want to use Vietnamese as the main language. And everyone especially Vietnamese can use it.

* **Motivation for or Use Case**

Support Vietnamese.

* **B

[2016-11-15 05:26] pascalgrimaud commented on #4473
New language is welcome.
Can you do a PR?

[2016-11-15 05:42] tientq commented on #4473
I'm sorry, what do you mean "PR"?

[2016-11-15 06:46] jdubois commented on #4473
A Pull Request, that's how people contribute. Have a look at our "CONTRIBUTING" document on the root directory of the project.

[2016-11-15 06:48] jdubois commented on #4469
Oh indeed, this probably won't work with MySQL, and won't be supported by JPA...

[2016-11-15 07:04] tientq commented on #4473
Yes, of course. I'm translating. I will commit it when I complete the translation.

[2016-11-15 08:01] jdubois commented on #4469
OK, I've had a look, and indeed that's specific, and would need to add extra libraries - which of course we can't do for everyone.
So sorry @zulfahmi but we can't add this for everyone - this would need to be a module, but I'm not sure we can do it as it's also part of the entity sub-generator.

[2016-11-15 08:01] #4469 closed

[2016-11-15 08:02] jdubois commented on #4473
OK perfect @tientq ! In your commit, don't forget to close this issue using the specific "Fix" keyword.

[2016-11-15 08:55] tientq commented on #4473
Yes, thank you.

[2016-11-15 09:28] NilsWild opened #4475 "Entity name instead of tablename used to generate foreign keys"
##### **Overview of the issue**

if you got a long entity name but shortened its tablename. the tablename in the liquibasefile is updated but the entityname is used for the foreignkeys

##### **Motivation for or Use Case**

limited foreignkeylength

##### **Reproduce the error**

generate two entities with an relationship to each othe and long name and shorten their tablenames. then regenerate you

[2016-11-15 09:32] jdubois commented on #4189
With the latest 3.11.0 release we have now upgraded to Hazelcast 3.7, so hopefully this is solved.
Unfortunately we have no way to reproduce, so please add comments if you still have this!!!

[2016-11-15 09:32] #4189 closed

[2016-11-15 10:09] krishna81m commented on #4466
Now, regarding the blank new project using generator, the page is up, but clicking entities does not do anything, just a small attempt to open something but stops right there.
So, I did yo jhipster --force --with-entities as discussed in https://jhipster.github.io/creating-an-app/ and then mvnw, application starts up fine, I can login as admin/admin but entities does not show anything, is this nor

[2016-11-15 10:11] jdubois commented on #4466
Of course you should have your entities generated, but this is of course another issue -> could you open up another ticket, with your full configuration?

[2016-11-15 10:22] krishna81m commented on #4466
Following the above steps for the sample-app, force remove, install again, the application *is working fine*, I can see entities menu come up properly, unlike the blank new project using generator which does not show entities - see above comment.

ngInfiniteScroll#1.3.0 src\main\webapp\bower_components\ngInfiniteScroll
└── angular#1.5.8

angular-loading-bar#0.9.0 src\main\webapp\bower_components\a

[2016-11-15 10:23] krishna81m commented on #4466
@jdubois , ok will try before I give up :) as sample-app is working fine for now.

[2016-11-15 13:53] akrima commented on #1878
I had the same issue but when i inspect the pom.xml i found that i call the dependency

<dependency>
	<groupId>org.mapstruct</groupId>
	<artifactId>mapstruct-processor</artifactId>
	<version>1.0.0.Final</version>
	<scope>compile</scope>
</dependency>

in the build tag too
So i kepp who in the build tag and i remove the other like this:

<build>
		<plugins>
			<plugin>
				<groupId>org.bsc.maven</g

[2016-11-15 16:43] jdubois commented on #4075
@ruddell the original idea what that we never wrote "jhipster" anywhere: it's just a generator, and then that's your app, so it's your code... This has changed quite a lot in the last 2 years, and now we do have some "jhipster" from time to time, and that doesn't seem to annoy people.
What I'm afraid with `X-*App-error` is that you could get this message from elsewhere (agreed, the `App` probably

[2016-11-15 18:57] gmarziou commented on #1878
@akrima please open a new issue and follow our guidelines rather than posting on an issue that was closed one year ago.

[2016-11-15 18:59] gmarziou commented on #1878
@akrima could you clarify your point? Do you mean the doc is wrong and are you proposing a change?

[2016-11-15 19:26] henri-tremblay commented on #4189
@gAmUssA How is the PR going?

[2016-11-15 20:58] mehmet-aslan commented on #4075
Could `jhiPrefix` variable be added as prefix to headers? `X-<jhiPrefix>-*App-error` will be more specific to JHipster apps. I saw it only used in client generator and you prefer to use it at minimum but it might be meaningful in this case.

[2016-11-15 21:24] mehmet-aslan commented on #4075
Oh nevermind, I messed it up. It is application specific too.

[2016-11-15 21:27] shadowrider-pl opened #4480 "Search thrash button doesn't show when entity doesn't have pagination"
##### **Overview of the issue**

When generated entity has no pagination, search string is entered, thrash button doesn't show.

##### **Motivation for or Use Case**

Can't reset search results.

Entity with pagination:

![products opera_021](https://cloud.githubusercontent.com/assets/9105435/20323882/e13dca5e-ab7e-11e6-812e-c12f6fe76859.png)

Entity without pagination:
![products opera_022](https

[2016-11-15 21:51] shadowrider-pl commented on #4480
And in entity.controller.js:
[code]
change to:
[code]

[2016-11-15 22:39] gAmUssA commented on #4189
@henri-tremblay working on it as we speak.
@jdubois how do you guys test it locally?

[2016-11-16 00:14] #4323 closed

[2016-11-16 02:19] gAmUssA commented on #4189
Ok, after spending some time with jhipster, I can say that most sustainable way to cover all 3 use cases  is to externalize `HazelcastInstance` creation to separate config bean

like here https://github.com/gAmUssA/jhipster-hazelcast-reference-impl/commit/fc647e6faa4882eb8d2ea4f158f496732134b1c5

Now we have 3 separate configs:

- `HazelcastConfig.java` - creates `HazelcastInstance`. BTW, in some

[2016-11-16 02:44] henri-tremblay commented on #4189
I'll check tomorrow.

About testing. You can use `npm test` to have some testing on the generation.

Then, they have samples of different generations. I did a [PR](https://github.com/jhipster/generator-jhipster/pull/4476) to add a script to run them easily. Because I wasn't able to test just like you

[2016-11-16 19:20] raphaelbrugier opened #4483 "[BUG] Cassandra - Session token is not persisted in the persistent_token table"
##### **Overview of the issue**

When using Cassandra, the session token is not persisted in the `persistent_token` table.
The table exists and the CustomPersistentRememberMeServices tries to read the token and delete it, but never saves it.
With a SQL database, the token is persisted in the `onLoginSuccess` method.

NB: The session mechanism works, fine. It's just the token is never persisted and

[2016-11-16 22:16] jdubois commented on #4483
Oh, thanks for testing!! This is obviously my fault :-)
So the token should be saved, of course. It should work the same as with JPA or MongoDB.

[2016-11-16 22:54] jdubois commented on #4189
Yes, the 4th use case with `@EnableCaching` is very important: we don't generate this because it's really easy to add (so this would be against [Policy 2](https://jhipster.github.io/policies/)), but that's a totally valid and commonly used feature.
So +1 from me!

[2016-11-17 01:19] gAmUssA commented on #4189
@jdubois what about external Hazelcast configuration?

[2016-11-17 12:27] jdubois commented on #4189
What do you mean by "external"? In a configuration file, like ehcache? In
that case yes, it would be similar to ehcache, so no problem.

Le 17 nov. 2016 2:19 AM, "Viktor Gamov" <notifications@github.com> a écrit :

[2016-11-17 16:30] kanderson450 commented on #2608
I for one would love to see this, but haven't had the time to help out yet....

[2016-11-17 21:45] #4473 closed

[2016-11-17 22:12] gzsombor opened #4489 "Generator.prototype.registerModule can be called only once"
##### **Overview of the issue**

If a module tries to call the Generator.prototype.registerModule more than once - for example for registering app and entity hooks), only the last one is written out

##### **Motivation for or Use Case**

I try to write a module, which is called every time when an entity is generated, or when the whole app is regenerated.

##### **Reproduce the error**

With the jh

[2016-11-17 22:35] thejames42 opened #4491 "MongoDB: ZonedDateTime causing generated Int tests to fail"
##### **Overview of the issue**

When creating a new project with jhipster v3.11.0, the generated ResourceIntTest.get and .getAll fail when using a ZonedDateTime in the entity.
[code]

##### **Motivation for or Use Case**

Generated tests must be fixed manually before I can build the project.

##### **Reproduce the error**
1. create new microservice project using mongoDB.
2. create new entity with

[2016-11-17 22:43] ruddell commented on #4491
I'm the person from Gitter that couldn't reproduce it - with the full `.yo-rc.json` I can confirm the error.  It does not affect MySQL

[2016-11-17 22:46] pascalgrimaud commented on #4468
`nodeName` and `nodeType` seem to be used by Angular.
You can open your `bower_components/angular/angular.js` file to see them

[2016-11-17 23:09] cbornet commented on #4491
Indeed : the converters we use for Mongo use the system TZ and we changed the test to use UTC because of Elastic Search.

[2016-11-18 04:52] Atul21 opened #4492 "how to generate code for angularjs or front end only"
I don't know how to install angular-ui. I tried npm install -g generator-jhipster-angular-ui
after that it is not running on grunt server

[2016-11-18 04:57] mraible commented on #4492
Please post questions about JHipster on Stack Overflow. We like to use our issue tracker for bugs or feature requests.

[2016-11-18 04:57] #4492 closed

[2016-11-18 06:15] #4489 closed

[2016-11-18 06:19] jdubois commented on #4492
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-18 06:26] mraible opened #4493 "Gatling tests fail to run with Gradle"
When running `./gradlew gatlingRun` with the 3.11.0 release, Gatling tests fail to run.

[code]

Changing line 31 from:

[code]

to:

[code]

fixes the problem.

[2016-11-18 07:10] deepu105 commented on #4489
Nice catch. Thanks

[2016-11-18 07:19] pascalgrimaud commented on #4317
How can we advance on it ?
I already have yarn working on Travis build and on maven-frontend-plugin. I didn't work on gradle yet.

I see 2 solutions:
1) support both (npm and yarn) by adding a new question, and save yarn: false/true in .yo-rc.json file.
2) migrate to yarn completely (less work, but risky as it is still in 0.X.X)
3) wait :-)

[2016-11-18 07:23] deepu105 commented on #4317
I wouldn't want to ask a question, it can be a command line flag. By
default we can check if yarn is available in path and use that to install
and fallback to npm when it's not present

Thanks & regards,
Deepu

On 18 Nov 2016 8:19 a.m., "Pascal Grimaud" <notifications@github.com> wrote:

[2016-11-18 09:08] wmarques commented on #4317
@deepu105 maybe we should do it using a flag, a user may want to use NPM even if he tried yarn 2 months ago and still has it on his machine. Or maybe if yarn is installed, ask a question like "Yarn has been detected on your system, do you want to use it ?"

Once Yarn is stable enough, then we migrate completely to it because it's hype :)

[2016-11-18 09:16] sendilkumarn commented on #4317
How about this

[code]

[code]

[2016-11-18 09:18] wmarques commented on #4317
@sendilkumarn I would just do `--yarn` and `--npm`

[2016-11-18 09:18] sendilkumarn commented on #4317
I wanted to be descriptive 😉

[2016-11-18 09:23] atomfrede commented on #4493
Can you do a PR?

[2016-11-18 09:26] pascalgrimaud commented on #4317
The flag can be used for generating a project.
But what about mvn package -Pprod which use frontend-maven-plugin ?
Currently we have [this](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_pom.xml#L1090) :
`<goal>install-node-and-npm</goal>`

We can replace by `<goal>install-node-and-yarn</goal>` but there is no flag when building

[2016-11-18 09:29] sendilkumarn commented on #4317
Can we persist this info in .yo-rc and use it forward ?

[2016-11-18 09:35] Dufgui opened #4494 "[FEATURE] Can use List instead of Set for relation"
##### **Motivation for or Use Case**

We want to keep order of sub element (relation) when we do a find with a fetch join eager ordered relation

##### **Suggest a Fix**

We can add variable of the expected type for relation (Set or List) used in :
https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/templates/src/main/java/package/domain/_Entity.java

It can be done global

[2016-11-18 09:36] mraible commented on #4493
On a related note, I discovered that Maven has issues executing Gatling too:

[code]

I googled the error and came across [a fix on Stack Overflow](http://stackoverflow.com/a/18037255/65681).

[2016-11-18 13:24] #4493 closed

[2016-11-18 14:21] agoncal opened #4496 "Update to Angular 2.1.0"
##### **Overview of the issue**

Update the Angular dependencies from 2.0.1 to 2.1.0

##### **Motivation for or Use Case**

Following the latest Angular CLI guidelines.

##### **JHipster Version(s)**

[code]

cat: no such file or directory: .yo-rc.json
##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` file

[2016-11-18 14:46] agoncal commented on #3664
@christopherthielen I'm getting confused with the router being used in `client-2`. At the moment it still uses `ui-router-ng2` :

[code]

Is the plan to use the Angular router ? I've changed the router on a demo project to the one generated by Angular CLI :

[code]

I then managed to do bits and pieces.

So, `ui-router-ng2` or `@angular/router` ?

[2016-11-18 15:28] feel7iii commented on #3664
@angular/router +1

[2016-11-18 16:03] huang6349 commented on #3664
@angular/router +1

[2016-11-18 16:17] #4496 closed

[2016-11-18 16:38] danielpetisme opened #4498 "When using a UAA delgate the email templates and baseURL to the caller microservice"
##### **Overview of the issue**
When using a uaa server the baseUrl and the emails templates used arre managed by the uaa server itself, the aim is to let the microservice provide those assets to the uaa in order to have a per microservice personalization of the emails.

##### **Motivation for or Use Case**

Imaging to have a set of microservices and you have 2 gateways (which represent 2 differen

[2016-11-18 17:01] ruddell commented on #4494
I think the `@OrderBy` JPA annotation solves this.  It sorts your sets by a child entity property.  See http://www.objectdb.com/api/java/jpa/OrderBy

    @Entity
    public class Person {
         ...
       @OrderBy("zipcode.zip, zipcode.plusFour")
       public Set<Address> getResidences() {...};
       ...
    }

[2016-11-18 17:05] Dufgui commented on #4494
As explain the javadoc the Set doesn't respect any order
http://docs.oracle.com/javase/6/docs/api/java/util/HashSet.html#iterator()
So even if Hibernate get the data ordered, the set don"t keep this information

[2016-11-18 17:08] cbornet commented on #4494
The TreeSet would preserve the order but I don't know if it's performance-wise.

[2016-11-18 17:16] Dufgui commented on #4494
or the http://docs.oracle.com/javase/6/docs/api/java/util/LinkedHashSet.html
But I think it's a bad idea to keep order and unicity information by default.

As explain here, it's a choice depending of what you want.
http://stackoverflow.com/questions/6562673/onetomany-list-vs-set-difference

[2016-11-18 17:44] agoncal opened #4499 "Rename Angular 2 HTML component files"
##### **Overview of the issue**

ATM with the Angular branch, component files are named :

[code]

Following the Angular CLI standards, the HTML files should be called the name of the component with an `html` suffix :

[code]

##### **Motivation for or Use Case**

When using the Angular CLI with the following commands :

[code]

We get the following :

[code]

Sticking to Angular CLI would be bett

[2016-11-18 17:56] pascalgrimaud commented on #4491
I manage to reproduce this issue using the same [config](https://github.com/pascalgrimaud/jhipster-travis-tester/blob/issue-4491-TZ-mongo/app/.yo-rc.json) with Travis, by changing the TZ:
- Travis log: https://travis-ci.org/pascalgrimaud/jhipster-travis-tester/builds/177093227
- here code to change TZ in `.travis.yml` file:
[code]

[2016-11-18 19:41] deepu105 commented on #4499
Yes it needs to be improved. PRs welcome :)

Thanks & regards,
Deepu

On 18 Nov 2016 6:44 p.m., "Antonio Goncalves" <notifications@github.com>
wrote:

[2016-11-18 19:48] jdubois commented on #4494
I see you answered yourself, but to be clear:

- We use Set by default, as our relationships are not ordered. And an
unordered table, with unique rows, is basically a Set
- If you want your relationships to be ordered, yes you should use a List
to preserve the order

Julien

Le 18 nov. 2016 6:16 PM, "Duff" <notifications@github.com> a écrit :

[2016-11-18 19:49] jdubois commented on #4317
Yes let's save this in .yo-rc.json

I guess many people will want to use Yarn.

Le 18 nov. 2016 10:29 AM, "Sendil Kumar N" <notifications@github.com> a
écrit :

[2016-11-18 21:40] PierreBesson commented on #4317
Travis official support for Yarn is merged and will be activated on monday: https://github.com/travis-ci/travis-build/pull/895#issuecomment-261586983

We will have to see how yarn caching can speed up our builds...

[2016-11-18 22:00] deepu105 commented on #4317
btw dont we already have the flag https://github.com/jhipster/generator-jhipster/pull/4426/files
we just need to persist it in the json and use that. also optionally we can check if yarn is on path and try to use it.

[2016-11-19 01:21] fmatuszewski commented on #3664
Hello all I just find out that there is nice setup project for angular 2 and angular 1 made by ngparty
https://github.com/ngParty/Angular2-scaffold I use it in my setup it can be helpful.

[2016-11-19 05:01] allahbaksh commented on #3664
+1 for @angular/router.

[2016-11-19 06:29] president-zhou commented on #3664
@angular/router +1

[2016-11-19 08:38] pascalgrimaud commented on #4317
So let me resume. No additional question. When launching `yo jhipster --yarn` :
- add `yarn: true` into `.yo-rc.json`
- use `yarn install` instead of `npm install`
- use frontend-maven-plugin with yarn in pom.xml -> I'm pretty sure you will like it ;-)

[2016-11-19 08:42] deepu105 commented on #4317
That sounds good

Thanks & regards,
Deepu

On 19 Nov 2016 9:38 a.m., "Pascal Grimaud" <notifications@github.com> wrote:

[2016-11-19 09:38] jdubois commented on #4317
Yes and if it works well that could be our default and recommended setup.

With JHipster 4 we will rely even more on NPM, so this is going to be even
better!!!

On Sat, Nov 19, 2016 at 9:42 AM, Deepu K Sasidharan <
notifications@github.com> wrote:

--
Julien Dubois

Twitter: @juliendubois <http://twitter.com/#!/juliendubois>
Phone: +33 (0)6 25 02 34 18

[2016-11-19 09:39] jdubois commented on #4494
I'm closing this as for me this is clear - I hope that's fine with everyone!

[2016-11-19 09:39] #4494 closed

[2016-11-19 10:29] gzsombor commented on #4494
... and if you want proper List, then you need to add a @OrderColumn annotation, and a new column to the child entity ( http://wiki.eclipse.org/EclipseLink/Examples/JPA/2.0/OrderColumns )

[2016-11-19 10:37] gmarziou commented on #3664
Please @allahbaksh, @president-zhou, @huang6349 and others stop adding +1 messages for angular/router, it's just noise without any arguments on a ng2 topic that is already too long, just click on +1 icon on @feel7iii'smessage which was the first one after @agoncal.

I deleted redundant messages.

[2016-11-19 11:04] deepu105 commented on #3664
@allahbaksh, @president-zhou, @huang6349 @feel7iii @agoncal we decided to use ui-router as we had it by default in ng1 and it was easier to migrate to and the angular/router didnt have any more features than ui-router so we didnt see a reason to change. Also please note that we have official contribution from @christopherthielen who is the maintainer of ui-router which is much better than we fiddl

[2016-11-19 11:58] jdubois opened #4507 "Only use the JHipsterProperties to generate the baseURL for sending emails"
This comes from [this change and discussion](https://github.com/jhipster/generator-jhipster/commit/ccaf66377fbabeb25926a921081fdfb1e8d1e7e7)

Let me first give some context:

When we send an email, we often need a "base URL" so we can send a link to users in the body of the e-mail. This is a link to the current application so users can reset their password, validate an email address, etc.

We've a

[2016-11-19 12:19] deepu105 commented on #4507
👍 for external property and we can set localhost as default and people can change as they need later

[2016-11-19 12:53] sendilkumarn commented on #4507
Agree to that... one more thing that we always move to external property. +1

[2016-11-19 13:34] timpamungkas opened #4508 "[FEATURE] Add a CLOB explanation on JDL documentation"
I found this [feature](https://github.com/jhipster/generator-jhipster/issues/1974) about CLOB datatype, but I can't found any explanation on [JDL Documentation](https://jhipster.github.io/jdl/#entitydeclaration)

Also, when I use jhipster:entity generator, no option of "CLOB" displayed when selecting datatype.

How can I use CLOB on my entity?

[2016-11-19 14:31] #4507 closed

[2016-11-19 14:33] #4311 closed

[2016-11-19 14:36] #4075 closed

[2016-11-19 15:39] pascalgrimaud commented on #4498
@danielpetisme : does this https://github.com/jhipster/generator-jhipster/issues/4507 help on this ?

[2016-11-19 15:46] danielpetisme commented on #4498
@pascalgrimaud Jhipster properties will do the job when the activation link target one and only one frontend service (most of the time your gateway). But when several frontends application use the same uaa you want to redirect the user on one particular application.

I don't know if I have to continue the discusion on this issue or react to the #4507 ?

[2016-11-19 15:51] pascalgrimaud commented on #4498
I think we should continue the discussion here, as it's a specific use case, and it's about UAA.
As UAA is still in beta, we need some feedbacks like you did!

Ping @xetys as he coded UAA : do you have some opinion about this?

[2016-11-19 17:48] danielpetisme commented on #4498
@jdubois what do you think of this feature ? Do you think it's overkill
compared to the jhipster properties approach ?

Le 19 nov. 2016 4:51 PM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2016-11-19 17:50] jdubois commented on #4498
With #4507 for me the issue is solved: you can push this from the config server if you want to, and have either a common or specific property for your services.

[2016-11-19 18:02] danielpetisme commented on #4498
Not sure to understand this part

Imagine I have a service `appA` and a `uaa` server.
I will have a `uaa-prod.yml` config file with the `baseUrl` according to the #4507 the uaa server will use this value (it's actually what I do today.

But this config (ie. activation link and template) will be generic for all by services.
I can't define a per service mailing config and let the `uaa` use it (ie. h

[2016-11-19 18:08] jdubois commented on #4498
Oh sorry you want that in the UAA server... So no it wouldn't work.
You'll need specific code for that, or a common URL.

[2016-11-19 18:54] ruddell commented on #4508
When using the entity generator, choose Blob and then `Text - A CLOB (Text field)`.  If you want to use it in JDL, use the TextBlob type.

I will PR the docs

[2016-11-19 21:51] jdubois commented on #4498
@danielpetisme I've read your issue again (sorry, I was away from home, so I just got your mention, and didn't read the full issue), and indeed there is no solution for this currently.
From what I remember with CAS, it gets a parameter with the URL, so that would be your solution 1. At least it's easy to do.
Then this is quite a specific case, I'm not sure we should go that far in the generator.

[2016-11-19 22:19] danielpetisme commented on #4498
@jdubois indeed if the typical micro-service architecture is to propose 1 product, then you're right and my case is specific.  But if you have multiple products with differences....
That's also features that Stormpath-like companies sell (email customization per project).

If I have time I'll try to propose something easy, basically everytime you generate a microservice in a uaa context it asks to

[2016-11-19 22:19] #4498 closed

[2016-11-19 22:22] jdubois commented on #4498
Yes that could be an improvement in the future, so if you have a solution, your contribution is definitely interesting.

[2016-11-19 23:24] #4483 closed

[2016-11-20 00:09] raphaelbrugier opened #4513 "[FEATURE] Cassandra tests improvements"
I'd like to propose two improvements for the Cassandra tests.

## 1/ Start Cassandra unit only once for all the tests.
Currently, the cluster is started before each test class.
After starting, all CQL scripts are applied to prepare the tables.
We found in our current project that it was a very expensive operation to do for every test class.

We reduced our tests duration by starting the cassandra-

[2016-11-20 00:19] pascalgrimaud commented on #4513
Good to me!

[2016-11-20 03:31] felipebcs commented on #2399
If anyone land on this page looking for a possible solution:
I had a similar problem, but using Maven and Eclipse. At the end I realized that I hadn't read well the bottom of the "Configuring your IDE" page, which says about MapStruct, but I also had to add the _taget/generated-sources_ folder to my build path (as instructed on http://g00glen00b.be/mapstruct/ ).

[2016-11-20 03:39] felipebcs commented on #4315
If anyone land on this page looking for a possible solution:
I had a similar problem using Maven and Eclipse. At the end I realized that I hadn't read well the bottom of the "Configuring your IDE" page, which says about MapStruct, but I also had to add the _target/generated-sources_ folder to my build path (as instructed on http://g00glen00b.be/mapstruct/ ).

[2016-11-20 07:30] jdubois commented on #4513
+1 from me too!
I saw in your code that you put "-1" for the port: I think that should be "0" instead

[2016-11-20 08:35] feel7iii commented on #3664
i know it's a huge task for @jhipster/developers upgrading from 1.x to 2.x and thx a lot for @jhipster/developers @deepu105 @christopherthielen  your greate work.
first of all,i do not agree with you @deepu105 said that @angular/router is a monster, i'm getting confused with that;
since its inception JHipster always choose the most popular technology stack, first from official because it's stable,

[2016-11-20 08:48] jdubois commented on #3664
Let me step in.
We have a very specific issue here with Angular 2: everybody wants it, but we have very, very few contribution.
So for me, if we have @christopherthielen who helps us, and if UI Router works, let's go that way. We just don't have enough resources, and we also can't wait anymore for Angular 2 support, so we just need to move on.

[2016-11-20 08:55] deepu105 commented on #3664
@feel7iii its easy for people to talk about Angular2 and its a different thing to try to actually migrate a real Angular1 app like ours to Angular2 (Mind that we are not NG2 experts) we have spend months of effort trying to migrate and we are still not done and when I meant Angular2(not angular router) is a monster I meant it (No real world samples, no i don't consider the TODO samples out their a

[2016-11-20 10:14] gmarziou commented on #3664
I fully agree with what our 2 co-leads say.

There is an unwritten policy that you'll find in many open source projects: meritocracy and it means that we value contributions more than pure suggestions.

You prefer default router then consider writing a module or an alternative implementation that could be an option.

[2016-11-20 10:21] gmarziou commented on #2399
Good point @felipebcs, if you think that doc could be improved  to make it more visible , don't hesitate to submit a pull request on https://github.com/jhipster/jhipster.github.io

[2016-11-20 10:28] jdubois commented on #2399
Yes, this part is so annoying.... That's the main downside of MaoStruct,
yet annotation postprocessors are supposed to be standard now!

Le 20 nov. 2016 11:21 AM, "Gaël Marziou" <notifications@github.com> a
écrit :

[2016-11-20 10:34] #4508 closed

[2016-11-20 19:03] cbornet commented on #4491
I have a fix involving a custom harmcrest Matcher to compare the datetime's instant instead of the string (to be independant of TZ). Will PR soon.

[2016-11-21 03:50] ruddell opened #4518 "[FEATURE] MSSQL Support"
This was brought up in the mailing list and on Twitter - now that Microsoft has open-sourced their driver and released a docker image, we can support MSSQL as a first-class JHipster database type! 🎉   I set up a repository showing the [changes needed for MSSQL](https://github.com/ruddell/jhipster-mssql-example/commit/9b89e3281be7fa47ae6dc5611c97b046f7d2e2a4) (starting from MySQL).

You need to man

[2016-11-21 06:02] pascalgrimaud commented on #4518
I'm not worried about creating database manually. You can launch some command with `docker exec -it`. We already did this in the past with Cassandra.

I'm worried about this :-)

[2016-11-21 07:13] PierreBesson commented on #4518
And the reason it is so big is hilarious... They are actually shipping a big part of windows with it...
http://www.theregister.co.uk/2016/11/18/microsoft_running_windows_apps_on_linux/?mt=1479600840575

[2016-11-21 07:15] deepu105 commented on #4518
We can still support it but skip travis test for it like we do for oracle

Thanks & regards,
Deepu

On 21 Nov 2016 8:13 a.m., "Pierre Besson" <notifications@github.com> wrote:

[2016-11-21 09:23] wmarques commented on #3664
Agree with that, we had a huge amount of requests about Angular 2 but a very few help on it and the docs, as @deepu105 said, never talk about real use cases.., So we went to the simpliest way to release a proper Angular2 app with best practices included.

[2016-11-21 10:57] ykushch opened #4520 "[FEATURE] Java Style Guide"
##### **Overview of the issue**

It is great that we have this for JavaScript:

I think that if we are using this guide, then probably we could also use guide for `java` files as well. I know that there is a point regarding Intellij Idea formatting, but it is only formatting and not a guideline.

For JavaScript, we are using [Google's JavaScript Style Guide](https://google-styleguide.googlecode.co

[2016-11-21 11:05] jdubois commented on #4520
As you mention, we currently use Intellij IDEA formatting but it is not enough.

I basically follow the old [Sun guidelines](http://www.oracle.com/technetwork/java/codeconvtoc-136057.html) but:

- This has never been written anywhere, it's just my old personal practice
- The document stopped being updated in 1999, which shows I'm way too old!!

So I'm totally OK to have some official guidelines, b

[2016-11-21 11:10] ykushch commented on #4520
No worries, just figured out that it could be a great addition. Let's discuss if it will work for the project and if everybody are okay with these changes. Thanks.

[2016-11-21 11:16] wmarques commented on #4520
Not a Java Expert but it would be great to have an actual styleguide to refer like the JohnPapa styleguide for Angular :)
So I'm ok with the idea! And ok to rename classes containing "URL" or "JWT" also :+1:

[2016-11-21 12:07] soffoalbert commented on #4520
+1. this an awesome idea.

On Mon, Nov 21, 2016 at 1:16 PM, William Marques <notifications@github.com>
wrote:

--

Kind Regards,

Georges Albert Sofo
Software Engineer

m: 0834820044
e: soffoalbert@gmail.com s: soffoalbert

<https://www.facebook.com/soffo.albert>. <https://twitter.com/soffoalbert>.
<https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button>
. <http

[2016-11-21 12:12] cbornet commented on #4520
With 4 spaces indent derogation ? (aka AOSP style)

[2016-11-21 15:14] #4491 closed

[2016-11-21 16:14] cbornet commented on #4491
@pascalgrimaud I think it's useful to have the tests passed in a TZ distinct from UTC. Can you PR your travis config ?

[2016-11-21 16:22] pascalgrimaud commented on #4491
@cbornet : yes I will do it !

[2016-11-21 17:17] jdubois commented on #4110
I've add a look at Bootstrap 4, and I would like to postpone this:

- It is still an alpha release, and it has been in alpha for more than one year. I don't think this has the level of quality we require.
- It breaks a lot of stuff, as @deepu105 mentioned, so this is going to be a lot of work: I don't think we can do this work with our Angular 2 migration. It's just changing too much things at the

[2016-11-21 17:18] jaredsieling opened #4523 "OAuth2 with MongoDB: Error removing access token during refresh"
##### **Overview of the issue**

When using OAuth2 authentication with MongoDB, if a "Refresh Token" request is made for an access token that has already been removed, it throws a 500 error and won't create a new access token.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Setup a project using OAuth2 authentication with MongoDB.  Authenticate at the endpoint `/oauth/token`

[2016-11-21 17:26] jdubois commented on #4523
I'm the culprit here: I coded this part a long time ago, and indeed at that time I didn't how the refresh token worked...
As you have found a solution, would you do a PR for this?

[2016-11-21 17:32] gzsombor commented on #4110
Of course, if someone contributes the implementation for Bootstrap 4, that would be an entirely different conversation :)

[2016-11-21 17:38] jaredsieling commented on #4523
I can try to figure out how to do that...

[2016-11-21 17:42] cbornet commented on #4523
You can read [here](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-a-pull-request) to start

[2016-11-21 18:00] deepu105 commented on #4110
We use ng2 version of angular bootstrap which needs BS4 to work well else
we would have some ugly screens here and there when using any widgets see
the metrics screen for example.
BS4 is moving forward fast now as they have frozen BS3 dev to get BS4 going
so I think this will be releases soon. So I would like to do this atleast
before our final release. our alpha can go without this hence please k

[2016-11-21 18:14] jdubois commented on #4110
OK but I didn't find any broken screens with BS 3. I will have a closer
look.

Le 21 nov. 2016 7:00 PM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

We use ng2 version of angular bootstrap which needs BS4 to work well else
we would have some ugly screens here and there when using any widgets see
the metrics screen for example.
BS4 is moving forward fast now as they have frozen BS3 de

[2016-11-21 19:37] ekougs opened #4524 "[FEATURE] Ability to generate JAX-RS resources instead of the Spring REST resource"
Even if Spring provides a nice library to make REST resources, it would be nice to be able to generate JAX-RS resources instead.
I use and really like jhipster, thx to all the contributors for the amazing work.

But when starting a project, I always find myself changing the generated resources to use JAX-RS.
Because I find the REST resources testing easier with the existing JAX-RS libraries and th

[2016-11-21 20:03] jdubois commented on #4524
You mean using [Jersey](https://github.com/jersey/jersey/) like in this [great article](http://www.oracle.com/technetwork/articles/java/jersey-part1-159891.html) (yeah, I got paid for that)? Not sure it will change much from our Spring MVC REST API, so yes that should be possible to have an option for that.
I'm not sure much people would be interested by this, so here's my proposal:

- If anyone w

[2016-11-21 20:13] ekougs commented on #4524
It's true that once it is part of the project, it will be the contributors responsibility to maintain the feature, which can be quite cumbersome.
Do you think it would be easily feasible to do this as a third party module ?
I saw that there are modules for react for example which could be used instead of angular.

[2016-11-21 20:36] gzsombor commented on #4524
You can write a module, which register itself to run at every time a new entity is generated, or the whole app is re-generated, and you can do the necessary adjustments there, so yes, it's possible to write a third party module for this.

[2016-11-21 20:47] jdubois commented on #4317
It's available on Travis: https://blog.travis-ci.com/2016-11-21-travis-ci-now-supports-yarn

[2016-11-21 20:48] pascalgrimaud commented on #4317
Thanks, I'm working on it!

[2016-11-21 22:02] gmarziou commented on #4524
What is the equivalent of Springfox for JAX-RS? In clear how to generate swagger spec from JAX-RS?

[2016-11-21 22:02] ekougs commented on #4524
Given all these arguments and that this feature has never been asked despite the technology being around all the time, I really think writing a third party module seems a better alternative.
Some popular technologies has been introduced has 3rd party as well.
I close this issue.

[2016-11-21 22:02] #4524 closed

[2016-11-21 22:06] ekougs commented on #4524
@gmarziou I think you can generate it by following this https://github.com/swagger-api/swagger-core/wiki/Swagger-Core-JAX-RS-Project-Setup-1.5.X#hooking-up-swagger-core-in-your-application

[2016-11-21 22:06] jdubois commented on #4524
OK, we can also put it the other way around:

- Do a module with JAX-RS support
- If the module works well (lots of downloads), we can then integrate it into the main generator

[2016-11-21 22:13] ekougs commented on #4524
Yes it could be another perspective. I will certainly use the generator in my company in a near future to serve as a base for a bunch of projects. If jersey is chosen as the technology to implement REST resources, I think we will try to write the module and see if it gains some traction.
Thanks to you all for the prompt answers and advices.

[2016-11-21 23:58] danielpetisme opened #4526 "SecurityUtils#isCurrentUserInRole doesn't work in a uaa context"
##### **Overview of the issue**

When you use `SecurityUtils.isCurrentUserInRole` in a uaa context the respond will be always false.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create a microservice and a uaa server, define an behavior for a particular role.
[code]
It will return 0;

##### **Related issues**

##### **Suggest a Fix**

[SecurityUtils#L74](https://github.com

[2016-11-22 06:59] deepu105 opened #4527 "Update docker compose sub gen to use new JH console 2.0"
@PierreBesson any reason this is not done yet? I tried to update manually but seems v 2.0.0 tags are not published to docker hub

[2016-11-22 07:00] xetys commented on #4526
Thanks for your contribution, I will take a look at this today!

вт, 22 Ноя 2016 г., 0:58 Daniel PETISME <notifications@github.com>:

[2016-11-22 07:03] pascalgrimaud commented on #4527
@deepu105 : see here https://hub.docker.com/r/jhipster/jhipster-console/tags/
It is still in beta. The tag is v2.0.0-beta

[2016-11-22 07:16] agoncal commented on #4524
Funny. I've Tweeted about this : https://twitter.com/agoncal/status/799661003717931008. On 21 vote, 38% would like to have JAX-RS and 33% Spring (only 14% would like to have both). As you can see, it's not a *big* win in favour of JAX-RS, but people seem concern about it.

Due to my Java EE background, I love to see JPA / Bean Validation and @Inject (even if it's not CDI ;o)  in JHipster. Makes th

[2016-11-22 07:49] timpamungkas commented on #4508
Thanks @ruddell

[2016-11-22 07:50] deepu105 commented on #4527
Oh ok I missed that

Thanks & Regards,
Deepu

On Tue, Nov 22, 2016 at 8:03 AM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-11-22 08:10] timpamungkas opened #4528 "Jhipster 3.11 does not generate client app by default"
Just generate a new jhipster project using jhipster 3.11 and found some issue:

1. `yo jhipster` (no additional flag) does not generate client app. I'm pretty sure that before I update generator to 3.11, both server & client app were generated using single command.
I've noticed that during this phase, my yo-rc.json `skipClient` is `true`. Is this the expected behaviour?
Also skip-client-management

[2016-11-22 08:11] timpamungkas commented on #4528
I've also re-installed jhipster but does not solve the problem

[2016-11-22 08:16] jdubois commented on #4520
I've had a look at the Google guidelines and I'm not OK with everything there. Besides, it really lacks explanations and exemples, we need something much more detailed, like what we have with the John Papa style guide.
So I'm afraid this is going to trigger a lot of discussion, on a problem that wasn't so important in the first place.

My current thought is to:

- Stick to the IDEA formatting
- Be

[2016-11-22 08:19] PierreBesson commented on #4528
Well you chose the microservice application type so it is normal that it there is no client. Please read our docs on microservices.

[2016-11-22 08:22] PierreBesson commented on #4527
I want to do this soon but I'm waiting for elastalert to release a new version compatible with elasticsearch v5.

[2016-11-22 09:01] jdubois commented on #4528
Please next time put your `.yo-rc.json` in the ticket, so we can see it directly (I'm mostly doing this with my phone while I take the bus/metro...).
So yes you selected a microservice, so that's normal you have no UI.

[2016-11-22 09:01] #4528 closed

[2016-11-22 09:23] #4513 closed

[2016-11-22 09:37] cbornet commented on #4524
@agoncal well, I think you can add the 15% "What is JAX-RS ?" trolls to the 33% Spring-only 😄
Small issue when you switch to JAX-RS: you can't put the Pageable in the method and you need to pass the page, size, limit, sort as query parameters and build the PageRequest yourself.
Also, I found springfox much more advanced than swagger-jersey2-jaxrs (eg. I can output multiple spec/dockets with filter

[2016-11-22 12:11] #4526 closed

[2016-11-22 12:52] #4480 closed

[2016-11-22 12:54] jdubois commented on #4356
Looks like not a lot of people are interested by this use case.
I'm closing this as I don't think we can support it easily, and it does seem very specific.

Then, this is why our DTO support is still in BETA, and I'm not sure if we can go out of BETA with edge cases like this one!

[2016-11-22 12:54] #4356 closed

[2016-11-22 13:17] jdubois commented on #4468
OK I'm adding a specific reserved keywords list for AngularJS

[2016-11-22 13:18] #4468 closed

[2016-11-22 14:23] ramzimaalej commented on #3664
Guys, how can I help you ? any small tasks for a guy who just started using Jhipster?

[2016-11-22 14:52] jdubois commented on #3664
@ramzimaalej maybe you could help @deepu105 on #4110 ?

[2016-11-22 17:37] ramzimaalej commented on #3664
@jdubois cool, I'll sync up with him.

[2016-11-22 17:37] ramzimaalej commented on #4110
@deepu105 any help you need on this story?

[2016-11-22 19:08] MathieuAA commented on #4468
For the generator's next release, you can use v1.2.1 of JHipster Core for this.

[2016-11-22 20:18] deepu105 commented on #4110
Yes please take a look at the branch. Generate an app with it and fix whatever you can

[2016-11-22 20:24] jdubois commented on #4110
@ramzimaalej and don't forget to tell your colleagues to put JHipster in the next technology radar :-)

[2016-11-22 21:05] jdubois commented on #4468
Yes it's [updated here](https://github.com/jhipster/generator-jhipster/commit/e8d523188f53a02e523a90fa236dab38ae98a661)

[2016-11-22 22:13] pascalgrimaud commented on #4513
Sorry for late answer on this, but some additional ideas @raphaelbrugier as I am on the same case that you.
- on Windows, using embedded Cassandra doesn't work very well (some randomly fails) That's why we decide to use a real Cassandra on a special keyspace for testing. It's much faster
- on setup:
    - truncate all tables
    - execute all cql to insert data
These methods were implemented in Ab

[2016-11-22 23:05] raphaelbrugier commented on #4513
This PR has been merged already but I like your approach.

Few questions that crossed my mind:

- Do you run the Cassandra cluster on a server or locally for each
developer?
- After generating the random name for the keyspace how do you inject it in
the Cassandra Configuration?
- Did you have to do like I did, by overriding this class for the tests?

On Tue, Nov 22, 2016, 17:13 Pascal Grimaud <not

[2016-11-23 01:02] chicobento opened #4533 "Menu item not active (highlighted) on entity detail page"
##### **Overview of the issue**

Menu item doesnt get (highlighted) on entity detail page. User can't figure out which section of the system he's at by looking at the menu.
This is a minor issue on ng1 entity sub-generator, found migrating an app to AdminLTE template.

##### **Motivation for or Use Case**

On entity list page, the menu item (eg. Bank Account), both "Entity" and "Bank Account" menu

[2016-11-23 04:35] nanospeck commented on #3664
Guys, I'm interested to help as well. I started using Jhipster few months ago.  Do you have any beginner task for me?  @ramzimaalej interested to team-up :) ?

[2016-11-23 05:51] pascalgrimaud commented on #4513
- locally for each developper
- the random name isn't done yet. I need to test this idea to allow Jenkins to run different jobs at the same time

[2016-11-23 06:38] jdubois commented on #3664
@ramzimaalej @nanospeck I'm pretty confident that we will have Webpack working fine today (then we have a discussion to merge it!!!), but then I think the logical step is #4110 -> I checked and indeed we have issues on several screens - @deepu105 does that sound logical to you?
There's also work on Karma and Protractor starting soon, you can begin by looking at them.

[2016-11-23 07:48] deepu105 commented on #3664
​​
Yes guys, protractor shouldnt be too much work, you ca either start from there or have a look at #4407 which has known issues listed you could pick one and comment on that thread that you are doing it. or as @jdubois said you can start with BS4 as well

[2016-11-23 09:34] agoncal commented on #3664
@wmarques @deepu105 @jdubois @christopherthielen Ssomething to keep in mind about the router : if someone generates a project with JHipster.... and then, uses NG CLI to add bits and pieces here and there, then, this developer will have to deal with two different routers in his/her code.

I agree with all of you: time is crucial here, and if we have expertise with UI Router, and it works, fine, let

[2016-11-23 10:10] cbornet commented on #3664
I was wondering if we could have subgens that do the same thing that angular-cli similar to what generator-angular-fullstack does. In that case we could generate proper code for the routes. What do you think ?

[2016-11-23 11:02] wmarques commented on #3664
@agoncal I agree with you on that, I didn't have a closer look about those two routers, but it seems that the official angular/router will be the defacto router for ng2 so maybe we will move on this once we stabilized our app

[2016-11-23 11:13] jdubois commented on #3664
Indeed, I see a lot of people using NG CLI as it's probably the only way to have a working Angular 2 project.
There is also great IDE support for NG CLI.
So we need to be "compatible" with it, and that's really very important - so for me that's the first time I see a very good argument to migrate to angular/router.
But at the moment I'd like first to release a working version, and we are quite clo

[2016-11-23 12:53] raphaelbrugier commented on #4513
ok! Please let me know how you do it in the end ;)

[2016-11-23 13:01] agoncal opened #4534 "Check compatibility between Angular 2 generated code and NG CLI"
##### **Overview of the issue**

JHispter 4.x will have an Angular 2 implementation. It would be good to check the compatibility between the code generated by JHipster and NG CLI

##### **Motivation for or Use Case**

NG CLI allows to generate modules, components.... They are "empty shells" with no business code in it, but at least, they give the developper a working project. It would be good for

[2016-11-23 13:02] agoncal commented on #3664
@jdubois I've created an issue to keep track of the code difference between JHipster and NG CLI : https://github.com/jhipster/generator-jhipster/issues/4534

[2016-11-23 13:04] ivan-dalmet opened #4535 "[FEATURE] Add a gulp task to serve files from dist folder (build)"
* **Overview of the request**

Add possibility, in development, to run BrowserSync with the files from the dist folder (after the build task).

* **Motivation for or Use Case**

Add possibility too debug with build files.
Example: Images path who render properly in develop (serve task) but not in prod (build task).

* **Suggest a Fix**

Add a task `serve:dist`

For that only 2 files need modificat

[2016-11-23 13:10] jdubois commented on #4535
Looks interesting, and it looks like you know how to do it: could you do a PR for this?

[2016-11-23 13:19] ivan-dalmet commented on #4535
Ok, I will do the PR in the next few days.
(After the [Codeurs en Seine](http://www.codeursenseine.com/) event #freeAd #Normandy ^^)

[2016-11-23 13:45] agoncal commented on #4534
After installing [Angular CLI](https://github.com/angular/angular-cli) 1.x :

[code]
We create a new project with :
[code]
This is what we get when generating an empty project :
[code]

By default we see that Angular CLI creates config files for [Karma](https://karma-runner.github.io/1.0/index.html) and [Protractor](http://www.protractortest.org/#/) tests, as well as [TSLint](https://palantir.gith

[2016-11-23 14:12] agoncal commented on #4534
Then, for example, we can create the `account` module and sub components with the following commands :

[code]

This is what we get with NG CLI

[code]

Which is quite identical from what we get with JHipster (notice the `spec` test files)

[code]

[2016-11-23 14:16] agoncal commented on #4534
The generated component looks like this :

[code]

The main difference with the code generated by JHipster is the relative path for the HTML template (and of course, the CSS file) :

[code]

[2016-11-23 14:20] agoncal commented on #4534
The `AccountModule` is quite different though. This is what's get generated from Angular CLI :

[code]

While the JHipster looks like this :

[code]

[2016-11-23 14:55] arunas-stonis opened #4536 "JWT authentication doesn't compile"
##### **Overview of the issue**

Project doesn't compile after generation

##### **Reproduce the error**

Generate a new project with: yo jhipster

You will get a compilation error while running: gulp build
...
[16:00:38] Starting 'tscompile'...
src\main\webapp\app\app.ng2module.ts(81,25): error TS2304: Cannot find name 'AuthInterceptor'.
[16:00:46] TypeScript: 1 semantic error
...

##### **Sugges

[2016-11-23 14:57] jdubois commented on #4536
Angular 2 is on a specific dev branch, this is not released yet. It is highly possible non-default option do not compile, we are first focusing on having the default ones working.
This is a work in progress, we are currently working on it.
So if you find any solution to those issues, don't hesitate to do a PR and help us to correct those.

[2016-11-23 14:59] agoncal commented on #4534
So that you know, here the code generated by NG CLI

$ ng generate class myclass

[code]

$ ng generate component mycomponent

[code]

$ ng generate directive mydirective

[code]

$ ng generate enum myenum

[code]

$ ng generate  interface myinterface

[code]

$ ng generate pipe mypipe

[code]

$ ng generate service myservice

[code]

[2016-11-23 15:13] #4195 closed

[2016-11-23 16:43] jkransen opened #4537 "many-to-many relations not generated correctly"
##### **Overview of the issue**

When I create a new entity, and try to add a many-to-many relation to an existing entity, there are a few imperfections in the generated code.

The existing entity does not get an added collection for the new entity.

The mappedBy also references a non-existent remote relation.

I tried setting the new entity to be the owner and not to be so, with the same effect.

[2016-11-23 16:56] jdubois commented on #4537
From what I see here (I didn't re-generate your project, there are missing entities in your conf):

- Entity A does not know about entity B
- Entity B has a many-to-many relationship, non owner, to entity A

So quite logically this is failing, there is no owner to that relationship.

You can have a look at https://jhipster.github.io/managing-relationships/#5 for more informations on many-to-many r

[2016-11-23 16:56] #4537 closed

[2016-11-23 16:59] jkransen commented on #4537
In a previous attempt the new entity was the owner, with the same effect. I will try again, and take a look at your link.

[2016-11-23 17:02] jdubois commented on #4537
@jkransen yes, but you had a non-owner side? I *think* we only support bidirectional many-to-many mappings

[2016-11-23 17:57] ramzimaalej commented on #3664
@nanospeck yeap, we can team up :) I will have limited access during the rest of the week as I'm traveling

[2016-11-24 08:55] jkransen commented on #4537
Thanks, your link was very helpful. I did not mention the relation in the firstly created entity because I thought it would fail. Now it works perfectly!

[2016-11-24 08:58] jdubois commented on #4536
Thanks for the PR!!!

[2016-11-24 09:06] jdubois commented on #4537
Great :-)

[2016-11-24 09:13] jdubois commented on #4536
Closing as the PR is merged

[2016-11-24 09:13] #4536 closed

[2016-11-24 09:14] jdubois commented on #4535
Thanks! We won't work on this at the moment, there is just too much work on Angular 2

[2016-11-24 09:44] mohamed2a commented on #4302
I'll work on Protractor migration, I'll upgrade it to version 4 to make it compatible with Angular2