[2017-02-14 20:31] mraible commented on #5205
@jdubois You are correct. The sub-generator selects PostgreSQL rather detecting that I have MySQL. That's the bug!

[2017-02-14 20:40] jdubois commented on #5205
By default it uses Postgresql - I know it could detect your database, but I didn't do it, as the service names depend on your specific installation.
So you need to do 'cf marketplace' and input the correct service manually.

[2017-02-14 20:45] mraible commented on #5205
It'd be awesome if `yo jhipster:cloudfoundry` detected the database like `yo jhipster:heroku` does. At the very least, we should document it. There's no mention of this extra step on https://jhipster.github.io/cloudfoundry/.

[2017-02-14 20:47] jdubois commented on #5205
We can't auto detect it: it depends on your CloudFoundry instance. For example, people using BlueMix have a totally different marketplace, with Watson, etc.

[2017-02-14 21:15] cbornet commented on #5188
On jenkins I think we could use the Credentials plugin to hide the key. I wanted to do it, just didn't get the time :smile:
Same for the doc... I can do it next week or do you want to do it ?

[2017-02-14 21:29] jdubois commented on #5005
@ruddell we also have a JHipster-specific CORS configuration, see https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/resources/config/application.yml#L68 (and this is configured in the WebConfigurer class). We could have this enabled in "dev" mode only, and not "prod". I find this quite a good solution, in fact.
Could you have a look and tell me what you think of it? Maybe even t

[2017-02-14 21:37] jdubois commented on #5188
@cbornet I won't have time to do it.... I have lots of "day work", and this is huge.
I'll try to make another ticket everything, but my idea is that:

- We should remove Jenkins and Travis by default in the main generator
- Your sub-generator should be "composed" in the main generator, and add a new question at the end: "which continuous integration system do you want to use?" With checkboxes (you

[2017-02-14 21:39] cbornet commented on #5177
Indeed the jenkinsfile hasn't been updated for ng2. And neither the ci-cd subgen

[2017-02-14 21:47] cbornet commented on #5188
Yes a lot of work indeed.
Ok to attach it to the main gen. The question about the deployment can be asked when you run the heroku subgen.
And of course we need to support Angular before ptomoting it !

[2017-02-14 21:50] jdubois commented on #5188
I don't understand your last point -> as long as you support Yarn, then you have WebPack, and then you have Angular 2. It's in fact easier than AngularJS 1, and as Yarn is faster and has less errors (as it uses checksums), it should be much better.

[2017-02-14 21:52] cbornet commented on #5188
I said Angular as in Itsjustangular so I think we agree :smile:

[2017-02-14 22:46] deepu105 commented on #5207
Ya I noticed it too but its from bootstrap but we can override that
ofcourse

Thanks & regards,
Deepu

On 14 Feb 2017 9:28 p.m., "Matt Raible" <notifications@github.com> wrote:

*Overview of the issue*

The top navbar has rounded corners. They're subtle, but they're there.

[image: screen shot 2017-02-14 at 11 08 53 am]
<https://cloud.githubusercontent.com/assets/17892/22947671/34e2dc0e-f2b9-11e6-

[2017-02-14 22:52] srinisubra opened #5209 "JHipster 4.0.3 microservice UI is broken"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Generate microservice gateway UI app is broken

Here is the content of .yo-rc.json

  "generator-jhipster": {
    "jhipsterVersion": "4.0.3",
    "baseName": "gateway",
    "packageName": "com

[2017-02-14 23:01] jdubois commented on #5209
You have quite a lot of uncommon options for a gateway! There might be some issue when using those options together, I'm testing to see if I can reproduce.

[2017-02-14 23:08] jdubois commented on #5209
I'm sorry but everything started up without any problem, and I just copy/pasted your `.yo-rc.json` without any modification (and of course I need to start the Docker containers for Elasticsearch, Consul, PostgreSQL, and Kafka/Zookeeper!!).
I'm quite proud to have this whole thing working, in fact :-)

So I'm closing this as I can't reproduce:

- You can try deleting your `node_module` and re-do a

[2017-02-14 23:08] #5209 closed

[2017-02-14 23:19] ruddell commented on #5005
I will handle it this week

[2017-02-15 00:25] gmarziou commented on #5063
I got `jhiHasAuthority` directive working.
An important thing to notice is that the argument of a structural directive must be an expression, it implies that to pass a string you must quote it as below:

[code]

This may seem cumbersome but in fact it is more powerful because you can also pass an array of strings:

[code]

So I see no point in having 2 directives `jhiHasAuthority` and `jhiHasAnyAu

[2017-02-15 07:31] pascalgrimaud commented on #5188
@jdubois @cbornet : I can help. Just let me know if you decide to work on this, so we won't work on the same thing.
I will do little PR:
- move Travis file first -> I'm starting it right now (and probably finish it tonight)
- remove the condition on angular2 and improve files:
    - Jenkinsfile
    - Gitlab CI
    - Circle CI
- documentation

[2017-02-15 07:39] deepu105 commented on #5063
Ok for only one directive

Thanks & regards,
Deepu

On 15 Feb 2017 1:26 a.m., "Gaël Marziou" <notifications@github.com> wrote:

I got jhiHasAuthority directive working.
An important thing to notice is that the argument of a structural directive
must be an expression, it implies that to pass a string you must quote it
as below:

<some-element *jhiHasAuthority="'ROLE_ADMIN'">...</some-element>

This

[2017-02-15 07:45] jdubois commented on #5063
Yes it's easier ! But don't forget to update the website in the "using
Angular 2" section

Le 15 févr. 2017 8:39 AM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2017-02-15 09:12] JulienMrgrd commented on #5207
We can override @deepu105.
We just have to add "! important" after each css line to override.

like this :
![capture d ecran de 2017-02-15 10-08-36](https://cloud.githubusercontent.com/assets/11616517/22967450/d23a5fa6-f366-11e6-885a-014af84905e7.png)

I commit it in a few minutes.

[2017-02-15 09:23] deepu105 commented on #5207
@JulienMrgrd I know we can override but normally prefer not to tweak too much of BS styles but in this specific case we can do it.
Also we dont have to add `!important` as these styles are applied after BS styles so they will take precedence. If anyone wants to PR please go ahead else ill do it sometime this week

[2017-02-15 09:23] jdubois commented on #5207
I'm not a big fan with the `!important` keyword, we doesn't our CSS have a higher priority?

[2017-02-15 09:25] deepu105 opened #5211 "Move the development ribbon to bottom left of the page"
Hey guys I kind of feel that the development ribbon at top left is aesthetically  a bit annoying so I actually move them to bottom left corner for my apps. Should we do that for the default app what do you guys prefer @jhipster/developers

[2017-02-15 09:28] deepu105 opened #5212 "Move the clientFramework question into client sub generator"
Today the `clientFramework` question is triggered from the main app generator but ideally this should be moved to the `client` generator. I had this here as I started off with 2 client sub gens but since we merged them into a single one its better to move the question there so that its more modular and the modules which would replace angular with react/vue etc can benefit as well

I'll do this lat

[2017-02-15 09:29] deepu105 commented on #5207
@jdubois our css do have higher priority we do not override border radius currently

[2017-02-15 09:40] gmarziou commented on #5063
OK

[2017-02-15 09:42] lordlothar99 commented on #5116
I'll try to spend time on this today, but I can't find time I'll tell you tomorrow

[2017-02-15 09:43] gmarziou commented on #5211
bottom-right seems a good place at least for left to right languages.

[2017-02-15 09:47] gmarziou commented on #5207
Is it a design choice from Bootstrap team or is it just a bug on their side?

[2017-02-15 10:27] gmarziou commented on #5207
So it seems a design choice from BS4 team, see https://v4-alpha.getbootstrap.com/getting-started/options/#global-options and this would be easier to fix globally in SCSS

[2017-02-15 10:33] jdubois commented on #5164
Closed as PR is merged

[2017-02-15 10:33] #5164 closed

[2017-02-15 10:34] jdubois commented on #5211
I prefer to have it on the top, as you see it straight away, and usually the "GitHub ribbons" are on the top.
At the moment we have 34 opened tickets, don't waste time on this, nobody ever complained about it

[2017-02-15 10:35] jdubois commented on #5116
Great, thanks!

[2017-02-15 10:43] sendilkumarn commented on #5207
It is fixed in `alpha.6`
![screen shot 2017-02-15 at 6 40 57 pm](https://cloud.githubusercontent.com/assets/12471122/22970778/63069670-f3ae-11e6-8975-1e30b51efccc.png)

@gmarziou I think they moved this into centralized (using variables), so upgrading to alpha.6 will solve this.

[2017-02-15 10:43] JulienMrgrd commented on #5211
Why not remove the ribbon and replace the Hipster icon ?

By example (sorry for my low level in design)
![workinprogresshipster](https://cloud.githubusercontent.com/assets/11616517/22970729/7f3e7fc8-f373-11e6-8600-e36a25ab7114.png)

[2017-02-15 11:18] carpanese opened #5214 "Social Login Problem 4.0.3"
When trying to connect with facebook, it displays the following error:

`2017-02-15 10:44:42.501 ERROR 707 --- [bio-8080-exec-5] b.com.digidev.web.rest.SocialController : Exception creating social user:

org.springframework.social.UncategorizedApiException: (#12) bio field is deprecated for versions v2.8 and higher`

Version: 4.0.3

[2017-02-15 12:02] jdubois commented on #5214
Isn't this an issue with Spring Social instead?

[2017-02-15 12:07] delverdev opened #5215 "Cannot start UAA server"
##### **Overview of the issue**

After the application starts, the first message I see is:

[code]
As I know, 8888 is the default port for config server. But registry, which also acts as a config server, has port 8761. So why does it try to connect to 8888?
Then I see next messages:

[code]

[code]
Seems like `jhipster.registry.password` has not been resolved.
Then I have the following message (bu

[2017-02-15 12:13] gmarziou commented on #5207
But unless I'm wrong variables are only available in SCSS not in CSS.

[2017-02-15 12:17] gmarziou commented on #5215
This is usually the case when your bootstrap.yml is not read, it can be due to:
- not setting a valid profile
- not setting right directory if run from IDE

[2017-02-15 12:46] jdubois commented on #5215
Yes you need to check your JHipster Registry URL, for example try to "curl" it with your login/password to see if it works. Have also a look at #5122 I think it's kind of the same issue, and that was solved recently.
Your "jhipster.registry.password" should be set up in your `bootstrap-*.yml` files, have a look if it's there, and if you can use it with a "curl" on the Registry. If it fails, you ca

[2017-02-15 12:46] #5215 closed

[2017-02-15 12:54] jdubois commented on #5196
Closing this as the PR is merged, @guayeguaye please re-open or comment if you still have the issue with our next release, as we can't test this

[2017-02-15 12:54] #5196 closed

[2017-02-15 12:55] jdubois commented on #5177
Closing this as this will be done in #5188

[2017-02-15 12:55] #5177 closed

[2017-02-15 13:00] jdubois commented on #5214
Yes it's a Spring Social issue, see:

http://stackoverflow.com/questions/39890885/error-message-is-12-bio-field-is-deprecated-for-versions-v2-8-and-higher

And there's even a JHipster workaround in the answers!!!

[2017-02-15 13:00] #5214 closed

[2017-02-15 14:16] flaviencathala commented on #5208
There is a scope issue between the `tags` from the component and the `#tags` in the template.
We could simply rename it, but @deepu105 @wmarques do you see any reason to keep a template reference variable in a select option ?

[2017-02-15 14:35] flaviencathala commented on #5208
@deepu105 If you're ok to remove it, just merge my PR.

[2017-02-15 15:10] Drishika opened #5218 "Model creation for angular 2 not working correctly for entity with multiple fields using same enum type"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

I created an entity using JDL studio. The Entity has three fields that are of same enum type.

Example :
fieldName1 enum1
fieldName2 enum1
fieldName3 enum1

on running jhipster on the .jh file

[2017-02-15 17:09] lvffilho opened #5220 "How can i configure API_URL in a monolitic app?"
I created a Monolithic app with the new version (4.0) then i´m trying to separeting backend from frontend.
I start backend with 'gradle' using port 8080. And trying to start frontend with 'yarn start' using port 9000.
But jhipster uses relative URL to access API. Where can i configure API_URL in frontend?

[2017-02-15 17:14] jdubois commented on #5220
I'm sorry but I don't understand what you mean... You don't seem to have a bug, so the guidelines say you should use StackOverflow for a usage question, please post your question there.

[2017-02-15 17:14] #5220 closed

[2017-02-15 17:14] jdubois commented on #5220
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-15 18:11] jdubois commented on #5171
Got it, I'll do a PR tonight.

[2017-02-15 19:05] delverdev commented on #5215
Without variable, the application starts, but I still receive:
[code]
Also the application registers 3 times:

![capture](https://cloud.githubusercontent.com/assets/7104443/22990403/bf5bc126-f3c1-11e6-9d7c-aa255ac57aa6.PNG)

By the way, Docker's `app.yml` has a variable with two dollar signs. I don't know if it's correct or not:
[code]

[2017-02-15 19:37] ruddell commented on #5215
@delverdev I was able to build a UAA docker image with your `.yo-rc.json` and it starts up fine.

The two dollar signs is from the [docker-compose docs](https://docs.docker.com/compose/compose-file/#/variable-substitution):

[2017-02-15 19:39] cbornet commented on #5188
@pascalgrimaud please do !

[2017-02-15 19:51] jdubois commented on #5215
Yes the $$ is correct indeed, even if it's very surprising :-)

[2017-02-15 19:52] jdubois commented on #5207
Closing as the PR is merged

[2017-02-15 19:52] #5207 closed

[2017-02-15 19:53] jdubois commented on #5211
:-)
I'm closing this as we really more important issues at the moment

[2017-02-15 19:53] #5211 closed

[2017-02-15 19:55] jdubois commented on #5171
So the issue is that there is no MongoBee migration on a brand new microservice, as it doesn't have any user management code.
Of course, as soon as you add some entities, this folder will have migrations in it, so that's only very temporary.
I'm doing a PR to remove the warnings.

[2017-02-15 19:56] #5171 closed

[2017-02-15 20:05] delverdev commented on #5215
@ruddell, can you build it without Docker? Now I will try to regenerate and reproduce it with detailed steps.
Also I have had the following parts in logs ("Not found or not setup for this application"):

[code]

[2017-02-15 20:05] #5205 closed

[2017-02-15 20:06] deepu105 commented on #5208
Ok as long as nothing breaks :)

Thanks & regards,
Deepu

On 15 Feb 2017 3:35 p.m., "Flavien Cathala" <notifications@github.com>
wrote:

[2017-02-15 20:06] jdubois commented on #4549
@deepu105 I think we can close this now, do you agree?

[2017-02-15 20:47] jdubois commented on #5128
Now that the Docker PR are merged, I'm closing this.

[2017-02-15 20:47] #5128 closed

[2017-02-15 20:52] delverdev commented on #5215
1. Forked 'jhipster-registry'.
2. Cloned it via IDEA.
3. Started via "Run JHipsterRegistry". I can open the web page and login with "admin;admin", but in `Health` tab `discoveryComposite - eureka` is `UNKNOWN`.

[code]

4. Created UAA with the old `yorc` configuration (successfully).
5. Imported as a Gradle project.
6. Started via "Run SampleApp". Have errors that I've had before.
7. Replaced all

[2017-02-15 23:35] kaidohallik commented on #5188
As I studied and tested and got working Jenkinsfile in connection with #5177 then I wrote down generator changes needed to get Jenkins with JHipster generated Jenkinsfile green with Angular 2, yarn and gradle: https://github.com/kaidohallik/generator-jhipster/commit/f6422f25cb36d21bc21f67d63d5ed0d01b2ec074

My setup what worked:
* Jenkins 2.45
* Docker 1.12.6
* Centos 7.3

Tried also with yarn_ins

[2017-02-15 23:43] pascalgrimaud commented on #5188
thanks @kaidohallik
So do you mean, including your changes in profile_prod.gradle and build.gradle, we still can't use `./gradlew yarn_install` ?

[2017-02-15 23:57] pascalgrimaud commented on #5215
@delverdev : sometimes I have the same like you, so I put `-Dspring.profiles.active=dev` in VM options of IntelliJ, to force the microservice to take this profile

[2017-02-16 00:05] gmarziou commented on #5063
PR for doc:jhipster/jhipster.github.io#391

[2017-02-16 00:09] gmarziou commented on #5215
Yes this is what I tried to explain 12 hours ago :)
Also your log extract is too late, it does not show the profile used.

[2017-02-16 00:14] pascalgrimaud commented on #5215
it happens quite often to my collegues, so I think it need to be documented

[2017-02-16 00:53] cloud4288 commented on #4549
@jdubois can I use this in production development now? I want to migrate my AngularJS project.

[2017-02-16 02:26] nicoraynaud opened #5227 "Move DTO option from entity to global"
##### **Overview of the issue**

I have created a jdl file to reproduce the issue :
[jhipster-jdl.txt](https://github.com/jhipster/generator-jhipster/files/778903/jhipster-jdl.txt)

The link between Line and Category is not properly done in LineDTO. It creates a Set of CategoryDTO but Category does not have a DTO representing it.

##### **Motivation for or Use Case**

The DTO should link to the en

[2017-02-16 05:37] jdubois commented on #5227
Can you put you JDL in the ticket ? I'm with my phone and I can't see it.

[2017-02-16 05:47] nicoraynaud commented on #5227
There you go :

[code]

[2017-02-16 05:50] jdubois commented on #5227
Thanks -> you whole object graph should be DTOs. Mixing DTOs and entities cannot work.

[2017-02-16 06:28] javadev opened #5229 "Gradle build displays a warning message."
The plugin id 'spring-boot' is deprecated. Please use 'org.springframework.boot' instead.

[2017-02-16 06:39] atomfrede commented on #5229
Please follow our i[ssue guidelines](https://github.com/jhipster/generator-jhipster/issues/new?body=*%20**Overview%20of%20the%20request**%0A%0A%3C!--%20what%20is%20the%20query%20or%20request%20--%3E%0A%0A*%20**Motivation%20for%20or%20Use%20Case**%20%0A%0A%3C!--%20explain%20why%20this%20is%20a%20required%20for%20you%20--%3E%0A%0A%0A*%20**Browsers%20and%20Operating%20System**%20%0A%0A%3C!--%20is%20t

[2017-02-16 06:39] #5229 closed

[2017-02-16 07:19] jdubois commented on #5215
Oh yes I had that same issue once!

Le 16 févr. 2017 1:14 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

it happens quite often to my collegues, so I think it need to be documented

—
You are receiving this because you modified the open/close state.

Reply to this email directly, view it on GitHub
<https://github.com/jhipster/generator-jhipster/issues/5215#issuecomment-280185905>,
or m

[2017-02-16 07:20] jdubois commented on #5215
Then we have an issue, the 'dev' profile should be selected by default if
nothing is done.

Le 16 févr. 2017 8:19 AM, a écrit :

[2017-02-16 07:44] pascalgrimaud commented on #5188
@ruddell : seeing your comment https://github.com/jhipster/generator-jhipster/issues/5177#issuecomment-279246157 about this error:
[code]

Sometimes, I encounter this error, testing with Jenkins, sometimes not. I think there is something to do here. Can you do a PR ?

[2017-02-16 07:48] jdubois commented on #5227
Lazy-loading on a DTO cannot work, as it's not a managed object anymore.

[2017-02-16 07:51] jdubois commented on #4549
@cloud4288 still in beta, but already a lot of people use it. Sorry but this ticket is not the right place for chatting.

[2017-02-16 08:27] jdubois commented on #5208
I'm not sure I understand everything here, but as long as nothing breaks, let's merge this :-)

[2017-02-16 08:28] #5208 closed

[2017-02-16 09:30] robertmain commented on #634
If I correct my bower.json to 4 spaces and then bower install something, it gets changed back to 2...am I missing something here?

[2017-02-16 09:50] deepu105 commented on #634
@robertmain you need to change in the .editorconfig file
Please dont post in old closed threads use stack overflow for such questions

[2017-02-16 10:00] deepu105 commented on #4549
yes i'll move some todo from here to
https://github.com/jhipster/generator-jhipster/issues/4794 and will close it

Thanks & Regards,
Deepu

On Thu, Feb 16, 2017 at 8:52 AM, Julien Dubois <notifications@github.com>
wrote:

[2017-02-16 10:32] JulienMrgrd commented on #5186
I've tested some solutions on IE11, without results...
[http://stackoverflow.com/questions/41276692/angular2-ie11-unable-to-get-property-apply-of-undefined-or-null-reference](url)

1. The **Aldracor solution** replace the error by another.

![capture d ecran de 2017-02-16 10-51-11](https://cloud.githubusercontent.com/assets/11616517/23016467/e7385c34-f436-11e6-9f22-876e848c2e18.png)

![capture d e

[2017-02-16 13:06] delverdev commented on #5215
Thanks, finally it works! But I have something strange in registry's logs after the registry and uaa restart:

[code]
And UAA registers 3 times again.
P.S. in run configuration, there is input "Active Profiles". That allows to set profiles easier (for errors above I tested both options).

[2017-02-16 13:57] ddidier opened #5231 "ElasticSearch is not consistent with the database"
##### **Overview of the issue**

The generated code seems to consider that ElasticSearch supports 2PC which it doesn't.

##### **Motivation for or Use Case**

I want my data in the DB to be consistent with my data in the index.

##### **Reproduce the error**

Create an entity A referencing an entity B with a mandatory FK in the DB. Save an entity A without a B: A won't be created because of the co

[2017-02-16 14:04] jdubois commented on #5231
Of course it isn't.
That's just the way Elasticsearch works: it is not a database, and it is not transactional.
We never said we "solved" this, we just configure the tools, that's all.
Many people use the Elasticsearch re-index module (in our marketplace) to get around this.

[2017-02-16 14:04] #5231 closed

[2017-02-16 14:17] ddidier commented on #5231
I think you should actually document it somewhere as I suspect a lot of people don't know that

[2017-02-16 14:21] jdubois commented on #5231
We have a policy that says we don't document underlying technologies. Like Spring, Angular...
But yes we could add this on the "using Elasticsearch" page.

[2017-02-16 15:00] ddidier commented on #5231
that's not documenting the technology per se but the usage of it, thanks

[2017-02-16 15:29] #5063 closed

[2017-02-16 16:33] jdubois commented on #5231
Yes, and I've already seen many, many "architects" and "experts" that tell that Elasticsearch can be used as a database... We need to put this clearly.

[2017-02-16 18:14] lordlothar99 commented on #5116
Sorry guys, I'm not home yet... Seems like I won't have much time these days to work on this. Would you please get it done by yourself?

[2017-02-16 19:50] kaidohallik commented on #5188
My testing result related to pngquant error.

With **gradle node plugin version 1.1.1** I can't reproduce this pngquant error if there is no previous build errors happened with `yarn_install`, the following has never failed so far: `./gradlew yarn_install -PnodeInstall`

I can constantly reproduce pngquant error in this way:
* at first doing `yarn_install` with **gradle node plugin version 1.0.1**

[2017-02-16 20:53] nicoraynaud commented on #5227
My choice was motivated by the fact that referential data can remain entities while business data need dto. Anyway, I understand the motivation behind your answer.

However, letting the user choose which entity to expose as DTO and which not will lead to other cases like mine. Should we keep the choice ?

Thanks for your quick response !

[2017-02-16 21:10] jdubois commented on #5227
Yes you are right, it should be better documented, I'm re-opening this to remember doing it tomorrow

[2017-02-16 22:16] pascalgrimaud commented on #5188
I will start to work on the documentation tomorrow morning: https://jhipster.github.io/setting-up-ci/

[2017-02-16 23:37] carpanese opened #5235 "Jhipster 4 + Angular 2 Problem in War Deploy."
Hello.

I made the application packaging to deploy to tomcat however, accessing a metrics screen, do I have the following problem?
![error](https://cloud.githubusercontent.com/assets/3074947/23046342/16998102-f490-11e6-91d0-1af9927abcd4.PNG)
![error2](https://cloud.githubusercontent.com/assets/3074947/23046341/169515a4-f490-11e6-8081-fc5123d78965.PNG)

[2017-02-17 00:07] gemron commented on #5235
i have this problem too.

[2017-02-17 06:04] jdubois commented on #5235
Can you put a correct title and follow the guidelines?

[2017-02-17 06:04] jdubois commented on #5235
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-17 06:04] #5235 closed

[2017-02-17 07:52] deepu105 commented on #5227
May be we could move the DTO question into the additional technologies to
use question so that if its enabled its applied globally what do you think
Julien?

Thanks & regards,
Deepu

On 16 Feb 2017 10:10 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-02-17 11:10] arnogeismar opened #5237 "gulp config does not copy all scss files in a bower_components subdirectory"
I believe the problem lies here:

.pipe(inject(gulp.src(bowerFiles({filter:['**/*.{scss,sass}']}), {read: false}), {
            name: 'bower',
            relative: true
        }))

I added slick-carousel to my bower.json.
after bower install the dependency is added and after
gulp build it loads
slick.scss
and injects
<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">

[2017-02-17 12:22] pascalgrimaud commented on #5237
You have probably found an issue, maybe not.
But without more information and a correct description to reproduce, it is hard to help

[2017-02-17 12:22] pascalgrimaud commented on #5237
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-17 12:22] #5237 closed

[2017-02-17 12:42] arnogeismar commented on #5237
@pascalgrimaud

I will try to follow the guidelines next time.

I managed to fix it by adding this to my overrides although it feels like a workaround:

"overrides": {
        "angular": {
            "dependencies": {
                "jquery": "3.1.0"
            }
        },
        "angular-cache-buster": {
            "dependencies": {
                "angular": "1.5.8"
            }
        }

[2017-02-17 13:01] deepu105 commented on #5237
Its the correct way as the library you use should have all main files
defined else you need to add it yourself like this. Its not a Jhipster issue

Thanks & Regards,
Deepu

On Fri, Feb 17, 2017 at 1:42 PM, arnogeismar <notifications@github.com>
wrote:

[2017-02-17 13:06] deepu105 commented on #5218
closed via #5219

[2017-02-17 13:06] #5218 closed

[2017-02-17 13:17] dimeros opened #5238 "Dublicate ids are created to the model in angular 2"
* **Overview of the request**

Dublicate ids should not be created to the model.

* **Motivation for or Use Case**

I tried to generate an entity Category such as:

Each category belongs to categories.
After generation two categoryId field will be created.

* **Browsers and Operating System**

N/A

* **Related issues**

* **Suggest a Fix**

I will create a PR for this.

[2017-02-17 13:49] jdubois commented on #5231
Done!

[2017-02-17 14:53] #5212 closed

[2017-02-17 15:06] delverdev opened #5240 "Cannot configure Registry with UAA"
##### **Overview of the issue**

Again I cannot run Registry with UAA without errors. Registry is just cloned from GitHub, UAA is a new generated application (I only changed the password to the database).
Logs of Registry start:

[code]
Logs of UAA start:

[code]
3 instances were registered (match the time in screenshot with the time in logs):
![capture](https://cloud.githubusercontent.com/assets/

[2017-02-17 15:09] jdubois commented on #5240
Can you try running them with Maven? It looks like the previous issue, your "dev" profile is not being taken into account by the IDE, and that looks like a more global problem

[2017-02-17 15:17] deepu105 commented on #5240
cc @xetys

[2017-02-17 15:21] deepu105 commented on #5212
@jdubois @jhipster/developers please note that the position of the question has changed with this. I'm doing a PR to update docs as well

[2017-02-17 15:22] jdubois commented on #5212
yes I just saw it, no problem

[2017-02-17 15:57] delverdev commented on #5240
@jdubois, I have the same errors. Now it registered 5 times.

[2017-02-17 16:50] Corneyeski opened #5241 "gitignore template excludes build directory on javascript libraries"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

.gitignore excludes all build directories

 # Gradle
  ######################
  .gradle/
 -build/

this fact causes the following file
https://github.com/Corneyeski/ProyectoDAW/blob/master/src

[2017-02-17 16:53] jdubois commented on #5241
I think it's a duplicate, did you try with a more recent version?

[2017-02-17 23:22] pascalgrimaud commented on #5240
Just tried your config (only in terminal):
[code]

So there is a problem to take the appropriate profile

[2017-02-17 23:49] pascalgrimaud commented on #5240
About the error on the registry, I don't think it is related to JHipster
See https://github.com/Netflix/eureka/issues/893

[2017-02-17 23:55] kaidohallik opened #5243 "double coverage report in Karma"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

I found one hidden problem: there are two coverage subfolders generated by Karma (`yarn test`):
* one under build folder: `test-results/coverage`
* second: `src/test/javascript/coverage`

####

[2017-02-18 07:19] abasjafari opened #5245 "Exception when call add for entity in gateway how to fix it?"
java.lang.IllegalArgumentException: MIME type may not contain reserved characters
	at org.apache.http.util.Args.check(Args.java:36)
	at org.apache.http.entity.ContentType.create(ContentType.java:206)
	at org.apache.http.entity.ContentType.create(ContentType.java:218)
	at org.springframework.cloud.netflix.zuul.filters.route.SimpleHostRoutingFilter.forward(SimpleHostRoutingFilter.java:278)
	at org.s

[2017-02-18 07:32] jdubois commented on #5245
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-18 07:32] #5245 closed

[2017-02-18 08:59] jdubois commented on #5243
Closing as PR #5242 is merged (next time use the "fix" keyword in your commit message, see our CONTRIBUTING.md for more information)

[2017-02-18 10:02] xetys commented on #5240
I played a bit with it yesterday night, for me it's the return of the "I don't care about the bootstrap config in bootstrap phase" bug... Will have to check what recent changes caused that. I tested with 4.0.2 and had no issues

[2017-02-18 10:43] kaidohallik commented on #5243
Actually this is a different issue. #5242 didn't change coverage location. This double coverage folder is still generated in `src/test/javascript`.

[2017-02-18 10:47] jdubois commented on #5243
Sorry! Re-opening..

[2017-02-19 09:38] MathieuAA commented on #5191
@deepu105 Your solution is the best one. I'll implement it and then add it to the documentation.

[2017-02-19 10:07] #5238 closed

[2017-02-19 11:54] serkaneren78 commented on #5186
Problem related to Polyfills.
polyfills from angular-seed project (https://github.com/angular/angular2-seed) fixed the problem. After that there is another error while injecting the window to JhiTrackerService in the IE.

In the tracker.service.ts , this change should be in the constructor of JhiTrackerService..
        @Inject(Document) private $document: Document,
        @Inject(Window) private

[2017-02-19 12:22] alfredorueda opened #5247 "hgdfhfg"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### *

[2017-02-19 12:23] alfredorueda commented on #5247
sorry miss click

[2017-02-19 12:23] #5247 closed

[2017-02-19 12:47] xetys commented on #5240
ok, the one evil line of code is

[code]

which leads into the profile is not loaded...I will fix this asap

[2017-02-19 12:49] xetys commented on #5240
@delverdev just delete that line from both profile_dev.gradle and profile_prod.gradle until there is an official update, for me the UAA worked like a charm after that

[2017-02-19 13:00] #4928 closed

[2017-02-19 13:12] deepu105 commented on #4549
closing this as all TODO will be tracked in #4794

[2017-02-19 13:12] #4549 closed

[2017-02-19 13:15] deepu105 commented on #4968
The library has been renamed to [ngx-translate](https://github.com/ngx-translate/core)

[2017-02-19 13:58] xetys opened #5249 "routing security issue allows to visit protected routes"
##### **Overview of the issue**

as in angularJS we are using the data.authorities property in routes in Angular2+ to protect particular routes based on the users role. However this feature seems not to work properly in the ng2 client. A user with role USER might manually type "/user-management" as URL and successfully retrieve a list of users. There are limitation for the user to perform real har

[2017-02-19 14:27] seawenzhu opened #5251 "this.eventManager.subscribe('userListModification', (response) => this.loadAll()); not working in lazy loaded module"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

make admin module with lazy loaded, User list is not updated after user changed(new,edit,delete).

##### **Motivation for or Use Case**

In UserMgmtComponent bellow line is not triggered after

[2017-02-19 15:29] jander99 opened #5253 "JHipster 4.0.5 does not include spring-cloud-starter-dependencies when serviceDiscoveryType=false"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

generator-jhipster 4.0.5 dev profile is unable to run after yeoman generation.

##### **Motivation for or Use Case**

Project is broken.

##### **Reproduce the error**

Generate a new JHipster

[2017-02-19 16:40] jdubois commented on #5253
That's because you said "no" to the message broker question.
Sorry I didn't know this option! Which really a weird option, what is your use case?

[2017-02-19 16:43] pascalgrimaud commented on #5253
@jdubois : I think it's because of `"serviceDiscoveryType": false` in the `.yo-rc.json`

The fix is not correct, because the spring-cloud-dependencies exists here:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_pom.xml#L173-L196

[2017-02-19 18:04] #5240 closed

[2017-02-19 20:03] xetys commented on #5249
in the meantime I found a solution for this. It's just to hacky now to PR it yet

[2017-02-19 23:05] delverdev commented on #5240
Wow! It doesn't work for me anyway. I recreated Registry and UAA, removed the line as you said and started them by `mvnw` and `gradlew` accordingly. UAA registers 2-3 times anyway. Here's the logs.
Registry:
[code]
UAA:

[code]

I also tried to run them from IDE, with manual `dev` profile set and not, with only 1 line removal and like in commit. I don't know what to do.

[2017-02-20 03:36] trinhsong opened #5259 "add ckedidor or anthor to textarea"
How to add an editor to textarea?

[2017-02-20 03:58] sendilkumarn commented on #5259
This ticket has been closed as the guidelines are not followed.

Tickets must follow our Guidelines, as mentioned in:

our Readme file on the front page of the project,
the "create a new ticket" page and
our Help page
We have also created a template on the "create a new ticket" page to help you follow those guidelines.

[2017-02-20 03:58] #5259 closed

[2017-02-20 06:07] jdubois commented on #5249
In fact there are 2 issues:

- The "user" can see the list of users, but can't modify them -> this is "normal", at least it works as expected. The server-side is correctly protected.
- On the client side, this is just a UI check, and the routes do not appear on the menu when you don't have the permissions. Then, indeed, we should also block the routes when the user doesn't have the permissions - t

[2017-02-20 06:10] #5253 closed

[2017-02-20 06:17] #5188 closed

[2017-02-20 06:19] #5116 closed

[2017-02-20 09:08] wmarques commented on #4968
The Angular team strongly advised to remove any "ng2" things in project names, as Angular 4 is coming, that's why some libs are renamed.

[2017-02-20 10:07] flaviencathala commented on #5251
@seawenzhu I don't understand the issue, the user management works perfectly with me. Can't you provide more information ?

[2017-02-20 10:08] jdubois commented on #5251
Just tried it with @flaviencathala and the page is indeed updated when a user is modified.

I'm sorry but I don't understand your use case.

[2017-02-20 10:08] #5251 closed

[2017-02-20 10:36] jdubois commented on #5227
No, it really depends on each entity.
Sometimes you want entities, sometimes you want DTOs, it depends on what you are building. Then, if you select one option, you must be consistent: if you do graph of objects, all objects should be with the same technology, or it will just fail.
For me this is quite logical, but indeed that's not documented correctly, and will be surprising for some people.

[2017-02-20 12:49] seawenzhu commented on #5251
@flaviencathala and @jdubois
I create the case (change admin module to lazy loaded)
https://github.com/seawenzhu/lazy.git

you can clone the project and run

[2017-02-20 13:13] jdubois commented on #5251
You seem to use https://github.com/brandonroberts/angular-router-loader - I'm sorry but we don't use that dependency currently

[2017-02-20 13:31] seawenzhu commented on #5251
@jdubois
Yes, I need angular2 lazy load feature,  and it is important to improve the first page loaded performance. Is there any way to avoid this problem
thanks.

[2017-02-20 13:33] jdubois commented on #5251
I'm sorry but I don't know this library, and our aim is to use "normal" Angular 2 as much as we can. And also avoid little-known libraries (this one doesn't even have 100 stars).
If we don't do this, we'll have lots of maintenance issues, and it's already complex enough.

[2017-02-20 14:05] JulienVincendeau opened #5260 "jhipster 4.0 microservice : eureka password error"
I'm creating a new microservices project.

I'm using JHipster 4.0.5 and, according this issue [https://github.com/jhipster/generator-jhipster/issues/4905] Eureka password is define by `jhipster.registry.password`

So, in `application-dev.yml` Eureka configuration is, by default :

` eureka:
    instance:
        prefer-ip-address: true
    client:
        enabled: true
        healthcheck:

[2017-02-20 14:08] jdubois commented on #5260
I'm pinging @PierreBesson because he did this change.

I have no idea what's wrong here, because I can't reproduce, but you're not the first one to mention this.

-> I want to go back to the old "admin:admin" in the default zone, that was much better. We had no issue, and people could still configure the password (OK, they were configuring the whole URL, but that wasn't really an issue).

In the m

[2017-02-20 14:10] pascalgrimaud commented on #5260
@JulienVincendeau :
- at the start of your app, do you have this line:
[code]
- can you use `yo jhipster:info` and provide all information ?

[2017-02-20 14:21] JulienVincendeau commented on #5260
@jdubois
It's a pity beacause it's really a good idea
I'm on Windows environnement, is-it a track?

@pascalgrimaud
yes i've got many time this error which have no incidence on my service's registry
I've got this error on the previous version 4.x too

Microsoft Windows [version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation. Tous droits réservés.

C:\workspace.jhipster\referentiels-hsm\referent

[2017-02-20 14:23] PierreBesson commented on #5260
@JulienVincendeau Thank you for your `.yo-rc.json`. I'm looking into it right now;

The reason I added this registry.password property was to facilitate secure and replicated eureka servers but if it cause some problems then sadly we will have to go back to `admin:admin`. But I want to be sure that there is a bug here.

[2017-02-20 14:23] flaviencathala commented on #5249
I made two different fixes for this, I personnaly think the clean one is a lot better.

[2017-02-20 14:25] jdubois commented on #5260
Yes sorry about this @PierreBesson -> yes your idea is great, and I have no idea where the bug might be. But this isn't the first time we have this kind of feedback since we migrated, so I guess there's a link.
BTW I'm doing microservices right now with your config, and I have no issue with it, it works perfectly (in Docker for Mac).

[2017-02-20 14:27] pascalgrimaud commented on #5260
@JulienVincendeau : it's because the password is defined here https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/_bootstrap-dev.yml#L26-L28

And if the profile is not loaded properly, you got the warn `Could not locate PropertySource` and the application can't read the bootstrap-dev.yml, so the password is not defined. It's pretty simil

[2017-02-20 14:28] pascalgrimaud commented on #5240
@delverdev : oh, do you mean it is not fixed for you?

[2017-02-20 14:32] PierreBesson commented on #5260
I just tested it and it works like a charm when launching with mvn, it might be connected to launching from IDE and setting the correct spring profile there.

[2017-02-20 14:32] jdubois commented on #5260
Maybe it's because @JulienVincendeau you configured it in a way that we didn't expect: can you explain exactly how you configure and start your services?

[2017-02-20 14:35] jdubois commented on #5249
This is really "tricky"! Can't believe it :-)

[2017-02-20 14:41] pascalgrimaud commented on #5260
@PierreBesson :

Just generated a fresh project. I use my MicroApp main class to start my application.
Here the logs:
[code]

If I add `-Dspring.profiles.active=dev` in VM Options of my IntelliJ, it works.

[2017-02-20 14:54] delverdev commented on #5240
No. Maybe the problem is in the master registry?

[2017-02-20 15:08] JulienVincendeau commented on #5260
@jdubois I'm using the IDE IntelliJ CE. I'm creating Services with the out-of-box configuration according your video (https://youtu.be/dOO-8cAKDu8)
So i launch my gw/services directly from IntelliJ CE (CTRL+MAJ+F10)

@pascalgrimaud maybe I don't well configured my IntelliJ because i still have the problem.

Don't worry, it's just to give you this problem but my project is not block

[2017-02-20 16:05] jnuc093 opened #5263 "v4.0.5 blog demo index.html blank page"
##### **Overview of the issue**

###### It is my first time to build JHipster project.I have run success the blog demo.But when i access http://127.0.0.1:8080/ ,it returns empty.[Here is my JHipster-blog-demo code](https://github.com/jnuc093/JHipster-blog-demo)

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **J

[2017-02-20 16:12] batterista87 opened #5264 "No more possible to import a project after updating Gradle to Buildship 2.0"
Hello, I'm using the Spring Tool Suite IDE 3.8.3 and I've tried also with the version 3.8.4.CI-B473, and I've updated Gradle to Buildship 2.0.
After this update, is not possible to import a JHipster project using the Gradle wrapper (also using the last Gradle version 3.4). This is the error:

Synchronize Gradle projects with workspace failed due to an error connecting to the Gradle build.
Could no

[2017-02-20 16:12] jdubois commented on #5263
Run `yarn start`

[2017-02-20 16:12] #5263 closed

[2017-02-20 16:15] jdubois commented on #5264
I'm sorry but you have an issue with the Spring Tool Suite, not JHipster. We cannot help you on this.

[2017-02-20 16:15] #5264 closed

[2017-02-20 16:16] gcoban commented on #5260
I am having the same problem.

@JulienVincendeau can you confirm that problem exists when running in IntellijIDEA and nothing wrong with Gradle?

[2017-02-20 16:24] deepu105 commented on #5227
You are right in that case we could be smart about it and select dto
automatically if any of the entity relationship has dto enabled. Its easy
to do as we already read other entity json data

Thanks & regards,
Deepu

On 20 Feb 2017 11:36 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-02-20 16:29] deepu105 commented on #5251
If you want to lazy load the module why dont you do it using angular router
as it does lazy loading OOB

Thanks & regards,
Deepu

On 20 Feb 2017 2:33 p.m., "Julien Dubois" <notifications@github.com> wrote:

I'm sorry but I don't know this library, and our aim is to use "normal"
Angular 2 as much as we can. And also avoid little-known libraries (this
one doesn't even have 100 stars).
If we don't do

[2017-02-20 16:29] PierreBesson commented on #5260
I also reproduced the error. When booting with default config from IntelliJ, it does not work. The app is correctly started in the dev profile but it doesn't read properties from `bootstrap-dev.yaml`. This is normal because the default profile is only set in main class `initApplication()` which I assume is run after the special "bootstrap" phase of the config server.

The solution is the one sugge

[2017-02-20 16:33] jdubois commented on #5260
Oh, that's because they don't read the profile at the right time? That's pretty bad!
Then, I would really want to revert to the old "admin:admin" stuff in the `application-*.yml` file as:

- It doesn't have this very weird issue, that will annoy a lot of people
- You don't lose any thing, it's just that the configuration isn't as clean as it could be

[2017-02-20 16:48] PierreBesson commented on #5260
@jdubois When you revert to admin:admin in case the profile is not set, although it does not fail but it does not mean that it actually works ! I just tested and in this case although eureka discovery is working but then the configserver fails as it is using the default configserver url ("http://localhost:8888/gateway/default"). @pascalgrimaud Can you confirm that what I'm saying is correct ?

[2017-02-20 16:50] pascalgrimaud commented on #5260
yes you're correct @PierreBesson !

[2017-02-20 17:17] deepu105 commented on #5249
Lets not encourage people use tricks like these as its very easy to break.
And prople add multiple underscores to a method name for a reason so that
no body can find and use it :P

Thanks & regards,
Deepu

On 20 Feb 2017 3:36 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-02-20 18:57] jdubois commented on #5045
Argh I broke the build at https://travis-ci.org/jhipster/generator-jhipster/builds/203462647

I don't understand the JWT issue - I don't have it on my test project, which looks a lot like the Travis build, but when I use the Travis config I do reproduce the issue...

I'm not happy with this new Spring Boot release, lots of stuff broken, and that's the first time we have so many issues with it.

[2017-02-20 19:28] jdubois commented on #5045
The JWT issue is incredible:

- It fails with Maven and Gradle (and that's why Travis fails)
- It works "most of time" in my IDE (that's why I didn't see the issue)

This looks like a build issue, and that's quite worrying

[2017-02-20 19:44] pascalgrimaud commented on #5045
I'm having a look about Travis build

[2017-02-20 20:25] pascalgrimaud commented on #5045
@jdubois :
1) for the ng2-jwt build, there is an issue in Audit page. Not related to spring-boot 1.5 IMO. Here the screenshot of the error:
![ng2-jwt-error](https://cloud.githubusercontent.com/assets/9156882/23140632/f1c8d35c-f7b2-11e6-863e-c4969a40e378.png)

2) for the 2nd failed build, it is related to cucumber:
[code]

I don't have time tonight for trying to fix these issues, just confirmed and

[2017-02-20 20:35] erikkemperman commented on #5045
@jdubois @pascalgrimaud The cucumber error was resolveer in my original PR, see https://github.com/jhipster/generator-jhipster/pull/5146/files#diff-5f91fff21ab66a85e9191a764af094ccR12

The app-ng2-jwt issue I noticed but couldn't figure out quickly. I mentioned this failing test on the PR,  so I assumed it was fixed by Julien as he merged the update.

[2017-02-20 20:36] pascalgrimaud commented on #5045
@erikkemperman : can you do a quick PR to fix cucumber ?

[2017-02-20 20:47] dsharpe opened #5265 "Entity generation fails creating relationship to nonexistent entity"
##### **Overview of the issue**

New code in JHipster 4.0.5 fails when creating an entity that has a relationship to another entity that does not exist yet.

Stack trace:
events.js:161
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'angularJSSuffix' of undefined
    at constructor.<anonymous> (/Applications/BugTracker2/node_modules/generator-jhipster/generators

[2017-02-20 20:50] gmarziou commented on #5249
@flaviencathala can you explain what you did and why, or maybe add a unit test?

[2017-02-20 20:53] erikkemperman commented on #5045
@pascalgrimaud Yep, I'm on it

[2017-02-20 20:57] erikkemperman commented on #5045
https://github.com/jhipster/generator-jhipster/pull/5266

[2017-02-20 21:06] erikkemperman commented on #5045
@jdubois I noticed the companion PR on the serverside lib had merge conflicts since I submitted it, so I've rebased my branch.

[2017-02-20 21:19] dsharpe commented on #5265
I just tried making the null check locally and then I get a new error:

ERROR in ./src/main/webapp/app/entities/label/label-dialog.component.ts
Module not found: Error: Can't resolve '../ticket' in '/Applications/BugTracker4/src/main/webapp/app/entities/label'
 @ ./src/main/webapp/app/entities/label/label-dialog.component.ts 17:15-35
 @ ./src/main/webapp/app/entities/label/index.ts
 @ ./src/main/w

[2017-02-20 21:26] xetys commented on #5249
of course we take the first one....but the tricky one is cool 😄

however I found this issue actually from another issue, which might be fixed right in place: if you give the home.route any role (which means you should be authenticated), it doesn't deny.

[2017-02-20 22:04] pascalgrimaud commented on #5045
@erikkemperman : I answer to you here about ng2-jwt
- the Audit page didn't appear correctly because audit.data is empty (size is 0)
- this same audit.data is not empty when it's not JWT
- so maybe something has changed in spring-boot actuator, I didn't find the cause yet

[2017-02-21 00:11] samouraii opened #5269 "Question HTTP authentication"
Hello,

Sorry for my question and for my English.

I'm working with jhipster for a software and i have a web site. Now i would like connect the user in my software with the account of my website.

Can i authenticate the user in the application or need to copy the information? I can create a jwt, nut after i need to talk with the jhipster for give the token.

i'm lost and i don't find tutorials.

t

[2017-02-21 02:15] ramzimaalej commented on #5186
I'm having a similar issue with vendor.dll.js
![screen shot 2017-02-20 at 9 13 32 pm](https://cloud.githubusercontent.com/assets/1727621/23148088/9713cfd0-f7b1-11e6-9bf4-f83e4fc4923d.png)

[2017-02-21 03:10] mfalzetta commented on #4567
Hi @deepu105,

Im trying to include primeng on jHipster project but i have a error on dependences (quill).

Please, can you can guive me tip how to do this?

Sorry for any tire.

[2017-02-21 05:21] pascalgrimaud commented on #5269
Sorry, it is not the right place.
You should go to stackoverflow.

[2017-02-21 05:21] #5269 closed

[2017-02-21 05:39] Abhi365 commented on #5196
But the error still persists....so any solution for that...

[2017-02-21 06:19] pascalgrimaud commented on #5196
@Abhi365 : it won't help by just saying:

Give more information, your configuration, your OS, your version etc, and the exact use case to reproduce

[2017-02-21 06:35] pascalgrimaud commented on #5045
Just generated a fresh project with JHipster 3.12.2, AngularJS 1, Spring Boot 1.4.2. The column Extra Data in the Audit page is empty.
So it seems we have the same behavior now, after my PR #5267

[2017-02-21 06:43] Abhi365 commented on #5196
Overview of the issue:
identical src\main\webapp\app\account\activate\activate.service.ts
identical src\main\webapp\app\account\password\password.route.ts
identical src\main\webapp\app\account\password\password-strength-bar.component.t
s
identical src\main\webapp\app\account\password\password.component.ts
identical src\main\webapp\app\account\password\password.component.html
identical src\main\web

[2017-02-21 07:05] jdubois commented on #4567
Hi, this is the bug tracker, not the right place for this.

[2017-02-21 08:22] jdubois commented on #5186
And did you find a solution ?

Le 21 févr. 2017 3:15 AM, "Ramzi Maalej" <notifications@github.com> a
écrit :

I'm having a similar issue with vendor.dll.js
[image: screen shot 2017-02-20 at 9 13 32 pm]
<https://cloud.githubusercontent.com/assets/1727621/23148088/9713cfd0-f7b1-11e6-9bf4-f83e4fc4923d.png>

—
You are receiving this because you are subscribed to this thread.
Reply to this email direct

[2017-02-21 08:23] erikkemperman commented on #5045
@pascalgrimaud Thanks for looking into this, it looks like currently master is building correctly even in this case: https://travis-ci.org/jhipster/generator-jhipster/builds/203611247

[2017-02-21 08:24] erikkemperman commented on #5045
@jdubois It looks like I might have some time today to go over the remaining version bumps (and deletions to align with SB implicitly) and demux into separate commits. Would you prefer a single PR with those separate commits, or also separate PRs?

[2017-02-21 08:48] pascalgrimaud commented on #5260
Playing a little bit this morning:
- when starting the app with the IDE, this line is not read: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/_bootstrap.yml#L8
- if I replace `#spring.profiles.active#` by `dev`, it works!

[2017-02-21 08:51] gmarziou commented on #5196
2 remarks:
- you used `--skip-server` option, have you checked the images exist after generation?
- there are 2 compilation errors in `login.service.ts` which could be explained by no authentication type selected in your `.yo-rc.json`

[2017-02-21 08:55] samouraii commented on #5269
I say, and i'm sorry! But in stackoverflow he don't Say....

[2017-02-21 09:44] pascalgrimaud commented on #5269
I closed your ticket because it is a bug tracker and not a support channel.
StackOverFlow is the right place if you need help to implement a specific code.

[2017-02-21 10:28] mleneveut opened #5270 "Translation problems with complex RegEx"
##### **Overview of the issue**

We generated an entity from a JDL file, and complex RegEx on the fields. The generated code in the HTML file executes with a JS error, due to escaping problems with the ngx-translate lib.

##### **Motivation for or Use Case**

A complex regex implies a runtime JS error in the generated code.

##### **Reproduce the error**

Here is an example of the JDL :

[code]

T

[2017-02-21 12:11] jdubois commented on #5052
Closing as #5203 is merged

[2017-02-21 12:11] #5052 closed

[2017-02-21 12:12] asanzdiego commented on #5186
Maybe the import of polyfills could fix the problem.

See: [https://angular.io/docs/ts/latest/guide/browser-support.html](https://angular.io/docs/ts/latest/guide/browser-support.html)

[2017-02-21 12:16] gmarziou commented on #5270
What's the use of displaying a regexp to a user who may not understand it?
The error message should explain the expected format in human words.

[2017-02-21 12:23] jdubois commented on #5045
- For the JWT issue: I have no idea what happens, but this seems linked to old cached data in the browser. I've stopped looking at this for the moment, as it looks specific to my browser.
- @erikkemperman yes one PR per "big enough" change, as we might want to revert them one by one, and see when the Travis tests fail also

[2017-02-21 12:24] jdubois commented on #5045
Closing this as the migration looks ok

[2017-02-21 12:24] #5045 closed

[2017-02-21 12:26] kheckelmann opened #5271 "Karma Coverage Report shows always 100% coverage of nothing"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

After generating a jhipster gateway with Angular 2 frontend and starting the Karma Unit-Tests the coverage report shows 100% of everything and no files. That can't be right, because initially

[2017-02-21 12:26] erikkemperman commented on #5045
@jdubois All right, but it will be a lot of PRs if I separate every upgrade! By the way yarnpkg is driving me crazy, I keep getting failing Travis builds and inevitably find that `yarn install` failed. I would *love* to go back to `npm` at least for the Travis config...

[2017-02-21 12:27] jdubois commented on #5271
Duplicate of #5243 - our directory is not correct

[2017-02-21 12:28] jdubois commented on #5045
OK, if that's easier for you, just do one big PR
I agree we have a lot of Travis issues at the moment - it was more stable with NPM, but also far slower....

[2017-02-21 12:34] erikkemperman commented on #5045
I don't mind making separate PRs but I think you guys might get a bit annoyed from so many small ones :-)

[2017-02-21 12:36] jdubois commented on #5249
Closing as #5261 is merged

[2017-02-21 12:36] #5249 closed

[2017-02-21 12:45] pascalgrimaud commented on #5045
@erikkemperman : I know the problem about Travis build since we migrated to yarn. I have already worked on a specific branch to reduce these random failures. I should commit it soon

[2017-02-21 12:54] cbornet opened #5272 "UaaAutoConfiguration triggered even if you don't select uaa option"
##### **Overview of the issue**

UAA autoconf is triggered if ClientCredentialsResourceDetails and LoadBalancerClient classes are found on the classpath which can be the case even if you don't want to use UAA

##### **Motivation for or Use Case**

If you add spring-cloud-starter-oauth2 dependency, then the startup will fail because LoadBalancedResourceDetails bean doesn't find any LoadBalancerClie

[2017-02-21 12:56] pascalgrimaud commented on #5045
@jdubois : let me trying to resume what I analyzed:
- before JHipster 4.0, with AngularJS1
    - without JWT: the audit page works well
    - with JWT: the last column (about extra data) is empty. I think it comes directly from the AuditResource, in the backend
- now, JHipster 4.0+, with Angular2
    - without JWT: the audit page works well
    - with JWT: in the front, there is an error because t

[2017-02-21 13:00] jdubois commented on #5227
Oh yes, we could select/unselect DTO depending on the other entities which are linked... That would prevent such a issue.

[2017-02-21 13:03] deepu105 commented on #5186
The suggested polyfill for IE11 is this https://github.com/zloirock/core-js but
I guess we already have that

Thanks & Regards,
Deepu

On Tue, Feb 21, 2017 at 1:12 PM, Adolfo Sanz De Diego <
notifications@github.com> wrote:

[2017-02-21 13:06] jdubois commented on #5227
Reading the issue again, here you specifically ask:

    dto * with mapstruct except Category, Bank, Currency

So it would be very strange to generate a DTO, when you explicitly ask not to have one! So that's not a good solution either...

[2017-02-21 13:11] mleneveut commented on #5270
You are right, and it's the bypass that we are doing. Putting custom message for every regex saying : this field must have alphanumeric chars and etc...

It could be an evolution for the JDL module :

`pattern("^myregex$", "This field must contains letters and digits")`

And JHipster generates the custom message for the default language.

[2017-02-21 14:20] erikkemperman commented on #5045
I'm going to make a few PRs, as the test results on my fork come in.

In the end I thought it best to make just a few PRs, but keep the commits separate. That way it's not too much spam for you guys, while we can still cherry-pick / revert small changes individually if needed.

[2017-02-21 14:33] ramzimaalej commented on #5186
I'm not on IE, this was on Chrome after generating a fresh application using JHipster 4.0.5

[2017-02-21 15:18] #5265 closed

[2017-02-21 15:19] jdubois commented on #5091
Closing as we have no news on this...

[2017-02-21 15:19] #5091 closed

[2017-02-21 16:49] deepu105 commented on #5227
Then we could atleast print a warning saying there is a misconfiguration

Thanks & regards,
Deepu

On 21 Feb 2017 2:06 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-02-21 16:51] jdubois commented on #5227
Yes that's the easiest solution

[2017-02-21 17:59] kaidohallik commented on #5271
@jdubois Both coverage reports are empty:
* in `build/test-results/coverage`
* in `src/test/javascript/coverage`

Seems that coverage configuration needs update to resolve both this issue and #5243

[2017-02-21 19:33] jdubois commented on #5271
OK, re-opening!

[2017-02-21 19:51] serkaneren78 commented on #5186
Below polyfills and change in tracker.service fixed IE 10 and 11 problem..

tracker.service.ts
@Inject(Document) private $document: Document,
@Inject(Window) private $window: Window,

Polyfills.ts
import 'ie-shim'; // Internet Explorer 9 support
// import 'core-js/es6';
// Added parts of es6 which are necessary for your project or your browser support requirements.
import 'core-js/es6/symbol';
imp

[2017-02-21 20:14] ramzimaalej commented on #5186
@serkaneren78 can you create a PR for this?

[2017-02-22 05:28] mraible opened #5277 "Date fields look funny in 4.0.6"
##### **Overview of the issue**

Date fields are wrapped with `<div class="input-group">`, which causes them to look funny.

![screen shot 2017-02-22 at 12 24 28 am](https://cloud.githubusercontent.com/assets/17892/23198423/73c7b7be-f895-11e6-9d52-e9d7ffbdeb7e.png)

##### **Motivation for or Use Case**

It doesn't look like a date field. It did in 4.0.5.

##### **Reproduce the error**

Create a ne

[2017-02-22 05:36] sendilkumarn commented on #5277
Oops.. @mraible this was missed out.
You have to add `d-flex` class, you can have a look on audit page.

I will do a PR.

[2017-02-22 10:41] MathieuAA commented on #5270
@mleneveut Hello. For this evolution to happen, the generator must be modified first so that I can add it in the JDL. And if we do that, we should also support the same thing for other validations (reqiures, mins, etc.)...

[2017-02-22 11:03] JulienVincendeau commented on #5260
Playing a little bit too

- I replace `#spring.profiles.active#` by `dev` and it's works for me too

For your information, with the configuration `defaultZone: http://admin:admin@localhost:8761/eureka/` I've got this error
`Could not locate PropertySource: I/O error on GET request for "http://localhost:8888/application/default": Connection refused: connect; nested exception is java.net.ConnectExce

[2017-02-22 13:55] PierreBesson commented on #5260
I have submitted a PR to the docs: https://github.com/jhipster/jhipster.github.io/pull/398
@JulienVincendeau is it enough to close this issue for you ?

[2017-02-22 14:07] hjgomez1975 opened #5284 "$state is not defined. Error on entity page generated by jhipster version 4"
When I try to change page using pagination bar in an entity generated by Jhipster, get the following **javascript error**: **$state is not defined**

Can you solve this issue for the next release?

##### **Reproduce the error**

I am evaluating the JHipster version 4.0.5 framework with angularJS version 1 to clientFramework. All entities were generated through the command jhipster:entity entity-na

[2017-02-22 14:57] cbornet commented on #4688
Just found this : http://patorjk.com/software/taag/#p=display&f=ANSI%20Shadow&t=Jhipster
So we could generate the banner based on the application name (provided it's not too long)

[2017-02-22 16:23] rmelian opened #5285 "Microservices Gateway with UAA always returns invalid access token for /uaa/api/account"
##### **Overview of the issue**
A "Microservice gateway" with UAA server always returns Invalid access token when accessing /uaa/api/account

![image](https://cloud.githubusercontent.com/assets/4565267/23220633/94d21fca-f8f0-11e6-9364-185579631f1b.png)

![image](https://cloud.githubusercontent.com/assets/4565267/23220683/c2d1777c-f8f0-11e6-8f1a-dd0d97656c99.png)

![image](https://cloud.githubuserc

[2017-02-22 16:24] deepu105 commented on #5270
Agree with @gmarziou it doesnt help user at all to show pattern in error message. Then we cannot generate something useful from it as well. So either we need to remove the pattern and print a generic message or move the pattern out of translation as its useless again.
[code]

[2017-02-22 17:05] TonyLuo commented on #5196
Hi @Abhi365 , I got the same issue in JHipster v4.0.6 , have you solved it?

[2017-02-22 17:48] gmarziou commented on #5270
What about having a message per field having a pattern? Below for lastname:

[code]

[2017-02-22 17:51] gmarziou commented on #5196
@TonyLuo are you sure you are in same conditions? Please show your `.yo-rc.json` file.

[2017-02-22 17:58] gmarziou commented on #4688
This is cool but I'm not sure we would like to depend on an external service that could be down.

[2017-02-22 18:09] jdubois commented on #4688
Yes, and I'm happy with having some JHipster advertisement everywhere!!

[2017-02-22 19:26] pankajppr commented on #4110
@deepu105 Does the latest version of Jhipster support material design?

[2017-02-22 20:10] gmarziou commented on #4110
No and there's no plan to do so as it would require to rewrite all templates and some components too.

[2017-02-22 22:15] xetys commented on #5285
i'll check that asap

[2017-02-22 22:39] matthieusb opened #5289 "Boolean entity attribute not set to false by default in generated insertion form"
##### **Overview of the issue**

We generated an entity from a JDL file, containing some boolean attributes. The entities were generated correctly and checkboxes appeared in the adding form as expected. However, when completing all fields and pressing 'Save', the spring application controller return a 400 bad request error, as the entity object was not correct. This was caused by the checkboxes va

[2017-02-23 01:27] TonyLuo commented on #5196
I didn't change anything in  .yo-rc.json, it is same as it generated:
{
  "generator-jhipster": {
    "jhipsterVersion": "4.0.6",
    "baseName": "myApp",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": false,
    "websocket": false,
    "dat

[2017-02-23 04:14] svpace commented on #5202
I believe that It would be a lot of work, to say the least. Nonetheless Angular 1 projects can really benefit from typescript/webpack and I was under the impression that Angular 1 would remain a first class citizen within JHipster for the foreseeable future and therefore convergence with Angular 2 seemed to me like a good thing. On the other hand If Angular 1 is going away soon, I agree with you,

[2017-02-23 06:04] YuanZhencai opened #5290 "logstash does work after add spring cloud stream kafka"
##### **Overview of the issue**

generator-jhipster vesion is 3.12.2. After add spring cloud stream kafka, the logstash does not work after the application started.

[2017-02-23 06:32] jdubois commented on #5290
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-23 06:32] #5290 closed

[2017-02-23 09:31] gmarziou commented on #5196
@TonyLuo  this is not about changing your .yo-rc.json, it's just to compare your configurations and yours is completely different from @Abhi365 which uses no authentication type and --skip-server.

[2017-02-23 09:33] jdubois commented on #5289
Thanks for the report, indeed we missed this, and that's really important! Like you, I would just put "false" in the model, that's easier.

[2017-02-23 09:36] jdubois commented on #5260
@PierreBesson and can't we have "dev" by default in the `bootstrap.yml`? It really worries me that we have something not working by default.
Sorry about that, but I'm re-opening, I want something better than just documentation. The great thing with JHipster is that it all works out of the box normally.

[2017-02-23 09:44] PierreBesson commented on #5260
But we can't have "dev" by default since the value is supposed to be filled out by maven/gradle (so that we can switch between dev and prod).

For application.yml we can bypass this by setting the dev profile at runtime if no profile is found but we cannot cheat like that with the bootstrap config. I would really like to find a solution/workaround as well but I don't see one.

[2017-02-23 10:00] jdubois commented on #5260
And what if we copy/paste the content of `bootstrap-dev.yml` inside `bootstrap.yml`?

- When no profile is selected, we go in `dev` mode
- When the prod profile is selected, this configuration is overridden by `bootstrap-prod.yml`

[2017-02-23 10:19] jdubois commented on #5284
I'm sorry but I can't reproduce if you don't give me your entities....

[2017-02-23 10:19] jdubois commented on #5284
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-23 10:19] #5284 closed

[2017-02-23 10:37] JulienVincendeau commented on #5260
@jdubois thanks for this re-opened ticket
I change `bootstrap-dev.yml` and `bootstrap.yml` as you have proposed
#####  bootstrap.yml
[code]
#####  bootstrap-dev.yml
[code]
#####  application-dev.yml
[code]

My gateway started with no error in`dev`mode. I've not try in `prod` mode.

For your information, in production mode (with JHIpster 4.x out-of-box config) we launch a service like that (no dock

[2017-02-23 11:49] PierreBesson commented on #5260
Yes this is a possible fix but it is not consistent with what we do with application-*.yml as you would need to be careful that every property that you define for dev is correctly overwritten by the prod one.
Also people will wonder where is the bootstrap-dev if you remove it completely. Then I'm not entirely against your proposition as it would "fix" the problem.

@JulienVincendeau you shoud not

[2017-02-23 12:35] bhagujava commented on #274
Hey guys !!!

+1 for idea.

I have seen your JHipster 3.0 release note  but not mention about this feature. any update on this ?

[2017-02-23 12:44] JulienVincendeau commented on #5260
Maybe it's a silly question but why we need  to configure `http://admin:${jhipster.registry.password}@localhost:8761/config` on `application-*.yml` and `bootstrap-*.yml` ?

I've not your expertise to affirm properties I defined for dev will be correctly overwritten by the prod.

[2017-02-23 13:18] TonyLuo commented on #5196
Is it related to the windows OS? The same configuration works well in macbook...

[2017-02-23 13:36] dylan0d commented on #5196
I'm having the same problem with this yo-rc.json file
`{
  "generator-jhipster": {
    "jhipsterVersion": "4.0.6",
    "baseName": "eventmanager",
    "packageName": "com.equifax.eventmanager",
    "packageFolder": "com/equifax/eventmanager",
    "serverPort": "8080",
    "authenticationType": "session",
    "hibernateCache": "no",
    "clusteredHttpSession": false,
    "websocket": false,
    "da

[2017-02-23 13:50] pascalgrimaud commented on #5196
@TonyLuo @dylan0d : I'm pretty sure there is something which doesn't work well, but without information and instructions to reproduce, how can we help ?

So it's on Windows, OK, but what is your version of Node ? Yarn ?
When ? After generating the project with yo jhipster ? After your build ? With ./mvnw package -Pprod ? With yarn run webpack:build ?

Do you have the last error `ERROR in [at-loade

[2017-02-23 14:03] dylan0d commented on #5196
Sorry, I'm relatively new to all this.
Node js: 7.4.0
Yarn 0.19.1
Windows 7

This occurs on the first time yo jhipster is run, and the error is the second one you mentioned:
`at notFoundError (D:\demo\node_modules\execa\node_modules\cross-spawn\lib\en oent.js:11:11 ?`

What node_modules folder do you recommend deleting? There's about a million on my computer and it took me a long time to configure

[2017-02-23 14:37] #5005 closed

[2017-02-23 14:45] pascalgrimaud commented on #5196
Reading some issue about this error, it seems to be a problem when installing your node_modules libraries.
Try to delete your local `node_modules` of your project, then retry to launch `yarn install`

[2017-02-23 15:44] hjgomez1975 opened #5291 "$state is not defined. Bootstrap pagination bar component on Entity page does not work well."
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Bootstrap pagination bar component on **Entity page** ( for example *Country*) does not work well.

The size of each page is defined by default for 20 rows.  If you have more than 20 items and

[2017-02-23 15:52] dylan0d commented on #5196
No joy with that either
Here's my full error message if it helps.
The path is valid, I checked it manually

[code]

[2017-02-23 17:42] jdubois commented on #4631
I corrected a few bugs, but it's still not complete yet - I've updated the https://github.com/jhipster/generator-jhipster/tree/migration-to-yeoman-1.0 branch with it.

All of my errors come from the fact that when I do a "composeWith", I'm losing the current context, so it doesn't look for the templates in the correct directories....

[2017-02-23 18:35] muralihr opened #5292 "adding new language support with Angular2"
##### **Overview of the issue**

I added support for a new lasnguage - kannada by doing the following steps ~

1Duplicate the src/main/webapp/i18/en folder to src/main/webapp/i18/new_lang (this is where all the front-end translations are stored)
2Translate all files under the folder src/main/webapp/i18/new_lang
3Add the language code new_lang to the LANGUAGES constant defined in src/main/webapp/ap

[2017-02-23 18:48] xiangwan opened #5293 "can't login when serviceDiscoveryType= eureka"
* **Overview of the request**

this is a monolith app

`
{
  "generator-jhipster": {
      "jhipsterVersion": "4.0.6",
    "baseName": "sso",
    "packageName": "cn.com.haval.sso",
    "packageFolder": "cn/com/haval/sso",
      "serverPort": "8080",
    "authenticationType": "session",
    "hibernateCache": "hazelcast",
    "clusteredHttpSession": "hazelcast",
    "websocket": false,
    "database

[2017-02-23 19:27] jdubois commented on #5293
Can you provide *at least* some information on what you are doing???

[2017-02-23 19:27] jdubois commented on #5293
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-23 19:27] #5293 closed

[2017-02-23 19:29] jdubois commented on #5292
Do you want to add the language to the JHipster generator, or just to your own application?

[2017-02-23 22:08] #5291 closed

[2017-02-24 01:15] allahbaksh commented on #151
Should we try Vert.x-Web now? Given the fact that we can generate microservice we can have option to select Vert.x for creating microservice.
In my present work we trying to leverage Vert.X for file upload. The rest of the project is generated using jHipster (Zuul + App).

[2017-02-24 02:00] mraible commented on #151
Feel free to create a module that replaces Spring Boot with Vert.x.

https://jhipster.github.io/modules/creating-a-module/

[2017-02-24 02:57] TonyLuo commented on #5196
npm 4.1.2
node v6.9.5
yarn v0.19.1
windows 10

I have deleted  local node_modules and try yarn install

[2017-02-24 03:08] TonyLuo commented on #5196
is it  caused by OS language? My windows 10 default language is Chinese...

[2017-02-24 03:30] deepu105 commented on #4631
Julien, ill work on this when I have some time. Anyway its not very urgent
as it doesn't add any new features or fix so we can take our time. I would
also like to use more es6 features for this like converting the index.js
files and base into es6 classes etc.

Thanks & regards,
Deepu

On 23 Feb 2017 11:12 p.m., "Julien Dubois" <notifications@github.com> wrote:

I corrected a few bugs, but it's sti

[2017-02-24 06:35] jdubois commented on #151
I had the same discussion a few months ago about supporting Play!
Those could be some simple, no-configured database, microservices. You just need to configure Eureka and JWT.
Of course, you will lose metrics, documentation, configuration, logging.... But still I can understand the interest here, in supporting non-Spring technologies.

[2017-02-24 07:17] pascalgrimaud commented on #5292
I generated a new app:
- launch: `./mvnw`
- launch: `yarn start`
- go to `http://localhost:8080` -> OK
- launch: `yo jhipster:languages`
- add new a new one
- go back to `http://localhost:8080` -> OK, the new language is here

So, the sub generator languages works (that's what I wanted to check)

Then it seems you wanted to add locally a new language.
Did you launch `yarn start` or at least `yarn

[2017-02-24 08:29] kbjp opened #5297 "Jhipster dev profile only working when used in combination with yarn / browsersync ?"
##### **Overview of the issue**

Is the Jhipster dev profile only working when used in combination with yarn / browsersync ?

##### **Motivation for or Use Case**

Jhipster's online doc says that the application is assumed to be available under localhost:8080 when running mvnw (default **dev** profile) but the returned index.html page is blank because no javascript file is included in that page (i

[2017-02-24 09:01] gmarziou commented on #5297
(in which case, the "creating an application" documentation page should be corrected)

And no need to crosspost on stackoverflow https://stackoverflow.com/questions/42432902/how-does-maven-running-under-dev-profile-include-the-javascript-files-inside-i

[2017-02-24 09:01] #5297 closed

[2017-02-24 09:11] gmarziou commented on #5196
Look at the code of the failing script, try running it in debug, maybe you'll find why it fails:

https://github.com/imagemin/pngquant-bin/blob/master/lib/install.js

[2017-02-24 10:31] muralihr commented on #5292
Thanks Pascal @pascalgrimaud i was able to get it working after running yarn - but it is not mentioned in the doc; this step needs to be mentioned -

@jdubois @jdubois  I want to add KANNADA to the language generator that is when we select the languages .yo jhipster:languages - how do i enable kannada ?

As you are aware the Bangalore CIty is the IT capital of India - and I am planning to integrat

[2017-02-24 10:39] pascalgrimaud commented on #5292
For adding a new languages, you need to follow this page: https://jhipster.github.io/installing-new-languages/
But it is not updated with Angular2, so I will reopen this ticket and rename the title

[2017-02-24 10:48] TonyLuo commented on #5196
I installed  libpng-dev manually, the following error still there

 notFoundError (D:\dev\jhipster\myApp\node_modules\execa\node_modules\cross-spawn\lib\enoent.js:11:11

[2017-02-24 11:59] huiqiangyang commented on #5285
this question also with me.

[2017-02-24 12:29] Abhi365 commented on #5196
I even tried to do it with npm
using yo jhipster --skip-server --npm

still got error

ERROR in ./src/main/webapp/content/images/hipster.png
Module build failed: Error: The system cannot find the path specified.

    at notFoundError (D:\Abhi\jhipster4-ng\node_modules\execa\node_modules\cross
-spawn\lib\enoent.js:11:11)
    at verifyENOENT (D:\Abhi\jhipster4-ng\node_modules\execa\node_modules\cros

[2017-02-24 13:16] gmarziou commented on #5196
@Abhi365, I reproduced your issue with your ` .yo-rc.json` and  `yo jhipster --skip-server`, it is not related with this issue so please open a new issue if you feel it must be fixed.

The issue is a compilation error in `login.service.ts` because  `AuthServerProvider` is missing and has not been generated. This is not surprising because you used `--skip-server` option so you were not asked about

[2017-02-24 13:23] deepu105 commented on #5196
@Abhi365 @gmarziou while using `skip-server` you need to provide the required option via commandline params as documented in Tips section of https://jhipster.github.io/creating-an-app/
There is a flag to provide auth option if you use the client sub gen directly

[2017-02-24 13:26] muralihr commented on #5292
OK.. I think the angular2 integration is really cool thing - Does it make integration with IONIC FRAME WORK EASIER.
Will this front end work with IONIC - as you are aware IONIC uses angular2 -
I am trying to refactor the code and develop a IONIC front end using the jhipster front end.
Is this integration in the road map ?

[2017-02-24 13:28] pascalgrimaud commented on #5292
There is already a module for that, made by @ruddell : https://github.com/ruddell/generator-jhipster-ionic

[2017-02-24 13:28] deepu105 commented on #5292
There is already my PR on the doc site with updates to this section as well. @jdubois did you get a chance to look at that PR yet?

[2017-02-24 13:28] #5292 closed

[2017-02-24 13:30] gmarziou commented on #5196
I always forgot about these options :) anyway I tried `yo jhipster:client --authenticationType=jwt` and got more compilation errors.

[2017-02-24 13:30] pascalgrimaud commented on #5292
Oh ok, thanks @deepu105
I didn't look in details your PR

[2017-02-24 15:01] deepu105 commented on #5196
@gmarziou yes possible bcoz these are largely untested and advanced use cases

[2017-02-24 15:57] gmarziou commented on #5196
@TonyLuo  I could not reproduce your issue with your .yo-rc.json file. My env is Windows 10 Pro (French), node 6.9.5 and yarn 0.20.3, so I'm sorry but you're on your own as it seeems to depend on your environment

[2017-02-24 16:04] gmarziou commented on #5196
@dylan0d I could not reproduce your issue with your .yo-rc.json file. My env is Windows 10 Pro (French), node 6.9.5 and yarn 0.20.3, so I'm sorry but you're on your own as it seeems to depend on your environment

[2017-02-24 16:12] TonyLuo commented on #5196
@gmarziou thanks so much for trying it. it seems a common issue when use

[2017-02-24 16:30] gmarziou commented on #5196
One hint maybe, when you look at https://github.com/imagemin/pngquant-bin/blob/master/lib/index.js

You can see that the URL to the executable for Windows will be computed as:

https://raw.github.com/imagemin/pngquant-bin/v3.1.1/vendor/win/pngquant.exe

but if you use a browser and navigate to the same file you see that URL is:

https://github.com/imagemin/pngquant-bin/blob/v3.1.1/vendor/win/pngqu

[2017-02-24 16:44] gmarziou commented on #5196
install.js just tries to run `pngquant.exe --version` to test that it works.
When I do the same, I get:

[code]

There is a pending pull request to update the windows binary: https://github.com/imagemin/pngquant-bin/pull/55

[code]

So maybe you could try to edit your package.json and add a dep on pngquant-bin with a github URL

`"pngquant-bin": "git+https://github.com/caub/pngquant-bin.git",`

[2017-02-24 17:51] gmarziou commented on #5196
The more I investigate this issue , the less I'm convinced about the benefits of using image-webpack-loader, it seems to depend too much on dependencies which are difficult to build on all platforms especially OSX and Windows. All this stuff just to optimize images that may be have already been optimized by a graphist using dedicated tools.

Personally, I think that we should get rid of this and m

[2017-02-24 17:55] dylan0d commented on #5196
@gmarziou I can generate a project fine when I choose angular 1.x instead of 2.x so I'll just stick with that for now, thanks for trying anyway :)

[2017-02-24 17:59] pascalgrimaud commented on #5196
@gmarziou : agree with you

[2017-02-24 18:32] gpratte commented on #5265
I'm still seeing this problem in 4.0.6

[2017-02-24 19:34] gmarziou commented on #5265
@gpratte then please post here your `.yo-rc.json` and your` .jhipster/*.json` files.

[2017-02-24 20:42] abenmess opened #5298 "[OAuth2] Cannot access to management"
##### **Overview of the issue**

I generate a  Monolithic project using JHipster release 4.0.6.
after generate, all menus work except Administration/Configuration, i meet "You are not authorized to access the page" with an invitation to login.
I have the same error when i login again.

The error is reproductible using chrome and firefox

##### **Motivation for or Use Case**

I think that is bug re

[2017-02-24 21:44] jdubois commented on #5298
Good catch, I confirm the issue!!!

[2017-02-24 22:02] jdubois commented on #5298
The issue seems to come from the OAuth2 authentication. It's not widely used (less than 2% of people use it), and that's probably why you're the first one to report it.
We just updated our libraries with Spring Boot 1.5.1, so I guess this comes from this upgrade - you could try version 4.0.5 if you need this working ASAP.

[2017-02-24 22:23] jdubois commented on #5298
Yes, just downgrading to Spring Boot 1.4.0 in the `pom.xml` makes the issue disappear... So that's a Spring Boot 1.5.1 issue!

[2017-02-24 22:38] jdubois commented on #5010
I knew this was a bad idea: #5298
So, as I said, lots of maintenance work, for only 0,6% of projects... I'm definitely not spending my night on this :-(

[2017-02-25 00:38] jjzabkar commented on #5272
👍

[2017-02-25 09:21] jdubois commented on #5298
I don't have to test right now, but the solution could be here: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-1.5-Release-Notes as `security.oauth2.resource.filter-order` changed

[2017-02-25 12:05] TonyLuo commented on #5196
@gmarziou 100% agree. The more dependencies, the more risks need to take

[2017-02-25 14:49] ljohnny opened #5302 "Generating and running a WAR file. My brower got nothing. You are using an outdated browser."
if i used idea to start the example project .that's ok. whats wrong with it?i used the latest version.

[2017-02-25 15:42] jdubois commented on #5302
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-25 15:42] #5302 closed

[2017-02-25 16:17] ljohnny commented on #5302
i have not any wrong message,just run ./gradlew -Pprod bootRepackage and then run ./jhipster-0.0.1-SNAPSHOT.war,then get a white page in brower.

[2017-02-25 16:23] deepu105 commented on #5302
@ljohnny as said above we cant help you if you dont follow our guidelines and provide all required info

[2017-02-25 16:33] ljohnny commented on #5302
i have follow your guidelines and face some probleam.And i ask a new question in stackoverflow.
http://stackoverflow.com/questions/42458410/generating-and-running-a-war-file-my-brower-got-nothing-you-are-using-an-outda

in my case,i cant get any wrong message.erverything look ok.but when i generating the monolithic application as a war and running it .and then i get a white page in any brower.

[2017-02-25 16:37] jdubois commented on #5302
No you are not. And please don't cross post on SO, this is also against the project rules.

[2017-02-25 16:46] ljohnny commented on #5302
sorry for my way of asking,i dont read the rules at first when i asking question.i know this issue have appeared,but i dont know whats wrong with my case.can i get some help?

[2017-02-25 17:07] deepu105 commented on #5302
@ljohnny I'm not sure what problem you could possibly face in reading our bug template and providing the required template. If you have issue with English you could easily use a translation service(Google translate) and we really cant help you without the details required in the bug template. I suggest you open a new issue, read through the template filled first and provide all required info if yo

[2017-02-25 21:46] #5298 closed

[2017-02-25 22:33] cbornet opened #5305 "Malformed JWT gives error 500"
##### **Overview of the issue**

A malformed JWT sends an error 500 instead of 401

##### **Reproduce the error**

Generate an app with JWT auth type
Login and send a request with browser network devtools
Re-send the request removing a character in the JWT token

##### **Suggest a Fix**

Catch MalformedJwtException (and probably the others: UnsupportedJwtException, UnsupportedJwtException and Ille

[2017-02-25 22:35] gmarziou commented on #5196
Well I also found that yarn on Windows has some problems with native node modules requiring node-gyp. For instance, I was unable to build jhipster-registry with yarn, I had to use npm to get it working.

[2017-02-26 01:06] rmelian commented on #5285
this is not working neither for any 4.x version

[2017-02-26 01:11] gmarziou commented on #5285
Have you checked with latest master? Maybe PR #5303 could help.

[2017-02-26 01:20] rmelian commented on #5285
I added
[code]
to my uaa server and indeed it fixed an issue with the uaa server but the same problem still exists in the gateway

[2017-02-26 03:13] ljohnny commented on #5302
it really without any other message
![image](https://cloud.githubusercontent.com/assets/9734646/23336776/8361bf3a-fc14-11e6-88bd-44a6630755a3.png)

[2017-02-26 07:43] ljohnny commented on #5302
i am so reckless.jhipster's Guidelines have write clear.i dont read seriously.thanks for your help.

[2017-02-26 09:13] joxzaren opened #5308 "Error creating new app: error Received malformed response from registry for undefined. The registry may be down."
##### **Overview of the issue**

Running >yo jhipster results in error
   ...
   create src/main/webapp/i18n/en/global.json
   create src/main/webapp/i18n/en/health.json
   create src/main/webapp/i18n/en/reset.json
   create src/main/resources/i18n/messages_en.properties
yarn install v0.20.3
info No lockfile found.
[1/4] 🔍  Resolving packages...
error Received malformed response from registry for

[2017-02-26 09:33] deepu105 commented on #5308
Did you retry as the error says yarn registry might be down. Also are you
behind any firewall or corporate proxy?

Thanks & regards,
Deepu

On 26 Feb 2017 2:43 p.m., "Per Weinberger" <notifications@github.com> wrote:

[2017-02-26 09:42] joxzaren commented on #5308
No, no firewalls or corporate proxies.

I've retried it several times with the same result. If https://registry.yarnpkg.com is the yarn registry it seems to up and running.

Thanks,
Per

[2017-02-26 09:44] SerhiiTsybulskyi opened #5309 "Problems with integration with materialize-css framework"
##### **Overview of the issue**

When I tried to connect '[materialize-css](https://www.npmjs.com/package/angular2-materialize#installing--configuring-angular2-materialize-in-projects-created-with-angular-cli)' (using this instruction) I get an error:

But when I try it on clean angular CLI project it works fine. Test clear angular CLI project with integrated materialize-css available at this [rep

[2017-02-26 09:51] joxzaren commented on #5308
Running yarn install —verbose gives the following information:

verbose Request "https://registry.yarnpkg.com/@angular%2fcli" finished with status code 503.

[2017-02-26 09:54] jdubois commented on #5309
Can you follow the guidelines, please? Paste your config here, I'm on my phone I can't read this.

[2017-02-26 10:02] gmarziou commented on #5309
This is rather a question for stackoverflow than a jhipster issue.

[2017-02-26 10:06] #5309 closed

[2017-02-26 10:07] SerhiiTsybulskyi commented on #5309
I've inserted link on my .yo-rc.json. Do you mean this config?

  "generator-jhipster": {
    "jhipsterVersion": "4.0.6",
    "baseName": "onlinegid",
    "packageName": "onlinegid.site",
    "packageFolder": "onlinegid/site",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": false,
    "websocket": false,
    "databaseType": "s

[2017-02-26 10:09] SerhiiTsybulskyi commented on #5309
@gmarziou but your link about another module.
I want ti integrate this module https://www.npmjs.com/package/angular2-materialize

[2017-02-26 10:11] gmarziou commented on #5309
I know, this is just to give you an example where you sould add your module and css, you still have some work to figure how to adapt to this non standard lib.

[2017-02-26 10:17] gmarziou commented on #5308
Yes but it works, so it might be a temporary hiccup from yarn regsitry.

[2017-02-26 10:18] gmarziou commented on #5308
Closing as it is not a jhipster issue.

[2017-02-26 10:18] #5308 closed

[2017-02-26 11:54] xsalefter opened #5310 "Cannot activate registered user"
##### **Overview of the issue**

After registration successful, user should activate him/herself via link sent to their email inbox. Clicking this link always result:
`Your user could not be activated. Please use the registration form to sign up.`
In screen.

##### **Motivation for or Use Case**

This is bug because, if user follow normal use case / steps by steps for registering him/herself, mess

[2017-02-26 12:19] matthieusb opened #5311 "Entity edition leads to an error when using unrequired date fields"
##### **Overview of the issue**

When I try to edit an entity and I don't mention some date fields that are not mandatory, I get a Javascript error " Can't run .split on undefined" in *DateUtils*.

##### **Motivation for or Use Case**

DateUtils should handle the case where there are null or undefined dates, at least when these dates are not required fields.

##### **Reproduce the error**

Here is

[2017-02-26 12:26] xsalefter opened #5312 "After activation, sign-in not redirecting to proper URL"
##### **Overview of the issue**

With assumption that #5310 fixed, sign-in action not redirect to home page after activation completed.

##### **Motivation for or Use Case**

This is bug because otherwise, user will keep 'activate' page with message `Your user has been activated. Please sign in.` even he/she already signed in successfully.

##### **Reproduce the error**

1. Register your self.
2.

[2017-02-26 12:32] gmarziou commented on #5311
Thanks, please consider submitting a pull request to https://github.com/jhipster/ng-jhipster

[2017-02-26 12:33] jdubois commented on #5311
Yes, and please check the latest commits, I think this was already solved.

[2017-02-26 12:35] gmarziou commented on #5311
Good catch: https://github.com/jhipster/ng-jhipster/commit/3c9ba8fe6454f1c2466ecdf3a8c5f4f6ea18c263

[2017-02-26 12:52] jdubois commented on #5311
Then I'm closing this, thanks for the bug report!

[2017-02-26 12:52] #5311 closed

[2017-02-26 13:16] Tcharl commented on #5010
It looks nice to have an UAA which handles OAuth2, and monoliths which could be able to consume it (token + Authz).
OAuth2 within a monolith is a non sens IMO.

[2017-02-26 15:41] matthieusb commented on #5311
I'll make sure to check commits if I encounter other errors. Thanks !

[2017-02-26 19:02] jdubois commented on #5310
I confirm the issue, thanks for reporting it. Please note that Angular 2 support is still in beta, this feature wasn't totally tested yet (at least I didn't test it!) -> you seem to understand what we do quite well, if you have time I'm sure you could do a PR

[2017-02-26 20:53] xetys commented on #5285
my first test shows, that switching to spring boot 1.5.1 with latest spring cloud, makes the uaa...stateful. I'm on it and will report

[2017-02-26 21:17] jd-carroll opened #5314 "Social Login Failure "Cannot POST" Angular2"
##### **Overview of the issue**
Social login does not appear to be working. When I navigate to the registration page and click on Google or Facebook I see something similar to:
`Cannot POST /signin/facebook`

(Angular2)

##### **Motivation for or Use Case**

All default social login connectors seem to be broken

##### **Reproduce the error**

Install latest version of JHipster and use the `yo-rc`

[2017-02-26 22:11] jdubois commented on #5314
Did you follow the Spring Social documentation, and set up your API keys?

[2017-02-26 23:31] jd-carroll commented on #5314
That's probably it, I was just prototyping something quickly (never used the social connectors) and missed the doc's in the .yml files.  I'll try creating those, which I'm fairly confident will solve the issue.  Closing pre-emptively

[2017-02-26 23:31] #5314 closed

[2017-02-26 23:53] kaidohallik commented on #5039
Webpack development server is not tracking vendor files.
Starting gradle or maven with `webpack` profile doesn't change vendor files (both are using `webpack:build:dev`, not `webpack:build`).
So I made PR where I added instructions, how to get vendor changes in.
Alternative solution is to add this instruction to the `README.md` at the end of the vendor section.

[2017-02-27 02:24] dsharpe commented on #5265
@gpratte Are you referring to the first error or the second? The first error should be resolved but the second error is not. However, the first error caused entity generation to fail. The second error only fails on the webpack compile. (and entity generation succeeds)

[2017-02-27 06:39] #5285 closed

[2017-02-27 06:42] jdubois commented on #5305
Yes, this was the main error I got when testing JHipster with OWASP ZAP, so big +1

[2017-02-27 07:31] jdubois commented on #5311
@deepu105 we should release a new ng-jhipster release, are you OK with it? Could you do it, or should I do it?

[2017-02-27 08:01] deepu105 commented on #5311
Ill do it today

Thanks & regards,
Deepu

On 27 Feb 2017 1:01 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-02-27 08:09] deepu105 commented on #5311
Its done and updated version in the generator as well

[2017-02-27 09:25] xsalefter commented on #5310
Hi @jdubois . PR [created](https://github.com/jhipster/generator-jhipster/pull/5318). Please let me know if I'm doing something wrong.

[2017-02-27 15:43] ramzimaalej commented on #5289
According to HTML spec, we cannot do the following <input type="checkbox" checked="false"/> So, I'm defaulting boolean fields to false in the constructor.

https://github.com/jhipster/generator-jhipster/pull/5320

[2017-02-27 19:57] ramzimaalej commented on #5305
I have put a fix here: https://github.com/jhipster/generator-jhipster/pull/5321

[2017-02-28 08:48] eacdy opened #5323 "Is there any forum or foundation about JHipster?"
Is there any forum or foundaton about JHipster?
I've get the domain `jhipster.io` . I'd like to found a forum about it.
May I?
@amr @ahars @andidev

[2017-02-28 08:54] gmarziou commented on #5323
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-28 08:54] #5323 closed

[2017-02-28 08:57] gmarziou commented on #5323
https://gitter.im/jhipster/generator-jhipster

[2017-02-28 08:59] gmarziou commented on #5323
Or use twitter

[2017-02-28 10:09] cbornet opened #5326 "CI failing on date test"
See any of the current PRs

[code]

Maybe an issue with leap years ?
Also neither 2017-3-1, nor 2017-2-29 is the current date...

[2017-02-28 10:11] jdubois commented on #5326
Yes, or maybe the new ng-jhipster library that @deepu105 released, as there is a change in the date handling code?

[2017-02-28 10:20] jdubois commented on #5326
Indeed, there was [this code](https://github.com/jhipster/generator-jhipster/commit/8bec8b9e231f954a66c49d7fd341d6294aa0914e) commited 6 days ago by @sendilkumarn and this looks like the culprit

[2017-02-28 10:44] cbornet commented on #4955
@PierreBesson Does it also work with Consul ?

[2017-02-28 10:48] #5326 closed

[2017-02-28 10:50] sendilkumarn commented on #5326
Sorry guys.
Yes exactly. How stupid 😠  was I ?

[2017-02-28 10:50] sendilkumarn commented on #5326
Thanks @jdubois

[2017-02-28 11:28] PierreBesson commented on #4955
@cbornet Yes why not. Please try it out and if you have problems open an issue.

[2017-02-28 12:22] karlkyck opened #5328 "UAA responding with 302 when requesting resources using a valid client_credentials JWT token"
##### **Overview of the issue**

A freshly generated JHipster (4.0.6) UAA is responding with a 302 response when requesting a resource using a valid JWT token generated using the authorized grant type: client_credentials.

##### **Motivation for or Use Case**

We are using the JHipster UAA to secure our microservices and have recently generated a new UAA microservice using the latest JHipster (4.0

[2017-02-28 12:36] gmarziou commented on #5328
This is a duplicate and has already been fixed, check on master

[2017-02-28 12:36] #5328 closed

[2017-02-28 13:55] cbornet commented on #4955
When you select service discovery from the prompts, only Eureka is available.
I guess this can be changed in .yo-rc.json

[2017-02-28 14:31] jdubois commented on #5305
Closing as the PR is merged

[2017-02-28 14:31] #5305 closed

[2017-02-28 15:53] jdubois commented on #5310
Closing as the PR is merged

[2017-02-28 15:53] #5310 closed

[2017-02-28 15:54] jdubois commented on #5031
I think that's clear now, we have documentation, and no specific (bad) feedback on this

[2017-02-28 15:54] #5031 closed

[2017-02-28 16:50] jdubois commented on #5289
Closing as the PR is merged

[2017-02-28 16:50] #5289 closed

[2017-02-28 17:34] #5277 closed

[2017-02-28 17:35] jdubois commented on #5312
Closing as the PR is merged

[2017-02-28 17:35] #5312 closed

[2017-02-28 18:40] rohajda opened #5330 "Hazelcast http clustering SessionId: null"
##### **Overview of the issue**

I have generated new application without any further changes. I have start it as it was generated. After connnecting to application and initial authentication by navigating to Administration/User management menu, I am asked again to authenticate as server is not recognizing me. From logs it shows sessionId: null

In server i can see

`
2017-02-28 19:34:50.516 DEBUG

[2017-02-28 20:02] jdubois commented on #5330
I confirm the issue :-(
This one keeps coming back, this is so annoying....

[2017-02-28 20:06] jdubois commented on #5330
If you want an "easy" workaround, remove the clustered session cache - but of course I guess you need it.

[2017-02-28 20:46] rmelian commented on #5285
I don't think the original issue is fixed. I just tested using master and when I try to log in from the gateway UI I keep getting "invalid_token"

[2017-02-28 20:51] ruddell commented on #5285
@rmelian If you clear your browser's local storage (where the invalid token is stored), do you still have the issue?

[2017-02-28 21:01] rmelian commented on #5285
I'm using a new Chrome incognito window and still happens

[2017-02-28 21:25] knasim commented on #487
same for me.  i followed and cannot attach from intellij.

[2017-02-28 21:33] jdubois commented on #5330
Got it.
This comes from https://github.com/jhipster/generator-jhipster/commit/ada285f65a3ae541daa377e571320d9d0cb59f71 and there is in fact a bug in the new Hazelcast release. So this is all Hazelcast's fault, not our code! I'll push a fix soon.

[2017-02-28 21:40] jdubois commented on #5330
More specifically, this is caused by https://github.com/hazelcast/hazelcast-wm/releases/tag/v3.7.1 - and in their release notes there are some stuff related to Spring Security, etc.
I'm not sure what the issue is, so I'm not reporting this to them, but there is definitely something to dig here (ping @bilalyasar as he did the release)

[2017-02-28 21:46] #5330 closed

[2017-02-28 21:47] rohajda commented on #5330
thanks a lot for help. I appreciate your quick reaction.

[2017-02-28 23:13] santoshkt opened #5333 "Images referred in HTML templates are not found"
##### **Overview of the issue**

I generated a project using jH 4.0.3 version. I copied all my actual navbar content into navbar.html. The logo in navbar.html is referring to `../../../content/images/my_logo.png`

All the images in default project are referred in css files and not from HTML files. I can't figure how to get this working with images referred directly from HTML. When I start the appl

[2017-02-28 23:18] jdubois commented on #5333
Are you using AngularJS 1 or Angular 2? Please follow the guidelines...

[2017-02-28 23:20] santoshkt commented on #5333
I'm using Angular 2. Sorry, the template din't ask for Angular version when filing issue.

[2017-02-28 23:23] jdubois commented on #5333
It does, that's in your `.yo-rc.json`- we need your full config to test

[2017-02-28 23:24] santoshkt commented on #5333
[code]

[2017-02-28 23:25] jdubois commented on #5333
Thanks

[2017-03-01 02:43] sasconsul commented on #695
+1 For  supporting SAML as another SSO option.

[2017-03-01 05:49] deepu105 commented on #5333
@jdubois seems you are in a very good mood :smiling_imp: you didnt close the ticket for not following guidelines :rofl:

[2017-03-01 07:08] pascalgrimaud commented on #695
@sasconsul : you can do a module for that, look at this page https://jhipster.github.io/modules/creating-a-module/

[2017-03-01 09:10] mguillem opened #5334 "Test configuration missing: messages: basename: i18n/messages"
Generated test configuration `src/test/resources/config/application.yml` is missing settings for messages like in the generated `src/main/resources/config/application.yml` what causes `MessageResource` injected in unit tests to be empty.

The problem is in https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/test/resources/config/_application.yml which is miss

[2017-03-01 10:41] vidhya03 opened #5335 "Request to fix Entities empty dropdown"
##### **Overview of the issue**

I am so happy to explore jhipster for the first time after heard about angular2 support added in Jhipster 4

I followed https://jhipster.github.io/video-tutorial/  , however the Entities drop down shows empty

![bug-entities-dropdown-01](https://cloud.githubusercontent.com/assets/534679/23456065/f71a43fe-fe97-11e6-9bfb-832ee7838ece.PNG)
This shows that i made some

[2017-03-01 12:48] deepu105 commented on #5334
@mguillem can you do a PR

[2017-03-01 13:05] mguillem commented on #5334
@deepu105 no, I haven't cloned the project and for this very small change it is not worth doing it.

[2017-03-01 14:45] rmelian commented on #5285
@ruddell @xetys are you able to reproduce the issue ???

[2017-03-01 16:52] wmarques commented on #5335
Indeed I saw this but I don't know how we could implement this properly as we can't really check if there are any entities... Maybe in the Navbar Component we can check the number of elements in the dropdown and if this is equal to 0 set a boolean to true then display "No entity available" ?

[2017-03-01 18:12] ruddell commented on #5285
@rmelian I can not reproduce the issue using your config (with the fix from above included)

[2017-03-01 21:53] jdubois commented on #5335
Indeed, +1 for the idea - we could even add a tip or link to the documentation on creating entities.
Then, @wmarques is right, it's a bit complex to implement!!

[2017-03-01 21:54] jdubois commented on #5334
Then let's close this if even the person reporting the bug doesn't care

[2017-03-01 21:54] #5334 closed

[2017-03-01 21:55] bruno-ayres commented on #5124
@appservice I'm with the same error. Did you solve it?

[2017-03-01 21:59] #5260 closed

[2017-03-01 22:01] emgsilva commented on #1441
Any suggestions as of how to solve this without having to delete/recreated the DB? I have just added a few "required" to entities - did not change anything else on the entities data model, and also got similar Liquid base issue (version of JHipster: 4.0.6).

[2017-03-01 22:04] gzsombor commented on #5335
Or we can modify the initial template to have this in the entity menu :

 No entity available

And every time, when the entity generator is executed, we just cut out everything between this 2 markers

[2017-03-01 22:42] wmarques commented on #5335
@gzsombor yep that seems more proper than my solution, I don't really like checking to DOM just for this..

[2017-03-02 00:18] santoshkt commented on #5333
Anyone has clues on what I should be looking into ? This looks like a webpack issue to me. I was going through webpack config files but no clue yet. I'm using webpack for first time. so don't know much about it.

[2017-03-02 04:53] JinnaBalu opened #5340 "Entity Audit issue with Jhipster 4.0.6"
Installed Jhipster 4.0.6 and Jhipster Entity Audit 2.2.2

![image](https://cloud.githubusercontent.com/assets/11784253/23493454/ecc7e9fc-ff31-11e6-8f9b-30f3a256bc64.png)

Error jhipster-entity-audit

ERROR! I support only JHipster versions greater than ^3.6.0...
          If you want to use Entity Audit with an older JHipster version, download a previous version that supports the required JHipster

[2017-03-02 04:59] rmelian commented on #5285
@ruddell doing some more tests I figured out when the gateway is started from the terminal using ./gradlew everything works fine but when you start the gateway using an IDE(I'm using Eclipse STS) I get "invalid_token" even adding "-Dspring.profiles.active=dev" to my MV arguments

[2017-03-02 05:26] ruddell commented on #5340
That module is in a separate repository.  There's an issue [tracking Angular 2 support](https://github.com/hipster-labs/generator-jhipster-entity-audit/issues/48).  If you use AngularJS or microservices, there is also a workaround in that issue.

[2017-03-02 05:26] #5340 closed

[2017-03-02 05:42] deepu105 commented on #5333
@santoshkt I dont have enough time at the moment but you should start looking at the rules in webpack config to see if it covers images from html, else you might need to add a rule for image loaders to find images in html

[2017-03-02 05:55] BryanYin opened #5341 "Request JDL files could import/include each other"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

I use jhipster JDL to create entities and relationships. I separated entities into different .jh files for a good modeling like configuration entity, dynamic entity, etc. But seems JDL didn't

[2017-03-02 06:08] jdubois commented on #5340
I don't understand what you mean -> the message is clear, that's not supported, so there's no bug at all here.

[2017-03-02 06:13] BryanYin opened #5342 "import-JDL won't take my skips"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

I reported PR [#251](https://github.com/jhipster/jhipster-uml/issues/251#issuecomment-281637937) in Jhipster-UML reported the issue `skipClient` and `skipServer` don't work for me. After @Math

[2017-03-02 06:17] jdubois commented on #5342
You both skip the server AND the client? I have no idea what you're trying to do, but I don't expect this to work at all.... What do you want, an empty project?

[2017-03-02 06:39] mguillem commented on #5334
Seriously, would I have opened the issue if I don't care?

It would take you exactly 20 seconds to understand the problem and fix it. It would take me 10 minutes to fork the project and create a pull request. For such a minimal change, I think that it isn't worth the time because you can do it really faster. It doesn't mean that there is no problem. Nevertheless, if you don't want to fix it, it's

[2017-03-02 06:58] jdubois commented on #5334
Let's not waste even more time by arguing... We have all better things to do (like a PR)

[2017-03-02 07:43] deepu105 commented on #5334
@mguillem If everyone had your attitude then there wont be any free and OSS projects. Dont you think we would also have better things to do than this? While we dont expect you to appreciate what we do we do expect you to respect that we do all this for free on our free time. So if you want something to be fixed you either do it, regardless of how long it takes, or you could atleast politely ask us

[2017-03-02 07:44] MathieuAA commented on #5342
Why not? ;) the problem is easy to fix (it's implemented in JUML for instance). I just didn't have the time to propose a PR. I still don't but I'll try to get it done by saturday.

Le 2 mars 2017 07:17:21 GMT+01:00, Julien Dubois <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-03-02 07:51] JinnaBalu commented on #5340
ERROR says that I support only JHipster versions greater than ^3.6.0..., i have latest version installed. which is 4.0.6

[2017-03-02 07:59] jdubois commented on #5342
OK but I don't understand what the output should be - an empty directory ?

Le 2 mars 2017 8:44 AM, "Mathieu ABOU-AICHI" <notifications@github.com> a
écrit :

[2017-03-02 08:01] jdubois commented on #5340
Oh sorry you are correct.
Then 4.x is another major release, don't expect it to work :-)

Le 2 mars 2017 8:51 AM, "jbalu" <notifications@github.com> a écrit :

ERROR says that I support only JHipster versions greater than ^3.6.0..., i
have latest version installed. which is 4.0.6

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/j

[2017-03-02 08:05] mguillem commented on #5334
@deepu105 it may surprise you, but you're not the only one with large experience in OSS projects.

@jdubois what about documenting that you only accept push requests, even for obvious issues?

[2017-03-02 08:25] jdubois commented on #5334
Guys, I have no time for this, really.

Le 2 mars 2017 9:05 AM, "mguillem" <notifications@github.com> a écrit :

@deepu105 <https://github.com/deepu105> it may surprise you, but you're not
the only one with large experience in OSS projects.

@jdubois <https://github.com/jdubois> what about documenting that you only
accept push requests, even for obvious issues?

—
You are receiving this because yo

[2017-03-02 08:26] BryanYin commented on #5342
Julien, I was intended to create some internal configurable DB table for DBA, so I was hoping Liquibase changelog can be generated if I skip both. But now the DBA want to do this by himself. Maybe you can consider this and just generate changelog if skip both?
Actually the point here is skip doesn't work, thank you both to help with this. Jhipster is really a wonderful tool!

[2017-03-02 08:49] JinnaBalu commented on #5340
can we reopen this.

[2017-03-02 08:51] jdubois commented on #5334
Let me take 5 minutes: I'm doing this on the train, with my phone. Of course it's much easier for me if you do a PR: I click on merge, and it's done.
I won't have access to my computer until late at night, and I have tons of other tickets, so if you just open a ticket its priority will be much lower than a PR. And then, I can't have too many opened tickets, so if you say it's not worth 10 minutes

[2017-03-02 08:53] pascalgrimaud commented on #5335
It's a good idea, but I'm not sure if we should implement it.
In a real project, the user will always rename or remove this menu, he will never let it empty like this.
So it is just esthetic for demo... so is it worth it ?

[2017-03-02 09:13] sonersivri opened #5343 "yarn now gets error on docker container build ver 4.0.7 (with Windows)"
##### **Overview of the issue**

yarn install v0.21.3
info No lockfile found.
[1/4] Resolving packages...
warning protractor > jasmine > glob > minimatch@0.3.0: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
warning browser-sync > localtunnel > request > tough-cookie@2.2.2: ReDoS vulnerability parsing Set-Cookie https://nodesecurity.io/advisories/130
warning gulp > vinyl-fs

[2017-03-02 09:51] jdubois commented on #5343
Probably Docker Hub failed to package the image correctly. I'll try to re-run it.

[2017-03-02 09:55] sonersivri commented on #5343
I found a ticket for yarn work on docker windows
https://github.com/yarnpkg/yarn/issues/1961

[2017-03-02 10:14] pascalgrimaud commented on #5343
@sonersivri :
- how do you start and use your container ?
    - inside, with docker container exec -it bash
    - or directly `yo jhipster` ?
- Alternately, can you try to use `yo jhipster --npm` instead ?

I don't have Windows machine, but with these information, I can try to understand and maybe reproduce the issue. As you use Docker, it should be similar to my Linux OS

[2017-03-02 10:31] sonersivri commented on #5343
it works thanks
could you put this tip to https://jhipster.github.io/installation/ page
there is no documentation about --npm parameter

[2017-03-02 10:43] pascalgrimaud commented on #5343
It is documented here: https://jhipster.github.io/creating-an-app/
The installation page is just for installing tools ;-)

You can use: `yo jhipster --help` to know the other options

[2017-03-02 10:52] deepu105 commented on #5340
Not here as its a module and has its own issue tracker. Some major work is
required to make it work with angular2 and I don't have enough time at the
moment

Thanks & regards,
Deepu

On 2 Mar 2017 2:19 p.m., "jbalu" <notifications@github.com> wrote:

[2017-03-02 10:52] jdubois commented on #5343
OK, but Yarn isn't correctly installed in the Docker image, and that's a
major problem

Le 2 mars 2017 11:43 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2017-03-02 10:58] deepu105 commented on #5334
Im not talking about any ones experience here and I dont care to be frank.
I was talking about attitude and I have made my point so lets stop the
discussion so we dont waste any ones time further.

Sorry Julien.

Thanks & regards,
Deepu

On 2 Mar 2017 2:21 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-03-02 11:00] sonersivri commented on #5343
@pascalgrimaud
you could put tip for this error on installation page for docker for windows cannot use yarn default as I point out with ticket https://github.com/yarnpkg/yarn/issues/1961

[2017-03-02 11:02] jdubois commented on #5343
In fact we should correct the image and install Yarn properly

Le 2 mars 2017 12:00 PM, "sonersivri" <notifications@github.com> a écrit :

@pascalgrimaud <https://github.com/pascalgrimaud>
you could put tip for this error on installation page for docker for
windows cannot use yarn default as I point out with ticket yarnpkg/yarn#1961
<https://github.com/yarnpkg/yarn/issues/1961>

—
You are receivin

[2017-03-02 12:10] gmarziou commented on #1441
Clearing the checksums might not help because Liquibase may try to run migrations that have already been applied. In this case, what I do is to run the migrations on an empty database and then copy the generated checksums to the old database.

[2017-03-02 12:26] gmarziou commented on #5333
If you don't care about versioning images with hashed use file-loader as we do for favicon.ico

[2017-03-02 12:33] pascalgrimaud commented on #5343
I reopen the ticket
Let me have a look on this

[2017-03-02 12:38] jdubois commented on #5343
I'm having the same issue with the devbox -> the solution would probably be
to put echo 'export PATH="$PATH:`yarn global
bin`:$HOME/.config/yarn/global/node_modules/.bin"' >> /home/vagrant/.zshrc
 (like in the installation documentation, in fact!)

[2017-03-02 13:07] gmarziou commented on #5335
Not worth it I think.

[2017-03-02 14:32] huiqiangyang commented on #5343
This bug also with me ,when I run  `yarn start`  and login,show `zone.js:1805 POST http://localhost:9000/huiuaa/oauth/token 404 (Not Found`
jhipster version is 4.0.7
thanks

[2017-03-02 15:06] rakeshkalra1983 opened #5346 "On error during entity update, save button is not enabled back"
##### **Overview of the issue**

When editing an entity, on pressing save button, if error is received from the server save button is not enabled back.
I believe this happens only when enableTranslation is false, as I don't see this issue in Jhipster Sample application from git.

##### **JHipster Version(s)**

Jhipster Version 4.0.7

##### **JHipster configuration**

{
  "generator-jhipster": {

[2017-03-02 15:14] rakeshkalra1983 opened #5347 "Entity should be refreshed when edited from entity detail page"
##### **Overview of the issue**

When I click Edit button from Entity Detail page, edit entity modal is opened. On pressing save button, modal is closed but entity on the detail page is not updated. We have to refresh the entity detail page to reflect the changes on page.

If entity is edited from Entity List page, on pressing save button, modal is closed and entities are updated fine.

##### **Mo

[2017-03-02 15:22] rakeshkalra1983 opened #5348 "jhiTranslate is present for Enum Type fields even when translation is disabled"
##### **Overview of the issue**

Even though translations was disabled when creating jhipster project, still we get related attributes for entity field of enum type.

This is how my entity-dialog html file looks like:

`<select class="form-control" name="companyType" [(ngModel)]="company.companyType" id="field_companyType"  required>
                <option value="ATYPE" jhiTranslate="eachfitApp.C

[2017-03-02 15:23] mraible commented on #5346
FWIW, Dennis and I saw this in our workshop last week too.

[2017-03-02 16:55] wmarques commented on #5346
@rakeshkalra1983
Thanks for the report !
Can you do a PR ? (same question for your other issues :smile: )

[2017-03-02 17:49] ruddell commented on #5342
The liquibase files are part of the server and I don't think it makes sense to separate them out.

If you want just the liquibase files, skip only the client and copy the liquibase files from `src/main/resources/config/liquibase`.

[2017-03-02 18:29] ramzimaalej commented on #5196
I run into the same issue on MacOS as well

[2017-03-03 02:31] ramzimaalej commented on #5196
Issue solved by deleting node_modules and running again yarn install.

[2017-03-03 03:41] nghib commented on #5124
@bruno-ayres I reported an issue on https://github.com/tbroyer/gradle-apt-plugin/issues/41

[2017-03-03 03:48] santoshkt commented on #5333
Based on http://stackoverflow.com/questions/35400733/webpack-and-angular-html-image-loading, I have to use html-loader instead of raw-loader. But for life of me, I can't figure why I'm getting lot of errors like below when I use html-loader

[code]

All I'm doing is replacing raw-loader and index.html exclude with html-loader.

[2017-03-03 07:39] gmarziou commented on #5333
My suggestion was simpler....

[2017-03-03 08:33] santoshkt commented on #5333
Yes, it is. I was kind of hoping to take advantage of compression and cache busting if possible..

[2017-03-03 08:40] pascalgrimaud commented on #5343
There are different issues here. So let me resume:

- **Docker for Windows**: it doesn't work well with Yarn... Unfortunately, nothing can be done on our side. We have to wait this ticket https://github.com/yarnpkg/yarn/issues/1961 -> I updated the installation page here https://github.com/jhipster/jhipster.github.io/pull/405

- **Docker image jhipster/jhipster**:
    - I don't have any issue with

[2017-03-03 09:50] uboznikov opened #5350 "JHipster 4.0.7 with Gradle+Kafka fails with "object is not an instance of declaring class""
##### **Overview of the issue**

[code]

##### **Motivation for or Use Case**

My gateway and microservice would not start, be it standalone or in Docker. Both setups throw the same error. I am using Cassandra, Kafka, and JHipster Registry. My standalone setup (run via `./gradlew`) accesses services created via Docker Compose.

As a side test I also created a new gateway from scratch and ran the w

[2017-03-03 09:53] JackFish opened #5351 "docker build error"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

use docker build, issue on yarn add node-sass

use docker create jenkins then run the pipeline

[INFO] yarn install v0.20.3
[INFO] [1/4] Resolving packages...
[INFO] [2/4] Fetching packages...
[WARNING] warning fsevents@1.1.1

[2017-03-03 10:03] jdubois commented on #5351
Isn't this a duplicate from #5343 ?

[2017-03-03 12:36] Zacorich commented on #4868
I had another problem that I could only solve by removing node_modules folder. I couldn't even get an error message as build process simply stuck first t webpack then on "yarn test && webpack -p --config webpack/webpack.vendor.js && webpack -p --config webpack/webpack.prod.js" so I tried to downgrade yarn and it worked but then stuck at "yarn run lint && karma start src/test/javascript/karma.conf.

[2017-03-03 12:40] Zacorich commented on #4915
I had another problem that I could only solve by removing node_modules folder. I couldn't even get an error message as build process simply stuck first on "yarn test && webpack -p --config webpack/webpack.vendor.js && webpack -p --config webpack/webpack.prod.js" so I tried to downgrade yarn and it worked but then stuck at "yarn run lint && karma start src/test/javascript/karma.conf.js" when I fina

[2017-03-03 14:04] sumantsahney opened #5352 "Error while mapping foreign key contraint"
I have two entities having many to one relationship. I changed the name of one key of the entity and individually its working fine.
While using findALl() from other entity SQLGrammarException is thrown.

select scan_segme0_.id as id1_7_, scan_segme0_.duration as duration2_7_, scan_segme0_.inserted_date as inserted_date3_7_, scan_segme0_.scan_containers_id_scan_container_id as scan_containers_id6_7

[2017-03-03 14:47] santoshkt commented on #5333
I stupidly did not put html-loader in package.json assuming webpack knows how to pick it. That fixed the issue for me.

[2017-03-03 14:49] jdubois commented on #5352
You write that you modified the name of your key - then you are not with our default configuration, and I guess this is a bug you introduced yourself.
Are you sure the issue comes from our code, and not your modification?
And please give a better title to the ticket

[2017-03-03 14:50] jdubois commented on #5351
And please give a better title to the ticket

[2017-03-03 14:50] jdubois commented on #5350
Can you try removing the `src/main/resources/bootstrap-dev.yml`? We modified that part in the last release

[2017-03-03 15:14] pascalgrimaud commented on #5351
I don't understand the issue, not enough information.
I don't know if it's a local build or Jenkins build or Docker+Jenkins build

[2017-03-03 15:19] jdubois commented on #5351
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-03-03 15:19] #5351 closed

[2017-03-03 15:54] sumantsahney commented on #5352
I think that error is in the JPA or DTO which are created and mapping as when I removed the foreign key it started working. So can you suggest me how to deal with it ?

[2017-03-03 17:27] deepu105 commented on #5333
You could do a PR if its a generic solution

Thanks & regards,
Deepu

On 3 Mar 2017 8:19 p.m., "Santosh Tadikonda" <notifications@github.com>
wrote:

[2017-03-03 18:53] Zacorich commented on #4915
Here is another solution. Anyone else experiencing accidental maven prod profile build failures try adding "-Xms512m -Xmx1024m" to Maven Runner VM Options. [similar issue](urlhttps://github.com/eirslett/frontend-maven-plugin/issues/577)

[2017-03-03 20:44] ndywicki opened #5354 "Integration tests with Spring Boot @MockBean - already cache named error"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

If you use `org.springframework.boot.test.mock.mockito.MockBean` annotation in an integration test, Spring Boot failed to load application due to an issue on duplicate cache key `com.mycompany

[2017-03-03 21:23] jdubois commented on #5354
Ping @henri-tremblay as he coded this part.
As far as I remember, the cache used to be disabled during tests, and this was better for tests.

[2017-03-03 22:21] ndywicki commented on #5354
Hi Julien,

it's working if I disable the Spring cache support in test configuration as you purpose it.

In test application.yml:
`spring.cache.type=none`

Works until we want to test the cache mechanisms :)

Thanks you

[2017-03-04 00:06] delverdev commented on #5354
@ndywicki, for this case, I created `test` profile and annotated `CacheConfiguration` with `@Profile("!test")`.

[2017-03-04 04:16] henri-tremblay commented on #5354
This is a funny issue. The problem comes from JCache mixed with the programmatic configuration.

When `@MockBean` is used, it forces Spring to create multiple application context. Because a context with a mock is obviously not the same as a context without the mock.

When the first context is created, it registers a `CacheManager` in the JCache `CachingProvider`. The `JCacheManagerCustomizer` is t

[2017-03-04 09:02] #5343 closed

[2017-03-04 09:07] jdubois commented on #5354
I would just do `spring.cache.type=none` as:

- it's much simpler
- it would work as in the previous versions

I prefer to have the cache disabled when I do my tests - then of course
there could be a very long discussion here - so that's also my favorite
solution.

Le 4 mars 2017 5:16 AM, "Henri Tremblay" <notifications@github.com> a
écrit :

This is a funny issue. The problem comes from JCache mi

[2017-03-04 13:07] #5354 closed

[2017-03-04 18:16] Zacorich opened #5362 ""yarn start" stopped working after updating yarn"
##### **Overview of the issue**

I've updated yarn to version 0.21.3 at some point and by running "yarn start" I ended up at the blank screen at locahost:9000 when webpack seems to be injected and "yarn start" finished without errors.

##### **Motivation for or Use Case**

After some time wasted on deleting node_modules in my project root directory and recreating it,
I gave up and created a new jH

[2017-03-04 18:37] #5362 closed

[2017-03-04 18:38] Zacorich commented on #5362
Please add some notes of this pitfall to [https://jhipster.github.io/development/#running-webpack](url)

[2017-03-04 19:39] gmarziou commented on #5362
Would you consider submitting a pull request for this doc? You seem to be the best person to do so.

[2017-03-04 21:49] appservice commented on #5124
I'm downgraded gradle from 3.3 to 3.2 and this fix this issue (query dsl compiled correctly).

[2017-03-05 09:25] MathieuAA commented on #5341
Hi. Have you tried passing more than one JDL file to the import submodule?
Maybe one day I'll implement something like this, but there are other priorities.

[2017-03-05 12:05] pascalgrimaud opened #5365 "Rework the UserResourceIntTest"
See the https://sonarqube.com/dashboard?id=io.github.jhipster.sample%3Ajhipster-sample-application

Since my PR https://github.com/jhipster/generator-jhipster/pull/5288, we were at 80,2%. And few days ago, we were at 80,4%!
But today, we are at 79,8% coverage.

I looked the details and see:
- src/main/java/io/github/jhipster/sample/web/rest/UserResource.java -> 19,2%
-  src/main/java/io/github/jhi

[2017-03-05 12:57] jdubois commented on #5365
Yes of course !

Le 5 mars 2017 1:05 PM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2017-03-05 14:21] uboznikov commented on #5350
Hi @jdubois yes the newly created gateway didn't have that file, but still the same error. I also tried removing that file from my own project, but still the same error.

[2017-03-05 14:42] ernsyn opened #5366 "Upgrading from v4.0.6 to v4.0.7 failed"
##### **Overview of the issue**

I tried to upgrade my JHipster app v4.0.6 to v4.0.7 but it failed when running what I presume to be "gulp install".

##### **Reproduce the error**

To reproduce, simply run "yo jhipster:upgrade" on an existing app that was created using JHipster v4.0.6. I'm not sure whether other versions are affected or not. The screenshot below shows the error.

![jhipster-upgrad

[2017-03-05 15:00] wmarques commented on #5348
jhiTranslate is present in other files even if you don't choose translation... So I don't think this is a bug.

[2017-03-05 15:04] gmarziou commented on #5366
Looks like merging failed, what does print `git --version`?

[2017-03-05 15:16] gmarziou commented on #5348
Why?

[2017-03-05 19:46] ruddell commented on #5346
One cause of this is that Angular doesn't have support for min/max validation on the number input...

[2017-03-05 21:41] jdubois commented on #5366
Thank you for your bug report -> that's why this sub-generator is still marked as "not working" on the website for JHipster 4.x.
So we know it's broken, hopefully we will correct it soon.

I'm closing this as we already know it's broken.

[2017-03-05 21:41] #5366 closed

[2017-03-05 21:42] jdubois commented on #5352
Oh sorry you are mixing DTOs and JPA, so that's normal it doesn't work.
This is a duplicate from #5227

[2017-03-05 21:42] #5352 closed

[2017-03-05 21:45] jdubois commented on #5348
I don't think this cause any trouble, but indeed the "enum" type should not generate those if the i18n isn't selected. This is just a matter of adding a "if ... then ... else" in the template, probably.

[2017-03-05 21:49] gmarziou commented on #5348
Maybe it could be done globally by stripping them in [copyTemplate](https://github.com/jhipster/generator-jhipster/blob/556bbcfb247adffc47eff528094a1306803d5e73/generators/generator-base.js#L1039)

[2017-03-05 21:58] jdubois commented on #5350
From you stacktrace, it looks like your error comes from Kafka - I had a quick look at your gateway, you have a very uncommon set of options, so maybe you found a combinaison that doesn't work? I'm having a quick look.

[2017-03-05 22:31] jdubois commented on #5350
OK found your issue: https://github.com/spring-cloud/spring-cloud-stream/issues/789

Disabling Kafka makes it work, then of course we'll need to upgrade the library.

[2017-03-05 22:40] jdubois commented on #5350
More information at http://stackoverflow.com/questions/41986162/failed-to-start-bean-inputbindinglifecycle-when-using-spring-boot1-5-1-and-sp

I'm updating the ticket title to make it more clear

[2017-03-05 22:43] jdubois commented on #5341
OK, it's an interesting idea but we lack time -> let's close this as we don't currently have the time to implement this

[2017-03-05 22:43] #5341 closed

[2017-03-05 22:56] pblanchardie opened #5368 "Add "fromName" to email configuration"
##### **Overview of the issue**

Add a fromName configuration property in order to store the name of outgoing e-mails

##### **Motivation for or Use Case**

It's not nice to see the email of the sender, we'd prefer a name.

##### **Reproduce the error**

Send a mail

##### **Related issues**

##### **Suggest a Fix**

In MailService.sendEmail, you could add this property as the second argument of m

[2017-03-05 22:59] jdubois commented on #5191
The front-end should only use the REST endpoints underneath, and not be tied to a specific database (this is not totally true: we don't have the same pagination option for Cassandra). @MathieuAA I'm not sure which solution you find is the "best", but I would just remove the validation.

[2017-03-05 23:06] jdubois commented on #5342
Indeed, if you skip the server, than you have no Liquibase either, it's part of the server files. @ruddell is correct, and anyway I'm sure you can find a way to delete the server files you don't like, or select only the Liquibase files...
I don't think you'll much trouble here, but you have quite a specific case, of course.
Then we should check that people don't combine both options - probably jus

[2017-03-05 23:25] jdubois opened #5369 "Upgrade to Spring Boot 1.5.2"
We got a lot of issues with Spring Boot 1.5.1, and they already release 1.5.2... Hopefully the quality will be better! Anyway, we need to upgrade:

https://spring.io/blog/2017/03/03/spring-boot-1-4-5-and-1-5-2-available-now

[2017-03-06 02:24] carpanese opened #5371 "Metrics not working in AWS"
##### **Overview of the issue**

When deploying to production on AWS, I encountered problems viewing the application metrics. I noticed that the problem has to do with getting the value of the garbage from the JVM

`TypeError: Cannot read property 'value' of undefined
    at View_JhiMetricsMonitoringComponent1.detectChangesInternal (/GetrangoAdminModule/JhiMetricsMonitoringComponent/component.ngfa

[2017-03-06 06:13] ernsyn commented on #5366
@gmarziou

git --version is 2.12.0

[2017-03-06 07:17] jdubois commented on #5371
Are you sure this is linked to AWS? It looks like our prod build doesn't work well for the monitoring page, that's all -> if correct, can you update the title of the ticket?
And please note you are using Angular 2, and it is still in beta, so that's normal (the prod build isn't perfect yet, I keep telling it all the time, we need help here)

[2017-03-06 07:38] MathieuAA commented on #5191
@jdubois that's one solution, but if we can specify where the microservice is then we don't have to remove anything. I'll let you guys decide which solution is the best, but I'd rather specify where the microservice is in the JDL.

[2017-03-06 09:12] wmarques commented on #5346
Save button isn't enabled because when we catch the error, we do a `res.json()`, but sometimes it's just a text message (for example when we didn't start spring boot), so we should catch the exception raised by res.json() and then do a `res.text()` instead.
I don't know if we should do this in the service or in the onSave method... What do you think guys ?

[2017-03-06 09:13] wmarques commented on #5347
I fixed this, I'll PR this later tonight (was in the train so couldn't push...).

[2017-03-06 09:29] uboznikov commented on #5350
Thanks for the find, I have temporarily fixed the issue by upgrading the following:

`spring_cloud_version = Dalston.BUILD-SNAPSHOT`
`spring-cloud-stream-binder-kafka = 1.2.0.M2`
`wurstmeister/kafka = 0.10.1.1`

[2017-03-06 12:04] carpanese commented on #5371
Hi, I updated the title.

My application is not in production yet, however, I'm already doing Angular 2 tests.

[2017-03-06 13:05] nicoguevara commented on #4260
Good day, I followed the steps for integration and when generating the report, opens in a new tab of the browser, but gives me error of "error loading PDF". Could you help me with that mistake?

Thank you

[2017-03-06 13:19] israeleriston commented on #4260
if   dont not cath from here  if (bytes != null && bytes.length > 0) {
        ResponseEntity<byte[]> retorno = new ResponseEntity<byte[]>(bytes, headers, HttpStatus.OK);
        return retorno;
    }

you not have content bytes...
post more information here, maybe you can help

[2017-03-06 13:21] wmarques opened #5372 "Not logged user can access to /entityName pages"
##### **Overview of the issue**

Even if a user is not logged in, he can access to an entity page. The data is not loaded of course but the user should be redirected to login modal.

##### **Motivation for or Use Case**

We should have a correct redirection.

##### **Reproduce the error**

Create an app
Create an entity
Access to the entity page via /entityname

##### **Related issues**
None.

###

[2017-03-06 13:27] pascalgrimaud commented on #4260
Sorry guys, it's not the right place for discussion.
It's not related to JHipster at all, and as suggested, you can do a module to do it.

[2017-03-06 13:33] pascalgrimaud commented on #5372
@wmarques : maybe it is the same issue https://github.com/jhipster/generator-jhipster/issues/5249 ?

[2017-03-06 13:41] #5365 closed

[2017-03-06 13:50] pblanchardie opened #5373 "Detail page is weird since .dl-horizontal has been replaced by .row"
##### **Overview of the issue**

AngularJS detail pages are broken since .row is used instead of dl-horizontal

##### **Motivation for or Use Case**

##### **Reproduce the error**

generate an entity and go to the detail page

##### **Related issues**

##### **Suggest a Fix**

keep .dl-horizontal for AngularJS / Bootstrap 3 (until we upgrade to Bootstrap 4)

##### **JHipster Version(s)**

since co

[2017-03-06 13:57] michaelkengel opened #5374 "Default application- Heroku & Postgres internal server error on registration"
##### **Overview of the issue**
Jhipster default application fails for registration, pops internal server error on Heroku. I found this issue after testing an existing application. To confirm the issue, I clean created and deployed a default application and am receiving the same error.

**Steps to replicate issue:**
Clean install new Jhipster app (Angular 1.~), no testing frameworks, HTTP session

[2017-03-06 14:03] wmarques commented on #5372
Seems to be the same but it's not fixed in master. The problem here is the route interceptor that we made in the main component.

[2017-03-06 14:08] pascalgrimaud commented on #5365
I'm so happy ! 81.8% Coverage !!

[2017-03-06 14:15] xetys commented on #5116
should we now remove tha warning in our documentation?

[2017-03-06 14:17] pascalgrimaud commented on #5116
@xetys : no, it's not working...

[2017-03-06 14:27] xetys commented on #5116
yeah....I learned this right now on my project....I just tried to update from 4.0.2 to 4.0.6....thanks git for rescuing my code :smile:

[2017-03-06 14:58] jdubois commented on #5374
I'm sorry but you should follow the guidelines and give your full configuration, including how you configure your SMTP server.
Like this, I can't reproduce your issue - I'm doing this all the time and I confirm it's working.

[2017-03-06 14:58] #5374 closed

[2017-03-06 15:07] jdubois commented on #5372
Yes for me this is a duplicate from #5249 - and I don't understand why it's not fixed

[2017-03-06 15:15] jdubois commented on #5191
Yes, but as @deepu105 said, we don't know where the microservice will be - people can install it anywhere... So we can't store that information, and so we can't do it.

[2017-03-06 15:21] jdubois commented on #5350
Great, but unfortunately we can't point to a SNAPSHOT release...

[2017-03-06 15:25] MathieuAA commented on #5191
You're right, it could be moved... Let''s just remove the validation.

[2017-03-06 15:31] uboznikov commented on #5350
Yes, this is just a temporary fix.

[2017-03-06 15:41] #5369 closed

[2017-03-06 15:46] jdubois commented on #5368
I totally understand your use-case, and I'm totally willing to have counter-arguments by core team members.
But, as this is just one line in the `MailService` class, for me this is against our [Policy 2](https://jhipster.github.io/policies/), so I don't think we should do it. Of course, this is trivial for you to modify, but for other people this is one more parameter to understand.

[2017-03-06 15:46] #5368 closed

[2017-03-06 15:55] jdubois commented on #5371
I just tested a very similar application, with `./mvnw -Pprod` and couldn't reproduce the issue.... This isn't linked to AWS, for me this comes from the "prod" build.

[2017-03-06 15:57] jdubois commented on #5371
Oh sorry, you are deploying in Tomcat? Could you try running the executable JAR, like a normal JHipster build, so we can see if that makes a difference?
Maybe also an issue with your JVM? Which JVM are you using? Could you try running your application in the JHipster Devbox, so we are sure you are in the same conditions?
Otherwise I will close this, as I can't reproduce.

[2017-03-06 16:13] jdubois commented on #5348
Just tried it, and I can't reproduce. So I'm sorry but I have no idea how you managed to have this issue.

[2017-03-06 16:13] #5348 closed

[2017-03-06 16:14] jdubois commented on #5270
Yes we should print a generic message, and then let the developer write something useful instead.

[2017-03-06 17:35] carpanese commented on #5371
Hello,

I thought it might be a little bit related to openjdk however, I have now installed an Oracle JDK. The error continues.

`java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_112-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.112-b15, mixed mode)
`

**Check URL**
[http://52.67.68.96:8080](http://52.67.68.96:8080)

**I tried running the war via ./app.war and the problem o

[2017-03-06 18:09] carpanese commented on #5371
In Cloud Foundry works fine.

I commented lines of garbage collector in html, its works.

The problem is related to **jvm.garbage** in aws

Suggestions?

[2017-03-06 18:20] NenadP opened #5376 "Linter config on the Gulp level"
I am not able to understand where does linting take place when running jHipster with Angular 1.x on the Gulp level. I'm trying to understand how hard would it be to adopt our build to use es6.

When using classes , for example in ```home.js```, I get following from Gulp Notify:
[code]
In ```gulpfile.js``` it seems that ```eslint``` task is not part of the ```serve``` / ```watch``` pipeline

If I t

[2017-03-06 21:40] jdubois commented on #5371
This is probably linked to the jvm and its options, but I need some time to investigate.

[2017-03-06 21:41] jdubois commented on #5371
An easy solution would be to add a switch and ignore the error, but I'd like to understand it.

[2017-03-06 22:18] jdubois commented on #5373
Please follow the guidelines and give your full configuration - it takes time to understand what you mean here!! Indeed, in the "detail" view the data is a bit on the right, which is not the case in Angular 2. Then I have no idea if that's normal or not with Bootstrap 4!
The ticket and commit message look good, and as I don't know if the result is "weird" or "normal", or what you are expecting, fo

[2017-03-06 22:18] #5373 closed

[2017-03-06 22:22] jdubois commented on #5376
The lint only takes place when you do `gulp eslint` (and `gulp eslint:fix` to try to automatically fix them).
Those tasks are in the `gulpfile.js` file.
Anyway, this isn't a bug, so you would probably have better answers on StackOverflow.

[2017-03-06 22:22] #5376 closed

[2017-03-06 22:23] gmarziou commented on #5376
In eslintrc.json, you should set ecmaversion, see http://eslint.org/docs/user-guide/configuring#specifying-parser-options

[2017-03-06 22:24] gmarziou commented on #5376
Just for my curiosity, do you plan to transpile to es5 for browser support?

[2017-03-06 22:32] jdubois commented on #5371
The "jvm.garbage" data comes from Dropwizard Metrics, more specifically this class: https://github.com/dropwizard/metrics/blob/3.2-development/metrics-jvm/src/main/java/com/codahale/metrics/jvm/GarbageCollectorMetricSet.java

Maybe you could try to debug it? Or this if you have a stacktrace there?

[2017-03-07 07:01] BryanYin commented on #5341
Okay... Thank you guys, I figured out the way to do this...say a.jh refers entities from b.jh, then it should write like this `entity B(T_B_TABLE_NAME)` in a.jh then `yo jhipster:import-jdl a.jh b.jh`, in this way, entity B generated in b.jh will overwrite empty entity B generated in a.jh.

[2017-03-07 07:04] jdubois commented on #5341
Yes that looks like a good idea.

[2017-03-07 08:33] loverto opened #5382 "node-sass"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Create a "monolithic" application without sass,phantomjs

##### **Motivation for or Use Case**

Create a "monolithic" application without sass

##### **Reproduce the error**

create a applicat

[2017-03-07 09:01] bastienmichaux commented on #5382
I doubt this is an issue, since you do not have to use Sass or Phantom.js if you don't want to. You may be interested in creating a [submodule](https://jhipster.github.io/modules/creating-a-module/) if you want to prevent the generation of some resources for a particular project.

[2017-03-07 09:18] NenadP commented on #5376
@gmarziou I have in ```eslintrc.json```
[code]

[2017-03-07 09:22] MathieuAA commented on #5341
There's no need to write twice the same entity in two separate files (you can replace 2 by `n` here).
When parsing, JHipster will read every file **before** interpreting the unified content.

[2017-03-07 09:36] gmarziou commented on #5382
node-sass is not a direct dependency; it's a transitive dependency which is brought by bootstrap 4 and angular-cli.
I'm nto sure we can do somerthing to exclude it without broking build.

For phantomjs, it's different because it's used for frontend testing, so our build process requires it.

I'm closing the issue as I don't see how we could do differently. Feel free to try to get rid of them and p

[2017-03-07 09:36] #5382 closed

[2017-03-07 09:57] godbolerr opened #5383 "Login with Facebook with spring-social component"
##### **Overview of the issue**

Login with facebook functionality uses spring-social-facebook module which has deprecated functionality and Facebook API invocation fails as there is no support for 'bio' attribute in the current Facebook API.

##### **Motivation for or Use Case**

Login with facebook fails to retrieve user information and sign-in can not happen.

##### **Reproduce the error**

You

[2017-03-07 09:59] jdubois commented on #5383
This is a duplicate #5214

Please follow the guidelines next time, thanks!

[2017-03-07 09:59] #5383 closed

[2017-03-07 10:00] jdubois commented on #5373
Looks like @ruddell did the fix, I'll merge this!

[2017-03-07 10:03] godbolerr commented on #5383
Thanks.  I looked at issue and if the issue is closed, fix should be present in the latest version. Since it was not there, I suggested a fix.

I will look at the guidelines from next time.

[2017-03-07 10:04] jdubois commented on #5383
Yes, no worries :-)

[2017-03-07 10:22] jdubois commented on #5371
So I guess this depends on the JVM - I don't really understand why, but if we don't have the metrics, then let's just not display them.

[2017-03-07 10:33] #5371 closed

[2017-03-07 12:00] carpanese commented on #5371
Nice @jdubois !

[2017-03-07 13:26] jdubois commented on #5342
I just checked and this is already validated, see [here](https://github.com/jhipster/generator-jhipster/blob/v4.0.7/generators/app/index.js#L174).
So I don't know how you managed to have both options, but they should not work together, and that's normal and validated.

[2017-03-07 13:38] jdubois commented on #5101
Reading this again, yes #5014 is indeed a duplicate, so I'm closing this one

[2017-03-07 13:38] #5101 closed

[2017-03-07 13:40] jdubois commented on #5014
This is a specific problem in using an entity with a DTO. Short answer is that it doesn't work out of the box.
For me #5227 is the same problem, but at a broader scale (as this is true for all entities, not just the user). So I'm closing this in favor of #5227

[2017-03-07 13:40] #5014 closed

[2017-03-07 14:03] jdubois commented on #5014
In fact I'm lost here... I just did one DTO with a many-to-one to User, and it worked without any issue! That's quite logical as there is a UserDTO... I'm sorry but it's quite hard to read your ticket, as it's not well formatted.

[2017-03-07 14:09] jdubois commented on #5227
So I've tested this and:

- This is in fact documented on https://jhipster.github.io/using-dtos/
- And this is also quite logical: if you want to use DTOs with relationships, well everything needs to be a DTO...

So the end result is indeed, just to add a warning. The problem is that we currently don't "open" the other entities JSON configurations, so we can't know if they use mapstruct or not - a

[2017-03-07 14:13] jdubois commented on #5227
Oh, and we ask the DTO question after doing the relationships, so that's too late to do the warnings...
So I'm sorry but at the moment I can't find a solution.

[2017-03-07 15:30] cbornet commented on #5227
Could this be a warning/error in import-jdl task ?

[2017-03-07 17:58] deepu105 commented on #5227
@jdubois we do read the other entity json if present. Look at [this](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L565) so we might be able to write a warning if DTO is not selected

[2017-03-07 18:02] deepu105 commented on #5342
I think he tried it for specific entity and its not validated on the entity sub generator. We could add the validation there as well but passing both doesnt make sense anyway

[2017-03-07 18:29] deepu105 commented on #5348
Yes we already pass these through `processHtml` method which calls `copyTemplate` so I'm not sure how you got this. @rakeshkalra1983 can you try with latest version?

[2017-03-08 01:04] loverto commented on #5382
Phantomjs is installed by yarn? Why is my phantomjs stuck  @gmarziou

[2017-03-08 01:47] BryanYin commented on #5342
Hey guys, the point here is not about skip both, I submit the PR because it won't take **ANY** skip even if i just either skipClient or skipServer. And after several days usage, I agree with @ruddell , we need server side code together with entities.

[2017-03-08 01:55] BryanYin commented on #5342
Julien, I don't think the code goes such far to the validation place, please see my `suggested fix` the skip options are `continued` by that `if` check.

[2017-03-08 03:31] rakeshkalra1983 opened #5386 "Request to have option of saving images on file system"
##### **Motivation for or Use Case**

While creating entity, we have option to have image type field which is saved as lob in database. But most of the time we like to save images on file system instead of database.

I do below steps to modify Jhipster generated entities a little and achieve the same:
* Create entity type with image type field and also have another field called as imageFileSystemP

[2017-03-08 05:52] dreamofclk opened #5387 "How the uaa account information"
I want to through the uaa expand account system,And support to the third party account to log in,If the description is not accurate, please forgive me.If by uaa development will affect to upgrade?thanks

[2017-03-08 05:59] #5387 closed

[2017-03-08 06:13] jdubois commented on #5386
This is a duplicate (please use the search box and it link it here).
We can't do this as this is against the 12 factors.

[2017-03-08 06:13] #5386 closed

[2017-03-08 06:32] jdubois commented on #5342
I'm re opening this, and will take another look.

[2017-03-08 07:15] MathieuAA commented on #5342
The only thing we have to do here is to pass special flags to the command array (like in JUML).

Le 8 mars 2017 07:32:39 GMT+01:00, Julien Dubois <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-03-08 08:07] jdubois commented on #5227
OK, my bad! Can you re-open the ticket?

Le 7 mars 2017 6:58 PM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2017-03-08 09:51] jdubois opened #5388 "Gateway rate-limiting: drop the need for Cassandra"
The gateway application type uses Cassandra for doing rate limiting (it stores counters in Cassandra, like many competing solutions).
A better solution would be to use something like https://github.com/vladimir-bukhtoyarov/bucket4j and store the bucket in Hazelcast:

- No more need for Cassandra, so a much easier and lighter implementation
- The bucket system is also more precise than counting req

[2017-03-08 09:56] gmarziou commented on #5382
Yes, something went wrong and now you need to cleanup your environment and re-install.

[2017-03-08 21:52] rmelian opened #5390 "Inconsistent Generator when executed for a second time"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**
After a new microservice application is generated and immediately the generator is executed again it changes some properties:
When the project is generated the first time the is a
spring_boot_v

[2017-03-08 22:07] jdubois commented on #5390
Don't run on the master branch if you don't read the doc :-)
(I agree it's not obvious)
You forgot to do `yarn link generator-jhipster`

[2017-03-08 22:07] #5390 closed

[2017-03-08 23:30] jdubois commented on #5335
I really like the idea, and in fact I wanted to do it myself, but I'm giving up:

- most people on the team seem to be against the idea
- indeed, it's quite complex to achieve: I forgot we also need to add translations for this, and that's really, really annoying. If we want to be "clean" we should also delete the translations...

But that makes me realize our home page could be improved, I'll hav

[2017-03-08 23:30] #5335 closed

[2017-03-09 03:11] amitjindal commented on #5147
@DanielSBFranco : I added my code. Its not extensively tested but we have been using this internally for almost 10 months with minimal problems. See here: https://github.com/amitjindal/generator-jhipster-postgresuuid-converter

In next few days I will polish this and submit this to NPM repository.

[2017-03-09 03:12] amitjindal commented on #3060
@steelcoder @bytor99999 @deepu105
Sorry for the long delay. I uploaded the code after cleanup. Its not extensively tested but we have been using this internally for almost 10 months with minimal problems. See here: https://github.com/amitjindal/generator-jhipster-postgresuuid-converter

In next few days I will polish this and submit this to NPM repository.

[2017-03-09 04:33] DanielSBFranco commented on #5147
That's great!

I took a quick look at your code, and it seems to do the same I was doing manually, except for the annotations above the id field in the entities
With hibernate version in spring boot 1.5.1 (in use by latest JHipster version) it works with @Id and @GeneratedValue no need for generator and @Type, although I was using UUID v4 while testing. This way it also worked in H2

[2017-03-09 06:06] amitjindal commented on #5147
@DanielSBFranco  My pleasure. If you tell me the changes, I would add and upload.
The code definitely needs cleaning because we just did this quickly.

[2017-03-09 06:39] pascalgrimaud commented on #5390
@rmelian : I give you details
- as you used master version, when you launch `yo jhipster` on an empty folder, it will use the master version
- then, the generator will download the generator-jhipster (the latest release) inside node_modules
- the 2nd time you launch `yo jhipster`, it will use the version inside `node_modules`, and not the global version installed on your computer

To avoid that, s

[2017-03-09 09:08] Falkurk opened #5391 "Unit Test failire: javax.persistence.TransactionRequiredException: No EntityManager with actual transaction available for current thread"
##### **Overview of the issue**
I am using JHipster Generator v4.0.7 and I create an entity like that:

[code]
When I generate the code, JHipster generator generate failed unit test. I have this stacktrace:

[code]

It seems that equalsVerifier method should be @Transactional because it call the @Before method

##### **Suggest a Fix**

Replace

[code]

By

[code]

##### **JHipster Version(s)**

JH

[2017-03-09 09:50] deepu105 commented on #4631
@SBoudrias I'm working on this migration and I'm facing a final hurdle. When using the new yarnInstall method. I have raised a ticket here https://github.com/yeoman/generator-generator/issues/179
Any pointers?

[2017-03-09 11:04] jdubois commented on #5391
Please follow the guidelines:

- you didn't give your `.yo-rc.json`
- you didn't give your full JDL, as you have a comma missing at the end...

I'm still trying to test it

[2017-03-09 11:05] jdubois commented on #5391
Oh, and indeed I confirm the issue!!!

[2017-03-09 11:19] jdubois commented on #5391
Good catch!!! I don't understand how this could have passed our tests!!! A new release would be necessary, this is an important bug.

[2017-03-09 11:42] #5391 closed

[2017-03-09 12:06] pascalgrimaud commented on #5391
Very strange!
I will check our Travis build. It shouldn't pass as we have a lot of entities which are in the same relationship than your country + zone

[2017-03-09 12:08] pascalgrimaud commented on #5391
And the ` UserResourceIntTest` which is refactored recently, is correct:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/test/java/package/web/rest/_UserResourceIntTest.java#L665-L668

[2017-03-09 12:32] jdubois commented on #5350
Very strange: I totally agree you have an error here, but it only occurs with our Gradle build, not the Maven build. I'm pretty sure it should fail with Maven too, as we also got the same (wrong) library versions, but strangely it doesn't.

[2017-03-09 13:00] pascalgrimaud commented on #5391
I understand why our Travis build didn't detect that:
- there are no test on `"relationshipValidateRules": "required"` in our entities in sample/.jhipster/
- see the search: https://github.com/jhipster/generator-jhipster/search?utf8=%E2%9C%93&q=relationshipValidateRules
- clearly, we have to add that

[2017-03-09 13:01] DanielSBFranco commented on #5147
In the entitities, try declaring id as

@Id
@GeneratedValue
private UUID id;

But this way I don't know what kind of UUID will be generated

[2017-03-09 13:04] jdubois commented on #5391
Thanks @pascalgrimaud !!! This was worrying me, I'm happy to have the answer.

[2017-03-09 14:02] rmelian commented on #5390
@pascalgrimaud it make sense, thank you

[2017-03-09 14:02] Blarne commented on #3476
Lombok compatibility with JDK9:
https://projectlombok.org/download-edge.html

[2017-03-09 15:41] jdubois commented on #5243
Just tested, I correctly have the result in `target/test-results/coverage` so I'm closing this

[2017-03-09 15:42] jdubois commented on #5271
I do have correctly the report in `target/test-results/coverage` (I'm using Maven, so it's in `target`)

Then there was a second, false report in `src/test/javascript/coverage`, and that was a report on the compiled JavaScript - no idea why we had this, and it's just wrong. I'll do a PR to remove it and close this.

[2017-03-09 15:47] #5243 closed

[2017-03-09 16:54] nghib opened #5393 "Having issue when execute Gatling task with Gradle build system"
##### **Overview of the issue**
I used 4.0.7 released version of JHipster. I generated a fresh new project with no added entities  and try to execute gradle task "./gradlew gatlingRun -x cleanResources" as the document, but it failed to execute. This is the stack trace of error:

Exception in thread "main" java.lang.IllegalArgumentException: The requested class '*' can not be found in the classpat

[2017-03-09 17:05] jdubois commented on #5393
I think you are correct and that there is the same issue with Maven.
This is because we upgraded Gatling - before that, with "*", it printed a list of the available tests. And now it just fails.
Of course, you should write the name of your test(s) there.

[2017-03-09 17:41] NenadP opened #5394 "gulp-angular-filesort says don't use it"
In Angular 1.x app, ```gulp-angular-filesort``` is used ( ```gulp/inject.js```):
``` .pipe(angularFilesort())```

On its github page it says:

Do you plan to follow their advice and  replace ```gulp-angular-filesort``` with something else in the near future?

- [+] Checking this box is mandatory (this is just to show you read everything)

[2017-03-09 17:42] jdubois commented on #5394
Yes, we migrated to Webpack for Angular 2, so we did follow that advice!

[2017-03-09 17:42] #5394 closed

[2017-03-09 19:07] NenadP commented on #5394
Thanks @jdubois , If I might ask does that mean that Angular 1 in jHipster will probably be abandoned / deprecated?

[2017-03-09 21:13] deepu105 commented on #5394
@NenadP it depends on where the Angular community is heading

[2017-03-10 04:11] kyilintun2017 opened #5395 "JHIPSTER with firebird database"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

I setup the url for firebird in application-dev.yml, application-prod.yml and pom.xml replace with mysql to firebird.

##### **Motivation for or Use Case**

It is my first time configuring fir

[2017-03-10 05:33] jeansaigne opened #5396 "Live reload with Angular 2 using "yarn start" acting weird"
Using command "yarn start", live-reload is not working as expected.
On my Linux Mint i get no live-reload at all and on Windows 10 i get a weird behavior with live-reload, here i'm only going to explain the problem from Windows 10.

##### **Overview of the issue**

 Using IntelliJ, I can see in the console the recompiling when i make a change but when i look to the browser, i see a "Nothing change

[2017-03-10 06:23] jdubois commented on #5395
Probably, but this is not a bug. Please follow the guidelines, use Stackoverflow.

[2017-03-10 06:23] #5395 closed

[2017-03-10 07:01] jdubois commented on #5396
For Linux, maybe you have inotify settings too low, so it can't watch your files.
Try our devbox, that's the only way we can reproduce your issue. Here it depends on many other things, like OS settings, etc.

[2017-03-10 07:01] #5396 closed

[2017-03-10 09:59] gmarziou commented on #5396
Have you configured IDEA to not use safe write as advised in [webpack dev server 's doc](https://webpack.github.io/docs/webpack-dev-server.html#working-with-editors-ides-supporting-safe-write)?

[2017-03-10 14:16] kheckelmann commented on #5271
Removing the coverage reporter prevents the second report to be written, but my coverage report in the build folder is still empty. Maybe the problem occurs only with gradle? Does anybody have the same problem?

[2017-03-10 14:21] jdubois commented on #5271
@kheckelmann oh yes I only tested with Maven, so there might a difference with Gradle. Shouldn't be a big issue, but still I'm reopening this.

[2017-03-10 16:00] uboznikov commented on #5350
You have reproduced it with Gradle, then?

[2017-03-10 16:02] jdubois commented on #5350
Yes, I reproduce it with Gradle, but not with Maven.
Please note I just started the project with Maven -> it starts up OK, but maybe it can't send/receive messages.
Anyway there's a lib issue here, we should have exactly the same result with Maven and Gradle.

[2017-03-10 21:09] mraible opened #5400 "JHipster with Angular 2+ fails to compile with Angular 4.0.0 RC3"
I was able to upgrade to Angular 4.0.0 RC2 on my [ng-demo](https://github.com/mraible/ng-demo) project, so I figured I'd try it on [jhipster4-demo](https://github.com/mraible/jhipster4-demo). I used the following command to upgrade.

[code]

From https://gist.github.com/StephenFluin/cbb5a3764a04de17abbf78ba0a33b53f

When I ran `mvn package -Pprod`, the build fails:

[code]

Shortly after doing thi

[2017-03-10 21:16] gmarziou commented on #5400
Any reason why you seem to mix npm and yarn?

[2017-03-10 21:19] mraible commented on #5400
No, I just copied the npm command from the gist and my project was created with yarn.

[2017-03-11 07:07] deepu105 commented on #5400
Hi Guys, while we need to upgrade to latest releases I would rather wait for stable releases rather than spending our effort on RCs at the moment. We had lot of issues with ng 2 rc releases so lets upgrade once there is a stable ng4 release instead of doing multiple rc updates

[2017-03-11 08:23] muralihr commented on #2870
I just built the war using the gradle and copied from build/libs to webapps folder;
I deploy the war file to the tomcat-- webapps folder and it works fine on my windows system;
<base href="/"> is changed to  <base href="."> to get it working in WINDOWS:

I am using the tomcat 8 :
But on the AWS ubuntu it is not working;

any idea what to do ?

[2017-03-11 08:34] jdubois commented on #5400
I agree with @deepu105 -> the Angular team has shown numerous times they produce very low quality RC releases.
BTW we should also upgrade our Angular CLI support: at work we have lost many, many days on this, as it has the same quality issues as Angular.

[2017-03-11 08:35] jdubois commented on #2870
Please, this was not a JHipster issue, and you are commenting an old, closed ticket. Please follow the project guidelines concerning issues.

[2017-03-11 08:44] jdubois commented on #5271
Tested with Maven + Gradle, both work! Not sure what's your exact issue @kheckelmann but now this should all be solved!

[2017-03-11 08:44] #5271 closed

[2017-03-11 08:50] muralihr commented on #2870
I am sorry ; i was stuck ~
I searched on the stack overflow but found no solution ~
http://stackoverflow.com/questions/32716710/jhipster-war-not-working-in-tomcat;
It mentions change in swagger files - and i did not find the locations to change in the swagger-ui;
And it is not even saying why the error exists in the first place;

[2017-03-11 08:52] jdubois commented on #5393
I've updated this for both Gradle and Maven. Basically, you should now write the name of your simulation, or run all of them.
I don't know why they suppressed the list of simulations, it was much better!

[2017-03-11 08:53] #5393 closed

[2017-03-11 10:07] ndywicki opened #5401 "Angular 2 jhi-alert-error i18n encoding issue"
##### **Overview of the issue**

Encoding not working for specials characters in jhi-alert-error and jhi-alert.

##### **Motivation for or Use Case**

Use i8n for other languages.

1/ Generate Jhispter application with i8n and French langage as default.
2/ Throw alert error, example: create new user with admin login.

Text display will be :
![i8n issue](https://cloud.githubusercontent.com/assets/1

[2017-03-11 17:24] deepu105 commented on #4631
@jdubois so its done. I have fixed all the bugs and the builds should be green now.

There is one thing though and I have no idea what to do for that may be @SBoudrias could be able to help

The file writing seems to be much slower now (around 5 times slower). We haven't changed anything we just switched to `fs.copyTpl` and `fs.copy` instead of the `template` and `copy` method provided by the gene

[2017-03-11 17:26] jdubois commented on #4631
Great job!!!!
We need to merge this ASAP as this will cause merge conflicts.

[2017-03-11 17:29] deepu105 commented on #4631
lets wait for the tests to be green

[2017-03-11 17:35] deepu105 commented on #4631
@SBoudrias So here is the performance numbers

**With yeoman 1.x**

Each log is for writing an array of files which calls the `fs.copyTpl` and `fs.copy` methods by looping the array here https://github.com/jhipster/generator-jhipster/blob/migration-to-yeoman-1.0/generators/generator-base.js#L1675

[code]

**With Yeoman 0.x**

Its the same method as above but this calls `template` and `copy` method

[2017-03-11 18:00] elhoo opened #5402 "Angular 2 jhi-alert-error issue on server validation error"
##### **Overview of the issue**

Created a project with one entity with two fields. One of them NotNull.
After generation I change the other field to NotNull as well. Now, when I try to create
the entity I don't get any error message in the UI.

In the console I can only see:
POST http://localhost:8080/api/books 400 (Bad Request)

If I debug I can see the following error:
[code]

##### **Motivatio

[2017-03-11 18:07] deepu105 commented on #5402
can you do a PR?

[2017-03-11 18:09] deepu105 commented on #4794
@jhipster/developers guys is anybody working on the TODO items here?

[2017-03-11 18:15] jdubois commented on #4794
@deepu105 no I don't think anybody does, and there is a lot of stuff here. AOT is specifically annoying to me, as we really need this for production.

[2017-03-11 18:19] deepu105 commented on #5401
Since its a minor issue we might not be prioritizing this hence if you find a fix feel free to PR or let us know

[2017-03-11 18:20] elhoo commented on #5402
sure, but I think there are more errors...

When I changed the code according to the suggested fix I get the error message:

Not that something like 'Category is emtpy'.

I'm currently trying to understand the code...

[2017-03-11 18:24] #5272 closed

[2017-03-11 18:27] deepu105 commented on #5270
The easiest fix would be to pass the filed name instead of the pattern for the translation as below as the developer need to write appropriate message as per business need anyway. So no point in spending lot of effort here. Plz go ahead if some one wants to PR this as its not high priority for me

[code]

[2017-03-11 19:42] sreekrishna opened #5403 "Ambiguous mapping methods found for mapping property while compiling the mappers of DTOs created using mapstruct"
##### **Overview of the issue**

"Ambiguous mapping methods found for mapping property" while compiling the mappers of DTOs created using mapstruct. This is happening when we have mix of MTM and OTM relationships on the same object.

##### **Motivation for or Use Case**

This causes the gradlew(or mvnw) fail to start with compilation errors.

##### **Reproduce the error**

Bellow is the JDL file

[2017-03-11 19:46] sreekrishna commented on #5403
i took a quick stab at fixing the issue. this being the first time, i used jhipster or  look at the code, i am hoping someone would help me put a quick PR.

[2017-03-11 20:26] elhoo commented on #5402
I've tried several things and it come down to the thing that the
[code]
Doesn't work (it is used by AlertService, but I tried in other component as well as the alertServiceProvider method in shared-common.module.ts)
Any suggestion?

I guess it could by another bug so I will do a PR for the above

[2017-03-11 21:13] gmarziou commented on #5402
Could it be that the i18n json file is not yet loeaded as in #5066 ?

[2017-03-12 05:49] SBoudrias commented on #4631
@deepu105 could you share code example of how you got those numbers?

[2017-03-12 11:33] deepu105 commented on #4631
@SBoudrias it was from the below branches
Yeoman 1.x : https://github.com/jhipster/generator-jhipster/tree/migration-to-yeoman-1.0
Yeoman 0.x : https://github.com/jhipster/generator-jhipster/tree/master

In both branches we have the method `writeFilesToDisk` [this](https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base.js#L1692) which iterates through the files and ca

[2017-03-12 12:34] deepu105 commented on #4631
I have drilled down to the exact line causing the issue its below
[code]

So it seems definetely something to do with implementation of `copyTpl` method. As a workaround I have implemented my own simple copy template and this has reduced the performance impact and now its close to master the exact commit is [here](https://github.com/jhipster/generator-jhipster/commit/5c3aacb427f02d8c42e4193bc9f4c1

[2017-03-12 13:17] #4631 closed

[2017-03-12 13:45] SBoudrias commented on #4631
@deepu105 mem-fs-editor does glob matching, and might be expensive if it can't figure out the type of the source target immediately. My guess is either of these things is happening.

[2017-03-12 13:57] elhoo commented on #5402
No, I don't think so. I tried to naviagate to home page -> list -> edit and I still get the same error.

[2017-03-12 14:07] deepu105 commented on #4631
@SBoudrias probably, but looking at the source of `copyTpl` method it seems it calls the `fs.copy` method internally which does the glob part. I'm still using the `fs.copy` method and it doesnt seem to cause that much of a difference. but not using the `copyTpl` method shows massive difference. Hope it helps

[2017-03-12 17:45] elhoo commented on #5066
This should probably solve one problem I had. From entity A dialog (non modal page) open a modal dialog for (a new) entity B - that causes the non modal page texts (under the popup) to change to "translation not found"...

I solved it by adding locations for both entities, ie:
[code]

[2017-03-12 18:16] gmarziou commented on #5066
Good point, we already had to add more locations for social signin for same reason: a view aggregates messages from several i18n files (different entities or different features).

While your case could probably easily be addressed at generation time because we know all entities related to the current entity and so could call setLocations() with correct list, it's very likely that we cannot guess w

[2017-03-12 19:48] deepu105 commented on #4631
@jhipster/developers @jhipster/hipsters please note that with this upgrade some modules might break hence modules will need to update how it composes this generator and also modules will need to update to yeoman 1.x to avoid edge cases

[2017-03-12 21:36] ndywicki commented on #5401
Okay found it.
The issue was an missing innerHTML in the jhi-alert-error to deal escape characters after the HTML sanitizer (like in jhi-alert).
PR incoming.

Thanks

[2017-03-13 03:42] jlopezjuy opened #5407 "Error ManyToOne relationship"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Relationship of an entity with two attributes to another entity

##### **Motivation for or Use Case**
ej
entity Encargo:
     estado ValorDominio,
     tipoEvento ValorDominio

##### **Reprodu

[2017-03-13 06:03] gmarziou commented on #5407
One important information you forgot to mention here but wrote in your [stackoverflow question](
https://stackoverflow.com/questions/42756209/two-relations-on-one-entity-jhipster) is that these entities are generated from JDL.

[2017-03-13 06:37] ismailzakky opened #5408 "Tomcat Error while running 2 instances Jhipster App"
I'm Trying to run more than 1 instance with my tomcat server,
when my UAA server is running on my tomcat server, everything works well, but when i'm trying to run my gateway within my tomcat server i got this error.

`
Connected to server
[2017-03-13 01:25:23,477] Artifact gateway:war: Artifact is being deployed, please wait...
13-Mar-2017 13:25:32.998 INFO [localhost-startStop-1] org.apache.catal

[2017-03-13 06:47] gmarziou commented on #5408
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-03-13 06:47] #5408 closed

[2017-03-13 06:51] gmarziou commented on #5407
I'm not a JDL expert but it seems to me that [our doc says](https://jhipster.github.io/jdl/#relationshipdeclaration) that unidirectional OneToMany relationships are not supported by JHipster.

[2017-03-13 06:51] jdubois commented on #5407
Please don't cross post, or at least link your Stackoverflow question with the ticket ! Think of the other people who are having the same issue !

[2017-03-13 06:54] jdubois commented on #5407
You don't tell which attributes, which relationships.... I'm sorry but if you don't give a precise information on your issue, I can't help you. I'm doing this on my commute time with my phone, if you don't do a clean ticket I really can't help you.

[2017-03-13 06:54] #5407 closed

[2017-03-13 06:57] jdubois commented on #4631
Yes we will release the next version as 5.1.x to show that, and we'll need to discuss the new opportunities: I see you can now use a parser as a template parameter, we could have a Java parser that would allow more advanced use cases.

[2017-03-13 07:49] elhoo commented on #5402
The fix seems to make so that more errors are displayed. For example this one:

When the user is not logged in and the user reloads the page. However, I don't think the old logic handled it correctly.

[2017-03-13 07:54] deepu105 commented on #4631
@jdubois there are some javadoc issues and some more linting that I would like to do. I have sent a mail on our forum regarding this.

Regarding parser I hope you are talking about the gulp pipe transform support?

[2017-03-13 07:56] deepu105 commented on #4631
@jdubois Btw it might not break all modules. I tested some of mine and they worked so may be we can test few more to see if they work and in that case we can still release it as a minor version @jhipster/developers  could you please test your modules with master and give feedback?

[2017-03-13 09:51] ernsyn commented on #5366
@jdubois I'm not sure whether I should create a new ticket or just comment on this one.

I tried to upgrade from v4.0.7 to v4.0.8 using the fixed upgrade-generator but it's still failing with the same error as per the screenshots above.

Please let me know if you need me to open a new ticket.

[2017-03-13 09:53] jdubois commented on #5366
Thanks, for me this is still not working, I think there's a PR waiting on this, but we need time to code & test this again. This is why it's still marked everywhere as "not working", I know it's sad because I find this code really smart, but we just don't have time to do everything...

[2017-03-13 09:58] ernsyn commented on #5366
No worries @jdubois. Just thought I'd share what I found :)

I'll continue to upgrade manually for now.

[2017-03-13 09:59] jdubois commented on #5366
Yes thanks a lot @ernsyn - as I don't have the time on this, your feedback is very highly welcome. We need more help on this part...

[2017-03-13 10:26] jdubois commented on #4631
@deepu105 no I'm talking about the tip at the end of http://yeoman.io/authoring/file-system.html -> we could have a Java AST parser (or maybe our own, if none exists), which could ease editing existing files. For example we could have a very basic one that handles package imports, which is just getting crazy in our current code.

[2017-03-13 10:45] #5403 closed

[2017-03-13 12:15] jlopezjuy commented on #5407
the attributes in Encargo entity are:
@ManyToOne
private ValorDominio tipoEvento;

@ManyToOne
private ValorDominio estado;

[2017-03-13 12:56] #5401 closed

[2017-03-13 13:24] jdubois commented on #5342
OK, I didn't code this part but I see the logic here:

- The "skip server" and "skip client" should come from the "global" project, so they come from your `.yo-rc.json`. Indeed, it makes no sense to generate a project with "skip server" and then ask to have the server files in an entity. This is why "skip server" and "skip client" are not saved per entity.
- Now, the way the sub-generator works is

[2017-03-13 13:24] #5342 closed

[2017-03-13 14:57] #5402 closed

[2017-03-13 16:04] deepu105 commented on #4631
Oh that. Its not new this is parsing the js or html content, there are lot
of libraries for that and ofcourse for java files there should be. I
already do html file parsinv in one of the modules. Yes we might find uses
for that

Thanks & regards,
Deepu

On 13 Mar 2017 11:26 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-03-13 17:10] MarcGiffing opened #5410 "JWT token - user is still logged in on other browser tabs after log out"
##### **Overview of the issue**

I'm using JHipster with JWT tokens which are stored in the local storage when user checks the checkbox on login (don't know the naming now). When logging out on one tab I'm still logged in in the other tab.
I need to refresh the page to be logged out.

##### **Motivation for or Use Case**

If the user logs out you expected to be logged out! It's a security problem

[2017-03-13 17:33] jdubois commented on #5410
As the JWT is basically stored in memory in your tab, I understand your issue, and I'm quite surprised you could solve it this way.
Of course that's great, you provide the bug report and the fix, and it's all easy for us -> I'll wait a little bit to have more feedback (and don't worry, the build will fail, we currently have an issue there, this isn't your fault), and otherwise I'll merge this.

[2017-03-13 18:34] MarcGiffing commented on #5410
The browsers 'session storage' is used if you don't click the remember me checkbox on log in. So you are only logged in in the current tab. If you click the remember me checkbox the token is stored in the 'local storage' which is for all tabs and also available after restarting the browser. The problem is that the log out removes the token in the local storage but is still available the the cache

[2017-03-13 19:08] jdubois commented on #5410
OK, thanks, let's do it!

[2017-03-13 19:08] #5410 closed

[2017-03-13 23:22] alarv opened #5412 "Deeplinking into gateway doesn't work (e.g. http://jhip.gateway.example/post/1)"
I've been following your amazing generator and tutorials, thanks for everything you're awesome!

##### **Overview of the issue**

I'm using microservices with Angular 2 (JHipster Generator v4.0.5). I have my Gateway setup on localhost:8080. When I go into production mode, my files are being minified, packed and served on localhost:8080. Tomcat is serving my files and my homepage normally, but when

[2017-03-13 23:29] gmarziou commented on #5412
Your url http://localhost:8080/post/45 looks like you changed router's LocationStrategy from HashLocationStrategy to PathLocationStrategy otherwise your URL would be http://localhost:8080/#post/45

[2017-03-13 23:46] alarv commented on #5412
I overrode the gateway router files, with my custom router. Searching in a vanilla jHipster gateway project, I can't find any occurrences of LocationStrategy, HashlocationStrategy or PathLocationStrategy.

I normally wouldn't mind having hashed URLs, but I prefer HTML5 clean and SEO-friendly URIs. Is there a way to do that?

Thanks for the quick reply,
Alex

[2017-03-14 00:17] gmarziou commented on #5412
It's normal this is done like this:

[code]

Anyway,as you changed our settings, this is not a JHipster issue, please post a question on stackoverflow or gitter

[2017-03-14 00:17] #5412 closed

[2017-03-14 03:17] phongnv9 opened #5413 "Can not get jwt token when separate fontend and backend of jhipster monolithic application"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**
I’m using jhispter 4.0.6 monolithic application (angularjs 1.x + springboot + jwt), everything work well when I deploy both frontend and backend to the same tomcat server with 8080 port.
When I

[2017-03-14 05:47] liseri commented on #5413
Had the frontend project created with the jwt parameter like 'yo jhipster:client --auth jwt' ?

[2017-03-14 06:12] jdubois commented on #5413
If you broke up the app in 2 parts, then this isn't a JHipster bug. You should try Stackoverflow, this is a development question.

[2017-03-14 06:12] #5413 closed

[2017-03-14 06:15] perry0105 commented on #3725
http://docs.spring.io/spring-security/site/docs/current/reference/html/test-method.html

[2017-03-14 06:16] phongnv9 commented on #5413
Thanks
How can i do this with jhispter?
Should i try micro service?

[2017-03-14 09:16] gmarziou commented on #5413
Microservices are not different here for your use case. Here, you're on your won to debug it and make it work, maybe something you could have a look. Currently, our frontend stores the JWT token in LocalStorage which has domain restrictions especially  on sub domains. Maybe you should check this under chrome debugger, an laternative could be to store the token in cookies as they work with sub doma

[2017-03-14 09:50] cagecat commented on #5263
Ive got exactly the same issue - "yarn start" works when I do a monolithic app.
But when I do microservices with "yarn start" it tries and access the entity on the same port 9000. eg. if i try and update "blog", it just returns " Not Found ".

JHipster 4.0.8

POST http://localhost:9000/blogapplication/api/blog-lists 404 (Not Found)

[2017-03-14 12:14] mraible commented on #3725
My [jhipster4-demo tutorial](https://github.com/mraible/jhipster4-demo/blob/master/README.adoc#deploy-to-the-cloud) shows how to use `WithMockUser` to test something like this:

[2017-03-14 12:41] gmarziou commented on #5263
@cagecat feel free to open a new issue with required details

[2017-03-14 14:25] jdubois commented on #5333
Just got the same issue today, so I confirm this is a problem :-)

[2017-03-14 15:10] s-t-x commented on #5314
This looks exactly like your spring security is not enabled.

[2017-03-14 15:24] mtrycz commented on #1031
I have succesfully implemented this functionality in our jhipster generated project, both with Spring Sessions (which is easier) and OAuth2 authentication (which is what we'll be using). Didn't have time to check JWT authentication. We have applications with some thousands of accounts sourced from LDAP, and it'll really help us debug any (user-facing) issues.

If there is still any interest in thi

[2017-03-14 15:42] phongnv9 commented on #5413
Thank you for your help
now I have already resolved my problem by change some js files:

**1. auth.jwt.service.js, change login function**
function login(credentials) {
            var defer = $q.defer();
            var data = {
                username: credentials.username,
                password: credentials.password,
                rememberMe: credentials.rememberMe
            };

[2017-03-14 16:02] ddidier opened #5415 "Using CGLIB breaks authentication"
##### **Overview of the issue**

When using CGLIB for proxying with `@EnableAspectJAutoProxy(proxyTargetClass = true)` the authentication is broken.

[code]

##### **Motivation for or Use Case**

I have a bean B implementing the interface I. For one specific use case I need to inject the implementation and not the interface but Spring does not start : `The bean 'b' could not be injected as a 'B' b

[2017-03-14 16:13] jdubois commented on #5415
Sorry, but this is a Spring configuration issue on code you wrote yourself, this is not a JHipster bug, so this is not the right place.
You could use Stackoverflow, or if you think this is a Spring bug, the Spring issue tracker.

[2017-03-14 16:13] #5415 closed

[2017-03-14 16:30] andrea81it opened #5416 "JHipster with Angular 2 fails on different context path"
Deploying an application generated with JHipster and Angular 2 fails deployng a generated WAR file.
According to documentation and what i found on Stackoverflow, i made the following changes on the generated project:

- added ```server: contextPath: /hellohipster``` in ```/src/main/resources/config/application-dev.yml```
- changed ```<base href="" />``` to ```<base href="/hellohipster" />``` in ``

[2017-03-14 16:43] gmarziou commented on #5413
Your code extracts are for angular 1 while your question was for angular 2 ???

[2017-03-14 21:44] ndywicki commented on #5416
Try to change `<base href="/" />` to `<base href="./" />` (dot).
And keep `server: contextPath: /hellohipster` in `/src/main/resources/config/application-dev.yml`

Then go to http://localhost:8080/hellohipster it should be worked.
But not working on Dev with BrowserSyncPlugin (ie on proxy port 9000). Maybe also adapte the webpack conf.

Note: if you deploy the war on tomcat for example with prod p

[2017-03-14 22:24] jdubois commented on #5416
I'm sorry but we don't support HTML 5 pushstate "out of the box", so this isn't a JHipster bug. It's perfectly fine to modify what is generated, and that's the whole point of the project, but we only accept bugs on our own code, not on what you did afterwards.
Have a look at https://jhipster.github.io/tips/010_tip_configuring_html_5_mode.html -> I don't think you configured the HTML 5 mode in Angu

[2017-03-14 22:24] #5416 closed

[2017-03-14 23:34] xetys commented on #5263
oh, is that still not fixed...i think its time to do this

[2017-03-14 23:41] xetys opened #5417 "webpack proxy doesn't include requests to gateway forwarded APIs"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

in #5263 there was mentioned a issue I found already some time ago. When using our current microservice setup there is an issue, were requests to zuul routed microservice APIs don't work, as t

[2017-03-15 01:19] phongnv9 commented on #5413
Hi, My question was angularjs 1.x
Overview of the issue

I’m using jhispter 4.0.6 monolithic application (*angularjs 1.x* +
springboot + jwt), ....

2017-03-14 23:43 GMT+07:00 Gaël Marziou <notifications@github.com>:

--

_______________________________________

*Nguyễn Văn Phong (Mr) *

Mobile: (+84) 989 762 355

Email: p <phongnv9@viettel.com.vn>honggiit@gmail.com

[2017-03-15 06:38] jdubois commented on #5417
- I confirm the issue
- That's really a huge, huge issue for me, I don't undestand how we missed that (it was probably working before, and we broke this at some point)
- Sorry @jnuc093 @cagecat we had so many people not running `yarn start` that at some point I was closing all related issues
- Thanks @xetys for seeing this -> yes please do a PR if you have time

-> for me this is very important, s

[2017-03-15 09:27] denisdeville opened #5418 "No restriction in back-end and front-end for default varchar(255) generated property causes database to crash"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Hi everyone, I'm a new user of JHipster, and I have to say that this thing is absolutely insane ! It allows me to gain a lot of time. But I think I found one thing that is not handled by JHips

[2017-03-15 10:00] deepu105 commented on #5418
@denisdeville since we have hell lot of combinations we would need your `.yo-rc.json` and `entity` files to reproduce this. could you please follow our guidelines and provide all the details we ask for in the issue template? Normally we would close issues which dont follow guidelines but I assume your intention was to help and you didn't realize that those were needed. so please update the issue a

[2017-03-15 10:18] lokinell opened #5419 "Cannot deploy microservice with hazelcast into docker swarm"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

When I deploy my application by docker swarm. My application cannot start successfully.
It throw bellow exception.

I guess it is caused by hazelcast with swarm. Because I can start it success

[2017-03-15 10:18] jdubois commented on #5419
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-03-15 10:18] #5419 closed

[2017-03-15 10:23] cbornet commented on #4688
Found https://github.com/patorjk/figlet.js . And it's javascript ! I vote for a banner subgen !

[2017-03-15 10:35] denisdeville commented on #5418
Sorry for that, this is my first report, and I didn't know those information were important to you. Won't make that mistake again. Have a good day

[2017-03-15 10:41] deepu105 commented on #5418
@denisdeville again we dont want the generated code. Just follow the bug template (run `yo jhipster:info` on your project and copy paste the result please)

[2017-03-15 10:48] deepu105 commented on #4688
That looks interesting. We could consider generating a banner based on app name using this as long we also append some JHipster love to it :smiling_imp:
Something like
[code]

[2017-03-15 10:48] denisdeville commented on #5418
Sorry for that ... Hope this is good now.

[2017-03-15 10:53] deepu105 commented on #4688
@PierreBesson I think we can go easy on the `generated by ` part of the message else it will a huge banner :)