[2020-06-27 15:11] #11992 closed

[2020-06-27 15:12] pascalgrimaud commented on #11991
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-06-27 15:12] #11991 closed

[2020-06-27 15:12] pascalgrimaud commented on #11989
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-06-27 15:12] #11989 closed

[2020-06-27 15:13] pascalgrimaud commented on #11914
@SudharakaP : sorry, I was late on this. Is dependabot correctly configured ? You asked me to configure the CLA. Do you know how to do this ?

[2020-06-27 15:57] SudharakaP commented on #11914
@pascalgrimaud : Hey, no worries. :smile: I think it can be done in the CLA Assistant dashboard; https://github.com/cla-assistant/cla-assistant#can-i-whitelist-bot-users. Probably we have dependabot-preview configured there and we need to replace that with dependabot instead. :smile:

[2020-06-27 16:01] SudharakaP commented on #11914
@pascalgrimaud : For [jhipster BOM](https://github.com/jhipster/jhipster) project you will need to log into dependabot dashboard and click on `Update Config File` as mentioned here; https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/#moving-forward-from-dependabot-com-and-dependabot-preview

[2020-06-27 16:49] SudharakaP commented on #11914
@deepu105 @jdubois : We had trouble finding where to configure the CLA exclusions for dependabot. Do you guys know by any chance since I think one of you configured it last time? :smile:

[2020-06-28 07:01] topikachu opened #12012 "Can't run integration tests of the application using redis"
##### **Overview of the issue**

Can't run integration tests of the application using Redis. The application fails to start because it can't connect to the Redis.
[code]
##### **Motivation for or Use Case**

All integration tests fail. I can't move forward to develop.

##### **Reproduce the error**

Create a monolithic application that uses Redis as cache. Run integration tests. Test fails because

[2020-06-28 08:32] topikachu commented on #11689
@murdos  As far as I understand, @DynamicProperty can only be recognized within the test class.  I don't understand how  #11803 working. Is there anything I missing?

[2020-06-28 12:25] shalphaaslam opened #12013 "Can multi tenancy feature for microservices and gateway be introduced in jhipster which means multi-tenant user support in the same DB schema? I would like to contribute in coding the part."
##### **Overview of the feature request**

The feature of handling different users from multiple tenants in the same DB through the same microservices and gateway would help in usecases such as multi-tenancy support for any particular domain.

##### **Motivation for or Use Case**

Since I am currently working in the Jhipster framework to support multi-tenancy in microservice architecture which is

[2020-06-28 19:51] antarus opened #12014 "Gateway oauth2 doesn't scale"
##### **Overview of the issue**

Hello, during the deployment of a vuejs gateway generated with jhipster on kubernetes, I realized very strange behavior during authentication when we have several replicas of the client and the backend of the gateway.

##### **Motivation for or Use Case**

After simplifying my app to try to reproduce the anomaly locally in order to debug. I saw that I was not the o

[2020-06-28 19:56] mraible commented on #12014
I believe using Spring Session + Redis is a good solution to this problem.

[2020-06-28 21:30] nomuna opened #12015 "Please include some minimal security settings for the included elasticsearch.yml"
The default elasticsearch.yml included with the jhipster is

1. not secured (not even a user and a password).
2. it is also listening on all the external ip addresses of the server/host it is running on

which is a security issue IMHO.

Or at least document it in the README.md or something. I tried http.host=127.0.0.1 in the environment section of the elasticsearch,yml, The container starts but I

[2020-06-28 23:17] antarus commented on #11198
@pascalgrimaud
The current implementation of traefik works very well and seems "simple" to me. But since traefik is only used in the sub generator, it might just be necessary to mention in the documentation how to use it (just the toml conf and docker compose exemple)

[2020-06-29 06:47] pascalgrimaud commented on #11198
Yes, it's very simple:
- https://github.com/jhipster/generator-jhipster/blob/master/generators/docker-compose/templates/traefik.yml.ejs
- https://github.com/jhipster/generator-jhipster/blob/master/generators/docker-compose/templates/traefik/traefik.toml.ejs

But the goal was to upgrade to v2, as the current version is 1.7.24 : https://github.com/jhipster/generator-jhipster/blob/master/generators/g

[2020-06-29 07:38] pascalgrimaud commented on #12015
For me, it is not a security issue as the provided `elasticsearch.yml` file is for development only: it works out of the box.
It's similar to what we do for all database configuration, with no password or default one.

I don't understand your other problem, plz provide more information

[2020-06-29 07:44] sendilkumarn commented on #11198
No, it will not. The v2 is a huge breaking change.

I am in favour of removing it, since we are not using Traffic to its full potential and not enough contribution / usage

[2020-06-29 07:45] pascalgrimaud commented on #12014
@antarus : I think this ticket can help you -> https://github.com/jhipster/generator-jhipster/issues/9120

[2020-06-29 07:49] pascalgrimaud commented on #12013
As you already mentionned, there is indeed an existing blueprint for that:
https://github.com/sonalake/generator-jhipster-multitenancy

The best would be to go there, and help this project to add microservices/gateways support.
cc @CharlotteFawsitt @jduggan83

[2020-06-29 10:08] pascalgrimaud commented on #12014
For the link:
- https://github.com/jhipster/generator-jhipster/pull/6944

[2020-06-29 11:48] nomuna commented on #12015
If you download the elasticsearch as an archive from the elasticsearch site and let it run, then with the default configuration it is reachable only over localhost.

With the container, even if it is on my local machine I don't want it exposing a port on my machine. An open installation of elasticsearch without any password or user, and the rest endpoints are open to public. You can do POST reques

[2020-06-29 14:09] antarus commented on #12014
I managed to get it working by adding the dependency `spring-session-hazelcast` and adding the annotation `@ EnableHazelcastHttpSession` to the class` CacheConfiguration.java`.

But I don't really know what this implies in terms of security ...

[2020-06-29 14:16] antarus commented on #10916
I have the same problem with kubernetes. Even adding the dependency `kubernetes-hazelcast` and configuring it. My current 'solution', I launch a replicas and once launched, I scale...

I plan to test with redis ..

[2020-06-29 16:41] cbornet commented on #12014
Note that even having the possibility to store the session in DB can be interesting if you're after availability more than scalability. And it's easy to add the cache later when you eventually need it.

[2020-06-29 20:39] napindc opened #12016 "Angular code not connecting to my spring backend properly"
I was trying to update my Jhipster 4.0 project (which used Angular 4) to Jhipster 6.0 (which used Angular 9). There was such a difference in the angular version and typescript version, that I instead did just created a Jhipster 6.0 project, and then I replaced all of the following files in this Jhipster 6.0 project. These files were replaced with the files from the Jhipster 4.0 project, so I could

[2020-06-30 12:40] neshanjo opened #12017 "Support using different profiles with 'jhipster aws'"
##### **Overview of the feature request**

Currently, `jhipster aws` can only be used to deploy the application that is built with the prod profile. Make it possible to deploy the app with different profiles to different Elastic Beanstalk environments.

Suggested solution: Store the `"aws"` subsection of `.yo-rc.json` as key (profile name) / value (settings) map and introduce parameter --profile t

[2020-06-30 19:18] avdev4j commented on #11122
hi @hdurix, do we have to consider this ticket for the v7?

[2020-06-30 19:25] avdev4j commented on #11398
hi @ntorionbearstudio
It would be awesome to have this feature in v7.

Also, do we plan to let the choice to the user to choose between adding liquibase diff or rewrite the old changelogs? (it could be useful).

[2020-06-30 20:56] mshima commented on #11398
@avdev4j since this PR is kind of stateless, then it's not possible to regenerate a old changelog if one partial changelog exists.
Ex:
1) Generate Foo inside initial changelog: eg. 20200601.
2) Add `newField` field to Foo inside second changelog: eg. 20200603.
20200601 -> 20200603 diff cannot be reconstructed if the history is not saved.

@avdev4j what can you tell me about https://github.com/jhip

[2020-06-30 21:23] ntorionbearstudio commented on #11398
Hello, sorry for the delay on this feature. Currently I have 2 PRs for this feature :

- https://github.com/jhipster/generator-jhipster/pull/11419  : I need help for tests, I don't know how it works inside the project, I wrote a comment on it inside the PR
https://github.com/jhipster/jhipster-core/pull/469 : I have feedbacks to treat and @mshima idea to apply, on this too I need maybe some help

[2020-06-30 21:31] murdos commented on #11689
@topikachu Sorry, I don't understand too why it was working.

[2020-06-30 21:55] atomfrede commented on #11689
It would at least explain why it didn't work with neo4j using the same approach as with redis

[2020-06-30 22:21] SudharakaP commented on #12017
@neshanjo : Thanks for raising this issue.

I am not sure about this use case of supporting deployment of profiles other than the prod profile. Since my understanding is that the development profile is for development and debugging purposes (such as using with an in memory db such as H2) and therefore I am not sure we should let our users deploy development profiles to public clouds such as Elasti

[2020-06-30 22:31] DanielFran commented on #10770
Closed with #11871

[2020-06-30 22:31] #10770 closed

[2020-07-01 04:01] SudharakaP commented on #12017
I've noticed that there's a huge variety of instance types and db types in AWS that a user can choose (https://aws.amazon.com/ec2/instance-types/ and https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html). So I added additional options called `Custom Instance Type` and `Custom RDS Type` within the instance types and db type selections. If the `Custom Instance Type` i

[2020-07-01 06:51] MathieuAA commented on #11398
@ntorionbearstudio for the JCore part, do ping me for help :)

[2020-07-01 07:18] neshanjo commented on #12017
In another project, we use CI/CD to deploy every commit to the master branch to exactly such an dev environment (Elastic Beanstalk). It's a good way to get early feedback from testers and also to verify that the application is really working and not only on the developer's machine.

Anyway, the more common use case would maybe be a "staging" environment:
[code]
You can add another maven profile an

[2020-07-01 09:43] ksilz commented on #11122
@hdurix After close to 5 months of using DDD with JHipster, I can wholeheartedly recommend this approach:

- My business logic is tucked away neatly, using the JHipster back-end classes.
- I created my own front-end, independent of the generated CRUD screens.
- Updating the entities is a breeze. I created a shell script to fix the JHipster generated code: Adding a standard column set to all entiti

[2020-07-01 10:15] ecostanzi commented on #11122
@ksilz that's interesting. Are you willing to share more details about the project structure? As @johnbanq suggested, we should start with some samples.

[2020-07-01 12:44] deepu105 opened #12019 "Move all non-essential classes/utils to the server-side and client-side libs."
Enabling the possibility of overriding them if needed. This makes generated code lighter

[2020-07-01 12:52] jdubois commented on #11805
I'm going to increase the bounty to $300 so it can be shared evenly.
-> Mathieu, I will have a look at how to give $100 to Cypress

And @MathieuAA  what is blocking from closing this issue?

[2020-07-01 13:24] MathieuAA commented on #11805
Nothing :) I guess I'm so used to have the classic "fixes #XXX" that I've completely forgot about this issue!

[2020-07-01 13:25] #11805 closed

[2020-07-01 14:43] avdev4j commented on #10680
finally I suggest to follow the @henri-tremblay advices and add a "clear" case when the createCache method is called.
see https://github.com/jhipster/generator-jhipster/pull/12020

[2020-07-01 15:43] erickjx commented on #12016
Edit proxy.conf.json:
[code]

[2020-07-01 16:10] yelhouti commented on #7112
@mshima @jdubois please add this to 7.x roadmap add let me know when I can start working on it

[2020-07-01 16:14] pascalgrimaud commented on #7112
@yelhouti : v7 has already started :) @avdev4j is the lead of the roadmap

[2020-07-01 16:17] avdev4j commented on #7112
Hi @yelhouti master is now the v7 branch. You can start on it when you want.

We will add this ticket to the github project, could you test to add it? (in project tab)

[2020-07-01 17:03] yelhouti commented on #7112
@avdev4j I'm afraid I can't, not enough privileges I think. @pascalgrimaud I was told by @mshima to wait until some big changes are done, are they?

[2020-07-01 17:14] mshima commented on #7112
@yelhouti I have plans to refactor the generators configs.
It is much harder to implement now, then it will be (if the patches get merged).

[2020-07-01 17:45] micobarac commented on #6791
I have a problem with latest JHipster and it's generated repository code:

Inside Role class I have a @ManyToMany relationship with Action:

[code]

JHipster generated this RoleRepository query:

[code]

This query throws an exception:

`firstResult/maxResults specified with collection fetch. In memory pagination was about to be applied. Failing because 'Fail on pagination over collection fetch' i

[2020-07-01 18:00] yelhouti commented on #7112
@mshima any ETA? When do you think I can start working on this and how much will I have before the release?

[2020-07-01 18:45] mshima commented on #10958
Added jdl centric to needs discussion.
Reason:
.yo-rc.json is a crucial part of yeoman-generator, it provides inter generator config synchronisation.
JDL centric can be implemented by creating a custom Storage once the config workflow is improved.

[2020-07-01 19:37] mshima commented on #7112
@yelhouti hard to tell.

@avdev4j how are planning to do with jhipster 7 `jhipster-internal` PRs?
Can I assign to you? Should I merge them directly after some period?
First PR https://github.com/jhipster/generator-jhipster/pull/12022

Others tasks:
- Remove most of configOptions usages in favor of this.config to improve inter generator synchronisation.
- Change entity to use Storage instead of jus

[2020-07-01 19:48] avdev4j commented on #7112
@mshima I don't want to be the single point of failure for this v7 ;). We should keep doing just like we used to do. The only thing we have to do, is to track issues and/or pr in the GitHub project. So, if a pr is ready feel free to merge it.

I wonder If you can add and manage tickets. Because you are in the core team you should can.

[2020-07-01 19:55] avdev4j commented on #7112
oh and yes, we need to update the v7 roadmap too https://github.com/jhipster/generator-jhipster/issues/10958

[2020-07-01 19:58] yelhouti commented on #7112
@mshima what you are working on looks really great for what I want to do I was waiting for this changes for ages. Some of the concerns I have:
1. In the current version each json is loaded just before using it, can we have them loaded all at once before any entity generation (really useful to handle relationships specially for my case composite keys)
2. Can I have a hook/callback or step in my blu

[2020-07-01 20:13] mshima commented on #7112
@avdev4j ok then, I will merge it after some period of time.

@yelhouti

Actually the json is loaded at generator constructor, but is loaded as plain object and every change after it is just ignored.
My plan is to use yeoman-generator's Storage, it uses mem-fs and read/write every time a config is used.
I implemented a cache for yeoman-generator 4.11.0 that reload the config every time the file is

[2020-07-01 20:19] mshima opened #12023 "Remove getAllJhipsterConfig"
##### **Overview of the feature request**

Remove getAllJhipsterConfig and implement getJhipsterConfig alternative.

- getAllJhipsterConfig was implemented as a workaround to blueprint/modules saving config to .yo-rc.json with another namespace.
- Merge implemented by getAllJhipsterConfig is not deterministic (depends on the order blueprints are loaded).
- Fixed by making blueprints always write t

[2020-07-01 20:19] yelhouti commented on #7112
@mshima in my case, I don't want my changes to the json to be written to disk (they are cyclic due to relationships...), i want to be able to enrich them in a configure step, after loading but before any entity starts. can we discuss this on call (skype, slack, whatsapp or whatever)?

[2020-07-01 20:44] mshima commented on #7112
Sure, do you have gitter? Ping me there.
If you don't want to persist, you will need something like this: https://github.com/jhipster/generator-jhipster/pull/11833, otherwise you will have to set every data for the relationship.

[2020-07-02 10:07] #10680 closed

[2020-07-02 12:48] jperezdelafuente opened #12025 "Swagger doesn't work"
Since jHipster 6.10.0 the swagger api doesn't work in:
- new generate project
- update project from jHipsrer 6.9.1

Swagger API references to: https://petstore.swagger.io/v2/swagger.json
![swagger](https://user-images.githubusercontent.com/9991172/86360552-d55a9b00-bc72-11ea-83ab-a1556caa3bce.PNG)

[2020-07-02 13:52] pascalgrimaud commented on #12025
@jperezdelafuente : you need to fill the template, otherwise we can't reproduce your issue as we don't have any information

[2020-07-02 14:02] jperezdelafuente commented on #12025
##### **Overview of the issue**

Since jHipster 6.10.0 the swagger api doesn't work in:
- new generate project
- update project from jHipsrer 6.9.1

##### **Motivation for or Use Case**

Swagger api

##### **Reproduce the error**

 Swagger api doesn't work

##### **JHipster Version(s)**

jHipster 6.10.0

##### **JHipster configuration**

##### **JHipster Version(s)**

[code]

##### **JHipster conf

[2020-07-02 15:07] #12023 closed

[2020-07-02 20:05] deepu105 commented on #12019
I would actually propose to make this a high priority task for JH7. What do you think @jdubois @pascalgrimaud @jhipster/developers ?

[2020-07-02 20:07] deepu105 commented on #12019
@avdev4j this could be a nice task for you if everyone g you agree as this needs some focused work IMO

[2020-07-03 10:02] desprez commented on #11122
DDD strategic patterns are just a way of naming, delineating and organizing concepts.
I think developers who want to use a DDD approach in their project want to be able to use tactical DDD patterns.
In my opinion, the biggest challenge with the DDD approach in JHIPSTER is to model the processing and the business rules inside the entities which will be overwritten during the next regeneration. The

[2020-07-03 13:10] niklasLensing commented on #12025
I have the same issue: When I navigate to /admin/docs Swagger opens with the Swagger Petstore just like the screenshot above.
It seems like some Swagger resources cannot be loaded. See the screenshot from my Browser console below.

![grafik](https://user-images.githubusercontent.com/46967813/86472367-58e1be00-bd3f-11ea-8063-6d7d58cb6c4f.png)

[2020-07-03 13:34] emersonluiz91 opened #12027 "Increased security with ProGuard"
##### **Overview of the feature request**

Add Proguard to the JHipster stack, increasing the security of the projects and contributing to a safer internet.

ProGuard is a tool with more than 7 years of existence, open source and that will continue to have releases.

https://www.guardsquare.com/en/products/proguard/manual/introduction
http://wvengen.github.io/proguard-maven-plugin/

##### **Motiva

[2020-07-03 14:05] jdubois commented on #12027
I found the source code at https://github.com/Guardsquare/proguard and it has a GPL v2 license. As it re-writes the whole application, I would be very cautious to use it, as I believe this means your whole application becomes GPL v2.

Anyway, I really don't understand the added-value of such a tool for a server-side application (=the attacker has access to the database, why bother modifying the Ja

[2020-07-03 14:11] ruddell commented on #12025
Confirmed this is an issue with a new v6.10.x app. To reproduce, generate an app and navigate to the Swagger page.

As a workaround until this is fixed, you can replace the petstore URL https://petstore.swagger.io/v2/swagger.json with http://localhost:8080/v2/api-docs

[2020-07-03 14:14] avdev4j commented on #12019
If you think it's something with high priority so I could focus on it. I already had this discussion with @jdubois and reduce the number of generated files seems to be a good way to go.

however, we need to define which classes are non essentials. Have you already any idea about that?

[2020-07-03 14:17] pascalgrimaud commented on #12025
Ok, I think it's the same issue than: https://github.com/jhipster/jhipster-vuejs/issues/618
It should be the same fix: https://github.com/jhipster/jhipster-vuejs/pull/619/files

[2020-07-03 14:17] pascalgrimaud commented on #12025
If the fix is confirmed, then, I'll do a patch release 6.10.1 when possible.

[2020-07-03 14:20] vishal423 commented on #12025
yeah, I did update the copy plugin and seems same issue over here. Just wondering, why none of our automated tests caught this

[2020-07-03 14:25] niklasLensing commented on #12025
I can confirm that the change from https://github.com/jhipster/jhipster-vuejs/pull/619/files fixes this issue for me.

[2020-07-03 15:49] rainoko opened #12033 "Api First should serve provided api.json from /api-docs"
##### **Overview of the feature request**

If using predefined api.json or api.yml. It should be logical to serve from api-docs this file content instead of springfox generated json.

##### **Motivation for or Use Case**

Spring fox has limited functionality and not support all what can be described in openapi json on yml. So generating from yml and then generating again api-docs from code will lo

[2020-07-03 16:22] gmarziou commented on #12019
Moving everything to libs makes it harder to update users projects unless they continuously follow JHipster updates which is very difficult as soon as users add custom code.

JHipster team maintains only current major version which means roughly one year while major libs like Spring, Hibernate often support older versions for many years.

So basically, it means that after one year, it's much harde

[2020-07-03 17:16] cbornet commented on #12033
Yes. We could have 2 paths. One for API first and one for springfox. Ideally the spec of API first would be enhanced with the entity endpoints and Spring Boot actuators defs. That's something I've been wanting to work on from some time.

[2020-07-03 17:27] #12025 closed

[2020-07-03 17:47] jdubois commented on #12019
@gmarziou I totally agree we should have the same major.minor versions for the generator and the lib (maybe not get down to the patch level). We have an issue about this somewhere.

But for the rest I have the exact opposite feedback : it’s much easier to update a lib (also: you have tools like dependabot which do it automatically) then re-generating and merging everything.

[2020-07-03 18:55] gmarziou commented on #12019
I knew you'd disagree because I had same position when team decided to move more classes to libs but it's OK :)

I'm working on 3 JHipster apps that are under PCI-DSS requirements, to be compliant we must monitor all vulnerabilities announced by external libs. SO, ofr us, it's a serious business.

For the 2 first apps, keeping them up to date with security fixes was more complex due to using jhips

[2020-07-03 19:49] sendilkumarn commented on #12019
I agree with @gmarziou here.It adds another layer of abstraction and this will make it difficult for the users (especially those who would like to customise).

 In fact I guess I was a biggest fan for moving into library before. But lately realised how problematic it will be when we wanted to customise the solution.

For the lite version of JHipster, IMO we should construct it from scratch rather

[2020-07-03 20:24] jdubois commented on #12019
OK, then it would be good to have more feedback here.

For me you have 3 different issues here:

- The BOM: it indeeds add a layer on top of the Spring BOM, but it does not radically change things (as there is still the Spring BOM), and we're supposed to only add JHipster-specific dependencies here (for example, we should usually keep the Hibernate version coming from the Spring BOM, unless there

[2020-07-04 08:29] gmarziou commented on #12019
* The BOM approach is OK in itself, the only problem that makes it difficult to use is that it is supported only for one year per major version. Imagine that it was the same for Spring Boot starters, would you keep on using them or rather drop them?
* The Java code:the server-side lib is not like other libraries because it's monolithic, aggregating many dependencies that are not required by many p

[2020-07-04 09:05] pascalgrimaud commented on #12019
+1 with @gmarziou
I use JHipster in real project for my customers and what I like is the fact I can customize all classes I want.
Because of jhipster lib, sometimes, I had to copy paste exactly the same classes from jhipster lib, change package, and customize these classes.

I absolutely don't care about people who complain about 'JHipster generates too much classes'. They don't understand why the

[2020-07-04 10:53] DanielFran commented on #12019
+1 with @gmarziou.
Would prefer that generated project contains all classes, so I can customize easily.

[2020-07-04 10:57] murdos commented on #12019
+1 with @gmarziou <https://github.com/gmarziou> and Pascal

Le sam. 4 juil. 2020 à 12:53, Daniel Franco <notifications@github.com> a
écrit :

[2020-07-04 18:24] jdubois commented on #12019
I thought we had a consensus here, but in fact we do not.
Let’s block this for the moment, and gather more feedback and ideas.

[2020-07-04 20:23] PierreBesson commented on #12019
I volunteer to work on this during this summer to the best of my capacity
for the server side. I think I can propose something...

Le sam. 4 juil. 2020 à 20:24, Julien Dubois <notifications@github.com> a
écrit :

[2020-07-04 20:24] PierreBesson commented on #12019
I think we can find a solution similar to spring boot where you can easily
surcharge the defaults provided by the lib. This is what would satisfy most
people. Maybe it can be an option to have explicit vs implicit
configuration.

Le sam. 4 juil. 2020 à 22:22, Pierre Besson <pierre.d.besson@gmail.com> a
écrit :

[2020-07-04 21:06] MathieuAA commented on #8608
@avdev4j Unless you have an objection, I'm gonna add this issue to the v7 project list.

[2020-07-05 01:40] vivekmore opened #12037 "Sonar docker exposes same port as kafka - 9092"
##### **Overview of the issue**

Can we have a different default port exposed for sonar docker container in generated code so it doesn't collide with kafka's 9092 port?
e.g. 19092

##### **Motivation for or Use Case**

To allow running sonar and kafka containers parallelly.

##### **Reproduce the error**

Generate app using attached .yo-rc.json

##### **Suggest a Fix**

I can submit a PR if the te

[2020-07-05 07:59] avdev4j commented on #8608
It's made to be alive along the v7 is in progress :).

Feel free to add what you think is important

[2020-07-05 08:39] pascalgrimaud commented on #12037
@vivekmore : I agree. But I think we don't need to expose the port 9092, we can simply remove it. What do you think ?

[2020-07-05 10:17] pascalgrimaud commented on #10575
I just did a new release of JHipster-VueJs blueprint: v1.9.0, linked to generator-jhipster v6.10.1

For v7, unless someone is against this, I'm starting to integrate Vue.js to main generator-jhipster, and trying to keep git history.
@mshima : once it's merged, we will be able to do refactoring, with your suggestion. Hope you're ok.

[2020-07-05 11:08] mshima commented on #10575
@pascalgrimaud if you are talking about the project structure, this is not a priority and I don't think I will do it because cypress plans to create a common e2e.
With common e2e we will need a client-common and will start complicating too much, let's keep the way it is now.

- If you are talking about the generators refactoring (configOptions), most of it is almost done https://github.com/jhipste

[2020-07-05 12:14] pascalgrimaud commented on #10575
yes, I was talking about project structure but if you think it's low priority, so let's forget it.

Then, you're right about #12038 : I'll merge it before starting Vue.js integration

[2020-07-05 12:44] vivekmore commented on #12037
Yes I was also was researching about the need to expose 9092.

If you know when sonarqube stopped needing 9092 that be helpful to document here. Otherwise I'll do some more research to find out. I'll remove the port after that.

[2020-07-05 13:23] vivekmore commented on #12037
Ok it appears 9092 was originally exposed to expose the internally used in-memory H2 database.

[2020-07-05 14:21] ksilz commented on #11122
@ecostanzi Sure! In my current projects, I have three goals:

1. **Keep doing JHipster upgrades:** Since the upgrade regenerates all files, I keep my changes as much away from "JHipster files" as possible. For instance, I have my own Gradle build file that the main build file includes. I don't add query methods to the Spring JPA repository files; instead, they extend my own interface where I put m

[2020-07-05 16:28] #12037 closed

[2020-07-05 21:39] Romancha opened #12042 "Side affect mock DateTimeProvider"
##### **Overview of the issue**

Using mock for dateTimeProvider may side affect users test that use dateTimeProvider. To avoid side affect we need to use @MockBean

##### **Motivation for or Use Case**

I have my own integration tests, which use the createdDate, lastModifiedDate in the verification of business logic. I was a bit confused when my tests fell and saw that the createdDate, lastModifi

[2020-07-06 09:33] atomfrede commented on #12027
As it is mainly configuration of the build tooling it can go to a module.

[2020-07-06 09:41] atomfrede commented on #12019
I think having more stuff in a library makes it easier for us, but necessarily for our users. In case there is a bug/problem most of the times we are able to provide a workaround like change following lines in that class/file, which would not be possible that easily with having more stuff inside a library.

[2020-07-06 13:25] #12042 closed

[2020-07-06 14:25] emersonluiz91 commented on #12027
I asked to Proguard team and they answered: "Optimizing and name-obfuscating server-side applications is generally not useful, unless you are really concerned about the application size."

We can close this issue, leaving it only for history.

[2020-07-06 16:20] AlexandreCassagne opened #12051 "Exception Handling: Leakage of Implementation Details"
##### **Overview of the issue**

Some exceptions trigger a leakage of implementation details to the end user. The example shown here relates to Jackson's exception details, but maybe there are other examples that I am not aware of.

##### **Motivation for or Use Case**

We recently underwent security testing -- one of the issues that was caught is that certain exceptions leak inside information. A

[2020-07-07 06:52] #12027 closed

[2020-07-07 08:03] atomfrede commented on #12051
This is indeed not good. The problem `MessageNotReadableAdviceTrait` uses the default [prepare method](https://github.com/zalando/problem-spring-web/blob/878b50d70d74bb11d5a6ad08e612e6624c5c02f3/problem-spring-common/src/main/java/org/zalando/problem/spring/common/AdviceTrait.java#L66) which uses the message of the exception as details.

We could overwrite the `prepare` method in `ExceptionTransla

[2020-07-07 14:58] seqqueman commented on #9746
Great solutions. Many thanks.

[2020-07-07 15:08] mshima opened #12052 "Rename app generator to jhipster at blueprints."
##### **Overview of the feature request**

JHipster app generator should load jhipster generator instead of app generator.

##### **Motivation for or Use Case**

This change would allow a yeoman generator to be a module and blueprint at the same time.
Lets use generator-jhipster-entity-audit as example.
The correct command to use it is `yo jhipster-entity-audit`.
If we try to run `jhipster --bluep

[2020-07-08 07:38] atomfrede commented on #12051
I found another exception (`org.hibernate.exception.DataException`) which may leak details to the caller:

[code]

[2020-07-08 07:54] atomfrede commented on #12051
Possible solution which handles certain exception to write more detailed message while preventing messages that contain potential technical details (in this case quite simple checking for package names) to the caller:

[code]

[2020-07-08 15:24] JesusTheHun commented on #11681
my company uses would like to give a boost on this issue but we need an invoice. How can we proceed ?

[2020-07-08 15:41] brahimk commented on #11542
Hello @gzsombor

Do you want help on this issue ?

thanks.

[2020-07-08 21:08] jdubois commented on #11805
Ok then don’t forget to claim your bounties!
@MathieuAA for the $100 you want to give to Cypress I know there’s a way to transfer money directly between 2 collectives and not pay any fee, I need to have a look

[2020-07-08 21:20] pascalgrimaud commented on #11805
@jdubois : I think @MathieuAA means the issue in JHipster related to support Cypress and replace Protractor :)

[2020-07-08 21:22] jdubois commented on #11805
Oh then that would be much easier! @MathieuAA can you clarify?

[2020-07-08 22:59] gzsombor commented on #11542
@brahimk thanks for asking, there are some progress implementing this - and there is an open PR about
https://github.com/jhipster/generator-jhipster/pull/11742 .
Currently I'm blocked by three things:
* Spring-boot 2.3 support is not yet merged, so building and running the CI is not possible out of the box. I hope, this can be solved with using the jitpack.io repository.
* Spring-data-r2dbc bug -

[2020-07-09 04:22] MathieuAA commented on #11805
I meant that I wished, and still wish, to "add" my part of this bounty to the bounty related to adding cypress for JHipster

[2020-07-09 10:41] 62mkv opened #12054 "add options for "import-jdl" subcommand to force/disable overwrites by path(s)"
##### **Overview of the feature request**

This will allow to reduce human interaction for re-importing from JDL and reduce risk of errors

##### **Motivation for or Use Case**

Every time "import-jdl" command is run, entities are "updated" even though nothing has changed in the JDL file about those entities definition, so it gets quite tedious to manually allow/disallow overwrites for every indiv

[2020-07-09 20:01] pascalgrimaud commented on #12054
You could easily accept all changes, then use your own shell script to revert the folders you want

[2020-07-10 02:31] gobigg opened #12057 "Request method 'POST' not supported"
When I try to access a non-existent interface through the gateway, the interface will report an error like  "Resolved Request method 'POST' not supported]" instead of 404
![image](https://user-images.githubusercontent.com/47057810/87109901-5f6cba00-c298-11ea-8ea1-515d4627b9dc.png)

[2020-07-10 07:49] Strat1987 opened #12058 "Java compilation version upgrade"
##### **Overview of the feature request**

JHipster still seems to java.version 1.8 in pom.xml used by the maven-compiler-plugin.
Are there plans to upgrade to using a newer version of java to compile?

##### **Motivation for or Use Case**

Since the bundled jib container is already bumped to version 11, what's stopping the team from also updating the java.version used for compilation?

##### **Re

[2020-07-10 09:31] atomfrede commented on #12058
We plan to upgrade to java 11 with v7, but still keep source compatibility to java 8 for  a certain amount of time. https://github.com/jhipster/generator-jhipster/pull/12021/files

[2020-07-10 09:31] #12058 closed

[2020-07-10 09:45] atomfrede commented on #12057
Can you fill the issue template, otherwise it is hard for us to reproduce the issue and provide suitable fixes/help.

[2020-07-10 10:02] Strat1987 commented on #12058
@atomfrede That's great to hear! looking forward to the release

[2020-07-10 19:28] javachavez opened #12059 "Reduce code: Add AbstractServiceImpl and extends services of it"
Useful to reduce code: Add AbstractServiceImpl and extends services of it:

**ABSTRACT SERVICE**
`public abstract class AbstractServiceImpl<D, E, M extends EntityMapper<E, D>, R extends JpaRepository> {

  protected final Logger log;

  protected final R repository;

  protected final M mapper;

  protected AbstractServiceImpl(final Logger log, final R repository, final M mapper) {
    this.log =

[2020-07-10 20:37] devsparkles commented on #9990
Just to say that the problem is still there

2020-07-10 21:34:09.500 DEBUG 79728 --- [  restartedMain] c.devsparkle.config.CacheConfiguration   : Starting HazelcastCacheManager
2020-07-10 21:34:10.314 ERROR 79728 --- [   store-task-1] liquibase.changelog.ChangeSet            : Change Set config/liquibase/changelog/20200710202847_added_entity_Customer.xml::20200710202847-1-data::jhipster failed.  E

[2020-07-10 20:42] devsparkles commented on #9990
20200710202847_added_entity_Customer.xml
---------
[code]
---

customer.csv
---

id;first_name;last_name;gender;email;phone;address_line_1;address_line_2;city;country;user_id
1;Chelsey;Wyman;OTHER;"z*@7.=>hG<Z";014-991-5975 x53760;Tennessee relationships Ball;full-range;Parkerfort;Uzbekistan;1
2;Thalia;Buckridge;MALE;"b@*'X(].k^|";(832) 385-8607;violet Compatible primary;Credit Card Account;New Da

[2020-07-11 02:43] haigopi opened #12060 "Failing Generated Code Compilation"
##### **Overview of the issue**

./gradlew fails to compile the generated code base.

Output directory does not exist, or is inaccessible. No file (.openapi-generator-ignore) will be evaluated.
Successfully generated code to ../build/openapi

/src/main/java/com/app/publisher/config/OpenApiConfiguration.java:12: error: package springfox.documentation.builders does not exist
import springfox.documen

[2020-07-11 06:41] pmverma commented on #9990
@devsparkles Yes the issue is there but this is something developers need to fix the CSV data manually.
Please check https://github.com/jhipster/generator-jhipster/issues/9579 and https://github.com/jhipster/generator-jhipster/issues/9579#issuecomment-519842714

[2020-07-13 05:27] nomuna commented on #12015
how about just change the included compose files port section to

    ports:
      - 127.0.0.1:9200:9200
      - 127.0.0.1:9300:9300

seems to do the trick. The postgresql.yml needs to be changed as well since it has the same problem.

[2020-07-13 08:17] andrejpodgorsek commented on #10003
Hi, any news yet?

[2020-07-13 08:46] JesusTheHun opened #12065 "Couchbase repository has worrying security defaults"
##### **Motivation for or Use Case**

When generating a project with Couchbase, the spring data repository `CrudRepository` offers a method `findById` which is then used by all repositories.
The problem is that is a Key-Value approach with no check for the type of object we want to fetch.
This mean is you have `GET /api/type-a/{id}` with the id of an object of type b, you will get a result ; of co

[2020-07-13 15:21] daniboy82 opened #12068 "jhipster stucks on " The following profiles are active: prod""
##### **Overview of the issue**

jhipster stucks on " The following profiles are active: prod" when starting with command "mvn -Pprod"

org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is java.lang.RuntimeException: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'securityConfiguration' defined in

[2020-07-13 15:48] ruddell commented on #12068
Error you posted: `nested exception is liquibase.exception.LockException: Could not acquire change log lock. Currently locked by DESKTOP-660B2KF (10.8.0.2) since 7/13/20, 3:51 AM`

It looks like the liquibase lock may have gotten stuck somehow.  You can unlock it with `./mvnw liquibase:releaseLocks` or do it manually with an SQL query on the database `update databasechangeloglock set locked=false;

[2020-07-13 16:45] daniboy82 commented on #12068
thanks for your response! the behavior changed :-)

I don't understand why jhipster is trying to recriate my db.

This db is the same I am using for development (-Pdev) and it is already created.

now I get the error:

nException: Error creating bean with name 'liquibase' defined in class path resource [br/com/dgl/reponews/config/LiquibaseConfiguration.class]: Invocation of init method failed; nes

[2020-07-13 17:20] daniboy82 commented on #12068
problem solved, i added:

    profiles:
        include: no-liquibase

thanks so much!

[2020-07-13 19:03] ruddell commented on #12068
Sounds like you solved your issue, closing

[2020-07-13 19:03] #12068 closed

[2020-07-13 23:06] JLLeitschuh commented on #10401
Hey @jdubois,

Now that GitHub supports giving credit on disclosures, would you be willing to put me as the finder on both of these?

https://github.com/jhipster/generator-jhipster/security/advisories/GHSA-mwp6-j9wf-968c
https://github.com/jhipster/jhipster-kotlin/security/advisories/GHSA-j3rh-8vwq-wh84

Also, the Daily Swig covered this, and they kinda got the story wrong, so I'm working with the

[2020-07-14 04:27] yelhouti opened #12069 "Composing blueprints"
##### **Overview of the issue**

I'm facing a few issues when building and composing blueprints.

We have two types of blueprints:
1. override blueprints (like vuejs, or primeng in our case...)
2. enhancement blueprints (PreAuthorize fine grained permissions blueprint)

The main difference is that type 1 replace all the generated code with new one, which for example is great for changing framework

[2020-07-14 06:51] atomfrede commented on #10401
@JLLeitschuh I have updated the Kotlin one, I can't update the one in the main generator.

[2020-07-14 07:59] atomfrede commented on #12060
Thanks for reporting this issue.

[2020-07-14 08:58] jdubois commented on #10401
Hi @ JLLeitschuh it should be OK for both issues! Thank you for everything

[2020-07-14 09:02] jdubois commented on #11805
@MathieuAA so I'm removing $100 here and adding them to https://github.com/jhipster/generator-jhipster/issues/11961 instead

[2020-07-14 09:03] jdubois commented on #11961
Adding a $100 bug bounty as proposed by @MathieuAA on https://github.com/jhipster/generator-jhipster/issues/11805

[2020-07-14 11:13] s-frei opened #12072 "NoSuchMethodError on startup when using WebFlux"
##### **Overview of the issue**

On application startup multiple stacktraces are thrown, caused by initializing swagger objects with wrong parameters, leading to NoSuchMethodError.

| Required type             | Provided                  |
|---------------------------|---------------------------|
| DocumentationContext      | ParameterBuilder          |
| GenericTypeNamingStrategy | DocumentationC

[2020-07-14 13:38] avdev4j commented on #12069
When you are running a blueprint, the extended generator is called. But it's true that for some steps, we can fully override them (the writing phase in vue blueprint).

For me, for an enhancement blueprint (that I called the merge pattern in our last virtual meetup) we have to call the super.writing method and return the merge of both JHipster step and yours.

Blueprint are not made, initially, to

[2020-07-14 13:40] anshul-jain opened #12073 "Swagger doesn't work with JH 6.10.1"
##### **Overview of the issue**

Since jHipster 6.10.1 the swagger api doesn't work in:

1. New generated project with context.
2. Update project from jHipsrer 6.10 with context.

##### **Motivation for or Use Case**

Swagger API

##### **Reproduce the error**

Swagger API doesn't work /admin/docs load the blank page with network tab showing the error.
<img width="1680" alt="Screenshot 2020-07-14

[2020-07-14 14:27] mshima commented on #12069
This can be implemented with current jhipster.
Is really laking documentation:
- yeoman-generator's plugin generator.
Allows to use the running jhipster, instead of the dependency one.
- yeoman-generator's custom priority.
Allows to create custom priorities that will run before another priority.
- jhipster side-by-side blueprint.
Don't change the jhipster or normal blueprint workflow, will run sid

[2020-07-14 19:56] pascalgrimaud commented on #12073
What I can see in your screenshot, is your context path. As you modified your project and add context path, you need to update the index.html, related to swagger too.

[2020-07-14 21:19] pascalgrimaud commented on #12065
cc @tchlyah as you are our expert on Couchbase

[2020-07-15 04:22] anshul-jain commented on #12073
@pascalgrimaud As per the documentation https://www.jhipster.tech/production/#running-the-application-under-a-context-path it's only one place where you need to update the context value. Which Index.html section you are saying needs update?

[2020-07-15 04:46] RDsideNow opened #12076 "Many To Many Relationship (postgres) Fails Integration Tests"
##### **Overview of the issue**

Many to Many Relationship (postgres) fails integration test

Successfully generated code to /Users/Repos/GitLab/projectX/cd/build/openapi

/Users/Repos/GitLab/projectX/cd/src/main/java/com/jhipster/demo/cd/service/mapper/EntityMapper.java:14: warning: Unmapped target property: "removeBa".
    E toEntity(D dto);
      ^
Note: Hibernate JPA 2 Static-Metamodel Generat

[2020-07-15 07:43] deepu105 commented on #12019
I think @gmarziou and @pascalgrimaud has some really valuable feedback here becoz unlike many of us they are actually maintaining applications built with JHipster, so instead of just adding my hypothetical opinion (which is just that and doesn't have a lot of Exp with actually maintaining a JHipster app for many years) I'll propose to look at their feedback and see if we can do something about it.

[2020-07-15 07:58] jdubois commented on #12019
This is indeed very surprising to me:

- Originally I wanted to generate everything, but I had a ton of negative feedback against it. That's why I pushed for the BOM and the libraries, and I believe those were good choices as they simplify the usage of JHipster and the upgrades.
- Now I see all the experienced JHipster users (and it seems unanimous) are against using the libraries (I'm less sure a

[2020-07-15 09:03] pascalgrimaud commented on #12073
You should have a look at these lines of code https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/webapp/swagger-ui/index.html#L24-L27 and probably add your context path somewhere.

Maybe something like that:
[code]

If you confirm that, it means our documentation is not totally completed and we need to update our doc.

[2020-07-15 11:28] anshul-jain commented on #12073
@pascalgrimaud I have tried with the approach you have shared but looks like there is a problem is a present even before that
https://github.com/jhipster/jhipster-sample-app/blob/8ba07644713e61d6b3615965842e06974c6c9761/src/main/webapp/swagger-ui/index.html#L24-L27 section it's not getting into the response function.
<img width="1675" alt="Screenshot 2020-07-15 at 4 58 18 PM" src="https://user-ima

[2020-07-15 17:02] pascalgrimaud commented on #12073
I used your configuration, applied the change. And everything works fine for me:

![Capture d’écran de 2020-07-15 19-01-07](https://user-images.githubusercontent.com/9156882/87573728-a52ce680-c6cd-11ea-96aa-3c458b08366c.png)

Here my git diff:

[code]

[2020-07-15 17:03] pascalgrimaud commented on #12073
The only task here to do is to update our documentation.

[2020-07-15 22:16] ecostanzi opened #12080 ".jhipsterignore file"
##### **Overview of the feature request**
To prevent Jhipster from overriding files, we could add a `.jhipsterignore` file to the workspace. It would have .gitignore-like syntax and could be used to "freeze" files after generation.

##### **Motivation for or Use Case**

These are some of the examples that come to my mind after having used jhipster for a while:

- Services and Controllers are almos

[2020-07-15 23:26] mshima commented on #12080
Not fully convinced yet.
But, this approach won't work for:
- needles
- copy: https://github.com/jhipster/generator-jhipster/blob/dc03fd49b71fe2e8560b24e93cf002431ae4bcb7/generators/generator-base-private.js#L795
- modules and blueprints that don't use jhipster`s apis.

It should be implemented at yeoman-generator.
IMO the right approach is just like https://github.com/jhipster/generator-jhipster/

[2020-07-16 07:24] ecostanzi commented on #12080
Thank you for pointing out. Would yeoman transformstream approach solve all the three issues you raised?

BTW i'd still suggest a dedicated ignore file. As a developer, I cannot think at a scenario where I want to choose a file and force the override for it, but I could miss some point in this case.

[2020-07-16 09:55] DanielFran commented on #11740
@pascalgrimaud @ctamisier version 8.0.21 is now available: https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-21.html

I will create a PR today to update the version in BOM project, so we can close this PR.

[2020-07-16 10:01] pascalgrimaud commented on #11740
Thanks a lot.
So the best fix was to wait the new version :)

[2020-07-16 10:33] mshima commented on #12080
To solve point 3 it needs to be implemented upstream.
You can implement here and once it’s is ready I can help moving it upstream.

Not just force, you could add support to:
- skip: don’t commit the file others transforms and log applies.
- ignore: remove the modified state from nem-fs and remove the file from transform queue.
- diff: skips the file but print the diff.
- whitespace: forces when on

[2020-07-16 10:42] mshima commented on #12080
Another request for a similar feature https://github.com/jhipster/generator-jhipster/issues/12054

[2020-07-16 11:03] mshima commented on #12080
@ecostanzi I feel you should close this issue and open at yeoman-environment so we could discuss there:
- Any motivation for this as a jhipster feature is just hacky.
If we want DDD, we should implement DDD, not ignoring non-DDD file.
If we want immutable liquibase, we should implement incremental liquibase changelog.
This is a feature jhipster should support at all.
- As a generic yeoman feature

[2020-07-16 11:11] ctamisier commented on #11740
Can you see a fix about this issue ?
eventually here: https://dev.mysql.com/doc/relnotes/connector-j/8.0/en/news-8-0-21.html#connector-j-8-0-21-bug

[2020-07-16 11:44] DanielFran commented on #11740
@ctamisier I just checked that mysql/mysql-connector-j@c1e9c7d#r39054941 was on 8.0.21
![image](https://user-images.githubusercontent.com/3706415/87667210-df47c800-c761-11ea-8dd5-6f0e42f166ec.png)

[2020-07-16 11:54] DanielFran commented on #11740
@ctamisier I review again the commits for that version and in fact there is no commit to fix the current issue in 8.0.20, I mislead with the commit you put bellow...

[2020-07-16 14:23] anshul-jain commented on #12073
@pascalgrimaud Thanks for your reply, Today I have a give a try again with the fresh copy of the project, with having all the Node Modules deleted and after this, I am able to access the swagger-docs section without any error.
Thanks

[2020-07-16 15:56] ecostanzi commented on #12080
@mshima ok I understand your point, ignoring files is more a yeoman task than a jhipster task. I'll see if I can address it on yeoman environment.

However, preventing jhipster from overriding files during entity re-generation or upgrades is something that occasionally comes out. If on one hand I agree with you that a .jhipsterignore is hacky, on the other hand I think it should be addressed at a

[2020-07-16 16:14] pascalgrimaud commented on #12080
@ecostanzi : you can easily use your own shell script to do the revert of folders/files you want

[2020-07-16 16:27] mshima commented on #12080
@ecostanzi I recommend you to implement inside your jhipster branch for now.
I am doing a major cleanup at yeoman's generator/environment/test, in the end it will be pretty much a transformer like https://github.com/jhipster/generator-jhipster/commit/750236bf533dbc20cf545fea52200d7a230f6479, that just read the config and sets conflicter field.

[2020-07-16 16:32] ecostanzi commented on #12076
I confirm there's a bug here, it's related to filter testing:

[code]

[2020-07-16 19:23] leozin opened #12085 "GCP/GAE region mismatch between gcloud app and gcloud sql commands"
##### **Overview of the issue**

When jhipster gae tries to generate a sql instance, it uses the region set by gcloud app, which is loaded by running
[code]

However, sometimes the region described in gcloud app doesn't exist in gcloud sql, and the error below occurs:

[code]

In the case above, there's no "europe-west" region, but "europe-west1" for database regions.

The list of official regions

[2020-07-16 22:11] SudharakaP commented on #12085
@leozin : Thanks for reporting this. I think we need a separate prompt for CloudSQL regions. Let me add that soon. :smile:

[2020-07-17 04:15] RDsideNow commented on #12076
@ecostanzi

Not sure if this is related or a separate issue, but i also get integration errors with this JDL

application {
  config {
             applicationType uaa,
             baseName uaa,
             packageName com.jhipster.demo.uaa,
             serverPort 9999,
             serviceDiscoveryType eureka,
             authenticationType uaa,
             uaaBaseName "uaa",
             ca

[2020-07-17 05:04] SudharakaP commented on #12085
It seems that this was caused by outdated app engine locations. Some of the location values were renamed I think, and I've updated and also added the new app engine locations found in; https://cloud.google.com/appengine/pricing

[2020-07-17 07:17] ecostanzi commented on #12076
@RDsideNow it seems to be a separate issue. Please open another ticket specifying which of the three applications in the jdl fails and how to reproduce (is it happening when the application starts or when the tests are running?).

[2020-07-17 07:24] ecostanzi commented on #12076
@RDsideNow back to the original ticket. A quick fix could be to remove the `required` from the relationship.

From `Ab{ba(position) required} to Ba{ab}` to `Ab{ba(position)} to Ba{ab}`

[2020-07-17 07:28] ecostanzi commented on #12080
@pascalgrimaud I was looking for a solution that can be versioned and shared with the team. I'll definitely consider a script for simpler cases though :)

@mshima sure thanks I'll give it a try.

[2020-07-17 08:18] leozin commented on #12085
@SudharakaP your PR will not fix the problem. It will fix the `gcloud sql create` error but will generate an error when `gcloud app create` is executed
see, the name of the app engine regions are different from sql ones. `app create` accepts "europe-west" but sql create doesn't, it will accept only "europe-west1".
my suggestion is to use the the up-to-date, current region list provided by gcloud a

[2020-07-17 13:26] RDsideNow commented on #12076
@ecostanzi i will try that and let you know

I was able to resolve the other failing integration tests by adding the required tag to the many side of the vendor one to many relationships

[2020-07-17 14:14] bagage commented on #11766
Is that still an open issue? On a newly generated empty project, E2E tests last 10s and it seems alerts are dismissed without waiting timeout?

[2020-07-17 14:31] Falydoor commented on #11766
Did you create an entity? I still have the issue:

![image](https://user-images.githubusercontent.com/2212267/87797415-a3bc0500-c818-11ea-8856-51308120e6eb.png)

[2020-07-17 14:51] avdev4j opened #12090 "JHipster Control Center"
##### **Overview of the feature request**
A few weeks ago, @PierreBesson has written an RFC to provide companion sidecar to manage JHipster apps (https://github.com/jhipster/generator-jhipster/issues/10913). This RFC is available here : https://github.com/jhipster/generator-jhipster/blob/master/rfcs/2-jhipster-rfc-jhipster-control-center.md

We decide to focus this feature on the V7. This is a dif

[2020-07-17 15:24] atomfrede commented on #12090
Really great work from what I have seen already! :+1: One thing I am not sure how we plan to handle this following: In e.g. micronaut blueprint we have modified the metrics page because the response format is a little different. Is there a solution for that already or any idea how to handle such things within the JHCC?

[2020-07-17 15:34] avdev4j commented on #12090
I don't think so @atomfrede but indeed why not to include this in the current JHCC? Or better, find a way to personalize JHCC without forking the project. I know this is what @PierreBesson target for future releases.

[2020-07-17 15:38] PierreBesson commented on #12090
@atomfrede I would say it's OK if not all actuator endpoints are available in all backends (some people might disable specific endpoints on purpose [as described in the docs](https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.html#production-ready-endpoints-enabling-endpoints)). I was thinking that the JHCC should use the /management listing endpoint to know w

[2020-07-17 15:41] atomfrede commented on #12090
Sounds good. Looking forward for whats coming here!

[2020-07-17 16:24] RDsideNow opened #12091 "One To Many Relationship (postgres) Fails Integration Tests"
##### **Overview of the issue**

Integration Test Fails when there is no required tag on the many entity

##### **Motivation for or Use Case**

gitlab ci-cd fails when the integration tests fail

##### **Reproduce the error**

Import JDL
Run the integration tests

##### **Related issues**

#12076

##### **Suggest a Fix**

I believe it has something to do with filtering.  If i add the require tag t

[2020-07-17 16:38] RDsideNow commented on #12076
@ecostanzi yes removing the required tag resolved the integration test failures

[2020-07-17 17:25] SudharakaP commented on #12085
@leozin : Thanks for pointing it out. Yes, you are correct there's some difference between the naming of the sql regions and the app regions. I initially thought they updated both, but it seems that the app regions still have names such as `europe-west` whereas the corresponding sql region is `europe-west1`.

I am not sure about using `gcloud app regions list` as it only gives the tags for the reg

[2020-07-17 17:49] ruddell opened #12092 ""jhipster info" outputs "identical .jhipster/EntityName.json" for all entities"
##### **Overview of the issue**
`jhipster info` prints `identical .jhipster/EntityName.json` for all entities after it runs.

##### **Motivation for or Use Case**
This information is unnecessary and shouldn't be printed during `jhipster info`. It logs once per entity, so apps with many entities have many extra logs.

Also files should not be modified during `jhipster info`

##### **Reproduce the e

[2020-07-17 18:05] mshima commented on #12092
The source is:
https://github.com/jhipster/generator-jhipster/blob/990550f84a1600aedc854cf97d5c6e13b5b2eb33/generators/generator-base.js#L1324-L1325

I did this change because import-jdl generates `.jhipster/*.json` but not prettified.

We can workaround with a property like `this.skipEntitiesRewrite` but in my opinion the fix is jhipster-core to return the files structures and let the generator w

[2020-07-17 18:38] SudharakaP commented on #12085
I've cross checked the app locations and cloud sql locations and it seems this discrepancy is only there for `europe-west1` and `us-central1`. So I've added some logic to correct that when we create cloud sql. I don't know if this is the optimal solution for this. Maybe if you have a better suggestion feel free to let me know. :smile:

[2020-07-17 18:54] leozin commented on #12085
@SudharakaP I was going to suggest a check to see if the region doesn't end with a number (and append 1) but by checking your PR, I think your code change is the safest.
Thanks for the fix, and thanks for the good work 👍

[2020-07-17 19:19] SudharakaP commented on #12085
You are welcome :+1:

[2020-07-18 08:32] #12085 closed

[2020-07-18 09:09] pascalgrimaud commented on #7112
@yelhouti : I need you, to tell us if this feature should be in V7 plz. Should I put it in our roadmap ?

[2020-07-18 13:16] yelhouti commented on #7112
@pascalgrimaud yes please, just tell me when I can start working on it.

[2020-07-18 13:48] pascalgrimaud commented on #7112
@yelhouti : when you want ! In fact, the current master branch is for v7. And FYI, jhipster core has been merged here too.
So everything can be done here.

[2020-07-18 14:53] haigopi commented on #4097
With the newer version: the fallback is 127.0.0.1 jhipster-registry

[2020-07-18 15:21] mshima commented on #11736
- Migrate to auto increment.
https://github.com/liquibase/liquibase/releases/tag/v4.0.0-beta1
https://github.com/liquibase/liquibase/releases/tag/v3.10.1

[2020-07-18 15:36] DanielFran commented on #11736
@mshima You mean "postgresql >= 10: use identity columns for autoincrement"?

[2020-07-18 15:46] mshima commented on #11736
Maybe we should use autoIncrement feature for postgresql too.
https://github.com/jhipster/generator-jhipster/blob/902160664a79cce8130e8077867f52ef4c394eac/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs#L27-L33

[2020-07-18 15:51] DanielFran commented on #11736
@mshima Yes I agree, since I migrate to liquibase 3.10.1 (and PR is ready for 4.0.0), we can now switch to autoincrement.

Will you make the PR or do you want I take care of it?

[2020-07-18 15:54] mshima commented on #11736
@DanielFran posted to keep note, pretty busy in the generator refactoring.
Feel free to work on it.

[2020-07-18 16:18] murdos commented on #11736
Why would you want to use autoincrement for Postgres?
As far as I understand, the point in this article still stands: https://vladmihalcea.com/postgresql-serial-column-hibernate-identity/
The new identity feature in Postgres is just a more convenient and cleaner way to manage the underlying sequence used by Postgres, but this is still problematic with JPA/Hibernate.

[2020-07-18 16:47] DanielFran commented on #11736
@murdos The only changes expected is to use autoincrement in liquibase side that define the "GENERATED AS IDENTITY" that still uses a sequence

[2020-07-18 17:43] yelhouti commented on #7112
@pascalgrimaud great thanks, I will starting working on it ASAP, @mshima  can you confirm that you finished what you asked me to wait for? thanks

[2020-07-18 17:48] mshima commented on #7112
@yelhouti not finished https://github.com/mshima/generator-jhipster/pull/27.
The PR is against my own branch to keep track of generated code changes, so that at least for the tests projects are generated correctly.

[2020-07-18 17:50] mshima commented on #7112
@yelhouti I am just changing the generator, feel free to start from the templates, or be prepared to rebase the generator.

[2020-07-18 18:45] haigopi opened #12099 "Dockerized UAA Timedout."
##### **Overview of the issue**

**Problem:** Non-Dockerized Microservice is timing out to connect to a Dockerized UAA. I am not 100% sure if this is a bug or maybe I am missing something.

**Error:**       org.springframework.web.client.ResourceAccessException: I/O error on GET request for "http://uaa/oauth/token_key": Operation timed out (Connection timed out);

**hosts file:**
----------------

[2020-07-19 01:27] haigopi commented on #12099
Closing this as I am able to find the solution.

As I am experimenting with KeyCloak, I found the fix:

1. Add 127.0.0.1 keycloak to /etc/hosts file
2. Update the application.yml as below instead of localhost
            issuer-uri: http://keycloak:9080/auth/realms/jhipster

Doing the same for UAA as well, things started working.

JHipster Rocks!

[2020-07-19 01:27] #12099 closed

[2020-07-19 01:49] SudharakaP commented on #12017
@pascalgrimaud : Just want to verify with you before I work on this whether there's any workaround to this that you know of? I am kind of surprised since I haven't seen this raised by anyone before, for any other cloud deployments we support (gae, heroku etc) ? :smile: :thinking:

[2020-07-19 05:31] naranglakshay commented on #10221
facing same issue

[2020-07-19 05:32] naranglakshay commented on #10221
where  i need to change in the yml file?

[2020-07-19 07:59] pascalgrimaud commented on #12017
@SudharakaP : my opinion about all cloud deployment is to provide a sample for our users. We can't cover all cases because there is too much different ways to deploy in production. We have very few feedbacks (or no feedbacks at all), because most of users use it for:
- having default k8s files, and then customizing all these files, to match to their needs
- playing with this cloud provider and lea

[2020-07-19 09:37] PierreBesson commented on #12017
I think there is a confusion here about our spring profiles. It has always been the case that we only support deployments using the "prod" profile while the "dev" profile is for local development.

This profile is unrelated to the name of the environment in which it is deployed (eg. staging, production, some even call their environment "dev" !). However while you could use the spring profile to de

[2020-07-19 09:41] PierreBesson commented on #12017
To comment further on the feature request of supporting multiple deployment environment, I think it goes beyond the initial goal of JHipster. JHipster wants to provide a starting point to help the user deploy his app. I would argue we should not go as far as managing multiple deployment environments from JHipster.

[2020-07-19 09:50] pascalgrimaud commented on #12017
Yes, @PierreBesson is totally right here ! Our dev / prod profile is related to our packaging:
- dev -> for quick start
- prod -> specially for optimizing the front part

Once you want to deploy in production environnement, you must override a lot of properties. Do not put it in application-prod.yml !

[2020-07-19 10:34] pascalgrimaud commented on #12090
We need to review this question too: `? Do you want to use the JHipster Registry to configure, monitor and scale your application?`

As by default, we'll have a new `jhipster-control-center.yml` file, in `src/main/docker/` folder

[2020-07-19 13:52] SudharakaP opened #12103 "Update GitHub Actions with Dependabot"
##### **Overview of the feature request**

This is a simple enhancement such that GitHub action workflows are also automatically managed and updated by dependabot.

Reference: https://github.blog/2020-06-25-dependabot-now-updates-your-actions-workflows/

##### **Motivation for or Use Case**

Just automating things a bit more to ease the burden of manually doing stuff.

##### **Related issues or PR

[2020-07-19 14:14] SudharakaP commented on #12017
@pascalgrimaud, @PierreBesson : Thanks a lot for the inputs; very much appreciated. I am closing this as it seems there's nothing more to be done on this one in terms of development.

@neshanjo : Feel free to let us know if you have further questions or comments on this. :smile_cat:

[2020-07-19 14:14] #12017 closed

[2020-07-19 14:35] pascalgrimaud opened #12105 "Liquibase 4.0 problem when starting with jar+prod profile"
##### **Overview of the issue**

Following this https://github.com/jhipster/generator-jhipster/pull/12097
There are some warnings when starting the application with `java -jar` with production profile.

##### **Motivation for or Use Case**

Here the stacktrace:

[code]

##### **Reproduce the error**

##### **Related issues**

See https://github.com/jhipster/generator-jhipster/pull/12097

##### **S

[2020-07-19 15:43] pascalgrimaud opened #12109 "Prettier Java by default"
##### **Overview of the feature request**

In v6.10.1, we have the flag `--prettier-java`
For v7, we should put `prettier-java` by default, in all generated projects.

We should discuss about the flag `--no-prettier-java` but I'm not in favor for keeping this, as we don't have it for our frontend.

cc @clementdessoude @Shaolans @murdos

##### **Motivation for or Use Case**

I use prettier-java for

[2020-07-19 15:50] pascalgrimaud commented on #12109
@mshima : as it's related to `prettier`, I can mention it here. But I'm not sure it's related to prettier-java, maybe related to yeoman phase. I'm a little lost for this minor issue.
When I generate a Vue application, at the end of generation, there are some files which are not commited by git:

[code]

Here an extract of git diff, which is related to prettier:

[code]

But when I `git add`, every

[2020-07-19 16:46] #12103 closed

[2020-07-19 17:05] mshima commented on #12109
@pascalgrimaud looks like a prettier conflict of the generated prettier config/version with main generator one.
I will try to reproduce this error.

[2020-07-19 17:57] murdos commented on #12109
@pascalgrimaud I agree with you, I would remove the flag to disable prettier-java too

[2020-07-19 18:29] jdubois commented on #11681
Hi @JesusTheHun - only sponsors https://www.jhipster.tech/sponsors/ like Okta can give bug bounties.
Our aim is to have long-term relationships with a few select companies, and your proposal is not something we anticipated. Maybe you can directly pay someone to help?

[2020-07-19 18:35] jdubois commented on #11681
@murdos are you coming to JHipster Code? This could be one of our tracks?
Then @JesusTheHun this would be something very new, but maybe we could find a solution with your company sponsoring the conference track (people working on this during the conference would get a gift from your company, or something similar)

[2020-07-19 18:56] murdos commented on #11681
@jdubois : No, I unfortunately can't attend the conference

[2020-07-19 18:58] jdubois commented on #11681
@murdos oh but you had a ticket I believe! Are you sure you can’t come? Budget for core competitors in France isn’t an issue.

[2020-07-19 20:12] murdos commented on #11681
@jdubois : I took a ticket for the initial date in June, but I'm not available at the new date in September.

[2020-07-19 20:18] tchlyah commented on #12065
@JesusTheHun, this is a very good point! But using N1QL for requesting data by ID is not a good idea: Since Couchbase is primarily a key/value store, the most effective and performant way to request data is directly by ID.

One possible and easy solution is using a prefix as we are doing for [User](https://github.com/jhipster/generator-jhipster/blob/7676bea4b57d252ffd21a168a251df44b4edbd55/generat

[2020-07-19 22:02] atomfrede commented on #12051
@jhipster/developers If we all agree on the above solution I can provide a PR as having potential (internal) technical details by accident revealed via the api is not good.

[2020-07-20 00:30] RDsideNow opened #12122 "Single Enum Value Fails Integration Test"
##### **Overview of the issue**

If a single enum value is present, integration test fails

##### **Motivation for or Use Case**

Causes gitlab ci-cd integration tests to fail

##### **Reproduce the error**

Import JDL

Run integration tests

##### **Related issues**

#12076
#12091

##### **Suggest a Fix**

Not sure if the issue is in the filtering or not

##### **JHipster Version(s)**

##### **JH

[2020-07-20 09:30] cbornet commented on #12051
If we do it, it should be limited to the `prod` profile.

[2020-07-20 09:36] atomfrede commented on #12051
@cbornet Yes, good point, makes sense.

[2020-07-20 10:25] gmarziou commented on #12051
@atomfrede does your implementation impact also logging or only http response?

[2020-07-20 11:27] atomfrede commented on #12051
The log still shows the detailed error message even when the response just states "Unable to convert http message". And yes we should document this.

[2020-07-20 11:36] jdubois commented on #11681
Thanks @JesusTheHun ! For working on that issue as a freelancer, @murdos you might be the best person? Otherwise maybe @avdev4j @wmarques @MathieuAA @ruddell as they are all core team members and also work as freelancers

[2020-07-20 14:47] cbornet opened #12125 "Springfox 3 upgrade"
Springfox v3 has finally landed so we can finally migrate.
Things to do:
* It now supports both MVC and Webflux so we should be able to have the same features for both options (ie remove the specific code we currently have for the reactive option)
* The Pageable plugin must be reworked to use the new `ModelSpecification` (I already have it working :smiley: )

Now the question is : should we also m

[2020-07-20 14:52] JesusTheHun commented on #11681
If one of the pinged person is interested, please email me at jonathan dot massuchetti ignorethisitsforbots at dappit.fr

[2020-07-20 17:04] AlexandreCassagne commented on #12051
Ideally, we should implement specific error messages for a wide variety of exception types. One of the issue is that the quality of certain exceptions is low (looking at database messages for instance, Postgres implements high quality metadata in its exceptions, but MySQL doesn't make it easy to interpret exceptions).

[2020-07-20 17:04] DanielFran commented on #12125
Since it will be included in v7, it is time for me to switch to OpenAPI v3 by default, and we can keep v2 for backward compatibility of previous application version (depends if it is to much work).
Will update v7 planning to remove migration to springdoc and add OpenAPI v3 migration to reference this ticket.

[2020-07-20 19:21] cbornet commented on #12125
Great. I also plan to replace the UT we have for springfox autoconfig which are not very useful (not much logic to test, only mocks, etc...) by much more meaningful integration tests.

[2020-07-20 19:34] pascalgrimaud commented on #12125
Only if it's not much work and no 'hack'. Otherwise, let's switch to v3 completely !

[2020-07-20 19:40] cbornet commented on #12125
Not much work and not hacky at all :smiley:

[2020-07-20 20:01] cbornet commented on #12125
Should we also take the opportunity to rename `swagger` to `openapi` everywhere ?

[2020-07-20 20:03] pascalgrimaud commented on #12125
yes agree @cbornet for v7

[2020-07-20 20:16] atomfrede commented on #12051
If you have some specific ones already in mind feel free to provide them. I will do two things

* Provide a PR similar to the outlined approach
* Document it and explicitly state if you need more specific messaged you have to handle them

[2020-07-20 21:47] DanielFran commented on #12105
@pascalgrimaud Issue has been reported in liquibase too: https://github.com/liquibase/liquibase/issues/1276

Will rollback the update until this is fixed in liquibase side.

[2020-07-20 23:10] #12105 closed

[2020-07-21 06:53] pascalgrimaud commented on #11122
This approach in JHipster is something a lot of people want: it's in V7 roadmap.

But as this ticket has been opened since january, so I'd like to know if someone are willing to work on this.
Otherwise, I'll remove this ticket from our roadmap.

Anyway, the sample app can be coded during JHipster Code, and probably the templates would be for the next major version V8, in 1 or 2 years.

cc @hdurix

[2020-07-21 07:27] murdos commented on #11122
I plan to work at some point on extending what has been called `embedded` entities - which could be seen as ValueObjects - currently supported only for MongoDB and Couchbase, to other databases that could be supported (SQL, Cassandra, ...), because IMO ValueObjects are a must have for DDD approach.
Not sure I can do it for V7, but since it would be a new feature without breaking change, it doesn't

[2020-07-21 10:06] mshima commented on #12054
Closing following discussion at https://github.com/jhipster/generator-jhipster/issues/12080

[2020-07-21 10:06] #12054 closed

[2020-07-21 10:07] mshima commented on #12054
This feature should be implemented upstream.

[2020-07-21 10:24] 62mkv commented on #12054
is corresponding issue already raised against yeoman-environment? can we link it here?

also, I have a strong feeling, that there's much bigger issue, namely - "import-jdl" subcommand keeps updating entities that were not touched/changed since latest run. is there any way around it ?

May be I could use some phased approach, where initially I updated just the `.jhipster/*.json` or `.yo-rc.json` de

[2020-07-21 11:11] mshima commented on #12054
No. I don't see that as a priority, so if your are planning to work on this raise it.

I don't see this as a bug.

Not doable with our current man power.
Need the inverse, we need jhipster-core to stop writing the file to the disk, so we could compare the old state.

`jhipster jdl`

Not currently.
And I think the main goal for JDL-centric is to remove `.yo-rc.json` and `.jhipster/*.json`.

I think

[2020-07-21 11:57] 62mkv commented on #12054
concerning your comment on the "not a bug": this is what the official documentation has to say on this:

(from https://www.jhipster.tech/creating-an-entity/)

am I reading it wrong?

[2020-07-21 12:02] 62mkv commented on #12054
(also, `jhipster jdl` is an unknown command)

[2020-07-21 12:10] 62mkv commented on #12054
I've discovered a `-d` option, and it seems that `import-jdl` subcommand is indeed looking into only one (changed) entity, but it then proceeds to generating code (even though a `--json-only` has been given as an argument), and _that step_ is regenerating everything (including code entity-specific code for unchanged entities)

should I raise a defect for this?

[2020-07-21 12:19] 62mkv commented on #12054
that is probably what you mean when you say "Need the inverse, we need jhipster-core to stop writing the file to the disk, so we could compare the old state."

So it indeed, looks like this is exactly what is happening.

If I remember correctly, `jhipster-core` is going to be part of this project since v7 release. So maybe it's worth creating an issue for that in this project? And first of all, sh

[2020-07-21 13:01] neshanjo commented on #12017
Thanks for your comments!

@pascalgrimaud I agree that this is probably the main purpose of all parts of JHipster, to get sample (a really good one, chapeau!) of a fullstack application that you can modify to suit your personal needs.

However, that's not what the aws subgenerator gives. Unlike k8s templates that are adaptable, the `jhipster aws` command is a black box that uses some internal scri

[2020-07-21 14:21] mshima commented on #12054
It's a bug then.
You can open a new issue.

Should be there for jhipster >= 6.10.0

Have you tried `--ignore-application`?

[2020-07-21 15:12] #12109 closed

[2020-07-21 16:34] clementdessoude commented on #12109
Thanks @mshima !

[2020-07-21 16:49] avdev4j opened #12135 "Remove Yarn support"
##### **Overview of the feature request**
According to the v7 Roadmap https://github.com/jhipster/generator-jhipster/issues/10958 I suggest to remove totally the Yarn Support in JHipster.

##### **Motivation for or Use Case**
As NPM do the job as expected, IMHO, we should remove Yarn as ClientPackageManager and reduce the amount of options.
Less options would let us more time to focus on valuable

[2020-07-21 19:32] RDsideNow commented on #12135
@avdev4j

Will there be a way to migrate from yarn to npm?

[2020-07-21 19:35] avdev4j commented on #12135
For the moment, no. But indeed this is an issue we need to fix. Do you have any idea?

[2020-07-21 19:40] RDsideNow commented on #12135
@avdev4j

i do not.

I inquired because i am in progress on an app that uses yarn for package management.  Always have trouble with npm.

Sad to see yarn support go.

From doing some research this may help?

https://stackoverflow.com/questions/51239726/react-native-switch-from-yarn-to-npm

[2020-07-21 20:22] trixprod opened #12136 ""DockerFile to Jib migration" force us to abandon non root user practice"
Hello,

I'm little bit surprised when i have migrated some of my projects from DockerFile to the standard Jib docker image build process.

The DockerFile was supposed to create an "jhipster" user to prevent us to use root user ( A critical issue was discovered in 2019 and was related to usage of root user ).

I was not able to reproduce the old good behaviour with Jib by creating an user and i hav

[2020-07-21 21:56] avdev4j commented on #12135
According to your link, this is what I'm think:

Coule be done by JHipster during the migration 6.x -> 7

Is it really necessary ? Otherwise could also be done by JHipster (need to confirm that)

package.json will be automatically updated by the v7 generation. We just need to be sure that in the .yo-rc.json "yarn" will be updated to "npm"

To sum up, I would say that we need to remove one file, up

[2020-07-21 23:07] avdev4j commented on #12135
I've just done some tests:
- Generate a JHipster application with Yarn from 6.10.0 version `jhipster --yarn`
- Switch to my branch (that remove Yarn support)
- Re-launch JHipster `jhipster --force`

Conclusion:
After migrating to the version that no longer support Yarn, npm is automatically called. Everything seems to ran fine, only yarn.lock and yarn-error.log have not been removed.
I think that

[2020-07-22 00:01] SudharakaP commented on #11914
Closing this as the everything related to this issue has been fulfilled. :smile:

[2020-07-22 00:01] #11914 closed

[2020-07-22 02:01] PC-Chiu opened #12138 "BUG: Undertow SSL can not work with Reactive app."
When I boot gateway(Reactive) with append profile `tls`, Undertow SSL can not work.

##### **Reproduce the error**

[code]

##### **Suggest a Fix**

Change

[code]

to @ConditionalOnBean({UndertowServletWebServerFactory.class})

and add `UndertowSSLReactiveConfiguration`

[code]

##### **JHipster Version(s)**

6.10.1

##### **Browsers and Operating System**

Mac OS

[2020-07-22 07:54] atomfrede commented on #12136
A good point. There is an option to set a container user (see https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#configuration). We should use that if possible.

[2020-07-22 20:35] pascalgrimaud opened #12139 "Neo4j: roles are lost when activating/deactivating user"
##### **Overview of the issue**

In http://localhost:8080/admin/user-management
When activating or deactivating an user, all roles are lost.

When updating an User -> same

##### **Motivation for or Use Case**

Detected by Vue daily builds, which have more e2e tests.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

##### **JH

[2020-07-22 20:38] pascalgrimaud commented on #12139
I'll need your help here @atomfrede :)

[2020-07-22 20:42] atomfrede commented on #12139
Let me check. I think it's a known issue with sdn/rx.

[2020-07-22 20:57] pascalgrimaud commented on #12139
Thanks @atomfrede
I think it's related to these lines: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/service/UserService.java.ejs#L514-L515

[2020-07-22 21:02] pascalgrimaud commented on #12139
Maybe missing `neo4j` here: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/service/UserService.java.ejs#L520

I'm testing it

[2020-07-22 21:17] pascalgrimaud commented on #12139
sorry for disturbing you @atomfrede : it should be fixed. No need to know neo4j here to fix it =)

[2020-07-22 22:00] DanielFran opened #12142 "Update Keycloak to 11.0.x"
##### **Overview of the feature request**

See https://www.keycloak.org/2020/07/keycloak-1100-released.html

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-07-22 22:01] DanielFran commented on #12142
Ping @vishal423

[2020-07-22 23:56] frankliu81 opened #12143 "Unable to start application with docker-compose on a new project due to invalid app.yml"
##### **Overview of the issue**

I tried to run the docker image following the instructions here on a newly created jhipster nodejs project
https://www.jhipster.tech/docker-compose/

16:25 ~/src/energy-manager (integration) $ docker-compose -f src/main/docker/app.yml up
ERROR: The Compose file './src/main/docker/app.yml' is invalid because:
services.energymanager-app.environment contains an invali

[2020-07-23 04:15] SudharakaP commented on #11935
Just for reference, I believe by end of this year GitHub will support this natively and probably it's easier to wait until then;

https://github.com/github/renaming/

And currently they have done parts of it; https://github.blog/changelog/2020-07-22-github-actions-better-support-for-alternative-default-branch-names/

[2020-07-23 05:30] atomfrede commented on #12139
Awesome!

[2020-07-23 06:46] #12139 closed

[2020-07-23 15:20] yuniel-acosta commented on #12135
@avdev4j I feel sad and a little disappointed to know that yarn will no longer be part of jhipster. IMHO I prefer to use yarn above npm. I notice that yarn is much faster than npm and I have verified it using fast internet and slow internet

[2020-07-23 15:54] ksilz commented on #11122
@pascalgrimaud I didn't find any good documentation on "How to make JHipster upgrades less painful", beyond these two presentations from [2019](https://youtu.be/Gg5CYoBdpVo) and [2018](https://youtu.be/9WVpwIUEty0). What is a good place for me to share my lessons learned?

[2020-07-23 16:00] ksilz commented on #11681
@jdubois Spring Boot 2.4 will be out [in October / November](https://spring.io/blog/2020/06/29/spring-boot-2-4-0-m1-is-now-available). Maybe we should just wait for that release that's three months away?

[2020-07-23 16:07] frankliu81 commented on #12143
This was fixed by removing the environment line and the extra colon at the end of the port from
ports:
      - 8081:8081:

[2020-07-23 16:07] #12143 closed

[2020-07-23 17:59] pascalgrimaud commented on #12135
@yuniel-acosta : we didn't remove Yarn yet. It is still in discussion.
I'm the one who added Yarn support in the past, and I suggest to remove the support in v7.

The reason is to have less options to maintain.
Few months ago, I had daily builds with Yarn which failed during 1 month. No one see it and I was lazy to fix it because I don't use Yarn.

For me, we have too much options in JHipster, so

[2020-07-23 21:39] yuniel-acosta commented on #12135
I know it is a lot of work and effort to keep all these technologies together, but from my point of view the large number of options that jhipster offers is one of its greatest advantages.  I know that few of us use yarn as a package manager, but it is my favorite as is vuejs, vuetify (maybe in the future I will try to add vuetify as a blueprint), postgres, neo4j and kotlin.  The good and beautifu

[2020-07-24 02:28] mshima commented on #7112
@yelhouti done for now.

[2020-07-24 06:09] #12125 closed

[2020-07-24 07:05] jdubois commented on #12135
We do have the data in our database, but we have no reports set up to analyse this, so it's very complicated for me to get this. That's something we should do for v7: export that data (which is anonymized anyway), and use some kind of reporting tool for analyzing different options (not just Yarn) in order to remove the ones nobody use

[2020-07-24 21:35] amirdt22 opened #12145 "datasource is incorrect in kubernetes generator"
##### **Overview of the issue**

running `./kubectl-apply.sh -f` fails to bring up the monolith with a datasource connection refused exception

##### **Motivation for or Use Case**

##### **Reproduce the error**

* follow the directions at https://www.jhipster.tech/kubernetes/
* ...
* after running `kubectl-apply.sh -f` check the pod for the monolith

* `kubectl logs testapp-xxxx-xxxx # see connec

[2020-07-24 21:37] amirdt22 commented on #12145
<details>
  <summary>exception when manually running `./entrypoint.sh` in kubernetes shell</summary>

[code]

</details>

[2020-07-24 21:53] atomfrede commented on #12012
I can reproduce it. I would suggest we do the same approach as we have for neo4j setting properties in the redis extensions.

[2020-07-24 22:07] atomfrede commented on #12136
This configuration works pretty well and set the user the first non root user:

[code]

[2020-07-25 11:00] novaware-io opened #12147 "[Angular] In specific conditions, the wrong token is always picked up after successful login"
##### **Overview of the issue**

There is a specific case in a generated Angular app, where even if the login is valid, the app will use the another token and the new one will be ignored.

##### **Motivation for or Use Case**

This is an edge case but it's something that can happen during the development and I've lost 30 minutes to understand the issue.

##### **Reproduce the error**

Login with a

[2020-07-25 15:41] qmonmert commented on #11910
@skmaingi I don't reproduce this bug
I think that we can close it ?

[2020-07-25 16:24] pascalgrimaud commented on #11910
thanks @qmonmert. I think it's resolved in master. So let's close this.

[2020-07-25 16:24] #11910 closed

[2020-07-26 02:54] yuniel-acosta opened #12148 "Login regex needs refactoring"
##### **Overview of the issue**

Testing the login of the users note that according to the regex **^(?>[a-zA-Z0-9!$&*+=?^_`{|}~.-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*)|(?>[_.@A-Za-z0-9-]+)$** this would be a correct login "......." or "/ .......". It is even possible to insert in the database which could be a security vulnerability in addition to the fact that it is not correct that there is a user

[2020-07-26 06:44] StayHungryStayFoolish opened #12149 "Gateway failed to get OAuth2 tokens from UAA"
**Overview of the issue**

I used JHipster version 6.10.1 to generate uaa and generated gateway based on uaa. When I start a project cloned based on https://github.com/jhipster/jhipster-registry or a Docker image based on jhipster/jhipster-registry latest, Start uaa again, when the gateway starts, the following error is displayed. Regitry displays Uaa and Gateway instances, but it seems that Gatew

[2020-07-26 08:18] StayHungryStayFoolish commented on #12149
I rolled back the JHipster version to 6.5.1 and everything is fine.

[2020-07-26 12:30] oopsaleem opened #12151 "npm install failed if using authenticationType: session"
##### **Overview of the issue**
`npm install` failed for a new monolithic project created with default configs but changing `authenticationType: session`

##### **Reproduce the error**
`jhipster import-jdl sampleApp.jdl`
[sampleApp.jdl.txt](https://github.com/jhipster/generator-jhipster/files/4977581/sampleApp.jdl.txt)

![Annotation 2020-07-26 152812](https://user-images.githubusercontent.com/3925

[2020-07-26 12:49] atomfrede commented on #12151
Can you delete your `package-lock.json`? This is most likely an issue with npm and not jhipster.

[2020-07-26 13:12] oopsaleem commented on #12151
Hi @atomfrede  `package-lock.json` doesn't exist yet.

##### **JHipster Version(s)**
 JHipster v6.10.1

##### **JHipster configuration**

INFO! Using JHipster version installed globally
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>

[2020-07-26 14:20] oopsaleem commented on #12151
npm clean

[2020-07-26 15:14] #12151 closed

[2020-07-26 15:14] oopsaleem commented on #12151
Issue resolved by:

npm uninstall -g generator-jhipster
npm cache clean
npm install -g generator-jhipster

[2020-07-26 16:17] kevin-madhu opened #12154 "Authenticated requests always return invalid_token exception"
##### **Overview of the issue**

After addition of a new dependency (axon-spring-boot-starter for axon framework) into the project, the project always returns invalid_token for authenticated requests when it's being provided with a valid token. I'm using JHipster with UAA.

##### **Motivation for or Use Case**

I'm not able to access any authenticated endpoints with valid tokens received from the

[2020-07-26 18:03] pascalgrimaud commented on #10575
The last part was done, related to daily builds :

![Vue_builds](https://user-images.githubusercontent.com/9156882/88486041-0a5cc380-cf7b-11ea-8a8d-857b42cb21bd.png)

We can close this ticket

[2020-07-26 18:03] #10575 closed

[2020-07-26 20:01] pascalgrimaud commented on #10575
The bounty has been claimed at https://opencollective.com/generator-jhipster/expenses/22609

[2020-07-26 20:20] ntorionbearstudio commented on #11398
Hello I'm working on it this week to complete the feature

[2020-07-26 20:31] atomfrede commented on #10575
Great work Pascal! 👍🎉

[2020-07-26 20:31] pascalgrimaud commented on #10575
Thanks a lot @atomfrede !

[2020-07-26 20:45] #12012 closed

[2020-07-27 05:28] vw98075 opened #12157 "Screen is cut off on the right side in the mobile mode of Vue"
##### **Overview of the issue**

In the mobile mode, many screens don't display completely. The right part of the screen is cut off. This problem can be observed in entity and administration.

##### **Motivation for or Use Case**

A user can't see the whole data, nor to perform some actions.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version

[2020-07-27 05:31] atomfrede commented on #12157
Can you provide a screenshot?

[2020-07-27 05:38] vw98075 commented on #12157
Yes, I can. But how can I attach an image file?

[2020-07-27 05:58] atomfrede commented on #12157
You can just drag and drop images for example. But I guess you mean when the tables have many columns and the screen is small you can see everything or need to scroll.

[2020-07-27 08:09] avdev4j opened #12163 "Add JHipster Control Center Docker Compose documentation in JHipster website"
##### **Overview of the feature request**
JHipster Control Center Docker Compose file is generated according to the options chosen by the user. For some reasons we could personalize the yaml. We need to add a dedicated page to JHipster website.

##### **Motivation for or Use Case**
Move documentation from yaml Docker Compose to a dedicated JHipster website.

##### **Related issues or PR**
https://

[2020-07-27 08:35] atomfrede commented on #12148
Just to make sure, why to you think `......` should not be a valid login (besides it looks strange)?

[2020-07-27 09:08] PierreBesson commented on #12136
Having a non-root user is a desirable change. Possibly, at the time we migrated to jib, it did not support setting a non-root user which would explain why it is not currently in setup. @trixprod, would you consider submitting the above code as a PR for maven and gradle configurations?

[2020-07-27 09:11] PierreBesson commented on #12136
@trixprod, next time please follow our issue template. Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md).

[2020-07-27 12:38] deepu105 commented on #10575
Great work Pascal. You rock

On Sun, 26 Jul 2020, 10:32 pm Pascal Grimaud, <notifications@github.com>
wrote:

[2020-07-27 12:49] yuniel-acosta commented on #12148
This is a correct login for a user (my criteria)

Only contains alphanumeric characters, underscore and dot.

Underscore and dot can't be at the end or start of a username (e.g **_username** / **username_** / **.username** / **username.**).

Underscore and dot can't be next to each other (e.g user_.name).

Underscore or dot can't be used multiple times in a row (e.g user__name / user..name).

Rege

[2020-07-27 13:01] atomfrede commented on #12148
In fact we plan to use emails as login with v7 if I am not mistaken. Your regex won't match e.g. `admin` when testing it, are you sure thats what you would like to have?

[2020-07-27 15:19] trixprod commented on #12136
Hello @atomfrede , i already tried this but the user 1000 has to exist to run correctly the container.
That's why the DockerFile create the user jhipster before.

If we add the adduser command before the entrypoint we have a permission denied error. ( i guess it try to adduser with user 1000 ).

[2020-07-27 15:32] yuniel-acosta commented on #12148
@atomfrede You're right, fix the regular expression [regex](https://www.regextester.com/index.php?fam=117639) . Do you tell me that in version 7 of jhipster it is only allowed to authenticate using email ?. I would like both authentication options to be considered.
![username](https://user-images.githubusercontent.com/33158051/88561004-d88c4100-cffc-11ea-9653-ef750bd9df0d.png)

[2020-07-27 16:10] atomfrede commented on #12148
At least that one option that has been discussed. Eventually you can change it by adapting the regex in the generated code to your needs.

[2020-07-27 16:12] atomfrede commented on #12136
At least for our openjdk image user 1000 exists as it based on Ubuntu. For other distributions that might not work, that's true.

[2020-07-28 04:04] vw98075 commented on #12157
![Screenshot from 2020-07-27 20-55-17](https://user-images.githubusercontent.com/10793038/88617958-b9b59b00-d04c-11ea-9ca4-0e7446f14b80.png)

[2020-07-28 04:31] atomfrede commented on #12157
Thanks. Can you scroll/swipe horizontal?

[2020-07-28 04:58] vw98075 commented on #12157
The <- and -> keys don't work well for horizontal scrolling (it is the same for http://localhost:8080/admin/logs), but I can swipe to left or right.

[2020-07-28 07:02] atomfrede commented on #12157
It is the same layout as we have for angular and yes a table is not optimal for mobile views, but as we don't know what or how to display a list of entities best (only the user knows) this is the best we can do and is just a suggestion to get started. So I will close this.

[2020-07-28 07:02] #12157 closed

[2020-07-28 10:18] joewhite101 commented on #10189
I may try and pick up where @mraible left off. However, i'm the furthest thing from a webpack expert so it will be slow going. If there is a webpack expert out there who wants to take the lead I'm happy to follow.

FWIW We're looking at module federation as a pretty key technological update in webpack 5 for micro frontends. Seems like a pretty compelling use case.

cc @gidesan

[2020-07-28 11:34] deepu105 opened #12167 "JHipster control center migration plan"
With JHipster 7 we need to provide a migration path for JHCC. I'm not in favor of removing all the admin screens as it will force people to use JHCC which is a separate app thus complicating situations for simple monoliths, which is still the majority of the apps created with JHipster. It will also make infra more complicated for them, not everyone needs microservices or complicated registries and

[2020-07-28 11:44] Tcharl commented on #12142
Can't it be the occasion to improve the client definition json?

Microservice => bearer only
Gateway => confidential client

And may forcing scope to have microservices only accessible via gateways?

[2020-07-28 12:04] jehadnasser opened #12168 "Can not skip client when updating to old version of JHipster"
I am trying to update from `Release 4.14.0` to the latest `Release 6.10.1` by updating gradually between each minor/patch version, the problem is on version `4.14.1` for example there is no --skip-client option, so how to skip the client on an older version.

[2020-07-28 12:14] PierreBesson commented on #12167
That's a good idea, however, I would like to still generate the JHCC docker compose file for all apps, in case people want to test the feature.

[2020-07-28 12:15] deepu105 commented on #12167
ya that should be fine, since we do that already for a lot of stuff

[2020-07-28 14:36] sorokinQA commented on #9135
**git update-index --chmod = + x mvnw** helped me, thanks a lot!

[2020-07-28 14:56] mshima commented on #11577
Fixed by https://github.com/jhipster/generator-jhipster/pull/12132

[2020-07-28 14:56] #11577 closed

[2020-07-28 15:02] PierreBesson commented on #12168
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-07-28 15:03] #12168 closed

[2020-07-28 15:12] PierreBesson commented on #12016
I am sorry @napindc we don't offer specific support for upgrade problems. Especially as in your case this is a manual upgrade. This issue tracker is to track development and bugfixes for JHipster in the current version.
Did you ask your question on StackOverflow?

Sorry for taking so long to answer you, this can be explained by the holiday period.
Best regards,
Pierre

[2020-07-28 15:12] #12016 closed

[2020-07-28 15:22] avdev4j commented on #12167
Just like @PierreBesson I think we should add JHCC Docker compose anyway.
Ok for adding a new question instead of the registry one, I'll try to do it as I'm on the JHCC for the moment (If you are ok).

[2020-07-28 18:49] #12136 closed

[2020-07-28 18:54] #12092 closed

[2020-07-28 19:43] pascalgrimaud commented on #12142
There are some good idea here @Tcharl for the v7 !
I'd prefer different tickets and/or different pull requests, instead of a big one, so it will be easy to review it.
Don't forget to ping @mraible as it must work with Okta too.

[2020-07-28 20:15] pascalgrimaud commented on #12167
OK for adding JHCC by default for all generated app -> so no question about adding JHCC, but instead, what do you think about an option for removing all Admin screen. It would be a light version of application.

OK for changing/removing the question about Registry: but if I remember well, the Registry is used to scale monolith app with Hazelcast -> we need to check this behaviour before changing t

[2020-07-28 21:18] avdev4j commented on #12167
It could be a mixed question like "Do you want to remove admin features in favor of JHipster control center?

We discussed about that with @PierreBesson this afternoon. It seems that this feature is not really used and we though to remove it totally. (Only keep discovery choice for microservices).

[2020-07-28 22:15] gmarziou commented on #12167
Regarding future migrations (after initial release), how do you plan to ensure compatibility between apps and JHCC?

Wouldn't it be nice if the JHCC could request the managed apps to check whether their management API version is compatible with the JHCC version?

[2020-07-29 08:19] deepu105 commented on #12167
There are few things to consider here

1. Adding docker-compose for JHCC is fine as long as we don't make it a requirement by default for monolith applications. Monolith apps should still be able to run standalone. JHCC can be enabled for microservices IMO.
2. For admin screens the question can be independent or tied to JHCC, the only advantage of tieing it to JHCC is we can also configure/enable

[2020-07-30 01:57] javadev commented on #7810
I still can't integrate elasticsearch with heroku.

My repository:

https://github.com/javadev/pim-system

The error message is:

org.springframework.beans.factory.support.ConstructorResolver.instantiate(ConstructorResolver.java:651)
2020-07-30T01:56:56.401729+00:00 app[web.1]: 	... 110 common frames omitted
2020-07-30T01:56:56.401729+00:00 app[web.1]: Caused by: java.lang.IllegalStateException: p

[2020-07-30 02:03] javadev opened #12175 "I need a working example jhipster/angular/maven with elastic search on heroku"
Dear developers,

Please help me to find working configuration for elastic search on heroku.

Sincerely, Valentyn

[2020-07-30 08:42] qmonmert commented on #10220
@pascalgrimaud I'm working on this :

Still some

[2020-07-30 08:48] qmonmert commented on #10220
@pascalgrimaud I'm working on this

[2020-07-30 08:59] qmonmert commented on #10220
@kaidohallik when you say "**some modules have still prefix <%=angularXAppName%>**", do you mean that we replace

[code]
by
[code]
for example ?

cc @pascalgrimaud

[2020-07-30 13:48] avdev4j commented on #12147
Thanks you @novaware-io
as it seems you have found a real bug and have a solution to fix it, would you like to contribute and open a PR?

[2020-07-30 15:16] avdev4j commented on #12167
I've started something on a separated branch, this is what I suggest according to different elements we have here:

- Delete registry question when we choose monolith application
- add question to enable admin module (screens, yes by default)
- If no, remove admin screens and add default logging file config to allow JHCC to display it

WDYT?

[2020-07-30 15:54] mshima opened #12178 "Implement incremental liquibase."
##### **Overview of the feature request**

Implement linear liquibase changelog.
- Every time some entity is added or removed, create a new changelog.
- Don't touch old changelogs.
- Don't recreate master.xml.
- Append new entries to master.xml.
- New master.xml's entries must be linear.
- Constraints depends on the table existence.

Tasks:
- [x] 1. stop passing fork function to import-jdl. (https

[2020-07-30 18:22] aurelien-pacaud opened #12180 "Application can't be run if the package name using a reserved Java keyword"
When I tried to generate an application with a package name contains a reserved Java keyword (in my case "for") no errors occurred but the application can't be run. See the output :

[code]

I replaced "for" by any other word and try to follow Java convention "for_" and the project run like expected (no files are missing in that case)

[2020-07-30 21:03] gmarziou commented on #12180
Currently,we use a regexp to validate the full package path:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/prompts.js#L57-L67

It should probably be replaced or enhanced by a new function in jhipster-core that would iterate on each package and check against reserved keywords: using `jhiCore.isReservedKeyword(input, 'JAVA')`

[2020-07-30 21:10] aurelien-pacaud commented on #12180
I my case I only used the online generator. In both case described an archive is generated. I think it could be good to have a client validation to the package name in online generator.

[2020-07-30 22:04] gmarziou commented on #12180
The online generator frontend code uses the [same regex:](https://github.com/jhipster/jhipster-online/blob/master/src/main/webapp/app/home/generator/generator.component.html#L54-L57) and finally it calls generator-jhipster, so I guess that adding the check in generator-jhipster should make the project generation to fail but I don't know what would the user experience in this case.

[2020-07-30 22:23] SudharakaP commented on #12180
I guess we have to reflect the same regex we put in generator in jhipster-online as well so that it fails and gives the user a proper error message when trying to generate the project in jhipster-online or through cli. This is the reason I transferred this issue. Correct me if I am wrong or if something is needed to be done on the jhipster-online side. :thinking:

[2020-07-30 23:20] aurelien-pacaud commented on #12180
Maybe it could be done in two ways : adding a check in generator-jhipster and add a client validation into the online generator frontend to display immediately that the package name is wrong.

It's just ideas ...

[2020-07-31 08:18] qmonmert commented on #10220
PR #12182

[2020-07-31 14:33] PierreBesson opened #12184 "Expose management endpoints on a different port"
##### **Overview of the feature request**

Set the [`management.server.port` property](https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.html#production-ready-customizing-management-server-port) to a different value from the one in `server.port` on generated apps to expose the management API to a different port.

##### **Motivation for or Use Case**

Exposing

[2020-07-31 15:37] gmarziou commented on #12184
I'm fully in favor of a different port, I already use it in a project for security reasons.

Having secure defaults for JHipster v7 seems a good choice to me, and for users who want to have one single port, it's very easy to revert by configuration as you mentioned it.

[2020-07-31 15:55] atomfrede commented on #12184
I would say have a dedicated port by default.

[2020-07-31 17:10] pascalgrimaud commented on #12175
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-07-31 17:10] #12175 closed

[2020-07-31 17:21] atomfrede commented on #12175
@javadev As a hint have look at our heroku documentation. https://www.jhipster.tech/heroku/ If you use the free tier of the bonsai add on we provision you will get a 7.x elastic version which is right now not compatible with jhipster/spring boot until we have updated to boot 2.3.x. So as of now you will need to use either a paid tier of bonsai or use the official elastic addon which has no free ti

[2020-08-01 21:02] jutaner commented on #12057
i am having the same issue here

[2020-08-01 22:21] gmarziou commented on #12057
@jutaner so please paste output of `jhipster info`executed from your project folder.

[2020-08-01 22:49] gmarziou commented on #12057
I could not reproduce with a Eureka based gateway.

@gobigg and @jutaner please paste output of `jhipster info` from your gateway folder so that we know what you are using.

[2020-08-03 10:31] avdev4j commented on #11961
hi @sendilkumarn
it seems the Cypress feature has moved forward and we have some test cases available. I would like to help you and @nassimerrahoui @adilabed to complete the feature and to having it in our first v7 release.

WDYT? Have you any idea of what is in to do?

I have checked this branch https://github.com/sendilkumarn/generator-jhipster/tree/feat/add-cypress and this project https://gith

[2020-08-03 12:09] leonardortlima opened #12190 "Generating an entity with a field named "account" crashes the generator"
##### **Overview of the issue**

Generating an entity (either by `jhipster import-jdl` or `jhipster entity`) with a field named `account` crashes the generator.

##### **Reproduce the error**

Simple JDL to reproduce:

[code]

Crashes with the following error:

[code]

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<detai

[2020-08-03 12:25] leonardortlima commented on #12190
According to [faker.js readme](https://github.com/Marak/faker.js), the account function should be under finance, but jhipster is [calling faker.commerce.account();](https://github.com/jhipster/generator-jhipster/blob/23a8188d8d552845466885ced8b2d56a9c8bf975/generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs#L118)

Will submit a PR soon

[2020-08-03 17:13] MathieuAA commented on #12135
Closing this, thanks again @avdev4j!

[2020-08-03 17:13] #12135 closed

[2020-08-04 09:24] #12190 closed

[2020-08-04 09:24] avdev4j commented on #12190
Thanks you @leonardortlima

[2020-08-04 10:06] flavio20002 commented on #11925
Hi,
I have reproduced this issue with node installed by snap:

[code]

[2020-08-04 13:25] gmarziou commented on #11925
Hi @flavio20002, JHipster supports only LTS versions of nodejs, 14.7.0 is current not LTS. Are you able to reproduce with LTS?

[2020-08-04 13:35] flavio20002 commented on #11925
Yes. Look at this snippet:

[code]

[code]
Whit snap nodejs i get null:
[code]

With a standard nodejs i get the version value.

[2020-08-04 15:45] deekovski opened #12196 "aws-containers sub-generator wrong regEx"
If i use the aws-containers sub-generator on an microservice architecture, there is this error:
` An error occurred (InvalidParameterException) when calling the CreateRepository operation: Invalid parameter at 'repositoryName' failed to satisfy constraint: 'must satisfy regular expression '(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*''`

It seems to be a bug in the regEx (the \ i

[2020-08-04 21:54] SudharakaP commented on #12196
@deekovski : Could you share your `.yo-rc.json` file or let us know what the `baseName` of the application is? This seems to be coming when the application name contains capitalized letters (as evidenced here; https://github.com/jenkins-x/jx/issues/1344). The regex error is coming from the aws library; so there's not much we could do; but I think we should lowercase before passing the value there.

[2020-08-05 09:30] gmarziou commented on #11925
So it would seem to be a problem with snap, don't you think so?
Have you checked whether /snap/bin/node could be some sort of wrapper that does not behave as the original node regarding stdout handling?

[2020-08-05 13:25] xurror opened #12200 "Add Support for EclipseLink as JPA provider"
##### **Overview of the feature request**

JHipster uses hibernate as default JPA provider which has proven to be very effective, but eclipselink has made huge improvements over the years with few tradeoffs between the the 2. Also EclipseLink happens to be the reference implementation for JPA 2.0

##### **Motivation for or Use Case**

EclipseLink is the reference JPA implementation.
It is also a v

[2020-08-05 13:35] atomfrede commented on #12200
I don't think we can handle/support a second JPA provider. This might be a good thing to put into a blueprint/module imho.

[2020-08-05 13:55] mraible commented on #12200
I believe Apache Roller supports EclipseLink and Hibernate and it's not too difficult to switch between them. It's possible you only need to change a few files to do this.

[2020-08-05 14:42] mraible opened #12202 "Using Event as an entity name results in a compile error"
##### **Overview of the issue**

Create an app with the following JDL and it'll fail to compile the frontend.

[code]

Error:

[code]

##### **Motivation for or Use Case**

I tried to create an app with `Event` as an entity and it fails to work. I'd expect a warning that this is a reserved word rather than it failing after I try to build my app.

##### **Suggest a Fix**

Add `Event` to the list of

[2020-08-05 16:55] xurror commented on #12200
I thought ASF has a license conflict with hibernate. We faced a similar problem with Apache Fineract where we had to switch the provider.

[2020-08-05 16:56] xurror commented on #12200
This sounds reasonable. I will try to propose a PR for this. Thanks.

[2020-08-05 17:59] mraible commented on #12200
Yes, it does. That's why we ship Roller with Eclipse and tell people how to change to Hibernate.

[2020-08-05 20:42] atomfrede commented on #12200
Awesome! We try to support where possible, don't hesitate to reach put. I will close this issue here.

[2020-08-05 20:42] #12200 closed

[2020-08-05 22:23] vw98075 opened #12206 ""Can not get size""
##### **Overview of the issue**

A newly generated microservice with H2 in the disk, I get an error while trying to start it up.

##### **Motivation for or Use Case**

Blocking development work

##### **Reproduce the error**

Running ./gradlew and an error
[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

the latest 6.10.1

##### **JHipster configuration**

[2020-08-06 01:20] vw98075 opened #12207 "jhipster-register can't start"
##### **Overview of the issue**

Running "./mvnw" or its variations, I get a build error. The hipster-register is the latest version I get from its repository with a git command "git clone ..."

##### **Motivation for or Use Case**

[code]
##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entit

[2020-08-06 04:05] vw98075 opened #12208 "The navigation bar doesn't show up in the gateway with Vue"
##### **Overview of the issue**

Navigation Bar Disappear in the gateway application with Vue

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

There is an error on the console "TypeError: Cannot read property 'get' of undefined".
##### **JHipster Version(s)**

##### **JHipster configuration**

[code]
[code]
[code]
##### **Enti

[2020-08-06 04:05] vw98075 commented on #12208
![Screenshot from 2020-08-05 20-58-59](https://user-images.githubusercontent.com/10793038/89489465-6f749e00-d75f-11ea-941b-885fa575a36d.png)

[2020-08-06 06:35] #12202 closed

[2020-08-06 06:53] hanoisteve commented on #11681
I need to use Spring Kafka 2.5. Is there a way to handle that now. My Spring Boot version is 2.1.8 or do I need to wait until Spring Boot gets upgraded in JHipster to 2.3?

[2020-08-06 07:09] atomfrede commented on #11681
@hanoisteve You should update to the latest jhipster release which gives you boot 2.2.x. If you have that you can try a manual migration/upgrade to boot 2.3.x.

[2020-08-06 07:21] bigalnz opened #12209 "Intellij & npm start wont allow login on port 9000"
Intellij Ultimate 2020.2 on Windows 10. I have followed the Intellij configuration instructions as per the Jhipster instructions page. Much information is below - please let me know if you need more.

Build tool is gradle. When I debug > bootRun the gradle task, it launches the project ok on port 8080 and I can login, but there is no live reload.

When I npm start it launches ok on port 9000 - and

[2020-08-06 09:02] qmonmert commented on #12208
@vw98075 if you generate the gateway with generator-jhipster and not generator-jhipster-vuejs it's working fine for me

![image](https://user-images.githubusercontent.com/9989211/89512990-43473480-d7d4-11ea-8bed-18e7d6fe9a9e.png)

[2020-08-06 09:06] gmarziou commented on #12209
I edited your post to remove the .yo-rc.json you pasted manually because it contained your JWT secret and the sanitized  .yo-rc.json file is already included in `jhipster help`

[2020-08-06 09:16] bigalnz commented on #12209
Nothing in backend - I do get this when I just tried in the Terminal tab from npm start:

`[HPM] Error occurred while trying to proxy request /management/info from localhost:9000 to http://localhost:8080 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)
[HPM] Error occurred while trying to proxy request /api/account from localhost:9000 to http://localhost:8080 (ECONNR

[2020-08-06 09:17] bigalnz commented on #12209
Another clue which might be helpful is that the admin/admin username and password is cached and already filled out when I use the port 9000 - its not on the 8080.

[2020-08-06 09:26] bigalnz commented on #12209
After trying to login on 9000 this is the backend log:

`2020-08-06 21:24:36.565  WARN 35396 --- [ XNIO-1 task-16] .m.m.a.ExceptionHandlerExceptionResolver : Resolved [org.springframework.security.authentication.InsufficientAuthenticationException: Full authentication is required to access this resource]
2020-08-06 21:25:02.537  INFO 35396 --- [ XNIO-1 task-19] govt.pol.security.jwt.TokenProvider

[2020-08-06 10:00] atomfrede commented on #12209
Did you select remember me? Can you try a clean, private tab/window?

[2020-08-06 11:22] avdev4j commented on #11961
Finally we move the cypress current work to my JHipster fork because we were not able to rebase from last master version. A draft PR has been open here. We need to:
- Check 2e2 sub-generator since core mechanism has been deeply rework
- Add Vue Cypress tests
- Add generator unit tests
- Deprecate protractor and remove ** in development** label for Cypress

[2020-08-06 15:21] bigalnz commented on #12209
I dont remember selecting remember me - but a private window has fixed it. I assume to fix it permenantly I need to clear out those stored credentials in Chrome?

[2020-08-06 20:27] ruddell commented on #12208
Same as https://github.com/jhipster/jhipster-vuejs/issues/643, there is no UAA support in the Vue.js client at the moment.

[2020-08-06 20:32] ruddell commented on #12209
Looks like a duplicate of https://github.com/jhipster/generator-jhipster/issues/12147, the wrong token is picked up.  I'm guessing you signed in with "remember me" and the token became invalid.  Signing in without "remember me" stores the token in sessionStorage, but that's loaded after the bad token in localStorage.

There's a good workaround/solution in the linked issue.

[2020-08-06 20:45] vw98075 commented on #12208
There is an error on the navi bar in the console when the default screen/page is loaded. To my eyes, it isn't anything absent in terms of UI design, but a coding problem.
    On Thursday, August 6, 2020, 01:27:19 PM PDT, Jon Ruddell <notifications@github.com> wrote:

Same as jhipster/jhipster-vuejs#643, there is no UAA support in the Vue.js client at the moment.

—
You are receiving this because y

[2020-08-07 08:14] #10220 closed

[2020-08-07 08:20] qmonmert commented on #10220
@jdubois & @pascalgrimaud I claim my money 😄  https://opencollective.com/generator-jhipster/expenses/23283

[2020-08-07 09:26] MathieuAA opened #12216 "Failing cassandra-related builds"
##### **Overview of the issue**

Some cassandra-related builds fail :(

##### **Motivation for or Use Case**

I want the CI not to throw anything I haven't done at me.

##### **Reproduce the error**

See: #12214
Error:
[code]

##### **Related issues**

None found

##### **Suggest a Fix**

##### **JHipster Version(s)**

main branch

##### **JHipster configuration**

See [the failing build](https://

[2020-08-07 12:03] mshima commented on #12216
It started failing sometime after https://github.com/jhipster/generator-jhipster/commit/571c66a6a6974e5380e91fd45af8e0527e3c9fa6.
It succeed when was merged, but I triggered a rebuild and failed.

Seem some dependency was updated.

[2020-08-07 12:14] atomfrede commented on #12209
Let's close it here, sounds you're assumption is correct @ruddell

[2020-08-07 12:14] #12209 closed

[2020-08-07 14:50] qmonmert commented on #12060
@haigopi I think that the issue was fixed by this commit https://github.com/jhipster/generator-jhipster/commit/f4f6d511006b6535ecd6b935c093e5ac05e1e7e0#diff-2c3f53e6e847061a8ab6ba212e021632
I don't reproduce

[2020-08-08 12:29] devsparkles commented on #9579
ok roger that

[2020-08-09 14:00] alaahong commented on #10575
Any possible to support Vuetify? Seems vuetify is a better solution on Vue.JS
https://vuetifyjs.com/en/introduction/why-vuetify/
![image](https://user-images.githubusercontent.com/3264250/89733963-9f87ae00-da8b-11ea-88a5-fde5ffb9fd5e.png)

[2020-08-09 17:00] yuniel-acosta commented on #10575
@alaahong vuetifyjs  is a very good option I always use it in my projects with jhipster (Of course making a lot of changes to the UI). I would like to create a blueprint to integrate vuetify once jhipster version 7 comes out and analyze all the changes that come in this new version. I think I will need a lot of help especially in the tests

[2020-08-10 07:29] omurthy commented on #10716
LDAP integration still doesnt work. It returns Bad Credentials .

[2020-08-10 07:43] deepu105 commented on #10575
We won't be supporting any other UI frameworks. We use bootstrap on React
and Angular and will use the same for Vue.

If you like another UI the best way is to make it a blueprint

On Sun, 9 Aug 2020, 7:00 pm Yuniel Acosta Pérez, <notifications@github.com>
wrote:

[2020-08-10 08:21] gaetan224 opened #12232 "mongo generate required unique fields with @Indexed(unique = true) instead of just @NotNull"
##### **generate required unique fields with @Indexed(unique = true) **

as for version  6.5.1 the required unique fields are generated with only the @NotNull annotation meanwhile the mongodb use in this version (4.0.13) support @Indexed(unique = true) annotation which i think is more appropriate to match the required unique constraint

##### **the fiels are not unique**

the fields are not unique

[2020-08-10 15:24] mraible commented on #11766
I can confirm that this is still an issue with the latest release.

[code]

[2020-08-10 16:22] mraible opened #12234 "Building and running a Docker image doesn't work with v6.10.1"
##### **Overview of the issue**

When running my app as a Docker image (using Docker Compose), the frontend fails to build.

<img width="1244" alt="Screen Shot 2020-08-10 at 10 07 44 AM" src="https://user-images.githubusercontent.com/17892/89804396-5cf8bc80-daf1-11ea-9aab-ef913a09be1a.png">

##### **Motivation for or Use Case**

It should be possible to build a Docker image and run it locally.

##

[2020-08-10 16:25] mraible commented on #12234
I just tried doing this same thing with the Micronaut blueprint and the same issue happens there. I'm on a new laptop, so that could be it. However, I restored my old laptop from Time Machine, so most things should be the same. I did upgrade to a newer version of Node.js.

[2020-08-10 16:28] mraible commented on #12234
Hmmmm, just tried Micronaut in an incognito window and it works. Trying again...

[2020-08-10 16:36] mraible commented on #12234
Hmmm, a regular JHipster app works when running in an incognito window too. I'm guessing there's something that gets stuck in the browser between Micronaut and JHipster that causes incompatibilities. Closing this issue as it seems to work fine.

[2020-08-10 16:36] #12234 closed

[2020-08-10 17:00] mraible opened #12235 "Deploying to Heroku as a Docker Container doesn't work"
##### **Overview of the feature request**

I'm trying to deploy a JHipster app to [Heroku's Container Registry](https://devcenter.heroku.com/articles/container-registry-and-runtime). When I do, it fails to startup.

[code]

##### **Motivation for or Use Case**

It's a Docker image. I should be able to deploy it anywhere as long as I have environment variables set up correctly.

##### **Related iss

[2020-08-10 17:39] SudharakaP commented on #12235
@mraible : I don't think this warrants as a bug or not on our side; but I have a JHipster app running on Heroku with docker. For this one I had to go to settings on Heroku and under Config Vars had to add JAVA_TOOL_OPTIONS and set it to around -Xmx290m. Since the free plan will not work otherwise it seems. Because the memory exceeds and Heroku kills the app. Note that free plans can run into this

[2020-08-10 17:50] mraible commented on #12235
@SudharakaP I did some more digging and found the name of my environment variables were wrong. I looked in `application-heroku.yml` and found the keys start with `JDBC_*` and the Okta variables are already mapped for OIDC. Since running with Docker has no `Procfile`, I found that I had to define `server.port` to be dynamic in `application-heroku.yml`. I believe we might want to include this by def

[2020-08-10 18:19] atomfrede commented on #12235
I think the problem arises when you login as the admin to the okta account and afterwards in the same browser session try to login to the jhipster app. It has an okta session with the generated okta admin which as a long generated login/email and it fails to save it to our database which has a limit of 50 characters for the login.

[2020-08-10 18:48] atomfrede commented on #12235
Should we maybe offer docker as a third deployment option besides git and jar? It might become even more interesting for e.g. native images via graalvm.

[2020-08-10 18:57] mraible commented on #12235
@atomfrede Yes, you are correct. If I use the credentials I used as part of signup, it works! I'll document the issue that happens if you log in as the admin from Heroku.

For the port: I think we should add it to `application-heroku.yml` and remove it from the `Procfile`.

[2020-08-10 23:14] avdev4j commented on #12208
according to @ruddell and https://github.com/jhipster/jhipster-vuejs/issues/643 there is no UAA support with vuesj for the moment.
Feel free to contribute ;)

For the moment I'm closing this issue.

[2020-08-10 23:14] #12208 closed

[2020-08-10 23:16] avdev4j commented on #12216
Any update about this bug?

[2020-08-11 08:01] zakimatyi opened #12240 "Using byte array any type field and another field beginning with the same name as the byte array causes field generation twice"
<summary>.yo-rc.json file</summary>

{
  "generator-jhipster": {
    "promptValues": {
      "packageName": hidden,
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "5.8.2",
    "applicationType": "monolith",
    "baseName": "cyeb",
    "packageName": hidden,
    "packageFolder": hidden,
    "serverPort": "8080",
    "authenticationType": "jwt",
    "cacheProvider": "ehcache",
    "enabl

[2020-08-11 08:45] zakimatyi commented on #12240
I've managed to fix this by simply removing the "rawDataContentType" field from the entity, because it is automatically generated.
I couldn't find any documentation mentioning this behaviour though.

[2020-08-11 08:45] #12240 closed

[2020-08-11 10:22] mshima commented on #12216
I looked at at generator-jhipster and jhipster-lib and I couldn’t find a commit that caused this bug.

[2020-08-11 10:31] DanielFran commented on #12216
Same, I try to identify in both projects which commit trigger those errors and did not found anything...

[2020-08-11 16:34] vrijmetse opened #12242 "aws-containers not working with JHipster 6.10.1 Monolith"
##### **Overview of the issue**

So basically I am trying to deploy my monolith to aws using the `aws-containers` but it complained

[code]
##### **Motivation for or Use Case**

I am trying to leverage the existing feature to ease deployment to aws instead of manual deployment.

##### **Reproduce the error**

Just execute `jhipster aws-containers` on a new folder using JHipster 6.10.1

##### **Rel

[2020-08-11 18:58] MathieuAA commented on #12216
I find it weird (but interesting) that we didn't cause this. Has any spring-boot-related dependency been updated lately?

[2020-08-11 22:52] bigalnz commented on #9661
How do you still load fake data from the CSV files, but stop faker regenerating new fake data each time you recompile?

[2020-08-12 15:40] AlexandreCassagne commented on #8242
@abhisheksharma85 Have you managed to implement two-factor authentication on your end?

[2020-08-12 16:05] abhisheksharma85 commented on #8242
Yes.  Using AWS SNS. Currently working MFA using Auth Provider

On Wed, Aug 12, 2020, 8:40 AM Alexandre Cassagne <notifications@github.com>
wrote:

[2020-08-13 15:12] Tcharl commented on #12015
We could even go further and configure opendistro when the chosen option is oauth2 and docker-compose or k8s for prod configuration.

However, I've the same opinion the @pascalgrimaud : the actual configuration is for dev and it works well for local machine, letting the user to have an insecure prod configuration would encourage the risk (using 127.0.0.1 means letting elastic being deployed on ano

[2020-08-13 16:36] #12216 closed

[2020-08-13 17:56] gmarziou commented on #12015
Thanks @nomuna for pointing this out, I never thought of it. I tested the "127.0.0.1:xxxx:yyyy" configuration with Postgresql and `netstat` confirmed that the port is bound to `127.0.0.1` instead of `0.0.0.0`.

I agree with @pascalgrimaud and @Tcharl who said that the generated configuration si for dev and you must harden it before going to production. However, even in dev, it's safer to lock your

[2020-08-13 21:28] rajshukla865 commented on #8146
@Transactional worked for me. Thanks

[2020-08-15 14:03] swapnil1505 opened #12249 "bootRun FAILED with gradlew"
Microsoft Windows [Version 10.0.18362.1016]
(c) 2019 Microsoft Corporation. All rights reserved.

G:\>cd example

G:\example>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generat

[2020-08-15 14:20] Michael2008S opened #12250 "swagger-ui generate issue when `DeleteMapping` with regex."
##### **Overview of the issue**

` "jhipsterVersion": "6.10.1"`

[code]

![image](https://user-images.githubusercontent.com/1240769/90314239-d9056100-df44-11ea-82ae-b8e7b365feca.png)

[2020-08-15 15:04] atomfrede commented on #12249
It doesn't look like a bug. It seems your application can't connect to keycloak (did you start it via docker compose?) and your database is locked. I am going to close this. If you think t here is still an issue feel free to reopen it.

[2020-08-15 15:04] #12249 closed

[2020-08-16 08:25] pascalgrimaud commented on #12057
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-08-16 08:25] #12057 closed

[2020-08-16 08:28] pascalgrimaud commented on #12013
Closing this in favor of the existing blueprint

[2020-08-16 08:28] #12013 closed

[2020-08-16 08:36] pascalgrimaud commented on #12184
do you want to take this ticket and lead this part @PierreBesson ?

[2020-08-16 12:32] mshima opened #12251 "Create jhipster-lib snapshots and use them at CI."
##### **Overview of the feature request**

Our current test approach is to clone jhipster-lib, build and use it.
We should consider to create snapshots for each push and deploy to github packages.
Those snapshots could be used at generator-jhipster tests.

##### **Motivation for or Use Case**

Benefits:
- ~~Reduce CI builds by 30~40 seconds each.~~
- Allows to simplify big dependencies update like

[2020-08-16 17:12] pascalgrimaud commented on #12251
I like this approach, because we can reproduce the issue, with the exact commit of jhipster lib and generator-jhipster.

By using snapshot version, we won't be able to reproduce the exact build, if there is a merge in jhipster lib : the previous snapshot will be erase.

The main problem would be the different approach with Azure as the github token is not available there.

So for now, I'd prefer t

[2020-08-16 17:44] mshima commented on #12251
Confused about this.
Even if a snapshot was deleted it would be reproducible.

A public package version is never deleted from github packages.
https://docs.github.com/en/packages/publishing-and-managing-packages/deleting-a-package
I don’t know about public package snapshots.

We could create a token with read package permission only and use it.
Anyway not allowing unauthenticated read is my main c

[2020-08-16 21:38] gmarziou commented on #12180
Once jhipster/jhipster-core#479 is merged and released, the generator can be updated to validate the package name.

[2020-08-17 02:59] nomuna commented on #12015
All of this sounds good to me. In a normal linux distro a server software you install comes with a set of sane security defaults to prevent you from getting into trouble. I think containers should follow the same path. Thanks for paying attention to this issue.

[2020-08-17 16:14] cbornet opened #12262 "Enhancement of ZonedDatetime for SQL"
Currently our support of ZonedDatetime in SQL is minimal : we store the instant represented by this ZD and assume UTC timezone.
We have something a little better on Cassandra where a ZoneDatetimeCodec will store the date and timezone in distinct columns and so the timezone is preserved.
I propose to do the same for SQL. I did a PoC with the following code to add a column in DB to store the zone id

[2020-08-18 10:53] pascalgrimaud commented on #12251
Some packages have been published:
https://github.com/jhipster/jhipster/packages

Let's see if it works well.

[2020-08-18 11:01] DanielFran commented on #12251
We need to update the generator to use this repository

[2020-08-18 11:08] pascalgrimaud commented on #12251
I'd like to do some test locally before merging this and find a way to know which version I download from github packages, with the exact commit

[2020-08-18 11:23] DanielFran commented on #12251
Agree.
I just restarted the tests in the PR #12252 to see if it uses the current snapshot

[2020-08-18 11:25] mshima commented on #12251
@DanielFran last commit broke it.
Since there were no way to test it 😆

[2020-08-18 11:32] mshima commented on #12251
@pascalgrimaud printing there snapshot version isn’t enough?
In this case 3.10.0-20200818.092844-1
[code]

[2020-08-18 11:40] mshima commented on #12251
We could try to add the commit hash to the version.

[2020-08-18 11:47] cbornet commented on #12262
Better : I found [this little gem of a library](https://github.com/marschall/threeten-jpa/tree/master/threeten-jpa-zoned-hibernate) which makes it as simple as
[code]
without the need to add new fields

[2020-08-18 12:10] jdubois commented on #12167
Hey,

I’m worried this will break all applications using the registry to scale.
Then, the current system is easy but not perfect -> it’s nearly impossible
to do this well at our level, and it’s not good to provide a production
option which isn’t working 100% fine.

So this would remove a great option, and push the scalability burden to our
users, but in the end it might be better.

I just want to

[2020-08-19 06:21] karthim opened #12268 "Using External JS library with Angular 10"
I'm trying to use a plain javascript library (cytoscapejs) into my angular application that is generated using jhipster. I installed the library using npm and added the js file to my vendor.ts file. When I tried to use the library in my component, it is not available. When I inspect I see the library in the source under webpack, but that library is not loaded. I followed the instruction in the Rea

[2020-08-19 06:25] pascalgrimaud commented on #12251
Currently, when I want to reproduce a failure in the CI:
- jhipster lib
    - get the exact commit in logs
    - update my local project with upstream
    - git checkout "commit reference"
    - mvn clean install -Dgpg.skip
- generator-jhipster
    - do the same
    - get the exact commit in logs
    - git checkout "commit reference"
    - npm ci / npm link
- use sample from test-integration folde

[2020-08-19 06:53] gmarziou commented on #12268
Please use [gitter](https://gitter.im/jhipster/generator-jhipster) or [stackoverflow](https://stackoverflow.com/questions/tagged/jhipster) for questions

See https://stackoverflow.com/questions/51470913/cytoscape-js-and-angular6

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTR

[2020-08-19 06:53] #12268 closed

[2020-08-19 07:16] zfavourite99 opened #12269 "JDL Table not created"
1.create an application.
2.create a jdl file, name is `fish.jh`:
[code]

run command `jhipster import-jdl ./fish.jh`
run command `./mvnw`

now every ok.

3.edit `fish.jh`:
[code]
run command `jhipster import-jdl ./fish.jh`
run command `./mvnw`

get an error, show me table `fish_fish_pool` not exists.

I see the `resource/config/liquibase/changelog/20200819063627_added_entity_Fish.xml` will create

[2020-08-19 07:50] gmarziou commented on #12269
Not sure this is what you did but each time you import JDL, you must restart the java application
with ./mvnw to run Liquibase and apply database schema changes.

[2020-08-19 09:09] mraible commented on #7398
If you make the change in Keycloak, it should be reflected in the `User` domain object the next time they log in.

[2020-08-19 12:54] mshima commented on #12269
@zfavourite99 maybe hibernate didn’t succeed.
https://github.com/jhipster/generator-jhipster/issues/11949

[2020-08-19 14:29] qmonmert commented on #12250
@Michael2008S

The bug comes from Constants.java
[code]

Curly braces generate a bug in
[code]
[code]
because curly braces are specials characters in mapping definition. Even if I escape curly braces, it doesn't work.

A solution will be to remove curly braces in LOGIN_REGEX and in the front.

What do you think @pascalgrimaud & @mshima ?

[2020-08-19 17:04] gmarziou commented on #12250
What's the point of using a regex in a path variable? As far as I know Spring does not support it.

If you want to validate `login` path variable, it should be:

    @DeleteMapping("/users/{login}")
    public ResponseEntity<Void> deleteUser(@PathVariable("login") @Pattern(Constants.LOGIN_REGEX) String login) {

[2020-08-19 17:21] mshima commented on #12251
@pascalgrimaud maybe changing the pom property from
[code]
to
[code]
This will force `jhipster-framework` artefact, not sure if this could bring a different version of jhipster-dependencies artefact.

To get snapshots from github needs to add to `~/.m2/settings.xml`
[code]

If think if we print the git commit that the snapshot was generated with, then you could keep our old method.

[2020-08-19 17:29] mshima commented on #12250
If @gmarziou solution works, it seems to be the right approach.
I think old generated validation is broken `...in:^(?>...` (line start).

[2020-08-19 18:07] gmarziou commented on #12250
This issue in Springfox is probably related: https://github.com/springfox/springfox/issues/2185

[2020-08-19 19:24] Faelivrinx opened #12274 "Problem with db migration in Reactive application"
##### **Overview of the issue**

I generate project with Reactor support and it's looks like db schema hasn't create. I'm trying to login with default credentials after run application, but some exceptions with SQL statements appears.

##### **Motivation for or Use Case**

It should work properly if project builds fine.

##### **Reproduce the error**

Create applications with Reactive support, Pos

[2020-08-19 21:39] aida00 opened #12275 "style"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [ ] Checking this box is mandatory (thi

[2020-08-20 04:51] #12275 closed

[2020-08-20 05:20] SudharakaP commented on #12275
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1.  our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2.  the ["create a new ticket" page](https://github.com/jhipster/generato

[2020-08-20 06:47] YehAndy commented on #965
I solve the problem by redirect to login url:
return "redirect:/login";

[2020-08-20 07:17] pascalgrimaud commented on #12251
Another idea:
I think we can still clone jhipster lib and display git log
There is a big chance the snapshot would be similar to the git log

[2020-08-20 07:19] pascalgrimaud commented on #12250
Ok then, it looks like @gmarziou's solution is the good one. We should apply this change in our templates

[2020-08-20 08:35] qmonmert commented on #12250
PR done https://github.com/jhipster/generator-jhipster/pull/12276 with @gmarziou's solution

[2020-08-20 09:33] #12235 closed

[2020-08-20 09:40] #12051 closed

[2020-08-20 14:37] #12250 closed

[2020-08-20 15:25] mrsegen commented on #11758
I just encountered this. Generated via 6.10.1. It would be good for the generated application to not fail if kafka fails.

_Caveat: I'm new to kafka and currently understand it as a tool for inter-service communication._ If that's right, it would seem strange for 1 service to fail if the separately-run communication service would be unavailable.

In case it's helpful to whoever eventually figures

[2020-08-20 15:31] pascalgrimaud commented on #11758
@mrsegen : can you provide all steps to reproduce the issue ? And add the stacktrace too plz ?

[2020-08-20 16:52] mshima commented on #12251
Should work for the majority of the cases.
Will not work if the build jhipster-lib build failed so the artefact was not generate or used a different version.

[2020-08-20 17:30] mrsegen commented on #11758
@pascalgrimaud , sure!

Steps taken:

1. Put JDL file in blank directory.
2. Run `jhipster import-jdl ./[application].jdl`
3. Attempt to run ./gradlew, but abort and switch to `./gradlew bootJar -Pprod jibDockerBuild` (in preparation for running it all with docker-compose).
4. Encounter error and change `jib_plugin_version=2.4.0` to `jib_plugin_version=2.4.0` in [application]/gradle.properties as

[2020-08-20 18:13] pascalgrimaud commented on #11758
I'm reopening it and will try to reproduce
thx for all steps

[2020-08-20 18:46] mrsegen commented on #11758
Also the docker_zookeeper_1 had this at the bottom of its output:
[code]

Though on another docker-compose attempt, after running `./gradlew bootJar -Pprod jibDockerBuild`, I could not reproduce the full issue. However:
 - The above zookeeper output still occurred
 - The above docker_[application]-app_1 output still occurred, but the application ran (but had separate seemingly unrelated issues wit

[2020-08-20 19:22] pascalgrimaud commented on #12251
still not totally convinced but we can give a try and see if it works well
are you confident enough @mshima ?

[2020-08-20 19:32] pascalgrimaud commented on #12262
you're the boss in this domain @cbornet : I'm trusting you here :)

[2020-08-20 19:35] pascalgrimaud commented on #12274
can you post the `jhipster info` plz ?

[2020-08-20 19:36] pascalgrimaud commented on #12196
closing this as no additional information

[2020-08-20 19:36] #12196 closed

[2020-08-20 19:42] pascalgrimaud commented on #12076
adding a bounty as it's a bug and need to be fixed

[2020-08-20 19:44] pascalgrimaud commented on #11961
increasing the bounty as it's a lot of work to achieve it

[2020-08-20 19:46] pascalgrimaud commented on #11862
important to have, so I'm adding a bounty

[2020-08-20 19:48] pascalgrimaud commented on #11667
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-08-20 19:48] #11667 closed

[2020-08-20 19:51] pascalgrimaud commented on #7112
starting with this bounty. If it's a lot of work, I'll increase it

[2020-08-20 19:53] yelhouti commented on #7112
@pascalgrimaud thanks :+1:

[2020-08-20 22:06] mraible commented on #9486
Is there anyone on this thread (or otherwise) that's willing to do the work on a JOOQ module? We have [some interest on Twitter](https://twitter.com/lukaseder/status/1296563889795104768?s=21) - and an offer from @lukaseder to match a $500 bounty!!

[2020-08-20 22:47] #10528 closed

[2020-08-20 23:10] mshima commented on #9486
@mraible I can take a look, I've used JOOQ for advanced searches before, I will take a look to remember what I've done.
@lukaseder what goals do you have in mind?

[2020-08-21 04:09] atomfrede commented on #9486
👍

[2020-08-21 05:14] atomfrede commented on #11862
I can work on this.

[2020-08-21 07:35] lukaseder commented on #9486
We'd like to focus on jOOQ development (many exciting features coming up), indeed. But will be happy to help with any questions that may arise.

You folks who have used the combination can probably better identify how a module or integration can make this integration easier for you. Based on this tutorial video by @mraible: https://youtu.be/uQqlO3IGpTU, I'd say that these things would definitely a

[2020-08-21 07:46] atomfrede commented on #9486
Sounds like a good plan.

The most questions I have is how JPA/JOOQ are combined. I know Thorben told me often Hibernate/Jooq are a perfect fit, but I never tried. We usually use jooq and mapstruct to map records to java classes. Micronaut  So if we would "just" have to create jooq setup (DSLContext, Codegen) and "just" generate the jpa entities as is and use the spring data repositories as we do

[2020-08-21 07:52] lukaseder commented on #9486
Yes. Both use-cases are valid, but I think that the addon use-case is much simpler to implement first, because:

- it builds on top of existing (and tested) work
- it actually serves both use-cases. If someone wants to work with jOOQ only, they have some excess JPA entities lying around, but jOOQ still works. If requested, at a later stage, the JPA entites could still be removed by the project set

[2020-08-21 07:57] jdubois commented on #9486
It's awesome to see everybody teaming up this.
Please note that this needs to be a blueprint (it says "module" earlier in this thread - we can discuss this but I believe a blueprint is better), as maintenance is otherwise going to be a big issue.
This blueprint can be hosted in the JHipster org if you want, I'll do a specific team and give you all RW access - but in that case it will need to compl

[2020-08-21 08:26] lukaseder commented on #9486
I don't think that any code of this blueprint will affect jOOQ's own code, so I don't think CLAs or blueprint ownership will be an issue. In fact, I prefer this to be owned / licensed by the JHipster Developers Association rather than e.g. Data Geekery.

[2020-08-21 08:26] atomfrede commented on #9486
@jdubois Yes a blueprint would be better.

[2020-08-21 13:42] juanlamberti opened #12281 "When save LocalDate decrease one day"
Hi, i'm working with JHipster over two year now

Thanks for this great tool

I stated one project with 6.3.0 version, my problems is that that **LocalDates entity fields are saved into DB one day earlier**. I mean that in the input tag (type date) the user enter 20/12/2019 into the DB column the value is saved as 19/12/2019.

The problem start when the pool generate a new session.

One thing is th

[2020-08-22 09:17] #12281 closed, assigned to nobody

[2020-08-24 06:52] atomfrede commented on #9486
Should I setup a minimal jhipster application with additional jooq support to get started?

[2020-08-24 09:56] atomfrede commented on #11689
I have a working solution (similar to what we do with neo/redis) as we need to customize the liquibase URL. Will provide a PR later today.

[2020-08-24 12:57] avdev4j commented on #12262
It's look great, a bit weird to think that no "out of the box" solution exists for every DB but well...
Just a question: could we just keep the "myDate" setter? I wonder if the others are useful (setMyDateZoneId and myDateLocalDateTime).

[2020-08-24 13:09] mshima commented on #9486
Here is the initial version:
https://github.com/mshima/generator-jhipster-jooq

If this is ok, I could move it to https://github.com/jhipster/generator-jhipster-jooq.

For now it just adds spring-boot-starter-jooq dependency and writes an empty README.jooq.md.
DSLConstext is available at spring application context.

Liquibase is optional, would make sense to use jpa by default.
We could make both

[2020-08-24 13:25] atomfrede commented on #9486
Do we make liquibase optional for the generator?

[2020-08-24 13:59] lukaseder commented on #9486
You shouldn't generate your own jOOQ code, as that uses internal jOOQ API which is subject for change between minor releases. But you could implement the `org.jooq.meta.Database` type from the `jOOQ-meta` module: https://github.com/jOOQ/jOOQ/blob/main/jOOQ-meta/src/main/java/org/jooq/meta/Database.java

An example to base your implementation on would be the `XMLDatabase`: https://github.com/jOOQ/j

[2020-08-24 15:39] murdos opened #12300 "Fix Couchbase option with Spring Boot 2.3"
##### **Overview of the issue**

The Couchbase option is currently broken with Spring Boot 2.3.
See https://groups.google.com/g/jhipster-dev/c/P_4c1bCMVtI/m/ZE--g7qYBwAJ

##### **Suggest a Fix**

Some progress was made in this draft PR: https://github.com/jhipster/generator-jhipster/pull/11845
It can be a starting point. Pending upstream fixes from Spring Data Couchbase are also required.

##### *

[2020-08-24 17:00] mshima commented on #9486
You are right, it's mandatory for sql databases. `--skip-db-changelog` is designed to let the use update their changelogs manually.
Liquibase should be safe to be the default then.

Sure, we should implement a JooqRepository for each entity and add stubs for writing/seaching (a jpaFiltering alternative?).

[2020-08-24 17:03] mshima commented on #9486
👍

Not sure why add a dependency on jdl?
It's merged to generator-jhipster repository now (jhipster 7).

Ok thanks. We should go for liquibase by default and add an alternative for jpa for now.

[2020-08-24 17:16] lukaseder commented on #9486
Since you didn't state your motivation for "generating your own definitions", I was assuming the reason for your question was that you might want to bypass Liquibase/JPA and derive generated jOOQ code directly from something else, i.e. JDL. That was just an assumption on my side.

I still think that as a first step, generating code from either Liquibase and/or JPA models will be the simplest, for

[2020-08-24 17:33] mshima commented on #9486
No problem, JDL and prompts are supported, both should work fine.

[2020-08-24 18:05] atomfrede commented on #9486
Here is a small sample https://github.com/atomfrede/jhipster-jooq-addon-sample. It adds

* All required jooq depenencies
* Code gen via maven plugin + liquibase (resulting classes are under generated, [so not under source control](https://www.jooq.org/doc/latest/manual/code-generation/codegen-version-control/)
* Customized `UserRepository` which can use jooq's DSLContext

The changes are quite sma

[2020-08-24 20:04] #11689 closed

[2020-08-24 20:51] cbornet commented on #12262
Yes that setter will still be here. I just didn't show it for simplicity.

 I wonder if the others are useful (setMyDateZoneId and myDateLocalDateTime).

With the first solution they were needed to reset the ZonedDatetime. But with the second solution the LocalDateTime. and ZoneId fields don't exist so the corresponding getters/setters won't be present either.

[2020-08-26 04:27] otikindriyana opened #12311 "Import data from excel or csv"
how to import data from excel or csv ?
thank you

[2020-08-26 05:06] pmverma commented on #12311
The same way it uses to load users from users.csv

[2020-08-26 05:06] #12311 closed

[2020-08-26 11:56] laxaa opened #12312 "Security issues in the user management"
##### **Overview of the issue**

On the user management webpage: `http://localhost:8080/admin/user-management`, it is possible to sort columns and the following URL can be observed when sorting by Login:
`http://localhost:8080/admin/user-management?page=1&sort=login,desc`
The data displayed on the screen is from the `generators/server/templates/src/main/java/package/domain/User.java.ejs` which con

[2020-08-26 12:43] alansegar commented on #11748
I'm new to JHipster so unfortunately don't have any history on what the expected behaviour is but I've done some investigation which will hopefully be useful. I can potentially investigate further if someone can clarify what the expected behaviour is.
- I've run https://github.com/vudangngoc/testJhipster locally and confirmed that I can replicate this but the screenshots show a high number of cach

[2020-08-26 16:08] alansegar commented on #11748
The default page size is 20 but only 10 faker entities seem to get created so there's only half a page when an application is first generated.

### ehcache with CacheConfiguration line deleted:
- 2nd level cache appears to work based on SQL only being logged the first time a specific single entity is viewed (find by id)
- no cache related to entity is visible in either JMX or http://localhost:9000

[2020-08-26 17:11] alansegar commented on #11748
I've added the following code into `TaskResource.getAllTasks` and used a debugger to see exactly what is inside the cache and it turns out that despite the query cache being turned OFF, all 10 Tasks on the first page are put in the cache when viewing the page of results. Despite this the SQL is run every time to get the results even though they are already in the cache. Based on query cache being

[2020-08-26 18:01] pascalgrimaud commented on #12312
Thanks for opening this issue @laxaa

cc @jhipster/developers : we need to take a look to this important ticket and confirm this issue
cc @avdev4j @nassimerrahoui @adilabed

[2020-08-26 18:20] atomfrede commented on #12312
I must admit I don't understand the attack vector here completely, but I totally agree we should not allow sorting by password(hash) or reset keys.

[2020-08-26 20:28] cbornet commented on #12312
+1 to remove the sort. If I understand well, by looking at the position of your own account compared to the others, you can get reduced intervals of possible reset keys which would lower the barrier for a brute force attack. It would still be hard to get a reset keys that way but as it's easier than a brute force over the full key space, a fix is required.

[2020-08-27 01:23] Northshoot commented on #4251
hey @mraible pinging again as summer is ending :) Where I could find documentation one how to start with the generators. Maybe able to help too.

[2020-08-27 02:42] mraible commented on #4251
Here's a blog post that describes a somewhat non-invasive technique. It works with Spring Data JPA and only requires you add a few annotations.

https://developer.okta.com/blog/2020/01/31/java-graphql

Maybe we can implement this as a module? I'd recommend a blueprint, but it's not like we need to replace things. We just need to add some functionality.

[2020-08-27 03:54] sumanthsumu1418 opened #12317 "Tutorial 2"

[2020-08-27 05:10] pascalgrimaud commented on #12317
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-08-27 05:10] #12317 closed

[2020-08-27 07:45] avdev4j commented on #12312
I'm taking this one

[2020-08-27 08:20] pascalgrimaud commented on #12312
Thanks @avdev4j
Can you do 2 PR, for master and maintenance branch plz ?

[2020-08-27 08:31] laxaa commented on #12312
Hello everyone, thank you for the reply. Indeed, my explication is not the best and @cbornet explained exactly what I meant :). This attack vector is really improbable considering the amount of requests that would be needed.

[2020-08-27 08:37] cbornet commented on #12312
Thanks for spotting this vulnerability @laxaa . This is clearly one that only someone with very good security background can spot !

[2020-08-27 09:42] dkarthi1973 opened #12320 "Remove Entity Not working"
jhipster remove-entity entity1 - command is not working while remove entity ( error message remove-entity,entity1 is not a known command. See 'jhipster --help'. could you please advice us to remove the entity from project.

[2020-08-27 11:45] murdos commented on #12320
There's no such command. See the related discussion on https://github.com/jhipster/generator-jhipster/issues/8933

[2020-08-27 12:06] alansegar commented on #11748
https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/config/metric/JHipsterMetricsEndpoint.java#L182 doesn't put `cache.gets.miss` in `resultsCache` when using Hazelcast which means that https://github.com/jhipster/ng-jhipster/blob/master/src/component/metrics/jhi-metrics-cache.component.ts#L45 which relies on `cache.gets.miss`  being present outputs

[2020-08-27 14:13] vudangngoc commented on #11748
to avoid this issue, I have to rewrite persistence layer, migrate to Ignite and sql2o

[2020-08-27 14:25] alansegar commented on #11748
@vudangngoc are you able to provide more clarification on exactly what the issue is from your perspective?
- is the 2nd level cache actually not working / not being used? If so, can you provide more detail on how you are sure that is the case as from the research I've done I can't find any evidence that the 2nd level cache isn't populated and used.
- Are you talking about only the 2nd level cache

[2020-08-27 15:54] mshima commented on #9486
Someone could create jhipster/generator-jhipster-jooq repository?

[2020-08-27 15:55] qmonmert opened #12322 "Languages don't appear with Vue and Internationalization Support"
##### **Overview of the issue**

When I generate a simple app with the client framework **Vue** and I **enable the internationalization support** (with some langues), the menu to change languages doesn't appear.

##### **Motivation for or Use Case**

This is a bug.

##### **Reproduce the error**

Generate an app with Vue and internationalization support.

##### **Related issues**

##### **Suggest

[2020-08-27 15:58] mshima commented on #9486
JPA generator doesn't generates jooq definitions.
Looking at https://www.jooq.org/doc/latest/manual/code-generation/codegen-jpa/, it seem the entities should be on a different module, so JPA generator isn't suitable for jhipster. We generate 1 module for everything.
@lukaseder can you confirm?

[2020-08-27 16:26] qmonmert commented on #12322
I'm working on it

[2020-08-27 16:32] jdubois commented on #9486
I can create jhipster/generator-jhipster-jooq and create a specific team for it, who wants to be in it?

[2020-08-27 16:38] jdubois commented on #9486
I created the project but there's some strange issue with GitHub at the moment, I can't create the team right now

[2020-08-27 17:06] jdubois commented on #9486
OK I just created it! I invited @lukaseder @mshima @atomfrede
Let me add the license and the CoC.
BTW we should change all our licenses soon, so it points to the JHipster Developers Association, our non-profit org

[2020-08-27 18:36] mshima commented on #12320
@murdos I think this should be relatively easy and non intrusive.
We can implement `jhipster entity Foo --remove` instead of `jhipster remove-entity Foo`.
It should:
- Remove the files, based on the generated ones
`writeFilesToDisk(files, generator, true, prefix).forEach(file => this.fs.delete(files));`
the `true` will return the files written ).
- Compose with `jhipster --with-entities` in the en

[2020-08-27 18:39] mshima commented on #9486
Should we move this issue to jhipster/generator-jhipster-jooq?

[2020-08-27 18:46] lukaseder commented on #9486
Yes indeed, see https://github.com/jOOQ/jOOQ/issues/6945. Pretty sure with Maven, you have to extract the entities in a separate module for jOOQ to be able to pick them up as the `JPADatabase` uses some programmatic Hibernate API to reverse engineer them once they're compiled, rather than using the APT part of the `compile` phase. I'm not convinced it would be easy to change that.

With Gradle, th

[2020-08-27 19:59] pascalgrimaud commented on #12322
@qmonmert : did you try in private navigation ? I think I already saw this issue but it was related to cache

[2020-08-27 20:00] #12312 closed

[2020-08-27 20:02] qmonmert commented on #12322
@pascalgrimaud I will try tomorrow, but the variable `languages` is not defined in `generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs` but used in `generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs`

[code]

[2020-08-27 21:12] pascalgrimaud commented on #12320
It could be done but I'm not sure it is usefull.

Personally, in my real project, once an entity is already generated, if I want to remove it, I'd prefer to do it manually, rather than depending on JHipster. It would take only few minutes to do that.

So not sure, it deserves a new flag in our entity sub gen, which is already complex.

[2020-08-28 07:41] qmonmert commented on #12322
@pascalgrimaud I confirm the bug

[2020-08-28 07:45] deepu105 commented on #12320
Agree with Pascal. We have had this discussion many times. Removing entity
manually using an IDE is much more easier then coding it for the generator.
Once you start customizing stuff you can't use the generator to remove
those anyway and that will be the more realistic case. So we will be
maintaining the option for no much value. To me its just overhead

On Thu, 27 Aug 2020, 11:13 pm Pascal Grima

[2020-08-28 07:47] pascalgrimaud commented on #12322
Thanks @qmonmert :-D
Have a look at https://github.com/jhipster/generator-jhipster/commit/e2b1906124e4b6d0e8e3cc79fa3a793130c0c27e#diff-28594319a2d7d5b4400fff18e5a1b8c7

[2020-08-28 07:52] qmonmert commented on #12322
@pascalgrimaud oops

[2020-08-28 08:41] #12322 closed

[2020-08-28 09:46] qmonmert commented on #12060
@pascalgrimaud no response, so I think you can close

[2020-08-28 10:07] #12060 closed

[2020-08-28 10:56] Kerruba opened #12330 "Improve Blueprint Documentation"
##### Improve the blueprint documentation

The idea is a to have a dedicated section of the site that would allow developer to better understand how to use
the blueprint functionalities without having to search around in the code-base and different project documentation
(yeoman, ejs, etc)

##### **Motivation for or Use Case**

I'm a blueprint developer, and when I started building the blueprint I

[2020-08-28 12:48] sgpalit commented on #9605
This problem has come back, just edited in the file and works

solution of @dpiraud

having the same issue, it seems that
gcloud sql instances list --format="value[separator=":"](project,region,name)"
works but not
gcloud sql instances list --format='value[separator=":"](project,region,name)'
==> I guess the format option value have to be specified with double quote**

then comes another error

`×

[2020-08-28 15:10] avdev4j commented on #12330
Hi @Kerruba
I've been a "blueprint developper" too and I must admit that I'm impressed by your gist. It's clear that this is what we need on the official website.

During the first JHipster virtual meetup I have dealt with blueprints and module, for this occasion I wrote a medium article (https://medium.com/@anth.viard/build-your-own-jhipster-with-modules-and-blueprints-dd7a2833a388). My goal is t

[2020-08-28 15:47] SudharakaP commented on #9605
@sgpalit : This is a very old issue. If you still encounter any issues I suggest opening a new issue with full details (please complete the issue template so that we have more info). 😄

[2020-08-28 16:10] Kerruba commented on #12330
Hi @avdev4j,

that would be great thanks. I've already followed some of your articles during my blueprint development experience and I found those very useful to grasp some of the details of JHipster, so thanks for those too :-).

What do you think could be a good next step into the direction of making blueprints and modules more accessible?

[2020-08-28 16:21] avdev4j commented on #12330
I'm glad to hear that :D. That was exactly the goal for.

the first step could be to move your gist to the main website by adding a new page here https://github.com/jhipster/jhipster.github.io

Then maybe improve it too (if needed) and adding more content to explain step by step what we suppose to do (and how) with a blueprint. I would like to do some screencast too, we are laking that kind of con

[2020-08-28 17:31] vishal423 commented on #12142
I will take it up to upgrade `keycloak`, other points specified in ticket can be taken up as separate items post discussion

[2020-08-28 17:42] pascalgrimaud commented on #12142
yes @vishal423, other points should be done in separate tickets

[2020-08-28 23:08] sgpalit opened #12334 "jhipster gae error"
##### **Overview of the issue**

while running jhipster gae script it fails, see output

[code]

##### **Motivation for or Use Case**

I can not generate my gae files and can not build and deploy correctly

##### **Reproduce the error**

run
`jhipster gae`

##### **Related issues**

I have fixed some parts with the info given on this issue
[9605](https://github.com/jhipster/generator-jhipster/issu

[2020-08-29 10:52] vishal423 commented on #12142
As we have merged #12336, I am closing the issue.

[2020-08-29 10:52] #12142 closed

[2020-08-29 12:12] joewhite101 commented on #12072
Spent some time with this and I was able to reproduce the error on 6.10.1. On master it looks like the specific springfox errors are resolved via this PR:  https://github.com/jhipster/jhipster/pull/764

However, when running from master I get `Forbidden: Access Denied` when logged in as an admin. So the api definitions don't show up in the app. This only occurs with the reactive selected so might

[2020-08-29 14:22] mshima commented on #12330
That specific documentation fits in our jsdoc.
Keeping updating the api documentation at a different repository is painful.
My opinion is to improve our jsdoc (add @private to every method outside generator-base.js) and publish.

[2020-08-29 15:21] mshima opened #12338 "Implement custom priorities to improve workflow."
##### **Overview of the feature request**

Add some custom priorities to jhipster workflow.
Our current current workflow has yeoman default priorities:
- initializing: display logo, and load config needed by prompting.
- prompting: display prompts, prompts should save directly to this.config.
- configuring: configure itself
- default: do everything related to another generator (ex: server should l

[2020-08-29 15:37] mshima opened #12339 "Implement jhipster watch"
##### **Overview of the feature request**

Regenerate the project when jdl, `.yo-rc.json` or `.jhipster` changes.

##### **Motivation for or Use Case**

- Useful at the beginning of a new project.
- Cool for showcasing and publicity.

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-08-29 15:52] gmarziou commented on #12339
Great idea but how is it going to work with Liquibase checksums?

[2020-08-29 15:57] mshima commented on #12339
@gmarziou that's ready https://github.com/jhipster/generator-jhipster/pull/12238 just needs review and be merged.

[2020-08-29 19:17] #12242 closed

[2020-08-29 19:54] Tcharl opened #12341 "JHC - DevXP - Improve the generator-jhipster filetree"
##### **Overview of the feature request**

This request would ideally be a topic of the 'Improve the generator developer experience' animated by @MathieuAA  and me. But if you want to fix it now, feel free to do it for sure! We'll find some other ones :-p

The generator-jhipster/generator repository layout looks a bit messy right now, for example:
- In the generator folder, there are three kuberne

[2020-08-29 23:17] SudharakaP commented on #12334
@sgpalit : Thanks for reporting the issue. This bug is already reported at https://github.com/jhipster/generator-jhipster/issues/12085 and is fixed. The fix will be included in v7.0.0. Therefore I am closing this. 😄

[2020-08-30 07:44] pascalgrimaud commented on #12341
It's always nice to have a clean code, but it needs to be discussed in details.
All our internal system is used in blueprints. If we change everything, we take the risk to break all existing blueprints:
- kotlin, nodejs, micronaut, quarkus, etc...

Our expert here is @mshima

[2020-08-30 07:55] Tcharl commented on #12341
Hi Pascal,

Totally agree for the need of discussion on how to do it. However, I think we have to clean this up the sooner otherwise it can only become worse.
Do we have the list of all blueprints source code? We may also provide merge requests for them :-)

[2020-08-30 08:05] pascalgrimaud commented on #12341
We have:
- official blueprints, in our organization
- open source blueprints (it can be easy to search in our marketplace)
- private blueprints in different companies

So it's hard to say. Each changes must be deserved (for example common folder) and we need to write documentation to help our users for each changes.

[2020-08-30 09:08] sgpalit commented on #12334
@SudharakaP I see that that issue is for region what about the double qoute fix?

[2020-08-30 09:16] Tcharl opened #12344 "JHC - DevXP - Spike - Introduce some design patterns in the templating system"
##### **Overview of the feature request**

I propose to introduce some design patterns in the templates in order to mitigate the amount of conditional statements in the generator-core code and code duplication in the blueprints.

1. visitor patterns in templates
I propose to introduce the [visitor pattern](https://www.dofactory.com/javascript/design-patterns/visitor) in most of the templates inste

[2020-08-30 11:30] mshima commented on #12341
I agree we could improve that.
A few points:
- sub-sub generators like jhipster:client:angular are possible but not recommended.
- the usual way to implement generators are feature specific:
client
client-angular
client-*

Agreed probably we should have only 1, but I don't know what each one does.

This is something to discuss:
- generators
  - client
    - templates/angular
    - templates/common

[2020-08-30 12:43] nicolas63 opened #12346 "Improve Vue.js integration on blueprint"
##### **Overview of the issue**

Vue.js use directly const like
`mkdirp(MAIN_SRC_DIR)`
with this we can override path in blueprints with outputPathCustomizer

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files

[2020-08-30 13:19] MathieuAA commented on #12341
Why? What would we gain by doing that?

That'd be a good idea! One of the possible benefits would be to support more than one framework, or better: if a framework can be used in more than one architectural design, then we could generate files from this one framework in another architectural design (for instance, controller-service-repo & hexagonal architecture).

BTW @mshima, I like your idea of r

[2020-08-30 13:24] Tcharl commented on #12341
Hi @mshima ,

Thank you for your answer, it provided many useful info for sure :-).

Concerning the first partI would really be in favor of choosing the more hierarchical structure (the less flatten): it's easier to transform to a module if we decide to.

For the addition of the 'lib' folder, totally agreed! I would prefer more meaningful name: I can be wrong, but the frontier between what is util

[2020-08-30 14:06] mshima commented on #12341
Not sure how do you think we could implement this. Mixins?
The correct solution would be to implement using generators composability.
But this would be a major design change.
[code]

[2020-08-30 18:26] #12346 closed

[2020-08-30 21:21] AyaZouay opened #12348 "Continuous Delivery issue"
Hello,
I am working on a JHipster project, and I would like to know if it is possible to use continuous delivery with JHipster or not ?
Thank you!

[2020-08-30 21:45] pascalgrimaud commented on #12348
Hello @AyaZouay : yes it is possible, with my team, we deploy to our environment each time the code is merged into master branch.

But it's not related to JHipster, you can do continuous delivery with all your projects.

[2020-08-30 21:45] pascalgrimaud commented on #12348
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-08-30 21:46] #12348 closed

[2020-08-30 22:23] elkassar opened #12351 "error at the begining of "jhipster" generator command"
##### **Overview of the issue**
I get the following stack trace while I'm trying to generate jhipster application:

INFO! Using JHipster version installed globally
events.js:196
      throw er; // Unhandled 'error' event
      ^

Error: Errors Detected in CST Visitor <CstPrettierPrinter>:
	Missing visitor method: <unannPrimitiveTypeWithOptionalDimsSuffix> on CstPrettierPrinter CST Visitor.
    at

[2020-08-30 22:30] pascalgrimaud commented on #12351
I confirm the issue. It comes from prettier, so it's an external lib.
But we need to try to fix the dependencies

[2020-08-30 22:38] pascalgrimaud commented on #12351
cc @clementdessoude : not sure if it's related to your last release of prettier-java ?

[2020-08-31 03:55] clementdessoude commented on #12351
Oh, yes it is... It comes from lerna and not using fix dependencies. Can you try to upgrade the prettier-plugin-java to 0.8.1 please?

[2020-08-31 06:31] pascalgrimaud commented on #12351
@clementdessoude : just tried and it doesn't change anything :(

[2020-08-31 06:39] pascalgrimaud commented on #12351
FYI, just merged https://github.com/jhipster/generator-jhipster/pull/12353 into master

[2020-08-31 06:51] SudharakaP commented on #12334
@sgpalit : Confirm that the double quotes is an issue; I think this is seen only in Windows machines as in my Linux machine this doesn't seem to be a problem. Anyways Let me open a PR so that we use double quote in all `gcloud --format` commands.

[2020-08-31 07:04] Tcharl commented on #12341
What about symlinks? Mosts IDEs have different icons when a folder or a file is symlinked: so tha we could keep being consistent and yeoman compatible :-p

[2020-08-31 07:19] clementdessoude commented on #12351
@pascalgrimaud I created the PR for the v6_maintenance branch

[2020-09-01 05:34] #12334 closed

[2020-09-01 16:20] Kerruba commented on #12330
@mshima that's true, but the problem is that sometimes features and information are hidden away deep into the code and in the class hierarchy, and checking for a function that is deep down 2 layers to understand how should I format an object is not that convenient.
What about exposing the JHipster API on the website by automatically generate html from the jsdoc?

[2020-09-01 16:36] mshima commented on #12330
@Kerruba that's exactly what I am talking about. 👍

This workflow creates a PR with jsdoc for each release.
https://github.com/mshima/yeoman-test/blob/master/.github/workflows/gh_pages.yml

[2020-09-01 21:17] deftdawg opened #12366 "import-jdl does not respect skipUserManagement cli params or jdl settings"
##### **Overview of the issue**

The command stacktrace states that skipUserManagement can be used to enable relationships between a custom defined `User` entity and `Company` entity, however
JHipster jdl/import-jdl does not accept any form of the setting: neither the command line argument `--skip-user-management`, nor the alternative specifying `// skip-user-management` as first line of JDL file

[2020-09-02 06:21] pascalgrimaud commented on #12351
Should be fixed with new release of prettier-java

[2020-09-02 06:21] #12351 closed

[2020-09-02 07:44] avdev4j commented on #12330
I think what @mshima suggest could be a really good improvement. I'm sure that we will find some methods or code to improve too. However, I still think that will be a first step and  that we could go further, especially on a "how to" documentation. Maybe a starter guide or tutorials.

[2020-09-02 07:55] Kerruba commented on #12330
I thinking about this too.

Speaking about my gist specifically, that's more an "how to" guide rather than a proper documentation of the API. Also I'm thinking here about people that never used the blueprint and possibly just discovered JHipster and would like to try the blueprint functionality it out.
Having a getting started guide/tutorial to guide him during the first steps would be awesome, wi

[2020-09-02 13:23] vudangngoc commented on #11748
@alansegar
+ The 2nd level cache doesn't work, I tried to debug and see that Hibernate always puts items to cache and the performance is very poor. When I disable caching, the performance increase, processing time reduce to a half.
+ We don't use query cache
+ IMHO, there are more issues in Hibernate, for example, 1st level cache some time doesn't working too cause us several business issues.

[2020-09-02 15:41] alansegar commented on #11748
@vudangngoc Thanks for the additional information.
- For "The 2nd level cache doesn't work", I'm still not sure what the expected behaviour is from your perspective. You've confirmed that the cache is being populated (and I've confirmed that it's also read from by Hibernate rather than running SQL when viewing a single entity). To me that implies the cache is working i.e. it's saving a trip to the

[2020-09-02 18:35] vudangngoc commented on #11748
@alansegar Thank you for your very detail information
+ When I said "2nd level cache doesn't work", it means that Hibernate always connect to data base (MySQL) to fetch the data. The expected behavior should be "Hibernate fetch the data then put to Hazelcast, the next reading should fetch data from Hazelcast". When I tried to debug, I see the first part is done, Hibernate always put items to Hazel

[2020-09-02 18:49] devrajgiri commented on #10003
i could not resolve with jest so used RestHighLevelClient hope it helps some one, here is the code for jhipster
`
@Configuration
@EnableConfigurationProperties(ElasticsearchProperties.class)
public class ElasticsearchConfiguration {

    private ObjectMapper mapper;

    public ElasticsearchConfiguration(ObjectMapper mapper) {
        this.mapper = mapper;
    }

    @Bean
    public EntityMapper

[2020-09-02 18:53] devrajgiri commented on #10003
i used RestHighLevelClient for now , here is the configuration

` @Configuration
@EnableConfigurationProperties(ElasticsearchProperties.class)
public class ElasticsearchConfiguration {

    private ObjectMapper mapper;

    public ElasticsearchConfiguration(ObjectMapper mapper) {
        this.mapper = mapper;
    }

    @Bean
    public EntityMapper getEntityMapper() {
        return new CustomEnt

[2020-09-02 20:43] pascalgrimaud commented on #12330
@Kerruba : I think it's important to have a new section, at same level than JDL.
Blueprint system becomes really popular the last months, so it's well deserved and will help people to start their blueprint.

[2020-09-03 06:33] pascalgrimaud commented on #12167
After thinking about it, we can keep this question. We don't have any issue on this since months/years, so I suppose it works well or not used at all :)

[2020-09-03 12:35] mshima commented on #12330
@Kerruba any type of documentation are welcome, I just prefer api documentation at jsdoc.

For non api documentation I think it's worth to add the JHipster workflow:
https://github.com/jhipster/generator-jhipster/pull/12038#issuecomment-654405452 not sure if I made it wrong or I changed later, but the composing is at default priority.
https://github.com/jhipster/generator-jhipster/issues/12338 cha

[2020-09-03 15:33] avdev4j commented on #12330
@pascalgrimaud The only thing I struggled with is that we already have a "Blueprint and module" section.  So adding a new one can be confusing for our users.

Maybe we should adding new sub sections just like this one : https://www.jhipster.tech/modules/creating-a-blueprint/

examples:
https://www.jhipster.tech/modules/getting-started/
https://www.jhipster.tech/modules/debugging-a-blueprint/
https

[2020-09-03 19:51] #11681 closed

[2020-09-03 19:51] #10003 closed

[2020-09-03 19:52] avdev4j commented on #11681
Congratulations @murdos

[2020-09-03 19:53] mraible commented on #11681
Yeehaw! Happy to see this merged. 😆

[2020-09-03 19:54] DanielFran commented on #11681
Great job @murdos

[2020-09-03 21:14] #12178 closed

[2020-09-04 07:02] jdubois commented on #11681
Awesome work! Don't forget the $500 bug bounty @murdos !

[2020-09-04 16:27] mrsegen commented on #11758
@pascalgrimaud I have a (further tangential) follow up question: Where in the JHipster repositories is the 30 second default that's generated at `src/main/docker/app.yml` defined? You [might recall](https://github.com/pascalgrimaud/jh-issue-11758/commit/42a331cff981339cfed3f00c2d2505e313b73816) that this was too small because of a 60 second wait that happens in the mssql container.

[2020-09-04 20:43] pascalgrimaud commented on #11758
The logic is here:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/docker/app.yml.ejs#L74-L81

So you're right about mssql app. It should be increase to 60

[2020-09-04 21:02] mshima opened #12374 "Protect user api and create a filtered user api for relationships."
##### **Overview of the feature request**

I propose to:
- Move current '/api/users' to '/api/admin/users' and protect it with admin role.
- Create a compatible '/api/users' with filtered data (id, first and last name).
And enable by default only if there is some relationship with User.

##### **Motivation for or Use Case**

Create a safer default to prevent privacy issues.

##### **Related issues

[2020-09-05 06:30] pascalgrimaud commented on #12374
Big +1

About

And enable by default only if there is some relationship with User

do you have an idea how to do this part ?

[2020-09-05 07:44] #12015 closed

[2020-09-05 07:46] pascalgrimaud commented on #12374
unless you want to take this ticket @mshima, I'd like to keep this for our JHipster Code in 1 week.
It's not difficult to achieve it.
Are you ok ?

[2020-09-05 07:51] pascalgrimaud opened #12376 "Neo4j : broken builds"
##### **Overview of the issue**

Neo4j daily builds are broken since more than 10 days.
see https://github.com/hipster-labs/jhipster-daily-builds/actions?query=workflow%3A%22Vue+Maven+NoSQL%22

cc @atomfrede

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

#####

[2020-09-05 07:58] pascalgrimaud commented on #12339
At the beginning of project :
- during development, when writing JDL, the user won't want to regenerate all entities for each change, because it's not finished. The user will launch import-jdl only when the work is done. Otherwise, there will be a lot of changelogs.

When the project is already in advanced phase of development:
- it will be the same, for not erasing the modification

Maybe it's ni

[2020-09-05 08:06] vishal423 commented on #11244
I think we can close the issue as the spring boot v2.3 branch changes (including hazelcast upgrade) have merged into master.

[2020-09-05 08:07] #11244 closed

[2020-09-05 08:07] pascalgrimaud commented on #11244
thanks @vishal423

[2020-09-05 10:47] #11862 closed

[2020-09-05 11:20] mshima commented on #12374
@pascalgrimaud I will not take this ticket.
Most of the job I am doing is related to the workflow.
My own todo is almost finished, then I will create some tickets with cleanup suggestions.
I would suggest to add a bounty to it, but you can keep it to JHipster Code.

[2020-09-05 11:33] #12338 closed

[2020-09-05 12:26] fitdeveloper opened #12377 "Email not sent : 550 Access denied - Invalid HELO name (See RFC2821 4.1.1.1)"
##### **Overview of the issue**

Hey everyone i m trying to send email via jhipster application i did configured very well my application-dev.yml but i got this error

##### **Reproduce the error**

2020-09-05 13:04:51.632 DEBUG 2012 --- [-simplex-task-1] ma.mfitness.service.MailService          : Sending password reset email to 'mr.zine.mahmoud@gmail.com'
2020-09-05 13:05:03.341 DEBUG 2012 --- [-

[2020-09-05 12:41] pascalgrimaud opened #12378 "import-jdl : webpack:build launched several times"
##### **Overview of the issue**

When using import-jdl, the  `webpack:build` is launched several times, instead of 1.

##### **Motivation for or Use Case**

See the logs :

[code]

##### **Reproduce the error**

- generate a JHipster project
- then, add a JDL with several entities
- launch the import-jdl : `jhipster import-jdl bug-tracker.jdl`

##### **Related issues**

Not sure if it's related to

[2020-09-05 13:02] MathieuAA commented on #8608
@murdos any objection if I take it?

[2020-09-05 13:03] MathieuAA commented on #12366
This simply doesn't exist. There's the `skipUserManagement` application option.

[2020-09-05 13:15] mshima commented on #12378
@pascalgrimaud it’s related to a prior refactoring.
This commit should fix it https://github.com/jhipster/generator-jhipster/pull/12379/commits/005e18d5354792659a84615061386fdb4fad8d7d

[2020-09-05 14:46] mshima commented on #12378
@pascalgrimaud I cannot reproduce.
[code]

Looks like you removed the application part, it was broken at samples repository, just fixed it.
Without application it will execute one `jhipster entity` for each entity.
AFAIK without `--skip-install` this is the expected behaviour.
[code]

[2020-09-05 14:53] mrsegen opened #12380 "Application Fails to Run via Docker Compose for prodDatabaseType: mssql"
##### **Overview of the issue**

Application starts before 60 wait time for mssql container is complete.

##### **Motivation for or Use Case**

Testing of application via docker-compose when uses MS SQL Server for database type .

##### **Reproduce the error**

1. Generate application based on the JDL file below (noteably.
2. Run `./gradlew bootJar -Pprod jibDockerBuild`
3. Run `docker-compose -f

[2020-09-05 14:55] pascalgrimaud commented on #12378
I just took a simple example of JDL, because when working for my customer, we don't have the application part in JDL files, we only have entities. And if I'm not wrong, it has never been mandatory to have the application part in JDL.

So the behavior of import-jdl has changed between v6.10.1 and current master.

I'm fine with this, because I can change my alias to something like that: `jhipster im

[2020-09-05 15:12] murdos commented on #8608
Not at all!

[2020-09-05 15:28] mshima commented on #12378
It's a bug then. I will fix it.

[2020-09-05 16:13] #12380 closed

[2020-09-05 16:19] gmarziou commented on #12377
Hi, what makes you think your configuration is correct and this is a JHipster issue?

[2020-09-05 17:17] #12378 closed

[2020-09-06 07:42] pascalgrimaud commented on #12377
I think your configuration is not correct, and as we have no steps to reproduce, I'm closing this

[2020-09-06 07:42] #12377 closed

[2020-09-06 07:43] pascalgrimaud commented on #12377
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-09-06 07:49] pascalgrimaud commented on #12366
closing this as there is no issue, following Mathieu's comment

[2020-09-06 10:11] fitdeveloper commented on #12377
my config was not correct !
thanks for help :
i figured that i had to add this to my application.yml
  mail:
    host: **********
    port: 587
    username: *********
    password:  *********
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

[2020-09-06 10:17] #11939 closed

[2020-09-06 10:20] pascalgrimaud commented on #12300
@tchlyah : your help will be welcome here

[2020-09-06 11:17] mshima opened #12388 "JDL integration into generator-jhipster."
##### **Overview of the feature request**

Some integration/cleanup/implementation suggestions for JDL.

- [ ] Remove write support from jdl.
Entity and application file write was moved from jdl to import-jdl command.
This was done due to having old (existing file) and new state (config returned from jdl).
The missing part is deployment.
- [ ] Stop creating a creationTimestamp.
There is too many d

[2020-09-06 11:21] pascalgrimaud commented on #12388
cc @MathieuAA too

[2020-09-06 11:25] pascalgrimaud commented on #11961
It's a lot lot lot of work to achieve this, and it was a team work.
So I increase the bounty to 600, and propose this split:
- @nassimerrahoui : 250 as main lead
- @adilabed : 150 as co main lead
- @mshima : 100 for fix and review
- @qmonmert : 100 for test and review

@avdev4j : it was during your full time contribution to JHipster

Hope you're ok with this.
Ping me when you claim the bounty, so

[2020-09-06 11:25] #11961 closed

[2020-09-06 11:30] avdev4j commented on #11961
Let's do that! Congrats everyone

[2020-09-06 11:52] MathieuAA commented on #12388
Annotations are supported at entities, fields and relationships.
The missing part is application, this could be useful for blueprints, currently there is no way to add a blueprint configuration to jdl.

I don't like this solution. It's easier to allow custom options inside configurations.

[2020-09-06 11:55] MathieuAA commented on #12388
jhipster --defaults uses current jdl defaults, so it could be unified by stop setting defaults at jdl and passing defaults option to the generator.

This is broader than just the JDL, it also involves the JHipster base repo and the generator.

[2020-09-06 12:09] mshima commented on #12388
I completely disagree on this one.
- As far as I remember there was no discussion with core developers about adding dependency on jhipster-base.
- generator-jhipster should be self contained, please don't add another jhipster-core now that jhipster-core was merged.
- jhipster-base should depend on generator-jhipster, not generator-jhipster depend on jhipster-base.
- jhipster supports prompts too,

[2020-09-06 12:10] mshima commented on #12388
Any implementation that adds blueprint custom options.

[2020-09-06 12:13] mshima commented on #12388
Custom options issue is open for more than 1 year https://github.com/jhipster/generator-jhipster/issues/9870.

[2020-09-06 12:59] MathieuAA commented on #12388
Marcelo, thanks for explaining your viewpoint on this. It's clear now there's a misunderstanding about JHipster base that should be cleared. I guess we @jhipster/developers should discuss it then.

JHipster Base is a side project that aims at being the sole place where options, values, fields, etc. should be. Basically like a lib that can be shared across projects (the generator, the JHipster ide,

[2020-09-06 13:22] mshima commented on #12388
It should be a monorepo IMO.
I think we should migrate to npm 7 workspace already.

Sure, but IMO that don't change the fact that if we set defaults at jdl parsing, it will be duplicated.

I completely agree we should create a kind of jhipster-base but it should be inside generator-jhispter repository.

It should unify prompt question and options:
https://github.com/jhipster/generator-jhipster/blo

[2020-09-06 14:07] colameo commented on #12388
All Jhipster base "models" are used in the JH IDE to validate, for showing tooltip messages and are also fully integrated in the core part of the JDL specification. Also to mention, that we generate MD files from those models for documentation purpose.

So the idea that @MathieuAA and I had was to have one single source/place/repo for defining such shared models.

[2020-09-06 14:45] deftdawg commented on #12366
I see, so you're saying it's a JHipster IDE only option, but it's not actually used by import-jdl

import-jdl doesn't have a way to skipUserManagement by design then...  well that sucks.

Since it's not implemented, then the error message is wrong.  It should state that skipUserManagement is not available from import-jdl.

[2020-09-06 14:48] pascalgrimaud commented on #12388
I'd like to know what is the state of jhipster-base today ? Still in dev ? Already used ? By which project ?

[2020-09-06 15:52] colameo commented on #12388
used since 3 releases in JH IDE.

[2020-09-06 16:10] mshima commented on #12388
That's great, but I remember asking for an approach more friendly with the generator.

Consider https://github.com/jhipster/jhipster-base/blob/ac65b5e96addb525f42c6764863119ab21606d1d/src/JDLApplicationOptions.json#L1-L13:
[code]

Should be something like
[code]

Integrating prompts:
[code]

Integrating options:
[code]

[2020-09-06 16:10] pascalgrimaud commented on #12388
Ok then, we have a lack of communication because, I'm not sure all the core team is aware of this project. There is some development in main generator-jhipster which impacts this project, so PR should be done there too. Here some examples :

- for v7, Vue.js should not be used in blueprint : https://github.com/jhipster/jhipster-base/blob/master/src/JDLApplicationOptions.json#L19

- for v7, the cor

[2020-09-06 17:14] mshima commented on #12366
I see some alternatives this bug:
- You have removed application section on your jdl:
`jdl entity foo` does not supports `--skip-user-management`. So it only work if you have a previous application with it enabled.
- `jhipster import-jdl file.jdl --skip-user-management ` should work if you have application section.
- jdl does support 'skipUserManagement'
[code]

[2020-09-06 17:36] mshima commented on #12388
@pascalgrimaud I actually don't agree with this approach.
Our official blueprints are supported too, so if that's the case, the new feature at approval should be supported by our blueprints too.
I did the generator refactoring, I not considering I will have to do all blueprint-* update by myself. Of corse I will help as much as possible.

Once we have an options structure on our main generator. It

[2020-09-06 17:42] pascalgrimaud commented on #12388
@mshima : we didn't understand each other :-) Let me try to explain again:
- we add Vue.js, as new official option
- we need to add this option at start.jhipster.tech -> see my PR https://github.com/jhipster/jhipster-online/pull/188
- with jhipster-base, I need to do a PR at https://github.com/jhipster/jhipster-base/pulls
- we need to update the documation too at https://github.com/jhipster/jhipst

[2020-09-06 20:09] nassimerrahoui commented on #11961
@pascalgrimaud : Bounty claimed [](https://opencollective.com/generator-jhipster/expenses/24786)

[2020-09-06 20:18] #11945 closed

[2020-09-06 20:49] adilabed commented on #11961
@pascalgrimaud : Bounty claimed https://opencollective.com/generator-jhipster/expenses/24787

[2020-09-06 21:03] pascalgrimaud commented on #11961
@nassimerrahoui @adilabed : approved

[2020-09-06 21:48] pascalgrimaud opened #12448 "Vue: bad enum definition"
##### **Overview of the issue**

The enum is not correctly defined in Vue.js application.

##### **Motivation for or Use Case**

Because of bad definition, we can't init a specific value, otherwise, the `npm test` failed

[code]

##### **Reproduce the error**

- generate a Vue.js application
- create an entity with enum
- launch npm test : it works
- then, in entity-update.component.ts, init the f