[2020-12-09 03:22] vrijmetse commented on #13040
@SudharakaP I would like to clarify that the sub-generator works but with downtime.

[2020-12-09 06:51] SudharakaP commented on #13040
@vrijmetse : I could not recreate the issue; but do you have any other information such as the server stack trace when this error happens by any chance?

[2020-12-09 07:28] vrijmetse commented on #13040
@SudharakaP Basically when I execute the command, I notice the Environment changes in this cycle

`Green > Grey > Green`

I think I found the log,

`172.31.16.244 - - [09/Dec/2020:07:22:16 +0000] "GET /api2/homepage?page=0&size=40&sort=publishedDate,desc&cacheBuster=1607498536212 HTTP/1.1" 200 7162 "https://thisismydomain.com/?page=1&sort=publishedDate,desc" "Mozilla/5.0 (X11; Linux x86_64) AppleW

[2020-12-09 07:31] vrijmetse commented on #13040
Let me try to bump up my application version from `0.0.1-SNAPSHOT` to `0.0.2-SNAPSHOT` before executing the `jhipster aws` command.

[2020-12-09 07:53] SudharakaP commented on #13040
@vrijmetse : Is the application running normally before this healthcheck? Do you see any other exceptions in the log prior to this?

[2020-12-09 08:17] jdubois commented on #11685
Removing the "stale" label, we need to clean this up for JHipster 7

[2020-12-09 08:25] jdubois commented on #13225
So this has nothing to do with sending email... I'm sorry but this issue has got a bad title, no config/stacktrace, some French comments - @loctls please follow our guidelines next time.

Usually we send emails asynchronously, so you probably have an `@Async`annotation on your method. I'm guessing this is what doesn't work. Do you have something like https://github.com/jhipster/jhipster-online/blo

[2020-12-09 08:33] vrijmetse commented on #13040
Yes, If you see the first line in the log

`[09/Dec/2020:07:22:16 +0000] "GET /api2/homepage?page=0&size=40&sort=publishedDate,desc&cacheBuster=1607498536212 HTTP/1.1" 200 7162 "https://thisismydomain.com/?page=1&sort=publishedDate,desc" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko)`

[2020-12-09 10:33] loctls commented on #13225
Sorry for not following the guidelines, I explained before that the fact that I got no ERROR stacktrace is the reason I'm here requesting for help.

About my configuration :

- microservices architecture
- DB : mysql
- front : angular
- profile : dev
- application-dev.yml : you already have the interesting part of it
- devtools : IntelliJ for all back-end dev, Webstorm for all front-dev

@jdubois

[2020-12-09 10:40] loctls commented on #13225
Don't worry I got it about speaking french.

I should have been more precise since the opening of the issue.

I'm still digging on my problem, I'll post more details on what I'm trying later.

[2020-12-09 10:58] loctls commented on #13225
I forgot to mention that I don't use docker for now.

[2020-12-10 07:12] pascalgrimaud opened #13232 "Sonar Analysis for Angular: bad results"
##### **Overview of the issue**

The current Sonar Analysis for Angular application is bad:
- 13 bugs
- 1 vulnerability
- 15 security hotspots
- coverage at 63.5%

##### **Motivation for or Use Case**

- you can have a look at https://sonarcloud.io/dashboard?id=jhipster-sample-application
- the spec files should not be analyzed by Sonar https://sonarcloud.io/component_measures?id=jhipster-sample-a

[2020-12-10 07:17] pascalgrimaud commented on #13183
Fixed by https://github.com/jhipster/generator-jhipster/pull/13223

[2020-12-10 07:17] #13183 closed

[2020-12-10 07:17] pascalgrimaud commented on #13184
Fixed by https://github.com/jhipster/generator-jhipster/pull/13223

[2020-12-10 07:17] #13184 closed

[2020-12-10 08:41] kaidohallik commented on #13232
I made #13233 which says to SonarCloud that `*.spec.ts` files are test files in Angular app and this should take them away from analyze and coverage.
This should fix coverage and most security hotspots.
Bugs, vulnerability and some security hotspots come from Java code

[2020-12-10 09:00] pascalgrimaud commented on #13232
thanks a lot @kaidohallik for fixing this so fast ! let's merge it once the CI passed

[2020-12-10 09:05] SammyVimes opened #13234 "Add Apache Ignite as an option for cache management"
##### **Overview of the feature request**

I'd like to propose the addition of Apache Ignite as a Cache Manager. According to @jdubois, there is very little work to do it, as Ignite supports JCache. As an Apache Ignite contributor, I'll gladly implement this.

##### **Motivation for or Use Case**

Apache Ignite is a distributed in-memory computing platform. It works great as a cache for web applic

[2020-12-10 20:13] felipebcs commented on #12654
I had this problem recently. In my case, I could do `npm start` normally, but eventually, after editing some code and recompiling the code, the error appeared.

It seems to be a mismatch of versions from `@angular/*`, `@types/node` and `@typescript`. I honestly don't know exactly what it was, but I managed to get rid of this error by upgrading some package versions.

These were the dependencies in

[2020-12-11 02:48] HeldrMacedo opened #13236 "AngularJs Error: $injector:nomod Module Unavailable"
Could you help me with this error, it only occurs during production, in development it does not happen

Uncaught Error: [$injector:modulerr] Failed to instantiate module sorteioApp due to:
[$injector:nomod] Module 'sorteioApp' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

`(fun

[2020-12-11 05:42] rburgst opened #13237 "Spring boot 2.4 support"
##### **Overview of the feature request**

I know 2.3 support is coming with 7.0.0, but spring-boot 2.4 is already available.

##### **Motivation for or Use Case**

it would be good to support the latest technologies and spring features.

https://spring.io/blog/2020/11/12/spring-boot-2-4-0-available-now
https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.4-Release-Notes

##### **Rela

[2020-12-11 06:39] pascalgrimaud commented on #13237
For your information, there is already a branch for that: https://github.com/jhipster/jhipster-bom/tree/spring-boot-2.4
But, it's a lot of work, because of different options: Microservices, Couchbase, UAA, Webflux, etc.
So it's not ready yet

[2020-12-11 06:41] pascalgrimaud commented on #13236
It seems not related to JHipster at all, as you are in a bug tracker, not StackOverFlow

[2020-12-11 06:41] pascalgrimaud commented on #13236
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-12-11 06:41] #13236 closed

[2020-12-11 06:45] pascalgrimaud commented on #13225
I don't think it's the right place:
- is it a bug on JHipster ? If you think it is, please, push your code at GitHub / or post your full configuration, so we can try to reproduce
- otherwise, if it's a custom code, you use StackOverFlow instead

[2020-12-11 06:47] pascalgrimaud commented on #13224
I don't use React, but I think you're right, the version should be align.
@sendilkumarn @deepu105 : is it correct ?

[2020-12-11 06:48] pascalgrimaud commented on #13178
@sendilkumarn @deepu105 : your opinions are important here, as you are the main leads on React part. What do you think ?

[2020-12-11 06:49] pascalgrimaud commented on #13179
cc @sahbi-ktifa @hdurix @atomfrede @nonomoho @Falydoor : what do you think ? Your opinions are important here

[2020-12-11 06:50] sendilkumarn commented on #13224
Yeah we should upgrade to the latest release. Last time when I checked there were a couple of dependencies not working with the latest react version.

[2020-12-11 06:50] sendilkumarn commented on #13224
@ctamisier would you be interested to do the upgrade?

[2020-12-11 06:52] sendilkumarn commented on #13178
I am fine with that, Let us move the tests along with the components / files.

[2020-12-11 06:55] atomfrede commented on #13179
Without your comment I would have said put it next to the file/component because that's what we do usually or inside a _test folder next to the components. In case vue cli is keeping them in dedicated folders I think we should stick to that so users coming from vue cli know the structure well.

[2020-12-11 07:14] pascalgrimaud commented on #11658
still to do

[2020-12-11 07:17] pascalgrimaud commented on #12460
As there is no progress since, I'm adding a bounty on this, if it can motivate people.
@souleymatoo : any progress on your pull request ?
@swarajsaaj : if no answer, do you want to go on the work plz ?

If someone else wants to take the lead here, don't hesitate

[2020-12-11 07:18] swarajsaaj commented on #12460
@pascalgrimaud yes I can take it up if there is no progress on existing PR

[2020-12-11 07:18] pascalgrimaud commented on #12374
PR in progress: https://github.com/jhipster/generator-jhipster/pull/13048

[2020-12-11 07:20] pascalgrimaud commented on #12460
Thanks @swarajsaaj : I think the PR here is already in a good progress https://github.com/jhipster/generator-jhipster/pull/12637 but there are still some issue.
Feel free to start your work from here, or start another one.

I could increase the bounty later if @souleymatoo will be back and if you used his work, no worry about that ;)

[2020-12-11 07:26] pascalgrimaud commented on #12180
Removing stale label, as it's in progress by @gmarziou

[2020-12-11 08:23] deepu105 commented on #13178
As I expressed earlier if its moved for one, it must be moved for all 3 frameworks

[2020-12-11 09:34] #13225 closed

[2020-12-11 22:55] avdev4j commented on #13234
hi @SammyVimes
thanks for this suggestion. My only concerne here is that we have a plenty of caching solution right now. Maybe we should thinking of removing the less used ones. But, it's probably another subject ;).

However, as @jdubois said It should be easy to add a new cache implementation with JCache. Basically add the dependency and update the CacheConfiguration Java class. A little reminde

[2020-12-11 22:57] avdev4j commented on #13232
I supposed this is fixed through @kaidohallik PRs. I close the issue ;)

[2020-12-11 22:58] avdev4j commented on #13090
+ 1

[2020-12-12 06:59] swarajsaaj commented on #12460
Hi @pascalgrimaud , I took some motivation from existing PR and raised #13249 with the fix. I have not included `@ExtendWith(AbstractNeo4jIT.class)` (and other database related extensions) in the common annotation as I think it may slow down the tests that do not require a database interaction, should I create a separate annotation (maybe separate PR) like `@PersistenceIntegrationTest` to include

[2020-12-12 08:23] pascalgrimaud commented on #12460
@swarajsaaj : thanks for your work

Then, I don't understand well why you didn't include AbstractNeo4jIT with a condition like you did for Redis for example. In a Neo4j project, all integration tests needs AbstractNeo4jIT as it will start a Spring Context for tests with the database. I don't think it will change something as it will be the same as today.

About Cassandra, it's different, as it doe

[2020-12-12 08:27] pascalgrimaud commented on #13234
We can update the current CacheConfiguration, but we can create a new one:
- IgniteCacheConfiguration (in template) -> CacheConfiguration (in project)

So we won't have more additional conditions in this big big big file : https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs

[2020-12-12 08:30] pascalgrimaud commented on #13232
Not finished yet, @avdev4j as we still have :
- https://sonarcloud.io/project/issues?id=jhipster-sample-application&resolved=false&types=BUG
- https://sonarcloud.io/project/issues?id=jhipster-sample-application&resolved=false&types=VULNERABILITY

I'm removing the theme Angular, as the todo list is on Java part now

[2020-12-12 08:54] swarajsaaj commented on #12460
@pascalgrimaud : Thanks for quick response.
My confusion arose from `ExceptionTranslatorIT ` class, currently there is no inclusion of `AbstractNeo4jIT` in this integration test, but now I think it should be added, else its failing.

[2020-12-12 09:40] SammyVimes commented on #13234
Yes, this seems reasonable!

[2020-12-12 10:03] vrijmetse commented on #13040
Hi @SudharakaP ,

After read the documentation I can achieve zero downtime by updating the environment deployment configuration.

Basically I set the following:

- Deployment policy > Rolling with additional batch
- Configuration updates > Batch Size = 1
- Configuration updates > Minimimum Capcitiy = 1

Maybe the above setting (or similar) can be configured in CloudFormation setup would be great.

[2020-12-12 11:01] SudharakaP commented on #13040
@vrijmetse : Thanks for posting back your solution. I am closing this as it seems this is purely an aws deployment configuration issue and there's nothing to be done on the jhipster side. I couldn't recreate this issue; but if more users report this we can dig deeper into it. 😄

[2020-12-12 11:01] #13040 closed

[2020-12-12 13:10] swarajsaaj commented on #12460
@pascalgrimaud added `AbstractNeo4jIT` and `ReactiveSqlTestContainerExtension` to the base annotation. Requesting review.

[2020-12-12 13:43] victorkalczuga opened #13251 "URGENT - Products are no longer available on my website https://cbonart.com. I use Filters and search (it's not available too). Please help"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [ ] Checking this box is mandatory (thi

[2020-12-12 13:47] cbornet commented on #13251
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-12-12 13:47] #13251 closed

[2020-12-12 21:17] pascalgrimaud commented on #13055
Do we still have the issue in main branch ?

[2020-12-13 03:27] kaidohallik commented on #13055
Left open because unrelated config generation issue: https://github.com/jhipster/generator-jhipster/pull/13058#issuecomment-728309913

[2020-12-13 11:14] nicolas63 opened #13261 "Allow customization of the field type in jdl"
##### **Overview of the feature request**

Today only java field type is valid in jdl.
For the blueprints like dotnet the ideal would be to be able to have its own field type.

I can help on this issue but I would need someone to guide me through it.

##### **Motivation for or Use Case**

it is difficult to ask a dotnet developer to think with java types.

##### **Related issues or PR**

-   [x] C

[2020-12-13 12:41] mshima commented on #13261
I understand your point, but I don't think we should add support to this.
- It's not so simple as adding support to jdl.
The generators uses those type to convert to specific type:
frontend: Long => number, String => string.
liquibase: Long => bigint
- I would make jdl technology specific.
One beauty of jhipster is to take 1 jdl and try many technologies.

JHipster types happens to be Java type be

[2020-12-13 13:31] pascalgrimaud commented on #12441
all work is done, so it's ready for the beta release next week

[2020-12-13 16:00] ctamisier commented on #13224
I'm starting here: https://github.com/jhipster/react-jhipster/pull/63 (It seems to work for the moment but I will double check everything, and study the use of ~x.y.z and the whole dependency management).

For now, I'm not really confident about the build I make locally and the integration in a local JHipster app. (through `npm link`, `npm link react-jhipster`, ...)
I've some warnings at startup (

[2020-12-13 16:51] nicolas63 commented on #13261
I understand the difficulty but do you think there is no way to do it without fully fork jdl stack ?
I think this would greatly contribute to the adoption of non-java blueprints

[2020-12-13 17:13] #12460 closed

[2020-12-13 19:11] MathieuAA commented on #13261
Hello there. I'm currently toying something that could help making the JDL language/tool agnostic. It's still in development though.

I'll comment this issue if and when my experiment is sufficiently advanced.

[2020-12-13 19:18] nicolas63 commented on #13261
Awsome :grinning: , if you need help in any way, I'm here.

[2020-12-13 21:34] MathieuAA commented on #13261
For now I'm starting with application configuration options, field types with validations, and options. Then, I'll add support to relationship changes.

My plan is to provide a simple interface where JDL import can be modified during validation.

This implies modifying the parsing phase a bit.

[2020-12-14 08:35] jdubois commented on #12747
@github-actions please keep open

[2020-12-14 21:07] swarajsaaj commented on #13141
I did some analysis and issue seems to be at:-
https://github.com/jhipster/generator-jhipster/blob/0aec2eb0dd90d7289fde02c03546b5bf64a9b541/jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.js#L49
where this condition returns either a map of applications without entities directly, but this method does not add applications without entities in map anywhere below

[2020-12-14 21:15] MarlonLuan opened #13278 "Allow customization of the ID field type for User entity"
##### **Overview of the feature request**

Adds support to custom ids:

[code]

##### **Motivation for or Use Case**

Now with  PR #13258 it is possible to customize the entities ID, it would be interesting to be able to also change the user entity, to maintain consistency and standardization

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read eve

[2020-12-14 23:18] jh64 opened #13281 "Bugs report for Openshift sub-generator - No route to host (Host unreachable)"
I have been trying to run the JHipster (6.10.5) generated apps (**excluding the JHipster Registry**) to run on Openshift CodeReady/crc (4.6.1). I managed to fix a few bugs in the yaml files generated by running the command "jhipster openshift".

Error from the **gateway** app:
I/O error on GET request for "http://myapp:80/management/health": No route to host (Host unreachable); nested exception is

[2020-12-14 23:24] jh64 opened #13282 "Bugs report for Openshift sub-generator - Invalid JWT token"
After fixing the issue #13281, my investigation progressed to this issue:
Error from the microservice app (routed through the gateway app): "Invalid JWT token."

I fixed it by adding the missing JWT. I used the same one (JHIPSTER_SECURITY_AUTHENTICATION_JWT_BASE64_SECRET) from the file https://github.com/jhipster/generator-jhipster/blob/main/generators/openshift/templates/registry/jhipster-registr

[2020-12-14 23:40] krusche commented on #12712
any news here?

[2020-12-15 05:55] xch900910 opened #13284 "Why is there no version number in the pom.xml file for generating the maven project?"
![image](https://user-images.githubusercontent.com/14215366/102176811-2555b300-3edd-11eb-94b8-40440b54dac4.png)

[2020-12-15 06:39] pascalgrimaud commented on #13284
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-12-15 06:39] #13284 closed

[2020-12-15 06:44] pascalgrimaud commented on #13281
closed by https://github.com/jhipster/generator-jhipster/pull/13283

[2020-12-15 06:44] #13281 closed

[2020-12-15 06:45] pascalgrimaud commented on #13282
closed by https://github.com/jhipster/generator-jhipster/pull/13283

[2020-12-15 06:45] #13282 closed

[2020-12-15 06:54] pascalgrimaud commented on #13278
As said in other pull request, `Relationships are not complete yet`
I think it should be done first, before this ticket

[2020-12-15 06:58] pascalgrimaud commented on #13278
after thinking about it, it will require a lot of work to achieve it, as there are impacts on all part of generator

[2020-12-15 10:10] #13090 closed

[2020-12-15 10:23] deepu105 commented on #13224
Did you try using npm pack and install the generated tar `npm install <tarball
file>`

https://docs.npmjs.com/cli/v6/commands/npm-pack

Thanks & Regards,
Deepu

On Sun, Dec 13, 2020 at 5:00 PM Clément Tamisier <notifications@github.com>
wrote:

[2020-12-15 10:36] kaidohallik opened #13291 "After switching ngx-default from sql to sqlfull default app is not passing Sonar quality gate"
##### **Overview of the issue**

After adding tests to entity routing resolve service I hoped to get better coverage, but instead yesterday evening change in https://sonarcloud.io/dashboard?id=jhipster-sample-application:
Coverage: 81.0 -> 75.8
Files: 593 -> 1,173
Unit tests: 762 -> 1,192
Lines to Cover: 10,283 -> 18,072
Code smells: 74 -> 156

If I analyze the same project in local SonarQube then

[2020-12-15 11:45] kaidohallik commented on #13291
SonarQube 8.6.0 is out and 12 hours ago Docker image is available in Docker Hub. Will try this new version locally.

[2020-12-15 11:46] DanielFran commented on #13291
Will update current docker images, including Sonar asap...

[2020-12-15 11:48] kaidohallik commented on #13291
SonarQube 8.6.0 needs authentication by default - so this needs to be handled while upgrading SonarQube docker image to 8.6.0.

[2020-12-15 11:59] kaidohallik commented on #13291
This is needed to add to `sonar-project.properties` for SonarQube 8.6.0:
[code]
In SonarQube 8.6.0 all is working well, the same result as in SonarQube 8.5.1

[2020-12-15 12:12] DanielFran commented on #13291
@kaidohallik the changes in sonar-project.properties are needed if we use a token?

Or you mean, just add this to document sonar-project.properties generated?

[2020-12-15 12:19] kaidohallik commented on #13291
This is needed for local SonarQube, if not providing then the following commands will fail:

Maven:
[code]

Gradle:
[code]

SonarCloud is working without this. If we add this then don't know, will SonarCloud integration work or not. I believe that for SonarCloud token is priority, so SonarCloud probably should also work after adding this.

[2020-12-15 12:38] mshima commented on #13278
I don't think it will require too many changes.
- relationship should be done.
- frontends should be id type independent.

I am finishing a PR adding support to `--pk-type` option that will allow to use UUID by default.

[2020-12-15 13:06] kaidohallik commented on #13291
This issue is related to: https://github.com/jhipster/generator-jhipster/commit/a65bba5a212609fe25fdc5e3d0b1df3d32303bd7 - sample application was switched from `sql` to `sqlfull` by this change - so more entities and this affected also coverage.

[2020-12-15 13:19] kaidohallik commented on #13291
As detecting code smells of test files is normal part of Sonar then this issue is only for coverage which appeared after switching ngx-default from `sql` to `sqlfull`, changed also issue title.

[2020-12-15 13:38] mshima commented on #13291
That was an unexpected result.
We switched to postgres by default, made sense to switch sqlfull to postgres database.
Curious if there is a way to add sonar status to PRs for our use case.

[2020-12-15 15:17] pascalgrimaud commented on #12441
Closing this, as all PRs are merged

[2020-12-15 15:17] #12441 closed

[2020-12-15 16:35] ctamisier commented on #13224
Oh yes ! thx for the information !
Actually I should have remembered: https://github.com/jhipster/ng-jhipster/commit/8a8e587ac68c3688f56a72ed93ebc5943f26c7c8#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5

Now the "build warnings" are gone.
I still have some warning about how `dayjs` is integrated and specifically its typescript integration...
I will investigate.

[2020-12-15 17:20] yelhouti commented on #7112
@mshima I have sent you a private message but didn't get a response, so here it is.
Thank you for helping implement the future, step by step, I have been trying to rebase each time, but I still face a major problem, handeling oneToOne relationships requires to add a field only when the other relationship is not composite, but composite can not be known beforehand, and it's type depends on the type

[2020-12-15 18:00] mshima commented on #7112
If you sent via Skype, probably I have missed, I just used for those meetings recently.

Detecting if primaryKey is composite should be working with `primaryKey.composite` already.
But as I was focusing on getting ids working correctly I never tried for composite yet.

Next step is to focus at composite with fields only.
I just fetched your branch to start composite, do you have a more updated bra

[2020-12-15 22:27] avdev4j opened #13298 "Reactive generation is broken"
##### **Overview of the issue**
The generator does not generate reactive application

##### **Motivation for or Use Case**
When we generate an application from the main branch and answer Yes to the reactive prompt. The generated application is not reactive, the reactive value in the `.yo-rc.json` is "false" in any case.

##### **Reproduce the error**
Link JHipster from the main branch
npm link in

[2020-12-15 23:52] #13298 closed

[2020-12-16 02:04] mshima commented on #7112
Let me try to explain.
Yeoman generators are based on queues so everything happens in an order.
computePrimaryKey breaks that order by eagerly calculating ids from entities that may not be ready.
You can say it’s working, but when running blueprints it can break blueprints customizations.

Why to use getter?
We cannot guarantee that the order entities are composed will be compatible with the order

[2020-12-16 04:51] abhijit2386 opened #13300 "Jhipster Behind the proxy error"
Hi,

I am getting error while running my jHipster Angular project behind the proxy. I have configured proxy and reverse proxy with "/"
i.e> if my jhipster app is running on http://10.1.0.1:8080/ then from web server I have configured http://10.1.2.11:8080/. (Here by default base ref = "/" in index.htm page) but I am getting this error while accessing from web server and unable to understand where

[2020-12-16 07:01] yelhouti commented on #7112
@mshima I do have another (none working) branch, where you can see the problem I am trying to explain.
I understand the queue concept of yeoman, but it doesn't work the way it is written know, the code was written under the assumption that entities are indépendant from each other, we can loop over all of them, prepare them then write the files.
The truth is that this not true, they are not indepen

[2020-12-16 08:03] kaidohallik commented on #13090
Maybe it's good idea to put into v7 release notes something like: "We have enabled Prettier for HTML. You can run Prettier with html enabled before upgrading and commit changes to Git to see real changes in HTML files after upgrade.".

[2020-12-16 08:41] gmarziou commented on #13090
I have a question: does Prettier for HTML run only at generation time or also using git commit hooks?

[2020-12-16 08:49] kaidohallik commented on #13090
`getPrettierExtensions()` is used in all places:
* in generation
* in `package.json` in script `prettier:format`
* in `.lintstagedrc.js`

So if user doesn't skip commit hook generation then HTML is prettified also on commit.

[2020-12-16 09:02] gmarziou commented on #13090
Are there any instructions about how to disable it?

[2020-12-16 09:12] kaidohallik commented on #13090
About `skip-commit-hook` option.

No info in:
* https://www.jhipster.tech/creating-an-app/
* jhipster --help

Only place I found is:
* https://www.jhipster.tech/2018/06/20/jhipster-release-5.0.0.html#front-end

[2020-12-16 09:36] yelhouti commented on #13132
Should I start working on this? @gzsombor @pascalgrimaud  I am ready to make a PR.

[2020-12-16 10:14] 8debug opened #13304 "Duplicate class found in the file"
Microsoft Windows [版本 10.0.17134.1246]
(c) 2018 Microsoft Corporation。保留所有权利。

C:\Users\DELL\Desktop\myapp>jhipster info
INFO! Using JHipster version installed globally
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.

[2020-12-16 12:26] DanielFran opened #13305 "Issue on Front side when using skipClient for some entities"
##### **Overview of the issue**

Issue with declaration of model on front for entities that have been skipped

##### **Motivation for or Use Case**

On front-end, it is declared model for all one-to-many entities but some of them are defined to be 'skipped' on the front side.

[INFO]  ERROR  Failed to compile with 1 errors12:11:41
[INFO]
[INFO]  error
[INFO]
[INFO] src/main/webapp/app/entities/sym

[2020-12-16 12:27] DanielFran commented on #13305
@kaidohallik @mshima
Do not know if it is related with Angular only and the refactoring, or related with changes on entities....

[2020-12-16 13:17] kaidohallik commented on #13305
I tried the same config with Vue. Vue compiles successfully, but the same error occurs in runtime in Vue after entering to page that includes this import, this model is not generated also in Vue client.
So seems that general problem, not related to Angular.

[2020-12-16 13:29] mshima commented on #13305
If the jdl works on jhipster 6, then it’s because of the flatten dto.
At jhipster 7, entities always depends on the model of the other entity.
Drug is not skipClient but it uses notice model that is skipClient. In this case at least the model file must be written.

[2020-12-16 13:34] mshima commented on #13305
In this case we should try to support single side relationships:
[code]
And drop back reference.

[2020-12-16 13:36] mshima commented on #13305
cc @MathieuAA

[2020-12-16 14:01] kaidohallik commented on #13305
FYI: if I look at Vue source then there is also used `.service` file for `skipClient` entity, so for Vue also `.service` file is needed.

[2020-12-16 14:44] kaidohallik opened #13308 "If using import-jdl for importing entities only then Prettier is not launched"
##### **Overview of the issue**

If running `jhipster import-jdl entities.jdl` where `entities.jdl` contains only entities then generated result is not prettified.

For example `entities.jdl` with this content:
[code]

Tested with the current main branch.

##### **Motivation for or Use Case**

Generation result should be formatted by Prettier also if importing only entities with `import-jdl`.

###

[2020-12-16 15:01] mshima commented on #13308
Should be fixed by https://github.com/jhipster/generator-jhipster/pull/12711.

[2020-12-16 17:55] gmarziou commented on #13090
Thanks @kaidohallik

[2020-12-16 18:17] mshima commented on #13090
`jhipster app --help` prints every option.

[2020-12-17 02:47] towith opened #13309 "Post generation handler"
# Feature request: Post generation handler
I wonder if there are some post code generation handlers to modify generated code , that would be useful and increase flexibility, sometimes , for example I want to modify entity generated code to extends a common super class (Not managed by code generation) , and some time I want to add an annotation to  the generated code class field, these are enhanced

[2020-12-17 07:36] pascalgrimaud commented on #13300
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-12-17 07:36] #13300 closed

[2020-12-17 07:37] pascalgrimaud commented on #13309
You should have a look at:
- module: https://www.jhipster.tech/modules/creating-a-module/
- blueprint: https://www.jhipster.tech/modules/official-blueprints/

[2020-12-17 07:38] sunyuyangg555 opened #13316 "ng-jhipster: alert-error should pick up error detail"
##### **Overview of the issue**

alert-error should pick up error detail

##### **Motivation for or Use Case**

When I throw RuntimeException from server with detail message, the``` <jhi-alert-error/>``` should pick up the message.

##### **Reproduce the error**
in server
[code]
and the http error message is
[code]
in clien, only show Internal server error message!

##### **Related issues**

#####

[2020-12-17 08:20] 8debug commented on #13304
Has anyone encountered this problem?

[2020-12-17 08:28] pascalgrimaud commented on #13305
After discussing with @MathieuAA about this, here my opinion:
- there is no bug here, as it's the normal behavior of skipClient
- if you use skipClient, you won't have any front generated
- in this use case, there are some relationships between entities with client and entities without client
- it means for the front part, we need generate model + service : but we don't want the front part as ther

[2020-12-17 10:49] extraclassi commented on #9639
Thanks @cirotarini !

I really need to make this work, thanks for your tips.

Just a quick question, when you say "generate another jhipster app with the same relationship but now as ManyToMany"

is it enough to write just :

ManyToMany{
Owner{pet} to Pet{owner}
}

?

[2020-12-18 01:43] 8debug commented on #13304
Windows10

I found a solution：

step1 Open the command line
step2 Enter the project root directory and `gradlew clean`
step3 `npm install -g rimraf`
step4 `rimraf node_modules`
step5 `npm install`
step6 `gradlew build`
step7 `gradlew`

[2020-12-18 07:04] 8debug commented on #13304
The problem is still using IntelliJ IDEA

[2020-12-18 07:05] 8debug commented on #13304
The problem is still using IntelliJ IDEA

[2020-12-18 11:22] kaidohallik opened #13323 "Add upgrade help to release information"
I propose to add the following or similar help to the v7 release notes.

#### **Prettier for HTML**

We have enabled Prettier for HTML. You can run Prettier with html enabled before upgrading and commit changes to Git to see real changes in HTML files after upgrade.

#### **Files renamed in Angular client**

In Angular client lot's of files renamed and tests moved next to files they are testing.

[2020-12-18 13:45] pascalgrimaud commented on #13304
I don't know what is exactly your problem, but it seems related to IntelliJ
Can you have a look at this comment ? It's related to mapstruct
- https://github.com/jhipster/generator-jhipster/issues/12967#issuecomment-737405698
- see https://youtrack.jetbrains.com/issue/IDEA-200481 too

So try to upgrade mapstruct to 1.4.1

[2020-12-18 20:49] #13141 closed

[2020-12-18 21:37] #12374 closed

[2020-12-18 21:38] pascalgrimaud commented on #12374
I'm increasing the bounty as it was much work than expected
Don't forget it @gzsombor

[2020-12-19 11:33] mshima commented on #13323
I think that this script could be integrated at upgrade generator.

[2020-12-19 11:36] mshima commented on #13305
I’m in favor of supporting single sided relationships.
Back reference would not be written and models would be independent.

[2020-12-19 11:41] mshima commented on #13305
@DanielFran can you confirm if manually removing Notice relationship from `.jhipster/Drug.json` and Symptom relationship from `.jhipster/ToxicityRate.json` it generates the application you want?

[2020-12-19 15:30] DanielFran commented on #13305
@pascalgrimaud There is in fact 2 possibilities:
- generate front model and service in front-end
- do not generate model and service, so it cannot appears in the relationship the  detail for model skipped.

What ever solution chosen, both backend and front-end should build.

@mshima In my case I wan't to include in front-end a list of notices in drug page detail.

[2020-12-19 19:35] pascalgrimaud commented on #13305
Not sure about that. When using skipClient + skipServer, it's not supposed to work out of the box. You always need to do some work after generating that.
The proof is: we don't have the CI to test this part, as skipClient + skipServer are only for very advanced uses, so the end-user knows what he/she's doing.

But we can discuss about it of course :)

[2020-12-19 22:52] #11685 closed

[2020-12-20 10:33] clocken commented on #12649
Oh, I thought adding commits would be enough to keep this open. As the work is [nearly finished](https://github.com/jhipster/generator-jhipster/pull/12923#issuecomment-748077732) it would be nice if someone could reopen this. Thanks

[2020-12-20 10:34] DanielFran commented on #12649
Reopened

[2020-12-20 16:36] PierreBesson commented on #12649
@pascalgrimaud Could you add a bounty on this, to give to @clocken who did really great work on this over the length of 3 months!

[2020-12-20 16:48] pascalgrimaud commented on #12649
bounty added

[2020-12-21 01:56] 8debug commented on #12967
#pascal

I try, but it is not work

[2020-12-21 01:57] 8debug commented on #13304
I try, but it is not work

[2020-12-21 02:58] #12729 closed

[2020-12-21 07:04] pascalgrimaud commented on #13081
up, for final v7

[2020-12-21 09:47] nassimerrahoui opened #13345 "[Cypress] Replace all cy.server() and cy.route() by cy.intercept()"
##### **Overview of the feature request**

Replace all cy.server() and cy.route() by cy.intercept().
(see: https://docs.cypress.io/api/commands/intercept.html#Comparison-to-cy-route)

##### **Motivation for or Use Case**

In a future release, cypress support for cy.server() and cy.route() will be moved to a plugin.
They encourage to use cy.intercept() instead.
(see: https://docs.cypress.io/guides/

[2020-12-21 11:29] clocken commented on #12649
Thanks for seeing this through and for the bounty :smiley: I will collect it when this has been merged.
Merry Christmas, despite these weird times!

[2020-12-21 17:35] carloca68 opened #13348 "Gradle build - Execution failed for task ':checkstyleMain'."
##### **Overview of the issue**

Gradle build failing with:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':checkstyleMain'.

     Required by:
         project :

     Required by:
         project : > io.spring.nohttp:nohttp-checkstyle:0.0.5.RELEASE

##### **Motivation for or Use Case**

 Single quotes prevent gradle propertie "checkstyleVersion" expansi

[2020-12-21 19:05] #13348 closed

[2020-12-21 21:29] yelhouti commented on #7112
@mshima beta is here and it exposes referenceIds... that can not be used and generalized to compositeIds, I would really appreciate if we could fix this before final release, what do you think of my suggestions?

[2020-12-22 02:52] pblanchardie commented on #13133
Please don't! ;)

Exactly, that's what I used to do, and it's definitely cleaner. Sometimes, the CommandService needs to inject the QueryService, but not the other way!

Me too :)

In projects with complex querying, it's nice to be able to extend QueryService with custom logic and security rules, and keep things separated.

I'm not in favor of unifying reads and writes.

But moving Specifications

[2020-12-22 02:58] yelhouti commented on #13133
As long as we agee on what to do, I'm ok writing the code, core team should decide I guess, so what do you guys think

[2020-12-22 03:08] towith commented on #13309
@pascalgrimaud yes, `module` and `blueprint` is similar to what I mean, I make this issue closed , thanks for your reply.

[2020-12-22 03:09] #13309 closed

[2020-12-22 04:13] pblanchardie commented on #12740
At the very beginning, 7 years ago (!), the User  `@Id` was `String login`, see the initial 4d45fd63 commit from @jdubois.

Later, the same @jdubois switched to a technical Long `@Id` in commit 35b0e8eb, but kept the login in `UserResource.getUser`.
I admit I also prefer using the technical id, and I don't know why it hasn't been updated.

Back in the days, I remember it caused problems when using

[2020-12-22 19:32] mrtinkz opened #13361 "java.lang.NoClassDefFoundError: com/google/common/collect/Lists"
`INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "pack

[2020-12-22 23:32] gzsombor commented on #12374
Thanks @pascalgrimaud ! I claimed the bug bounty here: https://opencollective.com/generator-jhipster/expenses/30439

[2020-12-23 07:28] pascalgrimaud commented on #12374
@gzsombor : approved

[2020-12-23 09:10] ecostanzi opened #13365 "When using `jhipster entity NewEntity` all the entities are re-generated"
##### **Overview of the issue**

When creating a **single** entity using command `jhipster entity MyEntity`, at the end of the prompt phase i can see that the generator re-generates **all** the entities that are already configured in the `.jhipster` directory.

I admit I'm not aware of all the changes that have been discussed for the new release but I'm not sure this is the expected behavior.

###

[2020-12-23 10:02] yukinami opened #13366 "Why not using hibernate query cache"
##### **Overview of the feature request**

Consider using hibernate query cache.

##### **Motivation for or Use Case**

When I created the project with **Spring cache abstraction enabeld**, I found that find methods in `UserRepository` are annotated with  `@Cacheable`.
Why not using hibernate query cache so that we dont't have to manually invalidated relevant caches.

##### **Related issues or PR*

[2020-12-23 14:05] DanielFran commented on #13323
@kaidohallik Everything has been merged or it is still missing some hints?

[2020-12-23 14:11] kaidohallik commented on #13323
Everything is merged.
@mshima suggested to add those scripts to upgrade generator in the previous comment, but I don't have power to do that.

[2020-12-23 14:13] DanielFran commented on #13323
@mshima Is it something you will add to the upgrade process?

[2020-12-23 16:08] mshima commented on #13323
There are lots of improvements to be done all over the place.
Not sure if I will manage to integrate this.

Another suggestion is to somehow upgrade prettier stack and config before doing the upgrade.

Closing for now.

[2020-12-23 16:08] #13323 closed

[2020-12-23 19:22] swarajsaaj commented on #13316
I checked this on latest build
jhipster version7.0.0-beta.0

See the screenshot below, instead of showing "Test error message", UI shows "error.http.500". From controller an `IllegalArgumentException` was thrown with the message.

![image](https://user-images.githubusercontent.com/6285049/103030369-ab2ec980-4581-11eb-8ea6-c96e4955d916.png)

I agree, this should be fixed to show meaningful messages

[2020-12-23 21:01] mshima commented on #13365
At jhipster 7 when generating one entity, data from related entities are required.
Example:
[code]
Foo has relationship with Bar and defines `name` as select labels. Bar finds the `name` reference generates a custom dto mapping for `name`.

So
- JHipster 7 requires to process related entities.
- It's possible to skip writing entities other than the target one, but they may be outdated.

[2020-12-24 09:36] ecostanzi commented on #13365
I understand, but in this case the two entities are not related to each other.

How can it be done?

[2020-12-25 03:11] yelhouti opened #13373 "JVM and DB Timezones are different breaking CURRENT_TIMESTAMP"
##### **Overview of the issue**

Setting only the DBs time to UTC breaks sql time functions.

##### **Motivation for or Use Case**

Least surprise principal (Wasted a lot of time one this, a workaround is to pass an Instant as a parameter, but this should work IMO)

##### **Reproduce the error**

[code]

[code]

##### **Related issues**

#11740 #11780

##### **Suggest a Fix**

make the JVM match t

[2020-12-25 03:11] yelhouti commented on #13373
@avdev4j :D

[2020-12-25 03:14] yelhouti commented on #11780
If by user you mean developer, if they want to they would want the same for the DB I guess.
If you mean end users, this what ZoneDateTime... is used for, and everything sent from the frontend with that different timezone keeps it both in java and in the database, no matter how the JVM is configured.
Or am I missing something?

[2020-12-25 05:39] Blackdread commented on #11780
Back-end only.
You usually send time using instant to front-end, then they use Moment.js (or other) to show the date in timezone of user's browser or business logic.

[2020-12-25 09:48] gmarziou commented on #13373
I got caught by this one as well due to db server's clock not being synchronized by NTP, now I pass the time as a query argument.

[2020-12-26 01:53] yelhouti commented on #13373
@gmarziou exactly what I do, but it's really bad, and it wastes everybody's time. We could add a compile error or something like date if one of these functions is called, explain what we are doing what we are doing, or switch the JVM to UTC. We shoudl also have link to explain what are the other choices and pros and cons for each.

[2020-12-28 09:12] avdev4j commented on #13373
hi @yelhouti
I think there is something wrong here and could be the point why you struggled with.

We decided to set hibernate time handling to UTC to ensure we do not rely on the server or JVM timezone to store datetime fields. Because all databases doesn't have a solution to store both datetime and timezone value, storing it under UTC is the best way to use, display or manipulate your date with

[2020-12-28 09:28] avdev4j commented on #13366
hi @yukinami
I wonder what will happen if we don't have Hibernate cache enabled. I understand your proposal and I think it makes sense while you have hibernate second level cache enabled, if we don't we should anyway manage that manually.

I think this is quite old in JHipster and maybe nobody reviewed that since this has been added in the generator.

I suppose, if we want to make it real, we need

[2020-12-28 13:01] #13308 closed

[2020-12-28 20:32] rajkshah14 commented on #4251
@mraible the article looks very promising. Is there any ongoing thread where the blueprint for GraphQL is discussed?
It would be a very good feature to have with Jhipster.

@deepu105 in 2016 you closed the issue, do you see any value now with the very lean implementation of GraphQL with https://github.com/leangen/graphql-spqr.

I attached snippet to review spqr quickly.

[code]

[code]

[2020-12-28 20:42] deepu105 commented on #4251
Well the situation is the same, we don't have bandwidth to add another huge option so this is better suited to be a blueprint. We are already struggling to maintain options we already have

[2020-12-28 22:11] fitdeveloper commented on #10199
@wattazoum you are a genius thanks buddy !!!

[2020-12-29 02:32] mraible commented on #4251
I hope to look into implementing GraphQL in 2021. However, I'll be
investing my time in microfrontends support first.

Question for those interested in this feature:

Are you mostly interested in:

1. Replacing everything that's currently REST with GraphQL (including
client code). This is the hardest option.
2. Having a GraphQL API on the server (current client code and entity
generation stays the

[2020-12-29 02:34] mraible commented on #12686
Please keep this open as it's something I care about.

[2020-12-29 05:06] thawkins commented on #4251
Graphql on server and on the react client.  So that react pages generaly
only make a single call to fetch data.

On Tue, Dec 29, 2020, 10:33 Matt Raible <notifications@github.com> wrote:

[2020-12-29 10:18] rajkshah14 commented on #4251
@mraible my team is currently looking **Option 2**
We are exposing Jhipster based API's to mobile clients and it would be a lean option to slowly migrate to GraphQL based implementation and support old clients.

[2020-12-29 10:25] jdubois commented on #12740
Yes there is a lot of legacy here.
Initially, I didn't want to use emails as logins (as those can change, for example when you get married, and also as they are considered as personal information - so not RGPD friendly), but in practice everybody wanted to use them. So we ended up supporting both logins and emails, which is great because it makes everybody happy, but can cause some security issues

[2020-12-29 18:56] mraible opened #13384 "A microservices architecture with Vue doesn't have translations in alerts"
##### **Overview of the issue**

If you create a JHipster microservices architecture with Vue, the alerts in the UI aren't translated.

<img width="1025" alt="Screen Shot 2020-12-29 at 11 47 49 AM" src="https://user-images.githubusercontent.com/17892/103306874-dffcaf80-49cb-11eb-8986-69986bfd6724.png">

It looks like there's a missing translation for `health.indicator.r2dbc` in Administration > He

[2020-12-29 19:00] mraible commented on #13384
When running Cypress tests, I also noticed that there's a flash of untranslated content before the translation happens. I don't recall seeing this with Angular or React.

[2020-12-29 19:52] mraible opened #13385 "React unable to delete certain entities when using React"
##### **Overview of the issue**

I created a microservices architecture using JHipster 7 beta 0 and React for the frontend. Here's the JDL I'm using:

[code]

I start all the required services and apps with the following commands:

[code]

New terminal:
[code]

New terminal:
[code]

Most entities work, except for `Post`. If you try to delete one, it results in a 500 error. It's interesting because

[2020-12-29 20:40] oulfr opened #13386 "UAA not working"
scenario: https://start.jhipster.tech/generate-application
- create jhipster UAA server with oauth 2
- mysql database
- maven
- angular

then run :
1. ./mvnw -Pprod verify jib:dockerBuild
2.  docker-compose -f src/main/docker/app.yml up -d

error:

The application will start in 30s...

Picked up _JAVA_OPTIONS: -Xmx512m -Xms256m

██╗ ██╗ ██╗ ████████╗ ███████╗ ██████╗ ████████╗ ████████╗ ███████╗

[2020-12-29 23:02] mraible commented on #13361
I copied your `.yo-rc.json` file into a `13361` directory and ran `jhipster` (using v7 beta 0). Then I tried running `./mvnw`.
[code]

This works. I tried to run `npm run e2e` and tests failed because Elasticsearch wasn't up. I started it using Docker Compose and tried again.

Some tests do fail:

[code]

If I change the `clientFramework` to `angular` instead of `react`, I get an error when I gene

[2020-12-30 07:45] pblanchardie commented on #12740
Hi @jdubois, that makes sense.

From a (non-geek) user perspective, using yet another login is painful in most cases (I'm not even talking about passwords!...).

As soon as the email is well protected, not present in public DTOs and only shown to relevant users (thus not used in a path), it can comply with GDPR when used as an authentication factor and communication channel, so it was a good idea

[2020-12-30 09:15] jdubois commented on #12740
Initially, this was copied on the GitHub API, so you had the login in the URL (like github.com/jdubois ), and I didn't want to share internal technical information (like the internal ID). It's supposed to be easier to use for everyone, and maybe more secure. Then, using the email obviously has some GDPR issues.
That's why at the moment we accept both login & email to authenticate, and use the logi

[2020-12-30 09:43] pblanchardie commented on #12740
Indeed, the problem only appears when you put an email in the login field, as allowed by the login regex.

👍 Good idea to stick with GitHub and other cool and secure geek apps, but:

So emails should not be allowed as logins, but only in the email field to prevent the misuse. That was the case in 2015, when `^[a-z0-9]*$` was introduced in 8e8f389a. The problem appeared in 481f9f95, because of soci

[2020-12-30 16:59] swarajsaaj commented on #13316
I can provide PR for fixing both 4xx and non-4xx statuses.

[2020-12-30 17:06] ruddell commented on #13361
This issue is a duplicate of https://github.com/jhipster/generator-jhipster/issues/12611.  Based [on the comment](https://github.com/jhipster/generator-jhipster/issues/12072#issuecomment-711173910) in another related issue, since Webflux is beta, some things may not work as expected.

@mraible Fix for React E2E tests is in #13387.

The Angular issue is because you used `angular` instead of `angula

[2020-12-31 00:00] mraible opened #13390 "Improve Gatling integration"
##### **Overview of the issue**

I think our Gatling integration can be improved, especially for microservices. First of all, we should document how to run it on <https://www.jhipster.tech/running-tests> as a took me a bit to figure it out.

Step 1: [Download Gatling](https://gatling.io/open-source/start-testing/)
Step 2. Extract it somewhere and add /path/to/gatling/bin to your `PATH`
Step 3. In

[2020-12-31 15:53] digital-thinking opened #13391 "Release 6.10.5 not working with R2DBC since it's not experimental anymore and the pom moved"
In latest version Release 6.10.5 JHipster still used the experimental artifact of spring boot (spring_boot_starter_data_r2dbc_version), which is not experimental anymore and therefore moved to the official spring boot groupid in the maven repository. From
`"org.springframework.boot.experimental:spring-boot-starter-data-r2dbc}"`
to
`"org.springframework.boot:spring-boot-starter-data-r2dbc" `

Unfor

[2021-01-01 08:56] swarajsaaj commented on #13384
The toast message here is not being translated because of incorrect key here, instead of `gatewayApp.storeProduct.created`, it should be `storeApp.storeProduct.created`. with prefix as `microserviceAppName` instead of `frontendAppName` in case of microservices

[2021-01-01 12:09] pascalgrimaud commented on #13384
Would you to provide a pull request to fix it plz @swarajsaaj ?

[2021-01-01 12:29] swarajsaaj commented on #13384
Yes @pascalgrimaud , I would provide a PR soon.

[2021-01-01 20:34] qmonmert commented on #13385
@mraible the bug comes from `PostResource.java`:
[code]

If you update the method `getPost` with that, you don't have the bug
[code]
but you lose the eager properties on the `getPost` ...

So the problem seems to be the cypher query (but seems to be good):
[code]
not valid in your case (maybe microservice? proxy?)

I try some fixes without success ...

[2021-01-01 20:53] mraible commented on #13385
Are you sure it's a server-side issue? It works with Angular and Vue, which makes me think it's a React issue.

[2021-01-01 22:22] qmonmert commented on #13385
ah, strange that it works with Angular and Vue 🤔

[2021-01-02 00:45] mraible commented on #12558
Should we add a bounty for motivation?

[2021-01-02 08:19] atomfrede commented on #12887
Keep it open

[2021-01-02 08:22] atomfrede commented on #12558
We are depending on vue bootstrap compatibility I think. Maybe we can start by updating to vue i18n and and replace the current client side validation library with compatibility one as a starting point maybe.

[2021-01-02 13:36] atomfrede commented on #12558
I would suggest the following to make the eventual v3 migration a bit easier:

* replace [vuelidate](https://vuelidate.js.org/) with [veeValidate](https://vee-validate.logaretm.com/v3/) as vuelidate is not well maintained anymore and I don't see it will be compatible with vue3 anytime
* Update to https://github.com/intlify/vue-i18n-next which is the successor of the current i19n solution but compa

[2021-01-03 02:45] Guzzi opened #13396 "bidirectional ManyToOne relations causing error"
##### **Overview of the issue**

As per documentytion, bidirectional ManyToOne relations should be possible - end they worked in older JH version.
See documentation here ->https://www.jhipster.tech/managing-relationships/#a-bidirectional-many-to-one-relationship
The mentioned example causes an error when generating code with jhipster import-jdl xxx.jdl and recommends to use OneToMany relation inst

[2021-01-03 12:39] sanjitvimal commented on #10330
Jhipster - 7.0.0 Beta,   weblux
Issue:- Swagger Doc is not loading
Console Error:-
Refused to apply style from 'http://localhost:8080/swagger-ui/swagger-ui.css' because its MIME type ('application/problem+json') is not a supported stylesheet MIME type, and strict MIME checking is enabled.
index.html:14 GET http://localhost:8080/swagger-ui/swagger-ui-bundle.js net::ERR_ABORTED 401 (Unauthorized)
in

[2021-01-04 03:24] yelhouti commented on #7112
Hi again @mshima , can we start working again on compositeKey support, not that you have done all the refactoring you wanted, can we find a way to unblock me. Using references blocks me as explained above, what do you suggest?

[2021-01-04 09:53] avdev4j commented on #13386
Hi @oulfr

Could you please provide more information about the JHipster version you used?

To provide all information we need, you should run `jhipster info` in the project root folder, and
copy/paste the result here.
The `.yo-rc.json` file generated in the root folder is mandatory for bug reports. This will help us to replicate the scenario.
You should remove any sensitive information like the re

[2021-01-04 09:56] pascalgrimaud commented on #13386
See https://github.com/jhipster/generator-jhipster/issues/13081

[2021-01-04 10:26] Strat1987 opened #13407 "Generating using React with Jhipster v6.10.5 fails on axios 0.18.0 transient dependency"
##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mycompany.myapp",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "6.10.5",
    "applicationType": "monolith",
    "baseName": "Downloads",
    "packageName": "com.mycompany.mya

[2021-01-04 14:43] qmonmert commented on #13385
Indeed it works with Angular

[2021-01-04 17:21] ruddell commented on #13407
Support for npm v7 is tracked in https://github.com/jhipster/generator-jhipster/issues/12747

Please use an LTS version of Node and NPM.

https://nodejs.org/en/download/
https://nodejs.org/en/about/releases/

[2021-01-04 17:21] #13407 closed

[2021-01-05 07:58] pascalgrimaud opened #13412 "Not used config stored in .yo-rc.json"
##### **Overview of the issue**

When generating a **microservice** application, there are some properties in `.yo-rc.json` which are incorrect:

[code]

##### **Motivation for or Use Case**

As there is no front part, these properties should not be here.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

##### **JHipster confi

[2021-01-05 08:22] ecostanzi commented on #13396
The documentation seems to be wrong. Probably it worked with the old versions of the jdl.

The error is: Error during import-jdl: In the Many-to-One relationship from Car to Owner, only unidirectionality is supported, you should either create a bidirectional One-to-Many relationship or remove the injected field in the destination entity instead.

As suggested, you can remove the "injected field in

[2021-01-05 08:49] ecostanzi commented on #13396
I was about to remove it but I noticed that it has been added in [this commit](https://github.com/jhipster/jhipster.github.io/commit/58853b18406013b0e4a63ff33c278edbb45e08ca) few weeks ago. Maybe @yelhouti can clarify this.

[2021-01-05 08:51] yelhouti commented on #13396
I think this will be released with 7.X, I guess it was merged too early.

[2021-01-05 08:52] yelhouti commented on #13396
Indeed, released in 7.0.0.beta https://github.com/jhipster/generator-jhipster/pull/13131

[2021-01-05 09:41] ecostanzi commented on #13396
@yelhouti  thanks, I missed it.

@Guzzi as long as you stick with version 6.10.5, remove the injected field `{car}` from the destination entity. Will that be enough to solve your problem?

[2021-01-05 10:28] yelhouti commented on #13396
@ecostanzi no worries, good luck

[2021-01-07 08:28] pascalgrimaud commented on #12090
Work done here: https://github.com/jhipster/jhipster-control-center
Now we can open the tickets in this repo instead of the main generator-jhipster.

[2021-01-07 08:28] #12090 closed

[2021-01-07 14:11] #13384 closed

[2021-01-07 15:07] atomfrede opened #13424 "Remove mLabs and Graphene Add On from Heroku Deployments"
##### **Overview of the issue**

Sadly both [mLab](https://docs.mlab.com/shutdown-of-heroku-add-on/) and [Graphene](https://docs.graphenedb.com/docs/shutdown-of-heroku-add-on) have discontinued their Heroku Addons.

To be consistent we should remove both options from the heroku deployment as no replacements with a free tier are available.

I can take care of this.

##### **Motivation for or Use Ca

[2021-01-07 15:26] swarajsaaj commented on #13384
@atomfrede #13394 also needs to be merged for adding one missing translation.

[2021-01-07 17:46] atomfrede commented on #13384
Done.

[2021-01-07 17:49] atomfrede commented on #13390
Maybe we can also add documentation how to use the gatling gradle/maven plugin. At least the gradle plugin works quite well.

[2021-01-07 17:49] #13345 closed

[2021-01-07 17:50] mshima commented on #13412
Reopening to track same problem with skipServer/skipClient related to https://github.com/jhipster/generator-jhipster/pull/13058#issuecomment-728234151.

[2021-01-07 17:51] mshima commented on #13055
Closing. The unrelated config generation issue will be tracked by https://github.com/jhipster/generator-jhipster/issues/13412.

[2021-01-07 17:51] #13055 closed

[2021-01-07 18:22] swarajsaaj commented on #13384
Sure @atomfrede , but that PR still seems open :)

[2021-01-07 19:09] qmonmert commented on #13345
@jdubois @pascalgrimaud I claim my money :) https://opencollective.com/generator-jhipster/expenses/31375

[2021-01-07 19:10] pascalgrimaud commented on #13345
@qmonmert : approved

[2021-01-07 19:17] qmonmert commented on #13345
thanks @pascalgrimaud

[2021-01-08 01:21] mraible commented on #13147
Does it happen with v7 beta 0?

On Thursday, January 7, 2021, github-actions[bot] <notifications@github.com>
wrote:

[2021-01-08 08:58] MR-Os1 commented on #13386
If You mean Which Configuration File You have to Update To get This work it's the application-prod.yml and By default both of these options exist on the dev and prod profiles configuration in JHipster version 6.10.5 with i have used.
so you probably messed up the prod configuration profile.

[2021-01-08 14:20] saturnism opened #13432 "JHipster 7 beta - ElasticSearch fails to start in Kubernetes"
##### **Overview of the issue**

Generated app and Kubernetes manifest with https://github.com/jhipster/jdl-samples/blob/main/microservices-blog-store.jh that uses ElasticSearch.  ElasticSearch deployment crashes in error in pod:

[code]

##### **Motivation for or Use Case**

to make sure the sample JDL works

##### **Reproduce the error**

1. Install JHipster 7 beta
2. generate apps from https://

[2021-01-08 14:21] saturnism commented on #13432
/cc @mraible

[2021-01-08 14:24] pascalgrimaud commented on #13365
For me, the current `jhipster entity <entity name>` is broken.

To reproduce the issue:
- `git clone https://github.com/jhipster/jhipster-sample-app-microservice`
- `cd jhipster-sample-app-microservice`
- `npm ci`
- `jhipster entity Beer`

[code]

[2021-01-08 14:28] saturnism commented on #13432
looks related to: https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html

[2021-01-08 14:35] saturnism commented on #13432
Currently generated template uses a deployment, and I think it can only run a single elastic search node anyway (since pvc can't be shared with rw across pods. Configured an env var to set `discovery.type` to `single-node` fixes it.

[2021-01-08 14:54] saturnism opened #13434 "JHipster 7.beta.0 - productList.map is not a function"
##### **Overview of the issue**

Generated app from https://github.com/jhipster/jdl-samples/blob/main/microservices-blog-store.jh

The "Product" entity page displayed an error with details:

[code]

##### **Motivation for or Use Case**

To ensure the sample works.

##### **Reproduce the error**

1. Install JHipster 7 beta
2. generate apps from https://github.com/jhipster/jdl-samples/blob/main/micr

[2021-01-08 14:55] saturnism commented on #13434
/cc @mraible

[2021-01-08 15:12] Guzzi commented on #13396
@ecostanzi unfortunately removing the injected field does not help - yes, the generator works and runs without error, but the generated code is missing the methods for B to A direction, that we already use and is missing now - so I would have to manually add all this code.
As far as I understand, it is only a generator issue, so wouldn't it be the easiest to backport to removal of this check to 6.

[2021-01-08 17:21] ClaudineiOlSantos commented on #10031
i have same issue. it is resolved?

[2021-01-08 17:38] ecostanzi commented on #13365
@pascalgrimaud are you sure? The first time I execute `jhipster entiy Beer` it works (there's no `.jhipster/Beer.json` in the workspace). The second time it regenerates both `BankAccount` and `Beer` even if they are not related.

[2021-01-08 17:44] pascalgrimaud commented on #13365
@ecostanzi : not for microservices

[2021-01-08 17:55] ecostanzi commented on #13396
I'm not sure about the backporting, but I strongly suggest not to mix the files generated by two different versions of jhipster.

What are you worried about? You seem to need is a `car` table with a foreign key `car.person_id` --> `person.id`. Using OneToMany in the jdl should be enough.

[code]

[2021-01-08 19:25] cgravatt opened #13439 "Ensure spring security authorization for /websocket/tracker is not bypassed with /websocket/tracker/"
##### **Overview of the issue**
When generating a jhipster project that uses Spring Websockets, jhipster in SecurityConfigurations.class
set authorization using antMatchers on /websocket/tracker to only allow ADMIN access. The issue is antMatchers do not account for trailing slash situations so /websocket/tracker/ would bypass this authorization.

As this issue has relation to security, I emailed

[2021-01-08 19:26] cgravatt commented on #13439
@jdubois

[2021-01-09 00:51] funder7 opened #13441 "User "email_verified" value is not mapped correctly from IdP (project w. OAuth)"
##### **Overview of the issue**

While doing some updates to the UserService class, I noticed that in the getUser method, where the map of details coming from the identity provider is mapped to the User object, there's something that I can't understand well:

1) A conditions checks if "email_verified" is set, if that is the case, it will be the value of "activated:
[code]
2) At the end of the func

[2021-01-09 02:02] mraible commented on #13434
@saturnism I created a new set of apps with JHipster 7 beta 0 and the JDL you mentioned. I started all the relevant Docker containers, then ran `./mvnw` in each project. I'm unable to reproduce this issue.

Here are the results of `docker ps`:

[code]

And here's a screenshot of my browser showing no issues.

![image](https://user-images.githubusercontent.com/17892/104080194-e537d680-51e3-11eb-9fc

[2021-01-09 02:22] mraible opened #13443 "Protractor tests fail to run in a microservices architecture"
##### **Overview of the issue**

If I use <https://github.com/jhipster/jdl-samples/blob/main/microservices-blog-store.jh> to generate a new microservices architecture, the Protractor tests fail to run when I run `npm run e2e` in the gateway app.

[code]

##### **Motivation for or Use Case**

Protractor tests should run if you choose it as a testing tool.

##### **Reproduce the error**

With JHipst

[2021-01-09 08:09] pascalgrimaud opened #13444 "Broken Swagger with Microservices"
##### **Overview of the issue**

With current v7 beta, you can't use swagger to call your other microservices

##### **Motivation for or Use Case**

##### **Reproduce the error**

- create a Gateway application
- create a Microservice with 1 entity
- start registry or consul
- start gateway
- start microservice
- try to access to entity with Swagger

##### **Related issues**

Not sure, but I think

[2021-01-09 08:11] pascalgrimaud commented on #13444
cc @nassimerrahoui @qmonmert as I know you already started to investigate
but help is welcome here !

[2021-01-09 08:14] pascalgrimaud commented on #13443
it looks strange, something like protractor was not download correctly
did you retry npm install ?

[2021-01-09 08:19] pascalgrimaud commented on #13391
Yes, you should use beta release of JHipster 7, as for 6.10.5 the support was not good enough

[2021-01-09 08:21] pascalgrimaud commented on #13361
As I think it works with 7.0.0-beta.0, can we close this ?

[2021-01-09 08:23] pascalgrimaud commented on #13386
let's track here : #13081

[2021-01-09 08:23] #13386 closed

[2021-01-09 10:11] nassimerrahoui commented on #13444
To add more information : the problem is related to this change https://swagger.io/docs/specification/api-host-and-base-path/
In OpenAPI 3.0, servers array specify one or more base URLs for API. servers replaces the host, basePath and schemes keywords used in OpenAPI 2.0.

[2021-01-09 14:39] #13361 closed

[2021-01-09 16:27] mraible commented on #13443
I did. I removed node_modules and ran npm install again. Same issue.

On Saturday, January 9, 2021, Pascal Grimaud <notifications@github.com>
wrote:

[2021-01-10 10:42] kaidohallik commented on #13443
I tested this with the current main branch and was working for me.

[2021-01-10 12:37] #13178 closed

[2021-01-10 14:35] kaidohallik commented on #13443
I made #13449 to update Protractor related dependencies. Maybe this is Chrome version issue and maybe driver update helps.

[2021-01-10 16:57] mrts commented on #9661
@bigalnz, first prepare the data in the database, then export it with Liquibase:

[code]

and finally, add the `initial-data.xml` changelog to Liquibase changelog folder and `master.xml`

[2021-01-11 01:14] SudharakaP commented on #11658
Sorry, I couldn't find the time yet but I will soon. So please keep it
open.

On Sun, Jan 10, 2021, 4:52 PM github-actions[bot] <notifications@github.com>
wrote:

[2021-01-11 02:34] mraible commented on #13237
I'd love to see this!

On Sunday, January 10, 2021, github-actions[bot] <notifications@github.com>
wrote:

[2021-01-11 09:24] funder7 commented on #7398
The discussion is closed, but I think that would be interesting for users approaching an application like jhipster for the first time, which can be based upon an external identity provider, how to update an user correctly.
I mean, is already well made, the application syncs the user info into the local db, what's missing I think it's the operation in the opposite direction, from the backend applic

[2021-01-11 09:42] pascalgrimaud commented on #7398
From the backend application to identity provider, it's doable. You need to use

[code]

Then, you need to code all the API + logic in your business code.

[2021-01-11 09:59] funder7 commented on #7398
Thanks! I was looking for that. What about mentioning it in the documentation? Is out of the scope of jHipster?

[2021-01-11 10:12] pascalgrimaud commented on #7398
Not sure as I think it's out of the scope of JHipster, and it's very specific.
When we use an identity provider, this part is managed by the identity provider, not by the JHipster application (that's why the user management is skipped)

But if you want to code this part in a JHipster application, it's possible with keycloak-admin-client library.
I coded a full JHipster application for doing this a

[2021-01-11 10:27] gmarziou commented on #12180
I give up, I can't spend time on the tests right now.

[2021-01-11 12:39] #13316 closed

[2021-01-11 14:14] funder7 commented on #7398
Thanks for your help @pascalgrimaud, really appreciated.

Actually I've managed to connect to keycloak and update an user, the problem now is that UserService is syncing User's data from the OAuth2 Token details, which is not updated until let's say a logout / login.

I'm thinking about the best way to proceed now. Maybe invalidate the access token, to trigger a refresh  on client side, and conseq

[2021-01-11 14:41] saturnism commented on #13434
ah, i think i remember. the original jdl uses the default frontend generator which is angular, the jdl i tested w/ was using react.

[code]

[2021-01-11 17:21] #13432 closed

[2021-01-11 17:25] mraible opened #13461 "When using OIDC with WebFlux, look up the user's information from the /userinfo endpoint"
This issue is similar to #11767, but for WebFlux.

##### **Overview of the feature request**

When using OAuth 2.0 / OIDC for authentication with WebFlux, the [`AccountResource#getAccount()` calls `UserService#getUserFromAuthentication()`](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs#L75).

This logic

[2021-01-11 17:25] #10975 closed

[2021-01-11 17:50] Falydoor commented on #10975
Bounty claimed https://opencollective.com/generator-jhipster/expenses/31614

[2021-01-11 17:55] pascalgrimaud commented on #10975
@Falydoor : just approved. Anyway, can you take care of my comment in your PR plz?

[2021-01-11 20:08] #13444 closed

[2021-01-11 20:20] mraible commented on #13434
@saturnism Are you running this locally or in a cloud environment? I just tried it locally and it works fine, which makes me think it's related to some sort of Kubernetes configuration.

https://user-images.githubusercontent.com/17892/104233767-b0a86280-540f-11eb-9f89-ba459f3d61b5.mp4

[2021-01-11 20:33] qmonmert commented on #13444
@pascalgrimaud I claim my money :) https://opencollective.com/generator-jhipster/expenses/31623

[2021-01-11 20:56] pascalgrimaud commented on #13444
@qmonmert : approved

[2021-01-11 20:57] qmonmert commented on #13444
Thanks @pascalgrimaud

[2021-01-11 21:13] saturnism commented on #13434
it was in the cloud. interesting.

[2021-01-12 02:16] mraible opened #13463 "Github should be spelled GitHub when adding CI"
##### **Overview of the issue**

I used JHipster Online to add CI (GitHub Actions) to my JHipster project. The PR it creates has a typo: Github should be GitHub.

<img width="956" alt="Screen Shot 2021-01-11 at 7 13 23 PM" src="https://user-images.githubusercontent.com/17892/104260755-5627fa00-5441-11eb-8033-e42af8267f06.png">

##### **Motivation for or Use Case**

Because I notice small things li

[2021-01-12 02:17] mraible opened #13464 "GitHub should be spelled with a capital H when creating a PR"
##### **Overview of the issue**

I used JHipster Online to add CI (GitHub Actions) to my JHipster project. The PR it creates has a typo: Github should be GitHub.

<img width="956" alt="Screen Shot 2021-01-11 at 7 13 23 PM" src="https://user-images.githubusercontent.com/17892/104260755-5627fa00-5441-11eb-8033-e42af8267f06.png">

##### **Motivation for or Use Case**

Because I notice small things li

[2021-01-12 02:17] mraible commented on #13464
Duplicate - browser gave me a 404 when I created the last one.

[2021-01-12 02:17] #13464 closed

[2021-01-12 02:38] mraible opened #13465 "Creating a Vue app with a relationship to Users fails to display users"
##### **Overview of the issue**

Create a monolith that has a relationship to `User` and you'll be unable to add a user to the entity. Error is:

[code]

![image](https://user-images.githubusercontent.com/17892/104262133-3b0ab980-5444-11eb-995f-a579adf9e94a.png)

##### **Motivation for or Use Case**

It worked with Angular and React (last time I checked).

##### **Reproduce the error**

Create an

[2021-01-12 02:54] mraible opened #13466 "Vue dependencies need updating in 7.0 beta 0"
##### **Overview of the issue**

If I create a new reactive Vue monolith and run `ncu` on its `package.json`, there's a lot of dependencies that need updating:

[code]

##### **Motivation for or Use Case**

Updating dependencies is usually a good idea for security reasons.

##### **Reproduce the error**

Create an app with the following JDL, `npm i npm-check-updates`, then run `ncu`.

[code]

####

[2021-01-12 03:02] mraible opened #13467 "Creating a blog app with reactive + MySQL doesn't compile"
##### **Overview of the issue**

If you create a simple blog monolith with reactive and MySQL, it fails to compile.

[code]

##### **Motivation for or Use Case**

I like to show off new features in JHipster. ;)

##### **Reproduce the error**

Create an app with the following JDL, then run `./mvnw`.

[code]

##### **Related issues**

##### **Suggest a Fix**

It looks like the `UserRowMapper` is mis

[2021-01-12 03:14] mraible commented on #13467
I was able to fix these compile errors by adding a `UserRowMapper` and changing `User.id` to `String` rather than `Long`.

[code]

[2021-01-12 03:25] mraible commented on #13467
If I try to add a new `Blog` entity, it fails with the following error.

[code]

I believe this happens because the `PASSWORD_HASH` isn't a column when using OAuth 2.0. Commenting out the line that references this column, `activation_key`, and `reset_*`, in `UserRepository$UserSQLHelper` seems to solve it.

[code]

`npm run e2e` passes too!

[code]

[2021-01-12 03:38] mraible opened #13468 "Create a Vue PWA with JHipster 7 beta 0 doesn't work"
##### **Overview of the issue**

Creating a PWA with JHipster should be simple. You just need to comment out the Service Worker code in `src/main/webapp/index.html`.

[code]

I tried this with a Vue app and it results in an error in my browser's console.

[code]

##### **Motivation for or Use Case**

It should be possible to create a PWA with Vue.

##### **Reproduce the error**

Create a new Vue a

[2021-01-12 05:45] swarajsaaj commented on #13468
It seems workbox configuration is missing in Vue's webpack configuration, hence it is not generating the service-worker.js dynamically

[2021-01-12 06:20] mraible opened #13471 "A reactive monolith is not AAA in Sonar"
##### **Overview of the issue**

If I generate a reactive monolith, the Sonar scores aren't great. Instead of A for Bugs, it's a C. And there's a new Hotspots Reviewed metric that seems to error.

![image](https://user-images.githubusercontent.com/17892/104277016-4ae5c600-5463-11eb-922e-407a0c90af3a.png)

##### **Motivation for or Use Case**

It's fun to show Sonar in demos when it scores AAA!

##

[2021-01-12 06:42] mraible commented on #13471
If I change to use MongoDB instead of MySQL, the results are better.

<img width="1220" alt="Screen Shot 2021-01-11 at 11 42 16 PM" src="https://user-images.githubusercontent.com/17892/104278956-afeeeb00-5466-11eb-8260-837753365ae4.png">

Here's the JDL I used:

[code]

[2021-01-12 07:24] sanjitvimal commented on #12072
Swagger docs need to be checked for
**Jhipster - 7.0.0 Beta, weblux, Mongo, Monolith**
Issue:- Swagger Doc is not loading

Console Error:-
index.html:16 GET http://localhost:8080/swagger-ui/axios.min.js net::ERR_ABORTED 401 (Unauthorized)
index.html:14 GET http://localhost:8080/swagger-ui/swagger-ui-bundle.js net::ERR_ABORTED 401 (Unauthorized)
index.html:1 Refused to apply style from 'http://loca

[2021-01-12 13:17] yelhouti opened #13475 "Remove (and replace) @Transactional in tests"
##### **Overview of the issue**

We should not use Transactional in tests and replace it without something different.

##### **Motivation for or Use Case**

I faced a similar issue to the one descried here, in my case it wasn't a false negative thankfully, the rollback just didn't happen because I was using `@Transactional(Transactional.TxType.REQUIRES_NEW)`  in the method I called from my test, a

[2021-01-12 14:07] venustulips commented on #13366
I was also surprised by Hibernate L2C not caching the entities loaded using `findAll`.

Then I came across this good blog https://blog.frankel.ch/digging-hibernate-query-cache/ which explains L2C relation with query cache.

As per the author, in order to work 'findAll' with L2C, one must do the following 2 things.

1. Enable Hibernate query cache
2. Add `@QueryHints(QueryHint(name = HINT_CACHEABLE

[2021-01-12 18:48] saturnism opened #13477 "Add Neo4j to Kubernetes/Helm deployment sub generators"
##### **Overview of the issue**

Generated new app with https://github.com/mraible/choose-jhipster/blob/main/apps.jdl, and ran `jhipster kubernetes`.

I did not build the container images first.

[code]

##### **Motivation for or Use Case**

Preparing for a demo.

##### **Reproduce the error**

1. Generate apps with https://github.com/mraible/choose-jhipster/blob/main/apps.jdl
2. `mkdir k8s && cd

[2021-01-12 18:59] saturnism commented on #13477
It looks like the issue is with `neo4j`, there is no template for neo4j deployment.

[2021-01-12 19:13] saturnism opened #13479 "JHipster 7 beta.0 - mvn verify fails"
##### **Overview of the issue**

`mvn verify` fails for newly generated app

[code]

##### **Motivation for or Use Case**

Preparing for a demo.

##### **Reproduce the error**

1. generate app from jdl: https://raw.githubusercontent.com/mraible/choose-jhipster/main/apps.jdl
2. `cd store && ./mvnw verify`

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

7.0.0.beta.

[2021-01-12 19:18] saturnism commented on #13479
/cc @mraible

[2021-01-12 19:18] saturnism commented on #13477
/cc @mraible

[2021-01-12 19:22] saturnism opened #13480 "JHipster 7 beta.0 - mvn compile fails for mysql w/ reactive"
##### **Overview of the issue**

app generated using mysql + reactive fails to compile.

##### **Motivation for or Use Case**

preparing for a demo

##### **Reproduce the error**

1. take https://github.com/mraible/choose-jhipster/blob/main/apps.jdl
2. for blog, change database from neo4j to mysql
3. generate the applications
4. cd blog && mvn compile

##### **Related issues**

##### **Suggest a F

[2021-01-12 19:24] mraible commented on #13480
Duplicate of https://github.com/jhipster/generator-jhipster/issues/13467.

[2021-01-12 19:24] #13480 closed

[2021-01-12 19:31] mraible commented on #13479
It looks like it works for the `gateway` project (which is reactive + postgresql).

[code]

I changed the `blog` project to use Couchbase and it fails even worse.
[code]

I can confirm the `store` project fails with `./mvnw -ntp -Pprod verify jib:dockerBuild`:

[code]

[2021-01-12 20:02] mraible commented on #13479
It seems all tests in the `store` app are failing because we're using `@Valid` on entities and there's an i18n message lookup.

[code]

[2021-01-12 20:23] saturnism opened #13481 "JHipster 7.0.0.beta.0 - reactive database password not configured for Kubernetes"
##### **Overview of the issue**

Kubernetes generator configures the `SPRING_DATASOURCE_PASSWORD` env var. But reactive apps currently configures database password w/ `spring.r2dbc.password`. Which translates to `SPRING_R2DBC_PASSWORD`.

##### **Motivation for or Use Case**

Preparing for a demo.

##### **Reproduce the error**

1. Generate app from https://github.com/mraible/choose-jhipster/blob/m

[2021-01-12 20:23] saturnism commented on #13481
fyi @mraible

[2021-01-12 20:28] saturnism commented on #13481
it looks like the `deployment.yml` template already has a conditional on `reactive`. for some reason, that didn't seem effective.

https://github.com/jhipster/generator-jhipster/blob/v7.0.0-beta.0/generators/kubernetes/templates/deployment.yml.ejs

[2021-01-12 20:29] mraible commented on #13479
If I change the `TestDTO` and `Product` entities from using `@NotNull` to `@NotNull(message = "must not be null")`, all tests pass. I'm not sure if this is the best solution.

[2021-01-12 20:31] mraible commented on #13481
@saturnism I believe that conditional might need to be changed to `app.reactive` (I'm guessing from looking at the other conditionals).

[code]

[2021-01-12 21:02] saturnism commented on #13481
ah it looks like the conditional did work, but it only has `SPRING_R2DBC_URL`, but not `SPRING_R2DBC_PASSWORD`

[2021-01-12 21:14] saturnism commented on #13481
oops, it does need to be changed to `app.reactive`. was testing w/ different code base.

[2021-01-12 21:36] mraible commented on #13479
@cbornet Does adding a default message to our `@NotNull` annotations sounds like a good solution to fix reactive tests that use validation?

[2021-01-12 22:42] saturnism commented on #13434
not an issue w/ https://github.com/mraible/choose-jhipster/blob/main/apps.jdl

closing for now.

[2021-01-12 22:42] #13434 closed

[2021-01-13 03:20] #13481 closed

[2021-01-13 03:21] #13468 closed

[2021-01-13 03:32] #13465 closed

[2021-01-13 03:48] mraible opened #13484 "JHipster v7 beta 0 - mvn verify fails when using neo4j"
##### **Overview of the issue**

If you create a microservice app with Neo4j and try to create a Docker image from it, tests fail:

[code]

##### **Motivation for or Use Case**

Tests should pass when generating an app.

##### **Reproduce the error**

Create an app with the following JDL, cd into `blog` and run `./mvnw -ntp -Pprod verify jib:dockerBuild`.

[code]

##### **Suggest a Fix**

Not sure

[2021-01-13 05:31] mraible commented on #13443
@kaidohallik I updated to webdriver-manager 12.1.8 and indeed it fixed the problem. Found the answer [here](https://stackoverflow.com/questions/65618558/osx-fix-selenium-chromedriver-launch-error-spawn-unknown-system-error-86-bad-cp).

[2021-01-13 05:32] #13443 closed

[2021-01-13 06:16] yukinami commented on #13366
Some people (like me) take jhispter as some kind of best practice. So using Spring Cache instead of query cache in reposority would be a bit confused to me. How is this sound:
1. Using hibernate cache in repository when  Hibernate L2C is enabled.
2. Move the spring cache code to the service layer  when Spring Cache enabled
3. Using `@CacheEvict` to invalidate cache instead of manualy invoke `Cache

[2021-01-13 06:42] venustulips commented on #13366
I don't understand why you are mixing spring cache with query cache.
In my understanding, these two are totally two different things.
Spring cache abstracts away all the vendor-specific things while the query cache is just a property of hibernate.

Also, query cache uses the L2C cache area to store data. Spring cache alone without L2C does not make sense to me.

[2021-01-13 07:06] atomfrede commented on #13484
I think somehow all testcontainers tests should be affected as ryuk is used by tc to coordinate and kill containers even when jvm dies. And (as far as I recall) we don't define a custom the ryuk image. Which testcontainers version is in use? Maybe somehow an older version is used somehow

[2021-01-13 09:04] #13479 closed

[2021-01-13 09:09] #13467 closed

[2021-01-13 11:49] bsideup commented on #13484
Due to the recent changes in Docker, it is highly recommended to use Testcontainers 1.15.1.

@mraible does it pass if you manually change the version to 1.15.1?

[2021-01-13 14:30] Blackdread commented on #13366
Simple: Query cache should not be used for all queries.
Spring cache and query cache are different mechanism.

Read documentation would help :) [Hibernate doc](https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#caching-query)

With Spring, you would use QueryHints annotation, invalidation is different so better to read docs.

[Spring doc](https://docs.spring.i

[2021-01-13 17:04] #13439 closed

[2021-01-13 18:33] mraible commented on #13484
It looks like the `main` branch is using 1.15.1. I tried to reproduce this issue with the main branch and it works so I'll close this issue.

[2021-01-13 18:33] #13484 closed

[2021-01-13 18:36] mraible commented on #13475
Related: there's a Sonar warning for having `@Transactional` on a package-protected method in `UserService`.

<img width="1054" alt="Screen Shot 2021-01-13 at 11 36 29 AM" src="https://user-images.githubusercontent.com/17892/104494382-9eefc800-5593-11eb-94e8-bf50dacb92af.png">

[2021-01-13 20:25] pascalgrimaud commented on #13475
For me, the deleteAll can't work for all use cases, specially if you use some fake data to init your database in testcontainers for example, and before launching deleteAll for entityC, you need first deleteAll for entityB, but it needs to deleteAll entityA etc...
It's hard to find the correct logic in our template here

In my opinion, we have Transactional for years here and it works pretty well.

[2021-01-13 20:56] nicolas63 commented on #13261
Comment to take open

[2021-01-14 06:59] mraible opened #13502 "Service Worker Configuration missing for Angular in src/main/webapp/index.html"
##### **Overview of the issue**

Discovered during a talk with @saturnism today. There is no service worker configuration for making a PWA in `index.html`.

##### **Motivation for or Use Case**

Making a PWA should be possible with JHipster.

##### **Reproduce the error**

Create an app with Angular, search for service worker config in `index.html`.

##### **Related issues**

#13468

##### **Sugge

[2021-01-14 07:13] mraible commented on #13502
RTFM @mraible:

### PWA Support

JHipster ships with PWA (Progressive Web App) support, and it's turned off by default. One of the main components of a PWA is a service worker.

The service worker initialization code is disabled by default. To enable it, uncomment the following code in `src/main/webapp/app/app.module.ts`:

[code]

[2021-01-14 07:13] #13502 closed

[2021-01-14 07:38] mraible commented on #13502
Manifest was missing. https://github.com/jhipster/generator-jhipster/pull/13503 fixes.

[2021-01-14 08:06] qmonmert commented on #13471
@mraible I tried with MongoDB and the result seems good:

![image](https://user-images.githubusercontent.com/9989211/104561504-cc964900-5647-11eb-91d4-0f51bec7a4ed.png)

[2021-01-14 08:25] mraible commented on #13471
You are correct. It seems to be a problem when using MySQL (R2DBC).

[2021-01-14 09:19] atomfrede commented on #13477
Is this the same as https://github.com/jhipster/generator-jhipster/issues/11731 or is here more?

[2021-01-14 10:40] atomfrede commented on #13179
Keep it open please.

[2021-01-14 11:41] atomfrede commented on #13424
@pascalgrimaud Do you consider this worth a new 6.x release (I do)? We could also update mapstruct (https://github.com/jhipster/generator-jhipster/issues/12967).

[2021-01-14 11:45] pascalgrimaud commented on #13424
I could a release, the main question is: is it worth? We should ask it in the mailing list.

In my opinion, we should promote v7 beta. I think we are really closed for final v7 release

[2021-01-14 14:46] yelhouti commented on #13475
@pascalgrimaud about the logic in the template, createEntity tells us all we need to know, we could have a delete that work in the exact same way: each resourceIT has a deleteAll, that calls its relationsResourceIT.deleteAll. We could even call it resetAll so that it can be used to initData in testContainers....

I also would rather we keep `@Transactional` it is much easier to think about, but cr

[2021-01-14 16:12] mshima opened #13510 "Angular many-to-one and many-to-many relationships shows empty value."
##### **Overview of the issue**

Angular many-to-one and many-to-many relationships may show empty value even if there is a value.
This problem happens when pagination at related Entity is enabled:
- With pagination only 20 items are returned from the server.
- If the saved value is not returned from server, select shows an empty value even when the value exists.

##### **Motivation for or Use Cas

[2021-01-14 17:32] mraible commented on #13477
@atomfrede Yes, I believe so.

[2021-01-14 18:00] Tcharl commented on #13475
I'm not a fan having tests using `@transactional` because it can skip some use cases (example, adding the same value twice on an `@Unique` field won't throw an exception).
But if we keep it, we can add `TransactionAspectSupport.currentTransactionStatus().setRollbackOnly();` in our teardown, so that we would keep idempotence between tests

[2021-01-14 18:16] Tcharl commented on #12712
`@angular-builders/custom-webpack` 11 has been published 18 days ago and it seems to have [fixed the webpack-5 issue](https://github.com/just-jeb/angular-builders/issues/841)

[2021-01-14 18:42] mshima commented on #12712
At angular part, we should wait for angular-cli to support webpack@5.
Currently the only way is to use yarn resolution and force it.
IFAIK our angular implementation is ready.
Dependencies without webpack@5 is angular-cli and ng-bootstrap.

[2021-01-14 20:00] mshima commented on #13466
Reopening to track dependencies that failed to update without manual changes:
- fork-ts-checker-webpack-plugin@6.1.0
- webpack-cli@4.3.1

[2021-01-14 21:35] funder7 commented on #3476
Hi, before opening a new feature request I came across this one. Actually I'm using lombok in a jHipster project, it seems to work well, no problem whatsoever since now.

The unique problem is having to remove every piece of code when I update an entity or so and re-import the JDL.
It's not something that you do every day, but it would really nice to have a `--with-lombok` flag.

Cheers

[2021-01-14 21:59] mraible opened #13525 "React dependencies need updating"
##### **Overview of the issue**

Create a React project with the `main` branch and you'll see there's quite a few vulnerabilities.

[code]

##### **Motivation for or Use Case**

I like to show how JHipster is up-to-date and doesn't have vulnerabilities.

##### **Reproduce the error**

[code]

You'll see the following after `npm install`:

[code]

##### **Suggest a Fix**

Running `ncu -u` shows the

[2021-01-14 22:02] mraible opened #13526 "Angular dependencies need updating"
##### **Overview of the issue**

Create an Angular project with the `main` branch and run `ncu` (from npm-check-updates):

[code]

##### **Motivation for or Use Case**

I like to show how JHipster is up-to-date and doesn't have vulnerabilities.

##### **Reproduce the error**

[code]

##### **Suggest a Fix**

Update dependencies.

##### **JHipster Version(s)**

[code]

##### **JHipster configuratio

[2021-01-14 22:16] mshima commented on #13526
Released today

Released today

Angular 11.0.x is fixed at 0.10.3

Released today

We don’t have test for it and it’s used only for `jhipster openapi`.
I took a look today and I think we should drop the dependency by default and install it at opencli generator.

We may add to dependabot.
But since we are supporting node 12+,   `@types/node` shouldn’t be 12.x?

Requires webpack 5

Angular 11.0.x is

[2021-01-15 01:25] mshima commented on #13278
Missing:
- jdl support
- add ci test
- test with react and vue

For jdl support I'm will try to implement as pkType option.
Customizing User entity is more complicated.

[2021-01-15 02:48] mraible opened #13531 "Gradle doesn't run tests like Maven does when building Docker image"
##### **Overview of the issue**

The Docker Compose sub-generator spits out the following command to generate Docker containers:

[code]

This doesn't appear to run tests as the Maven build command does.

[code]

##### **Motivation for or Use Case**

We should be consistent. As a person who demos a lot, I like that tests aren't run because it's faster. However, I'm not sure that's the best practic

[2021-01-15 03:09] yukinami commented on #13366
I thought spring cache is more general cache while query cache is just limited to hibernate search, thus query cache could totally be replaced with spring cache. But manually invalidated cache would be tedious to me, it's very likely to forget to invalidate the cache especially collaborative development.
Just bacause of it's neeed to manully add QueryHints to make query cache work. What's the prob

[2021-01-15 05:25] mraible opened #13532 "Reactive gateway fails to connects to PostgreSQL"
##### **Overview of the issue**

[code]

##### **Motivation for or Use Case**

You should be able to run a reactive microservices architecture with Docker Compose.

##### **Reproduce the error**

Create an app with the following JDL and start it with Docker Compose.

[code]

##### **Suggest a Fix**

The gateway's config has `SPRING_DATASOURCE_URL` in `docker-compose.yml`. This should probably be R

[2021-01-15 06:31] atomfrede commented on #13531
The equivalent command would be `bootJar check`. I also would not run the test when building the image as I mostly do it before.

[2021-01-15 06:39] mraible commented on #13531
If that's the case, we should remove `verify` from the Maven command.

[2021-01-15 07:57] atomfrede commented on #13424
Sounds good to me. I trust you with that, so I will do it only on main.

[2021-01-15 07:59] atomfrede commented on #12887
@medamineziraoui Whats your status on this? If you like I can pick up where you left and finish it.

[2021-01-15 08:26] mraible commented on #13532
Fixed in https://github.com/jhipster/generator-jhipster/pull/13530/files#diff-1bfaf6e31fe218cd507027450c04913b93f510df3f63b4a2ea84163c6423e9fbR44.

[2021-01-15 08:26] #13532 closed

[2021-01-15 08:53] medamineziraoui commented on #12887
Hello @atomfrede sorry for being disconnected for this long :sweat_smile: , but if you let me I would like to continue work on this issue this weekend, i did test the fixes on monday and it s worked for
- Vue.js
- ReactJs
- angularJs

I will send a Fix this weekend.

[2021-01-15 09:19] atomfrede commented on #12887
Sure, go ahead, looking forward to the PR!

[2021-01-15 10:03] medamineziraoui commented on #12887
Thank you :smile:

[2021-01-15 13:31] #13525 closed

[2021-01-15 15:17] ruddell commented on #13531
`verify` was added for a specific reason in https://github.com/jhipster/generator-jhipster/pull/8864, I'm not sure if it is still needed.

[2021-01-15 18:39] mraible commented on #13531
I tested building with `package` instead of `verify` using the following JDL:

[code]

Then, I built Docker images using `./mvnw -ntp -Pprod package jib:dockerBuild`. I ran everything using Docker compose and then ran `npm run e2e` in the `gateway` directory.

Tests didn't pass the first time, but they did the 2nd time I tried!

[code]

[2021-01-15 18:56] vishal423 commented on #13531
I believe the `Jib` docker build should also work with `compile` phase.

[2021-01-15 19:01] mraible commented on #13531
What Maven command would you recommend we use for Jib, @saturnism?

[2021-01-15 22:57] mraible opened #13544 "Couchbase tests are failing"
##### **Overview of the issue**

Failure seems to be caused by [EJS issues](https://github.com/hipster-labs/jhipster-daily-builds/runs/1706508705?check_suite_focus=true).

[code]

##### **Motivation for or Use Case**

All our nightly builds on https://github.com/hipster-labs/jhipster-daily-builds should pass.

[2021-01-16 09:30] #13424 closed

[2021-01-16 09:38] pascalgrimaud commented on #13291
still needs to improve our Sonar analysis

[2021-01-16 09:38] pascalgrimaud commented on #13224
work is still in progress here: https://github.com/jhipster/react-jhipster/pull/63

[2021-01-16 09:45] pascalgrimaud commented on #3476
It can be done in a blueprint, so feel free to start it, if you need it.
There are a lot of people who loves Lombok, so I'm pretty sure you can get some help.

From my side, I'm totally against adding Lombok flag or something else in main JHipster as I got too much problem with this, in  real projects for my customers.

[2021-01-16 09:47] pascalgrimaud commented on #13179
Are you sure @atomfrede ? :)
I think it can be closed, unless someone wants to discuss about this change

[2021-01-16 09:48] pascalgrimaud commented on #12747
PR is already here

[2021-01-16 09:55] pascalgrimaud commented on #13510
it looks like a bug which needs to be fixed for beta.1
Adding a bounty on this

[2021-01-16 09:57] pascalgrimaud commented on #11731
Closing this in favor of https://github.com/jhipster/generator-jhipster/issues/13477

[2021-01-16 09:57] pascalgrimaud commented on #13477
@atomfrede : I closed the other ticket as this one contains a JDL so it's more completed

[2021-01-16 10:00] pascalgrimaud commented on #13366
Can we have you opinion on this @jdubois ? As you know this part very well

[2021-01-16 10:05] pascalgrimaud commented on #13544
Nothing new here, @mraible
Couchbase is failing since months. See https://github.com/hipster-labs/jhipster-daily-builds/actions?query=workflow%3ACouchbase

See this ticket too: https://github.com/jhipster/generator-jhipster/issues/12300

[2021-01-16 10:09] pascalgrimaud commented on #13232
Closing this in favor of https://github.com/jhipster/generator-jhipster/issues/13291

[2021-01-16 10:09] #13232 closed

[2021-01-16 10:12] jdubois commented on #13366
I am clearly against Hibernate query cache:

- It would make us have 3 different caching mechanisms, which is a bit crazy. At the moment we have Hibernate L2 which is very performant at row level, and Spring Cache which is very good at business level, and also works for non-Hibernate scenarios. There’s little room for a 3rd one.
- Query cache is very limited in usage, and suffers from huge perform

[2021-01-16 16:36] qmonmert commented on #13510
@mshima maybe I don't understand, but when I set `PROJECT_ID` with value `1001` (not `1011` like you say) on a ticket, the edit page shows the project

![image](https://user-images.githubusercontent.com/9989211/104817380-39187000-5821-11eb-9d58-681c090c059a.png)

![image](https://user-images.githubusercontent.com/9989211/104817388-43d30500-5821-11eb-9f15-afa32592dc2d.png)

![image](https://user-im

[2021-01-16 16:44] mshima commented on #13510
@qmonmert you need to create 11 more Projects.
So it will have 21 projects.
Pagination will only return the 20 first projects.

I am working on a fix based on https://github.com/jhipster/generator-jhipster/pull/13496.
Found while improving update component for embedded forms.

[2021-01-16 16:48] qmonmert commented on #13510
@mshima ok

[2021-01-16 21:14] atomfrede commented on #12686
I have maybe found and ugly workaround (will only work with chrome I think). Not sure we should further investigate that but it looks okaish to me as we don't need to interact with either keycloak or okta auth api directly https://github.com/cypress-io/cypress/issues/944#issuecomment-567453827

[2021-01-17 07:59] #13477 closed

[2021-01-17 19:09] atomfrede commented on #13390
Should we move the gatling part to an own subgenerator/blueprint, such that we can compose it in the entity generator when needed? (now it is part of entity server)

[2021-01-17 22:31] medamineziraoui commented on #12887
I added Pull Request @atomfrede , i tried to add test for react but couldn't make it work,
[code]
Maybe locale method is async
This is the first time I try to write test with jest so could be if i did something wrong.

I ran test with vuejs but i got 2 failed tests, i don t believe they are related to my changes.

[2021-01-17 22:32] medamineziraoui commented on #12887
Thank you for letting me finish the PR, and i apologize for taking long to finish a simple fixe

[2021-01-17 22:38] atomfrede commented on #12887
No need to apologize! We are all doing this in our freetime. Thanks for contributing.

[2021-01-18 03:38] mraible commented on #13391
Can this be closed now?

[2021-01-18 03:40] mraible opened #13582 "Upgrade to Spring Boot 2.4"
##### Overview of the feature

We should upgrade to use Spring Boot 2.4.

##### Motivation for or Use Case

Spring Boot has releases every six months now. We should try to support its major releases as much as possible.

##### Related issues or PR

https://github.com/jhipster/generator-jhipster/pull/13551 for main generator and https://github.com/jhipster/jhipster-bom/pull/133 for JHipster BOM.

-

[2021-01-18 05:50] pascalgrimaud commented on #13582
@mraible : there is already a ticket here https://github.com/jhipster/generator-jhipster/issues/13237 so I think we should close one

[2021-01-18 05:50] #13391 closed

[2021-01-18 05:57] mraible commented on #13582
You're right. Sorry about that. I'll close this one.

[2021-01-18 05:57] #13582 closed

[2021-01-18 06:01] yukinami commented on #13366
Thanks for the reply. The performance problems sound reasonable. I knowed query caching introduces overhead in the area of transactional processing, but did't know how much does it influence exactly.

[2021-01-18 06:06] mraible commented on #13390
I think moving Gatling would help. I also think monolith vs microservice could have improvements. With a microservice architecture, it seems like you'd want to test "the whole thing" in addition to each microservice (like the e2e tests do).

[2021-01-18 06:26] jdubois commented on #13366
Oh sorry I should have been clearer: the issue with query cache is invalidation. If you touch on one table that is part of the query, the whole cache is invalidated. So this only works for tables which are not updated often, like data that is updated nightly with a batch.
For all other use cases, and like the one with the User table, data will be invalidated all the time, which will result in bad

[2021-01-18 06:54] atomfrede commented on #13390
So I would propose the following:

* monolith, everything works as before
* microservice gateway + gatling generate the entity simulation
* microservice app + gatling generate no simulation(?) to test "the whole thing"?

[2021-01-18 08:58] atomfrede commented on #13390
Having a dedicated sub generator would also enable blueprints to overwrite the simulation files (e.g. different cookie naming requirements or so).

[2021-01-18 12:39] #13466 closed

[2021-01-18 13:11] mshima commented on #13526
<img width="691" alt="image" src="https://user-images.githubusercontent.com/1417183/104919019-5e69c300-5974-11eb-9212-3138b8a45210.png">
None of them are updatable due to angular dependencies.

[2021-01-18 14:39] atomfrede opened #13593 "Remove/Cleanup Gradle Plugins"
##### **Overview of the feature request**

We use a lot of plugins, some are which there for "historically" reasons.

I propose e.g. to use the apt plugins as they are not used/have any meaningful effect.
This might effect our eclipse users, but I guess we can solve this by better documentation.
From my experience at least cli and idea work very well without apt plugins (as expected)

See also

*

[2021-01-18 14:51] atomfrede commented on #13531
The [documentation](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#build-your-image) just uses compile like this `mvn compile jib:dockerBuild` so `package` without verify should work

[2021-01-18 14:57] #13526 closed

[2021-01-18 15:35] yukinami commented on #13366
I got that.  I just reference the statement from hibernate docs

Anyway, thanks for the explanation.

[2021-01-18 16:58] mraible commented on #13531
@atomfrede I like how the referenced documentation allows you to bind to a build phase, like `package`. Maybe we should use that so the command can be `./mvnw -Pprod jib:dockerBuild`.

[2021-01-18 17:08] mraible commented on #13526
@mshima Is there some tool that you used to determine this? It looks useful.

[2021-01-18 17:13] mshima commented on #13526
@mraible plain `npm outdated`.
I used npm 7, but should be available to npm 6 too.

[2021-01-18 18:05] funder7 commented on #3476
That's a nice idea, I will consider it in case I will have some time. Cheers!

[2021-01-18 18:51] ntorionbearstudio opened #13595 "jhipster.github.io website design update"
##### **Overview of the feature request**

This is concerning https://github.com/jhipster/jhipster.github.io

With @ascelineboullen we propose our contribution to update and refresh jHipster's website design.

In first @ascelineboullen can create wireframes / sketch on Figma to see future design and use it as a support of discussion.

We also propose to use new technologies for website development

[2021-01-18 19:23] pascalgrimaud commented on #13595
A big +1 from me

I think the difficulty part would be:
- keep MD files to update content
- keep a way to test content before submitting pull request

[2021-01-18 19:47] MarlonLuan commented on #13595
If the technology has not yet been defined, I suggest you take a look at the [Hugo](https://github.com/gohugoio/hugo) it is written in go, it's simple, and according to its description it is "The world’s fastest framework for building websites."

[2021-01-18 19:50] pascalgrimaud commented on #13595
Cc @jdubois @deepu105 and @jhipster/developers

[2021-01-18 20:02] atomfrede commented on #13595
I use hugo for my personal blog and really like it as it also supports asciidoc(tor) as alternative to markdown. Before do anything we should maybe think about how to structure should be eventually. Maybe we also can make the separation between high level (marketing) overview and user documentation more clear.

[2021-01-18 20:07] deepu105 commented on #13595
Yes a site revamp is heavily needed and appreciated. Few things to keep in mind (some pointers from my experience doing the last revamp)
1. We are hosted on GitHub pages that means the site needs to be Jekyll based else things will become much more difficult like having CIs that can build and publish that static content on each commit. I don't think it's a big deal but its additional work to be co

[2021-01-18 21:20] avdev4j commented on #13441
hi @funder7
firstly the bug about the DTO mapping is no still relevant since we moved to two separate objects for admin and non-admin fields. The field has been added since.

Then, the second part is about the "email_verified" field. I think you are right and we should consider this value to set the activated flag. I asked @mraible's review to be sure we are doing well.

Unfortunately, we don't pl

[2021-01-18 21:38] avdev4j commented on #13366
I think we can close this ticket, now we know that it's not necessarily something we should have as a baseline.

[2021-01-18 21:38] #13366 closed

[2021-01-18 21:39] PierreBesson commented on #13595
Thanks a lot for offering contributions to the design !

Having managed some aspects of the website over the years (docs archive, chinese i18n, microservice docs...). Here are my suggestion for the website:
1. Support Markdown for documentation pages. The Markdown format is the most simple to maximize ease of contributions so we need to keep it. However this is only for the documentation part, the

[2021-01-18 22:03] atomfrede commented on #12686
@mraible Good news, I could make use of puppeteer to login into keycloak with the browser (headless or non headless) and use the resulting cookies inside the cypress tests. Basically following has changed:

`plugins/index.tx`:

[code]

custom cypress commands:

[code]

and usage in the tests:

[code]

So now we could basically overwrite the username/password again. There is some tweaking required

[2021-01-18 22:23] avdev4j commented on #13147
Hi @carestra
I tried to reproduce this error but with no success. I tested on both v7 (main branch) and the 6.10.5 version.

Here is an extract of my JHipster info output. Please let me know if you still encounter the problem but since we can't reproduce it I'm obliged to close this ticket for the moment.

If you have more information please let us know. You could also try on the V7 beta version r

[2021-01-18 23:17] mraible commented on #12686
Nice @atomfrede! That looks pretty slick.

[2021-01-19 02:16] henri-tremblay opened #13604 "Entity generator do not ask for fieldType when no persistence"
##### **Overview of the issue**

I have generate a project which use "No database". I'm generating an entity for it.
It used to be forbidden but in version 7.0.0-beta.0 it seems to now be allowed, which is really cool.

The following things do not work:

1. The generator doesn't ask for any field type. The field type is undefined and the generator fails with an error
2. Repository classes are gene

[2021-01-19 02:17] henri-tremblay commented on #13604
Side comment: `"languages": ["en", "fr"]` is weird. I have generated without international support and English as the language.

[2021-01-19 08:25] ntorionbearstudio commented on #13595
Hello, thanks all for your responses

1. Yes we will keep markdown files for content. With Next JS there is no problem for that : https://nextjs.org/blog/markdown
2. Yes it will be only a front-end project, no back-end is needed I think for the website
3. We will keep current URLs / slugs for all pages for SEO and archived websites
4. For languages, we will setup an internationalization system wit

[2021-01-19 08:40] pascalgrimaud commented on #13595
Yes plz, small steps to have quick feedbacks first :)

[2021-01-19 10:53] #13441 closed

[2021-01-19 11:18] michaelzangl commented on #12558
This is the vue3 for bootstrap-vue issue:
https://github.com/bootstrap-vue/bootstrap-vue/issues/5196

[2021-01-19 15:30] SudharakaP opened #13612 "Using 2 Space Indentation as Default in Prettier for yml Files"
##### **Overview of the issue**

##### **Motivation for or Use Case**

This is motivated from the discussion at https://github.com/jhipster/jhipster-online/pull/275. We currently use [4 spaces as prettier default](https://github.com/jhipster/generator-jhipster/blob/ff54054055990360b0c94eee2cf873b77ab22e72/.prettierrc#L5). So all our `yml` files in the generator has 4 space indentation. However in

[2021-01-19 15:54] mraible commented on #13237
This work is being done in https://github.com/jhipster/generator-jhipster/pull/13551.

[2021-01-19 16:00] mraible opened #13613 "Upgrade R2DBC implementation for Spring Boot 2.4"
##### **Overview of the issue**

From the [Spring Boot 2.4 release notes](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.4-Release-Notes):

I'm creating this as a separate issue than the [main Spring Boot 2.4 issue](https://github.com/jhipster/generator-jhipster/issues/13237) because it requires more work than expected and I want to add a bug bounty to it.

##### **Motivation fo

[2021-01-19 19:40] PierreBesson commented on #13612
+1 for 2 spaces everywhere except maybe for java... Could we also agree to rename `.yml` extensions to `.yaml` or are there some tools that don't support it ?

[2021-01-19 19:47] SudharakaP commented on #13612
I think the only `.yaml` files we have are `app.yaml` and `dispatch.yaml` within the GAE sub-generator. I don't know if GAE supports `yml` extension as well; the documentation doesn't seem to mention it. Let me run a test sometime. 🤔

[2021-01-19 19:49] SudharakaP commented on #13612
@PierreBesson : Ops, I read your comment wrongly; you are asking for the conversion other way around (`.yml` to `.yaml`). Sorry. 😄

[2021-01-19 19:53] mraible commented on #13612
I've seen `.yaml` a few times recently and I have to say I prefer `.yml` instead. This is probably in large part because of Spring Boot and how they've used this convention.

[2021-01-19 20:03] PierreBesson commented on #13081
After 2 months, there has been no further  comments from the community on this. I would say the consensus is to remove UAA support for JHipster v7 as it is currently broken. In the future a blueprint can be created for a next-gen UAA architecture.
Especially with the new blueprint capabilities coming in v7, such a blueprint should be relatively easy to do and will allow the community of UAA users

[2021-01-19 20:18] PierreBesson commented on #13612
In my experience, `.yaml` is preferred by most projects (ansible, kubernetes,...). `.yaml` is also recommended in their official docs (https://yaml.org/faq.html). Also the spring boot docs, now mention both `.yml` and .yaml` in their examples.

[2021-01-19 23:36] mshima commented on #13412
I've tried to fix this by using jdl defaults methods, but jdl has the same problem:
[code]

Same for skipServer for configurations like cacheProvider:
[code]

I will wait for jdl defaults to be fixed first.

[2021-01-20 00:45] #12702 closed

[2021-01-20 04:30] SudharakaP opened #13617 "Add Support to Auto Update the Copyright Headers each Year"
##### **Overview of the feature request**

Inspired from https://github.com/jhipster/jhipster-online/issues/276. I've seen us updating copyright headers each year manually which is time consuming. Maybe we can automate it in every repository.

I would suggest creating a [GitHub actions template](https://docs.github.com/en/enterprise-server@2.22/actions/learn-github-actions/sharing-workflows-with-y

[2021-01-20 05:29] lotary opened #13618 "dto option - failed at create/update entity with user"
##### **Overview of the issue**

Trying jHipster with DTO config, and when trying to update an entity with user, it is throwing exception:

`Caused by: javax.persistence.EntityNotFoundException: Unable to find com.okta.developer.blog.domain.User with id 4c973896-5761-41fc-8217-07c5d13a004b
        at org.hibernate.jpa.boot.internal.EntityManagerFactoryBuilderImpl$JpaEntityNotFoundDelegate.handleEn

[2021-01-20 09:55] #12712 closed

[2021-01-20 11:31] nassimerrahoui opened #13635 "[Daily-builds] Sometimes Cypress failed to make a connection to the Chrome DevTools Protocol"
##### **Overview of the issue**

Some daily builds with Cypress have this error `Cypress failed to make a connection to the Chrome DevTools Protocol: ECONNREFUSED at TCPConnectWrap.afterConnect` like here : https://github.com/hipster-labs/jhipster-daily-builds/runs/1733523794?check_suite_focus=true

##### **Motivation for or Use Case**

N/A

##### **Reproduce the error**

https://github.com/hipste

[2021-01-20 12:02] mshima commented on #13635
Just closed the dependabot PR https://github.com/jhipster/generator-jhipster/pull/13621 because it failed every test.
Looks like a regression.

[2021-01-20 12:20] mshima opened #13639 "React cypress e2e test is flaky."
##### **Overview of the issue**

React cypress tests are failing randomly.
https://github.com/jhipster/generator-jhipster/actions?query=workflow%3AReact+is%3Afailure

##### **Motivation for or Use Case**

Have CI builds to don’t fail so often.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **

[2021-01-20 14:41] funder7 commented on #13441
Hi @avdev4j thanks for the info, I looked on your twitch page but I couldn't find the exact video where the topic is discussed.
Btw it's nice to see that jh 7.0 is coming, I will check it out in the next weeks.

I noticed a problem with synchronization between the IdP and local User representation, it's done once the "updated_at" value is present in the token, but if you update the user's details

[2021-01-20 15:54] mraible opened #13642 "Upgrade to webpack 5 for Angular"
##### **Overview of the feature request**

We need webpack 5 support for Angular in order to support microfrontends (#10189) with [module federation](https://webpack.js.org/concepts/module-federation/). Support for Vue and React was added in https://github.com/jhipster/generator-jhipster/pull/13615.

From @mshima:

##### **Motivation for or Use Case**

Webpack 5 will allow us to move away from a m

[2021-01-20 16:06] rbobko93 opened #13645 "Protractor e2e tests failing when running in parallel"
##### **Overview of the issue**

Hey guys,

My first issue here, so don't kill me if some info is missing. Kindly ask and I will be happy to provide it.

Issue is cause by how Jhipster is generating protractor e2e tests for entities. Whenever entity is related to some other entity generated page for creating new record of this entity type contains dropdowns or multi select inputs for selecting chi

[2021-01-20 16:32] mshima commented on #13642
I will create a howto to use webpack 5 with angular.

[2021-01-20 17:13] mshima commented on #13642
Update jhipster with PR https://github.com/jhipster/generator-jhipster/pull/13649.
Run:
[code]
Add to package.json:
[code]
Run:
[code]

To make sure only 1 webpack is installed and is version 5:
[code]

[2021-01-20 17:15] mshima commented on #13642
Remove the bounty since this is the a followup to https://github.com/jhipster/generator-jhipster/pull/13615

[2021-01-20 17:16] mshima commented on #12712
Angular how to added at https://github.com/jhipster/generator-jhipster/issues/13642#issuecomment-763798399

[2021-01-20 17:22] vishal423 opened #13650 "Document generator breaking changes that a blueprint should address to support v7.x"
##### **Overview of the feature request**
Generator API has changed a lot between `v6.10x` and `v7.x` release. It would be good to document the breaking changes and provide an upgrade path so that blueprint owners can do appropriate changes before the final `v7.x` release.

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to

[2021-01-20 17:45] mraible commented on #13642
@mshima Thanks for documenting it! I'd like to leave this open until it can be done with npm.

[2021-01-20 18:04] deepu105 commented on #13081
Yes lets remove it

Thanks & Regards,
Deepu

On Tue, Jan 19, 2021 at 9:03 PM Pierre Besson <notifications@github.com>
wrote:

[2021-01-20 19:02] ecostanzi commented on #13396
@Guzzi any feedback? If `OneToMany` worked for you I think we should close this issue.

[2021-01-20 20:15] mraible commented on #13642
FWIW, Angular CLI 11.1 seems to have a few updates related to Webpack 5.

[2021-01-20 20:17] SudharakaP commented on #13617
@pascalgrimaud : For this one, I don't think I have permission to create repositories under the JHipster organization. Would you be able to give that to me or you could create the `.github` repo so that I could create the template there. 😄

[2021-01-20 20:36] pascalgrimaud commented on #13617
@SudharakaP : I can create the repo. Which is the name ?

[2021-01-20 20:37] pascalgrimaud commented on #13081
As no one wants to do this, I'm starting it so

[2021-01-20 21:00] SudharakaP commented on #13617
@pascalgrimaud : The repo should be named `.github`

[2021-01-20 21:05] pascalgrimaud commented on #13617
@SudharakaP : the repo already exists -> https://github.com/jhipster/.github :-D

[2021-01-20 21:13] pascalgrimaud commented on #13650
Not only documentation, I think these repo needs to be updated too:
- https://github.com/jhipster/generator-jhipster-blueprint
- https://github.com/jhipster/generator-jhipster-module

[2021-01-20 21:53] mshima commented on #13617
Would be nice to check if there are files missing copyright.

[2021-01-20 21:58] SudharakaP commented on #13617
Yeah, there's quite a few in `jhipster-online` which is missing copyright which I am gonna do another PR later, but I am not sure if we can do some kinda global temple solution for that as in certain repos there might be some files which need not have copyright. 🤔

[2021-01-20 22:02] mshima commented on #13617
Fail on missing and add a badge.
Adding the copyright is more difficult.

[2021-01-20 22:39] SudharakaP commented on #13617
@mshima : Could you explain a little bit more on what you mean by adding a badge? I am not sure how to do that exactly. 🤔

[2021-01-20 22:42] mshima commented on #13617
Badge for the workflow:
![Copyright Status](https://github.com/jhipster/jhipster-online/workflows/Copyright%20Update/badge.svg)

[2021-01-21 14:26] sonallux opened #13665 "Angular: robots.txt is not served"
##### **Overview of the issue**

The `robots.txt` file is not served on an angular project, when navigating to `localhost:8080/robots.txt`.

##### **Motivation for or Use Case**

Block crawlers/bots from indexing sensitive information

##### **Reproduce the error**

- Run `./mvnw -Pprod clean verify` on a project generated by JHipster 7.0.0-beta.1
- The `/target/*.jar\BOOT-INF\classes\static\` fol

[2021-01-21 14:40] #13617 closed

[2021-01-21 16:54] mraible commented on #10958
Should we close this issue and create new ones for the things we didn't add to v7?

[2021-01-21 16:57] mraible commented on #13642
I checked and Angular CLI 11.1 still uses webpack 4.

[code]

[2021-01-21 17:02] pascalgrimaud commented on #10958
For me, I think we can close, as the final v7 would be soon :)

[2021-01-21 19:17] #13612 closed

[2021-01-21 19:46] #12887 closed

[2021-01-22 07:31] #13665 closed

[2021-01-22 09:58] pascalgrimaud opened #13683 "Sonar links need to be updated"
##### **Overview of the issue**

The different links in the generated sonar.properties is out of date:
https://github.com/jhipster/generator-jhipster/blob/main/generators/common/templates/sonar-project.properties.ejs#L33-L46

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster config

[2021-01-22 15:28] egvimo opened #13687 "Integration tests failing on self reference relationship with filter"
##### **Overview of the issue**

If a relationship is declared with a self reference and the filter, the integration test failing.

Exception:

[code]

##### **Reproduce the error**

Run integration tests with the explained configuration.

##### **JHipster Version(s)**

generator-jhipster@7.0.0-beta.1

(Version 6.10.5 has the same problem with a slightly different relationship definition)

##### *

[2021-01-22 16:45] pascalgrimaud opened #13688 "Incremental Changelog: update for fake-data"
##### **Overview of the issue**

After updating the JDL, there is a new CSV file for updating fake-data which is not correct. The `id` is missing

##### **Motivation for or Use Case**

With that, the application can't start correctly, and failed with:

[code]

##### **Reproduce the error**

- generate a project with PostgreSQL, using this command: `jhipster --incremental-changelog`
- create an ent

[2021-01-22 16:47] pascalgrimaud commented on #13688
I tried to work on this, but didn't manage to find a solution for now.
That's why I opened the ticket and I think you'll know exactly how to fix it @mshima :)

[2021-01-22 18:26] mraible opened #13689 "Vue client doesn't change JHipster mascot when generating new apps"
##### **Overview of the feature request**

React and Angular pick a random JHipster mascot when generating new apps. The Vue client seems to always generate the same one.

![image](https://user-images.githubusercontent.com/17892/105530145-9f2f4800-5ca4-11eb-9119-986c470a794b.png)

##### **Motivation for or Use Case**

The Vue client generation process should be similar to Angular and React.

#####

[2021-01-22 19:36] pascalgrimaud commented on #13635
Specially the JDLMS builds are not enough stable

[2021-01-22 19:57] mshima commented on #13688
I will take a look.

[2021-01-22 21:20] pascalgrimaud opened #13691 "npm test too slow"
##### **Overview of the issue**

I don't know what happened since few versions, but the `npm test` is really too long.

I wanted to launch only app.spec.js with `npm run test test/app.spec.js` and it took more than 5 min for only 83 tests:

[code]

##### **Motivation for or Use Case**

It should be faster to improve contributors experience.

##### **Reproduce the error**

##### **Related issues**

[2021-01-22 22:31] mshima commented on #13691
I think the only thing we can do about is to split the test.
The reason probably is prettier been applied everywhere.

[2021-01-22 22:35] SudharakaP commented on #13691
@mshima , @pascalgrimaud : That's strange. How can prettier influence npm tests? Do you think we should revert the prettier change for certain files? 🤔

[2021-01-22 23:39] pascalgrimaud commented on #13691
I think @mshima talk about the prettier java, which format all java files.

An idea would be to disable it only for the test

[2021-01-22 23:55] mshima commented on #13691
Not only java, html too, actually (almost) every files is prettified.

[2021-01-23 02:49] mdromazos-drive opened #13695 "Generated Query Services and Integration Tests do not use custom IDs given to Entites"
##### **Overview of the issue**

When a importing an entity with the jhipster import-jdl command and with filtering turned on, the generated EntityQueryService does not use the correct id name.  The same thing is happening in entities that have relationships to entities with custom Ids.

For Example:
* I Created an entity with the following code given at the bottom of this ticket using the `jhipst

[2021-01-23 09:07] pascalgrimaud commented on #12649
Keep it

[2021-01-23 09:10] pascalgrimaud commented on #13639
So e2e are still flaky, using Protractor or Cypress, it is still the same...lol

[2021-01-23 11:16] pascalgrimaud commented on #13695
Thanks for opening this ticket @mdromazos-drive
But can you generate a sample project + sample JDL + provide all information of this sample, with your configuration too plz ?
No need your real project, just a sample, so it will help us to reproduce

As without your JDL, we can't guess your entities
Thanks in advance :)

[2021-01-23 11:25] #10958 closed

[2021-01-23 14:01] deepu105 commented on #8608
@MathieuAA this issue is not done right? Should we reopen it?

[2021-01-23 14:04] deepu105 commented on #10958
What about the items in this list that are not done? May be we should move those to a new ticket (may be v8 for breaking changes and seperate issue for non breaking) so that they are not lost

[2021-01-23 14:14] MathieuAA commented on #8608
The cleaning up of the values, according to their "type" isn't (no, false etc.). This is a huge refactoring :(
The improvement is though (the use ABC syntax). So yes, for me we can close this one.

[2021-01-23 14:15] pascalgrimaud commented on #10958
I think it was a wish list and it should be discuss point by point. As for each release there is a big list but we couldn't do all stuff as we don't have enough bandwidth :)

[2021-01-23 15:21] MathieuAA commented on #8608
Sorry, forgot to write: another issue should be opened for the sole purpose of cleaning up falsy values. This issue is too bloated to read

[2021-01-23 21:16] #12747 closed

[2021-01-24 09:59] colameo commented on #8608
...for that reason we made the [jhipster-base](https://github.com/jhipster/jhipster-base) project. In the jh ide all options (application, deployment etc) are maintained based on the models (json files) from that project. However, I know it costs effort to integrate those models in the core components but after that we will benefit of maintaining all options centrally - just my two cents.

[2021-01-24 10:02] pascalgrimaud commented on #8608
@colameo : what is the state of this project today? Is it used?

I'm asking because I added Vue.js support, removed uaa support, but I didn't do any change there. So maybe I should?

[2021-01-24 10:13] colameo commented on #8608
the purpose of this project was to keep JDL options in sync for all dependent jhipster projects like JH IDE, generator etc.
This to avoid inconsistency in the tooling (which we had quite often). In other words, if we have options in JDL which are not in the jhipster-base json files users of the JH IDE will not be able to define them via content assist and a validation error will also prevent this.

[2021-01-24 10:18] colameo commented on #8608
...and BTW even the documentation of all options can be maintained easily. Have a look to the linked MD files in the [README](https://github.com/jhipster/jhipster-base/blob/main/README.md). They are all generated automatically :-)

[2021-01-24 10:56] pascalgrimaud commented on #8608
@colameo : ok, then in this case, `jhipster-base` is out-dated:
- Vue.js is not a blueprint anymore
- UAA support will be deleted soon
- and some other stuff probably

[2021-01-24 11:15] pascalgrimaud commented on #8608
First PR to remove UAA here: https://github.com/jhipster/jhipster-base/pull/20

[2021-01-24 11:27] pascalgrimaud commented on #8608
I understand the reason of this project. Anyway, I still think it's better for the long life of JHipster to be in 1 single repository, as suggested several times by @PierreBesson
We have too much parallel projects, and all of them are not enough maintained. Using a mono repository will help us a lot.

[2021-01-24 12:10] #13688 closed

[2021-01-24 12:19] qmonmert commented on #13689
@mraible I generated a Vue app and I had this JH mascot

![image](https://user-images.githubusercontent.com/9989211/105630027-caea3380-5e46-11eb-8f82-70b9b84c8a0f.png)

[2021-01-24 12:27] mshima commented on #13689
It isn’t random, it’s basename on application basename hash.

[2021-01-24 12:31] pascalgrimaud commented on #13689
We could add new mascots, recently added by @ascelineboullen in jhipster-artwork project

[2021-01-24 14:45] pascalgrimaud commented on #13390
For your information, this alias could help too:
https://github.com/jhipster/jhipster-oh-my-zsh-plugin/blob/main/jhipster.plugin.zsh#L75-L77

[2021-01-24 14:46] pascalgrimaud commented on #13179
Let's close this, as for now, we'll keep test in separate folders for Vue.js (following official vue-cli)

[2021-01-24 14:46] #13179 closed

[2021-01-24 14:49] pascalgrimaud commented on #13224
@deepu105 @sendilkumarn : can you help @ctamisier to finish this PR plz ? https://github.com/jhipster/react-jhipster/pull/63

[2021-01-24 15:25] mraible commented on #13689
OK, I didn't realize that using the same app name would result in the same
image. This issue can be closed.

On Sun, Jan 24, 2021 at 05:31 Pascal Grimaud <notifications@github.com>
wrote:

[2021-01-24 15:33] pascalgrimaud commented on #13689
Ok then, we could create another ticket for adding new mascots so :)

[2021-01-24 15:33] #13689 closed

[2021-01-24 16:49] mraible commented on #13613
@pascalgrimaud I think we should remove the enhancement label. This is a major blocker for Spring Boot 2.4 support.

[2021-01-24 17:41] pascalgrimaud commented on #13613
Yes we can change of course. Is it a feature or a bug ?

[2021-01-24 18:30] mraible commented on #13613
It's a bug since our R2DBC implementation works fine with Spring Boot 2.3.

[2021-01-24 21:30] vw98075 opened #13699 "DB Page "Not Found" Error For Reactive Microservices"
##### **Overview of the issue**

Signing into the gateway app of a reactive microservices as the admin. Navigating to the database menu, one will get the followings

[code]
The error is observed with Matt Rabbie's sample codes of his article https://developer.okta.com/blog/2021/01/20/reactive-java-microservices

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related i

[2021-01-25 07:23] #13081 closed

[2021-01-25 12:45] #13365 closed

[2021-01-25 20:03] egvimo opened #13715 "Feature Request: Allow some VS Code files in .gitignore"
##### **Overview of the feature request**

Currently the `.gitignore` file is excluding the whole `.vscode` folder. However some files in this folder are worth to be shared. Like you do in this repository with the `launch.json` file.

##### **Motivation for or Use Case**

I suggest to change the `.gitignore` template to allow the common files:

[code]

##### **Related issues or PR**

If you agree,

[2021-01-25 20:04] avdev4j opened #13716 "Add Cypress Dashboard integration in CI/CD generator"
##### **Overview of the feature request**
The Cypress dashboard is a SASS feature that can provide you some feedback on your Cypress tests.
For example, you can track tests in failure and time required to run tests and track last builds...

This relies on this Cypress feature: https://www.cypress.io/dashboard/

Here is a free plan but also paid plans for advanced usages.

##### **Motivation for or

[2021-01-25 20:08] pascalgrimaud commented on #13715
Thanks for proposing this, but I'd like more details on these files, as for me, there are specifics to each developers
Each dev use their own extensions etc

[2021-01-25 20:23] atomfrede commented on #13715
This is what [gitignore.io](https://www.toptal.com/developers/gitignore/api/visualstudiocode) generates for vs code

[code]

Not sure if sharing launch configs makes sense/works well. But for extensions and settings these seem personal things to me.

[2021-01-25 20:35] egvimo commented on #13715
For me [it generates the following](https://www.toptal.com/developers/gitignore/api/vscode):

[code]

Also [GitHubs templates](https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore) suggests the same.

The `extensions.json` contains [recommendations](https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions) for the extensions, but ev

[2021-01-26 06:14] atomfrede commented on #13715
Seems like gitignore makes a difference between vscode and visual studio code 😁

So we could recommend to have e.g. Java extension and jdl extension for example? Sounds like a good thing to have.

[2021-01-26 07:04] pascalgrimaud opened #13723 "Flaky Protractor tests with OAuth2"
##### **Overview of the issue**

Since this PR https://github.com/jhipster/generator-jhipster/pull/13530, the Protractor tests failed most of the time.
See:
- https://github.com/hipster-labs/jhipster-daily-builds/actions?query=workflow%3A%22No+Database%22
- https://github.com/hipster-labs/jhipster-daily-builds/actions?query=workflow%3A%22Monolith+OAuth2%22

cc @mraible

![protractor_monolith_oauth

[2021-01-26 07:27] mraible commented on #13723
I replaced some browser.sleep() calls with browser.wait(). Maybe that’s the problem?

https://github.com/jhipster/generator-jhipster/pull/13530/files#diff-373f2ed85b9eda1c4f074c4af4ef9ba41736e1fa41c2171e0187157a6634f4c8L90

[2021-01-26 07:30] pascalgrimaud commented on #13723
I don't know, I'm not a Protractor expert like you :)
But we could give a try

[2021-01-26 09:31] egvimo commented on #13715
Yes, you can recommend general extensions like Prettier or JDL for all apps and specific ones like Angular for Angular apps.

[2021-01-26 10:05] ecostanzi commented on #13613
Hello! I can give this a try. I started fixing the generated project here https://github.com/ecostanzi/jhipster-r2dbc-spring-boot-24 and at least it starts now. 2 questions:
- should I create the branch starting from `spring-boot-2.4`?
- which jdl do you suggest to use for a full set of entities?

[2021-01-26 12:02] egvimo commented on #13305
I have the same issue. I've created [a simple example](https://github.com/egvimo/jhipster-sample-app/tree/%2313305) to reproduce it.

Here is the JDL:

[code]

The generated Code with the error:

[code]

Is it possible to fix this?

[2021-01-26 14:14] mraible commented on #13613
Yes, starting from the `spring-boot-2.4` branch would be best. You don't need any entities to start since the errors happen without any. I've been testing with the `webflux-psql` sample.

[2021-01-26 14:23] mraible commented on #13613
@ecostanzi I read your comment wrong and didn't realize you had startup working. The `webflux-psql` job uses the `sql` entities. From `test-integration/scripts/11-generate-entities.sh`, that is:

[code]

[2021-01-26 14:54] mshima commented on #13305
- Edit `.jhipster/Abc.json` and remove relationship with Xyz`.
- Regenerate with `jhipster --with-entities`.

[2021-01-26 17:45] mraible opened #13733 "Add native image support with GraalVM and Spring Native"
##### **Overview of the feature request**

Now that Spring Native has [Spring Security support](https://github.com/spring-projects-experimental/spring-native/issues/247#issuecomment-767693327), we might be able to integrate native image support into JHipster.

The current version of spring-graalvm-native (v0.8.5) requires Spring Boot 2.4.1 support, so we might have to wait until the next release.

[2021-01-26 17:50] mshima commented on #13691
@pascalgrimaud created a PR to disable prettier.

IFAIK mocha runs test files in parallel not test cases https://mochajs.org/#parallel-mode.
So splitting tests may be a good idea.

[2021-01-26 18:15] pascalgrimaud commented on #13691
Thanks @mshima !

[2021-01-26 21:06] mraible opened #13737 "Couchbase Builds are broken in jhipster-daily-builds"
##### **Overview of the issue**

All JDLMS builds are [failing in jhipster-daily-builds](https://github.com/hipster-labs/jhipster-daily-builds/actions/runs/511555517).

It seems to be related to [YAML parsing](https://github.com/hipster-labs/jhipster-daily-builds/runs/1767751644?check_suite_focus=true#step:11:1073):

<img width="969" alt="Screen Shot 2021-01-26 at 2 05 55 PM" src="https://user-ima

[2021-01-26 21:12] mraible commented on #13613
@ecostanzi Can you please create a PR against the `spring-boot-2.4` branch with your enhancements?

[2021-01-26 21:13] kaidohallik commented on #13737
This build was ran 13 hours ago, fix for this error, #13725, was applied 12 hours ago. So this is hopefully fixed.

[2021-01-26 21:22] mraible commented on #13737
@kaidohallik Cool! I just triggered a new build. https://github.com/hipster-labs/jhipster-daily-builds/actions/runs/511555517

[2021-01-26 22:44] mraible commented on #13737
@kaidohallik All JDLMS actions are passing now!

We still have Couchbase failures that seem to be related to EJS.

https://github.com/hipster-labs/jhipster-daily-builds/runs/1766840804?check_suite_focus=true

<img width="1189" alt="Screen Shot 2021-01-26 at 3 43 24 PM" src="https://user-images.githubusercontent.com/17892/105915797-5d2c3c00-5fed-11eb-96e2-0ed80c17df4d.png">

[2021-01-26 23:05] ecostanzi commented on #13613
@mraible I've just created a draft PR. Fixing the entity repository is taking me longer than expected. I'm trying to find a way to update the whole entity without [iterating on all its fields](https://github.com/ecostanzi/jhipster-r2dbc-spring-boot-24/blob/master/src/main/java/tech/jhipster/sample/repository/BlogRepositoryInternalImpl.java#L140).

[2021-01-27 07:41] #12686 closed

[2021-01-27 08:45] vwiencek opened #13746 "Invalid tag name "extension 'node' property 'npmVersion'": Tags may not have any characters that encodeURIComponent encodes."
##### **Overview of the issue**

When I start command `gradlew npm_run_test -PnodeInstall --no-daemon` (from gitlab CI) I get the following error:

[code]
##### **Motivation for or Use Case**

##### **Reproduce the error**

start command `gradlew npm_run_test -PnodeInstall --no-daemon`

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
7.0.0-beta.1

##### **JHipster

[2021-01-27 08:54] atomfrede commented on #13746
Can you post the your `build.gradle`?

[2021-01-27 08:55] vwiencek commented on #13746
sure ; it's the one generated without modifications

[code]

[2021-01-27 08:56] vwiencek commented on #13746
I managed to get rid of the error by harcoding the version in the `build.gradle file`

[2021-01-27 09:10] vwiencek commented on #13746
And when I manually set version numbers within `build.gradle` file, I get the following

[code]

[2021-01-27 09:28] atomfrede commented on #13746
So the first thing is related to our gradle part, it seems not to resolve the placeholder from properties. The second thing you mention seems to be an npm/node problem. Will check. Can you set the node plugin version to `3.0.0-rc7`?

[2021-01-27 10:02] vwiencek commented on #13746
it's working fine with `3.0.0-rc7`

[2021-01-27 10:11] vwiencek commented on #13746
I love it when a plan comes together!

[2021-01-27 12:20] vwiencek commented on #13746
Hello, for the first thing, the only solutions right now seem to be
- harcode version number
- or move back to version `2.2.4`

For the second point, I cannot reproduce it right now  .. do I need to clean something before relaunching `npm_run_test` ?

[2021-01-27 16:15] egvimo commented on #13305
This doesn't work. The generator overwrites the json files and regenerates the faulty model files.

[2021-01-27 20:57] #13683 closed

[2021-01-28 22:07] pascalgrimaud commented on #13723
I'm reopening this, as it's still flaky
![nodatabase_flaky](https://user-images.githubusercontent.com/9156882/106204646-9a472880-61bd-11eb-90bc-69847049091a.png)

[2021-01-28 23:14] mraible commented on #13723
I'll look into them now...

[2021-01-28 23:17] pascalgrimaud commented on #13723
I tried some change too, but didn't fix it yet.

My workflow:
- create a local branch
- commit some changes
- push to my fork
- then, launch No Database (or other build) at https://github.com/hipster-labs/jhipster-daily-builds/actions?query=workflow%3A%22No+Database%22
- select my repo and select my branch : it's the most important part

[2021-01-28 23:20] mraible commented on #13723
I typically re-create the failing app locally, then run:

[code]

If it passes locally, it's a CI issues and we have to add pauses, wait fors, etc...

[2021-01-28 23:21] pascalgrimaud commented on #13723
Locally, it passes, I couldn't reproduce.

[2021-01-28 23:26] mraible commented on #13723
The first time I tried it, it didn't work.

[code]

I tried again, and it did pass. Can we change the e2e script to try `npm run ci:e2e:run` multiple times?

I saw this recently with Protractor when running e2e tests on generated entities. It'd always pause on the edit screens. If I canceled and tried again, it'd pass on that edit screen, then pause/fail on the next one. If you canceled and restar

[2021-01-28 23:32] mraible commented on #13723
Are these running with `JHI_E2E_HEADLESS=true`? That might be an option. Or use another browser, like Firefox. I just tried and it works (from `protractor.conf.js`):

[code]

NOTE: I did have to run `npx webdriver-manager update` after changing the `browserName` value.

[2021-01-28 23:42] mraible commented on #13723
Here's an attempted fix: https://github.com/jhipster/generator-jhipster/pull/13754.

[2021-01-28 23:46] pascalgrimaud commented on #13723
That's one of the reason we decided to use Cypress.
Protractor is so random

Another solution would be to completely migrate to Cypress in Daily builds, and definitively abandon Protractor there

[2021-01-28 23:55] mraible commented on #13723
I'd be OK with that.

On Thu, Jan 28, 2021 at 16:46 Pascal Grimaud <notifications@github.com>
wrote:

[2021-01-29 00:33] mraible commented on #13723
If Cypress tests prove to be flaky, we can add another implementation in [Playwright](https://playwright.dev/). 😜

[2021-01-29 00:36] mraible opened #13755 "Add a Playwright implementation of e2e tests"
##### **Overview of the issue**

Add an implementation of JHipster's e2e tests with [Playwright](https://playwright.dev/).

I'm not sure this is necessary, but I figured I'd enter it here and put a bounty on it in case someone is interested.

##### **Motivation for or Use Case**

The least flaky system is the one we want for our CI processes.

##### **Related issues**

https://github.com/jhipster/

[2021-01-29 06:14] atomfrede commented on #13755
You would like to use the typescript version or Java?

[2021-01-29 06:53] mraible commented on #13755
Both! What do you prefer? The final result should be an implementation and a good story about how it was achieved. :)

[2021-01-29 07:16] #13593 closed

[2021-01-29 07:16] #13746 closed

[2021-01-29 07:17] atomfrede commented on #13755
I guess the ts/node version will be much easier to implement as we have the testrunner etc. in place. Personally I would like to test out the java part, but totally fine with starting the ts version.

[2021-01-29 07:37] pascalgrimaud commented on #13723
@mraible : for your information, I revert your PR here:
- https://github.com/pascalgrimaud/generator-jhipster/tree/test/v7.0.0-beta.1
- https://github.com/pascalgrimaud/generator-jhipster/commit/0a5e996229a104baab01d37b7e4980bfe34100a8

Then, I launch 5 NoDatabase builds consecutively.
![nodatabase_revert](https://user-images.githubusercontent.com/9156882/106245596-01d89480-620d-11eb-9a05-5e81aa83

[2021-01-29 07:38] mraible commented on #13723
I'm OK with a revert. None of these tests hit Okta and I tend to recommend Keycloak for CI anyway.

[2021-01-29 07:42] pascalgrimaud commented on #13723
Thanks, I'll take care of it tonight, after my day work

[2021-01-29 07:42] mraible commented on #13723
Woah! I didn't realize you want to revert *all* of my changes to support Okta. It works locally, most of the time (or at least, more than before). I'm OK with it for a release, but I'd love to collaborate with you on a blog post to explain the why. :)

[2021-01-29 07:48] mraible commented on #13723
BTW, I'm cool if your reason is "because Okta sucks!" We can do better. We should be better than Keycloak, IMHO.

[2021-01-29 07:48] pascalgrimaud commented on #13723
@mraible : sorry, I didn't explain well. Let me try again :-D

My branch with this commit https://github.com/pascalgrimaud/generator-jhipster/commit/0a5e996229a104baab01d37b7e4980bfe34100a8 is only here to confirm that the introduced code makes Protractor to become flaky ->  this branch is only for **test**

I don't want to revert all the code.
We should keep the username, password, and revert the

[2021-01-29 11:44] DanielFran commented on #13613
Closed by #13739

@ecostanzi Do not forget to claim the bug-bounty

[2021-01-29 11:44] #13613 closed

[2021-01-29 11:46] DanielFran commented on #13224
Closed by #13735

[2021-01-29 11:46] #13224 closed

[2021-01-29 14:15] mshima commented on #13715
IMO this should go into a blueprint, so customizations can be done.
I have plans to create one for eclipse.

[2021-01-29 14:19] mshima commented on #13737
Dúplice of https://github.com/jhipster/generator-jhipster/issues/12300 and https://github.com/jhipster/generator-jhipster/issues/13544.

[2021-01-29 14:22] mshima commented on #13691
@pascalgrimaud should we close this?

[2021-01-29 14:24] pascalgrimaud commented on #13691
Ok let's close this

[2021-01-29 14:24] #13691 closed

[2021-01-29 15:12] atomfrede commented on #13755
This seems as good blueprint candidate, what do you think?

[2021-01-29 17:29] #13737 closed

[2021-01-29 17:39] ecostanzi commented on #13613
Bounty claimed https://opencollective.com/generator-jhipster/expenses/32800

[2021-01-29 18:15] pascalgrimaud commented on #13613
@ecostanzi : approved

[2021-01-29 19:32] #13237 closed

[2021-01-29 22:31] mraible opened #13768 "Okta password rules have changed. JHipster + Heroku needs updating."
##### **Overview of the issue**

We have the following question in our Heroku integration, but if I enter `Password1`, it’s accepted, and I can’t log in afterward. So it's not working.

[code]

I'm trying to find out what our new rules are.

##### **Motivation for or Use Case**

Password rules should reflect a password that will work with Okta.

##### **Reproduce the error**

[code]

Then use `Pas

[2021-01-29 22:32] mraible commented on #13768
If I reset my password and try to use `Password`, I get the following error:

[code]

[2021-01-29 22:51] mraible commented on #13768
@dogeared Do you have any ideas for how the password logic for JHipster + Heroku + Okta could be improved? For example, maybe we should implement the one-time token feature like the Okta CLI has?

[2021-01-30 01:02] mraible commented on #12274
Can you please try again with JHipster v7 beta 1? You can also try the `main` branch if you want Spring Boot 2.4 support.

[2021-01-30 03:06] mraible commented on #13544
It's now a migration issue. We need to upgrade to Spring Data Couchbase 4.x. https://docs.spring.io/spring-data/couchbase/docs/4.1.3/reference/html/#couchbase.migrating

[2021-01-30 03:10] mraible commented on #13544
If you have issues with contributing to [my pull request](https://github.com/jhipster/generator-jhipster/pull/13770), please let me know. I'd be happy to make it part of JHipster's repo instead of my fork.

[2021-01-30 12:37] mshima commented on #13544
There is another unfinished pr from murdos https://github.com/jhipster/generator-jhipster/pull/11845

[2021-01-30 14:07] #13695 closed

[2021-01-30 16:58] Faelivrinx commented on #12274
I've just checked `7.0.0-beta.1` and seems to work fine! 👍
It looks like the way of determining DB name has changed since the `2.3.8` spring-boot, so the issue disappeared

[2021-01-30 17:22] mraible commented on #12274
Thanks for checking @Faelivrinx. I'm closing this issue since it seems to be resolved.

[2021-01-30 17:22] #12274 closed

[2021-01-30 18:13] mraible commented on #13544
Thanks for that @mshima! I integrated @murdos' changes into https://github.com/jhipster/generator-jhipster/pull/13770. I'm able to create the `ngx-couchbase` app with entities and all e2e tests pass. Tests are failing, not sure why.

[2021-01-30 22:27] atomfrede commented on #13755
I have a first example up and running. Fun to work with.

[code]

[code]

[2021-01-30 22:31] atomfrede commented on #13768
@mraible Maybe we could generate a random password and display it during generation, such that you have to copy it for first login?

[2021-01-30 22:37] mraible commented on #13768
@atomfrede That works for me!

[2021-01-31 18:06] mmonti commented on #13544
Hi! I have been looking into the failing test and I think I found at least a couple problems that seem to be the root cause of these failing tests.

The first one is that the default scan consistency in Spring Data Repository is set to **NOT_BOUNDED**. This mean that for every write we sent to CB, the response is immediate (we don't wait for the documents to be indexed). If we issue a read immedia

[2021-01-31 18:14] mraible commented on #13544
@mmonti You are correct in your scan consistency theory. I've been adding the annotation you mention on all the `find*()` methods. It's a real pain and only seems to be needed for tests. I asked about setting a global default [on this closed issue in Spring Data Couchbase](https://github.com/spring-projects/spring-data-couchbase/issues/897#issuecomment-770418664).

Your other finding about key nam

[2021-01-31 19:06] mraible opened #13774 "Warning from Reactstrap validation"
##### **Overview of the issue**

I saw this when testing webflux-couchbase today.

[code]

Not sure if it's something we should be concerned about.

##### **Motivation for or Use Case**

No one likes to see errors or warnings when building their app.

##### **Reproduce the error**

Create a project with this `.yo-rc.json`. You'll see the warning as part of `npm install`.

[code]

##### **JHipster

[2021-01-31 21:23] mraible commented on #13544
@mmonti I created a couple of repos from [my branch](https://github.com/jhipster/generator-jhipster/pull/13770) so you can see the test failures.

- https://github.com/mraible/ngx-couchbase
- https://github.com/mraible/webflux-couchbase

If you run `./mvnw verify` after cloning them, you'll see the integration test failures.

You can also run them and see that e2e tests pass.

[code]

[2021-01-31 22:15] #13510 closed

[2021-02-01 05:55] #13723 closed

[2021-02-01 10:49] avdev4j opened #13793 "Npm stats link is broken in "companies using JHipster page""
##### **Overview of the issue**
In the page [Companies using JHipster](https://www.jhipster.tech/companies-using-jhipster/) the npm related to the stats is broken: [http://www.npm-stats.com/~packages/generator-jhipster](http://www.npm-stats.com/~packages/generator-jhipster)

##### **Motivation for or Use Case**
Fix the link.

##### **Reproduce the error**
Click on the link 🤣

##### **Related issue

[2021-02-01 10:53] #13793 closed

[2021-02-01 17:05] mmonti commented on #13544
Hi @mraible, thanks for the repos! TLDR; all tests passed... :)

I mainly worked on a fork of https://github.com/mraible/ngx-couchbase and focus again on the failing integration tests. I found the root cause of the issue I mentioned earlier (the one with spring data generating the wrong query for fields with @Field annotations).

The fix seems to be pretty simple in Spring Data (N1qlQueryCreator.j

[2021-02-01 19:30] mraible opened #13796 "npm install is slow and happens too often"
##### **Overview of the feature request**

I might not understand things, but it seems to be like `npm install` happens twice.

1. Once when you run `jhipster` (unless you use `--skip-install`)
2. Once when you start everything with Maven

##### **Motivation for or Use Case**

`npm install` is sooooo slow and it's really painful for it to happen twice in demos.

##### **Steps to reproduce**

With

[2021-02-01 20:12] atomfrede commented on #13796
For gradle/maven we could use the respective build system for the first run. At least for gradle it will make gradle aware of all files and the up-2-date check will work as expected and make sure npm tasks are only run when needed.

[2021-02-01 20:16] mikereiche commented on #13544
https://github.com/spring-projects/spring-data-couchbase/issues/1055

[2021-02-01 20:20] pascalgrimaud commented on #13796
We changed the behaviour since this PR https://github.com/jhipster/generator-jhipster/pull/11207 by @Tcharl

It's because we removed `<missing>${basedir}/<%= CLIENT_DIST_DIR %>app/main.bundle.js</missing>`

That's why I have personal alias to launch all my app with `-P-webapp` profile, to avoid this npm install

[2021-02-01 20:30] mshima commented on #13796
Npm slowness can be fixed by using only npm 7:
[code]

beta.1 release still uses npm 6, current master switched to npm 7.
Make sure to be running npm 7 globally too.

Running different npm version on same package-lock.json can cause problems:
- Slowness
- Missing packages (broken tree).

[2021-02-01 20:34] mraible commented on #13796
@atomfrede Gradle seems to be better. If I create a JDL with the following:

[code]

Then run `jhipster jdl default`, it takes about the same time to complete.

[code]

However, when I run `./gradlew`, it seems to skip `npm install` (at least the 2nd time, maybe not the first).

[2021-02-01 20:35] atomfrede commented on #13796
Yes when running npm install without gradle the up-2-date check does not work as gradle did not see the created files.

[2021-02-01 21:03] utnaf opened #13797 "Updating an entity with a relationship deletes all the fields in the other entity (React + Neo4j)"
Hey everyone! Thanks for the great job on JHipster!

##### Trying to update an entity with a relationship cause the other entity to be empty

When using Neo4j and React (at least happened to me with this combo) and with two entities with a OneToMany relationship (Foo - HAS_MANY -> Bar), the update of Bar with a Foo selected in the select box causes all Foo fields (except for the ID) to disappear.

[2021-02-01 21:19] mmonti commented on #13544
Ohh dang!... I feel that i did all this debugging for issues that were already addressed!... 🤦‍♂️ 😂 I should have browse the PRs/Issues first in Spring Data Couchbase.

Anyways, I am glad that DATACOUCH-1055 is already merged. I think that with that fix in, we can work out the rest on JHipster side.

[2021-02-01 21:24] Tcharl commented on #13642
I know that it could looks like a hack, but what about [overriding dependency with yarn](https://github.com/module-federation/module-federation-examples/tree/master/angular11-microfrontends) as they recommend in the [webpack 5 angular issue](https://github.com/angular/angular-cli/issues/17555)?
Also npm seems to [recommend](https://github.com/npm/rfcs/blob/latest/accepted/0009-package-overrides.md

[2021-02-01 22:07] pascalgrimaud opened #13800 "Spring Cloud Config: no retry and failed to start"
##### **Overview of the issue**

Following the discussion here
https://groups.google.com/g/jhipster-dev/c/S9a5AwMEIcc/m/SqokH83qCwAJ

Currently, when starting a Gateway or Microservice with prod profile, without starting the Registry, the application failed and stopped, instead of waiting the Registry to be up

The behaviour has changed since Spring Boot 2.4

##### **Motivation for or Use Case**

[2021-02-01 22:10] pascalgrimaud commented on #13800
@mraible : the work around is:

Add this dependency

[code]

Remove this property:

[code]

Then, add back bootstrap-prod.yml :

[code]

[2021-02-01 22:10] pascalgrimaud commented on #13800
With this patch, the application is waiting the Registry:

[code]

[2021-02-01 22:26] mraible commented on #13800
@pascalgrimaud Looking at the jobs I just ran on jhipster-daily-builds, the apps appear to be starting, it's just that some (but not all) e2e tests are failing.

https://github.com/hipster-labs/jhipster-daily-builds/runs/1810260591

The last time I tried Cypress to run e2e tests with microservices, they didn't work. I didn't report it because I figured it was just me.

[2021-02-01 22:34] pascalgrimaud commented on #13800
About the retry problem, it's random, because when the JDLMS builds use Docker Compose to start all containers.
Sometimes, the Registry started before the other, sometimes after...

At this link https://github.com/hipster-labs/jhipster-daily-builds/runs/1810260561?check_suite_focus=true
You can look at the logs in the previous steps: Deploying with docker-compose file, and you'll see:

[code]

[2021-02-01 22:35] pascalgrimaud commented on #13800
Here: https://github.com/hipster-labs/jhipster-daily-builds/runs/1810260542?check_suite_focus=true
About the failure related to e2e tests :

[code]

It is tracked here: https://github.com/jhipster/generator-jhipster/issues/13635

[2021-02-01 22:38] mraible commented on #13800
OK, then I'm in favor of using the `spring-cloud-starter-bootstrap` dependency and restoring the necessary `bootstrap*.yml` files. Using `spring.config.import` seems like it's not quite ready for production use. We can try again when it seems more stable.

[2021-02-01 22:40] pascalgrimaud commented on #13800
Ok then, I can fix it tomorrow. Time to sleep for me :)

[2021-02-01 22:45] mshima commented on #13800
What about adding health check to jhipster-registry docker?
https://stackoverflow.com/questions/57515333/how-to-do-health-check-of-a-spring-boot-applications-which-is-running-in-docker
And use dependency https://docs.docker.com/compose/compose-file/compose-file-v3/#depends_on

[2021-02-01 23:22] avdev4j commented on #13639
I have suggested adding Cypress Dashboard to find flaky test https://docs.cypress.io/guides/dashboard/flaky-test-management.html#Flake-Detection

As an OSS project, we can have unlimited test records.

I have already asked for an account for JHipster. I'm waiting for an answer and then I would like to add this to some workflows.

[2021-02-01 23:23] avdev4j commented on #13755
I'm not against adding a new tool but I would like to go ahead on Cypress by using the Cypress Dashboard for the JHipster organization.

Maybe it will help on this subject.

[2021-02-02 05:03] vishal423 commented on #13800
Have you tried to make the import as optional like:

[code]

[2021-02-02 05:36] egvimo commented on #13715
How about to change the `.gitignore` file directly here? So that the VS Code files can be used without a blueprint.

I can create a PR for that.

And the rest of the additional files would be in the blueprint.

[2021-02-02 05:45] pascalgrimaud commented on #13800
@vishal423 : when you use `optional:configserver`, the application tried to connect to Spring Cloud, failed to connect, and then, manage to start without getting the config.
The application can start without the important config like JWT secret etc. So it can't communicate with other microservices as the secret is not correct.

We want the application to wait, that's an important behaviour

[2021-02-02 05:54] vishal423 commented on #13800
In that case, you need to use the retry. Did you check the section of [Retry documentation](https://cloud.spring.io/spring-cloud-config/reference/html/#config-client-retry)

[2021-02-02 06:24] pascalgrimaud commented on #13800
@vishal423 : yes as we have this config by default in JHipster but it doesn't work.

I'm posting my search here:

Just saw this stackoverflow post:
- https://stackoverflow.com/questions/65406740/spring-cloud-config-v3-are-the-spring-cloud-config-retry-parameters-no-longer

Here the official fix:
- https://github.com/spring-cloud/spring-cloud-config/issues/1775
- https://github.com/spring-cloud/spr

[2021-02-02 06:41] atomfrede commented on #13797
So with angular and neo4j it works fine you say? Can you check the latest beta which contains some improvements regarding handling relations with neo4j?

[2021-02-02 06:47] atomfrede commented on #13755
Having it as a blueprint doesn't hurt. Thinking of having the choice between node/ts and java eventually. Not sure how easy it will be to keep up with upstream changes for a blueprint doing e2e tests.

[2021-02-02 07:46] utnaf commented on #13797
Hi @atomfrede, just tried `7.0.0-beta.1` and problem still there.

Let me know if I can do any other tests!

[2021-02-02 08:51] pascalgrimaud commented on #13755
Yes, it will go to blueprint or module

[2021-02-02 08:59] vishal423 commented on #13800
I don't see `spring-boot-starter-aop` dependency and as per documentation that's required.

[2021-02-02 09:01] pascalgrimaud commented on #13800
`spring-boot-starter-aop` has been removed recently.
I tried with this dependency too, but it doesn't change anything :-(

[2021-02-02 09:13] atomfrede commented on #13755
Should it be an "official" blueprint or just keep it under https://github.com/atomfrede/generator-jhipster-playwright for now?

[2021-02-02 10:05] jdubois commented on #13755
Oh I missed this thread!
I'm in contact with the Playwright team at Microsoft, I'll ask them if they want to join.

[2021-02-02 15:59] mraible commented on #13796
Would it be possible to use the same `node_modules` folder for the Gradle/Maven install? Using https://npkill.js.org/, I see that JHipster apps end up having two `node_modules` folders.

<img width="1442" alt="Screen Shot 2021-02-02 at 8 58 02 AM" src="https://user-images.githubusercontent.com/17892/106626414-ecc57380-6534-11eb-8fbc-21abede8ff62.png">

[2021-02-02 16:12] atomfrede commented on #13796
Did you check for gradle too? I just have a non jhipster project at hand but `node_modules` is not under build just at the root (as with running npm directly)

[2021-02-02 16:32] mraible commented on #13796
I tried running `npx npkill` on a Gradle project I have, and you're right. There's only one `node_modules` directory.

<img width="1442" alt="Screen Shot 2021-02-02 at 9 31 10 AM" src="https://user-images.githubusercontent.com/17892/106630914-7d9e4e00-6539-11eb-86c0-93b4c3a983cf.png">

[2021-02-02 16:55] mshima commented on #13796
Maven install a full node and npm version inside `node/` directory, so it's not a duplicate from root `node_modules`:
https://github.com/jhipster/generator-jhipster/blob/4174fcbd9c281859340030d46887aa12d4b51ef4/generators/server/templates/pom.xml.ejs#L1550-L1561

Not sure if it's for reproducible build or to allow the system to don't require an installed node/npm.
While Gradle seems to use system

[2021-02-02 19:08] mraible opened #13810 "Reactive microservices: No bean named 'reactiveTransactionManager' available"
##### **Overview of the issue**

I discovered a bug that I thought was a Protractor issue but appears to be a real problem.

[code]

##### **Motivation for or Use Case**

Everything should work without errors when you generate a reactive microservices architecture and run e2e tests on them.

##### **Reproduce the error**

Clone the main branch:

[code]

Create a reactive microservices stack:

[cod

[2021-02-02 19:15] #13800 closed

[2021-02-02 21:34] atomfrede commented on #13796
For gradle it depends (download or not). When downloaded it puts the executables under `.gradle`.

![image](https://user-images.githubusercontent.com/203401/106665549-bc1e2200-65a6-11eb-8009-ae6c0d8aaafb.png)

[2021-02-02 22:19] pascalgrimaud commented on #13796
I think there are different subjects here. Let me résumé the original one, about our workflow:

- use jhipster command to generate a project
- at the end of génération, there is an npm install
- launch the app with ./mvnw
- there is another npm install (useless)
- then npm run webapp:build
- then, the app starts
- stop and relaunch ./mvnw
- again, npm install (useless)
- again npm run webapp:build

[2021-02-02 22:34] mshima commented on #13800
I am facing another problem.
[code]
With a very simple jdl

[code]

Just re-triggered a workflow and failed https://github.com/hipster-labs/jhipster-daily-builds/actions/runs/530090212

[2021-02-03 07:25] #13768 closed

[2021-02-03 07:35] atomfrede commented on #13797
Thanks. And with angular everything is okay?

[2021-02-03 08:00] utnaf commented on #13797
Yes, with angular this doesn't happen

[2021-02-03 11:58] atomfrede commented on #13797
Okay, so it seems like a react frontend issue.

[2021-02-03 12:12] atomfrede commented on #12558
It might take some more time. Estimation seems to be a few weeks for alpha/beta to be ready, stable in Q2 if everything goes well. https://github.com/bootstrap-vue/bootstrap-vue/issues/5196#issuecomment-770883757

[2021-02-03 12:14] atomfrede commented on #13810
Seems like we missed to [read the migration guide](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.4.0-M2-Release-Notes#neo4j-1) :D Will take care of it:

[2021-02-03 12:15] mshima commented on #10189
@mraible https://github.com/mshima/jhipster-microfrontend

[2021-02-03 12:25] atomfrede commented on #13699
This is similar to a problem we discovered with the micronaut blueprint. For non reactive applications the servlet for h2 is registered (via our library). This does not work for reactive applications. We could it like in the [micronaut case and start the h2 console ](    private static void startH2WebConsole() {)webserver (would need another port, but that can be changed in the frontend).

[2021-02-03 13:42] utnaf commented on #13797
This is the main difference between React and Vue.

Recap: we have entity Exam and entity Question, related like: Exam - HAS_MANY - Question

When inserting/updating a Question we select an Exam to attach.

Request payload made by Angular

[code]

Request payload made by React

[code]

Now, I don't know which one should be considered correct. The backend is basically overwriting all the Exam field

[2021-02-03 13:59] atomfrede commented on #13797
I agree. For neo4 I am not sure if thats possible (I remember some similar problem when we implemented that). Will try to have a look and double check with the neo4j/spring data team

[2021-02-03 14:08] utnaf commented on #13797
Sure, no hurry btw, I just came across this one while playing around with JHipster. Thank you!

[2021-02-03 14:33] mshima commented on #13797
That's only true from non-dto entities, dto only returns id (+ label) from the server. At least for imperative implementation.

So an alternative is to use PATCH.
Current implementation doesn't supports field removals since there is no undefined on java.
This PATCH problem could be fixed by https://github.com/jhipster/generator-jhipster/pull/12507#issuecomment-699032634.

[2021-02-03 14:57] utnaf commented on #13797
That's good news! Thank for the info @mshima

[2021-02-03 16:15] mshima commented on #13635
@nassimerrahoui was updated to 6.4.0. Should we close this?

[2021-02-03 16:27] nassimerrahoui commented on #13635
Closing this issue because cypress was updated to 6.4.0.

[2021-02-03 16:27] #13635 closed

[2021-02-03 16:33] pascalgrimaud commented on #13635
As the original issue is resolved, we can closed it.
But all daily builds are still broken, for another reason... maybe communication between microservices

[2021-02-03 23:29] mshima commented on #10189
Just made cypress to succeed.
A few notes about the implementation:
- It's using webpack5 + yarn resolutions (npm doesn't supports, but it's ok to use npm 7 on top of yarn.lock)
- Blog microservice contains a full copy of the shell (gateway).
Otherwise it's very difficult to get module federation happy.
- Articles is loaded dynamically from the microfrontend
- The only non dynamic Blog info is the

[2021-02-04 01:02] mshima commented on #7112
Let's try to close this.

[2021-02-04 08:02] ecostanzi opened #13833 "entity generation fails when when using --single-entity option"
To generate a single entity without regenerating all the project entities the `--single-entity` option has been added in the entity generator (https://github.com/jhipster/generator-jhipster/issues/13365). I was trying this feature today but I realized it doesn't work.

##### **Overview of the issue**

When trying to generate a single entity I got the following error.

[code]

##### **Motivation fo

[2021-02-04 08:55] xinatcg opened #13835 "DEBUG [ restartedMain] Validator : ERROR [ModelSpecification.spec] At least one type of specification is required"
##### **Overview of the issue**

when start up get several debug error log

2021-02-04 08:47:51.637 DEBUG 10814 --- [  restartedMain] Validator                                : ERROR [ModelSpecification.spec] At least one type of specification is required

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Versio

[2021-02-04 09:04] yelhouti commented on #7112
I am rebasing, my branch, we have something that is working, but it breaks the flow of how entities are handled. Once all entity.json are loaded we use the shared entities to compute the primary foreach one since they are interdependent. And unless you find a workaround to this, I m sure you will not like the code. Also I tried using getters but it's not clean at all since fields becomes a getter.

[2021-02-04 09:55] mshima commented on #7112
@yelhouti don’t need.
I have a PR almost finished.
As I already said, a clear and separated workflow is a must.

[2021-02-04 15:58] ayman2nov commented on #7897
the issue is related to the data inside the CSV files, mine was generating the admin user with ID 3 , but the relation inside user_authority.csv was trying to find a user with ID 1

[2021-02-04 16:04] #13810 closed

[2021-02-04 17:58] yelhouti commented on #7112
@mshima that is great news, any idea on an ETA. (Don't mean to rush) also I am here if you want any help with the templating part we have many improvements from last time.

[2021-02-04 19:57] ntorionbearstudio commented on #13595
Hello everyone, with @ascelineboullen we started to think about new pages and links disposition.
In first, we think that some generator informations or some tools like Jhipster online generator or JDL Studio are not highlighted enough.

We'll have more time to work on it this month. We'll go back soon with some propositions to discuss with you :)

[2021-02-04 21:34] mraible commented on #13544
@mmonti I updated the [webflux-couchbase example](https://github.com/mraible/webflux-couchbase/commit/45280f14b6724501b365f9035092b3ad78e0f4fb) after incorporating your fixes. There are some tests failing. See details at https://github.com/jhipster/generator-jhipster/pull/13770#issuecomment-773615644.

[2021-02-04 22:43] mmonti commented on #13544
@mraible thanks!... I started to look into the reactive implementation but didn't make much progress yet. I will try to work on it in the next few days.

[2021-02-04 23:05] mikereiche commented on #13544
I see several test failures related to pagination.  The reactive pagination support is... unstable.

[2021-02-05 09:50] mshima commented on #13639
Fixed by https://github.com/jhipster/generator-jhipster/pull/13825

[2021-02-05 09:50] #13639 closed

[2021-02-05 16:19] AlexisTonneau opened #13854 "Speeding up "Docker build and deploy" flow pipelines"
##### **Overview of the feature request**

Speed up CI/CD pipeline with the flow "Build and publish a Docker image". IMHO we don't need to compile at the release-job, as far as "build" and "package" jobs were previously done.
It isn't the case for similar CI/CD services, so I think this is a small mistake here.
Concerned job :
`
docker-push:
  stage: release
  variables:
    REGISTRY_URL: $CI_REGI

[2021-02-05 16:57] pascalgrimaud opened #13855 "Migrate Gateway to Reactive"
##### **Overview of the issue**

Since Spring Boot 2.4, the communication between gateway and microservices is broken.

It has been detected by JDLMS builds here:
- https://github.com/hipster-labs/jhipster-daily-builds/actions?query=workflow%3A%22JDLMS+Hazelcast+MySQL%22

![jdlms_broken_sb24](https://user-images.githubusercontent.com/9156882/107064059-61b9d700-67db-11eb-8ea0-d4196aedc82a.png)

###

[2021-02-05 16:58] pascalgrimaud commented on #13855
I'm adding a bounty on this, as it must be fixed otherwise, a new release beta.2 can't be done :-(

cc @mraible

[2021-02-05 17:04] mraible opened #13856 "CORS Configuration in Spring Boot 2.4 causes Ionic to fail"
##### **Overview of the issue**

If you create a new JHipster monolith using the latest code on the `main` branch, it doesn't integrate seamlessly with a new Ionic app (created with the Ionic for JHipster module).

Error is:

[code]

Also happens in CI: https://github.com/oktadeveloper/generator-jhipster-ionic/pull/433/checks?check_run_id=1804068021#step:12:224

##### **Motivation for or Use Case*

[2021-02-05 17:34] pascalgrimaud opened #13857 "Missing default profile api-docs"
##### **Overview of the issue**

When you start the project with maven or gradle, the profile api-docs is not activated

##### **Motivation for or Use Case**

No Swagger in dev

##### **Reproduce the error**

- generate a JHipster project
- start it with ./mvnw

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

Current master

##### **JHipster configuration,

[2021-02-05 17:52] mraible commented on #13855
I can take a look in a few hours.

[2021-02-05 17:56] mraible commented on #13857
I guess `spring.profiles.include` is not working in `application-dev.yml`:

From https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/resources/config/application-dev.yml.ejs#L84:
[code]

[2021-02-05 18:05] DanielFran commented on #13857
It seems that profiles have been changed with v 2.4.0: https://spring.io/blog/2020/08/14/config-file-processing-in-spring-boot-2-4

We might needs to use groups:
`spring.profiles.group.dev=dev,api-docs,tls`

or use the old behaviour:
`spring.config.use-legacy-processing: true`

[2021-02-05 19:31] venustulips commented on #13796
I usually append `-P-webpack` to skip frontend things totally unless I have any modification.

`./mvnw -P-webpack`

[2021-02-06 04:08] mraible opened #13861 "YAML Parsing error when running Kubernetes sub-generator with Neo4j"
##### **Overview of the issue**

When using the Kubernetes sub-generator with the `main` branch and Neo4j, there's an error:

[code]

##### **Motivation for or Use Case**

I tried to reproduce @saturnism's [recent Kubernetes demo](https://youtu.be/AG4z18qePEw?t=2778) with the code from my [reactive Java microservices post](https://developer.okta.com/blog/2021/01/20/reactive-java-microservices) and

[2021-02-06 05:23] mraible opened #13862 "Users are not listed in dropdown for many-to-one relationship"
##### **Overview of the issue**

If you create a reactive microservices architecture like the following, there are no users in the dropdown when you add a new blog.

[code]

<img width="697" alt="Screen Shot 2021-02-05 at 10 20 43 PM" src="https://user-images.githubusercontent.com/17892/107109800-66dd4d00-6800-11eb-8481-8985da17db08.png">

##### **Motivation for or Use Case**

You should be able t

[2021-02-06 05:25] kaidohallik commented on #13861
After removing 2 leading spaces from the beginning of
https://github.com/jhipster/generator-jhipster/blob/c3b6a0e2084fa7e5a213ce6c639cd98d1e7b4d05/generators/kubernetes/templates/db/neo4j.yml.ejs#L34
YAML lint approves this YAML file.
Changing from
[code]
to
[code]

[2021-02-06 05:42] mraible commented on #13855
I'm able to reproduce the problem, but not sure how to fix it. If you look at `application.yml` in IntelliJ, it seems to indicate that the first couple of properties are invalid.

<img width="442" alt="Screen Shot 2021-02-05 at 10 39 45 PM" src="https://user-images.githubusercontent.com/17892/107110192-1d423180-6803-11eb-926b-fea122af3669.png">

If you look at [Spring's Guides](https://spring.io/g

[2021-02-06 08:37] #13861 closed

[2021-02-06 08:40] pascalgrimaud commented on #13855
Yes, I spent a couple of hours the last night and it seems related to load balancing with ribbon.
I tried different config but didn't manage to find the good one

[2021-02-06 10:00] pascalgrimaud commented on #13862
Are you sure the JDL is correct ?
- blog is a microservice with OAuth2
- so it can't have User table, as it's microservice
- only the gateway should have the User table (sync with idp)
- doing a relationship between a table in microservice and the user table in gateway looks strange

[2021-02-06 11:11] mshima commented on #7112
@yelhouti done https://github.com/jhipster/generator-jhipster/pull/13864

Relationships with composite id entities are not finished, but I don’t want to spend more time before merging current PR.

[2021-02-06 11:53] pascalgrimaud commented on #13855
I tried the same config with Reactive :
- communication between microservices works
- swagger ui is broken

So I wonder if our microservices stack can work without Spring Cloud Gateway + Spring Cloud LoadBalancer ?

@juliensadaoui @PierreBesson @nassimerrahoui

[2021-02-06 13:42] mshima commented on #13855
This could be useful https://github.com/spring-cloud-samples/spring-cloud-intro-demo.

[2021-02-06 13:53] pascalgrimaud commented on #13855
Thanks @mshima, I saw similar code too, but it relies on Spring Cloud Gateway:
https://github.com/spring-cloud-samples/spring-cloud-intro-demo/blob/master/gateway-proxy/pom.xml#L26

And we use Spring Cloud Gateway only for Reactive:
https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/pom.xml.ejs#L787

For now, it's my conclusion : when we select Gateway, we must fo

[2021-02-06 14:23] mshima commented on #13855
@pascalgrimaud yep, the spring cloud core is built on reactive.
[code]

Ribbon support seems to be removed already.
https://stackoverflow.com/questions/65469735/versions-spring-boot-spring-cloud-ribbon-not-working

Probably jhipster gateway imperative and jhipster-registry will have to migrate away from ribbon and adopt spring-cloud reactive implementation.

[2021-02-06 15:55] mraible commented on #13862
Yes, I'm sure. I've used a similar pattern for years for a lot of my JHipster microservice demos. I tried it with the JDL from [Java Microservices with Spring Cloud Config and JHipster](https://developer.okta.com/blog/2019/05/23/java-microservices-spring-cloud-config) (published in May 2019).

[code]

I started everything and navigated to create a new blog. I logged in with `admin` and you can see

[2021-02-06 16:10] mraible commented on #13855
Spring Cloud no longer manages Netflix dependencies, but we still have them in our dependencies.

https://github.com/jhipster/jhipster-bom/blob/main/jhipster-dependencies/pom.xml#L620

I still think we should be able to use Ribbon with our non-reactive stack.

[2021-02-06 16:14] pascalgrimaud commented on #13855
I hope too, otherwise, we'll have to force reactive for Gateway

[2021-02-06 16:28] mraible commented on #13862
This appears to be a Vue issue. If I change my JDL to use Angular, it works.

![image](https://user-images.githubusercontent.com/17892/107123885-78087700-685d-11eb-9825-7f138f0025f5.png)

[2021-02-06 16:34] pascalgrimaud commented on #13862
Indeed, you're right, @mraible as I just tried with your JDL:
- generate microservice with OAuth2 -> table jhi_user is generated
- generate microservice with JWT -> table jhi_user is not generated

It means:
- you can have relationship with User only with OAuth2
- it's possible because of `syncUserWithIdP` method
- it's not possible to generate a microservice with OAuth2 without this table jhi_use

[2021-02-06 16:47] mraible commented on #13862
I removed all my Docker images and tried again with React. It works there too, so the problem seems to be isolated to Vue.

<img width="1111" alt="Screen Shot 2021-02-06 at 9 44 34 AM" src="https://user-images.githubusercontent.com/17892/107124259-0251da80-6860-11eb-98f2-7ba0d20b27ca.png">

I reported a similar issue in #13465, but that wasn't a microservices JDL.

[2021-02-06 17:38] pascalgrimaud commented on #13081
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/33412

[2021-02-06 20:57] mraible commented on #13855
I don't see a problem with using Spring Cloud Gateway for both reactive and non-reactive, but I'll continue to try and fix this.

[2021-02-07 06:00] jdubois commented on #13855
Yes, we should migrate to Spring Cloud Gateway and Spring Cloud LoadBalancer anyway.
Zulu and Ribbon aren’t maintained, so they will only be trouble...

[2021-02-07 06:04] jdubois commented on #13595
Totally agree on that!
Thanks a lot for your work on this, we have a ton of visitors (110,000 unique visitors last month) and it’s going to help a lot of people.

[2021-02-07 12:57] ciberastro opened #13866 "[ERROR] Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.10.0:npm (npm install) on project adminrifa: Failed to run task: 'npm install' failed. org.apache.commons.exec.ExecuteException: Process exited with an error: 1 (Exit value: 1) -> [Help 1]"
`[INFO] --- frontend-maven-plugin:1.10.0:install-node-and-npm (install node and npm) @ adminrifa --- [INFO] Node v14.15.4 is already installed. [INFO] NPM 7.5.2 is already installed. [INFO] [INFO] --- frontend-maven-plugin:1.10.0:npm (npm install) @ adminrifa --- [INFO] Running 'npm install' in C:\Users\overd\odrive\OneDrive\Programacion\adminrifa [INFO] npm ERR! code ERESOLVE [INFO] npm ERR! ERES

[2021-02-07 13:07] pascalgrimaud commented on #13866
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2021-02-07 13:07] #13866 closed

[2021-02-07 14:45] deepu105 commented on #13595
Thats a great point. i added JDL studio to main menu for now. But agree we
need a proper redesign

On Sun, 7 Feb 2021, 7:04 am Julien Dubois, <notifications@github.com> wrote:

[2021-02-07 17:39] mraible commented on #13855
I [asked about this on Twitter](https://twitter.com/mraible/status/1358447993842667521) this morning and got confirmation from a couple of the main Spring Cloud contributors. Using Spring Cloud Gateway is the way forward.

There is a [request for a Spring MVC version of Spring Cloud Gateway](https://github.com/spring-cloud/spring-cloud-gateway/issues/36) we could revisit in the future if there's a

[2021-02-07 17:57] pascalgrimaud commented on #13855
Ok let's do it
I think we donner have other choice

[2021-02-07 18:32] mraible commented on #13855
I can start this tomorrow. Today is an unofficial holiday in the US (Super Bowl Sunday). 🍻

[2021-02-07 19:31] qmonmert commented on #13774
I made a PR on `availity-reactstrap-validation` repo to fix that https://github.com/Availity/availity-reactstrap-validation/pull/229

[2021-02-07 19:45] rkhalyleh commented on #13855
I encountered the same error when started use spring cloud 2020.0.1, and spring boot 2.4. Based on official spring cloud docs, they
removed some modules from spring-cloud-netflix, such as zuul and ribbon ... . So I started use Spring Cloud Gateway, and it worked well so far.

[2021-02-08 08:19] pascalgrimaud commented on #13855
@mraible : it's ok, I can take it as it's mainly for prompts, JDL and configuration
About broken Swagger with Gateway+Reactive, I think we can take the similar code from JHCC -> cc @nassimerrahoui

[2021-02-08 08:22] yelhouti commented on #7112
Great, I will pull your PR/branch and start working on it if you want.

[2021-02-08 08:41] nassimerrahoui commented on #13855
@mraible @pascalgrimaud : I can add the fix for Swagger Gateway+Reactive after the first fix, the idea is similar than before with SwaggerBasePathRewritingFilter but instead of using Zuul filter, we use a Spring Cloud Gateway filter like here : https://github.com/jhipster/jhipster-control-center/blob/main/src/main/java/tech/jhipster/controlcenter/config/apidoc/ModifyServersOpenApiFilter.java

[2021-02-08 09:09] gzsombor opened #13885 ""relationship name is not synchronized" is broken"
##### **Overview of the issue**

There is a check for relationship names, which is incorrect, and prevents perfectly valid JDL setups to be generated
And even worse, the error message is very confusing - as very low level - which doesn't help to solve the issue.

##### **Motivation for or Use Case**

I have multiple relations between entities, but I can't generate the entities with this check in p

[2021-02-08 09:34] JayJayBinks opened #13886 "GAE deployment fails due to spring-boot-thin-launcher missing"
##### **Overview of the issue**

Trying to deploy the application to Google App Engine with
`mvnw package appengine:deploy -DskipTests -Pgae,prod,prod-gae`

Getting Maven error:
[code]

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "bluep

[2021-02-08 12:12] JayJayBinks commented on #13886
FYI:
When i copy the `spring-boot-thin-launcher-1.0.23.RELEASE-exec.jar` from my local maven to `./repository/org/springframework/boot/experimental/spring-boot-thin-launcher/1.0.23.RELEASE/spring-boot-thin-launcher-1.0.23.RELEASE-exec.jar` the build is working fine

[2021-02-08 15:34] JayJayBinks commented on #13886
Never mind, the application is behind a proxy and so the jar cancould not be downloaded

[2021-02-08 15:34] #13886 closed

[2021-02-08 21:15] nicolas63 commented on #13261
@MathieuAA Have you made any progress on this ? Can i help you ?

[2021-02-08 21:40] MathieuAA commented on #13261
I'm lacking time to properly develop it. I'm nearly done though.

[2021-02-09 01:07] mraible commented on #13385
Keep it open please.

[2021-02-09 02:50] mraible opened #13890 "Can't connect to Neo4j with non-reactive microservice"
##### **Overview of the issue**

I created a microservices architecture with a reactive gateway and non-reactive microservices. The following error happens when I start everything in Docker.

[code]
##### **Motivation for or Use Case**

Everything should start up successfully when you try to run it with Docker Compose.

##### **Reproduce the error**

Create a microservices architecture with the fo

[2021-02-09 03:11] mraible commented on #13890
NOTE: Even when I start everything manually with Gradle, `npm run e2e` fails. I tried changing to Cypress, but it still happens.

[2021-02-09 17:25] nicolas63 commented on #13261
Oh nice, if you need feedback or test don't hésitate to ping me

[2021-02-09 17:40] pascalgrimaud commented on #13855
@mraible : there are more work than expected, but the work is in progress

I'd like to know if it's normal when we force reactive for gateway, there is **no cache provider** ?
Because, there are some question about cache, but the result is:

[code]

[2021-02-09 17:54] avdev4j opened #13901 "Enable entity generation when no DB is selected"
##### **Overview of the feature request**
Hi my fellow Hipsters,
I would like to push a new feature to the generator and would like to gather your suggestions.
At Entando we have enabled entity generation even when we don't have any database selected in our blueprint:
https://github.com/entando/entando-blueprint/tree/master/generators/entity-server/templates/src/main/java/package/domain

For the m

[2021-02-09 20:57] jdubois commented on #13855
@pascalgrimaud I believe it's much more complicated to make the cache provider work in a reactive environment

[2021-02-09 23:37] mraible commented on #13855
@pascalgrimaud I'm not sure about that as I've never done any work on JHipster related to caching. I imagine if there's a database, there will be a cache, but I'm not sure.

I also started look into it last night, but only made it as far as adding the following in `generators/server/index.js`:

[code]

Let me know if there's anything I can do to help.

[2021-02-09 23:51] pascalgrimaud commented on #13855
Cache support for Reactive application is not done yet, from what I saw in configuration, so I'll remove the question from prompts, thanks for the input @jdubois

@mraible, what's already done:
- remove prompt about Reactive with Gateway
- force Reactive in JDL, when choosing Gateway
- fix npm test

Still in WIP:
- clean old files related to old Gateway
- remove deprecated dependencies in jhipster

[2021-02-10 01:17] mraible commented on #13855
Sounds good. Just so you're aware, I'm going on vacation this Saturday and will be offline for two weeks. I'll be back in action on March 1.

[2021-02-10 02:34] mshima commented on #13885
This bug should be fixed by https://github.com/jhipster/generator-jhipster/pull/13900.

But the back reference will be added, currently jdl always generates back references.
Back reference problem is related to https://github.com/jhipster/generator-jhipster/issues/13305

[2021-02-10 07:37] MathieuAA commented on #13261
Work is being done there: https://github.com/MathieuAA/generator-jhipster/tree/custom-jdl-props

It involves passing custom properties to the JDL importing object. For instance, if one wants to have custom types, field validations, new options and/or values, application option and/or values, this would be the way to go.

Here's the current interface I'm working on:

[code]

and a part of the comme

[2021-02-10 08:31] #13699 closed

[2021-02-10 12:03] DanielFran commented on #13885
Closed by #13900

[2021-02-10 12:03] #13885 closed

[2021-02-11 00:41] SudharakaP commented on #11658
Keep it open please. 😄

[2021-02-11 09:39] nickshoe commented on #5814
CSRF protection may be sensible in case of login forms: https://support.detectify.com/support/solutions/articles/48001048951-login-csrf.

Example:
- myapp.com has a frontend app serving a login page, which sends login requests to the backend (eg: api.myapp.com)

- evil.com has a frontend app serving an exact copy of the original login page, but it performs a login request to the original backend (

[2021-02-12 12:27] atomfrede commented on #13755
I am going to start a small blog post series about how to create a playwright blueprint. Will try to start this weekend, what do you think?

[2021-02-12 17:13] vishal423 opened #13940 "Downgrade husky dependency to v4.x"
##### **Overview of the issue**
I noticed that we upgraded to husky `v5.x` which's not free to use in commercial projects. Since we don't enforce any licensing terms on JHipster generated applications, I suggest downgrading the dependency to `v4.x`. I did put a comment on the merged PR, however, that may have been lost in the dependabot alerts.

##### **Motivation for or Use Case**

##### **Reprod

[2021-02-12 17:19] mraible opened #13941 "Add ImgBot to jhipster.github.io"
##### **Overview of the feature request**

I just got a PR (because I have ImgBot enabled on my repos) and it reduces the image sizes by 50%!

https://github.com/mraible/jhipster.github.io/pull/2

##### **Motivation for or Use Case**

Faster is better.

[2021-02-12 21:54] slade13 commented on #13862
I tried to run it from the main branch and it didn't worked. I checked out v7.0.0-beta.1 tag and then i tried to create the blog:
![image](https://user-images.githubusercontent.com/7571921/107825618-b208da00-6d83-11eb-8c2f-6e04295d5dea.png)
After using the current main I get this:
`{
  "type" : "https://www.jhipster.tech/problem/problem-with-message",
  "title" : "Not Found",
  "status" : 404,
  "

[2021-02-12 21:59] slade13 commented on #13862
I tried to run it from the main branch and it didn't worked. I checked out v7.0.0-beta.1 tag and then i tried to create the blog:
![image](https://user-images.githubusercontent.com/7571921/107825618-b208da00-6d83-11eb-8c2f-6e04295d5dea.png)
After using the current main I get this:
[code]
On the http://localhost:8080
Log from the gateway:
[code]

[2021-02-13 11:10] pascalgrimaud commented on #13857
Adding a bounty on this, as it's a bug and we needs it for the next release

[2021-02-13 11:12] pascalgrimaud commented on #13862
Adding a bounty on this, as it's a bug and we need the fix for the next release

[2021-02-13 11:12] pascalgrimaud commented on #13833
Adding a bounty on this, as it's a bug and we need the fix for the next release

[2021-02-13 11:14] pascalgrimaud commented on #13755
I'm fine

[2021-02-13 11:14] #13716 closed

[2021-02-13 11:16] pascalgrimaud commented on #13856
Can we close this, as https://github.com/jhipster/generator-jhipster/pull/13858 has been merged ?

[2021-02-13 15:21] mraible commented on #13856
Yes.

[2021-02-13 15:21] #13856 closed

[2021-02-13 18:30] MathieuAA commented on #13940
From their v5 announcement:

Don't know when the licence will change, again... This kind of move (and lack of details) makes me want to check for alternatives to husky.

[2021-02-13 19:42] atomfrede commented on #13854
@AlexisTonneau you're right. Can you do a PR and also have a look at the gradle part in gitlab ci?

[2021-02-13 20:23] pascalgrimaud opened #13944 "Reactive Gateway + Microservice MVC + OAuth2"
##### **Overview of the issue**

Currently, a Reactive Gateway can't communicate with a Microservice MVC, if we use OAuth2.
It works well with JWT.

##### **Motivation for or Use Case**

Our Microservices stack should work.

##### **Reproduce the error**

- generate a Microservice MVC, with Entities
- generate a Reactive Gateway with Entities
- start all
- try to access to the microservice

Or you

[2021-02-13 20:24] pascalgrimaud commented on #13944
I'm adding a bug bounty on this, as it needs time to analyze and fix it.
Maybe try to understand why it works for JWT but not for OAuth2?

[2021-02-13 20:33] pascalgrimaud commented on #13944
Here the configuration I tested:
- Reactive Gateway + Microservice Reactive + JWT : :ok:
- Reactive Gateway + Microservice MVC + JWT : :ok:
- Reactive Gateway + Microservice Reactive + OAuth2 : :ok:
- Reactive Gateway + Microservice MVC + OAuth2 : :x:

[2021-02-13 20:54] pascalgrimaud commented on #13901
For me, our sub generator entities is already really complex...
I'm not sure it will be useful for real projects, for real customers, so adding more complexity is not good for this sub gen.

But maybe I'm wrong.

[2021-02-14 04:57] vw98075 opened #13947 "useSass isn't recognized as an application option in the 7.0.0-beta.1"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**
With a jdl file https://github.com/jhipster/jdl-samples/blob/main/blog.jh as app.jdl

Run
[code]
You will get the following error:
[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
 7.0.0-beta.1

##### **JHipster configuration**

##### **Entity configuration(s

[2021-02-14 05:12] vw98075 opened #13948 "Dev environment H2 tables aren't generated"
##### **Overview of the issue**

Running Deepu's sample https://dev.to/adyen/building-an-e-commerce-application-using-java-react-2iln with two replacements: postgresql instead of mysel and Vue instead of React.

Two tables are missing in the H2: shopping cart and product order.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

[2021-02-14 05:20] vw98075 opened #13949 "Unique index or primary key violation in H2"
##### **Overview of the issue**

running Deepu's sample https://dev.to/adyen/building-an-e-commerce-application-using-java-react-2iln with two replacements: PostgreSql instead of Mysql, Vue instead of React.

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

7.0.0-beta.1

##### **JHipster c