[2015-05-09 10:15] #1396 closed

[2015-05-09 10:22] #1451 closed

[2015-05-09 17:15] pankaj5 commented on #1434
But for me in development version the JMX works perfectly but metrics page is not accessible.
I get json response from 127.0.0.1/metrics link. But 127.0.0.1/#/metrics redirects to main page.
In production version the page doesn't update, nor metrics are displayed

[2015-05-09 17:38] jdubois commented on #1434
Are you using the "fast" profile?

[2015-05-10 06:49] pankaj5 commented on #1434
No I am using production (or dev) profile.

On Sat, May 9, 2015 at 11:08 PM, Julien Dubois <notifications@github.com>
wrote:

[2015-05-10 07:01] jdubois commented on #1434
OK can you send your stacktrace with the "dev" profile, so we can see what actually happens?

[2015-05-10 11:06] ryanhamilton opened #1458 "use nvarchar for the entity generator Strings"
Currently the entity generator asks for type, if string is specified it defaults to varchar(255). I suggest defaulting to nvarchar for strings. Yes it will take more space but it should reduce multi-language headaches later.

I would also like to have been prompted for text size as I bumped into the default 255 limit without realizing.

I think these suggestions would cause people the least surpri

[2015-05-10 11:33] michaelisvy commented on #1446
Hi Julien,
I thought one more option would be to ask people if they are using Eclipse as part of the generator command prompt questions. If they are using Eclipse, we can generate the 2 hidden files. I guess it's also useful because you can know which percentage of your users are using Eclipse.

I can also just as well do a pull request to add some documentation. Just let me know what's best for y

[2015-05-10 12:28] tporadowski commented on #1452
@jdubois just for clarification - you're right that using reserved keywords is problematic, but you *could* use them even as table and column names (they just need to be passed in backticks, i.e. `` `User` ``, which can also be configured for Hibernate/JPA)

[2015-05-10 12:29] pankaj5 commented on #1434
Apache Maven 3.2.5 (12a6b3acb947671f09b81f49094c53f426d8cea1; 2014-12-14T22:59:23+05:30)
Maven home: /home/[secret-dir]/soft/maven
Java version: 1.8.0_45, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-8-oracle/jre
Default locale: en_IN, platform encoding: UTF-8
OS name: "linux", version: "3.13.0-52-generic", arch: "amd64", family: "unix"
[INFO] Error stacktraces are turned on.
[DEBUG] Re

[2015-05-10 18:24] Yacine-krk commented on #467
Hello,

Just to warn that I still get this error. The from is always null. I posted on stackoverflow, if you can you help :)

http://stackoverflow.com/questions/30154733/jhipster-from-address-must-not-be-null-exception-while-registering

Thanks a lot!

[2015-05-11 09:05] jdubois commented on #1452
@tporadowski I didn't know about this "backtick" usage... Are you sure it works for all databases, and for JPA? In that case we could indeed remove all "JHI_" prefix...
The prefix can still be useful to know which tables are from JHipster, and maybe for people (like me) who don't know about the "backtick", but if we can get rid of it, it would be better.
In that case we could remove all reserved k

[2015-05-11 09:19] tporadowski commented on #1452
@jdubois [this StackOverflow reply](http://stackoverflow.com/questions/3608420/hibernate-saving-user-model-to-postgres/3611916#3611916) covers Postgresql with Hibernate or JPA, I think MySQL can safely use the same approach (using backticks is much more common there anyway). Yet, I don't know if this is supported in MongoDB or Cassandra.

[2015-05-11 10:09] jdubois commented on #1447
OK, this is indeed another issue (by the way, I just merged #1402 so that's already a good start).

But now I realize that something is wrong in the way language works: at the beginning of JHipster, the idea was that we were using the user's browser language as a default language. That's what I have always done, and what most website do, as it's the most logical thing to do. And if that language i

[2015-05-11 10:11] Mavlarn opened #1459 "Can not find index.html when starting with Application.main()"
I just created a new project with latest version, 2.10.1, and added several entities, and no other modification, and started the app with Application.main(). Then I got 404 error when I access http://localhost:8080 or access with ip. And it is same when I start "grunt serve" and access.

But when I start with "mvn spring-boot: run", there is no problem.

Is it my environment related problem? or I

[2015-05-11 10:19] jdubois commented on #1459
Yes it's supposed to working "out of the box" when you run the Application class file.

Maybe refresh your browser? Or do a "npm install" and "bower install" again? Did it work before adding the entities?

So yes it should be related to environment, at least I can't reproduce it (I just did it on the [sample app](https://github.com/jhipster/jhipster-sample-app), and it worked).

[2015-05-11 10:19] #1459 closed

[2015-05-11 10:21] jdubois commented on #1401
I'm sorry but I still can't reproduce your issue.

- I have created the same app as you, with token authent and Postgresql
- I uploaded it to Pivotal's CF

No issue at all...

As at the beginning you were trying to deploy a MySQL application on a Postgresql instance, are you sure you deploy to the right database?

Otherwise I just can't reproduce your issue.

[2015-05-11 10:21] #1401 closed

[2015-05-11 11:49] cselti commented on #1447
Ok, my idea was just a proposal - that solution is also good for me :)

[2015-05-11 12:09] pankaj5 commented on #1434
Also I tried on my server its not working.
I tried on nodejs v 0.12.x series.

[2015-05-11 12:12] jdubois commented on #1434
From the last lines of your debug log, it looks to be working OK.
Do you have any logs in your Chrome dev console? This looks like a UI problem, not an issue with the server.

[2015-05-11 12:16] jdubois commented on #1439
Hi Dan,

As you succeeded in deploying I'm closing this ticket, still let me answer your other issues in order:

1) I agree this is not a normal behavior. I don't know what's causing this, so if you have any more information (like a Chrome console error) it's most welcome -> if you have this, can you open up another ticket?
2) Yes you need an SMTP server to send emails. You found the right configu

[2015-05-11 12:16] #1439 closed

[2015-05-11 13:08] jdubois commented on #1447
So it turns out it is not a good option to use the browser's language, as this is not reliable:
http://stackoverflow.com/questions/1043339/javascript-for-detecting-browser-language-preference

So we will stick with our current way of working, the good news is that the "preferred language" is just set in one part of the AngularJS application -> I will document this and link it to this page.

When a

[2015-05-11 13:11] cselti commented on #1447
I agree - updating/extending the documentation page will be an useful solution for this request.

[2015-05-11 13:14] #1447 closed

[2015-05-11 13:18] jdubois commented on #1415
I'm not sure I understood everything you said -> I've made some changes, they look good, and I'll close this ticket when my code is pushed, but please have a look at what I did, and don't hesitate to comment!!!

[2015-05-11 13:30] #1415 closed

[2015-05-11 13:38] gmarziou commented on #1459
Try changing artifc

[2015-05-11 13:40] jdubois commented on #1459
@gmarziou it's not the first time I read this -> do you have more information on this? I don't understand this at all, do we need to change something in what is being generated?

[2015-05-11 13:59] jdubois commented on #1453
OK, just so you are not blocked: I understand why I didn't see it, it's because I don't use that task!
I just do a "grunt serve" and it works.

But of course "grunt build" should also work, I'm going to have a look at it.

[2015-05-11 15:12] wuethrich44 opened #1460 "Bad request with websocket on Amazon Cloud"
I try to use websocket on a Amazon Elastic Beanstalk. But when the client try to connect to the server, I got a `400 Bad Request`.

Has somebody any experience with deploy jhipster to AWS?

[2015-05-11 15:14] jdubois commented on #1460
Yes, Websocket do not work from being Amazon Elastic Beanstalk, you need to use a separate port for this.
This is typically what CloudFoundry does.

This is not a JHipster issue, it's a limitation with the AWS load balancer.

[2015-05-11 15:14] #1460 closed

[2015-05-11 15:19] nicoglp commented on #1446
Maybe we can try configure this with the eclipse maven's plugin help. I'm going to test it.
https://maven.apache.org/plugins/maven-eclipse-plugin/eclipse-mojo.html

[2015-05-11 15:40] jdubois commented on #1453
This was due to the vendor.css which doesn't exist in the Compass build (as the Bootstrap css code is imported in the main.css file). It's this file which was causing the "minified CSS was empty" error, as it didn't exist.

[2015-05-11 16:12] jdubois commented on #1295
I've just tested again, and the current workflow works.

- You need to install your resource through Bower (but we are based on Bower, so this is already some kind of requirement)
- If you have "grunt serve" running, it is automatically added to your index.html file: both JS and CSS files are correctly added
- You need to do this if you want the whole workflows to work as expected

You can of cour

[2015-05-11 16:21] andidev commented on #1453
This commit removes the injection of css files when installing new Bower packages with css dependencies. Don't think this is the correct solution.

[2015-05-11 16:25] jdubois commented on #1453
@andidev it removes them only for Compass (there's a "if"), and in that case the files are imported directly into the main.scss file (that was how it worked before, I don't know if that's a good idea or not)

[2015-05-11 16:31] andidev commented on #1453
Not sure about that. I think sass files are injected in the main.scss files but css files are not. Css files are injected in index.html vendor.

[2015-05-11 17:09] pankaj5 commented on #1434
I am using nodejs v 0.12 can that be a problem

[2015-05-11 18:13] gmarziou commented on #1459
I'm not sure what is wrong here, my application had to be packaged as war file when using prod profile but it was generated 3 months ago with jhipster version at that time before the introduction of BrowserSync.
The content of the jar file is missing lot of files under webapp folder, so I package it as a war even though I execute it as an executable jar.
I'm not at work this week so I can't invest

[2015-05-11 18:47] jdubois commented on #1459
What I don't understand is that there is no JAR file normally, just a WAR file. Did you follow http://jhipster.github.io/production.html ?

[2015-05-11 18:57] gmarziou commented on #1459
Yes that's what I did, next week I'll run diff on my pom.xml versus the one generated with current generator.

[2015-05-11 19:14] jdubois commented on #1435
Hi,
I just tested with an out-of-the-box version of ES (latest version, 1.5.2) and it worked straight away.
You just need to configure in your YAML configuration:
[code]
As this is a [standard Spring Boot configuration](http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html) and that it works normally, I don't think we have anything specific to document.

[2015-05-11 19:14] #1435 closed

[2015-05-11 19:17] andidev commented on #1453
I just confirmed this introduces a new bug. see comment on commit
https://github.com/jhipster/generator-jhipster/commit/c831a7bbc48e2940b9880703864d6b40ea85f37a

[2015-05-11 19:28] jdubois commented on #1453
Oh yes, indeed, that will cause this error, sorry I didn't understand what you meant!
I'm not sure how to solve this, thus.

[2015-05-11 19:30] wuethrich44 commented on #1460
fyi: You must set all load balancers (outgoing port 8080) and all security groups to tcp. Then you must add `<scope>provided</scope>` to the embedded tomcat dependency in you `pom.xml`. After that changes websockets should work on aws.

[2015-05-11 19:33] jdubois commented on #1460
Oh thanks @wuethrich44 !
People at Pivotal should hire you, as their CloudFoundry instance can't operate on the normal ports :-)

[2015-05-11 19:37] andidev commented on #1453
I'll figure something out

[2015-05-11 20:42] Shiva-Shinde commented on #1392
I am having exactly the same problem. I did npm install and bower install manually with out any success.
I'm all done. Running bower install & npm install for you to install the required dependencies. If this fails, try running the command yourself.

npm WARN package.json karma-phantomjs-launcher@0.1.4 No README data
events.js:85
      throw er; // Unhandled 'error' event
            ^
Error: spaw

[2015-05-12 07:10] gmarziou commented on #1392
This is unlikely a jhipster problem but rather a nodeJS problem, what's your node version? How did you install it? Try running 'yo doctor'.

[2015-05-12 07:18] BhawaniSingh commented on #1434
@pankaj5 @jdubois this problem is because of Adblock, ghostery and other privacy related plugins.
They block js files from the server which has "metric" or any other name similar to this, as in most case these files contains tracking code.
In our case files which are getting blocked are "metrics.js" "metrics.controller.js" in development environment and in production "metrics" word is blocked by t

[2015-05-12 07:38] tagliola commented on #1434
See https://forums.lanik.us/viewtopic.php?f=64&t=21737 for example.

On 12 May 2015 at 09:18, Ghost (Alfa) <notifications@github.com> wrote:

[2015-05-12 08:09] vwiencek opened #1461 "Use of gradle daemon makes bower fail during build"
Maybe it's not the right place for this bug/issue.

When using gradle daemon (`org.gradle.daemon=true` in `.gradle/gradle.properties`) then bower fails during build.

`gradle bootRun --stacktrace`

gives the following stacktrace http://pastebin.com/Mf1vGdir

when I run `gradle bootRun --stacktrace --no-daemon` it works fine

[2015-05-12 11:09] rroukens opened #1462 "“From address must not be null” exception while registering"
The 'From' address used to send mails from is always null because the getProperty points to a non-existing Spring property in MailService.java.

After some debugging I found the solution. In the service MailService.java the 'From' address is retrieved by this code:

@PostConstruct
public void init() {
    this.from = env.getProperty("spring.mail.from");
}
However, the property "spring.mail.from" d

[2015-05-12 11:37] jdubois commented on #1462
OK, this is my fault, and this is linked to #1216

@rroukens will you do a PR?

[2015-05-12 15:56] pankaj5 commented on #1434
@BhawaniSingh Thanks for the help. :+1:

[2015-05-12 16:38] Shiva-Shinde commented on #1392
Yeah I understand, I had some problems with nodejs installation. I found the problem and resolved it. JHipster is working absolutely fine. Thanks for helping!!

I saw JHipster has some inbuilt MySQL, PostgreSQL open source database applications. Since they use SQL,  a relational database. Can I replace different databases like OracleDB or NuoDB since they use the same SQL. Thanks in advance.

[2015-05-12 18:26] andidev commented on #1453
Please merge the "Autoprefixer fails fix" pull request to revert your changes @jdubois and apply the correct fix

[2015-05-12 18:29] #1453 closed

[2015-05-12 18:38] jdubois commented on #1446
I think most of our users are developing with Eclipse, or at least work in a team where some people use Eclipse.
So it makes sense to have a good Eclipse configuration out-of-the-box, without asking any additional question (I don't want to end up having 20 questions). Besides, it's only hidden files, so it shouldn't be an issue (only thing that worries me is that hidden files are shown in Intellij

[2015-05-12 18:41] gmarziou commented on #1392
Yes you can, just add the jar of your db driver to your pom dependencies and configure according your application.yml. My hipster application works fine with both Oracle and Postgres.

[2015-05-12 18:49] Shiva-Shinde commented on #1392
Thanks. You mean I can migrate to any SQL (a relational database) based database applications right!!

[2015-05-12 18:52] jdubois commented on #1392
Yes. We should hopefully have soon a guide on using Oracle -> there is no technical issue, only a legal one: as it's a proprietary database, we can't provide its driver, and it's hard for me to test (as I'm not going to buy it)

[2015-05-12 19:10] Shiva-Shinde commented on #1392
I understand. I am trying to do that replacing some other databases (proprietary) other than mysql on JHipster. If I make it, I will definitely let you know guys. Thanks for support!!

[2015-05-12 19:16] Yacine-krk opened #1465 "Username for email not set properly"
Hello,

In application.yml, in the mail block, the user variable is set as "user"
[code]
But in MailConfiguration.java, the variable is used as "username" :
[code]

Regards,
Yacine

[2015-05-12 20:02] nicoglp commented on #1446
@jdubois those hidden files would be deleted if someone executes the 'clean' goal of Maven Eclipse Plugin, and replaced y executes the 'eclipse' goal. This is why I suggest try do this with the plugin.

[2015-05-12 20:33] andidev opened #1467 "Document how to remove a language"
It's documented how to add a language but not how to remove a language. There are most probably many users that won't use the french language in their applications. Instead they use their native language and english.

[2015-05-12 23:04] michaelisvy commented on #1446
@nicoglp the Maven Eclipse plugin does not play well with m2eclipse (which is what people use the most as far as I can see). I tried to have some files generated by mvn eclipse:eclipse and then have them imported in Eclipse using m2eclipse, it just doesn't work.

@jdubois sure, I'll see how to do a PR. the ,project file needs to contain the name of the current project so I need to see how to gener

[2015-05-13 03:40] diego-torres commented on #1467
Just did backwards to adding the language:
1. Remove the language folder from /src/main/webapp/i18/[remove-lang]
2. Remove the entry from src/main/webapp/components/language/language.service.js

[2015-05-13 05:41] atomfrede commented on #1461
Using the gradle wrapper here works fine. Which gradle version are you using? Can you try using the wrapper:

``gradlew bootRun --daemon``

[2015-05-13 07:41] deepu105 opened #1468 "There is no foreign key inserted for one-to-one relationship"
When I generate a one-to-one between two entities, the create action doesnt have a dropdown to select the related entity, the foreign key column is generated but its not updated on create or update

For Example: I have a Bar entity which has a one-to-one with Foo, Bar is the owner and hence has foo_id as a column in Bar table, Now when i create a Bar Shouldn't I have an option to map a Foo to it?

[2015-05-13 09:14] MathieuAA commented on #1468
Hi,

First, I think you got the content of each file mixed up (shouldn't the first content be the one of Foo instead of Bar?).

Did you create Foo first? (if so, you should have been warned by JHipster).
You need to create Bar first, because Foo is dependent (Foo's the owner).

By the way, I think you may have incorrectly answered the questions.

"relationships": [
        {
            "relations

[2015-05-13 09:20] deepu105 commented on #1468
@MathieuAA : Yes thanks for pointing it out, I got the names mixed up, I have corrected the question. And Yes I did Foo first, but there was no warning coz I selected N for is this parent entity question. Anyway Let me try again as you said

[2015-05-13 09:31] deepu105 commented on #1468
So I tried Again as you said, Hope its the correct way of doing it (Else the documentation really needs better explanation I guess)

But the outcome is the same, I still dont see the realtionship tagged while creating or dropdown, If you are able to generate a working sample can you post please. Not sure if Im reading the docs wrongly
[code]

barAgain
-----------
[code]

fooAgain
--------------
[c

[2015-05-13 09:39] MathieuAA commented on #1468
Yes, you did it right!

Now, it is normal you don't see any drop-down (don't know if it's mentioned somewhere, gotta check).
You may have to do it yourself (so that you get what you want), and it's no big deal anyway because it's quite an easy thing to do.

Anyway, I'm gonna check the docs.

[2015-05-13 09:55] cjvaz opened #1469 "Using node-sass instead of the ruby sass"
Using Docker I noticed that is missing ruby in the Dockerfile, I put line of the configuration in Dockerfile but I think interesting to use the node-sass, am I wrong?

[2015-05-13 10:02] MathieuAA commented on #1468
I managed to get the drop-down (I didn't modify anything).
I created another entity 'Thing', which has a one-to-many relationship with another entity I created just after : 'Foo'. When I tried to create a new Foo, the drop-down was available for me to choose which Thing I wanted for my new Foo.

![drop-down example](https://cloud.githubusercontent.com/assets/2753381/7608223/def9b7e6-f967-11e4-93ee

[2015-05-13 10:08] cjvaz opened #1470 "BrowserSync with templates of the angular"
Using BrowserSync when updating a template nothing happens, insert the setting
browserSync: { ...
                        'src/main/webapp/scripts/**/*.html',
... the display is synchronized.

[2015-05-13 11:41] deepu105 commented on #1468
@MathieuAA : Yes I know it works for one-to-many/many-to-one combination. and yes it is fairly easy to modify and achieve in one-to-one. My intention of opening this was to check if this is intended behaviour. coz if JH generated the dropdown for one-to-many and many-to-one wouldnt it be ideal and complete if it does the same for one-to-one also, so that the generated entity is usable right out of

[2015-05-13 12:01] jdubois commented on #1469
No we don't include it in the DockerFile: it's not a default option, and it adds a lot of stuff in the image.

So we won't add it by default -> there could be another DockerFile for this, but I will not do it at the moment, as less than 5% of users are actually using Compass according to our stats.

[2015-05-13 12:01] #1469 closed

[2015-05-13 12:04] MathieuAA commented on #1468
You can propose it as a PR if you have the time to do it.

[2015-05-13 12:10] deepu105 commented on #1468
One more problem is When you update the one-to-one column in the Table like below, there comes the dreaded recursion error. Not sure if im doing it wrong

![image](https://cloud.githubusercontent.com/assets/1107223/7609976/5c8541b0-f9ab-11e4-8cb4-a4cb1bec56dc.png)

![image](https://cloud.githubusercontent.com/assets/1107223/7609985/79649380-f9ab-11e4-83e0-59697a341f08.png)

response: (Have clipped

[2015-05-13 12:13] deepu105 commented on #1468
@MathieuAA : I would love to do that, but still havent managed to find time to look at the source code and find my way around it. Will try to do though.

[2015-05-13 12:13] jdubois commented on #1468
I will have a look at this later this week, but just a quick note: one-to-one relationship are very rarely used (I never use them myself, I consider that if 2 entities have a one-to-one relationship, then there should only be one entity), so it's not as well-tested as the other kind of relationships.

[2015-05-13 12:17] deepu105 commented on #1468
@jdubois You are correct, even I wouldnt prefer one-to-one in most cases. But when there is a Entity which needs to be reused in more than one place it would be one-to-one right, and in my case the data model is pretty much industry standard, say Flight > Aircraft etc, so Flight and Aircraft are different entities but will have a one2one relationship

[2015-05-13 12:29] gzsombor commented on #1468
I guess, one aircraft will have more than one flight. Or I dont want to be on that aircraft :)
But otherwise, sending circular graphs over json never work, so either you put some "@JsonIgnore" in one of the fields, or you start using DTOs and have a clear mapping strategy, how to solve it.

[2015-05-13 12:36] deepu105 commented on #1468
@gzsombor : ha ha ideally yes, but in some use cases no(its complicated to explain so nevermind).

Hmm yes we are trying out some jackson annotations.

[2015-05-13 12:45] gmarziou commented on #1469
Docker or not, migrating to node-sass rather than current ruby-sass would remove dependency on ruby and also would drastically improve performance. I'll give it a try.

[2015-05-13 12:49] jdubois commented on #1469
Oh, OK, my main pain point is performance -> if you can use node-sass and that it's faster, please try it!!

[2015-05-13 13:37] pmdusso commented on #1291
I having a 401 issue also, which I don't know if is related to this one. I made a update/merge in my Gruntfile and gradle profiles because the webapp sources were not being minified (I created my project around October from last year).

This solved the minification issue, but introduced this unauthorized problem. Now after I run bootRun and grunt server, when I try to access the localhost on port

[2015-05-13 14:29] cjvaz commented on #1469
This is what I think, remove the dependence of the ruby. But it would be nice to put in the installation documentation that the jhipster-docker does not support sass-compass.

[2015-05-13 15:53] ygrenzinger commented on #1158
Bon je doute finir ça dans les jours qui viennent donc ce sera fini mi/fin juin

[2015-05-13 15:58] andidev commented on #1467
Thanks, thats true. Though it should still be documented I think.

[2015-05-13 16:02] andidev opened #1472 "Documentation about how to create a new language that is not supported is missing a step"
The documentation lacks the instruction of duplicating and translating the `messages_new_lang.properties` file in folder `src/main/resources/i18n`

[2015-05-13 17:59] andidev opened #1473 "Switching langage not working (master branch)"
There is an issue with switching language from english to french (and most probably any language added).
Generate a default jhipster app. Start the application and try switching language to french. This switches the language to french as expected.
But after that if one tries to navigate anywhere else in the app the result seems to be that the translationns disappear and only the keys are seen.

Th

[2015-05-13 18:00] andidev commented on #1473
Refreshing the page seems to reload the english language

[2015-05-13 18:04] andidev commented on #1473
Could this be related to #1402

[2015-05-13 18:58] RaphaelBrugier commented on #1430
Asynchronous logging will increase the throughput of your logging but has drawbacks I wouldn't except with a default logging configuration.

See https://logging.apache.org/log4j/2.x/manual/async.html for details.

By the way, if you really need very high throughput for your logging and want to stick with logback you can use the logback extension provided by the [OpenHFT project](https://github.com

[2015-05-13 22:35] jdubois commented on #1473
I've already seen this in my app before #1402 - I don't think it's related.
But after refreshing my browser the problem was gone, so I thought it was just a JSON file which didn't load for some reason.

We need better testing here, but I think there is indeed an issue. I would say this is likely linked to Angular Translate.

[2015-05-13 22:50] dhaalves opened #1475 "Openshift generator pre_build hook Maven broken URL"
Broken url is: http://mirror.cc.columbia.edu/pub/software/apache/maven/maven-3/3.2.3/binaries/apache-maven-3.2.3-bin.tar.gz

[2015-05-13 23:21] jdubois commented on #1430
In our default configuration, we output to the console: we do not use an asynchronous logger.

This is because we follow the 12-factor methodology, which states at http://12factor.net/logs that the logger should go to the console, unbuffered. This shouldn't be our app responsibility to do this.

This is also what Dropwizard does, so we are in rather good company here.

I'll keep this opened until

[2015-05-14 08:43] fabienfleureau opened #1477 "Use in-memory MongoDB implementation for integration testing"
Currently, when we choose a SQL database, JHipster launch an in-memory H2 instance for its integration tests.
It would be nice to have a similar feature when we use MongoDB.
Integrating [fongo](https://github.com/fakemongo/fongo) should do the trick.

[2015-05-14 09:16] soffoalbert commented on #1477
I like the idea! +1

On Thu, May 14, 2015 at 10:43 AM, Fabien Fleureau <notifications@github.com>
wrote:

[2015-05-14 09:19] jdubois commented on #1477
Yes, it would be nice: FYI we also have this for Cassandra (with Cassandra Unit), so this really leaves MongoDB behind.

initial work was done with https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo but I was afraid to use a native MongoDB instance inside.

I didn't know about Fongo, but here I'm afraid it's not a real MongoDB :-)

So both solutions have their benefits and drawbacks, natu

[2015-05-14 13:14] soffoalbert commented on #1477
I agree!

On Thu, May 14, 2015 at 11:19 AM, Julien Dubois <notifications@github.com>
wrote:

[2015-05-14 14:42] rroukens opened #1478 "401 Unautherized when doing password reset"
When starting the password reset procedure I got a 401 Unauthorized error in API: http://localhost:8080//api/account/reset_password/init

After some debugging I solved it by adding these two lines in method configure of class SecurityConfiguration to web.ignoring().
            .antMatchers("/api/account/reset_password/init")
            .antMatchers("/api/account/reset_password/finish"):

The ful

[2015-05-14 18:02] zeeshan949 opened #1479 "Mapping table to multiple columns"
Mapping a table to more than one column gererate __unknown target entity property__ and __@JoinColumn__ is also missing on parent.

jhipster version : __2.10.1__

Mapping of table columns.
__Parent Table__
[code]
__Child Table__
[code]

Exception Stack:
[code]

[2015-05-14 18:41] atomfrede commented on #1478
Which kind of authentication qre you using? oauth?

[2015-05-14 19:05] rroukens commented on #1478
Yes, I'm using oauth.

[2015-05-15 05:03] krishna383 commented on #1317
Have been trying to make the related entities work. Any pointers would be helpful

[2015-05-15 06:15] jdubois commented on #1479
The error says the property com.testproject.domain.Work.employee does not exist, looks like a JPA misconfiguration to me.

[2015-05-15 06:48] irepan commented on #244
you need to edit your $HOME/.mavenrc file and setup your JAVA_HOMR to:
export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0.jdk/Contents/Home

[2015-05-15 07:37] zeeshan949 commented on #1479
@jdubois  Basically i want to map a table to two times in other table but when code is generated

@OneToMany(mappedBy = "employee")

for both generated fields is same and it should be different in scnerio

[2015-05-15 07:44] jdubois commented on #1479
Oh yes sorry I read too quickly.

There might be an issue here, I need to have a closer look.

[2015-05-15 08:43] #1478 closed

[2015-05-15 09:35] jdubois commented on #1465
Thanks -> this is a duplicate, it has already been corrected

[2015-05-15 09:35] #1465 closed

[2015-05-15 09:37] #1462 closed

[2015-05-15 09:38] jdubois commented on #1302
The whole Heroku sub-generator is being re-worked by someone from Heroku, so this is outdated now.

See #1482

[2015-05-15 09:38] #1302 closed

[2015-05-15 10:39] jdubois commented on #1461
If you don't use the wrapper, and don't provide the version number you use instead, we just can't help you, so I'm closing this.

[2015-05-15 10:39] #1461 closed

[2015-05-15 10:40] jdubois commented on #1475
Thanks @dhaalves ! This is indeed quite outdated, I'm upgrading everything.

[2015-05-15 12:03] jdubois commented on #1475
Fixed by https://github.com/jhipster/generator-jhipster/commit/2009e4b73b5e2f7c2d5ede6fc499e400c904db94

[2015-05-15 12:03] #1475 closed

[2015-05-15 13:53] jdubois commented on #1414
There is no easy solution here: I'm going to forbid using the "detail" suffix for an entity

[2015-05-15 14:11] #1414 closed

[2015-05-15 14:15] verrol opened #1483 "Firefox URL mangled when using browser sync"
This doesn't happen if you use Firefox or Chrome alone. But if both Firefox and Chrome are oped at the same time. The Firefox URL will get manged after creating a record.

How to reproduce:
1. Created a new jHipster app
2. Added an entity
3. Use Firefox to add a record
4. Open Chrome, log in using the same account.
5. Firefox URL now looks like GET request with all the entity fields as request par

[2015-05-15 14:17] jdubois commented on #1470
I can't reproduce your issue.

We already have ```'src/main/webapp/**/*.html'``` so no need to add /scripts/.

[2015-05-15 14:17] #1470 closed

[2015-05-15 14:18] jdubois commented on #1483
OK, but this is a BrowserSync issue, we can't do anything about this.
Can you open up a ticket at BrowerSync, and link it here?

[2015-05-15 14:18] #1483 closed

[2015-05-15 14:24] jdubois commented on #1385
This can be done, but it's not how it works out of the box, so that would probably be quite a lot of work.
The Yeoman generators I know of don't provide this kind of feature, that's why we also don't provide it.

I understand your issue with the default "No" answer, because I often have the same issue myself - however if we put "Yes" by default we still have the same kind of issue: we stay in the

[2015-05-15 14:24] #1385 closed

[2015-05-15 14:25] jdubois commented on #1430
As long as we don't use an async logger I don't think this is a useful change.

[2015-05-15 14:25] #1430 closed

[2015-05-15 14:49] zzcoder commented on #1431
We found a problem with this approach. The ENTER key doesn't work anymore without a submit button. The new fix is to keep the submit button but change the event handler.

1. Passing the $event to the handler,

     <form class="form" role="form" action="{{actionUrl}}" ng-submit="login($event)">

2. Prevent submit in the handler,
[code]

[2015-05-15 14:55] jdubois commented on #1431
Argh, and I just did the 2.11.0 release with this fix :-(

[2015-05-15 15:20] #1431 closed

[2015-05-15 15:30] jdubois commented on #1398
I've just looked at the code from @gmarziou and it's indeed so easy to do, it's not worth it.
But I don't understand how authentication is supposed to work? Anyway, without a back end, I don't know how you can make all this work.

[2015-05-15 15:51] jdubois commented on #1472
Fixed by https://github.com/jhipster/jhipster.github.io/commit/c1f238f0db8abade640a8079900184a656824d1f

[2015-05-15 15:51] #1472 closed

[2015-05-15 16:10] jdubois commented on #1467
Fixed by https://github.com/jhipster/jhipster.github.io/commit/25ef53d723022acb1313f92722c81d13ca6d070f

[2015-05-15 16:20] #1467 closed

[2015-05-15 18:24] Shiva-Shinde commented on #1392
I have selected production:MySQL, development: MySQL and language as SQL while loading
*yo jhipster* and I have successfully connected to MySQL after creating mysqlapp (application) on JHipster.
However, I am trying to connect to other databases. Oracle in this case.

I have added both jdbc and Hibernate driver and installed maven. I have added these dependencies in pom.xml file of my JHipster app

[2015-05-15 18:24] michaelisvy commented on #1446
Hi Julien,
I've had a quick look. I guess inside the .project file I need to use "<%= _.slugify(baseName) %>" so I can get the project basename.
How can I test the project generation locally? I see that there is a file called test-creation.js but I'm not sure how to run it.

[2015-05-15 18:26] preslavrachev opened #1486 "Generating a separate CRUD interface for the administrators"
This is not so much an issue, as it is a request for an advice. I am sorry for wasting space on the issues page, but I really did not know where else to ask (the SO community will probably mark it off)

So, I followed the video tutorial, and built the skeleton of my app. Then, I reached the following problem:
Per requirements, I'd have to provide administrators with an extremely simple, but functi

[2015-05-16 02:39] deepu105 commented on #950
:+1:

[2015-05-16 02:43] deepu105 commented on #1469
http://benfrain.com/lightning-fast-sass-compiling-with-libsass-node-sass-and-grunt-sass/

[2015-05-16 05:32] deepu105 commented on #1295
@jdubois I have integrated Grunt includeSource plugin in my project to include/delete js files manually added under scripts folder to index.html, and it is working fine so far in build as well as serve tasks, I can do the same for gulp as well and provide a PR if you are interested in Merging

Basically it generates this

[code]

[2015-05-16 06:24] andidev commented on #1295
This is a really nice feature end it has been discussed before. See #1098. It was not developed cause of lack of interest but I would say that is not correct, the interest seems to be there.
I personally use it myself in my projects and it's really convenient.
Though I think it would be better to use grunt-injector for this task instead since it's the one used by the fullstack angular generator.
I

[2015-05-16 06:42] deepu105 commented on #1295
:+1:  @andidev

[2015-05-16 07:06] jdubois commented on #1295
OK, I'll have a look at this again

[2015-05-16 09:53] deepu105 opened #1488 "multiple fetch of same resource in Karma test"
In ```passwordDirectiveSpec.js``` and ```authServiceSpec.js``` the ```$httpBackend.expectGET``` call seems to be repeated for `i18n/en/global.json` and `i18n/en/language.json`
Is this intentional or a mistake?

[2015-05-16 09:56] preslavrachev commented on #1486
This looks very interesting: http://lightadmin.org/ It is a pluggable CRUD admin dashboard for SpringBoot applications. If it does what it says, might save me the time to build the CRUD dashboard myself.

[2015-05-16 09:58] deepu105 opened #1489 "Cassandra cluster name is set as "Test Cluster""
The `CassandraProperties.java` has `clusterName = "Test Cluster"`
Shouldnt this be set as a valid name relative to the generated app like `"<%=baseName%> Cluster"` or something?

I dont know s*** about Cassandra and I do not use it, I was just going through the generator code and saw this, so if it was intentional for a purpose plz forgive me :smile_cat:

[2015-05-16 10:34] jdubois commented on #1489
Good catch, but it's on purpose :-)
It's the default Cassandra cluster name (in conf/cassandra.yml), so it makes sense that our default is the same as their default.

[2015-05-16 10:34] #1489 closed

[2015-05-16 11:33] andidev commented on #1473
This issue does not seem to appear on Firefox.

[2015-05-16 11:47] andidev commented on #1473
So I cleaned up the cookies and know it seems to work. So it was some cookie related issue. Not sure what though.

[2015-05-16 11:47] #1473 closed

[2015-05-16 13:00] andidev commented on #1295
I've copied my config into jhipster generator. It should work for compass and non compass grunt configs currently. So the same config needs to be done for gulp. Have not tested it yet though. I'll provide a reference to the commit later.

Maybe this feature could be an option in the generator?

[2015-05-16 18:08] deepu105 commented on #1489
:-)

[2015-05-16 22:11] andidev commented on #1295
Here's an url to the [commit](https://github.com/andidev/generator-jhipster/commit/0614c336be96bd65fccdaa562f640aac3deaa0ad) with the needed changes. The commit can be found in branch [add-grunt-injector](https://github.com/andidev/generator-jhipster/tree/add-grunt-injector). Only missing part is the Gulp configuration, I'll leave that to someone else.

[2015-05-17 01:39] christophe-f opened #1490 "Deploy on Heroku is missing one step in the documentation"
Hi,

I have just followed the steps from the new documentation page:
http://jhipster.github.io/heroku.html

After installing the Heroku Belt, the 'heroku deploy:jar --jar target/*.war' command does not exist.
You have to install the 'heroku-deploy' plugin to make this work.

Here is the command to install the plugin:
heroku plugins:install https://github.com/heroku/heroku-deploy

Then you can push

[2015-05-17 01:59] deepu105 commented on #1416
@jdubois : Have started working on this, will try to provide a PR by this week.
Need few suggestions from you, below is the approach Im doing.

1. Add one more question in the main generator as below
[code]
default is true so that existing users will not have a conflict when upgrading, do below when option is set as `false`
2. skip installing the language files and js while generating
3. skip depe

[2015-05-17 09:06] ygrenzinger commented on #1158
Sorry for the french version of my previous comment :)

I have passed some hours and I have something that seems OK for SQL / Mongodb. Cassandra is a bit more difficult for me because I have never used it and tests are failing. I will try to work on it when going back from my holidays.

For MongoDB, I had to add 4 new for Converter classes.

The whole commit patch is here https://github.com/ygrenz

[2015-05-17 10:20] jdubois commented on #1486
My main concern is that you are going to duplicate everything, which isn't very good for maintenance.

The "normal" way of doing this is to have security checks, and not show the same screens depending on the user's rights. This is done with Spring Security & AngularJS, and is a standard use case.

If you "just" need a CRUD interface, then you can even have some SQL tool on top of your database fo

[2015-05-17 10:20] #1486 closed

[2015-05-17 10:21] jdubois commented on #1490
Hi, I didn't install this plugin and it worked for me -> @jkutner do you know about this plugin?

[2015-05-17 12:29] deepu105 commented on #1416
currently the thymeleaf templates are just copied,but in order to make translation optional we would need to process it first so I change lines 536-537 in `app/index.js` to below
[code]

But there seems to be a problem

yeoman tries to process the baseUrl in `th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"` and throws below error, any idea on how to ignore this?

[code]

[2015-05-17 13:54] NickGDev opened #1491 "Generator for Infinispan clustered data grid"
Firstly hat's off to all contributing to jhipster it's a great expression of the power of spring. As a Java developer i have had the opportunity to work on a few commercial projects that utilise scalable data grids. With that i'd like to discuss Hazelcast's clustered encryption / SSL support and a possible alternative.

As of Hazelcast 3.4 (http://goo.gl/alZqvn) SSL is now an enterprise only featu

[2015-05-17 14:19] ivdmeer commented on #1196
Hi,

I'm new to angular and jhipster, but I'm having the same issue as stated above. I'm from The Netherlands so my timezone differs (non GMT). At my entity I have 3 fields with type LocalDate.

The code from red0point inspired me to create a fix more generic so it would effect all 3 fields with type LocalDate.

            'update': {
                method: 'PUT',
                transformReques

[2015-05-17 14:28] jkutner commented on #1490
@christophe-f did you receive and error message in the logs that might suggest why the plugin was not installed? There is a step in the generator for it, but I can't see why I wouldn't have run. What platform are you running on (Linux, Mac, etc)?

Sorry Heroku didn't work out for you. Feel free to contact support about the boot timeout limit. If it's hanging after the step `Using Heroku, parsing t

[2015-05-17 17:44] jdubois commented on #1491
Looks like bad news, here are my thoughts:

- I've already had [this conversation](https://twitter.com/java_hipster/status/476055265503358976) with Hazelcast, and of course we can have questions about their OSS roadmap. I will send them a tweet, linking to this issue, so we can have feedback from them.
- If we can be "cache vendor agnostic" it would be really great, but at the moment this just isn

[2015-05-18 01:44] deepu105 commented on #1385
Will you be willing to merge, if i attempt this?

[2015-05-18 07:05] omrzljak commented on #1415
Now it is good !

[2015-05-18 08:36] jdubois commented on #1385
Thanks @deepu105 but I'm not really convinced at the moment that this would be a good idea. I'd rather wait a little bit for JHipster-UML and see if that solves some of this problem (not sure, this is of course still a work in progress)

[2015-05-18 08:37] deepu105 commented on #1385
OK

[2015-05-18 08:38] deepu105 commented on #1416
OK I ended up using this `'interpolate': /<%=([\s\S]+?)%>/g ` to fix the above issue in the template

[2015-05-18 08:38] jdubois commented on #1196
Hi, thanks for your help, as I'm still stucked with this issue (and I lack time, of course...).

I'll give it a try -> if anyone following this issue, in a non-GMT timezone, can test this, that would be a huge help!

Oh, and @ivdmeer don't hesitate to do a PR, so that you are credited for your work

[2015-05-18 08:40] jdubois commented on #1416
Sorry @deepu105 I forgot to re-open this issue.

This must be a huge work? Do you have an idea of the size of your PR? I'm a bit frightened by it, as it will touch a lot of files, as it might be complex to merge.

[2015-05-18 08:43] gmarziou commented on #1392
This is like a usual data source configuration with JDBC URL except that it is stored in application.yml
For Oracle, mine looks like this:
[code]

[2015-05-18 08:45] deepu105 commented on #1416
Hmm so far the changes to core JH generator files are minimal, and Java part I havent changed much, may be just few lines, But on the angular part I have touched all the html and the route js files

so overall the number of files in the commit is gonna be lot due to all the htmls, but I guess if changing those many took a JH newbie like me approx 2 days, reviewing those shouldn't take long for you

[2015-05-18 08:47] jdubois commented on #1158
Hi @ygrenzinger , yes this should only be for Java 8 -> unfortunately we should still have Java 7 support for a few months (as my stats show we still have 22% of people using it, but this is dropping quite fast), but this is clearly not a priority.
So if you can put it only for Java 8 it would be great!

[2015-05-18 09:34] OlgaMaciaszek commented on #460
The problem has appeared again now, however the fix proposed by @C-Buchart helps.

[2015-05-18 11:10] ivdmeer commented on #1196
Hi,

I think this is more like a quickfix, but not solving the root cause. I also noticed that the output of a LocalDate field on the view and edite page of an entity displays a different date. On the edit page the LocalDate value is displayed in the HTML datepicker (<input type="date" ...>), but  the view page displays the LocalDate in string format (<input type="text" ...>). On each page a diffe

[2015-05-18 11:54] deepu105 commented on #1416
Found a better way to remove translate directive rather than having switch all over the html, will try it out and see, if it works out it should reduce number of files I touch :)

[2015-05-18 12:08] jdubois commented on #1416
Oh yes, if you can find a way to automatically remove all tags, that would be much, much better!!!!!!!!!

[2015-05-18 15:14] Shiva-Shinde commented on #1392
Shall I create a new app-dev.ml file. Since I already have MySQL config in my app-dev.yml file. Shall I remove the MySQL confg stuff and add oracle config?

I was adding Oracle with MySQL in it but I guess it might create a conflict with the port number. Thanks!!

[2015-05-18 15:25] deepu105 commented on #1416
Now I have to revert all the HTML changes I have already made, :sob:

Btw, Im doing this to remove tags
[code]

Need to test this out fully

[2015-05-18 15:26] jdubois commented on #1416
Yes, but this is way cooler than coding everything manually :-)
Looks really great!

[2015-05-18 15:32] deepu105 commented on #1416
yup, but I guess still need to touch HTML files that have placeholder value set from translate. that too can be automated I guess by reading the translate key and getting it from the appropriate json and replacing it but that would be too much of code i guess.

Also I noticed that the text content inside translate placeholders in many of the HTML are not in syc with the corresponding json files, s

[2015-05-18 15:44] ygrenzinger commented on #1158
I take a flight to USA tomorrow so no time to finish the pull request. I want to make a few other tests before. I will do this as soon as I come back.
By the way, if you know people who want to review the code (or help the cassandra part works) the fork is here https://github.com/ygrenzinger/generator-jhipster

[2015-05-18 17:00] pmdusso opened #1493 "Getting Unauthorized (401) when running from production"
Hello there! I'm getting the following errors when trying to access my application running from AWS (in production mode):

[code]

When I clean the cookies, things work. Maybe the cookies from one app are interfering with the another? How can I debug this? If relevant, I can provide my security configurations, etc.

[2015-05-18 19:34] andidev commented on #1295
I'm not 100% sure of this but it looks like if we add injection of application javascript, css and sass dependencies we also can easily extend the jhipster to include all the subgenerators that is supported by the angular fullstack generators.

Heres a list of them
    - [angular-fullstack:route](https://github.com/DaftMonk/generator-angular-fullstack/#route)
    - [angular-fullstack:controller](h

[2015-05-18 20:16] ivdmeer commented on #1196
Hi,

After a bit of digging I've created a custom directive that converts a LocalDate string to a javascript Date obj.
This directive makes all of the LocalDate reformatting code that was added to the ../entities/member.serivce.js file obsolete.

P.S. In my example, I have an entity called member with a few attributes that are of type LocalDate.

[code]

A small change to the view is required for

[2015-05-18 20:23] Shiva-Shinde opened #1494 "Working on connecting to NuoDB (a relational database) -JHipster"
[INFO] com.mysqlapp.com.Application - Starting Application on ubuntu with PID 4870 (/home/ssindhe/mysqlapp/target/classes started by ssindhe in /home/ssindhe/mysqlapp)
[DEBUG] com.mysqlapp.com.Application - Running with Spring Boot v1.2.3.RELEASE, Spring v4.1.6.RELEASE
[DEBUG] org.jboss.logging - Logging Provider: org.jboss.logging.Slf4jLoggerProvider
[DEBUG] com.mysqlapp.com.config.AsyncConfigura

[2015-05-18 20:27] jdubois commented on #1494
Thanks for the stacktrace, but you provide no other information excepted that you use a non-supported database.
Then you have a "no class def found" on Hibernate, so it seems you modified your pom.xml, as of course this works by default with JHipster -> if you modify this, this is not a JHipster issue.

[2015-05-18 20:27] #1494 closed

[2015-05-18 23:25] gregrluck commented on #1491
We have a commercial/open source business model. This architecture diagram makes it very clear: http://hazelcast.com/wp-content/uploads/2013/12/Hazelcast-3.4-Architecture-r1.0.png The salmon coloured parts are all open source. We have a small number of enterprise features that are not required by almost all users, but large corporations with complex use cases use them.

The idea here is to ensure

[2015-05-19 08:34] kbjp opened #1495 "abstract state (site) controller (navbar) instantiated twice"
how to reproduce:
Put a breakpoint on the line "$scope.$state = $state;" inside navbar.controller.js

The impact of this issue is that any site-wide code put inside that controller will get executed twice (in my personal case listening to server-side events)

Any idea how to fix ?

Regards

kbjp

[2015-05-19 08:47] kbjp commented on #1495
Isn't "ng-controller" superfluous in navbar.html ?
the controller is already instantiated by ui-router, right ?
kbjp

[2015-05-19 08:49] deepu105 commented on #1416
Have tested out both translation enabled and disabled apps generated. Everything seems to work as expected.

[2015-05-19 09:48] jdubois commented on #1491
Hi @gregrluck ! Really nice to have an answer directly from you!

I've looked at the diagram, and:

- Indeed SSL is an enterprise feature: that doesn't surprise me, and I am personally not worried about this
- But I see that "Web Sessions" is an Enterprise component, does this mean that our actual HTTP session clustering isn't Open Source?

I fully agree with your analysis of the current OSS marke

[2015-05-19 09:49] deepu105 commented on #49
@jdubois how did you solve the below issue? its slow to start with lot of members on LAN

[2015-05-19 09:55] jdubois commented on #49
We didn't solve this! We solve the "starting twice" issue, not the "slow to start" comment.
So maybe this shouldn't be enabled by default for dev mode.

[2015-05-19 09:57] FaustVs commented on #1470
Apologies - not sure of the etiquette on commenting on a closed issue.

I can confirm that I also have this issue,  and the fix proposed by cjvaz resolves it. I'm a Windows user, and would be interested to know if cjvaz is also?

[2015-05-19 09:57] Qinwroks opened #1497 "liquibase:migrate empty my database"
i add this lines to User entity
[code]
and these lines to Company entity
[code]

then i run
[code]
there is a file named '20150519174124_changelog.xml' created in changelog folder. the  content is
[code]

then i run
[code]

i found the data in jhi_user table was all cleared.

[2015-05-19 10:00] deepu105 commented on #49
As per there [docs] (http://docs.hazelcast.org/docs/latest/manual/html/springintegration.html) seems like we can define the IP for clusters rite, can we set this in the JH application property YML files? or do we have to create an XML config file?

[2015-05-19 10:01] jdubois commented on #49
In that case you could create your own keys in the application.yml file, indeed!

[2015-05-19 10:04] jdubois commented on #1497
I don't see why your table has been deleted, indeed!

- what database are you using?
- this mostly looks like a Liquibase issue

[2015-05-19 10:05] tomsoete commented on #1495
You're right!

See my previous related pull request:
https://github.com/jhipster/generator-jhipster/pull/1134

[2015-05-19 10:05] jdubois commented on #1470
@FaustVs no etiquette here :-)
But I don't look at closed issue a lot, so you have more chances to have your comment lost!

I can't understand why you have this issue -> if it's related to Windows, so could be a good point (I'm on MacOS)

[2015-05-19 11:03] seghers opened #1498 "Tutorial AWS elastic beanstalk"
Does anyone have a tutorial for 'deploying', 'hosting' a jhipster application on aws using:

- postgresql: > Amazon RDS for PostgreSQL
- ssl endpoint on the loadbalancer

I'm trying aws because Heroku charges $20/month for the ssl.
Would love to use ovh but they don't offer these things yet. (using runabove storage(s3) which is great)
And I don't have the know-how, time to setup everything in a se

[2015-05-19 11:17] NickGDev commented on #1491
great feedback @jdubois  & @gregrluck. It's understandable Hazelcast needs to find ways to generate revenue and don't get me wrong i feel it's a valuable product. From personal experience (outside of jhipster project) not having encryption is a deal breaker for smaller customers with sensitive client data.

In reality SSL isn't critical for jhipster but not having the option in a spring project is

[2015-05-19 11:45] cjvaz commented on #1470
I'm a Linux user and issue persist.

[2015-05-19 12:01] gmarziou commented on #1392
Please learn about [github markdown](https://guides.github.com/features/mastering-markdown/) when posting here.

[2015-05-19 12:41] JuanMagalhaes opened #1499 "Tomcat 7 Jhipster - Can't add project to server"
Greetings!

I have just generated the default jhipster project with yo jhipster using the following configuration:
- Java 7
- PostgreSQL
- Maven

I am using Tomcat 7.0.62 on windows, and I have the jboss tools plugins for eclipse kepler.
The issue is that I can add other projects that I have normally to my server however, when I try to add jhipster's project to my tomcat server on eclipse I just c

[2015-05-19 13:35] #1499 closed

[2015-05-19 13:40] jdubois commented on #1498
Hi, I've heard about people using JHipster on AWS Beanstalk, but I don't have any tutorial about this.

I just can't test this, as this costs money, so I won't write any tutorial (unless someone is ready to spend is own $$$ to give some AWS credit, in that case I'll happily have fun with that money!)

[2015-05-19 13:40] #1498 closed

[2015-05-19 15:54] wuethrich44 commented on #1498
I deploy jhipster to aws successfully. I create a tomcat with elastic beanstalk and set the database credentials and the spring profile via environment variables. Then you can deploy the war file to the tomcat. If you have more question I suggest you to ask your questions in stackoverflow.

[2015-05-19 15:56] jdubois commented on #1498
@wuethrich44 if you could write a documentation, for the official website, that would be great!
But yes, I don't think there is anything specific to do to deploy to Beanstalk

[2015-05-19 16:25] Qinwroks commented on #1497
@jdubois
i am using mysql.

[2015-05-19 16:26] jdubois commented on #1196
Yes the issue is just for LocalDate
@ivdmeer I tried your fix and it works -> I'm going to commit it as this has been opened for too long

However my code should clearly be refactored in a directive, if you have time to have a look at it and improve it, I would appreciate it

[2015-05-19 16:32] jdubois commented on #1497
Then this should work, can you open up a ticket on the Liquibase project, and link it here?

[2015-05-19 16:32] #1497 closed

[2015-05-19 16:38] #1196 closed

[2015-05-19 17:20] ivdmeer commented on #1196
@jdubois thanks for testing my code. I will do my best to refactor this quickfix and create a PR.

[2015-05-19 18:14] mraible opened #1501 "After adding Heroku support, tests fail"
After the `HerokuDatabaseConfiguration.java` file is added, tests fail:

My workaround:

Added the following to `HerokuDatabaseConfiguration`:

    @Profile("heroku")

Modify Procfile to have:

    --spring.profiles.active=prod,heroku

[2015-05-19 23:43] christophe-f commented on #1490
Thanks.

As it's not a new app, I didn't run 'yo jhipster:heroku' but followed the section 'Updating your deployed application'. Now it's all good.

Thanks again.

[2015-05-19 23:43] #1490 closed

[2015-05-20 01:58] Qinwroks commented on #1497
OK ,I ADDED [#issue 82](https://github.com/liquibase/liquibase-hibernate/issues/82)
@jdubois

[2015-05-20 05:19] deepu105 commented on #49
do I have to configure anything else or just having the keys in yml would do? couldnt find any docs on hazelcast on what keys if it needs to be on spring boot properties

[2015-05-20 06:55] nikrich opened #1503 "JHipster keeps crashing on Heroku"
Every couple of hours my JHipster default application crashes on Heroku.
I'm using the Hobby Dyno and here is the gist of my Heroku log:

https://gist.github.com/nikrich/56cde6b9be6fe53ecc24

Is this a JHipster bug or rather Heroku? I'm at a loss

[2015-05-20 08:54] jdubois commented on #1503
If you are using the "free" version of Heroku, I think it's normal that they shut down your instance everyday.
Then if it doesn't start up, did you check if your database is locked? See http://jhipster.github.io/heroku.html

It mostly looks like JHipster is waiting for something -> I'm guessing it's the database lock

[2015-05-20 09:15] nikrich commented on #1503
Thanks for the speedy response!

Will look into it. I'm not using the Free account instead I'm using the $7 hobby account.

Regards

[2015-05-20 09:23] jdubois commented on #1503
I'm not sure what the hobby account provide, isn't this just for the database? And they can still put your app server to sleep?

[2015-05-20 09:29] jdubois commented on #1501
Yes that seems logical to me, in fact I thought we had this Spring profile (I did a "git blame" and I didn't find anything, so I might just be crazy...)

I'm having a look at this cc @jkutner

[2015-05-20 09:30] jdubois commented on #1501
And of course what you did @mraible works... And this is what I believed we already had :-)

I'm going to modify our code accordingly, @jkutner I hope it's OK for you?

[2015-05-20 09:39] nikrich commented on #1503
Here is the details for hobby :) :

![image](https://cloud.githubusercontent.com/assets/8254123/7722934/d77013da-fee4-11e4-82fd-402a530dfb13.png)

[2015-05-20 09:42] #1501 closed

[2015-05-20 09:45] jdubois commented on #1446
Hi @michaelisvy yes it's how you use Yeoman templates

If you want to test the project generation, have a look at our [CONTRIBUTING.md](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup). It's quite easy to do, in fact!

[2015-05-20 09:46] jdubois commented on #1503
OK, so it 'never sleeps', which was my main question! So your app shouldn't be crashing all the time, did you check the database?

[2015-05-20 09:56] jdubois commented on #1488
Indeed, but it looks like those calls are made twice by the application -> this is done by Angular Translate, so I'm not sure we can optimize this.
For me this isn't an issue in the tests, it's the application that shouldn't issue those calls.

[2015-05-20 09:59] Zyst commented on #417
Also had this issue, can replicate on a browser without Adblockers working, and browsers with Adblockers not working. Super weird stuff.

[2015-05-20 10:02] jdubois commented on #1495
From my understanding this is already fixed by #1134 -> I can't reproduce it, and I can't find the ng-controller again

[2015-05-20 10:02] #1495 closed

[2015-05-20 10:17] jdubois commented on #1479
You are correct, the "mappedBy" is wrong!

[2015-05-20 11:59] nikrich commented on #1503
Not yet! Will do so in the afternoon when I'm at my linux desktop!

[2015-05-20 14:25] #1479 closed

[2015-05-20 14:28] jkutner commented on #1501
@jdubois looks good. thanks for fixing that!

[2015-05-20 14:38] jdubois commented on #1458
Is this only for MySQL? I don't have this problem with Postgresql (which is the database I use)
I didn't see any issue on this yet, and we have people from all over the world, so I find this strange.

For the limit to 255, it's the default JPA size -> we always use the default for each technologies we use, because that's what we find is the less surprising.
If you select the "validation" question,

[2015-05-20 15:23] jdubois commented on #1295
OK, two different issues here:
@andidev we can already use the "angular" generator from within JHipster, but it's very limited and I'm really satisfied with the result. I don't think anybody uses it.

For our main subject, which is adding automatically JS/CSS files, when you add them manually (of course this works if you use Bower or JHipster, it's only for people who want to add those manually):

[2015-05-20 15:28] jdubois commented on #1398
Closing this as:

- In my opinion it's far better to have the backend working, and it shouldn't be hard to have
- Otherwise, the code from @gmarziou is really easy to change

Anyway, I still don't understand how you could have authentication working without the backend, so I don't understand how you could work

[2015-05-20 15:28] #1398 closed

[2015-05-20 16:14] gzsombor commented on #1458
AFAIK MySQL doesnt have an NVARCHAR type, it's used by the Microsoft SQL Server,

[2015-05-20 17:21] cata86 opened #1504 "create custom controller"
If I create e new controller and put it into package
BASE_PATH_PACKAGE.web.rest
It isn't accessible (404 not found), but if I put it in the root package ( BASE_PATH_PACKAGE where there is Application.java) everything works properly.

[2015-05-20 17:22] cata86 commented on #1504
This is my controller:

@RequestMapping("/api")
@Controller
public class UploadController implements HandlerExceptionResolver {

    @RequestMapping(value = "/upload",method = RequestMethod.POST)
    public @ResponseBody String upload(@RequestParam("file") MultipartFile file,
    		 HttpServletRequest request ) throws IOException {
        .....
        ......
        .....
        return "OK";

[2015-05-20 17:42] gmarziou commented on #1504
Shave you tried with @RestController?

[2015-05-20 17:46] gmarziou commented on #1398
@jdubois the authentication works fine as long as you use simple login/pwd which is easy to stub.

[2015-05-20 17:53] gmarziou commented on #1459
I diffed the pom and could not find a clear evidence: I use older spring-boot 1.2.2 and I don't exclude starter-tomcat from starter-web as below. I don't have time right now to investigate this.

[code]

[2015-05-20 17:55] gmarziou commented on #1469
I did not play enough yet but I was pleased to see that node-sass installed cleanly on Windows.

[2015-05-20 18:16] ryanhamilton commented on #1458
You are correct for postgres and mysql there is no nvarchar, unicode support is default in postgresql.
http://stackoverflow.com/questions/21925802/can-i-able-to-use-nvarchar-data-type-in-plpgsql

You may still want to make it clear when a user chooses String that it is limited to 255 chars. In postgres at least there is text for supporting longer length:
http://stackoverflow.com/questions/4848964/

[2015-05-20 19:09] #1488 closed

[2015-05-20 19:10] jdubois commented on #1458
OK, so we won't do this, of course, as we don't support SQL Server.
The 255 default comes from JPA, not us.

[2015-05-20 19:10] #1458 closed

[2015-05-20 19:14] andidev commented on #1295
In angular the order should not matter,  though I might be wrong since there may be some special cases.

About the complexity I can agree,  but also note that the injection of Bower dependencies are even more complex. One could argue that with this change at least we can say that all js and css files are injected automatically, both vendor files and local app files. No need to even think about it.

[2015-05-20 19:31] cata86 commented on #1504
yes, it has the same behavior.

[2015-05-20 20:50] jdubois commented on #1504
I just tried it and it works, of course...

Here's my controller:

[code]

I suggest you post your question on StackOverflow, this is not a JHipster issue.

[2015-05-20 20:50] #1504 closed

[2015-05-21 04:45] deepu105 commented on #1295
I guess it can be a simple grunt/gulp only setting as well, im using the below in my Grunt file, I used includeSource and it works like a charm

[code]

My complete grunt file
---------------------------------

[code]

[2015-05-21 07:50] jdubois commented on #1295
@andidev sorry to be so annoying, but I don't want another option -> it's already very complex to test, and the more options we have, the more complex it becomes. So I'm only adding new options if I have a very strong need to do.

[2015-05-21 07:53] deepu105 commented on #1295
@andidev @jdubois
Suggestion:
--------------
May we can add a *How-To* section to the documentation and pu these kind of configuration changes to be done out there so that if someone really want it they can copy paste those and get it as these are mostly one time changes

What say?

[2015-05-21 07:58] jdubois commented on #1295
Yes, there's this long-running story of having a "tips and tricks" section in the documentation, but at the moment we don't have any tips to share :-)
Maybe we could start a new section in the website?
I wanted to work on it today anyway, as the "documentation" part is becoming too big and I would need to split it into several parts

[2015-05-21 08:01] deepu105 commented on #1295
:+1:  yes please to a project like JH tips and tricks are the must :sob:
I have spend lot of time figuring out things like these :)

[2015-05-21 08:05] jdubois commented on #1295
OK but I need people who submits them, of course :-)

[2015-05-21 08:42] deepu105 commented on #1295
Sure I can provide PR :)

[2015-05-21 09:15] gmarziou commented on #1295
I could provide: "Using font-awesome with SASS"

[2015-05-21 09:31] jdubois commented on #1503
Hi, I've read your log again, and I saw it was waiting for Liquibase before going into time out -> this is the database lock problem, see http://jhipster.github.io/heroku.html and you will get the solution!

You might want to remove Liquibase for this reason, but at the same time it's really useful for database upgrades with Heroku...

[2015-05-21 09:31] #1503 closed

[2015-05-21 09:40] jdubois commented on #1493
Normally HTML pages are not secured with JHipster (they don't need to, as they have no data), so you should never have this problem.
Did you change the default security config?

If you want to debug what happens, change the log level of Spring Security to "debug", and you will see why it gives you the 401 response.

[2015-05-21 09:40] #1493 closed

[2015-05-21 11:43] wuethrich44 commented on #1498
I think about to contribute a subgenerator for aws if there is any demand.

@jdubois Should I open e separate issue for this feature?

[2015-05-21 11:54] jdubois commented on #1498
@wuethrich44 no, no need to create an issue for that, the PR will be enough:

Fork https://github.com/jhipster/jhipster.github.io and copy/paste https://github.com/jhipster/jhipster.github.io/blob/master/cloudfoundry.html to create a new "Deploying on AWS" page and send a PR. I'll add it to the menu and reformat it if needed, the most important part is of course your content!

[2015-05-21 12:03] jdubois commented on #1468
After closer look: yes, it is "normal", in the sense that this hasn't been implemented. So you don't have drop-downs because I didn't code it, basically :-)
It shouldn't be hard to do, but I don't know if that's useful for a one-to-one relationship -> I guess that in the end you want everything in the same screen, not two separate screens

[2015-05-21 12:20] jdubois commented on #1295
OK @deepu105 @gmarziou here is my proposal:

- You fork https://github.com/jhipster/jhipster.github.io
- Add new pages with a name like "tip_oracle_db" -> keep the "tip_" prefix so I know this a tips and tricks
- When I have enough of them, I will add a new section, like "user-contributed tips" to present them

Sounds good to you?

[2015-05-21 13:55] jdubois commented on #1491
@NickGDev no I don't think those are big issues:

- SSL: I wouldn't use a Java-based SSL implementation anyway, for performance reasons. You can do it at the network level easily, like with an SSL Tunnel. So this isn't a blocker issue at all, as far as I'm concerned. And anyway, your app servers are supposed to be in a secured network.
- For cache providers: for the 2nd level cache, it's done by H

[2015-05-21 14:22] deepu105 commented on #1468
yup guess you are right

[2015-05-21 14:27] deepu105 commented on #1295
Yup sound fine. `.md` files OK with you?

[2015-05-21 14:28] jdubois commented on #1491
We will wait until Spring Boot 1.3 is released, as it has Inifispan support:
https://github.com/spring-projects/spring-boot/blob/master/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/cache/InfinispanCacheConfiguration.java

I'm marking this as closed, as this is an unreleased version, and we will have a migration path to follow first.

[2015-05-21 14:28] #1491 closed

[2015-05-21 14:31] jdubois commented on #1295
Yes:

- Please put them in a "tips/" folder
- You can use .md it works!

[2015-05-21 14:32] deepu105 commented on #1295
:+1:  so are you committing the _tips folder?

[2015-05-21 14:33] jdubois commented on #1295
Just do "tips/" not "_tips/"
Yes commit it -> the files will be published but won't be in the menu at the beginning, and then I'll do a summary

[2015-05-21 15:35] padewitte commented on #1135
I had the same problem. I activate both dev and fats profile. Just use one profile at a time.

[2015-05-21 15:52] jdubois commented on #1295
I'm closing this as this will be a "tip"

[2015-05-21 15:52] #1295 closed

[2015-05-21 15:58] jdubois commented on #1468
Yes you are correct, the JsonIgnore annotation is a real issue, I'll close this ticket with the correction

[2015-05-21 16:41] #1468 closed

[2015-05-22 08:31] jdubois commented on #1446
@michaelisvy I'm also going to have a look at how to generate config files for Intellij.

If this is too complex, we can just have a page on the website with the guide you wrote at the beginning of this ticket.

[2015-05-22 09:24] alpoza opened #1506 "JsonIgnore import missing"
import com.fasterxml.jackson.annotation.JsonIgnore mising. One case is then the entity generator is only whet there are a many-to-many relationship with ownerSide=false.

jhipster version: Release 2.11.1

[2015-05-22 10:06] jdubois commented on #1506
Which version are you using?

[2015-05-22 10:14] jdubois commented on #1446
OK, I've tried it with Intellij, and this is quite complex.
I'll add a page in the documentation, it will be much simpler.

[2015-05-22 10:21] jdubois commented on #1506
I can't reproduce with my current version, so I'm closing this.

[2015-05-22 10:21] #1506 closed

[2015-05-22 11:05] moifort opened #1507 "Support LiquiBase context functionnality"
Hello Jhipster Team,

First, thank you for this awesome project!

Recently I encountered a (little) problem with the management of my DB with LiquiBase. I don't want to load my native data before running my tests with JUnit, for that I use the `context` functionality of LiquidBase (http://www.liquibase.org/documentation/contexts.html).

This is an example of my changelog:

[code]

With the actual

[2015-05-22 12:34] cbornet opened #1508 "Swagger 2 integration"
Since springfox-swagger2 v2.0.0 got released, it would be great to use it to have a swagger 2.0 api-docs running in parallel of the swagger 1.2 version as it provides a lot more functionalities (for instance support of map objects).

Note : Swagger UI v2.1  will support 2.0 spec and could be used in the future for the on-line doc.

[2015-05-22 12:58] moifort commented on #1446
For my case I also excluded `dist` folder. I work with eclipse Luna and JHipster 2.

[2015-05-22 13:00] jdubois commented on #1446
Oh yes this is a good idea

[2015-05-22 13:02] jdubois commented on #1507
Yes, this "context" property is there from the beginning, and in fact it is just wrong: I wanted to use it, and never did...
That's a very good idea, please do the PR

For the property, can you do:
[code]

[2015-05-22 13:07] jdubois commented on #1508
Is SpringFox the new name of Swagger Spring MVC, which we are using?
Yes, if there is a new version, we should upgrade

[2015-05-22 13:28] moifort commented on #1507
Yes, I will try this week-end :)!

[2015-05-22 13:59] jdubois commented on #1507
@moifort you could have closed it with your PR
Can you link to this ticket in your commit? So we keep track of everything

[2015-05-22 14:03] moifort commented on #1507
Sorry, and yes il will add to my commit comment!

[2015-05-22 14:47] jdubois opened #1509 "Correct 'npm test' in the generator project"
When running 'npm test' on the generator-jhipster project, the tests are OK, but there are strange errors being thrown.

[2015-05-22 15:32] moifort opened #1510 "Missing @Override"
I use Eclipse and I set the `@Override` annotation rule in Error when is missing. It's a very minor error, but for the user (like me), we need to put all the missing `@Override` before the project compiles.

I propose to make a PR with the missing `@Override` on files:
- `repository/UserRepository.java`
- `security/Http401UnauthorizedEntryPoint.java`
- `security/SpringSecurityAuditorAware.java`
-

[2015-05-22 16:18] jdubois commented on #1510
I'm not using Eclipse so I didn't see that -> if that's just adding an annotation on 4 classes, yes please do a PR

[2015-05-22 16:52] jdubois commented on #1446
Documentation is added here: http://jhipster.github.io/configuring_ide.html

@moifort I didn't exclude the dist folder, I know, I'll do this later

[2015-05-22 16:52] #1446 closed

[2015-05-23 05:23] deepu105 commented on #1509
Below is what I get, are you seeing the same?

[code]

[2015-05-23 06:25] pankaj5 opened #1513 "Sample app with Thymeleaf as view engine"
Can we have a sample app with thymeleaf as a view engine and same functionality as of angular js?
Can we replace angular js completely with thymeleaf?

[2015-05-23 06:29] jdubois commented on #1513
It's already the case, have a look at the 404 page for exemple.
Yes you can use Thymeleaf, please post your question on Stackoverflow,  this is not a bug or a feature request.

[2015-05-23 06:29] #1513 closed

[2015-05-23 08:54] deepu105 opened #1514 "'gatlingRun' fails with Gradle in Windows"
Running `gradlew gatlingRun` in windows fails with below stacktrace, on a default app generated with below
[code]

[code]
saw a similar bug on gradle forums but that one seems old and fixed
https://issues.gradle.org/browse/GRADLE-2167

I tried reducing my classpath, but no use, still same error. Damn windows!! the classpath added by gradle is too long with all those generated cache folder names. s

[2015-05-23 08:58] jdubois commented on #1514
Use a real OS  :-)
Can you ask the question on Stackoverflow, with the Gradle and Gatling tags?
If there's a trick we could implement it, otherwise we can't do much about it

[2015-05-23 09:07] atomfrede commented on #1514
@deepu105 As already said in the chatroom, I have no windows machine at hand until wednesday, so I can try it next week.

[2015-05-23 10:05] Zyst commented on #1514
Running with these settings:

![image](https://cloud.githubusercontent.com/assets/3832380/7783466/3aa263c4-0109-11e5-85d6-c97e1caa7187.png)

Successfully replicated issue:

![image](https://cloud.githubusercontent.com/assets/3832380/7783467/4d2f83dc-0109-11e5-9409-5890bc6a8cd3.png)

[2015-05-23 10:14] deepu105 commented on #1514
OK @jdubois I'll ask a SO question, I saw some threads which talked about doing gradle configuration to avoid this, that's why opened it here.

Btw hate macs(like the OS though) man! so may be I should switch to linux lol  :wink:

[2015-05-23 10:15] Zyst commented on #1514
Can confirm it does work with Maven:

    [INFO] Scanning for projects...
    [INFO]
    [INFO] ------------------------------------------------------------------------
    [INFO] Building winserver 0.0.1-SNAPSHOT
    [INFO] ------------------------------------------------------------------------
    [INFO]
    [INFO] --- gatling-maven-plugin:2.1.5:execute (default-cli) @ winserver ---
    The req

[2015-05-23 10:20] deepu105 commented on #1514
opened on SO as well

http://stackoverflow.com/questions/30411520/how-to-overcome-the-filename-or-extension-is-too-long-error-with-gradle-in-win

[2015-05-23 10:23] deepu105 commented on #1514
@Zyst so it should be possible to make it work with gradle as well right, I mean other gradle tasks doesnt seem to get stuck, it should be loading almost same stuff to classpath

http://stackoverflow.com/questions/22659463/add-classpath-in-manifest-using-gradle here they talk about a workaround using a manifest file

[code]

Another one with below mods in gradle script
[code]

[2015-05-23 10:33] Zyst commented on #1514
It should definitely be possible if gradle has an option to override the default directory generation! Best of luck.

[2015-05-23 11:19] deepu105 commented on #1295
Added 2 tip files for now, will add more once I complete implementation and test the others (WIP items)

[2015-05-23 11:29] deepu105 commented on #1469
@gmarziou are you on this? else I can try this out, I have some time this week

[2015-05-23 13:07] cbornet commented on #1508
Yes, springfox is the new name of swagger spring mvc for version 2.0.

[2015-05-23 14:58] gmarziou commented on #1469
I won't be bale to work until end of next week, so please go ahead.

[2015-05-23 15:05] cbornet opened #1515 "Joda and Java8 dates swagger model substitution"
Currently, the Joda Datetime type is correctly represented in swagger as "date-time" but a lot of useless objects are present in the model (Datetime, Chronology, DateTimeZone, ...). This is ugly and tools like swagger-codegen will generate these useless class.
As for the Joda LocalDate, it has no type mapping at all which is even worse.

This can be fixed easily by adding :
            .directMode

[2015-05-23 16:12] fbab opened #1516 "MappedBy not correct when relationshipname differs from other entity name"
I suppose the situation is a bug that is quite frustrating when starting using Jhipster (maybe we should give no choice about the name of the relationship).

I have 2 classes : Person 1 --- * Bankaccount
More info on diagram available at this URL :
http://www.plantuml.com:80/plantuml/png/Iyv9B2vM24WjAixFKwZcKb08BYdAp4jNo4lCJLMmvghbuae6gt1ApCjEJ4xEByqhGLQMd9y2KGOrGSbG8JadCpMlH4b1LrTNGSb0JqzB0QfF2SK

[2015-05-23 16:36] jdubois commented on #1516
Which version are you using ?

[2015-05-23 16:56] fbab commented on #1516
Configuration :
Jhipster :  v2.11.1,
Yo :1.4.6
Npm : 2.9.1
NodeJs : v0.12.3

[2015-05-23 17:42] jdubois commented on #1516
Version 2.12.0, released yesterday, should solve jour issue, can you have a look?
:-)

[2015-05-23 18:40] fbab commented on #1516
Thx for your reply. I can't upgrade right now. I'll give it a try within next days.

[2015-05-23 18:41] fbab opened #1517 "yo jhipster:entity should have reserved keywords for existing routes"
When running

everything seems OK on the server side

But when opening the application on the browser side, the screen does not display  (only "This is your footer" with no menu).

[2015-05-23 19:04] gmarziou commented on #1517
What do you see in the browser console?

[2015-05-23 19:21] omrzljak commented on #742
QueyDSL is also easy to use with Gradle. I made small "how to" [here](http://osmanmrzljak.blogspot.nl/2015/05/add-querydsl-to-jhipster-spring-data.html).

Let me know if you want to have it somewhere on JHipster wiki or .... just copy and paste my text ;-)

[2015-05-23 19:22] fbab commented on #1517
Thx for your reply : I only see
This is your footer
no image, no menu, no developement label (in red, on upper left).

I renamed the entity from Admin to Administrator and run OK after that
(but took long to find the cause of the error).

[2015-05-23 19:24] jdubois commented on #1517
I guess this is because the "admin" route already exists -> we should have some "JHipster reserved keywords", like we have for Java reserved keywords.

[2015-05-23 19:26] jdubois commented on #742
@omrzljak we are preparing a "tips" section, for contributors (the Github wiki isn't good enough)
You need to add it to the "tip" directory, like in this PR: https://github.com/jhipster/jhipster.github.io/pull/54

Feel free to add it, it's made for it!

[2015-05-24 03:03] dereklin opened #1518 "yo jhipster doesn't work on second app -- lubuntu in virtualbox"
I just found jhipster today and trying it out on my lubuntu box on virtualbox.  At first try, I mkdir jhipster and yo jhipster, and chose postgresql as my development database.  The installation seemed ok.  But then when I ran the app, there was a database login problem.  I couldn't find documentation on how to set up postgressql...

So I deleted the app.  And then I mkdir myapp and cd myapp.  The

[2015-05-24 05:30] deepu105 commented on #1469
Ok, im on it

[2015-05-24 05:49] deepu105 commented on #1514
@jdubois  @atomfrede
See below issue in gatling. I guess I will wait for Gatling 2.2 then, will do some workarounds till then. So closing this

https://github.com/gatling/gatling/issues/2732

[2015-05-24 06:08] dereklin commented on #1518
I deleted some hidden files and it fixed the particular build problem.

[2015-05-24 06:08] #1518 closed

[2015-05-24 08:20] deepu105 commented on #1469
Tried node-sass with gulp-sass plugin and it is much much faster than ruby-compass option, see below both configured on a JH project and ran on the same main.scss file

![image](https://cloud.githubusercontent.com/assets/1107223/7787178/3d02ba24-0230-11e5-8c17-5398cde105e5.png)

@jdubois what do you think?
can we have it as an option during generator, So instead of asking `do you want to use compa

[2015-05-24 08:33] deepu105 commented on #1514
Should this be mentioned in the docs btw?

[2015-05-24 08:38] Zyst commented on #1514
Probably deserves a mention, something along the lines of:

"If you are using a Gradle setup with Windows Gatling will not run until they patch to version 2.2, it is out of our hands"

[2015-05-24 08:41] atomfrede commented on #1514
Yes we should mention it maybe, but I'm not sure if the gatling issue will help much, because it explicitly talks about the maven plugin. But let's see what happens after gatling 2.2 is released.

[2015-05-24 09:21] deepu105 commented on #1469
here is the output for grunt with grunt-sass plugin

![image](https://cloud.githubusercontent.com/assets/1107223/7787322/68d5d318-0238-11e5-9746-bf1ade4bbc8a.png)

Overall the performance gain is huge if we are talking only in seconds

[2015-05-24 09:50] #1510 closed

[2015-05-24 10:15] jdubois commented on #1516
OK I'm closing this because I'm pretty sure this is your issue -> don't hesitate to re-open it if needed!!

[2015-05-24 10:15] #1516 closed

[2015-05-24 10:16] jdubois commented on #1509
There's also [this error](https://travis-ci.org/jhipster/generator-jhipster/builds/63838354#L516) we can see on Travis CI

[2015-05-24 13:46] slandelle commented on #1514
How does JHipster launch Gatling (as we don't have a Gradle plugin yet)?

[2015-05-24 13:47] Zyst commented on #1514
@slandelle from OP

[2015-05-24 14:02] atomfrede commented on #1514
It uses the maven plugin (when building with maven) or just uses the java cmd application. See https://github.com/jhipster/generator-jhipster/blob/master/app/templates/_gatling.gradle for details

[2015-05-24 17:19] slandelle commented on #1514
So the classpath you generate is too long for Windows.

You'll have to generate the same manifest only file that's being used by the maven plugin (next 2.2). This kind of strategy is also also in many maven plugins (surefire, exec) and eclipse.

[2015-05-24 18:56] dereklin opened #1523 ""This is your footer" shows before the site is displayed properly"
I am new to jhipster and trying it out.  When I run java -jar jhipster-0.0.1-SNAPSHOT.war --spring.profiles.active=prod, and then go to http://127.0.0.1:8080/#/, I see "This is your footer" shows up first for a about 1 second, and then the rest of the site shows up properly.  Is this a time lag due to the angular binding?

[2015-05-24 20:19] atomfrede commented on #1514
@slandelle Thanks for the hint. Will try to fix it.

[2015-05-24 20:41] moifort commented on #1523
Yes, normally it's the time it takes to angular to be completely loaded (js, css, ect.). Don't worry, when the navigator has already cached your webapp it's less than 1 second. If it still takes to much time, you can use the network console to analyze it (in Firefox with Firebug for example).

![capture d ecran 2015-05-24 a 22 37 04](https://cloud.githubusercontent.com/assets/4958079/7789546/733d6

[2015-05-24 21:09] moifort opened #1525 "User management"
Hello the community,

I would like to know if it's will be interesting to implement in Jhipster the user management functionality. The idea is to provide for administrator user an interface to manage all the users.

We can start to implement some mains functions like:
- Display all user with summary informations
- Allow the admin user to modify setting for a specific user:
  - Change first name

[2015-05-24 21:21] atomfrede commented on #1525
I like it because I'll need it in the future, so if there is something build in that would be great. But I think there was already a similar issue some time ago. Not sure what happened to it.

[2015-05-24 21:44] moifort commented on #1525
@atomfrede I make research, but I don't find an issue talking about. If you remember the keyword, I will update this issue, and delete this one.

[2015-05-25 03:34] deepu105 commented on #1514
re-opened based on comment from @slandelle above

[2015-05-25 03:36] deepu105 commented on #1514
if the issue is fixed in for maven only in 2.2 how does it work today with maven in windows :confused:

[2015-05-25 05:01] andidev commented on #1525
:thumbsup:

[2015-05-25 05:40] gomesp commented on #1525
:+1: that would be awesome

[2015-05-25 05:51] hirro commented on #1525
[image: :+1:] So nice!

2015-05-25 7:40 GMT+02:00 Pablo <notifications@github.com>:

[2015-05-25 09:29] wuethrich44 commented on #1525
:+1:

[2015-05-25 09:33] deepu105 opened #1526 "Feature Request: Bootswatch themes"
Will any one be interested in having a default theme switcher on the generated app using bootswatch.

If so I can submit a PR, I have done a small directive to mimic the below function, I can integrate the same into the footer section of the generated app, so that there is a select element to choose from the list of available bootswatch themes, with the original bootstrap theme as fall back

Might

[2015-05-25 09:55] jdubois commented on #1469
@deepu105 I don't use Compass, so I'm not sure -> does it work exactly the same way?
If so, and as it's clear that performance is better, I'd rather have just node-sass -> let's not have too many options, just the best ones. Otherwise we can't maintain everything, and it confuses users.
If does the same thing, can you create a new issue? As this one was originally on Docker, even if the title is m

[2015-05-25 09:59] jdubois commented on #1523
It shouldn't take 1 second, or maybe you have a very very slow computer.
But this doesn't look like an issue, so I'm closing it.

[2015-05-25 09:59] #1523 closed

[2015-05-25 10:01] jdubois commented on #1525
Yes that would be great.
We've always wanted to have this, only we lacked the time to implement it.

[2015-05-25 10:02] jdubois commented on #1526
Yes that was my original idea at the very beginning of the project -> it's just lack of time if I didn't do it.
So yes if you have something working that would be great.

[2015-05-25 10:37] deepu105 commented on #1526
:+1: will cleanup and do a PR

[2015-05-25 10:44] deepu105 commented on #1469
Ok, ill create a new issue. But my thought behind having option was to support existing users who use compass.
the behavior is exactly same for the scss file JH has, I compared generated output file fromcompass and node sass, its exactly same except for some alignments and formatting. But node-sass doesn't yet support some of the proprietary compass mixins & features like sprite generation etc. Th

[2015-05-25 10:53] jdubois commented on #1469
@deepu105 OK so it's not exactly the same, so that means we should support both.... I'm not using it, and my stats show that less than 5% of users are using Compass, is that really worth the effort and the maintenance cost? Is your code big & hard to maintain?

[2015-05-25 10:54] deepu105 opened #1527 "Use Node-sass instead of compass"
Use Node-sass instead of compass as node-sass has better performance then compass and this will remove the ruby dependency for JH

Detailed discussion in below issue
https://github.com/jhipster/generator-jhipster/issues/1469#issuecomment-105192134

[2015-05-25 11:00] deepu105 commented on #1469
@jdubois
if we can tell that in a release note then we can remove compass and ask compass users to refer a  tip file to continue using compass (Here we can give instruction to setup compass)

Changes for this will be in Gruntfile.js, gulp.js (around 10 lines in each), then dependency include in package.json, and the changes required in app.js to change the question (and around 11 reference to useC

[2015-05-25 12:06] moifort commented on #1525
@jdubois I can make a PR, but before we can discuss how to implement it. I am new in Jhipster and I don't know if I implement as well like you want.

[2015-05-25 12:34] slandelle commented on #1514
@deepu105 Because the maven plugin already had a trick to shorten the java command (it passes the main args into a temp file) ;-). But this trick will be going away because the new one is way more efficient (pass the classpath into a manifest file).

[2015-05-25 12:50] deepu105 commented on #1525
:+1:

[2015-05-25 12:56] deepu105 commented on #1469
@jdubois  So let me know if I should go ahead and do the PR or drop it!

[2015-05-25 14:12] wuethrich44 commented on #1525
I suggest to add the user management under the admin navigation instead as a separate menu entry.

[2015-05-25 14:52] moifort commented on #1525
This is how I implemented the functionality in my prototype

## Server Side

`domain/User.java`
- I extends with `AbstractAuditingEntity` to have the creation date of the user. The problem is only mongoDB and SQL DB type can manage it, but not for cassandra (maybe other alternative?)
- I use `private Set<Authority> authorities` but same not implemented with cassandra (it's `private Set<String> aut

[2015-05-25 21:37] gmarziou commented on #1469
I use SASS with jhipster and dropping Compass in favor of node-sass is just simplifying and improving dev environment. The only reason to keep Compass would be due to some syntax not supported yet by libsass but Bootstrap-sass usually fixes any compatibility issue.

[2015-05-25 22:37] carlosribeiro opened #1528 "MappedBy reference an unknown target entity property (bidirecional)"
Example my json:

[code]
Java generate based json:

[code]

Image of diagram:
![image](https://cloud.githubusercontent.com/assets/816894/7802833/690b507a-0336-11e5-8803-bfd2ecc60540.png)

On debug generate error:
Caused by: org.hibernate.AnnotationException: mappedBy reference an unknown target entity property: pt.zzzzz.domain.Email.contacto in pt.zzzzz.domain.Contacto.emails

How to your resolve

[2015-05-25 23:58] deepu105 commented on #1469
Ya i agree on the simplicity part

[2015-05-26 00:02] deepu105 commented on #1469
Also im glad that JH scss files are just plain scss and not using any compass specific mixins, why would anyone want to lock in with a specific vendor syntax, when i compiled the bootstrap scss files with both compass and node sass the output where same except for some formatting changes

[2015-05-26 00:40] piedrahitac commented on #1525
This would be great!

[2015-05-26 03:27] deepu105 commented on #1416
here is the issue which i was talking about earlier

As you can see the json files are loaded and there is no console errors but translation hasn't been applied, this is during a refresh with default English, it works if i refresh again, and sometimes not. This is very annoying as there is no way to debug or reproduce this :cry:

![image](https://cloud.githubusercontent.com/assets/1107223/7804761/

[2015-05-26 04:53] deepu105 commented on #1526
Hi Guys, Added bootswatch support how does it look, theme can be switched directly from the menu

cyborg
----------
![image](https://cloud.githubusercontent.com/assets/1107223/7805499/192d671c-03a6-11e5-97d3-4a678d78cdb7.png)

Flatly
--------
![image](https://cloud.githubusercontent.com/assets/1107223/7805504/2d773608-03a6-11e5-9b63-07cbe8f11450.png)

[2015-05-26 04:57] deepu105 commented on #1526
more screenshots
---------------

![image](https://cloud.githubusercontent.com/assets/1107223/7805539/ae7305f2-03a6-11e5-88e9-c60294790a6c.png)

![image](https://cloud.githubusercontent.com/assets/1107223/7805512/580e0784-03a6-11e5-9668-a61778cce871.png)

![image](https://cloud.githubusercontent.com/assets/1107223/7805522/79317e78-03a6-11e5-98cd-39d360f68550.png)

![image](https://cloud.githubuser

[2015-05-26 04:59] gzsombor commented on #1526
:+1:

[2015-05-26 05:56] jdubois commented on #1528
It depends on your version number.

[2015-05-26 06:19] jdubois commented on #1528
It is corrected in 2.12.0

[2015-05-26 06:20] jdubois commented on #1528
There's a new question for this when you generate

[2015-05-26 08:07] deepu105 opened #1530 "Gulp build does not generate compressed index.html and hence fails in prod mode"
When Gulp is used in windows platform with Gradle as build it does not generate compressed index.html in `src/main/webapp/dist`
This causes application to fail in prod profile
Not sure if the issue exists in ios/linux and with maven (@zyst will you be able to confirm)

Config used
[code]

[2015-05-26 08:12] carlosribeiro commented on #1528
My version is 2.12.0

[2015-05-26 08:13] jdubois commented on #1528
Oh sorry so I'm reopening this, I'll have a closer look

[2015-05-26 08:14] jdubois commented on #1530
Gradle + Gulp + Windows you're asking for trouble :-)

[2015-05-26 08:15] deepu105 commented on #1530
I guess the issue is
in `gulp.task('usemin'` there is the below line of code
 `return gulp.src([yeoman.app + '**/*.html', '!' + yeoman.app + 'bower_components/**/*.html'])`

So with `yeoman.app` set as `'src/main/webapp/` this becomes
`'src/main/webapp/**/*.html` so index file which is in 'src/main/webapp/index.html` is skipped i guess

[2015-05-26 08:20] deepu105 commented on #1530
Im no gulp expert, but if im rite about the above then it shouldnt work in any platform :confused:

[2015-05-26 08:21] deepu105 commented on #1530
let me run with `return gulp.src([yeoman.app + '/*.html', '!' + yeoman.app + 'bower_components/**/*.html'])` and see

[2015-05-26 08:23] deepu105 commented on #1530
@jdubois  windows+gradle+gulp I should be awarded hipster of the year then :stuck_out_tongue_winking_eye:

[2015-05-26 08:25] Zyst commented on #1530
Can confirm it's failing on Windows 7, trying with Maven as requested  by @deepu105 in chat.

[2015-05-26 08:29] deepu105 commented on #1530
I guess I was wrong about the path thingy, changing to absolute path of index.html also does not generate it

[2015-05-26 08:34] Zyst commented on #1530
Confirmed it does work on Maven!

![maven build](https://puu.sh/i0WxJ/112ff4285b.png)

Seriously mate you have to be masochistic to keep running these gradle builds.

[2015-05-26 08:35] Zyst commented on #1530
Comment: note that `/dist` still has no `index.html`

Are you sure that's the intended functionality from a normal gulp -Pprod serve?

[2015-05-26 08:41] Zyst commented on #1530
![image](https://cloud.githubusercontent.com/assets/3832380/7808446/eb383c30-0358-11e5-8168-cb5e7773ad83.png)

Ran gulp serve after normally running server, I think gulp isn't doing the fancy stuff grunt does with the proxy injects, and just minifies content and the like. Not 100% sure.

[2015-05-26 08:43] Zyst commented on #1530
Rather, it does seem to be starting something (in 9876) but closes the task after that.

[2015-05-26 09:24] deepu105 commented on #1530
If you are running in dev profile then it will work as content will be served from normal webapp folder, if gulp works with maven then it shoul work with `mvn -Pprod spring-boot:run`

[2015-05-26 11:55] leleuj commented on #1376
I'm working on it, things were harder than expected, fixing the last details...

[2015-05-26 14:22] PeterEltgroth commented on #1525
:+1:

[2015-05-26 14:23] leleuj commented on #1376
Here is the PR : https://github.com/jhipster/generator-jhipster/pull/1531
I made tests, it should be ok but of course I'm looking forward to your feedbacks...

[2015-05-26 14:23] PeterEltgroth commented on #1526
:+1:

[2015-05-26 15:05] wuethrich44 opened #1532 "Password reset leads to activation of user"
After a password reset of a deactivated user is the user activated.

Is this the desired behavior?

[2015-05-26 18:12] atomfrede commented on #1530
OK I think I'll need a windows vm again to check what this strange operating system is doing...

[2015-05-26 18:13] atomfrede commented on #1532
At least it is the same effect: a verified email address. That's why I coded it that way in the first place. But of course it can be changed if desired.

[2015-05-26 18:23] moifort opened #1534 "LiquiBase files structure"
JHipster introduced me an awesome functionality: LiquiBase. The JHipster Team and community make a really good integration of it.

But with time my LiquiBase package becames messy, like below:
![capture d ecran 2015-05-26 a 19 36 34](https://cloud.githubusercontent.com/assets/4958079/7819562/e15c5770-03e2-11e5-8948-0334411838b3.png)

## My solution
![capture d ecran 2015-05-26 a 19 54 08](https://

[2015-05-26 18:55] wuethrich44 commented on #1532
Ok but I think the expected behavior of a password reset is to set a new password and not to verify an email address. In our application we activate user manually and stumble over this by accident. If we haven't test that we had a big security leak.

[2015-05-26 19:22] atomfrede commented on #1532
Yes in that case you're absolutly right (which becomes more important when jhipster has a user admin ui) . Let's wait what others are saying. If no one opposes your point I'll change it such that only activated users can reset their passwords or at least they are not activated after changing it.

[2015-05-26 20:07] atomfrede commented on #1526
Great work!

[2015-05-26 21:07] seghers commented on #1532
We implemented it ourselves, allowing a reset to see the email as 'real' => activated.

It should be noted that there is a difference between a user and an email.
- user: activated, blocked, banned, ...
- email: new, verified

[2015-05-27 04:20] deepu105 commented on #1530
@atomfrede Are you sure its a platform issue? does it work in OSX? I guess it has nothing to do with gradle atleast

[2015-05-27 06:33] deepu105 commented on #1534
I had similar issue and I was managing it manually, Liquibase is great for Dev but once the app is in production, Im bit worried about having liquibase enabled, so still thinking about disabling liquibase once application is stable and in production. I havent played with liquibase much yet, but i assume that liquibase will not overwrite existing tables and hence you would have to do manual update

[2015-05-27 07:20] atomfrede commented on #1530
Not sure. I have never used the gulp build. Will try it with Linux first.

[2015-05-27 12:32] moifort commented on #1534
Thanks for your feedback @deepu105

[2015-05-27 12:56] cbornet opened #1535 "Adder and remover methods for OneToMany relationships"
It would be useful to have methods autogenerated for OneToMany relationships of the like :
public class Company implements Serializable {
...
    @OneToMany(mappedBy = "company")
    @JsonIgnore
    @Cache(usage = CacheConcurrencyStrategy.NONSTRICT_READ_WRITE)
    private Set<Employee> employees = new HashSet<>();
...

public void addEmployee(Employee employee) {
    employees.add(employee);
    e

[2015-05-27 13:19] cbornet commented on #1535
Better since we use sets :

public boolean addEmployee(Employee employee) {
employee.setCompany(this);
return employees.add(employee);
}

public boolean removeEmployee(Employee employee) {
employee.setCompany(null);
return employees.remove(employee);
}

[2015-05-27 14:54] MatthieuLebigre commented on #1525
:+1:

[2015-05-27 15:01] jdubois commented on #1535
My only issue is that I don't want to add methods that are not useful for everyone (or that should be an option).
But yes, I'm usually doing those methods, so I agree we should add them.

[2015-05-27 15:09] jdubois commented on #1389
Hi all, I'm just trying to go back to the original issue, which is that we should have some common superclass.

A new issue is that we should soon have support for DTOs -> that means that we would have one super-super-class, then one super-class for DTOs and one super-class for entities

My goal is to provide a simple class, which is merely a placeholder with a few examples, so that people can the

[2015-05-27 15:09] #1389 closed

[2015-05-27 15:38] deepu105 opened #1536 "Expand operation link in swagger API is broken"
Throws
[code]

in method line 1559

[code]

[2015-05-27 15:40] jdubois commented on #1536
It's not in our code so we can't fix it.

We need to wait for #1508 and maybe that will fix the issue.

[2015-05-27 15:40] #1536 closed

[2015-05-27 15:41] jdubois commented on #1532
@atomfrede yes only activated users should be able to reset their password

[2015-05-27 15:42] deepu105 commented on #1536
I know, Just wanted to record, coz i couldnt find an issue for it

[2015-05-27 15:45] #1507 closed

[2015-05-27 16:21] jdubois commented on #1270
Yes that looks like a cool feature, but isn't it a bit complex to set up?
Can you point me to your code change, so I can have a look?

[2015-05-27 16:28] jdubois commented on #1534
Yes that looks like a nice way of keeping the Liquibase files clean.

At the moment I don't know how we can integrate it into the generator, as we don't have the concepts of "tags", etc, even if our users use them, of course.

As I'd like people to know about it (and then maybe that will help to find a better solution, when more people use this), could you provide a "tip", like those:
https://gith

[2015-05-27 16:28] #1534 closed

[2015-05-27 16:31] jdubois commented on #1432
@gzsombor I'm not sure I understand what you do with the imports, but if it works yes that would be a great help.

I agree the templates are starting to be messy, but it will also be very hard to refactor them.

As commented earlier, I'd like to wait until Java 7 is removed (now we are at 20%, it's going down!!), as this should help a lot of the refactoring.

But yes, this refactoring will be nece

[2015-05-27 16:31] #1432 closed

[2015-05-27 16:36] moifort opened #1538 "Authentification with Facebook, Twitter, Google"
The `DaftMonk/generator-angular-fullstack` generator proposes to add the functionality for the oAuth integrations of`Facebook` `Twitter` and `Google`. I think it will be a very great if Jhipster integrate this functionality. If I have time I will make a PR.

[2015-05-27 16:40] #1538 closed

[2015-05-27 16:41] moifort commented on #1538
My bad -> duplicate #684

[2015-05-27 16:51] ddewaele commented on #1270
@jdubois : I don't think it's that complex. I've got a fork over here where you can see the code changes to the jHipster generator : https://github.com/jhipster/generator-jhipster/compare/master...ddewaele:server-side-sorting

[2015-05-27 19:23] piedrahitac commented on #1526
Looking good!

I have a question, though... Should this be optional or not?

[2015-05-27 20:08] atomfrede commented on #1532
@jdubois Will provide a fix as soon as possible.

[2015-05-27 20:54] jdubois commented on #1528
I've re-created your 4 entities, and it worked on the "master" branch -> I will release version 2.13.0 very soon, and the issue is not present, or at least I could not reproduce it.
There has been quite a lot of work on this part in the last weeks, so this might be the reason why I could not reproduce the issue.

If you still have the issue when 2.13.0 is released:

- Do not hesitate to re-open th

[2015-05-27 20:54] #1528 closed

[2015-05-28 03:30] deepu105 commented on #1526
not sure if its worth adding as an option all together, we were discussing about having it as a dev profile only option here https://github.com/jhipster/generator-jhipster/pull/1529

Im trying to see how to fix token auth issue and also a better way to have the theme menu, may be as a footer menu or a floating side menu

[2015-05-28 07:49] dancancro commented on #1528
I'm not sure if mine is the same problem, but I'm getting a similar error message. In my case, I have a one-to-many self-referential relationship. In particular, products can have one or more children products. The relationship file looks like this:
[code]

Is it possible to have one-to-many, self-referential relationships?

[2015-05-28 07:50] jdubois commented on #1528
Normally yes, and I have people next to me who do it -> I'll have a look at your code

[2015-05-28 08:18] dancancro commented on #1528
Thanks.  [Here's](https://gist.githubusercontent.com/dancancro/3c26582a7e48b2aeebad/raw/7ea80085b02eb56041a570c9109d4729af2e21f5/gistfile1.txt) the whole output, and [here's](https://gist.github.com/dancancro/1c7d1eb14f63ed05a59a) the source code.

[2015-05-28 08:28] deepu105 commented on #1526
changed to fix x-auth issue and moved theme switcher to footer

![image](https://cloud.githubusercontent.com/assets/1107223/7855742/991527ba-0556-11e5-8704-c44910901068.png)

[2015-05-28 08:35] jdubois commented on #1528
OK, I just tried it on the "master" branch and I have it working -> I will release 2.13.0 today, so you might want to try it out

One issue I see in your code is that you need a one-to-many from Product to Product, but also the other side of the relationship, so a many-to-one from Product to Product

This doesn't work perfectly, as there is one warning message and the UI is not working at 100% (th

[2015-05-28 12:00] gmarziou commented on #1469
@deepu105 do you have a repo where i could have a look? I'm starting doing it on my project.

[2015-05-28 12:05] deepu105 commented on #1469
haven't commited anything to JH code yet,as I tried it out on a generated project. was waiting for go ahead from @jdubois to add it in JH.  If its ok with you I can check in those changed files and share it to you, let me know what you need, grunt or gulp

[2015-05-28 12:12] gmarziou commented on #1469
a generated project with grunt would be fine for me

[2015-05-28 12:29] deepu105 commented on #1469
ok will share, gimme a while

[2015-05-28 12:51] jksoftpro opened #1539 "_EntityDTO.java error"
Hi guys,

I just wanted report the following error while generating an entity:

yo jhipster:entity Client
The entity Client is being created.
Generating field #1
? Do you want to add a field to your entity? Yes
? What is the name of your field? cname
? What is the type of your field? String
? Do you want to add validation rules to your field? No
=================Client=================
cname (Stri

[2015-05-28 13:17] jdubois commented on #1539
As you are using a DTO, I guess you are using directly the development version from the "master" branch?

I'm testing this right now

[2015-05-28 13:19] jdubois commented on #1539
I just tested with the latest version and it works!

-> Can you do a `git pull` and test again? If it fails, please re-open the ticket

[2015-05-28 13:19] #1539 closed

[2015-05-28 13:22] malikhan5049 opened #1540 "Add more field data types in entity generation"
Hi,

recently i faced an issue i was trying to created an entity to store images and and there isnt relevant data type (byte[]/blob) exists currently in generator.

[2015-05-28 13:32] jdubois commented on #1540
Yes, I agree.

I'm not keeping this issue opened, as this is a never-ending story -> we already have one ticket for "enum", we might indeed have a new one for "blob".

Then it will never end, we will always need to add new types, of course.

[2015-05-28 13:32] #1540 closed

[2015-05-28 13:37] jksoftpro commented on #1539
Yes, I am working on master branch. I freshly cloned the master branch to make sure.

Unfortunately I am getting the same error:

$ yo jhipster:entity Client
The entity Client is being created.
Generating field #1
? Do you want to add a field to your entity? Yes
? What is the name of your field? cname
? What is the type of your field? String
? Do you want to add validation rules to your field? No

[2015-05-28 13:38] jdubois commented on #1539
As you have a ENOENT it looks like the file can't be read, are you sure the file is here?

[2015-05-28 13:47] jksoftpro commented on #1539
You're right. The file is there. The Author of this code, possibly you, used lower case "Dto" as a template name:
generator-jhipster/entity/templates/src/main/java/package/web/rest/dto/_EntityDto.java

but references the template using upper case "DTO":
generator-jhipster/entity/templates/src/main/java/package/web/rest/dto/_EntityDTO.java

Most unix file systems unlike windows is case-sensitive.

[2015-05-28 13:51] jksoftpro commented on #1539
I changed locally _EntityDto.java to proper _EntityDTO.java and generation process worked fine.

I hope to be able to contribute soon. Just learning how to start coding with you, guys.

[2015-05-28 13:51] jdubois commented on #1539
Oh yes this is my fault!!!!!!!
I originally used lower case, and then refactored. No problem on Unix, of course!

[2015-05-28 13:52] deepu105 commented on #1469
I guess i'll put it here. did a diff, changes are just few, I did a simple config

1. src/scss/main.scss (correct the bower import path as below)
----------------------
[code]
2. add the below task to gruntfile.js instead of compass task
--------------------
[code]
add sass task to watch instead of compass

[code]
swap compass tasks in concurrent
[code]
2. `"grunt-sass": "^1.0.0"` to package.json

[2015-05-28 14:49] gmarziou commented on #1469
Thanks, I am currently struggling with incompatible version of lodash between the one used by yo and the one used by grunt-sass

[2015-05-28 16:14] carlosribeiro commented on #1528
The problem is maintained with version 2.13.0.
Link to download compressed file with json https://www.dropbox.com/s/17hv4cua1lwzjts/files.zip?dl=0

[2015-05-28 17:36] gmarziou commented on #1469
OK, it's working now

I have slightly different options than yours but I'm not sure which one is totally required.
I think sourceMap should be true for debugging.

[code]

[2015-05-28 18:31] zergxyz opened #1541 "connect to MYSQL in Amazon RDS failed and displayed access denial error"
Hello, I'm right now testing our jhipster sample app at my local and I'm using AWS-RDS mysql database as my dev database. I've already configured the db security group so that it can accept traffic from everwhere in aws console and test it with phpmyadmin at local without any problems.
I also test jhipster with localhost mysql database in the dev file and it also works perfectly. But when I change

[2015-05-28 18:46] wuethrich44 commented on #1541
Did you set the following variables correctly?

- spring.datsource.url
- spring.datasource.username
- spring.datasource.password

It seems you set the wrong database url.

[2015-05-28 19:15] zergxyz commented on #1541
@wuethrich44  Thanks for your reply, wue. Actually I believe I set them right, please correct me if the following configuration is wrong. What I did is just like this:
in file named application-dev.yml, I made the datasource section like this:

        dataSourceClassName: com.mysql.jdbc.jdbc2.optional.MysqlDataSource
        url: jdbc:mysql://my-aws-rds-endpoint-address:3306/mydbname
        data

[2015-05-28 20:24] moifort commented on #1526
:+1:

[2015-05-29 05:50] jdubois commented on #1541
Have a look in the log to see if you use the right profile.

This is not a bug or a feature request, so I'm closing this ticket.

[2015-05-29 05:50] #1541 closed

[2015-05-29 08:36] jksoftpro commented on #1526
:+1:

[2015-05-29 11:17] deepu105 commented on #1469
@gmarziou ya this looks better. but both dist and server is the same in your config rite?is that useful? also did includepath work for you? without altering the imports path in scss?

[2015-05-29 13:56] zergxyz commented on #1541
@jdubois Okay, is there a user-group for me to check with?

[2015-05-29 14:08] jdubois commented on #1541
We have Stackoverflow, and the chat, for this kind of questions, please read:
http://jhipster.github.io/help.html

[2015-05-29 14:42] jdubois commented on #1346
Closed with https://github.com/jhipster/generator-jhipster/commit/aff900e4a2bbedbd0a50227b49261c4ab4a25edf

[2015-05-29 14:42] #1346 closed

[2015-05-29 16:35] svennela commented on #1541
Looks like it is DNS issue. run this command on your EC2.. Good luck.
 echo "127.0.0.1 $(hostname)" >> /etc/hosts

[2015-05-29 17:01] gmarziou commented on #1469
Yes the imports path has to be altered but it was the same with compass as I documented it here:

http://jhipster.github.io/customizing_bootstrap.html

[2015-05-29 17:25] ivanursul opened #1546 "Jhipster mvn clean install"
Hi everyone!
I don't need to load context while executing mvn clean install  goal, how can I disable it ?

[2015-05-29 17:27] ivanursul opened #1547 "Jhipster mvn clean install"
Hi everyone!
I don't need to load context while executing mvn clean install  goal, how can I disable it ?

[2015-05-29 20:33] atomfrede commented on #1547
What exactly do you mean with loading context?

[2015-05-30 04:01] deepu105 commented on #1528
I faced this issue as well but i manually fixed it by removing the mapped by reference, not sure if its the same issue you are facing I had one-to-many self relationship. Havent yet tested if it works as expected, but it atleast cleared compilation and is building properly

[2015-05-30 04:49] deepu105 commented on #1530
@atomfrede Hi did you find anything on this? let me know if you want me to try out something in wndows

[2015-05-30 04:50] deepu105 commented on #1514
@slandelle then i guess we might have to borrow the same trick for gradle

[2015-05-30 04:58] atomfrede commented on #1530
Sorry been quite busy yesterday and the day before need to watch Google I/O after work 😊 I hope I find some time on Sunday.

[2015-05-30 06:28] ivanursul commented on #1547
When I run mvn clean install my context is beaint loaded.I was thinking that this is because of specific tests, so just for interest I removed all the tests and context is still beind loaded.

The reason I am asking is that I think it's too hard for me to load it every time, I would like to keep it simple

[2015-05-30 08:11] jdubois commented on #1546
Sorry this is not a bug or feature request, please post your question on SO (see http://jhipster.github.io/help.html )

[2015-05-30 08:11] #1546 closed

[2015-05-30 08:14] jdubois commented on #1547
Can you post your question to SO? Please read http://jhipster.github.io/help.html

I guess you don't want to load your Spring context (hard to understand, "context" can mean many things), in that case you need to remove the @RunWith(SpringJUnit4ClassRunner.class) tests

[2015-05-30 08:14] #1547 closed

[2015-05-30 08:40] dancancro commented on #1528
This is too hard. I give up.

[2015-05-30 12:49] jdubois commented on #1528
I will add a new documentation page for entity relationships. I agree this is hard.
For those who like UML, the jhipster-uml project will be another solution.

[2015-05-30 13:14] deepu105 commented on #1528
Yes plz add that, it took me really a lot of trial and errors to figure out entity things, i guess lot of us would be having same problem so a detailed page on entity relationship and how to generate each relationship type would be great

[2015-05-30 13:19] RagnarFrunck opened #1549 "No entites stored in DB, JHipster 2.14.1"
Hi, I really like the JHipster project and wanted to check out the new features and have therfor created a test project.

Everything is generated/run without any problem (see posted log),
When I login as admin and wants to create a new entity object and saves it, nothing really happens.
I run agaist H2 memory DB, and have verified by the H2 GUI console.

Is this a bug or is it something I do not u

[2015-05-30 14:46] jdubois commented on #1549
I don't see the PersonResource being called to save the entity, so this is "normal".

Can you have a look in the debug console of your browser, to see if you have some error in the UI? Does it try to call the controller?

[2015-05-30 15:51] RagnarFrunck commented on #1549
Well, normally this work "out of the box", not a single line is manual changed by me.
Should it not work to just create an entity from the admin UI and make it persistant?

I cannot se any calls to the Controller, but the frontend code, javascript is not my strong side.

No errors in the logs

[2015-05-30 16:36] deepu105 commented on #1549
Did you rebuild and run again after entity creation?

[2015-05-30 16:41] deepu105 commented on #1549
Oops sorry, you have rebuild it seems. But anyway can you recompile again and try?

[2015-05-30 16:51] RagnarFrunck commented on #1549
Sorry to say, that a recompile do not change anything for me
tried mvn clean, mvn compile before I run mvn spring-boot:run

[2015-05-31 01:24] nayaniitg commented on #1549
Same issue here as well.

[2015-05-31 03:59] deepu105 commented on #1549
The DateUtilsProvider seems to be causing error
[code]

[2015-05-31 04:07] deepu105 commented on #1549
@jdubois  this was a new change isnt it?

[2015-05-31 04:13] deepu105 commented on #1549
@RagnarFrunck
for time being add  <script src="scripts/components/util/dateutil.service.js"></script> to your index.html

[2015-05-31 05:00] jdubois commented on #1549
Ah yes this was a PR I merged, I didn't realize it was going to be included in 2.14.1 and I didn't test it!! You are probably right!

Too bad the master branch is currently broken, I'll do a 2.14.2 release for the maintenance branch, probably

[2015-05-31 10:06] RagnarFrunck commented on #1549
Thank you for finding the problem, it works perfectly now again.

[2015-05-31 10:08] #1549 closed

[2015-06-01 03:16] iuricmp commented on #874
adding those lines, worked for me:
[code]
No need to change class name.

[2015-06-01 05:05] inewmarch01 opened #1551 "MapStruct defaultComponentModel"
Hello Community,

First of all really enjoying jhipster, I have been using it for a few months and has really made my life allot easier.

I have been playing around with the new release's and using the MapStruct feature that was added in V2.13.0 and tried generating a simple new entity with one field. After my entity was generated and I ran the application I get below error on the applications sta

[2015-06-01 05:11] jdubois commented on #1551
Hi! Thanks for your feedback!
Yes this line has to be there, maybe I forgot to put it into the template, I need to check.

[2015-06-01 07:05] cbornet opened #1552 "Don't assume an empty database in tests"
To speed up the tests, I use Liquibase to globally feed some test data set before running them (my tests can work on huge data sets).
This works well except that the tests "checkXXXIsRequired" fail because they assume that the database is empty.
It would be more flexible to just check the database size before the test and verify that it hasn't changed at the end (as this is done for other tests).

[2015-06-01 07:09] jdubois commented on #1551
@inewmarch01 so I've checked and the line is here, but indeed if you build with your IDE instead of Maven, this is going to fail.

- Maybe I have a specific configuration: if more people have this issue, I can do a "hot fix" very quickly
- Otherwise I'll add the `componentModel = spring`annotation on DTOs by default: it's indeed better to have it here by default, in case people don't build with Ma

[2015-06-01 07:16] #1551 closed

[2015-06-01 07:18] inewmarch01 commented on #1551
@jdubois thank's for that!

I will just manually add the componentModel for now.

[2015-06-01 07:32] aman7000 opened #1553 "Feature Request: Add database support for MemSql Database"
MemSql is a NewSql Database much better than MySql, it is in-memory Database with support for Analytics with column store feature. Can be scaled to multiple servers for free.
It has a free community edition which will be free forever.
link http://www.memsql.com/
Even MySQL has an enterprise edition.
The speed of this database is very high and as on today this database is faster than Oracle and sca

[2015-06-01 07:53] wuethrich44 commented on #1552
I improve the tests in this PR #1276. But I can't find the test which fail in your case. Maybe you could provide a PR?

[2015-06-01 08:10] jdubois commented on #1553
Is this some kind of spam??
@aman7000 was created today, as never done anything, and is now doing this "feature request"?? This is like the 3rd time I get this from NewSQL, so now I'm fed up with them -> NewSQL will not be supported

[2015-06-01 08:10] #1553 closed

[2015-06-01 08:19] Mavlarn opened #1554 "Is necessary to add a 'local' profile."
In my dev, I use H2 for local dev environment, and mysql/postgresql for product.
But, every time I prepare to use prod profile to deploy, there will be always some kind of problems, because of the difference of h2 and mysql. So I need to modify the dev profile to use mysql, test and run for some days before I deploy to production.Or, create a local profile for h2, and dev profile for mysql. Then I

[2015-06-01 08:51] wuethrich44 commented on #1554
I think a better approach is to use a staging environment that is similar to the production environment. Then you can test your changes in the staging environment and if all works well you can deploy your changes to the production environment.

[2015-06-01 08:51] cbornet commented on #1552
It seems it was added on master branch after you forked.
The method is:
public void check<%= fields[fieldId].fieldInJavaBeanMethod %>IsRequired() throws Exception {
between create() and getAll().

[2015-06-01 08:55] wuethrich44 commented on #1552
Oh yes they add this test later. Could you fork this project and fix this test?

[2015-06-01 09:22] tagliola commented on #1552
IMO best practice would be to always assume the database to be empty at the
start of a test and try to clean the database after you. If you would need
some large set of data and group the tests due to test runtime
optimization, I would assume this would be done in a separate set of tests
and possibly a separate build. (E.g. it's not a unit test any more).

On 1 June 2015 at 10:55, Fabian Wüthrich

[2015-06-01 09:28] Mavlarn commented on #1554
@wuethrich44 , my current solution is to use 'dev' profile like 'staging environment' as you said, and a 'local' for developing with h2 and other local environment.

[2015-06-01 09:46] deepu105 commented on #1498
@wuethrich44 how did I miss this thread :joy: I'm thinking of AWS sub generator as well, I primarily use AWS for hosting prototypes and stuff and was thinking of adding that as a sub.

I was looking into the AWS node-sdk (looks neat) and the AWS CLI

Let me know if you need any help

[2015-06-01 09:59] deepu105 opened #1555 "Paths altered by usemin in prod build doesnt work with a context in app servers"
Was looking into this [issue](https://stackoverflow.com/questions/30404042/jhipster-running-application-inside-a-context-image-and-glyphicons-problems#) raised by JH user @iuricmp and found the below.

Not sure if this is a usemin plugin issue or a config issue on JH side

Issue:

The image paths and font paths in `*.vendor.css` and `*.main.css` works only if the application is run from the root c

[2015-06-01 10:09] deepu105 commented on #1555
will try to find if there is a solution that can be done on Jhipster side, but havent used usemin much so will be good if somebody who knows it better can take a look as well

[2015-06-01 10:17] wuethrich44 commented on #1498
That sounds great I think there is a real demand on a AWS sub generator. My first approach was to use the [EB cli](http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/eb-cli3.html). I get jhipster running but I can figure out how to retrieve the RDS database name. But I will take a look in the node sdk...

[2015-06-01 10:25] deepu105 commented on #1498
EB cli cant get RDS details, you have to either use AWS CLI or AWS SDK

The node SDK supports RDS and EBS along with other stuff
Btw what is your approach on this? if you have something on a repo let me know ill take a look as well

[2015-06-01 10:30] deepu105 commented on #1555
Thats strange!! websocket seems to work if i change `/websocket/tracker` to `websocket/tracker` in `tracker.service.js` but says its a syntax error

[code]

[2015-06-01 11:14] htekgulds opened #1556 "org.postgresql.util.PSQLException: ERROR: type "datetime" does not exist"
When I try to run fresh installation of jhipster on Intellij Idea, I get the following error basically saying datetime doesn't exist in postgresql:

[code]

[2015-06-01 12:03] fontanellif opened #1557 "Angular error: Can't find variable: angular"
Hi, I'm try to create a simple project using the master branch, but i found those errors:

- After the "yo jhipster" command, the commands "npm install & bower install" will not be automatically run. So i have to do this manually.

- When i try to start the project i get this error several time in the browser console:
[Error] ReferenceError: Can't find variable: angular
	global code (app.js, line

[2015-06-01 12:25] gmarziou commented on #1557
It seems that angular script is not loaded have you checked the index.html maybe the grunt wiredep task did not run

[2015-06-01 12:43] fontanellif commented on #1557
I don't know very well angular and grunt, this is my index.html

[code]

What dependencies are missing?
How can i check if the grunt wiredep task did run?

Thank you

[2015-06-01 12:50] gmarziou commented on #1557
Well, clearly the bower components part has not been expanded.
Try running 'grunt serve'

[2015-06-01 12:53] gmarziou commented on #1557
Please read "Using the Java server and Grunt together" in http://jhipster.github.io/development.html
This is really best way to avoid problems like this and to be efficient in developing client side .

[2015-06-01 13:53] fontanellif commented on #1557
Thank you!! Now it is working. Just another question, i have the same problem when i deploy the war (dev profile) on tomcat. How can i fix this issue? (I don't try to package the app with prod profile)

And regarding the other issues, the commands "npm install & bower install", Can you help me ?

[2015-06-01 13:59] shineycoding opened #1558 "Error:java: Annotation processor 'org.mapstruct.ap.MappingProcessor' not found"
Hi, I'm try to right-click on the "Application" class at the root of your Java package hierarchy, and run it directly. but the console show some error:

Information:Using javac 1.8.0_45 to compile java sources
Information:java: Errors occurred while compiling module 'bookstore'
Information:2015/6/1 18:00 - Compilation completed with 1 error and 0 warnings in 4 sec
Error:java: Annotation processor

[2015-06-01 14:21] wuethrich44 commented on #1498
I think the node sdk suits best for jhipster because we use node anyway. I will have a look on the sdk this week and provide any progress in this issue.

[2015-06-01 14:33] jdubois commented on #1558
What IDE are you using?

[2015-06-01 14:40] shineycoding commented on #1558
The IDE is IntelliJ IDEA 14.0.2

[2015-06-01 14:57] jdubois commented on #1558
OK, like me then :-)
I thought annotation processing was off by default, did you turn it on? I still haven't found a good way to make it work inside the IDE, so I compile with Maven instead (and if you do so, it should work)

[2015-06-01 14:59] jdubois commented on #1557
I'm closing this because your first question is solved.

For the second question -> I think it is the same as #1555 can you check it out?

[2015-06-01 14:59] #1557 closed

[2015-06-01 15:01] jdubois commented on #1556
Looks like this is an issue with your version of Postgresql: https://liquibase.jira.com/browse/CORE-1351

[2015-06-01 15:09] jksoftpro opened #1559 "Error: Cannot find module 'yeoman-generator'"
Hi guys,

I am using the development master branch, working on Mac OSX 10.10. Any ideas why I would get this error:
Any help greatly appreciated.

$ yo jhipster
module.js:338
    throw err;
          ^
Error: Cannot find module 'yeoman-generator'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    a

[2015-06-01 15:27] shineycoding commented on #1558
@jdubois Turned on the annotation processing, but this problem isn't solved yet.

![1](https://cloud.githubusercontent.com/assets/12545744/7916294/cd76ce58-0837-11e5-9929-c528f2217726.png)

Yes, compile with Maven is successful.

[2015-06-01 15:47] jdubois commented on #1559
You had an error when installing, try `npm install`.

[2015-06-01 15:47] #1559 closed

[2015-06-01 16:43] htekgulds commented on #1556
But I'm using the latest (9.4.2) version of postgresql. Should I use an
older version?

1 Haz 2015 Pzt, 18:01 tarihinde, Julien Dubois <notifications@github.com>
şunu yazdı:

[2015-06-01 17:03] jdubois commented on #1556
Sorry, I thought that affected older versions... I'll reopen this up to have a look.
In the meantime, I'm on 9.3 and it works, so yes you should downgrade (or help me find a solution for 9.4!)

[2015-06-01 17:18] htekgulds commented on #1556
Ok I'm also taking a look around the net. Meanwhile, I will try with 9.3 and return with the results

[2015-06-01 17:18] htekgulds commented on #1556
Great project btw :) I'm learning a lot from it. Keep up the good work!

[2015-06-01 17:30] thekalinga commented on #1149
Spring session can work with hazelcast too

https://github.com/spring-projects/spring-session/tree/1.0.1.RELEASE//samples/hazelcast

Any plans around using the spring session with jhipster?

[2015-06-01 19:25] atomfrede commented on #1530
So I just tried ``mvn -Pprod spring-boot:run`` on my linux machine both with ``grunt`` and ``gulp``. While ``grunt`` works fine ``gulp`` just results in the attached screenshot. Both work fine in ``dev`` profile. So I guess it has nothing to do with ``gradle`` or ``windows``.

![bildschirmfoto von 2015-06-01 21-24-34](https://cloud.githubusercontent.com/assets/203401/7921267/a19ed826-08a4-11e5-94d

[2015-06-01 20:01] cbornet opened #1561 "Jackson parameters in test conf file are ignored"
It seems the MockMvc uses its own MappingJackson2HttpMessageConverter and not the one configured by the Spring app. So parameters in the test application.yaml like WRITE_DATES_AS_TIMESTAMP or DEFAULT_VIEW_INCLUSION are not used.

I worked around this by injecting MappingJackson2HttpMessageConverter and using it to configure the mock like this:
[code]
But I am not sure this is the good way to go. I

[2015-06-02 00:57] deepu105 commented on #1530
I thought so. So gulp is skipping index.html while copying resources to the dist folder irrespective of platform.

[2015-06-02 03:28] deepu105 commented on #1555
might  not have time till weekend to debug this, so if anyone else can take a look plz do so!

[2015-06-02 07:01] aman7000 commented on #1553
This is not spam. I am a real user. As per me the requested feature is
important. If you don't intend to make it it's fine. I'll find a way to get
it done myself.
There is no need to shout.

Regards,
Aman S Bains

On Mon, Jun 1, 2015 at 1:40 PM, Julien Dubois <notifications@github.com>
wrote:

[2015-06-02 08:12] jdubois commented on #1553
Dear Aman,
I'm sorry but your account was created yesterday just to post this "feature request", and you talk like a marketing guy. It's also the 3rd time I get this kind of stuff for MemSQL.
I've looked at "Aman S Bains" on the Internet and I couldn't find anything. Who are you and what do you want to do with JHipster and MemSQL?
Julien.

[2015-06-02 08:23] bbbenja commented on #1470
+1 on Windows, html templates are not watched. It works well with index.html file, and controller files.

[2015-06-02 08:26] jdubois commented on #1470
I'm just having it working with my main.html file -> can you test this one also? I don't understand how this happens.
Or maybe send me a screencast of what you do?

[2015-06-02 08:34] jdubois commented on #1552
As we use the @Transactional annotation on tests, everything should rollback at the end of the tests -> so normally the database is always in a "clean" state
So you shouldn't have to clean up things manually, just validate that at the end the test everything looks like it should, and then let the rollback clean up for you.

I'm not sure there is still an issue here, as I don't understand all the c

[2015-06-02 08:34] #1552 closed

[2015-06-02 08:37] jdubois commented on #1555
@deepu105 yes we've already had that kind of error, as I assume the application is running on the "root" context.
This is wrong from my side, as indeed people might want to run the app in another context, and we need to have relative paths everywhere (which shouldn't be too hard to do).

[2015-06-02 08:39] cbornet commented on #1158
This will be the way of mapping java 8 dates in spring-data-jpa:
https://github.com/spring-projects/spring-data-jpa/blob/master/src/main/java/org/springframework/data/jpa/convert/threeten/Jsr310JpaConverters.java
Has anybody tried to use it ? If it works, I think it would prevent the need for the @Type annotations and jadira dependency.

[2015-06-02 08:41] jdubois commented on #1554
This is something I've done on purpose, in fact, here is the idea:
- We only create the minimum useful profiles
- If that's enough for you, it's perfect -> we don't want to give you too many useless options
- If you need more profiles, you should of course create them, it's quite simple to do with Spring

Then, maybe having only "dev" and "prod" is too simple, and we could have a "stage" profile.

[2015-06-02 08:41] #1554 closed

[2015-06-02 08:43] jdubois commented on #1158
@cbornet I haven't tried it, but yes that would be the way to go!

[2015-06-02 08:51] hantsy commented on #1158
I have used my custom JPA 2.1 converters in before projects, it worked. The converter classes are similar with the ones in the newest *spring-data-jpa*.

[2015-06-02 08:55] hantsy commented on #1158
Attached my converters here.

<pre>
@Converter(autoApply = true)
public class LocalDateTimeConverter implements AttributeConverter<LocalDateTime, Timestamp> {

    @Override
    public Timestamp convertToDatabaseColumn(LocalDateTime attribute) {

        if (attribute != null) {
           return Timestamp.valueOf(attribute);
        }

        return null;
    }

    @Override
    public LocalDat

[2015-06-02 09:32] Qinwroks commented on #1525
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-06-02 10:16] cbornet commented on #1158
Just copied
https://github.com/spring-projects/spring-data-jpa/blob/master/src/main/java/org/springframework/data/jpa/convert/threeten/Jsr310JpaConverters.java
and
https://github.com/spring-projects/spring-data-commons/blob/master/src/main/java/org/springframework/data/convert/Jsr310Converters.java
to my domain.util directory, added converters for ZonedDatetime and OffsetDatetime, removed jadira

[2015-06-02 10:16] #1532 closed

[2015-06-02 10:28] Infrag commented on #1158
I have used
https://github.com/spring-projects/spring-data-jpa/blob/master/src/main/java/org/springframework/data/jpa/convert/threeten/Jsr310JpaConverters.java

enabled them with annotation:

@EntityScan(basePackageClasses = {Application.class, Jsr310JpaConverters.class})

Don't need to copy anything.

[2015-06-02 10:38] FaustVs commented on #1470
Hi @jdubois - I've emailed you a quick screencast of this issue to the email address mentioned on your personal website. Please let me know if you have any queries, or would like further information.

Many thanks

[2015-06-02 11:56] cbornet commented on #1158
No need to put @EntityScan, the auto-scan already detects the converters

[2015-06-02 12:20] jdubois commented on #1556
@htekgulds I just tried it with version 9.4.2.0 and I had no issue...

- Tested LocalDate and DateTime fields
- I'm running it with http://postgresapp.com/ for Mac

So I'm sorry but I can't reproduce... If you find any information that would be really helpful, otherwise I just won't be able to help!

[2015-06-02 12:27] htekgulds commented on #1556
Maybe something else on my computer is causing it... I also managed to work
it on my home computer. The error was on my work computer. But oddly I
don't get an error other than datetime... I will keep digging, thanks for
the help

2 Haz 2015 Sal, 15:20 tarihinde, Julien Dubois <notifications@github.com>
şunu yazdı:

[2015-06-02 12:31] wuethrich44 commented on #1532
:+1: Thanks

[2015-06-02 12:50] fontanellif opened #1562 "yo jhipster loop"
Hi, it seems that there is a loop when i try to execute the "yo jhipster" command:
[code]

As you can see after check the index.html file, the process restart from the .gitignore.

I get this issue using the master branch

[2015-06-02 14:54] RagnarFrunck commented on #1526
:thumbsup:

[2015-06-02 15:23] cbornet commented on #1158
Also, does anyone knows why the ser/deser are declared by annotations and not set globally when configuring the JodaModule ?

I tried:
@Bean
    public JodaModule jacksonJodaModule() {
        JodaModule module = new JodaModule();
        module.addSerializer(DateTime.class, new CustomDateTimeSerializer());
        module.addDeserializer(DateTime.class, new CustomDateTimeDeserializer());
        m

[2015-06-02 15:41] jdubois commented on #1562
The master branch is in "development" so it really depends when you pulled the code.

Currently it's not in a very clean mode, as we are migrating to Yeoman 0.20.1 and it's a lot of trouble.

And at the moment I can't reproduce your bug.

That's why I don't consider this as an issue for the moment, we will see that when the upgrade is complete.

If you want to use a stable version, please use a ta

[2015-06-02 15:41] #1562 closed

[2015-06-02 17:48] fontanellif commented on #1562
@jdubois thank you for the explanation, but i don't know Yeoman and it's difficult for me debug this behavior, i will try and i will let you know.

[2015-06-02 20:39] jdubois commented on #1562
Currently the build is stable, so you might want to do a "git pull" and "npm link" to test again.

[2015-06-02 20:41] jdubois commented on #1470
Thanks @FaustVs : I see your error, and I agree everything should be working.
I just upgraded to the latest BrowserSync version, and I still don't have the issue (doing exactly the same thing as you) -> can try it again when the next version is released? Or can you test from the "master" branch?

[2015-06-03 03:58] winniwinter commented on #204
Hi, I'm just beginning to explore jhipster but it looks really very promising to me. But for me I immediatly think that frontend and backend should be optionally splittet in different modules/projects.
Basically I want to host the frontend on other servers than the backend APIs...that's in general why I would like the ability to split it into multiple modules.

[2015-06-03 04:25] pmarrone commented on #1130
I got `liquibase:update` running by changing the master file from this

    <include file="classpath:config/liquibase/changelog/00000000000000_initial_schema.xml"
         relativeToChangelogFile="false"/>

into this (I deleted the 'classpath' part):

     <include file="config/liquibase/changelog/00000000000000_initial_schema.xml"
         relativeToChangelogFile="false"/>

This fixed the `mvn li

[2015-06-03 07:40] cbornet commented on #1158
For Jsr310 serialization without model annotation, I used the following class:

public class Jsr310IsoSerializer extends JsonSerializer<TemporalAccessor> {

	private static DateTimeFormatter ISOFormatter = DateTimeFormatter.ofPattern("yyyy-MM-dd'T'HH:mm:ss'Z'").withZone(ZoneId.of("UTC"));

	public static final Jsr310IsoSerializer INSTANCE = new Jsr310IsoSerializer();

	private Jsr310IsoSerializer(

[2015-06-03 07:54] soffoalbert commented on #204
I agree with you Daniel.

On Wed, Jun 3, 2015 at 5:59 AM, Daniel <notifications@github.com> wrote:

[2015-06-03 08:17] gzsombor commented on #204
It seems that everybody wants to split the project differently - which would be nearly impossible  to support :wink:
Anyway, you can easily put your frontend code - the html and javascript into one apache server, or on a cdn, and have the backend served from other servers.

[2015-06-03 10:07] aman7000 commented on #1553
Dear Julien,

I am a developer currently working with Jaguar Software India
http://jaguarsoftwareindia.com/. My twitter handle is @aman_bains7
<https://twitter.com/aman_bains7>. On twitter also I requested for
Integrating MemSQL.

In my Company we are developing a Product using JHipster. MySQL performance
is very poor and our Product is not able to meet Client expectations.

So we were looking for

[2015-06-03 10:09] hantsy commented on #1158
@cbornet , There is a problem about the timezone display. I think it is better to format the date time according to the client local timezone, not UTC.

For persisting the datetime into database, using UTC instead is ok, but the custom Jackson ser/deser must convert the datetime between UTC and local timezone.

[2015-06-03 10:25] cbornet commented on #1158
@hantsy Outputing in UTC is the current jhipster behavior. I have no idea what would be the impact of displaying a timezone. I guess the format should be at least compatible with AngularJS and who knows what other date format. I kinda like the idea of keeping the 'Z' format as I believe any client language/framework should be able to parse it. Just an hint: jackson-datatype-jsr310 serializes timez

[2015-06-03 11:25] gzsombor commented on #1553
I've never used MemSQL, so I got all the informations from looking from their site. For me it seems, that the performance improvements are coming from having all of the data in memory. Which is not a great thing, as it's not clear what kind of persistence do they guarantee. (I fear, it's same as mongodb, where there isnt any guarantee at all).
If I were you, I would put my database on SSD, or crea

[2015-06-03 11:59] FaustVs commented on #1470
No worries @jdubois - I'll certainly try again when the next version is released, and will have a look at testing from master branch in the meantime.

To make you aware - I've been doing a bit more testing on this issue to try and isolate the problem. I don't thinks its necessarily a 'JHipster' problem, and may potentially be a BrowserSync one.

I took one of the sample BrowserSync projects from G

[2015-06-03 12:35] aman7000 commented on #1553
As per my knowledge MemSQL constantly backs up the RAM data to disk in the
form of log files and time to time snapshots. At any given time if the
system crashes, the recovery can be done automatically from the latest
snapshot and the logs. There cannot be any data loss if you configure the
Database.

Please read the FAQ on the link
http://docs.memsql.com/latest/faq/#what-is-the-durability-guarante

[2015-06-03 12:36] wuethrich44 opened #1565 "Password length on server side is not checked correct"
Today i wanna change the password length to 8 chars. Then I noticed while the password reset the password is not checked on the server side in this method:
[code]
During the registration the password length is check in the UserDTO and while the password change there is a fix in this PR https://github.com/jhipster/generator-jhipster/commit/16fb9338e46554581ee3a709b2c2ca9388cb3abd.

Furthermore the

[2015-06-03 14:17] cbornet opened #1566 "Add type Double to entity generator"
The BigDecimal has advantages over Double when dealing with currency values but for other numeric values that don't need an exact mapping to decimal, float/double types are more performant (especially regarding DB access) and they are more supported by libraries.

[2015-06-03 15:08] jdubois commented on #204
@gzsombor yes a lot of people want this, yet I don't understand why! For me multi-modules have always been annoying to use, didn't really split the project in "modules" (this is just for building), and people never understood how to use those effectively (most people don't understand how they work).

Besides, it goes against the idea of doing "micro services" with JHipster -> my current goal would

[2015-06-03 15:11] jdubois commented on #1553
You shouldn't have any performance issue with MySQL, at least I wouldn't go with another database only for this reason. As @gzsombor said, do you use your 2nd level cache correctly? Did you have a DBA audit your schema?

From what you say, MemSQL looks a lot like Cassandra, which is much more widely used, and is truly Open Source (and not just "free"). We already have support for Cassandra, did yo

[2015-06-03 15:49] deepu105 commented on #204
I agree with @jdubois to an extend. In my initial days as a developer i have worked on some huge enterprise applications with multiple modules for an airline client and personally it was annoying as it made my work more complex,  the goal was to use same business logic layer for webservice, web and batch. Build was ant though which would package everything into an ear. Then i guess in the end its

[2015-06-03 16:01] jmirc commented on #204
I agreed with you. I did a presentation last month on Netflix OSS using JHipster with micro-services and each service had his own module including JHipster. I don't really understand why JHipster should be split in two different modules. I would like to understand the cases and the motivation for this.

[2015-06-03 16:11] winniwinter commented on #204
maybe I'm missing the point here. I was thinking for load balancing reasons. The API could run on multiple instances with a load balancer in front. The UI would reside maybe an another instance(s) and access the API-load balancer.
I just thought decoupling the client from the API would make sense.

[2015-06-03 16:25] gzsombor commented on #204
I've also saw enterprise multi module system, which was so wrong, that it even had circular references, so the first, clean build failed always :wink:  But otherwise the modularization could help enormously :
 * so you can be sure, that if you change something in one module, it doesn't affect anything to an unrelated module.
 * Or you don't accidentally write a code in web layer, which rely on som

[2015-06-03 18:29] atomfrede commented on #1565
Damn, again my fault :( Yes while resetting the password it is not checked on server side.

So I think all your suggestions are reasonable and should be done. I guess I'll find some time in the next days to provide a PR.

[2015-06-03 20:50] jdubois commented on #1565
Yes this all looks good. I'll keep the field name `password`, thus.

[2015-06-04 08:22] aman7000 commented on #1553
I have some complex calculations to be performed and stored each end of day
and that service is failing because on MySQL the calculations and storing
it is taking too long and is not finishing. We are unable to complete that
operation.
Because of this the software has totally failed.

We need Joins and full sql which is not available in Cassandra. So we
cannot use it.

As I see it MemSQL is a silv

[2015-06-04 08:30] jdubois commented on #1470
@FaustVs if it fixes the issue for Windows users, and if it doesn't have any effect on performance (this is why I tried to have only a subdirectory), then yes, can you send a PR?

[2015-06-04 09:00] gmarziou commented on #1553
From what [their doc says](http://docs.memsql.com/2.6/concepts/connectivity_include.html#application-compatibility) and what you reported, they use MySQL jdbc driver but with some incompatibilities that would require work in Spring JPA/Hibernate layer in JHipster and also as you said may not work with Liquibase.
This seems to be a non trivial task, maybe the JHipster team has higher priorities on

[2015-06-04 10:29] tsukhu opened #1567 "activate user controller not getting called"
I have tried out multiple versions of jHipster including the latest version (2.14.2) and the sample on github and get the same issue.

On creating a new user the main contains a link of this kind for the activation
http://127.0.0.1:8080/#/activate?key=92798744378986630559
However this does seem to get called at all. It there an issue with the passing of parameters to AngularJS ..

[2015-06-04 10:43] tsukhu commented on #1567
Ok - here is what is not working , I have mailtrap.io  configured as the main server and when I click on the activation link from the inbox then it does not work , but when I copy the activation url and directly use the same on the browser then it works .. I am missing something as is this the expected behaviour

[2015-06-04 12:24] jdubois opened #1568 "Upgrade to Spring Boot 1.2.4"
https://spring.io/blog/2015/06/04/spring-boot-1-2-4-released

[2015-06-04 12:28] jdubois commented on #1567
The name of your server is not correct, it shouldn't be "127.0.0.1".

We get this using a `request.getServerName()` in the `AccountResource` controller -> I don't know why this is wrong.

You could either re-code this part (write the server name in the application.yml file and then use it there), or maybe have a look at your server configuration? I don't know how this methods gets the server name,

[2015-06-04 12:33] jdubois opened #1569 "Manage uni-directional one-to-many relationships"
To do the uni-directional mapping manually:
    - Remove the "mappedBy" attribute on your `@OneToMany` annotation
    - Generate the required join table: you can do a `mvn liquibase:diff`

This is explained [here](https://nikojava.wordpress.com/2011/08/04/essential-jpa-relationships/#jpa-relations-6)

This wouldn't be hard to implement, just generate automatically the join table with Liquibase.

[2015-06-04 12:59] tsukhu commented on #1567
Thanks a lot .. I'll have a look and re-try this.

[2015-06-05 04:48] tsukhu commented on #1567
The problem for me was when I was clicking the HTML activation email from mailtrap.io (Free version) .. some how this just does not work (The activate route is not called at all) . However if I save the email content as an HTML file and there it works fine. I am not sure what but it has something to do with the mailtrap.io .. may be it is just supposed to be used as a mail dump..
I am closing this

[2015-06-05 04:48] #1567 closed

[2015-06-05 04:57] deepu105 opened #1571 "Feature Request: add metrics and health monitoring for hazelcast"
currently there is metrics for ehcache it would be useful have the same for hazelcast as well.

This can be done using [Statistics API](http://docs.hazelcast.org/docs/3.4/manual/html/management.html)
If somebody has already done this it would be nice to have it in JH, else ill try to do a PR after trying it out in my application first.

[2015-06-05 05:36] tsukhu commented on #1567
Here is the workaround to make it work in mailtrap.io .. Apparently the mail is shown in an iframe with multiple tabs and clicking from within the iframe is causing some sort of weird behaviour . I am using Firefox here where you can  rightclick on the iFrame displaying the email and choose "Open Frame in New Tab" .. and then it works ..
![openframe_innewtab](https://cloud.githubusercontent.com/as

[2015-06-05 05:40] tsukhu commented on #1567
One possible improvement to the activation would be to handle keys that are not found .. at present even if I give a non existent key I get a success .. with an OptionalEmpty key
![activate_worksforincorrectkey](https://cloud.githubusercontent.com/assets/846306/8000090/6b9edcc2-0b73-11e5-83e5-604800c79b9b.PNG)

[2015-06-05 08:56] wuethrich44 commented on #1565
:+1: @atomfrede Thanks! What do you think about to extract the password length in two constants and use this constants in your new function and the UserDTO?

[2015-06-05 09:03] atomfrede commented on #1565
Good idea😀

[2015-06-05 09:08] wuethrich44 commented on #1565
Could you implement that in your existing PR?

[2015-06-05 09:14] atomfrede commented on #1565
:white_check_mark:

[2015-06-05 09:35] wuethrich44 commented on #1565
nice thanks :+1:

[2015-06-05 13:03] deepu105 commented on #1567
You mean you can activate a user by passing a non existing random ley?  If thats the case its a security bug @atomfrede you may want to look at this

[2015-06-05 14:58] tsukhu commented on #1567
There is no activation as the key is not found but the message to the user is wrong as the logic does not throw an exception

[2015-06-05 15:24] atomfrede commented on #1567
@tsukhu Yes that message is strange. But otherwise anyone might be able to just try out any keys to activate other users.

[2015-06-05 15:55] tsukhu commented on #1567
@atomfrede should the username also be provided to derisk the chance of random activation

[2015-06-05 16:44] gmarziou commented on #1508
Just trying it on my project, the [API has completely changed](https://github.com/springfox/springfox/blob/master/docs/transitioning-to-v2.md)

[2015-06-05 17:03] jdubois opened #1572 "Fix the Gradle build in v2.15.0"
The Gradle build fails in the latest v2.15.0, see https://drone.io/github.com/jhipster/jhipster-sample-app-gradle

[2015-06-05 17:04] jdubois commented on #1572
@atomfrede it might my fault, I'll have a look at it during the week end

[2015-06-05 17:17] atomfrede commented on #1572
Somehow the sample app is not generated correct:

[code]

Just generated a fresh app on my machine, build file is generated correctly.

https://github.com/jhipster/jhipster-sample-app-gradle/blob/master/build.gradle

[2015-06-05 22:29] cbornet commented on #1552
This is the exact same reasons as #1265 which you said was a good idea !!

[2015-06-05 22:58] deepu105 commented on #1572
I fixed this in my oracle support PR, anyway will push a separate PR, I guess due to changes to yeoman 0.20 ${} doesnt get parsed I guess, this should be generated as 1.7 or 1.8

[2015-06-06 00:25] cbornet opened #1574 "Test fails if entity table is loaded byLiquibase"
This issue is a follow up of #1265 #1276 and #1552.
If you have a required field in an entity, the test checkXXXIsRequired will fail if the entity table is preloaded by Liquibase.
Issue #1265 already fixed some tests but since then the test on required field was added and doesn't support preloaded tables.
The reason why it is useful to have Liquibase preload the database is explained in #1265.

[2015-06-06 05:33] dilipkrish commented on #1508
Let me know if you  need help with this. Swagger core Api is changing as well (package names are moving to `io.swagger` from `com.wordnik`, so you might want to hold off until next week or wait for 2.0.2, which will be based on the released version of swagger-core.

Also, there are a few of performance improvements planned for 2.1 that should make swagger even snappier.

Also I might add that, we

[2015-06-06 11:15] #1572 closed

[2015-06-06 11:39] atomfrede commented on #1572
I think that part coded someone else. But when looked at it yesterday the same question came into my mind.

[2015-06-06 13:56] arsen-hakobyan commented on #1558
Hello,
The same issue in IntelliJ IDEA 13.1.1

[2015-06-06 16:54] shineycoding commented on #1558
@arsen-hakobyan , you can refer to this link http://stackoverflow.com/questions/30526250/errorjava-annotation-processor-org-mapstruct-ap-mappingprocessor-not-found

[2015-06-06 21:47] arsen-hakobyan commented on #1558
@shineycoding Thank you very much.

[2015-06-06 22:54] gmarziou commented on #1508
Thanks @dilipkrish with the examples, I was able to make it work.

I noted that URLs are different from jhipster had:

http://localhost:8080/v2/api-docs  for the JSON description

http://localhost:8080/swagger-ui.html for the UI

![springfox](https://cloud.githubusercontent.com/assets/361007/8021798/b75c3820-0caf-11e5-91fd-aea670132ea5.png)

[2015-06-06 22:54] gmarziou commented on #1508
I have to do some cleanup and then I'll submit a PR

[2015-06-07 02:34] michaelisvy opened #1576 "naming conventions on the Javascript side"
Hi,
I understand the existing naming conventions are inspired from angular-fullstack.

- The Main Controller's file is called `main.controller.js`
- The controller placed in the scope is called `MainController` (with capital M)
- The corresponding service is called `Principal` and stored inside `principal.service.js`

I could be wrong, but my guess is that JHipster users are mostly Java developers

[2015-06-07 04:54] deepu105 commented on #1576
Dude that would  be hell lot of refactoring for something which is not so trivial. I mean conventions are opinionated and I would say its not so difficult to understand the current JH convention which is close to what most of angular world follows.
Also if someone is moving from JSP to angular they are expected to learn angular in the first place and trust me the naming convention wont be least of

[2015-06-07 10:02] atomfrede commented on #1576
I would like to keep the current conventions. JH helps java developers to understand and learn best practice JS and JS developers to get started with best practice java code.

[2015-06-07 13:10] gmarziou opened #1578 "Cannot find module 'ejs' when running jhipster 2.15.1"
Fresh install of node 0.12.4 using nvm on Ubuntu 15.04 64 bits, I followed the installation instructions of the jhipster site.

jhipster: 2.15.1
yo : 1.4.7

Got this error when running yo jhipster*;
I fixed it with 'npm install ejs'.

$ yo jhipster
module.js:338
    throw err;
          ^
Error: Cannot find module 'ejs'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Mod

[2015-06-07 13:12] atomfrede commented on #1530
I've found that removing
[code]
Generates all html files in a minimied version. But it doesn't keep the folder structure, so they can't be found. Furthermore (after copying the files to the correct location) the glyphicons fonts could not be found. So it seems the gulp build is seriously broken at the moment.

![unbenannt](https://cloud.githubusercontent.com/assets/203401/8024086/86943f4e-0d27-11e

[2015-06-07 13:15] deepu105 commented on #1530
great timing, I was going through this issue as well

I noticed that the gulp build isnt as complete as the grunt build, lot of things seems to be missing

[2015-06-07 13:23] deepu105 commented on #1530
the minifyhtml task seems to be processing the html files

cwd:   D:\Projects\jh5
base:  D:\Projects\jh5\src\main\webapp\
path:  D:\Projects\jh5\src\main\webapp\index.html
stat:
       dev: -389331269,
       mode: 33206,
       nlink: 1,
       uid: 0,
       gid: 0,
       rdev: 0,
       blksize: undefined,
       ino: 562949954573346,
       size: 8358,
       blocks: undefined,
       atime:

[2015-06-07 13:33] deepu105 commented on #1530
when I try removing minifyhtml alone it seems to generate correct structure, but html files arent minified

![image](https://cloud.githubusercontent.com/assets/1107223/8024176/ae824f98-0d5c-11e5-8193-d2f39638f087.png)

[2015-06-07 13:41] deepu105 commented on #1530
@atomfrede I got working with another plugin, https://github.com/jonschlinkert/gulp-htmlmin

Let me know if it looks good to you, Ill test further and do a PR

[code]

[2015-06-07 13:57] deepu105 commented on #1530
OK tested and it works with `gulp-htmlmin`, so I guess the problem was with `gulp-minify-html`

[2015-06-07 14:29] atomfrede commented on #1530
:+1: looks good to me and works fine.

[2015-06-07 14:58] deepu105 commented on #1530
Ok ill push now

[2015-06-07 15:02] gmarziou commented on #1508
Here is [a commit showing changes required](https://github.com/gmarziou/sfox/commit/6080c6b474d7f6c356f5a28babcac95992880db3) on jhipster sample app.
Please review and let me know if you want a PR on generator or if you prefer to wait for springfox 2.1 re-packaging as announced by @dilipkrish

[2015-06-07 15:07] deepu105 commented on #1578
but its in the dependencies and should get installed in npm install rite
[code]

[2015-06-07 15:24] seghers commented on #1578
@gmarziou Had the same err, Did the same solution

[2015-06-07 15:24] KuchiVanDerK commented on #1578
I had the same Problem
OSX Yosemite 10.10.3
npm install -g ejs
did the trick

[2015-06-07 16:52] gmarziou commented on #1578
@deepu105 unless I'm wrong these are the dependencies of the generated project, here the project has not been generated yet.

[2015-06-07 18:46] gmarziou commented on #1578
@KuchiVanDerK using -g could be a source of problems too, rather install locally

[2015-06-07 18:53] gmarziou commented on #1578
OK, it's my fault I did not install generator-jhipster globally. So, I failed foliowing the instructions till the end :(

[2015-06-07 19:07] gmarziou commented on #1578
Spoken too quick, the problem is still here even after installing genertor-jhipster globally.

[code]

ejs is missing so I guess something is wrong in package.json

Maybe ejs should be in dependencies rather than devDependencies

[2015-06-07 20:19] jdubois commented on #1578
Maybe I shouldn't have put it in the "devDependencies", but in the "dependencies"?
As this is installed on my laptop, I don't see the difference... That would mean it fails for everybody!!
And it's hard to test for me.

[2015-06-07 20:22] jdubois commented on #1578
Yes, looks like an issue, I'm correcting this ASAP.
I wonder why we didn't have more bug requests on this??? Anyone?

[2015-06-07 20:29] #1578 closed

[2015-06-07 20:30] #1530 closed

[2015-06-07 20:32] Selectorrr commented on #1370
Same problem here:
Im using generator-jhipster 2.15.1
.yo-rc.json
[code]

WebsocketSecurityConfiguration.java
[code]

[2015-06-07 20:53] leshane opened #1580 "Trouble running starter project"
I have followed the jhipster Creating An Application tutorial and have had trouble running the Application. My settings are as follows:

(1/14) What is the base name of your application? latticeCayenne
(2/14) What is your default Java package name? com.cayenne
(3/14) Do you want to use Java 8? Yes (use Java 8)
(4/14) Which *type* of authentication would you like to use? HTTP Session Authentication

[2015-06-07 21:01] atomfrede commented on #1580
Are your settings for your development database (which is a real mysql db) correct? It looks like there is something wrong: ``Caused by: java.net.ConnectException: Connection refused``

[2015-06-07 21:08] jdubois commented on #1580
Yes, the error says that your database can't be reached, see `
Caused by: com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure`
This is not à JHipster issue.

[2015-06-07 21:08] #1580 closed

[2015-06-07 22:22] cbornet commented on #1508
@dilipkrish the swagger ui webjar is marked as WIP in your docs. Do you think it is safe to use in jhipster or should is it preferable to stay for now with the bower version ?
BTW, swagger-ui 2.1.0 just got released with support for v2.0 specs !

[2015-06-07 23:21] dilipkrish commented on #1508
@cbornet we haven't updated the readme for the module since 2.0.0-SNAPSHOT :open_mouth: thanks for pointing that out! Here is the [official documentation](http://springfox.github.io/springfox/docs/snapshot/#swagger-ui). I'll make a note to fix that!

We've had couple of fixes since and I'd like to think its stable as of *2.0.2-SNAPSHOT*. Also there other reason for not advertising it as stable is

[2015-06-08 00:21] deepu105 commented on #1578
@gmarziou sorry i got it mixed up too i guess, i also didn't have any issues may be coz i had ejs installed while working on generator code

[2015-06-08 02:00] deepu105 commented on #1568
Cant it be 1.3.0.m1 directly or will that be a seperate migration?  They have added cache autoconfig, elastic search and cache metrics and so on

[2015-06-08 05:28] jwsher opened #1581 "Heroku deployment causes development deployment to stop working."
I am on the newest version of JHipster.  I was able to get the project to build and run locally using PostgreSQL.  I then deployed it to Heroku and it worked properly on Heroku.  I then tried to run it locally and got the following error message:

----Snip---
$ mvn  spring-boot:run
.....
Caused by: org.springframework.beans.factory.BeanCreationException: Cannot determine embedded database driver c

[2015-06-08 07:06] Qinwroks opened #1582 "Not auto import classes when using LocalDate"
see attache file
![51d5ee36-d500-442b-b97c-f16e994a0caa](https://cloud.githubusercontent.com/assets/728884/8029453/f3e019ec-0def-11e5-9ea0-dcb32c934b70.png)

[2015-06-08 08:10] gmarziou commented on #1508
I my commit, you'll note that I have removed the bower dependency on swagger-ui

[2015-06-08 08:28] jdubois commented on #1581
Can you give your exact JHipster version?

There was exactly this bug a few versions ago, so I guess you are not on the "latest" version (it moves all the time!).

[2015-06-08 08:50] jdubois commented on #1568
1.3.0 should be out soon, I'd like to stick with the stable versions.

I didn't check those new things, I'll have a look at the upgrade doc when it's available.

The 1.2.4 upgrade should be easy, I'll do it first. It might take some time for 1.3.0.

[2015-06-08 09:06] jdubois commented on #1576
Yes the idea is to have the JS conventions on the JS side, and the Java conventions on the Java side.

BTW, I'm not totally sure of our JS conventions, as I didn't code this myself.

So we will keep it that way.

@michaelisvy @deepu105 do you know that you both live in Singapore? Do you already know each other?

[2015-06-08 09:06] #1576 closed

[2015-06-08 09:06] deepu105 commented on #1568
1.3.0 milestone date seems to be in September. But ya its not that urgent
for JH though

On Mon, Jun 8, 2015 at 4:51 PM, Julien Dubois <notifications@github.com>
wrote:

--
thank you,
Deepu.k.s

[2015-06-08 09:09] deepu105 commented on #1576
@jdubois ha ha we just knew yesterday, we are planning to meet up and evangelize JH to the spring community here :smile:

[2015-06-08 09:16] jdubois commented on #1576
@deepu105 @michaelisvy great!! And I should meet Michaël this summer in Paris :-)

[2015-06-08 09:18] #1568 closed

[2015-06-08 09:23] jdubois commented on #1582
I'm sorry but I don't understand: do you mean it's not imported by default?

Without your app version number, and the generator options you used, it's impossible for me to test this. Can you provide more information? An error report? In the meantime I'm closing this as I can't answer you.

[2015-06-08 09:23] #1582 closed

[2015-06-08 09:39] gmarziou commented on #1578
Yes it was probably the same with all people working on jhipster, I could reproduce it only because I installed a new version of node using nvm.

[2015-06-08 09:41] michaelisvy commented on #1576
@jdubois @deepu105 yes we're talking about doing a User Group event on Angular JS and JHipster early July. Hopefully we can make it happen :).
Thanks for the clarification on the naming conventions.

[2015-06-08 09:56] Selectorrr commented on #1370
@jdubois Can you reopen this issue?

[2015-06-08 10:01] jdubois commented on #1370
@Selectorrr yes, but still I don't know the error, I need to have a look

[2015-06-08 10:43] warleyc commented on #1582
FYI
That happen when you add mannualy the date in "entity.json" file and forget to change this line in the same JSON file :
 "fieldsContainDateTime": false,
 "fieldsContainDate": false,

[2015-06-08 11:26] mihaisimi opened #1583 "Romanian I18n"
Adding romanian translation (shortly).

[2015-06-08 13:56] #1565 closed

[2015-06-08 15:12] jwsher commented on #1581
$ npm view generator-jhipster yo version
    2.15.2
    $ npm view yo version
    1.4.7

I think I saw that earlier bug report while Googling how to fix it earlier.   My HerokuDatabaseConfiguration before I deleted it had the following annotation that was added to fix that one:

    @Configuration
    @Profile("heroku")
    public class HerokuDatabaseConfiguration implements EnvironmentAware {

Ma

[2015-06-08 15:27] mihaisimi commented on #1583
Please check and merge if ok.

Regards,
Mihai

[2015-06-08 15:29] ygrenzinger commented on #1158
Hello,

I will read your comments and try to improve my branch in the next days but don't hesitate to help me directly here https://github.com/ygrenzinger/generator-jhipster

[2015-06-08 18:16] Fazerty opened #1585 "manage translations?"
I would like to know how you manage the translations.
There several languages, for each we have several files, and it becomes rapidly difficult to manage.
How do find new string to translate, or unused?
Do you have a tool or is it done manually?

[2015-06-08 20:48] smurve opened #1586 "LocalDates are not correctly handled (at least not in Zurich). between frontend and Backend"
## Local date handling between Angular code and the backend

### Generated code does not correctly reflect the semantics of AngularJS and Joda time APIs

When a user enters a date, she usually means "as of my current calendar", or "considering my timezone and my day light saving settings". Now, AngularJS considers the browsers time zone and converts the date into a date time like "midnight early t

[2015-06-09 07:56] jdubois commented on #1581
Yes I'm speaking about #1501

So you have the profile annotation, and you don't use that profile in dev, but still you get that error?

[2015-06-09 07:57] jdubois commented on #1586
Yes this part of the code should be improved, I will definitely consider your solution.

[2015-06-09 08:01] jwsher commented on #1581
Correct.  I just run

mvn spring-boot:run

without a -P flag and I get that error.  It's a different error message than the one that was reported in #1501.  If I delete HerokuDatabaseConfiguration.java  everything works.

[2015-06-09 08:02] seghers opened #1588 "Language 'names' written in own language?"
Wouldn't it be clearer for the end user if the languages were written in there native languages.

eg.
### now: x files (1 for every language)
en/language.json:
[code]
fr/language.json:
[code]
...

### possible: 1 file
language.json:
[code]

**Industry examples:**
Wikipedia languages:
![Wikipedia languages](http://i58.tinypic.com/50gxvl.png)

Google languages:
![Google languages](http://i58.tinypic

[2015-06-09 08:03] jdubois commented on #1581
OK, I'll give it a try when I have the time
@jkutner maybe you could have a look?

[2015-06-09 08:06] jdubois commented on #1588
From a UI point of view I don't know.

From a technical point of view, here is why I did this:

- I had trouble with some encodings, so some characters where not possible to display. I'm not sure this can be solved, at least I don't know how.
- It's the only way I found to order languages (or the order changes depending on the language, like for "German" which is "Allemand" in French)

[2015-06-09 08:09] #1583 closed

[2015-06-09 08:16] gzsombor commented on #1586
Yes, that's a good solution, I've fixed it on my branch a couple of month ago : https://github.com/gzsombor/generator-jhipster/commit/45af84106e8cbffe7a40647817afd3800321ca74

[2015-06-09 08:18] jkutner commented on #1581
Hmm, i was not able to reproduce. Can you share the contents of your `src/main/resources/config/application-dev.yml` file?

[2015-06-09 08:18] seghers commented on #1588
@jdubois Thank you for your fast response.

I'm not following your technical points:
- All characters I copied for the example are from within the codebase.
- There would be no need for changing the order depending on the language because the language options would never translate.

[2015-06-09 08:55] gmarziou commented on #1508
@dilipkrish I am getting CORS message "Can't read from server. It may not have the appropriate access-control-origin settings."  at the top of the page. I found this issue springfox/springfox#77 but it is for old version and I could not find what is done to workaround this in recent demos.

[2015-06-09 09:04] jdubois commented on #1588
@seghers

For the encoding: it caused problems in the rest of the application, I had lots of wrong characters encodings on my web app. The issue is with mixing characters.

[2015-06-09 10:56] #1416 closed

[2015-06-09 11:50] jdubois commented on #1509
Fixed

[2015-06-09 11:50] #1509 closed

[2015-06-09 12:27] cbornet commented on #1508
@gmarziou  Since the webapp and the API are on the same domain this is probably a problem different than CORS hell.

[2015-06-09 12:29] dilipkrish commented on #1508
@gmarziou Is that happening when you actually hit the "try out" button?

[2015-06-09 13:41] Qinwroks opened #1590 "Chinese character encoding error problem"
here is how i get this problem:
1:  `mkdir bookstore`
2: `yo jhipster` --> create bookstore by following the default steps
3: `mvn spring:boot run`
4: choose nav 'Account --> Settings ' . fill the last name input with Chinese character '管理员' , click Save
5: reload the page the last name input was wrong encoded with `'???????'`
6: check database and turns out the last_name value was `'??????'` too.

[2015-06-09 13:43] Qinwroks commented on #1590
i use `yo jhipster:languages` add Chinese Support, and switch language to chinese. did not solve the problem.

[2015-06-09 13:54] gmarziou commented on #1508
It's happening from the beginning and I get this in the browser's console:

[code]

This triggers another error at swagger-ui.html:51

[code]

[2015-06-09 14:04] KuchiVanDerK commented on #1588
From usability perspective I would highly appreciate @seghers suggestion.
For example if the language is on Polish:
"en": "Angielski",
"fr": "Francuski",
"de": "Niemiecki",
"pl": "Polski",

I wouldn't know which one is English, French or German ;)

[2015-06-09 14:23] dilipkrish commented on #1508
@gmarziou that would make sense that you have a CORS issue there, since it reaches out to `http://petstore.swagger.io/v2/swagger.json`. Once the page is loaded tho' you should see the dropdown with the swagger urls served out of the application.

[2015-06-09 14:29] seghers commented on #1588
or it could be English + native

eg.
English/English
Dutch/Nederlands
Simplified Chinese/简体中文

[2015-06-09 14:38] gmarziou commented on #1508
Yes I can see my api but it's not clean to see this error message like below:

![2015-06-09_16h35_03](https://cloud.githubusercontent.com/assets/361007/8060489/f4eeeba2-0ec5-11e5-89bf-580202677f2c.png)

[2015-06-09 14:46] dilipkrish commented on #1508
@gmarziou could you create an issue for that! that is definitely not desirable! :grimacing:

[2015-06-09 15:15] afedulov opened #1591 "Cassandra OAuth2 store"
Are there any specific technical difficulties that prevent support for Cassanrda OAuth2 tokens store (analogous to custom MongoDB Spring Security Oauth2 store) or did no one just address this feature yet?

[2015-06-09 15:18] jdubois commented on #1591
No technical difficulties, it's just that the implementation needs to be coded.

At the moment no one has volunteered to do it, and I will not do it because I don't need it.

[2015-06-09 15:18] #1591 closed

[2015-06-09 15:31] gmarziou commented on #1508
Here it is springfox/springfox#781

[2015-06-09 18:24] piedrahitac commented on #1098
Don't know if it's worth re-opening this issue or creating a new one, but I think a client state sub generator would be a great idea. For example, if I create a custom REST endpoint, having a client sub-generator that scaffolds Angular and HTML could save a lot of time and, seems to me, it is a fairly common use case.

[2015-06-09 19:14] tagliola commented on #1588
I would suggest only using the native language. Why pick someone if you
can't read it? I think all major language pickers (iOS, Windows, Android)
use that system.

On 9 June 2015 at 16:29, seghers <notifications@github.com> wrote:

[2015-06-09 20:29] marcelinobadin commented on #1370
I have notice that this problem happens only when I use localhost as the host name to access on the browser. If I use 127.0.0.1 or my internal ip address the error did not occur. May be it can help you to find out what is wrong.

[2015-06-10 06:51] atomfrede commented on #1525
@moifort I think I'll need a user management in the next week. So before I'll implement something that will be thrown away: Is there any progress on your PR? Can I help you with something?

[2015-06-10 08:57] Selectorrr commented on #1370
@marcelinobadin I use ubuntu server and now my /etc/hosts look like this :
[code]
I also tried it on windows
still not work

[2015-06-10 09:10] malikhan5049 opened #1594 "issue after upgrading generator-jhipster to 2.15.2"
Hi,

After upgrading generator-jhipster to latest(2.15.2) when create an entity it puts its entry in global.json at top of the file rather than under global->menu->entities

[2015-06-10 09:39] Qinwroks commented on #1594
yes.got that issue too. like this:

![20150610173749](https://cloud.githubusercontent.com/assets/728884/8079525/a9f86024-0f97-11e5-9efd-908b77041e1f.png)

[2015-06-10 09:54] malikhan5049 commented on #1594
yep exactly

On Wed, Jun 10, 2015 at 2:39 PM, WB <notifications@github.com> wrote:

[2015-06-10 13:06] wuethrich44 commented on #1498
I publish a first version of the aws generator in my repo (https://github.com/wuethrich44/generator-jhipster/tree/aws-generator)

The generator deploy the application in development profile and us a the H2 database. In a next step I try to get a RDSdatabase up and running.

@deepu105 Could you review my code and give me a feedback? (I'm a javascript newbie...)

[2015-06-10 13:18] deepu105 commented on #1498
@jdubois btw you can use one app server and one db server instance for free for a year in aws in using that and as long as you have only 1 pair active you can create multiple apps and keep playing around for free

[2015-06-10 13:23] deepu105 commented on #1498
@wuethrich44 sure ill take a look

[2015-06-10 14:18] deepu105 commented on #1498
@wuethrich44 nice work man. overall it looks good, i have added some inline notes to your commit can you take a look. I guess this can be a good start for AWS and then slowly we can add on RDS instance creation etc.

[2015-06-10 14:35] deepu105 commented on #1594
I dont see the issue with latest version 2.16.0. Can you try with latest version and if you still have issue can you post your `.yo-rc.json` so that others can try to reproduce.

[code]

[2015-06-10 20:22] jdubois commented on #1585
I have some tooling, for the Java part -> my IDE understands the Java resource files
For the JavaScript part I do it manually, I don't think some tooling exists for that, but I haven't looked for that. You could ask the Angular Translate team for that, they probably know better than me.

[2015-06-10 20:22] #1585 closed

[2015-06-10 20:25] jdubois commented on #1590
Adding the Chinese language won't change any configuration, it just adds some new translation, so that's "normal" it doesn't help.

The issue might be on your database, but as you probably also use a 2nd level cache, you need to check what's in your cache.

An easy way to test: restart your app server, this will clear the cache.

If the encoding is wrong in your database, it is probably a database

[2015-06-10 20:27] moifort commented on #1525
@atomfrede I work on it. It will be a pleasure if you can help me and advise me on what I do! I will push my code on my branch before the end of the week.

[2015-06-10 20:29] jdubois commented on #1594
I guess this is because you remove the special line in this file:

`"additionalEntity": "JHipster will add additional entities here (do not translate!)"`

This is where JHipster adds the new entities, so if you remove the line, it won't understand where to write those new entries.

Can you check this?

[2015-06-10 22:56] gmarziou opened #1595 "Separate admin UI"
Hello,

First, I don't want to re-open the discussion about multi modules projects.

JHipster's admin features keep on growing (e.g. user management), monitoring part is quite rich also and I'm wondering whether it would make sense to split JHipster in 2 parts: end user vs admin.

Sometimes admin UI requires a different authentication scheme and other security settings, different look and feel, lo

[2015-06-11 00:18] deepu105 commented on #1595
It definitely is a practical usecase. But from what I have seen its just one usecase. I recently did an enterprise audit for almost 300 + webapps of different size and stack and among them except few apps everything else had users from same usergroup as admin who along with admin activities does end user activity as well. The monitoring part is a different scenario nearly all of this application h

[2015-06-11 00:47] jwsher commented on #1581
server:
        port: 8080

    liquibase:
        context: dev

    spring:
        profiles:
            active: dev
        datasource:
            dataSourceClassName: org.postgresql.ds.PGSimpleDataSource
            url:
            databaseName: myapp
            serverName: localhost
            username: myapp
            password:

        jpa:
            database-platform: org.hibernate

[2015-06-11 01:02] deepu105 commented on #1595
Btw spring boot admin looks really awesome

[2015-06-11 01:47] Qinwroks commented on #1594
OK, Checked.
`"additionalEntity": "JHipster will add additional entities here (do not translate!)"` must leave it as is!

[2015-06-11 03:02] phouverneyuff opened #1596 "Why use Tomcat instead of Undertown in Prod profile?"
Undertown is better than tomcat.
https://www.techempower.com/benchmarks/#section=data-r10&hw=ec2&test=update&l=3k&c=5&d=6n

Why we using tomcat in Prod profile Prod?
There are some reason for this?

<profile>
            <id>prod</id>
            <dependencies>
                        <dependency>
                                    <groupId>org.springframework.boot</groupId>

[2015-06-11 04:40] #1594 closed

[2015-06-11 06:14] Qinwroks commented on #1590
OK i think i solved!

By change
`jdbc:mysql://192.168.99.100:32769/srlic_dev`
TO
`jdbc:mysql://192.168.99.100:32769/srlic_dev?useUnicode=true&characterEncoding=utf8`

@jdubois this should be a serious bug

[2015-06-11 06:15] jdubois commented on #1590
Oh yes I've already seen that!!!

[2015-06-11 10:16] #1590 closed

[2015-06-11 10:17] gmarziou commented on #1595
You got good points.

JHipster could keep all custom UI for user management, swagger api and related UI as mandatory included and for monitoring UI on top of standard protocols like JMX use an external webapp like [spring-boot-admin](https://github.com/codecentric/spring-boot-admin) or [hawtio](https://github.com/hawtio/hawtio).

External monitoring UI makes sense to me also when hosting your app

[2015-06-11 10:28] gmarziou commented on #1596
Undertow dev team is still rather small (mainly one man), it had some compatiblity bugs (I reported and fixed few of them) with Tomcat which is the reference implementation for servlet API.
I have an application in production using it because I have been forced to use WildFly app server.

Last, doing it yourself is easy, just follow the instructions of the spring-boot doc.

[2015-06-11 10:39] BhawaniSingh commented on #1595
hawtio is better than spring-boot-admin

Regards
Bhawani Singh

On Thu, Jun 11, 2015 at 3:47 PM, Gaël Marziou <notifications@github.com>
wrote:

[2015-06-11 11:39] phouverney commented on #1596
Thank you @gmarziou

[2015-06-11 13:21] amaillere commented on #1525
+1

[2015-06-11 13:32] barais commented on #1525
:+1:

[2015-06-11 14:11] dllongo commented on #1158
Hello!
I tried to follow the instructions on spring blog [spring-boot] (https://spring.io/blog/2014/12/02/latest-jackson-integration-improvements-in-spring) to jackson parse  java.util.LocalDateTime, but spring is ignoring my config. I tried to follow @cbornet config with the same result (failed). On the blog post there's this link [github](https://github.com/sdeleuze/spring-jackson-demo) with the

[2015-06-11 16:37] ddewaele commented on #1291
+1 to have this fixed....

I tried the solution proposed by @aelidrissi  but it got stuck in an infinite loop (the login page calls api/account that returns an HTTP 401 that redirects to the login page, that .......)

I ended up with this in app.js :

[code]

and finally push the interceptor on the httpProvider.

[code]

Would this be the way to go or is there a better solution ?

[2015-06-11 16:43] cbornet commented on #1158
Are you serializing or deserializing ? If you are deserializing, I think there misses a 'T' between date and time. Try with "21-05-2015T17:00:30" which is the ISO notation.

[2015-06-11 17:35] dllongo commented on #1158
Tks @cbornet ,

I'm trying to deserializing, now with:
   "date":"21-05-2015T17:00:30",
and
   "date":"21-05-2015 17:00:30",

Get the same result:
[code]
that's my bean:
[code]
and my application.yml
[code]

[2015-06-11 17:48] gmarziou commented on #1158
I though that the ISO notation was  "2015-05-21T17:00:30".

[2015-06-11 21:26] jdubois commented on #1291
Yes, this looks good to me, can you provide a PR?

[2015-06-12 00:16] JCBuck commented on #1558
I've researched into this issue a bit as I was relying on Intellij IDEA's compile current file `ctrl+shift+F9` to hot reload classes with jhipster loaded.... since the mapstruct annotations processor was added into jhipster (pom.xml) i was also getting the same error upon building with Intellij..

The issue stems from Intellij being unable to actually resolve the required library/package that does

[2015-06-12 01:28] Qinwroks commented on #1525
it will be very useful! :+1:

[2015-06-12 02:49] moifort commented on #1525
This is a first version of user management functionality. You can download the generator on my branch https://github.com/moifort/generator-jhipster/tree/user-managment. It will only work with default value (java 8, mysql, etc.). @atomfrede I wait your feedbacks!

You will find it in the menu `Administration` as said @wuethrich44:
![capture d ecran 2015-06-12 a 04 46 31](https://cloud.githubusercon

[2015-06-12 05:03] atomfrede commented on #1525
Great! Will try it later in the evening.

[2015-06-12 05:40] matdere commented on #1525
Cool !  Great feature!
Mathieu
Le 12 juin 2015 07:03, "Frederik Hahne" <notifications@github.com> a écrit :

[2015-06-12 07:17] cbornet commented on #1158
@gmarziou Of course you're right. I should have been more careful when copy/pasting...
@dllongo The dateformat() function only concerns java.util.Date, it cannot be used (so far) with the JSR310 types.

[2015-06-12 07:40] aelidrissi commented on #1291
ddewaele,
I am not experiencing any loop. A little bit strange to get a 401 status with the path "/api/account".
My generator-jhipster version is 2.7.0.

[2015-06-12 07:43] ddewaele commented on #1291
I was using the latest jhipster generator (2.16.0).

I noticed that going to the login url as an anonymous users triggers an API call to "/api/account" (haven't looked at what exactly is making the call).

[2015-06-12 11:44] malikhan5049 opened #1598 "jHipster taking too much time to start up"
Hi,

I ve created a application with jhipster-generator version 2.15.2 and the startup before i created my entities was pretty much fast but after creating almost 12 entities startup time increased to 1095 seconds (18.25 minutes) which is too much i am sure i am missing something not sure what right now anyway i ve changed logging level for spring classes to see what exactly going on meanwhile if

[2015-06-12 12:04] jdubois commented on #1598
Of course it depends on your hardware, but it shouldn't take much more than 10 seconds.

Did you have a look at Swagger? That's why I log the Swagger boot time in the console, I know it behaves badly when there are many entities (many = more than 100 normally)

[2015-06-12 12:06] jdubois commented on #1596
Same answer has @gmarziou : I'd love to use Undertow has it's faster to start (that's why I put it in the fast profile), but I've already had some issues with it, and it doesn't look production ready yet.
It might replace Tomcat in the future, it's just too early.

[2015-06-12 12:06] #1596 closed

[2015-06-12 12:12] jdubois commented on #1588
From the UI point of view I agree with you.

So as far as I'm concerned it's just a technical issue: if you are sure it works, can you make a PR? You might do it differently from what I did.
I will check it, and we will try to find someone using a non-latin alphabet to check it too, and then I will merge it.

[2015-06-12 12:12] jdubois commented on #1556
I'm closing this at it looks solved.

[2015-06-12 12:12] #1556 closed

[2015-06-12 12:15] jdubois commented on #1571
This is should improved in Spring Boot 1.3, so we don't have to do it -> I'd rather wait until this Spring Boot 1.3 is released (should be September)

@deepu105 I know you're a big Hazelcast user, can you wait until September?

[2015-06-12 12:19] jdubois commented on #1558
yes @JCBuck I've also added this in my pom.xml for some time -> do you really think this is useful for everyone?

From my understanding you are trying to do hot reload, which just won't work with MapStruct, as will need Java 8, and lambdas are not supported by Spring Loaded

[2015-06-12 12:23] jdubois commented on #1595
I agree.

Besides, I would like JHipster to work with [CloudFoundry UAA](https://github.com/cloudfoundry/uaa):
- this would be needed if we want to have a "micro service" architecture in JHipster 3 (which looks more and more like what people want)
- it shouldn't be difficult to do, as we already support OAuth2

The main issue, for me, is that it looks very complex to do: so my main question, is ho

[2015-06-12 12:31] malikhan5049 commented on #1598
when i change log level of spring classes to debug i got below exception

org.springframework.beans.factory.support.DefaultListableBeanFactory -
Returning cached instance of singleton bean 'swaggerSpringMvcPlugin'
17:02:51 [DEBUG]
org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor
- Could not find default TaskScheduler bean
org.springframework.beans.factory.NoSuchBeanDe

[2015-06-12 12:32] malikhan5049 commented on #1598
guess has something to do with removeNotActivatedUsers in UserService which
is scheduled

On Fri, Jun 12, 2015 at 5:31 PM, Muhammad Ali Khan <
m.ali.khan.5049@gmail.com> wrote:

[2015-06-12 12:51] deepu105 commented on #1571
@jdubois I guess Jhipster can wait but 2 of my projects have to go live in September so i would like them to have this anyway and spring boot 1.3 doesn't seem to offer detailed stats, after going through their comments im not even sure if hazelcast health and metrics will be there. So what do you think

[2015-06-12 12:58] jdubois commented on #1571
If it's urgent for you, and if we are not sure it is implemented, then yes I'll merge your PR

[2015-06-12 13:20] gmarziou opened #1599 "Why enabling LoggingAspect only in dev?"
Hello,

Does anybody know why LoggingAspect is enabled in dev only?

I was thinking of using it in prod and wanted to know whether there are any gotchas I should be aware.
Maybe @jmirc as you're the one who configured it this way.

Thanks

[2015-06-12 13:29] dllongo commented on #1158
@cbornet the date pattern that @gmarziou  passed works "2015-05-21T17:00:30" .
here in brazil the date pattern are "dd-MM-yyyy", the format "yyyy-MM-dd" works for me too.

tks!

[2015-06-12 13:48] seghers commented on #1588
I'll try to get it working locally and than a first pr.

source: https://scotch.io/tutorials/internationalization-of-angularjs-applications

[2015-06-12 14:10] deepu105 commented on #1571
Since i may end up implementing it anyway, ill do a pull, guess you can remove it if spring boot implements it

[2015-06-12 14:14] deepu105 opened #1600 "JHipster 3.0"
@jdubois I know you are not a great fan of defining milestones, but wouldn't it be good to have a discussion thread for 3.0 to gather ideas as well as to give JH users like us an idea on wats coming and what we should be prepared for?

[2015-06-12 15:01] jdubois commented on #1600
@deepu105 I'll do a "roadmap" page on the website

but it's mostly driven by what people want, the time I have, etc.... Lots of external things in fact.

[2015-06-12 15:03] jdubois commented on #1599
It monitors each method call, so it adds some overhead. That's the only reason why.
Depending on how your logger is configured, it can also introduce a lock, which would be very bad for your application.
So by default we turn it off in production, but of course it's easy to turn it on.

[2015-06-12 15:03] #1599 closed

[2015-06-12 16:10] mraible opened #1601 "JHipster app on Heroku fails to startup in 120s"
I have a JHipster 2.16.0 app that only has three entities. I'm trying to deploy it to Heroku and it's failing. Here's what I see in the logs:

[code]

I've run the following commands, but it doesn't seem to help:

[code]

[2015-06-12 16:34] moifort commented on #1525
![usermanagement](https://cloud.githubusercontent.com/assets/4958079/8134698/905ac53a-1131-11e5-8eae-3799af31f6ed.gif)

[2015-06-12 16:40] piedrahitac commented on #1525
That look really sweet! Definitely looking forward to this!

[2015-06-12 17:01] gmarziou commented on #1599
Thanks

[2015-06-12 17:44] PeterEltgroth commented on #1525
:+1: I agree, that does look nice!

[2015-06-12 18:07] mraible commented on #1601
I was able to fix this by resetting my database and restarting my dyno.

[2015-06-12 18:07] #1601 closed

[2015-06-12 19:04] #1588 closed

[2015-06-12 19:22] JCBuck commented on #1558
Ahhh right, my current project is actually using Java 7 and it seems to be working for me with jhipster loaded i suppose something might break?

But I think at least adding that will solve the original issue for the OP, just for what use case i'm not sure (Intellij compiling?)

[2015-06-12 19:40] gmarziou commented on #1600
Drop java 7

[2015-06-12 21:03] gmarziou commented on #1595
Well, I'm not sure but it seems that hawtio and spring-boot have 2 points of integration:
- embedding hawtio in a spring-boot application
- spring-boot plugin in hawtio to display spring-boot metrics

I may have misunderstood hawtio model but it seems to me that JHipster could provide an hawtio-jhipster-plugin as a jar to be loaded into hawtio whether hawtio is running as a separate webapp or is e

[2015-06-12 22:28] atomfrede commented on #1600
Drop java 7 sounds great!

[2015-06-12 23:33] deepu105 commented on #1600
Ya a page would be nice but can we also have this thread open for discussion, ideas and brain storming please :smile:

[2015-06-12 23:34] deepu105 commented on #1600
+1 to drop java 7

[2015-06-12 23:38] deepu105 commented on #1514
@atomfrede sorry to bug you man, but did you have a chance to take a look at this?  I need to get this working soon to start testing so if you dont have enough time to take a look can you provide me some hints and direction on how and where to start?

[2015-06-13 03:07] diwalak commented on #1600
I think it should be based on Spring Boot 1.3 (in turn based on Spring 4.2)
They both should be out by September
http://spring.io/blog/2015/06/12/spring-boot-1-3-0-m1-available-now
https://spring.io/blog/2015/05/26/spring-framework-4-2-goes-rc1

[2015-06-13 04:39] phouverneyuff commented on #1600
We could improve the websocket. My suggestions:

1 - Move the package "dto" from "web.rest" to "web" and "web.websocket" to "web" too. DTO is just one thing and don't matter if it used by rest or websocket. What you think about it? The package mapper should be move to web too.

2 - By default create mappings to realize CRUD. The problem is that the view should be changed too. I know that will be o

[2015-06-13 04:55] smitnayakar opened #1603 "Try to generat jhipster"
npm ERR! Windows_NT 6.3.9600
npm ERR! argv "C:\\Program Files (x86)\\nodejs\\\\node.exe" "C:\\Program Files (
x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v0.12.4
npm ERR! npm  v2.10.1

npm ERR! Callback called more than once.
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <https://github.com/npm/npm/issues>

npm ERR! Please include the

[2015-06-13 06:41] jwsher commented on #1581
I figured out the issue.  I just had to add a URL to the local database configuration.  That one fix made it work.

     spring:
        profiles:
            active: dev
        datasource:
            dataSourceClassName: org.postgresql.ds.PGSimpleDataSource
            url: jdbc:postgresql://localhost/myapp
            databaseName: myapp
            serverName: localhost
            username:

[2015-06-13 06:41] #1581 closed

[2015-06-13 07:37] atomfrede commented on #1514
@deepu105 Sorry, didn't had a closer look into it. I think we should do two things:
* Try to shorten the main args with the current trick (temp file)
* Check how to create a manifest jar for the upcoming (maybe try the latest MR of gatling)

[2015-06-13 12:22] pnowy opened #1604 "Duplicated hazelcast instances"
Hello,

I'm using the JHipster configuration with Java 8 and Hazelcast configuration (hazelcast is used for second level cache and clustered http session). Maybe I'm wrong but it seems that with current source code the two instances of Hazelcast are created. The flow looks like:

* The first instance is created during static initialization of class CacheConfiguration:
[code]
The above code is usin

[2015-06-13 12:49] pnowy commented on #1604
I think that the simplest solution to avoid duplicated instances is to add the CacheManager dependency  on the DatabaseConfiguration (@Inject private CacheManager cacheManager) and remove the static initialization

[code]

With the above solution the parametrized hazelcast instance will be initialized before Hibernate and the correct instance will be used on the HazelcastRegionFactory provided wit