[2016-01-25 11:11] wuethrich44 commented on #2135
@deepu105 I think you can close this

[2016-01-25 11:21] jdubois commented on #2135
@wuethrich44 I don't understand, is this already merged? I don't see the link to your PR

[2016-01-25 11:33] cbornet commented on #2135
I think it's #2679

[2016-01-25 11:35] arifsbs opened #2681 "FAILURE: Build failed with an exception"
I am building this project using command gradlew from a windows cmd prompt. I get the following error

FAILED
FAILURE: Build failed with an exception
--stacktrace
BUILD FAILED

There is no more detail to investigate the root cause of the error. I have tried running build using gradlew -S command but still no extra info is displayed on the console.

I am not getting any lead to resolve this issue.

[2016-01-25 11:41] atomfrede commented on #2681
Please take a look at our [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines) otherwise we can't help you.

[2016-01-25 11:44] pmadridb commented on #2239
I made those changes in my code base and it didn't work.

[2016-01-25 11:47] cbornet commented on #2671
There is another MessageSource in ThymeleafConfiguration that is obsolete and should be removed.
I'm trying to get autoconfiguration working but I have an issue : I need to set ```/i18n/messages``` for ResourceBundleCondition to find the bundle during autoconf but then it needs to be ```classpath:/i18n/messages``` or else it doesn't work...

[2016-01-25 11:52] putssander commented on #1185
I will make a PR for the tip this week and will try to make a module later (was dedicated to get jhipster running on mssql for work, won't use mssql in personal projects).

[2016-01-25 12:01] cbornet commented on #2671
OK, it's ```i18n/messages``` and then it works fine.
I'll do messagesource autoconfiguration in a separate PR.

[2016-01-25 12:04] ViCe2099 commented on #2171
I still cannot override org.apache.catalina.filters.CorsFilter's method isValidOrigin, any which way I try the method is always used to validate a request.
If anyone have any info on how to accomplish this, or in how to remove the default filter completely so I can add a custom one please let me know.
Thanks in advance.

[2016-01-25 12:25] ViCe2099 opened #2682 "Allow 'file://' Origin on a POST request in jhipster from cordova."
I have a JHipster project and I need to access webservices from it with a cordova mobile App.
The thing is, on the POST request from the app the Origin header is sent with the value 'file://', which the isValidOrigin method from the default CorsFilter deems invalid because it doesn't meet the RFC952 standards.
I have tried adding custom filters with the varying methods that are described online, b

[2016-01-25 12:27] jdubois commented on #2681
I'm sorry but you don't give your version number, .yo-rc.json, etc... So we can't help you, please follow the guidelines next time!

[2016-01-25 12:27] #2681 closed

[2016-01-25 12:27] jdubois commented on #2135
OK, thanks!!

[2016-01-25 12:27] #2135 closed

[2016-01-25 13:12] delkant commented on #416
Where can I find instructions for installing "UX for phantom.js" ?. Thanks!

[2016-01-25 13:35] cbornet commented on #2171
Your CorsFilter shouldn't be org.apache.catalina.myfilters.CorsFilter but org.springframework.web.filter.CorsFilter. Are you using the latest JHipster version ? There is a CorsFilter bean in WebConfigurer that will be activated if you set the values in your application.yml

[2016-01-25 14:12] pvlastaridis commented on #2678
I agree with you @jdubois the functionality is there, but the yeoman generator questions are difficult to use especially if you accidentally make a mistake. UML project can handle difficult situations in a better way, but it seems that you have to read UML principles first in order to use it. What if instead of the yeoman questions and the UML project, we had something like a back-end that you ans

[2016-01-25 14:25] MathieuAA commented on #2678
@pvlastaridis could some kind of DSL do the trick?
By the way, this idea may be worth studied.

[2016-01-25 14:44] cbornet commented on #2678
I'm not sure it would be better than jhipster-uml ...

[2016-01-25 14:53] gmarziou commented on #2682
Using 'file://' for a remote resource does not make sense, can't you fix the mobile app?

[2016-01-25 15:01] pvlastaridis commented on #2678
@MathieuAA I think we can have the front-end in Angular the back-end could be also in Java and be part of the project. Then maybe use yeoman generator to strip it off in production.
@deepu105 I agree with you that jhipster is far superior than django since it has a much stronger front-end, and cloud applicability, and easily integrate top test frameworks and blahblah..... But the entity creator is

[2016-01-25 15:07] pvlastaridis commented on #2678
By the way @cbornet I remember being asked twice, a few years ago, by my university tutor to find some resources on UML and the information I found on the web was very little and aged. To my opinion, UML is still popular only among academic societies.

[2016-01-25 15:10] gmarziou commented on #416
this is a question for stackoverflow.

[2016-01-25 15:17] jdubois commented on #416
why are you commenting on such an old issue?

[2016-01-25 15:20] cbornet commented on #2678
@pvlastaridis not really! UML is widely used in enterprise to modelize entities. The jhipster-uml howto is just one page : really not hard to understand and you get a nice printable chart showing your entities and their relationships.
IMO any project that has more than a dozen entities should use jhipster-uml. Otherwise you will not understand your domain anymore...

[2016-01-25 15:29] MathieuAA commented on #2678
Or you could just drop the UML, and use the JDL.

Frankly, I like your idea, but it has the same drawback as the current generator: if you don't have a lot of entities, your solution would be good and not too time-consuming. If, however, you want to generate a lot of complex entities (with relationships) you would have to either use the form to create them in the right order, or implement somethin

[2016-01-25 16:28] dptinor commented on #122
@miguelseia
The same happens to me.

[2016-01-25 16:29] ViCe2099 commented on #2682
Unfortunately I cannot, at least to my knowledge. From the information that I have gathered the 'file://' Origin is set in the preflight request from a POST call to witch I have no access (with newer versions of Android that doesn't happen it seems but i need to work with 4.4.2 at least), using the same code but for a GET call the request gets gets a 'null' Origin and it passes the isValidOrigin v

[2016-01-25 16:54] cbornet commented on #2682
From #2171
Your CorsFilter shouldn't be org.apache.catalina.filters.CorsFilter but org.springframework.web.filter.CorsFilter. Are you using the latest JHipster version ? There is a CorsFilter bean in WebConfigurer that will be activated if you set the values in your application.yml

[2016-01-25 17:55] ViCe2099 commented on #2682
No I am not running the latest version, the one I have is 2.16.0 with org.springframework.boot 1.3.0.
My cors filter isn't org.apache.catalina.filters.CorsFilter but that is where the method I want to override is, I just need that 'file://' origin passes the URI check the same way 'null' does, preferably I would like to maintain the other security benefits of the default filter if possible.
I have

[2016-01-25 19:01] pvlastaridis commented on #2678
Thank you all for sharing your thoughts about my proposal. It seems that I was one of the few that did not find the yeoman entity generator handy and not willing to try the UML project. Also having been involved in Drupal and Django projects I envy the way they deal with entities creation, despite the fact they don't inspire me anywhere near Jhipster does. I wonder what is going to be the next gre

[2016-01-25 19:10] mkh1973 commented on #1939
Hi there,

I’m not familiar with gulp right now - I’m a quick learner, but if there’s a need I would volontier maintaining the gulp build.
Please let me know what to do.

br Michael

[2016-01-25 19:47] atomfrede commented on #1939
:+1: First think I noticed not working is the production build, so if you like you can try to fix it.

[2016-01-25 19:57] delkant commented on #416
Until now I didn't need to use my project in production mode, so I never tried this option before. Somebody talked about "UX for Phanthon.js" here, so I thought it may be useful to have a reference to this step here.  I'm sorry if I was wrong.

[2016-01-25 21:41] cbornet commented on #1939
:+1 I can confirm that front end devs prefer gulp.

[2016-01-25 21:48] cbornet commented on #2678
You should really try jhipster-uml. You will see that it is far easier than what you think.

[2016-01-25 22:15] #2671 closed

[2016-01-25 22:34] ngasull commented on #1939
I've just finished my work on gulp build :) https://github.com/jhipster/generator-jhipster/pull/2686

Production build (`gulp build`) was broken indeed. Moreover, `url` links in css files were broken. I've made the appropriate fixes for both and added a test, please feel free to test these and report me any problem on them. Moreover, I've only tested with `sass` enabled for now.

[2016-01-26 00:43] deepu105 commented on #2657
Ya lets do it in controller as it easier to follow even for novice
developers
On 25 Jan 2016 17:39, "Julien Dubois" <notifications@github.com> wrote:

[2016-01-26 01:09] deepu105 commented on #2678
Yes, once you go beyond 10 or 20 entities you wouldn't want to do it
anything other than UML take it from someone who have build applications
with 100+ entities before Jhipster UML was made :(

There is not a single day that went by were i didnt wish jhipster UML was
released sooner
On 26 Jan 2016 05:48, "Christophe Bornet" <notifications@github.com> wrote:

[2016-01-26 01:23] deepu105 commented on #1939
Sure will test and merge this asap
On 26 Jan 2016 06:35, "Nicolas Gasull" <notifications@github.com> wrote:

[2016-01-26 01:25] deepu105 commented on #1939
@mkh1973 that would be great, the more people working on this the closer we are to make gulp standard :)

Gulp serve is just way faster than grunt serve to even have a second thought  :)

[2016-01-26 04:11] deepu105 commented on #2682
Guys, this should be on SO as this is a non standard use case, Im closing this but if yuu guys wish you can continue the conversation

[2016-01-26 04:11] #2682 closed

[2016-01-26 04:12] deepu105 commented on #2674
email should be required everywhere can you PR to correct this?

[2016-01-26 04:15] deepu105 commented on #2674
@moifort does this affect social login in anyway?

[2016-01-26 05:35] ouyangshixiong commented on #2666
Did anybody has suggestion or soluation?
@cbornet  @pascalgrimaud  @deepu105  @jdubois @jkutner

[2016-01-26 08:05] cbornet commented on #2682
@ViCe2099 You are not using Spring Boot's CorsFilter so as @deepu105 you should post your use case to SO. JHipster uses the Spring Boot CorsFilter so we can only provide support if you use this one. With the SB filter, the code for checking origin validity is in org.springframework.web.util.WebUtils
[code]
I don't see anything in this that would prevent to allow origin from file:// (I would start

[2016-01-26 08:34] moifort commented on #2674
I will take a look.

Envoyé de mon iPhone

[2016-01-26 09:23] moifort commented on #2674
It's ok! it's return an error if there is not an email. You can make a PR!

[2016-01-26 09:32] deepu105 commented on #2668
Its done :)

[2016-01-26 09:34] deepu105 commented on #2668
@jdubois this was done with few methods but along with this I moved some common methods out from promting section and renamed all constant variables , so the diffs will show a lot of change

[2016-01-26 10:40] cbornet opened #2689 "Fixed ZonedDateTime serialization format"
For ZonedDateTime serialization, we currently have a "dynamic" formatting (```DateTimeFormatter.ISO_OFFSET_DATE_TIME```) which will adapt the number of digits after the seconds depending on whether the date has millis, micro or nano seconds.
Javascript is fine with that but for other clients (eg. android) it can be complex to deserialize (with java7 SimpleDateFormat...).
So shouldn't we fix the fo

[2016-01-26 10:49] phouverneyuff commented on #2674
OK. I will.

[2016-01-26 11:01] cbornet commented on #2666
@ouyangshixiong have you tried adding @JoinColumn annotations on the domain relationships ?

[2016-01-26 11:37] amitjindal commented on #2668
Thank you @deepu105 and JHipster team!

[2016-01-26 11:48] cbornet commented on #2666
The issue on ManyToOne has already been fixed. There remains an issue with OneToOne : the annotation```@JoinColumn(name = "foo_id", unique=true)``` must be used because Liquibase will not name correctly the column.

[2016-01-26 13:47] cbornet commented on #2672
See #2645

[2016-01-26 13:53] #2666 closed

[2016-01-26 14:23] deepu105 commented on #2603
Any volunteers for cloudfoundry and heroku?

[2016-01-26 14:37] amitjindal opened #2692 "[Enhancement Request] Support for AngularJS one time binding"
**Overview of the issue**
This is an [minor] enhancement request to support one time binding for angular views.
http://blog.thoughtram.io/angularjs/2014/10/14/exploring-angular-1.3-one-time-bindings.html

**Motivation for or Use Case**
This avoids excessive watchers and improves performance.

[2016-01-26 14:40] jdubois commented on #2692
I don't understand: this is a standard (basic) AngularJS feature, of course it works with JHipster. I know many people who use it, I'm even doing this in my AngularJS training :-)

[2016-01-26 14:44] amitjindal commented on #2692
Hi @jdubois I meant this should be generated in entity-*.html pages.

[2016-01-26 14:53] amitjindal opened #2693 "[Enhancement Request] Create/Edit should not be a dialog"
**Overview of the issue**
This is [minor] enhancement request if you would like to consider.
Instead of popup the create/edit should be a separate state and on clicking new or edit we should navigate to that page.

**Motivation for or Use Case**
Since the create/edit is a popup if the form is long, scrolling is a problem and by mistake if someone clicks outside the data disappears. We had this pro

[2016-01-26 15:16] amitjindal opened #2694 "[Enhancement] Hook mechanism improvements"
#### Overview
This suggestion below stems from the discussion that happened on #2668 as @jdubois suggested running cycles for add/edit/delete entities and options about sub generators, this conversation got me thinking.

Below is merely a concept at this point and might not be feasible or a direction you want to take.

#### Background
May I humbly add a few observations based on a large project we

[2016-01-26 15:18] cbornet commented on #2666
FYI,  I opened https://github.com/liquibase/liquibase-hibernate/issues/103
I don't have much hope since there doesn't seem to be any activity on the project...

[2016-01-26 16:11] deepu105 commented on #2693
Edit, create and delete are already separate states, modals are load3d into the state, you can easily disable the modals in the state resolve and you will see a normal page.

Having said that, click to close could be annoying so may be we can disable that in modal config so that you need to click close icon to close

[2016-01-26 16:13] jdubois commented on #2692
We could have this for a few examples, then I'm afraid it will confuse beginners. Do you have a specific use case, or screen, where this causes issues? I'm guessing in the database tables?

[2016-01-26 16:23] ngasull commented on #2282
As I warned in https://github.com/jhipster/generator-jhipster/pull/2686, please beware of source maps: depending on source maps configuration, they can actually reflect the full original code and file tree. We use them in my company in integration builds only as we don't want users to have our full source.

Do you think there should be a flag that users should change by themselves in gulpfile/Grun

[2016-01-26 16:26] jdubois commented on #2282
@ngasull yes there could be a flag which has the maps turned on by default, but as it's running on the client-side I'm not too worried by the security risk -> this code shouldn't have anything to hide anyway, I only want the minification for performance, not security

[2016-01-26 16:31] ngasull commented on #2282
@jdubois fair enough then, let's just make it clear to jhipster users :) I may have a look to both Gruntfile and gulpfile on spare time then. That would at least make my past source map struggles worth a good cause!

[2016-01-26 16:32] deepu105 commented on #2694
The idea of having hooks is exactly to serve use cases like these. Though currently we only have a post entity creation hook, we could add pre entity, pre and post app creation hooks as well, we will be doing these as we get some good use cases.

Too much of hooks like you suggest will become too much of maintanance so may not be feasible and also the yeoman run cycle will not allow such hooks eas

[2016-01-26 16:38] deepu105 commented on #2282
@ngasull I guess the point of having sourcemap is to debug issues in prod otherwise current config is sufficient, if someone doesn't want they can simply change the boolean to false in gulp or grunt file.
What is the use of generating it if its not available in client?

I added the boolean config to grunt and it generated sourcemaps but chrome isnt loading it and im still seeing ugly code. So need

[2016-01-26 16:41] deepu105 commented on #2282
@ngasull let me know if you got it working in either grunt or gulp

[2016-01-26 16:45] ngasull commented on #2282
sure @deepu105 ! My point was we can actually add source maps manually to source code in browsers. However I agree it's more convenient to have them directly loaded ;-)

[2016-01-26 17:01] #2676 closed

[2016-01-26 17:08] jdubois commented on #2150
As the PR is merged I'm closing this

[2016-01-26 17:08] #2150 closed

[2016-01-26 17:56] cbornet opened #2696 "Postgres auto increment"
It seems that hibernate GenerationType.AUTO strategy uses hibernate_sequence with postgres.
So the PK column should probably not be set to autoIncrement=true since liquibase wants to drop the generated sequences when doing a diff.
Does somebody have an opinion ?

[2016-01-26 18:12] cbornet opened #2697 "Site should be a reserved word"
As it is the parent angular state.
I also think that "docs", "error", "accessdenied", "tracker" and "entity" should be reserved as they correspond to existing angular states.

[2016-01-26 20:04] andidev commented on #2697
I guess this wont be an issue after #2685 is merged.

[2016-01-26 20:11] cbornet commented on #2697
Of course. It's either #2685 or this one.

[2016-01-26 21:29] maki888 opened #2698 "Some leak of translate components use on application w/o translation support"
I generated app without translation support - details below:
[code]
Instead, in the UI parts, translation is used.

I.e.
* index.html
[code]
also I've noticed that issue on:
* password.directive.js
[code]

* And on full-text-search input for each entity: entities/{entityName}/{entityName}s.html
[code]

I've used v2.27.0 of Jhipster.

[2016-01-26 22:36] phouverneyuff commented on #2674
I see another problem.
The field "activated" is missing @NotNull too.

[code]

I'm doing the PR to fix all it.

[2016-01-26 23:37] geraldhumphries commented on #2696
I made Postgres and H2 use the serial sequences by changing GenerationType to IDENTITY. It didn't fix the liquibase issue though.

[2016-01-27 03:10] kenhuang commented on #1076
missing bower dependency in index.html running the latest generator-jhipster 2.27.0.

I have to run "grunt wiredep" to fix this issue.

[2016-01-27 05:54] atomfrede commented on #2698
In ``index.html`` and ``password.directive`` this is now problem. In case angular translate the additional html attribute does nothing, so the text inside the tag is displayed. For the placeholder you are right as the translate filter is not available without angular translate.

[2016-01-27 07:16] andidev commented on #2645
@team
Not sure about this but maybe I should add some code that deletes the old entity files when entities are regenerated. Otherwise people upgrading their entities have to do delete them manually.

[2016-01-27 08:25] cbornet commented on #2696
This [page](https://en.wikibooks.org/wiki/Java_Persistence/Identity_and_Sequencing) seems to go against IDENTITY and to prefer AUTO for insert performance reason. And IDENTITY doesn't seem to be supported by Oracle (but maybe it's not up-to-date). I don't have a strong opinion on this.

[2016-01-27 08:36] deepu105 commented on #2645
@andidev,

I guess this will be a big breaking change for existing users and merging
with existing code will be very tough so I dont think anyone should upgrade
existing app to this without deleteing the existing webapp folder or
atleast the entity sub folder. SO may be document the steps to do in
release notes rather than adding more remove code (ps: @jdubois our
removefile list keeps on increasi

[2016-01-27 08:44] cbornet commented on #2645
I think we should automatically regen all existing entities at the end of the main generator. This could include clean up before regen.

[2016-01-27 08:45] cbornet commented on #2696
Also we should probably set hibernate.id.new_generator_mappings=true as it is the recommended setting.

[2016-01-27 09:02] cbornet commented on #2696
Also we should probably set hibernate.id.new_generator_mappings=true as it is the recommended setting.

[2016-01-27 09:09] cbornet commented on #2696
From https://docs.jboss.org/hibernate/orm/4.3/manual/en-US/html/ch03.html

[2016-01-27 09:48] jdubois commented on #2693
Yes they are already different states and they even have there own URLs.
Maybe we could create separate pages, but here the idea was to have something behaving a bit like a desktop app, and not refresh everything all the time -> I'm not sure the UI/UX is the best one, and I'm not sure we have a performance improvement in the end, but those where the original ideas.
We can of course challenge those

[2016-01-27 09:48] #2693 closed

[2016-01-27 09:52] cbornet opened #2702 "Regenerate existing entities from the main generator"
This will help to upgrade and could be used to clean old files.
The main challenge is to get the correct order of generation. We can of course read the changelogDate field of each entity json file but it would be simpler to maintain an ordered list of entities to load in the .yo-rc.json or to prefix the entity json files with a number (eg. 001_Foo.json).

[2016-01-27 09:54] cbornet commented on #2702
See #2645

[2016-01-27 10:04] amitjindal commented on #2692
Sorry for confusion. What I meant to ask was this:

For example, if I generate the HTML for employee entity this is currently generated:
[code]
I would suggest we should generate this:
[code]

This is a minor request so no hurry to do this. Wanted to suggest this for possible future roadmap.

[2016-01-27 10:11] amitjindal commented on #2693
Ok. I can live with disabling in modal config.
Thanks

[2016-01-27 10:14] deepu105 commented on #2702
if we are doing this it should be optional, as someone might want to
regenerate the app base but not the entities

Thanks & Regards,
Deepu

On Wed, Jan 27, 2016 at 5:54 PM, Christophe Bornet <notifications@github.com

[2016-01-27 10:19] amitjindal commented on #2694
So the whole reason of mentioning these above is for a person who is using JHipster to do multiple projects. If they want to use a particular style or theme or use say a custom date time (just picking this as an example), they will need to make changes in all the projects again and again and in each entity by hand. I just thought of suggesting if the above is possible (with probably a big 'if'), i

[2016-01-27 10:21] jdubois commented on #2694
Yes that would be great to have, but as @deepu105 says it's going to be a lot of work, and cause a lot of trouble. I'm not sure we can handle this amount of work.

[2016-01-27 10:31] deepu105 commented on #2694
if someone can comeup with a clever idea to hook templates easily then this could be worth exploring, and will make JHipster a one stop tool for any java webapp dev :)

[2016-01-27 10:53] cbornet commented on #2696
I opened https://github.com/liquibase/liquibase-hibernate/issues/105
There is an issue with liquibase diff and postgres so closing until it's fixed on liquibase side.

[2016-01-27 10:53] #2696 closed

[2016-01-27 11:39] amitjindal commented on #2694
I am currently a beginner with generators, but as I am exploring more if I see something I will definitely suggest and code.

[2016-01-27 12:48] saahon opened #2705 "Error on "npm install & bower install""
After installation, the new jhipster project appeared here such error:

![Error Screen](http://i.stack.imgur.com/uaDOz.jpg)

Help me why this error occurs?

[2016-01-27 13:25] pascalgrimaud commented on #2705
The error is clear (see your screenshot)
You must install all tools (grunt, git, bower etc.)
Follow this http://jhipster.github.io/installation/

[2016-01-27 13:25] #2705 closed

[2016-01-27 14:24] erikkemperman opened #2706 "H2 in production"
It looks deliberate, but I'm curious why H2 (disk or memory) is not an option for production database?

Would something like [this](https://github.com/erikkemperman/generator-jhipster/commit/4baee6284d00cf70c09f9e201232e2204af06c77) be a silly thing to do?

[2016-01-27 14:30] jdubois commented on #2706
I just wouldn't use H2 in production, it's not a production-ready database.
Use it at your own risk!

[2016-01-27 14:30] #2706 closed

[2016-01-27 14:35] erikkemperman commented on #2706
@jdubois Thanks for the quick response! Well I suppose we would actually prefer an option for no database at all -- we don't have anything to persist really...

But we definitely don't want to have to ask our users to install mariadb or postgres, especially if it's not actually used, so I figured H2 would be more or less painless.

Anyway, thanks again.

[2016-01-27 14:37] jdubois commented on #2706
And did you try our Docker configurations? Very easy to use and set up, and you get a real database :-)

[2016-01-27 14:55] #2668 closed

[2016-01-27 14:56] erikkemperman commented on #2706
I don't see how that would help us, but I guess our use-case might be uncommon.

We have a lot of Spring code, across several Maven modules, one of which does browser-based visualization off a  backend receiving ephemeral input from the other modules. All of this has to be installable by non-experts (and likely even non-administrators).

We're now looking into rewriting that visualizer, and are co

[2016-01-27 14:56] #2647 closed

[2016-01-27 14:58] cbornet commented on #2706
@erikkemperman if you really don't have production requirements for your database, configuring your application-prod.yml to use H2 is just a few lines to copy from your application-dev.yml

[2016-01-27 14:59] jdubois commented on #2706
How yes it's uncommun but that's a perfectly valid use-case.
You can just copy/paste our dev code with H2 as @cbornet says, it will work fine enough!
I've used H2 with huge schemas and it's working well for this kind of need.

[2016-01-27 15:03] erikkemperman commented on #2706
Ah yes, that makes more sense than forking the generator just to accomplish this :-)

Thanks a lot guys!

[2016-01-27 15:09] cbornet commented on #2702
I think it should be optional to skip it :smile:

[2016-01-27 15:14] cbornet commented on #2702
We cannot use changelogDate because jhipster-uml for instance will put the same date for all entities.
I think the simplest is to store a list because prefixing the json files will cause backward compatibility issues with jhipster-uml.
We can also export the function that gets all the entity names to the modules.

[2016-01-27 16:21] #2645 closed

[2016-01-27 16:31] jdubois commented on #2697
Then it's #2685 :-)

[2016-01-27 16:31] #2697 closed

[2016-01-27 16:35] jdubois commented on #2648
If ng-csv can work with our server-side pagination, then that would be the best solution to the problem: no server-side change to do, only add the directive when it's needed, I love it!

[2016-01-27 16:38] cbornet commented on #2697
Cool !
We need to have the entity generator clean the old files or there will be cries at the next upgrade.
I've almost finished #2702 (so easy with yeoman) so it will ease the migration

[2016-01-27 16:41] cbornet commented on #2697
Well, in fact no : you will have to play your ```yo jhipster:entity``` at least once in the correct order before it works automagically

[2016-01-27 16:42] jdubois commented on #2697
Can you read inside the .json files? There is the timestamp of creation inside it, so you need to replay the entities creation in that order (the timestamp is used by Liquibase, for the same reason)

[2016-01-27 16:48] cbornet commented on #2697
The problem is that jhipster-uml sets the same changelogDate to all entities

[2016-01-27 16:51] jdubois commented on #2692
OK, so basically we already "support" this as it's standard AngularJS, but that could be an improvement in performance for the current screens.
On the other hand I'm not sure it will be a big improvement, and I'm afraid it will confuse newer users, so I'm not totally convinced we should do this.
I'm closing this as I don't think we should migrate this now, it should only be a specific tuning on so

[2016-01-27 16:51] #2692 closed

[2016-01-27 16:53] jdubois commented on #2697
Oh I didn't know that, maybe @MathieuAA @CarlKlagba should increment the last millisecond each time an entity is generated, so we have the right order?
Otherwise this will work for all normal use cases.

[2016-01-27 16:53] cbornet commented on #2648
But ng-csv is a small project compared to ui-grid and ag-grid.
It seems quite simple to use ui-grid with spring server-side pagination : https://github.com/naory/spring-data-rest-ng-grid-example
ui-grid and ag-grid also look much more powerful than bootstrap.

[2016-01-27 16:58] jdubois commented on #2648
OK, then if this can be easily achieve by using one of those 3rd party libs I don't think we should do anything in the project.
It's our usual job -> we make it easy to integrate those, so if people need this it's easy for them to add

Then it would be nice to have this documented somewhere, I think a "tip" on the website would be great!

[2016-01-27 16:59] jdubois commented on #2672
Yes that's solved in the next version thanks to #2645

[2016-01-27 16:59] #2672 closed

[2016-01-27 17:08] MathieuAA commented on #2697
Do we? I'll check that and fix it if this is the case!

[2016-01-27 17:18] cbornet commented on #2697
It's also simpler to read a list than fetching each files in the .jhipster dir and comparing the changelogDates

[2016-01-27 18:22] geraldhumphries opened #2709 "Entity `update` integration tests are persisting changes to the test database immediately"
* **Overview of the issue**

When running integration tests, changes made to the object being tested (the one that's set up in `initTest`) are persisted across all copies of that object. Calling `entity.setAttribute` will immediately change that attribute in copies of the object in lists from `entityRepository.findAll()` and the database.

* **Motivation for or Use Case**

The update test is not a

[2016-01-27 19:40] wimdeblauwe commented on #2669
I tried the same but with "grunt" instead of "gulp", but still the same issue. I already followed the steps to reinstall node found here: https://raibledesigns.com/rd/entry/getting_started_with_jhipster_on

But still the same issue. This is with grunt:

[code]

[2016-01-27 20:23] MathieuAA commented on #2697
@cbornet you are right! Gonna fix it right away, thanks!

[2016-01-27 20:36] #2698 closed

[2016-01-27 22:04] jdubois commented on #2669
Try a `npm install` this should solve the issue

[2016-01-28 04:13] saahon commented on #2705
I have installed yo, bower, grunt-cli  for windows. for each project need separately installed?

[2016-01-28 05:00] saahon commented on #2705
I have was individually for the project installed grunt, and bower:
`D:\projects\jproject>npm install -g bower`
result:
`C:\Program Files\nodejs\bower -> C:\Program Files\nodejs\node_modules\bower\bin\bower
C:\Program Files\nodejs
    └── bower@1.7.7 "`
I have set Maven , the module Spring added, bower.json file showed, configuration database checked, did clean-install and has launched a project w

[2016-01-28 05:22] deepu105 commented on #2705
dude really somthing wrong with your setup are you sure you followed this https://jhipster.github.io/installation/

make sure node, npm and bower is installed properly, if npm or bower install failed during app generation run it again with `npm install` and `bower install`

[2016-01-28 05:23] deepu105 commented on #2705
its seems you havent installed git or you havent set git on your path

[2016-01-28 06:29] ouyangshixiong commented on #2666
Thank you very much @cbornet .
I will try it right now.

[2016-01-28 07:02] deepu105 commented on #2661
@jdubois are you talking of a new sub gen or a module?

[2016-01-28 07:15] ezraroi opened #2713 "Spring Cloud"
Do you plan to add Spring Cloud support?

[2016-01-28 07:16] jdubois commented on #2713
Yes!

[2016-01-28 07:16] #2713 closed

[2016-01-28 07:17] xjiaoyang commented on #2713
Great news！！！

[2016-01-28 07:49] ezraroi opened #2714 "ExceptionHandlingAsyncTaskExecutor execute is not wrapping the task"
The execute is not wrapping the task with the exception handling:

Should be:
[code]

[2016-01-28 08:06] jdubois commented on #2714
Is this code still useful ? This was added at the beginning of the project and I don't even know if this is useful.

[2016-01-28 08:08] jdubois commented on #2661
I hear more and more people asking for something like this, so it could be a sub-generator. Then there isn't much difference in the end.

[2016-01-28 08:30] cbornet commented on #2661
I hink we should start by making a swagger_codegen generator based on https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/TypeScript-Angular

[2016-01-28 08:33] deepu105 commented on #2661
it looks like a module material to me rather than a sub gen

Thanks & Regards,
Deepu

On Thu, Jan 28, 2016 at 4:30 PM, Christophe Bornet <notifications@github.com

[2016-01-28 08:36] cbornet commented on #2661
Yes I was also thinking of making a module for the back-end based on the Feign swagger-codegen.

[2016-01-28 08:45] cbornet commented on #2661
There is a [swagger-codegen-maven-plugin](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen-maven-plugin) that can easily be added by a module to generate the code (maven only)

[2016-01-28 09:25] jdubois commented on #2709
I think the biggest issue is that the REST call is not testing anything! I guess this is because the object is updated in the Hibernate 1st level cache, so you have the same value everywhere.
So we need to use a new object, which is not in the cache.

[2016-01-28 09:29] ezraroi commented on #2714
I think that as long as this class can be used the fix should be applied.

Maybe today there is no need for such executor as it is easy to set unhandled exception handler

[2016-01-28 09:30] jdubois commented on #2661
OK if @cbornet you want to do a module of it we can start like this!

[2016-01-28 10:03] cbornet commented on #2571
Working on this. I need to pass "this" to rewriteFile and replaceContent.
Should I keep the old behaviour if "this" is not passed to preserve backward compatibility with modules ? Or should modules do the necessary to upgrade themselves ?

[2016-01-28 10:12] deepu105 commented on #2571
better keep the old behaviour

[2016-01-28 10:18] ddamw opened #2716 "Outdated objects in LoggingAspect"
Our jHipster 2.26.2 based application suddenly started to log large stack traces when signing in a user that signed out before:

[code]

We think the following sequence of events is the cause:

1. We use a MySQL backend with local sessions.
2. Signing out removes the token from the token repository (CustomPersistentRememberMyServices:149)
3. The token does not get removed from the User explicitly

[2016-01-28 10:25] deepu105 commented on #2452
I dont think we should be adding documentation on how to do stuff in AWS it should be referred to in AWS docs

[2016-01-28 10:25] #2452 closed

[2016-01-28 10:26] deepu105 commented on #2558
@mhavrlent are you gonna work on the comments in PR? if not can we close this?

[2016-01-28 10:26] deepu105 commented on #2271
@RGFnaGFuIEd1bmF5 are you working on this?

[2016-01-28 10:28] deepu105 commented on #2233
as per comments above

[2016-01-28 10:28] #2233 closed

[2016-01-28 10:29] deepu105 commented on #1716
@jdubois should this be closed as we are planning to migrate to JWT

[2016-01-28 10:30] deepu105 commented on #1895
let me see if i can do this

[2016-01-28 10:32] deepu105 commented on #2506
@jd-carroll are you working on this?

[2016-01-28 10:34] jdubois commented on #1716
Yes XAuth will be replaced by JWT

[2016-01-28 10:34] #1716 closed

[2016-01-28 10:41] jboenisch commented on #2709
This probably happens because the freshly saved entity is attached to the Entitiymanager, which takes care of persisting all changes.

A quick fix could be to call entityManager.detach(entity) before modifying any field.

[2016-01-28 11:39] tapas4java commented on #1895
I also observed if the entity name is 'Category' it is pluralising as
'Categorys'. This will be also fixed once we fix this issue.
On 28 Jan 2016 18:30, "Deepu K Sasidharan" <notifications@github.com> wrote:

[2016-01-28 12:17] erikkemperman commented on #751
Sorry to comment on old and closed topic... But I would love to have an option for sourcemaps as well! Any chance of reconsidering this?

It would mean that users who encounter errors will be able to provide meaningful reports / stacktraces. I know most of the relevant grunt/gulp plugins know about sourcemaps these days (certainly concat and uglify). The production war includes all the unminified

[2016-01-28 12:25] erikkemperman commented on #2282
From earlier experience with sourcemaps: I used to get the `sourceRoot` wrong... It is relative to the `.map` file; which is (usually) the same folder as the minified output.

For gulp: see [this](https://github.com/floridoo/gulp-sourcemaps) which is what various other sourcemap-aware plugins use.

Would love to see this working!

[2016-01-28 12:51] deepu105 commented on #2282
@erikkemperman have you got this working? Im trying but chrome doesnt seem to load it

[2016-01-28 13:17] erikkemperman commented on #2282
@deepu105 Not in a jhipster project, no. I'm quite new around here... But in other projects it works like a charm, once you get some gotchas out of the way, one of which is that this sourceRoot option (well, it was to me).

What you want to do is check if the closing comment in the minified file (js/css) correctly points to the .map, and then in the map if its reference correctly points to the ori

[2016-01-28 13:50] jdubois commented on #751
Yes @erikkemperman this has been opened again :-)
Nobody is currently working on this, so if you want to take the lead, just go ahead!

[2016-01-28 13:51] jdubois commented on #2282
When this is done, we should also consider removing all "dev" files from the production build. This will of course be another discussion.

[2016-01-28 14:03] deepu105 commented on #2282
@erikkemperman can you look at the grunt or gulp file generated and see if you can get it working?

[2016-01-28 14:05] deepu105 opened #2718 "grunt in dev dependency"
@jhipster/developers guys why are we having `    "grunt": "0.4.5",` in our package.json devDependencies? we are not using grunt for anything rite?

[2016-01-28 14:13] erikkemperman commented on #2282
@deepu I might have some time tonight.

[2016-01-28 14:58] deepu105 commented on #2282
yes plz any help is appreciated

Thanks & Regards,
Deepu

On Thu, Jan 28, 2016 at 10:13 PM, Erik Kemperman <notifications@github.com>
wrote:

[2016-01-28 16:18] erikkemperman commented on #2282
@deepu105 Oh dear, I haven't done any sourcemaps stuff in the context of `usemin` -- looks like that might complicate things compared to what I know. I'll give it a try but can't promise anything...

[2016-01-28 19:19] wuethrich44 commented on #2452
I will try to create a role when it not exits. I will provide I PR if I got some time.

[2016-01-28 20:53] myspivey opened #2720 "Feature Request: Don't use .original for non exec WAR"
jhipster uses sprint-boot:repackage to package an executable and the non executable. Requesting to change this so that both files are .war instead of having one .original.

[2016-01-28 21:13] cbornet commented on #2661
The issue I see with the maven plugin is that it will not work with gradle.
We can also use http://generator.swagger.io but with that we don't have control over the generator version (it's the SNAPSHOT)
Eventually, we can use the swagger-codegen-cli jar
Tell me what you prefer.

[2016-01-28 21:38] mikehalma opened #2722 "Cassandra cucmber tests fail (not starting in-memory db?)"
On jhipster version 2.26.2 on Windoze, generate an app with:

[code]

then run "gradle cucmberTest".

This fails and the stacktrace suggests that it is because the in-memory cassandra db is not started or not found?

[code]
Cheers,
Mike.

[2016-01-28 21:46] jdubois commented on #2722
I need to check the doc, but don't you need to have Cassandra running for doing those tests?

[2016-01-28 21:54] #2714 closed

[2016-01-28 21:55] #2571 closed

[2016-01-28 22:13] #1895 closed

[2016-01-28 22:17] jdubois commented on #2718
It comes from me from the very beginning, indeed I'm not sure if this serves any purpose!!

[2016-01-28 23:23] thiagogcm opened #2723 "Move to Typescript"
[Feature request]

From now on Typescript is able to compile javascript files, which makes the migration easier.
This could be the first step towards Angular2 support.

http://blogs.msdn.com/b/typescript/archive/2016/01/28/announcing-typescript-1-8-beta.aspx

#823

[2016-01-28 23:50] gmarziou commented on #2720
Appending "exec" to the executable war name would force users to rename it also because spring boot systemd script uses this name to guess the name of the config file.
The executable war is the preferred way to deploy JHipster apps, I would not want it changes.

[2016-01-28 23:54] gmarziou commented on #2661
@cbornet have you been successful running swagger codegen from cli?

I could not make it work on my  project and the error messages were so cryptic that I gave up.

[2016-01-29 00:06] vitornobrega commented on #1090
I am getting the same warning and my service is very slow. Where i can increase the limitation of 1000 objects?

[2016-01-29 00:46] deepu105 commented on #2718
I dont see it being used, so ill remove it
On 29 Jan 2016 06:17, "Julien Dubois" <notifications@github.com> wrote:

[2016-01-29 03:48] amitjindal opened #2724 "[Enhancement Request] Ability to change base URL for generated entities (only entities)"
### Overview of the issue
This is an important enhancement request for a larger scale project.
Currently all entities are generated at the url: /api/<entityname>
I would request that there should be a question to ask the baseUrl where all entities be generated and then they should be generated in sub-url. Sort of like:
`Please provide the base URL where entities should be placed (default: '/api/')

[2016-01-29 04:06] amitjindal commented on #2724
Want to add:
Internally we also move our generated Java Entities to a sub-package. However I didn't originally added that in the request as I thought you may not want to do that. It is mostly for logical separation as described above. Needed to make a few small changes in generator code to put the files in right place and correct the package inclusions.

![2016-01-29_09-32-27](https://cloud.github

[2016-01-29 05:26] deepu105 commented on #2724
For base url this can be easily done with a module subscribing to post
entity creation hook, its very easy actually, simpler than my audit module.
The hook will call the module and module will ask question for base url and
replace the current url using a regex in the resource files. I can help if
you want to do a module for this

For moving entity resources to a folder, i wouldn't mind but i would

[2016-01-29 05:41] cbornet commented on #2661
@gmarziou yes, I use it all the time !  Which language were you using ?

[2016-01-29 06:02] amitjindal commented on #2724
@deepu105 Ok. Thanks for your offer to help. Then let me try first. That way I will learn. If I have a question I will ask.
I thought about regex also, but figured this was something that was better architecturally so could potentially be in core.

[2016-01-29 06:05] pascalgrimaud commented on #2720
agree with @gmarziou

[2016-01-29 06:47] myspivey commented on #2720
Can you clarify @gmarziou? Not sure I follow how this is a negative impact as it simply appends -exec before the war package extension on the executable. Also what makes it preferred? All of my large scale installs are existing Tomcat servers that do not have the need for the larger war including tomcat so not prefered in my use cases. Just looking for clarity. Understand it as a negative if this

[2016-01-29 07:15] pascalgrimaud commented on #2720
Currently :
[code]

With your modification:
[code]

We shouldn't change it, because it's how spring-boot seems to work. Look [the documentation here](http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#build-tool-plugins-maven-packaging)

There is a discussion in spring boot project : https://github.com/spring-projects/spring-boot/issues/141

[2016-01-29 07:24] myspivey commented on #2720
What you mentioned in the documentation lists the default behavior, and spring-boot provides the manner I added to change it, http://docs.spring.io/autorepo/docs/spring-boot/1.3.0.RELEASE/maven-plugin/examples/repackage-classifier.html. The second link, the discussion, was closed because they added the property I linked above as the fix and closed it. We are actually matching that bug by not using

[2016-01-29 07:53] erikkemperman commented on #2282
@deepu105 I haven't had a lot of time -- and won't for the next couple days, unfortunately -- but I figured I'd report that `usemin` does indeed complicate things, relative to what I know about sourcemaps. It looks like it screws up the `file.base` property somehow, but will need to dig into that further.

[2016-01-29 07:55] deepu105 commented on #2724
not sure I guess you are the first one asking for such a feature. I have
personally done huge enterprise projects using Jhipster, but never had
these requirement.

You can check my [entity audit](
https://github.com/deepu105/generator-jhipster-entity-audit) module for ref
and also dont forget to use the [module-generator](
https://github.com/jhipster/generator-jhipster-module) to create a
skeleton

[2016-01-29 08:20] amitjindal commented on #2724
@deepu105 Great, thanks. Will follow your project to implement.
About separation, its not a project requirement, but simply a self imposed habit to separate these. I guess I assumed everyone would want to do this.

[2016-01-29 08:27] #2718 closed

[2016-01-29 09:00] pascalgrimaud commented on #2722
No need to have Cassandra running to do tests
Cassandra Tests work fine.

**Cucumber** Cassandra Tests failed

[2016-01-29 09:03] erikkemperman commented on #1628
@tayfunyasar I just ran into the same issue, "discover connectors" did not find anything. Created a PR [here](https://github.com/jhipster/generator-jhipster/pull/2726) that would fix this in the pom. Ugly, I think, but there is precedence -- the `jacoco-maven-plugin` is handled the same way.

[2016-01-29 09:27] jdubois commented on #2724
The original idea (I'm not saying it's good, I'm just giving the context) is that:

- You have "/api" at the top of your REST controllers, so it's easy to migrate the URLs to something like "/api/v1"
- Classes are generated in their base package, but if needed you just you IDE to move them to another package (of course, re-generating entities will cause problems, but at that time this didn't exist

[2016-01-29 09:29] jdubois commented on #2723
This is kind of a duplicate to #1933

Yes we will probably move to TypeScript, but that will be when we move to AngularJS 2.0, if that ever happens -> my estimate is that it will be in 6 to 12 months, not before.

[2016-01-29 09:29] #2723 closed

[2016-01-29 09:36] jdubois commented on #2720
As some sub-generators (and I expect some people too) are using those names to deploy their applications, this would be a breaking change.
And as those are not the standard names, this would be against [policy 1](http://jhipster.github.io/policies/), unless we have a good reason to change this -> what is your specific use case for renaming this file?

[2016-01-29 10:46] deepu105 commented on #2724
@jdubois, I like the idea of moving all entity resource.java to a new
package inside rest, what do you think?

Thanks & Regards,
Deepu

On Fri, Jan 29, 2016 at 5:27 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-01-29 12:35] gmarziou commented on #2720
I was refering to the way the systemd init script included at the very beginning of the executable jar file uses the name of the maven artifcat to guess the name and location of the [startup conf file](http://docs.spring.io/autorepo/docs/spring-boot/1.3.0.RELEASE/reference/html/deployment-install.html#deployment-script-customization-conf-file)

[2016-01-29 12:38] gmarziou commented on #2661
I tried both tizen and java feign, it could be something specific to my API, I use @Api* annotations a lot.

[2016-01-29 12:59] jdubois commented on #2724
@deepu105 it's like for the "domain" package, the idea was that everything is in the same package as it's easier to use (and generate!), and then people can refactor it easily, it's just a drag'n drop with their IDE: this is like our [Policy 2](http://jhipster.github.io/policies/) : having a new question is not worth it if you can do it with just one click with your IDE

[2016-01-29 13:05] erikkemperman commented on #1430
@jdubois I understand that having log4j2 support by default is not something you care about especially -- but shouldn't it at least be more or less painless to drop in if we so wish? As @cselti wrote above:

But that doesn't seem to be the case!?

I am pulling in some other maven modules, all of which we've set up with log4j2 some time ago and we are inheriting from those a transitive dependency o

[2016-01-29 14:25] cbornet opened #2727 "Entity --regenerate and --force flags wants to remove the javadoc field"
* **Overview of the issue**

Doing ```yo jhipster:entity Foo --force``` will lose the "javadoc" field if any when writing to the .jhipster dir.

* **JHipster Version(s)**

master

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

* **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

Foo.json
[code]

* **Reproduce the er

[2016-01-29 14:40] cbornet commented on #2727
It's also the case when you edit and add or remove a field. I will do another PR

[2016-01-29 14:43] deepu105 commented on #2724
@jdubois, no no I don't want to have a new question, i was just suggesting
that having entity resources in a sub package by default might be nice

Thanks & Regards,
Deepu

On Fri, Jan 29, 2016 at 8:59 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-01-29 14:45] gmarziou commented on #1430
As an alternative, you could implement this as a [jhipster module](http://jhipster.github.io/modules/creating-a-module/) that would take care of replacing LoggerDTO and LoggerResource classes by their equivalent for log4j2 and update the pom.xml.

[2016-01-29 14:51] #2727 closed

[2016-01-29 15:00] deepu105 commented on #2727
the javadoc filed is not set originally by jhipster its a backend field i
guess,put in for JH UML

Thanks & Regards,
Deepu

On Fri, Jan 29, 2016 at 10:40 PM, Christophe Bornet <
notifications@github.com> wrote:

[2016-01-29 15:08] #2720 closed

[2016-01-29 15:19] erikkemperman commented on #1430
@gmarziou Thanks, that might be a better idea than a single fixed class with a lot of reflection going on.

[2016-01-29 15:25] #2702 closed

[2016-01-29 15:36] cbornet commented on #2661
A swagger-codegen jhipster-angular generator would also be interesting with the jhipster backend when the user has added its own MVC requestmappings.

[2016-01-29 16:08] cbornet commented on #2659
@jdubois it doesn't work with a persistent RDMS when updating an entity.
Anyway, it could even be interesting to have it even for persistent storage. I have started a project where each time the back-end dev creates/modifies an entity, they also add some dev dataset. So when other team members checkin, they instantly have sample data to work on

[2016-01-29 16:22] vitornobrega opened #2730 "How i can create a many to many relation with extra fields?"
Hi, i had read documentation about entities relations but i didn't found anything about many to many with extra fields.

I had create a many relation many to many but i have problems with my service. Maybe the relations aren't correct.

How i can create a many to many relation with aditional fields using jhipster? It's possible to add an option to add fields with jhipster?

thanks

[2016-01-29 16:30] jdubois commented on #1430
@erikkemperman but you are correct, if we don't have the right imports we must correct that, and I'm checking this right now!

[2016-01-29 16:34] jdubois commented on #1430
@erikkemperman OK in fact we only use the Logback imports for updating the logback configuration on the fly, and this is normal that we use the internal API for that.

[2016-01-29 16:35] mikehalma commented on #2722
I think I have fixed this - it wasn't starting the in memory Cassandra database. #2731

[2016-01-29 16:38] pascalgrimaud commented on #2722
We got a lot of issue related to HazelCast + Cucumber
Can you test HazelCast + Cucumber + Cassandra too plz ?

[2016-01-29 16:44] jdubois commented on #2659
Sorry, you are correct.
I understand your need for a dataset, isn't there something already existing to "dump" a database in Liquibase format? I remember having this with DBUnit, a long time ago.

[2016-01-29 16:46] jdubois commented on #2730
You mean fields in the relationship table? We don't support this.
You need to do two one-to-many relationships, it's going to do the same result in the end.
I'm closing this as according to our guidelines this should go to StackOverflow -> can you open your question there?

[2016-01-29 16:46] #2730 closed

[2016-01-29 16:49] vitornobrega commented on #2730
If the way to do this is create a two one-to-many relationships, i will do it. It's not necessary to open a new question in stackoverflow.

[2016-01-29 16:52] mikehalma commented on #2722
will do

[2016-01-29 16:53] jdubois commented on #2730
Yes, it's just so that other people can benefit from the answer. And maybe you will have some better answers, I don't know everything :-)

[2016-01-29 16:56] vitornobrega commented on #2730
Ok, i will do it!

[2016-01-29 17:37] erikkemperman commented on #1430
@jdubois That depends, I guess, on how easy it should be for people to change logging implementation... It is definitely true that the things that `LoggerDTO` and `LoggerResource` do is not possible with just the SLF4J interfaces. But implementing it with reflection, which I tried briefly, becomes quite ugly.

[2016-01-29 17:43] cbornet commented on #2661
Check https://github.com/cbornet/generator-jhipster-swagger-cli.
This is a very first version, lots to do but gives an idea

[2016-01-29 18:01] geraldhumphries commented on #2657
Any ideas for what to do with infinite scroll?

[2016-01-29 18:28] mikehalma commented on #2722
OK my fix seems to be passing all tests.  Please see #2732

[2016-01-29 19:18] mhavrlent commented on #2558
@deepu105
Yes, I will try to do it this weekend.

[2016-01-29 20:30] pascalgrimaud commented on #2722
closed by #2732

[2016-01-29 20:30] #2722 closed

[2016-01-30 00:56] deepu105 commented on #2661
Since module is started can we close this ticket?

[2016-01-30 02:49] deepu105 commented on #2271
@jhipster/developers hey guys since we are breaking stuff can we change the angular js folder structure to below as per John papa style [Y141](https://github.com/johnpapa/angular-styleguide#locate), [Y152](https://github.com/johnpapa/angular-styleguide#folders-by-feature-structure) etc

[code]

what do you guys think, if you guys are ok ill take the lead on this and change the structure

[2016-01-30 04:14] pascalgrimaud commented on #2271
Ok for me @deepu105

[2016-01-30 06:53] jdubois commented on #2271
Yes that's the right time to do this.
I didn't study the guide well enough so I'm trusting you on this. Only issue for me is the "webapp" folder, which comes from the standard Maven layout, so this might cause trouble and has to be discussed.

[2016-01-30 07:26] cbornet commented on #2661
My module generates code for the backend not for the front. There is more work to do for the front as we need to do a swagger-codegen template

[2016-01-30 07:38] deepu105 commented on #2271
Oh I didnt think of that, then may be lets keep that folder name the same.

Thanks & Regards,
Deepu

On Sat, Jan 30, 2016 at 2:53 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-01-30 07:42] deepu105 commented on #2271
@gmarziou @gzsombor @atomfrede @Vaelyr you guys do a lot of angular i suppose. so what do you think of this structure,may be the webapp folder we should keep the same as Julien suggested.

[2016-01-30 07:42] jdubois commented on #2271
OK then!

[2016-01-30 08:13] atomfrede commented on #2271
Yes keeping ``webapp`` is much easier. Folder structure looks fine to me.

[2016-01-30 08:20] pascalgrimaud commented on #2271
So maybe our modules must be updated too, right?

[2016-01-30 08:21] jdubois commented on #2271
Yes, we will have some version issues here! That's why it's a major release, we have breaking changes.

[2016-01-30 08:22] deepu105 commented on #2271
yup it all paths would need update

anyway as of now most modules are from us, so we can make new release as soon as JH 3.0 is out

[2016-01-30 08:22] deepu105 commented on #2271
it should be just changing paths in the copy and template instructions

[2016-01-30 08:23] deepu105 commented on #2271
I have a question @jdubois should we change only the generated apps structure or should we also change our template folder structure to be the same as above for angular templates?

[2016-01-30 08:27] delor opened #2734 "Java preprocessor doesn't work in JHipster project"
I have tried to use Lombok and http://immutables.github.io/ with JHipster project but it seams that something in build process is "blocking" preprocessor from generating code.

example source code https://bitbucket.org/delor/test_jhipster_immutables

JHipster Generator v2.27.0

[2016-01-30 08:27] jdubois commented on #2271
Oh yes we should also change our template structure : it's much easier to understand if they look the same.

[2016-01-30 08:31] jdubois commented on #2734
Not a JHipster bug, as we don't support Lombok.
And if look at the tickets history, you'll see I'm strongly against Lombok exactly for this kind of reasons.

[2016-01-30 08:31] #2734 closed

[2016-01-30 08:33] delor commented on #2734
What about other libraries based on preprocessor? I do mention also Immutables library.

[2016-01-30 08:34] atomfrede opened #2735 "Edit entities when using mongo doesn't work"
When using mongodb you can't edit entites at the moment. It looks like the id is not correctly transferred to to backend. The problem was not there with spring-boot 1.3.1 (worked on https://github.com/deepu105/generator-jhipster-entity-audit/issues/4 with 1.3.1 and I was able to edit entites)

Id shown in ui: 56ac73947338fd266c568d64
log looks like it just gets 56 as id (which doesn't work of cour

[2016-01-30 08:41] deepu105 commented on #2271
ok

[2016-01-30 09:45] jdubois commented on #2734
We do support other Java annotation processors, like MapStruct or JPA, but we do a specific set up for them, and they don't all work together, this is why we limit them.

[2016-01-30 10:23] jdubois commented on #2661
Great idea @cbornet I'm looking forward to testing your module

[2016-01-30 10:25] gmarziou commented on #2271
Works for me.

[2016-01-30 10:29] cbornet commented on #2661
I forgot to add build dependencies...

[2016-01-30 10:50] atomfrede commented on #2735
In the new angular controllers have ``url: '/{id:int}/delete'`` instead of `` url: '/{id}/delete'``. Which leads to the descripted effect that the mongo uuid is truncated to an int value.

@andidev I think you've made the change. Does it have any impact when removing int there (for sql dbs)? Should we differentiate in the js file between the different db backends?

[2016-01-30 10:55] cbornet commented on #2661
Fixed

[2016-01-30 11:14] deepu105 commented on #2271
ok so majority agrees, i would take that as yes :)

Thanks & Regards,
Deepu

On Sat, Jan 30, 2016 at 6:25 PM, Gaël Marziou <notifications@github.com>
wrote:

[2016-01-30 12:54] andidev commented on #2271
Maybe we could follow more John Papa styles in the next major version. I could help with the refactoring.

[2016-01-30 13:05] andidev commented on #2735
Yes this is my fault. Sorry!
Removing the int from the delete will not have any impact.
Though removing it from `url: '/{id:int}/edit'` will make the urls collide with state `url: '/<%= entityInstance %>-management/{id:int}'` (view state)

That was the reason for giving i t a type.

[2016-01-30 13:09] andidev commented on #2735
UI Router supports a regex in the url, maybe we could write one for UUIDS?

Here is the docs:
https://github.com/angular-ui/ui-router/wiki/url-routing#regex-parameters

[2016-01-30 13:10] andidev commented on #2735
Do we use a UUID for cassandra as well?

[2016-01-30 13:13] jdubois commented on #2271
Yes of course! First we do the layout, then the code, as otherwise it'll be complex to merge. And any help is welcome, keeping in mind that I'm a Java guy and I suck at JavaScript :-)

[2016-01-30 13:13] jdubois commented on #2735
Yes we use UUIDs for Cassandra

[2016-01-30 14:09] deepu105 commented on #2271
im almost done refactoring layouts :) need lots of help in review and testing :joy:

[2016-01-30 14:23] jdubois commented on #2271
I'm not too worried about reviewing and testing, there are a lot of us :-)
And I'm soon going to have a second full-time trainee, we can make them both work on that if that's necessary

[2016-01-30 15:29] deepu105 opened #2737 "Metrics thread dump doesnt work"
The thread dump modal doesnt show anything, api returns data but its not rendered

[2016-01-30 15:31] jdubois commented on #2737
Yes I confirm the issue.

[2016-01-30 15:36] andidev commented on #2735
Great then I'll add a regex for the url routes for Mongo and Cassandra setups.

[2016-01-30 15:37] andidev commented on #2735
Note to myself : use following regex for UUIDs
[\w]{8}-[\w]{4}-[\w]{4}-[\w]{4}-[\w]{12}

[2016-01-30 15:39] deepu105 commented on #2271
that was a lot of refactoring,my eyes hurt :sob: plz review guys

[2016-01-30 16:09] deepu105 commented on #2271
i did all the basic testings,npm test, grunt test, gulp test, gradle dev and prod build and its ok

[2016-01-30 19:46] javasparx opened #2739 "Length of value DEFAULT_*FIELD* does not match with validation maxlength"
Hi guys,
I did not check minlength(L>5) but I think it has same problem.
I'm using jhipster-uml. But it is same as creating from terminal using 'yo jhipster:entity currency'.
[code]

**Currency.java**
[code]

**CurrencyResourceIntTest.java**
[code]

java.lang.AssertionError: Status
Expected :201
Actual   :400

[2016-01-30 23:25] hobong opened #2741 "Could not resolve dependencies for sample project"
[ERROR] Failed to execute goal on project sampletoken: Could not resolve dependencies for project com.mycompany.myapp:sampletoken:war:0.0.1-SNAPSHOT: Could not find artifact org.springframework.data:spring-data-commons:jar:1.11.2.RELEASE in spring-milestones (http://repo.spring.io/milestone)

[2016-01-31 00:09] andidev commented on #2735
So the ids for mongodb was not exactly an UUID. I had to use the following regex to make it work [0-9a-fA-F]{24}

Though I doubt this is the case for Cassandra. @jdubois do you know the ids looks like in the URLs for Cassandra? I don't have Cassandra installed so I cant test it myself.

[2016-01-31 00:33] #2737 closed

[2016-01-31 01:32] gmarziou commented on #2741
Please follow our [guidelines on how to submit an issue](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines).

Your problem seems to be in your environment, missing artifact can be found on maven central, your project looks for it in spring-milestones, so I suspect that your maven settings.xml references it or you need to cleanup your .m2 directory.

[2016-01-31 01:32] #2741 closed

[2016-01-31 02:11] ngasull commented on #2282
@deepu105 @erikkemperman finally had some time tonight to check this out :D I could make sourcemaps working with `gulp-sourcemaps`, see the PR https://github.com/jhipster/generator-jhipster/pull/2742

Important notes for you @deepu105 to confirm:
* I made the sourcemaps be generated in the same folder as the JS output
* I disabled uglify's mangling in order to preserve variable names, therefore th

[2016-01-31 06:11] amitjindal opened #2743 "Mongo Java integration tests on entities are not running"
**Overview of the issue**
When I run **mvn clean test** the tests for generated entities are not running.
The output generated is as follows. After that it simply sits there and does nothing:
[code]

**Motivation for or Use Case**
The test should run.

**JHipster Version(s)**
2.27.0 (master branch)
Latest. Downloaded 5 minutes ago.

**JHipster configuration, a `.yo-rc.json` file generated in the r

[2016-01-31 11:21] MathieuAA commented on #2739
The problem seems to come from [here](https://github.com/jhipster/generator-jhipster/blob/master/entity/templates/src/test/java/package/web/rest/_EntityResourceIntTest.java#L107).

[2016-01-31 11:38] deepu105 commented on #2185
@jdubois the sample app [here](https://github.com/jhipster/jhipster-sample-app/tree/master/src/main/webapp/scripts/components) seems to have the login-popup folder and code from this PR was it merged by mistake on your local??

[2016-01-31 11:43] deepu105 commented on #2185
@magelle any update on this?

[2016-01-31 12:59] jdubois commented on #2735
For Cassandra it's a standard UUID so your first regex looks OK
If you want to test you can use docker-compose, or installing Cassandra is in fact very easy

[2016-01-31 13:00] jdubois commented on #2185
@deepu105 I don't remember merging this...

[2016-01-31 13:38] andidev commented on #2735
I tried it but I get an error when running the `docker exec -it test-dev-cassandra entities` command

[code]

[2016-01-31 13:47] deepu105 commented on #2282
@ngasull the mangled variable issue might be a chrome issue https://code.google.com/p/chromium/issues/detail?id=327092

I think the generated sourcemaps will have actual variable name mapping as well

btw, i found this as well https://github.com/floridoo/gulp-sourcemaps/issues/168

[2016-01-31 13:51] deepu105 commented on #2185
thats strange then how come the sample app has that folder :O

Thanks & Regards,
Deepu

On Sun, Jan 31, 2016 at 9:00 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-01-31 13:56] pascalgrimaud commented on #2735
@andidev : just tried it and it works fine
1) create jhipster application with Cassandra as DB
2) create BankAccount as entity

Then I used these commands to start and init the DB:
1) docker-compose -f src/main/docker/dev.yml build
2) docker-compose -f src/main/docker/dev.yml up -d
3) docker cp src/main/resources/config/cql/ hipcassandra-dev-cassandra:/
4) docker exec -it hipcassandra-dev-cassandr

[2016-01-31 14:01] pascalgrimaud commented on #2735
FYI, an example of ID shown in UI by Cassandra : 091d2be1-934e-4978-b449-f36d312037b9

[2016-01-31 14:03] andidev commented on #2735
Thanks, tried it again and it works! Must have missed the init step I think. I'll have the fix ready for the UUID you mentioned so I'll merge this fix right after I tested it.

[2016-01-31 14:06] andidev commented on #2735
Okay so I still get error when running mvn spring-boot:run
[code]

Do I have to run it against docker somehow?

[2016-01-31 14:10] pascalgrimaud commented on #2735
Seems like you stopped your container.
Check with `docker ps`, you should see something like this:
[code]

[2016-01-31 14:11] andidev commented on #2735
It says its up:
[code]

[2016-01-31 14:11] pascalgrimaud commented on #2735
What OS do you use ? Windows, OSX or Linux ?

[2016-01-31 14:11] andidev commented on #2735
osx

[2016-01-31 14:17] pascalgrimaud commented on #2735
I don't have OSX so never tried it with this OS :s

Try : docker inspect test-dev-cassandra
Get the information at IPAddress : "IPAddress": "172.17.0.2"
and try to replace the `contactPoints: localhost` in `application-dev.yml` by the IP displayed above

[2016-01-31 14:30] andidev commented on #2735
Still no success

[2016-01-31 14:42] pascalgrimaud commented on #2735
For me, it's like your machine can't access to Cassandra through Docker.
I'm under Linux, no Windows/OSX sorry :cry:
I'll have to find a friend to make full tests with Docker under OSX...

[2016-01-31 15:14] cbornet commented on #2735
@andidev are you able to connect with cqlsh ?

[2016-01-31 15:22] kante12 opened #2744 "Access Info such as login from current user on the front end Javascript side (JHIPSTER)"
Hi,
This may be the easiest thing for you all, but it is bothering me that I cannot retrieved the simplest things from the current user in my application.

Simply put let's say for instance a user signs in in the app, and you want to retrieve the user's first name to display welcome back "{{User.firstName}}" or the current user is sending a message to another user and you want to get his/her login

[2016-01-31 15:30] andidev commented on #2735
@cbornet
Got a message that it did not connect. I'm gonna try to restart from the beginning retry again.
Meanwhile I'll do a PR with the current solution and merge it right away.

[2016-01-31 16:01] #2735 closed

[2016-01-31 16:12] andidev commented on #2735
Okey, I did not manage to get Cassandra up and running. Could somebody test creating, updating and deleting a generated entity with the master branch?
It should work but it would be nice to verify it.

[2016-01-31 16:50] pascalgrimaud commented on #2735
It's ok, @andidev, just tested it with Cassandra and it works well

[2016-01-31 18:05] ngasull commented on #2282
@deepu105 this is a very interesting point! However is it a good idea to force users use Firefox to debug production? I think Chrome DevTools are way more efficient for debugging than Firefox's (now except for variable names mapping ;) ) and maybe we should wait until the feature is implemented

[2016-01-31 18:13] jdubois commented on #2744
This is the ticket system -> can you post this to StackOverflow?
I'm closing this as this is not a bug.

[2016-01-31 18:13] #2744 closed

[2016-01-31 19:46] andidev commented on #2735
Thanks @pascalgrimaud
I really would like to be able to setup cassandra dev environment for later testing purposes. But I can't seem to manage to do so. Not sure why but after retrying everything I now get the following error when running `mvn spring-boot:run` (containername is jhc-dev-cassandra)
[code]

I guess this is good and it means I connected to docker? Is keyspace the database name in cass

[2016-01-31 19:51] andidev commented on #2735
Sorry I had this error before. I'm getting insane here =(

[2016-01-31 19:54] pascalgrimaud commented on #2735
You should start by using Docker with mysql, psql or mongodb.
It's easier ! I spent a lot of time to make Cassandra working and it was not easy

Anyway, for Cassandra:
- init : used to launch `/cql/create-keyspace.cql` + `/cql/create-tables.cql` => it should create the Keyspace!
- entities : used to launch `/cql/*_added_entity_*.cql`

[2016-01-31 19:59] andidev commented on #2735
Thanks! I'll start trying the others then.
I run the init command but I get no output that tells me what has happened and was has gone wrong so I'm blind. The same when running the entities command. Should I get some successor failed output text?

[2016-01-31 20:05] andidev commented on #2735
So I managed to create the keyspace manually from the shell (cqlsh) with the script in `/cql/create-keyspace.cql`.
And now I get past the keyspace error when running `mvn spring-boot:run`. So it looks like the scripts is not executed for some reason.

This is what I ran
[code]
and I cant seem to find what I'm doing wrong.

[2016-01-31 20:41] pascalgrimaud commented on #2735
mhhh so try this, 1st terminal :
[code]

Open new terminal
[code]
So you will see cqlsh in the 1st terminal

[2016-01-31 21:37] andidev commented on #2735
So it looks like it works in the loggs:
[code]

but then spring-boot:run says:
[code]

then I exited the running docker and reran it with the -d command.

ran the cqlsh command and then `USE jhc` and then `DESCRIBE TABLES;` and got the answer <empty>

maybe `DESCRIBE TABLES` is not the correct command to show the tables in cassandra?

[2016-01-31 21:45] jdubois commented on #2735
I'm sorry I didn't see this thread sooner: you need to create the keyspace and then the tables manually, there are 2 scripts for that. They are not run by default, there isn't a Liquibase equivalent for Liquibase.

[2016-01-31 21:47] jdubois commented on #2735
Have a look at the end of http://jhipster.github.io/using-cassandra/ and tell me if it's not enough, I will update the documentation

[2016-01-31 21:49] andidev commented on #2735
I thought the following docker-compose instructions form http://jhipster.github.io/docker-compose/ did that for me:
1) docker-compose -f src/main/docker/dev.yml build
2) docker-compose -f src/main/docker/dev.yml up -d
3) docker cp src/main/resources/config/cql/ hipcassandra-dev-cassandra:/
4) docker exec -it hipcassandra-dev-cassandra init
5) docker exec -it hipcassandra-dev-cassandra entities

[2016-01-31 21:53] pascalgrimaud commented on #2735
@andidev If you have time, can you test it with the devbox ?
You follow all the steps and as it didn't work, I think there is an issue with osx => I'll try to find someone with a mac to test !

[2016-01-31 21:55] jdubois commented on #2735
Sorry I don't know what Docker Compose do for Cassandra - which is of course a shame!

[2016-01-31 21:56] andidev commented on #2735
Yes I could though I'm not familiar with the devbox. Where can I find it?

[2016-01-31 21:57] jdubois commented on #2735
Everything is here: https://github.com/jhipster/jhipster-devbox

[2016-01-31 22:07] andidev commented on #2735
thanks, I'll try it out right away

[2016-01-31 22:09] pascalgrimaud commented on #2735
@andidev : devbox is long to install... and docker is not installed by default (my fault, it's in my todo list to make this PR)
Can you give me feedback about mysql, psql or mongo plz ? to know if it works for you... => faster than installing devbox

[2016-01-31 22:15] andidev commented on #2735
Yes, I'll check

[2016-01-31 22:44] andidev commented on #2735
@pascalgrimaud
I just tried to use docker-compose with psql and it does not seem to work. Or maybe I'm doing something wrong.

I ran:
[code]

and then `mvn spring-boot:run` tells me:
[code]

Not sure if I'm suppose to do anything more.

`docker ps -a` outputs:
[code]

[2016-01-31 22:51] pascalgrimaud commented on #2735
Nothing to do, the docker-compose file should create the role jhpg for you :
[code]

I will open a ticket to follow this

[2016-01-31 22:52] pascalgrimaud opened #2747 "docker-compose : improve documentation for Windows/OSX"
The discussion started here https://github.com/jhipster/generator-jhipster/issues/2735

[2016-01-31 22:58] andidev commented on #2735
I seem to have a postgres server already running on my mac. Maybe that one interferes with docker. How do I know which one will be used?

[2016-01-31 23:05] pascalgrimaud commented on #2735
As I can see, the container run, that means it uses another ip than your localhost:5432 => try to find the correct IP with docker inspect <container>

On Linux, if I have a postgres server already running on the port 5432, the container can't start and failed

[2016-01-31 23:26] kante12 commented on #2744
Sure. Thank you and sorry for the inconvenience.

[2016-02-01 00:03] andidev commented on #2747
Using docker inspect I found the following `"IPAddress": "172.17.0.2"`

I'm then setting datasource to `url: jdbc:postgresql://172.17.0.2:5432/jhpg` it in `application-dev.yml`

This causes `Caused by: org.postgresql.util.PSQLException: Connection attempt timed out.`.

I retried with casandra and changed the IP there as well and then I got:
`Caused by: com.datastax.driver.core.exceptions.NoHostAva

[2016-02-01 00:11] deepu105 commented on #2282
Ya you are right we could live with few extra kb for sometime. We should
remember to remove this when chrome fixes this

On Mon, 1 Feb 2016 2:05 am Nicolas Gasull <notifications@github.com> wrote:

[2016-02-01 00:27] pascalgrimaud commented on #2747
My bad... `docker inspect` is used for local, and you're not because you use a VM on OSX!
This command should show the IP of your VM : `docker-machine env default`
Try to use it in `application-dev.yml` (hope it will work now)

[2016-02-01 00:32] deepu105 commented on #2744
Take a look at the principal service, it will give you the current user,
check the login module or home page where it is used

On Mon, 1 Feb 2016 7:26 am kante12 <notifications@github.com> wrote:

[2016-02-01 00:34] hobong commented on #2741
Thank you,
I have steep start with Java/SpringBoot/JHipster..etc. , sorry for
ignorance.
I've learned a bit more now about maven and rechecked my config (on Win10
machine unfortunately).

I am pretty sure this repo spring-milestones is generated from
jhipster-generator...
If it persist some time I would articulate better the issue.

Greetings,
Marian Porwol

2016-01-31 2:32 GMT+01:00 Gaël Marziou

[2016-02-01 00:43] deepu105 opened #2749 "Migrate to gulp and move grunt to a module/tip"
Based on discussion and vote [here](https://groups.google.com/forum/m/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/pSQXz_NWcZ0/iqC3tqUHDQAJ)

Make gulp as default front end build tool.
Remove grunt from main generator
Make grunt build a module or tip
Improve the gulp build where possible
Add gulp notify coz its cool
Reorganize and simplify gulp build
Move utils used to its own file

[2016-02-01 00:45] deepu105 commented on #2749
Cc @ngasull @erikkemperman @amr

[2016-02-01 00:48] deepu105 commented on #2724
Closing this as it will be a module

[2016-02-01 00:48] #2724 closed

[2016-02-01 00:48] erikkemperman commented on #2282
@ngasull @deepu105
I think we might have different understanding of what sourcemaps are supposed to do here...

From my point of view, the merged patch does not do what I hoped it would. It generates maps, but the references from within the map to the original sources doesn't work.

For instance, the `app-xxxxx.js.map` contains an array of sources, such as `src/main/webapp/app/app.module.js` and m

[2016-02-01 00:49] deepu105 commented on #2506
This needs to be done only for gulp based on https://github.com/jhipster/generator-jhipster/issues/2749

[2016-02-01 00:53] erikkemperman commented on #2282
@ngasull @deepu105
Sorry, in the spirit of being constructive, I should mention that I am working on a PR that would address this :-) But I really have to get some sleep now and will have to get back to you on this tomorrow.

[2016-02-01 00:55] deepu105 commented on #2282
Actually you do make sense, i dont think its necessary to debug on a prod build, if we get correct stack trace and line numbers thats good enough i guess, debugging should be done on dev build anyway. So if you can get stacktrace part and line numbers working with mangling plz do a PR and @ngasull if you feel otherwise plz feel free to comment.

Ill keep this issue opened untill we have a decision

[2016-02-01 00:56] deepu105 commented on #2282
Btw this is not required for grunt anymore https://github.com/jhipster/generator-jhipster/issues/2749

[2016-02-01 00:57] deepu105 commented on #1999
We need to revalidate this in the wake of #2100

[2016-02-01 00:59] deepu105 commented on #2006
@andyverbunt would you like to PR this?

[2016-02-01 01:00] erikkemperman commented on #2282
That's good, from my selfish point of view -- I would have had no idea how to do it for grunt, and can not justify spending the bosses time on it as we prefer gulp :-)

[2016-02-01 01:00] deepu105 opened #2751 "Remove beta tag from mapstruct and service options"
Its been quite a while since these are in beta. We should remove the tags for next major

[2016-02-01 01:03] deepu105 commented on #2661
@cbornet is it done can we close this issue then?

[2016-02-01 05:05] pascalgrimaud commented on #2749
I can help and rework on Travis build, if you need, @deepu105

[2016-02-01 06:47] andyverbunt commented on #2006
Unfortunately, I made the change directly in my code, not in the generator
itself. So whenever I regenerate an entity, I have to manually edit the
code again (which is not such a big job after all).Unfortunately, I did not
yet have the time to fix it in jhipster.
On Mon, 1 Feb 2016 at 01:59 Deepu K Sasidharan <notifications@github.com>
wrote:

[2016-02-01 06:47] jdubois commented on #2744
Yes, but let's answer this on Stackoverflow

[2016-02-01 07:42] andidev commented on #2747
Yes that works! We should probably document this. I guess the issue is there for Windows as well?

[2016-02-01 07:56] andidev opened #2753 "Follow dashed naming convention for entities"
Entity file names and states are camelCased instead of dashed cased. This does not follow the naming convention in jhipster. John Papa also uses dashed-cased in his examples.

While we are breaking things with the 3.0 release we should fix this as well.

I can work on this.

[2016-02-01 07:58] deepu105 commented on #2749
ill do first push, take a look and see what needs improvement

Thanks & Regards,
Deepu

On Mon, Feb 1, 2016 at 1:05 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-02-01 08:16] jdubois commented on #2753
Yes OK !

[2016-02-01 08:18] pascalgrimaud commented on #2747
oh great news! Yes same for Windows I think
I keep this ticket open until I document it !

Thanks for testing and feedback @andidev

[2016-02-01 08:22] pascalgrimaud commented on #2749
It can be done separately.
Currently, our Travis uses grunt on 13/14... Only 1 uses gulp. I will change it

[2016-02-01 08:24] cbornet commented on #2661
@deepu105 No, my module generates backend code and this issue is for front-end.
For the front, we need to make a swagger-codegen template. I don't think I am the right person to do it : I am not skilled in front end...

[2016-02-01 08:29] deepu105 commented on #2749
I already removed that i guess, let me do a PR its almost ready

[2016-02-01 08:38] pascalgrimaud opened #2754 "Migrate Docker build to JHipster organization"
Currently, the official Docker image is jdubois/jhipster-docker

About this migration:
1) rename to jhipster/jhipster (@jdubois will make the final choice)

2) this repository generator-jhipster will contain a new file `Dockerfile` => root or sub folder ? I don't want to confuse people with sub generator. What do you think ?

3) every tag (release) will trigger 2 builds : latest and vX.Y.Z
- jhips

[2016-02-01 08:40] cbornet opened #2755 "Links to module functions doc in the creating-a-module page"
It would be handy to have links to the script-base's jhipsterFunc from the creating-a-module page to have a quick view of the protoype and the function doc.

[2016-02-01 09:21] jdubois commented on #2754
Last time I checked (1 months ago) I had an issue with migrating to the JHipster organization: I couldn't have automatic builds for the organization, only on my own "jdubois" name.
Organizations are very new in the Docker interface, and it is still lacking a lot of options.

So my goal is indeed to migrate to the "jhipster" organization, but at the moment I don't think it is possible from a techni

[2016-02-01 09:25] deepu105 commented on #2753
+1

[2016-02-01 10:12] cbornet commented on #2661
Swagger-codegen already has a [type-script-angular](https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-angular) generator. The code seems easy to integrate in an existing jhipster app. I'll have a look when I have time.

[2016-02-01 10:31] cbornet commented on #2661
I guess the module should compile the ts directly since the rest of the app is in js ? What do you front-end experts think ?

[2016-02-01 11:42] deepu105 commented on #2755
yes plz

Thanks & Regards,
Deepu

On Mon, Feb 1, 2016 at 4:40 PM, Christophe Bornet <notifications@github.com>
wrote:

[2016-02-01 11:47] deepu105 commented on #2661
if its in ts better keep it that way and use a gulp task to compile as we
should be migrating to ts at some point

Thanks & Regards,
Deepu

On Mon, Feb 1, 2016 at 6:31 PM, Christophe Bornet <notifications@github.com>
wrote:

[2016-02-01 13:32] kante12 commented on #2744
Thank you very much @deepu105

[2016-02-01 14:52] #2100 closed

[2016-02-01 14:53] jdubois commented on #1999
Yes we need to check this now that #2100 is done.
Currently the user token is stored in the browser's localstorage, so it's a different mechanism that the normal session-based login.

[2016-02-01 15:31] cbornet commented on #2661
Shouldn't ts support be driven by the main generator. ?
Meanwhile, I have found https://github.com/wcandillon/swagger-js-codegen that generates pure js angular code. Maybe we can use that. I will integrate it to my module. If you can then test it and give your feedback ?

[2016-02-01 15:42] cbornet commented on #2661
[Here](https://gist.github.com/cbornet/86d5765521094ecccffb) is some code generated by swagger-js-codegen (for the swagger petstore)

[2016-02-01 15:58] PierreBesson commented on #2506
I think it would be interesting to have some way to make Travis report when there are jshint errors. Also it would allows us to run jshint on all possible configurations.

[2016-02-01 16:37] jdubois commented on #2751
- For the service option I've had no bad feedback, so yes it could be removed
- For MapStruct we still have at least one ticket opened, and I don't know how to solve this, so for me it's still beta

[2016-02-01 17:22] erikkemperman commented on #2282
@deepu105 I'm working on the sourcemaps now, but I am a bit confused by the `.tmp` directory. What is its purpose, exactly, in the context of a gulp build? It kinda looks like an artefact of porting a Gruntfile to gulpfile but since I'm new around here I thought I'd better check.

[2016-02-01 17:25] cbornet commented on #2661
The module now generates also front-end code.

[2016-02-01 17:27] cbornet commented on #2661
Tip : configure a springfox docket on your non-entity request mappings (using springfox group). Then you can use the module to generate angular code for your own api endpoints !

[2016-02-01 19:37] deepu105 commented on #2506
It is possible, current jshint gulp task is not wired to build or test
tasks if we sequence it it will run or we can do direct gulp jshint on
script as well
On 1 Feb 2016 23:58, "Pierre Besson" <notifications@github.com> wrote:

[2016-02-01 21:22] pascalgrimaud commented on #2754
@jdubois : I've just created an organization on Docker Hub and I can have automatic builds.
Maybe because I am on the team : **owners**
Can you confirm me if you are in team "owners" on JHipster organization ? I can see only the team "developers"

[2016-02-01 21:33] jdubois commented on #2754
Yes I am on the team "owners" but that doesn't make any difference anyway: I don't see where you put permissions on a team, so it's the same as the "developers" team.
I've tried again, I can click "automated build", but then I can only do them for my user, not for the organization. Can you test it from end-to-end? As far as I can see this the UI isn't finished yet.

[2016-02-01 21:37] pascalgrimaud commented on #2754
Just tried it, and it works https://hub.docker.com/r/pgrim/dockerfiles/
- organization : pgrim (created few seconds ago)
- repo : dockerfiles

[2016-02-01 21:50] jdubois commented on #2754
I just made you an owner of the "jhipster" team: I don't think it does anything, but if you can try...

[2016-02-01 21:52] pascalgrimaud commented on #2754
I can see jhipster when selecting Repository namespace !
So what is the name you want ?
- jhipster/jhipster ?
- jhipster/generator-jhipster ?
- another ?

[2016-02-01 21:58] ngasull commented on #2282
@deepu105 I agree, that was my initial point, but now we have the feature to offer! ;-)

@erikkemperman Actually, [`sourceRoot` is an optional parameter](https://github.com/mozilla/source-map#new-sourcemapconsumerrawsourcemap): if the browser has no `sourceRoot` provided, it will look relatively to the current source file, which is the main scenario.

@erikkemperman could you list here the steps y

[2016-02-01 22:02] jdubois commented on #2754
jhipster/jhipster has it's our default image, it looks like the most obvious choice.
Are you sure you can do an automated build here???? I really can't find the option

[2016-02-01 22:06] pascalgrimaud commented on #2754
Yes, I created it : https://hub.docker.com/r/jhipster/jhipster/ :whale:
I will do PR with a new Dockerfile tomorrow, too tired for tonight :-)

[2016-02-01 22:09] jdubois commented on #2754
I don't understand how you did it!!!!
Anyway -> I'm just going to rename the description to tell it's not the official image yet! It will become official with the next version

[2016-02-01 22:12] pascalgrimaud commented on #2754
I don't understand too lol
Yes you're right. You can rename it.

But, should I trigger a new build for every commit/merge to master ?
- jhipster/jhipster:master => current master

For releases :
- jhipster/jhipster:latest => latest tag
- jhipster/jhipster:vX.Y.Z => all old tags

[2016-02-01 22:18] jdubois commented on #2754
The current build is triggered on every push, but indeed that might not be a good idea! I don't really know what's the best option, I want it to be automated, but maybe not for every push.... In doubt, keep it the way it is today, on every push.

[2016-02-01 23:42] erikkemperman commented on #2282
I am having trouble putting into words what I mean, sorry about that.

The confusing thing is that, when you open chrome's dev panel and go to 'Sources', you will probably see something like a "directory" called `/source/src/webapp/app`, with all your "original" javascript files.

Looks good, but the browser is actually only pretending that it can access these files -- it is reconstructing from th

[2016-02-02 00:29] deepu105 commented on #2282
Yes for gulp its not required you can rewrite that
On 2 Feb 2016 01:22, "Erik Kemperman" <notifications@github.com> wrote:

[2016-02-02 00:39] deepu105 commented on #2754
Shouldn't t be for every release?
On 2 Feb 2016 06:18, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-02 00:53] eredwan opened #2761 "What happen to the minimal oracle support? I don't see it in my generator"
https://pbs.twimg.com/media/CaJ6FVQWYAA93hA.jpg

My jhipster is up to date yet for some reason It seems to be missing some options compared to the screenshots i've seen and my set up at home (i am currently on a different machine from home at work).

I should have these options here: http://i.stack.imgur.com/zZs87.jpg

Any ideas what could be the problem?

[2016-02-02 01:02] #2761 closed

[2016-02-02 01:03] eredwan commented on #2761
Found the problem.... i did a drive search for 'generator-jhipster' and windows found all folders of that name.

I looked at each path and found a generator-jhipster way back from 2.7 was still hanging around in zip format. I definitely don't need that anymore. I ended up trashing any old instances of generator-jhipster and any cache/temp locations.

I reinstalled forcing npm to target 2.27 by doi

[2016-02-02 01:47] deepu105 opened #2762 "marketplace doesnt work on android browsers"
Strange issue: marketplace doesnt work on android browsers
seems like the npmsearch.com queries are stuck
same used in slushjs.github.io seems to work in mobile could be some useragent or header issue

[2016-02-02 07:36] jdubois commented on #2762
Yes that's probably the issue.
Then we are stuck and we can't keep it like that: see why I didn't want to rely on an external service? It always break and we don't have the resources to do maintenance.
Anyway, shouldn't we go back to my original .json file?

[2016-02-02 07:44] pascalgrimaud commented on #2754
It will be for both: current master and tags
I will monitor the master build by docker hub, to check if it's too much

[2016-02-02 07:45] #2467 closed

[2016-02-02 07:45] #2749 closed

[2016-02-02 07:54] deepu105 commented on #2762
problem is the service isn't down, its working I think there is some issue with headers we sent from mobile. lets try to solve it if not we can put back the json as the backup

[2016-02-02 07:56] pascalgrimaud commented on #2754
In fact, the image jdubois/jhipster-docker has only one version: latest
Now, we ll use different version:
master, latest, v3.0.0, v3.1.0 etc...

So there will be different images:
jhipster/jhipster:master
jhipster/jhipster:latest <== the default, latest tag
jhipster/jhipster:v3.0.0
Etc

[2016-02-02 07:59] jdubois commented on #2754
Oh I didn't know that, it's much better !
Le 2 févr. 2016 8:56 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2016-02-02 08:45] deepu105 commented on #2762
Found the issue fix is on the way

Thanks & Regards,
Deepu

On Tue, Feb 2, 2016 at 3:36 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-02 11:20] #2762 closed

[2016-02-02 14:11] PierreBesson commented on #2506
I don't know if all users would want to have jshint checks by default when they 'gulp test'.
We could add instructions in the documentation about how to do that or put a commented out section in the gulpfile.
So once when I'm finished with the cleanup is it OK if I add 'gulp jshint' in travis/scripts/04-tests.sh ?

[2016-02-02 14:23] deepu105 commented on #2506
cc @pascalgrimaud what do you think about above comment from @PierreBesson

[2016-02-02 14:26] pascalgrimaud commented on #2506
it could be interesting yes !
just need to test when gulp jshint failed => what happens ? build failed or it's ok ?

[2016-02-02 14:27] deepu105 commented on #2751
closed via https://github.com/jhipster/generator-jhipster/commit/94dca1b724ec6ae089a169c7fda5e4362ce31a6e

[2016-02-02 14:27] #2751 closed

[2016-02-02 14:34] deepu105 commented on #2282
@ngasull @erikkemperman Im not a gulp expert I just started learning it a month back since it was awesome, so plz do what you think is better than the current setup. And ya 4.8MB .map file seems scary

[2016-02-02 14:37] deepu105 commented on #2506
if we make build fail for this it will be a lot of failures and will be
very very annoying.

I think for that purpose we should not make build fail, it could be just a
warning. and with our new notification we can warn user of jhhint errors
during gulp test/build as well but without failing the builds

Thanks & Regards,
Deepu

On Tue, Feb 2, 2016 at 10:26 PM, Pascal Grimaud <notifications@github.c

[2016-02-02 15:26] erikkemperman opened #2767 "Bootstrap fonts not working on production non-sass build."
I think this might have been caused by the recent structural changes? Anyway, this is happening for current master.

EDIT Just to be explicit, this is about the icons.

[2016-02-02 19:02] pascalgrimaud commented on #2754
@jdubois : last thing to check : can you go to settings in this repository and verify if there is a webhook on Docker plz ?

[2016-02-02 20:09] jdubois commented on #2754
You mean here: https://hub.docker.com/r/jhipster/jhipster/~/settings/webhooks/
I don't see any webhook there

[2016-02-02 20:12] pascalgrimaud commented on #2754
No Julien, on Github plz

[2016-02-02 20:13] jdubois commented on #2754
Oh yes I see a Docker webhook!

[2016-02-02 20:16] pascalgrimaud commented on #2754
Thanks, I do param on docker hub, let's see if the webhook works

[2016-02-02 21:01] ngasull commented on #2282
No problem @erikkemperman, I will try to sum our discussion up :-) (please tell me if I misunderstood)

There are 2 ways of generating source maps:

1. By only mapping symbols to the original source files (traditional process)
2. By inlining source files contents into the `.map` file itself

The advantage of method 1. is that it feels more natural, by downloading the original sources from internet

[2016-02-02 21:10] ngasull commented on #2282
@deepu105 For gulp in general, I would simply recomment not using `usemin` which ties HTML to all the assets and reduces flexibility. I think this could be a future improvement to replace it by traditional asset generation, but this isn't a priority according to me.

We could also talk about using webpack whom puropose is to bundle webapps with assets, plus incredible features like hot JS code rel

[2016-02-02 22:58] eredwan opened #2769 "Validation query when using Oracle database"
EDIT: This fix is relating to a Hikari error with something about isValid(). I am using an oracle database at work. I added a test query and everything worked fine after that. See below.

Add on Line 71 of DatabaseConfiguration.java.
[code]

[2016-02-03 00:27] eredwan commented on #2769
Correction:
[code]

[2016-02-03 01:21] deepu105 commented on #2282
@ngasull we just dropped grunt to move to gulp thats a huge step for us
(majority of our community is from java) so webpack will take time as its
too drastic to switch. Btw im exploring webpack for my [jhipster-react](
https://github.com/hipster-labs/generator-jhipster-react) module

Im ok with either options you specified as long us below requirements are
met.
1. Need to keep minified file size l

[2016-02-03 01:40] #2674 closed

[2016-02-03 02:54] amitjindal commented on #2743
Could you please give an idea where to look for this. Right now we cannot even package in production as tests hang. I've tried playing with settings for tests also.

Also this is using the latest **master** branch code.

[2016-02-03 06:18] pascalgrimaud commented on #2754
it seems the webhook doesn't work...
There is only 1 build which has been triggered manually yesterday by me : https://hub.docker.com/r/jhipster/jhipster/builds/

I create a new branch [test-docker-hub](https://github.com/jhipster/generator-jhipster/tree/test-docker-hub) to make tests, every push to this branch should trigger a build

@jdubois : maybe remove the Docker webhook (settings on GitHub

[2016-02-03 06:41] jdubois commented on #2743
You can try with some other options, or look at what embedded Mongo does: this is a recent change, I haven't used it myself.
I'm sorry but I don't have the time to test this this week.

[2016-02-03 07:23] #2753 closed

[2016-02-03 07:36] atomfrede commented on #2743
@amitjindal Did you check if the unit test consider the generated validation rules?

[2016-02-03 07:57] jdubois commented on #2754
OK I will check this, but I won't have much free time until next week.
Le 3 févr. 2016 7:18 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2016-02-03 07:59] clong365 opened #2772 "AuthenticationProvider is never be used."
It seems that AuthenticationProvider is never be used.

First, I set a breakpoin in method authenticate(), but never bean reached here.

Then, I deleted the AuthenticationProvider.java, and the application worked well.

[2016-02-03 08:32] cbornet commented on #2661
@jdubois Can you test the latest version of the module (0.3.3) ? It works correclty on my side with session auth and CSRF token. If it responds to the need, maybe we can close this issue and follow feature requests and bugs in the module project.

[2016-02-03 09:01] deepu105 opened #2774 "update all dependency"
Just a reminder to update the below before next release

- [x] maven/gradle dependencies
- [x] npm dependencies for core
- [x] npm dependency for generated project
- [x] bower dependencies
- [x] docker image dependencies
- [x] travis dependencies

[2016-02-03 09:05] PierreBesson commented on #2506
I agree it should not make the build fail, adding it to the gulp test and/or build task seems like the best idea. If users think a particular warning doesn't apply to their code they can change the .jshintrc.

[2016-02-03 09:26] erikkemperman commented on #2282
@ngasull Thanks a lot, that's a pretty accurate and concise description of the situation. Very helpful.

So yeah, maybe I'm a bit old-fashioned but obviously I was advocating the "traditional" method, mostly because I'm trying to keep my war file skinny.

True, it's kind of tricky to get it right, but on the other hand this would all be set up by generator-jhipster and end users shouldn't notice i

[2016-02-03 09:41] fontanellif opened #2775 "AbstractAuditingEntity not working for Elasticsearch Entities"
Hi, i would save the AbstractAuditingEntity column in elastichsearch.
I tried but i don't see this fields in kibana.

this is possible? Can you help me?

[2016-02-03 09:44] deepu105 commented on #2282
@erikkemperman i would also prefer the traditional approach more so if you can get that working +1 from me

[2016-02-03 10:12] lourai commented on #2648
Hi, it'll be a nice function if built-in !

Remember you can do it with liquibase :
- add your csv in a directory
- manually create a changelog to load data :
...
<loadData encoding="UTF-8" file="config/liquibase/csv/<yourfile>.csv" separator=";" tableName="<table_name_not_entity:D>">
...

I'm using it for legacy data transfer for example, but even for every data patch ! Remember liquibase is asyn

[2016-02-03 11:12] ngasull commented on #2282
@deepu105 @erikkemperman I still don't exactly get what the benefits of traditional approach are (and would like to know!) but I respect your point of view and will try to give it a shot when I get some spare time.

Note that inlining sources in the `.map` file doesn't take more space than having a copy of web sources directly in the war, maybe the opposite because we could compress it in the futu

[2016-02-03 11:48] erikkemperman commented on #2282
@ngasull
It doesn't take more space than a copy of web sources -- but it does take more space than __no copy__ of the web sources. Notice that the original source files are always packaged into the war, regardless of profile. My plan was to link back to those from the sourcemaps.

About the deployment scenario, if the sources change, then the `rev` should generate a different hash, and so even in

[2016-02-03 14:09] akeske opened #2778 "Cache does not work"
I think but correct me if i am wrong that second cache memory does not work, as i said on
[stackoverflow](http://stackoverflow.com/questions/34946471/jhipster-ldap-authentication-query-for-additional-user-attributes/35179255#35179255)

I believe that i have the solution and i want to share it with you, If i am absolutely wrong forgive me! :P

[2016-02-03 19:11] phouverneyuff opened #2780 "Use the latest version of Sonar in docker-compose"
Currently, in sonar.yml, the image points to version 4.5.6.

I guess the better is to point for the latest version instead points to old version.
Or to point to LTS, but we are HIPSTER. We use the latest of latest of latest ...

https://hub.docker.com/_/sonarqube/

But, I don't know how Sonar will behaviour when change the version. The history will lost?
If anyone have experience, please write her

[2016-02-03 19:16] phouverneyuff commented on #2774
docker images too

[2016-02-03 19:56] ngasull commented on #2282
@erikkemperman I doubt that sources are currently packaged in the war on purpose. They are not source-mappable as-is anyway.

I though that we were looking for the best sourcemaps solution here, but if current topic becomes shrinking the war, I suggest to have a look at its contents:

[code]

Both `scripts` and `bower_components` contain front-end resources. Because `bower_components` contain lots

[2016-02-03 20:03] pascalgrimaud commented on #2780
1) about version
The use of LTS was intentional, like all version of database which use fix versions.
My goal was : I don't want a big change from sonarqube in their latest image and mvn sonar:sonar  doesn't work because of the latest. So I prefered to use a LTS version
For example, if I remember well, Cassandra 3.0 doesn't work with JHipster, so we can't use latest

Anyway, I provide in my [Docke

[2016-02-03 20:14] pascalgrimaud commented on #2774
what docker images are you talking about, @phouverneyuff ?

[2016-02-03 21:22] gmarziou commented on #2282
bower_components should not be packaged as-is, maybe we could extract only what is required using [main-bower-files](https://github.com/ck86/main-bower-files) but I guess it should be tracked a new issue with other PR.

[2016-02-03 21:42] gmarziou commented on #2769
Would you consider to submit a PR?

[2016-02-03 21:43] gmarziou commented on #2772
Which authentication mechanism did you select when generating your app?

[2016-02-03 21:53] gmarziou commented on #2778
You answer on SO is not very clear, please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines) to submit an issue here and add required details.

[2016-02-03 21:54] phouverneyuff commented on #2780
I'll do a PR to update for the latest version and persist the data in h2 using file.
OK?

[2016-02-03 21:57] #2662 closed

[2016-02-03 22:16] pascalgrimaud commented on #2780
Ok for latest version

About persist data, you mean volume on `/opt/sonarqube/data`, right ? In that case, you can add it but in comment plz. The user have to know what he does if he wants to use volume (choice of folder, permissions, etc.)

[2016-02-03 22:37] erikkemperman commented on #2282
It seemed intentional to me, to have bower_components under webapp and not strip any of it from the war..? But of course you're both right, we only really need the files referenced (directly or indirectly) in index.html after wiredep.

And actually, now that there's only gulp, the setup with wiredep/usemin feels awkward. Maybe use gulp-inject and friends (like main-bower-files)?

Anyway, as long a

[2016-02-03 22:40] jdubois commented on #2769
I edited the title to make it clearer.

[2016-02-03 22:42] jdubois commented on #2772
This rings a bell, and I think you are right, at least there is something to check here.
But please, can you follow the [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md).

[2016-02-03 22:44] jdubois commented on #2769
And can you follow the [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) when submitting a bug?

[2016-02-03 22:47] jdubois commented on #2778
Please follow the [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), you're the third one today to submit an incomplete bug report!

[2016-02-03 22:56] jdubois commented on #2743
Can you check the difference with the sample project from Travis https://github.com/jhipster/generator-jhipster/tree/master/travis/samples/app-mongodb ? This Travis build is working, so obviously you have a different option that causes the issue.
And I'm convinced there is an issue here as [my sample project](https://github.com/jhipster/jhipster-sample-app-mongodb) also has some failing tests.
@pa

[2016-02-03 22:56] ngasull commented on #2282
I wrote my last post both nervous and in a hurry, I have been imprecise on some points and I'm sorry for that.

`bower_components` and `scripts` probably are in the war not to confuse the users. Imagine this scenario: user adds bootstrap via bower for its cool gyphicons. Result: no gyphicons in production, because they rely on font files which are in `bower_components/bootstrap`. Other case if he

[2016-02-03 22:58] jdubois commented on #2661
I'm sorry I don't have the time right now -> @PierreBesson can you test this?

[2016-02-03 23:03] pascalgrimaud commented on #2743
the main difference with travis build is : "authenticationType": "xauth"
I'll have a look

[2016-02-03 23:13] ngasull commented on #2282
Back on source maps: I've managed to use traditional mapping :) (without inline content) but it as expected it doesn't help with mangled variables :( (no debug variable names or stack traces neither in Chrome or Firefox)

[2016-02-03 23:22] phouverneyuff commented on #2774
Mysql to 5.7.10 or latest -> https://hub.docker.com/_/mysql/
Postgres to 9.5.0 or latest -> https://hub.docker.com/_/postgres/
Mongo to 3.2.1 or latest -> https://hub.docker.com/_/mongo/
Elasticsearch to 1.7.5, or 1.7, or 2.2.0 (latest) -> https://hub.docker.com/_/elasticsearch/
Sonar we're discussing here #2780

[2016-02-03 23:24] phouverneyuff commented on #2774
We can use only two digits for always get the bugfix.
E.g: use 5.7 in mysql

[2016-02-04 02:10] deepu105 opened #2785 "update documentation for next"
we need to update docs for next major. plz add on if i missed anything @jhipster/developers

- [x] 1. new angular folder structure & john papa style guideline
- [x] 2. ~~removal of fast~~ - PR submitted
- [x] 3. skip-client option - PR submitted
- [x] 4. grunt to gulp
- [x] 5. docker updates
- [x] 6. microservices - PR submitted, needs more contents
- [x] 7. naming convention updates for angular s

[2016-02-04 03:11] amitjindal commented on #2743
@atomfrede No I did not check the validation rules in all cases but there are simple classes which have no validation rules. Let me check them once.

[2016-02-04 03:17] amitjindal commented on #2743
@atomfrede Just checked. I had a test from above Employee object with first name required and createdOn required validation. I checked the values and they were correct. I ran only that test. Its still hanging. So most likely that is not the cause.

[2016-02-04 05:07] deepu105 commented on #2769
@eredwan Why is this required?? this is already done by actuator health checks. Is there any other need you are adding this for?

[2016-02-04 05:09] clong365 commented on #2772
v2.27.0
`{
  "generator-jhipster": {
    "baseName": "jiashang",
    "packageName": "com.hotelsjianguo.jiashang",
    "packageFolder": "com/hotelsjianguo/jiashang",
    "authenticationType": "xauth",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "no",
    "websocket": "no",
    "databaseType": "sql",
    "devDatabaseType": "mysql",
    "prodDatabaseType": "mysql",
    "searchEngine"

[2016-02-04 05:45] cbornet commented on #2785
--with-entities to regen all entities

[2016-02-04 05:46] deepu105 commented on #2282
@ngasull @erikkemperman both of you have some good points, from JHipster point of view below would our concerns and needs in order of priority, some of below should be tracked as new issues

1. Prod should be as optimized as possible (so if there is anyway to achieve mangling with a usable stack trace that should be highest priority, we need not worry about having source in public, you shouldnt be

[2016-02-04 06:09] erikkemperman commented on #2282
@ngasull @deepu105
I have non-embedded source maps more or less working, including useful stack trace, [here](https://github.com/erikkemperman/generator-jhipster/tree/feature-sourcemaps)...

But there's a few things I'm not happy with. The css pipe and js pipe look basically the same but need different sourceRoot for some reason. I couldn't figure out why yet, maybe you see it?

Also, because of c

[2016-02-04 06:24] atomfrede commented on #2743
@amitjindal Have you tried waiting a little longer? I thought I could reproduce your error (mvn clean install seems to hang at Web application fully configured) but after waiting a little longer all tests passed. A second run is much faster (1st: ~2min, 2nd: ~35sec), it looks like embedded mongo needs to download something in background.

[2016-02-04 07:42] deepu105 commented on #2778
closing this as I dont see any issue mentioned about Jhipster and LDAP we don't officially support.

Plz ask to reopen if you have more details

[2016-02-04 07:42] #2778 closed

[2016-02-04 07:43] jdubois commented on #2785
Great job Deepu!
I will also create a shared Google doc so we can prepare a clean release
notes document.
Btw the one from the 2.0 release got vandalized, so next time it won't be
opened to comments.
Le 4 févr. 2016 6:45 AM, "Christophe Bornet" <notifications@github.com> a
écrit :

[2016-02-04 07:44] deepu105 commented on #2775
could you give more details and also follow our issue guidelines. If its a generic query plz post in stack overflow with Jhipster tag

[2016-02-04 07:44] #2775 closed

[2016-02-04 08:00] deepu105 commented on #2785
awesome.

Thanks & Regards,
Deepu

On Thu, Feb 4, 2016 at 3:43 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-04 09:06] deepu105 commented on #2785
we also need to update the presentation and the videos

[2016-02-04 09:13] amitjindal commented on #2743
@atomfrede
Oh, crap. Didn't thought about that. Now its running here as well. I think I was terminating again and again so it probably never finished downloading what it started. I was trying this at home so probably the time taken was much longer due to slower network speed.

Thank you so much!
Sorry for causing inconvenience.

[2016-02-04 09:13] #2743 closed

[2016-02-04 09:17] PierreBesson commented on #2661
Yes I will try it now.

[2016-02-04 09:24] deepu105 commented on #2767
@erikkemperman do you have time to look at this?

[2016-02-04 09:27] deepu105 commented on #2537
is this fixed with https://github.com/jhipster/generator-jhipster/pull/2786

[2016-02-04 09:28] erikkemperman commented on #2767
@deepu105 Not really, sorry..

[2016-02-04 10:24] gmarziou commented on #2769
This is used by the connection pool to test whether the connection is still alive, it is usually done either on getting a connection from the pool or on returning it to the pool

[2016-02-04 10:57] deepu105 commented on #2769
oh ok

Thanks & Regards,
Deepu

On Thu, Feb 4, 2016 at 6:25 PM, Gaël Marziou <notifications@github.com>
wrote:

[2016-02-04 12:46] PierreBesson commented on #2661
@cbornet, for the front-end generator I have an error, it can not retrieve the client.module.js file.
Anyway, this is good that this work, it shows that we can generate REST clients from a Swagger docs and integrate them to JHipster.
However the style of the generated code differs a lot from JHipster's usual code. For the back-end client it is not using Spring RestTemplate and for the front-end cl

[2016-02-04 13:22] cbornet commented on #2661
@PierreBesson
* as for the front this is indeed not JHipster style. To enhance it, I guess we would have to make a JHipster swagger-codegen template
* Can you open an issue for the bug you have ?
* As for the back, I find feign much nicer than RestTemplate ! Even spring-cloud uses Feign : http://projects.spring.io/spring-cloud/spring-cloud.html#spring-cloud-feign

[2016-02-04 13:47] cbornet commented on #2767
I think that with gulp, bootstrap fonts are not copied to assets
This is how it was done with grunt:
[code]
and I don't find a similar task in gulp

[2016-02-04 14:05] erikkemperman commented on #2767
@cbornet I did see a `copy` task in the [gulpfile](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/gulpfile.js#L62) though, but that doesn't find any fonts in `content`.

[2016-02-04 14:11] cbornet commented on #2767
Yes. Need to add to this task
[code]

[2016-02-04 14:24] deepu105 commented on #2767
Can you add that plz
On 4 Feb 2016 22:11, "Christophe Bornet" <notifications@github.com> wrote:

[2016-02-04 14:39] #2767 closed

[2016-02-04 14:59] erikkemperman commented on #2767
Thanks!

[2016-02-04 15:23] erensimsek opened #2790 "Showing detailed query result."
Hello everyone,

We added a info that count of query result to our list pages of entities in our project.

May be it can be add to jhipster-generator too without forget i18n support.

You can see with [screenshot here](https://cdn.pbrd.co/images/1iXhOLJt.png).

Example code of screenshot (**companys.html**)

[code]

Example code of screenshot (**company.controller.js**)
[code]

Example code of scr

[2016-02-04 15:26] moifort commented on #2790
It's a good idea, can you make a PR?

[2016-02-04 15:28] mraible commented on #2537
Yes, I fixed this with #2786.

[2016-02-04 15:28] #2537 closed

[2016-02-04 15:41] PierreBesson commented on #2661
If we keep this generator in a module it does not really matter if we use yeoman or another tool as the generator. Swagger-codegen is already very popular with over 1500 stars it makes sense to use it.

About Feign, I didn't know about it, it looks quite good especially in a microservice context. It seems that it can do [so many things](https://jmnarloch.wordpress.com/2015/08/19/spring-cloud-desig

[2016-02-04 15:54] erensimsek commented on #2790
Of course I can.. Just I need to read submission guidelines.

[2016-02-04 16:05] moifort commented on #2790
:+1:

[2016-02-04 16:18] cbornet commented on #2769
Does somebody know why we don't use the SB autoconfiguration for the DataSource ?

[2016-02-04 16:21] jdubois commented on #2769
Initially it was because they didn't provide all the options we needed, and they did not support HikariCP.
Now things have changed, of course, so this something that could be checked: we still have quite a lot of specific JHipster configuration there (for monitoring, for tuning MySQL, etc) so I'm not sure we can use the standard autoconfiguration.

[2016-02-04 16:27] cbornet commented on #2769
I just tried and HikariCP works well but indeed we lose a lot of dropwizard metrics.
It's too bad that SB doesn't detect dropwizard for datasource and cache...

[2016-02-04 20:24] cbornet commented on #2769
Then mayby use [@ConfigurationProperties](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#boot-features-external-config-typesafe-configuration-properties) to enable all datasource properties from the config file (this is what is done by SB autoconf) ?

[2016-02-04 20:44] cbornet commented on #2661
Spring cloud annotations look awesome and your link is really interesting but I guess this is reserved for micro-services.

[2016-02-04 21:20] pascalgrimaud commented on #2774
Like in package.json, I prefer use specific version instead of latest => see my old PR https://github.com/jhipster/generator-jhipster/pull/2217

I dont like 2 digits too : if I have low connection and during a demo, if mysql:5.7 has been updated on docker hub, it will trigger a new download to replace my image

I prefer this workflow :
- use fix version for database X.Y.Z
- when there is a new ver

[2016-02-04 21:39] phouverneyuff commented on #2774
OK @pascalgrimaud. I understand your point of view.

[2016-02-04 22:01] cbornet commented on #2769
I have it working with ConfigurationProperties. I'll PR tomorrow.

[2016-02-04 23:23] geraldhumphries commented on #2657
I am working on this now. Since this issue will introduce significant differences in the controller between `pager/pagination`, `infinite-scroll`, and `simple`, I am splitting the controller contents into EJS files so they are easier to manage. Does anyone have any objections?

[2016-02-05 00:18] deepu105 commented on #2790
:+1: just a suggestion make that to a directive so that you just need to pass as below
[code]

[2016-02-05 00:49] deepu105 commented on #2657
i think ok as long as it doesnt become overly complex

Thanks & Regards,
Deepu

On Fri, Feb 5, 2016 at 7:23 AM, Gerald Humphries <notifications@github.com>
wrote:

[2016-02-05 02:17] deepu105 opened #2793 "create a module or tip for grunt"
Module will be better

Any body want to volunteer??

[2016-02-05 02:20] ouyangshixiong commented on #2666
I believe in the bug had been fixed. But not perfectly fixed. Because @OneToOne had no automatic generate @JoinColumn.

[2016-02-05 02:30] myspivey opened #2794 "Feature Request: Support AWS Elasticsearch Service"
Would be great to support AWS Elasticsearch service as this makes getting clusters up and running far faster. Currently I believe they only support REST methods for adding data. This could be a great add on module or addition.. http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-gsg.html

[2016-02-05 03:43] deepu105 commented on #2794
you can do it as module as we wont be having the time and resource. FYI @wuethrich44

[2016-02-05 03:43] #2794 closed

[2016-02-05 08:01] jdubois commented on #2754
I have "updated" the webhook, I don't know if it will do anything...

On Wed, Feb 3, 2016 at 8:57 AM, Julien Dubois <julien.dubois@gmail.com>
wrote:

--
Julien Dubois

Twitter: @juliendubois <http://twitter.com/#!/juliendubois>
Phone: +33 (0)6 25 02 34 18

[2016-02-05 08:04] cbornet commented on #2666
I don't understand your issue. Have you seen #2695 ?

[2016-02-05 08:19] pascalgrimaud commented on #2754
it should rather be "Services / Manage Docker" with a button Test service

Anyway, it doesn't work :( Just commit to branch test-docker-hub and no build is triggered

[2016-02-05 08:55] geraldhumphries opened #2798 "Separate EntityManagementController content into EJS files based on pagination type"
Discussed in #2657. Important because of how much the pagination types are going to diverge in #2657.

[2016-02-05 09:28] deepu105 opened #2801 "move only required bower_component files in war"
From discussion in https://github.com/jhipster/generator-jhipster/issues/2282

[code]

seems we are packaging a lot more than required in bower_components.
we should see if we can package only the required files

from wiredep documentation:, there seems to be a way to get all file paths required, may be we can write a custom copy task to copy only these instead of moving all in the bower folder du

[2016-02-05 09:33] #2427 closed

[2016-02-05 10:55] #2798 closed

[2016-02-05 11:29] gmarziou commented on #2801
I didn't know that wiredep could do it, for me this is a task for bower-main-files as the file listr can be streamed, filtered and also re-ordered if needed.
We could also concatenate all js files from bower_components to a vendor.js.

I'll work on this.

[2016-02-05 11:32] dalbelap commented on #2689
I have that problem with an Android using GreenDao for persist. Maybe I must storage as String instead java.util.Date and parse manually in the client.

[2016-02-05 11:56] deepu105 commented on #2801
yes you are right one way or other we should do it

[2016-02-05 12:29] ouyangshixiong commented on #2666
I have seen #2695 ,did you mean that I should add "&amp;hibernate.ejb.naming_strategy=org.springframework.boot.orm.jpa.hibernate.SpringNamingStrategy"  in my pom.xml manually?

[2016-02-05 12:41] deepu105 commented on #2793
looks like no volunteers :(

@PierreBesson would you be interested when you have time?

[2016-02-05 13:15] PierreBesson commented on #2793
Wouldn't it be better if the grunt module can be maintained by someone who has personal reasons to keep using grunt. Also it would need to be updated to keep up with the main generator and I don't think I have the skills to do it. Although I have used grunt a bit in the past, I would prefer to learn gulp now as it is much faster and seem simpler and more powerful.

Anyway if someone wants to do th

[2016-02-05 13:24] cbornet commented on #2666
You should set in manually since you already configured it manually

[2016-02-05 14:09] gmarziou commented on #2801
The more I read about, the more I get confused :(

It seems that the right way to do it would be to use [webpack](http://webpack.github.io/) either from a thin gulpfile like in [yeaoman generator-es6-angular](https://github.com/leftstick/generator-es6-angular) or directly from npm scripts (without gulp).

In both cases, bower would get out of the picture and be replaced by npm with dependencies li

[2016-02-05 14:33] cbornet commented on #2769
#2803 allows to configure this from application.yml
Now the question would be : should it be set by default. I don't know what the recommendation is with Hikari

[2016-02-05 14:39] cbornet commented on #2769
If your driver supports JDBC4 we strongly recommend not setting this property. This is for "legacy" databases that do not support the JDBC4 Connection.isValid() API. This is the query that will be executed just before a connection is given to you from the pool to validate that the connection to the database is still alive. Again, try running the pool without this property, HikariCP will log an err

[2016-02-05 14:53] gmarziou commented on #2801
It seems that ES6 would be required to do so.

[2016-02-05 14:57] gmarziou commented on #2769
Versions 11 and 12 are JDBC 4 compliant.

[2016-02-05 14:57] cbornet commented on #2769
Reading [this](http://www.oracle.com/technetwork/database/enterprise-edition/jdbc-faq-090281.html), I'm not sure this should be set as default (we use ojdbc7).
@eredwan what is your Oracle version ?

[2016-02-05 15:15] deepu105 commented on #2793
Ya thats the problem, no one seems to be interested in grunt :( including
me :P
On 5 Feb 2016 21:15, "Pierre Besson" <notifications@github.com> wrote:

[2016-02-05 15:19] #2185 closed

[2016-02-05 15:29] deepu105 commented on #2769
I dont think its request for oracle i have application in production with
Oracle and i didn't set it and i didn't have any error so far
On 5 Feb 2016 22:57, "Christophe Bornet" <notifications@github.com> wrote:

[2016-02-05 16:01] PierreBesson opened #2804 "Testing microservices builds on Travis requires running the registry"
Following PR #2802, I have been asked to add Travis builds for the microservice and gateway app using Maven and Gradle. I have finished it and it's [ready for PR here](https://github.com/PierreBesson/generator-jhipster/tree/travis-builds-for-microservices).

But now that I think about it, in order to test the microservices build on Travis we need to have the [Jhipster registry](https://github.com/

[2016-02-05 16:03] deepu105 commented on #2804
This stuff looks very cool, damn i need to learn some docker :P
On 6 Feb 2016 00:01, "Pierre Besson" <notifications@github.com> wrote:

[2016-02-05 16:07] pascalgrimaud commented on #2804
In my opinion,

1st version, you can just test mvn test + gulp test. I think it would be enought. Use the variable RUN_APP=0, in .travis.yml

In a 2nd version, we should :
- build a Docker image and put it to Docker hub (automated if possible...)
- in our travis build, just docker pull to get the image and start it, like we do for all database

[2016-02-05 16:19] eredwan commented on #2769
I am using Oracle 10g and ojdbc14

On Fri, Feb 5, 2016 at 6:58 AM, Christophe Bornet <notifications@github.com>
wrote:

[2016-02-05 16:22] pascalgrimaud commented on #2804
You should link your fork generator-jhipster to travis too
So, every push to your fork will trigger a Travis build, so you can really test it before propose PR

[2016-02-05 16:24] deepu105 commented on #2769
Sorry but we support only 12c and above
On 6 Feb 2016 00:19, "Esau Redwan" <notifications@github.com> wrote:

[2016-02-05 16:25] #2769 closed

[2016-02-05 16:26] deepu105 commented on #2769
If you are interested you can add this as a tip in our documentation site.

[2016-02-05 16:29] cbornet commented on #2769
@eredwan with the PR #2803 you will be able to do it from your application.yml with
[code]
Meanwhile, you can use your code configuration

[2016-02-05 16:30] PierreBesson commented on #2804
@pascalgrimaud :+1:, this is a good idea. So if I set RUN_APP=0 it will not execute 05-run.sh but how can I set this only for microservices builds ?

So, every push to your fork will trigger a Travis build, so you can really test it before propose PR

Good idea, I was just thinking about doing that. I hope Travis will not mind that we use so much of it's resources :smile:.

[2016-02-05 16:38] PierreBesson commented on #2804
OK, now I understand, .travis.yml has the list of things to run. This should be easy...

[2016-02-05 16:39] eredwan commented on #2769
Ya no problem. I've already figured it out with the code configuration. I
am limited to this oracle version because of my corporate work.

On Fri, Feb 5, 2016 at 8:29 AM, Christophe Bornet <notifications@github.com>
wrote:

[2016-02-05 18:56] thiagonuic opened #2805 "ZonedDateTime and LiquibaseDiff"
Hi,

When I try to do liquibase diff on an entity with ZonedDateTime I get the following error:

Unexpected error running Liquibase: org.hibernate.MappingException: Could not determine type for: BasicType adapter for AttributeConverter<ZonedDateTime,Date>, at table: hall_aud, for columns: [org.hibernate.mapping.Column(created_date)]

Doing some googling on it, seems to be some issue with Hibernate

[2016-02-05 21:30] gmarziou commented on #2801
I did a test by excluding completely the bower_components folder from the war in pom*;xml:

    <packagingExcludes>WEB-INF/lib/tomcat-*.jar,bower_components/**</packagingExcludes>

The resulting war file is only 5 MB smaller which is roughly 10% smaller.

I don't think this is worth tuning gulp build using wiredep or any- especially when we could something simpler to maintain with webpack.

So I'm

[2016-02-06 00:32] ouyangshixiong commented on #2666
Thanks @cbornet  . I try it on my exist project. I believe the bug had been perfectly fixed.

[2016-02-06 00:56] deepu105 commented on #2801
But webpack works only with npm right? Its good for react but not sure how
it will work out for angular, i dont think all angular dependency we use
are available in npm.

Again if its only 5 mb reduction we shouldn't bother
On 6 Feb 2016 05:30, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-06 03:01] deepu105 commented on #1999
@jdubois can we close this with JWT i dont think we have the remember me box at all right?

[2016-02-06 04:20] deepu105 opened #2807 "websocket doesnt work in JWT"
[code]

[2016-02-06 04:23] deepu105 commented on #2807
cc @jdubois @amit2103

[2016-02-06 05:30] jdubois commented on #2807
Yes it's not surprising, it was already broken with xauth and oauth2.
The good news is that I understand jwt much better now, so maybe I can do something about it.

[2016-02-06 05:32] jdubois opened #2808 "Upgrade to AngularJS 1.5"
See http://angularjs.blogspot.fr/2016/02/angular-150-ennoblement-facilitation.html?m=1

- this should be as part of our 3.0 redesign
- here's some good work for my trainees cc @PierreBesson

[2016-02-06 05:33] jdubois commented on #1999
Yes.
There will be some specific work to have something similar with JWT, but it's another task.

[2016-02-06 05:33] #1999 closed

[2016-02-06 05:38] jdubois commented on #2805
Yes the _aud suffix is from Hibernate Envers, so it's not a JHipster issue.
If you look at the old tickets you'll see that I'm not a huge fan of Envers :-)
I'm closing this as it's not a JHipster issue.

[2016-02-06 05:38] #2805 closed

[2016-02-06 07:08] deepu105 commented on #2808
I dont think this will break anything for us.May be we can rewrite our directives with the new component helper

[2016-02-06 07:39] amit2103 commented on #2807
Will take a look at this...May be  the token is not being sent via the websocket.

[2016-02-06 07:41] jdubois commented on #2807
Yes it's not being sent: I didn't code this at all :-)
Le 6 févr. 2016 8:39 AM, "amit2103" <notifications@github.com> a écrit :

[2016-02-06 07:44] jdubois opened #2810 "Add an option to generate only the frontend"
Like we have --skip-client to generate only the back-end, we should have --skip-server to generate only the front-end.
This is important for microservices : the front-end will be generated only on the gateway. And the microservices will just have the back-end.

[2016-02-06 08:07] jdubois opened #2811 "Add option not to generate the user management code"
Add an option --no-user-management

Do not generate:
- tables and Liquibase code
- Java classes
- front-end code

But we still keep the security code.

This is important for microservices where the user management is handled by the gateway, or maybe an external oauth2 server.

[2016-02-06 08:12] amit2103 commented on #2807
Yes I didnt do it in my pull request too..

[2016-02-06 08:36] deepu105 commented on #2810
Thats easy to add coz we already have a jhipster:client generator

Since the client generation needs to know what is the authType, cache,
dbType etc to generate properly these can be passed as cli options to the
sub like `jhipster:client --auth jwt`

So if we are skipping it from main generator we should provide some
sensible default.

What defaults would you prefer for below

Authentication -this

[2016-02-06 08:51] deepu105 commented on #2811
@jdubois I have organised the code in client and server to have user managemnt and auth part as seperate blocks so we just need to add
[code]

to these methods,  take a look at [this](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/index.js#L317), [this](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/index.js#L392), [this](https://github.c

[2016-02-06 08:53] deepu105 commented on #2811
ill add the flags anyway and we can decide what to skip and what to keep later

[2016-02-06 09:05] gmarziou commented on #2801
Yes it uses npm and I don't know how this would work for css or fonts.
I'll investigate webpack as it could be useful for ng2.

If you agree, we can close this issue

[2016-02-06 09:08] deepu105 commented on #2801
ok lets close it for now

Thanks & Regards,
Deepu

On Sat, Feb 6, 2016 at 5:05 PM, Gaël Marziou <notifications@github.com>
wrote:

[2016-02-06 09:12] deepu105 opened #2812 "protractor should be devDependency in generated project"
Shouldnt protractor be in the `devDependencies` section of package.json of a generated project instead of `dependencies`?

cc @mraible

[2016-02-06 09:59] deepu105 commented on #2810
done :+1:

we need to just add the defaults

[2016-02-06 10:00] deepu105 commented on #2811
done I added a `skip-user-management` flag. we just need to skip the required file blocks in server and client

[2016-02-06 10:03] cbornet commented on #2810
As for metrics and health, I guess there will be a dedicated component in micro services.

[2016-02-06 10:24] #2801 closed

[2016-02-06 10:25] deepu105 commented on #2811
if ther are files to skip those needs to be moved to [this block](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/index.js#L955)
[code]

[2016-02-06 12:28] thiagonuic commented on #2805
What do you use instead of envers?

[2016-02-06 12:29] deepu105 commented on #2805
@thiagonuic are you looking at envers for auditing? if so take a look at https://github.com/hipster-labs/generator-jhipster-entity-audit

[2016-02-06 12:34] thiagonuic commented on #2805
@deepu105 Will do, thanks!

[2016-02-06 13:18] marcelinobadin opened #2814 "adding new url into initCachingHttpHeadersFilter works on dev but not on prod"
I need to let a resource /api/my-resource/* be cached. So, I added this to the _initCachingHttpHeadersFilter_:
[code]
and then I had changed the _onStartup_ method to also start _initCachingHttpHeadersFilter_ and _initStaticResourcesProductionFilter_ for testing purposes. Once I do that, it works fine, my resource has now the cached _cache-control_ header. But when I move everything as usual and d

[2016-02-06 13:29] deepu105 commented on #2814
@marcelinobadin this is a stack overflow candidate, pl take it there and tag it with jhipster.

Since this is not a bug report or feature request Im closing it

[2016-02-06 13:29] #2814 closed

[2016-02-06 14:09] marcelinobadin commented on #2814
Ok. cool. I did it.

[2016-02-06 15:51] danielemaddaluno commented on #1075
For me executing `sudo npm install -g grunt-cli` worked fine!

[2016-02-06 16:09] jim-mix commented on #2150
Hi guys

I am facing the same issue with a one-to-one relationship. Is there any fix that you are aware of?

Thanks

[2016-02-06 16:23] gmarziou commented on #2150
Please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue) to provide details and open a new issue

[2016-02-06 16:34] cbornet commented on #2150
It's fixed on master in #2690 and #2695

[2016-02-06 17:12] jim-mix commented on #2150
Thanks @cbornet

Looking forward to update to the next release then! :)

[2016-02-06 17:23] mraible commented on #2812
The reason it's in the dependencies section is because this is how I found it best to make things work on Heroku when deploying just using Git (and letting Heroku do the build). Here's the issue I had from another project.

[code]

[code]

Here's the response I received from Heroku:

[code]

[code]

[code]

[code]

[code]

[code]

Since we're no longer recommending deploying to Heroku using Git, w

[2016-02-06 21:07] JavierFuentes commented on #1566
Hello,
I recently need to change this to solve an error in ALL my native JHipster tests with H2 in-memory db relative with a **Float** column in one of my entities:

[code]

I've found [this in stackoverflow](http://stackoverflow.com/questions/28480714/hsql-hibernate-exception-wrong-column-type-found-double-expected-float) that explains the reasons.

[2016-02-06 21:51] cbornet commented on #1566
This has been already been done a long time ago in JHipster :smile:

[2016-02-06 22:17] cbornet commented on #1566
@JavierFuentes can you give more details ? We have entities with Float fields tested on H2 in each CI build so it seems to work with "real"

[2016-02-07 03:04] dancancro commented on #2271
Would anyone with intimate familiarity with this structure be interested in adding a column for it [here](https://docs.google.com/spreadsheets/d/1I6VZNgnodju5KO3C07Ut3GLDvpZVYh0pBlUf2jYDsV0/edit#gid=1103163354)?

Is this sort of structure dissection and comparison useful?

If you have any questions let me know. Thanks.

[2016-02-07 13:07] JavierFuentes commented on #1566
Sorry Christophe,
I am learning new technologies and JHipster is ideal for me at this stage... so I apologize if I can not help too much...

I am using JHipster version 2.26.2 in a project created on January'16 aflter installing JHipster by first time.

My IDE is IntelliJ 15.0 over OSX.
I'm using jdk1.8.0_25 and MySQL in local Dev environment and H2 in-memory in Tests.

I have created my entities

[2016-02-07 15:08] cbornet commented on #1566
This doesn't look like a changelog generated by the entity generator. The entity changelog does a replacement for the float column depending on the database. For postgres and h2 it uses float4. For others it uses float.

[2016-02-07 15:18] llachiheb opened #2819 "jhipster not generate i18n files for enum type"
When you use enum type, jhipster generate only English files and when you switch to French language it cause js error : file not found.

[2016-02-07 16:02] deepu105 commented on #1566
Yes its not a jhipster changelog seems someone has modified it
On 7 Feb 2016 23:08, "Christophe Bornet" <notifications@github.com> wrote:

[2016-02-07 16:27] cbornet commented on #2819
Indeed ! enum_fr.json doesn't exist in generators/entity/templates/src/main/webapp/i18n
Would you do a PR ?

[2016-02-07 16:52] llachiheb commented on #2819
no _enum_fr.json in my generator-jhipster/entity/templates/src/main/webapp/i18n/

[2016-02-07 17:11] JavierFuentes commented on #1566
Sorry, I don't understand...
my changelogs were re-generated automatically by JHipster UML add-on first, and by Liquibase scripts from IntelliJ Maven tool window after.

I have another 4 Float fields in other entities of the poject and all they have the same type in XML changelog.

My changelogs starts with this header:

[code]

Perhaps I did something wrong, but in MySQL database development envi

[2016-02-07 17:22] cbornet commented on #1566
You shouldn't use the IntelliJ Liquibase tool. Just use Jhipster-uml and nothing else. Anyway this is not the good place to continue this conversation. To get help please use stackoverflow or gitter.

[2016-02-07 17:43] cbornet commented on #2819
PR is short for "pull request" in case you want to [contribute](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md). If you don't feel like it, no worries, we will do the fix.

[2016-02-07 18:45] llachiheb opened #2820 "Entity with optional blob field not saved"
When you create an entity with optional blob filed, [photo] for example,  and try to add an entry without putting the photo field since it's optional. the system return an error message because of photo_content_type is set to "NOT NULL" in the data base.
I'am using postgres.

[2016-02-07 19:05] deepu105 commented on #2820
Yes I confirm this bug
On 8 Feb 2016 02:45, "llachiheb" <notifications@github.com> wrote:

[2016-02-07 19:07] deepu105 commented on #2820
@andidev since you added this feature, could you kindly take a look?

[2016-02-07 19:41] andidev commented on #2820
I'll have a closer look at it later.

@llachiheb
Is it set not null in liquidbase script or in the java file?

I dont see it getting set to nullable=false in the liquibase script at line
https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/templates/src/main/resources/config/liquibase/changelog/_added_entity.xml#L46

[2016-02-07 19:44] andidev commented on #2820
Or maybe I need to rewrite that code to make it more readable. I don't get it at the moment. I'll try to clean it up first.

[2016-02-07 19:50] llachiheb commented on #2820
@andidev in the liquibase xml script

[2016-02-08 02:51] kante12 opened #2822 "Failed to read HTTP message: org.springframework.http.converter.HttpMessageNotReadableException: Could not read document: Can not deserialize instance of java.lang.String out of START_OBJECT token"
Hi All,

I am getting this error whenever I attempt to save information to the backend for a one-to-one related entity to the 'user table' called credentials.

HERE IS THE CODE FOR THE CREDENTIAL ENTITY CLASS:

package com.wiportal.app.domain;

import com.fasterxml.jackson.annotation.JsonIgnore;
import org.hibernate.annotations.Cache;
import org.hibernate.annotations.CacheConcurrencyStrategy;
impo

[2016-02-08 06:33] johanvdb opened #2823 "No marketplace entries found to handle Execution run-frontend-build"
A new installation of STS 3.7.2, new workspace, and a clean import of a newly generated jhipster project, produces the attached error during import.

I can choose to install the maven-processor-plugin from the marketplace (as per the official jhipster documentation), but not yeoman-maven-plugin.

<img width="1127" alt="screen shot 2016-02-07 at 12 23 26 pm" src="https://cloud.githubusercontent.com

[2016-02-08 07:25] pascalgrimaud commented on #2804
@PierreBesson : plz look https://groups.google.com/forum/?hl=en#!topic/jhipster-dev/8HFvaasM3K0
We can reduce the number of builds from 14 to 12, and adding gateway+microservice, as suggested by Deepu

The current app-gulp and app-default can be replaced.

[2016-02-08 09:29] PierreBesson commented on #2804
It's reasonable to follow @deepu105's advice and reduce the number of builds but shouldn't we test the microservice build both with maven AND gradle ? Experience has shown that it is easy to make a mistake...
For now, I will add 2 builds (gateway+microservice) and remove app-gulp. Then work on doing further changes as of @deepu105's email.

[2016-02-08 09:33] deepu105 commented on #2823
please follow our guideline https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue

[2016-02-08 09:33] deepu105 commented on #2822
plz follow our guidelines https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue

[2016-02-08 09:37] #2812 closed

[2016-02-08 09:50] PierreBesson commented on #2804
Maybe we could combine the gateway and gradle builds ? Should be good enough for now ?

[2016-02-08 10:07] PierreBesson commented on #2808
Wow, this looks a lot like React ! We could start working on this next week when William (the other JHipster intern) arrives. He told me he had some AngularJS experience.

[2016-02-08 10:21] jdubois commented on #2822
I'm sorry but this is the ticket system for JHipster, we are not going to debug a class you have created. We don't provide any "Credential" class. I'm closing this as this not a JHipster bug.

[2016-02-08 10:21] #2822 closed

[2016-02-08 10:23] jdubois commented on #2808
Yes that's the idea :-)
We'll do a team briefing on Monday next week.

[2016-02-08 10:26] jdubois commented on #2804
It would be more complex, just start with one Gateway and one Microservice build, it's already very good for starting

[2016-02-08 10:26] jdubois commented on #2823
This hugely depends on your JHipster version -> I'm closing this as you didn't provide any version information. I don't have this issue on the master branch, for example.

[2016-02-08 10:26] #2823 closed

[2016-02-08 10:47] mowi62 opened #2826 "BeanCreationException"
Jag får följande byggfel, har ni något tips vad problemet är?

2016-02-08 11:13:09.644  WARN 1804 --- [  restartedMain] ationConfigEmbeddedWebApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.scheduling.annotation.ProxyAsyncConfiguration':

[2016-02-08 10:50] cbornet commented on #2826
Seriously ?
In english please and use our [submission guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submit)

[2016-02-08 10:50] #2826 closed

[2016-02-08 10:52] cbornet commented on #2689
I even wonder if it wouldn't be interesting to have the possibility to set the format by application.yml file. What do you think ?

[2016-02-08 13:19] deepu105 commented on #2826
Thats a new level
On 8 Feb 2016 18:50, "Christophe Bornet" <notifications@github.com> wrote:

[2016-02-08 13:20] #2689 closed

[2016-02-08 13:20] deepu105 commented on #2689
Its 100 %  possible technically
On 8 Feb 2016 18:52, "Christophe Bornet" <notifications@github.com> wrote:

[2016-02-08 13:49] cbornet commented on #2689
@deepu105 you mean already possible ?

[2016-02-08 14:56] deepu105 commented on #2689
I mean of course we can inject the environment and get the property from .yml file and use it right?

[2016-02-08 15:08] phouverneyuff opened #2828 "Unresolved dependency angular-translate in bower"
I'm using jhipster with master repository.

Running bower install, give the message:

[code]

My bower.json
[code]

The solution is put "angular-translate": "2.9.0" in resolutions.

This solution resolves broken test in CircleCi too.

Can I do a PR?

[2016-02-08 15:14] kante12 commented on #2822
I am really sorry for the inconvenience. I will not bother you again unless it's a real ticket! After reading the guidelines I finally understood this repository is only for jhipster bugs. I will get help in Satck Overflow if needed.

[2016-02-08 15:35] atomfrede commented on #2828
I would not put angular translate in the resolutions. Instead it could be upgraded in the dependencies.

[2016-02-08 15:39] phouverneyuff commented on #2828
There are some issues for update all dependencies: #2808 #2774

[2016-02-08 15:58] deepu105 commented on #2828
I think updating the dependency to latest will solve it, anyways you can do
PR
On 8 Feb 2016 23:46, "Paulo Henrique" <notifications@github.com> wrote:

[2016-02-08 15:59] jdubois commented on #2822
Yes @kante12 please post it on StackOverflow -> you are not bothering you, it's just that we want the questions/tickets on the right tool, so that people can get the best help possible

[2016-02-08 18:12] gmarziou commented on #2810
Gulp util parseVersion() fails when using --skip-server flag

Using master, I generated an app using --skip-server flag, gulp fails in parseVersion() because it tries to parse build.gradle to extract project version.
As build.gradle has not been generated, it fails.

When --skip-server flag is enabled, I think parseVersion() should not be called nor generated in gulp/utils.js and the version shoul

[2016-02-08 18:17] gmarziou commented on #2810
Another possibility which would be less intrusive for Gulpfile.js would be to implement parseVersion() as returning a constant.

[2016-02-08 18:30] gmarziou commented on #2810
I found another issue with `--skip-server` flag: as we did not ask to select the authentication scheme during the generation, the client code is missing the `auth` folder completely.

So the authentication question should be asked but then what should be used as the base URL for `/api` calls?

[2016-02-08 20:37] PierreBesson commented on #2506
I cleaned up a lot of JSHint errors last week.  Now that #2796 is merged. Can we close this issue ?

[2016-02-08 20:45] andidev opened #2830 "Test all entity field types and validation combinations in the Travis CI builds"
Today the Travis CI tests only tests generating fields with almost no validation. [EDIT edited this to be true]

To make our CI testing more complete we should test to generate all our field types.
I suggest we generate an Entity containing all our field types with each validation rule, e.g.
[code]

Further on this entity could be tested with different entity options e.g. `dto`, `service` and `pag

[2016-02-08 21:15] pascalgrimaud commented on #2830
+1 @andidev : I don't think it will slow down the CI too much.

[2016-02-08 21:29] #2506 closed

[2016-02-08 21:51] cbornet commented on #2830
+1 this will have near zero impact on CI build time

[2016-02-09 00:04] gmarziou opened #2832 "Current directory name with '-' cannot be used as app name"
This is a regression found on current master, PR #2307 is  no longer working.

How to reproduce:

[code]

The proposed app name is "jhipster" while it should be "newApp".

[2016-02-09 04:19] deepu105 commented on #2810
Yes, if you are skipping server you need to pass the auth flag with any one
of the auth type. We need to document those well and you are right about
parse version
On 9 Feb 2016 04:12, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-09 04:20] #2828 closed

[2016-02-09 04:25] #2819 closed

[2016-02-09 04:26] deepu105 commented on #2832
Ill take a look

[2016-02-09 04:28] #2810 closed

[2016-02-09 05:24] #2820 closed

[2016-02-09 05:29] deepu105 commented on #2832
@gmarziou it works for me with current master, Im on windows, are you on linux/osx if so can you plz take a look. The function is in generator-base.js

[code]

[2016-02-09 05:33] deepu105 commented on #2830
:+1: this shouldnt have any impact

[2016-02-09 05:35] deepu105 commented on #2810
@gmarziou thanks for testing

[2016-02-09 05:57] pascalgrimaud commented on #2832
it works on the current master too
I'm on Linux

[2016-02-09 06:06] atomfrede commented on #2832
Same for me. Works with latest master in Linux.

[2016-02-09 09:49] gmarziou commented on #2832
:disappointed: for me it did not work on both Linux and Windows on 2 different PCs
I'll dig further

[2016-02-09 09:54] gmarziou commented on #2810
I must admit that I'm a bit confused by these new flags, in particular it's nto clear for me whether they are supposed to be run by end users directly or only indirectly through modules.

[2016-02-09 11:28] nadavlev opened #2834 "[Entity sub-generator] default request sorts data twice on the "id" field"
When using MS SQL the default sort of the list in an entity list page is not correct, it has a default behavior designed for mysql, sorting by 2 columns.
this syntax is not acceptable by ms sql server.
is it possible to condition this behavior by the data base selected?

[2016-02-09 13:09] deepu105 commented on #2832
Thats strange maybe some issue with node ?
On 9 Feb 2016 17:49, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-09 13:32] saas2813 opened #2835 "Application is generated in current directory without a warning!"
"yo jhipster" generates a lot of files and happily clobbers the current directory without a warning.

I can see the use for letting the user select and create the target directory, but please add a warning about where you will create all the files, especially if there already are files in that directory!

[2016-02-09 13:51] jdubois commented on #2835
We are based on Yeoman and that's the way all Yeoman generators work: you generate your application in the current directory, that's documented everywhere.

[2016-02-09 13:52] PierreBesson opened #2836 "Swagger-UI calls don't work with JWT auth"
When using swagger UI on an application that uses JWT as authenticationType, the "Try it out" feature fails and return something like this:
[code]
It seems that some people have already managed to solve this problem (see [this swagger-ui issue]( https://github.com/swagger-api/swagger-ui/issues/818)).

I plan to do a PR to fix that. What I will do is get the JWT token from localStorage and follow i

[2016-02-09 13:59] deepu105 commented on #2810
Yes, these might be a bit overwhelming for our normal users, but its
supposed to be used by modules and power users so should be ok
On 9 Feb 2016 17:54, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-09 14:01] PierreBesson commented on #2836
OK, I just got it to work. Just added:

[code]
Really JWT is magic, so easy :smiley: !

[2016-02-09 14:04] deepu105 commented on #2835
I dont think a warning is a nice user experience for our users and we would expect our users to have read atleast the getting started or quick start part of the documentation. That means they should know that the files will be put in the directory then run the command from.

If you feel that the documentation is not sufficient we will be happy to improve that

[2016-02-09 14:12] cbornet commented on #2835
You have at least one question before yo generates or modifies anything so that also prevents unwanted sending of the command (eg. from history) to dirty your current dir.
And the proposed app name is your current dir name so that should also ring a bell if yo proposes  something like "root" as app name.

[2016-02-09 14:13] PierreBesson commented on #2836
Also, may I suggest an improvement, currently we don't have the "api_key" field on our Swagger-Ui (see for example: http://petstore.swagger.io/). It would be nice at least for JWT to be able to set different tokens directly in Swagger-UI and then try the APIs with those tokens. This is interesting for the ["granular security feature of JWT](https://auth0.com/blog/2014/12/02/using-json-web-tokens-a

[2016-02-09 14:30] thiagonuic opened #2837 "generator-jhipster-module not being recognized by yeoman"
I just installed the generator-jhipster-module, but Yeoman does not seem to find it. The regular jhipster generator works fine.

Node Version: 5.3
OS: MacOS X El Capitan
NPM: 3.3.12
Yeoman: 1.4.6

[2016-02-09 14:34] notflorian commented on #2837
I had also the same issue, and to solve it I had to install jhipster with `npm install generator-jhipster`, without the -g parameter.

[2016-02-09 14:36] saas2813 commented on #2835
"everywhere" was not ubiquitous enough to get to me ;-)
Sure, I was a little bit careless and not looking where I was experimenting, and totally uninterested in the Yeoman app, I wanted to try out the JHipster.
I can agree that a warning that needs to be confirmed is not a good user experience, especially for people used to the tool.
Would it be bad to print the target directory directly before or

[2016-02-09 14:44] thiagonuic commented on #2837
Thanks for the help it worked after installing both without the -g flag.

[2016-02-09 14:44] #2837 closed

[2016-02-09 14:47] cbornet commented on #2835
Yes, I guess that a warning log before the app name question would not hurt.

[2016-02-09 14:51] deepu105 commented on #2835
Ya a log of path should be fine.
On 9 Feb 2016 22:47, "Christophe Bornet" <notifications@github.com> wrote:

[2016-02-09 15:24] cbornet opened #2839 "Update setting-up-ci with gulp config"
The example given is for grunt

[2016-02-09 15:52] 1968058 opened #2840 "one-to-one relationship: Wrong $scope variable generated in entity dialog controller"
JHipster's entity generator generate wrong UI-code for entity dialog controller, for entity that owns a relationship. An error occurs in the browsers console:

`"Error: $scope.wv is undefined
@http://127.0.0.1:8080/scripts/app/entities/www/www-dialog.controller.js:9:17
invoke@http://127.0.0.1:8080/bower_components/angular/angular.js:4523:14
instantiate@http://127.0.0.1:8080/bower_components/angula

[2016-02-09 21:05] epikuruz opened #2843 "Entities - Better pluralisation strategy for names/strings"
Currently entity names and many strings are is crated by appending "s" at the end.

It does not work in some cases
e.g. category -> categories (and not categorys),

When generating the entity either user should be asked what's the plural form of given name with some default value proposed  or (it is or not xor) smarter strategy should be implemented

[2016-02-09 21:08] epikuruz opened #2844 "Rename getter for boolean fields from getXXX to isXXX"
Consider changing the following convention for entities:
class X
{
   private Boolean a;
   ..
   public getA(){ return a};
}

to

class X
{
   private Boolean a;

   public isA(){ return a};
}

[2016-02-09 21:22] andidev commented on #2843
Thanks for the suggestion. This is already done and merged in PR #2719 and will be available in the next 3.0 release.

[2016-02-09 21:22] #2843 closed

[2016-02-09 21:36] gmarziou commented on #2832
Sorry I could not reproduce , I don't know what I did

[2016-02-09 21:37] epikuruz opened #2845 "Improved naming convention for Date vs DateTime object"
Currently there is no distinction in the naming of fields/columns for Dates and DateTimes(Timestamps)

I would suggest the following convention change for distinguishing both from one another:

For TimeDate use:

Java:
private ZonedDateTime xxxDateTime;

SQL/DDL:
Data type: Timestamp datatype in SQL (relational databases)
and field name xxx_at (e.g. created_at, modified_at)

For Date (LocalDate in

[2016-02-09 21:51] cbornet commented on #2839
Actually, the javascript section can be removed since its already done in karma conf.

[2016-02-09 22:28] gmarziou opened #2846 "jhipster-sample-app contains obsolete test classes"
Not a big issue but if you go to [jhipster-sample-app git repo](https://github.com/jhipster/jhipster-sample-app/tree/master/src/test/java/com/mycompany/myapp/web/rest) you'll find that all *ResourceTest classes are still present while they have been renamed as  *ResourceIntTest.

Probably the CI scripts that re-generate them should cleanup first the previous source files.

[2016-02-09 23:44] gmarziou commented on #2810
@deepu105 I tried these options:

   yo jhipster --skip-server --auth oauth2

Is this how the auth flag is supposed to be used?

The app generated without errors but failed in browser:

`Error: [$injector:unpr] Unknown provider: authExpiredInterceptorProvider <- authExpiredInterceptor <- $http
`

[2016-02-10 00:49] deepu105 commented on #2844
I think thats good. Do you want to do a PR?
On 10 Feb 2016 05:08, "epikuruz" <notifications@github.com> wrote:

[2016-02-10 00:55] deepu105 commented on #2845
Sorry, I don't agree with this. Naming convention should be users choice say if i want to create a field called `flightDate` i wouldn't want it to look like `flightDateDateTime` when generated.

Same way I can have a field called `sta` (standard arrival time) i wouldn't like to see it as `staDateTime`.

So this naming is depending on functional requirement and users should name fields accordingly

[2016-02-10 00:55] #2845 closed

[2016-02-10 00:57] deepu105 commented on #2839
Can you update the ticket https://github.com/jhipster/generator-jhipster/issues/2785 and close this, lets track everything in one ticket as we have a lot of documentation to change for next release

[2016-02-10 00:59] deepu105 commented on #2810
Yes thats how it needs to passed. Ill see whats causing error
On 10 Feb 2016 07:44, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-10 04:17] ruddell commented on #2834
Sorting by two columns is acceptable syntax for MSSQL, the issue here is that the default query sorts by 'id' twice.  This doesn't generate an error in other databases but also doesn't do anything (maybe sorts twice?).

The fix is to remove the second 'id' from the 'sort' array in the query.

[2016-02-10 04:36] cbornet commented on #2785
We need to update the setting-CI page with gulp and remove the "Configuring Javascript Tests" which is now included by default.

[2016-02-10 04:37] cbornet commented on #2839
Yes. Good idea !

[2016-02-10 04:37] #2839 closed

[2016-02-10 06:36] jdubois commented on #2844
Yes that's the correct way of doing JavaBeans -> however I remember doing the getXXX as not every framework knows about this (some stuff is poorly coded!) and I had some integration issues.
I don't remember exactly the problem, and that was 2 years ago (at the beginning of the project), so let's try this.

[2016-02-10 07:50] deepu105 commented on #2834
@nadavlev we do not support MS SQL officially so we cannot do any specific change for that.
but as @ruddell said if there is a generic issue we could see how to fix that.
@geraldhumphries can you please take a look since you did the sorting implementation?

[2016-02-10 07:52] #2836 closed

[2016-02-10 08:07] deepu105 commented on #2558
closed via #2842

[2016-02-10 08:07] #2558 closed

[2016-02-10 08:12] deepu105 commented on #2785
@jdubois if you want we can draft the notes in this ticket as well, coz I have locked it within the Jhipster team members and we will have markdown here so easy to copy paste :)

[2016-02-10 08:13] deepu105 commented on #2840
do you want to do a PR to fix this?

[2016-02-10 08:27] deepu105 commented on #2835
closed via https://github.com/jhipster/generator-jhipster/commit/86051cbdf0f1e073a885b42f02a6275f5c2309c5

[2016-02-10 08:28] #2835 closed

[2016-02-10 08:50] deepu105 commented on #2694
I have added a post app run hook.

I'm not adding a pre entity/app run hook unless I have a good use case to test against.

[2016-02-10 08:50] #2694 closed

[2016-02-10 09:01] deepu105 commented on #2845
Hi Michal,

You can write this in the issue itself rather than sending to me directly as that would help community to view your point of view. I have kept your message at the trail for that

And yes I know that its a good point to have a different naming convention for the field in DB but unfortunately we cannot support each and every use case. our current setup is good enough for most our users a

[2016-02-10 09:25] jdubois commented on #2846
Yes I'm generating those manually, I'm correcting the issue!!

[2016-02-10 09:26] #2846 closed

[2016-02-10 09:33] jdubois commented on #2834
Yes the issue is that MS SQL is proprietary, so we can't test it (we do this on our free time, so there's no $$$ to buy stuff), which makes it very hard for us to support this.
From my understanding it's bad that our default query sorts twice on the id, we should fix this, don't you agree @deepu105 ?

[2016-02-10 09:44] jdubois commented on #2785
@deepu105 I didn't know we could lock a conversation, that's cool!!!!
In the jhipster.github.io repository I have created a specific branch for the 3.0 version, is it good for you? It's https://github.com/jhipster/jhipster.github.io/tree/v3_preparation

[2016-02-10 09:44] jdubois commented on #2840
I don't understand, this use-case is covered by our tests... So you probably do something specific, can you explain what you do?

[2016-02-10 09:45] jdubois commented on #2840
Oh you're using one-to-one relationship!!! I'm updating the ticket title

[2016-02-10 10:08] deepu105 commented on #2834
yes we should fix this and then it might be easy for MS SQL use as well as
many people have successfully used MS SQL with minimal change on the .yml
files

Thanks & Regards,
Deepu

On Wed, Feb 10, 2016 at 5:34 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-10 10:11] gmarziou commented on #2836
All changes we make to swagger-ui/_index.html have to be manually merged when we update swagger-ui, this is why we don't have the api_key input field but I like your idea.

This manual merge is a bit painful at the moment. I'm wondering whether there could be a better by externalizing our JS code from the index.html

[2016-02-10 10:15] jdubois commented on #2834
Then should whould reopen this, or create a new ticket for changing the default request?

[2016-02-10 10:15] deepu105 commented on #2785
Yes that should be good, so that we can all PR to that branch :) and probably do some dry run before the release

Btw here is the lock button below the participants :)

![image](https://cloud.githubusercontent.com/assets/1107223/12944463/355b02a2-d022-11e5-99b1-ca1a619d1074.png)

[2016-02-10 10:21] deepu105 commented on #2834
I think we can reopen and change the title

Thanks & Regards,
Deepu

On Wed, Feb 10, 2016 at 6:15 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-10 10:25] deepu105 commented on #2834
:+1:

[2016-02-10 10:41] BhawaniSingh opened #2848 "Social Login Support for stateless Authentication"
Enabling social login support for oAuth and x-auth should be done

[2016-02-10 10:59] deepu105 commented on #2848
@moifort

[2016-02-10 11:17] muralihr opened #2850 "Tomcat logging not working"
I build the mvn package and put the war file in the tomcat/webapps - but the log file which is configured in the log-back.xml is not created.

on the otherhand when i do just mvn - the log file is created.
How do i enable logging in the tomcat server  ?
***************************************************************************
<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAp

[2016-02-10 11:23] cbornet commented on #2836
@PierreBesson  the code for the swagger page comes from springfox (https://github.com/springfox/springfox/tree/master/springfox-swagger-ui/src/web). I have removed the api_key text box on purpose but it is easy to put it again.

[2016-02-10 11:23] jdubois commented on #2850
Can you please follow the guidelines and give your version number, etc?

Our current configuration only sends log to the console (this might soon change, for the microservices part, and we'll have the option to send them to an ELK server).

So I don't know what you're doing this, but in your logback-spring.xml file (not "log-back.xml") there is no log file configured by us.

[2016-02-10 11:23] #2850 closed

[2016-02-10 13:06] PierreBesson commented on #2836
@gmarziou I see the problem that would arise when updating swagger-ui. But externalizing the js will not be enough to prevent all merge conflicts.

I have an idea on how we could handle this but maybe it's a bit crazy.
So currently we go to http://localhost:8080/#/docs and there we have an iframe to swagger-ui/index.html. So I think that we could inject our custom js into this iframe (with onload=

[2016-02-10 13:12] PierreBesson commented on #2836
Oh and this could mean that we could be using the webjar.

[2016-02-10 13:39] moifort commented on #2848
@deepu105  @jdubois I was thinking if it will not better to migrate all the social authentification to a module and remove it from the jhipster app?

[2016-02-10 13:40] deepu105 opened #2851 "missing info url from jhipster-registry"
when hitting the info url `http://192.168.0.11:8080/info` near status from jhipster-registry it fails with unauthorized access error for both gateway and apps. The error occurs even when im logged into gateway
![image](https://cloud.githubusercontent.com/assets/1107223/12948245/c180d4f0-d03b-11e5-86db-c1cc0e919a17.png)

Is this suppose to be open? or should we need to add a info resource path on t

[2016-02-10 13:54] cicoub13 commented on #2848
:+1: for the request and for the module

[2016-02-10 13:55] jdubois commented on #2851
This is the dashboard made by Spring Boot and as far as I'm concerned the link is broken.
You don't need it, there's a better one on the gateway :-)

[2016-02-10 13:56] jdubois commented on #2848
I'm happy to have this in the main generator, I guess a lot of people want this, and it doesn't look annoying to maintain (never had any issue for that)

[2016-02-10 14:15] jdubois commented on #2754
@pascalgrimaud can we close this, now it's done? Next release will use this.

[2016-02-10 14:17] pascalgrimaud commented on #2754
Not yet, I see some issue (multiple triggers)... I'm investigating

[2016-02-10 14:38] geraldhumphries commented on #2834
This was added to fix #2422.

[2016-02-10 15:40] gmarziou commented on #2836
The index.html provided by springfox is not the original one from swagger-ui.
In particular, it includes springfox.js

[2016-02-10 15:57] deepu105 commented on #2851
Ok in that case.

Btw im able to access the entire app from gateway like localhost:8080/app1/
is that normal?

In that case a microsrvice can serve its UI via the gateway like this rite?
On 10 Feb 2016 21:55, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-10 16:00] deepu105 commented on #2834
Can we detect when sorting is by Id to do secondary sort by id only for
other columns
On 10 Feb 2016 22:38, "Gerald Humphries" <notifications@github.com> wrote:

[2016-02-10 16:09] geraldhumphries commented on #2834
Yeah, that should not be a problem.

From what I gather, sorting by the same column twice is causing issues in MSSQL?

[2016-02-10 16:17] cbornet commented on #2836
springfox.js is just the js code that was extracted from the original index.html and on which they added some special "springfox" features (ui conf from java bean, docket group selection, ...)
I guess the people from springfox will maintain this code in phase with swagger-ui.

[2016-02-10 16:18] PierreBesson commented on #2836
But shouldn't we move to springfox's swagger-ui ?
It can handle api_keys and security auth code for us (see [springfox.js](https://github.com/springfox/springfox/blob/master/springfox-swagger-ui/src/web/js/springfox.js)). We will have to set a custom Springfox security config ine java code [like here](https://github.com/springfox/springfox/blob/master/springfox-spring-config/src/main/java/springfo

[2016-02-10 16:22] cbornet commented on #2836
@PierreBesson But the apiKey we want to pass (for instance JJWT or CSRF token) comes from javacript, not from java and is dynamic so it can't come from a bean

[2016-02-10 16:24] cbornet commented on #2836
Maybe we could PR to springfox to have the possibility to add the api key by url

[2016-02-10 16:24] jdubois commented on #2851
Yes that's normal for the moment:

- That's why I don't want to generate the front-end on the "app1" service
- And don't forget the whole APIs are secured by Spring Security: so as soon as we have only the APIs, you will only have access to the APIs you have the permission to access

[2016-02-10 16:31] PierreBesson commented on #2836
@cbornet Oh I see...

Yes it would be nice to have, but would it be enough to handle all our authentication schemes.

[2016-02-10 16:36] ruddell commented on #2834
@geraldhumphries that is correct.  The error generated is: "com.microsoft.sqlserver.jdbc.SQLServerException: A column has been specified more than once in the order by list. Columns in the order by list must be unique."

[2016-02-10 16:47] cbornet commented on #2836
Whatever the auth type, we always call SwaggerClient.ApiKeyAuthorization() so that should be OK.
On the other hand, the security impact of passing auth data to an i-frame by url should probably be studied.

[2016-02-10 16:54] gmarziou commented on #2836
This is why we enabled it only for dev.
An alternative would be to get rid of the iframe and use an angular directive on top of swagger, there a few of them.

[2016-02-10 17:29] PierreBesson commented on #2836
If we would like to customize swagger-ui a lot, it might be interesting to follow this idea. A second JHipster intern will arrive next week and he has some angular experience, he could help me to develop this. Then we could extends swagger-ui functionality for the gateway, for example to add a way to sort the available API, arrange them by folder or search the available resources)...

[2016-02-10 21:15] gmarziou commented on #2832
I found why it failed only for me: it's because my directory name was 'app-name' not 'appName' as I wrote above.

This is because the regexp used for accepting current directory name is `/^[a-zA-Z0-9_]+$/`

In PR #2307, @jdubois proposed to use [slug](https://github.com/dodo/node-slug), I think it would be a better solution using '_' as character replacement and it would also support UTF-8.

What

[2016-02-10 21:21] moifort opened #2855 "Remove Twitter from Spring social connector"
I just realize that the Twitter API didn't return the email of the user (see https://twittercommunity.com/t/how-to-get-email-is-using-twitter-api-on-callback-page-using-php/404/20). And is not compatible with Jhipster register.

[2016-02-10 21:31] gmarziou commented on #2836
Sounds good, the directive I tried 3 months ago was [angular-swagger-ui](https://github.com/Orange-OpenSource/angular-swagger-ui). I just reviewed it and it is not very active, I checked also 2 others who are even less active.

So I'm afraid that these projects may not offer very good support and not migrate to angular 2 soon.

[2016-02-11 00:18] ruddell commented on #2855
One work-around that several sites use is to require the user to enter an email before registration is successful when registering with Twitter.  This adds complexity and a separate flow for Twitter registrations which is a pain.

[2016-02-11 01:55] deepu105 commented on #2832
Cant we use _.camelize ?
On 11 Feb 2016 05:15, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-11 03:02] deepu105 commented on #2836
I dont think it will be hard to write a directive if our own. Its better
than depending on non active projects
On 11 Feb 2016 05:31, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-11 04:07] deepu105 commented on #2848
I'm fine either way :)

Thanks & Regards,
Deepu

On Wed, Feb 10, 2016 at 9:39 PM, Thibaut Mottet <notifications@github.com>
wrote:

[2016-02-11 04:08] deepu105 commented on #2855
+1 for removing if its complex to workaround

Thanks & Regards,
Deepu

On Thu, Feb 11, 2016 at 8:18 AM, Jon Ruddell <notifications@github.com>
wrote:

[2016-02-11 04:09] #2851 closed

[2016-02-11 06:39] jdubois commented on #2832
The problem is that the name is used in many places, and I don't know if we can have specific characters like `_` or `-` in those places. That's why I'd rather not use them at all, unless someone does a study on where this is used, and if it causes any problem (probably not, in fact!).
So I'd go with Camelize by default, or Slug if we know it doesn't cause issue. Oh, and I agree Slug looks better.

[2016-02-11 09:46] deepu105 commented on #1995
@jdubois  I was rethinking this in the wake of our microservices offering. Do you think our current role management is sufficient? as per my original point above in the first comment its not flexible as its hard coded in the routes and resources. adding additional roles are a pain and with microservices how will we manage who has access to what.

I thought of this as a Module but that would requir

[2016-02-11 09:59] gmarziou commented on #2832
OK, I'll make some tests and report here before proposing a PR.
After all, the user can still enter manually the app name so it's not blocking.

[2016-02-11 11:30] #2844 closed

[2016-02-11 12:57] gmarziou opened #2857 "Dockerfile still installs grunt"
[Dockerfile](https://github.com/jhipster/generator-jhipster/blob/1f99be8c427266ebc6684c501a0bee72a8522afc/Dockerfile#L32) on master still installs grunt-cli.

Sorry, I'm not yet a docker user so I can't test and make a PR.

[2016-02-11 14:01] Burdu opened #2858 "New jhipster project gives "Pre-authenticated entry point called. Rejecting access""
Hi,

Just configured a new jhipster project and I am getting `[nio-8080-exec-6] n.t.s.Http401UnauthorizedEntryPoint      : Pre-authenticated entry point called. Rejecting access` each time I try to access the page. I tried empty cache and hard reload, but nothing. I can't manage to access the page.

`Request URL:http://127.0.0.1:8080/api/account?cacheBuster=1455198881952
Request Method:GET
Status

[2016-02-11 14:07] jdubois commented on #1995
In a microservices architecture, the limitations of Spring Security are indeed more important.

In my current idea, we would have a custom Zuul filter that handles security. This filter will indeed need to dynamically check security roles, which could be done by just using the normal Spring Security API.

Then, this doesn't prevent the microservice application to do its own checks: that's already

[2016-02-11 14:15] jdubois commented on #2858
You need to log in first. The default password is "admin/admin". After that, you won't have an authentication warning.

[2016-02-11 14:15] #2858 closed

[2016-02-11 14:29] Burdu commented on #2858
Thanks. This was added to not running `npm install` and `grunt build` and the page looked ugly. Sorry for the trouble.

[2016-02-11 14:42] jdubois commented on #2282
I've looked at your code @erikkemperman and it looks quite good to me:

- Yes there is [this side effect](https://github.com/erikkemperman/generator-jhipster/commit/2f6d7877b5be797e3769336fabaab47a522bee68#commitcomment-15879533) but I'm not sure of the impact
- For the servlet filter: in fact you use the current filter, you just widen the way it is being used to include the source map

[2016-02-11 16:12] erikkemperman commented on #2282
@jdubois
Thanks!

That side-effect means the browser will not only get the minified CSS but also the entire map file, regardless of whether or not the brower's debug panel is open. Not good...

I haven't been able to figure out where this quirk is originating. But rather than spend a lot of time tracking it down, I figured it might be better spent moving forward to a setup with `gulp-inject` and f

[2016-02-11 16:12] deepu105 commented on #1995
So can we do it?
On 11 Feb 2016 22:07, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-11 16:17] deepu105 commented on #2282
Yes download of that map file for all is not a good thing, i would rather
have current sourcemap behaviour with mangle disabled. If you can get the
gulp-inject to work that would be a better solution i guess.
On 12 Feb 2016 00:12, "Erik Kemperman" <notifications@github.com> wrote:

[2016-02-11 16:25] erikkemperman commented on #2282
Agreed, that's why I haven't submitted this as a PR... Unfortunately I am kind of busy with other stuff now. Stay tuned :-)

[2016-02-11 17:20] notflorian opened #2860 "Broken links in Contribute.md"
* **Overview of the issue**

After the move in #2784, the _Entity and field_validators.ejs links in Contribute.md, Template Guidelines, are now broken.

* **JHipster Version(s)**

3.0 master branch

* **Browsers and Operating System**

Chrome 47 / Centos 6

* **Reproduce the error**

Go to https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md and click on the _Entity and field

[2016-02-11 19:55] erikkemperman opened #2862 "Alphabetical dependencies"
Would it make sense to ensure that the generator produces dependencies in `bower.json` and `package.json` in alphabetical order?

Currently the first commit after a `bower install --save` or `npm install --save(-dev)` gets kind of ugly, because those tools re-order these files.

A little bit of a hassle to review, I guess, but for what it's worth, it might look something like [this](https://github

[2016-02-11 20:07] andidev commented on #2862
Isn't there a way to set indentation level for Bower somehow? I think I have seen it somewhere.

[2016-02-11 20:07] #2860 closed

[2016-02-11 20:09] mraible commented on #2862
It's in .editorconfig.
On Thu, Feb 11, 2016 at 13:07 Anders Steiner <notifications@github.com>
wrote:

[2016-02-11 20:15] erikkemperman commented on #2862
Well, then perhaps either change `.editorconfig` to 4 for bower, or change the template `_bower.json` to have indent 2?

[2016-02-11 20:17] andidev commented on #2862
Two spaces has been discussed already #634

Does Bower look for editorconfig?

[2016-02-11 20:27] erikkemperman commented on #2862
Updated my [branch](https://github.com/erikkemperman/generator-jhipster/tree/feature-alphabetical) to make `_bower.json` have indent of 2 spaces.

[2016-02-11 20:42] andidev commented on #2862
Sorry maybe I was not clear enough. Two spaces has been discussed in #634 and rejected. JHipster uses 4 spaces everywhere else.
There seems to be an open issue in the bower rep https://github.com/bower/bower/issues/1338 about this.

[2016-02-11 20:48] erikkemperman commented on #2862
Ah, I see. Well, the editorconfig currently has 2 for both package and bower, the template `_package.json` has indent 2 and `_bower.json` is 4. So... Not sure how to make this consistent, or indeed if anyone else considers this a (tiny) annoyance...

[2016-02-11 21:28] erikkemperman commented on #634
So it looks like @jdubois [changed](https://github.com/jhipster/generator-jhipster/commit/eaf722ee34053b4a15416d34649a79c4f52c6397) `bower.json` to indent 2 at one point, but current master has it at 4.

Whether or not bower respects editorconfig, currently the first commit after `bower install --save` changes basically all of `bower.json` (to 2 space indent).

[2016-02-11 21:28] erikkemperman commented on #634
Sorry posted this in wrong thread!

[2016-02-11 21:29] erikkemperman commented on #2862
So it looks like @jdubois [changed](https://github.com/jhipster/generator-jhipster/commit/eaf722ee34053b4a15416d34649a79c4f52c6397) `bower.json` to indent 2 at one point, but current master has it at 4.

Whether or not bower respects editorconfig, currently the first commit after `bower install --save` changes basically all of `bower.json` (to 2 space indent).

[2016-02-11 22:12] andidev commented on #2862
@erikkemperman
You seem to be right. The commit you are mentioning is actually the commit closing the issue. Sorry my bad!

[2016-02-11 22:20] andidev commented on #2862
Wow now it gets even worse for me! I'm the guilty one for the four spaces change :scream:

[2016-02-11 22:22] andidev commented on #2862
@erikkemperman
Could you please open a PR with your changes?

[2016-02-11 23:29] pascalgrimaud commented on #2857
good eyes :eyes:

[2016-02-11 23:50] #2857 closed

[2016-02-11 23:52] pascalgrimaud commented on #2754
Finally, it seems to work correctly now!
Thanks Julien !

Next release v3.0.0, I will have a closed look to Docker Hub

[2016-02-11 23:52] #2754 closed

[2016-02-12 01:20] thiagogcm commented on #2857
just one more thing.

gulp has a new cli package now
https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md

[2016-02-12 05:37] andidev commented on #2840
I'll have a look at it.

Just one question first, you wrote :

[code]
Is `mmm` a typo? Did you mean `www`?

[2016-02-12 05:59] #2830 closed

[2016-02-12 06:00] deepu105 commented on #2811
@jdubois do you need help on this?

[2016-02-12 06:16] erikkemperman commented on #2862
@andidev Done!

[2016-02-12 06:17] jdubois commented on #2811
Yes please. I don't have enough time... @PierreBesson should also work on
it but I don't know if he started
Le 12 févr. 2016 7:01 AM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-02-12 07:51] erikkemperman commented on #2862
Closing, PR merged.

[2016-02-12 07:51] #2862 closed

[2016-02-12 08:05] tkeil opened #2865 "Link for Module Webservice not correct"
The Homepage (github link) on the jhipster website (http://jhipster.github.io/modules/marketplace/#/list) is pointing to https://github.com/hipster-labs/generator-jhipster-entity-audit.

[2016-02-12 08:11] cbornet opened #2866 "Use YAML format for Liquibase"
It seems Liquibase supports yaml format. Shouldn't we use it instead of XML as it's much more hype and user friendly ?

[2016-02-12 08:15] deepu105 commented on #2865
That module is still work in progress. May be i should blacklist it for now

[2016-02-12 08:15] #2865 closed

[2016-02-12 08:28] jdubois commented on #2866
Yes I put XML on purpose as there is a schema, so we have auto-completion and documentation. We would lose this with Yaml.

[2016-02-12 09:26] cbornet commented on #2866
OK, it makes sense

[2016-02-12 09:26] #2866 closed

[2016-02-12 09:41] astik commented on #901
+1 for supporting embedded documents and dbref in MongoDB =)

[2016-02-12 09:42] jdubois commented on #1995
I need to have a look at Zuul filters -> I will do one on rate limiting, do you want to do one on user authentication and roles management?
Besides, I'm not sure those should be generated -> we would need to have our own lib, probably

[2016-02-12 10:21] deepu105 commented on #1995
Im not very familiar with zul, ill try to take a look and understand. What
about monolithic app it would need a solution as well.
On 12 Feb 2016 17:42, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-12 12:39] jdubois commented on #1995
Still, should this be generated or not? I'm thinking and more and more we should have our own libraries, where we store all those things instead of generating them. That should make our backend code much lighter, and also limit our maintenance work

[2016-02-12 12:52] mraible commented on #1995
I made a similar change in AppFuse a few years ago. Instead of generating all the code for users, and allowing them to own everything, I moved to a model where most dependencies were downloaded. The result was somewhat of a backlash. Users were used to having full-control over their projects and I had to add support for a "full-source" option where the dependencies could be converted to source cod

[2016-02-12 12:54] gmarziou commented on #2832
So I've wxritten a little scriot that uses slug

[code]

Below are some results.
I think slug is really robust and would work for our use case.
If you agree, I'll submit a PR.

[code]

[2016-02-12 14:07] kumaresanperumal5666 commented on #1064
thanks

[2016-02-12 15:50] deepu105 commented on #1995
I also have Matt's point of view on this. I mean security and role
management atleast would be customised a lot by people and one of the
strength for Jhipster is providing full control to users.

I mean if there is something which we are very sure that will never need a
change or customisations we can make it a lib but otherwise it would be
better to generate it.

Role management should definitely

[2016-02-12 15:53] deepu105 commented on #2832
But we can do regex replace easily as its folder names and on linux, osx
and windows there are fixed rules on folder name pattern so cant we just do
a regex replace rather than addition of a new dependency?
On 12 Feb 2016 20:54, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-12 16:01] cbornet commented on #2832
Simply _.underscored() ?

[2016-02-12 17:05] gmarziou commented on #2832
Slug does much more than a regex can do especially for non English characters like the Eszett

[code]

[2016-02-12 19:59] andidev opened #2867 "Generating an entity with relationship to the User entity and with mapstruct option fails"
The new relationship tests in the travis build (PR #2856) has revealed that generating an entity with a relation to the User entity with mapstruct option results in uncompilable code. The UserMapper.java seems to be missing.

The error got when running mvn install is the following
[code]

See Travis ci build for more details
https://travis-ci.org/jhipster/generator-jhipster/jobs/108714652#L2574

T

[2016-02-12 20:08] gmarziou opened #2868 "Application class should be named according to app name"
With micro services applications being introduced in JHipster 3.0, it will be quite common to have several JHipster applications running at same time in your IDE in its own tab, as each tab is named according to the main class it means that all tabs will be named Application.

I propose to rename Application.java according to app base name.

At least, it should be done for Gateway.

I can do it if

[2016-02-13 01:13] erikkemperman opened #2869 "Request comment: webapp directory layout"
There has been some [discussion](https://github.com/jhipster/generator-jhipster/issues/2282) about sourcemaps, digressing into the size of the war, and wondering if, now that grunt was dropped, it might make sense to use `gulp-inject` instead of `wiredep` and `usemin`.

The more I think about it, the more I feel this might all be a lot more straightforward if the directory layout were a little dif

[2016-02-13 02:52] ontargetrepo opened #2870 "Deploying to tomcat webapp gave Path index.html does not start with a "/" character"
steps to recreate:
1. mvn clean package -Pprod
2. copied <warname>.war.original to tomcat8/webapps/<warname>.war
3. java 1.8.0_60 used
4. tomcat 8 used
5. when <hostname>:8080/<context_name>  throws that error but if i put "/" at the end gives  just the footer line with lots of console exception in browser as below

Failed to load resource: the server responded with a status of 404 (Not Found)
htt

[2016-02-13 02:52] ontargetrepo commented on #2870
any help is appreciated

[2016-02-13 03:25] deepu105 commented on #2832
Yes I do agree that slug is very powerful and feature rich my only point is
for app name do we have to consider all these? Given user can always type
what they want even if folder name is not recognised  and we can recognise
most of the popular folder name format by tweaking current regex. But if
you feel that those kind of folder names are common then plz go ahead
On 13 Feb 2016 01:05, "Gaël Marz

[2016-02-13 03:41] deepu105 commented on #2869
That seems interesting, can you layout the directory structure you have in
mind?  If it improves things then definitely we can consider as we are
breaking things with this build anyway

Say :

src
    |__webapp
        |__so on
On 13 Feb 2016 09:13, "Erik Kemperman" <notifications@github.com> wrote:

[2016-02-13 03:56] #2657 closed

[2016-02-13 08:22] erikkemperman commented on #2869
Good idea, should have done that in the first place. I am thinking something like this:

[code]

The build would basically copy/preprocess stuff from `websrc` to `webapp/dev`, and on top of that minify, concatenate and so on into `webapp`. Obviously these new names are to be determined, but you get the idea I hope.

[2016-02-13 08:51] deepu105 commented on #2869
Thats Interesting. Lets see what other have to say
@jhipster/developers

[2016-02-13 08:53] deepu105 commented on #2867
@andidev could these be related?  https://github.com/jhipster/generator-jhipster/issues/2006

[2016-02-13 08:55] deepu105 commented on #2811
@PierreBesson are you working on this?

[2016-02-13 09:20] andidev commented on #2867
I'm not familiar with mapstruct so I could not tell. Maybe I'll try to learn it and investigate it closer.

[2016-02-13 11:59] andidev commented on #2840
Okey so I can confirm this as a bug. I just reporduced it.

[2016-02-13 12:25] andidev commented on #2869
I agree that the current solution where Wiredep, ngconstants and sass overwrites the source files. I think this sounds like a good improvement! How is all the other generators doing it (e.g. angular fullstack), anyone with insight?

[2016-02-13 12:26] deepu105 commented on #2869
@erikkemperman the only problem is its gonna be a hell lot of refactor on the same scale as what I did for the app folder restructure and thats a lot of work

[2016-02-13 12:37] erikkemperman commented on #2869
Well from playing around with this it actually seems worse than it is. Mostly the gulpfile will change, but then that's what I started looking at (use gulp-inject instead of wiredep/usemin). Much of the rest is search/replace.

I'm certainly encouraged to continue experimenting, sounds so far like you guys at least don't think the idea is entirely mad :-)

I would be interested to learn how other

[2016-02-13 12:55] ddewaele opened #2872 "jHipster fails on Java 8 javadoc compliance"
I noticed when performing a maven release that the javadoc written in jHipster is not Java8 compliant.

Some errors encountered :

- error: self-closing element not allowed
- error: unexpected end tag: </p>
- error: end tag missing: </a>
- error: bad use of '>'

Some options :

- Fix all javadocs
- Skip javadoc generator in the pom.xml

[2016-02-13 12:55] cata86 commented on #2870
if you want to deploy the webapp at the tomcat root level you have a couple of options:

Remove the out-of-the-box ROOT/ directory from tomcat and rename your war file to ROOT.war before deploying it.

Deploy your war as (from your example) war_name.war and configure the context root in conf/server.xml to use your war file :

<Context path="" docBase="war_name" debug="0" reloadable="true"></Contex

[2016-02-13 13:26] gmarziou commented on #2870
@ontargetrepo This not a jhipster issue, it should have been asked on stackoverflow so closing it.
Thanks @cata86 for having answered.

[2016-02-13 13:26] #2870 closed

[2016-02-13 14:02] gmarziou commented on #2869
It means also that you would have to change `StaticResourcesProductionFilter`.

If we were strictly following maven conventions, production files should not be generated under `src/main/webapp` but under `target/xxx` but it is probably harder.

[2016-02-13 14:32] erikkemperman commented on #2869
True, but I figured out how to do that already. Not too hard. And actually it seems to me that it would become slightly better -- rather than do a little extra work for each request in production, as it does now, this filter would do instead a little extra work for each request in developent. I guess the classname might have to change to `StaticResourcesDevelopmentFilter` :-)

[2016-02-13 14:56] jdubois commented on #2869
Agreed, it also looks more logical that we have the "normal" folder for production, and something specific for development.
Anyway, the best comment I've seen here is how do the other generators handle this? We are certainly not the first ones with this issue, and people from Angular Fullstack (typically) are much better than us for this.

[2016-02-13 15:00] jdubois commented on #2872
Indeed, this is something we overlook too often.
Now should we follow Javadoc? I've seen people using stuff like Asciidoc instead, and that makes the comments more readable (I don't think anybody really generates the javadoc).
I'm a bit afraid to use something most people won't know about (this is bad for our new users). But in the end I think it makes the code much clearer.

[2016-02-13 15:02] jdubois commented on #1995
OK, I'm trusting your experience there guys!
Le 12 févr. 2016 4:50 PM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-02-13 15:04] jdubois commented on #2868
Interesting idea !!!!! At least we could put something meaningful instead of just "Application". Anybody against this?

[2016-02-13 15:11] jdubois commented on #2867
Yes it looks related. I've been working on the older one yesterday (as part of my daily routine of trying to remove old bugs), and it's indeed a bit tricky. The solution to have a specific user mapper should be good, but I don't have the time right now to test this.

[2016-02-13 15:20] #2840 closed

[2016-02-13 15:41] erikkemperman commented on #2869
I'm not too familiar with Angular Fullstack, but it looks like it uses grunt. It is my impression that the wiredep/usemin setup is the traditional approach there, but it seems to be a slightly awkward fit for a streaming build system like gulp.

Or more precisely, I guess, is that the corresponding gulp plugins, especially gulp-usemin, suffers from slightly lax maintainance (no offence to its auth

[2016-02-13 15:54] ddewaele commented on #2872
I'm not a big fan of javadoc, but I can understand people wanting to use it. Also hearing a lot of good things about Asciidoc, but I understand it might not fit 100% in the jHipster philosophy. (using as much standard stuff as possible).

I'm more concerned with the fact that an out-of-the box jHipster experience fails when executing a maven release. (that does generate javadocs)

I'm currently ju

[2016-02-13 16:04] erikkemperman commented on #2872
For what it's worth, I believe this is particularly annoying with Jenkins, which explicitly has to be configured to not fail on javadoc.

The problem is  that the jdk8 tools suddenly strictly validate the html output from javadoc, they were lenient before; the snippet @ddewaele posted above is apparently the de-facto workaround for this in Maven builds.

[2016-02-13 16:08] hirro commented on #2872
I can use the maven release plugin on jhipster project with the following
option set:

<maven.javadoc.failOnError>false</maven.javadoc.failOnError>

2016-02-13 17:04 GMT+01:00 Erik Kemperman <notifications@github.com>:

[2016-02-13 16:14] erikkemperman commented on #2872
Or just set that property on the maven-javadoc plugin. Either way, that's definitely better than skipping javadoc entirely. The issue with Jenkins is just that it does `mvn javadoc` by default.

[2016-02-13 16:17] jdubois commented on #2872
OK, let's correct the Javadoc errors first: this is simple, and we indeed
want to generate something standard and without any issues.
Le 13 févr. 2016 5:14 PM, "Erik Kemperman" <notifications@github.com> a
écrit :

[2016-02-13 16:29] erikkemperman commented on #2872
That would be ideal, then there'd be no need to supress errors or skip -- but a big and tedious chore.

[2016-02-13 17:09] ddewaele commented on #1966
@gmarziou : Just noticed we were having the same issue. (I assume after we introduced a Language entity). Is the reserved word check only applied in interactive mode ? (I just copied our .jhipster/*.json files over to a new jhipster 2.77 installation and it didn't complain about the Language entity when I recreated the entities.

[2016-02-13 18:00] deepu105 commented on #2868
+1 for app name
On 13 Feb 2016 23:04, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-13 18:03] deepu105 commented on #2869
Gradle doesnt follow the target directory, but im not sure it its possible
to tweak that @atomfrede your view on this plz
On 13 Feb 2016 23:41, "Erik Kemperman" <notifications@github.com> wrote:

[2016-02-13 18:10] deepu105 commented on #1966
There is no more jhipster reserved words on the current master so this shouldn't be an issue on 3.0

[2016-02-13 21:14] pascalgrimaud commented on #2868
+1 for app name too

[2016-02-13 22:01] gmarziou commented on #2868
OK I was thinking of using same name as the angular module for the app but with first letter capitalized: sampletokenApp -> SampletokenApp.java

[2016-02-14 04:12] deepu105 commented on #2868
Sounds good
On 14 Feb 2016 06:02, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-14 06:41] deepu105 commented on #2869
I looked at few generators and none of them offers complicated production config and dev config like we do so we may have to come up with something here

@erikkemperman if we do this restructure what are the benefits that we are looking at other than having sourcemaps (with mangling or without mangling?)
btw @erikkemperman they have gulp as well [here](https://github.com/angular-fullstack/generato