[2021-02-14 08:18] pascalgrimaud commented on #13947
useSass is deprecated since long time, so it needed to be deleted

[2021-02-14 09:30] #13947 closed

[2021-02-14 10:23] deepu105 commented on #13901
The only reason I could think of for doing this is if you have a
microservice with no DB and call some other service to persist data but as
Pascal mentioned the added complexity doesn't justify the value IMO as well

On Sat, 13 Feb 2021, 9:54 pm Pascal Grimaud, <notifications@github.com>
wrote:

[2021-02-14 10:24] deepu105 commented on #13901
What if only the restriction is removed and no templates are modified to
remove DB related annotations and stuff?

On Sun, 14 Feb 2021, 11:23 am Deepu K Sasidharan, <d4udts@gmail.com> wrote:

[2021-02-14 13:54] gmarziou commented on #13901
Do you mean generating only REST controllers and DTOs unchanged and then modify services so that they call repositories? It looks almost like openapi generator to me.

[2021-02-14 14:20] glutengo commented on #4251
I have decided to work on this topic in my master thesis. I will focus on an integration in the nhipster / NodeJS based approach (https://github.com/jhipster/generator-jhipster-nodejs) but the conceptual parts and the frontend implementation should be reusable in the Java / Spring based setup too. I will start my work in April or May this year. Feel free to contact me anytime before that so we can

[2021-02-14 14:47] atomfrede commented on #4251
@glutengo Sounds cool. Maybe for the boot/java part netflix's DSG framework might be worth a look. https://netflix.github.io/dgs/

[2021-02-14 19:08] atomfrede commented on #13854
Closed by https://github.com/jhipster/generator-jhipster/pull/13859

[2021-02-14 19:08] #13854 closed

[2021-02-14 19:37] #13890 closed

[2021-02-14 20:57] atomfrede opened #13954 "Use main as initial branch name for generated application"
##### **Overview of the feature request**

Should we use `main` for the branch name of the generated application or stick with `master` (or more precise the global setting of the user)?

##### **Motivation for or Use Case**

Would be good to have this change for 7.x as at least I would consider it "breaking".

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-02-15 06:34] #13857 closed

[2021-02-15 07:19] MathieuAA commented on #13278
Too bad I'm only seeing this now but having an option is a semantically bad idea: it would mean that every PK should be of type <INSERT_VALUE_HERE>. What can easily be done is:
  - not filter out `id` fields (like `id`, `thingId`, or `idThing`),
  - accept the passed type as the PK type,
  - have an attribute in the dumped JSON such as `primaryKey`: "<FIELD_NAME>"

Of course, that would mean all t

[2021-02-15 09:51] mshima commented on #13278
@MathieuAA thats exactly what have been done.
The missing part is the User:
- First option:
[code]
  - Requires to don’t filter User entity for non skipUserManagement.
  - Requires the user to override the default id  for every entity

 - Second option:
[code]
  - Ugglier
  - The id have a implicit customized type.

We should decide the approach to take for it.

[2021-02-15 11:18] Ebraheem-Alrabeea opened #13973 "Error while parsing applications and entities from the JDL TypeError: Cannot read property 'setOptions' of undefined"
##### **Overview of the issue**

It is appear after trying to generate the application from JDL file.

TypeError: Cannot read property 'setOptions' of undefined
Error while parsing applications and entities from the JDL TypeError: Cannot read property 'setOptions' of undefined
TypeError: Cannot read property 'setOptions' of undefined
    at /usr/local/lib/node_modules/generator-jhipster/node_modul

[2021-02-15 12:35] MathieuAA commented on #13278
This can be convention instead of a verbose configuration BTW: if such an entity exists, the option is automatically set (with a log informing the user).

Not necessarily: if a field looking like `id` is found, not just for the `User` entity, then this can be set locally to an entity. The default being what JHipster advocates and uses.

same

[2021-02-15 12:37] MathieuAA commented on #13973
Hello there, can you provide the JDL file? So that it's easier for us to reproduce and hopefully fix any issue.
Thanks

[2021-02-15 12:50] atomfrede commented on #13835
Can you provide some more information? e.g. which options you used and if you have made some modifications to the generated code/

[2021-02-15 13:09] pascalgrimaud commented on #13835
@atomfrede : I already saw these warnings. It's easy to reproduce, just use `jhipster --defaults` and start the application

Here the configuration:

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "baseName": "jhipster",
    "buildTool": "

[2021-02-15 13:18] Ebraheem-Alrabeea commented on #13973
I don't know why, but the code is generated successfully after updating npm to latest and deleting jhipster global library and install it again.

[2021-02-15 13:18] #13973 closed

[2021-02-15 13:44] mshima commented on #13278
I mean if the application wants to use a custom type for the entire application.

[2021-02-15 13:45] xinatcg commented on #13835
yes, exactly same with @pascalgrimaud.

[2021-02-15 13:51] pascalgrimaud commented on #13954
It's already done for JHipster Online I think.
Anyway, for local project, it depends on the git configuration of our users. Not sure we should force it, as the `git init` is not related to JHipster.

The user needs to do this: `git config --global init.defaultBranch main`

Unless what you propose is:
- `git init`
- if the branch is master, we'll use: `git branch -m main`

[2021-02-15 20:56] atomfrede commented on #13862
I can't reproduce it (maybe I am doing something wrong). This is what I have with current main branch:

![Screenshot-20210215214556-1880x578](https://user-images.githubusercontent.com/203401/107991612-4ae36380-6fd7-11eb-998c-0482b1bf1521.png)

Nevertheless e2e tests are failing, but it looks like a timing error in protractor while crud flow for `Post`s.

[code]

Did the following:

[code]

[2021-02-15 21:15] slade13 commented on #13862
I pulled current main but still the same issue after visiting http://localhost:8080/:
[code]
I am using Windows, I found out that after reverting changes in commit 525b1b223b327399c907d501d8faa06f05f2a344 everything just works fine. I tried to upgrade **webpack** from v4 to v5 and I received the same problem as a result.

Can you check if you can run **gateway** in production mode?

`gradlew -Ppro

[2021-02-15 21:16] atomfrede commented on #13862
I am not running in production mode. will check.

[2021-02-15 21:33] atomfrede commented on #13862
Running the gateway in production works just fine with all protractor tests being green. I am using node `14.15.4` and npm `7.5.2`.

[2021-02-15 21:34] atomfrede opened #13974 "Deprecation warning when using vue"
##### **Overview of the issue**

When using vue you can see following deprecation warning in the browser console:

`[vue-router] <router-link>'s tag prop is deprecated and has been removed in Vue Router 4. Use the v-slot API to remove this warning: https://next.router.vuejs.org/guide/migration/#removal-of-event-and-tag-props-in-router-link.`

##### **Motivation for or Use Case**

This looks bad to

[2021-02-15 21:37] atomfrede commented on #13954
I think we are on the same track. If the default branch is not `main` but something else than `master` (e.g. `develop` whatever) we should not overwrite/overrule the user's setting here. If it's master we could just use `main` instead either by providing the parameter to `git init` or creating the branch as you proposed.
Not sure if it is worth the effort.

[2021-02-16 00:57] SudharakaP commented on #13954
Yes, jhipster-online already do that, and when I was adding that I had this exact thought.

https://github.com/jhipster/jhipster-online/blob/10fadd33cc4a6597502480ed16ae1fb0db7d5041/src/main/java/io/github/jhipster/online/service/GitService.java#L74-L76

Also in the future Git will change their default branch to something other than main as stated here; https://sfconservancy.org/news/2020/jun/23/g

[2021-02-16 01:32] mraible commented on #13461
🌴

[2021-02-16 04:34] RishabhTayal opened #13977 "Not able to use TextBlob with MS SQL Server"
##### **Overview of the issue**

I am using MS SQL Server as a database with my Jhipster generated project. There seems to be an issue with using Blob of type CLOB (Text Field) when generating the field for the entity. Adding the code from my json file and the exception I am getting when the liquibase migration is being run. Please note: When I change the field type from CLOB to String, everything

[2021-02-16 06:16] atomfrede commented on #13954
If there will be something coming to git core let's close this.

[2021-02-16 07:38] #13954 closed

[2021-02-16 07:42] MathieuAA commented on #13278
Oh okay. It makes sense

[2021-02-16 08:16] atomfrede commented on #13715
Closed by https://github.com/jhipster/generator-jhipster/pull/13836

[2021-02-16 08:16] #13715 closed

[2021-02-16 10:28] avdev4j commented on #13901
It's only about that, we actually building all the layers for a given entity. It could be used with openapi generator but it will not replace it. OpenApi is cool if you have the OpenApi definition file.
In this case we would use the OpenApi and the entities to aggregate multiple calls into one business object and so one exposed API (BFF).
Example:
Api A
Api B
JHipster app calls A
JHipster app call

[2021-02-16 10:49] pascalgrimaud commented on #13901
IMO, the complexity will be (about the entities without database) to manage:
- MapStruct: it is mandatory, right ? (as there will be DTO and no Entities)
- service / serviceImpl : mandatory ?
- what about filtering option ?
- what about the Pagination, which required Page from Spring Data: no pagination?
- JDL, there will be a lot of new rules to forbid some configuration (see list above)
- don't

[2021-02-16 10:54] pascalgrimaud commented on #13901
A last thing, you can have a look at the statistics: https://start.jhipster.tech/statistics
For database with "none/other", the result is 0.03% the last year, 0.09% the last month.

[2021-02-16 11:09] avdev4j commented on #13901
@pascalgrimaud
I agree, all the complexity will come more from all the things around the templates than the templates themselves (the entity part is well structured IMO).

I trust you about the Domain object in a Hexagonal POV and I'm pretty sure we are talking the same thing for the final usage.
My first idea was that we do not benefit from all the power of the JDL generation at the moment.
So, w

[2021-02-16 11:11] avdev4j commented on #13901
I'm closing this one since this should not be worth and can be done during the next main JHipster version.

Thanks mates

[2021-02-16 11:11] #13901 closed

[2021-02-16 15:32] krystalmonolith commented on #13835
1. Same issue here, simple monolith with MongoDB.
2. AFAIK it only occurs when running in 'dev' profile. 'prod' profile run with docker-compose does not log errors.
3. Located this message being generated by [springfox](https://github.com/springfox/springfox) at  [ ModelSpecificationBuilder.java line #246)](https://github.com/springfox/springfox/blob/master/springfox-core/src/main/java/springfox/d

[2021-02-16 15:44] mshima commented on #13862
I was looking at https://github.com/jhipster/generator-jhipster/pull/13969 failure and I've found a webpack.common conflict with webpack.prod.
The error occurs when running production profile.

Seems to be related to this bug.

[2021-02-16 16:26] mshima commented on #13833
Entity generator prepares its own entity for templates.
When having relationships, all the entities must be prepared for templates.
The only solution I can think of is to skip writing and postWriting, to the entities are prepared, but files aren't touched.
The PR also allows `jhipster entities Foo Bar`, so all passed entities files will be regenerated.

[2021-02-16 17:53] mshima commented on #13862
@slade13 HashedModuleIdsPlugin was removed at https://github.com/jhipster/generator-jhipster/commit/525b1b223b327399c907d501d8faa06f05f2a344.
We are not supporting `beta.1`
See: `HashedModuleIdsPlugin → optimization.moduleIds: 'deterministic'`.

[2021-02-16 20:27] GoyheixEurystic opened #13989 "OneToMany id bug in react entity validation form"
##### **Overview of the issue**

Default name in AvInput of OneToMany relationship causes wrong object serialization.
I think it happens only in OneToMany relationships with required in the Many side.
![image](https://user-images.githubusercontent.com/63688855/108116548-82efb280-707a-11eb-8d1d-9436a8dc3517.png)
![image](https://user-images.githubusercontent.com/63688855/108116609-9733af80-707a-11e

[2021-02-16 21:30] mshima commented on #13862
https://github.com/jhipster/generator-jhipster/pull/13969 is not related to this issue.
So let's clarify, there are a few issues reported here:

1. Original bug report: `reactive-ms` sample fails to load user relationships.
I could not reproduce. I could reproduce when restarting the gateway server. The page loads, but the api fails due to expired token, so user list is empty.
The right approach w

[2021-02-17 01:32] mshima commented on #13278
@MathieuAA I will let you do the jdl part the generator part is at https://github.com/jhipster/generator-jhipster/pull/13990.

User definition must be exported when present in the jdl.
Should not be exported when added for relationships:
https://github.com/jhipster/generator-jhipster/blob/0c513bf224bb516180ef2086dd3ce9855a77b772/jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-conv

[2021-02-17 07:14] MathieuAA commented on #13278
@mshima roger that, I'll look into it later today.

[2021-02-17 11:14] wharleyinc commented on #13746
I was trying to push my codes to heroku (first push), and I got the "Invalid tag name "extension 'node' property 'npmVersion'": error, using jhipster heroku.

How I resolved;
1. Removed package.json from C:\Users\CURRENT USER\AppData\Local\heroku
2. Updated heroku cli by downloading latest version
3. Manually fixed my build.gradle by removing  npmVersion = "${npmVersion}". (thanks to @atomfrede )

[2021-02-17 17:16] MathieuAA commented on #13278
So... name, fields, relationships and options (annotation = options). Which means pretty much everything right? :)

[2021-02-17 18:46] mshima commented on #13278
DTO, filter, entityTableName, everything else in the root of the definition should be omitted.
Right now it would be ignored, but we could just use it as start point of the User entity.

Eg:
- entityTableName should be prefixed with `jhi_`.
- DTO is somewhat always true.
- There is no difference for filter value.
The safe implementation is to omit.

[2021-02-17 18:48] MathieuAA commented on #13278
I'm gonna try something.

[2021-02-17 20:09] slade13 commented on #13862
@mshima do you use Windows or Linux/MacOS? I need this to see if the problem is only on my machine before I will create new issue.

[2021-02-18 08:02] nickshoe opened #13994 "Use "hasRole" instead of "hasAuthority" in SecurityConfiguration?"
##### **Overview of the feature request**

I'm trying to understand the security model of spring-security, in particular I was looking for a clarification over the concepts of *authority* and *role*.

In [this article](https://www.baeldung.com/spring-security-granted-authority-vs-role) I've found the following explanation:

Since the generated project is not restricting resources in a fine-grained

[2021-02-18 08:44] Asconius opened #13995 "OpenAPI modelPackage"
##### **Overview of the issue**

By default, the OpenAPI model (DTOs) is generated in the * .web.api.model package. The ArchTest checks that the services do not use any classes from the web package. It is therefore not possible for service methods to receive and return model classes.

##### **Motivation for or Use Case**

Services should be allowed to use the OpenAPI model

##### **Reproduce the e

[2021-02-18 10:32] murdos commented on #13471
Keep open, I'll take a look

[2021-02-18 11:43] mshima commented on #13862
@slade13 MacOS.

[2021-02-18 13:35] slade13 opened #13996 "Running reactive-ms fails on Windows after migration to webpack V5"
##### **Overview of the issue**

After running `jhipster jdl reactive-ms` there is a problem with an access to the gateway on http://localhost:8080/ :

![image](https://user-images.githubusercontent.com/7571921/108360051-fe737000-71f0-11eb-87bc-79ae87d4f1f8.png)

logs:
[code]
Each time I visit the page the `[oundedElastic-1] o.z.problem.spring.common.AdviceTraits   : Not Found: 404 NOT_FOUND` is p

[2021-02-18 14:22] atomfrede commented on #13531
Keep it open please.

[2021-02-18 17:25] RoshanGerard commented on #1361
You have to shutdown the hazelcast instances prior to servlet context destroyed

public class HazelCastContextListener  implements ServletContextListener {

    public void contextInitialized(ServletContextEvent servletContextEvent) { }

	public void contextDestroyed(ServletContextEvent servletContextEvent) {
	   myHazelcastInstance.getLifecycleService().shutdown();
	}
}

define this listener in w

[2021-02-18 17:30] RoshanGerard commented on #1361
You have to shutdown the hazelcast instances prior to servlet context destroyed

public class HazelCastContextListener  implements ServletContextListener {

	@Override
	public void contextInitialized(ServletContextEvent servletContextEvent) { }

	@Override
	public void contextDestroyed(ServletContextEvent servletContextEvent) {
		myHazelcastInstance.getLifecycleService().shutdown();
	}
}

<listene

[2021-02-19 11:01] PierreBesson commented on #13940
Their new license doesn't make any sense to me (https://github.com/typicode/husky/blob/main/LICENSE-PARITY) with very vague language. Open source software licensing is a complex topic. It is definitely not acceptable to ship this with JHipster, I think we might have to create a project policy to only depend on permissive licenses dependencies.
Also it looks like they might have relicensed contribu

[2021-02-19 14:00] olgunkaya opened #14009 "ReactUI : Unnecessary Entities Request Generated towards BE"
##### **Overview of the issue**

createEntity method generated via entity.reducer template includes another dispatch to fetch all entities aka getEntities. But considering the nature of the create entity and the flow of app the dispatch to getEntities should be avoided or be enhanced.

##### **Motivation for or Use Case**

##### **Reproduce the error**

1. Generate an app including React UI.
2. Go

[2021-02-19 16:54] ruddell commented on #13977
Can you give more information on what database you are using?  JHipster works out-of-the-box when using the `src/main/docker/mssql.yml` container for MSSQL.  Tested both v6 and v7-beta which uses the following versions:

- V6: `mcr.microsoft.com/mssql/server:2017-latest-ubuntu`.
- V7: `mcr.microsoft.com/mssql/server:2019-CU8-ubuntu-16.04`.

[2021-02-19 20:58] pascalgrimaud commented on #13944
Increasing the bounty as it needed to be fixed, otherwise, there can't be a new release

[2021-02-19 21:09] pascalgrimaud commented on #13996
Can you post your information with `jhipster info` plz? So we'll know your node, npm version etc

It's to compare with our daily builds for Windows: https://github.com/hipster-labs/jhipster-daily-builds/actions/runs/580874212

[2021-02-19 22:49] slade13 commented on #13996
Sure, here is the full output:
[code]
gateway@0.0.0 C:\Users\mateu\OneDrive\Documents\work\jhipster-contribution\reproduce#13862_newV\gateway
`-- generator-jhipster@7.0.0-beta.1

[code]

[2021-02-20 06:56] #13944 closed

[2021-02-20 07:01] pascalgrimaud commented on #14009
@olgunkaya : can you try the 7.0.0-beta.1 version or better, use the main branch ?
There are so much improvements since 6.10.5, so I think it's already fixed, but I'm not sure as I don't use React for my own projects

[2021-02-20 07:04] pascalgrimaud commented on #13995
can you have a look on this ticket plz @ecostanzi as you're our expert on this part

[2021-02-20 07:09] pascalgrimaud commented on #13650
keep it opened, as the documentation is important

[2021-02-20 08:16] atomfrede commented on #13995
Should we allow to use generated web(layer) classes inside the service layer? Shouldn't we have proper dto mapping in place?

[2021-02-20 09:30] ecostanzi commented on #13995
IMHO it would be hard to strip the DTO imports from the service layer without adding another mapping layer between web and the persistence layer. In my experience being able to manipulate DTOs in the service layer is a good compromise.

I would generate the openAPI DTOs in:
`<modelPackage>*.service.api.dto</modelPackage>`

[2021-02-20 09:51] pascalgrimaud commented on #13855
I'm reopening this, as there are still some work before finishing it

[2021-02-20 12:01] olgunkaya commented on #14009
Hi @pascalgrimaud,

I think my version is the latest stable version (with all my respect I prefer not to go with beta)
https://github.com/jhipster/generator-jhipster/tags

Plus I checked on the main branch and see below section for the generation template.

https://github.com/jhipster/generator-jhipster/blob/main/generators/entity-client/templates/react/src/main/webapp/app/entities/entity.reducer.

[2021-02-20 12:09] olgunkaya commented on #14009
Fixed in https://github.com/jhipster/generator-jhipster/commit/54659d9349f00066edf621e269b46652214f3c7b

[2021-02-20 12:09] #14009 closed

[2021-02-20 12:15] pascalgrimaud commented on #14009
No worry, it belongs to you to choose Beta version or stable version :-) I respect that.
Just for your information, all applications for my customer use beta.1 and it's in prod 😎

Thanks for finding the commit

[2021-02-20 12:38] olgunkaya commented on #14009
Well, I am not fully compatible with it, can I update/upgrade my current application with 7 beta 1 without losing modifications done? Although I prefer stable but would like to give it a chance on a separate branch to see the output :)

[2021-02-20 21:17] murdos opened #14026 "Proposal: unify Cassandra date-time JDL types with common-databases JDL types"
##### **Overview of the feature request**

Rework JDL types for Cassandra: https://www.jhipster.tech/jdl/entities-fields#field-types-and-validations
- [breaking-change] remove `Date` type: it currently seems to be a synonym of `Instant`, since it also generates a field with java type `Instant` and a `timestamp` column type
- add support for `LocalDate` JDL Type, [already supported by Spring Data C

[2021-02-20 22:22] murdos commented on #14026
FYI I'll submit a PR, probably tomorrow

[2021-02-20 22:24] murdos commented on #13068
Yeah, sounds good 👍

[2021-02-21 07:39] pascalgrimaud commented on #14026
Not sure to keep retro compatibility, I think you can remove it directly now as we are still in v7 beta

[2021-02-21 13:00] sameerthekhans opened #14028 "Web page is being reload instead of only changing content, when hot reload is enabled"
##### **Overview of the issue**

Web page is being reload instead of only changing content, when hot reload is enabled

##### **Motivation for or Use Case**

Hot reload should only change content without page reload

##### **Reproduce the error**

Simply start application, change the content and observe the page

##### **Suggest a Fix**
By default webpack `liveReload` is enabled, and it should be

[2021-02-21 13:34] kaidohallik commented on #14028
In the latest JHipster beta version `7.0.0-beta.1` you can run `npm run start-hmr` instead of `npm start` (if using Angular), which uses Angular 11 HMR support by running `ng serve --hmr`.
HMR support is not fully configured in the JHipster version 6.

[2021-02-21 13:56] kaidohallik commented on #13291
https://sonarcloud.io/dashboard?id=jhipster-sample-application passes now Sonar quality gate. It's probably after #13592. So closing this issue as resolved.
If someone wants to work with idea to add Sonar check to PR-s - look at https://github.com/jhipster/generator-jhipster/issues/13291#issuecomment-745291671 - then I think can open a new issue.

[2021-02-21 13:56] #13291 closed

[2021-02-21 16:03] pascalgrimaud commented on #13125
The work is so huge, and deserves as least this bounty
I forgot to put one on this, so plz, claim it @kaidohallik

[2021-02-21 22:40] murdos opened #14031 "Replace Spring Cloud Hystrix"
##### **Overview of the feature request**

Spring Cloud Hystrix is in maintenance mode, we should probably replace it by Spring Cloud Circuit Breaker

##### **Motivation for or Use Case**

https://spring.io/blog/2018/12/12/spring-cloud-greenwich-rc1-available-now#spring-cloud-netflix-projects-entering-maintenance-mode

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is j

[2021-02-22 00:56] RishabhTayal commented on #13977
@ruddell How can I find the version of database?

[2021-02-22 02:38] ruddell commented on #13977
I'm not sure off the top of my head, I would recommend looking on StackOverflow.
 Maybe https://stackoverflow.com/q/20351674/3737815

[2021-02-22 02:44] kaidohallik commented on #13125
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/34402

[2021-02-22 02:54] RishabhTayal commented on #13977
Microsoft SQL Azure (RTM) - 12.0.2000.8
	Oct  1 2020 18:48:35
	Copyright (C) 2019 Microsoft Corporation

Here is the current DB version.

[2021-02-22 03:01] henri-tremblay commented on #13604
Issue it still valid with beta-1
1- Create a project without a database
2- Add an entity (`jhipster entity Item`) with whatever field (e.g `name`)

* No type asked
* Error right after because of it
[code]

[2021-02-22 04:02] PiperDing opened #14033 "optimize PATCH request in v7"
##### **Overview of the feature request**
make patch request better
1. move partialUpdate function to mapstruct,just like this:
[code]
2.generaoter the missing code for client in *.service.ts

##### **Motivation for or Use Case**
For first one, I want to exclude some field in PATCH request sometimes.or it's not the same for different user.it's eary to make different config in mapstruct

##### **Re

[2021-02-22 06:06] pascalgrimaud commented on #13125
@kaidohallik : approved

[2021-02-22 12:24] #13974 closed

[2021-02-23 01:19] vw98075 commented on #13948
This error doesn't occur when I run it in docker. So, that is a problem in the dev environment only.

[2021-02-23 03:40] MathieuAA commented on #13278
@mshima I'm gonna only export the User.json file if there's a custom ID, and not use the sample from the repo.

The User entity should look like this:
[code]

I don't see the need for anything more here (like more fields, relationships and options) => that would be the `skipUserManagement` option's role.

If such needs arise, we will update the code if need be, but for the meantime: YAGNI.

[2021-02-23 12:33] atomfrede commented on #13940
This is fixed by #14008, so let's close this.

[2021-02-23 12:33] #13940 closed

[2021-02-23 14:55] mshima commented on #13278
Not sure what do you mean by "overriding JSON entities".

If I understand correctly, it's a feature that don't export default configurations. It contains only configurations defined in the jdl so it's is safe to be merged.
If I am correct, I like the idea.

[2021-02-23 14:59] wmarques commented on #13642
As we switched onto Angular CLI, I think we should wait to have Webpack 5 fully supported by the CLI. Users can already opt-in as @Tcharl mentioned, but I'm not in favor of adding this in generated apps.

[2021-02-23 15:11] MathieuAA commented on #13278
That's the idea. Sorry, I had this idea at 4/5 in the morning, I understand I can be quite vague early in the morning ;)

The point is not to export something complete, but only overriding props. And we could do it for, well, pretty much anything we want

[2021-02-23 15:27] mshima commented on #13278
That's great.
The generator is already using jdl defaults for applications, so it's applying twice.

[2021-02-23 16:10] mshima opened #14064 "Update to yeoman-generator@5"
##### **Overview of the feature request**

yeoman-environment@3/yeoman-generator@5 brings many improvements:
- improves multiples generators integration with unique generator by namespace or namespace/argument.
- parallel commit workflow (conflict prompts won't block other files to be prettified and checked for conflicts).
- integrated `npm install` that executes if `package.json` has changed and

[2021-02-23 16:52] ruddell commented on #13977
I tested a database hosted on Azure that matches your instance.

If I removed the below line in `master.xml`, I get the error.  Please add it to your `master.xml` to match the generated code:
[code]

After adding that line, liquibase started successfully.

[2021-02-23 17:54] wmarques commented on #14028
@kaidohallik btw why don't we enable hmr by default in `npm start` script ?

[2021-02-23 18:09] RishabhTayal commented on #13977
@ruddell This works!!! Thanks a lot for your support. 👍

[2021-02-23 18:09] #13977 closed

[2021-02-24 05:48] atomfrede commented on #13390
Keep it open. There is already a draft PR

[2021-02-24 07:36] pascalgrimaud commented on #14031
@atomfrede @murdos : is it needed for the next release ? Or can we go without it ?

[2021-02-24 07:56] murdos commented on #14031
@pascalgrimaud : We can go without it IMO, it's no blocking.
This is even something that we can do after V7 final release, e.g. with next Spring Boot upgrade.

[2021-02-24 08:34] pascalgrimaud commented on #14031
Thanks for the information @murdos
So there is still this PR https://github.com/jhipster/generator-jhipster/pull/14029 before being able to do a new release

[2021-02-24 14:09] murdos commented on #14031
@pascalgrimaud : for the release, I've some trouble with a vuejs e2e not passing with https://github.com/jhipster/generator-jhipster/pull/14027 that I've not yet reproduced locally.
I can split the PR, to just have one small PR with the breaking change (removal of `Data` type) if you want to include it in the next release.

[2021-02-24 20:58] #14026 closed

[2021-02-25 04:47] egvimo commented on #13687
I still have this issue.

[2021-02-25 19:17] #13833 closed

[2021-02-25 19:53] pascalgrimaud commented on #13855
All work related to force Reactive Gateway is done. So this ticket can be closed

[2021-02-26 01:07] mraible commented on #13733
🌴

[2021-02-26 09:12] amanganiello90 opened #14097 "Ability to extend the ci-cd sub-generator in blueprints"
##### **Overview of the feature request**

Hi all wonderful community, I would like to replace the ci-cd  index subgenerator with a [generator-base-blueprint](https://github.com/jhipster/generator-jhipster/blob/ae893d0f6e53d648641d96ced0ab0f6058fbe29e/generators/generator-base-blueprint.js) extension, because in this moment it inherits from the [generator-base class](https://github.com/jhipster/ge

[2021-02-26 12:13] smworld30 commented on #10221
HI,
I am facing the same issue while deploying okta springboot on weblogic.
Follow the same process in making and deploying the application
https://o7planning.org/11901/deploy-spring-boot-application-on-oracle-weblogic-server#a20474023

Added the below Okta properties to src/main/resources/application.properties:
okta.oauth2.issuer=https://dev-xxxxxx.okta.com/oauth2/default
okta.oauth2.client-id=*

[2021-02-26 12:42] pascalgrimaud commented on #14097
Yes plz go ahead @amanganiello90

[2021-02-26 18:34] mraible commented on #10221
This isn't a JHipster issue since you're using the Okta Spring Boot
starter. Please enter an issue in the Okta Spring Boot starter project.

https://github.com/okta/okta-spring-boot

On Friday, February 26, 2021, smworld30 <notifications@github.com> wrote:

[2021-02-27 18:38] pascalgrimaud commented on #13855
Bug bounty claimed at https://opencollective.com/generator-jhipster/expenses/34812

[2021-02-27 23:15] nickshoe commented on #13994
From the point of view of Spring Security framework, there is [no difference](https://stackoverflow.com/questions/19525380/difference-between-role-and-grantedauthority-in-spring-security) between _roles_ and _authorities_ when it comes to authorizing a request (apart from the former using the prefix "ROLE_" and its implications in the library code and the client code).
Both actually are **opaque**

[2021-02-28 00:20] nickshoe opened #14099 "Add property or remove reference to "${start-class}" in pom.xml spring-boot-maven-plugin configuration?"
IntelliJ gives the following error upon pom.xml inspection: `Cannot resolve symbol 'start-class' `

Removing the following tag altogether seems to have no negative effect on the build:

https://github.com/jhipster/generator-jhipster/blob/af5d2a8d18480452573d6ab2f280e5186a337bb9/generators/server/templates/pom.xml.ejs#L1478

Spring Boot seems to automatically search for the main class at compile ti

[2021-02-28 05:50] gmarziou commented on #13994
@nickshoe what you propose then it means also we should rename the Angular directives (and their equivalent in React and Vue) and adjust the HTML templates that use them. It's a big impact on existing projects that would want to upgrade their JHipster generator.

Also, existing articles, books or answers on Stackoverflow would be obsolete or at least confusing to new users.

So, I'm not convinced

[2021-02-28 07:46] mraible commented on #13994
After many years of using both, I think "hasAuthority" is better.

On Saturday, February 27, 2021, Gaël Marziou <notifications@github.com>
wrote:

[2021-02-28 07:51] amatosg commented on #11525
@mraible sorry, I don't see the relation between my comment and the closure of this issue. What I meant is that the changes needed were only the new ParserFormatter file and add the record in app.model.ts but nothing have to be changed in the HTML file

[2021-02-28 07:54] mraible commented on #11525
OK, reopening.

[2021-02-28 08:24] pascalgrimaud opened #14100 "React + MongoDB + Protractor : e2e broken"
See:
- https://github.com/hipster-labs/jhipster-daily-builds/actions/workflows/react-maven-nosql.yaml
- https://github.com/hipster-labs/jhipster-daily-builds/actions/workflows/react-gradle-nosql.yaml

[2021-02-28 08:25] pascalgrimaud opened #14101 "Couchbase broken"
See https://github.com/hipster-labs/jhipster-daily-builds/actions/workflows/couchbase.yml

[2021-02-28 08:26] pascalgrimaud opened #14102 "JWT + Memcached broken"
See https://github.com/hipster-labs/jhipster-daily-builds/actions/workflows/jdl-broken-config.yaml

[2021-02-28 08:29] pascalgrimaud commented on #14099
If it works without it, yes, let's remove it
But we need to check:
- start with IntelliJ Community + Ultimate
- start with command line: mvn / gradle
- start with jar (will be tested by the CI)

[2021-02-28 08:30] pascalgrimaud commented on #14033
mapstruct is used when we choose DTO, so in this case, it can be an improvement

[2021-02-28 08:37] pascalgrimaud commented on #14101
Same issue than https://github.com/jhipster/generator-jhipster/issues/13544

[2021-02-28 08:37] #14101 closed

[2021-02-28 08:57] amatosg commented on #10198
@pascalgrimaud would it be ok if I work on this although is closed? I think having those methods in the service file would ease a side-by-side approach and reduce code duplication.

The idea is to have those methods as static so it can be reused.

[2021-02-28 09:02] pascalgrimaud commented on #10198
I'm not a front guy so my point of view is not the best one.
I'm not against to improve our code, but keep in mind the final release v7 is close so we should not introduce some breaking changes. It means if the change here is simple and it will be easy to upgrade from v7.0.0 to v7.0.1 for example, I'm fine.

[2021-02-28 09:35] nickshoe commented on #13994
I understand, but if this change makes sense then it could be considered a breaking change. Backward compatibility is important, but I think It shouldn't prevent enhancements.

I'm not afraid ti address all the changes needed in the generator (backend and frontend), I can do the PR.

The point is if using `hasRole` makes any sense and if it is considered a good practice.

[2021-02-28 09:41] nickshoe commented on #13994
@mraible could you expand on this a bit?
Is there a particular reason why is not convenient to use `hasRole` and can you give an example?

[2021-02-28 09:55] gmarziou commented on #14099
@nickshoe could you check that manifest of built jar is the same because I think this is where start-class used?

The alternative would be to define this property to its correct value.

[2021-02-28 13:38] nickshoe commented on #14099
@pascalgrimaud ok, I will perform those checks!
@gmarziou sure, thanks. I'll check that too.

In any case, I think it's better to specify the main class explicitly because it would make the code speak for himself.

[2021-02-28 13:56] mshima opened #14103 "Add relationships support to cypress."
##### **Overview of the feature request**

This is the only feature missing when comparing to protractor.

Protractor implementation selects last item from select and use it.
This is really easy to implement, but it doesn't follow best practices:
https://docs.cypress.io/guides/references/best-practices.html#Having-tests-rely-on-the-state-of-previous-tests
This approach causes problems like https:/

[2021-02-28 14:09] nickshoe commented on #14099
Removing the `${start-class}` reference doesn't affect the generated jar manifest (please see the image below).
Actually, the "start-class" property doesn't exist in the pom's build properties declaration and I haven't found any reference online about this property being magically valued somewhere else.
I'll go ahead with the other checks.

![pom-without-start-class-jar-manifest](https://user-imag

[2021-02-28 14:29] vishal423 commented on #14099
If we don't specify an explicit start class, then, spring boot maven plugin will search for one in the classpath and use that. In most scenarios, it shall work without any issue. However, if the plugin finds more than one class with a `main` method, then in absence of an explicit `start-class`, a conflict would appear. Since that's the standard spring boot behavior, I think it's fine to remove it.

[2021-02-28 14:46] nickshoe commented on #14099
Removing `${start-class}`, checks results:
- IntelliJ Community + Ultimate: both ok
- mvn: ok
- gradle: the generator already explicitely specify the main class name -> no changes required
  https://github.com/jhipster/generator-jhipster/blob/6aa419c4d4e8a19310df743aebe5b15979a63708/generators/server/templates/build.gradle.ejs#L114-L116
- `mvn clean` -> `mvn package` -> `java -jar target/jhipster-

[2021-02-28 14:47] pascalgrimaud commented on #14103
Big +1

[2021-02-28 15:56] kaidohallik commented on #14028
@wmarques I think we can enable HMR by default, some comments about this topic: https://github.com/jhipster/generator-jhipster/pull/13118#issuecomment-732024690 and https://github.com/jhipster/generator-jhipster/pull/13118#issuecomment-732037077
If removing `start-hmr` script from `package.json` then also `README.md` should be updated, need to remove https://github.com/jhipster/generator-jhipster/

[2021-02-28 18:01] pascalgrimaud commented on #12649
Keep it

[2021-02-28 20:08] #14097 closed

[2021-03-01 00:15] king-il opened #14105 "HTML Text Formatting <b> and <strong> don't work in bootswatch theme"
##### **Overview of the issue**

when using bootswatch theme "united "; the ```<b>``` and ```<strong>``` elements don't render bold text. and when i generate an application using the jhipster default theme everything is back to normal.

##### **Motivation for or Use Case**

----------------------------------

##### **Reproduce the error**

------------------------------------

##### **Related issu

[2021-03-01 01:24] mraible opened #14106 "R2DBC Connection issue in webflux-psql job"
##### **Overview of the issue**

The [webflux-psql](https://github.com/jhipster/generator-jhipster/runs/2000342378?check_suite_focus=true) job is failing:

[code]

##### **Motivation for or Use Case**

Tests should pass.

##### **JHipster Version(s)**

`main` branch.

[2021-03-01 02:19] mraible opened #14107 "Using h2 with reactive-ms fails to compile"
##### **Overview of the issue**

Running `jhipster jdl reactive-ms` results in a compile error in the gateway project:

[code]

##### **Motivation for or Use Case**

It should be possible to run `jhipster jdl reactive-ms` and all e2e tests pass, as you could with previous beta releases.

##### **Reproduce the error**

Run `jhipster jdl reactive-ms` and then build the gateway's Docker container.

#

[2021-03-01 02:29] yelhouti opened #14108 "Allow to specify in id if we want it autoGenerated"
##### **Overview of the feature request**

The generator infers if an `@Id` should be autoGenerated bases on the field type.
##### **Motivation for or Use Case**

This prevents from having the ability of adding a UUID generated in the frontend or a Long added manually based on a manual process (from other software...)

- [X] Checking this box is mandatory (this is just to show you read everything)

[2021-03-01 02:55] amatosg opened #14109 "[Angular] ConfigService should be renamed"
##### **Overview of the issue**
The only function of config.service.ts is either to set the endpoint prefix or get the endpoint. I propose renaming the class to `EndpointService` or `EndpointConfigService` to make more sense of its functions.

##### **Motivation for or Use Case**
Users having already an (or creating a new) entity called `Config` will get the following error:
`Import declaration co

[2021-03-01 05:43] atomfrede commented on #14107
Do have a local build jhipster-bom project? You need a version with this pr https://github.com/jhipster/jhipster-bom/pull/165

[2021-03-01 11:37] mshima commented on #14109
ConfigService is supposed to carry all constants from https://github.com/jhipster/generator-jhipster/tree/main/generators/client/templates/angular/src/main/webapp/app/config for improved microfrontend support.
But since:
- that’s not the case yet
- webpack 5 support will only come with angular 12

It currently contains 1 constant that was outside config folder, so it was not shared between microfr

[2021-03-01 15:35] mraible commented on #14107
If I update and install my `jhipster-bom` project locally, it works. I guess I expected it to be published as a snapshot. I'm guessing it isn't since the published SNAPSHOT is for all beta releases?

[2021-03-01 15:35] #14107 closed

[2021-03-01 15:36] amatosg commented on #14109
if not renaming to the proposed names, please consider renaming it anything as it will impact in users having already a _Config_ entity

[2021-03-01 15:51] murdos commented on #14107
It used to work until we switch from [jhipster](https://github.com/jhipster/jhipster) to jhipster-bom, because @jdubois had a private repository that was publishing snaphots, but I don't think he has setup the same thing for jhipster-bom.

[2021-03-01 16:45] nickshoe commented on #14099
I made the PR but tests are failing due to some errors.
Actually, I don't think they're related to the changes in the PR.

https://dev.azure.com/jhipster/generator-jhipster/_build/results?buildId=18290&view=logs&j=b82dda55-0fb5-5cba-f633-5f7ed4bfc689&t=8cb150ad-72b5-5f82-9010-b4c6dcf290af&l=891

[2021-03-01 16:47] pascalgrimaud commented on #14099
I'm restarting the builds

[2021-03-01 16:52] king-il commented on #14108
Auto generating the id is the default behavior in the Spring Data entity.

to add Ids manually just remove the annotation ```    @GeneratedValue(strategy = GenerationType.IDENTITY)``` from the id attribute in your domain class. and remove the code below from your RestController.
[code]
Because changing this is simple (could be done manually or with refactoring) and seeing this in the generator wil

[2021-03-01 17:18] jdubois commented on #14107
Oh yes, let me do the same.
I’ll update the ticket when it’s done.

[2021-03-01 17:36] avdev4j opened #14135 "Move the blueprint generator to the JHipster 7 architecture"
The JHipster 7 release is about to come. We need to upgrade this generator to match the breaking changes introduced in this new major version.

I have created a v7 branch: https://github.com/jhipster/generator-jhipster-blueprint/tree/jhipster-7

here is what I'm thinking about:
- [x] remove setupXXXOptions calling
- [x] Add the new lifecycle getters (loading, preparing, etc...)
- [x] Generate GitH

[2021-03-01 18:00] nickshoe commented on #14099
@pascalgrimaud now that error doesn't happen anymore, but there is another one:
https://github.com/jhipster/generator-jhipster/pull/14104/checks?check_run_id=2005824364#step:26:1024

[2021-03-01 18:21] gmarziou commented on #14108
@king-il this does not look as simple to me. For instance, this has impacts on client code too.

@yelhouti how would you want to implement it in client? Should the id value be entered by user? If it's a UUID, should a random value be generated?

[2021-03-01 18:28] yelhouti commented on #14108
thanks @gmarziou and indeed, changes needs to be added in liquibase frontend e2e tests... but than fully, we already have a variable field.autoGenerate that is used for String ids... (not working correctly in current version by the way) and would use that same variable to make the UUID generation. I would generate the UUID in the client to allow for easier coding of offline mode...

[2021-03-01 18:38] mraible commented on #14108
I don't think we should generate UUID's in the client because then every client implementation needs to worry about it.

[2021-03-01 18:41] yelhouti commented on #14108
@mraible this is totally optional and could be left to blueprints, for the frontend. Without this, an offline mode is much harder to implement because of relationships...

[2021-03-01 18:55] nickshoe commented on #14099
I've rebased the PR branch against the upstream main branch. Tests are running again.

[2021-03-01 19:20] king-il commented on #14108
@mraible @gmarziou if the id is of type Long no other changes are needed except for making the id field visible (by default hidden) in the frontend then you could use any third party generators or enter it manually.

and i think that jhipster don't allow UUID or String as pk in the JDL.
so the question here is to support custom ids in the jdl since the id field is being handled automatically.

===

[2021-03-01 19:28] yelhouti commented on #14108
@king-il the not yet release v7 allows it, I implemented the `@id` annotation in JHipster (it allows String, + UUID was added later by someone else probably mshima), the other 2 people are core team members, we all spent many hours inside the code and know what we are talking about ;) .

[2021-03-01 19:33] gzsombor commented on #9723
This issue drove me crazy for an hour, until I finally understand what's going on (and why @pascalgrimaud couldn't reproduce this issue ;-) ). This actually a feature of Spring Boot Tools! It tries to detect the beans which are running in Spring applications (why, I don't know ... ), and thinks, that connecting to a Java application is perfectly fine thing to do over JMX. To disable this, in open

[2021-03-01 19:41] king-il commented on #14108
@yelhouti i didn't know the beta version allows it. I'm only using the current stable version and i thought you were talking about it.
anyway good luck :)

[2021-03-01 19:48] freynder commented on #9723
@gzsombor : Great find! Thank you very much for sharing this.

[2021-03-02 04:07] yelhouti commented on #13133
can any one reopen this please?

[2021-03-02 04:09] yelhouti commented on #13133
@pascalgrimaud maybe since your moved it to the milestone.

[2021-03-02 04:14] mraible commented on #14106
Looking at this now...

[2021-03-02 04:18] mraible commented on #14106
I'm unable to reproduce this issue if I recreate the `webflux-psql` sample and run `./mvnw verify`.

I tried making the testcontainers active profile active in `src/test/resources/config/application.yml` too:

[code]

[2021-03-02 04:29] mraible commented on #14109
How about `ApiConfigService`?

[2021-03-02 04:30] mraible commented on #13994
`hasRole()` has been a source of headache and pain on many projects. Both in the open-source world and when I was a consultant several years ago. `hasAuthority()` works as expected without surprises.

[2021-03-02 04:33] pascalgrimaud commented on #13133
I put this ticket in the milestone automatically, for all closed tickets :-)

[2021-03-02 04:34] yelhouti commented on #13133
I know I know :D just teasing :p forgot ma emots :p

[2021-03-02 04:39] pascalgrimaud commented on #13412
Still todo

[2021-03-02 04:50] #14106 closed

[2021-03-02 04:51] mraible commented on #14102
Is there an easy way to recreate the `eureka-maven-jwt-react-memcached` project locally?

[2021-03-02 04:55] pascalgrimaud commented on #14102
The steps:
- clone https://github.com/hipster-labs/jhipster-daily-builds
- go into test-integration/jdl-samples
- run: npm install
- then, launch: npm run start
- you'll have all JDLs in each folders

[2021-03-02 05:08] mraible commented on #14100
This appears to be a real issue. If I recreate the `react-mongodb` sample locally and run the e2e tests, the input box for the ID field is rendered and nothing is put in it. The error on the server is:

[code]

[2021-03-02 05:24] mraible commented on #14100
If I change `.yo-rc.json` to use Angular, everything passes locally.

<img width="1442" alt="Screen Shot 2021-03-01 at 10 24 35 PM" src="https://user-images.githubusercontent.com/17892/109601885-ecd97480-7adc-11eb-97ce-56104962c663.png">

Does that mean Angular is better than React? 😜

BTW, running `./mvnw` multiple times w/o changes still seems to rebuild the frontend each time.

[2021-03-02 05:57] mraible commented on #14102
I recreated `eureka-maven-jwt-react-memcached` locally and the customer entity does indeed fail in e2e tests.

[2021-03-02 06:08] pmverma opened #14131 "SB version 2.4.2/3 are mixed"
##### **Overview of the issue**

Current jhipster bom is using SB 2.4.3 as parent however maven SB version property has not been updated to 2.4.3.
And hence, only 2.4.2 is being used.

##### **Motivation for or Use Case**

Version should be consistent

##### **Reproduce the error**

##### **Related issues**

https://github.com/jhipster/jhipster-bom/pull/183
##### **Suggest a Fix**

Update maven pr

[2021-03-02 06:36] mraible commented on #14102
It happens because the application type is `gateway` and it's not reactive. Enabling reactive in the JDL fixes it.

[code]

PR coming shortly...

[2021-03-02 06:41] pascalgrimaud commented on #14102
Indeed you're right, @mraible : the generated JDL is:

[code]

I didn't put reactive to true because, it should be by default, when we choose gateway. So I think there is something related to the logic with memcached in our main generator-jhipster

[2021-03-02 06:45] pascalgrimaud commented on #14102
Just tried the JDL, and in fact, the `store` is reactive, so everything looks fine:

[code]

[2021-03-02 06:46] pmverma opened #14133 "Hazelcast configs are not compatible with its management center"
##### **Overview of the issue**

Current Hazelcast map names seem not being loadable by its management center and so the cache information.
![image](https://user-images.githubusercontent.com/5289123/109606904-b2f88480-7b55-11eb-9e78-bbb8db22ed66.png)

##### **Motivation for or Use Case**

Jhipster configs should be able to work with hazelcast management center.

##### **Reproduce the error**

1. C

[2021-03-02 06:50] mraible commented on #14102
Wanna bet? I'm willing to wager a 6-pack of good Belgium beer that #14132 fixes it!

[2021-03-02 06:50] pascalgrimaud commented on #14133
Can you take the ticket and do the fix plz @pmverma ?

[2021-03-02 06:53] pascalgrimaud commented on #14131
it is still in progress here: https://github.com/jhipster/generator-jhipster/pull/14043

[2021-03-02 06:54] pascalgrimaud commented on #14109
In the past, we used Jhi prefix, to prevent this kind of problem, because the prefix can be customized too.
Maybe we could use the same logic

[2021-03-02 06:57] pascalgrimaud commented on #14102
I already put some :beers: in the generated code but it should be a secret :shushing_face:

[2021-03-02 07:06] pmverma opened #14134 "Application won't start after upgrading to SB 2.4.3"
##### **Overview of the issue**

Getting following error when starting application.
[code]
##### **Motivation for or Use Case**

Application should start normally without any error.

##### **Reproduce the error**

1. Generate app using current main branch (see #14131, SB 2.4.3 is not yet used)
2. Start the app

##### **Related issues**

##### **Suggest a Fix**

No idea why it is failing but declar

[2021-03-02 07:08] pmverma commented on #14131
Oh thanks @pascalgrimaud, I missed that PR.

[2021-03-02 07:28] mraible commented on #14102
Here's the error that seems to be causing the problem:

[code]

[2021-03-02 08:14] mraible commented on #14102
If I remove `CacheConfiguration.java` when it's a microservice with Memcached, it works.

[2021-03-02 08:47] pascalgrimaud commented on #9723
@gzsombor : thanks for the information and sharing this. So is it only with Eclipse IDE ?

[2021-03-02 08:47] mraible commented on #14102
You win this one @pascalgrimaud. I'm stumped.

[2021-03-02 09:36] yelhouti commented on #13133
Here is an example of what we could Have: https://github.com/boutainaLemrabet/moveSpecificationToCriteriaDemo

[2021-03-02 09:46] pascalgrimaud commented on #14135
Can you add a new item to your list plz @avdev4j ?
- update the documentation

[2021-03-02 11:20] nickshoe commented on #13994
Since I don't have enough experience to argue that `hasRole` is a better implementation choice compared to `hasAuthority` (my point was mainly to shed a light on the semantics of roles and authorities and a possibile implementation), I would ask a third party to take a decision.

What I've learned: authorities are enough when It comes to decide whether authorizing somebody or not to do something;

[2021-03-02 12:13] mshima commented on #14109
Could be ApplicationConfig, or use shell microfrontend term, AplicationShellConfig.

[2021-03-02 12:16] #14102 closed

[2021-03-02 12:39] jdubois commented on #14107
Done. It should be published at midnight, let's wait until tomorrow to check!

[2021-03-02 14:32] egvimo commented on #13305
This is issue is still relevant to me.

[2021-03-02 14:37] sometxdude commented on #9723
I was also using STS/Eclipse when I encountered this issue.  I think @gzsombor has likely solved this one.

[2021-03-02 14:41] avdev4j commented on #14135
Done!

I have also opened a PR for fixing some parts of the documentation. We can merge it now while we need to wait for the other one (related to the v7).

please find this PR here:
https://github.com/jhipster/jhipster.github.io/pull/1087

[2021-03-02 17:12] amatosg commented on #14109
I like this approach, is parameterized and in the hand of the user, and also with a default value in mind avoiding conflicts

[2021-03-02 17:29] wmarques commented on #14028
@kaidohallik Well let's keep it that way then :)
Let's close this as it will be supported in v7

[2021-03-02 17:29] #14028 closed

[2021-03-02 18:57] Ebsan opened #14138 "Sorting entities does not work after searching for them"
##### **Overview of the issue**

I'm using elasticsearch along with infinite-scroll and entities are not sortable after searching for them. I'd like to be able to sort the results of a search using the column names. When you view all the entities sorting works fine. It seems like clicking on the column names doesn't do anything and the callback on the jhiSort element is never called.

##### **Moti

[2021-03-02 19:05] mshima opened #14139 "Current PUT method doesn't follows HTTP specification."
##### **Overview of the feature request**

Our current PUT api is identical to our POST api, with the difference of id validation.
According to HTTP specification, PUT should contain id in the URL `api/my-entity/<id>` instead of just `api/my-entity`.

So when executing PUT `api/my-entity/<id>`, a subsequent GET `api/my-entity/<id>` will return the same object.

Some references:
https://stackoverfl

[2021-03-02 21:33] mshima commented on #14135
Why don't we integrate integrate generator-jhipster-blueprint into generator-jhipster?
- No need to install `yo` which is somewhat unmaintained.
- Easy as jhipster create-blueprint.
- It's a quite small generator.
- Will generate a blueprint for current installed blueprint.

[2021-03-02 21:58] avdev4j commented on #14135
@mshima I'm 100% in favor of that. Btw, this generator is not maintained enough, maybe it could help.

If we do that, we need to do it for modules also.

[2021-03-02 23:49] gzsombor commented on #9723
The 'feature' comes from Spring Tools - and now, you can install STS4 ( https://github.com/spring-projects/sts4 ) even into VSCode or Eclipse Theia/Che, so maybe that ones are also affected, however I haven't tried it.

[2021-03-03 03:24] pmverma commented on #9723
Last time I had this same issue and after updating to latest STS, 4.9.0 I
think, the error was no longer showing up.

On Wed, Mar 3, 2021, 6:20 AM Zsombor <notifications@github.com> wrote:

[2021-03-03 08:08] murdos commented on #12572
Re-opening since I'm experimenting the use of a dedicated sequence per entity.

[2021-03-03 08:11] jdubois commented on #14107
It's looking good, so I'm closing this. Please ping me if you encounter any issue here, as it's done from one of my private repos (because of access rights).

[2021-03-03 08:14] murdos commented on #14107
Thanks @jdubois !!!

[2021-03-03 09:12] nickshoe commented on #13994
If we want to only use "authorities", then I think we should rename the following method to something like `hasCurrentUserThisAuthority`:

https://github.com/jhipster/generator-jhipster/blob/5bdc374bcaf3553984524f19beaf90d1728aff43/generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs#L147

[2021-03-03 13:01] murdos commented on #14135
The only downside I see is that the `jhipster` cli is mainly used to work inside a project generated with jhipster.
Whereas here the use case is a bit different: you want to customize the jhipster generator by generating a blueprint.
So different context, and also different target user (generator developer vs generator user).

[2021-03-03 13:11] #14109 closed

[2021-03-03 15:05] mraible commented on #13994
I'm OK with that. Can you please create a PR with this change?

[2021-03-03 16:54] avdev4j commented on #14135
after all, I'm not sure it could be a good idea because of what you said @murdos
not sure it will help to maintain it better...

[2021-03-03 17:27] mraible opened #14146 "All JDL Options are missing"
##### **Overview of the issue**

I recall going to [this page](https://www.jhipster.tech/jdl/options#available-options) to see all the options you can use in JDL. For example, database types, authentication types, etc. Now they're gone. Did they get moved or deleted somehow?

##### **Motivation for or Use Case**

It's nice to see all options in JDL when modifying EJS templates.

[2021-03-03 17:32] nickshoe commented on #13994
Sure!

[2021-03-03 18:09] MathieuAA commented on #14146
Hi Matt! Are you looking for [this](https://www.jhipster.tech/jdl/applications#available-application-configuration-options)?

[2021-03-03 18:12] MathieuAA commented on #14146
What I did to find them:
  - in the left-side pane, click JDL
  - for the type of thing you're playing with (fields, apps, etc.) click on the link and go to the bottom of the page

I guess theses pages are pretty important (even for me). Maybe we should find a way to make them more visible?

[2021-03-03 18:46] mraible commented on #14146
@MathieuAA Yes, that's the guide I'm looking for! I searched for "jhipster jdl" and landed on https://www.jhipster.tech/jdl/options. Maybe a link to application options on that page would help?

[2021-03-03 18:50] MathieuAA commented on #14146
Tell me what you think.
The user searches for the JDL app options, and lands of the regular options page. The user then sees this isn't what she/he's looking for and notices a "See also" section on the page which redirects to the app options.

Would that be enough?

I'm thinking:
  - regular options => app options
  - app options => regular options

[2021-03-03 18:58] mraible commented on #14146
Works for me!

[2021-03-03 19:29] #14100 closed

[2021-03-03 19:34] nickshoe commented on #13994
Done.

[This](https://github.com/jhipster/generator-jhipster/pull/14147/checks?check_run_id=2024540143) test is failing, but maybe it was due to perfomance issues resulting in timeouts.

[2021-03-03 19:35] mraible commented on #13994
@nickshoe I've restarted the tests to see if it helps.

[2021-03-03 20:10] deepu105 commented on #13133
@gzsombor is the boss here so I'll leave the final decision to him

I have few comments/requests though

1. Can we keep things as simple as possible, I don't think we need more fancy patterns and so on
2. Please do not generate criteria service/code by default. We already generate a lot of code and we don't want to do even more
3. Can we put our personal expectations of the perfect code aside and

[2021-03-03 20:15] nickshoe commented on #13994
@nickshoe now everything looks good.
Thank you

[2021-03-03 20:16] nickshoe commented on #14099
@pascalgrimaud I've rebased again and now all tests are passing.

[2021-03-03 20:19] #14146 closed

[2021-03-03 20:22] mshima commented on #14135
I really don't see benefits on having to install `yo` if `jhipster` will be installed for both blueprint developer and generator user.
It will improve integration:
- `generator-jhipster-blueprint` uses `generator-hipster` resources for tests https://github.com/jhipster/generator-jhipster-blueprint/blob/68e5dd1905726cbb260e340fabea97b5c427a154/.github/workflows/github-ci.yml#L64-L66.
- `jhipster cr

[2021-03-03 20:29] #14099 closed

[2021-03-03 20:36] MathieuAA commented on #14139
Well, not really. The IETF page doesn't specify anything about IDs. Theoretically, one can omit ID as a request param but still pass a payload containing just enough information to update a resource (and still guarantee idempotency).

While I do agree seeing `PUT /resources/:id` is really common in CRUD use-cases, it's only a convention.

[2021-03-03 20:58] mshima commented on #14139
Agreed with that.

[code]

If I understand right, `PUT /resources/` with a payload, a subsequent `GET /resources/` should return the same payload.

Not guaranteed, since it could be overridden:
[code]

In our case, when we use `PUT /resources/` with a payload, `GET /resources/` never returns the payload, but a list of entities.

Anyway, as you said, this is just a convention, but this convention s

[2021-03-03 21:46] gzsombor commented on #13133
I don't think this solution is good, I would rather not put complex and internal implementation related code into a class, which is used as a DTO (a criteria class is just a DTO, with some Spring magic, so it can be converted from the URL parameters automatically). And as these DTOs and Criteria objects don't depend on a heavy jar dependency chain (Only that ~10 Filter classes from jhipster-framew

[2021-03-03 22:14] #14133 closed

[2021-03-03 22:17] yelhouti commented on #13133
@gzsombor you are making very good points here so, let me explain what the problem was, and maybe we could find a better solution.

Our goal is to Unflatten the Criteria class. This is needed for filtering when you have composite Ids and want to filter by the other class field (and can give more detail on why if needed).

The this is once we have Unflattened criteria they might be cyclic reference

[2021-03-03 23:03] deepu105 commented on #13133
Why are we talking about reactive and non reactive in the same app? Are we
allowing one entity to be reactive and other to be normal (I haven't
followed the reactive impl)

I'm again gonna repeat what said before. Don't try to get everything
working. Its ok for some options to not work with another. You are really
making things more complicated for a combination that is not the most
common. I woul

[2021-03-03 23:05] yelhouti commented on #13133
@deepu105

We are not, dumb example, you can ignore that part. I will delete it

[2021-03-04 07:57] MathieuAA commented on #14139
@mshima exactly. POST may create a resource (or at the very least is expected to return something different each time). When one does a PUT, one should then expect a GET to return the current state, or the response of the previous PUT... only if the PUT comes RIGHT BEFORE the GET (no other system calls to update the resource). We got that right.

It's _a_ good enough approach, but it's like Agile

[2021-03-04 08:53] avdev4j commented on #14135
Let's open a new ticket for the proposal, maybe more ideas can help to make a decision.

I see pro and cons in both possibilities.

Btw the PR is ready for review so if anybody from @jhipster/developers wants to review it, feel free; so can merge it after that and move to modules ;).

[2021-03-04 09:41] 62mkv opened #14157 "add documentation page highlighting difference between "module" and "blueprint" and when to choose one vs the other"
##### **Overview of the feature request**

Please, add documentation page into "Modules & Blueprints" section, highlighting the difference between "a module" and "a blueprint" and when to choose one vs the other

##### **Motivation for or Use Case**

For a person (like myself) who only thinks into looking at extending JHipster capabilities, it's currently plainly confusing to understand, what the

[2021-03-04 10:50] 62mkv commented on #14157
I've noticed there're also pages on _Creating_ a blueprint/module, but not on how to use them, or at least not under this section. this information would also be come very handy

[2021-03-04 10:53] deepu105 commented on #14135
Lets first upgrade the `generator-jhipster-blueprint` to work with v7 and we can discuss separately in another ticket about merging it into main generator

[2021-03-04 11:38] murdos commented on #14135
👍

[2021-03-04 12:54] qmonmert commented on #14105
@king-il this is not a bug
In the file `node_modules/bootstrap/scss/_reboot.scss` you have:
[code]
and with your theme `$font-weight-bolder` is equal to `bolder`.
For example, you can override this behaviour adding this code to the end of `src/main/webapp/content/scss/vendor.scss`:
[code]

[2021-03-04 13:37] deepu105 opened #14158 "Fake data fails when there is a required oneToOne relationship with user entity"
##### **Overview of the issue**

Fake data generated is wrong when there is a oneToOne relationship with user entity. This results in error during startup

[code]

##### **JHipster Version(s)**

[code]

##### **JDL for the app**

<details>
<summary>JDL entity definitions</summary>

<pre>
application {
  config {
    baseName store
    packageName com.jhipster.demo.store
    authenticationType jwt

[2021-03-04 15:13] pascalgrimaud commented on #14157
Agree with you @62mkv - don't hesitate to ask question here, until the documentation is updated

[2021-03-04 15:14] mheidt commented on #6410
I really don't get, why this bug is still not solved. Maybe because not many people are using the elasticsearch?
I solved it by changing the generated code like follows

[code]

[2021-03-04 15:20] 62mkv commented on #14157
thanks @pascalgrimaud ! As I just learned from @ecostanzi there're also so-called "needles" that might (or might not) be what I am after, (I'd like to be able to inject certain pieces of code here and there, but otherwise keep the default generators' code), and those needles seem also to not be documented on the jhipster.tech at all

[2021-03-04 15:27] pascalgrimaud commented on #14157
The needle is just a comment in the code, used for injecting specific code of module or blueprint.
If you need to add needle, feel free to open a new pull request, as it won't impact existing code, because it's just a comment

For example:
- here a needle: https://github.com/jhipster/jhipster-sample-app/blob/main/pom.xml#L15
- here the function which is used to add dependency: https://github.com/j

[2021-03-04 15:32] 62mkv commented on #14157
cool! but _how_ does a module/blueprint leverage those needles? that's what I mean is missing from documentation

[2021-03-04 15:35] pascalgrimaud commented on #14157
The needles are here to help for finding / replacing code at the right place, there are too much needles, you need to search directly in generator-jhipster
But it's not mandatory to use them. You can use regexp to introduce the specific code where you want
Or better, you can use regexp too, to delete the code you don't like in JHipster :)

[2021-03-04 15:39] 62mkv commented on #14157
Thanks! I thought maybe there was some special API to interact with those needles)
--
Sent from Mail.ru app for Android Thursday, 04 March 2021, 05:36pm +02:00 from Pascal Grimaud  notifications@github.com :

[2021-03-04 15:45] mshima commented on #14157
There are.
https://github.com/jhipster/generator-jhipster/blob/bcd0aaf76ab798d7d6a0e9f4f7cc907b1b9cdc05/generators/generator-base.js#L943-L966

[2021-03-04 16:15] pmverma commented on #14158
Handling user relationship is a little tricky.

https://github.com/jhipster/generator-jhipster/issues/9579#issuecomment-519842714

[2021-03-04 16:41] yelhouti commented on #13133
@deepu105 any other remarks, feedback? should I go forward and implement this? should I wait for @gzsombor  or give you more time to think about it ?

[2021-03-04 19:37] deepu105 opened #14163 "Creation of entity with relationship fails on latest beta"
App used is same as https://github.com/jhipster/generator-jhipster/issues/14158

Try creating an entity with a relationship

I'll add in more details later, creating the issue to not loose track of it

@pascalgrimaud @avdev4j if this is something alreday fixed on main let me know. I'll test on main tomorrow and update the ticket otherwise. Too late today

[2021-03-04 19:51] ecostanzi commented on #13995
I was about to open a PR for this but maybe I rushed to conclusions.  On one side I agree with Asconius: since Jhipster DTOs are in the service layer, also OpenAPI DTOs should be generated there. On the other hand, what @atomfrede said made me think that someone could choose to add mapping classes in the web layer or in some other package. It really depends on what developers decide.

Since users

[2021-03-04 19:52] atomfrede commented on #6410
I think you are totally right, not many people are using it. If the issue is still there on current main and you have a solution why not go ahead and create a pull request?

[2021-03-04 20:08] pascalgrimaud commented on #14163
I'm waiting your information, because our daily builds are really nice, so it's strange to have an issue with a use case which is very well tested

[2021-03-04 20:44] Asconius commented on #13995
Mapping is carried out by default in the service.mapper package. This can then not be used for the OpenAPI DTO Mapper.
It seems to me as if OpenAPI cannot be integrated into the existing structure.

[2021-03-04 20:50] #14158 closed

[2021-03-04 21:18] mheidt commented on #6410
Unfortunately I don't have the time right now to got into it myself. But I vote for opening up this issue again.
I can confirm, that it still is a problem with 6.10.5 generated DTO / elasticsearch enabled code.
The fields besides the ID  of an @ManyToOne object aren't returned by the initial repository.save, so that a useless version is stored into the elasticsearch-repo.
We refactored our code us

[2021-03-04 22:12] #13068 closed

[2021-03-04 22:13] #13994 closed

[2021-03-04 22:14] #13989 closed

[2021-03-04 22:15] pascalgrimaud commented on #14105
as it's not a bug, I'm closing this

[2021-03-04 22:15] #14105 closed

[2021-03-04 22:17] pascalgrimaud commented on #13996
ping @jhipster/developers : is there someone with Windows who can test this one plz ?

[2021-03-05 00:57] VergilSkye opened #14164 "Specifying a display field "firstName" in a relationship with user using jdl make generator fail"
##### **Overview of the issue**

jhipster generator v7 beta.1 doesn't allow specifying the display field "firstName" in a relationship with user using a jdl.
I made some test and the only display fields allowed are: id and login

I tried to import this jdl in version 7 beta 1 and didn't work, in the older version 6.10.5 work just fine.

entity Ball {
    fieldName String
}
relationship ManyToOne {

[2021-03-05 09:51] mraible opened #14178 "Release v7"
##### **Overview of the feature request**

This ticket is to track the release of JHipster 7 final. Things I'm looking into:

- [x] Couchbase. The last time I checked, Spring MVC + Couchbase was working, but WebFlux was not. If that’s still the case, I think it’s a good idea to disable Couchbase as an option for reactive. https://github.com/jhipster/generator-jhipster/pull/14184 and https://github

[2021-03-05 10:07] deepu105 commented on #13133
As I said, @gzsombor has to sign off on this one as he is in charge of this area. I would still suggest you go ahead with a simplest path which involves less breaking changes and just disable options that wont work together

[2021-03-05 10:13] mraible commented on #14178
I'll update this issue with the status as I address the issues above.

- ❌ ngx-couchbase [EJS error with primary keys](https://github.com/hipster-labs/jhipster-daily-builds/runs/2036948774?check_suite_focus=true#step:11:109)
- ❌ webflux-couchbase same as above.

@mshima What are we doing wrong for `primaryKey`?

[2021-03-05 10:13] deepu105 commented on #14163
I'm on it

[2021-03-05 10:15] mraible commented on #14178
It'd be cool if we could clean this up at the end of `jhipster jdl reactive-ms`:

[code]

I think the following would be better:

[code]

Definitely a stretch goal.

[2021-03-05 10:23] deepu105 commented on #14163
So I just created a new app using `jhipster jdl e-commerce-monolith.jdl` and ran `./gradlew` and it fails on first try with a Typescript error. I'm gonna look into that first and proceed from there
[code]

[2021-03-05 10:26] mraible commented on #14178
Added a bug bounty so y'all can expense beers on Okta after the release. 😄

[2021-03-05 10:44] deepu105 commented on #14163
I also noticed a bunch of errors on console. No idea where it comes from, I'm assuming some internal Spring or Bean validator stuff

[code]

[2021-03-05 11:13] mshima commented on #14178
Not sure. I take a look.

[2021-03-05 11:28] mshima commented on #14178
@mraible fixed couchbase primaryKey reference in your mongodb branch. Realized later that mongodb branch was not couchbase 😆 .

I can setup an environment to test if there are more problems later.

[2021-03-05 12:10] mshima commented on #14164
First name and last name seems incomplete to me.
IMO the best approach would be to create a full name dto mapping, but not sure it makes sense to create in jhipster by default.
Anyway, you can create a PR adding the fields you are missing here: https://github.com/jhipster/generator-jhipster/blob/b0fed8a48a58b1de98c79acef90268f75b56ad31/generators/generator-base-private.js#L1634-L1639

[2021-03-05 15:47] VergilSkye commented on #14164
I made a fork and made this changes but but it didn't fix. Frontend errors appeared like: _**_Property 'firstName' does not exist on type 'IUser_**_
So I noticed that there is a **UserDTO** and  a new **AdminUserDTO** in v7.
@mshima can you help me with a piece of code?
In the _**_PublicUserResource_**_ has the endpoint  _getAllPublicUsers_:
[code]

this is the only endpoint that return a UserDTO

[2021-03-05 15:48] yelhouti commented on #13133
@deepu105 you mentioned disabling options that won't work well together, I totally get that. But are you talking about this Issue or the composite id PR?

The PR for this is quite straightforward so I went ahead and implemented it. https://github.com/jhipster/generator-jhipster/pull/14180
It also unflattens criteria the same way we did for DTO.
This is a building block for composite, I tried to fo

[2021-03-05 16:02] VergilSkye commented on #14164
ok, i didn't notice that:
In my project there's 2 interfaces **IUser**. One it’s inside _app/admin/user-management.model.ts_ and it's created when I **generated** the project. The other interface it's inside _app/entities/user/user.model.ts_ and it's created when **importing** the jdl with the relationship.

should have two interface IUser with different properties?

[2021-03-05 16:40] mshima commented on #14164
Your are right, this was done for privacy reasons, to get the entire user needs admin rights.

So the fix is to add the missing field at:
https://github.com/jhipster/generator-jhipster/blob/b0fed8a48a58b1de98c79acef90268f75b56ad31/generators/generator-base-private.js#L1634-L1639

Loop over the used fields for relationships
[code]

- add them to the server:
https://github.com/jhipster/generator-jhi

[2021-03-05 19:41] mraible commented on #14178
I just realized that Couchbase + Spring Boot 2.4 is still pending in [this PR](https://github.com/jhipster/generator-jhipster/pull/14184).

[2021-03-05 19:47] CGarces opened #14185 "Fix dev enviroment after a Liquibase error"
##### **Overview of the issue**
I have a error on my dev environment caused by Liquibase

[code]

##### **Related issues**

Looks similar to #11949 but i'm not sure about how fix the isuee.
There is any way to "reset" the problematic entity?

##### **JHipster Version(s)**
Using jHipster 6.10.5

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-03-05 20:18] gzsombor commented on #13133
So, my points:
1, I still don't understand, how this relates to composite keys, even in the future, how can be a building block for composite. IF the composite keys are just regular fields, they could work out of box with the current filtering.
2, I still don't understand, how this can be useful for more than 1 people - apart from the technical curiosity. I mean, if you want to have a generic quer

[2021-03-05 21:11] pascalgrimaud commented on #14185
By 'dev' environment, do you mean local environment ?
If you use h2, just clean target or build folder, depending on maven or gradle
If you use sql database, stop, delete container and restart

As you didn't provide information, we can't guess your config.

If the application is already deployed to real environment, you need to revert the modified changelogs.

As it's not a JHipster issue, I'm clo

[2021-03-05 21:11] #14185 closed

[2021-03-05 21:25] pascalgrimaud commented on #14178
@mshima : should we add yeoman 5 in the list ?

[2021-03-05 21:30] mshima commented on #14178
@pascalgrimaud added. Hopefully I can finish the PR today.

[2021-03-05 21:33] pascalgrimaud commented on #14178
Just crazy!

Ok so I won't do the final v7 release this weekend, so probably the next weekend, to give time to finish the last items here.
I can only do release saturday or sunday as I'm too busy with my day work at the moment.

[2021-03-05 21:54] gzsombor commented on #14178
Is it possible to create a release just from the JHipster-bom/framework? A 7.0.0-beta-2 or something like that? Currently, the generator use 7.0.0-SNAPSHOT dependency, which makes local testing a bit fragile.

[2021-03-05 21:56] mraible commented on #14178
I believe @jdubois might've fixed things so the SNAPSHOT build is published nightly.

[2021-03-05 21:59] jdubois commented on #14178
It should work automatically but I didn't test -> please mention/contact me if you don't see the snapshots

[2021-03-06 00:34] mshima commented on #10189
Support is almost ready, waiting for angular 12.

[2021-03-06 01:32] VergilSkye opened #14189 "uncapitalize beanName on dto getter and setter when field has only one letter"
##### **Overview of the issue**

import this jdl:
[code]

will generate a wrong getter and setters on dto, with uncapitalize x (getx, and setx) and  java won't compile anymore

this happen because this function in [generator-base-private](https://github.com/jhipster/generator-jhipster/blob/main/generators/generator-base-private.js) need a condition to verify that secondLetter is not empty
[code]

[2021-03-06 06:35] atomfrede commented on #12558
Please keep it open we need to wait on 3rd party dependencies

[2021-03-06 07:59] #14189 closed

[2021-03-06 08:47] pascalgrimaud commented on #14178
@gzsombor : you need to do these steps
- go into your local jhipster-bom (which should be a fork)
- update your fork
- mvn clean install -Dgpg.skip

It can be easily done with an alias. It took less than 15sec, if you decide to skip tests:
[code]

[2021-03-06 10:21] #13855 closed

[2021-03-06 11:59] yelhouti commented on #13133
@gzsombor thank you for making your points clear, please let me try address those:
1- When using compositeKeys, we often don't want to filter by the id of the other field instead what would like to filter by it's name..., this becomes more and more complicated to code if the entity is far away you need to re-code the join logic in each entity. In this repo example: https://github.com/yelhouti/comp

[2021-03-06 15:29] mraible opened #14196 "jhipster jdl reactive-ms fails e2e tests"
##### **Overview of the issue**

When I wrote [Reactive Java Microservices with Spring Boot and JHipster](https://developer.okta.com/blog/2021/01/20/reactive-java-microservices) (using beta 1), all e2e tests passed. They do not pass with the current `main` branch.

##### **Motivation for or Use Case**

We should not break things between beta versions.

##### **Reproduce the error**

`npm link` aft

[2021-03-06 15:51] cbornet commented on #14139
I'm with @mshima on this :smiley: . I think it's better to do the PUT on the target URI.
Since it's a breaking change, it's probably the good time to do it for v7.

[2021-03-06 15:54] pascalgrimaud commented on #14196
@mraible : I afraid it's related to migration to Spring Boot 2.4. For each minor version of Spring Boot, there are so much changes. That's why it's not so easy : remember Spring Boot 2.2 -> 2.3, and now 2.3 -> 2.4

[2021-03-06 17:01] pascalgrimaud opened #14198 "Swagger in Gateway: broken when compression is true"
##### **Overview of the issue**

When generating a Gateway, which is reactive, it can't not get the swagger from other microservices, if there are started using prod profile, with compression to true
I think it's because the response is compressed

[code]

##### **Motivation for or Use Case**

Swagger should work with / without compression

##### **Reproduce the error**

##### **Related issues**

[2021-03-06 17:01] pascalgrimaud commented on #14198
Adding a bounty, as it must be fixed

[2021-03-06 17:07] #14064 closed

[2021-03-06 18:19] pascalgrimaud opened #14199 "Entities broken with pagination + criteria filter"
##### **Overview of the issue**

Can't list entity with using pagination + criteria filter

![beer_entity](https://user-images.githubusercontent.com/9156882/110216649-870c3480-7eb0-11eb-9053-c3a4ff3da8c0.png)

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

It's probably related to ENUM, but not sure

##### **JHipster

[2021-03-06 18:20] pascalgrimaud commented on #14199
cc @gzsombor as I start to test criteria filter and it looks like broken for me...
Maybe you have an idea ?

[2021-03-06 18:37] pascalgrimaud commented on #14199
Ok, I think there is a conflict with `size` field.
If I'm correct, to avoid this, we need to exclude `size`, `page`, etc from Pageable, to avoid conflict with the generated criteria

[2021-03-06 18:42] pascalgrimaud commented on #14135
@mshima : following https://github.com/jhipster/generator-jhipster/pull/14193 do you think we need to upgrade the blueprint generator ?

[2021-03-06 19:04] pascalgrimaud commented on #14178
similar to improvement suggested by Matt, after generating full microservices applications, there are some changes, which are not correctly commit with git

[2021-03-06 19:13] mshima commented on #14135
@pascalgrimaud no.
- would require yo@4 which I just released a beta, which should be stable enough, but I will not tag as latest so soon due to backward compatibility check, I will call for testing and wait.
- there isn't many advantages to upgrade, it's mainly cleanup and move features from generator to the environment.

[2021-03-06 19:22] atomfrede commented on #14196
Trying it manually results in an 404 for the post request. Looking into it.

[2021-03-06 19:50] gzsombor commented on #14199
Interesting, that's surely the problem with the 'size' parameter. If I modify the integration test for products to call:
`        defaultProductShouldBeFound("size=20");` I get similar http 400 error code:
` {"type":"https://zalando.github.io/problem/constraint-violation","title":"Constraint Violation","status":400,"path":"/api/products","violations":[{"field":"size","message":"Failed to convert p

[2021-03-06 19:51] pascalgrimaud commented on #14199
Yes, I think there is probably the same problem with sort, page etc.

[2021-03-06 20:21] gzsombor commented on #14199
Yes, I can confirm that. It shouldn't be too difficult to add these words to the reserved word list, maybe, we could limit it, when JPA + filtering is enabled.

[2021-03-06 20:28] pascalgrimaud commented on #14199
Should we exclude the use of entity with size, page name ?
Or should we exclude the criteria ?

[2021-03-06 21:02] dbraun1991 opened #14200 "Entity_IsInSet_Function"
##### **Overview of the feature request**

Added small function to each entity.
Checking whether it is in a set of same entities or not.
ATM this can not be done via the HashCode, as all entieties in a set offer the same HashCode.

##### **Motivation for or Use Case**

Hi there, in a recent project I use this method pretty often.
Although its only a stupid iterator, its still very usefull   :)

Wh

[2021-03-06 21:50] mshima commented on #14178
@pascalgrimaud can you confirm if the changes are only json files?

[2021-03-06 22:00] pascalgrimaud commented on #14178
Yes, package.json, package lock and yo rc, if I remember well

[2021-03-06 22:38] mshima commented on #14178
I was digging into it to make sure it wasn't related to the generator5 update.
And saw that package.json changes is pretty big.
After a couple of hours on this, just realized the problem is `prettier-plugin-packagejson` version mismatch.
`prettier-plugin-packagejson` stopped sorting scripts due to a change at sort-package-json https://github.com/keithamus/sort-package-json/pull/206.

So the genera

[2021-03-06 22:40] pascalgrimaud commented on #14178
I'm not sure for yo-rc as I'm not with my computer right now :-p
Nice catch anyway for package json

[2021-03-06 22:48] mshima commented on #14178
`yo-rc.json` is due to jdl writing it disc and generator doesn't change it, since it hasn't been changed, prettifier is not executed.
I will fix this.

[2021-03-06 23:32] gzsombor commented on #14199
The name of the entity in this case is not problematic, only for the field names. In my patch, I've just added check for relational db + non-reactive.

[2021-03-07 00:40] mraible commented on #13544
I'm still hopeful we'll be able to fix these issues for v7. If not, there's [this PR](https://github.com/jhipster/generator-jhipster/pull/14186) to disable the prompt for Couchbase. It will still be an option if you use JDL.

[2021-03-07 09:34] egvimo commented on #14178
Would you mind to release `7.0.0.beta.2` meanwhile? The [milestone](https://github.com/jhipster/generator-jhipster/milestone/193) is on 100% and there are some fixes, which I really would like to migrate from the `beta.1`.

[2021-03-07 12:02] mshima commented on #14178
@pascalgrimaud even with the PR there will be a diff in .yo-rc.json. Docker-compose writes to it after it was committed to git.

[2021-03-07 13:19] #14199 closed

[2021-03-07 13:28] pascalgrimaud commented on #14178
@mshima : no worry about yo rc, it's minor

[2021-03-07 13:30] pascalgrimaud commented on #14178
@egvimo : the release beta.2 should be for the next week-end but I can't promise, as it's open source and we work for JHipster during our freetime. I'll do my best, just be patient :-)

[2021-03-07 16:15] #14198 closed

[2021-03-07 19:33] deepu105 commented on #13133
Can we just drop this and disable composite keys when filtering is enabled
and vice versa. I don't see any value in this added complexity TBH. All
this is just reiterating my personal opinion that composite keys are a bad
idea other than for very specialised use cases.

On Sat, 6 Mar 2021, 12:59 pm yelhouti, <notifications@github.com> wrote:

[2021-03-07 22:59] yelhouti commented on #13133
@deepu105 I understand why people might not like composite keys, for me I find it very useful for validation...

That said, I used to have all my work in blueprints because you (main contributors) didn't like it. But since the blueprints have been used more than a few times, I have been asked to port my changes, so here I am trying to contribute back.

You are talking about added complexity becaus

[2021-03-08 05:44] atomfrede commented on #13796
Keep it open. There is some room for imrpovement

[2021-03-08 08:12] atomfrede opened #14226 "Use Gradle Enterprise"
##### **Overview of the feature request**

:heart: to gradle we have now an own gradle enterprise instance, so let's see what it can do.
We talked about different possibilities how it can help with our quite complex and special builds.

In the short term we can use the build scans to analyze generated applications and optimize the generated code (should be quite "easy"). Moreover using the build c

[2021-03-08 08:22] atomfrede commented on #13797
Keep it open, I am in contact with neo4j for details. Spring data neo4j can't handle this for us we still might switch to patch if that helps (I don't know how our current patch implementation works exactly).

[2021-03-08 09:10] deepu105 commented on #13133
First of all, I don't get why people want blueprints into main generator. Blueprints are more scalable and more flexible and wouldn't pose any such restrictions for your vision. When I built the blueprint mechanism I was really hopping that we will convert even core features into blueprints and thats why I was always against merging vuejs blueprint into core. Having everything in the core is not s

[2021-03-08 09:13] pascalgrimaud commented on #14226
It can be a good idea if it can speed up the builds.
But we need to check that first:
- compare a default build with GitHub Actions without cache with a new build, using our Gradle Enterprise

[2021-03-08 10:28] atomfrede commented on #14226
Exactly. Careful moving forward here. Let's start small and see how far we want or can go.

[2021-03-08 10:35] atomfrede commented on #14196
Did not get any further on saturday, as it seemed to work after everything was generated correctly. Will try again today.

[2021-03-08 12:17] jdubois commented on #14226
I've added a $300 bug bounty, we'll adjust this depending on the difficulty of the ticket.

[2021-03-08 12:34] me-kell opened #14228 "When updating Entities belonging to a Relationship, the entity on the other side is not updated."
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "baseName": "jhipsterSampleApplication",
    "packageName": "io.github.jhipster.sample",
    "packageFolder": "io/github/jhipster/sample",
    "authenticationType": "jwt",
    "hibernateCache"

[2021-03-08 12:47] standors commented on #10031
This problem persists in ver 7.0.0.beta-1
has somebody solution for it?

[2021-03-08 12:50] mshima commented on #14228
Expected behavior.
We currently don’t support cascading entities out of the box.

[2021-03-08 12:50] #14228 closed

[2021-03-08 14:28] #14163 closed

[2021-03-08 15:41] avdev4j opened #14230 "Update the Open-API client website to add that reactive client are also supported"
##### **Overview of the issue**
The page https://www.jhipster.tech/doing-api-first-development/ is not up to date.

##### **Motivation for or Use Case**
Add webclient as supported generators in case you have a reactive app with JHipster.

##### **Suggest a Fix**
change from

to

and

to

- [X] Checking this box is mandatory (this is just to show you read everything)

[2021-03-08 17:15] avdev4j commented on #14157
Such as @mshima said, there is an API to interact with needles. You can create needles in your own blueprint if you need more (on specific parts) otherwise, it can be done under a PR here if it can benefit from other people just like @pascalgrimaud said.
Here is an example of how to add needles in a blueprint: https://github.com/entando/entando-blueprint/tree/master/generators/entity-microfrontend

[2021-03-08 17:41] DanielFran opened #14231 "Update Keycloak to 12.0.x"
##### **Overview of the feature request**

See https://www.keycloak.org/2021/03/keycloak-1204-released

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-03-08 17:41] DanielFran commented on #14231
Ping @vishal423

[2021-03-08 18:16] DanielFran opened #14233 "Remove traefik support"
##### **Overview of the feature request**

Following https://github.com/jhipster/generator-jhipster/issues/11198, let's remove traefik support.

##### **Motivation for or Use Case**

No support for v2 migration

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-03-08 20:00] DanielFran commented on #14178
Added option to remove traefik support

[2021-03-08 20:02] DanielFran commented on #14131
Closed via https://github.com/jhipster/generator-jhipster/pull/14043

[2021-03-08 20:02] #14131 closed

[2021-03-08 20:05] me-kell commented on #14228
It is also expected behaviour, that updating the `operations` of a `label` it returns an updated `label` with the updated `operations`, but querying it returns the non updated `label` with the `operations` being `null`?

[code]
updating the `label` returns a label with `operations`
[code]
But the `operations` on the `label` actually remains unchanged:
[code]
What do I get wrong with bidirectionali

[2021-03-08 20:34] #14233 closed

[2021-03-08 20:46] atomfrede commented on #14196
It seems from spring-data-neo4j 6.0.3 -> 6.0.4/6.0.5 a blocking call was added to `ReactiveNeo4JTemplate`. Clarifying with Michael and Gerrit if thats on purpose or not. What is strange, that our daily builds didn't notice this regression as it should be a general problem.

[2021-03-08 21:09] DanielFran commented on #14233
@pascalgrimaud bog-bounty claimed: https://opencollective.com/generator-jhipster/expenses/35628

[2021-03-08 21:17] pascalgrimaud commented on #14233
@DanielFran : approved

[2021-03-08 21:20] mshima commented on #14228
Yes expected.

Bidirectionality is for classes references, not api calls.
Operation contains the join column.

[2021-03-08 21:40] Tcharl opened #14235 "Ease generator understanding"
##### **Overview of the feature request**

Not really a request but more a plan for what I'm trying to currently achieve.

The plan is divided into multiple steps and I think we gonna win some things at each of them.

1. Use constants in all js files.
As you may have noticed, I'm currently introducing options constants anywhere I can in the generators js files, replacing `buildTool == 'maven'` by

[2021-03-08 22:04] mraible commented on #14196
@atomfrede Can we downgrade spring-data-neo4j as a workaround?

[2021-03-08 22:16] atomfrede commented on #14196
Looking into it right now. For gradle this works:

[code]
But the protractor tests are failing (which are not related to backend things). Cypress is just working fine. Should we downgrade for now until the potential upstream is fixed?

![image](https://user-images.githubusercontent.com/203401/110389125-58cf5600-8064-11eb-99a0-18d5445500b7.png)

[2021-03-08 22:28] pascalgrimaud commented on #14235
My idea for v8 would be to not have these conditions, at all.
Using an Hexagonal Architecture will help.

Each files will be designed for each technologies, very few/no common templates.

For example, look at https://github.com/jhipster/generator-jhipster/blob/main/generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs

Do you think it's easy to maintain https:

[2021-03-08 22:44] mshima commented on #14235
You should try to follow the main generators (applications generators) practices, but ci-cd and other generators use cases are quite different.
They are supposed to be executed on an already configured application, so app configurations should be ready at initializing because they will be required for prompts.

- I would recommend to stop loading/saving configurations into the generator and use di

[2021-03-09 04:43] vishal423 commented on #14231
@DanielFran I will take a look later today or tomorrow

[2021-03-09 05:55] vishal423 opened #14249 "Prefer project scoped node/npm binaries over global binaries"
##### **Overview of the feature request**

The current version of JHipster uses global `node`/`npm` binaries to install project-specific dependencies for new projects, and while executing node scripts like `npm start`. However, during java build, we use the project local `node` and `npm` binaries. The current setup forces the globally installed version to be compliant with project requirements and

[2021-03-09 06:06] atomfrede commented on #13797
WIth the latest main branch I have a different behaviour. The payload looks like this (so no title for the exam). But the relation is not saved at all.

![image](https://user-images.githubusercontent.com/203401/110426166-e8492900-80a5-11eb-96b1-b1ff82e85d11.png)

[2021-03-09 08:23] Tcharl commented on #14235
That was I thought when saying

[2021-03-09 08:31] pascalgrimaud commented on #14235
Yes, so we agree :-)
Anyway, if I'm not wrong, there are no breaking change (for release v7), and it can be done steps by steps, right ?
In this case, plz, go ahead, but with smallest PR as possible, so it will be easy to review

[2021-03-09 08:37] Tcharl commented on #14235
@pascalgrimaud you're right, it should not introduce any breaking change. The only ones that could come would be if we modify some of the generators context feeding logic or sequence (or cleanup some hacky things), but we'll see if it happens and discuss about it when the according PRs will spawn

[2021-03-09 13:41] 62mkv commented on #14157
thanks so mucj @avdev4j ! Nice session. For the sake of history let me also paste the link to an article here: https://medium.com/@anth.viard/build-your-own-jhipster-with-modules-and-blueprints-dd7a2833a388

May I confirm, that in case when I'd like to _inject_ certain code (I am really not sure is it _extending_ or _inheriting_) to certain entity-related _client_ files (at least into _entity-comp

[2021-03-09 14:17] yelhouti commented on #13133
@deepu105 I was on the road yesterday, sorry for the delay.

Here is why i started merging @jdubois requested it:

https://github.com/jhipster/generator-jhipster/issues/7112#issuecomment-631487047

I totally agree with the approach of trying to have almost everything in blueprints. but compoiste keys are a little bit different:
1- All blueprints no matter if it's backend frontend... that want to a

[2021-03-09 15:14] atomfrede commented on #13797
What I found when using this [sample](https://github.com/atomfrede/neo4j-jhipster-sample-13797) mapstruct warns about unmapped target properties: `warning: Unmapped target properties: "questions, removeQuestions".` When doing a debug and filling the `questions` property manually the relation is created and everything looks fine so far. Just have no good idea how to make sure the questions property

[2021-03-09 16:41] atomfrede commented on #13797
Has a chat with @meistermeier and we will change how relations work for neo4j. In short we try not create bidirectional relations similar to what we have in mongo when using embedded docs and furthermore it will increase performance :zap:

[2021-03-09 17:22] deepu105 commented on #13133
I was going to suggest that. Why don't you first add the logic needed to
compute composite keys into the generator base as a public API methods,
with test cases, this way any blueprint, including yours, can use it and
your blueprint won't be broken easily by changes in core.

When Julien agreed for this feature request he indeed was asking how
complex this would be and from what I have seen this i

[2021-03-09 18:29] #14139 closed

[2021-03-09 23:47] VergilSkye commented on #13687
this is an edge case when it’s used **_unique required_** fields and **_self reference_** with **_filter_**

When the field is required, generate a static final constant for this field,
when has a self reference and has a filter, generate a function call  _getAllAbcsByParentIsEqualToSomething_()
This function tries to create **2** entities with the same unique required field.
for example:
[code]

[2021-03-10 03:52] yelhouti commented on #13133
@deepu105 I will start working on that tomorrow.

I would gladly become core team member and maintain the feature if it is all what it takes

Templates are easy to read but hard to customize and because of that I often find myself needing to rewrite the whole file, even if the only thing I want is edit a simple function.
A way we could solve this rewrite file like this:

[code]
where classDefintio

[2021-03-10 06:07] atomfrede commented on #13774
Keep it open. Waiting on upstream merge to fix this

[2021-03-10 07:33] mraible commented on #13733
I was going to look into this tonight, but it appears that Spring Boot 2.4.3 is not quite ready for native support.

From https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#support-spring-boot:

[code]

[2021-03-10 11:13] vishal423 commented on #13774
I think the project is not well maintained. This is an open PR on that project to deprecate and use a separate project (not sure how much truth and compatibility in that) - https://github.com/Availity/availity-reactstrap-validation/pull/228

[2021-03-10 11:17] DanielFran commented on #14134
@pmverma Can you confirm that with current main this issue did not happen anymore?
Should be fixed with https://github.com/jhipster/generator-jhipster/pull/14043

[2021-03-10 11:20] DanielFran commented on #14033
@PiperDing will you provide a PR soon?

[2021-03-10 11:48] DanielFran commented on #13774
@pascalgrimaud @deepu105 Maybe it is better to switch to the alternative https://github.com/Availity/availity-react that @vishal423 identified?

[2021-03-10 11:48] atomfrede commented on #13774
Thought so when looking at the repository. So we should migrate.

[2021-03-10 11:51] DanielFran commented on #13733
@mraible The version 0.9.0 is expected for tomorrow: https://github.com/spring-projects-experimental/spring-native/milestones

[2021-03-10 12:10] pmverma commented on #14134
Sorry for bothering. It was a transitive dependency issue with `javafaker`.
I am closing this issue as it was not originated from JHipster.

[2021-03-10 12:11] #14134 closed

[2021-03-10 15:40] CGarces opened #14262 "aws-container not generate the docker containers on windows 10."
##### **Overview of the issue**

I'm trying to deploy a monolith JHipster demo on AWS using AWS-containers

[code]

I'm using JHipster 6.10.5 on windows 10,

The output is partially on spanish, the translation is:

'..' is not recognized as an internal or external command
Looks like a environment issue caused by windows 10.

The process Is trying to execute ../demo/./mvnw -ntp -Pprod verify jib:do

[2021-03-10 16:27] CGarces opened #14263 "Unit test fails on Windows 10"
##### **Overview of the issue**

The following command fail on my environment  due an error with the unit test
[code]

Note the "C" on upper case at the begin.

##### **Related issues**

Similar to #5805 see also #5860

##### **Suggest a Fix**

I have fixed the test by hand but I'm not sure if is good enough to send a PR.

[code]

##### **JHipster Version(s)**

6.10.5

##### **Browsers and Operati

[2021-03-10 17:02] SudharakaP commented on #14262
@CGarces : Unfortunately, testing on windows is hard; I personally don't have a windows machine anymore to test and I've only tested this on Linux based machines. So although this is potentially a bug, I would say the changes are we won't be able to fix this. On the other had you can try using the WSL (Windows subsystem for Linux). 🙂

[2021-03-10 17:02] #14262 closed

[2021-03-10 17:05] SudharakaP opened #14264 "Remove AWS Containers Subgenerator"
##### **Overview of the issue**

I think this was discussed in the mailing list, but I was wondering if we have consensus on this one. I think we should remove the AWS subgenerator (at least the AWS Containers) as it's getting too difficult to test it without having any AWS credits. If in agreement I could go ahead and remove this.

@jhipster/developers

##### **Motivation for or Use Case**

Reduc

[2021-03-10 17:34] mshima commented on #13133
When taking about JHipster internals, we should try to split into:
- Generators structure
- Workflow
- Blueprint system
- Templating system
- Application structure

-----
#### Generators Hierachy
More than 40 generators and base classes.

#### Workflow:
Design of the step by step that should be followed for us to have the application generated.
- Each priority should take care of it's own tasks.
-

[2021-03-10 17:37] CGarces commented on #14262
I also think that WSL2 is a better way to go, but I need to fix one weird nvmw & npm issue.
https://stackoverflow.com/questions/66565375/npm-bin-npm-cli-js-not-found-on-wsl2-ubuntu
I have take a look at the code but I think that right now I can't fix the issue by myself.

[2021-03-10 17:50] gmarziou commented on #14262
Are you running this in Powershell or Command Prompt?

[2021-03-10 17:58] mshima commented on #14262
@CGarces about the stackoverflow problem, you seems to have a broken node directory.
Remove the node directory.
For more info about this node directory see https://github.com/jhipster/generator-jhipster/pull/13826#issuecomment-773382378

[2021-03-10 18:05] CGarces commented on #14263
Works for me but I can't test it on linux (I have problems with WSL2).
Original code compare two objects, my solution compare only two strings, I'm not sure if they are testing the same.

[2021-03-10 18:07] CGarces commented on #14262
From cmd.

[2021-03-10 18:50] CGarces commented on #14262
Thanks problem fixed after `rm -rf node`

[2021-03-10 21:05] pascalgrimaud commented on #14196
don't hesitate to ping me once everything related to neo4j is fixed @atomfrede
I'm waiting this one for doing the release :)

[2021-03-10 21:53] SudharakaP commented on #11658
This is done, let me know if there's anything more needs to be added. 😄

cc: @tchlyah

[2021-03-10 21:59] deepu105 commented on #13774
But its an alternative for Reactstrap and might be a bigger migration. May be we should wait and see if the upstream fix is merged else we can fork it and update it ss its just a small lib

[2021-03-10 22:12] deepu105 commented on #13133
Good ideas, I like some of them, have different opinions on others and have
some of my own ideas. Anyway its too early to discuss now and lets not spam
others on this thread. Once v7 is out I'll officially kick off some
discussions around this

On Wed, 10 Mar 2021, 6:34 pm Marcelo Shima, ***@***.***>
wrote:

[2021-03-11 00:47] yelhouti commented on #7112
please keep open

[2021-03-11 04:53] mraible commented on #13996
Adding a bounty to encourage folks to test on Windows.

[2021-03-11 05:03] mraible commented on #14178
Couchbase is removed so I'm only concerned with `jhipster jdl reactive-ms` and deploying it with k8s now.

[2021-03-11 05:35] yelhouti commented on #13133
@deepu105 I have been trying for hours to make my changes work without changing the current code two much but I just can't.
When @mshima tried to implement composite ids "Incremental" he wrote a lot of code and added a lot of variables that are just blocking me...

examples:
primaryKey.fields contains own and derived fields which works well for oneToOne but you don't want that when the key is comp

[2021-03-11 11:02] FrancescoMez79 opened #14271 "Create entity without table persistance"
Dear Support,
is possible in JHipster create an entity (my business class) without a table persistance, with JDL language?
All my entities added must have a relationship with the database?

Thanks,
Francesco

[2021-03-11 13:38] deepu105 commented on #13133
What do you propose as change here to make it work?

On Thu, 11 Mar 2021, 6:35 am yelhouti, ***@***.***> wrote:

[2021-03-11 14:22] yelhouti commented on #13133
@deepu105 I don't understand what the "it" refers to.

If it's composite keys, here is a PR: https://github.com/jhipster/generator-jhipster/pull/12819 I am willing to change anything you don't like to finally have support.

If you really don't want the support, I would remove from primaryKey all the added fields (relationships, fields, ownFields, derviedFeilds, references...) and all there uses in

[2021-03-11 15:11] mshima opened #14272 "Add support for microservices workspaces support."
##### **Overview of the feature request**

Generate microservices into a mono-repository (optional) with npm scripts.

##### **Motivation for or Use Case**

- Simplify testing.
- Same npm api of monolith applications, CI can be the same or with few adjusts.

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2021-03-11 17:17] mraible commented on #13733
It's released! https://twitter.com/springcentral/status/1370060267011334148?s=20

[2021-03-11 17:39] mraible commented on #13733
I tried it with `jhipster jdl blog-oauth2`. Here are the changes I needed to make to my `pom.xml`:

[code]

Result is an error:

[code]

Log from `./mvn spring-boot:build-image`:

[code]

[2021-03-11 17:46] mraible commented on #13733
If I use:

[code]

I get:

[code]

[2021-03-11 17:50] sdeleuze commented on #13733
Did you configured the AOT plugin as documented [here](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#spring-aot) and [here](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started) ?

[2021-03-11 17:57] mraible commented on #13733
This works!

[code]

Result:

[code]

Although I'm not sure where the binary is created at. 🤔

I'll try it with the AOT plugin.

[2021-03-11 17:57] DanielFran commented on #13733
@Seems missing the definition of the spring-aot-maven-plugin

[2021-03-11 17:59] sdeleuze commented on #13733
`DataSize` error is documented [here](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_datasize_was_unintentionally_initialized_at_build_time) it means you don't have native support. Happy to refine error messages with a repro if needed.

[2021-03-11 18:00] mraible commented on #13733
Am I running this right?

[code]

Results in:

[code]

[2021-03-11 18:02] sdeleuze commented on #13733
Could you please share the project you are trying to build in order to allow me to help by looking at the build configuration ?

[2021-03-11 18:05] mraible commented on #13733
I tried removing the `DataSize` flag and adding the AOT plugin. It fails to build with the DataSize error again. I created a repo and PR. https://github.com/mraible/blog-oauth2/pull/1

[2021-03-11 18:43] sdeleuze commented on #13733
Ok I think I have found indeed something weird that I see with your application but not our samples. We will work on solving the related issue before 0.9.1 that is planned next week. In the mean time you can follow https://github.com/spring-projects-experimental/spring-native/issues/593. I also need to refine the logback support to support. I will drop a comment here when I will have some news.

[2021-03-11 19:47] #14164 closed

[2021-03-11 20:03] deepu105 commented on #13133
The PR is too huge and is already reviewed by multiple people so I'm not
gonna review it again. I was talking about your proposal to improve what we
have currently on the core (no templates, just core) that could make it
easier for the composite key blueprints

On Thu, 11 Mar 2021, 3:23 pm yelhouti, ***@***.***> wrote:

[2021-03-11 20:35] yelhouti commented on #13133
@deepu105 well templates use the broken variables, plus once these are released in 7.0.0 they will become **public api** and much harder to change. Unless you are willing to remove/replace them they will cause problems in the future.

I suggest to rewrite the parts that use them to use primaryKey.ids instead (without adding support for composite keys), but taking it into account when possible. I c

[2021-03-11 21:39] deepu105 commented on #13133
Ok can you do a new PR for that and it should only contain this and no
other unrelated changes/optimizations and definitely not the composite id
feature. Just changes that would be needed for a blueprint to work easier

On Thu, 11 Mar 2021, 9:35 pm yelhouti, ***@***.***> wrote:

[2021-03-11 22:26] gmarziou commented on #14271
By definition, an entity is persisted. So,  could you clarify what you expect to generate on client and server sides?

Have you looked at [API-first development](https://www.jhipster.tech/doing-api-first-development/)?

[2021-03-11 22:42] gmarziou commented on #14264
What are its statistics compared with other cloud sub generators?

[2021-03-11 22:57] SudharakaP commented on #14264
It's around 9.88% for the past year I believe;

![image](https://user-images.githubusercontent.com/12435965/110866307-cd2f1280-8279-11eb-9204-e151223f8f47.png)

Now I would assume that the `aws-containers` sub-generator is used even less. We didn't do a lot of maintenance on it and testing it we need to have some sort of credits as otherwise the cost is significant; since it uses the [EKS service]

[2021-03-11 23:18] murdos commented on #13996
Here's what I've tested on my Windows machine:

[code]

I've been able to:
- access gateway on http://localhost:8080,
- authenticate with admin
- create a new blog
- create a new product
However (but I think this is unrelated to this ticket), I can't create a new tag a new blog post.

Then I've stopped gateway, and - in the gateway folder - relaunched it prod profile:
`./gradlew -Pprod`
Nothing pa

[2021-03-11 23:47] murdos commented on #14263
FYI I reproduce this issue when running maven from a `cmd.exe` terminal.
But not from powershell or git-bash.

[2021-03-12 01:04] mraible commented on #13385
Tested today with the `main` branch. This is still an issue. `npm run e2e` fails with the above JDL.

[2021-03-12 07:19] PiperDing commented on #14033
@DanielFran I'd like to contribute to this feature, but I don't know what to do next.This is the first time I submitted an issue.I've seen the generator code and know how to modify it.Do I just modify the code and submit the merge request?

[2021-03-12 07:58] mraible opened #14285 "Fix Ionic for JHipster with npm 7"
See https://github.com/oktadeveloper/generator-jhipster-ionic/issues/434.

[2021-03-12 08:22] mraible commented on #14263
I _feel_ like we should be able to recommend [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) for Windows users and call it good. Document, ship, enjoy! 🤗

[2021-03-12 08:25] mraible commented on #14249
💕 Anything to speed up the build process is most welcome!

The most annoying thing for me is `npm install` takes a lot of time when creating the app, and when I run `./mvnw` or `./gradlew` happens again. WTF? :shakesfist:

[2021-03-12 08:43] pascalgrimaud commented on #14249
Yes I aware of this behavior, @mraible
See my comment https://github.com/jhipster/generator-jhipster/issues/13796#issuecomment-771131452

[2021-03-12 08:47] DanielFran commented on #14033
@PiperDing yes please go ahead.

[2021-03-12 08:55] mshima commented on #14285
@mraible add .npmrc with `legacy-peer-deeps`

[2021-03-12 08:57] mraible commented on #13796
![image](https://media.giphy.com/media/4GXUa4U05Q0JAM972c/giphy.gif)

Adding bounty for motivation.

[2021-03-12 09:00] mraible commented on #14285
Sure, but what's the real fix?! 😜

[2021-03-12 09:14] mshima commented on #14285
First problem: ng-jhipster.
An unmaintained lib will always have problems.
In this case ng-jhipster wants you to use angular 10 instead of 11.
Is ng-jhipster required? If so it’s time to split ng-jhipster into another generator.

I will take a deeper look.

[2021-03-12 09:16] mshima commented on #14285
By the way I’ve just recently removed .npmrc from angular, react and vue have it.
Downgrade some libs may be required too.

[2021-03-12 09:41] DanielFran opened #14287 "Update Open-api generator version to 5.x"
##### **Overview of the feature request**

Migrate from 4.3.1 to 5.0.1 (or even 5.1.0 expected in April)

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-03-12 09:44] DanielFran commented on #14287
ping @ecostanzi @cbornet

[2021-03-12 09:52] mshima commented on #13996
I’ve created daily builds for react and vue.
https://github.com/hipster-labs/jhipster-daily-builds/actions/runs/645610146.

IMO this was a webpack plugin problem that was fixed upstream.
@slade13 can you still reproduce the problem?

[2021-03-12 11:04] krmahadevan commented on #1130
I stumbled into the same problem when running `mvn liquibase:update`.

I was noticing this error:

[code]

The output of `jhipster info` is as below

INFO! Using JHipster version installed globally
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

microservice@0.0.0 /Users/krishnan/ExampleProject
└── (empty)

##### **JHipster configurat

[2021-03-12 12:53] mikereiche commented on #13544
"The first one is that the default scan consistency in Spring Data Repository is set to NOT_BOUNDED. "
https://github.com/spring-projects/spring-data-couchbase/issues/1062 is a feature request to support a repository-level ScanConsistency.

[2021-03-12 12:57] mikereiche commented on #13544
"It seems to be a bug in Spring Data since the User entity it has a "Field" annotation with a value and Spring Data should use that value to generate the correct query."

This is https://github.com/spring-projects/spring-data-couchbase/issues/1055

[2021-03-12 13:16] ecostanzi commented on #13996
I also tried to reproduce on windows. Everything seems to work fine.

[2021-03-12 13:40] jdubois opened #14289 "Spring Native support in JHipster 7"
JHipster 7 is based on Spring Boot 2.4.3, and thus should work fine with Spring Native Beta using https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_build_the_native_application

-> Here is a sample application, generated today from the `main` branch, using the default options: https://github.com/jdubois/experimental-jhipster7-native

- Here is what I configured for Spring Na

[2021-03-12 13:42] mshima commented on #14289
Duplicate of https://github.com/jhipster/generator-jhipster/issues/13733?

[2021-03-12 13:45] jdubois commented on #14289
Oh yes, you're right @mshima !!!
Let's close this one, and migrate my comment and bounty there

[2021-03-12 13:45] pascalgrimaud commented on #14289
Yes, it's duplicated. There are already some discussions in the other ticket :)

[2021-03-12 13:47] jdubois commented on #13733
Sorry I created a duplicate at https://github.com/jhipster/generator-jhipster/issues/14289

I'm adding my comment here, as I got a good example for @sdeleuze :

JHipster 7 is based on Spring Boot 2.4.3, and thus should work fine with Spring Native Beta using https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_build_the_native_application

-> Here is a sample application, gener

[2021-03-12 13:48] jdubois commented on #14289
And I'm the one complaining that people don't read existing opened tickets !
Who's managing this thing??? 🤣

[2021-03-12 13:49] #14289 closed

[2021-03-12 14:35] vishal423 commented on #13996
I do see the difference in the `npm` version. Daily builds use `6.14.6`, whereas the issue is raised with `7.5.4`

[2021-03-12 14:39] avdev4j commented on #14135
So there is something else to do here?

[2021-03-12 14:44] atomfrede commented on #13733
Did someone already try with gradle? Looks it should work basically like for maven, right?

[2021-03-12 15:04] mshima commented on #14249
Recent failures in installing npm in CI made me think that this is indeed required.
On it, unless @vishal423 is already on it.

[2021-03-12 15:43] mraible commented on #13733
I have not tried this with Gradle.

[2021-03-12 16:07] jdubois commented on #13733
Speaking of gradle, don't forget we have our Gradle Entreprise server: I have no idea if that could help, but GraalVM is so slow that anything that can help the build could be welcome

[2021-03-12 16:46] vishal423 commented on #14249
@mshima, If you have the bandwidth, then, feel free to take it up.

[2021-03-12 17:25] deepu105 commented on #13996
We only support the LTS versions of node/npm

On Fri, 12 Mar 2021, 3:36 pm Vishal Mahajan, ***@***.***>
wrote:

[2021-03-12 17:39] vishal423 commented on #13996
https://github.com/jhipster/generator-jhipster/blob/fa96b1348199f2822ba6f1ba0552646735aa2a78/generators/generator-constants.js#L28

[2021-03-12 17:44] deepu105 commented on #13996
Ah ok

On Fri, 12 Mar 2021, 6:39 pm Vishal Mahajan, ***@***.***>
wrote:

[2021-03-12 21:53] MarlonLuan opened #14290 "Current PATCH method doesn't follows HTTP specification."
##### **Overview of the feature request**

When executing PATCH `api/my-entity/<id>`, a subsequent GET `api/my-entity/<id>` will return the same object.

https://tools.ietf.org/html/rfc5789

##### **Motivation for or Use Case**

Now with PR #14139 PUT follows HTTP specification, it would be interesting to be able to also change the PATCH, to maintain consistency and standardization.

##### **Relat

[2021-03-12 22:06] mshima commented on #14033
IMO, we should try to implement something like https://github.com/jhipster/generator-jhipster/pull/12507#issuecomment-699032634.
Don't allow to remove a value is preventive to use PATCH IMO.

[2021-03-13 03:28] amatosg commented on #10198
I'm going to wait until next release if that's ok

[2021-03-13 03:28] amatosg commented on #11525
I'm going to wait until next release if that's ok

[2021-03-13 06:56] pascalgrimaud commented on #12649
Increasing the bounty, so @PierreBesson and @clocken you can share it
Closing this one, as I think it's resolved

[2021-03-13 06:56] #12649 closed

[2021-03-13 07:02] PiperDing commented on #14033
I just submitted the pull request #14292

[2021-03-13 10:31] vishal423 commented on #14272
I would rather consider it as an anti-pattern and also not compliant with the 12-factor app [recommendation](https://12factor.net/codebase). We should improve the existing orchestrator like docker-compose sub-gen if required.

[2021-03-13 12:27] mshima commented on #14272
I will try to elaborate better later, but this is about the scripts to make tests and reproduction easier.
Not about making a unique git repository for every microservice.

[2021-03-13 13:07] drich1402 opened #14294 "vue bootstrap-variables.scss is not imported"
##### **Overview of the issue**

With vue the local changed styles are not applied because `bootstrap-variables.scss` is not imported.

##### **Motivation for or Use Case**

Changed styles should be applied.

##### **Suggest a Fix**

Change in vendor.scss.ejs like `@import 'bootstrap-variables.scss';` to always import the local file.

##### **JHipster Version(s)**

Release 7.0.0-beta.1

##### **JH

[2021-03-13 17:49] DanielFran opened #14304 "Update Nodejs version to v14.16.0"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-03-13 18:06] SudharakaP commented on #11658
This is done and merged for v7.0.0 release; https://github.com/jhipster/jhipster.github.io/pull/1098. Therefore I am closing this. 😄

[2021-03-13 18:06] #11658 closed

[2021-03-13 18:40] MathieuAA commented on #13261
Nop, keep it open

[2021-03-14 00:31] #14294 closed

[2021-03-14 07:50] venustulips opened #14309 "Cypress tests could not be launched"
##### **Overview of the issue**

[code]
##### **Motivation for or Use Case**

A new application should be able to run cypress without any issue.

##### **Reproduce the error**

1. Create an app selecting cypress
2. Run `npm run e2e`

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root f

[2021-03-14 12:05] #14033 closed

[2021-03-14 12:05] #14290 closed

[2021-03-15 08:51] atomfrede commented on #14226
After the first meeting with gradle, we will create a (or multiple) sample project(s) which is connected to our gradle enterprise so we can capture build scans and optimize for our users. We might also add an option to the generator to add gradle enterprise configuration so we can have it in out auto generated samples too.

[2021-03-15 13:08] avdev4j commented on #14309
Hi @venustulips
Thanks for reporting this.

Can you try something for me by editing the script `e2e:cypress` and remove this part `--record ${CYPRESS_ENABLE_RECORD:-false}`?

or and replace it by `--record false`

Thanks

[2021-03-15 13:08] avdev4j commented on #14135
I'm closing this one since the job has been done ;)

[2021-03-15 13:08] #14135 closed

[2021-03-15 18:09] MarcelRosenberger opened #14326 "Reactive: Integration tests with validated endpoints fail because of blocking call"
##### **Overview of the issue**

Integration tests of Ressource-Endpoints with `@Valid`-annotated method arguments fail, because BlockHound detects a blocking call. The call is made by `SpringValidatorAdapter`.

The error message is:
`reactor.blockhound.BlockingOperationError: Blocking call! java.io.RandomAccessFile#readBytes
	at java.base/java.io.RandomAccessFile.readBytes(RandomAccessFile.java)`

[2021-03-15 20:05] avdev4j opened #14327 "Move the module generator to the JHipster 7"
##### **Overview of the feature request**
The JHipster 7 release is about to come. We need to upgrade this generator to match the breaking changes introduced in this new major version.

##### **Motivation for or Use Case**
Generate JHi7 module.

##### **Related issues or PR**
https://github.com/jhipster/generator-jhipster/issues/14135

- [X] Checking this box is mandatory (this is just to show you

[2021-03-15 20:06] pascalgrimaud commented on #14327
Adding a bounty, as it's important to have for v7

[2021-03-15 20:37] atomfrede commented on #14226
:tada: we have our first build scans, but I don't know why the build is failing (freshly generated from main). But the cool thing is I can point everyone to to the failing build and output: https://ge.jhipster.tech/s/7eoife7fnhqok/tests which is pretty cool imho.

[2021-03-15 23:37] avdev4j commented on #14327
Done here : https://github.com/jhipster/generator-jhipster-module/pull/183

[2021-03-15 23:59] mraible opened #14328 "JDL fails to compile: bad type in conditional expression"
##### **Overview of the issue**

I'm trying to re-create the backend I used in my [Mobile JHipster](https://developer.okta.com/blog/2020/04/27/mobile-development-ionic-react-native-jhipster) presentation. The app I'm trying to create is a bit like my 21-Points Health app, but I changed it to use OAuth, React, and WebFlux.

[code]

Running `jhipster jdl app.jdl` works fine, but when I try to compil

[2021-03-16 00:02] mraible commented on #14328
If I modify `Preferences.java` to use `private String userId;`, it solves the problem. Seems like a problem with the entity generator, OAuth, and relationships to `User`.

[2021-03-16 00:18] mraible commented on #14328
Since I ran Sonar and Lighthouse on this app. I figured I'd share some results.

Sonar:

<img width="1436" alt="Screen Shot 2021-03-15 at 6 08 06 PM" src="https://user-images.githubusercontent.com/17892/111236987-b827eb80-85b9-11eb-9114-2ed4fb5fb5b4.png">

It's an improvement over [v6.8.0](https://speakerdeck.com/mraible/mobile-development-with-ionic-react-native-and-jhipster-allthetalks-2020?slid

[2021-03-16 01:35] mshima commented on #9486
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/36150.

generator-jhipster-jooq is ready for JHipster 7, time to claim.
There a bug in their side due to liquibase 4, reverting to liquibase 3 it works.

[2021-03-16 02:22] mraible commented on #13941
Please?

[2021-03-16 02:50] mraible opened #14329 "Sponsored by @oktadev no longer printed"
##### **Overview of the issue**

When running `jhipster jdl default`, I expect to see "Sponsored by Okta" at the end. However, now it just says:

[code]

##### **Motivation for or Use Case**

It was working when I added it a couple of weeks ago.

[2021-03-16 04:18] May004 commented on #4035
![Uploading cors-cofig.png…]()

[2021-03-16 04:23] May004 commented on #4035
![cors-cofig](https://user-images.githubusercontent.com/80736368/111255665-13092380-864a-11eb-85e5-6af463575b7a.png)

[2021-03-16 05:30] atomfrede commented on #14329
It works when using just `jhipster` and answering the prompts.

[2021-03-16 05:39] pascalgrimaud commented on #9486
@mshima : approved ;)

[2021-03-16 05:52] mraible commented on #4035
Please don't comment on a closed issue. It's better to open a new one and provide steps to reproduce the issue you're seeing.

[2021-03-16 06:14] #14329 closed

[2021-03-16 07:46] venustulips commented on #14309
It seems `--record` is a standalone option, it does not accept a boolean value.

https://docs.cypress.io/guides/guides/command-line.html#cypress-run-record-key-lt-record-key-gt

[2021-03-16 08:52] avdev4j commented on #14135
bounty claimed here https://opencollective.com/generator-jhipster/expenses/36160

[2021-03-16 09:50] avdev4j commented on #14309
I'm pretty sure `--record false` is correct since you can enable Dashboard recording dynamically, however, I admit the common way to use it is `--record`.

I think here, the problem is coming from this part `${CYPRESS_ENABLE_RECORD:-false}` probably not recognized by Windows.

[2021-03-16 10:14] avdev4j commented on #14309
I can confirm it works on my env. Did you try to do what I suggest to you? I don't have a Windows env to test it, if you can maybe we can find the way to fix that.

[2021-03-16 11:20] mshima commented on #14309
See my original comment https://github.com/jhipster/generator-jhipster/pull/13717#discussion_r566744125.
I’ve failed to make it cross platform already.

We could try double -- .
concurrently -k -s first "npm run ci:e2e:server:start" "npm run e2e:headless -- -- --record ${CYPRESS_ENABLE_RECORD:-false}"
If that fails, we should duplicate e2e:headless to ci:e2e:headless and add the condition there.

[2021-03-16 11:43] venustulips commented on #14309
@avdev4j

`cypress run --browser chrome` works

but neither `cypress run --browser edge --record ${CYPRESS_ENABLE_RECORD:-false}` nor `cypress run --browser edge --record false` works on windows.

The actual issue as per my above-pasted log, if you include `--record` then adding a `projectId` in `cypress.json` seems mandatory.

[2021-03-16 11:53] venustulips commented on #14309
BTW, I really wish all the npm scripts works on windows too without WSL.
Currently, most of the commands fail on windows as the npm scripts was mainly developed for *nix.

[code]

Even with GitBash, manually running the same command works while run via npm script fails.

`./mvnw -ntp enforcer:display-info --batch-mode`

[2021-03-16 12:32] venustulips commented on #14309
@avdev4j @mshima I found https://github.com/elijahmanor/cross-var which solves windows/*nix problem nicely.

Instead of
[code]
prepend with `cross-var`,
[code]

I have confirmed with

- cmd.exe
- Powershell (New Win Terminal)
- GitBash

I belive with this, we can have portable cross-platform npm scripts.

[2021-03-16 14:05] pascalgrimaud commented on #14135
@avdev4j : approved

[2021-03-16 15:13] #14328 closed

[2021-03-16 16:47] drasko-kosovic opened #14350 "Sd"
--------------^ Click "Preview" for a nicer view!

Support this project by becoming a sponsor! [Become a sponsor](https://opencollective.com/generator-jhipster) or [learn more about sponsoring the project](https://www.jhipster.tech/sponsors/).

[2021-03-16 16:48] #14350 closed

[2021-03-16 17:18] krmahadevan opened #14352 "Generated DTO classes are missing relationship representations"
##### **Overview of the issue**
When generating the DTO classes from a JDL using `jhipster import-jdl` the generated DTOs are missing the relation object collections.

For e.g., Here's a JDL

[code]

The generated Entity class looks like below:

[code]

Here's the generated DTO class which is missing the `private Set<ChildDTO> children = new HashSet<>();` entry in it.

[code]

##### **Motivation f

[2021-03-16 18:45] mraible commented on #14231
I'm re-opening this issue because the behavior is different now when JHipster acts as an OAuth 2.0 resource server. I discovered this when testing the latest Ionic for JHispter. I noticed that the granted authorities were coming back empty in the logs, so I changed `JwtGrantedAuthorityConverter` to print out the claims from the JWT.

[code]

With the latest JHipster 6 release, you can see the "rol

[2021-03-16 22:44] #14304 closed

[2021-03-17 00:13] #14231 closed

[2021-03-17 01:42] mshima commented on #13949
Seems duplicate of https://github.com/jhipster/generator-jhipster/issues/14158.
Should be fixed in current main branch.

[2021-03-17 09:28] Tcharl opened #14363 "Frictionless custom code contribution in jhipster relying on git hooks"
##### **Overview of the feature request**

This solution would use git hook to let our end user being able to mix jhipster and custom code in a frictionless manneer relying on the yo-resolve file, a git hook and a slightly hardened git process. Let me try to sum up what could be a solution.

1. Add a new configuration file in the .jhipster folder.
This file will contains the list of files managed

[2021-03-17 09:51] avdev4j commented on #14309
hey it seems to be a good alternative. WDYT @mshima?

@venustulips can you confirm it fixes the Cypress problem too?

[2021-03-17 14:35] Tcharl commented on #14352
Don't you have a FatherId in the Child Dto and a `uses` reference in its mapper?
DTO reference was not something that we wanted on the XToMany X side

[2021-03-17 15:01] mshima commented on #14309
I think I've came across cross-env and cross-var back in the time.
But IMO we shouldn't use any of them, cross-env is reportedly deprecated (the original repository was archived) and cross-var repository is untouched for more than 3 and a half years, and brings in some babel dependencies and outdated cross-spawn.

The `./` problem can be fixed by linking mvnw/gradlew into `node_modules/.bin` in po

[2021-03-17 21:11] atomfrede commented on #14196
`spring-data-neo4j:6.0.6` has been released. I have updated the version in [bom](https://github.com/jhipster/jhipster-bom/pull/219), it works now when using reactive as the blocking call has been removed (:heart: @meistermeier for fixing it that fast)

[2021-03-17 21:48] mraible commented on #14196
I tried the steps in this issue and all tests pass!

[code]

Of course, I had to try a couple times. Because Protractor. 😅

[2021-03-17 21:48] mraible commented on #14196
Is this enough to take Neo4j out of beta? 🧐

[2021-03-17 21:54] mraible commented on #14326
Can you please run `jhipster info` on your project or provide a JDL so we can try and reproduce the issue?

[2021-03-17 21:56] mraible commented on #14327
If you want to test it on a module, you can experiment with the [Ionic module](https://github.com/oktadeveloper/generator-jhipster-ionic/issues/466). 😉

[2021-03-18 00:01] #14196 closed

[2021-03-18 00:06] mraible commented on #14285
Fixed. Please collect your bug bounty since I used your suggestion. :)

[2021-03-18 00:18] mshima commented on #14285
@mraible keep open. I will take a look if peer dependencies are resolvable if we drop ng-jhipster dependency.
I know it’s not with it.

Have been busy to look at this.

[2021-03-18 00:23] mraible commented on #14285
I dropped the ng-jhipster dependency but found I needed it for Ionic's starters to work. My main issue now is I can't get Ionic's CI to pass for a gateway. I had it working with a reactive gateway and JHipster 7, but now I'm trying it with JHipster 6 and Zuul and it doesn't work either.

Oh, wait...

It looks like switching from MongoDB to PostgreSQL might've fixed it. https://github.com/oktadevel

[2021-03-18 03:34] mshima commented on #14285
I have reproduced the problem and there were version conflicts at generated dependencies.
I had it tracked to angular dependencies conflicting with `@ionic/angular-toolkit` but it was already fixed upstream by https://github.com/ionic-team/starters/commit/da07ea3d47ba6d0190f1446ccb39788d760d63e4#diff-a39f899adb17e2b43435d9759f925d89b0226cfbe1b5b231336ef716e6f99d23.

With those changes npm install

[2021-03-18 04:09] mraible commented on #14285
I created a PR with the updated baseref at https://github.com/oktadeveloper/ionic-jhipster-starter/pull/51. If this build passes, I can push to ionic-team/starters.

[2021-03-18 04:46] mraible commented on #14178
I'm trying to deploy the `reactive-ms` stack on GCP with K8s now. When I run `./kubectl-apply.sh -f`, I'm getting the following error:

[code]

I was able to deploy my Docker images directly to my registry with commands like:

[code]

[2021-03-18 06:18] atomfrede commented on #14196
We have still the issue when using DTOs. Gerrit and me are working on it. The main reason is that the generated entities have cycles. This also makes neo slower than it has to be. But from my point of view we could either prevent DTOs + neo for now or [document](https://www.jhipster.tech/using-neo4j/) how to create a workaround (which is ~5 loc) for the current entity and relation structure.

[2021-03-18 06:38] mraible commented on #14178
I was finally able to make things work after creating a new project and cluster. We might want to update [our GCP docs](https://www.jhipster.tech/gcp/) with more detailed steps.

After running `./kubectl-apply.sh -f`, things were looking good.

[code]

10 minutes later and it seems some containers failed to start.

[code]

Screenshot of workloads in Kubernetes Engine on GCP:

<img width="1024" alt

[2021-03-18 06:44] atomfrede commented on #14178
Can you check how the resource limits and requests are configured for `blog-neo4j`? Looks like the nodes are to small for the requested amount of memory or cpu.

[2021-03-18 06:59] mraible commented on #14178
Yes, I think that's it. I need to use better machines. Maybe I can specify the machine type when creating the cluster?

[2021-03-18 07:33] MarcelRosenberger commented on #14326
Thanks for looking at this!

-- generator-jhipster@7.0.0-beta.1

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "blueprints": [],
    "otherModules": [],
    "applicationType": "microservice",
    "baseName": "myapp",
    "jhipsterVersion": "7.0.0-beta.1",
    "skipClient": tru

[2021-03-18 09:30] meistermeier commented on #14196
Although this is already closed, I add my comment here:
Spring Data Neo4j does not has problems with cycles and Neo4j is not slow in those cases. But in a cyclic constellation we would have to create cascading / explorative queries in SDN. My opinion is that "always bidirectional" is not a great solution in general.
I think that we should give users the freedom to decide if they want to have a bid

[2021-03-18 09:37] atomfrede commented on #14196
Thanks for clarification. I also think having it uni-directional makes it easier to understand.

[2021-03-18 12:32] ko5tik opened #14381 "Parametrise SecurityConfiguration CSP policies"
##### **Overview of the feature request**

I am developing application, and need to display map data - say from OpenStreetMap.   To do this,  CSH heaer must be produced like this:

`img-src 'self' data: https://*.tile.openstreetmap.org; `

Current template is hardwired to:

`img-src 'self' data:;`

Being able to parametrize  image source would be nice.

##### **Motivation for or Use Case**

I  nee

[2021-03-18 14:53] pascalgrimaud commented on #14178
I was thinking we are closed to v7 but it seems a lot of things are broken - https://github.com/hipster-labs/jhipster-daily-builds
Need to wait before release v7...

[2021-03-18 15:02] DanielFran commented on #14178
@pascalgrimaud I am confident the update to spring-boot 2.4.4 will fix it. It seems the issue started after I pushed the override of neo4j to 6.0.6...

[2021-03-18 15:04] atomfrede commented on #14381
You mean e.g. during generation or just a property in `application.properties` which is used in generated `SecurityConfiguration`?

[2021-03-18 15:21] ko5tik commented on #14381
I would say  in generated `SecurityConfiguration` -  do not see how it is going to be picked up from` application.properties` - `ContentSecurityPolicyHeaderWriter`  does not look there

[2021-03-18 15:34] atomfrede commented on #14381
Yes, I mean generate it hard coded and e.g. let the user enter a custom header during generation which will complicate the generator even more or just change the configuration to read a to be defined property so you can change it later via a property (with all the benefits, e.g. environment overwrite).

[2021-03-18 16:25] mshima commented on #14285
Current failure seem related to an outdated npm version, where it fails to resolve peer dependencies to the same package with different ranges.
I've created https://github.com/oktadeveloper/ionic-jhipster-starter/pull/52 with webpack resolved instead of letting npm resolve it.

[2021-03-18 16:47] DanielFran commented on #14178
@pascalgrimaud In fact, looking now at the chronology of the merges, it might be that the issue started when it was merged https://github.com/jhipster/generator-jhipster/pull/14365 or https://github.com/jhipster/generator-jhipster/pull/14364

I already take a look and did not identify what could be the issue...

[2021-03-18 17:02] ko5tik commented on #14381
Something like:
[code]

)

[2021-03-18 17:36] mraible commented on #14178
I tried creating a new cluster on GCP with bigger machines.

[code]

Then, I ran `./kubectl-apply.sh -f` and deployed. For some reason, it seems there's an issue pulling my images.

[code]

I tried `kubectl delete pod blog-69c885659-44phh` (and others), then running `./kubectl-apply.sh -f` again, but no luck. 🤷‍♂️

[2021-03-18 17:39] mshima commented on #14178
The problem is with mysql, not sure if the driver or the docker image.
Every test that I've looked at has mysql server.

[2021-03-18 17:47] DanielFran commented on #14178
Image has been updated 10 days ago, so it cannot be that.
I was thinking about the driver but did not found what commit would be the origin of the issue...

[2021-03-18 18:12] mraible commented on #14178
Does anyone know how to enable HTTPS on my apps that are deployed to GCP? I have everything running, but it's all over HTTP, which won't work with Okta.

[2021-03-18 19:08] mshima commented on #14178
@DanielFran I've triggered an old [commit](https://github.com/jhipster/generator-jhipster/commit/ad0b6e60a84a360b6773c37aaa9112017a64416b) that succeed and if [failed](https://github.com/jhipster/generator-jhipster/runs/2142047163) with the same error.
It should be related to jhipster-bom or an outside problem.

[2021-03-18 19:55] 62mkv commented on #14157
also "sharedOptions" and "commands" CLI customisations for blueprints need to be covered in the docs; I could not find any example of actual blueprints using those (I could find one for commands, probably). The PR that added those capabilities was: https://github.com/jhipster/generator-jhipster/pull/11337 by @mshima

[2021-03-18 20:03] mraible commented on #14178
I figured out how to do HTTPS for my K8s cluster with @saturnism's [external load balancing guide](https://spring-gcp.saturnism.me/deployment/kubernetes/load-balancing/external-load-balancing). Now that I've deployed everything successfully, I'm 👍 for releasing JHipster 7!

Of course, I created my apps last night, so recent changes might've broken things. :)

[2021-03-18 20:05] pascalgrimaud commented on #14178
Ok, I'll ask a code freeze in the mailing list so let few days for daily builds

[2021-03-18 20:27] mshima commented on #14157
The PR your are mentioning is used by dotnetcore. https://github.com/jhipster/jhipster-dotnetcore/blob/eb9b1d59395f5d851ee693bce2a45659f924623f/generators/utils.js#L115-L121

sharedOptions AFAIK it's not used, but it was implemented to customize configuration before `app` had blueprint support.
with `app` blueprint/sbs-blueprint support, it became `useless`.
Custom commands support, I think it exi

[2021-03-18 20:45] 62mkv commented on #14157
Thanks!
Can blueprint write to '.yo-rc.json' as well, from prompting phase?
And what storage + API would you suggest if that blueprint config were to be defined per entity? .jhipster/entity.json ? I am not sure if "main" and "blueprint" generators could/should share configuration files...
--
Sent from Mail.ru app for Android Thursday, 18 March 2021, 10:27pm +02:00 from Marcelo Shima  ***@***.*** :

[2021-03-18 21:08] mshima commented on #14157
Sure, but you should use generator apis, no `require('fs')` apis, since the file should be manipulated at mem-fs only.
`this.jhipsterConfig.foo = 'bar'` will write `{"generator-jhipster": {foo: "bar}}`
While `this.blueprintConfig.foo = 'bar'` will write `{"generator-jhipster-my-blueprint-name": {foo:"bar"}}`
They can be used anywhere and anytime, and will be committed to disk only at `conflicts` p

[2021-03-19 01:25] mraible commented on #13461
I believe!

[2021-03-19 01:25] mraible commented on #13755
@atomfrede is working on this.

[2021-03-19 09:35] akinmail commented on #9626
To resolve this, create a file properties file, `applications-boxfuse.properties` file in the resources/config folder and copy the contents of `applications-prod.properties`

[2021-03-19 11:35] avdev4j commented on #14271
hi @FrancescoMez79
I guess you are talking about that: https://github.com/jhipster/generator-jhipster/issues/13901

Unfortunately, this is not supported now, we have some plans for the next major version of JHipster (after the v7) but not now.

You can take a look at the Entando blueprint if you want, we did it in some way. https://github.com/entando/entando-blueprint/blob/master/generators/entity

[2021-03-19 15:53] mraible commented on #14178
I was able to get HTTP -> HTTPS working on my K8s cluster using the following code.

[code]

[2021-03-19 16:12] mshima opened #14387 "Expose public api."
##### **Overview of the feature request**

We currently have the following notice in [modules](https://www.jhipster.tech/modules/creating-a-module/) and [blueprints](https://www.jhipster.tech/modules/creating-a-blueprint/) about our public api:
[code]
And usage:
[code]

With **https://github.com/jhipster/generator-jhipster/pull/14367** our constants and many of our generators are available as:
[co

[2021-03-19 17:24] avdev4j commented on #11398
@mshima
Do we have some documentation on this feature's usage? I can't find one.

thanks

[2021-03-19 19:43] qmonmert opened #14388 "[Angular] Navbar not correctly updated when entity is created/updated"
When I add an entity `jhipster entity strava`, `navbar.component.html` is not updated with the link to the list of stravas

##### **Overview of the issue**

Navbar not updated

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create an Angular app
Add an entity

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

main branch

##### **JHipster confi

[2021-03-19 19:44] mshima commented on #11398
@avdev4j it should be just enable with `--incremental-changelog`.
It supports:
- create/remove fields.
- create/remove relationships.

Doesn't supports:
- Any attribute change like type and constraints.
- `jhipster jdl --fork`.

Those limitations should be documented.
And some more at https://github.com/jhipster/generator-jhipster/pull/12238#issuecomment-691517124.

Not sure were to put.

[2021-03-19 19:48] mshima commented on #13996
Closing since 2 core developer were unable to reproduce and CI is passing.

[2021-03-19 19:48] #13996 closed

[2021-03-19 20:20] pascalgrimaud commented on #14271
For me, an entity without a database can't be called as entity.

[2021-03-19 20:37] mraible commented on #14326
I created an app with the current `main` branch and your `.yo-rc.json`. Then, I ran:

[code]

I can confirm this is indeed an issue.

[code]

I tried adding this:

[code]

And it fixes it!

[code]

Can you please create a PR with this fix?

[2021-03-19 20:39] mraible commented on #14381
@ko5tik Can you create a PR with this proposed change?

[2021-03-19 21:05] qmonmert commented on #14388
@mshima you reproduce?

@pascalgrimaud doesn't reproduce

[2021-03-19 21:20] mshima commented on #14388
Duplicated `navbar.component.html` entries yes.
[code]

Not adding entities to `navbar.component.html` no.

[2021-03-19 21:22] mshima commented on #14388
The problem is that we always test the entire needle, so a prettier change can make our regex to fail.
IMO we should start adding ids to needles and test the id.

[2021-03-20 06:58] murdos commented on #14271
I think that in an hexagonal architecture, you may have entity that are

[2021-03-20 08:37] pascalgrimaud commented on #14388
I can reproduce the issue, described by @mshima
I'm adding a bounty on this, in case of someone wants to fix it.
I'm preparing the other stuff before having a look on this ticket.

[2021-03-20 09:14] ko5tik commented on #14381
Hi Matt, already on it.

[2021-03-20 10:13] mshima commented on #14388
On it.

[2021-03-20 10:48] qmonmert commented on #14388
@mshima ok 👍

[2021-03-20 11:51] mshima commented on #14388
Fix is implemented at https://github.com/jhipster/generator-jhipster/pull/14391.

I need to add regression tests for duplicated needles, since we always have problems with those needles.
I don't think it will be included for JHipster 7 release. It's a regression test anyway.

[2021-03-20 14:40] pascalgrimaud commented on #14388
@mshima : should we keep this opened or not, as https://github.com/jhipster/generator-jhipster/pull/14391 has been merged ?

[2021-03-20 15:27] mshima commented on #14388
@pascalgrimaud keep open I am writing some more tests for duplicated needles.

[2021-03-20 16:26] pascalgrimaud commented on #14363
Not sure it is needed, with jhipster v8
I have some other ideas I'll share to the team soon :)

[2021-03-20 16:30] pascalgrimaud commented on #13835
keep it opened

[2021-03-20 18:56] #14388 closed

[2021-03-21 03:01] mraible commented on #13531
☘️

[2021-03-21 06:45] #14326 closed

[2021-03-21 07:41] pascalgrimaud commented on #13796
Ping @Tcharl again
Can you have a look at my comment plz ? https://github.com/jhipster/generator-jhipster/issues/13796#issuecomment-771131452

Following this https://github.com/jhipster/generator-jhipster/pull/14395 from @vishal423 I think we should split clearly back/front and only mixte both tests during the final packaging -Pprod

[2021-03-21 08:26] pascalgrimaud commented on #14178
Closed by:
- https://www.jhipster.tech/2021/03/21/jhipster-release-7.0.0.html
- https://github.com/jhipster/generator-jhipster/releases/tag/v7.0.0

[2021-03-21 08:26] #14178 closed

[2021-03-21 10:06] atomfrede commented on #14178
Thanks @pascalgrimaud and everyone of the team. It's a pleasure to work with you! When will we have our virtual drink? 🍻 😁

[2021-03-21 10:07] pascalgrimaud commented on #14178
We should organize it, and discuss about v8 :-)

[2021-03-21 10:46] Tcharl commented on #14363
I don't know what you plan, so it's difficult to confirm/infirm ^^.
However, it's a very good news that you plan to improve the developper experience (particularly the custom code one)

This story can represent a quick win for V7 at least: it doesn't modify nothing: it only improves the developer xp. Also, I don't know how to implement it but it seems to be very simple to achieve

[2021-03-21 14:26] Tcharl commented on #13796
Sure, we should stick to maven lifecycle as long as we can!

The thing with maven is that we also produce the resulting binary, so we have to be sure that front-end is also working well before packaging the whole stuff.

The profile will help for sure but I would prefer to have a -PdisableWebapp (or -webapp) that should be explicitly set at least for packaging (otherwise some of our users will be

[2021-03-21 14:43] pascalgrimaud commented on #14363
Sure, v7 will live, and v8 is not for tomorrow :-)
If it can help for v7, let's do it

[2021-03-21 14:59] largowich opened #14398 "how to connect mongobee?"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker, if your issue is not a **bug** or **feature request** then sorry you are not in the right place :wink:.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This will help the project to keep a clean issue tracker

[2021-03-21 16:26] amitkurud opened #14402 "Not Able to generate application with following settings"
##### **Overview of the issue**
When I try to generate application with follwing settings I get error
Unhandled promise rejection at:
TypeError: Cannot read property 'push' of undefined
##### **Reproduce the error**
`? Which *type* of application would you like to create? Gateway application
? What is the base name of your application? jhi
? As you are running in a microservice architecture, on wh

[2021-03-21 17:19] CGarces commented on #13941
Hi @mraible another option is add image compression on PRs instead of activate a boot at repository level.

You can made your own yaml workflow and send a PR to jhipster.github.io

See:
https://github.com/calibreapp/image-actions
https://github.com/marketplace/actions/image-actions

[2021-03-21 17:33] #14398 closed

[2021-03-21 18:49] swarajsaaj opened #14404 "[react] Entity listing table has an extra column for id"
##### **Overview of the issue**

Entities generated using client as react have an extra duplicate column `<td>` for ID
For reference, ID is being rendered twice and title column is distorted
![image](https://user-images.githubusercontent.com/6285049/111916937-54af2980-8aa3-11eb-8566-516ec88e586b.png)

##### **Motivation for or Use Case**

The layout looks distorted/skewed

##### **Reproduce the er

[2021-03-21 22:01] azeerman opened #14406 "[monolith] NullPointerException when accessing h2disk database after upgrade to 7.0.0 even with empty project"
##### **Overview of the issue**
When trying to create an entity a get an 500 error,

##### **Motivation for or Use Case**

Unable to access h2 console

##### **Reproduce the error**
2021-03-21 22:57:33.729 ERROR 55118 --- [  XNIO-1 task-1] o.z.problem.spring.common.AdviceTraits   : Internal Server Error

java.lang.NullPointerException: null
	at io.undertow.servlet.spec.HttpServletRequestImpl.getHt

[2021-03-21 22:08] mraible commented on #14406
Can you please include the contents of your `.yo-rc.json` file so we can try and reproduce the problem?

[2021-03-21 22:18] azeerman commented on #14406
@mraible Done, thanks for your check.

[2021-03-22 07:26] EnziinSystem commented on #13835
Me too.

[2021-03-22 13:55] krystalmonolith commented on #13835
Still Happening.

On Mon, Mar 22, 2021 at 3:26 AM Enziin System Inc. ***@***.***>
wrote:

[2021-03-22 16:22] pascalgrimaud opened #14415 "Reactive + TLS application"
##### **Overview of the issue**

When starting the application with profile `tls`, there are a lot of warning like this:

[code]

##### **Motivation for or Use Case**

It's not nice to have all these warnings in logs

##### **Reproduce the error**

- generate a Reactive application
- start with tls profile

##### **Related issues**

Seems similar to https://github.com/netty/netty/issues/8252

####

[2021-03-22 16:34] deepu105 opened #14416 "Ability to skip layers and REST methods"
Currently for an entity we generate the clinet side, REST resource, service, and Repository layers and for every entity we also create CRUD + Partial update methods. This is is good for many usecases but wen you are trying to build some minimal services or microservices, there is a lot of boilerplate.

Since we do everything with templates, its quite easy for us to skip layers or parts altogether

[2021-03-22 16:45] pascalgrimaud commented on #14416
My idea would be to have different sub generators:
- domain : it will create a domain object, like it's done in an Hexagonal Architecture
- service: related to domain
- entity: it will create the `@Entity` with repository, with mapper domain <-> entity
  - entity-sql
  - entity-mongodb
  - entity-cassandra
  - etc.
- resource: it will create the resource, according to your config
  - resource-mvc

[2021-03-22 16:46] MathieuAA commented on #14416
Hello Deepu! This solution could work but instead of skipping, I'd rather take the opposite approach (the rails one): select what should be generated instead of what should be skipped.
I have to assume users know what is generated and also know what they don't want.
For the users who want the "whole package", I guess the skipping could be useful.

[2021-03-22 16:46] pascalgrimaud commented on #14416
I'm faster than you @MathieuAA :beers:

[2021-03-22 16:55] deepu105 commented on #14416
Hey both, yes that was my first thought as well, but then I started thinking about our average users who want us to provide an opinionated defaults. What you are suggesting would be good for power users and senior devs, but for someone using JHipster to learn or to quickly get something with all bells and whistles, it would be lot of friction for them to pick and choose everything.

IMO, the succe

[2021-03-22 17:05] PierreBesson commented on #14415
I think this is probably because one of the client of app is trying to access an HTTPS only endpoint. My guess is that it could be a Kubernetes liveness/readiness probe or maybe a Consul probe which is not configured correctly (I know that you use Consul :smile:).

[2021-03-22 17:19] pascalgrimaud commented on #14415
@PierreBesson : the app here is a local application, which is not deployed. And the stacktrace appears when I access to my local application with Chrome

[2021-03-22 17:36] pascalgrimaud commented on #14416
Yes, the goal would be to keep the behavior like today, and it should not change :
- generate the full application with these options by default

Only, the internal stuff must change:
- splitting entity-server sub generator into smaller sub generators
- we already did the work with entity-client, entity-i18n, etc, but IMO, it's not enough
- having this kind of template is impossible today to maint

[2021-03-22 17:38] DanielFran commented on #14416
We should the behaviour as is today in V7, and maybe switch only in V8 with the 'hexagonal' approach

[2021-03-22 17:43] pascalgrimaud commented on #14416
no need to wait v8, it can be done progressively. I already have small sub generators:
- init project : it generates default files like gitignore, editorconfig, package.json with prettier etc
- maven: add wrapper, init default pom.xml etc
- spring boot: add minimal spring boot dependencies

By composing these 3 sub generators, it's similar to what we can have with Spring Initializr, but it's bette

[2021-03-22 17:46] mshima commented on #14416
By the way this is already somewhat supported.
Since dto and service are disabled by default this should work:
[code]

[2021-03-22 19:06] mshima commented on #12178
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/36634

[2021-03-22 19:07] mshima commented on #14388
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/36635.

[2021-03-22 19:13] PierreBesson commented on #14415
Can you try `curl http://localhost:8080` vs `curl https://localhost:8080` to see if the former cause this error ?

I think it should not happen in production as browsers rarely try to access port 443 with plain http.

[2021-03-22 19:14] pascalgrimaud commented on #14388
@mshima : approved

[2021-03-22 19:43] PierreBesson commented on #14415
@pascalgrimaud Can you try to add `security.require-ssl=true` ?

[2021-03-22 20:08] deepu105 commented on #14416
Yes I know about those, well I added those originally 😜, but this is to
take it even further so that we can do the same for other layers as well.
Probably this is in line with what Pascal has in mind as well. So lets wait
for his full proposal.

On Mon, 22 Mar 2021, 6:47 pm Marcelo Shima, ***@***.***>
wrote:

[2021-03-22 20:11] pascalgrimaud commented on #14415
Will try tomorrow on real app :-)

[2021-03-22 20:16] pascalgrimaud commented on #12178
@mshima : approved

[2021-03-23 01:01] mraible commented on #13941
@CGarces Any chance you could create a PR for this?

[2021-03-23 04:58] #14402 closed

[2021-03-23 05:33] pascalgrimaud commented on #14415
Here my information

[code]

I think we have this warning only when the certificate is self signed.

[2021-03-23 06:52] pascalgrimaud commented on #13650
keep it

[2021-03-23 08:24] CGarces commented on #13941
I'll try on the weekend.

[2021-03-23 14:25] Delirante commented on #10031
Quick solution in generated code from jhipster is possible. For generation tool don't know.
In method ObjectQueryService.createSpecification (which is generated by jhipster) replace this part of code:
`        Specification<Object> specification = Specification.where(null);`
with this:
`        Specification<Object> specification = (root, query, cb) -> {
            query.distinct(true);

[2021-03-23 17:31] jaanusnurmoja opened #14433 "additional modules list missing when installing a new jh7 project"
##### **Overview of the issue**

Other modules list shows only Kafka module when installing a new jh 7 project.
![image](https://user-images.githubusercontent.com/1138055/112190774-fc486b00-8c0d-11eb-80f7-ee02c0c37b85.png)

##### **JHipster Version(s)**

7.0.0  There was no such issue with earlier version(s)

- [ x] Checking this box is mandatory (this is just to show you read everything)

[2021-03-23 17:32] mraible commented on #14433
What modules are you expecting to be listed? It's possible they haven't been updated to support v7.

[2021-03-23 17:59] mraible commented on #13733
I tried this again today with JHipster 7.0.0 and Spring Native 0.9.1. For the Spring Boot Maven Plugin's configuration, I used:

[code]

This still fails with the DataSize error:

[code]

I added the `--initialize-at-build-time=org.springframework.util.unit.DataSize` flag to the config and tried again. It builds:

[code]

... but doesn't run.

[code]

[2021-03-24 03:07] EnziinSystem opened #14436 "Error looking for otherEntity User"
I use JHipster 7.0.0 with JDL file:
[code]
This is a simple models:
User has many Book
Book has many Chapter

The error message:
[code]

[2021-03-24 07:56] krmahadevan commented on #14352
@Tcharl - My apologies for the really delayed response to your question.

I am a bit new to both mapstruct as well as JHipster as well. So please bear with me if the question sounds a bit naive.

Are you suggesting that I should always try to build the `List<ChildDTO>` for a particular `FatherDTO` by iterating through all the `ChildDTO` and then keeping this map somewhere outside ?

Just for the s

[2021-03-24 14:42] mshima commented on #14404
@swarajsaaj can you create the PR with the fix?

[2021-03-24 14:46] #14381 closed

[2021-03-24 15:07] mshima opened #14441 "Improvements to cypress implementation."
##### **Overview of the issue**

While doing some work related to https://github.com/jhipster/generator-jhipster/issues/14103.
I've found some problems and improvements that we could make in our cypress implementation.

- Our tests could reduce roundtrips eg:
  - First test executes go to main page -> open menu -> go to entity page -> do some checks.
  - Every other test executes the first test +

[2021-03-24 16:15] ndjordjevic commented on #13885
I'm getting the following error during the project upgrade to JHipster 7.0.0. Any idea what's wrong?

[code]
I have 1-1 rel between firm and worker (1 firm has one director (worker)) and many to one between workers and firm... Many workers work for one firm.
No problems generating that model from a JDL file with a 6.10.5 version

[2021-03-24 17:12] deepu105 opened #14444 "Remove noisy logs in dev profile"
##### **Overview of the feature request**

With JH7 the dev profile log have become quite noisy. There are many debug logs now. lets audit and change levels

Some samples

[code]

[2021-03-24 18:37] gmarziou commented on #13885
@ndjordjevic as this was supposed to be fixed, I suggest you open a new issue and you include the JDL file. Does it happen only during upgrade or can you reproduce it with a fresh project in 7.0?

[2021-03-24 18:57] mshima commented on #13885
JDL always generate bi-lateral relationships.
[code]
implies:
[code]

Having 2 relationships from Worker with firm name can cause this error.

[2021-03-24 19:06] chrishavekost commented on #13774
@vishal423 and @DanielFran are correct, `availity-reactstrap-validation` is not actively developed by Availity anymore. I can merge the PR to unblock you, but I recommend switching to `@availity/form` and other packages inside the `availity-react` repo if possible. We have a [migration guide here](https://github.com/Availity/availity-react/blob/master/packages/form/MIGRATION.md). The components ar

[2021-03-24 19:36] ndjordjevic commented on #13885
JDL I have regarding those two entities looks like this:

relationship OneToOne {
    Firm{director} to Worker
}

relationship ManyToOne {
    Worker{firm} to Firm,
}

[2021-03-24 22:26] Adri-Glez opened #14445 "[Gateway] Version 7.0.0 Don't login correctly with oauth2"
##### **Overview of the issue**

I create a empty gateway project with the last release of Jhipster 7.0.0 with oauth2 keycloak authorization. It starts without errors but the restricted/secured area don’t works. I login to the admin user but after that the browser redirect to  this url  http://localhost:8098/login?error with this json error:
[code]
In the console only appears this warn messages:
[

[2021-03-25 03:47] mraible commented on #14445
I deleted all my local Docker containers and created a gateway with your config. After creating the app, I launched Keycloak and JHipster Registry with [Oh My Zsh shortcuts](https://www.jhipster.tech/oh-my-zsh/):

[code]

I'm able to log in and access the admin sections.

<img width="1141" alt="Screen Shot 2021-03-24 at 9 46 12 PM" src="https://user-images.githubusercontent.com/17892/112415952-646

[2021-03-25 03:53] #14445 closed

[2021-03-25 14:20] ndjordjevic commented on #13885
Also it's not just when Im upgrading the app, it's the same with a newly created one.. So I think this should be re-opened

[2021-03-25 16:29] mshima commented on #13885
@ndjordjevic for now you need to add a back name to fix the conflict:
[code]

[2021-03-25 21:18] MathieuAA commented on #13305
Frankly if the PR #14461 is for this issue, I'm against it. cc @mshima for the same reasons @pascalgrimaud explained.

[2021-03-25 21:26] gmarziou opened #14462 "JDL parsing error on rememberMeKey while importing"
##### **Overview of the issue**

With JHipster 7, I generated a monolith with session auth then exported the JDL, created a new directory and imported the JDL: it fails at parsing `rememberMeKey`

Import the JDL, parsing fails on `rememberMeKey`

[code]

##### **Motivation for or Use Case**

It should work.

##### **Reproduce the error**

[code]

  <details>
  <summary>Here is the JDL</summary>

[2021-03-25 21:29] pfrumau opened #14463 "7.0.0 liquibase loaddata no longer works for clob type"
##### **Overview of the issue**

After migrating to 7.0.0 (and also when generating a clean app):
Any data in loadData in liquibase changelog of type clob ( `../fake-data/blob/` ) will fail, and result in row not inserted in database. No errors are thrown, data is just not loaded.

For example:
[code]
Will result in no rows added in database

I use postgresql for dev and prod profiles.

##### **Mo

[2021-03-25 21:35] MathieuAA commented on #14462
Looking into it

[2021-03-25 21:42] gmarziou commented on #14462
Thanks cause I have no idea how the parser works :)

[2021-03-25 21:45] MathieuAA commented on #14462
I think I know why... it's funny because jwtSecretKey can be read, but not this option.
There's a list of accepted tokens the parsed knows about and uses to consume what's inside a JDL file.
Here, the rememberMeKey option isn't allowed. That must be why.

I'm writing a test for it and fixing it.

[2021-03-25 21:59] mshima commented on #13305
@MathieuAA I didn't implemented to fix this issue, but for:
1. Reduce generated code.
2. If a back-reference will not be used, it useless increases complexity of the application and is more error prone.
Quoting @gzsombor at https://github.com/jhipster/generator-jhipster/issues/13885:
[code]
3. Avoids unnecessary conflicts like:
[code]

I would implement a blueprint to remove back references for pe

[2021-03-25 22:04] mshima commented on #13305
And according to the documentation https://www.jhipster.tech/managing-relationships/ unidirectional ARE supported.

https://www.jhipster.tech/managing-relationships/#a-unidirectional-many-to-one-relationship
https://www.jhipster.tech/managing-relationships/#a-unidirectional-one-to-one-relationship

So IMO this should be provided by default, not only optional like the PR implements.

[2021-03-26 02:33] henri-tremblay commented on #13604
Still valid!

[2021-03-26 05:35] swarajsaaj commented on #14404
Yes @mshima I 'll provide a PR soon

[2021-03-26 08:54] krmahadevan commented on #14352
@pascalgrimaud - I noticed that you have added the label "needs-reproduction". Can you please let me know if i need to add any additional context to clarify my ask. I will add them accordingly.

[2021-03-26 09:17] pascalgrimaud commented on #14352
@krmahadevan : I put this label, waiting someone else to have a look and reproduce the issue :-)

[2021-03-26 09:18] #14462 closed

[2021-03-26 09:22] krmahadevan commented on #14352
Ah ok. @pascalgrimaud - Incase anything additional is needed from my side, please let me know.

[2021-03-26 10:28] Tcharl commented on #14416
So what should be the list of filters?

[code]

Something else? If so please copy paste and complete the list!

[2021-03-26 10:43] Tcharl commented on #14271
Can't we just generate a `List<DTO>` at the service level in this situation? I guess there's also no need for mapper and repository in this case

[2021-03-26 11:35] mshima commented on #14352
This bug happens with JHipster v6.
No additional v6 release is planned.

[2021-03-26 11:53] krmahadevan commented on #14352
@mshima - So if I use [JHipster 7.0.0](https://www.jhipster.tech/2021/03/21/jhipster-release-7.0.0.html) I should be able to circumvent past this problem ?

[2021-03-26 12:32] MathieuAA commented on #13305
It can easily be done at JDL level.

I agree unidirectional rels are supported, I'm not saying the opposite :) do keep in mind that I very probably wrote the doc you're referencing ;)
The main reasons unidirectional relationships are supported is because there are many use cases where it's the right way to model relationships. The same goes for bidirectional ones BTW.
The last time I checked there

[2021-03-26 15:44] Adri-Glez commented on #14445
Thanks Matt,

I tried launching the register with Docker and locally with the environments settings that you suggest.  Thanks to it, I get  a error about the expired certificate with more information than with my gateway application, I found that the dateTime of the machines in the Windows Docker was wrong and different that the windows host, I update Docker and change some configurations, after t

[2021-03-26 16:37] mshima commented on #13305
It doesn't actually fixes the this issue, but adds a way to workaround it by changing from:
[code]
to:
[code]

- At jhipster 6 we had flatten relationships, so Drug had the fields from Notice in its model.
- At jhipster 7 Drug imports Notice model, with `skipClient Notice` Notice model is not generated 💥 .
- By dropping Drug to Notice back reference, Drug will stop importing Notice model and the b

[2021-03-26 21:03] buyukim commented on #14406
Getting the same issue when trying to access H2-Console on a bare project with JHipster 7.

Looks like the version of Undertow used with JHipster 7 needs updated.  Undertow has fixed the NPE defect on the master branch:
https://github.com/undertow-io/undertow/blob/master/servlet/src/main/java/io/undertow/servlet/spec/HttpServletRequestImpl.java#L253

Here is my yo-rc:
`{
  "generator-jhipster": {

[2021-03-27 08:08] kaidohallik opened #14473 "Module hooks are not working in 7.0.0"
##### **Overview of the issue**

JHipster can have module hooks in file `.jhipster/modules/jhi-hooks.json`.
A few months ago I updated some modules to JHipster version v7.0.0-beta.0 and module hooks were working then.
Now I updated those modules to JHipster version v7.0.0 (using current `main` branch) and module hooks are not working any more.

When module called by hook first time runs Yeoman mem

[2021-03-27 09:56] pascalgrimaud commented on #13642
keep it

[2021-03-27 09:58] pascalgrimaud commented on #14441
I'm changing the label, as it's more an improvement than a bug :)

[2021-03-27 09:59] pascalgrimaud commented on #14473
Adding a bounty as it's a bug and needed to be fixed at the same time than upgrading the module to v7

[2021-03-27 10:01] pascalgrimaud commented on #14441
Reading your ticket, one thing which is important, is to be able to execute the test alone. That explains why there are some repetitive steps

[2021-03-27 10:03] pascalgrimaud commented on #14433
It's simply because the modules need to be upgraded for supporting JHipster v7, and be tagged with `jhipster-7`

See the module, maintained by @fdelbrayelle : https://github.com/fdelbrayelle/generator-jhipster-kafka/blob/master/package.json#L10

[2021-03-27 10:12] pascalgrimaud commented on #13862
keep it

[2021-03-27 10:25] pascalgrimaud commented on #14406
I confirm the issue and add a bounty on this

[2021-03-27 10:30] pascalgrimaud opened #14474 "Vue: npm start doesn't refresh correctly"
##### **Overview of the issue**

When using `npm start` with Vue application, the page is not correctly refreshed when changing the code

##### **Motivation for or Use Case**

`npm start` should work fine

##### **Reproduce the error**

- generate a Vue application
- start the app
- start with `npm start`
- change home.vue for example -> it doesn't refresh automatically, you need to manually refre

[2021-03-27 10:34] vishal423 commented on #14473
I also encountered an issue while upgrading the `svelte` blueprint. I noticed an issue of `this.configOptions.sharedEntities.User` (defined inside `bootstrap` sub-generator) not being available in `server` sub-generator. For time being, I work around by copying the code from `bootstrap` sub-generator, but, would like to check if that's necessary or an issue in code over here.

[2021-03-27 10:58] pascalgrimaud opened #14475 "Reactive: user and authorities"
##### **Overview of the issue**

When using a Reactive application, the API doesn't get the authorities

![appreactive_authorities](https://user-images.githubusercontent.com/9156882/112718452-5fc6e700-8ef3-11eb-9975-908ed68a4850.png)

[code]

##### **Motivation for or Use Case**

The behaviour should be the same between MVC and Reactive

##### **Reproduce the error**

- generate a Reactive applica

[2021-03-27 11:03] pascalgrimaud opened #14476 "Reactive: strange swagger"
##### **Overview of the issue**

When using a Reactive application, the generated swagger is really strange

![reactive_swagger_1](https://user-images.githubusercontent.com/9156882/112718558-20e56100-8ef4-11eb-9662-b2c023e5dff5.png)

![reactive_swagger_2](https://user-images.githubusercontent.com/9156882/112718560-22af2480-8ef4-11eb-9a33-85e571c40878.png)

##### **Motivation for or Use Case**

The

[2021-03-27 11:24] pascalgrimaud commented on #13774
I don't known if it's related to this ticket, but there are a lot of warnings when using React application:

[code]

[2021-03-27 11:31] pascalgrimaud commented on #14463
@pfrumau : I edit your configuration and put this value `YourJWTSecretKeyWasReplacedByThisMeaninglessTextByTheJHipsterInfoCommandForObviousSecurityReasons` for jwtSecret. Because it's annoying when using your configuration, the jwtSecret is not correct and it makes us to lost time when trying to reproduce, because the generated project is not correct
Better solution would be to simply use `jhipste

[2021-03-27 11:39] mshima commented on #14473
@kaidohallik is there a way to reproduce the problem?
Are you using `jhipster run` instead of `yo`?

[2021-03-27 13:35] kaidohallik commented on #14473
@mshima I created draft PR for entity audit module: https://github.com/hipster-labs/generator-jhipster-entity-audit/pull/164

Steps to reproduce with this branch:
* generate application with JHipster
* link generator-jhipster-entity-audit from this branch
* link generator-jhipster-entity-audit in generated application
* run `yo jhipster-entity-audit` - all is working fine, entity audit support is

[2021-03-27 14:47] deepu105 opened #14479 "Microservices with Istio on Kubernetes is broken"
##### **Overview of the issue**

Seems like microsevices with Istio on Kubernetes is broken after v7. It was working until v7.0.0-beta.1. Seems like the new Reactive only gateway is the culprit as v7 beta 1 still had Zuul gateway. I haven't tested non Istio microservices yet.

Ping @PierreBesson @srinivasa-vasu

##### **Motivation for or Use Case**

##### **Reproduce the error**

Try this app for

[2021-03-27 15:09] chrisdns commented on #14475
I will check this :+1:

[2021-03-27 15:38] mraible commented on #14479
I tried deploying the reactive-ms JDL from samples to GCP with Kubernetes right before the release and it worked fine. I did not use Istio though.

[2021-03-27 16:58] pascalgrimaud commented on #14475
Thanks @chrisdns

[2021-03-27 17:32] kaidohallik opened #14482 "Editing user in Reactive application fails"
##### **Overview of the issue**

If trying to edit and save user in Reactive application then error occurs and user is not saved.
Tried to change first name from **User** to **User 2**.
Stack trace:
[code]

##### **Motivation for or Use Case**

It should be possible to edit users also in Reactive application.

##### **Reproduce the error**

* Generate application
* Run application in `dev` profile

[2021-03-27 17:39] DanielFran commented on #14463
Confirmed, also happening with Angular:

INFO! Using JHipster version installed locally in current project's node_modules
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "authenticationType

[2021-03-27 17:42] DanielFran commented on #14463
JDL file:

[code]

[2021-03-27 18:02] pascalgrimaud commented on #14482
Adding a bounty on this bug

[2021-03-27 18:03] #14473 closed

[2021-03-27 18:07] #14474 closed

[2021-03-27 18:31] qmonmert commented on #14474
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/37020 :)

[2021-03-27 18:33] mshima commented on #14473
@kaidohallik thanks for the example.
Let me know if there is any other problem.

[2021-03-27 18:35] kaidohallik commented on #14473
@mshima just tested and working fine, thanks a lot for fixing this so quickly!

[2021-03-27 19:00] fdelbrayelle commented on #14433
Yep I've already test the Kafka module with the `7.0.0` and everything works fine! :rocket:

[2021-03-27 19:05] pascalgrimaud commented on #14474
@qmonmert : approved

[2021-03-27 21:47] mshima commented on #14463
Using H2 the issue doesn't happens.
Seems a liquibase upstream bug.

[2021-03-27 22:26] DanielFran commented on #14463
Yes, seems in liquibase side.

I try to use some previous version, but did not yet found the latest version where it was working....

@nvoxland seems that it was not yet reported

[2021-03-28 03:03] VergilSkye opened #14488 "Swagger authtentication is broken"
##### **Overview of the issue**

In the v7 version the swagger-ui doesn't have autentication and make unauthorized request.
When open by the _Adminstration_ tab and select **API** will open the API documentation (the user is already login in the app and have the ROLE_ADMIN)

when i try to use any endpoint i have the following response
[code]

##### **Motivation for or Use Case**

swagger must work

[2021-03-28 03:06] mshima commented on #14488
Should be fixed by https://github.com/jhipster/generator-jhipster/pull/14443.

[2021-03-28 03:08] vitoraasouza opened #14489 "Strings starting with upper and lowercase letters are not correctly sorted in entities pages"
##### **Overview of the issue**

When we try to sort the entries of an entity by a String field, the Strings starting with uppercase letters come before the ones starting with lowercase letters.

![Screenshot from 2021-03-27 23-33-16](https://user-images.githubusercontent.com/18122521/112740707-a6e5c400-8f55-11eb-9483-852393262eec.png)

##### **Motivation for or Use Case**

The sorting should resp

[2021-03-28 03:23] VergilSkye commented on #14488
thanks, with this change my swagger is functional.
@mshima someone report when you run the ```npm start``` command it's opening port **9000** on browser and it should be port **4200**?

[2021-03-28 03:42] mshima commented on #14488
@VergilSkye 9000 is browser sync while 4200 is ng serve.
I know a problem that `ng build` wrongly runs browser sync.

[2021-03-28 03:52] VergilSkye commented on #14488
Thanks for the info, so my browser sync it's broken, only 4200 it's working on the moment,i will investigate tomorrow and make a separate issue, For this one it's already close :)

[2021-03-28 07:31] atomfrede commented on #13390
Keep it open.

[2021-03-28 07:41] pascalgrimaud commented on #14488
@VergilSkye : we did this fix yesterday for Vue https://github.com/jhipster/generator-jhipster/pull/14478
Maybe there is the same issue for Angular?

[2021-03-28 07:43] pascalgrimaud commented on #14488
Reopening this ticket as the PR is not merged yet

[2021-03-28 12:44] #14406 closed

[2021-03-28 13:23] VergilSkye commented on #14488
no, it's not the same issue i think.

in my generated project, I changed the _auth-jwt.service.ts_ file line 24 and 25

[code]
to
[code]
and in the file _app.module.ts_ line 44 i changed
[code]

to

[code]

these changes were copied from commit #14443

so i think the  #14443 should fix this problem,

[2021-03-28 14:32] VergilSkye commented on #14488
So i'm make a dummy project for a interview process with swagger and websocktes,
I verified that the websockets are not working either because of the jwt token. I modified the file _auth.interceptor.ts_ line **22** and several lines _auth-jwt.service.ts_ adding the prefix **jhi** .  So it' not only swagger broken, websockets too.

I wish to make a pr request or download #14443 to see if fixes my p

[2021-03-28 16:05] ruddell commented on #14489
This is related to `postgresql` sorting rather than the frontend, and does not reproduce when using the Docker container for postgresql in `src/main/postgresql.yml`.

It's probably related to your local system: https://wiki.postgresql.org/wiki/FAQ#Why_do_my_strings_sort_incorrectly.3F

I'm not sure there is anything actionable we can do on our end.

[2021-03-28 17:06] vitoraasouza opened #14490 "Reactive: error when trying to sort by foreign key"
##### **Overview of the issue**

Consider that we have a reactive application with two entities and a relationship (one-to-one or many-to-one) between these entities. When we try to sort the items of an entity by its foreign key, the application launches an exception and the items are not sorted. In the following, there are pictures and stack traces of an one-to-one and a many-to-one relationships

[2021-03-28 17:43] pascalgrimaud commented on #14488
@VergilSkye : my comment was for browser sync, not for broken swagger, which is in PR :-)

[2021-03-28 19:33] clocken commented on #12649
Bounty claimed => https://opencollective.com/generator-jhipster/expenses/37070

[2021-03-28 20:09] sdebnath opened #14492 "ERROR! Cannot find module 'ajv/dist/compile/context' when executing jhipster jdl"
##### **Overview of the issue**

Trying to import entities created using JDL created by the online JDL Studio but looks there's missing npm package when I just type `jhipster jdl`. The blank default project loads, manually tested and passes e2e test.

[code]

##### JHipster Info

→ jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Welcome to the JHipste

[2021-03-28 20:36] pascalgrimaud commented on #12649
@clocken : approved

[2021-03-29 03:30] pelverum commented on #14492
I am hitting this same problem after upgrading to generator-jhipster 7.0.0.  Please advise as to host to resolve this issue or if a fix in in progress.

[2021-03-29 04:59] #14404 closed

[2021-03-29 05:58] #14475 closed

[2021-03-29 06:31] sendilkumarn commented on #14492
Yeah same here! Seeing the same issue with Kotlin generator

[2021-03-29 07:16] vishal423 commented on #14492
I guess it's due to mix of `node_modules` generated with `npm 7` vs `npm 6`.

[2021-03-29 08:02] alexsintoni commented on #14492
I have the same issue.
I have created two new JHipster v7.0.0 projects: one Gateway and and one Microservice.
If I run `jhipster jdl ~/Downloads/jhipster-jdl.jdl` in the Microservice works fine, but when I run it in the Gateway I get the same error.
Then out of curiosity, I have created a new Monolitich project with JHipster v7.0.0 and tried to run the same command but receive the same error.

[2021-03-29 08:05] atomfrede commented on #13940
Husky 6 has been released (under MIT), should we consider updating to that version again? https://github.com/typicode/husky/releases/tag/v6.0.0

[2021-03-29 09:30] cbornet commented on #14476
I think it's because the reactive version has a `ServerHttpRequest` param in the method (from which we get info for the pagination).
It should be fixed by adding `.ignoredParameterTypes(ServerHttpRequest.class)` to the [docket configuration](https://github.com/jhipster/jhipster-bom/blob/4a3d667ecfcbd64e1105d5986a95a9bf00d8c2c1/jhipster-framework/src/main/java/tech/jhipster/config/apidoc/SpringfoxA

[2021-03-29 11:18] mshima commented on #14492
Yes that's it.

Workarounds:
- `npm install -g npm@latest` or downgrade npm version at pom.xml.
- Recreate package-lock/node_modules
[code]

[2021-03-29 17:40] sdeleuze commented on #13733
@mraible This error just means no native support has been provided. [Have you configured](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started) Spring AOT plugin and `spring-native` dependency?

Be also aware that we make progress on Jhipster support via https://github.com/spring-projects-experimental/spring-native/issues/600, I did some fixes in Spring Native si

[2021-03-29 18:01] mraible commented on #13733
@sdeleuze Yes, I have. I'll follow @jdubois work.

[code]

[2021-03-29 20:45] #14482 closed

[2021-03-29 20:46] jdubois commented on #13733
@mraible thanks - I went much further and I had about 10 more issues that I have solved. This is only the beginning of the road! Not sure when I'll document this, or if I should (I'll try to solve some of those errors).
My biggest issue is that it's horribly slow to test....

[2021-03-30 03:04] #14488 closed

[2021-03-30 04:20] rburgst commented on #14492
@mshima tried that, didnt help

[code]

running `jhipster ci-cd` gives the same problem

[2021-03-30 05:16] sdeleuze commented on #13733
@mraible Ok we will try to identify with Julien what triggers the strange behavior you see.

@jdubois I agree that the slow feedback loop is the main pain point, that's why we collaborate with GraalVM team to limit this issue. We have some upcoming WIP improvements that will likely allow to check much more things on JVM side.

[2021-03-30 09:29] PierreBesson commented on #13940
Yes, it looks very good. I like their technical solution to the git hooks problem https://blog.typicode.com/husky-git-hooks-javascript-config/.

[2021-03-30 10:12] PierreBesson commented on #14479
I will probably not have the time to look into this soon as I'm about to go on vacation.

[2021-03-30 10:17] deepu105 commented on #14479
I'll try to spend some time on this, but I don't have much experience with
reactive gateways. lets see

Thanks & Regards,
Deepu

On Tue, Mar 30, 2021 at 12:12 PM Pierre Besson ***@***.***>
wrote:

[2021-03-30 11:50] radzionkow commented on #14492
Same error here, but it happens when upgrading gateway app from 6.10.5 to 7.0.0 (`jhipster upgrade`). Specifically when generating 7.0.0 app version.
Deleted `node_modules` and `package-lock.json`, but still no luck. Seems that @mshima workaround not always works.
[code]

[2021-03-30 13:03] mshima commented on #14492
This is an upstream bug cause by https://github.com/ajv-validator/ajv-formats/pull/15.

You can try the following workarounds:
- Make sure to always use npm@7 without legacy-peer-deps and follow steps of https://github.com/jhipster/generator-jhipster/issues/14492#issuecomment-809298321. (`jhipster upgrade` uses legacy-peer-deps for better compatibility, so it's broken)
- Try to install ajv@^7 at y

[2021-03-30 14:42] kaidohallik opened #14525 "Unable to generate relationship in entity sub generator"
##### **Overview of the issue**

If trying to add new entity and add relationship to another entity then error occurs and entity is not generated.

[code]

##### **Motivation for or Use Case**

Entity sub generator should work without errors.

##### **Reproduce the error**

* generate application: `jhipster`
* generate first entity: `jhipster entity Entity1`
* try to generate second entity with re

[2021-03-30 17:20] ko5tik opened #14526 "Add JSON support to CLOB fields"
##### **Overview of the feature request**

I ( and surely others too ) have use case where CLOB data is actually very structured,  but not suitable to be first class DB entities.  This they can be stored as JSON string.   (In my case this is geodata).    And it would be nice if this JSON string was unpacked and parsed when entity is fetched, and serialized before saving it back.

##### **Motivatio

[2021-03-30 18:06] gmarziou commented on #14526
In such case, I prefer to use a JSONB column, at least if your database supports it (e.g; PostgreSQL).

[2021-03-30 20:16] hoomb commented on #14492
This has worked for me
`npm install --save-dev ajv@^7`

[2021-03-30 20:47] smaestri commented on #14476
@cbornet you're right, this was the way to solve the problem (although the link is not correct, as we should modify API and not management docket). Done here https://github.com/jhipster/jhipster-bom/pull/243

[2021-03-30 21:02] pascalgrimaud commented on #14492
@radzionkow : sorry, I'm out of subject here but just becareful with the upgrade of the gateway as we needed to change the architecture.
Old gateway used Zuul and Ribbon by default with Spring Mvc. New gateways use Spring Cloud Gateway and Spring Cloud Load Balancer with Spring Reactive

[2021-03-30 21:46] JeromeRider commented on #14492
@hoomb This has worked for me too ty but I got conflicts when importing JDL after that npm install.
My errors :

`conflict src\main\webapp\i18n\fr\global.json
? Overwrite src\main\webapp\i18n\fr\global.json? overwrite
    force src\main\webapp\i18n\fr\global.json
 conflict src\main\webapp\i18n\en\global.json
? Overwrite src\main\webapp\i18n\en\global.json? do not overwrite
     skip src\main\webap

[2021-03-31 06:55] murdos commented on #14031
Keep it open

[2021-03-31 07:09] amatosg opened #14529 "🚀 Create constraints on multiple columns"
##### **Overview of the feature request**
Allow to create unique constraints on multiple columns when importing from a JDL file.

##### **Motivation for or Use Case**
It might be useful to other users (I actually found it useful). It could be something like

[code]

and that would generate

[code]

##### **Related issues or PR**
None that I know of.

- [x] Checking this box is mandatory (this is j

[2021-03-31 11:38] #14492 closed

[2021-03-31 15:07] gAllegr opened #14538 "Missing information on official documentation"
##### **Overview of the issue**

I'm new on JHipster (started the week ago) and I noticed the online documentation on [jhipster.tech](jhipster.tech) doesn't seem to be updated.

Couldn't add label. Maybe _documentation_ and _question_ could fit well.

##### **Motivation for or Use Case**

It is not clear to me the difference between the following two code and I couldn't find anything related in th

[2021-03-31 15:07] avdev4j opened #14539 "Add the JHipster technical board page on the website"
##### **Overview of the feature request**
Following the last JHipster developer association meeting, I'm creating a new PR to add the JHipster technical board page on the official website.

The technical board is a committee to help the project to ensures the platform continues to reflect and serve its diverse and growing user community.

For more details, please check the PR content.

The name st

[2021-03-31 15:41] SudharakaP commented on #14539
I vote for "Technology Advisory Board" which makes things simply and clear in my opinion. 😄

[2021-03-31 18:34] monjurmorshed793 opened #14540 "Keycloak configuration with monolith Oauth2 not working"
##### **Overview of the issue**

Application generated as monolith and oauth2 type security is not working with keycloak (generated with Jhipster V7).

##### **Motivation for or Use Case**

When I log in as admin or as user, then after successful login when the redirection occcurs, a page is shown with json response mentioning 'unauthorized'.

##### **Reproduce the error**

My yo-rc.json is:

[cod

[2021-03-31 19:15] mraible commented on #14540
I tried to reproduce this error, but I could not. I installed JHipster 7, and created an app with your `.yo-rc.json`. Then, I started all the Docker containers using Oh My Zsh shortcuts.

[code]

Then, I started the app and was able to log in with no issues.

<img width="1296" alt="Screen Shot 2021-03-31 at 1 12 33 PM" src="https://user-images.githubusercontent.com/17892/113198298-ff9db100-9222-11

[2021-04-01 07:29] FrancescoMez79 opened #14548 "Command mvnw -P-webapp don't works"
Dear Support,
we have created a Monolithic application in Jhipster 6.10.5.

REading the Jhipster documentation :
https://www.jhipster.tech/development/

is written that we can use the command : ./mvnw -P-webapp
https://i.imgur.com/6p4zg0f.png
to run only the server side application.

This don't works. It run even the client side application (Angular) :

this is the log attached:
[logJHipster.txt](

[2021-04-01 11:50] cbornet commented on #14476
Actually it should be done in the customizer here : https://github.com/jhipster/jhipster-bom/blob/7bb09dd675fe2750ff83acb1656861441be67cdc/jhipster-framework/src/main/java/tech/jhipster/config/apidoc/customizer/JHipsterSpringfoxCustomizer.java#L94

[2021-04-01 12:24] kaidohallik opened #14549 "Values generated by Faker are changing on regeneration"
##### **Overview of the issue**

In Angular entity update test https://github.com/jhipster/generator-jhipster/blob/943fd873d29a3d8ed4fab31d8d2fa91fc71fd1d8/generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs#L84 there are related entity objects with primary keys generated by Faker.

If for the related entity is not yet calle

[2021-04-01 12:53] kaya664 commented on #13835
Still happening

[2021-04-01 12:56] pascalgrimaud commented on #13835
Adding a bounty on this, if someone wants to have a look and find a solution :-)

[2021-04-01 13:59] smaestri commented on #14476
Thank for the review, I did not see this `customizer` at first. PR updated.

[2021-04-01 16:54] pascalgrimaud commented on #14548
With 6.10.5, it was webpack
With 7.0.0, it is webapp

So the documentation was updated to the last version. You should have a look at the archive: https://www.jhipster.tech/documentation-archive/

[2021-04-01 18:06] #13305 closed

[2021-04-01 21:37] #14476 closed

[2021-04-02 06:00] pascalgrimaud commented on #14548
As there is no bug here, I'm closing the ticket

[2021-04-02 06:00] #14548 closed

[2021-04-02 06:34] smaestri commented on #14476
Hi @pascalgrimaud  bug solved. As it is my first contribution to Jhispter, tell me if I miss something. https://opencollective.com/generator-jhipster/expenses/37557

[2021-04-02 06:44] pascalgrimaud commented on #14476
@smaestri : approved ! thanks for your contribution

@cbornet : you can claim the same bounty too, if you want, no need to split here, just ping me :-)

[2021-04-02 07:01] pascalgrimaud commented on #13412
I think it's solved, for unknown reason :-D
So it can be closed

[2021-04-02 07:01] #13412 closed

[2021-04-02 09:58] alexsintoni opened #14556 "Microservice swagger access not authorized from Gateway"
##### **Overview of the issue**

I have just created a new microservice architecture with one gateway and one microservice with last version of JHipster v7.0.0.
When I try to access the swagger documentation of the microservice via the Gateway portal, I receive the following error:

![image](https://user-images.githubusercontent.com/1822749/113404580-b0818880-93a8-11eb-99b2-19093eb09abc.png)

####

[2021-04-02 11:49] agherashyam2000 commented on #8665
After removing the @Bean definition from public Mongobee mongobee(...) in DatabaseConfiguration.java, the app starts and I can create new users. But after creating new user the activation link is not sent to users email and also I can not able to logged in !
Can you suggest any solution ?

[2021-04-02 12:00] cbornet commented on #14476
@smaestri thanks for the contribution 👍.
@pascalgrimaud thanks a lot 🙂

[2021-04-02 13:17] pascalgrimaud commented on #14556
@alexsintoni : how did you start your application plz ?

[2021-04-02 13:21] mshima commented on #14556
May be related to https://github.com/jhipster/generator-jhipster/pull/14443