[2018-11-01 12:30] vishal423 commented on #8702
+1, `reflect-metadata` that should be dev dependency.

[2018-11-01 12:52] atomfrede commented on #8705
Can you please post the output of `jhipster info`? If you do a `git init` and `git commit` the build will work.

[2018-11-01 12:53] atomfrede commented on #8703
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-11-01 12:53] #8703 closed

[2018-11-01 12:58] atomfrede commented on #8692
You are using node 11. We usually only support LTS versions. Can you please try node 8 (not sure if node 10 is working yet).

[2018-11-01 13:00] mgazzarm opened #8707 "Update current logged-in username not reflecting in authentication"
Update logged in username is not updating the principal authentication

Login with the admin user and change the username of the current logged in admin, principal authentication is not updated with new user name.

So if you are using @created by for logging the old username will be retrieved

##### **Reproduce the error**
Login with default admin User
Go to User management screen
Click Update for

[2018-11-01 13:14] deepu105 commented on #8702
if its not used anywhere in the application, it can be moved. I think it might have been used for some lazy loading related things in past. @wmarques can you confirm?

[2018-11-01 13:18] deepu105 commented on #8705
@andresetevejob please follow our issue guidelines, else ticket will be closed

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster

[2018-11-01 13:21] deepu105 commented on #8699
It was directly installed due to some conflict when adding the plugin, may be that issue no longer exists, but  it needs testing to make sure it doesnt break anything

[2018-11-01 13:22] #8705 closed

[2018-11-01 13:22] deepu105 commented on #8705
If you update all required info we will reopen this

[2018-11-01 13:22] deepu105 commented on #8703
If you update all required info we will reopen this

[2018-11-01 13:23] Fydon opened #8709 "Why not use Prettier for json and yaml?"
##### **Overview of the issue**

Prettier is currently used for ts, css and scss, but json and yaml are supported.

##### **Motivation for or Use Case**

Standardise the format of more files. Using Prettier for Java is already planned. The only issues with YAML files is that placeholders become [unordered lists][3], e.g. [`password:`][2] becomes `? password`. The current JSON files seem to have mi

[2018-11-01 13:33] MathieuAA commented on #8611
Will do so today

[2018-11-01 14:59] mraible commented on #8674
I approve #8675 if it replaces #8554. IMO, there's no need for Keycloak files in microservices, only in monoliths and gateways.

[2018-11-01 15:12] bahadyr opened #8710 "'mvnw package -Pprod jib:dockerBuild' fails to build an image"
##### **Overview of the issue**

[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:0.9.11:dockerBuild (default-cli) on project servone: Build to Docker daemon failed: 'docker load' command failed with error: requested load from stdin, but stdin is empty: The pipe has been ended -> [Help 1]

##### **Motivation for or Use Case**

Explained step to build a docker image actually f

[2018-11-01 15:40] Fydon commented on #8709
Okay. Sure I've created a pull request that sets up the formatting and updates the formatting for JSON.

I noticed that the formatting for Typescript has changed, but I forgot to update the scripts for that as well. Should I also update those and squash my commit?

[2018-11-01 16:29] deepu105 commented on #8709
@Fydon you don't have to format the templates, let me look at the PR

[2018-11-01 17:08] deepu105 commented on #8611
@rubensa can you please explain exactly your issue or provide detailed steps to reproduce?

[2018-11-01 17:17] deepu105 commented on #8611
I also tried and it works perfectly fine with both `@skipClient` and `skipClient EntityTwo`

@MathieuAA indeed `skipClient for EntityTwo` doesnt work and we need to either update the docs or fix that, it would be nice to fix that since this could be breaking for existing JDL otherwise

[2018-11-01 17:19] saturnism commented on #8710
the error reads that docker command failed to run. `jib:dockerBuild` builds w/ docker daemon.
if you change the name of the image to a repository coordinate, then `jib:build` can build directly to the registry.

[2018-11-01 17:35] jdubois commented on #8710
Yes you need to have the Docker daemon running, so I'm closing this, thanks @saturnism !

[2018-11-01 17:59] ruddell commented on #8703
@purushotham9 Please stop spamming issues and fill out the template like we have asked several times. Other issues with the same content: https://github.com/jhipster/generator-jhipster/issues/8688 https://github.com/jhipster/generator-jhipster/issues/8687

[2018-11-01 17:59] bahadyr commented on #8710
docker daemon is running. i'm using docker-machine . the same error i had on mac.

[2018-11-01 18:04] rubensa commented on #8611
Sorry, but I don't have a computer til monday but...
Have you tried running **jhipster import-jdl Model.jdl** with provided Model.jdl?
That should not generate client code for Entity two but, for me, the client Angular code was generated (despite EntityTwo.json inside .jhipster folder correctly says that it should not be generated).

I had the problem trying with a real app so I created this simpl

[2018-11-01 18:06] bahadyr commented on #8710
jib:build now returns:
[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:0.9.11:build (default-cli) on project servone: Build image failed, perhaps you should set a credential helper name with the configuration '<to><credHelper>' or set credentials for 'registry.hub.docker.com' in your Maven settings: Unauthorized for registry.hub.docker.com/library/servone: 401 Unauthorized -

[2018-11-01 18:09] bahadyr commented on #8710
Yes, i'm running any docker, docker-machine, docker-commands successfully.
This issue appears only with jhipster generated code.

[2018-11-01 18:22] ruddell commented on #8710
Maybe Windows related?  `docker load` outputs the same thing on Mac but doesn't throw an error.

I get a different message when I exit Docker and try `jib:dockerBuild`, so I think the problem is different.  Error message:
`
[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:0.9.11:dockerBuild (default-cli) on project mono: Build to Docker daemon failed: 'docker load' command fa

[2018-11-01 18:34] bahadyr commented on #8710
tried as stated, still having:

[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:0.9.11:build (default-cli) on project servone: Build image failed, perhaps you should make sure your credentials for 'registry.hub.docker.com' are set up correctly: Unauthorized for registry.hub.docker.com/library/image-name: 401 Unauthorized -> [Help 1]

here my docker output for hello-world
 do

[2018-11-01 18:44] MathieuAA commented on #8611
Hi @rubensa, I can confirm you that I couldn't reproduce the issue. This is puzzling, as you've provided everything needed. Yes, I've tried your JDL file. I've also tried with both syntaxes, just as Deepu did.

[2018-11-01 18:59] rubensa commented on #8611
Very strange. I'll try again next monday but I double cheked before opening the issue.

If you both checked I think you can close the issue.

I'll check again next monday and open a new one If I can reproduce the problem.

[2018-11-01 19:34] ruddell commented on #8611
@MathieuAA The issue is the following JDL throws the error from the first post:
[code]
but if you remove `for`, it works:
[code]

[2018-11-01 19:43] MathieuAA commented on #8611
Hi Jon! Yeah I got that. Gotta drop a PR today about it. The other issue is what's troubling me. 

[2018-11-01 19:54] ruddell commented on #8611
The other issue was fixed in https://github.com/jhipster/generator-jhipster/pull/8632

[2018-11-01 20:07] MathieuAA commented on #8611
Ah! Awesome!

[2018-11-01 20:12] #8709 closed

[2018-11-01 20:23] MathieuAA commented on #8611
Ah!! Awesome! Thanks :)

[2018-11-01 20:41] gzsombor commented on #8676
@ikramcheb : if you don't catch the exception, how the ElasticSearch repository gets called? That is after the db repository call, which is throwing the exception ...

[2018-11-01 21:08] pascalgrimaud commented on #8710
@bahadyr : can you try to generate a project under `C:\Users\<username>` and test the build again ?

[2018-11-01 22:25] Harouun opened #8718 "Angular Material support"
Are there any plans to add Angular Material in Jhipster?

[2018-11-01 22:31] pascalgrimaud commented on #8718
It would be too much work, that's why we won't add Material support.
But don't hesitate to create :
- a module: https://www.jhipster.tech/modules/creating-a-module/
- or a blueprint: https://www.jhipster.tech/modules/creating-a-blueprint/

[2018-11-01 22:31] #8718 closed

[2018-11-01 22:34] pascalgrimaud commented on #8693
Thanks, the fix had been merged https://github.com/jhipster/generator-jhipster/pull/8714
We'll keep in mind to remove this additional line

For now, let's close this.

[2018-11-01 22:34] #8693 closed

[2018-11-01 22:36] Harouun commented on #8718
Okey thanks @pascalgrimaud

[2018-11-02 04:31] atomfrede commented on #8498
I have a working solution. Give me some time to prepare a PR and let's see if some angular expert can give a complete explanation why its working (I have only a half baked explanation).

[2018-11-02 07:35] atomfrede commented on #8612
Let me check over the weekend

On Fri, Nov 2, 2018, 08:25 Pascal Grimaud <notifications@github.com wrote:

[2018-11-02 08:10] Fydon commented on #8699
@deepu105 Okay. With my settings both a dev and prod build work without tapable, which is what I'd expect given that it still resolves to version 1.0.0:

	+-- fork-ts-checker-webpack-plugin@0.4.1
	| `-- tapable@1.0.0
	+-- html-webpack-plugin@3.2.0
	| `-- tapable@1.0.0  deduped
	+-- ts-loader@4.0.1
	| `-- enhanced-resolve@4.1.0
	|   `-- tapable@1.0.0  deduped
	`-- webpack@4.8.0
	  `-- tapable@1.0.0

[2018-11-02 08:13] deepu105 commented on #8710
I'm not sure how much we can help here since its not reproduceable. It
could be an issue from maven plugin or Jib, or it could be a proxy issue or
Jhipster config issue. Did you try to get help in the Jib project?

On Fri, 2 Nov 2018, 2:22 am BRBV <notifications@github.com wrote:

[2018-11-02 08:17] deepu105 commented on #8699
Ok then lets remove it. Can you do PR please

On Fri, 2 Nov 2018, 9:10 am Fydon <notifications@github.com wrote:

[2018-11-02 08:53] ikramcheb commented on #8676
@gzsombor  I am equally confused by this. How the next line is executed while the previous one throws an exception.
This is the exact code I am using
I have an entity "Snomed" with a unique field "code"
        Rest Controller

     	@PostMapping("/snomeds")
		@Timed
		public ResponseEntity<Snomed> createSnomed(@Valid @RequestBody Snomed snomed) throws URISyntaxException {
			log.debug("REST reque

[2018-11-02 09:05] #8682 closed

[2018-11-02 09:09] #8639 closed

[2018-11-02 09:31] Fydon opened #8731 "Gradle does support use realm-based SSO so use a different URL for Oracle Maven"
##### **Overview of the issue**

As Gradle [doesn't support use realm-based SSO][1], a different URL is required to read from Oracle Maven.

##### **Motivation for or Use Case**

I want to receive Oracle dependencies from Oracle Maven using Gradle, but the current URL doesn't work.

##### **Reproduce the error**

N/A

##### **Related issues**

None found

##### **Suggest a Fix**

Add a link to [th

[2018-11-02 09:36] bahadyr commented on #8710
@deepu105 it's easy to  reproduce.
I got fresh windows and mac
install jdk8, jhipster

create microservice, gateway
bind them witn 'jhipster docker-compose'

[2018-11-02 09:55] jdubois commented on #8731
Thanks @Fydon - could you do a PR on this? I don't use Oracle and it's hard to test, so help is really welcome on this one

[2018-11-02 09:56] #8704 closed

[2018-11-02 09:59] bahadyr commented on #8710
Just now independently tested on a new machine and got the same error.

[WARNING] Setting image creation time to current time; your image may not be reproducible.
[INFO]
[INFO] Containerizing application to Docker daemon as msone...
[INFO]
[INFO] Getting base image openjdk:8-jre-alpine...
[INFO] Building dependencies layer...
[INFO] Building extra files layer...
[INFO] Building classes layer...
[I

[2018-11-02 10:14] deepu105 commented on #8710
Is it failing only on windows or on mac as well, I'm on Linux and I
couldn't reproduce and most of the core team is on Mac and I'm sure they
don't see any issue as well. @jhipster/developers can someone try?

Thanks & Regards,
Deepu

On Fri, Nov 2, 2018 at 10:59 AM BRBV <notifications@github.com> wrote:

[2018-11-02 10:20] #8699 closed

[2018-11-02 10:35] bahadyr commented on #8710
@deepu105 failed both on 2 win machines and mac. haven't tried on linux yet.

[2018-11-02 10:42] PierreBesson commented on #8710
@bahadyr I think one problem might be that you use a proxy and jib unsuccessfully tries to log in to the registry (docker hub by default). Can you try to log in to the docker hub before (docker login, then input your docker hub credentials) ?

[2018-11-02 10:44] PierreBesson commented on #8710
Can you try:
`mvnw clean package -Pprod jib:exportDockerContext`
Then
`docker build -t myimage target/jib-docker-context`

[2018-11-02 11:05] #8706 closed

[2018-11-02 11:09] #8674 closed

[2018-11-02 11:27] DanielFran opened #8732 "Update Apache Maven version to 3.6.0"
##### **Overview of the feature request**

See https://lists.apache.org/thread.html/76da3ffda428e34d8253cb71bfcbb9409919c76311f59d3ad46cd302@%3Cannounce.maven.apache.org%3E

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2018-11-02 11:50] jdubois commented on #8732
Already done :-)

[2018-11-02 11:50] #8732 closed

[2018-11-02 12:42] #8578 closed

[2018-11-02 13:02] antarus commented on #8710
We have a similar problem with our proxy company that requests credentials.
A solution to test, if you have a maven to install and configured to pass your proxy (not the one to install with jhipster)
`mvn clean package -Pprod jib: exportDockerContext`

[2018-11-02 14:29] mgazzarm opened #8734 "Update current logged-in username is not reflecting in authentication"
##### **Overview of the issue**

The principal object contains the current login, if the logged in user changed his username, change will not be reflected in the authentication until you logout and login with the new login

##### **Motivation for or Use Case**
User login
Auditing

##### **Reproduce the error**
If you are using @createdBy for example to log the changes and user changes his login it

[2018-11-02 14:32] jdubois commented on #8734
I don't know what to say.... That's how Spring Security works, as well as all security frameworks I know. If you were checking the username all time, the performance would be horrible.

So we're using the current username of the person, and if that was changed (which is probably a bad idea, but that's indeed possible) then you have the older name (the one which is currently used, so that's not tot

[2018-11-02 15:57] atomfrede commented on #8692
@QuentinFombaron  It looks like the same issue as here: https://stackoverflow.com/questions/53085942/jhipster-hot-reload-crashes-node

So please try with node 10 LTS (or 8 LTS). If you still have a problem we can reopen this issue.

[2018-11-02 15:57] #8692 closed

[2018-11-02 16:42] vidhya03 commented on #8668
Hi @deepu105 , thanks a lot,  i expected your reply..
I don't know how to fix.

[2018-11-02 19:45] ruddell commented on #8668
@vidhya03 I think @vishal423 is right that the `SERVER_API_URL` is only used to specify the backend location.  Your `i18n` resources should be hosted relative to your client.  Have you tried setting the ` <base href="./" />` to `/` instead of `./` in [index.html](https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/webapp/index.html#L4)?

[2018-11-02 21:36] deepu105 commented on #8734
Yes its quite common, if you change login name it won't be reflected until you logout and login again. If you prefer a different behaviour you have ro customize it yourself

[2018-11-02 21:36] #8734 closed

[2018-11-02 21:42] deepu105 commented on #8668
Vishal is right. We can't change the lib for non standard use cases.

On Fri, 2 Nov 2018, 9:24 pm Jon Ruddell <notifications@github.com wrote:

[2018-11-03 00:04] AminaDB opened #8737 "angular"
* **Overview of the request**

* **Motivation for or Use Case**

* **Browsers and Operating System**

* **Related issues**

* **Suggest a Fix**

[2018-11-03 00:44] ruddell commented on #8737
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-11-03 00:44] #8737 closed

[2018-11-03 08:32] bahadyr commented on #8710
I've a direct internet and i'm not using proxy and disabled firewall.

[2018-11-03 09:06] bahadyr commented on #8710
@PierreBesson
Followed your commands and could build images.

[2018-11-03 09:43] gzsombor commented on #8676
Very strange, indeed. Do you have any custom hibernate listener, which triggers saving the entity to ES (that's a common pattern, which I saw)?
 Other than, you need to debug it, you can add breakpoints to ES code as well, and check who calls it.

[2018-11-03 10:05] bahadyr commented on #8710
Now able to start containers. Some of them stopped working even though i followed generator questions correctly.

🐳  Welcome to the JHipster Docker Compose Sub-Generator 🐳
Files will be generated in folder: C:\Users\bahadyr\jhipster-app-test\docker
√ Docker is installed
? Which *type* of application would you like to deploy? Microservice application
? Which *type* of gateway would you like to use?

[2018-11-03 10:30] vidhya03 commented on #8668
@ruddell yes i tried setting base href, however I'm integrating jhipster into static sites hugo,
there were multiple places we use jhipster app. (sample jhipster app but different pages we redirect the router based on webcomb.html/esb.html) this page has both static and dynamic content.
https://<hostname>/site/product/webcomb.html#/
https://<hostname>/site/product/webcom/esb.html#/

my concern is

[2018-11-03 11:41] ivangsa opened #8739 "ElasticSearch fails on default sort order when no indexed data"
##### **Overview of the issue**
Search fails on default sort order when using ElasticSearch + MongoDB, it can not sort by ID.
<details>
<summary>stacktrace</summary>

<pre>
2018-11-03 12:15:12.062 ERROR 13570 --- [ XNIO-2 task-12] c.factly.dega.aop.logging.LoggingAspect  : Exception in com.factly.dega.service.impl.PostServiceImpl.search() with cause = 'NULL' and exception = 'Cannot execute jest ac

[2018-11-03 11:43] ivangsa commented on #8666
I would be happy to add this to the generator. I found an unrelated previous issue regarding default search order with ES+MongoDB #8739

[2018-11-03 12:26] #8655 closed, assigned to nobody

[2018-11-03 12:31] deepu105 commented on #8668
i'm closing this as its not a bug

[2018-11-03 12:31] #8668 closed

[2018-11-03 12:40] JustinZhaowilson opened #8740 "NPM Install -g jhipster-uml code ELIFECYCLE and deasync@0.1.9 install: `node ./build.js`"
**Can't install jhipster-uml**

Error:

C:\jhipster\blog2>npm install -g jhipster-uml
C:\Users\James\AppData\Roaming\npm\jhipster-uml -> C:\Users\James\AppData\Roaming\npm\node_modules\jhipster-uml\jhipster-uml.js

C:\Users\James.DESKTOP-JFDRPUF\AppData\Roaming\npm\node_modules\jhipster-uml\node_modules\deasync>if not defined npm_config_node_gyp (node "C:\Users\James\AppData\Roaming\npm\node_modul

[2018-11-03 12:50] deepu105 commented on #8740
Please open the issue in JHipster UML repo and nit here

[2018-11-03 12:50] #8740 closed

[2018-11-03 12:51] MathieuAA commented on #8740
This is not the repo for this, and to be honest: the JUML project needs maintenance.Le 3 nov. 2018 13:40, JustinZhaowilson <notifications@github.com> a écrit :Can't install jhipster-uml
Error:
C:\jhipster\blog2>npm install -g jhipster-uml
C:\Users\James\AppData\Roaming\npm\jhipster-uml -> C:\Users\James\AppData\Roaming\npm\node_modules\jhipster-uml\jhipster-uml.js

deasync@0.1.9 install C:\Users\J

[2018-11-03 18:01] pascalgrimaud commented on #8553
Closing this one as https://github.com/jhipster/generator-jhipster/pull/8675 has been merged.
I think it's resolved

[2018-11-03 18:01] #8553 closed

[2018-11-03 18:56] ivangsa commented on #8666
@oddiraju I added a pull request with your fix. This issue has a bug bounty tag on it. When it's merged you should claim it. The work was yours (i've just pasted it where needed). Cheers!

[2018-11-03 20:00] ruddell commented on #8739
Related issues: #3616 #5908 #7908

I tried to reproduce with the latest master using this issue's config, but I couldn't get the project to start.  There's a message about a missing class: `java.lang.NoClassDefFoundError: org/apache/logging/log4j/core/config/Configurator`

[2018-11-03 21:05] eapriansyah commented on #8739
Yes, this version, elasticsearch will fail to run. The problem is with the log4j-core and log4j-api packages that are not entered into pom.xml.
Add the bottom to pom.xml, to resolve the problem.

         <dependency>
             <groupId> org.apache.logging.log4j </ groupId>
             <artifactId> log4j-api </ artifactId>
             <version> 2.7 </ version>
         </ dependency>
        

[2018-11-03 21:16] ruddell commented on #8739
Here's the change `removed log4j dependencies as it breaks slf4j resolution` https://github.com/jhipster/generator-jhipster/pull/8475

@Tcharl Do we need to add these to `jhipster-dependencies` or should we put them back in the pom.xml? Or does it not work?

[2018-11-03 21:32] ivangsa commented on #8739
Is this second issue already known, or I'm missing something to start a clean generated project with elastic search and v5.6.0? (that's why I kept using 5.5.0)

[2018-11-03 21:43] eapriansyah commented on #8739
As @ruddell  said, lost dependecy make v5.6.0 can not start.
For your case, run elasticsearch on local, it looks like jest needs elasticsearch in the local to run.

[2018-11-04 09:02] pascalgrimaud commented on #8739
@ruddell : do we need a patch release ?

[2018-11-04 10:19] parrotchute opened #8744 "storageClassName: standard causes persistent volume claim to be stuck at pending state on AWS"
##### **Overview of the issue**

Setting `storageClassName: standard` in `jhipster-elasticsearch.yml` for both `jhipster-elasticsearch-master` and `jhipster-elasticsearch-data` causes the pvc to be stuck at `Pending` state when kubernetes cluster is set up on AWS.

##### **Motivation for or Use Case**

AWS only has storage class types of `io1`, `gp2`, `sc1`, `st1` and no `standard`.

##### **Repro

[2018-11-04 19:41] QuentinFombaron commented on #8692
The problem was the Node version, I downgraded to v10.13.0 and it works ! Thank you very much @atomfrede !

[2018-11-04 21:05] ruddell commented on #8739
@pascalgrimaud Only maven+elasticsearch apps are affected, probably would be a good idea. I opened PR #8749 to fix that issue

@ivangsa This isssue is the same as the ones I linked above.  It fails because there is no data to sort on.  I'm not sure if there is anything we can do about that.

[2018-11-05 08:54] wmarques commented on #8702
I don't remember adding this in order to setup lazy-loading, I think it is (or was ?) used by Angular to manage his DI. Maybe we can try to remove it and see if it works...

[2018-11-05 09:43] jdubois commented on #8666
@ivangsa very nice of you to let @oddiraju get the bounty!!

-> I'm currently testing and merging this, it should be in today's release if everything goes well!

[2018-11-05 10:29] rubensa commented on #8611
I've just checked with JHipster v5.6.0 and EntityTwo client code is not generated.

PS:  In sample Model.jdl I had to change **serviceDiscoveryType** value from **no** to **false** as this seems to be no valid anymore:
[code]
Doc possible values should be updated from:

JDL option name | Default value | Possible values | Comment
-- | -- | -- | --
serviceDiscoveryType | false | eureka, consul, no |

[2018-11-05 10:53] rubensa commented on #8609
@deepu105 What's supposed to be the flag?

If I run `jhipster entity --help` (JHipster v5.6.0) I get:
[code]
No mention to any option for disabling long name checks.

[2018-11-05 10:56] #8666 closed

[2018-11-05 11:11] jdubois commented on #8739
I'm getting a:

    {"root_cause":[{"type":"illegal_argument_exception","reason":"Fielddata is disabled on text fields by default. Set fielddata=true on [id] in order to load fielddata in memory by uninverting the inverted index. Note that this can however use significant memory. Alternatively use a keyword field instead."}]

So not sure it's the same thing, but there seems to be quite a lot of bu

[2018-11-05 12:21] deepu105 commented on #8633
sometimes they are valid as well, in this case it seems valid as the key is
wrong

Thanks & Regards,
Deepu

On Mon, Nov 5, 2018 at 10:27 AM Cédric <notifications@github.com> wrote:

[2018-11-05 12:45] jdubois commented on #8739
Thanks @Tcharl - yes my ID is a String, as I'm using MongoDB... Still I'm not sure about the bug, as I'm just trying to fix bugs on parts of the code I don't use and don't know very well. All I can say is that Elasticsearch + MongoDB with relationships do not look to work well.

[2018-11-05 12:57] oddiraju commented on #8666
@ivangsa Thank you

[2018-11-05 14:36] Tcharl commented on #8739
I just noticed that nifty ID difference on mongo/cassandra :-).

So one thing that works is to add a file called 'idmapper.json' file on src/main/resources/mappings for the (cassandra|mongo) + elastic configuration containing the snippet below, then, adding the @Mapping annotation referencing this mapping on the Entities' Id fields.

I also created an issue on the Jest side: https://github.com/Van

[2018-11-05 15:03] #8698 closed

[2018-11-05 15:35] #8744 closed

[2018-11-05 16:38] anthony-o opened #8758 "Can't upgrade from 5.5.0 to 5.6.1"
##### **Overview of the issue**

When I execute `jhipster upgrade`, the local version of `jhipster` does not seem to be updated (not in `package.json`, nor in `.yo-rc.json`).

##### **Motivation for or Use Case**

I want to upgrade my JHipster application from v5.5.0 to 5.6.1.

##### **Reproduce the error**
Create the following `jhipster-jdl.jh`:
[code]
Then `import-jdl` to create the project with

[2018-11-05 17:18] anthony-o opened #8760 "Can't use `postgresql` as `devDatabaseType` using JHipster 5.6.1"
##### **Overview of the issue**

Can't use `postgresql` as `devDatabaseType` using JHipster 5.6.1.

##### **Motivation for or Use Case**

I was able to use such devDatabaseType in JHipster 5.5.0, I would like to have this also in this version.

##### **Reproduce the error**

Create the following `jhipster-jdl.jh`:
[code]
Then `import-jdl` to create the project with v5.6.1:
[code]
Here is the outpu

[2018-11-05 20:09] hdurix commented on #8284
I think this issue can be closed (https://github.com/jhipster/generator-jhipster/pull/8501 has been merged).

[2018-11-05 20:12] #8284 closed

[2018-11-05 20:32] jdubois commented on #8666
Bounty paid to @oddiraju :-)

[2018-11-05 20:55] brunnels opened #8761 "Merge #8596 breaks UAA authentication"
##### **Overview of the issue**
Login/Logout when using UAA throws null principal object error

##### **Motivation for or Use Case**
Cannot login/logout with UAA auth

##### **Reproduce the error**
Generate UAA and gateway and attempt to login
@ruddell verified

##### **Related issues**
none found

##### **Suggest a Fix**
Replacing the removed Injector and JhiEventManager provider dependencies in

[2018-11-05 21:18] Evertude opened #8762 "Gateway -> Microservice connection doesn't work on dev port 9000"
##### **Overview of the issue**

When I create microservices with the latest versions of JHipster CLI, I experience the problem that I can't connect to those services with the dev port 9000 of my gateway although it works when I use the port that was specified for the gateway.

It still works with the service I created with versions 5.4.2 and earlier

The services are found through http://localhos

[2018-11-05 22:54] brunnels commented on #8610
this works as is if the blueprint is already defined in the .yo-rc.json like so:
`"blueprint": "generator-jhipster-mine"`
then you just call import-jdl like normal without the --blueprint parameter.

[2018-11-05 23:19] Evertude commented on #8758
Have you tried a shell or system restart?

[2018-11-05 23:20] PierreBesson commented on #8762
This seems like the normal behavior. Did you try port 9060 ? Have a look at the webpack proxy configuration for the specifics of what it does.

[2018-11-05 23:30] Evertude commented on #8762
I haven't changed any of the configuration that was generated by default so it doesn't seem normal to me if you have to change something or it won't work

[2018-11-05 23:32] PierreBesson commented on #8762
@evertude you are mistaken. Port 9000 is to serve static assets, a separate proxy for the API is set up on port 9060

[2018-11-05 23:35] PierreBesson commented on #8762
Anyway I will check your config tomorrow to see if there is an issue.

[2018-11-05 23:37] Evertude commented on #8762
I don't have enough knowledge on the topic, I can just tell you what I observe.

This is what I see when I run yarn start
![image](https://user-images.githubusercontent.com/7377709/48033535-f09e9b80-e15b-11e8-87cd-07c4a926c479.png)
It also opens a browser window on port 9000

[2018-11-06 01:07] Evertude commented on #8762
Okay, I found my problem and this could maybe be added to https://www.jhipster.tech/creating-a-spring-controller/:
I had to add the service to my dev webpack like the following:

    devServer: {
        contentBase: './target/www',
        proxy: [{
            context: [
	        '/service',
                /* jhipster-needle-add-entity-to-webpack - JHipster will add entity api paths here */

[2018-11-06 01:07] #8762 closed

[2018-11-06 03:32] yorkwu1977 opened #8764 "Compilation error of Gateway project when I generated Full microservice stack using import-jdl"
##### **Overview of the issue**

I generated microservice stack using ‘jhipster import-jdl appstack.jdl’,  but the gateway project had compile error.

[code]

[code]

[code]

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

5.6.0

##### **JHipster configuration**

##### **Entity configurat

[2018-11-06 06:13] pascalgrimaud commented on #8760
I confirm the issue, using the same JDL we used at our workshop the last week:

[code]

[2018-11-06 06:31] pascalgrimaud commented on #8760
@MathieuAA : I'm looking the code in jhipster-core. If you can point me where to look, I can try to fix it during my travel, so we'll gain time

[2018-11-06 06:39] pascalgrimaud commented on #8760
I think it comes from this commit:
https://github.com/jhipster/jhipster-core/commit/f2b11b9199c8db683d09ca8c862a6217960ff386

[2018-11-06 06:48] MathieuAA commented on #8760
It's one introducing app validation. There's a file called application_validator, it needs be adjusted

[2018-11-06 07:30] deepu105 commented on #8764
@yorkwu1977 you are missing `microservice EntityA with microservice1` and `microservice EntityB with microservice2` declarations. Not sure if that's the issue but in any case please try that and also try this JDL https://github.com/jhipster/jdl-samples/blob/master/microservice-ecommerce-store-4-apps.jdl

[2018-11-06 07:33] deepu105 commented on #8762
@Evertude arent the controllers also under path `api` which is already on context?

[2018-11-06 08:08] yorkwu1977 commented on #8764
@deepu105  I add 'microservice EntityA with microservice1' and 'microservice EntityB with microservice2',
 and now compile success!  thank your so much.

[2018-11-06 08:08] #8764 closed

[2018-11-06 08:19] rubensa opened #8765 "[Oracle] boolean fields generated as type bit in liquibase scripts"
##### **Overview of the issue**

For **Oracle** database, generated **liquibase** changelogs use **bit** type for **Boolean** fields.
The type should be the liquibase type **boolean**.

##### **Motivation for or Use Case**

For Oracle liquibase **boolean** type is generated as **number(1)** (**bit** is for SQL Server).  See https://dba-presents.com/index.php/liquibase/29-liquibase-3-3-x-data-types

[2018-11-06 08:42] deepu105 commented on #8765
Yes, agree. We should use liquibase types everywhere so that it works
across DBs

Thanks & Regards,
Deepu

On Tue, Nov 6, 2018 at 9:19 AM rubensa <notifications@github.com> wrote:

[2018-11-06 09:33] anthony-o commented on #8758
I don't really see the link but in doubt I did a system restart and the following:
[code]
And got the exact same results.
But then I did the following:
[code]
And this time, the upgrade has correctly been taken into account!
All I can see are different versions for `git`, `node`, `npm`, `yeoman` and `yarn`:
[code]

[2018-11-06 10:32] rubensa commented on #8642
@ruddell  This is no longer true since npm 5.1.0, because now the generated module tree is a combined result of both package.json and package-lock.json. (Example: package.json specifies some package with version ^1.1.0; package-lock.json had locked it with version 1.1.4; but actually, the package is already available with version 1.1.9. In this case npm i resolves the package to 1.1.9 and overwrit

[2018-11-06 11:16] PierreBesson commented on #8642
@rubensa We are not saying that generating the package-lock.json will fix `npm install` but without it we can't use `npm ci` in the frontend-plugin config because it will fail the first time (and it's important that JHipster apps work out of the box).

[2018-11-06 11:38] rubensa commented on #8642
@PierreBesson I don't know if I'm missing something...

As far as a know, JHipster runs ```npm install``` when you are building for the first time running, for example, ```jhipster imprt-jdl Model.jdl```.  So **package-lock.json** is generated.
The problem is that if you, now, run a ```./mvnw```, frontend-maven-plugin runs again ```npm install``` that overrides **package-lock.json**.
This can be a

[2018-11-06 12:54] Evertude commented on #8762
@deepu105 Yes they are, I used "jhipster spring-controller Foo" with a method bar for testing

	package com.mycompany.myapp.web.rest;

	import org.slf4j.Logger;
	import org.slf4j.LoggerFactory;
	import org.springframework.web.bind.annotation.PostMapping;
	import org.springframework.web.bind.annotation.RequestMapping;
	import org.springframework.web.bind.annotation.RestController;

	/**
	 * FooReso

[2018-11-06 12:58] pascalgrimaud commented on #8760
I think I got the fix.
Let me time to write full tests and PR to jhipster-core

[2018-11-06 13:00] pascalgrimaud commented on #8760
@jdubois : do you consider this bug as major ? If yes, I'm afraid we'll need another patch release soon (as soon as it's fixed)

[2018-11-06 13:13] DanielFran commented on #8760
@pascalgrimaud Probably adding in the list of devDatabase the prodDatabase list will fix it quickly: https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/application_options.js

[2018-11-06 13:14] jdubois commented on #8760
Yes but I won't be able to do a patch release until Thursday
Anyway I think @deepu105 will need this for his Devoxx talk

[2018-11-06 13:37] pascalgrimaud commented on #8760
@DanielFran : the problem comes from this function: https://github.com/jhipster/jhipster-core/blob/master/lib/exceptions/application_validator.js#L42-L54
When the option is databaseType, devDatabaseType or prodDatabaseType, it will fail because of this function: `checkForUnknownValue`

During lunch time, I'm implementing some checkDatabaseType, checkDevDatabaseType etc but didn't have time to fini

[2018-11-06 14:03] DanielFran commented on #8760
@pascalgrimaud It fails probably because in devDatabaseType there is only [H2 options](https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/application_options.js#L64-L68) , so any other value fail because there are not available in the list.
But, I did not test it, this is only my assumption reading the code...

[2018-11-06 14:33] deepu105 commented on #8760
Its not urgent for me

On Tue, 6 Nov 2018, 3:03 pm Daniel Franco <notifications@github.com wrote:

[2018-11-06 15:28] MathieuAA commented on #8760
@pascalgrimaud If you don't finish, don't worry: I'm having a look at it tonight

[2018-11-06 15:56] pascalgrimaud commented on #8642
@rubensa : did you try jhipster-online at https://start.jhipster.tech ? You can generate a JHipster project without installing it locally. But with this workflow, there is no `package-lock.json` and that's the problem.

[2018-11-06 17:29] MathieuAA commented on #8760
If you need any pointer, don't hesitate :)

[2018-11-06 17:50] Evertude opened #8766 "Jhipster gateway entity generator assumes that id is of type number"
##### **Overview of the issue**

When using MongoDB in a micro service, the type of generated entities' ID field is string.
When consuming this entity in a gateway, the assumed type is always number
It is not possible to define the id field in the entity json because it will generate a second field.

##### **Motivation for or Use Case**

I use a microservice architecture with MongoDB

##### **Repr

[2018-11-06 17:53] pascalgrimaud commented on #8766
We did a workshop with microservices last week, with JHipster 5.5.0 and I'm pretty sure it works.

What is the error ? Do you have some stacktrace or error in console of your browser ?

[2018-11-06 18:22] Evertude commented on #8766
You are right, it works because you assign a string to a number and its not checked but I think it's against the common sense that you get a string if you actually expect a number.
I also debugged it to check if it's not a hex value which would make more sense.

Design time
![image](https://user-images.githubusercontent.com/7377709/48084736-cbac3600-e1f8-11e8-8d2e-f3052a516e23.png)
Run time
![imag

[2018-11-06 18:59] ruddell commented on #8762
@Evertude Can you submit a PR to [the docs](https://github.com/jhipster/jhipster.github.io/blob/master/pages/creating-a-spring-controller.md)?

Normally this works because the developer generates an entity in the microservice, then imports that entity to the gateway, which adds the path to the gateway proxy config.  There's no way for JHipster to know about microservices when generating a gateway,

[2018-11-06 19:12] ruddell commented on #8765
@rubensa Would you like to create a pull request?  The [change looks simple](https://github.com/jhipster/generator-jhipster/blob/f534a1b5b7e38f8ebe55f28d8ea3f158da295d24/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs#L101-L105)

Related to https://github.com/jhipster/generator-jhipster/pull/4590#issue-95995136 from 2 years ago that I forgot to

[2018-11-06 19:30] #8760 closed

[2018-11-06 22:20] MathieuAA commented on #8760
I'm going to release JCore v3.6.1 (and drop a PR here) that includes this fix, and other DB validations.

[2018-11-06 23:37] fleboulch commented on #8761
Hello @brunnels,
I tried to reproduce your issue with jhipster v5.6.0 but I couldn't reproduce it.

Here my several .yo-rc.json

- uaa directory
[code]
- ms1 directory
[code]
- gateway directory
[code]
Here a screenshot of my JHipster Registry with both instances up
![gateway-rework](https://user-images.githubusercontent.com/9569081/48100509-dd570300-e223-11e8-8e17-f753ca191238.png)

Login working

[2018-11-07 02:31] ruddell commented on #8761
@fleboulch It only fails when translation is enabled.  Here's my UAA and gateway `.yo-rc.json` files (same as yours except the translation):

#### UAA
[code]
#### Gateway
[code]

[2018-11-07 02:48] brunnels commented on #8761
I had translation enabled too so that tracks.

[2018-11-07 09:08] lllllpylllll commented on #8498
Hi All

I had made the below changes and the Alert is able to show after editing a User Information in User Management.

1. Move the NgJhipsterModule.forRoot to **app.module.ts**.
2. Set Providers for **admin.module.ts**.
3. Remove .root from **shared-libs.module.ts**.

**app.module.ts**
`
imports: [
        NgJhipsterModule.forRoot({
            // set below to true to make alerts look like toast

[2018-11-07 09:18] fleboulch commented on #8761
Ok, I will have a deeper look into it.

[2018-11-07 13:10] atomfrede commented on #8498
+1 Thats what I did too. Will create the PR this evening.

Am Mi., 7. Nov. 2018 um 10:08 Uhr schrieb lllllpylllll <
notifications@github.com>:

[2018-11-07 13:42] DanielFran opened #8768 "Hazelcast is defined by default in Gateway application"
##### **Overview of the issue**

Hazelcast cache is selected by default when generating gateway from CLI.

##### **Reproduce the error**
Using JHipster version installed globally
Running default command
Executing jhipster:app
Options: from-cli: true

        ██╗ ██╗   ██╗ ████████╗ ███████╗   ██████╗ ████████╗ ████████╗ ███████╗
        ██║ ██║   ██║ ╚══██╔══╝ ██╔═══██╗ ██╔════╝ ╚══██╔══╝ ██╔═════

[2018-11-07 13:54] lllllpylllll commented on #8498
Hi atomfrede

Based on Angular Provider behavior, if we have Lazy Module that doesn’t provide a service it will use the instance created from root injector (AppModule).

If Providers for *admin.module.ts* is not set, the translation will not work. It does not seem to be aligning with the behavior, do you have any clue?

[2018-11-07 14:21] deepu105 commented on #8768
Its on purpose so since the rate limiting logic uses hazelcast to store in memory data

[2018-11-07 14:54] DanielFran commented on #8768
@deepu105 OK, I was thinking it could be a bug since there were lot of changes with CLI/JDL.
Will close then!
Thanks

[2018-11-07 14:54] #8768 closed

[2018-11-07 15:32] atomfrede commented on #8498
Yes, observed that too. Still not sure why thats the case. Thats what I mean with `I have only a half baked explanation` :)

[2018-11-07 15:46] nbaiocco opened #8771 "Ehcache statistics not shown with react"
##### **Overview of the issue**

The "Ehcache statistics" section in /admin/metrics is not shown with react app.

##### **Motivation for or Use Case**

I would like to see cache statistics.

##### **Reproduce the error**

Generate a new project with react frontend and visualize metrics page: http://myapp/admin/metrics

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)*

[2018-11-07 17:17] lllllpylllll commented on #8498
The translation will also work if we only set the JhiLanguageService within the providers section in Step 2.

Does that mean it has something to do with "JhiLanguageService"?

 *admin.module.ts*
`
 providers: [ { provide: JhiLanguageService, useClass: JhiLanguageService
 },  ],`

[2018-11-07 17:19] atomfrede commented on #8498
Yes. I used the translation service directly but with the service it seems
cleaner

On Wed, Nov 7, 2018, 18:17 lllllpylllll <notifications@github.com wrote:

[2018-11-07 17:53] juanpmarengo opened #8772 "Callback in ng-jhipster/data-util.service.ts"
##### **Overview of the feature request**

I'm using JhiDataUtils.setFileData and I need to pass a callback function or, in the best case, that it returns a promise.

##### **Motivation for or Use Case**

I could make my own setFileData (and I will), but I think this is something that it needs to be out of the box.

##### **Related issues or PR**

None.

-   [x] Checking this box is mandatory (thi

[2018-11-07 18:04] deepu105 commented on #8772
please provide a sample usecase with code example, for the generated app its not needed but ofcourse the if the usecase makes sense you are welcome to PR that

[2018-11-07 18:59] juanpmarengo commented on #8772
[code]

this.agent has a file inside and I need to save it once the file data is set. Also I would like to set the name once I know the data is set whithout errors.

Apart from this use case, I don't understand why you shouldn't have a callback or promise in this.dataUtils.setFileData.

[2018-11-07 19:20] bkakadiya commented on #6422
Worked for me. Thanks @gwokudasam !!

[2018-11-07 19:33] gwokudasam commented on #6422
you're welcome

[2018-11-07 20:46] arpansolanki opened #8775 "Issues deploying jhipster to AWS ElasticBeanstalk"
I generated a .war file using jhipster. Now i am trying to deploy the war file to aws elastic beanstalk. I am getting the following error.

Any suggestions on deploying jhipster applications to elastic beanstalk?

[Instance: i-056522388fa338cdb] Command failed on instance. Return code: 1 Output: (TRUNCATED)...pamodelgen-5.2.17.Final.jar extracting: /tmp/deployment/application/ROOT/WEB-INF/lib-prov

[2018-11-07 21:16] ruddell commented on #8040
I'm closing this based on @gzsombor's [comment](https://github.com/jhipster/jhipster/pull/68#issuecomment-422515144) saying it's fixed.  Please re-open if it's still an issue

[2018-11-07 21:16] #8040 closed

[2018-11-07 22:28] #8245 closed

[2018-11-08 03:00] einar-saukas opened #8777 "Non-required boolean should be supported"
##### **Overview of the issue**

Generated front-end code cannot distinguish between "field Boolean" and "field Boolean required".

##### **Motivation for or Use Case**

Omitting the "required" keyword should make it possible to set this field to NULL. However this behavior works correctly for all datatypes except "Boolean".

The generated front-end code currently doesn't allow setting a non-requi

[2018-11-08 08:33] moosad opened #8779 "ClientPackageManager is set to npm in jdl, but jhipster sets yarn in angular.json"
##### **Overview of the issue**

When I generate a new application with `jhipster import-jdl app.jdl`, and declare `clientPackageManager npm` in the `app.jdl`, in the generated `angular.json` `packageManager` is set to `yarn`. I have to manually change is to `npm` in order to generate a new angular library for example.

##### **Motivation for or Use Case**

As I declare `clientPackageManager npm`

[2018-11-08 09:50] fleboulch commented on #8761
I generated a gateway project with `"enableTranslation": false` on a master `branch`. The login/logout is working fine as previously mentioned.
Then I re-generated this project with `"enableTranslation": true` on an `enable-i18n` branch. The login/logout is failing.

Here is my PR showing the diffs between the two branches: https://github.com/fleboulch/gateway-no-i18n/pull/1/files.

I can't figure

[2018-11-08 11:29] PierreBesson commented on #8779
Good catch @moosad. It seems your `.yo-rc.json` file contains `"clientPackageManager": "npm"` so it looks like a `yarn` is hardcoded in the template.

[2018-11-08 11:34] PierreBesson commented on #8771
As the metrics are in progress of being migrated to Micrometer, it will be the opportunity to achieve parity between Angular and React screens.

[2018-11-08 12:32] lllllpylllll commented on #8105
I had build ng-jhipster with the code changes from the pull.

It seems that the sorting icon does not response when i tested on Internet Explorer, however Chrome is working fine.

The Internet Explorer - Console is showing the below error
ERROR TypeError: Unable to get property '0' of undefined or null reference

[2018-11-08 13:02] jdubois commented on #8771
@deepu105 @PierreBesson indeed everything is currently being migrated (oh and we should use components, coming from our own libs), so that should be improved and solved soon

[2018-11-08 13:37] deepu105 commented on #8105
Which version of IE, we actually only support evergreen browsers

On Thu, 8 Nov 2018, 1:32 pm lllllpylllll <notifications@github.com wrote:

[2018-11-08 13:43] lllllpylllll commented on #8105
IE 11 (Internet Explorer 11)

[2018-11-08 14:03] lllllpylllll commented on #8105
Hi deepu105,

i regenerate and reinstall the ng-jhipster that was build locally and it is working fine now.

Thanks

[2018-11-08 14:04] gvandooren commented on #8105
@lllllpylllll Thanks for your return  :)

[2018-11-08 14:47] #8779 closed

[2018-11-08 15:14] Fydon commented on #8709
Prettier now support [HTML formatting for Angular components][1], but I assume that we want to wait for a while so that any bugs are addressed as it was only release yesterday? If not then I could open another issue and do a pull request.

[1]: https://prettier.io/blog/2018/11/07/1.15.0.html

[2018-11-08 18:51] PierreBesson commented on #8709
On the topic of the YAML "?bug" with prettier. I have stumbled on this myself as well and I'm thinking that maybe it wouldn't be much of an issue to remove the empty keys. If we could have auto yaml format it would be really awesome as just a tiny yaml indent mistake can prevent your app from starting.

[2018-11-08 19:33] ruddell commented on #8761
@fleboulch Here's a smaller diff showing just the files that cause this issue https://github.com/ruddell/jhipster-examples/commit/6051760f3e2984c8c114eec3e57fceb16961396d, the error logged to the browser console is `ERROR TypeError: Cannot read property 'identity' of undefined`

[2018-11-08 22:40] tvprasad commented on #5666
I resolved the same problem by running following commands on centos 7.
# yarn run webpack:build:main
# yarn start

# ./mvnw package -Pprod -DskipTests=true

hope it helps.

[2018-11-08 22:54] WiteCastle commented on #5558
Any updates? The documentation isn't necessarily clear because it states that a `.angular-cli.json` config file is generated by JHipster ([using_angular.md L172](https://github.com/jhipster/jhipster.github.io/blame/master/pages/using_angular.md#L172)) but the latest version doesn't generate this for me.

[2018-11-08 23:03] fleboulch commented on #8761
@ruddell I got the same error as you in my Chrome console.

There is a smaller diff which explains this issue caused by #8596. This is only due to the `auth-expired.interceptor.ts` file. But this is not the root cause.

Indeed there is another error on browser refresh:
`GET http://localhost:8080/uaa/api/account 401 (Unauthorized)`. This 401 error with the `AuthExpiredInterceptor` will logout **all

[2018-11-09 00:43] gmarziou commented on #5558
It's `angular.json` now.

[2018-11-09 07:00] agoncal opened #8782 "Optimizing the JSon output for comboboxes"
##### **Overview of the feature request**

It would be great for performances to decrease the weight of the JSon sent from the server to fill a combobox.

##### **Motivation for or Use Case**

I wrote a blog post[2] about using the auto-complete component of PrimeNG but also on how to use JSonView[4] to optimise the JSon output for comboboxes. I talked about this idea with Julien, Pascal and Pierr

[2018-11-09 07:42] antarus commented on #8782
I love the idea, maybe we should optimize the jpa request that will return all the attributes of the entity before being truncated by jakson?

[2018-11-09 15:32] tibistibi commented on #8586
@jdubois super thanks for taking the time!
thanks for the info about Spring MVC and the location.

i have changed to location more than a week ago and have already released it to my live (and staging) server(s) and there seems no negative side effects.

if agreed on switching back i would be glad to make a PR

[2018-11-09 15:40] jdubois commented on #8586
Thanks @tibistibi ! Let's wait to have some feedback, in particular from @danielpetisme , and if that's OK let's switch back. This has been working for years, without a good reason I don't think we should change this.

[2018-11-09 15:45] anthony-o opened #8783 "OAuth2 documentation is not generated anymore in the README.md since v5.6.0"
##### **Overview of the issue**

Since JHipster 5.6.0, the OAuth2 documentation is no more added to the `README.md`.

##### **Motivation for or Use Case**

Keep the user informed when using OAuth2 as authentication type.

##### **Reproduce the error**

Create a new JHipster project using `oauth2` for `authenticationType` then read the generated `README.md`.
One can also check this directly by read

[2018-11-09 16:56] jdubois commented on #8653
OK this is "normal": there is no transaction (not possible on this bean, we can't add a proxy to it), so when we get the token it's done in a first transaction, then the object gets detached, and therefore it doesn't get deleted.

Indeed using "deleteById" will solve the issue, as we work with the ID and not with the detached object.

Let me do the fix, many thanks @pblanchardie for the issue & th

[2018-11-09 21:32] ruddell commented on #8783
Pinging @murdos since they may know what happened, the readme is in the `common` generator since v5.6.0.  It's also missing other variables like `buildTool`

[2018-11-09 22:32] yelhouti opened #8786 "Boolean type when required should be primitive type and getter should start with get when it's not"
##### **Overview of the issue**

When attribute type is boolean and is required the java bean intrespector doesn't see the getter that starts with "is" exampe `isMyBoolean`. check [here](https://github.com/bpupadhyaya/openjdk-8/blob/master/jdk/src/share/classes/java/beans/Introspector.java#L513) for source code. this creates problem with validatores when they encouter a `@NotNull Boolean myVar` is

[2018-11-10 06:46] jdubois commented on #8786
Yes this should affect all versions, but I'm sorry I'm not sure of what you mean.

If my boolean is called "test", then the method should be called "isTest", is that correct for you?

Also, I'm not sure a "null" boolean can exist, it can only be true or false, and if you use a Boolean instance that is null, then for me it is false.

There are definitely things to check here, maybe you could create

[2018-11-10 08:34] cbornet commented on #8786
isXXX can only be used for the primitive boolean, not for the wrapper Boolean.

[2018-11-10 08:50] jdubois commented on #8786
Oh I need to learn better how unboxing work

[2018-11-10 10:30] deepu105 commented on #8586
@jdubois I thought the switch was done to make jar packages work if i'm not wrong

[2018-11-10 11:09] pblanchardie commented on #8656
@jdubois Merci, glad to see this will be fixed!

[2018-11-10 12:59] #8653 closed

[2018-11-10 13:06] #8408 closed

[2018-11-10 13:10] murdos commented on #8783
I confirm the issue. I'm working on the fix.

[2018-11-10 13:13] MehrCurry commented on #8408
I did both. I have several microservices i tried different ways. After removing $HOME from the entrypoint.sh i got i running with the openshift generator.

I did not try after the change to jib.

[2018-11-10 14:18] alexsintoni opened #8790 "UAA with Elasticsearch: org.springframework.beans.factory.UnsatisfiedDependencyException"
##### **Overview of the issue**

I just created a new micro-service app and when I run `mvn clean install` I get

[code]

##### **Motivation for or Use Case**

I would like to use the last JHipster release but in my case is not working.

##### **Reproduce the error**

Simply create a new micro-service app with the following settings:
[code]

##### **Related issues**

Not found

##### **Suggest a F

[2018-11-10 15:44] #8498 closed

[2018-11-10 18:12] atomfrede commented on #8498
Bounty claimed https://opencollective.com/generator-jhipster/expenses/5699

[2018-11-10 20:06] pascalgrimaud commented on #8790
I manage to reproduce the same issue locally, I don't have the issue when using JWT or OAuth2.

I'll repeat myself: sorry @alexsintoni I know the UAA support is really bad today, as it seems no one want to contribute / fix bug / improve this.

[2018-11-10 20:09] pascalgrimaud commented on #8775
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-11-10 20:09] #8775 closed

[2018-11-10 21:40] pascalgrimaud commented on #8766
I confirm the issue, although it is minor.

The real problem comes from the json file from the Microservice and used by the Gateway.
This json file doesn't contain the information to know the databaseType of the Microservice, so when generating the "id", it can't determine the correct type (String).

Here my gateway and the Invoice.json entity from a Microservice using MongoDB:
https://github.com/

[2018-11-10 23:07] einar-saukas commented on #8786
It's not the same thing. A Boolean storing "null" means "undefined", it usually indicates that the actual value is not known... yet.

In a perfect world, all knowledge would be exact. Field "isActive" in a table about companies can only be true or false. Field "isAlive" in a table about people can only be true or false. Field "isOpen" in a table about doors can only be true or false. And son on.

[2018-11-11 00:11] yelhouti commented on #8786
I agree with @einar-saukas I think that Jhispter should allow people who wants possibly null `Boolean`s to have them, and for the required `boolean`s use the promitive type.
@jdubois as mentionned in my comment you just need to to generate a JD qith a required boolean to see the valudation problem which triggers à 500, do you want me to create such a repo? or do you want me to pull request the fix

[2018-11-11 06:43] jdubois commented on #8786
Having 3 possible values for a boolean definitely look wrong to be. If you have 3 values, you should use an enum.

[2018-11-11 09:09] deepu105 commented on #8786
Yes I also agree with Julien. Having 3 value for Boolean sounds like a code
smell

On Sun, 11 Nov 2018, 7:43 am Julien Dubois <notifications@github.com wrote:

[2018-11-11 09:36] xiaods opened #8795 "jhipster generator: TypeError: Cannot read property 'blueprint' of undefined"
##### **Overview of the issue**

##### **Motivation for or Use Case**

when i brew install jhipster geneartor, i run it on macos environment. it raised error for me. i have reinstall the node version to 8.x
[code]

##### **Reproduce the error**

[code]

##### **Related issues**

##### **Suggest a Fix**

any clues welcome, i don't found any helpful info for this.
##### **JHipster Version(s)**
JHips

[2018-11-11 09:53] pascalgrimaud commented on #8795
Look at your log: `Just found a `.yo-rc.json` in a parent directory.`
It seems like you have a  `.yo-rc.json` file in your `/Users/xiaods/Documents` folder.
You can't generate a JHipster project in a sub folder of an already one

[2018-11-11 11:11] xiaods commented on #8795
@pascalgrimaud thanks for your hints, it works like a charm now. thanks a lot.

[2018-11-11 11:11] #8795 closed

[2018-11-11 11:50] einar-saukas commented on #8777
A simple good solution was proposed here (last alternative in this article):

https://css-tricks.com/indeterminate-checkboxes/

[2018-11-11 12:01] pascalgrimaud commented on #8786
Agree with Deepu and Julien.

[2018-11-11 12:07] deepu105 commented on #8547
The last 2 items I couldn't reproduce(on Fedora 29), it could be an issue with your terminal or os env

[2018-11-11 12:07] deepu105 commented on #8547
for item 1, I have added a new flag `--interactive` this will run everything in series. Run `jhipster import-jdl --help` for details. This will be in next release

[2018-11-11 12:14] DanielFran commented on #8786
+1

[2018-11-11 12:46] einar-saukas commented on #8786
I understand your preference for required (not null) booleans. Even so, databases with nullable booleans (and the business requirements for them) do exist in practice. Why exclude them from JHipster?

Support for non-required boolean will make absolutely no difference for everyone that prefer to only declare required booleans, and increase JHipster usefulness for others. Also JDL behavior will be

[2018-11-11 13:05] pascalgrimaud commented on #8777
@einar-saukas : I'm closing this ticket as there is a similar one https://github.com/jhipster/generator-jhipster/issues/8786
We can go on there, and discuss about it.

[2018-11-11 13:05] #8777 closed

[2018-11-11 15:04] jdubois commented on #8786
So you gave me some doubts here and I did some research:

- of course booleans should be true or false, that's the whole point of booleans, and having 3 states for a boolean doesn't make any sense. If you need three states, use an enum.
- of course when you unbox them you're going to have NPE. Having an NPE in your code is bad. And if you're lucky, instead of having a NPE your boolean will be reso

[2018-11-11 16:38] DanielFran commented on #8683
@jhipster/developers Anyone might help to fix last issues?

[2018-11-11 16:44] pascalgrimaud commented on #8683
@DanielFran : if needed, we could focus on this, this tuesday at our JHipster Day at Ippon

[2018-11-11 16:48] jdubois commented on #8683
I'm definitely very interested, I'll have a look during the week.

[2018-11-11 16:57] DanielFran commented on #8683
Actually I have an issue with AsyncLiquibase due to changes with taskexecutor and also an error with missing javassist in clathpath... :(

[2018-11-11 17:43] SteffanUA opened #8798 "Restrict Node.js LTS dependency on Chocolatey"
##### **Overview of the issue**

Chocolatey installs nodejs-lts (≥ 8.12.0) alongside jhipster as a dependency and with the release of node 10.13.0 LTS there is a major version change which will be downloaded instead of version 8.*

##### **Motivation for or Use Case**

Node version 10.13.0 is not compatible with some packages used in jhipster at the moment and this breaks when running applications

[2018-11-11 17:50] pascalgrimaud commented on #8798
Can you give more details about this ?
In the core team, few people use Windows 10, so maybe we miss something ?

[2018-11-11 18:48] ruddell commented on #8798
I think we need to change the version for nodejs here: https://chocolatey.org/packages/jhipster, it looks like @jdubois has done it in the past based on the comments there

[2018-11-11 19:18] deepu105 commented on #8786
@yelhouti @einar-saukas we are sorry since the majority of core team agrees that this is not a good idea. We are already knee deep in open issues and we shouldn't focus on this. Our aim is not just to provide code but to provide code with best practices wherever possible.

[2018-11-11 20:08] ruddell commented on #8798
@SteffanUA Can you describe which packages fail in nodejs v10?  As that is the new LTS version, we should upgrade to that.  I didn't notice any issues on Mac, but I don't have a WIndows computer to test.

[2018-11-11 20:11] yelhouti commented on #8786
@deepu105 I totally agree, i don't mind you guys always using primitive booleans even if understand einar's point. But closing the issue and keeping the wrapped booleans with 3 states is the opposite of best practice and is just the wrong choice IMO. I can switch everything to native booleans if you want

[2018-11-11 22:49] #8633 closed

[2018-11-11 23:34] gmarziou commented on #8798
@SteffanUA I don't understand this issue.

Currently our pom.xml references node 10.13.0 and frontend-maven-plugin installs it and builds an angular or react monolith without any problem (I tested both on WIndows 10), it uses it independently from what is installed on developer's PC.
So this works well without Chocolatey.

I also tested with npm start (so not using frontend-maven-plugin) and haven

[2018-11-12 02:26] einar-saukas opened #8799 "Proposed new keywords: "key" and "provided-key""
##### **Overview of the feature request**

In JHipster JDL, IDs are defined implicitly. For instance, consider this JDL:

[code]

In this case, an additional field will be automatically defined as "id Long required", and declared as PRIMARY KEY with AUTO_INCREMENT. The corresponding domain class in Java will have:

[code]

Even if a field called "id" is explicitly declared in the JDL, it's ignored

[2018-11-12 02:39] einar-saukas opened #8800 "Proposed new keyword: "readonly""
##### **Overview of the feature request**

At the end of JDL file, users could add something like:

`readonly *
`

Or

`readonly A, B, C
`

Or

`readonly * except D, E
`

Entities defined as read-only should work almost exactly like others, with just a few differences:

* Frontend should only provide list and "View" pages for these entities. It won't provide "Create new", "Edit" or "Delete" option

[2018-11-12 03:56] amatosg opened #8801 "Invalid URL loads a semi-blank page"
##### **Overview of the issue**
When I type a wrong url (something like _localhost:8080/#/my-entity/123123/view_ or _localhost:8080/#/unexistant-entity/_) in a new tab/window, it loads a partially blank page instead a 404 page with only the footer visible with title _[object Object]_
[(image)](https://i.imgur.com/YRj2U3P.png)

##### **Motivation for or Use Case**
There is no 404 page. When enterin

[2018-11-12 06:54] Nyquest opened #8802 "IP Auditing"
##### **Overview of the feature request**

Write ip address of user who changes record

##### **Motivation for or Use Case**

IP-address information can be very useful in investigations. With this data is very calm.

##### **Related issues or PR**

If you think that this can be included in the Jhipster, I will try to do PR.
For now, I’ll provide code snippets for you to understand the idea.

[code

[2018-11-12 07:40] deepu105 commented on #8800
This is actually a useful feature. @jdubois @MathieuAA WDYT?

[2018-11-12 07:43] deepu105 commented on #8799
@einar-saukas sorry, we have been having this request many times and we always decided against it as its a lot of work to implement & maintain for the small benefit it gives. So I'm sorry that we have to reject this request. We don't want to make JDL a JPA/Bean replacement. I understand your use case but the cost of maintenance is too high for this.

[2018-11-12 07:43] #8799 closed

[2018-11-12 07:45] deepu105 commented on #8772
@juanpmarengo are you willing to do the PR? if so don't hesitate to do it directly and refer this ticket. I'm closing the ticket since we won't be doing this. If you do the PR i'll review it

[2018-11-12 07:45] #8772 closed

[2018-11-12 07:49] pascalgrimaud commented on #8790
UAA is supposed to be supported, but there is very few contributions and for me, it's broken for a while.
So I already suggested to remove it, because I don't like keeping broken option, it's really sad to propose that.

JWT works well, and same for OAuth2

[2018-11-12 08:03] jdubois commented on #8800
Yes this is useful.

[2018-11-12 08:50] jdubois commented on #8802
We already do this for HTTP session security, when you invalidate sessions you can see the IPs, so maybe there's some common code to do here.

[2018-11-12 08:52] jdubois commented on #8801
Indeed, and that's because that's not a "real" 404 page. You have a 404 when you go to an invalid URL, like http://localhost:8080/yolo but here you have a hashbang, so this is served by the Angular/React front end, and you are going to a route that does not exist.

We should indeed correct that, and have some kind of "404 route" for Angular/React.

[2018-11-12 08:56] jdubois commented on #8798
Yes indeed I'm doing this, and update the Chocolatey package with each of our releases. As we are currently using Node 10 LTS (which is normal, we always support the LTS release), I also updated the Chocolatey script to use Node 10 LTS.

Then, this shouldn't cause any issue as we do support Node 10 LTS: if there is an error, this isn't a Chocolatey issue, it's a bug in our Node 10 LTS support.

At

[2018-11-12 08:56] #8798 closed

[2018-11-12 09:04] deepu105 commented on #8800
This can be a JDL only feature and for entity subgen may be we can add a
flag

Thanks & Regards,
Deepu

On Mon, Nov 12, 2018 at 9:24 AM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2018-11-12 09:07] pascalgrimaud commented on #8798
@jdubois : shouldn't we upgrade this https://github.com/jhipster/chocolatey-package/blob/master/jhipster.nuspec#L26 ?

[2018-11-12 09:34] jdubois commented on #8786
Currently we are using Objects everywhere (so not the primitive types).

- There's probably a very negligible overhead of doing so (compared to a database call!)
- I know some people use "null" objects in order to reduce the output of their JSON, but taking the risks to have NPE everywhere for a performance reason looks like a weak argument to me (you'd rather you have view models or DTOs for that

[2018-11-12 09:38] jdubois commented on #8798
@pascalgrimaud oh sorry, I thought I already did this!! Yes you are correct.

[2018-11-12 09:41] DanielFran commented on #8800
+1 for mee too

[2018-11-12 10:02] pascalgrimaud commented on #8798
It's my fault, I forgot this repo when upgrading to Node 10.13.0 LTS.
I'll add it to my personnal repo list when upgrading Node.

[2018-11-12 10:04] #8547 closed

[2018-11-12 10:48] Fydon commented on #8709
@PierreBesson We could also just comment them out like the [cors definition is], as that formatting then stays the same. Would that be acceptable?

[1]: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/application.yml.ejs#L246

[2018-11-12 10:56] PierreBesson commented on #8709
@Fydon yes absolutely.

[2018-11-12 12:41] yelhouti commented on #8786
@jdubois would you like me to work on this?

[2018-11-12 12:42] Fydon commented on #8709
As comment blocks will be aligned, some formatting of the generator files needs to changed so that the alignment won't break the configuration. Should the user remove just the comment character (#), as in there shouldn't be any spaces?

Would this just be for the server generator files or would other generators be affected, as Prettier is only applying to the src folder currently?

Some files may

[2018-11-12 12:43] yelhouti commented on #8786
@jdubois, I was answering you. I'll do and start working on it

[2018-11-12 12:45] PierreBesson commented on #8709
Yes we need to keep the formatting so put the spaces after the "#" and this is actually makes sense as it follows the spirit of automatic IDE commenting.

[2018-11-12 12:54] yelhouti commented on #8786
@jdubois I'm writting the issue, and even thow I understand all your choices I think you don't realize the extend of the impact, specially on the database side:
- for NoSQL databases null might mean not present.
-  for SQL if the not null is not enforced in the database, NPE may occur.
I think we should encourage people to use only required booleans using a warning in the JDL for example, bit with

[2018-11-12 13:32] Fydon opened #8805 "Use Prettier for yaml"
##### **Overview of the issue**

Prettier is currently used for json, ts, css and scss, but and yaml is also supported.

##### **Motivation for or Use Case**

The YAML part of #8709. Standardise the format of more files. An issues with YAML files is that placeholders become [unordered lists][3], e.g. [`password:`][2] becomes `? password`. We could overcome this by commenting out the keys without v

[2018-11-12 13:36] Fydon commented on #8805
@PierreBesson Which of the following is correct for the above example?

[code]
or
[code]

[2018-11-12 13:49] PierreBesson commented on #8805
@Fydon Whatever feels better for you as long as it's valid (our goal is to make it easy for people to contribute that's why we use such a simple system like EJS). We also have an EJS lint step that help validate your EJS (npm run lint).

[2018-11-12 14:00] jdubois commented on #8786
Hi @yelhouti sorry I can't easily do a phone call, but we can chat on the ticket, that's the way we usually work.

Could you open up the ticket, with your issues, and we'll chat there? I understand it might be more complex than expected, so let's it give it a try, but it doesn't have to succeed. We've been using Objects for 5 years and nobody had any issue with that until today, so that's probably

[2018-11-12 15:01] deepu105 commented on #8805
Actually it now supports HTML and Angular HTML as well, do you want to enable that as well in the PR?

[2018-11-12 15:19] Fydon commented on #8805
@deepu105 I subscribed to [the issue][1] when I noticed that they were working on support and I see that people are still reporting problems. We may want to wait a bit.

In 1.15 HTML Whitespace Sensitivity and End of Line [options][2] were added. I assume that the [default of auto][4] is fine for End of Line, which, if I understand correctly, applies the first end of line character set to the rest

[2018-11-12 15:40] deepu105 commented on #8805
ok lets wait then

Thanks & Regards,
Deepu

On Mon, Nov 12, 2018 at 4:19 PM Fydon <notifications@github.com> wrote:

[2018-11-12 21:37] ruddell opened #8811 "No ".war.original" generated from "gradlew -Pprod bootWar""
##### **Overview of the issue**
Gradle doesn't generate a .war.original.  The docs (https://www.jhipster.tech/production) say it should when running `./gradlew -Pprod bootWar`

Originally reported by @campbellmcneill in the Gitter

##### **Motivation for or Use Case**
This file is normally used when deploying to application servers

##### **Reproduce the error**
- Generate a gradle project
- `./gr

[2018-11-12 22:16] yelhouti commented on #8786
Sorry long day, I don't understand what you mean by open up the ticket with my issues (this is my ticket) do you want me to create another one? How would it be different from this one?

[2018-11-13 05:12] atomfrede commented on #8811
Looks like that behaviour has changed with the boot 2 Gradle plugin. But it
looks like it can be activated again. Will try it.

Am Di., 13. Nov. 2018, 00:10 hat Jon Ruddell <notifications@github.com>
geschrieben:

[2018-11-13 06:34] deepu105 commented on #8786
It's fine. Just do the PR and refer this ticket

[2018-11-13 06:45] atomfrede commented on #8811
Adding

[code]

to the war task works, but the war is only generated when explicitly executing the war task. `bootWar` doesn't trigger the war task anymore. So two questions:

* How is maven behaving?
* I would just adapt the documentation and not enable add the above lines as comment to the gradle build file as we want to switch to jar files anyway  with jh6 if I remember correct

[2018-11-13 08:01] tibistibi commented on #8604
@rudell i will look into it. can you tell me what mariadb.yml is?

[2018-11-13 08:12] tibistibi commented on #8604
it happens when you use utf8mb4:

show create database mydb;
+--------------+--------------------------------------------------------------------------+
| Database     | Create Database                                                          |
+--------------+--------------------------------------------------------------------------+
| mydb | CREATE DATABASE `mydb` /*!40100 DEFAULT CHARACTER SET

[2018-11-13 09:09] pascalgrimaud commented on #8604
You can look the generated `mariadb.yml`, using with Docker Compose:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/docker/mariadb.yml.ejs#L31

[2018-11-13 09:52] tibistibi commented on #8604
ah ok so my db is setup with debian apt-get so i do not have an mariadb.

can you check it your character is set to `utf8mb4`?

[2018-11-13 10:31] Fydon opened #8813 "Duplicate CSS Selector"
##### **Overview of the issue**

`.app-loading .lds-pacman` exists twice in loading.css.ejs for both React ([1][3] and [2][4]) and Angular ([1][1] and [2][2]). These should be merged.

##### **Motivation for or Use Case**

It will be easier to read see what styles are being applied if there is only one instance of a selector.

Stylelint detected this. Prettier performs a few code changes, but Styl

[2018-11-13 13:42] tibistibi commented on #8604
i set up jhipster with mysql but that should be the same. here is my mysql.yml:

version: '2'
services:
    standbystand-mysql:
        image: mysql:5.7.20
        # volumes:
        #     - ~/volumes/jhipster/standBystand/mysql/:/var/lib/mysql/
        environment:
            - MYSQL_USER=root
            - MYSQL_ALLOW_EMPTY_PASSWORD=yes
            - MYSQL_DATABASE=standbystand
        ports:

[2018-11-13 14:45] campbellmcneill commented on #8811
That worked for me fine to get the slim war from Gradle.

[2018-11-13 15:44] pascalgrimaud commented on #8766
@MathieuAA : here the ticket, I talk you about. What do you think about that ?

[2018-11-13 15:54] MathieuAA commented on #8766
That I won't like it ;)

[2018-11-13 17:21] avdev4j commented on #8541
Hi @abenmess,
With @chrisdns we found a solution of this bug. I'll do a PR tomorrow !

stay tuned

[2018-11-13 18:12] pascalgrimaud commented on #8813
@Fydon : would you like to contribute and PR the fix ?

[2018-11-13 18:12] mraible commented on #8683
Something I noticed in the [2.1 release notes](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes) today:

**Elasticsearch REST Clients**
As an alternative option to Jest, auto-configurations for `RestClient` and `RestHighLevelClient` are provided with configurable options from the `spring.elasticsearch.rest.*` namespace.

I'm not sure that we want to move away from

[2018-11-13 18:15] pascalgrimaud commented on #8710
probably because your Docker machine doesn't have enough memory.

The more I read this ticket, the more I think all problems comes from your environment, as no one manage to reproduce the issue

[2018-11-13 18:38] ruddell commented on #8604
You can see in the `mariadb.yml` file Pascal linked above that `--character_set_server=utf8mb4` is set.  It also looks like the container runs in strict mode.  Query results showing this:

`show variables like 'sql_mode';`

    sql_mode  STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

`show variables like "character_set_database";`

    character_set_data

[2018-11-13 19:09] #8813 closed

[2018-11-13 19:41] atomfrede commented on #8811
I will handle it don't worry

[2018-11-13 19:41] tibistibi commented on #8604
yes so with utf8mb4 it is not possible to go above 191 chars on a varchar column if there is an index added. so i would suggest to support utg8mb4 and either lower the email field to 191 chars or to change the index to only take the first 191 chars to index on.

[2018-11-13 21:21] mohamedzaki90 commented on #4494
should the set cause performance issues while adding a new element to a large collection? according to this https://www.thoughts-on-java.org/association-mappings-bag-list-set/
List is treated as bag which could be more performant in case of large collections

[2018-11-14 00:19] yelhouti commented on #8786
Well if I understand well you are not that much open to discussing the possibility of having null and non null booleans in Java. The only problem I can see is for existing databases with null boolean values that could have problems being read from the database. I'll take the risk and switch everyting to native. test it then pull request.

[2018-11-14 01:36] Blackdread commented on #4494
this is old issue, create new one.
Set is better.
If you have 1k+ 10k+ list items to fetch with JPA you should first think about what you trying to achieve before trying to "optimize" between Set and List

[2018-11-14 04:17] Blackdread opened #8818 "Custom validators JSR-303 does not get injected for autowired fields in integration test"
##### **Overview of the issue**

Autowired fields in custom validators are not injected in integration test

##### **Motivation for or Use Case**

Make tests work :)

##### **Reproduce the error**

Create a custom annotation for validation and a custom ConstraintValidator<A extends Annotation, T>, put Autowired service/etc in it, it will be null for integration test

##### **Related issues**

None

[2018-11-14 05:51] yelhouti commented on #8786
Here is the PR, I decided at the end to give the user the right to choose if the boolean is required or not since, this way, I don't need to the databases scripts. Keeping columns that allow null values for primitive booleans could case NPE when reading from databases with boolean null values.
There many other reasons to giving the user the control of what he wants to generate, and having a requir

[2018-11-14 06:42] Xsxdot opened #8821 "when run ./mvnw ,throw ZipException:error in opening zip file"
##### **Overview of the issue**

~/D/W/J/question git:master ❯❯❯ ./mvnw
Exception in thread "main" java.util.zip.ZipException: error in opening zip file
	at java.util.zip.ZipFile.open(Native Method)
	at java.util.zip.ZipFile.<init>(ZipFile.java:225)
	at java.util.zip.ZipFile.<init>(ZipFile.java:155)
	at java.util.zip.ZipFile.<init>(ZipFile.java:169)
	at org.apache.maven.wrapper.Installer.unzip(Ins

[2018-11-14 06:50] Xsxdot commented on #8821
When run sudo ./mvnw , nothing show ....

[2018-11-14 06:53] Xsxdot commented on #8821
I deleted m2 wrapper, then run ./mvnw , no exception, but nothing too.....

[2018-11-14 06:55] Xsxdot commented on #8821
After a long time, something appeared. But running very slowly

[2018-11-14 06:55] #8821 closed

[2018-11-14 08:13] deepu105 commented on #8710
I'm doing these everyday on linux(preparing demo for Devoxx) and so far no problems and most people on core team are doing this on macs as well. So I don't know what we can do here, it definitely sounds like an issue with your environment. I'm closing this as not reproduceable. If you manage to gather more info and can prove that it indeed is a JHipster related bug then please let us know and we w

[2018-11-14 08:13] #8710 closed

[2018-11-14 09:23] murdos opened #8822 "Entity: Getter for a boolean attribute prefixed by 'is' should not add prefix 'is'"
##### **Overview of the issue**

Using the following JDL :
[code]

The generated Entity `A.java` has the following getter :
[code]

##### **Motivation for or Use Case**

Generated getter does not match usual practice in java, and generated getter by IDE.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

Detect `is` prefix in attribute, and then do not add a prefix

[2018-11-14 09:54] cbornet commented on #8822
We don't have a choice on how the getter should be named. If the attribute is `foo`, the getter shall be `getFoo` as per the Java bean contract.
Now we do have an issue which has been pointed out in another issue: the `is` getter shall only be used for the primitive `boolean` and not for the wrapper ̀Boolean`. I think this will be adressed by PR #8820 .
So if `isDeleted` is `required` the getter s

[2018-11-14 10:38] murdos commented on #8822
@cbornet I'm perfectly aware of PR #8820 (you can see my comments on the PR). I discovered this issue while doing some tests for the PR.

Java Bean Specification indeed doesn't talk about this specific case, but it seems to be usual practice to not generate `isIsXXX` :
- [lombok](https://projectlombok.org/features/GetterSetter) does not do it:

- IDE don't do it either (tested IntellIJ, but I gues

[2018-11-14 11:17] avdev4j commented on #8541
Here are more details :
As you noticed it "Storage.local" returns undefined for the langKey. Thea reason is simple, we store in the session storage ("Storage.session.set") and we read in the local one.

I fix it by reading and storing in both session storage.

[2018-11-14 11:30] yelhouti commented on #8786
@jdubois after few tests it seems that using primitive types for Long is not a very good idea:
Since deserialization is done before validation check 0 is assigned to the `int`, and the `@NotNull` is triggered.
For booleans it's not a problem since false is set by default and a required boolean not defined or null is expected to be set automatically to false without triggering any validation error.

[2018-11-14 12:35] #8612 closed

[2018-11-14 13:47] seyfullah opened #8824 "Jhipster Ehcache null exception"
$ jhipster info
Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "p

[2018-11-14 13:48] seyfullah commented on #8824
When I try to login using one of users, I can log in. But another user gets above error. I use keycloak.

[2018-11-14 14:34] BillPhoebe opened #8825 "There is a question in gateway type code."
In gateway type code with uaa. A field of loginService in angular, the principal's DI function doesn't work. I always got an error that the principal is undefined.

[2018-11-14 14:39] gmarziou commented on #8825
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-11-14 14:40] #8825 closed

[2018-11-14 16:13] mraible commented on #8284
I'm experiencing something that might be related to this issue in [21-Points Health](https://github.com/mraible/21-points/issues/54).

The response from the API seems to have timezone information in it, and I'd prefer it didn't. I tried making the change below, but it doesn't seem to help. Any ideas?

[code]

[2018-11-14 17:04] cbornet commented on #8822
Indeed @murdos, you're right ! The field name doesn't really matter in JavaBean since it only uses the getters and setters.

[2018-11-14 17:06] cbornet commented on #8822
One thing to verify : does it work with Jackson as you would expect ?

[2018-11-14 17:09] MathieuAA commented on #8822
By the way, isXXX implies a function, method. Not necessarily a field. It's actually considered "clean code"

[2018-11-14 17:13] avdev4j commented on #8284
Hi Mat,
This option will tell to hibernate to store the timestamp value in UTC. Does the "2018-11-13 13:06:00" value is correct (I mean has the correct value as UTC timestamp) ?

If this is the expected value in database so I think we have to look after server config or jackson properties.

Does your server is set in UTC ? Your local I suppose not. Let's do a try by setting your computer in UTC.
I

[2018-11-14 17:19] #8541 closed

[2018-11-14 19:54] ruddell commented on #8825
Duplicate of https://github.com/jhipster/generator-jhipster/issues/8761

[2018-11-14 19:56] #8765 closed

[2018-11-14 22:51] mraible commented on #8284
I think I figured out the problem. In JHipster 4.x, I was displaying the dates with the following HTML in my Angular component:

[code]

This worked, and I remember I had to add it to get dates to display correctly. I kept this change when migrating to JHipster 5. However, it doesn't work (and it seems strange that it ever did).

I changed my local timezone to UTC on my laptop, changed the express

[2018-11-15 05:12] RRanjitha commented on #3773
When, i run the maven got an error like :Caused by: org.postgresql.util.PSQLException: ERROR: foreign key constraint "fk_user_info_user_id" cannot be implemented
  Detail: Key columns "user_id" and "id" are of incompatible types: bigint and character varying.
Please anyone help me.

[2018-11-15 05:13] RRanjitha opened #8832 "When, i run the maven got an error like :Caused by: org.postgresql.util.PSQLException: ERROR: foreign key constraint "fk_user_info_user_id" cannot be implemented"
Detail: Key columns "user_id" and "id" are of incompatible types: bigint and character varying.
Please anyone help me.

_Originally posted by @RRanjitha in https://github.com/jhipster/generator-jhipster/issue_comments#issuecomment-438920038_

[2018-11-15 05:29] RRanjitha opened #8833 "When, i run the maven got an error like :Caused by: org.postgresql.util.PSQLException: ERROR: foreign key constraint "fk_user_info_user_id" cannot be implemented"
When, i run the maven got an error like :Caused by: org.postgresql.util.PSQLException: ERROR: foreign key constraint "fk_user_info_user_id" cannot be implemented

_Originally posted by @RRanjitha in https://github.com/jhipster/generator-jhipster/issues/3773#issuecomment-438920038_

[2018-11-15 06:15] atomfrede commented on #8832
Without any details about your configuration, system and used version we can't help in any way. Please provide the necessary information, so we can reproduce your error.

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the f

[2018-11-15 06:15] #8832 closed

[2018-11-15 06:15] atomfrede commented on #8833
Without any details about your configuration, system and used version we can't help in any way. Please provide the necessary information, so we can reproduce your error.

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the f

[2018-11-15 06:15] #8833 closed

[2018-11-15 06:45] johnmartin4561 commented on #8242
Hi @abhisheksharma85 ,

I am working on project based on JHipster and there is a requirement for two step authentication. Could you please guide me how to achieve this in JHipster application. If you give me some code snippet so it will be great.

Thank you.

[2018-11-15 06:47] abhisheksharma85 commented on #8242
Sure I will send you over weekend.

Send me your email address

On Wed, Nov 14, 2018, 10:46 PM johnmartin4561 <notifications@github.com
wrote:

[2018-11-15 06:55] johnmartin4561 commented on #8242
Thank you very much :)

Here is my email address :- johnmartin4561@gmail.com

[2018-11-15 06:59] #8506 closed

[2018-11-15 07:08] johnmartin4561 commented on #8242
Thank you @abhisheksharma85 ,

Here is my email address :- johnmartin4561@gmail.com

[2018-11-15 08:22] vladmihalcea commented on #8284
@mraible When we added the `hibernate.jdbc.time_zone` configuration property in Hibernate, we wanted to address the use case when the DB server is configured to use a given time zone (e.g. UTC), but the web/application server is using a different time zone (e.g. CET).

The time zone given by the `hibernate.jdbc.time_zone` the property will be used like this:

- `st.setTimestamp( index, timestamp,

[2018-11-15 08:58] SakuraLu opened #8836 "nothing"
--------------^ Click "Preview" for a nicer view!

Support this project by becoming a sponsor! [Become a sponsor](https://opencollective.com/generator-jhipster) or [learn more about sponsoring the project](https://www.jhipster.tech/sponsors/).

[2018-11-15 08:59] SakuraLu commented on #8836
asd

[2018-11-15 09:17] DanielFran commented on #8836
Without any details about your configuration, system and used version we can't help in any way. Please provide the necessary information, so we can reproduce your error.

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the f

[2018-11-15 09:17] #8836 closed

[2018-11-15 09:46] jdubois commented on #8836
@SakuraLu spamming us is not nice, I will fill an abuse request and ban you from the project if you continue

[2018-11-15 11:58] deepu105 commented on #8833
@RRanjitha you have opened 2 issues and commented on another one with same message. Please atleast put in some effort to read our guideline when opening an issue. If you open issues with proper details we will do our best to help you otherwise you are just wasting everyone's time

[2018-11-15 12:31] mraible commented on #8739
I'm not sure if this is related, but I think it might be. If I create a new microservices stack with the following JDL:

[code]

... when I try to search on the "product" page (which uses MongoDB + Elasticsearch), I get the following error:

[code]

[2018-11-15 12:40] mraible commented on #8242
If you use OIDC and Okta, it's pretty easy to enable MFA. Here's a tutorial that shows you how: https://developer.okta.com/blog/2018/06/12/mfa-in-spring-boot

[2018-11-15 23:11] DanielFran commented on #8284
@vladmihalcea If we implement a multitenancy Database, can we define different timezone in the application, 1 per tenant Database?

[2018-11-15 23:11] xetys opened #8839 "improve angularX component generation for side-by-side"
##### **Overview of the feature request**

Like in #8509 the generated files for angular components have unnecessary private methods, which force a user doing side-by-side either reimplement those methods with a leading "_" in the name or change the actual code, what we don't want if doing SBS.

 ##### **Motivation for or Use Case**

Like @agoncal, I try to work using the side-by-side approach in

[2018-11-16 03:42] hrqiang opened #8840 "Reactjs javascript error on version 5.3.0+."
##### **Overview of the issue**

Generate a reactjs monolith with a version bigger than 5.3.0. Run
$ ./mvnw
to start springboot, browser showing error

An unexpected error has occurred.
Details

Error

'''

dom-utils.ts:31 Download the React DevTools for a better development experience: https://fb.me/react-devtools
redux.js:23 Uncaught TypeError: Cannot read property 'state' of undefined
    at Lo

[2018-11-16 05:49] mraible opened #8841 "PostgreSQL with Docker-Compose: fails to start sometimes"
##### **Overview of the issue**

If I generate a microservices stack with the following JDL, everything usually starts great the first time.

[code]

However, sometimes the blog app fails to start with the following error:

[code]

##### **Motivation for or Use Case**

Starting the apps with `docker-compose up` should work every time.

##### **Reproduce the error**

Create an app with the JDL abov

[2018-11-16 06:16] bahadyr commented on #8710
Just now tried on another machine. having the same error.
Probably this happens because i'm using docker-machine.

[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:0.9.11:dockerBuild (default-cli) on project service-1: Build to Docker daemon failed: 'docker load' command failed with error: requested load from stdin, but stdin is empty: The pipe has been ended -> [Help 1]

Big

[2018-11-16 06:33] mraible commented on #8841
I'm not sure what you mean by migrations. All I'm going is generating the apos from the JDL, building the Docker containers, then running ”docker-compose up” in the docker-compose directly. I'm not modifying any code after generating everything.

[2018-11-16 06:58] deepu105 commented on #8839
Can you update it plz. I guess they can be protected

On Fri, 16 Nov 2018, 12:11 am David Steiman <notifications@github.com wrote:

[2018-11-16 07:15] pascalgrimaud commented on #8841
What do you mean by shutting down the container ?
Maybe you need to delete all containers ; stopping them wouldn't be enought

[2018-11-16 07:20] deepu105 commented on #8841
@mraible @pascalgrimaud is right. It happens to me on MySQL as well, I think when we just shutdown the container the persistent volume is kept and reused on next run. I always do `docker kill <ID> && docker rm <ID>` or `docker-compose down && docker image prune --all`

[2018-11-16 07:59] vishal423 commented on #8841
Every time you re-generate, Liquibase migrations would be generated with newer Id (timestamp based) and during application start, Liquibase will try to apply those against database as their Id would be different than those already present in the database (that's why you see table already exists error)

[2018-11-16 09:40] SameerNainawat commented on #6495
Thank you @jdubois

[2018-11-16 09:49] SameerNainawat opened #8842 "Jhipster swagger-ui not showing documentation"
I have created a project using JHipster. API documentation is showing in v2/api-docs but it is showing nothing in swagger-ui/index.html

Jhispter swagger auto-configuration is not showing documentation and when I am adding swaggerConfiguration explicitly then it's throwing an exception of multiple dockers.

is there any way to fix it or any other way to bypass Jhipster swagger auto-configuration s

[2018-11-16 09:50] jdubois commented on #8842
It totally depends on your configuration, please can you follow the guidelines and post your configuration?

[2018-11-16 09:52] SameerNainawat commented on #8842
jhipster:
    async:
        core-pool-size: 2
        max-pool-size: 50
        queue-capacity: 10000
    # By default CORS is disabled. Uncomment to enable.
    #cors:
        #allowed-origins: "*"
        #allowed-methods: "*"
        #allowed-headers: "*"
        #exposed-headers: "Authorization,Link,X-Total-Count"
        #allow-credentials: true
        #max-age: 1800
    mail:
        from:

[2018-11-16 10:07] jdubois commented on #8842
No I mean your JHipster configuration, have a look at the template when creating a new issue, it's all explained. Basically we need the output of `jhipster info`

[2018-11-16 10:13] SameerNainawat commented on #8842
is that application.yml file?

[2018-11-16 12:17] gmarziou commented on #8842
@SameerNainawat Julien asked you only to run `jhipster info` command and paste its output here

[2018-11-16 12:45] SameerNainawat commented on #8842
$ jhipster info
INFO! Using JHipster version installed globally
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {

[2018-11-16 12:48] rubensa opened #8843 "har-validator version to 5.1.2 not available"
##### **Overview of the issue**

**JHipster Generator 5.6.1** depends on **har-validator 5.1.2** which is not available on npm registry any more:

[code]

##### **Motivation for or Use Case**

Use JHipster Generator 5.6.1

##### **Reproduce the error**

To reproduce the error you must delete your npm cache (~/.npm on Posix or~/npm-cache on Windows) before doing a ```npm install generator-jhipster`

[2018-11-16 13:32] jsm174 commented on #3323
We had this issue too. One of our microservices was taking ~3 seconds to complete, so 90% of the time we would get the timeout error even though the service completed successfully.

Out of the box, Ribbon's `ReadTimeout`, and `ConnectTimeout` are both `1000`. These values are found in [RibbonClientConfiguration.java](https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-net

[2018-11-16 13:35] rubensa commented on #8843
@jdubois thanks for checking.

I keep receiving a **404 Not found** for the https://registry.npmjs.org/har-validator/-/har-validator-5.1.2.tgz (do you have a cache proxy? ).

But just realized that problem only affect projects with existing **package-lock.json** (as version is fixed by it).  If I remove **package-lock.json** and install **generator-jhipster** then the dependency is:
[code]

[2018-11-16 13:44] PierreBesson commented on #3323
@jsm174 You are welcome to contribute this information to the docs, it would be very useful to document the Spring Cloud stack defaults. Please open PR to https://github.com/jhipster/jhipster.github.io if you can.

[2018-11-16 13:44] jdubois commented on #8843
Yes they've just released version 5.1.3 so that should fix the problem - so there's nothing to do on our side.
Then I don't have a cache at all, so I'm surprised I can download 5.1.2 and not you - I'm doing this directly with my browser, so there can't be any misconfiguration here.

I'm closing this as this should be OK, then I expect quite a lot of people to come over this issue. NPM is quite a m

[2018-11-16 13:44] #8843 closed

[2018-11-16 13:46] PierreBesson commented on #8842
@SameerNainawat How are you running your app ? Dev mode with maven, prod from jar ? What are the active profiles ?

[2018-11-16 13:50] PierreBesson commented on #8841
Always best to do a full `docker-compose down && docker-compose up -d` as docker compose might pick up and reuse previously created containers. And if the database container actually contains the migration table from another jhipster app (maybe the same appname but it it was regenerated so the liquibase timestamps won't match), so I can see why it can have problems.

[2018-11-16 13:55] jsm174 commented on #3323
@PierreBesson I can do that. Where would the best place to put this?

[2018-11-16 13:57] PierreBesson commented on #3323
https://github.com/jhipster/jhipster.github.io/blob/master/pages/microservices-in-production.md

[2018-11-16 14:41] yelhouti commented on #8786
@jdubois I was doing my tests using version JHipster 4.X that used, spring 1.x which used an validator that implements api.validation 1.X, spring 6 uses hibernate-validator-6.X which checks the fields without using the java class `java.beans.Introspect` and therefore accessing the field directly without using getMyField or isMyBoolean which created the problem in the previous version. Therefore I

[2018-11-16 14:41] #8786 closed

[2018-11-16 14:49] jdubois commented on #8786
Thanks @yelhouti - I'm finding this quite surprising, but you know this better than me, clearly.
Then we still have this question of using primitives or Objects - I guess using primitives would still be better, but as this is also more complex than expected and probably causing a lot of breaking changes, let's not do it now. The current code has worked successfully for years, on lots of projects,

[2018-11-16 15:14] bnts43 commented on #8586
I have the same styling problems (characters display oddly on tomcat server while display normally on dev computer). I am trying to migrate from 5.0 to 5.5.

I have tried to change the webpack.prod.js file with @LucaBernstein solution but front can't even launch as @jdubois mentions

@tibistibi could you be more precise on which changes you have made to restore the right behavior?

[2018-11-16 15:20] xetys commented on #8839
I did the update at least on the entity files, but doing that I faced the question "What about the non-entity client code? What should be kept private, what can be switched to protected?"

So, after a bit of reviewing the use-cases for `private` vs `protected` I can summarize: `private` is better when we explicitly don't want our users to inherit those fields. Protected fields are semi-public, as

[2018-11-16 15:59] yelhouti commented on #8786
Use non primitive is better in my opinion, as using primitives set value to 0 if users sends null which creates odd and expected behaviors. Let's keep it this way, and keep up the good work guys :)

[2018-11-16 16:01] tibistibi commented on #8586
you have two options revert to this:

[code]

or open the generated code and change in the index.html the js imports like this:
add this: ** charset="UTF-8" **

<script type="text/javascript" charset="UTF-8" src="app/main.22f54a2828dfd15ea9ee.bundle.js"></script>

[2018-11-16 16:03] vladmihalcea commented on #8786
@jdubois Using wrappers allow you to cover NULL column types as well. Also for identifiers and versions is better to use wrappers as null means not assigned yet by Hibernate.

[2018-11-16 16:09] jdubois commented on #8786
OK thanks @yelhouti @vladmihalcea !!! Let's keep it this way, then.

[2018-11-16 17:36] vladmihalcea commented on #8284
For the moment, this is not supported since the timezone setting applies to the `SessionFactory`, not to the current tenant which is bound to the `Session`. To support this, we need a new Jira issue.

[2018-11-17 04:10] ruddell commented on #7308
Commenting this here so I have somewhere to point when someone asks why social login was removed, which happens every so often.  Issues include:
 - Twitter never gives you the user email
 - Facebook sometimes gives the user email
 - Usernames can conflict if two people sign up with the same name
 - Social users emails may be unverified (resulting in linking to wrong accounts)
 - Social users can't

[2018-11-17 09:02] pascalgrimaud commented on #8842
Not enough information to reproduce.

I generated a project with old JHipster v5.0.1 -> the swagger-ui is well displayed.
Same with the current version JHipster v5.7.0

If you find a real bug, plz give more information with all details steps to reproduce.

[2018-11-17 09:02] #8842 closed

[2018-11-17 09:05] pascalgrimaud commented on #8841
As discussed, I'm pretty sure it's because there are still persistent volume with Docker.
Matt: don't hesitate to reopen if you still have an issue after deleting all containers.

[2018-11-17 09:05] #8841 closed

[2018-11-17 09:19] #8783 closed

[2018-11-17 10:36] agoncal opened #8846 "When selecting the current date (for type instant), the web component should add a default time"
##### **Overview of the feature request**

When you have a date of type `Instant`, the Angular update component uses a `type="datetime-local"`. When selecting the current day on the HTML component, only the date is set, not the time. So you have to add it manually otherwise the component does not allow you to save it.

It would be helpful to set the time (by default could be 00:00)

##### **Motiva

[2018-11-17 11:00] bnts43 commented on #8586
thanks for your clarifications @tibistibi

[2018-11-17 17:52] sivaavish commented on #8017
I am facing same issue if you are resolved that issue please post resolving solution
"TypeError: Cannot read property 'children' of undefined"

[2018-11-17 17:59] gmarziou commented on #8017
@sivaavish this issue has been closed because the user did not provide any details and did not follow guidelines, please don't  be better and open a new issue with all required details.

[2018-11-17 22:34] arthurdn opened #8849 "JHIPSTER: http://localhost:8080/#/admin/user-managment - translation-not-found[footer]"
JHIPSTER: http://localhost:8080/#/admin/user-managment - translation-not-found[footer]
Probably, this could be easily fixed, but such unbelievably GREAT generator should generate
working apps. Maybe, this error is because of some my actions.
Googled a lot of time unsuccessfully.

1 step. Generation
2. jhipster import-jdl jhipster-jdl.jh --force
3. npm install
4. Run back, front

`entity Category {

[2018-11-17 23:09] ruddell commented on #8849
Duplicate of https://github.com/jhipster/generator-jhipster/issues/8801

You are going to an invalid URL, the path should be http://localhost:8080/#/admin/user-management (`user-management` instead of `user-managment`)

[2018-11-17 23:09] #8849 closed

[2018-11-18 08:41] gmarziou commented on #8849
@arthurdn  Please don't cross-post it's a waste fo time for peop;e trying to help you https://stackoverflow.com/questions/53356091/jhipster-http-localhost8080-admin-user-managment-translation-not-foundf

[2018-11-18 08:42] arthurdn commented on #8849
removed, it is also translation-not-found[footer] for this url http://localhost:8080/#/admin/user-management

[2018-11-18 08:44] gmarziou commented on #8849
OK but your post does not include required details for us to reproduce, please aâste output of `jhipster info`

[2018-11-18 08:44] jkransen opened #8850 "Generated README.md missing key commands"
##### **Overview of the issue**

When generating a JHipster application, commands are missing in the README.md

##### **Reproduce the error**

Generate an application using ```jhipster```
Open README.md

Text misses several key commands, like:

[code]
##### **Related issues**

None

##### **Suggest a Fix**

Check if there is a condition around the generation of the commands, and if they may be fal

[2018-11-18 11:27] alexsintoni opened #8851 "New Service sub-folder inside shared"
##### **Overview of the feature request**

For Angular projects, create a sub-folder called `services` inside the existing `shared` one which follows the same structure of the sub-folder `model`.

At the moment, the command `jhipster import-jdl`, used to import micro-service configurations, creates inside the folder `shared/model` one sub-folder for each new imported micro-service containing the n

[2018-11-18 13:34] deepu105 commented on #8851
@alexsintoni I'm sorry moving around models was already complex enough for us and after careful consideration, we decided to not do the same for services. So you would have to move around common services yourself. The requirement to have common services is less priority than to have modular code for microservices and in most cases, you wouldn't share services. anyway I'm sorry but we won't be doin

[2018-11-18 13:34] #8851 closed

[2018-11-18 14:47] chakshugupta04 commented on #5015
getting an error "   Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.6:npm " please help me in tis
![untitled](https://user-images.githubusercontent.com/45142996/48674115-e7a3c600-eb6e-11e8-9056-80dfc85dbe91.png)

[2018-11-18 21:54] arthurdn commented on #8849
here is the whole project [https://github.com/arthurdn/jhipster](url)

[2018-11-18 22:38] ruddell commented on #8849
@arthurdn It is the same issue as I linked above (404 is unhandled on the client).  You are using OAuth2 as the authentication type, so no user-management routes are generated in the Angular client (you manage it through Keycloak or Okta).

Make sure to read [the docs on using OAuth](https://www.jhipster.tech/security/#oauth2), that login redirect is expected

[2018-11-18 23:19] gmarziou commented on #8849
Cross posted once  again, https://stackoverflow.com/questions/53365876/jhipster-http-localhost8080-admin-user-managment-translation-not-foundf

[2018-11-19 06:00] jdubois commented on #8849
@arthurdn please don't spam us - if you continue I will fill an abuse request, we all do this for free here (I'm currently having a day off from work to take care of my sick kid!), so we can't accept inappropriate behavior like this.

[2018-11-19 06:39] arthurdn commented on #8849
thx, sorry, deleted

[2018-11-19 09:17] danielpetisme commented on #8586
Sorry for this delayed answer....

For jib introduction I tried to used Spring Boot static file conventions.
https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-spring-mvc-static-content
With  jib introduction, the web app files are copied to `src/main/resources/public`.
Since some of you guys succeed to fix the issue by rollbacking the `webpack` config to `target/w

[2018-11-19 10:48] namnvhue commented on #8710
I faced the exact same issue, it never happened with older jhipster before.
[code]

[2018-11-19 11:05] PierreBesson commented on #8710
@namnvhue Did you follow our docs around this:
[code]

[2018-11-19 12:33] bahadyr commented on #8710
Yes, this happens only with newer versions of jhipster on both windows and mac machines, and i tried on few machines. All same bug. Last year i was using it without issues.

[2018-11-19 12:34] bahadyr commented on #8710
@PierreBesson btw, containers buid with your solution also fails due to auth keys.

[2018-11-19 12:35] namnvhue commented on #8710
@PierreBesson Thanks for your reply, I actually have that turned on already. It must be another issue I guess

[2018-11-19 12:39] pascalgrimaud commented on #8824
@seyfullah : I didn't manage to reproduce the issue. Can you give all steps and more information ? So we can try to reproduce.

[2018-11-19 13:04] bahadyr commented on #8710
@deepu105 try installing jhipster they way described on the website on a new windows or mac os. Create service and try jhipster docker-compose. Follow instructions to create image. Fail is there.

[2018-11-19 13:09] co5dt opened #8924 "JDL comments in DTO's"
##### **Overview of the feature request**

Domain objects receive javadoc and swagger annotations derived from JDL comments by default, which is awesome, yet generated DTO's don't.

##### **Motivation for or Use Case**

It is awesome that there's a single place to add all the relevant information about an API.
Especially the swagger annotations are darn useful when working with external parties or

[2018-11-19 16:46] DanielFran commented on #8683
@jdubois @PierreBesson I updated spring-cloud dependency to Greenwish.M2.

[2018-11-19 16:47] jdubois commented on #8683
Thanks @DanielFran ! Sorry I didn't have the time yet to work on this

[2018-11-19 16:51] DanielFran commented on #8683
@jdubois me neither. It is just that I am stuck with taskexecutor and also an error with missing javassist in classpath... :(

[2018-11-19 16:59] tibistibi commented on #8284
it there any effect on existing data?

[2018-11-19 17:07] tibistibi commented on #8284
i see there is a new table should i move my current data to this table?

[2018-11-19 19:05] hrqiang commented on #8840
@pascalgrimaud
[code]
mytest@0.0.0 /Volumes/MUSIC/mytest
└── generator-jhipster@5.3.0

[code]

[2018-11-19 19:21] pascalgrimaud commented on #8840
is the error in console of browser ?
are you able to see the application ?

[2018-11-19 20:06] ruddell commented on #8586
There is a hardcoded `target/www` [in WebConfigurer](https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/java/io/github/jhipster/sample/config/WebConfigurer.java#L107-L137), it looks like `servletWebServer.setDocumentRoot(root);` is no longer called in production.

[2018-11-19 21:00] Evertude opened #8855 "Microservice import-jdl frontend generation"
##### **Overview of the issue**
##### **Reproduce the error**

When using import-jdl inside a micro-service, a front-end is generated for the entities.
This started with 5.6.0 and wasn't done before -> as I understand it, UI code should be in the gateway.

It is possible to use skipClient but then it won't be generated for the gateway either

##### **JHipster Version(s)**

-   [x] Checking this bo

[2018-11-19 22:12] MathieuAA commented on #8610
Since the blueprint option is available in a JDL application, can this be closed?

[2018-11-19 22:17] murdos commented on #8610
@MathieuAA The blueprint option is indeed available, but I don't think it is used.
I'll check it later: this ticket is on my TODO list.
But I want to work first on another unrelated issue: make sure the upgrade subgenerator behaves as intended when a blueprint is involved.

[2018-11-19 23:19] svennela opened #8856 "./mvnw verify -Pprod dockerfile:build fails"
##### **Overview of the issue**

Trying to generate Dockerfile for jhipster application/microservices.

##### **Motivation for or Use Case**

It throws below error.

##### **Reproduce the error**
[INFO] Scanning for projects...
[WARNING] The POM for org.eclipse.m2e:lifecycle-mapping:jar:1.0.0 is missing, no dependency information available
[WARNING] Failed to retrieve plugin descriptor for org.ecl

[2018-11-19 23:56] gmarziou commented on #8856
JHipster no longer uses dockerfile-maven-plugin, it was replaced by [jib](https://github.com/GoogleContainerTools/jib) starting from JHipster 5.4.0.
See https://www.jhipster.tech/docker-compose/

[2018-11-19 23:56] #8856 closed

[2018-11-20 04:07] Georangelg commented on #6370
Que mamones, si no van a ayudar mejor ni comenten :D

[2018-11-20 05:00] hrqiang commented on #8840
The stacktrace is in the console of browser. Chrome browser inspector.
The browser page shows
"An unexpected error has occurred.
Details
"

[2018-11-20 05:16] SameerNainawat commented on #8842
@PierreBesson I am running it in Dev mode with maven.
and I am getting issue while jhipster runs npm install.
![image](https://user-images.githubusercontent.com/36882429/48752875-6acd3500-ecb1-11e8-8854-9fa8166214ec.png)

[2018-11-20 06:16] pascalgrimaud commented on #8842
@SameerNainawat : I think the problem is with your environment, not with JHipster. See the logs: `zlib: unexpected end of file`.
Some users suggest to use `npm cache clean --force`

Anyway, if you still encounter some issues with your machine, I suggest you to use our [devbox](https://github.com/jhipster/jhipster-devbox)

[2018-11-20 06:50] seyfullah commented on #8824
It was because of keycloak user record. User's e-mail was empty.
Thanks.

[2018-11-20 06:50] #8824 closed

[2018-11-20 10:07] agaspardcilia commented on #8771
I wouldn't mind helping out on this one, just ping me if you need.

[2018-11-20 10:17] agaspardcilia commented on #8840
Weird, I wasn't able to reproduce that issue. Can anyone confirm ?

[2018-11-20 10:36] seyfullah opened #8858 "JHipster keycloak logout, then login automaticly"
jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {

[2018-11-20 10:39] danielpetisme commented on #8586
@ruddell Thanks for spotting that, it looks we are close!
Do you think we can use this property:
`spring.resources.static-locations=classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/ # Locations of static resources.
`

[2018-11-20 11:07] PierreBesson commented on #8771
@agaspardcilia Can you work on adding more stats to JHOnline, I would like to have the serviceDiscoveryType, authenticationType, searchEngine, websocket, clientPackageManager and enableTranslation graphs. This is very important to base project decisions on actual usage data !

[2018-11-20 12:58] pascalgrimaud commented on #8858
Duplicate: https://github.com/jhipster/generator-jhipster/issues/7980 https://github.com/jhipster/generator-jhipster/issues/6941 https://github.com/jhipster/generator-jhipster/issues/6555

There is a PR which is work in progress: https://github.com/jhipster/generator-jhipster/pull/8757

[2018-11-20 12:58] #8858 closed

[2018-11-20 13:08] gmarziou commented on #6370
Please stay polite @Georangelg

[2018-11-20 13:14] jdubois commented on #6370
@Georangelg this does not follow our code of conduct, I will fill an abuse request and ban you from the project.

[2018-11-20 14:41] #8678 closed

[2018-11-20 15:39] jdubois commented on #8818
Closing as PR is merged

[2018-11-20 15:39] #8818 closed

[2018-11-20 16:26] enreas opened #8860 "WAR deployed to Tomcat results in PAC-MAN error"
## Overview of the issue

After generating a production WAR and deploying it to Tomcat, the PAC-MAN loader ends with an error:

![01-loader](https://user-images.githubusercontent.com/1179213/48787247-b6e79c00-ece8-11e8-82ce-39847334753d.png)

There is no information about the error in `catalina.out`:

[code]

## Reproduce the error

1. Execute `jhipster`.
2. Choose these options:

![02-options](ht

[2018-11-20 16:40] deepu105 commented on #8860
Did you follow everything mentioned in the error message? like building
your front-end?

Thanks & Regards,
Deepu

On Tue, Nov 20, 2018 at 5:26 PM Juan Diego <notifications@github.com> wrote:

[2018-11-20 16:59] enreas commented on #8860
Yes, I built it using `./gradlew -Pprod -Pswagger bootWar`.

[2018-11-20 20:39] fleboulch commented on #8860
Which war do you deploy on tomcat?
This issue has probably already been mentioned in #8811.

@enreas could you confirm you are facing the same issue?

[2018-11-20 20:59] CodingSpiderFox opened #8861 "Jhipster 5.7.0 stuck at npm audit when creating new project"
##### **Overview of the issue**

JHipster execution is stuck on creating new project

I just ran "jhipster" and was asked all the option which I answered according to my requirements. Then the project generation started,

##### **Motivation for or Use Case**

I want to start a new project.

##### **Reproduce the error**

Choose the options according to those from my log

[code]
Then the command pr

[2018-11-20 21:21] atomfrede commented on #8860
As gradle currently does *not* generate a `.original` war file the deployment via tomcat will most properly fail. @enreas can you try to edit your `prod.gradle` file with the mentioned changes regarding the war file (https://github.com/jhipster/generator-jhipster/issues/8811#issuecomment-438155721)?
Afterward you still need to trigger the `war` build via `bootWar` or `war` task in case there is no

[2018-11-20 21:33] ruddell commented on #8861
The `npm audit` results show after `npm install` completes, so I think the real issue is the git command getting stuck somehow

[2018-11-20 23:19] CodingSpiderFox commented on #8861
sounds plausible ... I tried the same steps on a fresh Ubuntu 18.04 installation and the command finishes successfully there

[2018-11-21 05:55] atomfrede commented on #8860
You are right in my local test setup I also added it to main build file.

[2018-11-21 08:30] tibistibi commented on #8586
@danielpetisme 'could you try to build q docker image and run it, it should not work'
i could if i knew what to do ;)

[2018-11-21 08:59] fleboulch commented on #8801
@ruddell
Have you already worked on this? If you are ok I can handle it.

I checked your answer on SO and I have another solution in mind with Http Interceptor as described here (https://medium.com/@antwaneb/catch-and-handle-all-404-errors-from-your-webservice-in-angular-5-2269b717d78f)
WDYT?

[2018-11-21 09:00] jdubois commented on #8586
I'm sorry I didn't follow this closely enough: I'm putting a $100 bug bounty on this, in this hope that this helps solve the issue quicker.

[2018-11-21 10:20] jdubois commented on #7783
@henri-tremblay @DanielFran I also add a try this morning on our `spring-boot_2.1.0` branches, and indeed the L2 cache isn't configured properly.

- We have warnings like `Missing cache[com.mycompany.myapp.domain.User.authorities] was created on-the-fly. The created cache will use a provider-specific default configuration: make sure you defined one. You can disable this warning by setting 'hiberna

[2018-11-21 10:47] agaspardcilia commented on #8771
@PierreBesson Sure, I'm gonna create a ticket on the jhonline to keep track of what needs to be added.

[2018-11-21 10:56] DanielFran commented on #7783
For reference, this is the changes applied: https://github.com/jhipster/jhipster/commit/bf254179dee5f89ed431d348542b8c80397f913f

[2018-11-21 13:32] agaspardcilia commented on #8771
@clement26695 Alright, as far as I remember I made a good part of that screen, so I you got any question just ping me or send me a mail. :wink:

[2018-11-21 14:55] henri-tremblay commented on #7783
Ok. I'll try to have a look today. This comes from changes discussed with Hibernate team. I need to put it back in my head and it shouldn't be too hard to fix.

[2018-11-21 17:52] Abdull commented on #8656
@jdubois, has this ticket really been solved in 5.6.0? I noticed that 5.7.0 still generates problematic entity equals() methods.

In 5.7.0, an entity's equals() method still looks like this:
[code]

This equals implementation is problematic due to Javassist/Hibernate proxying, e.g. the following test will fail:
[code]

Relevant Log output:
[code]

Inspired by https://stackoverflow.com/a/18251818/9

[2018-11-21 19:03] henri-tremblay commented on #7783
@jdubois I tried `spring-boot_2.1.0` but failed to compile the generated code. It's looking for `io.github.jhipster:jhipster-dependencies:pom:2.1.0-SNAPSHOT`

[2018-11-21 19:21] ruddell commented on #8656
@Abdull I don't see a linked pull request, so I don't think any changes were made.  Closed tickets are automatically added to the milestone when a release is made.

The ticket was unclear (at least to me) as to what it was asking for, I didn't really understand it until you posted.  A pull request would be appreciated.

[2018-11-21 19:23] ruddell commented on #8801
I have not worked on this.  That solution looks better than mine as it handles the 404s for entities as well

[2018-11-21 19:58] DanielFran commented on #7783
@henri-tremblay This is normal, no version of jhipster-bom has been released from spring-boot 2.1.0 branch. You can download specific spring-boot jhipster project and compile it.

[2018-11-21 20:10] henri-tremblay commented on #7783
Ok. I was looking at the wrong jhipster-dependencies project. Now it's better. However, jhipster-framework is currently failing. `error reading ~/.m2/repository/io/undertow/undertow-core/2.0.14.Final/undertow-core-2.0.14.Final.jar; zip file is empty`

[2018-11-21 20:15] jdubois commented on #7783
You probably had a corrupted download, can you delete it in your Maven cache?

[2018-11-21 20:15] henri-tremblay commented on #7783
Ok. Don't worry about it. I fixed it. Not sure if it's an actual issue or my Maven repository that was unhappy.

[2018-11-21 21:06] pascalgrimaud commented on #7783
@henri-tremblay : you can add the flag like this: `jhipster --yarn` so it will generate a JHipster project with Yarn instead of NPM :)

[2018-11-22 08:57] rabiori opened #8867 "Exception thrown on startup with oauth2"
##### **Overview of the issue**

running the server with oauth2 multiple times causes an exception to be thrown:
[code]

##### **Motivation for or Use Case**

creates ugly log...

##### **Reproduce the error**

 - generate a project with oauth2
 - run `docker-compose -f src/main/docker/mysql.yml up`
 - run `docker-compose -f src/main/docker/keycloak.yml up`
 - run `./gradlew`
 - go to `localhost:8

[2018-11-22 10:03] murdos commented on #7966
Have you considered using the springfox-swagger-ui maven dependency?
It still uses Swagger UI 2.x, but it will follow Springfox lifecyle and ability to handle OpenAPI.
And it should ease our task by not maintaining our own Swagger UI, no?

[2018-11-22 10:31] murdos opened #8868 "Generated java integration tests have incorrect suffix 'IntTest'"
##### **Overview of the issue**

Maven plugin dedicated to integration tests ([maven-failsafe-plugin](https://maven.apache.org/surefire/maven-failsafe-plugin/index.html) includes by default tests with `IT` prefix/suffix, not `IntTest` prefix/suffix :
https://maven.apache.org/surefire/maven-failsafe-plugin/examples/inclusion-exclusion.html

##### **Motivation for or Use Case**

Currently integratio

[2018-11-22 10:31] deepu105 commented on #7966
The reason we have our own is the different auth mechanism we support, you
have to provide JWT tokens and stuff to use the try it out feature, which
I'm not sure you can do with those plugins.

Thanks & Regards,
Deepu

On Thu, Nov 22, 2018 at 11:03 AM Aurélien Mino <notifications@github.com>
wrote:

[2018-11-22 10:32] deepu105 commented on #8868
Check the closed issues, there was a huge discussion about this already and
we decided to keep it this way

Thanks & Regards,
Deepu

On Thu, Nov 22, 2018 at 11:31 AM Aurélien Mino <notifications@github.com>
wrote:

[2018-11-22 10:42] murdos commented on #8868
Are you talking about #6131 ?
This is the first project I encounter that use this specific `IntTest` suffix, and for me it breaks Policy 1.

[2018-11-22 10:50] DanielFran commented on #8284
@vladmihalcea I created https://hibernate.atlassian.net/browse/HHH-13115

[2018-11-22 11:10] deepu105 commented on #8868
We could do it for v6 as that was the plan in that ticket

Thanks & Regards,
Deepu

On Thu, Nov 22, 2018 at 11:42 AM Aurélien Mino <notifications@github.com>
wrote:

[2018-11-22 11:30] seyfullah opened #8869 "JHipster Openshift docker image need"
##### **Overview of the feature request**

**jhipster openshift deployment without a docker image.**
I run jhipster openshift command.
Then I get following warnings, I do those.

WARNING! OpenShift configuration generated, but no Jib cache found
If you forgot to generate the Docker image for this application, please run:
To generate the missing Docker image(s), please run:
  ./mvnw package -Pprod

[2018-11-22 16:00] #8811 closed

[2018-11-22 16:00] #8860 closed

[2018-11-22 19:00] henri-tremblay commented on #7783
Here is a [quick fix](https://github.com/jhipster/generator-jhipster/pull/8871). However, I'm looking at how to simplify a bit to get rid of `BeanClassLoaderAwareJCacheRegionFactory`.

[2018-11-22 20:45] #8839 closed

[2018-11-22 23:39] avdev4j commented on #8284
@tibistibi
is the new table named jhi_date_time_wrapper ? If yes it's only used by unit tests (cf "context="test"" in the initial changelog).

On existing data it could have a huge effect if you don't store your timestamp in UTC yet. With this tuning all timestamps stored will be considered as UTC one.

If you still want to use your JVM timeZone (or specific config) you should comment or remove th

[2018-11-23 06:53] SameerNainawat commented on #8842
![image](https://user-images.githubusercontent.com/36882429/48931089-85eead80-ef1a-11e8-8286-c97ef29874d7.png)
 I have now clue why its not showing UI.

[2018-11-23 11:45] seyfullah commented on #8869
I cd into src/main/docker folder, I copied war file from target folder to here, and ran the following command.
 docker build -t jhipsterdeploymenttest .

I was leaving folowing question empty:
 What should we use for the base Docker repository name?

Now I answered it as my docker hub account name. Now it says:
WARNING! You will need to push your image to a registry. If you have not done so, use t

[2018-11-23 12:02] seyfullah opened #8875 "JHipster Openshift docker image need2"
could you please reopen issue #8869?

[2018-11-23 16:57] amatosg commented on #8782
could this be also filtered like `"minimal.equals" : "true"`? (or something like that)

[2018-11-23 17:43] tibistibi commented on #8586
@danielpetisme i would if i understood what to do:

    git clone https://github.com/danielpetisme/generator-jhipster generator-jhipster-fix.

and than 'git checkout fix/jib-www' gave me an error

[2018-11-23 18:05] danielpetisme commented on #8586
What's the error?

[2018-11-23 18:11] tibistibi commented on #8586
tibi@tibi:~/git/tmpJhipsterTest$ git checkout fix/jib-www
fatal: not a git repository (or any of the parent directories): .git

[2018-11-23 18:32] tibistibi commented on #8586
i had no rights so did add

    chmod 744 ../generator-jhipster-fix/cli/cli.js

then i could run it but strange stuff happens:

[code]

[2018-11-23 18:36] tibistibi commented on #8586
[code]

[2018-11-23 18:57] ruddell commented on #8586
You'll also have to run `npm install` in the cloned `generator-jhipster-fix` directory if you do the above command.

You can also do the following:
[code]

[2018-11-23 19:35] gmarziou commented on #8842
@SameerNainawat I understand that you want to know how to override JHipster's default swagger configuration but if you do it only because swagger-ui was not showing up I'm afraid that this is not the simplest way. First thing is to diagnose why it"s not working, once we understand we can make changes.

Otherwise, if you want to provide your own swagger configuration because you need to use extra f

[2018-11-23 20:35] agoncal commented on #8782
@amatosg what do you mean by that ? Something like  /api/languages?minimal.equals=true ?

I am not totally happy with the way we do it, but we use different paths (which is easier for the front-end team). So we usually have two views (we call them `Combo` and `List`, but as you know, naming is hard) therefore we have 3 paths:

* /api/languages
* /api/languages/viewcombo
* /api/languages/listcombo

[2018-11-23 20:44] amatosg commented on #8782
@agoncal yeah, just like that, would that avoid having multiple endpoints for each entity?

[2018-11-23 21:08] #8875 closed

[2018-11-23 21:10] deepu105 commented on #8869
@srinivasa-vasu do you think there is an issue here?

[2018-11-23 21:15] deepu105 commented on #8869
@seyfullah I don't think you are following what the generator asks you properly. The warning is there to help you. If you want our help you need tl follow our guidelines. As simple as that

[2018-11-23 21:15] deepu105 commented on #8869
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-11-23 23:20] avdev4j commented on #8846
Ok some I have just done some tests and unfortunatelly it seems we can't handle event when a date is choose in the calendar.
Calendar is related to navigator not the component itself, that's why on chrome or firefox the calendar has not the same rendering.

Both "change" and "input" events are fired when the field is totally filled (so date AND time). We can't use them to change time on the fly.

[2018-11-24 09:05] CodingSpiderFox opened #8876 "Store secrets in separate files"
##### **Overview of the feature request**

Store secrets in separate files and add them to .gitignore when generating a new application.

##### **Motivation for or Use Case**

Secrets should not be commited to a source code management system.
Also the effort to create bug reports here will be lower because I don't have to remove the JWT token for example.

-   [X] Checking this box is mandatory (t

[2018-11-24 09:21] CodingSpiderFox opened #8877 "Readme is missing command for running monolithic application"
##### **Overview of the issue**

The generated Readme does not contain the command to run the application.
I expected a commandline example in line 8 of the attached file

[README.txt](https://github.com/jhipster/generator-jhipster/files/2612145/README.txt)

##### **Motivation for or Use Case**

New users don't know how to run it.

##### **Reproduce the error**

Generate a monolithic application.

[2018-11-24 09:46] pascalgrimaud commented on #8877
Thanks for reporting the issue.
But it has already been reported here: #8783 https://github.com/jhipster/generator-jhipster/issues/8850
And it's already fixed: #8834

[2018-11-24 09:46] #8877 closed

[2018-11-24 09:51] pascalgrimaud commented on #8876
About bug report:

The token should be changed when you use jhipster:info
https://github.com/jhipster/generator-jhipster/blob/master/generators/info/index.js#L47-L54

Do you see a bug with this ?

About secret :
The generated code is for development platform and all secret should be committed.
In production, you should override all secret properties. If you use the default from git, you have a sec

[2018-11-24 13:07] CodingSpiderFox commented on #8876
OK thanks. I tried it and the token on jhipster info is the same for all my projects.

[2018-11-24 13:08] CodingSpiderFox commented on #8850
what is the correct command to start a monolithic application?

[2018-11-24 13:09] #8876 closed

[2018-11-24 14:11] deepu105 commented on #8876
Actually this is something I wanted to do when switching completely to JDL
so ya its on my roadmap

On Sat, 24 Nov 2018, 1:09 pm CodingSpiderFox <notifications@github.com
wrote:

[2018-11-24 14:39] gmarziou commented on #8850
It depends whether you are in dev or in prod, using docker or not, etc... Did you find enough details in our doc or your project's README.md ?

[2018-11-24 14:46] CodingSpiderFox commented on #8876
What is JDL in this context?

[2018-11-24 16:09] deepu105 commented on #8876
I don't want to force everyone to use a service. I have some simple
solution in mind but its for v6 and hence too early to discuss now

On Sat, 24 Nov 2018, 2:46 pm CodingSpiderFox <notifications@github.com
wrote:

[2018-11-24 18:04] ruddell commented on #8850
@CodingSpiderFox Please see the documentation https://www.jhipster.tech/development/

[2018-11-25 11:42] #8586 closed

[2018-11-25 11:51] lsadehaan opened #8878 "CreateProcess error=206, The filename or extension is too long - Maven and Windows"
##### **Overview of the issue**
The goal spring-boot:run fails due to classpath being too large in a jhUAA project with too many dependencies selected on Windows (using Maven).

Seems to be the same issue as #4323 except for Maven. For Gradle it was fixed with #4324.

##### **Motivation for or Use Case**

Generated microservice jhUAA application cannot be run on Windows.

##### **Reproduce the err

[2018-11-25 13:15] tibistibi commented on #8586
if this is closed do i still need to test this?

[2018-11-25 21:41] mraible commented on #8867
I do t think this has anything to do with our OAuth 2.0 implement. If you search for this issue, you’ll see it’s a known issue with Spring Boot. AFAIK, it doesn’t cause any issues.

[2018-11-26 00:34] SteffanUA commented on #8710
Having the same issue as well. I upgraded existing microservices to jhipster 5.7.0 from other versions all less than 5.5.0 and I was able to build a microservice using `./gradlew bootWar -Pprod jibDockerBuild` but running the same command on the gateway fails with the same error

`Caused by: java.io.IOException: 'docker load' command failed with error: requested load from stdin, but stdin is empty

[2018-11-26 01:11] amatosg opened #8880 "Reimporting a JDL file is handled as a new project"
##### **Overview of the issue**
When importing a JDL file, it doesn't ask for confirmation on conflict files where changes have been made and it simply overrides them. It also commits the changes with the message `Initial application generated by JHipster-5.7.0`

##### **Motivation for or Use Case**
When importing a JDL file, it should as for confirmations prior overriding changed files and it sho

[2018-11-26 07:30] deepu105 commented on #8880
Please use the --interactive flag for that behaviour

On Mon, 26 Nov 2018, 1:11 am Alejandro Matos <notifications@github.com
wrote:

[2018-11-26 08:15] rabiori commented on #8867
Fair enough, but you can solve this as suggested in the link I posted.
Despite not having any effect, having exceptions flying in the code is bad as it causes you to ignore exceptions.

[2018-11-26 15:00] amatosg commented on #8880
this is counterintuitive, the previous behavior was to ask before overriding files. Now it behaves the other way around: it will override all your files unless you use a flag. I was using the import feature very often as I made changes to my jdl file and I was really surprised to realize that I wasn't asked to override my changes, it just did it **and** it committed those changes so all the work I

[2018-11-26 17:16] jdubois commented on #8683
I did quite a number of commits in the Spring Boot 2.1 branches, fixing some JDK 11 issues and Async configuration issues.

There is one big issue with Hazelcast, as it currently does not support Hibernate 5.3 (and we can't downgrade, because Hibernate 5.3 brings JDK 9 support). See https://github.com/hazelcast/hazelcast-hibernate5/issues/44 for more information -> we need to have the solution at

[2018-11-26 17:21] deepu105 commented on #8880
@amatosg sorry it was a surprise, and I understand the pain, let me see what can be done, the change was made to speed up multi-application import so that things are done in parallel, and when running in parallel you won't be able to interact with it. Maybe I can skip the behavior for cases where you are only generating entities. Can you confirm, did you generate app and entities or just entities?

[2018-11-26 18:42] amatosg commented on #8880
I was generating a monolithic app with entities. Whenever I make changes to the JDL file (new fields, change the values of other fields), I reimport it and it would ask to override some files. I then check which files are being affected and accept or reject the generation.

IMO, the user should still be prompted to choose the action and leave a flag like `--unattended` for generating without askin

[2018-11-26 19:09] ruddell commented on #8880
In my opinion, the application shouldn't regenerate by default if it already exists in that directory, that's what is causing the issue.

It's fine if you use `--ignore-application` but it isn't clear to the end-user that they have to add a special flag to re-import an updated JDL file

[2018-11-26 19:40] martinnaughton commented on #3892
If you create the back only code using skip server then you can create a folder src/main/resources/static . You can then put your frontend code in src/main/resources/static and then for example your index.html file will end up in this directory. It will then be served by jhipster when you start it.

`target/myapplication-0.0.1-SNAPSHOT/WEB-INF/classes/static/index.html`

[2018-11-26 21:00] antonioortizpola commented on #8878
Just change the launch configuration to avoid using the default shorten line

![image](https://user-images.githubusercontent.com/11655127/49041829-ecc6cd80-f18b-11e8-936c-ac270db2be40.png)

I no not know if this could be take as a JHipster error or not.

[2018-11-26 21:48] agoncal commented on #7738
I know this issue is closed, but I would like to keep this Tweet for posterity:

https://twitter.com/doanduyhai/status/1067095315763904513

I hope one day we will understand that, being 7 billion different people on earth, we are all diverse (and unique) by design. Just embrace human kind and you will naturally embrace diversity.

[2018-11-27 01:06] SteffanUA commented on #8710
@bahadyr Got working by updating docker see `[here](https://github.com/GoogleContainerTools/jib/issues/1258#issuecomment-440454661) from @pascalgrimaud's answer above.

[2018-11-27 03:46] DanielFran commented on #8683
ElasticSearch version is now updated and seems working.

pending issues:
- issue with 1 changeset (see https://travis-ci.org/jhipster/jhipster/jobs/460018201#L5997)
- infinispan (see https://travis-ci.org/jhipster/jhipster/jobs/460018207#L4576)
- cassandra (see https://travis-ci.org/jhipster/jhipster/jobs/460018210#L2781)
- hazelcast: bug detailed by @jdubois

[2018-11-27 07:03] seyfullah opened #8886 "JHipster keycloak rest token"
My question is about obtaining a token for using jhipster generated rest entity services. I go to swagger api docs of jhipster. http://localhost:8202/#/admin/docs

There is a sample for calling a rest service as follows:
curl -X GET --header 'Accept: /' --header 'X-XSRF-TOKEN: ad4dff10-0176-43a4-afae-0674fb05ef15' 'http://localhost:8202/api/users'

I see that X-XSRF-TOKEN is for angular applicatio

[2018-11-27 08:13] seyfullah opened #8887 "JHipster Openshift deployment failure"
##### **Overview of the issue**

1.  When OCP runs applications, there is an error as follows:
Chmod entrypoint.sh not permitted

2. Once I deploy an image, next image deployments are not read.
Because of this setting:
imagePullPolicy: IfNotPresent

3. The following command doesn't generate a proper image, pom.xml jib-maven-plugin settings are not working correctly, it is not the same thing with D

[2018-11-27 09:07] jdubois commented on #8886
Please don't cross post with Stackoverflow, we're there too.

[2018-11-27 09:07] jdubois commented on #8886
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-11-27 09:07] #8886 closed

[2018-11-27 12:06] deepu105 opened #8888 "JHipster console doesn't work OOB for docker-compose"
##### **Overview of the issue**

Seems like JHipster console doesnt work OOB with docker compose now. The logs doesnt seem to be streamed
![image](https://user-images.githubusercontent.com/1107223/49080799-bc8b3780-f23c-11e8-903c-18a53019e049.png)

##### **Motivation for or Use Case**

##### **Reproduce the error**

Generate the below app + deployment and do `docker-compose up`
[code]

##### **JHi

[2018-11-27 12:06] deepu105 commented on #8888
@PierreBesson can you take a look?

[2018-11-27 12:17] PierreBesson commented on #8888
Ok @deepu105, did you push your images to docker hub ?

[2018-11-27 12:34] PierreBesson commented on #8887
It seems no one has ever tested jib with the openshift deployment. @seyfullah If you have a fix, please make a PR.
Maybe @srinivasa-vasu will have an idea.

[2018-11-27 12:41] deepu105 commented on #8888
yes, I did

[2018-11-27 12:42] deepu105 commented on #8888
but I'm playing around for my demo so I might overwrite the images

[2018-11-27 12:42] deepu105 commented on #8888
It works fine with Kubernetes btw

[2018-11-27 12:44] PierreBesson commented on #8888
@deepu105 From your screenshot, it looks like the console was correctly setup, the only component that might have failed is logstash. Really strange because I remember testing the console v4 with docker-compose and even demoing it at the conference but I never tested it with kubernetes

[2018-11-27 13:00] PierreBesson commented on #8888
I just tested it and it worked out of the box. So my best guess is that your logstash must have crashed. Maybe try to restart it with `docker-compose restart jhipster-logstash`

<img width="752" alt="screenshot 2018-11-27 at 13 59 06" src="https://user-images.githubusercontent.com/513471/49083374-ad13ea80-f24c-11e8-8626-da284a06867c.png">

[2018-11-27 14:37] deepu105 commented on #8888
Probably but this wasn't the first time it happened. The same happened when
I was doing a demo in another conference last month. Btw I'm on Fedora

On Tue, 27 Nov 2018, 1:00 pm Pierre Besson <notifications@github.com wrote:

[2018-11-27 14:39] celine305 commented on #7318
yarn cache clean
*yarn upgrade

[2018-11-27 14:46] srinivasa-vasu commented on #8887
Let me have a look at it.

On Tue, Nov 27, 2018, 18:04 Pierre Besson <notifications@github.com wrote:

[2018-11-27 14:50] wmarques commented on #8861
Yes if npm is stuck, it's probably because of network issues or some interactive commands that are not displayed (ie: asking git credentials) so it looks just "stuck".

[2018-11-27 16:21] jdubois commented on #8683
Cassandra doesn't work as Cassandra 3.x does not support Java 9 and above. As we use CassandraUnit in our tests, which runs an embedded Cassandra, there is no way our tests can pass. Java 9+ support is scheduled for Cassandra 4, but there is no release date available as of today. The main solution to me would be to use TestContainers, like we do for Couchbase.

Now I'm going to tell unpleasant thi

[2018-11-27 16:27] anthony-o opened #8890 "Can't run .war.original on Tomcat 9.0 because of wrong Content-Type header"
##### **Overview of the issue**

When trying to run the `.war.original` war of my application on Tomcat 9.0 and trying to access it via http://localhost:8080/ I've got the following error in the console:
[code]

This is due to the fact that when my browser asks for the root `/` page, Tomcat sends the following wrong response header: `Content-Type: text/html;charset=ISO-8859-1`

When I run it with

[2018-11-27 17:56] ruddell commented on #8890
Duplicate of https://github.com/jhipster/generator-jhipster/issues/8586

The fix was merged 2 days ago and will be in the next release.  If you don't care about running your app in docker, the only change needed to fix is:

https://github.com/jhipster/jhipster-sample-app/blob/master/webpack/webpack.prod.js#L27

        -path: utils.root('target/classes/public'),
        +path: utils.root('target/w

[2018-11-27 17:56] #8890 closed

[2018-11-27 18:35] ruddell commented on #8861
I wasn't able to reproduce using an ElementaryOS docker image (both `elementary/juno-unstable` and `elementary/docker:loki`).  Does it happen every time you try to generate a project?  Also, try using a new directory - it looks like you already tried to generate a projecct in that directory

[2018-11-27 18:44] CodingSpiderFox commented on #8861
Also couldn reproduce it. Somehow it works now on my system (removed all the files that were created by jh in my home dir and used a new dir)

[2018-11-27 18:44] #8861 closed

[2018-11-28 03:09] seyfullah commented on #8887
I added HOME variable toplam DockerFile, it  is used in original entrypoint.sh file. If O don’t di this, it gives an error like //app.war not found. Be careful at double slashes, there is HOME variable between them, so it should be /home/jhipster/app.war

[2018-11-28 09:07] karunakerreddyv opened #8894 "One concurrent user per login with JWT. How to achieve this in JHIPSTER app?"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2018-11-28 09:15] jdubois commented on #8894
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-11-28 09:15] #8894 closed

[2018-11-28 12:33] tibistibi opened #8895 "With auditing creation date should be constand, modification date updates"
##### **Overview of the issue**

By extending AbstractAuditingEntity it is possible to keep track of created date and modified date.
But the created date and modified date are both changed with every update of the entity.

##### **Reproduce the error**

Create a project add a user, change it and check the created and last modified date in the database (or on screen) both created date and last modi

[2018-11-28 13:14] anthony-o commented on #8890
@ruddell great thank you it solved this problem actually.

[2018-11-28 13:46] jdubois commented on #8895
@tibistibi I don't see many people using the auditing part, and I was thinking we could remove it - as you are a frequent contributor and as you are using it, do you think its worth keeping it in the generator?
Also, this ticket makes me think not a lot of people use it for real.

[2018-11-28 13:54] jdubois commented on #8868
Yes for me the discussion on #6131 is still accurate, and I still haven't any Java developer separate unit tests and integration tests (and that's bad, and I know it, but that's the way people work).

Now we've always tried to provide "best practices" and push new and interesting stuff, so I'm totally in favor of changing this, I just have 2 issues with this:

- We need to check if all common IDEs

[2018-11-28 14:06] tibistibi commented on #8895
in practice it really nice to have creation/modification data. for debugging and things like who did this and when was this changed, you want this feature.
so i think its a good example of jhipster to add this out of the box as an example.
the problem with the date is only small and my change will fix it. although (indeed) it shows not many use it because this bug has been here long (or people jus

[2018-11-28 14:08] tibistibi commented on #8895
and if i know how this works earlier i would have added this to all my important entities.

[2018-11-28 15:13] mraible commented on #8895
If we keep auditing, I think we should change it to use UUIDs to fix the duplicate key issues I've seen in 21-Points Health.

https://github.com/mraible/21-points/issues/50

[2018-11-28 15:34] deepu105 commented on #8895
Also if we keep it, we should add a cron job which removes entries older
than a month to avoid flooding the Db. If someone needs older entries they
can decide to remove/modify the job

On Wed, 28 Nov 2018, 4:14 pm Matt Raible <notifications@github.com wrote:

[2018-11-28 15:37] tibistibi commented on #8895
in my understanding these fields are columns added to the jhi_user tables so it does not grow.

here is my table:

+--------------------+--------------+------+-----+-------------------+-----------------------------+
| Field              | Type         | Null | Key | Default           | Extra                       |
+--------------------+--------------+------+-----+-------------------+-------------

[2018-11-28 15:39] tibistibi commented on #8895
@mraible and @deepu105 are we talking about the same thing?

[2018-11-28 19:29] tibistibi commented on #8284
i @avdev4j thanks for the information. i think its not a big change for me because i have no data which is dependant on hours. but i think these kind of change should be communicated more clear because it could mess up live data. which i think is rather critical.

[2018-11-28 19:37] tibistibi opened #8896 "The server time zone value 'CEST' is unrecognized or represents more than one time zone."
##### **Overview of the issue**

With the fix of this issue:  #8284 i could not connect to my database any more.

##### **Motivation for or Use Case**

I upgraded jhipster which included the  #8284 fix and after that could not connect getting this error:

##### **Reproduce the error**

Deploy the application to a maria database. There probably will be certain reason why i get this and not everyone

[2018-11-29 02:13] parrotchute commented on #8422
I'm also getting the below error for elasticsearch as if the initcontainer commands were not run or applied, although mine is on AWS EKS.
[code]
The weird thing though, is that it was working perfectly fine just the day before the error happened. I've been building up and tearing down EKS clusters with the exact same terraform script.
I have tried including the "sync" command but it did not do any

[2018-11-29 04:56] srinivasa-vasu commented on #8887
@seyfullah I didn't get time to look into this. Will look into this over the weekend and revert.

[2018-11-29 05:16] vidhya03 opened #8897 "https://www.jhipster.tech/running-tests/ "Gherkin" link not workin"
Go to [https://www.jhipster.tech/running-tests/#behaviour-driven-development-bdd](https://www.jhipster.tech/running-tests/#behaviour-driven-development-bdd)
the Gherkin link shows 404
![image](https://user-images.githubusercontent.com/534679/49200650-b5dafc80-f3c3-11e8-9111-0fdeb80b2a69.png)

[2018-11-29 05:32] pascalgrimaud commented on #8897
There is no small contribution !
Your help is welcome :)

[2018-11-29 05:40] atomfrede commented on #8897
We all started with small contributions, every little thing counts 👍

[2018-11-29 05:40] pascalgrimaud commented on #8896
@avdev4j : can you have a look and confirm the fix plz ?

[2018-11-29 09:03] parrotchute commented on #8422
Sure, will get to it later today. Should it be a PR to fix #8422 or is this considered a different issue?

[2018-11-29 10:00] tibistibi commented on #8896
yes seems so, i'm no expert i jsut noticed it and this fix helped me ;) on my dev machine i have a myssql db and on my server i have mariadb. on the maradb i got the error. i quickly looked to see if there was some obvious difference but i did not see any.

[2018-11-29 10:18] avdev4j commented on #8896
So i have just generated a new project with mariaDb and run it with docker-compose with the prod profile. I did not have an error like you.
Maybe because I run them on the same server and so with the same JVM and Maria time zone config.

Then I changed my configuration by adding "serverTimezone=UTC" and everything seems to be ok.

Could you please check both JVM, Mysql and mariaDb timeZone config

[2018-11-29 10:54] jdubois commented on #8702
I tested and it's working, thanks a lot @Fydon !
I'm doing the PR ASAP

[2018-11-29 10:57] #8702 closed

[2018-11-29 11:05] jdubois commented on #8679
For me this is all done (mostly thanks to @atomfrede - thanks!!) so I'm closing this

[2018-11-29 11:05] #8679 closed

[2018-11-29 11:41] seyfullah commented on #8887
As a work around, we edited application and gateway postgresql yml files on openshift, and it works now.
I share application postgresql yml before and after below.

**BEFORE**
# DB template.
#
# This defines all the configurable parameters and other objects that are needed to run the PostgresDB service. This template can even be
# saved in OpenShift namespace as well so that have the flexibility t

[2018-11-29 13:05] tibistibi commented on #8895
what db do you use?
and yes i expected to work like that but it did not. i have the same line but still it is updated, 100% sure.

[code]

diff's between the dates stop in august maybe an update changed this behaviour?

in any case it is trange to let spring fill in the modifiedby and createdby but add createdDate and modifiedDate our selves. they can all be left empty and spring will do her work.

[2018-11-29 13:16] tibistibi commented on #8895
ok seems to have a wrong table definition looking into it why it happened but this will be the real problem:

`| created_date       | timestamp    | NO   |     | CURRENT_TIMESTAMP | on update CURRENT_TIMESTAMP |
`

so my bad!

i will close this issue

[2018-11-29 13:16] #8895 closed

[2018-11-29 13:42] rchulyadyo commented on #8887
I had the same issue, and I used Redhat's Postgres image (rhscl/postgresql-10-rhel7) to fix the issue for Postgres database. Using this image avoids the use of a separate service account too. Please check my template below. I have listed my changes in comment.

[apigtw-postgresql.yml.txt](https://github.com/jhipster/generator-jhipster/files/2629311/apigtw-postgresql.yml.txt)

For Java microservice

[2018-11-29 13:51] rabiori opened #8899 "Throws NPE when mapping using UserMapper"
##### **Overview of the issue**

When calling `UserMapper::userDTOToUser` with a `UserDTO` with `authorities` set to `null` and throws a `NullPointerException`.

##### **Motivation for or Use Case**

`NullPointerException` - enough said...

##### **Reproduce the error**

Call `UserMapper::userDTOToUser` with a `UserDTO` with `authorities` set to `null`.

##### **Suggest a Fix**

`UserMapper::autho

[2018-11-29 13:56] avdev4j commented on #8895
Happy to see it's now resolved but what a strange behaviour from maria....

[2018-11-29 14:41] avdev4j commented on #8899
I take this issue ;)

[2018-11-29 16:04] anthony-o opened #8900 "Support more Graph Databases using spring-data-gremlin"
##### **Overview of the feature request**

The goal is to support graph databases compatible with Apache Tinkerpop framework, like Neo4J or OrientDB.
One could use https://github.com/Microsoft/spring-data-gremlin or https://github.com/zifnab87/spring-data-gremlin in order to use a layer that implements Spring Data for those graph databases.

##### **Motivation for or Use Case**

Support more graph

[2018-11-29 16:09] deepu105 commented on #8900
@anthony-o there is not enough info here to go on? are you asking for support for more database or is it about migrating any existing stuff? I don't recall we using spring-data-gremlin anywhere and we don't have support for Neo4J as well.

[2018-11-29 16:42] anthony-o commented on #8900
@deepu105 indeed, I read the code here https://github.com/jhipster/jhipster-neo4j-app but didn't see that it has not been updated for 3 years :)

My real need would be to support graph databases like Neo4J or OrientDB inside JHipster.

By the way, I also saw that https://github.com/zifnab87/spring-data-gremlin has more features than https://github.com/Microsoft/spring-data-gremlin in term of Apach

[2018-11-29 16:45] deepu105 commented on #8900
We are currently thinking of removing support for some databases that are not used a lot so we won't be adding any new database at the moment(It will add a lot of maintenance overhead for us). You can take a look at JHipster blueprints to build the support yourself as an extension. If your blueprint is well received and used we can think of bringing it into the core.

[2018-11-29 16:45] #8900 closed

[2018-11-29 16:46] #8897 closed

[2018-11-29 16:46] deepu105 commented on #8897
PR merged

[2018-11-29 16:49] deepu105 commented on #8647
closing as PR merged. @mselerin next time please add the fix or close keyword on PR description to autoclose ticket

[2018-11-29 16:49] #8647 closed

[2018-11-29 16:52] deepu105 commented on #8608
for v6 lets standardize everything to use 'none', the enable*, disable* props will continue to use true/false

we will handle `no/false` as a fallback but will not document it

Options | Possible values
------------ | -------------
searchEngine | elasticsearch, **none**
serviceDiscoveryType | eureka, consul, **none**
messageBroker | kafka, **none**
prodDatabaseType | mysql, mariadb, mssql, postgre

[2018-11-29 16:53] mselerin commented on #8647
Didn't see that the PR was merged... But, sure thing for next time !

[2018-11-29 18:33] jdubois commented on #8900
Yes and we already tried Neo4J support several years ago and nobody wanted to work on it... All those databases have far too few users for us. Typically we have 1 contributor per 1,000 users, so in order to have something working we really need to have something that is widely used. I'm sorry, but that the (sad) way open source works.

[2018-11-29 20:35] tibistibi commented on #8895
yes and good to know just for information completeness here what happens

[code]

[2018-11-29 21:13] yogi-oc commented on #1695
@Mappings worked for me as well.

[2018-11-30 13:42] tibistibi commented on #8284
@avdev4j it has more effect than expected :(

i have `LocalTime` field and now it does not work any more, i expected `LocalTime`  to be time zone independent but i guess they are not. it would be great if you can shed some light on the situation.

so i have an angular form and add a time like '9:00' this is stored in mysql as 9:00 but when i retrieve it i get '10:00'

what i do not understand is w

[2018-11-30 14:02] avdev4j commented on #8284
@tibistibi
I think you should read this : [DST is ignored when saving a LocalTime with hibernate.jdbc.time_zone=UTC](https://hibernate.atlassian.net/browse/HHH-12988?focusedCommentId=103750&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-103750) and the response from @vladmihalcea to understand how localtime are managed by JDBC. (I don't think it's related to DST bu

[2018-11-30 14:03] Blackdread commented on #8284
I think it is angular issue, what type do you use in angular?
Moment will display in local time of user

[2018-11-30 14:06] tibistibi commented on #8284
thanks for the pointers i will read it. i hoped it was angular but i added logging and see the time added is defferent than retrieved:

[code]

and when found:

[code]

and in db:

[code]

[2018-11-30 14:36] napindc commented on #7997
Can you tell me how you added that driver into the pom.xml file?

[2018-11-30 15:07] Simsal commented on #7997
Just add the driver to the prod profile in your pom.xml
[code]

[2018-11-30 15:20] napindc commented on #7997
Thanks so much! @Simsal

[2018-11-30 17:20] tibistibi commented on #8284
i had my tests setup to use h2 and they worked. i'm working on changing it to mysql to check it there.

with h2 i have a problem though that when i add start 9:00 end 19:00 and break 1:00 and i do a calculation in the database to get worked hours i should get 9 (as a decimal)
but with h2 i get 11. probably because all are translated to UTC with 2:00 so the calculation goes wrong.
on mysql i do not

[2018-11-30 18:07] tijdrame opened #8912 "ConfigServletWebServerApplicationContext : Exception encountered during context initialization"
##### **Overview of the issue**

Hi, my new project with jhipster 5.7.0 cannot run. I upgrade recently, i create a new project

##### **Motivation for or Use Case**

##### **Reproduce the error**

2018-11-30 18:01:45.133  WARN 6792 --- [  restartedMain] ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.b

[2018-11-30 20:37] tibistibi commented on #8284
ok switched to mysql and now have these errors:

[ERROR] Failures:
[ERROR]   HibernateTimeZoneTest.storeInstantWithUtcConfigShouldBeStoredOnGMTTimeZone:71->assertThatDateStoredValueIsEqualToInsertDateValueOnGMTTimeZone:173 expected:<"2014-11-12 0[5]:50:00.0"> but was:<"2014-11-12 0[6]:50:00.0">
[ERROR]   HibernateTimeZoneTest.storeLocalDateTimeWithUtcConfigShouldBeStoredOnGMTTimeZone:86->assertTha

[2018-11-30 22:07] avdev4j commented on #8284
Well I assume it’s Mysql that handle times differently than others (joke ;)).

By the way I tested with a local mysql instance during developpement of this feature and I’ve never notice this...

I will test again with mysql.
I’m sorry you meet all those problems but for sure it will be usefull for the entire community.

[2018-12-01 09:32] tibistibi commented on #8284
could it be different way of installing the db? i have both my mysql and mariadb install via default way of apt-get on linux (mysql on ubuntu and mariadb on debian)

[2018-12-01 12:53] deepu105 commented on #8912
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-12-01 12:53] #8912 closed

[2018-12-01 12:55] #8896 closed

[2018-12-01 17:06] deepu105 opened #8915 "JDL centric configurations"
Based on discussions [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/zoJ7H0xKMTM/ooUhsb_2AQAJ ) this ticket is to implement the JDL centric features described below

## JDL Centric approach.
When the app JDL and JDL app microservice support was released we can clearly see people using that a lot and is much easier to use than the CLI approach. The CLI a

[2018-12-01 17:17] srinivasa-vasu commented on #8887
@seyfullah I don't see any issue with the existing postgres image. I managed to deploy (postgres:10.4) it on oc-3.11 without any issues.

Reg the app issue, if you use the jib build I guess it would use the root user (and there will not be any app specific UID). To run the image built using jib you can do two things,
1. Add default (or the service account if you have created for the project) to pr

[2018-12-01 18:36] MathieuAA opened #8917 "Having a way of very quickly generating something"
#### **Overview of the feature request**

The title says it all.
For me, there's no very good way of quickly generating an entity (or an application) like in Rails.
Something like`jhipster generate entity ENTITYNAME field1:String field2:Integer` or `jhipster generate application MySuperApplication monolith OPTION1:WHATEVER OPTION2:WHATEVER`.

#### **Motivation for or Use Case**

Q&As aren't a bad

[2018-12-01 18:58] gmarziou commented on #8915
Which secrets? dev and/or prod ?
In my opinion JHipster should not generate any prod secrets even if we warn users about changing them.

[2018-12-01 18:59] mraible commented on #8917
Please provide more information on what you’re looking for. What commands would you like to see and what would they generate?

[2018-12-01 19:34] MathieuAA commented on #8917
Hi @mraible! As written, this is not a "I-want-this-feature-precisely" but more of a "this-kind-of-feature-would-be-nice-don't-you-think" open question. Maybe I wasn't clear enough, if that's the case, my apologies.

Everything here is open for debate, but to answer your questions: I'm proposing to introduce a way of generating **anything**:
  - Things we already generate like entities or apps
  -

[2018-12-01 19:36] tibistibi commented on #8284
with mysql i only could get your tests working (and mine) without the UTC and setting the formatter in the test to CET which i'm on.

[2018-12-01 20:11] ruddell commented on #8917
For a while, I've wanted to be able to run something like `jhipster oauth2` and get a monolith with `oauth2` (similar to [the Slack generator](https://github.com/jhipster/hipslacker)), but I never found the time to look into it.  The new application JDL made it simple enough for me.

Aside from more maintenance, what I don't like about the idea is it would be creating a third type of jhipster-spec

[2018-12-01 20:34] MathieuAA commented on #8917
Hi @ruddell, agreed and disagreed. This feature is clearly not for someone who wants to generate complex things.

Yep, so do I. But the first one (Q&As) are being used less and less (hooray).
The JDL is becoming more important every day (and will be very important in the near future).
That's an issue for me (no, I'm not too crazy yet) because the JDL has some issues:
  - it may not be intuitive at

[2018-12-02 10:21] sdmohsen opened #8918 "Spell correction In Farsi"
In global.json there is a problem in Farsi spell of word "settings"
 "settings": "تنضیمات" should correct to "settings": "تنظیمات" .

[2018-12-02 10:57] ebaccon commented on #6858
Same problem for me with v5.3.1.

Like said @Ederagp, the solution below is correct in application-dev.yml :

[code]

[2018-12-02 11:18] deepu105 commented on #8917
@MathieuAA here are my thoughts.

I'm actually against this for below reasons. Hope it makes sense.

1. providing everything in the command line in more error prone and is not a nice user experience for our end users, please remember the majority of our end users and novice to medium devs and hence it would mean we have to maintain and support both this flavor, the current CLI prompts and JDL
2. S

[2018-12-02 11:34] deepu105 commented on #8915
@gmarziou definitely not prod, just the jwtSecretKey, rememberKey and admin password used for registry in deployments. Users will still have to change them for prod

[2018-12-02 12:09] jdubois commented on #8683
Just use the one from last month. We have some bad data at the beginning of the year, which explain your higher numbers.

[2018-12-02 16:33] tibistibi commented on #8693
it seems the linux openjdk team has reverted the change:

https://issues.apache.org/jira/browse/SUREFIRE-1588

so we can revert the change (tested it on my system) but we can also wait a bit to be sure everyone will have the new openjdk

in all cases it is fixed (even with strict setting in java) in the new surfiere plugin so we can also wait when jhipster is using version 3.0.0-M1 (now 2.22.0)

i

[2018-12-02 23:17] mraible opened #8920 "React UI has issues in a microservices environment"
##### **Overview of the issue**

I created a microservices architecture using a JDL that I normally use for Angular apps. I tried it with React today and there's two main issues I found:

1. Adding a new blog results in an error.

[code]

2. Navigating to the product list results in an error about a translation not found, even though everything looks fine. When I try to add a new product, I get th

[2018-12-03 00:35] SteffanUA commented on #8920
You're getting a 404. What is the output on the gateway when you navigate to these pages? It seems like the Product microservice isn't running or the gateway isn't able to reach it

[2018-12-03 00:41] SteffanUA commented on #8920
Also the issue you are having with adding blogs has to do with database transaction so it's nothing to do with react. The issue is clearly written in your exception. The `login` field for the blog is null when there is a NotNull constraint on it. Are you sure the login is being passed with your request to create a blog?

[2018-12-03 02:42] SteffanUA commented on #8920
Here is an answer explaining why the login field is null https://stackoverflow.com/a/53584486/4307413. Seems that the issue is from the relationship with the user object.

[2018-12-03 02:42] mraible commented on #8920
It may not have anything to do with React, but it works just fine when I use Angular.

[2018-12-03 06:56] sdmohsen commented on #8918
PR done

[2018-12-03 07:47] seyfullah commented on #8887
@srinivasa-vasu
Our openshift version info which is available in /console/about page of ocp is as follows:
Version
OpenShift Master:
v3.7.54
Kubernetes Master:
v1.7.6+a08f5eeb62

I tried to use pom.xml jib plugin which comes with jhipster, so I wait an update on jib build settings in pom.xml.
I have never used jib build before.

[2018-12-03 08:48] #8918 closed

[2018-12-03 11:33] agaspardcilia commented on #8771
I've been looking a bit the cause of this issue and it seems pretty easy to fix. Idk how long until the upgrade to micrometer is done but I could PR something if we want it to work meanwhile.

[2018-12-03 13:06] PierreBesson commented on #8771
@agaspardcilia For me this feature is mostly useless for now as we will get it soon with the micrometer migration. Also IMO those screens look good but are actually not that useful in production where you will want to ship those metrics to an external monitoring system to have a historical view.

[2018-12-03 13:07] srinivasa-vasu commented on #8887
@seyfullah ok. For the time being if the need is to have a non-root UID, then use the Dockerfile under src/main/docker.

[2018-12-04 02:38] srinivasa-vasu commented on #8887
@seyfullah This is not an issue. This is how it works. For jib image you have to fine tune `oc scc`. For the other one under src/main/docker, it just works. You don't need to do anything. So, will close this issue.

[2018-12-04 05:45] seyfullah commented on #8887
Hello @srinivasa-vasu,

Thank you for info.

I followed instructions in https://www.jhipster.tech/openshift/, and I expected a working application on my openshift deployment  v3.7.54.

The docker file needs a HOME variable or entrypoint.sh needs to be changed not using HOME variable, otherwise it cannot find "//app.war" in my situation.

DockerFile and jib maven plugin doesn't do same thing as fol

[2018-12-04 07:42] deepu105 commented on #8887
Srini, do we need to update any docs for this?

On Tue, 4 Dec 2018, 6:45 am seyfullah <notifications@github.com wrote:

[2018-12-04 10:17] jdubois commented on #8924
@deepu105 you also need to be in the "beta" program

[2018-12-04 10:38] deepu105 commented on #8924
oh ok

[2018-12-04 13:42] srinivasa-vasu commented on #8887
@deepu105 I think, it's better to mention that in the documentation. It's more of a security constraint on the OpenShift side that @seyfullah is not able to run the docker image built by jib plugin. Will update it.

@seyfullah As I mentioned before, `oc edit scc restricted` and update `runAsUser.Type` strategy to `RunAsAny` would let you run the image built by jib plugin.

[2018-12-04 13:43] ivan86to commented on #8761
Hi, I have the same problem. Does anyone have a solution even temporarily?

[2018-12-04 15:34] biancopablo opened #8926 "Rate Limiting not using Hazelcast but instead JCache"
Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

I put xxx manually to obfuscate some names, sorry.

<details>
<summary>.yo-rc.json file</summary>
<pre

[2018-12-04 15:46] jdubois commented on #8926
JCache is just an abstraction on top of Hazelcast, so that should be OK normally

[2018-12-04 15:57] biancopablo commented on #8926
Thanks Julien! That's what I thought. But, as I said, the entries won't show in hazelcast man center unless you make it use bucket4j-hazelcast specifically, with the corresponding code changes. Maybe?

[2018-12-04 15:58] #8887 closed

[2018-12-04 16:21] avdev4j commented on #8683
Some news about Elasticsearch :
Both spring data jest and spring data elasticSearch need 6.2.2 elasticSearch API version.
Spring boot 2.1.1.Release set (in Spring boot dependencies POM) the elasticSearch version on 6.4.3.

Unfortunatly the XContentBuilder class has been modified and do not support string() method. String method is using somewhere by spring data jest.
That's why, at startup, spring

[2018-12-04 17:46] DanielFran commented on #8683
I open issue https://github.com/VanRoy/spring-data-jest/issues/102 to fix those issues.

[2018-12-04 18:21] batterista87 commented on #8782
I have the same problem, but I manage this on the Java side with different solutions, for example using the Projection, or using the Criteria API in custom repositories in order to select only some fields of an entire entity, or using different entity/DTO mappers.

The endpoit can be one, and the workflow is managed by a boolean parameter from front-end for example "isMenuLoading".

[2018-12-04 18:46] dren79 commented on #5190
change the application-prod.yml and bootstrap-prod.yml to reflect the heroku registry location and add -Dserver.port=$PORT to the Proc file after the $JAVA_OPTS , then relaunch! :)

[2018-12-04 19:57] DanielFran commented on #8683
New status:
- Infinispan KO
- Cassandra KO
- Couchbase OK
- Elasticsearch downgrade to 6.2.2 OK

[2018-12-04 21:00] jdubois commented on #8683
Thanks @DanielFran ! As discussed earlier and on the mailing list, we will remove the Infinspan/Cassandra/Couchbase options, but as cleanly as possible:

- I will create tickets for each of them, for detailed explanation & discussion
- If the technology is currently broken (Cassandra & Infinispan), I will remove the option as long as it's broken (the code is not deleted, only the option is removed

[2018-12-04 21:47] feverdog commented on #8761
Yes, probably it is not the best, but finding the files on the diff I have provided below and and rolling them back works fine for me.

Here's the link:
https://github.com/ruddell/jhipster-examples/commit/6051760f3e2984c8c114eec3e57fceb16961396d?diff=split#diff-c489e39e9c292cf2a461c4d76534e2bf

[2018-12-04 23:12] mraible commented on #8920
The problem seems to be that the backend expects a full user object, while React only sends a `user.id`. Here's what the drop-down looks like with Angular. You might notice that it uses an object for the value of the option.

<img width="881" alt="angular-select" src="https://user-images.githubusercontent.com/17892/49478445-c50be100-f7ed-11e8-8b1a-052c1d6237cf.png">

React, on the other hand, only

[2018-12-04 23:32] mraible commented on #8920
The Product microservice still has issues. Here's the error I see when I try to save a new product.

[code]

[2018-12-05 00:44] carrotagileit commented on #8761
I have the same problem, too.

[2018-12-05 02:35] mraible commented on #8920
I found another issue today. When you load the homepage with React + OAuth 2.0, there are errors in the console, and as a result, warning alerts that pop up on the user's screen.

<img width="1401" alt="react-oauth2-microservices" src="https://user-images.githubusercontent.com/17892/49486359-162acd80-f80c-11e8-99c8-d4d649817256.png">

With Angular, there are errors in the console, but no visible w

[2018-12-05 09:10] xetys commented on #8761
update on this one: the root cause is DI Problem. The principal service is not getting injected at all, as it doesn't resolve `JhiLanguageService`, so also `Principal` isn't resolved, so also the Interceptor and much more stuff get affected.

One quick workaround is to remove `JhiLanguageService` as a dependency in `principal.service.ts`

Still investigating

[2018-12-05 09:43] DanielFran commented on #8683
About elasticsearch, actually there is no bug, [spring-data-elasticsearch Lovelace-SR3 is targetting 6.2.2](https://github.com/spring-projects/spring-data-elasticsearch/blob/3.1.x/pom.xml#L22), so we need to keep using that version instead of [6.4.3 defined in spring-boot 2.1.1](https://github.com/spring-projects/spring-boot/releases/tag/v2.1.1.RELEASE).

[2018-12-05 09:58] xetys commented on #8761
ok after further investigating I can summarize the issue. It is somewhere in the Angular DI.

The interesting parts are: `Principal` < `JhiLanguageService`

This dependency has two paths:

... > `LoginService` > `Principal`
app > `AuthExpiredInterceptor` > `Principal`

The second path doesn't inject the language service, so `Principal` is undefined. The funny point is, if you inject the language s

[2018-12-05 20:38] Mahdihp commented on #8683
Upgrade to spring-boot 2.1

[2018-12-05 20:39] Mahdihp commented on #5970
Reactive programming with Spring 5 for JHipster

[2018-12-06 08:49] agoncal commented on #8782
@batterista87 any code you could share with us ?

[2018-12-06 09:40] iwan933 commented on #8465
Exact same issue occurs for me in 5.7.0. Unable to upgrade. (Windows 7 x64)

[2018-12-06 15:12] gmarziou commented on #8683
@Mahdihp What are you trying to say with this comment and also https://github.com/jhipster/generator-jhipster/issues/5970#issuecomment-444638306 ?

[2018-12-06 15:14] gmarziou commented on #8465
@iwan933 in Windows 7 there is another reason why generator could be stuck: it's the notifier in system icon tray which blocks until you click on the icon.

[2018-12-06 21:51] atomfrede commented on #8926
Maybe a Gradle issue with a missing dependency? In that case @biancopablo could you do a PR?

[2018-12-07 09:43] deepu105 commented on #8920
Matt please assign this to me, ill fix it when I have time. The best
solution is to send the user based on ID from the reducer when posting the
object. The page code can remain the same

On Wed, 5 Dec 2018, 3:35 am Matt Raible <notifications@github.com wrote:

[2018-12-07 09:54] jbadeau commented on #8880
Is there some way to disable auto git commit?

[2018-12-07 15:08] JordySwinnenPXL opened #8930 "Can't generate entities with import jdl command"
## **Overview of the issue**

Using JHipster 5.7 generator, i cannot generate JHipster application entities with JDL file.
Trying to generate an application with a given JDL file made in JDL studio.

## **Motivation for or Use Case**

I'm writing a research project about JHipster, among other things this includes testing the posibilities of JHipsters application generation.
However, the command `j

[2018-12-07 15:38] JordySwinnenPXL commented on #8930
This seems to have fixed it.

Mistake from my end, thank you!

[2018-12-07 16:53] ruddell commented on #8930
Closing since it looks solved

[2018-12-07 16:53] #8930 closed

[2018-12-07 17:03] ruddell commented on #8880
@jbadeau `--skip-git`, to see all options, `jhipster app --help`

[2018-12-08 10:07] murdos opened #8933 "New CLI commands: rename-entity and remove-entity"
##### **Overview of the feature request**

`rename-entity` would rename an existing entity and update all related entities
`remove-entity` would remove an existing entity only if no other entity is related

##### **Motivation for or Use Case**

As a development platform, JHipster should handle the whole possible lifecycle of an entity:
 - [x] create
 - [x] update
 - [ ] rename
 - [ ] remove

Becau

[2018-12-08 15:55] deepu105 commented on #8933
Why would you need rename if you have remove and add?

On Sat, 8 Dec 2018, 11:07 am Aurélien Mino <notifications@github.com wrote:

[2018-12-08 17:34] murdos commented on #8933
Because when I create a new entity for the new name there's now way to make the link with the entity with the former name, and thus all linked entities won't be updated?

[code]

What if I want to rename `Product` to e.g. `Asset`?
`jhipster entity Asset` => new entity `Asset` created
`jhipster remove-entity Asset` => not possible, since `Category` still references `Product`

[2018-12-09 10:31] pascalgrimaud commented on #8933
Here my point of view.
JHipster is used for generating code, not for renaming or deleting. If the user did a mistake by choosing a wrong name for his entity, it's on his side, not on our side. JHipster should not be used to fix user's mistake.
For deleting use case, `git` is the best here.
For renaming, it will took less than 5min, with `find / replace`, if the user knows well his code.

[2018-12-09 11:06] murdos commented on #8933
Since that what I've done this week (renaming entities), I can tell that it's not that simple, and it took me way more than 5min.
Now either JHipster is just a tool to bootstrap your application, that you trash away after the application is generated, or it's a development platform that you use while you're developing your application. In the latter case, this requested feature case is very useful

[2018-12-09 11:49] pascalgrimaud commented on #8933
Here a use case:
- the user creates an application with hundred entities + SQL
- then, some dev + custom modifications
- some deployment, so apply liquibase changes
- the user needs to rename an entity (with table). Do you think he will:
    - do it manually ? (personnaly, I will choose this, helping by git diff)
    - or use this new rename sub generator ? a minor bug in this, and the user will d

[2018-12-10 07:04] #8761 closed

[2018-12-10 07:11] jdubois opened #8937 "Remove Infinispan option"
Infinispan distributed cache support has been added by @srinivasa-vasu and I propose to remove this option:

- Last month it was only used by 0,58% of applications
- It has quite a high maintenance cost as it's complex to test
- The vast majority of users use Hazelcast, which basically does the same

@srinivasa-vasu I know you coded this while working at Red Hat, but as you left the company I'm gu

[2018-12-10 07:18] jdubois opened #8938 "Remove Couchbase option"
I propose to remove the Couchbase option, or at least to find some "official" maintainers for it.

- Last month it was only used by 0,29% of users
- It complexifies our templates a lot, and has a high maintenance cost

So for me it's not worth having the maintenant burden for the core team, as we have tons of opened issues and requested features that many people want.

At the moment this isn't bro

[2018-12-10 07:28] jdubois opened #8939 "Remove Cassandra option"
I am a **huge** Cassandra fan, and I'm the one who coded the Cassandra support in JHipster. In my opinion, this could has been a mean.io alternative for Java.

But today I'm proposing to remove the option:

- Last month it was only used by 0,48% of users
- It has a high maintenance cost in our templates
- It doesn't work with JDK 11 so this is already a blocker for our Spring Boot 2.1 branch: the

[2018-12-10 09:43] jdubois commented on #7036
This has been opened for nearly 1 year, it has got the $100 tag, and this is still stuck - so I'm closing this as "won't fix"

[2018-12-10 09:43] #7036 closed

[2018-12-10 09:44] jdubois commented on #7496
As this has been stuck for a long time, even with the $100 tag, I'm closing this as "won't fix".

[2018-12-10 09:44] #7496 closed

[2018-12-10 09:46] jdubois commented on #8367
As there has been no updates from a long time, and as it looks like there has been several fixes on the master branch, I'm closing this.

[2018-12-10 09:46] #8367 closed

[2018-12-10 09:48] #8899 closed

[2018-12-10 11:23] deepu105 commented on #8933
Personally, I will also be against renaming entity with JH as it will bring
a lot of maintenance overhead for us, and the only way to do it properly
would be to use a lot of regex/needles etc which is not very scalable and
is too much work. An IDE can do the job much better IMO. For deletion
I'm half minded

Thanks & Regards,
Deepu

On Sun, Dec 9, 2018 at 12:49 PM Pascal Grimaud <notifications@git

[2018-12-10 14:10] MathieuAA commented on #8917
@deepu105 sorry for the late response. Not really, you still need to correctly write your JDL content.

[2018-12-10 14:10] #8917 closed

[2018-12-10 14:32] deepu105 commented on #8917
But wouldn't it be the same case with CLI flags?

[2018-12-10 15:07] BenoPope opened #8940 "Tomcat Error on running 2 instances of JHipster"
##### **Overview of the issue**

Previously I have created two projects in Jhipster and got them to run fine on my tomcat server. The issue comes into play when I try to run both projects at the same time on the same tomcat. I am presented with a java.lang.IllegalStateException whenever I try to access one of the sites.

##### **Motivation for or Use Case**

Ease of use. Previous non-jhipster proj

[2018-12-10 15:35] jdubois commented on #8940
This should indeed work, then I wouldn't recommend this, as we're only keeping WAR deployment because of cloud providers like Google App Engine or Azure (if it was just for me I'd have dumped it a long time ago).

Could you post the whole StackTrace, maybe we'll see something interesting?

[2018-12-10 15:53] BenoPope commented on #8940
On another inspection there are quite a few errors thrown. I have uploaded the whole log file but the exceptions are as follows:

Line 760: java.lang.ClassNotFoundException
Line 1462: javax.management.InstanceAlreadyExistsException
Line 1530: org.apache.catalina.LifecycleException
Line 1620: java.lang.IllegalStateException
Line 1787: java.lang.ClassNotFoundException
Line 1969: java.lang.ClassNotFo

[2018-12-10 15:57] jdubois commented on #8940
Doesn't look good :-(
Maybe you could try disabling JMX (it's one line in the Spring Boot config), as it might create the same management beans twice (hence your  javax.management.InstanceAlreadyExistsException exception)

[2018-12-10 16:16] atomfrede commented on #8940
@BenoPope Any specific reasong why you use jhipster 4? (But I guess will be the same with jhipster 5)

[2018-12-10 16:18] atomfrede commented on #8939
@jdubois Are we planning to move more towards testcontainers in general?

[2018-12-10 16:23] jdubois commented on #8939
@atomfrede I'd rather stay without them whenever possible, each time I do trainings or I go to companies, people have a very hard time with Docker ("normal" JHipster users don't have access to the same tools we hipsters use daily...).

But for things like Cassandra, there is no other choice, so it's the way to go. Unless you have another proposal?

[2018-12-10 22:45] MathieuAA commented on #8917
Oh yes. There's no point in arguing that the doc must be read beforehand in any case. But using the JDL in the command line is like using a js code (what's the point if you have a file?)Again, this solution has been proposed to solve an issue. Just like the JDL has been created to solve an issue, or JUML. 

[2018-12-11 08:56] BenoPope commented on #8940
Tried this, sadly to no aid. Same errors.

[2018-12-11 11:17] srinivasa-vasu commented on #8937
Julien,

I see the usage is minimal. But If it makes sense to make it available for
our users, I don't have any issues maintaining it.

Thanks,
-Srini

On Mon, Dec 10, 2018, 12:41 Julien Dubois <notifications@github.com wrote:

[2018-12-11 13:59] atomfrede commented on #8939
@jdubois Good point with many companies not having docker in place. But we are already heavily promoting docker/docker-compose for local development. We have made very good experiences lately with testcontainers (even docker with win 10 works very well right now). But I guess you have more insights what going on at jhipster users :)

[2018-12-11 14:06] BenoPope commented on #8940
Success. Added "jmx.default-domain: mymindcheck" to the 'spring' config within application-dev.yml and application-prod.yml.

[2018-12-11 14:06] #8940 closed

[2018-12-11 18:58] Brzhk opened #8942 "UAA will list all users to any registered user"
##### **Overview of the issue**

Anyone logged in with user's privileges can query /api/users and get the list of users.

##### **Motivation for or Use Case**

It's not a personal bug to me. But it feels like a very dangerous default behavior.

##### **Reproduce the error**

set up an uaa-based project.
login with user/user and get the token
query the uaa api
???
profit

##### **Related issues**

[2018-12-11 19:19] ruddell commented on #8942
Related discussion: https://github.com/jhipster/generator-jhipster/pull/7772#issuecomment-404848962

It's normally used for relationships with the user entity.  This isn't possible with the UAA architecture, so we could add `@PreAuthorize` based on that condition.

[2018-12-12 06:40] jdubois commented on #8942
Thanks @Brzhk now I get your issue (personal note: we work together at the moment), and indeed that should be corrected.

[2018-12-12 08:19] dhiresbudhiraja opened #8944 "WRONG EXECUTE_CQL_SCRIPT PATH when adding Command Line Argument to cassandra migration"
##### **Overview of the issue**

[code]
There is no such file as **/usr/local/bin/execute-cql.sh** error when i pass a command line argument for changing the path of cassandra migrations from **cql/changelog** to a different folder in **cql folder** which is in **src/main/resources/config** folder.

Error comes from file **src/main/docker/cassandra/scripts/autoMigrate.sh** in line number 40.

`EXE

[2018-12-12 08:37] PierreBesson commented on #8939
It's really sad but the feedback from our users is that we cannot force them to use docker as it could be really painful to use depending on their setup (win7, not enough ram, etc). Also the default option must include a way to run without docker otherwise it could be a dealbreaker in people's adoption of JHipster. Also testcontainer cannot run in all CI environnements (you need docker installed a

[2018-12-12 15:17] avdev4j commented on #8782
Hi,
And what about [Partial Response](https://developers.google.com/drive/api/v3/performance)**?

Something like "/ api / languages ​​/ viewcombo" mean "viewCombo" is a  sub-resource of "languages", I don't think it's what is intended.

With Partial Response the API looks like "/api/languages?fields=id,value" and the HTTP returned code will be 206.
`[{
       "id": 1,
       "value": "English"
},{

[2018-12-12 16:54] jamalzkhan opened #8945 "jhipster registry error with monolith out of box - docker"
##### **jhipster monolith doesn't work with docker jhipster registry**

Running jhipster locally on Mac using the monolith and jhipster registry options, when running the registry and monolith, the registry doesn't show an intance of the app running.

##### **Motivation for or Use Case**

Bug as this means that there is an error in the docker file composition in dev, hinders development and testin

[2018-12-12 17:12] PierreBesson opened #8946 "[FEATURE] Allow access to secured management endpoints using basic auth"
##### **Overview of the feature request**

Allow requests be made to `/management/XXX` using a fixed API key that would be defined in the properties (for example `jhipster.security.authentication.management-api-key`).
This api key could be passed in the header and let users access the management API without a regular user authentication. This would also lead to the creation of a new Spring "Author

[2018-12-12 17:56] PierreBesson commented on #8946
For now, @clement26695  has enabled public access for the prometheus endpoint: https://github.com/jhipster/generator-jhipster/commit/6e50fc845b62f5396f9c8cdf52b53af185079d60.

[2018-12-12 17:59] DanielFran commented on #8938
@PierreBesson This one is for Couchbase and https://github.com/jhipster/generator-jhipster/issues/8939 is for Cassandra.

[2018-12-12 20:18] PierreBesson commented on #8945
I just generated a sample registry enabled monolith and indeed the generated `application-dev.yml` file contains:

[code]

So this is not a bug, it is the behavior we decided to have for monolith. Of course you are free to change your configuration.

[2018-12-12 20:18] #8945 closed

[2018-12-12 20:21] PierreBesson commented on #8888
@deepu105 what do you want to do about this issue ? Do you want me to try some more and try to reproduce this issue on a linux machine ?

[2018-12-12 21:30] agoncal commented on #8782
In a previous project we used partial responses. It was very powerful but we found it difficult to maintain in the long run (eg. you get rid or rename an attribute and the client API needs to be updated) and the users of the APIs found it verbose.

But all in all, I quite liked it.

[2018-12-12 22:06] PierreBesson commented on #8938
Sorry I didn't notice. Then I think we need to ping @tchlyah.

[2018-12-12 22:40] atomfrede commented on #8946
When I enabled Prometheus again for our current setup I enabled basic auth
for that endpoint and configured Prometheus to query that endpoint with
basic auth. But an API key might be easier.

On Wed, Dec 12, 2018, 18:56 Pierre Besson <notifications@github.com wrote:

[2018-12-12 23:02] jamalzkhan commented on #8945
Thanks for the clarification @jdubois @PierreBesson

[2018-12-12 23:30] PierreBesson commented on #8946
Well basic auth could make sense as a simple solution. So basically we could create a special "management" user with ROLE_MANAGEMENT and password set in the properties. I'm not sure which solution is better.

[2018-12-13 07:24] pmverma opened #8947 "Support import in jdl file"
##### **Overview of the feature request**

It is really easy to maintain a single jdl file for a small to medium size project. However, as the project grows, it would be better to separate the jdl files by their relevance and import all of them into one `main.jdl`

##### **Motivation for or Use Case**

Keeping a few files rather than one large file is easy to view and maintain. Saves scrolling up

[2018-12-13 12:46] tchlyah commented on #8938
I've always tried to maintain this part ASAP. I'm also working on the Reactive part will I hope will be ready soon. So Yes, You can rely on me. Just ping me whenever you need me.

If you want "official" maintainer from Couchbase, I heard that @deniswsrosa is interested.

[2018-12-13 15:49] jdubois commented on #8938
Thanks @tchlyah ! And sorry as this was a bit unfair to you: at the moment we only have issues with Cassandra, and Couchbase works really well.

But yes it would be good to have an "official" maintainer, and that could be you, so we know to who we must assign the issues. -> who would like to do be the official maintainer?

[2018-12-13 17:18] pascalgrimaud commented on #8938
I don't think we want official maintainer from Couchbase directly, simply official maintainer who knows Couchbase and who wants to maintain this part in JHipster. It could be you, if you want @tchlyah

[2018-12-13 17:31] ruddell commented on #8947
I'm not sure exactly what you want. You can already import several JDL files at once with: `jhipster import-jdl first.jdl second.jdl`

[2018-12-13 19:42] tchlyah commented on #8938
Yes sure! I would be happy to so. I think this was the condition before even you accept my PR.

[2018-12-13 20:48] kaitolovemiku opened #8949 "Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.6:npm (npm install)"
[ERROR] Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.6:npm (npm install) on project my-app: Failed to run task: 'npm install' failed. java.io.IOException: Cannot run program "d:\final_project\myapplication\node\node.exe" (in directory "d:\final_project\myapplication"): CreateProcess error=193, %1 is not a valid Win32 application -> [Help 1]
[ERROR]
[ERROR] To see the full sta

[2018-12-13 23:49] gmarziou commented on #8949
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-