[2018-03-06 11:48] MathieuAA commented on #7236
I've just checked and everything looks fine. As Deepu said, most of the code we use (from the fs API) uses the xxxSync version of the functions.

[2018-03-06 14:20] gzsombor commented on #7195
The reverse engineering script would have some interest from others too, I believe. 😉
I don't think, if JHipster can generate code which could work with composite keys, so I'm curious how your tool works.

You can override locally the buildReferringEntitySpecification methods of 'QueryService' - that methods are 'protected' - if you really need the functionality.
 In my opinion,  I would rather ch

[2018-03-06 16:27] pavankjadda opened #7241 "Hibernate 2nd-level cache not available when Spring Cache has not selected"
Hibernate 2nd-level cache not available when Spring Cache has not selected during microservice setup and the cache documentation says "**We do not recommend to use both the Spring cache abstraction and the Hibernate 2nd-level cache for the same objects, as this will make cache invalidation issues even more complex**". How to enable Hibernate 2nd level cache without enabling Spring Cache Abstractio

[2018-03-06 16:38] deepu105 commented on #7241
You need to enable SPring cache to use Hibernate 2nd level. The comments in the doc is more about adding Spring cache manually for the entity. Maybe the doc can be improved. WDYT @jdubois ?

[2018-03-06 16:40] jdubois commented on #7241
Oh yes the doc is wrong. Well, not totally wrong, let me improve it.

[2018-03-06 17:36] #7241 closed

[2018-03-06 17:39] pavankjadda commented on #7241
Thanks @jdubois @deepu105

[2018-03-06 23:11] jdubois commented on #7178
I just tried it on the current `master` branch, using your `.yo-rc.json` and running the gateway + a microservice using `./mvnw -Pprod` and I had no issue at all.
The master branch is using Spring Boot 2 and we have upgraded many libraries, so we probably "solved" it without knowing it. Can you try again, either on the master branch, or as soon as we do a release?
We'll re-open it if needed, but a

[2018-03-06 23:22] jdubois commented on #7178
OK I got it, I think, so I'm reopening it.
If you run with with Docker, we have a strange bug, which makes that the gateway tries to be in the same Hazelcast cluster as the microservices. This doesn't happen if you run `mvn -Pprod` and is clearly a misconfiguration.
So when it tries to replicate a Bucket4J class in Hazelcast, the microservice will fail as it doesn't have Bucket4J in its classpath.

[2018-03-07 00:18] mraible commented on #6044
@deepu105 I enabled the React option when selecting OAuth 2.0 and it fails on install:

[code]

[2018-03-07 02:20] mraible commented on #6044
Figured it out! https://github.com/jhipster/generator-jhipster/pull/7243

[2018-03-07 02:38] Blackdread commented on #7195
My tool does not consider composite keys as jhipster does not provide this feature, it is seen as normal foreign keys, and it will create corresponding ManyToOne relationships in the JDL file generated.

Could you provide the implementation of the buildReferringEntitySpecification for XToOne and ManyToMany with a RangeFilter<X> passed as parameter? Thank you for the help.

[2018-03-07 06:41] deepu105 commented on #6044
Thanks Matt

On Wed, 7 Mar 2018, 3:21 am Matt Raible, <notifications@github.com> wrote:

[2018-03-07 07:43] pascalgrimaud commented on #6044
I noticed some differences for indentation between Angular and React.
Angular uses 4 spaces and React uses 2 spaces.
Is it intended ?

[2018-03-07 07:53] deepu105 commented on #6044
Yes, I was hopping we could switch to 2 space for Angular as well, as it
makes code more conscise and less wrapping

On Wed, 7 Mar 2018, 8:43 am Pascal Grimaud, <notifications@github.com>
wrote:

[2018-03-07 10:45] ymarec opened #7245 "[Sub-generator Docker-compose] TypeError: Cannot convert undefined or null to object"
##### **Overview of the issue**
When I run the docker-compose subgenerator, for a microservice application and a JHipster gateway, I get the following error and the docker-compose file is not generated :

##### **Reproduce the error**

By creating a microservice and a gateway with all the default choices, the generator works.
Here are the results of jhipster info for my microservice and my gateway

[2018-03-07 10:58] agaspardcilia opened #7246 "React : Metrics, loading bars value display bug"
##### **Overview of the issue**

In metrics page, the percentage values in loading bars are unreadable.
![screenshot from 2018-03-07 11-57-09](https://user-images.githubusercontent.com/9017981/37088772-be4897e8-21fe-11e8-9f9e-3b3b77483de0.png)

##### **Motivation for or Use Case**

It could be nice to be able to read the value. :stuck_out_tongue_winking_eye:

##### **Reproduce the error**

Generat

[2018-03-07 13:35] mohataher opened #7247 "Boxfuse: Specified key was too long; max key length is 767 bytes"
##### **Overview of the issue**

I created a fresh project using JHipster 4.14.1 version. I used MySQL in both production and development. No entities or edits to code were done.

When deploying it, I get this error `Specified key was too long; max key length is 767 bytes`

[code]

##### **Reproduce the error**

1. Generate a JHipster version using v4.14.1. Use MySQL for production and development

[2018-03-07 15:43] Aoterr opened #7250 "Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.6:install-node-and-npm (install node and npm) on project"
[ERROR] Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.6:install-node-and-npm (install node and npm) on project sale: Could not extract the Node archive: Could not extract archive: '/Users/aoter/.m2/repository/com/github/eirslett/node/8.9.4/node-8.9.4-darwin-x64.tar.gz': EOFException -> [Help 1]
[ERROR]

[2018-03-07 15:48] ruddell commented on #7250
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-07 15:48] #7250 closed

[2018-03-07 16:51] mohataher commented on #7247
A similar issue was raised [here](https://github.com/jhipster/generator-jhipster/issues/3996) for user schemas. I guess the same logic there applies to this table. I'm about to try changing the cell size from 255 to 191 and see if it fixes the issue.

[2018-03-07 18:50] xetys commented on #6032
Hey, I ran into this issue from a different point of view (again). My case was, that I could workaround this issue all the time using the command from @lmcardle, but this didn't help me inside our CI/CD platform, as gradle is doing the packaging. I struggled some hours and ended up with this solution: https://github.com/rails/webpacker/issues/422

And this got me rid of this very annoying one. May

[2018-03-07 19:37] #7178 closed

[2018-03-07 19:38] jdubois commented on #7178
I just fixed it, for the record: when I coded this initially, I didn't think there was an interest in this, as you are doing distributed rate limiting on the gateway + using Traefik (so 2 technologies doing the routing). But that was of course a bad idea (typically Traefik doesn't do rate limiting).

[2018-03-07 20:38] Puneetsri commented on #7178
Thanks a Lot @jdubois, when it will be available for use? BTW i did not use Traefik, but just consul (instead of JHipster Registry).

[2018-03-07 20:42] jdubois commented on #7178
It will be in the next JHipster 5 release for sure.
For the 4.x maintenance branch I can't guarantee - this can probably be cherry-picked to that branch, and then we could do a specific release, but we're lacking time for this.

[2018-03-07 20:44] jdubois commented on #7178
I cherry-picked it here: https://github.com/jhipster/generator-jhipster/commit/4ac275a02fd7157501be51b8239da4220d9f4167

So it should be in the next 4.x release (but I can't tell when we will do that)

[2018-03-07 20:50] Puneetsri commented on #7178
Perfect, thanks , I'll keep an eye on it. Just a question : Is JHipster 5 release planned in coming 2/3 months? I'm not really sure about the general timelines for JHipster releases, could be helpful to know.

[2018-03-07 20:50] jdubois opened #7252 "React doesn't support parent-child relationships of the same entity"
This is on the current master branch, using React.

Using the configuration below, the React front-end will not compile:
[code]

I'm also worried that near to that line we have:
[code]
I'm not sure if there is a link with that TODO, but it should also be solved.

Here's the output of `jhipster info` in order to reproduce:

##### **JHipster configuration, a `.yo-rc.json` file generated in the root

[2018-03-07 21:13] jdubois commented on #7178
JHipster 5 should be out sooner, probably 2-3 weeks from now.
And we'll have beta releases very soon.

[2018-03-07 21:25] deepu105 commented on #7252
I added that TODO as the current code is not the correct way to handle
relationships, i'll be working on this soon, so assign this to me

Thanks & Regards,
Deepu

On Wed, Mar 7, 2018 at 9:50 PM, Julien Dubois <notifications@github.com>
wrote:

[2018-03-07 21:34] mmajor73 opened #7253 "Generated Jenkins Pipeline Fails"
##### **Overview of the issue**

When I attempt to integrate cdi-cd using a jenkins files Generate using JHipster the pipleine fails when installing yarn..[workspace] Running shell script

+ ./mvnw com.github.eirslett:frontend-maven-plugin:yarn
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Contact Mono 0.0.1-S

[2018-03-07 22:24] deepu105 commented on #7253
Is your Jenkins machine properly configured? please provide steps to reproduce. Please follow our issue templates properly

[2018-03-07 22:49] gmarziou commented on #7253
Where's the error? I can see only warnings.

[2018-03-07 23:05] mmajor73 commented on #7253
The script exits with -1. I will upload the jenkins file.

[2018-03-07 23:10] mmajor73 commented on #7253
I generated the Jenkins file using jhipster ci-cd
Started a jenkins instance in openshift.
created  jenkins pipeline project that references my github project.
selected build now on my project in jenkins
Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Deepu K Sasidharan <notifications@github.com> Date: 3/7/18  5:24 PM  (GMT-05:00) To: jhipster/generator-jhip

[2018-03-08 10:32] jdubois commented on #7178
I'm sorry @Puneetsri but cherry-picking this fix on the v4.x_maintenance branch makes our Travis build fail, and I have no time to work on this. So I'm reverting the commit.
So this will probably only be available on JHipster 5.

[2018-03-08 13:38] agaspardcilia commented on #7246
Embedding it in a span seem to fix the issue.

[2018-03-08 13:38] #7246 closed

[2018-03-08 15:54] gmarziou commented on #7253
Yes but why? There's nothing in what you have provided us that can help diagnose the issue.
Closing until we get more information as there's currently no evidence it's a JHipster issue.

[2018-03-08 15:54] #7253 closed

[2018-03-08 16:35] jdubois commented on #7236
If @MathieuAA says it's fine, then I'm closing this.
Thanks for the warning @BridgeAR !

[2018-03-08 16:35] #7236 closed

[2018-03-08 18:53] ruddell opened #7257 "Lint + Prettier Rule Collision (Angular)"
##### **Overview of the issue**
Prettier causes lint issues, noticed while `yarn start` was running and made a commit (the `precommit` git hook runs prettier).  Doesn't look like it affects React.

Error from extra semicolon added by prettier: `ERROR: /src/main/webapp/app/home/home.component.ts[43, 6]: Unnecessary semicolon`

Related, prettier changes `'You\'re Online!'` to `"You're Online!"` whic

[2018-03-08 19:02] deepu105 commented on #7257
We should disable lint rules that are conflicting with prettier, so if prettier handles something that should have a higher preference. That is the suggested approach.

[2018-03-08 22:26] #7257 closed

[2018-03-08 22:34] #6968 closed

[2018-03-09 01:57] gmarziou commented on #7172
I have something starting to work by using yeoman registerTranformStream(), for now it only uses default settings, I must pass it our configuration

https://github.com/gmarziou/generator-jhipster/commit/b88051b3bf2006d4d9a9f5163bbf2bdf065c4319

[2018-03-09 06:13] deepu105 commented on #7172
Nice work. I assume it would be easy to pass our settings. I didn't look at
the code yet, but assume you will be using gulp filters

On Fri, 9 Mar 2018, 2:58 am Gaël Marziou, <notifications@github.com> wrote:

[2018-03-09 06:22] #7252 closed

[2018-03-09 06:34] deepu105 commented on #6032
@xetys the real reason for the issue is when you have different nodeJS versions (exact version) in the gradle config and your OS, so whichever version triggers the install will bind the binary to it and if you try to run it using another node version it will fail. I also used to get this issue in the past, but now I always keep my gradle node version in sync with my installed node version and I ha

[2018-03-09 07:21] pascalgrimaud commented on #6032
I didn't know that and I encounter this issue every day with our registry (an old version) in my project. Our Jenkins build without problem.
That explains everything ! Thanks @deepu105 : should we document that ? A simple note to SASS option

[2018-03-09 07:28] deepu105 commented on #6032
Yes, we could

Thanks & Regards,
Deepu

On Fri, Mar 9, 2018 at 8:21 AM, Pascal Grimaud <notifications@github.com>
wrote:

[2018-03-09 08:55] gmarziou commented on #7172
Yes I used gup-filter, I also used gulp-prettier but I had to modify its code a little so finally I rewrote it as a short inner function

[2018-03-09 09:02] gmarziou commented on #6032
Another possibility for those who don't use sass directly could be to use `--ignore-scripts`  flags for `npm install` or `yarn install`. This way the node-sass postinstall script would not trigger.

[2018-03-09 10:11] rampantlion103 commented on #6391
How about now if there any support for java 9 or 10?

[2018-03-09 10:25] jdubois commented on #6391
It already works for both, but we did a Twitter poll and users voted against having those by default, as the Docker image is much bigger, they are not LTS releases, and they don't provide much added value (perf is basically the same)

[2018-03-09 10:43] rampantlion103 commented on #6391
Got it. I guess the next question if it can support java 11?

[2018-03-09 11:14] #6773 closed

[2018-03-09 11:20] cmoine commented on #2383
I am in the same situation. The "performance" argument totally makes sense.
However, couldn't we use interfaces to address this feature ? The generators is very valuable for this purpose:
- Generate interfaces with getter & setters
- Generate class (with Entity annotation) with the getter & setter implementation

I agree it has huge impact on JDL editors (the one online, the one in IDEs), but the

[2018-03-09 11:45] Blackdread commented on #7195
My pull request does not rename previous methods so it does not solve issue that we have to manually edit generated code to be able to add range filtering for ID field (primary Long).
What is the decision on it?
2 solutions:
1. change generator to use the **buildRangeSpecification** instead of **buildSpecification** for ID field
2. rename all to **buildSpecification** (string, range) but keep **bu

[2018-03-09 13:07] deepu105 commented on #7195
JHipster 5 can have breaking changes, so if its a cleaner solution then I
would vote for it but  @gzombor is the boss here

Thanks & Regards,
Deepu

On Fri, Mar 9, 2018 at 12:45 PM, Yoann CAPLAIN <notifications@github.com>
wrote:

[2018-03-09 15:29] agaspardcilia opened #7261 "React default generation is not working"
##### **Overview of the issue**

Error when trying to generate an App using default settings for React.
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

Just build any React project with default settings.

##### **Related issues**

##### **Suggest a Fix**

Probably have something to do with #7254

##### **JHipster Version(s)**

4.14.0

##### **JHipster configuration**

[2018-03-09 16:47] gmarziou commented on #7172
@deepu105 there's a bootstrap issue here: `.prettierrc` is generated from an EJS template, so on first generation it does not exist and on next generations it exists and could have been customized by user.

I don't know what I could do with yeoman's in-memory filesystem.

A simple approach could be to define our `.prettierrc` file as a plain file not a template and that user's configuration file i

[2018-03-09 18:09] pascalgrimaud commented on #7261
I don't understand why the current status of the build is green... :worried:

[2018-03-09 18:22] gmarziou commented on #7172
I could not find a way to specify a configuration file path through API so I may do the reverse: define options in a variable and generate the `.prettierrc` file from it.

[2018-03-09 18:33] deepu105 commented on #7172
Can you create a PR with what you hv so far, ill work on it tomorrow. I'll
find a way

On Fri, 9 Mar 2018, 7:22 pm Gaël Marziou, <notifications@github.com> wrote:

[2018-03-09 19:12] adventmedia commented on #5833
just came onboard with a JHipster generated Angular 4 project. Current webpack (dev) config does not support source maps for css (from scss source files). Would be REALLY helpful to have this!

[2018-03-09 20:11] ruddell commented on #7261
This was happening for all apps, both Angular and React.  `this.cacheManagerIsAvailable` is always false on the first generation because it was declared before the prompts.  After running `jhipster` again, it prompts to insert all of the cache statements then the project will compile.  @pascalgrimaud  Do we call `jhipster` twice in the Travis tests?

I moved the declaration below the prompts in my

[2018-03-09 20:15] pascalgrimaud commented on #7261
@ruddell : no, it should call once
https://github.com/jhipster/generator-jhipster/blob/master/travis/scripts/02-generate-project.sh

So strange

[2018-03-09 20:19] ruddell commented on #7261
@pascalgrimaud The tests pass because we generate from an existing .yo-rc.json, so the variable was filled correctly.  If you answer the prompts like a user would, it fails.

[2018-03-09 20:25] pascalgrimaud commented on #7261
oh I see ! Travis can't answer the question, so it will always generate project from existing configuration

[2018-03-09 23:18] gmarziou commented on #7172
Here it is, I added it only to app generator.

[2018-03-10 06:15] #7261 closed

[2018-03-10 10:49] nutrimax1987 commented on #7188
upgraded jhipster to 4.14.1 ...I'm on windows 10 ..still have this problem
[ERROR] warning Resolution field "source-map...

[2018-03-10 10:55] nutrimax1987 commented on #7032
I still have issue with signup after i signin (facebook)
Cannot GET /social/signup

1. <spring-facebook.version>3.0.0.M1</spring-facebook.version>
2. updated webpack.dev.js  proxy: [{
            context: [
                /* jhipster-needle-add-entity-to-webpack - JHipster will add entity api paths here */
                '/api',
                '/management',
                '/swagger-resources'

[2018-03-10 11:31] gmarziou commented on #7188
@nutrimax1987 this is not a problem, this is a warning which is wrongly logged as error by maven front end plugin. About hte warning, see https://stackoverflow.com/questions/48969907/jhipster-warnings-on-new-project-generation/48972431#48972431

[2018-03-10 11:42] nutrimax1987 commented on #7188
thank you for quick response

[2018-03-10 13:13] jdubois commented on #7247
Yes, this looks the same as #3996 - from my understanding this was also caused because Boxfuse used an older MySQL version, do you know which version you are using?

[2018-03-10 13:44] ruddell commented on #7032
Did you use port 8080?

[2018-03-10 15:18] jdubois commented on #7245
I just tested it with our master branch and had no issue at all... And we didn't change this page this the last 4.x release...
On the failing line we're doing a `this.adminPassword` to get the JHipster Registry password -> maybe that's the issue, are you sure you have a password?

[2018-03-10 15:42] nutrimax1987 commented on #5122
Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 90 seconds of launch
2018-03-10T15:34:24.734543+00:00 heroku[web.1]: Stopping process with SIGKILL
2018-03-10T15:34:24.900327+00:00 heroku[web.1]: Process exited with status 137
2018-03-10T15:34:24.912142+00:00 heroku[web.1]: State changed from starting to crashed
2018-03-10T15:34:25.001309+00:00 heroku[router]: at=error code=H

[2018-03-10 15:57] jdubois commented on #7245
Once you have deployed you'll have database access error - this is because you use MS SQL Server, and the database schema isn't correctly configured.
I'll have a look, but help is welcome if you have time and want to help.

[2018-03-10 16:34] nutrimax1987 commented on #5122
1. Redeploying it again ..
2. heroku config:set JHIPSTER_REGISTRY_URL="https://myRegistryUser:myRegistryPass@my-gateway-app.herokuapp.com"

and then got the erorr ...

at=error code=H20 desc="App boot timeout" method=GET path="/config/gate/prod/master" host=stocker-gateway.herokuapp.com request_id=8a41dade-874a-41e7-8d26-ad3c88abd031 fwd="54.217.179.76" dyno= connect= service= status=503 bytes= pr

[2018-03-10 16:38] gmarziou commented on #5122
@nutrimax1987 please don't comment on a one year old closed issue, please open a new one with all required details

[2018-03-10 17:09] nutrimax1987 opened #7267 "detail : "None of the configured nodes are available: [{#transport#-1}{localhost}{127.0.0.1:9300}]""
1. Deployed my gateway on Heroku
2. Login succeed .
3. Trying to add some tag ..500 error in browser
![face-cap](https://user-images.githubusercontent.com/13996110/37244775-31587a8c-24a7-11e8-8d7c-89c0c7ff580a.PNG)

4. full browser response
{"type":"http://www.jhipster.tech/problem/problem-with-message","title":"Internal Server Error","status":500,"detail":"None of the configured nodes are availab

[2018-03-10 17:13] ruddell commented on #7267
When deploying in production, you need to run your own instance of Elasticsearch somewhere.  http://www.jhipster.tech/using-elasticsearch/

Starting in v5, the Heroku subgenerator will create a free elasticsearch addon for your app. https://github.com/jhipster/generator-jhipster/pull/7131

----
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines

[2018-03-10 17:13] #7267 closed

[2018-03-10 17:14] nutrimax1987 commented on #7267
so quick response thank you very much , fantastic !

[2018-03-10 17:50] javagrails opened #7270 "postgresql liquibase issue"
[ERROR] Failed to execute goal org.liquibase:liquibase-maven-plugin:3.5.3:diff (default-cli) on project pglqjh: Error setting up or running Liquibase: org.hibernate.service.spi.ServiceException: Unable to create requested service [org.hibernate.engine.jdbc.env.spi.JdbcEnvironment]: Unable to resolve name [o.github.jhipster.domain.util.FixedPostgreSQL82Dialect] as strategy [org.hibernate.dialect.Di

[2018-03-10 17:52] gmarziou commented on #7270
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-10 17:52] #7270 closed

[2018-03-10 18:29] javagrails commented on #7270
thank you :1st_place_medal:

[2018-03-10 19:46] CHRISTMardochee commented on #6935
how can i do?

[2018-03-10 20:10] gmarziou commented on #6935
How can you do what ? Please give details

[2018-03-10 20:49] CHRISTMardochee commented on #6935
How i do to use -bootstrap-material-design for jhipster4

[2018-03-10 22:11] gmarziou commented on #6935
@CHRISTMardochee I replied to you on gitter, let's not pollute this issue here.

[2018-03-10 23:38] daibertdiego commented on #901
How can I contribute to this part? Because I have a project using SpringBoot, SpringSecurity, MongoDB, ZullProxy and a lot of other technologies that JHipster works too. But now, my database is full of DBRef relationships because I use Morphia as Mongo Framework and I'm very excited to migrate my project to JHipster and I would like to improve this functionality. Thanks

[2018-03-11 09:54] atomfrede commented on #6379
Spotless now has a maven plugin which works quite well (we have tried it at work already). So maybe spotless is worth a look again (until we can use prettier for everything).

[2018-03-11 12:44] jdubois commented on #7245
I really can't reproduce on our master branch, everything works fine, so I'm closing this. Maybe this was solved by moving to JHipster 5.
For the SQL Server issue, I have solved it -> I'm going to open a specific ticket for this, and link it here

[2018-03-11 12:44] #7245 closed

[2018-03-11 12:54] jdubois opened #7271 "MS SQL Server default database not correctly set with Docker Compose"
This was found while working on #7245

The current Docker Compose configuration expects that the MS SQL Server database is called "jhipstertest", which of course doesn't work by default.

Unfortunately, it is not possible to create a MS SQL Server database schema at startup, see https://github.com/Microsoft/mssql-docker/issues/2

We could do it by using a complex Docker configuration like we have

[2018-03-11 12:55] #7271 closed

[2018-03-11 15:06] deepu105 opened #7272 "Update libraries before v5"
Update to latest libraries before v5

- [ ] Generator npm dependencies
- [ ] Angular client side libs
- [x] Webpack libs -> need to remove custom repo definitions
- [x] React libs
- [x] Maven/Gradle plugins
- [x] Server-side libs
- [x] Docker deps

[2018-03-11 15:06] deepu105 commented on #7272
@jhipster/developers it would be nice if we can split this among us

[2018-03-11 15:55] deepu105 commented on #7223
v `5.0.0-1` of `awesome-typescript-loader` seems to fix the issue. I updated for react can someone do for angular and test?

[2018-03-11 18:46] nutrimax1987 commented on #7032
@ruddell  is there something new ?
i run 'npm start' in one console tab , and 'mvnw' in other tab ..server run and client run in development mode and i get this error if i open browser localhost:9000 .
if i run only server and open localhost:8080 it gives me '

URL blocked: This redirect failed because the redirect URI is not white-listed in the app's client OAuth settings. Make sure that the clie

[2018-03-11 18:57] nutrimax1987 commented on #7032
All works thanks

[2018-03-11 19:40] #7172 closed

[2018-03-11 19:47] deepu105 commented on #7223
I switched to ts-loader in React as its much faster, when used with few other plugins

[2018-03-11 19:57] nutrimax1987 opened #7274 ""enableSocialSignIn": remains ..false"
##### **Overview of the issue**
While generating app and after selecting 'generator-jhipster-spring-social-connectors' ..it still remains
    "enableSocialSignIn": false -

##### **How i fix it ..**
1. changing it manually to
2.  run 'jhipster --force --with-entities'

##### **Reproduce the error**
? Which *type* of application would you like to create? Microservice gateway
? What is the base name

[2018-03-11 20:21] ruddell commented on #7274
You need to select to enable Social Login when generating your project.

[code]

[2018-03-11 20:21] #7274 closed

[2018-03-12 06:59] pascalgrimaud commented on #7223
@deepu105 : I confirm. The version `5.0.0-1` seems to fix the issue, but I need to upgrade typescript to 2.7.2, exactly what did @wmarques in https://github.com/jhipster/generator-jhipster/pull/7227
Maybe reopen this PR and change the `awesome-typescript-loader` version ?

[2018-03-12 07:39] atomfrede commented on #7272
I will take care of the gradle part (already did something https://github.com/jhipster/generator-jhipster/pull/7226, but there is more to update I've seen)

[2018-03-12 07:43] nutrimax1987 commented on #7274
I do select but it looks different ..like generator-jhipster-spring-social-connectors-0. 0.1

[2018-03-12 08:43] erikkemperman commented on #7272
For jhipster-dependencies, and server-side lib, and through those indirectly the generator, it would be great if spring-platform Cairo were available prior to JHv5... It looks like the first RC is done, but not yet released:

https://github.com/spring-io/platform/milestone/28?closed=1

It says overdue by 4 days, so I'm hoping it might come out this week!

[2018-03-12 08:46] erikkemperman commented on #7272
But even before that's out, we could take a look at aligning the versions. I'll try to do that but would first like to update the PR re: unification of server lib and dependencies. That might otherwise conflict with efforts to bump dependencies.

[2018-03-12 09:22] chrisdns opened #7275 "" Cannot find module 'gulp-filter' " when using jhipster command"
##### **Overview of the issue**
It is no longer possible to generate an app, it stops right after using 'jhipster' command :

``ERROR! Cannot find module 'gulp-filter'
{ Error: Cannot find module 'gulp-filter'
    at Function.Module._resolveFilename (module.js:557:15)
    at Function.Module._load (module.js:484:25)
    at Module.require (module.js:606:17)
    at require (internal/module.js:11:18)

[2018-03-12 09:28] sendilkumarn commented on #7275
@chrisdns Just try to run yarn install in your local generator and then re-link it

It should fix the problem.

[2018-03-12 09:28] #7275 closed

[2018-03-12 09:30] sendilkumarn commented on #7223
@pascalgrimaud makes sense. We will do that, timebeing before ngtools.

Will 2.7.2 break anything else ? 😟

[2018-03-12 09:37] chrisdns commented on #7275
Thank you

2018-03-12 10:29 GMT+01:00 Sendil Kumar N <notifications@github.com>:

[2018-03-12 10:20] samar123456 opened #7277 "nn,"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this

[2018-03-12 10:27] jdubois commented on #7277
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-12 10:27] #7277 closed

[2018-03-12 11:30] knavadiya opened #7278 "Email doesn't send and doesn't get any error or log when create new User (in Deployed Live application)"
** I  have configure Email in application-prod.yml file in Jhipster to send user login reset password link to new user's entered email, When I run my application in my local machine in Production mode email is working fine and email send successful and reset password successful but I deployed application live and create new user It doesn't show any error or log and user doesn't get email to reset

[2018-03-12 11:37] jdubois commented on #7278
Your hosting provider probably don't allow you to send emails via smtp.
It's very usual, for example that's what Google Cloud does.
You need to contact your hosting provider, they probably have a solution like using a specific port, etc.

[2018-03-12 11:37] #7278 closed

[2018-03-12 13:12] Jiri-Kremser opened #7279 "The cli generator hangs on nested questions when using node 8.1.0"
##### **Overview of the issue**

When using node `8.1.0` the first question works well, but the inquirer library stop working on second nested question, it doesn't accept any input nor `CTRL+C` so I had to close the tab w/ it. It's probably related to https://github.com/SBoudrias/Inquirer.js/issues/547

Easy workaround is upgrading the node.

Sorry in advance in case it is a known issue or duplica

[2018-03-12 13:55] mohataher commented on #7247
Table `jhi_social_user_connection` had a `varchar(255)` definitions. I changed them to 191 as outlined in issues referenced earlier. It solved the problem.

I think this table is an add-on so this issue may not be addressed here. I'm closing this issue.

[2018-03-12 13:55] #7247 closed

[2018-03-12 14:11] deepu105 commented on #7279
Please use an LTS version of node (8.9.x) and that is the minimum we support

Also please follow our issue template when opening issues, else we cant help you

[2018-03-12 14:11] #7279 closed

[2018-03-12 14:57] Filson14 commented on #6941
@stieler-it have You noticed which config changes could be responsible for that behaviour? I deal with the same scenario as You described. Nethertheless, I think I should try custom logout handler to log user out from app AND keycloak.

[2018-03-12 15:23] jdubois commented on #7278
Please @knavadiya don't cross-post with StackOverflow - https://stackoverflow.com/questions/49233395/jhipster-email-doesnt-send-and-doesnt-get-any-error-or-log-when-create-new-use/49238762#49238762

This makes us lose time, and I would have written a longer response if I had more time.

[2018-03-12 16:00] ruddell commented on #7247
This is all configured here: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs#L241-L266

Would you like to PR?

[2018-03-12 16:06] erikkemperman commented on #7272
I've updated the single-repo PR: https://github.com/jhipster/jhipster/pull/29

[2018-03-12 18:28] jdubois commented on #5970
I just committed our first support, heavily inspired by your work @JulienMrgrd @JoffreyDcu !!

https://github.com/jhipster/generator-jhipster/commit/45ea0d13f527a310d59994b137476760f05d5c8d

After closer look, my next steps would be:

- Support for reactive with MongoDB entities (maybe even only support reactive for MongoDB??)
- Support for reactive in Spring Security (probably not such a big issu

[2018-03-12 20:43] sendilkumarn commented on #7223
closed by #7227

[2018-03-12 20:43] #7223 closed

[2018-03-12 20:44] stieler-it commented on #6941
We did not spend time investigating which (Keycloak?) configuration was responsible for our behaviour. I am pretty sure it was deterministic, though. And regarding the logout handler: We implemented ours in the frontend, so the browsers calls Keycloak's logout URL after app logout, which is probably not a very secure idea but it works for us.

[2018-03-12 20:46] pascalgrimaud commented on #7223
Don't know for 2.7.2, but it's better to upgrade :)

[2018-03-12 21:10] farrault opened #7281 "OAuth2 configuration refinements"
##### **Overview of the issue**

I think that Jhipster generates some unused artifact with OAuth2 authentifications profiles.
And that it could be simplified.

##### **Motivation for or Use Case**

In a Microservice or Gateway application, the application.yml file contains :
[code]

A vanilla Spring Boot application uses only one of these three uris.
- it prefers the jwt.key-uri if present, to dec

[2018-03-12 21:13] gmarziou commented on #7272
Sorry I can't help here, I'm on holidays for next 10 days.

[2018-03-12 21:30] deepu105 commented on #7272
I update many of the react and Angular deps, but need to do one more pass right before release

[2018-03-12 22:28] Filson14 commented on #6941
Thanks for your reply. I use  (mainly) logout method from keycloak js adapter (which redirect to logout URL; as recommended). But sometimes the keycloak session is still active and then I have the issue as you have described.

[2018-03-13 04:39] waynethompson opened #7283 "Feature Request: Adding a backend option for .net core"
This request has come from a [reddit post a few months ago](https://www.reddit.com/r/dotnet/comments/7l6o16/is_there_anything_like_jhipster_for_net_and_if/)
 where it was talked about with the new .net core being similar to spring boot, it could be conceived that jhipster could add .net core as a backend option.

.net core is cross platform and has [minimal requirements](https://www.microsoft.com/

[2018-03-13 07:08] deepu105 commented on #7283
Hi we won't be doing this in the main generator but this is something that can be a blueprint, its a new feature that we are adding to JHipster that lets you override some parts of the generator. Take a look at the kotlin blueprint for example. You could build a .net blueprint and we will help you were possible. https://github.com/jhipster/jhipster-kotlin

[2018-03-13 07:08] #7283 closed

[2018-03-13 07:45] deepu105 opened #7284 "Enable application generation from JDL"
With JDL v2, it would be possible to generate applications form JDL, the import-jdl sub gen needs to support this.

- [ ] Generate apps if JDL has any via import-jdl
- [ ] Create a shortcut flag to run import jdl from app generator
- [ ] Update the JDL studio sample with app config
- [ ] Update docs for this

[2018-03-13 07:46] deepu105 commented on #7284
@MathieuAA i'll work on this once v2 is published. For app generation, JHcore generates the yo-rc file right? else could you update this ticket with some details on what it will generate

[2018-03-13 08:07] MathieuAA commented on #7284
I have the code needed for the subgens update. It's pushed and tested. I can do the update if you wantLe 13 mars 2018 08:47, Deepu K Sasidharan <notifications@github.com> a écrit :@MathieuAA i'll work on this once v2 is published. For app generation, JHcore generates the yo-rc file right? else could you update this ticket with some details on what it will generate

—You are receiving this because

[2018-03-13 08:37] deepu105 commented on #7284
@MathieuAA can you do a PR, i'll take a look and update if needed

[2018-03-13 09:12] jdubois commented on #7283
yes @deepu105 is correct
@waynethompson I know several person who also want this, and I think it would be quite successful, so we'll do our best to support you if you want to do it. Just wait a little bit for JHipster 5, the blueprint support should be the solution for you, indeed.

[2018-03-13 09:14] jdubois commented on #901
@daibertdiego [here is our contributing guide](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) - we all agree that would be a great feature, but we have never found anyone to do it...
Please note that we might refactor the MongoDB support soon, as with Spring Boot 2 we might introduce the MongoDB reactive support.

[2018-03-13 09:58] sendilkumarn commented on #7171
Discussed in #7238

[2018-03-13 09:58] #7171 closed

[2018-03-13 12:46] gmarziou commented on #7283
This would a huge effort, the biggest difficulty would not be the different language but the libraries. Kotlin is much simpler in comparison as it is a JVM language and so can use same libs as the java. I'd be very admirative of someone who succeeds in doing it.

[2018-03-13 14:58] benfavre commented on #6929
This issue breaks the whole idea of Keycloak at the moment.

[2018-03-13 15:59] jdubois commented on #7281
@mraible could you have a look? Besides, I think OAuth2 does not work with microservices behind gateways on the current master branch

[2018-03-13 16:05] sendilkumarn opened #7288 "Translation not working on Gateway UI"
Translations for gateway application is not working on the current master.

Getting Translation not found error.

@deepu105 can you check this, probably because of the recent wp4 updates.

[2018-03-13 16:12] mraible commented on #7281
@farrault We recently switched from using `jwt.key-uri` to `jwk.key-set-uri` since the former only worked with Keycloak and didn't allow for rotating keys. Please test with the latest configuration and if you find it's possible to reduce the number of properties, send a PR.

[2018-03-13 16:14] mraible commented on #7281
@jdubois - you're correct that [microservices is currently broke with OAuth](https://github.com/jhipster/generator-jhipster/issues/7237). I hope to find time later in the week to look at this.

[2018-03-13 16:15] jdubois commented on #6942
This has been stuck for more than 2 months, should we close it as we can't find a good solution? I understand we need to use userns-remap but that's a lot of work, and it's complex to test - if nobody volunteers to do this, let's close this

[2018-03-13 16:16] mraible commented on #6934
@adnansenyurt You could always use Okta instead of Keycloak. 7000 active monthly users for free! https://developer.okta.com ;)

[2018-03-13 16:19] pascalgrimaud commented on #6942
yes, let's close this
In all case, I need to test the CICD before the JHipster release v5, and will probably rework this sub generator as we won't need bower/gulp anymore

[2018-03-13 16:19] #6942 closed

[2018-03-13 16:26] farrault commented on #7281
Hi @mraible,

I did see #7116 and it would be a very good enhancement if offline access_token validation was enabled.
But what I am saying is that this strategy is completely disabled by the current presence of the userInfoTokenServices bean.

Without evolution, the cleaning that I propose would delete `jwk.key-set-uri` or `jwk.key-uri` in the same way.

Are you ok with that ?

[2018-03-13 16:30] mraible commented on #7281
I'm OK with anything that simplifies, doesn't reduce security, and works. I didn't code the microservices code originally, @danielpetisme did in https://github.com/jhipster/generator-jhipster/pull/6435. Maybe he can chime in with an opinion?

[2018-03-13 16:42] prasad29a opened #7289 "jhipster/generator-jhipster"
Unable to update any Prime Ng in my project.
Even when tried to create new project the warning displayed are as below.
Kindly guide on issue.

Overview of the issue**

My environment path:

C:\ProgramData\Oracle\Java\javapath;%SystemRoot%\system32;%SystemRoot%;
%SystemRoot%\System32\Wbem;%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\;
C:\ProgramFiles\Git\cmd;C:\ProgramFiles\Java\jdk1.8.0_161\bin;C:

[2018-03-13 16:47] jdubois commented on #7289
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-13 16:47] jdubois commented on #7289
Please use the `jhispter info` sub-generator... Anyway we don't do Prime NG, so it's probably not a JHipster bug

[2018-03-13 16:47] #7289 closed

[2018-03-13 17:09] jdubois commented on #5970
Closing this as I don't think we will have the time to do more for JHipster 5.

I also don't want to rush here:

- our tests show that "reactive" doesn't help that much with MongoDB. As always, MongoDB promises a lot but doesn't deliver as much as expected, and it gets flooded on its master node when you do lots of inserts. Like an SQL database, in fact. The only solution would be to use a sharded

[2018-03-13 17:09] #5970 closed

[2018-03-13 17:11] jdubois commented on #6252
I'm closing this as this is not moving forward - @atomfrede we can re-open it if you find more time. In the meantime, let's see what the new Spring Gradle plugin does, maybe the issue is solved there.

[2018-03-13 17:11] #6252 closed

[2018-03-13 17:12] jdubois commented on #7272
On the server-side nearly everything is under control.
For Docker I already updated many things, it should be good.

[2018-03-14 07:11] pascalgrimaud commented on #7288
Not only for Gateway. I have the same for simple monolith, in administration's page

[2018-03-14 08:01] deepu105 commented on #7288
I'll take a look this weekend

Thanks & Regards,
Deepu

On Wed, Mar 14, 2018 at 8:11 AM, Pascal Grimaud <notifications@github.com>
wrote:

[2018-03-14 10:08] mmggtni opened #7294 "Where is the problem"
1 change sets check sum
          config/liquibase/changelog/00000000000000_initial_schema.xml::00000000000001::jhipster was: 7:1a93aa1077a0f85c08092bf95f44c635 but is now: 7:7dac45ace3e889cd8168def6d0e99982

liquibase.exception.ValidationFailedException: Validation Failed:
     1 change sets check sum
          config/liquibase/changelog/00000000000000_initial_schema.xml::00000000000001::jhipster

[2018-03-14 10:09] jdubois commented on #7294
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-14 10:09] #7294 closed

[2018-03-14 23:31] rubenmendoza commented on #1829
This works for me:
go to:
C:\Users\your-user\AppData\Roaming
Delete npm and npm-cache
Then
run on your console:
npm install

[2018-03-15 14:45] pavankjadda opened #7300 "How to view Hazelcast cache logs?"
##### **Overview of the issue**

I have a project with two microservices and a gateway. Both were generated through JHipster. I use Hibernate 2nd level cache for caching and implemented this with Hazelcast cache solution. Everything deployed to Docker using docker-compose. My question is "When I load the entities the second time, how do I know if microservice hitting the database or fetching from

[2018-03-15 14:48] jdubois commented on #7300
You can use the Hazelcast management center, we provide a Docker Compose file for this, have a look at our Hazelcast documentation

[2018-03-15 14:48] jdubois commented on #7300
I'm closing this as this is not a bug, and next time please follow the guidelines

[2018-03-15 14:48] #7300 closed

[2018-03-15 15:13] jdubois opened #7301 "JHipster UAA does not work on the master branch"
I'm testing the current master branch, which will become JHipster 5 soon.

Doing a simple microservice architecture with JHipster UAA, I'm not redirected to the UAA server, so obviously I'm not correctly authenticated and it fails.

@xetys do you have the time to take a look? It might not be very complex, we didn't touch that part as far as I remember

[2018-03-15 15:21] xetys commented on #7301
seems like it's time to move all my kubernetes/go/bachelor-thesis stuff aside...I'll schedule the next weeks for more JHipster topics as the list is growing..

[2018-03-15 15:22] jdubois commented on #7301
I'm sorry about this @xetys - I hope it's not something very complex, I don't understand why there is anything broken here, we're mostly working on React, so the Angular part should work as well as before

[2018-03-15 15:24] xetys commented on #7301
don't feel sorry, you are doing a huge piece of work on v5 and it's obvious that stuff gets broken. I just had a lot of time problems in the past, as of my k8s focus and pending thesis and some private issues...

hard to keep everything in focus, but yeah, I will do that the next days.

[2018-03-15 15:29] jdubois commented on #7301
Oh, but whatever happens, put your private issues first....

[2018-03-15 16:56] JulioJu opened #7302 "Duplication code"
##### **Overview of the issue**
* https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/webapp/app/app.route.ts seems to not be used. This code is duplicatated with https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/webapp/app/layouts/navbar/navbar.route.ts.
* In an entity generated, entity.service.ts have two methods identicals : `convertItemFromServer` and `conve

[2018-03-15 16:59] jdubois commented on #7302
Oh yes they should be refactored.
For the entities, maybe there could be some common code in https://github.com/jhipster/ng-jhipster

I don't think we'll have time to do this before JHipster 5, @JulioJu could you provide a PR? It's not that hard, and we'll help you.

[2018-03-15 18:43] MathieuAA commented on #7284
I'll try to make a PR this week-end or tomorrow at best. I'm currently struggling with the application aspect of the JDL and its link with the generator.

[2018-03-15 19:51] deepu105 commented on #7284
Let me know if you need help, just make a WIP PR with what you have and we
can work together on it

Thanks & Regards,
Deepu

On Thu, Mar 15, 2018 at 7:43 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2018-03-15 20:15] JulioJu commented on #7302
@jdubois.
I passed some time on the code of [bank-account.service.ts](https://github.com/jhipster/jhipster-sample-app/blob/070c03df773dce566f7610f978669798e0a04c92/src/main/webapp/app/entities/bank-account/bank-account.service.ts). If I understand well, some code in this file are only copy of objects, but maybe there are not useful ?
For example:
1. `convertItemFromServer` and `convert` is simply

[2018-03-16 06:37] deepu105 commented on #7302
I think the idea of creating a copy so that the object is not mutated
started from old code, may be its not required anymore. Let me take a
closer look at the code

On Thu, 15 Mar 2018, 9:16 pm Julio, <notifications@github.com> wrote:

[2018-03-16 07:20] deepu105 commented on #7302
// the `convert` call can be inlined in below line for these 2 methods
[code]

// this method can be avoided and we can call `res.clone({ body: this.convertItemFromServer(res.body) })` directly I guess
[code]

This method is still needed as its difficult to avoid in the template as when you have date fields the method will have unique logic inside, but indeed the cloning inside this is not needed,

[2018-03-16 07:27] deepu105 commented on #6032
closing this as its an environment issue

[2018-03-16 07:27] #6032 closed

[2018-03-16 07:28] deepu105 commented on #6410
@stieler-it @jdubois so what can we do here? its been open a for a while

[2018-03-16 07:29] deepu105 commented on #6711
@mraible there has been a lot of changes around these recently could you plz check if the problem still exists?

[2018-03-16 07:29] deepu105 commented on #6735
I anyone working on this?

[2018-03-16 07:30] deepu105 commented on #6755
@PierreBesson @pascalgrimaud @jdubois I see merged PRS here, so is it done? I didnt follow this very closeley

[2018-03-16 07:33] deepu105 commented on #6929
@mraible does any of your recent PRs address this?

[2018-03-16 07:33] deepu105 commented on #6934
@mraible does any of your recent PRs address this?

[2018-03-16 07:33] deepu105 commented on #6936
@mraible does any of your recent PRs address this?

[2018-03-16 07:34] deepu105 commented on #6941
Sorry to spam you today @mraible, just trying to clean up issues. Does any of your recent PRs address this?

[2018-03-16 07:35] deepu105 commented on #7065
@mraible wanst this done already? I remember seeing PR from you or was I drunk

[2018-03-16 07:56] MathieuAA commented on #7216
@deepu105 I'll try to fix it after JCore v2, I see you're quite busy :)

[2018-03-16 08:27] pascalgrimaud commented on #6755
yes I think it's done, let close this

[2018-03-16 08:27] #6755 closed

[2018-03-16 10:30] JulioJu commented on #7302
Thanks for your answer @deepu105. Ok, some code it's useful when the entity have date. We could see  for example in [operation.service.ts](https://github.com/jhipster/jhipster-sample-app/blob/070c03df773dce566f7610f978669798e0a04c92/src/main/webapp/app/entities/operation/operation.service.ts).

Please considere the code at the end of this comment.

* In methods `create`, `update`, `find`, and `que

[2018-03-16 12:21] BhawaniSingh commented on #7301
I'll look over this weekend.

[2018-03-16 12:32] yelhouti commented on #6939
Before spring security 5 checking the OIDC token wasn't builtin: checking the signature + client.... I think this should be done now.
Few things to take into account:
- keycloak has realm-roles and client-roles we should decide what to take.
- should we use the keycloak adapter provided by keycloak

[2018-03-16 12:50] mraible commented on #6939
I’m hesitant to use the Keycloak adapter, unless it supports Okta. Okta has a Spring Boot plugin as well, but I think it’s best to use raw Spring Security because it reduces third party dependencies.

[2018-03-16 14:34] mraible commented on #6929
@deepu105 I don't think so. I have a hard time believing Spring Security doesn't handle refresh tokens properly, but I could be wrong. Maybe @jgrandja has some advice?

[2018-03-16 14:35] mraible commented on #6934
@deepu105 No, and I don't think we should. The default user realm is meant for developing and testing, not for production IMO.

[2018-03-16 14:37] mraible commented on #6936
I'd recommend using HTTPS for everything in production, but we don't force that. I think it's expected that you might have to tweak some things for production. At the very least, we should document those things you need to change for a production deployment.

[2018-03-16 14:48] mraible commented on #6711
Yes, this is still an issue with JHipster v4.14.1.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mycompany.myapp",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "4.14.1",
    "base

[2018-03-16 15:21] mraible opened #7305 "No translation for min and max validation errors"
From https://github.com/mraible/21-points/issues/33

[2018-03-16 15:24] mraible commented on #6941
No. [My comment](https://github.com/jhipster/generator-jhipster/issues/6941#issuecomment-360537185) is still valid.

@jgrandja Any chance that Spring Security OAuth will provide global logout as a feature in the future?

[2018-03-16 15:26] mraible commented on #7065
Item 2 is done. I was unable to test item 1 because of https://github.com/jhipster/generator-jhipster/issues/7237. This is also blocking me from working on item 3. I'll look into 7237 today.

[2018-03-16 16:11] deepu105 commented on #7302
Yes, if you are interested in doing a PR its fine by me

Thanks & Regards,
Deepu

On Fri, Mar 16, 2018 at 11:30 AM, Julio <notifications@github.com> wrote:

[2018-03-16 16:14] mraible commented on #7113
I'm not able to reproduce this problem with 4.14.1.

[code]

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mycompany.myapp",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "4.14.1",

[2018-03-16 16:22] deepu105 commented on #6934
ok lets close it then

[2018-03-16 16:22] #6934 closed

[2018-03-16 16:39] yelhouti commented on #6939
I hear you, it's just that I don't think it's possible to extract the roles without some custom/adapter code because in the decoded JSON they might not be stored in the same place:
keycloak for example has the following syntax:

[code]
as you can see there two types of roles, and you might confirm/infirm that they are are not stored in the same place in okta.

[2018-03-16 18:16] jgrandja commented on #6929
@deepu105 @mraible Based on the log provided:

This tells me that the OAuth Client is not configured with an `authorization_grant` that supports `refresh_token` grant. Is it possible your client is configured with `implicit` or `client_credentials` grant?

[2018-03-16 18:24] mraible commented on #6929
@jgrandja We use Spring Security's OAuth support and `@EnableOAuth2Sso ` in JHipster. See the following files for how it's configured:

* [SecurityConfiguration.java.ejs#L76](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L76)
* [application.yml.ejs#L200](https://github.com/jhipster/generator-jhipst

[2018-03-16 18:24] jgrandja commented on #6941
@mraible It's a feature we can consider for the new OAuth support we're building in Spring Security 5.x.

Just to clarify, are you referring to [OpenID Connect Back-Channel Logout 1.0](http://openid.net/specs/openid-connect-backchannel-1_0.html)?

[2018-03-16 18:30] mraible commented on #6941
I'm not sure what it's called, but I'm guessing it'd be something that uses the `revocation_endpoint` or `end_session_endpoint` from `./well-known/openid-configuration`. Here's what those look like from my Okta tenant: https://dev-158606.oktapreview.com/oauth2/default/.well-known/openid-configuration

[2018-03-16 18:36] jgrandja commented on #6941
Gotchya. As mentioned, it's a feature we can consider implementing later on. There's just higher priority items going on now as we're heads down on the new Resource Server support and also adding more to Client support for 5.1

[2018-03-16 21:18] BhawaniSingh commented on #7301
@jdubois I think I've found the source of issue,

Issue is in UAA

In Spring security 4,  in DaoAuthenticationProvider class,  PasswordEncoder from package `org.springframework.security.authentication.encoding` is used, and for matching the password `boolean isPasswordValid(String encPass, String rawPass, Object salt);` was being used, for requests with Basic Authorization Header `salt` is null, s

[2018-03-16 22:06] BhawaniSingh commented on #7301
To fix this issue, we need to add `PasswordEncoder` dependency from package `org.springframework.security.crypto.password.PasswordEncoder` in UaaConfiguration and encode the inMemory Secret.

I've tested it and It works fine

[2018-03-16 22:36] ruddell opened #7307 "Admin Module Translations Missing for Angular"
##### **Overview of the issue**
The translations are not loading for the administration pages in Angular webapps.

##### **Reproduce the error**
Generate an app (i18n enabled) and go to user management

##### **Related issues**

I think it's related to lazy-loading the admin module https://github.com/jhipster/generator-jhipster/pull/7235

##### **Suggest a Fix**
Not sure

##### **JHipster Version(

[2018-03-16 22:37] ruddell opened #7308 "[proposal] Remove Spring Social Integration"
##### **Overview of the issue**
I'm proposing to remove our custom Social Login option.

Few reasons for this:
 - The code currently works for Google, but fails for Twitter/Facebook when the email returned from the social site is null (we cache users on both username and email).
 - Users who sign up with Social Login can't change their password because they don't set it in registration.
 - In my e

[2018-03-16 23:12] jdubois commented on #7301
Oh thanks so much for the detailed analysis!!! Could you do a PR on this?

[2018-03-16 23:14] jdubois commented on #7307
Thanks a lot - I confirm this as I have the same issue, but didn't think this was related to the lazy loading!! Good catch!

[2018-03-16 23:16] jdubois commented on #7308
Oh we kept the social login for you, so if you want to remove it, let's do it! Indeed we have better options with Keycloak and Okta.

[2018-03-16 23:27] BhawaniSingh commented on #7301
Sure, but it’s too late over here now, I’ll do one over the weekend

On Sat, 17 Mar 2018 at 4:42 AM, Julien Dubois <notifications@github.com>
wrote:

[2018-03-16 23:31] deepu105 commented on #7288
duplicate of #7307

[2018-03-16 23:31] #7288 closed

[2018-03-17 01:09] mraible commented on #7307
I saw this today with success messages on a microservice app too.

[2018-03-17 01:38] jgrandja commented on #6929
Looking at the code and `OAuth2RestTemplate` is configured with `AuthorizationCodeAccessTokenProvider` so it is using `authorization_grant` which supports `refresh_token` grant. I'm not sure what's going on without getting deeper into the issue.

Are you able to publish to a repo that reproduces the issue so I can debug for you?

[2018-03-17 09:26] BhawaniSingh commented on #7308
I'm planning to integrate the social connectors into jhipster-uaa, I'm planning to write down a complete lib for it and integrate it in UAA.
let me know if that's a good idea or not.

[2018-03-17 12:13] pascalgrimaud commented on #7192
There is already a module for that https://github.com/jeantsai/generator-jhipster-circleci-2 made by @jeantsai
It would be cool to upgrade to CircleCI 2.0 in the main generator but we have other priorities for now.

I'm closing this as it seems no one is motivated for PR and it can be done later.

[2018-03-17 12:13] #7192 closed

[2018-03-17 13:28] Frondor commented on #3405
I know this a really old issue, but I consider it as non-answered, since pointing out that none of the storage options are (completely) valid for security. And most google searches usually point to this URL, I encourage you to consider and **review** a [**splitted token approach**](https://security.stackexchange.com/questions/179487).

[2018-03-17 14:36] ruddell commented on #7308
I can do the PR later today.

@BhawaniSingh The main challenge is that Twitter/Facebook don't always return an email, so you need to set up a post-login flow to collect the missing information before they can be registered.

[2018-03-17 14:37] BhawaniSingh commented on #7308
Yeah I know that, I’m working on it for the client, if it goes well I’ll
raise the ticket
On Sat, 17 Mar 2018 at 8:06 PM, Jon Ruddell <notifications@github.com>
wrote:

[2018-03-17 14:57] deepu105 commented on #7308
@BhawaniSingh I wouldn't be in favor of adding this for the UAA option as the UAA is pretty similar to the OIDC option so people who want social login should rather use Keycloak than UAA, this way we wouldn't have to reimplement and maintain what is already supported by Keykloak

[2018-03-17 16:07] Tcharl opened #7312 "Minor DTO toString Method do not generate getId for ManyToOne"
##### **Overview of the issue**

Using Dto, getters and setters are generated for ManyToOneAssociations (for Id Fields), but toStringMethod do not display it.

##### **Motivation for or Use Case**

Keeping generation coherent and debugging better.

##### **Reproduce the error**

Generate a Dto with a OneToMany bidirectional Association, and look at the ManyToOne side generated dto

##### **Related

[2018-03-17 17:43] dearnani commented on #7308
Appreciate your efforts @ruddell. Looking forward to use this feature with keykloak... May be better replacement of tableau for new product's social login feature.

[2018-03-17 17:48] deepu105 commented on #3405
Hi @Frondor, yes I agree that storing tokens on local/session storage has a vulnerability if your site is compromised by some malicious code in a dependency or from code in CDN, but the entire premise of this being less secure is based on the assumption that there is malicious code running on your domain, it wouldn't work if the code is in an iframe so lets exclude those cases.
So let's consider t

[2018-03-17 17:51] deepu105 commented on #3405
I do agree that not having tokens in staorage will reduce the attack surface a teeny weeny bit

[2018-03-17 19:01] #6793 closed

[2018-03-17 19:36] Frondor commented on #3405
@deepu105 Don't forget about browser extensions accessing every website's Web Storage. Your app dependencies may be clean from untrusted code, but your user browser can be compromised. Does it?
If that's the case, I don't think the XSS attacker can access the in-memory js instance of your app. Then, a proper Content Security Policy should do the job.
When your app becomes a XSS victim, I agree tha

[2018-03-17 19:56] deepu105 commented on #3405
@Frondor yes I agree, I'm not trying to say that its not a problem, my point is that if you are an XSS victim then you are compromised regardless of how you store your JWT key. Browser extensions can read html forms as well(Lastpass for example)

Btw i'm not sure if extensions can read the local storage of the app due to same origin policy

So my point was that trying to fix only JWT in localstora

[2018-03-17 20:04] deepu105 commented on #3405
By the way, we could also use other tricks to make it more difficult to use the tokens even if stolen, one way I could think is

1. Encrypt the token before storing it on storage
2. Generate a random decryption key in memory and use that to decrypt the token before sending it server side

This still doesn't solve the issue but it makes it much more difficult to use the tokens without knowing the s

[2018-03-17 20:21] ruddell commented on #7308
@dearnani Thanks!  😄 Social Login is already available if you use OAuth2 auth type with Keycloak or Okta, you just have to add an identity provider in the management pages.

[2018-03-17 20:37] Frondor commented on #3405
Still, the injected script can listen for authentication responses (overriding XMLHttpRequest for example) and get the token before the app can even encrypt it.
And my head just exploded :laughing: your example made me think about that method... And now I can't think on a solution for that (intercepted responses). So my question now is, is it possible for an embedded script to listen for your in-m

[2018-03-17 22:45] sdoxsee commented on #7308
@ruddell makes sense to me. Simplification. I wouldn't add it to UAA either as OIDC (oauth2) is a superior solution (IMO) for federated identity for the reasons you gave.

[2018-03-17 23:55] ImperfectClone commented on #6929
Thanks @mraible and @jgrandja for looking into this; I've also run into the same issue as the OP.

I think that, since the issue relates to microservices, [SecurityConfiguration.java.ejs#L76](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L76) this maybe isn't the relevant file.

I can see the `@Ena

[2018-03-18 09:32] #7301 closed

[2018-03-18 09:32] jdubois commented on #7301
Closing as #7310 is merged

[2018-03-18 10:17] deepu105 commented on #3405
@Frondor yes thats another way to do it, and I guess its possible as well

[2018-03-18 10:29] #7308 closed

[2018-03-18 13:45] MathieuAA commented on #7284
Okay, JCore v2 is out. I'll make a PR before it's raining bugs :)

[2018-03-18 14:24] NasrinD opened #7316 "Syntax error: Unexpected Token } on yarn global add generator-jhipster"
##### **Overview of the issue**

I am trying to install JHipster based on the JHipster Quick Start instruction on this page: [https://www.jhipster.tech/](url)
And when I run this command in my command line:
`yarn global add [generator-jhipster`]
I get this error:
![image](https://user-images.githubusercontent.com/13658426/37566881-3c804782-2abf-11e8-8369-4b331cc04aab.png)

##### **Reproduce the er

[2018-03-18 14:26] Tcharl opened #7317 "JDL generation does not take the elasticsearch filter in account"
##### **Overview of the issue**

All search repositories and tests are generated even if specifying a search filter in jdl.

##### **Motivation for or Use Case**

Sometimes the developper don't want to have all his entities indexed

##### **Reproduce the error**

2 entities in a jdl, with a yo with search, then using the elasticsearch 'except', or not using wildcard in the search query.

##### **R

[2018-03-18 14:31] MathieuAA commented on #7317
Please, next time, fill the template.
I'll work on reproducing this.

[2018-03-18 14:31] MathieuAA commented on #7317
In the meantime, can you provide your JDL sample and your .yo-rc.json file? thanks.

[2018-03-18 14:39] #7237 closed

[2018-03-18 14:42] ruddell commented on #7032
Closing as Spring Social integration was removed.  To use social login in v5, use OAuth2 and add an identity provider to Keycloak or Okta

[2018-03-18 14:42] #7032 closed

[2018-03-18 14:52] ruddell commented on #7312
Feel free to PR.  The field should be in toString

[2018-03-18 16:10] Tcharl commented on #7317
Sure, sorry, I was used to make my own PR, that's why my descriptions are succint.

I'll make a yo.rc as well as a jdl asap

[2018-03-18 16:15] ruddell commented on #6410
Do you have an entity configuration or JDL that will reproduce the issue?  Maybe I'm just not seeing it.  Are you expecting the regular entity to be saved in Elasticsearch?

When you use DTOs, the DTO object is saved to Elasticsearch.  Without DTOs, the subobject is saved on the ManyToOne side but not on the OneToMany side (which is not eagerly loaded by default anyway).  I tested with:
[code]

[2018-03-18 16:46] mraible commented on #7216
FWIW, this still happens using the `master` branch.

[2018-03-18 16:47] mraible commented on #7124
I can confirm that i18n success messages don't work when using microservices.

[2018-03-18 16:48] mraible commented on #7065
I believe 1 and 2 are now fixed. I'm currently looking into 3. If you generate a relationship with user in a microservice today, the following error happens when you try to save it.

[code]

[2018-03-18 17:09] mraible commented on #7065
I was able to fix this in `BlogResource.java` (and its associated test) by adding a dependency on `UserRepository` and saving the user before saving the blog in the create method.

[code]

However, I'm unable to test this because of a whole bunch of errors related to Elasticsearch.

[code]

Here's the output from `jhipster info`:

Using JHipster version installed locally in current project's node_

[2018-03-18 17:10] iObsidian opened #7318 "yarn install fails"
[3/5] Fetching packages...
error An unexpected error occurred: "https://registry.yarnpkg.com/internal-host/-/internal-host-1.2.0.tgz: Request failed \"404 Not Found\"".
info If you think this is a bug, please open a bug report with the information provided in "E:\\RealmSpy\\yarn-error.log".
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
error https://regis

[2018-03-18 17:36] stieler-it commented on #6410
Wer are using DTOs so I can't tell about other options. Glad to hear the scope of the problem is limited, though.

[2018-03-18 18:01] MathieuAA commented on #7317
Thanks! I'll check everything tomorrow, but this looks legit so I tried to reproduce. Didn't succeed.

[2018-03-18 18:02] MathieuAA commented on #7284
Nevermind, it's not raining but snowing bugs (for those in France, you know what I'm talking about).
The PR is mostly ready but some tests fail and I've got to find out why. I expect to be done by tomorrow or the day after.

[2018-03-18 18:08] MathieuAA commented on #7216
@mraible Hi. Nobody's on it right now. However, the bug is really easy to reproduce and test so if anyone's got some time to work on it... I expected to be done with JCore v2 by today, but I have to test the subgens work as intended.

[2018-03-18 18:13] Tcharl commented on #7317
Damn, jhipster info do not parse jdl well as well: here's the original.

`entity ShallHaveSearchEnabled {
	id Long
	name String
}
entity ShallNotHaveSearchEnabledBecauseNotInCandidate {
	id Long
	name String
}
entity ShallNotHaveSearchEnabledBecauseExcluded {
	id Long
	name String
}

search ShallHaveSearchEnabled with elasticsearch except ShallNotHaveSearchEnabledBecauseExcluded
`

[2018-03-18 19:35] gmarziou commented on #7316
I have this issue also but only when I use yarn link on generator-jhipster clone, not with released version.
This is related to opencollective using postinstall, one thing you could try is to ignore scripts so that postinstall is not executed:  'yarn global add --ignore-scripts generator-jhipster'

[2018-03-18 19:52] ruddell commented on #7316
They were able to get it to work by installing with `npm` instead of `yarn`

[2018-03-18 20:10] ruddell commented on #7318
Did `yarn cache clean` fix this for you?  From our chat in the Gitter it sounds like you resolved your problems and I can't reproduce it on my end.

[2018-03-18 20:11] #7318 closed

[2018-03-18 20:21] iObsidian commented on #7318
yarn cache clean

+

yarn update

fixed it! Thanks

[2018-03-19 00:16] develguys commented on #7070
Sorry for my late reply, I got some unwanted stuff.
I'm new to jhipster and yeoman. However, I think it will be more flexible if we add an option such as [--skip-check-length-of-identifier] to skip checking the length of the identifier.
I created a PR below, please see.
#7320

[2018-03-19 00:17] piprog commented on #5913
Have you gotten anywhere with cas or keycloak? I'd need 2-factor auth in a new app.

[2018-03-19 00:32] piprog commented on #5913
hi Matt - thx for the hyperspeed reply! I was wondering how 2FA (two factor authentication; in my case (user name+password) + SMS token) could be integrated into JHipster - I'm not sure OAuth 2.0 helps here, since AFAIK it does not do 2FA by default. cas mentioned in the original comment does do 2FA, though.

[2018-03-19 01:00] mraible commented on #5913
Okta supports 2FA, not sure about Keycloak.

https://developer.okta.com/signup/

[2018-03-19 04:54] rajankhuva opened #7321 "how to give than two authorities in angluar ts file?"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this

[2018-03-19 04:58] rajankhuva commented on #7321
i want to give access to more than two user in setting tab in account section.but when i write third array in authorities tab there is an error in compiling page and giving error that last property that i had written in athority is undefined

[2018-03-19 05:12] pascalgrimaud commented on #7321
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-19 05:12] #7321 closed

[2018-03-19 08:58] wpcfan opened #7324 "running yarn at gateway frontend did not proxy requests to corresponding backends"
##### **Overview of the issue**

1. use JHipster to generate an uaa, api-gateway and a microservice, all using JHipster Registry
2. in gateway folder, generate client-only code for the microservice
3. in gateway folder, run `yarn start`
4. under Entities menu, select any entity of the microservice
5. watch the chrome developer tool's network tab, you will see errors

it seems the proxy.conf did no

[2018-03-19 09:19] rajankhuva opened #7325 "Authorities in route.ts file"
how to give more than two authority in route.ts file?

[2018-03-19 09:22] jdubois commented on #7325
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-19 09:22] #7325 closed

[2018-03-19 09:22] jdubois commented on #7325
Please use Stackoverflow for questions, we are there too

[2018-03-19 09:24] jdubois commented on #7325
Sorry @rajankhuva but you also opened #7321 which is exactly the same issue. Please don't spam the team, and please follow our guidelines.
We're doing this for free, please be nice with us, or I will report this.

[2018-03-19 09:37] rajankhuva commented on #7325
i extremely sorry sir ,
my intention was not to interrupt or annoy you.
i thought i had wrongly generate the issue so i had created new issue.
i apologize for that @jdubois

[2018-03-19 09:39] jdubois commented on #7325
There is no problem @rajankhuva I'm sure you meant no harm -> the right place for questions is on https://stackoverflow.com/questions/tagged/jhipster?sort=newest

-> we will help you there, and there will be also much more people to help (there are much more people on stackoverflow than on the issue tracker)

[2018-03-19 09:43] rajankhuva commented on #7325
thank you sir @jdubois

[2018-03-19 10:21] rajankhuva commented on #7325
sir @jdubois i had fired command jhipster upgrade. all the changes i had made that are vanish. what should i do to get old data please help me. my whole project data are vanished.

[2018-03-19 10:26] jdubois commented on #7325
If you ran "jhipster upgrade" it works with Git, so your work should still be in a Git branch - you are probably in a different branch. Have a look with a tool like Sourcetree, it will be easier for you to see.

[2018-03-19 10:29] rajankhuva commented on #7325
how to find git branch ? And im not using sorcetree.

[2018-03-19 10:31] jdubois commented on #7325
If you don't know how to use Git, use Sourcetree, really.
Otherwise it's `git branch --list` to list the branches.

[2018-03-19 10:32] rajankhuva commented on #7325
and i had use --force option so , it should be deleted?

[2018-03-19 10:34] rajankhuva commented on #7325
git branch --list showing me "* master " only , is there any other way to get my old data?

[2018-03-19 10:52] jdubois commented on #7325
Oh, you did the upgrade manually (so no automatic Git branch), and used `--force` to erase your existing files?? Then yes I'm afraid you lost your work. When you use `--force` the generator doesn't ask you if you want to overwrite your files. And anyway, we always recommend to use Git, even if you prefer to do it manually, you should commit your work before running anything, just in case.

[2018-03-19 11:10] rajankhuva commented on #7325
thank for your suggestion and responding me apart from your busy time , i will take care

[2018-03-19 11:19] jdubois commented on #7325
Thanks, this gave me an interesting idea: we should check if the user
committed his work, and warn him if needed. That would be a much smoother
experience. Then, if you use `--force`, you would still get the same issue.

Le 19 mars 2018 12:10, "rajankhuva" <notifications@github.com> a écrit :

[2018-03-19 11:23] rajankhuva commented on #7325
Welcome sir.

[2018-03-19 16:26] ruddell commented on #7324
It sounds like you generated an entity on the gateway instead of the microservice, otherwise the microservice path would be in the `entity.service.ts` files.  This would also explain why the microservice path doesn't exist in the proxy config, it should be added automatically when you generate the microservice's entity on the gateway.  How did you generate the entity?

[2018-03-19 16:30] wpcfan commented on #7324
yes, I use `jhipster import-jdl ~/Downloads/microservice-server.jh` in microservice folder and issue `jhipster import-jdl ~/Downloads/microservice-client.jh` in gateway folder. And in server.jh I specified the `skipClient *` and vice vera

[2018-03-19 16:31] ruddell commented on #7324
When doing JDL with microservices, you should set the microservice names like [described in the JDL docs](https://www.jhipster.tech/jdl/#microserviceoptions).  Is that present in your JDL?

[2018-03-19 16:33] wpcfan commented on #7324
I got it, thanks, I am closing this

[2018-03-19 16:34] #7324 closed

[2018-03-19 16:34] ruddell commented on #7324
In the future please fill out the issue template complete, I would have been able to spot this from your entity config or JDL.

[2018-03-19 16:45] wpcfan commented on #7324
sure, I will follow the template next time

[2018-03-19 19:04] jgrandja commented on #6929
@ImperfectClone Thanks but I would prefer a stripped down sample (without docker) that reproduces the issue. Ideally, samples that I can startup locally.

[2018-03-19 19:04] xetys commented on #6032
thanks deepu, I didn't know this and it happened again and again sometimes and was super annoying.

[2018-03-19 20:33] gmarziou commented on #7325
We already do:

https://github.com/jhipster/generator-jhipster/blob/master/generators/upgrade/index.js#L182

[2018-03-20 01:33] ImperfectClone commented on #6929
@jgrandja Thanks - I'm happy to adjust the sample if I can, though I'm afraid I don't know enough about the Spring Security part to be able to judge which bits I should strip down. From a JHipster standpoint, this is (as far as I can see) the minimal possible app that recreates the issue.

On the local/Docker point: the above instructions do run the Gateway and Microservice locally and without Doc

[2018-03-20 01:35] diegohsi commented on #4961
Does that already have a solution?

[2018-03-20 04:36] mraible commented on #7065
I can't help but think there's a less invasive way to do `userRepository.save(blog.getUser())`. Does anyone know if it's possible to write a Hibernate/JPA interceptor that looks for the presence of `User` or `User[]` as an entity property?

If it's possible (with JPA or AOP), it'd be a lot simpler to just add a class for microservices and not have to modify the entity generator.

[2018-03-20 07:47] pascalgrimaud commented on #7065
I just wonder with your recent changes, should we keep the option: `No database` for Gateway + OIDC options ?

[2018-03-20 08:32] Swad opened #7327 "Jhipster-jdl : --skip-client not working?"
##### **Overview of the issue**

Client side code generated although --skip-client option is set.

##### **Motivation for or Use Case**

Need to generate entity without any front end code.

##### **Reproduce the error**

Used the below JH code.
[code]

`jhipster import-jdl D:\Downloads\jhipster-jdl.jh --skip-client`

This generated HTML files.
   create src\main\webapp\app\entities\location\locati

[2018-03-20 09:44] gmarziou commented on #7327
From import-jdl generator code, the skip client option must be set per entity: https://github.com/jhipster/generator-jhipster/blob/master/generators/import-jdl/index.js?utf8=%E2%9C%93#L146

So, it must be used in JDL file itself, see doc about unary définitions: https://www.jhipster.tech/jdl/#optiondeclaration

[2018-03-20 09:44] #7327 closed

[2018-03-20 09:59] gmarziou commented on #7065
Maybe we could provide some spring security pre and post filters (e.g. implementing PermissionEvaluator), this way we could have something that does not depend on JPA when there's no User entity but only a Principal representing user identity.

[2018-03-20 12:56] jdubois commented on #7325
@gmarziou yes I know for `jhipster upgrade`, but we could also do this for other sub-generator. Well, maybe that would be annoying at some point.

[2018-03-20 13:02] jdubois commented on #7316
What is this `opencollective using postinstall`? I have no idea why we would need a postinstall script for OpenCollective in the generator

[2018-03-20 13:07] jdubois commented on #7316
So I just realized we were using https://www.npmjs.com/package/opencollective in our `package.json`, and I don't understand why - we don't really need those features, and it causes this issue.
I guess this was added by @deepu105 -> Deepu would you be OK to remove this?

[2018-03-20 13:58] warnonphilippe opened #7328 "jhipster with keycloak : error 401 not forwarded to login"
##### **Overview of the issue**

When a service send a 401 status, redirection to /login doesn't executed.

An interceptor (auth-expired.interceptor.ts) is defined to handle the error, but it doesn't work correctly.

In the if condition, error.json() doesn't contain path, so the condition is false and the redirection is never executed.

[code]

I disabled the check on "error.json().path...", the r

[2018-03-20 14:41] warnonphilippe opened #7331 "Jhipster - Keycloak and session killed/expired : already accessed service still allowed, others forbidden"
##### **Overview of the issue**

When I kill a user's session in keycloak, the user call still access the services used previously with the same token. However, others services can't be access.

When accessing a service, the jhipster generated code calls the OIDC provider to check if the token is valid. Then, it stores the token's infos in its cache and uses it on the next call with the same token

[2018-03-20 14:53] mraible commented on #7331
This is the nature of access tokens. That's why you should make sure they're short-lived.

[2018-03-20 15:11] warnonphilippe commented on #7331
Thanks Matt. I agree with it.
That's why I proposed to check the token locally, so it could work on the same way on each call. If I've got a token, I can access, no matter the state of a session. So users doesn't phone to helpdesk and say "I can't access to menu A, but menu B is ok, so I'm sure I'm still log in"

[2018-03-20 15:20] mraible commented on #7331
I believe Spring Security handles this automatically when `jwk.key-set-uri` is set. We recently [changed to use this for microservices](https://github.com/jhipster/generator-jhipster/pull/7120). Maybe a monolith should have the same setting?

Can you try setting it and see if it solves your problem?

[2018-03-20 15:42] erikkemperman commented on #7272
One artifact was left behind while upgrading the server-side dependencies: infinispan. I put some effort into resolving this, but have been unable to get things working...

I have to move on to other things now, so perhaps someone else could take a look? Julien mentioned earlier that @srinivasa-vasu probably knows this stuff well?

I'm reasonably confident (but not 100% certain) that what I have d

[2018-03-20 15:59] warnonphilippe commented on #7331
I tried, same problem, tokens are still validated on the server
I put this config under security.oauth2.resource:
filter-order: 3
user-info-uri: http://localhost:9080/auth/realms/{realm}/protocol/openid-connect/userinfo
token-info-uri: http://localhost:9080/auth/realms/{realm}/protocol/openid-connect/token/introspect
prefer-token-info: false
#jwt.key-uri: http://localhost:9080/auth/realms/jhipster

[2018-03-20 16:33] jdubois commented on #7331
Yes totally agree with @mraible

If you have the tokens on the client, if anybody grabs them (the refresh token for instance), then your account is compromised for a long time. If you store the tokens in the session, the security risk is much lower.

Of course, that means the application is stateful, which can cause issues when scaling down (clients will be logged out when they lose their sessions

[2018-03-20 16:37] warnonphilippe commented on #7331
Sorry I was not clear, end of day work in Belgium
I would like a validation on the called rest ressource (a microservice), not on the client. Actually the validation is on the keycloak server, the resource (the microservice instance) received the token and call keycloak to validate the token. I proposed a validation on the microservice (well on the server ;), using the key of keycloak.

[2018-03-20 16:41] gmarziou commented on #7316
I reported it on dev ML without much interest :( https://groups.google.com/forum/#!topic/jhipster-dev/WOqh5fAo7Yo

[2018-03-20 17:15] mraible commented on #7331
@warnonphilippe I just assumed Spring Security was already doing this. I'm happy to improve things. Note that https://github.com/jhipster/generator-jhipster/pull/7120 removes some manual logic to get a public key and set a verifier key. I'm guessing you still have this in your codebase?

[2018-03-20 17:35] jdubois commented on #7307
Yes I confirm the issue, and I guess this comes from the changes that @wmarques did - but I have no idea how to solve this! This is quite a blocker issue

[2018-03-20 18:47] pascalgrimaud commented on #7272
Ping @tchlyah, as he's the one who made the initial support. Can you help us ?

[2018-03-20 18:48] pascalgrimaud commented on #7272
Oops, sorry @tchlyah, it's infinispan, and not couchbase, sorry for pinging you

[2018-03-20 19:28] erikkemperman commented on #7272
@pascalgrimaud Do you remember why you removed this `&&`?
https://github.com/jhipster/generator-jhipster/commit/56749899c124e283577a25097fd400db75de4c5d
(And similar in the gradle build)

I thought maybe it can be put back if `infinispan-hibernate-cache` replaces `hibernate-infinispan`.

[2018-03-20 20:53] mraible opened #7333 "Generated JavaScript tests fail on Gateway"
##### **Overview of the issue**

If I generate a gateway and a blog microservice, generate entities, then run the tests on the gateway, the JavaScript tests fail with the following error:

[code]

##### **Motivation for or Use Case**

Generated tests fail and make a demo look bad.

##### **Reproduce the error**

1. Generate a gateway using the following `.yo-rc.json`:

[code]

2. Generate a blog a

[2018-03-20 21:01] deepu105 commented on #7065
There are hibernate/JPA listeners, I used those for my entity Audit module
to insert audit events, but not sure if those are ideal

Thanks & Regards,
Deepu

On Tue, Mar 20, 2018 at 10:59 AM Gaël Marziou <notifications@github.com>
wrote:

[2018-03-20 21:04] deepu105 commented on #7316
I guess it was requested to be added by the OpenCollective team in their
original PR, but yes i'm OK to remove it

Thanks & Regards,
Deepu

On Tue, Mar 20, 2018 at 5:41 PM Gaël Marziou <notifications@github.com>
wrote:

[2018-03-20 21:44] warnonphilippe commented on #7331
@mraible I regenerated a new project (Gateway + 2 microservices) with JHipster 4.14.1
Same behavior that my initial project. The tokens are checked on OIDC server the first time and then cached. The code removed by #7120 is still in the codebase, so I retried to put jwk.key-set-uri, but same behavior, token still checked on OIDC server and then cached.

[2018-03-20 21:49] mraible commented on #7331
@warnonphilippe Thanks for taking the time to look into this and confirm the latest configuration doesn't fix things. Unfortunately, I won't have time to dig in and try to fix this until after my upcoming vacation. I'll be offline from March 23 - April 3.

[2018-03-20 21:49] #7316 closed

[2018-03-20 21:49] warnonphilippe commented on #7328
I regenerated the a sample project with JHipster 4.14.1 (One Gateway + 2 microservices). I logged in and then killed the session. When I tried to access the service, I received a 401, redirection is called (it was not in 4.13.3), but I'm still redirected to home page, not to keycloak login form, despite there's no session on keycloak.

[2018-03-20 21:53] warnonphilippe commented on #7331
@mraible Thank you for your help, but most important, enjoy your vacation !

[2018-03-21 00:55] pavankjadda opened #7334 "Kafka UnknownHostException exception in Kubernetes"
##### **Overview of the issue**
I have a project with two microservices and gateway generated through JHipster. I deployed the project in AWS cloud using [Kubernetes by Heptio on AWS](https://aws.amazon.com/quickstart/architecture/heptio-kubernetes/). Kafka container failed to start after several attempts. When I logged into the container through `kubectl`, I found out that Kafka unable to recogni

[2018-03-21 01:23] duderoot commented on #6735
I just saw that the [pull request #37](https://github.com/jhipster/jhipster/pull/37) is having some conflicts. The reason for this I guess it's because the PR was created some months ago. I will try this week to create a PR based on the current master. Unfortunately I will not manage to have a look on this before weekend.

[2018-03-21 03:34] pavankjadda commented on #7334
Wrong github repository. Created issue in Kubernetes repo.

[2018-03-21 03:34] #7334 closed

[2018-03-21 10:49] jgrandja commented on #6929
Thanks for putting together the sample @ImperfectClone.

I managed to figure out the issue and it's mostly mis-configuration.

**Gateway**
- `MicroserviceSecurityConfiguration` is configured as a `@EnableResourceServer` when it's not a Resource Server as your Microservice app acts as the Resource Server
- Your are providing a `@Bean` of type `UserInfoTokenServices` in  `MicroserviceSecurityConfigu

[2018-03-21 11:04] maiphuong commented on #7116
HI mraible,
I tried to use Okta for your producton and I configed and connect to Okta and it works good.And I use the account you signed up on Okta and login then it is only have ROLE_USER.How can I have ROLE_ADMIN in my account ?

I tried to create new groups ROLE_ADMIN and ROLE_USER and add user to them but when logins still dont have role ROLE_ADMIN.

Please review the screenshot.
https://ibb.c

[2018-03-21 14:03] kevinbbd commented on #7182
Hi @AbderrahimRayes, we are experiencing the same exception on Heroku... Would you be able to elaborate on which heroku feature was causing the issue? Thanks in advance!

[2018-03-21 14:29] AbderrahimRayes commented on #7182
Hello @kevinbbd i'm sorry for not clarifying the issue , the features was runtime-heroku-exec and runtime-heroku-metrics you can disable it by :
heroku features:disable runtime-heroku-exec -a yourapp
heroku features:disable runtime-heroku-metrics -a yourapp

[2018-03-21 14:59] kevinbbd commented on #7182
Thanks @AbderrahimRayes!! The `heroku features:disable runtime-heroku-metrics` command is what fixed it for us. What we were experiencing was the `Picked up JAVA_TOOL_OPTIONS: -javaagent:/app/.heroku/bin/heroku-metrics-agent.jar ` was showing showing up in the logs when the application was attempting to boot. Which resulted in the following exception:

`java.lang.IllegalStateException: Cannot load

[2018-03-21 15:10] ramith opened #7335 "Microservice project cannot be created with websocket integration"
##### **Overview of the issue**

It seems command line wizard doesn't on include a option to have websockets configured in the project If I select the application type to be a micro service.

According to "https://stackoverflow.com/questions/40076535/jhipster-can-i-add-websocket-support-to-my-existing-generated-application"
I could should be able to change the .yo-rc.json by adding

and get it don

[2018-03-21 15:22] jdubois commented on #7335
Yes this is on purpose, as our gateway does not support Websockets yet, as this is a limitation with Zuul 1. So we're not prompting for an option that would not make sense.

What people usually do is use Kafka between the gateway and the microservices, and then have only the gateway do websockets. It's much more stable (otherwise you need to chain the open sockets on several servers), and much mor

[2018-03-21 15:22] #7335 closed

[2018-03-21 16:06] jdubois opened #7336 "Prepare migration to Gradle 5"
On the current master branch (future JHipster 5), we have the following warning when running Gradle:

[code]

This is because we use annotations processors, which should have their own classpath (as far as I understand!).

We should correct this, so users can run JHipster with Gradle 5.

[2018-03-21 16:38] saturnism opened #7337 "Feature Request - Add options to generate Istio-friendly deployments MVP"
##### **Overview of the issue**

Add a generator for Istio deployment

##### **Motivation for or Use Case**

With Istio deployment, we can potentially simplify the microservices and removing several components, and relying on Istio for Load Balancing and Circuit Breaking.

##### **Suggest a Fix**

- [x] Microservices/Gateway Generator
  - [x] Generate w/o Eureka, Hystrix, Zuul (#7695)
  - [x] Gene

[2018-03-21 16:41] stephanj commented on #7337
Would be awesome! More than happy to beta test. 🤓

[2018-03-21 16:43] jdubois commented on #7337
@saturnism wouldn't this remove the need for large part of Spring Cloud? No more need for load balancing/circuit breakers, and maybe no gateway (not sure, as it's like with Traefik, our gateway does much more than just routing, so maybe you want the option to use both).
-> can you confirm this? BTW this is how it works with Heroku - the platform does load balancing/circuit breaking, making a big p

[2018-03-21 16:52] saturnism commented on #7337
I guess it would remove some of Spring Cloud, but probably can't say all.  E.g.,
- Can keep Spring Cloud Sleuth for trace propagation. There are a lot of good integrations there. See [Istio By Example for a Span Extractor](https://github.com/saturnism/istio-by-example-java/tree/master/spring-boot-example/spring-istio-support/src/main/java/com/example/istio) that works w/ Spring Cloud.
- Still need

[2018-03-21 16:56] agaspardcilia commented on #7307
@wmarques It's still not working.

[2018-03-21 17:19] saturnism commented on #7337
Would it make sense to be a configuration flag for the existing Kubernetes generator?

Or, a new generator, but it'll end up re-using a lot of the same templates.

[2018-03-21 17:51] MathieuAA commented on #7284
@deepu105 ok, I got it working. Gonna patch release JCore to v2.0.1 to fix some things and propose a PR ASAP.

[2018-03-21 19:48] ImperfectClone commented on #6929
@jgrandja Thank you very much for taking the time to diagnose these configuration issues! I'll work on fixing these problems in my project.

[2018-03-21 20:22] sendilkumarn commented on #7337
Can we add this as a separate `blueprint` ?

[2018-03-21 20:24] atomfrede commented on #7336
I will have a look, but I thought the `apt` plugin si already gradle 5 compatible. Will check if there is more we need to take care of.

[2018-03-21 20:25] jdubois commented on #7336
Thanks @atomfrede !!

[2018-03-22 05:53] atomfrede commented on #7336
In deed its something with annotations processors on the classpath. Anyone aware of a dependency not seperating their processors from core jar (looks like Log4j is doing it for example: https://discuss.gradle.org/t/regarding-the-annotation-processors-on-compile-classpath-warning-in-gradle-4-6/26144/9).

[2018-03-22 09:08] Blackdread commented on #7195
Pull request [#49](https://github.com/jhipster/jhipster/pull/49) is merged, it fixes referring entities range filtering.
Only id does not support range filtering by default, same solutions possible as said in my previous post.

[2018-03-22 09:47] deepu105 commented on #7337
@saturnism I would suggest making it an option in the existing k8s generator rather than a new one

[2018-03-22 10:02] jdubois commented on #7337
I agree with @deepu105 - I don't know Istio very much (I just had a demo by @dgageot ), but to me we could integrate it the same way we integrate Traefik (see the documentation at https://www.jhipster.tech/traefik/ )

[2018-03-22 10:07] jdubois opened #7340 "Remove warning with Angular when running a Webpack build"
On the current master branch, when generating any application with the "Angular" option, we have 2 times this warning:
[code]
This will appear in the popup every time we compile anything, and that's very annoying. We should correct this before the v5 release.

[2018-03-22 10:22] jdubois commented on #6044
@deepu105 @agaspardcilia @chrisdns I think many of the TODOs are done here -> could you check them?

[2018-03-22 10:25] PierreBesson commented on #7337
It would be great to support Istio but I think offering the option to use [spring-cloud-kubernetes](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes) as an alternative to spring-cloud-eureka and spring-cloud-consul will be a pre-requisite. Then, I would love to work on this if this is where we want to go !

[2018-03-22 10:44] deepu105 commented on #7340
I comes from a dependency and i'm not sure if we can do anything untill
they fix it

Thanks & Regards,
Deepu

On Thu, Mar 22, 2018 at 11:07 AM Julien Dubois <notifications@github.com>
wrote:

[2018-03-22 10:46] jdubois commented on #7340
And do you know which dependency it is? Maybe we can help them

[2018-03-22 11:01] sendilkumarn commented on #7340
IIUC, it is coming from the angular lib. So here it is how to fix that 😄

[2018-03-22 11:02] jdubois commented on #7336
Oh I got it @atomfrede - let me do it after lunchtime :-)

[2018-03-22 11:09] agaspardcilia commented on #6044
Yes, indeed.
Concerning Issues/Bugs,
- No login errors when invalid password #6669
- Changing password doesn't work #6670
are done. Maybe we could try to make everything notification use Toaster.
Entity support has been improved. Pretty much everything that is mentioned in the OP is done.
The only things that remains are:
- With Infinite scroll, which is being done
- With Text, that uses regular t

[2018-03-22 12:23] #7340 closed

[2018-03-22 14:22] mraible commented on #7116
Hello @maiphuong - I answered how to do this on the comment you left on my blog post:

https://developer.okta.com/blog/2017/10/20/oidc-with-jhipster#comment-3816810118

Please don't cross-post as it creates more work for us.

[2018-03-22 15:06] MariusLeahu opened #7343 "Enum not generated in gateway angular model when gateway has no DB"
##### **Overview of the issue**

Enums defined in JDL file are not transformed in enums in angular model with the following microservice architecture:
  - uaa microservice with mysql as DB
  - microservice with mysql as DB
  - gateway WITHOUT a DB. In case the gateway has a DB configured at generation time, then the bug does not reproduce (a nice enum is generated in angular model).

##### **Repro

[2018-03-22 15:11] deepu105 commented on #6044
@jdubois we are becoming more and more BETA ready, what would really help now is testing and finding issues. So if @jhipster/developers can help to test the combinations that are mentioned in the first post and mark the ones that are working and comment on issues that are found it would be super helpful.

Some things to note when testing:
We are not trying to replicate everything exactly as in Ang

[2018-03-22 15:44] ruddell commented on #7333
For reference this was changed in https://github.com/jhipster/generator-jhipster/commit/76e4ac323042d86db55af902962c148a4cdf6646 and the test was fixed in https://github.com/jhipster/generator-jhipster/commit/52a1d14ed717f37b3378e428ea4884371c1b1feb.  Sorry about that.

Slightly related, it's weird that the SERVER_API_URL is undefined in the tests

[2018-03-22 15:54] irbian opened #7344 "jhiSort don't allow fontawesome selectors inside it"
##### **Overview of the issue**

jhiSort don´t allow fontawesome selectors inside it without meddling with them

##### **Motivation for or Use Case**

jhiSort needs to use a different mechanism to handle the changes on theire icons

##### **Reproduce the error**

[code]

When I click on the code column sort, my fa-box icon disappear, and the p-checkbox icon inside disappear

##### **Suggest a Fix*

[2018-03-22 16:24] jdubois commented on #7336
Oh sorry my commit doesn't fix the issue, and breaks the build :-(

[2018-03-22 16:47] #7336 closed

[2018-03-22 16:52] ahpearce commented on #6044
I just received the following after generating with the `--experimental` and React...

Server and db are up and running, I run `yarn start`, and get some weird errors. I also get these errors in VSCode.

[code]

[2018-03-22 16:57] atomfrede commented on #7336
Interesting it didn't work in `mapstruct.gradle` :thinking:

[2018-03-22 16:58] jdubois commented on #7336
In fact it's because it's **also** in the test dependencies...

[2018-03-22 17:08] pavankjadda opened #7345 "JHipster generator creating Multiple Kafka containers when using with Kubernetes"
##### **Overview of the issue**

I have a project with two microservices and gateway generated through JHipster. Each service generated with Kafka support. When I run docker-compose up, it creates one kafka container and one zookeeper container for all services, as mentioned JHipster documentation. But when I generate Kubernetes configuration files with Jhipster generator and deploy in AWS or mini

[2018-03-22 17:15] deepu105 commented on #6044
Are you using master or latest release? master is more stable use that
please

Thanks & Regards,
Deepu

On Thu, Mar 22, 2018 at 5:52 PM Adam Pearce <notifications@github.com>
wrote:

[2018-03-22 17:26] jdubois commented on #7345
This is probably an error in the Kubernetes sub-generator -> @saturnism @PierreBesson is one of you available for this?

[2018-03-22 17:31] ramith commented on #7335
Got it. thanks for the quick update.

[2018-03-22 18:28] MathieuAA commented on #7317
@Tcharl I've taken the liberty to create an issue over JCore's issue tracker for this issue (it doesn't concern the main generator at this point).
Here's what I'm going to do:
  - close this issue and report work on the one (issue) created in JHipster Core issue tracker
  - if the issue is only in the JDL, then there's nothing to do here
  - if it's not, then I'll create an issue with more detaile

[2018-03-22 18:28] #7317 closed

[2018-03-22 18:34] PierreBesson commented on #7345
This should be easy to fix, currently Kafka/Zookeeper seems to be considered as a database/dependant service so we generate one deployment for each microservice, what should be done instead is something similar to what we do with the registry.
Ideally we should create a side-project to do kubenetes CI testing in minikube with Travis to make sure the k8s subgen stays in a working state.

[2018-03-22 18:49] pavankjadda commented on #7345
I am able to fix this by following two steps mentioned below
1. Deleted chargescode-kafka.yml and projects-kafka.yml files
2. Modified chargecodes-deployment.yml and projects-deployment.yml files to point them to Gateway Kafka  and zookeeper containers

But it would be nice if Kubernetes Sub generator can do this. I hope we get this future release.

[2018-03-22 18:53] PierreBesson commented on #7345
@pavakjadda Would you like to try to contribute the fix and make a PR ?

[2018-03-22 21:50] iObsidian opened #7346 "Dates types are incorrectly regenerated by Liquibase"
##### **Overview of the issue**

When generating a liquibase:diff changelog, the dates are incorrectly set to binary types

##### **Motivation for or Use Case**

"Instants" are stored using the wrong type

##### **Reproduce the error**

How to replicate :

Generate a project using 'yo jhipster' and all the default options

then manually rename the tables (like renaming jhi_authority to rs_authorit

[2018-03-22 22:08] ruddell commented on #7346
I reproduced it, but it seems to be a Liquibase issue.  We can't control what Liquibase outputs, what I would expect is that Liquibase maps Instants to timestamps.

Here's a related issue but using Postgresql https://github.com/jhipster/generator-jhipster/issues/6291, based on the comments there you should report this to the Liquibase team.

[2018-03-23 10:16] agaspardcilia opened #7348 "React entity name pluralization bug"
##### **Overview of the issue**

Pluralize lib has rules that prevent same word to be pluralized.
ie : Audio won't change when pluralized.

##### **Motivation for or Use Case**

This created duplications in React reducers.

##### **Reproduce the error**

Create an entity named 'Audio' for a React app.

##### **Related issues**

nope

##### **Suggest a Fix**

[code]
Would work but that's kinda ugly

[2018-03-23 10:18] jdubois commented on #7348
Oh yes you need to test pluralization also -> one good word is "Alice", which is not pluralized. So if you create an entity "Alice", you might encounter some interesting issues.

[2018-03-23 10:27] agaspardcilia commented on #7348
It's also not working when the entity name is already in it's plural form. Just got the same issue with an entity named 'receiptNoteDetails'.

[2018-03-23 12:20] danielmenezesbr commented on #7056
@jdubois This question was indeed resolved in 4.14.0?

[2018-03-23 12:57] gmarziou commented on #7056
No this is just a tag for issues that have been closed, not necessarily resolved. You can see here that there's no git commit attached, so no change.

[2018-03-23 14:50] pavankjadda commented on #7345
@PierreBesson Sure. But, I do not know the process.

[2018-03-23 14:51] ruddell commented on #7348
One solution would be to change the `ACTION_TYPE` from `FETCH_AUDIO` to `FETCH_ALL_AUDIO` which would always be different from the singular form.  The only other place I needed to change was when we map in `entity.tsx` ([here](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs#L192)).

I'm surprised this d

[2018-03-23 14:55] agaspardcilia commented on #7348
Good idea, I'll try to PR that today.

[2018-03-23 15:13] pavankjadda commented on #7345
Sure. Let me know the process.

[2018-03-23 15:55] devMaheshJava commented on #7056
@gverdesca , what's the solution for this problem

[2018-03-23 16:21] gzsombor commented on #7056
writing code.

[2018-03-23 18:00] extremenelson commented on #7345
There is also a tool from the Kubernetes project (http://kompose.io/) that will take an existing Docker Compose file and generate the Kubernetes resources.

[2018-03-23 18:37] PierreBesson commented on #7345
@pavankjadda Please have a look at our CONTRIBUTING.md docs.

[2018-03-23 18:59] maznag opened #7350 "[oAuth2] Unable to login when user has a specific role rather than default roles (ROLE_USER and ROLE_ADMIN)"
##### **Overview of the issue**

When I try to connect to JHipster application (Monolith with oAuth2 in my case) using a new user created with a specific role (ROLE_MANAGER for example), the server generate this exception:

<details>
<summary>Unable to find com.mycompany.myapp.domain.Authority with id ROLE_MANAGER'</summary>
<pre>
Exception in com.mycompany.myapp.service.UserService.getUserFromAut

[2018-03-23 19:01] Sebastiandg7 commented on #6858
Same thing happening here. Starting project from Windows CMD and the project keeps restarting after I start a session in the H2 Console.

[2018-03-23 20:44] gmarziou commented on #6858
@Sebastiandg7 please paste the output of `jhipster info` so that I try to reproduce.

[2018-03-23 20:48] gmarziou commented on #6858
i wonder whether this could be related to h2.properties being saved and triggering a restart, maybe we could exclude it [as documented](https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-devtools.html#using-boot-devtools-restart-exclude).

[2018-03-23 21:03] Sebastiandg7 commented on #6858
@gmarziou Yes, I thought about that but had no luck excluding it from the devtools reload. Here is the jhipster info output:

Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root f

[2018-03-23 21:27] ruddell commented on #6858
I also couldn't reproduce either, @ederagp also reported this in the Gitter when using VIsual Studio Code.

[2018-03-23 22:26] gmarziou commented on #6858
I also ran VS Code in parallel with the app and I was on Windows 10.

[2018-03-24 15:12] azizkhani opened #7352 "Remove Popup from CRUD navigation"
Hi, i am using JHipster and think current navigation make JHipster code complex and management of code is very hard ,one of big problem in business application is change management and upgrade to new feature .
I suggest change navigation to this way.
When user click on view or edit button .route change and component render in default outlet instead of open in popup .
When user click on delete butt

[2018-03-24 15:28] gmarziou commented on #7352
Personally, I don't see the benefit of modals for editing or viewing details, so I'm in favor of getting rid of it as proposed by @azizkhani

[2018-03-24 17:28] deepu105 commented on #7352
Ya probably its time to get rid of models for edit and create. But for
delete its needed. It will remove a lot of boilerplate for entities that we
added since Angular router doesn't play very nice with dialog models

On Sat, 24 Mar 2018, 4:28 pm Gaël Marziou, <notifications@github.com> wrote:

[2018-03-24 17:34] jdubois commented on #7352
Oh yes, I've also never liked the modals... but do we have time to refactor this before JHipster 5?

[2018-03-24 18:09] gmarziou commented on #7352
@deepu105 is it done also with modals in React?

@azizkhani would you like to contribute?

[2018-03-25 08:50] tradfursten commented on #6044
I tried to use the react client and the project failed in the initial generation.

It produced a large stacktrace:

[code]
and in the end errors like:

[code]

I'm using version 4.14.1 and the experimental flag.

[2018-03-25 09:29] tibistibi commented on #5833
i'm in need of a picker for time. there seems to be at least some options. is there already a preferred one for jhipster?

on my list:

- https://indrimuska.github.io/angular-moment-picker/
- https://angular-ui.github.io/bootstrap/
- https://dalelotts.github.io/angular-bootstrap-datetimepicker/index.html

[2018-03-25 09:32] pascalgrimaud commented on #5833
@tibistiti : FYI, there is a specific ticket for that subject https://github.com/jhipster/generator-jhipster/issues/6711

[2018-03-25 09:46] tibistibi commented on #5833
Thanks thought that one was about an missing error message.

I'm trying to find out if there is already a preferred way of having a time picker in jhipster

[2018-03-25 10:26] gmarziou commented on #6044
@tradfursten 4.14.1 is obsolete for React code, the latest code is on master branch. Either wait for JHipster 5 beta release that should be released soon or use master (see https://stackoverflow.com/questions/48898465/jhipster-5-availability/48899481)

[2018-03-25 12:34] azizkhani commented on #7352
@gmarziou yes i like that ,but i dont know how will do it .

[2018-03-25 12:46] rasoolghafari commented on #7352
Dear @azizkhani that's right, it's very annoying design for navigation

[2018-03-25 14:41] gzsombor commented on #7352
Yes, modals are a bit annoying for the back button, but it's simpler to put the same modal dialog to different pages, and communicate with the "host" page, after the modal is finished.

[2018-03-25 15:17] gmarziou commented on #7352
@azizkhani you could clone the generator repo, start from master branch and follow [our guide](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup). All work should be in https://github.com/jhipster/generator-jhipster/tree/master/generators/entity-client/templates/angular/src

We will help you.

[2018-03-25 16:00] ImperfectClone commented on #6929
I've applied @jgrandja's suggestion to use `OAuth2RestTemplate` to my sample - in a new branch, `minimal_fix`. The [diff with the version reproducing the issue can be viewed here](https://gitlab.com/ImperfectClone/jhipster-issue-6929/commit/f1896c8a2ded4e722283edfe5de3bcb4fa6261bf).

To checkout on the fix branch:
`git clone https://gitlab.com/ImperfectClone/jhipster-issue-6929.git && cd jhipster-

[2018-03-25 17:33] jdubois commented on #7352
So I think we all agree about this, but unless there's an easy way to do it, we won't merge this for JHipster v5 - this leaves time to do it well, and @azizkhani if you want to do it, you are most welcome
(and this needs to be done for Angular and React)

[2018-03-25 17:36] deepu105 commented on #7352
For React I'll probably do it as its simple anyway, for angular it would be
a breaking change, at least in terms of URL and stuff, so if doing I would
propose to do it for JH5, anyway, it shouldn't be such a huge change, I
would have done it if I had the time, but if someone is up for it i'll
review and merge it

Thanks & Regards,
Deepu

On Sun, Mar 25, 2018 at 7:33 PM Julien Dubois <notifications

[2018-03-25 17:40] jdubois commented on #7352
Oh if you can do it easily @deepu105 do go on, but we have 40+ opened bugs, and I'd like to make our beta release

[2018-03-25 17:43] deepu105 commented on #7352
Dont hold up beta for this

Thanks & Regards,
Deepu

On Sun, Mar 25, 2018 at 7:40 PM Julien Dubois <notifications@github.com>
wrote:

[2018-03-25 18:30] azizkhani commented on #7352
@gmarziou @deepu105 @jdubois I'm so happy to be able to do this with your help and I hope to do it well.I was worried about not being familiar with the process and time of doing it. It is good news that you won't merge this for JHipster v5 ,and I have time to do the right thing .

[2018-03-25 18:43] #7346 closed

[2018-03-25 18:44] azizkhani commented on #7352
Is not it better? First, I'll write an example with this navigation and we agree about that and then start applying to generator?

[2018-03-25 18:47] gmarziou commented on #7352
OK, let's do it this way: start from a simple app, make you changes as a single commit that could be discussed.

[2018-03-25 20:00] geraldhumphries opened #7353 "Possible bug with batch entity generation and post run module hooks"
##### **Overview of the issue**

I've been working on an issue in my JHipster module: https://github.com/geraldhumphries/generator-jhipster-elasticsearch-reindexer/issues/32

I am not sure if this is a JHipster bug or a bug with my module yet. I'm doing some weird stuff with the module composition to maintain backwards compatibility with Yeoman v1. This could be the cause.

Both users have reporte

[2018-03-25 20:03] geraldhumphries commented on #7353
Reran `jhipster --skip-server --with-entities` with debug flag:

[code]

[2018-03-25 20:31] tibistibi commented on #5833
i looked at the angular bootstrap timepicker and it kind of worked but had bugs and needs extra translation because it works on an object like this: `{hour: 13, minute: 30}`

    <ngb-timepicker [(ngModel)]="upStartTime" name="upStartTime" [spinners]="true"></ngb-timepicker>

there is an option minuteStep with which you can set the increase step but it broke the increase spinner for the minutes. s

[2018-03-25 22:48] gmarziou commented on #7353
Could be related to using local jhipster with a global module. We have [some code to choose between local versus global jhipster](https://github.com/jhipster/generator-jhipster/blob/5c58e1ce7b551c9e97f71cd42e9dbd0dc57d5235/cli/jhipster.js#L37-L44) when using the CLI, maybe there's a problem here.
Is there any reason for not using a local installation of your module

[2018-03-25 22:50] geraldhumphries commented on #7353
No, no reason for being global.

On Sun, Mar 25, 2018, 6:48 PM Gaël Marziou <notifications@github.com> wrote:

[2018-03-26 07:14] eceraghavulu commented on #5089
After 'Yo JHipster' command, I got an error in installing the 'Yarn install' command

[2018-03-26 07:49] Tcharl opened #7354 "JDL generation does not take the search property into account"
##### **Overview of the issue**

When using the elasticsearch option, all entities and repositories are generated, even though the user is using the 'except' or something other than "*" in the 'search' section

##### **Motivation for or Use Case**

Sometimes, the end user don't want to generate full text search on all his entities (e.g. on technical ones).

##### **Reproduce the error**

A sample

[2018-03-26 11:16] BhawaniSingh commented on #7335
@jdubois I think we can do websockets for microservices on our gateway in a way spring cloud gateway supports websockets. It filter out the websocket connection req, and then passes the connection to the underlying microservices. I'm not sure about it but can take a look into the spring cloud gateway

[2018-03-26 11:54] mmjmanders opened #7356 "Upgrading fails with error"
##### **Overview of the issue**

Upgrading from `4.14.0` to `4.14.1` throws an error copying template:
[code]

##### **Reproduce the error**

Run `yo jhipster:upgrade`

##### **Related issues**

#7232

##### **JHipster Version(s)**

`4.14.0` (or `4.14.1`)

##### **JHipster configuration**

Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
#

[2018-03-26 12:48] Swad commented on #7327
Declaring as below worked for me.

[code]

[2018-03-26 14:56] #7356 closed

[2018-03-26 16:45] azizkhani commented on #7352
I changed  label navigation and push to https://github.com/azizkhani/jhipster-sample-app,
please check that .

[2018-03-26 17:41] geraldhumphries commented on #7353
Removing the local generator-jhipster folder works (both global), and I assume installing the module locally (both local).

Is this something I can fix in my module, aside from changing the docs to say install locally?

[2018-03-26 21:06] Tcharl commented on #7101
+1 for making an inheritance from User to UserDetails.
In 99% of the use cases, the user that's loggued in is the same as the one that is authorized to consume endpoints :-).

[2018-03-26 21:35] gzsombor commented on #7101
No, please do not try to put JPA entities into http sessions, this is a recipe for disaster. (Entities can refer each other, and when the http server serialize the session - for scalabiltiy reason, to other servers, or to file system, etc)

 Having a CustomUserDetails is a better solution, I think.

[2018-03-26 21:50] mboullouz commented on #6531
Liquibase is looking for password in **pom.xml**  .  NOT in spring config files .

[2018-03-26 22:14] gmarziou commented on #7352
Great work @azizkhani ! I tested the web app interactively and I like the new navigation.

Minor thing: `yarn test` fails on tslint and karma.

[2018-03-27 06:34] deepu105 opened #7358 "Improve in memory variables used for entitites"
There are many in-memory variables created directly on the templates now and these are duplicated across Angular/React/Java code this can be improved to make templates simpler to work with

[2018-03-27 06:53] deepu105 commented on #7352
Can you do the same on the template and PR to this repo?

Few things to note,

get rid of all Model related code for the edit/create pages since its not
needed anymore (keep it only for delete)
Make sure karma tests and e2e tests are working

Thanks & Regards,
Deepu

On Tue, Mar 27, 2018 at 12:14 AM Gaël Marziou <notifications@github.com>
wrote:

[2018-03-27 06:56] azizkhani commented on #7352
Yes I can do it ,But need help

[2018-03-27 06:59] deepu105 commented on #7352
What kind of help do you need?

Thanks & Regards,
Deepu

On Tue, Mar 27, 2018 at 8:56 AM Ali Akbar Azizkhani <
notifications@github.com> wrote:

[2018-03-27 07:03] azizkhani commented on #7352
Answer to some question during do that.

[2018-03-27 07:03] deepu105 commented on #7353
It should work both way, atleast it used to. can you try another globally
installed module and see if it has same issue?

Thanks & Regards,
Deepu

On Mon, Mar 26, 2018 at 7:41 PM Gerald Humphries <notifications@github.com>
wrote:

[2018-03-27 07:04] deepu105 commented on #7352
@azizkhani ofcourse, you can ping me if you have any questions. I will also review your PR

[2018-03-27 10:03] Blackdread commented on #7101
Yes CustomUserDetails is better.

[2018-03-27 11:49] anandsudhir opened #7361 "Continuous compilation comments in pom.xml are incorrect when H2 is used as a development database"
##### **Overview of the issue**

Continuous compilation comments in pom.xml are incorrect in _some_ cases. atleast in the cases where you use H2 as a development database

The comments in continuous compilation maven profile in pom.xml has the following:
[code]
`./mvnw -Pcc` for hot reload of Spring boot, fails with the below exception:

[code]

This happens because the H2 dependency is not ont eh

[2018-03-27 13:53] geraldhumphries commented on #7353
I'm getting the same error with other global modules. I tried generator-jhipster-entity-audit. Debug output:

[code]

[2018-03-27 15:39] jdubois commented on #7361
I guess only @cbornet in the team uses this :-)
(Christophe, that seems good to me, so I'm merging it, but don't hesitate to have a look!)

[2018-03-27 15:39] #7361 closed

[2018-03-27 15:45] mechero commented on #5970
Hi @jdubois, I'm the author of [the article](https://thepracticaldeveloper.com/2017/11/04/full-reactive-stack-with-spring-webflux-and-angularjs) you referenced [above](https://github.com/jhipster/generator-jhipster/issues/5970#issuecomment-368241635). Thanks for the constructive comment... 😒maybe next time you can also give me feedback on the blog, Twitter or GitHub.

It's indeed an errata in that

[2018-03-27 15:55] jdubois commented on #5970
Thanks for correcting the article title and text @mechero - this article was misleading, I'm sorry to have hurt you about this, but people were sending this to me and it just didn't make any sense.

[2018-03-27 18:37] Ederagp commented on #6858
** has worked for me working in Visual Studio Code **
Note: however if I remove the exclusion it keeps restarting and this is for all the projects that I have

[2018-03-27 21:08] #7307 closed

[2018-03-27 21:25] gmarziou commented on #6858
So maybe it is related to your Visual Studio Code setup, maybe some extensions you have installed.
Could you list them with `code --list-extensions` ?

On my system it prints:

[code]

I suspect some extensions dealing with java code or properties files, I don't use any because I use IntelliJ for server code and VS Code only for client code.

[2018-03-28 01:10] Ederagp commented on #6858
@gmarziou the installed extensions that my system lists:

[code]

do you think any of it is the cause of the problem?

[2018-03-28 05:50] singhfulda commented on #2648
Is there any update on this?
I would like to have a exposed api for CSV/XML Imports from end users.

[2018-03-28 07:39] jdubois commented on #2648
No, once a ticket is closed we stop working on it

[2018-03-28 11:28] stephanj opened #7365 "Setup Kubernetes with non-default JHipster Registry password doesn't work"
##### **Overview of the issue**

When you use the JHipster Kubernetes generator and enter a non-default password (not "admin") for the JHipster Registry authentication, the generated gateway/microservices are unable to connect to JHipster registry.

##### **Reproduce the error**

$ jhipster kubernetes
Using JHipster version installed globally
Executing jhipster:kubernetes
Options:
⎈ Welcome to the

[2018-03-28 11:39] gmarziou commented on #6858
You could try disabling redhat.java and vscjava.*

[2018-03-28 14:31] ruddell commented on #2648
@singhfulda I recommend [PrimeNG's Table component](https://www.primefaces.org/primeng/#/table/export) for easily exporting data to CSV

[2018-03-28 15:24] azizkhani commented on #7352
@deepu105 I change that for entity and push in this repository.
https://github.com/azizkhani/generator-jhipster
will i send a PR or you can see my change before that?

[2018-03-28 15:33] clement26695 commented on #7216
Hi everyone. I tried to looked at that and it seems for that the only issue was that the getEntityJson function in the generator-base was trying to read the .json file in the wrong directory when there is a microservice.

I tried to make a fix and it seems working in the context described by @mraible .

Since I'm new to the JHipster generator and the contributing community, please let me know if I

[2018-03-28 16:29] deepu105 commented on #7352
Please send a PR

Thanks & Regards,
Deepu

On Wed, Mar 28, 2018 at 5:25 PM Ali Akbar Azizkhani <
notifications@github.com> wrote:

[2018-03-28 16:51] Ederagp commented on #6858
@gmarziou, undo the suggested extensions and work the connection to h2-console without any problem.
the extensions that you uninstall, in visual studio code, give support to help with commands and autocomplete in java encoding, without these extensions you do not mark syntax errors among others. I'll find another one and I'll try it

[2018-03-28 16:58] gmarziou commented on #6858
OK but even the community edition of IntelliJ does all this and so much more.

Anyway, if the exclusions in application-dev.yml work, we could add them to generator.
I'd like to get some feedback from other users like @netstart who opened the issue.

[2018-03-28 17:01] gmarziou commented on #7352
@azizkhani a PR will trigger our Travis builds, so it is very useful

[2018-03-28 17:20] azizkhani commented on #7352
@deepu105 @gmarziou I sent a PR

[2018-03-28 17:25] gmarziou commented on #7352
I saw it  :)
One thing you could do in your PR comment is to add `Fix #7352` on a line so that your PR is linked to this issue and also once merged it will close it.

[2018-03-28 18:27] azizkhani commented on #7352
@gmarziou how can i test travis like test in local instead of push and see travis?

[2018-03-28 19:17] gmarziou commented on #7352
@azizkhani see https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#local-travis-build

[2018-03-28 20:46] #7216 closed

[2018-03-29 06:21] abhijeetrathod commented on #5010
How can we get the access tokens,what would be the url for that along with the client- secret id,Can you please Describe it.

[2018-03-29 06:53] jdubois commented on #6858
Very interesting! Indeed there's an issue with the IDE but if we can
exclude the files then let's do it.

Le mer. 28 mars 2018 à 18:58, Gaël Marziou <notifications@github.com> a
écrit :

[2018-03-29 09:30] agaspardcilia commented on #6735
I tried to reproduce the bug and it seems that it has been fixed. Can someone confirm please ?

[2018-03-29 13:18] PierreBesson commented on #7365
Hi @stephanj, I think I have located the problem which relates to the new registry which has been migrated to Spring Boot 2. What version of the JHipster Registry are you using ?

[2018-03-29 13:33] ahpearce commented on #6916
Encountered this issue with a newly generated app with React in 4.14.0.

Tried accessing on 9000 and 8080. Logged in as 'admin:admin' with "Remember Me?" checked.

Any Swagger request is setting
`--header 'Authorization: Bearer null'`

[code]

[2018-03-29 15:02] JinnaBalu commented on #3428
Excluding below able to run app in dev, prod
[code]
Issue with docker image, unable to run as container.

[2018-03-29 15:16] cbornet opened #7373 "Infinite recursion in TestEntityResourceIntTest.getAllTestEntitiesByTestManyToOneIsEqualToSomething"
##### **Overview of the issue**

Server test `TestEntityResourceIntTest.defaultTestEntityShouldBeFound` fails in Travis's  `ngx-psql-es-noi18n` app for `TestEntity` if you set serviceClass to true for all Test* entities due to an infinite recursion while serializing the response.
[code]
<details>
<summary>Server side Stacktrace</summary>
<pre>
org.springframework.http.converter.HttpMessageNotWrita

[2018-03-29 15:20] pascalgrimaud opened #7374 "Security: can't secure API"
##### **Overview of the issue**

Currently, in master branch, we can't secure an API with:

[code]

I will complete this ticket later, if needed

##### **Motivation for or Use Case**

##### **Reproduce the error**

- create an entity
- secure all API, using `@Secured(AuthoritiesConstants.ADMIN)`
- connect with user/user
- you can access to the entity

##### **Related issues**

##### **Suggest a Fi

[2018-03-29 16:19] Zahma opened #7376 "yo jhipster:import-jdl executing but not generating erentities"
I have a .jh file that I constructed using jdl studio.
I , then executed the command yo jhipster:import-jdl model.jh
I get the following log:

`warn: The method 'JDLParser::parse' is deprecated and will be removed in the next major release. Please use 'JDLParser::parseFromConfigurationObject' instead.
yarn run v1.3.2
$ yarn run cleanup && yarn run webpack:build:main
$ rimraf target/{aot,www}
$ yar

[2018-03-29 16:29] GuiF007 opened #7377 "Liquibase and H2 database : misconfiguration ?"
##### **Overview of the issue**
With jHipster v4.14.1, I created a fresh new app, with H2 file database in dev environment.
I used `./mvnw liquibase:diff` with the just created application-dev.yml and pom.xml.

It occurs the liquibase created me a file saying I have to create the whole base, instead of "nothing to be created/modified" file...

I don't have the problem with MySQL in dev.

##### **M

[2018-03-29 16:30] ruddell commented on #7376
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-29 16:30] #7376 closed

[2018-03-29 16:34] deepu105 commented on #7374
@pascalgrimaud does `@PreAuthorize("hasRole('ROLE_USER')")` work?

[2018-03-29 16:42] jdubois commented on #7377
H2 doesn't have an opened port so liquibase:diff can't work with H2.
You need to use a "real" database for this, it should be in the
documentation.

Le jeu. 29 mars 2018 à 18:29, Guillaume <notifications@github.com> a écrit :

[2018-03-29 17:04] pascalgrimaud commented on #7374
I will test.
I created the ticket during the formation, with Julien and Pierre, didn't investigate enough.

[2018-03-29 17:06] pascalgrimaud commented on #7377
The documentation is here:
https://www.jhipster.tech/development/

[2018-03-29 17:06] #7377 closed

[2018-03-29 22:07] jdubois commented on #7374
I've found the cause, this is crashing because of:
[code]

In the `SecurityConfiguration` Bean. This was working with JHipster 4, however.

[2018-03-29 22:20] jdubois commented on #7374
So this "AuthenticationManager" part used to be configured using a `@PostConstruct` annotation and now this is a Spring Bean, which makes this fail.

The smartass who did this change is me, of course :-)
And I have no idea why :-))

The issue is that this change looks required by Spring Boot 2.0, and if we don't do it, it looks like we have no AuthenticationManager anymore. So there seems to be a

[2018-03-29 23:01] GuiF007 commented on #7377
@pascalgrimaud Mea culpa, I did not read this 👎

I managed to make it works with the attribute I added in the pom.xml... Not really tons of tests, but adding an attribute works well with this parameter. But I take note it's not really supported and I think I will gave up the use of H2 with liquibase...

[2018-03-29 23:20] tony-kerz opened #7379 "jar v war suffix for spring-boot archive fail"
##### **Overview of the issue**

followed [typical pattern](https://spring.io/guides/gs/spring-boot-docker/) to containerize spring-boot app which happens to change the archive suffix to `jar` (in the below example to `app.jar`):

[code]

jhipster seems to load perfectly as far as logging indicates, with something like:

[code]

but hitting the app from a browser yields:

<img width="553" alt="scr

[2018-03-30 05:25] pascalgrimaud commented on #7377
Yes, H2 is for demo or very quick start.
If you decide to begin real development, it's always better to use a real database.

[2018-03-30 05:39] jdubois commented on #7379
It's documented everywhere that we do a WAR file, this is for people using an app server.
There have been discussions to use JAR instead for JHipster v5 as app servers are dead, and I was in favor of using JAR, but this hasn't happened - I guess it just wasn't done... That's normal with OSS, people come and go and stuff is sometimes forgotten.
Anyway,  we provide a working Dockerfile, with the cor

[2018-03-30 05:39] #7379 closed

[2018-03-30 05:42] jdubois commented on #7377
Well if you know how to make it work you can do a PR on this.
But indeed this is used by "advanced users" and usually those people use a real database. We should explain this better, maybe we should set "starter level" and "advanced level" tips in the doc.

[2018-03-30 05:54] tony-kerz commented on #7379
thanks julien,

i didn't really consider it a bug, but i don't think the behavior follows the "principle of least surprise".

i just think it might be a reasonable enhancement to throw-an-error/log-a-message if possible when an unsupported file suffix is used instead of log messages that imply that everything is going smoothly.

[2018-03-30 06:01] pascalgrimaud commented on #7374
Thanks Julien for the full details.

As discussed yesterday, I confirm we have the same issue in Registry, but as there is only 1 ROLE_ADMIN there, it's not really important.

Here the 2 links of Security part with Spring Boot 2, in the case of someone wants to help:
https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0-Migration-Guide#security
https://github.com/spring-projects/spri

[2018-03-30 06:35] deepu105 commented on #7379
Did you build your front end when you build your file, how did you build
the jar? This seems like the front end missing.

On Fri, 30 Mar 2018, 7:54 am tony kerz, <notifications@github.com> wrote:

[2018-03-30 06:41] pascalgrimaud commented on #7374
@deepu105 : just tried your suggestion, it doesn't work, because `@EnableGlobalMethodSecurity(prePostEnabled = true, securedEnabled = true)` is missing

[2018-03-30 06:41] jdubois commented on #7379
Yes reading your ticket again you seem to have changed a lot of things...
so who knows what you broke... We can only support our code, it's already
hard enough.

Le ven. 30 mars 2018 à 08:35, Deepu K Sasidharan <notifications@github.com>
a écrit :

[2018-03-30 07:55] juliensadaoui commented on #7374
I found a fix for this problem. The AuthenticationManager bean is injected into UserJWTController bean. With JHipster 4, this "AuthenticationManager" is configured using the `@PostContruct` annotation. I think that it's not a good idea to create directly the AuthenticationManager. I prefer to delegate this instantiation using a AuthenticationManagerBean, the bean is created by Spring Security. See

[2018-03-30 08:53] warnonphilippe commented on #7328
I fixed the bug in my generated app. I changed in the AuthExpiredInterceptor, it could be a solution to the problem.

First, I replace the if-condition

`if (error.status === 401 && error.text() !== ''
&& error.json().path && !error.json().path.includes('/api/account'))`

by

`if (error.status === 401 && error.text() !== ''
                    && (!error.json().path || !error.json().path.includes(

[2018-03-30 08:56] warnonphilippe commented on #7328
Closed by error

[2018-03-30 09:26] Zahma opened #7381 "JDL doesn't generate the relationships"
[code]

The entity Ne_object is being updated.

[code]

Do you think it is related to jhipster or the relationship is not correct.

[2018-03-30 09:28] jdubois commented on #7381
Please follow the guidelines and use `jhispter info` so we can reproduce, we just can't work like that

[2018-03-30 09:28] jdubois commented on #7381
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-03-30 11:46] DontSeeSharp commented on #6044
Using Jhipster 4.14.1 with --experimental for React.

How to implement the social login buttons? The "tip" I found on jHipster doc is for angular. Could not find any information for React.

[2018-03-30 12:37] Zahma commented on #7381
Here it is, I'm quit sure its a bug with jhipster, because I've tried to generate entities from the blog jhipster sample. and its producing same error.

[2018-03-30 13:01] chrisdns opened #7383 "Angular: user management page bugged when trying to CRUD"
##### **Overview of the issue**
When we try to interact with the user management page by CRUDing, the page is bugged and we can't no longer interact with it until a page refresh.

##### **Reproduce the error**

- Generate an angular application
- Launch it
- Log in as an administrator
- Go to User Management page
- Interact with the page by clicking the buttons
- Try to interact once again with th

[2018-03-30 13:33] tony-kerz commented on #7379
sorry, i wasn't entirely clear.

simply changing the suffix from `jar` to `war` got rid of the issue.

i'd be happy to attempt a p/r to add a log message or such if anyone can point me in the right direction code wise (i'm not sure how the code would be aware of the suffix beyond the `-jar` parameter)...

[2018-03-30 13:37] deepu105 commented on #7383
Its a known issue after the lazy loading change. Was planning to work on it, but its quite tricky

[2018-03-30 13:41] deepu105 commented on #7344
You can override them by passing it in the config in the sharedLibModule declaration in `<AppName>ApplicationSharedLibsModule`
[code]
The config accepts https://github.com/jhipster/ng-jhipster/blob/e2fa067a2c0f75502ebe8afd0556cb2260d4d130/src/config.ts

[2018-03-30 13:41] #7344 closed

[2018-03-30 13:42] deepu105 commented on #7344
If you can improve this part in anyway PR is welcome

[2018-03-30 13:43] deepu105 commented on #7381
reopening since info is provided now

[2018-03-30 13:45] deepu105 commented on #7381
your error is weird, are you sure you have permissions to that directory?

[2018-03-30 14:02] gmarziou commented on #7381
This reminds me of other issues involving renaming files asynchronously on Windows, some of them were due to user's antivirus.

[2018-03-30 14:20] jdubois commented on #7379
The good solution to me is that we migrate to a JAR - give me some time for this, and that will solve everything. For JHipster 5 I think it's much better, as reactive code won't work well in an app server.

[2018-03-30 14:20] Zahma commented on #7381
Yes I have full permissions, since I created the project. however, I'm under coorporate firewall and anti virus

[2018-03-30 14:23] jdubois commented on #7381
Oh yes that's a typical Windows + antivirus issue. Best solution for you is probably to use start.jhipster.tech

[2018-03-30 14:32] jdubois commented on #7381
I'm closing this because we can't do anything about it, your error is:

    Error: EPERM: operation not permitted, rename 'C:\Users\XXXX\.config\configs
tore\insight-generator-jhipster.json.1811486357'

So either you don't have the rights to write that file, or your antivirus prevents it - whatever the cause, you need a "clean" working environment.

Some solutions for you:

- https://start.jhipste

[2018-03-30 14:32] #7381 closed

[2018-03-30 14:36] #7374 closed

[2018-03-30 14:37] MariusLeahu commented on #7343
Hi
  I'll give it a try this weekend!
Cheers

[2018-03-30 14:39] Zahma commented on #7381
Thank you, it was very helpful

[2018-03-30 14:42] jdubois commented on #7381
BTW https://start.jhipster.tech/#/ should hopefully by open sourced soon, so if your company needs it, you will be able to host it internally, which will solve your issues

[2018-03-30 14:47] jdubois commented on #7206
As we are approaching JHipster v5 and migrating those will take time, maybe we should cancel this, and reconsider it for JHipster v6?

[2018-03-30 15:04] deepu105 commented on #6044
We have removed support for Social Login, Please use the Oauth2/OIDC option
along with Keykloak or Okta for that

Thanks & Regards,
Deepu

On Fri, Mar 30, 2018 at 1:47 PM Hendrig Sellik <notifications@github.com>
wrote:

[2018-03-30 15:07] gmarziou commented on #7206
I read the links and frankly I don't think it's very important for us.
For instance, both |Angular]((https://angular.io/api/common/http/HttpClientXsrfModule) and [Spring Security](https://docs.spring.io/spring-security/site/docs/current/reference/html/csrf.html#csrf-cookie) both uses X-XSRF-TOKEN header name and I don't think they will change anytime soon but maybe this is a de-facto standard.

[2018-03-30 16:56] DanielFran commented on #7206
@jdubois no problem, let's wait for next major release.

@gmarziou , I agree it is a choice but maybe just consider to document this?

[2018-03-30 17:14] gmarziou commented on #7206
@DanielFran yes documenting our headers is a good idea

[2018-03-31 09:31] #7354 closed

[2018-03-31 15:10] tianlinzx commented on #6044
@gmarziou  BTW, when will JHipster5-Beta be released ?

[2018-03-31 15:29] #7139 closed

[2018-03-31 19:43] jdubois opened #7385 "Study the annotationPath configuration in Maven compiler plugin"
See https://twitter.com/AndreasGudian/status/980158260924895233?s=19

[2018-03-31 22:16] deepu105 commented on #7358
done via various commits to master

[2018-03-31 22:16] #7358 closed

[2018-03-31 22:17] deepu105 commented on #7284
The PR is merged

[2018-03-31 22:17] #7284 closed

[2018-03-31 23:09] deepu105 commented on #7383
@wmarques @sendilkumarn does any of you have time to look at this, I'm tied up with finishing React stuff

[2018-03-31 23:10] deepu105 commented on #7383
@chrisdns you are welcome to try as well

[2018-04-01 06:58] apovn opened #7387 "Write application log"
Can I write the application log to below screen ?

![image](https://user-images.githubusercontent.com/15623657/38170582-b0aec9fe-35b3-11e8-81cc-4fc5528b3c4c.png)

Sometime I want to debug or track an action. I write log like this:
`log.debug("Login... with username: " + username + " and password: " + password);`

But it didn't show on the log screen. Do I have to config something else to show it ?

[2018-04-01 07:36] pascalgrimaud opened #7388 "Travis: random failures for e2e, caused by chromedriver"
##### **Overview of the issue**

When launching e2e in Travis builds, there are some random errors:

[code]

##### **Motivation for or Use Case**

It's strange because we have a `postinstall` in `package.json` file:

https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/package.json.ejs#L157

Here the logs of this `postinstall` step, when it's KO:

[code]

[2018-04-01 07:53] gmarziou commented on #7387
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-04-01 07:53] #7387 closed

[2018-04-01 08:00] pascalgrimaud commented on #7388
@JulioJu : I'm trying your fix, but directly in `package.json` -> https://github.com/pascalgrimaud/generator-jhipster/commit/b9c529de4b454778897fcc676c4710ebdd2dfccc

Let's wait my Travis build: https://travis-ci.org/pascalgrimaud/generator-jhipster/builds/360816204

[2018-04-01 08:08] gmarziou commented on #7388
It might not solve this issue but I think we should not use a postinstall script to update webdriver-manager, I have seen several projects where they changed to a simple run script not an npm hook. The benefit for Travis builds is that we could have a different setup than for our users. For users build, this could be covered by instructions and by modifying the prod build in maven and gradle.

[2018-04-01 08:09] JulioJu commented on #7388
@pascalgrimaud
If I understand well the code, `yarn postinstall` is never called. `webdriver-manager update` seems to be launch by `protractor`, not by `yarn`. It is launch each time the command `yarn e2e` a.k.a `protractor src/test/javascript/protractor.conf.js`.

I don't understand why 4da25651ef9f6d04ade33e85e0ba77d019f2271d doesn't work (the build of this night). At https://travis-ci.org/jhips

[2018-04-01 08:10] gmarziou commented on #7388
postinstall is an npm hook, it's called automatically by yarn or npm after an npm install or yarn install.

[2018-04-01 08:17] pascalgrimaud commented on #7388
@gmarziou : is it mandatory to use this postinstall ? Can we remove it ? Or replace this postinstall and put the update in another place ?

[2018-04-01 09:33] gmarziou commented on #7388
@pascalgrimaud I'm not an expert. In few projects I looked at, they define a selenium entry in package.json scripts that updates the driver and starts it :

[code]

One thing I notice, is that in our current setup, we don't call "webdriver-manager start" so I don't understand how it works now.

This way, to run protractor, we would have to run this sequence

[code]

In interactive run, selenium wo

[2018-04-01 09:48] pascalgrimaud commented on #7388
Ok, I'm like you, not expert in this part :)
I'm trying to put `gecko --false` in my PR, but I don't understand what it is, just followed some suggestions in tickets / blog. Hope it will fix the issue

[2018-04-01 10:30] JulioJu commented on #7388
@pascalgrimaud and @gmarziou

If I understand well, the problem is than geckodriver is hosted by Github. So each time we launch a Travis build, we dowload the gecko driver on Github. So «  Github's API's rate limit is being hit. » (see [this](https://github.com/angular/webdriver-manager/issues/216#issuecomment-284295409)). Or « The Search API has a custom rate limit. For requests using Basic Authe

[2018-04-01 10:39] JulioJu commented on #7388
Note. If there is others random download problems, maybe we could investigate this solution again. I don't know if there is others npm_package than hit GitHub. But a radical solution could be to use only one per Travis build, then link all generator-jhipster/travis/samples/**ngx**sample/node_modules to it.

[2018-04-01 11:24] alialrabi opened #7390 "Full authentication is required to access this resource error with new microservice"
I have created projects with uaa,gateway and microservice and all work correctly.
Now trying to create new microservice but when trying to access it with gateway I get  authentication error

       {type: "http://www.jhipster.tech/problem/problem-with-message", title: "Unauthorized", status: 401,…}
       detail:
       "Full authentication is required to access this resource"
       message: "err

[2018-04-01 13:09] gmarziou commented on #7390
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-04-01 13:09] #7390 closed

[2018-04-01 16:05] cbornet commented on #7373
[code]

testCustomTableNames should be testManyToOnes !

[2018-04-01 16:33] jdubois commented on #7388
Very good catch @JulioJu !
We should try to find a mirror and not rely on Github.

[2018-04-01 16:42] deepu105 commented on #6044
@jhipster/developers the React client should be much more stable and feature complete now, please test and report any issue found here

[2018-04-01 17:25] #7388 closed

[2018-04-01 17:31] pascalgrimaud commented on #6044
Here some React builds: https://travis-ci.org/hipster-labs/jhipster-travis-build/builds/359716846
There are some configurations which didn't work yet.

[2018-04-01 17:38] pascalgrimaud commented on #7388
@JulioJu : good idea, I think we can do this:
- at the end of build, if `node_modules/webdriver-manager/selenium/` is not empty, save in another folder and use Travis cache
- next build, if `node_modules/webdriver-manager/selenium/` is empty, use the cache folder, so `yarn e2e` won't fail

[2018-04-01 19:47] deepu105 commented on #6044
#7392 should fix many of the issues

[2018-04-01 21:20] GuiF007 commented on #7377
I will try to make some tests with Liquibase and H2 database with this parameter and then I can submit a PR to make sure everything works better.

[2018-04-01 22:29] alialrabi opened #7394 "Social login with facebook doesn't work"
i have created Jhipster monolithic  project which include social login,
and i set client-id and secret-id  but when click signin with facebook doesn't work,
i get this message ' Cannot POST /signin/facebook ',

[2018-04-01 23:09] deepu105 commented on #7394
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-04-01 23:09] #7394 closed

[2018-04-01 23:10] deepu105 commented on #7383
@jdubois may be we should revert lazy loading until we find a solution for this

[2018-04-02 06:37] jdubois commented on #7394
Have a look at the old tickets, this is broken (and please make a link here to help other people, now that you have created a duplicate)

[2018-04-02 06:38] jdubois commented on #7383
Yes but I have no idea what to revert as there has been quite a lot of changes here.

[2018-04-02 08:45] jdubois commented on #7394
And please don't cross post with Stackoverflow
( https://stackoverflow.com/q/49603245/150868 )

Cross posts and duplicate issues make us all lose time and are against our guidelines

[2018-04-02 11:44] piyiotisk opened #7396 "Bug with date in generated services"
##### **Overview of the issue**

In generated services there is a method like the one below:

[code]

However the resulting copy object has a wrong date. The date is one day earlier than the correct date.

##### **Motivation for or Use Case**

N/A

##### **Reproduce the error**
Just create a new jHipster project and debug to see the error.

##### **Related issues**

##### **Suggest a Fix**

I fixe

[2018-04-02 21:13] #7352 closed

[2018-04-02 21:13] #7383 closed

[2018-04-02 21:26] deepu105 commented on #7312
closed via #7395
@Tcharl please add the fix #xxx keyword in PR to autoclose ticket next time.
@Tcharl btw you have been contributing a lot, would you like to join the core team?

[2018-04-02 21:29] pascalgrimaud commented on #7365
oh yes, it should be resolved. I merged the PR https://github.com/jhipster/generator-jhipster/pull/7372

[2018-04-02 21:29] #7365 closed

[2018-04-02 22:04] gmarziou commented on #7352
Not sure yet but the upgrade generator could be in trouble with the renaming of the dialog components. I'll try on my project as soon as a beta is released.

[2018-04-02 22:38] jdubois commented on #7385
The good news is that we already use this, and according to "git blame" I'm the one who did this. So kudos to myself :-)

[2018-04-02 22:38] #7385 closed

[2018-04-03 02:28] caffeinecoders opened #7398 "Updating User firstname and lastname when working with keycloak"
##### **Overview of the issue**

Earlier without keycloak, we used to have User settings page, where one can change user firstname/lastname.

But with keycloak integration, that is when using OAuth, I do not see option to update user firstname/lastname.

##### **Motivation for or Use Case**

User might want to change his/her lastname/firstname any time.

##### **JHipster Version(s)**

4.14.0

####

[2018-04-03 05:53] OzturkArda opened #7399 "JhiMainComponent error while starting project in Prod mode"
##### **Overview of the issue**

When I start project in prod mod (./mvnw -Pprod) I get this error message;

ERROR in : Type JhiMainComponent in C:/Projects/companyName/ProjectFolder/projectName/src/main/webapp/app/layouts/main/main.component.ts is part of the declarations of 2 modules: ProjectNameAppModule in C:/Projects/companyName/ProjectFolder/projectName/src/main/webapp/app/app.module.ts and

[2018-04-03 06:09] vishal423 commented on #7383
@deepu105, I think after your change 'Administration' menu is broken. I can see below console errors when try to navigate to any submenu under Administration.

[code]

[2018-04-03 06:11] deepu105 commented on #7399
We do not generate such a main module 'src/main/webapp/app/layouts/main/main.module.ts'  did you add this yourself? I couldnt reproduce this as we dont generate the component you mention

[2018-04-03 06:11] #7399 closed

[2018-04-03 06:12] jdubois commented on #7383
@vishal423 can you give your .yo-rc.json ?

[2018-04-03 06:17] vishal423 commented on #7383
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mycompany.myapp"
    },
    "jhipsterVersion": "4.14.0",
    "baseName": "gtw3",
    "reactive": false,
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "cacheProvider": "hazelcast",
    "enableHibernateCache": false,
    "w

[2018-04-03 06:32] OzturkArda commented on #7399
Hi,

Thanks for the fast reply. I double checked, this file is definitely auto-genrated. You can confirm by generating the project using the given jhipster configuration in the issue definition.

BR.

[2018-04-03 06:46] deepu105 commented on #7383
Thats strange, it works fine for me, but i'm on a monolith. You are on a
gateway, but that shouldnt matter in theory

Thanks & Regards,
Deepu

On Tue, Apr 3, 2018 at 8:17 AM vishal423 <notifications@github.com> wrote:

[2018-04-03 06:48] deepu105 commented on #7383
is only gateway page broken?  In admin.route.ts can you change from `path:
'admin',` to `path: '',` and try?

Thanks & Regards,
Deepu

On Tue, Apr 3, 2018 at 8:46 AM Deepu K Sasidharan <d4udts@gmail.com> wrote:

[2018-04-03 06:50] deepu105 commented on #7399
That is not possible, we do not have such a template, see below, try a clean project from scratch
![image](https://user-images.githubusercontent.com/1107223/38233774-104d2dd8-371c-11e8-87ed-4495f71c33bd.png)

[2018-04-03 07:33] pascalgrimaud commented on #7383
I confirm the issue with admin page for Gateway, and your suggestion is good @deepu105 : `path: '',`

[2018-04-03 07:36] deepu105 commented on #7398
I think it needs to be done in keycloak so it sync up in the app

[2018-04-03 07:36] OzturkArda commented on #7399
Hi,

I just created the project from '.yo-rc.json' and the file was there. Could you please try the same?

Thanks,

BR.

![image](https://user-images.githubusercontent.com/15789442/38233921-e51c8bfa-3724-11e8-8972-84cf12e3e4ee.png)

[2018-04-03 07:38] deepu105 commented on #7383
@pascalgrimaud so it happens only for gateway right but not for other pages?

[2018-04-03 07:39] vishal423 commented on #7383
I tried with monolithic as well and that also resulted into same issue. So, it's not something related to gateway application.

Above suggestion fixes the issue, however, that would cause similar issue delete user dialog

[2018-04-03 07:40] vishal423 commented on #7383
@deepu105 , issue is not limited to just gateway submenu, but, also submenu under Administration

[2018-04-03 07:41] deepu105 commented on #7383
But wait i'm running monolith from master and I dont have the issue

[2018-04-03 07:45] deepu105 commented on #7383
For me its seems to work fine with or without `path:
'admin'` so i'm removing it.  can you try master

[2018-04-03 07:51] deepu105 commented on #7399
@OzturkArda what are you talking about? there is no file named `main.module.ts` in your screenshot? we do not generate `main.module.ts` your issue comes from that file, please create a project from scratch and you will see there is no issue here.

[2018-04-03 07:54] vishal423 commented on #7383
With lazy loaded admin module, we add 'admin' to route hierarchy and again in 'admin.route.ts' we add 'admin' as child. So, in order to access child route, we should provide path like 'admin/admin/gateway' or 'admin/admin/user-management' etc. This should fix current issue, however, I prefer to remove intermediate 'admin' from route hierarchy. With either fix, delete user dialog needs to be fixed

[2018-04-03 07:56] jdubois commented on #7398
Yes you should do it in Keycloak - then if that's not enough you could have your own "domain table" locally

[2018-04-03 07:56] #7398 closed

[2018-04-03 07:58] Tcharl opened #7400 "Documentation on generating keystore from letsencrypt points to a removed blog post"
##### **Overview of the issue**

Clicking on the link describing how to generate a keystore from letsencrypt on the [security](https://www.jhipster.tech/production/#security)  documentation points to a broken link

##### **Motivation for or Use Case**

Get a nice documentation :-p

- [x ] Checking this box is mandatory (this is just to show you read everything)

[2018-04-03 07:58] jdubois commented on #7383
@vishal423 it's not lazy loaded any more since yesterday, when did you sync with the master branch?

[2018-04-03 07:58] jdubois commented on #7400
Oh that's bad :-(
Yes let's remove this

[2018-04-03 08:00] deepu105 commented on #7383
@jdubois its still lazy loaded but I fixed the issues.

[2018-04-03 08:01] deepu105 commented on #7383
@vishal423 I dont see any issues in current master

[2018-04-03 08:01] deepu105 commented on #7383
here is the config i'm testing

[code]

[2018-04-03 08:03] deepu105 commented on #7383
@pascalgrimaud can you try latest master plz?

[2018-04-03 08:20] vishal423 commented on #7383
@deepu105, With either fix (remove intermediate 'admin' or update navbar routerLink), delete user dialog needs to be fixed.

With your current change to remove intermediate 'admin', I see below error when try to delete user:

core.js?df1b:1448 ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'user-management/system/delete'
Error: Cannot match any routes. URL Segment

[2018-04-03 08:24] deepu105 commented on #7383
![image](https://user-images.githubusercontent.com/1107223/38238139-41868130-3729-11e8-9d5d-ba182470b4af.png)

[2018-04-03 08:26] OzturkArda commented on #7399
Yes, sory for the confusion.. My mistake. I'll try to clarify the source of the issue on our side.
We can close the issue as it is now. Thank you for your time.

[2018-04-03 08:31] Tcharl commented on #7400
Maybe we could change the link by [this one](http://www.amihaiemil.com/2017/10/03/letsencrypt-glassfish-ec2.html)

[2018-04-03 08:42] vishal423 commented on #7383
@deepu105 , I haven't done that recently. However, with my current setup, I don't feel it's required as I always get latest code :)

[2018-04-03 08:50] deepu105 commented on #7383
yes but if you generate a project it will use the local version of generator unless you do the link, else you need to delete node_modules before each regeneration or always create fresh projects

[2018-04-03 08:56] vishal423 commented on #7383
I always create fresh project :)

[2018-04-03 09:30] deepu105 commented on #5833
I'm closing this ticket as most of the items are done and remaining may never be done as no one seems interested

[2018-04-03 09:30] #5833 closed

[2018-04-03 12:15] tibistibi commented on #5833
understand. just to be complete:
the minuteStep works when adding it not as a string but as an int like this:

    <ngb-timepicker [(ngModel)]="upStartTime" name="upStartTime" [spinners]="true"></ngb-timepicker [minuteStep]="15">

(notice the [] around the minuteStep

[2018-04-03 12:17] tibistibi commented on #5833
and for anyone who wants a simple solution for adding time. i made a seperate field for time only and created an input like this:

    <input id="field_downStartTime" type="text" class="form-control" name="downStartTime" [(ngModel)]="project.downStartTime"
     placeholder="{{'global.placeholder.time' | translate}}" pattern="(2[0-3]|[0-1][0-9]):[0-5][0-9](:[0-5][0-9])?" />

[2018-04-03 14:00] duderoot commented on #6735
The issue still exist. I just update the project where it can be reproduce [here](https://github.com/duderoot/jhipster6735). Unfortunately because of flu and Easter I was not able to update the  [pull request #37](https://github.com/jhipster/jhipster/pull/37). Today I just start to work again and hoppe by the WE to get it done.

[2018-04-03 14:46] azizkhani opened #7403 "Move EntityResolvePagingParams to ng-jhipster"
Why each entity that have pagination will add this Resolver ?

[code]

I think sort order , maybe different from entity to another entity that developer need to change after generated code  .
We can send data to resolver and read this data in resolver

Like This

[code]

to this

[code]

[2018-04-03 15:22] deepu105 commented on #7403
Yes we can move it. Can you do PR?

Thanks & Regards,
Deepu

On Tue, Apr 3, 2018 at 4:46 PM Ali Akbar Azizkhani <notifications@github.com>
wrote:

[2018-04-03 15:29] azizkhani commented on #7403
@deepu105
create entity-resolvePagingParams.ts in which directory? service directory? what  is ts and class  name?

[2018-04-03 15:40] deepu105 commented on #7403
It could be service I guess and use the same name as original

[2018-04-03 16:52] Ederagp commented on #6858
hello again, I made a change to my file `applicaction-dev-yml` removed the extensions that cause the problem and removing the `exclude: .h2.server.properties,static/**,templates/**`
But now it does not automatically restart the app when I make a change in some .java file, which is the cause?

`application-dev.yml:`
[code]

[2018-04-03 17:04] azizkhani commented on #7403
@deepu105 can i test with yarn link in sample-app?

[2018-04-03 17:05] gmarziou commented on #6858
No idea.

[2018-04-03 17:12] deepu105 commented on #7403
yarn link works pretty weird, you could try, what i do is run npm pack to make a tarball and then npm install it on the generated project from the tarball

[2018-04-03 17:33] epsilonhalbe opened #7405 "mixed content warning with HTTPS+nginx"
##### **Overview of the issue**

Serving a JHipster Gateway with Nginx - yields a mixed content warning (when not logged in).
about the route `/login`.

##### **Motivation for or Use Case**

I am serving my (jhipster)microservice application with nginx as reverse proxy, which also provides TLS-termination.

##### **Reproduce the error**
[code]
generate a gateway app with [`gateway.yo-rc.json`](htt

[2018-04-03 17:46] epsilonhalbe commented on #7405
note -  I am a beginner at jhipster/nginx so if I might have not thought of something obvious - that is totally my fault! ;-) - Thanks by the way for providing the framework and keep it clean/up to date.

[2018-04-03 17:55] azizkhani commented on #7403
I think all my change is ok . but get this exception

https://github.com/azizkhani/ng-jhipster

`TS2305: Module '"/Users/azizkhani/Data/git/ng-jhipster/index"' has no exported member 'JhiResolvePagingParams'.`

[2018-04-03 17:56] azizkhani commented on #7403
@deepu105 https://github.com/azizkhani/ng-jhipster/commit/f8f8cdc69d5b4203dbae870e993d50aa1f8d89cd

[2018-04-03 19:38] jdubois commented on #7405
Can you post your `.yo-rc.json` here?

[2018-04-03 21:24] ruddell commented on #7396
I couldn't reproduce with the Repair entity in the example (using v4.14.1 code), it seems to work correctly but may have something to do with a timezone setting.  I also tested with the new Moment code which replaced the referenced code and couldn't reproduce.

[2018-04-04 03:37] mraible commented on #6555
@StayHungryStayFoolish Please do not comment on closed issues. If you have a question about JHipster, please post it to Stack Overflow with the "jhipster" tag. All the JHipster developers are subscribed and will get a notification when you do. If you've found a bug in JHipster, please submit a new issue with steps to reproduce. Even better, send a pull request to fix the issue you found! You can f

[2018-04-04 03:59] mraible commented on #7065
I hope to work on this feature this week. I'll try to use @deepu105's [entity audit code](https://github.com/hipster-labs/generator-jhipster-entity-audit/tree/master/generators/app/templates/src/main/java/package/config/audit) to implement a listener that looks for `user` or `users` properties on an object.

[2018-04-04 05:57] pmverma opened #7409 "Netty Runtime seems to be configured even without adding webflux support"
##### **Overview of the issue**

As per application start up log it seems that netty server is also being configured.

##### **Motivation for or Use Case**

Although jhipster is supporting both Servlet+Reactive, if one do not choose Reactive support then reactive runtime should not be configured.

##### **Reproduce the error**

1. Create a new fresh application without selecting spring webflux sup

[2018-04-04 05:58] pmverma commented on #7409
Application log:
[code]

[2018-04-04 06:04] jdubois commented on #7409
Isn't this because Netty is used internally by Undertow?

[2018-04-04 07:36] pmverma commented on #7409
Does Undertow use Netty? I am not sure.
I checked https://github.com/undertow-io/undertow/blob/master/pom.xml#L341.
I see scope as `test`.

I have never seen these logs with v4.x.x thats why I created issue.

[2018-04-04 07:56] deepu105 commented on #7409
May be SB 2 brings it in by default

Thanks & Regards,
Deepu

On Wed, Apr 4, 2018 at 9:36 AM P. Mohan <notifications@github.com> wrote:

[2018-04-04 08:25] jdubois commented on #7409
Indeed - btw the startup time is slower than with Spring Boot 1.5, so maybe you have found one of the reasons. There is stuff to optimize here, clearly.

[2018-04-04 08:36] pmverma commented on #7409
Too bad, the import scope exclusion is not done in maven yet.
https://issues.apache.org/jira/browse/MNG-5600
https://stackoverflow.com/a/27934529/1702242

Another workaround may require.

[2018-04-04 08:45] pmverma commented on #7409
Another option I think is to manage two jhipster-dependencies something like` jhipster-dependencies-servlet` and `jhipster-dependencies-reactive` and in main `pom.xml` import them as necessary.

[2018-04-04 10:49] epsilonhalbe commented on #7405
@jdubois sure

gateway: `.yo-rc.json`
-
[code]
docker-compose: .yo-rc.json
-
[code]

[2018-04-04 12:55] epsilonhalbe commented on #7405
A colleague helped me:

set `server.use-forward-headers: true` in the `application.yml` fixed the call to http and with it the mixed content warning,

I think this could be included in the documentation for running jhipster behind a reverse proxy.

[2018-04-04 12:55] #7405 closed

[2018-04-04 13:57] hberndt opened #7411 "ArangoDB support"
##### **Overview of the issue**

We want to use JHipster in conjunction with ArangoDB.

##### **Motivation for or Use Case**

ArangoDB is a noSQL database with support of documents and graphs. The annotation is much like a combination of MongoDB and Neo4J. We tested Arango manually with a JHIpster generated app and want to integrate this feature.

This issue is a feature request and we want to kno

[2018-04-04 14:14] jdubois commented on #7411
We already have Cassandra (that less than 1% of people use) and Couchbase (that less than 0,1% of people use). ArangoDB is even less well-known than Couchbase (see Google Trends: https://trends.google.fr/trends/explore?date=all&q=couchbase,arangodb ), so I am against it: this will add a lot of maintenance overhead, and lots of tests, for nearly nobody using it.

This is absolutely not an opinion o

[2018-04-04 14:14] #7411 closed

[2018-04-04 14:32] hberndt commented on #7411
Good argument. We will have a look on modules/blueprints.
Thanks for your reply

[2018-04-04 14:37] jdubois commented on #7411
Thanks! For the moment, modules are the only stable option - in the future I hope blueprints will be much better, but it's not stable yet.

[2018-04-04 14:44] ruddell commented on #7405
This is [documented in Spring Boot](https://docs.spring.io/spring-boot/docs/current/reference/html/howto-embedded-web-servers.html#howto-use-tomcat-behind-a-proxy-server), I don't think we have a page dedicated to configuring a reverse proxy and we can't copy all of Spring Boot's docs onto our site.

This issue may affect our Traefik integration (when using OIDC, it uses 302 redirects) so it could

[2018-04-04 16:35] wenbin151 opened #7412 "vue"
* **Overview of the request**

* **Motivation for or Use Case**

* **Browsers and Operating System**

* **Related issues**

* **Suggest a Fix**

[2018-04-04 16:36] sendilkumarn commented on #7412
no

[2018-04-04 16:36] #7412 closed

[2018-04-05 05:30] pmverma opened #7413 "Error during entity save due to elasticsearch config"
##### **Overview of the issue**

When saving a new entity, elasticsearch error is occurring as following.
`org.elasticsearch.client.transport.NoNodeAvailableException: None of the configured nodes are available:`

Full stackstrace

[code]
##### **Motivation for or Use Case**

On a fresh app and entity generated, saving entity should not occur error.

##### **Reproduce the error**

1. Generate a fr

[2018-04-05 05:38] pmverma commented on #7413
In above PR #6993 there includes two following yml config for elasticsearch.

https://github.com/jhipster/generator-jhipster/commit/de03d638bb46087f6e89661e2b2334632822eb00#diff-e992491547bd20399525c7d2f6c8fdf6

https://github.com/jhipster/generator-jhipster/commit/de03d638bb46087f6e89661e2b2334632822eb00#diff-f25eefccdca39060ad10318329bb35f3

As per this comment, https://github.com/jhipster/gener

[2018-04-05 07:01] stephanj commented on #7365
I'm using Jhipster Registry 3.2.4

[2018-04-05 10:01] jdubois commented on #7413
Yes, I know, and I need to update the documentation for this.

The issue is that you can't run Elasticsearch in embedded mode anymore - the feature has been removed from Elasticsearch, and I'm hating it (like you probably hate it too!). But we can't do anything about it, except complaining about it to the Elasticsearch team (which I did some time ago, when then announced this). I think they are do

[2018-04-05 10:01] #7413 closed

[2018-04-05 11:45] geoffroya opened #7417 "Add swagger-codegen to lifecycle-mapping pluginManagement?"
##### **Overview of the issue**

When importing a newly generated project (using swagger) in Eclipse, it complains about swagger plugin not covered by lifecycle.

Why not adding swagger-codegen to lifecyle-mapping plugin out-of-the-box, so having no trouble out-of-the-box with Eclipse?

##### **Motivation for or Use Case**

Having Eclipse working nicely out-of-the-box.

##### **Sample fix**

[code

[2018-04-05 12:03] ofaklintrafo opened #7418 "Generator does not prompt authentication question if "Yes" is answered to t he registry question"
##### **Overview of the issue**

The JHipster generator version 4.14.1 on windows does not prompt for authentication method if
I choose to configure the JHipster Registry.

##### **Reproduce the error**

* Navigate to empty folder|
* Start JHipster generator

Below is the sequence if I choose Yes to the registry question. Note that it skips the authentication question.

    ? Do you want to use th

[2018-04-05 12:06] jdubois commented on #7418
Yes that's because for a monolith the registry only works with JWT, so there's no need to ask for the question.
I need to check if that's still true with JHipster 5, but for JHipster 4 that's no a bug, it's a feature :-)

[2018-04-05 12:06] #7418 closed

[2018-04-05 12:13] gmarziou commented on #7418
I confirm the issue, there's something in conditions for monolith+eureka in conditions in https://github.com/jhipster/generator-jhipster/blob/v4.x_maintenance/generators/server/prompts.js

[2018-04-05 12:33] PierreBesson commented on #7365
Okay, then the issue was not with the Spring Boot 2 migration it seems this was broken in the k8s subgen for some time :cry:. Having a look at the source for the Registry 3.2.4, I see that `admin` is hardcoded in the `security.user.password` property and is not overwritten in the k8s manifest.
The `jhipster_registry_password` property is only useful for the Registry clients so it's useless to set

[2018-04-05 12:51] Tcharl commented on #7396
Date in jdl generates Moment attribute type in the angular front: I don't think that creating a Date could work

[2018-04-05 16:29] farrault opened #7419 "Regression on oauth2 access_token forwarding from gateway to microservices"
##### **Overview of the issue**

In a micro-service deployment, the access_token is no longer forwarded from the gateway to the microservices.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Generate a gateway and a microservice  with some entity
Add a @Secured annotation on an endpoint the entity Ressource Controller => it doesn't work as there is no Spring Security Context

[2018-04-05 18:50] azizkhani commented on #7403
I write test and complete source but after run test i get exception in language service

[code]

[2018-04-05 19:10] Tcharl commented on #7312
Hi @deepu105,

I've some more to learn on Github features :-).
I contribute because Jhipster offers me so much! Btw joining the core team would be an honour if the vote is positive.

[2018-04-05 19:10] #7312 closed

[2018-04-05 19:57] Tcharl opened #7421 "Feature request: Add spring cloud rabbitmq option"
##### **Overview of the issue**

I've the use case of integrating spring-cloud-stream-rabbitmq instead of Kafka within a Jhipster app.

##### **Motivation for or Use Case**

My app is deployed on PCF PaaS and we want to stick with the Pivotal managed services offer, so in this case, RabbitMQ is preferable to Kafka.

##### **Suggest a Fix**

As the team will do the work on the project (this is an i

[2018-04-05 20:20] jdubois opened #7422 "Upgrade to Spring Boot 1.5.11 and Spring Boot 2.0.1"
We need to upgrade our JHipster 4 maintenance branch to Spring Boot 1.5.11, and our JHipster 5 branch to Spring Boot 2.0.1, as they correct some very important security issues:

https://spring.io/blog/2018/04/05/multiple-cve-reports-published-for-the-spring-framework

This is a top priority for me, and I wanted to do it tonight, however, and as always, the official Spring BOM is not released yet!!

[2018-04-05 20:31] ja1979 opened #7423 "Uploaded files on IE11 and Edge"
##### **Overview of the issue**

Uploaded files are not opened in Internet Explorer 11 (IE11)

##### **Motivation for or Use Case**

It works perfectly on Chrome and Firefox.

##### **Reproduce the error**

Create any Entity with a Blob field and try uploading a file. Files uploaded are not opened in IE11.

##### **Related issues**

N/A

##### **Suggest a Fix**

I guest the problem is with IFRAME

[2018-04-05 21:37] jdubois commented on #7422
For JHipster v5 this should already be corrected with https://github.com/jhipster/jhipster/commit/cab69f3f1ce4d29a70e376218d66d86b4f643a6d as we use SNAPSHOT releases, so every JHipster 5 project will automatically download that new version.

(please note that with Gradle you need to do `./gradlew build --refresh-dependencies`)

[2018-04-05 21:40] jdubois commented on #7422
For JHipster 4 we use a real release, which I have pushed to Maven Central (see https://github.com/jhipster/jhipster-dependencies/commit/99aa992eac30dae6a962f564a81e15aaad1eeb92 ). As the BOM isn't ready, I forced all Spring Boot dependencies to use 1.5.1.RELEASE.

This can take up to 2 hours to be synchronized, once it's done I will push the fix on jhipster/generator-jhipster on our v4_maintenanc

[2018-04-05 21:48] jdubois commented on #7422
For JHipster 4 this is done in https://github.com/jhipster/generator-jhipster/commit/ec145bab3356ddeadef72952f8fb819b02c0a580 and I'm doing a maintenance release after some tests

[2018-04-05 22:27] jdubois commented on #7422
Travis & Docker Hub are taking forever to run, so I won't do the v4_maintenance release tonight.

Besides, it looks like there are some failing tests I need to fix first, so that will be released tomorrow.

[2018-04-05 22:37] wilkinsona commented on #7422
The Platform bom has always lagged behind Boot to varying degrees and it always will do. More so for new versions (like Cairo) where Boot and several other projects all need to be GA before the Platform can GA.

FWIW, Cairo should released early next week. However, if tracking Boot releases as closely as possible is a priority, then I agree that using the Platform bom was a mistake.

[2018-04-05 22:48] jdubois commented on #7422
Thanks @wilkinsona - sorry for the harsh words, it's just that we have 3 major security issues and with the BOM we are stuck, so I'm a bit under pressure. But indeed, I think we are more following Spring Boot that the platform BOM, and in that way the BOM might not be a good choice for us.

[2018-04-05 22:51] jdubois commented on #7422
So very bad news: Spring Boot 2.0.1 make all our tests fail, so I need to revert.... And it looks the same with Spring Boot 1.5.11...
I have no idea what has changed, but that's pretty bad.

So we are back to the original issue :-(

[2018-04-05 23:00] philwebb commented on #7422
Can you just bump the framework version? The CVEs aren't actually in Boot itself.

[2018-04-05 23:03] jdubois commented on #7422
As everything was failing:
- JHipster v5 is back to Spring Boot 2.0.0 (as we're on a SNAPSHOT it's important to be stable)
- JHipster v4 is still with Spring Boot 1.5.11 but hasn't been released
- I also needed to upgrade the JHipster Registry (which had the same issue), so it's back to the older Spring Boot 1.5.x and 2.0.0 releases so it's not failing anymore

I'll do more tests tomorrow, includi

[2018-04-05 23:10] philwebb commented on #7422
@jdubois What's the actual failure? Got logs you can point me at?

[2018-04-05 23:59] soyoeml commented on #3579
@piaofudeyu
Jdubois is right. Please check yml configuration under spring section, if there is a DB Mongo, Redis, Rabbitmq or other dependant is not connected, the status will be DOWN forever.

[2018-04-06 00:36] tianlinzx commented on #7422
Spring Boot 2.0.1 and 1.5.11 are finally released.
https://spring.io/blog/2018/04/05/spring-boot-2-0-1-available-now

[2018-04-06 05:41] deepu105 commented on #7422
Once this is sorted out we really need to find a solution for the BOM issue else it will slow us down

[2018-04-06 05:42] deepu105 commented on #7423
May be its time to drop IE support?

[2018-04-06 07:55] pmverma opened #7425 "Entity is being created when using `@PutMapping`"
##### **Overview of the issue**

_This is not a bug but rather an opinionated point._

For any entity generated by jhipster, `@PutMapping` code include to create the entity if the id is null.

##### **Motivation for or Use Case**

1. By using HTTP PUT, we assume that the underlying resource will be updated. For creating a new resource, HTTP POST should be used. Currently in jhipster, PUT is also c

[2018-04-06 08:08] gmarziou commented on #7423
Angular, Bootstrap and React supports IE 11 so I guess JHipster should support it.

I haven't found any evidence of such a bold statement.

[2018-04-06 08:52] gmarziou commented on #7423
What makes you think so?
From what I researched, I can't see any mention of this.

Also I generated a project using your .yo-rc.json and entities and the only iframe tag I found was to display swagger-ui. So where do this come?

[2018-04-06 09:00] deepu105 commented on #7312
Ok could you email me your email Id, Full name, twitter handle(if any) to d4udts (at) gmail (dot) com

[2018-04-06 09:03] jdubois commented on #7422
@deepu105  the current "solution" is that we use the BOM and override all Spring Boot releases: it looks pretty bad, but in the end it works quite well, so we could stay like that for some time and see if that's OK

And more bad news: Docker Hub looks completely down, my Docker builds from yesterday are still queued, so even if I find a solution quickly we won't have Docker builds ready :-(

[2018-04-06 09:08] jdubois commented on #7425
Yes that was discussed at the very beginning of JHipster (and I don't have to look for the ticket, sorry). So that's supposed to be correct from a REST point of view, at least it was decided to do it that way after reading http://restcookbook.com/HTTP%20Methods/put-vs-post/ (as far as I remember).

Then your argument on security looks very good to me, and we can always have architecture discussion

[2018-04-06 09:26] atomfrede commented on #7400
The blog post is back again, but very slow. Maybe should create an own page and reference both blog posts there?

[2018-04-06 09:44] erikkemperman commented on #7422
@jdubois We could go back to inheriting from `spring-boot-dependencies` as I originally intended. We don't use that many additional dependencies, actually, in the generator. But some of them might be convenient for end-users nevertheless to have as managed dependencies, hard to say...

@DanielFran I believe you were the one who requested we use `spring-platform`: this is introducing some delays in

[2018-04-06 09:48] jdubois commented on #7422
Oh in fact I just realize the error we have!! As we only upgrade Spring Boot on top of `spring-platform`, we are using the newer Spring Boot release with the older Spring Framework version!
So typically on my test project I have Spring Boot 2.0.1 with Spring Framework 5.0.4:

- So it doesn't solve the security errors at all, as they are in Spring Framework and not Spring Boot (that's pretty bad!)

[2018-04-06 09:55] erikkemperman commented on #7422
@jdubois
Not quite, I think: since `spring-platform` is a _child_ of `spring-boot-starter-parent`,
https://github.com/spring-io/platform/blob/vCairo-RC1/platform-bom/pom.xml#L9
, it's not enough to simply override the property like you tried yesterday:
https://github.com/jhipster/jhipster/commit/cab69f3f1ce4d29a70e376218d66d86b4f643a6d#diff-78a0a62b9524ac5cc8a07f55a4a29683R78

But as the security

[2018-04-06 12:41] jdubois commented on #7422
I see @wilkinsona just released a new platform BOM for Spring Boot 1.5.1: thank you **so much** Andy!! 👍
I'm going to test this, and after many hours of hard work I'd rather stay on the platform BOM, it helps on so much dependency headaches!

[2018-04-06 13:15] erikkemperman commented on #7422
@jdubois Are you planning on starting a separate branch of jhipster-dependencies to support JH 4 / SB 1.5?

I ask because I was thinking to get rid of some dependencies that are no longer needed in JH5 but would have to remain to support JH4.

But you can't have a single release of jhipster-dependencies for both SB 1.5 and 2 so it'll have to be split anyway, right?

[2018-04-06 13:38] erikkemperman commented on #7422
@jdubois That should work, I guess. Although if it is expected that a lot of commits (like minor dep version bumps) should be merged "back" across repos it might become annoying -- can't simply cherry-pick because of the different path prefix! At some point we might want to have a maintenance branch on the jhipster repository?

[2018-04-06 13:40] klearchos opened #7427 "Under production I see an error page"
Hi,

I have a monolith application that under dev mode everything works ok.
When I package the application for production the front-end does not work.
The back end runs ok.
Do you have any suggestions/advices how to debug this?
I have cleaned and reinstalled the node_modules and the yarn.lock file. No difference.
Any advice would be really appreciated.

![capture_console](https://user-images.githu

[2018-04-06 13:43] jdubois commented on #7427
I'm sorry but this really depends on your configuration, we can't work like this... We have project guidelines, why didn't you follow them?

[2018-04-06 13:43] jdubois commented on #7427
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-04-06 13:43] #7427 closed

[2018-04-06 13:44] #7419 closed

[2018-04-06 13:47] jdubois commented on #7422
I think it's good for JHipster 4 - I'll probably do a release this afternoon.
For JHipster 5 I'm waiting for the Spring platform BOM "Cairo.RC2" (or maybe even RELEASE????), and I see @wilkinsona is working on it - so it's better to wait than do anything else. Anyway, that's not our released version (it's still in BETA), so it's not as important as the v4 branch.

@erikkemperman we'll do maintenan

[2018-04-06 14:40] ja1979 commented on #7423
@gmarziou
Yes, you are right. The problem is with iframe and data url which is what ng-jhipster is using to open files.

https://msdn.microsoft.com/en-us/library/cc848897%28v=vs.85%29.aspx

I figured out the problem is present in Edge too.

And yes, I found a solutions overriding `JhiDataUtils.openFile` method with the following:

[code]
It is not the same behavior in IE11, competed with the other

[2018-04-06 15:33] gmarziou commented on #7423
@ja1979 great work! Would you like to submit a pull request to ng-jhipster project?

[2018-04-06 15:45] ja1979 commented on #7423
@gmarziou Yeap! I will do that.

[2018-04-06 16:27] gmarziou commented on #7423
Awesome :)

[2018-04-06 19:01] iObsidian opened #7429 "mvn liquibase:diff checksum validation problem after modifying entity"
##### **Overview of the issue**

After regenerating an entity, I get this error :

[code]

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/6176

##### **JHipster configuration**

`##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generat

[2018-04-06 19:04] iObsidian commented on #7429
As stated here : https://stackoverflow.com/questions/43207163/jhipster-liquibase-validation-error-after-modify-entity?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

`liquibase:clearCheckSums`

does not seem to work with JHipster

[2018-04-06 19:33] jdubois commented on #7429
Yes if you re-generate an entity that's "normal", let me explain. Considering you modified something in your entity, of course (otherwise it doesn't make any sense):

- If you do a `jhispter entity Foo` this is going to regenerate your Liquibase changelog. So it won't work on an existing database, unless you drop it of course. So it's easier, but this would mostly be used in development.
- If you

[2018-04-06 19:34] #7429 closed

[2018-04-07 01:10] tianlinzx opened #7430 "JDL code generation error on Jhipster5@Beta"
##### **Overview of the issue**
Trying to generate project using jhjdl command using sample jdl file https://start.jhipster.tech/jdl-studio/, getting below error .

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.7.0:compile (default-compile) on project jhtest: Compilation failure
[ERROR] /Volumes/Data/projects/jhdemo2/jhtest/src/main/java/com/gzs/audit/web/rest/Jo

[2018-04-07 05:46] jdubois commented on #7430
Can you give us your JDL so we can reproduce the issue?

[2018-04-07 11:48] JulioJu opened #7431 "Prettier not trigger"
##### **Overview of the issue**

During generation, Prettier isn't trigger.  If we we add a new file then commit, Prettier isn't trigger.

##### **Reproduce the error**

1. `$ mkdir essai`
2. `$ jhipster --version` (check you use 5.0.0-beta version)
3. `$ jhipster`
4. All default
5. `$ cat .editorconfig` (you could see a line with `indent_size = 4`)
6. `$ cat src/main/webapp/app/app.main.ts` (you

[2018-04-07 11:58] JulioJu commented on #7431
P.S. I've tried to run `$ find -name "*.ts" ! -path "*node_modules*" -exec node_modules/prettier/bin-prettier.js --write {} \;`, : in fact it takes a very  long time! But indentation is well changed ;-).

[2018-04-07 12:25] gmarziou commented on #7431
My PR was about running prettier at generation time, so not related to git commit hooks.

I suppose it took very long time because you reformatted all node_modules.

[2018-04-07 12:40] tianlinzx commented on #7430
I am just using the sample jdl provided by JDL-Studio.
[test.jh.zip](https://github.com/jhipster/generator-jhipster/files/1886352/test.jh.zip)
For the project type , I am using
1) MicroService - KeyCloak
2)Gateway - KeyCloak.
I also tried to created entity in Gateway, the Client tests fail too.
Thanks.
@jdubois

[2018-04-07 12:45] deepu105 commented on #7431
There is a prettier command to use in the package.json so you could just
run `npm run prettier:format` if your pre-commit hook didn't trigger

Thanks & Regards,
Deepu

On Sat, Apr 7, 2018 at 2:25 PM Gaël Marziou <notifications@github.com>
wrote:

[2018-04-07 12:48] deepu105 commented on #7430
@tianlinzx sorry we cant work like this, there are 1000s of combination for JHipster and we cant guess what exactly you did unless you follow our guidelines and provide all details, like the .yo-rc.json for th app, jdl files etc. Indeed you might have found an issue but we cant help if you dont follow our guidelines

This ticket has been closed as the **guidelines are not followed**.

Tickets must

[2018-04-07 12:48] #7430 closed

[2018-04-07 12:49] deepu105 commented on #7430
@tianlinzx I know you are trying to help but please follow the issue template and provide all details so that we can reproduce. We will reopen the ticket once all details are given

[2018-04-07 12:51] deepu105 commented on #7431
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-04-07 12:52] deepu105 commented on #7403
closing the issue as we have the PR to track in the lib

[2018-04-07 12:52] #7403 closed

[2018-04-07 12:53] deepu105 commented on #7396
@piyiotisk could you please check with JHipster v5 beta and see if you can reproduce the issue?

[2018-04-07 13:07] JulioJu commented on #7431
@gmarziou and @deepu105
Sorry, but it's not a question. I see I'm not clear because there was a big confusion in my introduction.

Try to start again with more accurate explanations.

If prettier is used during yeoman generation, why we have some files with two levels indentation? In .editorconfig we could see we have `indent_size = 4`. So there is a problem at this level! Isn't it?

We could see

[2018-04-07 14:46] azizkhani commented on #7403
I just create resolver in ng-jhipster but generator dose not change yet .why did you closed this issue ?

[2018-04-07 16:30] accferronato commented on #4137
I'm having the same problem, but when I run the application without the root one yarn error appears.

Running the application as root I have the same bower problem presented above.
Any help?? I don't know what else to do.

[2018-04-07 16:45] deepu105 commented on #7403
@azizkhani its ok, since you are working on it anyway and i'm sure you will do a PR here as well :)

[2018-04-07 16:48] deepu105 commented on #7431
@JulioJu its because when prettier is run within generator it doesnt see the editorconfig file and hence uses the default 2 space indent. Simplest solution is to specify the `tab-width` in the prettier config file. Do you want to do a PR for this?

[2018-04-07 19:09] azizkhani commented on #7403
@deepu105 I changed generator but can not test ,
I think  package.json of  ng-jhipster that i change that, have problem and not correct .
can you see that ?

[2018-04-07 19:36] gmarziou commented on #7431
I understand better now, yes please change the title.

[2018-04-07 19:41] gmarziou commented on #4137
@accferronato please don't comment on an old closed issue as we don't have any idea of your environment, please open a new issue with all required details if you think it's an issue in JHipster otherwise use stackoverflow or gitter.

[2018-04-08 03:32] apovn opened #7434 "Display too much page, can not go to 1st page or last page."
##### **Overview of the issue**

Display too much page, can not go to 1st page or last page.
![image](https://user-images.githubusercontent.com/15623657/38462829-1e60d27c-3b17-11e8-92c7-1e1b9cb14138.png)

##### **Motivation for or Use Case**

I have many records in DB.
I configure: paginate [my_entity] with pagination

##### **Reproduce the error**

I configure: paginate [my_entity] with paginatio

[2018-04-08 04:13] apovn commented on #7434
ok, done. I resolved it.
Below is the code:
<ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

[2018-04-08 05:36] #7434 closed

[2018-04-08 08:16] kseyhan opened #7435 "Settings Page doesnt include formfield to set an image for the user."
##### **Overview of the issue**

Settings Page doesnt include formfield to set an image for the user.

##### **Motivation for or Use Case**

There is plenty of functionality included to set and show an image in the navbar, but the formfield to set this image is missing in the user settings page and in the create account dialog so that its just possible to set this image by some custom http request

[2018-04-08 08:28] kseyhan opened #7436 "@JsonIgnore annotation in the class AbstractAuditingEntity gets ignored."
##### **Overview of the issue**

@JsonIgnore annotation in the class AbstractAuditingEntity gets ignored.

##### **Reproduce the error**

Open the settings page and check the results of the json response to the "account" endpoint which looks like this:

[code]

expected behaviour is that the createdBy, createdDate, lastModifiedBy and lastModifiedDate dont show up in the response.

Addition:
While

[2018-04-08 08:57] gmarziou commented on #7436
I don't know why it  is not working but I think we should rather not using `@JsonIgnore` on this abstract entity because there are some cases where you want to display these fields in UI. So it could be better to use  `@JsonIgnoreProperties` on sub classes to give more control to the app developer.

[2018-04-08 09:00] kseyhan commented on #7436
If you ask me i would ignore it directly in this class. I dont see a reason why you should need those fields in the frontend at all.

[2018-04-08 09:14] gmarziou commented on #7436
For instance because admin users need them. Even for the blog example, it's very common to show when the post was created and when it was last updated.

[2018-04-08 09:26] kseyhan commented on #7436
ok well thats a usecase for the date fields what about the by fields?
p.s. i found the reason why it doesnt work as intended now. It happens because there is this dto mapping happening which doesnt cares about the annotations at all.

[2018-04-08 09:45] gmarziou commented on #7436
There are many other use cases for he other fields too.

Anyway,there's no DTO in your JDL.

If you really use DTOs, then it's normal that the properties are not ignored because in this case entities are not serialized (Jackson does not see them at all).

[2018-04-08 09:47] kseyhan commented on #7436
The UserDTO gets generated by default whatever option you choose.

[2018-04-08 09:51] gmarziou commented on #7436
Oh OK so this has nothing to do with AbstractAuditEntity at all. `@JsonIgnore` should be set on UserDTO if this is what you want but I don't see any issue in JHipster.

[2018-04-08 10:03] gmarziou commented on #7436
In fact, I don't think there's a JHipster issue.
Those fields are displayed in the UI, so they must not be ignored.

[2018-04-08 10:03] #7436 closed

[2018-04-08 14:02] #7431 closed

[2018-04-08 14:05] deepu105 commented on #7423
closed via https://github.com/jhipster/ng-jhipster/pull/66

[2018-04-08 14:05] #7423 closed

[2018-04-08 14:06] deepu105 commented on #7396
closing this as there is no response form @piyiotisk and we couldn't reproduce it. @piyiotisk if you are able to reproduce it let us know and we will re open this

[2018-04-08 14:06] #7396 closed

[2018-04-08 14:08] deepu105 commented on #7425
I also agree that security is more important and hence may be we can change this. @jhipster/developers anyone think we shouldnt change it?

[2018-04-08 14:28] JulioJu commented on #7431
@deepu105 @gmarziou sorry again for my lack of clarty! I will make some more efforts for my next contributions…

@deepu105, you merged your PR during the time I worked on this PR and test on my computer if all work fine ;-)…

[2018-04-08 14:32] deepu105 commented on #7431
@JulioJu sorry I didnt know you were doing it. Next time do tell in comments first if you are doing something

[2018-04-08 14:35] deepu105 commented on #7238
some work done in #7437

[2018-04-08 14:36] gmarziou commented on #7425
+1 to change

[2018-04-08 15:03] jdubois commented on #7425
This is going to break a lot of existing apps, so we either change it now, or it will be next year for JHipster 6...
At the moment we only have 1 article on the subject, and it's against this change, so this is a logical change, but this should be further studied.