[2016-02-14 06:51] jdubois commented on #2869
Yes I'm still surprised by how far we go!!

[2016-02-14 07:34] erikkemperman commented on #2869
@deepu105
Well, sourcemaps with mangling is possible with current structure -- as in that branch I linked earlier. That just has a quirk I coulant track down quickly but suspect it's in gulp-usemin.

We could try to change to gulp-inject without restructuring layout.

But what I proposed seems more logical to me, and would certainly make source map configuration much easier.

The main benefit to m

[2016-02-14 07:40] erikkemperman commented on #2869
@deepu105 Ah now I notice fullstack gulp support, thanks! Didn't read far enough down their readme, which unconditionally says to install grunt. I will take a look at their structure when I get a chance.

[2016-02-14 08:51] erikkemperman commented on #2869
Actually the fullstack gulpfile is pretty instructive (once you get past that it's ES6)!

It uses `lazypipe` for re-usable pipelines, which is probably what `gulp-usemin` should have been using so we wouldn't have to do otherwise useless `bind`ing of plugins.

Also it uses `gulp-inject` instead of `gulp-usemin` but then it did keep `gulp-wiredep` for some reason (which I thought might also be repl

[2016-02-14 09:20] dhafirnz opened #2874 "TranslationFilterProvider error when creating a new project without translation support"
I started a new Jhipster application and chose not to have International support. When I started adding my entities AngularJs failed to boot strap on my entities and started to get the following AngularJS error:
Error: [$injector:unpr] Unknown provider: translateFilterProvider <- translateFilter

This is without me adding a single character of code.
I then regenerated the project and this time I c

[2016-02-14 09:27] andidev commented on #2874
Need more info
Please read our bug submission guidelines
https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue

[2016-02-14 09:38] andidev commented on #2869
I'm not sure we can replace gulp wiredep with gulp inject and the main files since it also needs to determine the order of the injected dependencies and that is not part of gulp inject unless I'm wrong.

I think gulp wiredep is used to inject Bower libs while gulp inject is used for injecting application javascript files. Please correct me If I'm wrong.

[2016-02-14 09:47] atomfrede commented on #2869
@deepu105 I don't see any reason why using the build folder (or just use target folder as build output folder) shouldn't work with gradle.

[2016-02-14 09:51] gmarziou commented on #2832
Closing it for lack of interest.

[2016-02-14 09:51] #2832 closed

[2016-02-14 10:02] erikkemperman commented on #2869
@andidev I thought `gulp-inject` is rather generic, which ought to allow it do dependency-injection from bower as well. It has examples of usage with bower pretty early in its docs. Of course it only works so long as it injects in the right order -- maybe you're worried `main-bower-files` doesn't follow sub-dependencies? I dn't know, have just been playing around with a trivial case thusfar.

@ato

[2016-02-14 10:24] deepu105 commented on #2874
I think this is fixed in master
On 14 Feb 2016 17:27, "Anders Steiner" <notifications@github.com> wrote:

[2016-02-14 10:37] deepu105 commented on #2869
Im ok with this as long as following conditions are met and if you are upto
it, trust me it would be a lot of work even if you are just doing search
and replace, you will get un expected errors and will be doing a lot of
corrections.

1. This shouldn't slow down our builds. maven, gradle and gulp
2. App should work without issue when run directly or as war/jar in both
dev and prod profile
3. Behav

[2016-02-14 11:20] erikkemperman commented on #2869
I would suggest untangling a possible directory layout change from swapping out gulp plugins.

Obviously, I will try my best to get it as solid as I know how -- but have to admit upfront that there are certain areas I don't know much about. In particular, things like Heroku/Cloudfoundry, also Gradle. So I would definitely need thorough review on those things, from people more knowledgable than me.

[2016-02-14 11:29] deepu105 commented on #2869
It is already a shared constant, may be we should use the constant in the
templates as well instead of literal string.

The paths are used in
1. Main generator index.js
2. Sub generators index.js
3. All the angular route files
4. In some controllers to open popups
5. Tests
6. Gulp file

I might have missed some.

Another problem is such a huge change will not show all diffs in git and is
tough to

[2016-02-14 11:37] erikkemperman commented on #2869
I noticed the shared constant, but it isn't used consistently -- unless I am missing something here? Grep for the literal `'src/main/webapp'` turns up rather a lot. I would make them available in template strings as well.

[2016-02-14 11:39] erikkemperman commented on #2869
I'm not sure how to do something like this one small step at a time -- it strikes me as a kind of all-or-nothing approach. None of the intermediate steps would be functional.

[2016-02-14 11:39] atomfrede commented on #2869
@deepu105 At work we've used the angular-gulp-generator and put the source files into a sperate drirectory (``src/web``). Bower, node etc. are put into ``target`` (when using maven) and the maven build just takes the files generated by gulp (and some small configs from ``src/main/webapp`` like filter configs) and puts them into the generated war. Same should be possible for gradle I guess (using `

[2016-02-14 12:32] andidev commented on #2869
@erikkemperman yes you are right main bower files should return the dependencies in order of course! Did not know about that project.

[2016-02-14 13:13] steeltomato opened #2875 "Generators are oblivious to automatic JS inclusion"
When using automatic JS inclusion (as given in the Tips and Tricks), the generators will drop new JS files after the  needle. This causes various errors due to the duplicate loading of routes.

Version: 2.27.0

Steps to reproduce:
- Generate a vanilla jhipster application
- Follow the steps here to use automatic JS inclusion: http://jhipster.github.io/tips/002_tip_include_js_grunt.html
- Follow th

[2016-02-14 13:49] gmarziou commented on #2875
Please follow [our guidelines for submitting an issue](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submit) and provide needed details.

[2016-02-14 15:18] deepu105 commented on #2875
Its just a tip and you have to follow it and do the required changes in
your index.html as well. Show us what you have done and other required
details as per submission guidelines
On 14 Feb 2016 21:49, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-14 16:22] andidev commented on #2875
Maybe we should exclude the entity files in the config.

[2016-02-14 16:50] phouverneyuff opened #2876 "Code Broken : HerokuDatabaseConfiguration"
Using jhipster 2.27.0 apoint to master, the code generated for 'yo jhipster:heroku' create the class HerokuDatabaseConfiguration using jHipsterProperties.getDatasource() in the code, but this method was removed.

[code]

[2016-02-14 17:17] PierreBesson commented on #2811
Yes I am working on this but this is a bit painful to do as it involves a lot of testing. Also it was not clear to me at first which classes depends on the User. Fortunately, Julien will be at the office monday so  I will be able to ask him questions about the codebase so it will help me.

[2016-02-14 19:19] phouverneyuff commented on #2876
The error occurs when we choose postgre as production database.
I'm doing a PR for fix it.

[2016-02-14 21:07] ruddell commented on #2874
I fixed this in #2700 but the 2.27.0 version still has this issue.

[2016-02-14 21:07] ddewaele commented on #1966
@deepu105 : But I guess the namespace issue remains then ? (Introducing a Language Entity will cause a conflict betwen the entity service and the jHipster built-in AngularJS Language factory ?

[2016-02-14 21:24] ruddell opened #2877 "User Management does not load on project without translation"
* **Overview of the issue**
User Management does not load on project without translation enabled.  No stack trace is thrown in the console but the issue is in user-management.js in the resolve methods.

* **Motivation for or Use Case**
I use JHipster without translation

* **JHipster Version(s)**
Master - this is not an issue in the current 2.27.0 release.

* **JHipster configuration, a `.yo-rc.js

[2016-02-14 22:14] andidev commented on #1966
@ddewaele @deepu105
Good point, we have not thought of that. How should we solve this. I guess the only solution is to bring back the reserved words?

[2016-02-14 22:27] lukasbradley opened #2882 "Gradle - All Commands Log "Starting the Unit and Integration test""
Extremely trivial defect.  When using Gradle for the build system, JHipster 2.27.0 always logs the following message regardless if tests are run:  "Starting the Unit and Integration test"

Example:

[code]

[2016-02-14 22:28] #2877 closed

[2016-02-14 22:42] andidev opened #2883 "Rename modulename.js file wich contains the states to modulename.state.js"
Now that we follow john papa styleguide should'nt we rename the module file containing the states according to:

**Health module before change**
[code]

**Health module after change**
[code]

[2016-02-14 22:51] gmarziou commented on #2883
Yes it makes sense

[2016-02-15 00:06] phouverneyuff commented on #2882
It was fix it in master.
When the new release is released, you will not see this.

[2016-02-15 00:16] phouverneyuff commented on #2876
@jdubois can you release a new version to fix it?

[2016-02-15 01:26] deepu105 commented on #2811
Ok let me know if you are stuck or if you need help
On 15 Feb 2016 01:17, "Pierre Besson" <notifications@github.com> wrote:

[2016-02-15 01:27] deepu105 commented on #2874
Closed as its fixed in next release

[2016-02-15 01:27] #2874 closed

[2016-02-15 01:29] deepu105 commented on #2877
The translation block should be filtered by the regex, need to check the
regex
On 15 Feb 2016 05:24, "Jon Ruddell" <notifications@github.com> wrote:

[2016-02-15 01:30] deepu105 commented on #1966
@andidev or should we prepend the service names as well?
On 15 Feb 2016 06:14, "Anders Steiner" <notifications@github.com> wrote:

[2016-02-15 01:50] deepu105 commented on #2883
Yup makes sense
On 15 Feb 2016 06:51, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-15 01:54] #2882 closed

[2016-02-15 03:51] systemsplanet commented on #1283
Is there a page we can watch for angular 2 progress updates?
Will the angular 2 option convert previously generated angular 1 project to angular 2?

[2016-02-15 04:07] deepu105 commented on #1283
@sometxdude if you are interested in react support in Jhipster take a look at https://github.com/hipster-labs/generator-jhipster-react its a WIP and this module will replace angular client side with react. It has material Ui and webpack support instead of Gulp and this is our recommended approach to customize Jhipster for different use case
@tapas4java the same approach I use for above can be used

[2016-02-15 05:36] astik opened #2886 "Externalization of jHipster's Angular code as an autonomous NPM dependency ?"
Hi all,
Just wondering about the possibility of externalizing JS code (generate by jHipster generator) as a reusable NPM dependency.
For example, with the jHipster generator, I am able to generate all the needed code to start working with a clean admin interface (CRUD, metrics, log, ...). Authentication is perfectly managed on back end and frontend.
What if I need to write another frontend for my

[2016-02-15 08:03] andidev commented on #1966
Maybe, not sure about this. Then they would be called LanguageManagerService while in fact it is some kind of repository service not only bound to the management of the entity. Feels a bit wrong.

[2016-02-15 08:20] deepu105 commented on #2886
Technically possible but its not in our roadmap atleast for now so I dont think we will have any time for this.
And another reason we might not go that direction is that we want to give our users full control of the source code and that is possible only when you generate it as part of your code, making these external bower/npm libs mean users canot customize.

[2016-02-15 08:20] #2886 closed

[2016-02-15 08:30] deepu105 commented on #1966
ya, you are right.
what about prepending it with `Jhi` so that it will become `JhiLanguage.service.js` ?

[2016-02-15 08:31] deepu105 commented on #1966
I guess @jdubois is not a big fan of prepending `Jhi` to generated code :wink:

[2016-02-15 08:38] cbornet commented on #2876
@phouverneyuff the released 2.27.0 doesn't have the issue you are describing so there is no need to rush for a new release. I have made comments on your PR. Can you look at it ?
Basically, you need to copy what was done in #2803 but reading the URL from system environment instead of config file.
Something like:
[code]
If you want I can do the fix but I don't have a heroku setup so you would have t

[2016-02-15 08:47] ddewaele commented on #1966
Perhaps platform or framework might be better. AFAIK there are no
namespaces in Angularjs so there aren't that many options besides
prepending.

On Monday, 15 February 2016, Deepu K Sasidharan <notifications@github.com>
wrote:

[2016-02-15 08:57] delor opened #2887 "Logged in user can perform actions after being removed by admin"
I have logged in as user.
Removed user as admin.
User was still able perform operations e.g. creating entities.

[2016-02-15 08:58] deepu105 opened #2888 "add infinite-scroll & ngFileUpload dependency only when the option is selected in any entity"
currently the 'infinite-scroll' option is added as a default dependency even if none of the entities have that option selected.

I propose to add the dependency when the option is selected for any entity. we can use the needle present in bower file and app.module.js for this and our needle method will ensure that there is no duplication as well.

Only downside of this is that bower install needs t

[2016-02-15 09:01] deepu105 commented on #2887
please follow our [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines)

and you need to log out for role changes to take effect

[2016-02-15 09:01] #2887 closed

[2016-02-15 09:06] deepu105 commented on #2875
It doesn't duplicate since the include in within build block
[code]

We cannot help you unless you provide proper details

[2016-02-15 09:07] deepu105 commented on #2875
btw were you running grunt serve when adding entities?

[2016-02-15 09:16] deepu105 commented on #2875
and since we are dropping grunt support, I should remove this Tip as well I guess.

You can refer https://github.com/jwvdiermen/grunt-include-source and exclude the entities if required

[2016-02-15 09:16] #2875 closed

[2016-02-15 09:20] deepu105 commented on #2869
Ill open a new issue for gulp inject @erikkemperman may be you can do gulp inject as a separate PR and later if others agree you can do the restructuring what say?

[2016-02-15 09:34] erikkemperman commented on #2869
Yeah, that's what I meant by untangling earlier. However it seems more sensible to me to do this restructuring first -- unless there are objections forthcoming, of course.

[2016-02-15 09:35] andidev commented on #1966
@deepu105
When you mean prepend with jhi do you mean the pretending the language service or the generated entity language service?

[2016-02-15 10:11] deepu105 opened #2889 "Use gulp-inject instead of wiredep"
Switch to gulp-inject from wiredep

This will give following benefits on top of what wiredep gives

1. we can remove the manual inject code [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/index.js#L473) , [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L1610) and [here](https://github.com/jhipster/generator-jhipster/b

[2016-02-15 10:23] jdubois commented on #2888
I understand the issue, then those are only small dependencies and it looks complicated to add afterwards: this is not a priority for me

[2016-02-15 10:23] erikkemperman commented on #2889
@deepu105 While I think it's possible to use gulp-inject to replace both wiredep and usemin, it might make sense to only replace gulp-usemin for the moment? We had some talk about this on the other issue, and looked at angular fullstack, which uses a combination of gulp-inject and wiredep.

[2016-02-15 10:24] ariscapellos commented on #2225
FWIW - This spring boot 'true' prod setting has been working fine for me with CF CLI ( 6.15.0+fa1bfe2-2016-01-13 ) and jhipster 2.27.0

Thanks for this sterling generator!

[2016-02-15 10:30] #2739 closed

[2016-02-15 10:33] deepu105 commented on #1966
prepend the language service and other service we provide in the default app

Thanks & Regards,
Deepu

On Mon, Feb 15, 2016 at 5:35 PM, Anders Steiner <notifications@github.com>
wrote:

[2016-02-15 10:34] deepu105 commented on #2888
Its not complicated, just an if check and a line of code for each

Thanks & Regards,
Deepu

On Mon, Feb 15, 2016 at 6:23 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-15 10:34] deepu105 commented on #2888
I can do this later

Thanks & Regards,
Deepu

On Mon, Feb 15, 2016 at 6:34 PM, Deepu K Sasidharan <d4udts@gmail.com>
wrote:

[2016-02-15 10:42] deepu105 commented on #2603
@phouverneyuff I guess you use Heroku, would you be interested in doing a restructuring for the heroku sub generator?

[2016-02-15 10:43] jdubois commented on #2603
You need to do this with @jkutner : he's working for Heroku and he is the one doing this sub-generator

[2016-02-15 11:50] BhawaniSingh commented on #2848
So anyone planning to work on this?

[2016-02-15 11:55] notflorian commented on #2872
If that's ok with you, I'm currently working on a PR to correct the errors and make the javadoc doclint compliant.

[2016-02-15 11:56] moifort commented on #2848
Normally me, but I do not have much time right now.

[2016-02-15 12:32] sometxdude commented on #1283
Thanks, I just forked your jhipster/react project so I won't forget it.
I will definitely be kicking the tires on it soon.

On 2/14/2016 10:07 PM, Deepu K Sasidharan wrote:

[2016-02-15 12:46] phouverneyuff commented on #2876
@cbornet OK. This change that broke the heroku generator.

But, we have a little problem: **dataSourceProperties.getDriverClassName()** return **org.postgresql.Driver** and and in the Heroku gives the follow error '**Cannot cast org.postgresql.Driver to javax.sql.DataSource**'

In the spring documentation: **spring.datasource.driver-class-name= # Fully qualified name of the JDBC driver. Auto-detec

[2016-02-15 12:52] deepu105 commented on #2872
You are welcome to do PR
On 15 Feb 2016 19:55, "Florian Fauvarque" <notifications@github.com> wrote:

[2016-02-15 12:53] deepu105 commented on #1283
You are welcome to collaborate :)
On 15 Feb 2016 20:33, "sometxdude" <notifications@github.com> wrote:

[2016-02-15 12:58] phouverneyuff commented on #2603
@deepu105 @jdubois I'm changing the code to fix a bug and I can do it. In the PR #2884 I'll remove the generator and move all code to a new module. I just need some time to learn about modules.

@jkutner You can contact me in PR #2884 or in the issue #2876 .

[2016-02-15 13:09] cbornet commented on #2876
@phouverneyuff ```dataSourceProperties.getDriverClassName()``` should return null since there is no driver-class-name in application.yml

[2016-02-15 13:11] phouverneyuff commented on #2876
https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html

[2016-02-15 13:12] cbornet commented on #2876
Yes : don't use driver-class-name and let SB detect the driver from the URL.

[2016-02-15 13:14] deepu105 commented on #2603
I guess you got confused, this is not to move this to a module, this thread
is to make the sub generator code in line with latest yeoman recommended
templates,  look at the aws sub generator or language sub generator for
example
On 15 Feb 2016 20:59, "Paulo Henrique" <notifications@github.com> wrote:

[2016-02-15 13:15] phouverneyuff commented on #2603
@deepu105 OK

[2016-02-15 13:17] psantosvox opened #2890 "Separate UI and Server apps"
I don't know if this is the right place to ask for improvements so please let me know and I'll move it.

Currently, jhipster applications are shipped as a bundle. I think it could be interesting if in the project creation we could the have the option to separate the UI and the server into two different applications.

I'm aware that this might not have been your architectural choice but for modular

[2016-02-15 13:24] jdubois commented on #2890
This is what we are currently working on :-)
So you need to wait for JHipster 3.0 and that will be done!

[2016-02-15 13:24] #2890 closed

[2016-02-15 13:24] deepu105 commented on #2890
We already generate a distinct angular js client app and spring boot server
app. We even have sub generator to generate both separately but i guess
your requirement is to have them packaged seperateley for deployment, which
we do not support currently.  The packaging is still monolithic but you can
easily split them by hand as all the clinet code is in the webapp folder
just move that along with b

[2016-02-15 13:28] deepu105 commented on #2890
@jdubois our skipClient option gives a deployable server app but our
skipServer option will just generate client app with gulpfile. Do we have
to include some form of packaging to deploy this?
On 15 Feb 2016 21:24, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2016-02-15 13:31] jdubois commented on #2890
@deepu105 for the skipServer I think the gulpfile is enough, as long as you can generate a minimized version. Then people need to move this around: as they didn't want to have the server part generated, it's up to them to put those files correctly on their own server

[2016-02-15 18:01] lucav opened #2891 "Cannot start jhipster (first start)"
I'm using Windows 10, Eclipse Mars.1, JDK 8.

I have followed today your guides (selected postgresql database for dev and prod):
1- http://jhipster.github.io/installation/
2- http://jhipster.github.io/creating-an-app/
3- After that, i have imported the project in Eclipse as Maven project.
4- When i launch Maven install, all it's ok (also the tests run: 25, Failures: 0, Errors: 0, Skipped: 0)
5- If

[2016-02-15 18:11] notflorian commented on #2891
Hi,

I don't think this is a bug in JHipster, as it seems there is an issue with your database. Maybe it's not started, or the login/password are wrong, or the database URL is incorrect.

Could you please post your issue on StackOverflow?

Thanks

[2016-02-15 18:58] gmarziou commented on #2891
As @notflorian said, this is a question for stackoverflow not an issue, so I'm closing it.

Please read our guidelines: http://jhipster.github.io/help/

[2016-02-15 18:58] #2891 closed

[2016-02-15 21:51] erikkemperman commented on #2869
Update -- so, I went ahead and tried to get most of the tedious things out of the way. This [branch](https://github.com/erikkemperman/generator-jhipster/tree/refactor-webapp) passes `npm test` on the generator and `gulp test` on the generated app, which seems to be working nicely for both dev and prod profiles.

I've mostly tested with sass and i18n enabled, only with Maven... Clearly there's a lo

[2016-02-16 00:05] gmarziou commented on #2869
I just tried briefly, gulp test works, mvn spring-boot:run also.
But when I try to run both gulp and mvn, the angular app does not work but I don't see errors in the console the first time, if I reload the page I get 404 errors for following i18n files:

- /dev/bower_components/angular-i18n/angular-locale_en.js
- /dev/i18n/en/global.json
- /dev/i18n/en/home.json

Here is my config:

[code]

[2016-02-16 06:24] erikkemperman commented on #2869
@gmarziou Thanks for taking a look! Interesting, I had i18n working; The files you mention are present in my webapp/dev folder. So it looks like `gulp prepare` did not copy these for you? Do they exist in websrc?

[2016-02-16 07:09] jdubois opened #2894 "Modify build & doc now that Oracle JDBC drivers are on Maven Central"
See https://blogs.oracle.com/dev2dev/entry/oracle_maven_repository_instructions_for

[2016-02-16 07:27] #2006 closed

[2016-02-16 07:27] #2867 closed

[2016-02-16 11:03] #2868 closed

[2016-02-16 12:09] cbornet commented on #2876
Update. Use:
[code]
@phouverneyuff can you test this on Heroku ?

[2016-02-16 12:34] phouverneyuff commented on #2876
Yeah, but only more later.
On Feb 16, 2016 10:10 AM, "Christophe Bornet" <notifications@github.com>
wrote:

[2016-02-16 13:36] jdubois commented on #2894
As written in the blog post, you need to have a valid user & password to use it... So basically it's unusable.
Thank you Oracle for a misleading blog post that made me lose my time....

[2016-02-16 13:36] #2894 closed

[2016-02-16 14:03] gmarziou commented on #2894
They'll never learn how to build simple things.

[2016-02-16 14:11] tom-010 opened #2896 "app.constants.js was not created with OAuth2 selected"
I've created an project with OAuth2 selected. The **app.constant.js** was not generated. This is not the case when I create the Project with HTTP Session Authentication (stateful, default Spring Security mechanism) as authentication type.

Because the app.constants.js ist not defined, the webapp shows only "This is your footer" and as log-output I get:

[code]

The solution is to create the app.co

[2016-02-16 14:14] gmarziou commented on #2896
Which version?
The app.constant.js is generated by the frontend build: grunt or gulp.
Did you run it?

[2016-02-16 14:17] gmarziou commented on #2896
Please provide your .yo-rc.json file

[2016-02-16 14:18] tom-010 commented on #2896
I have coosen grunt. The grunt version(s) are:
grunt-cli v0.1.13
grunt v0.4.5

After jhipster installation i've ran grunt wiredep

.yo-rc.json
[code]

[2016-02-16 14:39] PierreBesson commented on #2811
I have it working on [my branch](https://github.com/PierreBesson/generator-jhipster/tree/remove-user-management-flag) at least for the server part.

[2016-02-16 14:52] PierreBesson commented on #2811
I have left some JWT auth code as this is needed for microservices to do authorization management on the APIs.
What @jdubois wants to have is that the --skip-user-management flag is automatically used when the user wants to generate a "microservice application", so this should also be done, maybe in a different issue ?

[2016-02-16 15:15] jdubois commented on #2811
Yes :

- JWT should work without the user management code
- I want user management for monolith and gateway, and not for the microservices. This should be automatic depending on the application type.

This is just the first step, later we will:
- and OAuth2 in parallel to JWT
- allow to remove user management on the monolith and on the gateway (that would be a new question)

[2016-02-16 16:36] #2872 closed

[2016-02-16 19:39] andyverbunt commented on #2006
Not to make things more difficult, but the User mapper is just one particular case. I had to create more mappers just like this (in my code of course) for each ambiguous case.

[2016-02-16 19:42] andidev commented on #2006
For what kind of relationships?

[2016-02-16 19:54] andyverbunt commented on #2006
As long as two entities A & B have a many-to-one relationship with an entity C, two methods will generated with the same signature hence the "ambiguous mapping" error. The User is an example of that, but it could occur with another entity as well.

I'm not sure, but I think the same problem might occur with one-to-one relationships, or in fact any combo as well.

[2016-02-16 19:57] andidev commented on #2006
Yes of course. That should not be to hard to fix i think.

[2016-02-16 20:31] andidev commented on #2006
Looks like this works. I just tried
[code]

[2016-02-16 20:40] andidev opened #2899 "One letter relationshipName in ManyToOne relationships fails mapping with mapstruct"
**jdl that does not work (with default app config)**
[code]

fails with the following error when running `mvn clean install`
[code]

**jdl that does works**
[code]

[2016-02-16 21:08] gmarziou commented on #2896
I mea

[2016-02-16 21:18] MathieuAA commented on #2899
Did you check the dumped JSON? Are they valid?

[2016-02-16 21:22] andidev commented on #2899
Good point! They seem to be correct though so it's not JHipster UML.

[2016-02-16 21:23] andidev commented on #2899
**A**
[code]

[code]

[2016-02-16 21:49] MathieuAA commented on #2899
Confirmed with JHipster UML 1.6.1+ (and JHipster git-version), with these JSON files:

**For A:**
[code]

**And B:**
[code]

The JSON are the same with JHipster (Q&A) and JHipster UML.

Quite an interesting bug, nice find!

[2016-02-16 21:50] gmarziou commented on #2896
`grunt wiredep` could not help here, you  should have run `grunt serve` .

I have successfully tested your config against JHipster 2.27 and current master (JHipster 3.0 to come).

So I don't know what went wrong for you but I can't reproduce it, so I'm closing the issue.

BTW, you may want to switch to gulp, as we will drop grunt in 3.0

[2016-02-16 21:50] #2896 closed

[2016-02-16 23:15] #2780 closed

[2016-02-16 23:27] ruddell opened #2905 "TranslatePartialLoader not removed by regex"
* **Overview of the issue**
The regex that removes translatePartialLoader from projects without translation is not functioning.  None of the translatePartialLoaders are removed.

* **Motivation for or Use Case**
I use JHipster without translation.
* **JHipster Version(s)**
Master - Started after #2885

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
Any project with

[2016-02-17 02:24] deepu105 commented on #2905
Ill check

[2016-02-17 05:29] cirovladimir commented on #2905
Perhaps related to this, when elasticsearch is enabled, it seems to leave a translate filter on placeholder attributes like so

`<input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'jhipsterApp.book.home.search' | translate }}">`

causing the following error:

[2016-02-17 06:18] ruddell commented on #2905
@cirovladimir that was fixed in #2700 but is still in issue in the latest release

[2016-02-17 07:17] #2883 closed

[2016-02-17 07:53] deepu105 commented on #2905
closed via https://github.com/jhipster/generator-jhipster/commit/67c3877b51c2515fc296d38bdc1726c1f3b3b29f

[2016-02-17 07:53] #2905 closed

[2016-02-17 11:20] deepu105 opened #2907 "Mapstruct warning in master"
default gradle build
[code]
[code]

[2016-02-17 11:20] deepu105 commented on #2907
@andidev

[2016-02-17 11:38] andidev commented on #2907
This is probably related to #2893
@ruddell
Do we need to annotate these mappings as ignored?

[2016-02-17 12:21] cbornet commented on #2876
@phouverneyuff I've done a fix. Can you test with master ?

[2016-02-17 15:51] wmarques commented on #2808
Hi, I have started to work on this issue. Check this [commit](https://github.com/jhipster/generator-jhipster/commit/a39de14782e1bebc96102abb57d82cec6f321516).
I have tested the component "alert-error" I modified (click on Delete User in administration) and the console gives me no bug. But I have several bugs when running "gulp test", maybe a dependency in Karma or in some bower library is causing

[2016-02-17 15:58] PierreBesson commented on #2811
I have finished working on it and have rebased it on the master. Currently, it works only for the server part. Then, @wmarques will help me to work on removing the user management for the client part.
Finally, we will be able add the new question for the monolith & gateway and force --skip-user-management for the microservice.

[2016-02-17 15:58] erikkemperman opened #2908 "Current master fails protractor tests"
No time to investigate this unfortunately, but thought you'd want to know.

EDIT Borrowing from a recent Travis build: this is pretty much what I am seeing:
https://travis-ci.org/jhipster/generator-jhipster/jobs/109839487#L3767

[2016-02-17 16:05] deepu105 commented on #2811
I think question should be asked only for gateway as for monolith user
management would be required anyway rite?

Thanks & Regards,
Deepu

On Wed, Feb 17, 2016 at 11:58 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-02-17 16:08] francisyuya opened #2909 "Problème with my jhipster"
Hi. I am new on jhipster. I have created a new projet but when i try to compile the program with the command "mvn spring-boot:run" i have the following error.
Please help me
Thanks...

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building bookstore 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------

[2016-02-17 16:10] mraible commented on #2908
Looking into this now...

[2016-02-17 16:13] deepu105 commented on #2909
plz follow our guidelines https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines and open proper issues

[2016-02-17 16:13] #2909 closed

[2016-02-17 16:20] pascalgrimaud commented on #2908
If I remember well, it comes from https://github.com/jhipster/generator-jhipster/pull/2186 when we add the login popup ; there are some changes with login / home page

But yes, Travis should failed...

[2016-02-17 16:23] mraible commented on #2908
Yes, this appears to be one of the issues. Also, there's a bug that after logging in, the username doesn't show up. This has been there for a couple weeks. It shows the following on the screen after logging in.

[code]

[2016-02-17 16:31] PierreBesson commented on #2811
Yes, it would be better. For monolith users that really want to remove user management, they can still use the flag or do you plan on removing it ?

[2016-02-17 17:07] erikkemperman commented on #2908
Thanks for looking into this! I noticed the empty username as well, navigating to another page and back makes it appear.

But shouldn't these failing protractor tests make Travis fail the corresponding build as well? As in the above link, it seems it currently doesn't!

[2016-02-17 18:27] ruddell commented on #2907
Yes, I can take care of that

[2016-02-17 19:02] andidev commented on #2907
Great!

[2016-02-17 20:07] jdubois opened #2916 "Add Github issue templates"
See https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-17 20:28] #2908 closed

[2016-02-17 21:11] andidev opened #2917 "Ask for default language and other languages to include when generating an app with translate support"
When generating a JHipster app it would be nice to be able to chose the default language configured (currently english) and other languages to include (currently french). Most probably one would want to have the native language of the users country as default and english as secondary. And most probably they don't want the default setup english as default and french as secondary.

This should come

[2016-02-17 22:11] cbornet commented on #2916
+1

[2016-02-17 22:14] jpsw opened #2920 "How run jhipster gradle-project from Eclipse?"
I only find instructions how to run maven-project from Eclipse? ( http://jhipster.github.io/configuring-ide-eclipse/ )

I created a basic jhipster-app, selecting gradle as build-tool.

When I run: gradlew bootRun
it works fine.

I also imported as Gradle project into Eclipse.
But when I right-click the Application class in eclipse (with -Dspring.profiles.active=dev), I get the exceptions below.

N

[2016-02-17 22:20] andidev opened #2921 "Generated entity service name could clash with JHipster service name"
Moving the dissussion from end of old closed issue #1966 to here.

The problem occurs e.g. when generating an entity called `Language` where a service containing the REST API is created with the name `Language`. This will clash with the internal JHipster service also called `Language` which is used to switch the current language. The problem was introduced after issue #2645 was solved since the re

[2016-02-17 22:22] gmarziou commented on #2920
Looks like you're missing the source code generated by MapStruct annotation processor for mapping AuthorDTO to Author entity: AuthorMapperImpl.
This is generated by gradle or maven build, try running it first.
I can't help you more on this as I don't use Eclipse.

[2016-02-17 22:22] andidev commented on #2916
Yes please do this and I'll promise to never violate the guidelines again!!!

[2016-02-17 22:27] jdubois commented on #2921
I would go with "JhiLanguage". That's what we already do for database tables and AngularJS directives, so this is usual for JHipster-provided code.
I didn't want to do this at the beginning as I wanted the generated code to be without any trace of JHipster, but in the end I've never seen anyone complaining about this.

[2016-02-17 22:34] jpsw commented on #2920
Hmm...interesting...

As I wrote, I first had **gradlew bootRun** running OK, so I guess everything is already generated before I import in Eclipse.

But your hint helped me find a workaround...

When I _manually _add   **build/generated/source/apt/main**
to the build-path in eclipse, it actually works....

[2016-02-17 22:37] jdubois opened #2922 "Migrate to ngStorage and add a rememberMe option for JWT authentication"
Currently we use angular-local-storage for working with localstorage.

This is the most popular library for dealing with localstorage in AngularJS, but it has a drawback: its API can be configured to use either localstorage or sessionstorage, but not work with both together.

We need this feature if we want to improve JWT authentication:

- Currently the JWT token is stored in localstorage for 24

[2016-02-17 22:44] karthilxg commented on #2890
@psantosvox Thanks for starting this thread!!

@deepu105 I have the latest JHipster version (v2.27.0) installed but there's no `skipServer` option listed down, please let me know if that option is already available with the latest release.

[code]

[2016-02-17 22:48] jpsw commented on #2920
Anyways, thanks for help!

I guess this might be an issue with the eclipse gradle-plugin....
Perhaps add a note somewhere, though, to the jhipster IDE-integration documentation?

[2016-02-17 22:49] jdubois commented on #2890
No, this is a JHipster 3.0 feature, we are currently working on it.

[2016-02-17 22:51] karthilxg commented on #2890
@jdubois Thanks!! Looking forward for this release :+1:

[2016-02-17 22:51] jdubois commented on #2920
Yes I neither use Gradle nor Eclipse, so any help here is welcome.

[2016-02-17 23:00] gmarziou commented on #2661
Today, I sucessfully generated a feign client using swagger-codegen against a JHipster API, I found that I had to tweak ApiClient classfor correctly setting up Jackson for seralizing/deserializing LocalDateTime even though I was using java8 only option.

I used it from a spring boot command line app.

I found  that it does a good job especially when using @ApiModel, @ApiParam, ... annotations as t

[2016-02-17 23:40] karthilxg commented on #2890
@jdubois I have generated the project with JHipster (both Client & Server)  and I moved the `webapp` folder contents to a separate maven module folder (ui-maven-module) and included the `ui-maven-module` as a `pom` dependency to the `spring-boot-starter-parent` pom.xml. I was able to create the `war` file with the UI module contents by running the `mvn -Pprod clean package` command. And I'm able t

[2016-02-18 00:00] deepu105 commented on #2811
Yes flag should be ok, but i dont think a question is required
On 18 Feb 2016 00:31, "Pierre Besson" <notifications@github.com> wrote:

[2016-02-18 00:28] deepu105 commented on #2917
+1 for this, this can be done by skipping en and fr files in app generation
and then composing the language generator at the post run hook I guess it
would be more elegant as currently people might not want French as
secondary and have to remove it manually
On 18 Feb 2016 05:11, "Anders Steiner" <notifications@github.com> wrote:

[2016-02-18 00:34] deepu105 commented on #2921
+1 for jhi prefix
On 18 Feb 2016 06:27, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-18 00:35] deepu105 commented on #2922
+1
On 18 Feb 2016 06:37, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-18 00:36] deepu105 commented on #2920
I also switched to InteliJ long back, it just works with gradle OOB
@atomfrede what about you
On 18 Feb 2016 06:51, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-18 00:40] deepu105 commented on #2890
@karthilxg once you get it resolved would you consider contributing the steps to our documentation site as a tip?

[2016-02-18 03:25] ndkhoiits opened #2924 "[OAuth2] [MongoDB] “The given entity must not be null” when request token, on jHipster + mongodb installation."
* **Overview of the issue**

Sometime, I cannot refresh or create new access token, with error in json
[code]
It's happening with refresh jHipster installation and MongoDB, hard to reproduce if you are running the application within 1 month because of refresh token expiration. So we can change a little from the configuration to reproduce the issue easily.

* **How to reproduce the problem:**
  * R

[2016-02-18 03:49] deepu105 commented on #2924
can you follow our guidelines https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-submission-guidelines

give  a proper description and title as well, I do not understand your issue

[2016-02-18 04:04] ndkhoiits commented on #2924
Hi @deepu105 , I changed the title and description, hopefully it's more clear now.

[2016-02-18 04:47] deepu105 commented on #2924
ok now

[2016-02-18 05:40] pascalgrimaud commented on #2917
good idea +1

[2016-02-18 05:42] pascalgrimaud commented on #2921
+1 for JhiLanguage

[2016-02-18 06:05] atomfrede commented on #2920
Also using idea. Works fine out of box. @jpsw Are you using buildship?

[2016-02-18 06:10] andidev commented on #2922
+1

[2016-02-18 06:12] cbornet commented on #2661
@gmarziou If you use the [module](https://github.com/cbornet/generator-jhipster-swagger-cli) it is fixed in the latest version by mapping the swagger datetime type to ZonedDateTime. If you're not,  you can use ```--type-mappings DateTime=ZonedDateTime,Date=LocalDate --import-mappings ZonedDateTime=java.time.ZonedDateTime,LocalDate=java.time.LocalDate``` to force the correct mapping..

[2016-02-18 07:35] andidev commented on #2921
So I guess that the jhi prefix suggestion means we need to prefix every service and controller and other things created with the angular factory method?
Should we also prefix the filenames?

[2016-02-18 07:38] andidev commented on #2921
Also what about the ui-router states? Should they also be prefixed?

[2016-02-18 07:42] karthilxg commented on #2890
@deepu105 Sure I can do that once I find the solution. But I thought you guys could help me finding the solution for this :)

[2016-02-18 08:37] kkorada commented on #1407
can someone tell me why async task exector is used in jhipster generated project

[2016-02-18 09:33] deepu105 commented on #2921
i dont think we need to prefix ui routers, lets do services first coz they
cause conflicts

Thanks & Regards,
Deepu

On Thu, Feb 18, 2016 at 3:38 PM, Anders Steiner <notifications@github.com>
wrote:

[2016-02-18 09:34] deepu105 commented on #2890
Im not very familiar with maven as I have used it rarely so I dont have an
answer for you

Thanks & Regards,
Deepu

On Thu, Feb 18, 2016 at 3:42 PM, Karthi <notifications@github.com> wrote:

[2016-02-18 09:44] #2907 closed

[2016-02-18 09:45] #2804 closed

[2016-02-18 10:17] jdubois commented on #2921
no I wouldn't prefix everything, only the minimum
@deepu105 btw we have "jh-alert" directive that you created, shouldn't it be "jhi-alert"?

[2016-02-18 10:50] cbornet commented on #2661
@gmarziou as for documenting with swagger annotations, it's already possible on entity fields with the "javadoc" field.
We could also annotate the REST mappings.

[2016-02-18 11:07] jdubois opened #2926 "Exclude directories from Spring Boot dev tools"
Directories can be excluded using spring.devtools.restart.exclude
See https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-devtools.html

->  apps like Elasticsearch or Cassandra, that store files in target/, add a lot of files which are watched for nothing, so performance would be better if those were excluded

This has to be confirmed, of course.

[2016-02-18 11:58] deepu105 commented on #2921
yes it needs to be renamed for consistency as well

Thanks & Regards,
Deepu

On Thu, Feb 18, 2016 at 6:17 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-18 16:26] geraldhumphries opened #2928 "jQuery error on sort when predicate has a period"
* **Overview of the issue**

When `jh-sort-by` is set to something with a period (ex. `address.id`) it will cause a jQuery error. I will open a pull request to fix this.

* **JHipster Version(s)**

Unreleased 3.0/master branch.

I will open a PR to fix this.

[2016-02-18 16:41] #2928 closed

[2016-02-18 16:56] deepu105 commented on #2282
closing this as its done to an extend improvement discussion will continue in #2869 and #2889

[2016-02-18 16:56] #2282 closed

[2016-02-18 17:26] alexandrepetrillo opened #2930 "Transactionnal on protected method"
In class CustomPersistentRememberMeServices, you set "@Transactionnal" on the public method processAutoLoginCookie.
My sonar say : "Non-public methods should not be "@Transactional""
And indeed , the TransactionnalInterceptor does not intercept this call.

Can you confirm, that this annotation is unsed ?

Thanks,
Best regards

[2016-02-18 17:39] geraldhumphries opened #2931 "Issue and pull request templates"
Issue and pull request templates are a new feature of GitHub: https://github.com/blog/2111-issue-and-pull-request-templates

There is already an issue template in `CONTRIBUTING.md` and guidelines for pull requests, so we can easily take advantage of this.

[2016-02-18 17:41] geraldhumphries commented on #2931
Oops, just saw this is a duplicate of #2916

[2016-02-18 17:41] #2931 closed

[2016-02-18 17:52] gmarziou commented on #1407
It's used for all methods that are annotated with `@Async`

[2016-02-18 17:56] gmarziou commented on #2661
I did not use your module, sorry I forgot about it. I will try it though as the authentication part is well covered.

[2016-02-18 18:06] jdubois commented on #2930
The annotation should not work on a protected method, so it can be safely removed.
However, Sonar is wrong, this would work if we were using AspectJ (which we are not, but Sonar doesn't know about it)

[2016-02-18 20:42] geraldhumphries commented on #2387
@jdubois @deepu105 what do you think about putting both the search and regular queries in `loadAll`?  Something like :
[code]

Or would it be better to separate them and use an if statement to choose the right query when the state loads?
[code]

@hirro if I make a pull request do you mind if I use some of your code?

[2016-02-18 20:44] geraldhumphries commented on #2387
I am leaning towards the first solution as it more resembles the activate pattern from the johnpapa style guide: https://github.com/johnpapa/angular-styleguide#style-y080

[2016-02-18 20:56] geraldhumphries commented on #2387
Also, would it be better to turn the `query` parameter into a query param instead of a path variable on the API? Right now it's a path variable, and because of that an empty query will throw a 404. That's why angular handled 404s in searches and redirected to a regular loadAll.

Like I said in the OP this change will require a new method in PaginationUtil for searches, but if we stick to a path va

[2016-02-18 21:28] jpsw commented on #2920
@atomfrede -- No, Im just using Eclipse JEE edition and installed from eclipse marketplace:
+ Gradle Integration for Eclipse
+ Gradle IDE pack

Does buildship-integration work better?

[2016-02-18 21:35] jpsw commented on #2920
Found the issue discussed in the apt-plugin project:

https://github.com/tbroyer/gradle-apt-plugin/issues/7

https://github.com/tbroyer/gradle-apt-plugin    (see not at the bottom: Usage with IDEs)

[2016-02-18 22:45] #2922 closed

[2016-02-18 22:46] #2920 closed

[2016-02-18 23:09] victorv977 opened #2932 "Unable to load application on production profile"
Hi All,

I just create a new application based on an existing yo-rc.json:

[code]

Then, build the project:
`./gradlew -Pprod bootRepackage`

And run the app:
`java -jar vmaxmanager-0.0.1-SNAPSHOT.war`

The app runs fine:
<img width="1059" alt="screen-shot-2016-02-18-18-04-14" src="https://cloud.githubusercontent.com/assets/1454910/13161187/2251cfb2-d66a-11e5-806e-138a139e8b40.png">

 But when I r

[2016-02-18 23:27] deepu105 commented on #2387
Im ok with the change if others agree
On 19 Feb 2016 04:57, "Gerald Humphries" <notifications@github.com> wrote:

[2016-02-18 23:52] jdubois commented on #2932
I confirm the issue in our v2.x branch.
This is because the gulp.js build didn't generate the "dist" folder, where the minified client application is supposed to be generated.
@deepu105 @atomfrede as you are using the same Gradle + Gulp.js stack, don't you also have this issue?

[2016-02-18 23:54] deepu105 commented on #2932
this was working well before, ill take a second look

Thanks & Regards,
Deepu

On Fri, Feb 19, 2016 at 7:52 AM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-19 00:08] jdubois commented on #2387
- For the loadAll method yes the first option is my favorite too
- For the path variable: I'm fine with our current design, but this can be
discussed. In fact Github uses a query param, for example for
https://github.com/search?utf8=%E2%9C%93&q=jhipster

BTW, you have "addresss", shouldn't this be "addresses" now we have the new
pluralization? Are you on the master branch?

On Fri, Feb 19, 2016 at

[2016-02-19 00:25] geraldhumphries commented on #2387
@jdubois regarding my pluralization, this is actually code from my project which I've done these changes for, and is still on 2.25.0

[2016-02-19 01:23] deepu105 opened #2933 "enable auto completion for jhipster cli commands"
Just to explore the possibility of doing a <TAB> completion for `yo jhipster` entries using something like below

https://github.com/0x00A/complete
or
https://github.com/f/omelette

Im not very sure on how to use this from a yeoman app

ping @0x00A @f guys, as you are the creator of these modules, do you think its feasible

[2016-02-19 06:16] atomfrede commented on #2932
It works on master. Need to check it on 2.x branch.

[2016-02-19 07:43] andidev opened #2934 "Entity type blob with MySQL DB only allows to store 65,535 bytes of data"
Discussion started at the end of issue #1703

Solution is to set type to a database specific type in liquibase scripts.
Blob type documentation for liquibase is found in this java source file

https://github.com/liquibase/liquibase/blob/master/liquibase-core/src/main/java/liquibase/datatype/core/BlobType.java

[2016-02-19 07:52] andidev commented on #2917
@deepu
Do you know what's the best way to access template files in another generator. Is the best way prefixing the path a `.. /.. /languages/templates`?

[2016-02-19 08:01] deepu105 commented on #2917
I dont get it, are you talking about accessing templates of a sub generator
from main generator?
On 19 Feb 2016 15:52, "Anders Steiner" <notifications@github.com> wrote:

[2016-02-19 08:10] cbornet commented on #2932
The gulp setup was fixed in #2686. It seems the branch doesn't include this fix.

[2016-02-19 09:59] cbornet commented on #2661
As for the REST mappings we could set nice definitions such as "Create a new foo" instead of "createFoo", have nicer operationId for generated code ("createFoo" instead of "createFooUsingPOST") and nicer definition of method parameters ("Foo to create" instead of "foo").
The code would look like this
[code]
If you're all OK, I can do the PR.
As for the domain, since it's already possible to use th

[2016-02-19 10:20] atomfrede commented on #2932
I can have a look at it later and fix it on the maintenance branch

[2016-02-19 10:22] deepu105 commented on #2932
may be we can do a backport and do a maintenance release

Thanks & Regards,
Deepu

On Fri, Feb 19, 2016 at 4:10 PM, Christophe Bornet <notifications@github.com

[2016-02-19 11:47] andidev commented on #2917
Yes

[2016-02-19 12:22] jdubois commented on #2933
Omelette looks more popular, and it's used by the Azure Cli !
That would be a great improvement, I didn't know this was possible. Would this be cross-platform as well?

[2016-02-19 12:23] jdubois commented on #2932
Yes this looks like an important bug, a maintenance release would be necessary.

[2016-02-19 12:32] deepu105 commented on #2917
Cant you just invoke the language sub generator by composition and let it
do the work?
On 19 Feb 2016 19:47, "Anders Steiner" <notifications@github.com> wrote:

[2016-02-19 12:34] deepu105 commented on #2933
Not sure I tried to do it in windows but doesnt seem to work so not sure if
im doing it rite or if its platform issue. Thats why posted as issue so
someone can try on linux/osx and see
On 19 Feb 2016 20:22, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-19 15:23] victorv977 commented on #2932
Should we wait for a new release? This patch #2686 fix the issue? do you have a patch?

[2016-02-19 15:25] atomfrede commented on #2932
I will see to provide pr for the 2.x branch such that we can do a maintenance release asap.

[2016-02-19 16:06] 0x00A commented on #2933
Interesting. i didn't see omelette before, looks pretty cool tbqh :) I'd love to know how either of these work for windows users.

[2016-02-19 16:07] jdubois commented on #2772
This is only for XAuth (and same thing for JWT which replaces it in 3.0), and indeed it looks like it's being used at all.

[2016-02-19 16:33] ruddell opened #2936 "Missing imports of constants (heroku/index.js)"
* **Overview of the issue**
The Heroku Generator throws a reference error stating SERVER_MAIN_SRC_DIR is not defined.  This is due to the recent change of using constants (#2923).

* **Motivation for or Use Case**
I was testing Heroku deployment.

* **JHipster Version(s)**
Master

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
`{
  "generator-jhipster": {
    "jhip

[2016-02-19 16:34] andidev commented on #2917
Maybe, not sure how to do that. I'm a bit unfamiliar with the new structure.

[2016-02-19 17:11] ruddell commented on #2876
I tested deploying an app with master this morning and the database configuration works great.

[2016-02-19 17:18] cbornet commented on #2876
thx @ruddell

[2016-02-19 17:18] #2876 closed

[2016-02-19 17:25] deepu105 commented on #2936
Can you PR?
On 20 Feb 2016 00:33, "Jon Ruddell" <notifications@github.com> wrote:

[2016-02-19 17:26] deepu105 commented on #2917
Check how the main app generator composes client generator and server
generator,  or even better check how the entity generator is composed for
the --with-entities flag
On 20 Feb 2016 00:34, "Anders Steiner" <notifications@github.com> wrote:

[2016-02-19 17:28] ruddell opened #2938 "Fix Travis Tests"
* **Overview of the issue**
Travis tests are throwing an error due to a recent change two hours ago 5e45778595041a6406153c77cd79b72f7456cf09

* **Motivation for or Use Case**
All travis tests fail

* **JHipster Version(s)**
Master

* **Suggest a Fix**
else -> fi in travis tests

[2016-02-19 17:30] ruddell commented on #2938
Fixed a few minutes ago ad3b37740258efa3bbbe0ea911bca168f5c597b3

[2016-02-19 17:30] #2938 closed

[2016-02-19 18:10] andidev commented on #2917
Ah thanks I'll do that!

[2016-02-19 18:39] gmarziou commented on #2661
This PR would be great, I'm not sure what you mean by the "javadoc" field.

I played with your module, it's much better than running the swagger-codegen manually.
I would have liked to be able to generate the code in a new module with its own pom.xml but that 's easy to do anyway.

[2016-02-19 18:50] rksanket commented on #2808
Does this thread mean jHipster is adding web components support - via Angular 1.5? Sorry if the question sounds naive.

[2016-02-19 18:56] rksanket opened #2939 "jhipster fat jar with undertow does not work - 404"
**Version : The Latest.**

Overview of the Issue:

I built a jhipster application. Added an entity. Built it with

`mvn -Pprod package`

Application runs fine with tomcat when I use `java -jar xyz.war`

But, since we need Undertow for high load scenarios, I simply change the maven dependency from Tomcat to Undertow in all the places (all the profiles) wherever tomcat starter dependency was mention

[2016-02-19 20:26] #2916 closed

[2016-02-19 21:13] ruddell commented on #2936
@deepu105 It's already there #2937

[2016-02-19 21:25] cbornet commented on #2661
See [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/templates/src/main/java/package/domain/_Entity.java#L37). javadoc is a field for entity and entity fields that will insert Javadoc and swagger annotations in the domain classes. It's mainly used with jhipster-uml, you don't have yeoman questions for this.
I thought about generating maven modules but I it feels

[2016-02-19 22:25] pascalgrimaud commented on #2857
thanks @thiagogcm !
Just did a PR for using the new gulp-cli

[2016-02-19 23:24] jdubois commented on #2939
Please don't cross-post with Stackoverflow, seehttp://stackoverflow.com/questions/35506882/jhipster-executable-jar-with-undertow-does-not-work-404
I'm closing this as this isn't a bug, and stackoverflow is the right place for this.

[2016-02-19 23:24] #2939 closed

[2016-02-20 00:31] gmarziou commented on #2661
I see, I don't use jhipster-uml.
I think that even with classic jhipster where we don't have the javadoc field we should have an `@ApiModel`annotation with some placeholder text for description just to give an example.

[2016-02-20 01:48] abhisheksharma85 commented on #274
So, I read these comment.
By the way I am new to jHipster, pretty much just downloaded yesterday.

We are about to start a new project where I think we need 2 DBs SQL for users and etc and Mongo for searching. Our application will have millions of images and search will have to be performed on Image Metadata. Each image has 50 fields, which user can search.

I tried something using native Spring F

[2016-02-20 02:00] deepu105 commented on #2808
We are upgrading to angular 1.5 and rewriting some directives to angular
components
On 20 Feb 2016 02:50, "rksanket" <notifications@github.com> wrote:

[2016-02-20 02:00] deepu105 commented on #2936
Ok thanks
On 20 Feb 2016 05:13, "Jon Ruddell" <notifications@github.com> wrote:

[2016-02-20 02:06] deepu105 commented on #2661
+1 for api modal annotation
On 20 Feb 2016 08:31, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-20 02:07] #2936 closed

[2016-02-20 02:08] deepu105 commented on #274
Did you try our elastic search option?
On 20 Feb 2016 09:48, "abhisheksharma85" <notifications@github.com> wrote:

[2016-02-20 07:54] jdubois commented on #274
And then you can either configure manually a second DB or wait for JHipster 3.0 with our microservice options (and btw the gateway in JHipster 3.0 can have 2 DBs).

[2016-02-20 08:28] deepu105 commented on #2888
you were right the changes are not worth the value

[2016-02-20 08:28] #2888 closed

[2016-02-20 08:54] jdubois commented on #2661
Yes but that means everyone will have those annotations, including people not using Swagger. I'm not totally happy with this, but I don't see another solution.

[2016-02-20 18:21] jdubois opened #2948 "[FEATURE] Consider using Undertow again"
Very interesting discussion [here on StackOverflow](http://stackoverflow.com/questions/35506882/jhipster-executable-jar-with-undertow-does-not-work-404), the comments are worth reading.

Concerning our microservices approach, there is more to add:

- Microservices don't necessary need GZip encoding (this should be tested), and won't have Websockets (as the gateway probably won't support it - at le

[2016-02-21 10:38] geesen commented on #1370
Although the issue is closed, websocket with (x-auth) token based authentication is still not working.

To get that working: Similar to the solution for oauth you have to pass the token as a query param to the url. Additionally, you have to tell the authfilter to look for the parameter.

In the `XAuthTokenFilter.java` replace

    String authToken = httpServletRequest.getHeader(XAUTH_TOKEN_HEADER_

[2016-02-21 10:51] geesen commented on #2807
I just posted a solution for xauth in #1370.
And I think, it could also fit for JWT. If you think so, I could make a PR...

[2016-02-22 02:55] wdroste commented on #2948
My group has been using JHipster for the last year and created 3 applications on it, using Undertow w/o WebSockets.  The Gzip support is not important to us since we always place Nginx in front of the application.

In all the applications we removed all profiles except for dev and prod. It would be nice if part of the generation you could optionally choose the other profiles.

[2016-02-22 05:42] deepu105 commented on #2948
@wdroste may be you can help @rksanket  here https://github.com/jhipster/generator-jhipster/issues/2939

[2016-02-22 09:17] jdubois commented on #1370
@geesen yes you are totally right!! X-Auth is replaced by JWT (works the same way, but it's standard and we use a library for that), and there is still the same issue, of course.
This is tracked on this new issue: #2807
-> this is very important for me, so a PR is really warmly welcome. Don't hesitate to comment on that other ticket, and send a PR (even if it's not perfect, the most important thin

[2016-02-22 09:17] jdubois commented on #2807
@geesen yes, please do!

[2016-02-22 09:38] jdubois opened #2954 "The Gateway should only forward the "/api" and Swagger URLs"
Currently the gateway forwards applications automatically, which is the default with Zuul.

However, for security reasons, we shouldn't forward everything, like all the "/info" URLs.

So the gateway should be reconfigured to only forward URLs to:

- "/api": where all the application's APIs are
- "/v2/api-docs": where Swagger is -> this should only work in "dev" mode, not "prod" mode (still for sec

[2016-02-22 09:39] #2747 closed

[2016-02-22 09:48] gmarziou commented on #2954
Yes and also the SecurityConfiguration of micro services applications should be largely simplified.

[2016-02-22 11:24] qmar opened #2956 "How to debug 'Your request cannot be processed'?"
I have a issue running JHipster. I've generated a base project and configured it to html5 clean-urls. I've configured a connection to postgres database. Now when I try to run it (spring-boot:run) in *prod* profile it starts succesfuly and gives me the adresses to access. The problem is that when I enter the address all I get is:

How to debug it? Console is empty, I've tried to setup breakpoints i

[2016-02-22 11:27] deepu105 commented on #2956
did you follow this https://jhipster.github.io/tips/010_tip_configuring_html_5_mode.html if not check it out.

Also please follow issue guidelines.

Im closing this as its not a jhipster bug, if you still have issues plz open a SO thread

[2016-02-22 11:27] #2956 closed

[2016-02-22 11:30] deepu105 commented on #2271
this would be nice to have for 3.0 @wmarques are you interested to take this up? since @jdubois mentioned that your interest is in client side stuff!

[2016-02-22 13:10] geesen commented on #2807
Added PR #2957

[2016-02-22 13:28] wmarques commented on #2271
@deepu105 Yes I started working on it. Should i do a pull request for each rule I applied ? Or should I do a big pull request once I've done applying all the rules ?

[2016-02-22 13:30] cbornet commented on #2271
I'd say incremental. Big PR is big trouble.

[2016-02-22 14:50] deepu105 commented on #2271
Incremental plz, may be do one module at a time like in the issues title
comments. Do entity templates first. Then do admin modules and then
everything else
On 22 Feb 2016 21:31, "Christophe Bornet" <notifications@github.com> wrote:

[2016-02-22 14:51] jdubois opened #2960 "Production builds are broken on both master and v2.x_maintenance branches"
Our production build is broken, running `mvn -Pprod`:

- On the `v2.x_maintenance` branch, with all default options (which now use `gulp`by default), we are still in "dev" mode: the front end still has the "dev" banner (but is minified??) and the backend still uses H2. This follows a recent backport of code from the master (v3) branch from @atomfrede
- On the `master` branch (v3 code), the server

[2016-02-22 14:56] dearnani opened #2961 "can we jhipster-hystrix dashboard with zuul / Ribbon proxies? May be it should be a separate thread...."
##### **Overview of the issue**
can we jhipster-hystrix dashboard with zuul / Ribbon proxies?

##### **Motivation for or Use Case**
Gives effective fault tolerance mechansim

##### **JHipster Version(s)**

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Bro

[2016-02-22 14:58] deepu105 commented on #2960
how are the travis builds passing then :O

Thanks & Regards,
Deepu

On Mon, Feb 22, 2016 at 10:51 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-22 15:02] jdubois commented on #2960
- For the front end -> those tests don't check the minified builds or the dev banner
- For Liquibase -> no idea!!

[2016-02-22 15:13] jdubois commented on #2961
I don't really understand your issue, here...
If you're talking about JHipster 3.0, we already use Ribbon with Zuul.

[2016-02-22 15:13] #2961 closed

[2016-02-22 15:24] pascalgrimaud commented on #2960
@deepu105 : I never put the "curl" test on http://localhost:8080 so the build can be green even the app didn't start. I could put it but sometimes, travis didn't manage to start the app, so we'll have false failed build.

See my PR https://github.com/jhipster/generator-jhipster/pull/2950 and comments
There are some issues I tried to resolve this last weekend

[2016-02-22 15:27] deepu105 commented on #2960
we should merge that asap

Thanks & Regards,
Deepu

On Mon, Feb 22, 2016 at 11:24 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-02-22 15:56] atomfrede commented on #2960
Is the dev banner also visible on the master branch? I must admit I didn't noticed the banner, just looked for minified js and css in firebug.

[2016-02-22 15:57] dearnani commented on #2961
nice to hear about the Ribbon with zuul usge, well its not an issue, its a
feature - hystrix dasboard for micro services :)

On Mon, Feb 22, 2016 at 8:43 PM, Julien Dubois <notifications@github.com>
wrote:

--
Thanks 'n Regards
@_sunkara

[2016-02-22 16:08] muralihr opened #2962 "production not enabled in TOMCAT"
* *I have built the production WAR FIle and deployed in the TOMCAT , but production not enabled in TOMCAT.

*I have set the JAVA_OPTS in ubuntu

  -Dspring.profiles.active=prod is enabled ;

* **Motivation for or Use Case**

My production system is very slow - http://pondy.openrun.com:8080/heritageweb
* **JHipster Version(s)**
NA

* **Entity configuration(s) `entityName.json` files generated in th

[2016-02-22 16:38] gmarziou commented on #2962
This is not a JHipster issue, please post on stackoverflow.

[2016-02-22 16:38] #2962 closed

[2016-02-22 16:50] jdubois commented on #2960
The master branch isn't starting because of the Liquibase issue, so I don't know

[2016-02-22 18:51] amitjindal commented on #2848
@moifort Could you please guide us if we were to start a JWT project and add some classes to support Social auth, how would we go about that?
Or any other alternate way to do this in a JWT project.

Thanks!

[2016-02-22 19:17] amitjindal commented on #2848
Here's what I did:

I created a JWT project. Then manually edited the .yo-rc.json and set:
`"enableSocialSignIn": true,`

After that when I regenerated, I am able to get the register with Google+ Working. However the login is not working (expected). The social login is not getting registered in Spring security. I think I need to make some changes in SecurityConfiguration.java to get this to work (

[2016-02-22 19:37] atomfrede commented on #2960
@jdubois I've fix the production build on v2.x-maintenance

[2016-02-22 19:59] jdubois commented on #2960
Great, thanks @atomfrede !! I'll test this and do the release tomorrow

[2016-02-22 20:22] atomfrede commented on #2960
@jdubois using ``gradlew -Pprod`` on master with psql works fine for me.

[2016-02-22 20:26] #2807 closed

[2016-02-22 20:53] jdubois commented on #2960
Yes it's working fine in the v2x_maintenance branch thanks to @atomfrede
But in the master branch we still have the Liquibase error -> can someone confirm this doing `mvn -Pprod`? This looks really strange, and as @deepu105 says why don't we see this in Travis?

[2016-02-22 21:40] atomfrede commented on #2960
I can't reproduce it:

* created a new project with psql (everything else default)
* startup the production docker container
* mvn -Pprod

-> everything works fine

[2016-02-22 22:43] pascalgrimaud commented on #2960
Same. I can't reproduce it, like Frede.
I tested it with mysql and psql
mvn -Pprod works fine for both, and no dev banner

[2016-02-22 23:10] jdubois commented on #2960
Argh it's just be being stupid! Lost 2 hours because I misconfigured my database!!!
But at least I had the pleasure to test the Docker Compose files by @pascalgrimaud -> that's really impressive!!

[2016-02-22 23:10] #2960 closed

[2016-02-23 00:55] pascalgrimaud opened #2964 "Entity with MySQL: length of foreign key"
##### **Overview of the issue**

With MySQL, when using relationship with entities, there can be this error when starting the application:

[code]

It happens when the FK is too long (>64)

##### **JHipster Version(s)**

Current

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jh

[2016-02-23 01:02] deepu105 commented on #2964
I thought MySQL doesnt have such restrictions

Thanks & Regards,
Deepu

On Tue, Feb 23, 2016 at 8:55 AM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-02-23 04:15] tpdi commented on #1829
geraldhumphries's solution:

[code]

gets me the dreadful bufferutil / node-gyp error:
[code]

npm install does not install npm in the local node_modules directory.

**This is what works (for me, on Windows 7):**
I copied the npm directory from the node install, to the local node_modules:

` cp -r /c/Program\ Files/nodejs/node_modules/npm node_modules/npm  `

Then

`gradle -Pprod bootRepackage   `

[2016-02-23 04:42] deepu105 opened #2965 "set html5 mode as default"
As part of 3.0 should we set `$locationProvider.html5Mode(true);` for angular urlmode

we already have a tip for this http://jhipster.github.io/tips/010_tip_configuring_html_5_mode.html

It seems that this mode is better for SEO and analytics what do you guys think?

@brevleq you wrote the tip any comments on this?

[2016-02-23 04:49] deepu105 commented on #2932
closed via #2943

[2016-02-23 04:49] #2932 closed

[2016-02-23 04:51] deepu105 commented on #2921
@andidev Im assigning this to you hope its ok for you

[2016-02-23 04:52] deepu105 commented on #2113
this will be done as part of https://github.com/jhipster/generator-jhipster/issues/2271

[2016-02-23 05:45] andidev commented on #2921
Yes that's okey. I'll work on this as soon as I'm done with #2917

[2016-02-23 06:34] cicoub13 commented on #2965
👍

[2016-02-23 10:27] jdubois commented on #2965
I'm not a big fan of having this controller in the code - I'm not sure how it's going to be used, what are the impacts in terms of performance and maintenance?
For SEO I have no idea if it does anything.

[2016-02-23 11:20] deepu105 commented on #2965
I was reading some articles which claims that html5mode clean urls are
better for SEO and stuff. I dont think there is any performance impact

Thanks & Regards,
Deepu

On Tue, Feb 23, 2016 at 6:28 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-23 12:13] francisyuya opened #2966 "jhipster compilation error"
* **error during compilation**

* **Motivation for or Use Case**

* **JHipster Version(s) : 2.27.0**

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

* **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

* **Browsers and Operating System : google chrome, Windows 7**

* **[INFO] Scanning for projects...
[INFO]
[INFO] ---------

[2016-02-23 12:18] jdubois commented on #2966
Please follow the guidelines....
Looks quite obvious that you are not using Java 8, if you can run `mvn compile` you should know (there is a check that will forbid you to use an older version of Java)

[2016-02-23 12:18] #2966 closed

[2016-02-23 12:24] francisyuya commented on #2966
hi.
I'm using java version "1.8.0_25"

[2016-02-23 12:24] jdubois commented on #2966
Did you try `mvn compile`?

[2016-02-23 12:27] francisyuya commented on #2966
Yes, and i have the same error.

[2016-02-23 12:31] atomfrede commented on #2966
Sure you are using a jdk in version 8 not only a java runtime?

[2016-02-23 12:31] gmarziou commented on #2966
OK for your java version, what about javac version?
What does return `javac -version`?

[2016-02-23 12:33] jdubois commented on #2966
Can you try with the Maven wrapper, using `mvnw.cmd compile`?
And send us your Maven configuration: `mvn -v`

[2016-02-23 12:33] francisyuya commented on #2966
My Javac version is 1.8.0-ea

[2016-02-23 12:38] francisyuya commented on #2966
"mvn -v"  command return :
Apache Maven 3.1.1 (0728685237757ffbf44136acec0402957f723d9a; 2013-09-17 16:22:22+0100)
Maven home: C:\apache-maven-3.1.1\bin\..
Java version: 1.8.0-ea, vendor: Oracle Corporation
Java home: C:\Program Files (x86)\Java\jdk1.8.0\jre
Default locale: fr_FR, platform encoding: Cp1252
OS name: "windows 7", version: "6.1", arch: "x86", family: "windows"

and "mvnw.cmd compile"

[2016-02-23 12:40] gmarziou commented on #2966
ea means early access, please upgrade.

[2016-02-23 13:33] brevleq commented on #2965
I've created that tip because of SEO. The first time I published my project, it was simply "ignored" by Google, Bing, etc. In that time, the only way to get SEO was make the server process the web crawler requests in a different way. You can see more in these links:
[http://stackoverflow.com/questions/7655634/hashbang-and-google-seo](url)
[https://www.mobomo.com/2014/09/seo-for-single-page-applica

[2016-02-23 15:16] francisyuya commented on #2966
Thanks.

I have upgrade my javac version to 1.8.0_25 and when i try to recompile my program, the error has change to :

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building blog2 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] >>> spring-boot-maven-plugin:1

[2016-02-23 15:50] jdubois commented on #2966
Can you reproduce your issue on our devbox at https://github.com/jhipster/jhipster-devbox ?
You seem to have lots of configuration issues on your machine, and we can't help you if you have an outdated version of Java, or if you don't have the necessary permissions.

[2016-02-23 15:55] jdubois commented on #2926
After testing, excluding those folders don't make any difference, so I'm not excluding them.

In the gateway, using the embedded Cassandra is much more CPU-intensive than using an external Cassandra, but this isn't caused by those folders (I have excluded them, and moved them outside of the project, without any effect).

[2016-02-23 15:55] #2926 closed

[2016-02-23 16:03] #2930 closed

[2016-02-23 16:22] jdubois commented on #2716
Indeed, calling `toString()` on an object that can do lazy-loading is a source of issue.

I don't really understand how you got the aspects working the other way around, especially as the Transactional annotation is running with the "lower precedence" (have a look at the `EnableTransactionManagement` class), but yes depending on those other beans you included, who knows what can happen.

Now in a

[2016-02-23 16:22] #2716 closed

[2016-02-23 16:39] jdubois commented on #2224
Indeed, the `auth` service is only for authenticating users, and it doesn't store more information about them, like their login or email address.
That could be interesting for some people, but for other people we shouldn't store unused information, in particular if it's sensitive information.
If you want to have all user information, you need to do a REST request using the `account` service, and t

[2016-02-23 16:39] #2224 closed

[2016-02-23 16:47] PierreBesson commented on #2954
Currently, micro-services don't have a SecurityConfiguration.java file as the JHipster's one was dependent on userDetailsService so it could not be kept while I was working on --skipUserManagement (recently the flag is used by default for microservices) but now I realize that it should have one, maybe by enriching the current template (_SecurityConfiguration.java)or by doing a new one (_Microservi

[2016-02-23 17:12] jdubois commented on #2360
I just tried something very similar on our `master` branch and it worked without any issue.

- Created a "Foo" entity, which has uses a DTO
- In the DTO, I added a Collection of "Systems"
- In the AngularJS controller, I added an array of Systems, with 2 Strings "aaa" and "bbb" in it

-> the logger gets those Strings in the DTO

    i.g.jhipster.aop.logging.LoggingAspect   : Enter: io.github.jhips

[2016-02-23 17:12] #2360 closed

[2016-02-23 17:16] jdubois commented on #2244
For me you should delete each index in the "before" method of your test -> you can't run tests if you are not sure the state is correct, and you can't rely on the user to do this (running `mvn clean` manually isn't an option).
So yes you need to delete them -> if the fastest way is to do a `.deleteIndex("_all")`(which I believe is the case), then just do it in the "before" method. It might take so

[2016-02-23 17:19] cbornet opened #2968 "Choice of type of application"
The first question when running ```yo jhipster``` asks to choose between Monolithic and Microservice application.
I think that users that don't know or care about microservices should be guided with something like
[code]

[2016-02-23 17:19] wdroste commented on #2948
@deepu105  it looks like the stackoverflow has a checkmark on the solution, are you referring to helping the JH 3.0 release?

[2016-02-23 17:22] jdubois commented on #2968
Yes -> note that this is documented that when you don't know what to choose, the default option is a safe bet.
But we need to have something more clear, as "monolithic" doesn't sound cool.

[2016-02-23 17:24] geraldhumphries commented on #2244
Is there some kind of beforeAll for the integration tests? Something that will run once before integration tests are done for any entity?

[2016-02-23 17:27] jdubois commented on #2954
OK, we indeed need a `SecurityConfiguration` for the microservices, I didn't know it was removed.

"/api" should be secured, and the rest shouldn't be exposed anyway (that's the whole point of this ticket).

@PierreBesson we can't have something like `url: http://172.17.0.1:8082/v2/api-docs` because it's not using Eureka to find the server -> we need to use the registry to find the services.

Mayb

[2016-02-23 17:51] cbornet commented on #2244
You mean that is run before each test ? Or before the tests for a given entity ?

[2016-02-23 18:08] ruddell commented on #2965
I didn't post this because it isn't specifically generator related but when following this tip, any gulp reload on a path other than '/' gives an error such as:  `Cannot GET /register` Directly navigating to /register works for port 8080 but not port 9000 which gulp uses.  So just a heads up that gulp would need changes.

And as mentioned above, you have to manually add paths for any added pages l

[2016-02-23 18:19] geraldhumphries commented on #2244
Something that is run before any integration tests are performed. Calling `deleteIndex("_all")` there would be the best case scenario - if not, then `deleteIndex(Entity.class)` before each of the Elasticsearch tests is the second best.

[2016-02-23 20:37] gmarziou commented on #2965
Another reason for doing it is that it's the default mode in angular 2.

[2016-02-23 21:06] gmarziou commented on #2968
What about "classical JHipster application (recommended for simpler deployment)"?

[2016-02-23 21:13] gmarziou commented on #2954
I agree with Julien, the gateway should expose only what is required otherwise we could end up increasing attack surface.
/logs is already coverred by ELK, for ther other urls, if we need this, we should consider doing it from the regsitry because it knows all services but is not accessible from the outside.

[2016-02-23 22:25] jdubois commented on #2244
Either before each test (with JUnit's Before annotation), or only once before each class (with the BeforeClass annotation - if that's a performance optimization).
That's what we already have for testing REST resources, for example.

[2016-02-23 22:28] jdubois commented on #2965
I know SEO is important, and that's why we have Thymeleaf -> if you want top notch SEO, do a real Web page.
Concerning the controller, I'm worried if we have to modify it for each new page, and if we have to modify Gulp... Seems like a lot of trouble to me, but if there is a clean solution for that no problem for me.

[2016-02-23 22:45] gmarziou commented on #2244
Would it make sense to use a JUnit `@Rule` for this?

[2016-02-23 22:54] jdubois commented on #2244
Oh I'm not used to this kind of new stuff, but yes it could help to reuse this same code over several different tests.
You're such a hipster :-)

[2016-02-23 22:57] jdubois commented on #2968
`Monolithic application (recommended for simple projects)`
And then we will need to document all this, anyway.

[2016-02-23 23:00] jdubois commented on #2648
OK I'm closing this as I guess we have settled this:

- For imports, use Liquibase. This is what we already do for users, for example.
- For exports, use a third-party JS library that does the trick -> if someone has experience with one that works well, please submit a tip

[2016-02-23 23:00] #2648 closed

[2016-02-23 23:01] gmarziou commented on #2244
:-)

I remembered it from an article about using @Rule to start a docker container before running tests.

[2016-02-23 23:09] jdubois commented on #2659
Sorry I needed time to understand your need!
Only trouble for me is that those tables would be empty by default (of course we can't know what you want to put inside), and many people wouldn't use them, and would have the performance hit of running those each time for nothing.
As Liquibase is already making our boot time much longer, I'm really worried adding all those files.

[2016-02-23 23:37] #2772 closed

[2016-02-23 23:52] jdubois commented on #2774
I'm updating the NPM dependencies, the commit will be referenced here soon.
We should do this now, and then do a freeze: JHipster 3.0 is coming closer and closer, and we can't move all the libraries all the time.

[2016-02-23 23:54] mraible commented on #2774
@jdubois Do you have a particular date in mind for releasing JHipster 3.0? I'd be happy to help with documentation. Maybe we should create tickets for that?

[2016-02-23 23:59] jdubois commented on #2774
Yes, I have a date in mind: I would like to release it 1 month before Devoxx FR, so we have time to prepare our talks and debug stuff :-)

- That means March, 21th
- My trainees @PierreBesson @wmarques will also perform some intensive performance tests of the micro-services architecture before the release, so that should be ready for March, 14th
- We already have some documentation like at https:/

[2016-02-24 00:07] deepu105 commented on #2948
You are welcome for that as well
On 24 Feb 2016 01:19, "Will Droste" <notifications@github.com> wrote:

[2016-02-24 00:15] deepu105 commented on #2965
I dont think we need to do for each controller, it meeds to be set only
once for front end, only thing is to find out a way to do a generic url
rewriting pattern on backend.

Anyone interested to try?
On 24 Feb 2016 06:28, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-24 00:41] deepu105 commented on #2968
We have a lot to document can you update this in the 3.0 documentation
ticket plz
On 24 Feb 2016 06:57, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-24 01:22] deepu105 commented on #2774
@mraible we have a specific documentation ticket #2785 here

[2016-02-24 04:24] deepu105 commented on #2774
@jdubois I thinks its good to set a freeze date else we might just keep on adding stuff

[2016-02-24 04:55] #2808 closed

[2016-02-24 04:59] deepu105 opened #2971 "Error in console during protractor tests"
##### **Overview of the issue**

The protractor `gulp itest` task is showing some stack trace errors in travis console

[code]

##### **JHipster Version(s)**

Master

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

ref https://travis-ci.org/jhipster/generator-jhipster/jobs/111234950#L3891

@mraible @pascalgrimaud any idea?

[2016-02-24 05:00] deepu105 commented on #2971
btw the actual tests are passing

[2016-02-24 06:13] cbornet commented on #2659
I will do some tests to measure the performance impact. Also if you think those files will not benefit to enough people, I can certainly do it as a module.

[2016-02-24 06:21] cbornet commented on #2648
OK.
One note though: the idea is to give the end user the possibility to import data, not the developper. So liquibase can't be used here and you have to use a 3rd party lib like for exports.

[2016-02-24 06:29] cbornet commented on #2244
Could we use @Rule to start the embedded cassandra ?

[2016-02-24 07:29] jdubois commented on #2244
Yes, in fact this is what we did for a client something like 1 year ago.
We had some great improvements over the "normal" Cassandra Unit, I need to
ask my coworker @jxerome if he would be OK to do this.
Le 24 févr. 2016 7:29 AM, "Christophe Bornet" <notifications@github.com> a
écrit :

[2016-02-24 07:48] gmarziou opened #2972 "Replace jshint by eslint"
In recent PR, we had some some issues with indentation in js files.

For an Ionic project, I used [eslint](http://eslint.org/) rather than jshint and it was able to enforce indentation rules, it was also better in other aspects. There's also [an angular plugin](https://github.com/Gillespie59/eslint-plugin-angular) which checks few John Papa's Guidelines.

Any comment?

[2016-02-24 07:52] atomfrede commented on #2972
We have replaced jshint by eslint. Its much easier to setup and to configure, so I vote +1

[2016-02-24 08:00] deepu105 commented on #2972
+1

Thanks & Regards,
Deepu

On Wed, Feb 24, 2016 at 3:53 PM, Frederik Hahne <notifications@github.com>
wrote:

[2016-02-24 08:03] jdubois commented on #2972
OK +1 then, but we need to freeze our librairies ASAP for our 3.0 version

[2016-02-24 08:51] jdubois commented on #2755
Yes, and we should also be able to generate some kind of "javadoc" from those functions -> anyone knows how this works?
@cbornet do you want to make a PR with the links in https://github.com/jhipster/jhipster.github.io/tree/v3_preparation ?

[2016-02-24 08:52] #2968 closed

[2016-02-24 08:54] jdubois commented on #2793
Let's not waste time with it: maintaining the Grunt build would be a huge task, I don't think anybody wants to do this.
If someone outside of the dev teams wants to do a tip or a module, he's indeed very welcome to do so, but concerning the dev team we just have too much work already.

[2016-02-24 08:54] #2793 closed

[2016-02-24 08:56] jdubois commented on #2659
OK, if you see how to do a module for it (I don't!!), can you do it that way?
And then, if we see everyone wants this and that this isn't a performance issue, we can put it back in the main generator.
It's a good way of testing ideas, instead of discussing :-)

[2016-02-24 08:56] #2659 closed

[2016-02-24 09:09] jdubois opened #2974 "Add a SecurityConfiguration for microservice applications"
This is not generated for microservices applications and is mandatory.

Should be a very simplified version of the usual SecurityConfiguration -> so simple in fact that it might be in another template

[2016-02-24 09:37] pascalgrimaud commented on #2971
I think you have the same stacktrace in local, right ?
I don't think it comes from Travis

[2016-02-24 10:24] deepu105 commented on #2971
its not from travis, I was mentioning that I found it in our travis run logs

Thanks & Regards,
Deepu

On Wed, Feb 24, 2016 at 5:37 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-02-24 10:42] fraf opened #2976 "JDL Studio doesn't generate .jdl file"
##### **Overview of the issue**

URL : https://jhipster.github.io/jdl-studio/
Exported .jdl file is 0Ko

##### **Motivation for or Use Case**

Try to export JDL (I don't know what it contains)

##### **JHipster Version(s)**

Link from jhispter website release notes

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

##### **Entity configuration(s) `entityName.json

[2016-02-24 10:42] jdubois commented on #2976
Yes I had the same issue yesterday cc @deepu105

[2016-02-24 10:42] notflorian commented on #2971
Quoting @dilipkrish the main developer of Swagger in springfox/springfox#1146 :

Here springfox/springfox#1100 he also said that in fact the fix will be in the version 2.4.0, which will be released very soon.

[2016-02-24 11:03] deepu105 commented on #2976
fixed via https://github.com/jhipster/jdl-studio/commit/d21417fbf8173a3551b68298b2a163049c480db8?diff=unified

Now you can do `ctrl + s` | `cmd + s` to save as .jh file

[2016-02-24 11:03] #2976 closed

[2016-02-24 12:47] gmarziou commented on #2972
OK, I can work on this on Friday, I'll make a status then.

[2016-02-24 12:55] PierreBesson commented on #2954
In this PR, I have added a default prod config for the gateway. The idea is that the routes should be defined in the config server like as I did on [jhipster/jhipster-registry/#9](https://github.com/jhipster/jhipster-registry/pull/9/files). When my PR will be merged this should be working out of the box.

[2016-02-24 13:05] cicoub13 commented on #2972
I've just tested eslint with eslint-plugin-angular and there is **16448 errors** and 2548 warnings (simple monolithic application without entities) !!!

Most encountered errors :
* You should use the angular.toJson method instead of JSON.stringify
* You should not use directly the "undefined" keyword. Prefer angular.isUndefined or angular.isDefined  angular/definedundefined
* You should use the $d

[2016-02-24 13:16] gmarziou commented on #2972
Well I didn't expect our code to be that far from the default rules. Anyway, these are valid rules, I'll see whether we can phase their adoption.

[2016-02-24 13:55] cicoub13 commented on #2972
My bad, only **1470** errors and 142 warnings (i was including bower_components :-1: ).

A lot of "Use controllerAs to set properties on $scope" ([here](https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y031))

[2016-02-24 14:24] deepu105 commented on #2972
that work is underway

Thanks & Regards,
Deepu

On Wed, Feb 24, 2016 at 9:55 PM, Cyril Beslay <notifications@github.com>
wrote:

[2016-02-24 15:20] gmarziou commented on #2954
I generated a micro service app, I don't understand why it has a Liquibase schema with users, authorities and related entities, repositories, dtos and rest controllers.

Same for LogResource.

It seems to me that we should keep only audit events as users and authrotities should ba managed by gateway.

[2016-02-24 16:17] PierreBesson commented on #2954
@gmarziou You are right ! It seems that recent refactoring has invalidated some of my PR (#2910). Even User.java is present !

[2016-02-24 16:18] jdubois commented on #2954
This is not normal, @PierreBesson can you do a check of what happened? Hopefully it's not my fault :-)

[2016-02-24 16:24] jdubois opened #2980 "[Entity sub-generator] The "blob" type is broken"
This is for the `master` branch, I haven't checked the maintenance branch.

Using the entity sub-generator, creating a new blob (I tried "image" and "file"), the UI is broken: there is just a comma, and an upload button, but it doesn't seem to upload anything and the "view" and "edit" button just show the comma.

I am checking this as part as #2774 as I'm updating the Bower dependencies: there is

[2016-02-24 16:25] andidev commented on #2659
+1 I also do this

[2016-02-24 16:27] jdubois commented on #2774
So I updated NPM, Bower, Maven, Gradle -> we are only left with Travis and Docker, @pascalgrimaud can you have a look? But for me this can be closed now!

[2016-02-24 16:34] pascalgrimaud commented on #2774
yes I will look it tonight to know if we could update our docker-compose files
it won't change anything just to be "hipster" and use the latest version as possible

[2016-02-24 16:39] pascalgrimaud commented on #2774
Oh I have to update jhipster-travis-build too !

[2016-02-24 17:36] jdubois commented on #2974
Done with https://github.com/jhipster/generator-jhipster/commit/1436271a98e8b81b170f4869f4e5ff1bbe8201d2

cc @PierreBesson

[2016-02-24 17:36] #2974 closed

[2016-02-24 17:57] PierreBesson commented on #2954
OK, this is weird, I spent a lot of time on this and could not find why it is not working. I generated a lot of microservices apps and sometimes it generates the user management, sometimes not.

[2016-02-24 19:25] jdubois commented on #2971
Yes I know about this issue, it's what @notflorian says -> I'm closing this as this isn't important and will be solved when we upgrade SpringFox

[2016-02-24 19:25] #2971 closed

[2016-02-24 19:34] jdubois commented on #2924
I added to OAuth2 to your title, as this is what is causing the issue, and that wasn't obvious.
Looks like you needed found an issue when the token needs to be refreshed -> could you do a PR with your fix? As you say there could be a better way, could you explain it?

[2016-02-24 23:23] pascalgrimaud commented on #2774
Docker images have been update : https://github.com/jhipster/generator-jhipster/pull/2983
[jhipster-travis-build](https://github.com/jhipster/jhipster-travis-build) has been updated too, to keep only gulp libs (I removed all grunt libs) -> hope it won't break anything. I can't test tonight because Travis is tired

[2016-02-24 23:23] #2774 closed

[2016-02-24 23:26] jdubois commented on #2790
Yes that's cool!
As this has been opened for 20 days, are you working on it? Does anyone else wants to do this?
Otherwise we have too much work at the moment, if nobody works on it I will close it.

[2016-02-25 00:42] deepu105 commented on #2774
@jdubois did you update npm of the generated project template as well?

[2016-02-25 00:42] deepu105 commented on #2980
Ping @andidev
On 25 Feb 2016 00:24, "Julien Dubois" <notifications@github.com> wrote:

[2016-02-25 05:04] deepu105 opened #2984 "Microservice build is broken [master]"
The Travis microservice build is failing in master with below trace

[code]

[2016-02-25 06:08] karthilxg commented on #2890
https://github.com/spring-projects/spring-boot/issues/1030

See http://stackoverflow.com/questions/24025004/spring-boot-maven-war-overlay/24040465 for more details

[2016-02-25 06:59] deepu105 commented on #2984
another build has even weirder error
[code]

[2016-02-25 07:00] deepu105 commented on #2984
I have no idea how the package become `io.github.jhipster.app1.security`

[2016-02-25 07:17] deepu105 commented on #2984
when i tried to run a microservice app locally its giving below error. I havent started gateway or registry. but shouldnt the microservice app be runnable on its own?

[code]

[2016-02-25 07:18] deepu105 commented on #2984
cc @PierreBesson @jdubois @gmarziou

[2016-02-25 07:19] jdubois commented on #2984
Yes this is my fault, I'll correct that in a couple of hours.
Le 25 févr. 2016 8:18 AM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-02-25 08:14] cicoub13 commented on #2855
Twitter API gives email for whitelisted applications (https://dev.twitter.com/rest/reference/get/account/verify_credentials)

[2016-02-25 08:57] andidev commented on #2980
Is there any console error? I will have a look as soon as I have time though my todo list is growing a bit to fast so if somebody feels like looking at it feel free.

[2016-02-25 09:51] superandrew commented on #2807
when this change is deployed, what should I do to update my code? should I regenerate the application with `yo jhipster` or is it automatically updated?

[2016-02-25 10:01] erikkemperman opened #2985 "ErrorDTO constructors are package-private."
##### **Overview of the issue**

`ErrorDTO` constructors are package-private.

##### **Motivation for or Use Case**

We've separated the JHipster-generated classes from our own in terms of package structure, and now I'd like to expand the `ExceptionTranslator` functionality in a new class in our own package. Unfortunately I can't create `ErrorDTO` objects there, because their constructors are pack

[2016-02-25 10:03] deepu105 commented on #2807
unfortunately next version will be a major and hence will have many
breaking changes, so you may not be able to just upgrade your existing
apps. But we can backport some fixes to 2.x maintenance this could be one

Thanks & Regards,
Deepu

On Thu, Feb 25, 2016 at 5:52 PM, Andrea Maschio <notifications@github.com>
wrote:

[2016-02-25 10:05] deepu105 commented on #2985
I dont see any reason for these to be package private @gzsombor since you coded this any comments plz?

[2016-02-25 10:10] #2387 closed

[2016-02-25 10:20] superandrew commented on #2807
ok, anyway if I bring these changes manually in the current code, is it enough or I should re-generate the application?

Thanks
Andrea

[2016-02-25 10:28] jdubois commented on #2984
Oh in fact it's not totally my fault: for some reason our gateway and microservice builds are not using JWT authentication, and they normally only work with JWT!
This is because the `.yo-rc.json` file has a configuration that is not possible, if you use the normal Yeoman questions/answers.
And so we end up with a compilation error on the "TokenProvider", from JWT.
I'm modifying this, but this can

[2016-02-25 10:30] erikkemperman commented on #2985
Thanks for quick reply @deepu105 ! I'm going to tentatively change this in my app's ErrorDTO for the moment, hoping that the next jhipster-upgrade will have this public/protected.

[2016-02-25 10:41] deepu105 commented on #2985
if @gzsombor doesnt have any objection you can PR this :)

[2016-02-25 10:44] erikkemperman commented on #2985
It looks like there is a way to get to `ErrorDTO` indirectly, via the `CustomParameterizedException` class in the same package. That will also work for me in this case -- but sooner or later I'm going to just want to throw other exception classes and need something like this after all.

So for now I propose to wait gzsombor's reply patiently, if needed I will make a PR for this in due time?

[2016-02-25 11:11] deepu105 commented on #2984
ok now the compilation errors are gone but there is run time error same as stack in my 4th comment

[2016-02-25 11:11] deepu105 commented on #2984
[code]

[2016-02-25 11:13] deepu105 commented on #2811
@PierreBesson is this done or are you working on this?

[2016-02-25 12:14] erensimsek commented on #2790
I couldn't start work on this cause of personal issues. But I want to fix this. How much time have we to next release?

[2016-02-25 12:26] deepu105 opened #2986 "John papa style for app run and config"
Since we are doing John papa style for angular I thought we should improve our `app.module.js` and `app.config.js` as per https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#startup-logic

today we have lot of config on the same file we can move all of them to separate files in a block folder and move the run block items to providers

if you guys are ok with this, ill change th

[2016-02-25 12:28] gmarziou commented on #2890
Most of the time you don't need maven war overlays to split UI, just look at how spring-cloud does for Eureka server, you just adda jar and `@EnableEurekaServer` to your spring boot application and you get both additional controllers and a web dashboard.

[2016-02-25 12:33] gzsombor commented on #2985
There is no specific reason for it, it's just seemed enough in my experiences, to throw CustomParameterizedException - or subclass of it - and not thinking about the serialization / ui handling stuff, as it is handled by the provided exception translator.

[2016-02-25 12:36] deepu105 commented on #2972
I guess we should include the https://github.com/Gillespie59/eslint-plugin-angular plugin as well what say @gmarziou

[2016-02-25 12:38] deepu105 commented on #2790
10 to 15 days may be

Thanks & Regards,
Deepu

On Thu, Feb 25, 2016 at 8:14 PM, Eren ŞİMŞEK <notifications@github.com>
wrote:

[2016-02-25 12:51] PierreBesson commented on #2811
It was done but there seems to be some problems see [this thread](https://github.com/jhipster/generator-jhipster/issues/2954#issuecomment-188303215). When it is fixed, I will notify you and you will be able to close this thread.

[2016-02-25 12:57] gmarziou commented on #2972
Yes I'll try to see if reaching errors is possible, otherwise we may disbale some rules temporarily until we fix our code.

[2016-02-25 12:58] gmarziou commented on #2811
Does it make a diffrence if you start from en empty project or re-generate one from existing .yo-rc.json?

[2016-02-25 13:01] kkorada commented on #1407
ok thanks a lot. i will ask on stackoverflow.

[2016-02-25 13:10] jdubois commented on #2984
I don't understand, it looks like we have some old SecurityConfiguration file around -> I'm adding a "clean" task to see if it does anything

[2016-02-25 13:12] andidev commented on #2986
+1

[2016-02-25 13:13] PierreBesson commented on #2811
@gmarziou Yes ! When generating from an empty dir user management code is still generated but not when there is a .yo-rc.json. If you know what to do can you please fix it.

[2016-02-25 13:17] PierreBesson commented on #2984
@jdubois, it seems that this is caused by user management code not being correctly removed see: https://github.com/jhipster/generator-jhipster/issues/2811#issuecomment-188776998

[2016-02-25 13:31] gmarziou commented on #2811
I have no idea but maybe others will, in particular @deepu105 who has done lot of work on generators.

[2016-02-25 13:34] jdubois commented on #2984
In fact there's a new error when doing `gulp test`(cc @wmarques ) I'm correcting it!

[2016-02-25 13:39] jdubois commented on #2774
@deepu105 yes everything should have been updated!

[2016-02-25 14:12] jdubois opened #2987 "[Entities] Generate front-end code on the gateway, based on a microservice"
This is a JHipster 3.0 only feature, using microservices.

Here is the use case:

- The user generates a "Foo" entity on microservice "app1". This only generates the back-end code.
- Now the user wants to generate the corresponding front-end code on the gateway, that connects to the back-end code

This is in fact quite easy:

- We must re-use the `Foo.json` file from the "app1" microservice, and r

[2016-02-25 14:29] PierreBesson opened #2988 "[Feature] Microservice workflow with docker"
For microservices, we would like to be able to have a workflow that uses docker to run the registry, the gateway, microservices, databases, monitoring tools.
This could take the form of one or several docker-compose file.

What needs to be done:
- Every app should have a Dockerfile that is used to create a docker image of this app.
- The app must be composed with it's dependencies: for example a d

[2016-02-25 14:31] erikkemperman commented on #2985
@gzsombor I think it would be required if one wants to return different http codes than just 400 Bad Request for particular exception type? If there is no objection I will make a PR shortly. Thanks for replying so quickly!

[2016-02-25 14:33] PierreBesson commented on #2988
Giving a link to @pascalgrimaud's amazing [JHipster Docker Module](https://github.com/pascalgrimaud/generator-jhipster-docker) as we can build upon what he has done.

[2016-02-25 14:40] pascalgrimaud commented on #2988
We should have a look to the docker-compose v2 : https://docs.docker.com/compose/compose-file/#version-2
There are some features like services (proxy, app, db), front, back, etc.

It will be so cool to include it to our docker-compose files!

[2016-02-25 14:50] PierreBesson commented on #2987
I have an idea to automatically set that without asking questions, its not perfect but it would speed up the setup. To know the defined routes, we could query the local config server from the Yeoman generator using its REST API.
XML: [http://localhost:8761/config/gateway/prod/master](http://localhost:8761/config/gateway/prod/master)
JSON: [http://localhost:8761/config/master/gateway-prod.json](htt

[2016-02-25 15:04] gmarziou opened #2990 "Error 404 on gateway for swagger-ui"
##### **Overview of the issue**

I generated a gateway from master
The app works on port 8080 but I get an error 404 on http://localhost:9000/swagger-ui/index.html

##### **JHipster Version(s)**

3.0 master at #c9f3e112739008bf0241678608407df419e6da53

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` file

[2016-02-25 15:08] deepu105 commented on #2811
If skip-user-management is passed it needs to be saved to yo-rc file and
read on subsequest run, check whats done for skip-client

During subsequent run generator doesnt know about skip-user-management if
not passed I guess
On 25 Feb 2016 21:31, "Gaël Marziou" <notifications@github.com> wrote:

[2016-02-25 15:12] geraldhumphries commented on #2834
I am trying to come up with a clean way to do this. Here is a possible solution:
[code]

[2016-02-25 15:22] deepu105 commented on #2987
We could also think of having a new sub generator for this which would
compose entity sub generator to do this
On 25 Feb 2016 22:50, "Pierre Besson" <notifications@github.com> wrote:

[2016-02-25 15:25] deepu105 commented on #2834
It looks better
On 25 Feb 2016 23:12, "Gerald Humphries" <notifications@github.com> wrote:

[2016-02-25 15:48] erikkemperman commented on #2985
PR merged, closing. Thanks guys!

[2016-02-25 15:48] #2985 closed

[2016-02-25 16:10] mraible commented on #2985
Related to this, should we have exception handling for JWT errors like `BadCredentialsException` and `InternalAuthenticationServiceException` (which wraps `UserNotActivatedException`)?

https://groups.google.com/d/msg/jhipster-dev/_hCyebAamRc/Hc2wjluQFAAJ

[2016-02-25 16:32] ruddell commented on #2980
No console error or message is displayed after choosing a file, just the comma remains (for image Blobs at least).

[2016-02-25 17:06] jdubois commented on #2990
Yes this is "normal".

- We don't generate any UI anymore on the microservices, so there is no Swagger UI there
- The idea is that the UI is now on the gateway: when you log into the gateway, the "API" menu is there like in the monolith app, but now you have a dropdown list and you can have access to the Swagger doc from the microservices from there. All the documentation is now in one place :-)
-

[2016-02-25 17:06] #2990 closed

[2016-02-25 17:18] gmarziou commented on #2990
Thanks, I found a real issue on gateway:

/swagger-resources is provided by [springfox-swagger-ui](https://github.com/springfox/springfox/blob/master/springfox-swagger-ui/README.md) while we have defined same mapping in GatewaySwaggerApiResource. As a result, our mapping is ignored, it took me some time to find out why my breakpoint here was ignored.

This makes me think that maybe we should name

[2016-02-25 17:39] gmarziou commented on #2990
I just read the comment

The fact is that for me Springfox endpoint is not overridden at all.

[2016-02-25 17:50] PierreBesson commented on #2990
@gmarziou. I remember when I added this code it worked only if you were authenticated. When you were not it fell back to the springfox provided endpoint. I totally forgot to share this with you guys. Actually, I think that we should find a way to properly override the springfox /swagger-resources controller.

[2016-02-25 18:00] gmarziou commented on #2990
Yes or we can ask springfox team whether there is a way to disable it, in the past they were very responsive

[2016-02-25 18:31] mukeshkdangi commented on #1435
didn't help cluster-nodes: 127.0.0.1:9300

[2016-02-25 18:57] jdubois commented on #2984
OK there's one last bug: the generated entities have a relationship to the User entity, which doesn't exist in microservices (as they don't do user management).
Quite simple to correct, but I can't do it at the moment.

[2016-02-25 18:59] marlonfa commented on #2150
Hello guys, I have a similar problem , but my relationship is bidirectional with @OneToMany @ManyToOne . The error is: ERROR : column " message_id " of relation " additional_data " does not exist.

In the database I have the following columns:
Table: additional_data
`dtype | id | latitude | longitude | message_id | a_message_id | additional_data`

Follow my classes:

[code]

[code]

[code]

Class

[2016-02-25 19:49] cbornet commented on #2990
To be precise the swagger-resources endpoint is provided by springfox itself, not by springox-swagger-ui

[2016-02-25 20:46] marcelinobadin opened #2992 "Classes that implements Serializable would be nice to have serialVersionUID"
##### **Overview of the issue**

My application is deployed on AWS. Sometimes, not everytime, when I change a domain (using liquibase and new xml files to add changes without recreate the database) the application brokes because of the class serialVersionUID.

Is there any reason to not include in the generator the

`private static final long serialVersionUID = 1L;`

for classes that implements Se

[2016-02-25 21:12] cbornet commented on #2990
A solution could be to exclude springfox's ApiResourceController from component scan for the gateway

[2016-02-25 21:37] Rapster opened #2993 "Creating JHipster application does not render properly"
##### **Overview of the issue**

After creating a JHipster application, the rendering seems strange, like the CSS was not included but it is. However, looking at the Chrome console, it says:

##### **Motivation for or Use Case**

I just follow steps to create JHipster application, I did not change anything and the rendering looks weird already.

##### **JHipster Version(s)**

 2.27.1

##### **Brow

[2016-02-25 21:38] jdubois commented on #2992
With the default setup, we do not put any domain class in httpsession, and I would not recommend you to do so.
I guess you have a setup where you try to restore sessions after an app server restart? As you would then to make them managed again by Hibernate, this is also something we don't provide out of the box. We could do it, and in fact I've done this for years, but this is quite different to t

[2016-02-25 22:01] marcelinobadin commented on #2992
Well, I didn't change any configuration, it is as it was generated, the only thing I did was to add some new fields to certain entity and added a new xml for liquibase do the change on the database. Once I did it I got the error. Please, leave this issue open until I reproduce the error to send more info. I'm working on it.

[2016-02-25 22:09] jdubois commented on #2992
Oh sorry, this is quite different : you are not putting any entities in HTTP session?
Are you using a distributeur cache (Hazelcast...) ?
Otherwise yes you have found something strange, I'll be very interested to know what.
Are you using Beanstalk ? Can you share your exact AWS setup ?

[2016-02-25 22:17] jdubois commented on #2993
- You have an error with your node.js setup in Windows -> not sure if you need the .NET framework, but this has been documented before on this bugtracker (I will take a look)
- Yes the 401 error is normal, this is also documented on this bugtracker (I'll let you have a look at this one, this is one is easy)

[2016-02-25 22:21] jdubois commented on #2993
For the .NET framework error: there are lots of stuff about this on stackoverflow, search for `msbuild.exe` and node.js
So it seems you need to install that: I can't test it as I don't have a Windows machine, but still this looks strange. At my current client I have a Windows 7 machine and it works without any issue (then maybe the .NET framework was already installed).
If you have trouble with th

[2016-02-25 22:22] marcelinobadin commented on #2992
That's my jhipster options:

[code]

and my AWS configuration

[code]

[2016-02-25 22:36] jdubois commented on #2992
OK, you have Hazelcast, and I think it comes for it -> in this case, I understand it makes sense to have the serialVersionUID
If you do put the serialVersionUID you confirm the error is gone?
In that case yes we should generate the serialVersionUID - and I would do it for everyone as we could have the same kind of thing with ehcache.

[2016-02-25 22:48] marcelinobadin commented on #2992
Ok. First I'm trying to reproduce the error as it usually happens. Then I will insert the serialVersionUID and test if this fixes it.

[2016-02-25 22:56] #2709 closed

[2016-02-25 22:57] akram opened #2994 "Many npm deprecated libraries are used: Warning are issued"
Hi guys.

there are a lot of warning with deprecated node js libraries deprecated when running a simple build.
Can you upgrade ?

[code]

[2016-02-25 22:57] jdubois commented on #2994
Yes this is already done on JHipster 3.0

[2016-02-25 22:57] #2994 closed

[2016-02-25 22:58] jdubois commented on #2994
Hey, are you the Akram I worked with a few years ago at BDF?

[2016-02-25 23:01] akram commented on #2994
Yes sir! it's me!
Is there any estimate elease date for 3.0 ? Is there a way to build a 3.0 docker image ?

[2016-02-25 23:01] jdubois commented on #2921
Why don't we have reserved keywords anymore? I don't think this was such a bad idea for this kind of use case.

[2016-02-25 23:02] jdubois commented on #2994
Oh, glad to meet you again!! We need you to make our Openshift support work again :-)
For 3.0, it should be ready for Devoxx FR

[2016-02-25 23:04] akram commented on #2994
Would be happy to help, that was my first intent....you know the job that can be done between 00:00 and 2am :dart:

[2016-02-25 23:11] gmarziou commented on #2990
Good suggestion but unfortunately, I suspect that we would miss the other endpoints.

What we want is rather to be able to extend ApiResourceController to override /swagger-resources endpoint and use the Component scan filter to avoid instantiating the original controller.

So I submitted PR springfox/springfox#1189.

[2016-02-26 00:27] deepu105 commented on #2993
Normally the node gyp error is common in windows but shouldn't cause any
issues in running gulp or your app
On 26 Feb 2016 05:38, "Sébastien Lepage" <notifications@github.com> wrote:

[2016-02-26 01:41] deepu105 commented on #2986
@jhipster/developers anybody using the `addAngularJsConfig` or `addAngularJsInterceptor` method from the module subgen?

[2016-02-26 01:43] deepu105 commented on #2986
I would like to remove `addAngularJsConfig` method and anyone using this currently would need to add the config in its own file to the `app/blocks` folder

[2016-02-26 02:06] deepu105 commented on #2271
@wmarques ill work on the main app.module and app.config files as per #2986

[2016-02-26 02:12] deepu105 commented on #2972
it will be great if we can time this with #2271 so that we can validate both

[2016-02-26 02:17] deepu105 commented on #2921
IMO jhi prefix is better than not allowing users to create entities with those names at all. for example Language, Health etc are very common names used and what we provide are purely admin service modules and not entities so ideally they shouldn't be in for clash

[2016-02-26 02:19] deepu105 commented on #2984
@jdubois its still broken

[code]

[2016-02-26 06:35] jdubois commented on #2921
OK then, I guess there aren't that many services do rename?

[2016-02-26 06:54] geesen commented on #2807
I fixed the issue using version 2.26.2 (with x-auth instead of JWT) and I added just two parts.
The essential part is transfering the token in the URL instead of the header (because sockjs does not support custom headers). So you basically only need the one who put the right token in the URL (this is done by the tracker.servcice.js) and the one who fetches the token from the URL (this is done by t

[2016-02-26 07:12] deepu105 commented on #2921
I guess just the admin ones, health, config, metrics, tracker and language

Thanks & Regards,
Deepu

On Fri, Feb 26, 2016 at 2:35 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-26 07:14] #2980 closed

[2016-02-26 07:37] moifort commented on #2986
I use config for material design, Google map, google analytics  module.

Thibaut.

[2016-02-26 07:58] deepu105 commented on #2807
I suppose you will do a PR for this?

Thanks & Regards,
Deepu

On Fri, Feb 26, 2016 at 2:54 PM, geesen <notifications@github.com> wrote:

[2016-02-26 08:01] deepu105 commented on #2986
@moifort will you be OK to change those into files?

[2016-02-26 08:35] #2984 closed

[2016-02-26 08:48] moifort commented on #2986
Yes, don't worry I will do it! I wait the 3.0 release to update my modules. So no problem for me!

[2016-02-26 08:58] atomfrede commented on #2986
I guess every module adding somethings to the frontend should be updated to conform and work with the JH 3.0

[2016-02-26 09:31] jdubois commented on #2984
And now we have new error for the Gradle build :-(

[2016-02-26 09:34] deepu105 commented on #2986
yes :)

Thanks & Regards,
Deepu

On Fri, Feb 26, 2016 at 4:58 PM, Frederik Hahne <notifications@github.com>
wrote:

[2016-02-26 09:44] geesen commented on #2807
There is already a PR that has been merged and the issue is already fixed :)

[2016-02-26 10:26] deepu105 commented on #2807
ha ha sorry was replying from mail it doesnt show the issue status you see :wink:

[2016-02-26 10:27] deepu105 commented on #2807
@geesen do you also want to propose a PR to backport this to 2.x as well?

[2016-02-26 10:28] deepu105 commented on #2984
I restarted it and it passed seems like some timeout

Thanks & Regards,
Deepu

On Fri, Feb 26, 2016 at 5:31 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-26 11:12] jdubois commented on #2848
Great news @amitjindal -> can you share work with @moifort on this?

[2016-02-26 13:56] cbornet opened #2998 "Spring boot 1.3.3"
https://spring.io/blog/2016/02/26/spring-boot-1-3-3-and-1-4-0-m1-available-now

[2016-02-26 13:57] jdubois commented on #2998
+1

[2016-02-26 14:02] amitjindal commented on #2848
@jdubois Actually it did not work. I tried a lot of ways. I can share what I did but the problem seems to be that I am not finding where to set the JWT token when social authentication succeeds. Because from what I could understand the authentication is some sort of form based and its returning RedirectViews. I cannot figure out where is the response object that I can set the JWT to get this worki

[2016-02-26 14:03] mraible commented on #2848
This could be similar to the problem I had with Ionic 2. To fix it, I had
to add the token to the response body.
On Fri, Feb 26, 2016 at 07:02 Amit Jindal <notifications@github.com> wrote:

[2016-02-26 14:22] jdubois opened #2999 "[microservice] add an option with no database"
This is a JHipster 3.0 feature, only for "microservice application" type.

Add an option with no database

In the options, we would have:

    "databaseType": "no",
    "devDatabaseType": "no",
    "prodDatabaseType": "no",

In that case no database would be created, and this would launch much quicker for people who don't need a database.

Use cases are:

- People with specific or legacy back-ends

[2016-02-26 14:26] gniewkos opened #3000 "Sass file main.scss path is different than gulp scss config"
* **Overview of the issue**

Missing styles after new project generation. Looks like SASS file is in the wrong place.

After clean project generation file main.scss is generate in

`/src/main/scss/main.scss`

 while gulpfile.js has following path:

`scss: 'src/main/webapp/scss/'`

After moving main.scss to webapp/scss/main.scss everything works OK.

* **JHipster Version(s)**

v2.27.1

* **JHipster

[2016-02-26 14:38] deepu105 commented on #3000
seems like an issue from the backport

Thanks & Regards,
Deepu

On Fri, Feb 26, 2016 at 10:26 PM, gniewkos <notifications@github.com> wrote:

[2016-02-26 14:50] cbornet commented on #2987
Maybe the micro-services could expose their entitiy conf online so that it's easier to get it from the gateway ?
Eg : http://PATH_TO_MICRO_SERVICE/entities/Foo.json

[2016-02-26 14:52] jdubois commented on #2987
It could be a security issue... And you shouldn't need to have the whole infrastructure running to add an entity.

[2016-02-26 14:55] amitjindal commented on #2848
@mraible Actually I am trying to figure out how to get a response object :-(
I am probably missing something very basic that I don't yet understand.

[2016-02-26 14:57] atomfrede commented on #3000
I can take a look.

[2016-02-26 14:58] mraible commented on #2848
In the current implementation of JWT on master, there is no response body.
On Fri, Feb 26, 2016 at 07:55 Amit Jindal <notifications@github.com> wrote:

[2016-02-26 15:03] cbornet commented on #2987
I'm just saying this should be an option as it will be easier to get it that way if you have continuous delivery in place (which you should if you do micro-services).
Something like app1 back-end dev creates entity, commits -> CI/CD puts it online -> front-end dev generates it on the gateway angular app from the dev/staging env.
The front end dev shouldn't have to checkin app1

[2016-02-26 15:42] PierreBesson commented on #2987
@cbornet's idea sounds good. It will be similar of what should be done for the swagger docs (see #2954), available for dev but not for prod. Except instead of swagger-doc, this is hipster-doc.

[2016-02-26 16:01] gmarziou commented on #2999
+1
It'll be useful also to build service aggregators

[2016-02-26 16:02] deepu105 commented on #2987
or we could simply have an option to save and read entity.json files to and
from an external location, by passing a param or something.
the option could be asked if microservice or gateway is selected as app type
"do you want to save entity configurations for this app to an external
path?"

if user says yes, we will ask for path and save it in the yo-rc file

we can build a subgen which will scan

[2016-02-26 16:56] amitjindal commented on #2848
So here's what I have done so far:

**Step 1: Created a new project with JWT as the authentication.**

**Step 2: Edited `.yo-rc.json` and enabled `"enableSocialSignIn": true,`**
At this point I can login normal (via JWT). I can Register via Google Auth. However when I try to login, it redirects me to login. This seems to be happening because of `JWTFilter::doFilter`

**Trial 1: Setting JWT**
I tri

[2016-02-26 17:00] thiagonuic opened #3006 "Gulp + Gradle runs minify prod stuff on dev profile"
##### **Overview of the issue**

When I run "build > classes" on dev profile, gradle calls npm install, bower install and gulp build.

##### **Motivation for or Use Case**

During dev mode there is no need to run gulp build since it is used only during war generation.

##### **JHipster Version(s)**

2.27.1

##### **Browsers and Operating System**

Windows, node 0.12.7, gradle using the wrapper pro

[2016-02-26 17:10] #2999 closed

[2016-02-26 17:42] atomfrede commented on #3006
Running npm and bower sound reasonable to me in order to make sure all frontend dependencies are available.

[2016-02-26 17:43] jdubois commented on #2987
Well, that was basically my idea: just point to the directory where the
microservice is cloned, and you get the JSON file.
Simple, easy to do, nothing much to change.
Oh and it can only work for generating a client on the gateway, from a
microservice. And not the other way around.
Le 26 févr. 2016 5:02 PM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-02-26 17:47] jdubois commented on #3006
Is that like 'mvn package'? I guess it works the same with Maven (and it
should!!!)
Le 26 févr. 2016 6:43 PM, "Frederik Hahne" <notifications@github.com> a
écrit :

[2016-02-26 17:54] moifort commented on #2848
Sorry, but I am quite busy in this time, I will see if we can do something next week.

Thibaut.

[2016-02-26 17:55] PierreBesson commented on #2988
I have made public my work on the microservice docker demo.
[Github/PierreBesson/jhipster-microservices-docker](https://github.com/PierreBesson/jhipster-microservices-docker)

@pascalgrimaud please take a look and maybe try it on your own machine (if it is powerful enough :muscle:).
Currently, ELK works on the elk-standalone.yml docker-compose but not when I copy its code in docker-compose.yml.
I

[2016-02-26 17:56] thiagonuic commented on #3006
I think it is more like mvn compile.

[2016-02-26 17:59] atomfrede commented on #3006
compile does also process resources. Gulp runs when resources are processed, for generating constants and process scss files: ``processResources.dependsOn gulp_build``

[2016-02-26 18:06] pascalgrimaud commented on #2988
impressive work! I will try it this weekend!!

[2016-02-26 19:20] amitjindal commented on #2848
@moifort Sure. I understand. Will wait.

[2016-02-26 20:53] thiagonuic commented on #3006
Another solution would be to allow "npm install" and "bower install" to run even on dev. But the assets compilation to run only on prod.

[2016-02-26 21:03] marcelinobadin commented on #2992
Cool. Thanks. I just couldn't recreate the error and because of "time" issues, I had to include the serialVersionUID and I using and no error occurred during the deploys.

[2016-02-27 04:03] deepu105 opened #3010 "Mongo DB & Cassandra build fails [master]"
Our Mongo DB builds in travis are failing with below

[code]

[2016-02-27 04:08] deepu105 commented on #3010
There are similar weird error for cassandra as well

[code]

seems like some travis environment issue @pascalgrimaud any idea?

[2016-02-27 04:24] deepu105 opened #3011 "Remove custom storage service and use"
Remove the [custom storage service](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/src/main/webapp/app/components/util/_storage.service.js) and use ngStorage

@wmarques can you do this if you have time plz

[2016-02-27 04:32] #2998 closed

[2016-02-27 05:03] ruddell commented on #3010
I am running into these issues myself while testing Mongo out locally, so it isn't specifically Travis related

[2016-02-27 06:38] #2986 closed

[2016-02-27 06:42] #2834 closed

[2016-02-27 07:11] ruddell commented on #2934
I looked into this and the only database we need to change is MySQL from blob to longblob.  I tested H2 and longblob is automatically converted to blob so this is not an issue.

Database | Max Blob Size
------------ | -------------
Mongo (without GridFS) | 16 MB
PostgreSql | 1 GB
H2 | 2 GB
Cassandra | 2 GB
MySQL (longblob) | 4 GB
Oracle | 4 GB

[2016-02-27 08:28] jdubois commented on #2934
For Cassandra I would definitely not put more than 100mb in a line (so if you have 10 cells in a line, do the division!).

[2016-02-27 08:57] deepu105 commented on #2972
closed via #3007

[2016-02-27 08:57] #2972 closed

[2016-02-27 08:58] deepu105 commented on #3000
closed via #3008

[2016-02-27 08:58] #3000 closed

[2016-02-27 09:00] #2271 closed

[2016-02-27 09:13] #3011 closed

[2016-02-27 09:17] deepu105 commented on #3010
it now throws new errors

@jdubois can we skip the @transactional annotation for Mongo and Cassandra?
**cassandra:**
[code]

** Mongo **

[code]

[2016-02-27 09:20] jdubois commented on #3010
Yes the @Transactional only work for SQL databases.
There's no transactions with MongoDB and Cassandra.

[2016-02-27 09:20] deepu105 commented on #3010
@ruddell actually for your other PR this passed all test https://travis-ci.org/jhipster/generator-jhipster/builds/112194094  so may be we could just skip it for mongo and cassandra

[2016-02-27 09:21] jdubois commented on #3010
(Well, that's not totally true for Cassandra, but the annotation can still be safely removed)

[2016-02-27 10:02] gmarziou commented on #2990
We had a [very postive discussion](https://github.com/springfox/springfox/pull/1189) with @dilipkrish and finally he proposed a [refactoring in springfox](https://github.com/springfox/springfox/pull/1191) that allowed me to simplify our solution.

Finally we will drop `GatewaySwaggerApiResource` and implement a `SwaggerResourcesProvider` annotated by `@Primary` so that it takes precedence over the

[2016-02-27 11:00] Rapster commented on #2993
But it's hard to believe this .net framework issue is related to this result:

![image](https://cloud.githubusercontent.com/assets/7521311/13372584/906fbbcc-dd49-11e5-8054-5c1abb086dbd.png)

[2016-02-27 11:10] gmarziou commented on #2993
Does it render better when you run `grunt` or `gulp` with maven as explained in the doc?

http://jhipster.github.io/development/

[2016-02-27 11:18] Rapster commented on #2993
Using Gulp as recommanded by the installation prompt and documentation, it still does not work

[2016-02-27 11:18] gmarziou commented on #2993
Also which version of nodejs did you install? `node -v`

You should prefer LTS version rather than stable especially on Windows.

[2016-02-27 11:23] Rapster commented on #2993
I'm using 5.7.0, I just give it a try with LTS: same problem. Probably should I start over the whole process...

[2016-02-27 11:25] gmarziou commented on #2993
NodeJS on Windows is so much painful than on OSX and Linux.
If you re-install, consider doing it via a node manager like nodist to avoid installing it under a folder that require admin rights.

[2016-02-27 11:27] gmarziou commented on #2993
Look at my answer on SO:

http://stackoverflow.com/questions/34399362/node-js-issue-angular-is-not-defined-cannot-fined-bower-packages-nodegy/34400294#34400294

[2016-02-27 11:37] gmarziou commented on #2993
Also as Julien told you, best for you would be to use our devbox

[2016-02-27 11:39] gmarziou commented on #2993
Also pay attention to any log from npm, bower or gulp.

[2016-02-27 11:40] gmarziou commented on #2993
Post your .yo-rc.json file so that we know exactly the options you chose.

[2016-02-27 11:56] deepu105 commented on #2990
Awesome

Thanks & Regards,
Deepu

On Sat, Feb 27, 2016 at 6:02 PM, Gaël Marziou <notifications@github.com>
wrote:

[2016-02-27 12:00] deepu105 commented on #2993
Im on windows 10 and I dont have these issues and im using latest node as
well. this is really some environment setup issue with your machine

Thanks & Regards,
Deepu

On Sat, Feb 27, 2016 at 7:40 PM, Gaël Marziou <notifications@github.com>
wrote:

[2016-02-27 12:12] Rapster commented on #2993
Still not working... I have this in my console each time I refres the page:

[2016-02-27 12:27] #3010 closed

[2016-02-27 12:33] gmarziou commented on #2993
This is normal it means you started gulp (port 3000) but did not started maven spring-boot (port 8080).

[2016-02-27 12:37] deepu105 commented on #3006
this is not an issue its designed as such today

[2016-02-27 12:37] #3006 closed

[2016-02-27 12:38] deepu105 commented on #2811
Ok im gonna take a look at this

[2016-02-27 12:39] gmarziou commented on #2993
OK so no error in command prompt when you ran npm install, bower install or gulp?
By the way I suppose your run a command prompt, a colleague of mine on Windows 10 had issues using git bash.

Again: Post your .yo-rc.json file so that we know exactly the options you chose.

[2016-02-27 12:57] deepu105 commented on #2811
Its fixed https://github.com/jhipster/generator-jhipster/commit/0b19c2490971e6b2c2a58ceb9add6a9c9cfb7651

@PierreBesson plz check and let me know if there is still any issues

[2016-02-27 12:57] #2811 closed

[2016-02-27 15:48] vancourse commented on #1146
I just downloaded the latest jhipster.. I am still seeing the same issue.. Any ideas?
[ERROR] Failed to execute goal com.github.trecloux:yeoman-maven-plugin:0.3:build (run-build-tool) on project jhipster: Error during : grunt test --no-color: Process exited with an error: 99 (Exit value: 99) -> [Help 1]

[2016-02-27 16:11] gmarziou commented on #1146
No idea, please provide full log and not onlt few lines. Please provide also details on your environment: OS, node version

[2016-02-27 16:14] jdubois commented on #1146
@gmarziou don't comment on closed tickets...

[2016-02-27 17:21] gmarziou commented on #1146
Sorry

[2016-02-27 17:25] jdubois commented on #1146
@gmarziou no problem :-)
It's just that we shouldn't waste time on closed tickets...

[2016-02-27 17:26] jdubois commented on #1146
@vancourse no offense, but if you have an issue please follow the guidelines and open a new ticket

[2016-02-27 17:31] jdubois commented on #2988
OK, I have tried it and it's HUGE.
This is what I was dreaming of, and it's even better than what I thought as it's running really well on my Mac.

What amazes me is that the whole thing is running in my 2Go VirtualBox machine. It's like a whole architecture all running in something that small!!! And it's starting up so fast! I just can't believe it.

Some comments:

- The JWT tokens -> I just put

[2016-02-27 17:36] jdubois opened #3014 "[Gateway] Reduce memory consumption by removing Cassandra by default"
This is a feature for JHipster 3.0 and the gateway.

Currently the gateway ships with the whole Cassandra libs inside it.

- Cassandra is used for the "rate limiting" feature, which is off by default
- But to have a smooth out-of-the-box experience, you can turn on an embedded Cassandra instance -> easy to use and test!

But I'm considering removing this:

- It's taking quite a lot of memory, even

[2016-02-27 18:13] jdubois commented on #2948
I confirm GZip and Websockets work with Undertow! This is looking very good!

[2016-02-27 18:32] vancourse commented on #1146
Sorry, did not know the protocol. Will read up the guidelines and open a new ticket.

[2016-02-27 18:48] vancourse opened #3015 "mvn clean -Pprod` makes grunt to fail"
##### **Overview of the issue**
Command:
 mvn clean install -Pprod
dies with:

[code]

Stack:

[code]

##### **Motivation for or Use Case**
Completed development; Now trying to push to production.

##### **JHipster Version(s)**
2.27

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the

[2016-02-27 18:51] gmarziou commented on #2785
Here is a drawing I made to explain the JHipster 3 architecture to my team, I thought it could be converted to ASCII art for easier management in github but I think that some color would help or maybe some details should be removed.

![jh3_ms_architecture27022016](https://cloud.githubusercontent.com/assets/361007/13374658/72fa1168-dd8b-11e5-968f-24d4be5c3b89.jpg)

[2016-02-27 19:01] jdubois commented on #1146
Thanks !

[2016-02-27 19:06] gmarziou commented on #3015
Release 2.27.1 has a fix for grunt and gulp prod builds.

http://jhipster.github.io/2016/02/23/jhipster-release-2.27.1.html

install new version with `npm -g install generator-jhipster`

go to your project directory and run  `yo jhispter`, overwrite your files (of course they must  comitted first) then merge changes related to build process.

[2016-02-27 19:55] gmarziou commented on #3015
Or if you feel incomrtabe with this, start from an empty directory copy your project's .yo-rc.json file into it, run `yo jhipster`, check that production build works and then copy build files to your project.

[2016-02-27 19:55] #3015 closed

[2016-02-27 20:00] #2934 closed

[2016-02-27 20:03] erikkemperman opened #3017 "Current master branch: mvn -Pprod yields broken app"
##### **Overview of the issue**

_Something_ about recent commit(s) causes the `build` gulp task to produce a broken app... I'm looking into it now but if anyone has a clue it'd be appreciated! At the moment, I suspect the refactor of angular scripts (wrapping in self-invoking function, use `<fn>.$inject`).

For what it's worth, all was fine with the master branch circa last Friday morning, CET.

[2016-02-27 20:18] gmarziou opened #3018 "[Gateway] /swagger-resources conflicts with Springfox"
Just for clarity, I open this issue to track a problem that was reported as part of the discussion in #2990.

To clarify: the gateway overrides a URL /swagger-resources provided by Springfox but sometimes it does not work. after discussion with Springfox team we have[ a clean solution](springfox/springfox#1191) that requires version 2.4.0 of Springfox which should be released within days.

Once 2.

[2016-02-27 21:24] erikkemperman commented on #3017
Found the problem... It's a classic.

If translation is enabled, `bower_components/messageformat/locale/{en,fr}.js` are injected into index.html. These contain lines like
[code]

Note the absence of `;` concluding the statement.

When these are concatenated by `gulp usemin` with the angular scripts, this goes wrong because these were recently changed to follow the self-invoking function pattern,
[

[2016-02-27 21:26] jdubois commented on #2785
Excellent drawing @gmarziou !!

[2016-02-27 21:27] Rapster commented on #2993
Yes I'm using Windows command promt. Here is the .yo-rc.json
[.yo-rc.txt](https://github.com/jhipster/generator-jhipster/files/149570/default.yo-rc.txt)

[2016-02-27 22:00] erikkemperman commented on #3017
By the way, I am not sure if I understand the rationale for introducing the self-invoking function pattern?

To my knowledge this is usually done to create a scope for 'private' functions and variables, and/or to facilitate slightly more effective minification (mangling) due to this extra local scope.

But the few scripts I just looked at don't seem to have any local `var`s and mangling is current

[2016-02-27 22:20] deepu105 commented on #2987
@jdubois if everyone agrees I can do this with an option to save and read json files to any folder the user wants. It can either be a question when microservice/gateway is choosen or can be a CLI parameter.

So if someone chooses microservice or gateway they will have additional question.
[code]

or they can pass `--entity-config-path /usr/config`

This would be saved in the yo-rc file and wheneve

[2016-02-27 22:34] deepu105 commented on #3017
We are just following john papas angular style guides

I hate to have semicolon on files, may be we could do that during uglify
process?
On 28 Feb 2016 06:00, "Erik Kemperman" <notifications@github.com> wrote:

[2016-02-27 22:47] erikkemperman commented on #3017
It's not pretty, I agree. The workaround I sent earlier isn't going to win any awards either.

The problem isn't uglify though, it's gulp-usemin, which does the concatenation but doesn't appear to allow passing separators like ';'.

I'm all for style-guide adherence, but not if breaks my build :-) There are always valid exceptions, and I was just curious what the self-invoking functions accomplish

[2016-02-27 23:00] deepu105 commented on #3017
Shouldn't we try to PR messageformat to have ending semicolon?
On 28 Feb 2016 06:47, "Erik Kemperman" <notifications@github.com> wrote:

[2016-02-27 23:05] erikkemperman commented on #3017
Another possibility would be to use the `negate_iife` option of `uglify`, which will transform the currently used pattern to something which, I seem to remember, fixes this kind of problem because it changes precedence. Would have to check that, though. Only in the minified output, so nothing awkward would have to be added in the source.

PRing messageformat... But we're getting a pretty old versi

[2016-02-27 23:21] erikkemperman commented on #3017
Cool, that `negate_iife` does the trick! Much cleaner and future-proof than my earlier workaround, so I'll amend my PR.

[2016-02-27 23:26] gmarziou commented on #2993
OK I reproduced the problem, it appears that CSS were not compiled by sass and so you did not have bootstrap stylesheets.
As a quick workaround you can execute `gulp sass` and then restart your app

[2016-02-27 23:41] erikkemperman commented on #3017
Oops, celebrated too early. It's late here. Changed the PR back to workaround, and signing off for the day...

[2016-02-27 23:44] gmarziou commented on #2993
sass task is correctly executed when running `gulp watch` but I may have a slightly different version of jhipster as I was running the HEAD in 2.x_maintenance branch.

There is #3000 which seems related.

Could you check your gulpfile.js at line 38, does it show:   ` scss: 'src/main/scss/'` ?

[2016-02-27 23:49] deepu105 commented on #3017
Ha ha go home Erik you are drunk :P
On 28 Feb 2016 07:41, "Erik Kemperman" <notifications@github.com> wrote:

[2016-02-27 23:58] tiagorosaped opened #3021 "[BUG]Google Social Login doesn't work"
I generate my project yesterday and create oauth2 with social login, create credentials on google developers console and redirect to http://localhost:8080/signin/google. When access application, sign in with google account, allow permissions and get error -> http://localhost:8080/signin?error=provider#.

I download the fork https://github.com/jcr216/jhipster-sample-app , chage url at google develo

[2016-02-27 23:59] erikkemperman commented on #3017
@deepu105 :-) Nope, can't even throw in that excuse! Just a long day, and slightly annoyed this got in the way of finalizing the webapp layout change (which I think is mostly done, so there's that).

[2016-02-28 03:56] tiagorosaped commented on #3021
Ativated Google + api and work

[2016-02-28 03:56] #3021 closed

[2016-02-28 05:48] xjiaoyang opened #3022 "jhipster 3.0 release date"
Is it possible to estimate a generic timetable for the release?
**Thanks for all your hard work!!!**

[2016-02-28 06:01] xjiaoyang commented on #3022
i know all of you had already put a lot of time on JHipster 3.0, but i do not find any information about jhipster version 3.0 on the website, is there passible to add a page which will show any further work that is currently in progress? at least show what is done, problems you are working on,  information about architecture and design, etc

@jdubois what do you say?

[2016-02-28 07:40] pvlastaridis opened #3023 "[FEATURE] browser-sync-angular-template"
If this works, it will be great to be integrated

[browser-sync-angular-template](https://www.npmjs.com/package/browser-sync-angular-template)

[2016-02-28 08:32] jdubois commented on #3022
Release date should be in something like 1 month.
We haven't started documentation etc, and that will be our final work - we can't document before it's done :-)
If you want to track what's going on, follow:

- The JH3.0 tag on the bugtracker: https://github.com/jhipster/generator-jhipster/issues?q=is%3Aissue+is%3Aopen+label%3A%22JH+3.0%22
- The dev mailing list: https://groups.google.com/forum/?hl

[2016-02-28 08:32] #3022 closed

[2016-02-28 08:36] jdubois commented on #3023
Indeed that looks like an incredibly good idea.

My main concern is that the project doesn't seem very active:

- Only 1 Github star
- The developer ( @pashaigood ) hasn't worked on the project for months

So for me, very unfortunately, that's a no-go.
Maybe there is another project doing the same thing, which is more active?

[2016-02-28 09:19] panser commented on #1829
Hello. I had the same problem and installed locale npm to project
[code]

[2016-02-28 09:24] andidev commented on #3017
@erikkemperman
PR #2970 will move the locale scripts to the vendor block along with the other lib dependencies since they actually belong there.
Is that okey? Or will that reintroduce this issue?

[2016-02-28 10:18] erikkemperman commented on #3017
Agree that is a better place for them, but yes it might have the same issue. It depends on what comes after the locale includes, so might get lucky... Still, I'd like a more robust, permanent solution for this problem, if possible?

[2016-02-28 10:59] Rapster commented on #2993
Nop gulp sass didn't solve the problem, but you're right, there is something wrong with the config in gulpfile.js. Instead of` 'src/main/scss/' `I have this` 'src/main/webapp/scss/'`

Fixed by #3008 then

[2016-02-28 11:56] gmarziou commented on #2993
Yes you can just change to 'src/main/scss/' in gulpfile.js as in #3008 and run 'gulp sass'.
If it does not generate src/main/assets/styles/*.css files then something is wrong in your node sass installation and you should get an error in command prompt.

[2016-02-28 12:14] Rapster commented on #2993
I solved the problem by modifying gulpfile.js

[2016-02-28 12:33] deepu105 commented on #3017
May be we can intercept the gulp stream right before concat and append,
prepend semicolon as required. Either using any plugin or a custom stream
processing task
On 28 Feb 2016 18:18, "Erik Kemperman" <notifications@github.com> wrote:

[2016-02-28 12:42] erikkemperman commented on #3017
Like adding gulp-header to the usemin pipeline, just before concat, to add the semicolon.. That should work.

[2016-02-28 13:34] gmarziou commented on #2993
Great.

[2016-02-28 14:56] xjiaoyang commented on #3022
@jdubois :ok_hand

[2016-02-28 15:36] cicoub13 opened #3024 "entityTranslationKey doesn't have suffix when using --angular-suffix"
##### **Overview of the issue**

Navbar translation does'nt work for entities when using --angular-suffix (yo jhipster:entity Car --angular-suffix management).

##### **Motivation for or Use Case**

Key in **global.json** is **car** and translate key is **global.menu.entities.carManagement**. Suffix is missing.

##### **JHipster Version(s)**

master (2.27.0)

##### **JHipster configuration, a `.yo

[2016-02-28 15:42] deepu105 commented on #3024
Also the suffix needs to be saved to the `entity.json` file so that it can
be used for re generation as well
On 28 Feb 2016 23:36, "Cyril Beslay" <notifications@github.com> wrote:

[2016-02-28 19:16] cicoub13 commented on #3024
Done in PR :)

[2016-02-28 19:23] jdubois commented on #2948
And my performance tests are excellent, let's do this :-)

[2016-02-28 19:39] mraible commented on #2988
@PierreBesson I looked into this and tried to test it by running `setup.sh`. After doing this, it prompts me to create each application and I have to choose the settings for each one. This doesn't seem right. I suspect it should create each application automatically w/o prompting the user. Am I doing something wrong?

[2016-02-28 19:40] jdubois commented on #2988
Yes you are doing something wrong, because I ran it yesterday and it worked out of the box :-)
However, as it's just running the .sh file, I don't know what you are doing wrong :-(

[2016-02-28 19:47] mraible commented on #2988
Maybe it's because I'm running it on a machine that doesn't have generator-jhipster 3.0 installed?
What's the best way to clean this project and start over again?

[2016-02-28 19:59] jdubois commented on #2988
Oh yes that will only work with JHipster 3.0

Best way to do it is [install JHipster 3.0 from Git](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup) and then run again the generator -> here as it's just for testing, just delete the "src" directory from each project, so you don't have old stuff there

[2016-02-28 21:02] netblue opened #3026 "[FEATURE] Domain User to implement UserDetails"
##### **Overview of the issue**

I'd like to have a user's id available in a standard way to check a user's ownership of custom entities when a user may be trying to edit data.

I'm new to JHipster, and somewhat new to Java and Spring, so there may be a better way to get the user's id than what I'm trying to do.

##### **Motivation for or Use Case**
For example, I have a site in which the user sub

[2016-02-28 22:29] jdubois commented on #3026
It's more a question for StackOverflow, so you should ask it there -> this is because I think you have something specific for your needs, and for that you can configure JHipster/Spring/Spring Security the way that suits you.
Now for JHipster specifically, we do not link the User ("domain object") to the UserDetails ("security object"), as in some parts of JHipster we use the security when the doma

[2016-02-28 22:29] #3026 closed

[2016-02-29 00:58] #3024 closed

[2016-02-29 01:06] deepu105 commented on #3024
Thanks
On 29 Feb 2016 03:16, "Cyril Beslay" <notifications@github.com> wrote:

[2016-02-29 06:37] pascalgrimaud commented on #2988
@PierreBesson : tested it yesterday and it works very well, except ELK. Not enought time to investigate why.
About extends, I will do a PR soon :-)

Some feedback
1) after thinking, we should use **java:openjdk-8u72-jre** as based image
    - it's more secure as it's official image
    - the size of the final image with war will be 440mb instead of 271mb, not big difference
    - it's because the

[2016-02-29 07:09] geesen commented on #2807
Yes, I will have a look, if I have some time

[2016-02-29 07:19] deepu105 commented on #2988
440 MB for an image is still on the bigger side,what takes up that much? I
mean the war should be around 50-70 mb right?

Thanks & Regards,
Deepu

On Mon, Feb 29, 2016 at 2:37 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-02-29 07:22] pascalgrimaud commented on #2988
It's a docker image : debian jessie + lib + jre8 + war
it's like a mini VM

[2016-02-29 07:31] deepu105 commented on #2988
Oh Ok, I have to get myself familiar with docker soon :)

Thanks & Regards,
Deepu

On Mon, Feb 29, 2016 at 3:22 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-02-29 08:04] mreddimasi opened #3028 "Unable to bring up the application using gradle and gulp combination"
##### **Overview of the issue**

Unable to bring up the application using gradle and gulp combination

##### **Motivation for or Use Case**

Unable to bring up the application using gradle and gulp combination, works fine with gradle and grunt combination, but the index.html has only the section of footer

##### **JHipster Version(s)**

2.27.1

##### **JHipster configuration, a `.yo-rc.json` file

[2016-02-29 08:07] mreddimasi commented on #3028
node - v5.7.0
npm - 3.7.5
npm view  gulp version - 3.9.1

[2016-02-29 10:06] PierreBesson commented on #2988
Thanks guys for trying my little demo.
@mraible, I actually have the same issue as you, the questions are not persistent. It seems that the .yo-rc.json generated by a microservice app cannot be used to generate the app again. I will open an issue on this.

@pascalgrimaud
1. About the openjdk-jre, I also think it is a good idea as the differences seems to be minimal. 440mb is manageable, and also i

[2016-02-29 10:23] gmarziou commented on #3028
Have you tried running an LTS version of node? It's more stable.

[2016-02-29 10:54] mreddimasi commented on #3028
@gmarziou No I've not tried the same.
just an fyi, I tried building with a combination of maven + gulp and gradle + grunt both work fine.

Will try with LTS version as suggested

[2016-02-29 11:14] nnimmaga commented on #2399
We have been facing this issue - but sporadically.

It just throws out as we are not able to fix this issue.
We would just re generate the war & just hope/pray that this doesn't appear.

[WARN] org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.

[2016-02-29 11:18] mreddimasi commented on #3028
@gmarziou Tried with the LTS version, the result is the same.

[2016-02-29 11:37] atomfrede commented on #3028
Have zou tried to run npm install manually? Looks like node_modules folder is missing

[2016-02-29 11:55] mreddimasi commented on #3028
@atomfrede no, not tried running the npm install manually, trying that right now.

But node_modules folder is not there since all the modules have been installed with -g option.

[2016-02-29 12:27] jdubois commented on #2987
@deepu105 the issue is that different people working on the same project might want to store those .json files in different parts of their filesystem.
For me, the best solution is:

- .json files are generated using a microservice -> so we only have the back-end anyway. And this is stored in the usual .jhipster folder. Nothing changes here.
- when the user (or another user!) wants to generate the

[2016-02-29 12:27] gmarziou commented on #2399
Please don't comment an old closed issue and open a new one with required details.

[2016-02-29 12:31] gmarziou commented on #3028
Not sure I understand, modules are not supposed to be installed globally (with -g option). You're supposed to install globally only comand line tools like gulp, bower, ...

[2016-02-29 12:37] mreddimasi commented on #3028
@gmarziou gulp, bower, yo, grunt have been installed with -g option before executing yo jhipster.
Once yo jhipster is complete I don't see a node_modules directory.

Are we supposed to see the node_modules in the directory?

[2016-02-29 12:53] gmarziou commented on #3028
Yes, when you generated the app, jhipster did run `npm install` for you to fill the `node_modules` directory.
Sometimes it could fail and you have to re-run it manually, same thing for `bower install`.

This can also happen, when you share your project with someone else by git as node_modules is ignored by .gitignore.

Please read our documentation.

[2016-02-29 12:57] deepu105 commented on #2987
thats doable as well? do you want me to do it?

Thanks & Regards,
Deepu

On Mon, Feb 29, 2016 at 8:27 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-02-29 13:16] wmarques commented on #2603
I'm actually refactoring the cloudfoundy subgenerator.

[2016-02-29 13:17] nnimmaga commented on #630
I am trying to deploy on Tomcat 8 Ubuntu 14.04.3 LTS + Tomcat 8.0.30
1. mvn package to build the war
2. Renamed the war as ROOT.war (assuming it is a must)
3. placed the war in webapps folder of Tomcat server.

WAR got unzipped.

I see the following in logs

29-Feb-2016 12:04:34.920 INFO [localhost-startStop-1] org.apache.catalina.startup.HostConfig.deployWAR Deploying web application archive /san

[2016-02-29 13:23] gmarziou commented on #630
Please don't comment an old and closed issue, open a new one and provide required details.

[2016-02-29 13:54] jdubois commented on #2987
Yes if you want to do it, please take the lead :-)
I'll probably have less time this week (working for a big JHipster client!)

[2016-02-29 14:20] jdubois commented on #3028
I just did it with the latest v2 version:

- Worked without any issue (and I tried it before the release, so I was pretty confident)
- I do have a "node_modules" folder -> I don't understand what you did with the `-g` option, so I guess that's what causing the issue

You can also try doing it on the "devbox" to see if you can reproduce.

I'm closing this as I can't reproduce the ticket.

[2016-02-29 14:20] #3028 closed

[2016-02-29 14:25] jdubois commented on #2993
- The gulpfile is indeed now working with Sass, as the CSS is correctly re-generated after a change
- But BrowserSync doesn't pick up that change -> you need to reload you browser manually, even when running `gulp`, which correctly starts BrowserSync and shows the "connected" alert message

-> as BrowserSync isn't working correctly, I'm reopening this.

[2016-02-29 15:11] wmarques commented on #2603
I've done cloudfoundry and heroku subgen refactoring, I tried to be consistent with AWS file, can you check those commits : [Heroku](https://github.com/wmarques/generator-jhipster/commit/bd5290b5c821b5579adc2c86f165749d69634719), [Cloudfoundry](https://github.com/wmarques/generator-jhipster/commit/f0bf20e2a73c964949b0c6dd7b5e00d1a2ecf252) and tell me if it's ok for a PR ?

[2016-02-29 15:14] mraible opened #3031 "Swagger Docs are throwing a NumberFormatException"
##### **Overview of the issue**

When navigating to the "API" Swagger docs, an exception is thrown in the server console.

[code]

##### **Motivation for or Use Case**

I found this while running Protractor tests on master branch.

##### **JHipster Version(s)**

3.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Reproduce the error**

Create a

[2016-02-29 15:17] jkutner commented on #2603
@wmarques taking a look now

[2016-02-29 15:40] atomfrede commented on #2993
I will have a look. I guess browsersync watches the incorrect path.

[2016-02-29 15:44] pascalgrimaud commented on #2988
@PierreBesson : when you'll work on performance tests, I think it can be interesting to use `mem_limit` in our docker-compose files

[2016-02-29 15:45] jkutner commented on #2603
@wmarques :+1: looks great. tested. worked.

[2016-02-29 15:47] jkutner commented on #2603
@wmarques i should clarify, I only reviewed and tested the Heroku part.

[2016-02-29 15:52] wmarques commented on #2603
@jkutner Thanks for your review ! I'm waiting for Cloudfoundry validation, I tested with my trial account and it worked

[2016-02-29 16:40] jdubois commented on #3031
Yes I know -> this will be fixed in the next SpringFox release, which is due in the next few days

[2016-02-29 16:40] #3031 closed

[2016-02-29 17:59] PierreBesson commented on #2988
Today I found [kennybastani.com/2015/07/spring-cloud-docker-microservices](http://www.kennybastani.com/2015/07/spring-cloud-docker-microservices.html). Basically, he was doing what we are doing now 6 months ago. He is really amazing, we need to take inspiration from his work.

[2016-02-29 18:39] mraible commented on #2988
@PierreBesson It's funny you should mention @kbastani. He and @joshlong are authoring a book called Cloud Native Java (http://shop.oreilly.com/product/0636920038252.do). Josh volunteered to write a chapter on "Spring Boot in Production" for the JHipster Mini-Book a while ago. Unfortunately, it looks like their book might be a bit delayed.

[2016-02-29 19:14] geraldhumphries commented on #1829
@jdubois someone in gitter had this issue with 2.27.1 today. Maybe worth reopening and investigating?

[2016-02-29 19:26] PierreBesson commented on #2988
@mraible, oh yes I've heard of this book and I'm really looking forward to
the release. That's why I was excited when I discovered
https://github.com/kbastani/spring-cloud-microservice-example because it's
doing what I'm trying to achieve with docker-compose and what @jdubois
encouraged me to look into.
Le 29 févr. 2016 19:39, "Matt Raible" <notifications@github.com> a écrit :

[2016-03-01 02:11] lukasbradley commented on #1859
@jdubois I feel this should be revisited.  It's not as straightforward as adding a few @NotNull annotations.

First, since the schema is generated, all of those columns should also be NOT NULL in the database.  It doesn't appear as if those NotNull annotations are being picked up by Liquibase.  Therefore, programmers must go back and alter the database constraints by hand.

Second, the generated U

[2016-03-01 03:19] denisazevedo commented on #1829
@geraldhumphries Hi, I had an issue too with gulp in 2.27.1. It's working with grunt.
I don't have my computer here to provide more information.

[2016-03-01 03:48] #2917 closed

[2016-03-01 04:00] deepu105 commented on #3017
closed via #3020

[2016-03-01 04:00] #3017 closed

[2016-03-01 07:35] everping opened #3039 "The problem when configuring and deploying the app"
I suffer the following error when deploying the app on Apache Tomcat/8.0.32:

`FAIL - Application at context path /myproject-0.0.1 could not be started
FAIL - Encountered exception org.apache.catalina.LifecycleException: Failed to start component [StandardEngine[Catalina].StandardHost[localhost].StandardContext[/myproject-0.0.1]]`

However, all is ok when I run the app by the following command:
`j

[2016-03-01 08:30] pascalgrimaud commented on #2754
Just FYI, after monitoring during ~20days, I decide to remove the build settings on master.
The image **jhipster/jhipster:master** won't be update after every merge/push
It triggered too much build for Docker Hub and there is no value

The build settings is now:
- tag -> latest
- tag -> vX.Y.Z

[2016-03-01 09:54] deepu105 commented on #3039
You are not following our [submission guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md). Ideally I would close such tickets, Im leaving it open just for the security risk part you mentioned, can you plz update the ticket content as per our guideline?

[2016-03-01 09:55] deepu105 commented on #2993
closed via #3033

[2016-03-01 09:55] #2993 closed

[2016-03-01 09:56] deepu105 commented on #2603
@wmarques LGTM plz submit PR

[2016-03-01 10:18] jdubois commented on #1859
You are correct.
Could you create a new ticket for that, with your explanation? Normally we don't discuss on old tickets, because things change so much in JHipster.

[2016-03-01 10:30] jdubois commented on #3039
Yes you have 2 different issues:

- For the exception: no idea what you are doing, as you don't follow the submission guidelines (it you don't provide more information I will close it)
- Yes you are correct for the .htaccess. We inherit this from html5boilerplate, on which we are based, but most people using JHipster don't use Apache HTTP Server. So this isn't really a security issue, as it's not

[2016-03-01 10:34] jdubois commented on #3023
I'm closing this as nobody answered, and I don't think we should rely on a project with such a low activity. I'd love to have this feature, of course, so if anybody has an alternative don't hesitate to open up a new ticket.

[2016-03-01 10:34] #3023 closed

[2016-03-01 10:35] jdubois commented on #3039
Oh and I didn't see the title of your ticket: sorry but I'm closing this, I just can't stand having those badly named tickets in my todo list -> please follow the guidelines, we even made a template to help you!

[2016-03-01 10:35] #3039 closed

[2016-03-01 10:42] PierreBesson commented on #2988
@pascalgrimaud Currently we are doing `links` to the database and registry in each apps, app.noregistry.dev.yml and app.noregistry.prod.yml. This is preventing me from extending those files in the [super-compose](https://github.com/PierreBesson/jhipster-microservices-docker/blob/6d00a668018a7790a88ae0cf4eeab63f48b716f0/super-compose-dev.yml). Also it seems `links` are no longer the recommended way

[2016-03-01 10:46] pascalgrimaud commented on #2988
Yes I agree! To be honest, I didn't have a close look to compose v2 yet (shame on me) ;-)

[2016-03-01 13:06] eacneto commented on #1829
Hi, I'm having this executing gradle with liquibaseDiffChangelog

[2016-03-01 13:07] wmarques commented on #2790
I'm working on it !

[2016-03-01 13:58] gbrehmer opened #3041 "Activate Account never fails"
##### **Overview of the issue**

Activate account API never fails: Because UserService#activateRegistration returns an Optional, the Wrapper Optional.ofNullable in AccountResource.activateAccount produces false negatives.

##### **Motivation for or Use Case**

already used or unknown activation codes does not raise an error

##### **JHipster Version(s)**

2.27.0

##### **Reproduce the error**

Cal

[2016-03-01 14:09] gbrehmer opened #3042 "saveAccount REST API doesn't use JSR 303 validation rules on DTO Layer"
##### **Overview of the issue**

REST API for saveAccount throws internal errors in case of validation problems (produced by hibernate check of JSR 303 annotations)

##### **Motivation for or Use Case**

AccountResource#saveAccount should have the same validation-rules applied to the given DTO like AccountResource#registerAccount (except password)

##### **JHipster Version(s)**

2.27.0

##### **Re

[2016-03-01 14:24] lukasbradley commented on #1859
@jdubois Absolutely.  I appreciate your open mindedness.  Will get one in this afternoon.

[2016-03-01 15:17] dptinor opened #3044 "Source in production profile"
Hi.

By deploying the application, in production profile, i get these two folders.

![2016-03-01_100107](https://cloud.githubusercontent.com/assets/5374085/13430953/5f26276a-df95-11e5-9943-44f22ea7507b.png)

in the first folder, it is 'app-..js' and 'vendor-.js', which is normal. But in the second folder, I find the whole application, why?. I must configure something?

Using generator-jhipster 2.2

[2016-03-01 15:35] atomfrede commented on #3044
The generated war files contains also the source files so that is correct.

[2016-03-01 15:38] gmarziou commented on #3044
This has been discussed several times, search the issues for details

[2016-03-01 15:38] #3044 closed

[2016-03-01 15:39] deepu105 commented on #3044
This is normal for 2.x version this will change in 3.0
On 1 Mar 2016 23:17, "dptinor" <notifications@github.com> wrote:

[2016-03-01 16:17] wmarques commented on #2921
I'll do this.

[2016-03-01 16:21] dptinor commented on #3044
ok, thanks to all.

[2016-03-01 16:33] dptinor commented on #3044
But then how do I remove it now?,in other discussions there are solution for this?. My Search not produce results.

[2016-03-01 16:39] andidev commented on #2921
Now that the angular prefix is optional for entities I think we need to prefix the controllers and states as well.

[2016-03-01 16:39] notflorian commented on #3044
The PR linked to this subject is #2945, but it isn't merged yet into the master branch.

[2016-03-01 16:44] wmarques commented on #2921
For now I renamed services @deepu105 mentioned above in [this commit](https://github.com/wmarques/generator-jhipster/commit/ede00ce4f0991bd932d4abee9e8cb6c740516afe). Should I also rename the files ?
I can start renaming controllers and state.

[2016-03-01 17:40] gmarziou opened #3046 "Swagger PathMapping in micro service should not be hard coded"
JH 3.0 master: when generating a micro service, the path mapping in SwaggerConfiguration is hard coded to the name of the service, it should be configurable.

Here the name of the service is "tester".

[code]

I propose to add it to JHipsterProperties.Swagger so that it can be configured in application properties and managed in config server.

[code]

Or it could be set to `/${eureka.instance.appn

[2016-03-01 17:44] gmarziou commented on #2921
FYI, on stackoverflow a user had created a Site entity which was conflicting with our site state.

http://stackoverflow.com/questions/35622553/unable-to-add-site-as-an-entity-in-jhipster

[2016-03-01 18:09] gmarziou commented on #3046
Another way would be to change the path property in the /v2/api-docs response using a Zuul filter. This way the service swagger spec could be also used without the gateway.

https://github.com/spring-cloud/spring-cloud-netflix/issues/8

[2016-03-01 20:04] dptinor commented on #3044
@gmarziou We use Gradle and Gulp.

[2016-03-01 20:07] dimeros opened #3047 "The email is not validated when a user is created"
In case of role admin:
Supposing that the administrator tries to add/edit a user. Then, an invalid email is given. Save is enabled and an unhandled 500 error is thrown.
The email should be validated.

If you agree, I will assign this fix to myself.

[2016-03-01 21:03] gmarziou commented on #3044
Well it should be similar in Gradle, just look at how to exclude files from war file when building it.

[2016-03-02 00:54] deepu105 commented on #2921
Lets leave at the services for now. I dont think we need to rename
everything. What controllers and state do you think has chances of
collision?  Some can be renamed to match what they are doing for example
HealthController can be better renamed to HealthCheckController similarly
MetricsController can be called MetricsMonitoringController so that the
chances of collision are less

On Wed, 2 Mar 20

[2016-03-02 01:03] deepu105 commented on #3047
Yes please

On Wed, 2 Mar 2016 4:07 am dimeros, <notifications@github.com> wrote:

[2016-03-02 01:47] #3047 closed

[2016-03-02 02:34] deepu105 opened #3052 "gulp serve fails when there is eslint error"
When there is an eslint error like say for example type a random text in any js file the gulp serve task fails and exits due to an error thrown by the `eslint-plugin-angular` seems like NPE I have raised a ticket in the plugin repo https://github.com/Gillespie59/eslint-plugin-angular/issues/363
[code]

cc @gmarziou @wmarques @erikkemperman any thoughts?

[2016-03-02 02:51] deepu105 commented on #2987
ok ill do this today

[2016-03-02 02:52] deepu105 commented on #2965
does anyone want to try this? else we can close it

[2016-03-02 02:53] deepu105 commented on #2790
closed via #3043 @wmarques please add the fix #issue-number keyword in your future PRs for autoclose

[2016-03-02 02:53] #2790 closed

[2016-03-02 02:54] deepu105 commented on #2603
closed via #3040

[2016-03-02 02:54] #2603 closed

[2016-03-02 02:55] deepu105 commented on #2965
@wmarques do you wanna give it a shot?

[2016-03-02 02:59] deepu105 commented on #2661
is this still open?

[2016-03-02 03:03] deepu105 commented on #2785
@gmarziou check this out may be you can model this like [here](http://www.nomnoml.com/#view/[<package>UML%20Representation|%0A%20%20[Compartment|lines:%20string*;nodes:%20Classifier*;relations:%20Relations*]%0A%20%20[Classifier|type:%20string;name:%20string;compartments:%20Compartment*;width:%20int;height:%20int;x:%20int;y:%20int]%0A%20%20[Relation|startLabel:%20string;endLabel:%20string;type:%20s

[2016-03-02 03:04] deepu105 commented on #2755
@cbornet can we close this and track it in #2785

[2016-03-02 05:27] deepu105 commented on #3052
I have [commented ](https://github.com/jhipster/generator-jhipster/commit/f7c95d156b349f7fd6cfd0af350f6ab7c99f07ea#diff-77f3296ef15494e769f9dbc2d73dcfa4R116)the `eslint` task from watch for now. We can enable back once we get this fixed

[2016-03-02 06:57] deepu105 commented on #2948
@jhipster/developers when using gradle build with new undertow change Imseeing below error in console

@jdubois here is my `yo-rc`
[code]
[code]

[2016-03-02 07:09] atomfrede commented on #2948
I've not tried it with websockets yet, without I didn't see any errors. Have you tried maven? Does it work correctly?

[2016-03-02 07:16] deepu105 commented on #2948
also when I do `java -jar` after `gradlew bootRepackage` im unable to access the app from `localhost:8080` as well

I have to try the prod profile and see if that works

[2016-03-02 07:16] deepu105 commented on #2948
No havent tried maven

[2016-03-02 07:26] atomfrede commented on #2948
I can try this evening with your config.

[2016-03-02 07:27] andidev commented on #2921
Yes that could be an option. Though it feels good to be consistent and rename them all the same.

[2016-03-02 07:37] deepu105 commented on #2948
its gives same in prod profile as well

Im on windows BTW

![image](https://cloud.githubusercontent.com/assets/1107223/13453639/a162116e-e08c-11e5-9add-e77656d372d9.png)

[2016-03-02 07:38] deepu105 commented on #2921
I dont have issue in renaming the admin modules which we provide

Thanks & Regards,
Deepu

On Wed, Mar 2, 2016 at 3:27 PM, Anders Steiner <notifications@github.com>
wrote:

[2016-03-02 07:51] deepu105 commented on #2948
Tried the same config with maven and I have same issue when doing `java -jar` however there is no websocket error here so thats only with gradle I guess.

1. `java -jar` doesnt work in both dev and prod profile. Did anyone try this after undertow change?

[2016-03-02 08:27] rksanket commented on #2948
What deepu has mentioned above is the exact issue I am facing on jH2.27 on win7. Strangely, all the profiles work when we launch from eclipse (through java main method and runtime args) and works when we move the war to a Linux machine.  Other Spring boot undertow samples from springsource work too in fat jar mode, but for this one.

[2016-03-02 08:45] deepu105 opened #3053 "npm install from Gradle fails without local npm"
There were lot of people complaining that the production build was failing when npm install was running.

I was running production build on a fresh project and seems its indeed true.

the gradle node plugin tries to find a npm installation in the local path which will not be there and fails. Installing npm loaccly by `npm install npm` resolves this but I dont think its required to add npm at every

[2016-03-02 08:46] deepu105 commented on #3053
need to check how the mvn plugin behaves

[2016-03-02 08:47] deepu105 commented on #2948
Not sure if this is an OS related issue?

Thanks & Regards,
Deepu

On Wed, Mar 2, 2016 at 4:27 PM, rksanket <notifications@github.com> wrote:

[2016-03-02 08:48] PierreBesson commented on #2811
I confirm that it is fully fixed.

[2016-03-02 08:56] wmarques commented on #2965
Yes I can try to do this ! But I have no idea how to rewrite URL in backend...

[2016-03-02 09:16] atomfrede commented on #3053
You have tried on windows? I'm pretty sure I didn't do ``npm install npm`` on any project. Will try to reproduce it.

[2016-03-02 09:17] deepu105 commented on #3053
may be its a bug only on windows

[2016-03-02 09:20] atomfrede commented on #3053
What have you done exactly?

* yo jhipster
* gradlew -Pprod -> error?

and

* yo jhipster
* npm install npm
* gradlew -Pprod -> working fine?

[2016-03-02 09:26] gmarziou commented on #3052
Personally, I think that having linting enabled on watch is annoying, it slows you down, I see linting more as a part of testing

[2016-03-02 09:38] deepu105 commented on #3053
exactly

Thanks & Regards,
Deepu

On Wed, Mar 2, 2016 at 5:20 PM, Frederik Hahne <notifications@github.com>
wrote:

[2016-03-02 09:40] wmarques commented on #3052
Agree with @gmarziou, I prefer run `gulp eslint` once I've finished editing all my files, for "live linting" we can use an eslint plugin in Atom.

[2016-03-02 09:46] gmarziou commented on #3052
Agree this is more a job for the editor/IDE.

[2016-03-02 09:50] atomfrede commented on #3053
Okay will check it today, but I'm pretty sure I never do ``npm install npm``

[2016-03-02 09:54] deepu105 commented on #3052
I kind of agree as well. but still this is an issue as it fails eslint on
whole when its ran. so may be lets remove eslint from watch for now

Thanks & Regards,
Deepu

On Wed, Mar 2, 2016 at 5:46 PM, Gaël Marziou <notifications@github.com>
wrote:

[2016-03-02 10:04] wmarques commented on #2965
I've found a solution on[ this guide](https://spring.io/blog/2015/05/13/modularizing-the-client-angular-js-and-spring-security-part-vii), but I don't know in which file I have to implement it, or if I have to create a new file, where I should put it in the project. For the moment I put it in config package and it seems to work. But as mentioned in the tip, /health and /monitoring routes have to be

[2016-03-02 10:17] gbrehmer opened #3057 "creation mail should use separate text parts"
##### **Overview of the issue**
Creation mail template reuses activation mail text parts.

##### **JHipster Version(s)**

2.27.0

##### **Suggest a Fix**
creation mail text parts should describe password reset instead of clicking an activation link

[2016-03-02 10:39] cbornet commented on #2755
@deepu105 yes ! Can you add it to the TODO ?

[2016-03-02 10:40] #2755 closed

[2016-03-02 12:26] RI-VIPER commented on #1812
Where do I find the root directory to put the favicon.ico. I replaced the default /src/main/webapp/favicon.ico with my own favicon.ico but I can't see the favicon.

[2016-03-02 12:47] gmarziou commented on #1812
Which version of jhipster?

[2016-03-02 12:59] gmarziou commented on #3057
I suppose you meant 2.27.0 rather than 2.7.0.
Would consider submitting a pull request?

https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-a-pull-request

[2016-03-02 13:12] PierreBesson commented on #2954
I'm currently working on this. I am writing an Access Control Zuul Filter.
@jdubois I have a question, how do you want to let users configure it ? It could look similar to the zuul.routes properties. I would propose Something like that:
jhipster:
    gateway:
        authorized-microservices-endpoints: /api, /v2/swagger-docs

Then we just provide a different config for dev and prod and it should b

[2016-03-02 14:21] PierreBesson commented on #2954
I have already implemented solution 1) on a gateway, it is working.

[2016-03-02 15:48] wdroste commented on #2948
Please reference my pull request. In order for this to work in Gradle, tomcat must be removed globally.. in the exclude block above and not in the "spring-boot-starter-web"..

Referenced in the documentation:
[Use Jetty instead of Tomcat](https://docs.spring.io/spring-boot/docs/current/reference/html/howto-embedded-servlet-containers.html#howto-use-jetty-instead-of-tomcat)

[2016-03-02 17:30] notflorian commented on #3042
I don't think this is very efficient to have 2 DTO, one with password validation and one without.

Maybe we could remove the `@NotNull` and `@Size(min = PASSWORD_MIN_LENGTH, max = PASSWORD_MAX_LENGTH)` and validate the password explicitly in `AccountResource#registerAccount`.

An other solution could be in `AccountResource#saveAccount` to validate selectively the fields email, firstName, lastName

[2016-03-02 17:33] atomfrede commented on #2948
@wdroste Oh yes you're right, thanks! Will provide a fix.

[2016-03-02 17:51] gbrehmer commented on #3042
you do not have to duplicate the DTOs. It's possible to extract a field to an upper class like ManagedUserDTO.
It's also not efficient to have validation on several places, one by JSR 303 annotation, another by a manual check. And generated validation errors are different depending on API method .

[2016-03-02 18:04] notflorian commented on #3042
Do you think you could propose a PR to fix this? :)

[2016-03-02 18:37] ruddell commented on #3053
I don't think this is an issue on Mac.  The project builds and runs successfully for me.  I don't normally use Gradle but the logs I see show the following in regards to npm:

[2016-03-02 18:52] bytor99999 opened #3060 "[FEATURE] Allow UUID primary keys"
##### **Overview of the issue**

Currently all Entities generate by JHipster makes the @Id PK auto-generated and Long. However, I think the majority of people are now using UUIDs for Primary Keys.

##### **Motivation for or Use Case**

So right now we are creating an admin application for our web site/app. I think this is a very common type of CRUD app someone might use JHipster for, as we need so

[2016-03-02 20:39] atomfrede commented on #3053
@deepu105 Looks like a windows problem. Created a fresh app, starting up the database via docker-compose and doing ``gradlew -Pprod`` executes gulp without any issues. Can you try the devbox?

[2016-03-02 21:45] bytor99999 commented on #3060
Since I have been having another issue and started looking at code in GitHub.

if (databaseType == 'sql') { %>
    @Id
    @GeneratedValue(strategy = GenerationType.AUTO)
    private Long id;<% } %><% if (databaseType == 'mongodb') { %>
    @Id
    private String id;<% } %><% if (databaseType == 'cassandra') { %>
    @PartitionKey
    private UUID id;<% } %>

And in the json file be able to have a

[2016-03-03 01:33] donhuvy opened #3063 "Improvement: Gradle + JIRA issue tracker + Gitter chat channel"
##### **Overview of the issue**

This is really a feature, an improvement, not a but or defect. For improvement JHipster development life-cycle.

##### **Motivation for or Use Case**

- Since Gradle build system is more powerful more than Maven, and Gradle support multi-programming languages, many complex build tasks.
- Gitter is good for team communicating and create community relations.
- JIRA i

[2016-03-03 01:41] #3063 closed

[2016-03-03 01:43] deepu105 commented on #3063
We already support both maven and gradle.
We already have a gitter channel https://gitter.im/jhipster/generator-jhipster

We dont have any plans to move to Jira at this point as github issues are convenient and sufficient

[2016-03-03 02:35] amitjindal commented on #3060
I would also request this functionality. Having UUIDs gives additional security (not guessable) and allows client side generation, ability to have disconnected databases (for later reconciling).
Currently I have a hack to do a post generation fix as a module but its less than optimum and I think this should be a core feature.

[2016-03-03 05:25] #2921 closed

[2016-03-03 05:33] deepu105 commented on #3060
I dont think this is a very generic use case and not sure if its worth adding as an option. Ill let @jdubois take the call.
@amitjindal may be you publish your module so that other can use it as well

[2016-03-03 06:13] deepu105 commented on #3053
Yup seems so. lets close it here as we cannot do much about it. https://github.com/srs/gradle-node-plugin/issues/87 needs to be fixed to resolve this and until windows users may have to do `npm i npm` to get around it

[2016-03-03 06:13] #3053 closed

[2016-03-03 07:02] deepu105 commented on #2948
`java -jar` still doesn't work on both `dev` and `prod` profile for maven and gradle @atomfrede can you please check on linux if it works?

the websocket error seems to fixed with #3061

[2016-03-03 07:21] jdubois commented on #3060
I'm guessing you only talk of SQL databases, because we do have UUID for MongoDB and Cassandra.
If you want to use an UUID as a PK for MySQL, then your performance is going to be really, really bad. I'll let you search the Internet for that :-)
So for me it's a bad idea, and I don't think we should have this kind of option available.

[2016-03-03 08:03] deepu105 commented on #2948
@jdubois we might need your wisdom here

[2016-03-03 08:54] PierreBesson commented on #2954
@jdubois Please tell me which one you prefer between 1), 2) or some other solution and I will do the PR today.

[2016-03-03 08:59] PierreBesson commented on #2987
@deepu105 Did you have time to make progress on this ? Otherwise @wmarques and me could give it a shot.

[2016-03-03 09:02] jdubois commented on #2954
2) is good for me
Sorry no time at the moment!

[2016-03-03 09:03] deepu105 commented on #2987
Was bit held up, and need to prepare for Jhipster night here. please proceed if you have time :+1:

[2016-03-03 09:17] PierreBesson commented on #2987
OK, we will try to do it. Good luck for tonight :smile: !

[2016-03-03 09:29] deepu105 commented on #2987
its not today its on 16th I have to prepare it this week as ill be bust
next week

Thanks & Regards,
Deepu

On Thu, Mar 3, 2016 at 5:17 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-03-03 10:16] deepu105 commented on #3060
thats a no from @jdubois I guess so @amitjindal your module might be a good option for @bytor99999

[2016-03-03 10:16] #3060 closed

[2016-03-03 10:16] deepu105 commented on #3052
ok lets remove eslint from serve task for now

[2016-03-03 10:22] #3052 closed

[2016-03-03 10:27] lourai opened #3067 "Separate changelogs for foreign key updates"
##### **Overview of the issue**

The entity generator manage every entity changelog independently. So when you have many tables (i have 50, but depends your database layout), you get mass foreign key error from liquibase changelog as many tables doesn't existe while creating/updating the database.

I'm using jhispter-uml, but it's a jhipster issue as the generator must "know" that he is working on

[2016-03-03 10:34] deepu105 commented on #3067
This is actually something i was thinking a while ago as well @jhipster/developers may be we can have a seperate changelog file which will have all the constraints changelogs injected. we could do with a needle during entity creation it would remove the need to have entity changelogs in correct order during liquibase table creations. what do you think?

[2016-03-03 10:34] deepu105 commented on #2244
anyone doing this?

[2016-03-03 10:40] lourai commented on #3067
Will work 100% and greatly offer suitable way to update existent projects !

I remember @jdubois talking avout update option now available in entity generator but didn't find it : how asking the generator in update mode ?

[2016-03-03 10:57] deepu105 commented on #3067
it will be available in next release but actually you might not be able to
use it on current projects as next release is major with breaking changes

Thanks & Regards,
Deepu

On Thu, Mar 3, 2016 at 6:40 PM, Florent Cauchois <notifications@github.com>
wrote:

[2016-03-03 12:43] deepu105 commented on #2948
here is my logs and screenshot from maven config

[code]

[code]

[2016-03-03 12:51] deepu105 commented on #2948
![untitled](https://cloud.githubusercontent.com/assets/1107223/13494804/9b2070a2-e181-11e5-83b1-20c49f3c4b35.png)

[2016-03-03 12:52] deepu105 commented on #2948
whats weird is the console shows some logs for authentication but webapp doesnt seem to load

[2016-03-03 13:26] erikkemperman commented on #2948
Just to add to the confusion: this same config works for me on Linux, running in IDE or using `java -jar` on the war file.

[2016-03-03 13:35] jdubois opened #3069 "Remove "spring.active.profiles" in the YAML files"
For application-dev.yml and application-prod.yml files, setting up the "spring.active.profiles" is probably useless (as we are already using that profile)
See: https://github.com/jhipster/generator-jhipster/blob/152a4421fe63cfbd2f45d78641680f8df9995bad/generators/server/templates/src/main/resources/config/_application-dev.yml#L29

[2016-03-03 14:17] wdroste commented on #2948
Linux works for me gradle/maven, dev/prod, jar/ide

[2016-03-03 14:23] deepu105 commented on #2948
seems some voodoo on windows

[2016-03-03 14:28] gmarziou commented on #3069
The only place where it would make sense to me is in src/test/resources/application.yml if we wanted to force some profile.

[2016-03-03 14:45] PierreBesson commented on #3069
What was the initial reason to put those in the config ? Was it not handled the same in previous version of Spring Boot ?

[2016-03-03 16:16] bytor99999 commented on #3060
I understand, but using a Sequence Long as a PK is also a really bad idea
in distributed systems. If I have a clustered database, a Long Sequence
will cause duplicate PK generated on these databases. Also, if you look
around and lots of applications today, people are no longer using Long
Sequences and are now more using UUIDs as PKs.

Thanks

Mark

On Wed, Mar 2, 2016 at 11:21 PM, Julien Dubois <n

[2016-03-03 16:35] jdubois commented on #3060
Yes, and we do use UUID on distributed databases, like Cassandra.
And MySQL is not a distributed database.

[2016-03-03 17:10] wmarques commented on #2965
If anyone can tell me where should I put this code I can PR this tomorrow morning after testing it. @jdubois @deepu105 ?

[2016-03-03 17:33] notflorian commented on #2965
Maybe you can put this controller with the others REST controllers, in [generators/server/templates/src/main/java/package/web/rest/](https://github.com/jhipster/generator-jhipster/tree/master/generators/server/templates/src/main/java/package/web/rest) ?

[2016-03-03 18:00] atomfrede commented on #2948
@deepu105 Same for me. Setting up a fresh app with your, booting up the docker production image doing ``java -jar`` and everything works fine.

[2016-03-03 18:33] jbernach opened #3072 "Angular: disable debug info for production [FEATURE]"
In production profile, I suggest disabling debug info on AngularJS for a performance boost:

https://docs.angularjs.org/guide/production

It only needs a few lines during the module configuration:

myApp.config(['$compileProvider', function ($compileProvider) {
  $compileProvider.debugInfoEnabled(false);
}]);

[2016-03-03 19:03] gmarziou commented on #3072
Yes good idea it could be done by testing ENV value.

Would you consider submitting a pull request?

https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-a-pull-request

[2016-03-03 19:19] jbernach commented on #3072
I've cloned the repository and after some research, my confidence was little.

I'll try.

[2016-03-03 22:22] jbernach commented on #3072
Well, I don't know how to access $rootScope.ENV from inside the config block (it can't be inyected):

[code]
Any clue?

[2016-03-03 22:45] pascalgrimaud commented on #2948
@deepu105 : I find a Windows machine to make tests (only with Maven) ! Some information that can help.

**Linux** -> it works fine
**Windows** -> same error like you, when I run `java -jar target\jhmysql-0.0.1-SNAPSHOT.war`, I got `Your request cannot be processed`

I move the `jhmysql-0.0.1-SNAPSHOT.war` from Windows to Linux : it works
I move the `jhlinux-0.0.1-SNAPSHOT.war` from Linux to Window

[2016-03-03 23:20] erikkemperman commented on #2948
Maybe try with undertow log level debug or even trace, might provide a clue? I read about undertow issues with websockets, is that the critical aspect in this config, i.e. does it work without those?

[2016-03-03 23:25] gmarziou commented on #3072
You should not need to use $rootScope to access ENV, you should just inject ENV and use it directly, it's a constant defined in `src/main/webapp/app/app.constants.js`

[2016-03-03 23:26] pascalgrimaud commented on #2948
Initialy, I used Windows for maybe another issue (with protractor tests) and I used all default options except protractor :
[code]

And I don't see anything in log...

[2016-03-03 23:32] gmarziou commented on #2948
I don't know if this is the same issue but I got same behaviour when running the main method from IntelliJ and to make it work I had to set working dir: https://groups.google.com/forum/#!topic/jhipster-dev/DI5DlxFA1bg

Maybe something related to classpath or current dir

[2016-03-03 23:37] erikkemperman commented on #2948
No errors? Or nothing at all? If the former, might be websockets... Deepu's log complained about `WebsocketDeploymentInfo`...

Unfortunately I don't have a Windows machine to help out... But I'm interested because this seems to be blocking my (otherwise unrelated, I guess) PR :-)

[2016-03-03 23:43] pascalgrimaud commented on #2948
I mean, no error in log

[2016-03-03 23:48] gmarziou commented on #3018
By the way, there will be some little rework  for springfox 2.4.1 in few weeks due to this change:

springfox/springfox/issues#1203

[2016-03-03 23:59] jodevan commented on #2360
Fair enough.

[2016-03-04 01:09] deepu105 commented on #2965
Yes should be in the rest folder
On 4 Mar 2016 01:34, "Florian Fauvarque" <notifications@github.com> wrote:

[2016-03-04 01:17] deepu105 commented on #2948
The websocket issue was resolved after excluding tomcat properly could this
be an undertow bug with windows?
On 4 Mar 2016 07:44, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-03-04 01:19] deepu105 commented on #2948
Even when running the app directly using bootrun im having a strange error
saying the ports are already in use quite often with maven and gradle it
works when i try again. I never had such issues with tomcat.

I have started to think if the few reduced seconds in startup is worth all
this trouble :( tomcat was rock solid stable
On 4 Mar 2016 09:17, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2016-03-04 03:04] dasss opened #3074 "Pprod failure"
##### **Overview of the issue**
Running "karma:unit" (karma) task
04 03 2016 11:00:26.561:INFO [karma]: Karma v0.13.19 server started at http://localhost:9876/
04 03 2016 11:00:26.566:INFO [launcher]: Starting browser PhantomJS
04 03 2016 11:00:27.034:INFO [PhantomJS 1.9.8 (Windows 8 0.0.0)]: Connected on socket /#vuTF7gzEvc-jyDHKAAAA with id 16361090
Fatal error: The header content contains inval

[2016-03-04 03:16] deepu105 commented on #3069
closed via https://github.com/jhipster/generator-jhipster/commit/0963aac493072bc151ad0cca319799ae901d154b

[2016-03-04 03:16] #3069 closed

[2016-03-04 03:18] #3018 closed

[2016-03-04 03:52] dscowan opened #3075 "Running integration tests fails with Cannot cast org.h2.Driver to javax.sql.DataSource"
##### **Overview of the issue**
Running integration tests via gradlew test or eclipse fails with Cannot cast org.h2.Driver to javax.sql.DataSource.

`Caused by: java.lang.RuntimeException: java.lang.ClassCastException: Cannot cast org.h2.Driver to javax.sql.DataSource
	at com.zaxxer.hikari.util.UtilityElf.createInstance(UtilityElf.java:79) ~[HikariCP-2.4.1.jar:na]
	at com.zaxxer.hikari.pool.PoolEl

[2016-03-04 03:53] deepu105 opened #3076 "Update node and npm for travis builds"
We should update our node version and npm version to latest LTS versions for our travis build

may be we should also set `npm set progress=false` as it speeds up installs a bit

Node: ->  v4.3.2 I guess it will use NPM bundled with it

we might have to update the cache as well https://github.com/jhipster/jhipster-travis-build.git

cc @pascalgrimaud

[2016-03-04 03:54] deepu105 commented on #3075
@cbornet  did you fix this in master? or did someone else work on this

[2016-03-04 04:31] wdroste commented on #2948
Has anyone tried the spring-boot sample on Windows?

[Sample Websocket Undertow](https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-websocket-undertow)

I've google'd for issues related to Undertow on Windows w/ websocket and nothing..

[2016-03-04 04:53] deepu105 commented on #2948
i will try

Thanks & Regards,
Deepu

On Fri, Mar 4, 2016 at 12:31 PM, Will Droste <notifications@github.com>
wrote:

[2016-03-04 04:53] deepu105 commented on #2948
I dont think it has anything to do with websockets

Thanks & Regards,
Deepu

On Fri, Mar 4, 2016 at 12:53 PM, Deepu K Sasidharan <d4udts@gmail.com>
wrote:

[2016-03-04 05:05] deepu105 commented on #2948
The spring boot sample works and our generated war file with or without
websocket doesn't work. So this is definitely a bug from our end

Thanks & Regards,
Deepu

On Fri, Mar 4, 2016 at 12:53 PM, Deepu K Sasidharan <d4udts@gmail.com>
wrote:

[2016-03-04 05:17] deepu105 commented on #3076
seems `2.14.22` is latest NPM LTS version

[2016-03-04 05:50] bytor99999 commented on #3060
Unfortunately, I inherited this database. I prefer Postgres over MYSql. But even prefer Mongo, Neo4J and Cassandra over RDBMS. Wish I could be all greenfield on this. Anyway, I can customize the generated entity and repositories. I'm only building a small admin app here for our real app. Meaning not for our users but for the few business people that need to add user records and fix a few pieces of

[2016-03-04 06:32] deepu105 commented on #2933
@0x00A do you think complete can be used for a yeoman generator?

[2016-03-04 06:33] deepu105 commented on #2933
I tried out based on your samples and doesnt seem to work on windows :(

[2016-03-04 06:34] jdubois commented on #2933
If it doesn't work on Windows we could just do it in a .zsh file, it would work well and I'd be very happy with it.
Yes I'm using oh-my-zsh

[2016-03-04 07:13] erikkemperman commented on #2948
But the default setup worked on Windows for @pascalgrimaud , right? So the salient difference must be in the config? But other than websockets I see only sass is different, which I can't imagine to be related to which servlet container is used. Or the language, @deepu105 's config has Chinese -- maybe an encoding / charset issue?

[2016-03-04 07:17] pascalgrimaud commented on #2948
No, default setup on windows only works if I run `mvn` or `./gradlew`
If I use `java -jar`, it doesn't work

[2016-03-04 07:29] erikkemperman commented on #2948
Ah, sorry, I misunderstood. Disregard that last comment!

[2016-03-04 07:55] 0x00A commented on #2933
@deepu105 i don't use yeoman so im not sure what those use cases are. But it def does not have windows support at the moment. The way it works is by installing a script into your profile script (https://github.com/0x00A/complete/blob/master/lib/complete.js#L268), so it only works with bash/sh/fish/zsh, etc. I would be totally excited to get a PR for windows though ;)

[2016-03-04 09:04] cbornet commented on #3075
The modifications I did on Hikari configuration are not part of v2.x branch so that must be something else.

[2016-03-04 09:05] #3072 closed

[2016-03-04 09:49] gmarziou commented on #3072
Thanks for your contribution

[2016-03-04 10:11] gmarziou commented on #3074
Please provide requested details in issue template.
Which JHipster version: 2.x from npm or 3.0 from github master?
Post your .yo-rc.json file and node version.

[2016-03-04 10:13] jdubois commented on #3074
Yes, we need your exact config to understand what you did, I'm closing this as it's incomplete.

[2016-03-04 10:13] #3074 closed

[2016-03-04 10:17] #3041 closed

[2016-03-04 10:22] #3076 closed

[2016-03-04 11:12] wmarques commented on #2965
Alright it's done, I've few problems on test I'm fixing this.
But as there is no more` /#/`, some spring endpoints are accessible via URL and can enter in conflict if the user generates for example a `health` or `info` entity. I've thought about adding `RESERVED_WORDS_SPRING` constant array in entity generator, what do you think ?

[2016-03-04 12:38] gmarziou commented on #2965
I did not understand this would cause conflicts, we have many endpoints that come from [spring-boot actuator](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#production-ready-endpoints), they could be customized.

I think we should consider either rolling back to `/#/` or name space the angular URLs with a prefix like `/client` or `/ui`

[2016-03-04 13:04] notflorian commented on #2965
Instead, we can easily change the root path of the actuator endpoints with the following configuration key in `application-dev.yml `and `application-prod.yml` :
[code]
By doing so, the health endpoint will be : `/actuator/health`, and same for info or configprops

[2016-03-04 13:18] wmarques commented on #2965
Personally I would either rollback into `/#/`, if we add a namespace it's better to keep the default one imo. Or customizing Spring endpoints would be a nice trick to prevent conflicts.

[2016-03-04 13:21] sendilkumarn commented on #695
@jdubois @deepu105 Can this be added in JH3?

[2016-03-04 13:38] jdubois commented on #2965
I didn't know that configuration @notflorian

-> I think we must do it anyway, as it will make our endpoints much more easy to secure!!!! That would remove a lot of lines from SecurityConfiguration

[2016-03-04 14:30] gmarziou commented on #2965
@notflorian and @jdubois if we do so we will have to add this to all our application.yml:

[code]

[2016-03-04 14:44] rksanket commented on #2948
Finally, a solution for the nemesis is in place. Here is an update from me - hopefully this may lead to something - may be, jHipster needs to revisit static resources location. Today, I started to debug spring boot and undertow code and realized that spring boot is looking for resources in the below locations :
[code]
**_After that, I created a folder called resources inside the META-INF directory

[2016-03-04 14:46] fraf opened #3080 "v2.27.1 (latest version) : no css anymore at front end in navigator"
##### **Overview of the issue**
Missing the css web browing application out of the box in v2.27.1 generator (with gulpjs)
Was ok in version v2.27.0 of generator yet ! (with grunt)

##### **Motivation for or Use Case**

Need to recode the navbar and all CSS ??

##### **JHipster Version(s)**

Regression introduce in v2.27.1 compared to v2.27.0

##### **JHipster configuration, a `.yo-rc.json` file ge