[2014-12-01 21:36] anibalgomezprojects opened #825 "Liquibase Best Practices"
Creating an entity is like:

**$ create src/main/resources/config/liquibase/changelog/20141201153235_added_entity_ENTITY.xml**

According with the Liquibase Docs, it could be:

**db.changelog-1.0-new-ENTiTY-table**

What do you think implementing this?
1. It could be more efficient in version control 1.0, 1.1, etc...

Regards!

[2014-12-02 01:23] #819 closed, assigned to jdubois

[2014-12-02 09:56] #824 closed, assigned to nobody

[2014-12-02 11:56] gzsombor opened #827 "Entity details page"
It would be a nice addition to automatically generate 'entity details' page, which gets linked from the list view

[2014-12-02 12:25] #823 closed, assigned to nobody

[2014-12-02 15:25] #814 closed, assigned to nobody

[2014-12-02 21:14] donovanmuller opened #829 "Generating a new project with 1.10.0 release, cannot resolve spring-boot-maven-plugin"
Generating a brand new Maven, Java 8 project with the latest release results in the following Maven error when running `mvn spring-boot:run` for the first time on a machine that has never resolved Spring Boot before (docker container, cloud build server, etc.)

[code]

This can be seen on the sample apps [drone.io build](https://drone.io/github.com/jhipster/jhipster-sample-app/25)
If I add all Spr

[2014-12-02 21:40] jdubois opened #830 "Reduce the number of calls when the user is unauthenticated"
When a user is not authenticated, getting the "/" page makes 3 REST requests:

[code]

This seems to be because the "Principal" is asked for displaying the navbar; and the authorizations are also required.

This causes 2 issues:
- From a performance point of view, only 1 request is necessary, and it should be the check on the "authentication_check.gif" URL
- This causes sometimes a "session cookie

[2014-12-03 01:43] #793 closed, assigned to nobody

[2014-12-03 13:36] luc-clement opened #833 "User login with capital letter(s)"
When register an account with capital letters in the login, jHipster doesn't recognize the roles of the new user when connected. When calling the getAccount Rest method (AccountRessource.java), the response is the correct user but with an empty list of roles.

Looks like the problem take place in the loadUserByUsername method (UserDetailsService.java) when we use login.toLowerCase() at the beginni

[2014-12-03 14:53] #833 closed, assigned to nobody

[2014-12-03 15:19] #807 closed, assigned to jdubois

[2014-12-03 15:30] c0nscience opened #835 "How to test resources with security context"
Hi JHipster Team,

I wonder how can I test my resources, where I use the SecurityUtils to get the logged in user. I thought the easiest way might be to mock the static method `SecurityUtils.getCurrentLogin()`, but for that I need PowerMock wich uses an own junit runner to preparing the bytecode and there I get stuck, because I can't use two runners.

Any toughts on that how to solve this problem?

[2014-12-03 15:45] #835 closed, assigned to nobody

[2014-12-03 16:02] #825 closed, assigned to nobody

[2014-12-04 11:08] gomesp opened #840 "Feature Request: Add the ability to configure ACL"
Thanks for this great project. I hope to contribute more to it in the near future. In the meantime, I'll make some feature requests (which I'd be willing to implement in the near future). Please let me know if it aligns with the project roadmap.

The 1st application that I'm trying to write based on JHipster requires ACL.

Use case example:
- Organizations and Employees. The employees are associat

[2014-12-04 14:20] delor opened #841 "A metric named jvm.memory.heap.committed already exists"
jhipster 1.10.0, mvn, grunt, h2/postgres
freshly generated with 3 entities
this is what I get from running `mvn test`

[code]

[2014-12-04 22:55] windhood opened #842 "Support both angularjs style single page app and traditional thymeleaf pages?"
Angularjs is a little bit heavy when running in mobile devices. Could it possible the jhipster generated some consumer faced pages using more traditional thymleaf/jsp pages? I mean sometimes we need a hybrid application.
Thanks

[2014-12-04 23:19] #842 closed, assigned to nobody

[2014-12-04 23:45] #829 closed, assigned to nobody

[2014-12-05 00:10] jdubois opened #843 "Generate a Cassandra version"
- Using Spring Data Cassandra
- Should be close to the MongoDB version

[2014-12-05 10:11] gzsombor opened #844 "Websocket doesnt work"
I've tried to create a new application with athmosphere support, but it doesnt seems to be working. If I start with "mvn spring-boot:run", I have the following lines in the log :

`[WARN] org.atmosphere.util.IOUtils - META-INF/services/org.atmosphere.cpr.AtmosphereFramework not found in class loader
[WARN] org.atmosphere.cpr.DefaultAsyncSupportResolver - Found multiple containers, please specify w

[2014-12-05 15:26] amr opened #846 "Environment profiles, builds and version control and builds"
I hope I didn't overlook the obvious. But here goes...

Currently, jhipster promotes that all settings exist in a config file under resources and by default those are tracked in git. Some of the settings in a given `application-*.yml` files are machine specific, and others are specific to the type of environment (i.e. production, development, etc).

I think that the workflow that jhipster should p

[2014-12-05 21:42] henri-tremblay opened #848 "Can you provide a code formatting file for IntelliJ/Eclipse ?"
It would make it easier to match the generated indentation.

For Java and Javascript

Maybe an Eclipse file is enough since it can be imported by IntelliJ

[2014-12-06 03:30] #772 closed, assigned to jmirc

[2014-12-06 06:47] #846 closed, assigned to nobody

[2014-12-06 11:57] #830 closed, assigned to jmirc

[2014-12-06 12:24] #794 closed, assigned to jmirc

[2014-12-06 23:27] jmirc opened #849 "Create a new sub-generator to install new language"
By default, a new project generated by JHipster will install only the english and the french languages.
This new sub-generator will be used to install the other supported languages.

[2014-12-06 23:39] #849 closed, assigned to nobody

[2014-12-06 23:44] #648 closed, assigned to jmirc

[2014-12-06 23:45] #363 closed, assigned to nobody

[2014-12-07 12:49] gomesp opened #850 "Datepicker not displayed on Safari & Firefox"
Hi guys

The datepicker component only displays on date fields when I browse to the application using Chrome. Not working when I browse using Safari or Firefox on OS X (all browsers on their latest versions on Yosemite).

[2014-12-07 13:19] #850 closed, assigned to nobody

[2014-12-07 14:27] clincks opened #852 "Websocket + strange behaviour"
When I create a new application I observe a strange behaviour:

Here the output of the logs:
[WARN] org.atmosphere.util.IOUtils - META-INF/services/org.atmosphere.cpr.AtmosphereFramework not found in class loader
[WARN] com.mangofactory.swagger.plugin.SwaggerPluginAdapter - SwaggerSpringMvcPlugin have already been initialized!
[WARN] com.mangofactory.swagger.plugin.SwaggerPluginAdapter - SwaggerSp

[2014-12-08 15:51] tofmonaute opened #853 "gzip filter doesnt work when tr"

[2014-12-08 15:51] #853 closed, assigned to nobody

[2014-12-08 15:56] tofmonaute opened #854 "GZIP doesnt work when rest controller return a callable"
GZIP filter seems configured for async however when my controller return a Callable:
code of the method:
  @RequestMapping(method = RequestMethod.PUT, value="/rest/voitures/{voitureId}", consumes="application/json; charset=utf-8",   produces = MediaType.APPLICATION_JSON_VALUE)
    public Callable<Voiture> voitureUpdate(@RequestBody final Voiture v,    @PathVariable("voitureId") final Long  voiture

[2014-12-09 00:02] #815 closed, assigned to jmirc

[2014-12-09 04:03] edwardbeckett opened #855 "Maven Production Profile Dependency Error for Module Sigmund"
Using version 1.10.0 Running mvn -Pprod package is generating an error in the Grunt Test phase for a dependency on 'sigmund'

[code]

After reading the yeoman-maven-plugin's xml I determined there was a parameter available for 'skipTests' ... after adding that parameter to the plugin's configuration block the build completed. However, the dep on sigmund fails on a vanilla package command for the p

[2014-12-09 22:10] jbaris opened #857 "yo-angular support"
If I run:

[code]

on the application root, the files (in this case, directive files) are created on /myApp/app/scripts/...
But, the correct directory must be /myApp/src/main/webapp/scripts/...
To solve this issue it is necessary to append on bower.json the line:

[code]

Did you think this is appropiated to jhipster?
Thanks!

[2014-12-10 13:16] devedipoint opened #859 "Problem when creating relationships between entities"
Hi

I've got exactly the same error as described in #741 and #686

jhipster 1.10.1 with latest yo 1.3.3, npm 2.1.11. I've just updated whole npm: npm update -g -f and still the same.

What to do?

[2014-12-10 13:58] gzsombor opened #860 "Liquibase fails when running as a standalone spring-boot jar"
Steps to reproduce:
 1, create a new jhipster app, with SQL
 2, mvn install
 3, java -jar target/jhipster-0.0.1-SNAPSHOT.war

It will throw a :
_liquibase.exception.ServiceNotFoundException: liquibase.exception.ServiceNotFoundException: Could not find implementation of liquibase.logging.Logger_

It seems, that the addLiquibaseScanPackages() method, which I guess, should solve this issue, doesnt wo

[2014-12-10 15:50] #860 closed, assigned to nobody

[2014-12-10 16:22] donko opened #862 "Entity menu entries added to wrong file"
After adding new entity via the **yo jhipster:entity** command in 2.0 the app in browser is blank. The menu items get placed on top in index.html. Probably since nav has been moved to separate file in components and can't find place holder.
Moving items to navbar.html manually fixes the issue.

[2014-12-10 23:19] #859 closed, assigned to nobody

[2014-12-11 01:19] #862 closed, assigned to nobody

[2014-12-11 03:35] jmirc opened #864 "Move the javascript folder to app/templates/src/test/javascript"
As discuted with @jdubois , all tests will be centralized to the src/test folder.
The Javascript tests will be moved to this folder

[2014-12-11 04:23] #864 closed, assigned to jmirc

[2014-12-11 11:19] jmirc opened #865 "Liquibase issue with the prod profile"
Caused by: liquibase.exception.ServiceNotFoundException: liquibase.exception.ServiceNotFoundException: liquibase.exception.ServiceNotFoundException: Could not find implementation of liquibase.logging.Logger
    at liquibase.logging.LogFactory.getLog(LogFactory.java:46)
    at liquibase.logging.LogFactory.getLogger(LogFactory.java:37)
    at liquibase.integration.spring.SpringLiquibase.<init>(Sprin

[2014-12-11 11:32] #865 closed, assigned to nobody

[2014-12-11 20:50] #841 closed, assigned to nobody

[2014-12-12 07:48] loic911 opened #868 "H2 in prod"
Hi,

Is it possible to use an H2 database in the prod mode?
I have no critical data to store (the core of my app use redis).

When creating the template, h2 is only allowed for dev.
I try to "hack" yo-rc.json and manually set "prodDatabaseType": "h2Memory" but it doesn't work.

Is it a way to use a simple "in memory" database (or simply no database)?

Thanks

[2014-12-12 08:57] gzsombor opened #869 "modular maven project"
I think, lot's of projects based on jhipster, will grow beyond the couple of tables, entities and services size, after where separating of the web related code, from the backend is beneficial, so for example, one can use the db handling code, independently from the web frontend (for datamigrations, for batch processing, etc).
 I have one idea, how to implement it :
- modify every 'copy' and 'templ

[2014-12-12 11:01] #868 closed, assigned to nobody

[2014-12-12 12:34] #848 closed, assigned to nobody

[2014-12-12 13:06] devedipoint opened #870 "JPA entities and extending classes"
I've noticed in entity generator there is not any possibility to extending classes.

Case 1: I need to all my entities extend BaseEntity related to TagEntity
Case 2: InvoiceEntity would extend AbsDocumentEntity because some fields would share with other documents, ie. OrderEntity.

I think extending and choosing JPA Strategy is very neccessery.

What do you think about it?

[2014-12-12 13:21] devedipoint opened #871 "Changing JPA entity"
Let's assume we have a Entity with fields and relationships with others. Now we cannot use entity generator to change this Entity (fields, relations) because:
- it will overwrite existing classes and *.js
- it will add next liquibase file like it would creating entity in contrast to make alter table. It causes exception with liquibase trying to add the same table again.
1. It could detect if Entit

[2014-12-12 20:55] #820 closed, assigned to nobody

[2014-12-12 21:44] #748 closed, assigned to nobody

[2014-12-12 21:44] #782 closed, assigned to nobody

[2014-12-13 03:31] #857 closed, assigned to nobody

[2014-12-13 07:50] #855 closed, assigned to nobody

[2014-12-13 08:06] #871 closed, assigned to nobody

[2014-12-13 08:15] #852 closed, assigned to nobody

[2014-12-13 19:17] xenoterracide opened #872 "Persistable and Auditable"
just checking your project out, it seems like the generated AbstractAuditingEntity could implement Auditable by default (or could just use AbstractAuditable instead of providing an implementation)

http://docs.spring.io/spring-data/data-commons/docs/current/api/org/springframework/data/domain/Auditable.html?is-external=true

[2014-12-15 09:59] sudheerp opened #874 "Unable to register MBean [HikariDataSource (HikariPool-0)] with key 'dataSource'"
Logging the issue as suggested by brettw. I have tried with HikariCP 2.2.4 and 2.2.5 versions without luck
http://stackoverflow.com/questions/27440985/unable-to-register-mbean-hikaridatasource-hikaripool-0-with-key-datasource
## issue

I am getting below error in prod mode for (Java8+Oauth2+MySql+Hazelcast+no clustered http sessions) combination. Dev mode has worked fine.

Unable to register MBean

[2014-12-16 04:41] anibalgomezprojects opened #875 "Trying to build generator"
Im trying to test the master source.

$ npm test

  jhipster generator
    1) "before each" hook

  0 passing (9ms)
  1 failing

  1) jhipster generator "before each" hook:
     Uncaught Error: You don't seem to have a generator with the name jhipster:app installed.
You can see available generators with npm search yeoman-generator and then install them with npm install [name].
To see the 1 registe

[2014-12-16 12:03] #875 closed, assigned to nobody

[2014-12-16 18:01] AyseGokmen opened #876 "master: navigation links does not get created for entities during jhipster:entity"
I have found that in script-base.js the path of navbar.html is not correct, so it does not create a link in the navigation menu for entities.
The correct form should be;

[code]

i think.
navbar.html is in src/main/webapp/scripts/components/navbar/navbar.html in the master branch.

[code]

[2014-12-17 12:51] gmarziou opened #878 "Documentation for authorizations in client"
I think that the AngularJS part in JHipster 2.x could be better documented or commented
I propose the following paragraph about authorizations in client.
# Authorizations in client

JHipster uses [angular-ui-router](http://angular-ui.github.io/ui-router/) to organize the different parts of your client application.
For each state, the roles that are required are listed in the state's data, when the

[2014-12-17 13:35] gmarziou opened #879 "Angular-UI Router state definition should not be in *.controller.js file"
As far as I understand, JHipster 2.x follows angular-fullstack code organization but currently the state definition is stored in the controller file.
Example:

src/main/webapp/app/main folder contains 2 files:
- main.controller.js: the controller and the route/state definition
- main.html: the view

In angular-fullstack, [generating a new route](https://github.com/DaftMonk/generator-angular-fullst

[2014-12-18 03:01] #879 closed, assigned to nobody

[2014-12-18 03:15] #876 closed, assigned to jmirc

[2014-12-18 10:48] mleneveut opened #883 "Java8 + MongoDB generates compilation error in UserRepository"
With options Java 8 and MongoDB, lastest jHipster generates :
public interface UserRepository extends Repository<User, String> {

and Repository is not imported.

_UserRepository only include import org.springframework.data.repository.Repository; for sql and Java8.

I think that for Java 8 and nosql it should be :
<% if (databaseType == 'nosql') { %>MongoRepository<% } %>
instead of
<% if (databas

[2014-12-18 11:28] #883 closed, assigned to nobody

[2014-12-18 14:08] mleneveut opened #884 "Compilation error in UserRepository with Java8 + MongoDB"
My compilator doesn't seem to like the
Optional<User> save(User t);

in UserRepository when extending MongoRepository.

It complains : "The return type is incompatible with CrudRepository<User,String>.save(User) "

Making it
User save(User t);

seems to compile. Didn't test it in real world.

[2014-12-18 15:28] #884 closed, assigned to nobody

[2014-12-18 16:39] jgribonvald opened #886 "Managing constraint validation on entity"
Is there a way to manage in the frontend side eorrs on constraint validation on entities attributes ?
like intercepting errors ?

[2014-12-18 19:45] #886 closed, assigned to nobody

[2014-12-19 00:44] duartejc opened #888 "Confirmation dialog for delete operations"
Could have a confirmation dialog before delete operations as usual in applications.
There is an interesting project for that purpose:

https://github.com/m-e-conroy/angular-dialog-service

[2014-12-19 10:55] jmirc opened #889 "Align with angular-fullstack to manage all assets in the assets folder"
Here is the new structure

[code]

[2014-12-20 09:22] jfleury80 opened #890 "Liquibase fails when using MAMP mysql server on mac"
Hi,

I've created a new JHipster app and I have an issue with liquibase.

My dev env is :
- Java JDK 1.7.0_71
- MAMP Mysql server running on localhost:8889 (on MacOS Yosemite)

Launching `mvn spring-boot:run` throws :

[code]

I've set up the right Datasource config in `src/main/resources/config/application-dev.yml` but liquibase seems to ignore it.

Am I missing something ?
Thanks

[2014-12-20 12:12] #889 closed, assigned to nobody

[2014-12-20 12:14] #890 closed, assigned to nobody

[2014-12-20 12:39] #874 closed, assigned to nobody

[2014-12-21 14:02] julienboulay opened #892 "Provide x-auth-token authentication method"
When no cache system is enabled on the server side, x-auth-token could provide a better stateless and simpler authentication method compared to OAuth2.
An example here : https://github.com/joshlong/boot-examples/tree/4b14c1634e7cfa0e5ab5313fe5a14121ef7c10f7/x-auth-security/src/main/java/demo/xauth

[2014-12-21 21:54] jdrew1303 opened #894 "Exception Handling Enhancement"
Update JHipster to use [Spring Exception Handler](https://github.com/jirutka/spring-rest-exception-handler).

Exception messages tend to be one of those things that takes a lot of time to design, more so then normal rest APIs. There's also the possibility to generate a handler in Angular when theres a standardised format.

[2014-12-21 22:04] jdrew1303 opened #895 "Generation of Angular 'DAO' layer from Swagger API"
Swagger is useful for documentation, but its real power is the ability to generate code from the endpoint descriptor files. Client APIs for Angular can generated using [Swagger JS Codegen](https://github.com/wcandillon/swagger-js-codegen). This library has one item that can be updated, it does not apply headers as of this time.

[2014-12-21 22:12] jdrew1303 opened #896 "Generation of test data factories for stubs and testing from Swagger"
Using the parser from #895 to generate test data factories using [factory-girl](https://github.com/aexmachina/factory-girl) and [Faker.js](https://github.com/marak/Faker.js/) to allow for more concise unit testing of functions requiring models. If the models are wrapped in a [UMD](https://github.com/umdjs/umd), they can be reused for unit tests, stubs and UI/Visual regression tests.

[2014-12-21 22:38] jdrew1303 opened #897 "Addition of scaffolding for UI testing"
Addition of [Protractor](http://angular.github.io/protractor/), [Mocha](http://mochajs.org/), [Chai](http://chaijs.com/), [chai-as-promised](http://chaijs.com/plugins/chai-as-promised) and [cucumber.js](https://github.com/cucumber/cucumber-js) for acceptance testing and E2E regression tests.

Using the mocha, chai stack allows for much more expressive and descriptive code. Using the chai-as-promis

[2014-12-21 22:49] jdrew1303 opened #898 "Gulp file structure"
Modularising the gulpfile allows for easier modification and customisation. The tasks should be separated out into their own files. The structure of the task should be similar to the following https://github.com/greypants/gulp-starter

Its main use is to encapsulate the dependencies of each build task.

[2014-12-22 05:07] addagulla opened #899 "Account Activation through E-mail"
Hi,

As the part of my project i have to send an email activation link to the customers specific email id during the Enrollment process to complete the Customer account creation successfully. so to develop the same. i hope some one will help me in developing the account activation through email feature

thanks

[2014-12-22 15:23] #899 closed, assigned to nobody

[2014-12-22 16:22] #869 closed, assigned to nobody

[2014-12-22 16:26] #898 closed, assigned to nobody

[2014-12-22 16:31] #895 closed, assigned to nobody

[2014-12-22 16:45] #878 closed, assigned to nobody

[2014-12-22 16:53] #870 closed, assigned to nobody

[2014-12-22 16:53] #854 closed, assigned to nobody

[2014-12-22 17:14] iuricmp opened #901 "No question about relationships"
The questions concerning the relationships are never made when I use de command:

`yo jhipster:entity author`

I'm using the option: _java8 + mongoDB_.

[2014-12-22 17:22] #901 closed, assigned to nobody

[2014-12-23 10:43] #733 closed, assigned to nobody

[2014-12-24 10:12] gmarziou opened #903 "Could Angular Token Auth project be useful for JHispter 2?"
I was just wondering whether jhipster 2 could benefit of using [Angular Token Auth](https://github.com/lynndylanhurley/ng-token-auth) for authentication on client-side. It mainly targets Rails applications using [Devise token authentication](https://github.com/lynndylanhurley/devise_token_auth) but is not restricted to this.
I think it's a serious project with good documentation.

Maybe it could h

[2014-12-24 10:24] #687 closed, assigned to nobody

[2014-12-24 14:46] gmarziou opened #904 "Documentation about how to set up your own continuous integration server"
Setting up your own continuous integration server using Jenkins for a JHipster 2 application is harder than for a classic Spring MVC application because of all tools required to build and test the client code.

In fact, for those who can it's probably a good idea to think about hosted continuous integration like TravisCI as the JHipster team does.

I am currently going through this process and I w

[2014-12-25 14:10] MartinLichtblau opened #905 "Entity generation > one-to-one > Select through UI"
It would be really nice and consistent when the one-to-one relation would have a UI to select one related entity element.
1. In commit 483cff5 you said such a thing isn't possible. But shouldn't it be just fine to show all elements of the related table, select one, and save the element.id as a foreign key in the newly created element of the other table?
2. I tried the REST create-method through th

[2014-12-25 20:31] Avricot opened #906 "Why server restart invalidate remember-me token ?"
Once the server get rebooted, we get a CookieTheftException exception for connected users.
I don't understand why, and I'm not sure if this should be the default behaviour.
Any ideas about this ?

[2014-12-26 13:30] theborakompanioni opened #907 "Any plans on including lombok?"
Hey there. The one thing I have to do for all of my jhipster-based projects is to include lombok (http://projectlombok.org/) - it just speeds up development while improving the readability of the source. Any thoughts on including it? Would a PR be welcomed?

[2014-12-26 13:36] #907 closed, assigned to nobody

[2014-12-26 13:47] #872 closed, assigned to nobody

[2014-12-26 18:27] imduffy15 opened #908 "ng-show items flash before loading"
ng-show items flash before loading if they aren't required.

ng-cloak along with the necessary CSS should be used to hide them until it is known whether or not the element is needed.

[code]

[2014-12-27 07:22] jdubois opened #910 "[Vote] Which authentification mechanisms should we provide?"
We currently provide:
- "formed based" authentication with Spring Security, which we have extended so you can invalidate sessions, have a better cookie theft feature, etc...
- OAuth2 authentification, which requires us to have our own server side implementation in MongoDB (and soon in Cassandra)

Both options are good and are two different approaches.

Now we have 4 other options that are currentl

[2014-12-28 09:47] #910 closed, assigned to nobody

[2014-12-28 09:47] #813 closed, assigned to nobody

[2014-12-28 09:47] #903 closed, assigned to nobody

[2014-12-29 21:16] smurve opened #917 "Generate Entities from a simple DSL"
I really like the stack and the careful choice of production-ready features. Thanks so much for making this tool open-source. And I understand that you can't update entities once they're created. But do you plan to support feeding a json file into the generator? That file could contain all entity descriptions just as it would be created by the dialog on the console. I think, that by this feature t

[2014-12-30 01:20] #844 closed, assigned to nobody

[2014-12-30 06:42] svennela opened #918 "PersistentToken class is not their"
Hi,

I generated project with OAuth type. I am not able to see PersistentToken.java any more.

Thank you,
Sridhar

[2014-12-30 07:11] #918 closed, assigned to nobody

[2014-12-30 07:13] #917 closed, assigned to nobody

[2014-12-30 18:06] astrapi69 opened #920 "install instructions"
Hi there,

im tryin to install the generator-jhipster and get following errors:

npm ERR! peerinvalid The package yo does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer generator-jhipster@1.10.2 wants yo@>=1.3.0

npm ERR! System Linux 3.13.0-43-generic
npm ERR! command "/usr/bin/nodejs" "/usr/bin/npm" "install" "-g" "generator-jhipster"

OS:ubuntu 14.04
tried so

[2014-12-30 18:27] amr opened #921 "Merging between 1.x maintenance and master branches"
When submitting a PR against 1.x, should another PR be submitted against master too (assuming the issue at hand exists in both of course), or does 1.x gets merged into master every now and then?

[2014-12-30 19:26] #921 closed, assigned to nobody

[2014-12-30 19:27] #920 closed, assigned to nobody

[2014-12-31 10:12] #778 closed, assigned to nobody

[2014-12-31 10:34] #798 closed, assigned to nobody

[2014-12-31 13:44] #827 closed, assigned to nobody

[2014-12-31 14:04] #888 closed, assigned to nobody

[2015-01-01 15:31] sdoxsee commented on #910
I'm not too familiar with spring social but I know that jwt is growing in popularity and isn't just limited to the Java world. I think jwt would be great

+1 JWT

[2015-01-01 15:54] sdoxsee commented on #910
..or at least don't close the poll yet. What is already in jhipster is fine for now. I wouldn't change much yet after only hearing from a few people on a poll that wasn't tweeted about.
Jwt, oauth2 + openid connect is a powerful authentication/authorization combination with ietf standards and support from big players (jwt is authorization not authentication in itself but openid connect is authenti

[2015-01-01 16:04] pvlastaridis commented on #910
OAUTH2 is here to stay and maybe a small Android App to connect to it and do some Basic CRUD operation? Anyone from Coursera MOOC Specialization could help.

[2015-01-01 17:04] jdubois commented on #588
@nvoxland this is in fact a Spring issue! I'm correcting it...

[2015-01-01 17:17] jdubois commented on #588
@nvoxland I have no problem with the executable WAR, as of version 3.5.0-SNAPSHOT from yesterday!
When can you release?

[2015-01-01 17:17] #588 closed

[2015-01-01 17:48] jdubois commented on #754
@nvoxland this NPE is in fact a new issue, as this was working on previous versions.

So I am with Liquibase (3.4.0-SNAPSHOT) , liquibase-maven-plugin (3.4.0-SNAPSHOT) and liquibase-hibernate4.2 (3.5-SNAPSHOT)

The issue is because I have a @CollectionTable mapping (it is [here in our source code](https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/java/package/domain

[2015-01-02 03:12] VikasJindal84 opened #925 "UML Class Diagram for JHipster"
Hi,

Currently , we are using command line to create entities in JHipster e.g.

yo jhipster:entity author

I want to contribute to your project by integrating it with Class diagram . User can create create a class diagram from that plugin ,then that plugin will invoke some JHipster's APIs to create entities corresponding to it .

I have some questions , can you please help me with these :

* How s

[2015-01-02 09:56] mrzepinski opened #926 "The same backend stack but different frontent options"
Is there any chance to implement different frontent options for this architecture?
I would like to have an options to chose AngularJS or Metor or React + Flux for my frontent.
Any suggestions? Backend architecture is nice and simple and it could be reuseable.

DW: @jdubois @jmirc

[2015-01-02 11:32] gzsombor commented on #925
What kind of Class Diagram plugin do you use ? Is it an eclipse plugin ? Which one?

JHipster has the ability to load json files, which describes the individual entities (when you generate a new entity, JHipster automatically saves in these format, so later, you can regenerate it). So your plugin could output a couple of json files, and execute the entity generator.

[2015-01-02 11:43] amr opened #927 "gulp/grunt server:dist is currently broken"
Currently in master branch, `gulp server:dist` and `grunt server:dist` are broken.

Errors while accessing the homepage from a `grunt server:dist`:

![errors from grunt server:dist](https://cloud.githubusercontent.com/assets/35434/5595747/010abe98-9284-11e4-91cc-ee953e12c365.png)

And from a `gulp server:dist`:

![errors from gulp server:dist](https://cloud.githubusercontent.com/assets/35434/55957

[2015-01-02 11:56] devedipoint commented on #925
As @gzsombor said, "JHipster has the ability to load json files..." and with my proposed enhancement with extending entities it has also greatest ability with inheritance used in UML. Let's look at #919 - it's not merged with jhipster:master yet.

[2015-01-02 12:03] gzsombor commented on #925
I think, there is one, bigger missing piece from jhipster, is to have multiple, named relations between entities. For example, currently if you have 'Project' and 'People' entities, you couldn't declare that Project have a 'leader', 'developers', 'testers', 'client' which all 'People', only that there is a 'persons' relation.

[2015-01-02 13:10] jmirc commented on #926
It could be great to support multiple front-end technology but I don't think this is feasible.
It is a lot of work to maintain multiple stacks and we are not front-end expert.
We already have the same support problem for the back-end stacks; for example grunt (we support)/glup (community support), maven (we support)/graddle (community support).

However, we could create a new project for each fron

[2015-01-02 14:14] jmirc commented on #906
Do you have any news on this issue?

[2015-01-02 14:17] jmirc commented on #897
Seems to be amazing improvement for JHipster. It was the last missing peace for the testing.

I will prefer having the tests under src/test/e2e.

[2015-01-02 14:22] jmirc commented on #910
My goal is to do a refactor of the current generator to be able to add a new authentication support easily.

[2015-01-02 14:28] Avricot commented on #906
Can't reproduce it on my dev project, however I still get the issue on prod

I don't understand why the token value would change :(

Btw, logs shouldn't trace the tokens in logs imo

    [DEBUG] com.petitetranche.security.CustomPersistentRememberMeServices - Remember-me cookie detected
    [INFO] com.petitetranche.security.CustomPersistentRememberMeServices - presentedToken=qQ5zoFGgSFURPXXXXXX== /

[2015-01-02 16:17] jcr216 commented on #684
I was a bit busy with the holidays and whatnot.  I'm working on this again today.

[2015-01-02 17:51] jdubois commented on #927
1. I am not using Gulp.js, it was provided by the community and in fact I was thinking of removing it for our v2.0 version -> would you be interested in maintaining it "officially" ? Of course I would rather have Gulp.js work, but I don't have the time to support everything.
So if Gulp.js fails I am not too surprised.

2. I have no idea what the "server:dist" task is supposed to do! With Grunt, I

[2015-01-02 17:53] jdubois commented on #926
Yes it would be great but it's just not possible.

- We have some very specific code for AngularJS, concerning security, i18n, etc...
- We just can't support everything. And we choose to focus on AngularJS from the start, which I still find an excellent decision, so we won't change that

[2015-01-02 17:53] #926 closed

[2015-01-02 19:04] larsenje opened #928 "Add RequireJS to the generator"
It would be great to integrat requirejs into the generator and have the production build minify everything and the development build run with the uncompiled javascript.

[2015-01-02 21:59] jcr216 commented on #684
I have the backend changes merged into the generator: https://github.com/jcr216/generator-jhipster.  It compiles and runs and I can confirm that I didn't break the existing login system.

I need to make some changes to the frontend code given that the frontend has been reorganized since I originally wrote the social auth stuff.

[2015-01-03 05:34] VikasJindal84 commented on #925
I have 2 options :

1) Create a new java-script plugin like https://www.npmjs.com/package/uml.js
,that will generate json file..
2) Use eclipse uml-designer

Please share your suggestions on above options .

On Fri, Jan 2, 2015 at 5:02 PM, Zsombor <notifications@github.com> wrote:

[2015-01-03 08:34] jdubois commented on #928
We already have this (optimized JS in production, etc), as far as I'm concerned we don't need another extra lib for this.

[2015-01-03 08:34] #928 closed

[2015-01-03 11:53] amr commented on #927
1. Yes, can do
2. Because it's defined in both Grunt and Gulp as a task and no other task depends on it, so it's meant to be executed externally. I think it initially existed in Grunt, and then whoever did the initial grunt -> gulp port carried it forward to Gulp

I believe the idea with `server:dist` is to serve the front-end assets that actually go to production (technically the result of the `b

[2015-01-03 11:55] MartinLichtblau opened #930 "Heroku: × [Error: stderr maxBuffer exceeded.]"
I get the following error while running the command "yo jhipster:heroku", which crashes the deployment process. Probably it's a bug.
![yojhipsterherokuerror](https://cloud.githubusercontent.com/assets/4956334/5602047/0a95aa22-9333-11e4-80db-a9e5f2d9b8e4.PNG)

The solution is to set increase the maxBuffer size in the heroku/index.js as stated [here](http://stackoverflow.com/questions/23429499/stdou

[2015-01-03 14:07] amr opened #931 "Gulp server proxy fails for some routes"
Due to https://github.com/andrewrk/connect-proxy/issues/21, our `gulp server` fails to proxy exact proxy routes not ending in a slash (i.e. `/api-docs` doesn't work, but `/api-docs/foo` works). If you run the server, authenticate as admin, then access `http://localhost:9000/configprops` (without a trailing slash) from a browser you will get a 404 from the proxy, add a trailing slash and it will wo

[2015-01-03 14:19] VikasJindal84 commented on #925
There is one online tool http://cruise.eecs.uottawa.ca/umpleonline/ ,which generates json from Class Diagram , can we use it in JHipser ?

[2015-01-03 16:24] MartinLichtblau commented on #925
It sounds really cool, but it won't be so easy.
First thing which comes to my mind is that the creation order of the database tables is relevant. Which means that you need an algorithm to find out which table and relation you have to create first, second,,, and so on. And of course there will be many more big problems.

If you are looking for a tool with such capabilities you should take a look at

[2015-01-03 17:02] asangamanage commented on #300
@jackygrahamez I am facing the same issue. I thought it will work out of the box. I certainly don't want to reinstall home-brew and delete all my repos to get this thing working ;)
Any simpler solution ? Thanks.

[2015-01-03 17:12] jackygrahamez commented on #300
If there is a way to set permissions properly on your packages or possibly clear the cache on bower and npm.

[2015-01-03 18:53] jdubois commented on #930
- "maxBuffer" : I had the same problem with the Gitlab repo we have at work, so this is quite common -> could do a PR or send your working configuration?
- It should not crash, but if you are on the free plan it is very slow, and it crashes the app after 60 seconds. So if you don't pay I'm not that surprised.
- I didn't know about this Maven plugin: I'd like to stick with the current method, as it

[2015-01-03 18:53] #930 closed

[2015-01-03 19:09] jdubois commented on #925
The best thing would be to support XMI (or something newer, if that exist!), so that you don't rely on an UML tool.
You could do a sub-generator (or something like that), in JavaScript, that reads XMI and then executes the JHipster commands.
As @MartinLichtblau says, one of the issues is the order in which tables need to be created, and I have no idea for that!

[2015-01-03 19:39] amr commented on #931
The author thankfully updated the issue indicating that this was in fact merged. So we just need to upgrade to the latest version, which the referenced PR does.

[2015-01-03 23:35] andidev opened #935 "grunt karma:unit tests fails for generated projects with Spring Websocket"
The stack trace says that the SockJS variable is not found

Stacktrace:
[code]

[2015-01-03 23:49] andidev opened #936 "Glyphicon assets fails to load in browser when generating a project using Compass"
The navbar has only square looking icons since glyphicons assets fails to load (when using latest 2.0 version).

This is what the browser console outputs:

[code]

[2015-01-04 00:35] jmirc commented on #936
Can you check if bower has loaded the libraries?

[2015-01-04 00:38] jmirc commented on #927
I think to be able to work with server:dist option, we should start the server with the production profile.

I never tried too

[2015-01-04 00:39] jmirc commented on #927
If nobody used this option, we should remove it

[2015-01-04 02:19] sdoxsee commented on #936
Had this problem too with the latest code. I was able to get it working locally (haven't checked production) by changing the first line of main.scss to

$icon-font-path: "../../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

so it could find the font files. It's because the output "css" file is 2 directories in from the root (assets/styles/main.css) and the bower_components is di

[2015-01-04 05:55] VikasJindal84 commented on #925
I think xml idea is good. I will take care of order of tables

On Sun, Jan 4, 2015 at 12:39 AM, Julien Dubois <notifications@github.com>
wrote:

[2015-01-04 09:18] VikasJindal84 commented on #925
Hi, I have seen that ,currently there is option to supply json file ,instead of giving commands :

https://github.com/jhipster/generator-jhipster/blob/master/entity/index.js#L14

but there is no documentation for it . How can i use that json file option instead of commands ?

[2015-01-04 09:41] MartinLichtblau commented on #925
Here are some tools you could use to create the diagrams: [PonyOrm](http://ponyorm.com/), [SQL Developer Data Modeler](http://www.oracle.com/technetwork/developer-tools/datamodeler/overview/index.html), [Visual Paradigm](http://www.visual-paradigm.com/features/database-design/#erd). I for my part prefer to use [Lucidchart](https://www.lucidchart.com) for all kind of diagrams.

[2015-01-04 11:07] andidev commented on #936
They seem to exists in `src/main/webapp/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/`.

I can confirm that changing the $icon-font-path as @sdoxsee mentions fixes the issue, but only when running the application with `grunt server` command. Then the correct path
[code]
to the fonts is used.

But when running the application with `mvn spring-boot:run` then the incorrect path
[code

[2015-01-04 14:55] VikasJindal84 commented on #925
Now in jhipster , we can specify json file as input (available in mater branch )

.jhipster.Employee.json

{
    "relationships": [],
    "fields": [
        {
            "fieldId": 1,
            "fieldName": "name",
            "fieldType": "String",
            "fieldNameCapitalized": "Name",
            "fieldNameUnderscored": "name"
        },
        {
            "fieldId": 2,

[2015-01-04 15:34] andidev opened #938 "jhipster:entity many-to-many relations translationKey is not set (version 2.0)"
When generating entities with many to many relations the owner of the relations uses the last fieldName as label instead of the otherEntityName.

[2015-01-04 16:02] MartinLichtblau commented on #930
* Yes, done.
* But, it crashes before the 60sec margin on heroku. (See full log [here](https://gist.github.com/MartinLichtblau/5d4287bfb81a6412626f#file-heroku-start-error))
 * Openshift free acc works
 * CloudFoundry free acc (Pivotal)
   * Generator crashes because of " * " in path. ```
"GetFileAttributesEx C:\Programming\jhiphero\target\*.war: Die Syntax für den Dateinamen, Verzeichnisnamen ode

[2015-01-04 22:22] #938 closed

[2015-01-04 22:39] #931 closed

[2015-01-05 13:37] jdubois commented on #754
@nvoxland
We also need to use Liquibase 3.4.0-SNAPSHOT because of this issue, which is also a blocker for us:
https://github.com/liquibase/liquibase/pull/305

[2015-01-05 17:13] jgribonvald commented on #886
What do you think about valdr and valdr Bean Validation ?
https://github.com/netceteragroup/valdr + https://github.com/netceteragroup/valdr-bean-validation
With theses plugins/tools it seems that we can have an automated approach.

[2015-01-05 17:16] gmarziou commented on #904
@telefunken I used your Dockerfile, I had an issue with dbus dependency when running the "apt-get upgrade" which seems similar with [this report](http://forum.siduction.org/index.php?topic=5194.0).
As a workaround I commented out this line and finally successfully built my image but unfortunately the Jenkins job fails with same error as I had on my physical server "Fatal error: Cannot read propert

[2015-01-05 17:19] jdubois commented on #886
yes, it looks good, but it has already been discussed several times here: we will not use a small project for something of this importance for JHipster. I'm not taking risks for something that affects all users.
We don't discourage people from using it, but we don't put it by default.

[2015-01-05 17:46] PeterEltgroth commented on #904
@gmarziou what version of node where you using?

I had the "Fatal error: Cannot read property 'x-ua-compatible' of null" issue on MacOS when using node 0.11.14, but reverted to 0.11.13 (per https://github.com/spoike/refluxjs/issues/90) and it went away.  I had also attempted to upgrade my version of karma (since https://github.com/karma-runner/karma/pull/1182 had been merged in); however, that did

[2015-01-05 19:16] nvoxland commented on #754
It will probably be a while until I'm ready for 3.4.0 to be released, so 3.3.2 is probably what you should be testing/targeting. I'll bring liquibase/liquibase#305 into the 3.3.x branch for 3.3.2. I'll look at the null pointer issue.

[2015-01-05 19:27] nvoxland commented on #588
Good it is all working. If you have everythign you need with the liquibase-hibernate build with 3.5.0 I'll get it released today or tomorrow.

[2015-01-05 19:29] nvoxland commented on #754
The null pointer issue should be fixed now in liquibase-hibernate/master

[2015-01-05 19:31] nvoxland commented on #754
The fix in liquibase/liquibase#305 is already in the 3.3.x branch. Are you seeing a related problem still with 3.3.2-SNAPSHOT?

[2015-01-05 21:31] jdubois commented on #935
This is for v2.0, right? That would be normal, as I didn't code the tests yet :-)

[2015-01-05 23:58] jdubois commented on #754
@nvoxland in 3.3.2-SNAPSHOT I still have the NPE issue (I guess you didn't backport it yet?), but the https://github.com/liquibase/liquibase/pull/305 is OK
The diffExcludeObjects is also here, but I can't test it because of the NPE

[2015-01-06 00:35] jcr216 commented on #684
I've finished adding the social changes to the generator.  At this point, it's functional and builds an app that works out of the box with Google.  The code for Facebook is there and was working in my modified sample app, I just haven't had a chance to test it after incorporating it into the generator.

There are still a few minor issues to resolve, but this is pretty close to becoming a pull requ

[2015-01-06 00:57] imduffy15 commented on #908
Hi,

I tested this on the latest version today.
I can confirm the flickering still exists.

[2015-01-06 00:59] imduffy15 opened #943 "bower_components included in JAR"
The bower_components directory is included in the final JAR. There is no need for this to be the case as far as I'm aware. All resources have been concatenated and minified up and placed into dist/ where they will be served from thus keeping these sources around a little pointless.

Leaving bower_components in the JAR results in a pretty overhead in terms of size.

[2015-01-06 01:41] jdrew1303 commented on #897
Then tests under src/test/e2e you will have! :) I should hopefully have this done by the end of the week.

Its a good start, but theres still a lot of knowledge and bits and pieces needed to make them useful, cost effective and easy to maintain. Ill add in some info about how to handle the code for ui tests (for the two cases; cucumber and jasmine/mocha) and some tips and tricks as a doc.

[2015-01-06 07:27] andidev commented on #935
That would explain it =)

[2015-01-06 07:53] jgribonvald commented on #886
Ok Thanks for the feedback

[2015-01-06 08:16] jdubois commented on #943
No, this is on purpose: the final war can also run in "dev" mode, for debugging it.
This can be discussed (this is a more of a compromise, I don't think this is such a great idea)  but this is not a mistake.

[2015-01-06 08:16] #943 closed

[2015-01-06 08:41] MartinLichtblau commented on #936
Thanks!

[2015-01-06 10:46] jdubois commented on #588
@nvoxland we stil have the NPE from https://github.com/jhipster/generator-jhipster/issues/754#issuecomment-68447462 and this is really a blocker

[2015-01-06 10:50] cobour commented on #785
Same problem here with unmodified generated app.
When using Maven's Prod-Profile, *every* file inside "views"-Folder leads to 401.
That's why only the Navigation-Bar and the Footer is rendered. After adding just
[code]
to SecurityConfiguration as stated above, everything works as expected.
What am I doing wrong?

[2015-01-06 10:53] gmarziou commented on #904
@PeterEltgroth many thanks, you found the root cause.

I was using NodeJS 0.11.14, I downgraded to 0.11.13 and now my build passes on my physical server or @telefunken Docker container

[2015-01-06 13:04] jdubois commented on #754
I have opened issue https://github.com/liquibase/liquibase-hibernate/issues/72 about the NPE

[2015-01-06 13:10] gmarziou commented on #904
This explains also why it was working on my Windows server as the NodeJS installer uses the current stable version: 0.10.35.
I don't know why I initially selected 0.11 in Jenkins, I'll recommend to use 0.10 in the coming documentation.

[2015-01-06 18:00] svennela commented on #684
I can put some time for testing. please let me know the repo or steps

[2015-01-06 18:21] PeterEltgroth commented on #684
I also have interest in this, and will find time to test in the next few days.

@svennela the repo is https://github.com/jcr216/generator-jhipster

[2015-01-06 18:31] svennela commented on #684
Hi Peter,

how do i start? do you have any steps? or check list? please help with starting, will take it from their.

[2015-01-06 18:52] jcr216 commented on #684
First clone the repo.  After you've cloned the repo, use `npm link` to replace the default generator with my version.  Run `yo jhipster` and select cookie based auth and at least one social provider.  Next, add your client id and secret in application.ym.  Finally, do `mvn -DskipTests spring-boot:run` on the new application to fire it up.

Not sure why the tests are failing.  I was getting somethi

[2015-01-06 18:58] svennela commented on #684
I am able to link your repo but running into
when I did yo jhipster
Error: Cannot find module 'underscore'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/Users/generator-jhipster/app/index.js:6:9)
    at Module._compile (module.js:456:26

[2015-01-06 20:46] imduffy15 commented on #943
worth while having a production only JAR?

[2015-01-06 21:39] gmarziou commented on #684
Run 'npm install undescore' in your generator-jhipster directory

[2015-01-06 22:16] jdubois commented on #943
Not sure.
Pro: it would be smaller
Con: you couldn't use the same file for dev/test/prod
And I want to keep the workflow as simple as possible, so it's easier to have a JAR that does everything

[2015-01-07 07:36] jdubois commented on #783
We will see what we can do when we refactor the security code.
But this won't be in v2, so it's out of scope at the moment.

[2015-01-07 07:36] #783 closed

[2015-01-07 07:38] jdubois commented on #927
@amr
1. I'll add you to the team, welcome on board!
2. Do you see any use for it? Can we remove it?

[2015-01-07 07:41] jdubois commented on #936
@andidev can you send us a PR with your code?

[2015-01-07 07:44] jdubois commented on #840
Are you still working on this?
As far as I'm concerned it's too complex for us, and I've never seen ACL used anywhere (it's not even introduced in the SpringSource training, btw). So I'm closing this,  at least for the moment.

[2015-01-07 07:44] #840 closed

[2015-01-07 07:44] jdubois commented on #906
@Avricot any news?

[2015-01-07 08:44] amr commented on #927
Awesome, thanks!

I agree on removing it. We can always add it again later if needed, but at least then we would know the use case(s)

[2015-01-07 09:53] bipinkishore opened #945 "switching between two controller with in a single form"
Hi,
I am new to the jhipster and I am really glad to work with this tool. But I had a requirement to store data into two different tables from single entry form. I can do this in angularjs app by using ng-controller with out using ngroute. But when I am using jhipster, I couldn't able to add ng-controller within the form(some fields) as it making disable the default controller of entity. Actually

[2015-01-07 10:02] jdubois commented on #945
For this kind of question, which is not a bug or a feature request, you should go to http://stackoverflow.com/questions/tagged/jhipster

[2015-01-07 10:02] #945 closed

[2015-01-07 10:07] gomesp commented on #840
I've started working on it, but I am far from finished. Work commitments diverted my attention. When I pick that up again I'll make a PR and you can reopen this issue.

Thanks

[2015-01-07 10:08] jdubois commented on #840
OK -> we will refactor the security part after the v2.0 release, we'll see that at the moment

[2015-01-07 16:22] nvoxland commented on #588
The NPE should be fixed now.

[2015-01-07 16:23] nvoxland commented on #754
The NPE is fixed up now.

[2015-01-07 17:59] henri-tremblay opened #946 "Shouldn't PersistentAuditEvent.auditEventDate be an Instant?"
Instead of a LocalDateTime.

Also, is there a reason with JodaTime is still used for Java 8?

[2015-01-07 18:03] gzsombor commented on #946
Hibernate doesn't support it, yet :
https://hibernate.atlassian.net/browse/HHH-8844

[2015-01-07 19:33] henri-tremblay commented on #946
Sad, by reading the documentation, Jadira seemed to support it.

On 7 January 2015 at 13:03, Zsombor <notifications@github.com> wrote:

[2015-01-07 22:27] jdubois commented on #946
Yes, and it would be annoying for us to have different types for Java 7 and Java 8

[2015-01-07 22:27] #946 closed

[2015-01-07 22:29] jdubois commented on #754
@nvoxland we have everything working!!!! Thanks!
I'm eagerly awaiting your release of liquibase 3.3.2 and Liquibase-hibernate4 3.5 !

[2015-01-08 01:13] krmcbride opened #947 "Missing 8080 proxy for /protected"
Correct me if I'm wrong, but I think the following needs to be added to the Gruntfile proxies:

[code]

In development, without the proxy, requests for `authentication_check.gif` are not served by Spring, so never return a `401`.

[2015-01-08 03:37] henri-tremblay commented on #946
Note to myself: Never ask two questions in the same issue.

That's what I guessed for JodaTime. To have to support both. Just wanted to be sure.

What about the title? Shouldn't PersistentAuditEvent.auditEventDate be an Instant?

[2015-01-08 04:40] bipinkishore opened #948 "entity relationship"
Hi,
Is  it possible to add one entity to the other entity without using entity relationships.

[2015-01-08 09:19] gildegoma commented on #860
I'm not sure the problem is the same as #588, because I also was bitten by this

when running with liquibase v3.1.1. I guess that the problem was still present in 3.2.x, but **upgrading** to liquibase 3.2.3 or 3.3.1 solved the problem for me.

@jdubois What about a patch for the 1.x maintenance branch that bumps liquibase to 3.3.x?

[2015-01-08 09:42] jdubois commented on #860
@gildegoma you shouldn't have the issue on 1.x
For the v2, I'm currently working on SNAPSHOT releases of Liquibase because of other issues, but this all should be solved this week -> we'll see depending on what we get in the end

[2015-01-08 10:04] jdubois commented on #948
Please ask this kind of question at http://stackoverflow.com/questions/tagged/jhipster

[2015-01-08 10:04] #948 closed

[2015-01-08 10:05] jdubois commented on #947
Which version are you using?

[2015-01-08 10:07] gildegoma commented on #860
@jdubois you can reproduce the reported issue (application startup failure due to *Could not find implementation of liquibase.logging.Logger* error):

1.  create a new jhipster v1.x app, with MySQL for dev and prod (or even simpler, use https://github.com/jhipster/jhipster-sample-app/tree/v1.10.2)
1. `mvn clean install; mvn -Pprod package`
1. `java -jar target/jhipster-0.0.1-SNAPSHOT.war --spring.

[2015-01-08 10:39] gildegoma commented on #860
@jdubois created PR #949 (could you reproduce the issue locally?)

[2015-01-08 10:40] jdubois commented on #860
@gildegoma hang on, I'm currently testing 3.3.2-SNAPSHOT -> it also corrects some other issues, so I'd rather use 3.3.2 when it's ready

[2015-01-08 10:50] azadorozhniy opened #950 "Use libsass instead of compass"
Hi!
There is interesting idea to consider using libsass instead of compass it's like 5 times faster but if user has node env it's quite eas to switch.

http://benfrain.com/lightning-fast-sass-compiling-with-libsass-node-sass-and-grunt-sass/

[2015-01-08 10:57] jdubois commented on #950
It's a C/C++ lib, and we need to be cross platform, so unfortunately we can't use it.

[2015-01-08 10:57] #950 closed

[2015-01-08 12:28] gildegoma commented on #860
@jdubois Ah thanks, good to know!

[2015-01-08 15:54] sgandon opened #952 "CSS fails to load at first time launch when using Compass"
I have installed jhipster with the following parameters and install mongoDb on my Mac.
I have then run `mvn spring-boot:run`.
The appli is launching but the web page fails to load the main.css file at this url http://localhost:8080/styles/main.css
[code]

[2015-01-08 16:16] PeterEltgroth commented on #684
A quick update. I spent some time on this last night. When I generated using cookie auth, SQL, mvn, grunt, java 8 the application starts without error and gives me the Buttons for Google and Facebook login. Unfortunately, I have something misconfigured currently at both providers.

With Google I need to register localhost as a redirect URI, but haven't found where to configure it on Googles site,

[2015-01-08 16:18] azadorozhniy commented on #950
It's basically nodejs library, that works across platforms.
When you install libsass it complies across your platform.

[2015-01-08 16:22] azadorozhniy commented on #950
http://foundation.zurb.com/forum/posts/11597-how-to-install-grunt-and-libsass-on-windows

[2015-01-08 17:16] MartinLichtblau commented on #684
Did you setup the facebook graph api like mentioned [here](http://stackoverflow.com/questions/21295872/facebook-app-localhost-no-longer-works-as-app-domain)?

[2015-01-08 17:21] jjb3rd commented on #684
I think you'll need to set up an alias for local host in your /etc/hosts file for a fake domain and set up that domain in Facebook et al. Facebook doesn't let you use localhost.

[2015-01-08 21:25] maahelal commented on #353
A. jHipster Rocks, awesome work guys.. I found out about JHipster less than an hour ago and I'm really impressed.
B. I think you should really consider this feature for version 2.0 for, at least, the following two reasons
-ui-router is AngularJs team answer to the severe lacking of features in their ngRoute as compared to EmberJs.
-state machine based routing + multiple nested N views / state,
do

[2015-01-08 21:39] gzsombor commented on #353
It's already implemented in the master branch. If you check the code from git, you can enjoy it now!

[2015-01-08 21:46] davykiala commented on #684
I am new in the project. I am interested by the project. I've tried to test. I've followed instruction as suggested by jcr216. I did :
1. Clone the repo https://github.com/jcr216/generator-jhipster in my PC
2. Run  "npm link jhipster" to replace the default generator with the generator cloned version.
3. In the generator-jhipster, i run "npm install underscore"
4. Run yo jhipster and select cookie

[2015-01-08 23:27] andidev opened #954 "Focus login input when opening the login and register page"
The login input is not focused when opening the login page. This is a bit anoying when the user need to click it with the mouse before typing the login name and password.

I could fix this in a pull request if wanted. Seems that there is a need for adding the an autofocus directive to acomplish this which can be found in bower https://github.com/ianwalter/ng-autofocus.

[2015-01-09 00:20] #754 closed

[2015-01-09 07:53] addagulla opened #955 "[Yeoman Doctor] Uh oh, I found potential errors on your machine"
Hi,

when i install yo by running npm install -g yo command i am getting following error and i am able to detect the yo. but i unable to create a project when i run yo jhipster command i tryed to solve the issue but i unable to solve can some one helpme

thanks

[Yeoman Doctor] Uh oh, I found potential errors on your machine
---------------

[Error] npm root value is not in your NODE_PATH
  [info]

[2015-01-09 07:57] PeterEltgroth commented on #684
@MartinLichtblau thanks for the link, I have set it up that way, and tried a few additional variations, but it is still not working.

@jjb3rd Facebook let me save localhost in App Domains (localhost), Site Url (http://localhost:8080/), and Valid OAuth redirect URIs (http://localhost:8080/).  Do you know if this is a recent change? Or do they let you save localhost, but it will not work (which woul

[2015-01-09 07:58] andidev opened #956 "grunt wiredep command not working"
The `grunt wiredep` task is not working. It should automatically include new installed bower js and css files into index.html.

It seems that grunt-wiredep was added in #501 but the configuration in Gruntfile.js and index.html was not. Is this with purpose for some reason that I don't know?

[2015-01-09 08:15] atomfrede opened #957 "Gradle liquibase exclude objects"
For oauth the gradle liquibase doesn't exclude token tables. PR follows soon.

[2015-01-09 08:15] atomfrede opened #958 "Gradle liquibase exclude objects"
For oauth the gradle liquibase doesn't exclude token tables. PR follows soon.

[2015-01-09 08:17] atomfrede commented on #958
Sorry for double posting (smartphone app issue as it seems).

[2015-01-09 12:18] jjb3rd commented on #684
Not sure...when I tried to use localhost:8080 Facebook balked and said it had to be a fully qualified domain name...hence me tricking it with the /etc/hosts file.  This was a little over a month ago and I thought it was a new policy at the time, but maybe they've relaxed it a bit.

[2015-01-09 12:21] andidev commented on #954
Actually the Home button is supposed to be active when the home page is open and this is the case when visiting https://senlima-dev.herokuapp.com/#/.
If the users clicks Account Button ---> Authenticate then Account Button will be active instead.

[2015-01-09 12:32] andidev opened #960 "Rename `grunt server` task to `grunt serve`"
All official yeoman generators have renamed the `grunt server` task to `grunt serve` (see [issue](https://github.com/yeoman/yeoman/issues/1183)).

To be consistent with the [yeoman documentation](http://yeoman.io/codelab/preview-inbrowser.html) this should be done in the jhipster generator as well.

[2015-01-09 12:44] sgandon commented on #952
you are absolutly right.
I suggest to convert this to a feature request in order to improve the first time launch.
Thanks for your answer.

[2015-01-09 14:07] jdubois commented on #955
This is an issue with installing Yeoman, you should go to the Yeoman forums/discussion boards for this

[2015-01-09 14:07] #955 closed

[2015-01-09 14:08] #960 closed

[2015-01-09 14:11] #936 closed

[2015-01-09 14:12] jdubois commented on #956
To be honest, I have no idea what this task does :-)
So you probably know better than me :-)

[2015-01-09 14:20] #958 closed

[2015-01-09 15:34] andidev commented on #956
Thats a shame =) It's a really nice task that adds javascripts of installed bower packages to the `index.html` file in `<script>`-tags.

I'l provide a PR asap.

[2015-01-09 15:35] jdubois commented on #956
Oh yes! I didn't code this part, but indeed it is useful!

[2015-01-09 16:24] MartinLichtblau commented on #954
Ahh, ok. But I find it kinda unintuitive like that. Because then two buttons can be higlighted at the same time. Normally you give feedback only on the element which is currently selected. And if I click on a dropdown button I stay on the "Home" page, so it's highlighted, and at the same time the dropdown button which I have selected is highlighted.
![jhipste_navbar2](https://cloud.githubuserconte

[2015-01-09 16:59] #957 closed

[2015-01-09 17:20] jdubois opened #963 "Spring Websocket does not work on CloudFoundry"
When deploying our app, with Spring Websocket, on the Pivotal Cloudfoundry PAAS, we get a
[code]
This is probably caused by the router, as it works elsewhere.

Ping @sdeleuze as I know he has made this working correctly.

[2015-01-09 18:20] andidev commented on #954
Agree with you, howerever I this is rather a bootstrap issue since it works this way in bootstrap. Take a look at the navbar in the [bootstrap docs](http://getbootstrap.com/javascript/#scrollspy-examples). It seems to have the same issue.
An alternative is not to highlight the button that is accosiated with currently open page. Or maybe hange the active color so that the colors differ (if the boot

[2015-01-09 18:30] hooligan495 opened #964 "When/How do you use ApplicationWebXml.java?"
Hi,
  I'm trying to deploy a version of a Jhipster app to Jboss.  (it's failing but that's not why I'm writing this).
In trying to debug I've started traveling down the road of the .war and .war.original that get generated.  I've changed the tomcat stuff from "compile" to "providedRuntime" but this lead me to thinking... (FWIW I am using the gradle part)

How should I be thinking about the differe

[2015-01-09 20:45] jdubois commented on #954
Yes, it's how Bootstrap works: I'm not saying it's good, just that we use the default settings, which is our philosophy

[2015-01-09 20:52] jdubois commented on #952
Yes, it's "how it's supposed to work", but I agree it's not intuitive at all.

I'm not sure we can force "grunt compass" after build, if you have an idea...

[2015-01-09 21:03] jdubois commented on #947
- in v1 it's working
- in v2, which is our current focus, we don't have the "/protected" is not used anymore (it's still there, but it's an error, I'm going to remove it)

[2015-01-09 21:03] #947 closed

[2015-01-09 22:06] atomfrede commented on #964
I dont't know if that works but according to the [gradle documentation](http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#build-tool-plugins-gradle-packaging)

Running
``./gradlew build``

Creates both the `.war` and `.war.original` file in `build/libs` as mentioned in the [official jhipster documentation](jhipster.github.io/production.html).

[2015-01-09 22:29] davykiala commented on #684
I have run the application with the default configuration package com.mycompany.myapp. I want just to let you know that i think there is a problem when we change the package com.mycompanny.myapp when this is proposed to us in command line interface. If we change the package name, ExternalAccountProvider.java will not have the correct package in it.
Could you tell me where to configure the facebook

[2015-01-09 23:38] andidev commented on #954
Though this issue was not about that sidetrack that @MartinLichtblau reported. It's about focusing the login input when opening the authentication page so that the user does not need to click it manually with the mouse before starting to type its login credentials. Is it possible to reopen? I could provide a PR for this.

[2015-01-09 23:52] andidev commented on #952
Maybe possible with [Grunt Maven Plugin](https://github.com/allegro/grunt-maven-plugin)? Not sure if you can set which task to run though.

[2015-01-10 02:19] redoc123 commented on #353
I dont see v2 released yet. The latest version I see is "1.10.2" in website. Am I missing anything?

[2015-01-10 08:34] andidev commented on #952
Another alternative is to execute the yeoman-maven-plugin which is executed in the prod profile. But this will make the startup really slow cause it does more than just grunt compass. I guess thats why the plugin is not added to the dev profile at the moment?

[2015-01-10 08:49] jdubois commented on #952
@andidev yes I guess that's why we didn't do it at the first time.

I guess that if people want to use Compass, they should know they need to install Compass & run it -> maybe it's more of a documentation issue?
Of course I'd rather have everything automated, it would be cleaner.

[2015-01-10 09:15] andidev commented on #952
Agree.

It seems that the there is a solution that is fast. Adding the following to the plugin execution to the dev profile seems to work.
[code]

It's fast since it only executes the compass task.

Should I create a PR?

[2015-01-10 09:19] jdubois commented on #353
No, v2 is not released yet.
But we are not breaking the v1.x as it is in maintenance mode.

[2015-01-10 09:19] jdubois commented on #954
Oh, sorry, yes I'm reopening it.

[2015-01-10 09:24] jdubois opened #965 "Can't logout/authenticate again because of CSRF token"
Here is how to trigger this issue:

- Log in
- Log out
- Log in again

You can't log in again, unless you refresh your browser.

Put the Spring Security logs to debug (or directly debug the CsrfFilter class, the issue is with the "actualToken") -> the issue is that the log out process has cancelled the CSRF cookie (which is normal, as when you log out everything should be cleared up), so when the

[2015-01-10 09:31] jdubois commented on #952
OK, but as we already have the yeoman-maven-plugin I'd like to avoid having a second Maven plugin that run Grunt tasks... I don't know if that's do-able with yeoman-maven-plugin, thus

[2015-01-10 09:47] andidev commented on #952
I agrre but unfortunately it is not possible to use the yeoman-maven-plugin for executing specific grunt tasks. Yeoman Maven Plugin runs
[code]
in it's build goal

Maybe it is possible to replace the Yeoman Maven Plugin with the Grunt Maven Plugin? Should I look inte that?

[2015-01-10 09:51] jdubois commented on #952
If the Grunt Maven Plugin can do the npm install and the bower install, but when I chose the Yeoman Maven Plugin, more than 1 year ago, it was the only one which could do it.

[2015-01-10 13:45] jdubois commented on #964
For me this is more a Spring Boot question: we just offer you what Spring Boot gives by default.
Indeed, you have several ways of running the application: if you do want to use a WAR file, you either have one with an embedded Tomcat, or a "normal" one (this is the ".original"). Both should work on JBoss, but I would recommend using the "normal" one.

[2015-01-10 13:45] #964 closed

[2015-01-10 16:48] redoc123 commented on #353
Thanks for the response. Can i build the code from V2 branch and play with it? If yes how can i build it?

[2015-01-10 20:41] andidev commented on #952
Seems that Grunt Maven Plugin can do the same today. It also seems that I was wrong and that the Yeoman Maven Plugin can execute a specific grunt task. Though it will also run `npm install `and `bower install` before running that task.  `npm install `and `bower install` is however not that time consuming if there are no changes in the `package.json` and `bower.json` files. This means totally 7 sec

[2015-01-10 21:27] tgillieron commented on #965
Off the top of my head, I would say that the removal of the authentication_check.if is the cause of this problem.

As you said on logout the CSRF cookie is cleared but the token is also removed from the spring session and the next time you will go through the filter chain a new token will be created.

Before the removal of the gif this next call would have been the
/protected/authentication_check.

[2015-01-10 21:35] gmarziou commented on #353
Have a look at the [CONTRIBUTING.md](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup) doc

[2015-01-10 23:15] andidev commented on #952
Another alternative is to run compass compile from the generator file index.js
Then it will only compile once when the app is generated.

[2015-01-11 11:54] gomesp opened #967 "Should the limitation on the password length (50 chars) be removed?"
I noticed that the default password strength validation does not allow passwords longer than 50 chars.

Is there any reason for it, since the passwords are stored as BCrypt hashes (which are actually 59 or 60 chars long ([ref 1][1], [ref 2][2], [ref 3][3])? Ideally there should be no reason to limit users on password length. Additionally, we can fix T_USER's password column to varchar(60) if what

[2015-01-11 11:57] ArnaudPiroelle opened #968 "Invalid access token on swagger-ui"
With last development version, i have this unexpected error when i try to access to swagger when i'm connected as admin user:
[code]

My config is:
[code]

[2015-01-11 14:04] flythebluesky commented on #968
I may be seeing a similar problem. Does this happen after your login times
out? (i.e. log in an wait until the login token has expired)
You can reset this by deleting the token from the browser's local storage.
For example, in then Chrome browser, go to developer console -> resources
-> local storage

On Sun, Jan 11, 2015 at 6:57 AM, ArnaudPiroelle <notifications@github.com>
wrote:

[2015-01-11 14:36] andidev opened #970 "Let bower/wiredep install non compass boostrap files"
At the moment the bootsrap files for a non compass project is included in the template of the generator rather than it is included in the bower.json (where the bootstrap-sass is for some reason included instead). The installation should be made by bower/wiredep.

Fix this issue after the PR of #956 is merged.

[2015-01-11 14:50] andidev commented on #970
Issue is fixed, awaiting PR #969 to be merged

[2015-01-11 19:06] #952 closed

[2015-01-12 05:06] sableloki commented on #300
could you walk through the process you used to clean up your enviroment as I am getting the same issue (unless running sudo)

[2015-01-12 10:05] #954 closed

[2015-01-12 10:07] jdubois commented on #968
Yes, it is an issue with CSRF, so I'm linking this to #965

As this is very complex to solve, I will disable CSRF protection for the moment (like we had for v1), and schedule it for after the v2 release

[2015-01-12 10:12] jdubois commented on #967
- no reason to limit to 50 chars as far as I'm concerned, but this looks "big enough" for me
- I didn't know for the BCrypt hashes, but as it currently works, they are not 59 ou 60 chars long (otherwise nobody could change his password).

[2015-01-12 10:16] jdubois commented on #965
OK, this is quite complex to solve (I have spent a few hours on this and couldn't find a solution).
I will remove the CSRF protection for the moment (as we have currently in the v1.x releases), and re-schedule this for after the v2.x release.

[2015-01-12 10:28] jdubois commented on #906
No news, I'm closing this

[2015-01-12 10:28] #906 closed

[2015-01-12 10:30] gzsombor commented on #965
Couldn't we add a simple exception to the CSRF filter, to allow calling the login method without the CSRF token ?

[2015-01-12 10:30] jdubois commented on #780
I've been leaving this opened for too long, as I didn't make a decision:

- I don't want to have too many sub-generators, for all kind of things
- But I found this one to be quite useful

So after all this time, I have to choose: I am not going to merge this, as I'm not sure it will help that many people (it's quite easy to do it by hand, and I would argue it's easier than learning how to use a ne

[2015-01-12 10:30] #780 closed

[2015-01-12 10:32] jdubois commented on #965
@gzsombor good idea, I'll try it.

[2015-01-12 10:37] jdubois commented on #750
Yes I agree it would be great.
But I see we don't have the time to work on this at the moment, so it's out of scope for the moment.

[2015-01-12 10:37] #750 closed

[2015-01-12 10:38] jdubois commented on #797
OK, this is complex, and nobody is working on it for the moment : I agree we need to provide something better here, but it's currently out of scope

[2015-01-12 10:38] #797 closed

[2015-01-12 10:43] jdubois commented on #967
In Liquibase, the field length is 100, that's why it's not a problem at the moment -> I agree it should be 60 (I checked it's 60 indeed), but it doesn't hurt to have more, and if people change the algorithm they might have an issue if we reduce the size

[2015-01-12 10:43] #967 closed

[2015-01-12 15:35] jdubois commented on #965
This blog post from Pivotal is supposed to do the trick: http://spring.io/blog/2015/01/12/the-login-page-angular-js-and-spring-security-part-ii

[2015-01-12 16:30] gmarziou commented on #904
Sorry, my second pull request about setting up CI got appended to my first one about client code doc.

[2015-01-12 19:43] jdubois commented on #965
There is the same issue with the blog post from Pivotal...

[2015-01-12 19:45] jdubois commented on #968
OK, now I've work this issue better: if your login times out, and you use "cookie based authentication", there is no solution possible.
I'm closing this as it's not possible to fix it, but of course I'm not happy with this answer!

[2015-01-12 19:45] #968 closed

[2015-01-12 20:05] jdubois commented on #965
OK, the trick is to keep the X-CSRF-TOKEN when the user logs out

[2015-01-12 20:34] jfarcand commented on #844
Filled SpringBoot issue, let's see what they have to say: https://github.com/spring-projects/spring-boot/issues/2341

[2015-01-13 00:09] jfarcand opened #974 "[Atmosphere] Wrong dependency"
Users reported jhipster is using `atmosphere-runtime-native` as dependency. It should use `atmosphere-runtime` instead as native is for [Tomcat 6 and old JBoss version](https://github.com/Atmosphere/atmosphere/wiki/Installing-AtmosphereServlet-with-or-without-native-support)

[2015-01-13 05:46] PeterEltgroth commented on #684
@davykiala application.yml

[2015-01-13 09:26] gmarziou commented on #904
For those who would like to review what I have documented before it gets merged, look at setup_ci_*.md files in https://github.com/jhipster/jhipster.github.io/tree/v2.0

[2015-01-13 11:06] andidev opened #975 "Add the H2DB console to the Administration menu"
It would be nice to have the possibility to go the the H2DB console through the administration menu. Also it would be nice that it then would be opened in a page with the navbar present. This is possible if the console is placed in an `<iframe>`-tag.

Is a this feature request accepted? If it is I can provide a PR.

[2015-01-13 12:09] sableloki opened #976 "Template content doesnt change"
After generating the app i ran `mvn spring-boot:run` to see if it ran (it did) i then proceeded to open up emacs and give the homepage a nice little edit, how ever the content of the template remained the same, i then stopped and re started spring, nothing, i then ran `gulp serve` and nothing happened? is this an issue relating to the stack? or my configuration
- java 8
- gulp
- mongodb
- maven

[2015-01-13 12:43] gmarziou commented on #975
The H2DB console is nto very well known so giving it more visibility by adding in menu could help but I don't understand how having it in an iframe would be more useful than having it in a separate tab or window.

[2015-01-13 12:53] andidev commented on #975
New window works as well, did not think of that for some reason. Maybe better since it allows you to keep the current view while searching/editing the database.

[2015-01-13 13:07] atomfrede commented on #975
I like it :+1:

[2015-01-13 13:21] andidev opened #977 "Refactor Administration menu translations"
Currently the Administration menu translations are located int the "account" object in globals.js.
This seems wrong to me. The "admin" string should be refatored into an object and the menu items under the Administration menu should be placed in this object instead.

This is how globals.js looks today
[code]

and this is how it should look like
[code]

[2015-01-13 13:50] andidev opened #978 "Consider replacing Glyphicons with Font Awesome"
Font Awesome may be a better alternative than Glyphicons since it contains more icons (479 vs 200). It is also a more open project.

If not replacing maybe include them both? They are very simiiar. Not sure if two libraries are apprecieted by the users though.

Reference
http://fortawesome.github.io/Font-Awesome/

[2015-01-13 13:59] atomfrede commented on #978
:+1: for Font Awesome! In particular coloring icons is much easier with Font Awesome.

[2015-01-13 14:12] gzsombor commented on #965
Is it works for you ? With these change, I still have the same login problem, but in this case the client sends the old csrf token, but -  because the http session has invalidated before (when the user logged out) - the CsrfFilter couldn't retreive it from the CsrfTokenRepository (which stores the token inside the session), so it will throw the MissingCsrfTokenException.
 So either, we should have

[2015-01-13 14:20] gmarziou commented on #978
I like both but I'm concerned by download size.
Is there a way with grunt to optimize fonts to only the icons used?

[2015-01-13 14:22] gzsombor commented on #978
You dont need to download anything, you can rely on cdns, just add this to your header:
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

[2015-01-13 14:26] tgillieron commented on #965
Removing the CSRF protection on the /api/authentification would not be my
preferred solution and implementing a dummy resource to initialize the
token before login would not be sufficient. It might allow login to work
but other no-authenticated option would still be broken (like
registration).

An other solution could be to have an http interceptor make the call to the
dummy resource before every

[2015-01-13 14:43] gmarziou commented on #978
I am concerned by download size from browser standpoint, CDN would not help.
Why download full icon set, if you use only 1O of them?
This is a concern for mobile browsers mainly with lower network bandwidth.

[2015-01-13 14:51] gzsombor commented on #965
It would be very inefficient to create a separate http request before every login/registration/etc call, that would hurt the latency a bit, that's why I dont favor it.

[2015-01-13 14:54] mpages opened #979 "Question : is GZipServletOutputStream usefull ?"
is GZipServletOutputStream usefull ?
will i was doing a light optim on GZipServletFilter by removing a stream to array and i come to the conclusion that GZipServletOutputStream can be replace by java.util.zip.GZIPOutputStream.

[2015-01-13 15:13] adilkurniaramdan opened #980 "A metric named jvm.memory.heap.committed already exists"
i tried to run fresh project built by jhipster 2.0.0.
but when i run "mvn test" i got following error..
i build it with mongodb database.
something wrong with my jvm?
i am using java 8
| |_| | | | |_) ( (`  | |  | |_  | |_)     ( (`  | |   / /\  / /`  | |_/
|_| | |_| |_|   _)_)  |_|  |_|__ |_| \     _)_)  |_|  /_/--\ \_\_, |_| \
                             ____  ___   ___

[2015-01-13 19:53] andidev commented on #978
Here are the differences in size:

Glyphicons
![screen shot 2015-01-13 at 16 02 30](https://cloud.githubusercontent.com/assets/571389/5727781/e026f36e-9b65-11e4-8906-deacd2bb8865.png)

Font Awesome
![screen shot 2015-01-13 at 16 02 50](https://cloud.githubusercontent.com/assets/571389/5727782/e027a156-9b65-11e4-836c-c4ed72d2c2e0.png)

Agree, quite a differense

[2015-01-13 20:17] andidev commented on #978
IOS 5 and Android 4.4 supports .woff. Otherwise svg seems to be used
[source](http://stackoverflow.com/questions/11002820/why-should-we-include-ttf-eot-woff-svg-in-a-font-face?answertab=active#tab-top)

The svg files are quite big unluckily. But it looks like the fontawesome-webfint.svg can be reduced by compression to 74kB while the glyphicons-halflings-regular.svg can be redusced to 17kB.

I jus

[2015-01-13 21:14] gmarziou commented on #978
Interesting, I think the font compression should have its own issue.

I found [fontello](https://github.com/fontello/fontello) which lets you select only some icons and generate a font file. This could be automated (maybe in Grunt) by searching icon CSS class names and calling fontello, maybe this already exists.

[2015-01-13 22:07] andidev commented on #978
I thought about that too actually. Though I see one problem with that, what if the user is creating the css class dynamically in javascript? Then the search won't find the font class used. This scenario maybe could be solved by allowing to add fonts by configuration as well. Not sure if this is a bit overkill though.

There is as it looks already a grunt task for downloading icons from fontelli. T

[2015-01-13 22:47] jdubois commented on #976
@amr is the "gulp serve" supposed to work?
Anyway, if you modified your template and stop/restart, it's supposed to work -> it's not even possible that if you change a file, you still see an older version

[2015-01-13 23:24] sableloki commented on #976
@jdubois so you're saying when i edit `main.html` in the webapp dir, i should see the content that i put there not the original boilerplate?

[2015-01-13 23:25] sableloki commented on #976
could it be related to maven or the build process itself?

[2015-01-13 23:31] jdubois commented on #976
I don't understand when you say "original boilerplate". There is just one main.html file, if you edit it, then you'll see the results after a refresh (at least in "dev" profile)... If gulp doesn't work, doing a "refresh" manually should work.

[2015-01-13 23:52] jmirc commented on #977
I agree with you. I can't image why I didn't see that. Can you do a PR.

[2015-01-13 23:53] jmirc commented on #979
It could be tested only with prod profile. If it works, can you do a PR? Thanks

[2015-01-14 00:01] philwebb commented on #844
#2341 should be fixed when 1.2.2 is released. I've added a sample app but I'm not that familiar with Atmosphere so I may well be configuring it in a daft way. Hopefully the root issue is sorted and the sample will give you some way to proceed.

Let us know if we need to change anything else.

[2015-01-14 04:38] sableloki commented on #976
by "boilerplate" i refer to the content of `main.html` upon `yo jhipster` and i have gone as far as restarting both maven and gulp instances

[2015-01-14 09:35] gzsombor commented on #965
I think, this ticket should be re-opened.

[2015-01-14 09:51] jdubois commented on #965
It works for me... I'm reopening it, but we need to check what works and what doesn't work

[2015-01-14 09:52] maxleiko opened #981 "Adding two relationship to the same entity is forbidden by the generator"
When you want to generate a new entity that will have a relationship with another one, you can use the generator for the first relation, but if you want to add another field to your entity that includes a relationship with the same entity as the previous one, the generator will tell you that:

[code]

Even though you do not plan to allow multiple relations with the same entity from a generator POV

[2015-01-14 10:01] gzsombor commented on #965
Could you check, which request cause the re-generation of the token, before the /api/authentication call is fired ?
 When I test with my test app, after I click on the 'logout' link, the login form appears, and when the login is tried, the post request either doesn't contain a token - with your fix - or contains, an invalid token, without your fix. In both case, the CsrfFilter blocks the attempt.

[2015-01-14 10:14] maxleiko opened #982 "swagger-ui access_token error"
I suspect that you renamed the token name in the LocalStorage from `token` to `ls.token` resulting in an error when you try to access the API view as an admin.

[code]

You should rename `token` to `ls.token` in [swagger-ui/index.html](https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/webapp/swagger-ui/_index.html#61) line 61

[2015-01-14 10:42] sguiheux opened #983 "JHipster on Jonas 5.2.3 no Spring context loading"
Hi,

I try to deploy Jhisper on a Jonas application server  5.2.3. The Spring context is not initialize. So I just have client side working.
The war file works great on tomcat 7

jonas.properties:   #jonas.service.web.class    org.ow2.jonas.web.tomcat6.Tomcat6Service
jonas.service.web.class    org.ow2.jonas.web.tomcat7.Tomcat7Service
My web.xml is empty.
My ApplicationWebXml.java:
![image](https:/

[2015-01-14 15:22] amr commented on #976
`gulp serve` should be working fine.

1. Which version if jhipster are you using, the `1.x` or the `master` branch?
2. Which address / port do you use for accessing the application in the browser?

[2015-01-14 18:16] sguiheux commented on #983
it's Jonas 9.2.4 not 9.2.3

[2015-01-14 19:26] gmarziou commented on #983
This is not a jhipster issue.
If you read [spring-boot doc](http://docs.spring.io/spring-boot/docs/current/reference/html/howto-traditional-deployment.html), you'll see that to deploy without a web.xml it'll require servlet 3.0 and to deploy on older servers like Jonas you must provide a web.xml and it must not be empty, you'll find [an example for servlet 2.5](http://docs.spring.io/spring-boot/do

[2015-01-14 19:49] PeterEltgroth commented on #684
FYI: I haven't gotten this working yet, but have had little time in the last week. I will get back to it as soon as I can, but don't know exactly when that will be.

[2015-01-14 20:19] jdubois commented on #983
I have reports from people at Orange who have successfully deployed JHipster on Jonas -> as it's the only company left using this app server, I suppose you must work there, you should reach them out.

Otherwise, indeed, this is not a JHipster issue, as no hipster would ever use Jonas :-)

[2015-01-14 20:19] #983 closed

[2015-01-14 20:42] #977 closed

[2015-01-14 20:46] jdubois commented on #978
We use glyphicon as it's the default icon set coming with AngularJS : as always, we stick with the default, standard stuff, unless we have a very good reason to change.
I know Font Awesome is great (that's what we use for the JHipster website), but I don't think there is a need to provide it by default -> of course, if you want to use it, it's quite easy to install, so there isn't much added value

[2015-01-14 20:46] #978 closed

[2015-01-14 20:49] jdubois commented on #976
thanks @amr (as I didn't test the "gulp serve" task, shame on me)
@sableloki if you re-started maven, then this is just not possible. There is just one "main.html" file, so you either changed it, or not -> so you have something weird elsewhere
Did you save your file? Did you refresh your browser? Could you clean up your browser cache, or try with another browser, or use your browser's "private mod

[2015-01-14 21:05] jdubois commented on #980
I can't reproduce your error:
- I started a fresh project, with Mongodb
- I did a "mvn test"
- everything is fine

So I'm closing this.

Maybe you could give us more info, did you do anything else specific?
And do you have MongoDB running? (looks simple, but this happens all the time!)

[2015-01-14 21:05] #980 closed

[2015-01-14 21:25] jdubois commented on #975
The problem is that the link should only work in the "dev" profile -> you could have a look at how I did this for the "dev" banner, but it's quite annoying (and you need to do it for Grunt and Gulp)

[2015-01-14 21:39] jdubois commented on #965
@gzsombor I couldn't find how to re-generate the token, that's why I used my fix -> it also seems to be what other people (like Dave from the Pivotal blog), and it looks correct to me
So with my fix you should always have the token : I don't understand why you have an empty token

[2015-01-14 21:46] andidev commented on #975
Agree with the dev profile restriction. I can take a look a look at it.

[2015-01-14 21:49] jdubois commented on #975
@andidev please do, it looks like a nice improvement, as it's a cool feature most people don't know about (and be careful of the gulp version as well as the grunt version)

[2015-01-14 22:02] andidev commented on #975
Okey I'll watch out for that. I havn't thought of it earles. Have to check my other PR cause I'm starting to think that I have missed the gulp version.

Using an environment variable for the current running environment seems to be a better aproach than the current one where a "search and replace" is done on the ribbon div. In this way it is possible to have as many environment specific functionali

[2015-01-14 22:37] andidev opened #985 "Rename gulp server task to gulp serve"
In issue #960 the name of the `grunt server` task was changed to `grunt serve`. This should be done for gulp version as well.

[2015-01-15 07:19] adilkurniaramdan commented on #980
actually i have read this issue before on version 1.
https://github.com/jhipster/generator-jhipster/issues/841
your advice is **It is probably the same thing : you have a relationship that is wrong. You should have an Hibernate error telling you what the problem is.**

the problem appears when it's registering the matric, exactly on this line:
[code]
it's working when i comment this line.
i think

[2015-01-15 10:53] gzsombor commented on #965
The token generation happens in the org.springframework.security.web.csrf.CsrfFilter.
With your solution :
 If you don't delete the CSRF-TOKEN cookie, then the client will send the old token - but the server could not validate it, because the session is already closed, when the user logged out. And the server stores the token inside the session. I guess, you somehow calls a different rest method -

[2015-01-15 12:50] andidev commented on #975
Wikipedia says the french translation of the word "database" is "base de données". Is it correct to use "base de données" as the french translation or is it more commonly called "database" in  french? Anyone with some french skills?

[2015-01-15 13:03] andidev commented on #975
Two appropriet icons found in glyphicon set, I'm not sure which one to use. Any suggestions by anyone?

![screen shot 2015-01-15 at 14 00 57](https://cloud.githubusercontent.com/assets/571389/5757810/272dd796-9cbf-11e4-9007-4f8adaf06e01.png)

VS

![screen shot 2015-01-15 at 14 01 42](https://cloud.githubusercontent.com/assets/571389/5757811/27318b98-9cbf-11e4-8dba-f41cd1724880.png)

[2015-01-15 13:07] gmarziou commented on #975
"Base de données" is correct.

[2015-01-15 17:58] jdubois commented on #975
Yes @gmarziou is right :-)
I'd rather have the "hdd" icon, the name looks better

[2015-01-15 21:03] jhulick opened #987 "generate middleware (spring crud) repositories from an existing database"
There is a code generator here at [spring-data-rest-templates-TT210](https://github.com/bewilcox/spring-data-rest-templates-TT210) that will scan an existing database schema and generate the middleware JPA Spring data repositories for you. I haven't tested this project, or used the dependent Telosys utility before, but I think this kind of feature would add a lot of value to this already excellent

[2015-01-15 22:08] ConfusedIntern opened #988 "Unable to start embedded container and unable to start Tomcat Server error"
So I am new to this whole world, but I am not quite sure what went wrong. I set up my project to use H2 cache memory, and I created an entity. This worked correctly after I ran the project, but cause problems when I tried to create more. I control-c the project and ended the batch job, and then I created a new entity with a relationship to the previous entity. It created fine but this error occurr

[2015-01-15 22:18] davykiala opened #989 "main.css not present in directory"
I've just download the last version of jhipster. I create a project. When i run the project i have some 404 error on main.css. Why this ? is it normal ?
![main css](https://cloud.githubusercontent.com/assets/4395342/5767965/bfe636e8-9d0c-11e4-8384-93ca8bed9753.PNG)
![main css1](https://cloud.githubusercontent.com/assets/4395342/5767973/d21d17a0-9d0c-11e4-84b2-2901fde146c2.PNG)

[2015-01-16 01:35] svennela opened #990 "Wired behavior when clicking register then login link from register."
Hi ,

I am seeing wired behavior when clicking register then login link from register. authentication fails.
steps to reproduce.
1) click register
2) login
3) try to login with admin/admin

Thank you,
Sridhar

[2015-01-16 06:11] jdubois commented on #988
I can't reproduce your error.
Please read https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submit and give us more information about your setup.

[2015-01-16 06:11] #988 closed

[2015-01-16 06:12] jdubois commented on #989
I can't reproduce your error.
I guess you are using Compass -> in that case you need to run "grunt serve", if you use Grunt... That all depends on your JHipster options and versions, so please read https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submit and give us more information.

[2015-01-16 06:12] #989 closed

[2015-01-16 06:13] jdubois commented on #990
I need to have more information on your version, options, etc.
Please read Please read https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submit and give us more information.

[2015-01-16 06:13] #990 closed

[2015-01-16 06:17] jdubois commented on #974
Thanks @jfarcand -> as we don't have Atmosphere at the moment I'm closing this, I'll add it again when we put Atmosphere back

[2015-01-16 06:17] #974 closed

[2015-01-16 06:20] jdubois commented on #981
Yes, that's a limitation.
At the moment the only thing you can do is to start up again, which forces you to think ahead and prepare your relationships/field names before firing up the generator. The other option would be to fill up random stuff in this question, edit the resulting .jhipster filter, and then run the generator again.
I don't think we could do much more at the moment.

[2015-01-16 06:20] #981 closed

[2015-01-16 06:38] andidev opened #991 "configure GZipServletFilter to compress files of type *.svg and *.ttf files"
As brought up in #978, it seems that some font file types could gain from being compressed by the GZipServletFilter.

Therefore the *.svg and *.ttf url patterns should be added to the GZipServletFilter.

referense
http://zoompf.com/blog/2014/08/bootstrap-fonts

[2015-01-16 06:44] andidev commented on #991
Also not a big thing but the docs says that the GZipServletFilter only compresses resources if running the application in production mode. This is not true. It does it in development mode as well.

[2015-01-16 08:31] jdubois commented on #991
@andidev thanks that's an issue for me -> I will check the dev mode

[2015-01-16 13:48] andidev commented on #975
Thanks, then it will be so.

[2015-01-16 14:00] 0loky0 opened #993 "Enhanced CRUD"
Bonjour,

Super boulot :)

Après quelques tests et plusieurs visionnage de diverses tutos/présentations.
Il me semblerait intéressant de disposer (peut-être en option) dans le CRUD de :
- la pagination
- critères de recherche dans le tableau

Je sais que l'absence de ng-table est voulu mais ce qui est produit me semble un peu just ...
Et cela donnerait un bonne exemple du best practice en la matiè

[2015-01-16 15:50] ctranxuan opened #994 "Gulp + Production mode does not work"
Hello,
A project generated with JHipster 2.0.0 with Gulp as js build manager and maven as java build manager does not work with the production mode.

Here are the steps to reproduce:
* create a project with jhipster-generator 2.0.0 (choose the default options except for the js build manager: choose Gulp): yo jhipster
* run: mvn -Pprod  package
* run: java -jar target/jhipster-0.0.1-SNAPSHOT.war --

[2015-01-16 19:48] flythebluesky opened #995 "Unable to login after token expires in v1.10.2, "prod" only."
Recreate: Create new jhipster app as per .yo-rc.json below. Log in and let the token expire. After token expiry, the expired token is still present in local browser storage, and attempts to open up the login view fails with 401 unauthorized error. The main view is also not displayed.

For the recreation, I installed H2 in the "prod" profile, and upgraded Liquibase to 3.2.3. to sidestep a Liquibase

[2015-01-16 21:15] davykiala commented on #989
Thank you for your answer. I've change my configuration now. I no longer choose Compass and it's work like a charm.

[2015-01-17 02:26] svennela opened #996 "@UniqueConstraint is giving null pointer exception"
Hi,

I am using Oauth based 2.0 version.I am running mvn pulgin to generate database log for jpa. I am getting null pointer exception when i run below command.

mvn compile liquibase:diff

@Table(name = "T_USERRELEATION",uniqueConstraints = @UniqueConstraint(columnNames = { "FROM_USER_ID", "TO_USER_ID" }))

@JoinColumn(name = "FROM_USER_ID", nullable = false)
    @NotNull
    private User fromUser

[2015-01-17 02:35] anshumanpurohit opened #997 "Error while deploying to Heroku"
I am using jhipster v2.0.0 with Maven and Grunt. Everything seemingly works on my local can Shippable CI. However, when do `yo jhipster:heroku` it fails consistently with this following error

...
 remote:        [INFO] Downloading: https://repo.maven.apache.org/maven2/org/apache/maven/wagon/wagon/2.4/wagon-2.4.pom
remote:        [INFO] Downloaded: https://repo.maven.apache.org/maven2/org/apache/m

[2015-01-17 08:27] AksuX commented on #980
I had the same problem my self. I believe that  problem is that METRIC_REGISTRY doesn't get destroyed between the tests because it's declared static (i don't know why this doesn't happen with every configuration - maybe some timing issue ???).

I fixed the issue my self by changing MetricsConfiguration.java:
------ original ----->
private static final MetricRegistry METRIC_REGISTRY = new MetricReg

[2015-01-17 08:32] bipinkishore opened #998 "adding xeditable module"
Hi,
 I am trying to add the xeditable feature to my application. But When I add
                      var jhipsterApp = angular.module('jhipsterApp', ['xeditable']);
in my controller after installing angular-Xeditable using bower. My application is not working properly.  I couldn't able to judge, whether it is bug in the jhipster or may I have done any wrong configuration. Please any guidance will

[2015-01-17 09:53] addagulla opened #999 "i want old project structure"
Hi,

    when i generate a new project by running yo jhipster i am getting a new project structure and i wanna get old project structure how can i get back the old structure can some one helpme

thanks

[2015-01-17 09:57] andidev commented on #999
Install the old generator with
`npm install -g generator-jhipster#1.10.2`

then try to generate your project again

[2015-01-17 10:04] addagulla commented on #999
do i need to uninstall current jhipster generator? to install old one and to work with it

[2015-01-17 10:09] jdubois commented on #999
No, just install the old version, like @andidev wrote, and you can use it.

[2015-01-17 10:09] #999 closed

[2015-01-17 10:11] jdubois commented on #998
Please read https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md before submitting a bug.

[2015-01-17 10:11] #998 closed

[2015-01-17 10:13] jdubois commented on #996
If you have a NPE when running the Liquibase plugin, please send the ticket to Liquibase -> https://github.com/liquibase/liquibase-hibernate

You can link the ticket here, as it's always good to know when one of the tools we use has a bug.

[2015-01-17 10:13] #996 closed

[2015-01-17 10:17] addagulla commented on #999
can i have an example command

[2015-01-17 10:19] jdubois commented on #999
That's what @andidev already gave you
This is the ticket system if you have a bug -> if you don't know how to use NPM, look at the NPM forums or Stackoverflow

[2015-01-17 10:29] gmarziou commented on #997
The error message says 'Error during : node --version: Cannot run program "node"', it looks like NodeJS is not installed in your Heroku environment or not in your path.

[2015-01-17 10:31] jdubois commented on #997
yes, can you check with the Heroku support? Without Node, nothing is going to work anyway.
I'm closing this as this is not a JHipster bug

[2015-01-17 10:37] jdubois commented on #993
Please write your questions in English
Of course I can read French, but this is for everybody to understand!
And yes you are correct, those are 2 things we should do, but they are out of scope now, for lack of time
This might be our v3 version

[2015-01-17 10:37] #993 closed

[2015-01-17 10:41] jdubois commented on #987
Yes, there is already #925 on this subject
I don't know if we will be able to have some kind of GUI on top of JHipster:
- It could be cool, but I don't know if there's a lot of added value (the questions also add validation, etc, which you can't do graphically)
- I have no idea if we should use something that generates from an existing database, or uses UML... Both approaches have pros and cons

[2015-01-17 10:41] #987 closed

[2015-01-17 10:44] jdubois commented on #927
@amr  I just added the "gulp.js" label so you can check the Gulp issues easily:
https://github.com/jhipster/generator-jhipster/labels/gulp.js

[2015-01-17 11:27] addagulla commented on #999
hi jdubois, actually I have been tried the version of #1.10.2.But it seems its structure is similar to latest version. Actually, I am working on the old version, that is installed one month before. That uses a separate structure for scripts and view.

[2015-01-17 12:48] amr commented on #927
That's pretty handy, thank you

[2015-01-17 13:18] jhulick commented on #987
In my line of work we develop/maintain a lot of line-of-business applications. They are long lived and many have well established domain models that may last 10+ years. In this sector rewrites or new apps are often created over existing database models, and so a feature such as this would add a lot of value. We've looked at the excellent [PostgREST](https://github.com/begriffs/postgrest) utility a

[2015-01-17 13:35] amr commented on #994
Confirmed, thanks for reporting it. I submitted a PR with a fix.

[2015-01-17 16:11] anshumanpurohit commented on #997
@jdubois
Thanks for the quick response. Also, I understand that this sub-generator is Beta status. However, I think someone should take another look at this ...

1. This was working fine on jhipster v1.7 I see that yeoman-maven-plugin was added as a 'dev' build step recently. If I remove that from maven dev profile, things work fine. Can you explain what this step do? Why do we need to run in Hero

[2015-01-17 16:15] jdubois commented on #997
OK, I re-opened the ticket and will have a closer look

[2015-01-17 17:10] #985 closed

[2015-01-17 17:10] #994 closed

[2015-01-17 18:14] jdubois opened #1002 "bower is broken on the "master" branch"
I don't how this happened, but the "master" branch is broken :-(
Creating a new project works, but no Bower dependency is installed, which of course makes the whole project unsuable. I checked with the v2.0.0 and it works, so it's something that has happened since the beginning of this week.
@andidev as you did several grunt-related commits, can you check if it's your fault?

I'm sorry, this week

[2015-01-17 18:40] jdubois commented on #997
I've just tried it again, and deployed without any issue at all. I'm just doing the "yo jhipster:heroku" command, nothing else.
-> this is why I'm closing this

Now some tips, because you definitively have an issue: you could try doing "grunt test" by hand, or "bower install" and "yo doctor". When the yeoman-maven-plugin fails, like in your case, that's because grunt/bower/npm/yo is not working pr

[2015-01-17 18:40] #997 closed

[2015-01-17 18:42] jdubois opened #1003 "Make elephantsql the default cloudfoundry database"
As stated here: https://twitter.com/java_hipster/status/556396231124336640

[2015-01-17 20:57] andidev commented on #1002
I'll have a look at it right away but I don't have any grunt related PR's that have been merged yet after version 2.0

[2015-01-17 21:12] andidev commented on #1002
Can't reproduce, what configuration did you use?

[2015-01-17 21:30] alitari commented on #980
Had the same issue  during upgrading to 2.0. Tests run in single execution, but not in a complete Testrun ( e.g. mvn clean install). Solution from AksuX worked fine for me. Thanks!

[2015-01-17 22:29] #991 closed

[2015-01-17 22:44] jdubois commented on #1002
OK, my fault... No idea what I did, I just deleted/recreated my app and it works...

[2015-01-17 22:44] #1002 closed

[2015-01-17 22:50] andidev commented on #1002
Git is a bit of a mystery from time to time =)

[2015-01-17 23:00] #982 closed

[2015-01-17 23:00] jdubois commented on #982
Thanks!

[2015-01-17 23:14] jdubois commented on #927
I suck at Grunt and can't make it work anyway... @amr did you suppress it from the gulp.js build? Can you have a look at the Grunt build too?

[2015-01-17 23:25] jdubois commented on #979
It's useful because you need to have a ServletOutputStream in the GZipServletResponseWrapper, it's forced by the servlet API

[2015-01-17 23:25] #979 closed

[2015-01-17 23:39] jdubois commented on #897
@jdrew1303 have you been working on this? Can you give us an update?

[2015-01-17 23:41] jdubois commented on #896
This looks complex to me, I would like to focus on #897 and then we can see if can do your other requests

[2015-01-17 23:41] #896 closed

[2015-01-17 23:42] jdubois commented on #894
Same comment as #896

[2015-01-17 23:42] #894 closed

[2015-01-17 23:48] jdubois commented on #965
@gzsombor I have the error too... It used to work, I'm sure of it!! More work to do on this part!

[2015-01-18 01:26] passionguy opened #1004 "rpc and clusterdeploy"
what a wonderful generator,but is it necessary to config rpc integrated for develop with multi model?

thanks!

[2015-01-18 02:28] c0nscience commented on #307
Hi, I know that issue was closed a long time ago, but I just want to say that I still got this error with v2.
Created a new project with the yeoman generator, set the dev db to 'mysql', get the above mentioned error with a fresh created utf-8 mysql schema. I changed all 'varchar(256)' to 'varchar(255)' as @fyelci mentioned earlier to fix the error.

[2015-01-18 03:56] sableloki commented on #976
@amr im using version 2.0.0 as thats what npm installed and everything is default, also @jdubois yes i saved it, yes i tried browser in private mode, and 3 other browsers

[2015-01-18 07:59] jdubois commented on #976
Can you explain step by step or do a screencast ?

[2015-01-18 08:30] sableloki commented on #976
ok ill record the step by step to recreate

[2015-01-18 09:08] sableloki commented on #976
http://youtu.be/C7NVTkboqiA

[2015-01-18 12:31] jdubois commented on #1004
I have no idea what RPC or multi-model mean to you in our context... Yes, if you want to have several apps, they need to communicate together.
As this is not a ticket or a feature request, please use http://stackoverflow.com/tags/jhipster

[2015-01-18 12:31] #1004 closed

[2015-01-18 13:19] jdubois commented on #976
@sableloki oh, that's easy, OK :-)
The text you change is internationalized (have a look at the "translate" attribute), so you see the translation, not the real text. Delete the attribute, or change something that is not a text (like the color), it will work!

[2015-01-18 13:19] #976 closed

[2015-01-18 13:21] thiagonuic opened #1005 "Avoiding lazy load exception during serialization"
I have googled it a little bit and people doesn't seem to have a good solution for that, when you what to return the entity. Sometimes you need a calculated field to be shown on the view and you don't want to create a custom DTO for that.
Another problem is when you create such method and it depends on some properties to be loaded, and then another REST stops working throwing LazyLoad Exception.

[2015-01-18 13:27] jdubois commented on #1005
This isn't really a JHipster issue : we just provide "standard", out of the box Hibernate, which happens to have this lazy loading feature (which is great most of the time, but can be very surprising otherwise).
If you want to avoid all lazy loading exception, the best solution is to use the OSIV filter provided by Spring Boot -> I haven't used it myself, because I'd rather code my app correctly,

[2015-01-18 13:27] #1005 closed

[2015-01-18 13:57] thiagonuic commented on #1005
What are the drawbacks of OSIV? Why isn't it enable by default?

[2015-01-18 13:58] jdubois commented on #1005
It consumes resources. And you should work with lazy loading, not avoid it, if you want better performance.

[2015-01-18 14:07] sableloki commented on #976
ok cheers

[2015-01-18 15:33] thiagonuic commented on #1005
The ideal solution in my opinion is to use something like Java EE 7 JSON API. But the project is in an advanced state, and using such API now would take a long time, soh OSIV might be the best solution  for now.

Java EE 7 JSON API: http://www.developer.com/java/json-processing-in-java-ee7.html

[2015-01-18 16:27] gzsombor commented on #965
Good to know, that the error is not in my side :-)

[2015-01-18 20:48] anshumanpurohit commented on #997
@jdubois
I ran those commands on my local and all ran without any errors.

BTW, did you use Compass in your test app above?

[2015-01-18 20:55] anshumanpurohit opened #1006 "Heroku sub-generator runs the entire build on Heroku server"
yo jhipster:heroku not only creates/pushes the Heroku app, it runs the entire build, including CSS preprocessing etc., on the Heroku server. To me Heroku is a run-time servers, and build time concerns/dependency should not bleed to that environment.

[2015-01-18 21:22] jdubois commented on #1006
No, that's how you are supposed to work with Heroku, you push your source code and it builds the app.
Have a look at https://devcenter.heroku.com/articles/getting-started-with-java#deploy-the-app -> the Maven build is done on the Heroku side.
In our case, the production build is done locally, and commited to Heroku, so we are half-way between what you want (which isn't what we should do) and how H

[2015-01-18 21:22] #1006 closed

[2015-01-18 21:50] #956 closed

[2015-01-18 21:51] jdubois commented on #970
PR merged!

[2015-01-18 21:56] jdubois commented on #904
Great work @gmarziou !

Some comments:

- The end of the setting_up_ci_windows.md file is in French, you need to translate it to English
- For the Karma.js tests in the JUnit format -> shouldn't this be the default? I'd rather have this by default in the generator, and remove the documentation, what's your opinion?

[2015-01-18 21:59] flythebluesky commented on #995
This problem only occurs when the static resources filter is enabled for the /view/*.html files in production (this is not enabled in the dev env).

Comment out the line as shown below to avoid the problem. With that line commented out, the server does not return a 401 unauthorized for the view. It's unclear to me why a 401 would occur because the view directory is excluded from Spring security (s

[2015-01-18 22:03] anshumanpurohit commented on #1006
What is actually compiled and committed to Heroku? I think middle ground is ok, but the JavaScript and CSS preprocessing should be done on CI servers off Heroku servers.

[2015-01-18 22:06] jdubois commented on #1006
What is sent to Heroku is in your deploy/heroku folder
JS and CSS preprocessing are done and commited locally

[2015-01-18 22:09] andidev commented on #970
Actually this issue is not fixed. PR #969 did not remove the bootstrap-sass dependency on non compass generated projects.

I'll provide you with a PR right away.

[2015-01-18 22:31] jdubois commented on #965
I've disabled CSRF again, can't find a solution :-(

[2015-01-18 22:43] andidev commented on #970
see question in #1007 before merging this

[2015-01-18 23:13] anshumanpurohit commented on #1006
Thanks @jdubois !
It seems JS and CSS preprocessing is done committed locally using the `prod` maven profile and the `dev

[2015-01-18 23:37] gmarziou commented on #904
- Sorry for the French part, it should be OK now.
- I agree with you about Karma tests, changing gruntfile.js and package.json should be safe but I'm not sure about the 'singleRun: true' in karma.conf.js, normally it should not be required as it is already set in Gruntfile.js. I can't remember clearly, I'll try again tomorrow and let you know. I'd also like to run clean builds in both dev and jenk

[2015-01-19 02:49] sjerman opened #1008 "SwaggerUI not working with OAUTH"
Just created an application with OAUTH and discovered that the SwaggerUI wouldn't load.

Seems like a small bug:

replace:
            var authToken = JSON.parse(localStorage.getItem("token")).access_token;
with
            var authToken = JSON.parse(localStorage.getItem("ls.token")).access_token;

fixes it.....

[2015-01-19 06:57] jdubois commented on #1008
Yes this is a duplicate ticket, it's already fixed on master

[2015-01-19 06:57] #1008 closed

[2015-01-19 07:12] saputrasaja opened #1009 "how to run multiple jhipster in one machine"
Can i run multiple jhipster app in one machine ?
Assuming each app run in ports and different databases too

[2015-01-19 07:21] gmarziou commented on #1009
Yes as it is based on spring-boot

[2015-01-19 07:40] saputrasaja commented on #1009
i try run a jhipster app on default config --8080 port
and create the new one with different port
- server.port : 8083
- metrics.spark.port: 9998
- metrics.graphite.port: 2002

but on second running shown an error like this

transport error 202: bind failed: Address already in use
ERROR: JDWP Transport dt_socket failed to initialize, TRANSPORT_INIT(510)

did i miss some thing ?

[2015-01-19 08:04] jdubois commented on #1009
Please use Stackoverflow for this kind of question.

[2015-01-19 08:04] #1009 closed

[2015-01-19 08:05] saputrasaja commented on #1009
[SOLVED]

found it, i forgot to change jvmArguments address  in pom.xml

thx

[2015-01-19 09:45] ctranxuan opened #1010 "Gulp + Production mode: bootstrap fonts are not loaded"
Hello,
A project generated with JHipster 2.0.0 with Gulp as js build manager and maven as java build manager does not display properly with the production mode: the bootstrap fonts are not loaded.

Here are the steps to reproduce:

* create a project with jhipster-generator 2.0.0 (choose the default options except for the js build manager: choose Gulp): yo jhipster
* run: mvn -Pprod package
* run:

[2015-01-19 12:10] andidev commented on #1010
I think this may be solved when merging #1007

[2015-01-19 12:16] andidev commented on #1010
Though there still may be a bug in gulpfile which does not copy the assets when building the dist version. Note that my comments are just thoughts.

[2015-01-19 14:32] tomhughesnice commented on #997
Hi, I would just like to say this issue is not a one off. I too am having exactly the same problem.
It appears we have to install node.js on Heruko from the error.

[2015-01-19 14:37] andidev commented on #1010
The assets seems to be in place in the dist folder so it's not that.

This is a bit strange. I am having problem loading the main.html and the navbar.html when following your instructuions.
![screen shot 2015-01-15 at 14 00 57](https://cloud.githubusercontent.com/assets/571389/5801975/c94d031a-9ff0-11e4-82cc-43c634859640.png)

 An addition to this bug is that it seems that the Development ribbon i

[2015-01-19 15:20] jgribonvald commented on #965
Just my 2 cents !
Did you watch on this example : https://spring.io/blog/2015/01/12/the-login-page-angular-js-and-spring-security-part-ii, the source code is given for tests

[2015-01-19 15:22] jdubois commented on #965
@jgribonvald yes I tested it and they have the same issue!

[2015-01-19 17:55] jgribonvald commented on #965
Ok yes i'm facing same problem, else is the problem related to this problem that was solved here : https://github.com/aditzel/spring-security-csrf-token-interceptor/issues/1

[2015-01-19 21:56] amr commented on #1010
@andidev make sure you are running of the latest master

[2015-01-19 22:13] amr commented on #927
I didn't do anything about it yet, was planning on removing it actually. If you think there is value in retaining it, I can try to fix it for both gulp and grunt.

[2015-01-19 22:16] jdubois commented on #927
@amr no, please remove it (can you do it on both grunt and gulp.js?) -> it doesn't work and nobody uses it anyway

[2015-01-19 22:41] jdubois commented on #892
This is merged!

[2015-01-19 22:41] #892 closed

[2015-01-19 23:35] amr commented on #1010
I cannot reproduce the font issue. Can anyone else reproduce? @ctranxuan: can you push the code somewhere?

Btw, I can reproduce the Development ribbon issue @andidev mentioned, and will submit a PR for it.

[2015-01-20 08:32] sbert opened #1012 "[Feature] yo jhipster:addProperty to add a new property to an existing entity"
When I begin a project I can't define the final data model.
In this case I lost the great power of jhipster generator.

It will be very interesting to have a new generation feature to add property / relation to an entity.

An approach can be :
generate Abstract<ENTITY_NAME>Base and CustomEntity instead of entity.
The specific code will be in customEntity and when I add a new property the Abstract<

[2015-01-20 08:35] sbert opened #1013 "[Feature] add beanValidation in generation step"
It will be very interesting to have a new step (y/N by default) to add beanValidation when I generate an entity (NotEmpty, size,....)

Theses rules will be implemented in entity, controller and Angular

[2015-01-20 09:41] jdubois commented on #1013
yes, indeed -> I would even ask this at the beginning of the entity, so it's just one more question for people who don't want it.
And we should also generate the correct SQL schema (column size is the same as the bean validation max size, for example)

[2015-01-20 09:43] jdubois commented on #1012
Yes it would be nice, but we would need to add a marker somewhere for us to add the code -> this is a bit complex and I'm not a big fan of it, but we do it elsewhere, see https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/resources/config/liquibase/master.xml#L8 )

[2015-01-20 09:43] andidev opened #1014 "let grunt-cdnify rewrite static resource to image and font URLs for production build"
It seems that the official yeoman angular generator is doing this. Should JHipster do so as well?

Not sure how mutch we can benifit from this and if there are any drawbacks
* `<img src="____">` in html
* `background-image: url(____);` in your CSS (including inside `<style>` tags in your HTML)

grunt-cdnify at [GitHub](https://github.com/callumlocke/grunt-cdnify)

[2015-01-20 09:45] jdubois commented on #1014
I need to check -> my concern with CDN is that it's only for public website, and many people build business applications with JHipster (which is probably not the case with the official Angular generator, which is too simple)

[2015-01-20 10:19] ctranxuan commented on #1010
Hi,
You can find the project at https://github.com/ctranxuan/jhipster2-sample
I've removed npm_modules and bower dependencies.

MySQL username / pwd has been configured with root / root.

If ever you need any other feedback, feel free to contact me.

[2015-01-20 10:34] gzsombor commented on #1013
Probably using http://netceteragroup.github.io/valdr/ for server + client side validation would be beneficial too

[2015-01-20 11:58] jdubois commented on #1010
I have merged https://github.com/jhipster/generator-jhipster/pull/1011 this should fix the development ribbon issue

[2015-01-20 12:13] jdubois commented on #904
@gmarziou OK, for the Karma tests it's cool if you can have a look at it, but anyway this is a great improvement over the existing documentation, can you submit a PR?

[2015-01-20 13:18] flythebluesky commented on #995
Who is running JHipster in production mode? If so, have you seen this bug?

[2015-01-20 19:06] sbert opened #1015 "[Bug] on manyToMany relation generation"
I've got an error when I try to save an entity with manyToMany relation :
`Hibernate: insert into T_PROJECT (code, name) values (?, ?)
Hibernate: insert into T_PROJECT_T_COMPONENT (T_PROJECT_id, components_id) values (?, ?)
[WARN] org.hibernate.engine.jdbc.spi.SqlExceptionHelper - SQL Error: 1054, SQLState: 42S22
[ERROR] org.hibernate.engine.jdbc.spi.SqlExceptionHelper - Unknown column 'T_PROJECT_

[2015-01-20 19:41] jdubois commented on #1015
Your relationships should be declared on both parts -> "component" should also have a many-to-many relationship to "project" (and it is not the owner)

[2015-01-20 19:41] #1015 closed

[2015-01-20 20:10] gmarziou commented on #904
@jdubois just to clarify, you mean a PR for Karma test configuration as the PR for the doc is merged within the one about client code doc, right? I'll do it.

[2015-01-20 20:11] jdubois commented on #904
Yes, if you can do both PR that's great, otherwise the documentation PR is already very good alone!

[2015-01-20 20:39] andidev opened #1016 "update Gruntfile.js"
Gruntfile.js dependencies should be updated.
The Gruntfile configuration should aslo be reviewed and compared with more maintained yeoman generators like [Generator Angular](https://github.com/yeoman/generator-angular). I think it could be a good idea to try keeping it in sync as mutch as possible with a official generator so that JHipster could benifit from it's bugsfixes.

@jdubois Which generat

[2015-01-20 20:39] sbert commented on #1015
Another solution will be to add JoinTable mapping.
Something like :
@JoinTable(joinColumns = {
            @JoinColumn(name = "projects_id", nullable = false, updatable = false) },
            inverseJoinColumns = { @JoinColumn(name = "components_id",
                nullable = false, updatable = false) })

[2015-01-20 21:44] jdubois commented on #1016
It think it came originally from generator angular fullstack, but that was more than 1 year ago... Indeed, dependencies should be updated, do you want to have a look?

[2015-01-20 21:53] andidev commented on #1016
Yes I could do that. Is it okey to do that in PR #1007 which fixes #970 ?

Seems that #970 was not that easy as I thought (as always when you develop something =) )

[2015-01-20 22:17] jdubois commented on #1016
Yes, if that's easier for you!

[2015-01-20 22:23] poutsjr opened #1017 "problem with java.util.stream package"
After first maven build for my generated application, i have the error :
[code]

this is my configuration for application generation :
[code]

I think the line declaring package must be commented (for non java8 project)

[2015-01-20 22:25] jdubois commented on #1017
Oh yes! Usually people doing Websockets are on Java 8, this wasn't tested!

[2015-01-20 23:06] jdubois commented on #843
I'm working on it here: https://github.com/jhipster/jhipster-cassandra-app

[2015-01-21 08:46] benaneesh commented on #997
Hi, got the same error on two different devices. Must be a change on Heroku's side. Will try a multi buildpack with node and java when I get home.

[2015-01-21 10:17] mpages commented on #979
you can do without it using java.util.zip.GZIPOutputStream
since it doesn't provide huge diff in perf... i don't think it's usefull to change it

[2015-01-21 10:23] mpages commented on #814
i've put jersey as REST provider instead of Spring MVC Rest which is not compliant with JAX-RS spec
it need some tuning to provide the same feature thant Spring MVC Rest in JHipster (jackson mapper, jodatime, gzip) ....

i've done some jmeter test using from 1 to 200 thread on a service which have constant response time (no database access)
the diff between spring mvc and jersey is very light (mvc

[2015-01-21 10:25] jgribonvald commented on #965
This patch should work, at least it worked for me on last jhipster version.

The problem where on Angular apps side, the localStorageService.clearAll() was called before logout post request on server and after that a request on server side is needed to refresh in the browser the new csrf cookie.

Also i found something odd on app.js
//Cache everything except rest api requests
        httpRequestIn

[2015-01-21 10:58] schrepfler commented on #814
I thought Spring Data Rest is NOT JAX-RS? They do have Declarative Hyperlinking though even if it's not the same. I'm all for supporting Jersey as well.

[2015-01-21 11:02] jdubois commented on #814
Yes, but we will stick with Spring MVC REST, as we are based on the Spring stack.

[2015-01-21 11:04] mpages commented on #814
my bad .. @schrepfler spring data rest .. is not JAX-RS . only provide hyperlink info over repo :(

spring mvc rest is a very poor impl for rest service .. futhermore you have dev many things that is provide out of the box on rest impl : async service, gzip ...

[2015-01-21 11:05] mpages commented on #814
spring boot 1.2.0 provide jersey profile

[2015-01-21 13:15] jdubois commented on #843
We should also check Liquibase Cassandra: https://github.com/liquibase/liquibase-cassandra
@nvoxland is it usable?

[2015-01-21 15:28] jgribonvald opened #1019 "[Feature] subj-generator entity properties for custom type"
Is there some planning of integrating custom type as properties ? like
- Enum
- Embedded objects
- ElementCollection for properties as Set<?> where ? could be basic or custom type

It would be great at least that we can generate these things from the .jhipster.entity.json
Also it would be great to be able to add custom annotation on entities.

[2015-01-21 17:49] gmarziou opened #1020 "Wrong regexp for CacheBuster"
I came across the init of CacheBuster in app.js and it seems to me that it still using the old /rest URI rather than new /api which could explain some strange behavior around authentication that were reported recently.

https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/webapp/scripts/app/_app.js#L63

[code]

I did not make a PR as I haven't tested anything.

[2015-01-21 17:51] jdubois commented on #1020
You are correct, as I forgot about it....

[2015-01-22 08:28] gojesandeep opened #1021 "./gradlew liquibaseDiffChangelog throws Errors: Unknown parameter: 'excludeObjects'"
Environment :
 DB: Postgres 9.3
 Build : Maven
Java Version 8
OS : Mac OSX 10.10
./gradlew liquibaseDiffChangelog command throws

:compileJava UP-TO-DATE
:nodeSetup SKIPPED
:npmSetup SKIPPED
:npmInstall UP-TO-DATE
:bower
:processResources UP-TO-DATE
:classes UP-TO-DATE
:findMainClass
:liquibaseDiffChangelog
Errors:
  Unknown parameter: 'excludeObjects'
Last few lines of output :
Unexpected error r

[2015-01-22 08:32] gojesandeep commented on #1021
task liquibaseDiffChangelog(dependsOn: compileJava, type: JavaExec) {
  group = "liquibase"

  classpath sourceSets.main.runtimeClasspath
  classpath configurations.liquibase
  main = "liquibase.integration.commandline.Main"

  args "--changeLogFile=src/main/resources/config/liquibase/changelog/" + buildTimestamp() +"_changelog.xml"
  args "--referenceUrl=hibernate:spring:com.golive.platform.domai

[2015-01-22 09:48] andidev commented on #1010
Is your issue solved?

If not could you try the #1007 PR version by doing the following?

Install the PR version of JHipster generator by entering the following in your console
[code]

then try generatirng a new JHipster project and retry your test case.

[2015-01-22 11:08] gmarziou opened #1022 "Document how to use other yeoman angular generators"
JHipster 2

I have tried to use other yeoman generators to generate an angular service or other components and found it hard to do,.

I think some documentation would help and maybe some thinking about whether this is the way to go or whether jhipster should provide its own sub generators.

I'm a yo newbie so maybe there's a way to configure things in `.yo-rc.json` file so that it is compatible wi

[2015-01-22 12:10] chbatey commented on #843
I was going to raise Cassandra support but you are all way ahead! Happy to you test this.

[2015-01-22 13:25] jdubois commented on #1021
You said that your build is with Maven, but you use the Gradlew command... It's either you selected Maven, or Gradle.

[2015-01-22 13:40] gmarziou commented on #1022
I tried generator-ng-component and its configuration can be better tuned than the other ones, the default path where the files arez generated and it even seems possible to provide a template.

The only problem is that it generates the test in same folder than component.

-----
npm install -g generator-ng-component
yo ng-component:service invoice
Where would you like to create this service? src/mai

[2015-01-22 13:52] gojesandeep commented on #1021
Sorry for the mistake. I am using Gradle

[2015-01-22 16:10] gmarziou opened #1023 "Generating an entity should not create json file at project root"
In Jhipster 2, when creating an entity named invoice with `yo jhipster:entity invoice`, generator creates a `.jhipster.invoice.json` file at the root of the project.
I don't know whether this file must be kept or not: it does not seem to be used by the application so maybe it's used by the generator, in such case it would be nicer to keep it under a sub directory like `.jhipster.entities` as other

[2015-01-22 18:16] StasPereverziev commented on #684
I'am also interesting in this feature.
Is anyone working on this ?
Thanks

[2015-01-22 19:30] PeterEltgroth commented on #684
Sorry, still on my list, but swamped at work and home. Please join the effort, the posts above detail where I left off an and suggestions on how to get get beyond my state.

[2015-01-22 19:41] nvoxland commented on #843
I've not really used cassandra enough to have any idea of how usable the extension is. It's completely community-contributed.

I've been recently emailing with @sbonde who created https://github.com/sbonde/liquibase-ext but I haven't gotten a chance to look at the differences. His is probably worth looking at as well.

[2015-01-22 19:53] sjerman opened #1024 "How to use 'dist' files in production"
OK, this may be obvious...

I run a build mvn -Pprod package.

A directory 'dist' is created with the compiled/minified assets. All good.

The question is how do those assets get used at runtime? run the app in 'prod' mode doesn't do it..

Do I have to manually copy stuff around (or work on Maven :)) or am I just missing something?

Steve
PS: apologies if I should be using a different mechanism th

[2015-01-22 19:56] andidev commented on #1024
Run the app in `prod` mode should use the dist folder as far as I know. How do you mean that it does'nt. Give an example of a resource that does not load from the assets folder.

[2015-01-22 20:00] sjerman commented on #1024
Apologies. I think caching must be getting in way.

[2015-01-22 20:00] #1024 closed

[2015-01-23 04:49] leonardoavs commented on #1023
I totally agree with this, if we put the entity json file that is generated by jhipster in a subfolder, this can be a very good feature.

[2015-01-23 04:58] leonardoavs commented on #1013
Bean Validation is difficult, but we can ask for the lenght and ask if the attribute is required, moreover we can have a default length for the string types, I mean that we do not need to request the length for all the types, in the past I implemented this for a local jhipster project, and yes is a question more, but it saves a lot of time.

Like example it generate the liquid database file with r

[2015-01-23 05:04] leonardoavs commented on #925
As @gzsombor said, I think, there is one, bigger missing piece from jhipster, is to have multiple, named relations between entities. For example, currently if you have 'Project' and 'People' entities, you couldn't declare that Project have a 'leader', 'developers', 'testers', 'client' which all 'People', only that there is a 'persons' relation.

I think that this feature is very common, and it can

[2015-01-23 07:03] andidev commented on #908
@jdubois  Was this issue resolved by itself or was somtheing coded?

It seems that the correct way to remove flickering of html elements that should not be visible according to the `ng-show` attribute is to add the `ng-cloak` class and the css class as mentioned by @imduffy15.

Is there a reason why this is not already done?

[2015-01-23 09:00] andidev commented on #908
Sorry actually the css is injected by javascript. Howerver it works better if it is placed in header instead of at the bottom of the javascript.

But still the `<div ui-view="navbar" ></div>`  is missing the `ng-cloak`.

[2015-01-23 09:23] gmarziou commented on #1022
I think the final answer (and maybe to document) is that jhipster users should not expect other angularjs generators to be compatible with jhipster.

[2015-01-23 09:40] Avricot commented on #906
A quick update, we still have the error on prod, a solution might just be to revoke the cookie without any error, what do you think ?

[2015-01-23 16:29] jdubois commented on #1022
Yes, Yeoman generators are not compatible with each other, so it just doesn't work.
Just @jmirc did a job to make the "angular" generator work with JHipster, but that was specific to this generator, which is very simple, and we haven't pushed tests very far, so I don't know how useful it is.

[2015-01-23 16:29] #1022 closed

[2015-01-23 16:51] atomfrede commented on #1021
Very strange as the same worked for me with mysql. According to the [latest release notes](http://blog.liquibase.org/2015/01/liquibase-3-3-2-released.html) ``excludeObjects`` is the expected argument. Will check it out during the weekend.

[2015-01-23 16:56] gojesandeep commented on #1021
I have checked if there was any bug and found the feature request URL I pasted. I went through the liquibase code base to check where the exception was being thrown but could not go further.

[2015-01-23 17:01] atomfrede commented on #1021
Are you using oauth or session based authentication?

[2015-01-23 17:02] gojesandeep commented on #1021
I have setup with OAuth

The most profound statements are often said in silence.
-Lynn Johnston

On Fri, Jan 23, 2015 at 10:31 PM, Frederik Hahne <notifications@github.com>
wrote:

[2015-01-23 17:03] gojesandeep commented on #1021
I tried commenting out that line and checked but it was throwing a bunch of migrations which should not be triggered so I reverted back.

[2015-01-23 19:45] atomfrede commented on #1021
Solution: just put the line with ``excludeObjects`` after the line with ``diffChangelog``:

[code]

[2015-01-23 21:47] amr commented on #927
PR Submitted

[2015-01-23 22:55] amr commented on #1010
@ctranxuan I was able to reproduce from your github repo, what was missing in your original steps is to indicate that you chose to use compass as well. I tested with @andidev #1007 PR and found that it resolves this issue.

[2015-01-24 07:24] #1021 closed

[2015-01-24 07:26] #927 closed

[2015-01-24 14:33] #1016 closed

[2015-01-24 14:36] #970 closed

[2015-01-24 14:41] jdubois commented on #1023
It's a hidden field (with a dot), but I understand it can be annoying for Windows users.
We could do a ".jhipster" instead.
It would also be easier to move around.
Note that I expect great things from this file, see #925 for example, but at the moment the usage is:

- helps you re-generate the entity easily -> so if you migrate it's easier
- easy to copy, so you can generate the same entity in oth

[2015-01-24 14:42] jdubois commented on #1023
Sorry I closed it by mistake

[2015-01-24 14:50] gmarziou commented on #1023
+1 for the ".jhipster" folder and great ideas

[2015-01-24 17:09] silhouette opened #1029 "Pluralization for entities via configuration file"
Currently the pluralization for entities is just <entityName> + "s", which does not work well for words ending in y or s, even in English.

Therefore I suggest to add a setting "pluralEntityName" in the .jhipster.<entityName>.json configuration file, preset with the current logic. This way it can easily be changed after the first generation and the entity can be regenerated. And it stays correct w

[2015-01-24 17:47] andidev opened #1030 "Document how to install new javascript, css, sass dependencies with new wiredep configuration"
Changes committed in PR #1007 and #969 offers a new work flow for adding new javascript, css and sass dependencies via Bower. This new feature should be documented as some already as mentioned.
@gmarziu offered to help with this task. Are you still up to it? Otherwise I could take a look at it or maybe work something out together in this issue? How should we work with this?

[2015-01-24 19:05] gmarziou commented on #1030
I like bower and wiredep a lot, I just used it on my project to add font-awesome. I'd be happy to help on this but I think it'll be asier after my PR get merged into doc.

[2015-01-24 19:13] andidev commented on #1030
Thanks that would be nice, maybe I'll start doing it if I will get time for it. I'll keep this issue updated with the docs.

[2015-01-24 19:22] gmarziou commented on #1029
Yes it's probably better to do it this way and maybe even better to ask the user when generating a new entity while proposing the default.

Anyway, I have never been a big fan of using plural for entities, it was first popularized by Ruby on Rails with its Inflector but after all these years it still has problems (even in English) and is confusing for users speaking a language where these basic pl

[2015-01-24 19:24] gmarziou commented on #1030
Feel free to do it, I'd be happy to review too.

[2015-01-24 19:44] andidev opened #1031 "Add feature that allows admin user to switch to any normal user"
Don't know if this is possible with all three Authentication types supported by JHipster but I could look into it if this feature is wanted.

This could be possible to implement with the [SwitchUserFilter](http://docs.spring.io/spring-security/site/docs/current/apidocs/index.html?org/springframework/security/web/authentication/switchuser/SwitchUserFilter.html)

This change would add a new menu ite

[2015-01-24 20:30] silhouette commented on #1029
I'd definitely vote against removing it. Something like

    List<Category> category = ...

makes my eyes hurt even more than categorys... ;-)

[2015-01-24 20:37] gojesandeep commented on #1021
Thanks for the help. It worked for me.

[2015-01-24 23:11] silhouette commented on #1012
Yes, this would be a nice feature. I'd use the entity configuration file for this. So addProperty / addRelationship would add the new property (or relationship) to the config file and then use it to regenerate the code. As a workarround you can do it already just editing the config file with a text-editor. That's what I prefer for changing my data model.

[2015-01-25 00:16] gmarziou commented on #1029
Well it could be easily fixed :)

     List<Category> categoryList = ...

And after all that's only code, your users do not see it but they can see wrong plural in URLs.

So, get rid of plural or ask user for confirmation when generating a new entity.

[2015-01-25 00:48] Altaflux commented on #1029
If there is interest I have a branch that contains a change that allows correct pluralization of entities during Entity generation, it works great just that it is a bit behind current master. If this approach sounds correct I can update this change and send a pull request.

https://github.com/Altaflux/generator-jhipster/commit/a58a53490a350d15956aa25b68d5f7f424fc56e2

[2015-01-25 12:00] jdubois commented on #897
I'm closing this: it is a good idea, but no work has been done on it, and we will not start this in the v2 release as far as I'm concerned

[2015-01-25 12:00] #897 closed

[2015-01-25 12:02] jdubois commented on #904
Hi, can you send the PR about the documentation?

[2015-01-25 12:03] jdubois commented on #908
@andidev no it hasn't been resolved -> I agree with you, ng-cloak should do the trick, but I haven't tested. The only reason why it's not done, is that nobody has done it yet! Could you send a PR on this?

[2015-01-25 12:18] #965 closed

[2015-01-25 12:19] jdubois commented on #1019
This is not planned yet, but if you are interested a PR is welcome.
It's a good idea, it's mostly me lacking time to do everything

[2015-01-25 12:21] jdubois commented on #1012
Oh @silhouette yes let's just regenerate everything -> I wanted to do a marker (see my previous comment), but it's much better to regenerate everything

- if the user didn't modify anything, he will just overwrite his files
- if he modified, he can do the merging, either with Yeoman or Git -> it's easier and more powerful than a marker, which can be deleted by mistake

[2015-01-25 12:33] andidev commented on #908
Yes can do!

[2015-01-25 12:36] #1017 closed

[2015-01-25 12:52] andidev commented on #908
Hopefully this PR solves this issue for you @imduffy15
If not maybe we need to move the ng-cloak css rule to be loaded before the vendor css rules.

Though there will allways be some minor flashing got from the font loading time.

[2015-01-25 13:56] gmarziou commented on #904
There's only one PR: https://github.com/jhipster/jhipster.github.io/pull/21 which includes several commits about CI and client code structure.

[2015-01-25 18:10] davykiala opened #1034 "Error message not correct when registering the user with the same email"
Hello,
I am testing Jhipster sample 2.0.. The issue can also be  reproduce inany project generated with jhipster 2 generator.
This is the use case :
1. I create an user :  http://localhost:8080/#/register
login :  test
email : test@test.fr
password : test2015
passwordConfirm : test2015

2. I create an user :  http://localhost:8080/#/register
login :  test1
email : test@test.fr
password : test2015

[2015-01-25 19:36] jdubois commented on #1020
Done

[2015-01-25 19:36] #1020 closed

[2015-01-25 19:41] #908 closed

[2015-01-25 19:48] jdubois commented on #1034
OK, I don't know who modified this page, but it's broken:

- password validation is wrong (test with a 5 character password)
- I got a "SyntaxError: Unexpected token e" after registration

[2015-01-25 19:51] jdubois commented on #1030
Yes, please update the doc, you know better than me how it's working!
Do you need help to update the website? It's a Jekyll website, and you can do PR on it, like the generator website.

[2015-01-25 19:58] jdubois commented on #1031
Indeed, this would be hard to test with the three authentication types.
Besides, we would need rules between the authorization roles -> the "ROLE_ADMIN" users should be able to switch to all users, but not the other roles.
For me this goes a bit too far.

[2015-01-25 21:30] andidev commented on #1031
It is possible to create list of which user roles should't be possible to switch to and then do a check before the `attemptSwitchUser(request)` call in the `SwitchUserFilter` if the switch to user has any of these roles.
This can probably be done by overriding the `attemptSwitchUser(request)`. If the role exists on the user then throw a `AuthenticationException` , if not then call `super.attemptSw

[2015-01-25 23:03] andidev commented on #1030
Okey, I'll will give it a try.

[2015-01-26 12:17] perezagua opened #1036 "Typo creating foreign key for table "oauth_access_token""
I thing there is a typo in initial_schema.xml file, when creating foreing key for "oauth_access_token" table.

[code]
the `baseTableName` parameter should be "oauth_access_token" instead "oauth_client_token".

[2015-01-26 13:42] julienboulay opened #1037 "XAuth Authentication is broken"
The xauth authentication mechanism is broken, because CSRF protection should be disabled for this authentication type.

It seems to be a merge issue coming from this commit 9b6d784254254719e406e654d32d1cc37bc6f610

After the x-auth-token branch has been merged, we missed the following lines in _SecurityConfiguration.java template.

`<% if (authenticationType == 'xauth') { %>
            .csrf()

[2015-01-26 14:17] jdubois commented on #1037
Hi, CSRF should not be configured for token based authentication (that would means 2 tokens!).
Yes, it's probably a merge issue, can you have a look?

[2015-01-26 14:20] julienboulay commented on #1037
Yes, I will make a PR as soon as possible

[2015-01-26 15:46] mraible opened #1039 "Add support for Foundation for Apps"
I know it's a lot to ask, but it'd be cool to see support for Foundation for Apps: http://foundation.zurb.com/apps/.

I like Bootstrap, but the project I'm working on recently chose FA instead. We're using AngularJS on the front-end and might use Spring Boot for the API. If JHipster had a FA option, it'd be a slam dunk. How hard would it be to add? If given some direction, I'd be happy to look int

[2015-01-26 16:25] jdubois commented on #1039
It's certainly do-able, but you would need to update all the front-end files:

- We use the Bootstrap components everywhere, for example the menu, the validation, etc...
- We also use its grid system and its CSS classes everywhere

The good news is that our front-end is well separated from the back-end, so you will not have a lot of conflicts with the other generators.

Still, it looks like a lot

[2015-01-26 17:37] svennela commented on #965
I ran into similar issue:

Click on Register
Click on login ( which is below register)
Try to login (it will redirect to register).
I am using OAuth with Jhipster 2.0. Any help
Really stuck.

[2015-01-26 20:59] KoljaTM commented on #71
fwiw, I had the same problem as reported in the StackOverflow article and fixed it by changing

    @Inject
    public void configureGlobal(AuthenticationManagerBuilder auth) throws Exception {
        auth
            .userDetailsService(userDetailsService)
                .passwordEncoder(passwordEncoder());
    }

to

    @Override
    public void configure(AuthenticationManagerBuilder auth) th

[2015-01-26 22:47] #1037 closed

[2015-01-26 22:56] #1036 closed

[2015-01-26 22:57] #1010 closed

[2015-01-26 22:58] jdubois commented on #1014
OK, so indeed you need a CDN to make this work -> it's out of scope, a currently most people use JHipster for internal web apps.

[2015-01-26 22:58] #1014 closed

[2015-01-26 23:00] jdubois commented on #963
It's a Pivotal issue: it works on our own CF-based cloud at Ippon Technology, but it doesn't work on the Pivotal CF, probably because they don't have the right front-end router.
Anyway, this is not a JHipster issue, as I have it working on our CF instance.

[2015-01-26 23:24] svennela commented on #963
In Cloud Foundry on PWS, all secure web socket traffic is routed on port 4443, can you check the your client is using port 4443? Please let me know.

[2015-01-27 01:30] svennela opened #1040 "Register and login flow not working"
Hi,
I am using jhipster 2.0 with OAUTH. Once i click register then again authenticate it is not letting me login.

Below are steps to reproduce
1) http://localhost:8080/#/ (click on new register new account link)
2) http://localhost:8080/#/register (click on new register new authenticate link)
3) http://localhost:8080/#/login (try to login , it will redirect to register again)

Please let me know.

[2015-01-27 06:19] atomfrede opened #1041 "Gradle heroku deploy"
Heroku offers a [gradle buildpack](https://github.com/heroku/heroku-buildpack-gradle). It would be great to be able to deploy also gradle projects to heroku. This requires copying the gradle wrapper files to the deploy directory and a little update in the gradle buildfile.

@jdubois feel free to assign it directly to me, as I'm currently experimenting with heroku and gradle

[2015-01-27 08:29] jdubois commented on #963
I'm not using HTTPS, do you mean that Websocket traffic must be encrypted?

[2015-01-27 09:24] jdubois commented on #1040
This can be linked to #1034 -> it seems the registration screen is broken, I need to check what happened there

[2015-01-27 09:26] sdeleuze commented on #963
@jdubois I think that means you should connect to `wss://breizhjug.cfapps.io:4443/websocket/`

[2015-01-27 09:26] jdubois commented on #963
Thanks, I'm reopening this and I will check

[2015-01-27 09:55] jdubois commented on #1034
OK, this is because the message that is sent back is not parsed properly - this has something to do with our new v2 code, I remember we already had that issue but @jmirc corrected it and I didn't pay enough attention... This shouldn't be too complex to correct.

[2015-01-27 10:58] #1034 closed

[2015-01-27 11:00] jdubois commented on #1040
OK, this is just because you did not activate your account -> look at the logs, you have an activation key (that should be sent to you by email in production).

[2015-01-27 11:00] #1040 closed

[2015-01-27 11:50] jdubois commented on #1029
Yes, the @Altaflux code is the best way to do it. I've already read it before, and I thought there was some issues between the Java & JavaScript pluralization code?
@Altaflux if you are sure there is no issue, your solution is my favorite, as it's all automatic

[2015-01-27 11:51] jdubois commented on #975
@andidev any progress on this? It looks close to be finished!

[2015-01-27 12:28] #963 closed

[2015-01-27 12:36] andidev commented on #975
It is almost done. The gulp support is not in place since the gulp plugin I'm using does not support the same features as the grunt version of it. But I will release a forked version of this plugin today. So you can expect a PR today if nothing goes wrong.

[2015-01-27 12:47] gmarziou opened #1042 "Fast profile should not disable liquibase when using H2 in memory"
Currently DatabaseConfiguration.liquibase() method does not run database migrations if 'fast' profile is set, it should be smarter and run it if database is H2 in memory.

[2015-01-27 15:22] ctranxuan opened #1043 "Gulp + Production mode packages the non minified css and js"
Hello,
Packaging  with the « prod » profile a project generated with JHipster 2.0.0 with Gulp and Maven, gives a war that embeds both the « dist » folder with minified css and js, and folders with non-minified css and js.

Here are the steps to reproduce:

* create a project with jhipster-generator 2.0.0 (choose the default options except for the js build manager: choose Gulp): yo jhipster
* run:

[2015-01-27 17:07] jgribonvald commented on #654
Some docs on how to integrate a datepicker would be great in this case for each date like datetime and localdate, what do you think ?

[2015-01-27 19:44] jdubois commented on #1043
No it's not an issue: the "prod" packaging has both the "prod" files (minified, etc, in the "dist" folder) as well as the normal "dev" files.

2 reasons for this:

- Some people are required to have a unique WAR for all environments
- In case you want to debug your WAR, you can run it in "dev" mode (otherwise it's impossible to debug)

[2015-01-27 19:44] #1043 closed

[2015-01-27 19:47] jdubois commented on #1042
That was on purpose: if you want to go fast, don't use an embedded database, and don't use Liquibase. Otherwise you won't gain much from the "fast" profile (Swagger and Tomcat/Jetty are the 2 other culprits).

[2015-01-27 22:01] gmarziou commented on #1042
I agree with you on the purpose however the way it fails is annoying, the appplication starts well and will fail as soon as the database is accessed.
If you don't want to support H2 in memory with fast profile, maybe the application should just fail at init with a clear message.

[2015-01-27 22:15] jdubois commented on #1042
OK, I need to check what we can do about this

[2015-01-27 22:24] gmarziou commented on #1042
I can propose a PR if you want.

[2015-01-28 00:27] andidev opened #1046 "add application version number"
It would be nice to display the version number (from pom.xml) of the running app.
Not sure if it should be visible from all views or maybe just from a single view. And maybe just for admin users.
Any suggestions?

Here is a mock that show the verison number next to the logo
DEV:
![screen shot 2015-01-28 at 01 15 14](https://cloud.githubusercontent.com/assets/571389/5930183/a1b3963c-a68c-11e4-8729-

[2015-01-28 07:30] gmarziou commented on #1046
+1
I also would like to see this version number in the server logs at application start..

[2015-01-28 09:03] andidev commented on #1046
That would also be nice

[2015-01-28 10:41] andidev opened #1047 "gulp serve get stuck in a loop (but not forever)"
Not sure why this happens. I feel that it mostly hapenedes the first time after generating a new project.

The gulpfile.js needs some refactoring to do since we no longer support the `grunt serve:dist` command and therefore there is no point in calling `usemin` in the watch task (I think).

[code]

And here it ended it's looping

[2015-01-28 10:46] andidev commented on #1046
Changes are made if the feature is wanted.
The changes are dependent on the release of #975. So I'll provide the PR as soon as #975 is merged.

[2015-01-28 10:57] andidev opened #1048 "add version number in the server logs at application start"
@gmarziou mentioned this in #1046. Creating a separate issue for this.

The best way to do this according to [StackOverflow](http://stackoverflow.com/questions/3697449/retrieve-version-from-maven-pom-xml-in-code) is to inject the version number in a property file via resource filtering. And then load this property file and print the version number from `Application.java`.

[2015-01-28 12:35] ctranxuan commented on #1010
Sorry about compass. :(
I was so used to generate with compass that I did not realize it was not a default option.
Apologizes.

[2015-01-28 12:42] amr commented on #1010
No worries at all & thanks for reporting

[2015-01-28 15:23] jdubois commented on #1042
Yes, please do: I'm changing my mind, it's better to have this working than to have nothing!

[2015-01-28 15:23] jdubois commented on #654
Yes, as we can't solve it, the best thing would be to document it

[2015-01-28 16:49] gmarziou commented on #1042
OK, maybe we can make it work and log a WARN saying that this is not optimal?

[2015-01-28 16:50] jdubois commented on #1042
Yes, good idea!

[2015-01-28 17:05] #1046 closed

[2015-01-28 18:41] andidev commented on #1048
Sorry I incorrectly referenced the wrong issue in the #1050 PR. PR should have been closed #1046 (which is correctly closed). Could you reopen this?

[2015-01-28 19:47] jdubois commented on #1048
It's open again!

[2015-01-29 10:05] andidev commented on #1048
Is there a reason why the  logs are not `static` in the java classes?

I have to access the log in a static method and I'm not sure if I should call `LoggerFactory.getLogger(Application.class)` in the static method or make the logger in the class `static` and use that insead.

Anyone with some knowledge on this?

[2015-01-29 12:39] thiagonuic opened #1053 "Treating cookie theft exception correctly"
Hi,

I am having some problem when spring security detects cookie theft, which redirects to a generic error page showing something like:

Status: Internal Server Error (Internal Server Error)
??message_en_US?? Invalid remember-me token (Series/token) mismatch. Implies previous cookie theft attack.

This is obviously terrible for user experience. I found this link (below) on how to solve it with sp

[2015-01-29 12:55] jdubois commented on #1053
If your users are having a cookie theft attack, the best solution would be to alert them ASAP. This should not happen under normal operations, of course.
We could redirect them to a specific page, but at the moment they should just be redirected to the login page: isn't this the case on your app?

[2015-01-29 12:58] thiagonuic commented on #1053
Not right now, they are getting this error and even pressing F5 it does not solve it. Sometimes I get cookie theft attack during development, but F5 solves the problem. I just don't know how to apply a solution to redirect to the login page. The current error page comes from spring.

[2015-01-29 12:59] thiagonuic commented on #1053
They are not getting true cookie theft attack since it is only intranet for a couple of users right now.

[2015-01-29 13:05] andidev commented on #1048
This is now implemented on Maven builds, though I am having trouble getting the filtering of the appliation.yml to work with gradle.

Who is responsible/expert on gradle that maybe could help me out?

[2015-01-29 19:48] jancel opened #1054 "Pushing to cloud foundry works for a couple requests"
With default on all of the configurations for the prod instance of a cloudfoundry install, I've attempted to run my project. It works great on login and maybe the first couple requests, but then I start having issues getting anything to save into the database.

Caused by: org.hibernate.exception.GenericJDBCException: unable to obtain isolated JDBC connection
2015-01-29T13:42:24.95-0600 [App/0]   O

[2015-01-29 20:02] jdubois commented on #1054
- 4 connections should be enough for your app to work, but of course it depends of what you do
- I am personally using a paid plan (well, ElephantSQL gives it for free to the project, that's why we like them!), and of course this helps a lot -> for anything serious, you probably need more than 4 connections

Which database are you using? And are you deploying on the Pivotal Cloud, or somewhere els

[2015-01-29 20:32] jancel commented on #1054
I'm deploying to an internal Pivotal cloud; and the scope of the application should not at this point need more than 4.  But after one update to the database, I can't update other models because of this error. I'm the only user as well.  We're using a mysql database right now. Default config (100mb).  Java Version 1.8 (from the generator, so completely 1.8).  We're using the cloudfoundry java buil

[2015-01-29 20:40] jdubois commented on #1054
Last time I checked this work working: it might depend on your authentication mechanism, what are you using?
Otherwise, are you using the MySQL "auto increment" option for your primary keys? This is the JHipster default, as if you use a table (another Hibernate option), that eats a couple of connections and you will get stuck if you only have 4 connections.
You should be able to monitor your MySQL

[2015-01-29 20:45] gmarziou commented on #1048
Personally, I almost never use static loggers in my classes because otherwise you'll get different logger names (by default based on class name) for parent and child classes for statements logged by a single instance. So for me, the logger should have been intialized like this `protected final Logger log = LoggerFactory.getLogger(getClass());` so that classes extending Application could log the sa

[2015-01-29 20:49] jdubois commented on #1048
- The logger should not be static without a good reason: so usually they are not static, but for your specific use-case (in a Main class), it could be static.
- For Gradle issues, we have our own Gradle expert, and official maintener, @atomfrede

[2015-01-29 20:49] jancel commented on #1054
The authentication mechanism is the default user/admin logins. I did not use the OAuth mechanism or any other SSO options yet.  I'm just deploying the prototype before I integrate our internals.

The id on every model/domain is:
[code]

In the domain/model, the typical setting is:

[code]

I think we're using the TABLE option.  Which should I change this to?  I don't mind eating connections, but a

[2015-01-29 20:50] jancel commented on #1054
On further inspection, the model I pasted above is the only "TABLE" strategy.

[2015-01-29 21:24] anshumanpurohit commented on #982
After I made the change swagger-ui/index.html, things worked fine for my local. But when I deploy the generated war to AWS Beanstalk + RDS, it shows an empty page for swagger-ui.

[2015-01-29 21:49] andidev commented on #1048
@gmarziou and @dubois, Aha thanks for the explanation, now it makes sense. So since Application.java will most likely ever be extended I can make the loggger static. Done!

I'm getting closer. One last piece of the puzzle left to solve. It would be good if @atomfrede could code review the gradle part when I'm done or help me with this last part if I fail to solve it.

[2015-01-29 22:19] jdubois commented on #1054
Yes, but the "table" strategy eats the connections, that's your issue -> use the "autoincrement" option, like the rest of JHipster, you will see the difference!

[2015-01-29 22:32] andidev commented on #1048
So I give up, can't seem to solve it. Could you take a look at it @atomfrede ?

The derives from that I have configured gradle to filter the `application.yml` file so that
[code]

becomes

[code]

when the resource is copied to  in the processResources task.

This works perfectly when packaging with `gradle build` and then running the app with `java -jar build/libs/jhipster-0.1-SNAPSHOT.war`.

How

[2015-01-29 23:06] jdubois commented on #975
This doesn't work with "gulp serve" (and I expect with "grunt serve also), can you check this out?

[2015-01-29 23:24] #904 closed

[2015-01-29 23:24] #1030 closed

[2015-01-30 00:58] gmarziou opened #1056 "Change page title when changing state in Angular"
Today the page title is static: it's the application name.
With angular-ui, a common approach is to use the state configuration data to store the title as jhipster already does for security roles and then to update the title in $rootScope when state changes.
As title must be translated, the state data should rather contain the key of the title.

If there's any interest, I'd like to work on it and

[2015-01-30 05:54] atomfrede commented on #1048
Not right away, but I can have a look at it. Can you setup a sample project with your current state I can work with?

[2015-01-30 08:38] andidev commented on #1048
@atomfrede, Thanks, but it looks like it's probably not needed.
According to @philweb's answer in issue [#749](https://github.com/spring-projects/spring-boot/issues/749) this is not supported by the Spring Boot Gradle Plugin.
A feature request issue spring-projects/spring-boot#2431 is created and is a direct blocker for this case. I'll finish this case once this issue is solved in Spring Boot Grad

[2015-01-30 08:39] andidev commented on #1056
+1 this is a must have according to me

[2015-01-30 08:51] andidev commented on #975
I tested it and it works as intended to me. But maybe it is the indended part that is the bug here =)

The Database menu item in menu is only available when you log in as an Admin user. This is cause it is located in the Administration menu which is hidden for all users but Admin.

Maybe the Administration menu should always be visible with only the Datamase menu item no mather if you have logged

[2015-01-30 09:08] andidev opened #1057 "add feature 'what's new in version XXX?'"
Would be nice to easaly communicate the changes in new releases to the users of the app.
This could be done in a JIRA style with a popup every new release presenting the user with the latest changes.

If not a popup at least present it for the user when mouse clicking the verrsion number located right next to the application name in the navbar.

I vote for both them.

Any thoughts on this? Please

[2015-01-30 09:37] atomfrede commented on #1048
@andidev Yes, I found that issue too, and was jsut about to open an issue at spring boot ;) Nevertheless I think I have a little workaround in mind using the gretty plugin, but an official solution would be nice.

[2015-01-30 10:01] gmarziou commented on #1057
it's not required for the kind of apps I build so as long as it is easy to disable it it's OK for me

For instance, if it could be disabled  by a property in application.yml, it would be fine for me, I could even choose to enable it in integration testing to communicate with testers and disable it in application-prod.yml when running in production profile

[2015-01-30 10:05] andidev commented on #1048
Agree, official solution would be best. Since the case is as non critical as it can be it is probably best to wait for the Spring Boot team to release a fix for this issue.

[2015-01-30 11:05] atomfrede commented on #1056
I like the idea :+1:

[2015-01-30 11:32] Kwaq opened #1058 "Build fail at npm install with JHipster 2.1.0 on Windows"
I'm doing clean installation with default option and build is failing due to npm install error.

In version 2.1.0 node-pom-parser was used to obtain project version from pom.xml.
node-pom-parser uses node-expat which uses node-gyp.
As it turns out, a lot stuff has to be installed to use node-gyp on Windows: https://github.com/TooTallNate/node-gyp#installation.

I don't have Windows SDK installed a

[2015-01-30 11:39] jdubois commented on #1058
@andidev I think you added this tool, can you have a look?
This is the biggest issue with Node, it's not OS-independant, we already had a ton of issues with that.

-> if it really blocks people from using JHipster on Windows, we must correct this, or remove this, ASAP

[2015-01-30 12:16] andidev commented on #1058
I can fix this tonight. We can use the same regex search approach as with gulp. Did not know about these kind of problems with node.
@Kwaq could you please verify that generating a project with gulp works on Windows so that I do not copy another implementation that does not work on Windows.

[2015-01-30 12:24] Kwaq commented on #1058
@andidev Generating project with Gulp fails with same error as it also uses node-pom-parser module.

[2015-01-30 13:17] andidev commented on #1058
@Kwaq Sorry, I meant Gradle not gulp. Could you please try generatirng again?

[2015-01-30 13:36] andidev commented on #1058
The fix will probably be a really nasty beast =)
Not sure how to parse the version in pom.xml in a way. The Gradle version parsing is not that beautiful either.

[2015-01-30 13:42] Kwaq commented on #1058
@andidev Generation with Gradle works.

[2015-01-30 13:47] Kwaq commented on #1058
@andidev I would replace the node-pom-parser with Maven resources filtering and grunt-properties-reader. You could create app.properties that would contain project version which then could be read by Grunt.

[2015-01-30 13:51] andidev commented on #1058
Thanks, then I'll do the quickfix tonight @jdubois .
The quickfix will parse the second occurence of the version tag in the java pom.xml and present it as the application version in the navbar. (the first occurence it the version of the parent pom)

We need to try to find a xml parsing library that works under Windows to do it the right way.
@Kwaq could you maybe help us test this feature later?

[2015-01-30 13:52] jdubois commented on #1058
OK:

- If you have a good fix please test it well and explain it in your PR -> I'm sorry but I don't have much time tonight
- If it fails I'll rollback the commit that did this problem (but I will need to find it first!)

I'm sorry but if the generator fails for everyone on Windows, we can't stay too long in this situation.

[2015-01-30 14:23] andidev commented on #1058
In case you need to roll it back you will have to roll the following PRs back
#1050
#1052

[2015-01-30 14:37] atomfrede commented on #1058
@andidev I can take my working laptop home today, so I can verify your changes also on a windows machine if you like.

[2015-01-30 14:43] dubois commented on #1048
Hey, you guys are tagging @dubois and you have the wrong guy!

p☎
On Jan 30, 2015 2:05 AM, "Anders Steiner" <notifications@github.com> wrote:

[2015-01-30 14:55] andidev commented on #1058
@atomfrede thanks, that would be nice

[2015-01-30 14:56] andidev commented on #1048
Hehe sorry my bad

[2015-01-30 15:25] andidev opened #1059 "'gradle bootRun -Pprod' is configured to call 'grunt build' when it should use gulp (v2.0.0 and v2.1.0)"
Note that this is not a new issue since 2.1.0 release since it is there in 2.0.0 as well.

config (gradle + gulp)
[code]

console
[code]

profile_prod.gradle
[code]

[2015-01-30 17:11] atul-bhosale opened #1061 "Incorrect location of app.js"
JHipster Version : 2.1.0

As per documentation (http://jhipster.github.io/using_angularjs.html) "app.js" is under "scripts" directory. But when I setup the application the location of app.js is "scripts/app/app.js".
and in sample app (https://github.com/jhipster/jhipster-sample-app) "app.js" is under "scripts/app"

Also when I tried to add route using (https://github.com/yeoman/generator-angular#r

[2015-01-30 19:50] jlfuentes commented on #71
The fix proposed KoljaTM works fine, here the explanation:

http://stackoverflow.com/questions/26348877/can-not-apply-daoauthenticationconfigurer-to-already-built-object

Thx!

[2015-01-30 20:06] gmarziou commented on #1061
2 issues:
- error in documentation, I'll fix it.
- error using another yeoman angular generator

I have tested few other yeoman generators and most of them are not compatible with jhipster project structure. The closest one would probably angular-fullstack.

Also using angular:route may not be very helpful with JHipster 2.x as it is now using angular-ui states for routing.

[2015-01-30 20:14] gmarziou opened #1062 "+62"

[2015-01-30 20:17] gmarziou opened #1063 "Document how to customise Bootstrap"
Just to attach to my PR on doc

[2015-01-30 20:24] jancel commented on #1054
By Auto increment, this is initially created in the Liquibase generated file. I have updated the model to GenerationType.AUTO. Is there something I'm missing? A re-deploy did not settle the issue.

Thanks.

[2015-01-30 20:27] gmarziou commented on #1063
PR pending, please review it here:
https://github.com/jhipster/jhipster.github.io/pull/26

[2015-01-30 21:08] rainerschuster commented on #1061
According to https://docs.google.com/document/d/16oIpeEyb-qkPjM_bVQ4zX-dlibyH5_21fTrdQllGiwM/edit?usp=sharing JHipster supports "yo angular" since release 2.0.0. Maybe this document should also be fixed.

[2015-01-30 21:12] atomfrede commented on #1059
You're right (my fault...) . I'll take care of it.

[2015-01-30 21:21] aldas opened #1064 "current swagger-springmvc v0.8.8 adds unnecessary scala (extra 7MB size) dependency to war/jar"
gradle.properties has swagger_springmvc_version=0.8.8 this version of swagger has eventually dependcy to "org.scala-lang:scala-library:2.10.0" which is ~7MB. This is unnecessary according to https://github.com/json4s/json4s/issues/108

[code]

maybe swagger springmvc version should/could be pumped to 0.9.x series?

[2015-01-30 21:25] aldas commented on #1064
this way war size drops from 42MB to 35MB

[2015-01-30 21:32] gmarziou commented on #1062
oops sorry

[2015-01-30 21:32] #1062 closed

[2015-01-30 21:36] gmarziou commented on #1061
I know there have been some work done for this particular generator but for this particular sub generator about routes I'm sure it's going to be difficult to standard routes and angular-ui states as described [here](https://github.com/angular-ui/ui-router/wiki/Backwards-Compatibility). Also the states are more powerful and I don't know how the role-based authorization system of JHipster would work

[2015-01-30 22:04] gmarziou commented on #1061
I updated the doc in this PR https://github.com/jhipster/jhipster.github.io/pull/27

Regarding the angular generator, I'll wait comments from @jmirc who did some work on it.

[2015-01-31 06:20] andidev commented on #1063
:+1:
I could try to have o look when time allows it

[2015-01-31 08:38] #1058 closed

[2015-01-31 09:21] jdubois commented on #1061
Thanks @gmarziou I merged your PR.

Yes @jmirc did some work to integrate with the "angular" generator, but normally Yeoman generator aren't compatibles with each other (this might change in future versions), so don't expect those to work!

[2015-01-31 09:21] #1061 closed

[2015-01-31 09:24] jdubois commented on #1057
It's not required for me either... We usually just have a static page somewhere in the documentation, or even nothing at all

[2015-01-31 09:24] jdubois commented on #1056
Yes, that's a neat idea!

[2015-01-31 09:26] jdubois commented on #1054
If you are in "AUTO" it should be OK. In my experience that's what was leaking connections... Can you check the currently opened connections? You should be able to see the requests, so you can understand what's taking the connections. Or maybe a thread dump? You could see the locked threads a dump them in the "metrics" page.

[2015-01-31 10:39] gmarziou commented on #1039
I would not do in the HTML templates of the generator, they would get unreadable
Maybe it could be done by defining jhipster semantic classes that would act as adapters on top of both frameworks classes, it would be probably doable in SASS but then what about non SASS setups and would make harder to follow framework updates.

[2015-01-31 12:06] andidev commented on #1057
I'm closing this since the lack of intresst. I will probably dont have time to develop this right now anyway.

[2015-01-31 12:06] #1057 closed

[2015-01-31 12:06] andidev commented on #1031
I'm closing this since the lack of intresst. I will probably dont have time to develop this right now anyway.

[2015-01-31 12:06] #1031 closed

[2015-01-31 13:16] #1042 closed

[2015-01-31 19:33] francisoud commented on #377
Testing JHipster for the first time also ;) I stumble on the same issue.
I wanted to setup IDE support for it so added those 2 lines
[code]
And as explain by @banzera you need to move the
[code]
from ```gradle.properties``` to ```build.gradle```

It is clearly a gradle issue (see https://issues.gradle.org/browse/GRADLE-1666 or https://issues.gradle.org/browse/GRADLE-1350)

But (even if I'm not an

[2015-01-31 22:54] jancel commented on #1054
Okay. I'll look at this on Monday.  I can't get to CF from home.

[2015-02-02 01:20] kbjp commented on #1058
I'm using jhipster 2.1.1 but it looks like node-gyp is still required in this version... and node-gyp itself requires Visual-Studio express...3.5GB ! ...not really lightweight. :S
Am I missing anything ?
kbjp

[2015-02-02 02:41] Altaflux commented on #1029
Hi Julien,

Sorry for taking so long to answer back. I have tested quite well the code and there should be no issue as every bit that needs to be pluralized will be pluralized with the same word.
The pluralizer works with a very well known algorithm that is used in lots of code.

The only way that the pluralizer could fail would be if an entity contains an unpluralizable word which would throw us

[2015-02-02 05:04] atomfrede commented on #1058
I'll try it during the day again with my windows machine if it works with the official release. Are you using maven + grunt?

[2015-02-02 05:29] atomfrede commented on #1058
Just checked it with a fresh installed jhipster. There is still some error message during setup, but it finish successfully. Both ``grunt serve`` and ``mvn spring-boot:run`` works as expected. I don't have visual studio installed, but I guess somewhere on my machine there is .net framework, don't know if this is important.

[2015-02-02 06:06] andidev commented on #1058
Please provide the console prints for the errors.

[2015-02-02 06:16] atomfrede commented on #1058
They are in german (don't know why microsoft localizes *every*thing), but if it helps, give me a little time, as I'm on my way to the office.

[2015-02-02 06:53] kbjp commented on #1058
Oh, sorry, looks like I missed the fact that, nowadays, "Fatal error" is just another way to say "successful". :-) ...apologies, bad joke.
Ok, maybe things run just fine by ignoring node-gyp rebuild errors, but for old-school boys like me who like clean builds, I had to install python (2.73) and visual-studio express to make those error messages disappear...seems a bit over-killing.
Basically I fo

[2015-02-02 07:40] atomfrede commented on #1058
The first lines indicate a fatal error, saying, that ``VCBuild.exe`` can't be loaded. Nevertheless its done without errors at the end (what was not the case before @andidev provided the quickfix). Both
``mvn spring-boot:run`` and ``grunt serve`` are working and the version number is visible in the navigation bar.

[code]

[2015-02-02 07:56] andidev commented on #1058
@atomfrede
The first line seems to hint that it is a karma dependency that causes this error.

A Google search results in the following issue reported in the karma project. We are not the only ones with this problem.

I have no time looking into it more right now but as some mentioned in that issue it seems that karma falls back on javascript if the native bindings fails.

[2015-02-02 09:42] Fazerty opened #1073 "nothing"

[2015-02-02 09:55] jdubois commented on #1063
PR merged!

[2015-02-02 09:55] #1063 closed

[2015-02-02 09:59] jdubois commented on #1059
Fix merged!

@andidev can you test?

[2015-02-02 09:59] #1059 closed

[2015-02-02 10:08] jdubois commented on #1029
OK @Altaflux it's just me, I thought I remember there was an issue here.

This looks good to me, if you can do a PR it's most welcome!

[2015-02-02 10:59] #1073 closed

[2015-02-02 11:23] rockbird opened #1074 "Optimistic locking"
Hi,

I started to play with jhipster and it is a great project.

I'm building an app with Posgresql and I saw that the entities / tables don't have a version property / column. Do you intend to add support for optimistic locking in the future ?

Thanks,
Marius

[2015-02-02 12:16] alexandrustefan opened #1075 "not able to properly generate project in 2.1.1 on linux"
Hi,

I am on Elementary OS (Ubuntu based) and I am not able to generate a new project using the generator.
After running "yo jhipster" at the end of execution I get
[code]
Also, as soon as I run mvn spring-boot:run , the index is displaying a plain string "This is your footer", and looking into the "Console" tab in Chrome, I can see that the angular.js is not present, as I get "Uncaught ReferenceE

[2015-02-02 16:46] jdubois commented on #1074
I don't think this is required for what we do: pessimistic locking should work fine for our use case.

Then, adding a Version field is trivial, so as long as this is easy there is no need for us to generate it: just add it by writing it.

One thing I didn't check, is if Liquibase "diff" works with the version field, if you have any feedback on this I would be very interested.

[2015-02-02 16:46] #1074 closed

[2015-02-02 16:54] jdubois commented on #1075
We need the full stack trace -> this looks like a npm or bower installation problem, that's why you don't have everything working in the end.

Please check both installations (I can't know which is failing because the stack trace is not complete)

[2015-02-02 16:54] #1075 closed

[2015-02-02 17:03] gmarziou commented on #1075
Yes very likely a broken node instalation.
Ubuntu comes with a rather old version of node. I fixed mine by uninstalling node, deleting manually the directories where it was installed and then re-installing a 0.10.36 version.

[2015-02-02 17:20] #1003 closed

[2015-02-02 17:51] ddewaele opened #1076 "Generated app throws Uncaught ReferenceError: angular is not defined"
Getting the following error in my browser after following the guide and starting the app with ```mvn spring-boot:run``` :

[code]

Content of index.html. Is it possible that the ```scripts/vendor.js``` is not processed properly ?

[code]

[2015-02-02 18:46] andidev commented on #1076
Not sure why but grunt wiredep task has not injected the vendor style and script tags. Could you provide the logs from the generation? The wiretap task is supposed to be executed at the end of the generation. You could try to runt grunt wiredep and se if that command maybe fails for some reason.

[2015-02-02 19:01] jdubois commented on #1039
No we just can't do our own "semantic CSS classes", we would build a framework on top of other frameworks, that's just too complex.
I'm also very happy to have the classic Bootstrap classes, as anybody who knows Bootstrap can understand them instantly.
That probably means we can't support other frameworks, unless someone re-code the whole HTML layer: that would be a lot of work, and it would be im

[2015-02-02 19:06] andidev commented on #1059
lookin good!

[2015-02-02 19:34] ddewaele commented on #1076
That did the trick .... Was unable to reproduce the issue on a new project.

Found the output of my first try :

### First error I got was this
Loading "Gruntfile.js" tasks...ERROR

Warning: Task "ngconstant:dev" not found. Use --force to continue.

### Tried to run it again and fix the error

- yo jhipster
- npm install
- bower install

### Tried to build the app

It failed with the angular error

[2015-02-02 19:49] jancel commented on #1054
I think this is coming from a tomcat container.  I was watching the logs and here's a log message that I think might be related:

2015-02-02T13:46:58.58-0600 [App/0]   OUT [WARN] org.apache.tomcat.jdbc.pool.ConnectionPool - maxIdle is larger than maxActive, setting maxIdle to: 4

This is coming from this spot in the startup phase.

[code]

[2015-02-02 20:55] andidev commented on #1076
The first error is rather that the npm install command seems to fail and therefore grunt is not run. At least that's what this is hinting:
[code]

There seems to be some user rights issues when npm install tries to create a direcotory `mkdir '/Users/ddewaele/.npm/findup-sync/0.2.1'`
Don't know why you got that error though and why you are'nt getting it anymore.

[2015-02-02 21:48] fontanellif commented on #457
When i try to run mvn -Pprod spring-boot:run i catch this error:

Running "karma:unit" (karma) task
INFO [karma]: Karma v0.12.31 server started at http://localhost:9876/
INFO [launcher]: Starting browser PhantomJS
INFO [PhantomJS 1.9.8 (Mac OS X)]: Connected on socket efv9WlKx2MFU9eZQOn6q with id 32802763
DUMP: 'background-image: initial; background-attachment: initial; background-origin: initial;

[2015-02-02 21:51] jdubois commented on #1054
This is because when you deploy on CloudFoundry, there is a "Spring Cloud" configuration that is applied: it auto-reconfigure the datasource, and as it "knows" that you only have 4 connections available, it gives the connection pool a max of 4.
So, this is normal.
The real issue is why 4 connections isn't enough for you: it's pretty small, but still it's enough for a simple project. Can't you chec

[2015-02-02 22:09] jdubois commented on #1076
- we need your version number, etc, so we can see what's really wrong
- your first run is very strange, as Bower warns about some version incompatibilities: you shouldn't have any, as it's your first run
- as @andidev says, you have a permissions problem. It is very annoying (I also had it before), and this is due to npm that is not correctly installed -> have a look at https://docs.npmjs.com/gett

[2015-02-02 22:09] #1076 closed

[2015-02-02 22:12] jancel commented on #1054
I did some digging at the connection level and couldn't find anything in particular. When a resource is requested, it hangs for 30 seconds and then produces that error.  Seems to me that it shouldn't take 4 connections to run either.  I'm not a mysq dba, if there's any pointers on providing the information you're asking about.  (I totally wanted this all to just work).

+----+------------------+--

[2015-02-02 22:13] ddewaele commented on #1076
@jdubois  : I'll provide the versions here for reference :
[code]

 I'll try to reproduce it on a similar system

[2015-02-02 22:16] jdubois commented on #975
No, there is an error with Gulp.js: when you click on the database link, from "gulp serve", you have an error page.

- It's working fine with Grunt
- I guess it's the Gulp.js proxy that is failing

[2015-02-02 22:29] gmarziou commented on #457
@fontanellif Your issue seems different from the original one which is closed and was opened against JHipster 1.x while your is against 2.x, you should open a new issue and provide the options you selected while generating your application.

[2015-02-02 23:03] fontanellif opened #1078 "Gradle run production profile - "karma:unit" error"
- Overview of the issue:
[code]
 - Motivation for or Use Case: i want use jhipster for owr product and i have to use the production profile
 - JHipster Version(s): i installed jhipster generator just few days ago
[code]
 - Reproduce the error: Run the following command
[code]
 - Related issues: This is similar https://github.com/jhipster/generator-jhipster/issues/457
 - Logs:  https://dl.dropboxus

[2015-02-02 23:05] jdubois commented on #1078
Isn't this a duplicate from https://github.com/jhipster/generator-jhipster/pull/1069 ?

[2015-02-02 23:06] fontanellif commented on #1078
I don't think because i'm using gradle not gulp. I'm wrong?

[2015-02-02 23:51] gmarziou commented on #1078
I think this is only due to OAuth2 and the test being wrong.
I can reproduce it with 'grunt test' so it's not related to gradle nor prod profile and it's not related to async as well.

[code]

[2015-02-02 23:57] gmarziou commented on #1078
I think it's related to the PR about the wrong regexp of cache buster and I thought I had fixed it in PR #1035

[2015-02-03 00:27] fontanellif commented on #1078
Thanks for your help, I hope that the problem will be solved as soon as possible.

[2015-02-03 00:47] dalyc commented on #785
I'm seeing this too in production mode

[2015-02-03 01:22] amr commented on #1047
You are probably right about `usemin`, but I won't be able to test this through now as I'm short on time. I will be away for few days and will check this when I'm back, unless someone else beat me to it :)

[2015-02-03 02:26] jancel commented on #1054
That makes sense and is too my concern. I've updated all generation types
to auto. I am going to try it on a public cloud with the same build pack
(provided by cloud foundry) and see what happens. Any metrics I can gather
or that you suggest, just let me know how you would like me to get them.

On Monday, February 2, 2015, Julien Dubois <notifications@github.com> wrote:

--
Jeff Ancel

(314) 703-8

[2015-02-03 04:15] dalyc commented on #785
I noticed that if I had the port set in application-prod.yml but didn't include it in the url, I would get the above behaviour - that was with ssl and port 8443

[2015-02-03 09:35] tomy29 opened #1082 "liquibase diff finding some changes that don't exist"
Hi,

I am trying to run liquibase diff with jhipster V2.
But liquibase finds some new fields that are already the tables. It shouldnt find those changes.
For example liquibase created this file (at entity creation via jhipster generator) :

    <?xml version="1.0" encoding="utf-8"?>
    <databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.

[2015-02-03 09:54] #975 closed

[2015-02-03 13:56] jdubois commented on #1048
OK, we'll wait until we have an official solution, doesn't seem like a big deal to me!

[2015-02-03 13:57] #1048 closed

[2015-02-03 13:58] jdubois commented on #1019
This is out of scope for the moment, too complex to implement

[2015-02-03 13:58] #1019 closed

[2015-02-03 14:01] jdubois commented on #1054
I used to have this issue before switching to "auto" : it's very hard to test, as it's done behind-the-scenes by Hibernate, but using a separate table for sequences is eating several connections. I didn't check, but I guess it's locking the table in order to guarantee to have a unique number.

- yes you should try on the Pivotal cloud, to be sure it's not another issue on your side
- with cleardb

[2015-02-03 14:02] jdubois commented on #1053
OK, so it's more an error from JHipster.

- which version are you using? we might have had a bug in a previous version
- can you try with a simple app? maybe it's because you broke something without noticing

[2015-02-03 14:09] jdubois commented on #1082
- did you apply the first changeset?
- did you compile your project before doing the "liquibase:diff"?
- do you have only one "addForeignKeyConstraint" changeset? I wonder why this one would be different than the others

[2015-02-03 17:48] jancel commented on #1054
Cleared. This is a good discussion and the GenerationType.TABLE is the culprit, which isn't used anymore by the JHipster generator (maybe it was as some of my early models had this effect and I wasn't expecting it). Additionally, the Spring Auto Reconfiguration restricts you to limits imposed by Cloud Foundry. Digging into this documentation lead me down a path which my Cloud Foundry configuration

[2015-02-03 17:48] #1054 closed

[2015-02-03 17:54] jiwhiz commented on #1054
Very good discussion. I had similar issue just a couple of weeks ago. The old jHipster was using GenerationType.TABLE, and caused big headache for me when I deployed the app to CloudFoundry with ClearDB :) Then after I changed to GenerationType.AUTO and add autoIncrement="true" to all entity schema tables, the app can run with 4 connections.

[2015-02-03 19:34] #1039 closed

[2015-02-03 21:36] andidev opened #1086 "Create new page in documtentation for "Installing frontend dependencies""
The section "Using Bower to install and update JavaScript, CSS and Sass dependencies" in the Documentation page  "Using in development" should be more detailed and moved into an own page called "Installing frontend dependencies".
I could try to document this if wanted.

[2015-02-03 21:37] jdubois commented on #1086
Yes, we could have front-end and back-end development separated. And at least a page on installing Bower dependencies and using "grunt serve" correctly.

[2015-02-03 22:16] MartinLichtblau opened #1087 "Heroku Build fails since update to 2.0"
The Heroku build fails with the follwing Error:
[code]

[2015-02-03 23:16] gmarziou commented on #1078
In the meantime, as a temporary workaround you can edit `src/test/javascript/spec/components/auth/authServicesSpec.js` and comment out this line:

    $httpBackend.expectGET(/api\/account\?cacheBuster=\d+/).respond({});

[2015-02-03 23:34] fredcooke opened #1088 "Reword Compass Question"
Rather than:

"Would you like to use the Compass CSS Authoring Framework?"

Which gives me the impression of CSS-free HTML, reword as a selection like many of the other technology questions:

"Would you like to use Compass, Sass, or Less for CSS processing/production?" or similar, as appropriate.

I've not dug through, however I'm still wondering exactly what was generated, and how. I'm guessing p

[2015-02-04 09:18] jdubois commented on #1087
Looks more like node isn't installed on your machine, can you try a "node -v" ?

[2015-02-04 09:32] tomy29 commented on #1082
I did so many things that I can't be sure of the chronology of my actions.
I think this is what I did :
1- I ran mvn spring-boot:run after I initially created my application.
2- Then I added entities (by 3-4 each time) and ran mvn spring-boot:run after.
3- Once I had created all my entities I updated some object and ran liquibase diff.
I just sent an example with one foreign key, but liquibase dif

[2015-02-04 09:58] jdubois commented on #19
I just add a look at this and I'm reopening the ticket:

- Works like our current "grunt serve" task
- But it syncs scrolling, forms, etc.... Incredible tool!!! Looks much more advanced than what we currently have

[2015-02-04 15:24] pkraeutli opened #1090 "Ehcache warning for User.authorities caching"
The @Cache annotation in

https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/java/package/domain/_User.java#L79

causes Ehcache to print this warning:

[code]

Has anybody an idea why this happens? The Authority entity only has id and name and I have only two entries (ROLE_ADMIN and ROLE_USER).

[2015-02-04 15:31] jdubois commented on #1090
This is because you have other objects in the cache, and in total you have more than 1,000 objects.

It might indeed be a bit small, but that's just for development. Have a look at the ehcache config file -> can you keep us updated on this? Maybe the limit should be be upper.

[2015-02-04 15:38] pkraeutli commented on #1090
The strange thing is that the message disappears when I remove the @Cache annotation from User.authorities. When I remove it only form User or Authority, for instance, the message remains.

My whole database has only ~100 entries so I wonder where the 1000 objects are coming from. Maybe some circular graph thing?

[2015-02-04 15:42] jdubois commented on #1090
you need to count the number of authorities per user, the number of users, etc... Have a look at the JMX console, you can see how many objects are stored.

This is just for dev, in prod your defaults should be higher.

I'm closing this as this is not a bug.

[2015-02-04 15:42] #1090 closed

[2015-02-04 18:35] atomfrede commented on #1078
Is this a correct expectation? As far as I can tell, when doing a logout, the ``api/account`` is not requested at all (using oauth), so it seems the expectation is incorrect, or am I wrong?

[2015-02-04 21:22] gmarziou commented on #1078
I think so too and I am the one who introduced it by mistake I'll submit a PR to remove it for oauth2.

[2015-02-05 07:57] scarlson-synegen opened #1094 "[HazelCast] Unable to login after logout"
* Overview
After logging out of unmodified JHipster installation, I am unable to login again until I refresh the login page 1 or 2 times. Before the page refreshes, it always produces the error "Authentication failed! Please check your credentials and try again.".

 From the UI, logout appears to work correctly, but an exception is thrown in the backend: "java.lang.IllegalStateException: invalidat

[2015-02-05 09:23] LuisHu commented on #307
I changed all 'varchar(256)' to 'varchar(255)' as above mentioned earlier, this error is fixed.

[2015-02-05 12:57] gmarziou opened #1095 "Bootstrap LESS should be excluded when bootstrap-sass is included"
In a JHipster application using SASS (and so bootstrap-sass) I tried to install [angular-bootstrap-switch](https://github.com/frapontillo/angular-bootstrap-switch), so I ran `bower install` and it installed bootstrap (LESS version) as a dependency.

Overall my application is working but I guess I was just lucky to not encounter any conflict between the 2 versions of Bootstrap.

I think that the ge

[2015-02-05 14:04] gmarziou opened #1096 "wiredep should not exclude angular-locale_fr.js"
As angular-i18n is excluded from wiredep in Gruntfile.js, angular-i18n/angular-locale_fr.js is also excluded and so date filter cannot localize month and day names for instance.

I tried to come up with a regexp to exclude all but fr and en but it does not cover all cases like country variants and could be error prone when users add other languages

    /angular-i18n\/angular\-locale\_(?!(en|fr))[

[2015-02-05 14:05] gmarziou commented on #1096
Does anybody knows why angular-i18n was excluded?

[2015-02-05 15:12] andidev commented on #1096
The reason why it's excluded is the language file `angular-i18n/angular-locale_fr.js` (as for any of the angular-locale files in angular-i18n folder) was not included when the wiredep support was implemented.

This referense to index.js script shows what vender javascript files was included in index.html bebore the wiredep task was configured:
https://github.com/jhipster/generator-jhipster/blob/2c

[2015-02-05 15:15] andidev commented on #1096
This is the code loading the locale, maybe there is something wrong here?

https://github.com/jhipster/generator-jhipster/blob/fd73bc6959abe0275277e2f50ae7873cd5cd6f64/app/templates/src/main/webapp/scripts/app/_app.js#L100

[2015-02-05 15:40] gmarziou commented on #1096
I also suspect that this was overlooked because date formatting using month or day names was not used in default entities views.

[2015-02-05 15:42] gmarziou commented on #1096
Or maybe it's just me as I'm writing a French only app so not really concerned about locale switching.

[2015-02-05 16:29] MartinLichtblau commented on #1087
Doesn't the build happen on Heorku and not on my maschine.?
[This commit](https://travis-ci.org/Senlima/webapp-senlima/builds/46893613) was the last one which was successfully build and deployed.(The new commit)[https://travis-ci.org/Senlima/webapp-senlima/builds/48398539] which was the product of the new jhipster-generator failed.
[code]

But something has to be wrong on my maschine since bower c

[2015-02-05 18:56] gmarziou commented on #1087
The bower error is not due to your machine, it's just that you have to update your bower.json, you should answer !2 or !3 and your bower.json will be updated so that next time you don't need to resolve.

[2015-02-05 18:57] gmarziou commented on #1096
I'll test with a freshly generated app.

[2015-02-05 19:55] gmarziou commented on #1095
I found this [issue](https://github.com/yeoman/generator-gulp-webapp/issues/235) from another generator where they explain how to use bower's overrides section.

[2015-02-05 20:04] gmarziou commented on #1095
Bower has a pending [PR spec](https://github.com/bower/bower.json-spec/pull/27) where they mention that some tools already do it: wiredep and grunt-bower-files

[2015-02-05 20:05] MartinLichtblau commented on #1087
Yeah thanks, that resolved it, after a restart. I probably messed up my maschine while trying figure out the source of the heroku error.
Nevertheless, the Heroku build still fails.

[2015-02-05 21:09] gmarziou commented on #1096
Sorry, it fails only in my app, it works fine on sample app.

[2015-02-05 21:09] #1096 closed

[2015-02-05 21:14] andidev commented on #1095
I think the best way to exlude files is to add a regexp to the exclude list as you mention.
While the overrides option should be used if you want to inlucde files that are not in the main property or if the main property is incorrectly setup by the package owners.

I agrre on that it is a good idea to remove the injections of the bootstrap (LESS version) if the SASS version is installed. This is c