[2018-09-04 22:07] atomfrede commented on #8220
@pascalgrimaud I can have look and do a PR, would be cool to have that up and running for my uer group talk.

[2018-09-04 22:15] ebwwmd opened #8222 "JHipster 5.3.0 generator with Elasticsearch incorrectly maps date fields/500 server error results"
##### **Overview of the issue**

Generated a new JHipster application using v5.3.0 with Elasticsearch

I'm using the same JDL that I used with the previous version of JHipster which worked successfully but could not deploy.

I generate successful. No errors. No problems.

When I open the application and try CRUD with my entities...works normally.

For one of my entities, the Elasticsearch search r

[2018-09-04 23:15] duderoot commented on #8215
@ruddell  thank you for the hints 😃 . I crea a PR and the mssql.yml looks ok. In the docker-compose.yml the command layout is not well  formated ⚠️  thats why is for the moment WIP.

[2018-09-05 02:33] ruddell commented on #8222
Steps to reproduce:
 - Generate project with Elasticsearch
 - Import JDL from below
 - Create an entity (select a date)
 - Search a number in that date

[code]

[2018-09-05 05:12] DanielFran commented on #8216
@jdubois And it seems that in jhipster-core project it was missing some changes with jwt, and new project created with jdl keep creating key with short size.
https://github.com/jhipster/jhipster-core/pull/253

[2018-09-05 06:36] antonioortizpola commented on #8142
I have moved the menus folder to the layout folder and extracted the NavDropdown component from header-components to menu-components.

I have created this menu-item for the menus:

[code]

But i have some doubts, i could use the key like in the example:

`<MenuItem icon="road" to="/admin/gateway" contentKey="global.menu.admin.gateway"/>`

But i do not know what is the difference between using `tra

[2018-09-05 07:47] yatendragoel opened #8224 "Enums should be used for declaring constants"
##### **Overview of the issue**
Instead of Class, Enums should be used for declaring constants.

##### **Motivation for or Use Case**
The following and other similar ones should be changed

    public final class AuthoritiesConstants {

        public static final String ADMIN = "ROLE_ADMIN";

        public static final String USER = "ROLE_USER";

        public static final String ANONYMOUS = "R

[2018-09-05 08:05] Blackdread commented on #8224
No, cannot use in annotations

[2018-09-05 08:05] yatendragoel commented on #8213
@jdubois @cbornet Another related thing is, we should have all the resources contain proper class-level `@RequestMapping`. That will be helpful in even avoiding the bugs similar to the one reported in this issue. Also, we won't need to duplicate the same URL again and again in the method-level `@RequestMapping`

e.g.
* `AccountResource`s class-level request mapping `@RequestMapping("/api")` should

[2018-09-05 08:17] jdubois commented on #8216
Indeed I have something similar with JHipster Online, cc @MathieuAA

[2018-09-05 08:19] #8215 closed

[2018-09-05 09:47] jdubois commented on #8222
That's weird, I just tested with the `.yo-rc.json` from @ebwwmd and the JDL from @ruddell and I have no problem at all...

I'm using the embedded Elasticsearch in dev mode, maybe you run it differently?

[2018-09-05 12:50] jdubois commented on #8126
@pascalgrimaud don't forget to claim the bug bounty :-)

[2018-09-05 12:54] pascalgrimaud commented on #8126
oh thanks, will do ! :heart:

[2018-09-05 12:59] gwokudasam commented on #6422
ran into the same probelm and had to run `yarn webpack:build`

[2018-09-05 14:33] jkutner opened #8225 "Heroku generator doesn't persist deployType config"
##### **Overview of the issue**

After prompting for deploy type (JAR or Git), the Heroku generator does not persist the value of `herokuDeployType` to the `.yo-rc.json`.

The `herokuAppName` value is persisted, and it seems that running `this.config.set(...)` always clobbers previous properties that are set.

##### **Reproduce the error**

Run the `jhipster heroku` command and select "Git". Then

[2018-09-05 15:59] jdubois commented on #8224
I'm trusting @Blackdread here, so indeed let's keep it that way

[2018-09-05 15:59] #8224 closed

[2018-09-05 16:00] jdubois commented on #8224
@yatendragoel you seem to have lots of good ideas here, I need to set up something for all breaking improvements we might do in JHipster 6. I do also have quite a lot of ideas!

[2018-09-05 16:35] dschuld opened #8227 "Liquibase configuration in pom.xml is generated incorrectly when using in-memory H2"
##### **Overview of the issue**

When generating a microservice application with in-memory H2 persistence (all other options set to default when using the generator), the liquibase configuration section in the POM is missing 2 entries:
- <url> element is empty
- dialect entry in <referenceUrl> is empty (nothing is written after dialect=...)

These issues prevent using liquibase goals such as liqui

[2018-09-05 16:38] pascalgrimaud commented on #8227
The work is in progress.
See https://github.com/jhipster/generator-jhipster/pull/8019

You can use the diff to apply the fix into your project

[2018-09-05 17:35] ruddell commented on #8222
I'm using the embedded Elasticsearch in dev as well.  It only happens on an actual search\.  Here's the full stacktrace:

Client side alert: `Http failure response for http://localhost:8080/api/_search/foos?query=9: 500 Internal Server Error`
<details>
<summary>Server Side StackTrace</summary>

<pre>
2018-09-05 10:30:14.091 DEBUG 19965 --- [ XNIO-2 task-12] c.mycompany.myapp.web.rest.FooResource

[2018-09-05 18:00] mraible commented on #8222
Maybe we need something like this?

https://stackoverflow.com/a/39193077/65681

[2018-09-05 19:58] randeepbydesign commented on #7944
I spoke with Ivangsa about this. I think we need to modify the JDL syntax to include a reference to an "embedded" type:
[code]
I know ivangsa is apprehensive about modifying the JDL in this manner. I'm all for it >:-)

But definitely open to alternative suggestions

[2018-09-06 00:26] kaidohallik commented on #6735
If back end will support `specified` filter on references (possible solution is @duderoot's back end improvement https://github.com/jhipster/jhipster/pull/59 - this worked in my case) then possible solution in front end is:

1. Change lines in file https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base-private.js#L807-L808

replace
[code]

with
[code]

2. Change lines

[2018-09-06 00:43] sunyuyangg555 opened #8228 "Change webpack to angular build when separating the front-end and the API server"
##### **Overview of the feature request**

When separating the front-end and the API server, we want to use the stand angular layout with angular.json build.
##### **Motivation for or Use Case**

Using a angular.json simplify webpack build and it’s easier to find answers online when we encounter problems， webpack is a more advanced build that requires more of our team. We chose this option means w

[2018-09-06 04:53] yatendragoel commented on #8224
@jdubois I would love to contribute both in suggesting the ideas and implementing them

[2018-09-06 06:56] deepu105 commented on #8228
Please read existing issues. We tried to move to angular cli builds few times but wasn't successful so unless someone is willing to do the migration this won't be done

[2018-09-06 06:56] #8228 closed

[2018-09-06 07:01] deepu105 commented on #7741
@agaspardcilia please note there is bounty on this now

[2018-09-06 07:15] agaspardcilia commented on #7741
That's good to know. :smirk: I've got a lot of work these days but I might be able to take a look this week end.

[2018-09-06 07:37] jdubois commented on #8224
Awesome @yatendragoel - for JHipster 6 I think we'll do a refactoring of the framework, so new ideas will be most welcomed. However, I don't know when we'll start, probably not in the next few months... I really need to find a space where we could store all those ideas, compare them, and then have a big discussion with everyone. Maybe a specific GitHub repo.

[2018-09-06 08:10] catzsy commented on #5908
not sure if this will help, check if search repository of the new entity is at Elastic Search Index Service if you are using jhipster-elasticsearch-reindexer

[2018-09-06 09:17] yatendragoel commented on #8224
@jdubois
I am not sure what tool we use for project management for JHipster. If we use GitHub Issues to track features, we can simply create a JHipster6 tag and tag all the JHipster 6 specific ideas/feature-requests. Whatever it be, let me know and I can set it up.

[2018-09-06 10:46] ivangsa commented on #7944
yes,
I've have removed this altogheter and now it's much simpler and with fewer implications

Using @DBRef for relations makes everything else compatible right away and it makes sense ..

For many use cases @Field would be prefered but tweaking that  would be real easy...
for microservices straightforward and gui interfaces would need tweaking anyway..

With this trouble out this is almost finishe

[2018-09-06 10:52] murdos commented on #8206
FWI I'm working on an PR for generator-jhipster and jhipster-framework.

My conclusion is that the library is simply not used:
 1. jackson-datatype-json-org (the direct dependency declared by jhipster) just allow serialization and deserialization of org.json objects.
 1. there's no code in jhipster that uses / depends on org.json model objects:
  * ``mvn dependency:tree -Dverbose | grep -E 'org.js

[2018-09-06 11:45] raulrotundo opened #8232 "Test failure on AccountResourceIntTest -> testRegisterDuplicateEmail()"
##### **Overview of the issue**

After generating a UAA micro-services, and trying to building a docker images, this error has been displayed running all test scenario:

`AccountResourceIntTest.testRegisterDuplicateEmail:406 Range for response status value 201 expected:<CLIENT_ERROR> but was:<SUCCESSFUL>`

##### **Motivation for or Use Case**

Won't be able to generate a build because this test fa

[2018-09-06 13:44] jdubois commented on #8232
This is probably because you use Hazelcast with Mongodb together.... An unusual combinaison, but not impossible!

[2018-09-06 13:46] maznag opened #8234 "[ng-jhipster] can we add a new method downloadFile to ng-jhipster lib ?"
##### **Overview of the issue**

openFile doesn't works well for large file.

##### **Motivation for or Use Case**

Need to download an attachment instead of open it in new tab.

##### **Suggest a Fix**

we can add a new method downloadFile that allow user to download attachment directly. here is a sample code:
<pre>
downloadFile(contentType: string, data: string, name: string): void {
        con

[2018-09-06 13:56] raulrotundo commented on #8232
@jdubois I was thinking Hazelcast has been used as cache provider, why you mentioned that Hazelcast and MongoDB together is an unusual combination? Maybe Hazelcast is doing another things behind scene?

[2018-09-06 14:01] maznag commented on #8234
here is a proposed PR https://github.com/jhipster/ng-jhipster/pull/78

[2018-09-06 14:05] jdubois commented on #8232
It's distributed cache on top of MongoDB: some people would argue that MongoDB is like a distributed cache, or is as fast as as distributed cache, so you wouldn't need Hazelcast.

That's why it's "unusual", as most projects I see do not use a cache with a NoSQL database (same thing for Cassandra, for example).

But, from my personal experience, adding a cache on top of a NoSQL database can give yo

[2018-09-06 14:11] raulrotundo commented on #8232
@jdubois good point!

[2018-09-06 14:40] #8232 closed

[2018-09-06 14:40] #8206 closed

[2018-09-06 15:28] PierreBesson commented on #7750
@ludoch @saturnism Documentation is crucially missing for this, our statistics is reporting that the GAE sub-generator has been used 0 times in the last month ! It doesn't even show up in the graph.

https://start.jhipster.tech/#/statistics

[2018-09-06 17:35] ruddell opened #8235 "Gradle + API First Dev Compile Issue"
##### **Overview of the issue**
When you choose `gradle` and the other technology `API first development using OpenAPI-generator`, the app fails to compile:
[code]

Reported by @werwuifi in the Gitter

##### **Motivation for or Use Case**
App should compile

##### **Reproduce the error**
 - Generate an app using the features mentioned in the overview
 - Run `./gradlew` and app fails to compile
###

[2018-09-06 17:51] atomfrede commented on #8235
Will look into it. But currently no idea why swagger should have influence
on liquibase or vice versa.

On Thu, Sep 6, 2018, 19:35 Jon Ruddell <notifications@github.com> wrote:

[2018-09-06 22:41] antonioortizpola commented on #7961
I also think that the default bootstrap colors should be used, what was the reason in the first place to change them?, It is a little confusing when you start changing the layout (also the buttons changing size on hover are weird)

[2018-09-07 05:35] abhisheksharma85 opened #8242 "Two Way Authentication and Refresh Token"
##### **Overview of the feature request**

I have implemented Two-factor authentication and Refresh Token in my gateway. I would I have to make it more generic and provide my contribution.

Either email or phone number will receive an OTP code (Identification code) upon login. We can make it in few different ways:
Two Factor/Multi Factor Authentication (MFA)
1. OTP always required.
2. One time unt

[2018-09-07 06:07] #8235 closed

[2018-09-07 06:21] tomj0101 opened #8243 "No database - Text duplicate in the generator step."
##### **Overview of the issue**

Is a simple visual bug, in the process to generate microservice show "No database" 2 times.

##### **Motivation for or Use Case**

Create new microservice.

##### **Reproduce the error**

run jhipster

WARNING! Your Node version is not LTS (Long Term Support), use it at your own risk! JHipster does not support non-LTS releases, so if you encounter a bug, please use

[2018-09-07 06:27] pascalgrimaud commented on #8243
Probably introduced with Reactive support.
See https://github.com/jhipster/generator-jhipster/blob/master/generators/server/prompts.js#L177-L193

Would you like to contribute to fix this ?

[2018-09-07 06:54] tomj0101 commented on #8243
Hi @pascalgrimaud , sure I glad to help with this fix.

[2018-09-07 07:27] jdubois commented on #8243
Thanks a lot @tomj0101

[2018-09-07 09:08] alefz3r0 opened #8245 "jhiMaxbytes directive not working"
##### **Overview of the issue**

Setting the jhiMaxbytes directive on an <input> element causes the element to be required otherwise validation fails.

##### **Motivation for or Use Case**

This is due to validation function:
[code]

##### **Reproduce the error**

1. Create a form with jhiMaxbytes on an input element, element should be not required
2. Without actually loading any file, validation

[2018-09-07 09:21] adpi2 opened #8246 "Jest Configuration does not read env var from docker compose file"
##### **Overview of the issue**

Starting the app in a docker container does not work because it cannot connect to elasticsearch container.

##### **Motivation for or Use Case**

The environment variable SPRING_DATA_ELASTICSEARCH_CLUSTER_NODES is ignored by Spring Data Jest Configuration.

##### **Reproduce the error**

./gradlew clean bootWar -Pprod buildDocker
docker-compose -f src/main/docker/a

[2018-09-07 09:40] #8243 closed

[2018-09-07 10:45] deepu105 commented on #8224
We can also create a temp repo and use its issues for that purpose so that
we don't have to worry about main repo issues exploding

On Thu, 6 Sep 2018, 11:19 am Julien Dubois, <notifications@github.com>
wrote:

[2018-09-07 10:59] deepu105 commented on #7961
Let me look at this later, originally I just updated primary colors to
match Jhipster theme which should be ok

On Fri, 7 Sep 2018, 12:41 am Antonio Ortiz Pola, <notifications@github.com>
wrote:

[2018-09-07 11:27] danielpetisme opened #8248 "Fix current CVEs"
##### **Overview of the issue**

As discussed #8191  dependency check is a tricky topic that shouldn't be included in JHipster out of the box. Nevertheless, we should fix the CVEs.

##### **Motivation for or Use Case**

Some of the vulnerabilities are known since couple of months and are risky (malicious code execution)

##### **Reproduce the error**

I cloned https://github.com/jhipster/jhipster-

[2018-09-07 12:50] ndywicki opened #8249 "Spring Data Jest - LocalDateTime mapping error"
Hello,

With the new Spring Data Jest client for ES the default mapper can't serialize/deserialize entity with an ZoneLocaleDateTime attribut (issue in `DefaultJestResultsMapper` see full [stack.txt](https://github.com/jhipster/generator-jhipster/files/2361077/jhipster-jest-localdatetime-stack.txt)

Note:
On our project we use ES advanced features like snapshot repository management, query on mult

[2018-09-07 12:57] ndywicki commented on #8222
Sorry I've open annoter ticket on this https://github.com/jhipster/generator-jhipster/issues/8249 (I don't see this ticket I've search with Jest terms) but I propose a solution.

[2018-09-07 12:57] hirro opened #8250 "Application fails to render start page for a fresh React project on IE11"
##### **Overview of the issue**

I had some problems with my application not rendering at all in IE11.
After some troubleshooting I generated a blank React project in jHipster but I still get this problem.
The console error in IE reads:

  vendors.chunk.js (84301,60)

**vendors.chunk.js**

##### **Motivation for or Use Case**

According to the jHipster page IE11 is supported.

##### **Reproduce th

[2018-09-07 13:16] mraible commented on #8246
You have to use SPRING_DATA_JEST_URI with 5.3.0+.

Documented in https://www.jhipster.tech/using-elasticsearch/.

[2018-09-07 13:18] deepu105 commented on #8250
We officially only support the evergreen browsers(Chrome, FF, Opera, Edge etc) also most of the core team is on Mac or Linux hence difficult for us to test this. If you have found a solution please do PR. Mostly issues like these can be solved by adding the required polyfill

[2018-09-07 13:26] jdubois commented on #8250
Closing as we can't support IE 11 anymore, but indeed this should be solved easily with a polyfill -> if anyone can do this, a PR is much welcomed (and will probably be merged without testing, so please test before!)

[2018-09-07 13:26] #8250 closed

[2018-09-07 13:26] hirro commented on #8250
Ok!
I don't get why anyone would like to use IE11 when Edge is around anyway.
But looking on the React document pages, IE11 is supported.

[2018-09-07 15:11] pascalgrimaud commented on #8246
Indeed, our code is wrong:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/docker/app.yml.ejs#L89

Your suggestion seems good.
@DineMartine : would you like to contribute and do a PR for the fix ?

[2018-09-07 15:14] darksidersD commented on #6976
@shadowrider-pl
thanks a lot, it work well for me, but every time in need change the current page to see the change,
is there any solutions? i mean to work like translate pipe

[2018-09-07 15:44] blling opened #8251 "Where to get the user password after create a new user use admin?"
I use the `admin` user to create a new user, but where is the password of the new user?

[2018-09-07 15:48] jdubois commented on #8251
Look at your logs...

[2018-09-07 15:48] jdubois commented on #8251
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-09-07 15:48] #8251 closed

[2018-09-07 15:53] Ramu3l opened #8252 "Add new database option for reactive microservice"
Hello,

when I create one reactive microservice, I need to add another database choise (like cassandra) but I can't customize blueprint for this specific question (I see only MongoDb right now)
How can I do it? Any suggestion?

[2018-09-07 16:01] blling commented on #8251
Thanks. But password is no show.
[code]
`password` has a `@JsonIgnore` annonation
[code]

[2018-09-07 16:02] jdubois commented on #8252
Please use StackOverflow for questions, it's much nicer for other users.

[2018-09-07 16:02] jdubois commented on #8252
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-09-07 16:02] #8252 closed

[2018-09-07 16:07] jdubois commented on #8251
When you create a new user, an email will be sent to the user:

- there is no other way to get the password, for security reasons. As an admin, there is just no way for you to get it, even in the database (it's encrypted with bcrypt)
- if you SMTP server is configured, check your mail
- if it is not (which I guess is the case), the text of the mail will be in the logs

-> that's why I told you to

[2018-09-07 16:23] sonersivri opened #8253 "Upgrade Liquibase to 3.6.2 to fix problem in Turkish Locale"
##### **Overview of the issue**

liquibase not working well in Turkish Locale

##### **Motivation for or Use Case**

Liquibase 3.5.5 version sql generation code has toUpperCase() this fixed 3.6.2 version

##### **Reproduce the error**

if locale is tr_TR this occurs

##### **Related issues**

No related issue

##### **Suggest a Fix**

liquibase version 3.6.2 fix the problem

##### **JHipster Versi

[2018-09-07 16:52] sonersivri opened #8254 "currentpassword and currentpassword.placeholder properties do not exist in Turkish global.json.ejs file"
##### **Overview of the issue**

Change Password currentpassword and currentpassword.placeholder do not exist in global.json.ejs file

##### **Motivation for or Use Case**

turkish language usage

##### **Reproduce the error**

using Turkish

##### **Related issues**

no issue

##### **Suggest a Fix**
adding currentpassword and currentpassword.placeholde properties to
https://github.com/jhipster/g

[2018-09-07 16:56] gmarziou commented on #8253
Looks like #753

[2018-09-07 21:12] pascalgrimaud commented on #8086
Looking at this PR https://github.com/jhipster/generator-jhipster/pull/7903 from @ruddell
I give a fast try, and change the phase of the function `saveConfig()` to be in `writing` phase (instead of `prompting` or `configuring`) -> it seems to work

If someone (better with Yeoman/NodeJS than me) can give a try...

[2018-09-07 22:58] cirux91 commented on #8252
Hi @jdubois ,

like @Ramu3l I need to add another database choise (like cassandra), when i want generate a reactive miicroservice but i can't modify the Database Question because i can't modify the current question and i can't create a new Promt phase because  there will be the same question. So i suggest, if theare aren't choices why put a question in the main prompt phase?

[2018-09-07 23:16] ruddell commented on #8252
@cirux91 I've answered your question on StackOverflow already: https://stackoverflow.com/questions/52230223/add-more-choices-into-microservice-reactive-blueprint.

  [1]: https://github.com/jhipster/generator-jhipster/issues/7608

[2018-09-07 23:33] cbornet commented on #8252
Reactive is currently experimental, not even beta. This means that very little options are available (eg no entity generator). We plan to add the options one by one including cassandra but this is a lot of work. As always, help is welcome.

[2018-09-08 01:13] Pranavism commented on #6732
issue is still seen in v 5.3.1

[2018-09-08 08:12] fresnault commented on #8105
What is the current status of this issue ?

@ctamisier Do you have work in progress ? On your side, you just have a problem of rerendered ?

For my part, I just pulled version 5.2.1 and even fa-icon classes are KO.

Step | classes
------------ | -------------
Initialization | ng-fa-icon
1st click on sort | ng-fa-icon fa-sort-up
2nd click on sort | ng-fa-icon fa-sort-up fa-sort-down
... | ng-fa-ico

[2018-09-08 09:07] MathieuAA commented on #7944
@randeepbydesign I don't get the `**embedded**` part.

[2018-09-08 09:08] MathieuAA commented on #7944
Could it work (in your scenario) without it?

[2018-09-08 10:57] jdubois commented on #8105
I tried to do it a few days ago and miserably failed :-(
That's why I put the bounty on it!

[2018-09-08 23:38] Tcharl commented on #8249
Idem for Instant, but worse: the workaround does not seem to work

[2018-09-09 09:15] ndywicki commented on #8249
Strange I've add an Instant field and it's work.

@Tcharl, what is your error ?

Book.json:
[code]

Book.java:
[code]

Note: Add `@Field(type = FieldType.Date)` is unnecessary the ES type mapping is a "date"
[code]

Sample:
[code]

Note:
1. I've notice that the docker sub-generator is not updated with the new spring data jest uri env param :
`SPRING_DATA_ELASTICSEARCH_CLUSTER_NODES=jhipster-elasti

[2018-09-09 10:00] yatendragoel commented on #8224
@deepu105 @jdubois Let's create a temp GitHub repo then for the issues. I would have created it myself if I had had access to the repo.

[2018-09-09 10:13] yatendragoel opened #8262 "A non-working Swagger-UI related code is getting generated when using --skip-client"
##### **Overview of the issue**

A non-working Swagger-UI related code is getting generated when using `--skip-client` flag while generating a JHipster project.

File: `SecurityConfiguration.java`

    .antMatchers("/swagger-resources/configuration/ui").permitAll()
                .antMatchers("/swagger-ui/index.html").hasAuthority(AuthoritiesConstants.ADMIN)

##### **Suggestion**
When the `--skip

[2018-09-09 10:42] pascalgrimaud commented on #8162
@tibistibi : we only switch to NPM by default, for new projects, but you can still use yarn with `jhipster --yarn`. The `yarn` support is not deleted !

You can look in your `.yo-rc.json` file, you should still use `yarn` as `clientPackageManager`, that's why you are still with `yarn`

[2018-09-09 10:46] tibistibi commented on #8162
thanks for the feed back indeed i have:

`     "clientPackageManager": "yarn", `

is it best to switch that to npm now?

`    "clientPackageManager": "npm",`

[2018-09-09 10:58] ndywicki commented on #8249
@pascalgrimaud, done I've push 2 PR.
For mapping PR #8263 I've make an manual entity test with Instant, LocalDate and ZonedDateTime fields.

[2018-09-09 11:03] yatendragoel commented on #8213
Adding few things to be taken care of whenever this issue gets picked up for implementation:

When we will be updating the URIs of createAccount (`registerAccount(...)`) and updateAccount (`saveAccount(...)`) endpoints, the end result would be the same URI i.e. `.../accounts` for both of them with different HTTP methods. So we will need to update the `SecurityConfiguration.java` as well as follows

[2018-09-09 11:11] ndywicki commented on #8249
Ideally, one would have to re-switch the ressource integration tests to use the real repository search instead of the mock since Spring Data Jest include the embdded Elasticsearch server (internalNode)

[2018-09-09 11:13] pascalgrimaud commented on #8162
Unless your encounter a lot of issue with yarn (timeout when downloading lib, problem between projects when contributing with yarn link, etc) , switching to NPM is not needed

[2018-09-09 11:32] tibistibi commented on #8162
thanks again!

i there a description how to switch (if needed).
i tried changing my .yo-rc.json file but that did not change anything. (changed it to npm and than run npm start).

[2018-09-09 11:51] jdubois commented on #8162
@tibistibi you would need to re-generate, something like `jhipster --force`, so you get the new configuration. It shouldn't be a big change.

[2018-09-09 11:52] jdubois commented on #8213
Thansk @yatendragoel for the added comments.

[2018-09-09 11:58] jdubois commented on #8224
OK, just to be sure I'm going to send this also to the core dev mailing list: I think we should create a project will all default options, and maybe also include the JHipster Framework in it, for easier refactoring. Then we do all the refactoring we want, and see how we can push them back to the main project.
If those are small issues we can put them in a minor release, otherwise it would be the n

[2018-09-09 12:01] jdubois commented on #8224
For the record, the main is at https://groups.google.com/forum/?hl=en#!topic/jhipster-dev/Llsp6s30PZE

[2018-09-09 12:37] yatendragoel opened #8265 "@Secured should be removed the UserResource.java"
##### **Overview of the issue**

All the Authorizations of the web layer are configured in `SecurityConfiguration` except for the `UserResource` in which case we are allowing any authenticated user as per the `SecurityConfiguration` [`.antMatchers("/api/**").authenticated()`] to access the users api `/api/users` but we are restricting the access of 4 endpoints within it to only `ROLE_ADMIN`.

Shou

[2018-09-09 12:46] cbornet commented on #8224
I was wondering how to create issues for the Reactive option without crippling the main issue tracker. Maybe I can aldo create a repo for that ?

[2018-09-09 13:18] deepu105 commented on #8162
You can also safely find and replace yarn with npm

On Sun, 9 Sep 2018, 1:52 pm Julien Dubois, <notifications@github.com> wrote:

[2018-09-09 13:28] ivangsa commented on #7944
it looks that only travis tests failing right now are because of generator-jhipster depends in some changes in jhipster-core that haven't been integrated yet (the pull request)

I'm new to travis: how can I run travis tests locally, and how can I create a new travis test for this feature?

thanks for any pointer regarding this..

[2018-09-09 13:45] cbornet commented on #8265
Also I recommend using PreAuthorize instead of Secured. Secured is being slowly deprecated (eg doesn't exist in WebFlux)

[2018-09-09 16:59] jdubois commented on #8265
Oh I didn't know that, thanks @cbornet ! I really liked the `Security` name better :-(

[2018-09-09 20:15] Tcharl opened #8266 "Is this class useless?"
I just migrated a module to the 5.3.1 and greatest JHipster and noticed this class:

https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/DateTimeFormatConfiguration.java.ejs

I tried to remove it, and tested fields with dates: everything looks working without it.

Is it always useful?

[2018-09-09 20:15] #8266 closed

[2018-09-09 20:17] Tcharl opened #8267 "Useless backend configuration"
##### **Overview of the issue**

I just migrated a module to the latest and greatest JHipster and noticed this class:

https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/DateTimeFormatConfiguration.java.ejs

I tried to remove it, and tested fields with dates: everything looks working without it.

Is it always useful?

##### **Motivat

[2018-09-09 20:46] Tcharl commented on #8267
Apparently, it's used in audit resource filters (fromdate and todate) :-).
Any other way to specify filters or is it truly mandatory?

[2018-09-09 20:54] deepu105 commented on #8185
I have started work on this

[2018-09-09 20:55] deepu105 commented on #8185
@MathieuAA do you have any good sample JDL for microservice stack?

[2018-09-10 00:06] randeepbydesign commented on #7944
By embedded we are referring to an entity that would not have a controller or DAO. It would just be represented as a subdocument in the main entity. Let's say we had a Person Entity, an Office Entity, and an Address Embeddable (or whatever you would want to call it) in our JDL.

The Office would have One to Many Persons. Office would have one to many address. And Person would have one to one addre

[2018-09-10 04:39] MathieuAA commented on #8185
Le 9 sept. 2018 22:55, Deepu K Sasidharan <notifications@github.com> a écrit :@MathieuAA do you have any good sample JDL for microservice stack?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

I used to, maybe in the tests. 

[2018-09-10 04:44] MathieuAA commented on #7944
I know what embedded is, but after looking at the JDL with the "**embedded**" pseudo-annotation I wondered if it was the same thing.If we're set to have this information in the JDL, I'd put it in the relationship (it's the most logical place).I can try experimenting on that.---Le 10 sept. 2018 02:06, Randeep Walia <notifications@github.com> a écrit :By embedded we are referring to an entity that w

[2018-09-10 05:27] yatendragoel commented on #8265
I also recommend the use of `@PreAuthorize` instead of `@Secured` as `@PreAuthorize` is more powerful than `@Secured` because you can do everything that `@Secured` is capable of with `@PreAuthorize`, thanks to its EL support, but not vice-versa

[2018-09-10 06:27] fresnault commented on #8105
I didn't find a good solution to fix the rendering problem.

Angular-fontawesome renders icon when the change comes from angular binding value, not from classes.

I think there is a interesting response (and example) in this post  :
https://github.com/FortAwesome/angular-fontawesome/issues/72#issuecomment-408473472
Maybe we can play with the ComponentFactoryResolver (but we need an extra dependenc

[2018-09-10 07:19] #8246 closed, assigned to nobody

[2018-09-10 07:42] yatendragoel commented on #8262
@sendilkumarn Sure. Just wanted to discuss which approach would be suitable: "Supporting Swagger-UI" for `--skip-client` or "Removing Swagger-UI related code"?

[2018-09-10 07:54] yatendragoel opened #8268 "A minor issue with the key-alias in the SSL config and the keytool command"
##### **Overview of the issue**

For enabling HTTPS support, the `keytool` command in the generated comments in `application.yml`, `application-dev.yml` and `application-prod.yml` has a minor issue that the `key-alias` is Camel-case while it is always recorded in the generated certificate in the lowercase. Because of this mismatch, HTTPS doesn't work without giving any hint related to the error.

[2018-09-10 07:59] sendilkumarn commented on #8262
IMO It would be meaningless to have this when the entire UI is skipped

[2018-09-10 08:16] randeepbydesign commented on #7944
I had considered that but I don't think it will work because it doesn't explicitly block entities and daos from being created. I guess we could check to see if no entities belong to the left side of a relationship and infer that status but that seems kind of hacky and might cause other problems

[2018-09-10 08:17] jdubois commented on #8265
Sorry, just one more comment, and I know I'm annoying here :-)

While I love to list the URLs, there is a performance issue: Spring Security is going to check them all in the order they are configured, until it finds a good one. That means that if you have a lot of them, and your URL is at the end, there's a performance penalty.

So there's a balance between having a "good code" and a "performant

[2018-09-10 08:41] jdubois commented on #7738
Hi everyone, the "diversity issue" is coming again, and we still have this logo. Now there is someone on Twitter (sorry I can't mention him, I don't have his GitHub handle), who proposed just to have no person at all. Which would solve all the problems, so I'm all for it.

I have just one very personal thing here: I see many kids, including my own kids, who love the current logo. I've seen it in p

[2018-09-10 08:54] jdubois commented on #8253
Yes, but I know that there are high chances we forget about it :-)
Also, those libraries are tested by Spring Boot, so upgrading them could cause other side-effects, and that means some testing for us.

@sonersivri :
- are you doing something specific, or do you think many other people are affected?
- I'm guessing you're the best person to test, can you do the Liquibase version upgrade on your pom

[2018-09-10 08:58] PierreBesson commented on #7738
I like the symbol of the turtle (slow pace but winning in the end) and the relation to programming. I'm fine with the change as long as the turtle character looks hipster enough 😉.
And +1 for appealing to kids, maybe children can be involved in the logo selection.

[2018-09-10 09:15] mraible commented on #7738
-1 on the turtle. Turtles are slow, not hip!

[2018-09-10 09:37] deepu105 commented on #7738
@jdubois while diversity is really important (not coz some arrogant guy said so), I don't think its necessary to change the logo altogether. A lot of projects do have a gendered logo(Jenkins, Yeoman and so on)
IMO its sufficient if we add some variations as well(If no one is doing it I can try to do it). Changing the logo altogether also will affect the brand

[2018-09-10 09:45] gmarziou commented on #8262
I agree with @yatendragoel and this is what we do at work for all our microservices.

[2018-09-10 09:46] jdubois commented on #8268
Let's put it in lower case everywhere -> @yatendragoel can you the PR?

[2018-09-10 09:48] sonersivri commented on #8253
@jdubois :
Turkish locale users affected this
I upgraded and tested it is ok for me after that I opened the issue
I understand your hesitations about affecting other people for upgrading liquibase version. I solved my problem with changing new version of liquibase

[2018-09-10 09:49] jdubois commented on #8253
Thanks @sonersivri !
Just out of curiosity, do you know what causes this? Is this specific to Turkish locale?

Then yes we should do the upgrade in JHipster Core.

[2018-09-10 09:51] DanielFran commented on #8262
+1

[2018-09-10 09:53] sonersivri commented on #8253
@jdubois yes specific to Turkish
latter i uppercase in Turkish is İ not I

[2018-09-10 09:57] jdubois commented on #8253
Oh that's a very interesting bug, then!

[2018-09-10 10:04] sonersivri commented on #8253
Yes, Generation tools developed any languages must use locale English avoid the uppercase or lowercase problems.

[2018-09-10 10:44] jonathanba opened #8269 "Deploying to Cloud Foundry using MySQL/ClearDB"
![jhcf](https://user-images.githubusercontent.com/23099115/45292458-91266580-b4f5-11e8-822b-32008992ae81.PNG)

##### **Overview of the issue**

I created a simple JH Application to test CloundFoundry (Pivotal Web Services) and used MySQL as a DB. Unfortunately, elephantsql is offered instead of ClearDB. I had to write cleardb there.

##### **Motivation for or Use Case**

It would be better to offe

[2018-09-10 11:04] jdubois commented on #8269
Yes I totally agree, but that's hard to do. The issue is that unlike other clouds like Heroku or GCP, that list depends on your installation: there's the public PCF instance, but also IBM Bluemix, Atos Canopy, and companies having their own private instances.

So we can't know the list in advance... It just depends on your instance! For the record, we just put ElephantSQL because they gave us some

[2018-09-10 12:24] Abdull opened #8270 "JHipster CLI tool unusable in Windows Cygwin environment due to input problems"
##### **Overview of the issue**
In a Cygwin environment, JHipster's CLI dialog's cursor operations (selecting an item by pressing up or down on the keyboard) don't work. Therefore, JHipster's CLI generator cannot be used in Cygwin environments.

A workaround is using Windows' Command Prompt (cmd.exe) for running jhipster-cli.

##### **Motivation for or Use Case**
Cygwin is a popular shell environm

[2018-09-10 12:33] redo99 opened #8271 "Getting errors while generating client side project"
##### **Overview of the issue**

I have tose 2 errors
ERROR in /Users/Redo/Work/Workspace/celexio/CRM/cxocrm-web/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts(6,14):
TS2420: Class 'AuthExpiredInterceptor' incorrectly implements interface 'HttpInterceptor'.
  Property 'intercept' is missing in type 'AuthExpiredInterceptor'.

ERROR in /Users/Redo/Work/Workspace/celexio/CRM/cxocr

[2018-09-10 12:45] gmarziou commented on #8270
Consider upgrading to Windows 10 and use WSL for a real shell :)

[2018-09-10 13:09] chrisdns commented on #8271
Try
` jhipster --skip-server --db PostgreSQL --auth jwt`
instead of
` jhipster --skip-server --db PostgreSQL --auth JWT`

[2018-09-10 13:30] cbornet commented on #7738
Even Ninja ones ?

[2018-09-10 13:35] redo99 commented on #8271
Thnx a lot. The problem is solved.

[2018-09-10 13:35] #8271 closed

[2018-09-10 13:47] tibistibi commented on #8162
found it in:

.yo-rc,json
angular.json
package,json
pom.xml

and some not so important i guess:
readme.md
yarn.lock
yarn.lock.save

[2018-09-10 14:25] #8270 closed, assigned to nobody

[2018-09-10 14:28] #8249 closed

[2018-09-10 14:33] yatendragoel commented on #8268
Yes, I will do the PR.

[2018-09-10 14:39] atomfrede commented on #7738
So as first starting point lets move everything we have regarding artworks to the repository to make it more visible (I can do that). Afterwards lets try to find volunteers creating more logos like github as with the octodex.

Regarding the turtle (animal), I like the idea, but also seen the jhipster in the wild last weekend in a coffee shop in paderborn (sadly no time to talk to the owner), but i

[2018-09-10 15:57] ruddell commented on #8268
This was fixed in https://github.com/jhipster/generator-jhipster/pull/7548 (v5 beta+), thank you for reporting this though.  Your issue was very clear. 👍

[2018-09-10 15:57] #8268 closed

[2018-09-10 16:06] deepu105 commented on #7738
I'll ask the UX team at my office if they can help with creating artwork,
also I can try to brush up my Photoshop skills(might be a bit rusty since I
haven't done it for a while)
Either way, we need to make sure that we have full rights for any new logo
we create(including the source), unlike the existing ones.

Thanks & Regards,
Deepu

On Mon, Sep 10, 2018 at 4:39 PM Frederik Hahne <notifications

[2018-09-10 16:28] deepu105 commented on #7738
So one of my colleagues has agreed to help and I guess another one might be
interested as well :) will update you guys after discussion with them

Thanks & Regards,
Deepu

On Mon, Sep 10, 2018 at 6:06 PM Deepu K Sasidharan <d4udts@gmail.com> wrote:

[2018-09-10 16:30] mraible commented on #7738
I held a [logo contest for AppFuse](https://raibledesigns.com/rd/entry/appfuse_logo_contest) way back in 2004 that was quite successful. I think the key was offering a prize. Maybe we could do something similar and offer $100 to each of the logos we select?

[2018-09-10 17:06] deepu105 commented on #7738
Actually that's a good idea as well, the more the merrier

On Mon, 10 Sep 2018, 6:30 pm Matt Raible, <notifications@github.com> wrote:

[2018-09-10 17:10] deepu105 commented on #8270
During my windows days, I stayed away from cygwin due to such compatibility
issues with nodeJs. I was using powershell, cmder and git bash.

Unfortunately there is nothing we can do here

On Mon, 10 Sep 2018, 4:25 pm Julien Dubois, <notifications@github.com>
wrote:

[2018-09-10 17:14] deepu105 commented on #8269
Agree with Julien. Though its a small annoyance it not a blocker since you can write actual value there. Closing as wontfix unless you have a nice solution

[2018-09-10 17:14] #8269 closed

[2018-09-10 18:08] yatendragoel commented on #8268
@ruddell Thanks for fixing it super quickly in the previous issue and providing the link here!!

[2018-09-10 18:43] tpulimoottil opened #8272 "Jhipster Microservice application not serving APIs"
##### **Overview of the issue**

Jhipster microservice application generated without service registry is not serving APIs. No errors are thrown in the console as well. When trying to access localhost:8081 it fails to connect.

##### **Motivation for or Use Case**

I just generated a microservice application with jhipster previous versions of jhipster and it always use serve APIs and this version d

[2018-09-10 19:02] gmarziou commented on #8272
This is a breaking change of JHipster 5.0 that was introduced to support Istio.
When you generate a microservice without service discovery, a context path is configured in application*.yml, feel free to changeit.

[2018-09-10 19:08] #8272 closed

[2018-09-10 20:54] PierreBesson commented on #8272
The context path was setup like that for a good reason. And it was part of a major release. If you think this is insuficiently documented, you can do a PR to the docs. There is a task to print the context path in the logs which is still in todo but I will try to do it tomorrow). I'm sorry that you lost time because of this, but the team doesn't have the time and resources to test  every option com

[2018-09-10 21:07] PierreBesson commented on #8262
There is still one valid case to keep it and it is when using the skip-client option to generate the back-end and front-end separately.

[2018-09-10 21:31] cbornet commented on #8267
Yes it's needed or else you have to annotate the parameters with `@DateTimeFormat` . See https://github.com/jhipster/generator-jhipster/pull/4433#issuecomment-258697743

[2018-09-10 21:36] cbornet commented on #8267
We should probably add some comments in the generated code about that

[2018-09-11 05:32] amatosg opened #8274 "Uploading an image bigger than 65,535 bytes causes SQLException"
##### **Overview of the issue**

Entity created through JDL. Field is `ImageBlog` which creates column type `blob`. The max size for a blob column is `65,535` bytes. If I upload a file bigger than that, it causes an exception:

<details>
<summary>SQLException</summary>
<pre>
Caused by: java.sql.SQLException: Data too long for column 'avatar' at row 1
Query is: insert into test_entity (avatar, avat

[2018-09-11 08:28] ruddell commented on #8274
`mariadb` needs to be added to [this condition](https://github.com/jhipster/generator-jhipster/blob/6aaac5aaedf6a50f1ef1cd65329603728c8ce0ef/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs#L93) in the entity liquibase xml file

[2018-09-11 08:28] tibistibi commented on #8162
i changed `yarn` to `npm` in package.json (which has all the commands for yarn/npm) but after running npm start i get a lot of errors.

so i will stick to yarn for now but if jhipster is moving away from yarn it would be wise to have a way of changing a yarn project to npm.

an example error:

ERROR in ./node_modules/fork-ts-checker-webpack-plugin/lib/index.js
Module not found: Error: Can't resolv

[2018-09-11 08:30] tibistibi commented on #8162
the part i changed is this:

[code]

[2018-09-11 11:02] mandudeboy commented on #7961
No, as is common in accessibility the default is not 100% compliant, and no - they did not do their homework (at least not all of it).

This issue is not the "fault" of jHipster, but it's up to us to fix it if we want jHipster to be compliant.

[2018-09-11 12:24] tibistibi opened #8275 "Browsersync keeps refreshing"
##### **Overview of the issue**

When starting the application with yarn start  and editing some files often Browsersync keeps reloading.

##### **Reproduce the error**

run `yarn start` or `npm start`
i think it gets worse after some changes.

##### **Suggest a Fix**
There seems some suggestions here:
https://stackoverflow.com/questions/37315302/gulp-browsersync-causing-multiple-reloads-with-each

[2018-09-11 13:09] pascalgrimaud commented on #8162
You need to add an additional `--`
Example:
[code]

instead of
[code]

[2018-09-11 13:33] jsm174 opened #8280 "Task :buildDocker failed - Could not find com.aries:docker-java-shaded:3.1.0-rc-3"
##### **Overview of the issue**

Creating a brand new project, and running:

[code]

Results In:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create new jhipster microservice gateway:

[code]

Run:

[code]

##### **Related issues**

##### **Suggest a Fix**

Update `build.gradle` from:

[code]

to:

[code]

##### **JHipster Version(s)**

[code]

##### **JHipster con

[2018-09-11 14:35] yatendragoel commented on #5509
@PierreBesson I think even `getAllUsers()` and `getUser(login)` must also have `@Secured(ADMIN)` **by default** because the security has to be most restrictive by default and not less restrictive. If anyone has a requirement of something like *one user seeing other users*, then he can always make these two methods less secure.

[2018-09-11 15:06] avdev4j opened #8284 "JHipster should configure hibernate to use the UTC convention with timestamps"
##### **Overview of the feature request**
Hi All,
I have just dealing with some problems with Instant fields in entities and values stored in my database.
After some research i found that, in JHipster, we do not specified a time zone in hibernate configuration.
I think, to avoid some problems and have independant time zone application, we should use UTC convention to store timestamps.

##### **Mot

[2018-09-11 15:10] PierreBesson commented on #5509
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2018-09-11 15:15] jdubois commented on #8275
Do you mean it reloads "normally", and at some points it gets out of control? I've never experienced this, it might depend on the OS (as BrowserSync looks at the modified files to know when to reload), which OS are you using?

[2018-09-11 15:53] tibistibi commented on #8275
thanks. sometimes it reloads normally but often it keeps reloading just when it is ready before i can do anything it reloads again and again and again. i worked fine some weeks ago but it seems to get worse (or i lose my patience).

My os is ubuntu 18.04 and it happens on both firefox and chrome (chromium).

it seems to go away when i close the tab and reopen it.

[2018-09-11 15:59] ivangsa commented on #7944
I've created a pull request for this feature

I think it is complete, it's not as ambitious as the first proposal but I regard it as a fairly good starting point
it permits generate any supported entity relations that later can be easily reconfigured, either as a @Field or a @DBRef to suit specific

There is one Travis test that is not passing, but it seems that it is because it depends on jhipste

[2018-09-11 16:05] jdubois commented on #7944
Thanks a lot everyone!
I guess this will require quite some time to review... And I know I'll be a bottleneck here, mostly given that we have 45+ opened tickets at the moment (and I have lots of work in parallel). So if anybody wants to do some review here, he's most welcomed. I can also ask for help on Twitter, as I guess many people will be interested.
Anyway, that's awesome work, very impressiv

[2018-09-11 16:13] wmarques commented on #8275
We use the browsersync-webpack-plugin to use browsersync and we do not have access to the browsersync configuration...
Maybe it's coming from webpack-dev-server and not browsersync

[2018-09-11 16:26] amatosg commented on #8274
should I just merge the pull request? Or wait for a team member?

[2018-09-11 16:38] randeepbydesign commented on #7944
Thank you Julien for your feedback. I would like to take a crack at extending the JDL to support a new type. I'm going through the core **jhipster-core** and **generator-jhipster** projects now to see where to insert the scalpel(s) to make it happen. I hear that there may be some hesitation with this, so if anyone feels like I might be making a mistake or wasting my time (or if you just want to of

[2018-09-11 16:54] ruddell commented on #8274
The pull request should be opened on this repository, it's currently open on your fork

[2018-09-11 17:05] amatosg commented on #8274
yes, what I mean is that the PR has the "merge" button available but I don't know what's the policy for PRs, should I just merge it myself? or it has to be approved by a team member?

[2018-09-11 17:27] eapriansyah commented on #8275
I also experienced the same thing, The browser has infinite refresh. The solution is to downgrade webpack-dev-server to version 3.1.4.

[2018-09-11 17:49] cristianobombazar commented on #3323
@vspdontukurthi in my case, ribbon.ReadTimeout solve the problem. Thanks!

[2018-09-11 18:33] ruddell commented on #8274
Your pull request is on `amatosg/generator-jhipster` when it needs to be on the `jhipster/generator-jhipster` repository.  If you merge your PR it only goes onto your master branch and not here

You can go here to open it on the correct repository: https://github.com/jhipster/generator-jhipster/compare/master...amatosg:fix-mariadb-blob

[2018-09-11 18:43] ruddell commented on #5509
This was also discussed in https://github.com/jhipster/generator-jhipster/pull/7772#issuecomment-404848076

[2018-09-11 19:19] tibistibi commented on #8275
thanks for the info i see in package,json

[code]

so i will look into this line to find some solution.

[2018-09-11 19:28] amatosg commented on #8274
thank you, I'm unfamiliar with github

[2018-09-11 19:31] ruddell opened #8290 "Deprecation notice about yeoman when using CLI"
##### **Overview of the issue**
Deprecation notices for when a user runs `yo jhipster` display all the time
@deepu105 pinging you since you added these in https://github.com/jhipster/generator-jhipster/commit/1ef8cdec91deed509e38898948b21b5524fa5e79

##### **Motivation for or Use Case**
It's confusing, messages shouldn't be displayed when they don't apply

##### **Reproduce the error**
Run `jhipst

[2018-09-11 19:33] tibistibi commented on #8275
following @eapriansyah advise i changed in package.json this:

`		"browser-sync": "2.24.6",`
to:
`		"browser-sync": "2.24.4",`
and

`		"webpack-dev-server": "3.1.5",`
to
`		"webpack-dev-server": "3.1.4",`

than run
`$ yarn `
and
`$ yarn start `

just did a quick test and it seems better now. will keep an eye.
@eapriansyah thanks a lot for the info!

strange only some of us have this problem

[2018-09-11 20:16] pascalgrimaud commented on #8275
@tibistibi @eapriansyah : it probably depends on how big your project is. That's why feedbacks like you did, are very very important for the project. Thank you very much.

As downgrading resolves the issue, I think we should do more tests and why not doing a PR.
Don't hesitate to confirm and comment if it resolves definitively your issue.

[2018-09-11 20:17] hdurix commented on #8147
Small update on the subject:
- Implementation has been done in https://github.com/jhipster/generator-jhipster/pull/8277 with checking that the entity list contains one more entity after creation
- We could not find a way to check the alert message: when the temporary alert is displayed, all the protractor test is freezing until the alert is closed (because it's waiting for Angular)
- Checking the

[2018-09-11 20:27] eapriansyah commented on #8275
@pascalgrimaud, For projects with entities less than 50, the configuration in version 5.3.1 is not problematic.
This happens when the entity has exceeded the number above, the problem will arise unexpectedly.
At this time the entity in the project reaches 120, after it is downgraded, the problem in browsersync is no longer happening.

[2018-09-11 21:03] jdubois commented on #8275
Thanks so much for all this, as @pascalgrimaud wrote we can't do this without all this help!!!
As soon as this is solved I'll do an emergency patch release, as I guess this affects many people.
@tibistibi do you want to do the PR so you are the author?

[2018-09-11 21:06] jdubois commented on #5509
Yes this has been discussed many times. It's a question of features vs security, and I understand this is confusing.
For JHipster 6, where we will break the existing APIs, this is a change worth considering.

[2018-09-11 21:10] deepu105 commented on #8275
I have seen this issue. May be it happens only in Linux, its definitely
browsersync and not webpack dev server. It happens a lot especially if you
are debugging. I was mostly using webpack dev server directly and forgot
about this.

On Tue, 11 Sep 2018, 11:03 pm Julien Dubois, <notifications@github.com>
wrote:

[2018-09-11 21:11] tibistibi commented on #8275
i can but will check tomorrow if it is resolved

it @eapriansyah wants to be owner that is offcourse fine too :smile:

[2018-09-11 21:16] deepu105 commented on #8290
I guess it happens during composition and the flag is not passed properly.
I'll fix it

On Tue, 11 Sep 2018, 9:31 pm Jon Ruddell, <notifications@github.com> wrote:

[2018-09-11 22:14] amatosg commented on #8275
it happens to me that it reloads serval times and I just reload it manually after a few times, haven't take the time to wait to see how many reloads it does. I'm using mac. I'll try it today and check if it loops

[2018-09-12 01:02] amatosg opened #8293 "Relationship to entity User raises Warning that doesn't apply"
##### **Overview of the issue**
When adding a relationship from an entity to the User entity and selecting any available relationship option, the generator raises the following warning:

`WARNING! This entity has the DTO option, and it has a relationship with entity "user" that doesn't have the DTO option. This will result in an error.`

It shouldn't as User has DTO generated by using `dto * with

[2018-09-12 01:15] ruddell commented on #8293
One solution is to not print the warning when the `otherEntityName` equals `'user'` [where this is printed in the entity generator](https://github.com/jhipster/generator-jhipster/blob/a97cb525545aedf50a05fa9aa070ab72e4596c0e/generators/entity/index.js#L687-L689)

[2018-09-12 03:29] carloca68 opened #8295 "Downgrade gradle wrapper to 4.9"
##### **Overview of the issue**

When generating a new application with the options bellow the generator add a line in the wrong place on build.gradle

[code]

##### **Motivation for or Use Case**

It prevents building the project.

##### **Reproduce the error**

Just create a new application with the options bellow.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[2018-09-12 04:06] ruddell commented on #8295
Thanks for reporting the issue.  This text was removed in https://github.com/jhipster/generator-jhipster/pull/8238. It looks like we have another issue with that configuration though:
[code]

[2018-09-12 04:41] MathieuAA commented on #8293
I'll have a look at it and fix it today, thanks for reporting!

[2018-09-12 05:27] tibistibi commented on #8275
it seems more people have this issue than i  expected.
@amatosg can you try this:

package.json this:

`		"browser-sync": "2.24.6",`
to:
`		"browser-sync": "2.24.4",`
and

`		"webpack-dev-server": "3.1.5",`
to
`		"webpack-dev-server": "3.1.4",`

than run
`$ yarn `
and
`$ yarn start `

i will changed today and make a PR.

the problem is how do we make sure it will not happen again, we can not make

[2018-09-12 05:33] MathieuAA commented on #8293
Awesome :)Le 12 sept. 2018 07:21, Pascal Grimaud <notifications@github.com> a écrit :@MathieuAA : there is already a PR to fix it

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-12 05:38] yatendragoel opened #8296 "List API doesn't work for new generated project"
##### **Overview of the issue**

List API `/api/users?page=1&size=20` doesn't work.

If you create any new entity using the entity sub-generator, its List API also doesn't work

##### **JHipster configuration**

$ jhipster info
Using JHipster version installed globally
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### *

[2018-09-12 05:58] carloca68 commented on #8295
Yes, I did some research about this error and found it:

[https://github.com/OpenAPITools/openapi-generator/issues/962] [openapi-generator-gradle-plugin] - Failure with Gradle 4.10 #962

I was going to report it but I did a quick check on the open issues and it looks like the Swagger support will be updated soon.

Cheers.

[2018-09-12 06:16] atomfrede commented on #8295
Try the wrapper we provide it is still 4.9 for some reasons.

On Wed, Sep 12, 2018, 07:59 Carlos Augusto de Oliveira <
notifications@github.com> wrote:

[2018-09-12 07:04] michaelstievenart opened #8297 "Missing classes when generating ApiGateway with No Service Discovery Option"
When selecting 'No service discovery' for option 'Which service discovery server do you want to use?' there are missing classes needed for test classes that are generated.
Test Classes generated with errors:

1. CookieTokenExtractorTest is missing CookieTokenExtractor.java

2. OAuth2AuthenticationServiceTest  is missing:
 - OAuth2AuthenticationService
 - OAuth2TokenEndpointClient
 - RefreshTokenFi

[2018-09-12 08:15] gmarziou commented on #8296
Any reason, you don't use Jhipster 5?

[2018-09-12 08:18] tibistibi commented on #8275
i have changed both angular and react package.json files i only use angular so react is a guess but think it is wise to keep them in sync.

[2018-09-12 08:26] tibistibi commented on #8275
@vishal423 check your link, but jhipster does not seem to have any config (or i'm not aware of it). do you know how it could be configed?

[2018-09-12 08:26] PierreBesson commented on #8284
I agree with you that it's a good practice, but what if users specifically configure their JVM timezone to non UTC and then notice that it's not taken into account in their database. Are you sure everyone will want this ?

[2018-09-12 08:28] jdubois commented on #8297
Thanks! In fact, I'm surprised we have that option - having a gateway without a service discovery doesn't make much sense to me. Out of curiosity, why do you need this?

If there's no real use case, we might as well remove the option, that's why I need some feedback on why people need this.

[2018-09-12 08:34] jdubois commented on #8284
I have some mixed feelings here...

Indeed, as @PierreBesson points out, that might surprise some users - that's why we have [Policy 1](https://www.jhipster.tech/policies/).

Then, we try to push "best practices" (and that's indeed one), and that wouldn't be the first time we tune Hibernate (and Spring Boot) default configuration, following the advice of our great friend @vladmihalcea - so I'm kee

[2018-09-12 08:35] vishal423 commented on #8275
can you try configuring in below block present under `webpack.dev.js`:

[code]

[2018-09-12 08:38] jdubois commented on #8295
@atomfrede the wrapper is currently on 4.10 and I wonder if it's not my fault (and if that's the case, I'm deeply sorry). @carloca68 can you try with 4.9 to see if that fixes the issue?

[2018-09-12 08:43] tibistibi commented on #8275
@vishal423 thats already in.

the problem for me now is i can not get the reload loop back. so testing anything is unreliable.
is there anyone else who can go back and forth between not working and working?

[2018-09-12 08:51] vishal423 commented on #8275
do you mean that resolution provided in that ticket doesn't fix your issue? Above block shows current configurations and you need to append below configuration to check if that fixes your issue (default timeout is 5 second):
[code]

[2018-09-12 08:53] tibistibi commented on #8275
no i can't get the issue back so i can not test it

[2018-09-12 08:54] tibistibi commented on #8275
maybe the rerunning `yarn` fixed it. i hope others who have to problem to can confirm this.

[2018-09-12 08:54] cbornet commented on #8284
I would also argue that the true best practice is having your OS/JVM and DB all configured to UTC timezone...
<a href="https://imgflip.com/i/2hr5uc"><img src="https://i.imgflip.com/2hr5uc.jpg" title="made at imgflip.com"/></a>

[2018-09-12 08:58] atomfrede commented on #8295
@jdubois Oh I see, didn't realize it. But I had some problems with other plugins and 4.10 and I thought we are still on 4.9 :)

[2018-09-12 09:01] jdubois commented on #8295
Do you want me to switch back? I guess I did this when working on the jcenter() issues.

[2018-09-12 09:03] atomfrede commented on #8295
Maybe it is enough to document that somewhere and wait for the update of the open api generator as it seems the fix already done.

[2018-09-12 09:06] ecostanzi opened #8299 "Launch prettier with npx, not npm"
##### **Overview of the issue**

According to the Get Started section of [prettier home page](https://prettier.io/), the command should be

`npx prettier --write 'src/**/*.{ts,tsx,css,scss}`
not
`npm prettier --write 'src/**/*.{ts,tsx,css,scss}`

##### **Motivation for or Use Case**
In the package.json:

[code]
running `npm run prettier:format` does not trigger prettier.

##### **Reproduce the err

[2018-09-12 09:14] tibistibi commented on #8275
@vishal423 thats already in.

the problem for me now is i can not get the reload loop back. so testing anything is unreliable.
is there anyone else who can go back and forth between not working and working?

[2018-09-12 09:15] tibistibi commented on #8275
and now it was back again. i had webpack-dec-server 3.1.8 and browser-sync 2.24.7

[2018-09-12 09:16] PierreBesson commented on #8299
Why not simply "prettier" instead of "npx prettier" ? As you are inside a npm script it should work.

[2018-09-12 09:40] ecostanzi commented on #8299
@PierreBesson seems you're right, I removed the new variable and kept the double quotes

[2018-09-12 09:45] avdev4j commented on #8284
@PierreBesson
This is an important question and of course can be a problem because if you are not aware of this"tuning" you will be surprised and confusing about this behaviour.

Now let me ask you the opposite question : why people would not want this ? (timestamp in UTC). Since we can't know the time zone used to store the data in the db it can be a real huge problem. But if you are sure that al

[2018-09-12 12:01] deepu105 opened #8301 "Default microservice stack doesnt work out of the box"
##### **Overview of the issue**

- [x] Unable to login to the registry
- [ ] Swagger API page doesn't work for microservices on Gateway #8328
- [ ] Swagger API page doesn't work for Gateway and microservices on Registry #8328
- [ ] The logs page on registry doesn't work for Gateway and microservices

<hr>

When I create a MS stack and use docker-compose to run it, there are some issues
1. Unable t

[2018-09-12 12:16] deepu105 commented on #8301
Also I get warnings when starting JHipster registry

[code]

[2018-09-12 13:02] PierreBesson commented on #8196
We can't remove the SwaggerBasePathRewritingFilter as it is required to have the correct base path in the swagger doc so calls on microservices endpoints using the try-it-out button won't fail.

This is doable, but as we plan to migrate to swagger ui v3, we can do this later.

This might be what's happening, it's true that there were some breaking changes with Zuul during the Spring boot 1 -> Spri

[2018-09-12 13:09] tibistibi commented on #8162
for others this is what i have now and seems to work fine (npm start works):

	"scripts": {
		"precommit": "lint-staged",
		"prettier:format": "npm prettier --write 'src/**/*.{ts,css,scss}'",
		"lint": "tslint --project tsconfig.json -e 'node_modules/**'",
		"lint:fix": "npm run lint -- --fix",
		"ngc": "ngc -p tsconfig-aot.json",
		"cleanup": "rimraf target/{aot,www}",
		"clean-www": "rimraf targ

[2018-09-12 13:29] Blackdread commented on #8284
I put everything in UTC, database, time in DTO, etc
It is just normal behavior, DTOs have the information of timezone when changed to JSON which is Z -> UTC, front-end (Angular) can be configured to show datetime as is or automatically change to current timezone of user browser (default behavior)

[2018-09-12 13:30] jsm174 commented on #8301
I'm having same identical issues.

I was able to get around your # 1, but putting an empty `secret` in `central-server-config/application.yml`

Then it will actually use the `base64-secret`. I posted this error at https://github.com/jhipster/jhipster-registry/issues/291

I'm struggling with your # 2.  If you update docker-compose.yml, add ports for the microservice,

[code]

and bring up the stack

[2018-09-12 13:46] Abdull opened #8302 "React: "Create a new user" dialog incorrectly prefills properties with data from a previously edited or detailed user"
##### **Overview of the issue**

In the React frontend, under *User Management*, when clicking *Create a new user*, the dialog incorrectly prepopulates user property fields with data from the previously edited or previously in-detail-shown user - making creation of a new user impossible.

A workaround is to go back again (which causes `UserManagementUpdate` to dispatch a `RESET` action on `compone

[2018-09-12 13:52] jdubois commented on #8301
I'm on it, but I can already tell you that the error message at the end of the JHipster Registry log is a bug, and is already fixed in master. You can safely ignore it.

Does it work without Docker Compose?

[2018-09-12 13:54] deepu105 commented on #8301
I didn't try without docker compose yet

Thanks & Regards,
Deepu

On Wed, Sep 12, 2018 at 3:52 PM Julien Dubois <notifications@github.com>
wrote:

[2018-09-12 14:00] michaelstievenart commented on #8297
On second thoughts, I originally thought this approach would be quicker but it isn't, as there are a number of key classes and dependencies that seemed to be tied to service discovery question option, especially the classes that setup authentication.

Why is it that a lot of the authentication classes are only generated as part of the service discovery selection. I thought this would be tied to th

[2018-09-12 14:03] lobosan commented on #4926
Hi is jhipster offering support for graphql?

[2018-09-12 14:17] jdubois commented on #4926
No. There isn't a good GraphQL solution in Java, and also the way GraphQL works will probably be very inefficient with Hibernate, and quite troublesome with Spring Security.

I'm also waiting to see if the technology takes off. At the moment, after a lot of hype, the main GraphQL project has as many stars as JHipster. And the issue with something this complex, is that we need a **lot** of users in

[2018-09-12 14:23] tibistibi opened #8303 "UserService missing flush"
I noticed that in the UserService the method registerUser in the case of double used email address is doing a flush and in the case of double login does not.
I assume it should be on both places (although tests do not fail on it).
If agreed i can added the flush in a PR

[code]

[2018-09-12 14:28] jdubois commented on #7992
This has been opened for nearly 2 months and is still "in discussion": I'm sorry but we have 50+ opened bugs at the moment, so I'm closing this as it's not moving forward.

While I totally agree with the initial comment, we do provide both OIDC, JWT and also session (cookie-based) options depending on the user's needs. JWT is less secure, even if we recently reinforced its security. Then:

- Most

[2018-09-12 14:28] #7992 closed

[2018-09-12 14:28] eosimosu commented on #8170
@jdubois I started to work on this but haven't had time to finish it.
I'll re-open this issue when it's done.

[2018-09-12 14:31] amatosg commented on #8293
it's waiting for approval :)

[2018-09-12 14:32] jdubois commented on #8170
Oh, awesome -> yes don't hesitate!!!! No pressure on you, when you have time to do it, that's perfect.

[2018-09-12 14:33] jdubois commented on #8301
I can't reproduce for the moment, that's so weird :-(

[2018-09-12 14:36] atomfrede commented on #8295
I will downgrade the wrapper and close this issue afterwards

[2018-09-12 14:36] jdubois commented on #8293
I totally understand the use case, but I'm very surprised this works without doing anything! And I probably coded a big part of this... @amatosg did you test this? I just can't believe this works so easily

[2018-09-12 14:43] jdubois commented on #8295
Thanks!

[2018-09-12 14:47] jdubois commented on #8301
Oops sorry, I thought you couldn't log in the application!!!! I'm doing too much stuff at the same time! @deepu105 your issue is only logging in the JHipster Registry?

[2018-09-12 14:49] jdubois commented on #8301
OK, got it.... Sorry @deepu105 for the time lost. And also because that bug is probably my fault. It shouldn't be hard to solve, I'll update my findings here.

[2018-09-12 15:05] DjayDev commented on #8301
I think I have the same issue, but I don't have exactly the same messages.
Using jhipster @ 5.3.1, I've just generated a gateway and when I run it locally (with registry running in docker), I have this issue when I try to login:

`ERROR 16850 --- [  XNIO-2 task-3] c.m.myapp.aop.logging.LoggingAspect      : Exception in com.mycompany.myapp.web.rest.UserJWTController.authorize() with cause = 'NULL'

[2018-09-12 15:06] lobosan commented on #4926
@jdubois Thanks for your quick and detailed response. I understand the complexity to integrate GraphQL with Jhipster and I hope next year this technology gain more adepts

[2018-09-12 15:08] cbornet commented on #8299
Can be closed ?

[2018-09-12 15:10] cbornet commented on #4926
If you're interested in GraphQL, don't hesitate to do a module or blueprint !

[2018-09-12 15:10] #8299 closed

[2018-09-12 15:39] jdubois commented on #8303
Indeed! I'm surprised this does not fail during the tests...

Could you do the PR?

If you have the time (I know the PR is easy, and this is not), it would be awesome that you add a test for this part. I'm finding this really strange, so that would reassure me.

[2018-09-12 15:41] DjayDev commented on #8301
To workaround the issue, I changed
https://github.com/jhipster/generator-jhipster/blob/03466457e3f26ea3cefa6791a59e45b38f7bdbdb/generators/server/templates/src/main/java/package/security/jwt/TokenProvider.java.ejs#L97
from HS512 to HS256

but it's definitely not a solution.

[2018-09-12 15:42] jdubois commented on #8301
@DjayDev I'm guessing your issue is just that your key is too short. The newest version of JJWT forces you to have a bigger key, which is good, but you need to update the key in your config.

[2018-09-12 15:48] DjayDev commented on #8301
@jdubois I agree, but I haven't touch anything from the generated app. It was like that out of the box. So maybe should I fill a new issue?

[2018-09-12 15:52] jdubois commented on #8301
Oh, in that case I'm not sure this isn't the same issue... so no, let's keep it like this

[2018-09-12 15:57] jmillard-optimo commented on #8301
@DjayDev: I think this is related to https://github.com/jhipster/jhipster-registry/issues/291

Did you try putting an empty secret line in central-server-config/application.yml, like above
 https://github.com/jhipster/generator-jhipster/issues/8301#issuecomment-420648603

[code]

@jdubois, I've created a video, walking through a simple gateway, and a simple microservice, showing
@deepu105 issue #

[2018-09-12 16:01] jsm174 commented on #8301
@DjayDev: I think this is related to https://github.com/jhipster/jhipster-registry/issues/291

Did you try putting an empty secret line in central-server-config/application.yml, like above
 https://github.com/jhipster/generator-jhipster/issues/8301#issuecomment-420648603

[code]

@jdubois, I've created a video, walking through a simple gateway, and a simple microservice, showing
@deepu105 issue #

[2018-09-12 16:09] DjayDev commented on #8301
@jsm174 I've tested also with the empty secret but still the same issue

[2018-09-12 16:28] jdubois commented on #8301
I have a fix that should be available soon - will some of you be available for testing tonight? The issue is that the `develop` branch is currently broken, so I need to push on `master`, and of course this is bad

[2018-09-12 16:31] DjayDev commented on #8301
@jdubois I can do some tests tonight

[2018-09-12 16:36] amirensit commented on #8242
I am interested in integrating refresh token with jwt. Can you paste your code please ? ( if you don't mind )

[2018-09-12 16:41] abhisheksharma85 commented on #8242
Sure, I will. But there are multiple classes where I changed as well as created and Refresh Token Entity,  I did it very specific for my application. I do want to make it generic and option based. Once I get approval from Julien I will start working on it. Share you email and I will send all code.

[2018-09-12 16:49] deepu105 commented on #8299
Also npx is to have temp installation, its not nice inside an npm script. I believe we generate the proper setup.

[2018-09-12 16:56] jsm174 commented on #8301
@jdubois Same here!

[2018-09-12 17:01] jdubois commented on #8301
Awesome :-)
So I just pushed to master, you need to wait until the new "master" build is available at https://hub.docker.com/r/jhipster/jhipster-registry/builds/

And then in your `jhipster-registry.yml`, next to your `docker-compose.yml`, you need to write `image: jhipster/jhipster-registry:master`.

If you want to use a Base64 secret key, you probably will need to set up also an empty secret key

[2018-09-12 17:16] ruddell commented on #8297
@jdubois Related Istio issue regarding gateways + no service discovery https://github.com/jhipster/generator-jhipster/issues/7337, I think that's why it is possible

[2018-09-12 17:26] ruddell commented on #8296
I can't reproduce.  If you are unauthenticated then it gives a 401 as expected.  If you are authenticated, it returns the list of users.

You are also querying for page 1 which won't have any results, there are only 4 users at start so you need to query for page 0

[2018-09-12 17:43] jsm174 commented on #8301
@jdubois , just tried out master as it finished building.

[code]

Got through the base64 message, but now I'm seeing a new message at the end.

Also, still can't access microservice.

[2018-09-12 18:11] #8295 closed

[2018-09-12 18:12] jdubois commented on #8301
Thanks! And in your "central-config", I guess you have a base64 secret? Can you also put an empty secret?
I need to check what we generate here

[2018-09-12 18:14] jsm174 commented on #8301
Yes. Updated my comment above to clarify.

[2018-09-12 19:13] DjayDev commented on #8301
I've tested also with different `application.yml` configs:
- having only secret (legacy): fail
- keeping secret and adding base64-secret: OK
- empty secret with base64-secret: OK
- no secret, only base64-secret: fail : same error as @jsm174 (JWT secret key not configured)

I'll retest the gateway as I thing it's the same issue.

[2018-09-12 19:17] jdubois commented on #8301
Thanks a lot for the tests! There's definitely something I don't get on that code.

[2018-09-12 20:05] #8293 closed

[2018-09-12 21:51] DjayDev commented on #8301
I've tested again the gateway with Jhipster@5.3.1 and I could not reproduce the issue I had before...

[2018-09-12 21:55] jdubois commented on #8301
OK, I've just pushed a far more "aggressive" approach, with no default token. That forces the user to configure one, but he needs to do it anyway.

I know it's very late (at least in France!), if anybody has the time to test the new "master" image (like my comment above), any help is really welcome.

[2018-09-12 22:16] jdubois commented on #8301
Great news, I just tested and this looks good :-)
@DjayDev @jsm174 @deepu105 can you have a look? Just use the latest "master" image on Docker Hub.

[2018-09-12 22:20] DjayDev commented on #8301
I tested the master uploaded  a few minutes ago:
- only a secret: fail: the registry won't start (expected)
- only base64: OK
so I confirm it looks better.

[2018-09-12 22:36] DjayDev commented on #8301
Here are my latest test results:
- if I put `secret: top-secret` in the application.yml file, it fails
- if I put `secret: ZDgxY2UwZDk0MDU1ZTMwODIwMDVhMjllNmVjM2ZlNTA2ZmI0NDUzZThjMTY5ZTY1YTc4ZjQyOTg4ZDJkOTcxNTg2NTUwMWU2NmQwYmM2OWI3YjIxNjc3YjBkOWVkZDQ2ZDdmZGM0NmU4YzcyNWFiMTdlZDRkZGNkMmVkMzI1Njc=`, it works, with the warning:

```INFO 1 --- [           main] i.g.j.r.security.jwt.TokenProvider

[2018-09-12 22:40] DanielFran commented on #8284
+1 for UTC by default and documenting telling to remove in case wanna use JVM timezone

[2018-09-13 00:08] jmsuhy commented on #8250
Government agencies are usually far behind and many are still using IE11.  Not having it work with IE11 means you may have just made it much harder for government agencies or contractors building apps for the agencies to adopt jhipster.

[2018-09-13 00:32] mraible commented on #8250
IE is a dead browser with no support or security patches from Microsoft. It’s risky to use it. From https://medium.com/@burger.neal/the-end-of-life-of-internet-explorer-11-12736f9ff75f:

[2018-09-13 02:44] jmsuhy commented on #8250
I completely agree with you Matt.   Also, just an FYI - a quick fix to the issue is to include babel-polyfill in you dependencies then add the following to the top of your index.tsx file.  (You can tweak it to include only what you need in the package too).
// tslint:disable-next-line
import 'babel-polyfill';

[2018-09-13 04:05] eapriansyah commented on #8275
@vishal423, the change in webpack.dev.js, resolves the infinite refresh problem in the browser-sync version 2.24.6 and above.
Below is the configuration at webpack.dev.js.
new BrowserSyncPlugin ({
             host: 'localhost',
             port: 9000,
             proxy: {
                 target: 'http: // localhost: 9060',
                 ws: true
             },
             socket: {
      

[2018-09-13 05:16] pascalgrimaud commented on #8275
I merged https://github.com/jhipster/generator-jhipster/pull/8298 so I'm closing this ticket, as the solution to downgrade the lib works for you.

But if someone has better solution, don't hesitate to do another PR, or comment this ticket.
Thanks all for your feedback.

[2018-09-13 05:16] #8275 closed

[2018-09-13 05:32] pascalgrimaud commented on #8284
@cbornet is our expert for this subject ! So same as @DanielFran : +1 for UTC and documentation for people who want to change

[2018-09-13 05:39] vishal423 commented on #8275
@pascalgrimaud, I think you should revert the merge as that's not the right fix. If you follow above comments, then, I have suggested the solution, which seems to work for @eapriansyah

[2018-09-13 05:51] pascalgrimaud commented on #8275
Ok sorry, I merged so quickly.
@vishal423 : can you do another PR with the revert + your suggestion plz ?

[2018-09-13 06:34] deepu105 commented on #8250
I would rather just document it. As we officially don't and will not
support IE. So anyone who wants to can add the code from docs. Will you be
willing to contribute the docs?

On Thu, 13 Sep 2018, 4:45 am John Mark, <notifications@github.com> wrote:

[2018-09-13 06:34] deepu105 commented on #8250
It can be in the generated readme file for the project

On Thu, 13 Sep 2018, 8:34 am Deepu K Sasidharan, <d4udts@gmail.com> wrote:

[2018-09-13 06:42] PierreBesson commented on #8284
Also +1 for me.

[2018-09-13 07:10] deepu105 commented on #8290
@ruddell hope its alright now

[2018-09-13 07:10] #8290 closed

[2018-09-13 07:12] deepu105 commented on #8302
would you be willing to make a PR? the solution would be to always fire a reset during create in the mount step

[2018-09-13 07:13] deepu105 commented on #8234
closing this since PR is already in place

[2018-09-13 07:15] DjayDev opened #8308 "Two "No database" choices in the list for microservice"
##### **Overview of the issue**
Hello,
When generating a new microservice with the latest generator (v5.3.1), there are 2 choices for "No database".
![2018-09-13_09-04](https://user-images.githubusercontent.com/7959058/45472654-282d3080-b735-11e8-9be4-0afbef7f1950.png)

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **J

[2018-09-13 07:16] deepu105 commented on #8175
ping @MathieuAA

[2018-09-13 07:28] ruddell commented on #8290
Looks good to me

[2018-09-13 07:45] DjayDev commented on #8308
Sorry I didn't see it.

[2018-09-13 08:20] tibistibi commented on #8275
i will test it with the unreferted version

[2018-09-13 08:22] GeCol1 opened #8309 "Review of kafka messaging heartbeat with highest delay and service name"
##### **Overview of the feature request**

In the default Messaging configuration, the heartbeat is by default every seconds and does not include the service name. So when you have multiple services it is full of messages on the jhipster topic.

So instead having
[code]
you will have
[code]

Also the delay between heartbeats is set at 1min but it can easily changed in the MessagingConfiguration cl

[2018-09-13 09:38] vishal423 commented on #8275
@tibistibi , I only reverted your commit, which means they are now set to previous tested/working versions. Upgrade of individual dependencies can be taken as separate PR

[2018-09-13 09:42] tibistibi commented on #8275
@vishal423  true

for anyone stumbling by in the example from eapriansyah there are spaces in the url which do not work, take them away if you want to use his example.

do we need a separate issue for the different version in webpack-dev-server?

the fix seems to work on my system, maybe a minute is a bit long but it works :+1:

[2018-09-13 09:55] jdubois commented on #8284
OK so let's do this!
@avdev4j as you already have the solution, would you like to do the PR?

[2018-09-13 09:56] jdubois commented on #8250
For me that should be a "tip" in our tips and tricks pages. That should help many people, and is quick to write.

[2018-09-13 10:10] jdubois commented on #8301
OK, 2 things here:

- For the JWT key, this looks all OK from what I read here. @deepu105 can you also test? That would made me totally sure it's good. I will also lower the warning level: everybody is worried about this, when it's not that bad to have the non-base64 secret key.
- For CORS, I'll have a look, but it's another problem so I didn't work on it yet

[2018-09-13 10:11] aneveu commented on #7738
Logo was my first programming language too but both as a developer and a woman I prefer the JHipster logo to stay the same and being enriched with variations.

It's a vital part of the brand and replacing it by a turtle would seems to me like getting round the problem of diversity instead of facing it, whereas the hipster theme offers a lot of possibility to decline the logo in very nice ways.

So

[2018-09-13 10:15] #8147 closed

[2018-09-13 10:27] jdubois commented on #7738
Thanks so much @aneveu ! You are right, and also please note we have tons of money in the bank at the moment, so doing that contest is totally possible.

- There is a little thing to check on the logo license, as I was asked yesterday by a big company about the logo copyright. For me it is Apache, and that's what I put at https://commons.wikimedia.org/w/index.php?title=File:JHipster-logo.png but I

[2018-09-13 10:38] mraible opened #8311 "Docker Compose sub-generator stacktrace when generating microservices + OAuth 2.0"
##### **Overview of the issue**

I generated a microservices architecture that uses OAuth 2.0 for authentication. This is part of a demo I do for my "Microservices for the Masses" presentation. Today, when I tried to create a Docker Compose configuration, I found it spits out a stack trace.

I believe this is caused by the fact that the Docker containers are not built, but it used to spit out a mu

[2018-09-13 11:01] mraible opened #8313 "UserServiceIntTest fails in microservice with OAuth 2.0"
##### **Overview of the issue**

I created a microservice with OAuth 2.0 and MongoDB and `UserServiceIntTest.assertThatUserLocaleIsCorrectlySetFromAuthenticationDetails()` fails when I run `mvn test`.

[code]

##### **Motivation for or Use Case**

All tests should pass after creating a new app.

##### **Reproduce the error**

Create a microservices app with OAuth 2.0, MongoDB, and Elasticsearch, t

[2018-09-13 11:47] jsm174 commented on #8301
I have tried several different releases of JHipster. This broke between 5.1.0 and 5.2.0.

[2018-09-13 12:21] mraible opened #8314 "Implicit flow should be enabled for web_app client in Keycloak"
##### **Overview of the issue**

Implicit flow should be enabled in Keycloak for the "web_app" client. This allows the Ionic and Ignite JHipster modules to work out-of-the-box.

##### **Motivation for or Use Case**

It worked before the upgrade to Keycloak 4.3.0.

##### **Reproduce the error**

Create a new app with OAuth 2.0, log in to Keycloak, and you'll see that implicit flow is disabled by de

[2018-09-13 13:34] #8311 closed

[2018-09-13 13:47] yatendragoel commented on #8296
Yes, there is something strange here. It works sometimes and it doesn't work sometimes. This even surprised me as well because an error in the list API is something which would have been caught by now. Also, all the code looks perfectly fine to me.

I will figure out the root of cause to it one I get more time. For now, let's keep it closed.

[2018-09-13 13:59] blling opened #8316 "How to config to use jsp in jhipster?"
I have searched a lot, but not find the answer, any one know how to config to use jsp in jhipster?

[2018-09-13 14:29] #8314 closed

[2018-09-13 15:06] jdubois commented on #8316
That's normal, it's just not possible by default. JSP are not supported in Undertow. You would need to migrate to Tomcat instead (it's probably not that hard), and after that it should probably work.
As far as I know JSP isn't pushed by Oracle anymore since a long time: it's not really deprecated, but I don't think it's even in the latest docs anymore.
And for this kind of feature, JHipster uses T

[2018-09-13 15:06] #8316 closed

[2018-09-13 15:11] jdubois commented on #8296
Thanks @yatendragoel - don't hesitate to comment or reopen!

[2018-09-13 15:18] jsm174 commented on #8301
I narrowed it down some more.

The latest commit where microservices using docker-compose worked for me:

`fix tests` - https://github.com/jhipster/generator-jhipster/commit/4327015c5ce355c1b3f2ed8415be0d6610e138e9

They started failing on:

`Upgrade to JHipster dependencies 2.0.15` - https://github.com/jhipster/generator-jhipster/commit/10dd1ac5eac6c373cb476223bc62381cf601ab20

Just to show how I

[2018-09-13 16:06] #8267 closed

[2018-09-13 16:18] arabbani opened #8318 "yarnVersion missing"
##### **Overview of the issue**
The parameters 'yarnVersion' for goal com.github.eirslett:frontend-maven-plugin:1.6:install-node-and-yarn are missing or invalid

[code]

The error is occurring after upgrading to jhipster v5.3.1
##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

##### **JHips

[2018-09-13 17:15] avdev4j commented on #8284
@jdubois consider it’s done ;)
But before doing the PR i need to test more and all cases. I will update my github project. Stay tuned ;)

[2018-09-13 18:02] ruddell commented on #8318
How did you upgrade?  Based on your `.yo-rc.json` you are using `npm` as the package manager so there should be an `npmVersion` in your pom.xml (you can add `yarnVersion` as a quick workaround).

The default was recently changed from `yarn` to `npm` so maybe you missed something in the upgrade.

[2018-09-13 18:10] arabbani commented on #8318
I think this is the part that produces the error.
[code]

[2018-09-13 18:58] ruddell commented on #8318
When you have `npm` as the `clientPackageManager`, it should not reference `yarnVersion`, see [the sample-app for the correct config](https://github.com/jhipster/jhipster-sample-app/blob/e6d4716e41e2a4a94de02673f5c74e4537cb62cf/pom.xml#L713-L742).  You can copy that config to fix your issue.

I'm closing since [it's not possible to generate that code](https://github.com/jhipster/generator-jhipster

[2018-09-13 18:58] #8318 closed

[2018-09-13 19:06] arabbani commented on #8318
It was indeed a problem with the upgrade process brother. What i did was that i had changed packageManager to 'npm' in v5.0.1, because yarn had some issue. So while upgrading maybe the generator found npm, and skips any modification if it would have found yarn instead

[2018-09-13 19:40] deepu105 commented on #8301
Sure I'll test this tomorrow. I should be using the master branch image of
registry right?

On Thu, 13 Sep 2018, 5:20 pm Jason Millard, <notifications@github.com>
wrote:

[2018-09-13 19:46] deepu105 commented on #7738
I'm planning some twitter discussion on topic of diversity to get some ideas for improvement. @aneveu let me know if you can organise the logo competition. I'll be happy to assist. We can discuss on the requirements as well

[2018-09-13 22:08] jdubois commented on #8301
Yes, the 'develop' looks broken.

[2018-09-13 22:15] pascalgrimaud commented on #8301
@jsm174 : thanks a lot for your analyze, so I tried to do the same, so here a little resume:

- using jhipster-registry master, I don't have any issue with JWT -> so for me, this point is resolved!

- the CORS problem comes from the Upgrade to JHipster dependencies 2.0.15 -> it includes this commit https://github.com/jhipster/jhipster/commit/a3b3f30b22faa37571fce0dcc16524feff3eafa7 with Finchley.R

[2018-09-14 00:03] NasrinD opened #8319 "Getting "Can't resolve" Error on creating UI for entities of microservice in the gateway"
##### **Overview of the issue**
I am trying to generate the front-end for my microservice application. But when I try to create the UI for my entities (which I have already created in my microservice application), I get the following errors:

![image](https://user-images.githubusercontent.com/13658426/45521648-332ca300-b7bf-11e8-9d70-b2f1854b4cd5.png)

![image](https://user-images.githubuserconten

[2018-09-14 00:45] ruddell commented on #8319
This happens because your entities have relations, so just generating the Printer is missing the CashDesk service ts file which is used in the update component.  You should set a `microservice` name in your JDL and import that, it will build successfully (`microservice * with cashdesk`).

[JDL Microservice Docs](https://www.jhipster.tech/jdl/#microserviceoptions)

[2018-09-14 01:12] mraible opened #8320 "Compilation of generated TypeScript files no longer necessary"
The entity generator compiles everything after it generates files. This is no longer needed since the Maven or Gradle process is smart enough to build everything (if necessary) when it restarts.

[2018-09-14 02:17] ruddell commented on #8320
It only builds everything when there's no bundle in target/www.  This would still help if they run `mvn` before generating an entity.  You can run `--skip-install` with the entity generator to skip the TypeScript compilation

[2018-09-14 05:16] srinivasa-vasu commented on #7708
Update to Istio 1.x #8321 @saturnism

[2018-09-14 06:06] pksharmapokhrel opened #8322 "Error while upgrading existing project form v5.0.0 to v5.3.1"
##### **Overview of the issue**

After upgrading the existing project from jhipster version 5.0.0 to 5.3.1, project does not run due to problem caused in TokenProvider.java file
##### **Cause**

Error occurs due to length of the jwt security code provided in the updated application-dev.yml file which is of 240 bits and does not meet the requirement of HS512 algorithm which requires at least 512bit

[2018-09-14 06:16] pascalgrimaud commented on #8322
See the release note: https://www.jhipster.tech/2018/09/03/jhipster-release-5.3.0.html

[2018-09-14 06:26] deepu105 commented on #8320
The gradle/maven compilation is not smart enough yet :D

[2018-09-14 07:18] tibistibi commented on #8303
i checked and it is hit by a test:
AccountReesourceIntTest#testRegisterDuplicateLogin

i'm not sure but i think the flush problem does not happen with tests because the transaction is not commited but rolled back when test is done.

besides that there is a bug in the AccountReesourceIntTest#testRegisterDuplicateEmail()

it try's to test casing with email address but because the login stay's the sa

[2018-09-14 07:27] tibistibi commented on #8303
So i would do something like this:

[code]

[2018-09-14 07:33] tibistibi commented on #8303
While i'm thinking about this code on a higher level why is this added? Non activated users get deleted in 3 day's so if in between someone else registers with the same login it will replace the registration.

is this what we want?

[2018-09-14 07:59] wmarques commented on #8164
This is fixed by https://github.com/jhipster/generator-jhipster/pull/8197 right?

[2018-09-14 08:18] jdubois commented on #8303
Thanks @tibistibi - yes can you do just one PR with everything?
Indeed, I don't like this "feature", but this was asked by many people, so yes this is what "we" want ("we" being the majority of people, not including me). What happens, typically on JHipster Online, is that people try to register with a dummy e-mail. Then they realize they don't get the email, so they want to register again, with th

[2018-09-14 08:28] jdubois commented on #8303
That's a complex question... At the moment you can also use your email address as a login, so that should already work (you just copy/paste it).
The issue is that we want to be able to look at users, exactly like we do on GitHub if we go to https://github.com/tibistibi - and for that, e-mails addresses are not good: they look ugly, they contain private information (you might not want to show it on

[2018-09-14 08:35] tibistibi commented on #8303
I agree, but product owners ask for it, in my previous project i also merged the fields. The argument was simplicity one field less and avoid problems with multiple logins used etc...

Well lets leave the discussion and i will try to find time to fix the flush

[2018-09-14 08:37] jdubois commented on #8322
Yes, you need a bigger JWT key.

Sorry about that, I know this broke a lot of projects, and now I regret this choice. But it's very good for your project's security, so please understand this is also a way to protect you from attacks.

Also, we didn't have much choice, as this is forced by the new release of JJWT (and let's not keep an old version for something which is vital).

[2018-09-14 08:37] #8322 closed

[2018-09-14 08:39] jdubois commented on #8303
@tibistibi yes the more I see all those arguments (this is far from being the only one), I realize we do have some "legacy code" and we can't remove it easily.

Next major release (the only moment when we break APIs), we should do a big refactoring of all this.

[2018-09-14 08:40] jdubois commented on #8319
Closing as @ruddell has answered!
@NasrinD don't hesitate to comment if you still have errors, we'll re-open, of course.

[2018-09-14 08:40] #8319 closed

[2018-09-14 09:28] deepu105 commented on #8301
Also please note that the swagger API issue I mentioned is now present in both Registry and Gateway (with 5.2 it was working atleast in the registry)

[2018-09-14 09:33] jdubois commented on #8029
@ssurdu so that wouldn't be a Postgresql problem, but something generic? As you use SQL Server.
Are you also on JHipster 4.x ? Did you try with a 5.x version?

[2018-09-14 09:34] deepu105 commented on #8301
Also noticed another issue http://localhost:8761/#/logs doesnt seem to work for microservices

[2018-09-14 09:35] jdubois commented on #8301
OK that's awesome that the JWT issue is fixed, I'll do a release this afternoon (also a generator-jhipster release, so you get the correct Docker image).
For CORS and logs I'll have a look, and hopefully we can fix this before this afternoon, but that's less urgent.

[2018-09-14 10:10] ssurdu commented on #8029
The project was generated with an earlier version of jhipster (3.0.2 as indicated by jhipster-core/package.json), upgraded a few weeks ago (yo-rc.json is now showing "jhipsterVersion": "4.13.3").

It is not a PostgreSQL problem, nor MS SQL Server (tried with both Linux and Windows versions), it is rather related to the management of numeric sequences (the value obtained from hibernate_sequence see

[2018-09-14 11:18] mraible commented on #8029
FWIW, I’m thinking of trying UUIDs on my 21-points.com project. I experience the same login problem often.

[2018-09-14 11:34] jdubois commented on #8029
Using UUID is something that comes back quite often - I've always been opposed to it from a technical perspective, but the more times passes, the more I like the idea. That's definitely something worth considering, but of course that would be for a major release (JHipster 6).

Anyway, back to the current issue: this is something I've never experienced, and I don't know how to reproduce. I'm pretty

[2018-09-14 11:51] PierreBesson commented on #8297
Yes this is a valid use case because of Istio. So it should be fixed and we should add a daily build to hipster-labs for it.

[2018-09-14 13:26] #8309 closed, assigned to nobody

[2018-09-14 13:32] DanielFran commented on #8284
@avdev4j Do not forget to test requests using Filters.

[2018-09-14 13:43] mraible commented on #8029
I’d love to have an option to disable auditing since I don’t really need it and it causes problems.

[2018-09-14 14:55] jdubois commented on #8301
I just had no time to do anything else (as we had the master build failing), so I guess I'll do a release with just the JWT part corrected.
The rest will need to be done later.

[2018-09-14 17:19] DanielFran commented on #8284
@avdev4j I mean using DTO and filter options: https://www.jhipster.tech/entities-filtering/

[2018-09-14 17:46] standors opened #8326 "default docker config: gateway application crashes with error (not able to connect elasticsearch)"
##### **Overview of the issue**
in Jhipster 5.3.1 default docker configuration do not work
##### **Motivation for or Use Case**
generated simple config should work
##### **Reproduce the error**
generate new project
1. run Jhipster for microservice : application gateway
(maybe not only microservice problem)
**then start the application from generated  docker configuration in
gateway/src/main/docker

[2018-09-14 17:47] ruddell commented on #8164
Yep, outputs now match.  Nice job

[2018-09-14 17:47] #8164 closed

[2018-09-14 18:26] Flying-Bison opened #8327 "Generate dropdown selection lists for non enum fields and/or support custom enums."
##### **Overview of the feature request**

Enhance the JDL and generator to allow defining a set of acceptable values for an entity field in the JDL that will generate a dropdown list in the UI with the corresponding values. In addition it should add validation on the server side to ensure only those values are submitted.

##### **Motivation for or Use Case**

- Entity fields often have a specific

[2018-09-14 18:41] gmarziou commented on #8327
For the dropdown list, don't you think that  i18n option covers your needs?

[2018-09-14 18:51] Flying-Bison commented on #8327
I was hoping that we could define it from the JDL specifically. However, I am not overly familiar with i18n. I will need to review how i18n could provide this funcitonality or if you had an example that would help as well.

[2018-09-14 21:27] Flying-Bison commented on #8327
@gmarziou  I am sorry, I do not understand the first part of your response. How can I use i18n to provide a dropdown/select input field for the field of an entity that was defined in my JDL?

In my example above I have a field of type Double named interestRate on the Account entity. Instead of an open numeric input field for interestRate while creating an Account entity, I want to have a select li

[2018-09-14 21:51] gmarziou commented on #8327
Well maybe I did not understand your point but with i18n, the text in the select are not the Enum values but their translated values.

An example with an enum Gender with 2 values F and M.

In `src\main\webapp\i18n\en\gender.json`, you can translate

[code]

The HTML template then displayers the translated values using the `translate` pipe:

[code]

[2018-09-15 09:47] deepu105 commented on #7195
@Blackdread so what is left to do for this? can you summarize

[2018-09-15 09:57] deepu105 commented on #8327
We have too many open items at the moment to have new feature requests and this is a significant one and it's not very difficult for end users to do this themselves. That's why I'm closing this for now.

I don't think we will do the first part of your proposal, but for the enum part I think we can consider if you are willing to PR

[2018-09-15 09:58] deepu105 commented on #8327
let me know if you willing to implement the enum solution, but please note in that case it also has to work with i18n

[2018-09-15 09:58] #8327 closed

[2018-09-15 10:00] deepu105 commented on #8313
@MathieuAA seems like export JDL is failing for some cases. I also noticed it recently

[2018-09-15 10:01] deepu105 commented on #8303
closed via #8323

[2018-09-15 10:01] #8303 closed

[2018-09-15 10:05] deepu105 opened #8328 "Swagger UI doesnt work on Gateways and Registry for microservices"
Issue separated from https://github.com/jhipster/generator-jhipster/issues/8301 see #8301 for details

[2018-09-15 10:06] deepu105 opened #8329 "The logs page on registry doesn't work for Gateway and microservices"
Issue separated from #8301 see that for details

[2018-09-15 10:07] deepu105 commented on #8301
closing as remaining issues are moved to new ones with bounty

[2018-09-15 10:07] #8301 closed

[2018-09-15 10:11] deepu105 commented on #8262
Let's leave it as it is as its still useful when splitting your server and client

[2018-09-15 10:11] #8262 closed

[2018-09-15 10:12] deepu105 commented on #8254
@sonersivri please make a PR when you are ready

[2018-09-15 10:18] deepu105 commented on #8253
IMO we will be updating to Spring boot 2.1 very soon (ping @DanielFran) and since this affects only a subset of users lets document it here, for now, is that ok with you @sonersivri in that case we can close this and wait for the upgrade mostly by next month

[2018-09-15 10:27] deepu105 commented on #8222
adding a bounty

[2018-09-15 10:30] #7944 closed

[2018-09-15 10:31] deepu105 commented on #8152
no response for 23 days. @stefantwogI'm closing this. If you have more info for us to reproduce please update and ask to reopen. Also please follow our issue template properly please

[2018-09-15 10:31] #8152 closed

[2018-09-15 10:35] #8086 closed

[2018-09-15 10:40] deepu105 commented on #8142
@antonioortizpola if you are planning to do a PR please go ahead and we will merge it. I'm closing this ticket as the core team wont be doing this.

[2018-09-15 10:40] #8142 closed

[2018-09-15 10:41] deepu105 commented on #8040
is someone working on this? @gzsombor is this a bug?

[2018-09-15 10:42] deepu105 commented on #8021
assigned a bounty. @RothAndrew if you are willing to do a PR please do claim the bounty

[2018-09-15 10:50] deepu105 commented on #7961
While accessibility is very important I'm not willing to override everything provided by Bootstrap.
See my reason below
1. Our policy is to use the defaults from the underlying lib as much as possible.
2. The default theme provided by JHipster is just a starter and we are not expecting any real application to use it as it is. So, in that case, it's up to the users to use colors based on there spec

[2018-09-15 10:50] #7961 closed

[2018-09-15 12:53] atomfrede commented on #8248
The most severe issue is inside a shaded jackson dependency for docker java which is used only in a gradle plugin. I ask myself if we can fix that without contributing it upstream. h2 and mysql cve can easily be fixed by us.

[2018-09-15 13:08] abhisheksharma85 commented on #8242
Sure Deepu ! I will make it as  module

[2018-09-15 13:09] jdubois commented on #8253
Indeed, I didn't realize Spring Boot 2.1 was so close - let's not add more work, at the moment we have too many opened tickets (I've been working every evening this week, and now during the week-end...). This is a very important issue (and also a very interesting one), but it's going to be solved automatically very soon, so no need to worry.

[2018-09-15 13:09] #8253 closed

[2018-09-15 14:54] #8220 closed

[2018-09-15 16:33] danielpetisme commented on #8248
What I propose:
1- Work on the cves we  can fix by ourself
2- Create an issue (if not already done) to the 3rd party libs we can't fix
3- Add a section in the release note to explicit the fact that is not depending of JHipster and link the issue
Looks more like a process fix than a technical fix but IMHO if we can't do nothing to fix a vulnerability the JHipster should be aware of the risks.

WDYT

[2018-09-15 18:57] deepu105 commented on #8185
@MathieuAA I think you are generating jwtSecretKey from jh core, it keeps changing that during regeneration. You can leave that prop in generated json files and the generator will automatically generate that if not found

[2018-09-15 19:17] Blackdread commented on #7195
On id field cannot be filtered with ranges because it uses buildSpecification instead of range specificaion as id is a Long.
The rest is fixed as it will use "buildReferringEntitySpecification(RangeFilter<X> filter," if type of filter is compatible with RangeFilter (methods overloading)

[2018-09-15 19:43] MathieuAA commented on #8185
@deepu105 Indeed. I'll fix it tomorrow and release v3.3.4 for that (and do the same for `rememberMe` keys as well)

[2018-09-15 19:50] DanielFran commented on #7195
I vote 2

[2018-09-16 07:38] deepu105 commented on #8248
I agree

On Sat, 15 Sep 2018, 6:33 pm Daniel PETISME, <notifications@github.com>
wrote:

[2018-09-16 07:44] #8222 closed

[2018-09-16 07:51] pascalgrimaud commented on #8326
@ruddell : would you like to do a PR, as you're the one who suggested the fix

[2018-09-16 08:51] pascalgrimaud opened #8337 "🚀 Azure DevOps"
Following this ticket (3 years ago): https://github.com/jhipster/generator-jhipster/issues/2182
Our QA needs to be improved continuously.

I made some tests with Azure DevOps: https://docs.microsoft.com/en-us/azure/devops/pipelines and it will allow us to make 10 parallel builds, instead of 5 with Travis.
The first PR for Azure Pipelines was done: https://github.com/jhipster/generator-jhipster/pul

[2018-09-16 08:55] pascalgrimaud commented on #8185
This ticket is complex and deserves clearly a bounty on this.

[2018-09-16 09:09] MathieuAA commented on #8175
So weird: reproduced with both the JDL import & the questions/answers. With the latest generator version. I think I've found out why: it's because of the `'` in the regex

[2018-09-16 09:15] MathieuAA commented on #8175
I thought the generator does escape characters. There may be a fix to do

[2018-09-16 09:17] MathieuAA commented on #8185
@pascalgrimaud I disagree. The complexity is either brought by:
  - Small things (changes here and there, nothing huge and interesting)
  - the generator itself (its internal composition, but we're already limited by yeoman)
IMO, this ticket should be split in several tasks.

[2018-09-16 09:18] atomfrede commented on #8337
Maybe we can also integrate gitlab ci to have more pipelines  or different pipelines. https://about.gitlab.com/features/github/

[2018-09-16 09:30] DanielFran commented on #8337
+++1 for gitlab

[2018-09-16 09:35] pascalgrimaud commented on #8337
it can be discussed about GitLab CI. But how much parallel builds can we have with GitLab CI ?
- Azure Pipelines: 10
- Travis: 5
- Circle CI: 4

[2018-09-16 09:43] atomfrede commented on #8337
As far as I know more or less infinite. At least I am not aware of some
limit. Each job per step is executed in parallel by default

On Sun, Sep 16, 2018, 11:35 Pascal Grimaud <notifications@github.com> wrote:

[2018-09-16 10:45] Blackdread commented on #8214
Thank you, I will do a PR if the team think we can add this feature.
I can add at least one or two tests so code is not completely "unused".
Indeed it will work only when service and DTO are selected and criterias with filetring.

[2018-09-16 11:42] MathieuAA commented on #8175
Done for JCore, it must also be done for the entity generator, working on it

[2018-09-16 12:01] deepu105 commented on #8185
I have 2 bounties left from yesterday, I'm gonna assign one to the JHcore ticket and one here

[2018-09-16 12:06] deepu105 commented on #8185
@pascalgrimaud and lets do the travis part in another ticket

[2018-09-16 12:46] guyi opened #8339 "vue"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2018-09-16 12:47] guyi commented on #8339
nothing to say

[2018-09-16 18:17] atomfrede commented on #8337
So now I remember how gitlab prices their ci solution. When using their shared runners there is a time limit per group: `2,000 CI pipeline minutes per group per month on our shared runners`. Not sure, but maybe they will provide us with a larger plan for free if we would like to integrate them in to our pipelines.

[2018-09-16 21:15] #8185 closed

[2018-09-17 08:31] jdubois commented on #8214
Oh sorry, I understand it's different with service/DTO, as you do this by criteria, so it's fine if you don't have the same REST endpoints.
So that looks OK for me, but it's a complex part that I don't know extremely well - I would appreciate more comments from other people, just to be sure.

[2018-09-17 08:33] #8297 closed

[2018-09-17 08:35] #8326 closed

[2018-09-17 09:45] gzsombor commented on #8214
In which scenario do you need only the count of entities, but not the first page of entities in the UI layer? But this doesn't seems to difficult to implement.

[2018-09-17 10:39] Blackdread commented on #8214
I use it when I do not need to fetch all the data from DTOs.
Sometimes I can have some async data for display purposes, no sorting, etc so a count only will be faster than fetching a page of one element by criteria and then get the count from the header.
It is a point of view, either a count only is returned in the body or 0/1 entity dto is returned with some header for the "X-Total-Count"

[2018-09-17 12:07] gthiabaud opened #8349 "UAA server not starting just after creation by using JHipster"
##### **Overview of the issue**

Impossible to start uaa server immediatly just after creating it with JHipster v5.3.1

##### **Motivation for or Use Case**

It is a bug because the issue appear during the compilation phase when I start UAA server the first time after changing nothing.

##### **Reproduce the error**

With JHipster v5.3.1 create a uaa server.
Start it by using .mvnw

##### **Relate

[2018-09-17 12:33] danielpetisme commented on #7945
Good news, I succeed to use jib (with Gradle) to build a docker image.
This is the content of my `gradle/docker.gradle`
[code]
After a quick tour the web app seems to be working as expected (no weird message in the logs).
I make the `jibDockerBuild` task dependsOn bootJar just to take advantage of the `copyIntoStatic` task present in `gradle/profile_(dev,prod).gradle.
I agree that using `bootJar`

[2018-09-17 12:55] danielpetisme commented on #7945
It works with Maven too !!
[code]
output:
[code]

Time to PR-it

[2018-09-17 13:05] jdubois commented on #8349
I'm pretty sure this is a duplicate, but I couldn't find the original ticket.

Anyway, this is already fixed on `master`, thanks @gthiabaud !

[2018-09-17 13:05] #8349 closed

[2018-09-17 13:50] mraible opened #8350 "[documentation] Update liquibase documentation for Gradle"
##### **Overview of the issue**

The [documentation](https://www.jhipster.tech/development/#using-a-database) currently says:

If you use Gradle instead of Maven, you can use the same workflow by running `./gradlew liquibaseDiffChangelog`, and change the database configuration in `liquibase.gradle` if required.

The `liquibase.gradle` file doesn't exist anymore. I believe the command should be `./

[2018-09-17 14:12] danielpetisme commented on #7945
And now maven
**pom.xml** (sorry for the formatting)
[code]

[code]

[2018-09-17 15:01] jdubois commented on #8175
Re-opening as PR as been rolled back

[2018-09-17 15:53] atomfrede commented on #8350
@mraible Oh yes, I forgot. Will update it hopefully today.

[2018-09-17 16:02] anjia0532 commented on #7945
cool!

[2018-09-17 18:45] antonioortizpola commented on #8142
Sorry, i was on vacations and i did not check my account until today.

@deepu105 yes, i really want to make a little contribution to your project, i already modified the necessary files, i only found one problem, well, more like a confusion, about the translate utils and what it is the best way to handle it, if you check my last comment you will see what i am talking about.

I did not wanted to fi

[2018-09-17 19:45] pascalgrimaud opened #8351 "Compilation error with Criteria"
Following this PR: https://github.com/jhipster/generator-jhipster/pull/8054
It seems to broke all current builds, after v5.3.3 release.

I look Travis, and here the log errors:

[code]

[2018-09-17 19:47] jdubois commented on #8351
Yes indeed, so bad news.... I think that the initial bug, that @deepu105 corrected, made that `--with-entities` did not work, so the tests were not run on entities. And so now it works again, we've found some new bugs...
Time to fix and do yet another release :-(

[2018-09-17 19:49] gzsombor commented on #8351
Sorry, I'm going to fix this, the change looked so innocent, my bad.

[2018-09-17 19:49] jdubois commented on #8351
Thanks @gzsombor - I'm available right now if needed. I'll wait for your fix to do a new release.

[2018-09-17 19:52] pascalgrimaud commented on #8351
Thanks guys. I can't work on this any more tonight. I will be able to help tomorrow morning if needed.
Just have the time to reproduce locally and confirm the issue. Here my jhinfo to help:

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "

[2018-09-17 19:53] ctamisier commented on #8105
That's good that we can have a solution..
But thinking about this issue more globally, it means that having an already rendered 'fa-icon' we are not able to "change it" dynamically by applying different CSS classes. The solution seems that we need to have a component and then re-render it through the Angular way to have this working.
Isn't it too restrictive ?
(Shouldn't we just remove the js+svg

[2018-09-17 19:53] jdubois commented on #8351
No problem @pascalgrimaud ! I'll do the release tonight - @gzsombor just tell me if you have the time, I can probably also fix this myself

[2018-09-17 20:04] gzsombor commented on #8351
I have time, but it seems my npm/node/yarn environment went crazy, I fear, I have to setup from ground zero

[2018-09-17 20:04] jdubois commented on #8351
OK, I'm also having a look. You need Node 8, I had issues with Node 10 recently.

[2018-09-17 20:06] gzsombor commented on #8351
I have 8.9.4, but it's not recent enough :(

[2018-09-17 20:42] gzsombor commented on #8351
Thanks, I was much slower, now I see, it is working now.
(Sometimes I forget, what I don't like about npm, but after I have to use it again ... :wink:  )

[2018-09-17 21:07] jsm174 commented on #8328
For research:

I created a dummy microservice `token`. I turned on zuul debugging: `central-server-config/application.yml`:

[code]

In the browser, when accessing the service via the gateway's swagger UI for the first time, it errors within a few seconds:

`504 : {"timestamp":"2018-09-17T20:47:25.841+0000","status":504,"error":"Gateway Timeout","message":"com.netflix.zuul.exception.ZuulException:

[2018-09-17 21:17] deepu105 commented on #8142
We put the text inside so that we can strip translation when doing no i18n option and also it improves readability. I suggest to use the component mostly and use the method only in placeholders and stuff like that

[2018-09-17 21:51] antonioortizpola commented on #8142
Ok, i will finish my changes and make the pull request, just give me two days since i am checking some tasks of my work (returning from vacations). Thanks for the quick response!

[2018-09-18 02:19] jiangzhixiao opened #8357 "import org.zalando.problem.validation.ConstraintViolationProblemModule"
jhipster verstion:5.3.1
In  JacksonConfiguration,the generated import has wrong path???

![image](https://user-images.githubusercontent.com/7273487/45660585-06182180-bb2c-11e8-9915-82d1e29a9bef.png)

[2018-09-18 02:39] ruddell commented on #8357
This is fixed in the latest release ([code](https://github.com/jhipster/generator-jhipster/blob/70c0551b6ae1fa97907201bf70fa552cb8d3a2c6/generators/server/templates/src/main/java/package/config/JacksonConfiguration.java.ejs#L31)).  In the future please follow the issue template.

Related issue here https://github.com/jhipster/generator-jhipster/issues/8349

[2018-09-18 02:39] #8357 closed

[2018-09-18 02:54] jiangzhixiao commented on #8357
@ruddell ok.thanks

[2018-09-18 04:46] pascalgrimaud commented on #8049
Travis didn't show correct results, it's very strange.

And don't be sorry for contributing ! Never ! :-)

[2018-09-18 05:41] atomfrede opened #8358 "Use gitlab ci stages"
##### Improve generated gitlab ci pipeline

Currently there is only one step in the gitlab ci pipeline. We should use different stages

##### **Motivation for or Use Case**

In case one step fails we we have to execute all steps of teh script before. Furthermore when using deploy to heroku we can't see which commit is currently deployed in gitlabs environment overview and maybe rollback.

An examp

[2018-09-18 05:53] pascalgrimaud commented on #8358
@atomfrede : I'm the one who removed the GitLabCI stages. See the related issue: https://github.com/jhipster/generator-jhipster/issues/7904#issue-337273283

I saw too much issues with stages, specially when using Sonar Analyze.

But we can of course give it a try to put back the stages. I will try your config to see if it works well with SonarCloud

[2018-09-18 05:56] atomfrede commented on #8358
Ah was not aware of some issues. I will look into it, never tried sonar cloud. Will also bring gradle and artifactory on track.

[2018-09-18 06:04] pascalgrimaud commented on #8358
the problem was the data between stages, which doesn't share. Here, npm-test and sonar-check

[2018-09-18 07:01] alexander-redmann-teaching opened #8359 "Account Management should be optional if selecting OIDC Authentication"
##### **Overview of the feature request**

If selecting an application with OIDC authentication support, the user should be ask if he want that the user and accountmanagement stuff should be generated.

##### **Motivation for or Use Case**

The big advantage of the OIDC protocoll is that the whole user information is stored inside the token and their is no need to store this information local insi

[2018-09-18 07:11] alexander-redmann-teaching opened #8360 "The example code in the jdl-studio is broken"
##### **Overview of the issue**

The example code in the jdl-studio is broken
https://start.jhipster.tech/jdl-studio/

##### **Reproduce the error**

Copy the code in an jh file and try to import via jhipster import-jdl. The import is aborted with:
The JDL is being parsed.
Error: Selecting DTOs without services is forbidden, for entities Employee, Job.
ERROR! Error while parsing applications and e

[2018-09-18 08:08] jdubois commented on #8360
Thanks @alexander-redmann-teaching - I know about this, I thought it was corrected!!

[2018-09-18 09:12] PierreBesson commented on #8360
Yes the example code is way too complex, I often see newcomers who struggle because they keep the dto and serviceImpl code at the end of the file.

[2018-09-18 09:14] alexander-redmann-teaching opened #8361 "Display Name does not work for OneToMany mappigns in JDL"
##### **Overview of the issue**

If i set a display name in JDL in OneToMany relationship in JDL the generated code does not display  the name but only the id. If you use the example JDL script and want to use the jobTitle and the lastName rather then the id I would expect to see this elements but only the id is present in the resulting code.

[code]

All other relationships works as expected.

[2018-09-18 09:35] jdubois commented on #8360
Yes we should definitely make it a lot more simple. No example of complex stuff at all.

[2018-09-18 10:36] mraible commented on #8359
If you select OAuth 2.0 / OIDC as your authentication mechanism, user management is skipped. Are you saying you'd like it added back in? I'm not sure what the issue is here. Are you reporting a bug? If so, what is it?

[2018-09-18 11:01] alexander-redmann-teaching commented on #8359
If i generate a monolithic or gateway app with jhipster with OIDC a domain object User and Authority and all belonging classes and services to manage these are generated. I think this should be optional if you decide to manage the user in your own provider and not inside the application.

[2018-09-18 12:15] mraible commented on #8359
This is because we have a User synchronization feature that copies the user’s data to the database when you first login. This allows you to create relationships with the User entity. The user is read only and there’s no UI to modify it.

How would you propose we refactor things and retain the ability to create relationships with a User?

[2018-09-18 12:19] aneveu commented on #7738
@deepu105 I won't have a lot of free time until the end of year so not sure I should take the lead on that, but I'll be happy to help if possible.

[2018-09-18 12:31] alexander-redmann-teaching commented on #8359
Ask on creation of the project if the creator is interested on the user entities or not. I think some projects doesn't need this feature.

[2018-09-18 12:58] mraible commented on #8359
This is JHipster's issue tracker and we prefer to use it to report bugs, not handle requests for enhancements. The best way to continue is to:

1. Edit this issue and provide the reasons why this is a bug for you (and your project's information).
2. Close this issue, make the changes required to implement this feature, and create a pull request.

If you decide to implement this feature, I'd recomm

[2018-09-18 13:36] Blackdread commented on #8049
@jdubois As I discover https://www.jhipster.tech/bug-bounties/ , must I put this link for the first time then not needed for next times?
https://opencollective.com/generator-jhipster/expenses/4974

[2018-09-18 13:39] jdubois commented on #8049
@Blackdread yes, that's just to be sure it's the same person who asks for the bounty. Anyway, now I got your email, so I know it's you :-)

[2018-09-18 14:57] pmverma commented on #7060
Is anyone looking into this? I can do a PR if nobody is working on this?

[2018-09-18 15:01] jdubois commented on #7060
@pmverma I'm pretty sure nobody works on this, I'll assign the ticket to you if you're fine with it (for this I'll add you to a JHipster group, you'll get an email)

[2018-09-18 15:09] pmverma commented on #7060
Thanks @jdubois I am fine. Please assign.

[2018-09-18 15:13] jdubois commented on #7060
@pmverma you need to accept the invitation to the org first :-)

[2018-09-18 15:21] jdubois commented on #8360
I just tested and had no problem at all, this is strange! @alexander-redmann-teaching can you share your JDL? Where did you get it exactly?

[2018-09-18 17:31] ruddell commented on #8361
Please fill out the issue template when opening new issues, it helps save us time when reproducing bugs.

In the case of your JDL, the select boxes are on the other side of the relationship than you expect, so set the select field up there as well:
 - the `job-update.component.ts` has the select box for Employees
 - the `employee-update.component.ts` has the select box for Departments

[code]

As

[2018-09-18 17:31] #8361 closed

[2018-09-18 17:45] pmverma commented on #7060
@jdubois Thanks for the invitation. I have just accepted.

[2018-09-18 19:21] arabbani opened #8363 "Problem with asynchronous REST API"
##### **Overview of the issue**

I have a rest controller that returns Callable.
`
@GetMapping("/fb-roles")
    @Timed
    public Callable<List<FbRole>> getAllFbRoles() {
        log.debug("REST request to get all FbRoles");
        return (() -> { return fbRoleRepository.findAll(); });
    }
`

JHipster configures a ThreadPoolTaskExecutor as following:
`
@Configuration
@EnableAsync
@EnableSchedul

[2018-09-18 19:51] atomfrede commented on #8358
@pascalgrimaud I have setup an example with gitlab and different stages using artifacts to pass data around. It looks good.

* https://gitlab.com/atomfrede/jhipster-pipeline-example
* https://sonarcloud.io/dashboard?id=com.gitlab.atomfrede.jhipster.pipeline.example%3Ajhigitlabpipeline

Currently checking how the junit failures are displayed in a merge request: https://gitlab.com/atomfrede/jhipster

[2018-09-18 20:16] gzsombor commented on #7574
My original idea to use lambdas to simplify the situation.
For example, we can add the 'genericEqualsSpecification method, and with this, we can deprecate the current equalsSpecification/equalsSetSpecification :

[code]

With this, you can easily extend to build your query through multiple layers:
   genericEqualsSpecification( root -> root.join(reference1).join(reference2).get(idField), value);

[2018-09-18 22:24] murdos opened #8364 "Enable unit testing of blueprints"
##### **Overview of the feature request**

Allow writing unit tests with yeoman-test when developing blueprints, invoking the main JHipster subgenerator while loading the blueprint subgenerator using .withGenerators(...).

##### **Motivation for or Use Case**

Writing such test in blueprint module currently doesn't work:
[code]
You end up with an error:
[code]

##### **Related issues or PR**

None

[2018-09-19 00:32] pascalgrimaud commented on #8358
Very nice ! so we should clearly put back the stages on our gitlab cicd Pipelines
Would you like to do a PR for that ?

[2018-09-19 04:08] atomfrede commented on #8358
Yes that was my plan. 😁 Would like to use the gitlab docker registry too but it can be a separate pr. Will create a maven sample project too before creating the pr.

[2018-09-19 07:09] Blackdread commented on #8363
I think you need to check Reactive Spring (webflux) and see how it works

[2018-09-19 07:14] arabbani commented on #8363
It is not possible to migrate to webflux. For now, i want to continue with spring mvc

[2018-09-19 08:44] jdubois commented on #8363
I'm sorry but this is not a bug, just a configuration you should do on Spring Boot - please have a look at the Spring Boot documentation, or ask a question on StackOverflow if that is not enough.
We do not provide this configuration out-of-the-box, as this is not a common requirement. We do indeed some similar things with a sync controller that calls an async service method, but we don't have asyn

[2018-09-19 08:44] #8363 closed

[2018-09-19 08:46] gmarziou commented on #8363
https://stackoverflow.com/questions/52397752/asynchronous-rest-api-generating-warning

[2018-09-19 08:49] jdubois commented on #8363
Then @arabbani it's not really nice to spam us, per the guidelines you should create one ticket if that's a bug or one question if that's a question. Please don't spam us.

[2018-09-19 09:10] jdubois commented on #8364
@deepu105 bounty added :-)

[2018-09-19 10:02] deepu105 commented on #8364
@murdos please dont forget to claim your bounty

[2018-09-19 10:40] sonersivri commented on #8254
@deepu105 I am not a contributer how can I make a PR
I follow the CONTRIBUTING.md

[2018-09-19 10:49] arabbani commented on #8363
Sorry @jdubois . I thought it's a bug. So sorry for the inconvenience

[2018-09-19 10:55] #8359 closed

[2018-09-19 12:07] jdubois commented on #8363
No problem @arabbani you're really not the only one doing this :-)
I'm just trying not to have the same question/issue twice, as we follow both channels, and that makes extra work. Also, if other people have the same issue, they are lost.

[2018-09-19 12:08] jdubois commented on #8254
@sonersivri you need to do a fork of the project, on your own GitHub account (click on the fork button on the top right). Then you'll be able to do a PR.

[2018-09-19 13:02] danielpetisme commented on #8248
Regarding the report:

* [h2-1.4.197.jar](https://mvnrepository.com/artifact/com.h2database/h2/1.4.197)
  * Open Issues:
    * https://github.com/h2database/h2database/issues/1225
  * Fixable:  🚫h2 web console should be restricted to localhost by default thus not permit remote code execution.

---

* [mysql-connector-java-5.1.46.jar](https://mvnrepository.com/artifact/mysql/mysql-connector-java/5.

[2018-09-19 13:17] danielpetisme commented on #8248
Oops sorry

[2018-09-19 13:26] danielpetisme commented on #8248
@deepu105 @atomfrede do you know a way to generate all a .yo-rc.json for all jhipster combinations ?
I would like to try to generate all the variant of the build files to run the dependency check audit.

The other solution is to clone the rely on https://github.com/hipster-labs/jhipster-travis-build/tree/master/travis/samples but I would have to maintain them manually...

[2018-09-19 13:41] deepu105 opened #8366 "Issues with aws-containers subgenerator"
I have been playing with the AWS containers sub generator a lot these days and I find some issues there.

- [ ] If the application contains a cameCase base name this doesn't work
- [ ] For monoliths, there is microservice like flow which is useless and annoying
- [ ] Error reporting needs improvements
- [ ] The config is saved in the `.yo-rc.json` which is different from other cloud sub gens and c

[2018-09-19 14:07] jdubois commented on #8248
- For H2: we only use in dev mode so there's no big issue. But indeed it should only be available from localhost.
- For MySQL Connector let's upgrade it, not big deal
- For docker-java-shaded I have no idea what this is, I guess we use it to build Docker image? If it's only used at build time by a Maven plugin, then it's not big deal. But I'd like to know where it's used, that's the first time I s

[2018-09-19 14:54] Blackdread commented on #7574
I think is good but there might be still an issue in it.
Functions like below (at end of the comment) do the logic for a given filter but only works for SingularAttribute and require lot of code to be able to have a PluralAttribute for first, then second then third or second and third, etc (all combination).

I will find a way to pass the builder expression via arguments to a buildReferringEntityS

[2018-09-19 15:56] deepu105 commented on #8366
some logs
[code]

[2018-09-19 15:56] deepu105 commented on #8366
Has anyone had luck with deploying using this?

[2018-09-19 18:38] gzsombor commented on #7574
I have some free time, and try to put together my idea and create a pull request in this evening. Stay tuned :wink:

[2018-09-19 18:56] Abdull opened #8367 "React: Creating and editing users is tricky"
##### **Overview of the issue**

I noticed several problems with the user creation and editing dialog. One specific problem is already tracked in #8302. Here I want to list further problems. As these problems are quite interrelated, I'm creating a single issue.

**User creation incorrectly creates activated user even when the user is requested to be deactivated**
In the React frontend, under *User

[2018-09-19 19:54] ruddell commented on #8367
**User creation incorrectly creates activated user even when the user is requested to be deactivated**
In Angular, we disable this input when creating a new user, it should always be activated.  The new user is required to reset the password through an email for their first log in so it's the same as if they had to activate.

**User editing sometimes shows an incorrect activated/deactivated value*

[2018-09-19 21:33] deepu105 commented on #8367
Would appreciate if you are willing to contribute fixes and improvements
here

On Wed, 19 Sep 2018, 9:55 pm Jon Ruddell, <notifications@github.com> wrote:

[2018-09-19 21:57] gzsombor commented on #7574
The javadoc is not the best, there are tons of warning because of missing stuff, however it seem to be a compiling and working implementation, which can be extended.

[2018-09-19 21:59] gzsombor commented on #7195
I've opened a PR about a query service refactor, POC, here:  jhipster/jhipster#97. If you have time to review, and play around, give feedback about, it would be helpful, thanks.

[2018-09-20 07:52] SKoepsel opened #8370 "Extension of Domain Definition"
##### **Extension of Entity Generation Capabilities**

I propose that the JDL and related generators are extended to support the continous usage of jhipster and its tools in an agile development process and to support existing patterns in jHipster usage.
Therefore the following extensions to domain definitions are necessary:
- Optional replacement of the generated domain classes with"Generated" pr

[2018-09-20 07:57] #8370 closed

[2018-09-20 08:17] atomfrede commented on #8358
@jkutner Maybe you can give me a hint. I have deployed the application via `jhipster heroku`. When the gitlab ci job uses maven or gradle plugin to redeploy it, I get `iled to deploy application: Your buildpacks do not contain the heroku/jvm buildpack!Add heroku/jvm to your buildpack configuration or run `heroku buildpacks:clear`. Any idea why that happens? In the hroku web ui I can see both webpa

[2018-09-20 08:34] deepu105 commented on #8370
why did you close it?

Thanks & Regards,
Deepu

On Thu, Sep 20, 2018 at 9:57 AM SKoepsel <notifications@github.com> wrote:

[2018-09-20 08:39] IlllIl commented on #8370
Posted with the wrong account. Feel free to reopen or repost it if you feel that the content is appropriate.

[2018-09-20 10:17] Abdull commented on #8367
@ruddell, thank you for your comments.

Allright. I think then it's good to have the _Activated_ input form disabled/greyed out and checked during user creation.

I applied the changes of https://github.com/jhipster/generator-jhipster/pull/8338 to my code, but it does not improve the flaky checked/unchecked behavior.

[2018-09-20 10:56] mraible opened #8372 "Heroku deployment fails if registry password has a space in it"
##### **Overview of the issue**

If you use a password with a space in it when deploying a gateway (or microservice app) to Heroku, the deployment fails.

[code]

You also get into a weird state where `jhipster heroku` no longer works. I found that deleting the Heroku-related keys from `.yo-rc.json` allows you to start the process over again.

##### **Motivation for or Use Case**

Passwords as sen

[2018-09-20 11:55] mraible opened #8373 "Deploying microservice apps with MongoDB and Elasticsearch to Heroku doesn't work"
##### **Overview of the issue**

Error on startup is:

[code]

You can see the problem if you look at `application-heroku.yml`:

[code]

##### **Motivation for or Use Case**

Deploying a microservice to Heroku should work.

##### **Reproduce the error**

Follow the steps [described in this gist](https://gist.github.com/mraible/3c97f60c6617e67fd87cd9895d54311c), then try to deploy the "store" app t

[2018-09-20 12:55] MathieuAA commented on #8373
I'll have a look today

[2018-09-20 16:58] deepu105 commented on #7919
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2018-09-20 17:44] arabbani opened #8374 "Error in maven production build"
##### **Overview of the issue**
I've recently upgraded to JHipster v5.3.4. The production build is producing the fillowing error:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the ro

[2018-09-20 17:50] mraible commented on #8374
You need to include the output from `jhipster info` or we can't help you. I created several apps with JHipster v4.5.4 yesterday and didn't have ay issues with Maven.

[2018-09-20 17:52] arabbani commented on #8374
Just included

[2018-09-20 17:52] gmarziou commented on #8374
Please don't crosspost https://stackoverflow.com/questions/52430083/jhipster-is-producing-error-while-building-for-production

[2018-09-20 17:53] #8374 closed

[2018-09-20 18:44] jkutner commented on #8358
@atomfrede can you show me your `pom.xml`? I think `jhipster heroku` is setting the buildpack to `heroku/java`, but it needs to be `heroku/jvm` for the Maven/Gradle plugins. I've submitted #8375 to fix Maven. I'm not certain how to pass system props for Gradle.

[2018-09-20 19:31] mohsenr7596 commented on #4524
+1

[2018-09-20 21:14] atomfrede commented on #8358
No problem I take care of it. Thanks!

[2018-09-21 01:56] mraible opened #8376 "import-jdl creating API classes on gateway; there shouldn't be any"
##### **Overview of the issue**

I spent a good chunk of time today trying to re-create my [Develop a Microservices Architecture with OAuth 2.0 and JHipster](https://developer.okta.com/blog/2018/03/01/develop-microservices-jhipster-oauth) using `import-jdl` and the new support for creating multiple apps.

It all seemed fine locally until I deployed to Heroku. That's when I discovered that my gatew

[2018-09-21 02:51] vishal423 commented on #8376
I also noted this recently, but, didn't dig further assuming some issue with my setup

[2018-09-21 03:29] 1ssqq1lxr opened #8377 "How does Jhipster support Spring security oauth2 authorization_code mode instead of password mode?"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2018-09-21 03:51] ruddell commented on #8377
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-09-21 03:51] #8377 closed

[2018-09-21 03:59] ruddell commented on #8376
You need to set the microservice name ([docs](https://www.jhipster.tech/jdl/#microserviceoptions)).

    microservice Product with store
    microservice Blog, Post, Tag with blog

[2018-09-21 04:37] mraible commented on #8376
Thanks @ruddell! I'm closing this now.

[2018-09-21 04:37] #8376 closed

[2018-09-21 05:38] MathieuAA commented on #8373
Couldn't reproduce it. The JDL looks okay even though the error indicates that one of your field validations should have a value but hasn't.

[2018-09-21 05:56] MathieuAA commented on #8373
Found the bug, but your guidelines for reproducing the issues don't work. I'm gonna fix it. FYI, it fails with `min(0)`

[2018-09-21 06:44] Blackdread commented on #7574
The code looks good and should work, when I have time I will try it with an application (and join with more than 2/3 tables then filter on a field different than the fk of the join chain).
Maybe only need to put javadoc and should be good to merge as it does not break existing code, old methods are kept with @Deprecated annotation.
Can you add a method to overload the "buildSpecification" method b

[2018-09-21 07:27] deepu105 commented on #8366
@ggotti from https://github.com/jhipster/generator-jhipster/issues/6773 I see that you also implemented a microservice flow, but it seems broken, did you ever get a JH microservice to work with Fargate?

[2018-09-21 07:28] #8364 closed

[2018-09-21 07:30] deepu105 commented on #8254
via

[2018-09-21 07:30] #8254 closed

[2018-09-21 07:35] #8214 closed

[2018-09-21 07:39] atomfrede commented on #8337
Of course they have an open source program. We can get Gold for free if we apply and are accepted (I guess we will). This means we will get `50,000 CI pipeline minutes per month on our shared runners` and the whole feature set of gold. I would definitely try to integrate it.

[2018-09-21 07:56] deepu105 commented on #8376
I'll let you all in on a little secret. It might be a bit old school but I find it very effective. When I work on some big revamp I follow the below to make sure things work the same as it used to and I'm not introducing any huge change.

1. I create an app or a microservice stack manually using the latest stable JH version and commit it to git.
2. I delete everything and recreate the apps using m

[2018-09-21 07:59] deepu105 commented on #8376
Btw @mraible WDYT of the new multi-app creation? any feedback? also did I tell you the old JDL studio is updated to work with JDL 3? https://www.jhipster.tech/jdl-studio/

[2018-09-21 07:59] #8358 closed

[2018-09-21 08:17] #8049 closed

[2018-09-21 12:13] mraible commented on #8373
@MathieuAA I think there are two bugs here:

1. The Heroku sub-generator generates incorrect YAML in `application-heroku.yml` (cc @jkutner).
2. `jhipster info` doesn't work after generating a full-stack app with JDL.

I created my stack using [apps.jh](https://gist.github.com/mraible/3c97f60c6617e67fd87cd9895d54311c), but w/o the `microservice` bits at the bottom.

[2018-09-21 12:21] mraible commented on #8376
@deepu105 I love the multi-app generation feature! It makes it pretty awesome to demo JHipster microservices. I should have used your suggestion with Git, it probably would've saved me some time.

One issue I ran into that I sent to @jkutner is when I deploy everything to Heroku. My store microservice fails to communicate with its Elasticsearch instance:

[code]

I tried increasing the timeout for

[2018-09-21 12:24] Abdull opened #8379 "React: Protractor e2e entity tests are flaky"
##### **Overview of the issue**
Running `npm run e2e` on JHipster-generated entities and their Protractor test specs has them sometimes/nondeterministically hang during the _should delete last {EntityName}_ test:

[code]

When this happens, the automated Chrome window hangs at the following sample window until test timeout:
![flaky-test](https://user-images.githubusercontent.com/529862/45879801-19

[2018-09-21 13:48] deepu105 commented on #8376
Thanks for the feedback @mraible
I also don't have an idea about the ES part, and I'm no ES expert anyway. I'm sure the smarter folks on our team will come up with a solution.

I imagine a day where we can do everything on JDL and just import it and then we can also coin the term   `development-as-code` (I'm looking at infra-as-code, devops-as-code and so on :wink: )
But seriously imagine a single

[2018-09-21 13:50] deepu105 commented on #8379
Its a common issue with e2e setups, especially Protractor. If you have a
solution you are welcome to PR it

Thanks & Regards,
Deepu

On Fri, Sep 21, 2018 at 2:24 PM Abdull <notifications@github.com> wrote:

[2018-09-21 13:55] Abdull opened #8380 "jhipster-sample-app-react: org.hibernate.LazyInitializationException on entities with relationship"
##### **Overview of the issue**
Yes, `jhipster-sample-app-react` got entities to play since around `5.3.4`!

But it seems that the provided sample code is not correct, as for example the _Operation_ entity uses DTOs, but is not using services.  This causes an `org.hibernate.LazyInitializationException` when visiting the _Operation_ entity overview with existing _Operation_ entities:
![lazy-initial

[2018-09-21 14:09] deepu105 commented on #8380
@jdubois we really need to just automatically enable service if DTO is chosen, that will remove lot of such issues for us

[2018-09-21 14:13] jdubois commented on #8380
@deepu105 I thought it was already done, so I don't understand. Probably it's just that sample which is wrong, because it was coded before that (so it has an incorrect `.yo-rc.json`).

[2018-09-21 14:19] MathieuAA commented on #8376
@deepu105 this is on my mind ;)

[2018-09-21 14:22] Abdull opened #8381 "Outdated entity definitions in sample apps"
##### **Overview of the issue**

I noticed that the entity definitions in (at least) the _jhipster-sample-app-react_ and _jhipster-sample-app_ are invalid/outdated with respect to the current (i.e., `generator-jhipster@5.3.4`) JDL grammar and semantics.

E.g., for _jhipster-sample-app-react_, the [entity definitions](https://github.com/jhipster/jhipster-sample-app-react/tree/v5.3.4/.jhipster) will

[2018-09-21 14:56] mraible commented on #8376
@deepu105 Another thing that would be helpful is if the `.yo-rc.json` had the same order of keys if you're using `jhipster` vs `jhipster import-jdl`. Currently, they're very different, which makes it hard to compare the two.

For example, here's my "store" microservice app generated with `jhipster` using 5.1.0:

[code]

When using `jdl-import` and 5.3.4, properties are in a different order.

[code

[2018-09-21 16:01] deepu105 commented on #8376
@mraible I use the Sort JSON objects VSCode plugin and sort the jsons before comparing them. From JHCore it should be easy to write in a certain order but not sure if that's possible with Yeoman on generator. cc @MathieuAA

[2018-09-21 16:27] MathieuAA commented on #8376
I'm gonna sort them alphabetically.

[2018-09-21 16:54] ruddell commented on #8373
The simplest fix for `application-heroku.yml` is to use:

[code]
Otherwise we can use several if statements to expand the properties:

[code]
I can open a PR later when I find some time

[2018-09-21 17:39] #8372 closed

[2018-09-21 17:47] jkutner commented on #8373
@ruddell don't worry about it. i'll fix it now

[2018-09-21 22:10] MathieuAA commented on #8380
@deepu105 don't think it is as I throw an error [https://github.com/jhipster/jhipster-core/blob/master/lib/exceptions/business_error_checker.js#L316](here). Anyway, as I throw an error, the user is informed that the JDL is invalid and has to update it.
Setting services by default wouldn't be too hard, which value do I use for the option? `serviceImpl` or `serviceClass`?

[2018-09-21 22:17] deepu105 commented on #8380
I think serviceClass should be fine

Thanks & Regards,
Deepu

On Sat, Sep 22, 2018 at 12:10 AM Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2018-09-21 22:18] deepu105 commented on #8381
@Abdull would you like to PR a fix to the samples in the travis folder

[2018-09-21 23:07] mraible commented on #8376
@deepu105 It seems that https://www.jhipster.tech/jdl-studio/ is updated for the Full Stack JDL (see what I did there ;), but the [URL it recommends on JHipster Online](https://start.jhipster.tech/jdl-studio/) is not. Are there plans to keep them in sync, or remove one and redirect to the other?

[2018-09-21 23:19] #8373 closed

[2018-09-22 00:21] mraible opened #8384 "Make PostgreSQL the default in JHipster 6"
Because it’s awesome and we know it.

http://www.craigkerstiens.com/2018/09/20/postgresql-11-a-first-look/

[2018-09-22 06:31] MathieuAA commented on #8380
Perfect! Thanks

[2018-09-22 06:37] atomfrede commented on #8384
+1 Maybe we can also get rid of dev/production separation. We use testcontainers already for e.g. couchbase, why not use it postgres etc. too? We already rely a lot on docker(compose) so it is not a big problem imho.

[2018-09-22 08:50] deepu105 commented on #8376
Ideally they should be in sync. I'm waiting for Julien to release JH online with the update

[2018-09-22 08:51] deepu105 commented on #8376
And yes Full stack JDL sounds cool :)

[2018-09-22 09:02] deepu105 commented on #8384
We could but only problem is then in dev you need one more step to start
the app. Also h2 is much better when you are prototyping something and want
to recreate db all the time.

On Sat, 22 Sep 2018, 8:37 am Frederik Hahne, <notifications@github.com>
wrote:

[2018-09-22 10:15] atomfrede commented on #8384
That's right. We should gather some statistics how many choose same production and development databases.

[2018-09-22 10:32] agoncal commented on #8384
@deepu105 I like the idea of @atomfrede to gather some statistics. In the past I had so many issues with having different DBs in dev/prod that now I always use Postgres in dev/prod (much easier now with containers)

[2018-09-22 10:40] fresnault commented on #8105
I totally agree with you. It was easier by only changing the class css.

I propose a solution that seems to work for sorting the pagination. For the rest, as you say, it's possible to change the icon directly with the angular [icon] directive.

So, it's like you want. There was probably a good reason to have migrated to fortawesome + svg...

[2018-09-22 11:04] atomfrede commented on #8384
And if we use test containers for unit tests we have the same experience as before except removing/clearing data during development. But I am sure we can e.g. always reset the date in dev profile for example or provide a special flag when starting the application.

[2018-09-22 12:50] sendilkumarn commented on #8384
@atomfrede with `h2` as a default option, I think that will win hands down 👍

But I agree with @deepu105 here that we need to have `h2` to make sure that in `prototyping` it is always a single step to get started

[2018-09-22 16:32] wmarques commented on #8150
@deepu105 When you say "upgrading apps" you mean the upgrade sub-gen ?

[2018-09-22 16:44] deepu105 commented on #8150
@wmarques yes

[2018-09-22 16:59] wmarques commented on #8150
@deepu105 I don't understand the "generate SCSS and warn the user to choose", if SCSS is the default then we have to generate SCSS when we upgrade no ?
Or you meant ask the user to choose for each file?

[2018-09-22 17:05] deepu105 commented on #8150
If Sass is used in the app then we just regenerate it normally no issues here.
If we remove CSS option completely, that means we cant generate that for apps that upgrade, in that case we will generate SCSS and warn user that there is no CSS generated and user can choose to keep the SCSS or keep old CSS files

[2018-09-22 17:06] wmarques commented on #8150
Ok ! Thanks for clarification :) I'm starting to work on this.
I never worked on the upgrade sub-gen so I might take some time...

[2018-09-22 17:07] deepu105 commented on #8150
But lets not do this now, its a breaking change hence should be done for v6 thats why I added that label

[2018-09-22 19:49] gzsombor commented on #7574
I've modified the code, to have a "buildSpecification" methods with various Filter classes as parameters, so you don't have to remember, how it's actually named, and overloading works as expected.

[2018-09-22 22:39] #8021 closed

[2018-09-23 03:35] yelhouti commented on #6941
Hey @jdubois :)

could you put the bounty back? I fixed it...

Thanks in advance

[2018-09-23 07:29] antonioortizpola commented on #8142
@deepu105, i did my first pull request, i hope is good enough!

[2018-09-23 08:45] jeremyprioux commented on #7639
Here is a blueprint  Ant Design https://github.com/ChihoSin/generator-jhipster-ant-design

[2018-09-23 09:31] deepu105 commented on #6941
@yelhouti could you link the PR where you fixed it? I didn't find any

[2018-09-23 10:43] izio7 opened #8390 "Handle Entities (weak) relationships among microservices"
##### **Overview of the issue**
Having a relationships among entities, in different microservices, is not handled correctly and no exception is thrown.

Say you have a **book**, a **film** and an **author** entities. Each one managed by a different microservice (the entities involved are to be considered just as an example, since the real use case is more articolated).

##### Explain the bug, if a

[2018-09-23 11:02] jdubois commented on #6941
@yelhouti it depends on the fix as this isn't a trivial issue, can you tell us at least what you intend to do?

[2018-09-23 11:38] gmarziou commented on #8390
There are 2 parts in this request:

1. - JDL should raise an error for a relationship between entities from distinct microservices, I think the entity sub generator does not allow it as it does not know about the entities from other apps.
2. - Generate code for accessing entities from another microservice

1 is valid for me, 2 is more arguable because it seems like endorsement of such coupling bet

[2018-09-23 11:50] deepu105 commented on #8390
Yes I think the 1st issue is something we should handle and raise error.
Second one is something we should never allow or do

On Sun, 23 Sep 2018, 1:38 pm Gaël Marziou, <notifications@github.com> wrote:

[2018-09-23 11:55] deepu105 commented on #8390
@MathieuAA can we handle the first part in JDL

[2018-09-23 12:01] izio7 commented on #8390
@gmarziou @deepu105 @MathieuAA
Another inconsistence I found is that the `@Entity` annotation is missing from the generated domain classes, as well as the imports for e.g. @ManyToOne relationship, even when writing relationships between entities of the same Application, using the following **JDL**:

[code]

[2018-09-23 12:05] MathieuAA commented on #8390
@deepu105 Yes, I'll create an issue for that

[2018-09-23 12:12] deepu105 opened #8391 "Fix Export JDL"
Some issues and improvements for `export-jdl` command

- [x] The export-jdl sub generator currently seems broken for normal applications, this is the store application from this JDL https://gist.github.com/deepu105/83145766158bf8923d20866de1221afa

[code]

- [x] it doesn't support exporting applications
- [x] it doesn't support exporting multiple applications from a root folder

[2018-09-23 12:13] deepu105 commented on #8391
@MathieuAA do you think the second and third point is feasible

[2018-09-23 12:14] MathieuAA commented on #8391
Fixed the first one already, I'll create an issue for the two.

[2018-09-23 12:28] izio7 commented on #8390
@deepu105, what about this https://github.com/jhipster/generator-jhipster/issues/8390#issuecomment-423811452 ?

[2018-09-23 12:29] deepu105 commented on #8390
@izio7 I missed it, let me try it out and see what the issue is

[2018-09-23 12:37] deepu105 commented on #8390
@izio7 your JDL is invalid, `databaseType` should be `sql` and not `postgressql`, but ya this need to be validated cc @MathieuAA

[2018-09-23 12:40] izio7 commented on #8390
Missed it, I'll try with **sql** instead, and let you know.

[2018-09-23 13:40] yelhouti commented on #6941
@jdubois , @deepu105
I didn't make a PR, my fix is working locally but would need some rewrite to work for all IdPs.

Basically, what I do is use `GET` instead of `POST` for the jhipster `api/logout` endpoint and change the logoutSuccessHandler to do a redirect on the IdP URL, which in most IdPs (keycloak, Okta) the same as the user info endpoint (`XXX/userinfo` => `XXX/logout`).
I didn't find in

[2018-09-23 15:46] PierreBesson commented on #8328
Okay basically this seems to be a problem with the RewrittingFilter in prod mode (since the payload must be deziped and rezipped properly with Zuul and it seems that Zuul changed its  behavior in a newer version).

[2018-09-23 15:52] TonyLuo commented on #8328
have the same issue after upgrade from jhipster5.2.1 to jhipster5.3.4

[2018-09-23 16:01] PierreBesson commented on #8328
@TonyLuo Definitely it seems the problem is happening since we upgraded to Spring Cloud Finchley. Probably downgrading the gateway to Edgware is a temporary fix.

[2018-09-23 17:12] TonyLuo commented on #8328
it works in dev mode in local...
 the problem happens in prod mode after packaging and deploying to the server.

[2018-09-23 19:02] stieler-it commented on #6941
Like @mraible already explained, I'm not sure if logging out should be the default behavior of JHipster generated apps. If you integrate your app into an existing SSO infrastructure in your company you probably don't want to be auto-logged out there. Thus, I think we don't need a fix here but a new feature so the developer can decide what happens on logout. If the user can't do an actual logout, I

[2018-09-23 19:26] jabbaralisoomro1 opened #8392 ".MySQLNonTransientConnectionException: No operations allowed after connection closed."
##### **Overview of the issue**

[2018-09-23 20:29] deepu105 commented on #8392
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-09-23 20:29] #8392 closed

[2018-09-23 22:16] avdev4j commented on #8284
Hi guys,
Just a little update from my work.
I had to open an issue on hibernate bug tracker because I think there is somathing wrong when dealing with UTC dateTime on a time zone on Daylight time savng period.
https://hibernate.atlassian.net/browse/HHH-12988

Maybe we can wait for a hibernate community response before using definitively the "hibernate.jdbc.time_zone" option.

However only LocalDat

[2018-09-24 08:51] Tcharl opened #8394 "Enum do not work with application jdl"
##### **Overview of the issue**

Generating an application with enum do not work at least with full application defined in jdl

##### **Motivation for or Use Case**

Jdl syntax must be fully functional while generating an application!

##### **Reproduce the error**

generate an app containing enums:

`
application {
  config {
    baseName portal
    packageName com.corp.portal
    applicationType

[2018-09-24 08:59] MathieuAA commented on #8394
Hi. Enums aren't entities, you don't declare them in apps.

[2018-09-24 09:44] jdubois commented on #8284
Thanks a lot @avdev4j that's really awesome work!

- For the Hibernate issue that's quite unfortunate, so yes let's wait until they give some answer
- yes some tests are always good, especially on this part as it's quite tricky to check

[2018-09-24 09:47] jdubois commented on #6941
OK so following @stieler-it advice I indeed think we should not change the default behavior. I understand many people want this (and I have a client who does), but that would be confusing for all other people who expect the "normal" behavior.

@yelhouti how about contributing a tip at https://www.jhipster.tech/tips/ ? This would indeed be helpful for many people

[2018-09-24 10:05] MathieuAA commented on #8394
You're welcome :) glad it solved your prob

[2018-09-24 10:07] Blackdread commented on #8284
In addition of "useLegacyDatetimeCode=false" I also used "serverTimezone=UTC&timezone=UTC", I do not remember why I put it and if it was necessary (I have mysql db)

[2018-09-24 12:07] avdev4j commented on #8284
@jdubois
In my opinion it's a good choice to wait for a response from Hibernate but it's not a problem for keeping working on this feature:

@Blackdread
Thanks for tips. But I think it will not be necessary in the futur :

It's mean that this behaviour will override the hibernate one. If we definitively use the hibernate tuning you will not need to do this anymore ;).

[2018-09-24 12:42] maznag commented on #6941
For OKTA, as @mraible already explained in one of his tutorials [Logout with OKTA](https://developer.okta.com/blog/2018/06/18/spring-boot-angular-auth-code-flow#logout-with-okta) we can modify the logout() method to send a logout URL and the ID token back to the client as follow (it works well for okta but i haven't tested for Keycloak).

- AccountResource Api
<pre>
   private final UserService us

[2018-09-24 15:34] taizhang2018 opened #8396 "JHipster i18n issue: translation-not-found in user activation page and password reset page"
JHipster i18n issue: translation-not-found in user activation page and password reset page

My JHipster i18n works if users access it from the login page and it works fine after the users login. However, if the user click the link in the activation email to activate the account, i18n is not working because translation-not-found is shown for all jhiTranslate elements.

For example, when user receiv

[2018-09-24 15:46] yelhouti commented on #6941
@jdubois I can definitely do that, and I totally agree that when using OAuth2 this should be the default behavior.
@maznag what you mentioned definitely works and it was my first solution until I decided to use standard redirect and use get like in login instead of post.

@jdubois @deepu105 I want to mention that using OAuth2 instead of OIdC for authentication (instead of authorization) is wrong,

[2018-09-24 16:02] deepu105 commented on #8396
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-09-24 16:02] #8396 closed

[2018-09-24 16:04] mraible commented on #6941
We do use OIDC for authentication. Spring Security handles it for us, even if it’s not obvious. I know how to upgrade to Spring Security 5.1 (which has even better OIDC support). It’s part of Spring Boot 2.1. I’m not sure if we want to upgrade sooner. Also, property names will change. This seems like a breaking change, so might to wait for JHipster 6.

[2018-09-24 16:29] yelhouti commented on #6941
@mraible I just rechecked the code, the part responsible for checking the token is:
[code]
in the SSOConfig,
which in turn use the OAuth2 `userinfo` endpoint that checks that token is valid. the endpoint doesn't/can't check the audience field since it doesn't know against what to check it (and it's not it's job).
the endpoint returns a json without this `audience` info and the info is lost and nev

[2018-09-24 16:36] mraible commented on #6941
userinfo is part of OIDC, not OAuth.

I’m not sure is the issue you mention is cause by Spring Security or code we’re missing. Any improvements are most welcome!

[2018-09-24 16:41] yelhouti commented on #6941
@mraible the part of Spring security we are using has implmented OAuth2 not OIDC. It's implemted correctly for the authorization use case, and we are using it for the authentication use case.
PS: this is exactly what OIDC is supposed to fix.

[2018-09-24 17:47] taizhang2018 opened #8397 "JHipster i18n issue: translation-not-found in user activation page and password reset page"
My JHipster i18n works if users access it from the login page and it works fine after the users login. However, if the user click the link in the activation email to activate the account, i18n is not working because translation-not-found is shown for all jhiTranslate elements.

##### **Motivation for or Use Case**

For example, when user receives the following email: Your bbb account has been crea

[2018-09-24 18:12] ruddell commented on #8397
I couldn't reproduce your issue.  I tried generating a project with your config and using v4.8.2 and navigating to the password reset screen.  I'd recommend checking your browser console for errors.

<img width="512" alt="screen shot 2018-09-24 at 11 12 23 am" src="https://user-images.githubusercontent.com/4294623/45970207-c0a39a80-bfea-11e8-818a-1c4c01f8c964.png">

[2018-09-24 18:35] ruddell commented on #8397
Yes I copied and pasted the URL into a new tab.

[2018-09-24 18:54] taizhang2018 commented on #8397
Is it possible there's some settings regarding the i18n? Such as when to start it?
I don't see any error in my browser console, here's the info:

[HMR] Waiting for update signal from WDS...
webpack-internal:///./node_modules/@angular/core/@angular/core.es5.js:3129 Angular is running in the development mode. Call enableProdMode() to enable the production mode.
webpack-internal:///./src/main/webapp/

[2018-09-24 19:32] ruddell commented on #8397
When something is not reproducible on a new generated project, it's usually related to some changes or customization added by the developer.  I usually tell people to try rolling back changes via git until they can identify which part of the code causes the issue.

I still can't reproduce and it doesn't seem to affect v5 either, so I'm closing this.  Please re-open if you can provide us steps to r

[2018-09-24 19:32] #8397 closed

[2018-09-24 19:45] millsofmn opened #8398 "Updating User Returns to Default User Management Page Instead of Previous"
##### **Overview of the issue**

When I'm updating a user that is on page 2 after hitting save I am forwarded to the default '/admin/user-management' page. It should go to the previous page that it was on. In this case since I was on page 2 it should go there not page 1.

##### **Motivation for or Use Case**

I expect after save to go the page where I originally was.

##### **Reproduce the error**

[2018-09-24 22:08] mraible commented on #6941
A PR to use it the right way is most welcome!

[2018-09-25 09:06] yelhouti commented on #6941
Unfortunately, I just don't have time for that these days, as soon as I can I will do it.

[2018-09-25 13:35] kyklovod opened #8401 "Run gatling test with JHipster"
##### **How to run gatling test is not described in details**

As of Septermber 2018 following list are needed pom dependancies which make it possible to run gatling test

Hope it will help anyone facing same issue

[code]

[2018-09-25 13:38] jdubois commented on #8401
Thanks but now we recommend to install Gatling separately, and not as a Maven plugin. The reason is that its dependencies are mixed with the application's dependencies, and that causes many issues (for example, for people using Kafka, as they use a different Scala version).

Of course, for "normal" people your solution will work, and is probably easier. But this caused far too many issues on the b

[2018-09-25 13:38] #8401 closed

[2018-09-25 13:43] kyklovod commented on #8401
Thanks for comment - I just wanted to share findings about gatling as some user may need same.
Regards

[2018-09-25 13:44] jdubois commented on #8401
Yes you are totally right (and very nice!) to do this!

[2018-09-25 19:53] deepu105 commented on #8327
1. It is conplex to maintain
2. Requires lot of changes to JDL and generator
3. Not a widely used requirement(if you have drop-downs, most likely you fetch its data using Rest and in that case you can model them as relationship, for remaining you have enums)
4. Not very hard to just add it to UI code directly by user

[2018-09-25 19:55] deepu105 commented on #8327
But if you disagree, you are welcome to do a PR with your proposal and if we are convinced that it doesn't add maintenance burden and offers value to end user then we will consider it

[2018-09-25 20:20] Flying-Bison commented on #8327
Thank you for the feedback, I apologize for continuing this after it was closed. This helps me understand your point of view much better. I don't disagree with your explanation. I may take a look to familiarize myself with the JDL and Generator. However, I do not intend to add unnecessary complexity into your environment.

[2018-09-25 22:04] DanielFran opened #8403 "[documentation] Add missing JDL field validation for unique constraint"
##### **Overview of the issue**

Reviewing JDL documentation I discover that the [unique constraint implementation](https://github.com/jhipster/jhipster-core/commit/a4c7081b8f16b858bdfaa69d294f5774f6e27949) in jhipster-core project has never been documented in [JDL documentation](https://www.jhipster.tech//jdl/).

##### **Motivation for or Use Case**

A new feature since v.4.13.0  & v5.0.0.beta2 t

[2018-09-25 22:19] DanielFran commented on #8403
@MathieuAA I did not found any reference in https://github.com/jhipster/jhipster.github.io/blob/master/pages/jdl.md.
Do you want I PR to add the information?

[2018-09-26 03:48] caffeinecoders opened #8404 "UserRouteAccessService doesn't work if login is email id"
##### **Overview of the issue**

When email id is used as login, UserRouteAccessService stops working.

##### **Reproduce the error**

Create Jhipster Project with Keycloak integration.
On Keycloak enable using email id as username.
Register a new user, and use email id as username.

Now when you login with that email id, and click on any link which calls UserRouteAccessService, the link will not

[2018-09-26 05:28] MathieuAA commented on #8403
Is it finally in the generator?! I have a branch already for this... I'll find time to merge it and add the doc

[2018-09-26 05:38] TonyLuo commented on #8328
@PierreBesson I try to downgrade the gateway ,but it doesn't work.
Could you pls advise how to downgrade the gateway as a  temporary fix? thanks

[2018-09-26 06:38] deepu105 commented on #8360
I think the sample bis not updated yet, if you are trying it just enable service for all entity as well

[2018-09-26 06:39] deepu105 commented on #8403
I'm not sure, will need to look at code. But I think it wad reverted at
some point due to issues

On Wed, 26 Sep 2018, 7:29 am Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2018-09-26 06:56] MathieuAA commented on #8403
Well, once it's in the generator and enabled, feel free to reach me so that I can do my part. Thanks :)

[2018-09-26 06:56] MathieuAA commented on #8360
Gotta come up with a new example...

[2018-09-26 08:46] vishrutkmr7 commented on #6566
On doing this, it shows:
Error: Path "" must be absolute.
Path "" must be absolute.

[2018-09-26 13:05] pascalgrimaud opened #8405 "Bug with clean+package in prod, without node_modules"
##### **Overview of the issue**

Thanks to @hcapitaine for reporting to me this issue.

When the `node_modules/` is missing, you can't package the application with `prod` profile.
The error is:
[code]

##### **Motivation for or Use Case**

We should be able to package in prod, with or without the `node_modules` folder

##### **Reproduce the error**

1) generate a jhipster application with: `jhipst

[2018-09-26 15:36] #8398 closed

[2018-09-26 18:31] MehrCurry opened #8408 "entrypoint.sh does not work on Openshift"
##### entrypoint.sh does not work on Openshift

JHipster generates a Dockerfile and an entrypoint.sh. The java command inside entrypoint.sh does not work on openshift because it runs with a random user and $HOME is unset.

[code]

##### **Motivation for or Use Case**

The generated Dockerfile should work in all environments.

##### **Reproduce the error**

Take a newly generated project and try to

[2018-09-26 19:47] deepu105 commented on #8405
I think I saw similar error with Gradle when you don't have nodeJS
installed. The builds were suppose to do a local node/npm setup when global
is not found as well

On Wed, 26 Sep 2018, 6:28 pm Jon Ruddell, <notifications@github.com> wrote:

[2018-09-27 06:29] SheikhZayed opened #8410 "Integration with Vaadin"
Integration with vaadin as Frontend

It would be great if jhipster can include vaadin in UI Layer along with React/Angular

It would be simple enough to use vaadin in the frontend because most of us who use jhipster are good java developers.
So,we can eliminate the need of knowing a JS framework,which inturn will make a single java dev handle both frontend and backend..

which would be really grea

[2018-09-27 06:41] atomfrede commented on #8410
I agree with you that a complete java stack (vaadin, thymeleaf or something else) would be quite cool, but I don't think we can handle that in the core. But we have now blueprints (https://www.jhipster.tech/modules/creating-a-blueprint/). The vue.js support for example will be a blueprint and I think vaading support would be a great candidate for a blueprint.

[2018-09-27 06:41] #8410 closed

[2018-09-27 06:55] SheikhZayed commented on #8410
is there a blueprint for vaadin?

[2018-09-27 07:45] SheikhZayed commented on #8410
Sure ✌️

On Thu, Sep 27, 2018, 11:25 AM Deepu K Sasidharan <notifications@github.com>
wrote:

[2018-09-27 09:17] jdubois commented on #8384
For production -> I think we all agree here. I'm closing this as there's no need to keep the ticket opened for months, just to remember this. Let's use the "v6" tag as @deepu105 did, and we'll need to read the issues when we start v6 (maybe next spring?)
For dev I'm quite happy with H2, at least it provides a great "out of the box" experience for developers, which is our #1 goal. Then, we can't ex

[2018-09-27 09:17] #8384 closed

[2018-09-27 10:08] jdubois commented on #6735
Thanks a lot @kaidohallik but I just tested your fix and it didn't make any difference.... I'm going to do a PR with your change and link it here, if someone wants to check.

For the record, here is the JDL that fails:

[code]

Otherwise this is a very specific use case, and this has been opened for a very long time, even with the $100 tag, so at some point we'll need to close this.

[2018-09-27 13:57] Blackdread commented on #7574
I think can close this issue since #97 is merged. CriteriaUtil is an opinionated implementation, anyone can decide by himself.

[2018-09-27 13:57] #7574 closed

[2018-09-27 14:05] jdubois commented on #8360
I have modified the example with last release, it's OK now!

[2018-09-27 14:05] #8360 closed

[2018-09-27 15:40] amanganiello90 opened #8412 "War generation choice for microservice"
Hi all. My question is about the packaging of spring boot app. What is the reason that we have choosen the war file instead of jar in the microservice generation? This isn't a monolitic project with client web side, maybe would be better a fat jar packaging. Thanks

[2018-09-27 15:48] deepu105 commented on #8412
Please see this https://github.com/jhipster/generator-jhipster/issues/8172

[2018-09-27 15:48] #8412 closed

[2018-09-27 21:48] mjj55409 commented on #8350
It's not clear what is the new process for updating the database using liquibase and gradle.

Running `./gradlew liquibaseDiffChangeLog` complains that `referenceUrl` is missing, because as pointed out above, `liquibase.gradle` no longer exists.

Running `./gradlew liquibaseGenerateChangeLog` complains that `liquibase/master.xml` already exists.

How do you now generate change logs with liquibase?

[2018-09-28 04:56] atomfrede commented on #8350
I will update the documentation during the weekend. But in short, you need to provide a runlist as the plugin just proxies commands to the liquibase cli. When you give the cli a parameter that is not allowed for that specific command (e.g. referenceUrl for validate) it will fail.

So try `gradlew liquibaseDiffChangelog -PrunList=diffLog` to create a difflog.

[2018-09-28 05:30] pascalgrimaud commented on #8328
@TonyLuo : downgrading Spring Cloud Finchley to use a previous version is a solution.

But after spending hours on this, I got the solution! I will PR soon to fix this

[2018-09-28 05:48] caffeinecoders commented on #8404
We can close this issue, as issue is not occurring because of using email id as login, but because when I was using keycloak, new user being registered were not getting user role by default.
And when in ts file were were checking if user have any authority, code was failing at that time.

[2018-09-28 07:03] #8404 closed

[2018-09-28 08:06] danielpetisme opened #8414 "Delay app. startup in the"
##### **Overview of the feature request**

Right now, the docker entrypoint run a shell command to delay the app startup in order to wait other services to be up and running.
[code]

With the jib integration this shell hack force me to override the default entrypoint.
This feature aims to move the startup delay from the Docker shell command into the app itself.

This is a very naive approach
[code

[2018-09-28 08:27] gmarziou commented on #8414
Also isn't it the responsibility of depends_on to control startup order in docker compose?

[2018-09-28 09:44] heiheiyuan opened #8415 "Click Sign In No Response"
After input http://localhost:8080, I click the Sign In, there is nothing appear, open console,I got a warning:Warning: Hash history cannot PUSH the same path; a new entry will not be added to the history stack

only this warning, no others....Please help me,Thank you so much!

nodejs:10.10.0
jhipster:5.3.4

[2018-09-28 09:57] danielpetisme commented on #8414
@gmarziou the problem with application property is that you need the app to be actually started to take advantage of the env/property management.
So yes for the app property but that means we have to make the app fully resilient by implementing a kind of circuit breaker pattern with the services (ie. start the app even if the DB is not started or down  )

Based on [`depends_on` doc](https://docs.d

[2018-09-28 10:08] TonyLuo commented on #8328
well done !
I was struggling on this for days.....thanks so much.
 hope to see the update soon

[2018-09-28 10:40] gmarziou commented on #8414
OK I understand better now. A delay is simple but kind of fragile, I like this [wait-for-it approach](https://shekhargulati.com/2018/01/13/using-wait-for-it-with-oracle-database-docker-image/) better though I'm not sure it can be generated.

[2018-09-28 12:02] pascalgrimaud commented on #8328
@TonyLuo : see the 2 related PR

[2018-09-28 12:11] gmarziou commented on #8415
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-09-28 12:11] #8415 closed

[2018-09-28 12:12] danielpetisme commented on #8414
I would rather make the app resilient by itself rather than delegating to a 3rd party script. But yes in terms of concepts it's similar.

[2018-09-28 12:16] pascalgrimaud commented on #8328
Some explainations.

I thought the problem comes from Docker with different network, because of "CORS" error message, but it was not. You could reproduce the issue by:
- cloning and starting the Registry (master branch)
- generate and start a microservice with prod profile (it works for dev)
- try to access to Swagger API in the Registry: you can't see the microservice

So it seems to be related t

[2018-09-28 13:07] wmarques commented on #8405
Should we run an `npm install` before building the front with maven ?

[2018-09-28 13:18] jdubois commented on #8405
@wmarques yes I guess so.
The issue is mostly when the project was created by someone else (so `npm install` did not run on your machine at project generation).

[2018-09-28 13:33] ndywicki commented on #8196
@pascalgrimaud, Glad to see that we come to the same conclusion : remove the `SwaggerBasePathRewritingFilter` class ;-)

[2018-09-28 13:36] TonyLuo commented on #8328
after disable the compression for the microservices, the swagger api json doc can be loaded in prod profile .
 but the basePath in  swagger ui is missing when try to do some testing

![image](https://user-images.githubusercontent.com/3250305/46211553-65650580-c366-11e8-95dc-d9fa653d56c0.png)

[2018-09-28 13:40] PierreBesson commented on #8196
But this filter is the magic that let's you have the right basePath for doing API call, I'm pretty sure that it can't work without it !

[2018-09-28 13:41] pascalgrimaud commented on #8196
@ndywicki : yes and I shouldn't loose so much time on this, if I saw your comment before, because we did the exact same analysis. It's my fault.

@PierreBesson : agree but it was 2 years ago, now I think some lib / class have been upgraded. You should give a try without it

[2018-09-28 13:50] pascalgrimaud commented on #8328
@TonyLuo : can you try to remove the `SwaggerBasePathRewritingFilter.java` instead ? (and all related config / test classes)

[2018-09-28 13:51] PierreBesson commented on #8414
On kubernetes we can use [Init Containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) but those are not available for plain docker-compose.

I like @danielpetisme's idea as it is following the docker philosophy explained here: https://docs.docker.com/compose/startup-order/.

[2018-09-28 14:12] TonyLuo commented on #8328
I have removed SwaggerBasePathRewritingFilter.java and try again, and the result is the same...
I tested it from gateway instead of jhipster-registry

[2018-09-28 14:21] pascalgrimaud commented on #8328
Strange ! Everything works fine for me, so I'm pretty sure we're not doing the same thing. See all my tests in my PR: https://github.com/jhipster/generator-jhipster/pull/8416

I will test it again and push my project to Github so you will be able to try !

[2018-09-28 14:40] TonyLuo commented on #8328
it works from jhipster-registry when test it in prod profile, but fail in gateway...
 i am sure I didn't change anything on swagger ui html and js, just tested it with the generated swagger code

[2018-09-28 14:40] PierreBesson commented on #8414
Also to note that we already have some logic using spring retry to wait for the JHipster registry to be available. I kind of like their approach and we could generalize it for the database as well.

[2018-09-28 15:29] danielpetisme commented on #8414
@PierreBesson do you have any pointer for `spring retry` except the dependency definition in the POM I didn't find any usage in the base code: https://github.com/jhipster/jhipster-registry

[2018-09-28 15:34] PierreBesson commented on #8196
After having a quick look, it seems that the BasePathRewritingFilter doesn't correctly rezip the payload once edited. It looks like something that can be fixed.

[2018-09-28 15:51] pascalgrimaud commented on #8328
@TonyLuo : if you can push a sample project to Github, I can test on my side too

[2018-09-28 15:59] TonyLuo commented on #8328
i just tested it again, it works when the base path is ip address or localhost, but it doesn't work when the base path is domain name :(

[2018-09-28 16:02] pascalgrimaud commented on #8328
oh fine, now I understand why the base path must be kept, as @PierreBesson said

[2018-09-28 16:30] TonyLuo commented on #8328
in the nginx reverse proxy case, the base path in request url is missing  with/without SwaggerBasePathRewritingFilter.java

[2018-09-28 17:57] DanielFran commented on #8403
@deepu105 @MathieuAA Confirmed for the 2 pull request on generator side:
https://github.com/jhipster/generator-jhipster/commit/f2e367315ec4128105c72df054079107d1be3279
OK => https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs#L62-L65
+ https://github.com/jhipster/generator-jhipster/blob/mas

[2018-09-28 18:57] deepu105 commented on #8414
Honestly I don't like it, especially in the application as its really a hack for docker based startup

[2018-09-28 19:46] MathieuAA commented on #8403
Roger that. Thanks for the heads up

[2018-09-28 19:55] pascalgrimaud commented on #8328
I already saw the problem, when using nginx or httpd as reverse proxy -> we had this, when working for my previous customer with @PierreBesson
Not sure we can do something about that.

Just try another solution (which won't work with nginx) but should work in dev, prod, docker !

[2018-09-28 19:57] danielpetisme commented on #8414
I think we have 2 topics here:
1- Moving the `sleep` from shell to java code to use the default jib entrypoint
2- How to improve jhipster app resiliency regardless the underlying infra (Docker or not)

This issue was originally about *1* but we're moving to *2*.

I propose to conclude on *1* and open a issue about resiliency. It will ne easier to follow.

So let's focus on `JHIPSTER_SLEEP`.

[2018-09-28 22:55] pascalgrimaud commented on #8414
I was the one who coded the `JHIPSTER_SLEEP`, because it was the simplest solution.
I didn't want to code a `wait-for-it.sh` like at https://docs.docker.com/compose/startup-order/ because we would have too much config to test:
- a simple monolith waiting the database to start
- a gateway waiting the registry and the database
- a microservice which depends on another microservice
- etc.

As @deepu1

[2018-09-29 14:03] MathieuAA commented on #8391
Well, I'm reopening this. The culprit is [here](https://github.com/jhipster/generator-jhipster/blob/8739c7d88b6e23f04da4615d786a29f443e01858/generators/generator-base-private.js#L1076)

[2018-09-29 16:08] edvjacek opened #8420 "Opening a PDF in Chrome"
##### **Overview of the issue**

I've added a small entity:

entity Document {
    name String,
    file Blob
}

I've imported the jdl file, started the app and I've uploaded a PDF file. First thing when I browse the entity I see in the column FILE the link "Open", the type of file and the size of file. Is it not possible to get the file's name? Is it this information lost during the saving on the

[2018-09-29 16:37] #8405 closed

[2018-09-29 16:38] #8196 closed

[2018-09-29 16:38] #8328 closed

[2018-09-29 17:07] MathieuAA commented on #8391
@deepu105 I'm creating an exporting file in JCore to deal with this situation (and moving the logic from here to JCore, like the JDL importer). After that, I'll do a release to update the code here.

[2018-09-29 20:05] gzsombor commented on #8214
I've claimed the bounty: https://opencollective.com/generator-jhipster/expenses/5116

[2018-09-29 20:52] PierreBesson commented on #8414
For me it's a good idea to add this to the code because when orchestrating docker container it is valuable to wait for dependency services to be available. And the JHipster sleep behavior would gain to be in the java code so that it could be configured as a normal configuration property.

[2018-09-29 20:54] deepu105 commented on #8391
Awesome thanks

Thanks & Regards,
Deepu

On Sat, Sep 29, 2018 at 7:07 PM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2018-09-29 21:28] saturnism commented on #7708
awesome! can't wait to try!!

[2018-09-30 20:05] deepu105 opened #8422 "Kubernetes config doesnt work for MongoDB and ELK"
##### **Overview of the issue**

The default k8s config generated for MongoDB based applications and ELK stack doesn't work OOB in Kubernetes services(GKE, AKS)

See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/jhipster-dev/YTZ7lcbpV5s

##### **Motivation for or Use Case**

Everything we do should work OOB or should have documented steps

##### **Reproduce the error**

[2018-09-30 21:38] deepu105 opened #8423 "Enable Prometheus & add documentation for Prometheus"
~~It seems like we have no documentation for Prometheus & Grafana, or at least I couldn't find them~~

~~Also it seems like there is no prometheus profile for Gradle and the maven profile isn't  documented as well~~

Enable prometheus back since its still ofeered during docker/kubernets config generation

[2018-09-30 21:54] DanielFran commented on #8423
@deepu105 this was removed since it was not working in a recent update...

[2018-09-30 21:57] deepu105 commented on #8423
Then we need to remove the option everywhere since the docker/k8s sub generators still show the option

[2018-09-30 22:01] deepu105 commented on #8423
@DanielFran btw in which release did we remove it?

[2018-09-30 22:14] DanielFran commented on #8423
@deepu105 removed in this PR https://github.com/jhipster/generator-jhipster/pull/8098

[2018-09-30 23:05] deepu105 commented on #8423
@PierreBesson the issue for the above PR was Graphite relates right? why was Prometheus removed as well? If indeed it doesnt work we need to remove it everywhere

[2018-10-01 09:13] jdubois commented on #8420
- Yes I think the file name is lost, there should be another field for that, like `FILE_CONTENT_TYPE`
- This part was made to handle images only, so if that's not an image you just have an octet stream. Indeed, it could be improved to handle PDFs - but I'm unusure if that could be automatic or if we need a specific type: instead of having image/blob we we would have image/PDF/blob

That's quite so

[2018-10-01 09:50] jdubois commented on #8403
@DanielFran I'm reverting the commit right now

[2018-10-01 09:52] DanielFran commented on #8403
@MathieuAA I think that you can merge your changes and create the PR for the JDL documentation ;)

[2018-10-01 09:56] jdubois commented on #8403
@DanielFran sorry I can't revert the commit easily, there's a conflict, give me some time :-)

[2018-10-01 13:12] ndywicki opened #8424 "Angular: the JHipster logo is missing in error page (style)"
##### **Overview of the issue**

When an error occured (or access denied) the error html page not displaying the JHipster logo.

##### **Motivation for or Use Case**

Little issue but we can't see the beautiful JHipster logo in error pages ;-)

##### **Reproduce the error**

Generate an application with angular (mono or gateway app)
Navigate to http://localhost:9000/#/accessdenied

Result:

![aces

[2018-10-01 13:30] jdubois commented on #8424
Oh yes it would look better... Then that's just a template, normally people will change it.

+1 from me, @ndywicki would you like to do the PR?

[2018-10-01 13:41] ndywicki commented on #8424
@jdubois yes I can push a PR.
Just tell me if it's ok to point the `home.(s)css` style sheet (suggest #2) or move `.hipster` to global file (suggest #3) ?
I don't like style duplicates :)

[2018-10-01 14:00] jdubois commented on #8424
Oh I see, this is currently in the "home.css" page, so that would need to be duplicated to the error page... I also hate duplication, so that means moving the code to the "global.css" file.

Those things will change soon (we'll move fully to Sass, and we'll also change the logo), so don't worry too much. I think that in the long term those should be 2 different images, and that would solve the iss

[2018-10-01 14:00] alexander-redmann-teaching opened #8425 "No database option is not available when creating microservice application"
##### **Overview of the issue**

On the jhipster homepage  it is described that a microservice application geenerated by jhipster could be created without an database, but this option does not exist when I want to create the service.

Here is one place where this option is mentioned at the last paragraph:
https://www.jhipster.tech/creating-microservices/

##### **Suggest a Fix**

Add option to not

[2018-10-01 14:03] jdubois commented on #8425
That's because you used OAuth2, which requires a database. I agree this is not clear in the documentation, and besides it should be possible to use OAuth2 without a database (cc @mraible ).

[2018-10-01 14:22] ndywicki opened #8426 "Angular : Oauth2 - remove the subscription to event authenticationSuccess in home component."
##### **Overview of the feature request**

With Oauth2 authentification app profil, `home.component.ts` make an subscribe to the 'authenticationSuccess' event but it will be never call (emiter in `shared/login/login.component.ts` not exist for oauth2).

`home.component.ts` :
https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/main/webapp/app/home/home

[2018-10-01 14:27] ndywicki commented on #8424
Yes, as you said, this page must be personalized. I leave in the state if changes on the style are coming.
I close the ticket.

Thanks.

[2018-10-01 14:27] #8424 closed

[2018-10-01 16:03] saturnism commented on #8422
looks like the default elastic search configuration (yaml) sets the limit to 400mb of RAM, which is probably too small and it's causing the container to get OOMKilled.

However, after the removal of resource limit, the elastic master is still crashlooping, from the error:
[code]

Seems related to https://github.com/docker-library/elasticsearch/issues/98

[2018-10-01 17:04] jsm174 opened #8428 "docker-compose generator strips ticks (') which breaks mssql"
##### **Overview of the issue**

The docker-compose generator strips ticks. This is preventing mssql databases from being created with the app name.

##### **Motivation for or Use Case**

Need to use mssql on a project.

##### **Reproduce the error**

import the following jdl:

[code]

run `jhipster docker-compose` and examine docker-compose.yml:

[code]

If you look at uaa/src/main/docker/mssql.y

[2018-10-01 18:53] saturnism commented on #8423
was gonna look into prometheus w/ #7708. was wondering if the app still has a prometheus endpoint that can be scraped? thanks!

[2018-10-01 19:14] atomfrede commented on #8423
We should have prometheus, its just awesome imho.

[2018-10-01 20:00] danielpetisme commented on #8414
@PierreBesson the issue with a configuration property is that the application must be started (to parse the `application-*.yml` files.
I didn't dig to check if there is a a method we could override in the Spring app startup to insert a `sleep`.

[2018-10-01 20:10] danielpetisme opened #8431 "JHipster app resiliency"
##### **Overview of the feature request**

This issue is an open discussion about JHipster app resiliency. Being resilient to a DB shutdown or a missing service is not free and implies an additional layer to either wait, use cached data or fallback to a default behavior.

I would be interested to find the balance between the benefits of resiliency and the technical complexity based on the JHipster

[2018-10-01 20:27] PierreBesson commented on #8414
@danielpetisme I know it's possible to do it with Spring cloud config as it setup a"bootstrap" application context which is then replaced by the real application context. All the apps that use the registry can already do it. Alrernatively it is possible to control the Spring bean creation order to run code very early in the startup phase.

Oh and BTW, on the alternative topic of waiting for the da

[2018-10-02 05:15] pascalgrimaud commented on #8313
I reopen this ticket as it is not fixed.
See https://travis-ci.org/hipster-labs/jhipster-travis-build/branches

@deepu105 : can you check the statut about bounty on this ticket as you added and removed it.

Here my jhipster info:

➜ jhinfo
Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options: from-cli: true
Welcome to the JHipster Information S

[2018-10-02 08:32] PierreBesson commented on #8431
This feature was discussed for inclusion in Spring Boot back in 2015 !
https://github.com/spring-projects/spring-boot/issues/4779
This could be developed as part of the JHipster lib and enabled with properties.
So basically we could have those properties:
[code]

Or either we don't define any properties ourselves, we just use the ones provided by spring-cloud-config: see [RetryProperties.java](htt

[2018-10-02 08:53] #8428 closed

[2018-10-02 09:20] saturnism opened #8437 "Adopt spring-cloud-kubernetes when native service discovery is used"
##### **Overview of the feature request**

Currently JHipster registry uses Spring Cloud to discover and display application health. This doesn't work if no service discovery is used in a native Kubernetes deployment.

If no service discovery used, and deployed in Kubernetes, configure JHipster registry w/ Spring Cloud Kubernetes (which now works w/ Spring Boot 2).

##### **Motivation for or Use C

[2018-10-02 09:56] jdubois commented on #8313
I'm fixing this

[2018-10-02 11:43] PierreBesson commented on #8437
I think you mean JHipster registry and not JHipster Console.

[2018-10-02 11:44] #8313 closed

[2018-10-02 11:44] #8426 closed

[2018-10-02 18:10] PierreBesson commented on #8420
This could be done by adding a new **FileBlob** JDL type but as @jdubois said you will need to store the original name of the file and the Media Type (MIME type).

Also storing files in the database is not a great idea, what could be done is plugging Spring Data to an object storage using [Spring Content](https://paulcwarren.github.io/spring-content/) (I think we add a feature request about this s

[2018-10-02 18:11] PierreBesson commented on #8422
IMO we should use a different elasticsearch docker image for prod as explained in Paulo Pires' repo which has been the canonical source of info for me on running elasticsearch in kubernetes (and it's not easy at all).