[2019-06-18 16:28] pvliss commented on #9908
Also agree with @murdos that it is very useful and would vote for it to stay. @deepu105 might also be right that moving it to CLI could make it easier to maintain. What I think is missing here currently, in order  to support such use cases, is a step for executing pre-upgrade tasks. So before re-generating the app using the latest version we should have updated the `.yo-rc.json` file accordingly.

[2019-06-18 16:31] pascalgrimaud commented on #9908
Yes, I know a lot of people want to keep it. That's why we should find an official maintainer for this

[2019-06-18 16:44] deepu105 commented on #9908
I propose we first move it to CLI and simplify a bit

Thanks & Regards,
Deepu

On Tue, Jun 18, 2019 at 6:31 PM Pascal Grimaud <notifications@github.com>
wrote:

[2019-06-18 17:59] #9935 closed

[2019-06-18 19:33] stevenschlansker commented on #9934
Hi @jdubois , I'm very excited you've found my project!  It's a proof of concept right now, although we do run it in production on our own systems.  I believe the approach is flexible and should be much easier to extend looking forward (as the `LambdaMetafactory` hopefully gets more powerful e.g. generated field accessors).  Bytecode manipulation was always the most powerful approach but it's a PI

[2019-06-18 20:53] atomfrede commented on #9876
What about having something like runtime execption which is thrown from within the service layer and have an exception handler that handles and translates these exceptions (if not catched by the weblayer) into corresponding webexceptions/problems?

[2019-06-18 22:12] #9804 closed

[2019-06-18 22:24] murdos commented on #9661
Just for clarity I don't want to have my own "fake data", I want to have my own real production data, for tables with e.g. referential data, that are loaded in both dev and prod profiles.
And the directory you choose for putting these data (`data`) is exactly where most people I know are putting their real data, so jhipster fake data will override real data in existing projects and that's what bot

[2019-06-19 05:49] atomfrede commented on #9752
I also found [this](https://twitter.com/danieldietrich/status/1141041185890426880) quite interesting using webjars and static resources/html

[2019-06-19 06:39] murdos commented on #9661
@jdubois Would you agree to rename the folder containing the fake date files from `data` to `fake-data`? I think it would solve the issue.

BTW the content of this folder should probably be excluded from the generated prod package (war, docker image, ...). WDYT?

[2019-06-19 07:15] jdubois commented on #9661
Oh you are absolutely right on both point, re-opening!!

[2019-06-19 07:19] cbornet commented on #9752
Yes, this is also valid with non-webjar swageer-ui. The point is to give the path to openapi.yml in the index.html.

[2019-06-19 08:32] 62mkv opened #9940 "More advanced enums in JDL"
##### **Overview of the feature request**

Currently, (I know of) only one simple way to define Enums, like:
[code]

I would suggest to add a way to define custom text for each value like

[code]

##### **Motivation for or Use Case**

This is the way it's done idiomativally in Java, so when you try to update the generated enum.java file with such information, it all gets lost after regenerating fr

[2019-06-19 08:36] deepu105 commented on #9920
Agree we should reduce duplicate code here

[2019-06-19 08:41] deepu105 commented on #9777
@PierreBesson how do you want to proceed here?

[2019-06-19 08:47] deepu105 commented on #8920
@mraible are you ok of we add the limitation that microservices should not have a relationship to user? see the discussion in #9845

[2019-06-19 08:48] deepu105 commented on #9280
@jdubois @Tcharl what should we do with this issue?

[2019-06-19 09:08] jdubois commented on #9280
This is going to be a new caching option, hopefully with Hibernate (but not required).
I'll add a bug bounty to motivate people.

[2019-06-19 09:11] anthonyrichir commented on #8656
Sorry to comment on this closed ticket but was this implementation of hashCode really expected in generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs ? It doesn't seem correct to me.

[code]

[2019-06-19 09:14] AdrienHorgnies commented on #8656
https://github.com/jhipster/generator-jhipster/pull/9022/files#diff-ca3656a24e3d57448ef6ce13309f2c1dR451 doesn't seem right to me either. Was this intended ?

[2019-06-19 09:15] jdubois commented on #8656
@anthonyrichir yes, have a look at the blog post referenced when this was added. I agree it's strange, and I was quite suspicious at first!!

[2019-06-19 09:16] jdubois commented on #8656
@AdrienHorgnies yes this was intended, have a look at the blog post to which the change is referred

[2019-06-19 09:24] jdubois commented on #9934
Thanks @stevenschlansker  ! I didn't understand that Blackbird required JDK 11... Unfortunately we need to support JDK 8 for some time still, as we have many users who are locked on it, and that would be a stopper issue for us... Can you check the JDK version and only activate it when JDK 11 is found? Otherwise that's something we could on our side, and switch between Afterburner and Blackbird dep

[2019-06-19 09:49] Crystark commented on #4251
I'm pretty sure you've already seen this but the java lib is quite interesting
https://github.com/graphql-java/graphql-java

And a spring-boot integration has been started here:
https://github.com/graphql-java/graphql-java-spring

I just learned about JHipster so I'm not sure how those would integrate with it but from what I understand, GraphQL is definitely JHipster material and I was hoping to f

[2019-06-19 10:21] SravaniPuthupparambil opened #9941 "Unable to perform search using elastic search in Jhipster when connected to existing data of mysql"

[2019-06-19 10:30] DanielFran commented on #9941
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-06-19 10:30] #9941 closed

[2019-06-19 10:39] gmarziou commented on #9940
Isn't it mostly covered by git merging ?

[2019-06-19 10:55] 62mkv commented on #9940
@gmarziou what do you mean by that? I understand that one might 'mitigate' to a certain degree havoc wroken by re-generation, by using VSC tools, but it's a hack, so why not at least try to minimize damage?

[2019-06-19 10:56] 62mkv commented on #9940
although admittedly, this is just one of the many many cases you might want to do with enums, and also it belongs into different repo, apparently (jhipster-core) but I would be interested in core maintainers thoughts on this issue

[2019-06-19 12:13] SravaniPuthupparambil opened #9943 "Unable to perform search operation(query)from Jhipster UI ,using elastic search with existing database in Mysql."
##### **Overview of the issue**

Unable to perform search operation(query)from JHipster UI ,using elastic search with existing database in MySQL.

##### **Motivation for or Use Case**

Want to search particular record from already existing data in MySQL (for PoC purpose.)

Created a table in MySQL with id as primary key and auto incremented it, also  inserted two records into it.

When i add a rec

[2019-06-19 12:44] mabliedana commented on #8705
Overview of the issue
In prod packaging, compilation failed due to this issue:
[ERROR] Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.2.6:revision (default) on project test: Could not complete Mojo execution...: Error: Could not get HEAD Ref, are you sure you have some commits in the dotGitDirectory? -> [Help 1]

It seems to be solved by adding in the pom.xml the properties <fail

[2019-06-19 12:50] mabliedana opened #9944 "Jhipster prod Error pl.project13.maven"
##### **Overview of the issue**
In prod packaging, compilation failed due to this issue:
[ERROR] Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.2.6:revision (default) on project test: Could not complete Mojo execution...: Error: Could not get HEAD Ref, are you sure you have some commits in the dotGitDirectory? -> [Help 1]

##### **Motivation for or Use Case**
Generation of produc

[2019-06-19 13:08] DanielFran commented on #9944
@mabliedana Do you wan't to contribute and make a PR?

[2019-06-19 13:39] PierreBesson commented on #9944
Yes, it is known that the build will fail if the git repository is initialized but no commit has been done. As this state is invalid and should not happen in the normal case. This error is normal and it seems a bit strange to work around it but anyway I guess we can add the line if it helps some users:`<failOnUnableToExtractRepoInfo>false</failOnUnableToExtractRepoInfo>`.

[2019-06-19 15:12] amatosg commented on #9904
@jdubois question, what was the correction you made? I can't find the difference. Thank you!

[2019-06-19 15:14] amatosg commented on #9940
take in consideration having `ARCHIVE(1),` (integers instead of string)

[2019-06-19 15:19] jdubois commented on #9904
@amatosg you had stuff like `title PartnerTitle` which couldn't work, as you only gave a part of your JDL

[2019-06-19 15:32] amatosg commented on #9904
@jdubois Oh, I see, there are 2 enum class. Every time I regenerate I get an error on the test for that particular class and the class `Address` only has relationship with `Partner`.
[code]

[2019-06-19 18:55] gzsombor commented on #9836
I've opened a PR in the jhipster repo for this: https://github.com/jhipster/jhipster/pull/299

[2019-06-19 19:23] ruddell commented on #9943
This is because the Elasticsearch data is separate from the database data.  When you save an entity through the API, it [updates the data](https://github.com/jhipster/jhipster-sample-app-elasticsearch/blob/92b80d2f6fac0595834f43702633f431d2e0fa9d/src/main/java/io/github/jhipster/sample/web/rest/BankAccountResource.java#L64) in Elasticsearch.  [There is a module](https://www.npmjs.com/package/gener

[2019-06-19 19:44] mraible commented on #8920
@deepu105 Personally, I'd be sad to see the feature go since I've spent so much time on it. If we do remove it, we should modify the JDL parser so it throws errors when you try to do it. Also, we should have an answer to the question, "How do I create a microservice with an entity that has a relationship to `User`".

[2019-06-19 21:17] deepu105 commented on #8920
I get your point, but my concern is creating tight coupling between
microservices which kind of beats the purpose. Of course we can implement a
validation in JDL parser but I still believe we shouldn't have allowed this
in the first place.

On Wed, 19 Jun 2019, 9:44 pm Matt Raible, <notifications@github.com> wrote:

[2019-06-19 21:19] deepu105 commented on #8920
For the relationship the easiest way would be to add a soft relationship by
including an userId field on the entity. They you could write business
validation to fetch and propogate that field.

On Wed, 19 Jun 2019, 11:17 pm Deepu K Sasidharan, <d4udts@gmail.com> wrote:

[2019-06-20 01:26] mraible opened #9946 "Resource server JWT => User mapping doesn't work with Okta"
##### **Overview of the issue**

When using JHipster as a resource server (with OIDC authentication), the access token looks a lot different when coming from Okta than it does from Keycloak.

**From Keycloak**

Access token:

[code]

**From Okta**

Access token:

[code]

##### **Motivation for or Use Case**

When using Ionic + OIDC and JHipster, there's a 500 error when you log in with Okta. I bel

[2019-06-20 01:37] mai1015 commented on #9914
So I tested it, and it only cause problem in java 11. I think it might be a problem with Hibernate.

[2019-06-20 03:18] mraible commented on #9946
@ruddell Have you tested Ignite JHipster with JHipster 6.1.0 and Okta to see if you have similar issues? This happens because I call `/api/account` to see if the user is authenticated. Previously, I fetched the user's info from the `/userinfo` endpoint on the client. I could switch back to that, but it's probably better to solve on the server-side.

[2019-06-20 06:04] jdubois commented on #9933
This is very important so I'm adding a bug bounty, but I think it might be more complicated as I'm doing this all the time and never had such an issue.

[2019-06-20 06:41] jdubois commented on #9933
@anthony-o this is because you have `enableHibernateCache false` missing in your JDL.
I'm not sure this can/should be done in the JDL... The reason is that this is "true" by default, but if you have an Hibernate cache and then no cache configured, this isn't going to work. On the command line we can help people, so they don't provide non-consistent options, it's more difficult with the JDL.

I'm n

[2019-06-20 06:42] jdubois commented on #9933
I updated the title so it's less stressful :-)

[2019-06-20 06:50] jdubois commented on #9934
I'm adding a bug bounty here, as this is an important added value for JHipster users.

[2019-06-20 07:12] deepu105 commented on #9933
Yes, enableHibernateCache needs to be set in JDL. There is already support
for this. Let me see if we can set it to false automatically when cache is
not selected

On Thu, 20 Jun 2019, 8:41 am Julien Dubois, <notifications@github.com>
wrote:

[2019-06-20 07:35] cmennevret opened #9948 "Refresh problem on a jhipster project"
hello I have a problem with a project generated under Jhipster
I can not refresh the project when saving code or f5 if my page is "localHost:9000/example" the page breaks.
 I am forced to relaunch the "localhost: 9000".

And I do not know where the problem comes from or how to solve it (it's very difficult for coding because I have to restart each time)

Thank you for your answers

[2019-06-20 07:59] antarus commented on #9769
Yop all.
I found a solution.
But as the traefik option is not known at the time of the generation of the gateway, I see only two solutions:
Add the commented code in the code, or do the documentation part.
Solution 2 seems better to me because traefik does not seem like a most used option

[2019-06-20 08:18] jdubois commented on #9948
Thanks, but you really provide no information at all: your OS, your browser, how you start JHipster, etc... I'm sorry but we can't help you like that, could you please follow our contribution guidelines?

[2019-06-20 08:24] jdubois commented on #9769
I like to have an "out of the box" experience with JHipster, so everything works out magically for a new user -> we can't always do it, and then documentation is good, but can you point to it during generation time, like a message?

[2019-06-20 08:29] vishal423 commented on #9946
@mraible, If this issue is due to email claims not being populated, then, can we ask for `email` scope? I don't see that scope in the okta's JWT token response.

[2019-06-20 08:51] antarus commented on #9769
For the message, I have to see if the `docker-compose` subgenerator can know if the `gateway` uses `oauth2`

[2019-06-20 09:00] deepu105 commented on #8920
@mraible I'll create a separate issue to discuss that with everyone. Maybe we can find a better solution

[2019-06-20 09:18] jdubois commented on #9876
@atomfrede that would be the cleanest solution, but I'm reluctant to add our own exception system here.

[2019-06-20 09:19] deepu105 opened #9949 "Do not allow relationship between entities in different microservices"
Seems like currently, we allow relationships to be created between entities belonging to different microservices(Need to be double checked, but based on #8920 we allow it at least for the user entity)

IMO we shouldn't allow this as it has many architectural issues as well as practical tech issues
- This creates a tight coupling between microservices and beats the purpose
- We won't be able to gen

[2019-06-20 09:20] mraible commented on #9946
@vishal423 I tried changing my Ionic app to send `openid email profile` for scopes (instead of `openid profile offline_access`). It doesn't result in an email being in the access token.

[code]

[2019-06-20 10:01] #9946 closed

[2019-06-20 10:46] kaidohallik opened #9950 "user by email inconsistent ignore case"
##### **Overview of the issue**

In UserRepository.java:
* finding user by email without authorities is case insensitive:
    * https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs#L143
    * https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/reposito

[2019-06-20 11:57] anthony-o commented on #9933
@jdubois thank you for the analyze, I didn't see the `enableHibernateCache` option.
Anyway, do we agree that even with `enableHibernateCache` set to `false` and `cacheProvider`, classical Hibernate L1 cache will continue to work?
From what I can read [here](https://howtodoinjava.com/hibernate/understanding-hibernate-first-level-cache-with-example/), [here](https://discourse.hibernate.org/t/how-to-

[2019-06-20 12:01] SravaniPuthupparambil commented on #9943
Thank you for your reply @ruddell  I have gone through generator-jhipster-elasticsearch-reindexer still i am facing with few errors. Can you please clarify these doubts:
1. Should I run this generator-jhipster-elasticsearch-reindexer first before creating the entities ?
2. Like other applications do we need to have elastic search,start it first and then configure it with our Jhipster application-p

[2019-06-20 12:09] cmennevret commented on #9948
I am on windows 10, I use chrome google and I start jhipster with the command "npm run start"
it starts well on "localhost: 9000" the problem is that when I make a change in the code if the site and "localhost: 9000/example" the page breaks and puts:
" Your request can not be processed
Sorry, an error has occurred.

Status: Not Found (Not Found)
Message: Not Found
Other things to try:
Search local

[2019-06-20 13:18] jdubois commented on #9933
@anthony-o L1 cache will always work, that's the way Hibernate work, no problem at all!

[2019-06-20 13:35] pvliss opened #9952 "jhipster command blocks on application/project name prompt"
##### **Overview of the issue**
Not able to create a new JHipster application using just the prompts

##### **Motivation for or Use Case**
Should be able to create JHipster application using just the prompts

##### **Reproduce the error**
1. `npm install -g generator-jhipster`
2. `mkdir temp && cd temp`
3. `jhipster`
4. Select an app type. For me it does not matter
5. App is now blocked at the app

[2019-06-20 13:41] pascalgrimaud commented on #9952
With @PierreBesson, we confirm the issue.

I managed to reproduce the issue, using https://github.com/jhipster/jhipster-guides
I'm putting a bounty on this, as it is an important bug !

We need to do a release after finding the fix. It probably comes from a transitive dependencies, as usual

[2019-06-20 13:44] pascalgrimaud commented on #9952
cc @jdubois @deepu105 @jhipster/developers  -> I'm afraid without a fix, we won't be able to do demo
We really need to find a fix and release

[2019-06-20 13:50] jdubois commented on #9952
What a mess NPM is!
Yes let's do a release after that

[2019-06-20 13:55] PierreBesson commented on #9952
I think the solution might involve publishing a new version with a [shrinkwrap.json file] (https://docs.npmjs.com/files/shrinkwrap.json) to fix the correct version of the transitive dependency. But first we need to find the dependency that is causing the app to hang.

[2019-06-20 14:04] vishal423 commented on #9952
I use `yarn` and don't see this issue. Is this specific to `npm` ?

[2019-06-20 14:05] pascalgrimaud commented on #9952
I'm pretty sure it comes from a transitive dependencies.
I switched to v6.1.0 tag
- `npm ci` : no problem, it works fine
- I deleted `package-lock.json` and  `node_modules`, then `npm install` -> the `package-lock.json` has changed and it's broken

[2019-06-20 14:35] PierreBesson commented on #9952
I have found the bad dependency: https://github.com/SBoudrias/Inquirer.js/issues/811

[2019-06-20 14:41] jdubois commented on #9952
Awesome work @PierreBesson ! The good news is that @SBoudrias is a friend and an excellent coder, so this time to bug should be solved easily!!

[2019-06-20 14:46] pvliss commented on #9952
Congrats @PierreBesson!!! Would really be interested to know what's your process for finding node/npm these issues

[2019-06-20 14:49] amatosg commented on #9952
it looks like this should solve the issue https://github.com/slhck/vue-cli/commit/fdf602827e6aa57367f6bdea37b517755bc7ba5c

[2019-06-20 14:54] jdubois commented on #9952
@amatosg no unfortunately it's a transitive dependency

[2019-06-20 15:06] PierreBesson commented on #9952
My process was to look at the diff between a newly generated package lock and the one from the 6.1.0 release. Then I searched among the transitively updated packages which one had a recent npm release (manually). Then I expected that people must have already opened an issue on the GitHub project.

[2019-06-20 15:09] woelfle opened #9953 "Enhance documentation on how to create systems with multiple gateways"
##### **Overview of the feature request**

The JHipster documentation on microservices states that:

"There can be several different gateways, if you want to follow the Backends for Frontends pattern, but that’s not mandatory." (https://www.jhipster.tech/microservices-architecture)

I have not been able to find any further documentation on how to setup a system with multiple gateways.

Therefore I

[2019-06-20 15:13] pvliss commented on #9952
@PierreBesson That makes sense. Thanks a lot!!!

[2019-06-20 15:47] PierreBesson commented on #9952
@jdubois I think that we should give the bounty money to the Yeoman open collective: https://opencollective.com/yeoman
But there doesn't seem to be a way to transfer fund between different collectives. This would be cool to sponsor upstream dependencies.

[2019-06-20 15:49] jdubois commented on #9952
c'mon @PierreBesson you found the culprit! If @SBoudrias is interested (and fixes the issue!!) we could do it a $200 bounty and you share it. WDYT @SBoudrias ?

[2019-06-20 16:06] jdubois commented on #9952
So we'll have a temporary fix from @PierreBesson with the above PR, and that's awesome.

[2019-06-20 16:07] jdubois commented on #9876
Or maybe we could move the exception to a JHipster framework package. People would then need to extend them if they want to modify them, but that would make upgrading easier for them.

[2019-06-20 16:39] #9952 closed

[2019-06-20 17:15] ruddell commented on #9948
Without the information from the template and instructions to reproduce, we can't really help.

Sounds like it is related to https://github.com/jhipster/generator-jhipster/issues/9839 (PR fixing that is https://github.com/jhipster/generator-jhipster/pull/9860)

[2019-06-20 18:57] ruddell commented on #9950
Looks good to me, would you like to submit a pull request?

[2019-06-20 19:19] mraible opened #9956 "No records found message should be plural"
##### **Overview of the issue**

The "No entities found" message should be plural.

![Screen Shot 2019-06-20 at 1 17 04 PM](https://user-images.githubusercontent.com/17892/59875471-13359b80-935e-11e9-89bc-7b2ec66a5fc9.png)

##### **Motivation for or Use Case**

It's currently singular, which looks kinda funny.

##### **Reproduce the error**

Create an app, turn off faker, clean, and start it again

[2019-06-20 20:16] atomfrede commented on #9876
As we already have our own exceptions I think having a dedicated exception handler advice which handles our own service layer exceptions, maps them to a problem and let the problem exception handler to the rest (like today) is not much code, but I agree maybe it is something we should put into our server lib.

[2019-06-20 20:30] braingraze commented on #9858
having the same issue even when not connected to any network. generator hangs for me when asking for app name.

[2019-06-20 21:07] atomfrede opened #9957 "Bitbucket Pipelines"
##### Add Bitbuket Pipeliens

Should we add support for generating bitbucket pipelines configuration in ci/cd subgerator?

##### **Motivation for or Use Case**

Bitbucket is still widely used I guess, so I think it would be good to have at least a simple bitbucket pipeline generated by the ci/cd generator.
If there we agree to have that I can do that.

-   [x] Checking this box is mandatory (this

[2019-06-20 21:53] leratc opened #9959 "pagination update problem from 6.0 to 6.1 on JDL generated entities"
##### **Overview of the issue**
When adding pagination via jdl, the generated java/reactjs code is broken since 6.1
on these two method signatures belonging to the old version:
1) HttpHeaders headers = PaginationUtil.generatePaginationHttpHeaders(page, "/api/customers");
2) HeaderUtil.createEntityUpdateAlert( ENTITY_NAME, customer.getId().toString())

The source code does not compile.
For the 2nd

[2019-06-20 22:06] danielpetisme opened #9960 "Override `CLIENT_MAIN_SRC_DIR` in blueprint generators"
##### **Overview of the feature request**

The global vision would be to permit the override of every file structure related variable.
Personally, for the .Net core blueprint I would like to override the `CLIENT_MAIN_SRC_DIR` constant to reuse the existing client generator as is and generate the web files into the ".Net" web folder.

##### **Motivation for or Use Case**

The folders configured for

[2019-06-20 22:14] ruddell commented on #9959
Please provide your full config and entity config, as well as instructions to reproduce (fill out the template).

If I had to guess, it's that you generated your project with the old version and generated the entities with a new version.  It's expected to generate with the same version

[2019-06-20 22:19] cbornet commented on #9876
Yes it's probably better to have service errors independent from the way they will be represented and controller advices to translate it in the web layer.

[2019-06-20 22:21] cbornet commented on #9876
Or maybe they should be catched and rethrown in the web layer because you don't necessarily know what should be the http status after a service layer exception.

[2019-06-21 00:05] Blackdread commented on #9876
For me it is normal to throw custom exception in service layer, it is usually always translated in web layer via ControllerAdvice, and any "Exception" not already translated is modified to a generic web layer (which is done already in jHipster).
You may still catch the exception in controller if default translation does not suit your needs for that particular controller (even an exception handler

[2019-06-21 01:38] ruddell commented on #9943
Like I said in my last comment, it probably doesn't work with JHipster v6.  You may have to implement something based on the code in order to re-index data you insert outside of your API.

How it works is that upon an API request, it clears the Elasticsearch indexes, then queries the database for entities to insert back into Elasticsearch.

For more info on JHipster and how to run Elasticsearch in

[2019-06-21 01:40] tcbuzor opened #9961 "Generator hangs when asking for app name: Upgraded to JHipster v6.1.0"
##### **Overview of the issue**
Upgraded to JHipster 6.1.0 and console hangs when generator asks for application name

The console hangs on Mac OS, when the generator requests application name
##### **Motivation for or Use Case**

I can't proceed to generate application.
##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
6.1.0

6.1.0
###

[2019-06-21 02:06] santimanuelr commented on #9961
Hi, I'm going through the same problem. MacOS Mojave too.
node: v10.16.0
npm: 6.9.0
JHipster v6.1.0

[2019-06-21 02:38] amatosg commented on #9961
this has been already resolved by https://github.com/jhipster/generator-jhipster/issues/9952

[2019-06-21 04:26] SravaniPuthupparambil commented on #9943
Thanks for the info @ruddell

[2019-06-21 05:14] pascalgrimaud commented on #9961
yes, it has been fixed.
we'll try to do a release soon

[2019-06-21 05:14] #9961 closed

[2019-06-21 05:21] pascalgrimaud commented on #9957
Yes I think it's similar to gitlab

[2019-06-21 05:59] pvliss commented on #9858
@braingraze The blocking problem is due to a buggy transient dependency(see 9952).  It has already been fixed (#9954) and a release will be out soon

[2019-06-21 06:04] atomfrede commented on #9957
Going to have a look during the weekend. It really looks we quite similar to gitlab ci so going to implement the same feature most likely.

[2019-06-21 06:50] #9911 closed

[2019-06-21 07:36] kaidohallik commented on #9950
I made PR #9962

[2019-06-21 07:46] PierreBesson commented on #9957
I'm not sure bitbucket pipelines is used much as you have to pay for it. IMO most people who use bitbucket do so because they want to buy the "combo" of jira, confluence and bitbucket which is pretty cheap compared to competitors offering.
As this feature was never requested by actual users, I would prefer to work on improving our existing Jenkins and Gitlab pipelines. Or even adding support for D

[2019-06-21 07:50] leratc commented on #9959
Thanks for your reply.
I generated the project via start.jhipster online generator. Then, I checkout the generated project and apply jdl.
It's the entities coming from jdl that are obsolete about the pagination.

[2019-06-21 08:03] atomfrede commented on #9957
You have some free minutes on bitbucket I agree I forgot about drone. It looks quite good compared to when I looked at an older version.

[2019-06-21 08:06] pascalgrimaud commented on #9957
Agree with @PierreBesson : we should focus on improving our current CI. I'm not against adding Bitbucket CI if you want to keep and maintain it, @atomfrede :)
About new CI, we could support back CircleCI too, it was removed because no one wanted to migrate to v2.

[2019-06-21 08:15] atomfrede commented on #9957
Let's go for drone. Good point we removed it before to have it again.

[2019-06-21 08:15] #9957 closed

[2019-06-21 08:35] pvliss commented on #9957
Hello team. Sorry if I am high-jacking the thread but just could not resist :smile: . I had a great experience with TeamCity in the past and its integration with the JetBrains tools is of course superb as well. If people are interested I could look into it and maintain it. Basic free version is more than enough for most projects. Also as an OSS project we could also have access to a [hosted server

[2019-06-21 08:40] steffanolesen commented on #8880
With version 6.1.0 re-importing (using `--ignore-application`)  still always regenerates a new 20190621083439_added_entity_Foo.xml and updates master.xml

[2019-06-21 09:19] leratc commented on #9959
the JDL content (from Matt Raible I think)
/* Entities for Store */
/** Product sold by the Online store */
entity Product {
    name String required
    description String
    price BigDecimal required min(0)
    size Size required
    image ImageBlob
}
enum Size {
    S, M, L, XL, XXL
}
entity ProductCategory {
    name String required
    description String
}
entity Customer {
    firstName Str

[2019-06-21 13:21] conker84 opened #9967 "Provide First-Class Support to Neo4j"
##### **Overview of the feature request**

Hi @deepu105, we meet (with @jexp) at the Code Motion in Rome the last march.
We want to provide first-class support to Neo4j with JHipster so as we discussed we open this issue in order to gather the ideas and define a development plan.
Please let us know how we can develop this.

##### **Motivation for or Use Case**

Enable Neo4j to JHipster

##### **Re

[2019-06-21 14:10] deepu105 commented on #9967
Welcome @conker84

Yes so to start with here are my thoughts

We already have Cassandra, mongo and couchbase integration and the problem is they are not as widely used as SQL ones but have high maintenance overhead since they need separate branching in templates. I remember you mentioned integrating Neo4j should be simpler. So looking at our current templates what do you think? how much branching

[2019-06-21 14:19] jdubois commented on #9967
I totally agree with you @deepu105 of course, but @conker84 you seem to work for Neo4J, so could we have some kind of "official" support? That would eliminate much of the maintenance overhead for us.

Also, iit seems discontinued by you could contact the people behind https://github.com/jhipster/jhipster-neo4j-app as this is probably a first start, and they could be happy to help you.

[2019-06-21 14:31] atomfrede commented on #9949
Totally agree we should allow relations between entities of different services/apps.

[2019-06-21 14:36] PierreBesson commented on #9949
Personally I think it is a bad idea to allow relationship between different microservices. This would qualify as an instance of the "entity service anti pattern" : https://www.michaelnygard.com/blog/2017/12/the-entity-service-antipattern/

[2019-06-21 14:38] antarus commented on #9770
i found a solution, base on https://github.com/jhipster/generator-jhipster/pull/9970.
i need to simplify it. i work on it ;)
you can assign to me @pascalgrimaud

[2019-06-21 16:20] Tcharl commented on #9949
If we would allow that, the good pattern would be really complicated to be abstracted in JH:

Let's take a service A with an entity a
A gateway or another service B with b related to a.

When saving 'a', it should send a message in a queue catched by B which duplicates the data in it's own 'a' table...
Also, I'm totally inline with pbesson: even with this pattern, we are not business centric but m

[2019-06-21 16:24] #9959 closed

[2019-06-21 17:33] deepu105 commented on #9949
@atomfrede I hope you meant "not allow"?

[2019-06-21 17:35] atomfrede commented on #9949
Of course 😃 it's to warm for such things.

On Fri, Jun 21, 2019, 19:33 Deepu K Sasidharan <notifications@github.com>
wrote:

[2019-06-21 17:45] mraible commented on #9949
FWIW, our current OAuth + microservices implementation does not create relationships between microservices. Each microservice has its own `User` entity.

[2019-06-22 04:46] atomfrede commented on #9876
Should be build and example app? We could also add[ arch-unit ](https://www.archunit.org/) to test those "simple" architecture rules, such that don't happen again (or at least the generated app will have failures). What do you think?

[2019-06-22 06:07] pascalgrimaud commented on #9967
Agree with you @deepu105

[2019-06-22 06:18] pascalgrimaud commented on #9953
Honestly, I don't understand very well what you want to achieve.
If you want different gateways, you just need to generate several Gateway. Then you need to code...

The documentation about "Backends for Frontends" is already linked in our doc.
You can read:
- https://www.thoughtworks.com/insights/blog/bff-soundcloud
- https://www.thoughtworks.com/radar/techniques/bff-backend-for-frontends

[2019-06-22 06:24] pascalgrimaud commented on #9949
Agree with you, I think we should "not allow"
Another solution would be to push Kafka support further
See https://github.com/jhipster/generator-jhipster/pull/9567#issuecomment-493172313

[2019-06-22 09:09] user-0209 commented on #9661
I'm new to JHipster (thanks! great tool!) and I'm trying to create an app with an already existing JDL. That JDL happens to have some one-to-one relationships that lead to the above problem of unique keys, eventually breaking the straight forward way of generating the app and running it. Took me a while to understand what is going on. My two cents on this:

- I want test data, but I need to provid

[2019-06-22 15:57] MathieuAA commented on #9949
The JDL already forbids this, so this is a big +1 from me.

[2019-06-22 18:41] MathieuAA commented on #9940
@amatosg that's an unexpected side-effect and this "support" isn't guaranteed, so beware.

Frankly, I'm in favor of adding this as a feature as:
  - it's a common use case
  - I don't expect it to be too difficult a task
  - it resolves the original issue
  - it describes the object (which is what the JDL is for)

[2019-06-22 19:45] mraible opened #9973 "liquibase.exception.DatabaseException: class path resource [config/liquibase/data/blob/hipster.txt] cannot be resolved to URL because it does not exist"
##### **Overview of the issue**

My JHipster app fails to start after importing JDL:

[code]

[code]

##### **Motivation for or Use Case**

This JDL used to work before Faker.js was integrated.

##### **Reproduce the error**

Create a JHipster app, import the JDL above, restart your app.

##### **Suggest a Fix**

Not sure. Disabling Faker is a workaround.

##### **JHipster Version(s)**

[code]

##

[2019-06-23 05:26] givemesumthing commented on #1031
i realize i am way too late to the party. But have a similar requirement. Is there a possibility that this feature has been implemented int the new jhipster version ?

[2019-06-23 05:28] givemesumthing commented on #1031
@mtrycz  Please do contribute.. will it be possible for you to share the implementation that you have done ?

[2019-06-23 08:01] abiieez commented on #7868
Is this fixed in the latest release ? or I need to manually fix it ?

[2019-06-23 10:19] deepu105 commented on #9940
You are the boss here Mathieu, so if you think it's fine then it's good. On
a side note, this could also be a JDL only feature. As we are planning to
go JDL centric we can add more features to JDL and have the entity sub
generator only support simple cases. Ofcourse the fetaure needs to be
implemented in the generator but it doesn't have to be supported in the
entity sub gen prompts.

Thanks & Reg

[2019-06-23 10:29] deepu105 commented on #8915
@MathieuAA lets start this by merging JHipster-core into the main project. I think most of the core team agreed to that. @jhipster/developers do anyone have any objection to merging jhipster-core into generator-jhipster?

[2019-06-23 11:34] #9973 closed

[2019-06-23 11:40] colameo commented on #9949
I've a different opinion about this topic. From a model perspective it's not an anti pattern sharing entities between micro services as long as they are used only to "consume" data provided by another service. The bad practice is sharing entities and maintaining such code manually which is against the DRY principal and creates dependencies between APIs. But when code replication is made by a gene

[2019-06-23 12:29] danielpetisme commented on #9960
After a quick overview, I think the `files.js` shouldn't have access to the `generator-constants` file.
My proposal would be to load the contants in the `index.js` (ie. the phase generator) and pass them to the `writeFile` method

[code]

[code]

[2019-06-23 19:11] DanielFran commented on #9871
Closing: see https://github.com/jhipster/generator-jhipster/pull/9951

[2019-06-23 19:11] #9871 closed

[2019-06-23 20:10] SudharakaP opened #9977 "Change Remember Me default option to "false" in Login Modal"
##### **Overview of the issue**

The remember me checkbox in the login modal defaults to true/checked. I believe we should change this to unchecked.

##### **Motivation for or Use Case**

Normally it's good UX practice to give the user the option to click on remember me if he/she wants rather than making the login remember me option on by default.

Example Reference: https://ux.stackexchange.com/q

[2019-06-24 02:30] vraravam opened #9980 "Improved Cache logic in generated code"
##### **Overview of the feature request**

In the generated code, for `User` entity, there is code to handle cache reads and evictions as any instance is created/updated/deleted. This pattern is not followed consistently for other entities generated via jHipster

##### **Motivation for or Use Case**

Using the generator to generate entity code, the `CacheConfiguration.java` and the respective enti

[2019-06-24 02:59] vraravam commented on #9980
For eg, look at the line: https://github.com/jhipster/generator-jhipster/blob/3a7b9a9650104a7d1165be97fe38ef09a68faeac/generators/server/templates/src/main/java/package/service/UserService.java.ejs#L866 - i would like a similar code-generation for other entities generated via yeoman.

[2019-06-24 08:42] jdubois commented on #9876
Yes we should first have a very simple proof of concept so that everyone can discuss. This could be quite a significant change, I'm not sure everybody will agree.

[2019-06-24 09:13] clement26695 commented on #9932
Hi @vleboulanger

I tried to reproduce your issue but didn't manage to reproduce. Do you have a repository I could use to see if I can help you?

[2019-06-24 10:24] jdubois commented on #9980
The `User` entity is a special one, in fact it's probably the only specific one in JHipster, as it's both a domain object and it is used by Spring Security. It's also the only one where we use the Spring cache abstraction, so you won't have this issue anywhere else in JHipster.

So I don't really understand, you mean you also have Spring cache issues in other entites? Maybe because they are linked

[2019-06-24 10:29] vraravam commented on #9980
@jdubois - thanks for getting back.
I agree that `User` is special in one sense. But, my confusion arises from the fact that the `CacheConfiguration` is injected with configurations for caches related to the other entities that are generated. But, those caches are not "managed" is invalidated on an update/delete action (at least looking at the generated code in the entity and the service classes).

[2019-06-24 10:46] atomfrede commented on #9876
I will try to build an example during the week so we can discuss it a bit further.

[2019-06-24 12:06] vleboulanger commented on #9932
Sorry I have no repository

[2019-06-24 14:02] #9950 closed

[2019-06-24 14:32] SravaniPuthupparambil commented on #9943
Hi @ruddell
I have upgraded my Jhipster version to 6.1.2, still the search mechanism is not working. It is same as before. (Works only when the entity is saved through API.)

For re-indexing as you mentioned above, do we still need to write code manually in the latest version too ??

[2019-06-24 15:04] alexsintoni commented on #9875
Hi @pascalgrimaud

I tried the same exercise with JHipster Generator version 6.1.1 and in the Application micro-service (same configuration) I get the same exception plus the following one when I launch it:
[code]

I am not sure it can help.
Shall I create a new issue for this? To me it seems related to `Elasticsearch` as well

[2019-06-24 15:29] markvr4 opened #9982 "Logs admin not displaying loggers"
##### **Overview of the issue**

I am not able to see the log admin interface on apps created with jhipster 6.1.0 and 6.1.2. The Logs page displays with table headers but no rows/data. Reproduced on two different Macs.

##### **Motivation for or Use Case**

The built-in log administration tool is very valuable for troubleshooting issues, and it should work if it is an option in the Administration

[2019-06-24 16:49] PierreBesson commented on #9980
Managing a caching for your entities is dependent on the entities that were generated. In order to reproduce, can you please provide the JDL file of your entities or at the minimum a JDL which reproduces your issue.

[2019-06-24 16:51] clement26695 commented on #9982
I can confirm the issue. This PR should solve it, normally : jhipster/ng-jhipster#97.

Thank you for reporting the bug !

[2019-06-24 16:52] PierreBesson commented on #9932
You probably also need to upgrade the frontend library which contains the metrics view. I think at some point the endpoint `/jhi-metrics` was renamed to `/jhimetrics`

[2019-06-24 18:02] vraravam commented on #9980
Here's the JDL that I am using.
The entities that I am getting the errors are: Resume and CoverLetter.

[resume-builder-jdl.txt](https://github.com/jhipster/generator-jhipster/files/3322015/resume-builder-jdl.txt)

[2019-06-24 21:17] gzsombor commented on #9836
I think, this ticket can be closed now - in the next major release, we can remove the compatibility, deprecated setters.

[2019-06-24 21:17] #9836 closed

[2019-06-25 07:35] pvliss commented on #9943
@SravaniPuthupparambil Yes, no change has been made in jhipster regarding this functionality. As @ruddell  pointed out  you will need to manually re-index in order to include your existing data or try with the [Elasticsearch Reindexer module](https://github.com/geraldhumphries/generator-jhipster-elasticsearch-reindexer) although it seems to be a bit outdated. Closing this as this is not currently

[2019-06-25 07:35] #9943 closed

[2019-06-25 08:36] pvliss commented on #9875
@alexsintoni To address some of your issues:
1. The `org.elasticsearch.index.IndexNotFoundException: no such index` is **debug** log from elastic the first time you start up your application as the index does not exist yet, hence it is normal. Consecutive start ups of the application should not produce that message, except if you are also cleaning the build output dir while running in dev profile(

[2019-06-25 13:29] Bogad opened #9987 "Exclude files using blueprint"
Hi Guys,

Please how can i exculde filesfrm generation process using blueprint ?

[2019-06-25 13:31] jdubois commented on #9987
Please, don't use "guys", we try to be inclusive here

[2019-06-25 13:31] jdubois commented on #9987
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-06-25 13:31] #9987 closed

[2019-06-25 13:36] Bogad opened #9988 "Exculde files from generation process using blueprint"
Please how can i exculde files from generation process using blueprint ?

Jhipster version 6.1.0

[2019-06-25 13:50] jdubois commented on #9988
I'm sorry but I don't believe this a bug, could you please use Stackoverflow or Gitter.im for questions?

Have a look at the bug report guidelines, I'm adding the automatic answer below with full information

[2019-06-25 13:50] jdubois commented on #9988
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-06-25 13:50] #9988 closed

[2019-06-25 14:00] deepu105 commented on #9988
@Bogad are you writing a Blueprint? if so you would need to overwrite the section that generates the file. But I can't help much without knowing details. If you have repo plz share and point to what you are trying to do

[2019-06-25 20:55] fosslou opened #9989 "Support Alternative architectures (s390x, ppcle64, arm) for jhipster/jhipster docker image"
##### **Overview of the issue**

The JHipster Docker file has statements that are x86 and ARM specific.   If you change these to s390x you can build a docker image on s390x architecture

##### **Motivation for or Use Case**

Need to run JHipster on alternate architectures

##### **Reproduce the error**

use cloud.ibm.com .  get a free account and then go to experimental services.  There is a servi

[2019-06-25 21:03] ksilz opened #9990 "jHipster 6.1.2: fake data doesn't honor unique constraint, breaks Liquibase"
##### **Overview of the issue**

For my Angular / H2 monolith, jHipster generates fake data which doesn't honor the `unique` constraint on my `Shipment` entity. Liquibase fails to load the fake data for this entity.

- The [JDL file is here](https://raw.githubusercontent.com/ksilz/jhipster-6.1.2-java-11-test/master/simple-shop-app.jdl).
- [This is the fake data produced for the shipment](https://g

[2019-06-25 21:37] ksilz commented on #9721
Related issue: #9990

[2019-06-25 21:52] ksilz opened #9991 "jHipster 6.1.2: Wrong Angular code for one-to-one relationship breaks create/update form"
##### **Overview of the issue**

For my Angular / H2 monolith, jHipster generates the wrong create / update class for my `Shipment` entity which has a one-to-one relationship with `ShoppingOrder`. It wants to load a non-existent shopping order instead of loading all orders when creating a new shipment.

- The [JDL file is here](https://raw.githubusercontent.com/ksilz/jhipster-6.1.2-java-11-test/ma

[2019-06-26 08:50] alexsintoni commented on #9875
Hi @pvliss

thanks a million for the udpate.
I will try to disable those **debug** logs then ;)

As I did not see such exception in previous versions of JHipster Generator, I thought it was a problem.

Maybe, you can disable those logs by default direcly in the next version of JHipster Generator, so we have the same experience as we had before when we lauch the microservices the first time.
Up to

[2019-06-26 16:31] steffanolesen opened #9992 "User Management admin pages not generated for gateway with no database"
##### **Overview of the issue**

The user management pages are not generated in my gateway microservice.
This seems to have been introduced in version 6.0.1

##### **Suggest a Fix**

If I switch to use a database with my gateway instead on no database, it seems to work.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<det

[2019-06-27 00:39] shougao commented on #9875
I have the an error like this. when I create a gateway and run nvm test command, after I have already create aaa and Microservice successfully.
"Dependency convergence error for com.google.code.findbugs:jsr305"

this is the command line

============

? Which *type* of application would you like to create? Microservice gateway
? What is the base name of your application? gateway
? As you are runni

[2019-06-27 02:12] eltonkent opened #9995 "npm ERR! Maximum call stack size exceeded"
##### **Environment and Tools**

java version "11.0.3" 2019-04-16 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.3+12-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.3+12-LTS, mixed mode)

git version 2.22.0

node: v12.4.0

npm: 6.9.0

yeoman: 2.0.0

yarn: 1.17.0

Docker version 18.09.1, build 4c52b90

docker-compose version 1.23.2, build 1110ad01

##### **Overview of the issue**

Ru

[2019-06-27 06:00] jussiritamaki opened #9996 "jhipster 6.1.2 import-jdl always adds entities as new"
##### **Overview of the issue**

jhipster import-jdl behavior changed from 6.0.0 to 6.1.0.
When importing incremental change for instance a simple column add on single entity version 6.0.0 detects the change correctly and generates proper liquid migration where both 6.1.0 and 6.1.2 always adds add entity migrations for all entities.

##### **Motivation for or Use Case**

If this is planned behavio

[2019-06-27 08:47] caciousgit commented on #6566
If you cannot generate a new component try the following:
Open app.module.ts the main entry point of your angular app project
and make sure you have done the iports as follows:

import { NgModule } from '@angular/core';
...
...
...

  imports: [
    NgModule,

[2019-06-27 09:36] deepu105 commented on #9996
Could be a regression. Needs to be reproduced.

Thanks & Regards,
Deepu

On Thu, Jun 27, 2019 at 8:00 AM jussiritamaki <notifications@github.com>
wrote:

[2019-06-27 09:43] mraible opened #9997 "JHipster 6 should have plural URLs for list screens"
##### **Overview of the issue**

JHipster 6 has entity URLs like http://localhost:8080/blog instead of http://localhost:8080/blogs like v5 and v4 had.

##### **Motivation for or Use Case**

From @jdubois:

##### **Reproduce the error**

Generate entities, look at list screen URL.

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/9956 No records found message should b

[2019-06-27 09:45] mraible opened #9998 "JHipster releases should not have snapshots repo in pom.xml"
##### **Overview of the issue**

JHipster 6.1.2 has a snapshot repo in `pom.xml` with a TODO that says it should be removed for releases.

[code]

##### **Motivation for or Use Case**

TODO says it should be removed.

##### **Reproduce the error**

Generate a new project with Maven, look at `pom.xml`.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file gene

[2019-06-27 10:45] jkoorts opened #9999 "Jhipster swagger-ui not showing documentation in gateway"
##### **Overview of the issue**

I follow https://www.baeldung.com/jhipster-uaa-secured-micro-service which means I have a registry, uaa, gateway and microservice.
I login admin/admin
I click Administration, I click API
I see the dev ribbon, a swagger.io hyperlink. A dropdown box that is EMPTY and a textbox which is also empty.

Where is the API's in Swagger UI format?

When I go Administration -

[2019-06-27 10:49] JavaHelper commented on #6734
@All - Could you please guide me here: https://stackoverflow.com/questions/27032433/set-default-page-size-for-jpa-pageable-object, as Spring Boot 2.1.x , things are not working ?

[2019-06-27 10:50] JavaHelper commented on #6734
@All - Could you please guide me here https://stackoverflow.com/questions/56786158/unable-to-override-defaults-of-pagination-in-spring-boot-2-1-5-release ?

[2019-06-27 11:44] kaidohallik commented on #9996
I have similar issue, JHipster generates always new changelogs when changing JDL and re-executing import-jdl. If looking into jhipster-core recent changes then this change can be culprit:
https://github.com/jhipster/jhipster-core/commit/d39e15f0e584318c20e70caffe1ce57769ab5f1c#diff-f6c0500618fe74400adc08cfc6620eaaL131
Looks like changelogDate from entity configuration file is not used any more whi

[2019-06-27 12:44] mraible commented on #9999
Can you try it with JHipster 5? Since the Baeldung tutorial was last updated "February 24, 2019", I'm guessing it uses JHipster 5.

[2019-06-27 18:51] bonsmik opened #10002 "Type safe translation keys"
##### **Overview of the feature request**

Typescript could be used for "type safe localization". Currently translation keys are strings but with typescript config "resolveJsonModule" json files could be read and translate function could use type safe keys.

I suppose that typings would be read from the preferred language. Of course it leaves possible caveat that another used languages doesn't hav

[2019-06-27 20:18] gmarziou commented on #9995
I could not reproduce.

One thing I noted is that you use node 12.4.0 while generated gradle.properties sets `node_version=10.16.0`

[2019-06-27 20:21] gmarziou commented on #9995
@eltonkent could please tryinstalling an LTS version of nodejs?

[2019-06-28 06:24] SravaniPuthupparambil commented on #9943
Hi
I have tried many ways, but till facing issues with elastic search re-indexer module. In the documentation it is stated that "add a spring.data.jest.uri property to your application-dev.yml"
![Jhipster-es](https://user-images.githubusercontent.com/49719454/60321334-2c5fcd00-999a-11e9-8cfb-c4bf4d9113c0.PNG)

But when i add an external parameter,it is throwing error that unable to load config/app

[2019-06-28 06:40] kaidohallik commented on #9996
I opened PR in jhipster-core to fix this issue: https://github.com/jhipster/jhipster-core/pull/340

[2019-06-28 06:43] bonsmik commented on #10002
After a good night sleep I think that this could be implemented with separate translation files:

[code]
And usage:
![i18n](https://user-images.githubusercontent.com/12121472/60322669-b141eb00-9988-11e9-836e-175e0b21e9a4.png)

[2019-06-28 06:48] jaypitroda12 commented on #9977
@SudharakaP Hi Sudhakara, my pull request for this issue is merged. [#9993](https://github.com/jhipster/generator-jhipster/pull/9993)

[2019-06-28 07:26] vishal423 commented on #9977
closed by #9993

[2019-06-28 07:26] #9977 closed

[2019-06-28 07:29] SudharakaP commented on #9977
@SudharakaP : Wonderful. 👍

[2019-06-28 08:09] jdubois commented on #6734
@JavaHelper spamming the whole team is not nice, especially 2 times on an old and unrelevant ticket (not the same Spring Boot version), and as it's a cross post from StackOverflow, and as it's not even a JHipster bug at at all. Please have a look at our [contributing guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md).

[2019-06-28 09:03] pascalgrimaud commented on #9948
I think @ruddell is right. So let's close this.

[2019-06-28 09:03] #9948 closed

[2019-06-28 09:09] laurentsorin commented on #9949
Hi,
I have been working for a year on a jhipster monolithic project and now we  are studying a microservices migration

I agree to distinguish between a 'A' consumer (dto + feign client) part and a 'B' provider part (which is the micoservice which manage the B entity itself) as an option provided by the generator. It should be useful in many business cases (cf @Tcharl post)
But the main constraint

[2019-06-28 09:16] PierreBesson commented on #9989
+1 As I just bought the new Raspberry Pi 4, so it's interesting for me. @fosslou can you submit a PR.

[2019-06-28 09:19] PierreBesson commented on #9989
I'm just afraid that your fix will make the docker image only compatible with s390x arch ?
We should try to cover as many arch as possible.

[2019-06-28 09:26] mvasil15 opened #10003 "Compatibility for Elasticsearch 7.1.1"
##### **Overview of the issue**
Me and my team are trying to setup and EFK stack for the monitoring of our application and were trying to put a security up for the Elasticsearch (version 7.1.1). However when attempting to authenticate into the elasticsearch through the spring-data-jest configuration available in jhipster we would get a 401 unauthorized or 403 forbidden despite being sure that the

[2019-06-28 09:40] pascalgrimaud commented on #10003
For now, we use Elasticsearch 6.4.3
See https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-constants.js#L33

We should migrate to Elasticsearch 7+
So thanks for opening this ticket with details. Don't hesitate to PR if you find the fix

[2019-06-28 09:46] pascalgrimaud commented on #10003
Maybe related to https://github.com/VanRoy/spring-data-jest/issues/116

[2019-06-28 09:59] pascalgrimaud commented on #9999
Just tried to reproduce with JHipster 6.1.2 and it works fine.
I can see Swagger API without problem.
Can you provide more information / exact steps to reproduce ? Or try JHipster 6 ?

[2019-06-28 10:21] jkoorts opened #10005 "jhipster entity fails spectaculary"
v6.1.1

Running "jhipster entity" shows stacktrace

C:\dev\java\bikebuddy\service-oemgateway>jhipster entity
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:entity
INFO! Options: from-cli: true
Did not provide required argument name!
Error: Did not provide required argument name!
    at _arguments.forEach (C:\dev\java\bikebuddy\service-oemg

[2019-06-28 10:23] jkoorts commented on #9999
Let me check

[2019-06-28 10:23] deepu105 commented on #10002
Honestly, I'm not sure if this is worth the effort(both in terms of maintaining this way and implementing it for all supported front ends)
It's nice to have type safety but IMO this is taking it too far.

[2019-06-28 10:50] fosslou commented on #9989
I agree.. all architectures should be supported.    Testing it on the Pi would be great.    Let me know if you need access to s390x resources.  I may be able to help

[2019-06-28 11:06] deepu105 commented on #10005
Did you read the failure message" it clearly says `Did not provide required argument name!
Error: Did not provide required argument name!` And no we need stack trace so that it's helpful for advanced users to identify where issue comes from.

[2019-06-28 11:06] #10005 closed

[2019-06-28 12:00] jkoorts commented on #10005
I did read it. But calc.exe does not throw a stacktrace, neither does mysql.exe

[2019-06-28 12:05] jkoorts commented on #9999
Right, I had another go at it. I followed it step by step, and I think now the problem lies with jhispter import-jdl.

It does not create my liquidbase/dto/service/entities:

From baeldung:

entity Quote {
  symbol String required unique,
  price BigDecimal required,
  lastTrade ZonedDateTime required
}
dto Quote with mapstruct
paginate Quote with pagination
service Quote with serviceImpl
microser

[2019-06-28 12:18] jkoorts commented on #9999
Ok created the entity via "jhipster entity" since the "jhipster import-jdl" seems broken.

Started the microservice up, and the result is the same as in my initial bug report.

Here screenshots:

<img width="772" alt="Untitled" src="https://user-images.githubusercontent.com/10402021/60341643-77d0a600-99af-11e9-90a7-b6c1f7bae643.png">
<img width="161" alt="Untitled1" src="https://user-images.github

[2019-06-28 12:19] jkoorts commented on #9999
Just a note I did not "7.2. Adding the Quotes UI" part of the UI. Not needed to see Swagger UI

[2019-06-28 12:41] pascalgrimaud commented on #9996
I changed the label as @kaidohallik confirmes the ticket and made an improvement

[2019-06-28 12:51] pascalgrimaud commented on #9992
I think it's normal.
As you decided to use no database, there is no user to manage, so no user management pages.

That's why I'm closing this ticket, but we can still discuss about it.

[2019-06-28 12:52] #9996 closed

[2019-06-28 13:03] MathieuAA commented on #9996
This is merged, I'll release a patch before this evening

[2019-06-28 13:25] vishal423 commented on #9992
I think we should support as users are managed on `uaa` database

On Fri, Jun 28, 2019, 6:22 PM Pascal Grimaud <notifications@github.com>
wrote:

[2019-06-28 13:25] jkoorts opened #10006 "help command seems broken"
C:\dev\java\bikebuddy\oem-hex-gateway>jhipster --help
INFO! Using JHipster version installed globally

  Spring Boot + Angular/React in one handy generator

C:\dev\java\bikebuddy\oem-hex-gateway>jhipster -help
INFO! Using JHipster version installed globally
Usage: jhipster [command] [options]

Options:
  -d, --debug                    enable debugger
  -V, --version                  output the ver

[2019-06-28 13:32] deepu105 commented on #10006
I confirm this. Seems like `jhipster -h` works fine but `jhipster --help` seems broken

[2019-06-28 15:08] deepu105 commented on #10005
But that doesn't mean anything. Our aim is to provide a useful tool so the focus is more on utility rather than being nice to look at.

[2019-06-28 20:41] avdev4j commented on #9982
I confirm too, I had this bug during a meetup talk :D

@markvr4 would you like to test If the fix suggest @clement26695 fix that? If yes, we can close this issue.

[2019-06-28 21:56] clement26695 commented on #9982
It won't work until the next release of ng-jhipster is included in the main project

[2019-06-28 22:37] markvr4 commented on #9982
I tried to manually make the code changes in my generated app since I don't have a dev environment setup for the jhipster code currently, but I could not get it to work (based on the results of `find . -name "filter.pipe.js"` made changes in node_modules/ng-jhipster/esm5/pipe/filter.pipe.js and node_modules/ng-jhipster/esm2015/pipe/filter.pipe.js). I'm not a UI dev, but I'm assuming I would have t

[2019-06-29 19:18] pascalgrimaud commented on #9992
Oh I see, it's for uaa
Maybe we should generate the user management part when:
- no database
- uaa

I don't know if it works before, I suppose yes, so it should just be a simple condition to fix

[2019-06-29 20:47] pascalgrimaud commented on #8391
I'm adding a bounty on this as:
- it's opened for long time
- it looks like a lot of work
- it deserves this

[2019-06-30 02:33] GeCol1 opened #10008 "queryParams mandatory"
##### **Overview of the issue**
When creating an entity with the JPA static metamodel, the entry point for the queryParams is mandatory but is should not be.

##### **Motivation for or Use Case**

##### **Reproduce the error**

With JHipster 6.1.2, create a monoloth and a simple entity with JPA static metamodel.
The queryParams is then mandatory.
![image](https://user-images.githubusercontent.com/

[2019-06-30 07:18] kaidohallik commented on #9982
@markvr4 Yes, exactly.

Step 1: go to some folder where you want to clone https://github.com/jhipster/ng-jhipster and execute commands:
[code]

Step 2: change generated project:

In `package.json` change this line:
[code]
to something like this (use correct path to cloned ng-jhipster):
[code]

Run `npm install` and `npm start` and started app is now using cloned version of the ng-jhipster.

[2019-06-30 09:26] murdos commented on #10008
I confirm the issue, I encountered it recently too.

It's related to pagination, not jpaFiltering and exists since https://github.com/jhipster/generator-jhipster/commit/7aa4120f098ba6f70c0fa493f80b968f5cf3ee4e and https://github.com/jhipster/jhipster/commit/b73fe65338c59f7027f142463eab70d105f52df5#diff-8ccd0377d0ab17e7d2b1a14d1414d458

@cbornet : since `queryParams` is not an actual parameter, it

[2019-06-30 13:30] gmarziou commented on #9995
I could not reproduce either with node 12.5.0, so there is probably something wrong in your environment, you might want to try `npm cache clean --force`

[2019-06-30 13:30] #9995 closed

[2019-06-30 13:37] pascalgrimaud commented on #9932
@vleboulanger : sorry, I can't reproduce too, and I'm pretty sure it comes from your upgrade.

I'm closing the ticket as there is no issue on our side. Don't hesitate to comment or provide a fresh repo with the bug.

[2019-06-30 13:37] #9932 closed

[2019-06-30 13:40] pascalgrimaud commented on #9908
So can I assign the ticket to one of you ? @pvliss or @murdos ?

[2019-06-30 13:44] pascalgrimaud commented on #9891
Crazy work here @qmonmert !
Hope someone with more experience with React can review all your PRs

[2019-06-30 14:16] pascalgrimaud commented on #9953
Not sure we can do more here than what I already linked.
That's why I'm closing this ticket.

[2019-06-30 14:16] #9953 closed

[2019-06-30 14:21] pascalgrimaud commented on #8366
I'm reopening this ticket, following https://github.com/jhipster/generator-jhipster/pull/9824#issuecomment-504980534

[2019-06-30 15:00] pascalgrimaud commented on #10006
The problem comes from this PR https://github.com/jhipster/generator-jhipster/pull/9913
@dziemich : can you have a look plz ?
Otherwise, a quick solution would be to revert the commit.

[2019-06-30 15:02] pascalgrimaud commented on #10002
Agree with @deepu105
It would be a lot of work for no real benefits.

[2019-06-30 15:04] pascalgrimaud commented on #9998
Yes, it's a mistake. I didn't delete these part when I did the last release 6.1.2.
It will be done in the next release, as it's in the check list, I won't forget this time.

[2019-06-30 15:04] #9998 closed

[2019-06-30 15:24] deepu105 commented on #10006
Lets revert that commit in the meantime since the improvement is not that
noticeable

On Sun, 30 Jun 2019, 5:00 pm Pascal Grimaud, <notifications@github.com>
wrote:

[2019-06-30 15:24] #10002 closed

[2019-06-30 15:25] pascalgrimaud commented on #10006
Ok, I'm doing this @deepu105

[2019-06-30 16:02] pascalgrimaud commented on #9997
Are you sure about that ?
Just switch to an old version of jhipster-sample-app: v5.2.0 and I got `http://localhost:8080/#/label` in URL

![Capture d’écran de 2019-06-30 18-00-19](https://user-images.githubusercontent.com/9156882/60399190-2831dc00-9b61-11e9-8b20-8261538ca9eb.png)

[2019-06-30 16:06] jdubois commented on #9997
Oh sorry, the REST API is pluralized, not the HTML5 frontend

[2019-06-30 16:12] pascalgrimaud commented on #9997
In that case, I don't see any bug as REST API is still pluralized, not the URLs.
I'm closing this, hope you're ok Matt. Feel free to reopen and discuss if it needed :-)

[2019-06-30 16:30] qmonmert commented on #9891
thanks @pascalgrimaud :) I hope cc @deepu105 & @chrisdns ;)

[2019-06-30 16:48] pascalgrimaud commented on #7868
@abiieez : this ticket has been closed 1 year ago and concerned the version 5.0.2, so to answer you, yes, it should be in the last release 6.1.2.

[2019-06-30 19:06] #10006 closed

[2019-06-30 20:26] #9944 closed

[2019-06-30 20:29] #9956 closed

[2019-06-30 22:36] deepu105 commented on #9982
We need to fix this for next release as the page is useless now

[2019-07-01 05:39] pascalgrimaud commented on #9982
@deepu105 : it is already fixed by @clement26695, we just need to do a release of ng-jhipster and check here

[2019-07-01 07:12] GeCol1 commented on #10008
@pascalgrimaud : this is not an enhancement but a bug. The REST api entry point ask for a mandatory queryParams field which was not the case before and should not be. Can you please review the tags?

[2019-07-01 07:14] pascalgrimaud commented on #10008
@GeCol1 : done ! Thanks for that :)

[2019-07-01 07:26] cbornet commented on #10008
I think a `@ApiIgnore` annotation on `queryParams` should fix that.

[2019-07-01 08:57] iDisturb opened #10013 "JHipster Database dummy data"
##### **Overview of the issue**

I would like to disable the generation of dummy data on my database when running my JHipster application, there's probably a setting to disable this but I just can't find it.

##### **Motivation for or Use Case**

Because I don't want my project to be filled with information that is not mine.

##### **Reproduce the error**

Running the project will cause this.

###

[2019-07-01 09:10] clement26695 commented on #10013
You can look into the src/main/resources/config/application-dev.yml file and remove "faker" in spring.liquibase.contexts

[2019-07-01 09:14] jdubois commented on #10013
Closing as this is not a bug, and @clement26695 is correct (also have a look at the documentation, but I know it's complex when you start)

[2019-07-01 09:14] #10013 closed

[2019-07-01 09:31] murdos commented on #10013
@jdubois I don't think there's any documentation on fake-data.

[2019-07-01 09:38] deepu105 commented on #10013
@jdubois since many people have been opening similar issue, maybe we can disable the fake data profile by default and people can enable it if required. WDYT? I also personally would like fake data not loaded by default in dev

[2019-07-01 09:44] jdubois commented on #10013
Yes I see many people disliking it, but it's always the same thing, the happy people never talk 😀
If we disable it by default, we might as well totally remove it, as I know people will forget about it, so it won't be used, and so there'll be tons of bugs. Please note that the idea is also you can edit the files with a spreadsheet, so you can put your own data there -> WDYT about removing faker, an

[2019-07-01 09:57] deepu105 commented on #10013
Ya may be lets keep the mechanism and disable faker data by default and may
be we can enable faker data injection while generation with a flag

Thanks & Regards,
Deepu

On Mon, Jul 1, 2019 at 11:44 AM Julien Dubois <notifications@github.com>
wrote:

[2019-07-01 13:20] iDisturb commented on #10013
Yes it would be great if you guys make it optional because it was confusing to me at first, I didn't know it was linked to a profile and there's no information to explain it in JHipster's website, thank you everyone, keep up the good work with this generator.

[2019-07-01 13:45] pascalgrimaud commented on #8990
@caffeinecoders : sorry for taking time to anwser to you.

I tried with the last JHipster 6.1.2 and didn't manage to reproduce.
Can you try with the last release of JHipster plz ?

[2019-07-01 15:22] Shaolans commented on #9280
I am quite interested, can I work on it ?

[2019-07-01 15:32] jdubois commented on #9280
@Shaolans yes of course! I'll test it on Azure

[2019-07-01 16:17] gmarziou commented on #10013
One thing that also confuses some users about fake data is that when they add their own data to generated CSV file they get a Liquibase checksum error. I think that calling loadData from *_added_entity_*.xml migration adds confusion, I would rather call it from a dedicated migration.

[2019-07-01 22:27] anujgpatel opened #10018 "Scope based authorization not working new Jwt Token Converter"
##### **Overview of the issue**

JHipster 6.1.0 added code for custom jwt token converter which generated GrantedAuthorities based on roles/groups claim value.  This implementation generated granted authorities purely based on that and dis-regards scp claim.

##### **Motivation for or Use Case**

Our controller uses authorization based on scope e.g. @org.springframework.security.access.prepost.Pre

[2019-07-02 03:00] vishal423 commented on #10018
@anujgpatel, your change looks good. would you be able to raise PR? Please do note that #9874 also refactor this code.

[2019-07-02 07:49] cbornet commented on #7608
About caching, there's currently no support for [@Cacheable](https://github.com/spring-projects/spring-framework/issues/17920) in spring data reactive. A [reactor add-on](https://stackoverflow.com/a/48156827) can be used to wrap the CacheManager. Note that the CacheManager being a blocking API, it kind of defeats the async non-blocking pattern. For now, the best solution seems to be to disable the

[2019-07-02 10:18] MathieuAA commented on #8391
A PR has been merged on JCore about that. The credit goes to @Shaolans as I've taken his code as inspiration to implement it. He absolutely deserves the bounty.

[2019-07-02 10:58] st4rtx opened #10019 "deploy on rancher"
hi all

i want deploy jhipster app on rancher but i have very problem and generator dose not support rancher but in old version this is supported! can you say me why jhipster not support rancher

[2019-07-02 11:24] deepu105 commented on #10019
The support was removed due to low usage and also due to the fact that rancher moved on to use Kubernetes

[2019-07-02 11:24] #10019 closed

[2019-07-02 12:34] pascalgrimaud commented on #9707
I'm closing this as https://github.com/jhipster/generator-jhipster/pull/9874 has been merged.
Then, maybe it can be improved but the solution proposed by @Tcharl works!

[2019-07-02 12:34] #9707 closed

[2019-07-02 14:54] GeCol1 commented on #10008
@cbornet and why not a required=false ?
`@RequestParam(required = false) MultiValueMap<String, String> queryParams`

[2019-07-02 15:53] deepu105 commented on #8391
@MathieuAA shall we close this then?

[2019-07-02 16:20] Blackdread commented on #10008
because this is just wrong to do `@RequestParam(required = false) MultiValueMap<String, String> queryParams`
there is criteria, DTO, VM for something and not to go back to MultiValueMap

[2019-07-02 20:35] MathieuAA commented on #8391
@deepu105 I'll be closing this tomorrow, when I'll drop the (hopefully) latest release of JCore before the merge.

[2019-07-02 22:08] deepu105 commented on #8391
Sure thanks man. Awesome work

On Tue, 2 Jul 2019, 10:35 pm Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2019-07-03 09:08] st4rtx commented on #8143
any body now fix this error or not?

[2019-07-03 09:10] pvliss commented on #9914
I had a look at this and I can reproduce the problem both with Java 8 and 11. It is a synchronization issue caused by the [code](https://github.com/jhipster/generator-jhipster/blob/a3faf0464bf902c519714010ced198feb1845cfb/generators/server/templates/src/main/java/package/service/UserService.java.ejs#L731-L775) trying to synchronize the users between the IdP and local DB. More specifically when 2or

[2019-07-03 09:13] atomfrede commented on #8143
I have a working example, but without using a helm chart, thats why I closed the PR as we wanted to go with a helm directly I think.

[2019-07-03 10:35] st4rtx commented on #8143
i want use jhipster and keycloac on kubernetes but generator dont use keycloac and app have error

[2019-07-03 11:55] pvliss commented on #9908
I can give it a shot, except if @murdos wants to do it.

[2019-07-03 12:31] atomfrede commented on #8143
@jhipster/developers As we have not yet made any progress using helm charts I could reactive my PR. If I remember correctly everything worked fine for monolith already.

[2019-07-03 12:50] st4rtx commented on #8143
in microservice  dont worked and jhipster kubernetes generator dont make keycloak.yml and ignore it !

[2019-07-03 12:52] st4rtx commented on #8143
any body now other Technic ?

[2019-07-03 12:57] jdubois commented on #8143
@st4rtx please don't spam everybody if you don't participate in solving the issue, this pollutes the thread and annoys the 780 people who are watching the repo

[2019-07-03 13:06] st4rtx commented on #8143
@dkirrane  ok i delete it but say me how can i find the solution ?

[2019-07-03 15:29] atomfrede commented on #8143
@st4rtx If you need specific help you can use stackoverflow or at least tell what your concrete problem is. My old PR contains everything to deploy a single keycloak instance in kubernetes and connects a jhipster application to it.

[2019-07-03 15:43] markvr4 commented on #9982
Thanks for the info, @kaidohallik! I can confirm following those steps resolved the issue for me.

[2019-07-03 16:47] hdurix commented on #9498
Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/8820

[2019-07-03 17:13] yelhouti opened #10031 "buildSpecification returns duplicate rows when combined with ManyToMany In Criteria"
##### **Overview of the issue**

When we have a ManyToMany relationship, a request to the server with `groupId.in=1,2,3` returns the rows with groupIds as many time as present in the filter.
ex:
JDL
[code]

If Task 1 has groups: 1,2,3,4
 and a request is sent with `groupId.in=1,2,3` the line is shown 3 times as there is no distinct in the code that build the specification: `io.github.jhipster.serv

[2019-07-03 18:27] DanielFran commented on #10031
Ping @gzsombor

[2019-07-03 20:08] duderoot commented on #9690
I need in one of my JHipster projects to dig in more to understand what headers values are we using and I think that we need to put in the path. In Sprig  exist an issue [#21449](https://github.com/spring-projects/spring-framework/issues/21449) where is tald that one need to add the path to the UriComponentsBuilder.

[2019-07-03 20:21] murdos commented on #9908
@pvliss : you can go ahead, I don't have time to work on it currently

[2019-07-03 20:32] DanielFran commented on #9690
@gordiolo Can you test PR from @duderoot and confirm if it fixes the ussue, please?

[2019-07-04 06:48] micobarac commented on #9032
@recyclerzhu2015 I added swagger-ui dependency to pom.xml and setup a Swagger docklet, but I cannot compile the project.

Manual:

[Spring Boot REST API Documentation with Swagger and SpringFox](https://hellokoding.com/spring-boot-restful-api-documentation-with-swagger-and-springfox/)

Error:

`org.springframework.context.ApplicationContextException: Failed to start bean 'documentationPluginsBoots

[2019-07-04 06:49] micobarac commented on #9032
It looks like one cannot create a Swagger docklet without specifying group name, which is confusing.

[2019-07-04 07:07] micobarac commented on #9032
Ok, I managed to start it without docket configuration. All Springfox dependencies must have version set inside pom.xml.

By running `mvn clean spring-boot:run`, I was able to start Swagger UI.

The question that still remains is how to configure Swagger UI default settings through docket, without setting specific group name?

[2019-07-04 08:12] micobarac opened #10034 "Cannot disable or override SwaggerAutoConfiguration settings"
##### **Overview of the issue**

Cannot disable or override SwaggerAutoConfiguration settings. I want to add `securitySchemes`, `directModelSubstitute`, `securityContexts` and `apis` properties to the default Swagger docket, which is auto configured by jHipster.

##### **Motivation for or Use Case**

I want to be able to override default Swagger docket, without creating a new one, which forces me

[2019-07-04 09:30] cbornet commented on #10034
Does it work if you annotate your bean with `@Primary` ?
Otherwise the autoconf accepts customizers so you should be able to override everything that's set by default.

[2019-07-04 10:08] RenaudDemarneffe opened #10035 "Common errors not correctly translated"
##### **Overview of the issue**

Some common HTTP errors (404, 500, ...) are not translated into the UI while the error translations are in the i18n/error.json file.

![image](https://user-images.githubusercontent.com/13720513/60658867-60346a00-9e54-11e9-8154-4ee4b6c9d69a.png)

##### **Motivation for or Use Case**

When an error occurs into the code, the correct HTTP code is returned by the REST A

[2019-07-04 10:20] micobarac commented on #10034
Yes, it worked with annotating my custom `@Bean` with `@Primary`.

[2019-07-04 14:11] #9926 closed

[2019-07-04 14:27] KodkodGates commented on #9545
Had the same issue & solved it quickly running it all in intellij IDEA Ultimate (as opposed to command line)

[2019-07-04 15:12] SoniaLahi commented on #10035
Hi, I can check this issue for Angular and React.

[2019-07-04 17:32] Shaolans commented on #8391
@MathieuAA You deserve as much as I do, if not more ! You did a great work by reviewing my PR and reimplement it better 👍

[2019-07-04 20:36] PierreBesson commented on #9348
@salaboy Can you create an RFC linked to this issue as described in https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

[2019-07-04 20:41] PierreBesson commented on #8967
As this is quite a complex feature,
@xetys can you create an RFC linked to this issue as described in https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

This would allow you to lay out your ideas and maybe someone else who has more time can work on it, maybe @hawkurane or @shaolans.

[2019-07-04 20:44] PierreBesson commented on #8915
@deepu105, as this feature is quite complex, maybe you can create an RFC linked to this issue as described in https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

[2019-07-05 07:46] micobarac opened #10039 "Error creating bean with name 'io.github.jhipster.config.metrics.PrometheusRegistry'"
##### **Overview of the issue**

I get this error when starting app:

`Error creating bean with name 'io.github.jhipster.config.metrics.PrometheusRegistry': Unsatisfied dependency expressed through constructor parameter 0; nested exception is org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type 'com.codahale.metrics.MetricRegistry' available: expected at leas

[2019-07-05 08:22] clement26695 commented on #10039
Hi @micobarac !

I didn't manage to reproduce your error, on either my mac or linux with 6.1.2 version (and master version). Did you modify anything, or were you trying to upgrade from a previous version of JHipster ?

I can try to take a look if you have a repo you can share.

[2019-07-05 08:50] micobarac commented on #10039
HI @clement26695 !

I created a new app, and started copying java files from my old project into the new one. I just cannot find a reason why would metrics go wild, as I am not changing anything involving it or using it at all?

[2019-07-05 08:55] salaboy commented on #9348
@PierreBesson I am on it.. can I create a different issue? An Operator is not related strictly with Spring Cloud Kubernetes.

[2019-07-05 09:04] PierreBesson commented on #9348
As you wish, but please close this issue if you do.

[2019-07-05 09:15] clement26695 commented on #10039
Which version of the jhipster-dependencies do you have in your pom.xml ?

+ I think, as you point out, that you can remove the use of the MetricRegistry in the CassandraConfiguration file + the import, as I think we don't use it anymore

[2019-07-05 09:16] micobarac commented on #10039
`<jhipster-dependencies.version>3.0.3</jhipster-dependencies.version>`

[2019-07-05 09:27] clement26695 commented on #10039
Do you have a jhipster.metrics.prometheus property ? It was removed in 5.8.0. As we switched from dropwizard metrics to micrometer to collect the application metrics, some configuration changed at that time.

[2019-07-05 09:33] micobarac commented on #10039
application.yaml:

[code]

application-prod.yaml:

[code]

[2019-07-05 09:58] clement26695 commented on #10039
Everything looks ok. I'm sorry, I can't really find the origin of your issue, and as I can't reproduce, it is difficult to debug...

You may try to use 2 different version of the jhipster-dependencies. I'm not an expert, but you may try to clean your ~/.m2/repository/io/github/jhipster/ directory, then relaunch your app and see which dependency is loaded.

[2019-07-05 11:40] micobarac commented on #10039
I generated a new project again, added files and the error is gone now. Strange. Thanks anyway.

[2019-07-05 11:40] #10039 closed

[2019-07-05 11:43] deepu105 commented on #8391
I propose that both of you claim the bounty of $100  :) I'll be happy to
approve

Thanks & Regards,
Deepu

On Thu, Jul 4, 2019 at 7:32 PM Ling-Chun SO <notifications@github.com>
wrote:

[2019-07-05 11:44] deepu105 commented on #8915
Ya sure, I'll move it when I have some time

Thanks & Regards,
Deepu

On Thu, Jul 4, 2019 at 10:44 PM Pierre Besson <notifications@github.com>
wrote:

[2019-07-05 15:50] maznag opened #10042 "Existing Liquibase changelog files duplicated upon reimporting JDL file"
##### **Overview of the issue**

When we make changes to a jdl file, and re-importe the model using 'jhipster import-jdl' command, the existing Liquibase changelog files are duplicated and the master is updated

##### **Motivation for or Use Case**

Existing changelog files shouldn't be duplicated.

##### **Reproduce the error**

1. Generate a new application
2. Create a JDL with an entity
3. Impo

[2019-07-05 16:41] PierreBesson commented on #10034
@micobarac You should rename your bean `swagger` -> `swaggerSpringfoxApiDocket` so that it will replace the autoconfiguration (see [SwaggerAutoConfiguration.java#L103](https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/config/apidoc/SwaggerAutoConfiguration.java#L103)). You can also stop enabling the `swagger` spring profile to disable our autoconf

[2019-07-05 16:41] #10034 closed

[2019-07-05 16:49] PierreBesson commented on #9859
It's been a really long time no one has touched the code of the marketplace at [jhipster.github.io/modules](https://github.com/jhipster/jhipster.github.io/tree/master/modules). As we want to push people toward modules and blueprints more, maybe it's a good time to revisit it and make it nicer and more central to the website. Anyone interesting in doing this fun project ? @jhipster/developers @Hawk

[2019-07-05 16:56] PierreBesson commented on #9853
The initial idea from Julien is to have the information in only one place the jhipster.tech website and I tend to agree with it.
Currently our issues and PR descriptions are not cleaned and uncurated which means that you cannot automatically extract good release notes from them. Very often we have users submitting PRs with unclear titles or content that is irrelevant to the release notes (eg. "fix

[2019-07-05 17:27] #9690 closed

[2019-07-05 17:27] #10008 closed

[2019-07-05 18:41] #9992 closed

[2019-07-05 22:09] clement26695 commented on #10042
I think it should be fixed with next version of jhipster-core (see: jhipster/jhipster-core#340)

[2019-07-05 23:40] murdos commented on #10042
Yes, I think it the same issue as https://github.com/jhipster/generator-jhipster/issues/9996 so closing this one as a duplicate.

[2019-07-05 23:40] #10042 closed

[2019-07-06 01:03] #9685 closed

[2019-07-06 13:35] anujgpatel opened #10045 "spring.security.oauth2.client.registration.oidc.client-secret not validated"
##### **Overview of the issue**

I have a jhipster 6 generated microservice with oauth2/oidc validation enabled(Spring Boot 2.1.4, Spring Security 5.1.5).  Corresponding application is registered with Okta and the application.yml has been updated with correct issuer-uri and client-id.  Though, I have configured it with wrong value for spring.security.oauth2.client.registration.oidc.client-secret.

[2019-07-07 02:25] yelhouti opened #10046 "Storing files outside of the database"
##### **Overview of the feature request**

I know this might might be a sensitive issue for some, and this is clearly to start the discussion and weight the pros and cons, but wouldn't it be better to be able to store files outside of the database (using blobs...)
##### **Motivation for or Use Case**

I feel that JHipster is teaching a lot of new comers the Spring/Angular (or React or Vue) stack,

[2019-07-07 10:39] st4rtx commented on #8143
@atomfrede  i search at your PR but i dont find any things about keycloak ok kube

[2019-07-07 11:04] alanhg opened #10047 "yarn start ok,but npm start error"
when i run npm start,error occur.but i change npm to yarn , it's ok.
[code]
## env info
[code]
node v10.15.0
[code]

[2019-07-07 12:52] deepu105 commented on #10047
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-07-07 12:52] #10047 closed

[2019-07-07 17:06] walshe opened #10048 "Kafka issues with app.yml"
##### **Overview of the issue**

Kafka startup issues when I use docker compose: `docker-compose -f src/main/docker/app.yml up`

`kafka_1           | [2019-07-07 16:49:09,318] ERROR [KafkaApi-2] Error when handling request: clientId=2, correlationId=6, api=UPDATE_METADATA, body={controller_id=2,controller_epoch=5,broker_epoch=173,topic_states=[{topic=topic_jhipster,partition_states=[{partition=0,c

[2019-07-07 17:14] amatosg commented on #10046
I think this is a good idea, I had to find a way to upload all attachments to S3 to avoid having a very fat db.

[2019-07-07 20:28] atomfrede commented on #10046
I really like the idea as having e.g. images as base64 encoded strings in the API responses is quite suboptimal. Maybe we an support https://min.io/ which has an s3 compatible api and can be self hosted (but never tried it).

[2019-07-07 20:50] yelhouti commented on #10046
I personally would go with a simple write to disk to something like: `entityName.fieldName.id.extention` or `entityName.id.fieldName.extention`, and let kubernetes or anything else provision the persistence volume with S3, baremetal or whatever... I would also suggest adding an option filed with filename, and maybe drop saving the mime type in that database.

[2019-07-08 00:46] yelhouti opened #10049 "Translation not found for validation messages when using DTO"
When using DTOs the translation is not found for the fieldName` in validation messages,
this is because the objectName return by the server end with `DTO`, and the translation file doesn't end with it.

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**
Generate a project with length validation (ex: minLength) disable client side validation, send t

[2019-07-08 03:31] mraible commented on #9997
I think this should be reopened. In the v4 and v5 versions of the JHipster demo + screencasts I recorded, front end URLs were pluralized for list screens.

[2019-07-08 03:33] ryrun168 opened #10051 "Spring Boot connect with Postgres SSL"
Dear All,

I have an issued to related to connection between spring boot to postgres ssl.

My database is postgres and i enabled it with SSL Mode, but when i connect it to spring bot it can't work.

So do you have any advise ?

--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker, if your issue is not a **bug** or **feature request** then sorry you are not

[2019-07-08 06:37] deepu105 commented on #10051
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-07-08 06:37] #10051 closed

[2019-07-08 06:56] jdubois commented on #9997
Sorry everyone for messing up here... I definitely remember the API is pluralized, for the front-end URLs I have no idea what I did, but also I wonder if pluralizing those is a good idea. We should discuss this, at least!

[2019-07-08 07:10] micobarac opened #10052 "Running integration tests: Could not find a valid Docker environment"
##### **Overview of the issue**

I get this error when starting integration tests:

`java.lang.IllegalStateException: Could not find a valid Docker environment. Please see logs and check configuration`

I cannot find anywhere in JHipster documentation that integration tests must be run inside Docker.
When I start Docker, tests start, but comparing to older version of JHipster when integration test

[2019-07-08 07:19] avdev4j commented on #10046
Hi,
I understand the issue but I think it's not a bad idea to use db,  by default, for storing files. We don't need a third party service and can be use even if you are behind a proxy or on local network.

So for best practices we should store files outside the db and use something like S3 but for some reasons use a db storage his still a solution for me.

Maybe we can let users choose and add a q

[2019-07-08 07:22] jdubois commented on #10046
Storing files in the database isn't all bad, at least for a "small" usage. I totally agree you need something better if you're really having a lot of files, but then there's a lot of specific stuff to do depending on your business needs and the scale you want to achieve - I'm afraid this goes too far to be included in the main generator, and that it's going to be very hard to have something generi

[2019-07-08 08:00] salaboy opened #10053 "JHipster K8s Operator"
##### **Overview of the feature request**

Integrating with Kubernetes requires more than just the Kubernetes Manifest to get our containers running inside the platform. The JHipster Kubernetes Operator will enable JHipster MicroService Applications (projects) to be managed and understood by the platform in a native way.
Related to my presentation in JHipster Conf 2: https://salaboy.com/2019/07/03

[2019-07-08 08:19] vishal423 commented on #10046
We also took a similar approach in one of our projects to manage the binary data outside the database. While doing this, we also separated the life cycle of binary resources following Twitter APIs https://developer.twitter.com/en/docs/media/upload-media/overview

[2019-07-08 09:14] salaboy commented on #10053
PR for the RFC done: https://github.com/jhipster/generator-jhipster/pull/10054

[2019-07-08 14:16] nonomoho opened #10055 "Compilation error gateway without cacheProvider"
##### **Overview of the issue**

javax.cache.* is still used in RateLimitingFilter.java when there is **no** cacheProvider.

##### **Motivation for or Use Case**

Compilation failed

##### **Reproduce the error**

I use this jdl to generate my app:

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

JHipster v6.1.2

##### **JHipster configuration**

##### **J

[2019-07-08 14:23] vishal423 commented on #10055
seems related to #9867

[2019-07-08 14:28] nonomoho commented on #10055
Yes, sorry I didn't see that!

[2019-07-08 15:04] deepu105 commented on #10052
Do you have Docker installed? for cassandra we use TestContainers and it requires docker to be installed

[2019-07-08 15:40] mertmr opened #10056 "Oauth2 and React "Network Error" On Homepage"
##### **Overview of the issue**
React and oauth generated apps produce "Network Error" on the homepage. Keycloak works properly, I can use the sign in link and login with the admin/admin credentials on the Keycloak login page. We are nearing our production deadline and this kind of error on the home page is really annoying. Also couldn't find a way to suppress the message. Any quick work around wi

[2019-07-08 21:48] amatosg opened #10059 "Feature Request: Add 'skip-liquibase' flag to 'import-jdl'"
##### **Overview of the feature request**

When re-importing a JDL file, jhipster updates the xml files with the updated entities, but after the project has been already deployed those files should not be updated but new changelogs should be generated with `liquibase:diff`.

##### **Motivation for or Use Case**

It would be really helpful for projects that have been already deployed to production

[2019-07-08 22:49] mraible commented on #10056
I've recently seen this as well. @deepu105 do you know how to fix this?

[2019-07-08 22:51] mraible commented on #10045
Do you have a `.yo-rc.json` file for your gateway app as well? I need to generate both a microservice and a gateway to verify this behavior.

[2019-07-08 23:30] mraible opened #10062 "Errors when trying to access microservices for the first time"
##### **Overview of the issue**

When creating JHipster microservices using [this tutorial](https://developer.okta.com/blog/2019/05/23/java-microservices-spring-cloud-config), there's a couple errors when you first run it with Docker Compose.

1. "Request method 'POST' not supported"
2. Every API request (blog or store) throws a 504 time out the first time

Here's the JDL I used to create everythi

[2019-07-09 04:33] anujgpatel commented on #10045
I have not generated gateway, I intend to use it as a standalone
microservice. Easiest way to verify this would be to follow the steps I
mentioned earlier and then using postman as follows;
Specify OAuth2 as auth type
Specify correct client-id, client-secret, appropriate scope and get the
token
Use token and perform GET on /services/<service name>/api/users

On Mon, Jul 8, 2019 at 3:52 PM Matt Rai

[2019-07-09 05:09] mraible commented on #10045
@anujgpatel This is not supported by our current OAuth 2.0 implementation. We expect you to have a gateway with your microservices.

[2019-07-09 05:09] #10045 closed

[2019-07-09 05:49] vishal423 commented on #10045
@mraible, Shouldn't behavior be the same for access via a gateway or directly via postman? As per my understanding, in both flows, micro-services API would be accessed by passing Bearer token in `Authorization` header. I think the concern raised in this issue is about incoming token validation against OIDC provider. Do we support that?

[2019-07-09 06:36] micobarac commented on #10052
I started Docker, but I have a problem with dockerized version of Cassandra container. Some tests fail to start, with error message saying that the container cannot be initialized. I used some old code from previous JHipster version with Embedded Cassandra and all tests work just fine. Btw, why is Logstash showing the error that it cannot start?

[2019-07-09 06:48] gvernile commented on #9032
Hi @micobarac , can i ask the configuration that you use for starting the swagger ui?

[2019-07-09 07:26] jdubois commented on #10003
I'm adding a bug bounty here, this is important and should be upgraded

[2019-07-09 07:27] jdubois commented on #9982
This seems important - I know it's already fixed, but still worth a bounty, so I'm adding one

[2019-07-09 07:36] DanielFran commented on #10003
This is not yet updated in SDE, see https://github.com/spring-projects/spring-data-elasticsearch/pull/284, and will be addes only to v4

[2019-07-09 08:53] deepu105 commented on #10056
I thought I already did a PR to fix it. Need to check

On Tue, 9 Jul 2019, 12:49 am Matt Raible, <notifications@github.com> wrote:

[2019-07-09 09:47] DanielFran commented on #10059
Probably related with https://github.com/jhipster/jhipster-core/issues/341 and https://github.com/jhipster/generator-jhipster/issues/9996

Should be fixed with https://github.com/jhipster/jhipster-core/pull/340.

Can you confirm?

[2019-07-09 10:28] DanielFran opened #10065 "LogstashTcpSocketAppender seems broken"
##### **Overview of the issue**
LogstashTcpSocketAppender seems broken.

logs:
[code]

##### **JHipster Version(s)**

See current master

[2019-07-09 12:31] qmonmert commented on #9891
@deepu105 & @pascalgrimaud I am not able to make azure e2e tests pass for PRs #9968 & #9981 even after multiple attempts (it works locally). Are these PR still mergeable are should we wait for success ?

[2019-07-09 13:04] micobarac commented on #10052
Building war package I get this error:

`Error assembling WAR: webxml attribute is required (or pre-existing WEB-INF/web.xml if executing in update mode)`

[2019-07-09 13:23] deepu105 opened #10066 "False positive error when using cassandra as DB on a microservice JDL"
##### **Overview of the issue**

When a JDL file has an application with Cassandra, there is an error during import-jdl which seems wrong as the JDL is valid(At least it looks valid)

##### **Reproduce the error**

Run `jhipster import-jdl` with given JDL and it gives below
[code]

##### **Suggest a Fix**

Validate individual application with their entities

##### **JHipster Version(s)**

6.1.2

#

[2019-07-09 14:24] PierreBesson commented on #9280
@jdubois  I'm still wondering what are the reasons to use Redisson rather than the usual support from spring data redis as demonstrated here : https://github.com/eiselems/ultimate-redis-boot (based on Lettuce it seems).

[2019-07-09 15:19] jsm174 opened #10071 "jib / openshift / chmod +x entrypoint.sh workaround"
##### **Overview of the issue**

As stated in the openshift docs at https://www.jhipster.tech/openshift:

[code]

Unfortunately, we are working in an Openshift environment managed by a team that is unwilling to allow us to do this.

We updated the `docker.gradle` and modified jib to use the `extraDirectories.permissions` feature:

[code]

This seems to be working for us.

If this seems reasonable,

[2019-07-09 17:53] anujgpatel commented on #10045
@vishal423 That is one of the concerns, the other being, is the service secure enough? Because in its current state, it does not validate the signature of authorization server.

[2019-07-09 19:42] amatosg commented on #10059
Hi @DanielFran , this is actually not an issue but a feature request. the flag `skip-liquibase` doesn't exists and I think this would help projects that are already deployed and original liquibase files shouldn't be edited by the JDL import command.

What do you think?

[2019-07-09 19:59] mraible commented on #10045
I asked a co-worker (@bdemers) about this issue. Here's what he said:

[2019-07-09 20:29] #8391 closed

[2019-07-09 20:57] #9933 closed

[2019-07-10 08:59] avdev4j commented on #9880
close by https://github.com/jhipster/generator-jhipster/pull/9893

[2019-07-10 08:59] #9880 closed

[2019-07-10 11:27] DanielFran commented on #10065
@PierreBesson looking at LogstashTcpSocketAppender [documentation](https://github.com/logstash/logstash-logback-encoder#tcp-appenders) and issue https://github.com/logstash/logstash-logback-encoder/issues/252, it seems that we don't need to wrap the LogstashTcpSocketAppender with an AsyncAppender, since the LogstashTcpSocketAppender itself is asynchronous (it'll never block the logging thread).
[c

[2019-07-10 11:33] PierreBesson commented on #10065
It might have been broken because of an upgrade of logstash-encoder. Please go forward with any fix necessary.

As for why we have wrapped the tcpappender in the asyncappender, it's just that we were using the udpAppender before so it was kept during the migration from udp to tcp.

[2019-07-10 12:14] Kelvijn opened #10074 "Google cloud ServiceConfigurationError after upgrade to 6.1.2"
##### **Overview of the issue**

Upgrade from 6.0.0 to 6.1.2 caused ServiceConfigurationError: javax.cache.spi.CachingProvider: Provider org.ehcache.jsr107.EhcacheCachingProvider could not be instantiated exception. When starting the application from Google Cloud Appengine.

I found what is the origin of this error.
 <jhipster-dependencies.version>3.0.3</jhipster-dependencies.version> in the pom.x

[2019-07-10 14:07] #10055 closed

[2019-07-10 16:22] #10048 closed

[2019-07-10 17:12] anujgpatel commented on #10018
Yes, we will raise a PR for the above change

[2019-07-10 23:23] DanielFran commented on #10003
Next SDE Moore 3.2.RC2 will support ES 6.8.1! See spring-projects/spring-data-elasticsearch@ a9d5793

[2019-07-11 10:00] pnujwala commented on #1315
Can this be re-opened?

[2019-07-11 11:48] peter-gergely-horvath opened #10076 "Implement project generator as web page, like Spring Initializr"
##### **Overview of the feature request**

The current solution where the project generator has to be installed to the user's machine is quite cumbersome: since Java developers do not necessarily have Node installed by default, first you have to install Node properly, then download the generator application, and then generate your project from a command line wizard.

It would be great if JHipster

[2019-07-11 11:52] deepu105 commented on #10076
We already have that. Check out start.jhipster.tech

On Thu, 11 Jul 2019, 1:48 pm Peter G. Horvath, <notifications@github.com>
wrote:

[2019-07-11 11:52] #10076 closed

[2019-07-11 12:41] PierreBesson commented on #1315
Hi @pnujwala,
Can you open a new issue with details. I think it's worth having this discussion again but our process is to create a new issue rather than reopening old ones.

[2019-07-11 14:09] pnujwala opened #10077 "Partial Update of objects using PATCH"
##### **Overview of the feature request**
Currently, only post and put are supported. When put becomes costly, or business rules do not always permit, partial update of data objects is useful

##### **Motivation for or Use Case**

1. Based on authorisation rules, certain users can view/edit only some fields of the object while certain users have full access. Partial update support here becomes han

[2019-07-11 15:09] clement26695 commented on #9999
For me, everything looks fine. I created 3 folders:

1. Microservice folder (/m1) with:

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.hex"
    },
    "jhipsterVersion": "6.1.2",
    "applicationType": "microservice",
    "baseName": "oemgateway",
    "packageName": "com.hex",
    "packageFolder": "com/hex",
    "ser

[2019-07-11 15:12] clement26695 commented on #9999
Note that I had to change the JDL file given by baeldung by replacing "quotes" by your application name:

[code]

to

[code]

[2019-07-11 15:41] clement26695 commented on #10062
Just tried and I was not able to reproduce with 6.1.2 and 6.0.1

[2019-07-11 16:06] jdubois commented on #9280
@PierreBesson the Hibernate support is my main interest

[2019-07-11 16:13] Shaolans commented on #8391
Bug bounty claimed https://opencollective.com/generator-jhipster/expenses/8966.

[2019-07-12 03:04] AllenJol commented on #5177
我也遇到了Jenkins发布服务的时候提示yarn命令找不到的问题，具体如下：
+ yarn install
/tmp/jenkins9043561108664892070.sh: line 2: yarn: command not found
Build step 'Execute shell' marked build as failure

目前还没找到是因为什么问题！
Jenkins服务是root用户启动的，但是Jenkins里面我是通过ssh 插件进行推送包到远程服务器上的。
麻烦解决掉的朋友帮忙回复一下解决方法,非常感谢
联系邮箱：471733951@qq.com

[2019-07-12 03:51] AllenJol commented on #5177
I have got this problem about: yarn command not find.
Specific as follows：
yarn install
/tmp/jenkins9043561108664892070.sh: line 2: yarn: command not found
Build step 'Execute shell' marked build as failure
The Jenkins service was started by root, but in Jenkins I used the SSH plug-in to push packages to remote servers.

If you have solved the problem, please reply the solution. Thank you very muc

[2019-07-12 06:35] micobarac commented on #10065
[https://github.com/jhipster/generator-jhipster/issues/10052](https://github.com/jhipster/generator-jhipster/issues/10052)

[2019-07-12 06:39] micobarac commented on #10052
#10065

[2019-07-12 07:07] shougao opened #10079 "listen EADDRINUSE: address already in use 127.0.0.1:9060"
##### **Overview of the issue**

when separate run microservice - gateway service, using npm start and IDEA ruan server side.
after run 'npm start' i got the message

Error: listen EADDRINUSE: address already in use 127.0.0.1:9060

below is the detail message.

Webpack: Starting ...
Starting type checking service...
Webpack: Starting ...

  ✔ Compile modules
  ❯ Build modules (1%)
    → 3 of 3 mod

[2019-07-12 07:09] micobarac commented on #10052
Any update on this?

[2019-07-12 07:10] jdubois commented on #10079
That's because you have two gateways or monoliths running at the same time. Basically you ran twice `npm start` and both commands open up the same port.

[2019-07-12 07:15] jdubois commented on #10052
On the Docker issue (for Logstash, it seems indeed like a separate issue), you need to install Docker and run the tests through it.
I know it's annoying and slower, but there is no other choice: Datastax is making it very hard to run an embedded Cassandra server (for good reasons, and that's just the consequence), and anyway in its current release Cassandra doesn't work with JDK 11. Have a look in

[2019-07-12 07:42] PierreBesson commented on #10052
As Julien said the Cassandra tests in testcontainers are working. It's possible that you have issues with your docker environment or just the way your tests are structured because you did the upgrade. On a freshly generated app they work fine as is attested by our CI.

[2019-07-12 07:52] micobarac commented on #10052
OK, I started using Docker along with integration tests. Running Docker service as a prerequisite should be noted inside documentation, btw.

Btw, I'm still having these issues:

- timeout waiting for Cassandra docker container (happens occasionally, after repeating tests)
- Logstash error (happens all the time)

P.S.

Thank you guys for your efforts.

[2019-07-12 08:09] mertmr commented on #10056
Any luck finding that PR? :)

[2019-07-12 08:17] gmarziou commented on #10065
Interesting.
Also, the  AsyncAppender  by default drops all events with level higher then WARN (DEBUG and INFO) when queue is 80% full. This behavior is something I wanted for applications logs but not for metrics which are logged as INFO. I had to set a threshold of 0 and a larger event queue to avoid droppping metrics under havey load.

Do we have similar behavior with LogstashTcpSocketAppender

[2019-07-12 09:09] DanielFran commented on #10052
For the logstash error, there is already an issue opened: https://github.com/jhipster/generator-jhipster/issues/10065

[2019-07-12 09:15] DanielFran commented on #10065
Probably yes since logstash documentation describe that it works like a AsyncAppender.

[2019-07-12 09:42] micobarac commented on #10052
Regarding Cassandra container timeout inside **AbstractCassandraTest**, I increased default startup timeout from 30 to 60 seconds, and the timeout problem seems to have stopped, for now:

[code]

[2019-07-12 09:44] rakeshnambiar commented on #5177
@AllenJol I couldn't find any solution to run the `yarn` command either directly through jenkins or through the bash script. However, as a workaround I managed to use the docker commands to make the build something like below.

`docker-compose -f ./docker-compose.yml up --build -d`

[2019-07-12 09:45] micobarac commented on #10052
I don't see any code for stopping started container after all tests have been done. Should this be considered as a potential problem?

[2019-07-12 09:47] AllenJol commented on #5177
Thank you very much for your help. Only I don't allow docker at present, so I can't try this method. I'm looking for other solutions

[2019-07-12 09:50] PierreBesson commented on #10052
@micobarac docker container management and cleanup is delegated to the testcontainer library.

[2019-07-12 10:01] rakeshnambiar commented on #5177
have you installed the yarn on the machine where you makes the build and export the path to the $PATH?

[2019-07-12 10:07] AllenJol commented on #5177
i hava installed the yarn on the jenkins machine and make sure i have makes the build and export the path to the $PATH
[root@localhost ~]# cat /etc/profile | grep 'yarn'
export PATH=$PATH:/usr/local/bin/yarn
[root@localhost ~]# which yarn
/usr/local/bin/yarn

[2019-07-12 10:13] rakeshnambiar commented on #5177
seems you are on the right way and I hope the build process is happening on the `jenkins master` itself. Can you try something like below in the jenkins `execute shell` before the `yarn` command.

`export PATH=$PATH:/usr/local/bin/yarn`
`which yarn`

[2019-07-12 10:18] AllenJol commented on #5177
ok thanks very much iwill try it later and then tell you the result of my attempt

[2019-07-12 11:13] micobarac opened #10080 "Issues when running mvn -Pprod package"
##### **Overview of the issue**

I have issues when **building for production**:

`mvn -Pprod package`

Instead of **WAR** file, default **JAR** file gets generated. I fixed this by altering **pom.xml**:

`<packaging>war</packaging>`

**maven-enforcer-plugin** reports many warnings:

[code]

Only `com.logate.openprovider.config.WebConfigurerTest` is ran. **All other tests are skipped**!!!

Buildin

[2019-07-12 12:58] Entrecampos commented on #8933
@cbornet @murdos
 Is it possible to remove an entity ?
 I would love to do that not manually:-)

[2019-07-12 13:00] antarus commented on #10080
Hello,
In Jhipster 6 the default packaging is `jar`.
If you want a war, use the profile `war`

[2019-07-12 13:12] micobarac commented on #10080
Ok, but what about the errors?

[2019-07-12 13:31] micobarac commented on #10080
Oh, compared to the JHipster 4, pom.xml file structure has changed a lot. That's what's causing all the errors with  building WAR.

WAR was moved to a separate profile. So, instead of running:

`mvn -Pprod package`

one must run:

`mvn -Pprod,war package`

[2019-07-12 15:39] DanielFran commented on #10080
The maven-enforcer-plugin has been added to inform about possible conflicts with dependencies that cannot be managed in the project due to the overall options and combinations of pom versions.
The user can decide to resolve or not the conflicts.
Prior that, no information were available by default, but user were able to analyse conflicts using dependency graph...

[2019-07-12 16:01] micobarac commented on #10080
Can you resolve dependency issues automatically, or it must be done manually?

What about the problem with generating WAR (JAR) packages?

[2019-07-12 16:36] DanielFran commented on #10080
Dependency management is done manually...

[2019-07-12 16:38] DanielFran commented on #10080
You need to define war in the pom, and include profile war that will use maven-war-plugin to generate the war files

[2019-07-12 17:19] afshimono commented on #8577
Hi everyone, this is my first post here, so please be a little patient if I do not follow protocol and advise where I can improve. I am having similar issues while deploying a simple test gateway + 2 microservices app on jhipster.  This is my jdl file:

`application {
	config {
		baseName gateway,
		packageName br.com.altimus.gateway,
		applicationType gateway,
		authenticationType oauth2,
		devDa

[2019-07-12 18:01] gmarziou commented on #10065
I had a look and could not see such behavior implemented so I guess it a difference with previous implementation. Now events can be dropped whatever their level is when ring is full, previously the AsyncAppender would try to keep ERROR and WARN as much as possible which seems a good strategy to me.

In my app, I also preferred to have 2 logstash appenders: one for application logs and one for metr

[2019-07-12 18:28] micobarac commented on #10080
But, there is already a profile war generated by jhipster, it's not a problem.

[2019-07-12 21:46] AndreKrebs opened #10081 "Test classes with @MockBean annotations and ElasticSearch fail"
##### **Overview of the issue**

In a microservice created with Elasticsearch, in a test class, instantiating a class and annotating it with @MockBean all the tests of the class will present an error and will not be executed.

Example:
[code]

Error:
[code]

##### **Motivation for or Use Case**

During the execution of the test class, the ElasticsearchConfiguration class does not appear to initial

[2019-07-13 01:14] AllenJol commented on #5177
I tried to export the environment variable before executing the yarn command, but I still had this problem.

+ export PATH=/usr/lib/jvm/java-1.8.0-openjdk/bin:/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin/yarn
+ PATH=/usr/lib/jvm/java-1.8.0-openjdk/bin:/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin/yarn
+ yarn install
/tmp/jenkins3380906477631719648.sh: line 3: yarn: command not found
Build step 'Exe

[2019-07-13 01:17] AllenJol commented on #5177
I don't know if it's because of openjdk. I will try to uninstall openjdkfirst,and  install Java jdk-1.8, then try again. But I don't think it's likely that this is the case

[2019-07-13 04:21] yelhouti commented on #9331
@MathieuAA you need to enable translation, the problem happens with prettier in the i18n .json files, more precisely, json files don't allow a line return in the middle of the value ex:
[code]
Instead we should have:

[code]
you therefore only need to replace all `\n` by `\\n` in [field/relashionship].javadoc by writing the json files

[2019-07-13 08:53] pmverma opened #10082 "pkType should be decided from a single place"
##### **Overview of the issue**

`pkType` is not being decided from a single place which causes inconsistency if someone relies on `getPkType` from `generator-base-private.js`.

I am talking specifically for db type `cassandra` which is managed in sub-generator at https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-server/index.js#L33

##### **Motivation for or Use Case**

[2019-07-13 09:05] yelhouti opened #10083 "SkipUiGrouping not working properly"
##### **Overview of the issue**
When generating code with `--skip-ui-grouing,` import `model` and `service` doesn't work well for relationships.
The path for the two imports is still prefixed with microservice name.

##### **Reproduce the error**
Generated a project with a microservice and a relationship with the flag `--skip-ui-grouing,`

##### **Related issues**

##### **Suggest a Fix**

PR comm

[2019-07-13 13:48] gmarziou commented on #5177
@AllenJol Could you post your Jenkinsfile here?

[2019-07-13 15:50] pmverma commented on #9501
@pascalgrimaud after reading the documentation at
https://maven.apache.org/pom.html#Plugins
[code]
So if we move deps declaration from build to under dependencies, those will be included during packaging unnecessarily.

I would like to close the issue. WDYT?

[2019-07-13 16:23] pmverma commented on #10046
This is really good to have if the project needs file uploading. But small or large files, public or private files, storing locally or to some cloud storage, frequency and volume of uploads. As @jdubois said, this goes too far and will be hard.

It would be better if Jhipster website has a page where we can add good&qualified links on **common** how-to on the generated projects.
JHipster cannot ge

[2019-07-13 20:09] dpiraud commented on #9605
Hi all,

having the same issue, it seems that
`gcloud sql instances list  --format="value[separator=":"](project,region,name)"`
works but not
`gcloud sql instances list  --format='value[separator=":"](project,region,name)'`

==> I guess the format option value have to be specified with double quote

[2019-07-14 09:27] smouelhi opened #10089 "Error running the sub-generator Kubernetes when using MSSQL"
##### **Overview of the issue**

When running the Kubernetes sub-generator on a microservice gateway using mssql, the execution fails at the end throwing the following error:
`ls: no such file or directory: /Users/seif/Documents/Projects/zand/corporate/corporate-v2/corporate-ui/target/jib-cache
ERROR! Error: Copying template db/mssql.yml.ejs failed. [Error: ENOENT: no such file or directory, open

[2019-07-14 11:02] deepu105 commented on #8933
Please use your IDE for that. We will not be doing this as it is too much
maintenance overhead for us for very little value.

On Fri, 12 Jul 2019, 2:58 pm Ines Gomes, <notifications@github.com> wrote:

[2019-07-14 11:07] deepu105 commented on #10046
We already have a tips and tricks section for this

On Sat, 13 Jul 2019, 6:23 pm P. Mohan, <notifications@github.com> wrote:

[2019-07-14 15:47] mabilalmirza opened #10091 "Content Security Policy violation with BootSwatch themes"
##### **Overview of the issue**
Content Security Policy violation is reported in browser when running application with Bootswatch theme. Firefox reports it as below.

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**
1. Create Monolithic App and select a bootswatch theme, e.g. yetti while generating application.
2. build and run the application.
3. Load the application in

[2019-07-14 17:42] pmverma commented on #9991
Just a note: I was able to reproduce this error while doing PR #10092 which fixes #9990.

[2019-07-14 17:50] pmverma commented on #9991
I just notice that PR #10030 is fixing the same.

[2019-07-14 19:41] shrralis opened #10094 "Separate (Git level) UI part"
There is a question about an opportunity to separate generated JHipster application into the main git repository and a git submodule with the UI part (`/src/main/webapp` dir).
I've tried to accomplish that on my own but it makes me a bit crazy with all that `package.json`, `webpack` and other stuff.

[2019-07-14 19:55] shrralis commented on #10094
Currently, I'm trying to generate 2 projects: one with `--skip-server` and another with `--skip-client`.
But there is another question: how could I merge it into my `.jar`/`.war` file with Gradle?

[2019-07-15 03:20] pmverma commented on #9991
Closing this since #10030 is merged.

[2019-07-15 03:20] #9991 closed

[2019-07-15 08:34] #9990 closed

[2019-07-15 08:58] #10079 closed

[2019-07-15 09:56] PierreBesson commented on #10094
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-07-15 09:56] #10094 closed

[2019-07-15 10:08] PierreBesson commented on #10080
[code]

You should not do this, you should leave packaging as jar. The only way is to use the war profile, it should produce a valid war.
Also please understand that `war` is no longer a first class citizen of jhipster. Yes the war profile does also generate the jar that you don't need but it's better than the previous solution which would generate the war.original that most people didn't need.

[2019-07-16 06:06] micobarac commented on #10080
Noone?

[2019-07-16 07:48] micobarac commented on #10080
The only way to achieve what I need, two **WAR** files, without **JAR** files is by setting:

`<packaging>war</packaging>`

and running:

`./mvnw -Pprod,war verify`

[2019-07-16 07:55] micobarac commented on #10080
Btw, there is a difference between your online documentation and README.md file, regarding packaging for production.

**Online docs say:**

./mvnw -Pprod verify

./mvnw -Pprod,war verify

**README.md says:**

./mvnw -Pprod clean verify

./mvnw -Pprod,war clean verify

Is a **clean** command really necessary, because, as the way I see in **pom.xml**, **prod** profile automatically invokes cleaning

[2019-07-16 08:44] rabiori opened #10095 "On generating with relationship, causes constraint violation exception"
##### **Overview of the issue**

When generating entities such as:
[code]
with filtering enables, causes errors in testing on violating unique constraint (creates 2 authors with the same name).

test and line are:
[code]

##### **Motivation for or Use Case**

It is a reasonable relationship, should be generatable.

##### **Reproduce the error**

Generate the application as suggested and run the te

[2019-07-16 11:21] pascalgrimaud commented on #9997
I investigated a little bit.
- the API are pluralized : ok for this part
- about URL:
    - AngularJS : it were pluralized
    - Angular : it is not -> so we lost the "plural" here

When I looked at your video for v5: https://youtu.be/-VQ_SVkaXbs?t=471
It is with Angular and the URLs weren't pluralized.

[2019-07-16 11:41] pascalgrimaud commented on #10080
This ticket confused me, because there are several subject here:
- upgrade from v4 to v6 ? There are a lot of breaking changes so it's normal it won't work out of the box
- integration tests : same, it has been discussed
- war vs jar : we made a choice by default, you can look the old discussion about it

Please, understand it's really really hard for us to support all type of packaging. Some peop

[2019-07-16 12:11] micobarac commented on #10080
Thanks @pascalgrimaud and all the JHipster team for all the effort you put into JHipster.

But, I just want to emphasise the following summarised things which bother me (please, do not ignore my statements and please, do not redirect me to some old discussions):

- If you provide the option to output jar and war file, please do provide an easy way to output either one or another, not combined (cur

[2019-07-16 12:25] micobarac opened #10096 "No ".war.original" generated from "mvn -Pprod,war clean verify""
##### **Overview of the issue**

I have issues when **building for production**:

`mvn -Pprod,war clean verify`

***.war.original** file doesn't get generated. ***.jar** files are generated, although I explicitly asked for **war** file output format. I don't use **jars** at all.

![image](https://user-images.githubusercontent.com/16001837/61133042-ec7e0700-a4bc-11e9-8996-6f2e793ae0ee.png)

##### *

[2019-07-16 12:27] pascalgrimaud commented on #10080
@micobarac : why are you closing the ticket ? I'm pretty sure our doc is not up-to-dated, we need to work on this about this part war / jar

[2019-07-16 12:31] micobarac commented on #10080
@pascalgrimaud , I sound like a madman talking to myself here, that's why I closed a ticked :).

I opened a new issue for packaging for production problem #10096.

[2019-07-16 12:35] pascalgrimaud commented on #10080
The main problem with JHipster is: all the work is done during our personal time (night and week-end). It's not our main job, we are not paid for that... So plz, just be patient :)

[2019-07-16 12:41] micobarac commented on #10096
The only way I was able to achieve what I need (two **WAR** files, without **JAR** files) is by setting:

`<packaging>war</packaging>`

and running:

`mvn -Pprod,war clean verify`

![image](https://user-images.githubusercontent.com/16001837/61275892-2dbd3200-a7af-11e9-94ef-3b10bcd5e957.png)

[2019-07-16 12:44] micobarac commented on #10080
I know that and I appreciate your time and effort.

I am just putting and effort here also to solve these confusions too, that might be helpful to someone else. I have a very narrow time to migrate from JHipster 4 to JHipster 6 and it's hard to be patient in solving all these breaking changes that happened in-between the two versions.

I found a workaround for war problem, but still, you should in

[2019-07-16 12:51] rabiori opened #10097 "All hashcode methods return 31"
##### **Overview of the issue**

All `hashcode` methods on generated entities return 31.

##### **Motivation for or Use Case**

yeah...

##### **Reproduce the error**

just generate a project.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json

[2019-07-16 12:51] micobarac opened #10098 "Inconsistent docs on building for production"
##### **Overview of the issue**

I have issues when **building for production**:

`mvn -Pprod,war clean verify`

there is a difference between your online documentation and a generated README.md file, regarding packaging for production.

**Online docs say:**

./mvnw -Pprod verify

./mvnw -Pprod,war verify

**README.md says:**

./mvnw -Pprod clean verify

./mvnw -Pprod,war clean verify

Is a **clea

[2019-07-16 12:53] micobarac commented on #10080
We can close this now, as I opened separate issues for things that remain unexplained.

[2019-07-16 12:53] #10080 closed

[2019-07-16 13:04] cbornet commented on #10097
This is intentional. See https://vladmihalcea.com/the-best-way-to-implement-equals-hashcode-and-tostring-with-jpa-and-hibernate/

[2019-07-16 13:04] #10097 closed

[2019-07-16 13:08] rabiori commented on #10097
sorry, just saw the conversation here: https://github.com/jhipster/generator-jhipster/issues/8656

[2019-07-16 14:24] vishal423 opened #10099 "Use `npm-shrinkwrap.json` instead of `package-lock.json` in generator"
##### **Overview of the issue**
Use `npm-shrinkwrap.json` instead of `package-lock.json` in generator

Following npm shrinkwrap docs, `generator-jhipster` should publish lock file including transitive dependencies. It can avoid issues like #9952

##### **Motivation for or Use Case**

Improve predictability of `generator-jhipster` cli.

##### **Reproduce the error**

##### **Related issues**
#9952

[2019-07-16 14:27] atomfrede commented on #10091
As the plugin seems to be not maintained I would go with adapting the content security policy (if possible)

[2019-07-16 14:29] cbornet commented on #10097
I see that we put a fix hash code also for Cassandra. Since with Cassandra, the id is not generated by the DB, it would probably be better to use `Objects::hashcode` there.

[2019-07-16 15:44] pdelaby opened #10101 "Sonarqube external config not used with maven + jenkins"
##### **Overview of the issue**

Sonar configuration is now in `sonar-project.properties` but does not seem to be used during the analysis with Maven and Jenkins. I fixed it by adding the goal `initialize` during the sonar step ( in the pom, the configuration for the properties is during the `initialize` phase).

With the classic phase, `./mvnw sonar:sonar`, sonar did not show code coverage and ot

[2019-07-16 18:14] DanielFran commented on #10101
@pdelaby I confirm the issue!

Can you please make a PR to fix it on all pipelines (Jenkins, gitlab,...)?

[2019-07-16 19:36] sw-enthusiast commented on #10065
This change did not fix the problem for me running mvn clean install and it fails for the "default" profile.

[2019-07-16 20:06] DanielFran commented on #10065
This is not the fix for this issue but just an enhancement.

[2019-07-16 20:37] PierreBesson commented on #10065
@gmarziou is making a good points on the dropping strategy and how we could configure smart defaults for this. Personally, I have not used the logback appender to report logs for a long-time as recent projects that I have worked on exported logs from the docker driver (
(Kubernetes) or AWS cloudwatch. But personally I like the solution that we offer in JHipster. However it seems that it's not the

[2019-07-16 21:03] DanielFran commented on #10065
+1 Never used it.

[2019-07-16 22:06] PierreBesson commented on #10065
It's a bit sad that it's the two of us maintaining this even though we don't use it and we get little feedback on it. But anyway I would like to continue pushing this solution for a while because I think it is really simple to use and useful for small projects / startups to get quickly started on monitoring.

So I will investigate the bug as soon as I have time

[2019-07-17 00:46] mabilalmirza commented on #10091
Updating content security policy will not work in an environment where application is deployed and used in a intranet with no internet access. I think, at the moment, the easiest option is not to use bootswatch for such cases.

[2019-07-17 03:59] atomfrede commented on #10091
But in that case bootswatch/Google fonts won't work regardless of the csp, right? So  I see two issues here. The csp is to strict when using bootswatch themes and Google fonts are loaded from external sources. We can fix the csp such that bootswatch works as before adding the csp and have look at delivering fonts not via cdn.

[2019-07-17 04:07] anujgpatel commented on #10045
Jhipster is using WebSecurityConfigurerAdapter that does not allow to do online token validation. After we changed it manually to ResourceServerConfigurerAdapter and override configure method as follows, it does end up performing online token validation;
@Override
    public void configure(ResourceServerSecurityConfigurer resources) {
        RemoteTokenServices remoteTokenServices = new RemoteTok

[2019-07-17 07:39] pdelaby commented on #10101
I added the goal on Jenkins pipeline, GitLab CI and Travis CI. I can confirm it works on Jenkins Pipeline.
The README file template already suggest to add this goal.

[2019-07-17 07:48] micobarac opened #10104 "The old version of maven-war-plugin:2.2 is resolved"
##### **Overview of the issue**

I have noticed that an old version of **maven-war-plugin:2.2** is resolved, instead of the new one **maven-war-plugin:3.2.3**, as stated inside **pom.xml**.

[code]

[code]

![image](https://user-images.githubusercontent.com/16001837/61357046-d33bd880-a877-11e9-90d5-94f73ba6a8bd.png)

When I run:

`mvn help:effective-pom`

I get two dependencies for **maven-war-plu

[2019-07-17 08:53] TheJavaGuy opened #10105 "Move from TSLint to ESLint"
##### **Overview of the feature request**

TSLint will very soon move to maintenance mode and, starting from January 1st 2020 stop accepting anything except security fixes. This is a documented [issue](https://github.com/palantir/tslint/issues/4534), also explained in their [blog post](https://medium.com/palantir/tslint-in-2019-1a144c2317a9). I believe that JHipster should move from TSLint to ESLi

[2019-07-17 08:57] #10101 closed

[2019-07-17 10:35] micobarac commented on #10065
Is there an option to disable logstash entirely, until this issue gets resolved?

[2019-07-17 11:33] vishal423 commented on #10105
I think we need to wait until https://github.com/mgechev/codelyzer/issues/763 is closed.

[2019-07-17 11:45] #10052 closed

[2019-07-17 13:06] AndreKrebs commented on #10081
Analyzing the tests created by JHipster, I found a class with @Configuration doing a mock of a class and then the same class was instantiated in the test with the annotation @Autowired and a comment informing to see the class annotated with @Configuration. I decided to do the same thing with my mocks for communication between microservices and it worked, so I think the problem is not in the progra

[2019-07-17 13:31] MathieuAA commented on #10105
We needn't have to wait, as such a migration is kind of easy to do, and works (I've done this migration twice, this wasn't such a big deal).

[2019-07-17 13:31] gmarziou commented on #10065
How does it fail?

If you have upgraded jhipster-framework to master, then it should be `isInstanceOf(LogstashTcpSocketAppender.class)`.

[2019-07-17 13:41] micobarac commented on #10065
It fails if I turn logstash to false for test application.yaml.

[2019-07-17 13:54] mikebski commented on #7865
I'm getting this with Gradle and v6.1.2 - I'm running the registry as a Docker container, created a microservice with 1 entity and a gw with the same entity.

Same error, 401 Unauthorized and it's logging the user out every time I try to do anything with the entity in the UI but the other links (to non-entity pages) works.

[code]
gw@0.0.0 /Users/mike/code/public/jh/gw
└── generator-jhipster@6.1.2

[2019-07-17 14:13] rabiori commented on #10095
Is this something that is on purpose?

[2019-07-17 14:31] gmarziou commented on #10065
Could you paste the error?

[2019-07-17 14:33] gmarziou commented on #7865
@mikebski could you open a new issue as this one is one year old and for Jhipster 5

[2019-07-17 14:43] mikebski opened #10108 "Microservices - 401 Error on every page load for added entities and user is logged out"
##### **Overview of the issue**

![jhipster-bug](https://user-images.githubusercontent.com/4280588/61384978-a7245580-a87f-11e9-94b4-a1f0e6bff6c0.gif)

I created a microservice project with gradle and added 1 entity with 2 string fields.

I created a gw project  with gradle and added the entity to that project, overwriting files when prompted.

I started the registry via docker and it came up fine

[2019-07-17 14:44] mikebski commented on #7865
Done - https://github.com/jhipster/generator-jhipster/issues/10108

On Wed, Jul 17, 2019 at 10:34 AM Gaël Marziou <notifications@github.com>
wrote:

[2019-07-17 15:05] micobarac commented on #10065
I commented out the `testLogstashAppender()` method, as it fails to assert, because it asserts to null value:

`assertThat(context.getLogger("ROOT").getAppender("ASYNC_LOGSTASH")).isInstanceOf(AsyncAppender.class);`

[2019-07-17 15:14] mikebski commented on #10108
This happens with Maven too, I'm getting the following error on the request:

Request URL: http://localhost:8080/services/svc/api/companies?page=0&size=20&sort=id,asc&cacheBuster=1563376382701

Request Method: GET

Status Code: 401 Unauthorized

Remote Address: [::1]:8080

Referrer Policy: strict-origin-when-cross-origin

Here is the response:

detail: "Full authentication is required to access th

[2019-07-17 15:30] clement26695 commented on #10108
Would it be possible to go inside your microservice folder and run `jhipster info` and paste the results here. It would help to debug.

Thanks!

[2019-07-17 15:36] cbornet commented on #7608
There's currently no support for [security](https://github.com/spring-projects/spring-security/issues/5188) nor [STOMP](https://github.com/spring-projects/spring-framework/issues/19101) for websockets in WebFlux. So it seems hard to do much more than a hello world right now...
The recommendation seems to be to evaluate RSocket instead which I can only agree with :smiley:

[2019-07-17 15:43] mikebski commented on #10108
@clement26695

jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{

[2019-07-17 18:37] Tonterias commented on #9605
Sorry dpiraud, Where do you exactly make that change? I will reproduce the error and try it as soon as know where to change it.  Thanks a lot.

[2019-07-17 20:23] gmarziou commented on #10104
I used your .yo-rc.json and I could not reproduce with mvnw, so I suppose it comes from your environment, maybe the IDE.

<details>
<summary>mvnw dependency:resolve-plugins -Pwar</summary>
<pre>
[INFO] Scanning for projects...
[INFO]
[INFO] ----------------< com.logate.openprovider:openprovider >----------------
[INFO] Building Openprovider 0.0.1-SNAPSHOT
[INFO] --------------------------------[ j

[2019-07-18 06:04] MOHAMMADArsalan opened #10111 "api/account redirect to login even after login"
we have jhipster angular application up and running perfectly without any issue but we want to add react native application with jhipster backend. we are getting the issue on authentication and API/account API after successful login when I hit API/account or any custom API/** it failed because jhipster considers react-native user **anonymous user**.

why jhipster considers an anonymous user to eve

[2019-07-18 06:37] micobarac commented on #10104
Hmmm, after running the `mvnw dependency:resolve-plugins -Pwar` command, the `mvnw -Pwar help:effective-pom` shows only the version noted inside pom.xml. But, the Intellij Idea still shows the old version of plugin inside `Maven -> Project name -> Plugins`:

![image](https://user-images.githubusercontent.com/16001837/61357046-d33bd880-a877-11e9-90d5-94f73ba6a8bd.png)

So, this issue obviously has

[2019-07-18 06:37] #10104 closed

[2019-07-18 07:29] MOHAMMADArsalan commented on #10111
![jhipster_issue](https://user-images.githubusercontent.com/14179110/61437914-9d6e2100-a957-11e9-9bd3-854e7d7dbcc8.png)

[2019-07-18 08:05] Hawkurane commented on #10111
Hello, would it be possible to go into your app folders and type jhipster info and paste the result here?
This would help in debugging !

Also this might be a stupid question but have you used https://github.com/ruddell/ignite-jhipster to generate your project?

If not you could try to take a look over there.

[2019-07-18 08:10] MOHAMMADArsalan commented on #10111
It's not a stupid question I created an index.html file and run on localhost I am facing the same issue.

[2019-07-18 08:12] MOHAMMADArsalan commented on #10111
Also this might be a stupid question but have you used https://github.com/ruddell/ignite-jhipster to generate your project?

Yes i have tried this but still no luck :(

[2019-07-18 08:16] Hawkurane commented on #10111
Can you follow the standard template for issues so that we can help you debugging?

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

[2019-07-18 08:24] MOHAMMADArsalan commented on #10111
Its my .yo-rc.json

{
  "generator-jhipster": {
    "jhipsterVersion": "3.8.0",
    "baseName": "le",
    "packageName": "com.edge.le",
    "packageFolder": "com/edge/le",
    "serverPort": "8080",
    "authenticationType": "session",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": false,
    "websocket": "spring-websocket",
    "databaseType": "sql",
    "devDatabaseType": "postgresq

[2019-07-18 08:33] Hawkurane commented on #10111
Your jhipster version looks like it's really old (3.8.0) have you tried upgrading it?

[2019-07-18 08:34] MOHAMMADArsalan commented on #10111
I can't update it because of its running in the production app.

[2019-07-18 08:35] Hawkurane commented on #10111
I'm not sure I can help you there then, maybe @ruddell can as he's the react native specialist

[2019-07-18 08:37] DanielFran opened #10112 "Prometheus endpoint is not enabled by default"
##### **Overview of the issue**

Prometheus is the default metrics backend but the endpoint is not enabled by default

##### **Motivation for or Use Case**

Metrics are not available in Prometheus

##### **Reproduce the error**

Create a new jhipster application with latest version, start application and validate that endpoint /management/prometheus is available

##### **Suggest a Fix**

Update ap

[2019-07-18 08:39] MOHAMMADArsalan commented on #10111
I think is not related to react native because even if I create a new application which consumes the same API  so I face the same problem

[2019-07-18 09:05] clement26695 commented on #10095
I think that if you add `authorRepository.saveAndFlush(author);` at the beginning of the failing test, it should be good. Hopefully, #10114 will fix this.

[2019-07-18 09:26] clement26695 commented on #10112
Isn't it already enabled by default with Spring boot Actuator ?
(In https://github.com/jhipster/generator-jhipster/blob/b5cba3bcfe712c0545ad150dbc1a542704d3ed39/generators/server/templates/src/main/resources/config/application.yml.ejs#L115)

[2019-07-18 11:46] PierreBesson commented on #10112
This is on purpose https://github.com/jhipster/generator-jhipster/pull/9377

See the discussions:
- https://github.com/jhipster/generator-jhipster/pull/9362
- https://github.com/jhipster/generator-jhipster/issues/8946

I'd rather we implement the solution from @cbornet.

[2019-07-18 12:29] DanielFran commented on #10112
OK, got it, thanks!

Maybe we should fix documentation in https://www.jhipster.tech/monitoring/

I see:
[code]

And should be
[code]

[2019-07-18 12:29] DanielFran commented on #10112
Will close it now!

[2019-07-18 12:29] #10112 closed

[2019-07-18 14:23] pascalgrimaud commented on #10111
Sorry but this ticket should go to StackOverFlow, as there is no issue directly related to JHipster

[2019-07-18 14:23] pascalgrimaud commented on #10111
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-07-18 14:23] #10111 closed

[2019-07-18 15:29] clement26695 commented on #10049
Sorry, I didn't saw you already made a PR @yelhouti

[2019-07-18 16:13] yelhouti commented on #10049
@clement26695 no worries :)

[2019-07-18 18:08] #10095 closed

[2019-07-18 21:27] DanielFran commented on #10089
Closed via #10090

[2019-07-18 21:27] #10089 closed

[2019-07-18 21:35] DanielFran commented on #10003
@mvasil15 Good news, next SDE version will support elastic stack v.6.8.1 that also include free security support.

[2019-07-18 23:05] arunabhdas opened #10117 "UT005023: Exception handling request to /services/<my-app-name>"
##### **Overview of the issue**
UT005023: Exception handling request to /services/<my-app-name>

after running mvn

using the following options from jhipster

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files

[2019-07-18 23:31] arunabhdas opened #10118 "java.sql.SQLSyntaxErrorException: Table 'xxx.jhi_user' doesn't exist"
##### **Overview of the issue**
==> jhipster --version
INFO! Using JHipster version installed locally in current project's node_modules
6.1.2

2019-07-18 19:24:45.927 DEBUG 96920 --- [  XNIO-1 task-9] c.a.apiness.aop.logging.LoggingAspect    : Enter: com.apiness.apiness.repository.CustomAuditEventRepository.add() with argument[s] = [AuditEvent [timestamp=2019-07-18T23:24:45.
910Z, principal=anonym

[2019-07-19 04:03] atomfrede commented on #10096
Why do you need the `.original` war file? As we decided for `.jar` as our primary packing I think we can prevent maven to generate them even when wanting war files in addition.

[2019-07-19 04:49] atomfrede commented on #10118
Could you please fill all required information of the issue template, otherwise we won't be able to help you and we will close this issue.

[2019-07-19 05:17] #10091 closed

[2019-07-19 05:24] pascalgrimaud commented on #8990
I'm closing this as I couldn't reproduce in last version of JHipster 6.1.2
Feel free to comment if there is still an issue

[2019-07-19 05:24] #8990 closed

[2019-07-19 05:25] pascalgrimaud commented on #9501
Thanks for the analyze @pmverma
So yes, let's close this

[2019-07-19 05:25] #9501 closed

[2019-07-19 05:27] pascalgrimaud commented on #9562
@hdaniel93 : did you advance on this feature ?

[2019-07-19 06:41] Sekuirity commented on #3189
No sure guys, but, in DEV box, it's working BUT in SIT box, its getting issue.

04 - registration status: 204
2019-07-18T10:11:31,474 INFO [serole.gateway.ServiceGatewayApplication] [restartedMain] ServiceGatewayApplication started ..
2019-07-18T10:11:32,776 INFO [[Tomcat].[localhost].[/]] [http-nio-8304-exec-1] Initializing Spring DispatcherServlet 'dispatcherServlet'
2019-07-18T10:11:32,776 INFO

[2019-07-19 08:04] clement26695 commented on #10117
Could you follow the issue template and give us the required information (run `jhipster info` in your app directory) ? It is not possible to help you otherwise

[2019-07-19 08:28] micobarac commented on #10096
I need it, as I deploy my app to test and prpd Tomcat, which can be different versions.

[2019-07-19 09:47] DanielFran commented on #10096
@micobarac I finished to migrate an old Prod application (from 5.8.0 to 6.1.2) that is deployed in Tomcat:
- previously migration, I had 'war' in pom + packaging using 'prod' profile creates a 'war.original' binary that was used to be deployed in Tomcat
- after migration, I have now 'jar' in pom + packaging using 'prod,war' profiles creates a 'war' binary that is used to be deployed in Tomcat

I d

[2019-07-19 09:58] gmarziou commented on #3189
@Sekuirity please don't comment on a 3 years old issue. If you have a problem open a new issue with all required details.

[2019-07-19 11:06] micobarac commented on #10096
I have always used .war.original since the JHIpster 3. Regular war used to cause me problems. .war.original does not contain the Tomcat jars. Why is .jar.original generated with the default settings?

[2019-07-19 12:34] micobarac opened #10120 "Cassandra Docker container enters invalid state after multiple successive IT executions"
##### **Overview of the issue**

Sometimes, Cassandra Docker container enters invalid state after multiple successive IT executions. When it happens, Cassandra container becomes unavailable and all IT fail.

I have to restart Docker process to make it work again.

[code]

This method fails. I also had timeout problem, then I increased default timeout from 30 to 60 seconds, and the problem happens

[2019-07-19 16:19] #10098 closed

[2019-07-19 21:10] dpiraud commented on #9605
Please have a look in generator-jhipster/generators/gae/index.js.

[2019-07-19 22:03] atomfrede commented on #10120
I was not able to reproduce it. Executed >10 times `verify` and each time it worked well. Testcontainers starts ryuk and one cassandra container which are stopped afterwards. Tried both with java 8 and 11. Most significant difference is the os. I am on a linux machine with docker `18.09.7-ce` but it should not be relevant that minor difference.

[2019-07-19 22:10] micobarac commented on #10120
I have ~400 integration test methods, and using Swagger2Markup tests with separate application-s2m.yaml profile. Maybe, separate profile starts another container, and sometimes, the container enters invalid state.

[2019-07-19 22:15] atomfrede commented on #10120
Can you check if the containers are stopped correctly in your case?

On Sat, Jul 20, 2019, 00:11 Milan Barać <notifications@github.com> wrote:

[2019-07-19 22:23] micobarac commented on #10120
How? Do I run `docker ps`?

[2019-07-20 00:30] kirill-kobzev opened #10121 "Liquibase: foreign column is of type bigint but expression is of type character varying"
##### **Overview of the issue**

An error occurs when trying to add a foreign key from CSV file.

[code]

##### **Motivation for or Use Case**

The error is critical, as for the need to migrate directories in the database

##### **Reproduce the error**

1. Add a foreign key to the CSV file

[code]

2) run the application

##### **Related issues**

NO

##### **Suggest a Fix**

File entity_money.xml

[2019-07-20 06:50] atomfrede commented on #10120
I just do 'watch docker ps' during test execution

On Sat, Jul 20, 2019, 00:23 Milan Barać <notifications@github.com> wrote:

[2019-07-20 08:11] HarshitChhipa commented on #6916
I am not having the same issue but related to this.
My authorities array is empty for the admin.
And due to that, it has no authority to see anything else and that's why I am getting an error as follows.

"You are not authorized to access this page."
My response.
activated: true
authorities: []
createdBy: "system"
createdDate: null
email: "admin@localhost"
firstName: "Administrator"
id: 3
imageUrl

[2019-07-20 10:44] gmarziou commented on #6916
@HarshitChhipa please don't comment on an old issue, if you have a problem please open a new issue with all required details because here we have no idea of what you are using, this is why `jhipster info` was created. Also, please don't crosspost on stackoverflow, it's a waste of time for people trying to help you.

[2019-07-20 10:47] pascalgrimaud commented on #10121
As you're using JHipster v6.0.1, I suggest you to upgrade to v6.1.2 as some issues related to faker.js have been fixed.

Then, about your issue, I tried to generate a project with JHipster 6.1.2
- without modification : no issue
- using your modification: it failed and it's normal

You tried to insert money data before purse data. And by adding the relationship, purse doesn't exist and that's why

[2019-07-20 10:48] pascalgrimaud commented on #10118
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-07-20 10:48] #10118 closed

[2019-07-20 10:49] pascalgrimaud commented on #10117
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-07-20 10:49] #10117 closed

[2019-07-20 11:44] kirill-kobzev commented on #10121
Update version did not help.
Default data in SCV file is unrelated
When you create the entity.xml file in the / src / main / resources / config / liquibase / changelog folder
There is no numeric foreign key type in loadData

If you add a foreign key to the CSV file
Then, when starting the application, a type mismatch error occurs

[2019-07-20 11:49] kirill-kobzev commented on #10121
change this code
 <changeSet id="20190720111656-1-data" author="jhipster" context="faker">
        <loadData
                  file="config/liquibase/data/money.csv"
                  separator=";"
                  tableName="money"
                  context="dev">
            <column name="id" type="numeric"/>
            <column name="count" type="numeric"/>
            <column name="name" type

[2019-07-20 13:26] gmarziou commented on #10121
Yes because relationship is not marked as required in your JDL.

I suppose,you mean adding `required` to relationship  and then re-importing JDL.

[code]

I did it with JHipster 6.1.2 and it worked well

20190720131402_added_entity_Money.xml

[code]

and money.csv

[code]

Have you verified that you did not reference old entity files, I had 2 version of `*_added_entity_Money.xml` in my folder: the

[2019-07-20 14:02] gmarziou commented on #10121
Here is a simpler way to reproduce.

1. Generate an app
2. Write a JDL file `one.jdl` that defines a single entity

[code]

3. Import it twice with `jhipster import-jdl one.jdl` => you get 2 migrations for same entity and they are both referenced in master.xml: `20190720135340_added_entity_Money.xml`    and `20190720135358_added_entity_Money.xml `

[2019-07-20 14:26] pascalgrimaud commented on #10121
@gmarziou :
- about the duplicated diff, it should be resolved. See the ticket https://github.com/jhipster/generator-jhipster/issues/9996
- about the required, I think it's mentionned in this ticket https://github.com/jhipster/generator-jhipster/issues/9579

[2019-07-20 14:29] pascalgrimaud commented on #10121
You can look at the master.xml file of the generated project:
https://github.com/pascalgrimaud/jhipster-sample-application190720/pull/1/files

Money is before Purse, so you can't insert data Money with FK Purse, as it won't exist

[2019-07-20 15:20] gmarziou commented on #10121
I tried to test with master on generator-jhipster and jhipster-core, I npm linked both but I got same behavior with duplicated migrations. So maybe it's my way of doing, I admit I have never worked with jhipster-core on master and its [contributing guide](https://github.com/jhipster/jhipster-core/blob/master/CONTRIBUTING.md) does not cover this part.

Beside that I did not get the message about no

[2019-07-20 15:29] gmarziou commented on #10065
@micobarac where does this `testLogstashAppender()` comes from? I can't find it in current code base,was it generated from an older version? If so, I suspect it's obsolete and should be removed from your project.

[2019-07-21 08:14] MathieuAA commented on #10121
I'll test this out

[2019-07-21 13:07] rabiori opened #10124 "Javadoc for the IT tests has typo in tag"
##### **Overview of the issue**

Javadoc on the class looks like this:
[code]
Instead, the correct tag is this `@link` (lowercase):
[code]
##### **Motivation for or Use Case**

So intellij won't warn me :)

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

https://github.com/jhipster/generator-jhipster/pull/10123

##### **JHipster Version(s)**

6.1.2

##### **JHipst

[2019-07-21 14:08] uouo690 opened #10125 "Ionic is not communicating with microservice"
Hello ,

I am using ionic , microservice , and JWT authentication.
Every thing is working as it should be in local environment, when pushing the application to production ,I had to edit cors section in the gateway application, I managed to successfully login and get account information, and both called from the gateway.

	http://productionUrl:8080/api/authenticate  return the expected response whi

[2019-07-21 17:37] ruddell commented on #10125
You are using `/service/` as the prefix, but the backend is using [`/services/`](https://github.com/jhipster/generator-jhipster/blob/fb5c298787973d5f9e6de6d7a6cb1864c040ecb1/generators/server/templates/src/main/resources/config/application.yml.ejs#L70) (plural).

[2019-07-21 21:28] #10125 closed

[2019-07-21 21:33] uouo690 commented on #10125
Hi ruddell ,

I am using the ionic jhipster generator , so I didn't think for a minute that this could happen.
I wasted a whole day coz of this letter :D :D :D

Any way I had to use '@CrossOrigin( origins = "*" )' in the micro-service apps other wise it was giving forbidden status.

thanks for  your help

[2019-07-22 03:04] pmverma commented on #10124
Thanks @rabiori for reporting the doc issue.
I am closing this as your PR #10123 is already merged.

[2019-07-22 03:04] #10124 closed

[2019-07-22 09:09] Fraser123456 opened #10127 "Can't generate project"
Can't seem to start a project and I'm not sure why.

C:\jhipster\ExStore>jhipster
fs.js:114
    throw err;
    ^

Error: EIO: i/o error, read
    at Object.readSync (fs.js:498:3)
    at tryReadSync (fs.js:332:20)
    at Object.readFileSync (fs.js:361:19)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:786:20)
    at Module.load (internal/modules/cjs/loader.js:653:32)
    at tr

[2019-07-22 09:15] pmverma commented on #10127
Following the installation steps from https://www.jhipster.tech/installation/.

[2019-07-22 09:15] pmverma commented on #10127
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1.  our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2.  the ["create a new ticket" page](https://github.com/jhipster/generato

[2019-07-22 09:37] Fraser123456 commented on #10127
i reinstalled jhipster, that is what gets displayed when i try to generate the jhipster project.

[2019-07-22 09:43] Fraser123456 opened #10128 "Generating Project"
##### **Overview of the issue**

The issue is I cant seem to generate a project. I navigate in the cmd to the directory i want the project to get generated in and proceed to type the "jhipster" command and get an error.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Microsoft Windows [Version 10.0.17134.885]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\jhipster\E

[2019-07-22 09:55] clement26695 commented on #10128
It seems related to your configuration or your installation. You can try to follow the [jhipster guides](https://github.com/jhipster/jhipster-guides) to see if that's the case and get familiar with JHipster

[2019-07-22 09:56] atomfrede commented on #10096
So are we going to do something about the inconsistency when generating war file when the generated war works fine in tomcat? Is it still executable?

[2019-07-22 10:48] Fraser123456 commented on #10128
but it was working perfectly fine before, this started today out of no where

[2019-07-22 10:53] micobarac commented on #10065
It comes from LogsResourceIT.java, which was probably generated by an older version of JHipster. I will remove this IT.

[2019-07-22 12:12] pascalgrimaud commented on #10128
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-07-22 12:12] #10128 closed

[2019-07-22 12:12] pascalgrimaud commented on #10128
We can't help you if you give 0 information

[2019-07-22 12:15] Fraser123456 commented on #10128
thats all the info, what else do you need

[2019-07-22 12:18] pascalgrimaud commented on #10128
- your Node version
- your NPM version
- your Yarn version
- how did you install JHipster ?
- what steps to reproduce
- etc

All information which will help you to reproduce. You can't just say "it doesn't work" and expect help here.

For me, it works well.

[2019-07-22 12:27] Fraser123456 commented on #10128
Ok cool.

Yarn: 1.16.0
npm: 6.9.0
node: v10.16.0
Jhipster: I cant get that version because the command "jhipster --version" also gives an error, no jhipster commands are working.

How the error happened is i typed the "jhipster" command to generate a project and then it hung for like 5 seconds and produced the above printed out error.

[2019-07-22 12:37] pmverma commented on #10127
Can you paste the results of the following commands?

[code]
and your OS information.

[2019-07-22 12:43] #10127 closed

[2019-07-22 12:47] vishal423 commented on #10128
can you try to re-install jhipster cli ?

[2019-07-22 12:47] pmverma commented on #10128
@Fraser123456, please do not create multiple tickers for the same issue. #10127
Try following command and paste the result.
[code]

[2019-07-22 20:33] mikebski opened #10130 "Trailing curly brace in comment for count method in REST endpoint"
##### **Overview of the issue**

Comment generated for REST resource is wrong for `/entity/count` - it has a trailing `}`

/**
     * `GET  /products/count}` : count all the products.
     *
     * @param criteria the criteria which the requested entities should match.
     * @return the [ResponseEntity] with status `200 (OK)` and the count in body.
     */

##### **Motivation for or Use Case**

I

[2019-07-22 20:34] #10130 closed

[2019-07-23 08:05] yelhouti commented on #7112
almost done with the server side blueprint, still working on "generated" tests.
https://github.com/elhoutico/jhipster-composite-key-server-blueprint
If anyone wants to help, I'll take it

[2019-07-23 11:32] PierreBesson commented on #10071
Hi @jsm174, sorry for the late reply.
I don't see a problem with this improvement. it's going to be useful for many people who mess up their permissions. Can you submit a PR ? Can you also do it for maven :pray: ?

[2019-07-23 11:34] bonsmik commented on #9996
Will there be a patch version including this fix? Did you forgot it @MathieuAA or change in plans?

[2019-07-23 11:38] jsm174 commented on #10071
@PierreBesson no worries. I'll work on a PR!

[2019-07-23 12:34] deepu105 opened #10135 "Istio default setup seems broken"
##### **Overview of the issue**

The default generated Kubernets config with Istio seems to be wrong for microservices. I was updating my [blog](https://www.freecodecamp.org/news/jhipster-microservices-with-istio-service-mesh-on-kubernetes-a7d0158ba9a3) to work with the latest version of JHipster. Seems like [others](https://medium.com/@simionrazvan/microservices-using-jhipster-kubernetes-istio-bf

[2019-07-23 14:44] mraible opened #10136 "Unable to find MailServiceIT.java"
### **Overview of the issue**

There's a warning when creating a new app that `MailServiceIT.java` doesn't exist:

[code]

##### **Motivation for or Use Case**

There should be no warnings when you first create an app.

##### **Reproduce the error**

Create an app with the following JDL:

[code]

##### **JHipster Version(s)**

6.1.2

[2019-07-23 15:34] DanielFran commented on #10053
@PierreBesson  Should we delete this PR now that the RFC has been merged?

[2019-07-23 16:05] #10053 closed

[2019-07-23 21:35] pascalgrimaud commented on #7112
@yelhouti : good job but you should use twitter to have better visibility :-) just mention `@java_hipster`

[2019-07-23 22:14] yelhouti commented on #7112
@pascalgrimaud I'll do that as soon as I fix the tests, and as soon as jhipster-core merges the custom annotations PR, for now it kind of works only for me XD

[2019-07-24 07:15] ccornchip opened #10141 "dysfunctional war file generated"
##### **Overview of the issue**

Creating a war using bootWar gives an almost-empty war skeleton.

I'm probably doing something wrong, but I've been following the instructions by the letter and I can't find what I did wrong

##### **Motivation for or Use Case**

Due to another issue
https://stackoverflow.com/questions/57115303/setting-up-feign-in-jhipster-behind-a-ssl-socket
I cannot put my gatewa

[2019-07-24 07:31] atomfrede commented on #10141
Will have a look. It worked for monolithic applications for sure. Will check for gateways too.

[2019-07-24 07:37] luisRubiera opened #10142 "Unable to edit entity with relationship on monolith"
##### **Overview of the issue**

If i click on the  "Edit" button of some entities i get the following error in the chrome console:

![image](https://user-images.githubusercontent.com/28353369/61773681-90d54700-adf5-11e9-8cbc-237174bf4293.png)

##### **Motivation for or Use Case**

this is a blocking problem that does not allow the edition of records in the app :( . at least there is a turn around

[2019-07-24 08:13] pmverma commented on #10142
Thanks, @luisRubiera for reporting the issue.
Did you try with the latest JHipster version?

[2019-07-24 15:05] mrassili opened #10143 "Is there a way to switch frontend from Angular to React?"
##### **Overview of the feature request**

Change the frontend of a JHipster generated webapp from Angular to React

##### **Motivation for or Use Case**

I am working on a existing project which was generated with Angular and has entities set up and some work done already on the backend, and need to migrate it to React without losing any work done
The app is monolithic but open to changing that i

[2019-07-24 15:34] ecostanzi commented on #10143
You can do this, but if you have already customized your angular files you'll have to code these changes again in the react app.

Here's what you can do:
-  remove the following directories: `src/main/webapp`,  `src/test/javascript`, `webpack`
- change your .yo-rc.json file and change `"clientFramework": "angularX"` to `"clientFramework": "react"`
- run `jhipster --with-entities`

Jhipster will ge

[2019-07-24 16:09] maznag opened #10144 "can we declare create Specification method as protected in <Entity>QueryService service to extends it easily"
##### **Overview of the issue**

can we declare create Specification method as protected in <Entity>QueryService service to extends it easily

##### **Motivation for or Use Case**

Need to extend EntityQueryService

##### **Suggest a Fix**

protected instead of private.

##### **JHipster Version(s)**

6.1.2

[2019-07-24 20:36] amatosg commented on #10059
@DanielFran I think you should change the tags as it's not a bug report, rather is a feature request :)

[2019-07-25 00:06] mrassili commented on #10143
Thank you!
Worked like a charm.

[2019-07-25 04:19] #10136 closed

[2019-07-25 04:20] pascalgrimaud commented on #10143
so you got the answer, then we can close this :-)

[2019-07-25 04:20] #10143 closed

[2019-07-25 06:11] pmverma commented on #10144
If someone is doing a side-by-side approach then this is good to have.
👍

[2019-07-25 07:43] ccornchip commented on #10141
I tried without running `npm start`, and once again after running `npm run webpack:build`.  I still get the page "An error has occured :-("

[2019-07-25 07:45] atomfrede commented on #10141
When building with gradle there is normally no need to run any `npm` tasks manually. But I'll try find some time to check it this evening.

[2019-07-25 21:55] PierreBesson commented on #10099
Great initiative @vishal423 ! This was also my recommendation following the previous bug with yeoman-enviromnent. For the case of a CLI tool it is perfectly justified to use a shrinkwrap.json because we don't want `jhipster ` to suddenly stop working because of a bad transitive dependency.

[2019-07-25 22:31] The-Crocop commented on #9914
got the same issue after upgrade to jhipster 6.1.2

[2019-07-26 09:41] jkoorts opened #10148 "WebConfigurer exists for API Gateway"
##### **Overview of the issue**

When you build a API Gateway as per documentation (https://www.jhipster.tech/separating-front-end-and-api/), the class WebConfigurer still exists.

##### **Motivation for or Use Case**

For a RESTful Gateway this config does not make sense.

##### **Reproduce the error**

jhipster --skip-client

##### **Related issues**

##### **Suggest a Fix**

File should not exi

[2019-07-26 10:20] PierreBesson commented on #10148
Please fill out the template seriously.
- "latest" is not a jhipster version.
- You have not included the yo-rc.json which tells us about the options you chose when generating your app.

Do you mean that when running `jhipster --skip-client` some backend files are still generated ?

[2019-07-26 11:45] jkoorts commented on #10148
Apologies,

JHipster Version(s):

6.1.2

.yo-rc.json
`{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.hex"
    },
    "jhipsterVersion": "6.1.2",
    "applicationType": "gateway",
    "baseName": "appgateway",
    "packageName": "com.hex",
    "packageFolder": "com/hex",
    "serverPort": "8099",
    "authenticationType": "uaa",
    "uaaBaseName": "uaa",
    "cacheProvi

[2019-07-26 12:07] PierreBesson commented on #10148
I don't understand what you mean by "RESTful only gateway" or "web-less".

[2019-07-26 13:42] jkoorts commented on #10148
The generated gateway was stripped off all its web related stuff, which is awesome. I now have a gateway application that my REST client speaks to (The OAUTH2 clientid sits on the gateway). My REST client only speaks json and expects json back. So no html and website related stuff.

Looking at WebConfigurer you see implementations of html which is never used by the gateway and will never be used b

[2019-07-26 14:29] PierreBesson commented on #10148
I see, the gateway was developed to be an edge service for the frontend (by reusing most of the codebase from the original jhipster monolith app + a zuul proxy). I can see how you would use it only for exposing APIs for other java services but that is not the primary use case.

If you really don't want the class, you are free to remove it but I think it's going to be useful for some people. Howeve

[2019-07-26 15:51] #10144 closed

[2019-07-26 20:04] amontenegro commented on #1031
Am also looking for something like this, if we have admins and users, it is handy to be able to switch from an admin to a regular user account to check errors reported by the user.

Thanks

[2019-07-27 06:48] amatosg commented on #9940
I don't understand what do you mean by that. In any case, I didn't meant _integer instead of string_, I was trying to say _also strings_. Sorry for the confusion.

[2019-07-27 07:09] amatosg commented on #9106
7 months :speak_no_evil:

[2019-07-28 10:59] DanielFran commented on #9106
@amatosg thanks for the remind, I started working on it...

[2019-07-28 16:43] DanielFran commented on #9106
@anthony-o @amatosg Can you please make some tests and confirm it is ok please?

[2019-07-28 18:22] DanielFran commented on #7966
What about using this project: http://springdoc.org

Does it cover all our needs?

[2019-07-28 18:28] DanielFran commented on #9287
@pascalgrimaud Can this issue be closed?

[2019-07-28 18:30] DanielFran commented on #9348
@salaboy Can this issue be closed now?

[2019-07-28 18:31] DanielFran commented on #9351
@ben-manes Are you still expecting working on this?

[2019-07-28 18:36] ben-manes commented on #9351
I got busy and did try later on. However there are many templates to update and I'm not familiar with the code, so I didn't feel comfortable sending a PR based on blind updates. If someone else wants to take this over this that would be great.

[2019-07-28 19:05] DanielFran commented on #9351
The easier is to fork a jhipster sample app and then add your changes.
Then if you need help to include your changes in the template we can help you then...
Do you want to give a try?

[2019-07-28 22:53] PierreBesson commented on #9351
@ben-manes Maybe you can give us a link to a repo that showcases a spring boot app with caffeine enabled. It would be good to see a configuration that follows best practices according to you. Then we can add a bounty reward on this issue to have someone from the community do the implementation.

[2019-07-29 01:23] ben-manes commented on #9351
@PierreBesson I believe this [tutorial](https://www.javadevjournal.com/spring-boot/spring-boot-with-caffeine-cache/) is how Spring Boot intends it to be used. The Spring support was taken from the older Guava provider, so older tutorials with should be equivalent. I think the best practices are Spring Cache specific, not provider-based.

I haven't used Spring since the early days, prior to their a

[2019-07-29 09:30] cbornet commented on #7966
Interesting. Seems more like a replacement to Springfox.

[2019-07-29 09:42] pascalgrimaud commented on #9287
For now, we migrated from Spring Cloud Stream to Spring Kafka. If I understand well, we should use directly the native client.
So I don't know.

Maybe @ctamisier you have an advise on this ?
Otherwise, I think we can close and improve later if needed.

[2019-07-29 09:50] PierreBesson commented on #7966
At first glance SpringDoc looks like a much less advanced version of Springfox, I don't see how we could extend it to support the various auth schemes that we have. It also seems like it is based on the swagger-ui webjar.

[2019-07-29 11:27] ecostanzi commented on #7966
Indeed springfox has many more features. I think it's a little bit early to consider springdoc as a replacement.

[Springfox upgrade to openAPI 3](https://github.com/springfox/springfox/issues/2022) seems to have been almost abandoned . However there's an [interesting comment](https://github.com/springfox/springfox/issues/2022#issuecomment-504898088) suggesting to use [SwaggerConverter](https://gi

[2019-07-29 13:05] jsm174 commented on #10071
@PierreBesson

So I have the PR ready to go. During testing, I can't get the maven xml to work. If I'm reading the documentation correctly, this is supposed to be the format:

[code]

If I run it from the command line:

[code]

It works perfectly. I'm not a maven expert, any ideas?

[2019-07-29 13:20] DanielFran commented on #10071
@jsm174 Di you forget to define the paths in extraDirectories?
See jib documentation https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#adding-arbitrary-files-to-the-image:
<paths>src/main/custom-extra-dir</paths>

[2019-07-29 13:24] jsm174 commented on #10071
@DanielFran. Thx. You don't have define `paths` because `entrypoint.sh` exists in the root directory.

The gradle version looks just like this:

[code]

I did try though with a `<paths>/<paths>` and it threw an error.

[2019-07-29 21:07] davidlj95 opened #10738 "Heroku sub-generator fails to build with Gradle as build tool"
## Overview of the issue

For an app with `gradle` as the build tool, when using the `heroku` sub-generator with `khipster` (`khipster heroku`):

It will fail building the application for further deploy, as will try to use a `mvn` command but the build tool selected was `gradle`.

## Motivation for or Use Case

Deploying to `heroku` with a `gradle` + `kotlin` monolithic app.

## Reproduce the erro

[2019-07-30 07:03] atomfrede commented on #10120
@micobarac Any news from your site?

[2019-07-30 07:07] micobarac commented on #10120
When I execute 'watch docker ps' during test execution, I get the error saying the watch doesn't exist.

In cases when Cassandra Docker container enters invalid state after multiple successive IT executions, I just restart the Docker service and it starts working again. I have found no other solution.

[2019-07-30 09:14] QuentinLeGoff opened #10153 "[Angular] user-management.component: eventManager subscription is not destroyed"
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "****",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "6.1.2",
    "applicationType": "monolith",
    "baseName": "****",
    "packageName":

[2019-07-30 09:36] QuentinLeGoff commented on #10153
There is a similar issue in the home.component with the 'authenticationSuccess' event.
[code]

It's not unsubscribe and so every time (N times)  you go on the home component, it will subscribe to this event with the callback. And when you logout and login again, it will call N times the callback.

In generated entities, theses subscriptions are well destroyed, example below.
[code]

[2019-07-30 18:48] DanielFran commented on #7966
I also consider it premature but it seems a good project that is starting and growing quickly.

[2019-07-30 19:33] ctamisier commented on #9287
I think there are some improvements in progress about the docker image properties.
https://github.com/Dabz/generator-jhipster/commit/b3fe482fad4b357f117f292ad0fb90e218e7d3ec
maybe this ? :)

I have some work in progress (80% done) using kafka native client (producer and consumer) and test containers, that can be a "drop-in" replacement of what already exists in JHipster, I'll submit it later as a

[2019-07-30 20:54] mshima commented on #9661
Fake data regeneration is really annoying for project regeneration.
I am testing a blueprint and regenerating the project all the time.
Would be really nice an option to don't regenerate the fake data.

A version of skip-fake-data with skip-fake-data-regeneration option:
https://github.com/mshima/generator-jhipster/commits/skip-fake-data-regenerate-option

[2019-07-30 21:11] mraible commented on #10125
@uouo690 I fixed the "services" problem in Ionic for JHipster in the latest release (4.0.2). Specifically, [this commit](https://github.com/oktadeveloper/generator-jhipster-ionic/commit/8c5d2be5a3a1fcdb3e4ff07d8735e4b7acd96a99).

You're the 2nd one to report an issue for CORS, so I'll merge https://github.com/jhipster/generator-jhipster/pull/9906.

[2019-07-30 21:41] mraible commented on #9997
You are correct @pascalgrimaud. Even my [JHipster 4 screencast](https://youtu.be/XRREt1KB4Y8?t=414) shows they're not plural. Closing.

[2019-07-30 21:41] #9997 closed

[2019-07-31 06:00] pascalgrimaud opened #10157 "React builds : e2e failed"
##### **Overview of the issue**

Since 1 day, the builds for React failed during e2e tests.
It works well for Angular.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

I think it comes from the dependencies in package.json, maybe update them ?

##### **JHipster Version(s)**

Current master

##### **JHipster configuration**

##

[2019-07-31 07:44] kaidohallik opened #10158 "Auto commit in manual upgrade should be avoided"
##### **Overview of the issue**

Since #8645 JHipster auto commits changes if manually upgrading project.

Auto commit can be avoided if using flag `--skip-git`, but I always forget this flag and then must do `git reset` to commit before upgrade, which is annoying.

In some comments of #8880 other people also don't like this auto commit behaviour on manual upgrade.

##### **Motivation for or Use C

[2019-07-31 07:48] coolduebtn commented on #8668
Hi @vidhya03 , How did you fix your issue. I need to add a prefix to my json file.

[2019-07-31 07:55] vishal423 commented on #10158
+1, I also don't like auto commit behavior on manual upgrade.

[2019-07-31 08:12] vishal423 commented on #10157
I think it's related to new version of chrome driver support

[2019-07-31 08:16] kaidohallik commented on #10158
I made PR #10159 to fix this issue.

[2019-07-31 10:42] vidhya03 commented on #8668
Hi Chandan, @coolduebtn

I have tricked it in my webpack scripts **webpack.common.js**,

[code]

[2019-07-31 11:15] mshima opened #10160 "Fixes for entity customization into a blueprint"
##### **Overview of the feature request**

Allow blueprints to customize the entity.

##### **Motivation for or Use Case**

I am developing a multi tenancy blueprint that creates an entity into admin module.
https://github.com/mshima/generator-jhipster-multitenancy2

##### **Related issues or PR**

-   [x] JHipster not honoring entityServiceFileName:
https://github.com/jhipster/generator-jhipster/

[2019-07-31 11:21] pmverma commented on #10160
`Allow blueprints to customize the entity.`

The whole point of a blueprint is to allow customization.
What problems are you having?

[2019-07-31 12:05] mshima commented on #10160
I am creating PR to fix those issues, each one is an issue.
Is necessary to create 1 issue per PR?

[2019-07-31 12:28] mshima opened #10162 "Entity module always override blueprint's custom config."
##### **Overview of the feature request**

There is no easy way to create a permanent config for entities.

##### **Motivation for or Use Case**

I am creating a blueprint that creates a new permanent configuration for some entities, but the Entity module always creates and saves a new config.

https://github.com/jhipster/generator-jhipster/blob/d25818cdca9a6337fc0e0374d437b8c70aa9a98e/generators/

[2019-07-31 14:31] jsone-studios opened #10166 "ESM2015 version of angular is not used for bundling"
##### **Overview of the issue**

Currently, JHipster bundles the ESM5 versions of angular and other libraries despite the final bundle is using ES 2015 code. The console output of `npm run webpack:prod` shows that the ESM5 and not the ESM2015 version is used:

[code]

Also looking into the finale bundle reveals that the ESM5 version of the libraries is bundled.

##### **Motivation for or Use Case*

[2019-07-31 16:31] #10157 closed

[2019-07-31 16:38] uouo690 commented on #10125
@mraible I afraid to tell you that I am the other one as well. 😄
Thank you for your hard work , and the awesome ionic generator.

[2019-07-31 18:14] vishal423 commented on #10108
@mikebski, I am not able to reproduce this issue. I believe you haven't updated `application-*.yml` on both `gateway` and `micro-service` to have identical jwt `base64-secret` value. Can you confirm?

[code]

[2019-07-31 18:20] mikebski commented on #10108
ah, I have not done that, I must have missed it in the docs.  I will give
it a shot.

On Wed, Jul 31, 2019 at 2:15 PM Vishal Mahajan <notifications@github.com>
wrote:

[2019-07-31 18:36] vishal423 commented on #10153
@QuentinLeGoff, good catch. Would you be able to raise PR with suggested changes?

[2019-07-31 18:49] atomfrede commented on #10141
@ccornchip Can you check the content of your war file? It looks ok to me (need to download a tomcat). `WEB-INF/classes/static` contains the correct files. Are you deploying under a context path? In that case you need to adapt the `baseHref` in `webpack.prod.js` accordingly.
You can try to rename the `.war` to `ROOT.war` and deploy it to replace the root application?

[2019-08-01 04:53] atomfrede commented on #10141
@ccornchip I think you missed the configuration for `baseHref`. I have created a `.war` file, named it `ROOT.war` and deployed it in tomcat 9 and it works fine. If you want to deploy under a context path you have to set `baseHref` accordingly (e.g. `mycontext`) such that webpack generates correct urls/links for assets etc. Can you confirm it works for you too?

[2019-08-01 13:33] deepu105 commented on #9891
excellent work @qmonmert :clap:

[2019-08-01 13:39] pascalgrimaud commented on #9891
Yes nice work @qmonmert !
About the 2 others PRs, sorry I was busy the last weeks... I'll have a look when possible

[2019-08-01 13:54] QuentinLeGoff commented on #10153
I could try this week (my first time 😄).

If I do that, could I remove the unsubscription of routeData that is already handle by Angular and set pagingParams without parenthesis in the user-management.component ?
My modifications would be

_user-management.component.ts_
[code]

_home.component.ts_

[code]

[2019-08-01 17:03] vishal423 commented on #10153
I will prefer to not remove any un-subscription related code including router events as I still see some open subscription related issues on angular router and having clean code causes no harm.

[2019-08-01 17:08] Yoda6 commented on #9926
I've updated my project from 6.1.2 to 6.2.0 using the upgrade sub-generator and it wasn't working.

For those who have the same issue : I had to delete the node_modules folder AND package-json.lock file to force the right version of `acon` to be installed

[2019-08-02 01:58] hardrockguhz opened #10177 "顶顶顶顶"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-08-02 01:58] hardrockguhz commented on #10177
顶顶顶

[2019-08-02 02:30] RDsideNow opened #10178 "Improve Implementation of Angular Reactive Forms"
##### **Make use of formArray in reactive forms with non one to one relationships**

Am pretty new to the software development world, and not sure if what i am requesting is clear, or plausible.  I really like the generator, and wanted to contribute, hopefully in a positive way to further improve this for others who use this tool.

 I think using formArray when specifying non one to one relationsh

[2019-08-02 03:38] #10177 closed

[2019-08-02 05:02] #10166 closed

[2019-08-02 05:04] vishal423 commented on #10105
@jhipster/developers, anyone willing to take. Otherwise, I will spend time over weekend

[2019-08-02 05:11] pascalgrimaud commented on #10105
I think you can take it. Thanks a lot @vishal423 ! So happy to have you in the team :-)

[2019-08-02 07:50] HuangAo opened #10179 "the version6.1.2 can not access in tomcat after build it as war"
##### **Overview of the issue**

use "mvn clean install -Pprod" to build as war file and deploy to tomcat, in the screenshot the path "http://localhost:8080/content/css/loading.css" not exit in tomcat folder, the right path seems to be "http://localhost:8080//jhipster-sample-application-0.0.1-SNAPSHOT/content/css/loading.css" in my case

![issue](https://user-images.githubusercontent.com/22422179/

[2019-08-02 08:17] atomfrede commented on #10179
I think you have forgotten to change the `baseHref` in `webpack.common.js`.

`When deploying a JHipster app to an Application Server or customizing your context-path, it is required to set the baseHref value in webpack.common.jsor webpack.prod.js equal to the expected context-path.` See https://www.jhipster.tech/production/.

You can try to rename you `.war` file to `ROOT.war` and deploy that such

[2019-08-02 08:17] #10179 closed

[2019-08-02 08:20] clement26695 commented on #9999
@jkoorts Do you have any update on this? If you don't face the issue anymore, I think we can close this issue

[2019-08-02 08:32] jkoorts commented on #9999
I will have another go at it. I think I first have to figure out how to create a node environment used just for jhipster so that other software don't try to upgrade parts of it - creating I think this issue.

Give me until monday please.

[2019-08-02 08:33] clement26695 commented on #10142
I was not able to reproduce the issue, either with 6.1.2 or 5.8.2 versions (I created a record for every entity and was able to edit each one).

Did you modify something in the code that could have led to this error ? Or if you have more specific details on the steps to reproduce (others than those already provided)

[2019-08-02 09:18] DanielFran commented on #10179
@HuangAo Do not forget that since v6 now it is needed also to add the profile war (https://www.jhipster.tech/production/#build)
[code]

[2019-08-02 09:51] HuangAo commented on #10179
Thanks DanielFran, i changed the <packaging> vaule from jar to war before run the command

[2019-08-02 11:50] #9106 closed

[2019-08-02 12:34] DerJochen commented on #10097
Two things:

1. I just had the case where I used a lot of JHipster entities (50k, async processing of large datasets) first as a Map key and later I put them in a Set. Implementing a useful hashcode() method reduced the Map step from 5min to 0.3s! Returning a constant reduces every hash collection to a LinkedList with linear search. Should be a no-go.

2. Using Objects::hashcode for entities as a

[2019-08-03 13:00] GitAntinus opened #10180 "openapi - generated pom.xml bug"
##### **Overview of the issue**

with open-api option selected,
in the generated pom.xml,
at openapi-generator-maven-plugin section,
execution.configuration
there is an element named "validateSpec",
which is not defined.
(promoted by intellij then manually check by me)

##### **Motivation for or Use Case**

programming error.

##### **Reproduce the error**

just generate a project.

##### **Relate

[2019-08-03 17:12] pascalgrimaud commented on #9280
I'm increasing the bounty as it's a lot of work (jhipster lib, generator, documentation, JDL).
Some people need this so it deserves it

[2019-08-04 05:13] atomfrede commented on #9876
I have setup a small repository with a first proposal, open for discussion. https://github.com/atomfrede/jh-9876/commits/master

* I have added [ArchUnit](https://www.archunit.org/) and a simple test to check services and repositories do not depend on the web layer
* Renamed the exception in the web layer (maybe we could use `Problem` instead of `WebException`)
* Added new exceptions as runtime ex

[2019-08-04 16:32] atomfrede commented on #10180
Thanks for reporting that @GitAntinus. You proposal seems correct, would you mind submitting a pull request?

[2019-08-05 04:45] GitAntinus commented on #10180
I would if i knew where to modify the code...

[2019-08-05 07:11] Dap555 commented on #1514
I am new user of jhipster, I am trying to run jhipster online, getting same issue "The system cannot find the file specified"

while debug getting logs...
java.io.IOException: Cannot run program "jhipster" (in directory "C:\Users\Kumarra\Downloads\jhipster\applications\2ace9571-affe-45c5-9c02-774b2953d676"): CreateProcess error=2, The system cannot find the file specified
        at java.lang.Proc

[2019-08-05 07:55] atomfrede commented on #10141
@ccornchip I will close it. If you think it is a jhipster bug we can open it again.

[2019-08-05 07:55] #10141 closed

[2019-08-05 08:02] atomfrede commented on #10180
It is basically in this file. https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/pom.xml.ejs

Have a look at our contribution guidelines, it should be quite straight forward.

[2019-08-05 08:20] flostadler commented on #7966
I'd like to tackle this issue, any heads up on where to start?

[2019-08-05 08:38] cbornet commented on #7966
Yes. Basically what's needed to be done is to update the swagger-ui version in package.json and replace the index.html with the one from the new swagger-ui. Then modify this index.html to include the passing of the auth tokens.

[2019-08-05 08:48] Dap555 opened #10182 "download zipfile createProcess error=2, The system cannot find the file specified"
I am new user of jhipster, I am trying to run jhipster online, getting same issue "The system cannot find the file specified"

while debug getting logs...
java.io.IOException: Cannot run program "jhipster" (in directory "C:\Users\Kumarra\Downloads\jhipster\applications\2ace9571-affe-45c5-9c02-774b2953d676"): CreateProcess error=2, The system cannot find the file specified
at java.lang.ProcessBuild

[2019-08-05 08:50] cbornet commented on #7966
See https://github.com/swagger-api/swagger-ui/issues/2915#issuecomment-376245104 on how to pass the token.

[2019-08-05 09:00] cbornet commented on #7966
Also some configs of the swagger-ui needs to be retreived from the Springfox endpoints. See the current index.html about that.

[2019-08-05 09:05] wmarques commented on #10105
Is that really urgent ? TSLint looks pretty well used today and there are not a clean migration path documented about this.
Also, some `codelyzer` rules aren't yet implemented in ESLint so we would loose some great lint features on the Angular side.

[2019-08-05 09:35] clement26695 commented on #10182
Can you please fill the template provided for opening an issue? Otherwise, we won't be able to reproduce your issue and won't be able to give you any help, as we don't have any information on the version you are using, or the steps to reproduce.

Thank you

[2019-08-05 09:40] clement26695 commented on #10182
If you want to discover how JHipster works, you can also use these online tutorials: https://github.com/jhipster/jhipster-guides :)

[2019-08-05 09:48] Dap555 commented on #10182
Hi,
please find json configuration:

 {
  "generator-jhipster": {
    "promptValues": {
      "packageName": "io.github.jhipster.online"
    },
    "jhipsterVersion": "5.0.2",
    "baseName": "jhonline",
    "packageName": "io.github.jhipster.online",
    "packageFolder": "io/github/jhipster/online",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "hibernateCache": "ehcache",
    "c

[2019-08-05 11:23] avdev4j commented on #10182
Hi,
I think I have already deal with an issue like this. I don't remember exactly what but It seems it related to rights you have on your file system.

Please check the folder really exists and your application have enough rights to write into.

[2019-08-05 11:26] avdev4j commented on #10158
I often face off this problem when I upgrade or re-generate my project. TBH I planned to do a PR for fix that. So for me it's 100% legit.

I will do a review of the PR if you want.

[2019-08-05 11:42] kaidohallik commented on #10158
It would be great if you could review the PR.

[2019-08-05 12:06] atomfrede commented on #1514
@Dap555 Sorry, but this is totally unrelated to you issue. Please don't spam our issue tracker and comment on old issues.

[2019-08-05 12:07] atomfrede commented on #10182
How did you generate the jhipster application? It is a quite old version. Did you follow our installation instructions?

[2019-08-05 12:19] Dap555 commented on #10182
Thanks for you support,
issues got resolved while adding cmd /c in below code
it was:
Process p = Runtime.getRuntime().exec(command, null, workingDir);
now i changed to
Process p = Runtime.getRuntime().exec("cmd  /c"+ command, null, workingDir);
**So its working fine**,now able to generate microservices in local using jhipster-online git application, thanks to all.

One Question :-
 I am using win

[2019-08-05 13:14] pascalgrimaud commented on #10182
@Dap555 : I think you're the same than @RaviGithub555
I blocked you from the organization JHipster as you opened at least 7 issues, without completing the template. We tried to explain you how we work but you didn't listen to us. You can't expect help here if you don't follow our guidelines. Sorry, but you can't come here and tell "it doesn't work, help me". No. We don't work like that and we can'

[2019-08-05 14:04] vishal423 commented on #10105
@wmarques, I believe we can use `eslint-plugin-tslint` to continue execute tslint specific rules. I have started work on this activity with an angular project and might be able to come up with something in next few days..

[2019-08-06 04:25] #10082 closed

[2019-08-06 05:56] Dap555 commented on #10182
Hi Pascal,
Sorry for this, actually i  go through the template guide, and i dont know how to fill the complete template, as per template guide, i sending all details:

C:\jhipster\jhipster\jhipster-online-master\jhipster-online-master>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Information S

[2019-08-06 06:00] Dap555 commented on #10182
Some more logs i would like to share here:

2019-08-06 11:23:13.231 DEBUG 12836 --- [ XNIO-2 task-19] i.g.j.online.aop.logging.LoggingAspect   : Exit: io.github.jhipster.online.repository.CustomAuditEventRepository.add() with result = null
2019-08-06 11:23:13.251  WARN 12836 --- [ XNIO-2 task-19] o.z.p.spring.web.advice.AdviceTrait      : Forbidden: Access is denied
2019-08-06 11:23:13.591 DEBUG 1

[2019-08-06 06:18] #9920 closed

[2019-08-06 06:22] pascalgrimaud commented on #10180
@GitAntinus : don't hesitate to ask us if you need help on how to contribute

[2019-08-06 06:24] manikumarsennikayala commented on #3892
J2EE guidelines didn't talk about the  application data images which are dynamic , it says only resource images like logo or some icons which are limited  . its better to save  content images  in local system and map resource from local

for example : sample  e commerce application need image to be uploaded and even application restart it should hold the images

for this configure below

@Override

[2019-08-06 06:41] flostadler commented on #7966
Ok, thanks! I will give it a go

[2019-08-06 07:12] atomfrede commented on #10182
You title says something about jhipster online and it seems like you are using an outdated version. So at least I don't understand what you are trying to achieve and what you are doing yo be honest.

[2019-08-06 07:27] avdev4j commented on #10182
Because @atomfrede he forked the JHipster online application which is a JHipster application to generate his own projects.

And Yes JHipster online is still on something like 5.0.2 version and yes the jhipster:info was did on master branch of JHipster online not on a generated project ;)

[2019-08-06 07:34] woshigzok opened #10184 "Run project on IE 11"
##### **Overview of the issue**
Our project is a generator project based on generator-jhipster.
Recently we updated our project core-js to 3.1.3. It can be run at Chrome, Edge.
But when we run it at IE 11. It will throw me some errors.

##### **Motivation for or Use Case**

Need to make our project compatible with IE 11.

##### **Reproduce the error**
1- Generate app.
2- Run app.
3- Use IE11 to op

[2019-08-06 07:36] woshigzok commented on #10184
I searched on the internet. The issue is still there

The polyfill.ts file as below
import 'classlist.js';
import 'web-animations-js';

// support for IE 11
import 'core-js/es/symbol';
import 'core-js/es/object';
import 'core-js/es/function';
import 'core-js/es/parse-int';
import 'core-js/es/parse-float';
import 'core-js/es/number';
import 'core-js/es/math';
import 'core-js/es/string';
import 'cor