[2018-10-02 18:14] PierreBesson commented on #8422
@saturnism I'm very familiar with those problems with running elasticsearch in docker, it used to not be documented at all but now it's well described in the official docs : https://www.elastic.co/guide/en/elasticsearch/reference/6.4/docker.html

[2018-10-02 19:33] pascalgrimaud commented on #8431
It's an interesting subject but if we decide to add specific code for this, we'll go too far.
I'm pretty sure some user won't want this, and prefer the application to stop and shutdown.

I think it will be better to add documentation, and let the user to add these code and/or properties.

[2018-10-02 19:38] jsm174 opened #8441 "React client for gateway fails to compile with entities."
##### **Overview of the issue**

I thought this was fixed already, but it still seems to be an issue.

With an install of jhipster from master:

[code]

With the following JDL:

[code]

When building and compiling the gateway:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

#####

[2018-10-02 19:56] PierreBesson commented on #8431
I'm also against pushing this as default, only as an option configurable with properties.

[2018-10-02 20:43] saturnism commented on #8437
ah yes! updated.

[2018-10-02 20:44] saturnism commented on #7750
:( added initial doc pr.

@jdubois i have a feeling that's multi-release jar causing issues.. :( /cc @ludoch

[2018-10-02 23:34] ludoch commented on #7750
Multi release jar issue will be fixed soon in a new cloud SDK release (ETA Wed Oct 10th)

[2018-10-03 03:05] srinivasa-vasu commented on #8408
@MehrCurry Did you try openshift generator? or did you use the docker file directly through openshift console?

[2018-10-03 03:08] srinivasa-vasu commented on #8422
I've also seen this issue before at times for elastic search. We have to increase the memory limit, default that is configured is not sufficient.

[2018-10-03 04:15] #8441 closed

[2018-10-03 09:08] anthony-o opened #8445 "nativeLanguage & languages not taken into account if enableTranslation is false"
##### **Overview of the issue**
`nativeLanguage` & `languages` `application.config` JDL parameter not taken into account if `enableTranslation` is set to `false`.

##### **Motivation for or Use Case**
I want to generate single application without i18n support but with another native language than English.

##### **Reproduce the error**

Create the following `jhipster-jdl.jh`:
[code]
Then execute
[

[2018-10-03 09:10] jdubois commented on #8445
I'm sorry but if you don't select i18n, the only language you will get is English.

- If you have i18n, we have a full system to select the right language.
- If you don't have i18n, the language is directly hard-coded (which might be simpler to use). And we only hard-coded it in English.

[2018-10-03 09:10] #8445 closed

[2018-10-03 09:27] jdubois commented on #8431
Originally the database issue comes from the Spring philosophy from several years ago: do not start the container if everything is not working properly. Now things have changed a lot, of course, including on the Spring side. I'm not sure what is the current standard with Spring Boot, as it's supposed to be "cloud native", and hence support this use-case.

So, following our [Policy 1](https://www.j

[2018-10-03 09:49] jdubois commented on #8425
I'm only correcting the documentation at the moment, as we require a database for OAuth2 with our current implementation.

We will refactor all this when we migrate to Spring Security 5.1, which will be a huge change and cleanup on that part, and hopefully remove this constraint.

[2018-10-03 09:57] deepu105 commented on #8422
I tried to increase them even up to 2G and still, the master doesn't start
at all :(

My colleague suggested this JAVA_OPTS so gonna try it later
-Xms512m -Xmx512m -XX:MetaspaceSize=512m -XX:MaxMetaspaceSize=512m
-XX:CompressedClassSpaceSize=300m -verbose:gc

Thanks & Regards,
Deepu

On Wed, Oct 3, 2018 at 5:08 AM Srinivasa Vasu <notifications@github.com>
wrote:

[2018-10-03 10:00] #8425 closed

[2018-10-03 10:02] PierreBesson commented on #8422
Yes you have to change both the java_opts and the k8s limits.

On Wed, Oct 3, 2018, 11:58 Deepu K Sasidharan <notifications@github.com>
wrote:

[2018-10-03 11:43] jsm174 commented on #8441
Tested and working great! Thanks.

[2018-10-03 11:51] jsm174 opened #8446 "Angular client for gateway fails to compile with short named entities."
##### **Overview of the issue**

When trying to build some quick sample gateways using React and Angular clients, noticed Angular clients fail to compile with short named entities, such as A, B, C, D.

With an install of jhipster from master:

[code]

With the following JDL:

[code]

When building and compiling the gateway:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error

[2018-10-03 12:31] anthony-o opened #8447 "@ManyToMany is using plural @JoinColumn name instead of singular"
##### **Overview of the issue**
When using ManyToMany relationship, the generated `@Entity` is using plural for `@JoinColumn(name)` property.
I think the best practice is to use singular column name for such join table column.
Some examples of such best practice:
- https://www.baeldung.com/hibernate-many-to-many
- https://www.mkyong.com/hibernate/hibernate-many-to-many-relationship-example-annotat

[2018-10-03 13:06] Falydoor commented on #8446
Looks like only the entity A is causing the issue because "as" (plural form) is a keyword in Angular.

[2018-10-03 13:09] jdubois commented on #8446
thanks @Falydoor ... that's really a stupid bug :-(
We need to find a way to make this kind of thing work all the time. One the ideas is to add a prefix to everything, but I find it quite ugly. There should be some escape characters for all technologies, but it's hard to find and configure all possible outputs.

[2018-10-03 13:56] jsm174 commented on #8446
When your new to jhipster and trying to find JDL examples, they all use A for an example entity. :)

Not to clutter this issue, but it would be nice to be also support numbers for package names:

[code]

results in:

[code]

I'll have to test if `/^[a-z][a-z,0-9]+$/` would work.

[2018-10-03 13:59] murdos opened #8448 "Update husky and use its new configuration format"
##### **Overview of the feature request**

Update husky to last stable release and use its new configuration format.

##### **Motivation for or Use Case**

JHipster currently use husky@0.14.3.
There's now a stable release (1.0) and even a 1.1, that uses a new configuration format, either in package.json or in a dedicated file: .huskyrc.

##### **Related issues or PR**

-   [x] Checking this box is

[2018-10-03 16:14] srinivasa-vasu commented on #8422
@deepu105 Have to update both. Deployment and es-config (ConfigMap) manifest as well

[2018-10-03 16:18] deepu105 commented on #8422
Yup I updated both, I'll try again maybe I missed something

Thanks & Regards,
Deepu

On Wed, Oct 3, 2018 at 6:14 PM Srinivasa Vasu <notifications@github.com>
wrote:

[2018-10-03 20:27] mraible opened #8454 "JHipster 5.4.0 doesn't use correct userId type for relationships with OAuth 2.0"
##### **Overview of the issue**

If I generate a new project with OAuth 2.0 authentication, all the tests fail with an error like the following.

[code]
##### **Motivation for or Use Case**

This worked in the previous release.

##### **Reproduce the error**

Create an app with the following JDL (using `jhipster import-jdl app.jh`) and run `./gradlew test`.

[code]

##### **JHipster Version(s)**

[2018-10-03 21:00] jdubois commented on #8454
Sorry @mraible as this looks pretty serious... I don't understand how this passed the tests!
I won't be available tomorrow, unfortunately - if needed we can put $100 on this.

[2018-10-03 21:13] GuiF007 commented on #8447
Already noticed that ! Don't know why it's like this...

[2018-10-03 21:34] DanielFran commented on #8403
@MathieuAA You can proceed with the merge of unique validation in Core project since @jdubois already merge the missing prompts in the generator.
Do not forget to add the documentation in JDL part.
Thanks

[2018-10-03 22:01] Falydoor commented on #8454
@jdubois: I'm ok to get the 100$ if my fix is correct 😃

[2018-10-03 22:08] mraible commented on #8454
Nice work @Falydoor! You beat me by a couple minutes. I added a $100 label so you can get $$ for the fix.

[2018-10-04 04:15] MathieuAA commented on #8403
Okay!Le 3 oct. 2018 23:40, Daniel Franco <notifications@github.com> a écrit :@MathieuAA You can proceed with the merge of unique validation in Core project since @jdubois already merge the missing prompts in the generator.
Do not forget to add the documentation in JDL part.
Thanks

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the threa

[2018-10-04 05:36] mraible commented on #8454
Yes

[2018-10-04 06:43] pascalgrimaud commented on #8454
We don't have oneToOne relationship to Use in our entities tests
That's why we didn't detect this.

In fact, we need to work on our entities and try to have a JDL which cover all cases. It should be possible I think

[2018-10-04 09:41] #8454 closed

[2018-10-04 10:16] murdos opened #8457 "Husky Git hooks not installed on generated application"
##### **Overview of the issue**

During the generation during the automatic npm install

##### **Motivation for or Use Case**

Git hooks are not installed, since husky is installed before git repository is initiated.

##### **Reproduce the error**

Generate a jhipster application with client (gateway or monolith).

##### **Related issues**

##### **Suggest a Fix**

Run npm install after git init?

[2018-10-04 10:56] nonamejx commented on #7944
Hello,

Could you please update the docs as well ?
https://www.jhipster.tech/managing-relationships/

The relationships are now available when we choose to use MongoDB.

Thank you so much for your awesome work 🥇

[2018-10-04 12:50] deepu105 commented on #8457
can you please update the issue template with more info so that someone can reproduce this? If you are confident its a bug and know how to fix it then do a PR

[2018-10-04 14:03] #8448 closed

[2018-10-04 15:08] gflohr opened #8460 "Inconsistent relationship to User for OAuth2"
##### **Overview of the issue**

I  have a OneToOne relationship from `Customer` to `User` for a microservice using OAuth2 and MariaDB.

The `user` table is generated with a primary key `id varchar(100)`. The referring column in `customer` is `user_id bigint(20)`.  When liquibase creates the foreign key constraint, an exception is thrown:

[code]

The error message "Foreign key constraint is incor

[2018-10-04 15:10] mraible commented on #8460
Duplicate of https://github.com/jhipster/generator-jhipster/issues/8454

[2018-10-04 15:10] #8460 closed

[2018-10-04 15:11] jdubois commented on #8460
I'm currently testing a few things, a patch release will be published either tonight or tomorrow morning

[2018-10-04 15:20] #8350 closed

[2018-10-04 15:21] gflohr commented on #8460
Sorry for the duplicate. I've searched 68 issues containing "foreign key" but have overlooked #8454. My bad.

[2018-10-04 15:28] jdubois commented on #8460
No problem @gflohr - thanks for the bug report!!

[2018-10-04 17:14] Tcharl opened #8462 "Implement HTML5 pushstate for Angular & React clients"
##### **Overview of the feature request**

HTML pushstate has been a long discussion on the JHipster issues thread.
It should be nice to implements it, because it has many advantages for the end users.
May be motivating contribution with a bounty? I can pay from my pocket if necessary.

##### **Motivation for or Use Case**

- SEO and server side rendering

- Using anchors in pages

- Avoiding some

[2018-10-04 19:47] mraible opened #8463 "Checkboxes in React don't line up with labels properly"
##### **Overview of the issue**

Checkboxes don't line up with labels in React. I used [this example](https://availity.github.io/availity-reactstrap-validation/components/avform/) to figure out how to do checkboxes in my code.

Code:

[code]

This results in a UI that doesn't quite line up.

<img width="1186" alt="screen shot 2018-10-04 at 3 36 05 pm" src="https://user-images.githubusercontent.com

[2018-10-04 21:00] kalumet opened #8465 "jhipster upgrade stuck at command prompt"
##### **Overview of the issue**

I tried 2 times with the same result:
The upgrade process stucks at a command prompt, when the application is rebuilt:

[code]
Then comes the following question, where I have no possibility to make the selection. There is no reaction on keyboard input.

[code]

##### **Motivation for or Use Case**

I'm unable to make an upgrade of the jhipster version. I wanted to

[2018-10-04 21:12] sazeez opened #8466 "Incorrect version for Oracle ojdbc8 driver in parent pom"
##### **Overview of the issue**

The JHipster parent pom defines oracle JDBC GAV as com.oracle.jdbc:ojdbc8:jar:18.3, but maven.oracle.com published GAV is com.oracle.jdbc:ojdbc8:jar:18.3.0.0

Project fails to compile with error:
[ERROR] Failed to execute goal on project : Could not resolve dependencies for project : Could not find artifact com.oracle.jdbc:ojdbc8:jar:18.3 in maven.oracle.com (https

[2018-10-04 21:55] avdev4j commented on #8284
Hi all,
I'm coming with some good news. First we have response from @vladmihalcea [here](https://hibernate.atlassian.net/browse/HHH-12988?focusedCommentId=103750&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-103750) and there is no bug, the serialization (even on DST) work as intended.

So I keep working on the issue by forking the generator and adding unit tests.

[2018-10-05 05:53] sebastiandg7 commented on #1995
Any news about this? @deepu105

The main reason, as discused above, is **not having to do code changes (re deploy) in order to change the permissiveness of a user Role**.

About what @jdubois says about the Hibernate issue. It is present know! For the Author and Books example, a simple use case:

- A user with ROLE_EDITORIAL authority can edit Authors.

- A user with ROLE_WRITTER authority can edi

[2018-10-05 06:46] deepu105 commented on #8465
This was an issue in the older version. It has been fixed now. For now just
answer the question and proceed. It won't happen once the version is updated

On Thu, 4 Oct 2018, 11:00 pm Falco Knapp, <notifications@github.com> wrote:

[2018-10-05 06:53] deepu105 commented on #1995
No body worked on this and I gave up due to lack of interest from
community. If you have nice Ideas I suggest you do a PR and I'll do my best
to take it forward

On Fri, 5 Oct 2018, 7:53 am Sebastian Duque Gutierrez, <
notifications@github.com> wrote:

[2018-10-05 07:04] duderoot commented on #6735
Finally, it was merged 👍 _"Das war eine schwere Geburt"_ it's a German saying that will summarize this issue. It means something like _"Well, that took some doing"_ Happy to see it done 😃

[2018-10-05 08:03] jdubois commented on #8465
Yes indeed, that should be fixed in the new releases (otherwise please don't hesitate to comment).

Have a look in the older tickets, this is already explained (and that's why I'm closing this as "duplicate"), but the trick is to create a new project with the generator and answer the question (yes or no), then you won't have the question again (well, if you say "no", you'll get it again after doin

[2018-10-05 08:03] #8465 closed

[2018-10-05 08:05] jdubois commented on #8466
Thanks a lot @sazeez for both the bug report and the fix!!! That's awesome :-)
It's a bit hard to test as we need an access to Oracle's Maven repo, but I think we already had this issue, so this is a bit disturbing...

[2018-10-05 08:09] jdubois commented on #8284
Thanks a lot for all this hard work @avdev4j ! I'm adding a $100 [bug bounty](https://www.jhipster.tech/bug-bounties/) to this ticket because that's totally worth it!

Don't worry about the code review: if you are not confident about your pull request you can mark [WIP] in the title, or add some comment about it. And as it will pass all our CI chain, it's good to make the pull request at anytime,

[2018-10-05 08:31] jdubois commented on #8466
Closing as PR is merged.

[2018-10-05 08:31] #8466 closed

[2018-10-05 08:31] jdubois commented on #8457
Closing as PR is merged.

[2018-10-05 08:46] rampantlion103 opened #8467 "/Library/Java/JavaVirtualMachines/jdk1.8.0_181.jdk Blank Pages JHipster 5.4.1"
I tried the latest JHipster 5.4.1 with the latest Java 8, but I am getting a blank page at localhost:8080 at Safari, Chrome and Firefox.

Here are the versions:

$ java -version
java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

$ jhipster --version
Using JHipster version installed globally
5.4.1

When fu

[2018-10-05 09:18] jdubois commented on #8467
Yes you need to run `npm install && npm start`.

Please have a look at the documentation, it's fully explained.

I agree this is not user-friendly, but it's harder to solve than one may think - we just had a brain storming session yesterday about this with @wmarques and this should be much improved in the future.

[2018-10-05 09:18] #8467 closed

[2018-10-05 16:00] deepu105 commented on #8457
I dont think that PR solves this issue(If its an issue after all, I have
not seen it)

Thanks & Regards,
Deepu

On Fri, Oct 5, 2018 at 10:32 AM Julien Dubois <notifications@github.com>
wrote:

[2018-10-05 16:14] deepu105 opened #8471 "Gradle build doesnt work properly for client side build trigger"
##### **Overview of the issue**

Look at the below logs, the front end builds are run only on the first run, it doesn't build it during a clean build or when there are changed files
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

I think this comes from https://github.com/jhipster/generator-jhipster/pull/8451

##### **Suggest a Fix**

Gonna ha

[2018-10-05 16:36] deepu105 commented on #8471
I removed the in/out stuff for prod build, as IMO prod build should always run

[2018-10-05 17:20] nqthiep opened #8474 "How to make JHipster don't add id field as default?"
Hi Everybody,

I would to generate an Entity has a field which is a key field.
I want to specify the name of this key field by myself, not use the "id" as default of JHipster.

Is there anyone know a solution,
please help me.

[2018-10-05 17:50] deepu105 commented on #8474
It is not possible as ID is the primary key and we have no plans to support such feature. You would have to remove it manually if you don't like it. But honestly I don't see why you would want to do it

[2018-10-05 17:50] #8474 closed

[2018-10-05 17:53] deepu105 commented on #8467
The maven build should have run npm install and build when you run the
bootrun task, unless you started the app some other way. Anyway you don't
provide us enough details

On Fri, 5 Oct 2018, 11:18 am Julien Dubois, <notifications@github.com>
wrote:

[2018-10-05 18:17] #8471 closed

[2018-10-05 19:10] pigalon commented on #7944
Hello,
many thanks for this great contribution.
I have one question about jdl test files from jhipster-mongodb-sample-projects/models-jdl/
Which jdl is the good ones ?
I took the last Jhipster version 5.4.0, and the orders-model-embedded.jdl doesn't work because "The type 'PaymentDetails' is an unknown field type."
Thanks in advance

[2018-10-05 19:17] ruddell commented on #7944
@pigalon The code doesn't use Embedded documents, so I think the correct JDL file is [orders-model.jdl](https://github.com/ivangsa/jhipster-mongodb-sample-projects/blob/master/models-jdl/orders-model.jdl)

[2018-10-05 19:17] ivangsa commented on #7944
hi @pigalon, orders-model-embedded.jdl is the only one that is deprecated, I will delete it shortly
you can use orders-model.jdl and append some of the other as options

[2018-10-05 21:02] erikyuzwa commented on #8029
now I'm hitting this as well and pulling my hair out -- JUST started this week. +1 on removing it, or putting it behind a jhipster feature flag (?) if removal is voted against...

[2018-10-06 01:03] nqthiep commented on #8474
Yes, i known that the Jhipster doesnt support it. But i would like to know is there any other solution than manual.
I follow to design of our customer.

[2018-10-06 02:51] ruddell commented on #8474
You can write a blueprint ([docs](https://www.jhipster.tech/modules/creating-a-blueprint/)) and customize all of the templates.  The ID is used in a lot of places so there will be a lot of modifications

[2018-10-06 04:50] jdubois commented on #8029
@erikyuzwa you mean the auditing stuff, or the PK issue? For the PK we have never been able to reproduce it, and I've never ever seen it, so that's really hard to understand (and fix).

[2018-10-06 04:56] jdubois commented on #8467
Yes @deepu105 you are correct, but I'll also open a couple of new feature requests to improve the error pages (and I think we've been pretty clever with @wmarques , you'll see!)

[2018-10-06 05:31] jdubois commented on #8029
Thanks @erikyuzwa - I'll need to check our database on https://start.jhipster.tech but indeed those tables take a lot of spaces, and are redundant with the logs.
I'll need to do a poll and ask people before doing this, but I'd like to remove those tables.

[2018-10-06 05:33] erikyuzwa commented on #8029
still learning all "this" in general (spring + java + jhipster), but if there's anything I can do to help move things forward...

[2018-10-06 07:59] Falydoor opened #8476 "Validation's placeholders are not replaced in React with translation disabled"
##### **Overview of the issue**

Validation's placeholders are not replaced with the corresponding value.

![image](https://user-images.githubusercontent.com/2212267/46568855-fa916c80-c919-11e8-8494-1b6beb154a17.png)

##### **Motivation for or Use Case**

The message should display the value to help the user.

##### **Reproduce the error**

Generate a React monolith with no translation.
Generate a

[2018-10-06 09:45] srinivasa-vasu commented on #8422
@deepu105 try #8477

[2018-10-06 10:28] deepu105 commented on #8422
Awesome thanks.

[2018-10-06 13:02] atomfrede commented on #8423
I will add prometheus again. Should we make it configurable again or just expose the endpoint by default?

[2018-10-06 13:04] deepu105 commented on #8423
We should at least make it usable out of the box with Kubernetes/Docker
when choosing the option

Thanks & Regards,
Deepu

On Sat, Oct 6, 2018 at 3:03 PM Frederik Hahne <notifications@github.com>
wrote:

[2018-10-06 13:07] atomfrede commented on #8423
Check will prepare a first version with prometheus enabled by default (imho it doesn't hurt) and we can add a property in `JhipsterProperties` afterwards.

[2018-10-06 18:01] Tcharl commented on #8379
It's a common issue... When using protractor without using their promise wrappers, and disabling protractor Angular event listeners to have async/await...

After that migration to 5.3.4, we've lost 10 days to have no flaky tests, and I think you won't like the solution:

We've put many ugly
[code]
At the lines which had flaky behaviors.

And we don't know if that's really fixed for us: we're not s

[2018-10-06 21:43] Tcharl opened #8482 "Angular - Switch to reactive forms?"
##### **Overview of the feature request**

Reactive forms is a new paradigm brought by Angular 6.
It could be nice to upgrade update forms to highlight it, as the approach looks better than the actual form validation implemented by JHipster.

##### **Motivation for or Use Case**

Easier validation. I've already tested it for some of our forms and it looks easier to understand than ngModel + valida

[2018-10-06 21:45] deepu105 commented on #8422
@srinivasa-vasu don't forget to claim the bounty

[2018-10-07 05:43] nqthiep commented on #8474
@ruddell Thaak you for your guide.

[2018-10-07 07:18] PierreBesson commented on #8423
Prometheus was initially removed during the failed attempt at migrating to micrometer. Then, we still want to migrate to micrometer in the future which support prometheus out of the box with dimensional metrics which are more appropriate to the prometheus model). We have started the work on micrometer at Ippon with Clement the new intern, so the migration should be in progress in the coming weeks.

[2018-10-07 07:49] pascalgrimaud commented on #8337
The work is finished.
I will PR soon, as soon as https://github.com/jhipster/generator-jhipster/pull/8484 is merged, then, I will rebase my branch.

[2018-10-07 08:09] pascalgrimaud commented on #8337
Here the result: https://dev.azure.com/pascalgrimaud/generator-jhipster/_build/results?buildId=184&view=logs

Some feedbacks after playing a lot with Azure Pipelines. cc @jeremyepling

Pros:
- 10 free parallel jobs are so **incredible** and will help a lot our Open Source projects
- the node is started immediatly after the pull request, so we'll gain a lot of time here
- the logs are splitted betw

[2018-10-07 08:19] murdos commented on #8457
No, this issue is not solved. I created to distinguish it from #8448 solved by the linked PR.
I've added a jhipster configuration in the issue template to ease the reproduction (but I've just picked default options).

The other side effect of the described issue, is that prettier doesn't run on the generated files (no precommit hook, no automatic run of prettier).
Thus running manually prettier re

[2018-10-07 09:00] saturnism commented on #7750
Cool. Let's test and release the doc PR after the multi-release JAR issue is fixed.

[2018-10-07 09:56] murdos opened #8485 "Mention used blueprint in initial commit"
##### **Overview of the feature request**

Initial commit should mention the blueprint used:
'Initial application generated by JHipster-<version> with blueprint: <blueprint>'.

##### **Motivation for or Use Case**

Since a blueprint can drastically changes the result of the generated application, it can be an important piece of information to keep in initial commit message.

##### **Related issues

[2018-10-07 14:29] deepu105 commented on #8457
@murdos prettier is initially run using yeomanTransforms and that doesnt depend on husky/git so that shouldnt be a problem

[2018-10-07 15:22] murdos opened #8489 "Cucumber : use Cucumber Expression instead of Regular Expression"
##### **Overview of the feature request**

Switch to [cucumber expressions](https://docs.cucumber.io/cucumber/cucumber-expressions/) syntax in step definition.

##### **Motivation for or Use Case**

A step definition’s expression can either be a Regular Expression or a Cucumber Expression.
Cucumber Expression is default syntax used by cucumber when it provides templates for your missing steps, and

[2018-10-07 16:32] #8485 closed

[2018-10-07 17:33] #8337 closed

[2018-10-07 18:50] shashankpenumatcha commented on #8065
Thank you, this worked. I was struggling with this a lot.

[2018-10-07 19:10] #8489 closed

[2018-10-07 19:23] rifatdover opened #8494 "Converting Gradle build scripts from groovy to kotlin"
##### **Overview of the feature request**

Gradle now supports kotlin as an alternative to groovy.

##### **Motivation for or Use Case**

This helps a lot about tools inside ides like Idea. And also it is easier to implement custom tasks inside kotlin.

##### **Related issues or PR**

I can not find a related issue about this.

-   [x] Checking this box is mandatory (this is just to show you read

[2018-10-07 19:28] rifatdover commented on #8494
Here is migration guide:

https://guides.gradle.org/migrating-build-logic-from-groovy-to-kotlin/

[2018-10-07 19:45] jdubois commented on #8494
The boss on this part is @atomfrede (and maybe also @deepu105 ) but not me :-)
The main downside for me is that this would lock us with Intellij IDEA - I'm not a big fan of forcing people to use an IDE, even more if it's a paying one (I know there's a community edition, but if you want the full experience it's far too expensive for most of our users). And please note I'm huge Intellij IDEA user an

[2018-10-07 19:50] deepu105 commented on #8494
No, I don't see any reason to migrate. I like the way it is and hate doing something just becoz its hyped.

[2018-10-07 19:50] #8494 closed

[2018-10-07 19:52] rifatdover commented on #8494
@jdubois @deepu105 It is not forcing you to use Idea it is just providing you to use kotlin in DSL not groovy. But you are the boss. :)

[2018-10-07 19:54] rifatdover commented on #8494
Maybe an alternative would be good? Or in Khipster?

[2018-10-07 19:54] atomfrede commented on #8494
I see it basically the same way as @deepu105 . There is currently no need to migrate to kotlin imho. What we should try (and I didn't had time for that) is a jhipster Gradle plugin as it makes maintaining our Gradle build easier both for us and the users by proving an opiniated way to build a jhipster project. So @rifatdover if you would like you can support us in writing that plugin.

[2018-10-07 19:56] rifatdover commented on #8494
@atomfrede Is there a related issue?

[2018-10-07 19:59] rifatdover commented on #8494
@atomfrede If you guide me about how it should be or what you have in your mind I will be pleased to help.

[2018-10-07 19:59] #8457 closed

[2018-10-07 20:01] atomfrede commented on #8494
I will have a look tomorrow. We have closed the related issue as I didn't had the time last year. Maybe we can try to have something ready for Gradle 5 later this year.

[2018-10-07 20:12] deepu105 commented on #8494
@rifatdover and if you decide to write that plugin, you can of course do that in Kotlin if you like :)

[2018-10-08 05:44] atomfrede commented on #8494
@rifatdover Here is the plugin with some discussion and one pr we can discard: https://github.com/hipster-labs/jhipster-gradle-plugin

So we should have multiple plugins in the end, starting with a `jhipster-base` plugin and multiple smaller plugins which configures more or less other plugins. We should keep in mind that some things need to be configured from within the project and can't be part o

[2018-10-08 06:11] pigalon commented on #7944
Hi ivangsa,
thank you for your answer, indeed the orders-model.jdl works perfectly.
Relations with Mongodb model is useful.
However I want to use a mix relation and embedded objects, so I've reused your data model and I've added new class product and add a relation between ordered item and product.
Ordered Item become just an embedded object in customer order, I've just dropped the annotation @DBR

[2018-10-08 07:59] arabbani opened #8497 "JHipster application is throwing error on production build"
##### **Overview of the issue**

I'm using JHipster v5.4.2. The project works fine during development. But after i have generated a executable war for production, it is throwing the following error:

##### **Motivation for or Use Case**

##### **Reproduce the error**
`        Exception encountered during context initialization - cancelling refresh attempt: org.springframework.context.ApplicationCo

[2018-10-08 08:02] jdubois commented on #8497
As there are many ways to do this, could you give the exact commands you use to build the application and to run it?

[2018-10-08 08:04] arabbani commented on #8497
Build command :
`mvnw -Pprod package`
Run command:
`java -jar jhipster-0.0.1-SNAPSHOT.war`

[2018-10-08 08:07] jdubois commented on #8497
For running it you don't need the "java -jar" part (but it won't solve your issue).
And what about your database, can you log in and see the schema?

[2018-10-08 08:14] arabbani commented on #8497
yes

[2018-10-08 08:14] arabbani commented on #8497
I can log in with the database and see schema

[2018-10-08 08:35] jdubois commented on #8497
I just tried with your configuration and commands and I can't reproduce :-(

Do you have anything else in your logs? Maybe you changed something from the original generated project?

[2018-10-08 08:44] arabbani commented on #8497
I just removed <version>${hibernate.version}</version> from pom as it was managed by spring boot

[2018-10-08 08:45] arabbani commented on #8497
##### **JDL for the Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

<details>
<summary>JDL entity definitions</summary>

<pre>
entity UserQuizInput {
  uiText String maxlength(100) required,
  name String maxlength(50) required,
  type UserQuizInputType required
}
entity Quiz {
  name String maxlength(70) required,
  description String maxlength(120) requi

[2018-10-08 08:47] deepu105 commented on #8497
Can you put the hibernate version back in and try? I think we specify that
for a reason

Thanks & Regards,
Deepu

On Mon, Oct 8, 2018 at 10:45 AM Arif Rabbani <notifications@github.com>
wrote:

[2018-10-08 08:48] arabbani commented on #8497
I tried @deepu105

[2018-10-08 08:49] jdubois commented on #8497
@arabbani and is your JDL working fine? As you didn't give it in the original post, I tested without it - could you also try? So we know if that comes from the JDL or not.

[2018-10-08 08:51] arabbani commented on #8497
Ok

[2018-10-08 09:29] arabbani commented on #8497
yeah it's working fine without entities

[2018-10-08 09:29] arabbani commented on #8497
Maybe something is wrong. I'll check and let you know

[2018-10-08 10:30] alexis-puska opened #8498 "Alert not working for user management with angular 6 frontend."
##### **Overview of the issue**

AlertService don't produce Alert on angular6 front end.
<jhi-alert></jhi-alert> inside the template component is placed.
in the http response, i create an header with the message to display inside the <jhi-alert></jhi-alert> component like that :

ResponseEntity.created(new URI("/api/users/" + newUser.getLogin()))
		    .headers(HeaderUtil.createAlert("userManageme

[2018-10-08 11:15] pradeepmanshajha commented on #7750
Any progress on `gae` subgenerator?

[2018-10-08 14:43] avdev4j commented on #8284
Thanks a lot @jdubois !!
I've just add the PR with mark as [WIP] as you advise me about.
👍

[2018-10-08 16:47] deepu105 commented on #8431
My 2 cents. IMO the pattern makes more sense in a microservice architecture
than in a monolith. Of course, you can do it a monolith but in most cases,
you wouldn't want your app to start if the DB is down unless your
application is only doing some static content serve.
To me, I don't want to take additional burden of maintaining this in
JHipster. Of course if its a spring feature which we can just

[2018-10-08 17:22] mraible opened #8503 "Sonar doesn't work with Gradle out-of-the-box"
##### **Overview of the issue**

I created an app with the following JDL:

[code]

Then I started all the Docker containers needed to run it with the prod profile.

[code]

Then I ran the following command to execute all the tests and track it in Sonar.

[code]

This results in the following stacktrace:

[code]

##### **Motivation for or Use Case**

Everything should work out-of-the-box.

##### **

[2018-10-08 17:33] atomfrede commented on #8503
Strange. Will check. Do you mean after committing sonarqube also work
correctly?

On Mon, Oct 8, 2018, 19:26 Matt Raible <notifications@github.com> wrote:

[2018-10-08 18:07] mraible commented on #8503
Yes, after I did an add and commit, it worked as expected.

[2018-10-08 18:36] mraible commented on #8503
Nevermind about the empty `.jhipster` directory. That was because I didn't specify the entities in my application definition. I had to add an `entities` setting for everything to work:

[code]

[2018-10-08 18:40] atomfrede commented on #8503
I wonder what git commit has to do with sonar. Will try to find something
out. But don't we do a git commit right after generation ?

On Mon, Oct 8, 2018, 20:36 Matt Raible <notifications@github.com> wrote:

[2018-10-08 18:42] mraible commented on #8503
This part of the stacktrace is what made me suspect it was a lack of a commit:

[code]

[2018-10-08 18:48] mraible commented on #8503
@atomfrede It doesn't look like we do an add/commit. I just tried generating a new project and then ran `git status`. Here's the results:

[code]

[2018-10-08 18:58] atomfrede commented on #8503
Strange I am pretty sure I always need to unlock my pgp key for signing and
my ssh key when generating a new project. Will try it later if I find some
time.

On Mon, Oct 8, 2018, 20:49 Matt Raible <notifications@github.com> wrote:

[2018-10-08 19:40] jeremyepling commented on #8337
@pascalgrimaud, Thanks for feedback. We're working on all your cons.

1. We're starting the design work for Build Results and Logs on mobile next week. It'll take a longer to build and ship it.
2. We're working on package caching. We'll start by having the most popular packages on the image. After that, we'll let you specify what should be cached.
3. "Retry failed jobs" should deploy in November.

[2018-10-08 19:51] jdubois commented on #8337
Thanks so much @jeremyepling
It's awesome to have your feedback here! Here this is for our own internal use, but for our end-users we have https://start.jhipster.tech/#/ci-cd - did you try it?

[2018-10-08 22:18] PierreBesson commented on #8503
@atomfrede, this is when generating the app from a JDL file. Indeed I don't think it commit the code after generation. And maybe we should not do it. What about monorepos ?

[2018-10-09 01:54] waincent opened #8504 "Failed to upgrade front-end, get error: ENOENT: no such file or directory, open '.gitignore'"
##### **Overview of the issue**
I want upgrade the front-end from jhipster version 5.3.4 to 5.4.2, execute the command:
[code]

The upgrade process
[code]
get the error info

[code]
##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
5.4.2
##### **JHipster configuration**
.yo-rc.json
[code]
##### **En

[2018-10-09 05:43] atomfrede commented on #8503
:heavy_check_mark: So what I found out, if there is `.git` folder sonar assumes git as scm tool. Furthermore sonar assumes no uncommited changes in the working directory. The maven build also doesn't work when there are no commits in the repository (but it doesn't start sonar as it fails before when trying to execute the git commit id plugin).

For the gradle build you can set `property "sonar.scm

[2018-10-09 06:46] deepu105 commented on #8503
There was a bug with git commit which I fixed recently

On Tue, 9 Oct 2018, 7:43 am Frederik Hahne, <notifications@github.com>
wrote:

[2018-10-09 06:51] deepu105 commented on #8504
What is the issue? If you don't atleast specify a clear title or description what are we suppose to understand just from stacktrace, please follow our guidelines and add required info

[2018-10-09 06:51] atomfrede commented on #8503
I was on the latest master I think, but let me check again later to make sure.

[2018-10-09 08:52] stacquet opened #8506 "Combo React + Infinite Scroll + ElasticSearch crashes"
##### **Overview of the issue**
My options are React + InfiniteScroll + ElasticSearch.

In the entity page (entreprise in my case), I get the following stacktrace when scrolling down after a search.

![image](https://user-images.githubusercontent.com/6287352/46657034-a99aa600-cbaf-11e8-8656-440ba9bc95ef.png)
Stacktrace :

_The above error occurred in the <Entreprise> component:
    in Entreprise (

[2018-10-09 08:56] wmarques commented on #8482
@Tcharl Indeed it's a good idea I also find it better for validation. That's quite a big work to do so maybe we can try to do that for JHipster v6 ?

[2018-10-09 09:12] gmarziou commented on #8504
The issue is that `.gitignore` is generated for server so when you use --skip-server  you don't have one.
The upgrade generator should not fail when there is no .gitignore.

[2018-10-09 10:06] alexander-redmann-teaching commented on #8454
Hi,
I think I have a related problem with the **ManyToOne-Relationship** in the version **5.4.2**. With a similar configuration (Monolithic, SQL, OAuth2 and Angular but with Maven) and this JDL:

[code]
With this JDL I get the same test errors:

[code]

[2018-10-09 10:15] alexander-redmann-teaching opened #8507 "TextBlob is missing in JDL-Studio"
Not a real bug, but an inconsistency. In the JDL-Studio is the **TextBlob** missing as an build in auto-complete value.

[2018-10-09 10:23] alexander-redmann-teaching opened #8508 "Warnings if reserved words are used in JDL-Studio and JHipster generator"
##### **Overview of the feature request**

Some words are reserved for JHipster or Java itself (e.g. User for JHipster when used by JDL-Studio or class, new as packagename part in the generator).
If I write them in the JDL-Studio they should be marked as an error, to resolve the problems before the JDL is imported and decline the package name if generating the project

[2018-10-09 11:43] agoncal opened #8509 "Ease Angular service inheritance"
##### **Overview of the feature request**

When extending from Angular services, it is handy to re-use some properties (eg. `resourceUrl`) as well as some helper methods (eg. `convertDateFromServer` or `convertDateArrayFromServer`. Unfortunatelly these are private. Making properties and helper methods protected would ease inheritance.

##### **Motivation for or Use Case**

As explained in the [tal

[2018-10-09 12:34] PierreBesson commented on #8508
Please follow the issue template and provide exemples on what feature exactly you are requesting and if you are able to contribute.

Also the JDL studio issue tracker is probably more appropriate for this: https://github.com/jhipster/jdl-studio/issues

---

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generato

[2018-10-09 12:34] #8508 closed

[2018-10-09 12:36] PierreBesson commented on #8507
Same as my previous comment on your other issue : https://github.com/jhipster/generator-jhipster/issues/8508#issuecomment-428174093

I'm sorry but a one liner is not a valid bug report or feature request.
---

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as ment

[2018-10-09 12:36] #8507 closed

[2018-10-09 13:04] wmarques commented on #8509
LGTM, we can even make them public, I don't know why those informations would need to be private for the class.

[2018-10-09 15:40] sazeez opened #8516 "Swagger not listing actuator endpoints"
##### **Overview of the issue**
When swagger is enabled, both default(app) and the Spring boot actuator springfox dockets are added to the swagger configuration, but only the default endpoints are shown in the UI.

This can also be verified in http://host:port/contextroot/swagger-resources, it is missing the /management group.

##### **Motivation for or Use Case**
Swagger should ideally expose bot

[2018-10-09 15:52] PierreBesson commented on #8516
It was working properly but it doesn't work anymore 😢! Maybe because the property was changed in Spring Boot 2. I will have a look.

[2018-10-09 17:40] deepu105 commented on #8509
I think it should be fine. Would you mind doing a PR since its a minor
change

On Tue, 9 Oct 2018, 1:43 pm Antonio Goncalves, <notifications@github.com>
wrote:

[2018-10-09 17:42] deepu105 commented on #8508
Yes, please open an issue in the JDL studio issue tracker

On Tue, 9 Oct 2018, 2:34 pm Pierre Besson, <notifications@github.com> wrote:

[2018-10-09 17:43] deepu105 commented on #8507
Please use the JDL studio issue tracker

On Tue, 9 Oct 2018, 2:36 pm Pierre Besson, <notifications@github.com> wrote:

[2018-10-09 17:58] deepu105 commented on #8516
I noticed this

On Tue, 9 Oct 2018, 5:52 pm Pierre Besson, <notifications@github.com> wrote:

[2018-10-09 18:06] agoncal commented on #8509
@deepu105 If you promise that @jdubois will not close this issue in a couple of weeks but rather leave me some time (after Voxxed Microservices) then it will be a pleasure for me to do this PR ;o)  You can assign it to me

[2018-10-09 18:08] pascalgrimaud commented on #8516
In your `application.yml`, try to change the properties:

[code]

It should appear in swagger, but in the same group (instead of a specific one)

[2018-10-09 18:08] deepu105 commented on #8509
Ha ha ha, I can't promise on Julien's behalf as he really doesn't like long
standing issues. But I can try to do this this week for you :)

On Tue, 9 Oct 2018, 8:07 pm Antonio Goncalves, <notifications@github.com>
wrote:

[2018-10-09 18:44] mraible opened #8518 "Cloud Foundry sub-generator does not work: no suitable cloud connector found"
##### **Overview of the issue**

I attempted to deploy a JHipster app (with PostgreSQL) to Cloud Foundry today and it fails with the following stack trace:

[code]

##### **Motivation for or Use Case**

It used to work.

##### **Reproduce the error**

Create an app with the following JDL:

[code]

Then update `src/main/resources/config/application-prod.yml` and find the following configuration for

[2018-10-09 19:42] mraible commented on #8518
After seeing https://github.com/jhipster/generator-jhipster/issues/8169, I tried running `jhipster cloudfoundry` again. This time it succeeded, but it seems it can't connect to my database when I load the site.

<img width="1099" alt="screen shot 2018-10-09 at 1 41 37 pm" src="https://user-images.githubusercontent.com/17892/46694142-1cfce180-cbc9-11e8-84f5-63e558f491f8.png">

[2018-10-09 20:15] amataj opened #8519 "Java IT are failing when DB type is MongoDB and entities have required relationships. Java IT classes contain references to “EntityManager em”"
##### **Overview of the issue**
Java IT are failing when DB type is MongoDB and entities have required relationships. Java IT classes contain references to “EntityManager em”

##### **Motivation for or Use Case**

##### **Reproduce the error**
1- Download apps.jh from https://gist.github.com/mraible/3c97f60c6617e67fd87cd9895d54311c

2- Change db to mongodb.

databaseType mongodb,
devDatabaseType m

[2018-10-09 21:32] saturnism commented on #7750
@pradeepmanshajha the generator for monolith is actually already useable. just waiting for a new fix that can fix issues introduced by multi-release jar. is there a specific feature you are looking for?

[2018-10-09 23:28] rampantlion103 commented on #8467
Team, I' really sorry for this delayed response because I took a vacation. First you are right that to use "npm start" and it works. In my case, I was following step by step instruction from the "Video Tutorial (16 minutes)" by @mraible. In 03:22 of the video tutorial, he suggested that the method to start the Jhipster is to use the IDE(Intellij) to start the blog app instead of the maven. This is

[2018-10-09 23:46] mraible commented on #8518
I was able to solve the problem by removing the properties added in [this commit](https://github.com/jhipster/generator-jhipster/commit/b1020ac3a37c7252405d0e116f59db630c01e4d5#diff-54384bc2a000247e59e6e16cb677fdb0).

[code]

[2018-10-10 04:45] pascalgrimaud commented on #8497
@arabbani : if you can use start.jhipster.tech and generate a project with your issue, it will help to reproduce.
As no one here manage to reproduce the issue.

[2018-10-10 05:47] jdubois commented on #8467
Thanks for your feedback! No problem, I know we need to improve this.

[2018-10-10 05:52] jdubois commented on #8518
I know this commit (as it's from me), and this gives a nice performance enhancement, normally without causing any issue anywhere.
From the bug we had earlier it seems that just redeploying the apps make the database binding works -> now your app works, could you try again with the original configuration?
For both issues, that would be a bug on the Cloudfoundry side in my opinion.

[2018-10-10 07:04] deepu105 commented on #8497
I'm closing this as we couldn't reproduce, if you can reproduce and provide exact steps for us then I'll reopen it

[2018-10-10 07:04] #8497 closed

[2018-10-10 07:09] deepu105 commented on #8467
I guess since we moved the initial webpack build step to maven/gradle, we
need to update the video to use maven/gradle or to ask to run npm start

On Wed, 10 Oct 2018, 7:47 am Julien Dubois, <notifications@github.com>
wrote:

[2018-10-10 09:07] jdubois commented on #8518
We could change them in the cloudfoundry sub-generator - if I remember well there is a specific cloudfoundry profile, so this property just needs to be set up there

[2018-10-10 10:01] airdive opened #8521 "Uninstall"
How to uninstall jhipster completely?

[2018-10-10 12:00] pascalgrimaud commented on #8521
It depends on how you installed JHipster, using NPM or Yarn.
And it's not an issue, that's why I'm closing your ticket.

[2018-10-10 12:00] pascalgrimaud commented on #8521
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-10 12:00] #8521 closed

[2018-10-10 12:01] jdubois commented on #8521
Yes, you installed JHipster with a package manager (npm/yarn/homebrew/chocolatey), then just uninstall it with the same package manager.

Next time please follow the guidelines, this makes us all lose time as we don't have enough information.

[2018-10-10 12:11] florentL opened #8522 "React: link in creationEmail thymeleaf template is broken"
##### **Overview of the issue**

The link in creationEmail thymeleaf template is broken

Before
(URL: http://127.0.0.1:8080/#/reset/finish/95194664559323030487)
![before_crop](https://user-images.githubusercontent.com/9569081/46735158-b396d480-cc95-11e8-9d1f-dbeafd169e7c.png)

After
(URL: http://127.0.0.1:8080/#/reset/finish?key=95194664559323030487)
![after_crop](https://user-images.githubusercon

[2018-10-10 12:39] initfusion commented on #7750
@saturnism i think this subgenerator is not supported with gradle project.

[2018-10-10 12:40] PierreBesson commented on #8516
The @ConditionalOnClass is needed because if the user disable the actuator in his/her app (then the class will be missing), this feature will not work properly and also be useless.

@sazeez I'm on it, I have already found a way to fix this.

[2018-10-10 14:01] PierreBesson commented on #8516
Fixed in https://github.com/PierreBesson/jhipster/tree/management-endpoint-swagger-fix

[2018-10-10 14:05] #8522 closed

[2018-10-10 15:08] jeremyepling commented on #8337
I just tried it and it's great. Thanks for adding Azure Pipelines. Could you encourage people to setup the Azure Pipelines GitHub App with their repository instead of telling them to go to the Azure DevOps organization. It's an easier flow.

- An azure-pipelines.yml will be added to your project.
- Install the Azure Pipelines app from the [GitHub Marketplace](https://github.com/marketplace/azure-p

[2018-10-10 16:41] pascalgrimaud commented on #8337
Thanks @jeremyepling
We will update text

[2018-10-10 19:36] #8175 closed

[2018-10-10 19:51] deepu105 opened #8528 "Disable webpack progress plugin when running from maven/gradle"
When the webpack tasks are run using maven/gradle they produce extremeey long outputs due to the SimpleProgressWebpackPlugin

<details>
<summary>log</summary>
<pre>
[INFO] Using 1 worker with 2048MB memory limit
[INFO]
[INFO]   ❯ Compile modules
[INFO]
[INFO]   ❯ Build modules
[INFO]     → [0%] 0 of 1 modules :: react-hot-loader/patch src/main/webapp/app/index
[INFO]     → [0%] 1 of 2 modules :: n

[2018-10-10 20:44] #8509 closed

[2018-10-10 21:35] deepu105 opened #8531 "Remove PostCSS warnings"
Currently, we have below warnings from postCSS when running webpack. We can add either add a basic plugin like auto prefixer or just remove postCSS
[code]

[2018-10-11 06:32] #8302 closed

[2018-10-11 08:45] ivseb opened #8534 "JHipster React handleClose call before request finished"
##### **Overview of the issue**

If I submit a request, for example "saveEntity", react  don't wait for a response and call handleClose immediately.

##### **Motivation for or Use Case**

If the user have any connections problem or the call fail for any reason all data in form will be lost.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

in entity-update.tsx.ejs

[2018-10-11 09:33] raulrotundo opened #8535 "zipkin.sleuth.sampler.percentage wrong property"
##### **Overview of the issue**

It looks like spring.sleuth.sampler.percentage property is wrong, the correct one is spring.sleuth.sampler.probability.

Here is the source code that is being used and it is using probability not percentage.

https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/cloud/sleuth/sampler/SamplerPropert

[2018-10-11 10:03] roshank92 opened #8536 "Elastic search issue UnsatisfiedDependencyException: Error creating bean with name 'businessTypeQueryService'"
I have created jhipster monolithic application with jhipster version 5.3.4
This is my yo-rc.json

[code]

I am getting following error every time I run the server

`ERROR org.springframework.boot.SpringApplication - Application run failed
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'businessTypeQueryService' defined in file [/home/roshan/rapidue/

[2018-10-11 12:39] PierreBesson commented on #8535
@raulrotundo Thank you so much, I wondered why it why was not working properly and indeed it's because they changed the property name !

[2018-10-11 12:48] #8535 closed

[2018-10-11 14:04] bernardosanson commented on #8029
The same problem! I am using H2 and SQL Server

The problem occurs after I had inserted 50 registers.
I changed "hibernate.id.new_generator_mappings" to false and it worked partial but ignore the next value of sequence....

[code]

[2018-10-11 14:26] abenmess opened #8541 "A loss of design direction (RTL) using arabic translation when refresh page"
##### **Overview of the issue**

A loss of the arabic translation when refresh page

##### **Motivation for or Use Case**

I meet this  bug and i dont fint a fix

##### **Reproduce the error**

- generate a gateway microservice with multi-langage including arabic with english as the native.
- run application with english by default: the html tag is correct, it contains dir="ltr" as the following

[2018-10-11 14:35] #8528 closed

[2018-10-11 14:56] marianfoo opened #8543 "[documentation] Example JDL Link is throwing 404"
##### **Overview of the issue**

Here https://www.jhipster.tech/jdl/#sample is mentioned that the HR Oracle Example has been translated to JDL but unfortunately the links throws a 404.
It's also not in the [repo](https://github.com/jhipster/jdl-samples) for more examples.
Is this file still existing somewhere?

Also in the same paragraph the sentence:
"The same application is loaded by default in

[2018-10-11 15:12] abenmess commented on #8541
I noticed that " Storage.local " returns undefined when refresh page

[2018-10-11 16:05] deepu105 commented on #8543
The link indeed seems broken, i'll fix it.
If you load JDL studio, it is the default sample, but if you already have a JDL in local history then you will see that. You can always click on the delete icon in the top right corner to get the default back

[2018-10-11 16:12] deepu105 commented on #8536
@roshank92 there is not enough info here can you please follow our issue guidelines and fill in all the info. Once you update it, we will reopen the issue

<hr>

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page

[2018-10-11 16:12] #8536 closed

[2018-10-11 16:14] deepu105 commented on #8534
Can you do a PR with your proposal

[2018-10-11 17:41] Tcharl commented on #8482
It could be a good target for V6, as it would be very visible to the Angular users.
I'll try to implement it on a WIP branch when I'll finish the current contributions

[2018-10-11 22:32] pascalgrimaud commented on #8516
Closing this, as the PR https://github.com/jhipster/jhipster/pull/103 has been merged

[2018-10-11 22:32] #8516 closed

[2018-10-12 05:36] atomfrede commented on #8503
@deepu105 I just verified and it doesn't work. Using `jhipster jdl` doesn't commit anything. Therefore sonar doesn't work with gradle, with maven we even can't compile (`mvn clean compile -Pprod`).

[2018-10-12 06:18] deepu105 commented on #8503
Ok I need to check

On Fri, 12 Oct 2018, 7:37 am Frederik Hahne, <notifications@github.com>
wrote:

[2018-10-12 07:06] murdos opened #8544 "Generating an application with only client is missing common files and commit node_modules"
##### **Overview of the issue**

When generating an application with --skip-server, a few important files are missing: .gitignore, .gitattributes, .editorconfig and README.

##### **Motivation for or Use Case**

The issues are:
- the node_modules directory, with all npm dependencies, has been committed at the end of the generation, since the .gitignore was missing
- development environment is not

[2018-10-12 07:11] pascalgrimaud commented on #8544
Indeed, `--skip-server` is for very advanced users, that's why it's not well tested.

PR is welcome to fix it.

[2018-10-12 07:16] murdos commented on #8544
I'm ok for working on the PR, once we agree on a solution :)

[2018-10-12 07:38] pascalgrimaud commented on #8544
Yes, let's wait some feedback from @deepu105

[2018-10-12 09:07] antarus opened #8547 "Improve generate full stack app with jdl"
##### **Overview of the issue**
The new generation feature of the full stack is cool but there are some bug / non-user friendly points.

- [x] 1. I first generate my stack with the `jhipster import-jdl bug.jdl` command.
Next, i modify the jdl file, adding a `countryCode String` attribute to the Countries entity, or update an application.
I executes the command `jhipster import-jdl bug.jdl`.
Select

[2018-10-12 09:11] jdk1096 opened #8548 ""java.lang.NoClassDefFoundError: Could not initialize class sun.awt.X11FontManager" issue in mircoservice (running on jhipster v4.6.2)"
##### **Overview of the issue**
Created REST API to return image in response. In this image we are trying to write text using Font class (java.awt.Font) and we think because of this it is throwing above error. Need solution asap

##### **Motivation for or Use Case**
We are trying to get image (which has text written inside) from server to client. In this case, server is microservice and inside whi

[2018-10-12 09:17] jdubois commented on #8548
I'm sorry but we don't support generating images with AWT out-of-the-box: this is your own custom code, not a JHipster bug. This is why I'm closing this.

I'm guessing you don't have the necessary libs on your server, as it's probably headless, so you have the fonts missing. I've already seen that several times.

You should go to Stackoverflow for this kind of coding question.

[2018-10-12 09:17] jdubois commented on #8548
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-12 09:17] #8548 closed

[2018-10-12 09:47] jdk1096 commented on #8548
We are pretty sure the issue is with jhipster and not with our custom code. We will surely open new issue  **by following guidelines** and hopefully you guys will be able to solve that.

[2018-10-12 11:33] gmarziou commented on #8504
Related to #8544

[2018-10-12 13:33] spasco opened #8549 "v5.4.2 skip user management bug"
##### **Overview of the issue**

Upon installing jhipster 5.4.2 (skipping user management):

jhipster --skip-user-management

I get the following error:

ERROR Failed to compile with 1 errors 22:02:12

This relative module was not found:

./user-management in ./src/main/webapp/app/shared/reducers/index.ts ✖ ｢wdm｣: 971 modules
ERROR in ./src/main/webapp/app/shared/reducers/index.ts Module not found

[2018-10-12 13:53] pascalgrimaud commented on #8547
Thanks for your feedback @antarus

Another issue I saw is with `git commit` for the Gateway.
Fixing another issue for microservices (https://github.com/jhipster/generator-jhipster/pull/8545), we'll got the problem with microservices too.

[2018-10-12 15:07] jsm174 opened #8550 "Microservices with oauth2 auth and ManyToOne relationship to User with services fail to compile."
##### **Overview of the issue**

Microservices with oauth2 auth and ManyToOne relationship to User with services fail to compile.

Given the following JDL:

[code]

building microservicea with `./gradlew bootWar -Pprod jibDockerBuild`:

[code]

If `dto * with mapstruct` and `service * with serviceClass` are commented out in the jdl, the microservice will build correctly.

##### **Motivation for or

[2018-10-12 15:43] wmarques commented on #8531
@deepu105 For me it's quite a good tool even if it add some build time. So I would be in favor of using autoprefixer plugin.

[2018-10-12 16:04] DanielFran commented on #8403
@MathieuAA Just to confirm with you if you already do the PR for to update of JDL documentation?
This issue is still open waiting for your confirmation....

[2018-10-12 16:11] deepu105 commented on #8547
@antarus thanks for the detailed report. I'll look into it, in the meantime, if you have any improvement ideas please don't hesitate to PR

[2018-10-12 16:20] MathieuAA commented on #8403
I don't have much time nowadays to do anything, but it's merged. I'll do the doc during the weekendLe 12 oct. 2018 18:04, Daniel Franco <notifications@github.com> a écrit :@MathieuAA Just to confirm with you if you already do the PR for to update of JDL documentation?
This issue is still open waiting for your confirmation....

—You are receiving this because you were mentioned.Reply to this email

[2018-10-12 17:18] Wgil commented on #8476
Hello! I'm going to give this a try

[2018-10-12 17:39] gmarziou commented on #8549
I don't understand [this code](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/react/src/main/webapp/app/shared/reducers/index.ts.ejs#L29-L33) why importing a UserManagementState when skipUserManagement is true ?

[2018-10-13 08:35] pascalgrimaud opened #8552 "Gatling with OAuth2 and Keycloak"
##### **Overview of the issue**

Gatling tests don't work with OAuth2 and Keycloak

##### **Motivation for or Use Case**

Here the stacktrace:

[code]

##### **Reproduce the error**

I generated the project with JHipster Online:

[code]

In another Terminal:

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

5.4.2 and current master

##### **JHipster Version

[2018-10-13 08:38] pascalgrimaud commented on #8552
@jdubois : as discussed, it doesn't work. It's a part that we don't test with Travis or Azure.

[2018-10-13 08:44] rainerh opened #8553 "Keycloak files not copied for oauth2 microservices"
##### **Overview of the issue**

When creating a microservice with oauth2 option, the keycloak docker file and realms are not copied.

##### **Motivation for or Use Case**

When creating a microservice with oauth, I'd like to be able to run the entire service environment with docker-compose -f src/main/docker/app.yml

##### **Reproduce the error**

##### **Related issues**

n/a

##### **Suggest a

[2018-10-13 10:13] AmanKishan opened #8555 "Problem to load external CSS in thymeleaf while creating the template for Email service"
Hello !
I'm using JHipster and searching for an example of templating emails with thymleaf.
My problem is that the css and js (static files) aren't injected into my templates...
In your application, i don't see a class to send mails... Is there something I missed ?

In your template, you use this :

<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" m

[2018-10-13 13:08] MathieuAA commented on #8403
The PR has been submitted.

[2018-10-13 14:11] DanielFran commented on #8403
Closed with https://github.com/jhipster/jhipster.github.io/pull/641

[2018-10-13 14:11] #8403 closed

[2018-10-13 15:36] jdubois commented on #8552
@pascalgrimaud I've added a bug bounty on this

[2018-10-13 15:40] pascalgrimaud commented on #8552
Thanks @jdubois
Hope someone will find time to fix it.

[2018-10-13 16:49] gmarziou commented on #8549
Related to https://github.com/jhipster/jhipster-core/issues/268

[2018-10-13 16:58] mraible commented on #8552
It used to work. I remember writing it.

[2018-10-13 17:05] mraible commented on #8553
Are you running your microservices without your gateway? I believe a Gateway is always required (especially to log in). That's why we stopped generating Keycloak files for microservice apps. We were doing it at one point but decided it wasn't necessary.

[2018-10-13 17:29] rainerh commented on #8553
Matt, I always run the app with a gateway,  that is the reason, why I personally add my gateway container to app.yml for all microservices.
If it is not required for the team, that‘s fine, but then there is a remaining bug in app.yml, where keycloak.yml is still added. See comment in linked PR

[2018-10-13 17:30] PierreBesson commented on #8503
For me it's not a bug. Obviously if you initialized the git repo but did no commit it fails in weird ways but this will never happen in a real use case . So apart from this it seems to be working fine. Indeed there is the other issue of the git commit not working properly when generating an app from JDL.

[2018-10-13 17:40] mraible commented on #8552
I tried with Gatling 2.3.1 and it just hangs for me. Not sure why:

[code]

I ran this for 10 minutes and nothing happens.

[2018-10-13 17:49] pascalgrimaud commented on #8552
just press enter, then enter again

[2018-10-13 18:27] mraible commented on #8552
I was able to fix the authentication issue by add `.disableAutoReferer` to `httpConf`.

[code]

Running the app in `prod` mode would likely solve the issue too since there's no redirect-to-referer in prod.

Now I'm setting an issue with CSRF token.

[code]

[2018-10-13 19:34] deepu105 commented on #8302
submitted https://opencollective.com/generator-jhipster/expenses/5295 for this

[2018-10-14 02:39] EmmanuelMess commented on #7864
Was this truly fixed, because I am getting <30% pref in lighthouse reports.

[2018-10-14 09:12] murdos commented on #8544
@deepu105 : what do you think of my proposal to create a new subgenerator that would hold the commons files between server and client?

[2018-10-14 09:27] ecostanzi opened #8561 "skipClient ignored by entity generator"
##### **Overview of the issue**

The skipClient option is used correctly when importing an entity from the jdl, but it's ignored when regenerating it using `jhipster entity` command

##### **Motivation for or Use Case**

The import-jdl and the entity subgenerator should behave in the same way when generating entities.

##### **Reproduce the error**

Create a monolith with jhipster 5.4.2, import th

[2018-10-14 09:32] deepu105 commented on #7864
@EmmanuelMess the lighthouse reports are heavily dependent on your PC config and network so technically its very difficult to achieve great scores always for everyone. If you identify any improvement that can be done, don't hesitate to PR or tell us

[2018-10-14 11:08] atomfrede commented on #8552
It seems like the xsrf token is not updated after successfull login. At least when looking at the web console the xsrf cookie changes after login and I can see a set cookie response header. Looking further into it.

[2018-10-14 11:19] pascalgrimaud commented on #8552
@atomfrede : yes, we need to update the xsrf token from the 302 redirect
Thanks for helping to solve this issue. With Julien and Pierre, we need this :)

[2018-10-14 11:29] atomfrede commented on #8552
You say it the 302 redirect. We don't check for 302 when posting the keycloak formular (we check for 200) and the test doesn't fail :thinking:

[2018-10-14 11:31] deepu105 commented on #8544
@murdos I don't want another sub generator, what I would like though is to move common templates to a shared folder and reuse them

[2018-10-14 11:34] deepu105 commented on #8544
Another solution that I would also prefer is to move all common templates to the app generator itself and support `-skip-client` and `--skip-server` only from app generator, and fail direct usage of `client/server` sub generator. @murdos would you like to do that?

[2018-10-14 11:34] pascalgrimaud commented on #8552
Reading the doc : https://gatling.io/docs/2.3/http/http_protocol/

I tried to play with `disableResponseChunksDiscarding` but didn't have enough time to test everything.

I tried to understand how Keycloak works too, it's new for me. I think the 200 is correct, but there are some 302 which are not catched. So the xsrf is not updated

[2018-10-14 11:43] atomfrede commented on #8552
Currently playing around with disabling auto redirects. Makes the tests more complicated but I currently see no other options as we can't make any checks on the auto followed redirects as it seems

[2018-10-14 12:09] atomfrede commented on #8552
Looks like I found a solution. Going to prepare a PR.
![screenshot-20181014140908-769x344](https://user-images.githubusercontent.com/203401/46916408-bf96d500-cfba-11e8-982c-2166f4bf15a8.png)

[2018-10-14 12:32] atomfrede commented on #8552
We should maybe somewhere document we currently only support gatling 2 and put the link there too as the gatling homepage already pushes gatling 3 (rc4) and I was not able to find a 2.x download there :)

[2018-10-14 14:57] mraible commented on #7864
I [created an application last week](https://developer.okta.com/blog/2018/10/10/react-native-spring-boot-mobile-app) with JHipster 5.4.2 and React. To test things out, I modified `src/main/webapp/index.html` to enable the service worker, then re-deployed to Cloud Foundry. Attached is my score after I logged in and ran Lighthouse.

<img width="854" alt="screen shot 2018-10-14 at 8 52 22 am" src="ht

[2018-10-14 15:05] pascalgrimaud opened #8564 "Replace blank page by loading/instruction"
##### **Overview of the feature request**

When starting the backend with an IDE (like IntelliJ), there is a beautiful blank page. But there is no information for the user.
That's why we had a ton of tickets since we added the Angular support.

The goal is to display a message which explains what happened, similar to what we had with AngularJS 1, only if the front is not compiled.

##### **Related

[2018-10-14 15:14] pascalgrimaud opened #8565 "Improve message when the backend is not started"
##### **Overview of the feature request**

When the backend is not started, and you started only the front with `npm start`, try to log into the application.
You will see:

![backend-not-started](https://user-images.githubusercontent.com/9156882/46918590-0513cc00-cfd4-11e8-98bb-4af53b3d42d5.png)

The goal would be to replace this message, instead of this default.
This message should not change if

[2018-10-14 18:19] jdubois commented on #8564
Bounty added!

[2018-10-14 19:56] deepu105 commented on #8564
Its already merged and the solution is actually good. So I suggest we close this and you claim the bounty. @jdubois WDYT?

[2018-10-14 19:58] deepu105 commented on #8547
adding a bounty on this since this is a tricky one

[2018-10-14 23:41] mraible opened #8568 "Argument of type '0' is not assignable to parameter of type 'string'"
##### **Overview of the issue**

I've been running nightly builds for generator-jhipster-ionic for quite some time now. Builds started failing in the last week, but I just ignored them. Today, I finally dug in and discovered it's an issue with the JHipster app I'm generating for the backend API.

An entity definition that used to work, no longer does.

[code]

The `Product.json` entity is as follo

[2018-10-15 03:54] mraible opened #8570 "/api/users is admin-only, which causes issues for update screens with relationships to User"
##### **Overview of the issue**

The `/api/users` endpoint is admin-only. This means if you create an entity with a many-to-one relationship with `User`, the update screen will fail to load users if you're logged in as a non-admin.

[code]

##### **Motivation for or Use Case**

This is [an issue](https://github.com/mraible/21-points/issues/44) in the v5 version of my 21-Points Health application.

[2018-10-15 04:09] #8552 closed

[2018-10-15 04:36] jdubois commented on #8564
Yes OK, I'll see it today anyway :-)

[2018-10-15 05:49] pascalgrimaud commented on #8552
@atomfrede : oh yes, we need to update the documentation for that. Do you have time to do this ?
The link to download 2.x: https://github.com/PierreBesson/microservice-monitoring-tools-in-action-demo/blob/master/download-gatling.sh

[2018-10-15 05:53] pascalgrimaud commented on #8570
I confirm it. See the commit https://github.com/jhipster/generator-jhipster/commit/625869d48b7ba820633f32bf4715c364fe033bf8#diff-28249db051587f3329b064e738025f25

I'm closing it, as it is resolved in 5.4.2 version.

[2018-10-15 05:53] #8570 closed

[2018-10-15 07:00] atomfrede commented on #8552
@pascalgrimaud Yes will do this evening.

[2018-10-15 07:03] pascalgrimaud opened #8572 "jhipster info broken for nosql"
##### **Overview of the issue**

It seems jhipster info is broken for nosql database, since the v5.4.2

##### **Reproduce the error**

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {

[2018-10-15 07:33] #8423 closed

[2018-10-15 08:02] antarus commented on #8547
Another anomaly, on ubuntu, when the generation is over, the console seems 'broken'.
Nothing is written, forced to restart the terminal ...
test on different machine ubuntu 18.04 ..

[2018-10-15 08:55] #8550 closed

[2018-10-15 09:01] anthony-o opened #8573 "Java 11 LTS support?"
##### **Overview of the feature request**
As JDK 8 will go [end of support on December 2020](https://www.oracle.com/technetwork/java/javase/eol-135779.html#java-commercial-offerings), the current LTS for JDK is now 11.

I saw that JHipster is planned to support every LTS but is currently not supporting 11 whereas it has been released on September 2018 (it's not that long ago though ;) ).

##### **

[2018-10-15 09:06] antarus commented on #8573
it seems to me that jhipster will support jdk 11 when spring boot 2.1 will be released

[2018-10-15 09:08] jdubois commented on #8573
Yes but we first need to wait for Spring Boot to support Java 11... That will be with Spring Boot 2.1, and then we'll start the work (no worries - I'm closing this but it's on our roadmap, of course).

FYI I'm using Java 10 on https://start.jhipster.tech so there shouldn't be much issue.

BTW we need help for this, so if you're ready to contribute, don't hesitate to join us.

[2018-10-15 09:08] #8573 closed

[2018-10-15 09:18] jdubois commented on #8564
Seen it and it's cool!!! @sabrinapayet don't forget to claim the bounty

[2018-10-15 09:18] #8564 closed

[2018-10-15 09:38] antarus commented on #7036
With keycloak and traefik, there is no such error.
the only mistake I've seen, is that i have to add the gateway name in the login.service.ts file
location.href = '//' + location.hostname + port + '/GATEWAY_NAME/login';
but if I do this and I access the application through the port, the redirection to the login is via traefik

[2018-10-15 09:40] btrajkovski opened #8575 "Store passwords in char array instead of java String"
##### **Overview of the feature request**

Change password field in User from `String` into `char[]`

##### **Motivation for or Use Case**

I was asked an interesting question during interview if it's okay to store passwords in `String`, which led me to this question: https://stackoverflow.com/questions/8881291/why-is-char-preferred-over-string-for-passwords . This makes sense and I've noticed tha

[2018-10-15 10:50] rampantlion103 opened #8576 ""npm update -g generator-jhipster" is not upgrading from 5.4.1 to 5.4.2"
Here is the actual results from my mac terminal, basing on the how to upgrade jhipster in the 5.4.2 release notes and instructions:

When I ran the jhipster, the warning says that I still have the older version.

I tried the npm install also

[2018-10-15 12:52] jsm174 opened #8577 "React gateways fail to compile after PR #8525"
##### **Overview of the issue**

I went to test PR #8560, and started getting compile errors for react gateways:

I believe it is the result of PR #8525.

For jwt gateways:

[code]

For oauth2 gateways:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

jwt jdl:

[code]

oauth2 jdl:

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[2018-10-15 13:34] jsm174 commented on #8577
Sorry about that. Forgot I wasn't in the gateway directory. Updated jhipster info in the initial comment.

[2018-10-15 14:01] lmbai commented on #8577
@jsm174 confirmed it is a issue. will fix in another PR

[2018-10-15 14:03] mraible commented on #8568
@deepu105 I can confirm that #8569 fixes the problem.

[2018-10-15 14:50] antarus opened #8578 "Traefik issues, redirect login error"
##### **Overview of the issue**
Hello,

[ ] 1. when we generate a gateway with keycloack and traefik we access the url of the gateway by `http://localhost/GATEWAY_NAME/`
but when we click on authenticate, we are redirected to
`http://localhost/login`
that does not exist.
[ ] 2. By default, traefik dashboard and gateway ports are in conflict (8080)
it does not pose a problem when we use containers

[2018-10-15 14:55] jdubois commented on #8576
I'm guessing you are running JHipster inside an existing JHipster project - in that case it will use the local version, which is the one that was used to generate your project.

To upgrade it, you can do `npm install generator-jhipster` (no `-g` as it's not global) or use the `jhipster upgrade` sub-generator (but please read the documentation before, it's more complex).

This is done so you can ha

[2018-10-15 14:55] #8576 closed

[2018-10-15 15:07] lmbai commented on #8577
@jsm174 , i can't reproduce the issue for JWT. when it is JWT. defnitely the `Storage` will be imported. and the `login` will be there.

Acturally there is issue for the monolithic app using session.  . but not with the JWT. can you try again? or you can post the yo-rc.json here

[2018-10-15 15:10] jsm174 commented on #8577
Let me check again for JWT. I was using head of jhipster-core testing out some other fixes.

[2018-10-15 15:22] jsm174 commented on #8577
Yeh, I am definitely getting the error:

[code]

Full disclosure, I'm using master's for generator and core:

[code]

Here is the yo-rc.json:

[code]

[2018-10-15 15:33] lmbai commented on #8577
@jsm174 hey, i think you should use `"authenticationType": "jwt"` . haha

[2018-10-15 15:41] jsm174 commented on #8577
Wow, I feel like an idiot. :)  That worked!

In my defense, I would have expected `jhipster import-jdl` to catch that. :)

I just tried the following:

[code]

And that didn't get flagged either.

[2018-10-15 15:44] lmbai commented on #8577
@jsm174 you a welcome. thanks for point out the issue with oAuth2

[2018-10-15 15:59] jdubois commented on #4208
This is in fact not finished, if you do microservices this causes another issue:

- I start microservice A in dev mode -> it uses port 9092
- I then start microservice B that uses Kafka -> port conflict!!!

This is so badly done, I don't understand why Kafka uses a port that is the same as something so common as H2!!

[2018-10-15 16:20] jdubois opened #8580 "Clean up and document ports"
We have some port conflict issues, most notably for H2 and Kafka (see #4208 ).

- I'm going to change the default H2 ports (as it's not possible to change the Kafka ports, and as I don't think anyone connects to H2 anyway)
- I will document those ports in a new page on our website

In the future, I'd love to change our default Spring Boot port from 8080 (which can cause conflicts as it's widely us

[2018-10-15 18:35] jdubois commented on #8580
So now the H2 port will be "1" + the Spring Boot port. So by default it's "18080" for a monolith, and "18081" for a microservice. That removes all issues, and nobody should use that port directly anyway.

[2018-10-15 19:06] jdubois commented on #8503
Fixed as #8571 is merged

[2018-10-15 19:06] #8503 closed

[2018-10-15 19:19] saturnism opened #8582 "application shouldn't write log to file"
##### **Overview of the issue**

The generated `application.yml` has `logging.file` property specified, which causes the log appender to write log to file.

This is not desired for container-based deployment nor appengine.

##### **Motivation for or Use Case**

The log shouldn't be written to file in many cases.

##### **Reproduce the error**

Generate a new monolith application and validate the g

[2018-10-15 19:20] jdubois commented on #8582
+1 I don't know where this comes from, but we shouldn't write stuff to disk, this should go to the console according to the 12 factors

[2018-10-15 19:59] jdubois commented on #8431
OK I agree with @deepu105 here. I'd love to have something like this, but this more a work for Spring Boot, and we really can't implement this at the moment. We have nearly 50 opened tickets and we need to prioritize, and take what we are able to do. Here it's just too complex for our limited resources.

[2018-10-15 19:59] #8431 closed

[2018-10-15 20:02] #8580 closed

[2018-10-15 20:30] jdubois commented on #8577
Closing as #8579 is merged, thanks @lmbai !

[2018-10-15 20:30] #8577 closed

[2018-10-15 20:45] Tcharl commented on #8518
I had exactly the same issue in PCF: sorry to not have filled the issue before.
MRaible, I fixed it by also reinserting the missing line

[2018-10-15 20:52] jdubois commented on #8582
Oh I understand this is needed to show the logs in the JHipster Registry, maybe even in the JHipster Console - is that correct @PierreBesson @pascalgrimaud ?
I thought this was stored in some kind of in-memory buffer, if that's not the case this feature causes a big trouble, as indeed the log files shouldn't be written to disk.

[2018-10-15 21:16] PierreBesson commented on #8582
Indeed this was done for the registry (not the console) but I didn't know this was active on prod. Anyway I think we should remove the property because it's not really useful. I noticed the /log endpoint seems to  be  quite useless as it's only sending a small part of the log file and I have not really found a way to send the full log file (correct me if I'm wrong). Moreover we can't know where th

[2018-10-15 21:22] PierreBesson commented on #8582
See the base Spring boot logback config : https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/base.xml
You see that a file appender is already configured for /tmp. So much for the "12 factors"...

[2018-10-15 22:11] mail2shahidashraf opened #8584 "ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'securityConfiguration'"
2018-10-16 03:36:33.904  WARN 5480 --- [  restartedMain] ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt:
 org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'securityConfiguration' defined in file [D:\data\jhipster\jhipster-workspace\etzy\ta
rget\classes\com\etzy\common\config\

[2018-10-15 22:15] gmarziou commented on #8584
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-15 22:15] #8584 closed

[2018-10-16 02:48] jsm174 opened #8585 "Can not add entities with ManyToOne relationship to User (with services/DTOs) using Gateway UI"
##### **Overview of the issue**

When testing #8560 that fixed #8550, we can not add entities with a ManyToOne relationship to User (with services/DTOs) using the Gateway UI:

[code]

Here is the JDL:

[code]

![screen shot 2018-10-15 at 10 09 02 am](https://user-images.githubusercontent.com/1197137/46956110-75692e80-d062-11e8-88b4-b2b5688856e0.png)

##### **Motivation for or Use Case**

##### **R

[2018-10-16 05:27] kaidohallik commented on #8582
Question is what Spring boot logback config files to use. If requirement is not to write logs to disk then instead of base.xml for example this configuration can be used:
[code]

[2018-10-16 05:34] pascalgrimaud commented on #8582
Closing this, as the PR is merged

[2018-10-16 05:34] #8582 closed

[2018-10-16 05:58] murdos commented on #8544
My concern is that the app generator can't be overridden in blueprint, those moving common templates there might not be optimal.
I'm not sure how the shared folder would work with blueprint in mind, but that's seems to my mind a bit more convoluted than a simple new subgenerator that could grow over time (I'm thinking e.g. to shared prettier config, once prettier-java is usable, shared husky confi

[2018-10-16 06:27] deepu105 commented on #8504
closing as duplicate of #8544 it will be tracked there

[2018-10-16 06:27] #8504 closed

[2018-10-16 06:30] deepu105 commented on #8381
@jdubois @pascalgrimaud  what can we do here, should we just update the files in Travis and copy over?

[2018-10-16 06:31] deepu105 commented on #8367
@Abdull does current master branch have same issues?

[2018-10-16 06:53] deepu105 commented on #8544
@murdos ya you are right, ok let's do a sub gen named `common` and make sure the sub gen cannot be used directly

[2018-10-16 06:54] deepu105 commented on #8582
@pascalgrimaud @PierreBesson @jdubois this means the log train feature in registry/console will not work anymore. Can we remove those features then?

[2018-10-16 07:02] jdubois commented on #8582
Or we can add a documentation on those pages to explain how to set this up.
I'm not a big fan but this could be handy for some people, and the work is already done.

[2018-10-16 07:04] deepu105 commented on #8582
Yes agree sometimes they are handy. Another option is to have this only
setup in dev profile, so if anyone wants it in prod they can copy it over
as well. WDYT?

Thanks & Regards,
Deepu

On Tue, Oct 16, 2018 at 9:02 AM Julien Dubois <notifications@github.com>
wrote:

[2018-10-16 07:08] pascalgrimaud commented on #8381
All samples in `test-integration` (`travis/` folder will be deleted soon) need to be update, same for all entities. Another suggestion is to generate a big jdl sample and use it in our CI

I already plan to do it the next month

[2018-10-16 07:15] pascalgrimaud commented on #8582
@deepu105 : by removing the `logging.properties`, there is only 1 screen which is impacted. It's in the registry logfile component. But the instructions is already there:
https://github.com/jhipster/jhipster-registry/blob/master/src/main/webapp/app/admin/logfile/logfile.component.ts#L38-L49

[2018-10-16 08:08] tibistibi opened #8586 "styling errors on Tomcat after upgrade to 5.4.2 when packaging for prod"
updated it after bellow investigation:

##### **Overview of the issue**

After doing an upgrade from 5.3.1 to 5.4.2 all seemed to work fine when working from my developer machine, but after doing a package and deploy to tomcat the fonts are wrong and i noticed that the main.[hash].css is empty and in a different location.
there were also strange chars comming from javascript files like nbsp; had a

[2018-10-16 08:32] tibistibi commented on #8586
ps this is the website: https://staging.standbystand.eu/sbys/#

not sure why my browser is complaining it can not open the css file and if it is the problem of the font not working.

[2018-10-16 08:43] tibistibi commented on #8586
and one more issue i noticed is that with the compression wired signes are added. like this:
&times;
is tranformed into this:
Ã—

(on chrome)

[2018-10-16 08:57] jdubois commented on #8582
Thanks @pascalgrimaud - so it's already all OK! I'm just going to modify the text to say it's not configured by default

[2018-10-16 09:10] tibistibi commented on #8586
so adding !important to the font-family helped, i guess the **order** is some where changed not sure if this is an issue but it makes it different on local machine to live/staging.

firefox seems to have an issue opening an empty css file complaining it can not be found. i do not think its a blocking issue but why is the main.*.css empty?

[2018-10-16 10:29] tibistibi commented on #8586
The Ã—  instead of spaces or x could be becasue of this:
https://stackoverflow.com/questions/1461907/html-encoding-issues-%C3%82-character-showing-up-instead-of-nbsp

[2018-10-16 11:28] wmarques commented on #8586
@tibistibi it's maybe related with https://github.com/jhipster/generator-jhipster/pull/8402/files
Can you try to change the chunk order ?

[2018-10-16 11:35] tibistibi commented on #8586
thanks!

could that also solve the Ã— ??

[2018-10-16 11:52] tibistibi commented on #8586
i did not help :cry:

so adding !important is still needed to overwrite the font and more worrying is the strange signes in chrome:
![screenshot from 2018-10-16 13-49-13](https://user-images.githubusercontent.com/1875634/47014444-9016d280-d14a-11e8-9c35-d9bd294202c9.png)

instead of
![screenshot from 2018-10-16 13-51-37](https://user-images.githubusercontent.com/1875634/47014483-a02eb200-d14a-11e8

[2018-10-16 12:11] tibistibi commented on #8586
firefox on ubuntu is working but on mac is also showing the strange a's

[2018-10-16 12:13] deepu105 commented on #8422
@srinivasa-vasu @saturnism @pascalgrimaud @PierreBesson I'm still getting crash loops from our default ELK setup on GKE, is it working fine for you guys always? am I doing something wrong?

I'm doing the below steps, with the e-commerce store app jdl here https://github.com/jhipster/jdl-samples/blob/master/microservice-ecommerce-store.jdl
[code]

here is my k8s config
[code]

![image](https://user

[2018-10-16 12:29] tibistibi commented on #8586
could it be possible that in the response header the content type is not set?
chrome gives this for the page:

Content-type: text/html;charset=ISO-8859-1

[2018-10-16 12:46] srinivasa-vasu commented on #8422
Deepu,

Can you share your elk manifest?

Thanks,
-Srini

On Tue, Oct 16, 2018 at 5:44 PM Deepu K Sasidharan <notifications@github.com>
wrote:

[2018-10-16 12:46] tibistibi commented on #8586
if i look at the source code of the main.*.js file in the browser i see the same chars there:

![screenshot from 2018-10-16 14-44-39](https://user-images.githubusercontent.com/1875634/47017318-35817480-d152-11e8-8937-e7d0efc90393.png)

[2018-10-16 12:55] tibistibi commented on #8586
to investigate more i changed the file to html file and than it is loaded fine. so some how js files seem not to be loaded with utf-8 charset

[2018-10-16 13:06] tibistibi commented on #8586
i added this and seems to improve it on my env but not with colleague:

<script type="text/javascript" charset="UTF-8" src="app/main.22f54a2828dfd15ea9ee.bundle.js"></script>

[2018-10-16 13:09] #8518 closed

[2018-10-16 13:19] tibistibi commented on #8586
ok had to add the charset="UTF-8" for all js files and no strange chars are gone.

i added it by hand now. is there a way to do this automatically?

[2018-10-16 13:41] deepu105 commented on #8586
@tibistibi I'm not sure we need to check the webpack plugin doing the injection. Can you confirm that the issue is only with Firefox on Ubuntu? I'm on Fedora and I have never seen anything like it.

[2018-10-16 13:42] tibistibi commented on #8586
it is in firefox and chrome on ubuntu and on mac

[2018-10-16 13:42] deepu105 commented on #8578
@antarus could this be related to https://github.com/jhipster/generator-jhipster/issues/7036

[2018-10-16 14:07] deepu105 commented on #8586
@tibistibi thats weird, then how come none of the core dev team members are seeing this, most of them are on mac. There is something fishy here. Someone needs to reproduce this.

[2018-10-16 14:09] deepu105 commented on #8586
@tibistibi I see that there is no info on your ticket for us to actually reproduce this, can you please follow our issue guidelines and post all the info

[2018-10-16 14:10] deepu105 commented on #8586
@tibistibi also seems you are deploying to tomcat, thats not our default setup so please clearly provide steps to reproduce

[2018-10-16 14:13] tibistibi commented on #8586
i added  them on staging home page interesting to see if your browser is show correct or wrong:
@deepu105 thanks for getting into this!

https://staging.standbystand.eu/sbys/#/freelancerHome
at the end of the page. i see this:
![screenshot from 2018-10-16 16-12-16](https://user-images.githubusercontent.com/1875634/47022706-5d76d500-d15e-11e8-8fe7-bef4f0c2c788.png)

[2018-10-16 14:15] tibistibi commented on #8586
So to reproduce this i add signs like this: &nbsp; &euro; &times;  (ie like this: &amp;nbsp; &amp;euro; &amp;times;)

i build like this:
./mvnw -Pprod clean package

and deploy to tomact.

i did not have these problems a week ago when i was on 5.3.1 so i do not expect that tomcat part of it.

[2018-10-16 14:28] deepu105 commented on #8586
I don't see any issues in my browsers(chrome/FF)
You are still not following the guidelines, please update the required details otherwise there is nothing we can do to help. You should also start looking at your browser/OS encoding/locale settings

[2018-10-16 14:30] deepu105 commented on #8586
Oh wait ok I see the weird chars on the freelancerHome page, but we still dont have any details to reproduce this so please update them and give clear instructions please

[2018-10-16 14:32] murdos commented on #8544
Ok, I'm glad that we agreed :-) I'll do that.

[2018-10-16 14:38] jsm174 commented on #8550
Going to create a new issue, as I found the same compile issues when using uaa authentication.

[2018-10-16 14:45] jdubois commented on #8575
Oh yes you are totally right, this could be a real security issue!!

Then the problem is that this is not the only part when the password (or the JWT secret key!) gets read, and we would need to check all of those. I'm not sure this is doable everywhere, for example when you log in, Spring Security uses the Servlet API underneath, and I'm pretty sure this maps the password to a String...

So that

[2018-10-16 14:46] jsm174 opened #8590 "Microservices with uaa auth and ManyToOne relationship to User with services fail to compile."
##### **Overview of the issue**

Similiar to #8550, microservices with uaa authentication and ManyToOne relationship to User with services fail to compile.

Given the following JDL:

[code]

Results in:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

##### **JHipster configuratio

[2018-10-16 14:49] tibistibi commented on #8586
i'm not sure what information you need more than this:

So to reproduce this i add signs like this: '&nbsp;' '&euro;' '&times;'  (ie like this: &amp;nbsp; &amp;euro; &amp;times;)

i build like this:
./mvnw -Pprod clean package

and deploy to tomcat.

i did not have these problems a week ago when i was on 5.3.1 so i do not expect that tomcat part of it.

[2018-10-16 14:52] deepu105 commented on #8586
@tibistibi your .yo-rc.json for a start, entity config if applicable, basically everything that we ask in the issue template, may be you tried to follow it but ran the jhipster info command on the wrong folder?

[2018-10-16 14:56] tibistibi commented on #8586
ah ok, i removed my model because i do not expect it to be a part of the problem.

i will add my .you-rc.json file

[2018-10-16 15:07] deepu105 commented on #8586
also please try to create a fresh app with the same yo-rc, and run it locally and see if the same issue is present

[2018-10-16 15:08] tibistibi commented on #8586
yes working on that

[2018-10-16 15:16] saturnism commented on #8582
+1 to @kaidohallik for updating the logback config to not to write to the file either.

i simply disabled the `logging.file` location that's causing trouble, but would like to make sure it's not writing file to `/tmp`

[2018-10-16 15:33] srinivasa-vasu commented on #8422
@deepu105 <https://github.com/deepu105>

It's working for me, I did notice that out of 5 times, it didn't come up
properly once. Noticed, init-container didn't apply the vm_max_count
changes. May be because init-container termination would have happened
before the changes had been pushed down.

In the manifest file, just add the "sync" command in the end to ensure
settings get persisted properly,

[2018-10-16 16:03] tibistibi commented on #8586
with a fresh install with the same yo-rc i do not have the problem, so i guess it is something with the upgrade going from 5.3.1 to 5.4.2 or before that...

is there an area i should look into?

[2018-10-16 16:40] tibistibi commented on #8586
i might have made a mistake the .yo-rc.json file i used is like above with verions 5.4.2
but the generated package.json has     "generator-jhipster": "5.3.1",

i created a new dir added the .yo-rc.json file and ran jhipster no questions asked...

[2018-10-16 16:58] tibistibi commented on #8586
i upgraded the app with jhipster now it is on 5.5.0.

i will upgrade my own application too maybe that will help and at least i can compare the apps than.

[2018-10-16 17:09] hunterino commented on #654
Look like this may not be an active discussion, but I would recommend datepicker interface, that uses as close as possible, the HTML5 approach, so that people can implement that interface, and have whatever date picker they need.

[2018-10-16 20:01] atomfrede commented on #8498
thx @alexis-puska for the bug report, I am able to reproduce it.
@deepu105 Not sure whats going on, but putting the `<jhi-alert></jhi-alert>` into `main.component.html` (so basically in the main layout) works fine. But of course now the alert is above the table, not sure if that is ok.

It makes sense when it comes e.g. to alert after create (we change the screen from detail to list and have destr

[2018-10-16 20:06] tibistibi commented on #8586
both are upgraded the new one works and my app has the strange chars.

what i do not understand is that the package.json is different for both applications. i would expect that upgrade would be the same on both

[2018-10-16 20:52] atomfrede commented on #8498
Just did some small debugging, I don't know why but the alerts are always empty in the user management component. Alerts from the user management component also appear in the books screen when removing the timeout. So somehow it looks the alert service are somehow different.

[2018-10-16 20:55] tibistibi commented on #8586
i copied the one from the working app over to my app but still same problem.

[2018-10-16 21:13] fw060 commented on #8578
We are trying to evaluate consul/traefik setup for microservice and seeing the same issue. After updating login.service.ts, I can login properly via keycloak and the redirects work fine.

My guess is that traefik can not properly handle redirect. Either we need to configure traefik differently or there is a bug in traefik. I just don't know traefik enough. Maybe someone with good knowledge on trae

[2018-10-16 23:02] fw060 commented on #8578
@DanielFran I was using traefik 1.7.2 and I just tested against 1.7.3. I still see the same problem.

I was hoping the problem can be fix by going to traefix 1.7.x since there was a fix: https://github.com/containous/traefik/pull/3631. I am new to traefik, maybe this can be fixed by just updating traefik config?

[2018-10-17 00:43] ruddell commented on #8590
I'm pretty sure relationships to the User in a microservice app is only currently supported for the OAuth2 auth type (correct me if I'm wrong)

[2018-10-17 01:02] jsm174 commented on #8590
The code seems to indicate that but the documention at https://www.jhipster.tech/managing-relationships/ doesn’t mention any limitations on authentication type.

[2018-10-17 02:19] ruddell commented on #5096
@thinkocapo If you have an issue, please open a new one and fill out the template.  This was closed over a year ago so it's probably not related.

------

Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow,

[2018-10-17 04:29] pascalgrimaud commented on #8586
Sorry, but we're not in a discussion room here. Plz try to be consistent each time you post a message, instead of X messages with 0 information we could use to reproduce.

It seems the problem comes from your upgrade, so it's your code.
Unless you can prove us there is a real bug, in that case, give ALL step to reproduce, or better, push a generated project on GitHub.

[2018-10-17 04:38] MathieuAA commented on #8547
About your second point, have you thought of not importing the whole JDL file?

[2018-10-17 06:30] deepu105 commented on #8590
Yes John is right. You can have relationship to user only on gateways
actually, not in microservices at all as they won't have any user domain
objects. I need to check the entity sub gen to confirm

On Wed, 17 Oct 2018, 3:03 am Jason Millard, <notifications@github.com>
wrote:

[2018-10-17 07:16] antarus commented on #8578
it's not a problem with traefik.
I'm sure this is the  `login()` method in `login.service.ts` that does not work the same way as other services

[2018-10-17 07:19] atomfrede commented on #8498
I don't know the ngx code very well, but do we need to register something such that the response headers are evaluated and the alert service creates an alert? Will have a look later.

[2018-10-17 07:44] antarus commented on #8578
i found a solution for point 1 and 3 i do a PR  later ;)

[2018-10-17 07:46] antarus commented on #8578
@deepu105 do I have to change the default port of the traefik dashboard in this PR or do I do another one?

[2018-10-17 08:11] jdubois commented on #8578
@antarus if you modify the default ports, please have a look (and update if necessary) this new page: https://www.jhipster.tech/common-ports/

[2018-10-17 08:12] MathieuAA commented on #8547
I must not have understood the case then, my apologies

[2018-10-17 08:44] jdubois commented on #8420
I'm closing this as I don't think this will be done (we have higher priorities and @edvjacek didn't comment). Also, that's a lot of code to test and maintain, not sure this would be good for the project in the long run.

[2018-10-17 08:45] #8420 closed

[2018-10-17 08:46] jdubois commented on #8381
OK as per @pascalgrimaud comment I'm closing this. Indeed, this should all be replaced by JDL files, but that takes time to do.

[2018-10-17 08:46] #8381 closed

[2018-10-17 08:48] jdubois commented on #8379
It also seems I have sometimes have the issue with Protractor + Angular.
I'm closing this as we don't have a solution here, that's probably a Protractor issue as far as I understand (and what they do isn't easy, so it's not a criticism!)

[2018-10-17 09:49] deepu105 commented on #8379
@jdubois This is the same issue that fails our Travis build all the time, i'll like to find a workaround or solution for this, I think we need to fix this else its very annoying in Travis, can we reopen add a bounty on this

[2018-10-17 09:54] DanielFran commented on #8379
@jdubois @deepu105 Actually we see always the same e2e test for react that is failing!

[2018-10-17 10:00] deepu105 opened #8592 "Use Helm templates for Infrastructure instead of our templates"
Currently, we create and maintain Kubernetes manifest templates for Databases, ELK, Keykloak and so on. The problem with that is we don't have the bandwidth to keep up with upstream changes and end up with outdated config often, happened with MongoDB config recently and our ELK is flaky as well.

I had a discussion with @srinivasa-vasu yesterday and he proposed to use [Helm](https://helm.sh/) char

[2018-10-17 10:01] deepu105 commented on #8379
I believe there is a solution, it's probably something that we are doing
wrong

Thanks & Regards,
Deepu

On Wed, Oct 17, 2018 at 11:54 AM Daniel Franco <notifications@github.com>
wrote:

[2018-10-17 10:04] deepu105 commented on #8586
@tibistibi to me it doesn't seem like a jHipster issue since you are unable to reproduce on a fresh app as well so I suggest you look into your customizations closely. I you still need help I suggest to take it to stack overflow as this is not a JH bug

[2018-10-17 10:08] deepu105 commented on #8592
@jhipster/developers please :+1: or :-1: on the issue description

[2018-10-17 10:36] deepu105 commented on #8592
I think @srinivasa-vasu's idea was to generate the infra manifests using Helm CLI when JHipster Kubernetes sub gen is run, so user will get the final output(plain yaml files) so for end users it will be same as today

@srinivasa-vasu correct me if i'm wrong

[2018-10-17 10:38] #8531 closed

[2018-10-17 11:03] vlishout opened #8593 "Calling JHipster API from inside a docker"
Dear,

we have a fully functional JHipster server. We have a client that sends authentification requests to the JHipster server (through /api/authenticate) and the client receives a valid token back! However, when the client is put inside a docker, we receive an **internal server error**.

Here is the trace that we get when the client authenticates successfully from **outside** the docker :

[code

[2018-10-17 11:43] tibistibi commented on #8586
@pascalgrimaud yes sorry about me puzzeling but it is because i do not know where to look for this and hope there is some information here in the community. I do not want to take more time than needed but working with jhipster makes me dependant on knowledge from this community. and i'm also trying to give time back in return.

@deepu105 maybe i'm unclear but when i talk about upgrades i'm referri

[2018-10-17 13:46] mraible commented on #8586
I would suggest using a tool like SmartSynchronize to compare your upgraded project with a new one. It’ll show you which files are different.

[2018-10-17 14:01] filiipake opened #8597 "Liquibase DiffChangeLog"
##### **Overview of the issue**
Creating new project and changing from h2 to mysql database. After some changes in entities, I tried to run command `./gradlew liquibaseDiffChangelog -PrunList=diffLog` to generate new changelog, but the task generate wrong changelog.

##### **Suggest a Fix**

[code]
I removed classpath from `diffLog`.  and in `dependencies` added:

[code]

Now is working!

##### **

[2018-10-17 14:35] tibistibi commented on #8586
@deepu105 thanks for coming back to this. this:
''upgrade just regenerates the app with a new version and does a merge back''
is already valuable information.

i will look into it coming day's, just hoped someone would say 'he maybe this change could have something to do with it'

[2018-10-17 18:48] deepu105 commented on #8379
Ok we really have to fix this as its failing every PR and is annoying. Sorry @jdubois, I know you don't like long standing tickets but this one needs to be fixed. Lets put a bounty

[2018-10-17 19:06] gmarziou commented on #8597
How? What do you mean?

[2018-10-17 20:01] #8572 closed

[2018-10-17 20:06] tylerjohnhaden opened #8599 "CLI entity command adds to existing liquibase changelog files"
##### **Overview of the feature request**

*Not sure if this would be considered a bug or feature request, but it's not technically broken.*
When I run the command line `jhipster entity ExistingEntity` on a previously generated entity, the updates to liquibase are added to the existing liquibase changelogs. The feature request would be to use new changelog files with `addColumn`, `dropColumn`, etc

[2018-10-17 20:29] gmarziou commented on #8599
There was several related issues, in particular #5954 with some unfinished work #6016 to implement incremental changelogs, just in case you'd like to contribute.

[2018-10-17 20:36] pascalgrimaud commented on #8379
Sorry I forgot to communicate.
When working on Azure, I got a lot lot lot of random failures with Protractor. The solution I found is to use chrome headless, with the properties : JHI_E2E_HEADLESS: true

We could try it in Travis too.
What do you think ?

[2018-10-18 02:38] srinivasa-vasu commented on #8592
@deepu105 @PierreBesson

Obviously, will generate proper helm chart with its recommended package structure
**Two approaches:**

1. We point database and other services like elk, prometheus to helm stable/incubator package depending on wherever it is available. Hopefully, we can pass our variable customisation to those packages as well. Those will be specified as dependent sub-charts in requirement

[2018-10-18 04:10] mraible opened #8602 "UserRepository cannot be converted to BlogSearchRepository"
##### **Overview of the issue**

A JDL that works with 5.4.2 no longer works with 5.5.0. Here's the JDL:

[code]

With 5.5.0, when I run `./mvnw package -Pprod jib:dockerBuild` in the `blog` app's directory, I get a compile error:

[code]

##### **Motivation for or Use Case**

Demo fear.

##### **Reproduce the error**

Use the JDL above with `jhipster import-jdl apps.jdl` with 5.5.0. It will fail

[2018-10-18 05:39] initfusion commented on #7750
I have created new project and trying to deploy but got this stacktrace on App Engine.
jhipster version 5.5.0

[code]

[2018-10-18 09:57] tibistibi opened #8604 "mariadb error: Specified key was too long; max key length is 767 bytes on jhi_user email"
##### **Overview of the issue**
When deploying a new fresh project to maria db i get this error:

     Reason: liquibase.exception.DatabaseException: Specified key was too long; max key length is 767 bytes [Failed SQL: CREATE TABLE tmp123.jhi_user (id BIGINT AUTO_INCREMENT NOT NULL, login VARCHAR(50) NOT NULL, password_hash VARCHAR(60) NULL, first_name VARCHAR(50) NULL, last_name VARCHAR(50) NULL,

[2018-10-18 11:49] filiipake commented on #8597
Yeah, I changed manually, but only changing
[code]

[2018-10-18 11:54] filiipake commented on #8597
Yeah, I changed manually, but just changing `diffLog` to point to mysql doesnt work.

[code]

and adding this on gradle
[code]

I had to add all this on gradle too to get working:
[code]

The task liquibaseDiffChangelog was ignoring my entities and generating empty changelogs, and if database was filled, it generates a changelog to remove all tables of database. I thaught that was wrong config, bu

[2018-10-18 13:01] #8597 closed

[2018-10-18 15:17] mraible commented on #8602
Here's the generated constructor for `BlogResource`:

[code]

While the generated `BlogResourceIntTest` has the search repository as the 2nd argument:

[code]

[2018-10-18 15:37] tibistibi commented on #8586
in search of the needle i have made the haystack smaller.
a fresh new 5.5.0 jhipster project.

when i build like this:
./mvnw -Pprod clean package
i get the strange char error

./mvnw clean package
i do not have the strange chars

[2018-10-18 17:14] agoncal commented on #8509
@deepu105 just upgraded to JHipster 5.5.0. `resourceUrl` is now public but `convertDateFromClient` or `convertDateFromServer` are still private. Any reason why ?

[2018-10-18 20:06] pascalgrimaud commented on #8572
Bounty claimed https://opencollective.com/generator-jhipster/expenses/5360

[2018-10-18 21:07] deepu105 commented on #8509
@agoncal no specific reason, you didn't ask for them that's the real reason :wink:
Originally I thought they might not be needed out side those services but ya no harm in making them public, its JS in the end anyway

[2018-10-18 21:08] deepu105 commented on #8509
if there is any other such methods that you want to be public, can you let me know, i'll make the change

[2018-10-18 21:09] deepu105 commented on #8586
Great, now you have something that we can try to reproduce. Is this using the same yo-rc you pasted above?

[2018-10-18 21:13] deepu105 commented on #8602
Seems like a missing condition somewhere. I think we need to test things
better before merging PRs and also may be cover more cases in CI

Thanks & Regards,
Deepu

On Thu, Oct 18, 2018 at 5:18 PM Matt Raible <notifications@github.com>
wrote:

[2018-10-18 21:39] tibistibi commented on #8586
yes it took my a while. yes same yo-rc. it have it down to this line

    "webpack:prod:main":  "npm run webpack -- --config webpack/webpack.prod.js --profile",
    "webpack:prod": "npm run cleanup && npm run webpack:build:main && npm run clean-www",

if i change it to use webpack:build:main there is nothing wrong. there were some changes to webpack.prod.js these since 5.3.1

[2018-10-19 02:29] NelsonRothermel opened #8606 "Import JDL for client"
##### **Overview of the issue**

When trying to import-jdl I get the error:
Error: The JDL object and the database type are both mandatory.
ERROR! Error while parsing applications and entities from the JDL Error: The JDL object and the database type are both mandatory.

##### **Motivation for or Use Case**

Trying to import JDL for client-side app.

##### **Reproduce the error**

1. Run: `npm inst

[2018-10-19 03:53] Falydoor commented on #8602
My bad guys, I knew that my refactor will cause some issues and I did not test correctly.

[2018-10-19 04:49] MathieuAA commented on #8606
Hi, it's kinda logical as the .yo-rc.json doesn't have the necessary entries to make the JDL import work.I admit I haven't had a look at a yo-rc file where the client/server was skipped, but my guess is that you shouldn't have this light a config file

[2018-10-19 04:59] ruddell commented on #8606
Your client won't compile since you don't have an authentication type.  As a workaround, you can generate using `jhipster --skip-server` instead and things will work.

The issue is that [validateSkipServer](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/index.js#L235-L250) is never called with `jhipster client` because `skipServer` is false.  Not sure of the fix

[2018-10-19 05:43] MathieuAA commented on #8606
Pascal, maybe we can simplify this special use case with the JDL. I'll think of something. Maybe a "client" (or server) keyword (just like the "application" keyword), a sort of shortcut if you want when generating such an app would result in a more complete yo-rc file.

[2018-10-19 05:55] agoncal commented on #8509
@deepu105 [I did ask for them](https://github.com/jhipster/generator-jhipster/issues/8509#issue-368169094) ;o)

For now that's the only two methods that we need to extend. Can't see any other.

Thanks

[2018-10-19 05:56] pascalgrimaud commented on #8606
@MathieuAA : yes, indeed, it should solve the issue

[2018-10-19 06:18] deepu105 commented on #8606
I don't think its a bug, even with generator you need to provide db and
auth options even when skipping server side code, this is needed since
there are some db/auth related code for the client as well. So keep it in
mind when checking this

On Fri, 19 Oct 2018, 7:56 am Pascal Grimaud, <notifications@github.com>
wrote:

[2018-10-19 06:48] rubensa opened #8608 "JDL application options"
##### **Overview of the issue**

At [JDL application options](https://www.jhipster.tech/jdl/#application_options) documentation page:

JDL option name | Default value | Possible values | Comment
----------------------|------------------|---------------------|---------------
serviceDiscoveryType | false | eureka, consul, no |

The *Default value* seems to be wrong as the only accepted values are *e

[2018-10-19 06:57] MathieuAA commented on #8606
I completely agree with you Deepu, but we can use the JDL to make the whole thing more accessible if we want to

[2018-10-19 06:58] MathieuAA commented on #8608
These inconsistencies are in the generator as well, the JDL reflects those. We should do something about it, definitely.

[2018-10-19 06:59] MathieuAA commented on #8608
cc @jhipster/developers

[2018-10-19 07:14] colameo commented on #8608
@rubensa about vscode I will create an issue for you in the [jhipster-ide](https://github.com/jhipster/jhipster-ide/issues) where the extension is maintained.

[2018-10-19 07:51] antarus commented on #8578
@fw060 can you try my PR ?

[2018-10-19 08:32] jdubois commented on #8572
Thanks @pascalgrimaud ! Bounty approved!

[2018-10-19 08:40] jdubois commented on #8593
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-19 08:43] rubensa opened #8609 "[Oracle] Table name not used for constraint names nor join tables"
##### **Overview of the issue**

When you specify a table name for an entity, that table name should be used to generate restrictions (foreign keys, for example) and join tables (if they are needed).

##### **Motivation for or Use Case**

I'm using Oracle as production database.  I know there are length restrictions in the table, restrictions... that Oracle can handle.  I know that I can specify t

[2018-10-19 08:50] jdubois commented on #8609
We used to handle that, but I remember we removed it when Oracle accepted to have bigger names... Which Oracle version are you using?

[2018-10-19 09:39] rubensa commented on #8609
I'm using **Oracle 12c** but, as far a I know, I can't tell jhipster-generator to not apply restrictions in generated names length if the database is Oracle (I can't tell the version, isn't it?).

So **jhipster**, if you specify **Oracle** as production database, **always truncate the names** (and don't use the specified table names -I think that database is irrelevant for this-, It **uses the tab

[2018-10-19 09:55] aman048 opened #8610 "how to use import jdl and blueprint together"
like:
jhipster --blueprint my-generators import-jdl test.jdl

[2018-10-19 10:41] rubensa opened #8611 "skipClient option not working for specified entities"
##### **Overview of the issue**

I'm trying to skip client code generation for some entities.
For app generation if using following JDL:
[code]

Using sintax specified in [Doc](https://www.jhipster.tech/jdl/):
[code]
but **jhipster** complains with:
[code]

Looks that syntax is wrong (obsolete) in some parts of the documentation (this needs to be fixed).

If I remove word **for** as seems to be th

[2018-10-19 10:50] rubensa commented on #8611
Same result using new [annotation syntax](https://www.jhipster.tech/jdl/#annotations) in JDL:
[code]
**EntityTwo.json** contains;
[code]

but client code is generated.

[2018-10-19 11:48] #8549 closed

[2018-10-19 11:49] tibistibi commented on #8586
is there an option to try out different jhipster versions?

[2018-10-19 12:08] rubensa commented on #8609
As a general rule It should generate something like this:
[code]
been **constraintName** = **"fk_" + baseTableName + "_" + referencedTableName**.

And I would **add support to specify the constraint name** (to allow avoid collision if two relations from one Entity to Other, for example from **Car** to **Driver** if you have **pilot** and **copilot** attributes).

[2018-10-19 13:07] jdubois commented on #7060
@pmverma no news since one month, will you work on this? Otherwise this has been opened for very long, we also added a bug bounty to it.... so at some point it's time to give up, we just don't have the bandwidth to do everything

[2018-10-19 13:10] jdubois commented on #8604
We're having this error quite often, @tibistibi can you have a look at the other tickets at https://github.com/jhipster/generator-jhipster/search?q=767+bytes&type=Issues ?

[2018-10-19 13:11] jdubois commented on #8498
This is quite an important bug, I'm adding a $100 [bug bounty](https://www.jhipster.tech/bug-bounties/) to it

[2018-10-19 13:30] jsm174 opened #8612 "React Gateway with Gitlab ci-cd frontend-test job failure - jest snapshots"
##### **Overview of the issue**

Not sure if this is an issue, but I didn't see anything in documentation that explained jest, snapshots, and ci-cd.

We are using the ci-cd generator to build a `.gitlab-ci.yml` configuration. Out of the box, with a fresh 5.5.0 gateway, the build will fail with the following:

[code]

I've seen some issues suggesting snapshots should be checked into the repository.

[2018-10-19 13:31] deepu105 commented on #8610
Its just about passing the blueprint value to sub generators. I'm not sure if it's already done, else I'll do it soon

[2018-10-19 13:48] fw060 commented on #8578
@antarus I just tried your PR by modifying my generated project directly. The change works great with traefik (http://localhost/gateway/) AND without traefik when I expose the gateway directly (http://localhost:8081).

Thanks a lot for the quick fix. Please let me know if my test is enough or you want me to rebuild jhipster generater from your branch.

[2018-10-19 13:52] atomfrede commented on #8612
Not sure, but if you do `--updateSnapshot` in your ci environment the test will never fail (but not 100% sure how the snapshot test work), because if there is a failure the snapshots are updated and the test will be green, which is properly not what you want.

[2018-10-19 14:10] jsm174 commented on #8612
@atomfrede Thanks. I totally agree.

It would be great to have some clarity on best practices somewhere in the code/docs.

[2018-10-19 14:15] deepu105 commented on #8586
Downgrade using npm

On Fri, 19 Oct 2018, 1:49 pm Tibor Strausz, <notifications@github.com>
wrote:

[2018-10-19 14:27] deepu105 commented on #8612
The idea is that you need to run those tests atleast once locally and
commit the generated snapshots. If you want to run ci on a app as soon as
generated then it's tricky as having updateSnapshot enabled beats the
purpose. I guess the best solution is documentation. Unfortunately I don't
have much time now so if someone can write the docs I'll be greateful. I
can do the review

On Fri, 19 Oct 2018

[2018-10-19 20:13] atomfrede commented on #8498
Just to let you know. When putting the alert in the main view (e.g. underneath the footer) all alert do appear there correctly, even from user management component, so the interceptor works just fine. The problem lies somehow in the user management component. It looks like another alert service is injected there (don't know if that is possible with angular's di), because the alerts are always empt

[2018-10-19 20:15] atomfrede commented on #8498
EDIT: Found something about lazy loading and angular creating an instance per module. As we are now lazy loading the admin module it could be something about that...

[2018-10-19 21:58] atomfrede commented on #8498
Okay, so I have a half working solution. Indeed it is about lazy loading modules. Mostly we do already a `forRoot` but not for our shared module (and it seems not to work for nested modules). As a result e.g. the `JhiAlertService` is used in the interceptors (which are global). When the admin module is loaded it creates a copy of the alert service. Therefore we don't see any alert in the user mana

[2018-10-20 00:40] ruddell commented on #8586
@tibistibi What I do is create a directory for the app, install a specific version of jhipster with `npm install generator-jhipster@5.0.0`, then generate a project.  It prints the version it uses when generating so you know if it worked.  That way I don't mess with my global installation

[2018-10-20 00:51] ruddell commented on #8604
@tibistibi I can't reproduce using the `mariadb.yml` docker-compose file.  Are you using that or did you set up your database yourself?

[2018-10-20 08:38] pascalgrimaud commented on #8379
Although my PR against master branch, I think it is not totally resolved.
See https://travis-ci.org/hipster-labs/jhipster-travis-build/branches

All react builds seems randomly broken since 4 days

[2018-10-20 09:45] #8602 closed

[2018-10-20 11:58] colameo commented on #8608
@MathieuAA what shall we do with this? The jdl importer can already handle both values. So I may allow both inputs as valid option values in the JH IDE as well? I want to finish the 1.5 release as I fixed a couple of annoying issues...

[2018-10-20 14:00] saturnism commented on #7750
@initfusion ah you are right, we didn't add gradle plugin! will add it to the todo.

could i trouble you to share the generated `appengine-web.xml`? Thanks!

[2018-10-20 14:06] MathieuAA commented on #8608
Allowing both is the only choice right now. I'll work on removing inconsistencies in the generator later...

[2018-10-20 15:00] alexsintoni opened #8617 "Activation link is not authorized after registration with UAA"
##### **Overview of the issue**

Create a micro-service system with the following micro-service:

- [JHipster UAA](https://www.jhipster.tech/using-uaa/) for authentication and user management
- JHipster Application for business logic
- [JHipster Gateway](https://www.jhipster.tech/api-gateway/) for UI
- [JHipster Registry](https://www.jhipster.tech/jhipster-registry/) from monitoring and cofigurati

[2018-10-20 17:35] deepu105 commented on #8608
I think supporting both internally and cleaning up docs to support only `false` would be the best solution.

[2018-10-20 17:35] ruddell commented on #8617
@alexsintoni Thanks for reporting.  In the future, please include your `.yo-rc.json` files instead of the prompt answers - they show the same info but we can generate the same project from the json file.

The issue is [a 401 redirects to home](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.intercept

[2018-10-20 17:37] deepu105 commented on #8599
closing this as the issue has been discussed many times and no point starting all over again, unless someone is willing to continue the work that was started

[2018-10-20 17:37] #8599 closed

[2018-10-20 17:38] deepu105 commented on #8592
We really need this. I was doing a demo at Heapcon/Changecon and I have a new issue, ELK starts up fine but the Kibana dashboard doesnt find any indexes, I haven't digged into it yet

[2018-10-20 17:41] deepu105 commented on #8367
@Abdull can you please update the issue with what is outstanding?

[2018-10-20 17:58] PierreBesson commented on #8592
@deepu105, this is not part of ELK, this is probably because the import-dashboard container was started before elasticsearch/kibana. You can restart the import-dashboard job manually to fix it. Anyway when I have the time, I will create an helm chart for Console reusing an external Elasticsearch helm chart (the hard to operate part of the stack).

[2018-10-20 18:23] ruddell opened #8619 "Console Error from "jhipster-error" code"
##### **Overview of the issue**
After loading the app and waiting 4 seconds, an error is logged to the console.  It's caused by [the new code in index.html](https://github.com/jhipster/generator-jhipster/blob/eddc134ba7aec85c5214d40892e3d5a4d5c0cec7/generators/client/templates/angular/src/main/webapp/index.html.ejs#L93-L101).  Affects both `dev` and `prod`

    Uncaught TypeError: Cannot read prop

[2018-10-20 18:30] deepu105 commented on #8610
Actually, this also needs to be supported by jhipster-core in order to be complete

[2018-10-20 18:38] deepu105 commented on #8547
@antarus need some clarifications about your points

2. Doesn't `--ignore-application` already do that? it creates only entities and ignores any app part
3. I don't understand you specify `--json-only` so it only creates the entity json files and skips any generation? what is the issue can you be more specific?
4. I don't understand this at all, can you explain clearly?

About your first issue, ye

[2018-10-20 18:44] atomfrede commented on #8619
Fixed. Saw it yesterday but thought it had something to with my experiments regarding https://github.com/jhipster/generator-jhipster/issues/8498

[2018-10-20 18:51] deepu105 commented on #8509
@agoncal done

[2018-10-20 20:53] murdos commented on #8608
`true`/`false` are fine for every option titled `enableXXX`, but for the following options that are expecting multiple values, wouldn't the value `none` be more accurate as a canonical value? `false` sounds a bit strange (but I'm not a native English speaker...)

Options | Possible values
------------ | -------------
searchEngine | elasticsearch, **false**
serviceDiscoveryType | eureka, consul, **

[2018-10-20 21:02] #8619 closed

[2018-10-20 21:03] #8617 closed

[2018-10-21 01:40] NelsonRothermel commented on #8606
Seems odd that the client would know anything about the DB.  Auth makes more sense.

[2018-10-21 01:46] NelsonRothermel commented on #8606
As a newcomer it's not clear there is a difference between both options.  For example, https://www.jhipster.tech/creating-an-app/ says:

[2018-10-21 01:48] NelsonRothermel commented on #8606
Thanks everyone for all the suggestions and hard work.  Knowing now this is expected behavior I'll change my approach.

[2018-10-21 08:18] pascalgrimaud commented on #8379
I spent a lot of time to understand where the problem is, and I think I found a fix.
FYI, to reproduce the problem, I used this script:
[code]

PR done: https://github.com/jhipster/generator-jhipster/pull/8621

[2018-10-21 09:39] #8379 closed

[2018-10-21 09:40] deepu105 commented on #8462
@Tcharl are you working on this?

[2018-10-21 09:42] deepu105 commented on #8462
Oh ok, Just read your description. Of course we can put a bounty, not a big deal, but not sure if that will help, lets try anyway. @jdubois i'm adding a bounty on this

[2018-10-21 10:01] deepu105 commented on #8608
An option would be to add a util method on jhipster-core like below and use that to compute the value for JDL and generator prompts, then update docs to just use `none`
[code]

[2018-10-21 10:18] rabiori opened #8622 "liquibase can't access the classes so it deletes the entire db"
##### **Overview of the issue**

After making any JPA changes, running `./gradlew -Pprod liquibaseDiffChangelog -PrunList=diffLog    ` either creates an empty changeset, or deletes the entire db if there were any previous modifications.

##### **Motivation for or Use Case**

Because it it should create a new change to apply, and not delete all the previous changes.

##### **Reproduce the error**

[2018-10-21 12:19] rabiori opened #8624 "add a comment for generated classes"
##### **Overview of the feature request**

For all generated code, have a comment saying that this is generated by JHipster

##### **Motivation for or Use Case**

This will help JHipster projects have code live side by side, and act as a warning when modifying generated code.

##### **Related issues or PR**

I haven't found any.

-   [X] Checking this box is mandatory (this is just to show you rea

[2018-10-21 12:23] unikzforce opened #8625 "Release 5.5.0 'io.github.jhipster:jhipster-dependencies' version should be 2.0.27"
##### **Overview of the issue**

upgraded the project and some errors appeared. apparently jhipster-dependencies library version has not been upgraded to latest ... so some errors Showed up for example In `DatabaseConfiguration`.

I also double checked this in generating a whole new project. the `jhipster-dependencies` version is still `2.0.22` over there. I upgraded to `2.0.27` and all errors has

[2018-10-21 12:32] unikzforce commented on #8625
My other question is what happend to constructor injections fields. they are no longer final? i couldn't find any issue to read about it.

[2018-10-21 13:10] atomfrede commented on #8622
Will look into it. Thx for the report.

On Sun, Oct 21, 2018, 12:18 rabiori <notifications@github.com> wrote:

[2018-10-21 13:39] colameo commented on #8608
About option: `testFrameworks []` would something like `testFrameworks [none]` not be more consistent with the other options?

[2018-10-21 13:42] colameo commented on #8608
...from a language design perspective this looks like another way to specify a "do not use" option

[2018-10-21 13:48] colameo commented on #8608
I would rather prefer one (clear) way to define an option value rather than different values... the implementation is not a problem (at least in the IDE). Of course it would make the logic for content assist and validation a bit more complex, but that's not main point here.

[2018-10-21 17:03] ruddell commented on #8625
@unikzforce The v5.5.0 release of the generator [uses `2.0.26`](https://github.com/jhipster/generator-jhipster/blob/v5.5.0/generators/server/templates/gradle.properties.ejs#L28), and the current master [uses `2.0.27`](https://github.com/jhipster/generator-jhipster/blob/c9d870931f087b7eb017e01dea0f30081c2b01d5/generators/server/templates/gradle.properties.ejs#L28).  I'm not sure how you generated o

[2018-10-21 17:15] ruddell commented on #8606
I updated the title to a better description of the bug.

[2018-10-21 17:32] #8476 closed

[2018-10-21 18:41] bonsmik opened #8626 "Yarn install is skipped in gitlab (with 5.5.0)"
##### **Overview of the issue**

Yarn install is skipped in gitlab ci and dependencies are not installed.
[code]

##### **Motivation for or Use Case**

Updated the application for 5.5.0 and now gitlab builds are failing without adding manual yarn command to gitlab configuration.

##### **Reproduce the error**

1. Create monolith application with yarn  and gradle
2. Generate gitlab configuration wi

[2018-10-21 19:15] pascalgrimaud commented on #8626
I confirm the issue.
Just tried this: https://gitlab.com/pascalgrimaud/jhipster181021
Here the full logs: https://gitlab.com/pascalgrimaud/jhipster181021/-/jobs/110785344

I don't know what happened.
The last time I tested this, it works fine: https://gitlab.com/pascalgrimaud/jhgrad180714

[2018-10-21 19:48] fil512 opened #8627 "Invalid session locks users out with HTTP 500. Server log says UT000010: Session is invalid"
##### **Overview of the issue**

Browser sends request to server with invalid Session.  Server returns HTTP ERROR 500 and logs the following stack trace on the server:

2018-10-21 18:26:33.901 ERROR 1 --- [  XNIO-2 task-7] io.undertow.request                      : UT005023: Exception handling request to /
wgrserver-app_1         |
wgrserver-app_1         | java.lang.IllegalStateException: UT00001

[2018-10-21 20:28] pascalgrimaud commented on #8626
Doing the same with an old project:

[code]

The `node_modules` folder is generated! So, something has changed !

[2018-10-21 20:35] pascalgrimaud commented on #8626
Here the culprit: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/gradle/profile_dev.gradle.ejs#L89

I made the analyze but I don't know what to do here with this line.
Can you take the ticket @atomfrede plz ?

[2018-10-21 21:02] deepu105 commented on #8624
This was more of a decision by us, so that we dont put it too much in the face of the developers and some people might not like it. Good to know there are people who actually like that. @jdubois @jhipster/developers WDYT? we could also add a flag which will disable adding the comment so that people who don't like can turn it off or a flag to turn it on

[2018-10-21 21:07] pascalgrimaud commented on #8624
If it's not hard to do, I'd vote for a flag to turn it on.
Otherwise by default, I'd prefer not having these comments.

[2018-10-21 21:11] deepu105 commented on #8608
@colameo I would also prefer that but we can't do that without a breaking version so this is an interim solution for backward compatibility

[2018-10-21 21:12] deepu105 commented on #8608
for content assist and docs we should stick to preferably `none`

[2018-10-21 21:23] deepu105 opened #8629 "Disable direct use of client and server sub generators"
The client and server sub gens were supposed to be useful for advanced users but they actually bring us more issues as people don't read docs or the help commands for those. So I propose to disable their direct usage and redirect users to do `jhipster --skip-[server|client]` instead.

TODO:

- [x] remove the commands from `cli/commands.js`
- [x] add a deprecation handler in cli.js to do the redire

[2018-10-21 21:43] deepu105 commented on #8624
Its not hard, we could have a transform stream that just adds this to all files being created.

[2018-10-22 06:06] jdubois commented on #8624
Many people would not like this, as they want this code to be "theirs". Many companies sell the generated code to clients :-)))

To be more serious, I'd love to find a better solution, maybe based on Git.

[2018-10-22 09:58] pmverma commented on #7060
@jdubois I am going to have some free time in this weekend and I will do the PR.

[2018-10-22 10:09] atomfrede commented on #8626
yes. I think we are missing some documentation. Will have a look later today.

[2018-10-22 13:41] unikzforce commented on #8625
`jhipster --version` shows me:
[code]
my last jhipster was 5.3.4 i guess.
`npm update -g generator-jhipster` didn't work for me and exited immediately without any error or output.
so i used `yarn global upgrade generator-jhipster` and it updated the global `generator-jhipster`. and after that i checked the global version. it was `5.5.0`.
then i went to my project directory and executed `jhipster u

[2018-10-22 13:54] unikzforce commented on #8625
`jhipster --version` shows me `5.5.0`
at first i tried `npm update -g generator-jhipster` but it returned immediately without error or any output. so i tried with `yarn global upgrade generator-jhipster` . it did the job.

then i upgraded my project using `jhipster upgrade`.
at first i thought that maybe my upgrade process has been broken, so for making sure , i've just created a whole new applica

[2018-10-22 14:36] jdubois commented on #7060
Awesome, thanks a lot!

[2018-10-22 14:42] mxxcx opened #8633 "Add a "translation-not-found" class name"
##### **Overview of the feature request**

On slower connections there is a visible flickering of translation-not-found placeholder text, as you can see it here https://gyazo.com/f3e0a76fb66d325e4456d7e66ce8a293 and https://gyazo.com/08867885279c270fa30619d515ef2a3c (React, jhipster 5.50, the latter being prod build)

Adding a class name would allow to hide it, or show the inner text of the Transl

[2018-10-22 16:32] jdubois commented on #8627
I don't get it, you're using JWT and have expressively a stateless mechanism (so no session), which is our default settings - how come you use a session? Did you modify some of the generated code? How does this happen? Like all the time at login, or after 10 minutes??

[2018-10-22 17:14] standors commented on #8622
I had the same issue. This is only with Gradle plugin. From this reason I moved to Maven and it works.

[2018-10-22 17:47] ruddell commented on #8625
The `final` keyword fix has not been released yet.

I still have no idea how you get old templates with the new version.  I'm guessing it's related to installing with both `npm` and `yarn`.  Try uninstalling with both and only installing with `npm install -g generator-jhipster`

[2018-10-22 18:11] pascalgrimaud commented on #8633
I already saw this, when working on Protractor tests with React, so I confirm this issue

[2018-10-22 20:01] MSaguer opened #8636 "Maven filtering not performed on test yml config files"
##### **Overview of the issue**

When running the tests on monolith application with maven, the test configuration files are not filtered by the maven-resources-plugin plugin and still contain unresolved variables.

##### **Motivation for or Use Case**

Test yml configuration file such as src/test/resources/config/application.yml contains variables that shall be resolved by maven filtering.

#####

[2018-10-22 20:16] tibistibi commented on #8604
@jdubois some seems to be the same problem. for fields which are indexed set the max to 191 and problem will be gone. in this case its the email address. not sure why it needs to be 254 chars, yes an email has no real limit but 254....

[2018-10-22 20:17] tibistibi commented on #8604
@ruddell i used liquibase it generates the above query and that will fail if you have INNODB utf8mb4

[2018-10-22 20:28] tibistibi commented on #8604
ah ./mvnw

[2018-10-22 20:29] tibistibi commented on #8604
thats when i work locale otherwise it is tomcat running the war files which start-up the liquibase process. in both cases the same query get executed.

[2018-10-22 20:31] Evertude opened #8639 "h2TCPServer config fails on server port >=10.000"
##### **Overview of the issue**
Generated code (of the gateway backend) in DatabaseConfiguration.java was changed in Version 5.5.0 to:

    public Object h2TCPServer() throws SQLException {
        String port = "1" + env.getProperty("server.port");
        log.debug("H2 database is available on port {}", port);
        return H2ConfigurationHelper.createServer(port);
    }

Because there are only

[2018-10-22 21:42] ruddell commented on #8604
I'm asking about the database process, not the jhipster app.

[2018-10-23 03:59] #8626 closed

[2018-10-23 04:10] #8622 closed

[2018-10-23 04:11] pascalgrimaud commented on #8622
closing this, as the PR https://github.com/jhipster/generator-jhipster/pull/8637 has been merged

[2018-10-23 06:31] HugoSecteur4 opened #8641 "Compilation Errors after the generation of entities in a jhipster project with the last version"
Hi !

##### **Overview of the issue**

I try to import entities in a new jhipster project, my jh file is : mescourses.jh and it contains :

[code]

With the command ***jhipster import-jdl mescourses.jh*** it sucessfully generate the entities :

[code]

After I run ***yarn install*** and ***./mvnw*** and I have some compilation error :

[code]

##### **Reproduce the error**

Just take my file ***me

[2018-10-23 06:31] deepu105 commented on #8633
Yes, we need to fix it. Adding the class needs to be done in the
react-jhipster lib, anybody willing to PR? But it won't work for
placeholders. Another option is to pass empty string as message in prod
profile and keep the current message only in dev

On Mon, 22 Oct 2018, 8:11 pm Pascal Grimaud, <notifications@github.com>
wrote:

[2018-10-23 06:57] deepu105 commented on #8639
Is there any specific reason that you use that port?

On Mon, 22 Oct 2018, 10:33 pm Evertude, <notifications@github.com> wrote:

[2018-10-23 07:10] deepu105 commented on #8641
You cant have relationship to users where user is the owner. Please read https://www.jhipster.tech/managing-relationships/

[2018-10-23 07:31] jdubois commented on #8639
It's my fault, I changed that default port as I don't think anybody uses it, and it clashed with the Kafka default port (real culprit is Kafka in fact).
I had no idea there was such a limit on Windows, anybody can confirm?

[2018-10-23 07:55] alexander-redmann-teaching opened #8642 "Use npm ci instead of npm install in frontend-maven-plugin"
##### **Overview of the issue**

When an project is created by Jhipster by default the frontend-maven-plugin use install for building the project instead of npm ci.
[code]

The problem is that everytime npm install is executed the package-lock.json is newly created if the node_modules directory is missing

##### **Motivation for or Use Case**
If I want to make an release with Jenkins (for example

[2018-10-23 08:10] pascalgrimaud commented on #8639
@jdubois : it's not related to Windows. For example, if you choose server.port=18080, the port for h2 would be 118080, which is not possible, because of port range

[2018-10-23 08:10] HugoSecteur4 commented on #8641
Yes but in my example the User is not the Owner right ?  Owners are Course and Document

[2018-10-23 08:51] Blackdread commented on #8641
Do that

[code]

[2018-10-23 09:34] initfusion commented on #7750
@saturnism this is my `appengine-web.xml` generated by maven project.
[code]

[2018-10-23 11:48] initfusion opened #8643 "Multiple OneToMany relationship with same entity"
Hi,

My requirement is to generate tables like below code

[code]

My .jh file looks like this

[code]

but the generator is not able to generate proper code. there are lots of errors in code.

Thank you.

[2018-10-23 12:36] KrifaYounes opened #8644 "Spring's classloader error"
I've got this issue when I run my spring boot 2.0.4 app with : 		<hibernate.version>5.2.17.Final</hibernate.version>

[code]

[2018-10-23 15:43] PierreBesson commented on #8642
Yes `npm ci` should be used everywhere, the package-lock should be changed only when the user is actually installing/updating packages. Can you do the PR ?

[2018-10-23 15:47] PierreBesson commented on #8625
Looks like a config setup issue so I'm closing.
@unikzforce you can run `which jhipster` to know the path of the jhipster script that is actually running when using the jhipster command. Also to get the latest version what works all the time is using `npx jhipster` 😃 .

[2018-10-23 15:47] #8625 closed

[2018-10-23 15:53] PierreBesson commented on #8636
I'm wondering if those properties are really needed for the test run. Would it be possible to just remove them from `src/test/resources/application.yml` ?
Why do you need those properties in the test context ?

[2018-10-23 16:12] MSaguer commented on #8636
You are right. This variable is not really needed in test env.
I noticed the filtering problem when I was extracting port values from yml file to maven settings. The final aim is to be able to share the same virtual machine for many developers (corporate constraint).
That's why filtering the test configuration file is mandatory for me.

[2018-10-23 16:35] ruddell commented on #8642
Like Pierre said, the `package-lock.json` only changes during `npm install` when your `package.json` has different versions in it than the lock file.  This doesn't happen if no versions change.  You should commit your updated `package-lock.json` file to git.

The only issue with this change is that `npm ci` requires an existing `package-lock.json` which will fail for apps generated by JHipster Onl

[2018-10-23 16:36] ruddell commented on #8644
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-23 16:36] #8644 closed

[2018-10-23 16:44] jdubois commented on #8642
Indeed, we don't generate this file yet (it's hard), so we can't use 'npm ci' at the moment.

[2018-10-23 16:45] jdubois commented on #8636
Yes but there's a performance hit for everyone else

[2018-10-23 16:46] ruddell commented on #8643
Because you have two relationships to the same entity, you need to provide names on both sides (otherwise you get duplicate identifiers).

[code]

In the future please follow our guidelines and post questions to StackOverflow or Gitter.

-----

This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and ta

[2018-10-23 16:46] #8643 closed

[2018-10-23 19:38] gmarziou commented on #8624
The default should be to not generate such comment as of today, side-by-side approach is just one use case amongst others. You're supposing that developers read comments :) then you could you do the reverse add a comment to the classes you developed saying that this is custom code ;)

[2018-10-23 21:35] deepu105 commented on #8149
Done

[2018-10-23 21:35] #8149 closed

[2018-10-23 23:48] fil512 commented on #8627
I see my mistake.  Thanks.

[2018-10-24 00:55] fil512 commented on #8627
Perhaps I closed this prematurely.  The mistake I made is I call request.getSession().setAttribute(..) in one of my REST handlers.  I guess this is inadvertently creating a session that mostly works, until it doesn't.

JHipster should probably be more robust and recover from this better than it does now--e.g. by ignoring the session issue if sessions are disabled.

I plan to stop using sessions an

[2018-10-24 07:12] BhawaniSingh commented on #8642
We can use ```npm shrinkwrap```, after  ```npm install```. Next time whenever we do the ```npm install```, npm will install the exact dependency tree as described by ```package-shrinkwrap.json```

Doc link: https://docs.npmjs.com/cli/shrinkwrap https://docs.npmjs.com/files/shrinkwrap.json

[2018-10-24 07:30] deepu105 commented on #8642
@jdubois sorry missed the jhipster-online part. We need to find a solution for that

[2018-10-24 07:51] alexander-redmann-teaching commented on #8642
what if you setup an extra maven profile before the prod profile (the online one with the install argument) and the activation is the missing package-lock.json.
Something like that:
[code]
And change the install argument in the prod profile to ci. That would generate the package-lock.json on the first run but later only runs ci.
That has the little disadvatange that on the first run npm is build t

[2018-10-24 07:58] jdubois commented on #8627
By default JHipster is stateless:

- we don't consider putting stuff in the session is a good idea. There's also a performance hit of having a stateful app, so we can't put that by default (as most people will code their app correctly, they shouldn't suffer from this)
- there is the option to have a stateful app, it's a question during generation,  so just select the option if you want it
- otherw

[2018-10-24 07:58] #8627 closed

[2018-10-24 08:02] jdubois commented on #8642
I'd rather spend time generating the package-lock.json as this will solve everything -> we need a specific ticket for this, not sure when I have time to work on this

[2018-10-24 08:18] PierreBesson commented on #8642
@alexander-redman, it seems to me that you are just mimicking the default `npm install` behavior but with maven instead !
I know you really want to benefit from the speed benefit of `npm ci` but our first concern is to work out of the box for all setups.

Maybe for now, we could leave the `npm ci` option commented out to signal to users that they can use it. Like this:
[code]

[2018-10-24 08:35] alexander-redmann-teaching commented on #8642
@PierreBesson Nope the speed is not the problem. The problem is the modification of the package-lock.json when checking out a jhipster project from git (like a jenkins will do) and running **mvn  -P prod clean package**
The proposed profile only fixes the problem with jhipster-online and will also work out of the box ;)
The problem with the comment is that nobody will notice it, because it somewhe

[2018-10-24 08:40] PierreBesson commented on #8642
You are right... It's really stupid that they recreate the `package-lock.json`, the package-lock feature is really not at all working like user expect it to. It's 100% bullshit marketing from NPM : "Look we are doing lockfiles just like yarn".

[2018-10-24 08:55] alexander-redmann-teaching commented on #8642
Its in many ways mysterious what, how and why npm and angular do the things like they do ;)

[2018-10-24 09:39] cbornet commented on #8642
For Angular, we have only have one option (websocket) that has an effect on prod dependency. So that's 2 possible package.json installed with `--production`. If we also need to generate the devDependencies, then we have 5 options (protractor, skipCommitHook, enableTranslation, useSass, maven) plus all the marketplace modules. So that's 64 combinations if we don't consider the modules.
What I'm uns

[2018-10-24 09:49] deepu105 commented on #8642
I really don't want to generate package locks ourselves. Lets just document
stuff.

I still don't understand why you can't just commit your package.json before
running CI and then use npm ci to run it.

We just need to find a solution for Jhipster online, or document that as
well asking user to do nom install first

On Wed, 24 Oct 2018, 11:39 am Christophe Bornet, <notifications@github.com>
wrote:

[2018-10-24 10:37] deepu105 commented on #8627
And about JHipster being more robust in this case is objective, we
don't know and can't control what a user does with the code. ANd quite
frankly we don't want to control that. Once generated it's your code, you
do whatever you like with it.

Thanks & Regards,
Deepu

On Wed, Oct 24, 2018 at 9:58 AM Julien Dubois <notifications@github.com>
wrote:

[2018-10-24 11:18] BhawaniSingh commented on #8642
@deepu105 What I was trying to say, ```npm install``` install & updates the package lock file, but if user or generator fire up ```npm shrinkwrap```, it will generate a new file pacakage-shrinkwrap.json, and when "package-shrinkwrap.json" is present, npm will skip the lock file and use shrinkwrap instead to download the dependencies,

When generator fires ```npm install``` command to install depen

[2018-10-24 11:40] BhawaniSingh commented on #8642
@deepu105 I don't think so npm shrinkwrap is just for publishing,

I've used for version lockdown of dependencies just like package-lock.json, but the main difference is if there's package-lock.json file and we do npm install, there are chances that package-lock.json get updated, but if npm-shrinkwrap.json file is present, npm will install all the dependencies listed in the npm-shrinkwrap

https:/

[2018-10-24 12:01] deepu105 commented on #8642
I'll take a look and see if my understanding is different.

On Wed, 24 Oct 2018, 1:40 pm Bhawani Singh (Ghost), <
notifications@github.com> wrote:

[2018-10-24 12:58] mselerin opened #8647 "Add an option to configure an entity/dto class name suffix"
##### **Overview of the feature request**

Adding an option to configure an entity/dto class name suffix.

##### **Motivation for or Use Case**

Some naming conventions force you to have the entity's class suffixed by 'Entity' and the DTO's class without suffix.

For example, a 'foo' entity will produce :
* `FooEntity` for the entity class name ;
* `Foo` for the DTO class name ;

Other classes nam

[2018-10-24 18:08] saturnism commented on #7750
@initfusion got it; this is fixed in #8616, there are a few additional lines that need to be added. See: https://github.com/jhipster/generator-jhipster/blob/b301f1492a439a832c613b9f54280e150c26f900/generators/gae/templates/appengine-web.xml.ejs

[code]

[2018-10-24 18:16] deepu105 commented on #8647
I'm ok if below conditions are satisfied
1. The code change for this will be minimum (I don't want to review a PR that touches too much)
2. Its passed while app generation as a flag and its persisted and read from the yo-rc.json
3. Support is added in jhipster-core to support JDL
4. should work for import-jdl as well

[2018-10-24 20:04] defrummel opened #8648 "User linking to UserExtra missing info in tutorial"
##### **Overview of the feature request**

Missing removal of user additions in the linking of User to UserExtra

Add some code to the https://www.jhipster.tech/tips/022_tip_registering_user_with_additional_information.html

    private boolean removeNonActivatedUser(User existingUser){
        if(existingUser.getActivated()) {
             return false;
        }
        userExtraRepository.findB

[2018-10-25 06:37] pascalgrimaud commented on #8648
Tips are written by users.
We can't guarantee it will work fine. If it needed to be updated, don't hesitate to PR and update the tips.

[2018-10-25 06:54] pascalgrimaud commented on #8642
Just testing locally `npm install` and `npm ci`, I have some strange behavior, and no improvement at all. With an existing node_modules:
- npm install -> 23s
- npm ci -> 1m5

Maybe the improvements are about consistency and not speed.

So switching to `npm ci` instead of `npm install` will require a lot of tests / use cases. We need to think about how to generate the `package-lock.json`, and don't

[2018-10-25 06:55] pascalgrimaud commented on #8642
IMO, best place: https://www.jhipster.tech/tips/

[2018-10-25 06:59] pascalgrimaud commented on #8641
I think @Blackdread is right.
Have a look at https://github.com/jhipster/jdl-samples and specially https://github.com/jhipster/jdl-samples/blob/master/21-points.jh

[2018-10-25 06:59] #8641 closed

[2018-10-25 07:03] deepu105 commented on #8642
I would place it in the ci/cd docs may be instead of a tip

On Thu, 25 Oct 2018, 8:55 am Pascal Grimaud, <notifications@github.com>
wrote:

[2018-10-25 08:11] mselerin commented on #8647
OK, just to give you a quick status :

- [x] Code change : only inside the "entity-server" templates
- [x] Passed with `--domain-suffix` and `--dto-suffix` flags with app generation
- [ ] Support added in jhipster-core
- [x] Work with import-jdl
- [ ] Unit tests added

I have added two functions inside the entity-server generator : `asDomain(string)` and `asDto(string)` to add the appropriate suff

[2018-10-25 08:46] jdubois commented on #8642
OK if that's slower with `npm ci` there's really no point to have this by default.

I did the same analysis as @cbornet did on [this comment](https://github.com/jhipster/generator-jhipster/issues/8642#issuecomment-432587377) and I totally agree. For me the most important thing is to generate a correct `package-lock.json`. We still have to find a good way to do it, but it shouldn't be overly diffic

[2018-10-25 08:46] #8642 closed

[2018-10-25 12:56] gvandooren opened #8650 "NgbDateMomentAdapter - check input variable is a moment"
##### **Overview of the issue**

My application date format is 'DD/MM/YYYY'. When i fill input date field with 555, i have the following error : date.isValid is not a function. Like this, the date variable is a string --> the isValid function is not present.

##### **Reproduce the error**

Fill an input date field with 555 value.

##### **Suggest a Fix**

add the "&& moment.isMoment(date)" check t

[2018-10-25 14:48] pascalgrimaud commented on #8642
After some discussion with @hcapitaine and @sahbi-ktifa today (see https://blog.npmjs.org/post/171556855892/introducing-npm-ci-for-faster-more-reliable), `npm ci` is better and faster only when there is no `node_modules` folder but needs a `package-lock.json`
So yes, it is the best choice for CICD, when `package-lock.json` is already generated.

So we need to document it.

[2018-10-25 16:13] deepu105 commented on #8650
can you please follow our issue template and provide all required details. Else if you are sure of the issue do a PR to fix it.

[2018-10-26 03:42] ryan-shi opened #8651 "Is there a plan to integrate Vue?"
Is there a plan to integrate Vue?

[2018-10-26 04:02] ruddell commented on #8651
See https://github.com/jhipster/jhipster-vuejs

[2018-10-26 04:02] #8651 closed

[2018-10-26 04:02] pascalgrimaud commented on #8651
see https://github.com/jhipster/jhipster-vuejs

[2018-10-26 11:07] PierreBesson commented on #8636
OK so, I'm removing this property from the test's property file as it is unused and give a false impression that we do property substitution on test resources.

[2018-10-26 11:08] pblanchardie opened #8653 "When caching is not enabled, PersistentTokens are not deleted from database by PersistentTokenRememberMeServices"
jhipster-dependencies.version: 2.0.26
java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)

##### **Overview of the issue**

When cache is disabled, tokens are not deleted from database by `PersistentTokenRememberMeServices` because of the use of `delete()`. It's a JPA/Hibernate "problem", probably caused by

[2018-10-26 13:17] #8636 closed

[2018-10-26 15:26] pblanchardie opened #8655 "PersistentAuditEvent lacks equals() and hashCode()"
##### **Overview of the issue**

PersistentAuditEvent lacks `equals()` and `hashCode()`

##### **Motivation for or Use Case**

Mandatory

##### **Reproduce the error**

NA

##### **Related issues**

NA

##### **Suggest a Fix**

Generate equals and hashCode

##### **JHipster Version(s)**

JHipster 5.5.0

##### **JHipster configuration**

NA

##### **Entity configuration(s) `entityName.json` files g

[2018-10-26 15:30] pblanchardie opened #8656 "Accept subclasses as parameter to equals() method in entities"
##### **Overview of the feature request**

I ran into issues with the current `equals()` implementation returning false with a Hibernate proxy.

As IntelliJ says, it's better to accept subclasses in this case.

##### **Motivation for or Use Case**

Avoid issues with Hibernate proxies of entities.

##### **Related issues or PR**

#5604

-   [x] Checking this box is mandatory (this is just to show y

[2018-10-26 21:43] deepu105 commented on #8655
Would you like to create a PR?

On Fri, 26 Oct 2018, 5:26 pm Patrice Blanchardie, <notifications@github.com>
wrote:

[2018-10-26 23:07] defrummel opened #8662 "CORS not correct for localization support ( /i18n/xx.json )"
##### **Overview of the issue**

The endpoint of the localisation resource is changed to my backend server due to axios.get() in src\main\webapp\app\shared\reducers\locale.ts.
Unfortunately the backend server (running on different machine as frontend) does not add the Access-Control-Allow-Origin header to the /i18n/ resource.

CORS configuration is correct for other HTTP requests, such as /api/acc

[2018-10-27 12:51] unikzforce commented on #8625
it problem was from yarn.. it was on 1.7.0 ... and after i'v upgraded yarn to 1.10.1 (using npm) and upgrading jhipster again using `yarn global upgrade generator-jhipster` the problem has been resolved.
sometimes yarn and npm creates such problems ..

[2018-10-27 15:01] #8561 closed

[2018-10-28 04:36] michael-pratt opened #8665 "Unable to connect to MongoDB Atlas"
##### **Overview of the issue**

Using JHipster 5, I am unable to connect to a MongoDB Atlas cluster (running version 4.0.3). This could be an issue with spring-data, but figured I'd start here.

Stack trace is:

##### **Motivation for or Use Case**

Cannot start application due to connection failure.

##### **Reproduce the error**

Start a free tier MongoDB atlas cluster. Here's the YAML I am usi

[2018-10-28 05:19] ruddell commented on #8665
Looks like a Mongobee issue https://github.com/mongobee/mongobee/pull/87, maybe [mongock](https://github.com/cloudyrock/mongock) (a fork of mongobee) is something to look into if mongobee is no longer maintained.

[2018-10-28 07:56] pascalgrimaud commented on #8650
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-28 07:56] #8650 closed

[2018-10-28 08:14] pascalgrimaud commented on #8586
I tried to reproduce the issue, but didn't manage. See my screenshots in dev and in prod.
As already asked, we could have a look with a generated project with start.jhipster.tech (easy to generate in 2min, and add your custom char in 2min -> less than 5min to have it) or at least, **ALL** steps to reproduce.

I'm closing this, because of lack of information to reproduce.

![issue-8586-dev](https:/

[2018-10-28 08:17] pascalgrimaud commented on #8575
I'm closing this, as it seems no one want to investigate and analyze our code to see if it will be easy or not to do it.

[2018-10-28 08:17] #8575 closed

[2018-10-28 08:28] pascalgrimaud commented on #8648
@Paul-Etienne : as you are the author of the tips, are you ok with these suggestions ?

@defrummel @Paul-Etienne : If some of you want to update the tips, it will be cool.
Otherwise, that means the tips is not working anymore, so it should be deleted.

[2018-10-28 08:55] jdubois commented on #8624
I'm against this for the moment. Most people I've talked to do not want this (but often for bad reasons).

I would like to find a better solution, typically based on Git.

[2018-10-28 12:15] Paul-Etienne commented on #8648
I am not currently using JHipster anymore so I have to admit this is all a bit distant to me right now.
I trust @defrummel with the changes he's referring to, so yes I am ok with any suggestion. I don't feel entitled to perform the update for now though, for the reason I have stated first. Feel free to update or delete the tip if it became outdated.

[2018-10-28 12:17] pascalgrimaud commented on #8648
thanks for your answer @Paul-Etienne !

[2018-10-28 16:25] deshetti opened #8666 "Error creating relationships with MongoDB and Elastic Search together"
##### **Overview of the issue**

I am trying to create relationships b/w entities in my application generated using JHipster with MongoDB and Elasticsearch selected as options. We are currently using Microservice architecture, but I noticed that the same issue is happening in Monoliths as well. So, created a small sample monolith application for simplicity sake to demonstrate the issue. If you nee

[2018-10-28 17:35] #8544 closed

[2018-10-28 17:41] deepu105 commented on #8656
I have no idea what you are talking about. Please follow our guidelines. If you know its an issue please do a PR to fix it else provide all info required in guidelines

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the fro

[2018-10-28 17:41] #8656 closed

[2018-10-28 19:13] #8629 closed

[2018-10-28 22:42] wmarques commented on #8642
Sorry to comment on closed issue but I discovered `npm ci` recently. For me on developer laptop we need to keep the `npm install` command as it generates the lockfile when the `package.json` changes.
The usage of `npm ci` is more for the CI envs, when you clone the project and want to install your deps to build your project. So I would add it for the CICD sub-gen maybe, and also add it in our trav

[2018-10-29 00:30] michael-pratt commented on #8665
Thanks. Looks like Mongock isn’t a simple drop in replacement. Is there a way in jhipster to disable migration functionality that mongobee provides?

[2018-10-29 03:09] michael-pratt commented on #8665
Answered my own question...removing the `@Bean` definition from `public Mongobee mongobee(...)` in _DatabaseConfiguration.java_ seems to do the trick. Haven't done any thorough testing, but the apps starts and I can create new users.

[2018-10-29 03:09] #8665 closed

[2018-10-29 06:59] gvandooren commented on #8650
Thanks,

Next time i will provide more details!

Geoffrey

[2018-10-29 07:07] pascalgrimaud commented on #8642
@wmarques :
- we could use `npm ci`, in our CI for generator-jhipster -> I will try it
- about CICD, `npm ci` will improve the speed, but there is still some issues:
    - generate a project with start.jhipster.tech
    - generate a continuous integration (Travis, Jenkins, Gitlab or Azure)
    - launch builds
    - it will fail because of missing `package-lock.json`

I think we simply need to docu

[2018-10-29 07:12] pascalgrimaud commented on #8642
I don't understand why npm doesn't do this, for `npm ci` :
if there is no `package-lock.json` -> launch `npm install`
else `npm ci`

Maybe we could do it in our package.json config ?

[2018-10-29 07:47] PierreBesson commented on #8642
@pascalgrimaud It's because npm is trying to upgrade your dependencies to their latest patch version.
Or we could have a maven execution that would run `npm install --package-lock-only` if the package-lock is missing.

[2018-10-29 08:09] vidhya03 opened #8668 "ng-jhipster - TranslateHttpLoader should use SERVER_URL for translation currently using the relative path"
Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {

[2018-10-29 10:59] deepu105 commented on #8642
@pascalgrimaud @PierreBesson then isn't it simply sufficient if we run `npm install --package-lock-only` when generating projects via jhipster online? then we could sue `npm ci` from CICD always

[2018-10-29 11:30] deepu105 commented on #8578
@antarus is this ticket still valid, I see there are some PRs merged which points to this, can we close this? next time please open separate issues or do everything in one PR so that we dont keep issues open for ever with partial fix

[2018-10-29 11:33] deepu105 commented on #8547
@antarus i'm still waiting for your input here

[2018-10-29 11:35] pascalgrimaud commented on #8642
jhipster-online could use `npm install --package-lock-only` but, it will use bandwitch and we need to modify the `--skip-install` flag, or adding a new one.

Locally, it tooks more than 30sec:

[code]

[2018-10-29 11:41] antarus commented on #8578
I asked if I had to do a PR or several...
All that remains is the documentation to be merged.

[2018-10-29 11:51] antarus commented on #8547
sorry I did not see and I was on vacation.

2. Yes, I found this solution after posting.
3. The generation of the code is skipped, but the application remains blocked after .. Obliged to make a CTRL + C to retrieve the prompt.
4. as the 3 but for entity generation. the entity is well generated but the application remains blocked after .. Obliged to make a CTRL + C to recover the prompt.

perhaps 3

[2018-10-29 12:29] deepu105 commented on #8642
I think 30s is not bad, it might be faster on Google cloud

Thanks & Regards,
Deepu

On Mon, Oct 29, 2018 at 12:36 PM Pascal Grimaud <notifications@github.com>
wrote:

[2018-10-29 13:33] tibistibi commented on #8586
@pascalgrimaud what container did you use to test it? also tomcat?

(ps i was on vacation back now)

[2018-10-29 13:47] pblanchardie commented on #8656
I followed the guidelines for feature requests, perhaps it's not clear enough that I'm talking about the `Entity.equals()` method that is not valid from my point of view. I'll create later.

[2018-10-29 16:31] tibistibi commented on #8586
with the help of @ruddell i found the problem appears in version 5.4.0 before that version 5.3.4 it was still ok

[2018-10-29 18:12] pascalgrimaud commented on #8586
no, didn't test with Tomcat, only with launching the war directly, and with docker container.

I'm a bit confused here, as the title said the problem comes from upgrade, some posts said the browser, other the OS, and maybe Tomcat too

[2018-10-29 18:30] tibistibi commented on #8586
@pascalgrimaud yes sorry about that for me to it is very hard to pinpoint what the problem is (that's why i'm searching help and am very grateful for any help i have gotten).

ok so what do i know now is that it happens from version 5.4.0 before it was not there.
it happens not local but only from tomcat (i have no other containers setup so not sure if it happens else where).
from ubuntu i can see

[2018-10-29 18:53] tibistibi commented on #8586
i compared the webpack.prod.js between version 5.4.0 and 5.3.4 and the diff is this part:
5.3.4

[code]
5.4.0

[code]

when  change the path to **target/www** there is no problem when it is **target/classes/public** the strange char are there

anyone knows why?

[2018-10-29 19:08] deepu105 commented on #8586
Thats weird. I have no idea why.

On Mon, 29 Oct 2018, 7:56 pm Tibor Strausz, <notifications@github.com>
wrote:

[2018-10-29 19:28] pascalgrimaud commented on #8586
it looks like this change was introduced when adding Jib support

What version of Tomcat do you use ? Do you copy war.original ?
I will retry to reproduce your issue when I have time

[2018-10-29 19:33] tibistibi commented on #8586
yes i copy war original
i will check my tomcat version.

could it be that tomcat has a slightly different encoding with different locations?

[2018-10-29 19:34] tibistibi commented on #8586
tomcat version:

Apache Tomcat/8.5.14 (Debian) | 1.8.0_162-8u162-b12-1~deb9u1-b12

[2018-10-29 19:39] tibistibi commented on #8586
yes issue #8352 introduced this change. i would expect some others to use tomcat or am i the only one?

@pascalgrimaud thanks for testing it in tomcat!

[2018-10-29 20:10] tibistibi commented on #8586
or it is with packaging that maven handles different dirs different?

[2018-10-30 00:13] deshetti commented on #8666
This seems like a similar issue to what I mentioned: https://stackoverflow.com/questions/50130150/after-adding-elasticsearch-support-spring-boot-complain-beancreationexception-w

[2018-10-30 07:51] tibistibi commented on #8586
i checked the files in the war file and they are the same (according to linux diff command).
i have setup two same wars in tomcat, one with the target/www and one with target/classes/public.
one will have the strang A (just after You don't have an account yet?

![screenshot from 2018-10-29 19-49-08](https://user-images.githubusercontent.com/1875634/47703382-68cb0580-dc20-11e8-8701-cab31a36f9f0.png

[2018-10-30 09:47] rainerh opened #8674 "keycloak being added to app.yml for microservices with oauth2 causes startup errors"
##### **Overview of the issue**

When creating a microservice with oauth2 option, keycloak.yml is added as include to app.yml, but no keyycloak.yml is available.

##### **Motivation for or Use Case**

Running into startup errors while starting the microservices with docker-compose -f src/main/docker/app.yml

##### **Reproduce the error**
Create a microservice with oauth2 and start with docker-comp

[2018-10-30 11:01] ikramcheb opened #8676 "Entity gets persisted in Elasticsearch even when an exception is thrown in database persist"
##### **Overview of the issue**
We have these two lines in functions of save accross all  generated services

        Foo result = fooRepository.save(foo);
	fooSearchRepository.save(result);

But when an exception is thrown in the first save (DataIntegrityViolationException for instance), the database save is rolled back but  foo entity is saved in elasticsearch nevertheless.  which will cause inc

[2018-10-30 12:19] michael-pratt commented on #8665
Since Mongobee appears to have been abandoned, is there any interest in moving to Mongock? After a little tinkering I got it working, and would be happy to submit a PR.

[2018-10-30 13:20] michael-pratt opened #8678 "Change dependencies from Mongobee to Mongock"
##### **Overview of the issue**

Mongobee appears to have been abandoned as there have been several open issues in the past 6 months without any feedback from the maintainers. The main issue is that Mongobee uses an API that does not work with MongoDB Atlas (Mongo's cloud offering).

[Mongock](https://github.com/cloudyrock/mongock) was derived from Mongobee, and among other things, provides suppor

[2018-10-30 13:31] jdubois commented on #8676
Yes that's normal, there is no transaction manager (it's not possible to have one with Elasticsearch).

The only solution would be to flush the Hibernate session after doing the save, but there's a performance hit for doing so.

[2018-10-30 13:49] pascalgrimaud commented on #8678
You didn't mention that you would be happy to submit a PR :-)
If we all agree, to migrate, of course

[2018-10-30 13:56] michael-pratt commented on #8678
Ha, well I guess I'll publicly declare my offer of PR here then :)

I scanned the generator codebase and it looks like 5 files that would need updating:

    $ find . -type f -exec grep -li mongobee {} \;
    ./generators/server/templates/build.gradle.ejs
    ./generators/server/templates/pom.xml.ejs
    ./generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs

[2018-10-30 14:00] DanielFran commented on #8678
@michael-pratt It is need also needed to change jhispter project to substitute the dependency: https://github.com/jhipster/jhipster/blob/master/jhipster-dependencies/pom.xml#L231

[2018-10-30 14:04] jdubois commented on #8678
I totally agree that Mongobee looks abandoned and that we need to move on, but Mongock only has 11 stars and 3 contributors, so I'm worried we rely on a project which is too small.

It looks like those tool are quite short-lived (we already moved away from Mongeez in the past!), so it looks to me that people are not really using them.

So this worries me: shouldn't we code this directly? Is the ad

[2018-10-30 14:13] pascalgrimaud commented on #8678
Another solution would be to do the same as we do for Cassandra:
- generate specific files for creating / inserting data
- use another container to use these files (locally, in dev or prod)

Then, in real production, the users need to manage the changes in MongoDB

[2018-10-30 14:15] jdubois commented on #8676
In fact this shouldn't happen with a "normal" JHipster application, this is because you added some logic, including probably a unique field somewhere, and you are not checking this field before saving.

- For a "good" application, you should check this before saving, and not rely on the database (and that will also solve the issue)
- Then I understand you can't test everything: in that case just d

[2018-10-30 14:32] deepu105 opened #8679 "Update to new logo everywhere"
Since we have new cool inclusive logos, let's use this ticket to switch over

TODO: For the team

- [x] Add random logo tied to a hash(app name or JWT key) to generated app client app
- [x] Change main logo & favicon for generated projects #8672
- [x] Show a logo slideshow in the main website
- [x] Change the main logo & favicon on the docs website
- [x] Change logo on all project Readme etc
- [x]

[2018-10-30 14:59] pascalgrimaud commented on #8679
In readme:

So I think we should wait a little bit :-)

[2018-10-30 15:07] HamzaK8s commented on #7337
Hello
Does istio solve the problem of no service discovery option ? or how we can use kubernetes service discovery ?

[2018-10-30 15:32] pascalgrimaud commented on #8379
bounty claimed https://opencollective.com/generator-jhipster/expenses/5502

[2018-10-30 15:54] mraible commented on #8029
I [received an answer](https://stackoverflow.com/a/53005161/65681) on my Stack Overflow question that seems reasonable.

Add `rollbackFor=Exception.class` on the `add()` method in `CustomAuditEventRepository`.

[code]

If the auditing fails, it's not a big deal. At least the app still works!

[2018-10-30 17:41] deepu105 commented on #7337
Use istio for k8s only service discovey

On Tue, 30 Oct 2018, 4:10 pm HamzaK8s, <notifications@github.com> wrote:

[2018-10-30 19:19] issovic opened #8680 "Issues with gulp uglify"
Dear community .
i have a question about an earlier version of jhipster with angularJs .
considering that the generator is using uglify method . the thing is the uglify worked and generated vendor.js and app.js but the browser is making a folder named "source" which showing my source code which doesnt existe under my server . is it ok that this happening ?
![uglify](https://user-images.githubuserc

[2018-10-30 19:49] jdubois commented on #8680
I'm sorry but this is so old, we don't fix bugs on this release anymore.

Anyway, please respect the issue template, it's already hard enough for us, so if you don't provide the required information we won't have the time to help you.

[2018-10-30 19:49] jdubois commented on #8680
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-30 19:49] #8680 closed

[2018-10-30 21:09] DanielFran opened #8682 "Upgrade Node.js version to 10.13.0 (LTS)"
##### **Overview of the feature request**

Upgrade Node.js version to 10.13.0 (LTS)

##### **Motivation for or Use Case**
See https://nodesource.com/blog/what-s-new-to-lts-with-the-introduction-of-node-js-10-lts

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2018-10-30 21:35] DanielFran opened #8683 "Upgrade to spring-boot 2.1.x"
With the launch of new spring-boot 2.1.0, it is time to continue the work started in https://github.com/jhipster/generator-jhipster/issues/8047.

See: https://spring.io/blog/2018/10/30/spring-boot-2-1-0 & https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes

TODO:
- [x] Create specific branches 'spring-boot_2.1.0' in jhispter dependencies and main generator
- [x] Updat

[2018-10-30 21:42] gzsombor commented on #8676
I don't understand, if there is an exception from the first repository save method - which deals with db - how could happen, that the entity is also saved to Elasticsearch? The exception must prevent this. Or have you added code to catch the exception? Or you talking about having a different RuntimeException thrown from a later code?
 In my experience, there is a different, data inconsistency prob

[2018-10-30 21:43] mraible commented on #8683
I don't think we _have_ to upgrade to Spring Security's OIDC support, but we certainly can. It will allow users to configure more than one OIDC provider, so if they wanted to add Google or Facebook, they could.

FWIW, I also have global SSO logout working. I'll create a PR for that against the current version sometime this week.

[2018-10-30 22:04] DanielFran commented on #8682
@pascalgrimaud Is this something you will take care?

[2018-10-31 05:04] pascalgrimaud commented on #8682
ok, self assigned

[2018-10-31 06:14] purushotham9 opened #8687 "Hi"
I have eureka discovery server facing the issue.

2018-10-31 11:41:03,146 WARN  [DiscoveryClient-CacheRefreshExecutor-0] RetryableEurekaHttpClient: Request execution failed with message: java.net.ConnectException: Connection refused (Connection refused)
2018-10-31 11:41:03,147 ERROR [DiscoveryClient-CacheRefreshExecutor-0] RedirectingEurekaHttpClient: Request execution error
com.sun.jersey.api.cli

[2018-10-31 06:18] pascalgrimaud commented on #8687
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-10-31 06:18] #8687 closed

[2018-10-31 06:26] purushotham9 opened #8688 "iam facing RedirectingEurekaHttpClient: Request execution error"
Hi ,
 I run in the jhipster gateway app but not connect to the
EurekaHttpClient.

2018-10-31 11:41:03,146 WARN  [DiscoveryClient-CacheRefreshExecutor-0] RetryableEurekaHttpClient: Request execution failed with message: java.net.ConnectException: Connection refused (Connection refused)
2018-10-31 11:41:03,147 ERROR [DiscoveryClient-CacheRefreshExecutor-0] RedirectingEurekaHttpClient: Request execut

[2018-10-31 08:10] ruddell commented on #8688
Did you start the JHipster Registry separately?  See the docs

---

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the

[2018-10-31 08:10] #8688 closed

[2018-10-31 08:39] atomfrede commented on #8679
We could create bow ties for e.g. react and vue with slightly changed colors

[2018-10-31 08:53] yudar1024 opened #8689 "Upgrade jdk to 11"
##### **Overview of the feature request**

provide jdk 11 support in jhipster

jdk8 life cycle support will be closed in 2019,  the next lts version 11 is released.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2018-10-31 08:59] rainerh opened #8690 "Cleanups: Dockerfile and entrypoint.sh still created under 'src/main/docker'"
##### **Overview of the issue**

After generating an application, `src/main/docker/Dockerfile` and `src/main/docker/entrypoint.sh` are still created in the source tree. Since `jib` is now used to generate the docker images, both files are no longer required.

##### **Motivation for or Use Case**

Cleanups

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

- remove `

[2018-10-31 09:07] antarus commented on #8690
At work we still have some problem with Jib and the dockerfiles and and the entrypoint file allows us to still generate our images.
We work in offline mode.
It would be cool to keep them still some version: D

[2018-10-31 09:09] antarus commented on #8689
Jjhipster will support jdk 11 when spring boot 2.1 will be used in the generator (Work In Progress) ;)

[2018-10-31 09:16] HamzaK8s commented on #7337
@deepu105  thanks for your reply,
so Istio make sur that the gateway forward traffic to other microservices when we want to hit a particular microservices throught gateway ?

[2018-10-31 09:29] cbornet commented on #8689
JDK11 will be supported once we migrate to Spring Boot 2.1. See #8681 for follow-up

[2018-10-31 09:29] #8689 closed

[2018-10-31 09:30] cbornet commented on #8689
Actually #8683

[2018-10-31 11:41] gvandooren commented on #8105
Hi everybody,
To fix this issue, override the jhiSortBy directive and the jhiSortDirective.
I try many different fixes but only one is ok. The FaIconComponent implements OnChanges but the changes are never detected.

The fix consists to replace the svg path used to render the icon.

in the sort directive
`private resetClasses() {
        const allThIcons = this.element.querySelectorAll('fa-icon');

[2018-10-31 12:03] deepu105 commented on #8105
@gvandooren could you plz do a PR?

[2018-10-31 12:03] deepu105 commented on #8105
so that you get the $100 bounty

[2018-10-31 12:20] gvandooren commented on #8105
@deepu105 i do that today :)

[2018-10-31 14:23] issamm commented on #6722
Hi @ThomasWilhelmUR , why don't you just put the answer and what you found ?

[2018-10-31 14:57] QuentinFombaron opened #8692 "Yarn start command is working only few seconds"
##### **Overview of the issue**

When I tried to run `yarn start` in my JHipster project, it works perfectly during the next 10 seconds, `http://localhost:9000` responds, the `watch` in IntelliJ works as well. But after about 10 seconds, nothing works at all. I have to kill `node` process to free 9060 port and to relaunch `yarn start` command.

I have tried to delete `yarn.lock` file, then to run

[2018-10-31 15:33] vishal423 commented on #8692
In your .yo-rc.json, I see npm configured as package manager. Instead of
yarn, try using npm

On Wed 31 Oct, 2018, 8:30 PM Quentin Fombaron, <notifications@github.com>
wrote:

[2018-10-31 16:04] tibistibi opened #8693 "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.0:test"
##### **Overview of the issue**

After the latest java upgrade on at least debain and ubuntu maven surefire plugin stops working with this error:

##### **Motivation for or Use Case**

Surefire team is working on a fix but in the mean time there is a work around. We could implement it until the plugin is fixed

##### **Reproduce the error**

Create any form of jhipster project with maven and run t

[2018-10-31 16:06] QuentinFombaron commented on #8692
Thank you @vishal423 but no changes, I tried with `yarn` and `npm`. When I try to load my `localhost:9000` page (the maven `localhost:8080` works). I can see JHipster log message :
[code]

[2018-10-31 16:17] atomfrede commented on #8693
Interesting, seen a discussion on twitter already about suddenly breaking builds.

[2018-10-31 16:48] ruddell commented on #8690
It was decided in the `jib` integration PR to leave the Dockerfile for some time, see the bottom of https://github.com/jhipster/generator-jhipster/pull/8352#issuecomment-425633447

[2018-10-31 17:12] vishal423 commented on #8692
I have recently used v5.4.2 (yarn) and hadn't noted any issues. Can you try
with latest v5.5 to check? Also, please be more explicit on what's not
responding. What do you see on console (one running yarn start)

On Wed 31 Oct, 2018, 9:45 PM Quentin Fombaron, <notifications@github.com>
wrote:

[2018-10-31 18:10] deepu105 commented on #8690
yes we will remove it during next major version

[2018-10-31 18:10] #8690 closed

[2018-10-31 18:10] deepu105 commented on #8690
i'll keep your PR open with v6 tag

[2018-10-31 18:17] deepu105 commented on #8676
@jdubois @gzsombor do you guys want to do anything for this or should we close it and document it so that users can handle it when customizing?

[2018-10-31 18:18] deepu105 commented on #8674
@mraible can you please take a look?

[2018-10-31 18:19] deepu105 commented on #8668
@vidhya03 can you do a PR?

[2018-10-31 18:29] deepu105 commented on #8609
There is a flag to disable long name checks, try running `jhipster entity --help`

But in either case the custom table names should be used here so i'm marking it as a bug

[2018-10-31 18:33] deepu105 commented on #8446
We should also change JDL examples to be a bit nicer like using foo, bar etc. This is a corner case which shouldn't happen in real life as it doesn't make sense to name your entity `A`. I'm amrking this as doc update for now

[2018-10-31 18:34] deepu105 commented on #8408
@MehrCurry could you provide the info asked please?

[2018-10-31 19:28] defrummel commented on #8648
o man im just getting started with coding outside of my own git repo, not sure how to do pr and stuff :)

[2018-10-31 20:09] deepu105 commented on #8680
@issovic it is normal behaviour don't worry

[2018-10-31 20:14] deepu105 commented on #8648
@defrummel well you have to start somewhere, look at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-a-pull-request for example

[2018-10-31 21:42] defrummel commented on #8662
i believe CORS setup in JHipster for apps with localization does not work in my case.

CORS setup worked when i generated the same application but without localization added. Then i did a complete rebuild from scratch, with localization support added: complete regeneration of the application etc.

Then when i try to open the site, all i see is: "translation not found" etc on the front end. This is

[2018-11-01 03:20] pazfernando commented on #1130
Hi, I have a workaround for this issue.  Visit this response in stackoverflow [liquibase:update + jhipster](https://stackoverflow.com/a/53094744/1610853l)

[2018-11-01 05:42] vishal423 commented on #8662
@defrummel, I believe it's not an issue with CORS configuration. You need access to i18n client side resource bundles and they should be relative to your client deployment.

For your suggested solution (2nd), can you try without specifying base path?

[2018-11-01 05:59] vishal423 commented on #8668
As per my understanding, `SERVER_API_URL` is meant to point to remote server (when server side code is deployed separately from frontend code) and shouldn't be used to access frontend i18n resources (i18n access should always be relative to frontend deployment).

If I have correctly understood this issue, then, the requirement is to provide a way to customize i18n bundle path and that should be do

[2018-11-01 06:01] vishal423 commented on #8633
I believe same issue is also applicable for angular.

[2018-11-01 07:04] pascalgrimaud commented on #8633
@vishal423 : never saw it for Angular. Do you have a config + use case to reproduce it ?

[2018-11-01 07:18] deepu105 commented on #8633
the best solution IMO is to keep the elements hidden by default, with or without a CSS class, and make them visible only when the translation is applied. This way you won't have the flickering and for valid cases of translation not found you still see the message. If anyone is willing to do this PR for react-jhipster lib plz feel free to do so, else I'll do it next week or whenever I find the time

[2018-11-01 07:40] LucaBernstein commented on #8586
Though I do not know why, I wanted to provide everyone else having this issue this solution: For me the strange characters, just as you have them, came after upgrading from 5.1.0 to 5.5.0.
Running locally or standalone with java -jar command I did not have this issue. Only when deploying the war file built with `gradlew -Pprod bootWar` to a Tomcat server (v8.5.24 e.g.) the characters appeared.

Ch

[2018-11-01 07:43] tibistibi commented on #8586
@LucaBernstein thanks for the update! and good to know it is reproducible.

[2018-11-01 07:44] deepu105 commented on #8611
@MathieuAA can you have a look?

[2018-11-01 07:51] jdubois commented on #8679
Please keep the color: the logo is just the bow tie, it's very simple, so if you change color people will not recognize it.

[2018-11-01 07:53] jdubois commented on #8676
We could improve it but this would bloat the templates, not sure this is good for everyone.

We have too many opened issues and won't be able to work on it anyway, so let's close it.

[2018-11-01 07:53] #8676 closed

[2018-11-01 07:56] jdubois commented on #8648
Yes there's ton of help and don't worry if you mess up, you can't break anything (we'll review & help before merging your changes)

[2018-11-01 07:57] ikramcheb commented on #8676
Thank you all for the response.
First, @gzsombor The exception is thrown by the database repository save not from another code.
Second, @gzsombor  I dont catch that exception anywhere in the code.
Third, @jdubois  it will be exhausting to check all constraints before save, especially in large applications.
I think flushing the Hibernate solution is the most adequate in my case (since I can't  impl

[2018-11-01 07:59] deepu105 commented on #8679
@jdubois agree let's keep a single color bow tie as the main logo everywhere, for the avatar we can have any number of colors variations.
@jdubois also the hipster guy variation of the logo we recently had was apache 2 license as the guy who submitted the PR agreed to it on the ticket. And anyway, by submitting something to this repo, you agree to the license anyway. So I guess we can keep it

[2018-11-01 08:02] jdubois commented on #8676
Thanks, totally makes sense. But still, I wouldn't recommend doing the flush by default, I don't think it's a good practice (for most people).

[2018-11-01 08:06] deepu105 commented on #8679
@jdubois btw are the logo still WIP? can we announce it?

[2018-11-01 08:11] jdubois commented on #8679
Still in WIP, there are still a couple of issues with them, sorry.

[2018-11-01 08:17] deepu105 commented on #8679
Oh ok, I didn't know that

Thanks & Regards,
Deepu

On Thu, Nov 1, 2018 at 9:11 AM Julien Dubois <notifications@github.com>
wrote:

[2018-11-01 08:57] Fydon opened #8698 "Remove proxy-middleware if it no longer in use"
##### **Overview of the issue**

Development depencency proxy-middleware seems to no longer be in use. It is only used in Angular.

##### **Motivation for or Use Case**

It used to be [used by gulp][2], but I can't see where it is used now. If it isn't used then I could create a pull request to remove it.

##### **Reproduce the error**

N/A

##### **Related issues**

None found

##### **Suggest a

[2018-11-01 09:06] Fydon opened #8699 "Remove tapable as a direct dependency if it isn't directly in use"
##### **Overview of the issue**

Development depencency tapable appears to be a dependency of other dependencies, but not directly in use. It is only present in Angular.

##### **Motivation for or Use Case**

Tapable is a dependency of fork-ts-checker-webpack-plugin, html-webpack-plugin, enhanced-resolve (from ts-loader) and webpack. Removing tapable as a direct dependency still resolves to versio

[2018-11-01 09:35] Fydon opened #8702 "Should reflect-metadata be in devDependencies instead of dependencies?"
##### **Overview of the issue**

The [Angular 7 release documentation][2] speaks of reflect-metadata being incorrectly used in production.

##### **Motivation for or Use Case**

I'm new to Angular and JHipster, so sorry if I'm misunderstanding the setup. It is currently only referenced in [Angular's webpack.dev.js.ejs][3] so I would expect no problems when moving reflect-metadata [from dependencie

[2018-11-01 09:41] purushotham9 opened #8703 "iam facing the error eurekahttpclient redirecting"
2018-11-01 15:08:53,114 WARN  [DiscoveryClient-CacheRefreshExecutor-0] RetryableEurekaHttpClient: Request execution failed with message: java.net.ConnectException: Connection refused (Connection refused)
2018-11-01 15:08:53,114 ERROR [DiscoveryClient-CacheRefreshExecutor-0] DiscoveryClient: DiscoveryClient_PARKOSUAA/ParkosUAA:269ffa4998dca31450db49bc16951b5f - was unable to refresh its cache! stat

[2018-11-01 10:10] Fydon opened #8704 "Remove unused dependency exports-loader"
##### **Overview of the issue**

Development depencency exports-loader seems to no longer be in use.

##### **Motivation for or Use Case**

It used to be reference in webpack, [but was removed][2]. I can't see where it is used now. If it isn't used then I could create a pull request to remove it.

##### **Reproduce the error**

N/A

##### **Related issues**

None found

##### **Suggest a Fix**

Re

[2018-11-01 10:24] andresetevejob opened #8705 "Jhipster prod Error"
Hi All,
I have an error when i execute this command jhipster for the production :  ./mvnw -Pprod

this the error :
[INFO] --- git-commit-id-plugin:2.2.5:revision (default) @ jhipstermono ---
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 30.324 s

[2018-11-01 10:59] Fydon opened #8706 "Remove unused dependency raw-loader"
##### **Overview of the issue**

Development depencency raw-loader seems to no longer be in use.

##### **Motivation for or Use Case**

It used to be [webpack.test.js.ejs][2], [package.json and webpack.common.js][3], but was removed. I can't see where it is used now. If it isn't used then I could create a pull request to remove it.

##### **Reproduce the error**

N/A

##### **Related issues**

Non

[2018-11-01 11:32] andresetevejob commented on #8705
Hi ,
I don't have a git repository
My Version of jhipster is 5.5

[2018-11-01 12:29] tibistibi commented on #8693
I will keep an eye on it. Will make a PR. When is next jhipster scheduled?

It is not sure yet if it will be ported to a 2.* version (used in jhipster now) or only to the new 3.*

On November 1, 2018 12:25:21 PM CET, Frederik Hahne <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.