[2021-06-20 19:08] vishal423 commented on #15399
Yeah, I noticed the CI behavior. I suspect the issue is somewhat related to npm cache. Before we go in that direction, I want to make sure that the issue is not scoped to my setup. Can you share timings for your local setup?

[2021-06-20 21:33] mshima commented on #15399
Executed several times:
`cd ..; rm -rf test_npm; mkdir test_npm; cd test_npm; npx generator-jhipster@7.1.0 jdl default`

npm takes 48-53s with cold cache and 21-25s with warm cache.
cache seems to become cold in a few minutes.

With npm@^6 installed globally
`cd ..; rm -rf test_npm; mkdir test_npm; cd test_npm; npx generator-jhipster@7.0.1 jdl default`
npm ranges from 35s to 40s.

[2021-06-20 21:59] mshima opened #15403 "Cleanup vue webpack config."
##### **Overview of the issue**

While doing some changes to vue webpack at https://github.com/jhipster/generator-jhipster/pull/15210 and failing, discovered that vue webpack config needs a cleanup.
- Angular config uses 2 files, react uses 5, while vue uses 9.
- Some configs are never used and are misleading, eg:
https://github.com/jhipster/generator-jhipster/blob/1e42b520cdc8328cc7c96c09c9ecae65

[2021-06-21 05:42] avdev4j commented on #15058
Keep it

[2021-06-21 07:55] #15337 closed

[2021-06-21 07:56] #15390 closed

[2021-06-21 08:08] ntpthinh commented on #12497
Thank you for pointing out. This sounds convenient.
However, I cannot see it's working on my side. I created .yo-resolve file with similar content in JHipster 7.0.0.
Hope to see your document on this. Thank you

[2021-06-21 09:51] ksilz commented on #12497
@gmarziou I have my own base classes for both the entities and DTOs that JHipster generates. I wrote a shell script that adds them/patches them back into the source code after JHipster updated my entities.

The same applies to the Spring Data repository interfaces: For some, I created my own repository interface. My shell script then appends these to the existing `extends` statement of the JHipste

[2021-06-21 15:51] gmarziou commented on #12497
@ksilz interesting, and for how long did you update your project with the generator since initial generation?

[2021-06-21 16:11] ksilz commented on #12497
@gmarziou Since Feb 2020. JHipster updates (like 6.x going to 7.x) are still a royal freakin' pain the butt. But I can update my entities effortlessly.

What also helps is that I don't use the default Angular UI. I built my own, so no conflicts there. And I got my own business layer on top of JHipster.

[2021-06-21 16:41] mraible commented on #15069
I'm increasing the bounty on this one since it's important for OAuth / OIDC support.

[2021-06-21 17:40] mraible opened #15423 "Investigate Ionic CI with OAuth Gateway"
##### **Overview of the issue**

The CI process for Ionic for JHipster has been struggling with gateway builds for a couple of weeks. Investigate and fix so CI passes consistently.

For example: https://github.com/oktadev/generator-jhipster-ionic/runs/2877557260?check_suite_focus=true

##### **Motivation for or Use Case**

There might be an issue with using a gateway as a resource server that we'r

[2021-06-21 17:50] mshima commented on #15069
I will take a look.

[2021-06-21 18:28] atomfrede commented on #15359
Small update, during my last call with Gradle Nelson had some customers in mind which had strange problem with annotation processors, but couldn't provide a reproducer. I will look into their issue tracker if there is already something related.

[2021-06-21 21:41] mshima commented on #15069
The problem is not with the gateway, but with microservices.
I will test monolith apps.

[2021-06-21 22:03] gmarziou commented on #12497
Major upgrades are painful and I consider it's not worth.

On my team's projects, we never used JHipster more than few weeks, I prefer to cut all dependencies from JHipster as soon as possible so that I can upgrade dependencies more easily and feel free to refactor our code.

[2021-06-22 00:57] RDsideNow commented on #15390
@mshima should the links work for non simple names (where there is a '-' entity name)

[2021-06-22 02:37] mshima commented on #15390
I've changed one CI entity to composite name (Camelcase) and CI succeeded.
jest and cypress worked. It's not reproducible on CI.

[2021-06-22 04:01] RDsideNow commented on #15390
Thanks again for all the help @mshima.

One final question.  For the entities in camel case, should all of the text be prefixed like this?

<img width="1680" alt="Screen Shot 2021-06-22 at 12 00 37 AM" src="https://user-images.githubusercontent.com/42190464/122861152-f2a5d080-d2ec-11eb-9b5e-d3781072a409.png">

[2021-06-22 04:19] atomfrede commented on #13755
Keep it open

[2021-06-22 09:53] vishal423 commented on #15399
Yesterday, I tried [`7.1.0`](https://github.com/jhipster/generator-jhipster-svelte/runs/2879040933?check_suite_focus=true) integration in the `svelte` blueprint (with default `node` and `npm` versions), and can see overall 15-30s+ slowness in the application generation step. I am still looking at 10s+ slowness during the npm package installation step. It's not as bad as on my local system, and tha

[2021-06-22 10:29] hadimoradi1994 opened #15434 "deploy and start jhipster (react) project on tomcat server"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-06-22 13:14] mshima commented on #15390
It’s failing to load translation.
Translation support needs improvement.

[2021-06-22 17:20] vishal423 commented on #15399
For the moment, I override the wrapper in `svelte` and things are back to their old state. Feel free to close the issue if nothing can be done/improved on the generator side.

[2021-06-22 17:23] mraible commented on #15399
Is this something that could use a bug bounty to fix?

[2021-06-23 05:33] ksilz commented on #12497
@gmarziou I stick with JHipster.
- I can update dependencies on the **front-end** just fine. I can't change the build process (like JHipster 7 did for Angular) or switch out the test framework easily. But then I didn't need to until now.
- The biggest pain on the back-end is the hard-coded Spring Boot dependency on the **back-end**. 2020 and 2021 were really bad as I was shipping a Spring Boot 2.2

[2021-06-23 07:38] DanielFran commented on #14873
Keep it open

[2021-06-23 07:55] pmverma opened #15446 "Links value in pagination link header is incorrect."
##### **Overview of the issue**
As the title says.
![image](https://user-images.githubusercontent.com/5289123/123058361-c1351e00-d42e-11eb-9be8-5b130bd48e07.png)

##### **Motivation for or Use Case**

The links of `next,prev,last`  are incorrect and link value for `first` is empty

##### **Reproduce the error**

1. Create a monolithic app
2. Create an entity with pagination (sort & header)
3. Add

[2021-06-23 08:58] gmarziou commented on #12497
@ksilz Upgrading Spring Boot for JHipster is a major effort each time for the team because it has to work on so many project configurations. It is much simpler for your own projects that have a narrower scope, this is why I don't use JHipster BOM as I must be more reactive to update deps to be compliant with PCI-DSS requirements.

[2021-06-23 09:06] ksilz commented on #12497
@gmarziou I understand that it's a major effort. I'm **not** asking to get major versions faster (like 2.5 right now and 3.0 in the fall). What I **do** want is faster security fixes.

An example: We were stuck with Spring Boot 2.2.7, I think, before JHipster 7.0 was out. Now at that time, the 2.2 branch was at 2.2.12 or something, 5 patches ahead. That's a lot of bug fixes and security updates we

[2021-06-23 09:19] gmarziou commented on #12497
Even Spring Boot team lags behind sometimes in terms of security updates, I had recently the case with Undertow.

In the end, security updates are the responsibility of the app dev team.

I like your proposal to have documentation for a "manual Spring Boot override", I did it once for one of my projects and I found it not that easy but I can't remember the details, this was the trigger for me to d

[2021-06-23 09:23] ksilz commented on #12497
@gmarziou Who would know how to do a "manual Spring Boot override"?

[2021-06-23 09:41] chenbihao opened #15447 "Importing jodconverter on the old version will cause Application run failed error"
Importing **jodconverter** on the old version will cause Application run failed error

How can I fix it on the old version

The error comes from a version **before 7.0.0**
Reproduce, for example:
```7.0.0-bate-0、7.0.0-beat-1、6.10.5、6.10.1 ```

![genrate-jhipster](https://user-images.githubusercontent.com/21167262/123073810-56451080-d449-11eb-9af4-db2169d6e20f.png)

build.gradle add implementation:

[2021-06-23 10:02] gmarziou commented on #15447
jodconverter is not provided by JHipster.

Please use [gitter](https://gitter.im/jhipster/generator-jhipster) or [stackoverflow](https://stackoverflow.com/questions/tagged/jhipster) for questions

[2021-06-23 10:02] #15447 closed

[2021-06-23 10:15] gmarziou commented on #12497
Only those who tried recently, please contribute.

[2021-06-23 12:53] mshima commented on #15399
@vishal423 I don’t see any benefits in doing that.
While the generation can be faster, first time .mvnw is called it will recreate the lock file using npm7 and take a long time instead of 2-5s.

IMO the only fix is to check if the build tool is maven or undefined, instead of just different than gradle.
So blueprints that don’t use neither maven and gradle, won’t fail.
So no bounty is required for

[2021-06-23 13:41] vishal423 commented on #15399
As I said before, I haven't debugged why do we observe this slowness. I have a constrained WSL2 setup and such things do affect a lot.

 In CI, for the second `./mvnw` I don't see any obvious variations (before and after override). To me, the initial boost is enough to move away. If you compare time to generate a new application with `gradle` [~80s](https://github.com/jhipster/generator-jhipster-s

[2021-06-23 15:19] DanielFran commented on #14745
@gkysaad I merged on BOM the update to couchmove 3.1.1

@gkysaad @coderguy-tech Fille free to continue the work started on couchbase migration for spring-boot 2+ in #14184

[2021-06-23 15:56] gkysaad commented on #14745
Thanks @DanielFran! I've been working based on the branch in https://github.com/jhipster/generator-jhipster/pull/14184 but I'm working off a new branch that's rebased with jhipster:main as the changes on that branch were way behind the latest code and thus led to too many merge conflicts when I tried to rebase.

[2021-06-24 02:30] chenbihao commented on #15447
I use a separate springboot version and he can run normally，I don't know what went wrong

[2021-06-24 03:33] swarajsaaj commented on #15446
@pmverma Trying to understand the issue, how is link value for "first" empty, Isn't it the one preceding it with page=0 as shown below? Similarly for other pages as well.
![image](https://user-images.githubusercontent.com/6285049/123198528-e5463d00-d4ca-11eb-8852-1a4b322b86a7.png)

[2021-06-24 03:41] swarajsaaj commented on #15434
From the title, it seems you want to run a jhipster app with react frontend on standalone tomcat, instructions for creating a WAR are available at https://www.jhipster.tech/production/
If that's not what is expected, please add some description to the issue.

[2021-06-24 03:56] pmverma commented on #15446
@swarajsaaj Thanks for pointing. My bad for the pair sides.
but the `prev,next,last` page numbers are wrong.

[2021-06-24 04:15] hadimoradi1994 commented on #15434
I have created war file of project successfully and deployed on tomcat server, but when I want to run this war file got this exception on tomcat server <"org.apache.catalina.LifecycleException: Failed to start component [StandardEngine[Catalina].StandardHost[localhost].StandardContext[]]">

[2021-06-24 04:16] hadimoradi1994 commented on #15434
I have created war file of project successfully and deployed on tomcat server, but when I want to run this war file got this exception on tomcat server <"org.apache.catalina.LifecycleException: Failed to start component [StandardEngine[Catalina].StandardHost[localhost].StandardContext[]]">

[2021-06-24 04:45] swarajsaaj commented on #15446
@pmverma Yes there is a different index in APIs because `Pageable` in spring has first page as 0 (instead of 1 as seen on client side).

[2021-06-24 08:10] PC-Chiu opened #15455 "`spring-cloud-starter-zipkin` has no longer exist with `spring-cloud-starter-***` v3.0.x"
When I use `generator-jhipster` v7.1.0 to generate a webflux gateway，I found the profile `zipkin` use dependency `spring-cloud-starter-zipkin`

but, `spring-cloud-starter-zipkin` has no longer exist with `spring-cloud-starter-***` v3.0.x

##### **Suggest a Fix**

Change dependency with `spring-cloud-starter-sleuth`

and add `spring-cloud-sleuth-zipkin`

##### **JHipster Version(s)**

v7.1.0

Other

[2021-06-24 08:50] gioma68 commented on #8668
Hi, I have developed a site using Jhipster, for customer need it must be deployed using a web context different from / , e.g. `/CustomerPortal`. Setting servlet context and BaseHrefWebpackPlugin({ baseHref: '/CustomerPortal' }), all wark well. Only the resolution of file i18n path is wrong. I follow @vidhya03 suggestion to set prefix for i18 resource resolution in webpack.common, but it dont't wor

[2021-06-24 09:25] pmverma commented on #15446
Oh thank @swarajsaaj . I think I need more sleep! 💤

[2021-06-24 09:25] #15446 closed

[2021-06-25 13:28] PC-Chiu commented on #15455
It can be see: https://github.com/spring-cloud/spring-cloud-release/wiki/Spring-Cloud-2020.0-Release-Notes#up-till-300-m5

[2021-06-25 13:38] HJK181 commented on #14862
Same for me on 7.1.0 and a plain gateway application. The error happens on login attempt as well:
[code]

[2021-06-25 18:44] mraible commented on #15359
Anything I can do to help with this?

[2021-06-25 19:00] atomfrede commented on #15359
Maybe you can reproduce it. Try upgrading to gradle 7.1 and run e.g. integrationTest and afterwarda integrationTest -Pprod. It should fail because Java compile is supposed to run again and tries to create classes via annotation processing which are already there.

[2021-06-25 19:43] mraible commented on #15359
I created a new project with [`blog-oauth2.jdl`](https://github.com/jhipster/jdl-samples/blob/main/blog-oauth2.jdl) and used Gradle instead of Maven.

Then, I installed Gradle 7.1 using SDKMAN: `sdk install gradle 7.1`

Next, I ran `gradle integrationTest`, followed by `gradle integrationTest -Pprod`.

I experienced no issues.

[code]

[2021-06-27 12:06] qmonmert commented on #15348
@pascalgrimaud I confirm the bug, I did a PR

[2021-06-27 18:28] amatosg commented on #15042
@atomfrede @DanielFran I'm having trouble accessing `primaryKey` in `EntityManager.java.ejs`. Any lights on how to import that value?

[2021-06-27 22:39] mshima commented on #15042
It’s not available only default `jhipsterConfig.pkType`.
If possible you should use generics or just Object.

[2021-06-28 01:05] henri-tremblay commented on #13604
Still valid I think

[2021-06-28 06:43] vishu184 opened #15485 "Micrometer 1.6.x doesn't support the Prometheus client 0.10.x"
##### **Overview of the issue**
Microservices depend , (created with Jhipster 7.0.1)

- package: io.micrometer.micrometer-registry-prometheus version: 1.6.5
- package: io.prometheus.simpleclient version: 0.10.0

Micrometer 1.6.x (latest) doesn't support the Prometheus client 0.10.x and it causes a runtime error when we are using any other integration which uses prometheus like spring batch , sprin

[2021-06-28 07:57] pascalgrimaud opened #15490 "New sub generators for modularity"
##### **Overview of the feature request**

The discussion started here https://groups.google.com/g/jhipster-dev/c/y_sER_CM3Hc

##### **Motivation for or Use Case**

The goal will be to start to create some new sub generators. To resume quickly:

Pro:
- easier to maintain, no more if else in templates with too much combinations
- easier to add new options
- easier for new contributors

Cons:
- dupl

[2021-06-28 08:44] #15069 closed

[2021-06-28 08:51] #14862 closed

[2021-06-28 09:44] vwiencek commented on #14567
Hello
I looked at this article https://github.com/MaxNeutrino/snippets/tree/master/webflux-websocket to try to add websocket support to JHipster gateways generated by version 7.1.0 but I ended up with a strange behavior.

I created a very simple gateway project here https://github.com/vwiencek/jhipster-websocket
- I added a `ws` package in `config` package, with 2 classes: `ServerConfiguration` [h

[2021-06-28 14:58] phanikiran-wtt-egov commented on #1569
We are facing same issue.
we have entities A,B,C
A one to many to B
A one to many to C

and am using the mapStruct for DTO.
Now the ADTO does not have bList and CList.
B and C DTO has A.
how do i get list of B and C DTO's in ADTO.
I can override the code and do it. but i have to make a lot of change.

[2021-06-28 15:20] #15348 closed

[2021-06-28 16:21] nicolasduminil opened #15493 "npm test doesn't pass"
##### **Overview of the issue**

Running the npm test commands displays 20 thousands errors

##### **Motivation for or Use Case**

npm test should pass

##### **Reproduce the error**

jhipster --skip-install
npm test

##### **JHipster Version(s)**

7.1.0

##### **JHipster configuration**

`jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Welcome to the

[2021-06-28 16:25] gmarziou commented on #15493
Why do you set `--skip-install`?

[2021-06-29 15:11] hundredplusfive opened #15507 "Gateway does not compile when no database is selected"
##### **Overview of the issue**

I am trying to create a API gateway application based off Spring Cloud API gateway. However, upon running the command "mvnw", the build succeeded with the following compilation error.

**Error thrown**
[code]

##### **Motivation for or Use Case**

The error states that it cannot find the CLASS file for "org.springframework.data.domain.Pageable". Which is indeed tru

[2021-06-29 21:24] er2 commented on #15007
I didn't get a reply to my last comment. Seems like a bug that I didn't get a `keycloak.yml` file. Should I make a new issue for that?

[2021-06-29 21:57] mraible commented on #15007
For microservices, we expect you to access them through a gateway. That's where the `keycloak.yml` file should reside.

We might change this behavior for micro frontends because it'd be cool to develop them in isolation. See #15311 for more information.

[2021-06-30 00:11] mraible commented on #13390
I'd still like to see this.

[2021-07-01 06:25] pascalgrimaud commented on #15068
Keep it

[2021-07-01 06:34] pascalgrimaud commented on #14235
Adding a bounty as it is a lot of work

[2021-07-01 06:36] pascalgrimaud commented on #15403
It's not a bug, as currently it works.
I changed to enhancement and added a bounty on this

[2021-07-01 06:40] pascalgrimaud commented on #15485
Cc @DanielFran : should we revert the upgrade?

[2021-07-01 06:42] pascalgrimaud commented on #15434
Plz, fill the template with all information, @hadimoradi1994

[2021-07-01 06:47] pascalgrimaud commented on #15342
Closing this as it is something we won't do right now
But I think with v8, you'll have this possibility :-)

[2021-07-01 06:47] #15342 closed

[2021-07-01 06:49] pascalgrimaud commented on #15309
Do you confirm this @wmarques @kaidohallik ?

[2021-07-01 06:53] pascalgrimaud commented on #15270
Agree with this answer, I don't think we should change the current behavior

[2021-07-01 09:17] DanielFran commented on #15485
@pascalgrimaud we can rollback and create a new bom version, or finish spring-boot 2.5 migration and stay with current version

[2021-07-01 09:54] AbelAlcaraz opened #15523 "Exception deploying to Google Cloud"
##### **Overview of the issue**

Trying to deploy project to GCP with command **./gradlew appengineDeploy -Pgae -Pprod-gae** and I'm getting error:

- Generating browser application bundles...
✔ Browser application bundle generation complete.
Webpack Bundle Analyzer saved report to /Users/abel/PROYECTOS/integria/stp/build/resources/main/stats.html
- Copying assets...
✔ Copying assets complete.
- G

[2021-07-01 17:08] Ivanov-Alexander opened #15524 "@embedded doesn't work with Mongodb"
##### **Overview of the issue**
Hi guys, tried to generate project via JDL but got next error:
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**
jhipster jdl .\application.jdl

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
7.1.0

##### **JHipster configuration**

Welcome to the JHipster Information Sub-Generator

##### **JHipster Version

[2021-07-01 17:11] Ivanov-Alexander commented on #15524
![image](https://user-images.githubusercontent.com/1621756/124163737-8c693c80-daa8-11eb-8191-73390c78ee80.png)

[2021-07-02 14:06] #14138 closed

[2021-07-02 21:14] #15359 closed

[2021-07-02 21:20] pascalgrimaud commented on #15359
@atomfrede : plz claim the bounty for the time to reproduce this issue and investigate

[2021-07-02 21:29] atomfrede commented on #15359
Let's first see if the issue is fixed 🙂

[2021-07-03 03:56] mshima commented on #15205
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/44492.

[2021-07-03 03:57] mshima commented on #15129
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/44491.

[2021-07-03 03:58] mshima commented on #14870
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/44490.

[2021-07-03 05:17] atomfrede commented on #14031
Keep it open

[2021-07-03 05:26] pascalgrimaud commented on #15205
@mshima : approved

[2021-07-03 05:28] pascalgrimaud commented on #15129
@mshima : approved

[2021-07-03 05:29] pascalgrimaud commented on #14870
@mshima : approved

[2021-07-03 05:38] pascalgrimaud commented on #14138
Adding a bounty as it was a bug
Plz claim it @kaidohallik

[2021-07-03 13:20] mshima commented on #15524
Need to change line:
[code]
to
[code]

We don’t have support to embedded entities in the frontend.

[2021-07-04 07:49] Tcharl commented on #14235
Thank you Pascal!

[2021-07-04 10:11] khodabandelu commented on #7574
@Blackdread please give me example of this issue.
i dont know how to have ( joins of more than 1 entity) in my spescification and whats method and signature i should use.

[2021-07-04 23:22] sang-w0o opened #15544 "Generating Blueprints failing on M1(ARM) Processor"
##### **Overview of the issue**

- While trying to create a vue.js blueprint, I get the error below.
![image](https://user-images.githubusercontent.com/48438083/124402218-d5034d00-dd69-11eb-8714-d6b2a61ae080.png)

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

- v7.1.0

##### **JHipster configur

[2021-07-05 00:26] gmarziou commented on #15544
`jhipster info` should be run in your project's directory to collect useful information.

[2021-07-05 02:10] wenbin9 opened #15545 "Sample jhipster-sample-app-gateway 7.1.0 can not start up success"
Dear jhipster,
       I clone jhipster-sample-app-gateway(https://github.com/jhipster/jhipster-sample-app-gateway.git).
And registry use jhipster-registry v6.8.0(https://github.com/jhipster/jhipster-registry.git) registry could start success.

But when start application encounter some error, and no change with sample app. The error as below, can you help with it?

**Environment: jdk11**

**Error i

[2021-07-05 04:34] atomfrede commented on #15544
Vue is part of the main generator since version 7. You don't need to use the blueprint anymore. The blueprint is not compatible with jhipster 7.

[2021-07-05 04:34] #15544 closed

[2021-07-05 04:34] atomfrede commented on #12558
Keep it open

[2021-07-05 09:41] gmarziou commented on #15545
As you can see in error, gateway cannot connect to service registry.

You must start JHipster registry before starting the gateway, it is documented int he first paragraph of the https://github.com/jhipster/jhipster-sample-app-gateway/README.md

docker compose -f src/main/docker/jhipster-registry.yml up

[2021-07-05 12:16] sang-w0o opened #15565 "Gateway application docker-compose failing on M1 Processor"
##### **Overview of the issue**

- Tried to create a Gateway Application using JHipster, but got errors as shown below.
- Before I hit `docker-compose` command, below log was shown saying that application was generated successfully.

[code]

- After I hit `docker-compuse -f src/main/docker/jhipster-registry/yml up`, below stack trace was shown.

[code]

##### **Motivation for or Use Case**

- This

[2021-07-05 12:26] wenbin9 commented on #15545
@gmarziou  Thanks for your reply. I did start registry first, and then start gateway application, but it seems encountered same error.
Did i missed some steps, can you give some advice? Thank you so much!

**The whole log:**
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 25 source files to D:\projects\jHipster\jhipster-sample-app-gateway-main\target\test-classes
[INFO] /D:/proj

[2021-07-05 12:34] sang-w0o commented on #15565
I just found out that I also get the error below.

[code]

[2021-07-05 12:40] mshima commented on #15565
See https://github.com/jhipster/jhipster-registry/issues/500

[2021-07-05 12:43] sang-w0o commented on #15565
Using `-XX:UseSSE=2` option in `_JAVA_OPTIONS_` solved this issue :(

[2021-07-05 12:43] #15565 closed

[2021-07-05 13:08] gmarziou commented on #15545
Have you looked at https://stackoverflow.com/questions/52447223/bean-of-type-org-springframework-http-codec-servercodecconfigurer-that-could-n

[2021-07-05 13:36] wenbin9 commented on #15545
@gmarziou  When I removed top error class GatewayResource,java, encountered below error, it seems cause by spring cloud gateway conflict with
spring-boot-starter-web

**Error:**
org.springframework.beans.factory.BeanCreationNotAllowedException: Error creating bean with name 'routeRefreshListener': Singleton bean creation not allowed while singletons of this factory are in destruction (Do not reque

[2021-07-05 14:47] wenbin9 commented on #15545
The link content do not work for me

[2021-07-05 16:45] thelearner214 commented on #14840
We are using this approach until a permanent solution: https://stackoverflow.com/a/68259478/15942962

[2021-07-06 11:48] atomfrede commented on #15359
Need to check why it seemed to work locally. Let's downgrade for now again :(

[2021-07-07 01:11] vw98075 opened #15577 "Outdate LDAP Document"
##### **Overview of the issue**

We need to integrate LDAP to a Jhipster app. We find a document on the subject https://www.jhipster.tech/tips/016_tip_ldap_authentication.html#ldap-authentication

After adding

      compile group: 'org.springframework.security', name: 'spring-security-ldap', version: spring_security_version

to the build file, we add

[code]
The about code isn't compilable. For e

[2021-07-07 04:20] zmhbh opened #15578 "string literal is expected"
##### **Overview of the issue**

Related to JDL - deployment, when I specify ingressType as nginx, it shows this 'Error: Error during import-jdl: A string literal is expected, but found: "nginx"
	at line: 9, column: 16'

##### **Motivation for or Use Case**

I cannot generate script for deployment of kubernetes

##### **Reproduce the error**

deployment {
  deploymentType kubernetes
  directoryPat

[2021-07-07 05:18] gmarziou commented on #15577
This a tip contributed by community, please consider contributing its update.

https://github.com/jhipster/jhipster.github.io/blob/main/tips/016_tip_ldap_authentication.md

[2021-07-07 12:06] levantuy opened #15588 "I can't getValues from ValidatedForm when add element outside ValidatedField"
##### **Overview of the issue**
I can't getValues from ValidatedForm when add element outside ValidatedField
[like image](https://files.gitter.im/55561bce15522ed4b3e07540/E74o/image.png)

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

version: 7.19.0

##### **JHipster configuration**

##### **En

[2021-07-07 14:08] levantuy commented on #15588
![image](https://user-images.githubusercontent.com/29721979/124773853-858a7000-df67-11eb-833a-d017025c3fbf.png)

[2021-07-07 20:45] MukhinAlexey commented on #15578
The same issue for me on my MacOS BigSur 11.2.2 with JHipster 7.1.0

`ERROR! Error during import-jdl: A string literal is expected, but found: "nginx"`

More of a stack trace

`
error: Syntax error message:
	A string literal is expected, but found: "nginx"
	at line: 80, column: 15
Error during import-jdl: Error: A string literal is expected, but found: "nginx"
	at line: 80, column: 15
Error: A str

[2021-07-07 20:54] amatosg opened #15589 "🚀 Resources shouldn't consume Repository directly"
##### **Overview of the feature request**
In order to maintain good code quality, `Resource` layer shouldn't be using the `Repository` directly, but through the `Service` layer instead.

##### **Motivation for or Use Case**
This file
https://github.com/jhipster/generator-jhipster/blob/bad53a5fdb7cee3b307fbfa8fec51b8f99035c68/generators/entity-server/templates/src/main/java/package/common/inject_te

[2021-07-07 22:57] mmaia opened #15590 "Error happens when executing "jhipster gae" to generate google cloud files for monolith generated app without any customization"
##### **Overview of the issue**

In a new generated Jhipster monolith application without any changes the command for google cloud fails. -> 'jhipster gae'

##### **Motivation for or Use Case**

I was doing a PoC to build a new project with JHipster and first thing I was validating is support to Google Cloud Platform

##### **Reproduce the error**

Generate e new monolith application with Postgres

[2021-07-08 05:33] atomfrede commented on #14949
Keep it open

[2021-07-08 05:55] MathieuAA commented on #15578
Hello, thanks for the report. I'll handle it.

[2021-07-08 05:59] MathieuAA commented on #15589
Hello @amatosg :) The service layer can be generated through the `service` option and if it is the case: the controller would need a service to be created, and the service would need the repository (DI).
Sometimes adding an additional layer makes sense but here for simple apps... the service layer can be omitted.

[2021-07-08 10:39] muhannadalhariri commented on #14841
I have tried the field type with Long and it worked like a charm

[2021-07-09 03:04] mraible commented on #13733
I believe we can do it!

[2021-07-09 06:29] #15578 closed

[2021-07-09 06:30] MathieuAA commented on #15578
The fix has been merged, and the doc has been updated too. Thanks again for the report.

[2021-07-09 06:45] jdubois commented on #13733
@mraible oh yes we will!!! I have some time today, who's with me?

[2021-07-09 12:45] sendilkumarn opened #15617 "Blueprint generator fails on upgrade command"
##### **Overview of the issue**

When running upgrade command from a project generated with blueprint, the upgrade command fails with version undefined error.

##### **Motivation for or Use Case**

It should not be mandatory for blueprints to implement `upgrade` subgenerator

##### **Reproduce the error**
Install KHipster & run `khipster upgrade`
[code]

##### **Related issues**

https://github.co

[2021-07-09 14:00] mshima commented on #15617
Currently the blueprint version is required: https://github.com/jhipster/generator-jhipster/blob/ad341f560fe4130c9d3ba45cd4b5f15256f84530/generators/upgrade/index.js#L454.

Just workaround that condition will not fix the problem.

[2021-07-09 15:43] jdubois commented on #15387
@DanielFran I'm having a solution for Elasticsearch, but that's really complicated

[2021-07-09 15:48] Prof-daniel-Fiap opened #15619 "Jhipster 7 does not generate admin-ui pages even when it was chosen during project creation"
Jhipster 7 does not generate admin-ui pages even when it was chosen during project creation

[2021-07-09 16:26] jdubois commented on #15387
I started implementing is in https://github.com/jdubois/generator-jhipster/commit/25f1acb441bdd931269f773eabd06c81e1b84140

My main blocker at the moment is that this returns a Stream of objects, so this won't work with pagination. Maybe we need to remove pagination for Elasticsearch, as it's a stream?

[2021-07-10 15:09] rvong commented on #15074
Not sure what above bot comment means.

[2021-07-11 13:32] mshima opened #15621 "Two steps templating with needles support"
Two steps templating https://github.com/jhipster/generator-jhipster/pull/15494 introduced a modular templating system that makes simple to modularize a template file.

But it’s not compatible with needles and always requires a full regeneration.

The solution is to optionally auto generate needles for every two steps insertion points.

1. Needles insertion points only
Just write the needles with n

[2021-07-11 13:39] mshima commented on #15621
cc @pascalgrimaud

[2021-07-11 20:31] vishal423 commented on #14864
I have a working prototype with `Auth0`, will raise a PR in a day or two

[2021-07-12 07:45] avdev4j commented on #14539
Keep it open please. Work in progress

[2021-07-12 21:40] amatosg commented on #15589
Although I don't agree on such exceptions, I respect the decision 😃

[2021-07-12 21:40] #15589 closed

[2021-07-14 04:25] gkysaad commented on #14745
I've created a PR with my fixes and implementation for Spring Data Couchbase 4.

[2021-07-14 15:53] tcarlisle2012 opened #15655 "JHipster 7.1 -- TLS profile not working (Angular)"
##### **Overview of the issue**

Generating a new app with jhipster, and selecting all the default answers, the TLS profile does not quite work. On the Spring Boot side, launching the back end with ./mvn -Pdev,tls works and the back end comes up with an https URL.

But on the Angular client side, the docs instrict to run:
npm run start-tls

and that is not successful and procudes the error below:

[2021-07-15 08:28] niniss commented on #13081
Hello, I agree that a standalone UAA blueprint it's the best solution until Spring AUTH server is only on experimental step and can be removed at any time !

[2021-07-15 10:29] DanielFran commented on #15485
Closed by #15633

[2021-07-15 10:29] #15485 closed

[2021-07-15 10:31] DanielFran commented on #15387
Closed by #15633

@jdubois do not forget to request the bounty

[2021-07-15 10:32] #15387 closed

[2021-07-15 10:37] DanielFran commented on #14287
@ecostanzi any progress on the generator?

[2021-07-15 12:12] jdubois commented on #15387
@DanielFran you also did a big part of the work here! It's such a huge PR, it should have been $500 anyway, let me update it. -> how about you get $200 and I get $300?

[2021-07-15 12:14] DanielFran commented on #15387
Ok for me, many thanks! 👌

[2021-07-15 12:23] jdubois commented on #15387
That's normal! And I might not claim the money, but expense some stuff I need for streaming - I feel bad taking money here

[2021-07-15 14:49] jidma commented on #14463
Keep it open. A PR is being reviewed at liquibase side.

[2021-07-16 02:29] cklee75 commented on #9322
Seems there are more benefits to use unique sequence for each entity than global sequence. May refer to [Which is better: single global sequence vs. sequence per table?](https://stackoverflow.com/questions/7774644/which-is-better-single-global-sequence-vs-sequence-per-table) and [Asking for opinions : One sequence for all tables
](https://stackoverflow.com/questions/1536479/asking-for-opinions-one

[2021-07-16 14:20] egvimo commented on #13687
Keep the issue open, please. 🙂

[2021-07-16 14:58] nicolas63 opened #15664 "Jhipster 7.1.0 migration on the dotnet blueprint"
##### **Overview of the issue**

After update to 7.1.0 on the dotnet blueprint (https://github.com/jhipster/jhipster-dotnetcore/pull/798), I have a stange error on the react generation
https://github.com/jhipster/jhipster-dotnetcore/runs/3087159523?check_suite_focus=true#step:9:537

Can you help me to debug this ? i think it's due to redux

##### **Reproduce the error**

##### **Related issues**

[2021-07-18 13:34] renanfranca commented on #14235
@Tcharl congratulations for the idea! This will help me a lot to understand the code base.

How can i help here? Where do you need help?

It will be my first time as Jhipster contribute 😀. I want to help and learn more about the code base too.

My experience with Jhipster: I built an personal blue print to slightly change how the spring boot Backend code is generated and add some custom annotation

[2021-07-18 18:46] Tcharl commented on #14235
Hi @renanfranca , glad it has helped at least someone :-).

Any help is welcome for sure: I'm amending all the files from top to bottom (I'm at generator/languages). If you want to contribute, you can amend file from the bottom to the top (starting from utils/relationship.js), we'll join one day or another :-).

You can take a look at the MR that have already been done if you want some guidance.
B

[2021-07-18 18:48] Tcharl commented on #14416
Keep open

[2021-07-18 20:30] renanfranca commented on #14235
@Tcharl, thank you for the fast and detailed response! I've already made the fork and I'm trying to understand what I have to change at utils/relationship.js. For example:

[code]
There are those relationship-type as string at the code. I search for this types at jdl/jhipster/ folder and they aren't defined. **Question:** _Should I leave that way (no work to be done here)?_

Looking at next top fi

[2021-07-19 06:56] Tcharl commented on #14235
Everything that can make our lovely developper folding to be able to add a new type/technology/relationship is welcome :-)

[2021-07-19 11:46] Piscenois opened #15686 "Failed to start with newly generated microservice with hazelcast"
##### **Overview of the issue**

When I start newly created microservice + hazelcast project I get this error output :
<pre>
[...]AdoptOpenJDK\jdk-11.0.11.9-hotspot\bin\java.exe -XX:TieredStopAtLevel=1 -noverify -Dspring.output.ansi.enabled=always "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA 2021.1\lib\idea_rt.jar=52496:C:\Program Files\JetBrains\IntelliJ IDEA 2021.1\bin" -Dcom.sun.managem

[2021-07-19 15:59] vw98075 opened #15687 "Logout Error For OAuth Implementation With Vue"
##### **Overview of the issue**

Unable to log out after log into an app generated by JHipster.

On the browser console:
[code]
In the command line console:
[code]
And the line 35
[code]
##### **Motivation for or Use Case**

Able to log out

##### **Reproduce the error**

On the web UI, a user is still logged in after clicking "Sign out"

##### **Related issues**

##### **Suggest a Fix**

##### **

[2021-07-19 16:23] vw98075 commented on #15687
I can't find where the end_session_endpont is defined. I replaced the line with "/" for logoutUrl to work around the error.

[2021-07-19 17:32] vishal423 commented on #15687
Default implementation expects `end_session_endpont` to be exposed by the IDP `.well-known/openid-configuration` endpoint. The OOB supported `keycloak` and `okta` do provide the endpoint details in the above metadata API response. If you are using any other IDP, then, you need to crosscheck the supporting documentation and adjust the code accordingly.

[2021-07-19 18:46] vw98075 commented on #15687
Thanks for your quick reply. The field isn't in the URL endpoint. I will report the missing field to Gitea which I use as an OAth2 provider.

[2021-07-19 19:04] vishal423 commented on #15687
You may have to adjust code like [Auth0](https://github.com/jhipster/generator-jhipster/pull/15634/files#diff-d119f2b061fbd0c57dd397742cf58e3bd1324a69bb6137fc2ff2c4a78572fa07R66) based on your IDP provider documentation. You can refer the linked PR as a reference to adjust UI logout code, `cypress` tests etc.

I will close the issue as we can't do much over here

[2021-07-19 19:04] #15687 closed

[2021-07-21 08:54] oliosien opened #15705 "Set time to end for log level settings"
##### **Overview of the feature request**

It'd be a nice feature when I change a log level for a logger, show a field where administrator can write a date time until the new level must work. After this time the log level will return as it was before the change.

##### **Motivation for or Use Case**

If I set a debug level for a specific logger and I forget it, log file will increase and cause a d

[2021-07-21 17:38] carestra opened #15706 "Jhipster 7.1.0 Cant generate a working Gateway, throws BlockHoundTestExecutionListener could not be instantiated"
##### **Overview of the issue**
Jhipster 7.1.0 Cant generate a working Gateway, after gateway is generated and runing 'mvn clean install' on the project one gets;

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M5:test (default-test) on project blog-gateway: There are test failures.
[ERROR]
[ERROR] Please refer to /<removed intentionally>/target/surefire-report

[2021-07-21 21:24] gmarziou commented on #15706
Is it all the log you got? Are you sure you did not forget to include the test errors from above?

Also, please paste out put of `jhipster info` as requested in the issue template.

[2021-07-22 05:29] carestra commented on #15706
Hi @gmarziou ,

I did but I manage to include a comment in the template, now the issues has been updated.
I include here the 'surefire-reports'.
2021-07-21T19-24-13_215-jvmRun1.dump
[code]

[2021-07-22 13:47] The-Crocop opened #15713 "Embedded Elasticsearch"
##### **Overview of the issue**

Before Upgrade to 7.1.0 we used to run elasticsearch embedded for local development. That worked just fine.
After the upgrade jhipster switched to Spring Elasticsearch and now embedded option does not work anymore
I wonder if that is on purpose or it is a bug? And is there a way to get back old behavior or is jhiptser now meant to run elasticsearch with docker only

[2021-07-23 07:14] avdev4j commented on #15058
Keep it open

[2021-07-23 08:15] nicolas63 commented on #15664
maybe link to https://github.com/jhipster/generator-jhipster/issues/15033

i have the same error than @deepu105 in https://github.com/jhipster/generator-jhipster/issues/15033#issuecomment-846588253_

[2021-07-23 08:46] atomfrede commented on #15706
Are you using j9 on purpose? Can you try adopt openjdk with hotspot vm?

[2021-07-23 08:47] atomfrede commented on #15619
Can fill the issue template please?

[2021-07-23 09:18] carestra commented on #15706
yes, I read some where that "J9 compare to hs has higher start-up performance and lower memory consumption", thats why I chosed j9.

I  switch to hs and no exceptions are throwed when trying to reproduce bug.
`openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)
`

so

[2021-07-23 09:56] atomfrede commented on #15706
It looks like a blockhound/j9 specific issue.

* https://github.com/reactor/BlockHound/issues/21
* https://github.com/eclipse-openj9/openj9/issues/771

So I think we can close this here, as it is not jhipster related.

[2021-07-23 09:56] #15706 closed

[2021-07-23 13:23] Prof-daniel-Fiap commented on #15619
**Overview of the issue**

Jhipster 7 does not generate admin-ui pages even when it was chosen during project creation

Motivation for or Use Case

I want to use admin ui.

**Reproduce the error**

Create one project, answer yes for admin-ui

**Related issues**

Couldnt find similar issues

**Suggest a Fix**

compare with version 6

**JHipster Version(s)**
7.1.0

[2021-07-23 14:30] vishal423 commented on #15619
@Prof-daniel-Fiap , can you provide output of `jhipster info`?

[2021-07-23 15:17] Prof-daniel-Fiap commented on #15619
? Which *type* of application would you like to create? Monolithic application (recommended for simple projects)
? What is the base name of your application? teste_app
? Do you want to make it reactive with Spring WebFlux? No
? What is your default Java package name? com.mycompany.myapp
? Which *type* of authentication would you like to use? JWT authentication (stateless, with a token)
? Which *ty

[2021-07-23 15:18] Prof-daniel-Fiap commented on #15619
[INFO]
[INFO] -------------------< com.mycompany.myapp:teste-app >--------------------
[INFO] Building Teste App 0.0.1-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- frontend-maven-plugin:1.12.0:install-node-and-npm (install-node-and-npm) @ teste-app ---
[INFO] Installing node version v14.17.1
[INFO] Copying node binary from C:\Users\dani

[2021-07-23 15:22] Prof-daniel-Fiap commented on #15619
this time I use jwt instead oauth2 and it admin-ui worked. when I had the problem I was using oauth2 with keycloak, it maybe related.

[2021-07-23 15:25] #15619 closed

[2021-07-23 15:26] Prof-daniel-Fiap commented on #15619
it is working now! I don't know what happened.

[2021-07-23 17:44] vw98075 opened #15722 "Vue UI doesn't reflect application backend errors"
##### **Overview of the issue**

Case 1: Due to a misconfigured email service, an email doesn't send out for the password reset. There is a message indicating an email is sent on the UI despite the backend email error, nor any error message in the browser console.

Case 2: After editing entity data, a unique database constrains error doesn't show up on the UI. In fact, the UI has no indication of

[2021-07-23 18:42] gmarziou commented on #15722
@vw98075 have you verified the web response sent by backend in browser dev tools? It should help to determine whether the problem is in Vue only or not.

[2021-07-24 17:07] vishal423 commented on #15423
I tried the steps locally, and the protractor tests seem to work intermittently. I think the issue is with the protractor test suite.

[2021-07-26 04:12] atomfrede commented on #14226
Keep it open

[2021-07-26 12:42] jdubois commented on #15387
$300 is about 250 Euros, I'll expense the latest computer stuff I bought for that amount (cc @pascalgrimaud @deepu105 ) as at least I'll use them for JHipster

[2021-07-26 12:52] jdubois commented on #15387
Here is the expense: https://opencollective.com/generator-jhipster/expenses/46096

[2021-07-26 12:55] pascalgrimaud commented on #15387
you're too fast, not enough time to approved :)

[2021-07-26 17:40] vw98075 commented on #15722
I update my report with more details. For the email, there isn't any error reported on the front end. For the DB error, the 500 is shown on the browser console. So, the error isn't picked in the Vue front end.

[2021-07-26 18:15] vw98075 opened #15744 "Browser Language Preference Needs To Be Honored"
##### **Overview of the issue**

When Spanish is on the top of the language setting in my browser, my app still shows the content in the default language, English although Spanish is a language in my app.

##### **Motivation for or Use Case**

The browser language setting needs to be honored.

##### **Reproduce the error**

Create an app with multiple languages such as English as the default langu

[2021-07-26 18:28] vw98075 opened #15745 "Importing The Same JDL File Multiple Times Will Lead to Duplicated Menus Items With The Vue Front End"
##### **Overview of the issue**

After importing the same JDL file a second time, I notice that there are duplicated menu items under the Entities menu. After importing the same JDL file one more time, there are a third set of menu items.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create a JDL file with at least one entity. Import the file multiple times. Bring up the ap

[2021-07-26 18:30] vw98075 opened #15746 "DB Columns Are Not Removed After Removing Fields In Entity"
##### **Overview of the issue**

After removing two fields of an entity in a JDL file, I import the file again. In the app, all related changes occur. The H2 in the dev environment still has the related two columns. When I start up the app, there are related error messages on the console.
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### *

[2021-07-26 19:19] vw98075 opened #15747 "Email Pattern Leads To Importing JDL Failure Due To A JavaScript Error"
##### **Overview of the issue**

On the online JDL-studio, I create a JDL file without any errors. After importing it, I get an error "TypeError: cannot read property 'charCodeAt" of undefined".

[code]
Due to this error, the importing process doesn't complete. The cause is the email regular expression pattern in the JDL file.
[code]
The regular expression is for Java. As @Gaël mentioned, Javascri

[2021-07-26 20:09] gmarziou commented on #15722
Thanks but you did not say what the web response was?. You only said error 500, does it mean that it does not have JSON body like I thought ti would due to the contraint violation being handled by [ExceptionTranslator](https://github.com/jhipster/jhipster-sample-app/blob/main/src/main/java/io/github/jhipster/sample/web/rest/errors/ExceptionTranslator.java)

[2021-07-26 20:43] gmarziou commented on #15746
This is normal, Liquibase changesets are supposed to be immutable, cehck our doc https://www.jhipster.tech/development/  or https://stackoverflow.com/questions/43207163/jhipster-liquibase-validation-error-after-modify-entity/

Since Jhipster 7, you can also use incremental changelogs: https://www.jhipster.tech/creating-an-app/#would-you-like-to-use-incremental-liquibase-changelogs

[2021-07-26 20:43] #15746 closed

[2021-07-26 20:52] gmarziou commented on #15744
I think this is a specific choice for your app, I'm not sure it would make sense to make it the default behavior. You can still implement it yourself with Spring LocaleResolver

[2021-07-26 22:47] vw98075 commented on #15744
What I described is the correct multi-language web application behaviour. For example, Gitea, a Github like application, demonstrates the multi-language behaviour. The language setting in the browser will dictate the language display in the application. Try https://try.gitea.io/

[2021-07-27 01:55] madhavdutta commented on #14492
Thanks @hoomb it worked.

[2021-07-27 07:51] gmarziou commented on #15744
You have described one way of doing it, there are other ways. Personally, I prefer that each application use its own preferences rather than relying on a global browser setting.

But maybe your proposition could be a good default and you could contribute it.

[2021-07-29 04:55] atomfrede commented on #15490
Keep it open

[2021-07-29 15:02] vw98075 commented on #15722
I thought that the error should indicate where the problem is. The back-end error didn't catch on the front-end code. A pop-up message was expected. I add the response message to my post.

[2021-07-29 17:27] levantuy commented on #15588
please provide solution. it is big bug

[2021-07-29 20:02] gmarziou commented on #15722
OK, so the backend correctly caught the error and provided the information to the Vue app which did not use it for display purpose.

This is clearly a JHipster Vue issue, I know only Angular where it is done by an interceptor that broadcasts errors to components including the one that deals with alert popups.

So, I suppose in Vue it should be done in axios-interceptor.ts but I don't see any handl

[2021-07-29 22:50] vw98075 commented on #15722
I hope that this problem can be fixed in the next release. I don't know when it will happen then.

[2021-07-30 04:42] atomfrede commented on #13755
Keep it open

[2021-07-30 08:00] gmarziou commented on #15722
You could also consider contributing a fix to the community.

[2021-07-30 14:58] vw98075 commented on #15722
I would if I were not busy on my project.

[2021-07-31 10:47] DanielFran opened #15783 "Update Keycloak version to v15"
##### **Overview of the feature request**

See https://www.keycloak.org/2021/07/keycloak-1500-released.html

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2021-07-31 10:48] DanielFran commented on #15783
Ping @vishal423

[2021-07-31 14:47] mshima opened #15784 "Provide a custom prefix for generator tasks"
##### **Overview of the feature request**

Add a custom prefix for tasks and allow public methods without `_` prefix.

##### **Motivation for or Use Case**

Yeoman’s conventions makes every Generator prototypes method/getter without `_` prefix a task.
As the generator becomes more complex and extensible, public methods are required and must be prefixed with `_` which is a private method convention

[2021-07-31 19:23] vishal423 commented on #15783
I will take a look in a day or two

[2021-08-01 02:53] akang commented on #15588
Are you using components that are generated out of the box from a standard JHipster application?

[2021-08-01 15:27] gmarziou commented on #15588
@levantuy please paste output of `jhipster info` as it was suggested in issue template or share a git repository that shows the problem. So far, you have given very little details.

[2021-08-02 02:06] asgh-mh commented on #15545
Any ideas here? I'm having the exact same issue:

`Parameter 0 of method modifyRequestBodyGatewayFilterFactory in org.springframework.cloud.gateway.config.GatewayAutoConfiguration required a bean of type 'org.springframework.http.codec.ServerCodecConfigurer' that could not be found.`

[2021-08-02 07:55] Tcharl opened #15815 "Cleanup some option"
##### **Overview of the feature request**

There are some options that are not relavant.

When selecting a NoSQL database, the dev and the prod configuration is using that exact same datasource.
As an opposite, dev and prod database can be different when the user want a SQL one.

So here, I guess that we can simplify our options:

`databaseType` can only be `sql, cassandra, mongodb, neo4j, couchba

[2021-08-02 10:21] thien1710 commented on #10031
Nice solution! Thanks a lot.

[2021-08-02 13:12] mshima commented on #15815
Yes. I think they were added recently.
Those configs resides inside sql generator in my modular prototype.

[2021-08-02 16:50] mraible commented on #15311
Keep it open please.

On Sun, Aug 1, 2021 at 6:05 PM github-actions[bot] ***@***.***>
wrote:

[2021-08-02 21:03] mmuruev opened #15821 "Google Keycloak integration"
In freshly generated project failed authentificate with keycloak.. I'm using latest JH 7.1.0 , local authentication is fine. But google refuses provide the keys.  I'm really not sure that this is JH fault.  Maybe it just not going to work with localhost anyway.

[code]

[2021-08-03 01:26] vw98075 opened #15822 "Mixing dto with non-dto entities results in error"
##### **Overview of the issue**

A simple JDL file with two entities. One of them, A, has DTO and the other one, B, doesn't. The A and B have a many-to-one relationship. The generated code won't comply due to code errors.
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster co

[2021-08-03 08:07] gmarziou commented on #15822
OK but does it make sense? Maybe it should be prevented to define relationships between entities if they don't use same DTO options.

[2021-08-03 13:03] akang commented on #15747
Have added a fix to skip fake data generation if the regex pattern is invalid in Javascript. A warning informing of this is issued instead to the console.

[2021-08-03 13:45] mrtklein opened #15835 "IntegrationTest fails because an entity has a filter and chained required fields"
##### **Overview of the issue**

An integration tests try to use the same entity multiple times, which in my case leads to a Unique index or primary key violation.

More detailed:

The error occurs because the @BeforeEach method initTest() inside the DeliveryResouceIT creates a driver with a person.

The getAllDeliveriesByDriverIsEqualToSomething() method checks if a person has already been create

[2021-08-03 21:31] vw98075 commented on #15822
I can see your point. I also prefer that the entity doesn't have a service class because there isn't any business logic for the entity. To my observation, a service class will be created for an entity with DTO regardless of your choice in the service class.

[2021-08-04 12:56] Ayed-Oukhay opened #15847 "Trying to create a user account from a new entity"
Hello everyone,

First of all i'm new to Jhipster, i've read the official documentations but i still can't seem to find a solution to my problem (i've been stuck for almost 3 weeks now), that's why i decided to ask here for help.

So, i have an application where i need to create an entity called employee and i need to create a user account with the additional fields taht are specified in the emplo

[2021-08-04 14:05] gmarziou commented on #15847
Please use [gitter](https://gitter.im/jhipster/generator-jhipster) or [stackoverflow](https://stackoverflow.com/questions/tagged/jhipster) for questions

[2021-08-04 14:05] #15847 closed

[2021-08-04 18:57] mraible commented on #15821
Can you please provide steps to reproduce this issue?

[2021-08-04 19:22] mraible commented on #15423
Maybe it'd be better to [migrate to Cypress](https://docs.cypress.io/guides/migrating-to-cypress/protractor)?

[2021-08-04 19:55] mmuruev commented on #15821
Yes. I just generated a monolith project with keycloack empty one. Added google account in keycloak.
- sign in link -> google -> fail on the page and this error in keycloak.
The application runs in docker.

[2021-08-04 22:40] QualiaCommunications commented on #15309
@wmarques and @kaidohallik do not seem to be active at the moment. Anyone else, who can look into this?

[2021-08-05 16:23] mraible commented on #13733
I hope to look into this sometime in the next week.

[2021-08-05 18:37] mshima commented on #15069
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/47094

[2021-08-05 18:58] pascalgrimaud commented on #15069
@mshima : approved

[2021-08-05 19:22] mshima opened #15869 "Integrate generator-jhipster-blueprint into generator-jhipster"
##### **Overview of the feature request**

Move https://github.com/jhipster/generator-jhipster-blueprint generator into this repository.

##### **Motivation for or Use Case**

- Last release of generator-jhipster-blueprint is based on JHipster 6, it will easy maintenance.

- With https://github.com/jhipster/generator-jhipster/issues/15490 proposal, we are splitting the generators into many others.

[2021-08-05 19:24] agriboss commented on #15383
I also was getting a 415 error for this... Adding "application/json" as suggested to the mapping annotation worked.  I don't know if the preferred way would be to manually override the content type in angular or to do as suggested above.

[2021-08-05 21:26] DanielFran commented on #14463
@jidma PR in liquibase project has been merged and has been included in v.4.4.3.
Waiting for official release.

[2021-08-05 21:30] DanielFran commented on #15383
@PiperDing @agriboss Would you mind contributing with a PR?

[2021-08-06 05:00] jasonmarco commented on #15366
I'll start working on a PR for this.
There also seems to be an issue where `--skip-client` skips model.ts creation. The model is necessary if an entity with a generated client has a relationship with the entity that does not.

Skipped: `src/main/webapp/app/entities/foo/foo.model.ts`

[2021-08-06 05:02] egvimo commented on #15282
I still have the issue.

[2021-08-06 06:51] tsendee0409 opened #15881 "Not working in new Macbook M1"
I am used to [https://hub.docker.com/r/jhipster/jhipster](https://hub.docker.com/r/jhipster/jhipster) in docker. I'v recently bought a new Macbook pro M1. Unfortunately, jhipster container doesn't work in M1. Only linux/amd64 is available in the docker hub.
Is linux/arm64/v8 going to be supported?

[2021-08-06 08:28] PiperDing commented on #15383
yes ，I will do it right now

[2021-08-06 15:12] #15383 closed

[2021-08-07 07:44] sdebnath commented on #15545
@gmarziou  I have noticed same error after creating the gateway app from  existing .yo-rc.json but switching reactive to  false in  the file. The default generator seems to be producing reactive Java app by default now and not giving the option via  the  wizard. Hence the  work around with changing it in .yo-rc.json and having to re-generate the application. Which unfortunately, leads to this erro

[2021-08-07 07:51] sdebnath commented on #15545
Another hint: although it respects the manually set reactive option as false, enableHibernateCache keeps getting reset to false even though I change it to true (I want my second level caching).

Perhaps on an unrelated note: skipUserManagement also gets switched to true when withAdminUi is true, but this is more annoying than a show stopper. It was manually set  to false prior to running jhipster.

[2021-08-07 08:06] ashishkp opened #15884 "Jhipster 7.1 with React Prod build fails with webpack error"
##### **Overview of the issue**

1. Create a Monolith Application with React Frontend from https://start.jhipster.tech/.
2. Unzip content
3.  ./gradlew -Pprod bootJar

Fails with below error (It's also reproducible with Maven build, same error).

[webpack-cli] Error: Cannot find module 'workbox-build/build/options/schema/webpack-generate-sw'
Require stack:

    at Function.Module._resolveFilename

[2021-08-07 09:28] mshima commented on #15884
Nothing we can do about this https://github.com/GoogleChrome/workbox/issues/2904.
Update your workbox-webpack-plugin dependency.

[2021-08-07 09:29] #15884 closed

[2021-08-07 13:11] agriboss opened #15887 "PATCH request should update collections"
##### **Overview of the feature request**

PATCH will not currently update relationships.  For example, calling patch on a child while passing a new parent will return 200 OK response, but the relationship will not in fact be updated in the database.

##### **Motivation for or Use Case**

PATCH seems preferable to PUT for a lot of use cases since you do not need to pass the entire object to save o

[2021-08-07 14:15] ashishkp commented on #15884
Thanks @mshima for pointing dependency.

As per the workaround mentioned, workbox-webpack-plugin v6.2.0 is not backward compatible and so fix should be applied in following files as "~6.0.2" instead of "6.2.0"

generators/client/templates/react/package.json
generators/client/templates/vue/package.json

[2021-08-07 17:21] #14864 closed

[2021-08-08 07:49] Tcharl commented on #15282
Can you please try with 7.1.0? I had the same issue with 7.0.1

[2021-08-08 12:10] shershen08 commented on #12558
in addition to a summary https://github.com/jhipster/generator-jhipster/issues/12558#issuecomment-753474557 by @atomfrede

As I understood https://github.com/bootstrap-vue/bootstrap-vue/issues/5196 doesn't have candidate MR that's being actively worked on, it's more a collection of problems and links how people approach Vue2->Vue3 upgrade in BootstrapVue community.
There's also this rewrite from s

[2021-08-08 18:58] shershen08 commented on #15311
can't reproduce the initial command

[code]

error I get:
[code]

[2021-08-09 06:58] egvimo commented on #15282
Same error with 7.1.0. 😞

[2021-08-09 10:44] Gowtham-GitHub commented on #15884
Hi Ashish,

Since I'm a newbie, Can you please be more specific? Actually I was making changes to the following files

~/environment/tripmgmt/node_modules/generator-jhipster/generators/client/templates/react/package.json
~/environment/tripmgmt/node_modules/generator-jhipster/generators/client/templates/vue/package.json

for the line `"file-loader" : "6.2.0"` as `"file-loader" : "~6.0.2"`

the abov

[2021-08-09 11:02] mshima commented on #15884
The workaround is:
Generate the application using `jhipster --skip-install`.
Update workbox `npm install workbox-webpack-plugin@latest`

[2021-08-09 11:05] Gowtham-GitHub commented on #15884
Thank you Marcelo, let me try that.

[2021-08-09 15:42] andreidiaconescu commented on #7157
hello @ruddell
how can i do this change using the docker image ?

thank you.

[2021-08-09 17:03] mraible commented on #15311
@shershen08 You have to copy the JDL in this post to a `mf.jdl` file for this to work. Otherwise, the `jdl` command tries to pull from https://github.com/jhipster/jdl-samples.

[2021-08-09 18:59] shershen08 commented on #15311
yes, indeed I was missing a correctly named file

[2021-08-09 19:00] shershen08 commented on #15311
from brief analysis plugin is imported but not activated
[code]
in store/webpack/webpack.custom.js and blog/webpack/webpack.custom.js

[2021-08-10 01:11] vw98075 commented on #15577
I don't have time to do anything regarding this problem. The page possibly shall be removed due to the out-of-date content.

[2021-08-10 08:37] Tcharl commented on #15590
Sorry, my fault, currently working on it

[2021-08-10 08:47] Tcharl commented on #14363
keep open

[2021-08-10 18:02] jhcao23 opened #15917 "failure running local blueprint with local jhipster"
##### **Overview of the issue**

I'm trying follow the instruction [Create a Blueprint -> Running local blueprint with local jhipster](https://www.jhipster.tech/modules/creating-a-blueprint/#running-local-blueprint-version-for-development) but always get a failure. My suspect is JHipster does not provide a nicely friendly interface to blueprint?

##### **Motivation for or Use Case**
Sometimes we n

[2021-08-11 14:29] carestra commented on #11097
Hi @mrts did you have time to write documentation regarding TLS usage in a microservice architecture?

I have problem enabling TLS in dev, see https://stackoverflow.com/questions/68742327/jhipster-v7-1-0-tls-support-in-dev-not-working-app-crashes-or-throw-exception
Any help is much appreciated.

[2021-08-11 18:52] #15722 closed

[2021-08-11 20:33] #15590 closed

[2021-08-12 03:11] asgh-mh opened #15933 "GatewayAutoConfiguration required a bean of type ServerCodecConfigurer that could not be found."
##### **Overview of the issue**

[code]
##### **Motivation for or Use Case**

JHipster gateway won't start

##### **Reproduce the error**

Use the attached .yo.json and generate the code, then start a registry and try to run.

(I personally removed all dependencies on hibernate, but I don't believe it's necessary.)

##### **Related issues**

Related to #15545

##### **Suggest a Fix**

People sugge

[2021-08-12 04:12] atomfrede commented on #14949
Keep it open

[2021-08-12 12:49] Tcharl commented on #14840
Someone to identify a potential solution?

[2021-08-12 14:44] mraible commented on #15933
A non-reactive gateway is not supported in JHipster 7. This is because Spring Cloud removed support for Zuul in Spring Boot 2.4 and we were forced to make Spring Cloud Gateway the only option for gateways.

If you change your `.yo-rc.json` to have `"reactive": true`, everything will work.

The original ticket is at https://github.com/jhipster/generator-jhipster/issues/13855.

@pascalgrimaud If rea

[2021-08-12 15:01] mraible commented on #15545
`"reactive": false` is not supported for Spring Cloud Gateway. Follow https://github.com/spring-cloud/spring-cloud-gateway/issues/36 to see when it'll support Spring MVC.

[2021-08-12 15:01] #15545 closed

[2021-08-12 15:12] mraible commented on #15507
If I use your `.yo-rc.json` to create a project, it fails to compile.

[code]

I believe this is caused by having no database:

[code]

If I change these to use PostgreSQL, there's a single compile error:

[code]

If I fix this, the test fails to compile:

[code]

If I fix that (by changing `webTestClient` to `accountWebTestClient`), it startups up just fine.

[code]

Since there are compilation i

[2021-08-12 15:36] mraible commented on #15507
I'm going to change this issue's title to no database is failing. This seems to be confirmed by our daily builds.

https://github.com/hipster-labs/jhipster-daily-builds/actions/runs/1122400940

[2021-08-12 15:39] mraible commented on #15821
Do you have the `.yo-rc.json` you used to create your project. Or a JDL file?

Also, please provide the steps you're using to add the user in Keycloak. Are you also using Google Social Login with Keycloak or something like that? I haven't tried that before so you might have better luck talking to the Keycloak folks.

[2021-08-12 15:58] mraible commented on #15686
I created a new project with your `.yo-rc.json` and JDL. Then, I started Hazelcast Management Center.

[code]

Then, I started the app with `./gradlew`. Everything starts up just fine.

[code]

[2021-08-12 16:06] mraible commented on #15713
I believe @jdubois might've written the code that changed this behavior. Not sure.

[2021-08-12 16:24] vhiguita commented on #700
I have deployed this app to heroku but it shows me the next error (attached file)
![taran](https://user-images.githubusercontent.com/284188/129232158-fe648658-7d9c-4ac0-8d45-dda1f0951b8b.jpg)
also shows me "Application Error":

https://taranapp.herokuapp.com/

What else has to be done to deploy it on heroku?

[2021-08-13 07:51] yudar1024 opened #15960 "always get error when import jdl file"
##### **Overview of the issue**

when use jhipster import-jdl . error always happened

##### **Motivation for or Use Case**

jhipster can't generator entity related java file

##### **Reproduce the error**

1 install jhipster
2 init a project from jhipster online or create one from jhipster
3 get the example jdl from jhipster online
4 run jhipster import-jdl example.jdl

[code]

##### **Related is

[2021-08-13 08:18] wdzul78 opened #15961 "Jhipster build with Websocket and Vue, not authenticating or log in"
##### **Overview of the issue**

I try to login into the JHipster webapp but the app couldn't authenticating when the build is using this setup;

application type > Monolithic application
base name application > jhipster
spring webflux > N
package name > com.mycompany.myapp
authentication type > HTTP Session Auth (stateful)
database type > SQL
production db > MySQL
development db > MySQL
cache > E

[2021-08-13 12:49] egvimo opened #15963 "More frequent releases"
##### **Overview of the feature request**

It would be nice if the releases of the generator could be published more often.

##### **Motivation for or Use Case**

- Users would benefit from the various bug fixes faster
- The Upgrades of the app would be smaller resulting in less migration difficulties
- Faster feature delivery

##### **Related issues or PR**

- [x] Checking this box is mandatory (

[2021-08-13 12:54] tsendee0409 commented on #15881
Hi! Matt, this is not a Docker issue. It is really up to you. You can add multi-arch when you build a docker image. I think you can use docker buildx to build multi-arch.

Please, check this out!
[https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/](https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/)
[https://www.docker.com/blog/multi-platform-docker-builds

[2021-08-13 13:01] tsendee0409 commented on #15881
@mraible Could you re-open this issue?

[2021-08-13 14:27] gmarziou commented on #15963
I suspect this is due to summer holidays.

[2021-08-13 16:13] vitoraasouza opened #15964 "New application without internationalization is always in English"
##### **Overview of the issue**

When we create a new application, without choosing internationalization support and we select a native language other than English, the result is a front end in English. It is worth noting that in the .yo-rc.json file (presented below) the field *nativeLanguage* is correctly assigned with the native language selected (pt-br), whereas the field *languages* contains

[2021-08-13 23:19] mraible commented on #15963
I agree with @gmarziou. Things really slow down around here in July and August.

[2021-08-14 00:31] avdev4j commented on #14539
Keep it open

[2021-08-14 04:43] duonglv1993 opened #15967 "Jhipster 7.1.0 import-jdl (or jdl) command regenerate all existing entity #1"
##### **Overview of the issue**

When you define new entities in `.jdl` (in my case I named it is app.jdl) file, then use `jhipster import-jdl (or jdl)` command to generate entity, all existing entities will be regenerated (expected only new entities will be generated). I try use `jhipster jdl --skip-regenerate app.jdl`, but jhipster still regenerate all entities.

##### **Motivation for or Use Ca

[2021-08-14 07:55] egvimo commented on #15963
If I'm not mistaken, a release requires some manual work to be done. Maybe it is worth it to automate the release process. So the only thing needs to be done is to set a tag and Github workflow takes care of the rest. Would automation help to release more frequently?

Some history for reference: 😄

| Release      | Date         | Changes | Previous Release |
| ------------ | ------------ | -------

[2021-08-14 07:55] gmarziou commented on #15964
Where did you see that?

If you look at [Angular home template file](https://github.com/jhipster/generator-jhipster/blob/main/generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs#L27), you'll see that English texts are hard coded.

To support this we should use nodejs templates, I did [an experiment 2 years ago](https://github.com/gmarziou/generator-jhipster/commits

[2021-08-14 08:01] gmarziou commented on #15963
@egvimo please precise what you mean by "more often"?

[2021-08-14 08:12] egvimo commented on #15963
I was thinking about one (feature) release per month and maybe bugfix releases in between. In my opinion 2+ months is a bit too long, especially for the many bugfixes that are often included.

[2021-08-14 15:44] #14235 closed

[2021-08-14 16:03] Tcharl commented on #14235
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/47720

[2021-08-14 16:09] Tcharl commented on #15964
Another annoying part are the response sent by the API (error or ack messages)

[2021-08-14 16:12] Tcharl commented on #15967
Why is it an issue? it is the expected behaviour since it keeps everything consistent.
If you don't want some of your entities to be regenerate, say 'skip' when it asks to override you entities or add the relative path to a .yo-resolve file at the root of your project. e.g.
`src/main/java/corp/domain/MyEntity.java skip`

[2021-08-14 16:15] Tcharl commented on #15960
Strange that it generates repository if you've choosen `databaseType: no` I don't think we have tested a monolith without a database though: what's the goal of your app?

[2021-08-14 19:46] mshima commented on #15964
I created https://github.com/jhipster/generator-jhipster/pull/15969.
It will allow to inject translations into templates if someone wants to contribute.

[2021-08-15 03:40] duonglv1993 commented on #15967
resource files, service,... must be customized according to your own business. it's never really exactly the same as the generated file.
say `skip` override don't have `skip all` option, I have a lot of file generated in my project (more than 1000 files), I have to enter `n` 1000 times to say skip override files. I think it's really unreasonable.

[2021-08-15 11:47] gmarziou commented on #15960
Looks similar #14271 for me, entities without database is a strange concept

[2021-08-15 12:25] yuvarajsanjeevi commented on #15507
I have fixed the issue. would like to raise the pull request. please give permission

[2021-08-15 13:09] azeerman commented on #13885
same error in 7.1.0

[2021-08-15 15:59] gmarziou commented on #13885
@azeerman why don't you open a new issue with full details?

[2021-08-15 16:02] gmarziou commented on #15507
@yuvarajsanjeevi you don't need any permission to submit a pull request. Have you read https://github.com/jhipster/generator-jhipster/blob/main/CONTRIBUTING.md

[2021-08-16 01:47] yudar1024 commented on #15960
the  goal is just run  temp demo, show the benefits of  jhipster , and don't want prepare related DB .

[2021-08-16 05:02] atomfrede commented on #14031
Keep it open

[2021-08-16 12:35] mrts commented on #11097
No, sorry, I didn't have time. It's tricky, you need to create a CA that issues certificates to all internal apps and a shared truststore with the CA certificate.

[2021-08-16 15:53] vitoraasouza commented on #15964
@gmarziou, maybe I misunderstood the concept of native language in this context, but in the way that the following questions are asked, I was hoping that the resulting application was delivered with the selected language.

![Screenshot from 2021-08-16 11-40-28](https://user-images.githubusercontent.com/18122521/129582643-a3154bc6-9ae4-48c0-b34d-f1dd6add93ee.png)

By the way, when we answer **yes**

[2021-08-16 17:26] jasonmarco commented on #15967
Your issue seems to be related to mine:  [https://github.com/jhipster/generator-jhipster/issues/15366](https://github.com/jhipster/generator-jhipster/issues/15366)

As a workaround, you can add either the skipClient, or skipServer properties to each of your entity files in the .jhipster folder. When Jhipster regenerates everything, it will respect these settings and not generate the client, or the

[2021-08-16 22:41] mraible commented on #15423
Closing since CI for Ionic for JHipster has been stable lately. https://github.com/oktadev/generator-jhipster-ionic/actions

[2021-08-16 22:41] #15423 closed

[2021-08-16 23:29] gmarziou commented on #15960
What's wrong with using a memory H2 database for your demo?

[2021-08-17 16:04] jasonmarco opened #15997 "Entity models should still be generated when using --skip-client 7.1.0"
##### **Overview of the issue**

Entities generated with `--skip-client` do not have their `${generator.entityFileName}.model.ts`, file generated using Angular. Entities generated **without** `--skip-client` that reference these files will have failed references.

##### **Motivation for or Use Case**

Generated projects that have a mix of skipped an standard clients are not generated properly; the

[2021-08-18 00:46] mshima commented on #15917
Should be fixed by https://github.com/jhipster/generator-jhipster/pull/15982

[2021-08-18 00:55] mshima commented on #15997
No client code should be generated for skipClient entities.
You can remove back reference from the definition so that reference will not be generated by any model.

You can force jdl to don't add back references using --unilateral-relationships.

[2021-08-18 00:59] mshima commented on #15967
`--skip-regenerate` is a jhipster 6 option that don't rewrites identical files, triggering a webpack rebuild, it's enabled by default at jhipster 7.
See `jhipster --help`.

You can use globs at .yo-resolve.
`src/main/java/corp/domain/** skip`

[2021-08-18 19:18] mmuruev commented on #15821
Yes, I have.

[code]

[2021-08-18 22:54] jasonmarco commented on #15997
Maybe another option such as `minimalClient` or `clientModelOnly` would be preferable? I'll close this Issue for now. This may be more of a FR, I'll gather some more information / use cases.
Thanks @mshima

[2021-08-18 22:54] #15997 closed

[2021-08-19 04:08] SudharakaP commented on #15523
Haven't got the time to test this, but will do so. Please keep this open. 😄

[2021-08-19 07:19] DanielFran commented on #13595
Still in progress

[2021-08-19 17:50] Jackjun724 opened #16011 "Metrics page broken for react Monolith"
##### **Overview of the issue**

Metrics page broken for react Monolith, You can refer to related issues #11561

##### **Motivation for or Use Case**

I use locale `zh-cn`, but numeral.locales only contains `chs`, Actually the two are the same, but the names are different，But the locale that does not exist in `numeral.locales` will cause numerical to throw an error

##### **Reproduce the error**

[2021-08-19 18:08] Jackjun724 commented on #16011
My [PR](https://github.com/jhipster/react-jhipster/pull/71)

[2021-08-20 04:19] atomfrede commented on #13390
Keep it open

[2021-08-20 09:40] mrugesh-roambee commented on #7327
@Swad can we skip client code generation for particular field? Such as updated date, created date, id or UUID? And set a default value or autogenerated value?

[2021-08-20 21:36] mraible commented on #13733
I updated https://github.com/mraible/blog-oauth2/pull/1 to use the latest `main` branch and Spring Native v0.10.2. It builds successfully.

[code]

However, when I try to run it, I get an error about logback:

[code]

Trying [this workaround](https://docs.spring.io/spring-native/docs/current-SNAPSHOT/reference/htmlsingle/#logback-workaround).

[2021-08-20 22:17] mraible commented on #13733
10 minutes later... same error. I tried deleting `logback-spring.xml` as a workaround. New error:

[code]

Looking at https://github.com/spring-projects-experimental/spring-native/issues/777 to try and figure out a solution.

[2021-08-20 22:38] mraible commented on #13733
Tried adding the following to the main `BlogApp` class:

[code]

11 minutes later... the error is:

[code]

I believe this is because JHipster uses Undertow by default and [only Tomcat is supported](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#support-spring-boot). To fix, I tried `%s/undertow/tomcat/g` in `pom.xml`.

[2021-08-21 16:33] mraible commented on #13733
To work around this issue, I changed `WebConfigurer` so it doesn't call `resolvePathPrefix()`:

[code]

Then, I got an error about HTTP not being enabled. So I added:

[code]

This doesn't seem to work as it fails to connect to Keycloak when starting, even though it's available with my browser.

[code]

Then, I remembered I had to remove the following lines from `src/main/docker/keycloak.yml` for

[2021-08-21 18:47] Tcharl commented on #14235
Thank you community, it has paid my vacation close to the ocean! ❤

[2021-08-23 04:52] yangliuyu commented on #15963
The latest release of JHipster (7.1.0) support Sprint Boot 2.4.7 by default, hope Sprint Boot 2.5.4 and subsequent version can be integrated soon(maybe in 1 month after upstream release). Also I found some version downgrade in package.json and pom.xml with jhipster main branch code, is there some reason to do it, like version compatible?

[2021-08-23 06:29] Piscenois commented on #15686
Thank you @mraible .
I thought I didn't need an Hazelcast instance in local development. My mistake.

[2021-08-23 06:37] dungreact opened #16039 "Option Elasticsearch in jhipster 7.1.0 is not working"
##### **Overview of the issue**

Search function is not working.

##### **Motivation for or Use Case**

I'm creating an application with Jhipster stack, I want to search items on some entities, then I turn on option Elasticsearch. The project is generated without any issue. But when I try to search in entity admin page then the result always is empty `No Products found` although I tried to test al

[2021-08-23 09:10] ghdefe opened #16040 "Generating front end code have repeat content"
##### **Overview of the issue**
I generate entity code with JDL command(jhipster jdl ./my-jdl-file.jdl), it will generate normally. And Again, generate with the similar jdl-file, which contain some entity the first JDL file has. At this time, In the file```src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue```,  the generated code will added to the location after ``````, instead of replaced the cod

[2021-08-23 10:42] DanielFran commented on #15387
@pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/48282

[2021-08-23 11:01] egvimo commented on #13687
Keep it open please. I try to come up with a solution.

[2021-08-23 11:58] CGarces commented on #13687
Can you please check if #15466 solve your issue?

[2021-08-23 13:09] mraible commented on #15963
The main branch was upgraded to Spring Boot 2.5.4 yesterday. https://github.com/jhipster/generator-jhipster/pull/16017

[2021-08-23 14:56] #15686 closed

[2021-08-23 14:57] mraible commented on #16039
Did you start Elasticsearch in a Docker container?

[code]

[2021-08-23 14:59] dungreact commented on #16039
Absolute yes, my project is start normaly, this is debug log when I press search button
`2021-08-22 13:38:59.948 DEBUG 18664 --- [  XNIO-1 task-2] com.na.shop.service.ProductService       : Request to search for a page of Products for query Steel
2021-08-22 13:38:59.958 DEBUG 18664 --- [  XNIO-1 task-2] com.na.shop.service.ProductService       : Exit: search() with result = Page 1 of 0 containing

[2021-08-23 14:59] mshima commented on #16039
https://github.com/jhipster/generator-jhipster/issues/11400?

[2021-08-23 15:01] dungreact commented on #16039
Let's me try

[2021-08-23 16:08] egvimo commented on #15963
Another reason to automate the release process, so that anyone of the team can trigger a release (e.g. by simply setting a tag).

[2021-08-23 16:26] jdubois opened #16042 "Bug bounty for @qmonmert"
We give bug bounties for people doing "big or annoying tasks", when there is a ticket associated.

But we miss people like @qmonmert who has been doing a lot of small bug fixes and improvements during the summer: https://github.com/jhipster/generator-jhipster/pulls?q=is%3Amerged+is%3Apr+author%3Aqmonmert

He has a total of 170 merged PRs, which totally qualifies for "big or annoying tasks"!

So my

[2021-08-23 18:31] qmonmert commented on #16042
😇

[2021-08-23 18:37] mraible commented on #13733
Today I realized that my `keycloak.yml` should still have the ports, but not the IP. So I changed it to:

[code]

I removed all Docker images, rebuilt the image, and tried again with Keycloak.

It still fails to connect.

[code]

I did notice this error on startup:

[code]

So I tried adding the Servlet API as a dependency:

[code]

This results in the same issue, so adding the dependency doesn't

[2021-08-23 21:33] vw98075 opened #16043 "OAuth Users Are Not Authorized to Access The Entity Page"
##### **Overview of the issue**

Generating a web application as an OAuth client. The entity menu shows up after having entities (based on an JDL file). Click one entity menu item and yields an error message
[code]
I guess that the error is due to the OAuth provider doesn't provide a user role. The JHI_USER_AUTHORITY table is empty as a result. We use Gitea as the OAuth provider. The following are

[2021-08-23 21:37] mraible commented on #16043
Are you using Keycloak for your identity provider? If you use the Keycloak instance provided with JHipster, it sets up everything for you. The ID token needs to have a `groups` claim with `ROLE_USER` in it.

[2021-08-23 21:50] vw98075 commented on #16043
Thanks Matt for your quick reply. And no, we don't use Kecloak. It is an open-source software, Gitea. The log messages show that no authority data is provided. I guess all users would be granted the ROLE_USER to start.

[2021-08-23 22:16] mraible commented on #16043
If you look at our [docs for Okta](https://www.jhipster.tech/security/#okta), specifically the "Create an OIDC App with the Okta Admin Console" section, you'll see you need to create groups and configure your authorization server to return a groups claim.

[2021-08-23 23:52] mraible commented on #13733
PR with the changes I tried: https://github.com/mraible/blog-oauth2/pull/1.

[2021-08-24 02:36] dungreact commented on #16039
It doesn't work, too, I turn off faker then put my own data already. I tried some query like `query=card` `query=name:card` but still empty response although the Category with name='Card' existed.
  <details>
  <summary>Debug log</summary>
  <pre>
2021-08-24 09:33:24.287 DEBUG 19452 --- [  XNIO-1 task-2] com.na.shop.web.rest.CategoryResource    : Exit: getAllCategories() with result = [Category{id

[2021-08-24 09:18] avdev4j commented on #16042
+1

makes sense since we should support this kind of work too. great job @qmonmert

[2021-08-24 18:31] vw98075 commented on #16043
As mentioned in my post, the OAuth provider doesn't provide authority information. It doesn't let you to set up group nor role. If JHipster supports any OAuth provider services, that is an issue to address. It can be ignored otherwise only for Okta and Keycloak. A simple change to work around: replacing
[code]
with
[code]

[2021-08-24 20:41] Tcharl commented on #16043
Any Oauth provider should let the Authorization server to add or remove claims in the id token and/or access token. This is one of the intrinstic function of Oauth2/OIDC

[2021-08-24 20:49] jdubois commented on #16042
Wow, a lot of people seem to agree on this, @qmonmert don't wait and do your Open Collective invoice! Congrats!

[2021-08-24 20:53] qmonmert commented on #16042
Thanks all :)

@jdubois https://opencollective.com/generator-jhipster/expenses/48382

[2021-08-25 07:47] #16042 closed

[2021-08-27 08:13] ko5tik opened #16074 "Only generate syncUserWithIdP when relationship with User is detected."
##### **Overview of the feature request**

Sometimes it is desirable to suppress generation of certain files.   I would like it to be configurable via say .yo-rc.json

##### **Motivation for or Use Case**

Current solution  works manually  but it is error prone and does not take into account deleted files.  Better solution would be  to specify list of files  that should not be excluded from genera

[2021-08-27 20:02] bigalnz opened #16075 "Install JHipster on Windows 10 - npm ERR! code EINVALIDTAGNAME"
Installing Jhipster on Windows 10.

Run the command listed on the jhipster website:

npm install -g generator-jhipster

The resulting error is :

C:\Users\AlGrant>npm install =g generator-jhipster
npm ERR! code EINVALIDTAGNAME
npm ERR! Invalid tag name "=g": Tags may not have any characters that encodeURIComponent encodes.

The enviroment is  :

WIndows 10 x 64
java version "1.8.0_291"
Welcome to

[2021-08-28 12:19] Tcharl commented on #16074
I think adding `<relative-path>/yourfile skip` in a .yo-resolve file at the root of your repository can do the trick

[2021-08-29 05:11] moeinizadeh commented on #6095
weqeqe

[2021-08-29 07:32] egvimo commented on #15282
Any progress on this?
At the moment it is not possible to create a many to many relationship with incremental changelog. ☹️

[2021-08-29 10:11] Tcharl commented on #15282
Hi,

There's an error in your jdl: the referenced attribute should exist:
correct value
[code]

[2021-08-29 13:07] mshima commented on #15490
I have been thinking on how to better integrate entities.

Keeping same architecture that adds an entity-foo generator for each foo (eg sql, mongodb, cassandra, neo4j, couchbase, elasticsearch, angular, react, vue) generator, our generators will become too bloated.
And the workflow will not be as simple as a `this.composeWith('entity-foo')`, it would need some register to keep the entity-* generat

[2021-08-29 15:31] Tcharl commented on #15490
How will it do the trick when two generators will participate to one same file, e.g. elastic & sql? will elastic depend on sql?

[2021-08-29 17:18] mshima commented on #15490
We should implement as modular templates.

The fallback is to implement in the parent.
In this case `spring-boot-elasticsearch` and `spring-boot-sql` depends on `spring-boot` or `spring-boot-data`.

[2021-08-29 17:19] ko5tik commented on #16074
OK,  some additional information.    I got latest version from git and ran against my sources,    No references to User and Authority entoities in JSON,   and  relevant application settings are:
    "applicationType": "microservice",
    "authenticationType": "oauth2",
    "skipUserManagement": true,

Yet it generates  User and Authority entitites,  and also code in Cache manager and all the relat

[2021-08-29 18:10] egvimo commented on #15282
@Tcharl Unfortunately this does not solve the issue. Same `primaryKey is not defined` error. Are you not able to reproduce it?

[2021-08-29 18:50] Tcharl commented on #15282
Reproduced :-).

It works well if we generate everything starting with the relationship.

@mshima please, as you've worked on the incremental changelog any quick idea? Otherwise I'll investigate a bit on it.

[2021-08-29 20:24] mshima commented on #15282
I didn't tried to investigate why CI didn't catch the problem, but seems to fix the problem.

[2021-08-30 00:40] #15507 closed

[2021-08-30 03:17] #16040 closed

[2021-08-30 06:23] egvimo commented on #15282
I think I know why CI didn't catch the problem.

My initial data model was with a `OneToMany` relationship. As I changed that to `ManyToMany` the generated changelog was missing the 'new' parts. Only the 'drop' parts were being generated. So I had to generate twice. Unfortunately leading to this error.
Some time ago I had a similar case. I did multiple changes to the JDL, but the changelog was mis

[2021-08-30 12:43] #14539 closed

[2021-08-30 18:50] mraible opened #16103 "When databaseType = no, dev and prod database types are still included in `yo-rc.json`"
##### **Overview of the issue**

I created an app with the `main` branch today and noticed the dev and prod database types are still included in the `.yo-rc.json` file.

##### **Motivation for or Use Case**

If I select databaseType = no, I'd expect there to be no database information in the generated `.yo-rc.json`.

##### **Reproduce the error**

Create an app, select `No database`.

##### **JHip

[2021-08-30 19:28] mshima commented on #16103
Related to https://github.com/jhipster/generator-jhipster/issues/15815

[2021-08-30 19:35] mraible commented on #13733
I tried creating an app today with no database to see if I could get things working. Unfortunately, it fails with a different error:

[code]

You can see the PR with changes at https://github.com/mraible/blog-oauth2/pull/2.

[2021-08-30 23:44] ruddell commented on #16075
You used an equal sign instead of a hyphen in your command.

Correct: `npm install -g generator-jhipster`
Incorrect: `npm install =g generator-jhipster`

[2021-08-30 23:44] #16075 closed

[2021-08-31 04:33] atomfrede commented on #13755
Keep it open

[2021-08-31 13:24] dc-tonglec commented on #13081
@jdubois I saw you mentioned about Azure Active Directory. Is there any example/documentation on how to configure Jhipster with Azure AD B2C? Thanks!

[2021-08-31 13:31] jdubois commented on #13081
@dc-tonglec I did a blog post about this at https://dev.to/azure/using-spring-security-with-azure-active-directory-mga - be sure to use a recent Spring Boot version, I coded some specific support for Azure that will make AAD B2C work (and even improved it last week: https://github.com/spring-projects/spring-boot/pull/27819 )

[2021-08-31 14:33] mraible commented on #13081
@jdubois You might want to update your tutorial (or write a new one) that uses auth code flow instead of implicit flow. Implicit flow is deprecated and is no longer recommended. https://developer.okta.com/blog/2019/05/01/is-the-oauth-implicit-flow-dead

[2021-08-31 14:35] jdubois commented on #13081
Thank you @mraible ! Yes, that would be another tutorial.

[2021-08-31 19:29] #15282 closed

[2021-09-01 04:36] mraible opened #16116 "Warning when compiling with React"
##### **Overview of the issue**

When creating a monolith with React, there's a compile warning on the `main` branch.

[code]

##### **Motivation for or Use Case**

Since it pops an alert, it's not a great experience. Everything still compiles though.

##### **Reproduce the error**

Create an app with React.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` fi

[2021-09-01 04:39] mraible commented on #16116
Related: there's no JHipster logo displayed when I run this app.

<img width="912" alt="Screen Shot 2021-08-31 at 10 38 39 PM" src="https://user-images.githubusercontent.com/17892/131612900-e810fc0c-a5d2-4b9f-9250-46d87483acd7.png">

[2021-09-01 05:52] Bill-TT commented on #1878
It's work,Thanks

It's work, Thanks

[2021-09-01 09:01] stefanobertini opened #16128 "Error when creating an entity with a relationship to User in a microservice project"
##### **Overview of the issue**

In a Microservice module, if you want to create an entity that has a ManyToOne relationship to User and want the relationship to have a different name, you get an error in the generated Resource class.

[code]

In the resource class, the create method will try to issue a getUser()  which is not defined.

[code]

##### **Motivation for or Use Case**

I want the rela

[2021-09-01 14:27] dc-tonglec commented on #13081
Thanks a lot @jdubois & @mraible !

I am really looking forward to the new tutorial. ☺

[2021-09-01 20:05] qmonmert commented on #16116
same error here https://github.com/jhipster/generator-jhipster/pull/16079

[2021-09-02 07:17] pascalgrimaud commented on #15963
Hello @egvimo

I understand your needs and I'd like to automate the full release process, but it's not possible. I can explain why. Some steps are automated, helped by https://github.com/jhipster/jhipster-ansible but other are not, because it depends on Maven Central, Docker Hub etc. I need to wait long long time...

When there is a new release, I need to do all these steps:

### JHipster Bom

- r

[2021-09-02 10:18] egvimo commented on #15963
@pascalgrimaud That's a lot of work for a release. Now I understand why the releases are not as frequent. Thank you for your effort clarifying this (and of cause for your effort doing the releases 🙂).

Some thoughts:

- If the individual projects would be decoupled, you wouldn't have to wait for the release of them. For example use a separate release and development cycle for JHipster Bom. This wa

[2021-09-02 10:49] akang commented on #15747
@mshima Wondering if I need to create a new PR again for this?

[2021-09-02 11:27] mshima commented on #15747
@akang would be great,

[2021-09-02 13:10] pascalgrimaud commented on #15963
The best would be the individual projects are released more often. But it depends on the Stream Lead.
And as it's an open source project, everyone works for free, so we simply do our best :-)

Not sure the waiting part in Ansible is needed. As it depends too much on Maven Central / Docker Hub / Github Actions etc.
Sometimes, it tooks 1 hour or 2 hours. Sometimes a full day... It's totally random l

[2021-09-02 17:32] hepaestus opened #16136 "Elasticsearch Errors with circular related objects"
## Example Project
https://github.com/hepaestus/test-app-one

### Reproduce the error
See The Test Project:
 https://github.com/hepaestus/test-app-one#development
Once you have the it set up.
* Open http://localhost:9000/ and login as admin.
* Select the Cars entity in the menu.
* Click button to Edit a car.
* Attempt to save passengers to a car.

This should trigger the error and show an error in

[2021-09-03 09:21] deepu105 commented on #16116
I guess the warning was present then as well. Could be either a redux issue or our webpack config issue

[2021-09-03 10:17] egvimo commented on #15835
See #13687.

I have a workaround for this, but did not come up with a final solution, yet.

[2021-09-03 10:21] egvimo commented on #15401
I have the same issue, please reopen.

[2021-09-03 10:25] Rajpratik71 opened #16148 "jhipster entity generation failed saying memory leak"
##### **Overview of the issue**

(node:1) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 101 end listeners added to [Environment]. Use emitter.setMaxListeners() to increase limit
(node:1) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 101 run listeners added to [Environment]. Use emitter.setMaxListeners() to increase limit

    at /home/jhipster/

[2021-09-03 14:59] hepaestus commented on #16136
I tried this:
In Car.java:
[code]
I throws a similar error still resulting in a new equally obtuse description:
[code]

[2021-09-03 15:50] mshima commented on #16116
Merged upstream to master branch https://github.com/reduxjs/redux-toolkit/pull/1459

[2021-09-04 11:52] Tcharl commented on #15815
Keep opened

[2021-09-04 16:55] dungreact opened #16152 "HTTP Status 404 – Not Found when Deploy to AWS"
##### **Overview of the issue**

I can't access my application when deploy to AWS

##### **Motivation for or Use Case**

I built my monolith application using Jhipster stack with React front-end. I can run my application normally. I want to deploy my app to AWS.

##### **Reproduce the error**

I followed the guide then run jhipster aws. Everything is fine. Here is the log:
  <details>
  <summary>j

[2021-09-05 06:49] #16043 closed

[2021-09-05 14:02] mraible opened #16172 "Husky install fails when creating reactive microservices"
##### **Overview of the issue**

Create a new directory and microservice projects in it. `husky install` fails.

[code]

##### **Motivation for or Use Case**

It's no fun seeing stack traces when generating JHipster apps.

##### **Reproduce the error**

[code]

##### **Related issues**

#16055

##### **Suggest a Fix**

##### **JHipster Version(s)**

`main` branch

##### **Workaround**

Remove `"pr

[2021-09-05 14:14] pascalgrimaud commented on #16172
It looks like each microservices need their own .git folder, so indeed, it's not nice

[2021-09-05 14:18] mraible commented on #16172
I also saw some Cypress tests that are "pending". It seems that fake data is no longer loaded and might be causing this.

<img width="1420" alt="Screen Shot 2021-09-05 at 8 17 31 AM" src="https://user-images.githubusercontent.com/17892/132130249-eed37e2e-e12c-481e-adfc-ac08d56ba673.png">

[2021-09-05 14:21] pascalgrimaud commented on #16172
So these issues need to be fixed, before the next release

[2021-09-05 15:56] mshima commented on #16172
The git repository is in the parent.
I will take a look at this.

Should be fixed by https://github.com/jhipster/generator-jhipster/issues/14103, but never finished the implementation.

[2021-09-05 17:59] mraible opened #16173 "Creating a reactive microservices architecture doesn't work"
##### **Overview of the issue**

Install the latest release and create a reactive microservices project:

[code]

Then, build the Gateway's Docker container:

[code]

It will fail:

[code]

Node: v14.17.0
npm: 7.21.0

I tried with npm 6 and the same error happens.

##### **Motivation for or Use Case**

It worked with 7.0.1 in [this blog post](https://developer.okta.com/blog/2021/01/20/reactive-jav

[2021-09-05 18:04] mraible commented on #16173
If I use 7.0.1 and npm 6, it fails too. I don't think it's something on my local system, but it sure seems like it could be.

[2021-09-05 18:13] mraible commented on #16173
Seems to be related to https://github.com/GoogleChrome/workbox/issues/2904.

Changing workbox to:

[code]

Almost fixes it. Now there's another issue:

[code]

[2021-09-05 18:16] mraible commented on #16173
Closing because it's a duplicate of https://github.com/jhipster/generator-jhipster/issues/15884.

[2021-09-05 18:16] #16173 closed

[2021-09-06 14:54] jdubois commented on #15881
Yes, this is also why we bought M1s to several team members at the end of last year.
I'll need to buy a M1 for myself so I can work on this :-)

[2021-09-06 14:56] jdubois commented on #15713
It's not possible anymore, and I deeply regret it, but that's a design decision from Elastic (the company). They basically don't want us to run Elasticsearch in embedded mode.

I am sincerely sad about it, and believe it's a bad decision for developers.

I'm closing this, as we can't go against the company building the product.

[2021-09-06 14:56] #15713 closed

[2021-09-06 14:59] jdubois commented on #15963
I agree it's a lot of work to do a release, as I used to do this before @pascalgrimaud !!!
But we have a ton of PRs and projects to synchronize, and remember we're not a company, so we can't commit on any dates.

It's just not possible to ask us to do regular releases, we do this when the sub projects are ready, and when we have time. That's the downside of using an Open Source project that is tot

[2021-09-06 14:59] #15963 closed

[2021-09-06 15:06] jdubois opened #16178 "Replace the Azure sub-generator by NubesGen"
Please note I'm the author of both projects.

I would like to replace our Azure sub-generator documented at https://www.jhipster.tech/azure/ by Nubesgen, documented at https://nubesgen.com/

They are not doing exactly the same things, and aren't working the same way, but the main reason isn't technical: I don't have the time to maintain twice the same thing, and I would prefer to focus on NubesGen

[2021-09-06 15:25] pascalgrimaud commented on #15881
Yes @jdubois you should. Just do it with Open Collective!

[2021-09-06 16:21] amadomaster commented on #14463
Keep it open.

[2021-09-06 22:43] mshima commented on #15881
A Apple m1 is far from be required to implement this.

Would be better to reimplement Dockerfile https://github.com/mshima/generator-jhipster/blob/main/Dockerfile to use layers.
And pull arm64 versions of the base files.

But IMO there was a blocker: there was no official arm64 version of Java 11.
I will take a look if that changed.

[2021-09-07 01:18] akang commented on #15747
ok done. Just created a new PR. Thanks

[2021-09-07 04:33] nomuna commented on #14949
Just cloned the source code for the project and ran a sonar analysis with sonarqube-9.0.1.46107 for windows x64 with the defaults/ sonar quality gates. I don't see any security issues... Am I missing something? Is the project on sonar cloud? If it is could you provide the url?

[2021-09-07 05:31] atomfrede commented on #14949
It's the generated sample app not the generator code itself. It is on sonar cloud here https://sonarcloud.io/dashboard?id=jhipster-sample-application

[2021-09-07 05:49] nomuna commented on #14949
So it has nothing to do with the code under  https://github.com/jhipster/jhipster-sample-app ?

[2021-09-07 06:24] atomfrede commented on #14949
It is exactly that project, you are right.

[2021-09-07 06:25] atomfrede commented on #14949
But in fact the rating has changed from `F` to `B` compared to the screenshots. The log forging is now minor as it seems

[2021-09-07 06:30] nomuna commented on #14949
It is seriously weird... The scan I performed is a couple of hrs old and the code was checked out may be at the same time.
I don't see those log forging vulnerabilities.

[2021-09-07 06:58] jdubois commented on #15881
There should be a build from Microsoft (using our build of OpenJDK), but I didn't try them as I don't have a M1. I still need it to test and run the build.

[2021-09-07 07:19] nomuna commented on #14949
BankAccountQueryService class is neither in master nor in main branch. I think the code comes from a different repository.

[2021-09-07 09:05] stevenbajer opened #16191 "Error occurs when admin UI is Chinese Simplified"
##### **Overview of the issue**
![1631004818(1)](https://user-images.githubusercontent.com/48904072/132316261-25c0e845-9ce0-4b73-b620-d11fdc3d3884.png)

![1631004840](https://user-images.githubusercontent.com/48904072/132316369-168ce593-bee3-4c4e-8cab-73113d3f127a.png)

When I switch UI to Chinese simplified and error message is show.

The jhipster version is 7.1.0 and applicaiton create configure

[2021-09-07 11:53] mshima commented on #15881
You can create an run a cross-platform image using (at least worked while building amd64 from a M1):
[code]

The native is in the top and cross-platform is in the bottom.
<img width="341" alt="Captura de Tela 2021-09-07 às 08 50 59" src="https://user-images.githubusercontent.com/1417183/132339975-2d105c85-7ca7-499c-b9eb-a217857e150f.png">

[2021-09-07 11:54] mshima commented on #15881
I need guidance to test this image.

[2021-09-07 15:44] #14463 closed

[2021-09-07 16:04] DanielFran commented on #14463
@pascalgrimaud Issue is now fixed.

Since @jidma fixed the issue directly on liquibase, can we share the bug-bounty with him?

[2021-09-07 16:09] mraible commented on #16172
This still happens. Steps to reproduce:

[code]

Error:

[code]

[2021-09-07 16:39] pascalgrimaud commented on #14463
I updated the bounty so both can claim each one :-)

[2021-09-07 16:53] hepaestus commented on #11400
I am having issues with JH and Elasticsearch as well. Opened another ticket #16136 https://github.com/jhipster/generator-jhipster/issues/16136

[2021-09-07 18:17] mraible opened #16196 "TLS profile doesn't work with Gradle"
##### **Overview of the issue**

I created a microservice architecture using the latest `main` branch and tried to run the gateway with [TLS](https://www.jhipster.tech/tls/).

[code]

If fails to start:

[code]

##### **Motivation for or Use Case**

It should work as explained in the docs.

##### **Reproduce the error**

[code]

##### **Suggest a Fix**

##### **JHipster Version(s)**

`main` branch

[2021-09-07 18:44] mshima commented on #16172
What `take reactive-stack` is suppose to do?
Could not reproduce using
[code]

[2021-09-07 18:50] mraible commented on #16172
`take` is an alias for `mkdir` and `cd`. So it's the same as the following:

[code]

I just tried again with the `main` branch and it works. I must've been using a released version before.

[2021-09-07 18:50] #16172 closed

[2021-09-07 19:16] atomfrede commented on #16196
Removing all ["weak" cypher suites using DHE](https://ciphersuite.info/cs/TLS_DHE_RSA_WITH_AES_256_CBC_SHA256/) key exchanges seem to do the trick. Looks like a netty or boring ssl update removed these cyphers from supported suites.

![image](https://user-images.githubusercontent.com/203401/132398875-7453d40d-ba0b-4c79-b7ee-66a97b0649b3.png)

[2021-09-08 07:36] atomfrede commented on #12558
Keep it open

[2021-09-08 14:51] alejandrodoglioli opened #16210 "Elasticsearch fails when you change default order of entity"
##### **Overview of the issue**

I installed jhipster 7,1,0 with elasticsearch as search engine, then I imported my entities with jdl, if I reorder some table and then try to search something elastick search fails

##### **Motivation for or Use Case**

I installed jhipster 7,1,0 with elasticsearch as search engine, then I imported my entities with jdl, if I reorder some table and then try to searc

[2021-09-09 00:08] mraible commented on #15311
Keep it open as I think it'd be really cool to develop a microservice in isolation.

[2021-09-09 00:13] mshima commented on #15311
I have this particularly implemented somewhere.
Will finish this week.

[2021-09-09 01:48] akang commented on #15747
Codes have been merged. PR has been merged already

[2021-09-09 02:26] #15747 closed

[2021-09-09 03:25] mshima commented on #15311
Now I remember why I didn't finished it.
I wasn't sure about the implementation.

https://github.com/jhipster/generator-jhipster/pull/16214 requires to execute gateway using devserver/browser sync `npm start`.
Which is what the issue suggests.

Another approach is to start the gateway without devServer (using docker or `./mvnw`) and implement at the microfrontend a browser sync that points to the

[2021-09-09 10:58] Lina-Basuni commented on #16136
I'm facing the same issue

[2021-09-09 11:07] Lina-Basuni commented on #14840
This is still an issue

[2021-09-09 14:34] mshima commented on #15311
@mraible what do you think?

[2021-09-09 14:35] mraible commented on #15311
@mshima I like option #2 as well.

[2021-09-10 10:48] Strat1987 opened #16244 "Webflux: issue with liquibase + PostgreSQL"
##### **Overview of the issue**
cannot authenticate after jhipster generation of Webflux postgreSQL project

[code]

##### **Motivation for or Use Case**

I'd expect the /authenticate endpoint to work out of the box

##### **Reproduce the error**

Initialise Monolith WebFlux PostgreSQL

##### **Related issues**

##### **Suggest a Fix**
com.mycompany.myapp.web.rest.UserJWTController.lambda$authoriz

[2021-09-10 18:32] mraible commented on #16244
I tried your `.yo-rc.json` and JDL with the `main` branch. It spits out the following error on startup.

[code]

[2021-09-10 20:35] #16196 closed

[2021-09-10 20:58] #15655 closed

[2021-09-10 22:15] mshima commented on #15403
Keep open

[2021-09-11 13:02] yuvarajsanjeevi commented on #16244
@mraible , I'm using Postgres 13.3 and not able to reproduce the issue. can you please let me know which version of Postgres you have used

2021-09-11 18:20:59.595  WARN 13424 --- [reactive-task-1] t.j.c.liquibase.AsyncSpringLiquibase     : Starting Liquibase asynchronously, your database might not be ready at startup!
2021-09-11 18:21:01.375 DEBUG 13424 --- [  restartedMain] c.mycompany.myapp.con

[2021-09-11 14:21] mraible commented on #16244
I just used the one provided via Docker Compose.

[2021-09-11 14:49] khalilou88 commented on #11451
Hi guys, since you are working on a "New sub generators for modularity", maybe you could write it on top of nx?

[2021-09-11 15:37] mraible commented on #11451
How would you compare this with microfrontends? Can it be added as a module or blueprint instead?

[2021-09-11 18:52] swarajsaaj commented on #16191
This is reproducible on `main`, issue is due to numeral.js having locale as `chs` for chinese instead of `zh-cn`, this issue is seems being looked at in https://github.com/jhipster/generator-jhipster/issues/16011

[2021-09-11 19:23] #16191 closed

[2021-09-11 20:08] #15917 closed

[2021-09-12 06:30] pascalgrimaud commented on #15783
Keep it

[2021-09-12 07:41] pascalgrimaud commented on #16244
I updated the title, as the exception in the title is bad... :-D

[2021-09-12 07:44] pascalgrimaud commented on #16074
A simple suggestion, really easy to do:
- add the list of files inside your own file
- use your own shell script to use git and revert the changes on these files

[2021-09-12 10:09] DanielFran commented on #14463
@pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/49869

[2021-09-12 10:15] pascalgrimaud commented on #14463
@DanielFran : approved

[2021-09-12 10:39] mshima commented on #16074
`skipUserManagement: true` don't change anything `oauth2` is always `skipUserManagement`

I think User/Authority are only used by `syncUserWithIdP` which is used to allow relationships with User.
This could be optional on User relationship existence.

As for .yo-resolve, globs are accepted:
[code]
Then no path matching that will be written.

@ko5tik would be nice if you could contribute with optio

[2021-09-12 11:22] jidma commented on #14463
@pascalgrimaud same https://opencollective.com/generator-jhipster/expenses/49872

[2021-09-12 11:58] pascalgrimaud commented on #14463
@jidma : approved

[2021-09-12 13:41] #16244 closed

[2021-09-12 16:16] swarajsaaj commented on #15961
Issue is reproducible on main with `session` authentication, works fine with `jwt` though.

[2021-09-13 03:02] Gj-95 commented on #13835
Hello, I also encountered this problem.
09:05:17.641 [restartedMain] DEBUG Validator - [lambda$logProblems$1,24] - ERROR [ModelSpecification.spec] At least one type of specification is required.
No solution has been found yet，
Can you help me?

[2021-09-13 04:37] pascalgrimaud commented on #13835
The fix is here: https://github.com/jhipster/generator-jhipster/pull/15004/files

[2021-09-13 05:15] pascalgrimaud commented on #16039
@dungreact : if you search an entity which was already generated by faker.js, it's normal as it is not indexed by elasticsearch.
Your use case should be:
- add a new entry
- search it

Can you try it plz?

[2021-09-13 05:20] pascalgrimaud commented on #15960
I'm closing this as there is no error here.
Adding entities to an application without database is strange :-)

[2021-09-13 05:20] #15960 closed

[2021-09-13 05:26] pascalgrimaud commented on #15881
@mshima : you can try these following commands at https://github.com/hipster-labs/jhipster-daily-builds/blob/main/test-integration/scripts/26-tests-docker.sh

If you can generate a JHipster project, it works :-)

[2021-09-13 05:46] chen1i commented on #12558
keep it open. looking forward to having it real...

[2021-09-13 07:15] nickshoe opened #16269 "Custom metrics and logging for invalid JWT tokens"
https://github.com/jhipster/generator-jhipster/blob/b3a50e9fea46f3e5dcdc496010f4b3ff415d1af8/generators/server/templates/src/main/java/package/security/jwt/TokenProvider.java.ejs#L123

There's already a `TRACE` level log row (with error details) for the very same event, and I think this is the proper level for this kind of events. I think `INFO` is appropriate for general information about the app

[2021-09-13 08:20] jain6968 opened #16271 "Jhipster-registry - issue when loading the application - Caused by: java.lang.IllegalArgumentException: Unable to resolve Configuration with the provided Issuer of "http://keycloa-ip-masked:8080/auth/realms/jhipster"
##### **Overview of the issue**

Issue with jhipster-registry with below logs

"Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'org.springframework.security.config.annotation.web.configuration.OAuth2ClientConfiguration$OAuth2ClientWebMvcSecurityConfiguration': Unsatisfied dependency expressed through method 'setClientRegistrationRepositor

[2021-09-13 08:22] atomfrede opened #16272 "Enable gradle enterprise in sample apps and ci"
##### Use gradle enterprise in sample apps and ci

Following https://github.com/jhipster/generator-jhipster/pull/14802 we should use our ge instance in the sample apps an ci generated apps.

##### **Motivation for or Use Case**

Be aware of e.g. any regressions in our build process so we always deliver best for our users and maybe even can benefit our ci runtimes.

##### **Related issues or PR**

[2021-09-13 08:50] atomfrede commented on #14226
Closing this as the main part is done. Follow ups are tracked separately. https://github.com/jhipster/generator-jhipster/issues/16272

[2021-09-13 08:50] #14226 closed

[2021-09-13 10:31] mshima commented on #15869
Keep open.

[2021-09-13 13:02] #14031 closed

[2021-09-13 15:50] mraible commented on #16271
It looks like your instance of JHipster registry can't connect to `http://keycloak-ip-masked:8080/auth/realms/jhipster`. Can you reach this endpoint in your browser?

[2021-09-13 19:24] mraible opened #16275 "Add Micro Frontend support to React"
##### **Overview of the feature request**

We have Angular support for Micro Frontends with the `--microfrontend` flag. It'd be sweet to add support for React too.

##### **Motivation for or Use Case**

We should offer similar features across frameworks.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/pull/16214#issuecomment-918495549

- [x] Checking this box is man

[2021-09-13 19:25] mraible opened #16276 "Add Micro Frontend support to Vue"
##### **Overview of the feature request**

We have Angular support for Micro Frontends with the `--microfrontend` flag. It'd be sweet to add support for Vue too.

##### **Motivation for or Use Case**

We should offer similar features across frameworks.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/pull/16214#issuecomment-918495549

- [x] Checking this box is manda

[2021-09-13 20:49] dranzerashi commented on #8861
happening to me on a fresh install of jhipster and npm on my windows machine

[2021-09-13 20:49] dranzerashi commented on #8861
circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.
npm WARN deprecated uuid@3.3.2: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.
npm WARN deprecated request@2.88.2: request has been deprecated, see https://gith

[2021-09-14 00:21] mshima commented on #16276
I will take a look if I have time in 2 weeks or so.

[2021-09-14 05:35] jain6968 commented on #16271
Hi @mraible, yes I am able to connect to the keycloak uri. The uri returns following info,

{"realm":"jhipster","public_key":"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AOFUDFY4SG8bL+nVgxKrWbT0901DRyPYZLGhD62mXrFt........./d","token-service":"http://keycloak.uri.masked:8080/auth/realms/jhipster/protocol/openid-connect","account-service":"http://keycloak.uri.masked:8080/auth/realms/jhipster/account","tokens-no

[2021-09-14 08:31] orakso opened #16291 "r2dbc mutual tls (sslMode: VERIFY_FULL)"
##### **Overview of the issue**

I encountered problem with version v7.x.x when setting **mutual tls** authentication:

`java.lang.ClassCastException: class [Ljava.security.cert.Certificate; cannot be cast to class [Ljava.security.cert.X509Certificate; ([Ljava.security.cert.Certificate; and [Ljava.security.cert.X509Certificate; are in module java.base of loader 'bootstrap')
	at io.r2dbc.postgresql

[2021-09-14 09:45] nickshoe commented on #16269
If it makes sense, I can do the PR of course..

[2021-09-14 11:08] gmarziou commented on #8861
@dranzerashi please don't comment on an old closed issue about an obsolete version, if you have a similar issue with current version please open a new issue with all required details.

[2021-09-14 11:49] mshima commented on #16210
We consider bugs when the generated application has problems out of the box.
We will not support reordering tables if the original works.
You can ask for help at stack overflow.

[2021-09-14 11:49] #16210 closed

[2021-09-14 11:50] mshima commented on #16210
But we may accept PR that helps your use case.

[2021-09-14 11:54] mshima commented on #16148
Need to execute `env.setMaxListeners(0)`.
At environment-builder.

[2021-09-14 17:52] BLKingLLC commented on #16136
I have the same issue and confirmed it was elasticsearch by removing elasticsearch and rebuilding the app from the JDL file.  With elasticsearch gone all of my objects were saved properly and as expected.

[2021-09-14 17:58] mraible commented on #13733
I've been trying for the last day to get things working in https://github.com/mraible/blog-oauth2/pull/1, but I still haven't had any luck. The good news is I did figure out how to talk to Keycloak: you have to use the IP address instead of localhost.

I also discovered there are open issues for Spring Native and [caching](https://github.com/spring-projects-experimental/spring-native/issues/465) a

[2021-09-14 19:58] khalilou88 commented on #11451
unfortunately I think you need to rewrite jhipster and drop yeoman to use nx generators.
I am only suggesting, its a lot of work to do.
I recently created a nx plugin to add support of gradle multi project build and spring boot to a nx worspace.
I think what I did is like what you want to do with yeoman.
You can have an idea about my plugin here (I am still working on it) :
https://dev.to/gridou/h

[2021-09-15 02:01] mraible opened #16299 "`jhipster heroku` still prompts for credentials when Answer is No to Okta"
##### **Overview of the issue**

You're prompted for credentials even when you say No to Okta when running `jhipster heroku`.

<img width="1325" alt="Screen Shot 2021-09-14 at 7 58 58 PM" src="https://user-images.githubusercontent.com/17892/133358077-32d11fd6-2408-4d1d-b739-01bf8f2ba608.png">

##### **Motivation for or Use Case**

I don't think you should be prompted for the JHipster Admin email o

[2021-09-15 02:25] mraible commented on #16299
It seems that things might not work at all when you answer no. It just hangs at:

[code]

[2021-09-15 02:33] tsendee0409 commented on #15881
Hi, jhipster v7.2.0 was recently released. But the official docker image of v7.2.0 has not been pushed to https://hub.docker.com/r/jhipster/jhipster

[2021-09-15 02:37] tsendee0409 commented on #15881
@pascalgrimaud can you push it?

[2021-09-15 08:19] pascalgrimaud commented on #15881
@tsendee0409 : done!

The new image v7.2.0 is available: https://hub.docker.com/r/jhipster/jhipster/tags?page=1&ordering=last_updated

[2021-09-15 08:39] tsendee0409 commented on #15881
@pascalgrimaud thanks. But linux/arm64 is not available. This means Some developers who have A1 apple could not pull and run it.

[2021-09-15 09:11] pascalgrimaud commented on #15881
Yes, I know linux/arm64 is not available yet, and it's a subject we need to work.
We have several issues, related to Docker:
- build new images, working with amd64 + arm64
- add workflow to push image to Docker Hub, as it's not automated any more

But, in the meantimes, you can clone the project, use main branch or tag version, and build the image to use it locally.

[2021-09-15 11:03] khalilou88 commented on #11451
I think the author of this issue was speaking about nx for both frontend and backend so my comment was not referring to microfrontends or frontends framework but for a polyglot workspace. I think I will be  good for hipster since you have support for many techno.

[2021-09-15 11:05] atomfrede commented on #16272
The sample app will have support after this PR is merged: https://github.com/jhipster/jhipster-sample-app-gradle/pull/3

[2021-09-15 12:26] #15311 closed

[2021-09-15 12:30] Lina-Basuni commented on #16136
I stumbled upon this solution and it's working now : https://stackoverflow.com/a/68259478/15942962

[2021-09-15 15:46] tsendee0409 commented on #15881
Image v7.2.0 for arm64 is available. I built and pushed it to https://hub.docker.com/r/novelsoft/jhipster/tags?page=1&ordering=last_updated

[2021-09-15 19:56] atomfrede commented on #16299
Fixed the invalid prompt, but there seems to be an issue with `heroku create` command. It seems to hang even when selecting okta at

[2021-09-15 20:54] naris opened #16308 "jhipster import-jdl crashes with Error running generator entities: Error: Enumeration values must be passed to get the formatted values."
##### **Overview of the issue**

I have a simple jdl that defines a single entity with only String, Number, Integer & LocalDate fields.
When running  jhipster import-jdl on the file it crashes with:

jhipster import-jdl  .\src\main\resources\jdl\programme.jdl                                                                                           ─╯
INFO! Using JHipster version installed locally

[2021-09-15 21:09] naris commented on #16308
This is PEBCAK, Number is not a valid type in JDL

[2021-09-15 21:09] #16308 closed

[2021-09-16 02:06] naris opened #16309 "The development ribbon and API links are missing when run locally"
##### **Overview of the issue**

While developing is jhipster is started with ./mvnw (without parameters) activeProfiles is empty. The log says that it defaulrs to dev,api_docs but that is not the case, it is actually empty and that causes the ts code to disable the api-docs and the development ribbon :(

##### **Motivation for or Use Case**

It breaks some very handy features of jhipster, the api

[2021-09-16 06:13] egvimo commented on #15835
Fixed in 7.2.0 with 868d2873e3611621558d6c602cc3f451d5c16a0d.

[2021-09-16 06:13] egvimo commented on #13687
Fixed in 7.2.0 with 868d2873e3611621558d6c602cc3f451d5c16a0d.

[2021-09-16 06:13] #13687 closed

[2021-09-16 06:21] #16299 closed

[2021-09-16 07:46] mraible commented on #16299
@atomfrede When I choose no for Okta, I still end up with some artifacts in my `.yo-rc.json`:

[code]

[2021-09-16 07:53] atomfrede commented on #16299
Yes it's the default values.

[2021-09-16 08:10] mraible commented on #16299
Running `jhipster heroku` seems to fail after I try to redeploy an existing projects.

[code]

[2021-09-16 08:15] ledinhtuyenbkdn opened #16313 "Use non-blocking CompletableFuture instead of traditional blocking Servlet"
will be nice to use non-blocking CompletableFuture request.
I have a performance test between blocking and non-blocking in Spring MVC.
And non-blocking is a pretty good than traditional blocking Servlet

[2021-09-16 08:17] mraible commented on #16313
Choose WebFlux. It is the way.

<img width="1330" alt="Screen Shot 2021-09-16 at 2 16 54 AM" src="https://user-images.githubusercontent.com/17892/133576533-e65ccdb0-f2e9-4acf-9d42-e56993f1fb85.png">

[2021-09-16 08:31] ledinhtuyenbkdn commented on #16313
I think it is easy, convenient to use non-blocking with Spring MVC than Webflux.
I tried to code with Webflux. Reactive programming is too different than imperative.
Spring Data R2DBC is not fully supported all features in Spring Data JPA.
Migrating to non-blocking with CompletableFuture is quite easy.

[2021-09-16 08:34] atomfrede commented on #16299
Let me check. It seems heroku has change a little on their side. I think before setting the (same) buildpack again didn't throw such an error.

[2021-09-16 09:01] marcinksiazek opened #16314 "Every second entity deletion from React UI refreshes the list instead of deleting"
##### **Overview of the issue**

The Delete entity button on every list has a strange behavior. The first time I delete an entity it works and the entity is deleted, when I try to delete another one by pressing 'Delete' instead of showing the popup it just refreshes the list. The third press works and then every second press on a delete button refreshes the list only.

##### **Motivation for or Us

[2021-09-16 10:43] marcinksiazek commented on #16314
After additional investigation, it looks like the second use of a Delete button causes additional GET call just to retrieve the entity. Take a look at the screenshot.

GET Request Url: http://localhost:8080/api/clubs/4 (additional not necessary call)
Referer: http://localhost:8080/club

GET Request Url: http://localhost:8080/api/clubs/4
Referer: http://localhost:8080/club/4/delete

<img width="130

[2021-09-16 11:56] qmonmert commented on #16314
Indeed I reproduce

[2021-09-16 11:58] #15835 closed

[2021-09-16 11:58] mshima commented on #15835
Thanks @egvimo

[2021-09-16 12:20] egvimo commented on #15835
Thanks goes to @qmonmert. The fix is from him. Just wanted to mention, because I had the same issue. 🙂

[2021-09-16 12:26] qmonmert commented on #15835
@egvimo :)

[2021-09-16 13:43] mshima commented on #15835
Of corse, thank you for letting us know this issue is fixed, and closing the other issue, is important to keep our issue list clean.
Thanks @qmonmert for the fix and the credit should go to him.

[2021-09-16 14:38] mshima commented on #16309
A blueprint overrides our workflow completely.
Please update this issue if manage to reproduce without using the blueprint.

[2021-09-16 14:38] #16309 closed

[2021-09-16 14:49] atomfrede opened #16315 "Replace neo4-migrations with liquibase-neo4j plugin"
##### **Overview of the feature request**

A few weeks ago @fbiville from the neo4j team contacted me and suggested to replace [neo4j migrations](https://github.com/michael-simons/neo4j-migrations) with the new l[iquibase-neo4j plugin](https://github.com/liquibase/liquibase-neo4j). We had a short talk today and think it would be a good idea to do that.
One drawback @michael-simons mentioned, that

[2021-09-16 15:09] jdubois commented on #16315
Sorry @atomfrede that data is probably in the database, but we haven't built any report to analyze it, so it's very complicated to get it.
On the main website, last month we had 125 views for the Neo4J documentation which is low (as a comparison, Elastic has got 788 views for the same date).

[2021-09-16 15:12] michael-simons commented on #16315
I would like to understand the advantages of using the Liquibase extension over the original approach.

I would understand to have it as an option, but for what the integration is doing right now, it is "just" enough and also doesn't bring any unnecessary dependencies, shaded or directly.

[2021-09-16 15:32] mshima commented on #15074
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/50248.

[2021-09-16 15:35] mshima commented on #15311
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/50252.

[2021-09-16 15:50] pascalgrimaud commented on #15074
@mshima : approved

[2021-09-16 15:51] pascalgrimaud commented on #15311
@mshima : approved

[2021-09-16 15:58] mshima commented on #16315
For jhipster it's interesting because we already have liquibase for sql. We have incremental changelogs for liquibase too.
Basically:
- One less technology to maintain, we are reusing a much more tested technology by us.
- Feature completeness.

Our neo4j migrations support is trivial and we were reusing some couchbase definitions until recently.
Would be great to keep neo4j migrations, but IMO th

[2021-09-16 16:44] michael-simons commented on #16315
Thanks, Marcelo.
Yeah that makes sense.

I know the actual migrations which are not many.

Anyhow, the reply raises the question for me what’s not working with SDN?
Did you consider opening a ticket? (Note: I am one of the maintainers of
SDN, author of Neo4j migrations and one of the contributors of this
integration)

Am 16.09.2021 um 17:58 schrieb Marcelo Shima ***@***.***>:

﻿

For jhipster it's

[2021-09-16 17:12] mshima commented on #16315
Not sure there is any bug upstream.

The problem with relationships is that Neo4j always cascades relationships by default. That's not supported by our frontends.
When persisting an entity with relationships, it will cascade and persist the relationship with missing data.
From what I see, we would need to create manual queries to fix this behavior.
See https://github.com/jhipster/generator-jhipste

[2021-09-16 17:21] michael-simons commented on #13797
This should be fixable with our new projections support.

[2021-09-16 17:47] meistermeier commented on #13797
Have been thinking about this for a while now. Projections might not solve this.
IIRC the problem already starts with the correct creation of entities and relationships
[code]
The current logic within the code generator will create a bidirectional mapping between `Exam` and `Question`. There used to be a rule that says, no bidirectional relationships for store type _neo4j_ but there were some othe

[2021-09-16 17:51] atomfrede commented on #13797
Let's do it 🤘

[2021-09-16 18:20] mshima commented on #13797
[code]
Will not generate bi-directional.
We may easily forbid bi-directional for neo4j.

[2021-09-16 19:37] meistermeier commented on #13797
I think that this was also creating bidirectional relationships. It was basically taking the JPA path. But this was all 7-beta-something when I tried it.

[2021-09-16 23:45] vw98075 opened #16317 "Unable to Upgrade to 7.2.0"
##### **Overview of the issue**

I installed the 7.1.0 about three months ago. Due to a few bugs in the release, I need to upgrade to a newer release as I have learned that those bugs are fixed in the release. I get the error when I tried to do the upgrade.
[code]
I don't know how a bug in 6.6.0 shows up 7.2.0.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related i

[2021-09-17 02:17] tsendee0409 opened #16318 "[Warning] No dependency information available"
I have recently installed Jhipster v7.2.0 and generated a simple microservice application. But some warnings appeared when it was running.

![image](https://user-images.githubusercontent.com/8222265/133712938-1d07d0d9-04b1-4294-bad3-807ae9690f0f.png)

`[WARNING] The POM for org.apache.logging.log4j:log4j-api-java9:zip:2.14.1 is missing, no dependency information available
Downloading from spring-l

[2021-09-17 02:24] tsendee0409 opened #16319 "[WARNING] An illegal reflective access operation has occurred"
I generated a simple microservice application by Jhipster 7.2.0, it has warnings when the app running.

![image](https://user-images.githubusercontent.com/8222265/133714169-cf91ff89-a63b-4ae2-8055-3bfddffa35bb.png)

`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.hazelcast.internal.networking.nio.SelectorOptimizer (file:/home/jhipster/.m2/rep

[2021-09-17 02:29] mraible commented on #16318
I've see this too recently.

[2021-09-17 02:45] tsendee0409 commented on #16319
Please check this out.
https://docs.hazelcast.com/imdg/4.1/installation/running-in-modular-java.html

[2021-09-17 08:58] atomfrede commented on #16317
Can you try `jhipster upgrade --blueprints` as the message suggests?

[2021-09-17 09:50] DasHasan opened #16330 "Cannot generate entity relationships with CLI"
I have two entities named `Teacher` and `Student` and I want to generate a relationship between those two with the cli. Both entities have already been created and are listed in the .jhipster directory.

edit: generating relationships with a jdl file works as intended

##### **Overview of the issue**

If I try to generate relationships with the CLI I get the following error, even though both entit

[2021-09-17 13:09] thomasbigger584 opened #16331 "7.2.0 produces uncompilable code"
##### **Overview of the issue**
After running 7.2.0 upgrade on an older application, I am getting uncompilable code in WebConfigurer.java line 81.
The method provided requires a string but the parameter is an enum:

`String fullExecutablePath = decode(this.getClass().getResource("").getPath(), StandardCharsets.UTF_8);`

##### **Motivation for or Use Case**
I know I can change this enum to string,

[2021-09-17 13:27] thomasbigger584 commented on #16331
Additional note: when providing `StandardCharsets.UTF_8.name()` then the `decode()` method throws a checked `UnsupportedEncodingException`. So may need to handle this as well...

[2021-09-17 13:35] atomfrede commented on #16331
Which jdk are using to compile it? It is related to https://github.com/jhipster/generator-jhipster/pull/16198 (which requires jdk >= 11 I think).

[2021-09-17 13:36] mshima commented on #16317
`.yo-rc.json` looks missing or invalid.
We need to improve error message.

[2021-09-17 13:54] thomasbigger584 commented on #16331
Yeah, false alarm.. sorry. I generated a fresh project and compiling with java 11 and do not see the error.

[2021-09-17 14:35] mshima commented on #16331
We need to update supported Java version and add to changelog.

[2021-09-17 15:39] vw98075 commented on #16317
I pull our repo in the new directory this morning. The upgrade command runs smoothly. Very strange. Anyway, I guess this ticket can be closed.

[2021-09-17 18:53] naris commented on #16309
I tried this again without any blueprints and the same thing happened. I will open a new issue for it.

[2021-09-17 19:05] naris opened #16333 "The development ribbon and API links are missing when run locally (with no blueprints)"
##### **Overview of the issue**

While developing is jhipster is started with ./mvnw (without parameters) activeProfiles is empty. The log says that it defaulrs to dev,api_docs but that is not the case, it is actually empty and that causes the ts code to disable the api-docs and the development ribbon :(

##### **Motivation for or Use Case**

It breaks some very handy features of jhipster, the api

[2021-09-17 19:11] dungreact commented on #16039
Hi, I already have my own data. I think the problem is they are not indexed. I tried to use Elasticsearch Reindexer but it have alot of error.

[2021-09-17 20:17] pascalgrimaud commented on #16317
Ok thanks for the feedbacks
Don't hesitate to comment this ticket and we can reopen it if needed

[2021-09-17 20:17] #16317 closed

[2021-09-17 20:24] pascalgrimaud commented on #16314
Adding a bounty as it's an annoying bug

[2021-09-17 22:32] vw98075 commented on #15722
I get my project to the 7.2.0 release today. This problem still exists. Here are the details: the BadRequestAlertException is thrown from a method in a controller. On the UI, the "save" button turns grey, but not an error message.

[2021-09-18 03:34] naris commented on #2251
This issue has been closed for a while, but I am also working with a dropdown and it became clear that in order to have sorting, you have to have paging for some reason, then I ran into the size thing. I would suggest specifying a size of 0 should disable paging for that query, that way you don't have too have some random large number as a size to confuse people that maintain it later on.

[2021-09-18 10:15] nagarajasr opened #16334 "On application startup, SpringApplicationShutdownHook fails with ArrayIndexOutOfBoundsException when connection to MongoDB times out"
##### **Overview of the issue**

On application startup, SpringApplicationShutdownHook fails with ArrayIndexOutOfBoundsException when connection to MongoDB times out (for e.g., DB is not running)

Stack trace:
[code]

##### **Motivation for or Use Case**

Shutdown hook

##### **Reproduce the error**

Try to start a JHipster monolithic application using MongoDB for persistence without a running dat

[2021-09-18 13:18] qmonmert commented on #16314
@marcinksiazek you can try my branch https://github.com/qmonmert/generator-jhipster/tree/react/16314 to see if it fixes :)

[2021-09-18 13:22] marcinksiazek commented on #16314
@qmonmert I've already applied the changes to my code and I can confirm it fixes the weird behavior. Thanks for reacting so quickly!

[2021-09-18 13:23] qmonmert commented on #16314
good @pascalgrimaud maybe you can merge

[2021-09-18 14:29] #16314 closed

[2021-09-18 15:44] qmonmert commented on #16314
@pascalgrimaud @jdubois I claim my bounty :) https://opencollective.com/generator-jhipster/expenses/50388

[2021-09-18 19:24] Akuka opened #16336 "husky implementation is not compatible with npm@6"
The `npm exec` command introduced at npm v7
By JHipster [installation docs](https://www.jhipster.tech/installation/):

The latest node LTS version is: 14.17.6 (includes **npm 6.14.15**)
npm 6.14.15 does not support `exec`

Am I missing something?

_Originally posted by @Akuka in https://github.com/jhipster/generator-jhipster/pull/16055#discussion_r711320197_

##### **JHipster Version(s)**
7.2.0

<

[2021-09-18 19:49] atomfrede commented on #16336
We are more or less require npm 7 if I am not mistaken https://github.com/jhipster/generator-jhipster/blob/main/generators/common/templates/package.json

[2021-09-19 00:17] SudharakaP commented on #15523
Keep this open please. 😉

[2021-09-19 14:01] mshima commented on #16336
We can try replacing `npm exec --no` with `npx --no-install`.
But running any npm@6 operation that deals with package-lock.json is not supported.

maven/gradle uses npm@7 and will cause package-lock.json to be recreated every time and may have cause a broken node_modules.

[2021-09-19 14:06] mshima commented on #16336
Another option is to implement `npmw` for gradle an use it.

[2021-09-19 16:38] swarajsaaj commented on #16333
I was able to reproduce this when importing project in IDE (which in turn creates `.settings` folder and needs setting the "dev" profile manually, either through your IDE or by setting `activeProfiles` in `.settings/org.eclipse.m2e.core.prefs`).

If a project is never imported in IDE that is interfering with settings (due to m2e maybe), all works well without setting the profile.

[2021-09-19 17:14] mshima commented on #16336
Adjusted the title since npm@lts resolves to npm@7.

[2021-09-19 17:41] Akuka commented on #16336
Are you sure?

<img width="944" alt="Screen Shot 2021-09-19 at 20 41 24" src="https://user-images.githubusercontent.com/3299903/133937365-b9c5a088-5537-4341-943a-c688ba53846e.png">

[2021-09-19 17:52] naris commented on #16333
I am using vscode, not eclipse or some other IDE.

[2021-09-19 17:56] naris commented on #16333
Also, is shoudl ne be required to set the profile manually, the documentation and the code itself indicates that dev is the default. When the server starts, it claims that the profile is set to the default of dev,api-docs, which turns out to be a lie.

[2021-09-19 18:05] atomfrede commented on #16333
As far as I know vscode java extension reuses a lot of stuff from eclipse.

[2021-09-19 18:14] swarajsaaj commented on #16333
Yes, I tested it using VSCode in first place. Opening the project folder in it creates the '.settings' folder with m2e preferences. Agree with  @atomfrede, vscode java extension seems to do this.

But yes, its also misleading from logs because the development ribbon and Api menu are dependent on "activeProfiles" field from '/management/info' endpoint, which in this case returns empty array even if

[2021-09-19 18:47] atomfrede commented on #16333
Yes that's seems wrong indeed.

[2021-09-19 19:24] sbouchex opened #16338 "Login page should display the authentication error instead of the generic message"
##### **Overview of the feature request**

Current implementation is displaying the following message in case of authentication error : Failed to sign in! Please check your credentials and try again.

However, in case of custom authentication (implementing AuthenticationProvider), some message returned by the authentication server may be usefull (like "locked account", "any custom mesage")

So it

[2021-09-19 19:29] mshima commented on #16336
That screenshot is from node site.

See npm@lts tag here:
https://www.npmjs.com/package/npm?activeTab=versions

[2021-09-19 19:30] sbouchex commented on #16338
I can work on the PR if needed

[2021-09-20 04:40] atomfrede commented on #13390
Keep it open

[2021-09-20 06:09] Akuka commented on #16336
OK
Bottom line, anyone who follows the installation instructions, which explicitly asks to install a node in the LTS version, which comes with npm v6 - will not be able to run `git commit` because he will get an error from husky

[2021-09-20 07:12] ascelineboullen commented on #13595
Keep it open.
Summer is ending, we will be able to resynchronize with @ntorionbearstudio, and focus, to take back this project and do propositions ! 😀💪🏻

[2021-09-20 11:15] lucastaehli opened #16358 "MongoDB create entities fails"
##### **Overview of the issue**

Unhandled promise rejection at:
TypeError: /home/liferay/test/node_modules/generator-jhipster/generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs:164
    162| <%_ relFieldNames.forEach(rel => { _%>
    163| <%_ if (rel.relationshipManyToOne || (rel.ownerSide && rel.relationshipOneToOne))  { _%>

    165| <%_ } _%>
    166| <%

[2021-09-20 14:11] atomfrede commented on #16336
Maybe it is just about clearly documenting, that npm7/`npm@lts` is also required?

[2021-09-20 14:12] thomasbigger584 opened #16359 "Running JH App behind reverse proxy"
##### **Overview of the issue**

I had an app that used JHipster v4.14.1, and packaging with docker and deployed to a server with Nginx installed and routing requests for a URL like: `my.app.com/api`.
This worked fine. I was able to view the angular app and use the API.

After upgrading to v7.2.0, the assets for the web app do not load and I am greeted with the error page. Instead, they try to be

[2021-09-20 14:14] atomfrede commented on #13797
I will have look what is generated and create a small sample application. @meistermeier If you are okay I will come back to you once I have something to show and talk about?

[2021-09-20 14:26] atomfrede commented on #16359
Not sure, but do you need to set base href (resp. base property for vue/react) to `/api`? See https://www.jhipster.tech/production/
![image](https://user-images.githubusercontent.com/203401/134019431-8ff70475-f157-4e89-bcf0-d0cb33d0b9e8.png)

[2021-09-20 14:27] thomasbigger584 commented on #16359
This looks promising, will check this out. Thanks

[2021-09-20 14:45] thomasbigger584 commented on #16359
Works great. Only thing I have noticed is the Swagger UI isn't loading:
![image](https://user-images.githubusercontent.com/8379423/134022090-aa8a03ef-0723-4457-a93c-d21aef417419.png)
Any ideas?

[2021-09-20 14:52] atomfrede commented on #16359
I think there is some similar property/setting for swagger ui, but I am not sure.

[2021-09-20 15:06] atomfrede commented on #16359
Do you see where the swagger ui iframe points to? Maybe just a matter of also prefixing it with the right path.

[2021-09-20 15:16] thomasbigger584 commented on #16359
Yeah iframe is there, although the JS and CSS assets are returning a 404. But it is looking in the right path for it...

![image](https://user-images.githubusercontent.com/8379423/134026704-35949670-fe25-41d4-8b68-0af8c7b161c4.png)

There must be some configuration for it. I'll keep looking, thanks

[2021-09-20 15:43] pascalgrimaud commented on #16336
If we can find something which works for npm6 and npm7, it would be nice, as NodeLTS use npm6...

[2021-09-20 17:51] mraible commented on #16299
I tried this again today and it still writes Okta values to `.yo-rc.json`, even though I said I didn't want to use Okta.

[code]

[2021-09-20 18:03] vw98075 opened #16361 "Error Occurs When Using the Web UI After Some Idle Time"
##### **Overview of the issue**

A user would run into an error when s/he uses the entity section of the Web UI after some idle time. The user was signed in before. If this user reloads a web page, s/he will be lead to the home page.

##### **Motivation for or Use Case**

A better user experience

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Ve

[2021-09-20 18:05] mraible commented on #16361
JHipster 7.2.0 added support for refresh tokens.

https://www.jhipster.tech/2021/09/14/jhipster-release-7.2.0.html

You'll need to add `offline_access` to your list of scopes in `application.yml` for this to work.

[2021-09-20 18:22] vw98075 commented on #16361
Thanks, Matt for your quick response. I already upgraded the project to 7.2.0 last Friday and I don't see "offline_access" in the application.yml file. I have a look at ticket # 15424 and don't know how I can act.

[2021-09-20 18:26] mraible commented on #16361
You need to change your `application.yml` file from having:

[code]

To having:

[code]

[2021-09-20 18:29] vw98075 commented on #16361
Thanks for the info.

[2021-09-20 18:44] mraible opened #16362 "'featurePolicy(java.lang.String)' is deprecated in SecurityConfiguration"
##### **Overview of the issue**

Feature Policy has been deprecated and Permission Policy should now be used.

https://scotthelme.co.uk/goodbye-feature-policy-and-hello-permissions-policy/

##### **Motivation for or Use Case**

Reduce deprecation errors when compiling.

##### **Reproduce the error**

Create a new project, open `SecurityConfiguration.java` in an IDE, and you'll see that `featurePol

[2021-09-20 21:11] #16336 closed

[2021-09-20 21:36] #16362 closed

[2021-09-21 05:47] sanketrk opened #16382 "No way to upgrade projects to 7.1.2 from 6.10.5"
##### **Overview of the issue**

We have a couple of microservices generated with 6.10.5 along with a blueprint generator-jhipster-entity-audit.  Now, we are trying to upgrade them 7.2.0 but unable to do so.  This is a blocker for us.

We tried the command `jhipster upgrade --blueprints generator-jhipster-entity-audit` and below trace is printed :

[code]

We then resorted to manual upgrade with c

[2021-09-21 05:49] sanketrk commented on #16382
yo-rc.json of the root project :

[code]

[2021-09-21 05:50] sanketrk commented on #16382
Associated JDL :
entity EmailDoc {
	/** Primary Key of the table, it is auto increment number */
	id Integer required
	/** This field contain the URL of the doc on S3 databse */
	emailDocUrl String required maxlength(1000)
	/** This field contain the PDF URL of the doc on S3 databse */
	emailPdfUrl String required maxlength(1000)
	/** This field contain the file doc name  */
	emailDocName String r

[2021-09-21 08:00] meistermeier commented on #13797
Yes, let's do this. I am currently trying to find the place where I have seen the wrong entity creation.

[2021-09-21 08:12] atomfrede commented on #13797
:+1: Thanks for your support

[2021-09-21 09:36] gmarziou commented on #16269
For me, it does make sense to keep it as INFO because invalid tokens could be an indication of a hacking attempt.
If we you make it under TRACE, you'll never get the information about security issue.

Alternatively, logs could be replaced by a metrics.

[2021-09-21 09:58] atomfrede commented on #16269
Good point. But having too logs seems strange. Should we keep trace and set the log level for the TokenProvider to trace such that a log based metric can be used to detect potential hacking attempt?

[2021-09-21 10:16] gmarziou commented on #16269
I guess the TRACE log is there to get the details with the exception stack so for debugging a specific issue, for security INFO is enough.

I wonder whether this code should catch the exception (current implementation) or rather let it popup so that spring security logs it correctly for auditing purpose:  https://www.baeldung.com/spring-boot-authentication-audit but maybe it'll break something.

[2021-09-21 11:22] mshima commented on #15881
Snapshots for amd64 and arm64 are available at GitHub containers registry.
https://github.com/jhipster/generator-jhipster/pkgs/container/generator-jhipster

[2021-09-21 11:29] thomasbigger584 commented on #16359
I haven't been able to find the configuration for swagger to work in this case.

[2021-09-21 11:45] tsendee0409 commented on #15881
@mshima, it hasn't a version tag to pull the image on https://github.com/jhipster/generator-jhipster/pkgs/container/generator-jhipster/versions
Can you add a tag to the repo?

[2021-09-21 13:22] DanielFran commented on #15881
@tsendee0409 I believe what you have actually is a docker image based on the main only
For next jhipster version you will have the tagged version

[2021-09-21 13:26] mshima commented on #15881
Would be better if @pascalgrimaud could publish arm64 by running the docker build command with `--platform linux/arm64` option.

[2021-09-21 13:33] mshima commented on #15881
I’ve created v7.2.0-0 branch.
But workflow dispatch needs the workflow to exist at the branch.
Will add later.

[2021-09-21 14:33] mshima commented on #15881
Replace build with buildx then. I probably have it by default.

[2021-09-21 19:23] vw98075 commented on #16361
Hi, Matt,

I have made the change for over 24 hours. Here is my observation in regard to the issue after the configuration file change.

Reloading a page will keep the user sign in (in comparison to the logoff for the user).  If a user clicks a button in the entity section after some idle time,  the expected data doesn't show up on UI. There are the following log messages:
[code]
I guess two solut

[2021-09-21 19:47] mshima commented on #16361
As far as I remember, oauth2 token are not stored at the client side (angular/react/vue). Probably doesn’t apply to ionic.
They are stored at the session.
Once the session expires, the token is gone.
Offline will not help here.

[2021-09-21 19:50] mshima commented on #16361
Correction: stored inside cookies: https://github.com/jhipster/generator-jhipster/pull/15424#issuecomment-869079042

[2021-09-21 20:07] mshima commented on #15881
Published at https://github.com/jhipster/generator-jhipster/pkgs/container/generator-jhipsterat 7.2.0-0 tag.

[2021-09-21 20:07] #15881 closed

[2021-09-21 20:40] mraible commented on #16361
That's a good point @mshima. For Ionic and React Native, they should work with refresh tokens because the tokens are stored on the client.

[2021-09-21 20:54] mshima commented on #16361
Refresh tokens are working correctly.
Default token is set to expire in 30min, once the grace period is met, 1 min:
https://github.com/jhipster/generator-jhipster/blob/9d12776c8c52e2e087eee45e14631163d8d48d29/generators/server/templates/src/main/java/package/config/OAuth2Configuration.java.ejs#L30
The token is renewed correctly.

[2021-09-22 01:03] vw98075 opened #16393 "When there is a backend error, no error message shows up in the front end."
##### **Overview of the issue**

When there is a backend error, no error message shows up in the front end. The BadRequestAlertException is thrown in the backend. The following error messages show up on the browser console,
[code]
But, there isn't an error message in the front end.

I have reported the error before due to another error type 500. The fix likely doesn't address the root problem. I s

[2021-09-22 04:17] mraible opened #16394 "Okta password is written to .yo-rc.json even when Okta is not used"
##### **Overview of the issue**

When you run `jhipster heroku` with an OAuth 2.0 app, it writes an `oktaAdminPassword` key pair to `.yo-rc.json`. For example:

[code]

##### **Motivation for or Use Case**

When `useOkta` is false, there should be no other Okta-related values written to `.yo-rc.json`.

Adding a password when it's not used will give the false impression that sensitive information h

[2021-09-22 04:26] atomfrede commented on #16394
Didn't test it out but maybe we don't need to store it at all as the user must remember it and once for the initial login. Maybe we can just skip the prompt for the password and print it in the end to the console.

[2021-09-22 05:09] jgdvarun60 opened #16406 "Improve Marketplace"
##### **Overview of the feature request**

All the market place must be segrigated or atleast labelled for [modules or blueprints]*[different back end technologies and different front end technologies] that way its easy to search the exact market place item.

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read ev

[2021-09-22 05:15] jgdvarun60 commented on #16406
Also compatibility of the modules with different technologies, we need to segregate front end module with back end module that way both can be applied independently. Like for example if we have multi tenant module for back end java and than multi tenant module for front end react or multi-tenant module for front end angular etc... Organizing the modules will definitely help in reducing the duplica

[2021-09-22 11:12] egvimo opened #16407 "Angular: Loop for enums"
##### **Overview of the feature request**

Currently the HTML part of an entity is generated listing all the possible values of an enum:

[code]

It would be nice if this could be changed using a loop:

[code]

This requires this code to be present in the TypeScript part:

[code]

Maybe this can also be applied to React.

##### **Motivation for or Use Case**

Better maintainability of the enum cod

[2021-09-22 17:51] vw98075 commented on #16361
Here is one more observation:

After some idle time, I click "sign out" on a page in the entity section. And the click won't lead to any changes on the UI. The action leads to the desired result after I reload the page.

[2021-09-22 20:16] yuvarajsanjeevi commented on #16394
@atomfrede after successfully configured Okta we are printing the credentials https://github.com/jhipster/generator-jhipster/blob/main/generators/heroku/index.js#L863.

if we are sure we do not need that log then we can ignore it from writing into .yo-rc.json. otherwise we need it.

[2021-09-22 21:33] joseholanda opened #16409 "Error looking for otherEntity when create a new entity with a relationship"
##### **Overview of the issue**

Geting error when i'm trying to create a new entity with a relationship: `jhipster entity Calculo --skip-client`

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **JHipster configuration**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "skipClient": true,
    "applicationType": "microservice",

[2021-09-23 01:59] #16409 closed

[2021-09-23 09:04] nickshoe commented on #16269
If the objective is to have indications of potential attacks, then the appropriate level should be WARN in my opinion.

[2021-09-23 09:16] nickshoe commented on #16269
+1 for a metric, I can work on this

[2021-09-23 14:31] meistermeier opened #16420 "Import JDL issue on application update"
##### **Overview of the issue**

Re-generating the entities defined in a jdl by invoking `jhipster import-jdl entities.jdl`
with a given _entities.jdl_ https://github.com/meistermeier/jh-13797/blob/d51a6c5c24c374584c6809571187ace055e3cb2e/entities.jdl

[code]

Although the application is neo4j-based, jhipster does not recognize the fact in the relationship creation because `configuration.databaseT

[2021-09-23 16:53] mshima commented on #16420
For now try using `--unidirectional-relationships` flag.
IMO we should make this the only behavior for JHipster 8.
JDL should pass to the generator exactly what the jdl file defines. Everything else should be business logic defined by the generator.

[2021-09-23 22:59] tcarlisle2012 opened #16421 "JHipster 7.2: Adding Entity Relationship TypeError: this.warning is not a function"
##### **Overview of the issue**

Using JHipster 7.2, adding a relationship to an existing entity fails with "TypeError: this.warning is not a function" and the jhipster generate aborts.

##### **Motivation for or Use Case**

I doubt this is the intended behavior

##### **Reproduce the error**

this fails because line 370 in field.js, an exception handler it makes a call to function this.warning, a

[2021-09-24 03:59] ArthurMiller opened #16422 "Getting "ERROR! Callback called multiple times" when trying to generate a Gateway application"
##### **Overview of the issue**

When generating a Jhipster Gateway application through the command-line, things start to generate but it always reports back an error and stops without completing the process.
Jhipster version:
7.2.0

Error:

   create src/main/webapp/i18n/tr/login.json
   create src/main/webapp/i18n/tr/user-management.json
ERROR! Callback called multiple times
Error [ERR_MULTIPLE_

[2021-09-24 04:38] swarajsaaj commented on #16422
This could be due to usage of non-LTS version of nodejs (16.10.0). Can you try if it works fine with LTS version (14.17.6) ?

[2021-09-24 06:53] #16333 closed

[2021-09-24 08:57] emilc77 opened #16425 "jdl does not work. SC 404 on https://raw.githubusercontent.com/jhipster/jdl-samples/main/jhipster-jdl.jh"
##### **Overview of the issue**

The JDL generator fails on simple Cassandra and Postgres apps.
In the console looks like an issue on https://raw.githubusercontent.com site.

##### **Motivation for or Use Case**

This is the default JDL execution.

##### **Reproduce the error**

Step 1. create an empty cassandra project.

? Which *type* of application would you like to create? Monolithic applicati

[2021-09-24 16:02] ArthurMiller commented on #16422
I'll try that right now and get a response back to you asap.

[2021-09-24 16:51] ArthurMiller commented on #16422
That did the trick, thank you!!!
I ran:
npm install -g n
n 14.17.6

[2021-09-24 18:34] swarajsaaj commented on #16425
@emilc77 if the JDL file name is ` jhipster-jdl.jdl `, then command should be `jhipster jdl jhipster-jdl.jdl` and not `jhipster jdl jhipster-jdl.jh` (or its just a typo in bug description?)
In case the file is missing then it looks for the file on jdl-example repository.

[2021-09-24 18:48] vw98075 opened #16428 "Compiling Fails Due to A Mapper Error"
##### **Overview of the issue**

After importing an JDL file, the project can't be compiled due to a mapper error.
[code]
##### **Motivation for or Use Case**

It blocks the compiling process.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

7.2.0

##### **JHipster configuration**

[code]
reposetup@0.0.0 /Users/vewu/Documents/workspa

[2021-09-24 19:38] vw98075 commented on #16428
The problem can be prevented if the many-to-many relationship is stated as
[code]
The user ID will show up on the TaskWatch with the above change. How can I have the user login shows up?

[2021-09-24 22:04] tcarlisle2012 commented on #16421
Just a little more information. It turns out I had an invalid regex validator. However, that is why I ended up in that section of code where the missing function is called.

People will only encounter this issue if a validator is invalid. The severity should be lower to take that into account.

That said, I don't think this should be closed as user error, because I doubt the intent is for an inval

[2021-09-25 07:14] pascalgrimaud commented on #16406
Everything depends on the community.
What can be done to do what you suggest?

[2021-09-25 07:40] pascalgrimaud commented on #16422
Thanks for the feedback
So the ticket can be closed

[2021-09-25 07:40] #16422 closed

[2021-09-25 07:46] pascalgrimaud commented on #16382
Not sure we can do something.

Upgrading from v6 to v7 is a major upgrade. You need to do it manually. A tool like upgrade can't do the job.

[2021-09-25 07:46] pascalgrimaud commented on #16407
Adding a bounty for this improvement

[2021-09-25 07:55] pascalgrimaud commented on #16334
What do you expect from the logs ?
As the database is down, I think it's normal there is a stacktrace, and it depends on this lib

[2021-09-25 08:01] pascalgrimaud commented on #16011
Adding a bounty as it's a bug

[2021-09-25 08:08] pascalgrimaud commented on #15961
Adding a bounty for this bug

[2021-09-25 08:09] pascalgrimaud commented on #14103
Adding a bounty for this

[2021-09-25 08:11] pascalgrimaud commented on #14840
Following the comments, it looks like a bug
Adding a bounty to motivate people to find a fix

[2021-09-25 08:36] joro88 commented on #12497
Hi,
What is the progress on side-by-side generator?

[2021-09-25 09:15] mshima commented on #16382
`generator-jhipster-entity-audit` is a module, not a blueprint.
We don't support upgrading modules.

[2021-09-25 09:15] #16382 closed

[2021-09-25 09:16] mheidt commented on #14840
I think, it's rather an architectural issue.
I wouldn't put the entities into elastic but a mix of the DTOs (if you enabled that) and the entity classes.
Beans, that are cascading into other entites (not like the DTOs) but without the jpa annotations.
The jpl generator should generate those and we (the user) should be able to disable fields (f.e. if you don't like to have byte[] in your repo..kind

[2021-09-25 09:39] mshima commented on #14103
Let's do this.

[2021-09-25 12:44] iconben commented on #16318
I was upgrading a legacy app from jhipster 4.x to 7.2.0 and ran into this error too.

[2021-09-25 15:48] Jackjun724 commented on #16011
I'm very sorry, I forgot to follow up the commit. Please check my latest commit.

[2021-09-25 16:45] emilc77 commented on #16425
Yes, this is cause. Thank you.

The saved file from
https://start.jhipster.tech/jdl-studio/
has this name: jhipster-jdl.jdl
And the command line from home page of jhipster is
jhipster jdl jhipster-jdl.jh
The extensions differ.

For the persons involved, consider being consistent with the file name in the 2 places.

Thank you @swarajsaaj

[2021-09-25 17:23] mshima commented on #16425
Where exactly, so we can fix?

[2021-09-25 17:31] swarajsaaj commented on #16425
@mshima I think @emilc77  is talking about the 5 steps on homepage https://www.jhipster.tech/
JDL-studio saves a .jdl file, but steps mention a .jh (though both extensions are commonly used, following steps as-is can cause this issue)

[2021-09-25 17:41] swarajsaaj commented on #15961
I just figured out, this is due to $cookies reference not present and hence causing the login loop infinitely (due to another interpolation call, tricky one). I ll submit a PR soon.

[2021-09-25 18:05] emilc77 commented on #16425
I would go first on a check in the command line:
jhipster jdl jhipster-jdl.jh
with the error "File not found 'jhipster-jdl.jh'" in case the file name is not correct.

[2021-09-25 18:55] swarajsaaj commented on #16425
I would go first on a check in the command line:
jhipster jdl jhipster-jdl.jh
with the error "File not found 'jhipster-jdl.jh'" in case the file name is not correct.

The CLI attempts to download the file from jdl-samples repository(https://github.com/jhipster/jdl-samples) as a fallback (and a usable feature for quick generation of samples). An INFO log can be added letting user know that the file

[2021-09-26 08:17] #16148 closed

[2021-09-26 08:17] #16421 closed

[2021-09-26 09:00] Simsal opened #16433 "git commit somehow triggers npm after upgrade to 7.2.0"
##### **Overview of the issue**

Since Upgrade from 7.0.0 to 7.2.0 the git commit command doesn't work anymore on my repository. Other git commands work as expected, but git commit somehow triggers npm.

I honestly do not know, if it is a problem with jhipster, but it started to occur after the 7.2.0 upgrade. On another dev machine with the 7.0.0 version of my project, git still works as expected

[2021-09-26 09:26] pascalgrimaud commented on #16433
It is related to npm 6.
You can find the fix here: https://github.com/jhipster/generator-jhipster/pull/16360/files

I'm closing this as it's already fixed and will be in the next release

[2021-09-26 09:26] #16433 closed

[2021-09-26 10:23] mshima commented on #16425
Thanks @swarajsaaj for the fix.

[2021-09-26 10:23] #16425 closed

[2021-09-26 11:13] swarajsaaj commented on #16393
This is because there seems no error handling in place for Vue entities.
I could replicate this on `main`:-
![image](https://user-images.githubusercontent.com/6285049/134805175-f70cc78d-8a11-46ba-bd06-16d29068966a.png)

Though for success callbacks, a toast is displayed in most cases, but none in case of errors.
One such reference in create entity:-
https://github.com/jhipster/generator-jhipster/b

[2021-09-26 11:26] pascalgrimaud commented on #16393
Thanks for the configuration @swarajsaaj
I'm adding a bounty to motivate people to improve this part :)

[2021-09-26 16:36] pascalgrimaud commented on #15783
Increasing the bounty as it's more work than expected

[2021-09-27 09:01] atomfrede commented on #16420
Thanks @mshima for the hint with the flag was not aware of it. Would you agree that the check for databases in the jdl converter can be removed (as it does not work and is at the wrong place) and the check belongs to the respective generators. Are there any objections to allow only unidirectional relationships for neo4j (as these can be derived via the edge between the nodes)?

[2021-09-27 09:49] nickshoe commented on #16269
Hey guys, any news on this?
Actually, I'm experiencing several failing login attempts in my app. The idea of a custom metric sounds very good to me; any thought about why shouldn't it be implemented this way and keep using logs instead?
I can do the PR, but I'd like to know more about what do you think about the design, so as to avoid waiting time. ;)

[2021-09-27 11:33] gmarziou commented on #16269
+1 for this security metrics, @jhipster/developers do you agree?

[2021-09-27 11:47] mshima commented on #16420
Yes.

No.

The problem is that making unidirectional the default behavior is a breaking change to jdl.
Blueprints and modules, like ionic, that uses jdl directly may break bad.

Setting default flag value to true at
https://github.com/jhipster/generator-jhipster/blob/0194420f2987b75f37984a311f60db57d868d510/cli/commands.js#L119
should be ok to me.

But let’s merge it in after 7.3.0 release to give

[2021-09-27 12:50] jdubois commented on #16269
Yes +1

[2021-09-27 13:38] fishcleaner commented on #13973
Hello,
I have the same issue and it's blocking!
I noticed that excluding the DTO with Mapstruct the generation works fine but the thing is that we need DTOs.
I am using JHipster v7.2.0 , node v14.17.6.
Could you please solve this ASAP or propose a workaround ? I have already tried to remove JHipster and re-install it.

[data-model.jdl.txt](https://github.com/jhipster/generator-jhipster/files/72366

[2021-09-27 15:37] pascalgrimaud commented on #16334
So nothing related to JHipster here, it's related to cloudyrock mongock lib

[2021-09-27 16:56] deepu105 commented on #16269
+ 1

Thanks & Regards,
Deepu

On Mon, Sep 27, 2021 at 2:50 PM Julien Dubois ***@***.***>
wrote:

[2021-09-27 17:23] #15961 closed

[2021-09-27 19:21] RDsideNow opened #16462 "Microfrontend Add Capability to Define an Entity of the Same name with Different Properties In Different Services"
##### **Overview of the feature request**

Since implementing microfrontends it is now possible to have an entity with the same name and different properties is two different services, but with the current capabilities the first defined entity is what gets used.  It would be nice to be able to define an entity for two different services with the same name and different properties and annotate the

[2021-09-27 19:51] Tcharl commented on #16462
+1, I had the same issue years ago I had an aggregate ms fed with events coming from other, thus being composed of many entities that were the same in multiple ms.
The only hack I had was to prefix (or suffix) the name of each entity by the ms trigram

[2021-09-28 02:54] asddwl commented on #9626
How can I solve it?

[2021-09-28 09:05] atomfrede commented on #16313
It sound too complicated and special imho. We offer webflux and classical mvc, which is what most people will use.

[2021-09-28 09:42] pascalgrimaud commented on #16313
Agree with @atomfrede
We already provide 2 good options, which is not easy to maintain both (specially Webflux). Adding 1 more option (which would be a mixt) would be overkilled, and impossible to maintain for us.

It can go into a module or a blueprint, so don't hesitate to start to code one @ledinhtuyenbkdn

[2021-09-28 10:09] ledinhtuyenbkdn commented on #16313
Thanks for your suggestions.
So I will close this issue.

[2021-09-28 10:09] #16313 closed

[2021-09-29 00:22] joro88 opened #16477 "side by side approach - missing"
##### **Overview of the issue**

Side-by-side approach is an enormous productive step for jHipster. It would allow stay with jHipster generator much longer. Currently jHipster is used only for first step of project and then abandoned.

##### **Motivation for or Use Case**

Side-by-side was planned for 7.0.0-beta.0, so it is delayed about 10 months till now according: https://github.com/jhipster/ge

[2021-09-29 00:34] mshima commented on #15490
Keep open.

[2021-09-29 02:18] RDsideNow opened #16478 "Microfrontend JDL Fails To Import with Jhipster 7.2.0"
##### **Overview of the issue**

JDL Import with microfrontend fails to successfully import

##### **Motivation for or Use Case**

Unable to import jdl with microfrontend

##### **Reproduce the error**

jhipster import-jdl jdkfilename.jh --microfrontend

##### **Related issues**

##### **Suggest a Fix**

Not sure on the suggested fix

##### **JHipster Version(s)**

7.2.0

##### **JHipster configur

[2021-09-29 07:23] nickshoe commented on #16269
This is the client code, in the `TokenProvider` class:

[code]

Here is the signature of the `JwtParser::parseClaimsJws` method, used in the `TokenProvider` class:

[code]

We're only cacthing `JwtException` (_"Base class for JWT-related runtime exceptions."_) and `IllegalArgumentException` (_"if the claimsJws string is null or empty or only whitespace"_).
These are the `JwtException` sub-classes

[2021-09-29 14:22] nickshoe commented on #16269
Good point, we may take into account the "persistance" of these custom metrics: should they be reset upon restart? If so, I guess a JWT secret change demands an application reboot, and consequently causes a reset of the `invalid-tokens` metric. If we want to take advantage of the data, then the semantics should be clear upfront and distinguish between malicious and non-malicious attempts.

[2021-09-29 15:13] gmarziou commented on #16269
In my understanding, the metrics are supposed to be persisted by Prometheus or similar external tool.

In theory, JWT secret could be changed without restarting the app (see https://www.baeldung.com/spring-reloading-properties)

I'm not sure we really need a catch-all metric, after all it's just a matter of computing a sum :)

[2021-09-29 15:26] nickshoe commented on #16269
Yeah, I'm confusing the measuring and the reporting aspects.

Shall we proceed with a single custom metric `security.authentication.invalid-tokens` and use dimensions to allow the drill down on single exception?

[2021-09-29 16:53] gmarziou commented on #16269
I didn't know about the tags, your proposal looks good to me: it looks similar to the `status` tag for the `http.server.requests` metric from Spring Boot Actuator that you can then query this way.

http://localhost:8080/actuator/metrics/http.server.requests?tag=status:200

[2021-09-29 17:40] Tcharl opened #16485 "Incompatibilities between some prod and dev databases"
##### **Overview of the issue**

There are some incompatibility between some database:
Choosing H2 as dev database and mssql as Prod databse lead to an unability of liquibase to startup (sql error while executing create table).

##### **Motivation for or Use Case**

fixing bug!

##### **Reproduce the error**

Choose H2 as dev db and Mssql as prod DB

##### **Related issues**

##### **Suggest a Fix

[2021-09-29 20:06] swarajsaaj opened #16486 "Languages with dayjsLocaleId different from locale value break in react app"
##### **Overview of the issue**

Languages with dayjsLocaleId different from locale value break in react app on changing language (For e.g. Albanian, Portuguese, Punjabi etc.)
![image](https://user-images.githubusercontent.com/6285049/135340180-70839910-0671-4f1d-95fa-f74fdbd13e65.png)

##### **Motivation for or Use Case**
Languages with different dayjs locale should work.

##### **Reproduce the e

[2021-09-30 05:16] pmverma commented on #16338
Hi @sbouchex,
It is a security best practice to show a general message for login failure.
You could do such as `User 'john' is locked.`, `User 'admin' is not present in the system.`, `User 'mary' is not activated` and so on.
However, it actually reveals many aspects of user information and hence it is avoided in an internet-facing application.
If your application is an intranet application, then I

[2021-09-30 05:36] pmverma commented on #16319
The best is to document or add a tip page rather than adding JVM options in JHipster as there are many to provide JVM options and many ways to run the app in both dev/prod environments.
Anyway, I believe users also will definitely be providing those options rather than using default or without any options.
So the user is the best responsible person for this.

[2021-09-30 05:48] pmverma commented on #16318
I have not looked deeper into it but I remember that this issue occurred when upgrading the maven enforcer plugin from `3.0.0-M3` to `3.0.0`
You can check by switching the versions.

[2021-09-30 07:29] nickshoe commented on #16269
I took a dive into the `JwtParser` code, this is the actual meaning of the `UnsupportedJwtException`:

[code]
https://github.com/jwtk/jjwt/blob/9dc82f01f0bfb74914c824ac78a398cedda9ff2f/impl/src/main/java/io/jsonwebtoken/impl/DefaultJwtParser.java#L398-L414

I've tried to make an API call on the generated project by using a token from another application (actually, an example from [this page](https

[2021-09-30 10:38] mraible commented on #16338
I agree with @pmverma so I'm closing this issue.

[2021-09-30 10:38] #16338 closed

[2021-09-30 12:33] #16011 closed

[2021-09-30 12:59] #16394 closed

[2021-09-30 15:13] #15783 closed

[2021-09-30 15:41] #16407 closed

[2021-09-30 15:45] qmonmert commented on #16407
@pascalgrimaud I claim my money :)  https://opencollective.com/generator-jhipster/expenses/51518

[2021-09-30 15:47] pascalgrimaud commented on #16407
@qmonmert : approved

[2021-09-30 16:48] swarajsaaj commented on #16393
Translations for 'message' keys in exception response already exist, I think that is the obvious candidate to be shown in toast message. I ll try to see how well it works.

[2021-09-30 20:30] mraible commented on #13733
I'm happy to report @joshlong and I had great success this week! We documented our findings in [mraible/spring-native-examples](https://github.com/mraible/spring-native-examples) and I [published an article about our experience on LinkedIn](https://www.linkedin.com/pulse/jhipster-works-spring-native-matt-raible/).

I'm closing this issue and will open a new one to create a module that incorporates

[2021-09-30 20:30] #13733 closed

[2021-09-30 20:33] mraible opened #16498 "Create a module to add Spring Native support"
##### **Overview of the feature request**

Create a module to add Spring Native support to JHipster apps.

##### **Motivation for or Use Case**

Josh Long and I figured out the necessary steps this week and documented them in [mraible/spring-native-examples](https://github.com/mraible/spring-native-examples). I also [published an article about our experience on LinkedIn](https://www.linkedin.com/p

[2021-09-30 20:39] mshima commented on #16498
I’m actually planning to add a modular generator.
Should be simple, but it’s a start.

[2021-09-30 23:41] mraible commented on #16338
﻿
Providing information about why authentication failed is not a good security practice.

[2021-10-01 09:36] yuvarajsanjeevi commented on #16394
I claim the bounty at  https://opencollective.com/generator-jhipster/expenses/51608

[2021-10-01 12:26] Jackjun724 commented on #16011
@pascalgrimaud I am unemployed, I think I need this money :) [](https://opencollective.com/generator-jhipster/expenses/51623)

[2021-10-01 12:31] pascalgrimaud commented on #16011
Thanks for your contribution @Jackjun724 : approved

[2021-10-01 12:32] pascalgrimaud commented on #16394
@yuvarajsanjeevi : approved, thanks for your work

[2021-10-02 01:49] darkguy2008 commented on #6941
Any news on this? I don't think this should be closed, I'm a new keycloak user and I'm facing this after integrating it with Seafile and Outline. Logging out from those apps don't seem to log out from keycloak, and I get that stupid error.

I mean, it would be **just great** if the page would have a "Okay, log me out" link/button or something, instead, we're locked in without a way to sanely log o

[2021-10-02 04:34] mraible commented on #6941
@darkguy2008 A JHipster app will log you out as expected these days. Please don't comment on an issue that is closed and has nothing to do with JHipster.

[2021-10-02 05:43] atomfrede commented on #13755
Keep it open

[2021-10-02 06:58] darkguy2008 commented on #6941
Oh whoops, my bad, I commented thinking this was the Keycloak repo, or part of the organization, sorry!

[2021-10-02 08:09] CodingSpiderFox opened #16520 "Overwrite source field question should have answer "never""
##### **Overview of the feature request**

The request whether to overwrite previously existing generated source files should retrieve an additional option "never" next to the exisiting "no" option.
When "never" is chosen, write that info somewhere so it get's commited to the SCM and when the next regenerate run is started, read that file and automatically skip the files specified in that new conf

[2021-10-02 10:17] pascalgrimaud commented on #16520
Cc @mshima
Is it possible to have this support directly in yeoman?

[2021-10-02 11:07] CodingSpiderFox opened #16521 "tech.jhipster.service.filter public class Filter<FIELD_TYPE> implements Serializable should have "setIn" overload for Set<FIELD_TYPE> parameter"
##### **Overview of the feature request**

Though the database will likely handle duplicate field values in an in Query efficiently, I see no reason to construct such a large query.

##### **Motivation for or Use Case**
In my service classes I usually map List<Long> parameters for Queries on Primary Key IDs to a Set<> so that all subsequent service logic is more efficient and does not produce redu

[2021-10-02 12:35] mshima commented on #16520
@pascalgrimaud this feature requires changes in 3 projects:
- mem-fs-editor is done https://github.com/SBoudrias/mem-fs-editor/pull/189
- yeoman-environment is pending https://github.com/mshima/environment/commit/23b9831e1d266e4c60621912ffad0a646cba305e
- adjust generator-jhipster custom commit

I need to review yeoman-environment changes.
See how difficult is to add tests and if it worths.
Since

[2021-10-02 13:09] pascalgrimaud commented on #16520
Oh nice to know it's doable. It will help a lot all our users!!!

[2021-10-02 17:50] #16393 closed

[2021-10-02 17:51] qmonmert commented on #16486
yes it's a bug

[2021-10-02 17:57] swarajsaaj commented on #16486
The problematic import is the `require` here https://github.com/jhipster/react-jhipster/blob/6f8b5147ed182e3adb6e06ccf20d57d2e39f4a2a/src/language/translator-context.ts#L34 as its already being imported by following line to `dayjs.ts` in generated project :-
https://github.com/jhipster/generator-jhipster/blob/c46dbd7b56c844699918e2733e3c5560dcba1ddd/generators/generator-base-private.js#L361

Not s

[2021-10-02 18:41] qmonmert commented on #16486
I think that React JHipster Lib needs a fix here https://github.com/jhipster/react-jhipster/blob/6f8b5147ed182e3adb6e06ccf20d57d2e39f4a2a/src/language/translator-context.ts#L34
We need an equivalence between locale and dayjs-locale like in the generator https://github.com/jhipster/generator-jhipster/blob/de416a262811d1b4a894a229b0e397b3fd258f16/generators/generator-constants.js#L275

DayJS locales

[2021-10-02 18:56] mshima commented on #16486
Would be nice to do a refactoring at locale enum.
Currently `value` is Java locale, `locale` is angular locale.
Would be nice to have `value` as an iso locale.
Rename Java locale to `javaLocaleId` and angular locale to `angularLocaleId`.

[2021-10-03 03:55] iconben commented on #16318
Yes, switching to 3.0.0-M3 of maven enforcer plugin works for now. Thanks for sharing @pmverma

[2021-10-03 04:35] yelhouti opened #16525 "constraint validation error messages translation not found"
##### **Overview of the issue**

Validation in JHipster apps is both done client and server side which great, and allows to handle cases where the validation can't always be insured in the client. In that case we would expect constraint validations to return messages that match what the client/frontend can translate.
For example this code for angular:
https://github.com/jhipster/generator-jhipster

[2021-10-03 09:20] pascalgrimaud opened #16527 "React JHipster lib: currently broken"
##### **Overview of the issue**

I wanted to launch a release of this lib, but it's currently broken, when I launch: `npm ci` :

[code]

ping:
- @deepu105
- @Jackjun724 as you work recently in this project
- @ctamisier as you added these peerDependencies

##### **Motivation for or Use Case**

We should be able to clone + npm ci, without problem

##### **Reproduce the error**

[code]

##### **Relat

[2021-10-03 09:54] ctamisier commented on #16527
It is working when using `npm 6.14.15`.
And it fails when using `npm 7.24.1`.

`npm ci` fails as well with `react-jhipster v0.15` (npm `7.24.1`)

If I remove `package-lock.json` and run `npm install` (with npm `7.24.1`), it fails as well. (but it works with `npm 6.14.15`)

I'll try to understand why this is happening with npm (> 7 I guess).

[2021-10-03 10:17] Jackjun724 commented on #16527
The last successfully built version is 7.15.1, My changes did not involve dependencies, but I will try to see where the problem.

[2021-10-03 11:09] Jackjun724 commented on #16527
Related discussion https://github.com/npm/feedback/discussions/191

[2021-10-03 11:36] mshima commented on #16527
How is this evolving?
Peer dependencies are ignored at npm 6. So it’s new to npm 7.
I can take a look if needed.

[2021-10-03 17:05] pascalgrimaud commented on #16527
Ok fine, so the best way would be to delete these peerDependencies and see if it works

[2021-10-03 20:09] roneliocronapp opened #16531 "Wrong name and type on findById generation"
##### **Overview of the issue**

When you specify a type other than "Long", the JDL utility overrides the method to "Long" instead of preserving the entered type.

##### **Motivation for or Use Case**

Since jhipster supports name definition for primary keys, the name provided must be in all generated code.

Note that some parts have the given name and others are not.

##### **Reproduce the error*

[2021-10-04 01:49] roneliocronapp commented on #16531
I noticed that this problem only occurs when I use "webflux" options.

Primary key with UUID type is always reverted to "Long"
![Screen Shot 2021-10-03 at 22 34 20](https://user-images.githubusercontent.com/79921454/135781438-b2c081ff-0b90-4f2e-9536-99ce53bd8063.png)

Primary key with custom name is always reverted to "id"
![Screen Shot 2021-10-03 at 22 34 37](https://user-images.githubusercontent

[2021-10-04 06:31] mmuruev opened #16538 "NPM run issue."
`Execution failed for task ':webapp'.

Seems like latest JH cant finds the  npm and also not clear why this task actually performs at the regular 'gradle test'. For now it looks Iike I cant run the java test because of some issues with npm. Where is the logic here?

`~$ jhipster --version
INFO! Using JHipster version installed globally
7.1.0
`

and yes npm itself runs just fine in CLI

[2021-10-04 06:55] Haso5894 opened #16539 "Jhipster with Vue.js can not overcome Cors policy"
Hi,

I have a project with vue.js generated with jhipster. When I try to make a request I am getting the following error:

`Access to XMLHttpRequest at 'http://localhost:8080/api/downloader/' from origin 'http://localhost:9000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
`
What I tried already is changing the dev.yml file like this

[2021-10-04 07:02] atomfrede commented on #16538
Can you fill out the template so we can reproduce it? `./gradlew test` executed all unit tests, which also means the frontend unit tests, thats why npm is part of it. Do you have a an error message from npm?

[2021-10-04 08:45] Jackjun724 commented on #16527
@ctamisier Can you delete peerDependencies ?

[2021-10-04 09:00] nickshoe commented on #16269
I've made the PR, didn't actually add any test. Need a piece of advice for testing, maybe we could use a spy to check whether the metrics tracking methods get called?

[2021-10-04 10:32] ctamisier commented on #16527
https://github.com/jhipster/react-jhipster/pull/72/files

[2021-10-04 10:50] mshima commented on #16527
I don’t think it will help.
For this release add a `.npmrc` file with the following content:
https://github.com/jhipster/generator-jhipster/blob/main/generators/client/templates/react/.npmrc.ejs

I will take a look at peer dependencies soon.

[2021-10-04 12:46] zackzack02 opened #16542 "elasticsearch : UnsatisfiedDependencyException: Error creating bean with name ... Connection refused"
##### **Overview of the issue**

Just want to give a try to the Jhipster Elasticsearch feature.
When I try to run the gateway with ./mvnw , I get a compilation error:
Please, how to resolve it?
[code]
##### **Reproduce the error**
$jhipster

[code]

$./mvnw

##### **JHipster configuration**

INFO! Using JHipster version installed locally in current project's node_modules
Welcome to the JHipster In

[2021-10-04 14:25] mraible commented on #16542
I don't think this is a compilation error. It looks like it can't connect to Elasticsearch. Did you start it?

[2021-10-04 16:32] pascalgrimaud commented on #16527
I don't understand @mshima
If it works without peerDependencies, why do we need this ? Sorry, I'm not a front guy :p

[2021-10-04 16:33] pascalgrimaud commented on #16527
Adding a bounty, as it's the last ticket I need to launch the release 7.3.0

[2021-10-04 17:30] mshima commented on #16527
I may be wrong but I don't think it will work without peerDependencies.
peerDependencies are just like a dependency on current project.
It differs at derived projects, when the derived project should have only 1 version of the package to avoid duplications and conflicts.

The conflicts exists in the devDependencies.
Eg: `jest@27` https://github.com/jhipster/react-jhipster/blob/6f8b5147ed182e3adb6e

[2021-10-04 23:27] snifferchess opened #16544 "GitError Error spawn git ENOENT"
When tried to generate  using  [https://start.jhipster.tech/generate-application](url), return me error:
`Sending request to the server...
Generating application in repository snifferchess/exemplo-modelo-vacinacao
Creating GitHub repository
GitHub repository created!
Creating `.yo-rc.json` file
Running JHipster
INFO! Using JHipster version installed globally
GitError: Error: spawn git ENOENT
    a

[2021-10-04 23:51] gmarziou commented on #16269
I wonder whether we could just add assertions on the `MeterRegistry` like in this test: https://github.com/spring-projects/spring-integration/blob/main/spring-integration-core/src/test/java/org/springframework/integration/support/management/micrometer/MicrometerCustomMetricsTests.java

[2021-10-05 01:14] amatosg commented on #15042
I'm lacking the time to help with this, but I just remember about it. This bug is still present in the code :(

[2021-10-05 02:40] yelhouti opened #16545 "Oauth2 cypress tests too slow because of login logout"
##### **Overview of the feature request**

Cypress are tests too slow because of login logout specially when using OAuth2 because of all the redirects...
Cypress introduced a feature callled Cypress.session https://www.cypress.io/blog/2021/08/04/authenticate-faster-in-tests-cy-session-command/

##### **Motivation for or Use Case**

Faster tests

- [X] Checking this box is mandatory (this is just t

[2021-10-05 03:15] mraible commented on #16545
Agreed. Adding bounty.

[2021-10-05 05:09] swarajsaaj commented on #16544
This is related to https://github.com/jhipster/jhipster-online/issues/319
@SudharakaP I guess the docker image fix (missing git) is not yet deployed, can you deploy its please?

[2021-10-05 06:57] pascalgrimaud commented on #16545
We need to think more about this, because by doing 1 single login and 1 single logout, we can't launch 1 single test. We need to launch all tests. I don't know if I'm clear enough

Let's discuss :)

[2021-10-05 07:04] yelhouti commented on #16545
It one login per spec file as mentionned in the linked.

The file also discribes how to implement it so you don't need to worry about that running tests one by one.

[2021-10-05 07:09] pascalgrimaud commented on #16545
nice to know, so it would be a big improvement ! thanks @yelhouti

[2021-10-05 07:15] yelhouti commented on #16545
my plaisir, I will start working on it right away

[2021-10-05 07:26] nickshoe commented on #16269
Thanks for the hint! It makes sense, I'll go ahead and write some tests following thata example.

[2021-10-05 11:39] beaglegit commented on #16544
Thank you,  but it is necessary to have an image in the docker to do through the jhipster-online ?

[2021-10-05 12:49] SudharakaP commented on #16544
Thanks for the ping. I'll do this today. 👍🏽

[2021-10-05 13:38] zackzack02 commented on #16542
Oh my bad! You are deadly right.

[2021-10-05 13:38] #16542 closed

[2021-10-05 13:54] yelhouti commented on #16545
it took a little bit more time than expected, because if we really oauth2logout (by to talking to the Idp) session is invalidated, instead we just clear the session client side and reload it for the next test.

[2021-10-05 14:37] swarajsaaj commented on #16544
@beaglegit There is no hard dependency of jhipster-online project on docker, it can run even as a standalone jar,  but the [https://start.jhipster.tech/](https://start.jhipster.tech/) instance is deployed in docker which was missing git installation.

[2021-10-05 15:26] nickshoe commented on #16269
@gmarziou pushed some tests on the PR branch, in particular the two classes: `SecurityMetersServiceTests` and `TokenProviderSecurityMetersTests`.

[2021-10-05 15:37] #16334 closed

[2021-10-05 15:39] ko5tik opened #16570 "generated AuthorizationHeaderUtilTest fails on windows"
##### **AuthorizationHeaderUtilTest  prodices failures on Windows due to timing issues**

While generating exipired token for test this code:

`            new OAuth2AccessToken(
                OAuth2AccessToken.TokenType.BEARER,
                "tokenVal",
                Instant.now(),
                accessTokenExpired ? Instant.now() : Instant.now().plus(Duration.ofMinutes(3))
            ),

[2021-10-05 16:28] swarajsaaj commented on #16531
This seems because of hardcoding in following instead of using `primaryKey.type`:-
https://github.com/jhipster/generator-jhipster/blob/67d1fa17ff980334c5eadd41e1bfd628424cc4c8/generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs#L138-L144
and
https://github.com/jhipster/generator-jhipster/blob/67d1fa17ff980334c5eadd41e1bfd628424cc4c8/generators/ent

[2021-10-05 21:30] mraible commented on #16394
I just tried this today and when you do select Okta, the password is still written to `.yo-rc.json`. Even though it's a temporary password, it seems like it's a risk because the user could check in the code before they log in to their app.

[2021-10-05 22:01] mraible opened #16573 "SVGs are not compressed when deploying to Heroku"
##### **Overview of the issue**

I deployed an app to Heroku and when I tested it with webpagetest.org, it gets a D for compressed images.

[code]

https://www.webpagetest.org/performance_optimization.php?test=211005_BiDcNA_528d41e36f9aec976f03c34b6fa5932e&run=3#compress_text

##### **Motivation for or Use Case**

It'd be nice if WebPageTest gave a JHipster app As or Bs across the board.

##### **

[2021-10-06 01:48] ronelio commented on #16531
OK. I forked and made some changes. That worked!

I'll do more tests and post the result.

[2021-10-06 04:34] atomfrede commented on #16394
Did you used the main branch?

[2021-10-06 05:41] yuvarajsanjeevi commented on #16394
Since we are setting in config password has been written to '.yo-rc.json'
https://github.com/jhipster/generator-jhipster/blob/main/generators/heroku/index.js#L298

@mraible Can you please test with the PR branch

[2021-10-06 05:47] SudharakaP commented on #16544
Done. This is fixed now with the new deployment. Sorry about the wait btw, past couple of weeks have been busy. 👍🏽

[2021-10-06 05:47] #16544 closed

[2021-10-06 15:12] #16573 closed

[2021-10-06 16:12] mraible commented on #16394
Yes, I will test now.

[2021-10-06 16:53] vw98075 opened #16590 "findOneWithEagerRelationships vs findById"
##### **Overview of the issue**

In the getMapping method of a resource class, the method findOneWithEagerRelationships of Spring Data JPA is used. In the patchMapping method of the same resource class, however, the method findById of Spring Data JPA is used to retrieve the data. That would lead to the NullPointerException exception during the instance variable update if the entity has some sort o

[2021-10-06 17:14] hepaestus commented on #16136
@mshima Please see my sample project to reproduce the error: https://github.com/hepaestus/test-app-one

[2021-10-06 18:43] swarajsaaj commented on #16531
Would you like to do a pull request? :)

[2021-10-06 18:58] ArthurMiller opened #16591 "ERROR! Command failed with exit code 1: npm run clean-www"
sh: rimraf: command not found
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! bnplgateway@0.0.1-SNAPSHOT clean-www: `rimraf build/resources/main/static/app/{src,build/}`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the bnplgateway@0.0.1-SNAPSHOT clean-www script.
npm ERR! This is probably not a problem with npm. There is likely additional loggin

[2021-10-06 19:26] mmuruev commented on #16538
Which form you're talking about? Yes from positions of all tests it makes sense, but if I trying to fix BE and FE actually block the building process not so much sense in it. Maybe it should have separate gradle tasks for this and can be skipped FE or BE test for example?

[2021-10-07 08:10] atomfrede commented on #16591
Can you check if it works with java 16? We do not officially support java 17 yet.

[2021-10-07 23:20] ronelio commented on #16531
Fixed some hard-coded references, but I've seen many others at tables join scripts.

I'll keeping coding and fix what I have found.

[2021-10-08 04:33] atomfrede commented on #14949
Keep it open

[2021-10-08 05:04] pascalgrimaud opened #16607 "Monolith OAuth 2.0 : compilation error"
##### **Overview of the issue**

See https://github.com/hipster-labs/jhipster-daily-builds/actions/workflows/monolith-oauth2.yaml

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster`