[2020-09-06 21:49] pascalgrimaud opened #12449 "Vue: banner"
##### **Overview of the issue**

When generating a Vue.js application and starting it, the banner is the one from Angular.

##### **Motivation for or Use Case**

There should be a specific banner with Vue.js color, to be different from Angular and React

##### **Reproduce the error**

- generate a Vue.js application
- start it
- look at the banner

##### **Related issues**

##### **Suggest a Fix**

[2020-09-06 21:50] pascalgrimaud opened #12450 "Vue: toast instead of alert custom"
##### **Overview of the issue**

In a Vue.js application, the alert is managed by alert service and is custom.
We should use Toast instead, like it's done in JHipster Control Center

##### **Motivation for or Use Case**

Simpler and better UI

##### **Reproduce the error**

- generate a Vue.js application
- start the app
- login in
- go to user management
- edit an user

##### **Related issues**

[2020-09-06 21:51] pascalgrimaud opened #12451 "Vue: webpack logs"
##### **Overview of the issue**

When start a Vue.js application in dev, the webpack log is too verbose

##### **Motivation for or Use Case**

see the full logs:

[code]

##### **Reproduce the error**

- generate a Vue.js application
- start it in dev: ./mvnw

##### **Related issues**

##### **Suggest a Fix**

Change configuration for webpack in package.json

##### **JHipster Version(s)**

Current

[2020-09-06 21:51] pascalgrimaud opened #12452 "Vue: global enum"
##### **Overview of the issue**

Similar to what was done for Angular, the enum should be global for Vue application too

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/9920
https://github.com/jhipster/generator-jhipster/pull/10015

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **J

[2020-09-06 21:52] pascalgrimaud opened #12453 "Vue: menu UI improvement"
##### **Overview of the issue**

When moving the mouse over the user-management, for Vue.js application, the size of menu changed. It should not.

##### **Motivation for or Use Case**

Better UI

##### **Reproduce the error**

- generate a Vue.js application
- start it
- move the mouse over the user-management menu
- move the mouse over another item
- see the size has changed

##### **Related issu

[2020-09-06 21:52] pascalgrimaud opened #12454 "Vue: remove additional caption"
##### **Overview of the issue**

When displaying a table in Vue.js application, an additional information is displayed at the end of table.

##### **Motivation for or Use Case**

Better UI

##### **Reproduce the error**

- generate a Vue.js application
- start it
- log in
- go to user management
- see the additional "Users" at the bottom left of the table

##### **Related issues**

##### **Suggest

[2020-09-06 21:53] pascalgrimaud opened #12455 "Vue: prettier for Vue files"
##### **Overview of the issue**

It would be nice to have prettier formatting for Vue file.

##### **Motivation for or Use Case**

Consistency in Vue file

##### **Reproduce the error**

- generate a Vue.js application
- look at the code:
    - change-password.vue is with 4 spaces for indent
    - user-management.vue is with 2 spaces for indent

##### **Related issues**

##### **Suggest a Fix**

-

[2020-09-06 21:53] pascalgrimaud opened #12456 "Front: refresh button"
##### **Overview of the issue**

When viewing an entity or the user-management page, it would be nice to have a `refresh` button.

##### **Motivation for or Use Case**

No need to press F5 :-)

##### **Reproduce the error**

- generate an application (Angular, React or Vue)
- generate entities (not mandatory)
- start the app
- go to user-management
- or go to an entity

##### **Related issues**

#

[2020-09-06 21:54] pascalgrimaud opened #12457 "Front: icon in menu"
##### **Overview of the issue**

The icon in menu could be more appropriate, for Angular, React and Vue
I suggest:
- change the icon of administration to https://fontawesome.com/icons/users-cog?style=solid
- change the icon of administration>configuration to https://fontawesome.com/icons/cogs?style=solid
- change the icon of administration>user-management to https://fontawesome.com/icons/users?sty

[2020-09-06 21:54] pascalgrimaud opened #12458 "React: logo at left"
##### **Overview of the issue**

The logo in home page should be at left, instead of being at right

##### **Motivation for or Use Case**

Consistency between Angular, React and Vue

##### **Reproduce the error**

- generate a React application
- start it

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

Curent master

##### **JHipster configuration, a `.yo-rc.json

[2020-09-06 21:56] pascalgrimaud opened #12459 "Annotation to detect generated files"
##### **Overview of the issue**

There is no way to know if a java class has been generated by JHipster or not. It will help real applications for development

##### **Motivation for or Use Case**

Add an annotation like `@Generated` to all generated classes from JHipster

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

[code]

##### **JHipster Version(s)**

Curre

[2020-09-06 21:56] pascalgrimaud opened #12460 "Annotation for Integration Test"
##### **Overview of the issue**

The list of current annotations used in Integration Test are long and repetitive.
It could be replaced by 1 annotation defined somewhere.

##### **Motivation for or Use Case**

Easy for maintenance in our templates.
Easy to use for real development

##### **Reproduce the error**

- generate a JHipster application, which needs a specific Spring context with testcont

[2020-09-06 21:56] pascalgrimaud opened #12461 "Warning in dependencies"
##### **Overview of the issue**

When starting an application, there are some warnings about dependencies

##### **Motivation for or Use Case**

Try to reduce / fix these warnings

##### **Reproduce the error**

- generate an application
- start it

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

Current master

##### **JHipster configuration, a `.yo-rc.js

[2020-09-06 21:57] pascalgrimaud opened #12462 "Angular: improve view entities"
##### **Overview of the issue**

Improve "view entities" / "view user management"

##### **Motivation for or Use Case**

##### **Reproduce the error**

- generate a project with Angular
- go to user-management
- go to view user
- it's not similar to Vue, as the alignment is not nice
- same for entities

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHips

[2020-09-06 21:57] pascalgrimaud opened #12463 "Angular: improve UI for checkbox"
##### **Overview of the issue**

When using Angular, the checkbox for entities is not nice

##### **Motivation for or Use Case**

Improve UI

##### **Reproduce the error**

- generate a project with Angular
- generate an entity with boolean
- start the app
- log in
- go to entity
- edit one of them
- see the checkbox

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[2020-09-06 21:58] pascalgrimaud opened #12464 "Swagger: disable or remove try it button"
##### **Overview of the issue**

When using Swagger, the `try it` button is annoying.
It would be nice if we can remove it and use directly the API, instead of clicking `try it` before

##### **Motivation for or Use Case**

Better UX for dev, no need to click try it, then execute...

##### **Reproduce the error**

- generate a JHipster project
- start it
- go to swagger
- play with API

##### **Re

[2020-09-06 21:58] pascalgrimaud opened #12465 "Faker data: not correct for duration"
##### **Overview of the issue**

When generating project with entities having duration, the faker data is not correct : so nothing is displayed

##### **Motivation for or Use Case**

The faker data should be correct for duration

##### **Reproduce the error**

- generate project
- generate entity with duration
- start the app
- go to the entity
- nothing is displayed for duration column

##### **R

[2020-09-06 21:59] pascalgrimaud opened #12466 "Cypress: headless only in CI, not in local"
##### **Overview of the issue**

When using cypress locally, it should be nice to not start it in headless mode
The headless mode should only be for the CI

##### **Motivation for or Use Case**

Better demo

##### **Reproduce the error**

- generate jhipster project with Cypress
- start the app
- start cypress

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

#####

[2020-09-07 02:21] otikindriyana opened #12394 "jhipster aws"
Hi, how to solve page not found after jhipster aws when update entity ?

# ### **Overview of the issue**
after jhipster aws BUILD SUCCESS and reload page and show, page not found (404)

##### **Reproduce the error**
update entity: example add new entity, update field on entity, add new relation

on localhost:
1. mvn clean
2. mvn clean package
3. mvnw
4. web app is running with new entity
5. stop w

[2020-09-07 06:07] pascalgrimaud commented on #12394
How can we guess, as you don't provide enough information to reproduce.
Maybe look at your logs ?

[2020-09-07 06:07] pascalgrimaud commented on #12394
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-09-07 06:07] #12394 closed

[2020-09-07 07:46] qmonmert commented on #11961
@pascalgrimaud : Bounty claimed https://opencollective.com/generator-jhipster/expenses/24793

[2020-09-07 07:47] pascalgrimaud commented on #11961
@qmonmert : approved

[2020-09-07 14:28] kallisti5 commented on #7157
@SudharakaP actually, @funder7 's comments were really helpful here for me since this is the first result on Google about lack-of keycloak h2 database persistence.

Thanks @funder7 !

[2020-09-07 17:12] deftdawg commented on #12366
@mshima I tried app configuration flags before.  Based on what you said this should work right?   (I ran it both with and without --skip-user-management)
[code]

[2020-09-07 18:40] DanielFran commented on #11766
@mraible @pascalgrimaud  Should we continue with this issue opened since we mgrated now by default to cypress?

[2020-09-07 19:06] pascalgrimaud commented on #11766
@DanielFran : let's keep this opened for our JHipster Code next week. Then, if it's not fixed, I think we can close it, in favor of Cypress

[2020-09-08 04:55] atomfrede commented on #12376
It looks like maven somehow resolves to `io.github.classgraph:classgraph:jar:4.8.83` (from springfox) while the neo4 migrations require `4.8.87`. Pinning it resolves the tests. Swagger UI works fine too.

[2020-09-08 05:35] #12376 closed

[2020-09-08 06:35] MathieuAA commented on #8608
There are some things we can do to improve the overall "option handling" experience:
  - fix option values according to their types (what this is issue is originally about)
  - use the affirmative form instead of a mix of the two (enableTranslation vs skipClient)

I'll create separate issues for the two points to detail everything. I plan to use them for JCode.

[2020-09-08 08:08] qmonmert opened #12406 "Documentation: Replace Github by GitHub"
**JHipster Code**

In all `.md` files (ex: CONTRIBUTING.md), replace all `Github` by `GitHub`.

##### **Overview of the issue**

In the documentation, `Github` is written instead of `GitHub`.

##### **Motivation for or Use Case**

It's a typo.

##### **Reproduce the error**

Go to https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md and look for example `the core team through

[2020-09-08 08:21] pascalgrimaud opened #12407 "Vue: global enum"
##### **Overview of the issue**

Similar to what was done for Angular, the enum should be global for Vue applications too, instead of beeing duplicated in each entities

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/9920
https://github.com/jhipster/generator-jhipster/pull/10015

##### **Suggest a

[2020-09-08 11:33] shorstki opened #12408 "Merge or overwrite entity-client sub0generator"
Maybe it's not the right place to ask, but I run out of ideas. Asked already question on stackoverflow
https://stackoverflow.com/questions/63723484/customizing-entity-client-sub-generator-in-jhipster-blueprint

But nobody answers as maybe there is too little users with better knowledge about yeoman and jhipster. The thing is I am unable to do merge or overwrite `entity-client` sub-generator. Just

[2020-09-08 12:24] mshima commented on #12408
You can take a look at https://github.com/jhipster/generator-jhipster-jooq/blob/master/generators/entity-server/index.js.

[2020-09-08 12:56] qmonmert commented on #12407
@pascalgrimaud PR done https://github.com/jhipster/generator-jhipster/pull/12409

[2020-09-08 13:02] pascalgrimaud commented on #12407
already, you're so fast @qmonmert !

[2020-09-08 14:07] ndywicki opened #12412 "Swagger UI - management API - GET requests with body"
##### **Overview of the issue**

Hello Team,

When I try to fetch the Spring Boot Actuator APIs (/management) with Swagger UI, there is an issue about the GET request have a body.

Stacktrace:

[code]

I'm not sure where come from the Open API specifications : http://localhost:8080/v2/api-docs?group=management but the GET request have a parameter in "Body" like "additionalProp1, ..."

Example:
![S

[2020-09-08 15:58] mshima opened #12413 "Make generated package.json updatable by dependabot."
##### **Overview of the feature request**

Updating generated package.json currently is done manually.

Idea:
- Extract dependencies and version to a real package.json.
- Add placeholders in package.json.ejs.
- Replace placeholder with the version from the real package.json once package.json.ejs was consumed.

##### **Motivation for or Use Case**

Keep our generated package.json updated.

##### **

[2020-09-08 16:14] mshima commented on #12408
Closing, should be discussed at https://github.com/jhipster/generator-jhipster/issues/12330.

[2020-09-08 16:14] #12408 closed

[2020-09-08 16:42] SudharakaP commented on #12413
@mshima : I was thinking about this sometime back when we added support for dependabot in the generator. But do you think this is possible since the generated `package.json` file contains `.ejs` templates strings. I was sure how to automate this. 🤔

[2020-09-08 18:03] mshima commented on #12413
@SudharakaP see https://github.com/jhipster/generator-jhipster/pull/12415.
The implementation isn't normal but it works.

[2020-09-08 20:28] Tcharl opened #12416 "JHC - DevXP - Improve tests datamodel"
##### **Overview of the feature request**

Tests case are expressed with real example but sometimes duplicated.
It would be nice to simplified and complete it with a complete datamodel instead of multiple partial ones

##### **Motivation for or Use Case**

I'm not totally sure that the tested data model is feature complete.
Also, there are multiple test entities Division, bank Account, ...
Let's i

[2020-09-08 20:36] Tcharl commented on #12341
Let's cleanup what we can though, thus the folders that don't break yeoman compatibility. I think that we can anyway do something in that area.

[2020-09-08 21:10] Tcharl opened #12417 "JHC - DevXP - Spike - generate entity.json patch instead of erasing the whole json"
##### **Overview of the feature request**

We may be inspired by framework we're using in our generated code, for example liquibase in this particular case.
Generating patch (commitid-entityname.json or timestamp-entityname.json) could bring some new cool capabilities to our end users

##### **Motivation for or Use Case**

* Only generating the modified fields when combined with needles
* Letting

[2020-09-08 21:18] Tcharl opened #12418 "JHC - DevXP - do not mix allowed list and denied list when defining option"
##### **Overview of the feature request**

Current jhipster options are not totally consistent.
* Some are acting as a denied list: skipclient, skipserver.
* Some are acting as an allowedlist: elasticsearch, dto.

We may use the same way to define options and provide reasonable defaults.

##### **Motivation for or Use Case**

Developer experience is always a key to success.
It will be always possi

[2020-09-08 22:35] ntorionbearstudio commented on #11398
My work on it was done with some tests on new generated changelogs : https://github.com/jhipster/generator-jhipster/pull/11419 but like I have written on the PR, with @mshima 's work on https://github.com/jhipster/generator-jhipster/issues/12178 this issue can be considered as closed I think

[2020-09-09 06:11] pascalgrimaud commented on #12416
@Tcharl : plz, don't forget to put appropriate tags, so it's better for visibility :)

[2020-09-09 06:14] pascalgrimaud commented on #12417
Not sure to understand well this ticket.
It's probably related to what @mshima has already done with liquibase ?

[2020-09-09 08:17] #12406 closed

[2020-09-09 08:43] Tcharl commented on #12417
Hi @pascalgrimaud , sorry for not being clear enough, let me take a concrete example so that it will illustrate what I have in mind.

In a first round, the end user will define a simple (sprint 0) jdl entity:

[code]

Instead of generating an `article.json` in the .jhipster folder of a project, it would generate a `<timetamp>-article.json` file with the exact following content:

[code]
Then, in a

[2020-09-09 09:04] pascalgrimaud commented on #12417
Ok I understand the feature, thanks.

Now, my next question is:
- why is it usefull to have :
    - article.json (original)
    - timestamps1-article.json
    - timestamps2-article.json
    - timestamps3-article.json
    - etc ?

It there a specific usecase which is important for having this, for our end-users ?

My workflow on real JHipster projects:
- generate an application with JHipster
- 1st

[2020-09-09 09:38] Tcharl commented on #12417
Let me try to describe the potential value brought by this approach.

I use the exact same workflow as you hopefully, but I'm sometimes struggling with this, here are my pain points:

Sometimes, I added some 'hand crafted' logic on the generated entities.
Concrete examples I've currently:

1. added an `@Field(type = FieldType.Keyword)`on some of my entity's attributes, a @Secured(roleAllowed=...)

[2020-09-09 10:16] mshima commented on #12417
Ok then.
- timestamps*-article.json:
I actually do that in then liquibase blueprint but it’s stored inside .yo-ric.json.
It’s pretty easy to implement at current state. I kept out for simplicity and not sure how an full reproducible timeline like I did before would be useful.
- needles for fields in entity is possibles for insertions. But what about removals? That would be really difficult.
- IMO

[2020-09-09 10:30] mshima commented on #11766
@Falydoor can you confirm ng-jhipster@0.15.0 fixes the problem?

[2020-09-09 11:15] #12407 closed

[2020-09-09 12:48] mshima commented on #8915
It's time for an update.

- This issue proposes to drop prompt support.
I think some of us still uses prompts, cc @pascalgrimaud.

- Proposes to drop .yo-rc.json and .jhispter/*.
IMO they are a database with current application state. Not configuration files.
Incremental changelog uses jdl as new state, while .yo-rc.json and .jhipster/* are the old state.

- The workflow is clean now, most of the

[2020-09-09 12:52] Falydoor commented on #11766
It does, awesome!

[2020-09-09 12:58] #11766 closed

[2020-09-09 16:04] qmonmert opened #12467 "Sonar: Replace this "String" wrapper object with primitive type "string""
##### **Overview of the issue**

Sonar issue in duration.pipe.ts.ejs

##### **Motivation for or Use Case**

Minor Sonar issue

##### **Reproduce the error**

- Generate a project with Angular like framework.
- Start Sonar `docker-compose -f src/main/docker/sonar.yml up -d`
- Launch analysis `./mvnw -Pprod clean verify sonar:sonar`

![image](https://user-images.githubusercontent.com/9989211/9262366

[2020-09-09 16:52] qmonmert opened #12468 "Sonar: Remove this unused import of 'Validators'"
##### **Overview of the issue**

Sonar issue in the file `generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs`
Import `Validators` should not be in the file for some configurations

##### **Motivation for or Use Case**

Minor Sonar issue

##### **Reproduce the error**

- Generate a project with Angular like framework.
- Start Sonar `doc

[2020-09-09 16:57] qmonmert opened #12469 "Documentation: typo"
##### **Overview of the issue**

There is a typo in the file `CONTRIBUTING.md`. Indeed there is an **extra space**.

##### **Motivation for or Use Case**

Better documentation

##### **Reproduce the error**

- Go on this page: https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md
- Look the line `correct with the following command :`

##### **Related issues**

##### **Suggest

[2020-09-09 18:58] #12413 closed

[2020-09-10 08:08] qmonmert opened #12470 "Sonar: Remove this unused import of 'Vue'"
##### **Overview of the issue**

Sonar issue in the files:
`generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs`

`Vue` from `vue-property-decorator` should not be imported.

##### **Motivation for or Use Case**

Minor Sonar issue

##### **Reproduce the error**

- Generate a project with Vue like framework.
- Start Sonar `docker-compose -f src/main/docker/so

[2020-09-10 08:27] qmonmert opened #12471 "Sonar: Remove this unused import"
##### **Overview of the issue**

Sonar issue in the file:
`generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs`

`numeric` `required` `minLength` `maxLength` `minValue` `maxValue` are imported by default, but we need to be smart and check first if there are useful. In this case, we can import them.

##### **Motivation for or Use Case**

Minor Sonar is

[2020-09-10 09:05] qmonmert opened #12472 "Sonar: Remove this useless assignment to variable "locale""
##### **Overview of the issue**

Sonar issue in the file:
`generators/client/templates/react/src/main/webapp/app/shared/DurationFormat.tsx.ejs`

The line `locale = TranslatorContext.context.locale;` seems to be useless.

##### **Motivation for or Use Case**

Minor Sonar issue

##### **Reproduce the error**

- Generate a project with **React** like framework.
- Start **Sonar** `docker-compose -f sr

[2020-09-10 09:12] qmonmert opened #12473 "Sonar: Remove this unused import of 'FontAwesomeIcon'"
##### **Overview of the issue**

Sonar issue in the file:
`generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs`

`FontAwesomeIcon` is imported by default, but we need to be smart and check first if there is useful. In this case, we can import it.

##### **Motivation for or Use Case**

Minor Sonar issue

##### **Reproduce the error**

- Generate a project with

[2020-09-10 10:20] mshima commented on #12366
I am reopening since in my opinion there are some bugs here.
- It's possible to create entity called User and relationships like the example using prompts, tried and generated, didn't tried to execute.
- I've managed to bypass the error with some changes.
- Company entity is generating, with user relationship correctly:
[code]
- But there is another bug that User entity is not generated due to jdl

[2020-09-10 11:26] jdubois opened #12428 "Update all the Docker Compose files to Compose v3"
All our Docker Compose files use the Compose v2 specification.

Current Compose version is v3.8 and we should update all of them -> https://docs.docker.com/compose/compose-file/

[2020-09-10 12:01] mshima commented on #12366
I have identified 3 case that I think they are bugs:
- User entity is ignored by jdl when skipUserManagement:
[code]
and
[code]
This second example Company is generated with user relationship but User is missing.

- jdl should throw if when trying to override built-in User entity.
[code]

- jdl should allow ManyToOne from user to another entity if skipUserManagement.
[code]

[2020-09-10 12:47] bendeguz-szatmari opened #12429 "Regenerating entity as readOnly in a gateway application causes compile errors"
##### **Overview of the issue**

I am developing application in microservices architecture with JHipster Registry, UAA, gateway, etc.
I have generated application components with JHipster generator from command line.
I had an entity generated with readOnly property set to false, let's call it Message. I ran entity generation also in the gateway application's folder for the webapp (I am using React

[2020-09-10 12:53] mshima commented on #12366
@deftdawg I think a possible workaround is:
- remove ManyToOne relationship, OneToMany would add a back reference anyway.
- after importing, create User using prompt `jhipster entity User`.
[code]

[2020-09-10 13:45] DanielFran commented on #11136
@jhipster/developers Should we delete the use of cucumber?

[2020-09-10 13:51] pascalgrimaud commented on #11136
+1 from me

[2020-09-10 13:55] pascalgrimaud commented on #12429
A 1st answer after reading your ticket. I didn't test it yet.

I think the behavior is normal:
- 1st time: you generate entity with default CRUD (readonly=false)
- 2nd time: you changed option, when regenerate with readonly=true
- the old files should be still there, you need to delete them manually

It's exactly the same workflow:
- you generate with Elasticsearch option
- then, later, you decide

[2020-09-10 13:59] avdev4j commented on #11136
I'm sorry, but what's wrong with cucumber?

[2020-09-10 14:07] qmonmert opened #12477 "Java: WebConfigurerTest.java import unused"
##### **Overview of the issue**

In the file `generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs`:
the import `import io.github.jhipster.web.filter.CachingHttpHeadersFilter;` is useless.

##### **Motivation for or Use Case**

Import useless

##### **Reproduce the error**

- Generate an application
- Look the file `WebConfigurerTest.java`

##### **Related issues**

[2020-09-10 14:07] pascalgrimaud commented on #11136
@avdev4j : no one seems to have interest in Cucumber, as this ticket is opened since 9 months and nothing has been done... So just let's remove this option for v7

[2020-09-10 14:58] mshima commented on #12429
We don’t support changing configs now.
You need to recreate.
The only use case that removes file now is a deleted file from templates or renamed file.

[2020-09-10 14:58] #12429 closed

[2020-09-10 15:18] mshima commented on #12069
- Now we have others priorities (postWriting).
- The order is the parameter one `--blueprints first,second`. So you should use `--blueprints override,enhancement`

Closing.

[2020-09-10 15:18] #12069 closed

[2020-09-10 15:28] MathieuAA commented on #11691
I'll fix it.

[2020-09-10 15:29] MathieuAA commented on #11691
Unless @pascalgrimaud wants it for JCode?

[2020-09-10 15:34] mshima commented on #10858
@pascalgrimaud I think @kaidohallik fixed this some time after creating this.

[2020-09-10 15:41] pascalgrimaud commented on #11691
@MathieuAA : as you want :)

[2020-09-10 15:42] pascalgrimaud commented on #10858
@kaidohallik : do you confirm ? Can we close this ?

[2020-09-10 19:51] murdos commented on #11136
May I try to do the update? Cucumber option was one of nice and cool things when I discovered JHipster, and I think it would be a shame to have it removed.

[2020-09-10 19:58] pascalgrimaud commented on #11136
You're welcome @murdos ! thanks a lot

[2020-09-10 20:20] DanielFran commented on #11398
@pascalgrimaud Can you confirm this can be closed?

[2020-09-10 20:21] MathieuAA commented on #11691
Two things here:
  - The JDL sample doesn't work, there's no `:` char between a field's name and a type,
  - This is what is actually displayed when trying to import the JDL content:
[code]

If it's not necessary to generate the corresponding many-to-one relationship for neo4j-related cases then:
  - This case should be documented,
  - The generator should take this into account (I'm making the ch

[2020-09-10 20:24] pascalgrimaud commented on #11398
@DanielFran : I don't know, I wanted to test this feature but didn't have the time yet, because of preparing JHipster Code... Only @mshima knows :)

[2020-09-10 20:43] mshima commented on #11398
@pascalgrimaud @DanielFran I think so.

[2020-09-10 20:46] MathieuAA commented on #11691
@atomfrede should we disable the automatic conversion to a bidirectional one-to-many relationship only if the DB type is Neo4j? Or also if the source & destination entities are the same?

[2020-09-10 20:48] mshima commented on #12366
I failed to provide a patch to fix this. Current jdl implementation is a black-box to me.
So I will provide some findings here.

@MathieuAA should skipUserManagement be an unary option?
There are reference to it, but the definition is missing:
https://github.com/jhipster/generator-jhipster/blob/8a939555af2933247174b3c627d7409ac7327ee6/jdl/converters/json-to-jdl-option-converter.js#L22
https://gith

[2020-09-10 20:52] DanielFran commented on #11398
Ok. So let's close it

[2020-09-10 20:52] #11398 closed

[2020-09-10 20:54] MathieuAA commented on #12366
Seems like a bad refactoring happened, my bad. It's an app option.
I'll fix it after I'm done with another issue

[2020-09-10 21:05] MathieuAA commented on #12366
Thanks for the deep analysis @mshima!

[2020-09-10 21:16] MathieuAA opened #12433 "Double warning logging when creating an entity from the CLI"
##### **Overview of the issue**

When trying to fix #11691, I tried to generate an entity with a reflexive one-to-many relationship using neo4j as DB type.
However, this appeared in the console:
[code]

##### **Motivation for or Use Case**

It's not very user-friendly to have the same warning appear twice.

##### **Reproduce the error**

- jhipster entity Person
- you can skip the field generation

[2020-09-10 21:28] mshima commented on #12433
It’s in my todo.

[2020-09-10 21:34] deftdawg commented on #12366
Thanks for the suggestion @mshima.  I gave it a shot and here's what I found:

- removing the ManyToOne back link did allow the JDL to parse and JHipster ran generating an application
- No Company entity was generated (no .jhipster directory)
- The .yo-rc.json has correct settings for skipUserManagement recorded, however no entities:
[code]

Running ``jhipster entity User`` runs, but bombs out whe

[2020-09-10 22:04] mshima commented on #12366
Have you added `entities *`?

[2020-09-10 22:13] deftdawg commented on #12366
@mshima dough, nope forgot that... rerunning now and Company has been detected.  My bad.

[2020-09-11 07:14] atomfrede commented on #11691
Does it cause any problems except for neo4j? If not let's just do it for neo

[2020-09-11 07:25] MathieuAA commented on #12433
Thanks Marcelo!

[2020-09-11 08:16] qmonmert opened #12481 "Java: clean AccountResourceIT"
##### **Overview of the issue**

- In the file `generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs`, the import `import org.junit.jupiter.api.BeforeEach;` is present by default but we need to be smart and check if it is useful.

- In the file `generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs`, the import `import org.springfram

[2020-09-11 08:43] qmonmert opened #12482 "Java: UserJWTControllerIT.java import unused"
##### **Overview of the issue**

In the file `generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs`:
the import `import org.springframework.test.web.servlet.setup.MockMvcBuilders;` is useless.

##### **Motivation for or Use Case**

Import useless

##### **Reproduce the error**

- Generate an application
- Look the file `UserJWTControllerIT.java`

##### **Related

[2020-09-11 14:01] #11691 closed

[2020-09-11 19:25] BraianNunes commented on #7157
I'm using Keycloak on Openshift and need to store the H2 Database in a different directory.
How to do that?
In an older version, I was using the property **DIR_H2_DS**, but it seems not working now.

[2020-09-11 20:06] #11136 closed

[2020-09-12 08:53] pascalgrimaud commented on #11122
@ksilz : really sorry I didn't saw you mentioned me. Use what you want:
- comments in this ticket
- blog post
- talk at an event
- public repository with project
- etc

For your information, at JHipster Code, we'll have a live stream Twitch and we'll talk about Hexagonal Architecture, so it will be really interesting I'm sure ;)

[2020-09-12 12:12] bmvermeer opened #12441 "Integrate automatic dependency scanning for security vulnerabilities."
Hi Folks, Brian here from Snyk

I had a chat with Matt Raible @mraible yesterday and he asked me to submit this issue.
We would love to integrate our free open-source dependency scanning capabilities into JHipster. As Snyk can scan issues in for multiple ecosystems like NodeJS, Java and .Net we feel that an integration makes sense.

What we would like to achieve is that JHipster users can use Snyk

[2020-09-12 14:21] pascalgrimaud opened #12483 "JHCC: add missing badges in README"
##### **Overview of the issue**

Add missing badges in README:
- GitHub builds
- Sonar analyze
- Docker Hub with Docker images (similar to jhipster-registry)

##### **Motivation for or Use Case**

So we can know the state of build, Sonar, etc

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **E

[2020-09-12 14:56] pascalgrimaud opened #12485 "Java: tests for AuthorizationHeaderUtil"
##### **Overview of the issue**

The class `AuthorizationHeaderUtil` is important when using OAuth2+Microservice, but there is no test

##### **Motivation for or Use Case**

Write tests for `AuthorizationHeaderUtil`

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

Current master

##### **JHipster configuration, a `.yo-rc.json` file g

[2020-09-12 15:17] pascalgrimaud opened #12486 "Move jib folder"
##### **Overview of the issue**

In `src/main` folder, we have:
- docker
- java
- jib
- resources
- webapp

I think we can move jib to docker folder, as jib contains just 1 file, and is probably not used in all projects

##### **Motivation for or Use Case**

Reduce the number of folders in `src/main`

##### **Reproduce the error**

Generate a project, look in `src/main`

##### **Related issues**

[2020-09-12 15:35] pascalgrimaud opened #12487 "Add new artwork"
##### **Overview of the issue**

It would be so cool to have new artwork
Don't hesitate to add at https://github.com/jhipster/jhipster-artwork

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in th

[2020-09-12 15:37] pascalgrimaud opened #12488 "DevBox: upgrade to Ubuntu 20.04"
##### **Overview of the issue**

Our currrent [devbox](https://github.com/jhipster/jhipster-devbox) uses Ubuntu 18.04
It would be cool to upgrade to Ubuntu 20.04

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` fi

[2020-09-12 15:59] pascalgrimaud opened #12489 "Generated CI with e2e"
##### **Overview of the issue**

Our generated CI doesn't have e2e tests.
It would be nice if it was possible

##### **Motivation for or Use Case**

Better CI/CD

##### **Reproduce the error**

- generate a project with e2e options (protractor or cypress)
- generate CI with jhipster ci-cd
- look at the generated CI file -> no e2e tests

##### **Related issues**

##### **Suggest a Fix**

##### **JH

[2020-09-13 02:57] mraible commented on #12441
@bmvermeer thanks for entering this issue. ❤️

If developers want to integrate Snyk w/o JHipster adding support, how would they do it?

Is it as simple as:

[code]

Will this test `package.json` and `pom.xml`? What about Gradle, will it auto detect `build.gradle` and `build.gradle.kts`?

Do you think we should install Snyk and run it as part of the app-generation process, or only when generating C

[2020-09-13 02:59] mraible commented on #12441
Another thought: JHipster has support for generating K8s config and building Docker images with Jib. How can Snyk help scan those configurations and detect vulnerabilities?

[2020-09-13 07:38] MathieuAA opened #12444 "Improve test speed by using mocha's parallel flag"
When doing some tests this morning, I decided to try the `-p` flag of Mocha to run tests in parallel.
The results:
  - Tests were over in **4 minutes**
  - Only **40/5000+** tests failed (all CLI-related)

The error:
[code]

Without the flag: Over **13 minutes**

@jhipster/developers I think it's worth investigating.

If the investigation is inconclusive, we can still split our tests so as to have

[2020-09-13 07:57] MathieuAA commented on #12444
BTW, solving this issue before JCode would be good, so that we don't wait too long for our test to be over.
Or maybe we could do this during JCode :)

[2020-09-13 11:23] MarlonLuan opened #12445 "When the "cacheProvider" is set to "no", the "enableHibernateCache" is automatically set to "true""
##### **Overview of the issue**

When the "cacheProvider" is set to "no", the "enableHibernateCache" is automatically set to "true"

When the "cacheProvider" is set to "no", the option to select the  "enableHibernateCache" does not appear,
then the default value("true") is set.

##### **Reproduce the error**

- jhipster

? Which *type* of database would you like to use? SQL (H2, MySQL, MariaDB, Po

[2020-09-13 11:40] atomfrede commented on #12444
That is a huge improvement :+1:

[2020-09-13 12:34] mshima commented on #12444
https://github.com/mshima/generator-jhipster/commits/mocha_parallel
Fell free to test, but I am against merging it.
- won’t benefit github CI (dual core)
- will leave too many temp files. Proper cleanup after step should be added to tests. Same folder is used currently, cleanup happens on before step.

A easy workaround is to run only desired tests:
`mocha test/...`

[2020-09-13 13:37] deepu105 commented on #12444
I tried to run tests in parallel when I was developing the CLI but it was
very buggy and flaky so gave up but probably we can split the tests into
multiple groups and run some of them in parallel. For folder cleanup may be
we can switch to generating folder with random names and clean after each
test

On Sun, 13 Sep 2020, 2:34 pm Marcelo Shima, <notifications@github.com>
wrote:

[2020-09-13 14:53] MathieuAA commented on #12444
Splitting them by domain like JDL, client, server, etc., or even by subgen may be a good idea

[2020-09-13 15:28] #12433 closed

[2020-09-13 17:03] deepu105 opened #12490 "JDL Studio: Use the new Jhipster logo"
Change to new Jhipster logo

[2020-09-14 05:46] pascalgrimaud commented on #12452
Already done by https://github.com/jhipster/generator-jhipster/pull/12409

[2020-09-14 05:46] #12452 closed

[2020-09-14 07:02] bmvermeer commented on #12441
@mraible
It is indeed as easy as you say to use the snyk cli.
[code]
But before the first test a user needs to authenticate once with their free account.
By using
[code]
you will get redirected to the browser and you can signing or signup. If you already have an account the token can be provided like
[code]

The test command `snyk test` will look for a manifest file itself and use this for scannin

[2020-09-14 07:59] ksilz commented on #11122
@pascalgrimaud Thank you for your reply! I'll watch the conference videos for sure!

[2020-09-14 08:05] deepu105 opened #12478 "JDL-Studio: Fix JHipster online authentication"
##### **Overview of the issue**

JDL-Studio authenticates with JHipster online to get user details and user JDLs, the authentication needs to be tested and fixed along with unit test

##### **Suggest a Fix**

The `initAuthentication` authentication code is already present in the `src/components/JhOnlineReducer.ts` this needs to be tested with JHipster Online and fixed if needed,

##### **JHipster

[2020-09-14 08:07] deepu105 opened #12479 "JDL-Studio: Fix loading of user JDLs"
##### **Overview of the issue**

JDL-Studio loads user JDLs, this needs to be tested and fixed along with unit test

##### **Suggest a Fix**

The `fetchAllJDLsMetadata` code is already present in the `src/components/JhOnlineReducer.ts` this needs to be tested with JHipster Online and fixed if needed,

##### **JHipster Version(s)**

master

[2020-09-14 08:07] deepu105 opened #12480 "JDL-Studio: Fix loading of user selected JDL"
##### **Overview of the issue**

JDL-Studio loads user selected JDL, this needs to be tested and fixed along with unit test

##### **Suggest a Fix**

The `loadJdl` code is already present in the `src/components/JhOnlineReducer.ts` this needs to be tested with JHipster Online and fixed if needed,

##### **JHipster Version(s)**

master

[2020-09-14 08:09] pascalgrimaud opened #12484 "JHOnline: improve UI"
##### **Overview of the issue**

The UI can be improved, because today, it's not really beautiful...
- check box
- select too long
- etc.

The `new` to statistic needs to be removed.
It has been long time ago...

##### **Motivation for or Use Case**

![jhipster-online-ui](https://user-images.githubusercontent.com/9156882/92997733-9ae46880-f515-11ea-9ad4-27fe4c919a92.png)

##### **Reproduce the err

[2020-09-14 08:21] Virginiw commented on #12469
hello, available to work on this !

[2020-09-14 08:21] pascalgrimaud commented on #12469
Thanks a lot @Virginiw : I assign the ticket to you

[2020-09-14 08:28] FabienEssid commented on #12458
I'm looking this one !

[2020-09-14 08:29] pascalgrimaud commented on #12458
Thanks @FabienEssid : I assign the ticket !

[2020-09-14 08:32] ThomasCarca commented on #12473
@deepu105 I'll be taking this one

[2020-09-14 08:34] chelfe commented on #12483
i take this ticket

[2020-09-14 08:34] SoniaLahi commented on #12472
i take this ticket

[2020-09-14 08:38] pascalgrimaud commented on #12483
thanks @chelfe ! I assign the ticket to you

[2020-09-14 08:39] pascalgrimaud commented on #12472
thanks @SoniaLahi : I assign the ticket to you

[2020-09-14 08:40] bengaid commented on #12463
@deepu105

[2020-09-14 08:42] fdaudies commented on #12450
Hello @pascalgrimaud, I'm available to work on this

[2020-09-14 08:47] ascelineboullen commented on #12457
I'm looking this one ! :)

[2020-09-14 08:55] thri33 commented on #12471
I take this ticket

[2020-09-14 09:05] pascalgrimaud commented on #12457
thanks @ascelineboullen : I assign the ticket

[2020-09-14 09:06] pascalgrimaud commented on #12450
Thanks so much @fdaudies : I will be so happy to have it
I assign the ticket to you !

[2020-09-14 09:06] pascalgrimaud commented on #12471
Thanks @thri33 : I assign the ticket to you !

[2020-09-14 09:07] pascalgrimaud commented on #12463
Thanks @bengaid !

[2020-09-14 09:11] nonomoho commented on #12418
I think we should keep `skipclient` or `skipserver`. If we pass them in positive (`generateclient`, `generateserver`), the user will feel forced to use it even the default value is `true`.

[2020-09-14 09:23] Virginiw commented on #12482
May I take this issue ?

[2020-09-14 09:23] pascalgrimaud commented on #12482
Ok @Virginiw : I assign the ticket to you

[2020-09-14 09:38] deepu105 opened #12494 "JDL: Improve parsed JSON"
When using `jhipster-core/lib/dsl/api` to parse a JDL to JSON, provide the resolved entities in the application structure instead of included/excluded

Current:
[code]

Expected
[code]

[2020-09-14 09:39] ThomasCarca commented on #12468
@deepu105 I'll take this one

[2020-09-14 09:41] FabienEssid commented on #12456
I'm looking this one

[2020-09-14 09:41] pascalgrimaud commented on #12456
Thanks @FabienEssid

[2020-09-14 09:42] pascalgrimaud commented on #12468
Thanks @ThomasCarca : I assign the ticket to you

[2020-09-14 09:43] deepu105 opened #12495 "JDL: Provide JDL keywords as an API"
Provide an API to replace the keyword and stuff in https://github.com/jhipster/jdl-studio/blob/v2/src/codemirror/CodemirrorJDLMode.ts

[2020-09-14 09:56] fcauchois opened #12496 "Introduce gen.ignore behavior"
##### **Overview of the feature request**

We want to be able to force generator to use pre-existant class. This will enable developers to use custom classes.

Why not using a ".gitignore way" of manage this behavior : .genignore
File content is just full classe name or package name (like import syntaxe)  to be ignore at generator runtime

.genignore :
*.ElasticSearchConfiguration
*.domain.EntityC

[2020-09-14 10:01] SoniaLahi commented on #12490
I would like to take this ticket

[2020-09-14 10:06] Tcharl opened #12497 "Introduce the side by side option"
##### **Overview of the feature request**

We propose to add a jhipster 'side by side' application binary option (`sidebyside * exept D`) generating code differently

0. sample jdl

let's take that jdl as an example:
[code]
1. entity code

[code]

##### **Motivation for or Use Case**

Jhipster is generating classes that are directly used and that cannot be customized easily: any regeneration will

[2020-09-14 10:13] MarlonLuan opened #12498 "Name Convention Getter for "Boolean" and "boolean" is incorrect"
##### **Overview of the issue**

In "User.java",

https://github.com/jhipster/generator-jhipster/blob/a91c744a3d093cb738825b369ab912325104c7f9/generators/server/templates/src/main/java/package/domain/User.java.ejs#L438

 following conventions the correct one should be

[code]

In "LoginVM.java",
https://github.com/jhipster/generator-jhipster/blob/86a0ecdeca071ba4098d3a115f548841a821ab9e/generators

[2020-09-14 10:27] #12469 closed

[2020-09-14 10:28] #12473 closed

[2020-09-14 11:00] tdavis61 commented on #377
It would be nice to actually have the solution printed here before you closed it.
The problem is that in the build.gradle the Java{...} item needs one of these version enums.

The solution is to enter it as
    java {
        sourceCompatibility = JavaVersion.VERSION_1_7
        targetCompatibility = JavaVersion.VERSION_1_7
    }

I'm using Java 14 so mine was updated to

    java {
        source

[2020-09-14 11:07] tdavis61 commented on #377
Note:
If your using gradle 5.6.4
Then VERSION_14 isn't declared.
You need to user JavaVersion.VERSION_12                    (last defined version for that gradle)
(the 1.14 JDK works fine with this setting ).

[2020-09-14 11:40] #12482 closed

[2020-09-14 11:46] #12458 closed

[2020-09-14 11:49] #12483 closed

[2020-09-14 11:51] pascalgrimaud commented on #12428
It's complex, I'm adding a bounty on this

[2020-09-14 11:55] avdev4j commented on #12498
hi @MarlonLuan
on which documentation do you based this information? (Boolean = getXXX and boolean = isXXX)?

[2020-09-14 12:07] hosijj commented on #10764
I have the same problem. Get
`I/O error on GET request for "http://uaa/oauth/token_key": Connection timed out: connect; nested exception is java.net.ConnectException: Connection timed out: connect`
error while my uaa on docker and prod mode and try to run micro and gateway in my local with dev mode.
Do I need to update my jhipster generator? (currently 6.5.1)

[2020-09-14 12:15] thri33 commented on #12464
@deepu105 I take this ticket

[2020-09-14 12:20] chelfe commented on #12451
i take this ticket

[2020-09-14 12:21] mshima commented on #12496
@fcauchois this is not suitable for jhipster.
It should be implemented upstream (conflicter currently implemented at yeoman-generator, will be moved to yeoman-environment).
See https://github.com/jhipster/generator-jhipster/issues/12080

[2020-09-14 12:32] fcauchois opened #12502 "Injecting custom code in generation process"
##### **Overview of the feature request**

From the studio, or more precisely in jdl configuration file, we want to add hook syntaxe to allow custom code to be directly printed in generated code.

JDL hook syntaxe proposal :
[code]

@custom <type>
import ....
``

type : type of generated content. Can be java class, or Typescript class (as EntityComponent, etc) ? Every "type" must match a dedicated

[2020-09-14 12:39] ThomasCarca commented on #12477
@pascalgrimaud I'll handle this one

[2020-09-14 12:45] pascalgrimaud commented on #12464
I assign the ticket to you @thri33

[2020-09-14 12:46] pascalgrimaud commented on #12451
I assign the ticket to you @chelfe

[2020-09-14 12:51] SoniaLahi commented on #12472
This sonar error highlights a bug. The real problem is here is that the locale is not used when calling the moment method.

The condition actually makes sense ans should be kept as it is.

[2020-09-14 13:00] SoniaLahi commented on #12486
I would like to take this ticket please :smiley:

[2020-09-14 13:08] pascalgrimaud commented on #12486
ok @SoniaLahi : I assign this ticket to you

[2020-09-14 13:27] pascalgrimaud commented on #10764
Yes plz, @hosijj : if you can try with last version of JHipster 6.10.1, because the fix was for 6.7.0, so I think you have the issue with 6.5.1
Then don't hesitate to tell us if you still have the issue

[2020-09-14 13:37] Virginiw commented on #12453
Could I handle this issue please ?

[2020-09-14 13:38] pascalgrimaud commented on #12453
I assign the ticket to you, @Virginiw

[2020-09-14 13:38] cbornet commented on #10077
There's currently work done on this

[2020-09-14 13:42] #12477 closed

[2020-09-14 13:44] MarlonLuan commented on #12498
- When select option "Generate Getter and Setter" in IDE (I tested the eclipse and Intellij) follows this pattern

- Lombok docs
https://projectlombok.org/features/GetterSetter

- Oracle javabeans spec
https://download.oracle.com/otn-pub/jcp/7224-javabeans-1.01-fr-spec-oth-JSpec/beans.101.pdf

8.3  Design Patterns for Properties
8.3.2 Boolean properties

[2020-09-14 13:52] avdev4j commented on #12498
So let's go, would you like to contribute to this ticket? We need to check if entity generator follow this pattern too.

[2020-09-14 13:54] MathieuAA commented on #12496
@mshima hello! From what @fcauchois said, is there any other solution that you see that could solve the problem?

[2020-09-14 13:57] cbornet commented on #12497
For the repository and service, I believe it's easier to do side-by-side by extending the repository generated by JHipster and setting `@Primary` on the child classes. It achieves the same goal without modifying the current generated code and without making things more complex.

[2020-09-14 14:08] MarlonLuan commented on #12498
Yes, you can assign it to me

[2020-09-14 14:08] Tcharl commented on #12496
Can this option be reconsidered: gitignore has no merge, diff, bail, ... and it just works.
I think that overengineering the solution would be too complicated for our end users.
In the end, they just want to say: "please generator don't touch this"

[2020-09-14 14:13] ThomasCarca commented on #12467
@pascalgrimaud I'll handle this one :)

[2020-09-14 14:18] Hawkurane commented on #12466
Hello, can I take this?

Also what command should we use for the non-headless mode?

- Change npm run e2e to a non-headless mode and run a npm run e2e:headless in the CI?
- Keep npm run e2e as headless, create a non-headless mode (e.g. npm run e2e:local)

[2020-09-14 14:21] #12472 closed

[2020-09-14 14:44] pascalgrimaud commented on #12450
More work than expected for a 1st contribution
I'm adding a bounty, as it's well deserved

[2020-09-14 14:48] SoniaLahi commented on #12449
I would like to take this ticket, Sir. May I ?

[2020-09-14 14:54] SoniaLahi commented on #12454
I take this issue.

[2020-09-14 14:54] mshima commented on #12496
Why not just skip?
`dry-run` will skip, but print diffs to console.
So you would have access to the diff, and analyze if you didn’t lost anything.
`force` would prevent to run `jhipster —force` every time.

[2020-09-14 14:54] ThomasCarca commented on #12465
@pascalgrimaud I will take this one

[2020-09-14 14:57] PierreBesson opened #12511 "Add support for simple JDL deployments"
##### **Overview of the feature request**

Since the JDL supports the deployment keyword, it would be nice to have it support simple use cases. Currently, JHipster crashes when attempting to generate deployment for a single app using JDL.

##### **Motivation for or Use Case**

I want the following JDL file :

[code]
To generate a valid JHipster application and its Kubernetes deployment files in `d

[2020-09-14 15:17] chelfe commented on #12149
Hello, I can't reproduce your issue with your uaa and gateway yo-rc.json.
I run it with the same **jHipster version (6.10.1)** and **latest jHipster registry**.

I don't have any error and I can log in to gateway with admin account for example.

Can you regenerate uaa and gateway, and give us more details to help us to reproduce your issue ?

[2020-09-14 15:21] thri33 commented on #12449
I take this ticket

[2020-09-14 15:24] Tcharl commented on #12496
What if we hack  `generator-base.js#writeFilesToDisk` ?

[2020-09-14 15:31] #12490 closed

[2020-09-14 15:35] #12471 closed

[2020-09-14 15:41] #11751 closed

[2020-09-14 15:43] mshima commented on #12496
@Tcharl why? Conflicter approach is easier and is the only approach that will work.
`writeFilesToDisk` is just a wrapper for others functions and they be used alone.

[2020-09-14 15:56] FabienEssid commented on #12456
Some news about my work.
I have to make modifications on these parts :
* [x] React - User Management screen
* [x] React - Entity screen with pagination
* [x] React - Entity screen with infinite scroll
* [x] React - Entity screen without pagination
* [x] Angular - User Management screen
* [ ] Angular - Entity screen with pagination
* [ ] Angular - Entity screen with infinite scroll
* [ ] Angular -

[2020-09-14 15:57] pascalgrimaud commented on #12456
Thanks @FabienEssid : don't hesitate to push your work, although it's not finished

[2020-09-14 16:04] qmonmert commented on #12462
@pascalgrimaud I take this one :)

[2020-09-14 16:07] MathieuAA opened #12518 "Why do we use two date libs (moment & date-fns) in vue?"
After looking at `client/templates/vue/src/main/webapp/app/shared/date/filters.ts.ejs`, I saw that we used two date libs instead of one.
Is there a reason for that? Having used date-fns, I can say it provides everything we need.

[2020-09-14 16:10] deepu105 commented on #12511
Do you mean it crashes for monoliths? The deployment spec works for Microservices (at least used to work when I coded it)

[2020-09-14 16:14] fdaudies commented on #12448
Hi @pascalgrimaud  Could i work on this ?

[2020-09-14 16:15] deepu105 commented on #12502
What is the usecase for this? and how does this help? Isn't adding the custom code directly to generated code easier and more error proof? since anything added here can't be properly validated for syntax errors and such and parsing the JDL with this would be much more painful for us. I don't see the value for maintenance here. The only advantage I can see is when you upgrade an entity you can reta

[2020-09-14 16:16] #12457 closed

[2020-09-14 16:18] deepu105 opened #12520 "JDL: Remove webpack and the bundling stuff as its not needed anymore for JDL Studio"
We currently have a webpack bundling step in JDL that's creates some web-friendly static files, we don't need it anymore

[2020-09-14 16:32] pascalgrimaud commented on #12448
yes @fdaudies

[2020-09-14 17:16] #12453 closed

[2020-09-14 17:38] MathieuAA commented on #12520
To remove: webpack, the terser plugin, the NPM scripts, the bundling file, the folders and files inside the generator.
I can do it tomorrow on the train back to Paris unless someone beats me to it

[2020-09-14 17:43] MathieuAA commented on #12502
Agreed. I understand the need but the solution isn't satisfactory for me. I'm still thinking about a proper solution for this issue, but I don't think there's an easy one.

[2020-09-14 19:13] #12450 closed

[2020-09-14 19:15] #12449 closed

[2020-09-14 19:58] mshima commented on #12496
Looks like @jdubois announced this already 😆. https://twitter.com/jhipster/status/1305532865497780227?s=21 at 2:30.
So this is going to happen now.

[2020-09-14 21:18] mshima commented on #12496
Closing this in favor of https://github.com/jhipster/generator-jhipster/issues/12080.
The discussion there is deeper and better described.

[2020-09-14 21:18] #12496 closed

[2020-09-15 05:52] pascalgrimaud commented on #12518
It was introduced when fixing the display of duration
cc @atomfrede : maybe you can answer ?

[2020-09-15 05:58] pascalgrimaud commented on #12511
We need to check if the 'app.yml' is used or not by the docker compose sub generator.

If not, we should just remove it... it was created long time ago, before the sub gen docker compose, I'm not sure it is really used by our users today

[2020-09-15 06:03] atomfrede commented on #12518
We should not use moment in vue. We use `date-fns` and `duration-fns` as `date-fns` does not (yet) support parsing an iso duration (at least when I tried it). `parseISO` returns a date and not a duration. So `duration-fns` is used to parse an iso duration string into a duration which can be formatted by date-fns.

[2020-09-15 06:11] DamnClin commented on #11122
Here is the example application produced during JHipster code: https://gitlab.com/cdamon/padbowl feel free to use any part you want.

Replays of the live will come as soon as we finished editing them

[2020-09-15 06:13] pascalgrimaud commented on #11122
thanks a lot @DamnClin !
Sure it will help a lot

[2020-09-15 07:02] pascalgrimaud commented on #12451
closed by https://github.com/jhipster/generator-jhipster/pull/12505

[2020-09-15 07:02] #12451 closed

[2020-09-15 07:19] qmonmert commented on #12481
@pascalgrimaud I take this ticket

[2020-09-15 07:45] ascelineboullen commented on #12487
@pascalgrimaud , I'm on it ! :)

[2020-09-15 08:11] pascalgrimaud commented on #12487
thanks @ascelineboullen !

[2020-09-15 08:15] #12481 closed

[2020-09-15 08:47] cbornet commented on #12518
We should probably remove moment from the other frontends as well as it seems the project is being deprecated : https://momentjs.com/docs/#/-project-status/

[2020-09-15 09:14] atomfrede commented on #12518
We used the vue blueprint to see if we can do it without moment and eventually do the same for angular/react (at least that was the plan). Maybe the time has come.

[2020-09-15 09:30] #12467 closed

[2020-09-15 16:12] #12444 closed

[2020-09-15 16:16] #12520 closed

[2020-09-15 16:18] mraible commented on #12444
Wow - great work @MathieuAA!!

[2020-09-15 16:19] MathieuAA commented on #12444
Thanks Matt!

[2020-09-15 16:35] mshima commented on #12444
@MathieuAA I would prefer create PRs instead of committing directly to master.
There is ~37 uses of the parallel unsafe function, only ~8 of them will need independent fixes.

[2020-09-15 16:35] MathieuAA commented on #12444
Great, then it may be the next steps

[2020-09-15 18:06] FabienEssid commented on #12456
I worked on this issue tonight. I completed the Angular part.
I have to make modifications on Vue templates now. Work in progress :muscle:

[2020-09-15 18:12] SoniaLahi opened #12529 "Translations for falsy values : 0 and false"
##### **Overview of the feature request**

In order to have a similar behaviour between frontend frameworks (cf. PR on [react falsy translations](https://github.com/jhipster/react-jhipster/pull/48)), when translation key values are 0 or false, it should return the value (0, false) instead of the key, in a Vue app.

##### **Motivation for or Use Case**
Standardization of translation behaviours in f

[2020-09-15 18:13] SoniaLahi commented on #12529
I would like to work on it :)

[2020-09-15 19:15] mraible commented on #12441
Results from my Twitter poll indicate that users would like to see Snyk configured locally, as well as in the CI/CD generator.

<img width="608" alt="twitter-poll" src="https://user-images.githubusercontent.com/17892/93254309-65c65900-f755-11ea-8b91-45569ef5c92b.png">

[2020-09-15 19:20] mraible commented on #12441
@bmvermeer I think there are two paths forward:

1. Create an app with JHipster and check it into GitHub. Create a branch and PR that shows what needs to change to add Snyk CLI by default. It's probably just another dependency and possibly updating the `README`. Then, use `jhipster ci-cd` to set up a CI pipeline. Check all these changes in so we can see what code needs to change.
2. Write up a blo

[2020-09-15 19:50] deepu105 commented on #12444
Yes everyone since JDL is now in the main generator lets do PRs so that we
can keep track of changes.

On Tue, 15 Sep 2020, 6:36 pm Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2020-09-15 21:48] #12052 closed

[2020-09-15 22:09] mshima commented on #12339
Demo https://youtu.be/ziagUvf2ZhY

[2020-09-16 05:59] pascalgrimaud commented on #12456
@FabienEssid : no worry, nothing urgent here, so take your time. And you should rest because of all us should be tired after the JHipster code :)

[2020-09-16 07:01] Yoshio123 opened #12531 "Requests JavaScript was Suspicius."
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [ ] Checking this box is mandatory (thi

[2020-09-16 07:36] #12531 closed

[2020-09-16 08:42] pascalgrimaud commented on #12531
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-09-16 09:04] tchlyah commented on #12300
Hello! Sorry it was very complicated for me lately. I've on the subject, I almost fixed all the issues, but I'm still blocked by [DATACOUCH-589](https://jira.spring.io/projects/DATACOUCH/issues/DATACOUCH-589). Spring Data Couchbase ignores the annotation [@ScanConsistency](https://github.com/spring-projects/spring-data-couchbase/blob/master/src/main/java/org/springframework/data/couchbase/reposito

[2020-09-17 00:11] Falydoor commented on #10975
Hey @mraible, I decided to tackle this issue but I need some directions from you.

I was able to consume the `/userinfo` endpoint with both Keycloak/Okta but I need more details on where/when to perform this operation. It can be done in `SecurityUtils.getCurrentUserLogin` but I don't really like the idea of doing a call to the authorization server every time `getCurrentUserLogin` is called.

Also

[2020-09-17 01:08] mraible commented on #10975
I'd do it in AccountResource#getAccount():

https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs

Or maybe do it in the UserService method it calls?

I think it only needs to be done when there's a missing "given_name" claim.

[2020-09-17 04:45] Falydoor commented on #10975
`SecurityUtils.getCurrentUserLogin` only uses the `Authentication` from the security context so the two locations you suggested don't really work.

The fix that I suggest is to use `authentication.getName()` for both Okta/Keycloak instead of `((JwtAuthenticationToken)authentication).getToken().getClaims().get("preferred_username")`.

However I noticed that `authentication.getName()` doesn't return

[2020-09-17 05:48] mraible commented on #10975
Sounds good!

[2020-09-17 08:43] #12462 closed

[2020-09-17 10:19] bmvermeer commented on #12441
Thanks, @mraible
I will schedule some time next week to do some research on the first one.
Probably I will make it a 2 step task. First creating a blog post and after that see if and how we can really integrate.

[2020-09-17 13:07] #12498 closed

[2020-09-17 13:53] mshima commented on #12489
@pascalgrimaud I think we need to integrate https://github.com/mshima/generator-jhipster-scripts for this.

[2020-09-17 14:21] mshima opened #12541 "Package.json cleanup."
##### **Overview of the feature request**

- Drop test, not used.
- Drop mkdirp, every use seems unnecessary.
- Drop tabtab, seems broken. Anybody is using?
- Replace js-object-pretty-print with JSON.stringfy.
- Remove resolutions

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-09-17 14:49] vishal423 commented on #10975
Instead of a custom mapper, I think you just need to correctly configure like https://github.com/vishal423/ngx-hipster/blob/6e634c8a4a36b2d0fb9599006e2b2d276e34af48/demo/ngx-hipster-sample-api/src/main/resources/application-oidc.yml#L12

[2020-09-17 15:10] Falydoor commented on #10975
That would be cool to just have a property but I don't think that can work because the field `preferred_username` doesn't exist in an access token by default with Okta.

[2020-09-17 15:57] mraible commented on #10975
The problem I hope to solve with this issue is eliminate the need to setup custom claims for Okta when you're using JHipster as a resource server. Currently, with Ionic for JHipster (and like @ruddell's Ignite JHipster), you have to [add a number of claims to the access token](https://github.com/oktadeveloper/generator-jhipster-ionic#add-claims-to-access-token). If we could trigger a lookup of the

[2020-09-17 17:16] Falydoor commented on #10975
A claim converter could be used like defined here https://docs.spring.io/spring-security/site/docs/5.4.1-SNAPSHOT/reference/html5/#oauth2resourceserver-jwt-claimsetmapping but unfortunately the lookup to `/userinfo` will not work since the converter doesn't have access to the token.

[2020-09-18 06:01] pascalgrimaud commented on #12489
@mshima : I had a look and there are some really great ideas.
So I'm sure we can improve our generated package.json, so it will be easier to start the database/service, without thinking about:
- what do I need to start, before starting my application ? oh yes, it is postgresql and elasticsearch
- then, what is the command ? docker-compose -f src/main/docker/....
- etc

[2020-09-19 00:20] SoniaLahi commented on #12488
I would like to work on this one :)

[2020-09-19 00:28] SudharakaP commented on #12488
@SoniaLahi : Thanks. I've assigned you the issue. 👍🏼

[2020-09-19 01:20] SoniaLahi opened #12553 "In Vue app, can't see entities submenus"
##### **Overview of the issue**

After importing the jdl example on [jdl-studio](https://start.jhipster.tech/jdl-studio/) the Vue app does not display the list of entities in the menu 'Entities'.

Expected (from react app) :
![image](https://user-images.githubusercontent.com/5923781/93655206-75c68d00-fa22-11ea-91cd-7de90acac687.png)

Got (vue) :
![image](https://user-images.githubusercontent.com/5

[2020-09-19 05:40] msegmx opened #12554 "Option for setting pluralized form of entity names"
##### **Overview of the feature request**

Please provide a way to set the pluralized form of entity names:

* Ask the user about the plural form
* Add an option to provide the pluralized form of an entity name in JDL

##### **Motivation for or Use Case**

I'm not native in English but I always make a point of using English as my primary language when writing code. So I normally use English words

[2020-09-19 08:13] pascalgrimaud commented on #12553
@SoniaLahi : between step2 and 3, can you launch again `npm link generator-jhipster ` before importing jdl ?
Otherwise, I afraid it will use local generator-jhipster v6.10.1 which doesn't have Vue.js

[2020-09-19 10:13] SoniaLahi commented on #12553
Thank you @pascalgrimaud, it works now.
Have I missed the step in the documentation or should it be added somewhere ?

[2020-09-19 10:20] pascalgrimaud commented on #12553
it's the normal behavior, and it should be in my slide for jhipster code
but we can check if in contribution.md file it's there or not.
Feel free to check and close this ticket if it's ok :)

[2020-09-19 11:21] SoniaLahi commented on #12553
Actually, it was written in the slides :clap:  but not in the contribution.md

[2020-09-19 11:28] kevin-madhu opened #12556 "Make serverFiles a parameter of writeFiles function"
##### **Overview of the feature request**

Currently all the writeFiles functions in files.js use serverFiles from within the module. It helps in writing blueprints (and within blueprints, when a blueprint depends on another blueprint) to just pass in serverFiles without having to rewrite writeFiles functions inside the blueprints.

##### **Motivation for or Use Case**

I'm writing a blueprint tha

[2020-09-19 11:47] Falydoor commented on #10975
@mraible I was able to have something working using the claim converter! Here is the commit if you're curious https://github.com/Falydoor/jhipster-oauth2/commit/daeb4e1a8c70b430ce8ebfd841d641ba2d8982ce

There are two things that I don't like:

- The `userinfo` endpoint is not the same for Okta/Keycloak

- The `userinfo` endpoint is called for every requests which add some delay

[2020-09-19 11:52] chelfe commented on #11782
I would like to take this ticket.

[2020-09-19 15:43] mraible commented on #11782
Go for it!

[2020-09-19 15:52] pascalgrimaud commented on #12428
Increasing the bounty as it was a lot of work to achieve this

[2020-09-19 15:54] #12428 closed

[2020-09-19 15:56] #12486 closed

[2020-09-19 16:06] #12468 closed

[2020-09-19 16:12] qmonmert commented on #12428
@pascalgrimaud I claim my money  https://opencollective.com/generator-jhipster/expenses/25293

[2020-09-19 16:14] jdubois commented on #12428
Well done! Payment is approved, thank you so much!

[2020-09-19 16:15] pascalgrimaud commented on #12428
seriously, @jdubois, you're so fast !

[2020-09-19 17:01] qmonmert commented on #12428
thanks "Fast Man" @jdubois :)
thanks @pascalgrimaud

[2020-09-19 17:17] mraible commented on #10975
Nice work @Falydoor. I think there's a couple things we could improve:

1. Look up the user info endpoint, [like we do for the Logout URL](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/web/rest/LogoutResource.java.ejs#L61)
2. Improve performance by adding caching or doing a one-time lookup somehow

[2020-09-19 17:31] #12454 closed

[2020-09-19 17:56] jdubois commented on #12428
Not as fast as you on a running track, unfortunately....

[2020-09-19 17:59] pascalgrimaud commented on #12149
as we can't reproduce, I think it's fixed in v6.10.1
let's close this

Don't hesitate to give a try and tell us if you can reproduce in last version

[2020-09-19 17:59] #12149 closed

[2020-09-19 18:02] pascalgrimaud commented on #12541
about tabtab, it was for having auto completion when running jhipster cmd
I personally don't use it, as I'm really happy with zsh autosuggestion

+1 for cleaning

[2020-09-19 18:11] pascalgrimaud commented on #12412
thanks for reporting this @ndywicki
I already saw this issue too, but not sure we can do something, as the API comes from Spring Boot

[2020-09-19 18:24] pascalgrimaud opened #12558 "Vue 3"
##### **Overview of the feature request**

Vue 3 has been released !
It would be so cool if we can have it for JHipster v7

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-19 18:26] pascalgrimaud commented on #12558
cc @deepu105 @jdubois
I'm adding a big bounty on this, as I think there is a lot of work to achieve this, but it would be really so cool to have it !

[2020-09-19 18:28] atomfrede commented on #12558
Let's see how fast then 3rd party components are getting compatible. They have postponed the migration utilities for now as far as I know (but not sure how much it would help in our case).

[2020-09-19 18:33] pascalgrimaud commented on #12558
@atomfrede : do you have more information ? I thought it would be compatible with Vue 3

[2020-09-19 18:40] atomfrede commented on #12558
Did not look in detail yet. I also guess we can upgrade without too much hassle. We have few 3rd party libraries and they are widely used. I try to have a look next week to get a better understanding what would be needed.

[2020-09-19 18:49] pascalgrimaud commented on #12558
I'd love to have this for JHipster v7
Don't hesitate to ask help, and if needed, we can add separate bounties for people who want to help here

[2020-09-19 19:11] #12466 closed

[2020-09-19 19:38] DanielFran commented on #7112
@yelhouti do you need help migrating https://github.com/elhoutico/jhipster-composite-key-server-blueprint to generator?

[2020-09-19 21:15] yelhouti commented on #7112
@DanielFran Yes much needed !

[2020-09-19 23:26] Falydoor commented on #10975
I refactored to lookup the `userinfo` endpoint and have a "simple" caching system.

You can check the implementation here
https://github.com/Falydoor/jhipster-oauth2/blob/master/src/main/java/com/okta/developer/blog/security/oauth2/CustomClaimConverter.java

Let me know if everything works as expected with Ionic!

[2020-09-19 23:28] Hawkurane commented on #12466
hi @pascalgrimaud I've claimed the bounty: https://opencollective.com/generator-jhipster/expenses/25299

[2020-09-20 06:37] pascalgrimaud commented on #12466
@Hawkurane : approved

[2020-09-20 07:06] pascalgrimaud commented on #12470
fixed by https://github.com/jhipster/generator-jhipster/pull/12508

[2020-09-20 07:06] #12470 closed

[2020-09-20 09:53] atomfrede commented on #12558
At least bootstrap-vue is not yet compatible. They plan to have a compatible release "short" after vue 3 release. Will follow closely. https://github.com/bootstrap-vue/bootstrap-vue/issues/5196#issuecomment-668837891

[2020-09-20 14:34] mshima opened #12562 "Relationships handling improvements."
##### **Overview of the feature request**

Improve relationship handling:
- [ ] JDL should export every reference. (https://github.com/jhipster/generator-jhipster/pull/12551, https://github.com/jhipster/generator-jhipster/pull/12552)
- [ ] Replace `@JsonIgnore` with `@JsonIgnoreProperty`
`@JsonIgnore` ignores the other side (prevents from showing in the UI)
`@JsonIgnoreProperty` just prevents cycl

[2020-09-20 16:38] jsone-studios commented on #12459
I am going to work on this issue.

[2020-09-20 17:21] pascalgrimaud commented on #12459
thanks @jsone-studios

[2020-09-21 06:09] #12456 closed

[2020-09-21 11:06] FabienEssid commented on #12456
I claimed my bug bounty https://opencollective.com/generator-jhipster/expenses/25361
Thanks for it !

[2020-09-21 11:10] pascalgrimaud commented on #12456
@FabienEssid : approved ! thanks for helping the project ;)

[2020-09-21 15:38] Tcharl commented on #12497
Hi @cbornet ,

Tried this, but spring doesn't like it: it forces to have only one repository by entity... So @norepositorybean is mandatory for the actual generated repository.

For service I forgot the annotation: `@Primary` works well!

[2020-09-21 17:26] vishal423 commented on #12485
I am looking into it

[2020-09-21 18:31] mshima commented on #12554
@msegmx are you thinking about field name or just translations is enough?

[2020-09-21 18:42] msegmx commented on #12554
@mshima only pluralized form of entity names. No translation needed.

[2020-09-21 18:52] Yoshio123 commented on #12554
I bought first Mac keyboard was French option physically.
This Mac was setup trouble with key fittings.
Because,Number typing needs shit key.
Right upper icon looked didn't down case was very confused head.
This trap is very many time looking for me.
Boot progress is very dangerous.
Firmware key is need should be.

[2020-09-22 00:15] muthukumarsp opened #12715 "Arbitrary Code Execution - Reported by SNYK"
Vulnerable module: | sanitize-html
-- | --
react-jhipster@0.9.1
No known exploit
2.0.0-beta

Detailed paths
Introduced through:  react-jhipster@0.9.1 › sanitize-html@1.18.2

Overview
sanitize-html is a library that allows you to clean up user-submitted HTML, preserving whitelisted elements and whitelisted attributes on a per-element basis

Affected versions of this package are vulnerable to Arbitr

[2020-09-22 05:59] Abhishek9166919669 commented on #6513
A

[2020-09-22 07:26] atomfrede commented on #12558
For i18n there is already a beta version which we could try and use https://github.com/intlify/vue-i18n-next.

Both [veeValidate](https://logaretm.github.io/vee-validate) and [Vuelidate](https://vuelidate.js.org/) are not yet compatible out of box with vue3. But using the [composition api](https://itnext.io/compose-validation-logics-with-vue-3-0-and-vuelidate-20416d734295) it might be possible. I

[2020-09-22 11:46] vishal423 commented on #12459
@pascalgrimaud, do you have any specific reason to restrict to Java and not include the frontend code? Can't we differentiate via git log?

[2020-09-22 12:07] pascalgrimaud commented on #12459
@vishal423 :
- we can include the frontend too, but can be done in another ticket. But what do you propose for the frontend code ? A comment ?
- we could with `git log`, but the benefits of using this annotation:
    - it's faster to see it : you think twice before modifying it
    - you can exclude the generated code from Sonar, to analyze your business code only
    - etc

[2020-09-22 12:21] GIRISHHOTWANI123-4 opened #12571 "Unable to generate/design sub-menu item."
Unable to customize sub-menu item inside a parent menu item .Could you just provide sample code for this issue.

Thanks and Regards.

[2020-09-22 14:45] pmverma opened #12572 "Hibernate sequence generator should start with a higher value"
##### **Overview of the feature request**

Hibernate sequence generator should start with a higher value.

##### **Motivation for or Use Case**

Current value start with 1050 and if it is needed to load more initial data, it won't be sufficient sometimes.
Starting with a value with , for eg, 100k will give enough space for the records to be added.

##### **Related issues or PR**

-   [ ] Checking

[2020-09-22 15:13] mshima commented on #12554
Once https://github.com/jhipster/generator-jhipster/pull/12570 is merged just add `entityNamePlural` annotation:
[code]

[2020-09-22 18:54] vishal423 commented on #12572
@pmverma, Can you elaborate on the issue over here? How small initial value impact performance?

[2020-09-23 03:08] pmverma commented on #12572
Thanks Vishal, there is no performance impact here.
It is just that if it start with 100k then we can load up to 100k of data (custom initial data via CSV in my case) without `id`s conflicts.

[2020-09-23 03:58] qlereboursBS commented on #12518
I also think it could be the moment to replace moment in the project and use the same library everytime. Did you consider using [DayJS](https://github.com/iamkun/dayjs) that is described as "designed to be a minimalist replacement for Moment.js" by Moment on their project status page.
To my mind, DaysJS API would be easier to use in replacement of moment than date-fns's one, but I don't have that

[2020-09-23 05:35] pascalgrimaud commented on #12572
I already encountered this issue, when putting 1500 datas in fake data cvs files.
The main problem is: liquibase load data ignores the sequence.

I think 100k is really too much.
Of course, we can increase the value but it won't fix the problem.
The best would be to document it:
- add little comment in load data part, in liquibase changelog
- add document at jhipster.tech

What do you think ?

[2020-09-23 05:45] pascalgrimaud commented on #12571
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-09-23 05:45] #12571 closed

[2020-09-23 07:02] atomfrede commented on #12518
I did consider it when adding the date/time functions to the vuejs blueprint, but I can recall why I did not use dayjs eventually. It looks nice indeed (and I can see it has a missing feature). I will give it try and we could change to dayjs for all frontends.

[2020-09-23 07:04] atomfrede commented on #12518
Should I close this issue and create a new one for the migration/removal of moment?

[2020-09-23 08:25] pascalgrimaud commented on #12518
yes, let's create a new ticket for better visibility

[2020-09-23 08:43] qlereboursBS commented on #12518
@pascalgrimaud or @atomfrede Could you assign the new issue to @FabienEssidBearStudio and me please?
We'd like to try to fix this one

[2020-09-23 11:42] dmushkov opened #12574 "Wrong implementation in handleMethodArgumentNotValid"
##### **Overview of the issue**
Wrong code for method handleMethodArgumentNotValid in ExceptionTranslator.java in server app

##### **Motivation for or Use Case**

##### **Reproduce the error**

In server generator
we have following piece of code in ExceptionTranslator class

[code]
UserDTO

[code]

then when we test creation of user with not following regex for login name we can get

Body = {"typ

[2020-09-23 12:35] atomfrede opened #12575 "Replace moment with day-js"
##### **Overview of the feature request**

Moment is now in maintenance mode. For vue we have already date-fns, but unification across all frontends is desired.
To make the migration as easy as possible we could try day.js as try.

##### **Motivation for or Use Case**

Get rid of old moment library. This would benefit the longterm development of jhipster and reduce the bundle size for angular/reac

[2020-09-23 12:36] atomfrede commented on #12518
Going to close this. Follow up discussion via https://github.com/jhipster/generator-jhipster/issues/12575

[2020-09-23 12:36] #12518 closed

[2020-09-23 12:42] nonomoho commented on #12464
I found something, I create a PR.

[2020-09-23 13:08] FabienEssid commented on #12575
@atomfrede or @pascalgrimaud can you assign @qlereboursBS and me on this one to try to fix it please ?

[2020-09-23 13:22] chenhui7373 commented on #12558
vue3 compatible: https://2x.antdv.com/docs/vue/introduce-cn/

[2020-09-23 13:44] jsantoru commented on #10189
@joewhite101 @gidesan  - just curious on what the state is with leveraging module federation, and if that's still the planned direction.

[2020-09-23 13:55] cbornet commented on #12464
Another solution I've used in a project is to set tryItOutEnabled to true by default in swagger-ui but that requires to build swagger-ui:

https://github.com/swagger-api/swagger-ui/blob/12ccab79d2df670d7157d23c38eb938f868d3f6f/src/core/containers/OperationContainer.jsx#L11

[2020-09-23 14:03] nonomoho commented on #12464
Yes, I don't know what's the best.

[2020-09-23 14:07] joewhite101 commented on #10189
It is still the planned direction from my perspective but haven't made any progress. Busy in some other areas and with day job. I think that module federation and webpack 5 are the killer feature here.

Feel free to take this if you want.

[2020-09-23 14:38] pascalgrimaud commented on #12575
@qlereboursBS needs to comment so I'd be able to assign to him too :)

[2020-09-23 15:16] qlereboursBS commented on #12575
Done @pascalgrimaud

[2020-09-23 15:17] NtsikaMngoma opened #12577 "Moment Date Issue on Client application"
##### **Overview of the issue**

As I select the date as 2020-09-23, the response payload gives 2020-09-22 which is yesterdays date and is incorrect.

##### **Motivation for or Use Case**

The date entered on the client application should match the date saved in the db and returned on the API response.

##### **Reproduce the error**

Run any jdl with LocalDate and save on entity to see the issue.

[2020-09-23 15:42] AdamJWise opened #12578 "JhiHttpInterceptor should tweak types to allow strict typescript ('use strict') on classes that inherit from it"
##### **Overview of the issue**

When using the class 'JhiHttpInterceptor' the intended use is to 'intercept' calls and pass the argument as a return value.  However, the method signatures do not allow the method to simply return the incoming parameter. if typescript's 'use strict' option is set to true.

See https://github.com/jhipster/jhipster-sample-app-token/blob/master/src/main/webapp/app/blo

[2020-09-23 16:02] deepu105 commented on #12464
Since this hack is on the swagger html files and similar to other hacks we already do, IMO its good enough.

[2020-09-23 19:15] ruddell commented on #12578
https://github.com/jhipster/jhipster-sample-app-token is deprecated and hasn't been updated since 2017 (@jdubois we should probably archive that repository).

That sample uses JHipster v4 and we are now on JHipster v6 (soon v7). We no longer use `JhiHttpInterceptor` anywhere in the code.

Does this issue still apply to the latest release?  For reference, here's the [current version of Notification

[2020-09-23 19:42] jdubois commented on #12578
Thanks @ruddell - the project is clearly written DEPRECATED in big letters in the description

[2020-09-23 19:46] mraible commented on #12578
Maybe we should archive it? That’s that I did with AppFuse.

https://github.com/appfuse/appfuse <https://github.com/appfuse/appfuse>

[2020-09-23 19:48] jdubois commented on #12578
OK, let me archive it

[2020-09-24 03:52] pmverma commented on #12572
Ok, 2 things here.

I want to maintain the relationship too, so having liquibase generate the id won't help in my case.
It is fine for me even sequence start with at least 10k.

Although I have not tried it but if you want liquibase to generate ids, then there is an attribute `valueComputed` on the tag `column` where we can call the sequence.

[2020-09-24 08:39] gmarziou commented on #12572
Usually in my projects I update the sequence in the change log after the loadData.

 This is easy when you have one sequence per entity rather than global hibernate sequence

Why can’t we do the same?

[2020-09-24 08:44] murdos commented on #12572
+1 for having one sequence per entity rather than a global hibernate sequence

[2020-09-24 10:14] MathieuAA commented on #12445
Does this happen when using the JDL? I admit I haven't tried

[2020-09-24 13:18] AdamJWise commented on #12578
Thanks for the great feedback. I checked and the equivalent classes in the latest version of JHipster do not have this problem. (For example: https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/webapp/app/blocks/interceptor/notification.interceptor.ts)

[2020-09-24 16:09] hdurix commented on #11122
Wooow that's HUGE! I didn't have the opportunity to watch the live video yet but the code is a really great example of how DDD can be applied in a JHipster project.

A big thanks to @DamnClin!

I'm sure that adding this video (with the GitLab repository link) to a dedicated section in jhipster.tech would help a lot of people wishing to understand how DDD can be used in a JHipster project.

[2020-09-24 16:16] pascalgrimaud commented on #11122
I agree @hdurix so I'm proposing this:
- adding the link of video at jhipster.tech
- adding the link of the repo

Then, after that, I think the bounty is for @DamnClin ! Really well deserved

About Hexagonal Architecture, it can't be done for v7. There are too much work in our template. But we can start it in a blueprint or for v8. But for V8, we'll have it !

[2020-09-24 17:15] mshima commented on #11122
@pascalgrimaud just to let you know I plan to work on this sooner. Probably next month.
Currently I am applying DDD to projects ignoring the fact everything is monolith for now.

I have plan to create the following structure for `Foo` entity and `Bar` domain:
- {packageName}
  - bar
    - domain
Foo.java
    - application
FooService.java
BarConfig.java
    - adapter
      - repository
FooRepositor

[2020-09-24 19:15] ruddell commented on #12578
Since this was fixed in v4, closing the issue.

As a workaround for old projects, you can copy [JhiHttpInterceptor](https://github.com/jhipster/ng-jhipster/blob/v0.3.4/src/interceptor/http.interceptor.ts) into your own project, fix the types, and extend it instead of the one from ng-jhipster.

[2020-09-24 19:15] #12578 closed

[2020-09-24 19:22] gmarziou commented on #12572
Having a sequence per entity is the default in postgresql when using SERIAL pseudo type and also it helps when extracting micro services from a monolith.

In fact, I can’t find any benefit why Hibernate global sequence.

[2020-09-24 21:35] avdev4j commented on #12556
I'm not sure to understand. Can you, please, send an example of what are doing now, and what you want to do in the future if we change the way we handle serverFiles and write function. (I just want to be sure that I will not answer you without fully understand the issue).

Thank you !

[2020-09-25 10:06] #10077 closed

[2020-09-25 12:15] pascalgrimaud commented on #11122
It's similar to https://gitlab.com/cdamon/padbowl/-/tree/master/src/main/java/com/jhipster/padbowl/game :
- application
- domain
- infrastructure
    - primary : I'd prefer having primary instead of rest, because it can be something else than rest (ex: kafkaconsumer)
    - secondary

For blueprint, I thought about changing destination of folder. Instead of moving to "repository/", moving to "infra

[2020-09-25 12:28] MarlonLuan commented on #12445
It doesn't happen when i use jdl

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>app.jdl</summary>
<pre>
application {
  config {
    cacheProvider no
  }
}

</pre>
</details>

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "authenticationType": "jwt",
    "cacheProvider": "no",
    "clientFramework": "an

[2020-09-25 13:39] mshima commented on #12445
Condition is missing at:
https://github.com/jhipster/generator-jhipster/blob/b1b6f78c0f7de30dce6dbadd191cd6ad50cd1fac/generators/server/prompts.js#L311-L312
@MarlonLuan can you create a PR?

[2020-09-25 19:39] mshima commented on #11122
I don't like infrastructure and primary/secondary naming.
Infrastructure as a non native speaker means something physical, it should be something more generic as adapter or port.
Primary/secondary means importance but I think they are just adapters/ports, every one doing it's job.

Replaced rest with web, it's more specific.
I have implemented `adapter/event` and `adapter/monolith`.
I created mono

[2020-09-25 19:44] pascalgrimaud commented on #11122
yes, the final name can be discussed and maybe could be customized, as I've seen so different namings

as you seem very active these last months, do you think it could be possible to have this for JHipster v7 ?

Of course, all the team need to agree

[2020-09-25 20:45] mshima commented on #11122
@pascalgrimaud yes, it's possible, but this new rule to require reviews can complicate, most of my PRs are related to the generator, and they stay most of the time unreviewed forever just like the incremental changelog one that you said to merge it after almost 1 month.
My workflow was: create PRs, keep them open for 2-7 days (new features I kept longer) depending on how certain I was about the im

[2020-09-25 20:48] #12445 closed

[2020-09-25 20:49] pascalgrimaud commented on #11122
I agree with you. We should not block workflow and go on
cc @deepu105 : do you agree to remove the last rule about asking each PR to be approved ?

[2020-09-25 21:08] mshima commented on #9486
@atomfrede @lukaseder do you want any other feature for the first version?
I think we should add a service template for User and release it.

[2020-09-26 06:17] #12485 closed

[2020-09-26 06:17] DamnClin commented on #11122
@mshima I don't think using web / repository or some other protocol / pattern specific naming for adapters is a good idea because you'll have other type of adapters as soon as you need orchestration between your contexts (just an example).

Perhaps driving (for primary) and driven (for secondary) can be good candidates as they speak what they are doing. I like using primary and secondary simply be

[2020-09-26 06:26] pascalgrimaud commented on #11122
@DamnClin : about blocking spring dependencies in **/domain, it's easy to do with ArchUnit. This librairies is there for this specific reason, something like:
`all class in **/domain should not import org.springframework.* `

Then, we can add more rules of courses.

[2020-09-26 06:34] #12554 closed

[2020-09-26 06:40] DamnClin commented on #11122
Bounty claim: https://opencollective.com/generator-jhipster/expenses/25541

[2020-09-26 06:40] pascalgrimaud commented on #11122
thanks a lot @DamnClin : approved

[2020-09-26 06:52] #12464 closed

[2020-09-26 07:00] vik-y opened #12593 "Unable to initialise new project. Fails with: Cannot find name 'Cheerio'."
##### **Overview of the issue**
Unable to initialise a new project with react frontend. Initialisation finishes but `./mvnw` fails with an error

[code]

##### **Motivation for or Use Case**
Initialising a new project

##### **Reproduce the error**
Steps
* Initialise using `jhipster` command
* Run ./mvnw

It fails with this error
[code]

Running `npm run webpack:build` fails this error `TS2304: Ca

[2020-09-26 07:09] pascalgrimaud commented on #12593
Thanks for reporting this @vik-y
I confirm the issue, and it seems related to one of the dependency

[2020-09-26 07:13] pascalgrimaud commented on #12577
@NtsikaMngoma : thanks for reporting this issue. But I suppose it's the same ticket than https://github.com/jhipster/generator-jhipster/issues/11740, that's why I'm closing this

[2020-09-26 07:22] NtsikaMngoma commented on #12577
You shouldn't close it, as this is not the same bug.
This bug is only happening on the client application, when testing on Postman, there's no issue.

My workaround on the client was to set a datePicker value and use ngbDatepicker to select the date ontoggle, otherwise with all projects that I have tested, only when POSTING from the **client** the wrong date is persisted.

If you can fix that the

[2020-09-26 07:30] vik-y commented on #12593
Looks like the issue is with enzyme:

Bumping up enzyme to `3.10.7` fixes the problem for me.

`"@types/enzyme": "3.10.7",`

[2020-09-26 07:38] pascalgrimaud commented on #12577
@NtsikaMngoma : can you fill the template, so we can know your exact configuration plz ? Just use `jhipster info`

[2020-09-26 07:41] pascalgrimaud commented on #12593
I don't see the issue in master branch, so for me, it's only in v6
@vik-y : would you like to provide the fix for v6.x_maintenance branch plz ?

[2020-09-26 07:44] vik-y commented on #12593
@pascalgrimaud , Sure, will do that 👍

[2020-09-26 08:01] NtsikaMngoma commented on #12577
##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "baseName": "jhipsterDtoSampleApplication",
    "packageName": "io.github.jhipster.sample",
    "packageFolder": "io/github/jhipster/sample",
    "authenticationType": "session",
    "hibernateCache": "ehcache",
    "clusteredHttpS

[2020-09-26 08:49] deepu105 commented on #11122
@pascalgrimaud if you think thats appropriate its ok for me

[2020-09-26 11:06] deepu105 commented on #11122
I don't know if we should do a drastic breaking change of folder structure
closer to release. I assume this would break all server side blueprints. We
should have atleast communicated earlier to give blueprints authors time to
prepare. Else we should do it as an option but then it will be maintainance
burden unless we find some smart solutions

On Sat, 26 Sep 2020, 8:40 am Pascal Grimaud, <notific

[2020-09-26 11:06] DevAlves1993 commented on #11122
Hello,

I would like to propose the following hierarchy for the domain package and application package, the objective being to have a hierarchy quite close to the principles defined by the Domain Driven Design and Hexagonal Architecture.

### Domain Layer

[code]

|SUB-DIRECTORY       |CONTENT                      |REQUIRED |
|----------------------|-------------------------------|------------|
|E

[2020-09-26 11:23] pascalgrimaud commented on #11122
@deepu105 : I'm not sure we are closer to the release. There are still some work to achieve. Then, we should not target a specific date, it will be released when it's ready.
Major version is perfect to introduce breaking changes. We should not be afraid about that.

Otherwise, we'll need to wait V8, it will be in 2 years

Then, this ticket is opened since January so the users are already aware of

[2020-09-26 12:04] DamnClin commented on #11122
@DevAlves1993 I strongly advise against this as this is totally the opposite of DDD principles. In DDD modules (packages in Java) are parts of the Ubiquituous Language. Packaging by feature allow really better designs, one of the main goal of this package organization is to keep an high cohesion in each module.

We don't really need to see immediately if some class is an Aggregate or a Value Objec

[2020-09-26 12:32] mshima commented on #11122
@pascalgrimaud the changes I will implement are opt-in, so traditional generation will be applied if no domain is specified.
About your hexagonal project, I think we shouldn't convert the main application/user management into domain for v7 by default but it would be ok with opt-in.
But it's really cool to test different package structure.

[2020-09-26 13:04] pascalgrimaud commented on #11122
@mshima : I'm beginner in this kind of architecture, don't rely on my project, I only played this morning with JHipster, and did some refactoring/renaming folder, nothing more

If we can keep both type  of generation, I afraid it will be a lot of stuff to maintain...

Let's keep on thinking and discussing about how to deal with the future of JHipster

cc @jhipster/developers : your opinion is impo

[2020-09-26 13:46] DevAlves1993 commented on #11122
@DamnClin

I agree with you ports, queries and command are part of the domain. The mention "Application Layer" can be confusing, I would have said "Application Business Rule".
I define the domain as the combination of the Application Business Rule and the Enterprise Business Rule and the fact that the Application Business Rule is closely related to the Enterprise Business Rule.

Indeed, an organiz

[2020-09-26 13:51] deepu105 commented on #11122
I honestly don't care about DDD and such. To me you use whatever works for
your project (many benefits that we theoritically claim from certain
approach is often superficial in practice). So if there is a majority
consensus on something then go with that. my only concern would be if we
end up making things more complicated than it is today just to fit certain
approach without any tangible value in

[2020-09-26 14:32] mshima commented on #11122
@DevAlves1993 your proposal seems too specific and complex.
Having a common infrastructure for the entire application hurts DDD concepts, by hurting domain isolation.

A jdl concept:
`store_domain.jdl`:
[code]
`notification_domain.jdl`:
[code]
`commerce_application.jdl`:
[code]

Convert commerce to microservice:
[code]

[2020-09-26 15:06] DevAlves1993 commented on #11122
I admit, it's really complex.

The proposals I made completely ignore the infrastructure (it's done express), the most important for an application that uses the DDD principle is to have a code base that identically represents the business. I consider the infrastructure as a disposable element.

I also note that the objective of the hexagonal architecture is to completely isolate the business code

[2020-09-26 15:41] mraible commented on #11122
I don't like all the nested packages with generic names. People hate Java because you have to navigate so deep to find anything. This seems to be just making it worse.

[2020-09-26 15:55] Blackdread commented on #11122
I don't think to go DDD this way will be beneficial, usually you are better off using multi-module but makes things a bit more complicated if not using a bus to connect each micro-service (domain context).
Nowadays I use [AxonFramework](https://github.com/AxonFramework/AxonFramework), I split core domains, events, controllers, query handler/projection, DB definition and DB access, etc in specific

[2020-09-26 16:10] DamnClin commented on #11122
@DevAlves1993 For me you don't need to split things that works together in separated modules. I'm always trying to make things more cohesive (Kent beck came up with the word "cohesivating" (hoping somebody will find better) to talk about that during DDD Europe 2020).

So, in my definition, a feature is something cohesive :) (yep, a pretty bad definition I must admit) so you'll have:
[code]

The nu

[2020-09-26 16:18] DamnClin commented on #11122
I agree with you on that! I don't think we should try to have a generator for DDD (in fact it's a nonsense) but perhaps, JHipster can help create an hexagonal architecture: those are 2 separated thinks. My goal at JHipster code was to show how I used this kind of architecture along with JHipster, I dropped the DDD parts somewhere on the way preparing this track.

I really don't know what you, JHip

[2020-09-26 17:42] bmvermeer opened #12595 "Jenkins docker version based on Java 8 while Java version in application is 11"
##### **Overview of the issue**

When generating a jenkins.yml with `jhipster ci-cd` the image is based on Java 8
The Jhipster app that is generated has java.version 11 in the pom file.

##### **Motivation for or Use Case**

Failure if building within Jenkins container

##### **Suggest a Fix**

updating Jenkins docker version to lts-jdk11

[2020-09-26 18:22] pascalgrimaud commented on #11122
I think there is a misunderstanding here about DDD and Hexagonal Architecture.

From @DamnClin :

From @hdurix :

JHipster proposes a technical project base.
This ticket is here because some people are convinced that JHipster can provide an Hexagonal Architecture structure where you can apply DDD concept for your customer.
Sorry, but I don't talk about demo or hello world application.
I talk about

[2020-09-26 18:26] pascalgrimaud commented on #12595
Closed by https://github.com/jhipster/generator-jhipster/pull/12596

[2020-09-26 18:26] #12595 closed

[2020-09-26 18:30] #11782 closed

[2020-09-26 19:19] DamnClin commented on #11122
@pascalgrimaud Problem is: users management won't be a dedicated context for all applications. In fact `User` is a very good example of something changing from one context to another. Nevertheless I think it's possible to create a shared user kernel and an account context. It will have to be adapted but that look like a decent example when generating the application.

The shared kernel can come wi

[2020-09-26 20:04] chelfe commented on #11782
I claim my money :) https://opencollective.com/generator-jhipster/expenses/25558

[2020-09-26 20:23] moksamedia opened #12597 "Decimal validation fails on generated forms"
##### **Overview of the issue**

When I generate a simple entity with a BigDecimal or Double property, the create entity form validation fails. The validation appears to be using the "numeric" type, which isn't allowing decimals. I can fix this by editing the generated entity update form to use the decimal validator.

##### **Motivation for or Use Case**

We should be able to use decimal inputs in

[2020-09-26 20:26] moksamedia commented on #12597
Hmm. I just realized I posted probably posted this in the wrong place and probably should have posted this in the VueJS Generator Repo: https://github.com/jhipster/jhipster-vuejs

[2020-09-26 23:35] rennydonny commented on #11365
What about gateway jhipster project? @vishal423 , I changed yours indications, However I got the above same error:

webpack.common.js
`template: './src/main/webapp/index.html',
            chunks: ['polyfills', 'main', 'global'],
            chunksSortMode: 'manual',
            inject: 'body',
            base: '/',
            base: '/gateway',
        }),`
.../swagger-ui/index.html
`axios.get("

[2020-09-27 04:46] pascalgrimaud commented on #11782
@chelfe : approved

[2020-09-27 04:51] pascalgrimaud commented on #12597
@moksamedia : you're in the right place, as Vue has been merged into main generator-jhipster
As you look like to know how to fix it, would you like to contribute ?

[2020-09-27 08:18] gmarziou commented on #11365
@rennydonny please open a new issue with all required details rather than commenting a 7 months old issue

[2020-09-27 14:54] vishal423 commented on #11365
@rennydonny, I just tried with a gateway project and don't see any issue. In your shared configurations, you have missed the trailing slash and `base: '/gateway'` should be `base: '/gateway/'`

[2020-09-27 15:43] khocef commented on #12016
I think the best way is to create a new project a move your component from the existing project to the new project, one component at a time and when you finish replace all your files from the old project with the new project files.
I think the most difficult problem to solve for me was correct all tslint errors
good luck

[2020-09-27 16:27] DamnClin commented on #11122
I added an actual repository implementation and some business rules to [PadBowl](https://gitlab.com/cdamon/padbowl). We can add more business rules or work to add another context to this example application. Anybody want's to do this with me live on Ippon's Twitch Channel (so we'll have the replays)?

[2020-09-27 17:04] moksamedia commented on #12597
@pascalgrimaud Sure. Seems like we ought to also be sure that "numeric" isn't supposed to pass decimals and that this isn't a bug with the validation library. Can you give me a general idea of where the relevant code lives in the generator files?

[2020-09-27 17:20] pascalgrimaud commented on #12597
@moksamedia : sure, it you know how to fix it, you're really welcome
About this project, I think it's somewhere in : https://github.com/jhipster/generator-jhipster/tree/master/generators/entity-client/templates/vue/src

[2020-09-27 18:21] rennydonny opened #12599 "Deployed .war gateway project doesn't work on tomcat server"
##### **Overview of the issue**

I got an error after following the instructions  https://www.jhipster.tech/production/
Initial configuration:

![gatewayInitConf](https://user-images.githubusercontent.com/4966706/94372123-d5770500-00c0-11eb-89b7-37e1191abdb7.png)

Changes to deploy on tomcat server:

![warToTomcatDeployConfig](https://user-images.githubusercontent.com/4966706/94372126-dad44f80-00c

[2020-09-27 18:36] vishal423 commented on #12599
It's an issue with configuration. Refer comment https://github.com/jhipster/generator-jhipster/issues/11365#issuecomment-699645477

[2020-09-27 18:36] #12599 closed

[2020-09-28 04:09] SudharakaP opened #12601 "CORS properties in application-*.yml not working"
##### **Overview of the issue**

This maybe due to my lack of understanding of how CORS seems to behave in JHipster applications. But I am trying to include a video in a sample jhipster application which is hosted on a external storage. Here's the sample application.

https://github.com/SudharakaP/JHipsterCORSSampleApplication

Now when I run `npm start` with Browsersync and access front-end on `l

[2020-09-28 05:21] atomfrede commented on #12601
It is not the cors policy, its the co[ntent security policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP). By default (e.g. for images, videos) only `self` is allowed. You need to adapt the [policy accordingly](https://github.com/jhipster/generator-jhipster/blob/81c3b248dd3e734e2594e0519a2839d808b7b422/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ej

[2020-09-28 05:53] SudharakaP commented on #12601
@atomfrede : Ah, nice; yes I was confusing the two; thanks for the explanation. 😄

[2020-09-28 05:53] #12601 closed

[2020-09-28 09:56] lukaseder commented on #9486
I'm all for early user feedback, so as soon as it works, releasing sounds great!

[2020-09-28 13:03] Falydoor commented on #10975
@mraible did you have a chance to look at it?

[2020-09-28 15:25] mraible commented on #10975
Not yet. I had a snafu on my laptop last week and had to restore from a backup over the weekend. I'll do my best to try it out this week.

Thanks,

Matt

[2020-09-28 16:58] ysf08 commented on #5192
I have same issue

[2020-09-28 17:08] ysf08 commented on #5182
Many people having this issue but no answers at all

[2020-09-28 17:38] gmarziou commented on #5192
@ysf08 Please don't comment on an old issue.
If you think this issue still applies, please create a new ticket with proper details.

[2020-09-28 18:10] qlereboursBS commented on #12575
Ok, so, we listed all the usages of moments or date fns in the project, to be able to find each very specific usage and check if DayJS or Date fns can replace them:

| File  | Use case                          |Comment                         |
|----------------|-------------------------------|-----------------------------|
|core.module.ts.ejs (15)                     |import | `import * as moment

[2020-09-28 18:15] qlereboursBS commented on #12575
For the moment, DayJS seems to be a better replacement solution to us:
 - The lib has more stars than Date fns
 - It's composable thanks to the [plugins](https://github.com/iamkun/dayjs#plugin)
 - DayJS's API is very close to moment's one
 - In our experience, DayJS is developer friendly

Don't hesitate to shate your perspective

[2020-09-29 16:27] postpersonality commented on #11025
To be honest I would use `$tablename1_$tablename2` instead of the current `$tablename1_$reffieldname`.

[2020-09-29 17:38] nicolas63 opened #12606 "user serverPort variable in EntityGatlingTest.scala"
##### **Overview of the feature request**

replace hard coded port by serverPort variable
`val baseURL = Option(System.getProperty("baseURL")) getOrElse """http://localhost:8080"""`

`val baseURL = Option(System.getProperty("baseURL")) getOrElse """http://localhost:<%= serverPort %>"""`

##### **Motivation for or Use Case**

Allow blueprint to override with custom port without additonal argument f

[2020-09-30 04:40] mraible commented on #10975
@Falydoor I tried it this evening and changed the "preferred_username" part to match what Ionic expects:

[code]

After registering it in `SecurityConfiguration.java`:

[code]

I found that it fails when I log in. IntelliJ also seems a bit concerned about `user.get()` w/o a `null` check.

[code]

If I remove the `.asText()` from each line, I get:

[code]

[2020-09-30 05:56] Falydoor commented on #10975
@mraible I think it's because `groups` is an ArrayNode so `asText()` doesn't work.

I did a new commit https://github.com/Falydoor/jhipster-oauth2/commit/16bf5c4df1279c6ce076b58cea011d7026313f63, maybe that's more clear!

[2020-09-30 06:10] mraible commented on #10975
Sweet! That works!! Can you please create a PR with this change and add a test too?

[2020-09-30 12:01] qlereboursBS commented on #12575
We updated the table above, to add the replacement solutions with DayJS.
We're going to start implementing now

[2020-09-30 15:27] mraible commented on #10189
Angular CLI added experimental opt-in support for Webpack version 5 in v11.0.0-next.3.

https://github.com/angular/angular-cli/issues/17555#issuecomment-701359679

[2020-09-30 18:50] tillias opened #12611 "Springfox: NoClassDefFoundError: com/google/common/collect/Lists"
##### **Overview of the issue**

When starting sample app there is following error:
[code]

##### **Motivation for or Use Case**

I don't think this is normal behavior

##### **Reproduce the error**

Generate sample app, verify that guava 19.0 is downloaded correctly

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

6.10.3
##### **JHipster configuration**

INFO! Us

[2020-09-30 20:19] gmarziou commented on #12611
I reproduced the error, it seems to be related to https://github.com/springfox/springfox/issues/3256#issuecomment-683273097

[2020-09-30 20:26] atomfrede commented on #12575
Good work. Looking forward to the result!

[2020-09-30 20:54] tillias commented on #12611
Yes, I have chosen WebFlux when generating the project

[2020-09-30 21:02] tillias commented on #12611
If I change: DocumentationType.SWAGGER_2 to DocumentationType.SWAGGER_12 then error is not reproducible. I have also noticed that @EnableSwagger2WebFlux is deprecated

[code]

[2020-09-30 23:19] phshah0116 commented on #10219
I'm using jacoco cli to dump the coverage into .exec file. For example,

java -jar jacococli.jar dump --port 36300 --destfile=jacoco-it.exec

However, when trying to push it to Sonar, I get following exception. Caused by: javax.xml.stream.XMLStreamException: java.nio.charset.MalformedInputException: Input length = 1

I'm not using maven so can't import jacoco coverage report in xml format. JacocoC

[2020-10-01 06:53] deftdawg commented on #12448
Spent a couple of hours trying to look up Enum values by the keys only to discover the addition of "const" eliminates the keys at compile time... dough!

The patch in #12615 fixes that, and it can be applied directly to your generator-jhipster folder, run `npm install` and then dirty up your enums by adding a dummy value and running jdl-import, removing the dummy value and re-running jdl-import.

[2020-10-01 08:36] tillias opened #12616 "Heroku deployment not working, Procfile is empty"
##### **Overview of the issue**

I have generated sample app (source code is available here: https://github.com/tillias/microservice-catalog) and integrated travis-ci using "jhipster ci-cd"

Unfortunately application is not correctly deployed in heroku

[code]

##### **Motivation for or Use Case**

.travis.yml seems to be incorrect

##### **Reproduce the error**

If I run console for heroku app de

[2020-10-01 08:39] tillias commented on #12616
If I check errors there is following available:

[code]

[2020-10-01 08:46] tillias commented on #12616
[code]

[2020-10-01 10:03] sergei063 opened #12617 "Microservice does not see the mongodb in the container when installed by default"
The Jhipster is not the same as before. Something doesn't work all the time
I just created a microservice and tried to run it through a docker

My app log
`
2020-10-01 08:45:01.968 ERROR 1 --- [ restartedMain] o.s.boot.SpringApplication : Application run failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'mongobee' defined in class path resource [ru/galak

[2020-10-01 10:04] sergei063 commented on #12617
What could I have done wrong when using a generator?

[2020-10-01 10:19] tillias commented on #12616
Finally found rootcause and solution. There is heroku-maven-plugin configuration missing in pom.xml generated by jhipster

https://elements.heroku.com/buildpacks/heroku/heroku-maven-plugin

[2020-10-01 14:13] #12448 closed

[2020-10-01 14:32] #12562 closed

[2020-10-01 17:52] mrts commented on #12558
@atomfrede note that a ["migration build"](https://v3.vuejs.org/guide/migration/introduction.html#breaking-changes) is in the works with Vue 2 compatible behavior (and runtime warnings of incompatible usage). So perhaps an interim step would be to implement minimal changes to use the migration build even if this is not fully optimal and then follow up with a rewrite to composition-API eventually.

[2020-10-01 18:10] atomfrede commented on #12558
As far as I understand the migration build is not yet available?

`We are still working on a dedicated Migration Build of Vue 3 with Vue 2 compatible behavior and runtime warnings of incompatible usage. If you are planning to migrate a non-trivial Vue 2 app, we strongly recommend waiting for the Migration Build for a smoother experience.`

[2020-10-01 18:14] atomfrede commented on #12606
Looks like a reasonable change. Can you do a PR for this?

[2020-10-01 18:17] mrts commented on #12558
Yes, it is not yet available. According to [Vue 3 roadmap](https://github.com/vuejs/vue/projects/6), it is planned for Q4 2020.

[2020-10-01 18:26] nicolas63 commented on #12606
Yes, i do it soon

[2020-10-01 19:08] heithemmoumni opened #12623 "Add svelte support"
I suggest adding Svelte to the list of frontend frameworks

[2020-10-01 19:29] mraible commented on #12623
This is currently being worked on. See https://github.com/jhipster/generator-jhipster-svelte. Help is most welcome!

[2020-10-01 19:29] #12623 closed

[2020-10-01 19:30] atomfrede commented on #12616
Did you create the initial heroku deployment via `jhipster heroku`? This command takes care of adding everything needed for heroku.

[2020-10-01 20:50] JeroenAdam commented on #12489
FWIW, I used the Jhipster 6.5.1 demo app for building my first Jenkins CI/CD pipeline. It included Protractor tests.
I went for the Docker in Docker approach with some config to keep only the latest few builds and with a cleanup of unused containers at the end of each build.

I'm not the strongest in automation, some notes I made:
 * Jenkins and Docker-in-Docker, to persist the docker permission d

[2020-10-02 06:16] ArjunDandagi opened #12629 "Getting started with jhipster , application wont run by default"
##### **Overview of the issue**

I was excited to see if the project becomes up and running without having to code anything

i have also recorded the session here https://asciinema.org/a/tzoJpDkAtmjrzQiCSc2JysMN7

##### **Motivation for or Use Case**
I haven't written a single line of code yet. but if i am not wrong , i should be able to run the application without editing for the
first time

the

[2020-10-02 10:27] pmverma commented on #12629
The generator won't run the app by default.
You can do so by `./mvnw` as described in last lines of project generation.

[2020-10-02 10:28] #12629 closed

[2020-10-02 17:11] kevin-madhu commented on #12556
@avdev4j It's so that I can write code like below instead of having to copy those functions from the corresponding projects.

**generators/entity-server/index.js**
`
const chalk = require('chalk');
const EntityServerGenerator = require('generator-jhipster/generators/entity-server');
const javaWriteFiles = require('generator-jhipster/generators/entity-server/files').writeFiles;
const kotlinWriteFil

[2020-10-03 04:40] ArjunDandagi commented on #12629
i used ./mvnw itself , can you please reproduce this and see if it works?

this is the recording i have done while running jhipster for the first time
https://asciinema.org/a/tzoJpDkAtmjrzQiCSc2JysMN7

jhipster 6.10.3
npm 6.14.8
Apache Maven 3.6.3
java : openjdk version "11.0.8" 2020-07-14
node: v12.14.0

[2020-10-03 10:05] tillias commented on #12616
Every time I'm running jhipster heroku it hangs
[code]

I will setup time for 30 minutes now and report back. I'm not behind any proxy or whatever

[2020-10-03 10:05] mikrethor commented on #12461
I looked a bit into it and I would advise not to try to manage version in jhipster.

For me the projects that bring those version should be modified.

problem-spring-web brings :
 - +-org.apiguardian:apiguardian-api:1.1.0
 - +-org.apiguardian:apiguardian-api:1.0.0

spring-boot-starter-undertow brings :
- +-org.wildfly.common:wildfly-common:1.5.2.Final
- +-org.wildfly.common:wildfly-common:1.2.0.Fi

[2020-10-03 10:08] mikrethor commented on #12461
Actually I could correct it a bit by bumping problem-spring-web to 0.26.2

[2020-10-03 10:14] mikrethor commented on #12461
It seems to be already done

[2020-10-03 10:23] mikrethor commented on #12461
about faux-pas 0.8.0 containing org.apiguardian:apiguardian-api:1.0.0 [see](https://github.com/zalando/faux-pas/issues/167)

[2020-10-03 10:31] atomfrede commented on #12616
Have you installed and linked your heroku CLI? Are you using Windows?

[2020-10-03 10:40] tillias commented on #12616
Yes, I'm using cli locally, I'm logged in as well. I have created empty project from scratch and this time it was fast and good.
Do you think it will be enough to add following lines into _.travis.yml_ or there is better way?
[code]
The idea is to build app on travis-ci and then deploy jar into heroku

[2020-10-03 11:24] pascalgrimaud commented on #12461
@Falydoor @DanielFran : can you have a look @atmikrethor 's comment plz ?
I'm reopening this ticket to not forget

[2020-10-03 11:52] tillias commented on #12616
So whoever will be interested in, starting from version 2.0.5 **heroku-maven-plugin** supports **deploy-only** goal (more here: https://github.com/heroku/heroku-maven-plugin/pull/42)

So following entry in your .travis.yml will do the trick:
[code]

[2020-10-03 11:52] #12616 closed

[2020-10-03 12:44] pmverma commented on #12629
What issue are you having?

Check more at https://www.jhipster.tech/development/
You can ask at https://stackoverflow.com/questions/tagged/jhipster

[2020-10-03 13:56] Falydoor commented on #12461
Yes I agree with you @mikrethor, it would be definitely best to have the warnings fixed in the original dependencies but it might take longer depending on their release cycle.

For
[code]
 we can't even open an issue on `xnio-api` at https://github.com/xnio/xnio 😬.

[2020-10-03 16:49] swarajsaaj commented on #12460
@pascalgrimaud  Can I pick this up?

I can try this one as below:-
1. Create a New AppIntegrationTest.java annotation in ***/generators/server/templates/src/test/java/package***
2. Decorate this annotation class with all conditional templates in other ITs.
3. Use this annotation in other ITs.

Please let me know if I am missing something, as its my first contribution in Jhupster.

[2020-10-03 18:32] pascalgrimaud commented on #12460
@swarajsaaj : yes you're welcome for your 1st contribution, and we'll try to help you :)
Just one important thing:
- there will be logic inside this AppIntegrationTest, specially when it's OAuth2, Kafka, Redis, etc...

[2020-10-03 18:50] souleymatoo commented on #12460
@pascalgrimaud and @swarajsaaj
i already create an pull request for this issue.
Sorry for not asking before start.

@pascalgrimaud  should i dropped it ?

[2020-10-03 19:22] pascalgrimaud commented on #12460
@souleymatoo : no, we should not drop your work. But it would be nice if @swarajsaaj can review and test your PR, so it will be  "team work" :)

[2020-10-03 19:28] swarajsaaj commented on #12460
@pascalgrimaud Definitely :) I can follow along the PR. @souleymatoo Please proceed with the PR.

[2020-10-03 19:30] swarajsaaj commented on #12455
@pascalgrimaud Can I work on this?
I think adding .vue extension to https://github.com/jhipster/generator-jhipster/blob/1ea10ad6595ade2c98293556acd901af8f365113/generators/generator-base.js#L233 should do it.
I can try changing and test.

[2020-10-03 19:31] pascalgrimaud commented on #12455
sure @swarajsaaj : go ahead plz ! :)

[2020-10-03 21:17] swarajsaaj commented on #12455
@pascalgrimaud  I raised a PR for this #12639 , but it seems the checks are failing due to some other reasons (connection timeout in one case). Is this expected with Github actions and the MR can be reviewed?

[2020-10-04 00:18] mraible opened #12640 "Generating a reactive microservices architecture has compilation errors"
##### **Overview of the issue**

I'm trying to create a reactive microservices architecture with the following JDL:

[code]

To use the latest code, I ran the following commands in my fork:

[code]

Then, I generated apps using `jhipster jdl app.jdl`.

When I try to run the gateway with `./mvnw -Pprod`, I get a compilation error:

[code]

When I try to run the blog app with the same command, I get

[2020-10-04 08:45] #12463 closed

[2020-10-04 09:36] #12455 closed

[2020-10-04 09:39] #12606 closed

[2020-10-04 10:06] pascalgrimaud commented on #12617
@sergei063 : can you fill the template and provide all information plz ? Use `jhipster info` in your project

[2020-10-04 11:47] pascalgrimaud commented on #12640
There are 2 problems:
- the 1st from Angular comes from https://github.com/jhipster/generator-jhipster/pull/12549 -> can you have a look plz @mshima ?
- the 2nd is related to webflux backend

[2020-10-04 11:54] MarlonLuan opened #12643 "Error: Only 'h2Memory', 'h2Disk', 'mysql' are allowed as devDatabaseType"
With the change to set postgres as default, the following error is generated:

[code]

##### **Reproduce the error**

[code]

##### **JHipster Version(s)**

master

##### **JHipster configuration**

<details>
<summary>app.jdl file</summary>
<pre>
application {
  config {
    devDatabaseType postgresql
  }
}
</pre>
</details>

[2020-10-04 12:15] pascalgrimaud commented on #12643
Thanks @MarlonLuan for reporting this, I'm having a look

[2020-10-04 12:22] mshima commented on #12643
@pascalgrimaud https://github.com/jhipster/generator-jhipster/blob/efd391d5c067227a2e7d5e16de7532d09e35cb5f/jdl/jhipster/default-application-options.js#L198

[2020-10-04 12:25] pascalgrimaud commented on #12643
Strange, I could reproduce this with 6.10.3, so it doesn't come from my previous PR about PostgreSQL as default database

[2020-10-04 12:27] pascalgrimaud commented on #12643
OK understood, thanks for pointing this @mshima : do you want to do the PR or I can do it now?

[2020-10-04 12:30] mshima commented on #12643
Please do it. I am taking a look at microservice/angular bug

[2020-10-04 12:32] pascalgrimaud commented on #12640
Thanks @mshima : the angular part should be easy to fix. It's just related to naming with Microservice

[2020-10-04 13:01] mshima commented on #12640
@pascalgrimaud not so simple.
https://github.com/jhipster/generator-jhipster/blob/07c32f015f69cb2075eddc50666875dbebf5e998/generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.module.ts.ejs#L56
The locals variables just doesn't exists and it's used in many places, I will try to identify when it was lost.

[2020-10-04 13:22] mshima commented on #12640
Just found it's provided by ejs. `<%= locals.microserviceName %>` === `<% microserviceName %>`

[2020-10-04 15:12] #12643 closed

[2020-10-04 18:12] Rajpratik71 opened #12648 "chore : use `--no-install-recommends` flag to `apt-get` in dockerfile to save space"
##### **Overview of the feature request**

By default, Ubuntu or Debian based "apt" or "apt-get" system installs recommended but not suggested packages .

By passing "--no-install-recommends" option, the user lets apt-get know not to consider recommended packages as a dependency to install.

This results in smaller downloads and installation of packages .

##### **Motivation for or Use Case**

Ref

[2020-10-04 18:57] clocken opened #12649 "Deploying JHipster with a context path breaks SwaggerUI"
##### **Overview of the issue**

When deploying JHipster with a context path set, one has to change the Webpack configuration and SwaggerUI according to https://www.jhipster.tech/production/#build, otherwise the client app fails to load.
First off, the doc is incomplete as one also has to prepend the `axios.get` call with the context path, like so: `axios.get("/jhipster/swagger-resources")`. Other

[2020-10-05 05:54] tillias opened #12654 "Bootswatch polyfills.ts TS2580"
##### **Overview of the issue**

Multiple errors when using Button group with nested dropdown or Popovers is not working completely:

[code]

##### **Motivation for or Use Case**

Because Popovers and button groups are very common use-cases

##### **Reproduce the error**

1. Generate sample project
2. Open https://bootswatch.com/solar/ and get some samples for button group with nested dropdown or

[2020-10-05 16:02] fdaudies commented on #12450
Bounty claimed https://opencollective.com/generator-jhipster/expenses/25978

[2020-10-05 16:05] pascalgrimaud commented on #12450
thanks @fdaudies : approved

[2020-10-05 19:05] tillias opened #12656 "Bump @ng-bootstrap/ng-bootstrap to 7.0.0"
##### **Overview of the feature request**

Hello folks,

@ng-bootstrap/ng-bootstrap currently used is targeting angular 9 while jhipster generates with "@angular/core": "10.0.0"

If I update ng-bootstrap to 7.0.0 then I have following warning:
[code]

##### **Motivation for or Use Case**

To be consistent across libraries

##### **Related issues or PR**

-   [ x] Checking this box is mandatory (th

[2020-10-05 19:08] tillias opened #12657 "Bump @fortawesome/angular-fontawesome to 0.7.0"
##### **Overview of the feature request**

Same as https://github.com/jhipster/generator-jhipster/issues/12656

0.6.0 is targeting angular 9, while jhipster generates with 10: https://www.npmjs.com/package/@fortawesome/angular-fontawesome -> compatibility table

##### **Motivation for or Use Case**

To be consistent across libraries

##### **Related issues or PR**

-   [ x] Checking this box is ma

[2020-10-05 21:11] iroCheese commented on #8242
Just in case anyone finds this issue through google:
I just successfully implemented 2FA for my UAA + microservices setup following this great tutorial
https://sultanov.dev/blog/multi-factor-authentication-with-spring-boot-and-oauth2/
In addition to the described steps, the gateway needs to be configured to forward the mfa request params.
My solution now also supports otps sent via SMS, which is p

[2020-10-06 06:08] corneliouzbett commented on #12593
Great quick fix. Worked for me 👍

[2020-10-06 08:30] hosijj commented on #3938
@tvd27285 Did you solved your problem?

[2020-10-06 17:12] jsone-studios commented on #12147
As I just ran into the same issue and no one has provided a PR yet, I have done it here: #12610

[2020-10-06 17:16] demetrio812 commented on #12147
Thanks @jsone-studios , sorry it went out of my radar

[2020-10-06 17:20] Tempest1000 commented on #12593
Awesome, this fixed my issue using the web generated version that I created today. Thank you Vikas!!

[2020-10-06 20:14] mshima commented on #12489
https://github.com/nestybox/sysbox seems a good solution for docker-in-docker.

[2020-10-06 20:56] pascalgrimaud opened #12665 "Daily builds: JDL microservices broken with OAuth2+Cypress"
##### **Overview of the issue**

See https://github.com/hipster-labs/jhipster-daily-builds

The daily builds for JDL Microservices + OAuth2 + Cypress are broken since days

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityNam

[2020-10-06 22:03] khocef opened #12666 "Add csp header to allow Google analytics"
The SecurityConfiguration is blocking Google Analytics script and requests
![image](https://user-images.githubusercontent.com/3718899/95264903-72a80b00-0830-11eb-86d7-c2651421b4f8.png)
![image](https://user-images.githubusercontent.com/3718899/95264923-7dfb3680-0830-11eb-809b-273f3eec18b2.png)

[2020-10-07 00:26] mikrethor commented on #12461
Ok but it's just warning and handling the dependencies in Jhipster regardless of spring boot dependencies or calando management could cause bigger problems

[2020-10-07 03:50] atomfrede commented on #12666
I think this is not a jhipster issue. Did you e.g. looked at https://content-security-policy.com/faq/ and changed the csp accordingly?

[2020-10-07 06:45] pascalgrimaud commented on #11736
Closing this as it's done

[2020-10-07 06:45] #11736 closed

[2020-10-07 06:48] khocef commented on #12666
@atomfrede But since jhipster is providing a Google Analytics configuration in index.html I think it should not be blocked by the csp conf. What do you think ?

[2020-10-07 07:01] atomfrede commented on #12666
Good point, I would still say we should not change the default generated CSP, instead document what must be changed as google analytics is totally optional to me (apart from the privacy questions regarding google analytics).

[2020-10-07 08:59] Toysurusse opened #12668 "Nhipster blob entity generator"
##### **Overview of the issue**
How to fix Blob front Angular view issue ?

##### **Motivation for or Use Case**
When you use nhipster entity generator with an angular front. Angular can't render the image of the blob after beeing storage in database.

##### **Reproduce the error**
use nhipster entity generator and you will have issue to view blob from backend.

##### **Suggest a Fix**
when the se

[2020-10-07 09:04] khocef commented on #12666
I dont have a working analytics at the moment but something like this should work

[code]

[2020-10-07 14:30] yehudab commented on #12384
Can I take this issue?
Looks like the only thing that's missing is the automatic `dir` change when the language changes.
I also see slight RTL fixes that might be needed in the CSS. I can take this opportunity to fix these as well.

[2020-10-07 16:36] pascalgrimaud commented on #12593
Fixed by https://github.com/jhipster/generator-jhipster/pull/12664

[2020-10-07 16:37] #12593 closed

[2020-10-07 16:38] pascalgrimaud commented on #12384
sure, go ahead plz @yehudab !

[2020-10-07 17:05] mraible opened #12671 "Remove logging about user-management when creating app"
##### **Overview of the issue**

When I run `jhipster jdl blog-oauth2`, it prints out a message that doesn't really help the user.

[code]

I think this should be removed.

<img width="1442" alt="Screen Shot 2020-10-07 at 11 03 39 AM" src="https://user-images.githubusercontent.com/17892/95363483-c34d5180-088c-11eb-8c2b-57052108d437.png">

##### **Motivation for or Use Case**

It kinda looks like s

[2020-10-07 18:54] yehudab commented on #12384
I ended up only fixing the vue issue in my PR,
I see that the other issues I saw (e.g. the ribon not being flipped) are common to all 3 frameworks, not just to vue,
so I think that it will be better to create a new issue for them.

[2020-10-08 04:21] Rajpratik71 opened #12675 "jhipster fails to generate for openshift"
##### **Overview of the issue**
PS D:\sterlite\eo-openshift-deployment> jhipster openshift
INFO! Using JHipster version installed globally
INFO! Executing jhipster:openshift
⭕ [*BETA*] Welcome to the JHipster OpenShift Generator ⭕
Files will be generated in folder: D:\sterlite\eo-openshift-deployment or in the root directory path that you select in the subsequent step
√ Docker is installed
WARNING

[2020-10-08 05:04] tillias opened #12676 "Replace persistent entities with a simple POJO or DTO objects for controllers"
##### **Overview of the feature request**

By default persistent entities are used as DTOs for all controllers. For example: https://sonarcloud.io/project/issues?id=microcatalog&open=AXUFA43oaLeiCpuVTUPk&resolved=false&types=VULNERABILITY

Please generate DTO objects for rest controllers (e.g. SomeEntity for persistence layer and SomeEntityDTO for controllers)

##### **Motivation for or Use Case**

[2020-10-08 05:14] tillias opened #12677 "Add fonts.googleapis.com exclusion to SecurityConfiguration"
##### **Overview of the feature request**

For sample app deployed into any cloud provider following error is displayed in browser console log:
`Refused to load the stylesheet 'https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap' because it violates the following Content Security Policy directive: "style-src 'self' 'unsafe-inline'". Note that 'style-src-elem' was not explicitly se

[2020-10-08 05:28] pascalgrimaud commented on #12676
@tillias : it's because you didn't use service + dto when generating your entities.
Like you, I don't like the default option in JHipster, that's why I always use service + dto.

But as you didn't fill the template with your config, I can't guess :)

[2020-10-08 05:30] atomfrede commented on #12676
We have a dto option which should do exactly that https://www.jhipster.tech/using-dtos/#how-dtos-work-in-jhipster

[2020-10-08 05:32] atomfrede commented on #12677
Can you fill out the issue template please? Did you select a bootswatch theme? For a default application the csp is not blocking anything

[2020-10-08 05:37] tillias commented on #12676
Hello lovely people, sorry for bothering with this, but which parameters should I pass to generator for this?

If I check https://www.jhipster.tech/using-dtos/#how-dtos-work-in-jhipster then there is mention that "I have an option"
`When generating a JHipster entity, you have the option to add a service layer: the DTO option will only be available if you choose to have a service layer, as it needs

[2020-10-08 05:41] tillias commented on #12677
It depends on how you start app. If it is running on localhost, it works just fine. When you deploy it in heroku or aws it throws such a message. That is actually feature request, not a bug template, or what do you mean?

[2020-10-08 05:43] atomfrede commented on #12677
We have the font policy when a bootswatch theme is selected. https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L244

I will check with heroku but there is no issue with the default configuration pretty sure as I usually test on heroku. I mean the issue template with all the required information to repr

[2020-10-08 05:45] pascalgrimaud commented on #12676
@tillias : what do you use for generating your entities ? If it's with CLI, you should have the question. I think it's with JDL, so you should use:

[code]

[2020-10-08 05:47] tillias commented on #12677
Oh, I see, I will close this one and create bug issue later then. I used bootswatch and latest version of generator available and had to make CSP IMG_SRC configurable for example in my codebase and I don't know where this https://fonts.googleapis.com is coming from because I haven't modified any default styles ot customized bootswatch theme somehow

[2020-10-08 05:55] atomfrede commented on #12677
I have seen you have added 3rd party  Stylesheets and have modified the csp policy ( which does not contain the font-src anymore we should generate). I will check with bootswatch later today maybe we miss something or the generation has a bug

[2020-10-08 06:03] pascalgrimaud commented on #12675
@Rajpratik71 :
Sorry about that. But to be honest, we have very few feedback about OpenShift sub generator, and it's not well maintained... I wonder if we should keep this sub generator.
If you know how to fix it, feel free to help

I use OpenShift for my customer but we don't use this sub generator because:
- it doesn't fit to our needs
- it's broken

[2020-10-08 06:05] mraible commented on #12675
This seems like a good opportunity to start removing stuff that’s not supported well by its providers.

[2020-10-08 06:09] pascalgrimaud commented on #12384
so I think that it will be better to create a new issue just for the CSS fixes.

Indeed, it's better to open a new issue about this improvement

[2020-10-08 06:13] #12384 closed

[2020-10-08 06:16] #12541 closed

[2020-10-08 06:21] #12459 closed

[2020-10-08 06:24] tillias commented on #12677
Yes, I have updated img-src, but let me check if without vis-network styles it throws the same error. I will open issue instead if feature if it is still reproducible

[2020-10-08 06:25] tillias commented on #12676
I'm using JDL Online and then simply run --impor-jdl
I will try this option, many thanks!

[2020-10-08 06:25] #12676 closed

[2020-10-08 06:44] pascalgrimaud commented on #12461
So what would be the best ?
Do you think we should revert https://github.com/jhipster/jhipster/pull/861/ @mikrethor ?

[2020-10-08 06:56] atomfrede commented on #12648
The PR #12647 did fix this issue or is there anything left I can't see right now?

[2020-10-08 07:00] pascalgrimaud commented on #12648
no auto close, so let's close this :)

[2020-10-08 07:00] #12648 closed

[2020-10-08 07:09] mraible commented on #12640
I tried it again with the latest code. After generating all projects, I tried running `./mvnw -Pprod` in them. Results:

- gateway: Hangs after `spring-boot-maven-plugin:2.3.4.RELEASE:run` and AsciiArt
- blog: Same errors
- store: Same

Since I have the ability, I'm slapping a large bug bounty on this one. I'd love it if we had first-class reactive support.

[2020-10-08 07:11] mraible commented on #12668
@Toysurusse Can you please create a PR to fix this? I'll add a bug bounty for extra motivation. :)

[2020-10-08 07:14] atomfrede commented on #12666
I will have a look at this, while also looking if we have a problem with https://github.com/jhipster/generator-jhipster/issues/12677

[2020-10-08 07:15] mraible commented on #12553
@SoniaLahi Did you create a PR for this change?

[2020-10-08 07:16] mraible commented on #12274
@Faelivrinx Can you please try this again with the latest code and see if it works?

[2020-10-08 07:17] #11361 closed

[2020-10-08 07:19] atomfrede commented on #12677
@tillias I have looked at your source code and it was [generated without the google fonts policy](https://github.com/tillias/microservice-catalog/commit/943abc1d444adb810bf05102276b0aba1364d6c2#diff-fcdf7473c277685c8a4c8f1417429288). So I will reopen this as it looks like a bug on our side as the [if statement seem not to work correctly](https://github.com/jhipster/generator-jhipster/blob/eaaca319

[2020-10-08 07:19] pascalgrimaud commented on #12553
it's already in progress, @mraible

[2020-10-08 07:20] mraible commented on #11528
Can we close this? If the current solution is "good enough", do we need to change it? Please re-open this issue if you feel that we should.

[2020-10-08 07:20] #11528 closed

[2020-10-08 07:21] mraible commented on #10746
Closing due to no action from @ludoch or @saturnism. I love you guys!

[2020-10-08 07:21] #10746 closed

[2020-10-08 07:23] mraible commented on #12418
We should not use whitelist or blacklist in our code or documentation. Please use allowed list or denied list to be nice to others.

[2020-10-08 07:24] mraible commented on #11599
@murdos Have you had a chance to re-examine this?

[2020-10-08 07:25] mraible commented on #11525
Closing because of @amatosg's comment:

[2020-10-08 07:26] mraible commented on #12654
Thanks for the bug report @tillias. Any chance you want to try and fix things with a pull request?

[2020-10-08 07:27] mraible commented on #12574
Thanks for the bug report @dmushkov! Any chance you can create a pull request to fix it? If you need help contributing, please let me know.

[2020-10-08 07:28] mraible commented on #11935
I'm ready to do this now. It's soooooo easy. PRs will suffer, but maybe that's the motivation for us to merge stuff?!

https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx

[2020-10-08 07:29] mraible commented on #8143
@saturnism Do you really care? If so, where's the PR?! 😉

[2020-10-08 07:31] mraible commented on #12487
@ascelineboullen Any updates?

[2020-10-08 07:31] mraible commented on #12441
@bmvermeer Any updates?

[2020-10-08 07:33] mraible commented on #12511
Last time I tried, Docker Compose worked for `app.yml`. If we remove it, how can we start everything via Docker?

[2020-10-08 07:34] mraible commented on #12656
Can you please create a PR with this change?

[2020-10-08 07:35] DanielFran commented on #12461
I introduced the warning of dependency in both jhipster bom and generator projects, in the past, this was not visible.
I added it just to inform users that they might need to manage the dependencies in the project, because is too difficult to manage them on both jhipster bom and generator (too much combination).

I would prefer that this is managed directly on the source, otherwise, when updating

[2020-10-08 07:35] mraible commented on #12617
Closing because of a lack of information. Please re-open if you can provide the output from `jhipster info`.

[2020-10-08 07:35] #12617 closed

[2020-10-08 07:36] #12671 closed

[2020-10-08 07:36] mraible commented on #11122
Can we close this now? I don't think we're ready to make this the default option for JHipster.

[2020-10-08 07:36] #11122 closed

[2020-10-08 07:37] mraible commented on #12065
I'm closing this issue due to inactivity. Please re-open if you have a PR to fix it.

[2020-10-08 07:37] #12065 closed

[2020-10-08 07:38] mraible commented on #11062
I'm closing this issue due to inactivity. Please re-open if you have a PR to fix.

[2020-10-08 07:38] #11062 closed

[2020-10-08 07:38] mraible commented on #11760
I'm closing this issue due to inactivity. Please re-open if you have a PR to fix.

[2020-10-08 07:38] #11760 closed

[2020-10-08 07:38] vishal423 commented on #11935
I think we should wait for https://github.com/github/renaming/ to have a good developer experience

[2020-10-08 07:40] mraible commented on #12014
I'm closing this issue due to inactivity. Please re-open if you have a PR to fix.

FWIW, we published a blog post recently on how to use Spring Session with MySQL. We're working on another one that uses Redis.

https://developer.okta.com/blog/2020/10/02/spring-session-mysql

[2020-10-08 07:40] #12014 closed

[2020-10-08 07:40] yelhouti commented on #11760
can we at least disscuss it, I can make a PR if like the changes proposed

[2020-10-08 07:41] mraible commented on #11978
Is this still an issue for you with the latest release? I'm closing this issue because I don't think it will be. Please re-open if it is.

[2020-10-08 07:41] #11978 closed

[2020-10-08 07:42] mraible commented on #12138
Can you please create a PR to fix this issue? Thanks in advance!

If you need help, please let me know. I'd be happy to help. 🙂

[2020-10-08 07:43] mraible commented on #11767
Currently being fixed by https://github.com/jhipster/generator-jhipster/pull/12609. We just need WebFlux support, and we'll be all set!

[2020-10-08 07:44] aleksandar-budisa commented on #11525
Where and how and I will do it ?
I don't remember when and where I write this.

уто, 31. мар 2020. у 01:31 Alejandro Matos <notifications@github.com> је
написао/ла:

[2020-10-08 07:45] mraible commented on #11760
Happy to discuss, but not willing to make things more complicated than they need to be.

[2020-10-08 07:46] ascelineboullen commented on #12487
@mraible , yes, I'm still on it, I will be able to send you proposals this weekend :)

[2020-10-08 07:50] yelhouti commented on #11760
@mraible here is a blueprint explaining how we do it now, please LMK what you think abour it https://github.com/elhoutico/generator-jhipster-preauthorize.
an example project is in the test folder https://github.com/elhoutico/generator-jhipster-preauthorize/tree/master/test/samples/preauthorize/src

[2020-10-08 07:53] yelhouti commented on #11760
We we can basically do is change the current generator to use the entity `authority` to `role`.
And have a flag `fine-grained-premissions` that adds a new entity `authority` and all the constants in the code + the gui to assign authorities to roles. This can be done in two steps.

[2020-10-08 07:55] mraible commented on #11767
Closing because this is being tracked by https://github.com/jhipster/generator-jhipster/issues/10975.

[2020-10-08 07:55] #11767 closed

[2020-10-08 07:57] cbornet commented on #11599
See https://github.com/jhipster/generator-jhipster/pull/11791 . There's an issue open on reactor but it seems nobody is working on it. So we should probably do the workaround.

[2020-10-08 07:58] mraible commented on #12274
@gzsombor Do you have any advice on how to solve this issue? I ask because you're our resident r2dbc guru. :)

[2020-10-08 07:59] atomfrede commented on #12138
I looked at it some time ago. It needs some extensions in the jhipster lib.

[2020-10-08 07:59] Toysurusse commented on #12668
Ok perfect, I can prepare it for you. I've never worked on generator part of nhipster ; but I will make a PR and assign it to you when it should be done :)

[2020-10-08 07:59] mraible commented on #12494
Added bug bounty to motivate @deepu105 to fix. :)

[2020-10-08 08:02] mraible commented on #9486
@mshima How's progress? Is this ready for an initial release? If it is, let's release, promote, and iterate!

[2020-10-08 08:03] mraible commented on #12497
Any updates @Tcharl?

[2020-10-08 08:03] mraible commented on #12465
@ThomasCarca Any progress to report?

[2020-10-08 08:05] mraible commented on #12300
Hello @tchlyah - it looks like https://github.com/spring-projects/spring-data-couchbase/pull/261 needs a rebase. Can you please ping the owners of that PR and see if they can update things?

[2020-10-08 08:05] mraible commented on #12529
@SoniaLahi Any updates? Can we help?

[2020-10-08 08:06] mraible commented on #12339
Is this a feature that we'll include in 7.0? If not, we should close this issue and re-open when there's a PR to support it.

[2020-10-08 08:07] mraible commented on #12080
Any updates on this feature? I'm not confident it's needed, but I'll leave that decision up to y'all!

[2020-10-08 08:08] mraible commented on #12495
Sometimes simple is better. Do we really need this? I'd rather update a file than have to modify a service and figure out how to redeploy it!

[2020-10-08 08:09] mraible commented on #10733
There's a couple of PRs that've been merged related to this issue. Can we close it, or is there still work that needs to be done?

[2020-10-08 08:10] mraible commented on #11257
Is there a PR related to this issue? If not, I'd prefer to close it until there's some action on it.

[2020-10-08 08:10] mraible commented on #12366
Any updates @mshima?

[2020-10-08 08:11] mraible commented on #12388
Any updates y'all? Can we close this in favor of a pull request or two?

[2020-10-08 08:12] mraible commented on #11591
@MathieuAA It's been a year or two since May 30 (or at least it feels like it). Any updates?

[2020-10-08 08:13] mraible commented on #12072
Can you please create a PR to fix this @joewhite101?

[2020-10-08 08:14] mraible commented on #11967
@sendilkumarn It's been a few months since you added this. Are you still passionate about it and willing to write the code in the next 30 days? If not, I think we should close this and create a PR when it's more actionable.

[2020-10-08 08:15] mraible commented on #12148
@atomfrede Can we close this issue?

[2020-10-08 08:16] mraible commented on #12122
@RDsideNow Are you able to contribute a fix for this? A single enum seems kinda silly, IMO.

[2020-10-08 08:16] mraible commented on #12059
I'm not against the idea, but I'm closing this issue. Please create a PR and re-open this issue once you have an implementation.

[2020-10-08 08:16] #12059 closed

[2020-10-08 08:19] sendilkumarn commented on #11967
I totally forgot it! I have something but it needs few patches, but sadly don't have time to complete it.

Let us close this one. I will re-open it when the code is ready.

[2020-10-08 08:19] #11967 closed

[2020-10-08 08:19] bmvermeer commented on #12441
Yes we will release a blog post on how to integrate Snyk with JHipster this week (probably today).
I will post a link here when it is live.
I did not yet figure out if and where I can put this in the generator.

[2020-10-08 08:19] mraible commented on #12019
My proposal: Do the work to make this happen, in a separate repo than we have now. Make it so you can generate a JHipster app with no code. Give users the ability to opt-in. For example:

[code]

Personally, I hate the "no code" and "low code" marketing terms that are floating around. But.... maybe we should embrace them and make it as an option?

[2020-10-08 08:20] mraible commented on #11542
@gzsombor Are you still blocked? Can we split this up into smaller issue and give you more $$ to make it happen?

[2020-10-08 08:21] mraible commented on #10539
Increasing the bounty since I'd love to see this happen!

[2020-10-08 08:22] mraible commented on #11780
Closing because @avdev4j is not comfortable with it.

[2020-10-08 08:22] #11780 closed

[2020-10-08 08:22] MathieuAA commented on #11591
Not really, there's always something coming and I don't have as much time as before :(

[2020-10-08 08:23] mraible commented on #11886
How do we fix this? Are there actionable issues we can work on to make this happen?

[2020-10-08 08:23] mraible commented on #11731
Any updates @atomfrede?

[2020-10-08 08:24] mraible commented on #9870
@MathieuAA You were interested in implementing this in January? Are you still interested? If not, I suggest we close this issue.

[2020-10-08 08:25] mraible commented on #10694
@Blackdread Any chance you can contribute a pull request to fix this? I've added a bug bounty for motivation. :)

[2020-10-08 08:27] mraible commented on #11591
@MathieuAA That's fair. I'll close it.

@Tcharl If you have a PR to fix, please re-open.

[2020-10-08 08:27] #11591 closed

[2020-10-08 08:28] mraible commented on #12441
@bmvermeer Cool! I'd be happy to help integrate it into the generator (or a blueprint).

[2020-10-08 08:28] yehudab opened #12682 "RTL: CSS Fine tuning is needed for all frameworks"
##### **Overview of the issue**

Some elements on the app are still not mirrored correctly. E.g., The `Development` ribbon stays on the left, while it should move to the right, etc.

##### **Motivation for or Use Case**

Better support for RTL languages

##### **Reproduce the error**

Create a jhipster app for angular/react/vue with support for an RTL language such as Arabic

##### **Related issue

[2020-10-08 08:29] mraible commented on #12138
@atomfrede Added a bug bounty for motivation. 😊

[2020-10-08 08:31] mraible commented on #11599
+1 for the workaround. It sucks, but it's often the best way. ☺️

[2020-10-08 08:43] mraible commented on #12232
Please create a pull request to fix, and then re-open this issue.

[2020-10-08 08:43] #12232 closed

[2020-10-08 08:44] mraible commented on #11896
@mshima It seems you re-opened this issue yesterday. Is there something else you need to fix?

[2020-10-08 08:45] mraible commented on #12657
Please create a PR to fix this issue. I can add a bug bounty if you need motivation. :)

[2020-10-08 08:46] mraible commented on #12262
@cbornet Any updates on this issue? Can we close it?

[2020-10-08 08:46] atomfrede commented on #12138
:+1: I think I have the code in jhipster lib somewhere at home, but didn't test it yet with a generated application.

[2020-10-08 08:47] mraible commented on #11748
It's been a month since this issue had any activity. I'm closing it. Please create a PR and re-open it if you have a solution.

[2020-10-08 08:47] #11748 closed

[2020-10-08 08:47] atomfrede commented on #11731
Sorry, totally forgot about this.

[2020-10-08 08:48] mraible commented on #11740
@ctamisier Can you create a PR to use the next release once it happens?

[2020-10-08 08:49] mraible commented on #12180
@gmarziou It seems the issue you mentioned is fixed. Can we close this issue?

[2020-10-08 08:49] mraible commented on #12163
Any updates @avdev4j?

[2020-10-08 08:50] ksilz commented on #11122
@DamnClin @pascalgrimaud @mraible Sorry for only chiming in now!

Here's how I structured my application with my first attempt at clean architecture. I the same set of folders, classes & interfaces in Java and Angular:
- In Java, I use the JHipster-generated classes as my "back-end": entities, DTOs, service classes, repositories.
- In Angular, I call my "clean REST API" through HTTP.

So here's wh

[2020-10-08 08:50] mraible commented on #12033
@cbornet Are you working on this? If not, maybe we should close it and you can re-open when you have the bandwidth to work on it.

[2020-10-08 08:50] cbornet commented on #12262
I've got something almost ready. Just need some time to finish it.

[2020-10-08 08:51] mraible commented on #11685
Since Pivotal Web Services is shutting down in Jan 2021, do we still need to be concerned about this?

[2020-10-08 08:54] avdev4j commented on #12163
Need to be done :D

[2020-10-08 08:55] cbornet commented on #12033
Yes we can close for now.
Just for info, there's currently a dedicated Springfox Docket for the API-first OAS : https://github.com/jhipster/generator-jhipster/blob/bfe31a7e96c84b05c923fa7ece6af9cc1fcbad50/generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs#L53

[2020-10-08 09:15] deepu105 commented on #12494
Ha ha, Matt, you should know that I have claimed the least bounties (thats my way of saying bounties doesn't motivate me) 😂😂 I believe @MathieuAA was already working on this 😉

[2020-10-08 09:18] deepu105 commented on #12495
Well its not really needed but good to have. But with JDL parser I believe its easier to generate this and I believe @MathieuAA wanted to do it but ya current way of updating file is also good enough.

[2020-10-08 09:20] deepu105 commented on #12388
@MathieuAA since the repo is already merged to master can we close this? Is there more work to do? i believe we need to figure out a release process for this

[2020-10-08 09:20] joewhite101 commented on #12072
@mraible yeah. I think the best thing would be to just merge the changes from the PRs i referenced into to the 6.x maintenance branches. I can cherry pick and create the PRs.

However, I have one question. What is the 6.x maintenance branch for https://github.com/jhipster/jhipster. Or is 6.x still on master for that? If it is still on master we don't need the first PR below and can just point to t

[2020-10-08 09:20] jdubois commented on #11685
Indeed, I believe we should remove them now... I'm lowering the bug bounty because that's easier than updating!

[2020-10-08 09:23] deepu105 commented on #12019
TBH I hate those terms as well and I like the way JHipster is but unfortunately lot of people (especially more experienced devs) keep complaining that we create too much code so any solution to reduce the amount of code we generate by default would be nice. Libs are obviously one way and so far no body complained when we moved stuff to libs, so may be we can move more to libs. Another way probably

[2020-10-08 09:53] mshima commented on #9486
@mraible yes, I will merge the pending PR and released this weekend.
@pascalgrimaud not sure if I can create the package at npm and then transfer the ownership to jhipster or someone should create it at jhipster org.

[2020-10-08 09:57] mshima commented on #12366
@mraible I created a PR to ignore jdl validation https://github.com/jhipster/generator-jhipster/pull/12439.
But it’s a workaround.
@MathieuAA was working to fix the jdl part.

[2020-10-08 10:02] mshima commented on #9870
At least we should implement annotations at application.
This issue have taken too long already, there is no way to add a custom config for blueprints.

[2020-10-08 10:10] mshima commented on #11896
@mraible the I reverted the PR for jhipster code due to a bug and to it don’t interfere at the work there.
The issue is https://github.com/tj/commander.js/issues/1343.
I have a branch ready based on commander 7, so I am waiting it to be released.

[2020-10-08 10:17] mshima commented on #12388
Those are just suggested to have a better integration between jdl and the generators.

[2020-10-08 10:17] #12388 closed

[2020-10-08 10:19] MathieuAA commented on #12366
I expect to do a PR this WE. It's working, just needs some tests.

[2020-10-08 10:23] arbyksh opened #12684 "Hi guys , it's possible to integration Quartz job as micro-service with jhipster ? Could you please provide a demo about it , i will be very thankful"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [ ] Checking this box is mandatory (thi

[2020-10-08 10:49] tillias commented on #12677
I have generated it from scratch and it seems font-src, style-src is not set:
[code]

[code]
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
##### **JHipster Version(s)**

[code]

[code]

[2020-10-08 10:52] tillias commented on #12657
Hi @mraible not needed, I really like jhipster as a very nice product and will check it this week

[2020-10-08 11:14] atomfrede commented on #12677
Thanks. As I said seems like a bug. It worked when we added the csp. Will take care of it.

[2020-10-08 11:44] cbornet commented on #12684
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-10-08 11:44] #12684 closed

[2020-10-08 11:53] amanganiello90 commented on #12668
Hi @Toysurusse, thanks for the interest!! But if the issue is related to NHipster, could you open this in the [related repo](https://github.com/jhipster/generator-jhipster-nodejs/issues)?
Thanks a lot.

@mraible could you remove the bug bounty tag here and add it in the new issue created?

[2020-10-08 11:55] tillias commented on #12676
Confirmed, works designed by jhipster-team

[2020-10-08 12:01] MathieuAA commented on #12494
I can't promise anything, based on my current unavailability to do stuff for JHipster... This issue is kinda easy to do.
The code already exists and there's no test to write, only to update.
I'll try to get it done this WE along with the user management stuff.

[2020-10-08 12:09] ghost opened #12685 "Add Enum JPA AttributeConverter for key value enumeration declared in jdl model"
##### **Overview of the feature request**

The jdl allows you to declare enum with only name or optional string values.
In the all cases the domain entity enum field is annotated with @Enumerated(EnumType.STRING), so the value saved on the sql database is the string enum name. It could be great to have a [converter](https://thorben-janssen.com/jpa-21-type-converter-better-way-to/) in order to writ

[2020-10-08 13:10] mikrethor commented on #12461
For me it should be reverted

[2020-10-08 14:05] AlexandreCassagne commented on #8242
@iroCheese I've also run through the same tutorial and implemented MFA this way. Perhaps we should start a blueprint/feature proposal for JHipster. It would be nice to get some "validation" that this was implemented properly

[2020-10-08 14:17] SudharakaP commented on #12665
I can take a look at this issue if no one is on it already. 😄

[2020-10-08 14:21] Rajpratik71 commented on #12675
Ok , Sure I will try to debug the issue , find the cause and will update here.

[2020-10-08 14:47] pascalgrimaud commented on #12665
yes plz, @SudharakaP

Here some very quick analyze:

- for JDLMs in GitHub Actions, the registry started at the same time than Keycloak, and Keycloak took approximatively 20sec to be "up", so the registry failed and is not up, so the other services can't start as the registry is not up

- once, this 1st bug is fixed, Cypress can't access to Keycloak for unknown reason -> I manage to reproduce the

[2020-10-08 15:23] mraible commented on #12668
@amanganiello90 I removed. Please let me know if there's a new issue to add it to.

[2020-10-08 15:29] mraible commented on #12072
That's a good question for @pascalgrimaud.

[2020-10-08 15:29] #12033 closed

[2020-10-08 15:35] atomfrede commented on #12677
I have used the current master and the csp seems correct. Will check the 6.10.3 release but the code has not changed.

Generated CSP:
[code]

[2020-10-08 15:38] khocef commented on #12666
@mraible  this worked for me

**index.html**
[code]

**SecurityConfiguration.java**

[code]

[2020-10-08 15:40] amanganiello90 commented on #12668
@Toysurusse your suggested PR is related only how the nodejs backend retrieve the blob? So the normal jhipster app does not have this issue? In this case you have to open an issue in the nhipster repository and fix the related template (if it is an angular template you have to overwrite the default jhipster adding the custom file in the https://github.com/jhipster/generator-jhipster-nodejs/tree/ma

[2020-10-08 15:40] atomfrede commented on #12666
Awesome, thats what I have to. PR will be there in next couple of minutes.

[2020-10-08 15:41] pascalgrimaud commented on #12072
We don't have v6 branch for jhipster lib, but we can create one, using the last tag release in jhipster/jhipster project
The master branch of jhipster lib is for v7 now

[2020-10-08 15:45] mraible opened #12686 "Add Okta support to Cypress tests"
##### **Overview of the feature request**

Our current Protractor tests support testing against Okta. Our Cypress tests should have the same ability. The major thing to make this happen is allowing `E2E_USERNAME` and `E2E_PASSWORD` to be read if they're set. Otherwise, default to `admin/admin` for Keycloak.

##### **Motivation for or Use Case**

I like to see if Okta works with the latest version

[2020-10-08 16:03] bmvermeer commented on #12441
@mraible https://snyk.io/blog/jhipster-security-scanning/

[2020-10-08 16:52] SudharakaP commented on #12665
@pascalgrimaud : Interestingly enough I think we didn't used to run the e2e tests when things were passing before; for example; https://github.com/hipster-labs/jhipster-daily-builds/runs/1127373854?check_suite_focus=true. Although just switching to Protractor and running the e2e seems to fix the issue; which probably means I think this is a mis-configuration in Cypress.

Run with Protractor in my

[2020-10-08 17:10] pascalgrimaud commented on #12072
I created v6.x_maintenance from 3.9.0 tag in jhipster lib project

[2020-10-08 17:21] DanielFran commented on #12072
@pascalgrimaud The branch should be name 3.9.x_maintenance instead of v6, no?

[2020-10-08 17:24] pascalgrimaud commented on #12072
indeed, I'm stupid :) can do you it ? it was a pain with phone... otherwise, I'll do it tomorrow

[2020-10-08 17:32] pascalgrimaud commented on #12665
@SudharakaP : yes, it's related to Cypress, as it works approximatively well with protractor (but with some random failures)

[2020-10-08 17:39] atomfrede commented on #12138
Indeed, I have found the code. Will try to test it today.

[2020-10-08 18:58] atomfrede commented on #12138
@mraible Now I remember my problem I discovered. Do we use undertow for reactive option at all? Aren't we using netty?

[2020-10-08 19:08] #12553 closed

[2020-10-08 19:58] murdos commented on #11542
@mraible : as far as I can tell, this ticket should be closed as resolved, since https://github.com/jhipster/generator-jhipster/pull/11742 has been merged.

[2020-10-08 20:52] atomfrede commented on #12640
@mraible Blog and Store should compile (maybe you can check?) but I have test errors (404 when using patch).

[2020-10-08 21:47] mraible commented on #12640
I tried creating everything again and the same compilation errors from above still happen on Blog and Store. It's possible I didn't have the registry running and that's why it didn't start before. I did have to start it a couple of times before it'd stay up, so thanks for that. Now I get the following error in the gateway:

[code]

[2020-10-08 21:52] mraible commented on #11542
Fixed by https://github.com/jhipster/generator-jhipster/pull/11742. I'm not sure how to do the bug bounty payout. Maybe @pascalgrimaud can help?

[2020-10-08 21:52] #11542 closed

[2020-10-08 21:56] mraible commented on #12138
From https://docs.spring.io/spring-framework/docs/current/spring-framework-reference/web-reactive.html#webflux-server-choice:

[2020-10-08 22:41] gzsombor commented on #11542
Yes, sorry, the code has been merged, but there are a couple of open issues, in decreasing importance:
* filtering is not implemented
* the generated code is still more complex, and need more maintenance, then I would like to have. If someone adds a new column to an entity - they need to change a couple of things: add it into the mapper class, the repository impl class, and to the sql helper class

[2020-10-09 01:56] mleewhite commented on #2604
An alternate port can be configured in postgresql.yml with:

 - PGPORT=<port number>

[2020-10-09 04:36] atomfrede commented on #12138
We are using netty with webflux instead of undertow as far as I can tell.

[2020-10-09 04:39] atomfrede commented on #12640
The h2 problem I also realized. I think there was a similar problem once on the micronaut blueprint. Will have a look. Regarding the compilation errors are you sure you have used this branch to generate again?

[2020-10-09 05:13] pascalgrimaud commented on #11542
@mraible : as far as I can understand, the work was done mainly by @gzsombor with the 86 commits so the full bounty is for him, and well deserved
if other people participated, just tell us, and we'll see what we can do

[2020-10-09 05:49] atomfrede commented on #12640
The correct r2dbc url looks like this `url: r2dbc:h2:file://././target/h2db/db/reactiveundertow;DB_CLOSE_DELAY=-1`, see https://github.com/r2dbc/r2dbc-h2 and https://github.com/r2dbc/r2dbc-h2/issues/150.

[2020-10-09 05:59] pascalgrimaud commented on #12072
@joewhite101 : I created this branch in [jhipster/jhipster](https://github.com/jhipster/jhipster) project -> https://github.com/jhipster/jhipster/tree/3.9.x_maintenance

But one important thing: the PR https://github.com/jhipster/jhipster/pull/764 can't be merged into 3.9.x_maintenance as it contains some breaking changes. As you mentioned, only dependencies should be updated

[2020-10-09 06:03] #12666 closed

[2020-10-09 06:05] pascalgrimaud commented on #9486
@mshima : I need to have a look how to do it, I don't remember well how works the organization in NPM :)

[2020-10-09 07:23] maznag commented on #11257
https://github.com/jhipster/generator-jhipster/pull/11926

[2020-10-09 07:43] nassimerrahoui commented on #12665
@pascalgrimaud @SudharakaP : I looked a little at each of them, we use a request to connect to keycloak with Cypress ([keycloak commands here](https://github.com/nassimerrahoui/generator-jhipster/blob/master/generators/cypress/templates/src/test/javascript/cypress/support/keycloak-oauth2.ts.ejs)) and we use UI with Protractor ([Angular Example](https://github.com/nassimerrahoui/generator-jhipster/

[2020-10-09 07:49] #12138 closed

[2020-10-09 07:55] nassimerrahoui commented on #12665
We can save Cypress screenshots of the daily builds with something like this :

[code]

[2020-10-09 10:40] FabienEssid commented on #12575
We have implemented DayJs in the generator.
We're starting to find all the use cases where a date is used to test the new solution :slightly_smiling_face:

[2020-10-09 10:52] mshima opened #12693 "Implement cache at github actions."
##### **Overview of the feature request**

Add npm, maven, gradle, cypress caching to worflows.

##### **Motivation for or Use Case**

May prevent network random failures.

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-10-09 11:18] mshima opened #12694 "Implement stale workflow."
##### **Overview of the feature request**

Implement https://github.com/actions/stale.
Proposed configuration:
[code]

##### **Motivation for or Use Case**

Implement stale workflow to keep open issues/PRs on flux.

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-10-09 12:08] pascalgrimaud commented on #12694
+1 !

[2020-10-09 12:09] pascalgrimaud commented on #12693
I started study it, but I don't find enough information about matrix caches.

[2020-10-09 12:31] qlereboursBS commented on #12575
Functionnal usages (checked if tested):

- [ ] `core.module.ts.ejs`: Only for Angular, aims to set the datePicker's config (`NgbDatepickerConfig`), to set minDate at -100 years from today

- [ ] `date-utils.ts.ejs#convertDateTimeFromServer`: Only for React, aims to convert a date from server to the client
- [ ] `date-utils.ts.ejs#convertDateTimeToServer`: Only for React, aims to convert a date fro

[2020-10-09 12:41] yelhouti commented on #11760
@mraible I don't think we will discuss it much if it stays closed :p

[2020-10-09 12:55] MK-2001 opened #12695 "Missing License on jhipster / jhipster-sample-app"
##### **Overview of the issue**

To use the code in my projects, I need the information to the underling license.
Please add a LICENSE.md into the REPO jhipster/jhipster-sample-app.

##### **Motivation for or Use Case**

No usage allowed without license information

##### **Suggest a Fix**

Please add a LICENSE.md into the REPO jhipster/jhipster-sample-app.

##### **JHipster Version(s)**

jhipster

[2020-10-09 13:53] mshima commented on #11760
@yelhouti I think it will be accepted if you implement it, no core member were against this proposal.
Otherwise we should keep closed to let the active contributors focused on bugs.
Once you start working on this, let us know so we can reopen.

[2020-10-09 13:55] mshima commented on #12251
@pascalgrimaud @DanielFran, I prefer using snapshots instead of building each time.
But we should close this if you prefer to keep current workflow.

[2020-10-09 14:17] mshima opened #12696 "Implement entities generator."
##### **Overview of the feature request**

Implement entities generator that will be responsible to prepare entities.

- Creating an app `jhipster --with-entities`:
  - app -> entities -> entity (*)

- Updating an entity (foo) using prompt `jhipster entity foo`:
  - entity (foo) -> entities -> entity (* except foo)

- Updating entities using jdl:
  - entities -> entity (*)

##### **Motivation for

[2020-10-09 14:20] mshima commented on #7112
IMO this should be implemented in 3 tasks:
- Entities generator https://github.com/jhipster/generator-jhipster/issues/12696
- Configurable single key.
- Composite key.

[2020-10-09 14:35] Tcharl commented on #12497
Should we include this in the main generator?
I think this deserves a specific branch done collaboratively: I won't be able to implement everything by myself (for example, I don't know the vue and the react part at all).
On my backlog, I've planned to achieve #12080 first because it covers the major painpoint, then this one

[2020-10-09 14:40] murdos commented on #12693
It was on my radar too 😄

[2020-10-09 14:45] pascalgrimaud commented on #12693
we have a lot of parallel builds, and we have 5gb to store cache.
I think it can be a problem

[2020-10-09 14:46] mshima commented on #12339
@mraible label needs-discussion is applied so this will not happen until we discuss. 😄
We should discuss or close, current arguments are:

Pros:
- Cool for demo.
- maybe useful for real uses (depend on developer workflow).

Cons:
- maybe not useful for real uses (depend on developer workflow).

[2020-10-09 14:48] mshima commented on #12693
Cache doesn't count. Only upload-artifact action like cypress screenshots.
I will create a PR.

[2020-10-09 15:01] mshima commented on #12497
@Tcharl do you want to merge https://github.com/jhipster/generator-jhipster/pull/12521?
We can merge it, it's only missing to add dependencies, and revert when I release yeoman-environment 3.0.
About yeoman-environment 3.0:
- jhipster 7 is more than 1 month away. I don't have hurry to release it.
- I have a proposal for npm 7, if accepted, I plan to integrate before releasing.
- .yo-resolve will h

[2020-10-09 15:04] vishal423 opened #12697 "Provide extensibility to use other frontend module bundler"
##### **Overview of the feature request**

Currently, in all frontend framework implementations (`react`, `vue`, `angular`), `webpack` is used as a module bundler and the bundler name (webpack) is hard-coded in all scripts (including server side, CI). It leaves little option as blueprint authors to try other module bundlers like `rollup` and `parcel`.

I suggest to externalize the module bundler n

[2020-10-09 15:20] SudharakaP commented on #12665
@nassimerrahoui : Thanks for the tips. I tried changing the `auth_base_url` to `http://keycloak:9080/auth` but Cypress still wasn't able to connect I think. 🤔

[2020-10-09 15:23] #12682 closed

[2020-10-09 15:28] pascalgrimaud commented on #12665
same @SudharakaP
My tests locally :
- manually : I can login with http://keycloak:9080
- Cypress: I can't login

[2020-10-09 15:28] yelhouti commented on #7112
@mshima all are implemented here:
https://www.npmjs.com/package/generator-jhipster-composite-key-server
I just need to find few days to merge and clean

[2020-10-09 15:40] SudharakaP commented on #12665
My guess is we are hitting this; https://github.com/cypress-io/cypress/issues/944

[2020-10-09 15:42] neokeld opened #12699 "JHipster with Keycloak with HTTPS"
##### **Overview of the issue**

Trying to use JHipster with Angular/Spring Boot, with Keycloak with https activated, i have this stack trace:
_Caused by: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
	at java.base/sun.security.validator.PKIXValidator.doBu

[2020-10-09 15:43] neokeld opened #12700 "JHipster with Keycloak with HTTPS issue"
##### **Overview of the issue**

Trying to use JHipster with Angular/Spring Boot, with Keycloak with https activated, i have this stack trace:
_Caused by: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
	at java.base/sun.security.validator.PKIXValidator.doBu

[2020-10-09 15:44] neokeld commented on #12700
add participant @Ajrarn24

[2020-10-09 16:11] Tcharl commented on #12497
@mshima yes please I would be very glad to see it in the current patch release.

What about simplifying the usage:
- jhipsterignore will just ignore file
- yo-resolve will let the user choose between erase, merge or ignore.

So that both files will stay relevant even after the yeoman upgrade

[2020-10-09 16:12] mshima opened #12702 "Hexagonal architecture friendly."
##### **Overview of the feature request**

This issue is to track hexagonal architecture related issues and keep references.
If any core contributor thinks this should not happen, please manifest.

Update the issue description instead of adding new comment for new references.

Discussion on this issue will be locked.

##### **Motivation for or Use Case**

Following some principles of hexagonal arc

[2020-10-09 16:24] mshima commented on #12497
I am against jhipsterignore, because of the reasons I explained in the issue, like this will not work for modules.

[2020-10-09 16:39] pascalgrimaud commented on #12682
@yehudab : approved

[2020-10-09 17:08] #12694 closed

[2020-10-09 18:12] atomfrede commented on #12699
Duplicate of #12700

[2020-10-09 18:12] #12699 closed

[2020-10-09 18:50] #12080 closed

[2020-10-09 20:45] MathieuAA commented on #12366
Done.

[2020-10-09 20:48] MathieuAA commented on #12494
The user management stuff has a PR, I'm working on this one.

[2020-10-10 06:45] pascalgrimaud commented on #11542
@gzsombor : approved

[2020-10-10 06:49] pascalgrimaud commented on #12374
important to have

[2020-10-10 07:23] pascalgrimaud commented on #12702
@mshima : any specific reason to lock the thread to collaborators ?

[2020-10-10 08:07] joewhite101 commented on #12072
Makes sense. I'll see if I can get the right bits in place to resolve that error.

[2020-10-10 08:20] MathieuAA commented on #11589
Is it sill something we wanna do for v7?

[2020-10-10 08:24] pascalgrimaud commented on #12072
Ok @joewhite101 : so I'm waiting your PR before doing a new patch release of JHipster v6.10.4, with a new release of jhipster lib dependencies

[2020-10-10 08:50] pascalgrimaud commented on #11589
I afraid it will be a lot of work... for giving less choice to the user

#### 1st suggestion

Remove:
- No, the REST controller should use the repository directly

And keep only:
- Yes, generate a separate service class -> removed
- Yes, generate a separate service interface and implementation

with DTO as mandatory

#### 2nd suggestion

Keep:
- No, the REST controller should use the repository di

[2020-10-10 08:50] joewhite101 commented on #12072
Sounds good. Working on it today.

I'm going to change the version in my PR to 3.9.1-SNAPSHOT and update generator-jhipster to point to the same. The 6.10.x maintenance branch is pointed to 3.10.0-SNAPSHOT which I assume is the working version for 7.x.

As you pointed out we can't merge those PRs but hopefully it is just a matter of syncing up the springfox versions.

[2020-10-10 08:59] pascalgrimaud commented on #12072
Yes, in jhipster/jhipster, you can use this script: https://github.com/jhipster/jhipster/blob/master/jhipster-version.sh

Yes, you need to change these line to value `3.9.x_maintenance` :
- https://github.com/jhipster/generator-jhipster/blob/v6.x_maintenance/.github/workflows/angular.yml#L32
- https://github.com/jhipster/generator-jhipster/blob/v6.x_maintenance/.github/workflows/react.yml#L32
- ht

[2020-10-10 09:00] pascalgrimaud commented on #11658
remove 'stale', as self-assigned by @SudharakaP

[2020-10-10 09:06] MathieuAA commented on #11589
This is how the JDL parsing system does it: if the `dto` or `filter` options are present, it will also add the `service` (with a class) option

So this issue is like the the other side of the same coin: "merging" dto and service (and filtering).
JDL-wise, this can easily be done, but it should also be implemented in the generator so as to avoid issues like "the JDL and the generator don't generate

[2020-10-10 09:07] pascalgrimaud commented on #11935
We should wait for patch release v6.10.4 before doing this too
Then, we can start with small repositories before doing the main repository

[2020-10-10 09:09] pascalgrimaud commented on #11589
Agree, so let's remove this for v7
@Tcharl : don't hesitate to comment if you disagree :)

[2020-10-10 09:13] pascalgrimaud commented on #12700
Honestly, I don't know how to answer to you, as it's not a JHipster bug.
It's related to how you installed and configured your certificates.
For my customer, we installed appropriate certificates it and everything works well:
- Keycloak with https
- Gateway with https

[2020-10-10 09:17] pascalgrimaud commented on #12163
@avdev4j @PierreBesson @nassimerrahoui @adilabed :
we need to find a stream lead for JHipster Control Center too, otherwise, it will become an unused / dead project...

[2020-10-10 09:22] pascalgrimaud commented on #12511
@mraible : IMO, the best is to use docker-compose sub generator. It's here for that.

[2020-10-10 09:29] pascalgrimaud commented on #12697
feel free to refactorize this part @vishal423 if it can help for your blueprint

[2020-10-10 09:31] pascalgrimaud commented on #12695
Agree with you.
This project is automatically generated when doing a release, and currently, we don't have option to add default license. That's the reason why it's missing

[2020-10-10 09:55] mshima commented on #12702
I want to create a separated issue for each subject and discuss there.

[2020-10-10 09:57] pascalgrimaud commented on #12702
In the ream, only @hdurix, you and I have interest on this. That's why I'd prefer to open the discussion to all users :)

[2020-10-10 09:58] #12693 closed

[2020-10-10 10:03] mshima commented on #12702
@pascalgrimaud not sure this is true, most of the members aren’t interested in DDD. Hexagonal is a different discussion.
But feel free to open, I just think this is too big for one issue.

[2020-10-10 10:57] neokeld commented on #12700
Ok no problem :-) Thanks a lot !
When you say "appropriate certificates", is it the generated Keycloak certificate or your organisation certificate ?
And is it in the truststore of the JVM of your client application ?
Thank you very much, these are my last questions, I promise :-D

[2020-10-10 11:06] mshima opened #12707 "Change current DTO implementation"
##### **Overview of the feature request**

Current DTO implementation flattens id and label from a child to its parent when relationship is `one-to-one`.
IMO we should keep hierarchical implementation for consistency.

##### **Motivation for or Use Case**

Flattening relationships makes templates more complicated.
I don't see benefits to flattened relationship.

##### **Related issues or PR**

-

[2020-10-10 11:23] MathieuAA commented on #12494
@deepu105 I'm gonna implement like this:
[code]
The difference here is that `entities` isn't an object containing the entity list, but an array of entity names.
Is it okay for you?

[2020-10-10 12:07] joewhite101 commented on #12611
This is related to https://github.com/jhipster/generator-jhipster/issues/12072

And should be resolved by the same fix. You can assign to me.

[2020-10-10 12:56] pascalgrimaud commented on #12611
closing as duplicate, and delete the bounty as there is an already one, in the other ticket

[2020-10-10 12:56] #12611 closed

[2020-10-10 14:05] joewhite101 commented on #12072
I've made the changes for this but they need a strong sanity check.

The underlying issue here is that the generator-jhipster depends on 3.0.0-SNAPSHOT of springfox and the jhipster project depends on 2.9.2. At some point in the lead-up to the official release of their 3.0.0 release the SNAPSHOT springfox became not compatible the 2.9.2 version which leads to the error above as well as the NoClass

[2020-10-10 14:26] Ajrarn24 commented on #12700
Hello @pascalgrimaud
Thanks for your answer.
You're certainly right that it is not a JHipster bug.
I have asked a question on stakeoverflow with description of what we've tried to do (with no success (^_^)).
[https://stackoverflow.com/questions/64294423/communication-issue-between-spring-boot-application-jhipster-and-keycloak-thro](url)
Would be really cool and appreciated if you have time to have

[2020-10-10 14:51] joewhite101 commented on #12072
After thinking about it trying to move this forward to 3.0.0 is probably too invasive for a minor release.  I'll go back and work on seeing if I can get the reactive version to work with 2.10.5.

I'll close those PRs.

[2020-10-10 14:57] Faelivrinx commented on #12274
@mraible I've checked with version 6.10.3 and still the same problem

[2020-10-10 15:16] SudharakaP commented on #11935
I'll do this in jhipster-online after v6.10.4 is released (and end of year) and maybe we can use that as a test run to see if everything works correctly. 😄

Refer:  https://github.com/jhipster/jhipster-online/issues/246

[2020-10-10 15:25] pascalgrimaud commented on #12700
For production, the certificates comes from the organization, not the generated ones.

For development, we use http, not https, as all our stack works locally, using docker-compose. It's the default configuration from JHipster.

I'll have a look at your question at stackoverflow, if I have some additional answer, I'll post there.

[2020-10-10 16:36] Ajrarn24 commented on #12700
Thanks !
Have a great WE !

[2020-10-10 18:41] deepu105 commented on #12494
Yup. Works for me. I guess this will be a major version then

On Sat, 10 Oct 2020, 1:23 pm Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2020-10-10 20:16] MathieuAA commented on #12494
Yup. I'll apply the changes to JCore tomorrow and release a major version

[2020-10-11 03:08] mraible opened #12712 "Upgrade to webpack 5"
##### **Overview of the feature request**

Released today! https://twitter.com/thelarkinn/status/1315062117221851136?s=21

##### **Motivation for or Use Case**

It will make micro frontends easier to implement.

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-10-11 07:11] yelhouti commented on #7112
Edit: I finally managed to get some work done, I think it's the hardest part, the rest is simple migration and renaming. I hope to finish by the end of next week

[2020-10-11 08:48] hosijj commented on #1891
Thank you for sharing. It survived me!

[2020-10-11 09:19] pascalgrimaud commented on #11935
Done for jhipster-devbox:
- https://github.com/jhipster/jhipster-devbox/issues/123
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 09:20] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/react-jhipster
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 09:22] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/ng-jhipster
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 09:29] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-registry
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 09:41] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-control-center
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 11:11] ascelineboullen commented on #12487
I just openned a PR,
https://github.com/jhipster/jhipster-artwork/pull/9
If everything it's ok for you, about process, about format, about resolution, etc, I will open other PR, because I working on differents members family proposals :D @mraible @pascalgrimaud

[2020-10-11 11:58] jdubois commented on #12487
It looks really cool!

[2020-10-11 12:43] joewhite101 commented on #12072
Created a new PR to get the springfox versions in sync for jhipster-dependencies and for a reactive app.
https://github.com/jhipster/generator-jhipster/pull/12716

The PR above resolves the startup issues in the two tickets. The only downside is that the API docs don't render inside the application. As far as I can tell there is no compatible webflux springfox with the 2.x jars. Everything recomme

[2020-10-11 12:57] pascalgrimaud commented on #12487
love it ! <3

[2020-10-11 13:09] deepu105 commented on #12487
Pr merged. @ascelineboullen plz claim the bounty

[2020-10-11 13:26] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/generator-jhipster-module
- create branch main from master
- protect main
- edit existing pull requests
- some updates : https://github.com/jhipster/generator-jhipster-module/pull/138

[2020-10-11 13:56] mshima commented on #12072
IMO there are 3 options:
- Current PR, fixes the build, but kind of disable springfox for reactive.
- Create a jhipster-lib with springfox3 exclusive for reactive.
- Update to springfox3 and release jhipster as 6.11.0.

[2020-10-11 14:14] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/generator-jhipster-blueprint
- create branch main from master
- protect main
- edit existing pull requests
- some updates: https://github.com/jhipster/generator-jhipster-blueprint/pull/156

[2020-10-11 14:19] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-registry-sample-config
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 14:26] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/consul-config-loader
- create branch main from master
- protect main
- edit existing pull requests
- some updates: https://github.com/jhipster/consul-config-loader/pull/28

[2020-10-11 14:30] pascalgrimaud commented on #12487
@deepu105 : I think there are some new artworks soon too ;)

[2020-10-11 14:37] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-artwork
- create branch main from master
- protect main
- edit existing pull requests
- some updates: https://github.com/jhipster/jhipster-artwork/pull/10

[2020-10-11 14:53] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-fisher-plugin
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 14:57] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-oh-my-zsh-plugin
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 15:01] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jdl-samples
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 15:06] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-base
- create branch main from master
- protect main
- edit existing pull requests
- some updates: https://github.com/jhipster/jhipster-base/pull/18

[2020-10-11 15:11] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-guides
- create branch main from master
- protect main
- edit existing pull requests
- some updates: https://github.com/jhipster/jhipster-guides/pull/31

[2020-10-11 15:20] deepu105 commented on #11935
I thought we were gonna wait for GitHub to support this

[2020-10-11 15:21] pascalgrimaud commented on #11935
I had some time this afternoon, looking the Roland Garros final :tennis: :-)

[2020-10-11 15:22] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/eslint-config-jhipster
- create branch main from master
- protect main
- edit existing pull requests
- some updates: https://github.com/jhipster/eslint-config-jhipster/pull/7

[2020-10-11 15:43] mraible commented on #11935
Does the rename for JDL-samples require code changes since the `JDL` command reads from it?

[2020-10-11 15:45] pascalgrimaud commented on #11935
yes probably @mraible but I didn't delete master branch so it should still work for now
I didn't start the work yet for generator-jhipster, it will be the 'final boss'

[2020-10-11 15:45] mraible commented on #12072
I did the work to integrate Spring Fox 3.0 for reactive. Did something break with its 3.0 release?

[2020-10-11 15:51] DanielFran commented on #12461
@pascalgrimaud If you agree then we should revert it.
Thanks

[2020-10-11 15:53] pascalgrimaud commented on #12461
Yes, agree @DanielFran
as these warnings doesn't come from our side, it's better to let like this, as suggested by @mikrethor

[2020-10-11 16:39] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster-automated-samples
- create branch main from master
- protect main

Done for all the samples too:
https://github.com/jhipster/jhipster-sample-app
https://github.com/jhipster/jhipster-sample-app-react
https://github.com/jhipster/jhipster-sample-app-gradle
https://github.com/jhipster/jhipster-sample-app-mongodb
https://github.com/jhipster/jhipster-sample-

[2020-10-11 16:44] #12461 closed

[2020-10-11 16:56] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster.github.io
- create branch main from master
- protect main
- edit existing pull requests
- some updates: https://github.com/jhipster/jhipster.github.io/pull/1021

[2020-10-11 17:06] pascalgrimaud commented on #11935
Done for https://github.com/jhipster/jhipster (cc @DanielFran)
- create branch main from master
- protect main
- edit existing pull requests
- some updates: https://github.com/jhipster/jhipster/pull/879

[2020-10-11 17:49] qmonmert commented on #12714
PR on https://github.com/jhipster/react-jhipster/pull/57

[2020-10-11 19:04] pascalgrimaud commented on #12714
thanks @qmonmert

[2020-10-11 19:04] #12714 closed

[2020-10-11 19:49] joewhite101 commented on #12072
@mraible Yeah, things broke with the 3.0 release and with later versions of the 3.0.0-SNAPSHOT.

We were referencing 3.0.0-SNAPSHOT from springfox for reactive. That version from springfox was fixed for a long time (~2018) but as springfox  moved towards a formal 3.0 release the SNAPSHOT moved.

For option 1 (Current PR, fixes the build, but kind of disable springfox for reactive.) we have the cur

[2020-10-11 19:57] pascalgrimaud commented on #11935
In progress for https://github.com/jhipster/generator-jhipster
- [x] create branch main from master
- [x] protect main
- [ ] edit existing pull requests
- [ ] som updates: https://github.com/jhipster/generator-jhipster/pull/12718
- [ ] change main as default branch

[2020-10-11 20:11] pascalgrimaud commented on #12487
Thanks @ascelineboullen for the new artwork ! +1 from me
I'll let another team member to check too and validate :)

[2020-10-11 22:57] murdos commented on #11599
I've a branch for re-enabling BlockHound with some white-listing: https://github.com/murdos/generator-jhipster/tree/enable-blockhound

I'll wait for webflux builds to be fixed (probably with https://github.com/jhipster/generator-jhipster/pull/12688) to be able to do more tests and create the PR.

[2020-10-12 07:26] pascalgrimaud commented on #11935
These repos needs to be changed too:

## prettier-java
cc @clementdessoude
- https://github.com/jhipster/prettier-java

## svelte
cc @vishal423
- https://github.com/jhipster/generator-jhipster-svelte

## dotnet
cc @nicolas63 @danielpetisme
- https://github.com/jhipster/jhipster-dotnetcore
- https://github.com/jhipster/jhipster-net
- https://github.com/jhipster/jhipster-sample-app-dotnetcore
- http

[2020-10-12 07:43] jdubois commented on #11935
Thank you so much for your hard work @pascalgrimaud

[2020-10-12 07:51] avdev4j commented on #11935
I take those from Quarkus.

[2020-10-12 08:00] amanganiello90 commented on #11935
Yes, I done for :

- https://github.com/jhipster/jhipster-sample-app-nodejs
-  https://github.com/jhipster/jhipster-sample-app-nodejs-oauth2
-  https://github.com/jhipster/generator-jhipster-nodejs

But I haven't settings permissions for the last in order to change the default.

@deepu105 Could you help me?

[2020-10-12 08:02] pascalgrimaud commented on #11935
@amanganiello90 : I added you as admin for the repo https://github.com/jhipster/generator-jhipster-nodejs

[2020-10-12 09:05] deepu105 commented on #11935
I'll update the Go repos. JDL studio doesn't need to change as it doesn't have a master branch and src contains source and gh-pages contain the build

[2020-10-12 09:23] yazriel opened #12729 "websocket Track Users works very partially - only after F5 and only for ADMIN_ROLE and the page name is not shown"
The generated  app has a new websocket feature demonstrated by the "Track Users" options in the Admin menu.
When new users login to the web app, they are not shown in the "Track Users" screen.

The only way to see a new user is:
create a new user2.
make user2 ADMIN_ROLE,
login user2.
go to any entity
press F5
user2 is now shown in the Tracker page, but still without the page name

##### **Reproduc

[2020-10-12 11:39] Mady-Camara commented on #2289
it's possible to use ./mvnw liquibase:diff with database h2?

[2020-10-12 12:59] amanganiello90 commented on #12685
If we want, I can develop this feature.

[2020-10-12 13:36] qmonmert commented on #12714
@pascalgrimaud ;)

[2020-10-12 16:32] mraible commented on #11935
I updated generator-jhipster-ionic to use main as the default branch.

https://github.com/oktadeveloper/generator-jhipster-ionic <https://github.com/oktadeveloper/generator-jhipster-ionic>

[2020-10-12 17:56] mraible commented on #12712
I don't think this will be easy, so I'm assigning a bug bounty to this. I can increase the amount if requested.

[2020-10-12 19:50] atomfrede opened #12730 "Relationship issues with webflux"
##### **Overview of the issue**

Follow up of the findings in https://github.com/jhipster/generator-jhipster/pull/12688

##### **Motivation for or Use Case**

PSQL webflux sample does not compile and has errors when using webflux.

##### **Reproduce the error**

Generate a minimal PSQL sample as we have in our ci tests

##### **Related issues**

* https://github.com/jhipster/generator-jhipster/iss