[2019-09-16 13:04] vwiencek commented on #10422
I’ve hoped for years that I won’t have to use maven at all but let’s face it .... I need to look at it :-)

[2019-09-16 13:12] atomfrede commented on #10422
I can look into it if you like. So go ahead with the pr for Gradle and we can discuss all other changes there

[2019-09-16 13:26] atomfrede commented on #10422
It looks like the same naming in the maven plugin https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#extended-usage

[2019-09-16 14:49] JLLeitschuh commented on #10401
@jdubois As I suspected it would, this vulnerability was given a CVSSv3 score of [9.8/10](https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?name=CVE-2019-16303&vector=AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H&version=3.1)

https://nvd.nist.gov/vuln/detail/CVE-2019-16303

[2019-09-16 15:08] pascalgrimaud commented on #10424
Yes, it should go to stackoverflow, as it is not related to JHipster

[2019-09-16 15:08] pascalgrimaud commented on #10424
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-09-16 15:08] #10424 closed

[2019-09-16 15:47] JLLeitschuh commented on #10401
@jdubois Your organization has an email address for every single company that has publicly stated that they are using JHipster as indicated by your form.

<img width="643" alt="Screen Shot 2019-09-16 at 11 41 31 AM" src="https://user-images.githubusercontent.com/1323708/64972380-30073f80-d877-11e9-8714-1874b898d546.png">

I advise that you take advantage of having this list of contacts and reach o

[2019-09-16 15:57] jdubois commented on #10401
Indeed, I also have the emails of more than 30,000 users who registered to https://start.jhipster.tech

Then, none of those persons have given us the right to mass-email them, even for their own good, so I'm not sure what is the right thing to do here

[2019-09-16 16:22] anthony-o opened #10425 "Cannot use User relationship when skipUserManagement is true"
##### **Overview of the issue**

When I skip the user management when generating my JHipster app, I cannot use entities that have relationship with JHipster User entity.

##### **Motivation for or Use Case**

I would like to be able to have relationship with User entity and my entities even if I don't want any user management genration.

##### **Reproduce the error**

[code]

The error when runnin

[2019-09-16 16:43] pascalgrimaud commented on #10425
Have a look at our documentation at https://www.jhipster.tech/creating-an-app/

So the behavior here is normal. You can't have a relationship with user, if you decided to skip it at generation.

But what you want is to generate the user management in backend but not in frontend right ?
It is not an option we can support, as it will increase a lot of additional configuration.

[2019-09-16 16:47] pascalgrimaud commented on #10415
@murdos : I merged your other PR in generator-jhipster-blueprint. Is there still something to do in the main generator-jhipster ? Or can it be closed ?

[2019-09-16 16:51] chanseokoh commented on #10362
I don't think this is any way close to being standard.

[2019-09-16 16:59] SudharakaP commented on #10362
@chanseokoh : Thanks for your input; could you please elaborate what it is when it comes to deploying spring boot applications in GAE? As per the following documents it says it can support thin jars but doesn't say exactly which method to use (maybe I missed it, correct me if I am wrong);

https://cloud.google.com/appengine/docs/standard/java11/runtime#application_startup

[2019-09-16 17:06] SudharakaP commented on #10362
As per my discussion in https://github.com/GoogleCloudPlatform/app-maven-plugin/issues/399 we need to change this approach. I will refactor the current pull request soon. 😄

[2019-09-16 17:20] ludoch commented on #10362
You could read https://github.com/ludoch/samples/blob/f4fcfb6ea1c7bc5bc37c36307e1c91a38f2445ff/java11/springboot/pom.xml
It does 2 things:
1/ explode the fatjar in an area
2/ delete the jar itself using a hack (I would love a better official way) by forcing a useless <artifact> param in tbe plugin pom section so that the fatjar is not used in the final staging area... See line 57...

[2019-09-16 17:28] mraible commented on #10425
I would recommend generating your app with user management enabled, then simply delete the user-related UI files (+ tests), routes, and menu items. Should only take a few minutes.

[2019-09-16 17:31] mohamedzaki90 opened #10427 "Error setting up or running Liquibase: javax.persistence.PersistenceException"
##### **Overview of the issue**

I got the following error while running liquibase:diff after upgrading to 6.3.0
Error setting up or running Liquibase: javax.persistence.PersistenceException: Unable to resolve persistence unit root URL: class path resource [] cannot
 be resolved to URL because it does not exist.

This happens specifically in liquibase-core-363 CommandLineUtils.java L97

`Database

[2019-09-16 17:35] SudharakaP commented on #10362
@ludoch : My discussion in the other thread; specifically the following comment;

https://github.com/GoogleCloudPlatform/app-maven-plugin/issues/399#issuecomment-531856776

will enable to not use the fat jar approach at all I believe. Let me know if you agree. 😄

[2019-09-16 18:06] SudharakaP commented on #10362
@ludoch : Sorry, I misunderstood you there; yes hack is still needed to remove the fatjar. 👍

[2019-09-16 18:09] JLLeitschuh commented on #10401
I have a friend with some legal experience in this space that I've reached out to for their opinion on this.

You could also try asking the EFF.

[2019-09-16 18:31] murdos commented on #10415
Yes, there's still the check to implement in the main generator-jhipster. I link the issue in generator-jhipster-blueprint here to illustrate how bad practice it is to use a non fixed version (generated blueprints previously used something like `">=6.1.0"`

[2019-09-16 18:36] murdos commented on #10425
I think it's related to https://github.com/jhipster/jhipster-core/pull/278 : I fixed something in jdl-core, but it was not enough.
Since I had to do things differently for work, I never had the need again, and thus never investigate more.

[2019-09-16 19:18] atomfrede commented on #10422
Closed via #10426

[2019-09-16 19:18] #10422 closed

[2019-09-17 01:24] SudharakaP commented on #10362
I've made some changes to the pull request with ludoch's workaround for removing the original jar and I think we are good to go with this. :smile:

[2019-09-17 03:30] Blackdread commented on #10418
I usually have a public static method that returns Instant.now() in a util final class.
In tests I provide as well a public static method to force the date returned by the previous method.
But can also inject a service that gives Instant.
Only difference is you do not need to inject when using the static way.

[2019-09-17 04:01] wenbin9 opened #10432 "After jHipster enable csrf protection sometimes meet error 403(forbidden)"
Hi jHipster,

     I  enable csrf protection in jhipster-sample-app(v6.12), when operate on page send put, post request often meet error code: 403. **The cause is X-XSRF-TOKEN in  header and cookie is different.**  Refer to attactment. Can you help with it?

![image](https://user-images.githubusercontent.com/43366674/65010504-a58c1200-d942-11e9-8efd-f25ed3bd02ee.png)

X-XSRF-TOKEN in  header and c

[2019-09-17 04:03] wenbin9 commented on #10432
This is my SecurityConfiguration enable csrf:
![image](https://user-images.githubusercontent.com/43366674/65010644-18958880-d943-11e9-9ea7-24593f496133.png)

[2019-09-17 04:43] pascalgrimaud commented on #10427
@mohamedzaki90 : can you complete all information asked in template plz ? so we can try to reproduce the issue

[2019-09-17 04:47] pascalgrimaud commented on #10425
Ok, so we're not consistent here:
- in generator-jhipster
- in documentation

The problem will be for user who will use skip user management to avoid creating table user, will still have the table, right ?

[2019-09-17 05:56] atomfrede commented on #10418
When using a static method you can't easily mock it (e.g. you need powermock which I would consider bad practice). Therefore using a clock which can properly mocked in tests.

[2019-09-17 06:08] pascalgrimaud commented on #10432
Can you provide all information, required in template, as your configuration, tools etc ?

[2019-09-17 06:18] VinodAnandan commented on #10421
My suggestion is based on a "Proactive Security" approach, rather than
waiting for someone to find issues and then fix them. "Prevention is better
than cure", I do believe that many use JHipster in production.

My suggestion is to discourage custom JWT, Oauth2, and OIDC. It's always
good to test custom OIDC with the test automation suite (
https://openid.net/certification/instructions/ )

I do und

[2019-09-17 06:28] pascalgrimaud commented on #10421
We can't choose the options for our end-users. They are responsible for their choice and the code once if it's in production. The result would be the same if they coded it. So I think we'll stay with JWT by default.

Anyway, I don't understand what you mean here:

Then, I don't have answer for my question:

[2019-09-17 06:30] wenbin9 commented on #10432
@pascalgrimaud

### 1.Configuration:
Update SecurityConfiguration.java  enable csrf, others use jhipster default Configuration.

private static final String[] CSRF_IGNORE = {"/manifest.webapp", "/api/authenticate", "/api/account"};
    @Override
    public void configure(HttpSecurity http) throws Exception {
        // @formatter:off
        http
            .csrf()
            //.disable()

[2019-09-17 07:30] vishal423 commented on #10432
@wenbin9, this behavior is due to the use of `SessionCreationPolicy.STATELESS`. When you enable CSRF protection, spring creates a temporary transient session and to avoid session fixation generates a new CSRF token. In 5.2.x spring security, you may be allowed to override this behavior.  On the client side, if your client library has read the old CSRF cookie and populated that value in header, the

[2019-09-17 07:30] #10432 closed

[2019-09-17 08:00] wenbin9 commented on #10432
@vishal423 After removed SessionCreationPolicy.STATELESS. It works, thank you

[2019-09-17 08:56] DanielFran commented on #10427
We might need to rollback liquibase version to 3.6.3, in fact it seems this has been updated by mistake since liquibase seems buggy since version 3.7.0...
Will do a PR asap.

[2019-09-17 09:03] mohamedzaki90 commented on #10427
@DanielFran Please note the previous liquibase version issue with Jpa @Converters it does not recognize custom type @Converter and fail with mapping exception

[2019-09-17 09:05] yevgenypats opened #10434 "Suggestion: Add JQF support for fuzz testing"
Hi Team,

I'm a contributor to [JQF](https://github.com/rohanpadhye/jqf) which is a coverage guided structure aware fuzzer for java which already found quite nice [bugs](https://github.com/rohanpadhye/jqf#trophies).

Currently it is based on Junit4 + quickcheck but if this will be interesting we can make it work for junit5 as well.

would love to hear your thoughts on adding support for this in ad

[2019-09-17 09:19] mohamedzaki90 commented on #10427
@DanielFran the exception disappeared but the generated changelog is empty, only contains:
`<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog" xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog

[2019-09-17 09:39] qlerebours commented on #3271
Moreover, postgresql doesn't support ZonedDateTime:
`This is closely aligned with tables B-4 and B-5 of the JDBC 4.2 specification. Note that ZonedDateTime, Instant and OffsetTime / TIME [ WITHOUT TIMEZONE ] are not supported. Also note that all OffsetDateTime will instances will have be in UTC (have offset 0). This is because the backend stores them as UTC.`

https://jdbc.postgresql.org/documenta

[2019-09-17 09:49] DanielFran commented on #10427
@mohamed2a Liquibase diff is used to identify changes in the schema:https://www.liquibase.org/documentation/diff.html

Did you perform schema changes in the changelog?

[2019-09-17 10:31] mohamedzaki90 commented on #10427
@DanielFran I added a new class with Entity annotation in the domain package with two fields id and name and then run liquibase:diff
in previous versions that generate a new changelog with the table and columns creation
with the current changes it generates an empty changelog

[2019-09-17 13:25] Hawkurane opened #10437 "Cannot sign in an OAuth2.0 microservice running on docker-compose"
##### **Overview of the issue**

After generating an application, when trying to sign in, the user gets redirected to a non-correct adress website.
After correcting the link manually and trying to log in keycloak with either user/user or admin/admin, the user gets an unauthorized request error (401)

##### **Motivation for or Use Case**

A user should be able to sign in just after generating an ap

[2019-09-17 13:43] atomfrede commented on #10056
Is it the csp again? But in general Oauth/Keycloak worked last time I checked. Can have a look too if you are busy @SudharakaP

[2019-09-17 13:45] Hawkurane commented on #10437
nevermind, after reading documentation again it seems I didn't add
[code]
```/etc/hosts``` file

[2019-09-17 13:45] #10437 closed

[2019-09-17 13:49] Blackdread commented on #10418
I know, you have trade-off.
Setter of static method could accept an "interface" so can be easily mocked (which provides the instant).
Many solutions, just depends on your needs, there is not one perfect solution.
DI is not always the best when you cannot have DI in some parts of your code

[2019-09-17 14:08] jkoorts opened #10438 "Add docker plugin to pom so that CI can push images"
##### **Overview of the feature request**

Like with jhipster-registry add a maven plugin eg. dockerfile-maven-plugin so that CI can push images to a registry

##### **Motivation for or Use Case**

For CI

##### **Related issues or PR**

I
dont
know

-   [ x] Checking this box is mandatory (this is just to show you read everything)

[2019-09-17 14:26] atomfrede commented on #10438
If I am not mistaken we use [jib](https://cloud.google.com/blog/products/gcp/introducing-jib-build-java-docker-images-better) for building the application's docker image. So there is no `DOCKERFILE` anymore generated, therefore the maven docker file plugin has become useless and was removed.

[2019-09-17 14:32] jkoorts commented on #10438
awesome thanks. Will check that out.

[2019-09-17 14:32] #10438 closed

[2019-09-17 14:52] murdos commented on #10418
In tests I provide as well a public static method to force the date returned by the previous method.
But can also inject a service that gives Instant.

Interesting. Do you have a concrete example or a link to an article illustrating that?

For JHipster I think that injecting a clock would be a good solution.

[2019-09-17 14:59] clement26695 commented on #10056
I don't think it is since the same issue was raised in #8920, long before #9834

[2019-09-17 15:15] SudharakaP commented on #10056
@atomfrede : I was looking at this issue yesterday. It isn't the same; there's something going on here which I didn't have time to deep dive yesterday. If you have time or like to work on this please feel free to take it; otherwise I can work on it too. :smile:

[2019-09-17 15:27] vwiencek opened #10439 "Keycloak user management"
##### **Overview of the feature request**
Hello

I was wondering if we could have a user management page (to edit preferred language or other options) even if we have a keycloak / okta server for authentication ?

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [X] Checking this box is mandatory (this is just to show you read everything)

[2019-09-17 15:38] SudharakaP commented on #10056
@atomfrede : Also just to give you some more information from my analysis; notice that if you generate the same kind of application but with angular front end; you'll still see the "Cross origin" warning but will not see any error. I didn't have time to think about this more; but I think the error throwing on the react side probably should need a rethink. :thinking:

[2019-09-18 02:20] phuongnhitran opened #10441 "Stack Overflow"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [ ] Checking this box is mandatory (thi

[2019-09-18 03:42] ruddell commented on #10441
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-09-18 03:42] #10441 closed

[2019-09-18 05:44] antonioortizpola commented on #10418
I do not know if this can help, but I like a lot the testability of the C# library NodaTime.

https://nodatime.org/2.4.x/userguide/testing

[2019-09-18 06:17] vishal423 commented on #10439
do you mean by app level preferences?

[2019-09-18 07:09] atomfrede commented on #10434
Hi @yevgenypats ,

It sounds like a nice tool. How is it different to [jqwik](https://jqwik.net/)? Did I get it right, that jqwik would be an alternative to quickcheck and JQF generates properties?

In general it sounds like a great candidate for a module, which adds the required dependencies and the new tests maybe.

[2019-09-18 07:17] yevgenypats commented on #10434
hi @atomfrede yes exactly to support junit5 will probably will have to integrate with jqwik and JQF will generate the properties using the coverage guided algorithm.

In terms of module - isn't it supposed to be exactly where the junit tests are generated? do you have an example of module that implement test functionality?

[2019-09-18 07:38] PierreBesson commented on #10434
We already have a question in the main generator asking for additional test frameworks : currently for java, I think we only have Cucumber and Gatling. I would say we can consider JQF for addition after looking at an initial POC of JHipster+JQF. Or maybe it can be supported with a JHipster module. I have no experience with fuzzing so I'm quite curious how it would be implemented in a real world we

[2019-09-18 07:44] yevgenypats commented on #10434
@PierreBesson for the quick response. Yes, I agree a PoC is totally needed to evaluate this. Cool so I'll try to come up with a PoC draft of JHipster+JQF. probably I'll have some questions so I'll post here.

[2019-09-18 07:49] atomfrede commented on #10434
@yevgenypats Don't hesitate to ask if you have any questions. This also sounds like a good hacktoberfest thing.
In general a module can create new files, in particular new test files or so.

[2019-09-18 08:27] pascalgrimaud commented on #10439
Do you mean directly in a JHipster application ? It is duoable, but I don't see any value for that.
You can already do it, using directly Keycloak administration page.

[2019-09-18 08:36] vishal423 commented on #10439
I think the point here is to allow user to update his language or other preferences that are local to the app. Generally in enterprise apps, end users don't have direct access to OIDC administrative pages.

[2019-09-18 13:33] pdelaby commented on #10418
Instead of a static method, we simply use an object implementing java `Supplier` interface :
[code]

So it can be easely mocked.

The better version (that you can mock as a lambda,  `new MyClassToTest(()-> Instant.ofEpochMilli(33l));` ) use an Interface and an implementation. More practical, but adds 2 classes.

[code]

[2019-09-18 14:47] vwiencek commented on #10439
Ok, just to clarify:

- application based preferences should be stored on the application side -> OK
- what about user related information like the password ? if I login with admin/admin ou user/user I don't see where I can change my password ? What is the best place to update it ?

In keycloak documentation they talk about a "user management console" but I can't find it.

[2019-09-18 15:00] pascalgrimaud commented on #10439
@vwiencek : go to your keycloak administration console at http://localhost:9080

[2019-09-18 17:57] rschultheis commented on #10401
👋 @jdubois

Sorry just getting caught up with some notifications, and we can defnitely do something to help here.

I did indeed notice that advisory get submitted with the default template.  I the UI there is a bit confusing and we are taking a look at how to make this problem harder to happen.

But more importantly, our product doesn't offer update yet!  I'll discuss with the team, is there a pre

[2019-09-18 18:37] SudharakaP commented on #10056
I've created a simple fix for this; the problem is initially when the user visits the homepage it seems we are making a request to `api/account`; you'll see this angular side too. And if the user doesn't have an active session we return a error. But it seems that on the react side we do a toast message with a generic message; since this error is harmless and expected, I've added a small condition

[2019-09-18 19:56] #10056 closed

[2019-09-18 20:00] jdubois commented on #10401
Thanks a lot @rschultheis !!

- The title and description you propose are correct. It's the rest of the form ( @JLLeitschuh can you confirm??) that can be seen at the bottom of https://github.com/jhipster/generator-jhipster/security/advisories/GHSA-mwp6-j9wf-968c which has the template data, instead of real instructions.
- I will contact you in parallel about this through Microsoft :-)

[2019-09-18 21:57] rschultheis commented on #10401
OK @jdubois I've updated [the advisory](https://github.com/jhipster/generator-jhipster/security/advisories/GHSA-mwp6-j9wf-968c) with description I proposed, as well as additional meta data like the CVE ID.  Let me know what you think!

I am more than happy to make additional changes to the description if you would like!

Also, we clearly need to support updating advisories after publish, thanks fo

[2019-09-18 23:01] SudharakaP commented on #10401
@jdubois : If I may chip in with a minor suggestion; I noticed that the [security policy](https://github.com/jhipster/generator-jhipster/security/policy) has your email address. I would suggest maybe add an address which goes to all the team leads? Just had this thought, since this way if you aren't available someone else can look into it. 😄

[2019-09-19 00:36] JLLeitschuh commented on #10401
Also, consider moving your security policy to a `.github` repository so that is applied to the entire organization.

[2019-09-19 06:10] shanon84 opened #10445 "frontend-tests fail because of missing TESTS-results-jest.xml"
##### **Overview of the issue**

TESTS-results-jest.xml is no longer created while running frontend tests.

##### **Motivation for or Use Case**

A new generated application with frontend fails in generated jenkins build pipeline.

##### **Reproduce the error**

generate a new application with frontend. Generate jenkinsfile. Build -> frontend test fails cause of missing TESTS-results-jest.xml file

[2019-09-19 07:19] PierreBesson commented on #10401
It's already created : https://github.com/jhipster/.github
For the email we don't have one currently.

[2019-09-19 07:25] jdubois commented on #10401
Thanks everyone for the help!!!

- @rschultheis yes that's good!
- @SudharakaP thanks for notifying me of my email address, I know this is an issue. The problem is that I bought the "jhipster.tech" domain name when the project had no money, so I took the cheapest option possible, and I have seen that those emails are sometimes lost.... And as I want to be sure not to miss them, I'd rather put my e

[2019-09-19 09:35] joewhite101 commented on #10189
To add some support, thoughts, and potential opportunities for contributions around MFEs.

The TL;DR
We find micro-frontends very interesting. We're doing a bunch of JHipster and micro-frontend (MFE) work in a JH blueprint in the open source world. Might be a chance to promote some of that up to mainline JHipster.

I am the CTO at Entando (an open source company) that is doing a lot of work around

[2019-09-19 10:11] tibistibi commented on #10402
Thanks for solving this problem!

in the upgrade it states:

Which is not totally true because these methods has been removed:

    /**
     * Generate a unique series to validate a persistent token, used in the
     * authentication remember-me mechanism.
     *
     * @return the generated series data.
     */
    public static String generateSeriesData() {
        return RandomStringUtils.rando

[2019-09-19 10:20] jdubois commented on #10402
@tibistibi the methods signatures of RandomUtil should be the same, what is inside those methods did change

[2019-09-19 10:23] tibistibi commented on #10402
yes clear! maybe good to add the information to the upgrade page?

[2019-09-19 10:24] tibistibi commented on #10402
so for me i could fix it by replacing the RandomUtil file and add this:

/**
 * Generate a unique series to validate a persistent token, used in the
 * authentication remember-me mechanism.
 *
 * @return the generated series data.
 */
public static String generateSeriesData() {
    return generateRandomAlphanumericString();
}
/**
 * Generate a persistent token, used in the authentication remember-

[2019-09-19 11:13] atomfrede commented on #10445
Thanks @shanon84 for reporting this. We clearly missed that in https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/test/javascript/jest.conf.js.ejs#L21

[2019-09-19 11:18] atomfrede opened #10447 "Old logo used for webpack build notifications"
### **Overview of the issue**

When webpack finishes execution we display a notification which shows our old hipster logo.
We should either use one of our new hipsters or just the bowtie (I would suggest to just use the bowtie)

##### **Motivation for or Use Case**

We have exchanged all old logos except that one

##### **Reproduce the error**

Create a default application and execute e.g. npm run

[2019-09-19 11:27] atomfrede commented on #10447
I will provide a PR for this.

[2019-09-19 13:29] nebnhoj opened #10449 "Invalid audience problem with Okta Authentication Server"
##### **Overview of the issue**

Encountered an Issue in Microservice application with a custom Okta Authorization Server.
I started a new Microservice Project with Okta Authorization Server.
I managed to authenticate the /users resource using the default Authorization Server configuration in Okta, but when I add new auth server with same policy and scope in default server I always encountered a p

[2019-09-19 15:43] Hawkurane commented on #10369
Hello, I've found the culprit:
In Angular, when submitting the form, this is the code that is executed:

https://github.com/jhipster/generator-jhipster/blob/7c44af17f2b488b07f1b3b69ae4637b93057308b/generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs#L67-L86

While in React, when using the form to change settings, this is what happens:
We have an API c

[2019-09-19 15:52] mraible commented on #10449
The possible audience values are hard-coded in `AudienceValidator.java`. You should be able to change it in your code to match what you set in your Okta AS.

https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/security/oauth2/AudienceValidator.java.ejs#L37

[2019-09-19 16:16] #10427 closed

[2019-09-19 16:29] pascalgrimaud commented on #10369
@Hawkurane : it looks like you know how to fix this.
Do you have the bandwidth to do it plz ?

[2019-09-19 16:31] pascalgrimaud commented on #10445
maybe the API for Jest has changed, because I tested it few months ago and it works well

[2019-09-19 16:35] ruddell commented on #10402
@tibistibi RandomUtil depends on your auth type, Session auth has some extra methods. I couldn't find sample apps for Session or UAA, so you can see the various options here: https://github.com/ruddell/jhipster-examples/tree/cve-random-util-fixes

[2019-09-19 16:36] ruddell commented on #10401
Related to [my comment here](https://github.com/jhipster/generator-jhipster/issues/10402#issuecomment-533211581), I noticed the [release notes](https://www.jhipster.tech/2019/09/13/jhipster-release-6.3.0.html) (and [the advisory tweet](https://twitter.com/java_hipster/status/1172387424715988994)) state that you are only affected if you use JWT, but doesn't this also affect Session and UAA auth typ

[2019-09-19 16:38] Hawkurane commented on #10369
Sure I can take a look at this tomorrow

[2019-09-19 17:08] JLLeitschuh commented on #10401
@ruddell These components are also impacted and vulnerable.

[2019-09-19 18:06] guiferrpereira commented on #10445
The issue was that jest-junit bumped from 6.4.0 to 8.0.0 and the template wasn't updated accordingly:

https://github.com/jhipster/generator-jhipster/blob/c95c3c7f855a06fff3e3d8edba3e688e8b370e55/generators/client/templates/react/src/test/javascript/jest.conf.js.ejs#L21

https://github.com/jhipster/generator-jhipster/blob/c95c3c7f855a06fff3e3d8edba3e688e8b370e55/generators/client/templates/angular

[2019-09-19 19:01] JLLeitschuh commented on #10401
@jdubois RE: Emailing discussed above 👆 https://github.com/jhipster/generator-jhipster/issues/10401#issuecomment-531837315

The advice from US CERT was basically, they are not lawyers and so they can't provide legal advice. That being said:

I think from an ethical point of view, it's the right thing to do and you should send out an email disclosing this vulnerability to all potentially impacted p

[2019-09-19 19:05] jdubois commented on #10401
Thanks @JLLeitschuh I'll have a look at what we can do - I have no mass email solution to send emails to 30,000 people. Our contact channel as always been Twitter - I know it's not perfect, but that's easy and free.
I'm going to have a look at a specific mailing list solution for this, to which people can subscribe.

[2019-09-19 20:45] murdos commented on #10425
Not exactly, sorry if I was not really clear: I may have read the report a bit too quickly.
The table is not created, so the error reported here is indeed expected: you can't have relationships if the User entity does not exist (and it does not when user management is skipped).

NB: What I tried to achieve in the past was to have `skipUserManagement=true` and declare an entity named `User` (but wi

[2019-09-19 21:47] SudharakaP commented on #10401
@jdubois : Seems like you guys already use Google groups; which means you should have a Google Admin account. Suggestion; you could probably leverage this and create a custom Google group with invite only access to external members with appropriate access privileges and roles.

![image](https://user-images.githubusercontent.com/12435965/65283594-4b2eb500-daec-11e9-9630-c911212eec7f.png)

[2019-09-20 03:18] nebnhoj commented on #10449
Thank you very much @mraible.

[2019-09-20 04:00] vishal423 commented on #10445
we haven't yet migrated to the jest-junit v8.x. see this:
https://github.com/jhipster/generator-jhipster/blob/c95c3c7f855a06fff3e3d8edba3e688e8b370e55/generators/client/templates/angular/package.json.ejs#L108

[2019-09-20 04:09] vishal423 commented on #10449
I am keen to have it open and externalize to a property file.

[2019-09-20 04:18] nebnhoj commented on #10449
Thank you @vishal423

[2019-09-20 06:42] vishal423 commented on #10445
even in react, we haven't migrated:
https://github.com/jhipster/generator-jhipster/blob/c95c3c7f855a06fff3e3d8edba3e688e8b370e55/generators/client/templates/react/package.json.ejs#L120

[2019-09-20 08:10] jdubois commented on #10401
@SudharakaP oh yes but it's really a mess. The UI sucks, it's awful to manage (I'm going to use it today again, I never know where to click). Also, I need to check how this works: in fact I realize this shouldn't be a mailing list, it's more an annoucement list. People shouldn't be able to send mails to each other, otherwise it's going to be a mess.

[2019-09-20 11:57] #10162 closed

[2019-09-20 13:09] abenneke opened #10457 "bootRun on Windows should use main (instead of test) classpath"
##### **Overview of the issue**

When you try to run `gradlew bootRun` right after `gradlew test`, Spring is using the `src/test/resources/config/application.yml` configuration instead of the `src/main/resources/config/application.yml`. The later is used when you run `gradlew bootRun` after `gradlew clean` (because the test configuration then simply does not yet exist).

##### **Reproduce the erro

[2019-09-20 13:12] atomfrede commented on #10457
Thanks @abenneke for reporting this. I noticed it too, but as I have no windows machine at hand its hard for me to test that ugly workaround. Could you do a PR and maybe check if continuous compilation and restart via bootDevTools work fine for you?

[2019-09-20 14:12] abenneke commented on #10457
Added https://github.com/jhipster/generator-jhipster/pull/10458

Restart via bootDevTools (still) work like a charm for me - but only once the class files are changed (explicit build in IDEA).

With "continous compilation" we are talking about `gradle -t bootRun`? I never could this get to work properly - with or without this issue.

[2019-09-20 14:19] atomfrede commented on #10457
Thanks @abenneke for the PR. Exactly I was talking about `-t`. You have to use multiple terminals to make it work via cli:

* `./gradlew bootRun` and
* `./gradlew compileJava -t` in the second one.

[2019-09-20 14:37] SudharakaP commented on #10401
Yes I agree, the UI is not quite obvious. :smile: But I think this fits the bill if you could get the permissions set up correctly.

No they cannot see or reply to the whole list; notice there's a setting on the following page; called "Post Replies". I haven't tested this though; you probably need to run some tests. :smile:

![image](https://user-images.githubusercontent.com/12435965/65334761-ef11

[2019-09-20 14:49] nim-fm opened #10459 "In the model objects List<BigDecimal> does not work, it expects to be Set<Long>"
In the model objects List<BigDecimal> does not work when deserializing from JSON into object model, it expects to be Set<Long>.

All Jackson online help uses List as examples, however JHipster generated version uses Set. How to get this changed?

[2019-09-20 15:00] cbornet commented on #10459
Please fill this issue with the template.
We don't support collections in JDL AFAIK. So I don't see where you would have List<BigDecimal> or Set<Long>. But since you didn't provide enough details...

[2019-09-20 15:01] cbornet commented on #10459
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-09-20 15:01] #10459 closed

[2019-09-20 15:04] abenneke commented on #10457
Ah, thank you for this insight! I always tried `bootRun -t`, which does not work as expected...

Well, I would suppose that it works - just because a restart is nicely triggered by `bootRun` on class file changes. But without synchronization between these two terminals I see A LOT OF `ClassNotFoundException`s in the `bootRun` part...

It however does not work in our project: Gradle runs into an en

[2019-09-20 15:11] Hawkurane commented on #10369
The Pull Request fixes your specific issue but after changing account settings, opening a private navigtation page and relogging again, the language is still in the wrong order (LTR instead of RTL)

[2019-09-20 16:24] SudharakaP commented on #10401
@jdubois : So I've went ahead and tested this out for you. Here are the preliminary steps. With these each user will receive emails when you post to the distribution list. They can only reply to the owner. If they try to reply to the group it will bounce back. Let me know if you need any further help. I can do some more tests if you'd like. 😄 😄

1) Create the group with maximum restrictive privile

[2019-09-20 17:26] SudharakaP commented on #8366
@pascalgrimaud As part of this and GCP micro-service support, I am going through microservices generated by JHipster to get a thorough understanding. I've discovered that there are small errors in the PNG files/illustrations in our website. What did you guys use to create these PNGs? Are there any editable project files corresponding to these PNGs; if so let me know so that I can make these small

[2019-09-20 18:22] jdubois commented on #8366
I think I made them with Keynote, and I saved the original file in the same directory.

[2019-09-20 18:23] jdubois commented on #10401
Thanks so much!!! I'll have a close look at this.

[2019-09-20 19:44] SudharakaP commented on #8366
@jdubois : There's one keynote file in there, but that only contains some illustrations (6 of them). 🤔 🤔

That's fine, there's no major changes I was gonna do to them, but if you do find the other .key files please do upload them.

[2019-09-20 20:17] shanon84 commented on #10445
@vishal423
You are right with the react template.
In my generated aplication with angular:
node_modules\generator-jhipster\generators\client\templates\angular\package.json.ejs
Line 109:     "jest-junit": "8.0.0",

see also version 6.3.0 in github:
https://github.com/jhipster/generator-jhipster/blob/v6.3.0/generators/client/templates/angular/package.json.ejs

[2019-09-20 20:25] vishal423 commented on #10445
My bad. I was looking into diverged branch.

[2019-09-20 20:28] vishal423 commented on #10445
@shanon84, would you be able to raise PR?

[2019-09-20 20:30] jdubois commented on #8366
I'm not sure, maybe there is also some ASCII art made by @PierreBesson that he transformed into images with a script.

[2019-09-20 21:35] PierreBesson commented on #8366
This was done by @gmarziou using http://ditaa.sourceforge.net/ and http://asciiflow.com/
Highly recommended tools !

[2019-09-21 06:58] pascalgrimaud commented on #9351
I think we forgot to add the option at https://start.jhipster.tech/

@SudharakaP : can you help to do it plz ?
It's related to this project: https://github.com/jhipster/jhipster-online

[2019-09-21 14:50] SudharakaP commented on #9351
@pascalgrimaud : Yes, I completely missed that. Will add this to my queue. :smile:

[2019-09-21 16:19] pascalgrimaud commented on #10457
Closing this as the PR has been merged

[2019-09-21 16:19] #10457 closed

[2019-09-21 17:12] paulordie commented on #7173
Hi guys. Sorry but where I found '.jhipster/...' ?

[2019-09-21 17:29] SudharakaP commented on #9351
@pascalgrimaud : I've added it; let me know if you see any issues. :smile:

[2019-09-21 17:31] MathieuAA commented on #7173
@paulordie please don't comment on old issues, especially if it's unrelated.
The .jhipster folder is in the root folder of your app.

[2019-09-21 19:03] atomfrede opened #10464 "Add spring no-http (checkstyle) plugin"
##### **Overview of the feature request**

We should add the spring no-http plugin to make sure we (and our users) do not use http repositories by accident in maven or gradle builds. If it works well we can extend the use to e.g. production code.

I will take care of it. It worked pretty well for gradle but there were some problems with the maven checkstyle integration.

##### **Motivation for or

[2019-09-21 20:56] #10447 closed

[2019-09-22 10:06] #9280 closed

[2019-09-22 10:08] pascalgrimaud commented on #10439
I think this ticket can be closed, as the user management is on Keycloak side

[2019-09-22 10:08] #10439 closed

[2019-09-22 10:10] pascalgrimaud commented on #10425
Yes, I think it is something different.
So @anthony-o, you can follow Matt's advice, it will be quicker and simpler than implementing a new option for skipping user management only on front side and not on backend side.

Closing this as it won't be implemented

[2019-09-22 10:10] #10425 closed

[2019-09-22 10:11] pascalgrimaud commented on #10421
I think it can be closed.
Feel free to add new comment to discuss if needed

[2019-09-22 10:11] #10421 closed

[2019-09-22 12:27] amanganiello90 opened #10467 "Remove Java constraint to install and run jhipster cli"
**Overview of the feature request**
Hi all wonderful community,
The jhipster CLI required to have installed java on macchine to run the generator.

**Motivation for or Use Case**
I have found a [java check](https://github.com/jhipster/generator-jhipster/blob/1e0faa826a79156a7aad6376a5028b140d4f9760/generators/info/index.js#L71) called from the [general app index.js](https://github.com/jhipster/gen

[2019-09-22 12:33] #10186 closed

[2019-09-22 13:49] amanganiello90 commented on #9692
Hi all,
Ad said @deepu105, is too complicated and can bring errors for the developer,
because the app generator controls the all subgenerators. So I have a custom solution that you can implement (that I have tried) in your blueprint:
As preconfiguration before starting jhipster, you can create a yo-rc.json with the answers for the prompts that you don't want to show. So you can create and show you

[2019-09-22 18:23] wmarques commented on #10395
I think this is more of a very specific customization, I don't think this should go into the generator... + if we do that for Angular we would also need a backend validation, a JDL improvement to support that kind of validation, that can be a lot of work.

@jhipster/developers WDYT ?

[2019-09-22 21:39] pascalgrimaud commented on #9287
fixed by https://github.com/jhipster/generator-jhipster/pull/10379

[2019-09-22 21:39] #9287 closed

[2019-09-23 01:54] kaidohallik commented on #10457
I tested in my Windows 10 and after this change continuous compilation and restart via bootDevTools started to work in command line in Windows, so #10458 fixed this issue too for me. Thanks @abenneke !

[2019-09-23 02:21] kaidohallik commented on #10220
In #10443 new modules added without prefix `<%=angularXAppName%>`, so current direction is to remove this prefix from all modules in the new major version.

[2019-09-23 04:20] ThienPhuc92 opened #10469 "Jhipster version 6.x.x OAuth2MethodSecurityExpressionHandler never register automatic"
##### **Overview of the issue**

Bug appear when generate microservice application
When I use jhipster version 6.x.x OAuth2MethodSecurityExpressionHandler never register automatic. So when i call to a controller with @PreAuthorize("#oauth2.hasScope('web-app')") annotation it always throw Exception "Attempted to call method hasScope(java.lang.String) on null context object".
**But it not has any pr

[2019-09-23 04:38] #10369 closed

[2019-09-23 05:43] pascalgrimaud commented on #10395
Not only for Angular, but for React and Vue.js too, so agree with you @wmarques

@caffeinecoders :
- can you show us in a sample project on GitHub that it's not a lot of work, not a lot of code to maintain
- if it's **simple**, do you want to contribute to provide this feature ?

Otherwise, let's not support it in generator-jhipster

[2019-09-23 05:53] arabbani commented on #10223
This is still not working on windows. Can you reopen the issue.

[2019-09-23 06:20] pascalgrimaud commented on #10223
@arabbani : can you provide more information plz ? Which version of JHipster ? Which blueprint, etc...
You can have a look at all tickets and PR related to this one. There are other fix too

[2019-09-23 06:45] subbu519 opened #10471 "Can i use jhipster micro services from Non jhipster Angular client"
Hi,
I am using Jhipster microservices with UAA server with Oauth2. But now I want to Access my microservices from Non-Jhipster Angular Client. Is it possible .if ok how can I Authorize from My angular Client

[2019-09-23 06:46] initfusion opened #10472 "aws sub-generated not working."
##### **Overview of the issue**

I have a newly created project using jhipster command. now I am trying to use aws sub-generated to deploy. I have created one folder in the root of the project and write command
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create fresh project using v6.3.0 or v6.3.1 and use aws sub-generator.

##### **Related issues**

##### **Sugges

[2019-09-23 06:53] arabbani commented on #10223
JHipster 6.3.0.
Blueprint - kotlin.
OS - Windows 10.

[2019-09-23 07:17] pascalgrimaud commented on #10471
JHipster Angular client can do it, so if you want to do it yourself without using our code, I suggested you to have a look on what we did.

I'm closing this as this should go to stackoverflow, not here.

[2019-09-23 07:17] pascalgrimaud commented on #10471
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-09-23 07:17] #10471 closed

[2019-09-23 07:34] atomfrede commented on #10457
@kaidohallik Great to hear! Thanks @abenneke for fixing this.

[2019-09-23 07:44] caffeinecoders commented on #10395
Hello, @wmarques & @pascalgrimaud, this feature used to be there earlier but seems to be removed now in latter version. We are providing feature to upload images in the entity forms, not sure why size validation is not required.

[2019-09-23 08:12] pascalgrimaud commented on #10395
Just tried right now:

[code]

The validation rules for Blob are:
- Required
- Unique

In which version of JHipster do you have size validation for Blob ?

[2019-09-23 08:32] nim-fm opened #10474 "How to use List<T> by defaut instead of SET<T>"
With the JHipster generated APIs, the following code

    @JsonIgnoreProperties(allowSetters = true)
    @Transient
    private List<BigDecimal> values;

generates errors when deserializing from JSON into object model, it expects to be Set.

All Jackson online help uses List as examples, however JHipster generated codebase especially @OneToMany uses Set. How to get this changed to use List instead

[2019-09-23 08:41] pascalgrimaud commented on #10474
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-09-23 08:41] #10474 closed

[2019-09-23 08:50] pascalgrimaud commented on #10467
Just tried it in a fresh container with only Node installed.
I got warning, not error. So these checks should not be a blocker:

[code]

For me, there is 2 solutions for that:
- it would help to have https://github.com/jhipster/generator-jhipster/issues/9692 but it looks like a lot of work
- create your own cli, like what it is done in jhipster-kotlin blueprint: https://github.com/jhipster/jhipste

[2019-09-23 08:52] #10321 closed

[2019-09-23 09:11] amanganiello90 commented on #10467
Hi @pascalgrimaud,
thanks a lot for the help! In fact I remember that it was only a check info, but I have never tried it without java installed, and @manekinekko said that it runs an error without java.
Ok, so better, I have to remove only maven from the nodejs blueprint.
Instead, to customize the general app generator, it's not good to create a cli as Kotlin blueprint, because the developer woul

[2019-09-23 09:19] pascalgrimaud commented on #10467
I'm not an expert in blueprint, and as said, it's not recommanded to create your own CLI.
But the owner of a blueprint can do what he wants and if he decided to create his own CLI, he can. Nothing is mandatory here.

About creating an option to add `.yo-rc.json` before, I don't know if it's doable, as it depends on Yeoman phase. See https://yeoman.io/authoring/running-context.html

[code]

[2019-09-23 09:35] michael-simons commented on #9967
Hey everyone,

Michael from Neo4j here. I'm working on Spring Data Neo4j (both SDN+OGM and our new implementation SDN/RX).
Our team would help @conker84 with integrating https://github.com/neo4j/sdn-rx/ into JHipster.
We prefer the work based on SDN/RX as this will support

* Neo4j 3.5
* Neo4j 4.0+

and both imperative and reactive repositories.

@deepu105 @jdubois

Would you please shed some ligh

[2019-09-23 09:35] amanganiello90 commented on #10467
Hi @pascalgrimaud,
in my option, to keep compatibility with the other jhipster option, it's better to avoid a custom cli luncher.
The option to add yo-rc.json should add the file before the call yemon (so before initializing phase), maybe in the [app constructor](https://github.com/jhipster/generator-jhipster/blob/f997e2ebded720a547734e07000a2940437f25a8/generators/app/index.js#L32).
Otherwise, do

[2019-09-23 09:44] pascalgrimaud commented on #10467
If I'm not wrong, it's the phase "prompt"

[2019-09-23 09:58] amanganiello90 commented on #10467
So, the function that reads the yo-rc.json is [here](https://github.com/jhipster/generator-jhipster/blob/f997e2ebded720a547734e07000a2940437f25a8/generators/utils.js#L423).
And it is called in all initializing phase of every subgenerator, as [here](https://github.com/jhipster/generator-jhipster/blob/7f145f541fa505fd025362ac6ceaf0431db59cf7/generators/server/index.js#L132).
Therefore there are two

[2019-09-23 10:45] vwiencek commented on #10439
Hello,

sorry to reopen that ... but in JHipster microservice with keycloak authentication, if I log in with user/user, I don't find any link to change my password ..... maybe it's a keycloak issue ?

thx

[2019-09-23 12:08] codecholeric opened #10476 "Cannot inject JhiLanguageService into any core component"
##### **Overview of the issue**

Regarding the Angular template: Cannot inject `JhiLanguageService` into any core component. As far as I see, as soon as `JhiLanguageService` is injected into any eagerly bootstrapped component, the app does not work anymore.

More precisely, within `AccountService.fetch()` `this.languageService` is undefined which causes any authentication to fail.

##### **Motivat

[2019-09-23 14:03] SudharakaP commented on #10472
I've see similar errors in the `aws-containers sub-generator` side but I could not reproduce this exact error on the `aws subgenerator`.

@initfusion : Could you please try the following;

1) Remove the `node_modules` folder.

2) Run `npm install`.

3) Start the subgenerator again (`jhipster aws`)

[2019-09-23 14:20] SudharakaP commented on #10472
Currently I am working on the `aws-containers` subgenerator and there I've refactored the code to add the `aws-sdk` as a fixed dependency rather than trying to install it at runtime. This seems to solve certain issues. I just created a PR which does the same thing for this sub-generator as well. :smile:

[2019-09-23 16:41] maku opened #10479 "generator - selection of java version (supported versions)"
##### **Overview of the feature request**

When I generate a project I would like to select the java version from a list of supported ones.

[2019-09-23 17:08] pascalgrimaud commented on #10479
We support Java8 and 11. So it should work for both.
I don't see any value of adding a new question because it will imply to:
- add new question
- store a new option in config
- add support in jdl-core
- add full daily builds to test more configs
- add support in all our cloud template
- update start.jhipster.tech
- etc

Too much work for no real value.
Anyway, we'll drop java8 soon

[2019-09-23 17:09] SudharakaP commented on #10479
@maku : This has been subjected to debate particularly on the following thread; https://github.com/jhipster/generator-jhipster/issues/9934

I've added support for this initially but later (see the [following comment](https://github.com/jhipster/generator-jhipster/pull/10245#issuecomment-523674891) by @PierreBesson and the [following comment](https://github.com/jhipster/generator-jhipster/pull/1028

[2019-09-23 17:19] maku commented on #10479
@SudharakaP  Thanks for answering: https://github.com/jhipster/generator-jhipster/issues/9934 is exactly the kind of problems when "manually" changing the java version... So the first question I asked myself was what I did wrong. And honestly I found not a good answer in documentation etc. (and also in the issues). Maybe it would be a good idea to mention the steps to change the java version in th

[2019-09-23 17:31] antonioortizpola commented on #10476
I do not know if this could help you, but I found a similar case some time ago working with JHipster

[Acces to Principal outside the 'router-outlet' in main component in JHipster Angular](https://stackoverflow.com/questions/53587152/acces-to-principal-outside-the-router-outlet-in-main-component-in-jhipster-ang)

In the end I created another service:

- create a service with the variables
- inject

[2019-09-23 17:36] SudharakaP commented on #10479
@maku : The afterburner warning is harmless; you can just ignor it for now. When that PR is merged and when you change the java version you won't see that reflection warning anymore. 😄

[2019-09-23 18:25] SudharakaP commented on #10479
@maku : You might also see the following warnings; https://github.com/jhipster/generator-jhipster/issues/10271.

[2019-09-23 19:10] jdubois commented on #9967
Awesome news @michael-simons !!!!
Yes it would be the same idea as Couchbase or Cassandra. If you're using Spring Data is shouldn't be too complicated.
For the reactive part there's a specific branch by @cbornet for this, but it's still experimental: you should focus first on the non-reactive part, this is where you will have the most people interested.

[2019-09-23 22:55] ruddell commented on #10439
Using the default generated Keycloak Docker config, a user can log in to the account management page at http://localhost:9080/auth/realms/jhipster/account/  That page is also where the user can enable two-factor authentication for their account.  You could add that as a link to the navbar

I'm not sure how it works when using Okta

[2019-09-24 05:11] caffeinecoders commented on #10395
Kindly check Jhipster version 3.5 for example, it used to have this validation. But what I really want to request is to consider, having this size validation as part of Jhipster module, I do believe it is useful.

Still, if you think this doesn't align with your vision of Jhipster, I respect it then :)

[2019-09-24 05:14] caffeinecoders opened #10480 "Jhipster Integration with Google Firebase for Authentication"
##### **Overview of the feature request**

Do we have any plan for Jhipster integraiton with Google Firebase? I understand that Jhipster support OIDC and hence provide integration with all Auth servers which support OIDC. But at the same time, I do believe that Firebase is one auth server, which is getting very famous and provide so many features at such a low price.
Hence this request, to conside

[2019-09-24 06:08] pascalgrimaud commented on #10395
You're right @caffeinecoders
Just tried with 3.5.0 and we have this validation:

[code]

So we did something wrong in our entity sub generator.
I'm adding a bug bounty on this, as it's a regression.

[2019-09-24 09:01] vwiencek opened #10481 "H2 Console on microservice not working"
Dear all,

When I create a microservice with the following model.jdl

[code]

And when I try to access http://localhost:8084/h2-console I get the H2 connection screen but when I try to connect, et get this error `No suitable driver found for 08001/0`
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix

[2019-09-24 09:14] codecholeric commented on #10476
Thanks for the suggestion! I've tried it, but at least injecting another service holding `JhiLanguageService` did not do the trick. I've noticed though, that the same cycle seems to be resolved with JHipster 6.2.0, so I somehow suggest it is something that used to be more "lazy" and now kicks in earlier (changes on `language-helper` removing the workaround with the observable maybe?)

However I've

[2019-09-24 09:17] amanganiello90 opened #10482 "Add all options to skip some prompts of app generator questions"
**Overview of the feature request**
Hi all wonderful community,
I suggest to support option to skip the questions that we can't override.
For some questions jhipster already provides it (skip-server, skip-client and so on),
but for the **i18n** there is the parameter without cli settings [this.skipI18n](https://github.com/jhipster/generator-jhipster/search?q=this.skipI18n&unscoped_q=this.skipI18n)

[2019-09-24 09:20] amanganiello90 commented on #10467
I close this issue because the solution for the app generator customization is in #10482

[2019-09-24 09:24] gmarziou commented on #10481
Could you paste which values you set in H2 connection screen?

[2019-09-24 09:30] Kerruba commented on #10482
I think also supporting skipping questions by providing a default answer would be fantastic for the #9692 issue. As a blueprint developer for example I would like to make the assumption in the blueprint that the app is always a microservice

[2019-09-24 09:34] amanganiello90 commented on #10482
Hi @Kerruba,
you already set a your value in the blueprint generator..
You can change any response from the server generator initialization phase (in your case for the application type). For example see this:  https://github.com/jhipster/generator-jhipster-nodejs/blob/9787a64234303f95b18385cc4f7c3a61e8ef6ca1/generators/server/index.js#L99

[2019-09-24 10:27] vwiencek commented on #10481
<img width="453" alt="Screenshot 2019-09-24 at 12 26 58" src="https://user-images.githubusercontent.com/1091392/65504114-9c60ef00-dec6-11e9-8099-a41510677222.png">

[2019-09-24 10:27] vwiencek commented on #10481
<img width="611" alt="Screenshot 2019-09-24 at 12 27 21" src="https://user-images.githubusercontent.com/1091392/65504143-aaaf0b00-dec6-11e9-89e9-ddf4e9f9413e.png">

[2019-09-24 10:28] vwiencek commented on #10481
I kept default values
"Test Connection" works

[2019-09-24 13:12] vwiencek commented on #10439
EXCELLENT
I guess it was missing in the documentation ?
Besides, I think that a link from the application to this page could be great .... I'll try a PR

[2019-09-24 14:08] avdev4j commented on #10395
I would like to taking this one if @caffeinecoders is not already working on it.
As I understand we need to fix this feature on Angular, Spring validation, React (this is a real new feature) and maybe in the VueJs part.

[2019-09-24 14:12] pascalgrimaud commented on #10395
Have a look at https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/prompts.js#L750
I think the `byte[]` is missing for unknown reasons... maybe during some refactoring.

The front should contain the logic, but it needed to be tested -> it's probably the biggest part

[2019-09-24 14:41] mraible commented on #10480
No, we do not have any plans to integrate Google Firebase. However, you're welcome to develop it and contribute it to the project. It might be easiest to do this as a module or blueprint. I recommend starting the process by developing a prototype, then incorporating the necessary changes into a module or blueprint. If it becomes popular (and is well-maintained), we can roll it into the main genera

[2019-09-24 14:41] #10480 closed

[2019-09-24 15:26] mraible opened #10485 "Add support for Java 13"
##### **Overview of the feature request**

Java 13 was released last week. We should support it.

##### **Motivation for or Use Case**

If you're gonna be hip, you gotta support the latest version of Java!

[2019-09-24 15:39] avdev4j commented on #10395
So it's not easy, as we can think. Maybe we should test if we could do it now or close this issue and admit this has already been resolved by #7872

[2019-09-24 15:39] pascalgrimaud commented on #10395
Nice catch @clement26695
So it has been removed intentionaly. Maybe it's not a good idea to reintroduce this feature again

[2019-09-24 17:00] SoniaLahi commented on #10035
Hi,

In an Angular application, to get a proper message from a json file, the key should be passed as a parameter of the `JhiAlertService.addAlert` function. This key is located in `response.error.message` and is correctly passed in the `ErrorHandlerInterceptor`.

However, what is actually displayed is the key `response.message` (which is the error message) and resulting in a translation-not-found

[2019-09-24 19:28] atomfrede commented on #9967
Hi everyone,

We had a nice conference and talked a bit about how we could move neo4j support forward. We decided to go first with a dedicated blueprint, although the branching would not be that large at first glance. Nevertheless putting it in the core would mean a lot of maintenance burden and commitment which currently neither we nor neo could do.

 @michael-simons will create a blueprint and I

[2019-09-24 19:47] arabbani commented on #9967
Great. Keep us updated

[2019-09-24 21:46] JamesBarnes88 opened #10488 "Failing Integration Tests when tests have different configurations"
##### **Overview of the issue**

Project created via the generator will not pass the integration tests if a single integration test has a different configuration. When the tests run, h2 in memory instance is ran for the datastore, and a testClient is created via "Jest" for elasticsearch. If a single IT(integration test) class has a different configuration for instance adding a custom UserDetailsSe

[2019-09-25 05:53] frantzynicolas commented on #5462
Hi all
I have a problem, I just generated a project with JHIPSTER, locally, my port is 9000, so (localhost 9000), but every time I try to log in with admin for username and still admin for word pass I can not, but I have this message (Failed to sign in! Please check your credentials and try again),I use windows 7, 64 bits
thank you for helping me.

[2019-09-25 05:53] vishal423 commented on #10476
I am not clear on this as you should be able to load languages resource bundle as those are not protected by login and associated interceptors. You can follow same by manually changing language in the drop down (before login). Initial language bundle chosen on the application load is specified by `defaultI18nLang: 'en'` in core module. In case, you want to change to browser default, then, you need

[2019-09-25 05:55] frantzynicolas opened #10489 "I can not log in"
Hi all
I have a problem, I just generated a project with JHIPSTER, locally, my port is 9000, so (localhost 9000), but every time I try to log in with admin for username and still admin for word pass I can not, but I have this message (Failed to sign in! Please check your credentials and try again)
I use windows 7, 64 bits
thank you for helping me.

[2019-09-25 05:57] pascalgrimaud commented on #5462
Please, don't comment an old ticket.
Open a new one with all information required in the template, with all steps to reproduce the issue.

Unless you have a specific config, OAuth2 works very well.

[2019-09-25 05:59] arabbani commented on #10489
Did you run the server with mvnw. Without the server running you won't be able to log in

[2019-09-25 06:24] kaidohallik commented on #10476
@vishal423 submitted a good answer.

Just FYI I add comment about my investigation results.

Seems that this comes from Angular HTTP interceptors DI problem.

I debugged HTTP interceptors part and found out that:
* in the current code all HTTP interceptors are constructed twice
* after adding `JhiLanguageService` to `MainComponent` all HTTP interceptors are constructed once

I debugged `AuthExpire

[2019-09-25 06:28] deltatree opened #10490 "No matching version found for @typescript-eslint/typescript-estree@2.0.0"
##### **Overview of the issue**

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @typescript-eslint/typescript-estree@2.0.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@typescript-eslint/experimental-utils'
npm ERR

[2019-09-25 06:31] MathieuAA commented on #10489
This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This will help the project to keep a clean issue tracker. Also, Stack Overflow will give your question a larger audience:

-   This will increase your chances to

[2019-09-25 06:31] #10489 closed

[2019-09-25 06:44] #10485 closed

[2019-09-25 07:04] vishal423 commented on #10490
I am not sure if this is an issue on JHipster side. You can check this package @ https://www.npmjs.com/package/@typescript-eslint/typescript-estree/v/2.0.0

[2019-09-25 07:12] pascalgrimaud commented on #10490
Can you try with Node LTS 10.16.3 instead of latest plz ?

[2019-09-25 07:14] pascalgrimaud commented on #10489
As asked on the other old ticket you commented, you need to fill all the template and provide all steps to reproduce.

We can't help or guess your configuration and what you did here

[2019-09-25 07:43] codecholeric commented on #10476
@vishal423 thanks for the answer and the tips. I wasn't exactly sure, how I would apply your suggestion about `defaultI18nLang`. We don't want to "force" a default language on the user, but take the user's browser language as default for our application.
The config containing `defaultI18nLang` goes into `NgJhipsterModule` very early (module import of `CoreModule`), and since I need to inject `Tran

[2019-09-25 08:07] pascalgrimaud commented on #10479
As explained, we won't add this additional question, that's why I'm closing this ticket.

[2019-09-25 08:07] #10479 closed

[2019-09-25 08:09] pascalgrimaud commented on #10488
I don't understand well.
- Do you have the issue with a default generated project ?
- or did you add or modify the generated code ?

[2019-09-25 08:11] pascalgrimaud commented on #10395
I'm closing this as it has been removed intentionaly for technical reasons.

[2019-09-25 08:11] #10395 closed

[2019-09-25 08:13] pascalgrimaud commented on #10399
Not sure we can do better.
As it seems not to be on our side but related to mapstruct, I'm closing this.

[2019-09-25 08:13] #10399 closed

[2019-09-25 08:46] vishal423 commented on #10488
To fix context issues, you should annotate your tests with `@DirtiesContext`.

I think JHipster doesn't support *true* integration tests. In one of my project, I create separate integration tests and use `TestRestTemplate` to call endpoints. To start/stop external service/database, I use docker maven plugin.

[2019-09-25 09:12] pascalgrimaud commented on #10488
It should be similar to what we did for our Kafka integration tests.
See https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/test/java/package/web/rest/KafkaResourceIT.java.ejs#L61

[2019-09-25 10:06] vwiencek opened #10491 "Openapi-client generation with microservices"
Hello,

I've generated a basic microservice with JHipster 6.3.1, then I've tried to generate client connector on an other microservice and I get the following error.

Steps to reproduce
- Create a microservice `serviceA` with jhipster
- Create a microservice `serviceB` with jhipster
- generate openapi-client from `serviceB` with jhipster `opencpi-client` with options: user registry

Then I get the

[2019-09-25 10:40] kaidohallik commented on #10476
I was able to make HTTP interceptors DI process stable after I removed `init()` from `JhiLanguageService` constructor https://github.com/jhipster/ng-jhipster/blob/master/src/language/language.service.ts#L31 and put that into generated app constructor.
@codecholeric thanks for providing useful information for that enhancement.
Providing PR-s to `ng-jhipster` and `generator-jhipster` (this needs new

[2019-09-25 11:37] #10445 closed

[2019-09-25 12:03] wmarques commented on #10035
@SoniaLahi The first solution looks fine to me

[2019-09-25 12:38] kaidohallik commented on #10476
I raised PR-s jhipster/ng-jhipster#110 and #10492 to fix this issue.

[2019-09-25 15:22] amanganiello90 commented on #10482
Hi @Kerruba,
For your happiness in my PR I have also add a **--skip-app-type** option.
The default value, set by jhipster, is **monolith*, but you can change it in your server initialization phase.
Thanks

[2019-09-25 17:12] ecostanzi commented on #10491
Hi what are you using to generate the client code? A file or a live endpoint? Can you paste the openapi yml file and the console logs?

[2019-09-25 19:47] JamesBarnes88 commented on #10488
To answer @pascalgrimaud :

1. So without modifying the application, there is an issue with the generated Cucumber test. It doesn't pass. It generates the same elasticsearch error as above. Disabling the cucumber test, the other originally generated tests will pass as expected.

2. When I add a single integration test class and add a configuration class to this test, it fails the new test(created

[2019-09-26 04:32] SudharakaP commented on #8366
I've added the microservice flow for the `aws-containers` sub-generator. I thought about this for a while and tried different approaches and to me the one that made sense was to use the [Elastic Kubernetes Service (EKS)]().

Typical micro-service flow looks like this. Now this doesn't deploy the application to AWS but rather creates the EKS cluster and the ECRs and sets up everything necessary and

[2019-09-26 07:48] michael-simons commented on #9967
Thanks for the great summary, @atomfrede

I'll evaluate creating a blue print first, but also have a look at adding something to core again.

Specifically the maintenance burden needs to be clarified: SDN/RX is a standard Spring Data project. Dedicated maintenance would be required if one decides to provide embedded Neo4j support as well. I'll keep you posted.

[2019-09-26 08:31] sendilkumarn commented on #9967
Wow so nice to see this happening. 🎉 Congrats @michael-simons & @atomfrede

@michael-simons feel free to reach out if you have any issues/questions with the blueprint. More than happy to help.

[2019-09-26 08:51] vwiencek commented on #10491
Hello,

in order to generate the client code I do:
- `jhipster openapi-client`
- then choosing `from a JHipster /swagger-resources live endpoint`
- entering `http://localhost:8081` from aa freshly generated 6.3.1 project (see .yo file below)
- selecting `default (/v2/api-docs)`
- use Eureka discovery -> yes

[code]

[2019-09-26 11:00] arabbani commented on #2089
Any thought on implementing this feature? This is a very handy feature

[2019-09-26 11:01] pascalgrimaud commented on #2089
it is already done

[2019-09-26 11:03] arabbani commented on #2089
Oh really.. I haven't noticed. Thanks a lot.

[2019-09-26 13:33] SudharakaP commented on #10491
@vwiencek : It would be useful if you could complete all sections in the bug report; particularly your configuration (.yo-rc.json) files. That way we can reproduce your projects easily.

[2019-09-26 14:48] SudharakaP commented on #10481
This is due to our security policy recently being changed to deny all `X-Frame-Options` headers. I've relaxed this to allow same origin requests; which I think is okay. Correct me if I am wrong. :smile:

[2019-09-26 14:52] vwiencek commented on #10481
Could you please tell me what to change ? Thx

[2019-09-26 14:59] oheredia07 opened #10499 "react-app"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [ ] Checking this box is mandatory (thi

[2019-09-26 15:00] oheredia07 commented on #10499
init

[2019-09-26 15:06] clement26695 commented on #10481
You can check the changes made in @SudharakaP PR (https://github.com/jhipster/generator-jhipster/pull/10498/files#diff-5896bcb3f7efe22444d57880b0069cf3R240).

Basically, you would only have to replace `.frameOptions().deny()` by `.frameOptions().sameOrigin()` in your SecurityConfiguration.java file

[2019-09-26 15:12] pascalgrimaud commented on #10499
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-09-26 15:12] #10499 closed

[2019-09-26 16:34] SudharakaP commented on #10481
@clement26695 : Thanks 👍

@vwiencek : Just for the record, when creating future issues please include some more information such as filling up the 'JHipster configuration' section with your `.yo-rc.json` configuration at the very least. This way it would be easier for us to recreate your scenario. 😄

[2019-09-26 17:27] vwiencek commented on #10491
yes sorry.

here is my .yo-rc.json

[code]

and my second service

[code]

[2019-09-27 03:22] arabbani commented on #10223
Any update?

[2019-09-27 04:45] SudharakaP commented on #10491
While working on this issue I realized that the `cliName` variable defaults to value `default` returned by swagger and this creates a problem since `default` is a keyword in Java. Thus I set the default value of `cliName` to `apidocs` instead. The above pull request corresponds to that.

@ecostanzi : I did some analysis on this and to me this seems like a deeper issue (similar to https://github.co

[2019-09-27 05:34] rakeshkalra1983 opened #10501 "Keyclock session timeout after every 20 mins"
##### **Overview of the issue**

Hello, first of thankyou again for creating jHipster, it really helps me everyday to create projects very fast.

I have created a website mcqs.thinkscholar.com, which uses Keycloak for user authentication. My  issue is if I close my browser window and open my website, after say 20 mins, it again directs me to login page. How can I increase the login timout period t

[2019-09-27 08:32] rakeshkalra1983 commented on #10501
Kindly close this issue for now, I will try SSO Session Idle and SSO Session Max first, by setting both to 30 Days. I am hoping that will work..

[2019-09-27 08:42] #10501 closed

[2019-09-27 09:07] kaidohallik opened #10502 "Improve developer experience in VSC if open src/main/webapp/app"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

I have seen front end developer complaining about bad experience in Visual Studio Code:
* front end developer wants to see as few files as possible in the IDE
* front end developer opens only folder `src/main/webapp/app`
* Visual Studio Code is unable to resolve path `app` in Typescript imports, because `tsconfig.json

[2019-09-27 09:54] vishal423 commented on #10502
I think this is not just limited to absolute paths like add packages, run npm/yarn scripts from within IDE

[2019-09-27 12:33] #10476 closed

[2019-09-27 18:57] amrnablus opened #10506 "[Feature Request] read-only/maintenance mode"
##### **Overview of the feature request**

Basically, the methods on the web.rest that do not write any data get annotate (jhipster already does that with @Transational(readonly=true).
when the readonly flag is activated, any method not annotated as read-only will throw an Exception

##### **Motivation for or Use Case**

1. In case there is some maintenance going on and the user would like to keep

[2019-09-27 23:00] SudharakaP opened #10507 "Add Documentation of openapi-client Sub-generator"
##### **Overview of the issue**

I couldn't find any documentation about the `openapi-client` sub-generator within [https://www.jhipster.tech/](https://www.jhipster.tech/). Is documentation about this sub-generator available anywhere? If not, let me know I can add some? 😄

cc: @ecostanzi

##### **Motivation for or Use Case**

Complete documentation makes life easier 😄

##### **Related issues**

Re

[2019-09-28 09:59] ecostanzi opened #10510 "Improve openapi-client sub-generator"
##### **Overview of the feature request**

The current implementation of openapi-client wraps the openapi-generator-cli npm package. It generates the client code by running the following command via shelljs:
[code]
**The problem:**
The developers cannot customize the generation command and the openapi templates. The openapi-generator-cli plugin is blackboxed by the sub-generator and there's no cha

[2019-09-28 10:04] ecostanzi commented on #10507
Sure this is definitely something that needs to be done. I just opened issue https://github.com/jhipster/generator-jhipster/issues/10510 to discuss about some improvements. They will affect how the sub-module works and therefore the documentation related to it.

[2019-09-28 10:07] ecostanzi commented on #10491
@vwiencek for now I also suggest to do what @SudharakaP  suggests. I opened a new issue to discuss an improvement that could allow you to customize the generation command easily.

@SudharakaP thanks for the insights. I will try to upgrade to a newer version, let's see if something changes.

[2019-09-28 12:54] maku opened #10511 "Enhance documentation for upgrade version 5 to 6"
I have an application which is generated with jhipster version 5 (JHipster 5.0.0-beta.1). Now I have to upgrade the application to the latest jhipster version 6 and Java 11. In the documentation I was not able to find hints to do this... (and auto upgrade does not work)

e.g. there was significant changes like setting the default timezone to "UTC". When I have an existing app with an database: wha

[2019-09-28 13:31] SudharakaP commented on #10511
@maku : Here's the page that highlights the update process.

https://www.jhipster.tech/upgrading-an-application/#-upgrading-an-application

Did you follow this? You might have merge conflicts in which case you have to manually merge them. As for some helpful strategies on mitigating these merge conflicts and stuff; you will find some helpful tips from the community; such as the following talk.

ht

[2019-09-28 13:33] SudharakaP commented on #10507
@ecostanzi : Would you like to take this? Since you build this generator, maybe it's more appropriate for you to add the documentation. :smile:

[2019-09-28 13:44] maku commented on #10511
@SudharakaP Yes I tried but on running
`jhipster upgrade`
I got:
`ERROR! Error: Current directory does not contain a JHipster project.`

So I started to upgrade manually. Now the app runs with java 11 and the newest dependencies. But I'd like to be halfway sure I've taken everything into account.

And of course the **timezone** topic seems rather important to me (jhipster default to "UTC") -> What

[2019-09-28 14:13] SudharakaP commented on #10511
@maku : Could you please post your full error? I kindly suggest filing up a [bug report](https://github.com/jhipster/generator-jhipster/issues/new?template=BUG_REPORT.md) completing all relevant sections (especially the .yo-rc.json configurations) of the template, because if the upgrade is failing we need to take a look at it first and that way we could try to recreate you scenario.

I am not quit

[2019-09-28 14:39] poolebu opened #10513 "Fake Data for JDL string pattern causes liquidbase error"
##### **Overview of the issue**

For the following JDL descrpition:

The JDL ` String pattern(/^[^@\s]+@[^@\s]+\.[^@\s]+$/)` throws liquid base error when loading fake data.

[code]

The attached [centro_de_actividad.txt](https://github.com/jhipster/jhipster-core/files/3665572/centro_de_actividad.txt) CSV  of fake data is produced, which gives the error, I believe because a `;` is generated in the

[2019-09-28 14:53] maku commented on #10511
@SudharakaP it seems the project has no file ".yo-rc.json" Which explains why the update is not working....  This file disappeared a long time ago. and the project was managed manually...

[2019-09-28 15:20] SudharakaP commented on #10511
@maku : That's interesting and explains the problem :smile: I am not sure what to suggest except the fact that the application now probably no longer can be called a Jhipster application since there's no association with any jhipster command without a `.yo-rc.json` file. Maybe try to construct the `.yo-rc.json` file back given that you know you have a `5.0.0-beta.1` version and modify it as closel

[2019-09-28 15:36] maku commented on #10511
@SudharakaP  At least it  still uses the dependecy "jhipster-framework" (and also uses versions managed by jhipster -> dependencyManagement)

The current status is: I updated the app to the latest versions and Java 11. And it seems to work. But I would like to make sure that the timezone change makes us no problems....
But I really must thank you for your help...

Maybe @avdev4j  can give a short

[2019-09-28 16:21] ruddell commented on #10513
I moved the issue to the generator repository as the bug and fix will be here.

The issue is that [the regex pattern generation in the fake-data/table.csv.ejs template](https://github.com/jhipster/generator-jhipster/blob/5ec57a8d11b6332558d8c838ba48d87e9600aed8/generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs#L156) can generate semicolons if the regex

[2019-09-28 16:36] poolebu commented on #10513
Got it! Thank You @ruddell , I did that and it works wonders.

[2019-09-29 10:53] Vaelyr commented on #10506
@Transational(readonly=true) has very different purpose and is not meant for such use case. Also this cannot be changed at runtime. What you are proposing is completely different and special use case which does not seem to fit here at all and should be developed separately.

[2019-09-29 10:57] Vaelyr commented on #10418
Only proper solution is to inject Clock and construct date instances passing that in. Any other solution suggested here does not make any sense.

[2019-09-29 14:17] vishal423 commented on #10105
Bounty claimed https://opencollective.com/generator-jhipster/expenses/10350

[2019-09-29 15:34] pascalgrimaud commented on #10105
Just approuved.
Thanks @vishal423 !

[2019-09-29 16:22] pascalgrimaud commented on #10511
@maku :

There are a lot of changes between JHipster 5 and JHipster 6. The jhipster upgrade can't work as there are some breaking changes.

JHipster helps you to generate a new project. Once it is generated, the code belongs to you as you added your own code.

It would be easier if you upgrade your application each patch / minor version.

The best thing I can suggest is to look the related PR, the

[2019-09-29 17:43] amrnablus commented on #10506
True, my point was that @Transational(readonly=true) gets generated by jhipster, thus, jhipster "knows" when it's generating a readonly method and can annotate it on the controller level, beyond that @Transational(readonly=true) has no relation to this.

[2019-09-29 17:54] amrnablus commented on #10506
The implementation i have in mind roughly looks like this:
[code]
And there would be an aspect similar to the logging aspect that checks weather or not the system is in a readonly mode and returns an exception accordingly.

Another option we could do it block any request that's not GET, in which case the login needs to be hanlded separately.

[2019-09-29 18:02] SudharakaP commented on #10511
@pascalgrimaud : I've added two points to our update page about Jhispter Side-by-Side method as well as the recommendation to update between minor/patch versions rather than trying to update from a very old version. Let me know if there's any changes necessary.

[2019-09-29 18:58] tibistibi opened #10516 "I18N spelling error in dutch"
"password": {
      "forgot": "Ben u uw wachtwoord vergeten?"
    }

should be:

    "password": {
      "forgot": "Bent u uw wachtwoord vergeten?"
    }

[2019-09-29 19:13] tibistibi opened #10518 "I18N grammer error in dutch"
After password changes is successfull the message is:

Should be:

the 'hier' part is used in many locations better to keep that the same

[2019-09-29 19:36] JonasHess opened #10520 "Bug in regex escaping of entity field pattern validation"
JHipster v6.3.1
Windows 10
openjdk version "12.0.2"
maven 3.6.1

I have added an entity to my JDL with a field called “Person” like so:

[code]

The pattern validation on the Angular Component works fine:
[code]

But as soon as the object hits the back-end code, the DTO Class cannot validate the email field. The problem seems to be an escaping of already escaped backslashes on the DTO side.
[code]

[2019-09-29 20:26] SudharakaP commented on #10507
@ecostanzi : I've went ahead and created a pull request to add a small blob about the openapi client sub-generator. If you have any suggestions or alterations, feel free to let me know. :smile:

[2019-09-29 20:37] gmarziou commented on #10506
I think that most users don't expose their entities in REST layer, so I'm not sure this annotation would be often used.
Why not simply using `@Immutable`on the entity?

[2019-09-29 22:58] amrnablus commented on #10506
@gmarziou the point of this feature request is to render the _API_ readonly not a particular entity.
think of it this way, your master database is down and you want to perform some maintenance, normally you'd need to take the whole API down (or leave it up have tons of exception and more and more write requests to the master), it would be beneficial if we can mark the API as read-only mode, in whi

[2019-09-30 04:19] #10518 closed

[2019-09-30 04:20] pascalgrimaud commented on #10516
fixed by https://github.com/jhipster/generator-jhipster/pull/10517

[2019-09-30 04:20] #10516 closed

[2019-09-30 05:04] pascalgrimaud commented on #10506
Not sure I understand well your solution, but just to let you know it has been already asked with a good solution.

You can have a look at:
- https://github.com/jhipster/generator-jhipster/issues/8800
- https://github.com/jhipster/generator-jhipster/issues/9562
- https://github.com/jhipster/jhipster-core/issues/318
- https://github.com/jhipster/jhipster-core/pull/370

Some work has been done but n

[2019-09-30 05:04] pascalgrimaud commented on #10506
@amrnablus : can you read these tickets and tell us if it's what you have in mind ?

[2019-09-30 05:08] pascalgrimaud commented on #10511
I think it's good, so we can close this.
Thanks @SudharakaP

[2019-09-30 05:08] #10511 closed

[2019-09-30 05:24] SudharakaP commented on #10511
@pascalgrimaud : You are welcome. :smile:

[2019-09-30 05:35] #10507 closed

[2019-09-30 06:32] murdos commented on #10506
From what I understood, @amrnablus want to be able to switch all REST API of an application in read-only/maintenance mode for a period of time, either at runtime or with a configuration key.

IMO this feature is too specific to be included in JHipster.

[2019-09-30 07:00] MathieuAA commented on #10520
There may be an issue with the JDL doc about regexes, however the main issue is about what's generated. I'll create a separate issue on JCore about the doc, so that this issue only handles the generation part.

[2019-09-30 10:45] michael-simons commented on #9967
As a quick feedback: We evaluated both options: Modifying the core and on a blueprint. While I personally like the blueprint approach a lot, it seems to be like a lot more effort (i.e. adapting options, covering all paths that may be taken).

Therefor I focussed on modifying `server` and `entity-server` of the core generator.

You can keep track here
https://github.com/michael-simons/generator-jhi

[2019-09-30 13:51] amrnablus commented on #10506
Yep, that's exactly what I mean. Although I don't think it's very specific, that's just good design

[2019-09-30 16:40] pascalgrimaud commented on #10506
So it confirms what @murdos said.
It's really too specific. For doing that, you can have an Apache Httpd server, or NGinx. It's far easier.

From an architecture point of view, if your application is down, you can't call API, so readonly mode is useless.
If your database is down, you have a big problem. Resolving this by putting API in read only mode, is only possible by using the cache system. Th

[2019-09-30 16:50] amrnablus commented on #10506
There are quite a few caess where your database is not just down (i mean in this case yes you're pretty much screwed and there is nothing jhipster can do).
You could be recieving too many writes and it's slowing everything down, you cloud put your API in a readonly mode until you spin a different server.

As for http caching, i'm guessing you mean something like varnish? That works but the state o

[2019-09-30 18:04] mraible commented on #10506
I would recommend using your hosting provider to give you this functionality. For example, Heroku has a "maintenance mode" feature. https://devcenter.heroku.com/articles/maintenance-mode

[2019-09-30 18:20] Simsal opened #10525 "jhipster aws seems to be broken"
##### **Overview of the issue**

I can't deploy my application to aws via the jhipster aws subgenerator. It fails with the following information.

[code]
##### **Motivation for or Use Case**

##### **Reproduce the error**

1. Generate new monolithic jhipster application
2. Follow the documentation [here](https://www.jhipster.tech/aws/)

##### **Related issues**

https://github.com/jhipster/generat

[2019-09-30 18:37] SudharakaP commented on #10525
@Simsal : Thanks for reporting the issue. Let me try to recreate your issue in the evening. Both AWS sub-generators haven't been maintained for a while. And there might be some issues related to these. That being said I was working with this sub-generator around two weeks ago and it seems to work.

As a workaround, did you try manually deleting all the resources that were created and then invoking

[2019-09-30 19:10] gmarziou commented on #10506
As Pascal said, it's easy and more effective to do it from a reverse proxy like nginx configured to limit all HTTP methods except GET.

[2019-09-30 20:17] Simsal commented on #10525
@SudharakaP thanks for having a look at this.

Actually it was my very first try. Been looking for alternatives as my free year at another hosting site ran out.

The S3 instance gets created, but I don't see any database within my AWS console.

[2019-09-30 20:33] SudharakaP commented on #10525
@Simsal : Did you go to the RDS console, click on your database (does one exist?), then choose Instance actions -> Modify?

[2019-09-30 20:41] Simsal commented on #10525
I tried the generator with my real application and  with the testjhipster one, so there should be at least two databases available, but there is none.

[2019-09-30 22:10] SudharakaP commented on #10525
@Simsal : Okay, seems like it needs some deeper analysis. Let me try to recreate your scenario and get back to you. 😄

[2019-09-30 22:56] mshima opened #10528 "Improve jhipster client/server workflow."
##### **Overview of the feature request**

Yeoman generators are designed to work in parallel (a priority must be run in every generator before moving to another).

We must be clear on what each priority should do:
- initializing: display logo, and load config needed by prompting.
- prompting: display prompts, prompts should save directly to this.config.
- configuring: configure itself
- default:

[2019-09-30 23:34] DanielFran commented on #10423
@jdubois I have implemented the changes but I cannot test it.
Do you have any contact that could validate it is OK?

[2019-10-01 03:42] vishal423 commented on #10418
I generally use relative assertions in such scenario:

`assertThat(obs.getStartDate()).isNotNull().isBeforeOrEqualTo(LocalDateTime.now());`

[2019-10-01 05:39] SudharakaP commented on #10525
@Simsal : Okay, I've recreated your error. It seems to me that from a previous run perhaps you have a Security Group that needs to be deleted manually. In your AWS account please go to EC2 and click on Security Groups;

![image](https://user-images.githubusercontent.com/12435965/65935964-c129fa80-e3cf-11e9-899d-3e99d03c51b3.png)

My theory is that you should see two Security Groups; there's a defa

[2019-10-01 06:00] SudharakaP commented on #10525
I've added some info on how to cleanup all the resources that are created to the documentation as well.

[2019-10-01 07:13] jfougere opened #10529 "Sonar code coverage regression after change from binary to xml format"
##### **Overview of the issue**

Code coverage report from Jacoco are not taken into account anymore by Sonar.

In version 6.3.0, Sonar config was change to use XML report instead of .exec binary report file.
However pom.xml config does not match the config in sonar-project.properties. Sonar config expect jacoco.xml files but the pom.xml is still configure with .exec files.

Also it seems that now

[2019-10-01 07:33] atomfrede commented on #10401
I think we can close this and discuss further things on our mailing list if needed.

[2019-10-01 07:33] #10401 closed

[2019-10-01 07:39] atomfrede commented on #9967
@michael-simons Thanks for your heads up! Nice work. So it seems my assumption a module is to less and a blueprint way too much overhead for such a "small" change has proven to be true.

I would appreciate having neo4j in the main generator and having e.g. you and @conker84 as maintainer (I will help where I can of course) and have it for example as a beta option (as we have for infinispan). I thi

[2019-10-01 07:42] jdubois commented on #10423
@DanielFran you mean to get an Oracle license? Unfortunately not... I'm not sure if there are official Docker images for that, but Oracle XE is supposed to be free for dev usage, so you can totally use it for testing.
Then that's a lot of work of you, if it's just getting the same driver, but from another repo, for me it's good.

[2019-10-01 07:43] jdubois commented on #10423
Oh, and if people who have all the $$$ to buy Oracle databases could help on this, this would be great!

[2019-10-01 07:44] codecholeric commented on #10476
@kaidohallik thank you so much for fixing this so quickly, I really appreciate it :smile:

[2019-10-01 07:49] DanielFran commented on #10423
@jdubois I validated other projects and the impacts is pratically what I implemented... So I will commit it.
Thanks

[2019-10-01 07:51] #10423 closed

[2019-10-01 08:31] arabbani commented on #9967
What about JDL. Is there gonna be jdl support for neo4j

[2019-10-01 08:38] michael-simons commented on #9967
@atomfrede Yes, totally correct.

@arabbani I didn't touch it yet, but there's no reason why it shouldn't work for Neo4j SDN/RX, we support all the relevant mappings.

[2019-10-01 08:41] arabbani commented on #9967
Great

[2019-10-01 08:42] arabbani commented on #9967
Will try it out

[2019-10-01 09:49] pascalgrimaud commented on #10529
@jfougere : looks like you know how to fix this. Do you want to contribute and PR ?

[2019-10-01 10:35] jfougere commented on #10529
About this comment "Also it seems that now if we try to skip tests, the builds fails because it is trying to get the jacoco report.".

I retested again and the scenario is the following:
- 1) build with coverage report
- 2) build with skipped tests and no clean

In this configuration, we had no failure before but not it fails with the following:
[code]
I suppose probably because an xml report file

[2019-10-01 10:57] kaidohallik commented on #10220
I saw that @deepu105 added label `Hactoberfest` here.

I think that for file renaming tasks precondition is merging PR #10521 - then people who upgrade:
* will see notifications in the console if old and new content of the renamed file differ
* in Git commit preview can see what files are renamed and can see changes between old and new version

[2019-10-01 11:06] jfougere commented on #10529
@pascalgrimaud just pushed a PR but only on the report file names which are incorrect.

[2019-10-01 11:12] pascalgrimaud commented on #10529
wow so fast, thanks @jfougere !

[2019-10-01 11:32] jfougere commented on #10529
@pascalgrimaud seems the build is failing and from what I see because of the second issue I was raising about the jacoco complaining about previous reports...

I'll try to have a look into that but I don't have many ideas

[2019-10-01 12:15] jdubois commented on #10529
Congrats for your first ticket & PR @jfougere !! We worked on the same project more than 10 years ago, world is small :-D

[2019-10-01 12:34] jfougere commented on #10529
Indeed it is! Wow 10 years.... feeling old all of a sudden!

[2019-10-01 12:38] jdubois commented on #10529
@jfougere it's all in your head, now that you're a jhipster you are probably younger than many millennials !

[2019-10-01 14:12] Simsal commented on #10525
You are right. After deleting the security group and adding the additional policies, the deployment process works.
Thank you very much for your help.

Maybe it would also be a nice hint in the documentation that the deployed application is not reachable via the instance dns address, but via the loadbalancer that also gets created at the deployment process :) .

[2019-10-01 14:12] #10525 closed

[2019-10-01 14:37] SudharakaP commented on #10525
@Simsal : You are most welcome :smile:

I'll leave the addition of the load balancer documentation for now but I'll revisit this in the next iteration when I do some improvements to it. :smile:

[2019-10-01 15:07] Simsal opened #10533 "jhipster gae seems to be broken"
##### **Overview of the issue**

I had a running application on google gae, deployed via jhipster gae. This was with jhipster 5.x. Deployment of this old version still succeeds.

Deployment of newer jhipster versions doesn't work.

GAE Error reporting doesn't show any errors.

##### **Motivation for or Use Case**

I can't update my application

##### **Reproduce the error**

It is reproducable by

[2019-10-01 15:07] pascalgrimaud commented on #10529
Yes, it seems related to https://github.com/jhipster/generator-jhipster/pull/10293
Maybe @clement26695 you have time to have a look plz ?

[2019-10-01 15:24] SudharakaP commented on #10533
@Simsal : Hi again Simsal. Seems you are doing deployments in all platforms. :smile:

I think I know what is going on here. Firstly we have migrated to Jar packaging; which is why you see one file probably. Since we now support [AppEngine standard with Java 11](https://cloud.google.com/appengine/docs/standard/java11/); I suggest you build the application in Java 11. You can easily change this by c

[2019-10-01 16:57] SudharakaP commented on #10362
@deepu105 : Thanks for assigning a bug bounty for this; although not strictly necessary as I enjoyed doing it. I am getting a lot of coffees and teas for myself these days thanks to the extra pocket money. 🍵 🍵

[2019-10-01 17:35] Simsal commented on #10533
Hey, be prepared for some problems in azure ;)

Thank you for your input, I really appreciate it.

Ah, I missed the part with the F1 instance within the other issue. I already tried it with the java 11 compiling.

So with the change to F2 I get atleast errors within gae.
There is a

error.
Do you think that this is somehow related to the generator?

Errormessage:
`org.springframework.context.Appli

[2019-10-01 18:15] SudharakaP commented on #10533
@Simsal :

As far as I know, there's no sub-generator for Azure but rather documented instructions on how to deploy using Docker or Kubernetes (https://www.jhipster.tech/azure/). It would be interesting and yes, I might be able to take a look there too if you run into problems. 😄

You are welcome. 😄

I have encountered this error. I don't remember with absolute clarity on how I get over this; but

[2019-10-01 20:37] atomfrede commented on #10035
@SoniaLahi I have created a PR if you like we can split the bounty.

[2019-10-01 21:05] SoniaLahi commented on #10035
Hi @atomfrede ok for me !

[2019-10-02 00:43] jfougere commented on #10529
OK so first @jdubois my sincere appologies for this first ticket and PR.... I'll do better next time. You can actually close this issue and declined the PR!
I promise as punishment I'll try to pick an issue and fix it :)

ok so some explanations:
-1) about the build issue it is actually because of my "fix" in the pom. The jacoco plugin is still producing binary file in .exec format and then in the

[2019-10-02 02:11] SudharakaP commented on #10533
@Simsal : Sorry, the command should be `./mvnw package appengine:deploy -DskipTests -Pgae,prod-gae`.

[2019-10-02 02:17] yelhouti commented on #9777
@deepu105 thanks for adding a bounty for this, I would really like to fix it, if we can agree on removing all references of the namespace from the yml files

[2019-10-02 03:15] SudharakaP commented on #10533
@Simsal : Sorry, I've made a mistake in my above comment. Firstly the command to deploy should be, `./mvnw package appengine:deploy -DskipTests -Pgae,prod-gae`. Secondly this works after the the pull request https://github.com/jhipster/generator-jhipster/pull/10420 is merged.

[2019-10-02 03:59] arabbani commented on #9967
What about GraphQL integration. [neo4j-graphql-java](https://github.com/neo4j-graphql/neo4j-graphql-java)

[2019-10-02 04:35] yelhouti opened #10539 "Move back to angular cli"
##### **Overview of the feature request**

I would like to use angular cli in conjunction with jhipster,

##### **Motivation for or Use Case**

Angular CLI has well matured since it's start, and allows to easily enable features like Ivy...,
I suggest we switch back to using it.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/issues/9817 discussion started here, but

[2019-10-02 04:52] pascalgrimaud commented on #10529
@jfougere : no problem ! I'd prefer someone who opened a ticket, tried to fix an issue and was wrong than someone else who found a real bug and didn't share it...

So thank you for sharing what you encountered and the solution behind this.

[2019-10-02 04:52] #10529 closed

[2019-10-02 06:36] SudharakaP commented on #10533
@Simsal : I couldn't recreate the same error you got but I did manage to get a similar error even when using F2 instance and your exact same configuration. It seems that the memory exceeded after serving some requests. Could you please try a class larger than F2 instance or keep F2 as it is and increase the max instance count to 2 or more. I believe this should fix the issue.

[2019-10-02 07:14] pascalgrimaud commented on #9777
cc @SudharakaP : what do you think about this ?

[2019-10-02 07:38] yelhouti commented on #10539
@pascalgrimaud does it mean you guys agree on switching back to angular cli and removing most (all?) of the custom webpack config?

[2019-10-02 07:45] jdubois opened #10542 "SSL: Keytool usage modification"
In order to generate SSL certificates, we use "keytool" at generation time.

I have just seen that its usage has been modified, so we need to check this and probably upgrade:

[code]

[2019-10-02 07:45] pascalgrimaud commented on #10539
We tried several years ago and it didn't manage to make angular cli working.
If I'm not wrong, @wmarques proposed on Twitter to switch to Angular CLI.

For me, if we manage to make angular cli compatible with JHipster, it's fine.
But, I'm not a front guy, so @wmarques @vishal423 @kaidohallik are the best here to answer !

[2019-10-02 07:56] PierreBesson commented on #9777
I agree let's do it.

[2019-10-02 08:02] yelhouti commented on #9777
On it

[2019-10-02 08:12] laurentsorin opened #10544 "Hibernate 5.3.11 critical issue"
Hi,
##### **Overview of the issue**

After upgrading my app to this jhipster version, I encountered this critical issue : https://hibernate.atlassian.net/browse/HHH-13590

After few searches, I noticed that Jhipster 6.3.1 use hibernate 5.3.11 from jhipster-dependencies 3.0.5 (see https://github.com/jhipster/jhipster/blob/3.0.5/jhipster-dependencies/pom.xml) but a critical bug has been solved by hi

[2019-10-02 08:28] DanielFran commented on #10544
@laurentsorin Thanks for the report!
Working actually to upgrade an actual project and figure out the same issue.

Actually spring-boot 2.1.9 is expected to be out today that includes the update of Hibernate version: https://github.com/spring-projects/spring-boot/issues?page=1&q=is%3Aclosed+milestone%3A2.1.9

So I am more in favor to upgrade to latest spring-boot version!

@jhipster/developers We

[2019-10-02 08:35] pascalgrimaud commented on #10544
I should be able to do a release if needed

[2019-10-02 08:50] jdubois commented on #10544
Thanks a lot @laurentsorin !!!
I'll be travelling this weekend (to SpringOne!!) so thanks @pascalgrimaud for taking care of the release

[2019-10-02 09:06] yelhouti commented on #10539
I'm waiting for the go from any of you guys: @wmarques @vishal423  @kaidohallik

[2019-10-02 09:13] DanielFran commented on #10544
@jdubois @pascalgrimaud Working on the update...

[2019-10-02 09:24] pascalgrimaud commented on #10544
I'm adding a bounty on this, as it looks important.
Thanks @laurentsorin for reporting this.
Thanks @DanielFran for working on the fix

[2019-10-02 10:08] vishal423 commented on #10539
@yelhouti, yes I would also like to migrate to `angular cli`. I proposed that for v7 in this [thread](https://groups.google.com/forum/#!topic/jhipster-dev/QI1b5frW13A) as it would be a breaking change. As per my understanding, @wmarques might have already started on it.

[2019-10-02 10:18] #10449 closed

[2019-10-02 11:44] yelhouti commented on #10539
thanks @vishal423 for your comment, @wmarques do you want any help for this?

[2019-10-02 12:11] #10355 closed

[2019-10-02 12:12] DanielFran commented on #10355
@gzsombor Do not forget to claim bug-bounty.

[2019-10-02 13:29] deepu105 commented on #10539
When we tried last time it was difficult to get some of the custom stuff we
were doing and also the bundle size was not as good as what we had. If it's
possible to get similar results with CLI without breaking changes then I'm
ok with that. If there are breaking changes then may be better to postpone
for next major version

On Wed, 2 Oct 2019, 1:45 pm yelhouti, <notifications@github.com> wrote:

[2019-10-02 15:09] SudharakaP commented on #9777
@pascalgrimaud : I am in the process of learning Kubernetes more deeply, so I am not sure if I am the right person to ask this question :smile:

Having said that I do think @yelhouti 's approach is more in line with what [Google seems to suggest](https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-organizing-with-namespaces); especially if you want to use [kubens](https://github.c

[2019-10-02 16:15] PierreBesson opened #10547 "Current Kubernetes deployment liveness probes not satisfactory"
##### **Overview of the issue**

As brought to attention by some member of the community, liveness probes are often misused (see: https://srcco.de/posts/kubernetes-liveness-probes-are-dangerous.html). I think we fell in this trap with our current liveness probes in JHipster.
Currently the generated liveness probe for kubernetes deployments is set to `/management/health`. This is not a good practic

[2019-10-02 16:18] wmarques commented on #10539
I'm working on it and I will continue this work during JHipster day at Ippon offices next Tuesday.
I will be able to provide a PR.

@deepu105 we can now extend their config so we should be able to keep our improvements.

[2019-10-02 16:22] RDsideNow commented on #10178
@pascalgrimaud

For my i am trying to nest or inject another component form into a parent form (invoice line to an invoice).

Current jhipster implementation joins these through the track by id on the template.

What was referenced may not be the solution, but essentially i wanted to be able to nest full components in other components.

I hope that explains it better?

On a side note, has ngrx int

[2019-10-02 16:36] PierreBesson commented on #9778
For me this is only halfway through what I want because I would like to be able to set the env variables for both the back-end and front-end through regular spring properties. Also as far as I understood your implementation is not able to read system environment variables and set them in the angular context.
I wish there was a real property management lib in js that we could use for all 3 framewor

[2019-10-02 16:55] atomfrede commented on #9822
Is someone working in this and do we have a decision what to use as unique part of the cache key? Could work on this during hacktoberfest...

[2019-10-02 17:12] Hawkurane commented on #7966
Is anyone working on this? I would like to have a go at it :)
I have the UI displaying but am still working on passing the token to the swagger ui

[2019-10-02 17:16] pascalgrimaud commented on #7966
go, it was opened for too long

[2019-10-02 19:11] tkvangorder commented on #9822
I've not had a lot of time lately to dedicate to open source, but I am more than happy to help anyone that wants to take on this issue. My DMs are open @tkvangorder on twitter.

[2019-10-02 19:36] atomfrede commented on #9822
Thanks @tkvangorder for the heads up! Will go on and propose a first PR

[2019-10-02 19:44] #10547 closed

[2019-10-02 20:13] gzsombor commented on #10355
Thanks, I submitted this: https://opencollective.com/generator-jhipster/expenses/10505

[2019-10-02 22:08] #10513 closed

[2019-10-02 22:19] yelhouti commented on #10539
@wmarques great thanks for letting me know (it avoids double work), can I join the session remotely?

[2019-10-02 22:46] yelhouti commented on #9778
@PierreBesson for the backend part, application.yml/application.prod.yml already solves that problem, this files could be modified in production in order to change the behavior of the backend.

You don't want to read the env.js properties from a spring endpoint. this would require to send a request and interpret the answer (in angular case, this would work only after angular is loaded)

The way it

[2019-10-03 05:22] yelhouti commented on #10198
I would also add the following, the current version uses the constructor of an entity to initialize the asome fields (ex: boolean to false...) IMO, this should be done in the form initial values.
Also the route entity resolver (that retrieves the entity if the id is defined), should return `of(undefined)` when there is no Id. why do you think?

[2019-10-03 06:30] kaidohallik opened #10551 "Open login window if JWT is expired in Angular"
##### **Overview of the feature request**

Currently, if using **session authentication** then after session expiration `AuthExpiredInterceptor` opens login window and user can log in again.

But if using **JWT authentication** then if token is expired then `AuthExpiredInterceptor` is doing only logout and doesn't open login window, it leads to bad user experience - strange state is in UI:
* navba

[2019-10-03 06:53] jkoorts opened #10552 "ArchTest:servicesAndRepositoriesShouldNotDependOnWebLayer should be deleted"
The arch test tests that Services and Repo's don't have web imports.

That is a problem cause with openapi (a jhipster supported tool) you get a delegate which resides in the web package. You use that delegate in a service. This causes test servicesAndRepositoriesShouldNotDependOnWebLayer to fail.

From an example Delegate:
/**
 * A delegate to be called by the {@link ModelApiController}}.
 * Impl

[2019-10-03 07:11] atomfrede commented on #10552
I will check what do do about it. The implementation of the delegate might be a service, but from an architectural point of view they belong to the web layer imho, so I guess the layer definition/slicing in the test doesn't take that into account.

[2019-10-03 07:18] jkoorts commented on #10552
When you say the service should go into web layer, then looking at the JHipster created the package below. Do you imply that not all @Service should go to that package?

/**
 * Service layer beans.
 */
package your.domain.service;

[2019-10-03 07:50] PierreBesson commented on #9778
@yelhouti I'm not sure you understood my point. I think it's because environment variable means different things for us. For me it's something like ENV_VAR that I can set for docker containers (I'm mostly concerned with the devops side as I'm now doing this full time in my current job). So from this point of view I would find it useful to set a property value for both front end and backend.
Initia

[2019-10-03 08:05] yelhouti commented on #9778
@PierreBesson Oh I see, but why are you trying to use env variables, aren't config maps much better for this usecase?

[2019-10-03 08:33] PierreBesson commented on #9778
Well the property can come from a configmap but my current way to do it is to always inject by env var. Also I have to manage secrets and config properties shared accross multiples services.

[2019-10-03 08:48] yelhouti commented on #9778
Personally, I think that something that specific for your use case should not be added to JHipster, but I might be wrong, so your call...

[2019-10-03 12:38] #10544 closed

[2019-10-03 12:56] PierreBesson commented on #10547
Note that we could use the new HealthIndicator group feature in the future SB 2.2 release however this would not be compatible with previously generated apps so this might be nice to do this later for a major release https://docs.spring.io/spring-boot/docs/2.2.x-SNAPSHOT/reference/html/production-ready-features.html#health-groups

[2019-10-03 17:46] #10247 closed

[2019-10-03 19:41] atomfrede commented on #10552
Do you have an example? Where did you put your delegate implemenration? I think it depends on your desired architecure. I would put the implementation of the delegate under `web` and annotate it with e.g. `@Component`. So the arch test makes sure e.g. no web exception (aka zalando problems) are used within your business code.

[code]

[2019-10-03 19:43] #10552 closed

[2019-10-03 23:15] DanielFran commented on #10544
@pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/10568

[2019-10-04 01:34] ruddell commented on #10533
Do we set `_JAVA_OPTIONS=-Xmx512m -Xms256m` or similar config anywhere for AppEngine?  For example, Docker [does it here](https://github.com/jhipster/generator-jhipster/blob/ad4131887c1161ea77ad0ab4fff6fef57a5eacd0/generators/server/templates/src/main/docker/app.yml.ejs#L24) and Heroku [does it here](https://github.com/jhipster/generator-jhipster/blob/ad4131887c1161ea77ad0ab4fff6fef57a5eacd0/gener

[2019-10-04 05:47] yelhouti commented on #10198
Also and more importantly IMO, createFromForm should use this.editForm.value .
Why? so that disabled fields are not send, ...

[2019-10-04 06:00] #10288 closed

[2019-10-04 06:21] SudharakaP commented on #10533
@ruddell : Actually this is a very good point, which I totally missed; yes app engine can set it; https://cloud.google.com/appengine/docs/standard/java11/runtime#application_startup. I think we should add this as well to our `app.yaml` file. Since this is a minor change, I'll add this to our [existing pull request](#10420).

@Simsal : You can try this too; all you got to do is set `entrypoint: jav

[2019-10-04 08:47] atomfrede commented on #10418
@jhipster/developers Do we have a decision here? The minimal solution would be to use relative assertations maybe, but I still believe injecting a clock is the "best" solution from a testability perspective.

[2019-10-04 08:55] vishal423 commented on #10418
To understand better, what are we trying to test by injecting a mock `Clock` object? As an example, in my service, I want to ensure that the creation date should always be a current timestamp, then, how injecting a mock will help to verify this assumption/business requirement?

[2019-10-04 09:11] kaidohallik commented on #10220
This comment is preparation to resolve this issue (after #10521 is merged which partially resolves this and adds core functionality for other changes).

As in #10443 was already started removing prefix so I think we should resolve this issue by removing prefixes `<%=jhiPrefixCapitalized%>` and `<%=angularXAppName%>` from all components, services and modules.

@deepu105 said in one previous comment

[2019-10-04 09:38] antonioortizpola commented on #10418
It depends a lot of what are you tring to achieve, for example, we work with different timezones, so, some conversions are needed, it is easy to test known dates, because of summer/winter times, or adjustments.

Other case is processing failures and retries, maybe you need to force a process to fail, and then have the mock to go forward in time so you do not need to wait.

There are many more scen

[2019-10-04 09:56] #10035 closed

[2019-10-04 09:57] DanielFran commented on #10035
@atomfrede DO not forget to claim the bug bounty

[2019-10-04 11:10] sdyson commented on #6410
@stieler-it, thanks for the suggested workaround to lookup the entity in the Mapper. How do you inject the Repository into the Mapper, given it is an interface and the implementation is generated at build time?

[2019-10-04 12:17] wmarques commented on #10178
@RDsideNow Hi, we never discussed about ngrx actually.
For me it adds a lot of boilerplate code for a basic app so I'm not in favour of implementing it, but we can discuss this with other contributors of course, that's only my opinion.

When you say "decoupling form in the component" do you mean using Reactive Forms ? Because that's already the case if I'm correct.

I agree that we lack of a formA

[2019-10-04 12:24] wmarques commented on #10539
@yelhouti Sorry the Jhipster Day will be on tuesday 15th and not next tuesday. Of course you can join this remotely.

If you want to progress further on it I can provide a starting point on my repo and give you the rights to contribute on it :)

[2019-10-04 12:35] yelhouti commented on #10539
Sure, please don't hesitate

[2019-10-04 13:18] yelhouti commented on #10539
@wmarques is there some calendar I can subscribe to?

[2019-10-04 14:40] duderoot commented on #10464
@atomfrede in which step will the _nohttp plugin_ be run? From what I see one needs to execute explicitly the checkstyle plugin manually  .e.g.  mvn checkstyle::check. Do we want to put this step as a prestep before compile in the ci-cd files?

[2019-10-04 14:44] speermahi opened #10557 "duplicate key-value in webpack.prod.js.ejs"
`
compress: {
                        dead_code: true,
                        warnings: false,
                        properties: true,
                        drop_debugger: true,
                        conditionals: true,
                        booleans: true,
                        loops: true,
                        unused: true,
                        toplevel: true,

[2019-10-04 14:54] skmaingi opened #10558 "JDL Parsing error"
##### **Overview of the issue**
JDL parsing generates the error "IllegalNameException: The name 'Response' is a reserved keyword and can not be used as entity class" for entity with the name Response.

[2019-10-04 15:00] #10558 closed

[2019-10-04 15:01] murdos commented on #10558
This ticket has been closed as the guidelines are not followed.

Tickets must follow our Guidelines, as mentioned in:

    our Readme file on the front page of the project,
    the "create a new ticket" page and
    our Help page

We have also created a template on the "create a new ticket" page to help you follow those guidelines.

If this is indeed a JHipster bug, please open a new issue with pr

[2019-10-04 15:02] murdos commented on #10558
The error is explicit: this is a reserved error.

[2019-10-04 17:33] vishal423 commented on #10557
@speermahi, would you like to contribute fix?

[2019-10-04 18:23] atomfrede commented on #10464
Not really sure. I would put it into the verify phase maybe.

[2019-10-04 18:36] skmaingi commented on #10558
I won't even bother with a bureaucratic process. replying with a link of JDL reserved words takes less energy.

[2019-10-04 21:19] #10557 closed

[2019-10-05 01:20] vishal423 commented on #10311
I have personally observed parallel execution gain in a multi module complex codebase. Since generated code is pretty simple, I am not sure if it would provide lot of value add. Further, we have moved few builds from `travis ci` to` github ci` and build execution on travis has come down to ~25 mins. Should we close this ticket?

[2019-10-05 02:15] SudharakaP commented on #10311
@vishval423 : I agree. I was thinking yesterday what to do about this issue too. I think at this point my original intention is met; which is to reduce the build time mainly a result of the slow Travis build. I was experimenting with azure caches too but I think that is not the main point of this issue, and they don't seem to gain a significant reduction. And I also think at this point we don't pr

[2019-10-05 02:15] #10311 closed

[2019-10-05 14:03] Spingular opened #10564 "Exporting Event Manager"
* **Overview of the request**
There is a new:

	import { EventManager } from 'ng-jhipster';

Jhipster v6.3.1

The old one was:

	import { JhiEventManager } from 'ng-jhipster';

IDE says: [ts] Module '"D:/BasuraTemporal/Jhipster/spingularchat631/node_modules/ng-jhipster/ng-jhipster"' has no exported member 'EventManager

How can I export it?

How can I export it? Or fix it?

* **Motivation for or U

[2019-10-05 14:16] DanielFran opened #10565 "Update spring-boot to 2.2 and spring-cloud to Hoxton"
From spring calender: http://spring-calendar.cfapps.io/

- Spring-boot 2.2 is expected on [October 16th](https://github.com/spring-projects/spring-boot/milestones): https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.2-Release-Notes

- Spring-cloud Hoxton is expected on [November 7th](https://github.com/spring-cloud/spring-cloud-release/milestones) : https://github.com/spring-project

[2019-10-05 17:06] wmarques commented on #10539
@yelhouti here is the branch https://github.com/wmarques/generator-jhipster/tree/add-angular-cli

[2019-10-05 17:24] wmarques commented on #10184
@pascalgrimaud done https://github.com/jhipster/jhipster.github.io/pull/816

[2019-10-05 17:33] #10059 closed

[2019-10-05 17:36] pascalgrimaud commented on #10184
thanks @wmarques

[2019-10-06 11:51] filiphr commented on #10399
I am one of the MapStruct maintainers and it feels like we can and should do better about this.

I don't know much about the structure of the entities that jHipster generates. For the `removeXXX` perhaps we can do something similar like with the adder methods.

I am curious about the other methods though `clients` for example. Is it on purpose that you don't want to map the lists, or is it somethi

[2019-10-06 13:15] stieler-it commented on #6410
@sdyson as far as I remember we had abstract classes as mappers. Most of the mapping logic was generated at build time, however we could still provide methods for generating entity classes there. I just asked Google and there seems to be another interesting way: https://mapstruct.org/documentation/stable/reference/html/#object-factories

[2019-10-06 17:33] SudharakaP commented on #10345
Do you guys like to add this to the existing generator, create a new generator (i.e: gae-microservices) or add this as a module? Let me know what you think. Just asking this since in some threads I've seen the reluctance to add new generators to due to maintainability. 😄

[2019-10-06 18:25] atomfrede opened #10566 "Save language to profile after change"
##### **Overview of the feature request**

In the vue.js generator an issue was raised, that the selected language is not persisted and therefore lost after doing a hard reload. To overcome that one could persist the language also in local storage. I think it would be good to store the selected language in the user profile, otherwise the user has to update its profile in order to have the selected

[2019-10-06 18:59] gzsombor commented on #6410
I think, my suggestion from 2017 still valid : https://github.com/jhipster/generator-jhipster/issues/6410#issuecomment-332315624

[2019-10-07 07:03] atomfrede commented on #10258
I think we can close this as we have only seven issues (which are false positives) left.

[2019-10-07 07:03] #10258 closed

[2019-10-07 07:30] duderoot commented on #10464
Isn't the `verify` phase a little too late? I mean at that point the libs are already downloaded. IMHO this should be done at the beginning of the lifecycle e.g. `validate` or `compile`. If we add a dedicated task to the pipeline this should be also at the begin of the pipeline.

[2019-10-07 07:33] atomfrede commented on #10464
True enough.

[2019-10-07 08:03] sdyson commented on #6410
@stieler-it thanks, I figured out the same solution using abstract classes for the mappers. So far it works well for the few entities I have implemented, but I have over 40 entities so it would take a while to implement all of them. Given the solution seems to work well it is a shame this issue has been closed rather than implemented what seems to be a fairly simple solution.

[2019-10-07 08:07] sdyson commented on #6410
@gzsombor, I think your suggestion of having separate mappers to finely control what is indexed in ES is a very good idea. I understand the reservation about increasing the amount of generated code, but then isn't that also what is so great about JHipster? As long as the code is well architected, easy to understand and extensible then I really don't mind how much code it generates. The more custom

[2019-10-07 08:16] cmoine opened #10568 "Improve the App Generation on the web portal"
##### **Overview of the feature request**

I don't know if this is the right place to submit the ticket since it is related to the web portal (https://start.jhipster.tech/#/generate-application). The actual implementation is pretty basic, and does not allow to use it in a productive manner.

##### **Motivation for or Use Case**

I found this web page very convenient because I did not have to insta

[2019-10-07 09:40] anthony-o commented on #10184
Perhaps the Babel part could be a bit more explicit? By specifying which exact file to modify in the JHipster already generated files in order to insert such a configuration?

[2019-10-07 10:50] levitesm opened #10569 "Try-Catch not working as expected"
Hello!

I have a question regarding the code generated by JHipster.
I'm using the Vue.Js blueprint.

In all the services for each entity in frontend JHipster is generating several standard functions which look like this:

_public update(entity: ICompetitors): Promise<ICompetitors> {
  return new Promise<ICompetitors>(resolve => {
    axios.put(`${baseApiUrl}`, entity).then(function(res) {
      re

[2019-10-07 11:01] atomfrede commented on #10568
We have plans to integrate vue.js into the mainline generator targeted for jhipster 7. Until then you have to install jhipster locally unfortunately.

[2019-10-07 11:33] stieler-it commented on #6410
@sdyson

I am pretty sure that we implemented a small template in our (private) fork of JHipster that did exactly this. Unfortunately I don't have access to the code any more.

[2019-10-07 11:46] murdos commented on #10569
This issue seems related to https://github.com/jhipster/jhipster-vuejs.
I tried to transfer the issue there, but I can't, probably because I don't have enough rights on jhipster-vuejs project.

[2019-10-07 12:05] pascalgrimaud commented on #10184
@anthony-o : I would suggest you to contribute, if you know how to improve this tips. As in the core team, we don't use this **old** browser, so it's impossible for us to test this tips.

[2019-10-07 13:10] Hawkurane commented on #7966
@ecostanzi I've still submitted my branch as a PR so if you find anything interesting in my code we could try share point of views?

[2019-10-07 13:18] yelhouti commented on #10178
For the Form Array part, I think it could be added by a new annotation, if the many part is managed through the one pat, we could have a formArray, else we keep the code as is.
I am also against ngrx, for simple state management, it is often much cleaner to use a service than a store, but ngrx has definitely many advantages in some cases. (just my opinion)

[2019-10-07 14:44] egiovanni85 commented on #2601
Hi this method worked form me with jhipster!!! I found it after 2 weeks :-D
The problem is jhipster without mapstruct dto....

Dto * with mapstruct   ------ is required
Add this  dependencies

1-------------------------------------------------------------------------------

<dependency>
    <groupId>io.springfox</groupId>
    <artifactId>springfox-swagger-ui</artifactId>
    <version>2.9.2</versio

[2019-10-07 14:45] egiovanni85 commented on #762
Hi this method worked form me with jhipster to make swagger very fast!!! I found it after 2 weeks :-D
The problem is jhipster without mapstruct dto....

Dto * with mapstruct   ------ is required
Add this  dependencies

1-------------------------------------------------------------------------------

<dependency>
    <groupId>io.springfox</groupId>
    <artifactId>springfox-swagger-ui</artifactId>

[2019-10-07 15:27] geyuqiu commented on #2237
Is there any options to add simple Angular Filtering?

[2019-10-07 16:32] ecostanzi commented on #7966
@Hawkurane let's focus on one PR (#10567) so that the reviewers know where to look at.

I'd keep PR #10567 (and close #10570) for the frontend part, since it already works for both frontends and fetches the list of specs from swagger resources.

Let's discuss here: https://github.com/jhipster/generator-jhipster/pull/10567#discussion_r332115208 wether to customize springfox configuration in jhipste

[2019-10-07 20:52] DanielFran commented on #10423
@pascalgrimaud Do not forget to merge https://github.com/jhipster/jhipster.github.io/pull/808 for next version.
Thanks

[2019-10-07 20:53] DanielFran commented on #10544
@pascalgrimaud Are you planning soon a new version due to that issue?

[2019-10-07 21:03] pascalgrimaud commented on #10544
@DanielFran : yes, I'd like and I'll try to do my best.

[2019-10-08 01:51] SudharakaP commented on #10533
@Simsal : Did you figure this out; or do you need any further assistance from our side? :smile:

[2019-10-08 07:16] tibistibi commented on #10399
@filiphr it would be great to the the MapStruct improved. Also good for you project to have it working properly.

I think we do not want to map the list because we do not want to get the whole tree to go to the frontend.

[2019-10-08 07:36] vishal423 commented on #10198
@yelhouti, are you working on this? If not, I can try to wrap this up before vacations.

[2019-10-08 09:58] wmarques commented on #10178
@yelhouti What do you mean by new annotation ?

[2019-10-08 10:06] yelhouti commented on #10178
I meen we could have something like:
[code]
and if managed handle the Many Pat on the One Part

[2019-10-08 10:10] yelhouti commented on #10198
@vishal423 I didn't start yet, wanted to define the spec first, you can have an example on how you think the result should look like and I would gladly discuss it

[2019-10-08 10:12] cmoine commented on #10568
A vague idea when JHipster 7 is planned to be out? I cannot find any roadmap.

[2019-10-08 11:10] pascalgrimaud commented on #10568
@cmoine : thanks for proposing this. Anyway, I'll try to give you some answers:

- About Roadmap. There is no roadmap: it depends on the opened ticket and the features which are asked by the community
- About JHipster 7. There is no date. As all the team works on our free and personal time, it's not our main job, we are not paid for that. That's why we can't give a release date
- About Vue.js. It'

[2019-10-08 11:27] christinOGH opened #10573 "Using relative path for clientRootFolder in jdl failed"
##### **Overview of the issue**

I try to use a relative path for the clientRootFolder in my jdl-File. Import-jdl fails with the following error:

The JDL is being parsed.
error: Error message: unexpected character: ->/<- at offset: 4403, skipped 1 characters.
SyntaxError: Error: unexpected character: ->/<- at offset: 4403, skipped 1 characters.
Error while parsing applications and entities from t

[2019-10-08 12:23] cmoine commented on #10568
Argl, indeed I realize it is the wrong place for this ticket, it should be on JHipster Online project.

[2019-10-08 12:25] avdev4j commented on #10568
But adding official blueprints as option on start.jhipster.tech is a good option imo.

[2019-10-08 12:25] cmoine commented on #10568
Are you talking about the VueJS blueprint @pascalgrimaud ?

[2019-10-08 12:28] cmoine commented on #10568
I created the issue in the right place: https://github.com/jhipster/jhipster-online/issues/135

Is there a ticket for integrating VueJS generator into the mainline generator, or should I create one for the discussion?

[2019-10-08 12:30] pascalgrimaud commented on #10568
@cmoine : yes, plz, create a ticket here for Vue.js, so we can see if it's popular or not

[2019-10-08 12:31] pascalgrimaud commented on #10568
Yes, the CI for Vue.js is broken: https://github.com/jhipster/jhipster-vuejs
Again, failing protractor tests...

[2019-10-08 12:49] avdev4j commented on #10568
As I already worked on a JHipster online fork I probably help you to add blueprints on it. I don't have many free times but it's a great idea which I want to contribute for.

[2019-10-08 12:52] cmoine opened #10575 "Integrate VueJS blueprint as a mainline generator (like Angular and React)"
##### **Overview of the feature request**

The actual flow for VueJS is awkward (CLI and https://start.jhipster.tech/#/generate-application as well):
- Choose React/Angular generation
- THEN choose VueJS blueprint

Moreover the web site claims:
Spring Boot + Angular / React / Vue Web applications
I think it is very frustrating/confusing that we cannot choose VueJS instead of React/Angular. I am pr

[2019-10-08 12:53] cmoine commented on #10568
https://github.com/jhipster/generator-jhipster/issues/10575

[2019-10-08 12:54] pascalgrimaud commented on #10575
It's an important discussion
cc @jhipster/developers
Plz, vote the original ticket with +1 or -1

[2019-10-08 13:03] avdev4j commented on #10575
If we want to do that we need to:
- handle blueprint specific questions
- handle all other official blueprints (maybe in other PRs) -> so thinking of a modular code to dynamically adding fields from blueprint questions (and ofc the backend part related to)

[2019-10-08 13:17] Hawkurane commented on #7966
Sure, let's do that. I've closed my front part PR :)

[2019-10-08 13:22] wmarques commented on #10575
I'm ok for merging Vue, the blueprint is quite stable and very well made :)

Just one thought about that quote:

Both 3 frameworks are made to build applications, if you do shitty things with Angular, ofc the app will suck, same goes for Vue and React.
Both have pros/cons, I always see the 3 frameworks on "comparison articles".
Angular is very widely used especially in the Java ecosystem.

I agree

[2019-10-08 13:28] mraible commented on #10575
I do a lot of presentations to Java developers around the world. In my opinion, that's the target audience for JHipster. I usually survey the audience to see what frameworks they're using. Angular and React are usually tied in the number of users they have. Vue.js is hardly used by anyone in comparison. Usually just 2-3 hands go up.

IMO, Twitter and the internet (+ who you follow) make Vue seem p

[2019-10-08 13:33] cmoine commented on #10575
I don't want to compare those technologies here.

I am just talking about popularity. I hate React, and yet it is the mostly widely used :)

Ok that is interesting. However, do you make presentation really worldwide, or mostly Europe for instance?

You are right, big compagnies use a lot Angular and React, but I think that lots of startup opt for VueJS, because much lighter to start with. And I th

[2019-10-08 13:46] mraible commented on #10575
My presentations this year have been in North America, Europe (Spain, UK, and Ireland), and India. I hope to add Australia, Japan, and more Asian countries in 2020.

Do you hate React because you used it on a project and it failed or because you don't like how it works? Just curious as to where your bias comes from. Personally, I like all three frameworks.

[2019-10-08 13:50] cmoine commented on #10575
I (tried to) use it only personally. I hated it because I found tons of boilerplate code, 10.000 ways to do the same things (I guess it leads to very messy projects), and not very abstract... I was happy to see some other people were also allergic to it as well ;)

[2019-10-08 13:56] murdos commented on #10575
Big companies also use JHipster a lot.

[2019-10-08 15:48] deepu105 commented on #10575
I'm ok with merging the blueprint. I don't think we have any reason to do comparisons and stuff. In general, React is the most popular lib followed by Vue and Angular, but within the JHipster community usage of Vue might be less. I personally like React followed by Vue, Angular is kind of loosing out to these.

For now, it makes sense to offer all 3 options

[2019-10-08 17:27] vishal423 commented on #10575
I believe we should also consider maintenance overhead. I have observed less community interest to maintain `react` than the `angular`.

[2019-10-08 17:47] vishal423 commented on #10198
@yelhouti, I will assign this to you. I have started on different prototype, so, may not get much time. On my project (not JHipster based), I followed this approach:
- Create separate form model
- Create separate mapper service that allows conversion from/to domain/dto to form model.
- Define form element validations (required, length etc) in service.

[2019-10-08 18:59] duderoot opened #10577 "ManyToMany relation with required generates wrong faker config"
##### **Overview of the issue**
When creating a model with a `ManyToMany` relation and also specify the second entity as required in the owner entity,
![grafik](https://user-images.githubusercontent.com/4954023/66424441-efca5580-ea0d-11e9-9239-451fc93ac206.png)

the liquibase script which is loading faker data is having a wrong column in it.
<img width="1351" alt="grafik" src="https://user-images.

[2019-10-08 19:09] murdos commented on #10577
I think that https://github.com/jhipster/generator-jhipster/pull/10535/files might fixes this issue

[2019-10-08 19:19] duderoot commented on #10577
@murdos It looks like it will fix this. I will make a pull from your repo and try it.

[2019-10-08 19:31] SudharakaP opened #10579 "Maintainability and Ongoing Support for AWS Sub-generators"
##### **Overview of the feature request**

Maybe this has been tried or talked before but anyways I am just writing down my suggestion (apologies if this is a duplicate :smile:). I was thinking about the aws subgenerators (both `aws` and `aws-containers`) and the problem you guys are having where you don't have credits to test it. I am suggesting a separate line of donations from people who use JH

[2019-10-08 20:07] duderoot commented on #10577
When @murdos will fix his PR #10535 with patch similar to [this](https://github.com/duderoot/generator-jhipster/commit/09140cb210c866358852dd27e892a2db9c40d8c8) it should work.

[2019-10-08 20:30] duderoot commented on #10577
@murdos Is there one particular reason why you reopen this PR or is it because you just add a new label to it?

[2019-10-08 20:34] MathieuAA commented on #10520
@pascalgrimaud I've remove the JDL tag, the only thing for me left to do is go over the doc and make sure it's clear enough. However, there seems to be a genuine issue about what's generated. I'll see if I can find time to check but I'm not sure.

[2019-10-08 20:34] murdos commented on #10577
I've reopen the **issue** because it still exists until my PR is merged.
I've however closed your PR (assuming that was your intention, and that you closed by error the issue instead of the PR)

[2019-10-08 21:20] SudharakaP opened #10580 "SecurityConfiguration.java: Eclipse Code Formatter Turned Off"
##### **Overview of the issue**

This question was raised by @amirensit on Gitter.

On #9416 we have turned the Eclipse formatter off and on for a [certain piece of code in SecurityConfiguration.java](https://github.com/jhipster/generator-jhipster/pull/9416/files#diff-5896bcb3f7efe22444d57880b0069cf3) by adding `\\@formatter:off` and `\\@formatter:on`. I was wondering why this was added? Is there

[2019-10-08 21:42] duderoot commented on #10577
Ok is fine by me. I thought it will be considered as duplicated and since the team wants _to have as few as possible and as much as need it_  🤓 open issues I was in the favor of closing this issue. IMHO  a reference on this issue or maybe an update of the description of your issue and will do.

[2019-10-09 03:46] hanoisteve commented on #2078
I am still seeing this issue.

[2019-10-09 04:27] atomfrede commented on #2078
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2019-10-09 04:35] pascalgrimaud commented on #10520
Ok, I put the label documentation, so

[2019-10-09 04:39] atomfrede commented on #10575
It would ge good to have vue in the main generator, but currently I see one huge issue with that. It is the protractor for e2e testing. We always try to follow best practices and choose the best tool for the job but in that case I think we could do better from a vue point of view.

So first we need to update the blueprint and get our ci up and running reliable again before continuing here. In gene

[2019-10-09 05:06] vishal423 commented on #10580
That allows to preserve the manual formatting of security DSL. Also, that syntax is not specific to eclipse, and also works well with `intellij`.

[2019-10-09 05:22] SudharakaP commented on #10580
@vishal423 : Thanks for the explanation. Ah, didn't know that this is also common to Intellij. :smile:

[2019-10-09 05:23] #10580 closed

[2019-10-09 05:34] vishal423 commented on #10575
That's what I am concerned about. I see no/little active participation by the community to fix broken builds. If we think that the migration to `cypress` or moving that code to the main generator will help improve on this situation, then, we can try that as well.

On a personal note, I also think about moving `react` code as a separate blueprint and support only Spring/Java and Angular as the firs

[2019-10-09 05:52] Blackdread commented on #10395
@caffeinecoders maybe have a look at https://github.com/Blackdread/rest-filter/tree/master/src/main/java/org/blackdread/lib/restfilter/spring/validation
Copy to your code if you don't want the dependency.
The file is still uploaded to "temp" folder of server but at least you have validation before the REST controller is called.

[2019-10-09 06:12] Simsal commented on #10533
Hey @SudharakaP ,
Sorry I have been ill the past week. I just looked into your hints.
-> Increasing the app engine instance class to F2 or even F4 hasn't changed the outcome, neither has 2 running instances
-> Yes I used the `./mvnw package appengine:deploy -DskipTests -Pprod,prod-gae`
-> How can I set the entrypoint? If I change the file directly at `target/appengine-staging/app.yaml` and use `./

[2019-10-09 07:35] deepu105 commented on #10579
There are also #10472 and #8366 which are related

Here are my thoughts on this.

Every other cloud platform that we use(GCP, Heroku, CF) provides free credits so that we could work on those, but AWS has not provided any support yet. I'm not in favor of spending the OpenCollective donations on supporting something like this as it doesn't seem fair. But running a specific campaign should be fine, i

[2019-10-09 08:22] avdev4j commented on #10575
For me, it's the way to go to. so +1.

[2019-10-09 08:24] pascalgrimaud commented on #10579
@SudharakaP : first of all, thanks for helping and contributing the last weeks/months, specially on AWS.

Here my personal opinions, not from the team, and some historical stories.

About AWS. As Deepu said, they don't want to sponsor/support us.
Then, I don't want to spend too much money from Open Collective for supporting an option, because I don't think it's a sub generator which is used a lot.

[2019-10-09 08:40] deepu105 commented on #10579
I think some things we can remove for JHipster 7 are below, lets start a discussion on the mailing list for that
- UAA since OIDC IMO is a good alternative with easier maintenance
- AWS sub gens since no one wants to maintain it
- Couchbase

For upgrade subgen, I'm not sure though.

React IMO is quite stable and IMO a better option than Angular in many aspects :wink:  but I understand the protract

[2019-10-09 08:43] deepu105 commented on #10575
@vishal423 I think the reason is that we have more people in the core team interested in Angular than React. Earlier I was the one maintaining React as I built that part but then later there were few others. But IMO React is still a better option than Angular.

[2019-10-09 08:44] deepu105 commented on #10575
If protractor is becoming a bottleneck, then may be lets reconsider moving to Cypress

[2019-10-09 08:59] clement26695 commented on #10575
Hi everyone !

Just to let you know, I tried to create a module for Cypress, but was blocked with two issues:
- you cannot simulate typing in "datetime-local" fields yet (https://github.com/cypress-io/cypress/issues/2613)
- I wanted to modify some angular/react/vuejs templates to create a good module, which is not possible to do inside the module (I created some branches in my generator-jhipster f

[2019-10-09 09:00] vishal423 commented on #10575
@deepu105, that was my personal opinion after working on both `angular` and `react` projects. I still use `react` occasionally on some small projects, but, in those, favor standard JS over TS :smile:

Supporting multiple front end implementations might impact/delay introduction of new features on backend. As an example, if we plan to support aggregates, then, those would also require UI changes on

[2019-10-09 09:13] murdos commented on #10579
I agree to remove UAA and Couchbase on next major release.
For React I think we should keep it if we solve our e2e issues with Cypress.

However I disagree for upgrade. As already discussed in #9908, the `upgrade` feature is useful and used. And maintained. At least @pvliss and me are working on it. If you want an official stream lead for this feature, it could be me (unless @pvliss or someone els

[2019-10-09 09:13] SudharakaP commented on #10579
@deepu105 : Thanks for the information. Just for the record, I did reach out to AWS before writing this and after some emails I got a final answer which is I quote;

Please do reach out to them btw; hopefully they change their mind. :smile:

[2019-10-09 09:16] yxly2008 commented on #965
thanks,it's worked for me

[2019-10-09 09:21] SudharakaP commented on #10579
@pascalgrimaud : Thanks much for all the information. :smile:

About AWS. As Deepu said, they don't want to sponsor/support us.
Then, I don't want to spend too much money from Open Collective for supporting an option, because I don't think it's a sub generator which is used a lot. We have 0 official contributor on that, very few tickets, broken sub generator since 1 year and nearly 0 complain.

I

[2019-10-09 09:25] SudharakaP commented on #10533
@Simsal : Thanks for testing this out. Changing anything in the `target` directory will not work since rebuilding the project will overwrite it. The `app.yaml` file can be found at, `src/main/appengine` folder. Change that instead. :smile:

Hope you get well soon :smile:

[2019-10-09 09:28] vishal423 commented on #965
that's bad from security perspective.

[2019-10-09 09:37] yxly2008 commented on #965
you are right~my project is cas + springsecurity，but csrf makes single logout not work，i haven't another way to solve this problem.

[2019-10-09 09:39] #8800 closed

[2019-10-09 09:42] #10577 closed

[2019-10-09 10:10] cmoine commented on #10575
I totally agree we need to be careful with this point.

I think it becomes out of the topic. Fixing e2e tests is a prerequisite, fine. I am not very familiar with e2e tests in JHipster: are they all the same, or do they depend on Angular/React? Would a requirement be that we would prefer Cypress over Protractor only for VueJS? Shouldn't we focus on "technical" requirement instead of technical prob

[2019-10-09 10:20] deepu105 commented on #10575
If Cypress makes our e2e more stable then I'm fine to move to it fully.
Ideally we should have same e2e test suite for all framework. Thats why we
put in effort to render the sme final HTML from Angular and React. We
should do the same for vue as well, it means using same id, name, class
names and structure. So that we can use the same e2e test templates for all
of them

Thanks & Regards,
Deepu

O

[2019-10-09 10:23] deepu105 commented on #10220
Lets keep major restructure stuff for v7, these are not pressing concerns
anyway

Thanks & Regards,
Deepu

On Fri, Oct 4, 2019 at 11:12 AM Kaido Hallik <notifications@github.com>
wrote:

[2019-10-09 10:58] pascalgrimaud commented on #10579
Thanks a lot @SudharakaP
Yes, just do your best. Then, if one day, for some reason you can't maintain it any more, no problem, it will stay like this :-)

[2019-10-09 11:34] jsebrien opened #10583 "How to ignore webpack errors during war packaging"
Hello,

I'm using Jhipster to build a webapp, and I need to create a war file to deliver it in production. I'm running the following command: mvn -Pprod,war clean verify

I get a lot of errors from npm/webpack, such as this one:

[INFO] ERROR in D:/maven-repo/zNouveau_Dossier/eclipse-workspace/research/node_modules/react-dropzone-uploader/dist/utils.ts(77,26):
[INFO] no-object-literal-type-asserti

[2019-10-09 11:54] vishal423 commented on #10469
@ThienPhuc92, are you using `UAA`?

[2019-10-09 12:03] ThienPhuc92 commented on #10469
Yes, I have an UAA. But this bug happen on microservice application, not on UAA. My token has scope and when i use PreAuthorize with #oauth.hasScope exception appear

[2019-10-09 18:19] SudharakaP commented on #10345
Okay, so I am gonna try the separate module approach. 😄

[2019-10-09 18:20] SudharakaP commented on #10099
@jhipster/developers : Could someone please assign this to me as discussed in https://github.com/jhipster/generator-jhipster/pull/10139 ? Otherwise I might lose track of this. 😄 I am quite forgetful sometimes. 😄

[2019-10-09 18:24] pascalgrimaud commented on #10099
@SudharakaP : done. But it will require a lot of work to achieve this... as it will impact other repositories of the organization

[2019-10-09 18:46] SudharakaP commented on #10099
@pascalgrimaud : Not a problem. I like the work. 😄

[2019-10-09 18:51] pascalgrimaud commented on #10568
I think we can close this as:
- a new discussion for integrating Vue.js to the core has been opened
- another ticket for using blueprint in jhipster-online

[2019-10-09 18:51] #10568 closed

[2019-10-09 18:52] pascalgrimaud commented on #10506
I think we can close this, as it is something we won't do

[2019-10-09 18:52] #10506 closed

[2019-10-09 18:53] pascalgrimaud commented on #10490
No news, so I'm closing this

[2019-10-09 18:53] #10490 closed

[2019-10-09 19:40] atomfrede commented on #10464
I have added no http checks in the generated ci fles as first step or step after clean

[2019-10-09 19:49] pascalgrimaud commented on #10583
When you build in prod profile, in a specific CI, the output comes from frontend-maven-plugin and is reported as `[ERROR]`, so it's normal.

Anyway, looking your stacktrace, you have a real error you need to fix, instead of ignoring it.
But as you didn't provide all information asked in the template, we can't know if it comes from your custom code or a real bug in JHipster

[2019-10-09 19:49] pascalgrimaud commented on #10583
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-10-09 19:49] #10583 closed

[2019-10-09 19:51] pascalgrimaud commented on #10579
I don't think this dicussion can go further, so let's close this, and let's do our best as always

[2019-10-09 19:51] #10579 closed

[2019-10-09 19:59] pascalgrimaud commented on #10502
As I think it is something specific, it should go to a tips.

Anyway, I find it strange, that the front developer prefered to go a `src/main/webapp/app` for opening their app, then, they need to go to the root folder to launch `npm start`, as `src/main/webapp/app` doesn't contain `package.json`

[2019-10-09 22:39] SudharakaP opened #10589 "GitHub CI Default Timeout Problems"
##### **Overview of the issue**

It seems to me that the recent change to Github CI timeout reduction (https://github.com/jhipster/generator-jhipster/pull/10584) seems to have some effects. When I was trying to get https://github.com/jhipster/generator-jhipster/pull/10498 pass the tests, I observed two tests were failing. I've restarted the tests again several times but seems they keep failing. No

[2019-10-10 05:15] pascalgrimaud commented on #10589
I think there is a real problem with a build.
What is the config which failed ?
I guess it's couchbase, as it's failed with JDK8 in the daily builds project

[2019-10-10 05:18] vishal423 commented on #10589
@SudharakaP, can you point me to the build job executions that you think got aborted before 40 mins? Please note that 40 mins duration is for the entire job to complete (not for individual steps inside job). There is an issue in our `ngx-couchbase` test suite that intermittently hangs the backend tests build. Default job timeout was 6 hours which unnecessarily hogs the build infrastructure resourc

[2019-10-10 05:20] vishal423 commented on #10589
@pascalgrimaud, on Github CI, `ngx-couchbase` build intermittently hangs on JDK 11. I suspect it's related to test containers.

[2019-10-10 05:24] pascalgrimaud commented on #10589
Oh it's Jdk11, so indeed, it's strange !
We need to investigate.
And I agree, 40min is enough for a build

[2019-10-10 08:22] #10481 closed

[2019-10-10 09:14] amanganiello90 opened #10591 "Add ability to skip liquibase dependencies and generation in the app generation"
**Overview of the feature request**
As just done in the [entity-generator](https://github.com/jhipster/generator-jhipster/commit/4ea0370b7a5aeefc9b53767ef26dff3373c9ac85), it would be great to add an option in order to skip liquibase usage avoiding to insert liquibase java dependency. Saving the option in the yo-rc.json, the entity generation automatically skips the changelog generation.

**Motiva

[2019-10-10 09:26] amanganiello90 opened #10592 "jhipster release 6.4.0"
**Overview of the feature request**
The milestone version indicates for the 6.4.0 that all issues are completed, so when it will be release?

 **Motivation for or Use Case**

For the [liquibase skip feature entity integration](https://github.com/jhipster/generator-jhipster/commit/4ea0370b7a5aeefc9b53767ef26dff3373c9ac85), I need the new 6.4.0 release of jhipster.

If you need some help, I could pe

[2019-10-10 09:48] SudharakaP commented on #10589
@pascalgrimaud, @vishal423 : Here are the build jobs that failed.

https://github.com/jhipster/generator-jhipster/pull/10498/checks?check_run_id=253798027

https://github.com/jhipster/generator-jhipster/pull/10498/checks?check_run_id=253798027

https://github.com/jhipster/generator-jhipster/pull/10498/checks?check_run_id=254018117

https://github.com/jhipster/generator-jhipster/pull/10498/checks?c

[2019-10-10 10:02] #10592 closed

[2019-10-10 10:35] vishal423 commented on #10589
https://github.com/jhipster/generator-jhipster/pull/10498/checks?check_run_id=253798027  -- failed after 6 hours timeout
https://github.com/jhipster/generator-jhipster/pull/10498/checks?check_run_id=254018117 -- failed after 40 mins (after reduction in wait timeout)

These failed on `couchbase` and that was one of reason to reduce wait timeout.

I don't see an issue with Github CI, unless you can

[2019-10-10 11:04] SudharakaP commented on #10589
@vishal423 : Thanks for the information. I didn't know there were already known problems with couchbase which is why u assumed it has something to do with GitHub ci. On that note I am closing this issue. Would you like me to open a new issue to track the couchbase issue? :smile:

[2019-10-10 11:04] #10589 closed

[2019-10-10 11:15] vishal423 commented on #10589
yes, that will help to have more visibility on that issue. Fyi, similar failure on `jhipster` pipeline https://github.com/jhipster/jhipster/runs/252032661

[2019-10-10 12:40] MathieuAA commented on #10591
You basically want to disable liquibase, right?

[2019-10-10 12:43] amanganiello90 commented on #10591
yes

[2019-10-10 12:56] MathieuAA commented on #10591
Why? If it's for your generator, then you can remove it from your custom code (remove related files and/or entries). Unless I'm missing something of course...

[2019-10-10 13:03] amanganiello90 commented on #10591
Yes, I can remove it from my custom blueprint, but the option is already supported in the entity generator, so it is good to add that skip option also in the base blueprint generator, in order to avoid to add unuseful liquibase java dependencies from pom.xml or gradle file.
Besides, after generated the app and  stored the option in the yo-rc.json, the entity generator finds the answer and automati

[2019-10-10 13:05] apescione opened #10593 "In Sql scenario, To be able to choose Cascade and Fetch type in JDL would be fantastic"
**JDL designing a relationship between two entities with Cascade and Fetch type**

Using JDL to generate my entities, you can choose CascadeType and FetchType if different from default values.

This feature is very useful because I can avoid to modify  Generated Entity Manually and lose these changes when I regenerate the entity from JDL.

I looked for similar issues, but it seems there aren't any

[2019-10-10 14:40] DanielFran commented on #10491
@vwiencek @ecostanzi @SudharakaP Since #10500 has been merged and there is also #10510 already opened for the improvements, can this ticket be closed?

[2019-10-10 14:55] SudharakaP commented on #10491
@DanielFran : #10500 solves a certain bug in the openapi-client generator due to allowing java keywords. We need #10510 to fully fix the original issue I believe; therefore I suggest keeping this open until #10510 is done.

[2019-10-10 15:05] SudharakaP opened #10594 "ngx-couchbase intermittent Test Failures"
##### **Overview of the issue**

This issue was created from the discussion at https://github.com/jhipster/generator-jhipster/issues/10589. It seems that ngx-couchbase tests on our CI seems to hang and fail sometimes. Here are some examples;

https://github.com/jhipster/generator-jhipster/pull/10498/checks?check_run_id=254018117

https://dev.azure.com/jhipster/jhipster/_build/results?buildId=6316

[2019-10-10 15:33] SudharakaP commented on #10594
@vishal423 @pascalgrimaud : I've just noticed that couchbase runs on the [prod profile](https://github.com/jhipster/generator-jhipster/blob/1c968f569fe524703fd7173bad1be221925a513e/.github/workflows/applications.yml#L37). Is there a specific reason to do so? :smile:

[2019-10-10 15:38] pascalgrimaud commented on #10591
Let's discuss.

I see 2 solutions for that.

1) remove directly from the blueprint, once it's generated
2) add an option in generator-jhipster to support it, for example `jhipster --skip-liquibase`, no additional question

The work would be:
- store the option in `.yo-rc.json`
- add new condition in different files (pom.xml, gradle file, logback, etc)
- ignore faker, verify all the needles, etc.
-

[2019-10-10 15:43] pascalgrimaud commented on #10594
The best would be to test both: dev and prod
But it would be too much configurations to test.

There are no specific reason, that `couchbase` is tested in `prod` profile.
It could be in `dev` and Cassandra could be in `prod`

[2019-10-10 15:48] SudharakaP commented on #10594
@pascalgrimaud : That is indeed interesting; because when you run in dev it works; https://github.com/SudharakaP/generator-jhipster/runs/255327289 :thinking:

Have to think more on why it runs correctly only in dev.

[2019-10-10 15:50] pascalgrimaud commented on #10594
no idea. Never tested couchbase lol !

[2019-10-10 15:52] amanganiello90 commented on #10591
Hi @pascalgrimaud,
my considerations:
1. it's obvious that I can delete the liquibase resources and dependencies from my custom blueprint, my question is to add that code in the standard jhipster generation.
2. I have consider a --skip-liquibase option, and yes, another could want another options, but for the liquibase you have already provieded in the entity generation the liquibase skipping to n

[2019-10-10 15:58] pascalgrimaud commented on #10591
I don't understand:

Which option doesn't work today, in generator-jhipster ? Can you provide me the main steps plz ?

[2019-10-10 16:02] amanganiello90 commented on #10591
According this [commit](https://github.com/jhipster/generator-jhipster/commit/4ea0370b7a5aeefc9b53767ef26dff3373c9ac85), the entity-generator could not generate changelog for liquibase in new entities. So for that however I have data or use liquibase features in that generation.

[2019-10-10 16:11] murdos commented on #10591
I agree with 1st solution too.

Liquibase is the solution supported and promoted by JHipster. If you want to use something else, either you modify the code after generation or automate that in a blueprint. As per our Policy 2, I don't think we should add more option regarding liquibase.

Also, don't misinterpret the new `--skip-db-changelog` option: its main goal is to help in your development wor

[2019-10-10 17:05] SudharakaP commented on #10594
I can do some more tests today evening to find the root cause; but if someone wants to take this and fix it before that; please feel free to go ahead. 😄

[2019-10-10 19:43] amanganiello90 commented on #10591
ok, well, I will close the issue, I provide that in my custom blueprint

[2019-10-10 19:43] #10591 closed

[2019-10-10 20:42] saturnism commented on #10345
i think we should use the same generator :D

[2019-10-10 20:49] saturnism commented on #10344
i don't personally feel this is necessary at this time. App Engine Standard Java 11 can do just about everything now. I would prioritize microservices first :)

[2019-10-10 21:12] SudharakaP commented on #10345
@saturnism : Thanks for the suggestion; yes we could do that. But curious why do you think this should be included in the same generator? I was thinking this might make it a bit more complicated with monolith and microservice logic in the same generator?

[2019-10-10 21:18] SudharakaP commented on #10344
@saturnism : Agreed. 😄 I wonder whether we should do this at all since doing too many things might make the generators unmanageable. We should probably focus on one stable monolith deployment method (i.e: GAE Standard Environment which we already have) and one stable micro-service deployment (which is underway). How about we close this issue ?

[2019-10-10 22:44] saturnism commented on #10344
Agreed :) Let's focus on the 2 most important use cases first. Thanks for the help!

[2019-10-10 22:44] #10344 closed

[2019-10-10 22:54] saturnism commented on #10345
since we already have `jhipster gae`, ideally the same command should work for both monolith and microservices apps.  i feel users will try to run `jhipster gae` w/o second thought to look for blueprints and/or other ways to generate microservices deployments.

code complexity/design/implementation is orthogonal to this experience. I.e., if we really want, w/ the same command, we can still have ma

[2019-10-10 22:59] SudharakaP commented on #10345
@saturnism : Sounds good. Let us then go with the same generator. Thanks much for your suggestions. I was just going to start coding with the new module approach yesterday. 😉

[2019-10-10 23:00] SudharakaP commented on #10344
@saturnism : You are welcome 😄

[2019-10-11 03:28] yudar1024 opened #10597 "please support nacos configuration center"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

git configuration center is hard to in product env. most real case are use nacos or appollo as configuration center. they support more feature than git configuration.

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-10-11 04:24] ashishjmeshram commented on #9829
I am also getting the same issue with jhipster 6.3.1. I have updated the baseHref as mentioned with slashes at start and end, still not working. Please help.

[2019-10-11 05:28] pascalgrimaud commented on #10597
Hello @yudar1024, and thanks for your proposal.

I'd suggest you to create a JHipster sample application, and include `nacos` support. Please, share your code publicly on GitHub.

Then, you can create a module and maintain the support:
https://www.jhipster.tech/modules/creating-a-module/

For now, I don't think it can be support in JHipster, as we have too many option to maintain. But, if your mod

[2019-10-11 08:24] pascalgrimaud opened #10599 "Github Actions in CI sub generator"
It would be cool to have Github Actions in the CI sub-generator, as it will be easy to integrate it for generated project in GitHub.

@vishal423 : do you want to took this ticket, as you already do an amazing work in our CI ?

[2019-10-11 08:27] pascalgrimaud commented on #9287
Lot of work done here to achieve it by @ctamisier and @clement26695
I'm increasing the bounty, so you can share: 200 & 100
Is it ok for you ?

[2019-10-11 08:28] vishal423 commented on #10599
sure.

[2019-10-11 08:34] juliensadaoui opened #10600 "Microservices + Mongo : Maven (or gradle) build is broken"
##### **Overview of the issue**

I can't build my application with microservice and mongo options. It fails with the following information.

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

- Generate new microservice jhipster application with mongo
- Build the project with maven or gradle

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[2019-10-11 08:34] jdubois commented on #10599
I just did one for my Azure Spring Cloud sub-generator... And we have already something similar with Heroku.
We'll need to be smart and document cleanly what each sub-generator does.

[2019-10-11 08:38] aunlu opened #10601 "Cannot change spring profile to prod"
##### **Overview of the issue**

I created a sample Jhipster project  by following online jhipster-guides. It works fine in dev mode with "./mvnw ". But, when I try to test with prod mode (./mvnw -Pprod), it still uses dev profiles:

[code]
Also, "./mvnw -Pprod clean verify" does not produce executable jar.

##### **JHipster configuration**
INFO! Using JHipster version installed locally in current

[2019-10-11 08:39] pascalgrimaud commented on #10599
Nice @jdubois
The new Azure Spring Cloud sub gen is only for deploying ? or does it include all .github workflow file to be used as a new CI too ?

[2019-10-11 08:50] jdubois commented on #10599
It runs test, packages and deploys... My goal is to do only a "git push" and be done 😁
Like Heroku in fact!

[2019-10-11 08:51] ctamisier commented on #9287
Sure ! thank you very much !

[2019-10-11 08:52] pascalgrimaud commented on #10600
I confirm it !
I think we need to do a patch release for that

[2019-10-11 09:03] deepu105 commented on #10579
So guys, I had a chat with @arun-gupta, who is trying to help. @SudharakaP @jhipster/developers can you verify if this approximate calculation would be sufficient for our needs
https://calculator.s3.amazonaws.com/index.html#key=files/calc-f43540bf7f0634e9fc181d70d6c504e180518e2a&r=IAD&v=ver20190926fD

[2019-10-11 09:33] SudharakaP commented on #10594
@pascalgrimaud @vishal423 : I believe I found the problem here. It seems that the javadoc (via the maven javadoc plugin) runs on java 1.8.0_22; because we manually set JAVA_HOME in [`00-init-env.sh`](https://github.com/jhipster/generator-jhipster/blob/master/test-integration/scripts/00-init-env.sh). But notice that on Github Actions when Java 11 is installed (via the initial `setup-java@v1`) JAVA_

[2019-10-11 10:17] SudharakaP commented on #10579
@deepu105 : Yay, thanks a lot for doing this; this is great, now we can test it more thoroughly. :smile: :smile: In my opinion this monthly credit amount is enough for testing and improvements.

Although I think the cost breakdown could be altered more appropriately to to reflect what we use. As far as I know, Dynamo DB isn't used in our sub-generators as well as Route 53. Maybe replace those with

[2019-10-11 10:41] pascalgrimaud commented on #10600
Fixed by https://github.com/jhipster/generator-jhipster/pull/10602

[2019-10-11 10:41] #10600 closed

[2019-10-11 10:53] vishal423 commented on #10594
I am not very sure on this solution. However, if it solves current issue, then, there is no harm to try this out.

[2019-10-11 11:22] PierreBesson commented on #10579
@deepu105 that's great ! We just need to have some credits to create tests EKS clusters and a few other resources but as soon as those tests are done (after a few days) we can destroy those resources.

[2019-10-11 12:10] SudharakaP commented on #10594
@pascalgrimaud : I've created a pull request for the daily builds as well to replace it with OpenJDK instead of the default [Zulu](https://www.azul.com/downloads/zulu-community/?&architecture=x86-64-bit&package=jdk). It seems to work in my [Azure builds](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=21).

@vishal423 : I don't think highly of this solution as well; bu

[2019-10-11 12:40] vishal423 commented on #10594
@SudharakaP, this theory doesn't explain on why it worked intermittently :smile:

[2019-10-11 12:57] SudharakaP commented on #10594
@vishal423 : It does not. Then again it is also difficult to exactly predict what would happen when we set JAVA_HOME to something and use some other JDK in the CI. Therefore regardless whether the change fixes this issue completely or not; I think it should be made just so we use the same JDK for everything and JAVA_HOME is set property.

[2019-10-11 13:19] jsebrien opened #10603 "Fix webpack errors during war packaging"
Hello,

This issue comes after this one : https://github.com/jhipster/generator-jhipster/issues/10583

As a reminder, i'm using Jhipster to build a webapp, and I need to create a war file to deliver it in production. I'm running the following command: mvn package (or mvn -Pprod,war clean verify)

I get a lot of errors from npm/webpack:
[mvn-package.log](https://github.com/jhipster/generator-jhipst

[2019-10-11 13:42] clement26695 commented on #10603
Hi @jsebrien,

Would it be possible to fill out the template provided when creating an issue? We need you to provide the result of `jhipster info` command, the version of JHipster used and a few others to help you. Otherwise, there are too many configurations available to know how to reproduce your issue and find a way to solve it.

You can also provide a link to a github repository of your applic

[2019-10-11 13:47] jsebrien commented on #10603
Hello,
jhipster-info.log in my ticket contains the output of the jhipster info command.
The original repo is on bitbucket, I'll try to create a github repo with the code.
Regards,
Julien

[2019-10-11 14:08] clement26695 commented on #10603
I would say it comes from the fact that you want to use elasticsearch in your entities (see `search Chart, DocMetas with elasticsearch` in the jhipster-info.log) but that you didn't enable ElasticSearch in your app generation (see `"serviceDiscoveryType": false,` in the jhipster-info.log)

Removing the `search Chart, DocMetas with elasticsearch`  in the jdl makes the compile phase pass in my case

[2019-10-11 14:24] jsebrien commented on #10603
Hello,

You mean, removing "searchEngine": "elasticsearch" in .jhipster/DocMetas.json and Chart.json
or running again jhipster import-jdl <my_jdl>
and then run again command : mvn -Pprod,war clean verify
?
Regards,
Julien

[2019-10-11 14:35] clement26695 commented on #10603
Either of these options should work:
- remove the last line of your jdl file ant run `jhipster import-jdl <my_jdl>` again
- remove manually `"searchEngine": "elasticsearch"`in .jhipster/DocMetas.json and Chart.json and run `jhipster entity DocMetas` and `jhipster entity Chart` to regenerate the 2 entities

Finally, as you are using JHipster version 5.8.1, I don't think the war profile exists, and

[2019-10-11 14:44] clement26695 commented on #10603
FYI, you can access older version of the documentation here: https://www.jhipster.tech/documentation-archive/
For the 5.8.1 version, it is accessible here: https://www.jhipster.tech/documentation-archive/v5.8.1

[2019-10-11 14:47] jsebrien commented on #10603
Hello,

I tried, but it does not solve the issue.
Can you explain me how service discovery and the npm errors I get are related?
Regards,
Julien Sebrien

[2019-10-11 19:02] SudharakaP commented on #10601
@aunlu : Did you manually change the `.yo-rc.json` file by any chance? The line `"serviceDiscoveryType": "false"` seems problematic. It should be `"serviceDiscoveryType": false` without the quotes around `false`.

[2019-10-11 19:07] SudharakaP commented on #10564
@Spingular : Thanks for reporting the issue. Could you please share your `.yo-rc.json` file please so that it would be easier for us to recreate your exact configuration. 😄

[2019-10-11 19:25] pascalgrimaud commented on #6410
@sdyson : I understand the need, but if you read the previous comment, it has been closed simply because no one wants to try to implement something. So maybe it's minor or people don't care about this issue.

Anyway, you're welcome to propose a solution here :)

[2019-10-11 19:46] Tonterias commented on #10564
Hi,

You have everything here: https://github.com/Tonterias/spingular631ERROR

Thanks

[2019-10-11 22:03] SudharakaP commented on #10564
@Spingular @Tonterias : I went through your project and I cannot find any import statement of typs `import { EventManager } from 'ng-jhipster';` only import statements of the type  `import { JhiEventManager } from 'ng-jhipster';` Could you please let us know where in the code you see this import statement?

[2019-10-11 22:22] Tonterias commented on #10564
Sorry,

I have so many things open at the same time, that I get lost.

It's here: https://github.com/Tonterias/spingularchat

	import { EventManager } from 'ng-jhipster'; in /spingularchat/src/main/webapp/app/core/login/login.service.ts

and it does not work. The old one was:

	import { JhiEventManager } from 'ng-jhipster';

IDE says: [ts] Module '"D:/BasuraTemporal/Jhipster/spingularchat631/node_

[2019-10-11 22:23] SudharakaP opened #10604 "Some Daily Builds are Broken"
##### **Overview of the issue**

While working on another issue, I noticed that Infinispan builds are broken on our [Daily Builds](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=34);

https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=31

and

https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=30

##### **Motivation

[2019-10-11 22:32] SudharakaP commented on #10564
@Tonterias @Spingular : I went into your [`login.service.ts` class](https://github.com/Tonterias/spingularchat/blob/master/src/main/webapp/app/core/login/login.service.ts). However I don't see any mention of `import { EventManager } from 'ng-jhipster'; `. Are you sure the class you provided is the right one? Can you provide a link please.

[2019-10-11 22:36] Tonterias commented on #10564
I edited it. I'm on my phone. Read the answer above, please.

Use this one and it will show up as it can not recognize the jhiEventManager

https://github.com/ruddell/jhipster-chat-example/blob/master/src/main/webapp/app/core/login/login.service.ts

[2019-10-11 23:50] SudharakaP commented on #10564
@Tonterias : You might be confusing the [update process](https://www.jhipster.tech/upgrading-an-application/) here. If you update to the latest version of JHipster of course that line shouldn't be there at all. You can check the [current state of the `login.service.ts` class](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/main/webapp/app/core/log

[2019-10-12 00:52] gmarziou commented on #10603
About your webpack build errors, they occur in `node_modules/react-dropzone-uploader/dist/Dropzone.tsx` which seems strange for me because if you look at your project's tsconfig.json it excludes `node_modules`, so it should not try to build Dropzone.tsx unless you made some changes.

[code]

[2019-10-12 01:26] gmarziou commented on #10603
Your errors come from typescript compilation of react-dropzone-uploader, try updating typescript.
Anyway, this is not a JHipster issue.

[2019-10-12 01:26] #10603 closed

[2019-10-12 03:47] SudharakaP commented on #10594
I was looking at these Couchbase issues more to find out the exact underlying problem; mainly because I felt there's something I am missing that is fundamentally common to both our daily builds problem and this one.

I found that we handle the docker image startup differently for Couchbase. I think the main problem lies in [20-docker-compose.sh](https://github.com/jhipster/generator-jhipster/blob/

[2019-10-12 05:57] Tonterias commented on #10564
It could be, but my question then is: how would you broadcast then (this.eventManager.broadcast)?

logout() {
        this.authServerProvider.logout().subscribe();
        this.accountService.authenticate(null);
        this.eventManager.broadcast({
            name: 'logoutSuccess',
            content: 'Sending Logout Success'
        });

Thanks for your help, btw

[2019-10-12 06:21] SudharakaP commented on #10564
@Tonterias : I am not sure exactly what you want to do there, but if you want to use `broadcast` why don't you just add `import { JhiEventManager } from 'ng-jhipster';` at the top, define a variable `eventManager` of type `JhiEventmanager` and then use `this.eventManager.broadcast...`; same way Jon's original class does it. Basically you just add back what was overwritten.

Notice that the whole p

[2019-10-12 06:27] pascalgrimaud commented on #10594
if I remember well, the problem with Couchbase was:
- if you started the Couchbase database with docker-compose file, then, launch backend tests, it will fail as testcontainer will use the same port and can't start
- it's not nice for the developer experience, but it was like this
- it was probably 1 year ago, when Couchbase support was introduced, I don't know if it has been changed or not

[2019-10-12 06:39] Tonterias commented on #10564
Thanks @SudharakaP

Still away from my desktop, but I remember that I cannot import jhiEventManager and the new EventManager does not have the broadcast method.

I will check that when I get to my computer. Sorry, to answer in a hurry. I should not do that and grab the whole context instead. I thought I could explain myself better.

[2019-10-12 06:57] SudharakaP commented on #10594
@pascalgrimaud : Thanks for the clarification. So as you might have seen, with [my recent change to OpenJDK](https://github.com/hipster-labs/jhipster-daily-builds/pull/20) the [Java 8 build is now successful](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=6320).

So I believe we've found a workaround without starting the Couchbase database with docker-compose. Is t

[2019-10-12 07:10] pascalgrimaud commented on #10594
My goal was to start all docker container before e2e, to speed up the builds
About Couchbase, if we can start the container before the tests, so yes, we should be consistent with other builds

[2019-10-12 07:15] SudharakaP commented on #10564
@Tonterias : I see. It seems to me that you've overwritten your classes in the upgrade process without preserving the custom logic that your application previously had. I suggest you do the upgrade process again, but this time during the merge step use caution on identifying what specific code should be kept intact (this basically includes things specific to your application). If you are unsure of

[2019-10-12 07:22] pascalgrimaud commented on #10604
cc @Hawkurane as he's the one who worked on JDL Daily Builds.

[2019-10-12 07:30] SudharakaP commented on #10594
@pascalgrimaud : Okay how about this. I will do a PR just putting back the code to start Couchbase database with docker-compose. I think this should work, since I don't understand why it wouldn't if it works on my [fork's Github CI pipeline](https://github.com/SudharakaP/generator-jhipster/runs/257408009). We give it some time to see if it creates any problems, and if it doesn't work we revert tha

[2019-10-12 07:37] Tonterias commented on #10564
Thanks again for your patience @SudharakaP

Actually, it is a brand new v6.3.1 app.

We are working on this open source chat https://github.com/Tonterias/spingularchatsql6 made on v6.1.1 which is almost working here https://spingular.herokuapp.com/   (and has the jhiEventManager when you create the app)...

...  but we made some mistakes and we wanted to redo the whole thing on v6.3.1, when I find

[2019-10-12 07:40] SudharakaP opened #10605 "Keycloak Daily Build Broken"
##### **Overview of the issue**

It seems that the Keycloak daily build has some problems with it's end-to-end tests phase.

https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=34&_a=summary

In every build the e2e phase seems to be broken.

##### **Motivation for or Use Case**

Getting the CI tests in working condition gives us more visibility on problematic code and redu

[2019-10-12 08:06] pascalgrimaud commented on #10594
yes, let's try !

[2019-10-12 08:07] pascalgrimaud commented on #10605
I think we should keep all of this in one ticket. Because, we can open at least 10 new tickets for all these failed builds ahaha

[2019-10-12 08:46] Hawkurane commented on #10604
When I did the scripts there might have been steps that I did not do that could have resulted in the build failing (e.g. changing the hosts file for keycloak).
If there wasn't anything particular that needed to be done compared to other builds then that means the generator is broken and needs to be fixed 🛠

[2019-10-12 09:26] pascalgrimaud commented on #10601
You need to provide more steps to reproduce, as everything works fine with prod profile

[2019-10-12 10:10] pascalgrimaud commented on #10593
Thanks for proposing this.
Anyway, it would be against our Policy 2: only add options when there is sufficient added-value in the generated code

Adding this option would imply:
- code and maintain it
- add new builds to test this
- add option in jdl core
- etc

The solutions for you, are:
- do the change manually, after regenerating
- use git to compare and revert
- code your own module, which wi

[2019-10-12 10:16] pascalgrimaud commented on #10472
@SudharakaP : can it be closed with all recent fixes in AWS sub gen ?

[2019-10-12 10:23] pascalgrimaud commented on #9661
So let's advance on this.
The easier solution which will make everyone happy would be to add simply a new flag: `--skip-fakedata`
@murdos @mshima : are you ok ? One of you would be ready to work on this ?

[2019-10-12 10:28] pascalgrimaud commented on #9908
It is opened since 4 months.
How can we advance on this ticket ?
cc @pvliss @murdos ?

[2019-10-12 10:30] murdos commented on #9661
Sure! I've a branch/PR that does exactly that. I'll update it

[2019-10-12 10:31] pascalgrimaud commented on #7708
@PierreBesson : this ticket has been opened for 1 year. What is the state of the different items ?
Should we keep this ticket opened ?

[2019-10-12 10:32] pascalgrimaud commented on #9661
Thanks @murdos,
I'm assigning this ticket to you

[2019-10-12 10:37] pascalgrimaud commented on #8967
It's opened since 10 months now
I think no one is interested to work on this

I'm sorry but I'm closing this, because of lack of interest.
Hope you're ok @PierreBesson @xetys

[2019-10-12 10:47] pascalgrimaud commented on #10071
Opened since 3 months, and no PR to improve this.
It looks like people don't use Openshift a lot or maybe don't care, so let's close this, because of lack of interest.

Anyway, the solution are mentionned in this ticket.

[2019-10-12 10:53] pascalgrimaud commented on #10352
I think everything was done
So I'm closing this

[2019-10-12 10:53] #10352 closed

[2019-10-12 10:57] pascalgrimaud commented on #10363
@atomfrede @kaidohallik : what is the state of this ticket ? Are we all ok with the different PRs ?
In this case, can this ticket be closed ?

[2019-10-12 11:02] pascalgrimaud commented on #10533
I think everything was fixed recently.
Don't hesitate to tell me if I'm wrong, so I can reopen this ticket if needed

For now, let's close this

[2019-10-12 11:02] #10533 closed

[2019-10-12 11:07] pascalgrimaud commented on #10604
just cc the other ticket:

It seems that the Keycloak daily build has some problems with it's end-to-end tests phase.

https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=34&_a=summary

In every build the e2e phase seems to be broken.

[2019-10-12 11:07] pascalgrimaud commented on #10605
closing in favor of https://github.com/jhipster/generator-jhipster/issues/10604

[2019-10-12 11:07] #10605 closed

[2019-10-12 11:27] pascalgrimaud commented on #10488
Thanks for reporting this issue @JamesBarnes88

I understand your problem, but here, we only track issue with JHipster project without any modification. For cucumber and elasticsearch, there is already a ticket for that : https://github.com/jhipster/generator-jhipster/issues/10302

For this kind of problem, you should use `DirtiesContext` as suggested but it depends on other config you added in yo

[2019-10-12 11:27] #10488 closed

[2019-10-12 12:21] pascalgrimaud commented on #9027
Then, it has been opened since 9 months now.
So let's close this as no one seems interested to work on this and nothing has been done since.

[2019-10-12 15:14] SudharakaP commented on #10472
@pascalgimaud : These was fixed as part of #10492. In fact this issue will automatically be closed when you merge #10492. :smile:

[2019-10-12 15:17] #8366 closed

[2019-10-12 15:17] #10472 closed

[2019-10-12 15:24] pascalgrimaud commented on #10601
@aunlu : I couldn't reproduce. Feel free to provide steps in details and more information, then I can try again and reopen this ticket if needed

[2019-10-12 15:24] #10601 closed

[2019-10-12 16:56] #10415 closed

[2019-10-12 16:58] SudharakaP commented on #10594
@pascalgrimaud : I've done three PRs. In the first two I've made OpenJDK 8 the default on Azure pipelines. Given our experience with Couchbase I don't think the Azul JDK that ships with Azure can be trusted, and we should test everything with OpenJDK.

My third PR reintroduces Couchbase docker start. We'll merge this and see how it goes. In the worst case we can just revert it back so that everyth

[2019-10-13 01:32] SudharakaP commented on #10594
@pascalgrimaud : As you see the couchbase problem is reoccurring. However some of my investigation suggest that its not related to the docker container start but rather the PR,  #10608. Could you please revert #10608 ?

[2019-10-13 03:19] mshima commented on #9661
@pascalgrimaud my changes to @murdos branch is to workaround https://github.com/jhipster/generator-jhipster/issues/10372
Every regeneration changes fake data, making harder to see changes that we are trying to accomplish.

[2019-10-13 04:29] Alan-CS opened #10610 "A new jHipster App with MYSQL for DEV seems to still use H2 in application-dev.yml"
**Overview of the issue**

**I generated a new jHipster App (on Windows) with version 6.3.1 and used MYSQL for both DEV and PROD. So far, I have not created any entities. It is purely a newly generated app. However, the application-dev.yml still seems to reference the H2 database in the datasource and jpa sections. Here is the relevant section of this file:**

[code]

**Is this a bug or am I missi

[2019-10-13 04:49] mshima opened #10611 "Add support to peer blueprints"
##### **Overview of the feature request**

Add support to create blueprints that have a peer dependency on generator-jhipster.

##### **Motivation for or Use Case**

Currently when we run generator-jhipster with blueprints, each blueprint will bring it's own generator-jhipster.
Those generator-jhipster version can be different and can cause unexpected results.

Current blueprints implementations w

[2019-10-13 05:37] SudharakaP commented on #10594
@pascalgrimaud : I've done the revert pull request. :smile:

[2019-10-13 07:03] MathieuAA commented on #10520
@JonasHess Just noticed you escaped things like \S twice, just do it once in the JDL and you should be good to go.

[2019-10-13 12:01] JonasHess commented on #10520
@MathieuAA Not escaping twice might fix the problem at the back end. But it will then not work in the front end.
'/S'  would just become 'S'

[2019-10-13 12:21] JonasHess commented on #10520
@pascalgrimaud  Why was this issue closed?  Pattern escaping is still broken on Angular side.

[2019-10-13 13:12] pascalgrimaud commented on #10520
@JonasHess : it has been automatically closed by https://github.com/jhipster/jhipster.github.io/issues/824

Cc @MathieuAA, should I reopen this ?

[2019-10-13 13:14] pascalgrimaud commented on #10594
I'm reopening this, as we don't have the real reason of the failures

See https://twitter.com/whichrich/status/1183348440803221504?s=19

I'll priorize it and will investigate.

[2019-10-13 14:08] SudharakaP commented on #10594
@pascalgrimaud : Yes, it seems that #10614 gives doesn't work either I believe since the intermittent problem has reoccurred. So we'll revert this too if you don't mind; #10614

This will in my opinion give a stable build (with the workaround).

[2019-10-13 14:44] SudharakaP commented on #10564
@Tonterias : This is strange. I went ahead and cloned your repo and updated it to latest JHipster version (I've just accepted all changes coming from the update branch in the merge for simplicity) and for me seems that the broadcast method is there. I've went ahead and created a repository that reflects the update. https://github.com/SudharakaP/spingularchatsql6/blob/master/src/main/webapp/app/cor

[2019-10-13 14:56] MathieuAA commented on #10520
@JonasHess don't worry, I don't think he's meant it! the problem is that there were two problems in this issue.

[2019-10-13 14:56] MathieuAA commented on #10520
@pascalgrimaud sorry about that!

[2019-10-13 15:11] mishkaechoes opened #10615 "Kubernetes Support 6.4.1 fails to find database and more"
##### **Overview of the issue**
Attempted to generate monolith with multiple different configurations. After running jhipster kubernetes a consistent error would result from not being able to identify the prod database:

ERROR! Error: Copying template db/undefined.yml.ejs failed. [Error: ENOENT: no such file or directory, open '/..../node_modules/generator-jhipster/generators/kubernetes/templates/

[2019-10-13 15:11] mishkaechoes opened #10725 "Kubernetes Support 6.4.1 fails to find database and more"
##### **Overview of the issue**
Attempted to generate monolith with multiple different configurations. After running jhipster kubernetes a consistent error would result from not being able to identify the prod database:

ERROR! Error: Copying template db/undefined.yml.ejs failed. [Error: ENOENT: no such file or directory, open '/..../node_modules/generator-jhipster/generators/kubernetes/templates/

[2019-10-13 15:13] Tonterias commented on #10564
Thanks for your patience @SudharakaP

Have you tried Without upgrading, starting from a brand new v6.4 app? Should we close the issue or should we try and see if there's a problem?

It is good that it works upgrading.

[2019-10-13 15:24] SudharakaP commented on #10564
@Tonterias : I've just tried that and it works as well. Could you delete your node_modules folder and do a npm install again.

[2019-10-13 16:13] Tonterias commented on #10564
Oh, that's embarrassing!
I will.

[2019-10-13 16:27] SudharakaP commented on #10564
@Tonterias : Don't be, there's lots of finicky things with these kinda problems. Try it out and let us know :smile:

[2019-10-13 17:02] pascalgrimaud commented on #10610
@murdos : why are you tagging it as a bug ? did you manage to reproduce the issue ?

@Alan-CS : I didn't manage to reproduce your generation:
- same config as you: https://github.com/pascalgrimaud/jh-issue-10610/blob/master/.yo-rc.json
- see the config https://github.com/pascalgrimaud/jh-issue-10610/blob/master/src/main/resources/config/application-dev.yml#L42-L68

[2019-10-13 17:03] pascalgrimaud commented on #10610
@Alan-CS : If you can provide more information on how you generate your project and/or push a custom project on github

[2019-10-13 18:07] murdos commented on #10610
@pascalgrimaud : I tagged this as a bug, in opposition to a feature request. And no I did not manage to reproduce this issue either (but I only tried with master version).

[2019-10-13 18:15] pascalgrimaud commented on #10610
@murdos : ok, in fact, 'bugs' label is only for confirmed bug, otherwise I think we should use 'need to reproduce' by default

[2019-10-13 18:27] pascalgrimaud commented on #10610
Closing as I couldn't reproduce.
Don't hesitate to provide more information, so we can retry to reproduce

[2019-10-13 18:27] #10610 closed

[2019-10-13 18:28] #10597 closed

[2019-10-13 18:28] #10593 closed

[2019-10-13 18:32] SudharakaP opened #10616 "Auto Delete Merged Head Branches of Pull Requests"
##### **Overview of the feature request**

I was wondering if it's possible to enable auto delete merged branches of pull requests; https://github.blog/changelog/2019-07-31-automatically-delete-head-branches-of-pull-requests/ and https://help.github.com/en/articles/managing-the-automatic-deletion-of-branches

cc: @jhipster/builders

##### **Motivation for or Use Case**

This would save unnecessary

[2019-10-13 18:40] pascalgrimaud commented on #10615
I think it's because the `prodDatabaseType` is missing in `generator-jhipster` and is present in `generator-jhipster-kotlin` instead.
Just tried with Vue.js blueprint and it works well.
Tried with Kotlin and I can confirm the issue.

I'm transfering the issue to jhipster-kotlin project, as I think the problem is on the blueprint side.

[2019-10-13 19:31] pascalgrimaud commented on #10594
Just tried tonight and I manage to reproduce the issue only 1 time.
Then, in Azure Daily builds:
- with OpenJDK8, it's KO -> https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=6338&view=logs&j=14ecf143-eece-5d03-88de-b4dd986b4ce4
- with OpenJDK11, it's OK -> https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=6337&view=logs&j=14ecf143-eece-5

[2019-10-13 19:32] pascalgrimaud commented on #10594
If it's not fixed, another solution would be to simply remove Couchbase builds from official CI here.

[2019-10-13 19:34] pascalgrimaud commented on #10616
I could change this, if all @jhipster/developers agree

[2019-10-13 19:37] SudharakaP commented on #10594
@pascalgrimaud : The [one that failed yesterday (which you quoted)](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=6338&view=logs&j=14ecf143-eece-5d03-88de-b4dd986b4ce4) I think doesn't count since it's caused by our testing, #10609. Just to make it absolutely clear, can we restart that build several times to see if it happens again?

[2019-10-13 19:39] pascalgrimaud commented on #10594
Ok, restarting the Official.openjdk8 right now

[2019-10-13 19:43] atomfrede commented on #10363
I think we can close this imho. We have updated the documentation for the advanced workflow with gradle, will have better generated pipelines soon and I don't think we should remove the automatic webpack execution when building the jar archive. @kaidohallik Are you ok with that?

[2019-10-13 19:43] #10363 closed

[2019-10-13 19:44] duderoot commented on #10363
@pascalgrimaud @kaidohallik @atomfrede from what I saw PR #10398 was only fixing the build for gradle. Are contributions related to the speed of pipeline for maven in other PR?

[2019-10-13 19:57] Alan-CS commented on #10610
I ran the following command to generate: jhipster app --yarn --skip-git
 I again regenerated the App but could not reproduce the issue.

Also, originally, I had used H2 for the DEV DB. But then I deleted the entire App and regenerated with  everything same except I used MYSQL for both DEV and PROD. And that's when the problem seems to have happened. But I tried this scenario also and could not rep

[2019-10-13 20:37] Alan-CS commented on #10610
BTW, I believe, this is a genuine but non reproducible bug. I say this because I now regenerated the app to solve the problem (To use MYSQL for both DEV and PROD) and because I have git in the top level root folder, I see that the following files have changed (To use MYSQL instead of H2):

        modified:   tiwebsql/build.gradle
        modified:   tiwebsql/src/main/resources/config/application-

[2019-10-13 20:47] pascalgrimaud commented on #10610
thanks for your feedback

[2019-10-14 01:26] mshima commented on #10611
https://github.com/yeoman/environment/pull/119 has been merged.
And yeoman-environment 2.5.0 has been released.
JHipster doesn’t need to depend on this version only the blueprint.

[2019-10-14 01:46] SudharakaP commented on #10594
@pascalgrimaud : So it seems my fix on the Azure pipeline with JDK 8 didn't work; it's still flaky. I will try to recreate this issue on the testcontainers couchbase module itself to see if we can find the problem. :smile:

[2019-10-14 05:59] kaidohallik commented on #10363
@duderoot Maven part was optimized by #10392 and #10398 was follow-up for Gradle.

@atomfrede I think documentation is not updated. As Gradle continuous build results to infinite rebuild in some JHipster configurations then I think ATM we can't suggest this. So maybe ATM just change
[code]
to
[code]
in https://github.com/jhipster/generator-jhipster/blob/master/generators/common/templates/README.md