[2019-05-07 19:28] PierreBesson commented on #9677
I don't understand what dockerfile you are talking about ? Anyway if it's the one in stc/main/docker it's going to be removed.
For the Jenkinsfile that uses jib, you can have a look at my PR : https://github.com/jhipster/generator-jhipster/pull/9688

I would greatly appreciate feedback on it.

[2019-05-07 21:19] pascalgrimaud commented on #9692
Not sure, I think it has been already asked but I didn't find the ticket or the comment.
Maybe do you remember @avdev4j or @murdos ?

[2019-05-07 21:29] pascalgrimaud commented on #9684
Matt is probably right, that's why I'm closing this.
Don't hesitate to comment if needed

[2019-05-07 21:29] #9684 closed

[2019-05-07 21:37] pascalgrimaud commented on #9683
Just tested and it works well, if you start the backend, with `maven`, as suggested by @ruddell (thanks to  you !)
I'm closing this.

[2019-05-07 21:37] #9683 closed

[2019-05-07 21:42] pascalgrimaud commented on #9672
Sorry, but it's the 3rd ticket you opened and I still don't understand what you want.
Is it a bug or a feature request ?
Can you provide your configuration ? Some sample JDL ? What you want or what it's supposed to be generated etc ?

[2019-05-07 21:42] pascalgrimaud commented on #9672
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-07 21:42] #9672 closed

[2019-05-07 21:56] pascalgrimaud commented on #9666
I confirm the issue and can reproduce.
Thanks a lot for your analyze, @Gabrui !

[2019-05-07 22:09] #9652 closed

[2019-05-07 22:12] pascalgrimaud commented on #9594
As no one commented this, I supposed it's not a must have
I propose to stick with Elasticsearch API for now, we can wait opinion from other people

Let's close this ticket, as we have so much bugs to fix

[2019-05-07 22:12] #9594 closed

[2019-05-07 22:14] #9677 closed

[2019-05-07 23:24] mguyaux opened #9696 "findByUserIsCurrentUser using OAuth2/OIDC : username not found"
##### **Overview of the issue**
On a new monolithic application with Oauth2/OIDC, the generated code to query an entity by current user generate an exception.

<details>
<summary>stack trace</summary>
<pre>
org.springframework.expression.spel.SpelEvaluationException: EL1008E: Property or field 'username' cannot be found on object of type 'org.springframework.security.oauth2.core.oidc.user.DefaultO

[2019-05-08 00:52] mraible commented on #9696
This should be fixed by https://github.com/jhipster/generator-jhipster/pull/9668.

[2019-05-08 01:33] 690284557 commented on #9672
it's a feature request
For example, I wrote a simple book. JDL
* * * book *
Entity Book{
BookName String/** book name*/
WterName String/** author*/
}
Then the entity generated by jhipster: import-jdl book.jdl is roughly as follows
@ ApiModel (description = book)
@Entity
@ Table (name = book)
@ Cache (usage = CacheConcurrency Strategy. NONSTRICT_READ_WRITE)
@ Document (indexName = book)
Public clas

[2019-05-08 02:48] elkassar opened #9697 "duplication of creating jhipster-registry with microservice and gateway applications"
I'm creating a new microservice and gateway applications. I need both to be discovered with the same only one jhipster-registry. Why I have to add jhipster-registry with every microservice and gateway in the generator steps?

[2019-05-08 03:05] pmverma commented on #9672
@690284557,  `columnDefinition` is used to override the default DDL generated by JPA/Hibernate. It is not for comments.
FYI https://stackoverflow.com/a/17482163/1702242

For JHipster, if you have added comment for a field in the JDL then both `Entity.java` and liquibase definition will have those comments. Even in the database table ddl, I have seen that comment.

[2019-05-08 03:19] 690284557 commented on #9672
So, liquibase I didn't use. I'll try it. Thank you.

[2019-05-08 03:43] pmverma commented on #9651
Thanks @pascalgrimaud and @ruddell .
My main concern was keeping `.yo-rc.json` or `entitty.json` up-to-date is hard.
For eg, you can see not all `.yo-rc.json` contains followings which has been in main generator since previous version.
[code]
And also same for:
[code]
I know this won't bring much value but we will have a consistent config file.

[2019-05-08 06:04] yamireh opened #9698 "Hibernate sequence in Jhipster app"
I can see that all applications created by [jhipster], are using **hibernate_sequence** as the general sequence for all entities. Normally I create a sequence for each entity. So, in my [jhipster] application I have to modify the entity file to customize the sequence name instead of **hibernate_sequence**. Why you are using general **hibernate_sequence**? Is it best practice instead of using new s

[2019-05-08 07:11] #9693 closed

[2019-05-08 07:21] pascalgrimaud commented on #9697
Sorry, I don't understand clearly your problem.
You need to choose the same discovery when generating microservices, that's all.

[2019-05-08 07:27] pascalgrimaud commented on #9697
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-08 07:27] #9697 closed

[2019-05-08 07:49] jdubois commented on #9698
Please, this is for bug reports not questions, use Stackoverflow instead.
Have a look in past issues this has already been asked.

[2019-05-08 07:58] asmolabs opened #9699 "Unable to use underscore in appFolders when using jdl file"
##### **Overview of the issue**

We can use an underscore in baseName. When we use it, jhipster generate a folder with and underscore.

But we can't use an underscore in appFolders array. Jhipster generate a regex exception

##### **Motivation for or Use Case**
If we can use an underscore in baseName we must we able to use it in appFolders

##### **Reproduce the error**

Generate an microservice a

[2019-05-08 07:58] yamireh commented on #9698
Please accept my apologies. I already posted a question there. But normally no one answers me there. [[check here](https://stackoverflow.com/questions/56034575/using-hibernate-sequence-as-general-sequence-in-application)].

[2019-05-08 08:28] jdubois commented on #9698
I did answer here because you mentioned me and this was a ticket, so I though there was an urgent bug specific for me. But there are more people on Stackoverflow, and that's better for everyone as the questions and answers are voted and easily searchable. So you should normally have better answers there, although I can't guarantee, of course.

[2019-05-08 08:37] pascalgrimaud commented on #9698
@yamireh : you posted your question 2 hours ago, you can't expect people answer to you immediatly.
Just for your information, we work on this project during our personal time, we fixed bugs, help other people for free and we are not paid for that.

[2019-05-08 08:37] pascalgrimaud commented on #9698
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-08 08:37] #9698 closed

[2019-05-08 09:44] pascalgrimaud commented on #9699
It seems related to:
- https://github.com/jhipster/generator-jhipster/issues/9335
- https://github.com/jhipster/jhipster-core/pull/312

Could you provide more information, with some JDL and your `jhipster info` ? So it will be easier to try to reproduce

[2019-05-08 09:59] pascalgrimaud commented on #8366
@ggotti : will you have time to have a look on this ticket, which is opened 7 months ago, plz ?

[2019-05-08 11:19] #9666 closed

[2019-05-08 15:39] mraible commented on #9696
Looking at https://docs.spring.io/spring-security/site/docs/current/api/org/springframework/security/oauth2/core/oidc/user/DefaultOidcUser.html, if you change it to {principal.preferredUsername}, does it work?

[2019-05-08 16:10] alexsintoni commented on #9407
Hi @pascalgrimaud ,

I added that configuration to `application-dev.yml` as you can see below, but still same error:
[code]

Elasticsearch health check failed:
[code]

[2019-05-08 16:29] pascalgrimaud commented on #9407
@alexsintoni : just tried your config and I don't have this stacktrace about health check. I generated your UAA application, then:
- start the registry with docker-compose
- start MySQL with docker-compose
- start Elasticsearch with docker-compose
- start your UAA app, using `./mvnw`

Did you start your local Elasticsearch ? Then be sure it is available at `http://localhost:9200`. For me it's the

[2019-05-08 16:33] #9342 closed

[2019-05-08 16:50] pascalgrimaud commented on #9626
I don't have any issue with the last version of Vue.js blueprint [generator-jhipster-vuejs@1.0.0-beta2](https://www.npmjs.com/package/generator-jhipster-vuejs)

The final version 1.0.0 should be released soon, or you can try directly the master version: https://github.com/jhipster/jhipster-vuejs

I'm closing this, as I can't reproduce.
Don't hesitate to comment, provide more steps to reproduce, or

[2019-05-08 16:50] #9626 closed

[2019-05-08 17:02] SoniaLahi commented on #9694
Hi,

This is not linked to enums. The tags inside the <option> are not interpreted apparently.
Replacing the tag <Translate/> with the related javascript method translate solves the problem.

Meaning, to display the translations in the list, changing :
<option value="SPANISH">
  **<Translate contentKey="jhipsterEnumApp.Language.SPANISH" />**
</option>

to the following works :
<option value="SPANI

[2019-05-08 17:16] pascalgrimaud commented on #9694
It looks like to be a valid solution, as I can see `{translate("...")}` is used everywhere too.
Would you like to contribute and PR your fix @SoniaLahi ?

[2019-05-08 17:30] SoniaLahi commented on #9694
yes, I can @pascalgrimaud

[2019-05-08 17:33] mraible commented on #9407
@pascalgrimaud When I originally opened this issue, it was because it happened when Elasticsearch wasn't running with Docker Compose. When you're running the `dev` profile, Elasticsearch runs in embedded mode and it uses the local file system instead of a URL.

[2019-05-08 17:42] pascalgrimaud commented on #9407
@mraible : oh I see. Not sure if there is an embedded Elasticsearch or not. We need to check this

[2019-05-08 17:45] mraible commented on #9407
There is, using [Spring Data Jest](https://github.com/VanRoy/spring-data-jest). I [coded it](https://github.com/jhipster/generator-jhipster/pull/8122) myself. The reason I opened this ticket initially is because there's still a health check and it should be disabled somehow when running in `dev` mode.

[2019-05-08 18:40] mguyaux commented on #9696
It works !
Should I try a pull request to change `principal.username` to `principal. preferredUsername` in EntityRepository.java.ejs in case of OAuth/OIDC ?

[2019-05-08 18:54] mraible commented on #9696
Yes, please! I'd be happy to review.

[2019-05-08 19:52] pascalgrimaud commented on #9407
Ok, I understand better the problem.
When working on Kubernetes, I got the same stacktrace with healthcheck in the logs, I thought it came from this property.

For disable the health check for Elasticsearch in dev, we can use, in `application-dev.yml` :
[code]

Can you tell me if this works for you @alexsintoni ?
I'll probably PR this change

[2019-05-08 20:32] eapriansyah opened #9707 "Access to microservice from gateway failed after 5 minute idle, re authentication required"
##### **Overview of the issue**
When the user is idle for more than 5 minutes, access from the browser to microservice is not authenticated.

##### **Motivation for or Use Case**
After 5 minute idle, access to the entire menu in the gateway, no need for authentication, only related to the microservice that needs authentication. For public users, it will be a bit confusing.

##### **Reproduce the e

[2019-05-08 21:07] mraible commented on #9707
You mentioned "Microsoft". Are you using Microsoft as your OIDC provider? If so, does the same behavior happen with Keycloak?

[2019-05-08 21:10] eapriansyah commented on #9707
No that is typo, I mean microservice.

[2019-05-08 21:11] avdev4j commented on #9692
I don't think we have a ticket for that. I remember a private discussion about doing a blueprint for app generator.
One solution invoked was to do our own app sub generator. TBH I did not try.

I understand your problem @arjunnayak I have the same one for a company blueprint.
But I wonder if it's really the goal of blueprints. What do you about that @deepu105?

[2019-05-08 21:19] cbornet opened #9708 "No client option"
##### **Overview of the feature request**

Since we now have a question for the front-end framework we can also propose a `No client` choice that has the same effect as `--skipClient`

##### **Motivation for or Use Case**

I think JHipster can be used for every type of applications, even monolithic ones without front-end

-   [x] Checking this box is mandatory (this is just to show you read everyt

[2019-05-08 21:22] mraible commented on #9707
Hmmm, it sounds like Spring Security might not be fetching refresh tokens and renewing access tokens for you. I'm not sure how to fix just yet.

[2019-05-08 21:25] ruddell commented on #9707
It looks like the path name is included in the OAuth2 redirect [here](https://github.com/jhipster/generator-jhipster/blob/a88374f1001e82177540b7d57ada6a56291f3ca3/generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs#L44-L55), it should only include the base HREF and not the path.  I did a fix for websockets which had a similar issue ([changes](https://github.com/

[2019-05-08 21:39] murdos commented on #9708
+1
I'm just wondering: since this could be already achieved by selecting the application type `microservice`,
what would be the fundamental difference between a monolith with no client and a microservice with no registry?

[2019-05-08 21:55] murdos commented on #9692
I'm a bit puzzled with this request (and I don't remember having already discussed it): by overriding the app subgenerator you can really change the full jhipster behavior, since this subgenerator is orchestrating the other subgenerators (`common`, `server`, `client`, ...).

But why not, we could try. I also wonder what @deepu105 thinks about it.

[2019-05-08 22:00] avdev4j commented on #9708
I feel people used to generate server and client sides separately so this option could be more user friendly than the flag `--skip-server`. Same for a gateway

[2019-05-08 22:06] murdos commented on #9708
The question behind my previous question is: do we still need to keep and store the `applicationType` that the user has selected, or is this is just a way to filter further questions that the generator will prompt?

[2019-05-08 22:30] #9696 closed

[2019-05-08 22:47] cbornet commented on #9708
The main remaining difference between a micro-service and a monolith is that you can authenticate on a monolith whereas on a micro-service authentication happens on the gateway.

[2019-05-09 00:17] arjunnayak commented on #9692
As mentioned in the description, our main concern is simplifying the prompts. At this time, we don’t have other needs to override the app generator. For example, we have our own front end generator based on create-react-app, so there’s no need to even prompt for application type since our blueprint is only used for generating micro services.

Is it possible to move these prompts to a separate gene

[2019-05-09 02:06] sometxdude opened #9713 "Long path error on Windows when using Gradle with JHipster 6.0.0 (similar to Issue #4323)"
It seems like the long path error associated with Windows/Gradle has returned.

Issue #4323 explains the error.

It seems the workaround for this error was removed on April 19th, 2019 in the following commit:
https://github.com/jhipster/generator-jhipster/commit/73e50bac422fb86b6c483cd6f19f8c6a5cc86889#diff-2c3f53e6e847061a8ab6ba212e021632

I'm using Windows 10, and I tried using the registry key

[2019-05-09 03:35] arslan2012 opened #9714 "vendor chunk voids angular's vendor lazy loading"
##### **Overview of the issue**
I have used XLSX library in lazy loaded admin module.
XLSX is a big library so I would like it to be lazy loaded.
with the default webpack config the library will be bundled into vendor chunk.
<details>
<summary>disabling vendor chunk enables @angular/webpack 's built-in lazy loading.</summary>

[code]
</details>
before disabling vendor chunk:

[code]
after disablin

[2019-05-09 04:20] atomfrede commented on #9713
You are right we removed it as it looked like to be okay with Windows 10. Have you checked adding the workaround into your build.gradle to fix the problem ?

[2019-05-09 04:57] pascalgrimaud commented on #9713
As asked by Matt, if you add the deleted code into your build.gradle, does it fix the problem?

If yes, we have different behaviour here, with Windows 10:
- some users don't need this code otherwise, it will fail
- some users like you need this code

[2019-05-09 05:20] atomfrede commented on #9713
I really hoped it would be solved with windows 10. Maybe it has something to with a patch release or so?

[2019-05-09 06:34] avdev4j commented on #9692
having pre and post prompt sub generators could be a way to do this.

Another solution for you could be having your own jhipster online (the original one is open source too) and remove the fields you don't need (application type for exemple) then it generates a .yo-rc.json and call your blueprint. Every prompt you want to skip will be fill up in the .yo-rc by the jhipster online. I assume it chang

[2019-05-09 07:14] alexsintoni commented on #9407
Hi @pascalgrimaud ,

really thanks for your help.
I was not aware that from JHipster v6.0.0 I need to start Elasticsearch with docker-compose. All previous versions I could always start all the micro-services with `./mvnw`.

What command should I use to start Elasticsearch?
I also guess that I have to start Elasticsearch only once and it will be used by UAA, My Micro-Service Application and the Ga

[2019-05-09 07:18] pascalgrimaud commented on #9407
No, i was wrong !! You don't need to start elasticsearch in dev
There is an embedded Elasticsearch.

The fix should be this one:
https://github.com/jhipster/generator-jhipster/pull/9715

[2019-05-09 08:18] wmarques commented on #9714
Good catch, I need to analyze where the other libs go if we remove the `vendors` chunk. I'll check this

[2019-05-09 08:36] jdubois commented on #6573
I can confirm Spring Loaded is dead... Currently we only work with the Spring Boot devtools: it's very basic but it does the job quite well, and there's no risk to have much bugs with it (it just reloads everything). That looks "good enough" for me, even if I'd like something better, of course.

[2019-05-09 10:55] MathieuAA commented on #9694
It may be because that having the `Translate` component  inside a basic `option` tag doesn't render it as expected (object instead of a string)...

[2019-05-09 10:58] pascalgrimaud commented on #9380
@fishonweb : any advance on this ?

[2019-05-09 11:21] PopiBrossard opened #9716 "404 error on gateway application, using EKS"
Hi!

##### **Overview of the issue**

I'm trying to deploy an application (monolithic or microservices, doesn't matter) to EKS (this one for example: https://github.com/PierreBesson/jhispter-aks-demo/), but everytime I'm requesting the gateway application I'm getting a `404` error, no matter which URL i'm requesting. The problem is no there are no strange behaviours or logs, all the pods and servi

[2019-05-09 12:47] asmolabs commented on #9699
Jdl File

//gateway
application {
  config {
    baseName com_xxx,
    packageName com.xxx.gateway,
    buildTool maven,
    applicationType gateway,
    authenticationType oauth2,
    databaseType sql,
    prodDatabaseType mysql,
    devDatabaseType mysql,
    nativeLanguage fr,
    languages    [fr, nl],
    serviceDiscoveryType eureka,
    serverPort 8080,
    useSass true,
    testFrameworks[p

[2019-05-09 12:48] asmolabs commented on #9699
INFO! The JDL is being parsed.
error: Error message:
        The appsFolders property name must match: /^[A-Za-z][A-Za-z0-9]*$/
        at line: 49, column: 16
The appsFolders property name must match: /^[A-Za-z][A-Za-z0-9]*$/
        at line: 49, column: 25
SyntaxError: Error: The appsFolders property name must match: /^[A-Za-z][A-Za-z0-9]*$/
        at line: 49, column: 16
The appsFolders proper

[2019-05-09 13:18] sometxdude commented on #9713
I tried adding in the snippets that were removed, but I still got an error.   My attempts to put a pathingJar or classpathJar task back into the build.gradle have not helped so far.  If I am remembering correctly, I ended up with a different error after adding the pathingJar back in.  It was saying that java.exe exited with a non-zero exit code, but despite turning on stacktrace and debug args,, I

[2019-05-09 14:39] atomfrede commented on #9713
@pvliss can you have a look as it works for you without the workaround. Is that still the case?

[2019-05-09 15:37] Shaolans commented on #9699
To be able to use underscore on appsFolders, we need to change ```ALPHANUMERIC``` to ```ALPHANUMERIC_UNDERSCORE``` [here](https://github.com/jhipster/jhipster-core/blob/master/lib/dsl/validator.js#L194-L198)

[2019-05-09 15:38] Shaolans commented on #9699
And your jdl still can't be parsed because of ```microservice Test with com_core``` due to [here](https://github.com/jhipster/jhipster-core/blob/master/lib/dsl/validator.js#L472)

[2019-05-09 16:16] sometxdude commented on #9713
According to [this article](https://tuhrig.de/gradles-bootrun-and-windows-command-length-limit/), CreateProcess() on Windows has an absolute upper limit of 32767 characters.  My java launch command is 35606 characters in length.  I think this 32767 figure is a separate limit from the 260 character Path limit.  The Windows registry modification appears to remove only the 260 character path limit, b

[2019-05-09 16:35] pvliss commented on #9713
@sometxdude More details on the problem can be be found at this [issue](https://github.com/gradle/gradle/issues/1989). Since I  was not able to reproduce the problem can you please also try the other workarounds referenced there, e.g using the plugin: https://github.com/viswaramamoorthy/gradle-util-plugins or its fork: https://github.com/viswaramamoorthy/gradle-util-plugins

[2019-05-09 17:03] pvliss commented on #9713
@sometxdude Also, can you share your configuration and any extra dependencies that you might be using which can help us replicate?

[2019-05-09 17:31] sometxdude commented on #9713
@pvliss I tried the plugin at https://github.com/viswaramamoorthy/gradle-util-plugins and it fixed the issue.  Thanks for mentioning that.  I am leaving my environment info here should anyone need to reproduce the error.

My environment consists of the following:

-  Windows 10 Home version 1809, OS Build 17763.475
- JDK 11.0.3
- JHipster 6.0.0 installed via npm
- workspace at C:\Users\jsdym\works

[2019-05-09 18:05] pvliss commented on #9713
@sometxdude Nice to know it works and thanks a lot for the extra info!!! Will try to replicate within the next couple of days

@atomfrede Maybe we should enable the plugin by default instead of the workaround?

[2019-05-09 20:14] atomfrede commented on #9713
@pvliss I will also try to reproduce it over the weekend (my windows is just for gaming so nothing installed yet). If the plugin works we can give it at try, but as seems not to be very well maintained I fear we will have more problems when gradle 6 is released (and we still have some deprecation warnings currently).

[2019-05-09 20:44] Tcharl commented on #9280
I was on it, but unfortunately I really busy ATM.
If it's on my side, do not expect it before the end of summer.

[2019-05-09 20:55] Tcharl commented on #9707
Same behavior here: no refresh token fetched from Keycloak (part of the OAuth2AuthenticationToken)

[2019-05-10 05:10] pvliss commented on #9713
@atomfrede You are right. It is not really maintained and this might pose a problem in the future. Will need to revisit the workaround though as it does not work either

[2019-05-10 05:37] pascalgrimaud commented on #9716
@PopiBrossard : first of all, thanks for completing the issue with logs and information.

To be honest, we have difficulty to test and reproduce issues with AWS, as they didn't sponsor us. That's why the 2 sub generators AWS and AWS containers seems broken. There is 1 ticket opened since 7 months, and no one want to try to have a look or fix it.

About your issue, it looks like you used directly a

[2019-05-10 05:44] mraible commented on #9716
Okta would be happy to sponsor AWS instances for JHipster. 🙂

[2019-05-10 05:57] pascalgrimaud commented on #9501
@pmverma : just to know, do you plan to work on this ?

[2019-05-10 06:25] pascalgrimaud commented on #9447
I confirm the bug.
Setting `alertAsToast` to true, doesn't work.

[2019-05-10 06:46] ksilz opened #9721 "jHipster 6.0.0: wrong fake data breaks Liquibase, app"
##### **Overview of the issue**
For my Angular / H2 monolith, jHipster generates fake data with a column that's not in my data model. Liquibase and the app fail starting up.

- The JDL file [is here](https://github.com/ksilz/jhipster-6-java-11-test/blob/master/simple-shop.jdl).
- This is the [`product` table that was generated](https://github.com/ksilz/jhipster-6-java-11-test/blob/master/src/main/

[2019-05-10 06:56] #9145 closed

[2019-05-10 07:26] jdubois commented on #9716
@pascalgrimaud given the huge engagement of Ippon with AWS, there should be something doable on that side.

[2019-05-10 08:04] pascalgrimaud commented on #9721
As you said, there are already 4 opened tickets about `faker.js` :
https://github.com/jhipster/generator-jhipster/issues?q=is%3Aissue+is%3Aopen+label%3A%22theme%3A+faker.js%22

With this one, it's 5 tickets now.
I was already suggested to regroup all information in 1 ticket.
I know it's different use cases, but it would be easier to follow.

[2019-05-10 08:21] Kerruba commented on #9692
Hello,
We potentially have a similar issue in our company and I think at least being able to limit the type of application or other options in the app sub-generator could be useful.
At the moment we are focusing on building micro-services using JHipster and the blueprint technology, and being able to at least fix the type of application our customers will build could help in reducing a bit of conf

[2019-05-10 10:39] murdos commented on #9692
After thinking more about it, I think we should do it.
I'll probably work on it and give it a try in the next days.

[2019-05-10 10:49] Kerruba commented on #9692
@murdos which of the two approach are you talking about? being able to override steps in the app-generator and give full control to the blueprint author or just limit certain options?

[2019-05-10 12:04] murdos commented on #9692
Give full control, by making `app` subgenerator overridable like other subgenerators such as `server`, `client`, ...

[2019-05-10 12:40] pascalgrimaud commented on #9692
thanks @murdos
I changed the label and assigned the ticket to you

[2019-05-10 12:45] PopiBrossard commented on #9716
@pascalgrimaud thanks for your response and your advice.

After updating the project I was using (the example I gave you wasn't using the latest version of jhipster), the bug disappear. I should have a look at the changelog to completely understand why, but the bug is gone.

Just to clarify, I'm not really using an aws command to deploy to EKS. The real deployment is the `bash -e kubectl-apply.sh`

[2019-05-10 12:45] #9716 closed

[2019-05-10 15:46] #9407 closed

[2019-05-10 17:28] sometxdude opened #9723 "ClassNotFoundException for EndpointMBean, DataEndpointMBean and LiveBeansView"
I am getting ClassNotFoundExceptions when running a freshly generated, unmodified JHipster project on Windows using JDK 11.0.3

 EndpointMBean, DataEndpointMBean and LiveBeansView are all showing up as class not found
when running ./gradlew.bat

This could be a Spring Boot issue that was raised here by someone else:
https://github.com/spring-projects/spring-boot/issues/16806

Code to reproduce the

[2019-05-10 17:40] pascalgrimaud commented on #9723
It's very nice to have the code on GitHub.
But can you post your `jhipster info` too ? So we have your tools and configuration too, to try to reproduce.

Thanks in advance

[2019-05-10 20:09] arjunnayak commented on #9692
thanks @murdos, let us know how we can help!

[2019-05-11 02:44] sometxdude commented on #9723
I wasn't aware of that command.  That's a keeper.  Here is the output:

INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "genera

[2019-05-11 05:31] ksilz commented on #9721
Two other fake data files also have bugs.

`shopping_order`: [table definition](https://github.com/ksilz/jhipster-6-java-11-test/blob/master/src/main/resources/config/liquibase/changelog/20190510044559_added_entity_ShoppingOrder.xml), [fake data](https://github.com/ksilz/jhipster-6-java-11-test/blob/master/src/main/resources/config/liquibase/data/shopping_order.csv)
• Has no `orders_id` column, bu

[2019-05-11 06:21] ksilz opened #9726 "jHipster 6.0.0: DTO mapper doesn't ignore two collection helper methods"
##### **Overview of the issue**

I created a jHipster 6.0.0 / Java 11 project with a data model and DTOs. After fixing the wrong fake data ([#9721](https://github.com/jhipster/generator-jhipster/issues/9721)), Mapstruct warned about two unmapped target properties. Both were collection helper methods in the entities.

Both entities have a `Set` of another entity. jHipster generated `addX` and `remo

[2019-05-11 06:34] #9714 closed

[2019-05-11 09:17] duxy2002 commented on #8498
any updates?

[2019-05-11 09:27] yelhouti opened #9727 "can not debug jhipster import-jdl"
##### **Overview of the issue**

I can not debug jhipster import-jdl anymore since 6.0.0
##### **Motivation for or Use Case**

I'm trying to debug a blueprint
##### **Reproduce the error**
`/usr/bin/env node --inspect-brk /usr/bin/jhipster import-jdl jhipster.jh`

##### **Related issues**

##### **Suggest a Fix**
increment the debug port foreach subprocess, I think this caused because import-jdl s

[2019-05-11 09:39] ksilz commented on #9726
For reproducing this bug, you can also

- clone [my repository](https://github.com/ksilz/jhipster-6-java-11-test.git),
- switch to the `fake-data-fixed` branch, and then
- run `./gradlew`.

[2019-05-11 13:04] atomfrede commented on #9713
@pvliss Going to have look at this tonight

[2019-05-11 13:07] atomfrede commented on #9631
@jhipster/developers Personally I think we can put this to our documentation/tips & tricks section as it only affects the html report. What do you think?

[2019-05-11 13:23] pascalgrimaud commented on #9631
It could be there too: https://www.jhipster.tech/code-quality/
So the user can decide what to do

[2019-05-11 21:23] atomfrede commented on #9713
So the default application works just fine. Adding elastic search and websockets breaks the limit. I have a working solution. Doing a pr tomorrow.

[2019-05-12 00:27] amatosg commented on #9677
@pascalgrimaud I'm surprised and very curious about this, why is the generated dockerfile not used anymore?

[2019-05-12 07:23] pascalgrimaud commented on #9677
See https://twitter.com/fdelbrayelle/status/1127236438586793984?s=19
It's in french. In needed, I can translate to you later (when I'll be with computer instead of phone)

[2019-05-12 07:58] xenogew commented on #9426
@PierreBesson @pascalgrimaud
Here is update after I run `jhipster upgrade` (of version 6.0.1)

Refer to same [repository](https://gitlab.com/w_nattasan/jhip-cicd-bug),

Block issues after `jhipster upgrade`

- `image: jhipster/jhipster:vN.N.N` was removed from `.gitlab-ci.yml` (N is number of jhipster docker image version)
- `CucumberIT.java` class throw error `CucumberIT ? IllegalState Failed to

[2019-05-12 12:39] pascalgrimaud commented on #9727
If you know how it can be improved, PR are welcome ! :)

[2019-05-12 19:33] #9694 closed

[2019-05-13 01:25] anjia0532 commented on #9667
@690284557 use liquibase remarks attr. https://www.liquibase.org/documentation/changes/create_table.html

[2019-05-13 05:29] #9713 closed

[2019-05-13 05:33] #9708 closed

[2019-05-13 07:23] PierreBesson commented on #9727
Well for me, we should have a mode that doesn't do do any process forks as it becomes impossible to control generation using the API. Also when generating apps in a serverless environment I had problems as it doesn't really suppo

[2019-05-13 09:43] yelhouti commented on #9727
my work-around for now is: `--inspect-brk=0` this picks a random port forach subprocess that I read on the terminal that I use to debug, but it's a PITA since it changes every time.
another solution would be to increment it foreach subprocess, but if a subprocess have it's own forks they will be collisions again...
Another approach would be to have extra args in th JDL file, that can be used for o

[2019-05-13 12:34] Tcharl opened #9735 "Secured endpoints do not work with OIDC"
##### **Overview of the issue**

We systematically get a 401 when using `@Secured(AuthoritiesConstants.ADMIN)` with OIDC configuration.
The authorityMapper is not called, and also it's not accurate when compared to the JWT token.
What's the best way for fixing the issue?

##### **Motivation for or Use Case**

Securing endpoint

##### **Reproduce the error**

add a @Secured annotation on a resource

[2019-05-13 12:56] clement26695 commented on #9665
I started a PR to solve some of these issues.

Concerning uniqueness, there is a function in faker that could help (https://github.com/Marak/faker.js/blob/a9a11ee55ae1ae528ffc14c869a4c8353e2ba419/lib/unique.js#L6), but it is not in the latest release of fake.js (which was done in february 2017).

[2019-05-13 13:20] clement26695 commented on #9665
And for regular expression, maybe use a tool like https://github.com/fent/randexp.js ?

[2019-05-13 15:23] pmverma commented on #9501
@pascalgrimaud I noted here so that this can be improved later. If there is none then I will work on this. I just need more time to take care of this.

[2019-05-13 15:52] pascalgrimaud commented on #9501
thanks, I assigned the ticket to you :)

[2019-05-13 17:15] pascalgrimaud commented on #9723
I tried to reproduce your issue but didn't manage.
Everything works fine with JDK11 for me.

Here what I did:
- start a Docker container with JDK11: `docker run --rm -it jhipster/jhipster:v6.0.1 bash`
- once inside the container, clone your project: `git clone https://github.com/sometxdude/issue-16806-example`
- `cd issue-16806-example/`
- `chmod +x gradlew`
- `./gradlew`

Here the output logs:

[

[2019-05-13 17:20] pascalgrimaud commented on #9727
Here a similar issue https://github.com/jhipster/generator-jhipster/issues/9570 -> it's not exactly the same

The related code is here: https://github.com/jhipster/generator-jhipster/blob/master/cli/import-jdl.js#L195-L221

Don't hesitate to submit a PR to improve it plz.

[2019-05-13 17:23] pascalgrimaud commented on #9699
So do you confirm the issue @Shaolans or not ?
If yes, do you have a fix for that ?

[2019-05-13 17:36] Shaolans commented on #9699
Looks like it is, I think we can simply change the validation pattern. I will investigate deeper to confirm that fix.

[2019-05-13 22:00] ArthurFromDnipro opened #9738 "Ability to define comfortable identifier field on CRUD UI instead of ID"
Ability to define comfortable identifier field on CRUD UI instead of ID.
##### **Overview of the feature request**
For example,
`entity Company {
    name String viewId
}`
Keyword 'viewId' or other will say: "This field will be shown on UI, instead of just ID,
when user selects one such entities on Create or Edit form of **other** _related_ entity."

##### **Motivation for or Use Case**

This will

[2019-05-13 22:01] ArthurFromDnipro commented on #9738
remove, if duplicate, please

[2019-05-13 22:26] Hizmarck opened #9739 "JHipster doesn't show the correct errors"
##### **Overview of the issue**

I had used JHipster online to generate .jh file, when I used the option "Apply", then I got this response:

[code]

When I checked the generated branch, and compare with my actual branch:

![Screenshot from 2019-05-13 15-32-59](https://user-images.githubusercontent.com/4828196/57652270-cefff000-7594-11e9-88b2-3cf99cf720d6.png)

How can you see, the classes didn't g

[2019-05-14 05:10] pascalgrimaud commented on #9738
Thanks for your proposal.

But I'm not sure it should be done, as it's against our Policy 2: only add options when there is sufficient added-value in the generated code

[2019-05-14 06:32] ruddell commented on #9738
This is already possible, see the `display-field` documented in the [JDL Relationship docs](https://www.jhipster.tech/jdl/#relationshipdeclaration)

For example, with the below JDL, the Author's `name` field is listed in the drop-down when creating/editing a Book entity:
[code]

[2019-05-14 06:32] #9738 closed

[2019-05-14 06:41] pascalgrimaud commented on #9738
Thanks @ruddell
But I thought he's talking about the 'id', displayed in the title of update page.
Anyway, it wasn't clear enough

[2019-05-14 09:05] clement26695 commented on #9665
I didn't saw we already used it for generating integration tests, so it should be ok.

I'm open to reviews, if someone has the time to check my PR.

[2019-05-14 11:58] cirotarini commented on #9639
I have now a very simple workaround:
* you want to have a onetomany relationship between owners and pets, without the issue above **

1)
generate a jhipster app with this relation:
entity Owner {
    name String required
}
entity Pet {
    name String required,
    species String required
}
relationship OneToMany {
    Owner{pet} to Pet{owner}
}

2)
generate another jhipster app with the same rela

[2019-05-14 18:00] Tenmak commented on #6614
How do you feel about your pain points now ? This topic should be reviewed again.

[2019-05-14 18:17] pascalgrimaud commented on #6614
If someone wants to give a try to Angular Cli again, it would be very welcome !

But I don't think the team has the bandwidth, so don't hesitate to post here the result.

[2019-05-14 21:01] pascalgrimaud commented on #9739
Just reproduced and discovered a major issue here.
The problem comes from your JDL which is incorrect. In fact, your entity can end with `Detail`. See this code: https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L270

But the problem is major, as **all error are not displayed any more**.
Just try: `jhipster entity 999`, and the result is:

[code]

[2019-05-14 21:19] pascalgrimaud commented on #9739
Using `git bisect`, I got this result:

[code]

It seems an issue with `yeoman-generator`.
If I downgrade to from `2.3.4` to `2.3.0`, it works

[2019-05-14 21:31] pascalgrimaud commented on #9739
This commit can probably help here:
https://github.com/yeoman/environment/commit/78afb921b47ef0d2d985e4671189c68c1ca500af

Maybe we need to handle the error better in the generator to solve this.
I'm putting a bug bounty, as I think it's an important issue.

cc @jhipster/developers

[2019-05-15 06:37] pascalgrimaud commented on #9739
I think I have the fix. I'll try to finish my dev today.
Not sure, but maybe we need a patch release for that ?

[2019-05-15 10:05] PierreBesson commented on #9677
To translate my twitter post:

[2019-05-15 11:29] PierreBesson commented on #9727
For me the best way to resolve this is still to create a mode to have only one process.

[2019-05-15 11:35] PierreBesson commented on #9723
It seems your JDK is from Oracle, could you try with the one from : https://adoptopenjdk.net/

[2019-05-15 11:49] PierreBesson commented on #9422
The error in the template rendering doesn't apply to v6. However the kind of JDL that was provided is not supported at the moment and cause an error. When declaring apps and deployement at the same time, it only works with at least 2 applications and the appsFolder field.

[2019-05-15 13:37] AbakarFils opened #9742 "how to upload image_url jhipster"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [x] Checking this box is mandatory (thi

[2019-05-15 13:57] atomfrede commented on #9742
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-15 13:57] #9742 closed

[2019-05-15 14:23] coolduebtn commented on #6306
Do you plan to do this soon ? I am designing my model and felt the strong need need for embedded at multiple places. Was a bit disappointed to not find it in jhipster.

[2019-05-15 15:02] pascalgrimaud commented on #6306
@coolduebtn : I totally understand your need. But we can't add all features in JHipster as it's a lot of work for us. Just keep in mind we are doing this during our free time, during evening and week-end. We are not paid for that. So if no one want to contribute and do this, it will never be done.

About this feature, I still thing the same:

[2019-05-15 15:31] coolduebtn commented on #6306
@pascalgrimaud totally understand . thanks for the fast response.. :+1:

[2019-05-15 15:36] cbornet commented on #6306
And of course PRs are welcome. It could be done step by step. First for apps without front-end (micro-service), for a given DB type (eg. SQL), etc ...

[2019-05-15 18:12] Tcharl commented on #9707
Let me historize what I'm doing within my current project to have a 6.0.0 oauth2+Microservice support.
Feel free to comment (or even implement a PR based on it if you're sure that's the right way, I'm not that available ATM but will try to make something if I don't see it implemented in a month). I'll continue to amend that comment until I'll have something which 'just works'.

* Angular login.ser

[2019-05-15 19:15] mraible commented on #9707
Could be related to this issue: https://github.com/spring-projects/spring-security-oauth2-boot/issues/125

[2019-05-16 09:00] MathieuAA commented on #9739
@pascalgrimaud Yep clearly this needs a release... nice catch

[2019-05-16 09:08] #9699 closed

[2019-05-16 09:53] #9739 closed

[2019-05-16 09:56] MathieuAA commented on #9727
The issue here is using Yeoman, which doesn't quite let you do that in parallel... Using node, you can always launch another node process, but a Yeoman generation has steps that prevent you from generating things how you want (in parallel). So yeah, if we decide do to things sequentially, then it's over: we don't have this issue anymore.
Another issue is dealing with app directories... again, yeom

[2019-05-16 12:52] AndreKrebs opened #9746 "H2 database does not work in project created with the --skip-client option"
##### **Overview of the issue**

To create a monolithic project with only the backend, I used the command jhipster --skip-client and when I use this option the H2 database fails API initialization with the following error:

[code]

##### **Motivation for or Use Case**

With version 5.8.2, when creating a monolithic project with database H2 and parameter --skip-client the database does not fail and

[2019-05-16 14:01] #9447 closed

[2019-05-16 15:32] SoniaLahi commented on #9746
Hi @AndreKrebs,

This error is related to STS.
Running the command `mvn springboot-run` starts the application. Hence, it is not a JHipster bug.

As a work-around you can create a custom maven build :
Run > Run configurations ... > Maven Build > New configuration
- base directory :  your project path
- goal :  `spring-boot:run`

For more info : https://stackoverflow.com/a/49556593/10018727

[2019-05-16 15:38] pascalgrimaud commented on #9746
Thanks @SoniaLahi
As it's not a JHipster bug, I'm closing this

[2019-05-16 15:38] #9746 closed

[2019-05-16 15:54] #9660 closed

[2019-05-16 16:13] #9422 closed

[2019-05-16 16:15] pascalgrimaud commented on #9380
If someone is motivated to work on this, just comment this ticket.
For now, let's close this, as it's opened for too long.

[2019-05-16 16:15] #9380 closed

[2019-05-16 18:06] eapriansyah commented on #9707
The solution to overcome this problem, as follows.
1. Add spring-cloud-starter-oauth2 in pom.
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-oauth2</artifactId>
        </dependency>
2. Change SecurityConfiguration.java as follows:

@EnableWebSecurity
@EnableGlobalMethodSecurity(prePostEnabled = true, securedEnabled = true

[2019-05-16 18:07] pascalgrimaud commented on #9651
The work is already in progress by @Hawkurane :
See the branch : https://github.com/Hawkurane/jhipster-daily-builds/tree/local_modifications?files=1

It won't be finished before weeks / months and I will help him to achieve that.

I'm closing this, as the work will be done at hipster-labs first and if necessary, we'll do the improvement directly in generator-jhipster.

[2019-05-16 18:07] #9651 closed

[2019-05-16 18:11] pascalgrimaud commented on #9723
As I couldn't reproduce, I let you try to change your JDK version.
Don't hesitate to comment this ticket, if you have additional information to help us to reproduce.
For now, let's close this

[2019-05-16 18:11] #9723 closed

[2019-05-16 18:40] mraible commented on #9707
@EnableOAuth2Sso is deprecated in Spring Security 5.1 in favor of oauth2Login() as part of the configure() method. Does it work if you remove that annotation?

[2019-05-16 19:08] eapriansyah commented on #9707
Yes it works, with additional bean:

@Bean
    @ConfigurationProperties("spring.security.oauth2.client")
    public ClientCredentialsResourceDetails oauth2RemoteResource() {
        return new ClientCredentialsResourceDetails();
    }

    @Bean
    public OAuth2ClientContext oauth2ClientContext() {
       return new DefaultOAuth2ClientContext(new DefaultAccessTokenRequest());
    }

    @Bean

[2019-05-16 19:10] eapriansyah commented on #9707
Alternatively, act as client refer from this https://docs.spring.io/spring-security-oauth2-boot/docs/current-SNAPSHOT/reference/htmlsingle/

@EnableOAuth2Client
and add bean:
@Bean
    @ConfigurationProperties("spring.security.oauth2.client")
    public ClientCredentialsResourceDetails oauth2RemoteResource() {
        return new ClientCredentialsResourceDetails();
    }

@Bean
    public OAuth2Res

[2019-05-16 19:49] MathieuAA commented on #8915
@jhipster/developers I don't see it happening without issues unless we merge the JCore dep into this repo., because of the foreseeable issues of not having a "monorepo".
We could keep JCore as a dependency for other projects (because it exposes some useful JHipster-related notions), and remove it as a dependency from this project.
The only con I see is that issues from JCore could "pollute" this p

[2019-05-16 19:54] pascalgrimaud commented on #8915
It needed to be discussed seriously in the mailing list as it will be a major change

[2019-05-16 20:21] mraible commented on #9707
If it’s not too much trouble, can you please create a pull request with this change? I’d be happy to review it.

https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-a-pull-request

I’ll also add $100 bounty to this issue.

[2019-05-16 20:25] pascalgrimaud commented on #9707
Just added the bounty @mraible

[2019-05-16 21:43] pascalgrimaud commented on #9639
Hi @cirotarini,
Thanks for opening your 1st ticket with full detail. It's really appreciated.

I try to reproduce the issue you mentionned.
- I generated the project with the config you mentionned
- I generated the tables with your JDL
- I started the application and tried to reproduce each points

It's OK for that point

I created a new category.
Then go to product page, create some new products

[2019-05-16 21:46] pascalgrimaud commented on #9639
I'm closing this as I think there is no issue.
Don't hesitate to comment if I'm wrong, then we can discuss and reopen if needed

[2019-05-16 21:46] #9639 closed

[2019-05-16 21:53] pascalgrimaud commented on #9432
@developpef : can you post your `jhipster info` plz ? So it will be easier to reproduce your issue.

[2019-05-16 21:59] pascalgrimaud commented on #9564
@pragmasoft-ua : can you post your config, using `jhipster info` plz ? And better a generated JHipster project on Github.

Any way, I'm not sure it's a JHipster issue here, as you modified the generated code, so it's normal that you need to update some related code.

[2019-05-16 22:11] #9494 closed

[2019-05-16 22:50] RizziCR opened #9750 "regex pattern with slashes failed"
##### **Overview of the issue**
My URL regex string for an entity field pattern fails

[code]

##### **Motivation for or Use Case**

i try to regex for url's with the following, working regex string

`^(https?|ftp|file):\\/\\/[-a-zA-Z0-9+&@#\\/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#\\/%=~_|]$`

but the jdl parser throw an exception because auf the slashes. i try only forward slashes, escaping with one oder t

[2019-05-17 01:25] mraible commented on #9707
I've been able to reproduce this problem with Spring Boot and Spring Security. The fix suggested doesn't work. I'll consult with my colleagues and try to figure out a solution.

[2019-05-17 01:48] eapriansyah commented on #9707
Sorry, I made a mistake. My test folder is mixed with jhipster v5, in the microservice. So the problem is still there. Sorry for this misunderstanding.

[2019-05-17 04:55] kentkwan opened #9751 "CI/CD in gitlab got an error"
##### **Overview of the issue**

 ---> Running in 433c259e5ade
Option d is ambiguous (debug, disabled-login, disabled-password)
Option s is ambiguous (shell, system)
adduser [--home DIR] [--shell SHELL] [--no-create-home] [--uid ID]
[--firstuid ID] [--lastuid ID] [--gecos GECOS] [--ingroup GROUP | --gid ID]
[--disabled-password] [--disabled-login] [--add_extra_groups] USER
   Add a normal user
add

[2019-05-17 05:11] pascalgrimaud commented on #9751
There is probably the same error than this ticket: https://github.com/jhipster/generator-jhipster/issues/9676

And here is the fix: https://github.com/jhipster/generator-jhipster/pull/9680

Anyway, the Dockerfile has been removed for using jib: https://github.com/jhipster/generator-jhipster/pull/9688

As you didn't follow our guidelines, I don't know what version you used

[2019-05-17 05:12] pascalgrimaud commented on #9751
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-17 05:12] #9751 closed

[2019-05-17 06:34] pascalgrimaud commented on #9631
@vraravam @atomfrede : can one of you PR and update this page plz ? https://www.jhipster.tech/code-quality/

[2019-05-17 06:56] MathieuAA commented on #8915
@pascalgrimaud I personally prefer this kind of communication, as it's more transparent and visible (I guess that's a matter of opinion). But I'll drop a mail in the mailing list today.

[2019-05-17 07:08] vwiencek opened #9752 "OpenApi exposed to swaggerUI"
Hello,

I would like to propose 2 innovations for OpenAPI. According to jhipster documentation [here](https://www.jhipster.tech/doing-api-first-development/) it's possible to define API with .yml definition files (openApi 3 format). It might be interesting to have the 2 following features:
- expose generated API into swagger UI - with this we could see API generated from openApi generator next to

[2019-05-17 07:19] atomfrede commented on #9631
I will do it. Will have a look at maven too.

[2019-05-17 07:47] pmverma opened #9753 "Starting an app created with master branch has jhipster-dependencies related error and hence won't start"
##### **Overview of the issue**

Starting a fresh app generated using master branch has following error.

[code]

I manually deleted `3.0.2-SNAPSHOT` from local repository but same error.

##### **Motivation for or Use Case**

A new fresh app should start normally

##### **Reproduce the error**

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHips

[2019-05-17 07:47] pascalgrimaud commented on #8915
@MathieuAA : agree, I prefer the discussion here, but we need to inform by mail the other member there is an important discussion here. We have too much GitHub notifications, so they'll miss this important one :)

[2019-05-17 07:48] cbornet commented on #9752
The generated AP should already be exposed in swagger UI by Springfox (provided the path is included in conf). Ideally we would serve directly the yaml file but I'm not sure it fits well with the generated endpoints or if the user adds spring controller by hand.
Note: if we talk about workflow and REPL, my personal preference is to use something such as [swagger-ui-watcher](https://github.com/moon

[2019-05-17 07:52] pascalgrimaud commented on #9753
@pmverma : yes, it's because you need to clone this project github.com/jhipster/jhipster, then `./mvnw clean install -Dgpg.skip`

[2019-05-17 08:00] pmverma commented on #9753
Oh thanks @pascalgrimaud. But isn't snapshot version released with every commit on master?

[2019-05-17 08:18] #9753 closed

[2019-05-17 08:19] pascalgrimaud commented on #9753
No. Our release process is done manually today. The snapshot needs to be released by Julien.
I'm working on this to improve it.

[2019-05-17 09:13] ecostanzi commented on #9752
You could add a custom [SwaggerCustomizer](https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/config/apidoc/customizer/JHipsterSwaggerCustomizer.java#L83) create another group matching only the basePath of the OpenApi Endpoint. From Jhipster 6 this the basepath of the OpenApi endpoints can be configured as a spring property: openapi._your-app-name_

[2019-05-17 11:48] kentkwan opened #9757 "Dockerfile missing in 6.0.1"
##### **Overview of the issue**
Upgrade from 6.0.0 to 6.0.1, auto delete Dockerfile in path "src/main/docker".
Generate a new project in 6.0.1, Dockerfile is missing.
##### **JHipster Version(s)**
6.0.1

[2019-05-17 11:59] pascalgrimaud commented on #9757
Yes, it's normal.
It has been deleted in this PR: https://github.com/jhipster/generator-jhipster/pull/9688

This file is not needed any more as we use jib for building the Docker image.

[2019-05-17 11:59] #9757 closed

[2019-05-17 16:50] pmverma commented on #9665
@clement26695 @pascalgrimaud I would like to request to re-open this issue.
Because with some commit from #9736, now no fake records are being generated.
The exact line is
https://github.com/jhipster/generator-jhipster/commit/2f7d58992c656ca196b2f681cd1ef6d89c71b81b

When I try to regenerate entity with master branch:

![image](https://user-images.githubusercontent.com/5289123/57943297-b3c91380-78

[2019-05-18 01:14] unknowedNp commented on #9542
Can use kotlin as fronted language ?
use kotlin and no js ?

[2019-05-18 01:14] mraible commented on #9542
@unknowedNp Nope.

[2019-05-18 06:33] kentkwan opened #9761 "GitLab CI/CD release failure in 6.0.1"
##### **Overview of the issue**
Step of release build failure with command "./mvnw jib:build -Djib.to.image=$IMAGE_TAG -Djib.to.auth.username=gitlab-ci-token  -Djib.to.auth.password=$CI_BUILD_TOKEN"

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  03:56 min
[INFO] Finished at: 2019-05-18T06:16:44Z
[INFO] ---------------------

[2019-05-18 07:59] pascalgrimaud commented on #9761
Can you follow our guidelines and provide your `jhipster info` plz ?
Then, where did you try to push your Docker image ? Internal registry or Docker cloud ?

[2019-05-18 08:01] kentkwan commented on #9761
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mycompany.myapp",
      "nativeLanguage": "zh-cn"
    },
    "jhipsterVersion": "6.0.1",
    "applicationType": "monolith",
    "baseName": "t",

[2019-05-18 08:02] kentkwan commented on #9761
Push to gitlab internal registry

[2019-05-18 08:03] pascalgrimaud commented on #9761
Thanks for your information @kentkwan
I'll try to reproduce your issue later

[2019-05-18 08:07] kentkwan commented on #9761
Execute command "jhipster" to initialize a project.
Execute command "jhipster ci-cd" to add GitLab CI/CD config.
Push the project to internal gitlab host.

[2019-05-18 10:46] mp911de commented on #7608
R2DBC 0.8.0 M8 is out now.

[2019-05-18 10:55] cbornet commented on #7608
Yes. I tested it and it does improve performance a lot. Great job !

[2019-05-18 16:34] pascalgrimaud commented on #9739
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/8123

[2019-05-18 18:11] javasparx commented on #8275
This solutions helped me, thank you guys!

[2019-05-18 21:40] pascalgrimaud commented on #9761
@kentkwan : as the `docker-push` is done in another stage, there is a missing `- target/classes` in the previous stage. It is needed by jib. It should look like:

[code]

You can have a look at my PR too: https://github.com/jhipster/generator-jhipster/pull/9762

[2019-05-18 21:40] #9761 closed

[2019-05-19 14:33] VinodAnandan opened #9764 "Implement the CII (Core Infrastructure Initiative) Badge"
##### **Overview of the feature request**
Implement the CII (Core Infrastructure Initiative) Badge for Jhipster

**What is the CII Badging program?**
CII (Core Infrastructure Initiative) Badge may be achieved by the projects which follow the Best practices criteria for Free/Libre and Open Source Software (FLOSS).

CII has been created by the linux foundation in response to previous security issues

[2019-05-19 19:22] vinicius91carvalho commented on #9750
I am with the same problem. I am using JHipster 6.0.1.

The pattern:

[code]

The message that I was receiving is:
[code]

[2019-05-20 02:26] kentkwan commented on #9761
Thanks a lot.

[2019-05-20 03:21] pmverma commented on #9764
In addition to that, LGTM - https://github.com/apps/lgtm-com/ also seems to be great to have. Many great java&JavaScript projects are using it. For eg, Hibernate, maven, activemq and angular.

[2019-05-20 07:07] BhawaniSingh opened #9767 "Groovy language support"
##### **Overview of the feature request**
I would like to add the support for the groovy language via blueprint, since its jvm based language and spring has support for it, I think it would be easy to implement

Moreover there would be 3 languages to choose in jhipster for the backend

#### Before starting the project I would like to get the feedback from the team
##### **Motivation for or Use Cas

[2019-05-20 07:50] MathieuAA commented on #9750
This is not the same error... But I'll try to find time to look into it

[2019-05-20 07:54] pascalgrimaud commented on #9767
Hi @BhawaniSingh,

Maybe it's easy for you, but I think it will be a lot of work.
It would be similar to what it has been done with Kotlin: https://github.com/jhipster/jhipster-kotlin

Then, I don't understand your ticket here. Maybe for feedback ?
In that case, I think you should use Twitter instead of here. You'll have more feedback there, and see if the community is ready to help you or not.

[2019-05-20 08:07] BhawaniSingh commented on #9767
@pascalgrimaud I don't have big following on twitter that's why I asked here,
Even if I post it on twitter I don't think it will outreach to intended audience (as I haven't posted anything on the twitter)

I know creating a blueprint is a very lengthy process, but I'm ready for it
And yes I opened this issue for the feedback

[2019-05-20 08:14] pascalgrimaud commented on #9767
@BhawaniSingh : you don't need to have a lot of followers. Just mention `@java_hipster` and your message will be retweeted :)

[2019-05-20 08:26] BhawaniSingh commented on #9767
@pascalgrimaud Thanks :)

[2019-05-20 09:05] Stjerndal commented on #9707
So the bug is in Spring Security 5.1 rather than jhipster?

[2019-05-20 13:03] freynder commented on #9723
FWIW: I had a similar issue. Following this response: https://stackoverflow.com/a/45102852 , I cleared my .m2 folder and it solved the issue. I suspect there was an issue with the proxy server when initially downloading dependencies.

[2019-05-20 13:12] antarus opened #9769 "Oauth2 and traefik. 404 not found"
##### **Overview of the issue**
hi all,
i notice a 404 page with traefik and oauth 2.

##### **Reproduce the error**

consider this jdl
<details><summary>jdl</summary>
application {
    config {
        baseName gateway
        applicationType gateway
        languages [fr,en]
        buildTool maven
        packageName dam.gateway
        serverPort 8080
        authenticationType oauth2

[2019-05-20 13:26] cbornet commented on #8946
Accessing the Prometheus endpoint should now be possible with Basic Auth for JWT auth option.
For the others (session, oauth, uaa), we could have the following endpoint that checks for an API key:
[code]
This way we can protect the actuator endpoint with Spring security and leave this one unsecured. WDYT ?

[2019-05-20 13:31] antarus opened #9770 "Oauth2, traefik and separate frontend/backend. 404 and documentation error"
##### **Overview of the issue**
i notice some bug with traefik, oauth 2, and separate frontend/backend

##### **Reproduce the error**

consider this jdl
<details><summary>jdl separate-frontend</summary>
application {
    config {
        baseName gateway
        applicationType gateway
        languages [fr,en]
        buildTool maven
        packageName dam.gateway
        serverPort 8080

[2019-05-20 13:41] mraible commented on #9707
I think it's in JHipster. I believe this might be caused by a change I made in AuthorizationHeaderUtil:

https://github.com/jhipster/generator-jhipster/pull/9416/files#diff-0626afa9caefec7aca2255c6f6a50173L35

In the Spring Security 5.0 version, we used an `OAuth2RestTemplate` to get the access token, rather than from the `OAuth2AuthorizedClient`. We also had error handling when a `UserRedirectReq

[2019-05-20 14:45] pascalgrimaud commented on #9770
@antarus : maybe we can regroup with the other ticket #9769 ? Or, it's a different issue ?

[2019-05-20 14:45] pascalgrimaud commented on #9769
@antarus : to be honest, Traefik is not tested in our CI, so not sure it works well after JHipster 6. So PR are really welcome to fix this part.

[2019-05-20 14:51] mikebaxley commented on #9723
Thanks for this comment.  I was having the same issue and clearing my .m2 solved the issue on my workstation as well.

[2019-05-20 15:10] atomfrede commented on #9631
As the documentation is merged we can close this imho.

[2019-05-20 15:10] #9631 closed

[2019-05-20 17:00] Tcharl commented on #9707
May be my implementation does fix the stuff.
At least it work for Gateways to services via backend (Feign), our production product hasn't had any noticed bug from now

[2019-05-20 20:21] cirotarini commented on #9639
Hi Pascal
I believe that, if you apply my workaround (posted above 6 days ago), the generated app will show the  onetomany relation more properly: if i click to see a  wishList, is good to have also all the Products listed.
with my workaround you have this with almost no work.
I believe that implementing this change in JHIPSTER will improve the tool, anyway I will propose this workaround in a litt

[2019-05-20 23:26] elpioramirez opened #9771 "VERSION 6.0.1: CreateProcess error=206, The filename or extension is too long"
##### **Overview of the issue**

When running mvnw to start my UAA Server an error for create process is generated. This error is related to JAVA_HOME path. I just updated to version 6.0.1, then I had to downgrade to version 5.8.2 and everything was working fine.

##### **Motivation for or Use Case**

This is a bug since I'm not able to start the microservice for UAA Server

##### **Reproduce the

[2019-05-21 03:14] ruddell commented on #9770
I think the first issue is solved by [configuring the base href](https://www.jhipster.tech/traefik/#configure-your-base-href), did you do that step?

[2019-05-21 03:55] BhawaniSingh commented on #9771
This is basically a windows issues, not anything specific to jhipster.
It occurs because windows command line is restricted to 32768 chars.
You can bypass this issue by moving the project to root of the drive some thing like d:\awesome-project
Here is the Microsoft docs explaining
https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/nf-processthreadsapi-createprocessa

[2019-05-21 05:00] pascalgrimaud commented on #9639
Thanks @cirotarini !

If I understand well, you'd like to achieve the `Details for the owner Andrew with owned pets displayed.` screen in this article: https://dadtechblog.com/2017/05/27/creating-a-master-detail-relationship-with-jhipster/

So, it's an improvement and can be done by different ways:
- a tips at https://www.jhipster.tech/tips/ -> maybe the simpliest
- contributions directly to gener

[2019-05-21 07:24] cirotarini commented on #9639
let's go with the tip. Below there  is the tip that I propose.
If you believe it helps, pls give me some istructions reg how to post it or post it directly
thanks :)!!

*******
--->>> Show childs (pets) in a one-to-many relationship (Owner->pets)

When you create a one-to-many relationship (owners, pet), maybe you want that when the owner are listed, also the related pets are listed; and the same

[2019-05-21 07:31] pascalgrimaud commented on #9639
You can see the full list of tips here:
- https://www.jhipster.tech/tips/

About instructions:
- on GitHub, fork https://github.com/jhipster/jhipster.github.io
- clone locally your fork: https://github.com/cirotarini/jhipster.github.io
- go into this folder
- add upstream: `git remote add upstream https://github.com/jhipster/jhipster.github.io` -> so you'll be able to update your fork later
- then

[2019-05-21 07:55] antarus commented on #9770
In this configuration the gateway is not registered in consul and therefore not served via traefik...
In doubt, I tested to add the base href  `/services/gatewayback/` without success

[2019-05-21 08:14] antarus commented on #9769
FYI, can you see in the stats the number of people who use traefik?
@pascalgrimaud

[2019-05-21 10:55] orbific-jenkins commented on #8366
Hello!

I've been trying to get this subgenerator working today using a fairly simple JHipster project and have been having issues. My first issue was with the S3 bucket creation - if the process fails, the bucket is not removed and causes subsequent attempts to fail. Having solved this by adding more error feedback, I then ran into trouble with the CloudFormation stage failing.

I am happy to put

[2019-05-21 10:56] orbific commented on #8366
Hello!

I've been trying to get this subgenerator working today using a fairly simple JHipster project and have been having issues. My first issue was with the S3 bucket creation - if the process fails, the bucket is not removed and causes subsequent attempts to fail. Having solved this by adding more error feedback, I then ran into trouble with the CloudFormation stage failing.

I am happy to put

[2019-05-21 11:36] eeriksp opened #9773 "Enum toString not working with React frontend"
##### **Overview of the issue**

If I open the form for adding a new entity, dropdown fields representing enums do not show a correct string representation as seen in the picture. The browser console does not show any errors.

However, if a view the list page showing all the entity objects, all enumerations have a correct string representation.
![image](https://user-images.githubusercontent.com/35

[2019-05-21 11:48] antarus commented on #9770
I think, you can add tag oidc, the configuration of traefik seems work with jwt.

[2019-05-21 13:41] clement26695 commented on #9665
Indeed, I wanted to test that the line length was correct, but I didn't expect that 2 "fields" were added for each blob field.

It should be good with #9774. @pmverma, can you tell me if it's ok for you ?

[2019-05-21 14:26] clement26695 commented on #9773
I think the issue is now resolved on master (#9730), but is not in the latest release yet.

[2019-05-21 15:28] antarus commented on #9735
same problem here without use @Secured(AuthoritiesConstants.ADMIN)
If i comment the line
`.antMatchers("/api/**").authenticated()`
in `SecurityConfiguration.java` of my microservice, the service is accessible via the gateway
when is not commented, its try to redirect to`myentity/oauth2/authorization/oidc` and next 404 error page

[2019-05-21 19:12] ruddell commented on #9773
Tested the JDL and the enums are displayed correctly with the master branch.

[2019-05-21 19:12] #9773 closed

[2019-05-21 23:39] vinicius91carvalho commented on #9280
HazelCast does not support your requirements? JHipster exports to hazelcast.yml with a server mode for distributed caching on your infrastructure.

[2019-05-22 04:19] pascalgrimaud commented on #9769
@antarus : sorry, I don't have these stats about Traefik

[2019-05-22 04:55] #9665 closed

[2019-05-22 05:00] pascalgrimaud commented on #9771
Could you try to have a look to the previous link ?
As said, it's related to Windows, not to JHipster. You could try our [DevBox](https://github.com/jhipster/jhipster-devbox) too, I'm pretty sure, you won't have the issue.

Feel free to bring precisions or additional information to this ticket.

[2019-05-22 05:00] #9771 closed

[2019-05-22 05:01] pascalgrimaud commented on #9564
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-22 05:01] #9564 closed

[2019-05-22 05:01] pascalgrimaud commented on #9432
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-22 05:01] #9432 closed

[2019-05-22 05:06] pascalgrimaud commented on #9764
The difficulty here is `generator-jhipster` is not a real project but a generator.
But I'd like to have precision about what you have in mind:
- is it for generator-jhipster ?
- is it for generated project ?

Guys : could you give a try to a sample project and put here the link or screenshots of results plz ?
So we can discuss and decide if it deserves to add its to our projects.

[2019-05-22 05:14] pascalgrimaud commented on #8366
@orbific : thanks a lot for taking time on this.

1) no, it won't be removed without agreement of all core team. I was suggested that because I think it is useless to keep broken things. AWS Containers seems broken since 8 months! It's too much...
2) first of all, you can have a look at:
    - our [contributing guide](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md)

[2019-05-22 05:21] elpioramirez commented on #9771
Actually I always create my projects under c:/my-app to avoid long names, the only way I was able to run the app was downgrading Jhipster to version 5.

[2019-05-22 06:13] jdubois commented on #9764
I think I did the process to get the badge a couple of years ago, but frankly I didn't use it as I didn't see the point of having yet another badge.

[2019-05-22 06:58] antarus commented on #9769
pity:(

[2019-05-22 07:14] gmarziou commented on #9771
Could it be due to location of your maven local repository?

[2019-05-22 08:17] orbific commented on #8366
@pascalgrimaud: There are obvious issues with a generator that can't be regression tested which are probably wider than the scope of this issue. I agree this is an important piece of functionality, however, and worth supporting.

There are a few issues I am aware of at present. Please let me know if you would like me to raise them as separate issues within github:
1. https://www.jhipster.tech/aws/

[2019-05-22 09:37] #9632 closed

[2019-05-22 09:40] pascalgrimaud commented on #9764
Agree with you @jdubois
Any way, we should only focus on SonarCloud, which is used, maybe, by all projects.

Our sample: https://sonarcloud.io/dashboard?id=io.github.jhipster.sample%3Ajhipster-sample-application
- coverage at 81% -> it could be improved
- 61 code smells -> it could be improved too

I'd prefer to focus on our current tools, improve our code with these metrics.
Once it's done, we ca

[2019-05-22 09:45] ksilz commented on #9726
What can I do to move this issue forward? It still has the "needs-reproduction" label, but I provided steps for recreation. Thank you!

[2019-05-22 09:56] pmverma commented on #9764
I am not sure for sonarcloud but one good point of LGTM is that it provide instant PR analysis.
For eg, you can see at https://github.com/hibernate/hibernate-orm/pull/2883/checks
Since we will not have PR to the sample apps, need to check if it analyze `ejs` or not for the main generator.

But as @pascalgrimaud said, it is better to focus to improve the current one.

[2019-05-22 10:05] yelhouti opened #9777 "kubernetes namespace should not be present the yml files"
##### **Overview of the issue**
Kubectl can't deploy to the right namespace since the valu ein the context is overridden by the yml file

##### **Motivation for or Use Case**
Having different namespaces for test and prod

the namespace can be defined in kubeconf per context so that each one uses it's own namespace
##### **Reproduce the error**
generate kubernetes

##### **Related issues**

##### *

[2019-05-22 11:17] orbific commented on #8366
The good news is that I have now got the generator to work correctly, and deployed an application to AWS.

The main problem is that the baseName property in .yo-rc.json is used in various places by the script without being changed to lower case. This causes an error with the docker tags, and also with the repositoryName. It should be simple to fix this however.

There was also a minor issue with a

[2019-05-22 11:32] pascalgrimaud commented on #9726
Sorry @ksilz, it's on our side.
Thanks for your completed information, it's really appreciated.

It is still with the tag `need-reproduction` as we didn't take the time to have a look on this ticket (including me).
If you think you can fix this, then go ahead plz. Your contributions would really be welcome !

[2019-05-22 13:10] yelhouti opened #9778 "dynamic environment variables"
##### **Overview of the feature request**

I would like to be able to change front-end variables directly by edit a config file instead of having to rebuild the whole app
##### **Motivation for or Use Case**
Having the same war/docker image for all environments

Here is an example detailing how we could implement it:
https://www.jvandemo.com/how-to-use-environment-variables-to-configure-your-angul

[2019-05-22 13:28] Crazie-ash commented on #9619
![image](https://user-images.githubusercontent.com/45698249/58178040-11c37580-7cc3-11e9-95b2-cbc8e3660b90.png)
npm  v6.4.1
node v10.15.3

[2019-05-22 14:31] wmarques commented on #8366
@orbific You can start by providing a draft PR with only one thing fixed (for instance the non-deletion of the S3 bucket) and then go on with other fixes in this same PR.
This way we can help through the various steps if you don't understand all the generator's code that's totally fine :)

The issue we have with AWS is that our configuration isn't part of the free tier (and amazon doesn't give us

[2019-05-22 15:51] clement26695 commented on #9726
I confirm the issue. It doesn't stop the app from running, but warning are present. Do you want to make a PR @ksilz ?

[2019-05-22 17:11] ksilz opened #9780 "jHipster 6.0.1: Wrong update component code for OneToMany / ManyToOne relationships"
##### **Overview of the issue**

jHipster 6.0.1 with Angular, Java 11, and H2/PostgreSQL produces two kind of errors for "OneToMany / ManyToOne relationships":

- The HTML code uses the wrong field names in `<select>`, such as `order` instead of `orderId`. See [here, lines 29-41, for an example](https://github.com/ksilz/jhipster-6.0.1-java-11-test/blob/fake-data-fixed/src/main/webapp/app/entities/

[2019-05-22 17:14] ksilz commented on #9726
@clement26695 Sorry, I don't know how to fix this in jHipster.

[2019-05-22 18:21] anthonyrichir commented on #9280
Hello,
Just came across this topic and wanted to leave a note regarding the 2nd level cache of Hibernate with Redis. We've implemented it in a couple of our projects generated with Jhipster and it works pretty based on the following dependency:
[code]
Then you need the following spring.jpa.properties:
[code]
For the redisson-dev.yml file I mention, you can find examples on [Redisson's wiki](https:

[2019-05-22 19:51] jdubois commented on #9280
@anthonyrichir this helps me tremendously!!! I can't believe I missed this project, and it has nearly 10K GitHub stars!!!!! To me this is a game changer, as it's far easier to have a distributed Redis cache than the other alternatives (please note I work for Azure, so we have Azure Redis Cache out of the box...).

[2019-05-22 21:34] mraible commented on #9707
From @jzheaux of the Spring Security team:

[2019-05-23 03:35] jamesgeorge007 opened #9782 "Improper command suggestion logic"
##### **Overview of the feature request**

As per now the command suggestion logic doesn't work as intended.

##### **Motivation for or Use Case**

It happens as `logger.error()` is being used to log the message which includes a `process.exit()` statement and as a result the control flow doesn't reach the command suggestion logic checks.

https://github.com/jhipster/generator-jhipster/blob/fc27a81

[2019-05-23 10:27] iDisturb opened #9785 "Theme issue related : Errors when using theme "Lux" for JHIPSTER 6.0.1"
##### **Overview of the issue**

I have updated my JHipster version to the latest, and there's the new featured for installing theme, the issue is when I install this specific theme "Lux" I get this error, I tried it on 2 different computers, still the same error showing.

[code]

##### **Motivation for or Use Case**

I am currently making a website that should use that theme because it looks prem

[2019-05-23 10:45] iDisturb commented on #9785
Ok Here's a FIX :

[code]

The issue was
[code]

We can't make calculations with the "em" in CSS.

[2019-05-23 12:13] rafmos commented on #7542
Could you please tell us how you fixed the issue? Thanks.

[2019-05-23 13:38] mraible opened #9786 "Invalid link in gateway src/main/docker/central-server-config/README.md"
##### **Overview of the issue**

The README has the following sentence:

##### **Motivation for or Use Case**

Because I was looking for information on how to configure the registry with Git instead of the filesystem. This file seems like a good candidate, as did the link. However, neither gave me the information I was looking for.

##### **Reproduce the error**

Create a gateway with JHipster Reg

[2019-05-23 14:28] vishal423 commented on #9785
Following your comment, it seems not an issue with Jhipster, rather underlying bootstrap/bootswatch. Can you raise that against the appropriate library?

[2019-05-23 14:41] Hawkurane commented on #9785
@iDisturb it seems they patched it:
by using

[code]

in the generated package.json, your app should boot !

[2019-05-23 15:23] Hawkurane commented on #9770
Hello, I've tried reproducing your error and I can't seem to access to localhost:9001. None of my dockers are displaying to port 9001.

PS:

Glorious reformatted jdl for copy pasta for people trying to reproduce
[code]

[2019-05-23 15:26] jsm174 opened #9787 "Gateway fails to start using 6.0.1 or master - hibernatePropertiesCustomizer/jCacheCacheManager"
##### **Overview of the issue**

When creating a new gateway and microservice from JDL using 6.0.1 or master, the gateway fails to start with the following:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

This is the  JDL I used (apps.jh):

[code]

Execute the following:

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

[2019-05-23 15:56] clement26695 commented on #9769
I confirm the issue.

I think it's an error of redirection : it should not try to call http://localhost/oauth2/authorization/oidc but http://localhost/services/gateway/oauth2/authorization/oidc, but I didn't manage to fix the issue yet.

It come maybe form the keycloak/oauth2 configuration, or in the way we handle the contextPath...

[2019-05-23 17:52] pascalgrimaud commented on #9426
Sorry @xenogew
I didn't have enough time to give a try for now. What I can tell to you is, today, we had a JHipster Onboarding at my company and I tried to deploy to Heroku using:
- Git
- Jar

Both work well ! I didn't test with CI-CD yet.
If you find the fix, don't hesitate to propose a pull request for that.
I'll try to find time when possible, to work on this, if there is no one.

[2019-05-24 02:47] pmverma commented on #7542
You can see commit at https://github.com/jhipster/generator-jhipster/commit/3561d0ebbc7efe8db71084c4a81faabca9184d6f

[2019-05-24 05:56] vishal423 commented on #9778
The crux of that article deals with separate front end deployment, whereas the default Jhipster behavior is to encapsulate both frontend and backend deployment artifacts inside a jar. Using advance flags (skip server), you can have separate frontend artifacts, but, not sure how many users use that option.

It would be good to understand the configurations that you believe should be exposed as defa

[2019-05-24 06:28] vishal423 commented on #9785
@iDisturb, this issue is fixed in the latest bootswatch version `4.3.1`. You can upgrade to that version. I will raise PR later evening on Jhipster.

[2019-05-24 07:19] yelhouti commented on #9778
@vishal423 I am using this feature in the gateway without the skip-server option, it allows me to configure the my front-end on angular startup without having to store the variables in application.yml and having request sent an http request sent to retrieve the info (much faster), it also allows separation of concerns...

[2019-05-24 07:55] Tcharl commented on #9707
the `getAuthorizationHeader()` implementation I posted in the ticket refreshes the token (so it's OK for Feign calls), however, I don't know the new equivalent of the `OAuth2RestTemplate` to hook that token refresh.
Does anyone know which bean it is?

[2019-05-24 07:59] Hawkurane commented on #9777
@yelhouti hello, when do you say the context is overriden by the yml file, do you mean the generated files for deployments/services?

By having the value 'default' the namespace.yml file should not be generated

[2019-05-24 08:09] orbific commented on #8366
@wmarques Thank you for the feedback. It's going to be a week or so before I get more time to work on this, but that sounds like a great way to start. I think the best initial change would be to update the usages of the baseName that **must** be lowercase.

[2019-05-24 08:11] yelhouti commented on #9777
@Hawkurane When I say context I mean the kubeconf context, ex:
[code]
this tells kubectl to use the specified context for all requests, equivalent to automatically adding `--namespace=sb`, I have the same problem with the URLs in the deployements.yml files URLS should be:
http://jhipster-registry instead of http://jhipster-registry.sb.svc.cluster.local

[2019-05-24 08:13] antarus commented on #9770
access to localhost:9001 is done with `npm start`

[2019-05-24 08:18] Hawkurane commented on #9777
I see,
does having a metadata.namespace variable in the deployment files override the kubeconf context then?
If we remove the metadata.namespace value from the files does your configuration work ?

[2019-05-24 08:20] vishal423 commented on #9778
@yelhouti, If I understood correctly, then, you are using this during development. When frontend artifacts are encapsulated in a jar/war, can you elaborate more on how do you configure these variables?

Also, if your configurations contain any sensitive information, then, I see that as a security issue as this external js can be accessed directly as URL.

[2019-05-24 08:27] yelhouti commented on #9778
@vishal423 there should be no sensitive data in any js file that is common sence, all js is shipped to the clients.
The way I use it is:
I have a dev (local) test(server) prod(server) environments, using kubernetes on my servers.
with the current jhipster (without env.js) I can't use the same build/war/dockerImage for both test and prod, as all constants are hard coded at build time.
With the env.

[2019-05-24 08:28] yelhouti commented on #9777
Yes and Yes :)

[2019-05-24 08:39] Hawkurane commented on #9777
I found the culprits:

https://github.com/jhipster/generator-jhipster/blob/ee2aa63fde43242749ec5295e554d688e7a47533/generators/kubernetes/templates/deployment.yml.ejs#L21-L23

https://github.com/jhipster/generator-jhipster/blob/ee2aa63fde43242749ec5295e554d688e7a47533/generators/kubernetes/templates/service.yml.ejs#L21-L25

by checking if the value is 'default' we can omit the namespace part of th

[2019-05-24 08:44] yelhouti commented on #9777
I think we can always omit the value, the point is having the same yml files for all environments. yml files houls never be namespace depend. `kubernetesNamespace` should never be used.

[2019-05-24 08:46] GiKyouGetsu commented on #9195
Hi @Dufgui @clement26695 @PierreBesson  , if i don't want to upgrade my project, how can I do to fix this issue?

[2019-05-24 08:51] Hawkurane commented on #9777
At this point of time, there is no kubeconf context generated so every namespace are declared when generating the application in each depoyment files. If we want to remove this kubernetesNamespace constant, we should generate a kubeconf context file as you said that would be equivalent to automatically executing the --namespace command.

[2019-05-24 09:04] Dufgui commented on #9195
Cf my previous comment

[2019-05-24 09:08] Hawkurane commented on #9770
Ah for me the npm start port is to 9000 that explain things !
I am quite unfamilliar with OAUTH2.0 and Keycloak and I'm trying to reproduce your error, could you elaborate a bit more on how you manage to log in via keycloak ? (since the log in button for me leads to a 404)

[2019-05-24 11:25] yelhouti commented on #9777
a kubeconf file is as simple as this:
[code]
it is used by simply exporting it's path: `export KUBECONFIG=./kubeconfig`

[2019-05-24 11:59] RizziCR opened #9788 "Using UAA ends in JAXBException"
##### **Overview of the issue**

I try starting/building a new project with uaa enabled microservices. So i create the uaa service and som uaa enabled microservices, but i can't start/build the uaa nor the microservices with java 11 or 12. Because JAXB not found. i try to add the required maven dependencies, but this also not working.

``
[ERROR] Failed to execute goal org.apache.maven.plugins:mav

[2019-05-24 12:07] Hawkurane commented on #9777
I think this is doable, would you be interested in doing a PR for this?

[2019-05-24 12:13] yelhouti commented on #9777
Sure as soon as I free up some time, do you have some e2e tests for this? or is it tested manually by running kubernetes after generating?

[2019-05-24 12:13] mraible commented on #9788
If you add JAXB as a dependency, does it work?

[code]

[2019-05-24 12:16] Hawkurane commented on #9777
It can currently only be tested manually by running kubernetes manually after generating, I can help you with your PR if you need :smile:

[2019-05-24 12:22] RizziCR commented on #9788
This is by default already in the dependencies. I also try to some combinations with jaxb-api, jaxb-core, jaxb-impl, activation but nothing works for me

[2019-05-24 12:30] devWhyqueue commented on #9787
Just had the same issue. You most likely chose different cache providers for your microservice and your gateway.
In your .yo-rc.json for the gateway you defined:
`"cacheProvider": "ehcache"`
Please make sure you did the same in all microservices.

[2019-05-24 13:08] clement26695 commented on #9769
@mraible migth be able to help.

I've tried to update the spring security config, but I didn't manage to make it work

[2019-05-24 13:37] pvliss commented on #9788
@RizziCR Thanks for reporting. I was able to reproduce the problem and a quick workaround is to add the following under `hibernate-jpamodelgen` within the configuration of the `maven-compiler-plugin`:
[code]
I think this might be caused by a change I made :flushed: . Will investigate further and do a PR. In the meantime can you please try the workaround and let us know if it works for you?

[2019-05-24 13:54] RizziCR commented on #9788
@pvliss Thanks for the quick reply. I can confirm, that it works with the workaround ;)
Thanks

[2019-05-24 14:02] pvliss commented on #9788
@RizziCR Great and thanks for the feedback!!!

[2019-05-24 14:25] iDisturb commented on #9785
Alright awesome guys, thanks.

[2019-05-24 15:54] #9788 closed

[2019-05-24 17:05] pascalgrimaud commented on #9785
@vishal423 : can you do the same for Vue.js blueprint too plz ?

[2019-05-24 17:07] #9726 closed

[2019-05-24 17:08] pascalgrimaud commented on #9767
As it can go to blueprint, let's close this.
Don't hesitate to tweet once you start the project!

[2019-05-24 17:08] #9767 closed

[2019-05-24 17:15] pascalgrimaud commented on #9764
Thanks for your idea, but for now, let's focus on SonarCloud.

Anyway, don't hesitate to test with sample projects and post the result here.

For now, let's close this.

[2019-05-24 17:15] #9764 closed

[2019-05-24 18:17] vishal423 commented on #9785
@pascalgrimaud, vuejs blueprint seems to be good as that's already on the latest version.

[2019-05-24 18:19] pascalgrimaud commented on #9785
nice to know, thanks

[2019-05-24 18:20] #9786 closed

[2019-05-24 19:25] #9785 closed

[2019-05-24 20:07] #9782 closed

[2019-05-24 22:00] pascalgrimaud commented on #9787
I gave a fast try, and indeed, it failed only with Gradle. If I try with Maven, there is no problem.
So it comes probably from a difference between dependencies.

[2019-05-24 22:26] mraible commented on #9735
Are you able to debug the JWT and look at its claims to ensure it has a `groups` claim? Either that or insect the current Spring Security user to see what their authorities are.

[2019-05-25 03:49] jsm174 commented on #9787
Thanks @devWhyqueue. From the JDL I posted I never set any cache providers. I will look to see what the microservice was defaulted too.

[2019-05-25 06:37] crowne commented on #9619
Hi Ash, sorry ... it wasn't resolved I'm still getting the issue.
I will reopen here for this comment to be seen more broadly.
However I don't think this is a JHipster issue it does seem to be a an issue with some of the NodeJs components when running on windows.
The only way that I have managed to work-around this issue is by running JHipster in a docker container, using this [image](https://hub.

[2019-05-25 06:58] pascalgrimaud commented on #9619
@crowne :
- could you try with generator-jhipster v6.0.1
- then, we have a devbox which workd well, https://github.com/jhipster/jhipster-devbox

On my side, I'll try to reproduce your issue in a Windows VM

[2019-05-25 08:28] pascalgrimaud commented on #9426
There are several issues here.

@admlz635 @timosntr :
One of them concerns React application, when using GitLab CI.
Indeed, the front tests should be used with `run test-ci`
It is fixed by https://github.com/jhipster/generator-jhipster/pull/9792

@xenogew :
The main issue, concerned by Heroku deployment.
I think it's because you used deployment with Git and not Jar.
I can see your config here: htt

[2019-05-25 08:28] #9426 closed

[2019-05-25 09:09] MathieuAA commented on #9750
Apparently parsing a regexp, with a regexp, is like expecting too much of a regexp regexp-based parsing system.
Bottom line (without the joking): this is tricky. I'm trying solutions to get it working.

[2019-05-25 09:18] pascalgrimaud commented on #9619
I tested with a Windows VM and everythings work well for me. So it comes from your environment.
- Windows 10 under VM
- generator-jhipster v6.0.1
- node v10.15.3 LTS
- npm 6.4.1

See my screenshot:
![Capture d’écran de 2019-05-25 11-14-06](https://user-images.githubusercontent.com/9156882/58367365-9f2ee180-7ede-11e9-8094-a80c4e1970d3.png)

I suggest to test our DevBox if you can't resolve your env

[2019-05-25 09:18] #9619 closed

[2019-05-25 09:28] pascalgrimaud commented on #9106
@anthony-o @DanielFran : it is opened since 5 months. How can we advance on this ?
Is it an improvement we can provide easily, without complex code or breaking stuff ?
If yes, who wants to do this ?
Otherwise, as there is very no comment, I'd like to close this:
- lack of interest
- our current configuration works out of the box, so I'm fine with this

[2019-05-25 09:30] pascalgrimaud commented on #8967
@xetys : it is opened since 6 months. Do you plan to work on this ?

[2019-05-25 09:31] pascalgrimaud commented on #9027
@xetys : it is opened since 5 months. Do you plan to work on this ?

[2019-05-25 09:34] pascalgrimaud commented on #9778
I think it is something which could be nice to have.
What do you think @wmarques ?

Then, if @wmarques agrees : who wants to do this ? @yelhouti @vishal423 ?
Don't forget the Vue.js blueprint part, too.

[2019-05-25 10:01] murdos opened #9793 "Support UUID field type in entity for SQL databases"
##### **Overview of the feature request**

Add support for the java.util.UUID type as a field of an entity for SQL Databases.

##### **Motivation for or Use Case**

This feature is already available for Cassandra.
Also it's far more accurate to declare your field as UUID in java that as String.

##### **Related issues or PR**

-   [X] Checking this box is mandatory (this is just to show you read e

[2019-05-25 10:08] murdos commented on #9793
- [ ] jhipster-core : https://github.com/jhipster/jhipster-core/pull/331
- [ ] generator-jhipster : https://github.com/jhipster/generator-jhipster/pull/9794
- [ ] documentation

[2019-05-25 10:23] yelhouti commented on #9778
@pascalgrimaud I can do the angular part

[2019-05-25 10:59] vinicius91carvalho opened #9795 "Prometheus configuration for K8S needs a fix"
##### **Overview of the issue**

Prometheus is causing errors when I try to apply your configuration in the EKS cluster on AWS.

##### **Motivation for or Use Case**

When I apply the monitoring directory generated by the `jhipster kubernetes` sub generator, I can not to running up Prometheus, because I receive the below message:

Unhandled error received. Exiting..." err="creating CRDs failed: wa

[2019-05-25 11:08] vinicius91carvalho opened #9796 "Missed configuration in the Prometheus K8S recipe"
##### **Overview of the issue**

I am receiving the messages below when I up the Prometheus with K8S in the EKS on AWS.

[code]

##### **Motivation for or Use Case**

It needs a simple fix. A config was missing.

##### **Reproduce the error**

In a new cluster generated on EKS, run the monitoring directory generated by the jhipster kubernetes sub generator:

1) kubectl apply -f monitoring

##### *

[2019-05-25 11:37] pascalgrimaud commented on #9795
@vinicius91carvalho : thanks for reporting this. Indeed, this part is not tested in our CI so you're probably right.
Would you like to contribute and PR the fix plz ?

[2019-05-25 11:38] pascalgrimaud commented on #9796
@vinicius91carvalho : same here, don't hesitate to PR the fix

[2019-05-25 12:02] Tcharl commented on #9735
Yes, I debugged it and there's no `groups` claim at all.

See the new implemenation of `grantedauthoritymapper` and the `extractAuthorityFromClaims`  method I provided with https://github.com/jhipster/generator-jhipster/issues/9707

[2019-05-25 12:17] DanielFran commented on #9106
@pascalgrimaud sorry, I forget it completly!
Will try to work on it next week...

[2019-05-25 12:20] pascalgrimaud commented on #9106
@DanielFran : don't be sorry, it's just a reminder. I'm trying to close old ticket :)
If you plan to work on this, it's ok, nothing urgent !

[2019-05-25 12:38] mraible commented on #9735
Can you please submit a PR to fix it?

[2019-05-25 14:24] #9750 closed

[2019-05-25 14:36] MathieuAA commented on #9793
Regarding JCore and the doc, this feature request is good to go.

[2019-05-25 16:50] jdubois commented on #9793
This has already been widely discussed and there are many (only?) downsides of using UUIDs for PK. I'm fine with it, but we need to document this thoroughly.

[2019-05-25 16:55] pascalgrimaud commented on #9793
@jdubois : if I understand well, it is as a new type, not as PK

[2019-05-25 17:56] mraible commented on #9793
As you might know, I’m very interested in this feature since I need it in my 21-Points Health app that’s using PostreSQL on Heroku. I’ve migrated to UUID to solve duplicate key issues in the following PR:

https://github.com/mraible/21-points/pull/58

I’m not sure if we need it, but based on my experience, it’d be pretty solid if we offered an upgrade to UUID. For example:

jhipster upgrade —uuid

[2019-05-25 18:06] jdubois commented on #9793
Oh sorry!

- if it's not a PK -> no problem at all
- for PKs, that could be an option

And @mraible isn't your issue linked to audit logs? Maybe we should remove them, I'm not sure we should have those by default.

We could also have a pattern where we use Longs as PKs, but UUIDs as "exposed keys", for example for REST endpoints.

[2019-05-25 18:08] mraible commented on #9793
@jdubois Yes, it started with audit logs. However, I've noticed it happens for primary key generation of all my entities. The app started with JHipster 2.x and I've migrated it to new versions over the years. I'm not sure it's a JHipster issue, but it definitely has been a JHipster + Heroku issue for me.

[2019-05-25 18:46] vinicius91carvalho commented on #9795
@pascalgrimaud OK! I will open it later. Thanks :)

[2019-05-25 18:46] vinicius91carvalho commented on #9796
@pascalgrimaud Ok! I will open it later. Thanks :)

[2019-05-25 20:21] #9795 closed

[2019-05-25 20:59] #9796 closed

[2019-05-26 11:49] pascalgrimaud commented on #9383
@rakeshkalra1983 @medimohammadise : for me, it's not a JHipster bug. Our current option OIDC works well, as you can see in our CI builds.
It's more like a feature request, as you want to get picture from Google Identity Provider.

As Matt said, it's more related to Keycloak configuration with your identity provider, than something related to JHipster.

If you find some improvement which can be don

[2019-05-26 11:49] #9383 closed

[2019-05-26 20:56] murdos commented on #9793
To make things clear: this feature request is just for field type, not for PK.

[2019-05-26 21:30] devWhyqueue commented on #9787
Just looked it up in the docs.
As stated in the available application options table [(JDL/Application Options)](https://www.jhipster.tech/jdl/#application_options) the default cache provider property sets its default like this:
**Option Name:** _`cacheProvider`_
**Default Value:** `ehcache or hazelcast`
**Possible Values:** `ehcache, hazelcast, infinispan, no`
**Comment:** `ehcache for monoliths a

[2019-05-27 05:08] Crazie-ash commented on #9619
Thanks for the response... i will try to figure it out once fixed!!

[2019-05-27 06:41] vishal423 commented on #9769
#9800 should help fix redirect to keycloak page. Also, under keycloak `web-app` client, redirect URIs should be updated to allow `localhost:80`.

I still need to look into post login flow to correctly redirect back to the application.

[2019-05-27 07:43] antarus commented on #9769
Hi @vishal423, I applied your PR manually on my code but I still have a 404 returned by traefik.

[2019-05-27 08:48] vishal423 commented on #9769
@antarus, On my side, with your configurations, I can navigate to the Keycloak login page. One correction to my previous comment that I used `http://localhost/*` as redirect URI. Post successful login, redirect fails as spring security needs to be correctly configured. I think I know how to fix, but, need some time to try that out.

Following snapshot shows gateway page post successful authenticat

[2019-05-27 09:12] antarus commented on #9769
I update keycloak to redirect `http://localhost/*`

I can navigate to the Keycloak login page, enter login / password and I am redirected to `http://localhost/login/oauth2/code/oidc?State=XXXX` with a 404 not found from traefik. Then, if i add `/services/gateway/` in the url before `login', i'm redirected to `http://localhost` with a 404 not found from traefik.
if i return on `http://localhost/ser

[2019-05-27 09:25] vishal423 commented on #9769
yes, you are correct on this. That's why I said some work needs to be done on spring security configurations to make login redirect works out of the box or at least correctly documented.

[2019-05-27 09:27] xetys commented on #9027
Yes, actually I do....stuff with bachelor and family was moving that plan away...I'm trying to get into that asap

[2019-05-27 13:50] devWhyqueue commented on #9780
Got a similar problem with the dropdown menus in One-To-Many-Relationships. Empty <option>-Tags are created in the single-<select> for the related entities but no actual attribute (like id or name) is displayed.

[2019-05-27 15:43] Shaolans commented on #8391
@MathieuAA Hello, I would like to contribute on this enhancement. Are you still working on it ?

[2019-05-27 15:46] MathieuAA commented on #8391
@Shaolans Hi, nop. I don't have much time to work on it.

[2019-05-27 15:54] Shaolans commented on #8391
Okay thanks ! Just so I know, is there already some base to work with ? like some utilities functions

[2019-05-27 18:10] wmarques commented on #8366
@orbific Yes take your time no worries

[2019-05-27 18:32] wmarques commented on #9778
I'm ok with it, indeed it's a nice thing to have env variable on client-side.
I would go for a JSON file rather than a JS one. WDYT ?

@yelhouti if you want to start on the angular part please go ahead :)

[2019-05-27 18:58] pascalgrimaud commented on #8391
@Shaolans : you can have a look at this file https://github.com/jhipster/generator-jhipster/blob/master/generators/export-jdl/index.js

The export jdl works well for entities, inside a folder with existing JHipster app. It does not export the JHipster config.
And same for multi folder

[2019-05-27 19:11] pascalgrimaud commented on #9027
no worry no stress @xetys, it's just a reminder
Family is more important than anything else.

[2019-05-27 19:59] yelhouti commented on #9778
@wmarques it's not really a js file it looks in my case like this:
[code]
Why? because it is valid js and interpreted without angular intervention, it's accepted as a configMap by kubernetes. if you havea json way that work for both I'm ok with it.
what do you think?

[2019-05-28 06:07] pascalgrimaud opened #9803 "Couchbase: javadoc with JDK11"
##### **Overview of the issue**

The daily builds with Couchbase failed with JDK11, because of `javadoc`.

See the links:
- Maven: https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=3052
- Gradle: https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=3054

@tchlyah : can you help plz ?

##### **Reproduce the error**

- Use JDK11
- Generate a p

[2019-05-28 07:25] Shaolans commented on #8391
Thanks ! I will check it out :+1:

[2019-05-28 07:32] ishaq8283 commented on #8693
not working for me

[2019-05-28 07:32] ishaq8283 commented on #8693
<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-surefire-plugin</artifactId>
				<version>2.21.0</version>
				<configuration>
					<forkCount>0</forkCount>
					<argLine>-Xmx1024m -XX:MaxPermSize=256m</argLine>
					<suiteXmlFiles> <suiteXmlFile>src/test/resources/runner/testng.xml</suiteXmlFile>
				</suiteXmlFiles>
				</configuration>
			</plugin>

[2019-05-28 10:22] clement26695 commented on #9780
The issue is comming from the entity definition, and particularly the use of required.

For instance, for the one-to-one relationship between Shipment and ShipmentOrder, you make the relationship required from both side.
I guess there could be some use cases where that can be useful, but the logic depend on your business, and cannot be automated, IMO. Same for one-to-many relationship with require

[2019-05-28 11:23] ChouSsu opened #9804 "Separate loading of fake data from definition of data structure"
##### **Overview of the feature request**

Separate loading of fake/test data from definition of data structure in liquibase changesets.

##### **Motivation for or Use Case**

Currently loading of generated fake/test data is placed within corresponding entity files - even before jhipster needle ```jhipster-needle-liquibase-add-changeset``` which prevents other/external modules (e.g. generator-jhip

[2019-05-28 11:25] wmarques commented on #9778
I'm ok with that approach, not an expert with k8s so I trust you :)

[2019-05-28 13:39] vishal423 commented on #9778
If we have decided to proceed on this, then, I will prefer doing it with JSON instead of updating the window object, which is considered a bad practice. A good approach to do that can be found @ https://www.technouz.com/4746/how-to-use-run-time-environment-variables-in-angular/

[2019-05-28 13:58] clakech opened #9807 "Use compatible liquibase-hibernate5 and liquibase versions"
##### **Overview of the issue**

liquibase-hibernate5 version 3.6 (used by jhipster 6.0.1) does not support liquibase 3.6 (used by jhipster 6.0.1)

See the release note: https://github.com/liquibase/liquibase-hibernate/releases/tag/liquibase-hibernate5-3.7
[code]

This leads to an error using liquibase:diff

[code]

##### **Motivation for or Use Case**

We should use compatible versions between de

[2019-05-28 14:04] yelhouti commented on #9778
@vishal423 most of these env variables a required to bootstrap angular (ie: before angular starts), to define the IdP Url..., having them stored in one __env file is not that bad and works cross framework...
Making them accessible only through and angular service narrows there scope and usability...

[2019-05-28 14:05] JaviManteiga opened #9808 "Pagination problem when filtering"
##### **Overview of the issue**

Using JHipster with Angular and pagination, if you access a entity list with more than one page, go to page 2 and use a filter with few results that only need one page to show,, a page change to page one is not performed.

##### **Motivation for or Use Case**

This behaviour is not present in the audit list (which is also a paginated list) so the other tables shoul

[2019-05-28 14:12] ruddell commented on #9808
Can you please supply your `jhipster info` output so we can easily reproduce?

[2019-05-28 14:17] vishal423 commented on #9778
@yelhouti, I believe it loads these during angular bootstrapping and these are available to use in other angular services/components via dependency injection. Can you elaborate more on why do you think that the use of angular services reduce usability?

[2019-05-28 14:25] JaviManteiga commented on #9808
I've updated my question with the information. Thanks in advance

[2019-05-28 14:48] yelhouti commented on #9778
@vishal423 as you mentionned, these variable will only be available inside angular using the service, imagine I have some iframe (an authentication helper https://openid.net/specs/openid-connect-session-1_0.html) that I want included directly in my HTML, but with a different URL whether I'm in prod or test. I want to put the iframe directly in my index.html, this iframe should check if I'm authent

[2019-05-28 16:32] raulrotundo commented on #9735
I added the "groups" claim to the token using keycloak and still having the AUTHORIZATION_FAILURE when a resource has been protected by @Secured or @PreAuthorize.

You can see some logs and comments by me in this article by @mraible https://developer.okta.com/blog/2019/05/23/java-microservices-spring-cloud-config#comment-4475357481

[2019-05-28 17:48] jsm174 commented on #9787
@pascalgrimaud  So I tried with maven, and it did work.

In the most unscientific comparison ever :)

Maven:

[code]

Gradle:

[code]

TBH, not much is jumping out. It seems like there are different versions of jaxb, jackson-annotations.

[maven_jars.txt](https://github.com/jhipster/generator-jhipster/files/3228971/maven_jars.txt)
[gradle_jars.txt](https://github.com/jhipster/generator-jhipster/fi

[2019-05-28 18:03] pascalgrimaud commented on #9787
@jsm174 : thanks for investigating. I don't know Gradle enough to try to find a fix, so if you find one, go ahead !

[2019-05-28 18:36] ksilz commented on #9780
Hello @clement26695! Thank you for your comments!

I agree with you - having a two-sided relationship required on both ends is not very useful, I need to think about why I did this some more.

But from what I could see, your pull request only fixes one bug I reported here &mdash; the one with the "left-over check". It seems the other one still stands:

- The HTML code uses the wrong field names in

[2019-05-28 19:15] jsm174 commented on #9787
So I decided to comment out hazelcast entries from `build.gradle` since, its not listed in the maven version. The gateway did start successfully.

`build.gradle.ejs` specifically adds hazelcast when it's a gateway:

https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/build.gradle.ejs#L296

As @devWhyqueue said above, the JDL document says "ehcache for monoliths a

[2019-05-28 20:27] pascalgrimaud commented on #9787
closed by https://github.com/jhipster/generator-jhipster/pull/9811

[2019-05-28 20:27] #9787 closed

[2019-05-28 21:09] clement26695 commented on #9780
I didn't test yet, but I think #9768 fixed the rest of it. Could you test to see if it solved your issue ? Otherwise, I'll test it tomorrow

[2019-05-28 22:31] avdev4j opened #9812 "Users are removed even if they have already been activated"
##### **Overview of the issue**
Every day we check for not activated users and delete them. we should only do this for user that have never been activated.

##### **Motivation for or Use Case**
If we have an activated user and we deactivate him, the user will be deleted from the application if he stay inactivated for 3 days.
For me we should not remove users that have already been activated. For s

[2019-05-29 06:16] kaidohallik opened #9814 "task stage missing for Gradle compile on Heroku"
##### **Overview of the issue**

If using Gradle, running `jhipster heroku` and choosing `Git (compile on Heroku)` then error occurs and app is not deployed to Heroku.
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

* generate project choosing **Gradle**
* run `jhipster heroku` choosing **Git (compile on Heroku)**

##### **Related issues**

##### **Suggest a Fix**

Thi

[2019-05-29 06:57] atomfrede commented on #9814
Thanks @kaidohallik for reporting. Could you do a pr otherwise I will take care of it later today.

[2019-05-29 06:59] 690284557 opened #9815 "the jhipster How to Verify Privileges, and How to Set Anonymous Rights"
##### **Overview of the issue**
{
  "type": "https://www.jhipster.tech/problem/problem-with-message",
  "title": "Unauthorized",
  "status": 401,
  "detail": "Full authentication is required to access this resource",
  "path": "/api/hy-PolicyDowload/%7BrequestNo%7D",
  "message": "error.http.401"
}
the jhipster How to Verify Privileges, and How to Set Anonymous Rights
![image](https://user-images.

[2019-05-29 07:33] jdubois commented on #9815
You can have a look at our documentation at https://www.jhipster.tech/security/

I'm closing this as this is clearly not a bug, but a question

[2019-05-29 07:33] jdubois commented on #9815
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-29 07:33] #9815 closed

[2019-05-29 07:58] jdubois commented on #9812
It's not the first time I see issues about this: deleting users can always be a cause of problem, even for non-activated ones. Maybe we should in fact totally remove that part.
Initially, I coded this as an example on how to use @Scheduled with JHipster, this wasn't really for solving a business case.
But yes, +1 for your issue and solution

[2019-05-29 08:16] avdev4j commented on #9812
IMO it's good to keep the `@scheduled` part, it's a great example of how scheduling tasks can be and it keep the DB clean.

[2019-05-29 09:18] gzsombor commented on #9812
The other, more general solution is to implement 'logical' deletion, instead of 'physical' - (like adding a 'deletionTime' column, and adding 'deletionTime is null' filters everywhere). This would make the DB happy, as no FK violation would occur during 'logical deletion'.

[2019-05-29 09:52] clement26695 commented on #9780
I updated the PR. It should be good now

[2019-05-29 10:06] wmarques opened #9817 "Upgrade to Angular 8"

[2019-05-29 10:11] jdubois commented on #9817
I added a $100 [bug bounty](https://www.jhipster.tech/bug-bounties/) on this!

[2019-05-29 10:17] pmverma commented on #9807
Last time we had this same problem and was fixed in https://github.com/jhipster/generator-jhipster/pull/9695

Please provide details steps to reproduce.

Updating to liquibase-hibernate5 version 3.7 didn't help, see in the https://github.com/jhipster/generator-jhipster/pull/9740#issuecomment-492768001

Did your code successfully run with your suggested fix?

[2019-05-29 10:48] kaidohallik commented on #9814
I made PR #9819

[2019-05-29 12:41] clement26695 commented on #9808
I can confirm the issue. Replacing the ngIf condition with a hidden looks good to me. Do you want to do a PR @JaviManteiga ?

For the others, if you want to reproduce, you can check https://github.com/clement26695/9808-ng.

https://github.com/clement26695/9808-ng/commit/1ec032bdbb0e40387a88611368aecdddcffc4cd3 works, when https://github.com/clement26695/9808-ng/commit/78efe31067a81af7792b14d12ede0

[2019-05-29 13:02] yelhouti commented on #9817
Should this revert to angular cli since it's much more stable now, helps with upgrades, and would allow to easily use ivy..., also, do you think we should use bazel?

[2019-05-29 13:40] clement26695 commented on #9808
Note that the issue is present in the vue-js bluebrint.

It is also present in react, as we built our own component, and didn't took care of this issue.

[2019-05-29 13:42] hdurix opened #9820 "Compile error with MongoDB & required relationships"
##### **Overview of the issue**
When using MongoDB as database and entities with required relationships between them, some Integration Tests don't compile.

##### **Motivation for or Use Case**

It's clearly a bug as it does not compile :)

##### **Reproduce the error**
Generate an app with MongoDB and required relationships (see JDL below)

##### **Related issues**
Issue: https://github.com/jhips

[2019-05-29 14:30] JaviManteiga commented on #9808
@clement26695 I made the Angular client changes in https://github.com/JaviManteiga/generator-jhipster/commit/bc3fbfcec2f3e82e81a0612be51000aaf952ac52 but since React and VueJS are also affected I didn't create the PR (feel free to use my commit).

Testing your example, I think in the hidden input the array check is still needed:

`<div [hidden]="!idiomas || idiomas.length === 0">`

Otherwise, whil

[2019-05-29 15:24] jdubois opened #9822 "Use the Git hash in Spring cache keys"
Following [my recent article on using Redis cache](https://dev.to/azure/configuring-azure-redis-cache-to-boost-spring-boot-performance-7-7-52dl), I had a very interesting discussion with @tkvangorder as there is an interesting edge case: when you do a new release, you still inherit from the old cache, and maybe you will have some wrong data there, because you changed something in your code.

I thi

[2019-05-29 15:52] wmarques commented on #9817
@yelhouti For now let's keep it simple and just bump up Angular versions. We can create another ticket to discuss on switching to Angular CLI Builder as we can now (I think) customize their webpack config.
We have alot of small useful tweaks (browserync, Moment optimizations) I would like to keep.

About Ivy we can use it since we rely on the `@ngtools/webpack` so it should work with it.

[2019-05-29 16:25] orbific commented on #8366
As noted above, I've created a pull request which fixes what was, for me, the breaking issue for this generator. With these changes made, I am able to run the command and create an AWS container deployment.

I could not find any existing test cases for the generator. I am happy to write these if needed, but will need a little support (I am a Java developer, not a Javascript one).

There are also a

[2019-05-29 16:34] jdubois commented on #8366
I've added a $100 bug bounty here, as I know it's a huge work to sort this out.
All other major cloud providers like Microsoft, Google and Heroku support the project financially, I find it sad that we use our bug bounties system to have AWS working... There're the ones making the money out of JHipster, I don't understand why they don't sponsor or help.

[2019-05-29 17:54] #9814 closed

[2019-05-29 17:58] #9812 closed

[2019-05-29 19:15] ksilz commented on #9780
@clement26695 I'm testing it with the latest version of the jHipster main branch.

[2019-05-29 21:36] Gabrui commented on #9820
Are unique constraints enforced in mongodb? If not, we could just force my fix to the sql case. Just changing [this line](https://github.com/jhipster/generator-jhipster/blob/507e89c98f9c17e9787066c5229011e1d74ff709/generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs#L446)
[code]

to

[code]

would resolve.

But I really don't know how those other database ty

[2019-05-29 22:46] hdurix commented on #9820
It's compiling but some tests are failing, I guess that's because we don't create the associated relationships entities during the tests, but I don't know how MongoDB relationships are working either.

I used the same JDL as you @Gabrui:
<details>
<summary>JDL with required definitions</summary>

<pre>
entity BankAccount {
  name String required
  bankNumber Integer
  agencyNumber Long
  lastOpera

[2019-05-29 23:14] Gabrui commented on #9820
Then we need a way to make a query in those other databases. I remember that the first time I tried to fix that bug I imported the entitie's Repository but I also ran into the problem of the persistence context (it needed the @Transactional decorator to work) but it also gave other problems so I used the 'em' to make the query and simplify.

[2019-05-30 03:45] #9721 closed

[2019-05-30 03:46] #9780 closed

[2019-05-30 08:05] ivangsa commented on #9820
Hi, I will look into it..
There is also a compilation problem in services related to the primary key not being an string...
https://github.com/jhipster/generator-jhipster/pull/9826

[2019-05-30 09:21] hdurix commented on #9820
Yes @Gabrui the other issue using repositories inside the `createEntity` method is that this method is static (in order to be called from other integration tests) so the `@Autowired` repositories can't be used here.

@ivangsa thanks! I also noticed this compilation problem with ids using services (with the last JDL I gave).

[2019-05-30 10:51] ivangsa commented on #9820
after aplying fix proposed by @Gabrui ,
I think the remaining failing tests are because code is generated for "isUsingMapsId === true" which does not apply to mondgodb... harcoding that to false makes generated tests to pass...

[2019-05-30 11:14] petecarapetyan commented on #4251
Graphql is a natural fit for jhipster, joined at the hip with jhipster's idea of schema as the center of all things.

It would be a significant investment of time, though, per comments above.

[2019-05-30 12:20] ksilz commented on #9780
@clement26695 I wasn't able to test with the latest jHipster main branch. I think I got the dev version of the jHipster generator and the Java library project installed correctly. But then the generated entities wouldn't work, so I gave up.  :-(

[2019-05-30 14:25] pascalgrimaud commented on #4251
I agree it will be great to have GraphQL as options.
But the core team has no bandwidth for that, so it would go into module first. Then we can see if it's a great success, the author can push into the main generator-jhipster and maintain it.

Who wants to start a module and maintain it ? @Hubbitus @nkengasongatem @petecarapetyan ?

[2019-05-30 21:01] clakech commented on #9807
W00t trying to reproduce this in a brand new project from scratch and bOOm, found an issue in my project : bad merge on last jhi update and my pom.xml was not following jhi !

A quick patch solve this issue (add this dependency into liquibase-maven-plugin <artifactId>hibernate-core</artifactId><version>${hibernate-core.version}</version>)

[2019-05-30 21:01] #9807 closed

[2019-05-31 06:26] ivangsa commented on #9820
hi, I think failing tests are caused by this (incompatible) setting in the jdl:
_Employee{user(login)} to User with jpaDerivedIdentifier_
this is generating code in services and tests for MapIds incompatible with mongodb..

[2019-05-31 07:34] ernsyn commented on #9195
Is this released? I'm getting the same error in 5.8.2.

[2019-05-31 07:41] mraible commented on #4251
I think this implementation might be a good one to follow.

https://github.com/iguissouma/spring-graphql-apollo-angular

[2019-05-31 07:56] clement26695 commented on #9195
I think it was just included in the 6.0.0 version, unfortunately, but the fix provided by @Dufgui should work

[2019-05-31 10:22] JorisNobre opened #9829 "War generated seems to not work in 6.0.1 (standalone and tomcat)"
##### **Overview of the issue**

With JHipster 6.0.1, the war generated by the command `./mvnw -Pprod,war clean verify` does not serve the webapp when deployed in Tomcat. It was working fine with JHipster 5.8.2 (because war was the default package type I guess).
When the app is deployed on Tomcat (the startup is working fine) and accessed via Chrome, the following appears in the console:
<details>

[2019-05-31 11:00] jdubois commented on #9829
I'm not sure we support WARs anymore, @PierreBesson ?

[2019-05-31 11:10] PierreBesson commented on #9829
Honestly the way we do it has had numerous iterations. So it's possible that it broke at some point being rarely tested. However it does deploy correctly to appengine so the war should be valid.

The problem here seems to be that the frontend files are not properly served from the war.

[2019-05-31 11:54] nonomoho commented on #9820
For me there are some changes to do in `EntityResourceIT.java.ejs` file:
[This line](https://github.com/jhipster/generator-jhipster/blob/507e89c98f9c17e9787066c5229011e1d74ff709/generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs#L446):
`if (TestUtil.findAll(em, <%= otherEntityNameCapitalized %>.class).isEmpty()) {`
And the "else" part:
[code]
 should only b

[2019-05-31 12:14] petecarapetyan commented on #4251
Graphql has it's own generator utility - https://graphql-code-generator.com/ -
I'm still evaluating whether it would be easier to start with JHipster, or
start with that generator. I don't have the funding to take the longer
route.

Since the schema is the heart of graphql, and graphiql also reads the
schema and provides a ready made UI, graphql is a bit of an anomaly in the
JHipster space.

On Fr

[2019-05-31 12:19] petecarapetyan commented on #4251
I should also clarify that my interests are in the UI side only, because AWS AppSync already generates and runs the data service completely from my schema. So that cuts SpringBoot out of the picture for me, which seems heretical, but works great until the bills are too high.

[2019-05-31 12:24] JorisNobre commented on #9829
@PierreBesson exactly, the app is correctly deployed. It has created my database with Liquibase and the backend is logging to the tomcat log files.
Unfortunately the frontend is not served.

[2019-05-31 12:29] sreerajr137 opened #9831 "Not able to access the APIs statelessly by passing JWT"
guys, I have generated a microservice application using jhipster 6.1 with keycloak. Am able to access the application via the user interface jhipster generates for the gateway. However my requirement is to use the generated application as a backend only, accessed via APIs in a stateless fashion. Am Not able to access the APIs statelessly by passing JWT. Error received is "timestamp": "2019-05-31T1

[2019-05-31 12:35] atomfrede commented on #9549
I will work on that. I propose to deny the page to be framed (or same origin) currently we do not send any information about that. Furthermore I would set the referrer policy to `strict-origin-when-cross-origin`.

For the headers `feature-policy` and `content-security` I think we should document that, as they are highly specific imho. For jhipster online we should set all headers with the features

[2019-05-31 12:36] jdubois commented on #9831
- Please, don't call us "guys", we try to be gender-neutral here
- I'm guessing you use JHipster 6.0.1 because 6.1 doesn't exist yet -> please follow our guidelines and give us your `jhipster info` so we know what version and configuration you use
- It's hard to tell with so little information, but we don't support stateless authent with Keycloak, as it's less secured. This can change in the futur

[2019-05-31 12:40] vishal423 commented on #9831
I think we do support, however, with the provided information, it's difficult to tell what's wrong. Can you list down steps to reproduce with API signature and headers you tried to consume?

[2019-05-31 12:52] sreerajr137 commented on #9831
Thanks for the quick reply. Yes, using version 6.01.
Steps:
1) Retrieve JWT from keycloak using Post request to Keycloak server
2) Using the above JWT as Authorization Header, make call to the API through Gateway

Request:
GET - http://localhost:8080/services/blog/api/blogs
Header
Authorization: bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICIyWHlLYk9ua2xlV3RBRE1yNVktcXhXVnFpc29iUVByZ...

[2019-05-31 16:03] ruddell commented on #9829
Tomcat deploys under a context-path by default, did you check the "Running the application under a Context Path" section of [the production docs](https://www.jhipster.tech/production/#running-the-application-under-a-context-path)?

[2019-05-31 16:40] JorisNobre commented on #9829
Yes I have tried to change the basehref but I still have the issue

[2019-05-31 16:42] ruddell commented on #9829
What errors do you see in the browser console?

[2019-05-31 20:52] atomfrede commented on #9549
We need to set both `unsafe-inline` and `unsafe-eval` for the script sources in the `content-security` header, which reduces our rating to `A`. It seems angular or some plugin uses inline or eval somewhere.

What do you think? Leave the `content-security` header or set it with some "insecure" settings? https://securityheaders.com/?q=https%3A%2F%2Fgradleheroku.herokuapp.com%2F&followRedirects=on

[2019-05-31 22:02] danielpetisme opened #9835 "Allow to override `app` from a blueprint"
##### **Overview of the feature request**

The purpose of this feature is to be able to override the `app` generator behavior in blueprints.

##### **Motivation for or Use Case**

As you may know, I'm working on a .Net Core JHipster blueprints and some prompts/behaviors are managed by the `app` itself (like the type of application, JHipster UAA is not applicable in a .Net context).

IMHO, it's sim

[2019-05-31 22:55] tkvangorder commented on #9822
Just for reference, this repository (https://github.com/tkvangorder/redis-shared-cache-sample)provides an example of how the Spring Caching abstraction can be customized to support a "shared" distributed cache. The key is still cache-specific (like a customer ID), however, the values are a hash where the key in the hash is the application build number. It should be easy to adapt this such that the

[2019-05-31 23:31] ruddell commented on #9835
Duplicate of https://github.com/jhipster/generator-jhipster/issues/9692

[2019-05-31 23:31] #9835 closed

[2019-06-01 07:35] yelhouti opened #9836 "Entity filtering: 'greaterOrEqualThan' should be 'greaterThanOrEqual'"
Hey :), I spent an houre trying to figure out why filters are not working, turns out that it's and english problem:
it's greaterThanOrEqual "gte" not greaterOrEqualThan expected by jhipster...
Any idea on how to fix this without introducing breaking changes, I would suggest sone json annotation at the same time be able to handle "gte", "gt"....

[2019-06-01 08:50] Tonterias commented on #9605
Hi @jdubois,

Is there any idea about when this could be fixed? I mean no rush, just wonder when. I think it is pretty important for Google to have clients that can spend $s using Jhipster in GCP.

Thanks a lot!

[2019-06-01 08:55] pascalgrimaud commented on #9605
@Tonterias : as it's an open source project, we can't give any date about the fix. It will be fixed when someone wants to spend time to investigate and to find a fix.

[2019-06-01 09:21] pascalgrimaud commented on #9831
@sreerajr137 : still waiting information. Just use `jhipster info` inside each of your gateway and microservices

[2019-06-01 09:25] pascalgrimaud commented on #9836
@yelhouti : please, provide more information, steps to reproduce your issue. It will be hard to guest your configuration here and what you tried to do.

[2019-06-01 09:27] pascalgrimaud commented on #9822
what about users which don't use git, but svn instead ?
Should `git` be as mandatory now ?

[2019-06-01 09:30] jdubois commented on #9836
I also have no idea what you talk about... And please don't use "guys", we try to be gender-neutral.

[2019-06-01 11:13] hdurix commented on #9820
@ivangsa sorry, I just copied the JDL and changed the databaseType without checking it was correct.

Both fixes are correct, the one from @nonomoho can be easier to read later.

[2019-06-01 11:17] hdurix commented on #9820
Fixed by #9830.

[2019-06-01 11:17] #9820 closed

[2019-06-01 12:10] sreerajr137 commented on #9831
Please find the Jhipster Info for gateway and microservice as follows.

Gateway:
-------------------------------------------------------------------------
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipst

[2019-06-01 12:33] pascalgrimaud commented on #9829
As suggested by @ruddell, you need to change the `baseHref` in `webpack.common.js`.
Just tested it, and I don't have any issue. Everything works fine for me.
See my screenshots:
![Capture d’écran de 2019-06-01 14-29-52](https://user-images.githubusercontent.com/9156882/58748505-21d51500-847a-11e9-8fd5-d77abb5ab04f.png)
![Capture d’écran de 2019-06-01 14-30-34](https://user-images.githubusercontent

[2019-06-01 12:34] pascalgrimaud commented on #9829
I'm closing this, as I can't reproduce it.
Don't hesitate to provide more information, steps, etc, if you think there is a real bug.

[2019-06-01 12:34] #9829 closed

[2019-06-01 12:55] pascalgrimaud commented on #9831
I did a quick tests with your configuration, and everything works as expected.
After reading closely your ticket, I remember this one: https://github.com/jhipster/generator-jhipster/issues/9120
There was a long discussion about it. I'm closing this as it's a duplicated, you can comment the old one to discuss / propose solution.

[2019-06-01 12:55] #9831 closed

[2019-06-01 16:13] dave0688 commented on #7965
I agree with @alexplacinta. NestJS is an awesome framework, growing extremely fast, and plus: Typescript 💃

[2019-06-01 16:19] vraravam opened #9837 "import-jdl forces generation of all entities irrespective of which ones actually changed"
##### **Overview of the issue**
I made a change in my `.jh` file, and ran the `jhipster import-jdl` command - since I only added a single attribute to one of the entities, I expected it to figure that out and only generate the files pertaining to that one entity.

##### **Motivation for or Use Case**

I was trying to add a new attribute to an existing entity.

##### **Reproduce the error**

* Have

[2019-06-01 16:19] vraravam commented on #9837
What I also accidentally figured out was that the presence of the `application` config block inside the `jh` file causes this behavior.

[2019-06-01 16:35] yelhouti commented on #9836
@jdubois @pascalgrimaud my bad I could have been more specific, here are lines of code:
https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/service/filter/RangeFilter.java
[code]

[2019-06-01 18:08] pascalgrimaud commented on #9837
Can you post your JDL file plz ? Before your modification, and after. So it will be easier to reproduce your use case.

[2019-06-01 18:09] ruddell commented on #9837
Duplicate of https://github.com/jhipster/generator-jhipster/issues/8880, there's also a PR in progress to fix this

As a workaround, you can pass the `--ignore-application` flag when importing jdl.

[2019-06-01 18:09] #9837 closed

[2019-06-01 22:03] erkieh opened #9838 "Feature Contribution: Mobx store"
Would you guys be interested in a generator option for a React store implementation based on Mobx as an alternative to Redux? Since I prefer Mobx for React I have already done some work in my fork https://github.com/erkieh/generator-jhipster

[2019-06-02 02:30] AlexanderNZ opened #9839 "Generated App 404s on Browser Refresh"
##### **Overview of the issue**

There is appears to be inconsistent behaviour in navigating by links (in the nav bar for example) vs navigating by entering URLs directly in to the URL bar. This has impacts on things like page refresh.

##### **Motivation for or Use Case**

This is a bug because of user expectations around consistency.

Routing in the app should behave consistently, regardless of

[2019-06-02 03:56] ruddell commented on #9839
I tried to reproduce this with the default options but was not able to.  I'm guessing it's related to the separated client/server.

One solution is to restore the config like

[2019-06-02 10:09] jdubois commented on #9839
Yes be careful with the "skipServer" here, as this can only work thanks to a specific server code. What do you have on the server side, a JHipster 6 app?

[2019-06-02 10:14] jdubois commented on #9822
We could totally say that Git is mandatory... But for the moment we only check for it, and ignore the feature if it's not present: that could be the same here, this would only work if you use Git, and otherwise you wouldn't have the Git hash.

[2019-06-02 16:25] erickjvallejo opened #9844 "Required constraint in relationships and DTO option generate error in Angular"
##### **Overview of the issue**

I have imported my JDL file and notice that in Angular when I tried to update or create a record I have got an error of missing field and the value does not appear for textbox.

![error-in-angular](https://user-images.githubusercontent.com/21186106/58762810-37e5e280-8519-11e9-9b3b-98eddeaa0718.png)

##### **Motivation for or Use Case**

1. import-jdl
2. relationshi

[2019-06-02 17:15] pascalgrimaud commented on #9838
Can you argue why we should have Mobx as an alternative to Redux ?

I'm against to maintain 2 options without real additional value, so for me, I'd prefer to stick to Redux for React as it works well and we don't have any issue with this lib.

Then, you can develop a module or blueprint, to replace Redux by Mobx. Then, we can see if it's really popular.

[2019-06-02 18:38] #9803 closed

[2019-06-02 20:22] DanielFran commented on #9844
I transferes it to this repo and reopen it.

[2019-06-02 20:43] erickjvallejo commented on #9844
Thanks you! Regards.

[2019-06-02 23:41] AlexanderNZ commented on #9839
Thanks for the insight @ruddell, I'll keep an eye out for that PR and hopefully learn from it for the future!
Yes that's right @jdubois, Jhipster 6.0.1 on both ends.

If it's helpful, the complete JDL is that reproduces this is:

[code]

[2019-06-03 04:28] pascalgrimaud commented on #9836
cc @gzsombor as you look like the original author of the file. Sorry if I'm wrong :)
What do you think ?

[2019-06-03 06:02] yelhouti commented on #8915
Hi devs, I rely a lot on JHipster and try to contribute/share my opinion as much as I can. I thank you for the great work.
For these very important discussions, I think you should let people from outside the core-team participate (mailing list is private if I'm not wrong), until that's the case, I'll leave my opinions (FWIW) here:
- I love the Idea about a JDL centric approach.
- I'm not a big fun

[2019-06-03 06:13] Blackdread commented on #9836
could add setters with correct name (maybe not getters otherwise then need to tell Swagger to ignore one of the getter/setter for documentation of API)

[2019-06-03 07:53] gzsombor commented on #9836
Sorry, I'm not a native English speaker - interesting, that no one complained before :wink:
Having a new setter could be a good solution, unfortunately this problem is on the Java-Javascript layer, we could break the UI easily for an unsuspecting upgrader.

[2019-06-03 08:09] clement26695 commented on #9844
I think it is the issue was solved in #9806 and #9768: applying the same fix (ie changing author to authorId in the editForm.get function, without changing anything else) solves the issue for me.

Can you tell me if it is also the case for you @erickjvallejo ?

[2019-06-03 08:38] JorisNobre commented on #9829
Thanks guys it works fine. I did not put the last slash in the basehref path. Hope this helps someone else in the future.

[2019-06-03 08:38] #9817 closed

[2019-06-03 08:40] pascalgrimaud commented on #9829
Nice, good to know the last "slash" is important !
Thanks for your feedback

[2019-06-03 08:41] wmarques commented on #9839
I can confirm that you need to handle this part on your server configuration (apache, nginx, or in the webpack config when you develop) to always redirect into the `index.html` file.

[2019-06-03 10:04] clement26695 commented on #8920
As it was opened since last December, I started working on this issue : I hope you're ok @deepu105 ?

[2019-06-03 11:01] pascalgrimaud commented on #9844
I can confirm the issue with v6.0.1
And I can confirm too the issue is resolved with current master, so @clement26695 is right :)

I'm closing this, as it's a duplicated issue.

[2019-06-03 11:01] #9844 closed

[2019-06-03 11:10] #9808 closed

[2019-06-03 13:17] ikomangmahendra commented on #9296
Quartz scheduler is very robust framework and it will be good if Jhipter can include this in the future. I am still hopping this.

[2019-06-03 14:20] jdubois commented on #9296
I know Quartz very well, and JHipster provides support and example for the @Scheduled annotation - so all you need to do is configure Quartz using the standard Spring Boot config for that, so there's no added-value for us to do this

[2019-06-03 14:36] #9178 closed

[2019-06-03 15:44] erickjvallejo commented on #9844
Hi @clement26695 thank you for your PR, this will  resolve the issue. Many thanks!

Regards,

[2019-06-03 16:05] erkieh commented on #9838
Not saying Redux is bad. Just I prefer the less verbose Mobx style and find it simpler to read and write. Your stance is agreeable and of course I am fine with going the blueprint route.

[2019-06-03 16:16] pascalgrimaud commented on #9838
ok so let's stick with Redux.
Don't hesitate to tweet and mention `@java_hipster` when you decide to start a module or blueprint

[2019-06-03 16:16] #9838 closed

[2019-06-04 03:27] zackfei opened #9849 "jhipster registry v5 unable to get loggers"
##### **Overview of the issue**

Unable to get the loggers and change log level for microservice that register into registry.

1. Pull and start the jhipster-registry v5.0.1 from docker hub.
2. Use the jhipster CLI v6.0.1 to generate a Microservice gateway project and register into jhipster-registry v5.0.1.
3. Login jhipster-registry, goto the menu Administration > Loggers, select the gateway micr

[2019-06-04 03:29] #9849 closed

[2019-06-04 03:30] zackfei commented on #9849
report it at jhipster-registry

[2019-06-04 06:20] ruddell commented on #9839
I'll open a PR tomorrow of the commit linked above after testing again.

When using separate client/server, index.html does not exist on the backend, so refreshing gives a server-side 404 error.  The webpack proxy needs a slight tweak to handle this.

[2019-06-04 06:32] raiyanalam opened #9853 "Enhancing release section of repo"
Hi,
   I was going through the repo, i found that it does not display much information in the release section of the repository. Currently it has only a long list of release tags.
![image](https://user-images.githubusercontent.com/7879476/58855982-03ac2680-86bf-11e9-8a23-61faee264a25.png)
This section is really important for users who would want to know the latest changes that is incorporated in a

[2019-06-04 07:00] pascalgrimaud commented on #9853
Big +1 from me, as currently, our release notes are done manually: https://www.jhipster.tech/releases/
cc @jdubois

[2019-06-04 07:38] jdubois commented on #9853
@pascalgrimaud you mean moving from our website to the GitHub release page? I'd rather stay on our website, as I can tag everything at one (usually doing a release also mean updating portions of the website), and also that's better for our sponsors (lots of trafic on those pages, and Okta deserves to have its logo shown). At some point I'd also like to deliver a PDF doc of our website with each re

[2019-06-04 07:44] atomfrede commented on #9853
I like what Testcontainers is doing too. The use release drafter to create draft releases in GitHub automatically using issue tags. https://github.com/testcontainers/testcontainers-java/releases I would at least like to have a link to our official release notes in GitHub

[2019-06-04 08:28] pascalgrimaud commented on #9853
IMO, what could be done:
- automate the release notes at jhipster.tech
- add the link to the release note, in the tags sections

[2019-06-04 09:11] raiyanalam commented on #9853
@jdubois : we should definitely keep the website as it has its own advantages. However, simultaneously we should also leverage the in built capability provided by github for releases even if it is just posting a link to the relevant documentation. Several users scan this section to see how active the repo is and the changes that were incorporated in a release. Optionally, the task can also display

[2019-06-04 10:41] Tonterias commented on #9605
@pascalgrimaud Thanks. I wish I could do it. I just wanted to know if anyone was looking at it.

[2019-06-04 11:42] pascalgrimaud commented on #9605
Yes please, go ahead @Tonterias !

[2019-06-04 11:52] #9286 closed

[2019-06-04 11:58] zooldk opened #9857 "Translation (en.json) loading problem"
Hi,

I initially scafolded my angular project with jhipster in 2017. I then ported the projects so the client and server were split apart. In that process something happend with my translation files and how they are loaded.

I can see that it loads the en.json file - but my problem is that it keeps loading (200 OK reply) it in the browser (almost 180 times) and its probably due to the buildTimesta

[2019-06-04 12:13] zooldk commented on #9857
![Screenshot 2019-06-04 at 13 51 13](https://user-images.githubusercontent.com/1841838/58878171-eb460700-86d2-11e9-95b9-01c4486c4519.png)

[2019-06-04 12:20] pascalgrimaud commented on #9857
@zooldk : you need to follow our guidelines. Without that, how can we know your config, your tools, etc ?

[2019-06-04 12:30] zooldk commented on #9857
Sure i will provide as much as possible. But i have migrated my project so no more .yo config.  I have of course a .angular-cli.json file:

[code]

snip of package.json file:

[code]

Proxy.conf:

{
    "/api": {
        "target": "http://localhost:8080",
        "secure": false,
        "loglevel": "debug"
    },
    "/i18": {
        "target": "http://localhost:8080"
    }
}

environment file:
[

[2019-06-04 12:49] vishal423 commented on #9857
Do you use JHipster webpack build process? If yes, then, following code in the webpack.common.js file define and substitute this value during the build process:

<pre>
plugins: [
        new webpack.DefinePlugin({
            'process.env': {
                NODE_ENV: `'${options.env}'`,
                <b>BUILD_TIMESTAMP: `'${new Date().getTime()}'`,</b>
                VERSION: `'${utils.parseVe

[2019-06-04 13:20] zooldk commented on #9857
Hi @vishal423 . Thanks for the answer. No we have not kept the webpack build process - but moved into all normal ng-cli - and thats why i was asking how do i update the undefined BUILD_TIMESTAMP i general. As you can see we are using the package.json file along with ng-cli.

I have also tried to enforce the environement variable in the build, when calling yarn start:

[code]
But that did not help

[2019-06-04 13:34] zooldk commented on #9857
So how can i otherwise override this undefined variable that is implicitly called. Is the code somewhere i can override - using normal ngx-translate or?

[2019-06-04 13:52] #9857 closed

[2019-06-04 13:57] zooldk commented on #9857
Ok thats fair enough. But since i am using jhipster for doing the translations I just hoped to find out where to override this undefined date. Otherwise how do I disable the translations? because setting the i18nEnabled in false in the NgJhipsterModule.forRoot does not work - it still calls almost 200 http calls.

[2019-06-04 14:03] vishal423 commented on #9857
An alternative ugly way could be to create a fork of ng-jhipster and override with whatever you want and use that in your project

Relevant code can be located under `ng-jhipster.module.ts` in `ng-jhipster`

[code]

[2019-06-04 15:01] ndywicki opened #9858 "v6 - Application generation stuck - shelljs.exec()"
##### **Overview of the issue**

I've upgrade jhipster generator to *v6.0.1*. Since the application generation with all default options is stuck after the questions .

After investigating I saw that it's also blocking with the `jhipster info` command.
With debugging I see that is related to the `shelljs.exec` with an `npm` or `node` command.
The callback is not invoked and this not free the step Y

[2019-06-04 15:15] pascalgrimaud commented on #9858
Just tried with Windows 10 and I don't have any issue. It works fine for me.
I use node v10.16.0 and npm 6.9.0 like you.

Are you behind a proxy, or something like that ?

[2019-06-04 15:55] ndywicki commented on #9858
I guess I have to be an isolated case or there will already be tons of tickets ;-)
I am behind a proxy and a corporate antivirus.
But node, npm, maven tools work correctly with http-proxy for dev.

I'm still digging, maybe it has nothing to do with the generator ex:
https://github.com/shelljs/shelljs/issues/528

[2019-06-04 18:18] vishal423 commented on #9822
I think this should be optional. In some cases, even post upgrade, the cache can still hold valid data and need not be cleared. Also, using build/version number seems more generic as spring boot can provide that for both maven and gradle (assuming that it's not turned off)

[2019-06-04 18:29] Tonterias opened #9859 "Images at some marketplaces are broken"
##### **Overview of the issue**

Mike @Tonterias 19:59
Hi Jon, All the images in the marketplace ( for example: https://www.jhipster.tech/modules/marketplace/#/details/generator-jhipster-banner ) are broken but there is no issues in the https://github.com/jhipster/jhipster.github.io and I do not know how to tell Pascal.

Jon Ruddell @ruddell 20:10
I think that's more of an issue with generator-jhi

[2019-06-04 18:36] vishal423 commented on #9778
@yelhouti, I understand that using angular services to share constants/variables may not be appropriate for your scenario, but, that's not what JHipster supports out of the box. Also, anything attached to the window object is a global variable (the equivalent of using `var` outside functions). I wouldn't suggest to have this by default in JHipster and promote a bad practice.

[2019-06-04 18:54] yelhouti commented on #9778
@vishal423, these are supposed to be env variables, with env standing for environement, ie, accessible from everywhere...
Another raison to put them outside the code is being able to mount the file and access it, and it would worse I think to inject the httpClient, request the file, parse it, then initialize you app. TTI (time to interactive) would suffer a lot.

[2019-06-04 19:00] vishal423 commented on #9817
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/8351

[2019-06-04 19:09] ruddell commented on #9859
The images for `generator-jhipster-banner` don't load because it references a local image in the repository, instead of an image via URL.  You can see working images referenced via URL here: https://www.jhipster.tech/modules/marketplace/#/details/ignite-jhipster

So in this case, I think it's an issue to raise with the module and not the docs website.

Slightly related, the download count does not

[2019-06-04 19:26] pascalgrimaud commented on #9817
Just approuved.
Thanks a lot for your work @vishal423 !

[2019-06-04 19:41] tkvangorder commented on #9822
The example is just pulling a property value from the Spring Environment. We could make this key configurable or look for well-known properties and just define order precedence (look for a git hash, if not there, look for a build number, etc). The only requirement is that this value is unique for each build. @vishal423 this enhancement would allow you to share your cache without clearing values ev

[2019-06-04 20:31] #9839 closed

[2019-06-04 20:45] jankod opened #9861 "JavaScript canot use large number from Java type Long"
Jhipster generates a rest controller that retrieves the ID entity which is type Long.
The problem is that the large number of type Long can not be displayed in javascript.

Problem is described also here [https://stackoverflow.com/questions/17320706/javascript-long-integer](https://stackoverflow.com/questions/17320706/javascript-long-integer)

It is not problem of jhipster, but JavaScript.

Java S

[2019-06-04 21:05] ruddell commented on #9861
Is there something actionable that we can do?  I don't think most apps will ever get to 999,999,999,999,999 entities.

Also a simpler way to reproduce without having to modify a generated app is to simply paste `9223372036854775807` in the browser console.

[2019-06-04 21:10] jankod commented on #9861
Maybe solution is:
On Java Entity:
[code]

On Angular model:
[code]

[2019-06-04 21:45] ruddell commented on #9861
To me, this is a rare edge-case so we shouldn't force everyone to send the ID as a string field when most people will never hit that number.

[2019-06-04 21:54] deepu105 commented on #9778
If we are doing it for angular, we should do it for React as well

On Tue, 4 Jun 2019, 8:54 pm yelhouti, <notifications@github.com> wrote:

[2019-06-05 07:08] jankod commented on #9861
Also work if on java Long type add:
[code]

and on angular:
`id?: bigint;`

[2019-06-05 07:08] #9861 closed

[2019-06-05 07:13] PierreBesson commented on #9861
This is a really interesting bug but a very rare use case IMO. Still I'm glad that I learned something with this issue.
@jankod I'm curious did you really encounter this bug in your app ?

[2019-06-05 08:28] PierreBesson commented on #8946
@cbornet This is actually a brilliant idea. I think we should make this endpoint a Spring Boot "Endpoint" so that it will be compatible with both webmvc and webflux. This can also be setup purely on the lib and we could override the official endpoint to add optional security with a key.

[2019-06-05 08:59] deepu105 commented on #9692
@murdos do keep in mind that app generator is the main entry point which composes others so extending it could be tricky. If you need any help let me know

[2019-06-05 09:40] jankod commented on #9861
Yes,
I have methods that generate generate unique Long IDs in my app and this Long are usually very large number that I can not see in my angular app if expected TypeScript number type from JSON response.

[code]

[2019-06-05 11:06] deepu105 commented on #9727
So the reason I decided to do things in parallel is to cut down the time it takes, when you have multiple apps it takes too long to generate everything if you run them in a single process. So I would indeed suggest using `--interactive` when debugging. @MathieuAA the import-jdl subgen doesn't use yeoman, it's directly on the CLI, only when existing subgens are invoked yeoman comes into play, but y

[2019-06-05 11:18] wmarques commented on #9778
If we want a homogenous support for the three frontend frameworks, then @yelhouti is the best solution as it's framework agnostic.
We can add an Angular service to wrap this so we can access the env variables inside Angular easily without accessing to the `window` object.

Indeed, I'm not a big fan of that way as I find a JSON file more readable and I also do not like to put things in `window`...

[2019-06-05 11:59] deepu105 commented on #7965
I wanted to do a NodeJS blueprint for the microservice backend for a while now but I don't have the bandwidth to do it alone. If anyone is interested in starting one I'll be happy to help

[2019-06-05 12:10] deepu105 commented on #8915
@MathieuAA are you working on this?

[2019-06-06 03:38] magick93 opened #9865 "Failed to run task: 'npm run webpack:build'"
##### **Overview of the issue**

After running `jhipster` cli, and then attempting to successfully run `./mvnw`, the maven command fails.

##### **Motivation for or Use Case**

Because, after running `jhipster` the output said to:

[code]

##### **Reproduce the error**

1. Use latest LTS version of node (10.16.0 LTS).
1. Create jhipster project using the following:

[code]
my-app@0.0.0 /home/user/

[2019-06-06 04:06] pascalgrimaud commented on #9865
Can you put here the stacktrace plz ?
In the title, you said, npm run webpack:build failed. Maybe you got an error after generation, try:
- `npm install`
- `npm run webpack:build`
- `./mvnw`

[2019-06-06 18:52] MathieuAA commented on #8915
@deepu105 not at the moment no. I've got some things that need taken care of (linter, v4, etc.).

[2019-06-06 20:44] vishal423 commented on #9735
I spent some time today on this and @Tcharl is correct. We need to provide a custom implementation of `JwtAuthenticationConverter` to be able to extract roles from access token (both on gateway and micro-services). It's required on gateway for resource server authentication to work correctly. I think https://github.com/jhipster/generator-jhipster/issues/9831 was related to that.

Further, on the k

[2019-06-06 21:10] mraible commented on #9735
@raulrotundo posted a [comment on the Okta blog](http://disq.us/p/22a5k8d) with a solution he found. Please create a PR @vishal423. I'll make time to test and review it.

[2019-06-06 21:33] magick93 commented on #9865
Thanks.

I was able to fix this by manually running `npm run cleanup && npm run webpack:build:main` then `./mvnw`.

[2019-06-06 21:33] #9865 closed

[2019-06-07 05:17] pascalgrimaud commented on #9858
I suggest you to try our DevBox: https://github.com/jhipster/jhipster-devbox

As I couldn't reproduce, I'm pretty sure it comes from your environnement.
Don't hesitate to comment this ticket when you find the problem.

[2019-06-07 05:17] #9858 closed

[2019-06-07 05:52] #9549 closed

[2019-06-07 12:00] PierreBesson opened #9870 "Allow extending JDL application options from a blueprint"
See https://github.com/jhipster/jhipster-core/pull/344

##### **Overview of the feature request**

Currently when using JHipster with a blueprint that extend the available application options, it is not possible to select those options when generating an app using the JDL.

JHipster should expose an API that let blueprint developers edit the available application_options, potentially extending or

[2019-06-07 12:27] PierreBesson commented on #9752
The feature would be interesting to have to push API first development. Personally I would be in favor of integrating most of the features from @ecostanzi module in the core of JHipster when the API first option is selected.

[2019-06-07 12:45] deepu105 commented on #9870
Since the JHipster-UML is deprecated I think this will be much easier if we
merge JHipster-core into generator as Mathieu suggested earlier, we can
still expose the public API from core so that people can use it directly

Thanks & Regards,
Deepu

On Fri, Jun 7, 2019 at 2:01 PM Pierre Besson <notifications@github.com>
wrote:

[2019-06-07 12:47] ksilz commented on #9870
@PierreBesson Would this request also help in the following scenario:

I want to customize the generated Angular front end through a configurable blueprint. So instead of putting a config file into my jHipster project which the blueprint then reads (can it actually?), I define configuration options (such as "hideDeletion" or "detailLinkColumn") in the JDL instead.

[2019-06-07 12:53] PierreBesson commented on #9870
@deepu105 Yes I was also considering that the merging of jhipster-core should go first. Maybe we could create a separate issue for it.

[2019-06-07 13:27] deepu105 commented on #9870
Yes, let's do it. Ping @MathieuAA

[2019-06-07 14:17] DanielFran opened #9871 "Add cache entry listener logger for ehcache"
##### **Overview of the feature request**

Implements a cache entry listener to allow to log what is happenning with cache.

##### **Motivation for or Use Case**

This might be usefull to log for investigation perpose.

##### **Possible implementation**

[code]

[code]

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-06-07 14:19] DanielFran commented on #9871
@jhipster/developers Do you consider this functionality interesting?

[2019-06-07 14:53] PierreBesson commented on #9871
I'm wondering if you could set the log level to DEBUG or TRACE for Ehcache to achieve the same result.

[2019-06-07 14:56] PierreBesson commented on #9871
@danielfran Does setting org.springframework.cache to TRACE level is not enough for you ?

[2019-06-07 14:58] DanielFran commented on #9871
Thinking this could be usefull, will test your approach...

[2019-06-07 19:04] #9735 closed

[2019-06-07 19:09] pascalgrimaud commented on #9871
for me, +1
unless setting `org.springframework.cache` to TRACE level is enough

[2019-06-08 10:35] MathieuAA commented on #9870
I like this GH issue. I'm gonna create an issue for this.

[2019-06-08 10:38] MathieuAA commented on #9870
Oh and if you guys agree, I'll create a new project to better keep track of the related tasks

[2019-06-08 10:53] danielpetisme commented on #9870
For the dotnetcore blueprint I need to ignore some Java oriented options
and in the future I would like to add new keywords.

So, you have a big +1 from my part.

Let me know if I can help somehow.

Le sam. 8 juin 2019 à 12:38, Mathieu ABOU-AICHI <notifications@github.com>
a écrit :

[2019-06-08 11:01] MathieuAA commented on #9870
@danielpetisme thanks :) I'll definitely ping you

[2019-06-08 15:56] ndywicki commented on #9858
I think it's related to my McAfee corp Firewall... (it was already a pain to make the docker sharing work)

In wifi mode if I switch to the airplan mode I can generate application :)
Note: the step blocking is between the front Framework choice  and the Bootswatch theme choice.

Until I find out, I think I'll use this trick.
Thanks !

[2019-06-08 17:03] #8880 closed

[2019-06-08 17:04] deepu105 commented on #8880
@amatosg please claim the bounty. @mraible fyi

[2019-06-08 21:31] vishal423 commented on #8880
@deepu105, do above change also fixes the auto commit behavior on manual upgrade?

[2019-06-09 06:17] pascalgrimaud commented on #8880
@deepu105 : the PR was opened by @Shaolans, not by @amatosg
It was @Shaolans who worked on this, and tried to find the fix

[2019-06-09 08:54] deepu105 commented on #8880
Oh sorry @Shaolans, plz do claim the bounty

[2019-06-09 08:55] deepu105 commented on #8880
@vishal423 no this only addresses the interactive behaviour. If there is an issue with commit it needs to be looked into

[2019-06-09 10:08] alexsintoni opened #9875 "org.elasticsearch.index.IndexNotFoundException: no such index"
##### **Overview of the issue**

I have created a micro-service system with UAA, App and Gateway. All using JHipster Registry.
Both UAA and the App have `elasticsearch`.

When I launch the UAA with `./mvnw`, althought at the end it starts, during the bootstrap it shows the following exception:

[code]
When I launch the APP with `./mvnw`, althought at the end it starts, during the bootstrap it show

[2019-06-09 13:00] kaidohallik opened #9876 "Service layer depends on web layer"
##### **Overview of the issue**

In https://github.com/jhipster/generator-jhipster/issues/4867 was discussed that calling web layer from service layer is an architecture error. And this was fixed by https://github.com/jhipster/generator-jhipster/pull/4877

But from https://github.com/jhipster/generator-jhipster/pull/7983 service layer depends again on web layer because of https://github.com/jhipst

[2019-06-09 14:26] Shaolans commented on #8880
Bounty claimed https://opencollective.com/generator-jhipster/expenses/8417
If someone who participated wants a share of the bounty I will be glad to do so.

[2019-06-09 14:30] pascalgrimaud commented on #9876
Thanks @kaidohallik
You're right, it is important !

[2019-06-09 14:34] pascalgrimaud commented on #8880
Don't share, @deepu105 you should claim one, as you worked on this too. We have money and should use it.

[2019-06-09 14:40] pascalgrimaud commented on #9875
Do you have the same with default app+elasticsearch or is it specific to UAA ?

[2019-06-09 16:20] dgeorgiev06 opened #9877 "OAuth2 without service discovery: gateway compilation errors"
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.urban.gateway"
    },
    "jhipsterVersion": "6.0.0",
    "applicationType": "gateway",
    "baseName": "gateway",
    "packageName": "com.urban.gat

[2019-06-10 06:05] alexsintoni commented on #9875
Hi @pascalgrimaud ,

I apologize if it wasn't clear.
Both the APP and the UAA return the following exception:
[code]

Only the APP return this exception:
[code]

And both at the end run and register themselves in the JHipster Registry.

[2019-06-10 11:12] deepu105 opened #9880 "Static vs content folders on client-side"
Seems like we are using a mix of `static` and `content` as folder names for static content between the client frameworks.
- Angular is using `content`
- React is using `static` which get copied into `content` when building
- for microservices there is an index.html in `static` folder

This is confusing for users hence we should streamline this and use same folder names in all client-side

Related

[2019-06-10 11:15] deepu105 commented on #9727
I'm closing this as I don't think we can do much here with current stack

[2019-06-10 11:15] #9727 closed

[2019-06-10 12:49] alfredorueda commented on #8915
Just from a user perspective (I use and love JHipster since 2014), I really prefer JDL over CLI, because of the reasons exposed earlier.

You can import applications with ease.
You can look at the JDL for an app and get an overview of the application, entities, service, and deployments.
Working with JDL is more visual than working with CLI and you can iterate faster

[2019-06-10 18:08] pascalgrimaud commented on #9877
As you choose "no service discovery", it's an option we didn't test in our CI.
If you find the fix, feel free to PR.

Here the full stacktrace for people who want to work on this:

[code]

[2019-06-10 18:49] amanganiello90 commented on #7965
@deepu105 I'm interested to start a nodeJS blueprint, so that we can extend the jhipster generation also for electron desktop app

[2019-06-10 19:54] deepu105 commented on #7965
Awesome, let me create a repo and give you access to it.

Thanks & Regards,
Deepu

On Mon, Jun 10, 2019 at 8:49 PM Angelo Manganiello <notifications@github.com>
wrote:

[2019-06-10 19:57] deepu105 commented on #7965
@amanganiello90 here is the repo, you can do PRs to begin with. I'll later give you write access to it.

[2019-06-10 19:57] amanganiello90 commented on #7965
@deepu105  thanks, I was already starting in a my repo :)

[2019-06-10 20:05] deepu105 commented on #7965
@amanganiello90 you should have write access to that repo now

[2019-06-10 20:28] pascalgrimaud opened #9887 "Yarn with Protractor: can't launch e2e tests"
##### **Overview of the issue**

With current master, we can't launch e2e tests when using `yarn` as client package manager.
See https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=22

Here the logs:
[code]

##### **Motivation for or Use Case**

It works well with NPM but not with Yarn.

##### **Reproduce the error**

- generate an app with Yarn, using `jhipster --yarn`
-

[2019-06-10 20:31] pascalgrimaud commented on #9793
Closed by https://github.com/jhipster/generator-jhipster/pull/9794

[2019-06-10 20:31] #9793 closed

[2019-06-11 05:29] #9430 closed

[2019-06-11 06:21] pascalgrimaud commented on #9605
I'm adding a bounty on this, as it's important to fix GAE sub generator

[2019-06-11 06:24] pascalgrimaud commented on #9579
I didn't follow closely this ticket
@pmverma : do you think all issues with Faker.js were fixed ?

[2019-06-11 06:29] pascalgrimaud commented on #9876
@cbornet : what do you think about the suggested fix plz ?

[2019-06-11 06:31] pascalgrimaud commented on #9853
@raiyanalam : I'd like to have this :) I'll discuss with Julien about it today

[2019-06-11 06:49] pmverma commented on #9579
I also have not followed all the related PR closely but I think `unique` key constraints still have to be fixed.
I am afraid I will have very little time to work on PRs until early next month.

[2019-06-11 08:58] PierreBesson commented on #9870
As a workaround to let users generate vuejs apps with the JDL, I opened a PR to jhipster-core with a workaround: https://github.com/jhipster/jhipster-core/pull/338 (adding vuejs to the list of client-frameworks).

[2019-06-11 09:05] qmonmert opened #9891 "[React] Use hooks for components"
##### Use hooks in all React components

Hooks are available since the version 16.8 of React. The goal will be to integrate hooks in JHipster.

##### Todo

Here are all the components that seem be impacted :

-   [x] Header #9883 **MERGED**
-   [x] Password #9899 **MERGED**
-   [x] Register #9899 **MERGED**
-   [x] Configuration #9919 **MERGED**
-   [x] Health #9921 **MERGED**
-   [x] Logs #9921 *

[2019-06-11 09:46] deepu105 commented on #9891
@qmonmert I suggest doing small PRs so that its easy to review and test, may a PR per module(admin, layout, account, entity)

[2019-06-11 09:48] qmonmert commented on #9891
@deepu105 yes I'm doing some small PRs

[2019-06-11 10:12] DanielFran commented on #9871
I did some tests and here is the result setting _org.springframework.cache_ to _TRACE_:
- 1st attempt (no cache available):
{"level":"TRACE","logger_name":"o.s.c.i.CacheInterceptor","message":"**Computed cache key 'SimpleKey [banana,1,2]' for operation Builder[public abstract java.util.List io.mytest.domain.repository.ProductRepository.findMyCachedProduct(java.lang.String,java.lang.Short,java.lang

[2019-06-11 10:14] DanielFran commented on #9871
@PierreBesson as you can see the information we get is totally different, the purpose of the helper is just to log when the data as created / removed / updated / expired in the cache.

Is it OK for you to proceed?

[2019-06-11 12:16] Hawkurane commented on #9877
To fix this, we can either just remove all compilation problems by commenting the code or add the required dependency to the pom.xml

I don't see any reasons not to include dependency to the pom.xml even if the zuul filter is not used explicitly as the feature can be either readded or removed afterwards depending on the use case.

[2019-06-11 12:25] avdev4j commented on #9880
I'm taking this one. As `static` folder `content` is currently copied to the `content` one I'll take `content` as both folder name for Angular and React.

[2019-06-11 12:33] deepu105 commented on #9880
I think there was some issue with folder names for JAR packaging. I don't recall the details(@jhipster/developers anyone remember what the issue was). Also for microservices, the index is being copied to static

[2019-06-11 13:03] Hawkurane commented on #9877
@PierreBesson I don't know which is best practice, to enable Zuul either way even without service discovery or remove it completely and let the user use the context path

[2019-06-11 13:10] PierreBesson commented on #9877
If you have a gateway without Zuul arguably it's can not really serve as a gateway anymore. Moreover if you remove service discovery it will not be able to find microservices instances. So this case is only theoretical for now. IMO it should be forbidden to generate a configuration like that (gateway + no discovery) as it doesn't make any sense.

[2019-06-11 13:37] Hawkurane commented on #9877
Supposedly if the service discovery is added later, is it better to let zuul being generated or let the user add it later as well? Either way, I can make a PR for both cases but removing zuul might crash other builds as some files are used elsewhere (OIDC for example)

[2019-06-11 14:24] dgeorgiev06 commented on #9877
I am playing with ingress/istio on gcp so i expect the setup to provide load balancing and discovery instead of zuul and ribbon

Sent from my iPhone

[2019-06-11 14:43] PierreBesson commented on #9777
Well I think the problem here is that we have different philosophies. In @yelhouti's opinion we should specify the namespace outside of the manifest. In our opinion we set the namespace in the manifest.

I think if you want to override the manifest you should either generate your apps with "default" namespace as @Hawkurane says then set it in the context or use templating or tool like kustomize to

[2019-06-11 21:18] avdev4j commented on #9880
you're right @deepu105
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/files.js#L739

But it's the spring boot static folder not the React one. So for me it's not a problem, we always have a static folder (from spring boot) which contain our React or Angular App and his content folder (the old static one for React).

 Next time I will check the JAR packaging

[2019-06-12 05:28] PierreBesson commented on #9880
I confirm this "static" comes from spring boot https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-developing-web-applications.html#boot-features-spring-mvc-static-content

[2019-06-12 06:41] a775691134 commented on #6566
when I try to pull other's code, ionic-cli or ng-cli will generate parts of fill such as `*-base`、`*-ours`、`*-theirs`. I delete them and I can use `ng g c *` successfully.

[2019-06-12 07:32] avdev4j commented on #9880
I've just made some tests with a jar file (build with prod profil) launch on my laptop. Everything work as expected.

I remove the draft status on the PR, if we have known issues with JAR file let me know.

[2019-06-12 09:15] deepu105 commented on #9880
Did you test runnng app in dev mode via maven/gradle and via IDE and from
the main class?

Thanks & Regards,
Deepu

On Wed, Jun 12, 2019 at 9:32 AM Avdev4J <notifications@github.com> wrote:

[2019-06-12 10:31] GiKyouGetsu opened #9900 "Elasticsearch Issue"
when I run  my application by java -jar "*".war ,i get the below error, but it is work when i run it by command <mvn spring-boot:run>:

Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'globalCriteriaMgmtServiceImpl' defined in URL [jar:file:/opt/application/pay-phone-to

[2019-06-12 10:42] deepu105 commented on #9900
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-06-12 10:42] #9900 closed

[2019-06-12 12:44] Hawkurane opened #9901 "UserResourceIT tests crashing when using memcached"
##### **Overview of the issue**

When generating an application using memcached, the caching is faked (it uses NoOpCache instead) when using dev profile. This is because spring devtools cannot be used with memcached.

This makes UserResourceIT tests crash.

Trace: [see link](https://dev.azure.com/phamjerome/jhipster-daily-builds/_build/results?buildId=760)

##### **Motivation for or Use Case**

Te

[2019-06-12 13:02] cmyker commented on #3323
[code]

[2019-06-12 13:15] jsm174 opened #9903 "Gateway as ResourceServer in JHipster 6.x.x / CORS preflight OPTIONS"
##### **Overview of the issue**

In JHipster 5.8.2 we were using a Gateway as a resource server by using @ruddell 's `ResourceServerConfiguration.java` found [here](https://github.com/ruddell/ignite-jhipster/blob/23c9d851ddd4424db925d6ae614b7e23057bbce8/templates/jhipster/oauth2/ResourceServerConfiguration.java.ejs).

We had a custom react website (with a different domain) that manages oauth2 toke

[2019-06-12 14:03] mraible commented on #9903
I coded things in JHipster 6 so a resource server is available automatically when using OAuth 2 for Auth. I’ve been testing it this week with an Ionic client and it seems to work just fine. I’ve only tested a monolith though, I haven’t tested it with a gateway. I’ll try to do that today.

[2019-06-12 14:36] vishal423 commented on #9903
This scenario is currently broken on Gateway due to unconditional typecast to `OAuth2AuthenticationToken`, which wouldn't hold true in authorization server scenario (token type would be `JwtAuthenticationToken`). It's fix is also included in #9874

[2019-06-12 14:40] jsm174 commented on #9903
@vishal423 - I agree about the unconditional typecast, but in my use case, it's not even a JwtAuthenticationToken.

[2019-06-12 15:46] jsm174 commented on #9903
I temporarily disabled web security in chrome, to see if I could get avoid the OPTIONS preflight call:

[code]

Sure enough, I now get the `JwtAuthenticationToken` for `SecurityContextHolder.getContext().getAuthentication();`

So I will have to wait for https://github.com/jhipster/generator-jhipster/pull/9874

As for the CORS issue, I tried to step through `CorsFilter.java`.  `corsConfiguration` i

[2019-06-12 16:13] jsm174 commented on #9903
Okay, I think I figured out the CORS part of this issue.

PR https://github.com/jhipster/generator-jhipster/pull/9262 updated the microservice path prefix to begin with `/services/`

In the Gateway's `WebConfigurer.java`, I added the following:

`
source.registerCorsConfiguration("/services/*/api/**", config);
`

to:

[code]

That at least gets me to `getAuthorizationHeader()` with a `JwtAuthentic

[2019-06-12 16:28] mraible commented on #9903
@jsm174 I just tried creating a Gateway with 6.1.0 and using an Ionic client to communicate with it. It all works fine and I didn't have any CORS issues. I'm using OAuth 2.0 for auth. Here's the output of `jhipster info` in my gateway project.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json

[2019-06-12 16:30] amatosg opened #9904 "Test missgenerated on certain relationships"
##### **Overview of the issue**

When generating entities with certain relationship, the test is wrongly generated.

##### **Motivation for or Use Case**
Test should be generated properly

##### **Reproduce the error**

The only case I have is this 2 entities
[code]
and
[code]
With relationship
[code]

The resulting test is like this:
[code]
The error is that it's generating `Address address = par

[2019-06-12 16:58] jsm174 commented on #9903
@mraible Thank you for testing. Was your ionic app hitting a microservice that is proxied via gateway?

After stepping through this, I'm positive `corsFilter` needs to be updated to account for the microservice path prefix.

[2019-06-12 17:04] mraible commented on #9903
I only generated the entities on my gateway. I did not create any microservices. Let me try that.

[2019-06-12 18:42] mraible commented on #9903
@jsm174 After testing everything with microservices, it seems there's some additional logic that's needed to get the access token (and user information) from a `JwtAuthenticationToken`. https://github.com/jhipster/generator-jhipster/pull/9905 does that. I did not need to make any CORS changes when testing this.

[2019-06-12 18:55] jsm174 commented on #9903
Thanks. Thats great!

Is your gateway's `application.yml` `zuul.prefix` set to `/services`?

[code]

When I call the microservice directly, I'm using axios and hitting

http://gateway:8080/services/testmicroservice/api/sampleservice

[2019-06-12 20:34] avdev4j commented on #9880
I've test dev profile with both gradle and maven and both via launching the main class and the wrappers `./mvnw` `./gradlew`

[2019-06-12 21:36] mraible commented on #9903
@jsm174 Yes, my `zuul.prefix` is set to `/services`. I did not change anything in `application.yml`:

[code]

While we're on the subject, having different API endpoints for a monolith vs a microservices architecture seems like a bad design to me. Isn't the whole point of an API gateway to figure out the URLs for you?

It seems odd to me that my Ionic client has to worry about if it should call `ht

[2019-06-13 00:06] jsm174 commented on #9903
@mraible I really appreciate you taking the time to look into this.

I am at a loss why CORS is not an issue for you and it is for me.

All I can say is my gateway and webapp (that accesses the microservices) have different domains. ie `http://localhost:8080` vs `http://web.mydomain.com:3000` and PR https://github.com/jhipster/generator-jhipster/pull/9906 fixes it.

TBH, I don't know much about io

[2019-06-13 01:04] mraible commented on #9903
Ionic 4 uses Angular and I’m running it in Chrome so it’s not that different from JHipster’s UI. It runs on localhost:8100 and JHipster runs on 8080. Different ports works the same as different domains AFAIK. Are you using JWT for Auth? I’m using OIDC.

[2019-06-13 01:29] jsm174 commented on #9903
Agreed!

Our react website connects to a Keycloak server. It uses keycloak-js. So I'm assuming it was always using oauth2 access tokens.

[2019-06-13 04:26] #9903 closed

[2019-06-13 04:28] mraible commented on #9903
@jsm174 I closed this issue because it's resolved for me. If you're using keycloak-js, that's not something we currently support in JHipster. I'm not saying I'm against supporting it, but we love to be IdP agnostic. We test against Keycloak and Okta currently, but we should strive to work with all OIDC providers.

[2019-06-13 04:34] vishal423 commented on #9831
fyi, this should be fixed by #9905 and #9872

[2019-06-13 06:49] raiyanalam commented on #9853
@pascalgrimaud : Did you get an opportunity to discuss this with Julien?

[2019-06-13 07:43] l7777777b opened #9908 "jhipster upgrade command failed for project with Indonesian language generated prior version v6.1.0"
##### **Overview of the issue**

`jhipster upgrade` command failed for project with indonesian language generated before version v6.1.0

related to this:
[https://github.com/jhipster/generator-jhipster/issues/9494](https://github.com/jhipster/generator-jhipster/issues/9494)
[https://github.com/jhipster/generator-jhipster/pull/9722/commits/c67d8aeeffdabc130e13a726fd5e14f6fbf5e0e5](https://github.co

[2019-06-13 11:15] jvence commented on #8077
I understand this is closed but I have a project where I need to use Date (as it is dependent on other projects). How can I solve this issue by using @ReadingConverter and @WritingConverter? and how come  MongoCustomConversions customConversions() is not going in effect?

[2019-06-13 11:43] Bogad opened #9909 "Dealing with load balancer with keycloak stateful implementation"
Hi @mraible
I have generated a microservice project and i chose oauth2 with  Keycloak for security implemntation.

But, as you implement a stateful integration with spring security and Keycloak , how can I deal with load balancing (n instances) as i have to deploy my microservice in Kubernetes?
Can i change Keycoak integration to be stateless  in order to solve this problem.

Thanks

[2019-06-13 12:24] jsm174 commented on #9903
@mraible Isn't keycloak-js from Keycloak?

https://www.npmjs.com/package/keycloak-js

[2019-06-13 13:17] mraible commented on #9903
Yes, but we don’t currently use it in JHipster. Everything OAuth related is handled by Spring Security. There is no client side code, except in the mobile app modules (for React Native and Ionic), which both use AppAuth.

[2019-06-13 14:10] mraible commented on #9909
Hello @Bogad. We had a [long discussion](https://github.com/jhipster/generator-jhipster/issues/9120) about this earlier this year. To summarize: we'd like to keep the current implementation as its more secure to do authorization code flow on the server side. If you have scaling issues, we recommend replacing the session implementation in your server with something like Redis.

If you'd like to imp

[2019-06-13 14:10] #9909 closed

[2019-06-13 14:26] Bogad commented on #9909
Thanks @mraible  for the reply
Otherwise, in stateful case i have problems with swagger giving me always 401 because no authorize button is available to obtain a token as i can do with the stateless configuration

[2019-06-13 14:31] mraible commented on #9909
That sounds like a big we should fix. Can you please enter it as separate issue with steps to reproduce?

[2019-06-13 16:44] jsm174 commented on #9903
@mraible understood. I will look into using AppAuth.

I did put an example project to recreate this issue at:

https://github.com/jsm174/jh610-cors-issue-demo

You'll see the keycloak use is pretty simplistic:

https://github.com/jsm174/jh610-cors-issue-demo/blob/master/frontend/src/App.js

[2019-06-14 03:12] co5dt commented on #1113
I have to revive this thread as I am running into a problem with the otherwise very interesting approach. As jhi tables are created async, MultiTenantSpringLiquibase runs into the problem that e.g. jhi_user does not exist, yet jhi_user is used to derive the schema name from it. Is there any best practice to overcome this limitation, except running liquibase synchronously?

[2019-06-14 08:26] mikhail-putilov opened #9911 "Generate importMappings with zalando problem class when using API first development"
##### **Overview of the feature request**

When users try to use Zalando Problem library in theirs `api.yml`:
[code]
And run `mvn generate-sources`, maven plugin `openapi-generator-maven-plugin` generates unneseccary java class `Problem` eventhough `org.zalando.Problem` is already presented in classpath in `org.zalando.problem:problem` jar.

##### **Motivation for or Use Case**

Normally, it is ex

[2019-06-14 09:55] gyunus opened #9912 "Cannot generate entities with jhipster import-jdl command"
##### **Overview of the issue**

Using JHipster 6.0.1 generator, i cannot generate entities with my JDL file.

##### **Motivation for or Use Case**

I am working on a new project based on the microservices architecture in my company and we have chosen jhipster as project generator. We could have generated the project successfully but we are facing a big problem while generating entities related to

[2019-06-14 10:35] kaidohallik commented on #9912
In `.yo-rc.json` microservice name is `certifbackend` but in `app.jdl.jh` it is `backend`.
Use
[code]
in JDL file.

[2019-06-14 10:42] jvence commented on #8077
@lemaireo Can you share your workaround using @ReadingConverter and @WritingConverter? Thanks

[2019-06-14 11:21] #9912 closed

[2019-06-14 14:54] eapriansyah commented on #9908
This error cause, Indonesian language change from id to in.
See in yo.rc. it's still id.

"languages": [
      "id",
      "zh-cn",
      "zh-tw",
      "en"
    ]

[2019-06-14 15:05] l7777777b commented on #9908
Yes, that's why i think its not a proper upgrade if we need to manually edit that file before doing the upgrade. The jhipster upgrade command should've done everything automatically.

[2019-06-14 15:31] lemaireo commented on #8077
@jvence The problem seems to be fixed in the most recent releases of Jhipster.
At that time, when we faced the problem, we fixed it that way by modifying DatabaseConfiguration.java:
[code]
and adding the 2 following methods in this class:
[code]

[2019-06-14 17:21] mraible commented on #6614
FWIW, I spoke with @mgechev from the Angular team last night. He's interested in helping make Angular CLI work with JHipster. He's willing to do a call, but I told him it'd probably be more appropriate for us to compose a list of issues we have and see if Angular CLI has extension points to solve them.

[2019-06-14 18:29] mai1015 opened #9914 "ConstraintViolationException When loggin the first time in Java 11"
##### **Overview of the issue**

Generated app cause org.hibernate.exception.ConstraintViolationException when first login via keycloak.

##### **Motivation for or Use Case**

n/a

##### **Reproduce the error**

Generated the project with and launch keycloack with docker. Trying to login any account cause
[code]
For the first time.
<details>
<summary>full log</summary>

<pre>
2019-06-14 18:08:23.9

[2019-06-14 19:33] pascalgrimaud commented on #9908
There are/were a lot of problem with the upgrade sub generator.
- It was coded by someone who didn't contribute to the project any more
- It is not tested in our CI as it is too specific and really hard to test
- each release, we have some bug with it
- I already suggested to delete this sub generator but some users want to keep it
- It probably works well for little project, or POC. But for big p

[2019-06-14 19:56] mraible commented on #9908
I love the idea behind it and I’ve used it with success myself. As a sponsor, I’d like to see more bug bounties geared towards it.

[2019-06-14 20:03] pascalgrimaud commented on #9908
Yes agree with you Matt about the value of this.
That's why I think it should go to a separate project, as the upgrade sub gen is simply a list of git commands. It can be replaced by a SH or Bash, and should not depend on a specific version of JHipster release.

Like this, we can't do anything until the next release. And if we manage to find a fix, after a new release, we can't know if it will wor

[2019-06-15 10:52] jsm174 opened #9917 "Liquibase UUID type parsing as type="${uuidType}"> in Azure MariaDB instance"
##### **Overview of the issue**

We've been porting a 5.8.2 app to 6.1.0 and decided to use the awesome new `UUID` type (https://github.com/jhipster/generator-jhipster/pull/9794)

Running locally in docker everything was working great:

[code]

We finally started deploying to our Azure environment and thats when we had problems:

[code]

After turning on liquibase logging:

[code]

we noticed the

[2019-06-15 11:44] deepu105 commented on #9917
Thanks for reporting this but you still need to provide us with all details we ask in issue template without those we may not be able to reproduce this and hence the issue will be closed. So please update the issue with your .yo-rc.json and entity JDL. Run jhipster info and paste output here

[2019-06-15 11:55] jsm174 commented on #9917
Sorry @deepu105, issue updated accordingly.

[2019-06-15 12:23] deepu105 commented on #9917
Thank you

On Sat, 15 Jun 2019, 1:55 pm Jason Millard, <notifications@github.com>
wrote:

[2019-06-15 12:26] deepu105 commented on #9891
Once we implement the new bounty system, this issue should get 300$ bounty atleast

[2019-06-15 14:11] murdos commented on #9917
@jsm174 : thanks for detailed report, and the analysis of the issue! I'm also glad you enjoy the new UUID support.
Do you want to fix the issue yourself with a PR?
Changing this line should be enough: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs#L30 - I've used `prodDatabaseType` because it sounded smarter

[2019-06-15 14:27] murdos commented on #9908
I personally use (including on big projects) and like the upgrade subgen. I think its place is here, in generator-jhipster where it provides a lot of value, and is well integrated with jhipster, including blueprints.

However this subgenerator is not magic. It can't deal with all breaking change. And c67d8aeeffdabc130e13a726fd5e14f6fbf5e0e5 is such a breaking change. I'm afraid there's nothing we

[2019-06-15 14:30] deepu105 commented on #9908
May it would be much neater if its moved to the CLI instead of generator
like the import jdl part. Since in CLI we don't have any yeoman limitations
and the code can be much simpler. Also once in CLI we can use advanced node
features if needed

On Sat, 15 Jun 2019, 4:27 pm Aurélien Mino, <notifications@github.com>
wrote:

[2019-06-15 14:38] jsm174 commented on #9917
Sure. I can fix it!

On Sat, Jun 15, 2019 at 10:11 AM Aurélien Mino <notifications@github.com>
wrote:

[2019-06-15 16:18] amatosg opened #9920 "Frontend Enums should be global"
##### **Overview of the feature request**
If I have this:
[code]

Then the enum `CommonFieldValues` will be created twice, once in the class in their respective model.

As it is an enum used in different classes with the exact same values, this should be handled the same way is being done in the backend.

##### **Motivation for or Use Case**
There are times when I need to compare the same enum fro

[2019-06-16 07:49] jvence commented on #8077
@lemaireo Thank you for the code. We ended up implementing a similar solution. We did generate the app with the latest version of jhipster 6.1.0. Are you certain it's been fixed?

[2019-06-16 08:17] atomfrede commented on #9911
Good point, having open api generate zalando problem class is really annoying.

[2019-06-16 08:29] atomfrede commented on #9911
Going to work on that and on updating open api plugins to the latest version.

[2019-06-17 09:30] tortuvshin opened #9926 "lazy-loading module: loadChildren dynamic import not working Angular 8"
##### **Overview of the issue**

[code]
**tsconfig.json**

[code]

**app-routing.module.ts**
[code]

[2019-06-17 12:27] jsm174 commented on #9917
@murdos - Create PR https://github.com/jhipster/generator-jhipster/pull/9927

Thanks!

[2019-06-17 14:35] vishal423 commented on #9926
yes, that was known issue during migration. Please check https://github.com/jhipster/generator-jhipster/pull/9825#issuecomment-497842385 for more details.

[2019-06-17 14:49] deepu105 commented on #9891
@jdubois I have changed the bounty amount as this is a lot of work and deserves more. Hope you are fine with it

[2019-06-17 15:08] jdubois commented on #9891
Of course I am!!

[2019-06-17 15:17] anthony-o commented on #9493
@pascalgrimaud I'm still having this issue, could you tell me exactly what are the use cases broken by my Docker image please so I can try to correct my PR?

[2019-06-18 05:33] pascalgrimaud commented on #9917
Fixed by https://github.com/jhipster/generator-jhipster/pull/9927

[2019-06-18 05:33] #9917 closed

[2019-06-18 07:40] #9901 closed

[2019-06-18 07:41] jdubois commented on #7608
As this is a very big one, I'm increasing the bug bounty to $500 !

[2019-06-18 07:54] jdubois commented on #9836
Yes this is breaking the API, but also this is correcting a bug... and having both until the next major release will not help much: I know we'll forget about it, and then this will confuse people to have the 2 APIs available... So in the end I would just refactor this and document it in the next release notes.

[2019-06-18 07:58] jdubois commented on #9804
Yes I agree with you that approach 2 seems better, anyway the less needles the better as they clutter the end user's code.

I'm adding a bug bounty here.

[2019-06-18 08:48] jdubois commented on #9876
Very good catch @kaidohallik !! That's indeed a very important issue (I've adding a bug bounty here for this reason).

Now we are in trouble here :

- As this exception inherits from "Zalando problem", this is linked to Web APIs (it even has a URI in it), so for me it should stay in the Web layer.
- But this logic should be in the service layer.
- Also, this method shouldn't be split: it's good to

[2019-06-18 08:57] vleboulanger opened #9932 "No admin metrics and log shown"
##### **Overview of the issue**

I upgrade my project from jhipster 5.8.2 to 6.1.0. Since this upgrade, I can not see metrics and logs  in admin interface

##### **Motivation for or Use Case**

When I want open logs screen, I have this error in chrome console :

`{error: SyntaxError: Unexpected token < in JSON at position 0 at JSON.parse (<anonymous>) at XMLHtt…, text: "<!doctype html> <html class

[2019-06-18 09:08] cbornet commented on #7608
It would probably be better to open individual issues for this. But I didn't want to cripple the issue tracker. Maybe I could open a dedicated repo where we can add smaller issues with smaller bounties ?

[2019-06-18 10:34] ecostanzi commented on #9752
I think that having the api.yml served separately is really useful, but this can be done only after the upgrade of swagger UI 2 to swagger UI 3 or rapidoc (the discussion is open at https://github.com/jhipster/generator-jhipster/issues/7966).

For now I coded swagger UI 3 in the module due to a lack of time. It was easier for me to deal with iframes than integrating react and angular components in

[2019-06-18 12:14] wmarques commented on #9926
@vishal423 you tried to force the `acorn` version ?
I didn't work on this but I can try to check this out this week...

[2019-06-18 13:07] vishal423 commented on #9926
@wmarques, I haven't tried newly reported workarounds. At moment, I am bit occupied with protractor issues in the `vuejs` repository. If you have bandwidth, then, please try out.

[2019-06-18 13:11] anthony-o opened #9933 "Using the JDL, "cacheProvider no" doesn't work with the default Hibernate configuration"
##### **Overview of the issue**

We are currently unable to use the option `cacheProvider` with value `no`.

When using such an option, here is the result in the console when launching `./mvnw`:

    ***************************
    APPLICATION FAILED TO START
    ***************************

    Description:

    Parameter 1 of constructor in com.mycompany.myproject.config.LiquibaseConfiguration r

[2019-06-18 13:57] jdubois commented on #7608
@cbornet you can put them on the main repo as long as we have the correct labels (maybe have a specific one for reactive), and the original plan was to have smaller $100 tickets. So if you do that we could split/move the bug bounty, but at the moment we only got this one.

[2019-06-18 13:57] jdubois commented on #9769
Adding a bug bounty here

[2019-06-18 13:58] jdubois commented on #9690
For me this could be a good first issue.
I'm adding a bug bounty to motivate people.

[2019-06-18 13:59] jdubois commented on #7966
I'm doubling the bug bounty here, as this is important and has been stuck for a long time

[2019-06-18 14:03] jdubois commented on #9661
@murdos agreed if you want to have your own "fake data": in that case you must not overwrite the file, so that's one more thing to do when you regenerate, and indeed that's annoying.

Unfortunately I don't have any other solution than removing the fake data totally, and in this case it's already easy to do at runtime -> I'm closing this as I understand we don't all agree, but this has been opened

[2019-06-18 14:18] jdubois commented on #9926
Adding a bounty here as this is an important bug

[2019-06-18 14:26] wmarques commented on #9926
@vishal423 ok perfect, I'll check it then

[2019-06-18 14:31] jdubois commented on #9904
The provided JDL wasn't working, I corrected it:
[code]

[2019-06-18 14:38] jdubois commented on #9904
Sorry, with this JDL, on the latest version, it works without any issue, so I'm closing.

[2019-06-18 14:38] #9904 closed

[2019-06-18 15:15] jdubois opened #9934 "Migrate away from Jackson Afterburner"
We've been using [Jackson Afterburner](https://github.com/FasterXML/jackson-modules-base/tree/master/afterburner) for quite a long time: it has a small performance cost at startup, but can make JHipster applications about 10% more performant overall than vanilla Spring Boot applications (One of the many tricks we use!!).

Unfortunately it gives an ugly warning message at startup since Java 9, see

[2019-06-18 15:25] Hawkurane opened #9935 "Angular CLI error: Workspace needs to be loaded before it is used"
##### **Overview of the issue**

After generating an application and using the Angular client, the CLI for angular does not work.

[code]

##### **Motivation for or Use Case**

Using Angular CLI for developping the application

##### **Reproduce the error**

Following .yo-rc.json:
[code]

[code]

##### **Related issues**

Error comes from this issue:
https://github.com/jhipster/generator-jhipster/