[2016-05-25 18:12] conte7 commented on #3646
Sorry, i guess its not a issue just i need help :D

[2016-05-25 18:16] conte7 commented on #3646
i am using jhipster with java and database sql server..... but i dont have a web.xml with the servlet to do the login.... i need de web.xml??? .... what configuration do you send that i send you???

[2016-05-25 18:17] JavierFuentes commented on #1283
Hi everyone,
Congratulations for this great tool.

I've seen than Angular 2 is right now in Release Candidate state...
https://github.com/angular/angular/blob/master/CHANGELOG.md

I hope you can end JHipster's integration soon... Have you got any release date in mind?

[2016-05-25 18:45] conte7 commented on #3646
When the war its deploy on tomcat and i want to loggin i have this error.. but only with tomcat, if not use tomcat i dont have error

GET http://localhost:8080/api/account?cacheBuster=1464198177090 404 (Not found)

[2016-05-25 19:01] mikehalma commented on #3641
That "Regioncool" was just a typo in the post, the file itself was unchanged.  Not helpful I know.

If you can't repeat the problem and no-one else is reporting then it must be something wrong with my setup.

Thanks for looking.

[2016-05-25 19:27] rizwanbpatel opened #3647 "Jhipster AWS Deployment error Create S3 Bucket and missing configuration credentials"
##### **Overview of the issue**

Followed AWS deployment steps mentioned @ http://jhipster.github.io/aws/

.yo-rc.json file:
{
  "generator-jhipster": {
    "jhipsterVersion": "3.1.0",
    "baseName": "zkc",
    "packageName": "y",
    "packageFolder": "y",
    "serverPort": "8080",
    "authenticationType": "session",
    "hibernateCache": "hazelcast",
    "clusteredHttpSession": "hazelcast",

[2016-05-25 19:48] jdubois commented on #3646
OK then please follow our guidelines -> this isn't a bug, it's a question you need to use StackOverflow

[2016-05-25 19:48] #3646 closed

[2016-05-25 20:18] jdubois commented on #3617
The main-bower-images solution looks like the easiest solution for me. And I'm not good at enough with the gulp build to find a better way...

[2016-05-25 20:33] gmarziou commented on #3617
I also found that angularjs-slider CSS does not work when minified by nanocss, I tried using `safe: true` option as this is going to be the default mode for next version but it did not help. As I was in a rush, I disabled nanocss and kept *.css files in `bower_components` folder as they usually reference images through relative path and it worked. Overall, I kept bower_components structure for ima

[2016-05-25 22:35] #3607 closed

[2016-05-26 00:36] deepu105 commented on #3641
OK, Sorry that I couldn't reproduce. If you indeed find any issues dont
hesistate to open a ticket or let us know here

Thanks & Regards,
Deepu

On Thu, May 26, 2016 at 3:01 AM, Mike <notifications@github.com> wrote:

[2016-05-26 00:40] deepu105 commented on #3617
Let me see what I can do

Thanks & Regards,
Deepu

On Thu, May 26, 2016 at 4:33 AM, Gaël Marziou <notifications@github.com>
wrote:

[2016-05-26 04:56] ruddell commented on #3647
I was able to successfully upload the app to AWS through the generator following the documentation you linked.  I was also able to get your error message (Missing credentials in config) to show up by deleting the credentials in my .aws/credentials file.  In the JHipster AWS documentation, it mentions setting up C:\Users\USERNAME\.aws\credentials on Windows.

I'd recommend checking to make sure the

[2016-05-26 05:26] erikkemperman commented on #3617
Just curious, do you think the problem was with the contents of the minified css or its location (since you're putting images in bower_components)?

[2016-05-26 07:44] gmarziou commented on #3617
The angularjs-slider CSS does not use any image, so I would say it's related to the minification process only.

[2016-05-26 08:11] erikkemperman commented on #3617
Sorry, I misunderstood your remark about relatively referenced images I guess.

[2016-05-26 09:42] MBenali opened #3649 "Communication between two microservices"
**How to make Comunication between two microservices (microservices are generated with JWT security)**

Hi,
_**In the first, I note that hhis is not a bug, but I did not know where to make my request**_

 Used JHipster (v3.1.0) to generate 2 microservices (2 gateway and 2 microservices, with JWT security):

1st composant) Reference component "ref_gw" gateway app and "ref_ms" :  microservice

2nd c

[2016-05-26 09:56] #3647 closed

[2016-05-26 09:57] deepu105 commented on #3647
closed as @ruddell couldn't reproduce this and as he said you might be missing the credentials.

Thank you @ruddell

[2016-05-26 10:02] deepu105 commented on #3649
@xetys wrote an article which had a section dealing with this check this http://stytex.de/blog/2016/03/25/jhipster3-microservice-tutorial/

[2016-05-26 10:02] deepu105 commented on #3649
ping @sdoxsee @PierreBesson

[2016-05-26 10:39] MBenali commented on #3649
Thanks @deepu105
I hope that that is going to work.
I'll test and I inform you

[2016-05-26 11:49] cbornet commented on #3649
Note that there is a [module](http://jhipster.github.io/modules/marketplace/#/details/generator-jhipster-swagger-cli) that can help you generate your clients. It's not based on RestTemplate but on Netflix's Feign so it should be easy to plug Ribbon/Eureka.

[2016-05-26 11:51] MBenali commented on #3649
Thanks @cbornet

[2016-05-26 12:07] gmarziou commented on #3617
No, you understood it clearly, it's just that there were 2 issues. CSS referencing relative images was with leaflet-search.

[2016-05-26 12:38] jdubois commented on #3649
Great article @xetys ! Ping me on Twitter next time, so I know and can RT you!

[2016-05-26 12:42] PierreBesson commented on #3649
Hi @MBenali, maybe you can take a look of what I did here: https://github.com/PierreBesson/jhipster-circuit-breaker-demo using Feign as a Rest client for microservices.
Also have a look at this article about Feign and Spring Cloud: https://dzone.com/articles/the-netflix-stack-using-spring-boot-part-3-feign

[2016-05-26 13:23] MBenali commented on #3649
Thanks to all

MBenali

[2016-05-26 16:05] cbornet commented on #3649
I didn't code yet the swagger template for microservice using @FeignClient but I think the current swagger-cli module should work well with spring cloud's autoconfiguration of Ribbon.
For a ribbon client named "foo", something like
[code]

[2016-05-26 18:00] parmarsanjay opened #3651 "JWT Token Expiration Check is undefined."
##### **Overview of the issue**

JWT Token Expiration Check is undefined.

console.log("Testing" + AuthServerProvider.hasValidToken());

##### **Motivation for or Use Case**

JWT Authentication hasValidToken doesn't work.

##### **JHipster Version(s)**

Latest 3.3.0.

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entit

[2016-05-26 21:02] davidyarbrough opened #3652 "Can't login with "admin" or "user" credentials after adding "ddl-auto: create-drop" to application-dev.yml"
##### **Overview of the issue**

I added "ddl-auto: create-drop" to $APP_DIR/src/main/resources/config/application-dev.yml as shown:

[code]

and it seems to have broken the existing users in the application. I reverted the change but I still can't login, so I guess whatever jhipster does to add the default users is only done at create time.

##### **Motivation for or Use Case**

I want to be able

[2016-05-26 21:12] gmarziou commented on #3652
What did you want to achieve by setting "ddl-auto: create-drop"?

The users are inserted by Liquibase when the database is created, see `src/main/resources/config/liquibase/users.csv` and `src/main/resources/config/liquibase/changelog/_initial_schema.xml`.

Just drop your database and re-start the app.

[2016-05-26 21:12] #3652 closed

[2016-05-26 21:33] davidyarbrough commented on #3652
I want to "reset" the database with each run, clearing out old entries that may or may not conflict with the latest iteration of the application. particularly because I want the dev environment to assume a blank slate before it starts inserting data into the db at init. is there a spring idiom to do this besides "ddl-auto: create-drop" or "ddl-auto: create"?

[2016-05-26 22:56] gmarziou commented on #3652
This is not a JHipster issue, please use stackoverflow or gitter for such questions.

[2016-05-26 23:19] davidyarbrough commented on #3652
The reason I opened an issue here, as opposed to troubleshooting on SA, is that ddl-auto is a basic function of hibernate JPA and having it break user authentication in a brand-new JHipster project is unexpected. Seem odd to me to let Hibernate handle almost the entire db schema but rely on the liquibase history to regenerate user accounts.

[2016-05-27 00:23] deepu105 commented on #3652
This is normal even if you do it by hand. I really don't see why you have
to do this. If you want a clean state on each restart why don't you just
use a h2 in memory db as that's an option during generation. We add user
data to table during app startup and if you do a create-drop your deleting
those data as well. I don't see it as an issue.
On 27 May 2016 07:19, "David Yarbrough" <notifications@gi

[2016-05-27 06:27] jdubois commented on #3652
Normally, at start-up, JHipster should run Liquibase (unless you prevent it, of course), so your data should be created again - so using DDL with Liquibase seem like a very bad idea to me, as they are both going to compete on creating the schema again.
Of course, DDL has no idea that you want to have user data inserted, as this should be done by JHipster, so it won't create user data, and hence yo

[2016-05-27 07:39] xetys commented on #3649
i am currently stuck in upcomming-deadline-phases.....I have the following in mind...

* PR to docs of how to use OAuth2 and the new JHipster UAA
* PR to JHipster for a proper entityservice generator

i was trying Netflix Feign yesterday but i was really stuck on configuring the oauth2 behaviour.
There is an OAuth2RestTemplate, which is not that declarative as Feign is, but it actually has OAuth2

[2016-05-27 07:53] cbornet commented on #3649
@xetys You can see [here](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/feign/src/main/java/io/swagger/client/auth/OAuth.java) how it is done in swagger-codegen.

[2016-05-27 07:58] xetys commented on #3649
thanks @cbornet, I will try that out

[2016-05-27 08:28] fraf opened #3653 "Regexp generator build wrong pattern : Ex. : @Pattern(regexp = "[L,R_PKCS11,R_PKCS12]")"
When generating identity with jhipster generator, we can specify a pattern for a column.
For instance, I have the generated code :

[code]

and

[code]

In the first code, column "usageCertificat" this regexp is wrong and should be : @Pattern(regexp = "S|C")

In the second code, column modeAcces is double wrong : firstly, like the first code, secondly the expression "R_PKCS1" is considered matchin

[2016-05-27 08:58] xetys opened #3654 "Services are not unregistering properly in docker container"
Whenever you run a JHipster microservice application without docker container it is unregistering itself immediatly when is stopped, so it disappears in eureka server and is no longer offered for load balancer in zuul....

this is not happening when using docker. You can easily reproduce it by start a jhipster microservice setup with ```docker-compose up -d``` and then stop and start it several ti

[2016-05-27 09:01] jdubois commented on #3653
Can you follow the guidelines and send us your JHipster configuration?
This pattern is entered by you, so normally if it's wrong that should be your fault, but that might depend on your configuration.

[2016-05-27 09:06] jdubois commented on #3654
It depends on how the instance is killed, but probably if you do a `docker-compose down` then JHipster doesn't have the time to send a notification, so indeed the registry doesn't know it was removed.
I don't think there is anything we can do about it.
It works differently if you kill the app "nicely", as there is a shutdown hook that is triggered, and JHipster can send the notification before dyi

[2016-05-27 09:36] PierreBesson commented on #3649
@xetys, I think Feign integration with OAuth2 is already merged here: https://github.com/spring-cloud/spring-cloud-security/commit/2718a044d30912eafb03f7a21e409afac8f1387f

I was thinking that we should a similar Feign Request Interceptor for JWT.

[2016-05-27 11:25] fraf commented on #3653
Indeed, I entered the pattern when prompted.
But I managed to ran test (after setting right test data corresponding to regexp) of the generated code past few months ago.
But now, I had this error above and then I changed (updated) regexp.
Which configuration do you mean ?

The json file inside .jhipster of the generated entity is :

[code]

[2016-05-27 11:41] madasuk opened #3656 "Support for Angular js 1.5 + component based routing in Jhipster generated Angularjs code"
Do you have any plans to update with Component Based Routing in Jhipster  generated Angularjs code, which is released in Angularjs 1.5 + instead ui state router which is current being generated in jhipster angularjs code?

[2016-05-27 11:46] deepu105 commented on #3656
We haven't discussed this yet, but if the feature is stable enough we could
give it a try

Thanks & Regards,
Deepu

On Fri, May 27, 2016 at 7:41 PM, madasuk <notifications@github.com> wrote:

[2016-05-27 12:09] gmarziou commented on #3656
I don't see the benefit to spend some time on our angular 1 code to rewrite something that already works and that would be a breaking change for existing projects.

[2016-05-27 12:52] wmarques commented on #3656
Agree with @gmarziou , it's a nice feature but that would be a breaking change and wouldn't make a big difference on performance. The only value I see in such feature would be an easier transition to angular2 as it seems to use also a component-based router.

[2016-05-27 13:14] #3653 closed

[2016-05-28 02:25] deepu105 opened #3658 "IDE shows error in pom for the maven-resources-plugin"
##### **Overview of the issue**

IntelliJ shows an error in pom file in the `maven-resources-plugin` section. Apparently resources tag seems to be incorrect with the set goal of `resources`. If I change the goal to `copy-resources` the error disappears.
![image](https://cloud.githubusercontent.com/assets/1107223/15624403/c098fafe-24b9-11e6-96e6-6c1f5b0dd660.png)

##### **Motivation for or Use Case

[2016-05-28 02:26] deepu105 commented on #3658
cc @erikkemperman

[2016-05-28 06:54] alireza-hanifi commented on #3594
it was my idea to doing these steps manually, But I never told to anyone . :D :-)
Thanks.

[2016-05-28 07:45] erikkemperman commented on #3658
That's odd, the [docs](http://maven.apache.org/plugins/maven-resources-plugin/plugin-info.html) say it's a valid goal for this plugin. STS doesn't complain about it.

More to the point, I think these goals (resources vs copy-resources) do different things, and changing it might break things.

Unfortunately I have no time to look into this more this weekend...

Are the `#placeholders#` replaced as

[2016-05-28 09:48] deepu105 commented on #3658
It seems so. I checked docs, while its a valid goal it uses the resources
defined at the build level. only the copy-resources goal looks for it
inside the plugin execution.

Thanks & Regards,
Deepu

On Sat, May 28, 2016 at 3:45 PM, Erik Kemperman <notifications@github.com>
wrote:

[2016-05-28 10:10] madasuk commented on #3656
@gmarziou / @wmarques, Till now without any other thought, I just use Jhipster for my new projects but now whenever I am about to start new project the first request I am receiving from clients and order from managers is to make the application, compatible with Angurlar 2 for easy migration. So, that newly released component router is becoming a blocker for me to use this cute and awesome Jhipster

[2016-05-28 11:31] rainee007 opened #3659 "Could not display micro-service on UI Gateway"
##### **Overview of the issue**

Could not display micro-service on UI Gateway.
<img width="1205" alt="screen shot 2016-05-28 at 7 25 49 pm" src="https://cloud.githubusercontent.com/assets/15570056/15627048/1c05beb8-250a-11e6-9605-b821c1420afb.png">
##### **Motivation for or Use Case**

I have ever seen this worked, and also I think it should work without any other setting.

##### **JHipster Versi

[2016-05-28 11:34] rainee007 commented on #3659
by the way, UI can CRUD HelloImage entity.

[2016-05-28 12:23] erikkemperman commented on #3658
I'm not sure what that means -- since it was correctly replacing the yml and xml files -- but of course the important thing is it works. I've just replaced the plugin in my project and STS is (remains) fine with it.

[2016-05-28 14:47] ruddell commented on #3659
@rainee007 I followed the steps to reproduce the error (using your .yo-rc.json files) and the the Ticket API docs appeared correctly for me: [Screenshot](https://cloud.githubusercontent.com/assets/4294623/15627855/bd101440-24ae-11e6-8568-b2ea6afbf36e.png).  Can you view the API docs for your gateway?

It's a weird error because accessing the Swagger API page normally requires the admin role...

[2016-05-28 16:41] gmarziou commented on #3659
If UI works, it cannot be a problem with token passing. I would rather think it's a problem in the swagger-ui page, you should have look at the browser console to see what headers are passed on request to get the swagger JSON spec.

[2016-05-28 16:43] gmarziou commented on #3656
Not only... community's pull requests are always welcome.

[2016-05-28 17:10] pascalgrimaud commented on #3659
I already encountered the same problem, when developping and using spring boot devtools to restart microservices/gateway. But I don't know the exact scenario how to reproduce it

[2016-05-28 20:02] xetys commented on #3649
@PierreBesson, i am thinking of finding an hour, maybe together with @cbornet, to wire things in a right way. i believe this would be quite fast, because it would take me some more time to figure out the best practice (I started using spring just some months ago :laughing:)

[2016-05-29 15:25] xetys commented on #3649
ok, couldn't hold myself and figured out....thanks to @PierreBesson hinting me there is already a spring side interceptor....so all you need is actually define a OAuth2ProtectedResourceDetails an declare the interceptor bean like this:

[code]

and that's it!

I PR all what is needed the next days...

[2016-05-30 04:32] rainee007 commented on #3659
I could saw local api:
![screen shot 2016-05-30 at 12 29 44 pm](https://cloud.githubusercontent.com/assets/15570056/15639778/80b8984a-2662-11e6-8aad-bdb90eb0e82c.png)

[2016-05-30 06:16] rainee007 commented on #3659
But could not see micro-service api from same portal same session:

![screen shot 2016-05-30 at 12 27 33 pm](https://cloud.githubusercontent.com/assets/15570056/15641082/ea1dd864-2670-11e6-8279-edc367535dbc.png)

[2016-05-30 07:55] jdubois commented on #3659
What is strange is that you have that timeout on "localhost:8080" which is the server+port of your gateway. That should not be possible, it should request the microservice instead.
Did you any kind of specific configuration here?
Otherwise we might close it, as I can't reproduce it, as other people in this thread.

[2016-05-30 08:07] jdubois opened #3663 "Support Node 6.x"
It is clearly written in our docs to use an "LTS" version (so Node 4.x). It's also written on the NodeJS website that it's "recommended for most users". But I see in my stats lots of people trying to use JHipster with Node 5.x and 6.x.
Anyway, we need to upgrade at some point in time. Let's go straight to Node 6.x (5.x has never been stable and will never be).

So I'm starting this ticket to track

[2016-05-30 08:13] atomfrede commented on #3663
The last time I tried it on Arch with latest node 6.x at least for a monolithic application everything was working fine. Will check today an report any findings here.

[2016-05-30 08:21] jdubois commented on #3663
Oh good news @atomfrede , I thought it didn't work? Would be the easiest ticket ever :-)

[2016-05-30 08:26] rainee007 commented on #3659
nothing specific, just changed MySQL DB password.
And I am very curios that , I could CRUD the entity in Micro-service, but not see the api.

[2016-05-30 08:31] atomfrede commented on #3663
I just updated some plugin: https://github.com/jhipster/generator-jhipster/pull/3564

But it was 2 weeks ago, so I''l check it today again with more configurations

[2016-05-30 08:31] rainee007 commented on #3659
Also, I really experienced TIMEOUT when I created the entity, but after I closed the creation UI, the entity had been created even the TIMEOUT was warned.

[2016-05-30 09:24] jdubois opened #3664 "Angular 2 roadmap"
# This is a global ticket listing tasks for Angular 2 support, originally coming from [this thread in the dev mailing list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/fYpih7I9bb4/A-uppwIFAQAJ)

**Edit:**
@jhipster/developers if you have started working on any of the item below, please edit this comment and add your name after the item. Once feature is com

[2016-05-30 10:04] wmarques commented on #3664
I would follow [this example](https://angular.io/docs/ts/latest/guide/upgrade.html#!#phonecat-preparation-tutorial) on the angular website:
1. Use SystemJS (or Webpack) as a module loader (Bower dependencies => NPM)
2. Move to typescript (first maybe we could only rename .js into .ts)
3. Install angular2
4. Use the UpgradeAdapater to bootstrap our app in Hybrid Mode
5. Update main generator code,

[2016-05-30 11:14] sendilkumarn commented on #3664
@jdubois I would also contribute towards angular2. 👍

[2016-05-30 11:53] deepu105 commented on #3663
On windows there was some issue with node sass and nodejs 6 but I don't
think there is much we can do there, it has to be fixed by node sass/ node
guys. Other than that things are fine
On 30 May 2016 16:32, "Frederik Hahne" <notifications@github.com> wrote:

[2016-05-30 12:27] alireza-hanifi opened #3665 "upgrade force option does not work on jhipster modules"
##### **Overview of the issue**
when we upgrade application, the process hangs at module overwrite questions.
my modules: basic-auth, entity-audit

##### **Motivation for or Use Case**
yo jhipster:upgrade --force

##### **JHipster Version(s)**
3.4.0

##### **Browsers and Operating System**

ubuntu

[2016-05-30 13:05] rainee007 commented on #3659
I deployed the project @ http://54.223.67.152:8080/, on public network. with UAA, jhipster registry, and only one micro-service 'hello' with entity 'message', I can create it, can't see its api.

[2016-05-30 15:19] rainee007 commented on #3659
It seemed the problem recovered itself now. (It did not work this afternoon)

[2016-05-30 15:39] PierreBesson commented on #3659
I can see that it works now. I advice you don't leave your project on a publicly accessible server for too long.
However, I'm a bit confused, because your .yo-rc.json stated that you used JWT auth but your last messages says that you use the UAA so Oauth2. Did you experience the problem only with jwt ?

[2016-05-30 16:10] deepu105 commented on #3665
Does it work on an app without any modules?  Ideally this shouldn't affect
modules or vice versa. Do you see any error trace?
On 30 May 2016 20:27, "Alireza" <notifications@github.com> wrote:

[2016-05-30 16:10] deepu105 commented on #3665
Also please provide your app s yo-rc file etc
On 31 May 2016 00:09, d4udts@gmail.com wrote:

[2016-05-30 17:30] MBenali commented on #3649
Hi @xetys
I tried to follow your article "http://stytex.de/blog/2016/03/25/jhipster3-microservice-tutorial/ " (I have to have forgotten some things ...), here is the exception which I obtained (I want to find an information for the microservice reception_ms by REST calling the microservice reference_ms)
The modifications in my code:

**in microservice : reception_ms** i add the classes :
- Abstrac

[2016-05-30 18:21] xetys commented on #3649
@MBenali  is "referentiel_ms" the name appearing in eureka?

[2016-05-30 18:28] MBenali commented on #3649
yes referentiel_ms,

i add the @EnableCircuitBreaker to the second Gateway (ReceptionGwApp) , and now i obtain this exception:

2016-05-30 20:19:33.353 DEBUG 12056 --- [nio-9081-exec-1] s.n.www.protocol.http.HttpURLConnection  : sun.net.www.MessageHeader@1e41ce56 pairs: {null: HTTP/1.1 404 Not Found}{Server: Apache-Coyote/1.1}{X-Application-Context: referentiel_ms:dev:8081}{Content-Type: applicati

[2016-05-30 18:31] MBenali commented on #3649
I note, i haven't follow this other approach "..to make a RestTemplate been wrapped into a bean with this interface:
interface JHipsterAuthenticatedRest {
  public RestTemplate getTemplate();
  public boolean isAuthenticated();
  public void authenticate(String user, String password);
  public HttpHeaders getHeaders();
}

[2016-05-30 18:38] atomfrede commented on #3663
A little status report:

Environment:

* Arch Linux with Kernel 4.5.4
* node 6.2.0
* npm 3.9.3

* default: :heavy_check_mark:
* default + sass: :heavy_check_mark:
* default + no translations: :heavy_check_mark:

So at least on linux everything looks fine so far I would say. Should I test some more configuration, especially microservices?

[2016-05-30 18:51] cbornet commented on #3663
Can't we let CI test that by a PR that we wouldn't merge ?

[2016-05-30 18:53] jdubois commented on #3663
Yes we could add some CI tests.
I thought this was totally failing - I'll test also on my Mac to be sure, but it looks OK! Thanks for all the testing @atomfrede

[2016-05-30 20:01] jsingy opened #3666 "Bug - Elastic search not working with blank query"
##### **Overview of the issue**

When using elastic search, on the entity list page, pressing the search button with a blank search field creates the following error `vm.loadAll is not a function`.

##### **JHipster Version(s)**

3.4.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Suggest a Fix**

In the generators/entity/templates/src/main/w

[2016-05-30 20:08] fmatuszewski opened #3667 "Modules - Microservice with frontend"
Jhipster Modules.
Hello I would like to share my Idea with you. Maybe somebody will be interested in helping me with development.
Module - is a microservice with frontend logic and it can be imported by gateway application special way.
As we know angular is constructed around modules. that can be imported into one another.
If we have have frontend logic generated in microservice we can later impor

[2016-05-31 00:37] deepu105 commented on #3666
Do you want to do a PR?
On 31 May 2016 04:01, "jsingy" <notifications@github.com> wrote:

[2016-05-31 00:42] deepu105 commented on #3667
Our initial beta for microservices were like this but then we changed to
our current architecture. I agree that there would definitely be use case
and demand for this approach as well but we might not have time to maintain
both architecture. Lets see what others think.
On 31 May 2016 04:08, "Filip" <notifications@github.com> wrote:

[2016-05-31 02:05] jsingy commented on #3666
I will be happy to do so. I tried following the instructions at https://help.github.com/articles/creating-a-pull-request/.

I tried to push a branch to the jhipster repository, but I am not authorized to do so.

Is there another way to create a pull request?

[2016-05-31 03:07] rainee007 commented on #3659
Yes, I met the problem for both, I guess the network environment changed on my laptop, caused the problem. In office, I need to switch the subnets during work. I am not sure if this cause the issue.

[2016-05-31 03:56] fmatuszewski commented on #3667
Thanks to jhipster modularization it may be possible to maintain changes in a single code base by providing conditional generation.
Implementation can be divided into smaller steps and each of this step can have business value.
1. First utilization of angular modules can be implemented. User management logic and other domain objects logic (frontend) can be split into separate modules and imported

[2016-05-31 05:36] jdubois commented on #3659
I'm closing this as we can't reproduce and this seems like an environment issue.

[2016-05-31 05:36] #3659 closed

[2016-05-31 06:03] alireza-hanifi commented on #3665
{
  "generator-jhipster": {
    "jhipsterVersion": "3.1.0",
    "baseName": "gunsnheroes",
    "packageName": "com.arvand.gunsnheroes",
    "packageFolder": "com/arvand/gunsnheroes",
    "serverPort": "8080",
    "authenticationType": "session",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "no",
    "websocket": "no",
    "databaseType": "sql",
    "devDatabaseType": "postgresql",

[2016-05-31 06:14] alireza-hanifi commented on #3665
yes it upgrades when i removed modules from project.
no, it hasn't error. just it pauses on overwrite questions. and i can't enter Y or n.

[2016-05-31 06:20] cbornet commented on #3665
Does it ask question if you do yo jhipster-basic-auth --force ?

[2016-05-31 07:01] lgscofield opened #3669 "Error: [$injector:strictdi] function(JhiTrackerService) is not using explicit annotation and cannot be invoked in strict mode"
##### **Overview of the issue**

`angular.js:13550 Error: [$injector:strictdi] function(JhiTrackerService) is not using explicit annotation and cannot be invoked in strict mode
http://errors.angularjs.org/1.5.5/$injector/strictdi?p0=function(JhiTrackerService)
    at angular.js:68
    at Function.annotate [as $$annotate] (angular.js:3903)
    at injectionArgs (angular.js:4626)
    at Object.invoke

[2016-05-31 07:52] xetys commented on #3649
@MBenali this is the time where 404 means something good...it least you are connected to your service and the url is not correct. Maybe we proceed this talk in a chat like gitter? I am afraid of spamming this issue forum a bit :smile:

[2016-05-31 08:36] MBenali commented on #3649
Ok, @xetys
How to exchange about this subject on gitter ?

[2016-05-31 08:48] alireza-hanifi commented on #3665
no, it doesn't ask. the problem is on jhipster upgrade with basic-auth.

[2016-05-31 10:02] wmarques commented on #3669
@lgscofield You have to manually inject dependencies by using `JhiTrackerService.$inject = .. ` as we do in controllers files for example. Would you provide à Pull Request to fix this ?

[2016-05-31 11:33] gmarziou commented on #3664
I think we should also consider generating a project that is compatible with [angular-cli](https://github.com/angular/angular-cli) as this is the new official way to scaffold a project and run some other commands like generating new routes, linting, running tests, ...

In some way, angular-cli overlaps with yeoman.

[2016-05-31 14:23] jdubois commented on #3663
I have `gulp test` not working on a fresh app generated using node 6.20 on my Mac.
Otherwise everything looks OK.
I'm going to have a look at running this in the CI.

[2016-05-31 14:43] jdubois commented on #3667
Yes, that was the original idea, but in the end nobody had a use case for it, so we didn't do it.
As we are in the process of migrating to AngularJS 2, I don't think we could do this now -> we should do a code freeze on the AngularJS code

[2016-05-31 14:51] PierreBesson commented on #3667
Hi @fmatuszewski,

I think I understand what you are suggesting. It goes further than just "microservices with frontend". You are proposing of define a new "module" application type that would provide a UI component that could be loaded on the fly in the gateway.

An Idea similar to this one was discussed previously on the mailing list, (email by @mraible: [jhipster-dev/8VfS2ma_lX0/NySAdWJhEgAJ](h

[2016-05-31 15:48] jdubois commented on #3666
Thanks!!

[2016-05-31 15:49] #3666 closed

[2016-05-31 15:59] jdubois commented on #3663
OK I'm giving up making it work in Travis....
So basically with Node 6.2:

- there are a few warnings
- `gulp test` is failing

I'm keeping this opened so we correct those, but it doesn't seem that bad after all!

[2016-05-31 16:02] jdubois commented on #1995
@deepu105 have you moved forward on making this a module? Can we close this ticket?

[2016-05-31 16:04] jdubois commented on #2848
As the PR is merged I'm closing this

[2016-05-31 16:04] #2848 closed

[2016-05-31 16:19] jdubois commented on #3175
I removed the @Transactional annotations, my tests didn't show any difference, so indeed I don't think they were doing anything.
Now, is everyone OK for "option 4"?

[2016-05-31 16:35] jdubois commented on #3658
I'm updating to the latest (3.0.0) version of the plugin, it solves the issue in the IDE. Hopefully it doesn't break the functionnality!!!

[2016-05-31 17:51] pascalgrimaud commented on #3663
I put the log error from Travis:
[code]

[2016-05-31 17:59] erikkemperman commented on #3658
Did we not want to change the goal?

[2016-05-31 18:02] deepu105 commented on #1995
I tried to make a module but it was very hacky and I wasnt satisfied with
the results. So unless there is an interest in having this in the main
generator I dont think ill proceed this. So if we ever want this by default
Ill do it else lets close it. Anyways so far only few people asked for this
so i would assume majority of users are implementing their own solutions
for this.

But I still think t

[2016-05-31 18:02] deepu105 commented on #2848
I guess its not done for oauth yet
On 1 Jun 2016 00:10, "Julien Dubois" <notifications@github.com> wrote:

[2016-05-31 18:02] deepu105 commented on #3669
I guess I already fixed it in master.
On 31 May 2016 18:02, "William Marques" <notifications@github.com> wrote:

[2016-05-31 22:22] Mabrosche commented on #1995
No, no, guys, seriously, it`s the hardest topic, really most of new comers like me, struggling with good implementation of such Features (Security(JWT,OAuth)/User Management//Social auth). You seriously have to think about adding such a module or leaving in main generator, I definitely believe that it will increase the attractiveness to the project.

[2016-05-31 22:28] ricardocosta89 commented on #1995
I've been waiting for this for quite some time. Security/Authentication/Authorization are always important aspects to get right and, having little experience, the chances of doing something wrong increase. So, either directly on the main generator or via module, I'd very much appreciate this feature.

[2016-06-01 08:05] wmarques commented on #3669
Oh ok so @lgscofield check the file on the master and do the same or remove the `strict-di` attribute in index.html file to remove the strict-di mode

[2016-06-01 08:38] jdubois commented on #3658
@erikkemperman I only corrected the "warnings", and it looks like it's working, but I didn't look at the other plugin

[2016-06-01 08:46] sendilkumarn commented on #3664
[This document](https://docs.google.com/document/d/1xvBZoFuNq9hsgRhPPZOJC-Z48AHEbIBPlOCBTSD8m0Y) does give us a lot of insights on upgrade from 1.x to 2

@gmarziou 💯 agree

[2016-06-01 08:56] jdubois commented on #1995
Thanks @deepu105 - I see in the comment many people who wants this after all... Guys, if everybody wants this but nobody participates, that's hard for us...
My current opinion is that we are currently just a generator, and as such we just configure Spring Security for you. And it looks like it's not enough for many people.
Maybe it's time to re-open the discussion on making a "JHipster library", t

[2016-06-01 09:29] jdubois commented on #2848
Social login with OAuth2, I didn't know about this.

[2016-06-01 09:39] jdubois commented on #3504
@ddewaele any update on your PR?
Otherwise shouldn't this be a standard Spring Boot configuration, and not a JHipster one? Maybe you could open this up on Spring Boot, and do the PR there?

[2016-06-01 09:43] jdubois commented on #3656
For me this will be done as part of our AngularJS 2 roadmap, see #3664

This is quite a lot of work for us, so indeed if your clients and managers want this, they could also pay you to help us have this done. Contributors are always welcome.

I'm closing this as this should go in #3664 -> we could add a new item there if you think that's necessary.

[2016-06-01 09:43] #3656 closed

[2016-06-01 09:51] erikkemperman commented on #3658
@jdubois It was working fine for me before too, but this issue caused us to look closer at the plugin docs and it looks as though the other goal (same plugin, just `resources:copy-resources` instead of `resources:resources`) might be a better fit.

[2016-06-01 09:57] jdubois commented on #3658
I looked at the doc and to be honest I don't understand the difference between the two goals... With this one it looks like it's working fine, I don't know if `copy-resources` would do anything better. What makes you think it's doing things better?

[2016-06-01 10:14] jdubois commented on #3658
I'm re-opening this as it's red again in Intellij!!!! WTF? So maybe we should migrate to `copy-resources` indeed

[2016-06-01 11:10] erikkemperman commented on #3658
I think @deepu105's theory was that this line in the docs for `resources` goal ...

... means that we could not override this property in the configuration/execution, as we were (are) doing. Even though it does seem to be working when invoking maven, apparently IntelliJ considers it an error to have a `resources` element.

The `copy-resources` goal looks like it does more or less the right thing t

[2016-06-01 11:31] tg44 opened #3674 "Options in the generator for Auditing"
* **Overview of the request**

Some steps would be nice in the entity creation dialog where we can add some pregenerated functionality like the User AuditingEntity.

* **Motivation for or Use Case**

Auditing some other entities too :)
Like if you want to make reports, you can easily audit them, who created, who touched it when these happend etc. It would be nice if the generator can ask me a ques

[2016-06-01 11:48] pascalgrimaud commented on #3674
I think the [generator-jhipster-entity-audit module](https://github.com/hipster-labs/generator-jhipster-entity-audit) is what you're looking for

[2016-06-01 11:48] #3674 closed

[2016-06-01 12:50] jdubois commented on #3603
I didn't code this, so this is my understanding of the current code:

- Without pagination: we display the "owned" entity on the list page, so you need to do an "eager" fetch to get it. This is true whether you use DTOs or not. This is a nice feature, and it's quite logical that if you are working on the owner entity, you might want access to the owned entity -> then that's just the default genera

[2016-06-01 12:50] #3603 closed

[2016-06-01 13:29] pramika opened #3675 "import JDL subgenerator updates all entity changelogdate in json files while regenerating entity"
##### **Overview of the issue**

import JDL subgenerator updates all entity changelogdate in **.json** files while regenerating entity(instead of only the modified entity). Because of which conflict occurs and overwrite question is asked for all the .json and <entity>.java files.

Whereas we expect the files to be overwritten only for the modified or newly added tables or entities.

This also impa

[2016-06-01 13:31] jdubois commented on #3405
To answer shortly: no, it's not safe, you are vulnerable to CSRF attacks, as the attacker can use the localstorage to get access to the token.

- If you use a session, you will remove this kind of attack: this is what we do with our session-based authentication, so it would be trivial to re-use it. However, the goal here is to be stateless, as it's much easier to scale.
Spring Session could be a s

[2016-06-01 14:21] argoal opened #3676 "JDL subgenerator create @Inject instead @Autowired annotation"
##### **Overview of the issue**
When running: yo jhipster:import-jdl jhipster-jdl.jh on a new generated app from  yo jhipster the app is not working.  The file jhipster-jdl.jh  is exported from http://jhipster.github.io/jdl-studio/

##### **Motivation for or Use Case**

This is a bug because the app is not working and with a little fix everything is ok, I know this is an example but making it work

[2016-06-01 14:34] jdubois commented on #3676
- The JDL isn't doing anything here, it's just generating JHipster config files -> if there is an issue here, it's related to JHipster, not the JDL
- @Autowired and @Inject basically do the same thing - there are some differences, of course, but I don't think that should cause a bug here

Of course, to answer you about @Autowired vs @Inject I need to have your stacktrace - can you give more inform

[2016-06-01 14:39] argoal commented on #3676
Here you go this is the error:

2016-06-01 16:37:13.796[0;39m [33m WARN[0;39m [35m10109[0;39m [2m---[0;39m [2m[ost-startStop-1][0;39m [36mo.a.c.loader.WebappClassLoaderBase      [0;39m [2m:[0;39m The web application [ROOT] appears to have started a thread named [Abandoned connection cleanup thread] but has failed to stop it. This is very likely to create a memory leak. Stack trace of

[2016-06-01 15:33] jdubois commented on #3676
From your stacktrace, Spring doesn't find the "employeeService" bean, are you sure it exists?
And it looks like you're using MapStruct, so for this you need to have the annotation post processor working, did you try running the app from Maven, using `./mvnw`?

[2016-06-01 16:01] jdubois commented on #3675
Very interesting. The problem is, of course, that you could have modified those tables, so it's hard to know what the correct behavior should be.

For me the current workflow is:

- Generate the first version of the app with the JDL studio
- Use the liquibase "diff" goal to update the schema

You could also add new tables by doing a new JDL file - in that case don't add the existing tables, or may

[2016-06-01 16:01] #3675 closed

[2016-06-01 16:08] jdubois commented on #3405
@cbornet I'm closing this as I think we have the answer!

[2016-06-01 16:08] #3405 closed

[2016-06-01 16:34] cbornet commented on #3405
But then, shouldn't we remove the remember-me with JWT ?

[2016-06-01 16:38] cbornet commented on #3405
https://github.com/jhipster/generator-jhipster/blob/b2064486470ccb0250a0cb49672cf4575ae1631d/generators/client/templates/src/main/webapp/app/services/auth/_auth.jwt.service.js#L93

Note that storing the token in sessionStorage limits the risk of XSS to the lifetime of the session but it doesn't eliminate it !

[2016-06-02 03:21] krishna383 opened #3677 "Gateway is unable to connect to Microservice on Cloudfoundry"
##### **Overview of the issue**

The gateway is unable to connect to the microservice. I am receiving 500 as the response from the microservice. Based on the logs, I dont see any requests to the microservice at all.

I have followed the instructions to deploy my microservices application. I can successfully see that my microservice is registered with the registry.

I am also able to see that under

[2016-06-02 06:06] jdubois commented on #3677
That's normal because there's a small config to do here -> did you deploy using the cloudfoudry sub-generator? That's supposed to do that config.

[2016-06-02 06:37] lgscofield commented on #3669
@wmarques All right, I'll try it.

[2016-06-02 06:55] lgscofield commented on #3669
@wmarques Wow, this is a good solution.

[2016-06-02 06:55] pramika commented on #3675
@jdubois
Thanks for your reply. I had raised this issue in  https://github.com/jhipster/jhipster-domain-language.
Because code maintenance is getting complex with the existing behaviour. Though we can use a new jh file for regeneration the JDL subgenerator expects all the dependent entity configurations in the current jh file also. As a result almost all the files are regenerated again. This worse

[2016-06-02 07:44] argoal commented on #3676
Running the app through: ./mvnw gives no error and is ok, and now when I put back @Inject everything is working.

However I managed to reproduce the error and the steps are:
* mkdir jdltest
* cd jdltest
* yo jhipster
* import in STS as a maven project
* yo jhipster:import-jdl /home/ardi/jhipster-jdl.jh (overrite the files when asked by generator)
* Refresh project
* Run as Spring Boot App

And the

[2016-06-02 07:56] hdevichi opened #3679 "New i18n application: build failing on e2e tests"
##### **Overview of the issue**

I am working on a i18n application configured with 2 languages: french & english. French is the default language. My computer is on french locale.

When I build the generated application (out of the box without changes), e2e tests are failing due to i18n issue as tests are expecting english while pages are displayed in french

exemple of error (when generating an e

[2016-06-02 09:59] wmarques commented on #3669
Closing this as it is already fixed in master.

[2016-06-02 09:59] #3669 closed

[2016-06-02 12:12] jdubois commented on #3676
OK, if it works with `./mvnw` then your issue is definitely because you have DTOs. Have a look at http://jhipster.github.io/using-dtos/ -> your issue is that your IDE isn't correctly configured to handle Mapstruct.
That's the annoying thing with Mapstruct, and that's why I still keep it has "beta". It works, but you need to do some black magic on some IDEs to have it work correctly.

[2016-06-02 12:12] #3676 closed

[2016-06-02 13:00] jdubois commented on #3405
Maybe there could be another option: use the usual AngularJS XSS Cookie protection with a server-side session, like we do with session-based authent.

Pros:
- Solves the security issue
- Same as we do today for session-based authent, so very easy to implement

Cons:
- Users will need to do sticky sessions -> we are not totally stateless anymore, and not everyone has a sticky session mechanism (as

[2016-06-02 15:19] jdubois commented on #3667
OK, so I think we all agree that would be a good option.

However we are currently going to start the AngularJS 2 migration:

- We can't do everything at once, and for the next few weeks/months we should focus on AngularJS2
- This should be coded directly for AngularJS 2 anyway

So we just can't do this right now, it's not the right time. We should schedule this after the AngularJS 2 migration is

[2016-06-02 15:22] jprf07 commented on #3641
I've been using the `import-jdl`for some time and now I'm having the same issue on my local machine and also on a vagrant box I just created.

On this latest test I'm using the default model that comes when you open the JDL Studio.
- Created vagrant box
- Open vagrant box
- Open terminal
- Run `yo jhipster`
- Save default JDL Studio to `.jhipster/model.jh`
- Run `yo -v jhipster:import-jdl .jhipste

[2016-06-02 15:26] jdubois commented on #3679
Indeed, I have never tried this with a non-English locale, and that seems like a very logical issue.

Maybe we could force the EN locale with Protractor. Of course it wouldn't work with an app that hasn't got an EN option -> that should be easy, but that's not a perfect solution.

Could we remove Angular Translate when doing Protractor tests? That would make all use case work, but then we wouldn't

[2016-06-02 15:54] tvd27285 opened #3680 "Add Bootswatch themes to Jhipster"
I'm using Jhipster to build my application.

Now, I want add Bootswatch themes to. I get this error:

XMLHttpRequest cannot load https://bootswatch.com/api/3.json?cacheBuster=1464851732487. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://192.168.4.13:8080' is therefore not allowed access.
The response had HTTP status code 403.

Do this error can CORS co

[2016-06-02 16:29] jdubois commented on #3680
This is the ticket system, you should ask for help on StackOverflow.
And this is what you are looking for: http://jhipster.github.io/modules/marketplace/#/details/generator-jhipster-bootswatch

[2016-06-02 16:29] #3680 closed

[2016-06-02 20:58] krishna383 commented on #3677
Yes I did. Are you referring to prefer-ip-address ? If so I see that to be false in the config/application-cloudfoundry.xml for the jhipster-registry. As it was not working I also made it false in my prod config for it.

Here is my registry config for reference:
[Registry Configuration.pdf](https://github.com/jhipster/generator-jhipster/files/296505/Registry.Configuration.pdf)

[2016-06-03 08:37] jdubois commented on #3677
I'm not sure I understand: you used the sub-generator, and it did set the prefer-ip-address property, but it wasn't working?

[2016-06-03 12:19] mleneveut commented on #3378
or with a delete cascade when generating the SQL schema (for relational DB at least)

[2016-06-03 12:54] cbornet commented on #3649
@xetys @PierreBesson I added an option in swagger-codegen to generate a stub interface like what is described [here](http://projects.spring.io/spring-cloud/spring-cloud.html#spring-cloud-feign-inheritance). Would you help me test it before I PR ?
You can use the generated [petstore sample](https://github.com/cbornet/swagger-codegen/tree/spring_interface/samples/client/petstore/spring-stubs) or gen

[2016-06-03 13:28] jdubois commented on #3663
This is caused by https://github.com/actano/karma-jenkins-reporter which is deprecated now, anyway.
I'll try to replace it with https://github.com/karma-runner/karma-junit-reporter

[2016-06-03 13:32] #3663 closed

[2016-06-03 13:33] krishna383 commented on #3677
Yes I used the sub-generator.
Yes it did set the prefer-ip-address to false in the registry project.

But yes it was still not working. If it works, does it show the actual URL instead of IP in the gateway?

[2016-06-03 13:47] jdubois commented on #3677
I'm sorry, but I don't understand what you mean by "does it show the actual URL instead of IP".

Reading your issue again, I realize that the gateway does see the microservice, and that both of them are correctly configured in the registry.

I also realize that the gateway does connect to the microservice, your issue is in fact that the microservice sends back a 500 error -> in that case the "pref

[2016-06-03 14:15] jdubois commented on #3314
Same issue if an entity is created on the gateway, its "location" header does not have the microservice prefix.

This is normal, has nothing has been coded here: we need to add a new Zuul filter, or maybe modify an existing one, to add this prefix to the "Location" headers.

[2016-06-03 14:55] jdubois commented on #3314
For the "Location" header, when creating an entity, there is an even easier solution: use a relative URL.
Since RFC 7231 this is allowed, and of course it would work anywhere.

For this "Path", which is in fact in the body of the message, it looks like it's intended to be absolute. If it was supposed to be a relative URL, it would always be "", as the error is on the URL we just called. So I'm won

[2016-06-03 15:07] jdubois commented on #3615
We should (hopefully) have a Kubernetes page soon, so we'll have to add it there. Then, I've already seen it working with Kubernetes, so I guess this configuration is already correct there.

I'm closing this as this has been opened for quite some time - @marcelinobadin if you find time to add a documentation page, that's most welcome, otherwise I'll test this again when we have Kubernetes support.

[2016-06-03 15:07] #3615 closed

[2016-06-03 15:09] krishna383 commented on #3677
Here is the response:

And I dont see any requests in the log of the microservice. Here are last lines from the log. Should I increase the log level?

2016-06-03T13:23:53.000+00:00 [APP] OUT 2016-06-03 13:23:53.874 INFO 19 --- [trap-executor-0] c.n.d.s.r.aws.ConfigClusterResolver : Resolving eureka endpoints via configuration
2016-06-03T13:33:53.000+00:00 [APP] OUT 2016-06-03 13:33:53.875 INFO 19

[2016-06-03 15:17] jdubois commented on #3677
Sorry, but if you have a timeout on the gateway, then the 500 error comes from the gateway, not from the microservice... Do you have any log on your microservice?

Can you check that you have everywhere:

    eureka:
        instance:
            prefer-ip-address: false
            hostname: ${vcap.application.uris[0]}

As from my understanding, the gateway just doesn't have the application hostn

[2016-06-03 15:37] PierreBesson commented on #3649
@cbornet, It's a very interesting solution.

I did some testing with your branch but only on the petstore. I will try to use it on my Feign Circuit Breaker demo to see if it works in this case.
I noticed that some tests didn't pass when building `swagger-codegen.jar` but maybe it's not your fault...

Do you know if Hystrix fallbacks will be available even if not using Ribbon/Eureka ?

[2016-06-03 15:41] krishna383 commented on #3677
I am not seeing any log on the microservice. I think it is not reaching microservice and failing to reach microservice from the gateway.

I double checked the registry, microservice and gateway. All the 3 apps have the application-cloudfoundry.yml which has the above configuration (prefer-ip-address: false). I am assuming application-cloudfoundry.yml would override the application-prod.yml.

In ap

[2016-06-03 15:58] cbornet commented on #3649
Yes it's my fault :smile: . I have fixed the tests now.

From what I understand Ribbon is always used with FeignClient with or without Eureka.
Hystrix doesn't seem to have any relationship with Ribbon so I think you can use it without Eureka.

[2016-06-03 17:14] cbornet commented on #3649
Just had it working on a monolith app. This is just awesome ! I'll upgrade my module asap as it's much more integrated and flexible than what I had done !

[2016-06-03 19:59] cbornet commented on #3649
There is an issue with petstore endpoints that have multiple "produces" (https://github.com/spring-cloud/spring-cloud-netflix/issues/808). I'll see how this can be dealt.

[2016-06-04 00:07] krishna383 commented on #3677
It started working after updating all the application-prod.yml. Looks like it was not using the the application-cloudfoundry.yml

[2016-06-04 00:36] ivandack commented on #3641
I have the same issue. Tried with a new project using the default model.

node: v4.4.3 and v6.2.0 (tried both).
npm: v3.9.5.
yo: v1.8.4.
generator-jhipster: v3.4.0

### Output
[code]

### .yo-rc.json
[code]

### model.jh
[code]

[2016-06-04 02:15] deepu105 commented on #3641
This is really weird. I dont have such problem. Seems like you might have
an issue with the jhuml parser version you have did you change any default
settings?
On 4 Jun 2016 08:36, "Ivan Dackiewicz" <notifications@github.com> wrote:

[2016-06-04 02:42] ivandack commented on #3641
No changes at all. I just updated yeoman, installed generator-jhipster, created a project and ran the jhipster:import-jdl generator.

[2016-06-04 07:24] deepu105 commented on #3664
I have created the client-2 sub generator in a new branch https://github.com/jhipster/generator-jhipster/tree/angular-2

we can do development in this branch until the client-2 is ready to be provided as beta option, so that we can still do pach releases of our master if required.

[2016-06-04 07:50] deepu105 commented on #3664
I have added the typescript dependencies and angular 2 dependencies in the package.json. we need to move all the bower dependencies to package.json (some might not be angular2 compatible yet and some might not be available for npm, we need to find workarounds for those)

we also need to setup gulp to process typescript here is a good tutorial http://blog.scottlogic.com/2015/12/24/creating-an-angul

[2016-06-04 07:55] sendilkumarn commented on #3664
Can we use broccoli ?

[2016-06-04 08:01] deepu105 commented on #3664
@sendilkumarn gulp is still the most popular and stable build and I dont see why we would want to move away from that also lot of people have put in a lot of effort to make our gulp build as stable as today so I dont think we need to jeopardize that.

[2016-06-04 08:03] deepu105 commented on #3664
@sendilkumarn btw if you are interested you can do the gulp typescript integration step, follow the link I shared above

[2016-06-04 08:31] Vaelyr commented on #3651
If I am not mistaken, then the service method call to `hasValidToken `is never even used to check the validity.

[2016-06-04 08:34] Vaelyr commented on #3635
Any progress on that? It seems nice on paper, but in reality it actually requires some setup to properly have it working. At least well documented guide would be helpful for many.

[2016-06-04 08:41] jdubois commented on #3651
Yes I think this comes from the session-based authentication, to check the validity of the token. Here it's a whole different token, so it doesn't work.

[2016-06-04 09:37] fmatuszewski opened #3681 "Entity subgenerator"
* **Overview of the request**

Bug.

* **Motivation for or Use Case**

When execute entity sub generator on gateway project on imported entity and adding new relationships.
Then after re generation microserviceName and searchEngine options are removed from .jhipster file
When after that entity is re generated then it generate backend logic because microserviceName was omitted form description file

[2016-06-04 10:32] sendilkumarn commented on #3664
I will give a shot to it.

[2016-06-04 11:13] optimalab opened #3682 "SecurityUtils.getCurrentUser() throws an Exception when using ActiveDirectoryLdapAuthenticationProvider"
##### **Overview of the issue**

If the application generated is configured to use a different or additional Spring Security Authentication provider, the call to SecurityUtils.getCurrentUser() incorrectly rises a "User not found!" Exception, since the cast to User fails.

##### **Motivation for or Use Case**

I believe that the cast to the concrete class User is not needed, it's enough to check if

[2016-06-04 12:34] deepu105 commented on #3681
I guess its working as designed. You are suppose to import an entity to gateway from a  microservice only means if you want to change the entity you should change it on the microservice and then import it back again. If you change it on the gateway it doesn't update the microservice and it will be treated as a normal gateway entity. So a fix for this would be to not offer the edit options if an en

[2016-06-04 12:40] deepu105 commented on #3681
OK on second thought I guess it would make sense to have an option to edit the entity here.

[2016-06-04 12:45] #3681 closed

[2016-06-04 12:46] fmatuszewski commented on #3681
What I want to do is to maintain relationship between entities in two different microservices.
What I did. I created eintity with fields for foreign keys like foreignEntityId and I now override this in frontend so I can get a combo box generated. and it works.
It is no problem for me because I can modify this field by hand but on the other hand I think it should bo possible to modify it in the for

[2016-06-04 12:50] deepu105 commented on #3665
could you try to pinpoint the exact issue combination as you have both entity audit module and basic auth. can you try on a fresh app with either one of the module and see which module is causing the issue so that we can investigate

[2016-06-04 12:55] deepu105 commented on #3679
One solution could be to set the content from the base language as the default text to check on the test case during generation by reading the base language i18n json. similar to what I did for removing translation and replace with the content of json file for placeholders.

[2016-06-04 12:56] deepu105 commented on #3681
I understand your use case and thats why I have fixed it :smile:

[2016-06-04 13:06] deepu105 commented on #3658
I guess we can safely use `copy-resources` I tested and this seems to work without any issues.

[2016-06-04 13:08] #3658 closed

[2016-06-04 20:31] tibistibi opened #3683 "except not working in jdl"
##### **Overview of the issue**
i have created a file with the jdl studio with the line:
service all with serviceImpl except Task

and get the error:

    SyntaxError: Expected "/*", "//", "dto", "entity", "enum", "paginate", "relationship", "service", a space or end of input but "e" found.
    at peg$buildException (***/node_modules/generator-jhipster/node_modules/jhipster-uml/lib/dsl/jhGrammar.j

[2016-06-04 20:52] tibistibi commented on #3683
as a work around i split the jh file (mine was long)

[2016-06-04 21:56] jd-carroll opened #3684 "Java Based Cassandra Migration Utility"
I've created a simple Java based Cassandra migration utility using code from jsevellec/cassandra-unit and smartcat-labs/cassandra-migration-tool-java.  The utility uses the same cql files that are already available, however instead of executing them in a separate Docker container, it executes them as part of the cluster creation.

Happy to PR this, if it would be something people are interested in

[2016-06-05 09:18] tibistibi opened #3685 "[DOCS] Add more documentation for jdl on service options"
In the jdl documentation on:
http://jhipster.github.io/jdl/
under ''Option declaration'':

    The keywords dto, paginate, service and with were added to the grammar to support these changes.

I would like an extension explaining what the options are for services.
what i did now was make 3 entities one without a service one with class and one with impl to figure it out.

an option for the document

[2016-06-05 09:43] deepu105 commented on #3684
I thought this was done already!

[2016-06-05 14:24] jd-carroll commented on #3684
@deepu105 I'm going to repost (I know.. ) what I have in [stackoverflow](http://stackoverflow.com/questions/37515368/java-based-cassandra-migration-utility):

There has been some previous discussion of using liquibase/liquibase-cassnadra similar to the way liquibase is utilized for the other databases (#2074). To be clear, I am not advocating for using the third party liquibase-cassandra as there

[2016-06-05 15:26] deepu105 commented on #3684
Oh ok so you want to migrate from the shell scripts to java.

Lets see what others think
On 5 Jun 2016 22:24, "Joseph Carroll" <notifications@github.com> wrote:

[2016-06-06 08:23] jdubois commented on #3677
OK, so we know wha

[2016-06-06 08:25] jdubois commented on #3677
OK, so we know what the right config is -> main issue is whether this config was correctly set up by the sub-generator, or not.
I've tried it and it looked OK, then I have a higher version than you -> I'm guessing you either misconfigured something at some point, or that it was corrected in the meantime.

This is why I'm closing it, but I'm keeping an eye on this, and anyway I'll do a demo of this

[2016-06-06 08:25] #3677 closed

[2016-06-06 08:26] jdubois commented on #3683
Could you put a clear title?

[2016-06-06 08:28] jdubois commented on #3683
I have no idea what this `except Task` is in your JDL file -> for me this is not correct JDL syntax, so quite logically this fails.
I'm not an expert in JDL (you should have opened this ticket on the JDL project), so you find this is a correct syntax, please add a comment.

[2016-06-06 08:28] jdubois commented on #3684
Could you write a clear title?

[2016-06-06 08:30] jdubois commented on #3684
I'd be happy to have comments from @raphaelbrugier on this, as he coded the current implementation.

[2016-06-06 08:31] tibistibi commented on #3683
according to the documentation this hould be possible:

service all with serviceImpl except A, B, C

see: http://jhipster.github.io/jdl/

[2016-06-06 08:33] jdubois commented on #3682
I believe this was fixed in a recent version, as we had the same kind of issue with JWT

Of course I can't test your code as this is not a "standard" JHipster feature (we don't provide LDAP authentication out of the box, but it is important to have it working without too much issues).

-> I'm closing this as I can't test and I think it's corrected, if you have time, can you check with a recent 3.4

[2016-06-06 08:33] #3682 closed

[2016-06-06 08:34] jdubois commented on #3651
Following my previous comment, this code should be deleted: it's from another authentication mechanism, and simply doesn't work.

[2016-06-06 08:39] jdubois commented on #3664
Thanks @deepu105 , let's work on this branch -> for me we can release this as an "early alpha version" very soon, it doesn't do any harm as long as we warn people it's not ready

[2016-06-06 08:47] jdubois commented on #3683
Oh you are correct. I'm reopening this, but this should be a ticket on the JDL project, here we probably can't do anything about it.

[2016-06-06 08:48] tibistibi commented on #3683
thanks. i was not aware of a specific project for jdl. will see if i can move it.

[2016-06-06 08:49] jdubois commented on #3683
Oh, I'm seeing this is on a recent version, and you are using JHipster 3.0.0 -> I'm guessing your version doesn't have this already.

Can you install JHipster UML, to have a more recent version, and test it with "jhipster-uml yourfile.txt"? It's working the same way, but it's not bundled with JHipster.

[2016-06-06 08:57] deepu105 commented on #3664
Yes we can do an Alpha, but we need atleast typescript working on the
client-2 for that else it would be same as client. Ill try to move all js
-> ts soon.

Thanks & Regards,
Deepu

On Mon, Jun 6, 2016 at 4:39 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-06-06 08:59] deepu105 commented on #3683
This is probably another issue of disparity between JHUML and import-jdl feature due to different versions being used :(

[2016-06-06 09:01] tibistibi commented on #3683
this could be. maybe it is a good idea to add the version information to the documentation

[2016-06-06 09:17] deepu105 commented on #3683
This is tracked in https://github.com/jhipster/generator-jhipster/issues/3532 so lets close this to avoid confusion.

[2016-06-06 09:17] #3683 closed

[2016-06-06 09:20] tibistibi commented on #3532
except does jet not work too

[2016-06-06 09:22] tibistibi commented on #3683
is it smart to add this to the documentation (so not everyone has to figure it out again)

[2016-06-06 09:29] deepu105 commented on #3683
Lets see if we are not able to get this fixed soon we could consider
updating the docs.

Thanks & Regards,
Deepu

On Mon, Jun 6, 2016 at 5:22 PM, Tibor Strausz <notifications@github.com>
wrote:

[2016-06-06 09:43] cbornet commented on #3649
@PierreBesson I confirm it works with Hystrix without Eureka. Hystrix is even enabled by default on my monolithic test app.

[2016-06-06 09:44] PierreBesson commented on #3649
@cbornet I just did some more tests today with your branch codegen.jar and JHipster Microservices and its really promising as we only have to generate the @FeignClient class.
So in your module we should switch to using Spring Cloud Feign even for the monolith.
Once you have updated your module, I can help you add some options for microservices (requesting Eureka, etc...).

[2016-06-06 09:55] PierreBesson commented on #3649
That's a really good news. Did you try to do a fallback using Hystrix using :
`@FeignClient(name = "app", fallback = ClientFallback.class)`

[2016-06-06 11:24] cbornet commented on #3649
Arf ! I have this issue : https://github.com/spring-cloud/spring-cloud-netflix/issues/1023
Since there is a @RequestMapping generated on the interface, spring-MVC interprets it as a controller !!
So I get a first controller for the FeignClient interface and then another one for the Hystrix fallback class and it fails during startup...
I need to see how to remove this @RequestMapping from the gener

[2016-06-06 12:03] xetys commented on #3649
mhm....i hadn't any problems in my setup where the feign client are also using @RequestMapping as well....

[2016-06-06 12:06] PierreBesson commented on #3649
@cbornet I had noticed that the interface show up as a controller in the Swagger UI but same as @xetys, I didn't have problems before...

[2016-06-06 12:07] cbornet commented on #3649
Does it still work when you add the Hystrix fallback ?

[2016-06-06 12:18] cbornet commented on #3649
See https://github.com/spring-cloud/spring-cloud-netflix/issues/466 (more explicit)

[2016-06-06 12:47] PierreBesson commented on #3649
@cbornet, I confirm that it doesn't work with an interface generated by your swagger-codegen. As soon as I add the fallback it fails to launch.
As far as I understand, this is caused by having an @RequestMapping both on the interface and on the method. When I removed the one on the interface the app could start fine. But then we need to change the rest of the generated "interface client".

[2016-06-06 12:48] erikkemperman commented on #3664
Excellent! I had wondering about this for a little while, and had already set up an "edge" branch for myself, to play around with Angular2 and Gulp4, before being sidetracked by another project.

Typescript sounds like a natural choice since Angular 2 is built with it, and Gulp allows even the build itself to be written in typescript, in `gulpfile.ts`. Or maybe ES6 would be a more widely favoured

[2016-06-06 12:52] cbornet commented on #3649
I fixed it (removed the RequestMapping on the interface and adjusted the path in the methods). Can you check ?

[2016-06-06 12:57] cbornet commented on #3649
Interesting link : https://jmnarloch.wordpress.com/2015/08/19/spring-cloud-designing-feign-client/

[2016-06-06 15:42] cjyar commented on #3635
Nothing yet. I'm a new dad, and my non-work coding time has been seriously reduced.

[2016-06-06 15:45] pascalgrimaud commented on #3635
Congratulations @cjyar !!!

[2016-06-06 17:06] sendilkumarn commented on #3664
`dropping bower`

we can add angular 2 dependencies via npm. I think for referencing files, we need to have either gulp task or move node_modules inside `webapp`

[2016-06-06 17:57] raphaelbrugier commented on #3684
Hi,

First some history. The docker/scripts implementation of the migration tool was produce iteratively and it was not intended at the beginning to produce the tool only with scripts. :)

So, your idea of using smartcat-labs/cassandra-migration-tool-java as a migration tool is welcome. Disclaimer: I don't know this tool and its limitations.

### A few things to be aware of:

##### The current too

[2016-06-07 06:05] parmarsanjay commented on #3651
Thanks for the comments. So no check for expired JWT token on Angular side?

[2016-06-07 07:12] Vaelyr commented on #3651
This is done by `TokenProvider` on back-end for you.

[2016-06-07 09:12] wmarques commented on #3664
@deepu105 I won't have alot of time today sorry :(
@sendilkumarn Agree, we should move the node_modules inside webapp in order to reference it in our index.html file.

Here is a very minor work on using systemjs + typescript : https://github.com/wmarques/Ng2JhiSample

I just moved to TypeScript (removed IIFE + `angular.controller...` lines) and added `export ..`. line at the end of the file (see [

[2016-06-07 09:35] deepu105 commented on #3664
I'm having some weird issue with the typings. on windows when i do `npm i typings` i'm able to do `npm run typings install` but if I add typings to `package.json` and then do `npm i` and when i run `npm run typings install` I get error as the typings executable is not present in the `node_modules/.bin` folder. @wmarques could you check this in your machine to see if this is a windows only issue?

[2016-06-07 09:38] deepu105 commented on #3664
@wmarques @sendilkumarn I already moved to ts fully and integrated systemJS. I didnt move node_modules to webapp instead I wrote a copy task in gulp to move only required files to a vendor folder. @wmarques I will see what you have done as well

[2016-06-07 09:40] wmarques commented on #3664
@deepu105 seems to work fine on my computer
Oh yes, it's even better if gulp copy required files only !

[2016-06-07 09:58] deepu105 commented on #3664
@wmarques yes we should. we should atleast make the following modules

- core: main app and re usable components, blocks, home, layouts etc
- admin: all the admin stuff
- account: all account related stuff in account folder
- authority: all account and authority services
- entity: entity related stuff

[2016-06-07 10:00] sendilkumarn commented on #3664
@deepu105 @wmarques may be we can split

[2016-06-07 10:00] deepu105 commented on #3664
@wmarques @sendilkumarn when you have time can you try to generate an app using this branch and see if what I have done is ok? It works for me but there is one weird ts error on console and a lot of repetitive logs from the language service

[2016-06-07 10:01] sendilkumarn commented on #3664
I tried. It does have some error. I will let you know on that

[2016-06-07 10:05] wmarques commented on #3664
@deepu105 Ok will try to work on it once I have some time. Yep I'll try this and check if I ca

[2016-06-07 10:24] tibistibi commented on #1130
same problem same solution

is this a liquibase problem or a jhipster problem?

[2016-06-07 10:41] deepu105 commented on #1130
we do not configure to use `liquibase:update` so I dont know where the issue is. After you changed this does your normal liquibase table creation work from the app?

[2016-06-07 11:04] deepu105 commented on #3664
@sendilkumarn I guess I missed a file. Try now

[2016-06-07 11:50] tibistibi commented on #1130
ok that is the downside of all these great tools, you get confused about who does what quickly.

is the master.xml igenerated/updated by jhipster?

i run ./mvnw test and this works (i guess the databases is regenerated with this command)

[2016-06-07 12:12] optimalab commented on #3682
I had a look to 3.4.0, and the method now returns a String and internally casts to UserDetails, so I think it's ok. As soon as I can migrate the application to the latest version (it will take some time), I can confirm, but I'm positive.

Thank you

[2016-06-07 12:13] jdubois commented on #3682
Thanks @optimalab , that's what I was thinking of

[2016-06-07 12:47] pmarrone commented on #1130
As far as I remember (It's been a year since I touched JHiptster), I interpreted this as a little configuration mistake, since spring understands the "classpath:" directive, but the plugin, being run from maven, doesn't. I understand that using that path still invokes the classpath, so the normal invocation *should* work just the same. I might be wrong, but I guess that it works, since nobody of t

[2016-06-07 12:52] deepu105 commented on #1130
If normal use is not affected I guess we can remove the classpath but we
need to be sure
On 7 Jun 2016 20:47, "Patricio Marrone" <notifications@github.com> wrote:

[2016-06-07 12:57] tibistibi commented on #1130
today and tomorrow i will be adding some entities to my model. if there is a problem i will let you know.

[2016-06-07 13:09] maddy1512 opened #3689 "cookie theft exception not redirecting to login page in production mode v3.1.0"
Hi,
We are using jhipster v3.1.0 and we are facing this issue where invalid remember-me token exception is not treated correctly and instead of redirecting it to a login page, its redirecting to the error page in production mode.

[2016-06-07 13:16] jdubois commented on #3689
- Can you send us your .yo-rc.json file?
- Is it only happening in production mode, not dev mode?

[2016-06-07 14:20] jd-carroll commented on #3684
@raphaelbrugier Thanks for the notes!  I was definitely not aware that `CASSANDRA_CONTACT_POINT` could be set and that does accomplish much of what I wanted.  And you are correct that my plan was to deploy a single instance at a time.

I did test launching multiple instances concurrently and didn't observe any exceptions (even though multiple instances were creating the same table on different nod

[2016-06-07 16:03] PierreBesson commented on #3667
As the move to Angular 2 is prioritized over this, I'm closing this issue. Thanks @fmatuszewski for your participation. I encourage you to do a POC of your idea, using angular 2 and a Zuul gateway and come back to us if you have made progress...

[2016-06-07 16:03] #3667 closed

[2016-06-07 16:36] MBenali opened #3692 "JHipster and generation of (spring boot + spring Batch) microservice"
Hi,
This issue is : feature request, microservice/batch, question
##### **Can we use JHipster to generate a spring batch microservice**

I have a REFERENCE_MS microservice and a gateway which contains its ihm. I need to create another _microservice_ (with spring boot and **spring batch**), this new microservice will reads files and feeds a database via REST calls (POST/ PUT) to the REFERENCE_MS mi

[2016-06-07 16:41] PierreBesson commented on #3692
Interesting idea, however it's out of the scope of the project in my opinion. Would you like to try to implement this as a module ?

[2016-06-07 16:43] MBenali commented on #3692
Unfortunately I do not still master the necessary tools to make it.

[2016-06-07 16:47] MBenali commented on #3692
I thus have to create a project based on spring boot + spring Batch and see how configuring its recording in the registry

[2016-06-07 16:54] MBenali commented on #3692
@PierreBesson
I am going to try this site to initialize the creation of this project and I inform you if that works.
[https://start.spring.io/](url)

[2016-06-07 17:00] MBenali commented on #3692
I began to generate the project with JHipster, I add some classes (config, listener) like [ _https://spring.io/guides/gs/batch-processing/ and https://spring.io/guides/gs/scheduling-tasks/_ ], but at the moment I do not see my job dashing

[2016-06-07 18:42] PierreBesson commented on #3692
Sorry, the issue tracker is not a support forum. It's a valuable tool for the people to improve the project not solve everyone issues. You should ask for help on stack overflow or gitter. Also don't be afraid to look into contributing to the project. Yeoman is a fun tools and easy to get started with.

[2016-06-07 18:42] #3692 closed

[2016-06-07 19:37] francisoud commented on #3664
oups sorry for the previous commit message. I was trying to follow your [commit message convention]( https://github.com/francisoud/generator-jhipster/blob/master/CONTRIBUTING.md#footer) but I didn't realize it would be picked up by github. I'll stop doing this, I'll only mention it the PR if i'll ever get to this point ;)

[2016-06-08 01:01] deepu105 commented on #3692
Just a pointer, I have successfully used spring batch with a JHIPSTER
project, just a generate a Jhipster microservice and follow spring batch
docs to add the required annotations and config. It would work perfectly.
If you are stuck up somewhere open a ticket on stack overflow and ill try
to help you
On 8 Jun 2016 02:42, "Pierre Besson" <notifications@github.com> wrote:

[2016-06-08 03:27] deepu105 commented on #3664
its ok @francisoud

[2016-06-08 08:12] MBenali commented on #3692
Thanks,
yesterday i have generated a (microservice) project with JHipster and add some classes (jobConfig, listener and ScheduledTask classes) as described in  https://spring.io/guides/gs/batch-processing/ , the microservice starts, It remains in me just to adjust some things

I have to find of time to read about ZUUL, Ribbon, Feign,Spring Cloud, to understand how all this works together and being

[2016-06-08 09:34] sendilkumarn commented on #3664
can we move compiled js files outside app folder. Its confusing sometimes

[2016-06-08 10:19] deepu105 commented on #3664
@sendilkumarn ya it was confusing for me as well :(
@jhipster/developers what do you think of the below?

We can have the `.ts` files and `.html` files in the app directory under webapps as in current branch and this will only have the source files
There will be a gulp task which is running as part of `gulp serve`
      1. It will compile the `.ts` files as it changes to the `target|build/www` dir

[2016-06-08 10:23] sendilkumarn commented on #3664
second that

[2016-06-08 10:58] deepu105 commented on #3665
@alireza-hanifi we will close this ticket if further info is not provided, so please provide info asked above if you want us to investigate

[2016-06-08 11:07] erikkemperman commented on #3664
@deepu105 Haha, I am furious! But seriously, I completely understand your point of view, of course.

Actually I have been reading about a school of thought that says you can do most things straight from npm scripts, no need for a separate build tool with plugins, because basically all essential components (lint, transpile, minify, watch) have cli anyway, or otherwise are easily wrapped in a portab

[2016-06-08 12:14] deepu105 commented on #3664
I would be more interested in gulp4 rather than hacking npm to do all
these.

Npm would work in theory and may be after some real painfull hacks it might
do all what we do today but in the end that package.json would look real
ugly and will scare away an average user.
Of course you could write external js files and call those but then you are
re inventing something similar to gulp without the spee

[2016-06-08 12:20] erikkemperman commented on #3664
@deepu105 All true, and I originally had the same feeling about this. But now I've seen a few examples of reasonably elaborate builds, and I must say it's not nearly as bad as I expected. But yeah, probably JH is too complex.

If I have some time I might give Gulp 4 a go based off this branch, but I should probably wait a bit for things to settle slightly -- both here in this angular 2 effort and

[2016-06-08 12:49] deepu105 commented on #3664
@wmarques I have split the app to multiple modules

[2016-06-08 13:08] raphaelbrugier commented on #3684
Good!
I think Cassandra has a "schema agreement" kind of lock for tables creations, but the other concern is about data migration.
Say, adding a column and then filling it based on some existing data.
A good workaround is to have only idempotent queries, but it's not always feasible and I'm not even sure if this would work concurrently.

I'm still not sure to buy the idea of having the app itself

[2016-06-08 13:39] MBenali commented on #3692
my batch example (generated as microservice) with JHipster work.

[2016-06-08 14:40] lrkwz opened #3695 "[FEATURE] Modify button in <entity>detail.html page"
##### **Overview of the issue**

It would be usefull having a "Modify" button in <entity>-detail.html page.
I've dropped one with a simple

    <button type="submit" ui-sref="address.edit({id:vm.address.id})" class="btn btn-primary btn-sm">
		<span class="glyphicon glyphicon-pencil"></span>
		<span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
    </button>

pressing the butto

[2016-06-08 14:48] pascalgrimaud commented on #3684
@raphaelbrugier : I'm not a Cassandra expert, but I agree with you -> "I'm still not sure to buy the idea of having the app itself doing the migration"
I think the idea behind the initial migration tool with Docker was simply to provide a Cassandra database ready to the developer.

[2016-06-08 15:48] rosedo commented on #1528
From what I understand, when you generate a OneToMany relationship between a Driver and his Cars, JHipster expects that the 'driver' field exists in the Car.
Removing  `mappedBy = "driver"` in the OneToMany annotation in the Driver model might fix it. This or fixing it on the other side by creating the property or relationship.

[2016-06-08 17:45] raphaelbrugier commented on #3684
Yes exactly, the initial idea was to provide an easy way to setup a cluster locally and to keep track of the changesets.
It has evolve to a simple migration tool that could be use to migrate any cluster.

[2016-06-08 20:42] alireza-hanifi commented on #3665
@deepu105 The main issue is that when I use either of these modules and upgrade the program, it askes for confirmation using the terminal when overwriting files and since it's running on another process I'm unable to confirm, even when I use force option, it's still held up behind the confirmation requests.

[2016-06-09 02:37] deepu105 commented on #3665
Ok understood ill take a look
On 9 Jun 2016 04:42, "Alireza" <notifications@github.com> wrote:

[2016-06-09 04:49] deepu105 commented on #3685
@tibistibi would you like to PR this to our documentation site https://github.com/jhipster/jhipster.github.io

[2016-06-09 04:59] krishna383 commented on #3636
Hi.. I am also seeing the same issue. the inject:app is injecting my controller to index.html successfully. But I am not seeing the custom controller in the minified app.js. Can you tell me which gulp task is doing the app js minification and uglify?

[2016-06-09 05:14] #3665 closed

[2016-06-09 05:14] deepu105 commented on #3665
could you check with the current master branch if it works now for you?

[2016-06-09 05:17] deepu105 commented on #3636
@krishna383 could you give more info like your app config etc. did you have `gulp serve` running?

[2016-06-09 05:32] krishna383 commented on #3636
Yes my gulp serve is running. It is working perfectly fine in dev profile but not on prod profile.

I tried to delete all the JS within inject:app and ran this task and it successfully inserted all the JS to index.html. but i dont find my custom controller on the minified app.js.

[2016-06-09 05:35] krishna383 commented on #3636
{
  "generator-jhipster": {
    "jhipsterVersion": "3.3.0",
    "baseName": "iepweb",
    "packageName": "com.datalakes.iep",
    "packageFolder": "com/datalakes/iep",
    "serverPort": "8289",
    "authenticationType": "jwt",
    "hibernateCache": "hazelcast",
    "clusteredHttpSession": "hazelcast",
    "websocket": "no",
    "databaseType": "sql",
    "devDatabaseType": "postgresql",
    "prodD

[2016-06-09 06:29] deepu105 commented on #3636
could you show your index.html and how did you build your prod app?

[2016-06-09 06:30] pascalgrimaud commented on #3665
Maybe it's not related to module, the sub generator doesn't work for me (or maybe I'm doing something wrong). My steps:
1) create folder, and git init: `mkdir test && cd test`
2) generate a fresh project, all default option: `yo jhipster`
3) create a simple "hello.txt" file: `echo "hello" > hello.txt`
4) commit: `git add . && git commit -m "Initial commit"`
5) then, launch: `yo jhipster:upgrade --

[2016-06-09 06:38] deepu105 commented on #3665
@pascalgrimaud I understand I guess the problem is since we delete all files before generation when we commit the generated code which woul have a newer time stamp it would be considered as a override when merging back and hence deleting stuff in the original branch which was custom files.

I think we should find a way to regenerate without deleting files which are not generated by JHipster. Can y

[2016-06-09 07:48] tibistibi commented on #3685
yes i would with is the procedure to PR?

[2016-06-09 07:56] tibistibi commented on #3685
note to myself it this page:
https://github.com/jhipster/jhipster.github.io/blob/master/pages/jdl.md

[2016-06-09 08:01] pascalgrimaud opened #3696 "Sub generator upgrade: personnal code is deleted"
##### **Overview of the issue**

When using the sub generator upgrade, all code in development is deleted.

##### **Motivation for or Use Case**

The current code should be kept.

##### **JHipster Version(s)**

Master

##### **Reproduce the error**

My steps:
1) create folder, and git init: `mkdir test && cd test`
2) generate a fresh project, all default option: `yo jhipster`
3) create a simple "h

[2016-06-09 08:13] deepu105 commented on #3685
@tibistibi
1. fork the repo https://github.com/jhipster/jhipster.github.io and get it to your local disk
2. checkout a new branch, update the above markdown page and commit
3. push to your local branch to your fork
4. create a new pull request to the original repo

[2016-06-09 08:14] tibistibi commented on #3685
sounds like fun ;)

[2016-06-09 09:29] tibistibi commented on #3685
wondering what PR stands for i think i did it:

https://github.com/jhipster/jhipster.github.io/pull/278

[2016-06-09 12:18] maddy1512 commented on #3689
This is my yo-rc file
[code]

This error only comes in production mode.

[2016-06-09 12:34] krishna383 commented on #3636
Attached is the index.html
[index.html.zip](https://github.com/jhipster/generator-jhipster/files/306873/index.html.zip)

I am generating the build using
`./mvnw -Pprod package  -DskipTests=true`

Below are the 2 lines it is missing:
`<script` src="app/executive-summary/es.state.js"></script>
  <script src="app/executive-summary/es.controller.js"></script>`

Also one more observation is that, the a

[2016-06-09 13:38] tibistibi opened #3697 "[FEATURE] remove DB password from application-prod.yml to avoid double config"
at this moment the database is configured at 2 places. one in the pom file and one in the application-dev.yml/application-prod.yml
basides this the password is added to these files which are under sourcecontrole.

2 things i don't like.

my solution is to use maven filtering. a small change in the pom file adding filtering to yml files and adding the placeholders into the yml file will do the tric

[2016-06-09 13:45] jdubois commented on #3697
Those don't have to be in source control, have a look at:

- How to configure Spring Boot properties -> in "normal" setup, people will probably use env variable for passwords. This is close to what you want to do.
- How we use Spring Cloud Config in the JHipster Registry -> in "advanced" setup, people should use a JHipster Registry to store such data

But whatever you choose, the idea is that we u

[2016-06-09 13:47] tibistibi commented on #3697
ok thanks.

i looked in the code and see that the filtering is already added to the pom file. so maybe someone is working on this?

[2016-06-09 13:57] jdubois commented on #3697
Oh yes, there is filtering, but this is used for our "dev" and "prod" profiles, as those need to be configured *before* Spring Boot (as they configure Spring Boot, obviously). So for those we don't have any other choice, as they can't be Spring Boot properties.
Of course, if you want to, you can use the same mechanism yourself.

[2016-06-09 14:21] tibistibi commented on #3697
thanks :smile:

i agree that following policy for jhipster is best. and maybe I'm old fashioned that i stick to the appfuse way of filtering. at least my db config is in one place now :smiley:

while i'm looking i think it is strange the username in the pom file is different thant the username in the yml file:
pom:

    <username><% if (devDatabaseType === 'mysql') { %>root<% } else if (devDatabas

[2016-06-09 14:25] tibistibi commented on #3697
if you want i can make a bug and a PR for this (should mariadb default to root?)

[2016-06-09 15:24] deepu105 commented on #3636
could it be due to the folder naming? could you try to rename from `executive-summary` to `executivesummary` and see if its minified?

[2016-06-09 15:44] jdubois commented on #3697
I need more info, where in the pom compared to where, which yml file?
This is working fine for many, many applications, so I'm confident this is correct.

And the current way of configuring Spring Boot is the standard way, which most people are expecting, so I'm not going to change it.

[2016-06-09 15:57] jdubois commented on #3696
Indeed, I don't think we should delete the user's files.
@lordlothar99 as you have coded it, and probably have more experience than any of us with this sub-generator, can you have a look?

[2016-06-09 16:26] tibistibi commented on #3697
i agree to stick to the standard way. but just to make sure we are talking on the same thing. i only suggest to not put the username and password in the application-dev.yml and application-prod.yml next to the one in the pom.xml directly. but put them on one place (in the pom.xml) and let the yml copy it via the filter option.
so in the application-dev.yml the change wil be from:

    username: ro

[2016-06-09 16:37] jdubois commented on #3696
OK I think we need to have a closer look @pascalgrimaud -> as we use the `--force` option, it's normal that everything gets deleted!!

[2016-06-09 17:03] lordlothar99 commented on #3696
Yes @pascalgrimaud , obviously the purpose of upgrade is to avoid deleting user's code on master branch. On the contrary, user should not ever make any change on `jhipster_upgrade` branch.
The problem here is that code (test file) was added on master before `jhipster_upgrade` branch was created.... Then, first execution of `yo jhipster:upgrade` creates `jhipster_upgrade` branch, and user code is r

[2016-06-09 17:05] jdubois commented on #3696
I'm thinking that you know this better than me, and that I'm trusting you :-)
I'll wait for your update before doing the next release!

[2016-06-09 17:23] lordlothar99 commented on #3696
ok no pb ! I'm on it

[2016-06-09 23:48] lordlothar99 commented on #3696
I have smthg working ; I struggled a bit with synchronization issues ; please have a look at those changes, and ensure `async` usage is right... obviously I have to read the doc once again !!

[2016-06-09 23:58] krishna383 commented on #3636
Spot on!
That fixed it. Thank you so much. BTW, trying to understand the grunt tasks, how is the minification and uglify happening?

Is this a bug with a library that is being used?

[2016-06-10 00:56] jd-carroll commented on #3696
Instead of creating branches, we should be creating tags and using those...

On Thursday, June 9, 2016, François Lecomte <notifications@github.com>
wrote:

[2016-06-10 02:19] deepu105 commented on #3636
There is no grunt. Which version are you using?
On 10 Jun 2016 07:58, "krishna383" <notifications@github.com> wrote:

[2016-06-10 03:28] krishna383 commented on #3636
Sorry! I meant gulp.

[2016-06-10 08:01] Vaelyr commented on #3697
For dev this might be okay. Not sure. I never found it to be an issue, you configure it once and that's it. You would never point liquibase plugin against production database anyway.

For placeholders it should work for sure with filters:
http://docs.spring.io/spring-boot/docs/current/reference/html/howto-properties-and-configuration.html#howto-use-short-command-line-arguments

[2016-06-10 08:37] jdubois commented on #3697
Oh yes for the Maven Liquibase goal: that's only for development, you're not going to run a Maven goal on a production server, normally.
So yes this goal should have the same configuration as the `application.yml` file, and that's a bit annoying. That's why you should use our Docker configuration, so that everything is set up for you.

[2016-06-10 08:42] tibistibi commented on #3697
and why not make it a one place config like i suggest?
as you can see the yml and the pom are generated separately prone to bugs

[2016-06-10 08:50] jdubois commented on #3697
It causes other issues in the `application.yml` file, as you need to have Maven running before launching.
Here's a very classic use-case where this doesn't work:

- check out a project
- open it up in Idea
- click on the "run" button

As Maven didn't run, you won't have the variable replaced. We've had lots of issues with this for the profiles.

[2016-06-10 08:52] tibistibi commented on #3697
ok. than i agree and will keep the change for my self.

for the difference for the mariadb should a make a bug? or is it not a big problem?

[2016-06-10 08:59] Vaelyr commented on #3697
What perhaps could be changed, is that the liquibase configuration is moved into it's own properties/yaml file, as the liquibase plugins should support external configurations for sure under classpath resources, instead of having them in the build scripts.

[2016-06-10 09:02] lordlothar99 commented on #3696
@jd-carroll, tags may be useful to indicate clearly in git history which version was used for the generation, that's right. But branches are mandatory for git to record the diffs between two versions, and so apply only those diffs on modified code during the merge, leaving user's code intact. This is the reason why merges are easier

[2016-06-10 09:08] PierreBesson commented on #3696
@jd-carroll, I think having a branch is needed for what we want. The idea is that the jhipster-upgrade branch contains only the code generated by JHipster (without what has been developped by the user) then the app can be safely upgraded in this branch, a diff generated and applied on the user's code (with a git merge).

I prepared a graph to be included in the docs. @lordlothar99 tell me if you l

[2016-06-10 09:29] deepu105 commented on #3697
For difference in mariadb a PR fix is welcome
On 10 Jun 2016 16:59, "Vaelyr" <notifications@github.com> wrote:

[2016-06-10 09:30] lordlothar99 commented on #3696
great graph !! Maybe we should add it in the documentation ? I'll just make some small changes

[2016-06-10 09:31] tibistibi commented on #3697
ok i will do this next week

[2016-06-10 10:13] PierreBesson commented on #3696
Yes. I will PR it myself to the docs after we agree on a final version in this thread. :smile:
I did some minor changes, renaming "Upgrader" to "Updater"
http://jsfiddle.net/pbesson/tqp9gyu3/1/

[2016-06-10 11:27] deepu105 commented on #3696
@lordlothar99 could you explain what you have done in your PR https://github.com/jhipster/generator-jhipster/pull/3698 I guess I might be missing something. from your earlier commit I thought you suggested that when a new JHipster project is created we should init a git repo and commit the files as well am I correct? what if the user doesnt do this what will happen when they run the upgrade sub ge

[2016-06-10 11:31] deepu105 commented on #3636
take a look at `build.js` in the gulp folder at root

[2016-06-10 11:36] deepu105 commented on #3636
I have renamed the issue title accordingly. Im not sure where the issue lies, it could be in `useref` plugin or in `uglify` plugin or could be in our config

[2016-06-10 12:06] lordlothar99 commented on #3696
yeah sure :
when `jhipster_upgrade` branch doesn't exist yet, `master` branch holds generated code and maybe code updated/added by the user. It's almost impossible to know if master contains only raw generated code, or altered code. Anyway, as soon as we have a lot of existing projects, let's consider `master` may contain lots of changes, and we don't have to erase them because of upgrading. that'

[2016-06-10 12:36] deepu105 commented on #3696
@lordlothar99 thanks for patiently explaining this :) may be we could add this explanation to the docs as well so that users dont find it as magic :smile_cat:
LGTM. I still think it might be a good idea to init a git repo and commit the files after first generation so that for newer projects the whole initial commit creation part will be skipped and save sometime. for old projects your workaround

[2016-06-10 12:44] lordlothar99 commented on #3696
Yeah I agree with you on both points. I'll make a PR on doc soon, and maybe
let's open a new issue on git initialization?

Le ven. 10 juin 2016 14:36, Deepu K Sasidharan <notifications@github.com> a
écrit :

[2016-06-10 12:46] deepu105 commented on #3636
Ok its weird this works randomly and hence i'm finding it difficult to reproduce properly

[2016-06-10 12:52] deepu105 commented on #3636
@krishna383 are you able to reproduce the issue?

@jhipster/developers can anyone try to reproduce this?

[2016-06-10 21:01] vancourse commented on #1130
well, removing "class path" worked for all except the diff file i generated using "mvn liquibase:diff"

adding/removing "class path" below does not work on "mvn liquibase:update"

 <include file="config/liquibase/changelog/20160610202056_changelog.xml" relativeToChangelogFile="false"/>

[2016-06-11 10:50] lordlothar99 commented on #3696
opened a PR for doc here : https://github.com/jhipster/jhipster.github.io/pull/279
updated gitgraph with recent evolution of upgrade process (link is included in doc) : http://jsfiddle.net/lordlothar99/tqp9gyu3

[2016-06-12 02:40] deepu105 commented on #3664
@sendilkumarn can you convert the admin module to angular2?

[2016-06-12 03:00] sendilkumarn commented on #3664
Am working on it. In between stuck with other activities. I will update

Get Outlook for iOS<https://aka.ms/o0ukef>

On Sun, Jun 12, 2016 at 10:41 AM +0800, "Deepu K Sasidharan" <notifications@github.com<mailto:notifications@github.com>> wrote:

@sendilkumarn<https://github.com/sendilkumarn> can you convert the admin module to angular2?

-
You are receiving this because you were mentioned.
Reply t

[2016-06-12 05:05] deepu105 commented on #3664
@sendilkumarn thanks. @jhipster/developers this is actually lot more work then we anticipated so we might require more hands here

[2016-06-12 05:07] deepu105 commented on #3664
@jdubois could you add @sendilkumarn to the https://github.com/orgs/jhipster/teams/hipsters group so that I can assign him to this ticket as well

[2016-06-12 08:21] jdubois commented on #3664
I can't do it right now, but I think this has changed on Github, and you can assign tickets to anyone now.

[2016-06-12 12:26] tapas4java commented on #3664
@deepu105, I am going to start on  `accounts` module. Hope nobody started yet.

[2016-06-12 14:19] jeserkin opened #3701 "Gradlew fails for Microservice application"
##### **Overview of the issue**

When I've tried to setup JHipster as a `Microservice application`, it did generate files without any errors, but during execution of `gradlew` it thoughs one. Stacktrace as follows

[code]

**NB!** Java setup I assume is okay, since it works fine with `Monolithic application`

##### **JHipster Version(s)**

JHipster Generator v3.4.0

##### **JHipster configuration,

[2016-06-12 14:28] jdubois commented on #3701
That's because you are on Windows, have a look at the error message.

You need to run JHipster in a "shorter" directory, or use a real OS :-)

[2016-06-12 14:30] jeserkin commented on #3701
And why does it matter on `Microservice application` and doesn't on `Monolithic application`?

[2016-06-12 14:39] atomfrede commented on #3664
@deepu105 Not sure how to start at the moment. I've started looking at some components inside ``common``. I have rewritten the ``ProfileInfoService`` (according to the ng2 tutorial) like this (looks fine to me, but its my first hands on ng2 and ts):

[code]

So whats next? How to integrate that new servic and how to test it works correctly? How to we handle 3rd party dependencies that are not yet

[2016-06-12 15:21] PierreBesson commented on #3701
@jeserkin Your issue most likely come from your environment. As you have the line `CreateProcess error=206, The filename or extension is too long`.  There is a known problem on Windows that it cannot support long filepath, there are legacy reasons for that. And it's also often causing problem for NodeJS...
This is not really the place to do support, but I think I found a link that might help you:

[2016-06-12 16:36] deepu105 commented on #3664
@atomfrede The idea now is to use the upgrade adapter to import the ng2 service and use it in an ng1 app so that we can still use the external libs. Can you commit your change. Ill try to import this into the app tomorrow.
@tapas4java i guess no body has started. Cc @mraible as he might be starting something so to avoid duplicate work.

@jdubois I tried but couldn't anyways not urgent do it when y

[2016-06-12 17:08] atomfrede commented on #3664
@deepu105 Sure, just need to integreate into the generator

[2016-06-12 18:39] cbornet commented on #3701
It might be fixed soon on windows 10 : http://news.softpedia.com/news/microsoft-removes-260-characters-path-length-limit-in-windows-10-redstone-504596.shtml

[2016-06-12 19:14] jeserkin commented on #3701
@PierreBesson looked at the article and tried to place project root directory right at the root of a logical drive and it still throughs same error with all settings described in the issue.

[2016-06-12 21:43] PierreBesson commented on #3701
@jeserkin Did you try this tool, https://sourceforge.net/projects/tlpd/. It was suggested in the thread I linked.
Also the reason a microservice app might be different from a monolith is that it includes Spring Cloud jars on the classpath as well as some Netflix libraries like Eureka client, Ribbon, Hystrix, etc...

[2016-06-13 00:42] deepu105 commented on #3701
I dont have the issue in windows with gradle and movroservice. Whats your
app configuration
On 13 Jun 2016 05:43, "Pierre Besson" <notifications@github.com> wrote:

[2016-06-13 00:42] deepu105 commented on #3701
Ok you have posted the config already. Ill give it a try
On 13 Jun 2016 08:39, d4udts@gmail.com wrote:

I dont have the issue in windows with gradle and movroservice. Whats your
app configuration
On 13 Jun 2016 05:43, "Pierre Besson" <notifications@github.com> wrote:

@jeserkin <https://github.com/jeserkin> Did you try this tool,
https://sourceforge.net/projects/tlpd/. It was suggested in the thre

[2016-06-13 03:15] dewafer opened #3702 "Inconsistent plural form in generated dialog.controller.js and dialog.html"
##### **Overview of the issue**

I was trying importing the default jhipster-jdl.jh provided by https://jhipster.github.io/jdl-studio/ to a new generated project, and I found out that in the Create or edit a Location dialog, the Country drop-drown list is empty.

The problem is caused by inconsistent plural form in generated dialog.controller.js and dialog.html.

The generated ng-options in locati

[2016-06-13 03:21] deepu105 commented on #3702
yes its a bug. do you want to PR a fix?

[2016-06-13 04:07] deepu105 commented on #3701
I tried it with your config on windows 10 on path `D:\Projects\test\microserv\app1` and I didnt have any issue so Im closing this as its not reproducible. You seem to have some other environment issue and I will advice you to open a stack overflow thread for help

[2016-06-13 04:07] #3701 closed

[2016-06-13 04:32] dewafer commented on #3702
Hi @deepu105 , I'd love to, but I can't do it right now. I'll submit a PR fix later.

[2016-06-13 06:47] deepu105 commented on #3664
@atomfrede ok ill wait for you to commit into the branch. don't worry if tests fail or if app doesn't work, we can get it fixed on the way

[2016-06-13 06:47] jeserkin commented on #3701
Okey. Will try. Because on Ubuntu server, when I tried it just for kicks, it gave same error.

[2016-06-13 06:48] deepu105 commented on #3664
Since there is no opposition for my proposal to move all generated js code into temp folders ill be doing  that change first.

[2016-06-13 07:06] atomfrede commented on #3664
@deepu105 Should I open a PR against the angulat2 branch?

[2016-06-13 07:20] gvsrini opened #3703 ""show-validation" directive is not in sync with the input validation"
##### Form Validation Issue

This bug is seen for all form validations

##### Appears on all Forms (Dialogs)

Form group unnecessarily turns red even when the input box has correct data

##### All Versions

This is there in all versions of JHipster.

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
{
  "generator-jhipster": {
    "jhipsterVersion": "3.4.0",
    "

[2016-06-13 07:29] ddewaele commented on #1995
Wouldn't adding CRUD functionality on the authorities (much like we already have on the users) make sense in the jHipster main generator ? My [original feature request](https://github.com/jhipster/generator-jhipster/issues/3399) for that was closed and got linked to this issue.

I understand that this fine grained entity based authorization might be taking it a bit too far (although for me it coul

[2016-06-13 07:39] deepu105 commented on #3664
I guess you can directly commit if you want. or PR if you want the change to be reviewed.

[2016-06-13 07:55] jdubois commented on #3664
I just added @sendilkumarn to the "hipsters" team on Github

[2016-06-13 08:06] wmarques commented on #3664
@deepu105 agree with you, it's very confusing to have .ts, .js and even .map in same folder so we should copy them into the `target` folder and keep typescript files in the `src` one :+1:

[2016-06-13 08:14] deepu105 commented on #3664
@wmarques im working on that

[2016-06-13 08:56] jdubois commented on #3697
- yes for MariaDB, of course
- @Vaelyr I don't want to have another specific configuration file - here people are using the Liquibase Maven goal, and have this goal pre-configured, so that's a quite "logical" usage and I don't want to have it more complex. But I agree this isn't perfect.

[2016-06-13 08:56] #3697 closed

[2016-06-13 08:59] Vaelyr commented on #3697
I agree, I also like current approach. Configure it once against local database and no need to touch it anymore.

[2016-06-13 09:12] tibistibi commented on #3697
i agree, not perfect but best solution

[2016-06-13 09:20] seo000 opened #3704 "Different approach to code generating"
##### **Overview of the issue**

Hello,
as most of developers I have problem when adding a new field to previously generated code. Also when you change something in entity service. Why not separate base files from ext files? Some frameworks like Zend of Ruby on Rails uses this method for years. For example you generate class Car and the extension point CarExt which extends Car. It could work well

[2016-06-13 09:22] jdubois commented on #3704
Did you see that you can run the sub-generator again, and add/remove fields and relationships? That shouldn't be too hard.
Then, of course, you need to do a merge if you modified stuff, but that's the issue with all scaffolding tools.

[2016-06-13 09:45] #3696 closed

[2016-06-13 10:03] deepu105 commented on #3701
thats wierd Ubuntu doesnt have such restrictions

Thanks & Regards,
Deepu

On Mon, Jun 13, 2016 at 2:48 PM, Eugene Serkin <notifications@github.com>
wrote:

[2016-06-13 10:04] deepu105 commented on #3703
would you like to do a PR to fix this

Thanks & Regards,
Deepu

On Mon, Jun 13, 2016 at 3:20 PM, gvsrini <notifications@github.com> wrote:

[2016-06-13 10:05] deepu105 commented on #1995
I guess that shouldnt hurt. DO you want to PR that?

Thanks & Regards,
Deepu

On Mon, Jun 13, 2016 at 3:29 PM, Davy De Waele <notifications@github.com>
wrote:

[2016-06-13 14:54] sabrineZhr opened #3706 "jhipster deleted table"
Hi Guys,
I am using mssql and I deleted jhi_user table and now when I run mvn command I get this error
"com.microsoft.sqlserver.jdbc.SQLServerException: Invalid object name 'jhi_user'"
I thought that it will be regenerated but it's not the case.
Thank you.

[2016-06-13 15:00] jeserkin commented on #3701
@deepu105 sorry. On Ubuntu server, in stacktrace it referenced some `SonarQueue` plugin, but I assume it is another issue all together.

[2016-06-13 15:17] jdubois commented on #3706
This works with Liquibase: you need to learn about how Liquibase works first.
This is a question, and not an issue -> I'm closing this according to our guidelines, please use StackOverflow next time

[2016-06-13 15:17] #3706 closed

[2016-06-13 15:28] sabrineZhr commented on #3706
I know how liquibase works and I did the same thing with h2. And I had no problem with it.

[2016-06-13 15:32] jdubois commented on #3706
Maybe you dropped your whole H2 database instead?
All database operations must go through Liquibase if you want it to work properly.

[2016-06-13 18:11] marcus-rp commented on #1053
Hi

I don't have HazelCast set on the project, anyway that problem also occurs to me.

[2016-06-13 21:22] jdubois commented on #3702
Oh yes that's a bug!

[2016-06-14 01:11] #3702 closed

[2016-06-14 06:30] seo000 commented on #3704
Yes, I saw those new beta functions add/remove fields and if it will be needed in my project I will use them for sure. I just thought I could share my knowledge about aproche from diffrent scaffolding tools. I know it is a lot of work to develop jhipster.
If you are not interested with convention of extension classes you can close this issue.

[2016-06-14 07:49] sabrineZhr commented on #3706
Hello,
Yes I am working with only mssql database and liquibase.

2016-06-13 17:33 GMT+02:00 Julien Dubois <notifications@github.com>:

--
Cordialement,

ZAHAR Sabrine

[2016-06-14 08:18] tibistibi commented on #2261
@superandrew how do you make the call to authenticate?

i have a question on SO i hope you can help finding the answer:
http://stackoverflow.com/questions/37798996/make-a-jhipster-rest-client-in-java

thanks

[2016-06-14 08:24] wmarques commented on #3664
@deepu105 I'm having some trouble when generating an NG2 app, I let the default choices, instead of the angular version, and at the end in doesn't copy any files so I just have an `src` folder... But maybe it's just my computer, I'm trying to update Yeoman

[2016-06-14 09:47] jdubois commented on #3704
Yes sorry, I was just wondering if you knew this feature.
Indeed, I know many code generation tools that use this approach, using inheritance. I've also seen some very smart things, that understand when a file is commited to Git: as soon as the file is commited, the generator then does inheritance.
We originally don't work this way, because I just copied on other Yeoman generators, so there wasn't

[2016-06-14 10:00] jdubois commented on #3685
Yes it's done and merged, thanks!

[2016-06-14 10:00] #3685 closed

[2016-06-14 10:07] deepu105 commented on #3664
I pushed a fix can you check now

Thanks & Regards,
Deepu

On Tue, Jun 14, 2016 at 4:24 PM, William Marques <notifications@github.com>
wrote:

[2016-06-14 10:08] jdubois commented on #3636
Just tested with a "ExecutiveSummary" entity, I didn't have any issue in production.
I can't reproduce and I don't understand how this could happen.

[2016-06-14 10:08] #3636 closed

[2016-06-14 10:11] deepu105 commented on #3664
It generates the app and during `gulp install` the files are copied to `target|buil/www` folder and `gulp serve` puts compiles ts files and html to this folder so when you boot the app everything is run from `target|build`  its not perfect yet but works for the moment. when you access the app it wont work as there are lots of errors on console from system js and stuff as we need to convert more fi

[2016-06-14 10:17] deepu105 commented on #3664
@wmarques I wont have time today to fix the console errors so if you have some time please see if you can fix the issues

[2016-06-14 10:30] deepu105 commented on #3704
@jdubois I guess after we are done with ng2 we can try to do a POC. may be we can start small so that whenever an entity is created we create two sets of files:
1. for java classess one base class with all the default code and another which extends this base and users can further add their code here. We can start with domain and if its ok we can do the same for service, resource and repository. We

[2016-06-14 11:48] jdubois commented on #3679
@deepu105 would that be complex to do?
Anyway I'm not sure about this: we generate scaffolding code, that will then be changed by users. Most labels will be changed in the end, anyway, so is it really worth the effort to get the correct internationalized label? I'm really wondering what the good solution would be here.

[2016-06-14 11:59] wmarques commented on #3664
@deepu105 I'm checking this

[2016-06-14 12:04] deepu105 commented on #3679
Its not very complex. But i agree that it might not be worth the effort an
alternate would be to check if the header element is loaded instead of
checking the label
On 14 Jun 2016 19:48, "Julien Dubois" <notifications@github.com> wrote:

[2016-06-14 12:16] sendilkumarn commented on #3664
@wmarques  is it working ?

[2016-06-14 12:17] wmarques commented on #3664
@deepu105 it copied the file and everything but I have alot of console errors from SystemJS as you said

[2016-06-14 12:30] jdubois commented on #3704
Indeed, another reason to wait for AngularJS 2 is that on the client side we might be able to do inheritance like in Java.

I know it's very early to talk about it, so I'd just like to dump here my idea:

- By default we still generate the same files as today
- When a user wants to "take control" of a file, he commits this file into Git
- JHipster looks for commited files in Git, and when a file i

[2016-06-14 12:33] wmarques commented on #3664
I don't understand the workflow, shoud I run `npm run tsc:w` or gulp or both ?

[2016-06-14 12:51] sendilkumarn commented on #3664
One thing, when we load js with System.Register
we should not use Script. Removing that removes all the SystemJs Related errors

[2016-06-14 12:55] wmarques commented on #3664
gulp throws me an error when doing "clean" task : directory not empty

[2016-06-14 12:58] sendilkumarn commented on #3664
Also during yo jhipster inject:test fails

System.Register is not including all the libraries. Only app.main.ts and upgrade_adapter is loaded.

[2016-06-14 13:01] wmarques commented on #3664
I have to admit that I don't understand why it seems to not take care of typings... it tells me angular is undefined and don't find any import...

[2016-06-14 13:11] sendilkumarn commented on #3664
Does all the modules in app[folder] gets loaded?

[2016-06-14 13:13] wmarques commented on #3664
Nope I wrote too fast, it's not working :( Seems strange, I did the very same thing on my [sample repo](https://github.com/wmarques/Ng2JhiSample)..

[2016-06-14 13:23] deepu105 commented on #3664
Guys as I said we need to migrate atleast one module fully for it to work.
Also the install task copies and compiles ts first for further edits either
have gulp serve running or use npm run tsc or gulp tscompile both does same.

Yes all scripts need to be imported but we need migrate them to export the
class in order to import
On 14 Jun 2016 21:13, "William Marques" <notifications@github.com> wrot

[2016-06-14 13:34] wmarques commented on #3664
Yes but even if we do an export default in `app.state.ts`, we can't import it in `app.module.ts`

[2016-06-14 14:04] jdubois commented on #3402
I prefer the solution with a new Gulp task, as this follows the same philosophy as we already do. Size isn't an issue, if people want to use Swagger they will of course need to have the Swagger UI in their final build.
If that's fine with everybody let's go with this solution -> @PierreBesson if you have tested it and it's already working, I guess the work is nearly done? If you don't have time ca

[2016-06-14 14:04] #3704 closed

[2016-06-14 14:05] jdubois commented on #3689
As you are redirected to the error page, and not the login page, I guess you're having a specific error: can you find the stacktrace and post it here?

[2016-06-14 14:40] jdubois commented on #3689
I confirm the issue, and the error is the "normal" `org.springframework.security.web.authentication.rememberme.CookieTheftException: Invalid remember-me token (Series/token) mismatch. Implies previous cookie theft attack.` from JHipster.

When you are in dev mode, you are redirected to the login modal dialog, but in prod mode you are redirected to the 500 error page.

[2016-06-14 14:58] jdubois commented on #3689
OK I've tested again, and now I'm not sure: I have the same thing in dev and prod, both times I have a 500 error.
Given this type of error, that's normal we send back to the error page -> a CookieTheftException throws a 500 error, and all 500 errors are caught by an AngularJS interceptor to go to the 500 error page.

I initially did this on purpose: this is a very specific error, and I wanted the

[2016-06-14 15:42] gvsrini commented on #3703
Though I know the source of the problem, the solution does not look straight forward. Any help in the right direction will be appreciated.

[2016-06-15 02:45] krishna383 commented on #3636
Sorry about the delay. I think I got the issue.

Steps to reproduce:
1. Create a custom folder under app (It is not an entity generated by sub generator)
2. Have custom JS files in it

Running

does not consistently minify the javascript in these custom files.

My observation:
Run mvn clean before package and it works fine, not sure what is the issue.

[2016-06-15 04:16] deepu105 commented on #3636
@krishna383 yes I was unable to reproduce it consistently as well. Let us know if you are able to find out whats causing the issue. check the gulp build task, this might have something to do with `useref` plugin but i didnt find any issues similar to this in their bug list

[2016-06-15 04:17] deepu105 commented on #3664
@wmarques I didnt get you, why do you say that?

[2016-06-15 05:18] maddy1512 commented on #3689
The problem is not that the person is not redirected, but the real problem is that whenever the session expires the autologin is not working and everytime this error pops up.

`Forwarding to error page from request [/index.html] due to exceptio$

org.springframework.security.web.authentication.rememberme.CookieTheftException: Invalid remember-me token (Series/token) mismatch. Implies previous cook

[2016-06-15 05:22] maddy1512 commented on #3689
Also I wanted to know why if no one has made an attempt to change the persistent token or alter any cookie details, still this exception occurs when we try to auto login.

[2016-06-15 07:14] deepu105 commented on #3664
I have reduced the errors on console. app still doesn't load there is one error left. I guess it needs some more services to be exported

[2016-06-15 07:17] deepu105 commented on #3664
ng1 one was much much simpler :sob:

[2016-06-15 07:21] deepu105 commented on #3664
@sendilkumarn @tapas4java @wmarques @mraible @atomfrede guys plz do let me know if you are working on any files so that I dont do the same. changelist so far https://github.com/jhipster/generator-jhipster/compare/angular-2?expand=1

[2016-06-15 07:37] sendilkumarn commented on #3664
What did you do to load them?

[2016-06-15 07:39] deepu105 commented on #3664
I have imported them in the `*.module.ts` files, I havent imported everything so far only blocks and few components are imported. As we export new files those can be imported. check the `app.module.js` and `common.module.js` for ref

[2016-06-15 07:58] wmarques commented on #3664
@deepu105 I meant that my text editor (Atom) with tslint tells me that `AppStateConfig` isn't found in `app.state.ts` file. And agree with you, ng1 was so much simpler to build but ng2 will be much easier to use imo :)
I'll tell you if I have time today to fix some errors

[2016-06-15 08:35] sabrineZhr opened #3714 "SQL Server syntax error on an entity"
Hi Guys,
I integrated Jhipster with mssql and now when I try to update/delete/remove a row using the web app  I get this error for the 3 cases (update/delete/remove):
 com.microsoft.sqlserver.jdbc.SQLServerException: Incorrect syntax near '-'

##### **JHipster Version(s)**
v3.1.0

I thought that it might be caused by the code responsible for the sql queries.

[2016-06-15 09:33] jdubois commented on #3714
- can you provide your .yo-rc.json as well as the config file for your entity in the .jhipster folder?
- can you provide details on your OS, database version, etc

As it's SQL Server we won't be able to test anyway, so it's very complex for us to help you -> if this is indeed an issue with the SQL queries generation, then this is done by JPA/Hibernate, so I suggest you file a ticket on the Hiberna

[2016-06-15 09:34] jdubois commented on #3714
And can you also send the full stacktrace?
Next time please follow the guidelines and provide full information.

[2016-06-15 09:36] jdubois commented on #3679
Yes but on the other hand, I guess people using Protractor want to test that the correct text is present... So it looks impossible to solve in non-English languages.

[2016-06-15 09:46] sabrineZhr commented on #3714
##### **full stacktrace :**
  at org.hibernate.event.internal.AbstractSaveEventListener.saveWithGeneratedId(AbstractSaveEventListener.java:126)
        at org.hibernate.jpa.event.internal.core.JpaSaveEventListener.saveWithGeneratedId(JpaSaveEventListener.java:73)
        at org.hibernate.event.internal.DefaultSaveOrUpdateEventListener.saveWithGeneratedOrRequestedId(DefaultSaveOrUpdateEventListener

[2016-06-15 09:52] deepu105 commented on #3714
What are the changes you made to make SQL server work, in your .yml files
and in liquibase? Did you configure the .yml properly

Thanks & Regards,
Deepu

On Wed, Jun 15, 2016 at 5:46 PM, sabrineZhr <notifications@github.com>
wrote:

[2016-06-15 09:53] jdubois commented on #3714
You have:

    "devDatabaseType": "mysql",
    "prodDatabaseType": "mysql",

So of course if you tell JHipster you're using MySQL, but instead you're using another database, that's not going to work well.

And that's why we always ask for this information in the guidelines....

[2016-06-15 09:53] #3714 closed

[2016-06-15 09:53] sabrineZhr commented on #3714
yes it does work for the entity user that is generated by default but when I add a new entity this error appears

[2016-06-15 09:54] deepu105 commented on #3679
In that case dynamic content replace might be the only way, its not very
difficult. Ill try to do it when i find time from angular2 stuff

Thanks & Regards,
Deepu

On Wed, Jun 15, 2016 at 5:36 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-06-15 09:55] deepu105 commented on #3714
Check the liquibase files generated for the entity, it might need some
modification to work with MSSQL. did you follow the tip on our website to
configure MSSQL?

Thanks & Regards,
Deepu

On Wed, Jun 15, 2016 at 5:53 PM, sabrineZhr <notifications@github.com>
wrote:

[2016-06-15 09:55] sabrineZhr commented on #3714
and I used your tutorial to add mssql to my application in the tutorial you tell us to choose mysql when we use yo jhipster

[2016-06-15 09:57] sabrineZhr commented on #3714
Yes I did. I added this
<property name="autoIncrement" value="true" dbms="mysql,h2,postgresql,mssql"/>
PS: The select works well since all the data are displayed.

[2016-06-15 09:59] deepu105 commented on #3664
Oh ya those, I ignored them. but when I did `ctrl+space` on the error it disappeared anyway.
It might have something to do with setting `"isolatedModules": true` in `tsconfig.jsson` but I haven't checked removing them as my atom editor doesn't show the error anymore. I use the typescript plugin for atom, it auto compiles files using the `tsconfig` on the fly so thats nice

[2016-06-15 10:00] jdubois commented on #3714
Sorry that's my fault, we don't support SQL Server, indeed!
I guess you are following that tip: https://jhipster.github.io/tips/004_tip_using_ms_sql_server.html

This tip is done by an external contributor: maybe you can try contacting him directly?

[2016-06-15 10:01] jdubois commented on #3714
I'm cc:'ing @Zyst if he wants to contribute

[2016-06-15 10:02] deepu105 commented on #3714
Then you might have to dig deeper to see whats causing the issue. Hope you
didnt change the hibernate naming stratergy in .yml file. I suggest you
open a stack overflow with jhipster tag. Also try to check in the gitter
forum as there were some other people who have successfully used MSSQL

Thanks & Regards,
Deepu

On Wed, Jun 15, 2016 at 5:57 PM, sabrineZhr <notifications@github.com>
wrote:

[2016-06-15 10:05] sabrineZhr commented on #3714
I looked for the error in the internet and it seems that it appears when we have a wrong query. So I thought that it would be useful if I modify jhipster generator to write a correct mssql queries. But I can't find where the queries are written. Do you have any idea ? Thank you.

[2016-06-15 11:20] gmarziou commented on #3402
One workaorund I used was to add 2 web resources to war pluygin in pom.xml:

[code]

[2016-06-15 11:34] PierreBesson opened #3715 "Upgrade to Spring Cloud Brixton SR1"
https://spring.io/blog/2016/06/14/spring-cloud-brixton-sr1-is-available

[2016-06-15 11:42] PierreBesson commented on #3649
@cbornet, the https://github.com/spring-cloud/spring-cloud-netflix/issues/1023 issue is now fixed and released in Brixton SR1. I have made PR to upgrade. Please tell us if it helps with your problem.

[2016-06-15 11:51] Dufgui opened #3717 "upgrade generator don't use the git repo when this one is on a parent directory"
##### **Overview of the issue**

When i upgrade , he create a new git repo and not used my git repo wich is in the parent directory. (because jhipster project is a sub module of another one)

##### **Motivation for or Use Case**

I want to use my existing git repo

##### **JHipster Version(s)**

3.4.0 and i try to upgrate to 3.4.1

##### **JHipster configuration, a `.yo-rc.json` file generated in

[2016-06-15 11:54] cbornet commented on #3649
I don't think it really fixes the issue. The problem is in spring-framework so I don't think it can be solved.

[2016-06-15 12:01] deepu105 commented on #3714
We dont write any quiries, its generated by spring data and follows jpa
standards, so if there is an issue then it would be from hibernate
On 15 Jun 2016 18:05, "sabrineZhr" <notifications@github.com> wrote:

[2016-06-15 12:27] jdubois commented on #3717
The idea is that your project has got its own Git repo.

So I understand it doesn't work for you, then I'm not sure we should do anything about it - OK for testing this and blocking the upgrade process, but I don't think we should spend time solving this.

@lordlothar99 what do you think?

[2016-06-15 12:27] #3715 closed

[2016-06-15 12:28] PierreBesson commented on #3574
OK, the reason this is not progressing is that I have been stuck for making it works with gradle. Can someone help me. This is my current commit on my branch: https://github.com/jhipster/generator-jhipster/commit/2524e32a8e4d0a6af950b074f2ea69ab5eff2bca

[2016-06-15 12:37] PierreBesson commented on #3402
@gmarziou I like your solution a lot, because adding swagger-ui to the war could be made optional with the no-swagger profile.

@jdubois Currently, I don't have time to do this for now. If someone has the time to do it please go ahead with adding the gulp subtask or @gmarziou's solution. But in the best case what we implement should be coherent with the `jhipster.swagger.enabled` property and the

[2016-06-15 12:52] PierreBesson commented on #3717
I think the problem is that [generators/upgrade/index.js#L106](https://github.com/jhipster/generator-jhipster/blob/master/generators/upgrade/index.js#L106)'s `assertGitRepository` is checking for a .git dir in the current folder which doesn't work if the JHipster app is not at the root of the repo (which is a valid use case IMO especially with microservices).

@lordlothar99 Maybe you can use `git

[2016-06-15 12:57] jdubois commented on #3689
Then that's a whole different problem, can you add another ticket for that?
I'm sorry but we need to have one ticket per issue

[2016-06-15 12:58] jdubois commented on #3689
I'm closing this as the problem looks totally different from the original question -> we'll work on your other issue when you have opened a specific ticket

[2016-06-15 12:58] #3689 closed

[2016-06-15 13:02] lordlothar99 commented on #3717
Yes exactly, you guys got the fix... Do u need me to create the PR, or do u?

[2016-06-15 13:03] jdubois commented on #3717
Oh if you know how to fix that, yes can you do the PR? Honestly I don't have the time to test at the moment

[2016-06-15 13:04] lordlothar99 commented on #3717
Yeah no pb, I'll create the PR asap

Le mer. 15 juin 2016 15:03, Julien Dubois <notifications@github.com> a
écrit :

[2016-06-15 13:13] deepu105 commented on #3574
You seem to be doing it correctly. What is the error your seeing?  Or does
it work if you define the artifactId and version in the .dev and .prod
files directly?
On 15 Jun 2016 20:29, "Pierre Besson" <notifications@github.com> wrote:

OK, the reason this is not progressing is that I have been stuck for making
it works with gradle. Can someone help me. This is my current commit on my
branch: 2524e3

[2016-06-15 13:58] sabrineZhr commented on #3714
I deleted the entity and I regenerate it the problem disappeared. I have no explanation for this.

[2016-06-15 15:08] ruddell opened #3719 "User Management with Cassandra Temporarily Broken"
##### **Overview of the issue**
From my recent PR #3712, user management does not load because Cassandra does not support sorting.

##### **JHipster Version(s)**
Master

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
Any Cassandra project

##### **Suggest a Fix**
I will fix the issue this in an hour or two.

[2016-06-15 15:55] wmarques commented on #3664
Well, if I remove the bracket around the imports name it works, so weird :
`import { PagerConfig } from './blocks/config/uib-pager.config';`  => `import  PagerConfig from './blocks/config/uib-pager.config';`

Ok I found out why. If we remove curly braces, it imports the `export default thing`. If we add curly braces it will try to find the export with the name specified in curly braces. So if we w

[2016-06-15 17:11] PierreBesson commented on #3574
@deepu105, I'm not seeing any error but it doesn't do what I want it to do... The result is that the /info endpoint return an empty JSON.
I tried defining those property in the `gradle/profile_dev` and it worked but I don't know how I can retrieve the version defined in build.gradle.

[2016-06-15 19:20] Invizible commented on #3696
Thanks guys, it works fantastic, but there is one problem I faced with.
If you used this sub-generator on version 3.4.0 you already have "jhipster_upgrade" branch and sub-generator still erases your code. So I dropped 2 commits this tool made, deleted branch and rerun it again, and everything worked well this time.
So I think it's crucial to add such warning in doc, that people should drop old bra

[2016-06-15 20:01] Invizible commented on #3696
And I have one question, can we some how modify script to allow changing project options when we upgrade? I mean change DB, or add support for web sockets if previously project was generated without such options? It would be helpful.

[2016-06-15 20:08] atomfrede commented on #3664
@deepu105 I can work on the util services (``base64.service.ts``...)

[2016-06-15 22:00] pascalgrimaud commented on #3719
closed by #3712

[2016-06-15 22:12] ruddell commented on #3719
That PR was for client 2.  My internet went out at home so I'll send in my code tonight

[2016-06-15 22:21] pascalgrimaud commented on #3719
Oh sorry, I reopen this.
Time to sleep for me :D

[2016-06-16 01:10] #3717 closed

[2016-06-16 01:12] deepu105 commented on #3574
I guess there is way to do it, i have done something similar once. Ill try
to dig that up and let you know
On 16 Jun 2016 01:11, "Pierre Besson" <notifications@github.com> wrote:

[2016-06-16 01:21] deepu105 commented on #3696
I dont think it should be part if upgrade. Just change your yo -rc before
you run upgrade.
On 16 Jun 2016 04:01, "Alex Korobko" <notifications@github.com> wrote:

[2016-06-16 03:43] krishna383 commented on #3636
@deepu105 I am seeing 2 versions on fingerprinted minified files. Not sure why. And one of them is having everything I need and the other one does not.

![image](https://cloud.githubusercontent.com/assets/12377285/16104868/83198d7a-334a-11e6-8c84-e5ad4b64f73b.png)

[2016-06-16 03:47] deepu105 commented on #3636
That shouldnt be possible at all coz `gulp build` does a `clean` first so existing stuff should have been deleted. did you change the build?

[2016-06-16 03:54] krishna383 commented on #3636
No I didnt change the build. I am able to consistently reproduce this now. I even did a manual gulp clean, made sure all teh folders are deleted.

And then when I execute gulp build I am seeing that 2 fingerprinted files are getting generated for few files.

[2016-06-16 04:31] deepu105 commented on #3636
thats weird

Thanks & Regards,
Deepu

On Thu, Jun 16, 2016 at 11:54 AM, krishna383 <notifications@github.com>
wrote:

[2016-06-16 04:54] krishna383 commented on #3636
Looks like rev() is the problem. May be it is not waiting until the minification is complete. Did any one else face this issue?
@jdubois

[2016-06-16 05:16] maddy1512 opened #3722 "in production mode cookie theft exception is thrown every time when user's session expires jhipster v3.1.0"
I have been using jhipster v3.1.0 in production mode for my internal system and I am stuck with this particular problem that whenever any user's session expires they are thrown a cookie-theft exception and shown an error page, also after reloading the webpage still same exception is thrown again and again and the users cannot login until they clear their particular cookie. The autologin part some

[2016-06-16 05:18] jdubois commented on #3722
Can you also share your .yo-rc.json and node/npm versions ? How are you running in production, are you using CloudFoundry or Heroku ?

[2016-06-16 05:21] maddy1512 commented on #3722
I still have no idea why this error occurs when someone is not at all altering any remember-me token. The above stacktrace shows that the exception was fired from the index.html, but sometimes it also shows websocket paths.

Here is my yo-rc.json file:
[code]
I am serving this app from aws using tomcat 8.

[2016-06-16 05:27] jdubois commented on #3722
Are you using Elastic Load Balancer in front of your app? I've seen it doesn't work well with Websockets.
Are you running multiple instances of your app, with sticky sessions ?

[2016-06-16 05:32] maddy1512 commented on #3722
No, we are not using any elastic load balancer in front of our app, and we are running on a single instance. The only thing that we have in front of our app is nginx server as a proxy server.

[2016-06-16 05:38] jdubois commented on #3722
Could you try accessing JHipster directly? Just to know if nginx is doing anything wrong.

[2016-06-16 05:53] HemanthD opened #3723 "Error in addForeignKeyConstraint when using overridden table names"
##### **Overview of the issue**

Liquibase generated addForeignKeyConstraint seems to use the default entity-name-derived table name rather than the specified/ overridden tablename (using --table-name).

Consider 2 entities Criteria and Option with one-to-many relationship. Both entities are generated using --table-name option as pa_criteria and pa_option. The foreign key generated in pa_option ha

[2016-06-16 06:44] jdubois commented on #3636
Never heard of this before, no.
Le 16 juin 2016 6:54 AM, "krishna383" <notifications@github.com> a écrit :

[2016-06-16 06:45] jdubois commented on #3636
Can you reproduce also on our Vagrant "devbox"? So we know if this depends
on your environment
Le 16 juin 2016 8:44 AM, "Julien Dubois" <julien.dubois@gmail.com> a écrit :

[2016-06-16 07:31] Invizible commented on #3696
@deepu105 I tried it yesterday, updated yo-rc file and ran upgrade tool, but it regenerated project with new options and erased all my changes :(

[2016-06-16 07:41] deepu105 commented on #3723
hmm thats becoming more complex thats why we didnt want to support custom
table names initially to vaoid making stuff more complex. Do you want to do
a PR to fix this?

Thanks & Regards,
Deepu

On Thu, Jun 16, 2016 at 1:53 PM, HemanthD <notifications@github.com> wrote:

[2016-06-16 07:43] deepu105 commented on #3696
In that case I guess you would have to do it manually. I dont think its
easy to do this automatically. I dont have much time to look into it

Thanks & Regards,
Deepu

On Thu, Jun 16, 2016 at 3:31 PM, Alex Korobko <notifications@github.com>
wrote:

[2016-06-16 08:15] wnbaq commented on #3441
I have same problem, I am trying to import JDL and I definetly run Jhipster. But It couldn't produce entities in my project. I just take this:

My yo-rc.json is:
{
  "generator-jhipster": {
    "jhipsterVersion": "3.4.1",
    "baseName": "alo",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "serverPort": "8080",
    "authenticationType": "session",
    "h

[2016-06-16 09:32] maddy1512 commented on #3722
Steps I followed to recreate the error:
1) go to cookie and alter JESSIONID variable.
2) copy remember-me token and decode it (base64), remeber-me token has two parts combined by a colon ':' so I altered the part that is after the colon and again encoded it to base64.
3) replaced the remember-me token in the cookie with the newly generated token.
4) try to access the web app and it will throw reme

[2016-06-16 09:48] deepu105 commented on #3441
@wnbaq this is a closed issue. please open a new one with details required if you have an issue

[2016-06-16 11:34] wnbaq opened #3724 "The jdl is being imported"
First I run jhipster succesfully then I am trying to import JDL. But It couldn't produce entities in my project. I just take this:

    C:\Users\PER\alo>yo jhipster:import-jdl jhipster-jdl.jh
    The jdl is being imported.

    C:\Users\PER\alo>

Jhipster-jdl.jh is downloaded from default JDL Studio.

My yo-rc.json is:
{
"generator-jhipster": {
"jhipsterVersion": "3.4.1",
"baseName": "alo",
"packa

[2016-06-16 13:47] gmarziou commented on #3724
Could you share your jdl?
And also your environment details: node version, OS?

[2016-06-16 14:17] wnbaq commented on #3724
node version: 3.9.5 , OS: 64bit on

 Windows10 , MySQL 5.7

entity Region {
	regionId Long,
	regionName String
}

entity Country {
	countryId Long,
	countryName String
}

entity Location {
	locationId Long,
	streetAddress String,
	postalCode String,
	city String,
	stateProvince String
}

entity Department {
	departmentId Long,
	departmentName String required
}

entity Task {
	taskId Long,
	title S

[2016-06-16 16:26] sdoxsee commented on #3405
Just an update to say that the http://alexbilbie.com/2014/11/oauth-and-javascript/ article has been pulled. Apparently @alexbilbie no longer stands by some aspect(s) of what he was suggesting in this older article. From what I remember, the article was claiming that using implicit oauth2 flows (or more generally, keeping the token in the browser) was inviting XSS attacks and that a thin server-sid

[2016-06-16 17:03] kuhnroyal commented on #3724
Same problem using the sample JDL from the studio.
Linux 4.2.0-38-generic #45~14.04.1-Ubuntu
Node : v4.4.4
Yo: 1.8.4
Jhipster: 3.4.1

[2016-06-16 17:11] lrkwz opened #3725 "Test REST controllers with an autenticated user"
##### **Overview of the issue**

REST controller has no current user in junit test; the context contains only the Anonymous un-authenticated user.

##### **Motivation for or Use Case**

It should be possible to write **and test** controllers who's behavior depends on the current user data.

##### **JHipster Version(s)**

3.4.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the

[2016-06-16 17:22] lrkwz commented on #3724
Happened to me when I got some wrong definitions in the jdl: the importer fails silently.
In my case I got some relationship wrong.
Thy to cut them off until  you isolate the offending lines.

[2016-06-16 17:34] lrkwz commented on #3725
Same for

        "authenticationType": "oauth2",

[2016-06-16 17:37] kuhnroyal commented on #3724
I tried it now with this and it is not working. Straight from the samples.

[code]

[2016-06-16 19:01] gmarziou commented on #3725
It seems to me that it's done in AccountResourceIntTest

https://github.com/jhipster/jhipster-sample-app/blob/master/src/test/java/io/github/jhipster/sample/web/rest/AccountResourceIntTest.java#L97-L107

[2016-06-16 19:05] gmarziou commented on #3621
What are the benefits of using memcached over ehcache or hazelcast for this Zuul filter?

[2016-06-16 19:34] PierreBesson commented on #3621
@gmarziou I would argue that memcached seems like a good choice as it can scale independently from the gateway. Also it is very easy to provide a memcached server in dev using docker.

But most of all, every cloud Platform (AWS, GCP, Azure) offers some kind of cache API that uses the memcached protocol.

But anyway, if you would like it to support another cache, I would personally be in favor of a

[2016-06-16 20:31] gmarziou commented on #3696
Wondering whether the branch could be named according to target version like  "jhipster_upgrade_to_3.4.1" ?

[2016-06-16 21:53] ruddell commented on #3719
I still need to PR Client-2's code but I want to wait for #3726 to get pulled before I update user-management.state.js

[2016-06-17 01:52] deepu105 commented on #3719
Its merged

Thanks & regards,
Deepu
On 17 Jun 2016 05:53, "Jon Ruddell" <notifications@github.com> wrote:

[2016-06-17 05:46] deepu105 commented on #3664
@jhipster/developers @sendilkumarn @tapas4java guys should we use ng2 component router or should we use ui-router for ng2 https://github.com/ui-router/quickstart-ng2. Im leaning towards ui-router as it would be easier to migrate to.

[2016-06-17 05:58] mraible commented on #3664
@deepu105 With all the changes going on with ng2's component router, I tend to agree with you. It remains to be seen if ui-router is ready for primetime though.

As far as contributing to this branch, what's the best way? I checked out `angular-2` and ran `npm link` on the project. When I try to run `yo jhipster`, it results in the following:

[code]

I tried running `npm install -g generator-jhip

[2016-06-17 06:05] sendilkumarn commented on #3664
@mraible  you can ignore it. I think till we complete the version will remain @3.4.0

@deepu105  is that correct ?

[2016-06-17 06:07] sendilkumarn commented on #3664
@deepu105 with all the changes we should go to ui-router till we clear all these

[2016-06-17 06:34] deepu105 commented on #3664
@mraible Its just a notification for end users and will appear as we are on an older branch. You can ignore it. checking out the `angular-2 ` branch and doing an `npm link` should be sufficient.

[2016-06-17 07:33] lordlothar99 commented on #3696
hi @Invizible ; if your project is opensource, I'm interested in having a look.. even if `jhipster_upgrade` branch was created before 3.4.1, as soon as it was successfully merged on `master`, next upgrade would only apply the diff between 3.4.0 and 3.4.1 ; all your changes should have been retained.
About changing some options : either a manual update of the `.yo-rc.json` file, either erasing it,

[2016-06-17 07:44] Invizible commented on #3696
@lordlothar99 Unfortunately I dropped all extra commits, so you will not see anything interesting. I tried upgrade on demo application which I prepared for lecture about JHipster in our company. Here is the link: https://github.com/Invizible/hipstagram
Maybe when I did it, yeomen used old version of upgrade sub-generator, I didn't notice that, I just dropped branch and reran it.
Anyway if you say

[2016-06-17 08:04] wmarques commented on #3664
@deepu105 ui router also, we could migrate to component router after if it's necessary (a guy in conference telled us that even Google doesn't know if they will use ui-router or component router for ng2 final version)

[2016-06-17 08:16] jdubois commented on #3723
Yes, overriding table names is a source of issues... and I don't even understand what you gain from it.

[2016-06-17 08:34] jdubois commented on #3722
Yes I know how to reproduce it - you could also alter the token in the database, which is what I'm usually doing. This is just doing the same thing as if someone stole your token, so no problem with that at all.

Now the real issue is why do you have this issue in production, considering (hopefully!!) that nobody stole your tokens.

I've read your ticket again, is it only occurring with this 3 con

[2016-06-17 11:42] Jie-Yang opened #3730 "gradle test: NoCacheRegionFactoryAvailableException when second level cache is disabled"
##### **Overview of the issue**

When I use jhipster generate an app, I disabled the second level cache. However, when I run "gradle test" to test the app, the test failed because the "NoCacheRegionFactoryAvailableException". I have checked the application.yml in directory "src/test/resources/config", and the second cache is disabled. I do not know the app is still looking for second-cache. Except

[2016-06-17 12:12] jmayday commented on #1168
Hi,

like @ntherning I just was thinking about including `/src/main/webapp/bower_components` in `.gitignore`. @jdubois why keeping it excluded from `.gitignore` helps to have reproducible builds? Does it really help if stick to default bower versioning? In my opinion it doesn't because event if we keep bower_components versioned, and someone in the team performs update those he has different codeb

[2016-06-17 12:26] hooligan495 opened #3731 "[FEATURE] Google Analytics ID controlled by spring properties?"
##### **Overview of the issue**

Maybe this is already doable, but is there an easy way to use spring boot to indicate what Google analytics code to put in the the following segement:
https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/webapp/index.html#L37

##### **Motivation for or Use Case**

My company has different analytics codes for dev and production, instead of checking i

[2016-06-17 12:36] deepu105 commented on #3731
we might not add a new feature for this as this is a very specific use case. But we already expose the profile and few properties using the `ProfileInfoResource` class so you can easily add a new property to `JHipsterProperties` class and expose that via the `ProfileInfoResource` class and use that to set the analytics id using `ProfileService` on angular side. Ill let @jdubois to decide weather t

[2016-06-17 12:42] hooligan495 commented on #3731
I'm on an older version of JHipster that doesn't have that Resource or service.  Upgrading would be problematic at the moment.  Could  I just grab those classes and services?   And should I take this offline to STack overflow?

[2016-06-17 12:44] deepu105 commented on #3731
I guess you can generate a new app using your yo-rc file and then just
merge changes related to that.

Thanks & Regards,
Deepu

On Fri, Jun 17, 2016 at 8:43 PM, Jay McGaffigan <notifications@github.com>
wrote:

[2016-06-17 12:50] hooligan495 commented on #3731
thanks Deepu I can do that.  Seeing that the boilerplate for the GA stuff is in index.html  how would I use the ProfileService to get the GA code into the analytics (My java is much better than my Angular :( )

[2016-06-17 13:50] marco565 opened #3732 "Error PROD compilation JHipster"
##### **Overview of the issue**

There is an error on the compilation just after the generation of the JHipster microservice gateway

##### **Motivation for or Use Case**

I can't compile the application in PROD mode `./mvnw package -Pprod`

##### **JHipster Version(s)**

I am using micro service gateway 3.4.1

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[c

[2016-06-17 13:53] fw060 commented on #3724
Same problem here.

Node : v4.4.4
Yo: 1.8.4
Jhipster: 3.4.1
On Mac.

I got the problem gone ONCE by uninstall jhipster 3.4.1 and reinstall 3.4.0. Unfortunately now no matter how many times I uninstall 3.4.1 and reinstall 3.4.0, the problem still exist.

[2016-06-17 13:57] jdubois commented on #1168
It's not ignored because Bower versions are in fact Git tags, and that some people move their tags. I know it's bad, and that those people suck, but that's just what people do.
So if you don't commit those files, your build won't be reproductible, as soon as someone moves a tag.

Hopefully, with AngularJS 2, we will move to npm, where the versions are really imutable, and that will solve the issue

[2016-06-17 13:59] jdubois commented on #3719
If that's merged can we close this?

[2016-06-17 14:44] deepu105 commented on #3732
we dont generate any file name `templates.js` in `webapp/app folder` did you make any changes or is it a default app? did you install gulp and node-sass?

[2016-06-17 14:45] manisi opened #3734 "jdl"

[2016-06-17 14:47] deepu105 commented on #3724
@fw060 can you install `npm i jhipster-uml -g` and run `jhipster-uml yourJDLFile.jdl` and see if you have same issue?

[2016-06-17 14:48] manisi commented on #3724
same problem
OS : Mac 10.11.4 EL
Node : 4.4.5
Yo : 1.8.4
jhipster : 3.4.1
jh:

entity Department {
  departmentName String required
  departmentCode String
}

entity Personel {
firstName String required,
lastName String required,
nationalCode String required,
birthDate LocalDate required,
personeliNumber  String required,
maritalStatus Marital required,
phoneNumber String ,
jobStratYear LocalDate

[2016-06-17 14:50] #3734 closed

[2016-06-17 14:51] wnbaq commented on #3724
I fix it. I uninstall jhipster(3.4.1) and install 3.4.0 and now ıt produce entities.
node: v6.2.1 on windows yo: 1.8.4
Thank you,

[2016-06-17 14:51] deepu105 commented on #3724
thats weird

Thanks & Regards,
Deepu

On Fri, Jun 17, 2016 at 10:51 PM, wnbaq <notifications@github.com> wrote:

[2016-06-17 15:33] jdubois commented on #3730
Reading your .yo-rc.json you did configure a cache when JHipster generated the app, so it generated an Ehcache configuration - so from a JHipster perspective, there was no bug at the generation.
Have a look at the CacheConfiguration file, but there's also Spring Boot that will probably configure automatically the cache. There's more to do than just put the second-level cache to false, as there is

[2016-06-17 15:33] #3730 closed

[2016-06-17 15:35] jdubois commented on #3731
Yes the solution would be to dynamically set this id, depending on the JHipster profile, and you could use the existing mechanism we have for showing the ribbon on the top left-hand side of the app.
Anyway, as @deepu105 says, this is quite a specific requirement, we shouldn't have this available for everyone - please note that on Google Analytics you can remove your internal IPs from being monitor

[2016-06-17 15:35] #3731 closed

[2016-06-17 15:50] fraf opened #3736 "Null values are filtered out in generated test during json conversion"
The generated test :

[code]

The entity class :
[code]
The rest end point :

[code]

**The whole code above works fine ! The generated test above works fine ! All is OK !**

But just change the entity class like this :

[code]

....I just added a default value.
And it failed.

In fact, this test is useless because JSON transformation DOES ignore null values :
[code]

[2016-06-17 16:03] cm325 opened #3737 "Default oracle jar name doesn't match oracle's distribution"
##### **Overview of the issue**

This is a minor issue, but during project generation, if Oracle is selected as the db, the following instructions are given:

`WARNING! You have selected Oracle database.
Please place the ojdbc-7.jar in the `lib/oracle/ojdbc/7/` folder under the project root. `

But if you go to Oracle download page, you'll see the default name for the current ojdbc 7 jar is "ojdbc

[2016-06-17 16:08] deepu105 commented on #3736
I dont see anything wrong here. The generated test is for the generated entity, if you alter the entity you have to alter the test as well. Simple as that.
The test checks to see if there is an error thrown when a required field is not set. If yiu set a value always then the error wont be thrown and the test fails and thats a valid failure.

[2016-06-17 16:16] deepu105 commented on #3737
I kept the `-` on purpose but i couldn't recall why now. I should have
documented it my bad :(

May be it was when we had java7 support, do you see any error if you use
the default name? It would be referenced in the pom/gradle file

Thanks & regards,
Deepu
On 18 Jun 2016 00:03, "chris marx" <notifications@github.com> wrote:

*Overview of the issue*

This is a minor issue, but during project gener

[2016-06-17 16:29] cm325 commented on #3737
the default name? It would be referenced in the pom/gradle file

Not sure what you mean, are you saying, do I see any error if I change the jar name to match the expected name with the "-"?  If so, no, once I changed the name, the build completed successfully

[2016-06-17 16:47] deepu105 commented on #3737
No what I meant was if you use the name without hyphen after changing the
name in build file as well does it work with maven and gradle?

Thanks & regards,
Deepu
On 18 Jun 2016 00:29, "chris marx" <notifications@github.com> wrote:

May be it was when we had java7 support, do you see any error if you use
the default name? It would be referenced in the pom/gradle file

Not sure what you mean, are yo

[2016-06-17 16:55] cm325 commented on #3176
I'm getting this error, but don't understand what to fix, I'm running jhipster for the first time

[2016-06-17 16:59] jdubois commented on #3737
Yes I think you need it for Maven, so this should be tested
Le 17 juin 2016 6:47 PM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-06-17 17:10] deepu105 commented on #3737
Ya I too remember something like that. It was failing either in maven or
gradle without hyphen

Thanks & regards,
Deepu
On 18 Jun 2016 01:00, "Julien Dubois" <notifications@github.com> wrote:

[2016-06-17 18:28] fw060 commented on #3724
@deepu105 yes I can generate all the files with jhipster-uml without any trouble. Thanks!

[2016-06-17 19:02] jdubois commented on #3176
Please open up a new ticket if you have a bug.

[2016-06-17 20:17] cm325 commented on #3737
Hi, I just started using jhipster this morning, I'm not sure which build file I would need to modify. Anyways, if the jar name without the dash was problematic, adding a note to change the name would probably be appreciated

[2016-06-18 04:30] ruddell commented on #3719
Just PRed the angular-2 code so now it should be fixed.

[2016-06-18 07:49] pascalgrimaud commented on #3737
It's already documented: https://jhipster.github.io/using-oracle/

[2016-06-18 09:26] rockbird commented on #3664
Hi all,

I'm trying to test the angular-2 generator, but I'm getting some Typescript errors:

[12:14:27] Starting 'tscompile'...
src\main\webapp\app\account\account.module.ts(1,1): error TS2304: Cannot find name 'angular'.
src\main\webapp\app\account\account.state.ts(4,5): error TS2304: Cannot find name 'angular'.
src\main\webapp\app\account\account.state.ts(8,17): error TS2339: Property '$inject'

[2016-06-18 09:49] sendilkumarn commented on #3664
@rockbird its WIP

[2016-06-18 09:51] rockbird commented on #3664
Ok :)

[2016-06-18 10:39] cicoub13 commented on #2320
Any documentation or integration in jHipster ? I couldn't find it.

[2016-06-18 12:51] deepu105 commented on #2320
Nothing added yet. You can add a tip or module if required

[2016-06-18 17:02] #3719 closed

[2016-06-18 17:41] ruddell commented on #3732
Several people in the Gitter chat noticed this too.  The cause is from another project referenced by gulp-angular-templatecache. https://github.com/miickel/gulp-angular-templatecache/issues/124

The temporary solution is to add `"gulp-header": "1.8.2",` in package.json.

[2016-06-18 19:45] AlexMinsk commented on #3732
Now `"gulp-angular-templatecache": "1.9.0"` fix the issue.

[2016-06-18 19:53] pascalgrimaud commented on #3732
thanks @ruddell
I confirm it too. I have the same issue, for every options, but only for build in production

[2016-06-18 20:32] atomfrede commented on #2320
I looks like the perfect thing for a module. I'll see if I create one.

[2016-06-18 21:44] pascalgrimaud commented on #3732
You're right, @AlexMinsk I will do the change

[2016-06-18 23:27] #3732 closed

[2016-06-18 23:32] pascalgrimaud commented on #3732
@jdubois : I think a new minor release is needed -> currently, `mvn package -Pprod` doesn't work anymore in the last release, the problem comes from some changes in the lib 'gulp-angular-templatecache'

I fixed our Travis build to detect this

[2016-06-19 03:59] deepu105 commented on #3732
Can someone PR a quick fix and may be we can release a patch

Thanks & regards,
Deepu
On 19 Jun 2016 03:53, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-06-19 05:17] deepu105 commented on #3532
This sub generator needs a major revamp based on the latest https://github.com/jhipster/jhipster-domain-language and will be done soon. Till then i'll recommend everyone to use `jhipster-uml` to import JDL using command `jhipster-uml yourFile.jdl`

[2016-06-19 05:19] deepu105 commented on #3724
This sub generator needs a major revamp based on the latest https://github.com/jhipster/jhipster-domain-language and will be done soon. Till then i'll recommend everyone to use jhipster-uml to import JDL using command jhipster-uml yourFile.jdl

This is tracked in issue #3532 hence closing this

[2016-06-19 05:19] #3724 closed

[2016-06-19 12:10] jdubois commented on #3732
OK this looks like a major issue.
I can do a release tomorrow if needed.

[2016-06-19 13:48] pascalgrimaud commented on #3635
I'm working on this

[2016-06-19 14:14] cjyar commented on #3635
@pascalgrimaud Ha! I just sat down to work on it. Please go ahead; I'd like to review your changes.

[2016-06-19 16:43] cpoepke opened #3743 "Gulp Build is not working for Production"
##### **Overview of the issue**

When building the application for production, gulp crashes during the templateCache step, because the templates.js is not found:
[INFO] [18:37:15] Starting 'sass'...
[INFO] [18:37:15] Starting 'html'...
[INFO] [18:37:16] Tested 3 tests, 3 passes, 0 failures: PASS
[ERROR] fs.js:839
[ERROR]   return binding.lstat(pathModule._makeLong(path));
[ERROR]

[2016-06-19 17:21] cm325 commented on #3737
Ah,
Great, thanks for being so thorough, I failed to see that and just went
with the instructions in the yeoman build. The documentation so far for
jhipster has been quite comprehensive, great job!

On Sat, Jun 18, 2016 at 3:49 AM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-06-19 17:34] pascalgrimaud commented on #3743
Same issue here : https://github.com/jhipster/generator-jhipster/issues/3732
It's already fixed in the master with https://github.com/jhipster/generator-jhipster/pull/3741

You can fix it by upgrading in your `package.json` :
`"gulp-angular-templatecache": "1.9.0"`

[2016-06-19 17:34] #3743 closed

[2016-06-19 21:42] pascalgrimaud commented on #3635
@cjyar : it's done! I tested with maven, gradle and microservices, with normal Jenkins2 and Jenkins2 under Docker

[2016-06-19 21:43] jdubois commented on #3635
Looks like a huge work!! So help for testing will be welcome!

[2016-06-20 01:35] deepu105 commented on #3635
May be we should put some minimal documentation on how to use it as well
for newbies?

Thanks & regards,
Deepu
On 20 Jun 2016 05:43, "Julien Dubois" <notifications@github.com> wrote:

[2016-06-20 04:29] deepu105 commented on #3737
Oh yes its for the naming convention now I remember :) so closing this

[2016-06-20 04:29] #3737 closed

[2016-06-20 04:41] pascalgrimaud commented on #3635
@deepu105: I wrote a new page Jenkins2, with some screenshots as documentation. Is it enough or should I complete ?

[2016-06-20 07:03] deepu105 commented on #3635
That seems fine :+1:

Thanks & Regards,
Deepu

On Mon, Jun 20, 2016 at 12:41 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-06-20 07:37] fraf commented on #3736
I don't agree with you. It is not because I set a default value to the entity that the result of the test change. Moreover, the test forces it to null (supposed to force it, because technically, it is not the case).

[2016-06-20 07:48] deepu105 commented on #3736
I lost you there. Do you mean the test is not setting the value to null?

Thanks & Regards,
Deepu

On Mon, Jun 20, 2016 at 3:37 PM, fraf <notifications@github.com> wrote:

[2016-06-20 08:23] PierreBesson commented on #3635
Nice job ! However I just noticed that the generated [travis.yml](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_travis.yml) doesn't actually run tests. Is it normal ?
Also shouldn't we also add a [.gitlab-ci.yml](http://docs.gitlab.com/ce/ci/quick_start/README.html) ?

And how about the idea of adding more features to the build like docker build and push f

[2016-06-20 08:34] pascalgrimaud commented on #3635
**.travis.yml** => yes, I noticed that, I'm already working on this, since this morning

**.gitlab-ci.yml** => there is already something in the module [generator-jhipster-ci](https://github.com/pascalgrimaud/generator-jhipster-ci) : [.gitlab-ci.yml](https://github.com/pascalgrimaud/generator-jhipster-ci/blob/master/generators/app/templates/.gitlab-ci.yml) I know, I have to update it... :-D

These

[2016-06-20 08:47] vitaliy-kuzmich opened #3745 "jhipster version upgrade v3.4.1 ->3.4.2 does not working"
Hi, thanks for jhipster, but version upgrade does not make any changes. "npm update -g generator-jhipster" does nothing, the version number is still v3.4.1 and warning me that new version available.

[user@u fld]# npm -g  install generator-jhipster
npm WARN deprecated cross-spawn-async@2.2.4: cross-spawn no longer requires a build toolchain, use it instead!
npm WARN deprecated npmconf@2.1.2: this

[2016-06-20 08:55] vitaliy-kuzmich commented on #3745
hmm the reason was my parrent folder:  `.yo-rc.json` in a parent directory.

[2016-06-20 08:56] PierreBesson commented on #3745
Your issue is the following:
`Just found a .yo-rc.json in a parent directory.`

Due to the way Yeoman works, it will pick up `.yo-rc.json` files in parent directories and attempt to regenerate the project at the parent dir location. Please run the generator in a folder whose parent directories does not contain a `.yo-rc.json` and tell us if it fixes your problem.

[2016-06-20 08:56] vitaliy-kuzmich commented on #3745
it fixes... thanks.

[2016-06-20 08:56] #3745 closed

[2016-06-20 09:04] PierreBesson commented on #3635
My idea was to somehow add the required CI steps for deploying the app only when using the docker-compose sub-generator. I'm not sure if it's doable but the idea would be to appends some lines to the Jenkinsfile when running the docker-compose sub-generator. We could ask for the URL of the registry the user wants to use and correctly tag images (`registry.com/appName`).

[2016-06-20 09:08] wmarques commented on #3664
We shouldn't do `@Injectable` above a function, it's not allowed by Typescript. `@injectable` is only for classes, so we have to switch service to class before putting the annotation. I'm working on fixing this in admin module.

[2016-06-20 09:40] jmayday commented on #1168
@jdubois thanks for clarification!

[2016-06-20 11:30] Vaelyr commented on #3725
Spring Security Test dependency also provides convenient annotation `@WithMockUser` to allow security context in tests.

[2016-06-20 11:51] ajit-pucsd commented on #3257
I Got the same issue. I have solved it by doing following, little updation in above process.
1. Install Jhipster 2.x with -g
2. Go to your app run npm i on it
3. To generate entity use yo <path of jhipster entity> <entity_name>
    e.g. I used  **yo /usr/local/lib/node_modules/generator-jhipster/entity test**

And above process worked successfully for me.

[2016-06-20 12:11] deepu105 commented on #3664
you are right. didnt notice that when reviewing

Thanks & Regards,
Deepu

On Mon, Jun 20, 2016 at 5:08 PM, William Marques <notifications@github.com>
wrote:

[2016-06-20 15:01] fraf commented on #3736
Yes. More exactly during json serialization. Null values are filtered. Look at the converter.

[2016-06-20 15:13] jdubois commented on #3314
This is in process of being handled by Spring Cloud Netflix:

https://github.com/spring-cloud/spring-cloud-netflix/issues/8

It looks more logical to me to let Spring Cloud Netflix solve this, as indeed that's an issue at the Zuul level, and not specific to JHipster.

[2016-06-20 15:13] #3314 closed

[2016-06-20 15:19] JavierFuentes commented on #3732
@ruddell's solution

 add "gulp-header": "1.8.2", in package.json

works for me... thanks.

Set node version to exactly 4.3 in package.json and/or upgrade from 0.12 to 4.3 in travis.yml did not work for me.

[2016-06-20 18:28] cm325 commented on #2281
Spring Boot 1.4 is at RC1, and Hibernate 5 changes are included. Any news on this feature request?

https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-1.4.0-RC1-Release-Notes

[2016-06-20 18:37] jdubois commented on #2281
Still blocked by Liquibase

[2016-06-20 18:49] saturnism commented on #3443
See #3747

[2016-06-20 20:35] atomfrede commented on #3695
I'm working in this. Would like to introduce a new state ``participant-detail.edit`` in order not to switch to the entity list in background and to be able to stay on the detail page after saving the entity.

[2016-06-21 03:37] campers commented on #3664
@wmarques  @sendilkumarn Are you talking about the 2.0 component router or the new new component router (3.0.0) which is now the recommended one to use now.
http://victorsavkin.com/post/145672529346/angular-router
https://angular.io/docs/ts/latest/guide/router.html

[2016-06-21 05:09] deepu105 commented on #3736
Ok fair enough. Do you want to do a PR?

[2016-06-21 07:09] tibistibi commented on #3732
adding:

         "gulp-angular-templatecache": "1.9.0",

to  /package.json worked for me :)

[2016-06-21 08:26] maddy1512 commented on #3722
So we again tried to recreate the issue by reducing the session timeout to 1 minute so that the chances of calling autologin increases as a result the exceptions increased and with this exception we had two issues.
1) Randomly this exception was thrown
2) After exception is thrown we are redirected to error page and even after refreshing the page multiple times the app won't allow redirect us to l

[2016-06-21 08:51] fraf commented on #3736
I just revealed the (minor) bug. I prefer let someone else to correct it eventually. I'am a jhispter end user :).
Your title editing is quite better ! :)

[2016-06-21 19:32] ruddell opened #3749 "Entity Subgenerator continues prompts after errors"
##### **Overview of the issue**
If the entity JSON file has invalid JSON in it (such as a missing comma), the entity subgenerator fails to read the configuration file.  The issue is that it continues on and prompts the user for what action they want to take (regenerate, update, etc).
##### **Motivation for or Use Case**
Confusing to users, if the JSON is invalid it should say that and quit.  Curre

[2016-06-22 05:33] matamagu commented on #3176
I too get the same error.. I am trying build a microservices application following the instructions in https://www.youtube.com/watch?v=m0eZcfLHQyg

Here are the steps I followed..

1) Started JHipster Registr -> SUCCESS
2) Built a simple microservice. The application fails with below error message...

2016-06-22 10:56:43.796 ERROR 3456 --- [  restartedMain] o.s.boot.SpringApplication

[2016-06-22 08:25] jdubois commented on #3176
Please open up a ticket if you have a bug!

[2016-06-22 09:15] #3749 closed

[2016-06-22 09:25] jdubois opened #3752 "Document the use of Docker for Mac and Windows"
Now that Docker for Mac and Windows are out of "private beta", we should update all documentation for this, and this is probably going to simplify some pages, so that's really good.

**Warning** , when running the Maven "docker:build" command, there is one trick to document, the use (at least on Mac) of:

    export DOCKER_HOST=unix:///var/run/docker.sock

To solve the problem at https://github.co

[2016-06-22 09:26] jmayday opened #3753 "Excluding bower_components causes angular support not to work in IntelliJ"
Hi,

I've started using jhipster and IntelliJ at the same time thus I was struggling with problem for some time. The problem is related to IntelliJ Angular support. I didn't get Angular directives being proposed while typing (`<div ng-...`. IntelliJ was suggesting only some cloak related directives like `ng-cloak`, nothing else).

The problem seems to be caused by excluded `bower_components` direc

[2016-06-22 09:33] deepu105 commented on #3753
You can choose not to exclude `bower_components` and it wont be an issue.
we suggest the exclusions to reduce the time IntelliJ spends on indexing.
You can still exclude node_modules as you would use it only for gulp and I
dont think you will need much code assist there.

Thanks & Regards,
Deepu

On Wed, Jun 22, 2016 at 5:26 PM, Jakub <notifications@github.com> wrote:

[2016-06-22 09:33] #3753 closed

[2016-06-22 09:36] jmayday commented on #3753
Thanks for quick answer. Maybe it's worth mentioning how will it affect IntelliJ behaviour on that page? ([Configuring Intellij IDEA](https://jhipster.github.io/configuring-ide-idea/)).

[2016-06-22 09:48] deepu105 commented on #3753
would you like to do a PR to the documents site?

Thanks & Regards,
Deepu

On Wed, Jun 22, 2016 at 5:36 PM, Jakub <notifications@github.com> wrote:

[2016-06-22 11:05] jmayday commented on #3753
https://github.com/jhipster/jhipster.github.io/pull/282

[2016-06-22 11:09] PierreBesson commented on #3752
I'm not sure if we should remove the docs about docker-machine use. Especially on Windows were Docker for Windows is only available for "Professional" editions. Also Docker for Mac is still in beta.

[2016-06-22 12:27] cbornet commented on #2844
According to the JavaBean spec the "is" is for boolean, not for the Boolean wrapper.
Here is what is generated by IDEA for instance:
[code]

[2016-06-22 13:07] notflorian commented on #2844
I'm sorry to disagree @cbornet, but I didn't find in the [JavaBeans Specification 1.01 section 8.3.2](http://download.oracle.com/otndocs/jcp/7224-javabeans-1.01-fr-spec-oth-JSpec/) any example with Boolean object properties. For me, without clear guideline, what should prime is the consistency of the methods naming.

However, the Jetbrain team in this [IntelliJ issue](https://youtrack.jetbrains.co

[2016-06-22 13:36] wmarques commented on #3664
I was talking about the 2.0 router, didn't know about this new one. If it's the recommended one, I'd go on with this :)
Little issue I saw : the CSS files are inject with a `script` tag so they're not loaded anymore, seems to come from the `inject.vendor` task in gulp.

[2016-06-22 14:00] optimalab opened #3754 "base64.service.js decode method missing return statement"
##### **Overview of the issue**

The generated file src/main/webapp/app/components/util/base64.service.js has a method decode that lacks the return statement

##### **Motivation for or Use Case**

if you call the method you get an undefined value

##### **JHipster Version(s)**

3.4.2, manually migrated from a 3.4.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder*

[2016-06-22 15:43] sendilkumarn commented on #3664
Rc3.0 is released. https://github.com/angular/angular/blob/master/CHANGELOG.md
I think we can update

[2016-06-22 15:44] sendilkumarn commented on #3664
@campers :+1 We can use that.

[2016-06-22 16:26] cbornet commented on #2844
I had a look and the with the current implementation of java.beans.PropertyDescriptor any isXXX is accepted as getter for any type (even non boolean/Boolean) and it even takes priority over the getXXX if you have both in the bean ! I don't think this was intended in the first place but it makes the current isXXX for Boolean OK...

[2016-06-22 16:32] lordlothar99 opened #3757 "Upgrade submodule doesn't commit on jhipster_upgrade branch from second upgrade"
##### **Overview of the issue**

First upgrade (ie 3.4.0 -> 3.4.1) is commiting properly on `jhipster_upgrade` branch, but from the second upgrade (3.4.1 -> 3.4.2), codebase regeneration is commited on current branch (ie `master`), which may lead to user code deletions ; this problem was already submitted by @Invizible as a comment here : https://github.com/jhipster/generator-jhipster/issues/3696#

[2016-06-22 16:36] lordlothar99 commented on #3696
@Invizible you were right about the deletion of your code ; actually first upgrade (first time jhipster_upgrade branch is created), everything works fine, but from second upgrade, regeneration occurs on wrong branch (my misake !!!). I just opened issue #3757, and submitted PR #3758 with the fix ;)

[2016-06-22 17:09] Invizible commented on #3696
@lordlothar99, thanks for fix. And I have one question to you. I have jhipster project, generated with version 3.0.0. So as I understood, upgrade tool generates project in jhipster_upgrade branch with the current version and then installs newest version and generates project again. So since we didn't have this tool in version 3.0.0 we can't upgrade.
Can we update the script and at first install lo

[2016-06-22 17:27] notflorian commented on #2844
Ok, thanks :)

[2016-06-22 17:52] lordlothar99 commented on #3696
@Invizible ; upgrade submodule should be able to upgrade a codebase whatever the Jhipster version is (even before 3.4.0)...
but you are right : as jhipster update is global, if you have several projects on your computer, you may be face some issues trying to upgrade those without a `jhipster_upgrade` branch ...
I understand your proposal, and I think it would work.. could you plz open an issue ?

[2016-06-22 18:33] Invizible commented on #3696
@lordlothar99 yes, sure

[2016-06-22 22:26] Invizible opened #3761 "Sub generator upgrade: issue with upgrading projects generated prior JHipster 3.4.0"
##### **Overview of the issue**

Upgrade sub generator does not work correctly if project is generated with jhipster prior version 3.4.0.
I have a project generated with version 3.0.0. So when I wanted to upgrade it, I updated jhipster

`npm i -g generator-jhipster`

So that upgrade sub generator became available and when I ran it , sub generator created a new branch 'jhipster_upgrade', checked ou

[2016-06-22 22:32] jdubois commented on #3761
The upgrade sub-generator was released with JHipster 3.4.0 - it was never meant to work with older versions, and probably won't.

[2016-06-22 22:35] Invizible commented on #3761
@jdubois yes, you are right, but per https://github.com/jhipster/generator-jhipster/issues/3696#issuecomment-227824214 comment it can be used with older versions, I mean 3.0.0+ but <3.4.0

[2016-06-22 22:39] jdubois commented on #3761
Oh I didn't know that, pinging @lordlothar99 about it...
Anyway, does it really make sense to work on older versions for this? They just don't have the feature yet

[2016-06-22 22:49] Invizible commented on #3761
@jdubois But still there is another related issue, if we have several jhipster projects, generated with different version, 3.4.0, 3.4.1, 3.4.2, and you run jhipster:upgrade, jhipster version installed globally will be used (3.4.2, for example) and 3.4.0, 3.4.1 will not be updated because of the issue which I explained in description.

[2016-06-23 00:46] #3757 closed

[2016-06-23 01:14] #3754 closed

[2016-06-23 12:41] #3635 closed

[2016-06-23 14:43] Jie-Yang commented on #3730
@jdubois
Thank you for the reply. After spending days on this, finally I found the problem.
Be default, application.yml file is located in "src/test/resources/config" which can not be found by either "gradle test" nor "run as junit test". After I move the file to "src/test/resources", it works now.
As I know, by default, springboot will look for yml in "src/test/resources", so I must deleted the c

[2016-06-23 15:04] jdubois commented on #3730
I'm sorry but I've never had any problem with Gradle or "run as Junit" finding the configuration, I'm doing it all the time. Maybe an IDE misconfiguration?

[2016-06-23 15:32] Jie-Yang commented on #3730
I also have the same suspicion, but I do not know where we can config it in IDE?

Also based on SpringBoot Spec below, just like you said, there should be any problem to find the yml in config folder.

[2016-06-23 16:00] matamagu opened #3762 "Microservices Sample Application not working!"
I am trying to build a simple microservices based application following the steps in the tutorial video..
https://www.youtube.com/watch?v=m0eZcfLHQyg

I could get the code for Jhipster Registry and the Registry app is up and running.
In the next step, I create a simple micro service with one database object. The microservice doesn't start.. It fails with below error messages....

I am new to JHips

[2016-06-23 16:08] PierreBesson commented on #3762
Your issue probably arise from your microservice being unable to connect to the Registry, please check that your `eureka.client.serviceUrl.defaultZone` property point to the url of your registry.

Also please note that the issue tracker is not for support, it is a valuable tool for the team to track bugs, please ask your question in StackOverflow next time.

[2016-06-23 16:08] #3762 closed

[2016-06-23 16:15] lordlothar99 commented on #3761
thx @Invizible for creating the issue we talked about ; feel free to propose a PR, let us know if you need help !

[2016-06-23 17:14] PierreBesson commented on #3402
I have created a branch with initial support for swagger UI in prod. I'm not entirely satisfied with this as I've duplicated our custom `swagger-ui/index.html`. It needs the `jhipster.swagger.enabled` property to be set to true.

I'm wondering if the profile should be `swagger` instead of `no-swagger`. Because actually in the default config swagger is disabled. Also it would be better if we would

[2016-06-24 00:57] eredwan opened #3764 "Problem with one-to-one entity join to user entity. MapStruct issue? Nested object mapping?"
##### **Overview of the issue**

I am trying to map a second entity to the User.java entity. The relationship between User entity and the 2ndEntity is a one-to-one.

So in User entity, I have the 2nd entity declared like so:
[code]

Problem with this is that when I try to run the program, I get this error:
web/rest/dto/ManagedUserDTO.java:[45,9] no suitable constructor found for UserDTO(java.lang.

[2016-06-24 01:44] deepu105 commented on #3402
If you use profile to activate option you have to pass it always for dev
profile and might be a little inconvenient to people who are used to
JHIPSTER. But now we have a property replacement mechanism to set default
profiles may be we can use that to set this. When I originally implemented
this we didn't have the property replacement mechanism. If you can make the
switch without any side effects i

[2016-06-24 01:46] deepu105 commented on #3764
This is not a bug or feature request and hence this is not the correct forum for this.
Please use Stack overflow for this. Tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster) and someone will help you out there.

This helps us to keep issue tracker clean. Also stack overflow will give your query a larger audience.

[2016-06-24 01:46] #3764 closed

[2016-06-24 06:15] pascalgrimaud commented on #3752
And with Windows7, we have to use docker-machine, right?

[2016-06-24 07:13] deepu105 commented on #3752
may be lets keep both docs as its always better to have more docs :)

Thanks & Regards,
Deepu

On Fri, Jun 24, 2016 at 2:15 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-06-24 07:19] SgElite commented on #3752
Hi, Julien

Dont know if this is the best place to ask this question, currently my setup is as shown below

1. Windows 10
2. Oracle VM VirtualBox - v5.0.20 r106931
3. Docker Toolbox
4. node --version v5.9.0
5. jhipster v3.4.2

Problem/Issue
I have already started jipster registry, but I cannot select Microservice application or gateway
after running "yo jhipster"

I have create a couple of applica

[2016-06-24 07:58] PierreBesson commented on #3752
@SgElite You probably have a .yo-rc.json in the parent directory. So yeoman take this one and won't prompt you for questions.
Please don't ask for help in the issue tracker. Use Stackoverflow or Gitter.

[2016-06-24 08:03] PierreBesson commented on #3402
@deepu105, It seems like a great idea. I will try to do this. I don't think it will have side effect because in dev swagger-ui is launched though browsersync and it will be alright as long as jhipster.swagger.enabled is set to true.

[2016-06-24 08:38] SgElite commented on #3752
@PierreBesson

Thanks for the tip, will try that... had problem posting to Stackoverflow, cant find the link in Stackoverflow to raise a question.

Regards
James

[2016-06-24 09:14] wmarques commented on #3664
Another issue, Typescript compilation is made twice in gulp, I checked the gulpfile and I couldn't fix this... :(

[2016-06-24 10:07] gmarziou commented on #3402
You could also add extras profiles like the `swagger` profile in the `appilcation-dev.yml`, this way you make sure that our users have only to set dev rpofile to get swagger.

[2016-06-24 13:04] jdubois commented on #3752
@SgElite I'm not even reading, please open up another ticket if you have a specific issue

Now back to the discussion: It might be a bit early to migrate, OK, so I'm closing this.

[2016-06-24 13:04] #3752 closed

[2016-06-24 13:30] PierreBesson commented on #3402
Good news, I made it work well !

Thanks for your advice @gmarziou, I was going to set this in the pom.xml and the DefaultProfile conf class. Your idea is much better ! Although it has one disadvantage is that it displays profile in this order:
`Running with Spring profile(s) : [swagger, dev]`

[2016-06-24 14:50] deepu105 commented on #3402
That should be ok

Thanks & Regards,
Deepu

On Fri, Jun 24, 2016 at 9:31 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-06-24 14:53] atomfrede opened #3768 "Too many hibernate dependencies"
##### **Overview of the issue**

It looks like when using ``mongo`` some ``hibernate`` dependencies are still added to ``build.gradle`` and ``pom.xml``

##### **Motivation for or Use Case**

Nothing seems broken, but I think that is not correct. I have removed all hibernate dependencies from ``build.gradle`` and everything worked fine.

##### **JHipster Version(s)**

All

##### **Reproduce the err

[2016-06-24 15:19] jdubois commented on #3768
- for Envers I'm not sure, as we also have auditing on MongoDB -> I would be surprised there is some common code, but this should be checked before
- for Hibernate Validator I'm pretty sure we need it for Bean Validation

[2016-06-24 15:56] atomfrede commented on #3768
I also thought so, but I removed all hibernate dependencies from my build file, created an entity vial min and not null validation and everything works fine. I think the ``javax.validation`` is provided by spring validation. Will setup another sample with more validations to check what happens.

[2016-06-24 16:19] deepu105 commented on #3664
I fixed few issues.
There is some performance issues as well. for example seems like `TranslationStorageProvider` is being run too many number of times as we can see the log again and again. It could be happening for other providers as well

For me `tscompile` is running fine. what exact issue are you facing @wmarques ?

[2016-06-24 20:21] ruddell opened #3769 "EntityResourceIntTest Failures with Required Relationships"
##### **Overview of the issue**
There are out-of-the-box test failures when generating entities with required relationships.

##### **Motivation for or Use Case**
Tests should not fail on a fresh generated project.

##### **JHipster Version(s)**
Master, 3.2.0+ (required relationships added)

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
[code]
##### **Entity c

[2016-06-24 22:32] Invizible commented on #3761
@lordlothar99 , please take a look at my PR: https://github.com/jhipster/generator-jhipster/pull/3770

[2016-06-25 06:49] deepu105 commented on #3761
Im not sure if this is something that JHipster should handle. If you want to upgrade an older project you should first init a git repo commit your current code and then invoke the upgrade process. The project should already have a jhipster version in its node modules folder and it will be used when you run yo jhipster in that folder any time.

So for older versions if you want to use the upgrade s

[2016-06-25 07:36] jdubois commented on #3768
I thought Hibernate Validation was providing the implementations for those checks, but I've never looked at it in detail.... It should also add some extra, non-standard annotations: we need to check if people want to have them, or use them

[2016-06-25 08:38] Invizible commented on #3761
@deepu105  your steps won't work, because when you run upgrade,  sub generator clears the folder, it keeps only .git folder and yo-rc.json. Then it runs hipster. At this point you don't have local node_modules folder, and global hipster will be used

[2016-06-25 08:39] lordlothar99 commented on #3761
hi @deepu105 ! you are right, upgrade process would be slower due `npm install` runs... but at the same time, I know some developpers are expecting jhipster to be able to upgrade their old projects !!
Here's what I propose :
1. as described on https://github.com/npm/npm/issues/11283, people could use `npm set progress=false` to speed that up ; we could either include this command in the generator

[2016-06-25 08:50] ghahramani opened #3771 "[Microservices] Zuul Forwarding Error"
Hi, I always get Forwarding Error at the first time when the microservices came up and registered on jhipster-registry

Even I increase the timeout time like this

[code]

Note: The first call takes too long so it gets Forwarding Error because of timeout but it takes less than 30 seconds which I configured above.

You can produce it like this:
 - Run gateway first
 - Run one micoservice
 - Call an

[2016-06-25 08:56] jdubois commented on #3771
Can you give us your version numbers?
This probably depends on the Spring Cloud version -> I wasn't having those errors before, and indeed it seems that recently I'm getting the same issue

[2016-06-25 09:07] ghahramani commented on #3771
Actually I'm using the first release of jhipster 3 but I changed some part of that, like I upgraded to
- spring boot=1.3.5
- spring-cloud.version=1.1.0.M5
- spring-security.version=4.0.4.RELEASE
- spring-cloud-stream-dependencies=1.0.0.RELEASE

Note: I'm tracing your changes in your pull requests and commits and changing whatever you are changing, because I cannot upgrade jhipster easily, I change

[2016-06-25 09:17] Invizible commented on #3761
@lordlothar99 , I agree I can move _installJhipsterLocally to the  prepareUpgradeBranch task

[2016-06-25 10:34] deepu105 commented on #3761
@Invizible the process of generating the app to get the initial state was a work around to handle case were git repo was not present to avoid code loss. But if you know what you are doing you can very well create a git repo, commit your code and then update the local jhipster and then run the upgrader, it would ofcourse use the global jhipster which would be the latest and that was the point I sti

[2016-06-25 12:16] cbornet commented on #3769
It would be easy to fix for one level of dependency bit what if entity A requires B, B requires C, C requires D, ... ?

[2016-06-25 14:02] Invizible commented on #3761
@deepu105 take a look at my commit https://github.com/Invizible/generator-jhipster/commit/661d1f0a2e3b9b741a0e0dce12d2fc91f0c177bb
Now it installs jhipster locally only when jhipster_upgrade branch is being created, so it will happen only once.

[2016-06-25 14:25] lordlothar99 commented on #3761
@Invizible seems perfect to me ! one single little comment : plz take some time to read https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-git-commit-guidelines
:)

[2016-06-25 16:01] rpoitras commented on #3664
Another debug tool to add to your list - https://augury.angular.io/
I use IntelliJ and WebStorm.  If Typescript is enabled in the Languages & Frameworks settings, the 3 files (ts, js, map) are collected together.  There is a drop down arrow to expand to see js or map.  It cleans things up nicely.

[2016-06-25 21:09] atomfrede commented on #3768
I've create a sample with some validations on different types of fields and remove all explicit hibernate dependencies from pom.xml. Everything works fine. Modifing the request results in bad request with fine validation error message, so at least for the validations offered by the generator there should be no issue removing hibernate.

Here is the repository:
https://github.com/atomfrede/jhipster

[2016-06-26 02:35] deepu105 commented on #3769
Ya damn thata gonna be difficult. May be we can try to do for one level and add documentation to ask user to correct if there are nested validations

[2016-06-26 04:55] damayu2013 commented on #3771
i have same problem long time; here is my version:

windows 10
jhipster 3.4.1 and uaa

{
  "generator-jhipster": {
    "jhipsterVersion": "3.4.1",
    "baseName": "isc",
    "packageName": "com.example.isc",
    "packageFolder": "com/example/isc",
    "serverPort": "8080",
    "authenticationType": "uaa",
    "uaaBaseName": "uaa",
    "hibernateCache": "hazelcast",
    "clusteredHttpSession": "no"

[2016-06-26 06:45] jdubois commented on #3768
Great!!! Maybe we should also remove it for SQL and Cassandra ?

[2016-06-26 09:50] SeitArt opened #3773 "“yo jhipster:entity” with one-to-one relationship does not create entity"
##### **Overview of the issue**
I tried to add entity "blog" with relation one-to-one to fresh jhipster's project, but no results, jhipster generator did not add the entity "blog" to my project.

    $ yo jhipster:entity blog

    The entity blog is being created.

      Generating field #1

    ? Do you want to add a field to your entity? Yes
    ? What is the name of your field? name
    ? What

[2016-06-26 09:53] jdubois commented on #3773
I've seen your question on SO, thanks for posting it here - it's a bug, it's the right place :-)

If this is only for one-to-one relationships, that would explain why we didn't see it, as it's not a widely used relationship -> still this is worrying, we **need** to add some tests for one-to-one relationships, so that this never happens again

[2016-06-26 09:54] jdubois commented on #3773
@SeitArt can you also give your node version? It might depend on it.

[2016-06-26 09:55] SeitArt commented on #3773
node version v5.7.1

[2016-06-26 09:58] jdubois commented on #3773
OK, that might be an issue -> we never test unstable releases, and they probably won't work.
We currently support LTS (4.x release), as well as the new stable 6.x release (throws some warnings, but works OK). Can you test with the latest 4.x release?

[2016-06-26 10:50] atomfrede commented on #3768
Do we have some tests with validations? I'll create a PR.

[2016-06-26 11:04] SeitArt commented on #3773
I've tested on node v4.4.6  - same error.

[2016-06-26 11:15] jdubois commented on #3773
Great, thanks !

[2016-06-26 11:20] SeitArt commented on #3773
sorry for offtop, should I close answer on SO?

[2016-06-26 11:21] jdubois commented on #3773
You can answer it's a bug and link to this ticket

[2016-06-26 14:27] ouatrahim opened #3775 "Error 500 on PUT POST and DELETE on Pivotal CloudFoundry"
##### **Overview of the issue**

Hello
I builded a jhipster app and worked on it locally and everything seemed to work fine. I tried to push it on Pivotal CloudFoundry but in the first try it keeped crashing. I tried to look for the problems and it seemed to come from a @Autowired annotation on the MetricRegistry so i disabled the MetricRegistry and the apps run!
You can access it on [this link](h

[2016-06-26 14:48] ouatrahim commented on #3775
Here is my CongeResource class if it can help
`package com.iodev.web.rest;

import com.codahale.metrics.annotation.Timed;
import com.iodev.domain.Conge;
import com.iodev.domain.Disponibilite;
import com.iodev.domain.Salaire;
import com.iodev.repository.CongeRepository;
import com.iodev.repository.DisponibiliteRepository;
import com.iodev.repository.UserRepository;
import com.iodev.repository.searc

[2016-06-26 14:53] cbornet commented on #3769
The solution could be to use liquibase to create an instance of each entity with a defined ID. What do you think ?

[2016-06-26 16:18] deepu105 commented on #3769
Ya we could try that

Thanks & regards,
Deepu
On 26 Jun 2016 22:53, "Christophe Bornet" <notifications@github.com> wrote:

[2016-06-26 17:34] jdubois commented on #3775
- we don't need all your code, just the `.jhipster/*.json` and `.yo-rc.json` files, with them we can easily rebuild your application.
- did you use the JHispter CloudFoundry sub-generator?
- can you send your stacktrace? That's the only way to know what happened

[2016-06-26 18:16] ouatrahim commented on #3775
Thanks for the answer.
.yo-rc.json
`{
  "generator-jhipster": {
    "jhipsterVersion": "3.4.0",
    "baseName": "iodev",
    "packageName": "com.iodev",
    "packageFolder": "com/iodev",
    "serverPort": "8080",
    "authenticationType": "session",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "no",
    "websocket": "no",
    "databaseType": "sql",
    "devDatabaseType": "postgresq

[2016-06-26 23:56] viniciusboson opened #3778 "Default generated application fails to startup due failure to connect to Registry"
##### **Overview of the issue**

The default generated application for microservices is not starting up. It seems that SpringBoot is not being able to connect to Registry.
[code]

##### **JHipster Version(s)**

JHipster Generator v3.4.2

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
There was no such generated  `.yo-rc.json` inside root folder at this point.
S

[2016-06-27 04:24] ouatrahim commented on #3775
## Update

I tried to build another app to reproduce the issue and seemed like it's reproductible
The new app is running [just here](http://testiodev.cfapps.io/#/)
The default credential is enable.

## Issues

It's impossible to register a new user and the creation of entities keeps sending back 500 error.

[2016-06-27 04:39] ruddell commented on #3778
The error states that your app can't connect to JHipster Registry, this project needs to be running at the same time.

You can clone the repository [jhipster/jhipster-registry](https://github.com/jhipster/jhipster-registry) and run it locally with `./mvnw`.  Another option is to run the [Docker image](https://hub.docker.com/r/jhipster/jhipster-registry/), if you do this make sure to update the reg

[2016-06-27 06:09] jdubois commented on #3778
Thanks @ruddell -> closing this

[2016-06-27 06:09] #3778 closed

[2016-06-27 06:12] jdubois commented on #3775
OK but I really need your stacktrace, that's the best way to know what's happening - can you try `cf logs` ?

[2016-06-27 06:28] pascalgrimaud commented on #3773
I confirm the issue. Investigate a little bit. I won't have time to do more this morning

The sub generator is stopped at this line: https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L525 because `relationship.otherEntityRelationshipName` is undefined

Maybe related to https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/prompts.js#L1013

[2016-06-27 07:10] ruddell commented on #3773
My commit fixes it when the Entity is the owner.

If you choose User as the owner, the project compiles, but then expects the `jhi_user` table to have an `entity_id` field in it.  We could force the entity to be the owner when it is a relationship with User.

@jdubois I can add some tests for relationships this week, is the right file for this: https://github.com/jhipster/generator-jhipster/blob/m

[2016-06-27 07:19] jdubois commented on #3773
Hi @ruddell I'm sorry I don't have much time for the project at the moment, but yes I think you are right.
Thanks for all your help -> would you like to join the dev team?

[2016-06-27 07:35] pascalgrimaud commented on #3773
@ruddell : yes, it's the right place and it's the minimum

Better coverage would be adding to Travis here : https://github.com/jhipster/generator-jhipster/tree/master/travis/samples/.jhipster and complete https://github.com/jhipster/generator-jhipster/blob/master/travis/scripts/02-generate-entities.sh but it requires some work... but don't worry, I can do that later

[2016-06-27 07:51] ouatrahim commented on #3775
Here is the result of cf logs when i tried to register a user and to create a Conge.

`2016-06-27T07:43:54.584+00:00 [RTR] [OUT] testiodev.cfapps.io - [27/06/2016:07:43:54.569 +0000] "GET / HTTP/1.1" 200 0 867 "-" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/50.0.2661.102 Chrome/50.0.2661.102 Safari/537.36" 10.10.2.206:29108 x_forwarded_for:"154.66.171.40

[2016-06-27 08:10] wmarques commented on #3664
@deepu105 After a project generation gulp triggers `tscompile` twice for me.
@rpoitras Thanks I'll check this out :)

[2016-06-27 08:15] ruddell commented on #3773
@jdubois I'd love to join, sign me up please

[2016-06-27 08:41] #3773 closed