[2015-06-13 14:15] phouverney commented on #1555
Maybe one file config can help.
The API URL could be in this file.

[2015-06-13 15:11] deepu105 commented on #1604
I noticed this too but didn't look further since there was no issues and for dev i had multicast: false in the application.yml under hazelcast

[2015-06-13 16:59] jdubois commented on #1558
I'm using some specific Java 8 stuff in Mapstruct, so it just won't work with a Java 7 project. This could be back-ported, of course, but as Java 7 is EOL I have no interest in doing so.
For Spring Loaded, yes it breaks under several cases, and is generally quite buggy. That's why we have stopped using it.

[2015-06-13 17:01] jdubois commented on #1603
Can not reproduce, please have a look at [our contributing document](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) if you want more help

[2015-06-13 17:01] #1603 closed

[2015-06-13 17:18] jdubois commented on #1600
OK, we'll keep this here as it's better for discussion.

- Dropping Java 7 depends on how many people still use it: currently it's 20% of users, but it's going down, so for September that might be OK
- Of course we will migrate to Spring Boot 1.3, this is not what I would call a 3.0 version :-)

Here is what I wish we could have:

- Generate an [Ansible](http://www.ansible.com/home) configuration

[2015-06-13 17:37] phouverneyuff commented on #1600
I like it

[2015-06-13 17:41] atomfrede commented on #1525
@moifort Sorry I don't think a can have closer look this until monday, but it looks pretty awesome, great work :+1:

[2015-06-13 17:45] gmarziou commented on #1600
Interesting.

this one below is intruiguing:

Would it mean moving away from spring-boot or combining them?

[2015-06-13 17:52] jdubois commented on #1600
@gmarziou I'd just like to try a separate stack in another project, not move away at all from Spring. But if we can have a very close programming model, and that it starts up a lot faster (I'm talking less that 1 sec startup time), then that could be an interesting alternatives for some use cases.
For example, if we go "micro services", this could be useful for doing a front-end router.

[2015-06-13 17:58] phouverneyuff commented on #1600
We should take look in benchmark. Will be spark more fast, respond more request in one second, .. if we compare with spring rest?

[2015-06-13 18:00] gmarziou commented on #1600
Very interesting, I am starting looking at Dagger from Android standpoint, it'd be cool to leverage it also on server side.

[2015-06-13 18:06] atomfrede commented on #1600
@jdubois Are you planning any early access phase to get input from the "community"? Can't wait to try netflix stack and spark :)

[2015-06-13 18:10] phouverneyuff commented on #1600
I loved [retrofit](http://square.github.io/retrofit/) !

[2015-06-13 19:40] ygrenzinger commented on #1158
@jdubois j'ai normalement créé une Pull request à partir de mon fork. Dis moi si c'est bon.
J'ai essayé de suivre https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submit mais je ne peux créer de Pull request sans le fork sous Github :(

[2015-06-13 19:51] ygrenzinger commented on #1158
@jdubois I have created a Pull request from my fork. Tell me if it's ok.
I have tried to follow https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submit but I can't create a Pull request sans le fork in github screens :(

[2015-06-13 21:14] moifort commented on #1525
Thank you! @atomfrede no problem I will try to progress on the code.

[2015-06-14 02:49] deepu105 commented on #1514
Ok @atomfrede i played around with gradle to generate and package webservices to jar and use in JH so i guess ill try this out as well. So ill let you know if im unable to fix

[2015-06-14 03:01] deepu105 commented on #1600
Retrofit looks very hip

[2015-06-14 05:11] deepu105 opened #1605 "mapstruct DTO entity id generated as two fields"
when we generate a many-to-one with mapstruct DTO enabled and if we choose display name as id for the other entity the filed is generated both as long and string

here are the config

## Bar
[code]
## foo
[code]

generated DTO

[code]

The problem seems to be here in `_EntityDTO.java` i guess there needs to be a check before the String field name to see if it is not `Id`

[code]

[2015-06-14 05:28] Emeegeemee commented on #1469
I'm trying to completely remove my dependency on bootstrap and instead use bootstrap-sass. How did you guys go about getting the fonts from the sass version instead of the bootstrap? Or did you keep both dependencies?

[2015-06-14 07:50] deepu105 commented on #1514
@atomfrede i have tried something but im stuck

this is what i have done so far
[code]

the manifest jar seems to be generated properly but the javaExec task doesn't seem to be able to find the main class. below is the console.log

[code]

[2015-06-14 09:56] seghers commented on #1600
retrofit 2.0 will be great: auto retry etc...

[2015-06-14 11:12] gmarziou commented on #1469
When you generate your app with SASS option, first line of main*;scss is:

[code]

it works for me

[2015-06-14 14:25] Hafyane opened #1607 "add a new field to jhi_user jhipster"
gave me the different steps to add a new field to table(jhi_user)

[2015-06-14 15:47] jdubois commented on #1607
This is not a bug or a feature request, so I'm closing this. Did you read our [help page](http://jhipster.github.io/help.html)?
If you want to learn about Java, Spring and Hibernate, you can start with [this spring.io guide](http://spring.io/guides/gs/accessing-data-jpa/)

[2015-06-14 15:47] #1607 closed

[2015-06-14 15:55] jdubois commented on #1498
I think it really looks good, and I'd love to have this in JHipster.
Still, I can't test it -> @deepu105 I've used that one-year credit long ago... And I'm not going to pay for AWS... The good news is that I'm friend with AWS's head of developer marketing, I'm going to ask him for help!

[2015-06-14 17:17] Emeegeemee commented on #1469
Thank you very much I was trying to add node-sass to a project that was generated without compass so I didn't think to look at what was in the templates main.scss

[2015-06-14 18:58] piedrahitac commented on #1600
@jdubois How do you think we should go about this? I'm about to start developing a UAA/SSO OAuth2 solution for two JHipster apps. I was looking at Dave Syer's tutorial on the Spring page, but if there's an already made solution that's more robust and the community can benefit from it, then I would be willing to give it a shot.

Another feature that I think would be useful and save a lot of time in

[2015-06-15 00:02] moifort opened #1608 "Hidden bug with pageable resource and client side"
I use JHipster for several month now. I notice a "hidden bug", the problem appears when we use a pageable ressource.

## Context
JHipster will generate:
- A ressource object:
[code]

- An Angular-js service:

[code]
## Problem
If we use the entity `Test` in another entity (many-to-many, many-to-one... relationship), in the client side,  the other entity will call  in this controller `Test.query();

[2015-06-15 06:31] kirit93 commented on #870
Is there an easy way to extend hibernate envers to create an audit table for newly created entities?

[2015-06-15 06:58] gzsombor commented on #1608
You should use auto-complete component, otherwise selecting one element from hundreds wont going to work.

[2015-06-15 08:45] moifort commented on #1608
Yes, I am agree with you

[2015-06-15 08:50] moifort commented on #1608
Yes I am agreed, but by default if you generate without changing the code in the client side, we don't see it, for my case, it takes some weeks to detect the bug because we use some entity with a average 30 elements.

[2015-06-15 11:29] deepu105 commented on #1527
@jdubois do you want this PR?

[2015-06-15 11:35] deepu105 commented on #1600
for the regular folks :wink:
more field types [Blob, clob etc] with file upload field
revamp UX to be more hip, sidebar menu etc (I have already done this it looks great on both mobile and desktop)
better mobile support (for eg: no popup on mobile for entities)

[2015-06-15 11:37] phouverneyuff commented on #1600
@deepu105 interesting! I agree

[2015-06-15 13:27] cbornet opened #1609 "Missing fr translation in health.json"
Il manque dans i18n/fr/health.json:
[code]
C'est mineur mais bon...

[2015-06-15 15:50] deepu105 commented on #1498
Btw i have an active account so i can help to test

[2015-06-15 15:51] mraible opened #1610 "Cannot determine embedded database driver class for database type NONE. If you want an embedded database please put a supported one on the classpath."
I created a new project last night that uses Gradle and PostgreSQL for its dev database. I was able to deploy it to Heroku and get it working fairly easily. This morning, I tried to run the app locally using "./gradlew bootRun". However, I get the following error on startup:

[code]

I've configured my application-dev.yml to have the proper settings from my local database, but it looks like this e

[2015-06-15 16:07] mraible opened #1611 "Failed to decode downloaded font on Heroku"
I'm using some custom fonts from http://themeforest.net/item/angulr-bootstrap-admin-web-app-with-angularjs/8437259 in my JHipster application.

I'm seeing the following warning in Chrome Developer Tools when I access my JHipster application at http://www.jhipster-book.com. I don't see this error when running locally.

[code]

I'm using these same fonts on a client's project (that runs on GAE) and

[2015-06-15 16:18] cbornet opened #1612 "Cassandra compression setting not taken into account"
[code]
is not correct. It should be:
[code]

[2015-06-15 19:27] mraible commented on #1610
This appears to be caused by integrating Heroku. If I execute the following command and clean, everything works fine.

    rm src/main/java/org/jhipster/health/config/HerokuDatabaseConfiguration.java

Having this class in my classpath seems to work fine on another project that uses Maven. Maybe Gradle isn't honoring the @Profile("heroku") annotation?

[2015-06-15 20:03] atomfrede commented on #1610
How does maven honor the ``@Profile`` annotation? At least I can't find anything in the ``pom.xml``. Does it somehow exclude from the classpath?

Regarding h2: It is also in scope test when using maven, so I put the same way to gradle.

[2015-06-15 20:12] mraible commented on #1610
I copied the pom.xml file from my other project and was able to confirm that it happens with Maven too, so I don't think it's a Maven vs. Gradle issue. Like Gradle, if I remove `HerokuDatabaseConfiguration`, it starts up fine. I'll keep investigating.

[2015-06-15 20:27] mraible commented on #1610
This appears to be caused by the lack of "url" specified in the datasource settings. Here's what JHipster generated by default (I specified PostgreSQL for dev):

[code]

Here's what works:

[code]

It seems that Spring Boot uses the url to determine if it should use an embedded database or not.

http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-sql.html

[2015-06-15 20:36] gmarziou commented on #1600
+1 for a menu that works better on mobile but I think it could be done any time.
I'm less concerned by entity views as in my projects I have never kept them as-is.

[2015-06-15 20:45] gmarziou commented on #1469
Just wanted to mention that I got this running on 2 Windows machines and one RedHat without problem.
I may try to run it on OSX too.

[2015-06-15 20:48] gmarziou commented on #1611
Maybe you could try to add it in the WebConfigurer

https://github.com/jhipster/generator-jhipster/blob/79a4abfc550ebd5cedd9c648d0f13b59816cefd5/app/templates/src/main/java/package/config/_WebConfigurer.java#L119

[2015-06-15 21:35] jdubois commented on #1612
Sonar would be a little bit smarter, it would see that as we do not override the toString() method, this is useless... And as I don't like coding one method for nothing, I'd say it's better this way.

Does anyone has an opinion on this?

[2015-06-15 22:00] jdubois commented on #1610
It's a bug in the generated code -> I'm pushing the correction and I'll do a minor release just afterwards

[2015-06-15 22:37] jdubois commented on #1610
OK, this is more complex than expected. I should have corrected everything within 10 minutes, but it's late, I don't have the time to do a new release now -> can you try it out in the "master" branch? Or wait a couple of days (I have lots of work at the moment)

[2015-06-15 22:51] jdubois commented on #1610
Sorry, I know what the issue is, but I can't find a correct solution now... and I don't have the time at the moment. I'll get back on this in a couple of days.

[2015-06-15 22:54] phouverneyuff commented on #1612
The correct way to compare enum is using equals directly. We don't need compare with your name.

http://stackoverflow.com/questions/1750435/comparing-java-enum-members-or-equals

Certainly it's false-positive in Sonar.

[2015-06-15 23:17] #1610 closed

[2015-06-15 23:18] jdubois commented on #1610
OK, I found a solution... I need more time to test -> if you can try on the "master" branch, it would help me a lot

It can have some impact on the CloudFoundry deployment, so this must also be tested

I'll do a release when this is fully tested

[2015-06-16 01:58] mraible commented on #1611
I tried adding the following to my WebConfigurer:

[code]
And it looks like the response headers are now being set correctly.

[code]

However, the warning still shows and the font is not used. Interestingly, the Bootstrap and FontAwesome fonts are fine.

https://jhipster-news.herokuapp.com/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2

Response headers:
[code]

Notice t

[2015-06-16 05:02] mraible commented on #1611
I was able to solve this, but I'm not sure how. In `WebConfigurer.java`, I commented out the three lines that configure caching headers, static resources and gzipping.

        if (env.acceptsProfiles(Constants.SPRING_PROFILE_PRODUCTION)) {
            //initCachingHttpHeadersFilter(servletContext, disps);
            //initStaticResourcesProductionFilter(servletContext, disps);
            //init

[2015-06-16 06:31] gzsombor commented on #1600
In my fork, there are enough changes alone for a 3.0 release :wink:
 - separation of the edit dialog, from the listing page (with proper url handling)
 - generation of separate services for the entities for proper and clear transaction handling
 - the DTO stuff, without MapStruct
 - separate 'test' spring profile, instead of the @IntegrationTest annotation

etc :-)

[2015-06-16 06:52] RobWin commented on #1571
I would be interested as well :D

[2015-06-16 07:32] wuethrich44 commented on #1498
This week I try to setup jhipster with rds. But this is a little bit tricky with security groups etc. I will publish my progress in this issue.

[2015-06-16 07:32] cbornet commented on #1612
The enum equals() expects an object and we are giving it a string. The effect is even worse than just sonar complaining : the compression param is not taken into account (ProtocolOptions.Compression.NONE is always used)
I rename the issue accordingly.

[2015-06-16 07:48] gzsombor commented on #1612
It's funny, that the 'ProtocolVersion' is handled correctly, only the compression is not

[2015-06-16 07:56] jdubois commented on #1612
Strange, indeed!
It's not really important, let's not argue on this : @cbornet can you do a PR? I will merge it.

[2015-06-16 08:31] cbornet commented on #1612
@gzsombor 'ProtocolVersion' is handled correctly because the test is:
if (ProtocolVersion.V1**.name().**equals(this.getProtocolVersion()))
which is correct.
@jdubois I will try to do the PR when I find some time...

[2015-06-16 09:03] gzsombor commented on #1612
Yes, that's what I've said too :)

[2015-06-16 10:02] ygrenzinger opened #1613 "Migration from Joda time to Java 8 time"
@jdubois the fork seems stable and the patch is ready

I have not implemented the proposed fix from last comments in https://github.com/jhipster/generator-jhipster/issues/1158

[2015-06-16 11:00] wuethrich44 opened #1614 "P8?l#L4^^XV"

[2015-06-16 11:00] #1614 closed

[2015-06-16 11:43] moifort commented on #1600
+1 @deepu105  for more field types [Blob, clob etc] with file upload field

[2015-06-16 12:33] jdubois commented on #1614
No I can't :-)

[2015-06-16 13:34] tuxxilla opened #1615 "Authorization may be bypassed using REST request"
I created a new jhipster application, logged in as "User" and tried to access the resource `/api/audits/all`.

According to `AuditResource.java` this should only be allowed for admins `@RolesAllowed(AuthoritiesConstants.ADMIN)`.

However it is possible to access this resource, when setting the `Authorization` header with the value of a logged in "User" bearer token.

Some other Urls are restricted

[2015-06-16 14:02] tuxxilla commented on #1615
Just investigated this issue and found the following solution: I updated `SecurityConfiguration.java` setting `jsr250Enabled` to true:

    ...
    @EnableGlobalMethodSecurity(prePostEnabled = true, securedEnabled = true, jsr250Enabled = true)
    public class SecurityConfiguration extends WebSecurityConfigurerAdapter {
    ...

I don't know if it is the right solution but it looks as if it works

[2015-06-16 14:19] mraible commented on #1611
After rebooting this morning, I was able to see this issue again and figured out the cause. As suspected, changing from `/assets/*` to `/assets/**` solved the problem.

    cachingHttpHeadersFilter.addMappingForUrlPatterns(disps, true, "/assets/**");

[2015-06-16 16:37] seghers commented on #1615
I use
    @PreAuthorize("hasAuthority('ROLE_ADMIN')")
 and not
    @RolesAllowed(AuthoritiesConstants.ADMIN)

[2015-06-16 17:12] gmarziou commented on #1611
This is strange, I looked at Tomcat code org.apache.catalina.core.StandardContext#validateURLPattern and could not find any evidence that '**' is valid.

[2015-06-16 17:26] mraible commented on #1611
Yeah, the issue came back again this morning after doing a redeploy. It certainly is strange that it disappears and then reappears.

[2015-06-16 18:47] lunias commented on #1454
Getting the same issue w/ generator-jhipster@2.16.0.

Clean install. Here is my yo-rc.json.

{
  "generator-jhipster": {
    "baseName": "rc",
    "packageName": "com.ethanaa.rc",
    "packageFolder": "com/ethanaa/rc",
    "authenticationType": "oauth2",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "no",
    "websocket": "spring-websocket",
    "databaseType": "sql",
    "devDataba

[2015-06-16 20:12] atomfrede commented on #1525
@moifort You have a few typos in your ``index.js``, such that you can't generate a project:  e.g. ``_userManagementDTO.java`` but it should be ``_UserManagementDTO.java``

[2015-06-16 20:44] moifort commented on #1525
My mistake! I will correct it (Find and replace action :disappointed:).

Do you see other things?

 By the way I try to work on the cassandra compatibility, and I would like to know how you test it? how you simulate a Cassandra or Mongo DB?

[2015-06-16 21:37] jdubois commented on #1600
@gzsombor yes you are correct. I'm sorry about this, I just don't have enough time to review everything, since I'm doing this on my free time. I will take some time off for JHipster 3, which will include reviewing your fork.

[2015-06-16 21:56] piedrahitac commented on #1525
@moifort Both MongoDB and Cassandra have official repos in the Docker registry, maybe you could take some images for a spin...

[2015-06-16 22:09] moifort commented on #1525
@piedrahitac Thank you!

[2015-06-17 03:42] phouverneyuff opened #1616 "Update dependencies: spring-security-oauth2 e hazelcast*"
The current version to oauth in project is 2.0.1.RELEASE, but exist the new version 2.0.7.RELEASE.
Link to see all versions:
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.springframework.security.oauth%22%20AND%20a%3A%22spring-security-oauth2%22

The same occur with hazelcast. In project is 3.4, but 3.4.3 is avaliable.
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.hazelcast%22%20

[2015-06-17 04:35] dilipkrish commented on #1508
Just released 2.0.2 also polished up the swagger-ui integration. Thanks for your feedback @gmarziou!

[2015-06-17 04:36] phouverneyuff commented on #1616
I changed in my project, but on update Hazelcast to 3.4.3, the build fails in class WebConfigurer.
Until the version 3.4.2 the build works.
"WebConfigurer.java:[74,13] method does not override or implement a method from a supertype"

I found in release notes that they changed the way to create instances.

http://docs.hazelcast.org/docs/3.4/manual/html-single/hazelcast-documentation.html#release-no

[2015-06-17 04:45] phouverneyuff commented on #1604
related with issue #1616

[2015-06-17 11:52] gmarziou commented on #1508
Great, I will update my jhipster sample project and if it's OK for jhipster team, I will propose a PR including migration to SpringFox and static doc generation.

[2015-06-17 16:20] geoaxis opened #1618 "Successful Login results in three different audit entries"
I did a PoC to show last 5 audit entries (with HTTP auth). It seems that when I do a fresh login I get three entries for one event (i.e. AUTHENTICATION_SUCCESS).

Expected would be one success per login.

It seems that some times though.

See the following audit logs for admin user

    Jun 17, 2015 6:18:12 PM	admin	AUTHENTICATION_SUCCESS	Remote Address: 127.0.0.1
    Jun 17, 2015 6:18:11 PM	admin

[2015-06-17 20:39] #1612 closed

[2015-06-17 23:46] mraible opened #1619 "Cannot monitor JHipster app on Heroku with New Relic"
When I first started deploying my JHipster application to Heroku, I did it with using "git push heroku master". Now when I try this, I get errors and the build fails. I'm using JHipster 2.16.0.

With Gradle:

[code]

Buildpacks:

[code]

With Maven:

[code]

Buildpacks:

[code]

Now that I'm using `heroku deploy:jar`, there's no way to add a newrelic.jar to my project and use it to enable New Reli

[2015-06-18 00:15] mraible commented on #1611
Today, I noticed that if I deploy my app with the following command, it works and the font is downloaded correctly.

    mvn install -Pprod -DskipTests && heroku deploy:jar --jar target/*.war

However, if I run the same commands via Jenkins, it produces this warning.

* Build / Goals and options: clean install -Pprod -DskipTests
* Post Steps / Execute Shell / command: heroku deploy:jar --jar targe

[2015-06-18 02:44] pmarrone commented on #874
I am also trying to get around this problem, since I need two or more instances of the same application running on the same server. Changing the name of the 'dataSource' bean method is not an option form me, since the idea is that applications can be configured from a configuration file without needing to recompile. I'll let you know if I manage to figure this out.

[2015-06-18 02:53] iuricmp commented on #874
@pmarrone Did you try this?

[code]

[2015-06-18 03:14] pmarrone commented on #874
I changed the poolname using a configuration property as @pvlastaridis  stated, like this

    config.setPoolName(propertyResolver.getProperty("poolname"));

The issue is changing the MBean name either by configuration or by some unique name generated automatically. Changing the 'dataSource' method name in the source code, is not an option, because that would not allow me to have two of the same a

[2015-06-18 04:28] brettwooldridge commented on #874
@iuricmp @pvlastaridis Someone more clever than me could probably figure-out how to use Sping's [RandomValuePropertySource](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#boot-features-external-config-random-values) to generate a unique pool name ... something like ```"mypool-${random.int}"```.

[2015-06-18 04:40] pmarrone commented on #874
@brettwooldridge: as @pvlastaridis said, changing the pool name alone didn't fix the name clashing since the MBean gets registered as 'dataSource' twice. Since changing the method name to 'dataSource2' was not an option for me, I used spring.jmx.default-domain property to avoid this collisions. Any thoughts about this? Feedback is highly appreciated.

As @sudheerp stated above, if you or your comp

[2015-06-18 04:52] pmarrone commented on #874
@brettwooldridge
The  `config.setPoolName()` function takes a string, so you should be able to generate a simple string in the most basic of ways. Similar to @iuricmp example, you could replace

    config.setPoolName("AARSHikaripool-" + env.getProperty("server.context-path"));

by

    config.setPoolName("AARSHikaripool-" + Math.random());

or even

   config.setPoolName("AARSHikaripool-" + Calen

[2015-06-18 05:30] brettwooldridge commented on #874
@pmarrone Is it possible to achieve with a [custom JMX domain configuration](https://github.com/spring-projects/spring-boot/blob/a49901f0dcc96e153114de99cd43a27ed986de12/spring-boot-autoconfigure/src/test/java/org/springframework/boot/autoconfigure/jmx/JmxAutoConfigurationTests.java#L137) this is dynamic?

[2015-06-18 07:58] arturozv opened #1620 "Error 500 instead of 401 on XAuthTokenFilter.doFilter when an AuthenticationException is thrown"
I'm trying to implement a force password reset functionality using a new field on User table. When the field is set, all requests should throw a new exception and return a new http code (419) until the User changes it's password.

Throwing an exception when executing XAuthTokenFilter.doFilter(...) causes a internal server error instead of calling AuthenticationEntryPoint.commence(...)

How to repr

[2015-06-18 09:57] jdubois commented on #1611
I agree with @gmarziou : as far as I remember, the Servlet spec does not understand "ant style" expressions. So `/assets/**` shouldn't work.

[2015-06-18 10:52] Qinwroks commented on #1590
fixed!
https://github.com/jhipster/generator-jhipster/pull/1621

[2015-06-18 15:03] Panthro commented on #1558
I have a Java 8 with intellij 14 and this issue has happened to my in a common run Application.main(). I guess this should be added as default in the pom.xml as many people will stumble into the same issue.
Or in the docs "for Development or Prepare IDE" should state to disable the processor or add dependency to the pom.

[2015-06-18 15:41] pmarrone commented on #874
@brettwooldridge What worked for me was setting **spring.jmx.default-domain** property in each instance configuration (in my case, with an externalized application.properties file).
So, in app 1 application.properties:

    spring.jmx.default-domain:   app1

And in app 2 application.properties:

    spring.jmx.default-domain: app2

I'm pretty sure you could set this automatically on runtime to a g

[2015-06-18 16:34] npapastefanakis opened #1622 "Pre-authenticated entry point called. Rejecting access - 401 error when home page loads"
Hi,
I would like to report the following:

1. I uninstalled everything concerning node.js from my mac and installed everything (npm, yeoman, jhipster generator etc..) from the very beginning in order to have the most recent versions!

2. Generated an  app without touching anything in the source code and without having any extra entity created and without having oauth, ehcache etc.. only spring sec

[2015-06-18 16:37] jdubois commented on #1622
Thanks @npapastefanakis
In fact this is a "normal error". When you open up the application, the AngularJS app first checks to see if the user is authenticated -> if you are not (you could be automatically authenticated, for example), then you have a 401 error code telling you you are not authenticated.
So this is in fact perfectly normal, you didn't have to remove this line.

[2015-06-18 16:37] #1622 closed

[2015-06-18 16:43] npapastefanakis commented on #1622
Hi! I didn't removed this line. This line (.antMatchers("/api/account").permitAll()) was missing from the java configuration.

Also the behavior was a little strange without that line. When I was trying to login as admin during those 401 responses due to angular service calls, I couldn't. It was giving me bad credentials BUT the audit table was saying that admin was successfully authenticated. I a

[2015-06-18 17:58] benkratz commented on #1376
Enums +1

[2015-06-18 19:41] #1605 closed

[2015-06-18 19:43] jdubois commented on #1622
No, I don't think you should have that line.
Only authenticated users should have access to that URL, other users should have a 401 error, this is normal.

[2015-06-18 21:40] wuethrich44 commented on #1498
@deepu105 I add RDS database support currently for mysql (https://github.com/wuethrich44/generator-jhipster/commit/9c6e6fc68cb56f806afca7f6eb34d335ed2a024c). I would be very thankful if you could take a look at it...

[2015-06-18 23:22] gmarziou commented on #1508
Here is the commit for sample webapp generated by jhipster 2.16.1 that shows the required changes.
@jdubois could you have a look and let me know if you want a PR.

It brings:
- no more swagger-ui directory under webapp
- no more swagger dependency in bower.json
- version of the API in application.yml
- static docs generated in HTML and PDF under target/api-docs
- possibility to customize docs by

[2015-06-19 00:37] deepu105 commented on #1498
Sure ill take look during the weekend

[2015-06-19 07:44] deepu105 commented on #1514
have opened this on gradle forum as well https://discuss.gradle.org/t/main-class-not-found-when-using-manifest-jar-with-javaexec/10179

[2015-06-19 07:53] npapastefanakis commented on #1622
When I am loading the site home page and user is not authenticated (no cookies, no anything), it is normal to have 401 error and go to the login page, so you are right on this and I do not want to debate your logic.

The problem is that this call is done in **an infinite loop** interrupting the real login process and as a result I cannot login to the site.

Check this out:

- I open the site with

[2015-06-19 07:58] jdubois commented on #1622
I don't have this issue, but some logic here was changed in the latest version (2.16.1), which might cause some side effect: what is your exact JHipster version number?

[2015-06-19 08:02] npapastefanakis commented on #1622
the pakage.json file says "generator-jhipster": "2.16.1".

I commented out line 70 in app.js file (//Auth.logout();) and it worked but I am not sure what is the impact to the rest of the functionality (ex. when token is expired etc..)

[2015-06-19 08:08] npapastefanakis commented on #1622
And I selected authentication type session.

[2015-06-19 08:38] gmarziou commented on #1598
@malikhan5049 This exception is harmless, that's why it's logged in DEBUG and Spring provides a fallback when you did not provide your own scheduler configuration.

Your log is not complete and as @jdubois said, if you set logging level to DEBUG on your code and you're not using `fast` profile you should see the init duration of swagger logged by SwaggerConfiguration:  "Started Swagger in {} ms"

[2015-06-19 08:46] gmarziou commented on #1508
If you prefer I could create 2 PRs: one for the springfox migration and one the static doc generation.

I'd be curious to know whether people really uses swagger web UI in production, in my projects I enable it only in dev profile and if someone asked for it, I would give the static doc in PDF or HTML.

[2015-06-19 09:12] liuxx532 opened #1623 "modify existing User entity field"
Hello, I just start to work on Jhipster, and got a question "Can I modify the exiting User entity field (normally expand the field) ?"
Like, sometimes I want to collect more information from users when users register.
I tried to "yo jhipster:entity user" to expand the filed, however, I am failed. I record the original field and typed them in when I    "yo jhipster:entity user", but there are many

[2015-06-19 09:59] liuxx532 commented on #1623
Hope I have demonstrated clearly, Thank you.

[2015-06-19 10:40] atomfrede commented on #1623
You could create a new entity with your additional data and just a relation between user and your new entity.

[2015-06-19 10:56] deepu105 opened #1624 "update to MapStruct 1.0.0.CR1"
@jdubois @atomfrede Any specific reason to use beta1 instead of CR1?

[2015-06-19 10:58] atomfrede commented on #1624
I think when it was integrated first CR1 was not yet available. For the gradle build I've used the same version as the maven build. So it could be updated I think.

[2015-06-19 11:01] deepu105 commented on #1624
btw @atomfrede mapstruct doesnt support nested property on the target is it?

[2015-06-19 11:11] atomfrede commented on #1624
Not sure. I have not that much knowledge of mapstruct yet.

[2015-06-19 11:28] malikhan5049 commented on #1598
@Gael yes that exception wasnt the problem actually swagger was taking too
much time for two reason mainly first i used fields with type LocalDate
(joda) in some of my entities and when swagger tries to create json for an
entity which is having LocalDate fields it starts creating json for
LocalDate class which was huge and i got fields of type LocalDate at many
places in my project anyway how if f

[2015-06-19 11:56] sadziu commented on #1370
It's problem only with token based authentication

[2015-06-19 11:57] jdubois commented on #1370
@sadziu thanks, that would explain the issue, as I wasn't able to reproduce!

[2015-06-19 11:59] sadziu commented on #1370
I've tried to debug it and it seems that Spring Security first login with admin rights and after that is loosing that information and trying to login as anon

[2015-06-19 12:29] gmarziou commented on #1598
Interesting, in my project I figured I had some kind of cycles between my entities and swagger spring mvc never ended, so I just disabled it for a while. Recently I upgraded to swagger springfox (as part of #1508) and the problem has gone.
So once I get a PR for springfox, I think it would be interesting that you try again.

[2015-06-19 12:37] gmarziou commented on #1623
Maybe the default entities like User could have a JSON description in .jhipster directory as custom ones have and so could be extended using entity sub generator?

[2015-06-19 12:45] gmarziou commented on #1598
Another thing that helped me a lot with this issue has been to use DTOs rather than entities directly in REST controllers.

[2015-06-19 12:48] malikhan5049 commented on #1598
right will try DTO approach

On Fri, Jun 19, 2015 at 5:46 PM, Gaël Marziou <notifications@github.com>
wrote:

[2015-06-19 18:17] atomfrede commented on #1623
:+1: @gmarziou Sounds great (what when the developer removes required fields?)

[2015-06-19 19:02] gmarziou commented on #1623
Well if you use a knife, you can hurt yourself and git is your best friend ;)

[2015-06-19 19:18] atomfrede commented on #1623
Yes of course, but you never know what people try to do ;)

[2015-06-19 22:18] liuxx532 commented on #1623
@atomfrede  your idea could be work. But how can I build the relation between the new entity and user? If With a foreign key I also need to expand the filed. The previous question comes back again

[2015-06-20 02:07] deepu105 commented on #1623
@liuxx532as of now you have to manually edit the entity and changelog files by hand to achieve this. You can create a userProfile entity and have it as a one to one in user entity but u have to manually add that in the user entity and edit changelog to add the foreignkey of userProfile to usertable

[2015-06-20 02:20] liuxx532 commented on #1623
@deepu105  I think Your suggestion is quit similar as @atomfrede, and actually I was trying to approach that. Firstly I tried to re-generate the user with a additional foreign key, but u know User is related with Anthority and PersistentToken, I tried my best to rebuild the relationships among them three, however there  are always some errors(too much import and dependencies make the rebuild get v

[2015-06-20 02:44] liuxx532 commented on #1623
I think many people sometimes want to re-generate the User entity to meet different kinds of requirements. Then I am to state my way to approach that, definitely it is not totally correct(Lol) but I hope we can discuss.
Firstly,  yo jhipster:entity user. Fill the fileds in, set  authorities as Integer, set persistentTokens as Integer as well, build one2many relationship with Authority and Persiste

[2015-06-20 14:32] kbjp opened #1626 "warning: jadira (hibernate user type) apparently leaking 3 DB connections during initialization"
Hi,
After religiously following HikariCP pool-size guidelines:
connections = ((core_count * 2) + effective_spindle_count) = 5 connections in my case
...and mysteriously running out of connections each and any time I was trying to open more than 2 parallel connections, I did a bit of investigation.
A) How to reproduce:
0) use MySQL as dev DB
1) in jhipster, add the following line in application-dev

[2015-06-20 16:26] jdubois commented on #1626
- Your analysis looks indeed correct
- I do have 3 active connections after starting my project, so it confirms what you say

The only doubt I have, is that when I deploy to the cloud (to Heroku for example), I'm using a free database (like elephantsql), and they give me a database with maximum 3 connections, and this works very well!! So I don't have this issue in production!

I will need to debu

[2015-06-21 07:09] pmarrone opened #1627 "CSRF cookies root path causes issues with multiple apps on different context paths"
While running multiple JHipster based apps with different context paths on the same tomcat instance, you can only log in into one application.

This seems to be caused by CSRF cookies being shared at the site level ('/'), since two applications won´t share their HTTP sessions, but each will try to overwrite the single CSRF-TOKEN shared across the site, causing the token to be valid only for one of

[2015-06-21 09:41] jdubois commented on #1627
That's a good point!

Yes the issue is that for people doing exactly what I'm doing at the moment:

- I have a Hapijs front-end reverse proxy
- I have several "back-end" JHipster applications, each running in their own JVM -> they are Spring Boot executable JAR files, and hence they run on the "root" context

So I have the same issue as you, but I can't use the same solution!

I guess we could con

[2015-06-21 10:37] gmarziou commented on #1627
What does bring Hapijs over nginx or apache httpd?

[2015-06-21 10:44] jdubois commented on #1627
@gmarziou it's node.js, so it's hipster :-)

It's mostly because I'd like to have the same technology (node) as our front-end code, so we don't have too many different stacks. I would like to do this in Java, but I'm not satisfied with the solutions I've seen.

- This is mostly an experiment, I have no idea what this will produce. I might create a specific JHipster sub-project for this
- It also k

[2015-06-21 11:45] gmarziou commented on #1627
Interesting

[2015-06-21 18:41] #1609 closed

[2015-06-21 18:41] jdubois commented on #1609
It's corrected, thanks!!

[2015-06-21 20:00] #1608 closed

[2015-06-21 23:53] michaelisvy opened #1628 "POM error in Eclipse/m2e with maven-processor-plugin"
I have a Maven error in Eclipse with the latest version of JHispter.

We need to add the below as part of:
org.eclipse.m2e/lifecycle-mapping

[code]

[2015-06-22 00:10] pmarrone commented on #1627
Well, if all applications are each on separate domains on their own ROOT context, which I agree would be the standard use case (IMHO, going for service.mydomain.sth saves some headaches you get when you go for mydomain.sth/service instead), wouldn't each application server context just resolve to "/"?

I was thinking that using the servlet context as the default path at least would solve this issu

[2015-06-22 01:13] kbjp commented on #1626
Simple work-around:
In your spring config file (application.yml) put jpa: properties: jadira.usertype.useJdbc42Apis: true/false (depending on if your DB driver is jdbc4.2 compliant or not). That way, jadira doesn't have to query the DB driver to figure-out its functionality; hence jadira will no longer open a DB connection during initialization...et voila ! :-)
Thanks for your feedback and thanks

[2015-06-22 04:41] pmverma opened #1629 "Plan for Material Design"
Hi,
Do this project has any future plan to add material design for the applications?

Thanks.

[2015-06-22 05:13] pmverma commented on #1600
I think JHipster is such a great project which makes ready-to-run in just minutes. And think too as the project is more than just entity generator and having CRUD on them.

Someone can also provides pure API backend so I wonder why the project should not have API versions like the one from GitHub?

[2015-06-22 09:18] gmarziou commented on #1629
For me, it just means using a Bootstrap theme that implements material design, so it seems very similar to #1526 which @jdubois proposed to add as a tip to the documentation.
Personally, I think jhipster should stay neutral in terms of look and feel and let the developers and his/her customers implement their own which is quite easy with bootstrap and sass.

[2015-06-22 10:26] jdubois commented on #1629
Yes, I agree with @gmarziou
Then, if somebody wants to volunteer to check whether our base application follows the Material UI/UX guidelines, he's welcome!

[2015-06-22 10:26] #1629 closed

[2015-06-22 13:18] moifort opened #1630 "Using brew.sh on Mac for JHipster setup"
@jdubois, you can maybe add on your documentation, in the setup section, for Mac user, an alternative to docker: http://brew.sh. It's a package manager for mac os platform, very easy to install (one command line). After installing brew.sh you can follow the `Local installation` section and it's work fine (work very well for me)

PS: I don't find how to add `Documentation` tag on the issue

[2015-06-22 16:05] cbornet commented on #1600
@piedrahitac For code generation of clients (angular, android, objc, ...) you can use https://github.com/swagger-api/swagger-codegen

[2015-06-22 17:42] mdireskeneli opened #1631 "Liquibase Error when using Oracle-DB"
When using Oracle-DB, there are some lines in generated liquibase files which are not compatible with oracle-database (I think it is meant to be for postgre-sql). So the database cannot be initialized at all.

Here is a part of the initial changeset file.
<code>
`<changeSet id="00000000000001" author="jhipster">
<createSequence sequenceName="SEQ_USER" startValue="1000" incrementBy="1" />
<createTa

[2015-06-22 17:47] jdubois commented on #1631
@deepu105 as you coded this, and that I can't test it, can you have a look?

[2015-06-22 18:02] mdireskeneli opened #1632 "Spring authentication failure after deployment with a war-file"
The spring-authentication does not seem to work after the deployment of the application as a separate war-file (not using executable war). The user cannot login at all with proper credentials and the browser makes constantly unsuccesful logout requests.
I am not sure what the cause is. I enabled the websockets while creating the project and am now using tomcat8.

[2015-06-22 20:15] jdubois commented on #1630
@moifort yes that's Homebrew, I use it all the time. I'm not sure what it would add to the documentation, what do you do with it that's so interesting?

[2015-06-22 20:16] jdubois commented on #1632
I can't reproduce your issue... Can you give me your version, your configuration, maybe a stacktrace? Do you have the same issue with the sample application?

[2015-06-22 20:28] jdubois commented on #1291
Now that the PR is merged this should be solved.
@ddewaele yes that's normal we call this endpoint to see if you are logged in or not -> if you are not (401 error), then you have the "not logged in" page

[2015-06-22 20:28] #1291 closed

[2015-06-22 20:28] jdubois commented on #1376
Merged!

[2015-06-22 20:28] #1376 closed

[2015-06-22 20:47] moifort commented on #1630
@jdubois, it's just an alternative, because at the beginning, I try to use docker on my mac but I have problems with docker app or Kitematic (not your container). It's not very interesting, but the idea was to propose an alternative for the personne who have the same problems like me.

[2015-06-22 20:47] jdubois commented on #1628
I just tried it with STS, and I didn't have any issue. It did prompt me to ask to download the plugin, but it all worked fine.
Do you have this issue with an older project? How did you import your project (I did a "import existing Maven project)?
You know that I don't use Eclipse normally, so I might be wrong.
BTW, I wouldn't put an unbounded version range, you could get any new version at any tim

[2015-06-22 20:49] jdubois commented on #1630
Yes, but the recommended installation [here](http://jhipster.github.io/installation.html) is already to set up your dev environnement locally.
I don't use Docker myself, I find it too slow and complex (on a Mac, if I was on Linux it would be a different story).

[2015-06-22 20:49] #1630 closed

[2015-06-22 21:07] jdubois commented on #1626
@kbjp that's great! But it's going to be really annoying to know (and test!) which driver is compatible! I couldn't find a good way to do it.

[2015-06-22 21:08] jdubois commented on #1626
I just tested with H2 and I confirm that it works!!! 0 connection now!

[2015-06-22 22:40] #1604 closed

[2015-06-22 22:41] jdubois commented on #1604
I should have corrected it with https://github.com/jhipster/generator-jhipster/commit/c0ddffd8539ba2a659685fc85ef0e1a97c95f0da
@deepu105 as you are our biggest HazelCast user, can you have a look at my code? I can't test with a real use case like you have, and I hope I didn't break anything.

[2015-06-22 22:45] phouverneyuff commented on #1616
@jdubois close it too please.

[2015-06-22 23:06] mdireskeneli commented on #1632
Hello Julien,

I have just made a new application with jhipster and tested it.
Version/Configuration:
<pre><code>
Welcome to the JHipster Generator v2.16.1
? (1/15) What is the base name of your application? jhipster
? (2/15) What is your default Java package name? com.mycompany.myapp
? (3/15) Do you want to use Java 8? Yes (use Java 8)
? (4/15) Which *type* of authentication would you like to use

[2015-06-22 23:08] #1616 closed

[2015-06-23 01:07] phouverneyuff commented on #1632
@mdireskeneli try add this line in application.yml

server:
    contextPath: /

You can change the contextPath to another value.

[2015-06-23 01:57] liuxx532 commented on #1623
@jdubois  Hope you can come to here, and give me some suggestion. Please have a look the process to rebuild the User entity is correct or not. Thank you very much.

[2015-06-23 02:14] phouverneyuff commented on #1623
@liuxx532 , extend the table JHI_USER. I made tree types of user using generalization.

http://infocenter.sybase.com/archive/index.jsp?topic=/com.sybase.stf.powerdesigner.docs_12.0.0/html/clug/clugp114.htm

![image](https://cloud.githubusercontent.com/assets/9394724/8297484/59b7eeee-1934-11e5-9bb4-0cd4a470026e.png)

[2015-06-23 02:22] liuxx532 commented on #1623
@phouverneyuff Thanks a lot for your ERD, but it looks like I am unable to see the full diagram(cannot see the right part), and I cannot access the url: """ http://infocenter.sybase.com/archive/index.jsp?topic=/com.sybase.stf.powerdesigner.docs_12.0.0/html/clug/clugp114.htm """.

Thank you.

[2015-06-23 02:32] phouverneyuff commented on #1623
@liuxx532 , I cut my ERD to you see only this part.

I made generalization. Gestor(manager), Cliente(client) and Funcionario(employee) are kind of User. The relationship between them are one-to-one(1:1).

Type in Google Images "Generalization" and you will see other examples.

https://www.google.com.br/search?q=generalization&safe=off&espv=2&biw=2133&bih=1100&source=lnms&tbm=isch&sa=X&ei=f8OIVbeKJ

[2015-06-23 05:45] jdubois commented on #1508
@gmarziou this is the next issue I'll have a look at, hopefully tonight.
Yes it could only work in dev profile, but as it's secured I don't think it makes a problem in production. PDF is great, but you can't execute it. Let's first migrate our current features as they currently work, and improve them afterwards.

[2015-06-23 07:34] MathieuAA commented on #1623
@atomfrede As a JHipster-UML guy, I couldn't agree more. Composition is the best solution (and it should be preferred over inheritance in this case).
The only advantage inheritance has (here) is that we don't have to modify the User entity. However, inheritance still needs to be correctly implemented (which, to my knowledge, .is not)
On the other hand, composition requires the User entity to be al

[2015-06-23 08:18] mdireskeneli commented on #1632
I added the line <code>contextPath: /</code>
<pre><code>Caused by: java.lang.IllegalArgumentException: Root ContextPath must be specified using an empty string</code></pre>
Now I use the following configuration and it runs without any problems. Thanks !
<pre><code>
server:
    contextPath:
    port: 8080
</code></pre>

[2015-06-23 08:18] #1632 closed

[2015-06-23 11:31] deepu105 commented on #1604
@jdubois your code looks fine to me, but im a HazelCast newbie anyways, but Ill be deploying an app with 2000+ users in clusters towards end of July, It will be in a JBoss app server so ill be able to test out fully that time. For time being my developers are running with multicast set to false to avoid hazelcast scanning through local LAN
Ill post back if i found any issues with the new code

[2015-06-23 11:34] deepu105 commented on #1631
@jdubois yes ill look into this

[2015-06-23 11:37] deepu105 commented on #1631
@mdireskeneli what version of Oracle are you using, these lines are meant specifically for Oracle 12c, this makes use of the pseudo value support introduced in 12c. So if you are running anything below 12c it wont work and since Oracle 11g is EOL we will not be supporting that

[2015-06-23 11:39] deepu105 commented on #1624
@jdubois I have upgraded this in my project, do you want a PR? Im using it for JAXB :sunglasses:

[2015-06-23 11:41] deepu105 commented on #1571
I guess Ill close this issue for now, since i might not have time to implement this we can wait for spring boot 1.3

[2015-06-23 11:41] #1571 closed

[2015-06-23 11:47] jdubois commented on #1624
Oh yes! In your PR, don't forget the Gradle build (but that's easy)

[2015-06-23 11:49] deepu105 commented on #1624
I did only for Gradle in my app, I need to update Maven :P

On Tue, Jun 23, 2015 at 7:47 PM, Julien Dubois <notifications@github.com>
wrote:

--
thank you,
Deepu.k.s

[2015-06-23 12:35] gmarziou commented on #1508
OK, I'll wait for your feedback before working on the PR

[2015-06-23 12:36] gmarziou commented on #1508
I mean I can submit a PR just for migrating to spingfox and then we can work on next steps

[2015-06-23 12:42] jdubois commented on #1508
@gmarziou yes please do the SpringFox PR first, it looks like we have a lot of issues with Swagger at the moment

[2015-06-23 13:30] mdireskeneli commented on #1631
@deepu105
Yes, I was using Oracle 11g XE, since the express edition for 12c (which would be good to have for development purposes) has not been released. So I close the ticket when oracle 11g will not be supported. Thanks for the info!

[2015-06-23 13:30] #1631 closed

[2015-06-23 15:17] deepu105 commented on #1631
@mdireskeneli what do you mean not released? Im using 12c enterprise edition as well as a personal express edition on my laptop. You might want to check the website

[2015-06-23 15:48] deepu105 commented on #1498
@wuethrich44 looks good man :+1: ill try to test your branch this weekend

[2015-06-23 22:46] myspivey opened #1634 "Generate without security"
Interested in a method for generating project without any built in security enabled. Looking at integrating Stormpath (https://github.com/stormpath/stormpath-spring-boot-tutorial) as the security and ability to generate without security removes a lot of the overhead from the end scaffolded structure. Is there a way to do this currently?

[2015-06-24 05:01] deepu105 commented on #1158
@ygrenzinger did you forget to give a pull request?

[2015-06-24 08:01] #1586 closed

[2015-06-24 08:04] jdubois commented on #1634
No, at the moment you can't generate without security: this is one of our "basic requirements", as we thought everybody would want it.
Then, I had the same idea for i18n, and since the last version it's not a requirement anymore, so things may change!
I'm not sure it's really difficult to remove, just don't secure your URLs -> you will still have the Spring Security JARs and configuration, but I d

[2015-06-24 08:04] #1634 closed

[2015-06-24 08:05] mhicauber commented on #1610
I'm still having the issue with the latest release (I updated with `npm update -g generator-jhipster` and then ran again `yo jhipster`).

I checked the generated code : it does not contains the modifications of fix #1610. What is the proper way to get the latest jhipster generator containing the fix ?

Thanks.

[2015-06-24 09:13] gmarziou commented on #1610
Clone teh repository and use npm link as described [here](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup)

[2015-06-24 09:23] mhicauber commented on #1610
Thanks a lot I'll try that.

--

*Mon ordinateur fonctionne à l'énergie 100% verte, renouvelable, fournie
par ENERCOOP*
http://www.enercoop.fr/

2015-06-24 11:13 GMT+02:00 Gaël Marziou <notifications@github.com>:

[2015-06-24 10:27] vionita commented on #1600
If you are looking at different stacks in the context of microservices for JHIpster 3.0, then [QBIT](https://github.com/advantageous/qbit) looks to me like an interesting option.
Although, for the moment, personally I prefer sticking to the current stack.

[2015-06-24 10:30] vionita commented on #1600
Ansible seems to me like not a very popular provisioning tool. I would vote Chef on first place because is more developer friendly, and Puppet on second place. And they both have very well established communities.

[2015-06-24 11:08] savvaoff opened #1636 "jhipster:openshift"
please make this files executable also by default (chmod +x):
.openshift/action_hooks/build
.openshift/action_hooks/pre_build

[2015-06-24 14:54] ygrenzinger commented on #1158
I am a noob in pull request but it seems I can't create a pull request directly (the button is deactivated). However I have normally pushed a pull request from my fork.

I am open to help :)

[2015-06-24 16:03] Hafyane opened #1637 "Integrate vertical menu for admin profile (jhipster)"
I work on a project jhipster

I have had a blockage is part of angularjs, I would like to integrate a menu vrtical in the admin profile so I modified scripts/app/admin.js but nothing happens.

'use strict';

angular.module('pmappApp').config(function($stateProvider) {
    $stateProvider.state('admin', {
        'abstract' : true,
        parent : 'site',
        views : {
            'gmenu@' : {

[2015-06-24 16:24] jdubois commented on #1637
Nothing happens when you edit a file?
Either you changed the wrong file, or your OS has a serious issue!
I don't think this is a JHipster bug, so I'm closing this.

[2015-06-24 16:24] #1637 closed

[2015-06-24 17:04] hamark opened #1638 "Change database table's name"
Hi,
First, thank you for all you've done with this project!
I haven't found a way to change the database table's name when automatically creating or updating an entity. It would be great to have this feature when you have to comply to enterprise naming conventions.

[2015-06-24 20:14] jdubois commented on #1638
You can't change the default generated name:

- we can't have options for everything, it would make JHipster more complex
- we don't do options for things that are too simple: our value added is then very low

If you want to change a table name:

- Change it in your Liquibase configuration
- Change it in your JPA table mapping

That's all!

[2015-06-24 20:14] #1638 closed

[2015-06-24 20:15] jdubois commented on #1636
Does it change anything? I didn't see any issue at the moment with those files. What do you want to do?

[2015-06-24 20:17] gmarziou commented on #1638
What about having table name in the entity json file* so that it could be edited and re-run?

[2015-06-24 20:21] jdubois commented on #1638
I'd rather not have too many options here too: they are not really documented, and we use them for JHipster UML (and maybe other tools later!), so the more complex they are, the more trouble we will have later. Those files should be simplified first, but that will break JHipster UML, and that's not the moment to break it (it's near the end of the project, so my trainees should soon find a real job

[2015-06-24 22:31] savvaoff commented on #1636
they were not executed by Openshift (without +x).

[2015-06-24 22:40] gmarziou opened #1639 "gulp proxy does not work with websockets"
First time, I use gulp and websockets and I got this error in Firefox console:

[code]

So it would seem that gulp proxy cannot proxy ws protocol or maybe there is something to configure, I did not dig further.

[2015-06-25 00:54] deepu105 commented on #1600
I have done a soap/http webservice client generator extending jhipster it has below options

+ Choose between soap  or http client
+ xml or json for http
+ choose soap schema
+ provide in/out entities and in/out xml root
+ generate jaxb schema class jar
+ generate the client stub all wired up
+ optional mapstruct mapping layer to convert to and from domain entity and jaxb generated class

If there

[2015-06-25 01:29] deepu105 commented on #1158
@ygrenzinger I have opened a pull from your branch (dont worry commits will be credited to you)
https://github.com/jhipster/generator-jhipster/pull/1640

But seems like your branch is behind current Jhipster master a ~240 commits so it might be a good idea to rebase your branch against current master
follow this
[code]

you might get merge conflicts which you have to resolve and commit then do a `

[2015-06-25 01:38] deepu105 commented on #1639
could these be related?
https://github.com/jhipster/generator-jhipster/issues/1555

[2015-06-25 03:09] phouverneyuff opened #1641 "Allow translate the field ID by default"
@jdubois , I'll make one PR to this change.

The filed ID isn't translated by default.

All entity have the filed ID, so the name of the field should be in global.json.

[2015-06-25 03:19] michaelisvy commented on #1628
Hi Julien,
I'm using:
- JHipster 2.16
- STS 3.6.2
- JDK 1.8.0_20

Right now, as soon as I remove that statement, my POM shows an error. I'll try with the latest version of everything.
BTW, I had used an unbounded version because that's what I have in the JHipster POM for the other <pluginExecution> tags (that might be something you have improved in the latest version of JHipster.

The Maven config

[2015-06-25 03:21] phouverneyuff opened #1643 "Update Spring Security from 4.0.0 to 4.0.1"
I'll make one PR with this change.

[2015-06-25 03:44] michaelisvy commented on #1628
Just so you know, I've updated to the latest version of JHipster and STS. I still have the same error.
There might be something wrong with my project, I'll try to generate a fresh one and will see how it goes.

[2015-06-25 03:49] phouverneyuff opened #1645 "Translate default messages to pt-br"
Are missing translations to pt-br.

I'll make one PR to this.

[2015-06-25 04:53] phouverneyuff opened #1647 "Error on Heroku deploy using Hazelcast ( master branch )"
@jdubois , after update the jhipster to master (we update hazelcast and we changed how to initialize one instance) and to update my app, when deploying to the heroku, the following error occur:

[code]

My .yo-rc.json
[code]

I created on branch in my app that works and other that not.
I changed between them and I confirmed that the problem is with jhipster version.

[2015-06-25 05:38] gzsombor commented on #1600
Sounds interesting ! :+1:

[2015-06-25 08:04] jdubois commented on #1647
This is not exactly your issue, but I don't think you can have Hazelcast working with Heroku: Heroku works on top of AWS, so you can't do multicast. I don't know how you could have your distributed cache to work.

[2015-06-25 08:39] deepu105 commented on #1600
These are the current questions I use, i guess this would be useful for enterprise users who will have to deal with lots of webservices
[code]

[2015-06-25 08:58] gmarziou commented on #1600
@deepu105 for generating the client in HTTP what did you use? [swagger-codegen](https://github.com/swagger-api/swagger-codegen)  seems interesting.

[2015-06-25 09:08] gmarziou commented on #1639
For PR#1508, I added /websocket/tracker to the URL to be proxied by gulp but this worked only for http not ws.
Since BrowserSync feature was added, our grunt file is different with regards to proxying, so maybe there's something to dig.

[2015-06-25 09:30] deepu105 commented on #1600
@gmarziou  i used spring restTemplate as I found it simpler actually. havent looked at swagger yet. is it better?

[2015-06-25 11:04] phouverneyuff commented on #1647
Maybe using Redis

[2015-06-25 12:35] phouverneyuff commented on #1647
@jdubois , using the version 2.16.1 it's works fine.

I tested again using Hibernate Hazelcast and works.

You can see that I'm using Heroku and Hibernate Hazelcast.

[code]

[2015-06-25 12:36] gmarziou commented on #1600
I can't tell as I just read the docs, I thought it would make a good fit with jhipster. I may give it a try within weeks.

[2015-06-25 13:14] cbornet commented on #1600
@gmarziou @deepu105 I would stick to swagger-codegen as it is capable to generate clients in a variety of languages. An integration into jhipster would be great.
@deepu105 You want to do a spring client ? For IS-to-IS com ? Right now, swagger-codegen doesn't generate a spring client, there is only a java client using jackson and jersey-client. If you want to generate a spring client, you can provi

[2015-06-25 13:24] cbornet commented on #1158
Just a comment : I think this PR will make Jhipster incompatible with Java 7. Although I think, dropping Java 7 support is a good thing, maybe other users will complain ?

[2015-06-25 17:24] #1641 closed

[2015-06-25 17:24] #1643 closed

[2015-06-25 17:24] #1645 closed

[2015-06-25 17:28] jdubois commented on #1158
@cbornet that's a blocker issue
Yes we will end Java 7 support in some time, but at the moment 20% of our users are using it, so we can't drop it now.

[2015-06-25 22:27] phouverneyuff opened #1648 "Allow manage users and authorities"
@jdubois , I'd like to start one PR to create a feature to manage users and roles.

Besides to use liquibase to insert authorities(roles), users and to associate user with authorities, I think that would be interesting there is in the menu a function to manage users and roles.

What do you think?

[2015-06-25 23:04] gmarziou commented on #1508
@dilipkrish : about performance, I was wondering whether we could initialise SpringFox on-demand rather than on application startup. So the price for introspection would be paid only on first request to /v2/api-docs URL.

[2015-06-25 23:28] dilipkrish commented on #1508
That's definitely next on the cards ... And caching of operations, parameters, return types and models.

[2015-06-26 00:58] deepu105 commented on #1648
I guess somebody is working on that PR already plz check open issues

[2015-06-26 01:00] deepu105 commented on #1600
Man but swagger looks more complex to me, but my forte is javascript so i might be biased

[2015-06-26 01:03] deepu105 commented on #1648
its #1525

[2015-06-26 01:19] phouverneyuff commented on #1648
Thanks!

[2015-06-26 01:19] #1648 closed

[2015-06-26 01:20] Qinwroks commented on #1648
yes. but not merged yet.(@moifort, not ready?)

[2015-06-26 01:26] mraible commented on #1611
For some reason, when I deploy using Jenkins, I see this issue. If I deploy manually from the command line, it works fine. I have Jenkins installed on the same machine (a MacBook Pro) that I'm running the command from, so it's a strange issue.

[2015-06-26 01:29] phouverneyuff commented on #1525
@moifort , can I help you with something?

I'll clone your fork and take a look.

[2015-06-26 05:05] Qinwroks commented on #1525
:+1:
@phouverneyuff great!
and authoritites management is very important!

[2015-06-26 05:35] atomfrede commented on #1555
@deepu105 Removing the ``root`` from ``cssmin`` tasks helps at least for images when deploying inside jetty under any path that is not the root context. Still issues with the glyphicons but should be possible to find a solution.

[2015-06-26 06:49] gzsombor commented on #1648
And there was a separate issue about creating new authorities: https://github.com/jhipster/generator-jhipster/issues/780 and a pull request: https://github.com/jhipster/generator-jhipster/pull/851 which was rejected, now the change lives on my fork ( https://github.com/gzsombor/generator-jhipster/commit/a9a9780931d1e4f6b2a32c41843f9982b7e6faa8 )

[2015-06-26 07:48] gmarziou commented on #1508
Great, keep up the good work :+1:

[2015-06-26 08:51] cbornet commented on #1508
:+1: for introspection on first request.

[2015-06-26 10:54] deepu105 commented on #1555
@atomfrede thanks, I guess websockets needs to be fixed as well

[2015-06-26 13:03] phouverneyuff commented on #1648
@gzsombor @deepu105, let's concentrate the conversation in the 1525

[2015-06-26 13:23] phouverneyuff commented on #1525
I think is important that we should use Resource instead of Roles in code. But this change would be made after this feature works.

Roles: ROLE_ADMIN, ROLE_USER
Resources: USER_CREATE, USER_EDIT, USER_DELETE, USER_VIEW, USER_LIST, USER_MANAGEMENT, USER_CHANGE_PASSWORD, ...

User have Role and Role have Resources.

Create, Edit and Remove User are resources, for example.

If the generator create 5

[2015-06-26 14:23] leleuj commented on #1376
Great! Thx

[2015-06-26 16:57] deepu105 commented on #1525
@phouverneyuff that would definitely be better than current role system coz in a real world application current role system is very difficult and manual to maintain

[2015-06-26 17:19] malikhan5049 opened #1649 "Social Sign in functionality"
Hi,

I was thinking it would be great if you can include social sign in functionality in jhipster

[2015-06-26 17:22] jdubois commented on #1649
We've already tried to make this, but without success. Not enough people looked interested, but maybe this has changed today, now that the project is more and more popular?

[2015-06-26 17:28] malikhan5049 commented on #1649
Yep in my experience so far this is the best thing i got chance to work on thumbs up!

[2015-06-26 20:50] phouverneyuff commented on #1649
+1
On Jun 26, 2015 2:29 PM, "malikhan5049" <notifications@github.com> wrote:

[2015-06-27 09:42] ygrenzinger commented on #1158
@jdubois each merge has its cost and with a generator difficult to put non regression test :/

Maybe the best way before killing the Java 7 compatibility is to create a Java 8 only branch ?

[2015-06-27 12:58] atomfrede commented on #1649
I like the idea to use social login. I use it really often (most of the time with my github account, don't know if spring social offers such an integration, but twitter, google and facebook will be sufficient for most people I guess),

[2015-06-27 14:22] pnreddysvu commented on #1649
There is one stop solution for all these. https://github.com/cloudfoundry/uaa
which works with github, facebook, twitter, linkedin, google, LDAP and local database users.
Another major feature is SCIM implementation http://www.simplecloud.info/
which is a user and user group management.

Advantages with Integrating with UAA

1. No need to maintain existing user maintenance code. It can be removed.

[2015-06-27 16:20] gmarziou commented on #1649
Sounds interesting, it raises some questions though:
- how tight to CloudFoundry is it?
- it seems to run only on SQL databases vs. JHipster that supports also NoSQL
- db migrations: it uses Flyway while JHipster uses Liquibase

[2015-06-27 19:03] andidev opened #1651 "Add new type Blob to entity generator"
Working on a PR

[2015-06-27 19:08] phouverneyuff commented on #1651
+1

[2015-06-27 19:17] jdubois commented on #1158
@ygrenzinger that would be hard to maintain, as we are not going to kill Java 7 at the moment (this doesn't make me happy, but that's 20% of users and I want them to be happy).

So at the moment we do switches in the templates, and it's annoying, but I don't think we have much choice.

I haven't looked at your code yet, so let me look at it first.

[2015-06-27 20:03] malikhan5049 opened #1652 "Nested entities are not getting validated"
Hi,

I am using Entities in place of DTOs in my project and the problem i was having is my nested entities which are not jsonignored are not getting validated though these entities have properties with validation annotations, workaround for this is to add a @valid annotation to these nested entites and all works fine so i was thinking may be it would be good to add @valid annotation at the time of

[2015-06-28 02:00] pnreddysvu commented on #1649
1. It is not tightly coupled with CloudFoundry. It can be used by any app.
2. Yes it does not support support NoSQL. Current JHipster also does not support OAuth2 with Cassandra. Only missing thing with CF UAA is MongoDB support.
3. Usually the UAA will be run as a separate service. I don't see Flyway as an issue if you run CAA as separate service.

[2015-06-28 07:22] moifort commented on #1525
Sorry for late answer and the delay, I was trekking in the mountains this week and I have a lot of work too :disappointed:.

I manage to make it works with the default install (Java8&7, SQL), but not tested with MongoDB (I need to create a docker), and I try to develop for Cassandra.

The last commit contains some errors after generation, I will try to stabilize it today.

@Qinwroks when you say a

[2015-06-28 08:36] moifort commented on #1525
I make a commit on my branch to fix the renaming and warning:
- Compile and Tested with Java7&8, SQL options
- Only compile with Java7&8 and MongoDB options

What remains to be done:
- Working with Cassandra
- Generate tests

[2015-06-28 08:55] atomfrede commented on #1525
I will again have a look and test it with mongodb options if you like.

[2015-06-28 09:00] moifort commented on #1525
@atomfrede yes! thank you! feel free to make any remarks!

[2015-06-28 09:36] moifort commented on #1651
:+1:

[2015-06-28 10:55] gmarziou commented on #1651
This is great because it can be hard to do it right with large objects.

There could be out of memory errors, issues about performance and streaming for reading and writing.

What about hibernate-validator, can it validate a blob max size or should a blob field be ignore in a validated entity?

[2015-06-28 12:18] #1624 closed

[2015-06-28 12:40] andidev commented on #1651
@gmarziou
Good point, If anyone knows how to handle size validation of blob fields please fill me in on this. I am quite unexperienced with blobs in databases so all suggestions are warmly welcome.

[2015-06-28 12:58] andidev commented on #1651
Any hints on what needs to be done in the mongodb version would also be appreciated. I guess all is needed is some serializer and deserializer annotation?

[2015-06-28 13:16] jdubois commented on #1651
@andidev not idea for MongoDB! And for Cassandra I should be more able to help, but I haven't done it yet with the new CQL Driver, only with Hector. -> in case of too much trouble, only make this option available for SQL, that's what most people use, so don't let the other databases slow you down.
As @gmarziou wrote, yes you need to validate the size, and yes that should be done in the controller.

[2015-06-28 21:11] andidev commented on #1651
So I have created an initial version but I'm not sure this solution is the correct way to handle blobs.
This is how it works:
The blob is included in the REST json when creating, updating the entity containing the blob.
The blob is displayed by showing the base64 encoded content of the blob. Blob data is added by a html input tag with type="file". I had to create a directive to bind the file data

[2015-06-29 12:02] #1555 closed

[2015-06-29 12:13] atomfrede commented on #1555
@deepu105 Can you check if it works for you as expected?

[2015-06-29 12:17] jdubois commented on #1555
@atomfrede @deepu105 can you keep me updated, as it's now merged in master?

[2015-06-29 12:43] deepu105 commented on #1555
Ok ill check and update

[2015-06-29 14:49] deepu105 commented on #1555
Ok tested with tomcat context root seems to be working for images and fonts, websocket needs to be fixed but thats a seperate issue hence ill open a new issue for that and this can remain closed

[2015-06-29 14:51] deepu105 opened #1654 "Websocket doesnt work with context path other than root context"
Discussion below
https://github.com/jhipster/generator-jhipster/issues/1555

Will try to find a fix

[2015-06-29 14:51] deepu105 commented on #1654
[code]

[code]

[2015-06-29 15:00] mmaczka commented on #1600
I would like to see some changes target on speed of development (I would be the one to decide this should be for me the top priority)

- Package some bits of jhipster (client & server side) to libs - upgrading the version of hipster should not be more difficult then updating mvn or bower dependency (e.g. login/regsitration)

- Give up on Spring autowiring and other features which slow down the sta

[2015-06-29 15:07] atomfrede commented on #1555
Yes correct, I didn't looked at websockets.

[2015-06-29 15:48] myspivey commented on #1525
+1 this is an essential piece of any application that has a registration system

[2015-06-29 17:15] savoisn opened #1655 "Jhipster:Clevercloud sub generator"
I've been working a lot with jhipster docker and clevercloud recently.
Would you guys like me to try to create a PR to work on that?

[2015-06-29 19:00] alvarowolfx commented on #1600
I think will be awesome to have a way to generate project using Scala language, I already used Spring Boot with Scala and they works well together. The Typesafe Activator have a template using Spring and Scala, but it's not a complete solution like JHispter.

I can dream big like this ? :rocket: hahhaha

[2015-06-29 20:20] gzsombor commented on #1600
Probably some frontend javascript could be packaged - and improved a lot, specially in the validation/error handling parts, but I doubt that from the backend you could make a working library. One of the main selling point of JHipster for me was the ability to customize everything, and the lack  uncommon/unnecessary dependencies. If you are bothered with that jhipster use 'login names' in audit fie

[2015-06-29 20:26] MatthieuLebigre opened #1656 "Use sub-package in the "domain" package"
In larger application, we often want to organize the domain in sub-package : "user", "food", "drink", ...
JHipster should by default use sub-package in the "domain" package for the default entities : User, Authority, ...
I know it's easy to change it "by hand" after, but when we upgrade JHipster and regenerate the application, it's easier if the entities are in the same package, to perform the dif

[2015-06-29 20:41] wuethrich44 commented on #1656
Please take a closer look at this discussion #1345.

[2015-06-30 00:32] phouverneyuff commented on #1655
The pricing isn't good.

https://www.clever-cloud.com/en/pricing/

[2015-06-30 03:48] deepu105 opened #1657 "Infinite loop in login page [master branch]"
There seems to be an infinite loop in login page if the user is not authenticated. Something seems to be broken @jdubois attention please I guess there was some recent commit to reroute to login page or something rite?

![image](https://cloud.githubusercontent.com/assets/1107223/8423575/ce519da6-1f1d-11e5-8453-b74c83d22609.png)

[2015-06-30 03:50] deepu105 commented on #1657
logout doesnt seem to work either

[2015-06-30 04:02] deepu105 commented on #1657
@jdubois seems like a context on path issue again
ill push a fix

[2015-06-30 07:17] Grant-Lay commented on #1185
FYI since adding oracle support in 2.16, each liquibase added_entity script has the following added to it:

<property name="now" value="now()" dbms="mysql,h2"/>
<property name="now" value="current_timestamp" dbms="postgresql"/>
<property name="now" value="sysdate" dbms="oracle"/>

<property name="autoIncrement" value="true" dbms="mysql,h2,postgresql"/>
<property name="autoIncrement" value="false"

[2015-06-30 07:26] deepu105 commented on #1555
@jdubois I have pushed two PR to fix the remaining context based issues (websocket and login page loop)

[2015-06-30 07:27] #1657 closed

[2015-06-30 07:27] #1654 closed

[2015-06-30 07:31] jdubois commented on #1656
Yes, I don't want to have something too complex from the beginning. Besides, if we have separate packages, it's going to be really difficult for us to do the imports, etc, as we won't know where the classes are.

If you want several packages:

- You can still refactor, of course, that's easy with an IDE
- You could have several applications, "micro services" style -> that's where I want to go with

[2015-06-30 07:31] #1656 closed

[2015-06-30 07:38] jdubois commented on #1655
- Docker would be good, but there are many ways to do it -> so yes I'm interested, but it depends on how you implement it, of course!
- CleverCloud is interesting, but as it's a paying service, I can't test it (same issue I have with Oracle, for example, and that's really annoying for me). Besides, I don't want to spend time maintaining stuff when it's a company making money on it (please note I'm

[2015-06-30 08:20] myspivey opened #1660 "Improve Elasticsearch Docs"
http://jhipster.github.io/using_elasticsearch.html does not detail much of the implementation of elasticsearch. Currently on deploy, always seeing "None of the configured nodes are available: []".

[2015-06-30 11:34] jdubois commented on #1660
There isn't much, because it's the standard Spring Boot + Spring Data Elasticsearch standard configuration. I will point to their documentation.

[2015-06-30 11:53] gmarziou commented on #1600
I like the idea of starting monolithic and swithcing to micro services when you need it as in [Martin Fowler's article](http://martinfowler.com/articles/dont-start-monolith.html).
So as long as JHipster enables this pattern at a reasonable cost it's fine for me.

[2015-06-30 12:10] myspivey commented on #1660
Id be interested to know why when pushing to production, leaving cluster-nodes as default and cluster-name set to a value, any persistence action either delete or create, throws an error. If I remove cluster-nodes value to use local, it stops throwing the error however search seems to stop working. That or I just do not understand how the search field is supposed to function. Regardless, seems lik

[2015-06-30 13:21] savoisn commented on #1655
Hum no not working for them at all... but I wanted to test things with docker and they are nearly the only one providing it... (of course there's google but it's very complicated to set up), but I understand your point competently.

Concerning docker

 - as you say there's a lot of way to implement it. I've been playing with some of those solutions and I am sure there's a lot I've haven't even see

[2015-06-30 14:24] waxzce commented on #1655
Hi @savoisn & @jdubois

First Thank a lot to @savoisn to bring some jhipster goodness to Clever Cloud. It's really great :-) I'm really happy when the community is helping Clever Cloud to be more efficient for everyone?

Jhipster is there to help people creating project quickly with java, and Clever Cloud is here to help people creating a service quickly without managing any hosting-related issues

[2015-06-30 22:06] cbornet opened #1661 "Oauth2 client_secret should not be visible in javascript"
According to http://alexbilbie.com/2014/11/oauth-and-javascript/ the oauth app credentials should not be visible in the javascript and a server-side proxy should be used
The arguments in the blog seem to make sense. Anyone has a different opinion ?

For the record, this is the angular code generated by jhipster:
[code]

[2015-07-01 00:59] mrtinkz commented on #1135
Glad it worked.

[2015-07-01 15:29] vkoop opened #1662 "Expired Token - Login redirect"
User should be redirected to login after expiration of their session token, if trying to open a protected area. At the moment the data doesn't load but the user doesn't get any feedback that the session expired.

[2015-07-01 15:34] CodyBrokeIt opened #1664 "entity generator - String field RegExp pattern not escaped in Java"
Generated an entity with a string field validated with this regular expression pattern:
^(?:[0-9]{1,3}\\.){3}[0-9]{1,3}$
to validate IPv4 addresses.

Compiling the application fails with:
[code]
(It doesn't like that `\.` in the middle there.

MyEntity.java, should be generated as:
[code]
(With the escaped `\\.`)

The javascript side functions fine. Its a minor issue that is easily corrected after

[2015-07-01 15:59] CodyBrokeIt opened #1665 "WebSockets - Authentication - Failed to send message to ExecutorSubscribableChannel[clientInboundChannel] - Access is denied"
Generated fresh application with
- Java 8
- Token-based autentication
- **Yes to Spring Websocket**
- Gradle

Start application.
Log in with admin/admin
Observe this Java error:
[code]
and this in the Chrome console:
[code]
From what I understand, the `Failed to load resource: the server responded with a status of 401 (Unauthorized)` is normal behavior, but the rest isn't.

Other than this error a

[2015-07-01 16:07] jdubois commented on #1662
It's already the case, I guess you are on an older version (next time, please read the guidelines, and give your version number)

[2015-07-01 16:09] jdubois commented on #1664
Yes, that's because the Java and the JavaScript patterns are different.
We basically just copy the regexp you enter to both Java and JavaScript -> in your case, do you mean we should replace all ```\``` by ```\\``` in Java?

[2015-07-01 16:10] jdubois commented on #1665
No problem at all :-)
But can you check if this isn't already an known issue? This looks familiar to me.

[2015-07-01 16:10] vkoop commented on #1662
It didn't work with the latest checkout from the "master" branch from yesterday. Sorry, i will have an other look at the guidelines.

[2015-07-01 16:11] jdubois commented on #1661
Can you check if this isn't an know issue? I've already seen this before.

[2015-07-01 16:21] jdubois commented on #1655
@savoisn OK the Docker build should be discussed -> we should separate this from the clevercloud sub-generator.
My proposal is that you open a specific ticket for Docker, and ask for people's opinions. You can even do a chat with all people interested in the [chat room](https://gitter.im/jhipster/generator-jhipster) -> if you need it I can tweet the date/hour of the talk, to attract more people

F

[2015-07-01 16:23] jdubois commented on #1662
Oh, if you are with version 2.17.0 it should be OK -> then that's a bug, but it's surprising as this was a new feature not so long ago.
Can you check this out? I'm reopening it as I guess you have a newer version.

[2015-07-01 16:30] CodyBrokeIt commented on #1664
Correct.

[2015-07-01 16:40] jdubois commented on #1665
Duplicate from #1370

[2015-07-01 16:40] #1665 closed

[2015-07-01 18:33] Vaelyr commented on #1525
I would suggest using User ID for queries instead of login name.

Also spotted a typo in javascript files for URL (/user-managment).

[2015-07-01 19:03] myspivey commented on #1525
UserManagementMapper also needs to exclude persistentTokens under the same rules as User

[2015-07-01 19:54] phouverneyuff commented on #1655
I had already created a script to run docker with jhipster and mysql.
This script download, configure, start, stop and enter in shell.

I can give the url of my github for you take a look.

[2015-07-01 20:02] moifort commented on #1525
@myspivey @Vaelyr thanks for the feedback!

@myspivey fix!
@Vaelyr for the ID it was my first idea, but I take the lazy way, because `UserService` have a method to find an user only on the login, but if it's important I can change it. Fix the typo!

[2015-07-01 20:15] Vaelyr commented on #1525
Right, I made another method that accepts id and just used .findOne, I would just prefer following the restful convention using id's in paths, also prevents any encoding problems if login names contain non-English characters in which case the text is escaped and becomes a mess.

[2015-07-01 20:54] CodyBrokeIt commented on #1370
I was able to fix this.

I had to disable CSRF within WebSockets. It appears is is disabled in the security configuration when using Token Based Authentication, but I guess we need to disable it in WebSockets as well.

See:
http://docs.spring.io/spring-security/site/docs/4.0.x/reference/htmlsingle/#websocket-sameorigin-disable

Is this the right solution here or is disabling that a bad idea?

[2015-07-01 21:02] gmarziou commented on #1370
Interesting link, were you able to disable CSRF only a subset of the URL [as they explain it for SockJS](http://docs.spring.io/spring-security/site/docs/4.0.x/reference/htmlsingle/#websocket-sockjs-csrf)?

[2015-07-01 22:45] cbornet commented on #1661
Oh yes, you're right. I didn't check well enough. This is a duplicate of #586.
Also, after some more readings, it appears the client secret is essentially used to identify the app (for instance so that we have different rate limitings for different apps) so this might not be a problem for jhipster

[2015-07-01 22:54] cbornet commented on #1257
@jdubois as for the token validity, I think the difference with the "remember me" token is that in the latter you have the choice as a user to use it or not. For users registering on a public computer, their refresh_token will be visible in the browser for 30 days. Maybe it would be better to have a "remember me" checkbox also for oauth2 that will decide if the refresh token can be writen in the l

[2015-07-02 04:03] phouverneyuff commented on #1525
@moifort , I made some PRs on your fork. Take a look after please.

[2015-07-02 05:14] CodyBrokeIt commented on #1370
It is disabled completely at the moment.

To me it appears the problem is that the authentication token is not being sent in the header of the WebSocket requests. No token, no authentication. SockJS does not allow for this [by design](https://github.com/sockjs/sockjs-client/issues/196).

Spring did a workaround for CSRF by including the token with the stomp header.

I'm not too familiar with this,

[2015-07-02 07:44] jdubois opened #1667 "Upgrade to Spring Boot 1.2.5"
http://spring.io/blog/2015/07/02/spring-boot-1-2-5-released

[2015-07-02 11:19] kevintvh commented on #1370
I got same issue just after upgrading to 2.17

[2015-07-02 11:32] jdubois commented on #1662
Fixed by #1663

[2015-07-02 11:33] jdubois commented on #1661
So this still looks OK... If anybody can review this, it would be most welcome, as I'm not an expert in that field.

[2015-07-02 11:33] #1661 closed

[2015-07-02 11:44] jdubois commented on #1660
Added the link to Spring Data Elasticsearch support in Spring Boot in https://github.com/jhipster/jhipster.github.io/commit/fd8bc3fb689c2ff16663bb90b762dcf9a7f7249a

[2015-07-02 11:44] #1660 closed

[2015-07-02 11:57] #1667 closed

[2015-07-02 15:11] miguelseia commented on #122
Can you help me with a clarification about security in rest controllers?

The question is related to the anotation @RolesAllowed(AuthoritiesConstants.ADMIN) in the method  findAll() of AuditResource class .

I login in Chrome with  the user credentials and, as expected, I dont have the administration  menu active. At the same time I tried a rest client plugin for chrome and call the http://localho

[2015-07-02 19:39] jhoelter commented on #1661
Agreed to get ride of the client credentials, definitely wrong

[2015-07-02 21:16] ajaygodbole7 commented on #1525
@moifort, @phouverneyuff

This functionality is fantastic and kudos for building the prototype. Can't wait to see it in the main release.

However, I would caution against modelling resources. Since JHipster is deeply embedded with the Spring framework, the concept of Resource in Spring is already utilised.
http://docs.spring.io/spring/docs/current/spring-framework-reference/html/resources.html
De

[2015-07-02 21:25] phouverneyuff commented on #1525
@ajaygodbole7 my intention is use ACLs.

We need decide the name of the things now. I agree that resource and role isn't a good name.

Maybe: User > Profile > Permission

[2015-07-02 22:45] ajaygodbole7 commented on #1525
@phouverneyuff

I think the concept of Roles is needed.

From my perspective,
Roles represent a set of permissions to take certain actions.
Users are granted a set of Roles.

So Users can take certain actions depending on Roles assigned to them.

Uers > Roles > Permissions

My Source: http://docs.aws.amazon.com/IAM/latest/UserGuide/roles-toplevel.html#roles-scenarios

Since JHipster's goal is to g

[2015-07-02 23:17] phouverneyuff commented on #1525
@ajaygodbole7 I agree with Role.
3. Ability to assign Permissions to Roles

[2015-07-02 23:42] phouverneyuff opened #1670 "Generate a default circle.yml"
I have a circle.yml set. I can make a PR for Jhipster generate it by default.

Anyone have interest?

CircleCI allow to test until 1 private repository and 3 open without limit and all this for free.
I prefer CircleCI instead of Travis.

We can generate both files to set environment and generate test.

I think that Continuous Integration is so important.

[2015-07-02 23:44] phouverneyuff commented on #1670
e.g.:

[code]

[2015-07-03 00:34] michaelisvy opened #1671 "Consider making naming consistent for CustomLocalDateSerializer and ISO8601LocalDateDeserializer"
I understand those 2 classes are meant to be used together such as in the below code sample:

[code]

Wouldn't it make more sense to have consistent naming for both classes?
We could call them CustomLocalDateSerializer and CustomLocalDateDeserializer
(and mention as a comment that they are meant to work basedon ISO8601 format).

[2015-07-03 03:49] LiuXiaoJie commented on #1600
An option to generate pure backend without frontend maybe useful.

[2015-07-03 03:54] piedrahitac commented on #1600
If I'm not mistaken, Julien has said before that it won't become an option since you can simply generate a project and delete the frontend related stuff without any trouble, so he doesn't think it's worth adding.

[2015-07-03 03:59] deepu105 commented on #1639
@gmarziou did you check after latest release?

[2015-07-03 04:05] piedrahitac commented on #1649
Actually, @jdubois mentioned it would be nice to integrate Cloud Foundry UAA in conjunction with a new micro-services oriented architecture in the JHipster 3.0 discussion thread.

I've been meaning to have a look at it, but I've been busy lately... However, some pointers would be highly appreciated.

[2015-07-03 04:12] piedrahitac commented on #1527
@deepu105 I think this is totally worth the PR, but that's just me...

[2015-07-03 04:33] deepu105 commented on #1525
@phouverneyuff @ajaygodbole7 @moifort Yes complex real world role mapping seems very difficult to achieve with current architecture. let me give you a real world use case that im trying to tackle, The same is done today in JSP with JSTL and stuff successfully, but with angular and REST API seems very difficult
cc @jdubois @gzsombor
* application has below structure from UI point of view
    * Modu

[2015-07-03 05:09] atomfrede commented on #1670
Maybe It is perfect for the tips 'n tricks section in the documentation.

[2015-07-03 05:15] deepu105 commented on #1525
@phouverneyuff I haven't used spring security much before so do you think ACL can work for my above use case? if so do you have any suggestion?

[2015-07-03 05:48] abhshekshah2885 opened #1673 "Want one more datatype which can store file in database (like : Blob)"
Hello,

Is there any support of field datatype of schema which could be store any file (like : *.docx,etc.) into the database. If any support available for this functionality then please suggest me..!! One more suggestion is that, if file could be store in database by user, so at that place file upload button should be available (UI Side) like file upload..!!

[2015-07-03 05:55] kevintvh commented on #1370
As @CodyBrokeIt  mentioned above. It works if we remove configureInbound() in WebsocketSecurityConfiguration but will it affect other websocket context in terms of security issues ?

[2015-07-03 06:05] atomfrede commented on #1673
@andidev is already working on that. See #1651

[2015-07-03 06:15] jdubois commented on #1673
Yes, this is a duplicate, please check before posting a new ticket (as asked in the guidelines)

[2015-07-03 06:15] #1673 closed

[2015-07-03 06:19] jdubois commented on #1670
Yes, if we generate the specific files for each specific vendor, this is going to be a real mess.
I need to check what the other generators are doing for this: there might be some special cases, for well-known vendors (and circle CI is one of them). At least I don't think we have an existing policy for this, and I need to work on it.

Anyway, this is a good configuration, and it should be shared -

[2015-07-03 08:16] lifeisfoo commented on #1096
You can use [bower overrides](https://github.com/taptapship/wiredep#bower-overrides) in order to get wiredep adding your locale file:

[code]

I hope this could be useful.

[2015-07-03 09:39] savoisn opened #1674 "Docker Sub generator"
Hi everyone,

As discussed in #1655,
I've been working quite a bit with Jhipster and docker to deploy an application on a PAAS.

Firstly before any discussion of what we can do with docker, I'd like to have a clear idea of what the community want out of a sub generator for docker.

here are a list of ideas that could be useful:
 - just a **Dockerfile**, that will be used to build an image
 - a **d

[2015-07-03 12:32] waxzce commented on #1655
ATM  we let @savoisn be lead and he will fwd us the lead if he left. Works for all ?

[2015-07-03 12:47] phouverneyuff commented on #1525
I think that the page is so much attach(I don't if this the right word for this) with your business. If anything change, you'll code again. Try something more generally. Roles have Resources. Only this. Don't use table.

Try use a Picklist. If role have the resources, should be in right, if not in left.

Currently I work with Resources and Roles.
Security in view is for user experience, security i

[2015-07-03 12:50] phouverneyuff commented on #1525
e.g
http://www.bootply.com/lFEZ9qOonX

[2015-07-03 14:10] jdubois commented on #1525
Hi guys,
Just don't use Spring Security ACLs. It just doesn't work:

- This has been available for years, and I've never seen anybody using it. Even while working at SpringSource.
- It's not even explained in the official Spring trainings
- I hate the way it's implemented, as you have your instances' permissions hard-coded in the database tables -> at least this used to be the case, I think it was

[2015-07-03 14:22] phouverneyuff commented on #1525
Ok @jdubois . At night I'll do model the new tables. ( JHI_RESOURCES and JHI_ROLES_RESOURCES).

Can I Use MYSQL Workbench to Model and send you or do you prefer other IDE?

I'd like to change the name JHI_AUTHORITY for JHI_ROLES. Can I?

[2015-07-03 14:30] jdubois commented on #1649
Yes, I've been testing CloudFoundry UAA and I had very high expectations for it. Unfortunately, I'm rather disappointed: it can't connect to other security providers, and it doesn't build with Java 8...
It still looks like our best option, as I didn't find any other good competitors, but it should definitely be challenged.

[2015-07-03 14:43] jdubois commented on #1508
Fixed by #1635

[2015-07-03 14:43] #1508 closed

[2015-07-03 15:12] jdubois commented on #1662
As #1663 was reverted, opening this again

[2015-07-03 15:16] jdubois commented on #1270
@ddewaele indeed, it doesn't look very complex.

As nobody as commented on this, and as I didn't see anybody else with this request, I don't think a lot of people have this requirement.
And as it adds more code, I don't think we should do it unless we have enough people asking for it, this is why I'm closing it.

But I agree it's nice, and not very complex to do, so I'm very open to do this later

[2015-07-03 15:19] jdubois commented on #1477
As nobody has worked on this, I'm going to close it.

We have less than 10% of users on MongoDB, and I guess the current way of working is enough for them -> it's good for me too, but I found this solution better as it was closer to the way we work with SQL and Cassandra

So if anyone wants to work on this, feel free to comment & I'll reopen this ticket

[2015-07-03 15:19] #1477 closed

[2015-07-03 15:24] jdubois commented on #1515
Same issue with SpringFox, unfortunately!

[2015-07-03 15:39] #1517 closed

[2015-07-03 15:40] jdubois commented on #1535
As nobody commented on this, and I haven't seen anyone requesting this, I'm closing this issue

-> I agree this is good, as I'm using it too usually using it too, but I don't want to add too many lines of code if people don't request it

Of course, this can change in the future, it's just a matter of not enough people asking for this.

[2015-07-03 15:40] #1535 closed

[2015-07-03 15:41] moifort commented on #1525
@phouverneyuff thanks a lot for your useful PR!
@Vaelyr you have a point! I will change it!
@atomfrede do you have the time to test with MongoDB?

[2015-07-03 15:44] jdubois commented on #1558
The main issue here is OK I guess -> my only issue is @Panthro 's last comment, which is of course correct.

As by default annotation processing is not enabled, that doesn't worry me too much.
And yes, I'm going to add a line in the IDE section of the documentation -> I'm doing this for IDEA as this is what I use, no idea what it does with Eclipse (if anybody knows, please add a line in the docume

[2015-07-03 15:49] jdubois commented on #1525
@phouverneyuff I don't understand why you want to add new tables, but I haven't followed this thread close enough, sorry. I will take the time to read it, but currently I'm trying to close older issues.
No don't change the JHI_AUTHORITY table name -> this would break stuff for too many people. Besides, the name comes from the default Spring Security schema, and even if it's not extremely good, we

[2015-07-03 15:55] jdubois commented on #1558
@Panthro I just tried it while I was writing the documentation, and I had no error at all! I guess it comes from a newer Idea version, or maybe we corrected something in JHipster. Anyway, I'm not adding the documentation as there is no need to!

[2015-07-03 16:06] jdubois commented on #1185
@Grant-Lay the MS SQL Server support is only in the tips section: http://jhipster.github.io/tips/004_tip_using_ms_sql_server.html

-> normally that should work out for you, otherwise don't hesitate to improve the tip!

Yes Oracle is now included in the generator, but this is only because it was submitted this way. I can't support any of those databases, as I don't have the licences, so it depends

[2015-07-03 16:09] jdubois commented on #1636
I tested it that way, so at least it used to work -> looks annoying that Redhat changes the way Openshift works without notifying!!!
Anyway, it shouldn't do any harm, so I'm doing the +x

[2015-07-03 16:09] jhoelter commented on #1649
Hello I find this topic interesting
I will help on the integration of third party oauth 2.0 identity providers (twitter, Google, but could also be a company one...)
I will have a look at the jhispter 3 microservices thread and comment back.
In case we provide the oauth 2.0 identity provider, it should clearly be a separated microservice.

[2015-07-03 16:09] #1636 closed

[2015-07-03 16:12] atomfrede commented on #1525
@moifort Sorry didn't had time, will try it today or on sunday latest. But it looks like there are no problems in your code.

[2015-07-03 16:26] gmarziou opened #1675 "Accessibility in JHipster"
Accessibility is an important matter and I think that JHipster could help promote good practices and tools in this area.

I recommend you have a look at Marcy Sutton's talk at JSConf US 2015 about [The Magic of Automated Accessibility Testing](https://www.youtube.com/watch?v=-XUmf_RPF8k). She is a primary contributor to [ngAria](https://docs.angularjs.org/api/ngAria), Angular's accessibility modul

[2015-07-03 16:36] MastaP opened #1676 "JHipster tutorial: build failure"
Hi,

I tried to follow the quickstart https://jhipster.github.io/presentation/#/6/2 , answered the questions as follows:

[code]

build failed.

[code]

[2015-07-03 16:42] gmarziou commented on #1676
Looks like a nodeJS environment issue, rather than following the presentation, I recommend that you [follow the official doc](https://jhipster.github.io/installation.html).

[2015-07-03 17:18] phouverneyuff commented on #1525
@jdubois , We want improve the permissions. But this is for future. Let's finish this PR first.

We want assign the permission instead of role(authorities) in code. It's more useful to code and more easy to maintain.

[2015-07-03 17:22] Vaelyr commented on #1525
Authority IS A permission. Role would be just a container that groups them. Only change in code would be that you loop through a role and assign the permissions that this role has to the Authentication object. It doesn't make anything better really.

[2015-07-03 17:55] phouverneyuff commented on #1525
If Authority is a permission, we shouldn't use ROLE_ADMIN and ROLE_USER.

ROLE is like a Profile.

So we need create a way to group the permissions to facilitate the developer.

[2015-07-03 18:03] moifort commented on #1525
@jdubois not really fast :(, sorry for people who wait this functionality, I have lot of work right know. But thanks to @phouverneyuff  and @atomfrede for their help!

[2015-07-03 19:37] phouverneyuff commented on #1517
@jdubois , the word "Test" should be reserved to.

[2015-07-03 23:07] phouverneyuff commented on #1670
Yeah. I'll fork the website and try write something.
Please help in some words. My English is weak.

[2015-07-03 23:28] phouverneyuff commented on #1651
Can I suggest this?
https://github.com/blueimp/jQuery-File-Upload

[2015-07-04 04:40] deepu105 commented on #1675
It will be good but then again like i18n does everybody need this?  I guess it would depend on individual use case

[2015-07-04 04:48] deepu105 commented on #1185
@grant-lay ms sql was a tip coz the changes you need to do are minimal and one time if im not wrong, for oracle its more complicated and would require changes in each entity liquibase file as well as name length and stuff thats why i submitted it as a generator option rather than a tip, else i also agree with jdubois that we shouldn't be doing non oss stuff

[2015-07-04 05:07] deepu105 commented on #1525
@phouverneyuff i guess the sample you showed will be too difficult for a layman user to use, which is my case, so im looking from a usability and user experience perspective as well, I want the users to be able to configure complex roles easily. I believe that complexity should be on the code rather than in the UX thats the whole point of softwares isnt it make things easy for users. So I guess as

[2015-07-04 08:50] wuethrich44 commented on #1498
@jdubois The script is ready for a first PR.

But the subgenerator will introduce three new dependencies in the `package.json` that only people need who use the aws subgenerator. Do you have a idea to install these dependencies dynamically or does this new dependencies doesn't matter?

I had a little discussion about this problem with @deepu105 in this commit https://github.com/wuethrich44/generat

[2015-07-04 09:41] atomfrede commented on #1674
I think a good solution would be a dockerfile + fig/docker-compose file to setup dependend infrastructure containers. The developer than can build the image on the local machine.

[2015-07-04 10:23] Panthro commented on #1558
@jdubois  I'll check it again later and report the status.

[2015-07-04 10:48] jdubois commented on #1558
@Panthro I wonder if that is not linked to #1680 -> Mapstruct might now be in the classpath because of SpringFox

[2015-07-04 10:50] jdubois commented on #1676
Yes, this is an installation error -> I know it's annoying for you @MastaP but we can't provide support for third-party tools, on which we rely (and yes, I'm disappointed by NPM comparing to Maven! But they have some new video tutorials which are great)

[2015-07-04 10:50] #1676 closed

[2015-07-04 11:57] deepu105 opened #1682 "Dependency console log is shown before the generator options"
The npm install and bower install log in console should be at the end of the questions,not before it
![image](https://cloud.githubusercontent.com/assets/1107223/8507824/b7dfef20-2286-11e5-910d-58c877c08440.png)

@jdubois  do you see the same or is this a windows only issue?

[2015-07-04 13:05] gmarziou commented on #1675
I don't think you can fairly compare i18n and a11y.

i18n is highly intrusive in your client code, it has a direct impact on your productivity as a developer because you cannot write text directly in your views, it has also a slight impact on performance.
So, if you don't need it, you get good reasons for not using i18n feature in JHipster.

None of these drawbacks are true for a11y.

10% of the p

[2015-07-04 13:26] jdubois commented on #1682
Yes same issue, since we migrated to Yeoman 0.20.1, which is asynchronous.
Not sure if there is an issue besides this message showing up at the wrong place.
Yes this should be audited.

[2015-07-04 13:43] deepu105 commented on #1675
I guess if its a grunt task its fine, as long as its not something you have to code into every view it should be OK. To be frank I havent done anything specific for accessibility so far coz it was never a requirement from my clients :wink:
But for a public website I think its a must to have but for web apps targeting a specific user group it may not necessary if the user group doesnt want it.

Any

[2015-07-04 13:46] deepu105 commented on #1682
so far i diddn't notice any other glitch from the migration, I guess we can move this log to the location were we print oracle related thing when it is selected coz it seems to be printing at the end properly

[2015-07-04 14:09] gmarziou commented on #1651
How does it compare to https://github.com/danialfarid/ng-file-upload ?

[2015-07-04 15:30] phouverneyuff commented on #1651
Good too. This is the demo:
https://blueimp.github.io/jQuery-File-Upload/angularjs.html

[2015-07-04 22:15] warleyc opened #1684 "Create entity metrics doesn't appear with gatlin test"
When I run the  gatlin test, the metrics for creating an entity doesn't appear in the metrics screen. but if I create an entity manually with the ui the metrics increment by one.

I created a new jhipster app with the default  settings
I created a new Entity with one field :
yo jhipster:entity MyEntity

I launched the application

I Launch the gatlin test :
mvn gatling:execute

Result with 200 ent

[2015-07-05 05:47] deepu105 commented on #1651
There is ng flow as well which some one already added in a jhipster sample, i have it forked in my profile

[2015-07-05 09:48] jhoelter commented on #1600
I definitely agree on the micro-services architecture step and the integration of spring-cloud Netflix stack. I already used and implemented their implementation of Zuul (reverse proxy) in combinaison of OAuth 2.0 and find it very relevant. I am happy to help on the micro-services architecture part.

[2015-07-05 12:33] atomfrede commented on #1525
@phouverneyuff How did you create a PR to @moifort repository? I would like to fix some things in the mongodb part.

[2015-07-05 14:01] phouverneyuff commented on #1525
@atomfrede yes
https://github.com/moifort/generator-jhipster/pulls
Please help us. lol

[2015-07-05 14:32] andidev commented on #1651
I've managed implement the min and max byte validation on both angular side and java bean side.
I've also switched to using the ng-file-upload instead of a homemade one. This will make it more cross-browser compatible and support older browsers.

@deepu105
ng-flow looks neat! Though it upload the file to the server directly after selecting it. My current implementation adds the blob data to the js

[2015-07-05 14:42] atomfrede commented on #1525
Ah thanks thats what I was looking for :)

[2015-07-05 17:27] gmarziou commented on #1651
Is your implementation similar the [Spring MVC example](https://github.com/danialfarid/ng-file-upload/wiki/spring-mvc-example) in wiki?

[2015-07-05 18:35] OAlQuaseer opened #1685 "Plugin execution not covered by lifecycle configuration"
Hey,
I am totally new to Jhipster and used it to generate my application but I am getting a problem in my pom file

 after getting everything generated by jhipster which is :-

Plugin execution not covered by lifecycle configuration: com.github.trecloux:yeoman-maven-plugin:0.4:build (execution: run-grunt, phase: generate-resources)

<img width="1440" alt="screen shot 2015-07-05 at 2 02 54 pm" src=

[2015-07-05 19:47] jdubois commented on #1684
You are correct, this is because we do a "put" and not a "post". This is something that changed in the UI recently, but I didn't change the Gatling test accordingly.
Anyway, I'm fixing this now.

[2015-07-05 19:49] #1684 closed

[2015-07-05 19:54] jdubois commented on #1685
Hi,
It's not really duplicated: it is configured twice, with two different profiles.
I'm not using Eclipse, but I didn't have reports of people having this type issue, maybe you use an old Eclipse version? Can you try with STS?
For me this is a tooling issue, not a JHipster issue -> that's why I'm closing this, but if other people have this issue, we will need to find some solution

[2015-07-05 19:56] #1515 closed

[2015-07-05 20:01] jdubois commented on #1675
Yes, that's something we should consider. I didn't code anything specific for a11y, so it depends if we have a lot of issues.

[2015-07-05 20:03] jdubois commented on #1671
That's because we use a ISO08601 format on one side, but not on the other!
So for me the class names are correct, but I don't remember why I don't have the same format on both side.
Anyway, I did a better documentation for this: https://github.com/jhipster/generator-jhipster/commit/9da4966e8a661865fe064aba714b0c5dc9b0e1d0

[2015-07-05 20:03] #1671 closed

[2015-07-05 20:34] gmarziou commented on #1675
I'll run the a11y tool on a sample webapp and I'll let you know what the issues are.

[2015-07-05 20:37] OAlQuaseer commented on #1685
@jdubois Hi,
I just used STS and the problem is still there.
Thank you so much,

[2015-07-05 20:48] jdubois commented on #1517
@phouverneyuff thanks, done at https://github.com/jhipster/generator-jhipster/commit/bd624f95ad8886e676f5e8a2ae7f65586eca7738

[2015-07-05 20:49] jdubois commented on #1685
@OAlQuaseer OK, I'm reopening it
@michaelisvy do you have the same problem?

[2015-07-05 20:50] andidev commented on #1651
No not really since it requires a HTTP multipart request. My implementation encodes the data in base64 format and sends the data in the json along with the REST request (the same way as any other field type generated with the entity generator).

This is how it currently looks in the html:
[code]

... and javascript:
[code]

... and the entity:
[code]

the data is converted form a base64 encoded st

[2015-07-05 20:50] jdubois commented on #1670
@phouverneyuff yes, no problem!

[2015-07-05 20:54] OAlQuaseer commented on #1685
@jdubois really appreciate your help regarding this problem.

[2015-07-05 20:56] OAlQuaseer commented on #1685
@Greenbudda FYI,
I think you have the same problem.

[2015-07-05 21:23] gmarziou commented on #1651
Mutlipart request encodes also in base64 so I guess it should be equivalent.

Have you tried large uploads?

As there's no chunking in client and no streaming on server, I suspect that you should hit a limit somewhere but I think it's OK because for very large files a database may not be the best place to store it anyway.

[2015-07-05 21:50] Panthro commented on #1558
Hummm might be, I'm currently on holidays can't check now :panda_face:

As soon as I get into my dev env I'll try to replicate and update this issue with my findings.

[2015-07-05 22:02] andidev commented on #1651
I have not tried large file uploads yet but I'll do that. However according to this [stackoverflow answer](http://stackoverflow.com/questions/1262376/is-there-a-limit-on-how-much-json-can-hold) there is no size limit in json requests, it's up to the server. Though I don't know what spring allows by default.

[2015-07-05 22:28] #1574 closed

[2015-07-06 04:50] hyuan commented on #1649
@jdubois I have implemented the social login based on Spring Social: https://github.com/hyuan/jhipster-sample-app I brought some codes from jcr216's work. Still have some places to improve (like add/remove connections to user's account) but the basic functionalities are there. Can you take a look and check If I am in the right direction? Feedback is welcome. If it's OK, then I can convert it to ge

[2015-07-06 07:04] michaelisvy commented on #1685
Hi,
I've had that problem in the past. It was just Eclipse being inconsistent.
If I remember properly, here is what I've done:

- go on the command line and make sure that you use the same version of Maven as the one configured in Eclipse
- go inside your project's folder on the command like
- run 'mvn dependency:resolve'
- go back to Eclipse, right click on your project and do 'Maven -> update pr

[2015-07-06 08:12] radamanth opened #1688 "Duplicated Hazelcast instances"
Hi.

I'm starting a new project with Jhipster, I'm using this configuration :

 .yo-rc.json
[code]

I'm using
**jhipster version** :  2.17.0

**java version** :  "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)

**Npm** 2.12.1
**Node ** v0.12.2

I'm on Ubuntu 14.04

But when I Launch *mvn spring-boot:run* just after pro

[2015-07-06 09:00] gmarziou commented on #1651
I guess that for very large objects, you could have network tileout or frop a reverse proxy if you use one and on server side you may have OutOfMemoryError depending on your JVM settings.

[2015-07-06 11:18] jdubois commented on #1688
Yes, for some reason the "ConfigureAfter" annotation doesn't work correctly: I'm going to force this, by injecting the Hazelcast instead.

[2015-07-06 11:21] #1688 closed

[2015-07-06 11:22] jdubois commented on #1647
Great news @phouverneyuff !! I didn't think this could work, thanks!

[2015-07-06 11:22] #1647 closed

[2015-07-06 11:24] kevinosullivan opened #1689 "Adding spring-boot-starter-jersey causes NoSuchMethodError com.fasterxml.classmate.members.ResolvedField.getAnnotations()Lcom/fasterxml/classmate/Annotations;"
I want to to start using Jersey for REST instead of Spring.  (First off - if using Jersey in jHipster is non-starter, let me know and I'll abandon attempts to integrate it in.)

I'm using JHipster v2.17.0.

I started by modifying my jhipster project to add this to the pom.xml

       <dependency>
           <groupId>org.springframework.boot</groupId>
           <artifactId>spring-boot-starter-jers

[2015-07-06 11:29] jdubois commented on #1623
- My original idea what that you just modified the entity code to fits your needs. This would obviously work well, and if you want to upgrade to a newer JHipster version, you would use Git to do the merging.
- As proposed here, we could have a specific JSON configuration file for the User -> this wouldn't work well without some modification, as the User is a rather special entity. As this is quite

[2015-07-06 11:29] #1623 closed

[2015-07-06 11:31] jdubois commented on #1598
OK, and concerning Swagger:

- We have upgraded it to SpringFox 2.0
- We have solved the dates issue

So that should work much better.

[2015-07-06 11:31] #1598 closed

[2015-07-06 11:33] jdubois commented on #1569
After much thinking about this: I feel this is nearly always a bad solution. It's much better to have a bi-directional relationship in this case, as you don't have a mapping table to add (which will have a performance impact, and make everything more complex).
So I don't think we should support this.

[2015-07-06 11:36] jdubois commented on #1689
As we don't provide Jersey as part of our stack, we can't really help you here.
It looks like an issue with SpringFox, you could remove it -> then you won't have the SpringFox API available, but as you use Jersey I don't expect this to work at all anyway.
Migrating to Jersey will probably break up a lot of things, like this one.

You can ask this on StackOverflow, maybe?

[2015-07-06 11:36] #1689 closed

[2015-07-06 12:00] radamanth commented on #1688
:+1:
Thx for the fast patching !

[2015-07-06 13:50] cbornet commented on #1566
For the float type, there is an issue with hibernate validation where it expects "float" and gets "real" (see https://hibernate.atlassian.net/browse/HHH-9861). So for the moment, I deactivated Float type for SQL databases. If someone has an idea on how to fix this ? By using a custom H2Dialect ?

[2015-07-06 14:40] moifort commented on #1649
@hyuan I don't find your modifications (or branch) on your repository: https://github.com/hyuan/jhipster-sample-app

[2015-07-06 17:07] cbornet commented on #1566
The standard H2Dialect seems indeed incorrect as Hibernate maps java.lang.Float to Types.FLOAT. I will update the PR with code for the "float24". The type in liquibase also needs to be adapted for each DB (as each DB has its own way to describe the float24).

[2015-07-06 18:55] piedrahitac commented on #1600
@jdubois What are your thoughts on Spring's upcoming project REST Docs? The Spring Team has been critical of Swagger and with this new project they are proposing a different approach to services documentation.

Is this point of view something JHipster should follow, or are you and the community perfectly fine with what Swagger brings to the table?

[2015-07-06 19:50] jdubois commented on #1600
@piedrahitac I didn't heard of anything against Swagger, so I'd rather keep it. Also, it's widely popular and seems to do the work well.
I have no idea what the Spring team did, or why, but anyway before using any new projects I will wait until it has a "critical mass" of users.

[2015-07-06 20:05] piedrahitac commented on #1600
Great, no problem then...

[2015-07-06 20:06] jdubois commented on #1619
Looks like you need to enter a credit card to test New Relic, which I am not ready to do!
Normally you should just click somewhere on the dashboard to add the monitoring -> if it doesn't, can you post a stacktrace? Or maybe cross-post this to the New Relic ticket system, if there is one that is openly accessible to everyone?

[2015-07-06 20:50] mraible commented on #1619
The problem is that you need to upload a newrelic.jar as part of your application. See instructions at:

https://devcenter.heroku.com/articles/newrelic#java-installation-and-configuration

Since the new deployment model for JHipster/Heroku only uploads a single WAR, it's not possible to add the newrelic.jar as well.

[2015-07-06 20:53] gzsombor commented on #1682
I don't know if it's a bug, or a feature - or I've screwed up locally a bit, but since that migration, when I re-generate something, and yo asks for file overwrites, if I answer 'no' to any files, it asks it again in a second round. Is it intended ? :)

[2015-07-06 21:38] cbornet opened #1691 "Guava version conflict between cassandra_unit and springfox"
The version of guava used by springfox makes cassandra_unit crash
Solution : exclude guava from springfox dependency or upgrade cassandra to v2.1

For exclusion :
[code]

[2015-07-06 23:23] phouverneyuff commented on #1647
@jdubois great!!!!!!!!!!!!!!!!!

[2015-07-07 01:08] deepu105 commented on #1682
I noticed that as well and thought it was some yeoman bug, for me during generation if i answer a question and if validation fails and re answer the question and answer gets printed multiple times and same happens sometimes for file overwrites as well. BUT ALL THESE DOESN'T CAUSE ANY ISSUES SO FAR

[2015-07-07 01:21] hyuan commented on #1649
@moifort Sorry, I didn't realized that the push was failed last night. Please try again.

[2015-07-07 05:35] Greenbudda commented on #1685
Yes, I have similar problem and I could not resolve the issue as you have suggested @michaelisvy.
I have removed 2 lines of code from yeoman-maven-plugin Version 0.4
<id>run-grunt</id>
<phase>generate-resources</phase>
To make the app build and run. Will removing these lines cause an issue? Thanks a lot!

[2015-07-07 07:24] jdubois commented on #1691
Thanks @cbornet -> this means we should do a new release quickly (I didn't see this one!!)
We'll also need to exclude this in Gradle cc @atomfrede
-> If you have time to do the PR I'll merge it, otherwise I'll work on this tonight

[2015-07-07 07:36] atomfrede commented on #1691
Will do it today, no big deal.

[2015-07-07 08:47] moifort commented on #1649
@hyuan great job! When I have the time I will try your modification. Just be careful you left your id and code in the `application-dev.yml` file.

[2015-07-07 11:24] atomfrede commented on #1649
@hyuan Does it work in addition to the integrated user database or does it replace it?

[2015-07-07 12:31] chrisphe commented on #1626
I've released Jadira 4.0.0.GA. Rgds

[2015-07-07 12:47] hyuan commented on #1649
@atomfrede Yes, the connection is stored in JHI_UserConnection table. it's a new db table.

[2015-07-07 13:07] atomfrede commented on #1649
@hyuan I think its "yes it replaces it"?

[2015-07-07 14:21] silentHoo opened #1693 "Feedback/Feature Request: Code removal based on environment? (removeIf, remove code)"
jHipster is great. But I'm missing a somewhat convenient way to remove frontend code based on the current environment. My local projects have a custom task to build dev, test or prod output, where some code is removed before it is written to the disk (I've a `/dist` folder where I serve from). This code contains some actions I won't do when I'm on development like login actions.

I would like to h

[2015-07-07 15:01] hyuan commented on #1649
@atomfrede No, it doesn't replace the integrated user database. The JHI_USER table is kept unchanged. I added JHI_UserConnection table to store user's social connections.

[2015-07-07 15:08] atomfrede commented on #1649
Ok, great! Will try to have a look during the week.

[2015-07-07 15:26] hyuan commented on #1649
@hyuan Thanks for reminding! Those IDs and codes are for testing. I left them there as examples.

[2015-07-07 15:34] andidev commented on #1693
You could use the Angular constant ENV with contains the environment
[code]

[2015-07-07 16:41] #1662 closed

[2015-07-07 16:41] #1626 closed

[2015-07-07 16:47] atomfrede commented on #1514
@deepu105 I've tested the latest gatling snapshot. It works when naming the manifest jar `gatlingBooter`. By the way you should use `configurations.testCompile.files` otherwise gatling is missing from the classpath. Will try it with the latest stable version an the corrected manifest only jar.

[2015-07-07 16:49] marcelinobadin opened #1695 "When your mapper have more than one mapping should add @Mappings({ @Mapping(),... })"
Ex:
@Mappings({
        @Mapping(source = "map.id", target = "mapId"),
        @Mapping(source = "appGroup.id", target = "appGroupId")
    })

[2015-07-07 16:57] atomfrede commented on #1514
@deepu105 Using `configurations.testCompile.files` makes the manifest only jar approach work with gatling 2.1.6. I can provide a PR later.

[2015-07-07 17:41] atomfrede commented on #1691
@jdubois Excluding guava still required?

[2015-07-07 18:05] jdubois commented on #1695
I don't see why would do that, it adds more lines -> do you have a specific bug here?
I'm sorry, but you don't provide enough information to understand what you want to do, can you follow our guidelines, please?

[2015-07-07 18:05] #1695 closed

[2015-07-07 18:06] jdubois commented on #1693
Yes I agree with @andidev we already do this. Otherwise, this is a rather specific use case, and I don't think we would add much value, so I don't think we should do this.

[2015-07-07 18:06] #1693 closed

[2015-07-07 18:06] jdubois commented on #1691
@atomfrede no I upgraded to Cassandra 2.1.7 it solves the issue!

[2015-07-07 18:06] #1691 closed

[2015-07-07 18:07] atomfrede commented on #1691
:+1:

[2015-07-07 18:07] #1514 closed

[2015-07-07 18:27] myspivey commented on #1662
Is there a way instead of forcing a fresh login everytime we can refresh the token? For example Facebook uses OAuth2 but does not force a log out, they simply refresh the token. This seems like a valid use case for many apps that have extended usage or entry especially concerning POST type transactions.

[2015-07-07 19:14] outis10 commented on #1695
when you have more than one @Mapping like in the example  the compiler throws an output error.
 but when you have only one @Mapping there is ok,

This is strange because in the mapstruc documentation there is a TIP  saying

"Tip! When using Java 8 or later, you can omit the @Mappings wrapper annotation and directly specify several @Mapping annotations on one method".
I fix the error lke @marcelino

[2015-07-07 19:40] jdubois commented on #1695
Oh, that explains the issue!
This normally works, indeed. This might be linked to a recent issue with Springfox, can you test again when our next version is released ? This should out be very soon.

[2015-07-07 20:14] marcelinobadin commented on #1695
Sorry that I couldn't be clear at firts. Thank you @outis10 for your better explanations. I am using Java 8 but I always have to go mapper by mapper and do the change to use @Mappings.

I will test also and give you feedback @jdubois .

Thank you guys.

[2015-07-07 20:15] jdubois commented on #1695
This is really strange -> please, don't hesitate to send feedback with the new version (should 2.18.0, I'm currently doing my last tests on this release) and I'll re-open the ticket

[2015-07-08 00:22] wkochman opened #1697 "Swagger UI & Token Based auth"
The swagger UI is not working with token based auth.
The token is not passed to the request.

[2015-07-08 01:45] christophe-f commented on #1254
angular-strap is probably a better choice. Easier to use, less dependencies, and better UI polish.

[2015-07-08 01:45] OAlQuaseer commented on #1685
@michaelisvy
Hi Michael,

I ve done what you suggested to us but, unfortunately, I still have the problem.

Really appreciate your efforts with us,
Omar.

[2015-07-08 02:12] verrol commented on #1254
what about angular-material? It is designed for angular.

[2015-07-08 02:47] deepu105 commented on #1514
@atomfrede you are a life saver man

[2015-07-08 02:48] deepu105 commented on #1514
@atomfrede cant thank you enough i was almost about to switch to maven coz of this

[2015-07-08 03:11] deepu105 commented on #1254
@christophe-f  I have tried it before and then switched to angular-bootstrap, I found angular-bootstrap to more stable and flexible

[2015-07-08 03:42] deepu105 commented on #1639
@gmarziou @jdubois not just gulp proxy, websocket doesnt work for even browser sync in grunt setup

[2015-07-08 04:50] atomfrede commented on #1514
So I guess it really works on Windows? I must admit I didn't verified it 😊

[2015-07-08 07:27] jdubois commented on #1697
Yes, this is correct -> this isn't a new issue, in fact, as we already had the issue with Swagger 1, so migrating to SpringFox didn't create a new issue
But I forgot to add this to the ticket system, my bad!

[2015-07-08 08:06] jdubois commented on #1682
@gzsombor @deepu105 this is another issue, and this is really annoying!!! I'm creating a new ticket for this, and this is my top priority -> we should have a 2.18.1 bug fixing release for this
However, I'm completely lost with this, so if anyone can help, he's more than welcome!

[2015-07-08 08:10] jdubois opened #1698 "File overwrite is asked twice by the generator"
When the generator is run a second time, and a file has changed, you can choose to overwrite this file or not.
As mentioned in #1682 if you select "no", the question is then asked a second time.
This does not seem to cause any bug, however it's really annoying for people who want to use this Yeoman feature (I am not using it personally, I manage all this process with Git, which I find more useful,

[2015-07-08 08:15] gzsombor commented on #1254
Fortunately, angular-bootstrap is in ! :smiley:

https://github.com/jhipster/generator-jhipster/commit/091f3c0587b5f56dec28164b320501de694e6dbb#diff-502edd32419d848619b3f13be1c735b8R14

[2015-07-08 08:29] deepu105 commented on #1514
@atomfrede I havent tested yet, I thought you did :wink:

[2015-07-08 08:43] deepu105 commented on #1514
@atomfrede sadly it doesnt work still :cry:

[code]

[2015-07-08 08:49] deepu105 commented on #1514
@atomfrede does it work on linux/mac?  for me in windows it works if i remove `args "-rd", ""` this from the task

[2015-07-08 09:01] atomfrede commented on #1514
Yes it works on linux. My windows build is downloading dependencies right now, so I will see what happens

[2015-07-08 09:03] kbjp opened #1700 "why isn't index.html cached by the browser ?"
Hi,
Could someone explain me why index.html isn't cached by client browsers when running the application under the production profile ? (I use stand-alone tomcat8 as web-server and IE11/Chrome43 for my browsers) Obviously the fact that index.html isn't cached by the client browsers is good (otherwise that would lead to browser-cache issues during an application upgrade) but I just don't understand

[2015-07-08 09:04] deepu105 commented on #1514
@atomfrede i couldnt find the -rd arg in gatling docs also i guess one of param is -bf instead of -bdf
http://gatling.io/docs/2.0.0-RC2/general/configuration.html#command-line-options

[2015-07-08 09:08] atomfrede commented on #1514
We are using a newer version: http://gatling.io/docs/2.1.6/general/configuration.html

[2015-07-08 09:13] deepu105 commented on #1514
oops my bad, so if -rd is just description can we remove it coz it fails for me when it is empty

[2015-07-08 09:14] atomfrede commented on #1514
Yes just remove it. Or use ``args "-rd", "''"```seems like a problem with windows cli

[2015-07-08 10:41] marcelinobadin commented on #1695
It worked on 2.18.0. Thanks!

[2015-07-08 11:06] gmarziou commented on #1700
Look at mappings in the WebConfigurer.initCachingHttpHeadersFilter()

[2015-07-08 11:09] gmarziou commented on #1254
@verrol angular-material adds a lot of directives (md-*) it's much more intrusive than a pure CSS framework.

[2015-07-08 11:22] gmarziou commented on #1639
browser-sync is not a big win for me at least on Windows, sinc it was introduced I cannot just do server-less development I must run mvn spring-boot:run even if I don't use the backend. It also locks files.
I have started to use gulp because it's the default build tool for Ionic framework and frankly I would not switch to gulp in JHipster if gulp was not using brower sync.

[2015-07-08 12:02] kbjp commented on #1700
Yes, I'm already aware of the CachingHttpHeadersFilter but since there's no specific caching instructions for index.html itself, I was expecting that, without any meta-headers in the page itself, it would be, by default, indefinitely cached by the browser (at least I believe that this was the default behavior before HTML5), unless you put a few extra meta headers like like "expires = 0", "pragma =

[2015-07-08 12:10] gmarziou commented on #1700
Have you looked at the response headers in browser console? I don't think it's related to HTML5, I rather think it's an IE11 thing.

[2015-07-08 12:15] kbjp commented on #1700
yes, I've already looked in the response headers for Chrome43 and IE11 but I haven't found anything preventing the browser from caching the page...so I'm happy that the page is not cached (that's the behavior I want) but I don't understand why it behaves that way.

[2015-07-08 12:48] 7170 opened #1702 "Front : Loading resources problem"
First of all, this project is amazing and gave me the power to save a lot of time in starting a new project !

Since I use JHipster I have a big issue with front loading, I tried lot of thing to avoid this problem but couldn't solve it by myself...

I use JHipster with default choices and jdk 7  on a mac os X Yosemite, Postgres 9.4 and a tomcat 8.0.22 installed.

The fact is when I start tomcat it

[2015-07-08 13:39] gmarziou commented on #1702
Have you looked at browser console?

[2015-07-08 13:45] 7170 commented on #1702
In my description I said :

[2015-07-08 19:19] jdubois commented on #1702
Do you have an ad blocker? We've had several people who had a similar error because of that.
Otherwise, did you try to force refresh your browser? In Chrome, open up the dev console, then click for a long time on the "reload" button, you will get 3 choices, one of them being "clean cache and force reload"

[2015-07-08 19:21] jdubois commented on #1700
We don't do anything to cache the page, so I guess that's normal it's not cached.
And as you have written, this is for a perfectly normal reason: this page shouldn't be cached, as it might change. It doesn't have a checksum in its URL, like the CSS or JS files, and it's logical: it's the entry point to everything.
Then, this page is very small and very fast to send, this is nothing compared to the

[2015-07-08 19:21] #1700 closed

[2015-07-08 19:27] jdubois commented on #1670
I'm closing this, as the tip will be on jhipster/jhipster.github.io repo

[2015-07-08 19:27] #1670 closed

[2015-07-08 19:28] jdubois commented on #1685
@michaelisvy is it the same issue as #1628 ? Or is it related?

[2015-07-08 19:31] jdubois commented on #1611
@mraible do you still have this issue? Maybe it's some caching issue of the Web resources, did you try to clean cache and force refresh your browser?

[2015-07-08 19:33] mraible commented on #1611
I've been able to identify that this issue happens when I deploy to Heroku using Jenkins, but not when I do it manually from the command line. Pretty strange since Jenkins is running the same command on the same machine. I mentioned this issue in the following blog post:

http://www.jhipster-book.com/#!/news/entry/building-and-deploying-a-jhipster-app-with-jenkins

[2015-07-08 19:48] cbornet commented on #1697
Swagger ui doesn't support the oauth2 password flow which is used by jhipster
See https://github.com/swagger-api/swagger-ui/issues/807
Only auth code and implicit grants are supported.

[2015-07-08 20:28] gmarziou commented on #1611
Is Jenkins running under same user or same environment/path?

Have you considered using [frontend-maven-plugin](https://github.com/eirslett/frontend-maven-plugin)? It could help because it that downloads/installs Node and NPM locally.

[2015-07-08 20:31] mraible commented on #1611
Yes, I still see it if I deploy using Jenkins. I don't think it's JHipster
related.
On Wed, Jul 8, 2015 at 13:31 Julien Dubois <notifications@github.com> wrote:

[2015-07-08 20:32] mraible commented on #1611
Yes, same user and environment.

On Wed, Jul 8, 2015 at 14:28 Gaël Marziou <notifications@github.com> wrote:

[2015-07-08 20:52] andidev commented on #1651
@gmarziou
I have not tried experimenting with JVM memory sizes. Not sure where to set the limits and what the result will tell me. This blob field should not be used to store large files. The maximum limit I have found is around 250MB which is set by the javascript FileReader object for some reason.

@jdubois
Could we merge this with a BETA tag?

[2015-07-08 20:54] jdubois commented on #1651
@andidev yes at the beginning we can just write BETA on the generator option, like we have for DTOs at the moment. At least people know it's not fully tested yet.
I'm a big fan of Linus' "release early, release often" mantra, and it's so easy to do a release with NPM!

[2015-07-08 21:02] andidev commented on #1651
Great! I'll add a BETA tag into the option in the generator right away.

It seems that elasticsearch indexes the blob content currently, anyone knows how to disable it? I guess it should be disabled.

[2015-07-08 21:07] andidev commented on #1651
link to PR https://github.com/jhipster/generator-jhipster/pull/1703

[2015-07-08 21:07] jdubois commented on #1651
Yes it should be disabled... I don't know how this is supposed to work, I expect there some kind of Spring Data ElasticSearch annotation?

[2015-07-08 21:51] andidev commented on #1651
Cant seem to find the correct annotation for doing that. Anyone that can help me out here?

[2015-07-08 22:10] vw98075 opened #1704 "Style sheet file not show"
In the index.html file, a style sheet line is pointed to assets/styles/main.css. I can't find the main.css file under the directory. To verify this problem is not related with Gradle, I create another project with  Maven and the rest is the same.

[2015-07-08 22:12] gzsombor commented on #1651
Try @JsonIgnore, because the default serializer for Spring Data ElasticSearch use jackson under the hood.

[2015-07-08 22:33] gmarziou commented on #1704
Did you select Compass/SASS?

[2015-07-08 22:38] gmarziou commented on #1704
I just generated a new project with 2.18.0 and without Compass/SASS and main.css exists.

[2015-07-08 22:39] vw98075 commented on #1704
I think I did

[2015-07-08 22:39] gmarziou commented on #1704
If you use SASS, try running grunt serve or gulp serve, it should build it

[2015-07-08 22:43] gmarziou commented on #1704
if you don't remember your options, just copy/paste here the content of .yo-rc.json at the root of your projet

[2015-07-08 22:51] gmarziou commented on #1704
Works also with Compass/SASS.

You should use Compass if it makes sense for you and if you have it and Ruby installedas explained in the doc.

[2015-07-08 22:51] vw98075 commented on #1704
I know I selected Compass for the project. After running "grunt serve" at the root directory of my project, I still don't see the main.css file under assets/style/main.css.

[2015-07-08 22:52] gmarziou commented on #1704
What does 'compass -v' print?

[2015-07-08 22:53] vw98075 commented on #1704
It says the compass isn't recognized. I guess that I shall not use it.

[2015-07-08 22:54] gmarziou commented on #1704
Or you read [the doc](http://jhipster.github.io/installation.html) and install it.

[2015-07-08 22:54] gmarziou commented on #1704
In any case, I think you can close this issue now.

[2015-07-08 22:59] vw98075 commented on #1704
Sure. Thanks much for your helps.

[2015-07-08 22:59] #1704 closed

[2015-07-09 00:20] renato-rjps commented on #778
Hi, could you help me with a question?
I'm trying to publish in openshit, and I wonder what kind of cartridge I have to create. Or if yo jhipster:openshift command will create for me?
I have to create a DYV manually, make a clone and copy the files?
I read the documentation http://jhipster.github.io/openshift.html  but I didn't understand how to send files to OpenShift

[2015-07-09 01:11] Qinwroks commented on #1600
@jhoelter can you give me a hit on how to implement a micro-services architecture. thanks!

[2015-07-09 07:13] 7170 commented on #1702
It was a possibility but it's not the problem here, We tried with various browsers and OS and the result was the same.

[2015-07-09 10:39] seainside75 opened #1705 "How to deal with geometry types?"
Hello,

I'm trying to use Jhipster(very nice tool)  with a PostGIS DB.
Do I need to extend the available types?
Is there any other possibility?

Thanks in advance

[2015-07-09 12:46] kbjp opened #1706 "font path in minified css has wrong path (?) when app not deployed in web server root"
Dear Jhipster team,

My apologies in advance if this is a false alert but i think there may be a problem with the minified css when the application is not deployed in the web server root: I'm getting HTTP 404 errors with file paths like:
http://localhost:8080/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
while the proper file path should be more like:
http://localhost:808

[2015-07-09 13:34] interstellerS commented on #1706
It may be related to this https://github.com/jhipster/generator-jhipster/issues/1704#issuecomment-119753555 .

[2015-07-09 14:14] atomfrede commented on #1706
It was fixed in #1555 which was released in ``2.17``. So try the latest version.

[2015-07-09 14:17] 7170 commented on #1702
Resources are not loaded and js seems to be disabled by a script somewhere in the project...

Some console.log("toto"); doesn't work and print that javascript was deactivated by a script on the page...

[2015-07-09 14:24] thiagogcm commented on #1705
I've done this before

with hibernate-spatial and a custom GeoJson unmarsheller like this one https://github.com/bedatadriven/jackson-datatype-jts

[2015-07-09 15:04] gmarziou commented on #1702
It really looks like an ad blocker or a corporate firewall

[2015-07-09 15:37] seainside75 commented on #1705
Thanks a lot. I will take a look to your URL

[2015-07-09 15:46] andidev commented on #1651
But using Jsonignore will also exclude the blob from the json in REST calls, won't it?

[2015-07-09 18:23] jdubois commented on #1706
Yes I think @atomfrede is right
Thanks @kbjp for writing the version number! Most people forget to do it!

[2015-07-09 18:23] #1706 closed

[2015-07-09 19:46] pecko commented on #1649
I have tried with

mvn spring-boot:run

It fails because can't create the userService bean:

[INFO] com.mycompany.myapp.config.WebConfigurer - Web application fully configured
[INFO] com.mycompany.myapp.config.ThymeleafConfiguration - loading non-reloadable mail messages resources
[WARN] org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext - Exception encountered

[2015-07-09 19:53] pecko commented on #1649
There isn't some entity  for the JHI_UserConnection table. Did I miss any step?

[2015-07-09 20:09] moifort commented on #1525
I will need some help because I have no knowledge on MongoDB/Cassandra. I installed the docker MongoDB and Cassandra and try to run jhipster application but it's failed. Do I need to configure something on the docker?

I use docker images: `tutum/mongodb` and `cassandra`

Error on mongoDB docker: `not authorized on jhipster to execute command { update: \"mongeez\"...`
Error on Cassandra docker: `c

[2015-07-09 20:28] jdubois commented on #1705
@seainside75 I think this belongs more to StackOverflow, as we are not going to support this.
However, I'm interested in your findings, as this is exactly what I'm doing in my current gig (but we use Python+Flask, not JHipster!)

[2015-07-09 20:28] #1705 closed

[2015-07-09 20:31] jdubois commented on #1702
If you can reproduce this issue, then I will have a look at it, but at the moment I have no way to understand or test anything, so I just can't help you -> this is why I'm closing this
It really looks like browser issue, like an ad blocker - we've already had this reported before.

[2015-07-09 20:31] #1702 closed

[2015-07-09 20:53] atomfrede commented on #1525
Why are you using mongodb inside docker? You can just run it locally. Docker makes it quite complicated. Same for cassandra (at least for Windows there is single instance binary).

[2015-07-09 22:26] kbjp commented on #1706
awesome ! thanks a lot for the feedback...saving me many hours !
kbjp

[2015-07-10 01:34] hyuan commented on #1649
@pecko The error is caused by a circular reference. Weird, it works on my machine. I will fix that. The JHI_UserConnection table is used by org.springframework.social.connect.jdbc.JdbcUsersConnectionRepository. No entity class is created for it.

[2015-07-10 02:13] pecko commented on #1649
@hyuan I have just cloned and called 'mvn spring-boot:run" on Ubuntu. The npm, bower, yo, jhipster   are the latest.

You probably have some stuff that isn't pushed or something in .gitignore. Could you try to clone in a new directory and run the application?

[2015-07-10 03:03] krishna383 commented on #1622
I am also seeing issues with this. When SEO engines are trying to crawl and sees 401 they are stopping it there and not proceeding.

[2015-07-10 03:09] hyuan commented on #1649
@pecko I found I didn't submit two folders - bootstrap-social and font-awesome - in bower_components. Is it because of that? Can you run "bower install" and try again?

[2015-07-10 06:23] andidev commented on #1651
Added generator option for content type (image or any)
Heres how the image crud api looks like
![blob-image-demo-mobile](https://cloud.githubusercontent.com/assets/571389/8613216/b4889926-26dc-11e5-8fcf-10b8497839c8.gif)

[2015-07-10 08:54] gmarziou commented on #1651
Great!

[2015-07-10 09:06] deepu105 commented on #1702
Just a sanity check, do a grunt build and and see if its still the same. @jdubois after the yeoman upgrade there were some instances when the bower dependency were not updated to index.html by wiredap, i din look deeper into it

[2015-07-10 09:47] #1615 closed

[2015-07-10 11:34] pecko commented on #1649
@hyuan I have already tried that, got these two directories and had the same error. Now, I clear my clone, pull again and get the same error again.

Do you try clone in a separate directory and run the application? If it work, what OS/JDK you are using? Do you have some specific maven repository in the ~/.m2/settings.xml?
Could you create a war distribution and upload it anywhere? I think that we

[2015-07-10 12:06] hyuan commented on #1649
@pecko I will try it on a different machine. Can you post your error message?

[2015-07-10 12:11] pecko commented on #1649
The complete error log from 'mvn spring-boot:run' (I have run 'bower install' and 'npm instal'' too):

[code]

[2015-07-10 12:27] gmarziou commented on #1622
For SEO engines, you'd better provide them with a site map.

[2015-07-10 12:43] hyuan commented on #1649
@pecko I think that's because of a circular reference. I adjusted the injection. The latest version I committed about 7 hours ago should include this change. Are you using the latest commit?

[2015-07-10 12:46] pecko commented on #1649
Yes, I am. It is 41709075781ae084757b17de40fa9a8c044dad75.

Does it work for you in a separate clone?

[2015-07-10 12:50] hyuan commented on #1649
Not yet. I am using Windows 7, but I guess I need to test it on a Linux box.

[2015-07-10 13:11] pecko commented on #1649
I have tried on Windows 7 (this machine doesn't even have npm, node, bower ...) and 'mvn spring-boot:run' works. The facebook, google links don't work, but it is probably because localhost in server URL.

So, there is probably an issue on Linux..

[2015-07-10 13:14] jdubois commented on #1622
@krishna383 I don't think it should be an issue, they will just report an error and then continue to crawl the rest of the site.
But you are correct, this should be improved -> we provide a robot.txt file and it should be listed here! I'll create a new issue for this.

[2015-07-10 13:14] jdubois opened #1709 "Update robot.txt"
To exclude protected URLs, like the API call to the account (or the admin)

See https://github.com/jhipster/generator-jhipster/issues/1622#issuecomment-120399045

[2015-07-10 13:30] malikhan5049 commented on #1649
facebook, google links dont work work because client key/secret are invalid
create you own apps on google/facebook and put your client key/secrets in
application-dev.yml and links will start to work

On Fri, Jul 10, 2015 at 6:11 PM, Haris Peco <notifications@github.com>
wrote:

[2015-07-10 14:01] pecko commented on #1649
I understand. Thanks. I will also check what is the problem on Linux.

[2015-07-10 15:21] 7170 commented on #1702
I have succeeded to reproduce it many times by deploying the ".war.original" file (as war) into an installed tomcat and started in prod profile.

On basic jhipster project with postgres, tomcat 7 or 8, with java 7, basic auth and all default answers to generate the project :

I have reproduced on mac os X Yosemite & raspbian & Ubuntu 15.04"

To reproduce, you need load pages several times (navigat

[2015-07-10 15:51] hyuan commented on #1649
BTW, in the latest version, you can start to add/remove social connections under Account / Connections menu. Still need some work but you can give it a try now.

[2015-07-10 15:53] pecko commented on #1649
@hyuan My primary development environment is Linux. I will try to find Linux issue firstly.

[2015-07-10 18:30] gzsombor commented on #1651
@andidev : yes, sure, this is one of the reason to use DTOs is to avoid these kind of problems.

[2015-07-10 22:27] pecko commented on #1649
I think that this is a spring issue. The SocialConfigurationAdaptor.signin property isn't initialized on Windows (or it is initialized after calling the getUsersConnectionRepository method). On Linux, Spring try to initialize that and faces circular reference.

The PR: https://github.com/hyuan/jhipster-sample-app/pull/1 fixes this issue, but after applying, the application starts, but the Session

[2015-07-11 02:48] paivaric commented on #1370
+1

[2015-07-11 07:22] deepu105 commented on #1702
I have apps running in tomcat 8 in aws for months and never had this issue

[2015-07-11 10:48] deepu105 opened #1710 "wiredep doesn't get bower files injected after app is generated for first time"
Isnt this suppose to be triggered after app generation, doesnt seems to work atleast in windows.

Need to take a closer look

[2015-07-11 12:06] jdubois commented on #1710
That would be a big issue, yes please post updates on your findings!

[2015-07-11 13:23] saaspeter commented on #1125
I also got this: Warning: Error: Cannot find where you keep your Bower packages, but I can connect github very well.

[2015-07-11 13:44] gmarziou commented on #1125
Try running rff-doctor to get a diagnostic: https://github.com/rakuten-frontend/rff-doctor

[2015-07-11 16:10] jdubois commented on #778
Yes it creates everything for you -> can you post this on stackoverflow ?

[2015-07-12 01:04] vw98075 commented on #1370
I have the same problem with OAuth2 authentication type configuration. I use the method CodyBrokeIt mentioned to work around this issue temporarily.

[2015-07-12 04:52] vw98075 commented on #789
hooligan495 I am interested in this topic too. Deploying to AWS Beanstalk is more meaningful than Cloudfoundry to me. Please sharing your experience.

[2015-07-12 07:47] deepu105 commented on #1710
can someone confirm if this works in linux/mac ?

[2015-07-12 08:52] gmarziou commented on #1710
Works on linux  ubuntu with both gulp and grunt

[2015-07-12 08:54] deepu105 commented on #1710
@gmarziou then this might be another windows only issue :(

[2015-07-12 09:05] deepu105 commented on #1710
this is weird it seems to be working now. I can vouch that it didnt work last few times i tried.

[2015-07-12 09:23] atomfrede commented on #1710
@deepu105 When I was testing my windows machine I've seen it too. After generating the app, all bower files where missing from ``index.html``. After doing ``grunt serve`` everything was fine, but I didn't dig any deeper.

[2015-07-12 09:34] gmarziou commented on #1710
There are often beginners (not your case of course) who post issues about seeing only footer, most of the times they did not follow the doc or had an error duirng installation that they did not notice.

We could avoid these issues if the index.html contained a help section that would show only if angular app did not successfully intialize.

[2015-07-12 09:59] atomfrede commented on #1710
@gmarziou Sounds like a reasonable idea. Will check if I can reproduce it on windows next week (as you said it works on linux, same for me here)

[2015-07-12 10:40] jdubois commented on #1710
@deepu105 @atomfrede @gmarziou you can have Windows 10 preview for free on a VirtualBox machine, and the rumors is that it will stay free after the preview...

[2015-07-12 11:49] truemath commented on #1674
+1 for dockerfile + docker-compose

[2015-07-12 12:10] wuethrich44 commented on #789
@vw98075 This PR https://github.com/jhipster/generator-jhipster/pull/1686 will be merged soon. If you need any help I can answer your questions.

[2015-07-12 12:34] deepu105 commented on #1710
Since i had windows 8 im getting 10 for free on 29th july anyways

[2015-07-12 12:38] gmarziou commented on #1710
So finally Armageddon is for July 29th ;)

[2015-07-12 14:14] #1709 closed

[2015-07-12 14:47] jdubois opened #1711 "Add a 500.html and a 404.html in src/main/webapp"
That was supposed to be done at the very beginning of the project, but I forgot :-(

The 404.html file is listed in the .htaccess file, for instance.

The goal of those files is to provide 404 and 500 error files for people using a front-end proxy/router in front of JHipster (for example, an Apache HTTP server, this is why the .htaccess file is here).

If JHipster is down, then this front-end can

[2015-07-12 15:02] #1651 closed

[2015-07-12 15:09] jdubois opened #1714 "Add documentation on the different field types"
This is for http://jhipster.github.io/creating_an_entity.html now the we have "non trivial" fields like enums and blobs.

[2015-07-12 15:41] vw98075 commented on #901
+1
For the current limited MongoDB domain object modeling support, you only can do some sort of hack for embedded documents so that you can get a better code structure to work on. .

[2015-07-12 15:53] jdubois commented on #1618
This is `normal` - I'm not saying this is good, I'm just saying this is expected.

I guess you have session-based authentication with the remember-me cookie, as that's what people usually have (if you don't, then please give your settings next time!)

So when you come back to your application, your browser does multiple requests to some protected URLs - at least it's calling the backend API.

Some

[2015-07-12 15:53] #1618 closed

[2015-07-12 17:12] gmarziou commented on #1675
Some status:
- ng-aria does not break anything in JHipster
- I haven't been able to get something useful for a11y tool
- I run full audit with Chrome accessibility tools on all pages

I'll put my notes below but globally the audit is good, I ignored few things related to the "dev" red image.
I think the biggest win would be to use labelFor in all forms.

[2015-07-12 17:14] gmarziou commented on #1675
# Accessibility audit

## Navbar

- Contrast for text is too low

## Entities

### List entities

- Meaningless link text for pagination buttons ('<<", ">>', '1', ...)

### View entity

- No label for read-only inputs (all fields)

### Edit entity

- No label for read-only input ID

## Account menu

### Edit settings

 - No label for inputs (all fields)

## Audits

- No label for form inputs

[2015-07-12 18:29] jdubois commented on #1674
Yes dockerfile + image + fig for me also -> what's interesting is to have all the services at once, not just JHipster. I'm thinking of someone who wants postgresql + elasticsearch, for example, which looks to be quite a common requirements (if needed, I can have a look at what is more common, so you know on what to focus on!)

[2015-07-12 18:32] jdubois commented on #1655
@phouverneyuff can you participate in #1674 for the Docker build? For me this is the most important, as many more people use Docker.

For CleverCloud -> @savoisn I don't think you & me can work on both Docker and Clevercloud at the same time (at least, I won't have the time), so can we make the Docker build work first? And then add CleverCloud?

[2015-07-12 19:01] gmarziou commented on #1675
I propose to work on 3 related PR:
- add ng-aria
- add "label for" for all forms
- pagination links

[2015-07-12 23:47] hantsy commented on #1158
@jdubois It seems Hibernate 5 brings native Java 8 DateTime API support, there is a `hibernate-java8` artifact in Hibernate 5.0.0CR2.

[2015-07-13 06:31] RobWin opened #1715 "Integration of springfox-staticdocs and Swagger2Markup"
Hello,

do you think it makes sense to create a generator for [springfox-staticdocs](http://springfox.github.io/springfox/docs/current/#configuring-springfox-staticdocs) which uses [Swagger2Markup](https://github.com/Swagger2Markup/swagger2markup). The generator could generate the unit test and Gradle/Maven pipeline which generates the HTML and PDF documentation and includes the artifacts into the

[2015-07-13 06:54] atomfrede commented on #1715
I need to have a look it at for my work as we need to combine handwritten documentation with automatically created api docs. As a proof of concept I'll use a plain jhipster app, so maybe it results in a PR or at least a tip on the website.

[2015-07-13 07:08] RobWin commented on #1715
If you need help, just join the Gitter Chat of Swagger2Markup.

[2015-07-13 07:33] jdubois commented on #1675
@gmarziou
-> "label for" and pagination links are indeed good
-> for ng-aria I'm not sure of what this will lead us to, but yes it's good to have a look at this

Can you close this issue, and create 3 issues instead?

[2015-07-13 08:28] alchemistgo87 commented on #892
Do we have refresh token option in x-auth-token authentication. If not, do we have to save username and password of the user in client's local storage or do we have to set the expiration time of token to be infinity.

[2015-07-13 08:30] alchemistgo87 opened #1716 "How to refresh token while using x-auth-token based authentication?"
Do we have refresh token option in x-auth-token authentication. If not, do we have to save username and password of the user in client's local storage or do we have to set the expiration time of token to be infinity.

[2015-07-13 09:33] savoisn commented on #1674
@jdubois : Yep exactly what I am working on.
@atomfrede : I will need to build the image in the sub-generator, cause in the fig / docker-compose we are referencing actually built images by their name. So we will need to "docker build" the Dockerfile.

[2015-07-13 10:12] seanoreillyza opened #1717 "Undefined types in minified Javascript file"
Hi All,

I have included the Quagga JS library in my project https://serratus.github.io/quaggaJS/ which works perfectly fine using my JHipster dev profile.

However, when I test a production / minified version of my project, I get the following error:

Uncaught ReferenceError: glMatrixArrayType is not define (even though Quagga.js logic has been included in the resultant minified production JS fil

[2015-07-13 10:14] gmarziou opened #1718 "Add ngAria module"
The [ngAria](https://docs.angularjs.org/api/ngAria) module provides support for common ARIA attributes that convey state or semantic information about the application for users of assistive technologies, such as screen readers.

[2015-07-13 10:14] preslavrachev commented on #1558
@jdubois Just to make things clear, because I just came up to the same issue (using IntelliJ CE 14). If I turn off the annotation processors, the above-mentioned error is gone, and I am able to run the application manually, as well as run tests manually, etc.

My question is if turning off the annotation processors has negative implications on the building and running of the application? I guess I

[2015-07-13 10:16] gmarziou opened #1719 "Add "for" attribute to label tags in forms"
Currently in JHipster forms, the labels are not linked to their related input fields.

[2015-07-13 10:19] gmarziou opened #1720 "Pagination links should be accessible"
Chrome accessibility audit tool reports that JHipster pagination links have meaningless text like '<<', '>>' and numbers '1'.
I'll do some research to find any guideline how to do it better.

[2015-07-13 10:21] gmarziou commented on #1675
- add ng-aria: #1718
- add "label for" for all forms: #1719
- pagination links: #1720

[2015-07-13 10:21] #1675 closed

[2015-07-13 10:24] deepu105 opened #1721 "SQL Table names should be underscored"
SQL table names are currently not underscored, this needs to be fixed.

Ill work on this soon

[2015-07-13 10:25] gmarziou commented on #1715
I have done it [here](https://github.com/gmarziou/sfox2/commit/1752e8f0228df334314d820ffe0d2c97965509b3)

[2015-07-13 10:28] deepu105 commented on #1717
Add the script outside the minification block below in the index file as interim solution, but ideally this should work out of box, I have used hell lot of additional plugins and works like a charm in prod mode.
[code]
Anyways since this is not a plugin we ship with we wont be able to help much here. May be if you can dig deeper and provide some more info we might be able to help

[2015-07-13 10:30] gmarziou commented on #1717
I would add that it depends also on how you integrated it: manually or using bower install.

[2015-07-13 10:39] RobWin commented on #1715
Looks good. Nice :dancers:
You should update it to Springfox v2.0.3. The new version has a much faster boot up time.
Do you plan to create a PR?

[2015-07-13 11:49] atomfrede commented on #1715
@gmarziou Great. I'll have a look it at

[2015-07-13 12:03] seanoreillyza commented on #1717
Hi guys,

Thanks for the prompt response.

I was originally trying to keep the JS file outside of the build list as follows:

[code]
But this resulted in a browser error, as Grunt was removing the javascript files from the scripts directory (in the minification step) and as a result the required JS file was no longer in the dist/scripts/app/quagga directory.

This kind of behaviour can be overridd

[2015-07-13 12:04] gmarziou commented on #1715
@RobWin this was just a prototype for issue #1508, for the PR I will if there's enough interest.
However there's at least one thing to improve: I'm not satisfied to generate markup in src folder, I'd better have everything in target.

[2015-07-13 12:09] gmarziou commented on #1717
Yes scripts in bower_components are not modified because usually their distribution already include a minified version.
But you should not have to manually add '<script src="bower_components/quagga/dist/quagga.js"></script>', running 'grunt wiredep' or 'grunt serve' does it for you for all bower components.

[2015-07-13 12:12] jdubois commented on #1717
Yes, this is just adding an external lib, it's documented [here](http://jhipster.github.io/development.html)

-> this is why I'm closing this, it is not a bug

@seanoreillyza if you follow the doc and have an error, can you add a comment or create a new bug? To be honest I haven't used it for a long time, and documentation can always be improved

[2015-07-13 12:12] #1717 closed

[2015-07-13 12:14] seanoreillyza commented on #1717
Happy to contribute where I can - thanks again for the feedback.

[2015-07-13 12:38] RobWin commented on #1715
Yes, can you easily generate the markup into the build folder. I have an example available.

[2015-07-13 18:34] MatthieuLebigre opened #1722 "Since JHipster v2.18, mapstruct brokes Java 7 comptatibility"
Hello,
I think with JHipster 2.18, the comptatibility with Java 7 is broken:
I have updated my project to JHipster, and my app is not starting anymore. Here is the exception :

    Exception in thread "main" org.springframework.beans.factory.BeanDefinitionStoreException: Failed to read candidate component class: URL [jar:file:/C:/Users/lebigrem/.m2/repository/io/springfox/springfox-swagger2/2.0.3/

[2015-07-14 05:40] jdubois commented on #1722
MapStruct is not supported on Java 7

- You don't have the option if you select "Java 7"
- It's also documented [here](http://jhipster.github.io/using_dtos.html)

So I don't know what you did, but it's normal that MapStruct doesn't work on Java 7 -> this is why I'm closing this

Then, I would be interested to know how you managed to use MapStruct with Java 7, as the option isn't available.

[2015-07-14 09:39] atomfrede commented on #1722
@jdubois Shouldn't this be added for ``java8`` option only? Its not guarded by any if statement (same for gradle by the way as I only copied the dependencies from
[code]

[2015-07-14 11:18] malikhan5049 opened #1724 "mvn clean package got stuck"
Hi,

I am doing mvn clean package my project and on concsole it got stuck after printing
Deleting C:\asdf\asdf\project\node_modules (includes = [], excludes = [])

[2015-07-14 11:20] malikhan5049 commented on #1724
this is because mvn-clean-plugin in pom.xml is configured with <configuration><fileset><directory>node_modules<><><>, anyway do anyone have any idea how to do mvn clean package in some faster way??

[2015-07-14 12:42] MatthieuLebigre commented on #1722
It's indeed what I removed from my pom. I didn't select any option, just rerun "yo jhipster" on my existing app.

[2015-07-14 14:41] jdubois commented on #1722
Good point! I'm reopening this!

[2015-07-14 15:05] qemweb commented on #416
hi guys,
what do you mean by " UX for phantom.js" ,
i am facing the same problem and can't resolv it for a week now, someone to help please,
here my error :

Failed to execute goal com.github.trecloux:yeoman-maven-plugin:0.4:build (run-grunt) on project cabinet-medical: Error during : node --version: Cannot run program "node" (in directory "/Users/retina/Dropbox/QEMWEB/WORK/PROJETS/LOGICIELS/hispt

[2015-07-14 21:27] gmarziou commented on #416
Your problem is very different: node executable has not been found in your path.
When you run 'node --version' in a terminal what does it say?

[2015-07-14 21:38] gmarziou commented on #1724
Let me rephrase what I understood; you find that the clean configuration takes too long because it deletes the node_modules folder.

And I would add that as you're on Windows this could cause problems because some files could be locked either by your IDE or some other program.

Then just edit your pom.xml and remove node_modules folder from the mvn-clean-plugin configuration.

[2015-07-15 00:15] jabelardo opened #1728 "generated EntityReurceTests not using the DTO when they should."
https://github.com/jhipster/generator-jhipster/pull/1727

[2015-07-15 01:57] mole440 opened #1729 "Reset password finish is posting the password in the URL querystring instead of body"
On the second phase of resetting your password (finish), the new password and key are being posted to the server as part of the querystring instead of the request body.

Is this not a security problem? e.g. URLs may be stored in web server request logs?

[2015-07-15 05:51] atomfrede commented on #1729
mh you might be right, didn't think of it before. Will have a look at it.

[2015-07-15 07:50] julienboulay commented on #892
Hi,
there's no refresh token option with x-auth-token. The user will need to signup another time when the token has expired. Refreshing the token could be done each time a new request is send to the server, extending the expiration limit.

[2015-07-15 08:18] 7170 commented on #1702
@deepu105 with which OS ?
I made a mistake with Ubuntu, I can't reproduce on it.

And by using local access (127.0.0.1) I have the same issue with mac OS X, so it's impossible that it is a firewall issue.

[2015-07-15 09:52] deepu105 commented on #1702
Im on windows but i dont that makes a difference

[2015-07-15 09:53] deepu105 commented on #1702
And the one running in aws is linux

[2015-07-15 10:45] gzsombor opened #1730 "Improvement to get current user id"
From my experiences, it is a generic need to get the id of the current user, not only the login name. It would be more efficient, and it would eliminate lot's of unnecessary db calls, for the login name -> id conversions. If others have the same experience - I would like to propose to add a :
* Create a new class which org.springframework.security.core.userdetails.UserDetails, which stores the use

[2015-07-15 12:01] gmarziou commented on #1730
Agree it's quite common.
In my project, I used the 3rd option.

[2015-07-15 12:34] 7170 commented on #1702
@deepu105 Resources sharing is not the same on all OSes, this could the reason why on windows you never seen that before.

@jdubois I've identified a bug with the context of the deployed application in prod profile :
 - when you try to load tomcat_url/app/dist from installed tomcat you get the page I mentioned before with "This is your footer"
 - when you get the same url from embedded tomcat (jav

[2015-07-15 12:46] gzsombor commented on #1730
Sorry, I thought it's as one proposal, with 3 steps :) Where do you store the login id, if you just added a method to the SecurityUtils? And when do you init / delete it ? Have you created a new thread context variable with a custom filter?

[2015-07-15 12:52] deepu105 commented on #1702
@7170 what Jhispter version are you using, we had some issues with deploying to a context in prod profile which was fixed in 2.17 i guess, but that too was not same as what you have. Moreover there are lot of people using this and no one else have this problem regardless of the OS so unless you provide the exact config in .`yo-rc.json` on the project root we wont be able to help.

Also from ur scr

[2015-07-15 13:09] 7170 commented on #1702
@deepu105 I'm using 2.17
 my .yo-rc.json :
{
  "generator-jhipster": {
    "baseName": "jhipster",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "authenticationType": "session",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "no",
    "websocket": "no",
    "databaseType": "sql",
    "devDatabaseType": "postgresql",
    "prodDatabaseType":

[2015-07-15 13:25] cah-JimShingler opened #1731 "JHipster 2.18 - Swagger Docs V2 - Unauthorized with Oauth2"
I recently upgraded to Jhipster 2.18 and started an new effort.

here is my yo file:

{
  "generator-jhipster": {
    "baseName": "myservices",
    "packageName": "com.myapp.my",
    "packageFolder": "com/myapp/my",
    "authenticationType": "oauth2",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "no",
    "websocket": "no",
    "databaseType": "sql",
    "devDatabaseType": "h2Memor

[2015-07-15 15:25] gmarziou commented on #1730
In my project, I had both public resources and personal resources (e.g. MY contract) that are related to the logged user.
I did something very simple: I just added a getCurrentLoginId() method in a BasePersonalResource abstract class that ContractResource extended.
I implemented getCurrentLoginId() as a simple call to my user repository using SecurityUtils#getCurrentLogin().
I call this method upo

[2015-07-15 16:23] santhoshgit13 commented on #1525
Hi,

I am new to Angular JS and trying to check out the User Management screen. Can someone help me how to check out the code from github. When i look at the source itseems that i need to create the app similar to the default jhipster using command line but not sure how to do it from github.

Can anyone please help me with it.

Thanks

[2015-07-15 16:53] cbornet commented on #1731
You mean that swagger + oauth was working before you upgraded.
Duplicate of #1697 ?

[2015-07-15 17:04] cah-JimShingler commented on #1731
Yes, on a different app that was created before 2.18 it worked.

This is a new app using 2.18

Not sure if the issue is part of Swagger Upgrade or something else?

[2015-07-15 18:58] vw98075 opened #1732 "An error on test for a freshly generated application"
After a few of creating application iterations, I think it is a good practice to run a test before doing anything. I get an error after a fresh application is generated. I don't have the cache option possibly due to my MongoDB selection.

C:\Users\me\workspace-sts-my-projects\myapp>gradlew test
:generateMainMapperClasses
:compileJava
:compileScala UP-TO-DATE
:bower
:processResources
:classes
:comp

[2015-07-15 19:14] gmarziou commented on #1732
if you're talking of the IllegalStateException on application shutdown, I got it often but it's harmless.
Nothing to worry about and I don't think it made your tests to fail.

[2015-07-15 19:26] pnowy opened #1733 "JHipster - support for Pagination abstraction instead of request parameters"
I was wondering why on JHister parameters responsible for pagination are provided to back-end by specified request parameters (by @RequestParam annotation) instead of Pageable abstraction provided by PageableHandlerMethodArgumentResolver from Spring.

I assumed that the problem was cooperation with default offset recognized from 0 by Spring and front-end implementation which uses the first page (o

[2015-07-15 19:56] vw98075 commented on #1732
Thanks for your quick response. I will ignore this error. BTW, the most of test on Rest fail after I change Spring Boot to the latest version 1.3.0.M2. And the application is running fine on Use operations.

com.mycompany.myapp.web.rest.AccountResourceTest > testRegisterAdminIsIgnored FAILED
    java.lang.AssertionError at AccountResourceTest.java:307

com.mycompany.myapp.web.rest.AccountResourceT

[2015-07-15 21:25] gmarziou opened #1735 "Entity detail view should not use input text"
Entity detail view should not use input text because there is no form in this view and the static values are presented in a table.

This is wrong from HTML standpoint and annoying for accessibility reasons.

https://github.com/jhipster/generator-jhipster/blob/master/entity/templates/src/main/webapp/app/_entity-detail.html#L24

[2015-07-15 22:30] outis10 opened #1736 "In DTO usage the request search method return entity"
Hi, I think if we use DTO this method have to return  the corresponding EntityDTO too only have access to the attributes of the DTO entity

Because my Entity and My  DTO have different atrtibutes when i searching the service return me the entity with  less attibutes than i required.
I changed to this and work fine

    Spliterator<Municipio> municipioSpliterator=    municipioSearchRepository.searc

[2015-07-16 11:10] cbornet opened #1737 "Cassandra entities do not compile"
In FooResource::create() method:
[code]
But in fooRepository:
[code]
So the code doesn't compile

[2015-07-16 15:55] NicholasRBowers commented on #277
Since this issue has closed, this project has migrated to Gulp.  Is there an analogous fix within the gulpfile?

[2015-07-17 09:23] pmverma opened #1741 "New entity is saved many times if save button is clicked continuously"
My network connection was really slow and when I clicked save button...nothing happened..clicked again(without being a patience user)...nothing happened...clicked again.
Then suddenly as expected three entity data were saved.

I think this behavior is not correct.

[2015-07-17 09:33] gmarziou commented on #1741
This was fixed by PR #1707 which should be part of next release.

[2015-07-17 09:36] pmverma commented on #1741
Thanks!
Closing issue as it has been fixed.

[2015-07-17 09:36] #1741 closed

[2015-07-17 10:22] walllzzz commented on #1130
I confirme that changing the master.xml file from
<include file="classpath:config/liquibase/changelog/00000000000000_initial_schema.xml"
     relativeToChangelogFile="false"/>
To
<include file="config/liquibase/changelog/00000000000000_initial_schema.xml"
     relativeToChangelogFile="false"/>
Makes the mvn liquibase:update works.

[2015-07-17 12:39] ashishodia commented on #320
I have sucussfully done the connection with MYSQL now i am storing the data in MongoDB by chaning the DB Conf. as MONGODB. When executing getting error "Unexpected error accessing the API: Error creating bean with name 'mongoDbAuthTokenPersister".

Can Anyone Advise here.....

[2015-07-17 15:06] hegek87 opened #1742 "Admin bar disappears when refreshing settings page"
Hey,

Using Jhipster 2.16.1 an error on the settings page was found using chrome and safari. To reproduce this, do the following:

1. Log in as an admin
2. Go to account -> settings
3. Refresh the page

You will see that the administration bar has disappeared.

I have a fix for this that I committed to a local project, but I'm interested in hearing thoughts about this fix. The issue is caused by f

[2015-07-17 16:08] vw98075 opened #1743 "Grunt test fails after adding a new language (version 2.18)"
Error message is something like

PhantomJS 1.9.8 (Windows 7 0.0.0) Directive Tests  Password strength Should display the password strength bar FAILED
    Error: Unexpected request: GET i18n/zh-cn/global.json
    Expected GET i18n/en/global.json

For more details, please refer to a post on stackoverflow.

http://stackoverflow.com/questions/31465119/get-an-error-after-adding-a-new-language?noredirec

[2015-07-17 16:16] vw98075 opened #1744 "HTTP 401 error for api-docs with Token-based authentication"
401 : {"timestamp":1437078467982,"status":401,"error":"Unauthorized","message":"Access Denied","path":"/v2/api-docs"}

I don't have this error when I use OAuth2 authentication configuration

[2015-07-17 17:51] andidev commented on #1468
I came across the same issue. I'll try to implement a dropdown if it's not too much work.

[2015-07-17 18:48] atomfrede commented on #1743
Have you changed anything else? Preferred language or removed an old language? I've added ``de``, ``zh-cn`` and ``zh-tw`` and ``grunt test`` works fine for me.

[2015-07-17 19:33] gmarziou commented on #1744
It seems to be a duplicate of #1731

[2015-07-17 19:34] atomfrede commented on #1742
It looks ok, but timout is should be the last option. But I have no other idea right know to be honest.

[2015-07-17 19:34] gmarziou commented on #1744
Yes it's a known issue, it was the same also before upgrading to spring-fox

[2015-07-17 19:37] vw98075 commented on #1743
I removed the French with the steps stated in the online document.

[2015-07-17 19:39] vw98075 commented on #1744
I had scanned over those existing bug reports and didn't see the pone. Sorry for posting a duplicated report.

[2015-07-17 19:45] gmarziou commented on #1744
No problem, it was mentioned in 2.18.0 release notes:

https://jhipster.github.io/2015/07/07/jhipster-release-2.18.0.html

[2015-07-17 19:57] atomfrede commented on #1743
Okay, I'll try it out. Nevertheless the test could be change to expect not a concrete language.

[2015-07-18 06:23] deepu105 commented on #1468
@andidev  I guess the drop down will be similar to the one to many dropdown but as @jdubois said it doesnt make sense to have it seperate and add as dropdown. It would be great if we can merge the one-to-one entity screens as a single form but that would be lot of work

[2015-07-18 07:24] gzsombor commented on #1742
This should be rewritten to use promises

[2015-07-18 08:11] jdubois opened #1745 "Create a board of JHipster contributors"
This isn't really a ticket, but I'd like to open up a discussion on managing JHipster and this is the only place to do it.

In case you are wondering:
- I have never met 98% of the other JHipster contributors
- I have no way to contact them outside Github -> we don't exchange mails in private, etc... I don't have even have the email addresses of most of the top contributors

I find this really coo

[2015-07-18 08:18] deepu105 commented on #1745
:+1: @jdubois Im in, let me know what details you require

[2015-07-18 09:45] gmarziou commented on #1745
I'd be glad to participate and in fact the timing is perfect as I'd like to propose some refactoring of the yeoman templates to make them easier to maintain and evolve.

[2015-07-18 09:49] atomfrede commented on #1745
@jdubois I love the way of working together. As you said no matter what age, religion, sex or origin. Everyone is treated with respect, which is really great! An the concern that you decide everything is far away from being true (e.g. oracle db, optional translation, frontend refatoring). So the community driven approach works very well.

So thanks to @deepu105 @andidev @gzsombor @gmarziou for the

[2015-07-18 09:52] jdubois commented on #1745
@atomfrede oh yes for Gitter that should be doable. The only issue with Gitter is that we lose the history, so that's really just for chatting, not for discussing important stuff.

BTW I'm going to be away for a few more days, so don't worry if I don't answer, again :-)

[2015-07-18 09:56] atomfrede commented on #1745
@jdubois Yes, gitter is just for chatting not for great "design or architecture" discussions. Have some nice holidays!

[2015-07-18 09:57] deepu105 commented on #1745
@atomfrede, @jdubois  yup thats very true, I have seen many OSS projects and nothing really made me want to be a contributor, especially given my hectic schedules. but this was an exception, I fell in love with JH at first sight and this is my major OSS contribution so far.
I really liked the current way things are and Github is the easiest way for managing the project i guess.

:+1: for closed gr

[2015-07-18 09:58] deepu105 commented on #1735
:+1: yes this should be just plain text values

[2015-07-18 10:01] atomfrede commented on #1743
@vw98075 Still no problem here. @deepu105 Can you check it on windows if its a platform problem? But I'll adapt the test to a "wildcard" language today.

[2015-07-18 10:13] deepu105 commented on #1743
@atomfrede could it be because of the order of the request being made? any way ill check it in windows

[2015-07-18 11:10] gzsombor commented on #1745
+1 I'm in!

[2015-07-18 11:59] gmarziou commented on #1468
one-to-one entity screens as a single form works most of the time and in particular I think it would address the concern that a lot of people have which is to extend User.

But how would it work if the relation is optional like for instance between a user and his passport.

[2015-07-18 12:01] atomfrede commented on #1742
@gzsombor I've changed the ``principal.service.js`` like this (and admin bar never disappears). Is this the correct implementation of a promise?

[code]

[2015-07-18 13:06] gmarziou commented on #1468
in Rails, they have the notion of nested forms and nested attributes, it means being able to update several models with one form and request and yes it can be complex.

[2015-07-18 13:34] gzsombor commented on #1742
I think, something like this would work:

            isInRole: function (role) {
                if (!_authenticated) {
                    return false;
                }

                return this.identity().then(function(_id) {
                  return _id.roles && _id.roles.indexOf(role) !== -1;
                }, function(err){
                  return false;
                });

[2015-07-18 13:50] atomfrede commented on #1742
Thanks looks better. Will try it out (have some time today).

[2015-07-18 18:15] gmarziou opened #1749 "Modularize yeoman templates for easier maintenance and evolution"
Hi contributors!

The entity sub generator has probably the most complex yeoman templates of JHipster because they have grown each time new features were added, lately enums and validation have added even more complexity to the point that I think it's quite hard to evolve them.

So, thinking that there must be a better way, I looked at the template engine used by yeoman: [EJS](http://ejs.co/) and

[2015-07-18 20:52] #1722 closed

[2015-07-18 20:52] #1719 closed

[2015-07-18 20:58] #1742 closed

[2015-07-18 21:35] atomfrede commented on #1525
@moifort I've checked it out with cassandra (using local cassandra). Looks good so far. Following is not working right now:
* Edit and display
* pagination seems to be enabled  by default on angular side (-> don't work)

[2015-07-18 21:47] atomfrede commented on #1749
Looks good to me. Especially when you have a lot of options (like validation or databases) your proposal makes it much easier to maintain the templates.

[2015-07-19 10:14] gmarziou commented on #1749
The most difficult part is to remove the old lines once you have created the sub template because it's so easy to remove a needed closing tag and ejs is not very good at pointing you to the error.

[2015-07-19 12:15] andidev commented on #1468
The single form solution seems the best way to do it but I don't have any time for that right now.

I'm thinking about simply adding a simple dropdown as it works for the many-to-one relationship. Isn't that at least better than the current solution where you are not able to set the relationship at all?

[2015-07-19 12:18] andidev commented on #1745
I'm in as well!

[2015-07-19 15:18] deepu105 commented on #1749
yes this should be good, we should continue this to other parts as well, for example move reusable code to be used across the sub generators, like building war for cloud deployments etc, reduce the overuse of `this` etc, but these can be tracked under separate issues. :+1:  for above change

[2015-07-19 15:27] deepu105 opened #1750 "Feature: Notification system"
currently JH app generated doesnt have any notification system for below
1. Successfull events like entity creation, update, delete etc.
2. Error events like validation failure on server, unknown errors etc

these can be observed in console logs but to an end user there is no indication of success/failures

My solution: Angular Http interceptor to listen for response, requestError and responseErro

[2015-07-19 15:58] gzsombor commented on #1750
I've done similar thing, a bit more, a bit less, my solution is aimed for error reporting, and a nice, internationalized error messages. It is based on a http-interceptor and an 'error-display' directive, with that, you can throw an *CustomParameterizedException("error.missingPriceForPart", part.getName(), part.getSerialNumber())* and in the 'error.json', for "error.missingPriceForPart" : "Missing

[2015-07-19 16:25] vw98075 commented on #1743
I try again on this matter today. I remove the French language first and add Chinese. The test is fine. Last time, I added Chinese first and removed French. The order of language change might be the cause.

[2015-07-19 16:53] gmarziou commented on #1750
It would be very useful for all API interactions, I also did something similar with home made toast style notifications only for sucesses, for failures it depended on context.

For other kind of errors, maybe we could use [$exceptionHandler](https://docs.angularjs.org/api/ng/service/$exceptionHandler), the default implementation simply logs the error into the browser console, we could have custom

[2015-07-19 17:33] vw98075 commented on #1743
I get the same error after changing language='en' to language='zh-cn' in language.service.js. The error still persists after I revert the change.

angular.module('yellowflowApp')
    .factory('Language', function ($q, $http, $translate, LANGUAGES) {
        return {
            getCurrent: function () {
                var deferred = $q.defer();
                var language = $translate.storage().

[2015-07-19 18:00] vw98075 commented on #1743
I notice at some point, the following lines of code is added into karma.conf.js file also in the index.html file.

            'main/webapp/bower_components/modernizr/modernizr.js',
            'main/webapp/bower_components/jquery/dist/jquery.js',
            'main/webapp/bower_components/stomp-websocket/lib/stomp.min.js',
            'main/webapp/bower_components/sockjs-client/dist/sockjs.js',

[2015-07-19 23:56] vkoop opened #1752 "Feature: User Administration"
A basic user administration would be really helpful (CRUD). I have implemented it for a recent project and could provide a first draft of the functionality, if it would help other users too.

[2015-07-20 00:18] PeterEltgroth commented on #1752
This seems like a duplicate of #1525.

[2015-07-20 01:33] deepu105 commented on #1750
@gzombor @gmarziou thats awesome we should merge our solutions to become a great error handling and notification system, ill commit my fork and let you guys know take a look and see how we can put them all together
@jdubois what do u think

[2015-07-20 01:37] deepu105 commented on #1743
I tried it and dont see any issue, could it be something specific that you do. Anyways @atomfrede i think the language check should be generic in all places where the actual test has nothing to do with i18n

[2015-07-20 05:28] atomfrede commented on #1743
@deepu105 Yes the check should be generic. I can provide a PR.

[2015-07-20 05:56] #1752 closed

[2015-07-20 14:59] jdubois commented on #1733
In fact the real cause is me not knowing the Spring pagination abstraction good enough! And I wanted to model the pagination with the offset, indeed.
So if you have a solution that could make both model work together, that would be an improvement.
I've had a look at your code and that looks good, my only 2 points are:

- It adds quite a number of new lines to the code, but I don't think this can b

[2015-07-20 15:02] jdubois commented on #1745
Hi all,

OK, so we all agree here -> I'm closing this issue as a result.

 @deepu105 @andidev @gzsombor @gmarziou can you all send me your real email address so I can join you is necessary? My email is firstname.lastname@gmail.com (with my firstname="julien" and lastname="dubois")

This will be first priority in the next weeks (yes I'm still on holidays, so things won't go as fast as everybody wan

[2015-07-20 19:21] pnowy commented on #1733
Ok - so Spring provides out of the box pagination abstraction which can be used as method parameter with Pageable interface. What needs to be done before that is registration of additional argument resolver - mentioned PageableHandlerMethodArgumentResolver.

As I remember this arg resolver is automatically registered with data web support (annotation @EnableSpringDataWebSupport from Spring) or whe

[2015-07-20 22:23] andidev opened #1753 "Call methods in templates instead of creating properties in entity jsons"
Instead of creating json properties to hold data needed in the templates we should create methods that can be called from the templates to get the data wanted.

The property `fieldNameCapitalized`, `fieldNameUnderscored`, `fieldInJavaBeanMethod` is today stored in each field, e.g.
[code]

and then used in the templates as e.g.
[code]

instead of using properties we should expose the methods in the

[2015-07-21 01:58] deepu105 commented on #1710
Im reopening this issue, coz this seems to be appearing on and off, I still dont know how to reproduce, but randomly this happens.
May be this is only in windows but given the unstable nature i doubt. This is a very bad thing for new comers and should be fixed

[2015-07-21 02:00] deepu105 commented on #1710
I guess a sure shot way is to bind the these two tasks into the mavan or gradle build so that it is not missed

[2015-07-21 02:19] deepu105 commented on #1750
@gzsombor @gmarziou plz take a look at my commit here https://github.com/deepu105/generator-jhipster/tree/notification

let me know what you guys think.

note: There is a weird issue, the close button in the toast is hidden by a ng-hide class, i have no idea why, it works in my app. so that needs fixing

[2015-07-21 05:38] andidev commented on #1710
Grunt build is run from at least maven and it should inject the files.

[2015-07-21 06:33] atomfrede commented on #1710
I've created two projects just now on windows 8 (one with maven, one with gradle) and both times wiredep injected all files.

[2015-07-21 07:22] lanbuithe commented on #1370
At generator-jhipster 2.18.0, upgrade sockjs-client to 1.0.1 version in bower.json and update tracker.service.js as above
                var loc = window.location;
                var url = '//' + loc.host + loc.pathname + 'websocket/tracker';
                var token = localStorageService.get('token');
                if (token && token.expires_at && token.expires_at > new Date().getTime()) {

[2015-07-21 08:58] #1745 closed

[2015-07-21 09:12] jdubois commented on #1745
@gmarziou I'm only missing your email address!

[2015-07-21 09:20] gmarziou commented on #1745
I did send it yesterday at 23:22 but I just sent it again.

[2015-07-21 09:27] gmarziou commented on #1753
Unless I misunderstood your proposition, I can see 2 cases where it would not work:
- someone wants to customize how a field name is underscored
- some tool needs to access the information after generation (maybe jhipster uml, I haven't looked at it yet)

[2015-07-21 09:38] deepu105 commented on #1710
@atomfrede for me its working on and off and i dont know whats causing this behavior im on windows 8 as well. had an embarrassing moment coz of this when i was doing the JH demo to Singapore spring user group earlier

[2015-07-21 09:44] deepu105 commented on #1753
@andidev I too think its good to have the flexibility to change the names in the json, but the second part concerning the dates are annoying as it causes error if you forget to change when modifying any json by hand so if that can be avoided that will be great i guess. as @gmarziou said we should think of Jhipster UML as well @MathieuAA  any comments on this?

[2015-07-21 10:08] deepu105 commented on #1750
https://github.com/deepu105/generator-jhipster/commit/98c0b809ef209751b2c10a65d19902cf28b9a2a3

[2015-07-21 10:22] marcelinobadin commented on #1370
@lanbuithe I have tried your method but it did'n work for me. I am using OAuth2 authentication.

[2015-07-21 10:40] andidev commented on #1753
The customization is a strong argument. Did not think of that. Though I'm not sure why the user would ever want to change the `fieldNameCapitalized ` and `fieldInJavaBeanMethod ` properties. Note that the field name would still be modifiable and therefore the `fieldNameCapitalized ` and `fieldInJavaBeanMethod ` property values as well. The only thing that is not modifiable is how the capitalizatio

[2015-07-21 11:15] MathieuAA commented on #1753
First, let me just say that this would be a great improvement!

From a JHipster-UML-y point of view, @CarlKlagba and I would really like to remove the code that generates things like "fieldNameCapitalized", or "fieldNameUnderscored". It's pretty straightforward to make this change (as far as I can see, only code removal is needed, no addition whatsoever).

However, having played with the templates

[2015-07-21 12:32] gmarziou commented on #1753
In some languages capitalization is a complex task that our simple generator may always get wrong because it does not know the developer's locale.

[2015-07-21 12:33] seghers opened #1754 "update generated entity with added options"
When I look at my project I see 20+ entity.json files that are outdated since I added them months ago. Is there an easy way to update/add new options to an old generated entity.json (or in batch for all entities)
Only modifying the .json and not auto running the entity sub-generator.

eg.

        {
            "fieldId": 5,
            "fieldName": "country",
            "fieldType": "String",

[2015-07-21 12:45] gmarziou commented on #1753
@MathieuAA regarding painful templates, did you read my proposition in #1749? Do you think it would have helped you?

[2015-07-21 12:46] CarlKlagba commented on #1753
I am of @andidev  opinion, we should remove properties in the JSON file.
 And I am with you @MathieuAA about the customization, we could make some fields optional, with a simple existence test in the function.

About the way to access the information after generation, with JHipster-UML, our only interface with the JHipster app is the JSON, so we unfortunately do not have the tool.

I talked I abou

[2015-07-21 12:48] gmarziou commented on #1754
The only solution is to re-run 'yo jhipster:entity' with same entity name and do manual merges which can be tedious if you have modified a lot your entities manually since generation.

[2015-07-21 13:07] MathieuAA commented on #1753
@gmarziou, I've read what you wrote, and I liked the idea. Anything to make any generator less problematic to handle is (generally) a good idea. And yes, it would have helped me. Both ideas (the one exposed here and your previous idea) are good to take.

[2015-07-21 13:54] MatthieuLebigre commented on #1754
A nice to have would be a tool (generator option ?) to update entity.json files, but it would be also difficult to implement/maintain.
Maybe a documentation of the changes between each version would help.
I had also some trouble when upgrading jhipster on existing app : the app itself is not that difficult to upgrade (run yo jhipster, and with git it's easy to merge the changes), but for the entit

[2015-07-21 14:23] deepu105 commented on #1753
@andidev @gmarziou yes it would be nice if we can remove this
[code]
without having to loop, but even if we loop i dont think thats a big deal given these json are not that huge, we can find types from the  `fieldType` and do imports accordingly. Regarding the naming fields i was wondering the same why would someone need both `fieldNameCapitalized` and `fieldInJavaBeanMethod`
I guess we can make t

[2015-07-21 15:15] CarlKlagba commented on #1753
@deepu105 Woo ! That looks great. If we could also do the opposite we could use it to make a class diagram editor.

[2015-07-21 15:16] tomhughesnice commented on #1370
@lanbuithe I tried your method with no luck either.

[2015-07-21 16:46] lanbuithe commented on #1370
You can clone source at https://github.com/lanbuithe/Simple-POS, it's is working

[2015-07-21 16:50] gmarziou commented on #1753
Nice changes but it seems to be a breaking compatibility change, so should it be done on 3.0 branch?

[2015-07-21 18:40] vw98075 opened #1755 "A default date format filter needed in AngularJS code"
This is an enhancement request.

When a date or time data type is generated in the front end, it should come with a default format filter.  Otherwise, a date or time will show up in a format based on the browser interpretation and a same date field can appear differently on different browsers.

[2015-07-21 19:15] pnowy commented on #1733
I've prepared the changes based on pure Spring pagination abstraction. (with pageable resolver provided with Spring) with required front-end changes (see https://github.com/pnowy/jhipster-pagination/commit/c0dcd7934d845fd64e93cd2a043d350f1764b3af). There is a less new code as before due the fact that we are using there class from Spring.

These changes are about the pagination. I will take a look

[2015-07-21 20:01] mourad91 commented on #1651
Good job @andidev :+1:
@jdubois: it will be integrate on next version of jhipster ?

[2015-07-21 20:18] andidev commented on #1753
@gmarziou , @deepu105 , @MathieuAA , @CarlKlagba
So after reading all answers maybe I have a solution that will make everybody happy and even solve issue #1754 if we do it correctly.

So what if we do it like this:

By default stop saving redundant information into the entity json files. This means
[code]

would be saved as
[code]

instead when running the generator, generate the missing data into

[2015-07-21 20:23] andidev commented on #1651
@mourad91
Yes it is merged with the master branch alredy, see PR #1703

[2015-07-22 01:30] deepu105 commented on #1753
@andidev this is def better than the current impl, +1 from me

[2015-07-22 05:00] MathieuAA commented on #1753
If I understand correctly, you'd have an object in memory have all the needed info, but write a JSON  that only contains what's really useful (and that can be overriden if needed), so that everything else could be deduced from it.
You have my +1.

[2015-07-22 05:18] gzsombor commented on #1750
Here is my implementation : https://github.com/gzsombor/generator-jhipster/commit/051d0639372b674cb30687c712971345423018b5

[2015-07-22 05:27] deepu105 commented on #1750
@gzsombor looks good, it will be great if we can merge these

[2015-07-22 05:34] gzsombor commented on #1750
@deepu105 : Seems nice, the only thing, which I found annoying in your solution is that it will display the alert for POST even if it's not related to entity creation. I would rather put a configuration parameter inside the resource definition, to enable the alerts (I do have a couple of POST for state changes, complex searches, where the user will be seriously surprised, if that alert is presente

[2015-07-22 07:49] deepu105 commented on #1698
@jdubois I guess this might be something wrong at NPM level coz im seeing similar behavior in bower as well

![image](https://cloud.githubusercontent.com/assets/1107223/8820553/24eec766-3089-11e5-89e9-ac41afcea55a.png)