[2017-01-28 22:18] smouelhi commented on #5000
@jdubois was definitely faster than me! Thanks @jdubois !

[2017-01-28 22:55] jdubois commented on #4301
- Social login doesn't work, both with AngularJS 1 and Angular 2
  - With Angular 2, the login looks to work, but there is a stacktrace showing a registration email being sent (which shouldn't happen as we use Social login), and then we get redirected to a page with no view (there's the menu and footer, but nothing in the middle)
  - With AngularJS 1 I can't get authenticated by Google (and I'm us

[2017-01-28 22:58] SWEnthusiast commented on #4354
@pascalgrimaud Is there a working example for Kafka integration using Jhipster generated microservices without Docker? Would appreciate if you could please point me to those resources if any. Thank you!

[2017-01-28 23:22] pascalgrimaud commented on #4354
@SWEnthusiast :
- I don't understand what you need and why you answer in this ticket
- if you don't want to use Kafka with Docker, it's your choice, you have to read the official documentation  (probably here https://kafka.apache.org/) and install it yourself
- I know that the generated project using Kafka option is very simple, but it's already a good start and PR to improve it are welcome

Perso

[2017-01-28 23:24] jdubois commented on #4998
Yes indeed, we don't have the time at the moment for this, let's do it after the release

[2017-01-28 23:26] jdubois commented on #4923
What exactly needs to be done here, for JHipster 4? Can we close, or postpone this?

[2017-01-28 23:44] deepu105 commented on #4923
Lets put it on hold or add it to the TODO for next ticket so that we can do
it later

Thanks & regards,
Deepu

On 29 Jan 2017 12:26 a.m., "Julien Dubois" <notifications@github.com> wrote:

What exactly needs to be done here, for JHipster 4? Can we close, or
postpone this?

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/jhipster/

[2017-01-28 23:51] jdubois commented on #4301
- I can't login with UAA. Everything starts up correctly, but the login form gets a 404 error. @xetys if you have time to check...

[2017-01-28 23:51] gmarziou commented on #4923
Well my proposition for defining all routes with an action did not convince others so I close the issue.

'entity/:id' route works as long as id is a number, when id can be anything there can be conflicts like what we have for user management routes.

[2017-01-29 00:05] jdubois commented on #4301
- Websocket is checked as it works in "prod" mode, but in "dev" mode there is no way to use it correctly: with just HMR (port 9060) or with BrowserSync + HMR (port 9000) the socket can't be opened, so it's impossible to develop easily.

[2017-01-29 00:11] ruddell commented on #4301
@jdubois I didn't have any issues with NG1 and Google, is there a specific error message?  Also we send an email on account creation for social users

For NG2, social-auth.register.ts doesn't get the `provider`/`success` params from the route.  I don't think ` this.provider = params['provider{success:boolean}'];` looks right so I'll leave that to someone who knows ngRouter.  For easier testing, th

[2017-01-29 07:47] jdubois commented on #4301
@ruddell for Social login + NG1, I get:

    The redirect URI in the request, http://localhost:8080/signin/google, does not match the ones authorized for the OAuth client

But this URL is correctly configured, and works with NG2 (with NG2 it fails after that, when displaying the page)

[2017-01-29 07:59] jdubois commented on #4301
And the last bullet point "add new languages to app" doesn't work...

-> I'm going to finish testing all those, and then I'll close this ticket and create one specific ticket per issue, as there are just too many of them here

[2017-01-29 08:54] jdubois commented on #4301
Testing the entities:

- Dates cannot be edited (both LocalDate and ZoneDateTime)
- ZoneDateTime do not have the correct pop up, as the time can't be set up
- The "pager" and "pagination" are the same component
- In many-to-many relationships, when you view the entity, you cannot click on the "many" entities

[2017-01-29 10:13] deepu105 commented on #4301
@jdubois I see the Oauth option is checked but what about https://github.com/jhipster/generator-jhipster/issues/4982 can someone take a look at it? I'm not an Oauth expert

[2017-01-29 12:31] jdubois commented on #4301
@deepu105 oh I didn't test this, so OK let's uncheck this.
Maybe we should remove the OAuth2 option, it doesn't make much sense (you'd better have an external OAuth2 server, for what we do here JWT is much better and probably more secure), causes lots of issues, and nearly nobody uses it (only 13 generations last month!!). I'll do a ticket for this too.

[2017-01-29 12:44] jdanosborne opened #5001 "Stack trace when searching an entity"
##### **Overview of the issue**
Doing a text search in any of my  generated entities causes a stack trace ...
[code]

##### **Motivation for or Use Case**

The search fails

##### **Reproduce the error**

Login, choose an entity from the Entities menu, enter some text in the search box and hit return.

##### **JHipster Version(s)**

3.12.1

##### **JHipster configuration**

Welcome to the JHipster

[2017-01-29 12:48] jdubois commented on #5001
Are you using the "dev" profile or the "prod" profile? How do you start Elasticsearch?

[2017-01-29 12:50] jdubois commented on #4301
I've tested everything, I'm going to:

- Create tickets for each issue
- Give them priorities

If we can't solve them easily, we can still remove options in the generators.

And I'll close this ticket afterwards as it is becoming too big.

[2017-01-29 12:57] jdubois commented on #4302
@mohamed2a @ramzimaalej I'm currently testing everything, we don't have a lot of Karma tests, and no tests at all on entities -> will you do a PR soon on those? Otherwise this won't be in JHipster 4

[2017-01-29 13:02] jdubois opened #5002 "Social login doesn't work"
This comes from our JHipster 4 tests, see https://github.com/jhipster/generator-jhipster/issues/4301#issuecomment-275880677

- With Angular 2, the login seems to work, but we get redirected to a page with no view (there's the menu and footer, but nothing in the middle)
- With AngularJS 1 I can't get authenticated by Google (and I'm using the same codes as for Angular 2, in the previous point). Whe

[2017-01-29 13:03] jdanosborne commented on #5001
dev and I'm not explicitly starting ElasticSearch - is it external to my jhipster app then?

[2017-01-29 13:08] jdubois commented on #5001
thanks @jdanosborne in that case it's even more simple! You should have an embedded Elasticsearch that starts automatically with your project - do you see this in your logs?
It might not be in sync with your database, that depends on what you did - as you use MySQL in dev, if you did a `mvn clean` you destroyed your Elasticsearch indexes, so it won't be in sync with what you have in MySQL.
So you

[2017-01-29 13:08] #5001 closed

[2017-01-29 13:14] jdubois opened #5003 "JWT doesn't work with Swagger "try it out""
This comes from our JHipster 4 tests, see https://github.com/jhipster/generator-jhipster/issues/4301#issuecomment-275880677
With JWT authentication, testing the API with Swagger fails:

- Select an API to test
- click on "try it out", there will be an authentication error
- It is not authenticated as the JWT token isn't sent

[2017-01-29 13:18] deepu105 commented on #4301
@jdubois IMO lets not remove options as we are only releasing a Beta of angular support and not final. if we remove options we wont get feedback for those as failing options would prompt more contribution from people who try to use them and we can fix them once we move NG2 support out of Beta

[2017-01-29 13:18] deepu105 commented on #4302
Im working on karma test for entities. will commit today

Thanks & Regards,
Deepu

On Sun, Jan 29, 2017 at 1:57 PM, Julien Dubois <notifications@github.com>
wrote:

[2017-01-29 13:19] jdubois commented on #4301
@deepu105 it's not really cool to allow options that we know are failing. We should at the very least put a clear warning, like "unfinished".

[2017-01-29 13:19] jdubois commented on #4301
@deepu105 I'm listing all those errors, I still have good hope we can solve them all.

[2017-01-29 13:20] jdubois opened #5004 "Prod profile errors"
This comes from our JHipster 4 tests, see https://github.com/jhipster/generator-jhipster/issues/4301#issuecomment-275880677

On all projects, when doing a "prod" build, there is still a banner (the "ribbon" that shows we are in dev mode).

- If the project has i18n enabled, the ribbon gets the message "translation-not-found".
- If the project hasn't got i18n, the ribbon doesn't have any message in

[2017-01-29 13:22] deepu105 commented on #4301
Agree but isnt marking something as [BETA] clear warning that its unfinished?
Else we can mark such options [Unstable] so that people still get a chance to use them and fix them if its required for them. if we dont give people a way to use them at all then the burden of fixing those options will be solely on us.

[2017-01-29 13:22] jdubois commented on #4998
Closing this as it's already listed in #4794

[2017-01-29 13:22] #4998 closed

[2017-01-29 13:24] deepu105 commented on #5004
I guess prod profile might still be using dev config for client side. this needs to be checked

[2017-01-29 13:27] jdubois commented on #4989
@asanzdiego did you have any success with this?

[2017-01-29 13:28] jdanosborne commented on #5001
Yes I did an mvn clean a little while ago. There is no reference to Elasticsearch in the logs  that I can see

[code]

I'll investigate an external Elasticsearch.

Many thanks!

[2017-01-29 13:29] deepu105 commented on #4989
@asanzdiego if you are stuck let me know ill try to help

[2017-01-29 13:31] jdubois commented on #4965
With JHipster 4 I don't exactly have the same error as you. Everything starts up correctly, but the login form gets a 404 error (and my UAA server is correctly seen from the Registry, so the Gateway should have a route opened to this URL, and we shouldn't get a 404 error).
@xetys as you coded this part, can you check?

[2017-01-29 13:39] jdubois opened #5005 ""dev" mode with Websocket isn't user-friendly"
This comes from our Angular 2 test cases - see https://github.com/jhipster/generator-jhipster/issues/4301#issuecomment-275883927

With Websockets selected:

- it works in "prod" mode
- in "dev" mode there is no way to use it correctly: with just HMR (port 9060) or with BrowserSync + HMR (port 9000) the socket can't be opened, so it's impossible to develop easily. You need to restart everything, as

[2017-01-29 13:43] jdubois opened #5006 "LocalDate and ZonedDateTime do not work properly"
This comes from our JHipster 4 tests at https://github.com/jhipster/generator-jhipster/issues/4301#issuecomment-275901699

- LocalDate and ZoneDateTime cannot be edited - when you edit the entity, there is an error and the page reloads
- ZoneDateTime doesn't show the time (it's the same as LocalDate), so it can't be used properly

[2017-01-29 13:47] jdubois opened #5007 ""Pager" is not implemented"
This comes from our JHipster 4 tests at https://github.com/jhipster/generator-jhipster/issues/4301#issuecomment-275901699

When creating an entity, selecting a "pager" gives in fact a "pagination" component.

This is mostly useful for Cassandra, and maybe in some performance-specific scenarios if you use an SQL or a MongoDB database. Otherwise, the "pagination" is always better, that's why I'm put

[2017-01-29 13:53] jdubois opened #5008 "Many-to-many relationships links do not work"
This comes from our JHipster 4 tests at https://github.com/jhipster/generator-jhipster/issues/4301#issuecomment-275901699

When a many-to-many relationship is created, for example with this JDL:

[code]

When the many-to-many relationship is created:

- It appears in the link with commas, and there is one comma at the end that should be removed
- The links cannot be clicked

See the attached scree

[2017-01-29 13:55] jdubois opened #5009 "Language sub-generator does not work"
This comes from our JHipster 4 tests at https://github.com/jhipster/generator-jhipster/issues/4301#issuecomment-275899839

Using the `languages` sub-generator doesn't work with Angular 2. Regenerating the project works after using the sub-generator (`yo jhipster --force --with-entities`) so I guess it's just not updating the navbar.

[2017-01-29 13:56] jdubois commented on #4301
Closing as I added all the issues as specific tickets!

[2017-01-29 13:56] #4301 closed

[2017-01-29 14:00] jdubois commented on #5001
@jdanosborne in the admin menu, have a look at the "health" page, it should tell you if Elasticsearch is running

[2017-01-29 14:18] jdubois opened #5010 "Should we remove the OAuth2 option in JHipster 4?"
I know we are in "code freeze" mode, but removing (or just disabling!) an option shouldn't be very complex.

We have yet another OAuth 2 issue, this time with JHipster 4 / Angular 2 at #4982

**Please note** the subject here is just the OAuth2 option when generating a monolith. Using UAA + OAuth2 for microservices (which is still in beta) is a different option, and makes a lot more sense to me (as

[2017-01-29 14:19] jdubois commented on #4982
I'm putting this "on hold" until #5010 is decided

[2017-01-29 15:00] alfredorueda commented on #5010
We are using OAuth2 from an Android frontend, but there's absolutlely no problem in refactoring our code to use JWT instead. Anyway, thank you for asking :-)

[2017-01-29 15:03] Farael49 commented on #5010
"There is a security issue with it"
Should be removed then.

[2017-01-29 15:26] notflorian commented on #5010
As long as the social login is still possible with Facebook, Twitter and Google login, I have no issues whatsoever to remove this option.

[2017-01-29 15:34] pankajppr opened #5011 "Installation is failing with the below error"
Installation is faliling giving the following error.

Welcome to the JHipster Generator v3.12.2
Documentation for creating an application: https://jhipster.github.io/creating-an-app/
Application files will be generated in folder: C:\Users\panka\workspace\Hipster\generator-jhipster
WARNING! git is not found on your computer.

? (1/15) Which *type* of application would you like to create? Monolithic

[2017-01-29 15:43] jdubois commented on #5011
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-01-29 15:43] #5011 closed

[2017-01-29 15:45] jdubois commented on #5010
@notflorian yes social login is another option, it will remain (but it's currently broken with JHipster 4, so if you can help with #5002 that would be great - I'm not really good with that part)

[2017-01-29 15:53] cbornet commented on #5010
If you're doing only authentication, yes, JWT is better. But Oauth2 is primarily for authorization and 3-legged auth which is a bit different. Eg. : a user can authorize a third party app to perform some actions on your server.

Then, I agree that using an external IAM such as UAA, Stormpath, WSO2, etc is better for the job. I think it's not the role of JHipster to provide complex IAM. However it

[2017-01-29 15:56] jdanosborne commented on #5001
Yes, says Status is UP. And there is data in target/elasticsearch/data but not target/elasticsearch/log

I tried setting elasticsearch/properties/http/enabled: true in application-dev.yml but had no effect - maybe that is for something else?

[2017-01-29 15:57] jdubois commented on #5010
As always, @cbornet you are of excellent advice! Indeed, this is a different use case than JWT, and I overlooked that.
Then, as you say, it would be logical that people use a third party provider:

- They could test it locally with UAA, hopefully
- We already have a module for Stormpath, and I guess it wouldn't be hard to integrate others

I don't think issue #4982 is also present with UAA, but I

[2017-01-29 15:59] jdubois commented on #5001
If you did a `mvn clean` then you deleted everything, so you need to recreate your data - if you edit an entity, if should be saved again, maybe you could try this? Then there is a "reindexer" module, but I have never used it.

[2017-01-29 16:19] airedalepuppy commented on #5010
OAuth 2 was an important factor for one large client I'm aware of. In fact Jhipster also gave my team a nice, easy to setup environment with which to experiment with this approach and show something tangible to management.

[2017-01-29 16:28] ruddell commented on #5001
If you need the information from your database back in embedded elasticsearch (which is cleared on `mvn clean`), use the [jhipster-elasticsearch-reindexer](https://www.npmjs.com/package/generator-jhipster-elasticsearch-reindexer).

Note that in production, the default configuration is to use an external elasticsearch [[docs](https://jhipster.github.io/using-elasticsearch/)].

[2017-01-29 16:57] pankajppr opened #5013 "Installation is failing with the SyntaxError: Block-scoped declarations error"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Installation is faliling giving the following error.

? (14/15) Would you like to enable internationalization support? No
? (15/15) Besides JUnit and Karma, which testing frameworks would you

[2017-01-29 17:03] jdubois commented on #5013
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-01-29 17:03] #5013 closed

[2017-01-29 17:05] jdubois commented on #5003
Re-opening - despite #5012 which should definitely help, I still get:` "message": "JWT strings must contain exactly 2 period characters. Found: 0"` when I'm using the API

[2017-01-29 17:05] laichihfei opened #5014 "MapStruct DTO related to User."
##### **Overview of the issue**

Creating an entity related to User will cause an error.internalServerError.

##### **Motivation for or Use Case**

[code]

##### **Reproduce the error**

Use search engine (elasticsearch) will cause this error.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

JHipster Version: 3.12.2

##### **JHipster configuration**

cat .yo-rc.js

[2017-01-29 17:13] deepu105 commented on #4301
Did anyone test out an option with a custom jhiPrefix added?

Thanks & Regards,
Deepu

On Sun, Jan 29, 2017 at 2:56 PM, Julien Dubois <notifications@github.com>
wrote:

[2017-01-29 17:18] deepu105 commented on #5013
@pankajppr I think you are on an older nodeJS version. Please try again with the latest nodeJS LTS version (6.9.2 I guess)

[2017-01-29 17:20] pankajppr opened #5015 "Installation of Jhipster is getting failed giving error."
##### **Overview of the issue**

Installation of Jhipster is getting failed giving error.

##### **Motivation for or Use Case**

Cloned the Git repo https://github.com/jhipster/generator-jhipster.git and unable to proceed further. followed all the instruction given for installation but it is failing giving below error in the end.

##### **Reproduce the error**

C:\Users\panka\workspace\Hipster\gen

[2017-01-29 17:25] jdubois commented on #5015
Try upgrading to a newer Node version, and you could also try Yarn instead of NPM. We don't support older Node versions.

[2017-01-29 17:25] #5015 closed

[2017-01-29 17:44] pankajppr commented on #5013
@deepu105  Thanks . it worked.

[2017-01-29 18:24] jdubois commented on #5014
I confirm your issue.

[2017-01-29 18:27] ruddell commented on #5002
For NG1, that looks like a misconfiguration on the google side.  Your authorized redirect URIs should include "http://localhost:8080/signin/google" like below:
<img width="628" alt="screen shot 2017-01-29 at 10 06 39 am" src="https://cloud.githubusercontent.com/assets/4294623/22406610/af72fe60-e60a-11e6-9f3a-fb55876d220d.png">

[2017-01-29 18:27] deepu105 commented on #5010
If its something easier to fix then I would like that rather than removing the option but if its very complex to fix then lets disable it

[2017-01-29 18:36] jdubois commented on #5014
The solution is to mark the "User" field on your "Contact" entity as `@JsonIgnore`.

I'm not sure this should be there as default, so I'm putting this "on hold":

- There is an easy workaround
- We need time to think about this

[2017-01-29 18:37] jdubois commented on #5002
@ruddell you know this better than me, so if for you that's OK, don't hesitate to close the issue. Thanks for your help on this difficult issue!!

[2017-01-29 18:38] #5002 closed

[2017-01-29 18:42] jdubois commented on #5010
Correct @deepu105 -> if anyone wants to correct #4982 then we have no reason to remove this now, and thus we'll keep it.
Then, if people really want this option, please send us your statistics: if we have no statistics on an option, that's normal we will remove it at some point.

[2017-01-29 18:44] jdubois commented on #4928
I'm removing the v4 tag, as this will be done after the release

[2017-01-29 18:52] jdubois commented on #4985
I'm removing angular 2 and v4 tags, as this is not directly related. This is not a blocker issue for releasing JHipster 4, anyway.

[2017-01-29 19:04] jdubois commented on #5003
Closing as #5017 is merged

[2017-01-29 19:04] #5003 closed

[2017-01-29 19:11] jdanosborne commented on #5001
I had previously used option --regenerate for each entity. Now tried editing one by adding a column but same result.

I then installed that reindexer and that did the trick :)

Thanks!

[2017-01-29 19:21] laizhifei commented on #5014
The "User" field marks as @JsonIgnore will have no error but the contacts table shows result without User.

[2017-01-29 19:22] pascalgrimaud commented on #4985
Yes, total agree

[2017-01-29 19:23] romaindequidt commented on #4982
@deepu105 May you provide us your all-in-one JDL file?
It seems rather complete to test all the different cases.

[2017-01-29 19:25] deepu105 commented on #4985
Im getting a protractor failure in travis for the ng2-default app but when
I run it locally it works fine I have no idea whats going on there. Note
that it also uses a custom jhiPrefix

Thanks & Regards,
Deepu

On Sun, Jan 29, 2017 at 7:52 PM, Julien Dubois <notifications@github.com>
wrote:

[2017-01-29 19:27] deepu105 commented on #5010
I know of atleast few real world jhipster apps using this option in my
previous company including a backend for some high profile samsung gear
watch apps used by a famous airport :P

Thanks & Regards,
Deepu

On Sun, Jan 29, 2017 at 7:43 PM, Julien Dubois <notifications@github.com>
wrote:

[2017-01-29 19:30] deepu105 commented on #4989
This https://github.com/valor-software/ng2-file-upload seems like good replacement for this. But im too tired for today so if no body is doing it I'll try to do it after the release next week

[2017-01-29 19:31] ruddell commented on #4982
@romaindequidt The issue is reproducible from just the app, no entities necessary.  I don't think they're in JDL form yet but they can be found https://github.com/jhipster/generator-jhipster/tree/master/travis/samples/.jhipster

[2017-01-29 19:34] gmarziou commented on #4301
Just tried and it does not work.

[code]

[2017-01-29 19:38] jdubois commented on #5001
Oh the reindexer works? Good news!

[2017-01-29 19:55] deepu105 commented on #4982
Yes just create the default Oauth app

Thanks & Regards,
Deepu

On Sun, Jan 29, 2017 at 8:31 PM, Jon Ruddell <notifications@github.com>
wrote:

[2017-01-29 19:55] deepu105 commented on #4301
Ya I tried as well and fixed most of the issues

[2017-01-29 20:21] dempile commented on #5010
no

[2017-01-29 20:39] pascalgrimaud commented on #4985
@deepu105 : I'm having a look

[2017-01-29 21:00] gmarziou commented on #5014
Maybe `@JsonBackReference ˋ and ˋ@JsonManagedReference` Could help

[2017-01-29 21:01] pascalgrimaud commented on #4985
Reproduced. I will open a specific issue, as I'm not sure how it should be fixed

[2017-01-29 21:18] cbornet commented on #5014
Not checked 😄

[2017-01-29 21:32] asanzdiego commented on #4989
Hey, thanks for everything. I'm going to try it at work tomorrow. On Friday I started with a library that I had already implemented to upload images (for Angular2 and for SpringBoot). But I think it might be a good idea to try it with [https://github.com/valor-software/ng2-file-upload](https://github.com/valor-software/ng2-file-upload) Tomorrow I will tell you my progress.

[2017-01-29 21:32] pascalgrimaud opened #5019 "ng2 app not displayed when using specific jhi-prefix with entities"
##### **Overview of the issue**

The current [build](https://github.com/jhipster/generator-jhipster/blob/master/travis/samples/app-ng2-default/.yo-rc.json) which use a specific jhi-prefix failed:
https://travis-ci.org/jhipster/generator-jhipster/jobs/196399903

See in the `.yo-rc.json` file:  `"jhiPrefix": "custom"` : https://github.com/jhipster/generator-jhipster/blob/master/travis/samples/app-ng

[2017-01-29 21:44] ruddell commented on #5019
The [SortDirective](https://github.com/jhipster/ng-jhipster/blob/master/src/directive/sort.directive.ts) is in ng-jhipster, so we can't change the prefix for it

[2017-01-29 21:48] pascalgrimaud commented on #5019
@ruddell : do you mean the fix I suggested is correct ?
`<%=jhiPrefix%>SortBy` -> `jhiSortBy`

[2017-01-29 21:50] ruddell commented on #5019
Yep, it would also need to be fixed in user-management.component.html

[2017-01-29 21:53] pascalgrimaud commented on #5019
thanks @ruddell
I will do PR

[2017-01-29 22:14] #4982 closed

[2017-01-29 22:18] deepu105 commented on #5019
@pascalgrimaud wait a minue the entity has that still? I thought I changed it when I changed the user management to use `jhiPrefix` instead of using a custom one. May be i missed it. But why couldnt i reproduce it locally

[2017-01-29 22:20] #5019 closed

[2017-01-29 22:24] deepu105 commented on #5010
@jdubois since the issue is fixed I think we can close this?

[2017-01-29 22:27] deepu105 commented on #5007
we use ng-bootstrap and it doesn not have a pager component hence we either need to implement our own or remove the option.
We could implement it in ng-jhipster if needed. it would a simple component

[2017-01-29 22:30] jdubois commented on #5010
Oh i didn't follow that... OK then, first let's release JHipster 4, then we'll discuss about this!

[2017-01-29 22:30] #5010 closed

[2017-01-29 22:32] jdubois commented on #4989
@asanzdiego yes, I didn't test this library, but that's the one they selected at work for our big project, so that should be OK!

[2017-01-29 22:34] jdubois commented on #5007
OK @deepu105
So I will remove the option in the "prompts", and remove the v4 label, and we'll correct that later.

[2017-01-29 22:36] jdubois commented on #4968
Let's do this after v4: there is a lot of discussion to do here before deciding. So I'm removing the label.

[2017-01-29 22:36] deepu105 commented on #4302
@mohamed2a @ramzimaalej are you guys planning to write any more karma tests? else lets close this

[2017-01-29 22:38] jdubois commented on #4302
@deepu105 I thought you were going to push something here? Otherwise let's close this. It's too late to add those tests in JHipster 4, they should be very complex, and we don't have time for this.

[2017-01-29 22:40] deepu105 commented on #4703
ill try to update some docs tomorrow

[2017-01-29 22:41] jdubois commented on #4302
Oh @deepu105 I didn't see you pushed some entities tests. That's already great for me, let's close this.
@mohamed2a @ramzimaalej you can still add more later, this is just for the initial JHipster 4 release.

And let's not make a ticket to "add more tests", that's always a good idea to add more tests, so that ticket would never be closed.

[2017-01-29 22:41] #4302 closed

[2017-01-29 22:41] deepu105 commented on #4302
I already pushed entity tests. But didnt tag them here :)

[2017-01-29 22:42] jdubois commented on #4703
Yes and I'll have 4 hours of train on Tuesday, so I'll write more doc at that time.

[2017-01-29 22:53] jdubois commented on #4973
- First item is linked to #4989
- Second item is linked to #5006

[2017-01-29 23:00] #4985 closed

[2017-01-29 23:30] #5009 closed

[2017-01-29 23:37] #4918 closed

[2017-01-29 23:52] gmarziou commented on #4794
Regarding lazy loading sub modules, I have few comments:
- it will be very hard to do so for entity modules as they may depend on each others. The only way I can think would be to group entity modules in a feature module which can't be done by the entity generator.
- admin module can be lazy loaded as long as we split the real admin part (roughly the administration menu) from the general parts use

[2017-01-30 00:32] gmarziou commented on #5013
We should update node version requirement in generator-jhipster's package.json:

[code]

[2017-01-30 04:02] laizhifei commented on #5014
@JsonBackReference has no effect.

@JsonManagedReference causes the following exception.

2017-01-30 11:57:59.957 ERROR 77446 --- [ XNIO-2 task-25] i.l.m.aop.logging.LoggingAspect          : Illegal argument: [lai, Page request [number: 0, size 20, sort: _score: DESC,id: ASC]] in idv.laichihfei.mycontactsapp.service.ContactService.search()
2017-01-30 11:57:59.959 ERROR 77446 --- [ XNIO-2 task-25]

[2017-01-30 04:18] ruddell commented on #4965
@jdubois I fixed your 404 issue in #5025

I can't reproduce this issue. :(  From the logs it's clear the JS is loading and executing, so I'm not sure why the page would not be visible.  Maybe try opening up `/api/profile-info` in your gateway's `MicroserviceSecurityConfiguration.java` - it shouldn't cause issues but we fixed it since v3.5.1

Add `.antMatchers("/api/profile-info").permitAll()`

[2017-01-30 06:22] jdubois commented on #4965
OK then I believe this is fixed.

[2017-01-30 06:22] #4965 closed

[2017-01-30 07:54] pascalgrimaud commented on #5006
I spend a couple of hours on it, but I didn't manage to find the appropriate solution. It seems to be more complex than I expected...
Here some links which can help :
- https://github.com/ng-bootstrap/ng-bootstrap/issues/754
- http://stackoverflow.com/questions/41658935/ngbdatepicker-how-to-bind-longdate-string-to-ngmodel

[2017-01-30 08:05] banya16 commented on #4965
Ok i test to make permitAll and i say you if it's ok tomorow.

[2017-01-30 08:19] ruddell commented on #4965
You sent the log `http://localhost:8080/api/profile-info?cacheBuster=1485333301087 -> Failed to load resource: the server responded with a status of 401 (Unauthorized)` which shows the gateway endpoint of `/api/profile-info` is secured

[2017-01-30 08:26] banya16 commented on #4965
Yes, i d'on't enderstand why i have this error. It's possible she come UAA ?

[2017-01-30 08:29] banya16 commented on #4965
This problem for load page come juste the morning before the first connection. I thinks the problem come a cookie or cash configuration.

[2017-01-30 08:41] jdubois commented on #5006
The DatePicker component (see https://ng-bootstrap.github.io/#/components/datepicker ) doesn't support the time, so it won't work with ZonedDateTime whatever we do...
So we must either find another solution, or removed this option for the moment. I guess the LocalDate is what everybody use anyway.

[2017-01-30 09:03] thbt commented on #4973
For the first item, I fixed it using the [File API](https://developer.mozilla.org/fr/docs/Web/API/File), since I did not find any library that would fit. It works great, if you want I can put up a PR tonight or tomorrow (since I need to learn ejs first)

[2017-01-30 09:11] jdubois commented on #5006
Another solution for LocalDate (and maybe also ZonedDateTime) is to use the standard HTML5 component.

That's what we used to do: it's not very pretty, it doesn't work on all browsers, and it's not possible to configure it, but at least it's easy to work with, and it's "standard".

[2017-01-30 09:27] VictorADS commented on #5006
I'm working on it

[2017-01-30 09:36] deepu105 commented on #5013
yes we should

Thanks & Regards,
Deepu

On Mon, Jan 30, 2017 at 1:32 AM, Gaël Marziou <notifications@github.com>
wrote:

[2017-01-30 09:38] deepu105 commented on #4973
@thbt did you take a look at https://github.com/valor-software/ng2-file-upload

[2017-01-30 09:39] deepu105 commented on #4973
@thbt I wouldnt want to use fileAPI directly as the upload feature we have is for images, blob etc so would rather use a dedicated plugin for this

[2017-01-30 09:43] mohamed2a commented on #4302
I will add more karma tests today

[2017-01-30 09:44] jdubois commented on #4302
Great 👍

[2017-01-30 10:05] gmarziou commented on #5014
You need to annotate User as well, refer to Jackson docs.
Please format your stack traces it's easier to read

[2017-01-30 11:07] jdubois commented on #5006
Great @VictorADS -> your fix "works on my machine", so I'm merging it.

For ZonedDateTime we have no solution at the moment, except using the HTML5 component, which is not really good:

- I keep this ticket open for this ZonedDateTime issue
- I will remove the ZonedDateTime from the options in JHipster 4, and thus remove the v4 tag here, so we can move forward

[2017-01-30 11:11] cbornet commented on #5006
ZonedDateTime is our only type to describe a date+time (LocalDate is date only). So removing it seems a bit harsh. I would rather have the HTML5 component even if it's unsatisfying and needs to be replaced later.

[2017-01-30 11:16] cbornet commented on #5006
Actually, my whole app is about timeseries. So please don't remove ZonedDateTime or I won't be able to upgrade !!

[2017-01-30 11:17] jdubois commented on #5006
Oh, OK @cbornet -> then let's go for the HTML5 component, it's better than nothing... @VictorADS do you think you could do it? @cbornet could you help?

[2017-01-30 11:39] asanzdiego commented on #4989
With [https://github.com/valor-software/ng2-file-upload](https://github.com/valor-software/ng2-file-upload) you need a REST service to store files. In our case we want to save the BLOB directly into the Database. So I think [https://github.com/valor-software/ng2-file-upload](https://github.com/valor-software/ng2-file-upload) is not appropriate in our case. I'm going to try a most basic solution th

[2017-01-30 11:52] piprog opened #5027 "A new (post-3.12.2) AngularJS (i.e. 1.x) based release?"
##### **Overview of the issue**

First of all a big thanks from all of us for the work you are putting into the 4.0 (primarily Angular 2) release! In the process a number of issues have been addressed / enhancements added that are not strictly Angular 2 related and would greatly benefit production applications working with AngularJS. Are there any plans to have an interim release (e.g. 3.12.3?) th

[2017-01-30 11:59] pascalgrimaud commented on #5006
Good job @VictorADS !
I agree, we can go HTML5 component, then improve it later, after the release of JHipster 4

[2017-01-30 12:00] jdubois commented on #5027
There is a misunderstanding with JHipster 4:

- we still support AngularJS 1.x, in fact it is the default option
- Angular 2 is only available as BETA

So that should be OK for you, if you can easily upgrade from JHipster 3.x to JHipster 4: I have not tried it myself, but I don't think it's going to be very complex.

Of course, if the upgrade is complex, we can have a look at doing a new JHipster

[2017-01-30 12:00] #5027 closed

[2017-01-30 12:34] deepu105 commented on #5006
ng-bootstrap doesnt have a dateTimePicker but we certainly can combine datePicker and Timepicker to do it like we do on angular1. I'll implement that directive in ng-jhipster after our Beta release hence im tagging this with ng-jhipster

[2017-01-30 12:45] erikkemperman commented on #4272
Hi, sorry to comment on closed thread -- but did anyone actually test this new CRSF stuff with websockets?

I have a fairly basic app, at least the websockets part, but it stopped working after I merged these changes. Specifically, it is complaining about "Invalid CSRF Token 'null' was found on the request parameter '_csrf' or header 'X-XSRF-TOKEN'".

Does that sound familiar?

[2017-01-30 13:34] jdubois commented on #5006
Totally agree @deepu105 but in the meantime are you OK to go full HTML5 for the ZonedDateTime ?

[2017-01-30 13:53] deepu105 commented on #5006
yes absolutely its better than nothing

[2017-01-30 13:53] mraible commented on #5010
FWIW, at Stormpath, we use JWTs for OAuth tokens - so it's somewhat of the best of both worlds.

[2017-01-30 14:58] erikkemperman commented on #4272
Apologies, never mind! I've found my problem (it was between the keyboard and the chair).

[2017-01-30 15:11] jdubois commented on #5008
Closing as the PR is merged

[2017-01-30 15:11] #5008 closed

[2017-01-30 16:12] aledesc opened #5029 "[DOCUMENTATION] hints for the documentation"
* **Overview of the request**

The "Managing relationships" text should and could be more accurate

* **Motivation for or Use Case**

I think that documentation related to generation of  the links between tables could be more clear in the documentation.

Some hints, thinking out loud.

Firts, relationships should be termed as LINKS, to separate the term from 'RELATION', because that is what a tabl

[2017-01-30 16:26] jdubois commented on #5029
We're using "relationships" because we use JPA, and that's the naming used with JPA. Same thing for "entities".

[2017-01-30 16:37] jdubois commented on #5029
- I want to keep the JPA "naming", as this is what every Java developer understands. This is also basically what says our [Policy 1](https://jhipster.github.io/policies/), and changing this would require a vote of the whole team.
- For things like many-to-many relationships, our policy is also not to explain the underlying technologies we are using. Yes there is a joint table, that's how JPA works

[2017-01-30 16:51] VictorADS commented on #5004
I think it is handled in the application.yml ```    ribbon:
        display-on-active-profiles: dev```

[2017-01-30 17:10] PierreBesson commented on #5029
Personally I don't really like those academic names, like relation, attribute, tuple instead of table, column and row. We should stay away from those words and use the ones that are more straightforward for developers (there are great devs that have never heard of this kind of academic terminology !).

It's OK that people have different backgrounds and different ways of naming things but we should

[2017-01-30 17:33] deepu105 commented on #5004
yes but maybe when webpack prod build is called this param isnt set properly in the `app.constants.ts` file

[2017-01-30 17:34] deepu105 commented on #5004
oh wait there should be an backedn service providing that data I guess. Im away from computer ill check later

[2017-01-30 17:46] jdubois commented on #5004
I'm not sure how it works: it used to be some kind of regexp that was removing the banner during the prod build, but now I think it's a REST request that reads the profile information, and displays it. It's one more request, but it works for all profiles, and many people add test, pre-prod, etc profiles.

[2017-01-30 17:49] aledesc commented on #5029
Hi folks,

Thx for your answers.

Well if you stick to names like table, column, etc... you are focusing on
the concrete representation. However, talking about entity, attributes,
etc, you are levels of abstraction above, it is not the point to be
pedantic or something else, but I find that using modeling terminology is
even easier.  Besides, I think developers are smart guys motivated enough
to l

[2017-01-30 17:59] jdubois commented on #5029
There's not much choice in JHipster, you need to know JPA (and Hibernate) really well if you want to benefit from it. So it's not really a question of "learning is good for you", I don't think you have a choice there. Then, that's the official Java EE standard, that's what's everybody is using everywhere, and without it we couldn't use Spring Data, which is a huge, huge gain for the project.

I'm

[2017-01-30 18:30] dsheth commented on #5010
Just from my own experience, I typically use session auth when doing demos and training of jhipster, because then I can show the social login features, which people like to see.  However, for a 10MM project we started last year, we used OAuth2, because we wanted both stateless capabilities for scalability, and the integration with other tools that support OAuth 2 but not jwt.  So when you note tha

[2017-01-30 19:36] jdubois commented on #5004
I got it, let me do it.

[2017-01-30 19:43] aledesc commented on #5029
I have noticed that already. I will master JPA no matter what. !

Thx !

On Mon, Jan 30, 2017 at 7:00 PM, Julien Dubois <notifications@github.com>
wrote:

--
Andrés Ledesma Chirino
------------------------------

[2017-01-30 20:08] #5004 closed

[2017-01-30 20:09] jdubois commented on #5029
OK, let's close this -> @aledesc feel free to do PRs to the documentation, but please make small PRs so we can discuss them one by one

[2017-01-30 20:09] #5029 closed

[2017-01-30 22:38] deepu105 opened #5031 "Add reference to ng-jhipster and server side jhipster lib"
Add reference to the new client and server side libs

[2017-01-30 23:40] gmarziou opened #5033 "Webpack dev config should exclude some directories from watching"
On my Fedora PC, hot reloading was not working, I rebooted and it worked like a charm but then after I launched GitKraken who warned me that it would not be able to watch my repos because the maximum number of inotify watchers was exceeded. My guess is that when this limit is exceeded, Webpack can't do hot reloading. I made some research and found that my kernel was configured for 8192 inotify, I

[2017-01-31 02:07] cloud4288 commented on #4407
Any updates on the release candidate?

[2017-01-31 06:44] jdubois commented on #5033
Yes that's important for v4!

[2017-01-31 06:45] jdubois commented on #5005
Removing the v4 tag, it's less urgent than the other tickets.

[2017-01-31 07:07] jdubois commented on #4973
Just did another review:

- in fact we have 9 pending TODO
- this includes the horrible _register-transaction-hooks.ts - WTF is that???

I'm giving this a higher priority.

[2017-01-31 07:31] deepu105 commented on #5033
I'll take a look as well, I don't think we are watching node_modules

Thanks & regards,
Deepu

On 31 Jan 2017 12:40 a.m., "Gaël Marziou" <notifications@github.com> wrote:

[2017-01-31 07:40] jdubois commented on #4973
And there are 3 more TODO in the entity sub-generator :-(
Those need to be solved too.

[2017-01-31 07:42] deepu105 commented on #4973
Julien lets not worry too much about TODO as we are still in beta so it
should be understandable that there are some unfinished stuff here. May be
we can make the message more clear and polished.

Thanks & regards,
Deepu

On 31 Jan 2017 8:40 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-01-31 07:46] aledesc opened #5034 "[FEATURE] map jh datatype to correct data type in underlying rdbms"
##### **Overview of the issue**

In my jh file, I had this: caseFile String maxlength(40960000), but as JHipster maps String to varchar, an Exception was issued because of the varchar max capacity of 10485760

##### **Motivation for or Use Case**

In my jh file, I had fields exceding the varchar capacity (backend rdbm is Postgresql), that triggered an exception, it would be nice that in such cases

[2017-01-31 07:50] jdubois commented on #4973
Then at least we could comment them on our side, the end user should not get our TODOs.

[2017-01-31 07:51] jdubois commented on #5034
We have the blob type for long Strings, did you try it?

[2017-01-31 07:51] deepu105 commented on #4973
Yes thats a good idea we can add the comments in an ejs block :) so its not
output on the generated code

Thanks & regards,
Deepu

On 31 Jan 2017 8:50 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-01-31 07:54] aledesc commented on #5034
nope, had thought of blobs for binaries, pics, pdf, etc...

[2017-01-31 08:10] jdubois commented on #5006
In that case we would use input type=datetime-local but we might need to add a specific method in ng-jhipster to transform that String to a Date.

[2017-01-31 08:52] VictorADS commented on #5006
@jdubois  Maybe Date has already some function to convert it. I'm on it.

[2017-01-31 08:55] jdubois commented on #5006
Great :-)

[2017-01-31 11:43] gmarziou commented on #5006
Due to current state of NgbDatePicker, at work we switched to PrimeNG. I mention it here just in case some users wants a better alternative that works.

[2017-01-31 13:20] gmarziou commented on #4794
What about adding analytics? https://github.com/angulartics/angulartics2/

[2017-01-31 13:53] #5006 closed

[2017-01-31 13:58] deepu105 commented on #5006
@gmarziou yes its a good toolkit but I dont think it plays nice with BS4 as they have their own theming system which is more of jquery-ui like

[2017-01-31 13:58] cbornet commented on #1558
FYI maven-processor-plugin is still mentioned in https://jhipster.github.io/configuring-ide-eclipse/

[2017-01-31 14:01] deepu105 commented on #4794
I think we already have GA setup in index.html and I think it should work
same as we had earlier

Thanks & Regards,
Deepu

On Tue, Jan 31, 2017 at 2:20 PM, Gaël Marziou <notifications@github.com>
wrote:

[2017-01-31 14:12] gmarziou commented on #5006
So far it works fine with BS4 grid, though I used only calendar, slider and dataGrid

[2017-01-31 14:12] VictorADS commented on #5033
We are watching nor node_modules nor target folders. Only src which contains also the test, should I try to get rid of it ?

[2017-01-31 14:15] gmarziou commented on #4794
I think GA will only catch access to '/', angulartics2 knows about the router and can report all route changes to GA.

[2017-01-31 14:17] deepu105 commented on #5033
We should only watch src/main/webapp

[2017-01-31 14:17] gmarziou commented on #5033
OK then I don't understand how I could exceed inotify watchers with only 120 files and a limit of 8192.

[2017-01-31 14:18] deepu105 commented on #4794
Isnt this something better suited for a Module?

Thanks & Regards,
Deepu

On Tue, Jan 31, 2017 at 3:15 PM, Gaël Marziou <notifications@github.com>
wrote:

[2017-01-31 14:34] gmarziou commented on #4794
OK

[2017-01-31 14:42] gmarziou commented on #5033
I confirm that changing a file in `node_modules` or `target` does not trigger a reload.
Watching only `src/main/webapp` is an improvement though over `src`: from 696 to 450 on my project.

So, probably the issue is somewhere else, I was running IDEA, VS Code and webpack when it occured.

[2017-01-31 15:36] mraible commented on #5033
@gmarziou Do you have TypeScript compilation turned on? I never do this in IntelliJ because it litters my source tree with .js files.

[2017-01-31 16:59] gmarziou commented on #5033
Same as you Matt, I disable this as I got caught once.

[2017-01-31 17:00] gmarziou commented on #5033
Let's close this issue as I doubt there's more we can do.

[2017-01-31 17:00] #5033 closed

[2017-01-31 17:26] xetys opened #5039 "Webpack ignores changes to vendor.scss"
I generated a [sample setup](https://github.com/xetys/jhipster4-uaa-setup) with sass enabled.

However changing thinks inside the sass files like global.scss, home.scss etc. works like a charm, webpack auto reloads the browser and changes are visible. However this doesn't work to vendor.scss for some reason.

I didn't find the cause, yet. Just writing down what I find

*edit*: the changes finally

[2017-01-31 17:38] jdubois commented on #5034
- by default we use the JPA defaults, but of course people can override those, for example they can do a String with 1024 characters
- of course at some point you will hit the database limit

My issue is that I'm not sure about this limit:

- it depends on the database
- maybe on some databases, this could be reconfigured? And in that case we have no way to know it

-> I don't know if my second po

[2017-01-31 18:25] MitchDresdner opened #5040 "JDL Import doesn't like windows file format"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

JDL Import balks at CR's in files created on windows

##### **Motivation for or Use Case**

Windows files fail to import

If I re-enter my JDL file into the JDL editor it works correctly, but

[2017-01-31 18:32] jdubois commented on #5040
JHipster configures both you editor ('.editorconfig') and Git to have the
correct carriage return.
I know it's not perfect but we do expect you have "normal line endings".

Le 31 janv. 2017 7:25 PM, "Mitch Dresdner" <notifications@github.com> a
écrit :

[2017-01-31 19:07] gmarziou commented on #5040
Maybe we could use https://github.com/JamesMGreene/node-dos2unix

[2017-01-31 19:37] jdubois commented on #5039
I don't think it should reload those files: the "vendor" files come from third party libs, you should extend them, but not modify them.

[2017-01-31 20:20] ruddell commented on #5034
Liquibase maps our `TextBlob` ([the JDL term](https://jhipster.github.io/jdl/#blobdeclaration)) to a clob, resulting in the following:
[code]
[source](http://stackoverflow.com/questions/16890723/list-all-liquibase-sql-types)

So if you use the correct JDL term, everything works as it should

[2017-01-31 20:31] MitchDresdner opened #5041 "Docker file fails to build"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Unable to build Docker image

##### **Motivation for or Use Case**

Needed for Docker

##### **Reproduce the error**

run: gradle buildDocker

##### **Related issues**

I dunno?

##### **Sugge

[2017-01-31 20:45] ruddell commented on #5041
Can you also give us the error?  And by latest version do you mean v3.12.2?

[2017-01-31 21:05] jdubois commented on #5041
Sorry but you're not giving enough information to reproduce.... No `.yo-rc.json`, no version (what is "latest"??).
I'm giving it a try with the latest master, as we'll do a release soon it's worth checking.

[2017-01-31 21:06] MitchDresdner commented on #5041
It dies at stage 3 bc Gradle is building jar files, though the Dockerfile and docker.gradle are expecting .war:buildDocker   Step 1/7 : FROM openjdk:8-jre-alpine ---> d85b17c6762euildDockerStep 2/7 : ENV JHIPSTER_SLEEP 0 ---> Using cache ---> d035ab6c47d9Step 3/7 : ADD *.war /app.warNo source files were specified:buildDocker FAILED-----Original Message-----
From: Jon Ruddell
Sent: Jan 31, 2017 3:4

[2017-01-31 21:06] aledesc commented on #5034
that's fine, thank you .... my struggle of the day was trying to find out
what JDL type maps to postgres' jsonb .... any help ?

On Tue, Jan 31, 2017 at 9:20 PM, Jon Ruddell <notifications@github.com>
wrote:

--
Andrés Ledesma Chirino
------------------------------

[2017-01-31 21:07] jdubois commented on #5041
Could we have something clear, please?

[2017-01-31 21:07] MitchDresdner commented on #5041
Welcome to the JHipster Generator v3.12.2-----Original Message-----
From: Julien Dubois
Sent: Jan 31, 2017 4:05 PM
To: jhipster/generator-jhipster
Cc: Mitch Dresdner , Author
Subject: Re: [jhipster/generator-jhipster] Docker file fails to build (#5041)

Sorry but you're not giving enough information to reproduce.... No .yo-rc.json, no version (what is "latest"??).
I'm giving it a try with the late

[2017-01-31 21:08] jdubois commented on #5041
Anyway, me test worked perfectly, so I can't reproduce... I'm not wasting any more time here, sorry but if you want me to help, I need a clear ticket!

[2017-01-31 21:08] #5041 closed

[2017-01-31 21:10] jdubois commented on #5034
OK, let's keep it like that. Some more comments:

- I'm not sure this will be available in our next release, with Angular 2 (we currently have a bug there). Of course that will be solved later.
- No idea what "jsonb" is -> then the best thing is use a type close to yours, and then refactor.

[2017-01-31 21:10] #5034 closed

[2017-01-31 21:11] MitchDresdner commented on #5040
It's only a problem when a file is imported which was created in an editor on windows such as Notepad++.As I know the behavior i'll certainly not repeat.The only reason I opened the defect was to give you a choice about being more defensive with file imports, helping make the product more robust. It's a small cosmetic problem.-----Original Message-----
From: Gaël Marziou
Sent: Jan 31, 2017 2:08 PM

[2017-01-31 21:12] deepu105 commented on #5040
wait a minute i was on windows when I created the jdl-studio and I switched to linux just recently and I never had such issues in windows so defintely something else is wrong here

[2017-01-31 21:14] jdubois commented on #5040
OK I understand you used Notepad++, but then you could also use our .editorconfig to configure it, it's supported.

[2017-01-31 21:15] deepu105 commented on #5040
There is nothing to do here as we dont want to handle such problems caused by external editors

[2017-01-31 21:16] deepu105 commented on #5039
Did you add a new library in vendor.scss?

[2017-01-31 21:18] deepu105 commented on #5039
you could also try to execute `yarn run webpack:build` so that vendor files are recompiled. If you installed the lib via npm/yarn then the postInstall should have taken care of it

[2017-01-31 21:26] pascalgrimaud commented on #5041
@MitchDresdner : your messages are very hard to read...

Anyway, your logs indicate your problem:
[code]

Your command is not enough: `gradle buildDocker`

You need the war file, so it is: `gradle bootRepackage buildDocker`

[2017-01-31 22:31] xetys commented on #5039
I installed angular/material and started to add materials specific sass files into the vendor.

The question is, if its ok to force users to rebuild with yarn on vendor code changes, even it generally shouldn't happen that often

Maybe I am misunderstanding the usage of the vendor.css / vendor.scss, but for me it's like

* global.(s)css: I need some app wide css class, related to my project
* vend

[2017-01-31 22:48] gmarziou commented on #5041
Yes, replying to github by mail can be very bad depending on which mail client you use.

[2017-01-31 22:54] jeronimoqueiroz commented on #2452
Hello @wuethrich44 you need create a role with this format and add it to your user or group.
This action will able your use to create a new roles.

"Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "iam:CreateRole"
            ],
            "Resource": "*"
    }
]

[2017-01-31 23:44] MitchDresdner commented on #5041
thanks!was planning to get back to it in the morning and thinking gradle wasn't in the proper state to build the docker image, as you confirm.  -----Original Message-----
From: Pascal Grimaud
Sent: Jan 31, 2017 4:27 PM
To: jhipster/generator-jhipster
Cc: Mitch Dresdner , Mention
Subject: Re: [jhipster/generator-jhipster] Docker file fails to build (#5041)

@MitchDresdner : your messages are very h

[2017-01-31 23:47] MitchDresdner commented on #5040
thank you for the feedback and the fine work y'all are doing on jhipster, it's an excellent product, looking forward to the angular2 release!-----Original Message-----
From: Deepu K Sasidharan
Sent: Jan 31, 2017 4:14 PM
To: jhipster/generator-jhipster
Cc: Mitch Dresdner , Author
Subject: Re: [jhipster/generator-jhipster] JDL Import doesn't like windows file format (#5040)

If you used another edit

[2017-02-01 00:30] gmarziou commented on #4794
In fact, it seems really simple to do by subscribing to route changes: https://blog.thecodecampus.de/angular-2-google-analytics-google-tag-manager/

[2017-02-01 00:34] nicoraynaud opened #5044 "Account Register component not working properly"
##### **Overview of the issue**

While working with latest master branch, with angular 2, i noticed that the register form is not displaying errors when server side web service returns an HTTP 400 response.

##### **Motivation for or Use Case**

I feel this is just a ng2 migration issue, and could be easily fixed before the release coming soon.

##### **Reproduce the error**

Install latest genera

[2017-02-01 07:54] jdubois commented on #5039
For me the "vendor" are installed through Yarn/NPM and should not be
touched.
What you customize is inside "app".

Le 31 janv. 2017 11:31 PM, "David Steiman" <notifications@github.com> a
écrit :

[2017-02-01 08:06] cbornet opened #5045 "Spring Boot 1.5.1 released"
https://spring.io/blog/2017/01/30/spring-boot-1-5-1-released

[2017-02-01 08:08] cbornet commented on #5045
with Kafka autoconfiguration

[2017-02-01 08:20] jdubois commented on #5045
Yes, but we'll do it after the 4.0 release, as it might break stuff.

- For Kafka I think they just included Spring Kafka, so it shouldn't change
much for us
- For the logger endpoint, it looks like they copied us (again !), so we'll
need to refactor and remove our code

Le 1 févr. 2017 9:08 AM, "Christophe Bornet" <notifications@github.com> a
écrit :

[2017-02-01 08:23] cbornet commented on #5045
I'm glad when they copy us : less is more 😄

[2017-02-01 10:37] gzsombor commented on #5045
It would be nice to have a more advanced log endpoint, where you could actually see the logs :) Sure, there are log servers, with all the bells and whistles - but sometimes you don't need that much, just to look into log, to know what happened 10 minutes ago :)

[2017-02-01 10:39] jdubois commented on #5045
@gzsombor  Yes, we would need some kind of in-memory data store for that. We could also have the same thing for the security audits, to improve log in performance. I would love to have some kind of simple hashmap or list, which would just store the last 10,000 events, for example.

[2017-02-01 12:06] erikkemperman commented on #5045
For what it's worth -- I'm playing around with a branch that has SB1.5 (and some other upgrades). It's actually not that big of a deal, as far as I can see so far.

Background is I was trying to update my JH app to 3.12.2 (after ~0.5 year hiatus) but ran into some difficulties, which seem to be due to slightly unaligned versions of hibernate components, resulting in a helper class (FieldIntercepti

[2017-02-01 12:07] deepu105 commented on #5039
Yes your custom css even if its to override something in a vendor lib
should go to global.scss/css

Thanks & Regards,
Deepu

On Wed, Feb 1, 2017 at 8:54 AM, Julien Dubois <notifications@github.com>
wrote:

[2017-02-01 12:37] jdubois commented on #5045
No, you should not have any "missing sequence" with master.

Le 1 févr. 2017 1:06 PM, "Erik Kemperman" <notifications@github.com> a
écrit :

[2017-02-01 12:47] erikkemperman commented on #5045
Well, I just tried again with an even simpler setup (freshly checked out master branch, all default generator choices, a single entity with a single un-validated field) and I still get the same exception.

But this is getting off-topic here, sorry about that. I will see if I can fix it and create a separate issue otherwise.

[2017-02-01 13:33] flaviencathala commented on #5005
I made a PR for this but it's still not really fixed.

[2017-02-01 13:54] MitchDresdner commented on #5041
works like a charm, thanks again!-----Original Message-----
From: Pascal Grimaud
Sent: Jan 31, 2017 4:27 PM
To: jhipster/generator-jhipster
Cc: Mitch Dresdner , Mention
Subject: Re: [jhipster/generator-jhipster] Docker file fails to build (#5041)

@MitchDresdner : your messages are very hard to read...
Anyway, your logs indicate your problem:
Using cache ---> d035ab6c47d9Step
3/7 : ADD *.war /app.

[2017-02-01 14:18] gmarziou opened #5047 "Convert BS3 hidden-* to BS4"
The CSS classes from Bootstrap 3 that we use to hide things have been replaced in Bootstrap 4.

BS 3 | BS 4
------------ | -------------
 hidden-xs | hidden-xs-down
 hidden-xs hidden-sm | hidden-sm-down

See http://v4-alpha.getbootstrap.com/layout/responsive-utilities/

I can PR it tomight, if someone can do it now in the afternoon, please do so.

[2017-02-01 14:37] wmarques commented on #5047
Also it seems that we have to replace all our hidden-sm-down by hidden-lg-down (from BS4 doc) :

[2017-02-01 14:39] gmarziou commented on #5047
good point, I did not know

[2017-02-01 14:42] wmarques commented on #5047
Didn't test yet I'll let you know 👍

[2017-02-01 14:44] gmarziou commented on #5041
@MitchDresdner please stop posting via email until you use a working mail client, it's impossible to read !!

[2017-02-01 14:46] gmarziou commented on #5039
Maybe we should add 2 lines of comments to these files to guide people on their purpose.

[2017-02-01 15:03] flaviencathala commented on #5044
@nicoraynaud It's fixed, thanks to you we will not have this bug in the 4.0 !

[2017-02-01 15:04] #5044 closed

[2017-02-01 15:32] erikkemperman commented on #5045
Sorry again for off-topic, but just in case anyone runs into the same "missing sequence" problem and finds this thread -- I had done `npm link` from the generator directory, but then I did _not_ do `npm link generator-jhipster` in between `yo jhipster` and `yo jhipster:entity Foo`, which would have avoided my troubles.

So the first `yo` command would use my linked generator but the second `yo` wo

[2017-02-01 15:43] jdubois commented on #5041
Sorry but I'm not even reading this...

[2017-02-01 15:44] jdubois commented on #5045
@erikkemperman no that's normal, if you want to use a dev version, you need to do the "link" command in the directory.

[2017-02-01 15:50] erikkemperman commented on #5045
@jdubois Thanks, yes that is what I found out today :-) I just thought that an unpublished version string in the master branch would make this kind of mistake impossible (because then `npm install` would fail for the original `yo jhipster`). But fair enough, I will probably never get this wrong again.

[2017-02-01 15:52] VictorADS commented on #5047
@gmarziou  @wmarques I don't think we can hide a specific screen size (except for xs and lg) due to how `hidden-*-down` and `hidden-*-up` works.
Btw `hidden-sm-down hidden-sm-up` will not work because it will hide for every screen size !

[2017-02-01 16:20] gmarziou commented on #5047
What about ` hidden-sm-down hidden-md-up` ?

[2017-02-01 16:22] VictorADS commented on #5047
@gmarziou  It will show only to users with `sm` screen size

[2017-02-01 16:24] gmarziou commented on #5047
OK

[2017-02-01 16:48] asanzdiego commented on #4989
Hi,

I do some changes in generated code, and it works. I need now to add i18n, max/min bytes validator, and error messages. After **I have to do this changes into the yeoman templates**.

The changes I do:

**/src/main/java/dgise/domain/Informe.java**

[code]

**/src/main/resources/config/liquibase/changelog/20170127142410_added_entity_Informe.xml**

[code]

**/src/main/webapp/app/entities/inform

[2017-02-01 16:50] jdubois commented on #4989
@asanzdiego we just had PR #5048 which should solve this issue - I didn't have the time to review it yet, maybe you could take a look at it?

[2017-02-01 16:57] asanzdiego commented on #4989
@jdubois yes, I could take a look at it, but I will do it tomorrow.

[2017-02-01 18:33] ddidier opened #5049 "MockMvc doesn't use ExceptionTranslator in the integration tests"
##### **Overview of the issue**

The handlers in `ExceptionTranslator` are not taken into account by the `MockMvc` in the `XxxResourceIntTest`.

##### **Motivation for or Use Case**

I want to test my custom exception handling.

##### **Reproduce the error**

Add a handler in `ExceptionTranslator` such as

[code]

Then raise a `DataIntegrityViolationException` from the service.
When you access thi

[2017-02-01 19:06] deepu105 commented on #5047
I think we changed it in most places. I did a find now and see only one
place where we didnt change this

Thanks & Regards,
Deepu

On Wed, Feb 1, 2017 at 5:24 PM, Gaël Marziou <notifications@github.com>
wrote:

[2017-02-01 20:56] jdubois commented on #4973
OK I did this in https://github.com/jhipster/generator-jhipster/commit/0db40265b2702c630deab084ecf53fe0e3a51806 so I'm removing the v4 tag

[2017-02-01 20:58] jdubois commented on #4703
I began to merge all documentation on my laptop, so if you want any changes please do some new PRs.
@gmarziou I haven't looked at what you did, I'll do it tomorrow

[2017-02-01 21:27] vikreinok commented on #2810
+1

JHipster Generator v3.12.2
Same issue:
I had to copy .yo-rc.json from server directory to client directory.
Otherwise yo jhipster:import-jdl ../domain.jh ../client.jh  (last file contains skipClient for *) did not work.

Error: [$injector:unpr] Unknown provider: authExpiredInterceptorProvider <- authExpiredInterceptor <- $http

[2017-02-01 21:52] aricooperman opened #5050 "Property '$json' does not exist on type 'JhiTrackerService' [oauth2]"
##### **Overview of the issue**

When trying to generate a new Angular2 based app, after the prompts and generation/yarn kickoff, at end I get this error:

`
ERROR in [at-loader] src/main/webapp/app/shared/tracker/tracker.service.ts:41:32
`
`
    Property '$json' does not exist on type 'JhiTrackerService'.
`

##### **Motivation for or Use Case**

JHipster generation fails for (some versions at lea

[2017-02-01 23:03] gmarziou commented on #5050
I confirm the bug, this happens only because of "oauth2" authentication.

[2017-02-01 23:29] nicoraynaud opened #5052 "Anonymous user is send whereas it should not"
##### **Overview of the issue**

The pagination elements generated for entities are not working (tested only with ng2)

##### **Reproduce the error**

- Create an app
- Generate an entity with pagination "entity"
- create many elements (or change pagination default size)
- try to use the pagination buttons in the generated component "entity.component.html"

=> The buttons don't work as expected.

[2017-02-02 00:07] gmarziou commented on #5052
Could you clarify what does not work because for me it seems to work though I tested only with 24 elements.

[2017-02-02 00:37] gmarziou opened #5055 "Obsolete CSS classes for sorting in ng2"
In ng1, we had less visible sorting icons in table headers unless mouse over.
This was based on glyphicons and `jh-table` classes, so either:
- we update these classes to get same behavior in ng2 with fontawesome
- we remove theses classes if we don't want same look and feel

[code]

[2017-02-02 00:43] nicoraynaud commented on #5052
Oops, I re did a project with latest generator and it seems to work perfectly for generated entities. Very sorry for the wrong info. I think that bug was fixed and i did not regenerated my entities since.

The pagination in Audit and User management is still a bit weird though

In order to test i have changed **src\main\webapp\app\shared\constants\pagination.constants.ts**
to set  **ITEMS_PER_PAGE

[2017-02-02 01:04] gmarziou commented on #5052
Yes please change for a better title

[2017-02-02 01:35] ruddell commented on #5052
The reason user management is weird is because we hide anonymousUser (even though it is retrieved from the server).  Not sure about audits

[2017-02-02 06:22] #5047 closed

[2017-02-02 06:24] #5050 closed

[2017-02-02 06:27] jdubois commented on #5039
@gmarziou we can't, they are provided by Yarn.
For me it's quite logical that "vendor" is provided by third-party tools, so you shouldn't touch them.

I'm closing this because I don't think there is any issue here, just a misunderstanding.

[2017-02-02 06:27] #5039 closed

[2017-02-02 06:34] jdubois commented on #4703
@gmarziou OK so you did several different changes, could you do a PR? Please don't use any JS stuff, just basic markdown, that's really less trouble in the end.
I'll be updated the documentation today.

[2017-02-02 07:31] deepu105 commented on #5055
Lests remove it as the icons are now configurable

Thanks & regards,
Deepu

On 2 Feb 2017 1:38 a.m., "Gaël Marziou" <notifications@github.com> wrote:

[2017-02-02 07:32] deepu105 commented on #5055
Else we can make it generic to work with any icons

Thanks & regards,
Deepu

On 2 Feb 2017 8:31 a.m., "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2017-02-02 08:24] VictorADS commented on #5052
I think we forgot to migrate Audits component properly, I see that we are not resolving the params in auditsRoute so I'll make a PR to fix that.

[2017-02-02 08:40] gmarziou commented on #4703
I can do it only tonight

[2017-02-02 08:50] jdubois commented on #4703
No problem @gmarziou !

[2017-02-02 10:42] asanzdiego commented on #4989
I tested the PR of @VictorADS #5048 and it works. :)

[2017-02-02 10:43] jdubois commented on #4989
Yes it's working, we also just tested :-)

[2017-02-02 10:43] #4989 closed

[2017-02-02 13:48] paulohenriqu opened #5061 "Exception Social Login Without Intenationalization"
##### **Overview of the issue**

When generating a new project using ng2 with Social Login but without Internatinalization webpack throws this error:

Property 'languageService' does not exist on type 'JhiSocialComponent'

##### **Motivation for or Use Case**

When running the yarn start tha client side of the app won't start

##### **Reproduce the error**

Generate a new project with Angular 2, S

[2017-02-02 13:50] jdubois commented on #5061
Kudos I think you found our first JHipster 4 ticket!!! Social login without i18n, you are using quite an uncommon combination of options, so this is probably untested.

[2017-02-02 14:13] mraible opened #5062 "Client bundle not rebuilt after entity generation"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

I tried to create my [blog demo](https://github.com/mraible/jhipster4-demo/blob/master/README.adoc) from using JHipster 4.0.0 and found that no site is rendered on http://localhost:8080 after

[2017-02-02 14:16] jdubois commented on #5062
@mraible don't hesitate to chat with me, you wrote the book, you deserve more help than just the ticket system :-)

I'm having a look ASAP, but you could try:

- Delete your `node_modules` folder to be sure you don't have some old JHipster link there
- Delete your `src` folder -> we refactored very recently the routes, so the names have changed. So if you regenerate on top of an older project, you

[2017-02-02 14:20] pascalgrimaud commented on #5062
The 1st time you generated the project, I can see some folder inside target/www
Every time you launch `mvn clean` will delete target, so there is no `www`
I think you have to run `yarn run webpack:build`, and after, `mvn`

I'm learning the new workflow with Angular2, am I correct ?

[2017-02-02 14:21] mraible commented on #5062
I generated from scratch and I believe this issue was caused by the fact that I had Maven running when I generated the entities, then I ran `./mvnw` in another window after generating them. I tried again and this time, localhost:8080 loads, but there's no items in the menu.

![screen shot 2017-02-02 at 7 18 23 am](https://cloud.githubusercontent.com/assets/17892/22552912/0c444abc-e918-11e6-959f-1a

[2017-02-02 14:23] jdubois commented on #5062
Yes you should have:

- `mvn` running for the backend
- `yarn start` running for the frontend

I documented this here: https://jhipster.github.io/development/

[2017-02-02 14:24] jdubois commented on #5062
OK I got it working on my laptop without any issue, this is either a config error (my first comment) or the commands not running (my second comment)

[2017-02-02 14:28] mraible commented on #5062
@jdubois OK, but this is different from JHipster 3.x. I can document accordingly. With JHipster 3, `gulp` was run after the entity generation. With JHipster 4, it seems like `npm run webpack:build:dev` should be run after entity generation. If you do this, `./mvnw` works as expected.

[2017-02-02 14:31] jdubois commented on #5062
Yes and no :-)

- We do run `yarn start` (== Webpack) after project generation, that's why the initial project works
- We don't run it after entity generation -> the issue is that people might already have it running (I keep it running all the time), so we can't run it at that moment. So in that case you need to run it manually. But anyway, if you are developing, this should always be running.

[2017-02-02 14:33] deepu105 commented on #5062
If you do a clean then you need to pass the the webpack profile switch in
order to rebuild everything (I need to update this in docs)
for maven/gradle run

   - ./mvnw -Pdev,
   ​webpack
   -
   - ./gradlew -P
   ​dev
    -P
   ​
   webpack

Thanks & Regards,
Deepu

On Thu, Feb 2, 2017 at 3:24 PM, Julien Dubois <notifications@github.com>
wrote:

[2017-02-02 14:35] deepu105 commented on #5062
​If you have webpack dev server running with `yarn start` then it should
compile the new files automatically when created. I'll test this tonight
and fix if there is any issue. I'll also update the docs with the new dev
workflow​

Thanks & Regards,
Deepu

On Thu, Feb 2, 2017 at 3:28 PM, Matt Raible <notifications@github.com>
wrote:

[2017-02-02 14:39] deepu105 commented on #5062
For angular 2 `yarn start` must be running or you need to run `yarn run
webpack:build:dev` manually as there is no point in running them after
generation. Its like having to run mvnw if you want to run the with
typescript you have to have both process running. we should just document
this and people need to follow this there is no way around it.

Thanks & Regards,
Deepu

On Thu, Feb 2, 2017 at 3:3

[2017-02-02 14:46] mraible commented on #5062
This makes sense now that I know about it. We should just make sure and document this since using `./mvnw` with JHipster 3 would automatically rebuild everything w/o an additional profile.

I found another issue - the "Administration" menu doesn't disappear for non-admin users. It just doesn't render - so there's a large gap in the menu.

![screen shot 2017-02-02 at 7 44 40 am](https://cloud.githu

[2017-02-02 14:48] jdubois commented on #5062
Oh this might be linked to the latest PR from @gmarziou with the "invisible" class.... Could you do a specific ticket for that?

[2017-02-02 14:54] mraible opened #5063 "Convert has-authority directives to structural directives"
JHipster 4.0.0

The "Administration" menu doesn't disappear for non-admin users. It just doesn't render - so there's a large gap in the menu.

![screen shot 2017-02-02 at 7 44 40 am](https://cloud.githubusercontent.com/assets/17892/22553966/c0a202a8-e91b-11e6-853f-54b1bcbbff2e.png)

[2017-02-02 14:55] mraible commented on #5062
@jdubois Done at https://github.com/jhipster/generator-jhipster/issues/5063

[2017-02-02 15:03] VictorADS commented on #5061
Thanks @paulohenriqu , I think the problem is we don't properly strip this line because it is not correctly used. It should be `this.languageService.addLocation(['social]');` and not `this.languageService.addLocation('social');`

[2017-02-02 15:25] mraible commented on #5063
Changing `has-authority.directive.ts` to have the following seems like one way to fix this issue.

[code]

I tried the following too, but it does not work.

[code]

[2017-02-02 16:19] xetys commented on #5039
AFAIK they are not provided by yarn....the existing lines are provided from our generator, and not yarn

see https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/main/webapp/content/scss/_vendor.scss

or https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/main/webapp/content/css/_vendor.css

(by posting th

[2017-02-02 16:20] deepu105 commented on #5063
setting the display style property would be the correct approach. but instead of making it empty on visible its better to add 'block' or 'inline-block' depending on whats currently applied when visible

[2017-02-02 16:32] gmarziou commented on #5063
Sorry I did not notice this gap. Have you tred just to revert  PR #5054 by using `hidden-xs-up` rather than invisble ?

[2017-02-02 16:39] mraible commented on #5063
@gmarziou Using `hidden-xs-up` instead of `invisible` seems to work. I believe this needs to change in `has-authority.directive.ts` as well as `has-any-authority.directive.ts`. Another option would be to make these directives behave like `*ngIf`.

https://angular.io/docs/ts/latest/guide/template-syntax.html#!#star-template

[2017-02-02 16:54] jvence opened #5065 "Node 6.9.0 should be required"
Welcome to the JHipster Generator v4.0.0
Documentation for creating an application: https://jhipster.github.io/creating-an-app/
Application files will be generated in folder: /Users/alain/dev/project/myapp/HPWebServices2.1/gateway
WARNING! yarn is not found on your computer.

? (1/15) Which *type* of application would you like to create? Microservice gateway
? (2/15) Which *Framework* would you li

[2017-02-02 16:56] gmarziou commented on #5063
Using something similar to *ngIf would make sense but as I don't know how to do it, let's revert my PR.

[2017-02-02 16:57] jdubois commented on #5065
No node/npm version, no help....

[2017-02-02 16:57] jdubois commented on #5065
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-02 16:59] gmarziou commented on #5055
Let's remove them, the new icons are less intrusive than the old ones, so maybe no need to play with their opacity.

[2017-02-02 17:08] jvence commented on #5065
NPM 4.1.2
Node v4.4.1

[2017-02-02 17:09] jdubois commented on #5065
Thanks @jvence !
Then you need to upgrade, as we don't support node version less than 6.9.0.

This shouldn't happen, as we forced this in our package.json, that's why I'm reopening this as a bug.

And if you don't want any trouble, use Yarn instead!

[2017-02-02 17:10] jdubois commented on #5065
I have also renamed the ticket to make it clearer.

[2017-02-02 17:15] jvence commented on #5065
Upgrading Node solves issue.

[2017-02-02 17:17] jdubois commented on #5065
Thanks @jvence - that's normal :-)
Then I don't understand why you could run the generator in the first place, it should refuse to start if you have an older version. This is why I'm keeping this open.

[2017-02-02 17:30] gmarziou commented on #5065
Maybe we should use engineStrict

http://www.marcusoft.net/2015/03/packagejson-and-engines-and-enginestrict.html#enginestrict

[2017-02-02 17:33] gmarziou commented on #5065
Useful info: http://stackoverflow.com/questions/29349684/how-can-i-specify-the-required-node-js-version-in-packages-json

[2017-02-02 17:33] deepu105 commented on #5063
we can convert them to structural directives https://angular.io/docs/ts/latest/guide/structural-directives.html

[2017-02-02 17:33] deepu105 commented on #5063
@gmarziou do you wanna do it else I can do it this weekend

[2017-02-02 17:34] mraible opened #5066 "Page titles are not translated the first time"
Steps to reproduce:

Login to https://jhipster-4-demo.herokuapp.com/ with user/user.

Click on Entities > Blog and notice how the page title is `translation-not-found[blogApp.blog.home.title]`.

![translation-not-found-blog](https://cloud.githubusercontent.com/assets/17892/22560762/0917d096-e933-11e6-838b-fb6968978308.png)

Refresh your browser and it renders properly.

![translation-found-after-r

[2017-02-02 17:35] deepu105 commented on #5055
ok

Thanks & Regards,
Deepu

On Thu, Feb 2, 2017 at 5:59 PM, Gaël Marziou <notifications@github.com>
wrote:

[2017-02-02 19:23] BurningDog commented on #5061
Damn, @paulohenriqu beat me to it! Same issue here. Just opened a pull request.

[2017-02-02 21:38] nicoguevara commented on #3943
Good afternoon, I have the same inconvenience for some time and I still can not solve it, every time I run the project with profile Prod, the styles are overwritten.
If a solution has already been found, I appreciate your help.

[2017-02-02 22:38] gmarziou commented on #3943
Please don't post on an old issue, open a new one and provide all the details required.

[2017-02-03 00:03] kaidohallik opened #5070 "npm flag causes error"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

If using --npm flag in generation: `yo jhipster --npm` then error occurs.
Tested in Windows and in Ubuntu.
`yo jhipster` works fine.

[code]

##### **Motivation for or Use Case**

I don't need

[2017-02-03 00:10] ruddell commented on #5070
I think it's related to some dependency... It just started happening
Same issue  https://github.com/angular/angular-cli/issues/4378

[2017-02-03 00:39] kaidohallik commented on #5070
I also can't reproduce any more. Thanks for quick clearifing @ruddell

[2017-02-03 01:22] gmarziou commented on #5066
I replaced [ng-jhipster MissingTranslationHandler](https://github.com/jhipster/ng-jhipster/blob/3f1dc6c83ab6c670712b28811b1153cecc087184/src/language/jhi-missing-translation.config.ts) by mine which logs on console.

I get many missing translations logged (twice per menu item) when I go from an entity page to home page even though the page displays correctly.
Also in the log below, you can see the

[2017-02-03 01:46] gmarziou opened #5072 "i18n JSON files could be bundled by Webpack"
##### **Overview of the issue**

Today translation files are loaded by XHR from server which results in many roundtrips to server.

Webpack has a json-loader and ng2-translate has a TranslateLoader interface that we already implement in [TranslatePartialLoader](https://github.com/jhipster/ng-jhipster/blob/master/src/language/translate-partial-loader.ts).

So maybe we could combine both and have ng

[2017-02-03 01:49] gmarziou commented on #5063
I can do it but maybe next week, I guess there's no emergency.

[2017-02-03 03:09] huiqiangyang opened #5073 "genetator code error"
when I start generator code show this error:

[code]

I need your help ! thanks.

[2017-02-03 03:11] #5073 closed

[2017-02-03 03:26] mfalzetta opened #5074 "User Management Page With Wrong ID in Delete Popup Message"
##### **Overview of the issue**

**Bug en deletion popup.**
The message showed is "Are you sure you want to delete this User {{ id }}?".
The ide is show de login of the user, but show the string "{{ id }}".

##### **Motivation for or Use Case**

The popup for delete User show string {{id}}, when the correct is a long id of the user.

##### **Reproduce the error**

1. Go to User Management Page.
2.

[2017-02-03 09:45] gmarziou commented on #5074
Would you submit a PR?

[2017-02-03 10:39] nicoguevara opened #5075 "Jhipster prod Profile overwritten CSS style"
Good morning, I have the inconvenience for some time and I still can not solve it, every time I run the project with the Prod profile, the styles are overwritten, since they are imported into the vendor.scss, but I modify it and also Overrides when running the project.
I appreciate your help and answers.
Regards

[2017-02-03 11:40] deepu105 commented on #5075
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-03 11:40] #5075 closed

[2017-02-03 12:00] mfalzetta commented on #5074
Hi,
What is a PR?

---
Marlon Falzetta

[2017-02-03 12:22] gmarziou commented on #5074
a pull request

[2017-02-03 14:38] alachebbi opened #5076 "Jhipster 4 can not see entities"
I create a project jhipster 4 :
Monolothic Application
Mongodb
Then i generate an entity using :  yo jhipster:entity NameEntity
But when i excute with ./mvnw and yarn start
i can not see my entities in the interface .

The link of my project is :
https://github.com/alachebbi/Jhipster

[2017-02-03 14:41] jdubois commented on #5076
Yes you need to do `yarn start`

[2017-02-03 14:41] jdubois commented on #5076
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-03 14:41] #5076 closed

[2017-02-03 14:42] jdubois opened #5077 "Upgrade to MongoBee 0.12"
Don't do this without testing, there seems to be a memory issue at startup time (I'm currently debugging this at work)

[2017-02-03 14:46] khocef commented on #5074
i'm unable to reproduce this issue, the user login seems to be correctly displayed!

[2017-02-03 15:15] alachebbi opened #5078 "jhipster4 even with yarn start entities doesn't work"
even with yarn start entities doesn't work
monolothic APP
Mongodb

[2017-02-03 15:19] cbornet commented on #5078
Seriously, did you read why your previous issue was closed ??

[2017-02-03 15:21] atomfrede commented on #5078
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-03 15:21] #5078 closed

[2017-02-03 15:25] jdubois commented on #5078
Please follow the issue template....

[2017-02-03 15:29] CDevCom opened #5079 "Type error while creating new entry, when fieldName=text"
##### **Overview of the issue**

I have a type error in `entry-dialog.component.ts` while attempting creating a new entry using the generator.

##### **Reproduce the error**

Using the following entity :
[code]

This error occurs while compiling typescript files.

##### **JHipster Version(s)**

Using JHipster 4.0.0

##### **JHipster configuration**

[code]

##### **Entity configuration(s) `entityN

[2017-02-03 15:42] gmarziou commented on #5079
Could you paste the compilation error?

[2017-02-03 15:46] CDevCom commented on #5079
Here is the compilation error :

[code]

[2017-02-03 16:05] jdubois commented on #5079
This is because your field name is called "text":

- to solve this easily, rename the field
- @mohamed2a as you coded this part, can you have a look?

[2017-02-03 16:08] jdubois commented on #5079
Sorry @mohamed2a , not you fault in fact :-)

[2017-02-03 16:42] CDevCom commented on #5079
I've changed the field name and it's working now, thanks !

[2017-02-03 17:17] deepu105 commented on #5078
@alachebbi if you want our help you need to respect our guidelines. please remember we are doing this for free in our free time

[2017-02-03 17:32] aricooperman commented on #4921
This still happens. Updated to the 4.0.0 release, imported my entities and get this error

`
ERROR in [at-loader] src/main/webapp/app/entities/network-lead-contact/network-lead-contact-dialog.component.ts:48:28
    Argument of type '(res: Response) => void' is not assignable to parameter of type '(value: NetworkLeadContact) => void'.
  Types of parameters 'res' and 'value' are incompatible.
    Ty

[2017-02-03 17:42] jdubois commented on #4921
This is because you have a field called "text", have look this is a
duplicate from today

Le 3 févr. 2017 6:32 PM, "Ari Cooperman" <notifications@github.com> a
écrit :

[2017-02-03 17:54] aricooperman commented on #4921
No field in that entity or any other is called 'text'

It does have a String field called 'notes' if you mean the field type is a String/Text

[2017-02-03 17:57] #5055 closed

[2017-02-03 17:57] jdubois commented on #4921
There is one on 'Opinion'

[2017-02-03 18:02] aricooperman commented on #4921
I am not the original poster on this issue. My entities are different.

Here is the one making that error:

`
entity NetworkLeadContact {
	note String minlength(1) maxlength(200),
	time ZonedDateTime required,
	type ContactType
}
`

and relationships

`
relationship OneToMany {
	NetworkLead{contacts} to NetworkLeadContact{lead}
}
`

[2017-02-03 18:08] deepu105 commented on #4921
Could you post yoy yo-rc json and entity json files, node/npm/yarn versions
and stack trace please

Thanks & Regards,
Deepu

On Fri, Feb 3, 2017 at 7:02 PM, Ari Cooperman <notifications@github.com>
wrote:

[2017-02-03 18:16] #5061 closed

[2017-02-03 18:18] aricooperman commented on #4921
Here is the info dump:

`
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

Company.json

[code]

CompanyNote.json

[code]

Employment.json

[code]

NetworkLead.json

[c

[2017-02-03 18:19] aricooperman opened #5080 "Can't enabling Spring Social signin"
##### **Overview of the issue**

Generated a monolithic app, added spring social module from market place. Noticed social signin was not enabled. Edited .yo-rc.json and changed 'enableSocialSignIn' to true from false. Regenerated and get the error:

`
ERROR in [at-loader] src/main/webapp/app/shared/social/social.component.ts:22:14
    Property 'languageService' does not exist on type 'BdmSocialCom

[2017-02-03 18:27] ruddell commented on #5080
The fix for this was just merged #5067

Until the next path release, remove the line `this.languageService.addLocation('social');` and it should work

[2017-02-03 18:27] #5080 closed

[2017-02-03 18:34] jdubois commented on #4921
If you have another configuration, please do another ticket... I'm on my
phone, I'm totally lost now..

Le 3 févr. 2017 7:18 PM, "Ari Cooperman" <notifications@github.com> a
écrit :

[2017-02-03 18:38] aricooperman commented on #4921
Ok, will do

On Fri, Feb 3, 2017 at 11:34 AM Julien Dubois <notifications@github.com>
wrote:

[2017-02-03 18:43] aricooperman opened #5081 "Webpack build error for generated entities, when fieldName=type"
##### **Overview of the issue**

Import jh entity file, regenerate project and get the following errors:

`
ERROR in [at-loader] src/main/webapp/app/entities/network-lead-contact/network-lead-contact-dialog.component.ts:48:28
    Argument of type '(res: Response) => void' is not assignable to parameter of type '(value: NetworkLeadContact) => void'.
  Types of parameters 'res' and 'value' are incom

[2017-02-03 18:43] alachebbi commented on #5078
I don't know what i did :o , i just had a problem and asked you about it. You invite me to create a ticket and ask my question to had a answer.

[2017-02-03 18:43] aricooperman commented on #4921
Opened 5081

https://github.com/jhipster/generator-jhipster/issues/5081

On Fri, Feb 3, 2017 at 11:38 AM Ari Cooperman <aricooperman@gmail.com>
wrote:

[2017-02-03 18:47] ruddell commented on #5078
@alachebbi You need to fill out the template in the New Issue window.  Without that information, we can't help.

The top two lines of the template:

[2017-02-03 18:48] jdubois commented on #5078
Yes, create a ticket using the template, we need it to help you

[2017-02-03 18:54] alachebbi commented on #5078
Ah ok . Sorry because i wasn't know formalities

[2017-02-03 20:19] pascalgrimaud commented on #5081
I think the problem comes from:
"fieldName": "type" in NetworkLeadContact.json

With Angular2, there can be some entities name which need to be excluded. Only the community can report it when using JHipster4.

Thanks for using properly the template and yo jhipster:info

[2017-02-03 22:17] jdubois opened #5085 "[JHipster 4] MongoDB entities karma tests are failing"
The karma test that is generated for MongoDB is wrong, the `_entity-management-detail.component.spec.ts` is doing on line 70:

    spyOn(service, 'find').and.returnValue(Observable.of(new <%= entityClass %>(10)));

So it's expecting an entity with an id of type number, but for MongoDB, it is a UUID. So this doesn't compile.

- There is also probably the same error for Cassandra
- The Travis builds

[2017-02-03 22:17] jdubois commented on #5085
If you have that issue at the moment, the workaround is easy: either put a String there, or even delete the test...

[2017-02-03 22:30] #5085 closed

[2017-02-03 22:34] jdubois commented on #5065
Closing as I merged the PR from @pascalgrimaud

[2017-02-03 22:34] #5065 closed

[2017-02-03 22:35] jdubois commented on #5052
- For the audit this is fixed, the PR is merged

[2017-02-03 22:36] jdubois commented on #4973
Closing this as the PR are commented on our side, and then we will always have TODOs to do, so there's no need to track that

[2017-02-03 22:36] #4973 closed

[2017-02-03 22:36] ruddell commented on #5085
@alachebbi Here's the solution to your issue from earlier

[2017-02-03 22:37] VictorADS commented on #5074
Same for me, it is correctly displaying the login.
Can you provide a screenshot of the problem  ?

[2017-02-03 22:58] jdubois commented on #5077
Upgrade is not possible because the CloudDatabaseConfiguration would not work:

- it uses Spring Cloud, which configures a `Mongo` instance
- MongoBee requires an instance of the new `MongoClient`

So this blocked at the moment.

[2017-02-03 22:58] #5077 closed

[2017-02-03 22:58] pascalgrimaud commented on #5085
@jdubois : when there is this kind of problem with Travis, don't hesitate to notice me, so I can put the ticket on my todo list for improving our Travis builds system

[2017-02-03 22:59] jdubois commented on #5085
Yes thanks @pascalgrimaud but I know you'll get notified as you follow the tickets, anyway

[2017-02-03 23:02] gmarziou commented on #5081
I also added typescript reserved words

https://github.com/jhipster/jhipster-core/pull/104

[2017-02-04 00:14] svpace opened #5086 "CacheConfiguration.java with ehcache"
##### **Overview of the issue**

In CacheConfiguration.java generated with ehcache. The "log" and "cacheManager" fields does not seem to have any purpose anymore

##### **Motivation for or Use Case**

Clean up unused code

##### **Reproduce the error**

Generate a project using ehcache

##### **Related issues**

##### **Suggest a Fix**

Remove the fields

##### **JHipster Version(s)**

4.0.0

####

[2017-02-04 00:17] gmarziou commented on #5079
With PR #5087 you won't need to rename your field.

[2017-02-04 00:27] gmarziou commented on #5086
It seems you are right for ehcache.
However CacheManager is still used by Hazelcast (see [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/_CacheConfiguration.java)), would you consider submitting a pull request?

[2017-02-04 07:51] #5079 closed

[2017-02-04 07:51] #5081 closed

[2017-02-04 07:53] jdubois commented on #5086
Yes those need to be cleaned up, but the template code is quite tricky, it depends on a lot of conditions

[2017-02-04 09:07] pascalgrimaud commented on #5085
I was able to made few tests this morning... It seems like the `webpack:build` after the `yo jhipster` phase will exit 0, although there are some errors, so it's not related to mongodb

First, I need to understand this phase: https://github.com/jhipster/generator-jhipster/blob/master/generators/client/index.js#L317-L363

I will made other tests as soon as I can (maybe tonight) and will open an iss

[2017-02-04 09:09] jdubois commented on #5085
Thanks @pascalgrimaud
There's no rush as the bugs are fixed, but indeed it would be better to have the build fail when there are test errors :-)

[2017-02-04 12:54] ecukalla opened #5088 "yo jhispter wrongly warns for old version of npm"
Greetings and thanks for jhipster 4 release!!!

##### **Overview of the issue**
I have node 7.5.0, while yo jhipster, warns that I should have at least 6.9.0+

    WARNING! Your node version is too old (v7.5.0). You should use at least Node v6.9.0+

<img width="562" alt="screen shot 2017-02-04 at 12 55 47" src="https://cloud.githubusercontent.com/assets/775064/22618608/0f18e336-eae1-11e6-8450-57b7

[2017-02-04 15:20] anjia0532 opened #5089 "yarn's bug `yarn global add yo` not work"
i know it's not jhipster's bug

##### **Overview of the issue**

I want to use generator-jhipster@4.0.0 and when I run the `yarn global add yo` but yo not work

throw exception `The filename, directory name, or volume label syntax is incorrect.`

my issues https://github.com/yarnpkg/yarn/issues/2630

[Wrong bin path on Windows 10 issues ](https://github.com/yarnpkg/yarn/issues/2565)

[2017-02-04 15:36] gmarziou commented on #5089
Yes it's a known issue on Windows.
I usually delete the scripts created in node installation foder.

As it is not a JHipster issue, I close it.

[2017-02-04 15:36] #5089 closed

[2017-02-04 15:39] pascalgrimaud commented on #5088
@ecukalla : I code it too fast yesterday sorry. The condition should be with == instead of >=

[2017-02-04 15:49] jdubois opened #5091 "Audit the JHipster Webpack 2 configuration"
This ticket is specific to discuss the usage of Webpack 2 in JHipster with @TheLarkInn

- a sample app is available at https://github.com/jhipster/jhipster-sample-app-ng2 and the README.md should be enough for you to test -> this is our top priority
- at the moment we mostly want great dev workflow, and we know that the prod mode isn't perfect (see https://github.com/jhipster/ng-jhipster/pull/27 f

[2017-02-04 16:44] deepu105 commented on #5062
closing this as there is nothing to do here except improving docs if possible

[2017-02-04 17:13] gmarziou commented on #5066
One way to simplify our TranslateLoader and to avoid partial async loading would be to merge all our i18n JSON files per language, this way we would load all translations at once.

I have been able to do it using webpack json-loader and a plugin: [merge-jsons-webpack-plugin](https://github.com/tettusud/merge-jsons-webpack-plugin)

[code]

I am also investigating an alternative with #5072.

[2017-02-04 18:49] jdubois opened #5095 "Make the security audits optional"
Since the early days of the project we had Spring Security audits enabled by default.

Lots of people love it, as it gives an audit trail of who did what. This has sometimes been a bit buggy (because the Spring Security implementation was buggy, not our fault!!), but now this works really well.

But there is one thing I don't like about it, since the beginning: it's really bad for performance, bec

[2017-02-04 20:20] whatis777 opened #5096 "Browser does not display changes (e.g. in HTML files)"
##### **Overview of the issue**

Browser does not display changes in HTML files. Only after 'yo jhipster' the changes are shown in the browser.
It's not a browser cache issue as I checked that and used different browsers

##### **Motivation for or Use Case**

As a developer I want to see changes in HTML files without regenerating the application with 'yo jhipster'

##### **Reproduce the error**

1

[2017-02-04 20:30] jdubois commented on #5096
Don't take this harshly, but you're like the 10th person to tell this to us.
You need to run `yarn start` to have hot reload enabled, this is written everywhere, but it looks like it's not clear for many people - and I don't know what to do here!! I'll try to make it more clear in the documentation.

[2017-02-04 20:30] #5096 closed

[2017-02-04 21:47] arnogeismar opened #5098 "jhipster-generator heroku"
Since the commit bellow I am getting a dynoSize is not defined

Creating Heroku deployment files
events.js:160
      throw er; // Unhandled 'error' event
      ^

ReferenceError: /Users/arnog/Documents/auction/auctioneer-api/node_modules/generator-jhipster/generators/heroku/templates/_Procfile:1

    2|

dynoSize is not defined
    at eval (eval at compile (/Users/arnog/Documents/auction/auctionee

[2017-02-04 22:26] sohibegit opened #5100 "Dismissing modal using ESC button doesn't change the router URL"
##### **Overview of the issue**

dismissing almost any modal using ESC button doesn't change the router URL and this will cause a problem when trying to open the same modal.

##### **Reproduce the error**

go to any entity for example "Country" press on create new Country Button this will open a dialog modal
now exit Using ESC Button and try to press on Create new Country again.

##### **JHipster

[2017-02-04 22:30] ctamisier opened #5101 "DTO on entity with many-to-many on User"
##### **Overview of the issue**
I use the entity generator and I generate an EntityA having many-to-many User (see below for the json):

With the UI, I create a new EntityA by selecting one user like 'system' for example.
I save, then I edit this same EntityA and I re-save immediately without updating anything:
an NPE is thrown

[code]

##### **Related issues**

started to discuss about this here:

[2017-02-04 22:32] ruddell commented on #5100
Probably related to #4961, I'll have a look today

[2017-02-04 22:32] jdubois commented on #5101
The problem is probably with MapStruct (which is still in beta, for this kind of use cases), did you see #5014 ? It looks the same, can you check if that's a duplicate?

[2017-02-04 22:41] sohibegit commented on #5100
@ruddell i don't think it's related to #4961 plus I couldn't reproduce #4961 as it's working fine for me

[2017-02-04 22:43] eelcobrolman opened #5102 "Translations for register.* missing when using enableSocialSignIn"
##### **Overview of the issue**

When generating the jhipster app (angular2) with the social plugin, i18n translations don't work on the register page (/#/register):

![screen shot 2017-02-04 at 23 41 16](https://cloud.githubusercontent.com/assets/5680995/22622157/842320a4-eb33-11e6-80a9-8a14c5871652.png)

##### **Reproduce the error**

When enabling socialplugin (edit .yo-rc.json, enableSocialSig

[2017-02-04 22:49] ctamisier commented on #5014
Is this issue fixed with this commit https://github.com/jhipster/generator-jhipster/pull/4873/commits/68b70c34794c9828cea421cc17b7032e242994d4#diff-59125710d31fd91359dd09eacd7e4748 in JHipster 4.0 ?

The login is null so it fails on `login.toLowerCase(Locale.ENGLISH);` in the setter ?

[2017-02-05 00:15] gmarziou commented on #5066
I think I found why pageTitle is not translated first time.

pageTitle is set on `NavigationEnd` event so before reaching the entity component, the location for translations related to this entity is added in the constructor of the component using `jhiLanguageService.setLocations()` so it's too late.

[2017-02-05 00:29] gmarziou commented on #5102
In `JhiSocialComponent`, try to add the 'register' location like this:

[code]

[2017-02-05 01:38] ruddell commented on #5100
Thanks for reporting the issue, I can't believe I didn't test that!

[2017-02-05 01:46] eelcobrolman commented on #5102
Yes, that fixes it, a created a pull request for it.

[2017-02-05 03:40] jkutner commented on #5098
@arnogeismar can you confirm that my patch in #5106 fixes this? I wasn't able to reproduce but I think I know generally what was causing the problem. And I think i've nipped it. Thanks for reporting!

[2017-02-05 03:46] mraible commented on #5095
How would you enable auditing? A simple property or environment variable?

[2017-02-05 06:30] whatis777 commented on #5096
If this happens to more people then maybe there's really a lack of documentation and you could improve it? You say you don't know what to do there. Well, in "Creating an application" chapter it would have been very useful, if there were a hint to `yarn start` - but only 'mvnw' is mentioned.

[2017-02-05 06:42] baskeboler commented on #5096
@whatis777 check out https://jhipster.github.io/development/

[2017-02-05 08:17] #5088 closed

[2017-02-05 08:19] jdubois commented on #5096
It's also printed out in the console when you generate, and written in your generated "README" file... But yes we need to write it even more.

[2017-02-05 08:20] jdubois commented on #5095
@mraible that would be a Spring Boot property, in https://jhipster.github.io/common-application-properties/

[2017-02-05 08:47] deepu105 commented on #5066
Yes another caveat of ng router as we used to do it in ui router resolve b4
and worked well.

Also ok to serve a merged json if possible but it would be nice to keep the
files separated for dev else it will endup becoming a single huge file

Thanks & regards,
Deepu

On 5 Feb 2017 1:15 a.m., "Gaël Marziou" <notifications@github.com> wrote:

I think I found why pageTitle is not translated first time

[2017-02-05 09:33] pascalgrimaud commented on #5096
@whatis777 :

When using Angular2, people have to understand:
- if they modify files in src/main/java folder, they have to recompile the backend -> you can use spring devtools for hot reload
- if they modify file in src/main/webapp folder, they have to recompile the frontend -> or you can use `yarn start` as mentionned everywhere

[2017-02-05 09:54] jdubois commented on #5096
I have put more warnings on the website, see https://github.com/jhipster/jhipster.github.io/commit/4a1415fde33db9e04224d8d25146e544fa0ddbee

[2017-02-05 09:55] jdubois commented on #5096
Another important solution would be a new video, @mraible said he would be able to make one soon (and otherwise I will do it at some point)

[2017-02-05 10:00] #5100 closed

[2017-02-05 10:01] #5102 closed

[2017-02-05 10:01] #5098 closed

[2017-02-05 10:07] gmarziou commented on #5066
We could do it in one single place per entity if we had a componentless route where to add the resolve, this is one of the benefits of the routing I proposed [here](#4923#issuecomment-274355024).

[2017-02-05 10:08] #4923 closed

[2017-02-05 11:14] whatis777 commented on #5096
@jdubois and @pascalgrimaud: Thanks for the information and for adding this to the documentation.

[2017-02-05 11:25] ctamisier commented on #5014
No, it's not related of what I just said

[2017-02-05 11:50] huiqiangyang opened #5108 "run jhipster:heroku show error"
- OS:ubuntu14
- node: 6.9.5

[code]

[2017-02-05 11:51] ctamisier commented on #5014
this is due that ContactDTO contains just userId and userFirstName (as User information).
(note : _normally with the entity generator, the login is used instead of the firstName for the otherEntityField_)

During index creation : All the other data from the linked User are null (like the login).

Which means we can't search on those members (or throw exception because login is not supposed to be n

[2017-02-05 12:51] eelcobrolman commented on #5102
Ok, it seems we also need "login" and "home".

"home" due to the fact the you can click on login from the homepage, and otherwise the translations on the home page are missing behind the login-popup.

I will create a PR.

[2017-02-05 13:02] jdubois commented on #5108
Duplicate #5098
Please follow the guidelines!

[2017-02-05 13:02] #5108 closed

[2017-02-05 13:25] angusoid opened #5110 "Health Refresh (ng2) should map data in case its 503 error (service down)"
##### **Overview of the issue**

When doing health check and there is a certain service down, the server will return 503 with body response.

Current code (ng2) for refreshing health is not covering that scenario as  shown below.

_health.component.ts_

    refresh() {
        this.updatingHealth = true;

        this.healthService.checkHealth().subscribe(health => {
            this.healthData =

[2017-02-05 13:37] jdubois commented on #5110
Looks like you for the solution -> could you do a PR?

[2017-02-05 13:57] angusoid commented on #5110
Sure

[2017-02-05 15:03] suyalcinkaya commented on #5076
Had the same problem. Upgrading the project to v.4.0.1 worked for me.

[2017-02-05 16:14] sonersivri opened #5113 "Prod profile not working"
Prod profile generated war not working
version 4.0.1

I Delete 'infinite-scroll',
            'angular-loading-bar'
from app/app.module.js and it works

vendor-a935ac298f.js:4Uncaught Error: [$injector:modulerr] Failed to instantiate module ceptecafeApp due to:
Error: [$injector:modulerr] Failed to instantiate module infinite-scroll due to:
Error: [$injector:nomod] Module 'infinite-scroll' is not

[2017-02-05 16:17] alachebbi commented on #5088
project doesn't work with jhipster 4.0.1
error jhipster-core@1.2.8: The engine "node" is incompatible with this module. Expected version ">=6.9.5".
error Found incompatible module
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
Error jhipster

ERROR! yarn install failed.

[2017-02-05 16:51] pascalgrimaud commented on #5113
How can we help you if we have no information for trying to reproduce the issue?
Read and answer all questions in the template

[2017-02-05 16:51] #5113 closed

[2017-02-05 16:51] sonersivri opened #5114 "NetworkError: 401 Unauthorized api/account?cacheBuster=1486313231433"
version 4.0.1
production
Admin user logins and gets error
"NetworkError: 401 Unauthorized - http://52.23.175.251/api/account?cacheBuster=1486313231433"

[2017-02-05 16:52] sonersivri commented on #5113
I solved problem but it is a critical error.

[2017-02-05 16:54] pascalgrimaud commented on #5088
@alachebbi : it's related to https://github.com/jhipster/jhipster-core/commit/8eb2f5e5848b9395bfddba6b496a27764e3e6645
The next version should require nodejs 6.9.0 instead of 6.9.5 currently
Simply use last LTS version of NodeJS

[2017-02-05 16:55] #5114 closed

[2017-02-05 17:12] jdubois commented on #5096
Thanks for reporting this @whatis777 - I know it's not trivial for end-users... We've been working on this for one year, so what is "normal" to us isn't obvious for others...

[2017-02-05 17:13] jdubois commented on #5076
Are you sure you did `yarn start`?? That's basically what upgrading does, but you need to have this running all the time to get live reload

[2017-02-05 17:16] jdubois commented on #5113
Then please @sonersivri -> give us a full bug report, so we can review the issue and solve it.
And if you have a solution, then that's even better, please submit it.
This is community project we do on our free time, and none of us is ready to spend his Sunday evening on an incomplete bug report, because that's really not fun.

[2017-02-05 17:17] jdubois commented on #5114
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-05 17:17] jdubois commented on #5114
@sonersivri that the second bug report you send us without following the guidelines, please read them

[2017-02-05 17:18] jdubois commented on #5110
Thanks for the PR, closing this as it's merged

[2017-02-05 17:18] #5110 closed

[2017-02-05 18:11] mraible commented on #5096
@jdubois I was going to record a screencast today, but I can't deploy to Heroku with 4.0.1.

[code]

[2017-02-05 18:21] pascalgrimaud commented on #5096
@mraible : it should be fixed by https://github.com/jhipster/generator-jhipster/pull/5106

[2017-02-05 18:27] mraible opened #5116 "yo jhipster:upgrade doesn't work to upgrade from 4.0.0. to 4.0.1"
##### **Overview of the issue**

Running `yo jhipster:upgrade` doesn't work to upgrade from 4.0.0 to 4.0.1.

It also still references `bower install`.

[code]

##### **Reproduce the error**

[code]

After running this, `git status` shows no changes. At the very least, I'd expect `package.json` to have an upgraded version.

##### **Browsers and Operating System**

java version "1.8.0_112"
Java(TM)

[2017-02-05 18:56] jdubois commented on #5096
Yes I can release a 4.0.2 version tomorrow if you need it

Le 5 févr. 2017 7:21 PM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2017-02-05 18:57] jdubois commented on #5116
To be honnest I didn't test it...

[2017-02-05 19:01] pascalgrimaud commented on #5116
Same as Julien, I always prefer having full control on my git branch, so it's a sub generator I won't use

[2017-02-05 19:22] NilsRenaud opened #5117 "node version too old : 7.5.0"
##### **Overview of the issue**

When launching JHipster ("yo jhipster" command), I get this warning :

Although node has 2 running version, I though this is a bug.

##### **Motivation for or Use Case**

I think this is a bug because nodeJs last version is currently 7.5.0 (which I currently have).
I guess the message could disappears or be replaced by something like "Your node version is experimen

[2017-02-05 19:37] jdubois commented on #5117
Thanks, that's a duplicate.

[2017-02-05 19:37] #5117 closed

[2017-02-05 19:38] jdubois commented on #5116
Yes but we need to check if it still works, and correct it if necessary

[2017-02-05 20:33] ctamisier commented on #5116
I think I have the same problem from migrating from 3.12.1 to 4.0.1.
During the upgrade when the process should generate with version 4.0.1 but it still generates it with 3.12.1.
I was thinking my environment was wrong, so I tried to remove my generator and try to make everything clean but I wasn't able to upgrade with the upgrade generator.

[code]

[2017-02-05 20:43] ctamisier commented on #5101
Yes the core problem is the same, it is about how the DTO is designed and populated.
The issue is in the way we handle the DTO when the User entity is involved.
When we will find a solution (for this issue there are solutions, we need to find the proper way) I think this scenario and the one in #5014 should be tried to confirm the fix.

[2017-02-05 20:53] alachebbi commented on #5076
Yes

[2017-02-05 21:23] sonersivri opened #5119 "prod generate war running has javascript error"
I generate war with
./mvnw -Pprod clean package -DskipTests

[code]

##### **Motivation for or Use Case**

cannot run the application

##### **Reproduce the error**

you can generate empty project and war it and run production profile

##### **Related issues**

No

##### **Suggest a Fix**

delete the dependecy

##### **JHipster Version(s)**

4.0.1

##### **JHipster configuration**

Welcome to the

[2017-02-05 21:31] jdubois commented on #5119
Thanks :-)

[2017-02-06 00:50] gmarziou commented on #5066
I tried to define a componentless parent route where to add the resolve. It worked fine except for popup routes where I could not remove the auxilliary route from url upon closing the modal. This looks like a bug of the router in ApplyRedirects, I may try to add a unit test to report the issue.

[2017-02-06 05:12] mfalzetta commented on #5074
Hi,
Im working hard in this weekenk. Tomorrow i Will try to reproduce.

Greetings.

---
Marlon Falzetta

[2017-02-06 07:28] pascalgrimaud commented on #5119
So it's with AngularJS.

I didn't manage to reproduce with Travis.
Look the full log with protractor tests:
https://travis-ci.org/pascalgrimaud/jhipster-travis-tester/builds/198748457

I didn't manage to reproduce on my local. Everything works fine for me:
![issue-5119](https://cloud.githubusercontent.com/assets/9156882/22638047/0c53538c-ec46-11e6-9b4d-b909e6baf5c5.png)

[2017-02-06 07:34] jdubois commented on #5119
You have an error with "Infinite scroll", but it's not selected on any of your entities... I'm pretty sure your configuration isn't complete here...

[2017-02-06 07:35] sonersivri commented on #5119
I don't change anything manually.
if you run with ./mvnw it was ok
but if you run the application with command ./xxx.war
which command did you use to run application?

[2017-02-06 07:37] jdubois commented on #5119
OK let's try again...

[2017-02-06 07:59] deepu105 commented on #5119
Btw we add infinite scroll by default even if no entity selects that to
avoid over complexity

Thanks & regards,
Deepu

On 6 Feb 2017 8:37 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-02-06 08:38] pascalgrimaud commented on #5119
Same result when launching with `./ceptecafe-0.0.1-SNAPSHOT.war` -> everything is OK
See https://github.com/pascalgrimaud/jhipster-travis-tester/blob/issue-5119/app/test.sh#L41-L42

Travis logs: https://travis-ci.org/pascalgrimaud/jhipster-travis-tester/

[2017-02-06 09:36] jdubois commented on #5119
Thanks @pascalgrimaud

[2017-02-06 09:36] #5119 closed

[2017-02-06 11:31] jdubois commented on #4955
@PierreBesson I also got it working.... Sorry I forgot you already worked on it!! Anyway, better be 2 people to check this, as it's quite complex in fact.
I will push this on a branch soon, and link it to this ticket.

[2017-02-06 13:00] arnogeismar opened #5122 "yo jhipster:heroku error cannot bind to $port"
@jkutner I believe the heroku deploy is broken $PORT is probably not replaced with the actual port.

- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

yo jhipster:heroku does not deploy my app correctly to heroku and it crashes when it is sta

[2017-02-06 13:04] jdubois commented on #5122
Your app is just taking too long to start. Are you sure you didn't lock your database? Have a look at how Liquibase works, there is a "lock" table that might prevent you to start.

[2017-02-06 13:25] PierreBesson commented on #4955
Did you look at my commit https://github.com/PierreBesson/generator-jhipster/commit/eb2e603edb35ca09d9043038bf4adb12c5062ba2 ? I halted work on it because we were on code freeze and you had enough work to do at the time 😄 ...
Only thing that we have to be careful about is to change the questions. So that people cannot select session auth or they will not be able to scale (or maybe they could throu

[2017-02-06 13:27] arnogeismar commented on #5122
@jdubois I am sure. It is a fresh heroku install. I ran the liquibase: releaseLocks Maven plugin successfully but still the same behavior

[2017-02-06 13:29] arnogeismar commented on #5122
Their are also no entities in my project it is a completely fresh microservice generated app deployed to heroku without a previous dyno

[2017-02-06 13:30] jdubois commented on #4955
@PierreBesson no sorry, I forgot about it.... No I don't want session clustering (JWT is much better for scaling), what I want is Hibernate 2nd level cache clustering.
I have everything working, I'm going to create my branch anytime soon.

[2017-02-06 13:31] jdubois commented on #5122
great, thanks @arnogeismar
then the issue is why it is taking so long to boot. Maybe you could increase the log level?

[2017-02-06 13:33] jdubois commented on #4955
I just pushed my code to https://github.com/jhipster/generator-jhipster/tree/test-monolith-with-registry

[2017-02-06 13:42] PierreBesson commented on #4955
@jdubois I just checked it and what you have done is strictly identical to what I did, so let's go with it.

[2017-02-06 13:48] jdubois commented on #4955
So sorry about that @PierreBesson , we both lost time :-(
I won't release it until JHipster 4.1.0

[2017-02-06 13:56] arnogeismar commented on #5122
When I increase log levels I get this:

17-02-06T13:52:28.792814+00:00 app[web.1]: 2017-02-06 13:52:28.792 DEBUG 4 --- [           main] o.s.web.client.RestTemplate              : GET request for "https://auctioneer-registry.herokuapp.com/config/auctioneerApi/prod/master" resulted in 401 (Unauthorized); invoking error handler

altough my registry is running on that url

https://auctioneer-registry

[2017-02-06 13:58] jdubois commented on #5122
Oh you are using the registry???? Sorry I didn't see this.
Then your app just waiting that the registry is up:

- Check if the registry is running
- Check if you have the correct URL
- Check if you have the correct login/password

It's one of those

[2017-02-06 14:13] arnogeismar commented on #5122
Ok so for some reason it is not sending the correct username and password.
When I do the following with postman:

http://auctioneer-registry.herokuapp.com/config/auctioneerApi/prod/master

basic auth: username: admin
                    password: ****
it works.

I am still wondering though why this is not done by default. the only thing I changed in my yml files is that I changed password: admin t

[2017-02-06 14:17] jdubois commented on #5116
In fact it works if you use the same technologies as JHipster 3.x

- NPM for building
- Angular 1.x (with Gulp and Bower)

And it's broken with the new technologies, as nothing has been done to upgrade, biggest trouble being to use the Yarn commands instead of NPM

[2017-02-06 14:28] jdubois commented on #5122
OK, so there must be a password error somewhere -> I'm closing this as it seems you wrote the wrong password somewhere, but if you have any hints/tips don't hesitate to post them, as I'm pretty sure it's bit more complex than that...

[2017-02-06 14:30] jdubois commented on #5116
In fact that's quite a lot of work to upgrade, so I'm marking a big warning on this sub-generator's documentation, and there will be an upgrade to be done here.

cc @lordlothar99 as you are the original author, do you have time to work on this?

[2017-02-06 18:09] ruddell commented on #5122
You need to set up the password with the registry's password - see the section "Using security with your JHipster Registry on Heroku" in https://jhipster.github.io/heroku/

`heroku config:set JHIPSTER_REGISTRY_URL="http://user:[password]@[appname].herokuapp.com"`

[2017-02-06 19:55] svpace commented on #5086
AFAICT the changes in the template seems simple enough. I will try to submit a PR.

[2017-02-06 20:00] jdubois commented on #5086
Yes, but be careful to test:

- [ ] No cache, no Hazelcast session clustering
- [ ] No cache + Hazelcast session clustering
- [ ] Ehcache, no Hazelcast session clustering
- [ ] Ehcache + Hazelcast session clustering
- [ ] Hazelcast 2nd level cache, no Hazelcast session clustering
- [ ] Hazelcast 2nd level cache + Hazelcast session clustering

That's the annoying part of this code, now you know why

[2017-02-06 21:28] appservice opened #5124 "Applicatin do not build itself when I use querydsl library"
I added to build.gradle file a querydsl library as below:
    compile group: 'com.querydsl', name: 'querydsl-apt', version: '4.1.3'
    compile group: 'com.querydsl', name: 'querydsl-jpa', version: '4.1.3'
and to generate Q files dynamically I added a plugin:
plugins {
    id "com.ewerk.gradle.plugins.querydsl" version "1.0.7"
}

querydsl {
    querydslSourcesDir = "$buildDir/generated-sources/apt

[2017-02-06 21:29] jdubois commented on #5124
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-06 21:29] #5124 closed

[2017-02-06 21:30] jdubois commented on #5124
And QueryDSL is not provided by JHipster, so that's not our responsibility if there's a bug with it

[2017-02-06 22:02] appservice opened #5125 "mapstruct-1.0.0.Final.jar is loading to library"
Despite in build.gradle is loading :
mapstruct-jdk8 and mapstruct-1.0.0. is excluded from  swagger2, this library is in external libraries too.
Intelij show it as a bug because it loaded mapstruct insteed mapsturct-jdk8 (mapstruct don't have a annotation @Repetable whic is introduces in mapstruck-jdk8)
I checked that that is because mapstruct is a dependency in io.github.jhipster.
After excluding

[2017-02-06 22:15] jdubois commented on #5125
Could you please follow the guidelines?

[2017-02-06 22:15] jdubois commented on #5125
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-06 22:15] #5125 closed

[2017-02-07 07:27] pascalgrimaud opened #5128 "Docker 1.13"
Docker 1.13 has been released few weeks ago, so I would like to update:
- [X] the documentation, to use the new Docker API
- [X] the docker-compose files: it was implemented at v1! Since the v1, Docker Network has been improved a lot. So we should remove all `links` or `external_links` for using DNS alias instead
- [X] update compose files at https://github.com/jhipster/jhipster-docker-hub

Then,

[2017-02-07 08:45] PierreBesson commented on #5128
I was going to add this feature request as well.

I think we should remove all links, external-links, container-name and move to docker-compose v3. This will let us deploy on swarm mode from the docker-compose file (At last !).

That would mean we require docker >= 1.13.

[2017-02-07 08:54] PierreBesson commented on #5122
Could this have to do with the jhipster.registry.password property that I have added ? I have not tested Heroku with it.

[2017-02-07 08:55] jdubois commented on #5122
Yes probably... Re-opening just to remember we should check this

[2017-02-07 09:08] jdubois commented on #5128
Yes +1 of course
I would also like to be compatible with http://rancher.com/rancher-os/ (they have their own .yml format, and a load balancer to configure), it shouldn't be very hard. And if you want to play with it, I have my own cluster at Ippon :-)

[2017-02-07 10:02] pascalgrimaud commented on #5128
@PierreBesson : I already finish to remove all links and external_links on my computer and begin to test everything since this morning. I need to remove container name too, as suggested.
As soon as it's ready, I will PR to let you test it

@jdubois : never tested rancher, but let me have a look on this!

[2017-02-07 10:10] arnogeismar commented on #5122
@jdubois I managed to deploy to heroku by setting the registry url to this:

heroku config:set JHIPSTER_REGISTRY_URL="http://admin:mypassword@myapp.herokuapp.com"

In the documentation it states the following

heroku config:set JHIPSTER_REGISTRY_URL="http://user:[password]@[appname].herokuapp.com"

an improvement would be

heroku config:set JHIPSTER_REGISTRY_URL="http://[username]:[password]@[appn

[2017-02-07 10:30] PierreBesson commented on #5128
@pascalgrimaud Amazing ! I will try it on a swarm mode cluster. It really easy to do thanks to docker-machine.
@jdubois, For rancher, if the format differs from docker-compose, this would be a specific sub-generator. I'm looking forward to try it.

[2017-02-07 11:12] alachebbi opened #5129 "Modification to any html file doesn't load Jhipster4.0.1 and Jhipster 4.0.2"
I did many modification on many Html pages even i deleted the contain of home.component.html and write
another code but it always load the previous page .

navigator cache : deactivated .
Jhipster monolothic Application .
Project started with yarn start and ./mvnw
someone can help ???

[2017-02-07 13:26] jdubois commented on #5122
@PierreBesson I confirm the "${jhipster.registry.password}" does not work... It just blew up my app :-(
Anyway I'm not sure this is useful, this is a conf property inside another conf property, it's more complex and I don't see the gain - shouldn't we better reverse it?

[2017-02-07 13:45] gmarziou commented on #5129
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-07 13:45] #5129 closed

[2017-02-07 13:48] gmarziou commented on #5129
It's the 3rd issue you open without following guidelines !!!

[2017-02-07 14:33] jkutner commented on #5122
@arnogeismar make sure you are using `https://` and not `http://` in your `JHIPSTER_REGISTRY_URL` (that's a bug in the docs) https://github.com/jhipster/jhipster.github.io/pull/385

[2017-02-07 14:44] deepu105 commented on #5129
@alachebbi you keep opening issues without following our guideline (you need to read the bug template and fill out all required info) if you have any issue understanding our issue template let us know and we will help but we cannot help you if you keep opening issues without any proper info.

[2017-02-07 14:45] daparthimanu opened #5130 "Build errors in 4.0.2"
##### **Overview of the issue**
Upgraded microservices project to 4.0.2, looks like the constants class is missing the properties.

[code]
##### **Motivation for or Use Case**

##### **Reproduce the error**
Upgrgrade to 4.0.2

##### **Related issues**

##### **Suggest a Fix**
Add properties to the Constants.java class and change the class name to "Elastic**S**earchConfiguration" instead of Elastic

[2017-02-07 14:55] erikkemperman commented on #5045
In case anyone is interested in going to spring-boot 1.5.1: I have almost everything working including some other (relatively minor) upgrades. Where possible I have aligned with the versions in [spring-boot-dependencies](https://github.com/spring-projects/spring-boot/blob/v1.5.1.RELEASE/spring-boot-dependencies/pom.xml) (and omitted explicit version strings in JH in such cases).

https://github.co

[2017-02-07 15:10] jdubois commented on #5130
We have renamed ElasticSearchConfiguration to ElasticsearchConfiguration but that really depend on your versions, and on what you did, so I can only give you this hint. Next time, please follow the guidelines, to have more help!

[2017-02-07 15:10] jdubois commented on #5130
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-07 15:10] #5130 closed

[2017-02-07 16:05] flaviencathala commented on #5072
I made something to load directly the translations without any http request (see https://github.com/jhipster/ng-jhipster/pull/28 and https://github.com/jhipster/generator-jhipster/pull/5131).

[2017-02-07 16:23] PierreBesson commented on #5045
@erikkemperman Please go on with the PR, it would be bad that your work go to waste as we need to migrate to SB1.5 sooner or later.

* About the spring cloud dependency it is probably because we still depends on Brixton rather than the newer Camdem. Maybe we should move to Camdem but we will need to do some testing (or put our trust in Travis 👷 ).
* About Actuator, I think your solution is OK. But

[2017-02-07 16:47] jdubois commented on #5122
@jkutner @PierreBesson and for me you need to run this as the "admin" user, not the "user" user. I'm checking this.

[2017-02-07 16:49] erikkemperman commented on #5045
@PierreBesson
Actually I already switched to Camden, but I guess some of the other spring-cloud stuff is still catching up. Anyway I expect my manual override dependency would be temporary.

I'd like to make a PR but still have 1 failing test that I wasn't able to figure out quickly..

[2017-02-07 16:51] erikkemperman commented on #5045
Oh, also I didn't look at Kafka auto config at all!

[2017-02-07 16:56] jdubois commented on #5122
@jkutner @PierreBesson yes you need to be admin, I'm changing the text and closing this with my commit

[2017-02-07 16:58] PierreBesson commented on #5122
@jdubois For me this property is super important as the registry password would otherwise be passed passed through the configserver and also this separate cleanly the "secret" (the registry password) from the config (the registry URL which can be a list of eureka server separated by commas).

[2017-02-07 16:58] #5122 closed

[2017-02-07 17:02] jdubois commented on #5122
@PierreBesson not sure I understand... The "admin" has access to both Eureka and the Config Server, but with JHipster Registry those are both the same application. Yes we could separate them, but we don't have to. And I tried with "user" and it didn't work, as with Heroku we only set the "admin" password. Are you OK with that, or do you want to change something? I'm a bit lost here

If you want to

[2017-02-07 17:13] jdubois commented on #5045
Lots of work here! @erikkemperman yes please do a PR, so your work is not lost, and so you benefit from Travis - as it's not complete, just add [WIP] (for "work in progress") on the title

[2017-02-07 17:14] gmarziou commented on #5072
Great, I'll have a look tonight.

[2017-02-07 17:28] jdubois commented on #4955
Merged!!

I'm just keeping this open to remind that I need to update the documentation

[2017-02-07 18:26] PierreBesson commented on #4955
@jdubois I think you forgotten a to implement a few important remarks I did:
- [ ] remove the session auth option for registry enabled monolith -> it would prevent from scaling properly
- [ ] select Hazelcast as default cache ->  so people can benefit from cache clustering

[2017-02-07 19:13] PierreBesson commented on #5122
@jdubois Sorry I'm totally OK with the docs change you did for Heroku, I was just commenting on the need to keep the jhipster.registry.password property has I thought you wanted to remove it 😃 .

[2017-02-07 19:18] erikkemperman commented on #5045
All right, I might find some time tomorrow to annotate a bit and maybe make some checkboxes with todos of the work in progress. Thanks for the quick response guys!

[2017-02-07 20:00] deepu105 commented on #5072
There was a reason to do it with http request instead of bundling it with the source. In a real world app the translation files will keep growing and if you have multiple languages you will have a lot of json files. So if we bundle it we are making the initial file huge and takes time to download hence loading them as partials will not hit the initial loading and also not everyone might need all t

[2017-02-07 20:06] deepu105 commented on #5045
If required we can merge your PR to a local branch and work on top to fix
whats failing so that your commit credit stays as such

Thanks & regards,
Deepu

On 7 Feb 2017 8:18 p.m., "Erik Kemperman" <notifications@github.com> wrote:

[2017-02-07 21:18] jdubois commented on #4955
@PierreBesson not exactly :-)

For the session auth:

- In fact the session auth is already removed (have a look, I only push the option for JWT)
- But it shouldn't be removed: I'm preparing this for RangerOS, where you have a load balancer in front, which supports sticky sessions, so in fact it would work with session auth

-> so basically we should document those, and let people decide what's be

[2017-02-07 21:19] jdubois commented on #5122
Well @PierreBesson I finally found my issue with it: it only works if you run with Maven. If you start the application with the "main" class from the IDE, the variable is not always replaced, and that's how you get the error. So there are some tests to do here, to make it fail proof.

[2017-02-07 21:30] pascalgrimaud commented on #5128
Agree with you @PierreBesson !
@jdubois : should we open a new ticket for Rancher ?

[2017-02-07 21:34] jdubois commented on #5128
Yes new ticket for Rancher! You should be able to run it on your laptop, but I have "true" cluster at Ippon, so I will be able to do some much better tests.
Just so you know my cunning plan: I'm preparing the new "onboarding" at Ippon for new hires, and I want them to deploy to RancherOS an application that can scale automatically. Sounds like fun :-)

[2017-02-07 21:35] danielsabinasz opened #5133 "JavaScript entity detail component spec test fails with Cassandra"
##### **Overview of the issue**

When running "yarn webpack:build", it fails with the following error:

[code]

I started out on a 4.0.0 project but then I ran "yo jhipster:upgrade" for upgrading to 4.0.2, and it comes to the point where it says "Successfully regenerated app with jhipster 4.0.2" and later "Upgraded successfully. Please now fix conflicts if any, and commit!". After that, "yo jhipst

[2017-02-07 21:36] pascalgrimaud commented on #5128
ahaha sounds very fun!
It's incredible to work for JHipster. After Angular2, there are still so much ideas to improve the project!

[2017-02-07 21:40] jdubois commented on #5133
Yes that's a bug that was corrected in 4.0.1
For the upgrade sub-generator, unfortunately it doesn't work well with JHipster 4 (have a look at the doc, it's in bold at the top of the page)
So basically you need to do a manual upgrade (it's explained in the release notes), but as you are only going to change one line in a test file, it shouldn't cause any big trouble.
Sorry about this, it's still i

[2017-02-07 21:40] #5133 closed

[2017-02-07 23:00] jdubois opened #5136 "Remove the Spring Boot remote shell"
I know this was added by @cbornet and that he loved it, but it looks like the Spring Boot remote shell (documented at https://jhipster.github.io/profiles/ ) is going to be removed from Spring Boot, see http://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-remote-shell.html
So we should remove it...

[2017-02-07 23:02] caneraydinbey opened #5137 "Jhipster upgrade does not work"
##### **Overview of the issue**

When i try to upgrade jhipster, it stays in current version.

? 'Allo vegan! What would you like to do? Jhipster

Make sure you are in the directory you want to scaffold into.
This generator can also be run with: yo jhipster

        ██  ██    ██  ████████  ███████    ██████  ████████  ████████  ███████
        ██  ██    ██     ██     ██    ██  ██          ██     █

[2017-02-07 23:04] pascalgrimaud opened #5138 "RancherOS support"
Following the comments:
- https://github.com/jhipster/generator-jhipster/issues/5128#issuecomment-277940736
- https://github.com/jhipster/generator-jhipster/issues/5128#issuecomment-278147543
- https://github.com/jhipster/generator-jhipster/issues/4955#issuecomment-278143008

It would be cool to support http://rancher.com/rancher-os/
The documentation: https://docs.rancher.com/rancher/v1.4/en/

@P

[2017-02-07 23:05] jdubois commented on #5137
This lacks some information on what you are doing, so what I guess is your issue:

- with "npm -g" you update JHipster globally. You can try creating a new project, and you will have the new version
- if you run JHipster on a project that was already generated, JHipster will keep the same version (this is for people doing multiple projects, we can't upgrade every thing) -> this would cause your is

[2017-02-07 23:05] #5137 closed

[2017-02-07 23:09] cbornet commented on #5136
Yes, this is sad...

[2017-02-07 23:58] gmarziou commented on #5072
Let's take a small app: 5 languages, 11 entities.

The i18n folder takes 162 KB, once gzipped it takes only 23 KB. I could be wrong but I don't think it makes a big difference over our current bundle size, what should make a big difference is AOT

On the other hand, when you access i18n partial over http, you pay latency on each page first time you hit it and this is quite noticeable on a phone.

[2017-02-08 00:29] Jpmmdf opened #5141 "Bug Translate"
When I submit a request with invalid values ​​the application can not return the error.

Chrome

The email is incorrect.

![captura de tela 2017-02-07 as 22 25 26 2](https://cloud.githubusercontent.com/assets/8302424/22717886/acec51ce-ed84-11e6-9f35-d89129dd328d.png)

[2017-02-08 01:01] jeffrey-anderson commented on #5113
I have the same exact problem.  I upgraded to 4.0.2 but it's still broken.  As indicated in the top comment, I had to remove 'infinite-scroll', 'angular-loading-bar' from ./src/main/webapp/app/app.module.js.  Note for me the problem was both dev and prod profile.  It works fine on the dev box but when I checkin to git and checkout on a different box, the problem happens.  I will reproduce with a b

[2017-02-08 02:31] jeffrey-anderson opened #5142 "App runs fine on dev box but fails to run at all on production box"
**Issue:**
New application created, run and checked into git on server A fails to run when checked out on server B.

On server B (development profile) the the page comes up blank and the following is in the browser console:

Uncaught Error: [$injector:modulerr] Failed to instantiate module anderschultz due to:
Error: [$injector:modulerr] Failed to instantiate module infinite-scroll due to:
Error:

[2017-02-08 05:42] #5142 closed

[2017-02-08 06:09] jdubois commented on #5141
I'm sure you found something interesting, but if you don't bother following the guidelines I won't spend time on this.

[2017-02-08 06:09] jdubois commented on #5141
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-08 06:09] #5141 closed

[2017-02-08 06:55] stevehouel commented on #5138
I already start this new sub generator. I will send PR asap.

@jdubois : I will test it on my own rancher cluster (built locally). I will keep u in touch if you want to test it on Ippon cluster.

[2017-02-08 08:54] lordlothar99 commented on #5116
hi sorry guys for the delay, just went back from holidays ..
yeah sure I'll have a look !

[2017-02-08 08:56] PierreBesson commented on #5138
@stevehouel very cool ! The only thing that is worrying me is that the rancher-compose syntax might have incompatibility with docker-compose but you might not be able to do it by extracting the data from the current docker-compose files but like we did for the docker-compose subgen. Please have a careful look at both the docker-compose and kubernetes subgen and then choose the best approach. Good

[2017-02-08 09:05] stevehouel commented on #5138
Yes I already check that and I will use docker-compose files from his dedicated subgen which looks much better, regarding Rancher compose file it is mainly used to define scale option or healthchecks so not a very big deal.

[2017-02-08 09:10] stevehouel commented on #5138
Subgen will also have a prompt to choose between using rancher loadbalancer or not

[2017-02-08 09:55] gmarziou commented on #5072
if we don't implement this, I will turn it into a module for those who are more concerned about application reactivity than bundle size.

[2017-02-08 10:35] deepu105 commented on #5113
@jeffrey-anderson this is something thats working for long time so without a proper bug report we cannot help

[2017-02-08 11:07] jdubois commented on #5072
Thanks @gmarziou -> I am convinced this is a better solution, than actually downloading JSON files all the times (which is what we currently do with AngularJS 1)

[2017-02-08 11:08] jdubois commented on #5113
Yes I'm pretty sure you have found something, but we need a better report to be able to help

[2017-02-08 11:25] deepu105 commented on #5072
I understand your point but i'm still concerned as we already have quite a lot of js code. Let me do some tests for this

[2017-02-08 15:13] DanielSBFranco opened #5147 "Support for java.util.UUID as @Id Column in SQL Databases"
##### **Overview of the issue**

Feature Request: Allow the use of java.util.UUID as ID with SQL Databases

##### **Motivation for or Use Case**

It may not be as fast as Long, but can be generated safely outside the database, being an interesting option for microservices using separate databases

With Spring Data included in Spring Boot 1.5.1, both Spring Data JPA and Spring Data Elasticsearch su

[2017-02-08 16:14] JulienMrgrd commented on #5074
Hi, error reproduced.
It works well in English, but it appears when we select the Brazilian language.

![wrongid](https://cloud.githubusercontent.com/assets/11616517/22745294/597aeb6c-ee20-11e6-943f-a5dcbd3104ef.png)

I'm working on it.

[2017-02-08 16:20] pascalgrimaud commented on #5074
welcome @JulienMrgrd !

[2017-02-08 16:52] pascalgrimaud commented on #5147
Here some old links about this feature request:
https://github.com/jhipster/generator-jhipster/issues/3060
https://github.com/jhipster/generator-jhipster/issues/1235

I don't know if someone tried to make it as module or not

[2017-02-08 17:12] jdubois commented on #5147
I'm really not convinced by this: lots of work, probably bad performance, all because people don't want to use a correct business key or secure correctly their API (and both are bad reasons for me).

This is also going to add a lot of maintenance cost, as we have those IDs everywhere, so even if you do a PR for this, I'm really not keen on merging it, as the team will then need to maintain it.

So

[2017-02-08 17:40] mfalzetta commented on #5074
Yeaaaahhh!!!!

Thanks for this. Im very worried in to reproduce this error for help
improve jHipster, but im in production upgrade problems and all of my
effort are dedicated in production tasks.

[]'s

*__*

*Marlon Falzetta*

2017-02-08 14:20 GMT-02:00 Pascal Grimaud <notifications@github.com>:

[2017-02-08 19:02] deepu105 commented on #5147
yes its a lot of work compared to benefit

[2017-02-08 19:02] #5147 closed

[2017-02-08 21:23] jmying opened #5151 "Release 4.0.2 run product"
./mvnw -Pprod clean package

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.3:install-node-and-yarn (install node and yarn) on project jeremy: Could not
extract the Yarn archive: Could not extract archive: 'C:\Users\xxx\.m2\repository\com\github\eirslett\yarn\0.19.1\yarn-0.19.1.\yarn-v0.19.1

[2017-02-08 21:33] jdubois commented on #5151
Delete your .m2 repo and download again....

[2017-02-08 21:33] #5151 closed

[2017-02-09 01:40] sinoryan opened #5153 "Install JHipster: yarn global add generator-jhipster"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### *

[2017-02-09 01:42] sinoryan commented on #5153
cmd  exec this command:
D:\Program Files (x86)\Yarn\bin>yarn global add generator-jhipster
yarn global v0.19.1
warning No license field
[1/4] Resolving packages...
warning There appears to be trouble with your network connection. Retrying...
warning There appears to be trouble with your network connection. Retrying...
error An unexpected error occurred: "https://registry.yarnpkg.com/lodash.reduce:

[2017-02-09 03:50] hookszhang opened #5154 "Suggest git ignoring bower_components by default"
##### **Overview of the issue**

Suggest git ignoring bower_components by default, this is a hidden trouble.
##### **Motivation for or Use Case**

Submit bower_components is incomplete
##### **Reproduce the error**

The `.gitignore` file ignored bin, build, etc folder can cause bower_components incomplete, and `bower install` also can't fix that.

Need to delete the incomplete components then run

[2017-02-09 05:48] ruddell commented on #5154
This issue is really bad because you won't notice it anything wrong until someone else checks out the project or until CI tries to build it.  The angular-loading-bar and ngInfiniteScroll issue was fixed in #5143, I fixed modernizr in a new PR.

If you want to stay on v3 or use AngularJS with v4, make sure `.gitignore` contains
 - `/build/` instead of `build/`
 - `/bin/` instead of `bin/`
 - `/node

[2017-02-09 05:56] pascalgrimaud commented on #5147
@DanielSBFranco : I think you can help @amitjindal if he already started this feature as a module (see his https://github.com/jhipster/generator-jhipster/issues/3060#issuecomment-273972118)
If not, you are free to start one

[2017-02-09 06:05] jdubois commented on #5153
I don't understand what you mean?

[2017-02-09 06:05] #5153 closed

[2017-02-09 06:06] jdubois commented on #5154
Yes please look at the old issues, this has been discussed many times already.

[2017-02-09 06:06] #5154 closed

[2017-02-09 06:06] hookszhang commented on #5154
Ok, obviously using ignore base level is better. Thanks @ruddell.

[2017-02-09 10:03] #5136 closed

[2017-02-09 10:03] deepu105 commented on #5136
Dont forget the docs :)

Thanks & Regards,
Deepu

On Thu, Feb 9, 2017 at 11:03 AM, Julien Dubois <notifications@github.com>
wrote:

[2017-02-09 10:04] jdubois commented on #5136
Yes it's also done, look at the commits :-)

[2017-02-09 10:17] Steven-Garcia opened #5157 "html elements erased in production"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

When uploading application to server there are elements erased from the html templates, yet when checking the war file, they are all present in the gulp generated .js files

##### **Motivation

[2017-02-09 10:23] pascalgrimaud commented on #5157
Are you sure about the JHipster version?
You mentionned `3.12.2` in the ticket, but it's `3.0.0` in your .yo-rc.json configuration

[2017-02-09 10:26] jdubois commented on #5157
I'm closing this as it's also a StackOverflow question -> you should not cross post, this makes everyone lose time

[2017-02-09 10:26] #5157 closed

[2017-02-09 10:28] jdubois commented on #5157
Oh, and I'm having a look at the Stackoverflow question, of course :-)

[2017-02-09 13:01] vishwanath159 commented on #1130
i have also same problem but when run ./mvw liquibase:update i got this error
[code]
how can i slove this

[2017-02-09 13:06] deepu105 commented on #5136
Awesome

Thanks & regards,
Deepu

On 9 Feb 2017 11:04 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-02-09 13:20] jdubois commented on #5049
Not sure if that would solve that problem, but indeed this method should be added.
I'm testing this.

[2017-02-09 13:28] #5049 closed

[2017-02-09 14:34] gmarziou commented on #1130
You don't need to run `./mvw liquibase:update` the migrations are executed when your app starts up and by the way please don't post to an old issue and don't crosspost with stackoverflow.

http://stackoverflow.com/questions/42134079/jhipster-add-new-property-in-existing-entity

[2017-02-09 14:51] jdubois commented on #5031
I'm adding a "using-angular" page, next to the "using-angularjs" page, and it will be the good place to document this. The page should be ready today.

[2017-02-09 15:15] jdubois commented on #5063
Please note I'm documenting this in the (not released yet) "using Angular" documentation page. It should still be OK if you transform this to a structural directive, but that's always good to check if you modify this.

[2017-02-09 16:15] jdubois commented on #4703
I've added the Angular 2+ documentation at:

https://jhipster.github.io/using-angular/

Help is welcome, I did the best I could, but I'm not the greatest expert on this part.

[2017-02-09 16:15] jdubois commented on #5063
And the "using Angular" documentation is ready at: https://jhipster.github.io/using-angular/

[2017-02-09 17:06] jdubois commented on #4703
I also added a Bootrstap 4 page at https://jhipster.github.io/customizing-bootstrap-4/ but I suck so much at Sass, that I can't write anything useful!!!

[2017-02-09 17:13] theigl opened #5158 "Swagger UI does not send OAuth2 tokens"
##### **Overview of the issue**

OAuth2 token is not sent by Swagger UI resulting in 401 responses from protected endpoints.

##### **Reproduce the error**

Generate clean new application with the configuration below, run with `./gradlew`, login as admin, open the API page and try to call any protected API endpoint.

The API responds with:

[code]

##### **JHipster Version(s)**

[code]

##### **JH

[2017-02-09 18:00] #5074 closed

[2017-02-09 19:20] mikeyfreake opened #5161 "4.0.2 build fails when using Angular 2.x and Social login"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Performing a build using all the same options except for the Angular framework causes a build failure. With the options shown below Angular 1.x builds successfully while Angular 2.x fails. I r

[2017-02-09 19:49] mikeyfreake commented on #5161
Sorry I didn't find the existing issue! Good template though... we need something like that here at my work!

[2017-02-09 22:15] #5158 closed

[2017-02-09 22:57] ctamisier opened #5163 "LocalTime in entity generator"
I am using LocalTime type in jhipster to submit working hours.
Would it be interesting for you in the entity generator ?

I started here : https://github.com/ctamisier/generator-jhipster/tree/localtime
it's 90% done for angular 1.
I still need to do the java integration tests ,some small fixes in the UI, refactoring.
It's using `uib-timepicker` (already in the project dependencies from angular UI)

[2017-02-09 23:01] jdubois commented on #5163
That could be interesting, but I'm really worried about the Angular 2 part - we already don't have a good solution for ZonedDateTime (see #5006 ) and we can't add new "date" types unless we have something clean here.

[2017-02-10 08:28] cmoine opened #5164 "bootRun fails when home directory contains spaces (Windows only)"
##### **Overview of the issue**

When I run gradlew, I obtain the following error:
[code]

##### **Motivation for or Use Case**

The Web App simply do not execute (blocking ?)

##### **Reproduce the error**

After an analysis, the gradle directory must contains spaces (hence 99% of the time the Home directory) to reproduce

##### **Related issues**

No

##### **Suggest a Fix**

I fixed the build.g

[2017-02-10 08:33] atomfrede commented on #5164
I think it is the same error as in https://github.com/jhipster/generator-jhipster/issues/4960

So not sure what we should do. It is clearly a gradle bug, but If we can make an easy workaround maybe we should to avoid having a lot of these issues. CC @jdubois @deepu105

[2017-02-10 09:16] cmoine commented on #5164
It is exactly this issue, sorry I didn't find it.

Sorry but it is rally a shame not fixing this issue:
1) It depicts a very bad first picture of JHipster for some Windows users. I did a POC with JHipster to answer a proposal, and I didn't have time to check this at the right time.
2) I don't know why the "if (OperatingSystem.current().isWindows())" in the gradle build is made for. THIS is probabl

[2017-02-10 09:17] cbornet commented on #5163
Note that there is no swagger type/format to represent a time and it will have to be mapped to String

[2017-02-10 14:10] romaindequidt opened #5165 "useSass option breaks the webpack build"
##### **Overview of the issue**

useSass option breaks the webpack build with the following error:

##### **Reproduce the error**

$ yo jhipster
with the following .yo-rc.json

##### **JHipster Version(s)**

commit 39d32d3248cfa95760213a32cfb53287458be9a0

##### **JHipster configuration**

.yo-rc.json:

- [X] Checking this box is mandatory (this is just to show you read everything)

[2017-02-10 14:31] #5165 closed

[2017-02-10 14:32] romaindequidt commented on #5165
Actually, I got another error during generation time so I don't know if the problem really come from there. I'll retry en re-open issue if necessary

[2017-02-10 14:57] ramzimaalej opened #5166 "[Enhancement] - React & Jhipster"
I'm currently thinking about using React with Jhipster and I'm wondering how much effort do you think it will take to replace Angular2 with React?

[2017-02-10 15:03] jdubois commented on #5166
You need to recode the whole front end... We just did it for Angular 2, it took the team a full year, and it's not finished yet.

[2017-02-10 15:03] #5166 closed

[2017-02-10 15:05] jdubois commented on #5163
So that's too complex for us at the moment.

[2017-02-10 15:05] #5163 closed

[2017-02-10 15:07] jdubois commented on #5095
Just tested it: the perf impact is on fact quite low (less than 1% on a normal scenario), so I won't do it now.

[2017-02-10 15:07] #5095 closed

[2017-02-10 16:17] gmarziou commented on #5166
For sure, it would be an ambitious project.

It could be easier if you selected only a smaller subset of the many options we currently support for angular. Something like only one way to authenticate, one kind of pagination, no internationalization and selecting a widget library that could provide menu, grid, notifications, form valdiation out of the box.

[2017-02-10 16:24] pascalgrimaud commented on #5166
You can look this projzct: https://github.com/hipster-labs/generator-jhipster-react
Not sure if it's still in dev, but I think you can help if you want react

[2017-02-10 16:54] PierreBesson commented on #4955
@jdubois I think you need to add some code to fix the .yo-rc.json on generation. You know, the usual things we do when we add a new option to add new fields in old .yo-rc.json.

Because when trying the new rancher plugin, it incorrectly generated registry config for my monolith as serviceDiscoveryType=none was not specified and it assumed I wanted registry docker configuration.

[2017-02-10 17:55] atomfrede commented on #5164
Would you mind to do a PR with your fix?

[2017-02-10 18:36] deepu105 commented on #5166
@ramzimaalej I already started https://github.com/hipster-labs/generator-jhipster-react for that but didnt have enough time between ng2 migration and my real work. I'm starting a React project for my real work and hence I intent to finish the jhipster-react generator soon. If you are interested you can join the development. I'll commit a base version within next week so that there is something to

[2017-02-10 18:44] jdubois commented on #5086
Hang on, this is all wrong!! I removed the minor tag for this.
The ehcache configuration should use the properties from https://jhipster.github.io/common-application-properties/ and this code has been suppressed!! I don't know who did this, but that explains why the class is empty.

[2017-02-10 18:50] jdubois commented on #5086
Oh and there's also the `@EnableCaching` annotation on this class, but it shouldn't be there by default!
What happened here???

[2017-02-10 18:50] Julienng commented on #5166
Do you plan to use `redux` with `react` ?

[2017-02-10 18:59] deepu105 commented on #5166
Yes

[2017-02-10 19:00] deepu105 commented on #5166
here are the dependencies im working on
[code]

[2017-02-10 19:05] surendrand opened #5167 "using angularSuffix * with mySuffix does not show entity menu"
##### **Overview of the issue**

create entities as per example  jhipster-jdl.jh.
Angular Component created with mySuffix (CountryMySuffixComponent)
But module.ts import does not include MySuffix (CountryComponent)

##### **Motivation for or Use Case**
Create a Angular 2 project as per JHipster Quick Start

##### **Reproduce the error**
Create a Angular 2 project as per JHipster Quick Start
yarn s

[2017-02-10 19:08] #5167 closed

[2017-02-10 21:31] ramzimaalej commented on #5166
@deepu105 which scenario are you focusing on first? I will try to take a look on your branch.

[2017-02-10 23:03] jdubois commented on #5086
OK I have refactored everything.
As it's quite tricky, I'm a bit afraid to do this, but this needed to be done urgently, as our documentation was false.

[2017-02-10 23:03] #5086 closed

[2017-02-10 23:17] jdubois commented on #4955
Thanks @PierreBesson but I thought I did it -> how exactly did you get that error?

[2017-02-10 23:27] jdubois commented on #4703
So Bootstrap 4 isn't very good, but I think I updated everything now, that's why I'm closing this

[2017-02-10 23:27] #4703 closed

[2017-02-11 06:38] beaussart opened #5169 "yarn lint dosent call lint at all"
##### **Overview of the issue**

When using the command `yarn lint` it dosen't run tslint. However, if I run it using `node_modules/tslint/bin/tslint src/main/webapp/app/**/*.ts` works

Same for lint:fix
##### **Reproduce the error**

Should be on every fresh jhipster 4 project

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder

[2017-02-11 10:18] gmarziou commented on #5169
Have you tried with run:  `yarn run lint` ?

[2017-02-11 15:11] deepu105 commented on #5169
You need to do as Gmarzio said you cant do yarn lint it needs to be yarn run lint. Let us know after trying that

[2017-02-11 15:25] jdubois commented on #5169
I tried it very quickly and indeed the lint didn't work

Le 11 févr. 2017 4:11 PM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2017-02-11 16:24] mraible opened #5171 "Commons VFS stack trace when running Mongobee in JAR"
##### **Overview of the issue**

This doesn't seem to stop the application from working, but it does look like something is wrong. There's a stack trace on startup when using MonboDB.

[code]

##### **Motivation for or Use Case**

Startup should be smooth w/o any stack traces.

##### **Reproduce the error**

1. Create an app with MongoDB.
2. Package the app with the prod profile. For example, `mvn

[2017-02-11 16:37] gmarziou commented on #5169
`yarn run lint` works for me on Windows, `yarn lint` does not.

[code]

[2017-02-11 16:38] mraible commented on #5171
Maybe this is caused by the following line in `DatabaseConfiguration.java`?

[code]

This package doesn't exist in my project.

[2017-02-11 17:03] jdubois commented on #5169
Yes I have the same result, but if I write something wrong I have no warning.

[2017-02-11 17:09] pascalgrimaud commented on #5169
strange, I have both working:

[code]

[code]

[code]

[2017-02-11 17:17] jdubois commented on #5169
The issue for me is that when you write something wrong, there is no warning. Try using a "test" instead of 'test'.

[2017-02-11 17:25] jdubois commented on #5171
You should have the package, that's how MongoBee populates the database.
Then, for a microservice that shouldn't be a big issue as the MongoDB collections will be created on the fly.

[2017-02-11 17:33] pascalgrimaud commented on #5169
same as you, @jdubois

The warning is displayed during `yarn run webpack:build` but not with `yarn lint` :
[code]

[2017-02-11 17:34] jdubois commented on #5169
Yes exactly :-)
Now I understand why we had so many lint issues!

[2017-02-11 17:35] saturnism opened #5172 "Kubernetes generator generates YAML file w/ `imagePullPolicy: IfNotPresent`"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Kubernetes generator currently generates YAML file with `imagePullPolicy: IfNotPresent`. This may be great for the first deployment w/o having to pull from a remote registry. However, if you r

[2017-02-11 17:40] saturnism opened #5173 "Kubernetes descriptors to use dynamic volume provisioning"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

Currently, databases are mounting volumes from EmptyDir. This is convenient to get started with, but data will not survive restarts. Production deployment needs to be reconfigured.

##### **Mo

[2017-02-11 17:43] saturnism opened #5174 "Kubernetes generator should expose Monolith and API gateway on port 80, or use Ingress"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**

When the service is created for the API gateway, it's exposed via port 8080.

##### **Motivation for or Use Case**
Usually users expect the web frontend to be on port 80.

##### **Reproduce th

[2017-02-11 18:28] gmarziou commented on #5169
On Windows, it works as expetced:

[code]

[2017-02-11 19:24] ruddell commented on #5169
I think the glob in the path (`src/main/webapp/app/**/*.ts`) expands differently based on your CLI.

It looks like the shared folder isn't being linted for me.  If I add `"` instead of `'` in a component, I don't see any issues until I add quotes around the lint path.  After adding quotes, I see lint issues from more files (html?) in deeper folders - notice the time difference too:

Without quotes

[2017-02-12 09:36] pascalgrimaud commented on #5169
@ruddell : your suggestion works for me. I modify my `package.json` by adding simple quote with:

[code]

I'm on Linux Ubuntu 16.10. Is this solution working for Mac and Windows?

[2017-02-12 09:42] gmarziou commented on #5169
It works for Windows

[2017-02-12 11:20] deepu105 commented on #5169
@ruddell plz PR your fix

[2017-02-12 11:47] iclavijos opened #5175 "Duplicate field in entity ending with an 's' and relation with itself"
##### **Overview of the issue**

When 'yarn start' is executed and the TypeScript files are compiled, I'm getting a compilation error due to a duplicate filed in the generated entity-dialog.component.ts

The entity name is Chassis and it has a relation with itself and the problem has been detected both when creating the entity with the command line tool and when importing a .jdl file.

When the Ty

[2017-02-12 16:09] terribleherbst opened #5177 "Yarn not found in generated Jenkins pipeline file"
##### **Overview of the issue**
I have used the latest JHipster 4 generator to create a simple (monolithic) app, selecting angular 2 and gradle as build system. Although JHipster is really awesome I get the following error when trying to run the generated build pipeline:
[code]

##### **Motivation for or Use Case**
I am running jenkins 2.32, if a Jenkinsfile is generated it should work out of the

[2017-02-12 16:12] deepu105 commented on #5177
I'm not sure of that. shouldnt you be installing yarn in your jenkins environment?
I'll leave this open for others to comment cc @gmarziou @pascalgrimaud @cbornet

[2017-02-12 16:58] kaidohallik commented on #5177
It's introduced with my PR #5071
I reproduced it also with gradle in machine where yarn is not installed and node/npm/yarn are installed locally with -PnodeInstall flag: `gradlew yarn_install -PnodeInstall`
Fix is to use constant `npm` instead of `<%= clientPackageManager %>` in postInstall in this line https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/

[2017-02-12 17:29] cmoine commented on #5164
Sure, this modification should not be very difficult.

----- Original Message -----
From: "Frederik Hahne" <notifications@github.com>
To: "jhipster/generator-jhipster" <generator-jhipster@noreply.github.com>
Cc: "Christophe Moine" <christophe.moine@free.fr>, "Author" <author@noreply.github.com>
Sent: Friday, 10 February, 2017 6:55:38 PM
Subject: Re: [jhipster/generator-jhipster] bootRun fails when

[2017-02-12 18:00] gmarziou opened #5179 "Cleanup console.log in ng2 code"
##### **Overview of the issue**

We have 5 locations in ng2 code that use console.log mainly for debugging modal windows as it seems.
I think we should remove them or maybe log only when DEBUG is true.
Or maybe there's an issue with these modals?

[2017-02-12 18:02] deepu105 commented on #5179
Yes we can remove it, it was added to avoid having empty method body

[2017-02-12 18:41] terribleherbst commented on #5177
I guess it should work without a installed yarn in the jenkins environment (thats the purpose of the gradle-node-plugin).
For reproduction I created a new jenkins server based on docker image. I just push the image, jenkins does a git checkout and starts from scratch on every build. Upgrading to gradle-node-plugin 1.1.0 did not help.
@kaidohallik Do you think there is a workaround without patching

[2017-02-12 18:50] kaidohallik commented on #5177
@terribleherbst Could you try add to build.gradle after line https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_build.gradle#L449 one new line:
* if install phase is executed with: `gradlew npmInstall -PnodeInstall` then:
[code]
After that yarn was found in my test machine.

[2017-02-12 19:39] pascalgrimaud commented on #5177
Yes, it should work without installing yarn globally, because it is installed locally:
- maven: [frontend-maven-plugin](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_pom.xml#L1148-L1150)
- gradle: [gradle-node-plugin](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_build.gradle#L19)

@terribleherbst : can you test @k

[2017-02-12 19:46] kaidohallik commented on #5177
With my solution yarn is found, but in the middle of the webpack build I'm getting errors like:
[code]
both in Windows and in Ubuntu.

Seems that `yarn run webpack:build` is unstable if running with locally installed yarn.
Doing some more tests...

[2017-02-12 19:52] #5169 closed

[2017-02-12 20:29] ruddell commented on #5177
@kaidohallik I get that every time I try to build for prod on my Mac.  I fix it by adding the following commands to my `postinstall` step:
[code]
Maybe this should be part of the generated code?

[2017-02-12 22:41] terribleherbst commented on #5177
The solution of @kaidohallik seems to work, it installs yarn but I get problems after that. Webpack seems to be a little bit unstable.
Now my frontend tests fail with:
[code]
I guess this is unrelated and an angular 2 should not create a gulp test in the jenkins build file, but I'm not sure if I should open a separate bug.

[2017-02-12 22:53] pascalgrimaud commented on #5177
@terribleherbst : in fact, I thought that the Jenkinsfile was updated for Angular2, but it's not!
Maybe keep this ticket and rename to something: Jenkinsfile pipeline for NG2 ?

[2017-02-13 04:00] kaidohallik commented on #5177
@ruddell Your solution worked for me if I built in clean environment. If some previous errors occurred and breaked environment then this solution also failed. Seems that there is some yarn and/or webpack unstabilty which can break builds so hard that after changing source code and rerun error stays. Needs new build to overcome.
I tested in:
* Jenkins 2.45
* Docker 1.12.6
* Centos 7.3

@terribleher

[2017-02-13 05:45] pkmyl opened #5182 "Created Entity not displayed under entity menu in Angular 2"
Overview of the issue

Unable to view the created entities under entity menu. But the generated codes are available in the respected area. There is no error while creating the entity as well the application startup.

[2017-02-13 06:10] jdubois commented on #5182
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-13 06:10] #5182 closed

[2017-02-13 07:45] #5179 closed

[2017-02-13 08:59] jdubois commented on #5175
Yes that's because `Chassis` is the same in the plural form... I need to check what other people do in those cases (like what they do in RoR).

[2017-02-13 09:35] jdubois commented on #4955
Sorry @PierreBesson I can't reproduce... Normally I tested all configurations, then that's quite hard to do as there are so many of them, I might have missed something.

[2017-02-13 09:35] #4955 closed

[2017-02-13 11:20] jdubois opened #5185 "Update the generated travis.yml to support Angular 2"
With JHipster 4, we still generate the same `travis.yml` as with JHipster 3.

We should:

- Support Angular 2
- Support Webpack
- Update some dependencies

[2017-02-13 11:43] serkaneren78 opened #5186 "Angular 2 Internet Explorer problem"
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**
Angular 2 monolithic application home page is not loading , getting error for IE 10-11.. There is no problem in chrome, edge and firefox..

IE 10
------
SCRIPT5009: 'Map' is undefined
vendor.dl

[2017-02-13 13:57] pascalgrimaud commented on #5185
I take the ticket and will work on it

[2017-02-13 13:59] delverdev opened #5187 "Wrong questions amount"
##### **Overview of the issue**

When generating an application, the generator shows 15 questions, but I only passed 14.

##### **Reproduce the error**

![capture](https://cloud.githubusercontent.com/assets/7104443/22886104/1509a3ae-f205-11e6-9483-976ffbbb86b6.PNG)

##### **JHipster Version(s)**

4.0.3 (didn't check older versions)

##### **Browsers and Operating System**

Microsoft Windows [Versi

[2017-02-13 14:03] pascalgrimaud commented on #5187
We know this minor and esthetic issue, as the generator can't know in advance the global number of questions.
I tried to fix it but it was a hack: https://github.com/jhipster/generator-jhipster/pull/3632 so we didn't merge it.

So don't hesitate if you have a proper solution :)

[2017-02-13 14:05] jdubois commented on #5185
Hang on, I'm also working on it :-)

[2017-02-13 14:05] jdubois commented on #5185
I'll push this to a branch so you can check it

[2017-02-13 14:11] pascalgrimaud commented on #5185
oh ok, but when I say "I will work", it was tonight or tomorrow morning

[2017-02-13 14:19] delverdev commented on #5187
I don't know the full tree of questions, but seems like their amount depends on the `type` of application. So the amount could depend on the type (the amount may be hidden in the first question). Otherwise subparagraphs (like in language question). If the amount depends on many factors, then I would remove it at all, because it may confuse ("14/15? something broke?")

[2017-02-13 14:48] jdubois commented on #5187
Indeed the number of questions depends on what you select, so they vary... So we can't have an exact number at the beginning. But that number is supposed to change: the total number of question should adapt, like you have (1/15) at the beginning but you could finish with (10/10) at the end.
Maybe we could put some kind of progress bar instead, but that's probably going to cause more issues than so

[2017-02-13 14:49] jdubois opened #5188 "Document & improve the CI-CD sub-generator"
The new ci-cd sub-generator from @cbornet is great!!

We need 2 things to make it awesome:

- Support Angular 2 (I'll have a look)
- Document it on the website (if it's not documented it doesn't exist)

[2017-02-13 14:50] jdubois commented on #5188
And we also need to move our Travis configuration there (it's currently generated in the root folder for every project)

[2017-02-13 14:59] delverdev commented on #5187
yes, but without re-rendering, `1/15` will not become `1/10`.
As idea: print something like "questions remained: N".

[2017-02-13 15:20] jdubois commented on #5188
- not sure the gulp & webpack build run OK, I see lots of errors & strange things in the Gitlab CI file
- the Heroku key is stored directly -> that's not good, if you push your code on a public repo everybody sees your key

[2017-02-13 16:55] jmying opened #5189 "geo-point with jhipster"
How use Elasticsearch  seach geo-point with jhipster project ?

[2017-02-13 17:19] jdubois commented on #5189
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-02-13 17:19] #5189 closed

[2017-02-13 17:20] jdubois commented on #5185
In fact I'm going to push it directly, it's already better than the current one -> I'll link my commit to this ticket, @pascalgrimaud if you can have a look, I'll let you close the ticket if that's fine for you

[2017-02-13 17:21] jdubois commented on #5185
Commit is at https://github.com/jhipster/generator-jhipster/commit/f7d7de8ac546835a47920130c5512eb99f987ced

[2017-02-13 17:51] pascalgrimaud commented on #5185
Looking on my phone, it seems ok, excepting the install of yo (no need).
I ll try to test it tonight or tomorrow morning and then close this ticket

[2017-02-13 17:59] deepu105 commented on #5187
I tried multiple times to get it working but it was all a hack and was very
difficult to maintain so ill rather leave it as it is or remove the total
and print only current number as getting the correct total is impossible as
we would never know what you are going to select so it will be wrong for
one or the other case

Thanks & regards,
Deepu

On 13 Feb 2017 3:59 p.m., "Delver Developer" <notific

[2017-02-13 19:01] delverdev opened #5190 "Unable to deploy a simple microservice to Heroku (90sec timeout)"
##### **Overview of the issue**

I deployed JHipster Registry to Heroku by clicking the purple button from JHipster's website. Then I created a gateway application (I tried microservice application too) and tried to deploy it. After deplot, app starts with the following logs:
[code]
Then it tries to restart the app one more time and doesn't respond.
Full stack trace of `yo jhipster:heroku`:

[code

[2017-02-13 19:43] xetys opened #5191 "unable to import-jdl for gateways with no sql"
##### **Overview of the issue**

Since 4.0.3 it's able to generate UAA based gateways without database. It's still needed to add microservice entities using JDL. But this fails, as import-jdl assumes a app must have a database.

The error message is

[code]

##### **Motivation for or Use Case**

Need to generate frontend client for entities

##### **Reproduce the error**

Try to import a JDL file

[2017-02-13 19:57] ruddell commented on #5191
The problem is that the gateway validates JDL entities against its own database, rather than the microservice database.  https://github.com/jhipster/jhipster-core/issues/60

Maybe we shouldn't validate microservice entities when generating for a gateway?  There's no easy way to get the microservice database type

[2017-02-13 20:03] xetys commented on #5191
this is what I suggest....all "microservice" marked entities should not be validated against databases

[2017-02-13 20:30] MathieuAA commented on #5191
If the solution is just to simply turn the validation off, then it's easy.

[2017-02-13 20:31] MathieuAA commented on #5191
I'm opening a ticket in JCore.

[2017-02-13 20:33] MathieuAA commented on #5191
@xetys @ruddell @jdubois Or... I may have a better approach than just turning things off and on.
Since the very beginning, the dumped JSON is a place to store data. Why not store the microservice DB in this JSON?

[2017-02-13 20:39] mjanzs opened #5192 "Created Entity not displayed under entity menu in Angular 2"
##### **Overview of the issue**

Unable to view the created entities under entity menu. But the generated codes are available in the respected area. There is no error while creating the entity as well the application startup.

##### **Motivation for or Use Case**

Created entities aren't available under Entities menu

##### **Reproduce the error**

1. generate single page app
2. generate any entit

[2017-02-13 20:41] jdubois commented on #5190
There's a timeout because the app is waiting to connect to the registry: I don't know how you configured your registry, but the app cannot access it.
This is configured in your `bootstrap-prod.yml` and your `application-prod.yml` files -> don't send them as your password is there.
You could also put your Eureka logs (in `logback-spring.xml`) in debug mode, it will tell you what's failing.

[2017-02-13 20:41] #5190 closed

[2017-02-13 20:42] jdubois commented on #5187
Yes we have more than 30 opened issues at the moment, this is very minor, this why I'm closing this.

[2017-02-13 20:42] #5187 closed

[2017-02-13 20:44] jdubois commented on #5192
I'm closing this as it's pretty clear you didn't run `npm start`... Have a look at the documentation

[2017-02-13 20:44] #5192 closed

[2017-02-13 20:54] mraible commented on #5062
I think we can do better than improve the docs. With AngularJS, the entity generator runs `gulp` after it generates the entities, both for `jhipster:entity`[1] and `jhipster:import-jdl`[2].

We've seen a LOT of issues related to this since we released 4.x. Why can't the entity/import-jdl generators just run `webpack:build` after generation like we do with AngularJS?

1. https://github.com/jhipster

[2017-02-13 21:32] jdubois commented on #5062
It could, but the issue is that it's supposed to be already running, as you should have `yarn start` (or `npm start`) running if you follow the doc. And we can't start it twice, or we would probably have some wrong result.

[2017-02-13 21:33] jdubois commented on #5062
The best we could do is add even more documentation.
Then I don't understand what people do, if `yarn start` doesn't work, then nothing works. You can't work with Angular 2 without it.

[2017-02-13 21:59] ruddell commented on #5191
I like @xetys's solution - to not validate entities assigned to a microservice when generating in a gateway

@MathieuAA Do you mean adding a field in the JDL for the databaseType of each entity?

[2017-02-13 22:11] mraible commented on #5062
Correct, but we can build `npm run webpack:build:dev` which is what we did with AngularJS and `gulp`.

With JHipster 3.x, if you generated entities, the UI was rebuilt for you after generation. With JHipster 4.x, it is not. Yes, if you're running 'yarn start', it will be - but in 3.x this was not a requirement. We've changed the behavior and made it difficult for people familiar with the library t

[2017-02-13 22:17] jdubois commented on #5062
For JHipster 3 we didn't have to rebuild anything, as it was all JavaScript. With TypeScript it's different, you need to compile the application to have something running.
I don't have a better solution than adding documentation - and anyway you will need to get used to `yarn start` if you want to develop. But if you find something better, yes please do a PR.

[2017-02-13 22:23] mraible commented on #5062
We didn't have to build anything, but we did have to inject the new JS files into `index.html`, which is _similar_ to building everything.

[2017-02-13 22:24] jdubois commented on #5062
Oh yes you are right. But we didn't have another server running at the same time - maybe you could try to run it, I have no idea if that would fail or not.

[2017-02-13 22:25] mraible commented on #5062
OK, I'll create a PR and do some tests. Reopening this issue so I can target it with the PR.

[2017-02-13 22:34] jdubois commented on #5188
For Travis, I managed to have it deploy to Heroku automatically. You need to have the `HEROKU_API_KEY` set up in the env variables, and then the end of the conf in `.travis.yml` is:

[code]

[2017-02-13 22:48] gmarziou commented on #5063
My first attempt is not successful so far. It seems that you can have only one structural directive per element. In navbar, I tried:

[code]

and got this error:

So a workaorund could be to split the 2 directives on 2 elements.

[code]

[2017-02-13 22:54] jdubois commented on #5063
Yes you could split it in 2. It's not perfect, but still better than hiding the elements.

[2017-02-14 01:27] andywang2014 opened #5195 "does Jhipster support Mybatis?"
does Jhipster support Mybatis?On the main page,I got it just support Hibernate.

[2017-02-14 02:47] guayeguaye opened #5196 "build error:The system cannot find the path specified."
- Please follow the issue template below for bug reports and feature requests.
- Tickets opened without any of these informations will be **closed** without any explanation.

##### **Overview of the issue**
Running `yo jhipster`  but build failed
The message is
`WARNING in ./src/main/webapp/content/images/hipster2x.png
DEPRECATED. Configure gifsicle's interlaced option in it's own options. (gifsic

[2017-02-14 03:04] anjia0532 opened #5197 "[discuss]why databases is not for containers"
[Mountain West Ruby 2016 - Surviving the Framework Hype Cycle by Brandon Hays test](https://www.youtube.com/watch?v=9zc4DSTRGeM#7m40s)

[why databases is not for containers](https://myopsblog.wordpress.com/2017/02/06/why-databases-is-not-for-containers/)

[2017-02-14 04:19] guayeguaye commented on #5196
![image](https://cloud.githubusercontent.com/assets/19300958/22915026/44606052-f2af-11e6-9968-69a2a3cf6e5a.png)

[2017-02-14 05:07] atomfrede commented on #5195
We only support hibernate.

[2017-02-14 05:14] pascalgrimaud commented on #5195
You can read the old discussion between our 2 techleads: https://github.com/jhipster/generator-jhipster/issues/1252

You can try to do it as a module: https://jhipster.github.io/modules/creating-a-module/

[2017-02-14 05:14] #5195 closed

[2017-02-14 05:25] pascalgrimaud commented on #5197
Sorry but I dont understand this issue.

Do you mean it is bad to use database with Docker? I dont care about all these points described in your article when I start development.
JHipster provided all Docker Compose files to start very very quickly a database. Feel free to use it or not.

Closing this ticket because I dont think there is a need to discuss about that.

[2017-02-14 05:25] #5197 closed

[2017-02-14 05:54] jdubois commented on #5196
Yes I'm seeing those `DEPRECATED. Configure gifsicle's interlaced option in it's own options` and they are new to me. There might be an issue with this on Windows?

[2017-02-14 06:01] andywang2014 commented on #5195
if i want to use jhipster with mybatis,how should i do?

[2017-02-14 06:01] MathieuAA commented on #5191
@ruddell no, only the JSON

[2017-02-14 06:02] jdubois commented on #5197
I also don't understand the point?

If the idea is to say that we shouldn't use a database in a container:

- Our main use case is for development and testing, and here containers are a HUGE gain
- For prod you are free to point to any database you want

On a personal point of you, and with JHipster we don't force you at all, I would still recommend using a container for running your database in p

[2017-02-14 06:06] jdubois commented on #5195
You remove the DAO layer, remove the Hibernate configuration, and code everything by hand.
You might better not use JHipster at all in your case, you'll have tons of issues (we also rely on lazy loading, etc...).

[2017-02-14 06:08] #5062 closed

[2017-02-14 06:11] jdubois commented on #5196
There seems to be a solution here:

http://stackoverflow.com/questions/42206190/webpack-2-warning-in-png-svg-deprecated-configure-optipngs-optimizatio

-> let's do this, and close this ticket, but @guayeguaye I can't test this on Windows so I'm not 100% sure it's your bug, so don't hesitate to comment & add more info if you still have the bug after that

[2017-02-14 06:30] jdubois commented on #5196
@flaviencathala as you're our Webpack guru, can you have a look at this today?

[2017-02-14 06:51] andywang2014 commented on #5195
@jdubois so sad to hear that

[2017-02-14 07:07] pascalgrimaud commented on #5185
It works perfectly!

[2017-02-14 07:07] #5185 closed

[2017-02-14 07:17] guayeguaye commented on #5196
when i install the version 4.0.2 or 4.0.1 ,the warning is missing,but the errors still exist

`ERROR in ./src/main/webapp/content/images/hipster2x.png
Module build failed: Error: The system cannot find the path specified.

at notFoundError (D:\demo\node_modules\execa\node_modules\cross-spawn\lib\en
oent.js:11:11)
at verifyENOENT (D:\demo\node_modules\execa\node_modules\cross-spawn\lib\eno
ent.js:4

[2017-02-14 07:20] guayeguaye commented on #5196
I delete the line `image-webpack-loader?bypassOnDebug&optimizationLevel=7&interlaced=false` in `webpack.common.js`

It's OK

[2017-02-14 07:45] pascalgrimaud commented on #5172
Thanks @saturnism for reviewing our code!

For this ticket, I'm working on it:
- adding a new question to ask the tag
- remove imagePullPolicy

[2017-02-14 08:02] deepu105 commented on #5195
Wow I asked that 2 years ago :) a lot have changed since. For the said
project in the old ticket I took the plunge and went with JPA + hibernate
and thanks to simplicity of spring data it was easier for my team and I
successfully implemented the project for advanced queries I used queryDSL
and I never missed myBatis. So my suggestion would be below:

If you are starting a new project its safer to

[2017-02-14 08:06] deepu105 commented on #5196
The warnings are due to library updates. Nothing serious yet but should be
fixed as its deprecated.

The warning doesn't seem related to the issue reported so it would be nice
if someone can reproduce this in windows.

Thanks & regards,
Deepu

On 14 Feb 2017 8:20 a.m., "guayeguaye" <notifications@github.com> wrote:

[2017-02-14 08:09] andywang2014 commented on #5195
thank you very much.@deepu105

[2017-02-14 09:08] ruddell commented on #5191
@MathieuAA How would you get the database type from the JDL?

I want be able to import the following JDL to a gateway, database validation shouldn't matter because it's mapped to a microservice.  It works when I run `yo jhipster:entity Game`, but I don't want to have to run that for every entity.
[code]
A workaround is to temporarily change prodDatabaseType in `.yo-rc.json` to mysql (or your choic

[2017-02-14 09:19] jdubois commented on #5175
I have looked at #5199 from @flaviencathala

- This will indeed solve your "plural" error in the TypeScript code -> that's your real bug from JHipster (and our Angular 2 code is still in Beta, so this can happen for complex stuff like this one)
- You have another issue on the server-side, but this isn't a JHipster bug in:

    "relationships": [
        {
            "relationshipName": "evolution

[2017-02-14 09:25] jdubois commented on #5196
@deepu105 the image loader was downgraded by @flaviencathala as it was causing the warnings

Then I have no idea if that fixes anything on Windows, but I guess there is a link, as we didn't have that error before

[2017-02-14 09:26] deepu105 commented on #5191
Another option would be to specify the relative path for the microservice from gateway and then go in and read the db type form its yo-rc file something like
`microservice Game with sport(../sportService)`

[2017-02-14 09:28] #5175 closed

[2017-02-14 09:30] deepu105 commented on #5196
I dont like downgrading to fix deprecation as we cant always stay with an old lib. here is the actual fix described in the libs issue tracker https://github.com/tcoopman/image-webpack-loader/issues/68

[2017-02-14 10:04] flaviencathala commented on #5196
I made a PR with a clean fix for this.

[2017-02-14 10:15] MathieuAA commented on #5191
Too ugly =/ we know where the microservice is, and its name. Wé can fetch the info

Le 14 février 2017 10:26:11 GMT+01:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-02-14 10:56] MathieuAA commented on #5191
That's what I'm doing for David's ticket, so it's easy for me

[2017-02-14 12:00] iclavijos commented on #5175
Thanks, guys! :+1:

Julien, I know that the other part of the relationship is missing, but I just did a quick "prototype" to show you the bug rather than including the whole output from my project :)

[2017-02-14 12:06] jdubois commented on #5175
Ah that's perfect, thanks for the comment @iclavijos !!!

[2017-02-14 12:42] delverdev commented on #5190
I created the registry with [this URL](https://dashboard.heroku.com/new?&template=https%3A%2F%2Fgithub.com%2Fjhipster%2Fjhipster-registry), so I don't know how could I misconfigured it. Maybe because I deployed the gateway right after it was created (without editing at all). Is generator able to deploy a gateway "out of the box"?
P.S. as mentioned [here](https://jhipster.github.io/microservices-ar

[2017-02-14 12:45] jdubois commented on #5190
Yes with that URL your registry should work, are you able to access it and log in? If yes, then you need to have the same URL, login and password in your JHipster configuration

[2017-02-14 13:14] svpace opened #5202 "Backport Webpack+Yarn build system to Angular 1"
##### **Overview of the issue**

Backport Webpack+Yarn build system to Angular 1

##### **Motivation for or Use Case**

This would allow users of the Angular 1 client to take advantage of the new build tools available for Angular 2 and facilitate the migration path.

##### **Reproduce the error**

Feature request

##### **Related issues**

##### **Suggest a Fix**

Although I understand that new op

[2017-02-14 13:18] jdubois commented on #5202
No, really, that's too much work for something that will disappear in the future. Even if somebody wanted to code this, I wouldn't take the time to test everything, document again... I don't think you realize the amount of work here.

[2017-02-14 13:18] #5202 closed

[2017-02-14 13:49] jdubois commented on #5116
@lordlothar99 will you have time to work on this in the next days? I'm expecting a 4.0.4 release in one week, and I'd like to have this fixed, so if you don't have time I'll have a look

[2017-02-14 15:41] JulienMrgrd commented on #5186
Errors reproduced, on IE10 & 11 (on VirtualBox)
It concerns the vendor.dll.js file.

_On IE10 :_
![ie10](https://cloud.githubusercontent.com/assets/11616517/22935600/54ef1016-f2d3-11e6-97ab-41564ae768b8.png)
![ie10file](https://cloud.githubusercontent.com/assets/11616517/22935601/55086fac-f2d3-11e6-99dd-909c8b945e0a.png)

_On IE11 :_
![ie11](https://cloud.githubusercontent.com/assets/11616517/2293

[2017-02-14 15:49] flaviencathala commented on #5052
@nicoraynaud About the user management view issue, the pagination works actually well.
The reason is that in the first page there is an "anonymous" user, and it was hidden, so only one user was printed.
I will make a fix to remove this filter for anonymous user, and we will change the back code so the client don't receive at all this anonymous user.
Thanks for having pointed out this issue.

[2017-02-14 15:49] gmarziou commented on #5186
I would rather think it's a problem of missing polyfills.

[2017-02-14 15:59] gmarziou commented on #5052
If you do it on server side, don't forget to change also the angular 1 code.

[2017-02-14 16:01] flaviencathala commented on #5186
I agree, as Angular is supposed to support IE 10 and 11, the issue comes very probably from the way we build the app.

[2017-02-14 16:10] flaviencathala commented on #5052
@gmarziou Thanks, I just removed it for ng1 in my PR.

[2017-02-14 16:42] deepu105 commented on #5191
@MathieuAA we actually dont knwo where the microservice is all the time. You are assuming that people will have all the microservice in the same parent folder but in reality we dont enforce that or even the folder name for that case so we cannot always get the path from the microservice name alone.

[2017-02-14 16:48] deepu105 commented on #5186
I wouldnt worry about IE10 as MS stopped support for it officially lets
target only IE11

Thanks & Regards,
Deepu

On Tue, Feb 14, 2017 at 5:02 PM, Flavien Cathala <notifications@github.com>
wrote:

[2017-02-14 17:03] MathieuAA commented on #5191
Ah that's too bad =/

Le 14 février 2017 17:42:39 GMT+01:00, Deepu K Sasidharan <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-02-14 17:43] pascalgrimaud commented on #5173
@PierreBesson : as you already use volumes for registry and consul, could you have a look to this ticket plz ?

[2017-02-14 18:46] ruddell commented on #5190
Did you follow the referenced full Heroku documentation? https://jhipster.github.io/heroku/  The Heroku docs at the bottom of the microservice page are a little old (fixed https://github.com/jhipster/jhipster.github.io/pull/388).

I created a registry with the auto-deploy URL (https://admin:admin@registry-2.herokuapp.com/) and deployed a gateway (https://herokugway.herokuapp.com/#/).  You need to

[2017-02-14 19:36] ruddell commented on #5005
One option for this is to add `http://localhost:9000` as an allowed origin to the websockets.  [This one line](https://github.com/ruddell/jhipster-examples/commit/edbade1823ca278996b8f311ffcc256e2b43fb75) allows port 9000 to connect.  The browser console still shows a connection error but all websocket messages send/receive correctly.  Is there a downside to this?

[2017-02-14 19:52] PierreBesson commented on #5173
Yes of course.

[2017-02-14 19:57] PierreBesson commented on #5174
I think we should do both : exposing on port 80 as default and add a question for ingress.

[2017-02-14 20:15] pascalgrimaud commented on #5174
@PierreBesson : It's already done for port 80 on my local, I'm currently testing it to confirm it works well. I will let you add ingress if you want

[2017-02-14 20:15] mraible opened #5205 "CloudFoundry Generator doesn't work with MySQL"
##### **Overview of the issue**

When I try to deploy a JHipster 4 app to Cloud Foundry, it fails.

[code]

Cloud Foundry logs:

[code]

##### **Motivation for or Use Case**

I'd like to be able to deploy an app to Cloud Foundy.

##### **Reproduce the error**

Create an app with H2Disk and MySQL for production.

Use `yo jhipster:cloudfoundry`.

The app will fail to deploy.

##### **Suggest a Fix**

[2017-02-14 20:28] mraible opened #5207 "Top navbar has rounded corners"
##### **Overview of the issue**

The top navbar has rounded corners. They're subtle, but they're there.

![screen shot 2017-02-14 at 11 08 53 am](https://cloud.githubusercontent.com/assets/17892/22947671/34e2dc0e-f2b9-11e6-9291-b4fd78b4e674.png)

##### **Motivation for or Use Case**

I like it when UIs are perfect. ;)

##### **Reproduce the error**

Generate an app, checkout the top nav.

##### **

[2017-02-14 20:28] jdubois commented on #5205
@mraible in your stacktrace, you have the PostgreSQL driver :-)

[2017-02-14 20:28] hirzraimund opened #5208 "If a many-to-many RelationshipName is equal to otherEntityNamePlural then Angular 2 does not work"
##### **Overview of the issue**

The Angular2 template in the **entity** subgenerator produces a naming conflict if the name of the relationship is the plural form of the name of the other entity.

This results in an exception in the JavaScript
`ItemDialogComponent - inline template:32:70 caused by: Cannot find a differ supporting object '[object Object]' of type 'tags'. NgFor only supports bindin