[2016-03-25 10:02] #3257 closed

[2016-03-25 10:07] deepu105 commented on #1407
thank you @notflorian

[2016-03-25 10:09] khouloudkhadija commented on #1622
Hi, I'm sorry if this is not the right place to ask this question, but I'm using jhipster 3.0 and I'm getting a similar error  and no thing is displayed on my browser :
2016-03-25 01:39:33.675 DEBUG 3220 --- [nio-8080-exec-1]c.lyance.test.aop.logging.LoggingAspect  : Enter: org.springframework.boot.actuate.audit.AuditEventRepository.add() with argument[s] = [AuditEvent [timestamp=Fri Mar 25 01:39:

[2016-03-25 10:17] deepu105 commented on #1622
Please dont comment on closed old issues. If you have a problem open a new
ticket and fill out all the required info in the template
On 25 Mar 2016 18:09, "khouloudkhadija" <notifications@github.com> wrote:

[2016-03-25 10:36] fraf opened #3258 "Enhancement : add jackson-datatype-jdk8 dependency"
Is it planned to add this dependency in pom.xml ? :

[code]

It allows to map Json empty/null String to an Optional java 8 type in DTO object.

Could it be useful ? I don't have it with v2.27.1 generator.

[2016-03-25 10:38] khouloudkhadija commented on #1622
I opened a new issue but it was closed

[2016-03-25 10:41] deepu105 commented on #1622
yes coz you didnt follow our guideline and didnt give any info asked in the template

[2016-03-25 10:42] deepu105 commented on #1622
plz open a new issue and provide all the details requested in the template

[2016-03-25 10:50] khouloudkhadija commented on #1622
OK thanks

[2016-03-25 12:28] gmarziou commented on #3256
I suppose you are the one who asked this question on stackoverflow:
https://stackoverflow.com/questions/36218397/i-cannot-run-jhipster-application-using-the-latest-jhipster-version-3-0

Sorry but your questions are really not detailed enough as I already told you several times. Being a beginner does not excuse everything, especially when you post an issue and don't fill the required information.

[2016-03-25 12:31] gmarziou commented on #3258
We've just released 3.0, so it is very unlikely that we add this to 2.x branch.

[2016-03-25 12:31] #3258 closed

[2016-03-25 13:26] jdubois commented on #3256
Please don't cross-post with StackOverflow, and please follow our guidelines.

[2016-03-25 13:41] gmarziou commented on #3257
I want to add to the above suggestions an alternative: use a node environment manager (e.g. nvm on Linux, nodist on Windows) to install 2 different versions of node: one for JH 3 and one for JH 2.

[2016-03-25 15:30] Vaelyr opened #3259 "JWT does not work with Spring Security Evaluation Extension"
##### **Overview of the issue**

`SecurityEvaluationContextExtension` bean which provides Security Context for SpEL expressions throws exception during evaluation when using JWT authentication. Works with other auth methods, and also with old Xauth token.

##### **Motivation for or Use Case**

Using current principal for custom Spring Data queries and on`@PreAuthorize` expressions, to determine th

[2016-03-25 15:35] jdubois commented on #3259
Yes, I didn't test but this is logical, and I think this has already been reported (but your bug report is better, and I couldn't find the other bug...).
For a microservice that's normal, as you don't have user management in microservices.
For a monolith that's different, but as I mainly added JWT for microservices, this isn't something I haven't worked on.

[2016-03-25 16:19] pascalgrimaud commented on #3257
@deepu105 : your 5th step should upgrade the project, so don't `yo jhipster` on old project.
But the `yo jhipster:<module>` should use the module inside `node_modules/generator-jhipster`, which means the old version

So for me, there is no issue here

[2016-03-25 16:39] Meriem19 opened #3260 "Delete entity"
Helllo guys
##### **Overview of the issue**

I, buy mistake added an entity that i don't need.
How can I remove it ??

##### **JHipster Version(s)**
 2.27.1

[2016-03-25 16:43] jdubois commented on #3260
Easiest way is to use Git to rollback the code.
I'm sorry but this shouldn't be a ticket, next time please use StackOverflow for this kind of questions.

[2016-03-25 16:43] #3260 closed

[2016-03-25 16:46] ruddell opened #3261 "mvn liquibase:diff creates a changelog on fresh project"
##### **Overview of the issue**
When using the command 'mvn liquibase:diff' after generating a project, a changelog is generated to make jhi_user's email field allow null values
` <databaseChangeLog>
<changeSet author="ruddell (generated)" id="1458876730446-1">
<dropNotNullConstraint columnDataType="varchar(100)" columnName="email" tableName="jhi_user"/> </changeSet>
 </databaseChangeLog> `

#####

[2016-03-25 16:48] Meriem19 commented on #3260
Okay thnaks :)

[2016-03-25 17:37] cbornet commented on #3258
To complement, I think Optional on class attributes is bad practice : it doesn't add any value and it is not serializable. Optional should only be used on method's return types.

[2016-03-25 18:36] TheKojuEffect opened #3264 "Uncaught TypeError: Cannot set property 'en' of undefined en.js:1"
##### **Overview of the issue**

Error messages in console
[code]

##### **JHipster Version(s)**

3.0.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
[code]

##### **Browsers and Operating System**

Chrome

##### **Suggest a Fix**

It seems like it is unnecessary to load `lang.js` (i.e `en.js`, `fr.js`) in `index.html`. If I don't import those files, the erro

[2016-03-25 19:52] derehls opened #3265 "Gateway Application startup fails"
##### **Overview of the issue**

I checked out the jhipster-registry and started it via mvn spring-boot:run.
Then i created a new microservice with one Entity "timeEntry". After that i created a new gateway application, linked to the "timeEntry" Entity in the microservice and try to start it via mvn spring-boot:run. The log says:

[code]
##### **Motivation for or Use Case**

Gateway App does not s

[2016-03-25 20:17] derehls commented on #3265
Fixed it by adding
[code]
to pom

[2016-03-25 22:18] trevershick commented on #1995
I haven't taken it any further than what's here https://github.com/trevershick/shiken .  Sorry I've been working on other goals.

[2016-03-26 03:16] deepu105 commented on #3265
I thought we removed the guava dependency
On 26 Mar 2016 04:17, "derehls" <notifications@github.com> wrote:

[2016-03-26 03:17] deepu105 commented on #3265
We need to chevk this

[2016-03-26 03:24] deepu105 commented on #1995
Ok thanks :)
On 26 Mar 2016 06:18, "Trever Shick" <notifications@github.com> wrote:

[2016-03-26 15:08] cbehrends opened #3267 "Should not allow to generate entity when DB is none"
##### **Overview of the issue**

When attempting to generate a new entity on a fresh JHipster project there are multiple failures.

Adding a new field to the entity never asks for a data type and is always "undefined".  This appears to cause multiple issues downstream when trying to generate the object (which never gets created).

I can post all of the traces if you like, but I"m pretty sure that

[2016-03-26 15:14] cbehrends commented on #3267
I was able to track down what was causing this issue.  Attempting to run the entity generator when the "no database" option was selected results in this issue.

[2016-03-26 15:20] jdubois commented on #3267
LOL :-)
I'm reopening this as it's a use case we should not allow -> we should do a check and if selected "no database" we should exit with a proper warning message.

[2016-03-26 15:21] cbehrends commented on #3267
Fair enough sir.  If I get some time today I'll look at it.  I'm guessing it's a pretty simple change.

[2016-03-26 15:24] jdubois commented on #3267
Oh yes that should be an easy PR, thanks !!!!

[2016-03-26 16:14] lsgpimentel commented on #3060
I agree that having the option to use an UUID as key is a good idea. Of course, the performance in all RDBMS are worse for UUID's than sequential integers.

PostgreSQL, for example, have a much better performance for UUID's than MySQL. Anyway, the performance is a clear disadvantage, we're not discussing that. Other advantages should be pointed:
- not guessable, like already pointed. (This is what

[2016-03-26 17:41] aimad-majdou opened #3268 "mapstruct annotation processor did not generate mappers Implimentation"
##### **Overview of the issue**
I have created a spring boot application using the jhipster generator, and then I added to entites author and book, author has many books while a book has one author.

then when I run my app I got this stacktrace

[code]

From a similar issue I understand that mapstruct annotation processor did not generate `AuthorMapperImpl.java` and `BookMapperImpl.java` all I can

[2016-03-26 19:45] gmarziou commented on #3268
Crossposted on stackoverflow: https://stackoverflow.com/questions/36238933/mapstruct-annotation-processor-did-not-generate-mappers-implimentation

[2016-03-26 19:57] ashakhov opened #3269 "[FEATURE] Select entities to be searched"
As for now, if we enable ElasticSearch during project generation, it adds `@Document` and search resource file for every created entity. But sometimes entities doesn't need to be searched so it will be only a waste of resources. Yes, you can remove unwanted parts, but it can be a lot of work if there is a lot of such entities. Maybe it's worth it to add an option for enabling or disabling search i

[2016-03-26 20:00] jdubois commented on #3268
Closing as cross posting is not cool.

[2016-03-26 20:00] #3268 closed

[2016-03-26 20:50] jd-carroll opened #3270 "docker-compose does not work on windows"
##### **Overview of the issue**

`yo jhipster:docker-compose` does not work on windows

In the docker-compose generator, a list of files is generated and then those files are iterated over to find the `.yo-rc.json` file [[code](https://github.com/jhipster/generator-jhipster/blob/master/generators/docker-compose/index.js#L85)].  The problem is that according to the [shelljs](https://github.com/shel

[2016-03-26 20:58] jd-carroll commented on #3270
Closing, as I should attempt to point the docker compose to the sub-folder of the project and not individual projects directly.

[code]

[2016-03-26 20:58] #3270 closed

[2016-03-26 21:59] lsgpimentel opened #3271 "Support for LocalDateTime type"
Any reason for it not being supported today? :S

[2016-03-27 03:15] deepu105 commented on #3271
I dont understand what you are trying to ask. We already support java 8 localDateTime and zonedDateTime

[2016-03-27 04:24] ARAtIntBitTech opened #3272 "Picking up localhost as the datasource URL even in prod profile when deploying in AWS"
Even though I built the project using the prod profile and have specified the AWS - RDS instance endpoint in the URL (accepts requests from all IP's), it still fails to deploy on EC2 stating failed to connect to localhost:5432.

JHipster is not changing the datasource url correctly.

[code]

Not sure where its picking up the localhost. To test, I even changed the URL in the application-dev.yml as

[2016-03-27 06:17] jdubois commented on #3272
This is just for AWS, can you put the right title and détails of what you did?

[2016-03-27 06:18] jdubois commented on #3271
Indeed, no idea of what you meant!

[2016-03-27 09:52] ARAtIntBitTech commented on #3272
When the WAR for the prod profile is built. The datasource configuration should pick up the URL specified in application-prod.yml.

[2016-03-27 10:58] lsgpimentel commented on #3271
@deepu105 and @jdubois,

No, it's not supported. Please, look at the code: https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L335
Look at the docs: http://jhipster.github.io/creating-an-entity/

LocalDate is supported, not LocalDateTime.

[2016-03-27 11:24] jdubois commented on #3271
Sorry, I need to check -> I reopen this until I have time.

[2016-03-27 12:10] Vaelyr commented on #3259
Okay after some debugging it seems that it is not Jhipster related. Possibily an undocumented change in Spring Security 4.0.4 (?), as it was fine with earlier when I used it like shown above.

The `principle` now actually just returns String, instead reference to the actual object.
However `authentication` returns the Principal object itself, from where you would get access to the principal name a

[2016-03-27 13:34] jdubois commented on #3259
OK but I think this might be a valid use case so I'm reopening it, I'll study this later.

[2016-03-27 14:45] lsgpimentel opened #3273 "Entity generation not changing User entity"
##### **Overview of the issue**

The User entity doesn't receive the attributes of the relationship.
The same applies with fields added to the User entity in JDL, but that's a different scenario.

##### **Motivation for or Use Case**

If other entities get the attribute of the relationship correctly, why the User entity doesn't?

##### **JHipster Version(s)**

2.27.2

##### **Entity configuration(

[2016-03-27 17:22] deepu105 commented on #3273
This wont be done in the near future as allowing this could result in many issues as user entity is managed. Its better you edit user entity manually as required.
This is documented as well. So its a known limitation

[2016-03-27 17:22] #3273 closed

[2016-03-27 18:25] andidev commented on #3264
Not sure why you get this error. Have you updated your versions in bower.json? Or done any other changes?

Exactly when do you get that error, on first load of the application?

The message format is needed for the pluralization to work. Are you really sure it works without it?

[2016-03-27 19:55] smartjaya opened #3274 "npm install -g generator-jhipster - Not working in Mac fails at deasync"
##### **Overview of the issue**

jhipster is not getting installed via NPM . It fails at deasync.
##### **Motivation for or Use Case**

npm install -g generator-jhipster
npm WARN deprecated npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm

  CXX(target) Release/obj.target/deasync/src/deasync.o
  SOLINK_MODULE(target) Release/deasync.node
ld: lib

[2016-03-27 20:01] gmarziou commented on #3274
This is not a jhipster issue, it's an issue with your node/npm environment, you should ask it on stackoverflow.

    ld: library not found for -lgcc_s.10.5

You probably need to install xcode.

Also you should consider installing an LTS version of node for more stability.

[2016-03-27 20:01] #3274 closed

[2016-03-27 20:15] smartjaya commented on #3274
After installing the LTS version of the node , i am able to get the jhipster installed successfully.  With Node 5  I was facing the issue. Thanks for helping in resolving this issue.

[2016-03-27 20:21] MathieuAA commented on #3271
He's right, the type isn't supported by JHipster, but LocalDate is (you may have been mistaken because of Time suffix Deepu ;)).

@lsgpimentel, Is there a major difference between this type and one of the already supported ones?

[2016-03-27 20:23] gmarziou commented on #3274
You're welcome and don't hesitate to use stackoverflow

[2016-03-27 20:38] lsgpimentel commented on #3271
...

https://docs.oracle.com/javase/8/docs/api/java/time/LocalDateTime.html

Birth dates and other dates that don't need time-zone are usecases.

ZonedDateTime is an immutable representation of a date-time with a time-zone. This class stores all date and time fields, to a precision of nanoseconds, and a time-zone, with a zone offset used to handle ambiguous local date-times. For example, the value

[2016-03-27 21:19] jdubois commented on #3274
Yes and we should document which version works, but that's really hard to do as it changes all the time.

[2016-03-27 21:53] gmarziou commented on #3274
@jdubois I think a safe position is to recommend the current LTS version (whatever it is at the moment where user installs jhipster), so I made this PR

https://github.com/jhipster/jhipster.github.io/pull/240

[2016-03-27 21:54] jdubois commented on #3274
Yes, and it's logical go have the LTS version

[2016-03-27 22:13] gmarziou commented on #3274
BTW, I can't accept PR s on jhipster/jhipster.github.io

[2016-03-28 01:15] deepu105 commented on #3271
Oh sorry I didn't look close enough. This is why we need detailed issue
reports or clearer feature requests so that we dont have to dig too much to
understand whats asked :P

On Mon, 28 Mar 2016 4:38 am lsgpimentel, <notifications@github.com> wrote:

[2016-03-28 01:20] deepu105 commented on #3274
Just for FYI, latest node with latest npm also works without any issues for
me, but on windows so not sure if its exactly a node issue or just a
combination issue. But yes agree that we should recommend something that
surely works for majority

On Mon, 28 Mar 2016 6:13 am Gaël Marziou, <notifications@github.com> wrote:

[2016-03-28 02:42] #3261 closed

[2016-03-28 09:12] rmrtnkmr commented on #1665
![screenshot from 2016-03-28 14 40 04](https://cloud.githubusercontent.com/assets/17722889/14075014/3e2540b4-f4f3-11e5-8e2a-a878bb50de8d.png)

[2016-03-28 09:28] gmarziou commented on #1665
Pleased don't camp on an old issue, too many things have changed since and you did not provide required details.

[2016-03-28 10:20] pascalgrimaud commented on #3245
@deepu105 : I confirm your issue

**Maven**: no problem with the [docker maven plugin](https://github.com/spotify/docker-maven-plugin), made by spotify
**Gradle**: it seems that this [docker gradle plugin](https://github.com/Transmode/gradle-docker/) is not very active...  although it's proposed in official [spring boot doc](https://spring.io/guides/gs/spring-boot-docker/)

For me, there are 2 sol

[2016-03-28 11:15] kkorada opened #3276 "Logs Table in jhipster created UI is not responsive"
##### **Overview of the issue**
Logs Table in jhipster created UI is not responsive.

##### **Motivation for or Use Case**
It is not adjusting according to the resolution

##### **JHipster Version(s)**
it is same with 2.x or 3.x

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
NOT RELATED TO .yo-rc.json file

##### **Browsers and Operating System**
Browser: Chro

[2016-03-28 11:16] allanws commented on #1943
Sorry for distracting you guys with that, but do you know the highest memory consumption culprits?

[2016-03-28 12:11] gmarziou commented on #3276
Would you please consider submitting a Pull Request?

https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

[2016-03-28 14:14] stas-ua commented on #1608
I will be grateful for the example. And what if we have to choose yelement by multiple fields? For example, to select the specific value I need to see the field "name", "date", "description". If someone has a good example, please give a link.

[2016-03-28 15:33] jdubois commented on #3272
This is because you don't run your application with the "prod" profile.
I don't see anything in the AWS sub-gen documentation concerning running in "prod" profile, so this is something we should improve.

[2016-03-28 15:38] TheKojuEffect commented on #3264
Hi @andidev, I am getting the error messages in fresh jhipster 3.0.0 application. The messages show up only one time or when I refresh. And the pluralization seems to be working without those `lang.js` files.

[2016-03-28 15:44] wuethrich44 commented on #3249
Fixed in https://github.com/jhipster/generator-jhipster/pull/2679 so you can close this issue.

[2016-03-28 15:44] #3249 closed

[2016-03-28 15:48] wuethrich44 commented on #3272
The RDS Instance doesn't run on localhost. The subgen set the correct url via environment variables. The `prod` profile is also set via environment variables. So if you want your custom datasource url you have to change the environment variable in AWS Management Console.

[2016-03-28 16:19] jdubois commented on #3272
Looks logical! Thanks !

[2016-03-28 16:19] #3272 closed

[2016-03-28 17:06] andidev commented on #3264
Okey so it looks like angular-translate-interpolation-messageformat is updated to latest version and therefore the inclusion of the language files are no longer needed. AR least they are not there in the latest message format version. So you are right. I'll look into this later and fix it.

[2016-03-28 17:31] pascalgrimaud commented on #3245
Just tried a 3rd solution. I'm working on gradle with Windows (sorry, I'm total newbie with Gradle, so I prefer not PR before being sure this solution works).

Can you try this, @deepu105 ? cc @atomfrede too our Gradle expert :-)

Replace your `docker.gradle` by this file, and edit **mspsql** by your application name :
[code]

[2016-03-28 19:01] shaheemp opened #3278 "JWT does not work with SecurityUtils.isCurrentUserInRole"
##### **Overview of the issue**

When logged in as Admin user, _SecurityUtils.isCurrentUserInRole(AuthoritiesConstants.ADMIN)_ always returns _FALSE_ when using JWT authentication.

##### **Motivation for or Use Case**

Using Roles to only have certain sections of code executed based on the Role that the logged in user has.

For example:
[code]

##### **JHipster Version(s)**

v3.0.0

##### **JHips

[2016-03-28 19:03] jdubois commented on #3278
Yes this is close to #3259

[2016-03-28 21:48] andidev commented on #3264
I just tried to generate a new project and strangely I do not get your error in the console.
The reason why I don't get the error is since the messageformat dependency that is downloaded by bower (transitively) is a version that does not contain the lang.js files that you mention. And therefore the bower overrides including the lang.js files are ignored.

Are you still having this issue if you do

[2016-03-29 01:37] jkutner opened #3279 "Update the Heroku generator to prompt for the Registry URL"
**NOTE:** I plan to do this work, but wanted to open the ticket so that others can see it is in progress and provide feedback.

##### **Overview of the issue**

The Heroku generator needs to detect when an app is a microservice (or gateway) and prompt for the production JHipster Registry URL.

##### **Motivation for or Use Case**

Microservices won't work without it.

##### **JHipster Version(s)**

[2016-03-29 07:20] kkorada opened #3280 "Adding new config to angular js is not working in modules"
##### **Overview of the issue**

addAngularJsConfig is not present in latest version of jhipster

##### **Motivation for or Use Case**

without this it is not possible to add new configurations to the angular js modules

##### **JHipster Version(s)**

v3.0.0

##### **Suggest a Fix**

try adding a new needle like it was in before version in a new file app.config.js so that we can add any configs if

[2016-03-29 08:07] cbornet commented on #3271
I don't see use cases where a LocalDateTime would be useful or better than a ZonedDateTime.

[2016-03-29 08:10] PierreBesson commented on #3279
Very nice ! This is exactly what we need.

[2016-03-29 08:11] wmarques commented on #3276
Thanks for your report, I'm fixing this

[2016-03-29 08:14] TajPelc commented on #2924
I noticed the same problem today. ndkhoiits, your changed resolved the issue.

[2016-03-29 08:17] tomvanrossom opened #3281 "Gateway has no Zuul routes configured"
##### **Overview of the issue**

After generating a gateway, the `application.yml` file does not contain any Zuul routes. When running the application, any request return an empty page (200), and the logs contains:
`o.s.c.n.zuul.web.ZuulHandlerMapping      : No routes found from RouteLocator`

##### **Motivation for or Use Case**

Shouldn't there be any routes configured for the gateway?

##### **

[2016-03-29 08:25] wmarques commented on #3280
This was removed in #2986, you can add your own config by creating a config file in `src/webapp/app/blocks/config`.

[2016-03-29 08:41] jdubois commented on #3281
No they are created when microservices register to the Registry.
You can of course still configure them manually, but with our default configuration the idea is that you don't have anything to do.

[2016-03-29 08:41] #3281 closed

[2016-03-29 08:44] alinturbut opened #3284 "Cannot run tests after *manually* creating some domain entities"
##### **Overview of the issue**

I have generated an application with Jhipster 2.27.0, then I have created few entity domain classes (..domain/candidate/Candidate for example), then I have created the Liquibase for them. The application starts, the database is initialised with the correct tables, fields, but when I run gradle test, I get into some problems. The first one which appeared was this: h

[2016-03-29 08:44] tomvanrossom commented on #3281
Thanks for the quick reply.

If Zuul is not the problem, then I need to figure out why I only see a blank page when accessing the gateway ...

[2016-03-29 08:50] jdubois commented on #3284
What do mean by "creating the entities manually"'? You didn't use the entity sub-generator ? In that case that's not a JHipster issue, it's your own bugs :-)
Sorry I can't read your first bug, can you post the whole issue here?

[2016-03-29 08:54] alinturbut commented on #3284
I haven't used the sub-generator, because I don't need everything what it creates at the given time and I wanted to reduce the code generated. The migration works with liquibase and everything is generated (for the postgresql at least). The issue is as follows:

[code]

[2016-03-29 08:57] #3276 closed

[2016-03-29 09:29] #3280 closed

[2016-03-29 09:31] deepu105 commented on #3284
If you are doing your own stuff plz ask this in stack overflow ad its not a Jhipster issue

[2016-03-29 09:31] #3284 closed

[2016-03-29 09:32] kkorada commented on #3276
i am getting error while pull

**requestremote: Permission to jhipster/generator-jhipster.git denied to kkorada.
fatal: unable to access 'https://github.com/jhipster/generator-jhipster.git/': The requested URL returned error: 403**

[2016-03-29 09:34] deepu105 commented on #3276
You cannot push to master fork the repo and work on your fork and create a
PR. Check our contribution guidelines
On 29 Mar 2016 17:32, "kkorada" <notifications@github.com> wrote:

[2016-03-29 09:38] kkorada commented on #3276
ok thank you

[2016-03-29 09:43] atomfrede commented on #3245
Looks like its working. At least the build is not stuck at 94% anymore.

[2016-03-29 11:43] deepu105 commented on #3264
@andidev yes I think we should set an explicit version

[2016-03-29 11:44] #3267 closed

[2016-03-29 15:12] ARAtIntBitTech commented on #3237
@cbornet  Could I PM you for some help(please)? I got past the login issue. All the other calls behind login have that problem now.

[2016-03-29 15:23] shaheemp commented on #3278
I made the following changes to SecurityUtils.isCurrentUserInRole and my code now works. I see the same check is done in getCurrentUserLogin.

[code]

[2016-03-29 15:28] cbornet commented on #3237
Yes you can post your question on [gitter](https://gitter.im/jhipster/generator-jhipster)

[2016-03-29 15:59] wmarques commented on #3278
Seems a good fix for me, can you PR this ?

[2016-03-29 15:59] cbornet opened #3287 "Remove CORS tip"
As this is now supported directly by config file
http://jhipster.github.io/tips/006_tips_enable_cross_origin_requests.html

[2016-03-29 16:50] raphaelbrugier opened #3288 "docker-compose to start Cassandra locally for dev"
##### **Overview of the issue**
Hi,

We want a developer to be able to run `docker-compose -f src/main/docker/somefile.yml build/up`
and then have a Cassandra cluster ready to use locally, with the Keypspace and all the tables + migrations scripts automatically already applied.

##### **Current implementation**
First I want to be sure of my understanding of the generated docker-compose files and t

[2016-03-29 19:47] gandrade commented on #3042
@deepu105 Just a heads-up, I've already finished the code changes.

Thanks

Gustavo Andrade

[2016-03-29 20:06] raphaelbrugier opened #3290 "Cassandra tests fail when adding a new entity"
##### **Overview of the issue**
When adding a new entity with the jhipster:entity generator, the CQL script generated is not automatically picked by the base class of the Cassandra tests `AbstractCassandraTest`.
Those, all tests are now failing because the table is not created when starting the SpringContext.

##### **Motivation for or Use Case**

##### **JHipster Version(s)**
3.0.0

##### **JHips

[2016-03-29 20:17] jdubois commented on #3271
OK, we can't support all available types, and LocalDateTime is very close to ZonedDateTime - I guess it's just a simple type refactoring.
So I don't think we should do it, and if you need it you use first a ZonedDateTime and then do the change.

[2016-03-29 20:17] #3271 closed

[2016-03-29 20:20] jdubois commented on #3281
If you have a blank page with the gateway, then that's another issue, here you were asking about Zuul routes not being created.
Can you create a new ticket, with your exact configuration and stacktrace?

[2016-03-29 20:24] jvence opened #3292 "Documentation on microservices security is inaccurate."
Docs http://jhipster.github.io/microservices-architecture/ state that you must "remove the security on those URLs in the gateway’s SecurityConfiguration class." but that's not correct. You must update the microservice's MicroserviceSecurityConfiguration instead. No changes are needed in the gateway’s SecurityConfiguration  class.

[2016-03-29 20:36] pascalgrimaud commented on #3288
Hi @raphaelbrugier

As I did the 1st docker-compose files for Cassandra, I'll try to explain what I tried to do.

Before 3.0, we had:
- `dev.yml` => used with create-keyspace.cql, replication_factor=1, start simple cassandra
- `prod.yml` => used with create-keyspace-prod.cql, replication_factor=3, start cassandra + cassandra-node + opscenter (added by @cbornet)

Currently, our approch is to have 1

[2016-03-29 20:53] jdubois commented on #3278
I'm not a big fan of `instance of` and the `equals` methods but yes that should work, and I don't have a better proposal.

[2016-03-29 20:58] jdubois commented on #3292
Oh yes the class name has changed.

[2016-03-29 21:19] notflorian commented on #3042
I finnally had some time to do more test on your PR, and I've written some comments.

Thanks ;)

[2016-03-29 21:25] #3279 closed

[2016-03-30 00:18] gandrade commented on #3042
Don't worries @notflorian. I'll check your comments and as soon as I can, provide the changes. Thanks in advance!

[2016-03-30 05:48] jvence commented on #3292
Not only the class name but it states that changes must be made to gateway's SecurityConfiguration but it should be made to the microservices's

[2016-03-30 05:54] jdubois opened #3297 "Upgrade to Spring Cloud RC 1"
See https://spring.io/blog/2016/03/24/spring-cloud-brixton-rc1-is-now-available

(Also needs to be done on the registry)

[2016-03-30 06:33] kkorada opened #3298 "Active state for Administartion Tab in UI is not working"
##### **Overview of the issue**

Administration tab in UI is not chainging its state to active when element in that menu is clicked

##### **Motivation for or Use Case**

It's state should change to active when element in that menu is clicked.

##### **JHipster Version(s)**

v3.0.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

UI related

##### **Browsers an

[2016-03-30 06:37] deepu105 commented on #3175
@jhipster/developers  @lordlothar99 we need to progress on this as well, we need to take a decision since there is heavily opinionated arguments on both ends I suggest we do a voting to take a decision

Below are the options from the discussion

- Option 1. Leave it as it is today
     - pros: user need not handle lazy load issues, and need not worry about transaction handling as highlighted by @g

[2016-03-30 06:37] deepu105 commented on #3175
+1 for option 3 from me

[2016-03-30 06:44] deepu105 commented on #3298
@kkorada would you like to submit a PR to fix this?

[2016-03-30 07:05] kkorada commented on #3298
yes

[2016-03-30 07:37] #3298 closed

[2016-03-30 07:43] deepu105 commented on #3251
@sebastienmoreno could you add more details on what is the use case and what would be the value of having this. Would be nice if you can explain your use case

[2016-03-30 07:57] lordlothar99 commented on #3175
+1 option 2

Le mer. 30 mars 2016 08:37, Deepu K Sasidharan <notifications@github.com> a
écrit :

[2016-03-30 08:51] PierreBesson commented on #3297
I have made a PR for the registry (https://github.com/jhipster/jhipster-registry/pull/33).
Also I noticed something not right on the registry's docker hub: the v1.0.0 tag is getting updated along with master !
https://hub.docker.com/r/jhipster/jhipster-registry/builds/

[2016-03-30 12:51] tomvanrossom commented on #3278
I've solved it without the second "if - instanceof "

[code]

Maybe this is a bit cleaner...

[2016-03-30 13:26] wmarques commented on #3287
Made a PR on website repo

[2016-03-30 14:00] bosofelipe commented on #3248
@jkutner This happened because the heroku machine haven´t a npm installed, in my jhipster configuration i choose saas compiler...
Removing saas compiler this error was not showed

[2016-03-30 14:01] unikzforce commented on #1600
It would be really lovely if each generated Entity had an Super Class, for example User & BaseUser.
this would help in This Scenario:
for example if you need to modify User, then you can modify it in User.java and if after some time you needed to Re-Generate the model, the User.java will not be Regenerated, Only Base**** classes will be Regenerated and your modifications will be there & Still Unto

[2016-03-30 14:05] raphaelbrugier commented on #3288
Hi,

Ok, so I can assume there was a confusion when the renaming of the files was done and *cassandra.yml* should not be linked to app.yml but *cassandra-opscenter.yml* should?
Should I open a separate issue for this?

I'd like to find a better naming for these two files.
- *cassandra-opscenter.yml* => replication_factor=3, opscenter, manual migrations == prod
- *cassandra.yml* => replication_fact

[2016-03-30 14:35] wmarques commented on #3244
@deepu105 I've got an error when running with angular plugin

`Cannot read property 'type' of undefined
TypeError: Cannot read property 'type' of undefined
    at findFunctionByNode (/home/ippon/generator-jhipster/node_modules/eslint-plugin-angular/rules/utils/angular-rule.js:199:17)
`

Did you encounter that error also?

[2016-03-30 15:11] dlresende commented on #3175
+1 option 2

[2016-03-30 15:39] deepu105 commented on #3244
I do not understand, why are you using angular plugin.?  For the generator
you should be using only plain javascript or airnb style and not angular
style
On 30 Mar 2016 22:35, "William Marques" <notifications@github.com> wrote:

[2016-03-30 15:43] wmarques commented on #3244
Oh ok you just want to run eslint on generator files and not generated files, sorry I misunderstood !

[2016-03-30 15:44] RemyMilia commented on #3175
+1 option 2

[2016-03-30 15:48] ARAtIntBitTech opened #3303 "Gulp test fails on Ubuntu"
When I do a gulp test, the project fails with the below error.

[code]

JHipster Version(s)
v2.27.2

Ubuntu LTS 14.04

The same code when executed on OSX works. So is there anything different/particular that we need to install in Ubuntu.

[2016-03-30 15:50] deepu105 commented on #3244
Yes :) for generated files our gulp task already has this covered.

For generator itself this should be a task in npm script block
On 30 Mar 2016 23:43, "William Marques" <notifications@github.com> wrote:

[2016-03-30 15:55] amah commented on #3175
+1 option 2

[2016-03-30 15:58] wmarques commented on #3244
Ok I see, I'm doing this !

[2016-03-30 16:26] gzsombor commented on #3175
+1 option 3 - I think this is the most clear solution

[2016-03-30 17:23] #3067 closed

[2016-03-30 17:23] #3297 closed

[2016-03-30 17:32] jdubois commented on #3278
Does this work if the user is not a UserDetails:

    Collection<? extends GrantedAuthority> authorities = authentication.getAuthorities();

[2016-03-30 17:37] #3290 closed

[2016-03-30 20:32] gmarziou commented on #1600
@unikzforce Please don't camp an old issue, if you have a suggestion to improve it, open a new issue.

[2016-03-30 21:20] pascalgrimaud commented on #3303
Just tested with our [devbox](https://github.com/jhipster/jhipster-devbox) (Ubuntu 14.04 LTS) and it works well
Can you check all install tools like I did.
If it doesn't work, can you test with our Devbox ?

[code]

[code]

[2016-03-31 00:07] ARAtIntBitTech commented on #3303
@pascalgrimaud
I just got the versions for each component on my machine

[code]

The code in the file that has the problem

STSWorkspace/WebServices/src/test/javascript/spec/components/auth/auth.services.sp‌​ec.js
[code]

Last few lines of the output when I executed gulp test > test.txt. It produced a 27mb file ...

[code]

[2016-03-31 00:51] deepu105 commented on #3303
Pascal he is using JH 2.x version I guess
On 31 Mar 2016 08:08, "AR" <notifications@github.com> wrote:

[2016-03-31 05:30] pascalgrimaud commented on #3303
@deepu105 : yes, I tried to reproduce on 2.27.2

@ARAtIntBitTech : the main difference I can see, is the node+npm version. I used a node LTS instead of the latest => can you give a try with LTS?

[2016-03-31 06:48] tomvanrossom commented on #3278
Yes, it does. I fixed it because I'am also using JWT.

If you check the [api-docs](https://docs.spring.io/spring-security/site/docs/current/apidocs/org/springframework/security/core/Authentication.html) you see.

the authorities granted to the principal, or an empty collection if the token has not been authenticated. **Never null**.

So I think it is pretty safe.

[2016-03-31 07:37] pascalgrimaud commented on #3288
Yes, open a new issue plz ?

I'm not a Cassandra expert: is opscenter absolutely necessary ?
If not, I suggest 3 files, with your improvments:
- cassandra.yml => for dev, replication_factor=1
- cassandra-cluster.yml => for prod, replication_factor=3, without opscenter, should be for microservices by default
- cassandra-opscenter.yml => for prod, replication_factor=3, with opscenter

[2016-03-31 07:56] jdubois commented on #3288
Opscenter should not be used by default : it's a good tool to monitor Cassandra, but it uses quite a lot of resources, and Datastax is going to make it for-pay only. So it's a bad default option.

[2016-03-31 08:33] doronma commented on #1339
any change yet?

[2016-03-31 08:50] PierreBesson commented on #3303
@ARAtIntBitTech, I have failed to reproduce the error.

[2016-03-31 08:55] deepu105 commented on #3303
It does seem like a node environment issue, but I'm getting a different
error

Thanks & Regards,
Deepu

On Thu, Mar 31, 2016 at 1:30 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-03-31 08:57] deepu105 commented on #1339
nope

[2016-03-31 08:57] deepu105 commented on #1339
angular 2 would be for Jhipster 4.0

[2016-03-31 11:35] GuillaumeFE commented on #3175
+1 for option 2. All projects are developped this way,its better to follow common design

[2016-03-31 11:48] notflorian commented on #3175
+1 for option 2 : I'm all about separation of concerns and layers

[2016-03-31 12:08] gzsombor commented on #3175
All who vote for option 2 :
* please provide a solution for the lazy loading issues,
* and propose a solution, how to separate the internal API - (based on the service interfaces and DTO) from the internal entity model ? Otherwise, you would leak your entity model to distant modules in your app. Without it, the whole app will be a spagetti, without any layering :(

I find funny, the claim, that al

[2016-03-31 13:58] #3287 closed

[2016-03-31 13:59] jvence commented on #3237
I'm using microservice on jHipster 3 and using the generated war file to run the service and I am still experiencing this problem. I have enabled CORS on both the gateway and microservice but request through an app return: "Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://xxx' is therefore

[2016-03-31 14:47] wmarques commented on #3303
Same as @pascalgrimaud, tried with JHipster Devbox and works well with 2.27.0. I'm trying to update node

[2016-03-31 15:09] cbornet commented on #3237
FYI, after proper setup, @ARAtIntBitTech was able to make the CORS work for him so this is probably not an issue with JHipster. You can PM me on gitter if you want and I'll try to help you. Making CORS work is really a pain....

[2016-03-31 15:38] wmarques commented on #3292
I've done a PR to fix this on the jhipster.github.io repo (see above), thanks for the report @jvence

[2016-03-31 15:38] #3292 closed

[2016-03-31 15:50] wmarques commented on #3269
So what you want is an additional question in the entity subgen that asks you if you want elasticsearch on your entity or not ?

[2016-03-31 16:09] deepu105 commented on #3269
I dont think there is much value in doing this, if you dont want elastic
search just remove the annotation and be done with it. Yes you might have
some dead left over code but its not that bad. Ir worst case it can be a
command line argument to disable it like `no-search` def not worth another
question
On 31 Mar 2016 23:50, "William Marques" <notifications@github.com> wrote:

[2016-03-31 16:12] ashakhov commented on #3269
Maybe. I'm mostly interested in generating entities using JDL, but it still depends on entity subgen.
I can try to make it myself and send a PR, but I thought it would be better to ask if someone else is interested or there is some pitfalls that I don't know about. Or maybe it just doesn't worth it.

[2016-03-31 16:42] PierreBesson opened #3307 "[FEATURE] Generate REST clients with Hystrix circuit breaker and fallback on the gateway"
Currently, microservices are accessible through the gateway and have their api accessible at `/app1/api/**`.

However if app1 becames unavailable, we should be able to provide a fallback and not throw errors.
This is provided by Spring Cloud using Hystrix circuit breakers and fallbacks and I'm proposing to integrate it in JHipster.

This is what it looks like:
![architecture](https://cloud.githubu

[2016-03-31 17:29] shaheemp commented on #3278
This does look cleaner than my proposal.

One observation. It seems that _authentication.authorities_ is populated when calling _securityContext.getAuthentication_. I have done a project with Basic Auth and the authorities is populated by _securityContext.getAuthentication_.

This means that the
[code]
might not be needed at all?

Will try an OAuth project and see if the same hold true.

[2016-03-31 17:59] gmarziou commented on #3307
Have you read this about pagination?

https://github.com/spring-cloud/spring-cloud-netflix/issues/556

[2016-03-31 18:41] shaheemp commented on #3278
So I refactored the code to look as follows, and all three security options (HTTP, Oauth and JWT) work:
[code]

My Ubuntu box is giving me issues with gulp when generating jhipster project, so had to use my Windows box...

[2016-03-31 19:13] cbornet commented on #3307
That would be quite easy to generate with a swagger-codegen template. I can do one based on your sample

[2016-03-31 19:14] jdubois commented on #3175
I agree with @gzsombor : even if option 2 looks logical, the need for transactions (for lazy loading) just make it impossible technically.
What I would do (let' call it "option 4) is:

- DTOs and mappers are in the service layer

pros:
- out of your service layer you only see DTOs
- you can use DTOs with other presentation layers, and not just the web/rest layer. For example, a Thymeleaf template.

[2016-03-31 19:17] jdubois commented on #3307
Yes there is a clear need for this, some gateways can be more complex than simple routers (that's what I'm doing right now), and also having an intelligent fallback can be handy.
For pagination: we have our own system, I'm not sure we have that issue.

[2016-03-31 20:11] lordlothar99 commented on #3175
about option 2 transaction concerns : in my opinion several options are valid:
* use `@Transactional` in rest controllers ; I know you don't like this option much... but they are already there ! so I would say, let's leave it like that...
* the other option is to move `@Transactional` to service service layer (when there is one) ; I'm not fond of that, not because of lazy loading issues, but becau

[2016-03-31 20:19] jdubois commented on #3175
There can't be a `@Transactional` in the Web layer, where did you see this? This would be a huge mistake as far as I know:

- The Web layer should not be transactional, because in case of rollback then what you put in your model is just wrong
- There should be a separate Spring application context for the Web layer, and so the `@Transactional` is just not going to work - at least that's how Spring

[2016-03-31 21:04] jdubois opened #3308 "Add Spring @Cacheable abstraction"
Add support for Spring's [cache abstraction](http://docs.spring.io/spring/docs/current/spring-framework-reference/html/cache.html).

Currently we only support Hibernate's second level cache, this works at a higher level, as it can cache Spring Bean methods:

- we should have this default configuration working
- I also want to have caching of REST endpoints -> warning, for security we also need to

[2016-03-31 21:16] cbornet commented on #3307
Or do you prefer to generate with yeoman and the json entity files (this would limit the generation to the CRUD endpoints) ?

[2016-03-31 21:25] lordlothar99 commented on #3175
I found `@Transactional` annotation in 2 templates, included in `EntityResource` :
* [https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/templates/src/main/java/package/common/get_all_template.ejs](url)
* [https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/templates/src/main/java/package/common/search_template.ejs](url)
Maybe we should add some m

[2016-03-31 21:50] jdubois commented on #3175
Thanks @lordlothar99 - I don't think I coded this originally (this has been refactored, so who knows...), and indeed there are 2 `@Transactional`

- It's kind of OK with regards to my first point (concerning rollbacks), as they are marked "readOnly" (so you don't write, and hence you don't rollback....). There are some edge cases: if a transaction is started in "write", when you call a "readOnly"

[2016-04-01 00:42] deepu105 commented on #3175
I think the transactional annotations are used when using repository
directly in resources without a service layer. I need to take a close look
to confirm.
On 1 Apr 2016 05:51, "Julien Dubois" <notifications@github.com> wrote:

[2016-04-01 03:56] ruddell opened #3311 "Login Redirection"
##### **Overview of the issue**
Login should send the user to the home state when logging in from certain states (reset/activate/register).
##### **Motivation for or Use Case**
Better user flow.  When the login dialog closes, the user should not remain on the register/reset/activate states.
##### **JHipster Version(s)**
3.0.0 ([2.x has something similar](https://github.com/jhipster/generator-jhips

[2016-04-01 04:45] ruddell opened #3312 "Login Dialog Register Link"
##### **Overview of the issue**
The 'register' link on the login dialog is overwritten by the translation text in the global.json.  This changes it from calling the register function in LoginController to just using ui-sref to change to the register state.  The issue is the dialog stays open while the register state appears in the background.
##### **Motivation for or Use Case**
The register link

[2016-04-01 05:23] #3264 closed

[2016-04-01 06:27] deepu105 commented on #3175
Hmmm ok so `@Transactional` on the resource should be skipped when the calls to repo are via a service

[2016-04-01 07:07] tomvanrossom commented on #3278
Nice!

I've noticed a strange thing in the other methods of SecurityUtils:

[code]

There is no null-check on `getAuthentication()` but there is one on `getAuthorities()`

Maybe another refactoring is needed...

[2016-04-01 07:20] tomvanrossom commented on #3278
Maybe something like this:

[code]
What do you think?

[2016-04-01 07:31] deepu105 commented on #3312
Oh Ok now I understand the issue. I guess your second solution you did in the other PR was ok sorry for misunderstanding earlier.

[2016-04-01 07:44] deepu105 commented on #3307
@PierreBesson take a look at the ribbon part (Part 2: inter-service communication) in this article as well http://stytex.de/blog/2016/03/25/jhipster3-microservice-tutorial/ it looks good

[2016-04-01 08:30] PierreBesson commented on #3307
@cbornet I think for start I will generate it with yeoman and json entity files. But if you do the template for swagger, it would be great as it would go beyond CRUD and support both load balancing, circuit breaker and fallback ! Once you create the initial template, I will do some extensive testing on microservice.

But for now, we need to add the correct JWT token the REST client requests.

[2016-04-01 08:37] PierreBesson commented on #3307
@gmarziou Thanks for the link on the Pagination issue. I think it means that this will eventually be solved upstream.

[2016-04-01 11:06] noctarius commented on #3137
Does anybody wants to give this one a shot: https://github.com/hazelcast-incubator/eurekast-one

Simple test is working but I guess you guys know way more about eureka than I do :)

[2016-04-01 11:11] #3244 closed

[2016-04-01 12:23] wmarques commented on #3312
+1 solution 2
Can you PR this ? I can do it if you want.

[2016-04-01 12:23] wmarques commented on #3311
This solution looks good to me

[2016-04-01 12:58] SebastienRene commented on #3307
Great job Pierre, this "early" circuit breaker is interesting.
However the gateway souldn't do buisness treatment in fallback methods : "smart endpoints and dumb pipes".
The fallback sould be in the microservice, what do you thnink about it ?

[2016-04-01 13:11] deepu105 commented on #3307
I was having the same thing in mind. Gateway shouldn't duplicate the server
side part of microservice entity rite?  Fallback should ideally be routed
to another node of the same microservice in my opinion
On 1 Apr 2016 20:58, "Sébastien René" <notifications@github.com> wrote:

[2016-04-01 14:39] gmarziou opened #3314 "Wrong path location in gateway access denied error"
##### **Overview of the issue**

Setup:
- registry
- gateway on port 8080
- srv1 microservice

When calling a proxified api of srv1 through gateway on `/srv1/api/logs` without a JWT token, I get an expected 403 error but the "path" property is `/api/logs` while it should be '/srv1/api/logs`

[code]

[code]

##### **Motivation for or Use Case**

I'm not sure of the effect but I know that some angul

[2016-04-01 14:47] gmarziou commented on #3307
I'm not sure we can't put the fallback in the service itself because the service could be down but maybe it could be registered by the service in the Eureka registration metadata.

@deepu105 "Fallback should ideally be routed to another node of the same microservice" is already done by Ribbon. here I think the fallback is when there is no service available.

[2016-04-01 14:48] flanciskinho opened #3315 "Set MariaDB as datasource."
##### **Overview of the issue**

jhipster don't show the option to use MariaDB as datasource.

##### **Motivation for or Use Case**

I wanted use MariaDB as a datasource to personal project and jhipster don't configure it. I had to set parameters manually

##### **JHipster Version(s)**

3.0.0

##### **Browsers and Operating System**

All

##### **Reproduce the error**

##### **Suggest a Fix**

Add

[2016-04-01 14:56] pascalgrimaud commented on #3315
Can you do a PR, as tips'n tricks to https://github.com/jhipster/jhipster.github.io ?
It can be interesting to mention the official docker repo too : https://hub.docker.com/_/mariadb/

[2016-04-01 14:59] pascalgrimaud commented on #3303
I'm closing this issue, as I think it's a environment problem, and none of us manage to reproduce your issue.
Plz give a try to our Devbox and reopen this ticket if you have the same error

[2016-04-01 14:59] #3303 closed

[2016-04-01 15:04] gmarziou commented on #3307
A common way to implement fallback is to use cached value from previous successful call.

[2016-04-01 15:26] deepu105 commented on #3315
Yes plz add to the documentation repo as a PR

[2016-04-01 15:26] #3315 closed

[2016-04-01 15:39] deepu105 commented on #3307
Oops sorry didn't look close enough, ok it makes sense
On 1 Apr 2016 23:04, "Gaël Marziou" <notifications@github.com> wrote:

[2016-04-01 15:42] PierreBesson commented on #3307
@SebastienRene I think this kind of fallbacks would be mainly used on microservices that are calling other microservices and I agree that the dumb pipe way is better in many cases. But I don't see why it couldn't be done as well on the gateway.

I mostly had in mind the following fallbacks that could apply:
- for "read": retrieve a value from a cache
- for "write": send the posted data to a messag

[2016-04-01 15:57] deepu105 commented on #3307
@PierreBesson I think @xetys has done exactly your approach in the link i pasted above and has a sample here https://github.com/xetys/jhipster-ribbon-hystrix may be you guys should work together on this

[2016-04-01 17:26] xetys commented on #3307
when my upcoming PR rolls out of my pipeline there will be sure a lot to do, where I will need help from you. The PR contains springs solution of JWT authorization via oauth, so there will be an option for a extremely fine-grained security, such as granting special privileges on resources, when the requests are coming from a micoservice, rather than from the angular app.

for the use of circuit br

[2016-04-01 17:39] gmarziou opened #3316 "Wrong dependencies on spring cloud"
##### **Overview of the issue**

The way we declare our dependencies on spring-cloud is wrong.

I found it by having this exception in a gateway:

[code]

This was due to using com.netflix.servo:servo-core:jar:0.7.2 rather than 0.10.1

According this recent issue, the right way to depend on spring-boot is by importing their bom:

https://github.com/spring-cloud/spring-cloud-netflix/issues/938

###

[2016-04-01 17:46] jvence opened #3318 "CORS fails in microservice environment"
I've enabled CORS on the microservice & on both gateway and microservice but kept getting a 403 error as below. I can successfully access the service via the browser but fails when done via an AJAX based- app. I ran the gateway & microservice directly from the executable WAR file.

[code]

response header for OPTIONS preflight call:

here's my config:

[code]

[2016-04-01 17:49] gmarziou commented on #3307
I would drop the "write" part as it is very hard to get it right in a generic way.

For instance, if you wait too long in queue, client may timeout and retry depending on how it is configured which could become messy.

[2016-04-01 17:53] gmarziou commented on #3318
What's this? It should be "jwt"

[2016-04-01 18:02] jvence commented on #3318
It is jwt but was autocorrected by the browser

[2016-04-01 18:15] jhulick commented on #3316
@gmarziou This is similar to the issue on the registry I created a PR for: https://github.com/jhipster/jhipster-registry/pull/20. Using Spring Cloud Release Train management, plus your suggestions for boot, might need to be checked on all the jhipster-* repos.

[2016-04-01 18:58] gmarziou commented on #3316
Yes it's similar, using the "parent" approach makes sense for the registry as it is a spring cloud only app, for the generator the dependencyManagement is probably easier in order to manage both monolith and microservices apps.

[2016-04-01 19:02] gmarziou commented on #3318
Thanks for having clarified.

Have you read #3237?

[2016-04-01 19:31] jvence commented on #3318
Yes I have read it and it's a different version, running a monolithic app and having problems with oauth calls. This is quite different.

[2016-04-02 03:46] adam-ho opened #3321 "JDL Studio sample JDL causes liquidbase errors in JHipster 3.0"
##### **Overview of the issue**

Copy-pasting the sample JDL from JDL studio and generating the entities based on that results in an error when starting up the app (from liquidbase). Looks like the tables aren't being generated before liquidbase tries to add the relation between them.

Sample JDL:
[code]

EDIT: looks like even a very simple JDL would fail with the same problems:
[code]

Output fro

[2016-04-02 04:06] #3312 closed

[2016-04-02 04:17] deepu105 commented on #3321
This is fixed in the current master. Will be released soon

[2016-04-02 04:17] #3321 closed

[2016-04-02 04:18] adam-ho commented on #3321
@deepu105 Thanks. Can you please point me to the commit/fix so I would understand the problem?

[2016-04-02 04:23] deepu105 commented on #3321
As you pointed the tables were not created when relationship was added. Now
the tables and relationships are on separate files and hence all the tables
will be created first and then relationships will be mapped. Sorry im on
mobile so cant fetch the commit now. You can check the closed PRs from me.
One for liquibase changelogs.

Simple JDLs should work and the sample JDL will work if the order of

[2016-04-02 08:22] bojanraic opened #3322 "Microservice API 403 error, JWT Invalid Signature on newly generated app"
##### **Overview of the issue**

API call from Swagger UI for a microservice API endpoint results in a 403 error.
JWT was generated and included in the header as  'Authorization: Bearer <JWTString>'

Generated token parses fine, header and payload info looks fine. But the signature seems to be invalid and 403 is thrown.

API Request via SwaggerUI:

`curl -X GET --header 'Accept: text/html' --heade

[2016-04-02 08:25] jvence commented on #3322
Did you make sure to share your gateway token with all microservices. This worked for me.

[2016-04-02 08:29] jvence opened #3323 "Setting up Ribbon's Connection timeout in microservice environment"
I'm trying to configure the gateway's zuul connection timeout and have added the ConnectTimeout parameter to the gateway's application.yml The ConnectTimeout timeout seems to be ignored. We need a way to specify this parameter.

[code]

One of my microservices is slow to return a response (and that's ok) so I'm seeing lots of error in the gateway log:

[code]

[2016-04-02 08:29] jdubois commented on #3322
Did you follow the documentation, on the JWT token? You need to have the same secret key on all servers.

[2016-04-02 09:14] bojanraic commented on #3322
Thanks for the quick reply. So if I am understanding this correctly, I should take the secret key from gateway and paste it into microservice's application.yml? I will try and reply later today.
Maybe this step can be a user prompt when creating a microservice.

[2016-04-02 10:05] jdubois commented on #3322
Or it should come from the JHipster Registry

[2016-04-02 10:11] gmarziou commented on #3322
Maybe we should add more instructions in the docs and at least a link to [spring cloud config server documentation](http://cloud.spring.io/spring-cloud-config/spring-cloud-config.html), the first way which is to copy the secret in all app's application-*.yml and the second way which is to share it through the registry are probably not detailed enough.

Personally, I prefer the second one and I wou

[2016-04-02 10:21] gmarziou commented on #3323
Please use stackoverflow for this kind of question as this is not a jhipster issue, it's a spring cloud configuration issue.
I did solve this at work on Thursday but I l aready forgot, your ribbon config is not at the right place I think it should be under zuul or something, if you don't find I will tell you on stackoverflow on Monday.

[2016-04-02 10:21] #3323 closed

[2016-04-02 10:48] gmarziou commented on #3323
Here is what I use to get it work:

https://github.com/spring-cloud/spring-cloud-netflix/issues/321

[2016-04-02 13:28] bojanraic commented on #3322
I can verify that after using gateway's secret in microservice app, everything worked as expected. Thanks to @jvence, @jdubois, @gmarziou for tips on this.
I definitely agree with Gael on providing a few more instructions for beginners in the docs.
In development though, to get things going quickly, one would think most folks would copy the gateway secret to all app(s).
Perhaps there could be an e

[2016-04-02 13:28] #3322 closed

[2016-04-02 14:01] jdubois commented on #3322
I thought this was already sent by the JHipster Registry automatically, by default, but I need to check this.

[2016-04-02 14:51] jdubois opened #3326 "Migration to Spring Cloud RC1 makes JWT token fail in microservices"
This is in the master branch, it looks like since we upgraded to the latest Spring Cloud RC1 the JWT tokens are not working anymore (for our 3.0.0 release we were using Spring Cloud M5).

This is because the "Authorization" header is viewed as sensitive (in the ZuulProperties), so it is not forwarded anymore to the microservices.

[2016-04-02 15:49] deepu105 commented on #3322
Yes its sent by registry automatically when we use the docker-compose sub
gen to generate a setup and run in docker. Not sure if it works if you run
things manually
On 2 Apr 2016 22:01, "Julien Dubois" <notifications@github.com> wrote:

[2016-04-02 16:38] gmarziou commented on #3326
I think it should be tested also with #3320 as we were pulling wrong version of some dependencies.

[2016-04-02 18:07] PierreBesson commented on #3307
@xetys Your PR is great. I agree that we should work on this in priority. I will be available to help you starting on monday. I am definitly following you here as you have more experience than I do.

[2016-04-03 07:36] jdubois commented on #3326
OK this is explained [here](http://cloud.spring.io/spring-cloud-netflix/spring-cloud-netflix.html) in the "Cookies and Sensitive Headers" section.
That's logical, and indeed I didn't like it that much that we fowarded the JWT tokens, in some cases it could be a security issue.
In our case, I don't think this can be a security issue, but of course this could be challenged.

Now we have 2 simple sol

[2016-04-03 10:13] jdubois commented on #3326
I believe this was coded by @spencergibb -> Spencer, we don't know each other, but I believe we will meet at Devoxx France in a couple of weeks (I'll look for you at the speaker's dinner). Could we have a talk about this?

[2016-04-03 11:42] jdubois commented on #3326
As a temporary solution I propose we use another header, like "X-JHipster-authentication"

- that quickly solves the issue in master branch, so we have still a working dev environment
- it works the same way as the v3.0.0 release (but with another header), so we don't lose much

Of course this should be discussed, if anyone has better solution?

[2016-04-03 13:18] gmarziou commented on #3326
Having an external and internal token/header could also bring some benefit: being able to use 2 gateways with different authentication types so you can be sure a token from one gateway cannot be used on the other one.

[2016-04-03 17:03] jdubois commented on #3326
@gmarziou good point!! I'm not really managing this here, but you'll see it's going to be easier to do with what I'm planning.

So here is what I'm planning to do:

- A new Zuul filter for handling an "internal JWT token" in a specific header
- If we are already using a JWT token, I'm just forwarding it to the new header, as there is no need to change it

As to reach this Zuul filter, you need to

[2016-04-03 18:42] xetys commented on #3326
i think there is some research to do, since Spring is referring zuul have special oauth2 solution built in inside. The documentation itself is telling about a built in access token relay, with an option to use the gateway as an Sso, which binds to spring session, and automatically forwarding tokens to the services behind.

it would suprise me, if the new release is really cutting in its own benefi

[2016-04-03 19:12] xetys commented on #3326
maybe #3329 helps with this?

[2016-04-03 21:35] srnm commented on #3326
I think you _should_ be able to override the default sensitiveHeaders value for all your routes:

https://github.com/spring-cloud/spring-cloud-netflix/blob/5d2065b3e764fcbbbba1d19994b983ea1c8de263/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/zuul/filters/ZuulProperties.java

"It's OK to remove those from the list if the downstream service is part of the same system as

[2016-04-03 22:34] xetys commented on #3326
@srnm the distinction is easily possible with oauth2.

I think the best solution is actually using this TokenRelayFilter in #3329, since it turns the gateway working as at M5. It may make sense to filter the authorization headers, if you don't use it, or a general bypass is acceptable, because the internal/uaa servers will check the headers by their own and fail properly on wrong headers.

But whe

[2016-04-03 23:12] srnm commented on #3326
@xetys I agree that TokenRelayFilter looks like a fix that works without having to wait for changes to Spring Cloud -- and avoids the more intrusive jh work-arounds proposed above.

[2016-04-04 00:46] srnm opened #3330 "regenerating a microservice entity in a gateway application creates entity in gw"
I'm still learning the corner-cases of the generators, but here's one that creates a problem if you generate the UI for a microservice entity in a gateway app, and later want to update the entity and the UI:

1. generate a microservice entity
2. generate ui in gateway app for microservice entity
3. re-generate entity in gateway app

The gateway app has no liquibase/domain/dto files for the microse

[2016-04-04 00:55] deepu105 commented on #3330
Could be a bug, will take a look when I find time. PR is welcome as well.
On 4 Apr 2016 08:46, "Steven Marcus" <notifications@github.com> wrote:

[2016-04-04 03:32] adam-ho commented on #3321
I was wondering how should we track this - this is actually an active bug and _will_ be fixed when you release a new version.
However, seeing active bugs in the current release would be more than beneficial - closing down like this just hides a severe bug that actually hinders using the whole platform.

[2016-04-04 04:59] deepu105 commented on #3321
@adam-ho the bug tracker is to track bug fixes and we normally close them when its fixed in master and not when its released, that's how its normally done in OSS projects else its difficult for us to see what needs to be focused on.

[2016-04-04 05:15] adam-ho commented on #3321
Well, unless you are writing code / fixing bugs solely for your own entertainment, I agree - do whatever you feel like at the moment.
However, if you are trying to help other people in any way, closing a bug that's actually not released isn't the best approach. If the downloadable version _always_ points to master then close it, because it's readily available to download. However, if it is not, yo

[2016-04-04 05:24] jdubois commented on #3330
Yes this is an issue !!! I also wanted to report it.

[2016-04-04 05:58] jdubois commented on #3321
@adam-ho we use Github milestones for that, not labels.
There is always a link on a release note listing to those tickets, but anyway the milestone number is the same as the release number.
Yes tickets are closed when the bug is fixed, that's how most people work, and that's even what Github pushes us to do: in fact our policy is to close a ticket automatically with the commit message using Github

[2016-04-04 07:33] jdubois commented on #3330
Ping @wmarques on that one -> I think we should store in the json file that the entity was generated from a microservice (and store the name of that microservice so we can re-generate the correct URL in the service)
That will be useful also for doing your tutorial, as you will want to re-generate your gateway when testing

[2016-04-04 08:03] wmarques commented on #3330
Oh didn't see that, I'm checking this thanks for the report.

[2016-04-04 08:33] fraf opened #3332 "Enchancement : use ReflectionToStringBuilder.toString method for toString() method in generated code"
I generated an entity named "Client".
The generated code was :

[code]

I can be easily replace by :

[code]

Note : I don't know if there is an equivalent in Guava librairy

[2016-04-04 09:13] gmarziou commented on #3332
I guess this was already discussed in another issue and the bottom line we don't want to use reflection for toString() as it can have some bad impacts on performance and also on hibernate lazy loaded fields.

[2016-04-04 09:15] #3332 closed

[2016-04-04 09:27] fraf commented on #3332
You're right for lazy loading. But this kind of log is only for debug doesn't it ?
In this case, we don't care of performance.

[2016-04-04 09:52] PierreBesson opened #3333 "Add an option to report Spring "public" metrics to Dropwizard"s metrics registry"
Currently, we have dropwizard metrics reporting in place. Then they can be reported to the logs, graphite, jmx, spark, etc...

However, this setup is not reporting the metrics provided by Spring Boot Actuator. This might not be a problem for monoliths as Dropwizards provided metrics are usually better than the default Spring Boot ones. However I am currently trying to get reporting for circuit bre

[2016-04-04 11:02] deepu105 commented on #3321
@adam-ho that's a bit harsh. If I wanted entertainment I wouldn't be spending endless hours coding stuff so that others like you can spend less time writing code. Do realize that we are not making a penny out of all these so before you criticize try atleast not to be harsh.

If you are not familiar with how the OSS world works I would recommend you to start contributing to one to understand. Certa

[2016-04-04 11:27] gmarziou commented on #3333
Interesting, have you seen a way to measure the volume of data going through a gateway per service?

[2016-04-04 11:41] adam-ho commented on #3321
@deepu105 I think we are diverging from the main problem here. On the other hand, I'm not too sure I can agree that all OSS projects considering something "fixed" when they merge to master. For instance Ubuntu tracks accurately which versions have the problem and which ones have already received the fix.
My view is that this type of organised work is unavoidable if you have more and more contribut

[2016-04-04 12:19] #3330 closed

[2016-04-04 12:31] deepu105 commented on #3321
@adam-ho unfortunately we cannot change how we work for each and everyone wish. we have a team and board where we decide policies and practices and this is what we have decided to follow for the sake of all and we haven't had issues with this way so far and it works for us. I should have been clearer when I meant "most of OSS" i was talking about most of the OSS in Github and that's why github has

[2016-04-04 12:34] #3311 closed

[2016-04-04 12:46] gmarziou commented on #3332
toString() is also used by slf4j for logging

[2016-04-04 13:20] MathieuAA commented on #3321
@deepu105 Of course. However, it worked great when I tested it last time (after v3 if I'm not mistaken). If it doesn't work, then this could be a regression. I'll look into it tonight! Thanks for filling me in.

@adam-ho I don't there's much to add now, is it? The only thing I can think of is that the entity declaration order doesn't matter at all, and neither does the relationship declaration ord

[2016-04-04 13:49] cbornet commented on #3318
I guess your allowed-origin is "*", not "". Same for your allowed-headers ?

[2016-04-04 14:54] jvence commented on #3318
Yes "*" on both. Copy and paste messed up somehow.

[2016-04-04 15:57] cbornet commented on #3318
The response body contains "Invalid CORS request" which comes from [here](https://github.com/spring-projects/spring-framework/blob/v4.2.5.RELEASE/spring-web/src/main/java/org/springframework/web/cors/DefaultCorsProcessor.java#L110). Could you try setting a breakpoint and check how you got there ? And also understand who rejected : the gateway or the app ?

[2016-04-04 18:19] MathieuAA commented on #3321
@adam-ho I've just tested the app with JHipster UML v1.6.5 and JHipster v3.0.0, there's no error.
The sample's still valid. **Please answer my previous questions.**

@deepu105 I've not been able to reproduce the original issue, can you tell me more about it?

[2016-04-04 18:32] raphaelbrugier commented on #3288
Hi,

I've updated the Tatami project based on @pascalgrimaud proposal

- cassandra.yml => for dev, replication_factor=1
-- start a "migration" container running autoMigrate.sh. this script automatically run all the cql scripts from resources/config/cql
- cassandra-cluster.yml =>  for prod, replication_factor=3
 - add two scripts init-prod.sh and execute-cql.sh
 - like in your initial version, you

[2016-04-04 19:10] jdubois commented on #3321
Guys, I'm on holidays and I'm already tired of this... If you want to use the version in the master branch that's very easy.
Otherwise, this will be in the next version.

[2016-04-04 19:50] atomfrede opened #3334 "language generator broken"
##### **Overview of the issue**

Executing ``yo jhipster:langauges`` results in

[code]

##### **Motivation for or Use Case**

You can't add additional languages

##### **JHipster Version(s)**

3.0.0 (and in current master)

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

All defaults (monolithic app, maven)

##### **Entity configuration(s) `entityName.json` fi

[2016-04-04 19:55] pascalgrimaud commented on #3334
@atomfrede : not only latest master, it's v3.0.0

[2016-04-04 20:02] pascalgrimaud commented on #3288
seems good @raphaelbrugier !
Your PR is welcome! :smile:

It will impact the microservice, but it's minor, in my opinion.
We'll have to update like we did for mongodb => it can be done in a 2nd step.
Hope I will have time to do it

[2016-04-04 20:12] atomfrede commented on #3334
@pascalgrimaud Thanks, added the version information.

[2016-04-04 20:27] raphaelbrugier commented on #3288
Ok, so I'll prepare this.
I was about to do a separated pull request to first fix the app.yml linked to the wrong file. But I don't think it's worth it anymore?

Also, I'll need to update the documentation. What is your workflow to have the website synced with the implementation since they are two separated git repos?

[2016-04-04 20:31] pascalgrimaud commented on #3288
Little PR is better and easier to review, that's why I suggested 2 PR:
- one to improve cassandra docker-compose files
- another to improve docker-compose sub generator

About documentation, yes, it's another repo and need to be updated.
Julien will merge the updated doc when there will be a new release

[2016-04-04 21:15] gmarziou opened #3335 "JWT secret should be configured only in application-dev.yml"
##### **Overview of the issue**

In microservices apps, `jhipster.security.authentication.jwt` is currently configured in `application.yml`.
As we want to encourage using a different secret for dev and prod, it should be configured in `application-dev.yml`from value generated in `.yo-rc.json` and empty in `application-prod.yml`

##### **JHipster Version(s)**

3.0

[2016-04-04 21:55] raphaelbrugier commented on #3288
Ok, so I'll first do a PR with 3 separate DockerFiles + automatic migration and the documentation.

I'm not sure to understand what changes you expect on the docker-compose sub generator.
Are we talking about `https://github.com/jhipster/generator-jhipster/tree/master/generators/docker-compose` ?
How this generator different from the docker folder already generated?

[2016-04-04 21:57] gmarziou opened #3336 "Gateway should not proxy to microservice when token is missing"
##### **Overview of the issue**

When calling a microservice resource through gateway without a JWT token, the request is passed to microservice app that rejects it.
The request should be rejected by gateway.

##### **Motivation for or Use Case**

The purpose of the gateway is to protect the backend services from being accessed by unauthorized users even though the issue is minor because it's corr

[2016-04-04 22:38] sdoxsee commented on #3336
It would be safer if the token weren't in the angular app ( browser) at all and it was added to the request server-side. With the oauth2 implementation this shouldn't be a problem since the gateway will add the token and the browser only uses a session cookie.

[2016-04-04 22:48] gmarziou commented on #3336
I'm not sure to understand your comment, if the token was not in angular app, it seems to me that we would need to hold an http session on gateway, right?

[2016-04-04 22:56] sdoxsee commented on #3336
Yes, that's my understanding.

On Mon, 4 Apr 2016 6:50 pm Gaël Marziou, <notifications@github.com> wrote:

[2016-04-04 22:58] gmarziou commented on #3336
But we want the gateways to be stateless.

[2016-04-05 00:19] deepu105 commented on #3321
@jdubois @MathieuAA yes leave it. There is no issues in master.

[2016-04-05 00:23] sdoxsee commented on #3336
I guess we want the gateways to be stateless because we want to allow
multiple replicated gateways without the complexity of coordinating them
with hazelcast clustered http sessions or 'sticky sessions'. That's fair.
The angular spring oauth2 tutorial uses sessions (which is something that I
think is still on the roadmap). I might make sense to provide these two
alternative ways of handing gateway

[2016-04-05 05:25] deepu105 commented on #3321
I have corrected the JDL sample which started this thread in the first place so that it works in the current released version as well.

[2016-04-05 05:44] pascalgrimaud commented on #3288
I'm OK with this first PR. Thanks to you!

The docker-compose sub generator is used for microservices and generates a big docker-compose file to start the registry, the gateway and all microservices you selected
It's for lazy user :sleeping:

On master branch, you can choose a simple mongodb or in cluster mode => recently added by @wmarques
So to be consistent, we need to do the same with cassandr

[2016-04-05 06:57] adam-ho commented on #3321
@deepu105 I've tested it just now on the current release and doesn't work. Output below.
I've tried to move the Country element to the top but it will still generate the Location liquidbase change first, trying to add the relation to the non existing Country table.
The only fix I know of is to manually reorder the liquidbase files but it's very tedious...

[code]

The change scripts:

[code]

The

[2016-04-05 07:07] deepu105 commented on #3321
@adam-ho I have corrected and updated the sample already and tested it as well. on the JDL studio site you need click on the delete(trash icon) button on top right corner to load the new sample since you might have your old sample on localstorage.

The sample is this
[code]

which would have this order
[code]

[2016-04-05 07:13] MathieuAA commented on #3321
Warning, I'm going to promote my stuff.
If there's still an order issue, use JHipster UML as it has a scheduler that takes care of this kind of thing, and takes JDL files as input.
If you still have doubts about the generation order, reading the "Managing relationships" page of the wiki as it details everything. Note that this page should be deprecated in the next release (thanks for the great wor

[2016-04-05 07:24] deepu105 commented on #3321
@MathieuAA actually with next release onwards there wont be any more order issues so we can close that part (You can actually remove all that handling from JHUML actually :wink:

We dont have to remove the page we just need to remove the stuff that asks users to order entities (Oh and I need to remove the error msg from the entity sub gen as well :smile:  )

Now between us: Actually I was using JH

[2016-04-05 07:46] flam182 opened #3338 "REST API user management, regex on login too restrictive"
##### **Overview of the issue**

If you want to edit the **anonymousUser** (default user) you have this error :
`No message available`

It's because the regex in the rest api is too restrictive on the login

`    @RequestMapping(value = "/users/{login:[_'.@a-z0-9-]+}",`

Angular can't get the user information

##### **JHipster version**

Jhipster 3.0 version

##### **Entity configuration(s) `entit

[2016-04-05 07:46] adam-ho commented on #3321
@deepu105 We are using the exact same JDL, which doesn't work for me on the JHipster 3.0 release (downloaded a fresh one today).

I'm using the following command:
[code]

which results in the incorrect ordering of:
[code]

[2016-04-05 07:53] adam-ho commented on #3321
Actually it looks like as it's not deterministic. Wiping .jhipster and runnign again resulted two different orderings:
[code]

Then
[code]

[2016-04-05 07:56] deepu105 commented on #3321
Thats weird. Anyway Im not gonna spend more time on debugging something
which is no longer applicable (I meant the order which is no longer
applicable in master) so either you can get the latest master and work
(which is very easy, just checkout the master branch to a folder and do npm
link) else just the change the order in the master xml and continue

Thanks & Regards,
Deepu

On Tue, Apr 5, 2016

[2016-04-05 08:34] wmarques commented on #3288
Yes when one of the selected apps are using MongoDB, I ask an additionnal question to the user, to enable or not the "cluster mode". So I can pick the right services in the right YML file to generate the docker-compose file

[2016-04-05 09:05] wmarques commented on #3334
I'm checking this

[2016-04-05 11:08] atomfrede commented on #3334
What happens if the user has not selected ``i18n``? I don't know if the subgen checks this before and fails with an error.

[2016-04-05 11:19] andidev commented on #3334
@wmarques
The language generator should not ask for languages if the languages is provided as arguments. This is so that the client subgenerator can install languages.

@atomfrede
I don't think we do any checks for that. At least I did not think of it.

[2016-04-05 12:05] wmarques commented on #3334
@andidev Oh ok, but it seems that it always pass in the if block, so even if I run the subgenerator without arguments it doesn't ask me for the languages. I'll try to fix this

[2016-04-05 12:07] jvence commented on #3318
@cbornet I was able to find the problem (but not sure of the solution). The pre-flight rejection occurs at the gateway and not on the microservice. It fails because the CorsConfiguration config==null in DefaultCorsProcessor. The CorsFilter is initialized with the correct CorsConfigurationSource configSource (as specified in the application.yml) - Somehow the configuration is not passed along to Sp

[2016-04-05 12:13] wmarques opened #3339 "Karma test fails when importing an entity from a microservice"
##### **Overview of the issue**

When I import an entity from a microservice into a gateway, `gulp test` fails on all the karma tests, throwing `undefined` errors. So I can't run` mvn package`

Example of an error :
[code]

##### **JHipster Version(s)**

Last master

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

[2016-04-05 12:14] gmarziou commented on #3318
Is it really application.yml in src/main/resources/config gateway's folder or is it from the registry environment repository? Or even bootstrap.yml?

[2016-04-05 12:20] jvence commented on #3318
@gmarziou Not sure actually but I know that CorsFilter(CorsConfigurationSource configSource) is initialized with the correct parameters specified in WebConfigurer.corsFilter() which read the config from application.yml

[2016-04-05 12:25] jvence commented on #3318
Ok I solved the problem. The issue is that we need to specify the url for the microservice in the gateway's corsFilter configuration. So this is what the code in WebConfigurer should look like:

`
    @Bean
    public CorsFilter corsFilter() {
        UrlBasedCorsConfigurationSource source = new UrlBasedCorsConfigurationSource();
        CorsConfiguration config = jHipsterProperties.getCors();

[2016-04-05 12:28] andidev commented on #3334
I think currentLanguages needs to be removed from the if expression.

[2016-04-05 12:53] wmarques commented on #3339
My bad, I was trying to create an "Account" entity...
Sorry !

[2016-04-05 12:53] #3339 closed

[2016-04-05 13:08] #3334 closed

[2016-04-05 13:35] raphaelbrugier commented on #3288
Ok,

So for Cassandra, what would be the choices?
`cassandra-cluster.yml` vs `cassandra-opscenter.yml` ?

Because, `cassandra.yml` is intended for development only (with auto-migration).

@wmarques did you planned to work on that already?

[2016-04-05 13:42] pascalgrimaud commented on #3288
I think `cassandra-cluster.yml` should be the default choice

[2016-04-05 13:49] Panthro commented on #3278
actually the Authentication is a `UsernamePasswordAuthenticationToken`

so I'd suggest something like this:

[code]

[2016-04-05 13:50] #3245 closed

[2016-04-05 14:54] cbornet commented on #3318
@jvence so it seems the CORS filter on the microservice actually works but if you don't configure the one on the gw, you get a rejection by the gw. This is not right : if no CORS is configured on the GW, the GW shouldn't reject. Could you try to remove/comment the code for the CORS filter on the GW and activate the filter on the micro service only and see if that works ?

[2016-04-05 15:34] jdubois commented on #3288
No Opscenter by default, as Datastax is going to make it for-pay only.

[2016-04-05 15:41] raphaelbrugier commented on #3288
`cassandra-cluster.yml` as the default linked container in `app.yml` for prod ye.

My question was more about the choices offered to the user when running the docker-compose sub generator. Just wanted to highlight that `cassandra.yml` should not be proposed since it's intended for development only.
Sorry for the confusion.

[2016-04-05 16:57] raphaelbrugier commented on #3288
If you're ok, I'd like to include the following changes in the same PR:

- `yo jhipster:entity` should generate the `{time}_added_entity_{name}.cql` file in __resources/config/cql/changelog/__
 - similar to what is done for liquibase
 - I believe it will be more clear that the cql files in this folder will be automatically picked
- move the `INSERT INTO user_by_login ` queries from `create_tables.

[2016-04-05 17:27] jvence commented on #3318
@cbornet I tried that already (see comment 1 above). The CORS service on the microservice is never called because the call is blocked by the gw.

[2016-04-05 20:19] gbrehmer opened #3345 "stateParams missing after redirect from login page"
##### **Overview of the issue**
When accessing e.g. an entity detail page, where stateParams are available/required (e.g. the entity id), those params are lost, if user is not authenticated and must login first to access the page. The resulting url after successful login has no url param set and detail page can not load the required data (e.g. /entity/ instead of /entity/1). Root cause is that the

[2016-04-05 20:44] gmarziou commented on #3345
Thanks, could you please consider submitting a PR?

[2016-04-05 21:30] gmarziou commented on #3265
I failed to reproduce but I found another unrelated issue: after having generated the entity on gateway, the bower dependencies were not injected into the index.html because the entity sub generator did call only `gulp inject` and not `gulp wiredep`

[2016-04-05 21:41] gmarziou commented on #3265
Regarding this issue, I ran `mvn dependency:tree` and found guava as a dependency of springfox-swagger2 with same version that you added.

[code]

My environment is:

Ubuntu Linux 15.10
Oracle JDK 8u74
Maven 3.2.5

I also tried with maven wrapper: `.:mvnw` it also worked.

So, I suggest you try to cleanup your ~/.m2 local repo and/or run the maven wrapper, maybe your springfox pom is wrong.
You co

[2016-04-05 21:42] gmarziou commented on #3265
I'm closing it now and will re-open if someone else is able to reproduce it.

[2016-04-05 21:42] #3265 closed

[2016-04-05 21:49] gmarziou opened #3346 "Adding entity to gateway forgets to inject bower deps into index.html"
##### **Overview of the issue**

I created a new microservice named timeEntry with one Entity "timeEntry".

After that i created a new gateway application, linked to the "timeEntry" Entity in the microservice and try to start it via mvn spring-boot:run. The browser console showed many javascript errors like "undefined angular".

##### **Motivation for or Use Case**

Gateway App does not start

###

[2016-04-05 21:50] rjain-pivotal commented on #3322
1. Created in the registry's environment's (central-config/application.yml, application-dev.yml and application-prod.yml)
2. Copied in all the three files  jhipster.security.authentication.jwt.secret

E.g.

configserver:
    name: JHipster Sample Spring Cloud Config
    status: ${spring.cloud.config.uri}/${spring.cloud.config.label}/${spring.cloud.config.name}-${spring.cloud.config.profile}.yml/

[2016-04-05 21:55] gmarziou commented on #3322
Yes you copied the key under configserver: , it should be like this

[code]
or using indentation

[code]

[2016-04-05 22:24] rjain-pivotal commented on #3322
worked, when I had the config with the indentation
jhipster:
    security:
        authentication:
            jwt:
                secret: "8b1f3142324a44623588d9ce3d1b79e0fd1bc244"

Thanks

[2016-04-05 23:16] rjain-pivotal opened #3347 "Microservices application with JHipster Cloud Registry does not work on Cloud Foundry"
##### **Overview of the issue**
Pushing a microservices app with JHipster Spring Cloud Registry doesn't work on Cloud Foundry

##### **Motivation for or Use Case**

Followed the instructions in the documentation, maybe there is a missing step.

##### **JHipster Version(s)**

3.0.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

  "generator-jhipster": {
    "j

[2016-04-06 00:33] deepu105 commented on #3346
But generating a gateway should have already run gulp install which calls
wiredep and all required steps. gulp inject is called to add only newly
created js files. So the issue seems to be something else. When you
generated the gateway fisrt without any entities did it work?

Thanks & Regards,
Deepu

On Wed, Apr 6, 2016 at 5:49 AM, Gaël Marziou <notifications@github.com>
wrote:

[2016-04-06 00:40] #3336 closed

[2016-04-06 01:04] deepu105 commented on #3257
OK so I was just playing around and this actually works as expected, so you of course can generate entities on a generator based on what version you used to create it

By default NPM will use the local instance of the generator in the node_modules folder

1. install Jhipster 2.x with `-g`
2. create an app with that and run `npm i` on it
3. install Jhipster 3.0 with `-g`
4. create an app with that

[2016-04-06 02:22] deepu105 commented on #3346
I couldnt reproduce this, it works fine for me on windows. is there anything you did differently or this could be random issue similar to the protractor tests failing

[2016-04-06 03:37] ruddell commented on #3338
The regex for a User's login is also set in UserDTO

[2016-04-06 08:21] wmarques commented on #3338
What's the point of doing a regex for this ? Shouldn't we only do a regex to validate the username in the registration ?

[2016-04-06 08:26] jdubois commented on #3338
The regexp is because there is an issue with Spring MVC if you use a "." -> that's because if you call "user.json", Spring MVC by default will send you the user in JSON format. The issue is when your username is "julien.dubois"....
At the moment the regexp validates also that the username is in lowercase, but indeed this is isn't useful.
So this looks good to me, can you do a PR?

[2016-04-06 08:28] jdubois commented on #3347
Your title is a bit misleading: it does work, I do it all the time.
However, you need to point to your registry in your application, and maybe the documentation is not clear enough on this point.

[2016-04-06 09:12] gmarziou commented on #3346
I'll try again and let you know.

[2016-04-06 09:32] khouloudkhadija opened #3348 "Creating a microservise jhipster entity having a realtionship with the gateway user entity"
I want to generate a jhipster microservice entity having a relationship with the user entity but this seems not possible since the user entity does not exist in the jhipster microservices application. How can I deal with this problem.

[2016-04-06 10:20] sparun160782 opened #3349 "Not able to start the project after creating the custom entties"
Hi All

##### **Overview of the issue**
I have created an application with help of JHipster, it was fine while initial start of the application.

After creating the custom entity I have encountered 2 issues

##### **JHipster Version**  - 3

**First Issue ::** Not able to find the entity in the classpath the exception given below but this issue has been cleared by cleaning the project

[code]

**Se

[2016-04-06 11:24] jdubois commented on #3348
That's not possible, as the entity is "somewhere else".
What you could do is have a "userLogin" column in your microservice. Of course you wouldn't have a "foreign key" on that login, so you could have consistency issues.

[2016-04-06 11:24] #3348 closed

[2016-04-06 11:41] khouloudkhadija commented on #3348
In my case I created a maven parent project regrouping my microservices and my gateway, so I  thought to extract the database gateway files , so that these file can be seen by all microservices, is it possible to do it ??

[2016-04-06 12:13] gmarziou commented on #3349
@sparun160782 images of your config are useless, please replace them by text so that we can try to reproduce your problem.

Closing until you provide this information

[2016-04-06 12:17] ramjamram commented on #1503
Were you able to deploy Jhipser to Heroku? I have been reading that typical slug file of Jhipster exceeds the maximum slug size allow in Heroku. Do you mind telling me how big was the Jhipster slug file deployed to Heroku?

[2016-04-06 12:23] PierreBesson commented on #3333
On the advice, of one of my colleagues who knows a lot about monitoring, I would be tempted to take all metrics from JMX directly and then use [JMXTrans](https://github.com/jmxtrans/embedded-jmxtrans) to reports those metrics to either logs (for analysis in Kibana), graphite or statsd (redirecting to a TSDB like influxdb for analysis in Grafana).

I have been able to see Circuit Breakers here:
![s

[2016-04-06 12:24] gmarziou commented on #3348
Not with current design.

You must remember that this is the idea behind microservices architecture: each service has its own database. As an example you could also imagine that your access control in gateway could be based on an external service that may store users in an LDAP directory or UAA or KeyCloak.

With current design, microservices have access to user's login and roles through the decry

[2016-04-06 13:51] gmarziou commented on #3322
@rjain-pivotal then please accept my answer on SO

[2016-04-06 14:08] deepu105 commented on #3349
we will reopen once you provide the information in usable format (text)

[2016-04-06 14:22] rjain-pivotal commented on #3347
Yes, I should say, doesn't work as documented. The document needs to be updated. Thanks!

[2016-04-06 14:54] jdubois commented on #3347
In fact I think it's different depending on how you launch the registry.
I need to check this to be sure.

[2016-04-06 16:32] cbornet commented on #3318
@jvence I don't see why the gw would block the call if you completely remove the filter (not just disable in conf but completely remove the code in WebConfigurer.java)

[2016-04-06 17:07] twelve34 opened #3353 "Wrong response authentication request when use JWT"
##### **Overview of the issue**

When using JWT authentication and using the wrong credentials a "401 Unauthorized" is replied, sounds oke, but the body is the text _Bad credentials_ and the response header _Content-Type:application/json;charset=UTF-8_

The angular frontend is parsing it as json which results into:

[code]

##### **Motivation for or Use Case**

##### **JHipster Version(s)**
3.0.0

[2016-04-06 17:53] sparun160782 commented on #3349
Hi All

I have given the required format could you please provide your suggestions

[2016-04-06 19:18] ddewaele opened #3356 "[FEATURE] frontend-maven-plugin - A better alternative for yeoman-maven-plugin ?"
##### **Overview of the issue**

At the moment, [yeoman-maven-plugin](https://github.com/trecloux/yeoman-maven-plugin) is used to handle the frontend packaging for the production profile.

Although it works it has some shortcomings :

- It depends on an existing installation of node/npm on the system
- It is impossible to choose a specific version of node/npm
- It is not really actively maintained

[2016-04-06 20:27] jdubois commented on #3356
Oh yes, at the beginning of the project we tried it with the help of @eirslett -> we had a few issues with proxies (which should be corrected now), so we can definitely have a look at migrating to this plugin again.
I agree it is more actively maintained and has more traction.

[2016-04-06 20:43] ddewaele commented on #3356
I'm testing it right now (locally and on Jenkins).
There's also a Gradle plugin that does something similar : https://github.com/srs/gradle-node-plugin

I'll post my findings here.

[2016-04-06 20:45] ddewaele commented on #3356
I'm guessing that during the ```prod``` packaging you want to do a controlled

- npm install
- bower install
- gulp build  --no-notification

Is that correct ?

[2016-04-06 21:24] ddewaele commented on #3356
Just did a maven release with  ```-Pprod``` and the frontend-maven-plugin on our Jenkins.

It worked fine, but the build (a simple jHipster 0.30.0 app with 4 entities) took 17minutes. Reasons being :

1. Releasing via maven includes the prepare step, so it will always double your build time.
2. npm install takes a long time (and needs to be executed twice when performing a release)

I noticed in t

[2016-04-06 21:36] gmarziou commented on #3356
Have you tried using nvm?
It works well in Jenkins, just add an initial step to select the node version you want using 'nvm use 4.4.2'.

[2016-04-06 21:49] ddewaele commented on #3356
@gmarziou

No, I didn't find ```nvm``` on the machine. (someone did try to install nvm using npm but I guess that's [not the same nvm we're talking about](https://github.com/creationix/nvm/issues/304)).

- Do I need to get nvm onto the jenkins server somehow ? (using ```curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.0/install.sh | bash```)
- Is there a jenkins plugin that takes ca

[2016-04-06 23:03] gmarziou commented on #3356
Yes

No

Yes with a single line.

Your understanding is correct.

nvm is mostly used for setting up your dev environment but I have used it successfully with Jenkins to build an Ionic app which is a more complex task than building a JHipster angular app.

I'm OK with switching to another plugin as long as it does not increase build time.

With [Nexus 3](https://support.sonatype.com/hc/en-us/articl

[2016-04-06 23:59] ddewaele commented on #3356
@gmarziou  It's an interesting discussion ...  unfortunately you need to perform an ```npm install``` if you want to make gulp available locally.

There is a [huge dependency tree] (https://gist.github.com/ddewaele/0c64cc89447bd9f5e65ae176def0aa35) in the jhipster package.json that takes > 6 minutes to download.

The current ```yeoman-maven-plugin``` also does an ```npm installl``` so I'm guessing

[2016-04-07 00:08] buminda commented on #1185
Yes, as commented putssander , adding the following line to initial_schema.xml will solve the issue,

<property name="autoIncrement" value="true" dbms="mysql,h2,postgresql,oracle,mssql"/>

"Cannot insert the value NULL into column 'event_id'. for mssql server.

[2016-04-07 00:09] gmarziou commented on #3356
I don't like the `clean` goal of JHipster pom that deletes` node_modules` folder, so first thing I do is to remove this after I generate a new project.

My Jenkins build takes about 5 minutes.

I read somewhere that Nexus's npm registry cache could reduce by 30% the duration of your  `npm install`phase but I suppose it depends on how slow your internet connection is.

[2016-04-07 01:24] deepu105 commented on #3356
IMO jhipster or the generated apps maven/gradle build should not be
responsible for maintaining the run time environment.
For example the maven build downloads its dependency once and uses the same
for a local prod build and if you run it in a CI where every build starts
on a clean VM/folder, like our travis builds, it downloads the dependency
again.

So there is no special handling for local buil

[2016-04-07 05:17] #3345 closed

[2016-04-07 06:03] gmarziou commented on #3356
Deepu, I really think maven does clean it in prod profile, look here:

https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_pom.xml#L1069

[2016-04-07 06:15] lluiscanals commented on #3356
Yes, I can confirm too, I have to comment those lines in pom every clean in prod profile in order not to delete the node_modules folder, this change can be exported to 2.27.2 too.

[2016-04-07 06:16] deepu105 commented on #3356
@gmarziou you are right I checked on dev profile. I dont understand why its done, what is the need to delete node_modules folder for mvn clean? I dont think we should do it

[2016-04-07 06:22] gmarziou commented on #3356
I agree, is it the same for gradle?

[2016-04-07 06:24] deepu105 commented on #3356
Gradle doesnt do this

Thanks & Regards,
Deepu

On Thu, Apr 7, 2016 at 2:22 PM, Gaël Marziou <notifications@github.com>
wrote:

[2016-04-07 06:26] ddewaele commented on #3356
The new plugin IMHO can be fully backwards compatible with what you currently have.

The only issue I have with the current setup is that it requires software (npm / node) to be available on the system and that it is not controlled by the pom.xml

@deepu105  There can be argumants for and against cleaning ```node_modules``` in a prod profile.

- If you don't delete it, and let your CI do an ```npm

[2016-04-07 06:43] kkorada opened #3358 "[ENHANCEMENT] Re-factor code in AccessControlFilter.java"
##### **Overview of the issue**

Unnecessary looping in code when endpoint is found to be not authorized

##### **JHipster Version(s)**

verison 3.0.0

##### **Suggest a Fix**

terminate the loop when it is found that endpoint is not authorized

find the code below

`public boolean shouldFilter() {
        String requestUri = RequestContext.getCurrentContext().getRequest().getRequestURI();

[2016-04-07 06:47] ddewaele commented on #3356
@deepu105  I'm getting the following numbers on a clean install with the yeoman plugin. Are you getting the same results ? Not deleting node_modules speeds things up a little bit, but still majority of the time is lost in the npm install step) :

| mvn command        | time           | remarks  |
| ------------- |-------------:| -----|
| ```mvn clean install```      | 00:34 min | Here node_modules

[2016-04-07 07:23] deepu105 commented on #3356
@ddewaele IMO if in CI you want the node_modules to be deleted that should be task in your CI to clean up the folder before running `mvn` . I don't get your point of semver not updating if there is an existing node_modules folder. IMO its just a waste of time to delete and re download the internet again for builds and given the the npm modules are just a dev dependency in a Jhipster app it doesn't

[2016-04-07 07:25] deepu105 commented on #3358
can you do a PR?

[2016-04-07 07:46] Infrag commented on #2531
Shouldn't Jhipster generator disable Cucumber when I choose maven and vice versa?

[2016-04-07 07:54] gmarziou commented on #3356
@ddewaele IMHO we don't have these issues with `node_modules` because we use exact versions for our deps  in our package.json, so there should not be semver interpolation.

[2016-04-07 07:55] pascalgrimaud commented on #2531
don't comment an old ticket
this issue has been resolved

[2016-04-07 08:00] gmarziou commented on #3356
Also if you want you can also run `npm prune{ to remove unneeded deps from  node_modules

[2016-04-07 08:05] ddewaele commented on #3356
@deepu105 with the semver issue I'm just referring to reproducible builds. An update to gulp for example that gets pulled in via semver could in theory generate a different build. If you keep node_modules around an npm install will never update it.  Someone else (a developer, or a different CI node) that starts with clean node_modules will get the updated gulp dependency and could generate a diffe

[2016-04-07 08:24] kkorada commented on #3358
yes

[2016-04-07 08:25] gmarziou commented on #3356
Someone made a mistake, it should be replaced by "0.4.3" as this our project rule.

[2016-04-07 08:41] ddewaele commented on #3356
@gmarziou : Correct. But that still won't prevent the possibility of updated transitive dependencies (with semvers) getting pulled in I think. For that you would need to [npm shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap) your dev dependencies.

[2016-04-07 08:43] gmarziou commented on #3356
Correct, but cleaning the node_modules does help either.

[2016-04-07 09:00] ddewaele commented on #3356
Correct ... Perhaps

- removing the node_modules from the clean goal in the pom
- introducing a shrinkwrap for the package.json

might also be an interesting feature. (not related to this one).

[2016-04-07 10:19] jgoldhammer opened #3362 "RateLimitFilter will not work for proxied requests"
##### **Overview of the issue**

The built-in Ratelimitfilter tries to limit number of requests and tries to determine the ip of the client.
https://github.com/jhipster/generator-jhipster/blob/6db557c0aab25d859dc63eae15db80d5b9783fb6/generators/server/templates/src/main/java/package/gateway/ratelimiting/_RateLimitingFilter.java#L90

This method will not work for proxies. When using a proxy, the re

[2016-04-07 10:29] gmarziou commented on #3362
Good point.

However I doubt this implementation would work in all cases as X-Forwarded-For is a multiple value header, if use goes through 2 proxies, header will contain 2 Ip addresses separated by commas.

[2016-04-07 12:03] jdubois commented on #3362
Yes, you are correct, but:

- The idea is that our gateway IS the gateway. It's an edge server, a proxy.... Putting another proxy on top of it is *strange* and can only cause performance and resiliency issues. I'm not saying it's bad, I have a customer doing this, I'm just saying that's not optimal.
- Then, if you want to put another proxy on top of our gateway, yes you will have that issue: but i

[2016-04-07 12:33] ddewaele commented on #3356
To conclude :

- I see added value, making jHipster less dependent on external installations
- Works with Gulp and Grunt
- I think there is no speed degradation by switching to [frontend-maven-plugin](https://github.com/eirslett/frontend-maven-plugin). The only added step is the download of node/npm. (usually a one-time operation).
- The changes will be limited to the pom.xml. No other impact that

[2016-04-07 15:58] deepu105 commented on #3356
We do not have grunt anymore.
I still dont see how downloading node_modules for each build is gonna help,
if a transitive dependency update is gonna change the build output then its
an issue that needs to be fixed IMO and thats gonna happen in either case
with or without node_modules present so there is no real difference here.

And I definitely wouldn't want my node_modules deleted and downloaded

[2016-04-07 16:19] ddewaele commented on #3356
@deepu105 : we don't need to download node_modules for each build (it's already removed from the pom.xml in a commit from @gmarziou )

[2016-04-07 16:28] gmarziou commented on #3356
Looks good but there is yet one thing I don't understand, I can see that it installs node and npm, runs gulp but when does it install bower and run `bower install`?

[2016-04-07 16:30] ddewaele commented on #3356
@gmarziou It can do bower install, but I thought that was part of the jhipster bootstrap ? (executing bower install and checking in the bower dependencies).

I assumed developers run that manually, check in their bower file + bower_components artifacts.

[2016-04-07 18:05] gmarziou commented on #3356
OK, in my case I add `bower_components` to `.gitignore`, as long as the lugin lets me run `bower install`, I'm fine.

[2016-04-07 18:08] gmarziou commented on #3362
I am in same case, I use nginx to hold the virtual hosts and TLS certs.

[2016-04-07 18:14] ddewaele commented on #3356
@gmarziou  Are you currently using the yeoman-plugin to execute bower ? If so can you provide me a snippet ? I'll verify that it runs ok with the new frontend plugin.

By default jHipster only executed gulp

[code]

[2016-04-07 21:14] gmarziou commented on #3356
By default, yeoman-maven-plugin runs `bower install --color`, no need to configure anything in pom.xml

https://github.com/trecloux/yeoman-maven-plugin#launched-commands-default-setup

[code]

[2016-04-07 21:38] gmarziou opened #3364 "Log statements with stack trace get truncated due to Logstash 8 KB limit"
##### **Overview of the issue**

When app logs an exception stack trace and the JSON encoded log statement is larger than 8 KB, Logstash is confused and truncate the statement resulting in invalid JSON fragment.

This limit is the default one in Logstash: https://github.com/elastic/logstash/issues/1505

##### **Motivation for or Use Case**

Logs with exceptions are very important and should contai

[2016-04-07 22:10] ddewaele commented on #3356
Added and tested the bower install. Works fine.
PR here : https://github.com/jhipster/generator-jhipster/pull/3365
Feedback welcome

[2016-04-07 22:18] gmarziou commented on #3356
Thanks for the PR, I added a comment and few remarks below.

`/node/**` and `/node_tmp/**` should be added to  `.gitignore`, it also created an empty `/etc` which did not exist with current plugin.

The way this plugin works adds some risk because it uses same `node_modules` as in dev, except that the installed npm for dev could be a different version than the one configured in pom.xml. I know tha

[2016-04-07 22:34] ddewaele commented on #3356
```/node/***``` was already in gitignore. didn't see the ```node_tmp``` but added it.
Just did a test and had a build success. Also tested the WAR.

I think ```npm``` and ```node_modules``` are very much tied into where package.json is located so that will be difficult to change. Might also be better to development against the same versions of node/npm/.... that your CI or build system is using.

[2016-04-07 22:52] gmarziou commented on #3356
node_tmp is created only temporary and deleted as soon as node got installed but I don't know if it could stay in case of error.

I agree with you about npm and node_modules, if it appears to be a problem we could warn the user at the time the project gets generated. However, plugin has a pending PR to fix such issues with recent npm 2: https://github.com/eirslett/frontend-maven-plugin/issues/328

[2016-04-07 22:57] ddewaele commented on #3356
There is a [gradle-node-plugin](https://github.com/srs/gradle-node-plugin) that does something similar. We would need to check if it covers everything (including bower), but everyone is telling me that Gradle is far more flexible than maven so that shouldn't be much of an issue :)

There's still a Travis build error that I need to look into.

[2016-04-07 23:03] gmarziou commented on #3356
Wondering whether Travis builds will be significantly slower if they have to download node

[2016-04-07 23:05] gmarziou commented on #3356
For debugging Travis builds, it's faster to run them locally using https://github.com/xetys/jhipster-travis-helper

[2016-04-07 23:07] ddewaele commented on #3356
It's a 12MB download... shouldn't be too bad, considering you're already download half the internet with maven and npm :)

Think Travis doesn't like node 5. think it will be ok now

[2016-04-07 23:25] ddewaele commented on #3356
ok ... Not sure why this test would fail in that last module. (other modules also execute that test I guess)
[code]

Will take a look tomorrow.

[2016-04-07 23:40] madhurranjan opened #3366 "Is the job pattern supported? [FEATURE]"
I'm not sure if this is a Feature or not but I'd like some help on how to model the use case in jhipster for long running jobs where typically I'd receive a job Id and then poll the Job Id till it finishes OR provide a callback URL to the job so that it can make a call to the callback URL with the results. I'm running the latest master.

[2016-04-08 01:39] deepu105 commented on #3356
Guys plz dont merge yet.
Let mes test this and see.

We shouldn't jump the gun from jhipster perspective for below reasons and
we should calculate all the pros and cons.

1. All the arguments of installing and doing npm part for clean builds will
apply 100% to a node platform project where code is build and deployed in
node, but in our case its a java project and the node toolchain is only
used to

[2016-04-08 01:41] deepu105 commented on #3366
Please use stack overflow with jhipster tag for these kind of questions

[2016-04-08 01:41] #3366 closed

[2016-04-08 05:36] ddewaele commented on #3356
Like you say jHipster is a java project, yet we still expect people and CIs to setup the node toolchains themselves. The ability to not only control but also to offer that node toolchain from the java project (pom/gradle) to me is very powerful.

"should exactly be the same" being the keyword here. If you have a team of developers that are running different versions of node/npm , and a CI server t

[2016-04-08 05:54] deepu105 commented on #3356
I do like the idea of providing the environment from the pom/gradle and
thats a good feature, but it shouldn't be redundant.  In the sense if i
already have node and npm installed it should skip that step and if i have
node_modules installed it should skip that.

We can recommend a node/npm version but we shouldn't force one IMO
On 8 Apr 2016 13:36, "Davy De Waele" <notifications@github.com> wrote

[2016-04-08 07:34] gmarziou commented on #3356
If we don't want to support it, there could be alternatives:

- instructions in tips section
- having both plugin and the new one enabled by a CI profile

[2016-04-08 07:39] jdubois commented on #3356
And I remember last time we tried this plugin, we had issues with corporate firewalls etc, so we need to check all this.
I have lots of customers using JHipster behind proxies, and that works well as we use node/npm/bower normally -> I don't know what this changes here, this must be checked.
I don't have the time to work on this for the next few weeks: I'm currently on holidays, and then there's D

[2016-04-08 08:02] gmarziou commented on #3356
There's no emergency, I can run some tests next weeks behind a firewall.

In fact, I'm not happy with Jenkins Node plugin, so I plan to use this plugin instead for Jenkins only with a maven profile, I can see a major benefit to it: now I can specify node environment for CI in pom and version it in git which is currently not possible with Jenkins 1.x

[2016-04-08 08:03] ddewaele commented on #3356
I'm not in a hurry to get this merged. But I think it could benefit jHipster users.

I was confused by the [CI docs](http://jhipster.github.io/setting-up-ci-linux/) fact that it instructed users to first install a NodeJS version through the Jenkins NodeJS plugin, and then told users they could do a ```wget http://nodejs.org/dist/v$NODE_VERSION/node-v4.3.1.tar.gz`` and put that in the jenkins profi

[2016-04-08 08:07] gmarziou commented on #3356
This doc is wrong, you don't have to install both, these are just alternatives.
I will fix it.

[2016-04-08 08:44] deepu105 commented on #3356
I think we could have a CI profile switch to activate this part as well, so
that all this extra installs and stuff happens only on CI and not on normal
local runs

Thanks & Regards,
Deepu

On Fri, Apr 8, 2016 at 4:07 PM, Gaël Marziou <notifications@github.com>
wrote:

[2016-04-08 09:39] #3358 closed

[2016-04-08 09:40] #2924 closed

[2016-04-08 09:40] ouyangshixiong commented on #3308
Thanks @jdubois , this feature is just what i want.
I have tried to config self defined ehcache follow this guide : [https://spring.io/blog/2015/06/15/cache-auto-configuration-in-spring-boot-1-3](url)
Unfortunately, I think jhipster(2.27) can not support this feature.

[2016-04-08 09:51] PierreBesson commented on #3308
@ouyangshixiong, right now, we are lacking resources to develop better cache support. You are welcome to contribute :smiley:.

[2016-04-08 13:01] kenkyee commented on #1283
Will it be as simple as adding an Angular2 generator?  And if so, why isn't one being done already?

[2016-04-08 14:44] lourai opened #3367 "[Elasticsearch] adding Elasticsearch specific annotation to field's domain classesc"
##### **Overview of the issue**

We're using more and more Elasticsearch with great results, but we have still need some workaround to deal with "special" string containing dash "-".

##### **Motivation for or Use Case**

In ES, search terms are dash-splitted, so that when you need to get some exact search on some code or UUID type string, it failed.

See https://www.elastic.co/guide/en/elasticsea

[2016-04-08 15:39] wmarques commented on #3338
I did this [here](https://github.com/wmarques/generator-jhipster/commit/771c96fcb7237448bca189483a3f08cfaacf5b5b) but I've got a problem : when I try to login with a capslocked user, like USERTEST, it throws me a 401 error bad credentials but I'm sure that I'm using the right ones and i couldn't find where this come from...

[2016-04-08 17:07] gmarziou commented on #1283
Maybe because it's hard work and we're only volunteers...

At work (not JHipster) we've started making a prototype based on angular 2 and typescript, this is a big change by itself. We tried angular-material 2 but abandoned it as it is far from being usable now, we also tried polymer but found we've had enough on our plate with ng2 to add more learning curve.

[2016-04-08 18:27] kenkyee commented on #1283
Is there an "Idiot's Guide to Writing a JHipster Generator" doc?
Most of the docs seem to be for using JHipster...

[2016-04-08 19:03] gmarziou commented on #1283
It depends on what you want to do.

For the generator itself, we have a [contributing guide](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) and of course the [yeoman docs](http://yeoman.io/authoring/).

Now if you want to build something simple, you can create jhipster module: https://jhipster.github.io/modules/creating-a-module/

[2016-04-08 20:00] ddewaele opened #3368 "[FEATURE] Replace static dev ribbon image with a dynamic CSS based non-prod ribbon"
Context :

- Currently jHipster has a static development ribbon image that is displayed when initially running with the dev profile
- When building with the -Pprod profile, at build time Gulp ensures that the development ribbon is removed.
- (doubt) I think that at that point the ```app.constants.js``` is modified and can never be generated to get the development ribbon back (you need the -Pdev pr

[2016-04-08 20:13] gmarziou commented on #3368
Good idea.

Another benefit of using CSS is that we could translate it in all languages we support.

Could you clarify how you would switch between profiles? I imagine doing it server-side maybe using Thymeleaf for injecting profile as a template variable.

[2016-04-08 20:34] ddewaele commented on #3368
Possibly, need to look at the specifics. It's only on the index page and that's only loaded once normally ...  will draft a proposal here this weekend. But need some r&r now :)

[2016-04-09 02:09] deepu105 commented on #3368
I also did this in one of my project, I had a simple rest controller which
would return active profiles and this endpoint was not protected so that it
is available all the time, and had a directive and service which would use
this to set the ribbon text. But i didn't consider it a very clean solution
and that's why didn't add it to the generator itself.
On 9 Apr 2016 04:34, "Davy De Waele" <notifi

[2016-04-09 05:04] gmarziou commented on #3368
Yes this may be the ricky parts and also what to display when there are multiple profiles active at same time.

Anyway, even with only the CSS paft, we would benefit from i18n.

[2016-04-09 06:30] deepu105 commented on #3356
Ok so I went through this in detail and here is my view

1. I like the way current plugin works, its more flexible and doesnt force anything(like node install, npm install etc)
2. Im OK to change to the new plugin if it can do the same process as the old plugin by default in the same runtime (I cannot accept a build which takes around 7 min)
3. for your use case @ddewaele I suggest adding another

[2016-04-09 08:46] ddewaele commented on #3356
1. You can configure the new plugin to behave exactly the same as the previous one. I don't think it forces you to do anything.

I don't understand why you think the current one is flexible.

- You can't even turn off the bower / npm install in the current plugin.
- For every tool it runs it will do 2 completely seperate build / test runs (where often those can be combined in one shot)

I would re

[2016-04-09 08:54] deepu105 commented on #3356
@ddewaele As I said I dont mind which plugin we use, so as said Im ok to use the new one if its better.

when I said flexible I was referring to the way we use it currently in the sense it uses whatever is globally installed and locally used in node_modules. Sorry I should have used a better word than flexible.

[2016-04-09 08:56] deepu105 commented on #3356
also I hope this plugin will use the npm proxy settings if any??

[2016-04-09 10:42] deepu105 commented on #3367
This is a very specific use case and yes I agree that many might have this, but we simply cannot have this option in the entity sub generator. So Im sorry.

But this could be something that can be done via JDL, so if @MathieuAA thinks this is doable in JDL may be we can support it as well.

Btw @MathieuAA this would make a good candidate for field level annotation in entity

Im closing this for no

[2016-04-09 10:42] #3367 closed

[2016-04-09 11:02] deepu105 commented on #3349
@sparun160782 you are trying to do a one way `one-to-many` relationship from parent and school to student. we do not support one way relationships out of the box check [docs here](https://jhipster.github.io/managing-relationships/#a-name3a-a-unidirectional-one-to-many-relationship)

I suggest you do a bi directional mapping

[2016-04-09 11:02] #3349 closed

[2016-04-09 11:05] deepu105 commented on #3353
@twelve34 would you consider submitting a PR to fix this?

[2016-04-09 11:07] deepu105 commented on #3346
@gmarziou were you ableto reproduce?

[2016-04-09 11:11] deepu105 commented on #3269
Im closing this, will support this with a switch here if its added in JDL cc @MathieuAA plz reopen if you plan to support this

[2016-04-09 14:25] vipulchauhan opened #3369 "Not able to delete anonymousUser"
##### **Overview of the issue**
When deleting anonymousUser, The popup comes up with error "No Message available" and message "Are you sure you want to delete this User?". When clicked on delete the error message goes away but message "Are you sure you want to delete this User?" stays there. If again clicked on delete button then error "error.methodNotSupported" comes up. and it goes in loop and d

[2016-04-09 15:15] jdubois commented on #3369
You're not supposed to delete it, it's mandatory for Spring Security.

[2016-04-09 15:15] #3369 closed

[2016-04-09 15:16] jdubois commented on #3362
I'm closing this as it's not a bug for me.

[2016-04-09 15:16] #3362 closed

[2016-04-09 15:22] jdubois commented on #3356
I think this looks like a lot of work and discussion, and:

- I just don't have the time for this in the next few weeks -> that's my main issue, I just don't have time!
- I don't understand what we gain, outside of the fact that it's more popular
- I understand what we lose and what we risk, and that doesn't sound very good to me
- As long as it's not broken, there's no need to fix the plugin at t

[2016-04-09 15:30] ddewaele commented on #3356
Feel free to close this ... I can't keep on defending this. I did my best to explain why :)

[2016-04-09 15:44] jdubois commented on #3356
On my side it's only lack of time - I didn't think this would trigger so
many emails and discussions!!!!
I promise I'll have a close look, but we just released JHipster 3.0 and I
can't do everything at the same time. I'm also doing this on my free time,
so it also depends on my "real" job and personnal life, so that's really
nothing against your proposal.
Le 9 avr. 2016 5:30 PM, "Davy De Waele" <n

[2016-04-09 16:04] atomfrede commented on #3356
I very long discussion, so I try to give my 2 cents on this. When we started a new project at work I've introduced grunt adn bower as frontend tools together with the yeoman maven plugin we are using (because I knew it from jhipster). Soon we migrated to the frontend maven plugin, for two reasons:

* CI with Jenkins (in a corporate setting you can't always install what you want)
* Collegues not de

[2016-04-09 16:25] deepu105 commented on #3356
@atomfrede thanks man. Its in line with what I wanted as well. So @ddewaele if you could amend it as per mine and Fred's suggestion Ill merge this.

Sorry that its dragging.

@jdubois no worries ill take care of this

[2016-04-09 16:30] ddewaele commented on #3368
Been playing around with this a bit with one of my projects.

**jHipster ribbon config option (application.yml)**

Instructs jHipster to show the ribbon for the provided profiles :

[code]

If users have additional envs all they need to do is this :

[code]

**i18n**

labels can be provided in global.json

[code]

A controller checks the active spring boot profiles :

- If it matches with one of t

[2016-04-09 17:12] MathieuAA commented on #3269
I'll open an "issue" (such a stupid name) in the JDL project "issue" tracker as I want to make it available.

[2016-04-09 17:50] ddewaele commented on #3356
@atomfrede  : About this : _"As we have put all frontend dependencies into target folder doing a clean package takes quite long"_

This is specific to your project right and not jHipster ?

[2016-04-09 18:22] atomfrede commented on #3356
Yes. Some are using eclipse and eclipse still can't handle Javascript and
node very well,therefore we put it into target auch that it is ignore by
default. Jhipster doesn't do that.
Am 09.04.2016 7:50 nachm. schrieb "Davy De Waele" <notifications@github.com

[2016-04-09 18:40] MathieuAA commented on #3367
@deepu105 if the user wants to use ES in his/her project, why not add the `@Field` annotation in domains (and, of course, not adding unless ES is selected)? I mean, with no questions asked and for every project where a search engine option (currently only ES is available) has been chosen.
Maybe you guys want the user to make the selection process by his/herself and annotate every field manually...

[2016-04-09 19:27] gmarziou commented on #3346
I can't for the moment as I'm away from my main laptop, so I'm closing it until I can work on it.

[2016-04-09 19:27] #3346 closed

[2016-04-09 23:51] ouyangshixiong commented on #3308
@PierreBesson  I am glad to try it.

[2016-04-10 02:38] deepu105 commented on #3367
@MathieuAA im not sure if it should be added to all fields by default, it would violate our policy 1 and 2

Also im not sure if there would be performance or other issues in doing this. So I would like someone who knows ES well to defend this with details in order to convince that this would add value as a default. I dont see any now.
Ok that was for the sub generator. Now if you can support this

[2016-04-10 02:45] deepu105 commented on #3308
And plz try it on katest master :) and dont worry about 2.x versions

[2016-04-10 03:29] ben-manes commented on #3308
Please let me know if there is anything I can do to help for integrating Caffeine. Integration with Hibernate will probably be when they add JCache (jsr107) support.

[2016-04-10 09:12] MathieuAA commented on #3367
If we do it field-wise, JHipster would have to detect it... but it would be a bad decision anyway as "@Field" annotations could be used a lot and would pollute the JDL. So I'm not so sure about that.
Like you said, we need an ES guru here =)

[2016-04-10 12:42] cicoub13 commented on #3368
:+1

[2016-04-10 13:18] twelve34 commented on #3353
@deepu105  PR done #3371

[2016-04-10 23:47] ddewaele commented on #3356
@deepu105 : will finish up the PR tomorrow. Thx for all the inputs.

[2016-04-11 07:28] ddewaele commented on #3368
If you think this would be useful to put in the generator I can create a PR so it can be reviewed.

Some remarks:

- Injecting the template var into the page is currently done server-side, meaning that the index.html needs to be served by a Spring controller. Is that ok for you guys or do you prefer to do it on the UI (unsecured API call to return the profile/environment info)
- Current gulp ENV v

[2016-04-11 07:42] deepu105 commented on #3368
@ddewaele I like everything except the thyme-leaf injection. I would prefer the API call. I dont know what others will prefer.

I actually dont like the `ENV` in `app.constants.js` as you said in actual projects there could be more profiles and we now have spring profile switches as well.

I would recommend having an unsecured endpoint which returns all the active profiles and on the client side a

[2016-04-11 09:03] ddewaele commented on #3368
I'll leave it up to you guys to decide what is better. Both work for me.

For removing the ENV from app.constants.js, I initially put that out of scope for this issue as we need to have a clear understanding of the build profiles VS spring profiles and how they are used in jHipster.  That's a whole discussion in itself.

Currently jHipster supports

**2 build profiles (dev / prod).**

- This is ve

[2016-04-11 09:28] #3042 closed

[2016-04-11 09:34] #3316 closed

[2016-04-11 10:38] deepu105 commented on #3368
Yes today we have 2 build profiles and 2 spring profiles and in a way they are tied tightly together.

if you build using `dev` you can only run using the same spring profile, if you try to run it with `prod` it will not work. Same goes for `prod` profile so in a way we can see it as just 2 profiles and need not really separate them out in theory.

We currently have some dynamic spring profiles `n

[2016-04-11 11:09] ddewaele commented on #3368
ok perfect works for me.

To summarize :

- ENV will be removed from app.constants
- Maven/gradle dev/prod build profile will do nothing more than enable/disable gulp during packaging.
- All the rest will be done through spring profiles.
- We make an unsecured api endpoint that returns the active spring profiles

Questions :

- How does the client retrieve the ribbon config (ribbon.displayOnActive

[2016-04-11 11:11] gtiwari333 opened #3372 "Fix auto focus on password reset UI (need to update reset.request.controller.js)"
* **Overview of the request**

Auto focus on password reset screen is not working. I'm using jhipster generator version : 3.0.0 .

* **Motivation for or Use Case**

Its a small bug, better if it fixed in next release.

* **Browsers and Operating System**

ALL

* **Related issues**

Did not noticed any existing report to this issue/bug.

* **Suggest a Fix**

reset.request.controller.js needs to be

[2016-04-11 11:16] deepu105 commented on #3368
for your first question you can access it in the spring controller using environment and sent it as a param in the api response object.

for your second question Im not sure @jhipster/developers does anyone have an issue with whats proposed above? or does anyone have a better approach?

[2016-04-11 11:20] deepu105 commented on #3372
Can you do a PR? also can you change to fetch element by ID instead of
attribute?

Thanks & Regards,
Deepu

On Mon, Apr 11, 2016 at 7:11 PM, Ganesh Tiwari <notifications@github.com>
wrote:

[2016-04-11 11:21] gmarziou commented on #3368
OK for me, if someone wants to secure it, it is easy to edit SecurityConfiguration.

Also, I'd like to specify that if the server fails to return the active profiles for some reason, the default behavior should be to hide the ribbon.

[2016-04-11 11:57] gtiwari333 commented on #3372
Okay, I will do a PR.

FYI, the following four .js files has the same issue ( using attribute instead of ID). I will update them all.

- login.controller.js
- register.controller.js
- reset.request.controller.js
- reset.finish.controller.js

[2016-04-11 12:24] gtiwari333 commented on #3372
Submitted pull request https://github.com/jhipster/generator-jhipster/pull/3373

[2016-04-11 13:20] gmarziou commented on #3323
Here is my config, maybe we should consider adding to generated yml files.

[code]

[2016-04-11 14:23] PierreBesson commented on #3323
@gmarziou, if you found them to be useful in preventing issue, I would trust your judgment here, please submit those properties as PR.

More generally, It would be useful to set gateway's properties to their default values, so that people can easily find them.

For example, these were very important to tweak during our stress tests.
zuul.host.max-total-connections: 200
zuul.host.max-per-route-conn

[2016-04-11 15:26] jdubois commented on #3326
Yes agreed, I'm merging it.

[2016-04-11 15:37] lluiscanals opened #3374 "Entity creation with Float field. Establish a Float minimum fails."
##### **Overview of the issue**

Create and entity with Float type field and add a validation rule of Minimum. Then try to establish this minimum to any chosen float.

##### **Motivation for or Use Case**

Generating field 2

? Do you want to add a field to your entity? Yes
? What is the name of your field? expositionTime
? What is the type of your field? Float
? Do you want to add validation rule

[2016-04-11 15:51] gmarziou commented on #3323
I'm not suggesting to use my values (they are specific to my project).

Like you zuul settings, I'm suggesting that we put default values and some comments so that users know what to adjust when they get timeout exceptions.

[2016-04-11 16:22] lluiscanals commented on #3374
I resolved making the field BigDecimal instead of Float. Thanks.

[2016-04-11 16:22] #3374 closed

[2016-04-12 12:08] wmarques commented on #3372
Fixed by #3373
@gtiwari333 please add "Fix #issuenumber" on the PR next time, it will autoclose the issue when we merge it :)

[2016-04-12 12:08] #3372 closed

[2016-04-12 14:36] wmarques commented on #3353
Closed by #3371
@twelve34 please add "Fix #issuenumber" next time in our PR, it will automatically close the issue related to the PR :)

[2016-04-12 14:36] #3353 closed

[2016-04-12 14:36] wmarques commented on #3338
@jhipster/developers if someone has an idea I can work on it :)

[2016-04-12 14:55] DiegoEP commented on #2844
I've facing some problems because this. I'm using default Spring and Hibernate:

Could not autowire field: **private**
org.springframework.data.mapping.PropertyReferenceException: No property desc found for type Boolean! Traversed path: StorageUnit.defaultUnit.

In my classe I have:
private Boolean defaultUnit;
public Boolean isDefaultUnit() {
        return defaultUnit;
}
This class were generate

[2016-04-12 15:06] notflorian commented on #2844
Hello @DiegoEP, could you open a new issue with all the required informations of the template, and I will look into it. Thanks

[2016-04-12 18:51] ddewaele commented on #3356
I know this has been a long and tiring discussion, but some updates (just one to give as much detail as possible so we can have an objective discussion) :

- The current version of the frontned plugin **will only work** if you allow it to install a local version of node/npm.
- It only needs to do this **1 time** (a 10MB archive) and unpacks it in ```${projectDir}/node```. (overhead no more than 10

[2016-04-12 19:23] atomfrede commented on #3356
@ddewaele Great summary. From my point of view using the plugin is fine (as I said we are using it for 6 month now without big problems). Have you looked the the node gradle plugin? I think it supports the same feature set, so we should make gradle equivalent to maven regarding node handling.

[2016-04-12 19:27] ddewaele commented on #3356
I'm not a big gradle fan/user but I'll take a look at it. Shouldn't be that hard.

[2016-04-12 20:03] atomfrede commented on #3356
No problem, I can have a look!

[2016-04-12 21:10] notflorian commented on #3356
@ddewaele Thanks for your updates, you have convinced me to give it a try on my personal project. From a backend dev point of view, I think it's indeed very nice not to have to install npm globally just to to build the project. :+1:

[2016-04-12 22:15] ruddell commented on #3338
@wmarques I tested your branch with the development database set to mysql and it worked, but it doesn't work with h2disk.  I looked into it and it's because H2's select statements are case-sensitive and we get the user from the database by lowercase login instead of the original ([code link](https://github.com/jhipster/generator-jhipster/blob/6db557c0aab25d859dc63eae15db80d5b9783fb6/generators/ser

[2016-04-13 00:37] deepu105 commented on #3356
Im ok if others are ok with this.

On Wed, 13 Apr 2016 5:10 am Florian Fauvarque, <notifications@github.com>
wrote:

[2016-04-13 03:59] DiegoEP commented on #2844
My bad, @notflorian. There is no problem with IsXXX notation for Boolean wrappers. In my case, the problem was a method in the repository called findTopByDefaultUnit(). In this case it's necessary to pass the boolean value as parameter or at least put the suffix True or False to the method name, indicating the value. So, I replaced the method name to findTopByDefaultUnitTrue() and it worked. So, p

[2016-04-13 04:07] DiegoEP commented on #3251
+1
When we create entities by importing a JDL it would be great if were possible to indicate some fields as "unique". Currently, I need to import JDL first, then modify the liquibase changelog and finally edit the generated entity.

This could be done for example as following:
[code]

It would generate this liquibase changelog:
[code]
And the following annotation in the JPA Entity:
[code]

[2016-04-13 07:54] wmarques commented on #3338
@ruddell Thanks for finding this one, I'm fixing this :)

[2016-04-13 08:14] wmarques commented on #3338
So now it's fully working but I think it's strange to have case-sensitives logins.. Now we can have users with the same name, I don't think it's a common way of doing but maybe I'm wrong ?

[2016-04-13 10:32] xjiaoyang opened #3377 "[FEATURE] Microservice app access user entity from gateway or gateway app access microservice entities"
##### **Overview of the issue**

jhipster microservice is very different from spring-boot microservice . i stared these projects which very useful to start with spring boot microservice:
https://github.com/rohitghatol/spring-boot-microservices
https://github.com/joshlong/bootiful-microservices
https://github.com/kbastani/spring-cloud-microservice-example

these projects both demonstration how to a

[2016-04-13 11:25] ddewaele opened #3378 "[Bug] Impossible to delete users that have oauth2 tokens associated with them"
##### **Overview of the issue**

When generating an oauth2 jHipster monolithic app, it's impossible to delete a user when an oauth2 access token is present for that user.

[code]

##### **Motivation for or Use Case**

Should be possible to delete users even if the user has access tokens.

##### **JHipster Version(s)**

v3.0.0

##### **Steps to reproduce**

- Create a new jHipster app with oauth2 a

[2016-04-13 12:10] PierreBesson commented on #3377
We are currently working on it. I think what you want is similar to https://github.com/jhipster/generator-jhipster/issues/3307, we think we can achieve this feature using a sub-generator for generating REST client. However we are first solving the issue of integrating with OAuth2.
Have a look at @xetys article http://stytex.de/blog/2016/03/25/jhipster3-microservice-tutorial/

[2016-04-13 12:56] cbornet commented on #3333
I think it would not be too hard to write a [MetricWriter](http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready-metric-writers) that outputs to the logs (kind of like dropwizards Slf4JReporter)

[2016-04-13 13:36] PierreBesson commented on #3333
Yes it would work ! I would need to write a class that extends MetricWriter then output the metrics I want to the logs. Like you say it would be like writing a Slf4JReporter for spring boot's metrics.

[2016-04-13 14:06] cbornet commented on #3333
I have something  working with the following classes and beans
[code]
[code]
You get logs in the form
[code]
Now some work is still needed to format the log, configure the export rate (5s by default) and probably filter on the metric names to avoid duplicates with dropwizard.

[2016-04-13 14:25] fraf opened #3379 "[Feature] liquidbase : having the 2 profiles configuration : dev and prod"
When my developer team implements AngularJS screens, they need to boostrap initial data via CSV file.
These data is needed for GUI developping and testing. These data are dummy, only for test the screens.
Currently, we add custom data creating .CSV file to fill all the tables (with foreign key constraints, etc.). We add <loadData> tags to initial schema creation file.
All these liquidbase configur

[2016-04-13 14:38] wmarques opened #3380 "Enable docker-compose subgenerator for monolithic apps"
@cbornet and I talked about this during the meetup. We should support monolithic apps in our docker-compose subgen. It's easy to do because all necessary files are already generated in the app (db yml, app yml and docker image).

I would do this this way:
1. Remove the if block to prevent removing monolithic apps fro app choices
2. Add a counter to count the number of gateway/monolithic applicatio

[2016-04-13 15:07] cbornet commented on #3380
If we could do docker-compose scale with clustered monoliths :+1:

[2016-04-13 15:29] PierreBesson commented on #3380
@cbornet I see how it can be interesting for things like testing Hazelcast session or database clustering.
The problem is that `docker-compose scale` only works for service that don't expose their ports and then, there is no easy way to access them (well you can still do a docker inspect containerId and figure out the IP where it is available...).

So I would propose that we do 2 cases for monolit

[2016-04-13 16:35] eagle8625 commented on #1370
COMMAND     PID       USER   FD   TYPE             DEVICE SIZE/OFF NODE NAME
java      40252 XXX  159u  IPv6 0x8118ce77b4c5a995      0t0  TCP *:http-alt (LISTEN)
Google    46424 XXX  118u  IPv4 0x8118ce77b3f1e985      0t0  TCP localhost:53715->10.58.1.221:http-alt (ESTABLISHED)
I started a application with stateful using session management, but I can't start the index.html on http://127.0.0.1:8080

[2016-04-13 21:27] willis7 opened #3382 "[BUG] Error creating bean with name 'userRepository'"
##### **Overview of the issue**

I am pretty much following the JHipster mini book but using Recipe instead of Goal and Ingredient instead of Metric, but when I try to run I get the following error:
[code]
##### **JHipster Version(s)**

3.0.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generat

[2016-04-13 22:21] gmarziou commented on #3379
This is not a jhipster issue nor a feature request, please ask you question on stackoverflow.
Have a look at Liquibase doc about using contexts.

[2016-04-13 22:21] #3379 closed

[2016-04-13 22:31] andresfuentes opened #3384 "Wrong resourceUrl on microservices"
##### **Overview of the issue**

When ghenerating an entity in the gateway app the code for <entity>.service.js and <entity>.search.service.js get an incorrect resourceUrl path

it gets

var resourceUrl =  'api/<entity>s/:id';

and It should be

var resourceUrl =  '<microserviceApp>/api/<entity>s/:id';

##### **Motivation for or Use Case**

code is not working correctly thru generation.. it requir

[2016-04-13 22:58] Kurtzz opened #3385 "Blank page when dev database is mysql."
##### **Overview of the issue**

localhost:8080/ return blank page only when using mysql as dev database.

##### **Motivation for or Use Case**

##### **JHipster Version(s)**

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

{
  "generator-jhipster": {
    "jhipsterVersion": "3.0.0",
    "baseName": "WePlay",
    "packageName": "org.weplay",
    "packageFolder":

[2016-04-13 23:49] suryatejaswi89 commented on #901
+1 for supporting embedded documents and dbref in MongoDB =)

[2016-04-14 02:07] deepu105 opened #3386 "[Internal] add event tracking with insight"
As my PR https://github.com/yeoman/insight/pull/43 to add event tracking is accepted we can add tracking to the generator to get more accurate insights. Will work on this today

[2016-04-14 02:12] deepu105 commented on #3382
This does not look like a JHipster issue. Seems your h2 db is not getting
started. Either try again or try with another DB to check. Might be a file
system permission related issue. Try with sudo as well
On 14 Apr 2016 05:27, "Sion Williams" <notifications@github.com> wrote:

*Overview of the issue*

I am pretty much following the JHipster mini book but using Recipe instead
of Goal and Ingredient

[2016-04-14 02:16] deepu105 commented on #3385
Does it work if you use any other database?  I dont think this is a db
related issue. Your initial build might not have run succesfully. Wat
console error do you see in browser. Try to run `npm install` , `bower
install` and `gulp install` one after another and see if it works
On 14 Apr 2016 06:58, "Kurtzz" <notifications@github.com> wrote:

[2016-04-14 04:26] #3386 closed

[2016-04-14 05:59] deepu105 commented on #3384
this is working. how are you using the app is it run via docker or started locally or have you deployed with a context?

[2016-04-14 06:08] Kurtzz commented on #3385
It build without errors. In browser i don't see anything. If I type /(random chars) I only get "Your request cannot be processed".
Everything is fine when I use H2 instead of MySQL as dev database.
But I will try run those install commands.

[2016-04-14 06:33] deepu105 commented on #3385
what is the error in browsers developer console?

[2016-04-14 07:03] xjiaoyang commented on #3377
@PierreBesson great!

[2016-04-14 07:37] lluiscanals commented on #3385
Can you take a look at your index.html code? Is "gulp serve" running without errors?

[2016-04-14 07:51] Kurtzz commented on #3385
`<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WePlay</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="content/css/main.css">

</head>
<body ng-app="wePlayApp">

    <div

[2016-04-14 07:54] Kurtzz commented on #3385
Index.html [http://pastebin.com/pYk2Wu9E](url)
I just run app with Maven using spring-boot:run.
I have just installed gulp and it's return:

    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)

[2016-04-14 07:55] cbornet commented on #3318
The PR should fix the issue when you don't configure the cors on the GW and configure it on the micro-services.
@jvence As for configuring globally on the GW, can you check if ```source.registerCorsConfiguration("/*/api/**", config);``` works ? This would make a generic solution independant of the microservices names.

[2016-04-14 07:56] PierreBesson commented on #3377
OK, then let's close this issue and continue the discussion on #3307

[2016-04-14 07:56] #3377 closed

[2016-04-14 08:04] wmarques commented on #3380
Seems that docker heard us : https://blog.docker.com/2016/04/docker-engine-1-11-runc/

[2016-04-14 08:18] Kurtzz commented on #3385
I install nodejs, npm and bower correctly and generated once again whole project. From docker run gulp, which inject some stuff to index.html and now it's working. Thanks!

[2016-04-14 09:16] javab0y commented on #3321
HI - I was facing the same problem too and have spent a couple of days tracking it down to this bug.
I am evaluating JHipster (liking it!), but was about to give up on it due to this as I could not figure out why it was not working.

Any idea when the fix will be released? If not appreciate it very much on how I can workaround this using the **npm link** command as and using the latest master (as

[2016-04-14 09:35] pascalgrimaud commented on #3321
To use master:
1) git clone https://github.com/jhipster/generator-jhipster.git (or you can fork + git clone your fork)
2) cd generator-jhipster
3) npm install
4) npm link
5) if you are with Linux, you can check if link is correct with `ls -l /usr/lib/node_modules` (under Windows, I don't know sorry)

[2016-04-14 09:37] wmarques commented on #3380
I tried after updating docker to 1.11,  it seems to work but we cannot bind a port on the application we want to scale (seems logic).
I scaled a `sample-app` service, went into another container and did `curl sample-app:8080/ip` (endpoint I've made to return the IP) and it returned me the ip of the first container, always...

[2016-04-14 09:40] #3385 closed

[2016-04-14 09:41] MathieuAA commented on #3321
@javab0y Or you can `npm install jhipster-uml` and have your JDL file as input. We deal with the scheduling so that you don't have to.
It (the scheduler) will be useless in the future as the right creation order won't have to be respected in the next release.

[2016-04-14 09:44] javab0y commented on #3321
Thank you both @MathieuAA  and @pascalgrimaud for the quick responses.
I will give them both a try.

I am on  Mac OSX by the way.

[2016-04-14 10:15] MathieuAA commented on #3321
You're welcome!

[2016-04-14 12:35] konfri opened #3388 "[FEATURE] Autofocus on the first text field in entity creation dialog"
Hey,

I just started using JHipster and it's really nice :+1:

I noticed that the logic dialog automatically sets the focus to the username text field. This is nice and makes the login process even more pleasant.

If I generate an entity the focus in the creation dialog is not set at all. I need to hit "tab" key several times and then I can start to fill the first text field. It would be nice if t

[2016-04-14 12:46] wmarques commented on #3388
Makes sense to me :+1:

[2016-04-14 12:53] PierreBesson commented on #3364
@gmarziou, I think I solved the issue.

First, I did some test by creating a super long stacktrace. Like that:
[code]
That's because, although your "reproduce the error" example is enough to get the jsonparse failure in logstash but it does not simulate the real case correctly as it's the log message that is too long not the stacktrace itself.

Then as is proposed in the docs, I defined a Shortene

[2016-04-14 13:19] deepu105 commented on #3388
@konfri would you consider doing a PR?

[2016-04-14 13:20] #3318 closed

[2016-04-14 13:28] PierreBesson commented on #3333
@cbornet Wow thanks a lot ! This is exactly what I want.

[2016-04-14 13:31] konfri commented on #3388
@deepu105 I will check this tonight. Now, I need to get back to work ;)

[2016-04-14 17:02] PierreBesson commented on #3333
OK, I've got around implementing it. It's on my branch: https://github.com/jhipster/generator-jhipster/compare/master...PierreBesson:report-actuator-metrics-in-logs?expand=1

[2016-04-14 18:38] imTachu commented on #3265
Happened to me: Running on Windows 8, JHipster 3.0.0, jdk1.8.0_74, downloaded JHipster registry, ran it and ran the gateway generated project (no cache, h2 for development, postgresql for production, no testing tools selected, no internationalization, very plain) and got the error.

![daevidence](https://cloud.githubusercontent.com/assets/2230140/14539472/27cf88d2-0246-11e6-94b3-5a6c28514ace.png)

[2016-04-14 18:51] imTachu commented on #3265
and yes, it was fixed adding the wava dependency.

[2016-04-14 19:10] SimonKlausLudwig commented on #3075
I had the same issue with intelliJ IDEA 16. I've opened the project in IDEA 14 and started the tests, after this run the tests works also in IntelliJIdea 16.

Sorry if this is the wrong place for this. But i think it could help some people..

[2016-04-14 19:17] konfri commented on #3388
@wmarques Thanks you :+1:

[2016-04-14 20:14] gmarziou opened #3392 "bower: invalid meta, name"
##### **Overview of the issue**

With the latest version of bower 1.7.9 the generated `bower.json` might produce this warning if the app name contains capital letters.

##### **JHipster Version(s)**

3.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Suggest a Fix**

Ensure valid meta name by adhering to guidelines.

[2016-04-14 20:20] imTachu commented on #3281
I had the same error. The only thing I had was a warning: o.s.c.n.zuul.web.ZuulHandlerMapping : No routes found from RouteLocator. And when trying to load the app (the microservice-gateway) I had a blank page and it couldn't find any of my .js files... The solution: I had to perform a `npm update -g generator-jhipster` and then a `yo jhipster` and it automatically worked.

[2016-04-14 20:29] gmarziou commented on #3281
@imTachu have you tried running `bower install` manually before performing  a `npm update -g generator-jhipster` and then a `yo jhipster`?

[2016-04-14 20:36] gmarziou commented on #3265
@imTachu if you want to help, please rollback and try what I proposed.

[2016-04-14 20:46] gmarziou commented on #3364
Well truncating the stack trace will avoid the JSON error but it will not help people trying to debug their app as the root cause will be missing. That's why I was thinking of combining truncation and root first.
A good test would be to create a deeply nested exception with something like this:

[code]

[2016-04-14 20:47] gmarziou commented on #3364
BTW, I got such deeply nested exception from a ribbon timeout on a gateway.

[2016-04-14 21:22] raphaelbrugier opened #3394 "Failure when generating with Cassandra and no i18n (master)"
##### **Overview of the issue**
In the master, the generator does not work when trying to generate with a Cassandra database and not internationalization

##### **JHipster Version(s)**
master (a1ed454)

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Reproduce the error**
run yo:jhipster on the .yo-rc.json above

##### **Suggest a Fix**
I've tra

[2016-04-15 01:29] sdoxsee opened #3395 "Store previous state in sessionStorage instead of rootScope"
##### **Overview of the issue**

In order to get OAuth2 SSO with different gateway apps we'll need to redirect to the authorization server and leave the SPA. Storing the previousState in localStorage rather than rootScope will enable us to bring the user back to the originally requested (but protected) page.

For example, http://localhost:8080/#/settings is protected--prompting a login (on the ext

[2016-04-15 03:07] ruddell commented on #3394
I ran into (maybe) the same issue the other day when trying to run the docker-compose subgenerator.  Just confirmed with the latest master but have not looked into it.
[code]

.yo-rc.json
[code]

[2016-04-15 04:00] ruddell commented on #3338
Adding a user repository method findOneByLoginIgnoreCase is one option that would work for every database type, I agree we shouldn't let multiple accounts have the same username with different casing.

Or add anonymousUser as an exception to every regex like in User.java (don't know if this would work).

[2016-04-15 04:02] #3388 closed

[2016-04-15 05:16] ruddell commented on #3382
@willis7 The stack trace shows the error as `Caused by: org.hibernate.AnnotationException: mappedBy reference an unknown target entity property: io.byteshifter.nomnom.domain.Recipe.ingredients in io.byteshifter.nomnom.domain.Ingredient.recipes`

Your Recipe entity is missing a relationship to ingredients.  Run `yo jhipster:entity Recipe` again and choose to add a relationship to the Ingredient ent

[2016-04-15 06:20] pascalgrimaud commented on #3394
@raphaelbrugier : I'm working on it

@ruddell : it's another issue

[2016-04-15 06:35] ddewaele opened #3399 "[Enhancement] Static / Dynamic roles (authorities) in jHipster"
jHipster user mgmt allows for the creation of users with one or more roles. If we want to add custom roles they now need to be defined in 2 places. As roles are stored in the DB, they should only be defined in one place.

Currently they need to be defined in :

The DB :
[code]

In the UI :

- user-management-dialog.controller.js
- user-management.controller.js

JHIpster hardcodes 2 roles:
[code]

[2016-04-15 07:03] deepu105 commented on #3382
closing as this is not a JHipster issue as per above comment. Thanks @ruddell

[2016-04-15 07:03] #3382 closed

[2016-04-15 07:09] deepu105 commented on #3399
duplicate of https://github.com/jhipster/generator-jhipster/issues/1995 @ddewaele I have a solution and Ill do a PR soon

[2016-04-15 07:09] #3399 closed

[2016-04-15 07:10] #3392 closed

[2016-04-15 07:12] #3380 closed

[2016-04-15 07:16] #3394 closed

[2016-04-15 07:23] willis7 commented on #3382
@ruddell , thanks for the reply.  I started again creating only the Recipe and everything worked. The problem I have is that I followed the minibook (changed the names) - So I felt like this _should_ have worked.

[2016-04-15 07:25] deepu105 commented on #3368
@ddewaele since no body has any concern you can proceed with the api endpoint approach

[2016-04-15 07:27] deepu105 commented on #3338
@wmarques I think we should be having case insensitive users only. Thats how its normally done. I should be able to login irrespective of the case i use in username and we shouldnt allow creation of two accounts with same name.

[2016-04-15 07:29] deepu105 commented on #3382
FYI @mraible

[2016-04-15 07:54] pascalgrimaud commented on #3394
@ruddell : can you open a new issue about it ? It's related to the recent change on cassandra and cassandra-cluster

I try to work on it this morning

[2016-04-15 08:07] deepu105 commented on #3395
@sdoxsee would it be better to use sessionstorage for this rather than localstorage?

[2016-04-15 09:08] jdubois commented on #3395
yes I have the same issue for OAuth2, +1 for me
And @deepu105 is right, session storage should be enough

[2016-04-15 09:23] deepu105 commented on #3395
`$sessionStorage` is avilable for injection

[2016-04-15 12:13] PierreBesson commented on #3364
Sorry, I'm just seing your reply now. I will run some tests to see if adding rootFirst helps. Your idea is good ! If this works, I don't see a problem to have the root cause first, it would be an improvement.

[2016-04-15 12:14] konfri opened #3401 "[FEATURE] Hide id text field entity creation dialog"
Hey,

I was wondering if the id field in the entity creation dialog could be removed (but stay in the edit dialog). It does not add any meaningful informations as the actual database id has not been assigned yet anyway.

At the moment, I'm reading the JHipster Mini Book (http://www.jhipster-book.com) and as it happens  Matt Raible also removes the id field in his 21-point example. I'm not the only

[2016-04-15 12:19] PierreBesson commented on #3380
@cbornet I have managed to make scaling work for monoliths. And it's awesome !
Just remove the `ports` lines in the monolith-app service and add:
[code]
It will correctly load-balance between the different instances of monolith-app when doing `docker-compose scale monolith-app=2` and it will refresh the load-balancer config automatically.

[2016-04-15 13:07] raphaelbrugier commented on #3394
Perfect, thanks @pascalgrimaud !
I'm sorry, I forgot to copy / paste the stack trace when reporting the issue

[2016-04-15 13:22] tomvanrossom commented on #3281
In some occasions, the generated index.html, is completely empty. That is why I saw a blank page.

Running `gulp clean serve` fixed it.

[2016-04-15 13:22] #3364 closed

[2016-04-15 13:25] gmarziou commented on #3281
Yes it could be due to some yeoman hiccups, in the worst case you may want to run manually
`npm install & bower install & gulp inject`

[2016-04-15 13:27] wmarques commented on #3401
I guess we display the field to inform the user about the field in the database and also, if he wants to set an id in the creation, he just has to remove some HTML attributes and JS.

[2016-04-15 13:43] PierreBesson opened #3402 "Swagger UI not accessible in prod profile even though swagger is enabled"
##### **Overview of the issue**

In prod profile, it is now possible to enable swagger with jhister.swagger.enabled: true. However Swagger UI cannot be accessed.

Currently, in prod profile with swagger enabled, it is lacking both the "API" link in the admin interface and the UI in itself.

![capture du 2016-04-15 15-27-03](https://cloud.githubusercontent.com/assets/513471/14563044/2fffe030-0320-1

[2016-04-15 13:53] sdoxsee commented on #3395
@deepu105 @jdubois Yes. $sessionStorage is the way to go. Thanks! I've made the change to my PR and I'm just waiting to confirm that the protractor tests are fixed (I've verified locally)

[2016-04-15 14:02] gmarziou commented on #3402
+1 This is due to the ENV constant in angular part, I guess it would be easier to do it when #3368 is fixed.
This way the UI would know dynamically what are the active profiles on server.

[2016-04-15 14:11] sendilkumarn commented on #3401
I think we can remove it. I would like to do a PR for this

[2016-04-15 14:11] konfri commented on #3401
It's not just remove some html and js code, as you need to differentiate between create and update (they use the same dialog template, right?).

I guess that most of the user keep using the auto increment flag for the id value, as it is less work and it is saver. So, they won't care about the id during the creation.

Do you think It make sense to hide the field during the creation?

[2016-04-15 14:44] PierreBesson commented on #3402
OK, let's wait for PR 3368, then go on with this.

[2016-04-15 15:41] cbornet opened #3405 "Is it OK to store the JWT in local/session storage ?"
This makes it vulnerable to XSS attacks.
See [this blog](https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage/)
In micro-service architecture we should probably store it in a gateway session Cookie.

[2016-04-15 15:49] vicgrad opened #3406 "[BUG] Deploying to AWS fails, httpOptions - Unexpected identifier"
##### **Overview of the issue**

I am trying to deploy a jhipster generated project to aws. I have followed the guide here: http://jhipster.github.io/aws/ but when running `yo jhipster:aws` there seems to be an error in the s3 script. The error is:

##### **Motivation for or Use Case**

I cannot go through the workflow to deploy on aws

##### **JHipster Version(s)**

v3.0.0

##### **JHipster confi

[2016-04-15 17:12] imTachu commented on #3265
@gmarziou So, I removed the guava dependency, performed a `bower update` and the issue came back. I don't know what I broke with it. I tried the `mvn dependency:tree` command you proposed with no luck :(

![image](https://cloud.githubusercontent.com/assets/2230140/14569261/3702462e-0303-11e6-99d8-848833b76241.png)

[2016-04-15 17:50] gmarziou commented on #3265
Why did you try 'bower update', your problem is in java server-side not in javascript angular.

What do you mean? This command is not supposed to resolve the issue, it's just a way to collect information, you were supposed to copy/paste its output.

BTW, please stop posting screenshots, just copy/paste text.

If you are skilled in these tools maybe the best would be that you share your project on

[2016-04-15 17:56] imTachu commented on #3265
@gmarziou That wasn't an issue anymore. I tried the bower update because I have an issue while loading new functions in my AngularJS and I am basically executing everything I find in the documentation to see what helps me... When I performed that command, the problem appeared. So I tried the `mvn dependency:tree` to see if it recreated whatever happened, I just added the guava dependency anyways.

[2016-04-15 18:00] ruddell opened #3407 "Docker-compose subgenerator adding Cassandra microservice fails"
##### **Overview of the issue**
Docker compose fails when adding a microservice with Cassandra to the docker config
[code]
##### **Motivation for or Use Case**
I wanted to try out Cassandra with Docker
##### **JHipster Version(s)**
Master (3.0.0 is fine)
##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
[code]
##### **OS**
Mac
##### **How to Reproduce**
 (gateway,

[2016-04-15 20:04] jdubois commented on #3406
Can you put a title that is more clear?

[2016-04-15 20:05] #3326 closed

[2016-04-16 12:26] deepu105 commented on #3406
ping @wuethrich44

[2016-04-16 16:35] rdanilin opened #3416 "Broken link on http://jhipster.github.io/heroku/"
##### **Overview of the issue**
Broken link to 'Spring Boot Heroku documentation' on http://jhipster.github.io/heroku/ page

##### **Motivation for or Use Case**
Not applicable

##### **JHipster Version(s)**
v2.x

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

Not applicable
##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` d

[2016-04-16 19:11] gmarziou commented on #3416
Thanks, the correct link should be http://docs.spring.io/spring-boot/docs/current/reference/html/cloud-deployment.html#cloud-deployment-heroku

Fix should be applied to both 3.x and 2.x doc.

I'll dot it.

[2016-04-16 19:55] #3416 closed

[2016-04-17 04:43] #3401 closed

[2016-04-17 04:45] #3395 closed

[2016-04-17 07:06] marcosmoreno opened #3417 "[FEATURE] Possibility of add "required" in a one to many relationship"
Currently if I create a one to many relationship (Owner-Car), I can create records in the many part with the relationship field empty (i.e. Car without an owner).

I was told [in the jhipster domain language issue tracker](https://github.com/jhipster/jhipster-domain-language/issues/8) that if Jhipster implements this, JHipster UML and the JDL would incorporate that.
Any chance it is considered?

[2016-04-17 08:14] wuethrich44 commented on #3406
This bug is fixed in commit https://github.com/jhipster/generator-jhipster/commit/e062ad592c849a22ffb26dc4139a34d63e8fc870. For a workaround simpliy put a comma after this [line](https://github.com/jhipster/generator-jhipster/commit/834501e441e8433a88ac449ca30b37689fbb9d88#diff-87ec3dd2b5806c87199817c5fcf2d042R87).

[2016-04-17 08:20] jdubois commented on #3407
As you are on the master branch, can you test with the 3.0 release? There has been much work recently on Cassandra support on the master branch (cc @raphaelbrugier ) so it depends when you did it, etc.

[2016-04-17 09:30] #3406 closed

[2016-04-17 14:55] jdubois opened #3419 "Add a JHipster oh-my-zsh plugin"
It would ease development on Mac OS X if we had a [oh-my-zsh plugin](https://github.com/robbyrussell/oh-my-zsh/tree/master/plugins), like what currently exists for Rails, etc

[2016-04-17 14:59] pascalgrimaud commented on #3407
@ruddell : I fixed the docker-compose sub generator, when there is a cassandra microservice.

But we can't run directly `docker-compose up` because cassandra microservice doesn't have a system like liquibase. I have to think if we should use the same system proposed by @raphaelbrugier for cassandra.yml -> this system creates automatically the tables in dev

Anyway, I didn't manage to run cassandra

[2016-04-17 19:03] ruddell commented on #3407
@jdubois the docker-compose subgenerator works correctly with Cassandra on 3.0.0.

@pascalgrimaud I tested the referenced pull request and it fixes this issue, thank you.

[2016-04-17 19:48] pascalgrimaud commented on #3407
Thanks @ruddell :)
Let me know if u manage to run cassandra microservice or if u have the same error than me

[2016-04-17 22:14] jd-carroll commented on #3407
@pascalgrimaud What version of Docker Toolbox are you using?

Could jhipster/jhipster-registry#39 impact anything?

[2016-04-17 23:52] pascalgrimaud commented on #3407
@jd-carroll : I'm on Linux, with latest version of Docker and Docker Compose
I dont think it s related because you can use directly https://hub.docker.com/r/jhipster/jhipster-registry/

[2016-04-18 10:21] deepu105 commented on #3417
This is a bit trickier to do so unless someone is willing to volunteer I don't think any of @jhipster/developers will have time to do this. Any way ill leave it open if any body wants to do this

[2016-04-18 11:54] willis7 commented on #3382
Hi guys, sorry to keep persisting with this, but I am beginning to believe this is an issue with the generator. I have tried breaking the problem down, but still get the error above when trying to build the relationship between the Recipe and the Ingredient.

To replicate, in turn, run the following:

1. Create a Recipe with Many-to-One relationship to User, succeeds.
2. Create an Ingredient with

[2016-04-18 12:12] deepu105 commented on #3382
you have to create a relationship from Recipe to Ingredient also

[2016-04-18 12:41] ouyangshixiong commented on #3308
Sorry, I do not think spring boot 1.3+ 's document work for jhipster
_By default, Spring Boot provides cache statistics for EhCache, Hazelcast, Infinispan, JCache and Guava. _
I will need more time to figure it out.

[2016-04-18 12:42] willis7 commented on #3382
After your response I went back to edit the Recipe to create the link to Ingredient, but it still failed. In a rage I started again, building the entities in the following order; Ingredient then Recipe and it worked. Not very intuitive, but at least it works now. I do worry about later refactoring of the domain model now though...

Either way, thank you!

[2016-04-18 14:28] deepu105 commented on #3382
Yes, you should have read the document properly. Anyway from next version the order wont be an issue

[2016-04-18 15:42] dinhnn opened #3421 "Remove redundant variable used for pattern validation"
##### **Overview of the issue**

Generate entity with pattern validation
ex:
entity E{
   test String pattern("$\d+^")
}
Result:
class E{
....
@Pattern(regexp = "undefined")
String test;
....
}

##### **Motivation for or Use Case**

##### **JHipster Version(s)**
JHipster 3.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

##### **Entity configuration(s) `entit

[2016-04-19 00:55] deepu105 commented on #3308
I guess thats coz we use a custom implementation for ehcache and hazelcast.
Needs some refactoring ill give this a shot
On 18 Apr 2016 20:41, "ouyangshixiong" <notifications@github.com> wrote:

[2016-04-19 07:01] deepu105 commented on #3421
@dinhnn would you like to do a PR to fix this?

[2016-04-19 09:24] wmarques commented on #3419
I'm working on it !
What are for you guys the best aliases to use for this plugin ?

[2016-04-19 09:52] wmarques commented on #3338
@ruddell @deepu105  So should we lowercase all logins before db registration ?

[2016-04-19 09:52] deepu105 commented on #3308
ok this is definitely tougher than I thought, somehow the spring boot auto configuration doesnt seem to work for ehcahe or hazelcast, might have something to do with all the customization we do for both

[2016-04-19 10:20] deepu105 commented on #3308
I have wasted few hours on this, this doesn't seem to work properly on the resource layer so Im giving up for now, if someone can get it to work let me know

[2016-04-19 10:23] deepu105 commented on #3338
@wmarques that might be a good idea

[2016-04-19 12:33] wmarques commented on #3338
I think it's better adding anonymousUser in regexp and have the same regexp everywhere.
And asking user to put a lowercased login (what we actually do) makes sense to me, instead of lowercasing the login ourselves.
So [here](https://github.com/wmarques/generator-jhipster/commit/57a080a5e4708d1764c20db262ee030f9297cabb) I just updated the regexp, if it's ok I will PR this

[2016-04-19 12:48] WhyINeedToFillUsername opened #3423 "jhipster generates invalid entity detail html (unclosed tags)"
##### **Overview of the issue**
There are unclosed html tags in generated entity detail:
[code]

##### **Motivation for or Use Case**
I want a clean HTML with no errors.

##### **JHipster Version(s)**
3.0.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**
[co

[2016-04-19 13:21] lluiscanals commented on #3423
It will be resolved in the next release. You can see in the master branch.

[2016-04-19 14:35] raphaelbrugier commented on #3407
Hi,

The referenced pull request fixed the generator issue, but I'm running on the same problem as @pascalgrimaud .
It seems not related to the missing setup of the keyspace/tables as I still have the issue after creating them manually.

I propose to close this issue with the pull request and open a new one dedicated to the missing lib problem?

[2016-04-19 14:46] pascalgrimaud commented on #3407
You re right Raphaël, it's another issue. Can you open another issue with the correct stacktrace plz?
I cant open it myself, it's hard to do it on my phone :)

[2016-04-19 14:46] #3407 closed

[2016-04-19 15:01] raphaelbrugier commented on #3407
I'll create an issue for the problem of starting the Cassandra-service against a non-setup database.

I'll create another one for the second problem of the missing lib, but I just realized the log was a warning and the Cassandra driver seem to handle this correctly and fallback on another lib.

[2016-04-19 15:08] deepu105 commented on #3423
yes its corrected in master

[2016-04-19 15:08] #3423 closed

[2016-04-19 15:20] AlainJanssens opened #3426 "Is there a reason to have a username, and not just use the email as login?"
When you register, you need to give a username.

Is there a specific reason why Jhipster isn't just using the email?

Regards,

Alain

[2016-04-19 15:21] raphaelbrugier opened #3427 "cassandra microservice app fails to start with docker-compose generated conf"
##### **Overview of the issue**
When adding a microservice app with a Cassandra database, the app fails to start when launched with the configuration generated by the docker-compose generator.
The reason is the Cassandra cluster is not yet initialized (no keyspace or tables created) when the app starts. The setup of the cluster has to be done manually.

##### **JHipster Version(s)**
master

#####

[2016-04-19 15:25] raphaelbrugier commented on #3419
+1 I'm huge fan of oh-my-zsh too!

I would not use too small aliases like `jhi`i or `jhie`
I would rather keep with the fullname `jhispter` but add autocompletion and documentation on the commands.

[2016-04-19 15:39] jdubois commented on #3419
Like Rails, we could have:

- Auto-completion for commands like yo jhipster:entity
- And alias like they have in Rails -> it's just aliases, you don't need to use them, and for rails they have stuff like rc='rails console'. So for me we could have "jh" or "jhi", that's good for me

[2016-04-19 15:55] raphaelbrugier opened #3428 "Cassandra driver error when starting Cassandra microsevice with docker-compose file"
##### **Overview of the issue**

When starting a Cassandra microservice with the docker-compose generated files, the following warning and stack trace appears in the log:

[code]

This does not seems to prevent the app to start, but the application is marked has _down_ in the registry and those can not be reached.

##### **Motivation for or Use Case**

##### **JHipster Version(s)**
master + fixes

[2016-04-19 15:59] dornala commented on #3426
Nope nothing. It's up to us, we can customize hipster use email instead of username. If you wanna come up with email as username you might need to make changes to UserDetailsService in Security folder.

[2016-04-19 16:06] dornala commented on #3417
@jhipster/developers :  _I can volunteer to work on this_.  Shall I go ahead?

[2016-04-19 16:24] dornala commented on #3251
If I understood correctly, you are asking if adding unique values to fields be any better. Right?

_I personally feel its a good idea. As of now we need to feed them manually._

[2016-04-19 17:54] atomfrede commented on #3419
I recently switched to fish shell, so maybe I can have a look how to build something for fish shell.

[2016-04-19 19:14] sebastienmoreno commented on #3251
Indeed I think it would interesting to have this feature.
Was it not added to JHipster because of legacy database? (if newly add a unique constraints, your current data need to respect this new constraints)

[2016-04-20 00:23] deepu105 commented on #3417
Yes please
On 20 Apr 2016 00:12, "Amarnath Reddy Dornala" <notifications@github.com>
wrote:

[2016-04-20 02:17] ouyangshixiong commented on #3308
I will continue to work on the issue. @deepu105

[2016-04-20 04:02] glsgolden opened #3430 "Jhipster and SQl server intergration"
##### **Overview of the issue**

How to intergrate the Jhipster and SQl server as database.

##### **Motivation for or Use Case**
I was trying to change application.yml and pom.xml to intergrate with sql server database.
and also change the liquibase jar to mssql support.
but this is not working for mssql. case

##### **JHipster Version(s)**
2.0

##### **JHipster configuration, a `.yo-rc.json` fil

[2016-04-20 04:16] deepu105 commented on #3430
I hope you are talking about MS SQL server if so check this tip https://jhipster.github.io/tips/004_tip_using_ms_sql_server.html

[2016-04-20 04:16] #3430 closed

[2016-04-20 09:19] ykushch opened #3431 "[FEATURE] Maven multi module project issue with resolving path during startup"
##### **Overview of the issue**

We have a large project with many module. When I've created module with Jhipster it is not running correctly due to inability to resolve path:

    File root;
    if (env.acceptsProfiles(Constants.SPRING_PROFILE_PRODUCTION)) {
        root = new File("target/www/"); // this is problem place
    } else {
        root = new File("src/main/webapp/"); // this is proble

[2016-04-20 09:32] jdubois commented on #3431
I'm sorry but we don't generate multi module projects... You mean Maven multi-modules? Or with your IDE?

[2016-04-20 09:43] ykushch commented on #3431
It seems that I did not describe the issue / feature nicely :)
I have a project that has many maven-modules with different submodules already. And I am just adding Jhipster project to this hierarchy. And during startup the only issue that prevents it to be successful is inability to resolve the path like I've described above.
I know that possible it is not the case but anyway - it seems like it is

[2016-04-20 09:55] wmarques commented on #3419
I started my work on this repo. I based my work on the docker plugin.

I'm a totally bash language newbie so I found some problem while working on it:
* `yo jhipster` contains space so I just managed to complete `jhipster` but it's not working with the `yo` before
* The autocomplete put the command with a space after `jhipster` so it renders like this for example: `jhipster :entity` and I couldn't

[2016-04-20 11:51] AlainJanssens commented on #3426
hmmmm... From my point of view it is a lot more work :-).

I was just wondering why this was not a standard?

[2016-04-20 12:14] ykushch commented on #3431
It seems that I've managed to implement / fix this. The key thing here is that instead of looking into directly `JhipsterProject` (from the tree representation above) it looked into `MainModule` and cannot find `src/main/webapp/` path of course. Should test it now on Linux and Mac.

[2016-04-20 16:41] dornala commented on #3417
Front end validation solves this right or want to edit Entity as well? Just making sure. If no owner is selected we can't create a Car!

[2016-04-20 16:49] dornala commented on #3426
I don't think it's actually about standard. How often we see people logging in with E-Mail these days. If you have a requirement of using E-mail as User Id I can help you. Happy Coding .. ;)  . Easiest will be making front end ngbind username and email.

[2016-04-20 17:27] MBenali opened #3433 "generator-jhipster-swagger-cli : expected function addJavaScriptToIndex not available in generator-base.js"
##### **generator-jhipster-swagger-cli  **_# expected function  addJavaScriptToIndex_** not available in generator-base.js**

##### **when : yo jhipster-swagger-cli : generate front and back from swagger json petstore example**

##### **JHipster Generator v3.1.0, generator-jhipster-swagger-cli**

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

##### **generator

[2016-04-20 17:41] cbornet commented on #3433
Yes. I need to upgrade the module to jhipster 3. See https://github.com/cbornet/generator-jhipster-swagger-cli/issues/7
I'll do it asap. Soŕry for the delay.

[2016-04-20 17:41] #3433 closed

[2016-04-20 17:45] MBenali commented on #3433
thank's

[2016-04-20 18:12] marcosmoreno commented on #3417
@dornala actually if I edit the entity manually (adding the notnull directive in the ManyToOne field) the Front end does the validation already: If no owner is selected we can't create a car. Please see the my last comment in the linked issue in the description.
I guess it would need adjustments in the entity generator and in the JDL parser.

[2016-04-20 19:12] dornala commented on #3417
Ya @marcosmoreno by adding notnull to one to many field in entity, we can make sure JPA transaction fails. If there is no Owner selected error(Internal Server Error) will be thrown , So, we add front end validation to make sure - save button shows up only when we have a owner for car(Avoiding internal server error).

Now,
Requirement: If we are using JDL or Entity Generator to create entity. we wa

[2016-04-20 20:36] raphaelbrugier commented on #3428
Some more investigation.
The warning is not preventing the application to start and to register correctly.

It is the same problem as described in the [cassandra mailing list](https://groups.google.com/a/lists.datastax.com/forum/#!topic/java-driver-user/QgwtAB7Mhn8).

In our case, netty-transport-native-epoll dependency is being brought by ribbon.

mvn dependency:tree extract:
[code]

Excluding th

[2016-04-20 20:57] marcosmoreno commented on #3417
I did not add the NotNull to the OneToMany, as I want to be able of saving owners without a car.
What I observed is that in the entity Car, there was a ManyToOne relationship (note I did not have a ManyToOne in my JDL, it was added by JDL), and there I put the @NotNull.
I wanted to be able of having Owners without Car, but no Cars without Owner. After building, Jhipster already tells me "The field

[2016-04-20 23:44] dornala commented on #3417
Got it. Typo I meant OnetoMany.

[2016-04-21 08:10] wmarques commented on #3426
It's a choice from us and not a JHipster bug, but thanks for your feedback :+1:
You can continue the discussion on SO or on [Gitter](https://gitter.im/jhipster/generator-jhipster), I'm closing this issue

[2016-04-21 08:10] #3426 closed

[2016-04-21 08:46] ddewaele commented on #3368
@deepu105 : have reserved time for this this weekend so you can expect a PR soon.

[2016-04-21 08:55] pascalgrimaud commented on #3428
thanks for reporting and investigating on this, @raphaelbrugier
I didn't have a look when using **Gradle** instead of Maven, I think it's the same problem, right ?

[2016-04-21 09:56] cbornet commented on #3433
@MBenali I just made a new release that should fix it. Can you update and test ?
If you still find issues, please open tickets on the [module project](https://github.com/cbornet/generator-jhipster-swagger-cli/issues/new) and not on the main generator.

[2016-04-21 10:06] cbornet opened #3435 "Remove addJavaScriptToIndex from doc"
The addJavaScriptToIndex method was removed in #3104 so it must be removed from the [Creating a module](http://jhipster.github.io/modules/creating-a-module/) page

As a side note, modifications to the generator-base.js file should be outlined in the release note as it can break modules. Ideally, keeping retrocompatibility with a deprecation notice would be nice.

[2016-04-21 11:20] delverdev commented on #2965
@wmarques, your solution doesn't work when refresh inner states, for example '/example/123'. It returns 'Your request cannot be processed (not found)'.

[2016-04-21 11:38] MBenali commented on #3433
@cbornet
I create a monolitic application whith : yo jhipster, after i make a yo jhipster-swagger-cli

The build is Ok, no errors are thrown

mvn spring-boot:run, run whithout exceptions, but i haven't any things when i open link http://127.0.0.1:8080/
Just à white page.

[2016-04-21 12:32] cbornet commented on #3433
Is there any error in the browser's developper console ?

[2016-04-21 12:37] cbornet commented on #3433
And you probably need to do a ```gulp build``` to inject the script into the index.html.
I will add this step to the module.

[2016-04-21 12:43] MBenali commented on #3433
No error, nothing

Ok i will test with gulp build.

[2016-04-21 12:49] deepu105 commented on #3433
its `gulp install` for dev and `gulp build` for prod

Thanks & Regards,
Deepu

On Thu, Apr 21, 2016 at 8:43 PM, MBenali <notifications@github.com> wrote:

[2016-04-21 12:57] MBenali commented on #3433
@cbornet
@deepu105
Thanks,
the application works but under Entities tab, i don't have any thing..
ihaven't petstore items

[2016-04-21 13:07] cbornet commented on #3433
It's normal : the module only generates code to make API calls. It cannot know what you want to do with the data after that. If you want entities, you need to use the entity generator (or JDL/JHUML).

[2016-04-21 13:19] MBenali commented on #3433
@cbornet
Ok, thanks.
I thought that the generation of the front part, would also modify the html, js, ..etc

[2016-04-21 13:36] raphaelbrugier commented on #3428
I haven't tried with gradle, I will and let you know.

[2016-04-21 14:32] cbornet commented on #3433
The module generates an angular service (eg. petstore.module.js). I don't really see what generic views could be generated (better than what swagger-ui provides) but if you have ideas, don't hesitate to open a feature request.

[2016-04-21 14:43] #2889 closed

[2016-04-21 14:43] MBenali commented on #3433
Ok,
At the moment I begin with this tool, but when I would be capable of proposing, I would not hesitate

Thanks & Regards,
MBenali

[2016-04-21 14:47] #3338 closed

[2016-04-21 14:54] cbornet commented on #3433
With the latest version of the module, ```gulp install``` will now be called at the end of the module execution.

[2016-04-21 17:29] mwhitis opened #3436 "Wrong repository in MongoDBTokenStore.removeRefreshToken"
##### **Overview of the issue**

In the Generated config for MongoDBTokenStore for a Mongo/Oauth app, the removeRefreshToken method is referencing the wrong repository, so throws an error on build.

line 88 in my generated version is:

oAuth2AccessTokenRepository.delete(refreshToken);

should be

oAuth2RefreshTokenRepository.delete(refreshToken);

##### **Motivation for or Use Case**

Doesn't buil

[2016-04-21 17:41] mwhitis commented on #3436
Opened pr: #3437

[2016-04-21 22:02] dornala commented on #3251
@deepu105  I am making this change as part of code "adding required field to Relationship". You can move these both to in-progress.

[2016-04-22 00:32] #3436 closed

[2016-04-22 00:34] deepu105 commented on #3251
Please make seperate PR so that one doesnt get stuck coz of other. We
havent yet decided if the unique constraint part adds value or not
On 22 Apr 2016 06:03, "Amarnath Reddy Dornala" <notifications@github.com>
wrote:

[2016-04-22 02:55] trongtran opened #3438 "Build error: Could not find property 'GulpTask' on root project"
FAILURE: Build failed with an exception.

* Where:
Script '/path-to-my-project/gradle/profile_dev.gradle' line: 28

* What went wrong:
A problem occurred evaluating script.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

--------------------------------------
line 28: task gulpConstantDev(type: GulpTask) {
    ar

[2016-04-22 03:00] trongtran commented on #3438
Below are some my optionals when I was created new sample project

.....
? (5/16) Which *type* of database would you like to use? SQL (H2, MySQL, PostgreSQL, Oracle)
? (6/16) Which *production* database would you like to use? MySQL
? (7/16) Which *development* database would you like to use? MySQL
? (8/16) Do you want to use Hibernate 2nd level cache? Yes, with ehcache (local cache, for a single n

[2016-04-22 03:29] #3438 closed

[2016-04-22 03:30] deepu105 commented on #3431
@ykushch if the fix is generic and applicable for default monolith project then plz do a PR

[2016-04-22 03:50] trongtran commented on #3438
@deepu105 How can I resolve this issue?

[2016-04-22 04:02] deepu105 commented on #3438
Please follow our [guidelines ](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#issue) when opening issues if you want us to help you.
For bug reports please follow the template pre populated [here](https://github.com/jhipster/generator-jhipster/issues/new)
Open a new issue with proper details or update this issue with all details and request to re open.
Issues opened wi

[2016-04-22 04:48] deepu105 commented on #1995
@ddewaele [here ](https://github.com/deepu105/jhipster-roles) is my sample app with dynamic role management. Your feedback is welcome. The approach is explained [here](https://groups.google.com/forum/#!topic/jhipster-dev/Z1dPMVX_nFA)

[2016-04-22 05:13] ykushch commented on #3431
@deepu105 sure, I need to perform some additional tests. Tested it already on mac os - works fine with standard and non-standard layout too.

[2016-04-22 05:19] pramika opened #3439 "mvn package -DskipTests=true -B -Pprod command executes gulp tests with PhantomJS where we expect all the tests not to be executed"
##### **Maven Prod package for Cloud executes Javascript tests using PhantomJS where all the tests are expected not to be executed**

The above issue exists in Jhipster version 3.0.0 also 3.1.0. Did not checked in other versions.

And I am using Apache maven 3.3.3 for packaging.

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

{
  "generator-jhipster": {
    "j

[2016-04-22 06:15] deepu105 commented on #3439
I confirm this

[2016-04-22 09:09] #3333 closed

[2016-04-22 09:42] jdubois commented on #3439
The skipTest option is only for the Java build, which is handled by Maven directly. The gulp test is in the JavaScript build, which is indeed triggered by Maven, but is independant (so Maven has no idea there are tests here, and they are not running as part as the "test" Maven goal).
I agree it would be logical to have also gulp test skipped, but that would be a specific Maven configuration, which

[2016-04-22 10:58] jdubois opened #3440 "Update to Spring Cloud Brixton RC2"
See https://spring.io/blog/2016/04/19/spring-cloud-brixton-rc2-now-available

[2016-04-22 12:51] kyriakoy opened #3441 "TypeError using jhipster:import-jdl for simple entity using jhipster 3.1.0"
Trrying to use yo jhipster:import-jdl yourJdlFile.jh with a simple entity produce an error:

The jdl is being imported.
TypeError: Cannot read property 'endsWith' of undefined
    at Generator.getAngularAppName (/usr/lib/node_modules/generator-jhipster/generators/generator-base.js:1229:61)
    at module.exports.EntityGenerator.extend.initializing.getConfig (/usr/lib/node_modules/generator-jhipster

[2016-04-22 13:09] trajakovic opened #3442 "Could not find property 'GulpTask' on root project 'xxx'"
##### **Overview of the issue**

Gradle build fails for jhipster microservice application. Reason:

[code]

##### **Motivation for or Use Case**

Since you cannot run gradle build (even gradle clean), it's obviously blocker type of error.

##### **JHipster Version(s)**

JHipster Generator v3.1.0

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **E

[2016-04-22 13:10] deepu105 commented on #3441
What is the yo-rc.json for the project where you are running this
On 22 Apr 2016 20:51, "kyriakoy" <notifications@github.com> wrote:

[2016-04-22 13:12] deepu105 commented on #3442
Ok ill take look. I guess there ia PR open which should fix this

[2016-04-22 13:21] kyriakoy commented on #3441
There is no .yo-rc.json into the project folder

[2016-04-22 13:25] atomfrede commented on #3442
@deepu105 I fixed it some time ago, but maybe there is something different when using microservices I didn't see.

[2016-04-22 14:06] saturnism opened #3443 "Add Kubernetes support"
I'm looking to adding Kubernetes support w/ @PierreBesson and @jdubois. This is a tracking issue. :D

[2016-04-22 14:13] atomfrede commented on #3439
I guess when buildign on maven with prod profile gulp tests are also executed.

[2016-04-22 14:53] rraraujop opened #3444 "Error when entity have a attribute enumeration (enum java)."
When I use "entity" sub-generator to create a entity that have a attribute enumeration (enum java), I get an error when click on Menu of entity in Angular.
In fact, nothing happens. In the file "...src\main\webapp\app\entities\myentity\myentity.state.js" I have, in part, the code:

[code]

When I remove this line: $translatePartialLoader.addPart(''); Everything works well. This would be expected b

[2016-04-22 15:24] deepu105 commented on #3441
You can use import-jdl only from a project generated by JHipster. Plz read the documentation properly

[2016-04-22 15:24] #3441 closed

[2016-04-22 15:39] khalilj opened #3445 "Generation a project using Vagrant environment creates a broken main page"
Hi,

I'm using 'jhipster/jhipster-devbox' Vagrant box for my development environment, the Vagrant VM is running on VirtualBox on my Win 7 machine.

When creating a Jhipster monolith project, with most default options the server starts correctly but the mail page is not loading (chrome or IE).

JHipster version: v3.0.0

**Entity configuration(s) `entityName.json` files generated in the `.jhipster`

[2016-04-22 19:17] atomfrede commented on #3439
I think switching to the frontend-maven plugin will solve the issue with maven. https://github.com/jhipster/generator-jhipster/pull/3365

[2016-04-22 20:51] raphaelbrugier commented on #3428
I was able to exclude the dependency to epoll native, not by declaring the exclusion at the dependency level but in the configurations declaration however:

[code]

This didn't exclude it:
[code]

Anyway, when excluded the warning does not show anymore and the app can still starts and serve request without problem.

After exclusion:
[code]

So I would suggest to exclude this dependency in both gen

[2016-04-23 02:10] #3442 closed

[2016-04-23 08:39] pascalgrimaud commented on #3428
LGTM, but 1 question: this exclusion is needed only for microservice, isn't it? (so we won't change the monolithic Cassandra)

[2016-04-23 08:41] xjiaoyang commented on #3307
@PierreBesson what's going on this PR, are you working on?

[2016-04-23 08:59] PierreBesson commented on #3307
@xjiaoyang yes, but it's on hold as we are waiting for the integration of the uaa (oauth server) as a 4th type of application as this solution will need to be compatible with this.

[2016-04-23 11:19] pascalgrimaud commented on #3445
I dont understand how you test with IE, because the OS of the devbox is ubuntu, so no IE.
Do you mean you tried to launch IE and access to your vm?

[2016-04-23 13:07] raphaelbrugier commented on #3428
Yes only for the monoservices, I don't think Ribbon is included in the monolithic anyway?

So for maven it will be part of the dependency declaration, and for gradle a special condition because the exclusion is at the configuration level.

[2016-04-23 16:09] khalilj commented on #3445
Im exposing port 8080 of the vm to the host. So i can access the server from any browser on the host.
The issue is that the main page of the generated project is blank when trying to view it via chrome or ie

[2016-04-23 18:15] gmarziou commented on #3445
Please look at the browser's console for errors and paste here if any.

[2016-04-23 19:06] dornala commented on #3417
Hi @deepu105  I need small help testing. I made all necessary changes. It working fine when I change name to something other than generator-jhipster(In package.json and linking it to yeoman as npm link)  Any idea why it's happening deepu? Sorry if it's an easy fix, please guide me. This is my first contribution.

[2016-04-23 20:57] jdubois commented on #3445
OK, but does it work in the Ubuntu box? Maybe you just have some port fowarding issue

[2016-04-24 01:59] adam-ho opened #3454 "Login redirect is flakey (we are removing the previous state from sessionStorage before redirect)"
##### **Overview of the issue**

In Firefox and Safari (IE not tested) the redirect to page after login is flakey.
It means that clicking a link when I'm currently not logged in will not always correctly redirect to the page but leave me on the ugly unauthorised screen.

##### **Motivation for or Use Case**

It's a common use case to click a link then log in to see the content.

##### **JHipster V

[2016-04-24 02:17] deepu105 commented on #3417
I dont understand your issue.

This is the way to run the generator from a local instance
1. Install `npm i -g generator-jhipster `
2. Fork the generator to a local folder named `generator-jhipster `
3. Go inside the folder and run `npm link`
4. Make a small change to any log statement and run `yo jhipster ` in someother new folder to check if its running your change
5. If not try running `npm lin

[2016-04-24 02:20] deepu105 commented on #3445
Or your bower install or gulp install tasks didn't run properly, try
running it again with `npm install && bower install && gulp install`
On 24 Apr 2016 04:57, "Julien Dubois" <notifications@github.com> wrote:

[2016-04-24 02:25] adam-ho opened #3455 "Invalid HTML is generated on details page - HR tag is not allowed in DL tags"
##### **Overview of the issue**

The generator creates the entity detail HTML with HR tags within DL tags. This is not allowed according to the HTML standard. To achieve the same visual a small CSS and generator template modification is required.

##### **Motivation for or Use Case**

W3C validation fails.

##### **JHipster Version(s)**

master

##### **JHipster configuration, a `.yo-rc.json` file

[2016-04-24 02:27] deepu105 commented on #3455
Can you do a PR please?

[2016-04-24 02:30] deepu105 commented on #3454
Could raise an issue on ngStorage plugin as well please?
On 24 Apr 2016 10:00, "adam-ho" <notifications@github.com> wrote:

[2016-04-24 02:47] adam-ho commented on #3454
@deepu105  I've isolated the issue and I believe it's not ngStorage after all, but us calling logout(). I believe it might be a race condition and that's why it's working on Chrome and not on Firefox reliably.

[2016-04-24 11:28] xjiaoyang commented on #3442
@atomfrede i compare to gradle/profile_pord.gradle, there is no gulpTask, so i delete gulpTask in profile_dev.gradle. i think you maybe just forgot to delete gulpTask on microservice application generation.

[2016-04-24 11:37] atomfrede commented on #3442
@xjiaoyang It is fixed in latest master. Gulp Task is only added to ``profile_dev.gradle`` if ``skipClient`` equals `` false``.

[2016-04-24 16:02] deepu105 commented on #3454
May be we should do it in a promise
On 24 Apr 2016 10:47, "adam-ho" <notifications@github.com> wrote:

[2016-04-24 23:10] lenzirodrigo commented on #3441
Hi @deepu105 I'm getting the same error with a simple model defined in a jh file.
Can you please point the documentation you are referring to? There is no reference to a yo-rc.json in [the jdl documentation](https://jhipster.github.io/jdl/) and following the quick start there is no instructions other than:
Model your entities with JDL Studio and generate them with `yo jhipster:import-jdl yourJdlFi