[2020-03-09 14:03] wmarques commented on #11451
Thanks for suggesting this.

We are already moving to Angular CLI and for me, it's ok for our needs.
For now a basic JHipster app is one front and one or more backends, it depends if you do microservices or not.
So right now I don't really see the point of integrating a monorepo solution into JHipster. Moving to Angular CLI looks enough for me.

[2020-03-09 16:10] #11440 closed

[2020-03-10 06:19] #10671 closed

[2020-03-10 06:36] yucwan opened #11454 "Error deploying to Azure Spring Cloud locally"
##### **Overview of the issue**

Deploying application...
× Deployment failed!
 Error: Command failed: az spring-cloud app deploy --resource-group yuchensp --service yuchensp --name yucjhapp --jar-path target/*.jar
Command group 'spring-cloud' is in preview. It may be changed/removed in a future release.
WARNING: This command usually takes minutes to run. Add '--verbose' parameter if needed.
WARNI

[2020-03-10 06:39] HJK181 opened #11455 "Pagination not working on history back/forward"
##### **Overview of the issue**

Pagination of entity in React frontend does not work when using history back/forward, e.g. mouse back button.

##### **Reproduce the error**

Create a simple entity with pagination. Go to page > 1 by using the pagination component and try to navigate back and forth by using the mouse buttons.

##### **JHipster configuration**
Welcome to the JHipster Information Sub

[2020-03-10 07:32] pascalgrimaud commented on #11454
can you provide all information plz ? just use `jhipster info`

[2020-03-10 07:36] pascalgrimaud commented on #11455
@HJK181 : can you use `jhipster info` too plz ? so we have your node, npm version etc... just to be sure it doesn't come from it

[2020-03-10 07:51] jdubois commented on #11454
Yes, maybe you have nothing under `target` because you used Gradle, there is no way to know without `jhipster info`

[2020-03-10 07:52] jdubois commented on #11454
Oh it's you @yucwan !! Don't hesitate to do a Teams call with me

[2020-03-10 07:52] HJK181 commented on #11455
@pascalgrimaud Updated the description, sry for the missing part.

[2020-03-10 09:18] MathieuAA commented on #11398
Why not integrate into jhispter import-jdl:
    - jhipster import-jdl writes directly to the file, I changed jhipster-core to don't write, just return.

How so? If it's just a matter of adding a new flag, it's pretty easy.

[2020-03-10 09:18] yucwan commented on #11454
C:\Users\yucwan\Documents\vsworks\jh>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json fi

[2020-03-10 09:20] yucwan commented on #11454
I believe the problem is that the az command to deploy jar doesn't support path like /*.jar. I tried this command and:

C:\Users\yucwan\Documents\vsworks\jh> az spring-cloud app deploy --resource-group yuchensp --service yuchensp --name yucjhapp --jar-path target/*.jar
Command group 'spring-cloud' is in preview. It may be changed/removed in a future release.
This command usually takes minutes to r

[2020-03-10 10:11] mshima commented on #11398
The jhipster-core part is easy.
The cli part can be complex, not sure, probably it should be rewritten as a generator.

And what I mean is that this is not the focus right now. The liquibase generator should be mature first.

[2020-03-10 10:32] pascalgrimaud commented on #11454
It means there are 2 issues at this line:
https://github.com/jhipster/generator-jhipster/blob/master/generators/azure-spring-cloud/index.js#L424
- it should not be `target` for `Gradle`
- it should not use `*.jar`

[2020-03-10 12:53] geyuqiu commented on #11435
exception trace logs after raising the loglevel:

[code]

[2020-03-10 13:03] geyuqiu commented on #11435
as this does not occur locally, I am suspecting a firewall / network related problem

[2020-03-10 14:52] abderrahimAck opened #11457 "interceptor"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-03-10 14:52] #11457 closed

[2020-03-10 15:49] geyuqiu commented on #11435
the last one occurs when I ended a cypress run 'cypress open' (so not something critical): `java.io.IOException: An established connection was aborted by the software in your host machine`

[2020-03-10 16:37] jdubois commented on #11454
The good news: I improved Gradle support (the PR is linked into this ticket)
The bad news: it deploys correctly using "*.jar"

So @yucwan I need to your help to better understand... Maybe that's because you are on Windows??
Could you run `jhipster info` on your project, and post the result here, so I have your exact configuration?

[2020-03-10 16:47] #11404 closed

[2020-03-10 16:47] geyuqiu commented on #2232
@mraible Is it also included for Angular2+

[2020-03-10 17:22] ruddell commented on #11455
This also affects the Angular client. Going forward or back in history does not update the entity table data, even though the query params are updated.

[2020-03-10 17:33] nimotli opened #11460 "generating an application with reactive spring webflux and cassandra error"
##### **Overview of the issue**
After i generated a Jhipster application with the option reactive and cassandra I get an error in web.rest.UserJWTController because it tries to import a service that doesn't exist (AuditEventService).
i tried with other options and it gets created, the only combo where it doesnt work is Cassandra-Reactive

##### **Motivation for or Use Case**
Trying to start a new

[2020-03-10 17:36] mraible commented on #11460
If you remove the import, does it compile? If you have time, a pull request to fix this would be great!

[2020-03-10 18:18] nimotli commented on #11460
No it doesn't, its needed for other stuff.
I will try to fix it, if I'm successful I'll send a pull request.

[2020-03-10 22:26] avdev4j commented on #10680
My 2 cents

We dealt with the same error in a JHipster 6.6+ application since we added `@AutoConfigureMockMvc` annotation in our integration tests.
We adopt the API first design with open JHipster option and we wanted to test our API through integration tests.

The UserServiceIT test class throw the following exception :
[code]

The quick and dirty fix is to add `@AutoConfigureMockMvc` at the top

[2020-03-10 22:55] avdev4j opened #11462 "Caffeine cache has a too large time of expire after writing into"
##### **Overview of the issue**
The default JHipster Caffeine configuration provide a too large time for the following parameter `setExpireAfterWrite`. [L186](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs#L186).
It cause the cache to expire every after one hour after the last modification we did.
I th

[2020-03-11 02:22] SudharakaP commented on #11462
hmm... I am a bit confused with this one. I think we had [this discussion before](https://github.com/jhipster/generator-jhipster/issues/9351#issuecomment-525954771). :thinking:

The [documentation of Caffeine also seems to indicate](https://github.com/ben-manes/caffeine/wiki/Design) that time-to-live expiration is `expireAfterWrite` :thinking:

cc: @ben-manes

[2020-03-11 02:23] yucwan commented on #11454
@jdubois yes here is the jhipster info

[2020-03-11 02:42] ben-manes commented on #11462
There are two common variants of TTL in the wild:
1. Time after creation
2. Time after create or last update

(1) is common when the cache is read-through and the api disallows an explicit update call. For example when caching an external resource that one has no control over. This is could be implemented as (2), just not providing the api to do so (e.g. DNS).

(2) is how Caffeine / Guava implemen

[2020-03-11 11:57] thinkgopal opened #11463 "Database Related Exception While Running Application for First Time"
JHipster version 6.8.0
jdk1.8.0_131
Running with Spring Boot v2.2.5.RELEASE, Spring v5.2.4.RELEASE
Ubuntu 16.04 LTS
Intellij IDEA Community Edition(latest)

Video link: https://www.youtube.com/watch?v=uQqlO3IGpTU&feature=emb_logo

I generated a project using JHipster version 6.8.0 offline by watching above video link. But I am getting below error while running the app first time itself.

**Log:**

[2020-03-11 13:10] ntorionbearstudio commented on #11398
Hello, I discovered JDL import part in source code during the last days.
So, I tried to link it with what I have already done on `jhipster entity` command line tool and I managed to make it work with JDL importation. Here is the demo link with JDL schema update :

https://drive.google.com/file/d/1uV-mJdPHdpKc8GYVJaePZT2unVYHpE-4/view?usp=sharing

How it works :

- User imports JDL schema updated
-

[2020-03-11 15:28] avdev4j commented on #11462
After a full day of search, I can confirm that the Caffein cache configuration work as expected and the following ticket is no longer relevant.

It's a little confusing for me but I would like to thank you all for the informations you gave. The real problem was linked association table from a JDL specification and cache annotations on OneToMany associations. Nothing about Caffein, I was wrong.

ha

[2020-03-11 15:28] #11462 closed

[2020-03-11 15:45] SudharakaP commented on #11462
@ben-manes : Thanks much for your detailed explanation.

@avdev4j : Good to hear you figured it out. :+1:

Although I was wondering what we could do to avoid some confusion is to use default Caffeine terminology. That is instead of using `time-to-live-seconds` (in the `application-prod.xml` and `application-dev.yml` files) we could rename it to `expire-after-write`. WDYT?

[2020-03-11 15:52] SudharakaP commented on #11463
Seems to me that the application cannot connect to the h2 database. But to recreate your problem we need more information. Could you please complete the issue template and provide any `.yo-rc.json` and JDL files that you used to generate this application. 😄

[2020-03-11 16:48] pascalgrimaud commented on #11462
adding docs or add a little comment in properties would be nice I think

[2020-03-11 17:17] jdubois commented on #11454
@yucwan that's weird, you should have much more information, typically the content of your `.yo-rc.json` (well, not the exact content, we remove sensitive information first).
Do you have that file in your directory?

[2020-03-11 19:34] fresnault opened #11465 "Jhipster upgrade delete home directory data"
Hello everyone,

First of all, thank you for your participation in this beautiful project that I have been following for several years.

##### **Overview of the issue**

Jhipster upgrade generator try to cleanup current repository. If there is a symbolic link ~ inside the jhipster application, uprade generator will delete home directory without warning.

##### **Motivation for or Use Case**

It wo

[2020-03-11 21:13] mshima commented on #11465
Do you have a file called ~?

[2020-03-11 21:21] fresnault commented on #11465
Yes, it's a folder generated by logback in my case. I think the behaviour is the same with symlink.

[code]

[2020-03-11 21:31] mshima commented on #11465
Symlink is safe, `rm -rf ~` is problematic.
Or files named `$HOME`, `$PWD`, etc.

[2020-03-12 02:52] yucwan commented on #11454
Yes:

{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mycompany.myapp"
    },
    "jhipsterVersion": "6.8.0",
    "applicationType": "monolith",
    "baseName": "yuc",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "cacheProvider": "ehcache",
    "enableHibernateCache":

[2020-03-12 06:45] #11465 closed

[2020-03-12 07:05] thinkgopal commented on #11463
Thank you so much @SudharakaP for early response.
Please check below for .yo-rc.json. Also please let me know where will I get JDL files. I am new to JHipster.

**.yo-rc.json**
[code]

[2020-03-12 07:29] nury-garryyev opened #11467 "Liquibase problem with OneToOne relationship and/or Unique fields"
##### **Overview of the issue**

I created the JHipster project with the jh file. Everything works fine. I run `mvn liquibase:diff` command and added a newly created changelog.xml file to master.xml. It gives an error:

[code]

##### **Motivation for or Use Case**

I didn't do any changes to DB, entities, and relationships. Despite this, the `mvn liquibase:diff` command creates a changelog.xml fil

[2020-03-12 08:46] pmverma commented on #11463
I think this won't be a JHipster issue.

What does the ping command says?
`ping gopal`
What your `/etc/hosts` looks like?
`cat /etc/hosts`
What does the hostname command print?
`hostname`
Or
Telnet?

[2020-03-12 08:58] pmverma commented on #11467
Possibly related to #10887

Your attention is right because OneToOne relationship is achieved using UNIQUE constraint. Isn't it?

[2020-03-12 09:45] thinkgopal commented on #11463
[code]

[2020-03-12 10:13] thinkgopal commented on #11463
PFA

[2020-03-12 11:08] yelhouti commented on #10680
I'm facing the same problem with EhCache
Cache[usersByLogin] is closed
java.lang.IllegalStateException: Cache[usersByLogin] is closed

[2020-03-12 13:23] geyuqiu opened #11469 "Documentation via arc42 especially for building block view"
##### **Overview of the feature request**
Have we had a discussion regarding documenting jHipster via arc42 templates, e.g. :
[arc24 building block view](https://docs.arc42.org/section-5/)  for Users, Authorities etc.

Graphics can be vcs-ed in plantuml :)

##### **Motivation for or Use Case**

This view can reveal how generated Angular / Spring Boot, Monolith / Microservices app would look like

[2020-03-13 03:52] pmverma commented on #11463
ping: unknown host gopal

Here is the problem.

try adding a DNS entry for `gopal`.

`sudo echo "127.0.0.1	gopal" >> /etc/hosts`,

This might fix your issue.

[2020-03-13 04:44] SudharakaP opened #11471 "Add Regular/Core Contributor Guidelines to CONTRIBUTING.md"
##### **Overview of the issue**

As discussed in the following email thread, this is to include some information to the documentation for regular contributors and core team members of the JHipster project. This adds a section called `Regular Contributor Guidelines` to the contribution guide. If you have any further suggestions or things to include please feel free to let me know. :smile:

https://

[2020-03-13 06:26] pmverma commented on #11467
I was not able to reproduce this issue with `version 6.8.0`
I think the unique constraints issue is resolved. The only changeSet I ever get after `liquibase:diff` is

[code]
Again this do not have any real change so it's fine.

We recently have updated liquibase version.
@nury-garryyev Can you try with `version 6.8.0`.

[2020-03-13 06:32] pmverma commented on #10887
@nuba Can you confirm this issue with version 6.8.0?
Please see more info at https://github.com/jhipster/generator-jhipster/issues/11467#issuecomment-598571309

[2020-03-13 08:16] #11471 closed

[2020-03-13 08:16] deepu105 commented on #11471
Great

[2020-03-13 12:51] geyuqiu commented on #9268
@ruddell csrf-service.ts is created for Angular + jwt + monolith. But it is never used in code. Do you know more background information?

[2020-03-13 15:39] zhx828 opened #11474 "Redis Replication setup (master-slave mode)"
##### **Overview of the feature request**
Often time, in the production, the single server setup is not recommended, so we added the Redis Cluster support(https://github.com/jhipster/generator-jhipster/issues/11129). But for small projects, the cluster may not be necessary.

##### **Motivation for or Use Case**
We want to guarantee the cache is still available if one of the nodes is crashed. I mod

[2020-03-13 16:41] pascalgrimaud commented on #11474
@zhx828 : thanks for opening the discussion, but I don't understand well your suggestion. If I'm correct, you suggest to have another config 'master-slave' in production. We would have 3 configs:
- single node
- master-slave for small project -> new yaml file ?
- cluster

Currently, the single node is applied for dev and prod profile.
The cluster mode is commented in the configuration: the user ne

[2020-03-13 17:04] mraible opened #11475 "Reactive Monolith does not compile"
##### **Overview of the issue**

When you create a reactive monolith, it does not compile.

Caught by the [Ionic4J CI process](https://travis-ci.org/github/oktadeveloper/generator-jhipster-ionic/jobs/661960142#L2461).

[code]

##### **Motivation for or Use Case**

Creating a reactive monolith should compile.

##### **Reproduce the error**

Create an app from the master branch using the following J

[2020-03-13 17:41] zhx828 commented on #11474
@pascalgrimaud Thanks for the quick reply. I haven't tried out the 6.8.0 yet. So probably I should do that before giving more details. But here is what I have so far.

I modified the application yaml to specify which type of the redis the instance should use. There are more work can be done to provide a more generic configuration.

## dev
[code]

## production
[code]

Then in the CacheConfiguratio

[2020-03-13 17:48] ruddell commented on #9268
@geyuqiu CSRF is enabled for Session, Oauth2, and UAA auth types, but not for JWT.  You could [change the code here](https://github.com/jhipster/generator-jhipster/blob/45dbcb4146cd3573c7e372f9eda57c4c06457ad5/generators/client/files-angular.js#L395) so it isn't added for JWT apps.

[2020-03-13 22:57] FahmyChaabane commented on #5995
POSTGRES 4.8
@Column(columnDefinition = "clob")  didn't work
@Type(type = "org.hibernate.type.TextType")  didn't work
@Lob  didn't work

[2020-03-13 23:43] duderoot commented on #5995
@FahmyChaabane can you please create a new issue according to the [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#issue) It will be easier to help you 😃 .

[2020-03-14 00:35] FahmyChaabane commented on #5995
@duderoot  my baddddddd... i thought the update in Spring JPA will update the column size in the already created tables. but turned out it didn't so i manually changed to size of the column.
thank you'all !

[2020-03-14 12:52] #10691 closed

[2020-03-14 20:17] mshima opened #11480 "Add support to auto installation of blueprints/modules."
##### **Overview of the feature request**

There is already a prompt to show blueprints and modules.
JHipster could install them automatically.

##### **Motivation for or Use Case**

Out of box support for blueprints and modules.

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-03-14 23:01] pascalgrimaud commented on #11480
@mshima : I don't understand well what you have in mind, specially by installing automatically module and blueprint.
Do you mean: `npm install -g generator-jhipster` : we should install all existing blueprints and modules too ?

[2020-03-14 23:08] mshima commented on #11480
@pascalgrimaud
Case 1:
- Running `jhipster —blueprints foo` will install the blueprint foo if it isn’t installed.
Case 2:
- Running `jhipster` already prompt if you want to use a blueprint/module. Install it instead of showing a message to install manually.

The module/blueprint will be installed and used without restarting jhipster.

[2020-03-14 23:15] pascalgrimaud commented on #11480
For the case1, I'm in favor, but I wonder if it's possible. You're an expert in Yeoman part so you know it well.

For the case 2, I'm not sure at all, as the existing modules are not sync with generator-jhipster. A lot of them are broken and would not work with our current version of JHipster.

[2020-03-14 23:40] mshima commented on #11480
Can be done.

For case 2, maybe we should change tags for jhipster 7.

[2020-03-15 09:39] pascalgrimaud commented on #11480
For case 1, there are some works:
- check if the blueprint is installed or not
- multi install if there is more than 1 blueprint
- check compatibility: today, not all blueprints are sync with v6.8.0 (I should update Vue.js soon)

For case 2, for v7, yes we should filter the existing modules like we did for v5 but not for v6.
For automatically installing them, I don't think it's a good idea.
For ex

[2020-03-15 10:53] mshima commented on #11480
It’s already done today

Sure

It’s already done today.
But can’t be done before installing.
Once is installed it will be checked.

Current prompt adds it to otherModules:

https://github.com/jhipster/generator-jhipster/blob/7786df240e1d8e2e0e93ba1cc6b8b08e5179209f/generators/app/prompts.js#L189

Then saves to config.
https://github.com/jhipster/generator-jhipster/blob/7786df240e1d8e2e0e93ba1cc6b8

[2020-03-15 11:30] pascalgrimaud commented on #11480
We didn't manage to understand well each other :D
But in the end, I think we agree !

[2020-03-15 14:15] senyor commented on #398
We used lombok for a big project fine knowing it limitations. When using it manually it can be applied differently. For some classes there need only in @Getter and @Setter annotations, for others it can be @Data or @Builder and so on. For most of classes @Slf4j can be used safely for example. I see enabling it in automatic way can lead to sophisticated configuration change in generators. But if pe

[2020-03-15 14:36] SudharakaP commented on #398
Please don't comment on an **old issue**. If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new/choose) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Al

[2020-03-16 06:55] HJK181 commented on #11455
I've tried/noticed multiple thing:
1. Use `props.history.listen` to get notified about location changes. This does not seam to work as the listener get's triggered several times for a single history back/forward. I'm new to React but I think this might be related to nesting multiple `switch` in nested components?!
2. Use `useLocation` from `react-router-dom`, here the `effect` runs only once for a

[2020-03-16 08:22] sniffertine opened #11482 "Do not generate Javadoc for methods of service implementations"
##### **Overview of the issue**

For generated services, the same Javadoc is generated for interface and impl classes.

##### **Motivation for or Use Case**

If you later document your service interface, you must not forget to either update the documentation of the impl class as well or delete it (to inherit the Javadoc of the interface)

##### **Reproduce the error**

##### **Related issues**

##

[2020-03-16 10:27] qmonmert commented on #11088
@jepp-igus & @pascalgrimaud my PR is done #11450 ✅
I use the same regex that Keycloak except that I remove two characters % and /
because it's not possible with the code :
`@GetMapping("/users/{login:" + Constants.LOGIN_REGEX + "}")`

@pascalgrimaud I updated a translation key but only in french and english because I don't know the translations for the others languages ...

[2020-03-16 10:29] pascalgrimaud commented on #11088
@qmonmert : in this case, you can use english by default when you don't know the translation

[2020-03-16 10:33] geyuqiu commented on #11482
@pascalgrimaud  may want to group [them](https://github.com/jhipster/generator-jhipster/issues/11363) ?

[2020-03-16 10:37] geyuqiu commented on #11460
@mraible correct me if I am wrong, current Audit functionality is used to

- register/log authentication_success / authentication_failuree
- enable further integration of [entity-audit](https://github.com/hipster-labs/generator-jhipster-entity-audit)

[2020-03-16 10:37] qmonmert commented on #11088
@pascalgrimaud ok :)

[2020-03-16 11:05] nury-garryyev commented on #11467
I couldn't reproduce this issue with  `version 6.8.0`. But I am using  `version 6.7.1` in my current project. Do you have any suggestions on how to fix this unique constraints issue with `version 6.7.1`.

[2020-03-16 13:48] pmverma commented on #11467
@nury-garryyev Thanks for your testing. I would rather update liquibase as it will fix the issue.

[2020-03-16 19:00] direstrepo24 opened #11484 "jhipster docker composer ERROR! YAMLException"
##### **Overview of the issue**

when I try to generate the docker composer configuration, after the questions the ERROR comes out! YAMLException
##### **Motivation for or Use Case**

##### **Reproduce the error**
jhipster docker-compose:
Checking Docker images in applications directories...
ERROR! YAMLException: duplicated mapping key at line 21, column -172:
        environment:
        ^

#####

[2020-03-16 19:11] pascalgrimaud commented on #11484
you need to provide enough information about your project, just use `jhipster info` inside your project.

otherwise, we don't have information to reproduce your issue

[2020-03-16 19:53] direstrepo24 commented on #11484
eohelstore@0.0.1-SNAPSHOT /Users/themakers/eohel/eohelstore
├── generator-jhipster@6.7.1
└─┬ generator-jhipster-entity-audit@3.2.0
  └── generator-jhipster@6.7.1  deduped

[code]

[2020-03-16 20:28] gmarziou commented on #11484
You pasted only the configuration of your gateway not the other apps.

As [stated in doc](https://www.jhipster.tech/docker-compose/) `jhipster docker-compose` must be run in root directory of your project with all your app as sub directories. Without them, we cannot reproduce.

Please also paste the generated file that causes the YAML exception. What have you done to fix it?

[2020-03-16 20:34] direstrepo24 commented on #11484
yes, I did it in the root directory of the microservices that I have. When executing after error: jhipster info: get this

cat: no such file or directory: .yo-rc.json

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>

</pre>
</details>

##### **JDL for the Entity configuration(s) `entityName.json` files generat

[2020-03-16 23:29] gmarziou commented on #11484
I used this example which looks close to your  project:
https://github.com/jhipster/jdl-samples/blob/master/microservice-ecommerce-store.jdl

Then I tried to reproduce issue with JHipster 6.7.1 and 6.8.0 but both succeeded as shown below.

So this issue is probably specific to your project:

- either you modified some of the` src/main/docker/app.yml` files which are loaded by the docker-compose su

[2020-03-17 10:14] thinkgopal commented on #11463
It's solved, Thank you for your kind support. @pmverma   @SudharakaP

[2020-03-17 10:14] #11463 closed

[2020-03-17 13:04] qmonmert commented on #11088
@jepp-igus & @pascalgrimaud my PR is finished

[2020-03-17 16:20] SudharakaP commented on #11463
@thinkgopal : You are welcome :smile:

[2020-03-17 17:31] HaithemOtt commented on #8065
Hi all,
Having this issue since a period of time, i solved it by changing  --max_old_space_size=2048 (it was 4096). I am running a Jhipster app on windows 7, 64 bits and ram = 4 GO (only 3,86 usable).

[2020-03-17 18:14] lsadehaan opened #11486 "Problem with running mvnw during Gitlab CI"
##### **Overview of the issue**

Gitlab CI/CD fail during "nohttp" step due to permission denied when running mvnw

##### **Motivation for or Use Case**

Use CI/CD

##### **Reproduce the error**

Created CI/CD project using a windows machine with Gitlab

##### **Related issues**

Yes, related issues: #9426 and perhaps #9391

##### **Suggest a Fix**

Just put a comment on the CI/CD page telling peo

[2020-03-17 22:42] gmarziou commented on #8065
@HaithemOtt unfortunately as soon as your app code size grows up or uses more libraries, you will need more RAM

[2020-03-18 07:55] pascalgrimaud commented on #11484
@direstrepo24 : we need your `jhipster info` inside of each your microservices:
- eohelstore
- facturamicroservicio
- inventariomicroservicio

[2020-03-18 10:06] charygao commented on #6709
👍 anti xml config ! yaml is the better way!

[2020-03-18 10:51] atomfrede commented on #6709
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2020-03-18 15:46] direstrepo24 commented on #11484
The problem started when I wanted to change the option of "Do you want to setup monitoring for your applications? (Use arrow keys)
❯ No ", I had already executed it well but then decided not to use monitoring. Now the problem occurs with any project that I want to carry out.
I share my app.yml docker of gateway:
version: '2'
services:
  eohelstore-app:
    image: eohelstore
    environment:

[2020-03-18 16:11] pascalgrimaud commented on #11484
@direstrepo24 : still need your jhipster info inside of each your microservices:
- eohelstore
- facturamicroservicio
- inventariomicroservicio

Without these information, we can't reproduce the issue, and we can't help.

[2020-03-18 16:21] direstrepo24 commented on #11484
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "databaseType": "sql",
    "devDatabaseType": "postgresql",
    "enableHibernateCache": true,
    "enableSwaggerCodegen": false,
    "enableTranslation": true,
    "jhiPrefix": "jhi",
    "lan

[2020-03-18 16:22] direstrepo24 commented on #11484
facturamicroservicio:
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "databaseType": "sql",
    "devDatabaseType": "postgresql",
    "enableHibernateCache": true,
    "enableSwaggerCodegen": false,
    "enableTranslation": true,
    "jhiPr

[2020-03-18 16:24] direstrepo24 commented on #11484
inventariomicroservicio:
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "databaseType": "sql",
    "devDatabaseType": "postgresql",
    "enableHibernateCache": true,
    "enableSwaggerCodegen": false,
    "enableTranslation": true,
    "jh

[2020-03-18 16:25] gmarziou commented on #11484
I doubt that we can reproduce even with all your service configurations.

You could run the sub generator under debugger or add log statements to https://github.com/jhipster/generator-jhipster/blob/master/generators/docker-compose/index.js to understand which file is  causing the error.

[2020-03-18 16:31] direstrepo24 commented on #11484
sorry, how to do this?

[2020-03-18 16:31] HaithemOtt commented on #8065
Effectively

[2020-03-18 16:58] pascalgrimaud commented on #11484
I think @gmarziou is right, I couldn't reproduce using your configuration.
So I think you modified your config...

If you can publish all these projects on GitHub (or a different version generated from scratch), it would helped to reproduce.

Otherwise, I think we are stuck here

[2020-03-18 17:05] gmarziou commented on #11484
You edit `node_modules/generator-jhipster/generators/docker-compose/index.js` file and add log statements like `this.log(`Loaded something}`);` and then you re-execute.

[2020-03-19 02:56] npanhthu opened #11487 "Filtering entities date types greaterOrEqualThan and lessOrEqualThan incorrectly"
##### **Overview of the issue**

I have activated filtering successfully. Then I have createdAt field need to filter greaterOrEqualThan and lessOrEqualThan but It returns data with incorrect filter input date.

##### **Reproduce the error**
I want to get rows with createdAt >= 2020-03-10 and createdAt<= 2020-03-12 I GET endpoint with the following parameters like this:
`/api/transaction?createdAt.

[2020-03-19 09:37] #11487 closed

[2020-03-19 09:39] npanhthu commented on #11487
It the filtering date is correctly. it just return wrong date from get api

[2020-03-19 15:34] leonardomoralopez89 commented on #9195
How implement this solution, please be more specific, need help

[2020-03-19 17:58] Dufgui commented on #9195
create a @Configuration wich expose this bean.
The @Configuration class must be scanned by spring boot.

But It's an old bug, maybe it's another metrics wich block you today. You must debug to find which one, if my fix does n t work for you

[2020-03-19 20:46] leonardomoralopez89 commented on #9195
sorry for the inconvenience but what is the import of context

[2020-03-19 21:50] #11088 closed

[2020-03-19 21:54] #11475 closed

[2020-03-19 21:56] #9752 closed

[2020-03-19 22:10] qmonmert commented on #11088
@pascalgrimaud & @jdubois I claim my money 😄https://opencollective.com/generator-jhipster/expenses/14828

[2020-03-20 09:32] letanloc1998 opened #11490 "[PUT request for instance/object]"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

Hi, I create entity Car, anh I see may be black/not enough api crud
![image](https://user-images.githubusercontent.com/26348718/77151295-33021780-6ac8-11ea-9b7d-a57f21357a7b.png)
How to change one car? I want to PUT request for /api/cars/{id} as Django RestFramework

There are many field in Instance/Object so I think

[2020-03-20 10:09] avdev4j commented on #11490
This ticket has been closed as the guidelines are not followed.

Tickets must follow our Guidelines, as mentioned in:

our Readme file on the front page of the project,
the "create a new ticket" page and
our Help page
We have also created a template on the "create a new ticket" page to help you follow those guidelines.

If this is indeed a JHipster bug, please open a new issue with proper details

[2020-03-20 10:09] #11490 closed

[2020-03-20 21:26] ArnauAregall commented on #11290
@pascalgrimaud just opened https://github.com/jhipster/jhipster.github.io/pull/917

[2020-03-20 21:50] pascalgrimaud commented on #11290
fixed by https://github.com/jhipster/jhipster.github.io/pull/917

[2020-03-20 21:50] #11290 closed

[2020-03-21 04:12] #11467 closed

[2020-03-21 04:12] pmverma commented on #11467
This issue no longer valid after v6.8.0

[2020-03-21 08:21] vishal423 commented on #11365
I spent some time on this and don't see any issues at least with maven. Here is what I tried and worked for me:
1. Generate session authentication based monolithic project with name as `sessionapp`
2. Change the `baseHref` in the `webpack.common.js` to `/sessionapp/`
3. Create a war using `./mvnw -Pprod,war clean verify -DskipTests`
4. Rename the generated war from `sessionapp-0.0.1-SNAPSHOT.war`

[2020-03-21 09:22] pascalgrimaud commented on #11365
@vishal423 : thanks for having a look, I'll try your steps.
On your side, did you try to launch war file directly, as it should be executable file ?

[2020-03-21 15:49] pascalgrimaud commented on #11365
@vishal423 :
- I have no problems, following your steps, it works well
- now, I only have problem when starting war from command line:

[code]

[2020-03-21 18:24] DanielFran opened #11491 "Upgrade couchbase to 6.5.0"
See https://docs.couchbase.com/server/6.5/release-notes/relnotes.html

ping @tchlyah

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-03-21 18:34] vishal423 commented on #11365
@pascalgrimaud, I also see the same issue with executable war. Most likely, it's an issue with `maven-war-plugin` configurations. If no one else is looking into it, I can try to spend some time over the next few days.

[2020-03-21 18:43] pascalgrimaud commented on #11365
@vishal423 : yes please, if you can

[2020-03-21 20:16] pascalgrimaud commented on #11391
I'm updating the original ticket to put all required tasks

[2020-03-22 07:24] juliensadaoui commented on #11136
I will do it.

[2020-03-22 08:19] #11486 closed

[2020-03-22 10:02] pascalgrimaud commented on #11391
It starts to work well.
See the README at https://github.com/hipster-labs/jhipster-daily-builds

[2020-03-22 10:33] pascalgrimaud commented on #11391
About scheduler:
- all default apps builds are launched between 0am UTC and 5am UTC
- Neo4j builds are in a specific file (see [Neo4j.yaml](https://github.com/hipster-labs/jhipster-daily-builds/blob/master/.github/workflows/neo4j.yaml)) as integration tests failed (cc @atomfrede)
- all JDL Microservices builds are launched between 5am UTC and 9am UTC

[2020-03-22 10:42] pascalgrimaud commented on #11484
As we didn't manage to reproduce, I'm pretty sure you modified the original projects.
Feel free to provide more details, projects on GitHub if possible etc... to help us to reproduce.
For now, let' close this.

[2020-03-22 10:42] #11484 closed

[2020-03-22 10:50] pascalgrimaud commented on #11474
For now, we use:
- useClusterServers -> for "real" prod
- useSingleServer -> for dev

You suggest to add another config:
- useMasterSlaveServers -> for "real" prod, which doesn't need a real cluster ?

It can be interesting to document it, as putting it in main generator, there will be 1 more option for our end user which will not be used a lot...
What about putting a tips at https://www.jhipster.

[2020-03-22 14:33] amalkurup89 opened #11494 "Generate springboot microservices which supports multiple Couchbase bucket configuration"
##### **Overview of the feature request**

Currently the springboot microservices generated by Jhipster supports only single bucket configuration with Couchbase. Can we have Jhipster support multi-bucket Couchbase configuration

##### **Motivation for or Use Case**
Suggestion to improve Jhipster

##### **Related issues or PR** --> No

No

-   [ ✓] Checking this box is mandatory (this is just to sh

[2020-03-22 16:23] poolebu commented on #10743
I just had the same issue and this ticket saved my sanity. Also fixed with `allowSetters = true`

[2020-03-22 16:33] pascalgrimaud commented on #10743
thanks, I'm changing this to bug.
If someone wants to contribute to apply the fix plz ?

[2020-03-23 00:38] Alan-CS commented on #10702
I have this problem on MAC when I am debugging my APP in STS version 4.6.0-RELEASE. When I change a line of code in STS, the app recompiles but fails to reload and dies because of this exception.

I have to delete the folder elasticsearch in build folder BEFORE making a change in the code (and then the hotloading works).

Also, there is no "read-timeout" setting anywhere (I am using jhipster 6.8.0

[2020-03-23 00:59] SudharakaP commented on #10099
@pascalgrimaud : I was looking into this and I also encountered the [same problem as vishal423](https://github.com/jhipster/generator-jhipster/pull/10139#discussion_r307307697) where the global npm install command `npm install -g "$JHI_HOME"` fails. I've [opened an issue](https://github.com/nodelib/nodelib/issues/50) in the nodelib side since I believe this is a problem there. If this is not a hig

[2020-03-23 02:17] SudharakaP commented on #11339
@Sergiocr16 : I've deployed your application successfully; https://agile-headland-40343.herokuapp.com/

Although one thing I noticed is that your app uses `serviceDiscoveryType` as `eureka` and therefore needs the [`jhipster-registry`](https://github.com/jhipster/jhipster-registry) to be deployed as well. Was this parameter changed manually for some reason; because I don't see why a monolithic app

[2020-03-23 07:50] pascalgrimaud commented on #10099
ok let's keep `package-lock.json` for now

[2020-03-23 09:48] tchlyah commented on #11491
It's version 6.5.0 😉

I already upgraded the version here https://github.com/jhipster/generator-jhipster/pull/11421, which is blocked for now by https://github.com/testcontainers/testcontainers-java/pull/2350!

If you prefer I can do an other PR just for the upgrade

[2020-03-23 10:00] DanielFran commented on #11491
@tchlyah Thanks for the feedback.

Will you make a PR to update the changes in jhipster bom? See https://github.com/jhipster/jhipster/blob/master/jhipster-dependencies/pom.xml#L48-L50

Anyway, I will close this one.
Thanks

[2020-03-23 11:45] unikzforce commented on #9575
@PierreBesson is [microk8s.io](microk8s.io) still irrelevant?

[2020-03-23 11:54] PierreBesson commented on #9575
Sorry there are too many alternatives in this space k3s, minikube, kind, etc). It would take a huge amount of time to support them all and they don't correctly emulate a real cluster in many cases.

[2020-03-23 11:56] unikzforce commented on #9575
Yeah, Sure:)

[2020-03-23 13:11] PierreBesson commented on #11469
@geyuqiu Do you have a sample application with this set up ? So that we can evaluate if this is valuable perhaps as an option or external module.

[2020-03-23 13:12] PierreBesson commented on #8608
@MathieuAA do you need a bounty for this feature?

[2020-03-23 13:14] MathieuAA commented on #8608
Nop, almost done! Thanks anyway

[2020-03-23 14:36] agoncal opened #11495 "Required relationships to the same entity are not supported"
##### **Overview of the issue**

I need to model a reflexive relationship such as in https://www.jhipster.tech/jdl/relationships#reflexive-relationships : an invoice can have several child invoices, and a child invoice must refer to the parent. So, as explained in the guide, I have the following JDL:

[code]

When I import the JDL I get:

[code]

It's just a matter of removing the `required` and i

[2020-03-23 16:37] zhx828 commented on #11474
@pascalgrimaud I agree that it would be one more option to maintain. We can re-evaluate if more people asking the same thing. I drafted a tip (https://github.com/jhipster/jhipster.github.io/pull/920), please help to review. Thanks!

[2020-03-23 19:34] yelhouti opened #11499 "gradlew build in container problem"
##### **Overview of the issue**

I am running ./gradlew clean build -Pprod -PnodeInstall --no-daemon inside a container to build the app, and it tale too much time (and fails sometimes) due to memory constraints I think.

I check the code and found in gradlew:
https://github.com/jhipster/generator-jhipster/blob/e322dbb8a0fc83c632dd72b0d7308fd8da931862/generators/server/templates/gradlew#L47

Can a

[2020-03-23 20:56] MathieuAA commented on #11495
Hi Antonio. Looking at the code, this was one one of the requirements to implement the required keyword for relationships.
It's clearly not a bug, but perhaps it should be supported, maybe (if there aren't any technical reasons).

Anyway, the doc should be fixed if such an example is present.

[2020-03-24 05:23] atomfrede commented on #11499
The gradlew(wrapper) is not created by us. It's the default file created by gradlew it itself and we should not change it. You can define the memory for the gradle Java process via parameters, but I need to look them up.

[2020-03-24 05:27] yelhouti commented on #11499
@atomfrede no worries, I tough you modified it manually since I saw one line change, or did you just update gradle then call `gradle wrapper`?

[2020-03-24 05:28] atomfrede commented on #11499
Yes. Just calling the wrapper command with the version we want to have.

[2020-03-24 05:36] yelhouti commented on #11499
thanks for confirming :)

[2020-03-24 05:36] #11499 closed

[2020-03-24 05:41] mraible opened #11501 "Extending the JDLImporter is no longer working after JHipster 6.7.0"
##### **Overview of the issue**

The Ionic for JHipster project has an [`import-jdl`](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/generators/import-jdl/index.js) command that uses JHipster Core's JDLImporter:

[code]

This works great when using JHipster 6.7.0, but as soon as I upgrade to generator-jhipster 6.7.1, I get the following error when trying to import JDL:

[cod

[2020-03-24 06:09] SudharakaP opened #11502 "Duplicate Success Message Printing: Entity Generation"
##### **Overview of the issue**

When generating entities using a JDL file, upon success we print the message; `INFO! Congratulations, JHipster execution is complete!`. However this message seems to be printed for each entity generated. So for example if I have three entities in my JDL file that message is printed three times.

##### **Motivation for or Use Case**

It's not the most visually pleas

[2020-03-24 06:56] cbornet commented on #11495
Wouldn't that create an infinite recursion ? ( an invoice must have a parent, which must have a parent, which...)

[2020-03-24 08:43] MathieuAA commented on #11495
Yeah I guess so. Good point Christophe.

A simple way to do this kind of thing is to  have two entities: a "root" invoice and children ones. It makes dealing with the relationship easier.

[2020-03-24 09:27] MathieuAA commented on #11501
`.jhipster-ionic.json not found`

That's not part of the regular JDL import flow, @mraible I'm new to this but why is it needed to import a JDL file?

[2020-03-24 11:04] mshima commented on #11501
@mraible instead of pinning generator-jhipster.
You should add a explicit dependency on jhipster-core@6.0.7.

Is there any plan to add blueprint support?

[2020-03-24 11:11] mshima commented on #11501
This is the relevant api change:
https://github.com/jhipster/generator-jhipster/commit/e41b0327b643f96c48d4c00fe708a0c42174c63e#diff-0898b22730d57afcd394d8e4889ece4a

[2020-03-24 11:15] #11474 closed

[2020-03-24 11:49] CentroricercheRPS opened #11503 "Bug with frontend and docker?"
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {

[2020-03-24 14:02] vishal423 commented on #11365
@pascalgrimaud, per my analysis, the war generated with inclusion of `war` maven profile is not executable. I actually don't see much usefulness of this war as it can contain conflicting dependencies that should be provided by container and would personally prefer to remove it.

IMO, the correct steps to generate a war ( + executable) should be:
1. Generate Jhipster application (e.g. session authe

[2020-03-24 14:35] artem-korolev opened #11505 "Angular application is broken (generated with gateway)"
##### **Overview of the issue**

Installed JHipster just today. Fresh version. Created gateway application with Angular frontend.
Angular frontend is unable to load in browser (npm install works okay, npm start is also good).

Browser log show this error:
TypeError: clazz.decorators is undefined

React frontend is working good.

I use Jhipster Registry + oauth2. no database, no entities. just gene

[2020-03-24 15:43] pascalgrimaud commented on #11365
Agree with you @vishal423
So for me, we just need to:
- merge your other PR
- add documentation at https://www.jhipster.tech/production/#building-an-executable-jar--war-file with the steps you provided

@vishal423 : can you do the documentation part plz ? Then I think we can close this ticket, with the bounty for you

[2020-03-24 16:12] ruddell commented on #11503
I could not reproduce this issue, you should have `"eslint-config-jhipster": "0.0.1",` in your package.json which contains the jhipster eslint configuration.

If I remove that line from the package.json, I get the same error message.

[2020-03-24 17:16] mraible commented on #11501
@MathieuAA You are correct. We create this file for the entity generator since we extend from JHipsters in https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/generators/entity/index.js.

@mshima Thanks for the relevant API change. I'll try changing our JDL importer to use that. As far as pinning jhipster-core, we also extend the entity generator from generator-jhipster so I pref

[2020-03-24 17:34] mraible commented on #11501
Hmmmm, changing from:

[code]

To:

[code]

Doesn't seem to solve the problem. https://travis-ci.org/github/oktadeveloper/generator-jhipster-ionic/jobs/666438709#L2362

[2020-03-24 18:00] pascalgrimaud commented on #11495
good point @cbornet
I think we should document it

[2020-03-24 18:03] CentroricercheRPS commented on #11503
Yes, I have that line. However, I run the command ('./mvnw package -Pprod verify jib:dockerBuild`) as root (because of Docker permissions).

Can this be an issue?

[2020-03-24 18:38] ruddell commented on #11505
Can you try with a regular release of a browser?  I couldn't reproduce with Firefox 74.0 (64-bit) or Chrome (on Mac), but don't have a developer edition installed.

[2020-03-24 18:48] artem-korolev commented on #11505
you right. I tried it with Microsoft Edge and it also works well.
seems to be compatibility issue with firefox developer edition.
thank you

[2020-03-24 18:51] artem-korolev commented on #11505
issue comes from @angular/core. seems. probably I need to raise it there to solve it

[2020-03-24 19:03] artem-korolev commented on #11505
hard to say. yes. it does not work only in firefox developer edition. so I believe its minor issue. but where is the issue - hard to say. typescript, webpack, angular...

[2020-03-24 19:21] artem-korolev commented on #11505
seems issue is really in angular/core:

**..__/fesm2015/core.js:**
[code]

[2020-03-24 19:58] artem-korolev commented on #11505
I published this bug to firefox bugzilla - https://bugzilla.mozilla.org/show_bug.cgi?id=1624693

[2020-03-24 20:19] ruddell commented on #11503
Does `./mvnw package -Pprod verify` work? You should be able to run that without root, which would let us know if that's causing the issue.

[2020-03-24 20:24] SudharakaP commented on #11505
@artem-korolev : The Developer Edition has [experimental features and stuff](https://www.mozilla.org/en-US/privacy/firefox/#pre-release) and I've experienced lots of small issues like this with the developer edition.

I am closing this issue, since we cannot do much about this here; if anyone feels otherwise feel free to re-open. :smile:

[2020-03-24 20:24] #11505 closed

[2020-03-24 20:38] SudharakaP commented on #11339
@Sergiocr16 : It was pointed out to me that we could use several monoliths and a registry load balance. So I guess your configuration is correct. Sorry about that. :smiley_cat:

But my deployments are still is successful and doesn't give your error message. Would you be able to paste more information/stack trace from the Heroku Application log? I think there should be an underlying error which cau

[2020-03-25 00:20] mraible opened #11506 "Migrate Ionic for JHipster to use GitHub Actions"
Proxy ticket for https://github.com/oktadeveloper/generator-jhipster-ionic/issues/278. @pascalgrimaud volunteered. :)

[2020-03-25 10:56] Shaolans commented on #10981
I tried on my side, unfortunately I can reproduce the error on jhipster 6.6.0, 6.8.0 and on the master version.
Based on my observation/research (I might be wrong thought), Jackson does not seem to be able to deserialize an empty array and since when we use Fetch type EAGER on a OneToMany relationship that does not hold any entity yet. It returns an empty HashSet, it might be the problem here.
Thu

[2020-03-25 11:43] CentroricercheRPS commented on #11503
Nope, I got the same error.

[2020-03-25 12:12] Hawkurane commented on #11391
By the way, we should change the badges on the readme on the main project's github

[2020-03-25 12:22] pascalgrimaud commented on #10981
Thanks for the analyze @Shaolans, I think you're right.
As by default, we don't use `eager`, for me, it's not a JHipster bug. Anyway, I think it can go to a specific part in our documentation, maybe at https://www.jhipster.tech/managing-relationships/

Would you like to do a PR for that plz @Shaolans ?

[2020-03-25 12:24] Shaolans commented on #10981
I will do it this afternoon !

[2020-03-25 13:19] vishal423 commented on #11503
@CentroricercheRPS, can you try upgrading your `node.js` version from `10.16.x` to the one used by app `12.16.x`?

[2020-03-25 14:13] pascalgrimaud commented on #11391
@Hawkurane : yes it's mentionned in the list of items:
`copy the badges from jhipster-daily-builds to README of main generator-jhipster`

[2020-03-25 14:14] nassimerrahoui commented on #11502
Hello, I'm working on it.

[2020-03-25 14:20] SudharakaP commented on #11502
@nassimerrahoui : Wonderful; thanks. Let me know if you have any questions or further information. :smile:

[2020-03-25 14:39] CentroricercheRPS commented on #11503
Installed 12.16.1 (with nvm), still got the same issue

[2020-03-25 14:51] vishal423 commented on #11503
did you cleaned the `node_modules` directory and installed packages again?

[2020-03-25 15:04] CentroricercheRPS commented on #11503
rm -rf node_modules/

and

./mvnw package -Pprod verify

Still got the same error

[2020-03-25 16:13] qmonmert commented on #11502
@nassimerrahoui I didn't know that you worked on it, I made a PR #11507 I contact you

[2020-03-25 16:38] Shaolans commented on #10981
@pascalgrimaud I opened the PR

[2020-03-25 17:21] CentroricercheRPS commented on #11503
I realized that this project was nested inside another jhipster project! After deleting the parent folder project files, the verify worked!

[2020-03-25 17:21] #11503 closed

[2020-03-25 18:27] mraible commented on #11501
Damn, I did a new release of Ionic4J yesterday and it seems this is [still an issue](https://github.com/oktadeveloper/generator-jhipster-ionic/issues/279). There's no error output now. It seems the writing of files just fails silently. Is there anything in our [`import-jdl/index.js`](https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/generators/import-jdl/index.js) that looks fu

[2020-03-25 18:42] mshima commented on #11501
I will take a look in ~ 1 hour.

[2020-03-25 20:09] MathieuAA commented on #11501
A way to know that would be to look at what's returned by the importer @mraible.
This should be the exact list of what's written to the disk

[2020-03-25 21:22] mshima commented on #11501
You reverted the version but not the jhipster-core api change.
That's why I think the jhipster-core must be pinned.

[2020-03-26 00:18] direstrepo24 commented on #9255
Hi. i created new app, with jhipster 6.8, and i get error pass admin:
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "authenticationType": "jwt",
    "cacheProvider": "hazelcast",
    "clientFramework": "angularX",
    "serverPort": "8081"

[2020-03-26 00:27] direstrepo24 commented on #9255
I have checked the database and it does not insert the initial user data loaded in liquidbase data, what can I do?

[2020-03-26 00:37] direstrepo24 opened #11510 "Jhipster liquidbase data init user.csv"
##### **Overview of the issue**

##### **Motivation for or Use Case**

I have checked the database and it does not insert the initial user data loaded in liquidbase data.

##### **Reproduce the error**

Exception in authorize() with cause = 'NULL' and exception = 'Bad credentials'
##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##

[2020-03-26 06:15] pascalgrimaud commented on #10981
fixed by https://github.com/jhipster/jhipster.github.io/pull/922

[2020-03-26 06:15] #10981 closed

[2020-03-26 06:18] #10743 closed

[2020-03-26 06:22] #11460 closed

[2020-03-26 06:31] pascalgrimaud commented on #11365
Closing this as both PR have been merged
Thanks a lot @vishal423 :)

[2020-03-26 06:31] #11365 closed

[2020-03-26 08:57] Shaolans commented on #10743
Bug Bounty claimed https://opencollective.com/generator-jhipster/expenses/14956

[2020-03-26 08:58] pascalgrimaud commented on #10743
thanks @Shaolans, just approuved

[2020-03-26 10:11] Hawkurane commented on #11506
Hello, I would like to work on this, would that be ok ? @mraible @pascalgrimaud

[2020-03-26 10:13] pascalgrimaud commented on #11506
sure, I can help to review if needed @Hawkurane
gogogo !

[2020-03-26 13:28] amanganiello90 commented on #11406
@mraible , if it is not a problem, I can work on this.

[2020-03-26 13:57] mraible commented on #11406
Please do! 👍

[2020-03-26 14:47] amanganiello90 commented on #11406
ok. I will start on [feature/entity-tests branch](https://github.com/amanganiello90/generator-jhipster-ionic/tree/feature/entity-tests)

[2020-03-27 01:53] joshwolff1 commented on #9626
I have the exact same error as the OP with JHipster 6.7.0

[2020-03-27 10:43] CentroricercheRPS opened #11514 "Wrong tutorial or error in documentation"
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "appsFolders": ["invoice", "notification", "store"],
    "directoryPath": "../",
    "gatewayType": "zuul",
    "clusteredDbApps": [],
    "monitoring": "no",
    "consoleOptions": [],
    "se

[2020-03-27 18:57] Falydoor opened #11519 "Unable to start a MongoDB cluster with Docker"
##### **Overview of the issue**

Unable to start a MongoDB cluster using the docker-compose file:

![image](https://user-images.githubusercontent.com/2212267/77790253-e2943800-703a-11ea-927a-993cebf20b6a.png)

##### **Motivation for or Use Case**

The docker-compose file should start a MongoDB cluster.

##### **Reproduce the error**

Generate a monolith that uses MongoDB and then run `docker-compo

[2020-03-27 21:48] mraible commented on #11506
@Hawkurane Have you started on this yet? I'm thinking about doing it now since Travis is down. I can hold off if you've already started it.

[2020-03-27 22:38] ramiloif opened #11520 "Interactive entity generator fails on TypeError: Cannot read property 'toLowerCase' of undefined"
##### **Overview of the issue**
While using the entity interactive generator, and creating a many to one relationship to another entity
The process fails on `ERROR! TypeError: Cannot read property 'toLowerCase' of undefined`
Just a line after `Everything is configured, generating the entity...`.
Generating this entity with same relationship from <EntityName>.json works just fine
##### **Motivation

[2020-03-27 23:16] mraible commented on #11506
@Hawkurane Nevermind. Travis started working again. 🙂

[2020-03-27 23:17] MathieuAA commented on #11520
Hi, I've reproduced the issue. I'm going to dig into that

[2020-03-27 23:19] ramiloif commented on #11520
Actually i'm trying to debug it now, but i'm new to this project, can you guide me how to debug it ?

[2020-03-27 23:23] MathieuAA commented on #11520
Yes, of course.
What I'm doing:
  - clone this repository (+ install its dependencies)
  - `npm link` so that the cloned repo can be used everywhere (like `npm i -g ...` but for locally installed projects)
  - go to the app I've created to test this issue
  - `npm link generator-jhipster` so that my previously linked project is used by the app

Then, I'm gonna dig into the source code to try to fi

[2020-03-27 23:50] mraible commented on #11501
This is fixed thanks to @mshima! https://github.com/oktadeveloper/generator-jhipster-ionic/releases/tag/v5.1.1

I'm not sure how to set up the bounty payout. Can you help me do that @pascalgrimaud?

[2020-03-27 23:50] #11501 closed

[2020-03-27 23:58] ramiloif commented on #11520
Ok I found the line causes the bug
https://github.com/jhipster/generator-jhipster/blob/add8f07d59c2967b28a4fbd07a6ab9b938774ee2/generators/entity/index.js#L945

This Issue is on "A unidirectional many-to-one relationship"
So there is no otherEntityRelationship
so `relationship.otherEntityRelationshipName` is undefined

[2020-03-28 00:03] MathieuAA commented on #11520
Nice! Couldn't find this needle in all haystack.

[2020-03-28 00:04] ramiloif commented on #11520
I think I now how to solve it one moment I'l send a PR

[2020-03-28 00:05] MathieuAA commented on #11520
Alright, I'll see if importing a JDL content fails too

[2020-03-28 00:12] MathieuAA commented on #11520
Possibly related to #10984

[2020-03-28 00:17] MathieuAA commented on #11520
I'm going to sleep, I think @mshima would be interested to follow up on this issue (maybe @SudharakaP you can help too?). Anyway, @ramiloif thanks for the report and nice work :)

[2020-03-28 00:26] ramiloif commented on #11520
Good night
I have created a PR #11521 to solve it as a suggestion
It solved the problem for me.
I'm new so I hope the code makes sense.
The build failed on prettier I'll fix that tomorrow

[2020-03-28 00:49] mshima commented on #11520
@MathieuAA the bug is similar but to reduce this kind of bug just a complete refactoring =/.
I really want to do something for jhipster 7.

@ramiloif thanks for the patch, it makes sense.

But I think the correct fix is to remove the following lines:
https://github.com/jhipster/generator-jhipster/blob/add8f07d59c2967b28a4fbd07a6ab9b938774ee2/generators/entity/index.js#L385-L387

The field will be

[2020-03-28 00:51] mshima commented on #11520
@ramiloif can you test if removing these lines fix the problem too?
https://github.com/jhipster/generator-jhipster/blob/add8f07d59c2967b28a4fbd07a6ab9b938774ee2/generators/entity/index.js#L385-L387

[2020-03-28 01:29] ramiloif commented on #11520
Yes removing the if also solved the issue

[2020-03-28 01:43] mshima commented on #11520
@ramiloif thanks.
Do you want to create another PR with this other approach?
So we can decide which one to merge?
Or both. It will make no harm :P.
I am inclined to merge both.

[2020-03-28 07:42] ramiloif commented on #11520
Yes I’ll create it...

[2020-03-28 08:05] pascalgrimaud commented on #11501
Just follow this: https://www.jhipster.tech/bug-bounties/

[2020-03-28 08:56] MathieuAA commented on #11520
Thanks @mshima for taking the time to look into that!

[2020-03-28 11:54] ramiloif commented on #11520
I have created the second PR #11523
Removing

[2020-03-28 18:04] amalkurup89 commented on #11494
@DanielFran Is this being looked upon or in your recent feature list

[2020-03-28 18:25] mshima commented on #11520
@ramiloif first PR is merged
Second one we need to think about unidirectional vs bidirectional.

[2020-03-28 18:44] Hawkurane commented on #11506
@mraible Yes, I have already started on it: I just need to change environment variables from travis to github's.
if you want to check the progress on my branch: [https://github.com/Hawkurane/generator-jhipster-ionic/tree/migrate-github-ci](https://github.com/Hawkurane/generator-jhipster-ionic/tree/migrate-github-ci)

[2020-03-29 04:20] vudangngoc commented on #1458
After 5 years, MySQL can support Nvarchar, could you please concern to reopen this ticket?

[2020-03-29 04:22] amatosg opened #11525 "[Feature Request] Add custom NgbInputDatepicker implementation"
##### **Overview of the feature request**

Currently, date picker only allows YYYY-MM-DD format. By adding a custom implementation, users will be able to choose the format she/he desires.

##### **Motivation for or Use Case**

Being able to choose the format I want to show in a date picker.

##### **Related issues or PR**

No issues/PR found

##### **Proposal**
 I created a files called `shared/co

[2020-03-29 06:12] SudharakaP commented on #1458
@vudangngoc : I would suggest you create a new issue outlining your feature request and also provide a link to this issue there. :smile:

[2020-03-29 11:55] pascalgrimaud commented on #11520
I'm adding a bounty on this as @MathieuAA you confirmed the issue

[2020-03-29 11:59] mshima commented on #11520
@pascalgrimaud its already fixed.
The missing problem is the reproducible problem.
If a subsequent `jhipster —with-entities` is called the source can change.
But I didn’t confirmed it yet.

[2020-03-29 12:02] mshima commented on #11520
@pascalgrimaud do we support unidirectional relationships?

[2020-03-29 13:04] MathieuAA commented on #11520
Nop. There are uni and bidirectional relationships, the JDL supports both as does JHipster. There are some cases where only bidirectional are supported though, and ways to generate relationships have full support

[2020-03-29 13:08] pascalgrimaud commented on #11520
@mshima : i'ts not a problem to put a bug bounty once the bug is fixed -> I'd like to put a bounty on each bug as it should be our priority. Then as @mshima @MathieuAA you follow closely the issue, you'll know who can claim it.

[2020-03-29 13:14] mshima commented on #11520
@ramiloif should claim it for know.
My doubt is if we should open a new issue for the other issue.
I will try to confirm it.

[2020-03-29 13:19] pascalgrimaud commented on #11520
@mshima : yes don't hesitate to open another issue if this one is fixed and if it's a different one -> so it's clearer to follow and for another bounty if it's a bug :)

[2020-03-29 13:44] mshima commented on #11520
Closing this issue since it is fixed.
I will confirm the problem I am thinking about and if it's a bug.

[2020-03-29 13:44] #11520 closed

[2020-03-29 13:45] ramiloif commented on #11520
How can I claim the bounty ?

[2020-03-29 13:51] mshima commented on #11520
@ramiloif I think this was your first contribution. So congrats.

Relevant links:
https://opencollective.com/generator-jhipster/expenses/new
https://www.jhipster.tech/bug-bounties/

[2020-03-29 14:48] ramiloif commented on #11520
Wow I’m very exited thanks a lot 😃

[2020-03-29 16:37] mraible commented on #11404
@murdos Are you still planning to add support for Elasticsearch? Also, did you get the bounty for this?

[2020-03-29 17:59] pascalgrimaud commented on #11494
@amalkurup89 : you can contribute to the project and propose a pull request, as it seems you know who to do it.

[2020-03-29 18:55] aleksandar-budisa commented on #11525
I need complete code from ngb-custom-date-parser-formatter.ts to html.

[2020-03-29 19:20] mshima opened #11527 "JHipster creates an invalid project when creating entities with underscore."
##### **Overview of the issue**

JHipster validation allows underscore on entityName, but the generated client code is invalid.
Both angular/react are affected.

Lots of `error  Interface 'ITest_dashed' must be PascalCased    @typescript-eslint/class-name-casing`

##### **Motivation for or Use Case**

Don't allow a invalid code to be generated.

##### **Reproduce the error**

  <details>
  <summar

[2020-03-29 19:24] mshima commented on #11527
Fix 1 and 2 are easy. I done locally.
I've started fix 3, but I don't want to waste time if 1 or 2 are enough.
I don't like fix 4.

I want to know the better approach.

[2020-03-29 21:55] murdos commented on #11404
Yes. I got something working at last. I need to report the changes to the templates, you should have a PR during the week to come.

Not yet.

Regarding r2dbc entity support, I'm inclined to wait the availability of https://github.com/spring-projects/spring-data-r2dbc/issues/282 in a milestone before really starting, it should really ease the work (and also simplify the existing User and Persistenc

[2020-03-29 22:19] amatosg commented on #11525
There is no html change needed for this to work. The generated code will show dates in the desired format.

[2020-03-30 06:11] aleksandar-budisa commented on #11525
This code in my case don't work, visual studio code show error for format metod.

[2020-03-30 06:26] aleksandar-budisa commented on #11525
I use angular 9.

[2020-03-30 07:49] aleksandar-budisa commented on #11525
![screen](https://user-images.githubusercontent.com/32466224/77887860-9845cd80-726b-11ea-888e-e02616cb40e8.jpg)
This is error in command promt.

[2020-03-30 11:43] lzkill commented on #11441
For those facing the same problem: just stop any heavy load task on your computer before compiling the prod package. For some reason webpack fails with this cryptic emitter message when the computer is low on resources.

[2020-03-30 11:50] patrickjp93 opened #11528 "V7 - Replacing Undertow Strategy"
##### **Overview of the feature request**

As per the [V7 Roadmap Discussion](https://github.com/jhipster/generator-jhipster/issues/10958), it seems to be a good time to swap the HTTP Server provider from Undertow to something else **given IBM/Redhat do not support undertow anymore** (apparently not true as per @jdubois' reply). The straightforward pick to replace it is Tomcat, as it is more or le

[2020-03-30 14:59] gmarziou commented on #11528
Performance is one aspect, security is another one.

By choosing Tomcat, we rely on a solution which is wildly  known and  supported either as embedded or standalone. For example, it's much easier to find CIS template for Tomcat than for any other  server, it's important when  you  build a PCI-compilant solution.

[2020-03-30 16:44] patrickjp93 commented on #11528
Jetty templates exist just as Tomcat ones do. My previous employer had several PCI-DSS compliant systems built on Jetty, reason being we could cut server upgrade costs by over 40%. If we wanted to target the easiest server to harden, you'd pick Glassfish.

I have no dog in the fight, so I'm going to try to avoid appearing to shill for Jetty. I'm just after a broader, recorded discussion on alterna

[2020-03-30 17:57] aleksandar-budisa commented on #11525
Works, thanks very much.

[2020-03-30 19:21] amanganiello90 commented on #11506
If it is not a problem, I could help you rewiewing this ticket, because I have the CI integration for this task that I am working: https://github.com/oktadeveloper/generator-jhipster-ionic/issues/170.
Don't hesitate for every think, fell free 😊

[2020-03-30 23:30] amatosg commented on #11525
@aleksandar-budisa then please delete the comments to keep the issye clean. Thanks

[2020-03-30 23:47] mraible commented on #7608
@cbornet Adding support for Elasticsearch seems to be the last thing to do. Is that correct?

[2020-03-31 04:44] cbornet commented on #7608
Indeed ! We could even open another issue for ES and close this one.

[2020-03-31 08:30] deskera-ci commented on #7334
Do we have link to the same issue in kubernetes repo?

[2020-03-31 09:06] monxxi commented on #11519
Hello, i'll try to fix this bug.

[2020-03-31 12:41] knowings opened #11531 "Unable to start the application from IntelliJ"
##### **Overview of the issue**

I generate the application, apply IDE configuration as recommended, fixed some IT and build an external stack for development with the help of the generated `docker-compose` files.
Then I added a run configuration in IntelliJ with specific configuration for keycloak and ElasticSearch.

I started the application through the IDE and waited the process to die with the

[2020-03-31 13:06] #10888 closed

[2020-03-31 13:44] sniffertine commented on #10888
Hello all
I am not sure that implementing hashcode as 31 for DTOs ist necessary, since the id of DTOs normally does not change during usage. I would probably leave it as Objects.hashCode(getId());

[2020-03-31 13:44] knowings commented on #11531
So I think it's my bad after all 😅

As explained on [S.O](https://stackoverflow.com/questions/60004445/mappingexceptionattempt-to-add-id-after-upgrading-to-spring-boot-2-2-x ):  **NEVER** use a field with name `document` when using ElasticSearch...

I'll try to rename the field and see if it's the solution

[2020-03-31 13:53] knowings commented on #11531
At last, it starts !

The solution was to use the annotation @Field("whatever but not document").

[2020-03-31 13:53] #11531 closed

[2020-03-31 14:26] pavankjadda commented on #7334
@deskera-ci https://github.com/kubernetes/kubernetes/issues/61232

[2020-03-31 15:30] aleksandar-budisa commented on #11525
Deleted. Thanks.

[2020-03-31 17:42] naturzukunft commented on #9135
i currently created the .gitlab-ci.yml with:
[code]
and got the problem on gitlab.com
[code]

[2020-03-31 17:50] naturzukunft commented on #9135
git update-index --chmod=+x mvnw
solved my problem !

[2020-03-31 19:01] PabloGancharov opened #11532 "Error: Unrecognised application option name: herokuAppName."
##### **Overview of the issue**

After deploy the app to heroku, I can't export the JDL anymore

##### **Reproduce the error**

1. crete simple app using Jhipster 6.8.0
2. export JDL: works
3. deply it to heroku
4. export JDL: Fail!

[jhipsterIssueJDLExport.txt](https://github.com/jhipster/generator-jhipster/files/4411049/jhipsterIssueJDLExport.txt)

##### **JHipster Version(s)**
I'm using Jhipste

[2020-03-31 19:06] SudharakaP commented on #11532
Thanks for reporting the issue. I don't see in your `jhipster-info` any JDL definitions. Can you give us your JDL. I have a feeling that the JDL file has a problem since in your stacktrace it says;

`ERROR! Error: An error occurred while exporting to JDL: Unrecognised application option name: herokuAppName.`

[2020-03-31 19:13] PabloGancharov commented on #11532
Attaching requested file:
[jhipsterIssueJDLExport.jdl.txt](https://github.com/jhipster/generator-jhipster/files/4411122/jhipsterIssueJDLExport.jdl.txt)

[2020-03-31 19:20] SudharakaP commented on #11532
@PabloGancharov : That's not your jdl file; rather it's you `.yo-rc.json` file. Do you have a file ending with extension `.jdl` in the root of your project?

[2020-03-31 19:30] PabloGancharov commented on #11532
I dont have one besides the one I sent you, please check the jhipsterIssueJDLExport.txt
 file I attached. It has all the commands I used to reproduce the bug.

[2020-03-31 20:04] ruddell commented on #11532
This is reproducible by adding the below `.yo-rc.json` to a folder, then running `jhipster export-jdl`.  The Heroku keys are added when you run `jhipster heroku`

<details>
<summary>.yo-rc.json file</summary>

[code]
</details>

[2020-03-31 21:16] danielpetisme opened #11533 "In a blueprint, `--prettier-java` can't find the java plugin"
##### **Overview of the issue**
Use the `--prettier-java` in a JHipster blueprint.
https://github.com/jhipster/jhipster-quarkus/pull/37#issuecomment-606827625

##### **Motivation for or Use Case**

##### **Reproduce the error**

Quite tricky to reproduce since it's very specific to blueprints planning to use the `--prettier-java` option, so I think Jhipster quarkus may be the only one?

##### **Re

[2020-03-31 21:40] danielpetisme opened #11534 "Add `prettier-plugin-java` by default in the generated project"
##### **Overview of the feature request**

The idea is to add the `prettier-plugin-java` dependency on the server side.
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/package.json.ejs

##### **Motivation for or Use Case**

I see the java plugin used during the generation, I can see [`.prettierrc`](https://github.com/jhipster/generator-jhipster/blob/master/ge

[2020-03-31 22:58] DanielFran commented on #11534
@danielpetisme If You agree I will then close this ticket, there is already #10641 to activate it by default in v7.

[2020-03-31 22:58] #11534 closed

[2020-04-01 02:36] SudharakaP commented on #11532
@ruddell : Thanks for the clarification; I was mixing up `import-jdl` and `export-jdl`. :smile:

@MathieuAA : This error seems to come from;

https://github.com/jhipster/jhipster-core/blob/2aad2a54c8fc2b15853be292b9ae01db08d7815f/lib/core/jhipster/application_options.js#L286-L288

And it seems that in `optionTypes` we support only base options; not options generated by other sub-generators. I sugg

[2020-04-01 06:26] pascalgrimaud commented on #11533
I'm adding the label blueprint too

[2020-04-01 06:53] pascalgrimaud commented on #11534
@danielpetisme : FYI, that's what I already did in my generator-jhipster fork for my customer, as the team decide to not include prettier-java in main generator-jhipster by default and as we don't want to start the v7 yet.

What it could be done without impact:
- add the `prettier-plugin-java` dependency on the server side
- no hook with auto prettier format for java file. Only for the other: md,j

[2020-04-01 06:56] pascalgrimaud commented on #11528
I'd vote for **Tomcat**, as it will follow our policy 1 -> https://www.jhipster.tech/policies/

We migrated to Undertow during v3 few years ago, at the same time than Microservices, and for performance reason.

[2020-04-01 06:58] pascalgrimaud commented on #11533
cc @mshima and @clementdessoude : maybe you know how to solve this issue ?

[2020-04-01 08:22] MathieuAA commented on #11532
A warning is better I agree. Do you want to create a PR for that ?

[2020-04-01 08:32] jdubois commented on #11528
- I've had a talk (in private) with the Undertow lead at Red Hat, and she told me that the project was not being phased out at all, and that they will continue to support it in the long term.
- I definitely have issues in production with everything that is not Tomcat, as this is what most companies and cloud providers are expecting and monitoring (including Azure, where I work)
- I've never though

[2020-04-01 12:08] mshima commented on #11533
I didn’t test, but I think the fix is:
[code]
An alternative is.
[code]

Probably if prettier-java is removed from dependency of the blueprint, it will be moved to the correct place.
[code]

[2020-04-01 12:13] cbornet commented on #11528
Just for information, for the reactive stack we use Netty which is Webflux's default.

[2020-04-01 12:57] SudharakaP commented on #11532
Thanks for the confirmation. Yes I'll create one today. :smile:

On Wed, Apr 1, 2020, 1:23 AM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2020-04-01 13:28] MathieuAA commented on #11532
Thanks @SudharakaP!

[2020-04-01 20:18] SudharakaP commented on #11532
@MathieuAA : I've done the change. Note that I thought it was better to log it as a debug message instead since otherwise for all the non existent optiontypes it would show the message in the log; which might be not the best say when we have another sub-generator with lots of optiontypes (say GAE subgenerator will have like at least more than 5 optiontypes and for each of these we probably don't w

[2020-04-01 22:31] mraible commented on #11506
@Hawkurane Anything I can do to help?

[2020-04-01 22:49] mraible opened #11536 "Update entity generator to support Elasticsearch in reactive applications"
##### **Overview of the feature request**

The last remaining item to move our Reactive/WebFlux support (https://github.com/jhipster/generator-jhipster/issues/7608) to beta is to update the entity generator and its tests to support Elasticsearch.

##### **Motivation for or Use Case**

I'm opening these tasks as a new issue so we can assign a bug bounty to it and hopefully accelerate its developmen

[2020-04-01 22:50] mraible commented on #7608
@cbornet I created https://github.com/jhipster/generator-jhipster/issues/11536 for Elasticsearch support.

[2020-04-02 08:17] Hawkurane commented on #11506
Hello, I have been working with @Shaolans and I think we are quite near the end,
currently we are meeting a problem with selenium for e2e tests, which I think comes from permission rights:
[https://github.com/Hawkurane/generator-jhipster-ionic/runs/552203161?check_suite_focus=true](https://github.com/Hawkurane/generator-jhipster-ionic/runs/552203161?check_suite_focus=true)

[2020-04-02 12:35] pascalgrimaud commented on #11519
Thanks and congrats for your 1st contribution @monxxi !

[2020-04-02 12:36] #11519 closed

[2020-04-02 13:20] qmonmert commented on #11455
@HJK181 @ruddell @pascalgrimaud I fixed all the issues in my PR #11518

@chrisdns can you look my PR ? 🙂

[2020-04-02 14:36] HJK181 commented on #11455
Hi @qmonmert thank you very much, hope the PR get's reviewed and merged soon :)
if it’s not too much to ask if you can have a look at my stackoverflow question https://stackoverflow.com/questions/60826454/jhipster-react-router-render-called-multiple-times
I would be very grateful. i'n not sure if this is also a bug in the generator. And please excuse me I'm pretty new to react and jhispter.

[2020-04-02 15:03] jdubois commented on #11528
I've just created this repository to do some tests:

https://github.com/jdubois/jhipster-benchmarks

It contains 3 applications: Tomcat, Undertow and Webflux (= Netty), so that's pretty self-explanatory.

Those applications are very light: no database, no cache, etc... So this makes the application server start-up time even more important.

I have configured them with Gatling, so we'll be able to

[2020-04-02 15:55] qmonmert commented on #11455
@HJK181 I looked your stackoverflow question, it's difficult to see where is the problem but I think the problem is in your react code (maybe hooks or reducer) and not in the generator JH

[2020-04-02 17:28] patrickjp93 commented on #11528
@jdubois Thank you for the info. I figured I'd repeat the same startup tests using the Open J9 build of 11.0.6 from AdoptOpenJDK, because for some users, memory constraints in multi-tenanted environments are an important consideration.

I'm on the latest baremetal ClearOS and using a ClearOS Docker Image on a NUC8I7BEH, so 2400MHz RAM, 8vCPUs, a Samsung 970 EVO.

  | Undertow | Tomcat | Webflux
--

[2020-04-02 17:32] patrickjp93 commented on #11528
Repeated the same with the latest Java 14 build, pretty much the same performance deltas, but all startup time averages are down 0.22-0.26 seconds.

[2020-04-02 17:57] patrickjp93 commented on #11528
And repeated with the 11.0.6 Hotspot (classic) JVM.

  | Undertow | Tomcat | Webflux
-- | -- | -- | --
Mean | 3.36 | 3.801 | 3.04
Difference |   | 13.125% | -9.524%

[2020-04-02 22:28] danielpetisme commented on #11533
Hello,
I tried to remove the prettier-plugin-java from the blueprint dependencies and it does not solve the issue.
Actually, I don't understand how npm organize `node_modules` I guess it optimize the dependency graph to prevent and that's why it's reorganizing it.

It's not the first time we deltas between the generator itself and its usage within a blueprint...

[2020-04-02 22:33] danielpetisme commented on #11533
I've tested
[code]

 🎉 it works (at least with the blueprint)... it would requires further testing with the main generator

[2020-04-02 22:55] mshima commented on #11533
I pretty sure it will work.
I looked at prettier source an it uses a custom loader strategy, just like yeoman-environment.
By default it looks for plugins at same level hierarchy.
We have to register it to fix this issue.

[2020-04-03 05:46] HJK181 commented on #11455
@qmonmert thanks for having a look. Basically I just described the code Jhipster is generating for those not familiar with Jhipster. It should be reproducible for every React based app with an entity. Just  visit the detail page of an entity and see it's render method called several times.

[2020-04-03 07:48] mraible commented on #11506
Fixed! Thanks y'all. 🙏

[2020-04-03 07:48] #11506 closed

[2020-04-03 07:50] mraible commented on #11406
Fixed thanks to @amanganiello90! 👊

[2020-04-03 07:50] #11406 closed

[2020-04-03 08:03] qmonmert commented on #11455
@HJK181 it's not a bug, it's just like React works

[2020-04-03 08:50] pascalgrimaud commented on #11506
I'm increasing the bounty as @Hawkurane said me it was more work than expected and he needs help from @Shaolans : so it will be easier for them to share the bounty
Good job guys

[2020-04-03 09:17] cbornet commented on #7608
OK. I'm removing it from here since it has it's own issue.
So we just need to merge #11009 and this issue can be closed.

[2020-04-03 09:37] cbornet opened #11542 "[Reactive] Support R2DBC in entity generator"
We now have support for r2dbc in the main generator and entity generation for NoSQL databases.
So remains r2dbc entity generation.

Some things that make it not so easy:
* There's currently no support for query derivation although that should arrive soon : https://github.com/spring-projects/spring-data-r2dbc/issues/282
* r2dbc is not an ORM so the relational code has to be handled explicitly. Mayb

[2020-04-03 14:39] HJK181 commented on #11455
From what I've read this shouldn't be the case. As I pointed out in the question, the render method should not be called, maybe someone else can also check the question, @chrisdns ?

[2020-04-03 16:20] amanganiello90 commented on #11406
$200 bug bounty claim for https://opencollective.com/generator-jhipster/expenses/15270

[2020-04-03 16:24] pascalgrimaud commented on #11406
@amanganiello90 : just approuved

[2020-04-03 16:27] amanganiello90 commented on #11406
Thanks!

[2020-04-04 10:26] Hawkurane commented on #11506
Half of the bounty claimed as well
https://opencollective.com/generator-jhipster/expenses/15294

[2020-04-04 11:17] pascalgrimaud commented on #11506
@Hawkurane : approuved

[2020-04-04 13:44] pascalgrimaud commented on #11391
closing this as we finished everything

[2020-04-04 13:44] #11391 closed

[2020-04-04 14:49] pascalgrimaud commented on #11391
Half of the bounty claimed: https://opencollective.com/generator-jhipster/expenses/15305

[2020-04-04 15:34] ecostanzi opened #11544 "Include Testcontainers in the main generator"
##### **Overview of the feature request**

I just released a new version of this module: https://github.com/intesys/generator-jhipster-testcontainers. It allows to run integration tests on sql databases with testcontainers. It's very simple (it basically adds a properties file in test resources) and it doesn't impact the existing code. A user can keep running integration tests on H2 or switching t

[2020-04-04 16:13] pascalgrimaud commented on #11544
I'm not totally in favor of using testcontainer for SQL database integration tests, as I see some issues:
- Docker will be mandatory for all our users and I still saw a lot of issue for users with Windows
- it doesn't work out of the box for CI/CD which is inside container, you need to configure Docker in Docker and it's a pain
- the last weeks, because of current situation in the world, I work at

[2020-04-04 16:41] gmarziou commented on #11544
I have a completely different experience from you Pascal, I started to work from home 2 weeks ago on a Windows PC and I'm glad we chose testcontainers for postgresql.

Due to this, our tests benefit from specific features like JSONB columns and enum type. It would have been impossible with H2.

[2020-04-04 17:15] bsideup commented on #11544
@pascalgrimaud

Could you please provide more info on this one? There are no known issues with running testcontainers inside a container. Even more - we run in-container scenario as part of our CI and would not be able to do a release if it does not pass :)
https://github.com/testcontainers/testcontainers-java/blob/682bfac4e45b5a900f9ce9d6ca687af692ed6e8c/.github/workflows/ci.yml#L8

Testcontainer

[2020-04-04 17:39] pascalgrimaud commented on #11544
@bsideup : thanks for answering here

About CI/CD:
- for my current customer, we have a private GitLab
- all our projects use testcontainers
- our builds uses GitLab CI, and it's inside Docker
- to use testcontainers, we needed to configure our GitLab runners to activate Docker in Docker -> this task was not trivial but it's done today
- so no worry, **no issue**, simply I afraid it won't work out

[2020-04-04 17:49] bsideup commented on #11544
@pascalgrimaud

Thanks for your detailed answer!

That's one way of doing it, yes. You may also consider the "Docker wormhole" pattern which is much easier (and faster!):
https://www.testcontainers.org/supported_docker_environment/continuous_integration/dind_patterns/#docker-wormhole-pattern-sibling-docker-containers

We usually say "Testcontainers works everywhere, as long as you have a Docker da

[2020-04-04 19:27] Hawkurane commented on #11391
Half of the bounty claimed: https://opencollective.com/generator-jhipster/expenses/15313
as well

[2020-04-04 19:28] pascalgrimaud commented on #11391
@Hawkurane : approved

[2020-04-04 20:03] #11532 closed

[2020-04-04 21:03] cbornet commented on #11544
If I understand well, testcontainers is used only if the profile is set. So since the user has the choice to use testcontainers or not, I'm all for integrating this.

[2020-04-05 11:18] DanielFran commented on #11544
I also agree, if user have possibility to choose is ok for me to.

[2020-04-05 11:28] pascalgrimaud commented on #11544
@bsideup : thanks for your suggestion, it works well ! just submitted https://github.com/jhipster/generator-jhipster/pull/11547 :)

After reading closely this ticket, I change my mind and agree with your proposal, @ecostanzi : it won't have any impact for our users as it's just a new profile. And be sure, I'll use it for my projects !

[2020-04-05 13:59] jkransen opened #11549 "Cyclic OneToMany reference fails code generation"
##### **Overview of the issue**

I want to generate code where a Person knows 0 to many other Persons. Without this relationship, code generates fine. As soon as I add this relationship, I get an error during Typescript code generation.

##### **Motivation for or Use Case**

I think it is legitimate to have a OneToMany relationship to the same entity. I considered making it a ManyToMany, but I thi

[2020-04-05 15:41] SudharakaP opened #11551 "Gateway Application with No Service Discoverty Failing to Start"
##### **Overview of the issue**

It seems that we have a small bug when generating applications with no service discovery. For example generate an Gateway application with no service discovery and if you try to start the application you'll get the following error.

[code]

##### **Motivation for or Use Case**

Getting the `No Service Discovery` option working by default.

##### **Reproduce the err

[2020-04-05 16:56] clementdessoude commented on #11533
Thank you for having taken a look at this, @mshima !

[2020-04-06 07:29] yelhouti opened #11556 "Intellij and protractor tsconfig"
##### **Overview of the issue**

When you try running tests using protractor from intellij it fails saying:
[code]

intellij tries find the ts config specified in protractor:
[code]
near the protractor.conf.js path (since it reads a relative path).

this used work in previous versions before moving tsconfig.e2e.json/tsconfig-aot.json to the root od the project.

now if you use the relative path `n

[2020-04-06 13:42] jdubois commented on #11528
I just did full performance tests, and created a blog with all the details:
https://dev.to/azure/spring-boot-performance-benchmarks-with-tomcat-undertow-and-webflux-4d8k

End result: Undertow seems to be the winner :-)

[2020-04-06 13:49] atomfrede commented on #11528
Very interesting results. Didn't expect that.

[2020-04-06 13:55] jdubois commented on #11528
Neither did I!!!! That's also why I'm totally open to comments.

[2020-04-06 15:53] gmarziou commented on #11528
Undertow 3 will be [built on top of Netty](http://undertow.io/blog/2019/04/15/Undertow-3.html) and will be an intermediate release until version 4 that will be the real one. SO maybe this is something to take into account.

[2020-04-06 16:54] patrickjp93 commented on #11528
@gmarziou Long live complexity! Well if that's going to be the case, SHOULD JHipster abandon Undertow if its underlying implementation is going to be highly supported by Netty? The 3.x releases may lack "perfect" stability going by the documentation, but it also sounds like the pain period will be short (maybe 4-6 months?).

Do we do all of the hard work to move to Tomcat (which yes has ready-made

[2020-04-06 21:35] atomfrede commented on #11544
A little late to the discussion, but I can only support having testcontainers also for sql. We have started similar with wanting to test psql json support and testcontainers helped us e.g. to test existing apis before doing any changes to the database. When it comes to ci we have used dedicated jenkins runner for that and gitlab ci with dind and both work very well. So :+1: to integrate testcontai

[2020-04-07 08:52] ecostanzi commented on #11544
Good thank you all, I'll start working on this soon.

[2020-04-07 16:26] jdubois commented on #11244
I just tried to do it, and it's not as simple as the Hazelcast API has changed.
I'm putting a bug bounty here as this is our main caching option for scalable apps.

[2020-04-07 18:33] MathieuAA commented on #8608
Applications can now have options in their declaration (cc @colameo), I believe there's another issue about value standardization ('no', false, etc.) in JCore and referenced in the v7 roadmap.
What I propose is to open an issue about value standardization with the info from here and close this one

[2020-04-07 20:00] jdubois commented on #11244
I have some contacts with the Hazelcast team, and in fact Spring Boot doesn't support Hazelcast 4 at the moment, see https://github.com/spring-projects/spring-boot/issues/20856

As we define Hazelcast as a Spring Bean ourselves, we might be able to go around that issue.

[2020-04-08 06:38] colameo commented on #8608
@MathieuAA I'm completely redesigning the option part in the JH IDE project and want to talk with you about this topic. As we already discussed last year, from my point of view we need also a workflow for language changes otherwise people will end up with inkongruent behaviour in the tooling which of course confuses. I will contact you by mail.

[2020-04-08 09:43] armdev commented on #11528
Hi all,
I guess we need faster spring which is not depend from server type.

[2020-04-08 12:04] cbornet commented on #11528
Would it be possible to introduce profiles to choose the server at runtime ?

[2020-04-08 13:22] pascalgrimaud commented on #11528
@cbornet : you make me remember old version of JHipster (2.21.0 for example), we had multiple profile, specially `fast` profile with Undertow. See https://github.com/jhipster/generator-jhipster/blob/v2.21.0/app/templates/_pom.xml#L815-L840 and default profile with Tomcat

[2020-04-08 13:38] cbornet commented on #7608
All items are done so I guess we can close this big one.
Many thanks to @mraible for the work on OIDC and to @tchlyah for the couchbase support.
How do you think the bounty should be shared ?

[2020-04-08 13:38] #7608 closed

[2020-04-08 13:47] pascalgrimaud commented on #7608
@cbornet : I disagree about sharing the bounty because:
- it was so much work to achieve this
- as you was the lead on this part, you should take the main bounty (500$) and it will be well deserved. But I'm not sure it would be enough... we can discuss if you think it's not enough :)
- for other people who participated to this ticket, we can do separate bounty (100$ or more if you think it's deser

[2020-04-08 13:51] armdev commented on #11528
Problem is that tomcat and undertow mapped with Servlet specification, an webflux with reactive specification. Comfortable is having netty with servlet /web or webflux as a library , in other side not all microservices can be reactive

[2020-04-08 13:59] cbornet commented on #11528
Yes I remember now. And I also think we removed it because we said that we had too much profiles and it complexified the pom.xml :smile:

[2020-04-08 14:20] geyuqiu opened #11561 "Metrics page broken for react Monolith"
##### **Overview of the issue**
/admin/metrics page shows error:
![Bildschirmfoto 2020-04-08 um 16 18 34](https://user-images.githubusercontent.com/4540661/78794930-a48d0180-79b4-11ea-9d0f-b2b9285a98e4.png)

in console:
![Bildschirmfoto 2020-04-08 um 16 19 22](https://user-images.githubusercontent.com/4540661/78794993-ba9ac200-79b4-11ea-8bd1-d228a25389ca.png)

##### **Motivation for or Use Case**

[2020-04-08 14:29] deepu105 commented on #7608
I also agree with Pascal, we have enough money to give more bounty

Thanks & Regards,
Deepu

On Wed, Apr 8, 2020 at 3:47 PM Pascal Grimaud <notifications@github.com>
wrote:

[2020-04-08 14:37] geyuqiu commented on #9263
with my .yo-rc.json config [here](https://github.com/jhipster/generator-jhipster/issues/11561)

<img width="952" alt="Bildschirmfoto 2020-04-08 um 16 35 51" src="https://user-images.githubusercontent.com/4540661/78796754-09495b80-79b7-11ea-8a5b-4da3876ddc06.png">

smells like it does not work properly with the notification toast message on top left ?

[2020-04-08 14:53] tchlyah commented on #7608
Thank you @cbornet, glad to hear that I helped.

I totally agree with @pascalgrimaud, you deserve the whole bounty, and even more.

[2020-04-08 16:33] #11549 closed

[2020-04-08 17:22] mraible commented on #7608
@cbornet You did as much work as I did on the OIDC integration! +1 to give you the whole bounty.

[2020-04-09 00:27] SudharakaP opened #11563 "Add Sinhala Language Support to JHipster"
##### **Overview of the feature request**

Addition of [Sinhala](https://en.wikipedia.org/wiki/Sinhala_language) language support to JHipster.

##### **Motivation for or Use Case**

Just in case if someone wants to generate an application in Sinhala.

##### **Related issues or PR**

I'll do a PR soon. :smile:

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-04-09 05:55] SudharakaP opened #11565 "Rework the Languages Section in the Documentation"
##### **Overview of the issue**

In our documentation, the information about [adding new languages](https://www.jhipster.tech/installing-new-languages/) seems to be a bit outdated. There's two issues.

1) It has information about adding languages to AngularJS front-end. Since we have moved from AngularJS a long time back; I suggest removing these parts.

2) The section about contributing a new lan

[2020-04-09 08:56] armdev commented on #11528
I have pushed project with live benchmarks, may be it will useful for you
https://github.com/armdev/game-of-thrones

[2020-04-09 13:17] jsebrien opened #11566 "Unable to display generated website with Firefox and IE11"
##### **Overview of the issue**

After having generated my website using JHipster last version, the web site is not displayed on Firefox and IE11. There is no issue under Chrome and Edge.

##### **Motivation for or Use Case**

The website is not displayed.

##### **Reproduce the error**

Generate the website, and run mvnw.

##### **Related issues**

Did not find any similar issues.

##### **Sugges

[2020-04-09 14:28] rlouissidney commented on #11566
Hi,
A quick dirty workaround, set all compile option to es5  :

tsjconfig.json
"target": "es5"
"lib": ["es5", "dom"],

webpack.common.js
mainFields: [ 'es5', 'browser', 'module', 'main'],

Rgds.

[2020-04-09 14:43] ruddell commented on #11566
Related issue https://github.com/jhipster/generator-jhipster/issues/11505

Seems to only affect `dev`, site works fine in `prod`, also only affects Angular and not React

[2020-04-09 15:25] #11455 closed

[2020-04-09 15:38] qmonmert commented on #11455
@pascalgrimaud I claim my money 😄 https://opencollective.com/generator-jhipster/expenses/15564

[2020-04-09 15:39] pascalgrimaud commented on #11455
@qmonmert : approuved !

[2020-04-09 16:30] mshima commented on #11533
@danielpetisme can you test if https://github.com/jhipster/generator-jhipster/pull/11567 fixes this problem?

[2020-04-10 00:21] danielpetisme commented on #11533
Ok will do.

Le jeu. 9 avr. 2020 à 18:30, Marcelo Shima <notifications@github.com> a
écrit :

[2020-04-10 08:44] anshulcoolans880 opened #11568 "Many to one relationship between entities gives error: TypeError: Cannot read property 'toLowerCase' of undefined"
I have created First Entity with name "FirstEntity" with a field "name" of type String and ManyToOne Relationship with User entity. It was created successfully. When I tried creating second entity with name "SecondEntity" with a field "name" of type String and ManyToOne Relationship with "FirstEntity", its failing with this error:

`Everything is configured, generating the entity...

[code]

I add

[2020-04-10 09:25] geyuqiu commented on #8710
what worked for me:
[baeldung jib link](https://www.baeldung.com/jib-dockerizing#overview-4)
[macos docker-credential-helpers](https://github.com/docker/docker-credential-helpers#building-from-scratch)

[2020-04-10 12:26] mshima commented on #11568
I think it’s fixed on master.

[2020-04-10 12:33] anshulcoolans880 commented on #11568
It was not working on 6.8 version either... which is the right version to use?

[2020-04-10 12:46] mshima commented on #11568
You should try `npm install jhipster/generator-jhipster#master` to fix this bug.

After generating the project you probably can downgrade if you want;
[code]

[2020-04-10 15:56] AdrianBesleaga commented on #11551
I have the same issue.
![image](https://user-images.githubusercontent.com/9190988/79004201-8fe76f80-7b54-11ea-8e2e-3ed1834ff10a.png)

Repo generated by bot : https://github.com/AdrianBesleaga/jhipster-sample-application

[2020-04-11 07:16] #11536 closed

[2020-04-11 07:30] #11565 closed

[2020-04-11 09:26] pascalgrimaud commented on #11566
It should work for Firefox in dev -> for that, I'm adding a bounty for this.
About IE11... it's another story.

[2020-04-11 09:27] pascalgrimaud commented on #11561
I confirm the issue.
Adding a bounty as it's a bug and needed to be fixed for the next release

[2020-04-11 09:29] #11551 closed

[2020-04-11 09:31] pascalgrimaud commented on #11527
adding a bounty as it's a bug

[2020-04-11 09:35] pascalgrimaud commented on #11451
Thanks for your proposition.
But, as said by @wmarques, Angular CLI looks enough for our needs and as we already have too much options, we can't support everything.
Don't hesitate to discuss if you think it's a must have, show code on GitHub, start a module etc.

That's why I'm closing this.

[2020-04-11 09:35] #11451 closed

[2020-04-11 10:12] MathieuAA commented on #11527
We should forbid that...

[2020-04-11 12:53] gmarziou commented on #11451
@distributev I have used Nx to start a new project 2 months ago because I liked their ideas but 3 weeks later I gave up and went back to angular  CLI. because when something does not work and you are not enough experienced in this tool it's hard to find what's wrong.

Also, I did not foresee a need for Nx monorepo for my project, with Angular CLI I can still have several applications and shared li

[2020-04-11 12:59] mshima commented on #11568
Closing.
@anshulcoolans880 if you manage to reproduce usint

[2020-04-11 12:59] #11568 closed

[2020-04-11 13:50] MathieuAA commented on #11568
On a side note, there are `undefined` values in what was logged.
@anshulcoolans880 please follow the issue template, otherwise we won't be able to reproduce the issue and fix it.

[2020-04-11 14:10] mshima commented on #11568
Probably duplicate of https://github.com/jhipster/generator-jhipster/issues/11520

[2020-04-11 14:14] nicolas63 commented on #11566
The problem was not present in version 6.7.1 but i don't find the difference with 6.8 who can cause this problem. Maybe the modification of polyfills ?

[2020-04-11 14:34] MathieuAA commented on #11568
Yup

[2020-04-11 15:08] #11563 closed

[2020-04-11 15:10] pascalgrimaud commented on #11566
@nicolas63 : probably the upgrade to Angular 9 ?

[2020-04-11 15:14] SudharakaP commented on #11561
I'll take a look at this one. :thinking:

[2020-04-11 15:15] qmonmert commented on #11561
@SudharakaP I think there is a link with this commit https://github.com/jhipster/react-jhipster/commit/aaacc2633473e101b73506e758d20edb1e3701b2

[2020-04-11 15:41] nicolas63 commented on #11566
yes, the error is in https://github.com/angular/angular/blob/696e520842c3d2d2d9f5454875714becc72df114/packages/core/src/render3/metadata.ts
[code]
but there's no recent changes.

[2020-04-11 17:28] rlouissidney commented on #11566
The error seems to be when es2015 is selected with webpack and typescript compiler. Set target compiler and webpack to es2018, all works fine too.

The error is not "clazz.decorators not found", I always have this error and all things work fine.
We cannot exclude a bug in Firefox 75

[2020-04-11 18:27] jhighman opened #11574 "Neo4J with OAuth option not working, UserService incompatible."
I can generate the application with JWT and verify it.  When I choose the OAuth2 option, it generates compile time errors in the user service.

##### **JHipster Version(s)**

6.8.0

##### **JHipster configuration**

{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "io.test"
    },
    "jhipsterVersion": "6.8.0",
    "applicationType": "monolith",
    "baseName": "test",
    "

[2020-04-11 18:34] pascalgrimaud commented on #11574
It's strange that Neo4j + JWT works for you, it shouldn't as I already saw an issue with this, about Integration Tests.
Anyway, you're probably right for OAuth2.

Don't forget Neo4j is still in beta, if you know how to fix it, your help is really welcome.

cc @atomfrede

[2020-04-11 18:59] atomfrede commented on #11574
Will check. Jwt works fine. We also tried oauth. Currently working on a performance issue for certain jdl models.

[2020-04-11 19:31] DRoppelt opened #11575 "Cache-Control from CachingHttpHeadersFilter overwritten by WebMvcAutoConfiguration"
It seems that Cache-Control Headers added by `io.github.jhipster.web.filter.CachingHttpHeadersFilter` are just overwritten/discarded due to SpringMvcAutoConfig.

Not sure if I am not seeing something, but 6.8.0, 6.7.1 and 6.6.0 show this behaviour.

##### **Overview of the issue**

Any config/added "Cache-Control" by following block in `WebConfigurer`

[code]

Following this method call:

[code]

[2020-04-11 19:50] pascalgrimaud commented on #11574
@atomfrede : not sure about Jwt+Neo4j, the last time I tried, `mvn verify` failed

[2020-04-11 19:53] atomfrede commented on #11574
Ah one of the tests. I thought we fixed it already. Will have look over the weekend

[2020-04-11 20:31] jhighman commented on #11574
There are two issues, here are the fixes:
Change the line:
`        user.setAuthorities(authToken.getAuthorities().stream()
            .map(GrantedAuthority::getAuthority)
            .collect(Collectors.toSet()));
`
to this:

`        user.setAuthorities(authToken.getAuthorities().stream()
                .map(GrantedAuthority::getAuthority)
                .map(authority -> {

[2020-04-11 21:28] mraible commented on #11574
@jhighman I made these changes in this PR: https://github.com/jhipster/generator-jhipster/pull/11571

[2020-04-11 23:55] SudharakaP commented on #11561
I've submitted the PR. This comes form `react-jhipster` which uses the [NumeralJS](https://github.com/adamwdraper/Numeral-js) library. As of 2.0.0, NumeralJS needs that the user [loads the locales separately](https://github.com/adamwdraper/Numeral-js#200) one by one.

I couldn't' find an elegant method to dynamically load the locales using typescript. The easier fix is to import all locales.

Refe

[2020-04-12 11:39] DRoppelt commented on #11575
So I tried to investigate this approach:

But it seems that Spring MVC sets their cache Headers after all filteres have been passed. And adding/changing headers after the controller processed the request (post-filter over pre-filter), does not work. See here https://mtyurt.net/post/spring-modify-response-headers-after-processing.html

Based on this article, I have come up with following approach,

[2020-04-12 13:53] danielpetisme opened #11577 "Write/Read blueprint custom keyword for entities"
##### **Overview of the feature request**

Provide hooks for Entity#writeEntityJson
https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L634
and
Generator-base#LoadEntityJson
https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base.js#L1218

##### **Motivation for or Use Case**

When developing a blueprint, it would be interesting to in

[2020-04-12 14:37] mshima commented on #11577
I don't think this is necessary:
[code]

JDL custom app config support is tracked by https://github.com/jhipster/jhipster-core/issues/448
About entity config I don't know if its supported or a bug (probably a bug) but I think this works:
[code]

[2020-04-12 17:14] #11533 closed

[2020-04-12 17:37] Northshoot commented on #4251
Any update on this? Would be very cool with GraphQL feature.

[2020-04-12 17:55] SudharakaP commented on #11566
Two points to notice;

1) If we [disable Ivy](https://angular.io/guide/ivy#opting-out-of-angular-ivy) the error goes away.

2) If we switch back to default fesm5 bundling [removing the es2015 in webpack config](https://github.com/jhipster/generator-jhipster/blob/6092a0693d3ad1f2228bd2269af445e81660379c/generators/client/templates/angular/webpack/webpack.common.js.ejs#L37
) then also the error goes

[2020-04-12 18:06] mraible commented on #4251
@Northshoot I don't believe anyone on the JHipster Team is currently working on this. I'm interested in it too, but probably won't have time to work on it until later this summer or fall.

[2020-04-13 11:43] atomfrede commented on #11574
So the oauth probhlem is fixed with your PR @mraible (and not related to neo)?

[2020-04-13 14:20] #11502 closed

[2020-04-13 15:03] mraible commented on #11574
Yes, but not all tests are passing with my PR. When they do, I think we can move WebFlux to beta.

[2020-04-14 07:48] MathieuAA commented on #11577
Not a bug :)

[2020-04-14 10:49] ddsultan commented on #8800
Is this still open?

[2020-04-14 10:55] pascalgrimaud commented on #8800
@ddsultan : no it's closed. It's already avaiblable in the last releases

[2020-04-14 12:36] 62mkv opened #11585 "add "external enum" capability in the JDL"
##### **Overview of the feature request**

Need to be able to "declare" an enum, (using JDL, actually, but I've been told it has to be supported by generator in the first place) that will NOT be generated by JHipster, but can be used in the entities, defined in JDL

##### **Motivation for or Use Case**

Nearly all of my enums in latest projects have been "extended" Java enums, where (most of the t

[2020-04-14 14:49] MathieuAA commented on #11585
A thing occurred to me. If it (the enum) already exists, you can do a JDL export and modify the exported JDL as a workaround. That way, no need for a keyword.

[2020-04-14 14:51] 62mkv commented on #11585
I will have to research what does it mean... (JDL export)

[2020-04-14 14:52] 62mkv commented on #11585
but in general, my suggestion does not assume that the enum "exists"; just that it will not be generated (but can be imported and used as a type name for entity fields). so, generated code will not compile until I provide the implementation, but at least I will immediately know where to put it and how it will be named

[2020-04-14 14:55] MathieuAA commented on #11585
A JDL export basically means doing `jhipster export-jdl` in your JHipster application.
This feature is kinda impossible. It would mean bypassing validations, and build. I may be wrong, but it's a tough one.

[2020-04-14 15:52] 62mkv commented on #11585
ok, I've read about `exportJdl` it basically assumes having already generated JHipster app but without jdl file. I never generated a JHipster app without JDL file, so not sure what it could give me, but glad to know it exists.

by bypassing validations, you mean.. ? why would JHipster care what's in my enum?

[2020-04-14 16:01] danielpetisme commented on #11577
@mshima I end up with a similar solution but.... I struggle way too much with this one (My not a js nor a yeoman expert) ...
I think phase steps ordering is worth a not in the blueprint documentation.

I'll start something, would you mind if I name you as reviewer?

[2020-04-14 16:04] 62mkv opened #11586 "add "enum with payload" feature"
##### **Overview of the feature request**

I want to be able to define (via JDL) and generate Java/JS models for enums *with payload*.

The suggested syntax is:
[code]
where `payload` is a binary option for an enum, with any valid JDL type name as a value

With enum defined as
[code]

I would expect to achieve
[code]

##### **Motivation for or Use Case**

Nearly all of enums in my recent projects

[2020-04-14 16:06] MathieuAA commented on #11585
You can always export to a JDL file, whether you've created your app from a JDL file is not taken into account.

I think I've jumped too quickly at conclusions here. There _may_ be a way to implement that. It's a tough one.

[2020-04-14 16:42] MathieuAA opened #11587 "Java code with enums with custom values don't compile"
##### **Overview of the issue** & **reproduction**

When importing such a JDL content:
[code]

The Java code won't accept the custom values because they are generated (didn't seem so before, but anyway...).

##### **Motivation for or Use Case**

Generated code should compile.

##### **Reproduce the error**

Generate an app with
[code]

Check the generated enum, you should see it doesn't compile.

[2020-04-14 22:25] amatosg commented on #11398
this looks awesome!

I have a question, how does it behaves when editing the same entity multiple times?

[2020-04-15 04:40] SudharakaP commented on #11556
I've added this to the tips section in our documentation. I hope this will help people who use IntelliJ IDEA. Let me know if you guys see any issues or if any alteration is needed. :smile:

[2020-04-15 04:45] SudharakaP commented on #11514
Can you share the JDL file(s) you have and also the `.yo-rc.json` file(s). To me it seems like you have some microservice application but without the `.yo-rc.json` files and the entity files we cannot accurately recreate the problem. :smile:

[2020-04-15 05:31] #11556 closed

[2020-04-15 11:04] yelhouti commented on #11556
I think we could call a function that looks for the tsconfig, but hey, my work around works too XD, the only problem I have with it is that people tend to forget and commit these changes...

[2020-04-15 15:48] SudharakaP commented on #11556
@yelhouti : Do you mean altering the `jhipster-generator` so that each generated project will have a function which looks for tsconfig?

[2020-04-15 16:13] SudharakaP commented on #11566
As per, https://bugzilla.mozilla.org/show_bug.cgi?id=1624693 Firefox has fixed this in their Nightly Build 77. That will be [released on June 02nd](https://wiki.mozilla.org/Release_Management/Calendar). I'll keep the pull request open anyways if we want to merge it before 77 is released and verified but after that we can revert the change. :smile:

[2020-04-16 14:32] aLeXcBa1990 commented on #11587
Do you think that multiple values can be supported?
https://www.baeldung.com/java-enum-values#multiple-values

[2020-04-16 16:27] CentroricercheRPS commented on #11514
I just used the tutorial https://raw.githubusercontent.com/jhipster/jdl-samples/master/microservice-ecommerce-store.jdl

I didn't touch anything, please check the 'Overview of the issue' section of this bug report for information on how to reproduce, and 'Motivation for or Use Case' for the outcome.

If you try this and are unable to reproduce the issue, you can close it

[2020-04-16 20:51] danielpetisme commented on #11577
Close with
https://github.com/jhipster/jhipster.github.io/pull/937

[2020-04-16 21:50] mustafa-almulla commented on #6422
I am facing the same issue, and I have followed everything I found from running npm install, yarn install, yarn webpack:build, yarn start. I am still getting the same error. I even used https://start.jhipster.tech/ to see if something was wrong with the app generated in my machine.  Not sure what else I could try, or how I could provide you with more information to help you.

[2020-04-16 21:56] SudharakaP commented on #6422
@mustafa-almulla :

Please don't comment on an **old issue**. If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new/choose) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the iss

[2020-04-16 22:39] SudharakaP commented on #11514
@CentroricercheRPS : Thanks much for that information. :smile:

I've started these micro-services as you did just to test it out.

1) You should get three databases; notice that the jdl has three applications; the store; invoice and the notification. Among these the store is the [gateway](https://www.jhipster.tech/api-gateway/#-the-jhipster-api-gateway) the other two are microservices. The invoice

[2020-04-16 23:11] SudharakaP commented on #11514
@MathieuAA : Hey Mathieu, do you see an obvious problem with this JDL file? I was just wondering since it's updated 17 months ago. :smiley:

[2020-04-17 08:38] MathieuAA commented on #11587
For now, it's just a fix to properly support strings. Java allows a lot more things and we shouldn't keep up with everything it does, so I don't know.

[2020-04-17 13:46] MathieuAA commented on #11514
I don't see any obvious error. However, this reminds me of an old issue with the same sample. I think it's related to the `required` keyword for relationships. I'm not sure at all.

[2020-04-17 13:54] MathieuAA commented on #11514
Maybe related to #10858, but again I'm not so sure... I'm sure I've seen something like that somewhere

[2020-04-17 13:57] SudharakaP commented on #11514
@MathieuAA : Thanks a lot for your input. :handshake:  Let me do some more investigation. :thinking:

[2020-04-17 14:00] MathieuAA commented on #11514
BTW, what's the generator's version?

[2020-04-17 14:03] SudharakaP commented on #11514
I am using v6.8.0. :smile:

[2020-04-17 14:06] aLeXcBa1990 commented on #11587
Ok I understand I hope I can help with that sometime

[2020-04-17 14:43] MathieuAA commented on #11514
@SudharakaP when you add a new customer, is there a select element to actually select an existing user?

[2020-04-17 15:02] MathieuAA commented on #11514
Ah. That's an interesting one. Two possibilities:
  - either the JDL generates an invalid JSON content, which the generator uses to generate "corrupt" code
  - or the generator doesn't generate a valid code

I could swear that I've already seen this issue but I can't seem to find it

[2020-04-17 15:16] SudharakaP commented on #11514
The `customer.json` file looks like follows. It seems correct to me; then it generator problem I guess. :thinking:

[code]

[2020-04-17 23:02] f-ricchiuto commented on #11566
Thanks God I've found this post... I was struggling to understand why the app worked on the desktop pc, and not on the laptop :-)

[2020-04-18 12:42] Tcharl opened #11589 "v7 - remove non DTO configuration"
##### **Overview of the feature request**

Generating entities without DTO sometimes lead to some mistakes (lazyloading exception and so on).
There was a discussion on the mailing list removing the option.

##### **Motivation for or Use Case**

Simplify the generator.
Start the discussion.

##### **Related issues or PR**

#10958

-   [x] Checking this box is mandatory (this is just to show you rea

[2020-04-18 12:51] Tcharl opened #11590 "v7 - remove serviceClass generation"
##### **Overview of the feature request**

As of today, we have serviceClass and serviceImpl generation available.
serviceImpl looks to be the best option, which is compliant with modulith, bounded context, side by side and friends.
Also, it's not a big overhead for the end user and can even be simplified
[code]
##### **Motivation for or Use Case**

Simplifying the generator.
generators more easy

[2020-04-18 13:18] Tcharl opened #11591 "Microservice entity generation behavior"
##### **Overview of the feature request**

following a discussion https://github.com/jhipster/jhipster-core/issues/426 maybe a good enhancement for v7.

###### Sample JDL

Let's take the current jdl as an example

[code]

###### Current behavior

If we generate it with the current behavior, this code will generate:

- Entity backend code in the 'ms'
- Entity backend code in the 'gw'

- Frontend co

[2020-04-18 16:51] pascalgrimaud commented on #11590
We don't have any issue since years about this. No issue, no maintenance to do on this part.
Both (serviceClass and serviceImpl) works very well, I'd prefer to keep both options, so the end user will have the choice.

[2020-04-18 17:03] pascalgrimaud commented on #11591
@Tcharl : I don't understand the `bug` label here. Is there a real bug here ? Or more an improvement ?
cc @MathieuAA

[2020-04-18 17:15] MathieuAA commented on #11591
I think it's a two-in-one. There is a bug, yes?

[2020-04-18 21:15] Tcharl commented on #11591
Hi @pascalgrimaud ,

I may not have been clear enough, sorry for that: I didn't have to mention the feature request of jhi-core to explain the issue.

With the JDL in example, jhipster is generating the backend code in the gateway (rest endpoints and entities), but not the frontend code that is able to call it.

I do not think it is a feature to be able to consume CRUD endpoints that have been gen

[2020-04-18 21:56] Tcharl commented on #11590
It's always better to have the choice written :-).

Thank you @pascalgrimaud @murdos

[2020-04-18 21:56] #11590 closed

[2020-04-18 21:58] MathieuAA commented on #11591
You're not misunderstanding :)

[2020-04-18 22:05] Tcharl commented on #11398
What about relying on the liquibase maven (or gradle) plugin at the end of an existing change?
* Running mvnw verify Before regenerating an existing implementation
* Generating, and not cleaning the target folder
* Running mvnw compile on newly generated code
* Calling the liquibase Mojo

Seems simpler to answer the use case and I would prefer to rely on a tool that has been made for that than a b

[2020-04-18 23:18] mraible commented on #11574
I'm closing this because I believe it's fixed.

[2020-04-18 23:18] #11574 closed

[2020-04-19 03:26] sslgeorge commented on #6722
@ThomasWilhelmUR and @jdubois
Really, why don't you put the answer here, I am having the exact issue and I have to dig around

[2020-04-19 03:33] SudharakaP commented on #11514
I've made a fix for this issue. I believe this error is introduced by revision 448d48ec9 whereby instead of the correct user object the react client passes a null object. :smile:

@CentroricercheRPS : Please refer to the above PR and all you have to do is replace the line `entity.user = users[values.user]` by `entity.user = values.user` within the `customer-update.tsx` class (in `store` app).

[2020-04-19 04:19] ravikalla opened #11595 "Error while adding new entity with relationship"
##### **Overview of the issue**
I tried to create an entity named 'box' with below command -
`jhipster entity box`

I tried to add many-to-one relationship with another entity (names as 'fileinfo') for 'box' entity

This is the error -
`ERROR! TypeError: Cannot read property 'toLowerCase' of undefined`

Detailed Entity Generation Info:
[code]
##### **Motivation for or Use Case**

I cant create a n

[2020-04-19 04:51] SudharakaP commented on #11595
@ravikalla : Unfortunately I wasn't able to recreate your error. Can you give us some more information. Maybe the exact questions and answers you submitted when you ran the entity sub-generator?

One thing I noticed is that your output has something called `x1 (Integer)`. I am not sure how this is displayed there; because the name of the entity is `box` not `x1`. Anyways the output I got is attach

[2020-04-19 05:02] SudharakaP opened #11596 "Refactor JDL Sections in Documentation"
##### **Overview of the issue**

Our documentation has 5 sections with the same title; `JHipster Domain Language (JDL)`. I find this confusing. When we type JDL in the search bar we get all of these 5 results;

![image](https://user-images.githubusercontent.com/12435965/79680022-dfb2e000-81bf-11ea-8ad6-915a2eb7c8c0.png)

I suggest refactor the documentation such that these sections become subsecti

[2020-04-19 08:39] MathieuAA commented on #11596
@SudharakaP Please do!

[2020-04-19 08:49] MathieuAA commented on #11595
@ravikalla @SudharakaP it's a possible duplicate of #11520

[2020-04-19 10:19] murdos opened #11599 "Re-enable BlockHound once blocking calls are fixed"
##### **Overview of the feature request**

BlockHound has been added in https://github.com/jhipster/generator-jhipster/pull/11009 but it has unveiled some blocking calls in frameworks that we're using and thus our CI tests have become very unstable since.
I plan to temporarily disable BlockHound in order to have trustable integration tests again, but we should re-enable it once the blocking calls

[2020-04-19 11:09] Tcharl commented on #6722
Hi, @sslgeorge @issamm ,

@mraible told what to do in order to make it work: edit your /etc/hosts file and add an entry like
`127.0.0.1 keycloak`

[2020-04-19 12:17] jkransen opened #11601 "GitLab config with Redis fails in GitLab CI"
##### **Overview of the issue**

JHipster generated project with Redis support fails on GitLab CI, despite Redis container running.

##### **Motivation for or Use Case**

When using Redis, it should be possible to run the CI pipeline on GitLab which supports Redis.

##### **Reproduce the error**

Generate application with Redis support.

Generate GitLab CI config:

    jhipster ci-cd

Select GitLa

[2020-04-19 12:34] jkransen commented on #11601
My .gitlab-ci.yml:

`image: jhipster/jhipster:v6.8.0

#services:
#  - redis

#connect:
#  image: redis
#  script:
#    - redis-cli -h redis PING

cache:
  key: '$CI_COMMIT_REF_NAME'
  paths:
    - .maven/
stages:
  - check
  - build
  - test
  - analyze
  - package
  - release
  - deploy
before_script:
  - export NG_CLI_ANALYTICS="false"
  - export MAVEN_USER_HOME=`pwd`/.maven
  - ./mvnw -ntp com.

[2020-04-19 14:18] pascalgrimaud commented on #6722
@issamm @sslgeorge : just check our website -> https://www.jhipster.tech/docker-compose/#-keycloak

[2020-04-19 14:38] SudharakaP commented on #11595
@MathieuAA : Yes indeed you are right; this is a duplicate of #11520 which is the reason I cannot reproduce it since I am using the `master` branch linked when generating the project.

@ravikalla : This was already fixed at https://github.com/jhipster/generator-jhipster/pull/11521 recently. You'll get this in the next release.

Therefore I am closing this issue. :smile:

[2020-04-19 14:38] #11595 closed

[2020-04-19 15:03] SudharakaP commented on #11601
@jkransen : Currently we don't support Redis on our CI pipelines by default. You need to adjust some things manually I guess. Looking at the error, my guess is the default urls that we have for Redis in [`application-prod.yml`](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/application-prod.yml.ejs#L319) is the root cause of your pr

[2020-04-19 15:27] jkransen commented on #11601
Hi Sudharaka, thanks for looking into the issue. I was prepared to do some manual steps, but I didn't get it working. Just now I noticed there is a separate test config in src/test/resources/config/application.yml and in it there was a placeholder that didn't get expanded:

[code]

I wasn't sure how to set a value here from outside/CI config, so I just filled it in with redis://redis:6379 Now I ge

[2020-04-19 16:25] atomfrede commented on #11601
the property should be set here https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/test/java/package/RedisTestContainerExtension.java.ejs#L38

Are you running in gitlab.com? Did you [enable dind](https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/) to support testcontainers starting containers in docker? Here is anot

[2020-04-19 16:29] SudharakaP commented on #11601
@atomfrede : Yes I think that should be what's missing. I was just doing a test with dind with @jkransen 's exact configuration; :smile:

https://gitlab.com/SudharakaP/jhipster-gitlab/pipelines/137638599

[2020-04-19 16:38] SudharakaP commented on #11601
@atomfrede : And it passes; I think we should add this to `github-ci.yml.ejs` for all the databases that uses Testcontainers. :thinking:

I'll do a PR for this. :smile:

[2020-04-19 17:03] SudharakaP commented on #11601
I've done the changes; let me know if you guys see any issues with it. :smile:

@jkransen : Sorry for the confusion in the beginning; I though this was some kinda problem with the configuration. :smile:

[2020-04-19 18:32] SudharakaP commented on #11596
I've done some minor refactoring to the headings so that when they appear on the search it's easier to know which section. Also I've removed the Atom IDE (https://atom.io/packages/ide-jhipster) from the JDL page since it's deprecated and I don't think it could be installed anymore (GitHub repo missing). :smile:

[2020-04-19 20:22] gustavogmartinelli commented on #11566
I was totally lost...I think was made something wrong...

[2020-04-20 05:12] #11601 closed

[2020-04-20 05:34] jkransen commented on #11601
Thanks a lot, @SudharakaP !

[2020-04-20 05:40] SudharakaP commented on #11601
Welcome :smile:

[2020-04-20 10:25] govindrk commented on #9135
@naturzukunft,
This has been a pain using GitLab on windows.
---> Running in e3925ef72bc4
/bin/sh: 1: ./mvnw: Permission denied

Windows Gitbash
the build is failing.. did set the git update-index --chmod=+x mvnw

git ls-files --stage

100755 8b9da3b8b6006ed618243365e6d653d391a6b524 0       mvnw
100755 fef5a8f7f98851e698aed89b38961d160db50249 0       mvnw.cmd

The builds are failing exactly at the

[2020-04-20 16:08] SudharakaP commented on #9135
@naturzukunft @govindrk : This seems to be a very old issue. I don't know if this problem has been reintroduced by some regression; but could you please open a new issue if this is still an issue for you. :smile:

[2020-04-20 23:14] mshima commented on #11577
Reopening, I think we can improve this.

[2020-04-21 07:46] ntorionbearstudio commented on #11398
Hello @amatosg, there is no problem for updating multiple times the same entity, because each time `Entity.json`and `Entity-previous.json` will be updated and a new changelog will be created

[2020-04-21 09:02] danielpetisme commented on #11398
Regarding the new sub generator can we use a more generic name, like `data-migration` or kind of.
2 main reasons:
* in jhipster we also use data migration for NoSQL (which does not rely on liquibase) and this subgen could be use too (I know NoSQL is not the more used DB choice...)
* The blueprints may use other tools (I'm thinking about .Net which provides a built-in migration tool).

At the end i

[2020-04-21 16:33] mraible opened #11611 "Reactive Couchbase microservice fails to start"
##### **Overview of the issue**

I created a Couchbase microservice as part of the following JDL:

[code]

When I try to run the `blog` microservice, it fails:

[code]

##### **Motivation for or Use Case**

You should be able to use Couchbase in a reactive microservice.

##### **Reproduce the error**

See JDL above.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[2020-04-21 19:52] cbornet commented on #11575
I remember having the same kind of problem with Webflux. Maybe the way it's done with WebFlux can also be used for MVC.

[2020-04-21 23:58] SudharakaP opened #11615 "Missing Testcontainers Dependency: Redis with Gradle"
##### **Overview of the issue**

If we generate a basic project with Redis and Gradle there seem to be a compilation error in `RedisTestContainerExtension.java` class due to missing Testcontainers dependency on Gradle.

##### **Motivation for or Use Case**

Obviously we don't want compilation errors. :smile:

##### **Reproduce the error**

Just use the below configuration to generate a project and

[2020-04-22 06:57] #11615 closed

[2020-04-22 09:03] tillias opened #11617 "JHipster 6 hangs on import-jdl then continues after 3-5 Minutes"
##### **Overview of the issue**

When starting jdl import there is big delay / hang

##### **Motivation for or Use Case**
It just shows "Using JHipster version installed globally" and hangs, not clear if this is because of proxy stuff, or connectivity or performance etc

INFO! Using JHipster version installed globally
-> Here it hangs 3-5 Minutes
INFO! Executing import-jdl my.jdl
INFO! Options: fr

[2020-04-22 09:11] tillias commented on #11617
I have also checked and it seems this behaviour is same for all jhipster commands: https://stackoverflow.com/questions/61361341/jhipster-hangs-for-every-command

[2020-04-22 10:50] mshima commented on #11617
I am working on it.

[2020-04-22 11:04] mshima commented on #11617
What version of jhipster are you running?

[2020-04-22 11:17] #11566 closed

[2020-04-22 11:29] tillias commented on #11617
I have installed it yesterday, it says "generator-jhipster": "6.8.0"

[2020-04-22 11:40] mshima commented on #11617
Run and post the output.
[code]

[2020-04-22 11:51] MathieuAA commented on #11617
@tillias please provide a complete issue template (OS, etc.)

[2020-04-22 12:10] tillias commented on #11617
There are following entries:
[code]

After the last one it is hanging. Possibly few more entries will appear, will post in separate comment

[2020-04-22 12:12] tillias commented on #11617
After few minutes there is following appended:
[code]

I have issues jhipster version command

[2020-04-22 12:13] tillias commented on #11617
I can't post full details, I'm in work / enterprise environment with sensitive data... I have already posted OS, version etc. Please let me know if you need something concrete so I can obfuscate sensitive data

[2020-04-22 12:27] mshima commented on #11617
This is a problem with yeoman-environment's lookup with network mounted paths.
But shouldn’t happen without blueprint.
I will provide a fix to master.
You can try generator-jhipster@6.7.1, I think it’s not affected by this problem.

[2020-04-22 12:36] tillias commented on #11617
Thank you very much, testing right now. Is it enough to issue
`npm install -g generator-jhipster@6.7.1`
or additional work is needed?

[2020-04-22 12:41] mshima commented on #11617
Should be.
Maybe you need to remove generator-jhipster from local repository.
`rm -rf node_modules/generator-jhipster`

[2020-04-22 12:44] DareUrDream commented on #1569
We are also facing the same issue as we have like 40 entities in one project and there are a few such projects. So based on the limitations of Jhipster we are currently doing things the old fashioned way. Once this feature is available we will revisit it.

[2020-04-22 13:36] tillias commented on #11617
@mshima checked on private PC in the meantime, 6.7.1 works fast, no delay as 6.8.0

[2020-04-22 13:43] mshima commented on #11617
On the private pc 6.8.0 should work fast too. Unless there are mounted network file systems.

[2020-04-22 14:14] Manni2 opened #11620 "cannot find symbol: class AuditEventService"
## **Jhipster info report**
`MacBook-Pro-de-Emmanuel:odoo-api emmanuel$ yo jhipster info
WARNING! Deprecated: JHipster seems to be invoked using Yeoman command. Please use the JHipster CLI. Run jhipster <command> instead of yo jhipster:<command>

        ██╗ ██╗   ██╗ ████████╗ ███████╗   ██████╗ ████████╗ ████████╗ ███████╗
        ██║ ██║   ██║ ╚══██╔══╝ ██╔═══██╗ ██╔════╝ ╚══██╔══╝ ██╔═════╝ ██

[2020-04-22 14:32] mshima commented on #11617
jhipster 6.7.1 used yo for some operations.
jhipster 6.8.0 we removed yo dependency completely.

[2020-04-22 14:37] #11617 closed

[2020-04-22 15:42] mraible commented on #11620
Added a $100 bug bounty to hopefully increase motivation to fix this issue.

[2020-04-22 16:38] mshima commented on #11620
@mraible I think this one if fixes on master.
Your problem seems to be https://github.com/jhipster/generator-jhipster/pull/11622

[2020-04-22 16:42] mshima commented on #11620
Anyway running `yo hipster` isn't supported.
`jhipster` command should be used instead.

[2020-04-22 17:42] darklyjohn commented on #11620
@mshima  correct but it doesn't change the problem :(

[2020-04-22 21:32] Manni2 commented on #11620
I suppose the issue appears independently of the command line used to launch the project generation project ?

[2020-04-22 21:38] codezork opened #11625 "liquibase-maven-plugin configuration is always development profile, not for prod"
##### **Overview of the issue**
If you choose different database vendors as it is suggested by the default selection (h2 for stage development and sql for stage production) a pom.xml is generated which is not differentiating the profiles. It always uses the one selected for stage development.

Example:
[code]
If you run ./mvnw -Dprod liquibase is unable to connect to h2 as an sql database is activ

[2020-04-22 21:55] jdubois commented on #11625
You mean you need to do “liquibase:diff” on “prod” also? Why isn’t “dev” enough for this? In the end it should be the same diff file.

[2020-04-22 22:59] omurthy commented on #11620
This development provides deleting AuditEventService for Webflux and no-database. I think it shouldn't be merged with the master branch

![image](https://user-images.githubusercontent.com/37398303/80041409-16149600-8505-11ea-98a5-75ba551e6f91.png)

[2020-04-22 23:55] mshima commented on #11620
@omurthy sorry about that but:
- The PR is not deleting because it never existed.
- The bug is to fix the compilation. Adding AuditEventService support is a feature request. They are completely different.
JHipster should provide a great user experience to the users (including not having compilation errors), not provide all features everyone wants.
- As far as I am concerned current AuditEventServi

[2020-04-23 02:35] HaithemOtt commented on #9817
Hello all,
I would like to ask for help as M.Dubois is one of this conversation members.
I am trying to run the build command mvnw package -Pprod -DskipTests on a jHipster project and obtaining the message :" Error: Version of @angular/compiler-cli needs to be 2.3.1 or greater. Current version is "8.2.2"
I tried to find a working combination of @angular/core, @angular/compiler in package.json depe

[2020-04-23 02:38] HaithemOtt commented on #9817
My dependencies in package.json:

"dependencies": {
    "@angular/animations": "~8.2.9",
    "@angular/common": "9.0.0-next.2",
    "@angular/compiler": "8.2.2",
    "@angular/core": "8.2.2",
    "@angular/forms": "8.2.14",
    "@angular/platform-browser": "8.2.14",
    "@angular/platform-browser-dynamic": "8.2.14",
    "@angular/router": "8.2.14",
    "@fortawesome/angular-fontawesome": "0.5.0",

[2020-04-23 04:05] SudharakaP commented on #11611
@mraible : Are you using some special branch? When I generate the project using the given JDL, I see the following in the logs. :thinking:

<pre><font color="#4E9A06">Found the .jhipster/Blog.json configuration file, entity can be automatically generated!</font>

events.js:187
      throw er; // Unhandled &apos;error&apos; event
      ^

Error: <font color="#CC0000">The entity generator doesn&apos

[2020-04-23 04:13] SudharakaP commented on #9817
@HaithemOtt :

Please don't comment on an **old issue**. If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new/choose) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tr

[2020-04-23 04:22] HaithemOtt commented on #9817
Thanks Sudharaka Palamakumbura

[2020-04-23 04:30] SudharakaP commented on #9817
@HaithemOtt : You are welcome. Please feel free to open a new issue with all the details if you think this is a problem. That way most members will have better visibility on your issue. :smiley:

[2020-04-23 06:33] codezork commented on #11625
I mean without change in pom you'll struggle with liquibase using -Pprod at runtime. That's not fancy for a highly complex framework with steep learning curve. I did not see any parameters in travis.yml etc avoiding liquibase from trying. I love the idea behind JHipster being a long time developer using xtext. Would like to improve it.

[2020-04-23 08:15] tillias opened #11628 "java.net.UnknownHostException: fastdl.mongodb.org when running integration tests behind proxy"
##### **Overview of the issue**

This happens on every build behind proxy. Please see attached log

##### **Motivation for or Use Case**

Because our Corporate Jenkins works behind proxy as in many other organizations

##### **Reproduce the error**

Start build of any (also sample) jhipster generated project in Jenkins behind proxy.

##### **Related issues**

##### **Suggest a Fix**

For some reas

[2020-04-23 09:38] #11625 closed

[2020-04-23 11:47] MathieuAA opened #11629 "Identical stacktraces for builds involving infinispan"
Two different builds:
  - [From #11606](https://github.com/jhipster/generator-jhipster/pull/11606/checks?check_run_id=602335602)
  - [From #11588](https://github.com/jhipster/generator-jhipster/pull/11588/checks?check_run_id=607930809)

We see this stacktrace every time, but the builds still pass (or fail for unrelated reasons, but let's not care about the failing ones):
[code]

Possible fix descr

[2020-04-23 14:42] MathieuAA commented on #11629
@ecostanzi Hi! I've noticed you've updated the dependency from v9 to v10 and I'm wondering if you have an idea about this one?

[2020-04-23 15:37] mraible commented on #11611
@SudharakaP Yes, I'm using `mraible:reactive-neo4j` from https://github.com/jhipster/generator-jhipster/pull/11612.

[2020-04-23 16:29] pascalgrimaud commented on #11587
Incrementing the bounty as it's more work than expected

[2020-04-23 16:58] ecostanzi commented on #11629
@MathieuAA hi! No idea now, but the link with the fix is useful. I'll have a look

[2020-04-23 17:01] MathieuAA commented on #11629
Thank you!!

[2020-04-23 17:21] darklyjohn opened #11630 "Use linked generator"
##### **Overview of the issue**
I'm trying to run jhipster-generator by using the dev setup. I linked a cloned jhipster-generator.
But when I try to run "jhipster" command no way it's not working. But when I use "yo" and select the jhipster generator it is working.

##### **Motivation for or Use Case**

INFO! Using JHipster version installed globally
INFO! Running default command
INFO! Executing j

[2020-04-23 17:36] pmverma commented on #11630
Follows the guide at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup to do your dev setup.
If you still have the issue after trying, tell us more about how to reproduce it.

[2020-04-23 17:59] darklyjohn commented on #11630
@pmverma I followed this guide. So I cloned the current jhipster-generator  from github. Then I use

`C:\GitProjects\jhipster-generator>npm link
audited 11291 packages in 4.559s

10 packages are looking for funding
  run `npm fund` for details

found 190 low severity vulnerabilities
  run `npm audit fix` to fix them, or `npm audit` for details
C:\npm\jhipster -> C:\npm\node_modules\generator-jhips

[2020-04-23 18:15] mshima commented on #11630
Run
[code]

Post the log.

[2020-04-23 19:27] darklyjohn commented on #11630
C:\GitProjects\generateAppWithLinkedGenerator>jhipster
INFO! Using JHipster version installed globally
  yeoman:environment:repository Running npm with args [ 'root', '-g', '--prefix', 'C:\\GitProjects\\generateAppWithLinkedGenerator\\.yo-repository', '--loglevel', 'error' ] +0ms
  yeoman:environment Running lookup with options: { packagePaths: [ 'C:\\GitProjects\\jhipster-generator' ], filePatter

[2020-04-23 19:27] murdos commented on #11630
@darklyjohn Have you ran the `npm link generator-jhipster` in your `generateAppWithLinkedGenerator` directory, before launching the `jhipster` command?

[2020-04-23 19:28] darklyjohn commented on #11630
@murdos  yes and the same error :(

[2020-04-23 19:38] mshima commented on #11630
Move `C:\GitProjects\jhipster-generator` to `C:\GitProjects\node_modules\jhipster-generator`.
Run `npm link` again.
It should fix.

I will think about how to proper fix this.

[2020-04-23 20:51] atomfrede commented on #11611
I guess it might be the same problem with neo4j and elasticsearch. Can you try without elastic? Gerrit checked and all repository beans are tried to be created with the elastic repository bean. Will keep you updated if I have some news.

[2020-04-24 07:19] pascalgrimaud commented on #11575
Just changed the label to `bug` as it has been confirmed
Added a bounty too, as it's a bug and needed to be fixed before the next release

[2020-04-24 07:27] pascalgrimaud commented on #11628
Plz provide all information asked in template, with your config.

Then, I'm not sure we can do something as it seems related to your proxy.
Maybe a solution would be to use testcontainers.

[2020-04-24 07:29] pascalgrimaud commented on #11620
Not sure we should spend so much time for Audit, as it should be removed for v7...

[2020-04-24 07:34] #11587 closed

[2020-04-24 08:08] tillias commented on #11628
This is related to _fastdl.mongodb.org_ dependency itself. It doesn't take into account proxy settings, thus they ask to use following configuration:

[code]

Unfortunately I can't find any hint how to make this adjustment in JHipster generated project. So solution may be:

1. Adjust generator so there is additional service available in new project
2. User can edit "proxy_host"

At the moment I ca

[2020-04-24 12:06] #11629 closed

[2020-04-24 18:27] darklyjohn commented on #11630
@mshima not working , I reinstall node.  But still the same problem. I made a debug of the code and see that in the environment file of node_module/yeoman-environment , the variable toNameSpace is undefined. Do you know where this value is set ? and how ?

`create(namespaceOrPath, options) {
    options = options || {};
    const namespace = this.toNamespace ? this.toNamespace(namespaceOrPath) : u

[2020-04-24 18:37] mshima commented on #11630
Try this branch: https://github.com/mshima/generator-jhipster/tree/yeoman

[2020-04-24 18:49] mshima commented on #11630
You can update yeoman-environment to 2.9.6 on generator-jhipster#master too.

The bug is that the namespace is been registered wrong:
Log:
`yeoman:environment Registered C::GitProjects:jhipster-generator:app (C:\GitProjects\jhipster-generator\generators\app\index.js) on package C (C:\GitProjects\jhipster-generator)`

`C::GitProjects:jhipster-generator:app` instead of `jhipster:app`.

Probably this

[2020-04-24 18:52] mshima commented on #11630
Sorry.
There is another problem the folder should be named `generator-jhipster` instead of `hipster-generator`.

[2020-04-24 19:03] darklyjohn commented on #11630
@mshima I try your fork , and it's working fine !  thank you , I will also try with my generator.
Strange things with Windows SO ..

[2020-04-24 19:03] #11630 closed

[2020-04-24 19:50] ajsatix commented on #10135
I used this JDL and the stores app keeps crashing continously

![image](https://user-images.githubusercontent.com/60906911/80251170-ce237980-8692-11ea-8abe-3b4834f7cf50.png)

can you help with this error @deepu105

[2020-04-24 19:52] ajsatix opened #11635 "ecommerce istio error"
store pod keeps crashing continously. when i looked at the logs for the pod i get below
![image](https://user-images.githubusercontent.com/60906911/80251414-31ada700-8693-11ea-8914-b55451af5abd.png)
@deepu105 can you help

[2020-04-24 21:24] atomfrede commented on #11611
@mraible Just for your information it seems not to be fixed by the same workaround for elastic & neo. But nevertheless it seems like a problem with multiple spring data modules too.

[2020-04-25 04:09] SudharakaP commented on #10135
@ajsatix : Please don't comment on an old issue; this makes it hard to keep track of issues. If you think the issue still exists please open a new thread. :smiley:

[2020-04-25 04:12] SudharakaP commented on #10135
@ajsatix : I see you've opened the same issue on [jdl-samples](https://github.com/jhipster/jdl-samples); I have moved it to this repo; https://github.com/jhipster/generator-jhipster/issues/11635

[2020-04-25 04:15] SudharakaP commented on #11635
This is a duplicate of https://github.com/jhipster/generator-jhipster/issues/11551. We have already fixed it. Therefore I am closing this issue. :smiley:

[2020-04-25 04:15] #11635 closed

[2020-04-25 05:16] ajsatix commented on #11635
thank @SudharakaP

[2020-04-25 05:19] SudharakaP commented on #11635
You are welcome :smile:

On Fri, Apr 24, 2020, 10:16 PM Sathishkumar AJ <notifications@github.com>
wrote:

[2020-04-25 07:13] #11514 closed

[2020-04-25 09:51] juliensadaoui opened #11636 "Add reactive support with openapi-generator"
##### **Overview of the issue**

When we use the openapi-generator (wrapped by our openapi-client subgenerator) and reactive support, the generated classes use the feign client.

We should use a library like the Spring 5 WebClient with non-blocking I/O support.

##### **Motivation for or Use Case**

Since reactive support added to jhipster, we should generated a reactive client with Spring 5 WebCl

[2020-04-25 09:51] juliensadaoui commented on #11636
cc @mraible @cbornet @avdev4j

[2020-04-25 10:13] avdev4j commented on #11636
I'm OK to do that with you @juliensadaoui

[2020-04-25 10:38] atomfrede commented on #11611
Removing elasticsearch makes the service start. Trying to find a workaround.

[2020-04-25 11:27] atomfrede commented on #11611
Okay, I need some couchabse expertise. When I change e.g. `BlogRepository` from `ReactiveCouchbaseSortingRepository` to `ReactiveN1qlCouchbaseRepository` it also works with Elasticsearch. The custom repository is also defined as base class in `DatabaseConfiguration` and extends the default `ReactiveCouchbaseSortingRepository` so the change seems save to me, but I don't know why we have a custom re

[2020-04-25 13:19] cbornet commented on #11636
:+1

[2020-04-25 16:00] dani-t opened #11638 "cannot run jhipster command after installing latest generator-jhipster"
##### **Overview of the issue**

After installing jhipster using npm, when I try to run any jhipster command I get the following error.

##### **Motivation for or Use Case**

JHipster commands are not running

##### **Reproduce the error**

1. Install jhipster using npm as in docs `npm install -g generator-jhipster`
2. run `jhipster` or `jhipster info`
3.

[code]

##### **Versions**
npm 6.14.4
nod

[2020-04-25 16:27] dani-t commented on #11638
I installed node v12.0.0 and it works

[2020-04-25 16:50] mshima commented on #11638
Not a generator-jhipster bug =/.
See https://github.com/then/is-promise/pull/15 released 2 hours ago and a PR to fix is already been created.

[2020-04-25 18:17] #11638 closed

[2020-04-25 18:17] mshima commented on #11638
Should be fixed by is-promise v2.2.2.

[2020-04-25 21:17] maheshjadhav007 opened #11641 "Getting java.lang.IllegalStateException: handshake failed, mismatched cluster name Exception while running embedded Elasticsearch instance"
I have created UAA service, Gateway and OtpService microservice using Jhipster. but when I ran Gateway and Otpservice , I am getting below exception related to Elastic search cluster. I am using embedded Elasticsearch instance. after throwing below exception services getting registered to Eureka server. I am expecting to run services without exception.

2020-04-26 02:25:11.623  WARN 3372 --- [_con

[2020-04-25 21:57] mraible commented on #11641
Embedded elasticsearch is used by default in the `dev` profile:

https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/application-dev.yml.ejs#L176

localhost:9200 is used when running with the `prod` profile:

https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/application-prod.

[2020-04-26 01:14] #11620 closed

[2020-04-26 06:13] maheshjadhav007 commented on #11641
Hi mraible,

Thanks for responding.

I haven't done any changes in application-dev.yml. Even It confused me. I am attaching my application-dev.yml for your reference.

I am running following application in my laptop locally.

1)Eureka Server   -> Ran perfectly
2)UAA                  -> Ran Perfectly
3)Gateway           -> throws below error. but connect to eureka
4)OTP Service      -> throws below

[2020-04-26 12:05] mshima opened #11643 "JHipster ignores error stacktrace."
##### **Overview of the issue**

JHipster doesn't print the error stacktrace to console, making difficult to identify the source of the error.

##### **Motivation for or Use Case**

I've been caught by this problem many times.

##### **Reproduce the error**

A simple way to reproduce is:
`jhipster entity $`

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

master

[2020-04-26 13:21] mraible commented on #11542
I've added a bug bounty as this seems like a large task that will be difficult to do.

[2020-04-26 13:28] mraible commented on #11641
Can you please wrap the YAML in your previous comment in a markdown code block so it's easier to read?

What's an OTP Service? Is that an app you created with JHipster?

[2020-04-26 13:32] yelhouti commented on #8915
Adding a note here to take into consideration if possible:
the way entity data is loaded today, each config is loaded one by one. In the case of blueprints that wants to handle composite keys, you need information about the other entity to create an entity file, it would be great to have a global var with all the entities that all of them can access, not I use a dirty hack that reads the json and

[2020-04-26 13:50] maheshjadhav007 commented on #11641
Hi mraible,

Extremely sorry for inconvenience. I am attaching application-dev file as txt file. Can you please look into it.  OTP service application is created with Jhipster.

In my all 3 jhipster application, I am using embedded elastic instance. and I am trying to run on my laptop. Is it fine to run jhipster application with embedded elastic instance on same machine?

[2020-04-26 14:21] MathieuAA commented on #8915
Hello @yelhouti. If I get this correctly, when one imports a JDL content, there's a need for all entities to be listed "globally" in the generator when importing them, right?
The JDL importer returns a state of everything that has been parsed (and could be imported): entities, applications, deployments.

[2020-04-26 14:34] mraible commented on #11641
Embedded ES to me means that you're writing to the file system rather than talking to it in a Docker container (or real instance). Do you have the same definition?

I'm trying to understand why you call it embedded rather than just saying you're using JHipster with Elasticsearch.

[2020-04-26 14:52] maheshjadhav007 commented on #11641
Yes matt. Embedded ES writes data in followning location for each microservice.
D:\uaa\target\elasticsearch\data\
D:\gateway\target\elasticsearch\data\
D:\otpservice\target\elasticsearch\data\

I am using JHipster with Elasticsearch. I am trying to run microservices for dev environment.

[2020-04-26 15:04] mraible commented on #11641
I haven't experienced this issue, but I have experienced problems when running ES embedded. The problem I experienced is ES fails to restart after it's started once because it thinks the index is corrupted.

If you change your dev ES settings to use the prod settings and start ES in a Docker container, does it solve the problem?

The reason I ask is we might make that the default in JHipster 7.

[2020-04-26 15:17] yelhouti commented on #8915
@MathieuAA indeed, the way it works today is that the `this` variable contains the context of the entity with the fields, relationships... this content is read using getEntityJson at the start of each entity to generate.
Ideally, before, starting the generation of entities, all contexts should be loaded into memory, and I would have a hook to populate my own options... (compute primary keys...)

[2020-04-26 15:20] yelhouti commented on #8915
@MathieuAA I can make a PR if you don't mind that does all this, if you can merge it for me, it's a lot of work, so I prefer to ask before coding. This would allow multiple blueprints that needs the same variables to share code.

[2020-04-26 15:38] mshima commented on #8915
I don't think you should waste time with this right now.
This is a very complicated issue and should be changed a lot once v7 windows is open.
There is a lot to take into account, ex: synchronisation between the generators, mem-fs vs disk.
Loading every thing, depending on when it's loaded, will not work because everything is subject to change.
Some related issues:
- To many configuration sources

[2020-04-26 15:51] yelhouti commented on #8915
@mshima thanks for pointing me to the other issue, I would go as far as saying it's unrelated, as the JDL will be loaded at once and it would be the right time to do my changes, make one entity point to the other...
But I understand what you are saying, just trying to make sure that it will go in a direction that won't make the two blueprints I am maintaining unusable.

[2020-04-26 16:40] mshima commented on #8915
I have a blueprint that creates a new entity and make some of the others point to the one I've just made.

[2020-04-26 18:11] maheshjadhav007 commented on #11641
Hi matt,

If I start ES in docker with prod setting, It will work.
but I am more interested in generating application with jhipster and without modifying any setting,
it should run without any exception.

For re-production of same issue, please find below microservices ( changed db password to 'root')
AuthServer -> https://github.com/maheshjadhav007/authserver.git
Gateway -> https://github.com/mah

[2020-04-26 18:13] mraible commented on #11641
I agree. It should run without any exceptions. However, this might not be possible. You might've found a bug and we're unable to fix it unless we use Docker in dev mode too. I don't know how to fix your problem. If you figure out a solution, please create a PR.

[2020-04-26 18:31] maheshjadhav007 commented on #11641
If possible, Can you please check with repositories which I have shared whether you are getting same exception or not. I just wanted to confirm from expert.

[2020-04-27 02:13] #11643 closed

[2020-04-27 07:04] gzsombor commented on #11542
I would like to work on it - I've already found a couple of issue, which prevented running the reactive app, and login to it.

[2020-04-27 07:15] letanloc1998 opened #11649 "Filtering on Entities Gives Wrong Results"
##### **Overview of the issue**

https://www.jhipster.tech/entities-filtering/

When I filter equals and in, it give wrong result

##### **Motivation for or Use Case**

?id.equals=5&id.in=1&id.in=2&id.in=3

=> result entity/object id = 5
expected result: null (no id =5 and in = [1, 2, 3])

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

Check criteria with multipl

[2020-04-27 08:19] #11611 closed

[2020-04-27 11:58] MathieuAA commented on #11586
What is a payload? Not sure I get it as I should

[2020-04-27 12:00] 62mkv commented on #11586
By "payload" I mean that an element of an enum will have some value ("payload") attached to it, as opposed to "regular" enum which will have not any additional value attached

[2020-04-27 12:01] 62mkv commented on #11586
Feel free to modify the proposed syntax, of course!

[2020-04-27 12:03] MathieuAA commented on #11586
Inferring the type is possible without keyword. We can leverage the syntax:
  - anything between double quotes is considered a string (speaking in JCore v8 terms)
  - an int is an int, and shouldn't be between quotes

[2020-04-27 12:03] MathieuAA commented on #11586
Sorry if I'm confusing, I still have the ideas for JCore v8 in my head

[2020-04-27 12:04] 62mkv commented on #11586
I'm fine with that. What with currently existing support for unquoted value? How that will be interpreted as a "payload"?

[2020-04-27 12:05] MathieuAA commented on #11586
An idea I proposed in https://github.com/jhipster/jhipster-core/issues/459 is to deprecate them.

[2020-04-27 12:37] MathieuAA opened #11650 "The generator project - Deprecate node v8 versions"
##### **Overview of the feature request**

Node v8 is not longer supported, and node v10 is in maintenance mode (v12 being the LTS version).

##### **Motivation for or Use Case**

First motivation: we can use the newer features of node (`mkdir('p', ...)`), bump (I'm talking semver-major updates) some dependencies.
Second motivation: JCore is gonna do the same.
Third motivation: remove the `mkdirp`

[2020-04-27 13:06] SudharakaP commented on #11649
@letanloc1998 : Could you please complete the issue template with and example configuration. You can get the configuration for JHipster project where you saw this issue with `jhipster info` command. :smile:

[2020-04-27 15:53] Blackdread commented on #11649
it is not an issue.
If equals is given then it ignores others like: in, gt, lt, etc.

[2020-04-27 15:56] letanloc1998 commented on #11649
Hmm, this will give big bug logic code.

[2020-04-27 15:57] letanloc1998 commented on #11649
This is logic code. It will response wrong result ~~

[2020-04-27 16:08] mraible commented on #11599
We should create a PR that re-enables BlockHound. That way, we can run CI on it periodically to see if the issues are fixed.

[2020-04-27 16:23] deepu105 opened #11651 "Update react dependencies with major version changes"
Update the following dependencies in React implementation. It could be bit of work since we haven't updated these in a while

[code]

[2020-04-27 16:59] yelhouti commented on #7112
I would like to reopen this issue, now that we have a blueprint (as @deepu105 has suggested) that have been used for months by many users, https://github.com/elhoutico/jhipster-composite-key-server-blueprint/ I would like to merge the main logic to avoid upgrading the blueprint each few weeks for the latest features. what do you guys think? (Please reopen issue)

[2020-04-27 17:07] mraible commented on #11542
Go for it @gzsombor!

[2020-04-27 17:08] #11491 closed

[2020-04-27 17:24] MathieuAA commented on #11651
@deepu105 if you're not already doing it I'm willing to give it a go, I have the same use case in one of my apps :)

[2020-04-27 17:51] mraible opened #11652 "Update Angular dependencies to latest versions"
Update Angular dependencies to use the latest versions.

If I run `ncu` (from [npm-check-updates](https://www.npmjs.com/package/npm-check-updates)) on an app created from `master`, it shows quite a few dependencies that are out of date.

[code]

To test if this is an easy update, I ran the following:

[code]

All tests pass. Then I started the app. It fails when running from Gradle:

[code]

[This

[2020-04-27 17:52] mraible commented on #11651
I created [a similar issue for Angular](https://github.com/jhipster/generator-jhipster/issues/11652).

[2020-04-27 17:57] SudharakaP commented on #11649
@letanloc1998 : Hi, actually, @Blackdread is correct; it doesn't make sense to write `?id.equals=5&id.in=1&id.in=2&id.in=3` since id in this case is already equal to 5. If what you mean is some other bug that you notice, feel free to reopen with more detailed configuration so that we can reproduce the issue. :smiley:

[2020-04-27 17:57] #11649 closed

[2020-04-27 18:08] SudharakaP commented on #11652
If no one is already working on this issue, I can give it a try. :smile:

[2020-04-27 18:28] deepu105 commented on #11651
@MathieuAA plz go ahead, I just did #11653 but the dependencies here needs bit more work

[2020-04-27 18:29] MathieuAA commented on #11651
@deepu105 alright then

[2020-04-27 18:31] deepu105 commented on #11652
make sure `npm run webpack:build && npm test && npm run webpack:prod && npm start` passes and also `npm e2e`, html-webpack-plugin has breaking changes

[2020-04-27 18:53] MathieuAA commented on #11651
First issue I've encountered, with the `html-webpack-plugin` dependency.
[code]

Found this issue in the repo that seems to correspond: https://github.com/jantimon/html-webpack-plugin/issues/1377#issuecomment-605678041
The `base-href-webpack-plugin` dependency didn't receive updates since early 2019. I'm gonna focus on the others 4 that seem to be easier to deal with.
I'll go back to this dependen

[2020-04-27 18:58] deepu105 commented on #11651
I think this one is not very important anyway

On Mon, 27 Apr 2020, 8:54 pm Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2020-04-27 18:58] MathieuAA commented on #11652
My comment about this dependency: https://github.com/jhipster/generator-jhipster/issues/11651#issuecomment-620168735

[2020-04-27 19:41] MathieuAA commented on #11651
So far, except the last dependency, everything's okay. There's just reactstrap, but it's very minor: https://github.com/reactstrap/reactstrap/blob/master/CHANGELOG.md#breaking-changes. I'm doing some more tests in real apps but I think you can include them in your PR

[2020-04-27 21:43] SudharakaP commented on #11652
I've done the update, notice that I've also replaced [ngx-cookie](https://www.npmjs.com/package/ngx-cookie) with [ngx-cooke-service](https://www.npmjs.com/package/ngx-cookie-service). ngx-cookie seems to have problems with the upgrade and it seems that ngx-cookie-service is an equivalent replacement with better support for Angular 9. Specifically with ngx-cookie we hit the following issue; https:/

[2020-04-27 22:04] SudharakaP commented on #11650
This pertains to the `templates/package.json.ejs` files right ([example](https://github.com/jhipster/generator-jhipster/blob/104c4bc21ea0b4700323d21fd9084d7bf08aeee6/generators/client/templates/angular/package.json.ejs#L166)) ? I think we can safely do this since our CI already runs on Node 12.

:smile: :smile:

[2020-04-27 22:11] MathieuAA commented on #11650
@SudharakaP I should have added this little detail: I was talking about the generator.

[2020-04-27 22:14] SudharakaP commented on #11650
@MathieuAA : No problem. I think the previous PR is still valid since we need to upgrade the template version as well to 12 anyways. :smile:

[2020-04-27 22:16] MathieuAA commented on #11650
Indeed!

[2020-04-27 22:43] MathieuAA commented on #11651
BTW, I didn't see any use of the `uuid` package in the front-end code (except in the `package.json` file). Unless I'm missing something...

[2020-04-28 01:22] IamAIQ commented on #11652
我的项目

[2020-04-28 03:05] SudharakaP commented on #11339
@Sergiocr16 : Just to follow up, Is this still an issue? Do you have the application logs so that we could investigate further? I am closing this issue but feel free to reopen if you think it's still a problem. :smiley_cat:

[2020-04-28 03:05] #11339 closed

[2020-04-28 03:07] #11652 closed

[2020-04-28 06:51] SudharakaP opened #11658 "Add Documentation about Embedded Entities for Document Databases"
##### **Overview of the issue**

This is inspired from; https://github.com/jhipster/generator-jhipster/pull/11239#issuecomment-619372587

I think as per #11239 we need to add to our documentation about embedded entities. I am not exactly sure how this functionality works myself; if someone could give me a brief example I am more than happy to add this to the documentation. :smile:

##### **Motivat

[2020-04-28 09:10] stancalau opened #11659 "Login Error React UI"
##### **Overview of the issue**

Cannot log in React with OAUTH2 in Monolyth

##### **Motivation for or Use Case**

Out of the box generated code does not work

##### **Reproduce the error**

1. Generate project
2. Run docker-compose -f src/main/docker/keycloak.yml up (tested to work http://localhost:9080/)
3. Run gradlew
4. Run npm start
5. Log in with default user

Result

![image](https://user-

[2020-04-28 10:08] #11650 closed

[2020-04-28 10:26] GontseNtshegi opened #11660 "Jhipster API GATEWAY issue when changing eureka preferIPAddress and hostname for microservice"
##### **Overview of the issue**
Hi Guys

Im using Springboot 2.1.9- RELEASE on the gateway.. When I change eureka.instance.host-name and euereka.instance.non-secure-port of my microservices, The Swagger API of the microservice on the GATEWAY shows with no issues and no errors. However when I do a request on SWAGGER, the requester goes to "microservice-hostname/services/microservice-name/api/" inst

[2020-04-28 12:58] stancalau commented on #11659
I've managed to fix this by updating npm to 6.14.4 with node 12.16.2.

[2020-04-28 15:10] deepu105 commented on #11651
Probably its from some legacy stuff or used only in some specific option
combination

On Tue, 28 Apr 2020, 12:43 am Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2020-04-28 16:38] mrsimple1982 commented on #9746
Thanks, this was helpful.

[2020-04-28 17:38] mmuruev opened #11661 "Different validation rules in CLI and JDL-studio"
I can create an app with baseName gateway-app from CLI but with JDL-studio this is impossible trow error (- is forbidden)  also minor differences with VC-Code

[2020-04-29 06:52] MathieuAA commented on #11661
Hello there. I'm gonna transfer this issue in JCore as it concerns the JDL.
@colameo just so you know

[2020-04-29 09:14] GontseNtshegi commented on #11660
Hi Managed to fix by setting JHIPSTER_SWAGGER_HOST property.. thanks

[2020-04-29 09:14] #11660 closed

[2020-04-29 10:52] stancalau commented on #11659
It worked after updating npm, however after a restart, the problem is back.

[2020-04-29 11:13] narimanmandi commented on #5251
i have the same problem with different situation , i have two outlets (parent->child) and the route that prevents a component with second outlet is lazy.i called second outlet as "profile"
when in profile outlet i click logout and broadcast an event , i want to subscribe this event in my topBarHeaderComponent that is in outlet1(parent)
but it doesn't work.
by the way i am using jhiEventManager all

[2020-04-29 11:20] SudharakaP commented on #5251
@narimanmandi : Thanks for bringing this up, but since this is a very old issue I would suggest opening a new issue if you think the problem still exists. Provide all the information (such as `.yo-rc.json` and JDL files) to recreate the issue (you can print them out via `jhipster info`).

[2020-04-29 15:05] stancalau commented on #11659
This problem haunted me for 3 days but I finally figured it out. It has to do with the local Docker client time getting out of sync with your OS. This happens particularly when you put the computer to sleep. That is when Docker experiences "time drift". The solution is to restart the Docker client before you run your Keycloak image.

You might consider writing a note about this in the readme and s

[2020-04-29 15:15] #11651 closed

[2020-04-29 15:28] narimanmandi opened #11667 "eventManager.subscribe() does not subscribe a broacast in lazy module loading"
##### **Overview of the issue**
i am using ng-jhipster library in my ng-app the problem is :
i have two outlets (parent->child) and the route that represent a component with second outlet is lazy.i call second outlet as "profile"
when in profile outlet i click logout and broadcast an event , i want to subscribe this event in my topBarHeaderComponent that is in outlet1(parent)
but it doesn't work.

[2020-04-29 15:31] mraible commented on #11659
I've experienced time drift too when I had my computer's clock NOT synched to internet time. It's made live demos fail for me before and it certainly is frustrating. If you could create a PR to add it to https://www.jhipster.tech/[our docs], that'd be great. The reason I'm asking you to do it is because I'm guessing you looked at the docs to try and figure this problem out.

If you did not look in

[2020-04-29 15:44] mraible opened #11668 "Add New Server Side options to jhipster.tech"
##### **Overview of the feature request**

We have a number of backend options that aren't listed on jhipster.tech:

* Kotlin
* Node.js
* .NET
* Micronaut
* Quarkus

##### **Motivation for or Use Case**

We should highlight the work that developers have done on these blueprints. If they're not ready for use, we probably shouldn't include them.

##### **Related issues or PR**

https://github.com/jh

[2020-04-29 16:24] deepu105 opened #11670 "Core: Upgrade commander to v5"
I upgraded commander from v2 to v4 in https://github.com/jhipster/generator-jhipster/pull/11669

V5 has lot of breaking changes and hence probably is considerable effort to upgrade to https://github.com/tj/commander.js/blob/master/CHANGELOG.md

[2020-04-30 08:40] mmuruev opened #11673 "Microservice port conflict at localhost"
Not sure it's a bug or a 'feature'
`
ERROR: for customergateway-postgresql  Cannot start service customergateway-postgresql: b'driver failed programming external connectivity on endpoint docker_customergateway-postgresql_1 (7e89d2b724f17888bd1097ac2dd3acda2abcbaee5f0641a8361dca01da1d2495): Bind for 0.0.0.0:5432 failed: port is already allocated'`
An attempt to create a simple microservice app with

[2020-04-30 10:00] omurthy commented on #5607
yo jhipster command will override your all development .So if you want to keep your codes
go change your "cloud" part of  bootstrap.prod.yml like below :

 `spring:

    cloud:
        discovery:
            enabled: false
        config:
            fail-fast: false`

[2020-04-30 11:54] mraible commented on #11673
I've seen this happen when you already have PostgreSQL running on your machine. If you stop the process first, it should work.

[2020-04-30 13:05] antoinecharlet opened #11675 "Is my security a problem ?"
I post this on on stackoverflow:
https://stackoverflow.com/questions/61482966/navigator-mediadevices-getusermedia-permission-denied
I com here juste to know if u saw somrthing weird in my security setting ! i'm using Let's encrypt
thx in advance

[2020-04-30 15:08] MathieuAA commented on #11651
Claimed my half: https://opencollective.com/generator-jhipster/expenses/17196. Thanks again Deepu!

[2020-04-30 15:18] pascalgrimaud commented on #11575
Increasing the bounty as it requires more work than expected and needs some change in vue.js blueprint too. Otherwise, the Vue.js part won't work well with the next release of generator-jhipster

[2020-04-30 17:45] rodrigocprates opened #11676 "Support MongoDB when deploying to AWS Beanstalk"
##### **Overview of the feature request**

Currently only RDS databases are supported to be deploy on AWS Beanstalk through ```jhipster aws```.

##### **Motivation for or Use Case**

Provide alternative to projects that do not use relational database (RDS), giving option to use MongoDB as it's the most common nosql database.

Might also give freedom to the user skip default database configs and ma

[2020-04-30 18:06] SudharakaP commented on #11676
@rodrigocprates : I am not an AWS expert, but this is probably not possible with Beanstalk. Beanstalk only supports relational databases through RDS; https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.managing.db.html. If you want to run MongoDB there's two options;

1) Use [Mongo Atlas](https://www.mongodb.com/cloud/atlas) and point your application to that.

2) Use the aws-con

[2020-04-30 18:06] #11676 closed

[2020-04-30 18:18] pascalgrimaud commented on #11673
@mmuruev : can you provide all information asked in the template plz ? just use `jhipster info` in each microservice

Just to be sure about your config.
Then, I will be able to provide a solution if it's the same config I have in my projects

[2020-04-30 18:26] DanielFran opened #11677 "Update Keycloak to 10.0"
##### **Overview of the feature request**

See:
- https://www.keycloak.org/2020/04/keycloak-1000-released
- https://www.keycloak.org/docs/latest/release_notes/index.html

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-04-30 18:26] DanielFran commented on #11677
@vishal423 Have you time to make the update?

[2020-04-30 18:41] DanielFran opened #11678 "Update Redis to 6.0.x"
##### **Overview of the feature request**

See:
- http://antirez.com/news/132
- https://raw.githubusercontent.com/antirez/redis/6.0/00-RELEASENOTES

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-04-30 19:44] rodrigocprates commented on #11676
It seems indeed that Mongo Atlas is the most straightforward solution to address it.

Thank you @SudharakaP.

[2020-04-30 20:05] mmuruev commented on #11673
INFO! Using JHipster version installed locally in current project's node_modules
00h00m00s 0/0: : INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
"generator-jh

[2020-04-30 20:10] mmuruev commented on #11673
But this is wrong! I should not put everything on one DB server! And also it blocks docker-compose app run. I understand how to fix it but, I'm talking about how to avoid and improve such cases. I have no local (at host) psql server. All instances from the docker.

[2020-04-30 20:19] pascalgrimaud commented on #11673
@mmuruev :
- with dev profile, you shouldn't have problem as your gateway uses h2disk and your microservice psql
- you can have problem with prod profile as you need to start each psql (1 for gateway, 1 microservice)

To resolve this, IMO, the best would be:
- create a separate project, use `jhipster docker-compose`, it will generate a big docker-compose file
- clean all app, keep only database an

[2020-04-30 20:25] SudharakaP commented on #11676
You are welcome :smile:

On Thu, Apr 30, 2020 at 12:44 PM Rodrigo Prates <notifications@github.com>
wrote:

[2020-05-01 06:36] mmuruev commented on #11673
Well, choose another DB type isn't the solution here. I'll use another service with psql for tests also.
jhipster docker-compose actually fails to create

[code]

Yes, I've mentioned this, but issue that after changes I cant use JDL anymore because it overwrites such change in docker-compose files and even worse make a commit! so I even can't see it **git status** easily to make mistake here.

The

[2020-05-01 06:50] pascalgrimaud commented on #11673
I didn't suggest to change DB. I mentioned h2disk because it's the config in your gateway.

About docker compose sub generator, use the path where there are other folders of microservices, not inside a specific one. Maybe just `../` ?

Unless you use the side by side approach for your project, you have to check every single file you changed. So you can add another file like psql.yml instead of usi

[2020-05-01 07:15] mmuruev commented on #11673
Even with full path no success. I used an approach from documentation side by side actually. No, you should not modify your hosts file.. if you up [dns-masq](https://hub.docker.com/r/strm/dnsmasq/) container. It will handle this all for you. We are using it and it really convenient and you can forget about modify something in the system especially with `sudo` !

[2020-05-01 09:22] gmarziou commented on #11673
Why?
It's only in dev and you can have several databases hosted by one single containerized db server.
This looks like optimizing your ressources on  your dev PC to me.

[2020-05-01 11:00] murdos opened #11681 "TODO: Migration to Spring Boot 2.3"
I've created `spring-boot-2.3` branches on both `generator-jhipster` and `jhipster` project.
I plan to create PR against these branches to handle the multiples changes required.

##### **Overview of the impacts (identified so far)**

- [x] Elasticsearch (https://github.com/jhipster/generator-jhipster/pull/11683)
- upgrade to ES 7.6
- replace jest client by official RestHighLevelClient
- removal of

[2020-05-01 12:57] vishal423 commented on #11677
@DanielFran, I will try to do it over next few days

[2020-05-01 14:49] NarendraChary5 opened #11684 "am using JWT token and validating in zuul api gateway, now i want to pass user info which is present in token to micro service. how can i do this ?"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker, if your issue is not a **bug** or **feature request** then sorry you are not in the right place :wink:.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This will help the project to keep a clean issue tracker

[2020-05-01 17:33] murdos opened #11685 "Replace or remove Spring Cloud Connectors"
##### **Overview of the issue**

Spring Cloud Connectors is in maintenance mode: https://spring.io/blog/2019/02/15/introducing-java-cfenv-a-new-library-for-accessing-cloud-foundry-services

And the Spring Cloud Connectors starter has been removed from Spring Boot since [version 2.3.0 M1](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.3.0-M1-Release-Notes)

##### **Motivation for

[2020-05-01 19:08] rodrigocprates commented on #11681
@murdos what are the plans for this PR? if you need some help, reach out to me.
I specially need a way to use MongoDB Atlas (that will be fixed on your mongobee>mongock migration)

[2020-05-01 20:53] murdos commented on #11681
@rodrigocprates : there will be a dedicated PR for mongodb, and when once Spring Boot 2.3 is released and most issues are solved, we'll coordinate to merge the `spring-boot-2.3` branch in `master`.

Regarding mongodb, I've done the migration to mongock in a branch, but it's now waiting for mongock support of MongoDB Java Driver 4.

[2020-05-01 21:43] gmarziou commented on #11684
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-05-01 21:43] #11684 closed

[2020-05-01 21:43] gmarziou commented on #11684
This is question for stackoverflow not an issue.

[2020-05-02 06:14] mmuruev commented on #11673
@gmarziou Maybe but can be other issues because of this. Anyway, if this is the way .. docker-compose not aware of it and still crashing.

[2020-05-02 10:37] atomfrede commented on #11685
Do we still have free credits to evaluate and test the feature? If yes, who has access to that account?

[2020-05-02 10:42] atomfrede commented on #11675
We are using a [feature policy ](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy) security header in `SecurityConfiguration` which is [very restrictive](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L251) and should be adapted according to your needs. By default **no** acce

[2020-05-02 10:42] #11675 closed

[2020-05-02 11:04] jdubois commented on #11685
I didn’t know about that! What are they doing???

I probably still have free credits, and otherwise I can get some easily.

Is one of you interested to test? I should be able to give you access to the JHipster org on the public CF instance.

[2020-05-02 13:06] SudharakaP commented on #11659
@mraible : I can add this to the documentation; but I haven't experienced this issue myself. Could you by any chance provide me a relevant link that I could refer to in the documentation?

[2020-05-02 13:25] SudharakaP commented on #11659
@mraible : I've added a tip to the docs. Let me know if it needs any change. I couldn't find a link where this happens on Linux machines. Seems like it happens only on Windows and Macs. :thinking:

[2020-05-02 13:44] mraible commented on #11659
@SudharakaP Do you have a link to the PR that updates the docs?

[2020-05-02 18:55] #11544 closed

[2020-05-02 20:08] murdos opened #11689 "Testcontainers for SQL databases: R2DBC support"
##### **Overview of the feature request**

https://github.com/jhipster/generator-jhipster/pull/11584 has added Testcontainers for SQL databases, but it's missing support for reactive apps.

##### **Motivation for or Use Case**

Feature parity for reactive/non reactive applications

[2020-05-02 20:24] mraible commented on #11659
Nevermind, I found it at https://github.com/jhipster/jhipster.github.io/pull/955.

[2020-05-02 23:11] mraible opened #11690 "Upgrade Vue dependencies to latest versions"
This is a proxy issue for https://github.com/jhipster/jhipster-vuejs/issues/600 so I can assign a bug bounty to it.

[2020-05-02 23:47] #11677 closed

[2020-05-03 08:24] jkransen opened #11691 "Neo4J: Cyclic OneToMany adds an incorrect ManyToOne"
##### **Overview of the issue**

Neo4J generation
Cyclic Relationship to entity itself results in second, incorrect property.

##### **Motivation for or Use Case**

I want a Person to have friends as a collection of type Person.

##### **Reproduce the error**

    entity Person {
       name: String
    }

    relationship OneToMany {
       Person{friends} to Person
    }

Generate application ba

[2020-05-03 08:39] atomfrede commented on #11691
Thanks @jkransen for reporting this and being brave using the neo4j support. Just to make sure, the generated entity contains both the `Set<Person>` and the backreference to `Person`? Indeed that looks like a bug as it should not be needed with neo. I will try to have look.

[2020-05-03 08:43] jkransen commented on #11691
Hi Frederik, indeed I want to give Neo4J a try. At least I can learn something about it along the way. I will be glad to give more feedback knowing that it will be picked up. Maybe a few small steps on the road to get rid of that beta tag :-)

[2020-05-03 17:13] #11659 closed

[2020-05-03 20:48] atomfrede commented on #11690
The PR is here: https://github.com/jhipster/jhipster-vuejs/pull/602

[2020-05-04 04:55] atomfrede opened #11693 "Support neo4j in heroku subgen"
##### **Overview of the feature request**

I learnt heroku as neo4j plugin which is free for basic, small usage. To showcase neo4j and jhipster capabilities it would be nice to have that in the heroku subgen like we have psql support.

https://stackoverflow.com/q/61559380/2151471

https://elements.heroku.com/addons/graphenedb

-   [x] Checking this box is mandatory (this is just to show you read e

[2020-05-04 08:55] monxxi commented on #11575
here the related issue on the blueprint vuejs
jhipster/jhipster-vuejs#599

I've created the PR (https://github.com/jhipster/jhipster-vuejs/pull/603), but if someone can review it and give me some feedback, they will be welcome

[2020-05-04 11:43] atomfrede commented on #11693
Going to work on in.

[2020-05-04 12:04] pascalgrimaud commented on #11575
@monxxi : thanks, I'll review the PR on Vue.js blueprint soon

[2020-05-04 15:07] #11690 closed

[2020-05-04 15:59] pascalgrimaud commented on #11673
I had a look at https://hub.docker.com/r/strm/dnsmasq/ and indeed, it could be a solution.
But not sure it will work well for users with Windows.

Then, after thinking more about this feature request, I don't think we will change something in our main generator-jhipster as the change is trivial and can be done in less than 30sec.

Adding a new option would be overkill, and we'll have to do the sam

[2020-05-04 15:59] #11673 closed

[2020-05-04 16:57] atomfrede opened #11695 "Support redis in heroku subgen"
##### **Overview of the feature request**

Heroku as a redis service. If I am not mistaken we don't support that addon in the heroku subgen. I think we should

* https://elements.heroku.com/addons/heroku-redis

##### **Related issues or PR**

* https://github.com/jhipster/generator-jhipster/issues/11693

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-05-04 17:02] #11561 closed

[2020-05-04 17:03] atomfrede opened #11696 "Support memcache with heroku subgen"
##### **Overview of the feature request**

Heroku has multiple memcache addons, which both provide a free plan for evaluation. I think we should support one of them in the heroku subgen.

* https://elements.heroku.com/addons/memcachier
* https://elements.heroku.com/addons/memcachedcloud

##### **Related issues or PR**

* https://github.com/jhipster/generator-jhipster/issues/11693
* https://github.

[2020-05-04 17:43] mraible opened #11698 "Support Okta with Heroku sub-gen"
##### **Overview of the feature request**

Okta has a Heroku add-on. If OIDC authentication is used, we should prompt to add Okta.

##### **Motivation for or Use Case**

This will allow OIDC to be more widely used and make apps more portable.

@dogeared Wrote our Okta add-on so he's a good resource if help is needed.

-   [X] Checking this box is mandatory (this is just to show you read everything

[2020-05-04 17:56] atomfrede commented on #11698
Seems we miss a lot stuff from heroku. Would like to work on them. Finally a good opportunity to try out octa!

[2020-05-04 18:51] mmuruev commented on #11673
It will work for Windows... DNS makes no difference, at least I've heard no complain about it.

[2020-05-04 21:02] #11693 closed

[2020-05-04 21:39] atomfrede commented on #11695
To use the redis addon we must

* decrease the pool sizes for redis (as the free plan only allows 20 connection)
* parse the `REDIS_URL` as it has the form `redis://[:PASSWORD@]HOST[:PORT]` and just setting this as adress seem not to work. Getting `nauthorized: javax.cache.CacheException: org.redisson.client.RedisAuthRequiredException: NOAUTH Authentication required`

[2020-05-05 00:29] fuzheng1998 opened #11702 "why always cannot find git-commit-id-plugin?"
when generating new project, I found git-commit-plugin is always ignored, in IDEA saying `cannot find declaration to go`.
<img width="625" alt="Screen Shot 2020-05-05 at 08 23 53" src="https://user-images.githubusercontent.com/24203166/81025617-c2615f80-8ea9-11ea-864e-efa0148fbfdd.png">

- maven version 3.6
- open-jdk 11
- maven repo Aliyun mirror
NOTE: if changing to maven repo, saying cannot tra

[2020-05-05 03:19] vw98075 opened #11703 "required a bean of type 'org.springframework.web.client.RestTemplate' that could not be found"
##### **Overview of the issue**

##### **Motivation for or Use Case**

In a gateway app, there is a runtime error during its startup.

[code]
##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

6.8.0 with Vue blueprint

##### **JHipster configuration**
[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhi

[2020-05-05 04:05] mraible opened #11704 "DeprecationWarning about uuidv4"
##### **Overview of the issue**

Create a new project with the current `master` branch results in a DeprecationWarning:

[code]

##### **Motivation for or Use Case**

We shouldn't scare users with a warning like this when they first start using JHipster.

##### **Reproduce the error**

`npm link` from the master branch and then create a new app.

[2020-05-05 04:07] SudharakaP commented on #11703
This is already fixed in https://github.com/jhipster/generator-jhipster/issues/11551. You will see this fix in version 6.9.0. Therefore I am closing this. :smile:

[2020-05-05 04:07] #11703 closed

[2020-05-05 04:35] mraible commented on #11641
@maheshjadhav007 Can you give step-by-step instructions to reproduce the problem? I'm sorry, I've never used UAA so I'm not sure how to run everything. Instructions should be something like:

[code]

Then steps to reproduce your issue, for example, running `npm run e2e` in the Gateway project.

[2020-05-05 07:50] #11704 closed

[2020-05-05 08:59] pascalgrimaud commented on #10641
Following this: https://github.com/jhipster/generator-jhipster/pull/11645
I think it can be closed

cc @murdos : if you think it should be reopened, just tell me

[2020-05-05 08:59] #10641 closed

[2020-05-05 09:45] pascalgrimaud commented on #11480
@mshima : I'm adding a bounty on this as it is a very nice feature

[2020-05-05 09:48] murdos commented on #10641
That's fine, you're right 😉
In V7 we'll just need to remove the `--prettier-java` option, but it will be easy.

[2020-05-05 09:53] #9822 closed

[2020-05-05 09:57] pascalgrimaud commented on #11695
It's ok, but the properties should be in application.yml, so probably some changes to do in jhipster lib, if I'm correct

It means:
- add new properties in jhipster lib
- do the change for useSingleServer and maybe cluster too
- let the default value in application.yml for dev/prod locally
- override the value in application-heroku.yml with the ones you suggest

What do you think ?

[2020-05-05 09:59] pascalgrimaud commented on #11702
Sorry but it's related to your maven configuration, not a JHipster issue.
We can't help you to configure your environment here

[2020-05-05 09:59] #11702 closed

[2020-05-05 10:02] pascalgrimaud commented on #11641
It's not the first time someone report a problem with embedded Elasticsearch.
Maybe it's time to switch definitively to the docker-compose Elasticsearch in dev too.

[2020-05-05 10:17] atomfrede commented on #11695
Exactly my plan. The main part is adding the properties to the jhipster lib.

[2020-05-05 15:03] pascalgrimaud commented on #11544
I'm adding a bounty on this, although the job is done, because it was a lot of work, and a very great feature for our next release.

plz claim it @ecostanzi

[2020-05-05 17:33] #11575 closed

[2020-05-05 19:01] mraible opened #11711 "Deprecation warning when deploying to CloudFoundry"
##### **Overview of the issue**

When deploying to CloudFoundry, there's a deprecation warning:

[code]

##### **Motivation for or Use Case**

Deploying to Cloud Foundry should work without errors.

##### **Reproduce the error**

Create an app with PostgreSQL and deploy to Cloud Foundry using `heroku cloudfoundry`.

My `.yo-rc.json`:

[code]

The generated `manifest.yml`:

[code]

[2020-05-05 19:12] atomfrede commented on #11696
As with the redis support we miss a common way to provide authentication when using memcached. I will add those properties to the common jhipster properties such that the heroku subgen can overwrite them and setup the memcached client with correct credentials

[2020-05-05 19:14] atomfrede commented on #11711
Is it somehow related to https://github.com/jhipster/generator-jhipster/issues/11685 ? I guess cloudfoundry is not maintained well right now.

[2020-05-05 20:11] portajuan08 opened #11713 "Use jhipster in domain instead of IP:PORT"
Hello,

I rented a domain and a server to host my jhipster application in java and I don't know how to make my application instead of using the ip: port, use my domain.

Can you help me?

Thank you.
Cheers,

[2020-05-05 20:15] atomfrede commented on #11713
This is not a jhipster specific issue. In short you need a server with java on it and some kind of reverse proxy in front of it, but this is nothing for our issue tracker. Sorry we can't help you with that.

This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http:/

[2020-05-05 20:15] #11713 closed

[2020-05-05 21:13] DanielFran commented on #11136
@juliensadaoui Are you working on it?

[2020-05-05 21:49] atomfrede opened #11714 "Frontend is not available (behind a reverse proxy, e.g. via heroku)"
##### **Overview of the issue**

The newly introduced caching configuration makes the frontend not delivered when deployed on heroku (but I guess it a more general problem).

##### **Motivation for or Use Case**

It should just work.

##### **Reproduce the error**

Generate an application (from latest master) and deploy it to heroku. You will see the failure pacman. If you disable or remove the ne

[2020-05-05 22:16] #11480 closed

[2020-05-05 22:25] pascalgrimaud commented on #11714
need to investigate, as it works with default packaging in local
but it's broken behind a reverse proxy ?

cc @monxxi

[2020-05-05 22:52] atomfrede commented on #11714
@pascalgrimaud I guess it is something like this. Good to know it works locally (didn't test, but I thought would have been noticed). We should fix that before the release :pray:

[2020-05-06 05:33] banothurameshnaik commented on #9107
Facing same issue with Docker image `node:12.4.0-alpine`

[code]

Can someone help me out.

[2020-05-06 08:37] atomfrede commented on #11714
First I thought it might be related to the cache key PR, but the e2e tests can't find the frontend too, might that be related to this one?

![image](https://user-images.githubusercontent.com/203401/81155635-7257cb00-8f85-11ea-9dce-e2c59c832f0f.png)

[2020-05-06 10:06] pascalgrimaud commented on #11714
thanks @atomfrede
as JDLMS failed, it means it should be easy to reproduce the problem locally

[2020-05-06 11:58] ecostanzi commented on #11544
bounty claimed: https://opencollective.com/generator-jhipster/expenses/17667/ thank you very much @pascalgrimaud !

[2020-05-06 12:09] pascalgrimaud commented on #11714
I'm working on this with @monxxi this morning
we should have a fix for that very soon

[2020-05-06 12:11] ecostanzi commented on #11689
Hi, last week I  created a [branch](https://github.com/ecostanzi/generator-jhipster/tree/r2dbc-sql-testcontainers) and started working on this.
[code]

The integration with testcontainers seems to be fine, but the main problem is that liquibase doesn't provide reactive support (see https://github.com/spring-projects/spring-data-r2dbc/issues/324). I'm not sure this can be done only using properties

[2020-05-06 12:25] murdos commented on #11689
@ecostanzi : have you tried to override the liquibase datasource with testcontainers from https://github.com/jhipster/generator-jhipster/blob/ccb3ea6340204eb1e3ba9aa01d49fc2d4f23518e/generators/server/templates/src/test/resources/config/application.yml.ejs#L135 in `application-testcontainers.yml`?

[2020-05-06 12:26] atomfrede commented on #11714
@pascalgrimaud Awesome, thanks!

[2020-05-06 12:51] ecostanzi commented on #11689
I think that `spring.liquibase.url` has to be set dynamically before all testst start. By default testcontainers spins up the container on a random port so I cannot hardcode the url in the application-testcontainers.yml.

The code below works, but only for a single test and it doesn't use the `application-testcontainers.yml`. I'm wondering if I can set the dynamic properties once for all tests.

[

[2020-05-06 13:19] maheshjadhav007 commented on #11641
Hi @mraible ,

Thanks for your reply.

Please find the below steps to reproduce the issue.
There is no need to run docker coomand. You can run below application locally.
1. Start Eureka Server. Use **mvnw** command from eureka directory if you are using windows OS, else use "./mvnw"
you can download Eureka Server from below github link
https://github.com/jhipster/jhipster-registry

2. Start AuthSe

[2020-05-06 13:53] #11714 closed

[2020-05-06 14:23] atomfrede commented on #11714
Just checked it with heroku and it works fine, thanks @pascalgrimaud & @monxxi

[2020-05-07 08:23] amanganiello90 opened #11723 "Enhancement suggestions for nodejs blueprint"
This is a proxy issue for jhipster/generator-jhipster-nodejs#136 so @mraible can assign a bug bounty to it.

[2020-05-07 11:44] geyuqiu commented on #7590
@deepu105 @karthilxg
`npm start` does solve this for separated constellation (react/, spring-boot/).
But I am curious if wepback build will work, because server code and client code (with `--skip-client` and `--skip-server`) locates in different directories. I remember I have to write a script to copy `react/target/class/static` to `spring-boot/target/class` and `react/target/cache-loader` to `spr

[2020-05-07 16:07] mraible commented on #11723
@amanganiello90 I was able to add a bug bounty to the original issue, so I'm not sure this is needed. Can you help @pascalgrimaud?