[2020-10-12 19:58] ascelineboullen commented on #12487
Thank you everybody! _I claimed the bounty (https://opencollective.com/generator-jhipster/expenses/26282) for this issue (cc @pascalgrimaud @deepu105 @jdubois), with this PR https://github.com/jhipster/jhipster-artwork/pull/14 https://github.com/jhipster/jhipster-artwork/pull/13 https://github.com/jhipster/jhipster-artwork/pull/12 https://github.com/jhipster/jhipster-artwork/pull/11 https://github

[2020-10-12 20:15] pascalgrimaud commented on #12487
@ascelineboullen : approved ! thanks a lot, really nice work !

[2020-10-12 20:57] mshima commented on #11896
@pascalgrimaud commander 7 is planned for January, so we have 2 options for jhipster 7:
- bundle a commander 7 snapshot with jhipster (just 1 file).
- postpone `allowUnknownOption` to jhipster 8.

[2020-10-12 21:05] pascalgrimaud commented on #11896
Honestly, I don't know. Maybe we can give a try to snapshot.
What's your advice on this ?

Le lun. 12 oct. 2020 à 22:57, Marcelo Shima <notifications@github.com> a
écrit :

[2020-10-12 21:06] PierreBesson commented on #12649
Thanks for reporting this bug. If I understand correctly, you are setting the context-path property and the swagger-ui gets broken in this case. I believe this is something that we could support for advanced use cases. However, let's be careful with this as we have to support other use cases such as microservices and access from the JHipster Control Center... Give me a couple of days to try to rep

[2020-10-12 21:18] mshima commented on #11896
I think we should do it.

[2020-10-13 06:46] pascalgrimaud commented on #11896
I'm trusting you, so let's follow your advice

[2020-10-13 07:30] atomfrede commented on #12640
As https://github.com/jhipster/generator-jhipster/pull/12688 is merged I think this can be closed. regarding the bounty, I will donate parts of that to

* [DKMS](https://www.dkms.de/en)
* Wikimedia
* [Mozilla](https://foundation.mozilla.org/en)

[2020-10-13 07:30] #12640 closed

[2020-10-13 09:42] #12730 closed

[2020-10-13 13:27] yuniel-acosta commented on #12148
Yes

[2020-10-13 16:18] MathieuAA commented on #12685
Can you provide an example? I don't get what's the issue here. Thanks

[2020-10-13 18:35] #12148 closed

[2020-10-13 21:28] mshima commented on #12712
I will be working on this.

[2020-10-14 02:01] mraible commented on #12072
@joewhite101 I don't think we need to worry about backwards compatibility for WebFlux. We've indicated that it was beta. Let's make it ready for prime time!

[2020-10-14 02:02] mraible commented on #12649
Who uses context paths in 2020? :trollface:

[2020-10-14 02:03] mraible commented on #11896
Added bug bounty for your help @mshima.

[2020-10-14 04:38] Falydoor opened #12740 "User with a login of "." or ".." can't be edited"
##### **Overview of the issue**

After creating a User with a login of "." or "..", it is impossible to update/delete it.

##### **Motivation for or Use Case**

It should be possible to update/delete a user after created it.

##### **Reproduce the error**

Create a user with a login of "." or ".." and then try to update/delete it.

##### **Related issues**

##### **Suggest a Fix**

This is probabl

[2020-10-14 06:07] #12574 closed

[2020-10-14 07:26] joewhite101 commented on #12072
The challenge is that it impacts backwards compatibility for the generator as a whole because we have to update the version in the underlying jhipster-dependencies. That is basically these two PRs (closed):

jhipster/jhipster#874
#12709

[2020-10-14 08:53] niutouJust commented on #12649
🤣

[2020-10-14 09:43] nicolas63 commented on #12487
@ascelineboullen your work is very awesome! I'm interesting if you have any ideas for the dotnetcore blueprint (https://github.com/jhipster/jhipster-dotnetcore)

[2020-10-14 10:16] mshima opened #12746 "Implement dependabot automerge."
##### **Overview of the feature request**

Implement a dependabot auto merge workflow for package.json.
Dependabot 2 does not support auto merge and there is no plans to do so.
The reason for no auto merge is to force the user to validate the release before updating to it.
With that in mind I want to discuss if we should create auto merge workflow..

The workflow would be based on the idea of http

[2020-10-14 10:25] #12366 closed

[2020-10-14 13:31] mshima opened #12747 "Add support to npm 7."
##### **Overview of the issue**

JHipster fails with NPM 7 due to peerDependencies.

##### **Motivation for or Use Case**

NPM 7 was released and we should keep compatibility with latest stable version.

NPM 7 installs and verifies peer dependencies by default, this feature reduces execution/runtime conflicts between dependencies.

##### **Reproduce the error**

`npm i -g npm@7.0.0`

`jhipster --d

[2020-10-14 16:28] amanganiello90 commented on #12685
Ok. For example I have this jdl:

``
enum Country {
  BELGIUM (MyBelgium),
  FRANCE (MyFrance),
  ITALY (MyItaly)
}

Person {
  name String,
  contry Country
}
``
Now jhipster generates the entity domain class in this way:

``
@Entity
@Table(name = "jhi_person")
public class Person  implements Serializable {

.....
@Enumerated(EnumType.STRING)
private Country country;
.....

``

The Enumerated ann

[2020-10-14 20:01] AlexandreCassagne commented on #10916
I believe the issue is related to the readiness probes. Let's revisit this when the Spring Boot 2.3. release of JHipster is published.

[2020-10-15 12:17] ErikLundJensen opened #12758 "Make Eureka and Ribbon optional when deploying to Kubernetes"
##### **Overview of the feature request**

The Netflix OSS stack (Eureka, Ribbon and Registry) are obsolete and replaced by technologies as Kubernetes and service mesh.
Change JHipster to allow deployment without Eureka client and Eureka Server.

##### **Motivation for or Use Case**

Running Eureka server at Kubernetes is an extra layer of indirection as Kubernetes already supports load balancing

[2020-10-15 12:39] pascalgrimaud commented on #12758
Hello @ErikLundJensen : I don't understand well your need. We have the option "no service discovery". Is it not enough ?

![no_service_discovery](https://user-images.githubusercontent.com/9156882/96125898-422d3480-0ef4-11eb-8d7f-1ba915e870d9.png)

[2020-10-15 13:12] ErikLundJensen commented on #12758
OK, I was migrating an existing JHipster application.
I'll try to regenerate with "no service discovery" and see how it goes.

[2020-10-15 13:38] ascelineboullen commented on #12487
Thank you @nicolas63 ! 😄
I will think about it for the next Illustation

[2020-10-15 15:35] PierreBesson commented on #12758
@ErikLundJensen  Please add the proper information in your bug report, as such our **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new tick

[2020-10-15 16:08] MathieuAA commented on #12685
I thought this was already the case, WDYT @mshima?

[2020-10-15 16:37] DanielFran commented on #12685
This is probably because the changes for enums are only available on master, so not yet available for the bluprint

[2020-10-15 16:43] amanganiello90 commented on #12685
You regards this [template](https://github.com/jhipster/generator-jhipster/blob/main/generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs) committed on the main branch and not on the last 6.10.3 release?

[2020-10-15 16:45] mshima commented on #12685
I have mixed feelings about this.
If I had to take a position would be that it adds complexity to templates and adds an additional file for something that will be rarely used.
- I personally don't think this useful since we are using the enum value as label, and doesn't make sense to me have it as db value.
- I prefer hexagonal approach: create a separated PO that maps to the enum value. Related t

[2020-10-15 18:53] mshima commented on #12747
@pascalgrimaud @vishal423 eslint-config-jhipster has peer dependencies problems.
I am wondering if it's worth to keep as a package instead of a shared file?

[2020-10-15 18:59] pascalgrimaud commented on #12747
I'm in favor of a shared file, if it's possible

[2020-10-15 19:53] mshima opened #12764 "Drop tslint in favor of eslint."
##### **Overview of the feature request**

Migrate to eslint.

##### **Motivation for or Use Case**

[code]

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-10-16 03:33] Blackdread commented on #12685
Just my opinion, I never liked this approach.
If use Converter then might need to use JsonSerializer/etc, you just bring yourself more trouble.

[2020-10-16 05:19] pascalgrimaud commented on #12764
The work has started for Vue.js by @atomfrede here: https://github.com/jhipster/jhipster-vuejs/pull/601 but was not finished.

About the other front, I think it's already done but I'm not sure

[2020-10-16 05:22] pascalgrimaud commented on #12685
If I had to take a position would be that it adds complexity to templates and adds an additional file for something that will be rarely used

Agree with @mshima : not sure it will be used a lot

[2020-10-16 05:47] pascalgrimaud commented on #12746
dependabot already helps us a lot, by upgrading some dependencies
It doesn't consume too much time to check quickly what's changed before merging it.

Then, I prefer to manually check if there is a major version

So to resume my idea:
- auto merge: patch, minor
- manual merge: major

But not sure it's worth to do this. I suggest to spend time on other stuff :)

[2020-10-16 05:49] atomfrede commented on #12764
I try to integrate the changes in the main generator this weekend. I am pretty sure for angular it is done already not sure about react though.

[2020-10-16 07:29] gmarziou commented on #12685
In a recent project, I preferred to map java enums to [Postgresql enums](https://www.postgresql.org/docs/current/datatype-enum.html) and I added an integration test to validate that both sides are sync'ed.

[2020-10-16 09:43] mshima commented on #12764
@pascalgrimaud @atomfrede every framework still depends on tslint.
I plan to migrate angular soon.

[2020-10-16 10:45] mshima commented on #12712
@mraible `@angular/cli@10` will not provide support for webpack@5 https://github.com/angular/angular-cli/issues/17555#issuecomment-701359679.
`@angular/cli@10` has a peer dependency on webpack@4, so it will conflict with https://github.com/jhipster/generator-jhipster/issues/12747.

At angular front, webpack@5 will happen by default with angular@11 only.
Don't have time to look at others frameworks

[2020-10-16 10:50] atomfrede commented on #12764
Good to know. So we need someone to do the react part 😁

[2020-10-16 11:01] mshima commented on #12747
@pascalgrimaud ng-jhipster is the missing part for angular. Can you do a release?

[2020-10-16 11:26] gmarziou commented on #12712
Once #10624 is complete, this would come "for free"

[2020-10-16 12:34] tillias commented on #12707
@mshima may I ask if what you want in this ticket is exactly the same I desperately need in my project?

Let's say I have following dto:

[code]
If I need full entity in front-end (and I'm using Angular) then I can do the following:

[code]
In the Back-End it work just fine (you can even introduce **HouseBaseDTO** and move all except Owner to it). But Front-End is painful like a hell!

**Waaaaay m

[2020-10-16 12:35] ErikLundJensen commented on #12758
I suggest that we close this feature request as re-generating classes with "no service discovery" can solve the problem.

[2020-10-16 12:35] #12758 closed

[2020-10-16 13:32] tillias opened #12778 "JhiEventManager multiple subscriptions"
##### **Overview of the feature request**

Hello folks, not sure how to propose small feature for https://github.com/jhipster/ng-jhipster, cause I don't see "Issues" tab there.

##### **Motivation for or Use Case**

It happens quite often, that you need to refresh some list of entities based on multiple events.

Based on my question and answer in https://stackoverflow.com/questions/64371612/jhieve

[2020-10-16 13:56] mshima commented on #12707
@tillias something like this but with reference dto:
[code]

Related to https://github.com/jhipster/generator-jhipster/issues/12374

[2020-10-16 14:07] tillias commented on #12707
Will this also include front-end entities? What is **name** in RefDTO? Which field to take if there is no **name** field in the entity?

[2020-10-16 14:13] mshima commented on #12707
@tillias updated the example.
name is the value field (label) that jhipster allows to add to each relationship, it can be missing.

[2020-10-16 14:16] mshima commented on #12707
It must include, otherwise it won't work.

[2020-10-16 14:36] tillias commented on #12707
Ok, then I don't get it how it will make life easier and we're talking about two completely different issues.

Let's say I have following component: https://github.com/tillias/microservice-catalog/blob/master/src/main/webapp/app/entities/microservice/microservice-dashboard/microservice-card/microservice-card.component.html

It receives IMicroservice entity which contains (Team, Status) custom attr

[2020-10-16 14:52] tillias opened #12779 "Change current DTO implementation alternative version"
##### **Overview of the feature request**

It would be cool having different DTO implementation. Instead if flattening just deliver ID field filled, all other fields ignored. This will greatly simplify regeneration of entities and increase overall JDL usability

##### **Motivation for or Use Case**

Let us say we have classical parent-child component structure in FE(I will use here Angular as exam

[2020-10-16 14:55] mshima commented on #12707
If you need the complete object, just change owner to use OwnerDTO instead of HouseOwnerReferenceDTO
This approach:
- Can be used with maptstruct, otherwise we should create our own mapper for each relationship.
- Safeguard for data leak.
- Api compatibility, just less data.
- Cyclic relationship safe.

JHipster should provide the full object reference for Value Objects like embedded, cascade all

[2020-10-16 14:58] tillias commented on #12707
Ok I see, so this means either support use-case when partial object is needed or use-case when full object is needed. But not both use-case simultaneously. That is indeed interesting approach, but this will still require manual adaption of all entities (both BE and FE). After this adaption you will still have to adapt UI templates as well.

[2020-10-16 15:12] mshima commented on #12779
@tillias there is no need for an alternative issue for the same discussion.
Feel free to propose a PR with your approach to close the other issue.

[2020-10-16 15:12] #12779 closed

[2020-10-16 15:13] tillias commented on #12779
I disagree, this is different issue. But cause you have more right, do whatever you like

[2020-10-16 15:22] mshima commented on #12707
https://github.com/jhipster/generator-jhipster/issues/12779 seems @valueObject(cascade) I have in an internal implementation.
- Parent needs to have reference to full Child implementation.
- Guarantee Childs are eager loaded.
- Add Cascade.ALL to the parent -> child relationship.

[2020-10-16 15:38] mshima commented on #12779
Feel free to apply for it https://www.jhipster.tech/team/.

Every jhipster developer has this problem too.

I am not saying I like or dislike, it's just duplicated, the discussion is open in the other issue.

[2020-10-16 15:41] tillias commented on #12779
Sure, no offence meant, as I mentioned before, we all have best intentions. I will probably give up with DTOs anyways and go with data layer entities.

[2020-10-16 15:42] tillias commented on #12779
I think use-cases are different. Perhaps I'll take more time next week to make a blog-post, with more examples and explanation

[2020-10-16 15:43] mshima commented on #12779
That's what I am using right now.

[2020-10-16 15:49] tillias commented on #12779
I wish there were partial classes in Java like in C# https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/partial-classes-and-methods.

This way every time you import jdl it won't overwrite custom logic.

[2020-10-16 15:52] tillias commented on #12707
Just to be on a safe side, no offence meant, I do understand and value what you're doing here guys, very much appreciated! My use-case was more related to overwriting custom logic (especially in "domain entities"). I wish there was https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/partial-classes-and-methods in Java :(

[2020-10-16 16:14] #12700 closed

[2020-10-16 19:33] pascalgrimaud commented on #12747
I was really busy today, with my day work. I'll try to do a release tomorrow

[2020-10-16 19:51] pascalgrimaud commented on #12665
this build needs to be reactivated once it's fixed:https://github.com/jhipster/generator-jhipster/pull/12777

[2020-10-16 19:52] gzsombor commented on #12707
@tillias : I don't understand, why the proposed approach works on the backend, but it's painful on the frontend? What makes the frontend so special?
 In my experience, using inheritence in the DTO objects works neatly. I have :
* IdDTO(Long id)
* NamedDTO(String name) + extends IdDTO
* HouseListDTO(couple of fields for listing) + extends NamedDTO
* HouseDetailDTO(everything with references to othe

[2020-10-16 20:15] tillias commented on #12707
@gzsombor proposed approach doesn't work neither in BE nor in FE. Sorry for misunderstanding, I'll blogpost about it next week

[2020-10-16 20:27] mshima commented on #12665
@SudharakaP are you working on this?

[2020-10-16 20:28] SudharakaP commented on #12665
@mshima : I am, and was trying different things; but kinda out of ideas right now. 😢

[2020-10-17 06:08] vishal423 commented on #12747
The purpose of `eslint-config-jhipster` package was to provide shared configurations for generated applications (not for maintainability in the generator itself). In most enterprises, you typically want to follow certain design guidelines and would like each project to align with that. Those shared configurations were extensible, which means you can override those to create new or even override in

[2020-10-17 06:11] vishal423 commented on #12764
If I remember correctly, last time the migration was done for `angular` and `react`. Though, `angular` code still has dependencies on `tslint` as the angular specific rules were not migrated to eslint by that time. If that transition path is available on angular, then, we can go ahead and migrate those rules to eslint and can remove the `tslint` dependencies

[2020-10-17 11:06] salimAbdulIt commented on #11681
is it actually done? Because I am trying to upgrade the monolith application and after updating, I have Spring boot 2.2.7. I use Jhipster 6.10.3. Am I missing something?

[2020-10-17 11:20] murdos commented on #11681
@salimAbdulIt : it's not released yet, it will be embedded in next major release (7)

[2020-10-17 11:24] nicolas63 commented on #11935
done for :
    https://github.com/jhipster/jhipster-dotnetcore
    https://github.com/jhipster/jhipster-net
    https://github.com/jhipster/jhipster-sample-app-dotnetcore

this repository is deprecated
    https://github.com/jhipster/jhipster-net-sample-app-template

[2020-10-17 16:52] qmonmert commented on #12715
PR on react-jhipster https://github.com/jhipster/react-jhipster/pull/58

[2020-10-17 17:07] #12715 closed

[2020-10-18 08:54] pascalgrimaud commented on #12747
THanks for the information @vishal423
I archived https://github.com/jhipster/eslint-config-jhipster
It will be easier for us, as it was not maintained since more than 1 year

[2020-10-18 09:01] pascalgrimaud commented on #12747
@mshima : release of ng-jhipster done
- https://www.npmjs.com/package/ng-jhipster
- https://github.com/jhipster/ng-jhipster/releases/tag/v0.16.0

[2020-10-18 10:20] pascalgrimaud opened #12784 "React and OAuth2: bug with relationship to user"
##### **Overview of the issue**

When saving an entity which has relationship to user, and letting user empty, it failed

##### **Motivation for or Use Case**

we should be able to save entity without user

##### **Reproduce the error**

- generate an app with React + OAuth2
- add entity with relationship to user
- start app
- save an entity with empty user

##### **Related issues**

Related to ht

[2020-10-18 10:25] pascalgrimaud commented on #12778
you are at the right place @tillias

[2020-10-18 10:29] pascalgrimaud commented on #12072
I was waiting this ticket to be fixed before doing a new release of generator-jhipster v6.10.4
Should I go ahead and do a patch release without this fix ?

Later, once it's fixed, I can do another patch release if needed

[2020-10-18 11:19] ctamisier commented on #11740
Sure ! but @DanielFran might go faster than me :)

[2020-10-18 11:29] pascalgrimaud commented on #11740
it looks like the 8.0.22 is available : https://search.maven.org/artifact/mysql/mysql-connector-java/8.0.22/jar

[2020-10-18 12:02] joewhite101 commented on #12072
I think we just need a call on the desired outcome.

Breaking swagger for reactive I think is the best choice. Just need a review and merge on this PR.
https://github.com/jhipster/generator-jhipster/pull/12716

Reactive is totally broken on 6.10 anyway. Doesn't boot at all (see 2 tickets attached). Might was well restore the ability to boot the app with some reduce functionality.

Then if we want

[2020-10-18 12:06] mshima commented on #12665
An update.
I have tracked down the issue. And a fix is in the works.
- This problem happens with cypress + oauth2 + applications running inside docker, not only microservice.
- Our current tests doesn't uses applications inside docker.

Without application inside docker, keycloak is reached by localhost:9080 everywhere.

With docker:
- keycloak needs to be reached by `keycload:9080`. So:
1 - we ne

[2020-10-18 12:40] mshima commented on #12747
Thanks @pascalgrimaud

[2020-10-18 12:56] DanielFran commented on #11740
Sorry, but I had a cirurgy yesterday so I will be out few weeks...

[2020-10-18 14:14] pascalgrimaud commented on #12072
Yes, I was waiting reviews from Webflux experts for #12716 too.
But note that Webflux is still in beta, so for me, it's normal that some configs are still broken or don't work with Spring Boot 2.2

So until it's decided to merge it or do some change to this PR, I'm doing v6.10.4 for these 2 importants tickets:
- https://github.com/jhipster/generator-jhipster/pull/12664
- https://github.com/jhipste

[2020-10-18 14:29] pascalgrimaud commented on #12695
Closing this as license was added to all sample projects

[2020-10-18 14:29] #12695 closed

[2020-10-18 16:33] #12784 closed

[2020-10-18 16:37] pascalgrimaud commented on #11935
I forgot Azure Pipelines, so I just configure it to point to main branch instead of master, for these projects:
- generator-jhipster
- jhipster
It means all recent PRs don't have Azure Pipelines -> cc @mshima

All other projects should use GitHub Actions instead of Azure Pipelines.
If someone needs to configure Azure Pipelines for one of these projects, don't hesitate to ping me.

[2020-10-18 16:52] mshima commented on #11740
@DanielFran best wishes.

[2020-10-18 16:54] pascalgrimaud commented on #11740
@DanielFran : no worry about JHipster, take care of yourself, it's more important my friend !

[2020-10-18 17:03] pascalgrimaud commented on #12784
Good, it's fixed in main branch. Thanks a lot @qmonmert ! Don't forget to claim your bounty

[2020-10-18 17:08] pascalgrimaud commented on #11740
@ctamisier : I just tested with 8.0.22 and it is finally fixed !!!
As you are the one who did the most of work here (analyzed the bug, opened ticket, followed release, etc), can you propose a pull request at https://github.com/jhipster/jhipster to upgrade this plz ? Then, the bounty will be for you !

[code]

[2020-10-18 17:10] qmonmert commented on #12784
I claim my money :) @pascalgrimaud https://opencollective.com/generator-jhipster/expenses/26558

[2020-10-18 17:12] pascalgrimaud commented on #12784
@qmonmert : approved

[2020-10-18 17:20] mshima commented on #12764
I was wrong react doesn't depends on tslint.
Vue and angular are missing.
- angular: https://github.com/angular-eslint/angular-eslint#migrating-from-codelyzer-and-tslint

[2020-10-18 17:23] pascalgrimaud commented on #7112
@yelhouti : I'm increasing the bounty as I'm pretty sure it's a lot of work.
And it will be a nice feature to have for v7

[2020-10-18 17:28] pascalgrimaud commented on #11025
`rel_` sounds good to me

[2020-10-18 17:29] mshima commented on #7112
@yelhouti I have a branch implementing configurable single key.
https://github.com/mshima/generator-jhipster/tree/skip_ci_id.

The missing feature is to allow to change id field name.

[2020-10-18 17:31] pascalgrimaud commented on #7112
@mshima : seriously, I'd like to know how you do to find so much time to bring all these features so quickly ?

[2020-10-18 17:38] yelhouti commented on #7112
@pascalgrimaud thanks a lot.
@mshima please dont merge that, I'm working on a big PR I can push the code to my repo so you can see the latest version, I would really appreciate your help on that

[2020-10-18 17:38] mshima commented on #7112
@pascalgrimaud I find it easier to change here than in all entities from my project.
I have many more changes in my internal branch, but they are not suitable for main inclusion or needs many more work to propose to implement here.
Structural changes like this needs to be implemented upstream otherwise there will be too many conflicts.

[2020-10-18 17:39] mshima commented on #7112
@yelhouti you should rebase against https://github.com/jhipster/generator-jhipster/pull/12703 at least.

[2020-10-18 17:46] yelhouti commented on #7112
I'd rather not for the moment, I have simit code (sharedEntities) to allow accing one from another for relationships...
I'm also cleaning the code for dtos... so the order of fields make more sense when the relationship is (part of) the id.

[2020-10-18 17:51] ctamisier commented on #11740
take care @DanielFran !
Yes I'll submit a PR. Thx.

[2020-10-18 18:06] mshima commented on #7112
I think what you are talking about is already implemented in main branch.
https://github.com/jhipster/generator-jhipster/blob/2a54b065fa53b24ab27168a5571cb2a5ee9b3c6a/generators/entity/index.js#L487-L490

So `relationship.otherEntity` is the other entity that you are probably talking about.
https://github.com/jhipster/generator-jhipster/pull/12703 makes sure `otherEntity` is available even when ex

[2020-10-18 18:17] yelhouti commented on #7112
@mshima I think avoiding flattening in DTO is a really good idea, however I wouldn't use a static inner Class, I would just reference another DTO, and in the mapper make sure to only fill the wanted fields (using `@Named`).

[2020-10-18 18:24] mshima commented on #7112
My example was with inner class because:
- it a data leak safeguard
- each relationship can have a different field as value so cannot be 1 keyValue DTO.

But stop flattening is good enough IMO.
I don't know how `@Named` works.

[2020-10-18 19:17] #11740 closed

[2020-10-19 09:45] yelhouti commented on #7112
Here an example of @Named:
[code]

[code]

[2020-10-19 09:47] yelhouti commented on #7112
@mshima I will implement this two if no one minds

[2020-10-19 10:27] mshima commented on #7112
If you are talking about DTO, go for it.

[2020-10-19 14:28] SudharakaP commented on #12665
@mshima : Thanks a lot for the detailed analysis. Seems like the daily builds are fixed. 👍🏼

[2020-10-19 14:44] Abd-ksr opened #12796 "How to Disable JhiAlertService from using TranslateService to translate message"
We have scenario where backend api sends custom error message, that has to be show in "jhi-alert-error". To do this, i have to skip TranslateService, How do i achieve this?

[code]

My .yo-rc.json details
[code]

[2020-10-19 14:44] mshima commented on #11935
Same for me for https://github.com/jhipster/generator-jhipster-jooq

[2020-10-19 14:46] mshima commented on #9486
@pascalgrimaud who has admin rights to jhipster's npm organization?
Someone needs to create generator-jhipster-jooq package in npm and a me as uploader.

[2020-10-19 14:48] pascalgrimaud commented on #11935
@JasonTypesCodes : just added you to admin team for Micronaut projects

[2020-10-19 14:50] pascalgrimaud commented on #11935
@mshima : I created a new team jOOQ admins and added you

[2020-10-19 14:52] pascalgrimaud commented on #9486
@mshima : I can create the team at npm organization, but I need to remember how to do it. Can you give me your NPM username ? I'll try to create the team after my day work, in 2 or 3 hours

[2020-10-19 14:54] mshima commented on #9486
@pascalgrimaud mshima too.

[2020-10-19 14:55] mshima commented on #9486
@pascalgrimaud take your time, just remembering about this.

[2020-10-19 15:11] mshima commented on #11935
Done.

[2020-10-19 15:17] iroCheese commented on #8242
I'd love to do that but sadly at the moment I just don't see myself finding the time to do this properly. However this might change at some point. I'd really like to give something back to the JHipster community

[2020-10-19 21:32] #12575 closed

[2020-10-20 07:06] xantusDev opened #12799 "Jhipster gateway service API returns index page even with valid Authorization Header(Bearer token)"
My team is creating a microservice project and have successfully implemented Discovery(Jhipster Registry), API Gateway(jhipster gateway) with custom angular application and a microservice application. context path is set to both registry(/registry) and gateway application(/gateway). Authentication: JWT
CORS: Enabled default gateway cors rules in application.yml file.
[code]

Everything works fine

[2020-10-20 10:45] kaidohallik commented on #10733
In the current main branch this is not resolved. But I think current open PR #11926 will resolve this issue. So this issue can be closed after #11926 is merged.

[2020-10-20 14:08] DanielFran commented on #12465
Can someone confirm this has been fixed with #12427 and #12516 can be closed too?

[2020-10-20 14:49] ruddell commented on #12799
Just a quick guess without starting all the apps (which we would need the config to debug), but the URL for the microservice looks incorrect.  It should use `/services/` and not `/service/` ([sample app](https://github.com/jhipster/jhipster-sample-app-gateway/blob/1b3045c6058b5627d338793704f5754b7c6d8c85/src/main/webapp/app/entities/jhipsterSampleMicroservice/bank-account/bank-account.service.ts#L

[2020-10-20 18:31] xantusDev commented on #12799
@ruddell  we had identified the typo, infact that was the issue.

[2020-10-20 18:49] kaidohallik opened #12803 "Images referenced by css are not shown any more in Angular"
##### **Overview of the issue**

Images referenced in css are not shown any more. For example JHipster family member in home page and JHipster tie in navbar.

##### **Motivation for or Use Case**

Images referenced in css should be shown.

##### **Reproduce the error**

Generate Angular app with current master and start app and see that images in homepage and navbar are missing.

##### **Related i

[2020-10-20 18:51] #12799 closed

[2020-10-20 18:52] xantusDev commented on #12799
The issue is resolved

[2020-10-20 18:55] mshima commented on #12803
We should downgrade if we need this fixed, otherwise we should wait for https://github.com/jhipster/generator-jhipster/pull/10624.

[2020-10-20 19:52] kaidohallik opened #12805 "Some package.json scripts contain $npm_package_config... which causes error on execute"
##### **Overview of the issue**

Some scripts in `package.json` (Angular, Vue and React are affected) contain strings beginning with `$npm_package_config`. If running such scripts then error is thrown. For example if using command `jhipster import-jdl` in Angular then this script runs command `webpack:build` which contains string `$npm_package_config_default_environment` and command fails.

#####

[2020-10-20 20:29] mshima commented on #12805
Looks like npm variables are not portable https://stackoverflow.com/questions/43705195/how-can-i-use-variables-in-package-json.

[2020-10-20 23:05] #12803 closed

[2020-10-20 23:23] kaidohallik commented on #10858
This is not fixed. But as this is a minor bug which is not easy to fix then I think this can stay closed unless someone wants to fix this.

[2020-10-20 23:35] mshima commented on #12805
We have:
[code]

Benefits of these configs:
- Adding `:dev/:prod`, `:war:jar` to every script is too much.
- backend_port is quite interesting to have to wait the port to open for server readiness.

Solutions:
- Keep ci:* non portable and add to docs a script to convert unix variables to windows.
- Add `packaging/environment` to every ci step that is required.
- Create another solution to read con

[2020-10-21 09:20] mraible opened #12808 "`jhipster jdl` command looks at `master` instead of `main` branch"
##### **Overview of the issue**

I added a new `reactive-ms` JDL to our jdl-samples repository tonight and then tried to use it with:

[code]

It fails:

[code]

##### **Motivation for or Use Case**

This command should work.

##### **Reproduce the error**

[code]

##### **Related issues**

The recent change to use `main` as the default branch.

##### **Suggest a Fix**

Change branch name and do a

[2020-10-21 14:26] mshima commented on #12805
Another workaround is to recommend setting shell script:
`npm config set script-shell "C:\\Program Files\\Git\\bin\\bash.exe"`

References:
https://stackoverflow.com/a/58808786
https://docs.npmjs.com/misc/config#script-shell

[2020-10-21 14:37] mshima opened #12809 "[JDL] Stop setting languages as ['en', 'fr']."
##### **Overview of the feature request**

Export empty languages by default.

##### **Motivation for or Use Case**

I want jdl samples to be localized in my language.
`jhipster jdl bug-tracker.jh`.

Next step is to use os-locale to set the language or fallback to ['en'] when locale is not valid or environment `CI===true`.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhip

[2020-10-21 14:37] mshima commented on #12809
CC @MathieuAA

[2020-10-21 15:29] MathieuAA commented on #12809
How will the languages be set? If it's handled by the generator then I guess it's okay

[2020-10-21 19:13] mshima commented on #12686
Rename:
- keycloackLogout to oauth2Logout or something generic.
- keycloackLogin to oauth2Login or something generic.

[2020-10-21 19:16] kaidohallik commented on #12805
I think that at least `jhipster import-jdl` should work out of the box without any additional configuration.

[2020-10-21 19:24] mshima commented on #12805
Sure.
Variable should be allowed only at scripts with `ci:` prefix.
- `webpack:build` will call `webpack:build:dev`
- `ci:webpack:build` will call `webpack:build:$npm_package_config_default_environment`

[2020-10-21 20:13] kaidohallik opened #12813 "Remove deprecated functionality from Angular code"
##### **Overview of the feature request**

I would like to remove deprecated functionality from Angular code. As replacing `TestBed.get` with `TestBed.inject` was bigger task (without using type casting `as unknown` workaround) then I create this ticket to track different PR-s:

- [x] replace `TestBed.get` with `TestBed.inject`

 - [ ] replace other deprecated functionality

 - [ ] apply ESLint ru

[2020-10-22 07:22] amanganiello90 commented on #12685
@Blackdread the jackson mapping it is not required because the request is the same and value is parsed in all cases as a string (the converter is in the jpa repository layer).

@gmarziou I think that it is more complex to use hibernate-types or postgresql enums instead of a simple separeted converter class with generic jpa annotations already added in the microservice with sql database.

@pascalgr

[2020-10-22 07:26] amanganiello90 commented on #12668
@Toysurusse any news? I can help you? Is it a issue only for NHipster? if it is that, could you open a ticket in the related repo in order to support the process and the development? Thanks.

[2020-10-22 07:30] Blackdread commented on #12685
jackson mapping -> depends I often saw this kind of enum definition that then use the string value of the custom variable of the enum then you need the jackson serializers.
Which is why I don't like, it just brings extra trouble just to have mismatch between the ENUM name and a custom value.

[2020-10-22 07:34] amanganiello90 commented on #12685
@Blackdread  don't worry, the simple converter template for the porpuose is the following, and you don't need to use jackson serializer/deserializer:
[code]

It would be automatically genereted by jhipster, and the user should not implement anything.

[2020-10-22 09:32] sinaghazi opened #12817 "ExtendWith annotation class not imported in AccountResourceIT when using Redis cache"
##### **Overview of the issue**

On a fresh project creation with Redis cache and Okta identity provider configuration, I faced a problem in initial generation of test class of AccountResourceIT under test web rest folder.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Generate a fresh new project without any jdl. use Okta for identity and Redis as the cache. Then run ./mvnw

[2020-10-22 13:12] kaidohallik commented on #12764
@mshima I would like to handle Angular part if this ok for you.

https://github.com/angular-eslint/angular-eslint is currently in beta but they want to release 1.0.0 this year. As `tslint` is deprecated then I think it's ok to migrate to `angular-eslint` already now. I have used this beta version of `angular-eslint` and for me this is working fine.

I would like to upgrade `@typescript-eslint` fro

[2020-10-22 13:41] mshima commented on #12764
@kaidohallik sure. Just care to not conflict with angular cli PR too much. Or use that branch already.
We should merge it ASAP.

[2020-10-22 17:29] #12696 closed

[2020-10-22 18:38] clocken commented on #12649
Thanks for addressing this @PierreBesson. That's correct. However, this obviously also applies when generating a WAR file for an application server, say WildFly, and defining the context path in the `jboss-web.xml` for instance.
Regarding microservices, I don't think it would be an issue using relative paths in the client app considering that relative paths have already been used in the past - see

[2020-10-23 06:58] kaidohallik commented on #12764
#12763 dropped `eslint-config-jhipster` dependency but added common ESLint config `.eslint.common.js` for Angular and React. I would like to remove this common config also and handle ESLint in each framework separately.

Currently I'm trying to upgrade ESLint dependencies and this means this common file needs changes. It means I'm basically forced to do this upgrade in parallel for Angular and Rea

[2020-10-23 09:23] mshima commented on #12764
@kaidohallik have you tried https://github.com/typescript-eslint/tslint-to-eslint-config?
I used it working once. It creates a big rule set but I think it’s easier.

About the shared config, I just copied from the other project. It would be great to have shared rules, but not sure it’s a good idea since every client framework is different.

[2020-10-23 09:34] kaidohallik commented on #12764
Before migrating rules I want to update ESLint dependencies to benefit from latest rules.

I made #12825 to drop shared config because it's easier to maintain for us and generated code is simpler and easier to understand.

[2020-10-23 10:52] #12465 closed

[2020-10-23 11:04] #12813 closed

[2020-10-23 13:51] ThankPan opened #12827 "Package org.springframework.dao does not exist when building gateway using maven"
##### **Overview of the issue**

When I tried to build gateway application using maven, failed to compile.
The stack trace is below:
    at org.apache.maven.lifecycle.internal.MojoExecutor.execute (MojoExecutor.java:215)
    at org.apache.maven.lifecycle.internal.MojoExecutor.execute (MojoExecutor.java:156)
    at org.apache.maven.lifecycle.internal.MojoExecutor.execute (MojoExecutor.java:148)

[2020-10-23 16:38] gmarziou commented on #12827
Thanks, this is bug when there is no database.

As a quick workaround, you can edit ExceptionTranslator.java and remove the DataAccessException import and the block that uses it.

            import org.springframework.dao.DataAccessException;

            if (throwable instanceof DataAccessException) {
                return Problem.builder()

I will submit a pull request.
                    .wi

[2020-10-23 18:48] pascalgrimaud commented on #9486
really sorry for the delay, it should be good for NPM organization now, @mshima

[2020-10-23 19:10] mshima commented on #9486
@pascalgrimaud thanks.

[2020-10-24 07:58] kaidohallik commented on #12805
npm variable error is now gone, but another problem occurred on `import-jdl` process (`jhipster import-jdl entities.jdl`), `webpack:build` fails with the following error:
[code]

If running `webpack:build` manually (`npm run webpack:build`) then all is working fine.

Is `import-jdl` working on latest main branch in Linux/Mac?

[2020-10-24 08:06] pascalgrimaud commented on #12805
Yes it should work with Linux, as we have builds and daily builds, using import-jdl

[2020-10-24 08:55] pascalgrimaud commented on #11740
@ctamisier : approved your bounty https://opencollective.com/generator-jhipster/expenses/26862

[2020-10-24 09:29] kaidohallik commented on #12805
I made some debugging and found out that `this.clientPackageManager` is `undefined` in this line: https://github.com/jhipster/generator-jhipster/blob/main/generators/generator-base-private.js#L1222

[2020-10-24 09:31] pascalgrimaud commented on #12665
After few days, your PR seems the main problem.
There is still another problem, related to Registry, which doesn't start in time:

[code]

I'm fixing this last part

[2020-10-24 10:14] kaidohallik commented on #12805
<details>
<summary>this in JHipsterBasePrivateGenerator.rebuildClient()</summary>
<pre>
JHipsterBaseBlueprintGenerator {
  _events: [Object: null prototype] { error: [Function] },
  _eventsCount: 1,
  _maxListeners: undefined,
  options: {
    fromCli: true,
    localConfigOnly: true,
    sharedData: {},
    forwardErrorToEnvironment: true,
    skipInstall: false,
    'skip-install': false,
    sk

[2020-10-24 10:32] mshima commented on #12805
This happens with jdl without application.
We have to execute loadClientConfig in entities client generator

[2020-10-24 13:12] #12805 closed

[2020-10-24 18:34] pascalgrimaud commented on #9486
As the 1st release has been done https://www.npmjs.com/package/generator-jhipster-jooq
Can we close this ticket @mshima ?

Don't forget to claim your bounty @mshima : it's well deserved !

[2020-10-24 20:06] pascalgrimaud commented on #12827
fixed by https://github.com/jhipster/generator-jhipster/pull/12829

[2020-10-24 20:06] #12827 closed

[2020-10-25 02:05] funder7 opened #12837 "JDL with multiline comment not close: generating dirty code without any error"
##### **Overview of the issue**

I did a mistake by not closing a multiline comment in a app JDL entity definition, the app was generated successfuly but some fields after the missed comment closure where missing.

##### **Motivation for or Use Case**

##### **Reproduce the error**

[code]

##### **Suggest a Fix**

Maybe the multiline comment can be underlined with warning style, when it contains

[2020-10-25 08:59] pascalgrimaud commented on #12529
The PR is done, we just need to do a release of react-jhipster
It's hard for me to find time to check every part, as react-jhipster should be maintain and release by the stream lead

[2020-10-25 10:48] SoniaLahi commented on #12529
We should close this issue. I opened it to change the way the translation was done in vue, but it's currently working well.

[2020-10-25 10:49] pascalgrimaud commented on #12529
Agree we can close this.
It will really work only when react-jhipster is released

[2020-10-25 10:49] #12529 closed

[2020-10-25 12:44] mshima commented on #12837
I don't see this as a bug.
As you can see it was closed by `/** Amount to be collected  */`.
[code]
The only thing that can be done is a warning with `\**` inside another multi-line comment ` \** \** *\`.
IMO is not worth.

[2020-10-25 13:00] mshima commented on #9486
@pascalgrimaud I think we can close this.
Next steps should be done in separated issues:
- Split filtering related code from entity's Resource into FilteredResource. (Related to https://github.com/jhipster/generator-jhipster/issues/12702)
- Override filtering resource/service with another implemented with jOOQ.

[2020-10-25 13:14] ThirumlaDevi opened #12841 "Extend "build-docker-image" github action workflow to check if built docker image is broken or not"
##### **Overview of the issue**

_build-docker-image_ github workflow checks only if jhipster-dotnetcore project's docker image is getting built successfully on PR.
This is not enough to check if the docker image is broken/not.

##### **Suggest a Fix**

Need to extend _build-docker-image_  github workflow to do the following:

- Start a container using the created image.
- Run end-to-end tests acr

[2020-10-25 13:21] nicolas63 commented on #12841
@ThirumlaDevi the issue need to be open on the dotnet blueprint https://github.com/jhipster/jhipster-dotnetcore

[2020-10-25 13:51] #9486 closed

[2020-10-25 13:51] ThirumlaDevi commented on #12841
@nicolas63 Apologies. Thank you for pointing this out. I have created the issue on jhipster-dotnetcore blueprint : https://github.com/jhipster/jhipster-dotnetcore/issues/427

[2020-10-25 13:58] pascalgrimaud commented on #12837
no need warning as it can be commented ntentionaly

For me, it's like in your own code, if you forgot to close comment, your code won't be included.

Closing this as it's not a bug and nothing we can do in our side

[2020-10-25 13:58] #12837 closed

[2020-10-25 16:02] qmonmert commented on #12817
I don't reproduce ...

[2020-10-25 16:27] pascalgrimaud commented on #12817
@qmonmert : did you try with 6.10.4 instead of main ?

[2020-10-25 16:38] qmonmert commented on #12817
@pascalgrimaud indeed there is a bug on 6.10.4
[code]
ok on main brach

[code]
ko on 6.10.4

[2020-10-25 17:20] mshima opened #12844 "Add support to cascade all entities."
##### **Overview of the feature request**

Value object are really useful to keep code clean and maintainable.
This feature request proposes the implementation `@valueObject(cascade)`.
- A cascade all entity is not a real value object, because it has identity, but the implementation is related that's why IMO we should implement it as `@valueObject(cascade)`.

Once implemented we could add others v

[2020-10-25 18:31] funder7 commented on #12837
Ok, no problem, you're right. May I ask a question before opening a new issue?
I've generated a project different times, starting from the same JDL with minor changes here and there. I noticed that many Swagger annotations were not present anymore when doing another import.
I don't know how to reproduce this...any idea on why it happens?

[2020-10-25 21:15] pascalgrimaud commented on #12837
I don't understand what you mean by swagger annotation

[2020-10-26 00:27] #10539 closed

[2020-10-26 07:53] MathieuAA commented on #12837
Are the projects generated with the same JHipster version?

[2020-10-26 10:45] gmarziou commented on #10539
This is fantastic, thanks @wmarques

[2020-10-26 11:16] #12251 closed

[2020-10-26 11:31] DanielFran opened #12854 "Rename package io.github.jhipster -> tech.jhipster"
As part of V7 Roadmap, It has been required to rename package io.github.jhispter -> tech.jhipster

To do so, it has been decided to create a new project [jhipster-bom](https://github.com/jhipster/jhipster-bom) to start with a new maven dependency starting on version 1.0.0.

Old project [jhipster](https://github.com/jhipster/jhipster) will be then discontinued

[2020-10-26 15:18] pmverma commented on #12572
Ok, 2 things here.

1. I will increase the default starting value of the hibernate default sequence to 10k. I hope this will not cause any problem.

1. Having a sequence per entity. @jhipster/developers If there is no objection I will do a separate PR.

[2020-10-26 17:29] mshima opened #12856 "Prettier configuration handling."
##### **Overview of the issue**

Prettier transforms uses prettier configuration from the destination path.
Which means that if prettier config files are not yet in place, then the generated code will not be correctly prettified.

- For some reason moving some composing from writing priority to default triggers prettier configs to not be written in time for the transformer to use them.
- When rege

[2020-10-26 19:31] ctamisier opened #12858 "Moment.js should be removed from react-jhipster as well"
Moment.js dependency should be removed from https://github.com/jhipster/react-jhipster/blob/main/package.json#L43 right ? (+ from the components that use it: TextFormat)
Otherwise it is still bundled in the final javascript file ?

(cc @qlereboursBS,@atomfrede, @pascalgrimaud)

[2020-10-26 19:34] pascalgrimaud commented on #12858
yes I think

[2020-10-26 19:37] jdubois commented on #12572
The idea behind having just one sequence is that you have a unique ID for all objects. It could be handy sometimes.
Please have a look at Vlad’s posts on this, in case we are missing something.
Also this will be a breaking change, so be careful as this should go in a major release.

[2020-10-26 20:29] qmonmert commented on #12858
👍

[2020-10-26 20:38] nicolas63 opened #12859 "Invalid json in eslintrc"
##### **Overview of the issue**

the json in eslintrc.json is not valid
https://github.com/jhipster/generator-jhipster/blob/main/generators/client/templates/angular/.eslintrc.json.ejs

##### **Suggest a Fix**

I can correct the json if you are ok

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` di

[2020-10-26 21:19] mshima commented on #12859
@nicolas63 go ahead.

[2020-10-26 22:29] #12859 closed

[2020-10-27 13:42] funder7 commented on #12262
Hi, I'm making some considerations about the timezone topic and I've found this issue open, so instead of opening a new one I'd like to ask you...does make sense to set liquibase like this: `<column name="myDateTime" type="timestamp with time zone"/>` ?
This allows to store the time with timezone. The fact is that I'm lazy and I don't want to add a new column for timezone for each datetime field :

[2020-10-27 13:50] funder7 commented on #12837
@pascalgrimaud I meant these two:

`@ApiModel(description = "......")` on classes
`@ApiModelProperty(value = ".....")` on fields

They're added when you comment the jdl:

[code]

@MathieuAA yes I started with an earlier version, then did an upgrade. But to say it all, I created the project from scratch (using the same jdl - let's call it' B) and then merged the changes in my project. Some annotati

[2020-10-27 14:07] cbornet commented on #12262
No. The liquibase type `timestamp with time zone` corresponds to a time offset (+01:00, +02:00, etc...), not a zone id ("PDT, CET, etc...) which takes DST in consideration.
If you're only interested in the time offset, you can use an `OffsetDateTime` instead.

[2020-10-27 17:14] chrisdns opened #12867 "Angular: use more generic unsubcriptions mechanism"
##### **Overview of the feature request**
The principle is :
- to create a class that will do the unsubcription work
- all the components will extend this class and call the `unsubscribe()` method in the destroy hook

_example :_
[code]

##### **Motivation for or Use Case**
I propose to use the `takeUntil` operator with base class mechanism in order to provide developers a more generic (and less v

[2020-10-27 17:52] kaidohallik opened #12868 "Navigating back-forward in paginated entity sort icon doesn't change in Angular"
##### **Overview of the issue**

If clicking sorting icons in paginated entity list component or in user list component and then navigating back or forward then sorting icons doesn't reflect correctly sorting status.

##### **Motivation for or Use Case**

Sorting icons in table header should correctly reflect what is current sorting status.

##### **Reproduce the error**

* Navigate to Administrat

[2020-10-27 20:32] ruddell commented on #12729
This disconnection issue happens because only admins are allowed to subscribe, but all users try to subscribe anyway.  Spent some time on this and found a fix for that problem https://github.com/ruddell/jhipster-examples/compare/partial-ws-fix?expand=1

The empty-route issue is because we switched from a hash-based URL to one without the #, this means our [location listener no longer works](https:

[2020-10-27 21:23] nicolas63 opened #12870 "Remove hard coded path in updateLanguagesInWebpackAngular"
##### **Overview of the issue**

To allow blueprint customization we need to use `${this.CLIENT_MAIN_SRC_DIR}` here
https://github.com/jhipster/generator-jhipster/blob/main/generators/generator-base-private.js#L343

##### **Related issues**

https://github.com/jhipster/generator-jhipster/pull/12410

##### **Suggest a Fix**

I can provide a PR to fix this if you are ok

##### **JHipster Version(s)*

[2020-10-27 21:30] DanielFran commented on #12870
@nicolas63 Can you provide a PR, please?

[2020-10-27 21:38] mshima commented on #12870
@nicolas63 if you are willing to create the PR, always go for it 😄 .

To prevent others bugs like this, add
[code]
to
https://github.com/jhipster/generator-jhipster/blob/2302720eb7ed54cf114130559f715904c823af4f/test/enforcements.spec.js#L41-L49

[2020-10-27 21:40] nicolas63 commented on #12870
Thanks for your advice @mshima. I will add this test

[2020-10-27 21:44] mshima commented on #12870
@nicolas63 please add `...readDir(path.join(__dirname, '..', 'generators', 'entities-client')),` too.

[2020-10-27 22:30] kaidohallik commented on #12867
If using base class then code in final class is as minimal as possible, but drawback is that some complexity is added (additional class generated, user must notice that class is extended from the base class, user must look at base class to see what is in this class and how to use this).

If going for base class then my suggestions:
* name base class so that it's understandable from the name for wh

[2020-10-28 08:58] pascalgrimaud opened #12876 "import jdl broken"
##### **Overview of the issue**

When using import-jdl, some options are broken
Detected by https://github.com/hipster-labs/jhipster-daily-builds

As it seems related to https://github.com/jhipster/generator-jhipster/pull/12766 : can you help @mshima plz ?

##### **Motivation for or Use Case**

It should work like before

##### **Reproduce the error**

Launch these commands:

[code]

[code]

#####

[2020-10-28 10:18] DanielFran opened #12877 "Migrate Nodejs LTS v14.15.0"
The @nodejs v14 release line enters LTS today as v14.15.0. it's LTS code name is Fermium. read more about it here:

https://t.co/x6ec0L4nhx

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-10-28 11:33] DanielFran opened #12878 "Stop exporting metrics through logback/logstash and remove DropWizard metrics dependency"
As part of v7 roadmap, we should stop exporting metrics through logback/logstash, this is no longer relevant with Prometheus and deprecated JHipster Console.
This way we can also drop DropWizard metrics dependency.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-10-28 11:58] pascalgrimaud commented on #12878
cc @PierreBesson

[2020-10-28 13:15] PierreBesson commented on #12878
I confirm that this can and should be done for v7.
Moreover, the [JHipsterLoggingMetricsExportConfiguration.java](https://github.com/jhipster/jhipster/blob/main/jhipster-framework/src/main/java/io/github/jhipster/config/metric/JHipsterLoggingMetricsExportConfiguration.java) class and associated config prop (`jhipster.metrics.logs.enabled`) need to be remove from the JHipster lib as we no longer ne

[2020-10-28 13:58] DanielFran commented on #12878
Thanks @PierreBesson for the confirmation, both PR are ready in generator and jhipster-bom projects

[2020-10-28 14:38] #12878 closed

[2020-10-28 16:27] mshima commented on #12876
@pascalgrimaud I will close this issue on https://github.com/jhipster/generator-jhipster/pull/12879 since https://github.com/jhipster/generator-jhipster/issues/11896 is still open and we should track there.

[2020-10-28 16:32] #12854 closed

[2020-10-28 16:40] #12876 closed

[2020-10-28 19:25] Jessy-BAER commented on #12740
I have been able to reproduce this issue

It's a good question, does anyone have an explanation ?

I can try to work either on both solutions (use id instead of login or change the login regex)

[2020-10-28 19:28] atomfrede commented on #12740
I think changing the login regex would not be a good idea as emails (e.g. foo.bar@jhipster.tech) as login would not be allowed (which was added some time ago). I have no explanation why the login is used in the path parameter.

[2020-10-28 19:35] Jessy-BAER commented on #12740
We can change the regex to exclude single dot ?  `login=.` should not be valid.

[2020-10-28 20:29] #12870 closed

[2020-10-28 20:49] medamineziraoui opened #12887 "Update dayjs locale when changing app language"
##### **Overview of the feature request**

Currently when changing the language from application, the locale is not updated. it will keep the default locale of days. that need to change.

##### **Motivation for or Use Case**

Locale dayjs need to be updated according to the use language selection.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/issues/12575

-   [x]

[2020-10-28 20:50] medamineziraoui commented on #12887
@FabienEssid

[2020-10-28 20:53] wilsonmar opened #12888 "DevOps CI/CD pipeline for JHipster"
##### **Overview of the feature request**

Automate builds of JHipster so a change in code would build and run tests, creating environments for QA, Test, Prod.

##### **Motivation for or Use Case**

Join the fun and have a fully functional starter like JHipster.

Being in CircleCI would provide metric insights for DevOps not available with JHipster alone.

##### **Related issues or PR**

You have

[2020-10-28 21:11] pascalgrimaud commented on #12876
thanks @mshima

[2020-10-28 21:15] atomfrede commented on #12888
I am not sure what the exact issue/question/problem you try to address, but we have CI/CD subgenerator which supports already a wide range of ci solutions for your generated application. https://www.jhipster.tech/setting-up-ci/

[2020-10-28 21:15] #12888 closed

[2020-10-28 21:30] atomfrede commented on #12887
A confirm the issue for angular. It works for vue.

[2020-10-29 04:42] tillias opened #12891 "CircleCI Improvements"
##### **Overview of the feature request**

circle-ci config.yaml can be greatly simplified if using docker instead of vm:

[code]

##### **Motivation for or Use Case**

Currently build from generared config is not working anymore:
https://discuss.circleci.com/t/maven-shared-incremental-1-1-pom-connection-reset/37934

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/is

[2020-10-29 04:44] tillias commented on #12891
Hello folks, can somebody test with circle-ci on a second machine please? It seams it is completely broken. If so I can make try making PR

[code]

[2020-10-29 08:23] KevM7 commented on #12740
The login is in path (to edit, view or delete). So the regex has to exclude all forbidden characters for URL, I thnink.

[2020-10-29 10:25] medamineziraoui commented on #12887
Hello @atomfrede yes i would love to, this would be my first contribution if done successfully so definitely would not hesitate to ask if I need help.

[2020-10-29 11:45] kaidohallik commented on #12796
You can use this workaround:
[code]

[2020-10-29 13:50] kaidohallik opened #12897 "livenessState and readinessState translations are missing in health page"
##### **Overview of the issue**

In health page `livenessState` and `readinessState` are not translated, `translation-not-found` is shown:
![health-missing-translations](https://user-images.githubusercontent.com/23017435/97579984-69f3c080-19fb-11eb-8dde-0180c7007a59.png)

Angular and Vue front ends are using translations, React front end shows keys, so Angular and Vue are affected.

##### **Motiva

[2020-10-29 14:01] atomfrede commented on #12887
@medamineziraoui Awesome! I think for angular you need to look [here](https://github.com/jhipster/generator-jhipster/blob/2da017ca2b6ca46d7651a29a1cfb5f2e5c82c6ee/generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs#L70) and for react it could be done in the [locale reducer/store](https://github.com/jhipster/generator-jhipster/blob/2da017ca2b6ca46d7651a29a1cfb

[2020-10-29 16:09] mshima opened #12900 "Improve localization user experience."
##### **Overview of the feature request**

Guess user native language based on environment locale and set `en` as second language.

##### **Motivation for or Use Case**

IMO this improves user experience.

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-10-29 16:15] mshima opened #12902 "Split test framework prompt."
##### **Overview of the feature request**

Our test framework prompts is currently implemented in app generator.
We should split into a 2 prompts:
- a prompt in client generator for client test frameworks
- a prompt in server generator for server test frameworks

##### **Motivation for or Use Case**

- Allows client/server only blueprints to don't override app generator to customize test framework

[2020-10-29 17:39] DanielFran commented on #9543
@RobWin @Romeh Are you still willing to work on this feature?

[2020-10-29 19:51] #12856 closed

[2020-10-30 08:32] medamineziraoui commented on #12887
@atomfrede Thank you

[2020-10-30 11:07] sabeurios opened #12908 "Polyfilling node core modules when upgrade to Jhipster 6.10"
I have an existing project generated with jhipster 5.7 so I upgraded it to 6.10 and I transferred the existing files to the new directory and suddenly I had this polyfilling problem.

<img width="743" alt="Screenshot 2020-10-29 at 09 19 28" src="https://user-images.githubusercontent.com/57177536/97698217-7aae4000-1aa8-11eb-9b57-0e6653a24c3d.png">

I opened a subject in the webpack form but they di

[2020-10-30 11:20] mshima commented on #12908
We are still using webpack 4.
You should correct your dependencies.

[2020-10-30 11:20] #12908 closed

[2020-10-30 11:25] sabeurios commented on #12908
@mshima  I'm using webpack 5.2.0 generated automatically with jhipster 6.10
![Uploading Screenshot 2020-10-30 at 12.24.02.png…]()

[2020-10-30 11:29] DanielFran commented on #12908
Looking at v6 branch, webpack defined is version 4: https://github.com/jhipster/generator-jhipster/blob/v6.x_maintenance/generators/client/templates/react/package.json.ejs#L175

![image](https://user-images.githubusercontent.com/3706415/97700121-340a1700-1aa3-11eb-9993-59ce69f37ad6.png)

[2020-10-30 11:58] mshima commented on #12908
@sabeurios you can see the open issue at https://github.com/jhipster/generator-jhipster/issues/12712.

[2020-10-30 12:39] kaidohallik opened #12909 "ng-jhipster"
This is follow up to https://groups.google.com/g/jhipster-dev/c/zrigrN1Ji_o where I proposed to move away from ng-jhipster.

I looked at `ng-jhipster` to see what code is used or unused in `generator-jhipster`.

### Unused ###

* **directives**: max.directive, maxbytes.directive, min.directive, minbytes.directive, number-of-bytes
* **pipes**: capitalize.pipe, truncate-characters.pipe, truncate-wor

[2020-10-30 12:58] mshima commented on #12909
The proposition is to move alway or cleanup?
I am in favor of moving alway:
- it's hard to develop and test it.
- there are to many peer dependencies, npm 7 makes maintaining ng-jhipster harder.
- loose burden on @pascalgrimaud.

If moving away, just copy the relevant files (try to keep git history) to generator-jhipster, don't need a new release.

[2020-10-30 13:03] DanielFran commented on #12909
+1 to migrate the generator

[2020-10-30 13:30] Tcharl commented on #12418
@nonomoho
For the denied list transformed to allowed list I was thinking about:
* if nothing is specified, it would behave like `generateclient *`
* if something is specified it would only generate what is listed

[2020-10-30 13:35] Tcharl commented on #10958
For side-by-side, there's a dedicated ticket: #12497

[2020-10-30 20:13] #12897 closed

[2020-10-31 09:58] ibrahimkarayel commented on #1279
you need to add that dependency.

`<dependency>
     <groupId>org.springframework.boot</groupId>
     <artifactId>spring-boot-starter-validation</artifactId>
</dependency>`

[2020-10-31 10:43] funder7 opened #12916 "Missing dependencies (spring-tx) when generating microservice without database"
##### **Overview of the issue**

Generated a microservice without database from JDL.
The `ExceptionTranslator` class has a little part of code which depends on  `org.springframework.dao.DataAccessException` which cannot be found.

(I'm using Java 14, but that shouldn't affect this in any way. )

##### **Motivation for or Use Case**

I was expecting no errors when disabling the db.

##### **Reprodu

[2020-10-31 10:46] mshima commented on #12712
@artemis-bot there is nothing we can do for angular in our side right now.
We need to wait webpack 5 support from dependencies like https://www.npmjs.com/package/@angular-builders/custom-webpack.

[2020-10-31 11:08] funder7 opened #12918 "Detect content type built-in field conflicts."
##### **Overview of the issue**

I don't know why it happens, but I've used the same entity in different flavours (monlithic, microservices application), every time I encounter this problem where a field is created twice in the JPA class, DTOs, webapp... everywhere!

Excuse me but I had to edit the .yo-rc.json and the JDL in order to remove some sensible information, and to simplify it. It apparta

[2020-10-31 11:31] pascalgrimaud commented on #12918
it's because how JHipster works. It will add the field `qrCodeContentType String` for you. You didn't need to define it.
If you want to define a specific content type, try to use another name, so it won't conflict with the existing one, which will be generated

[2020-10-31 12:53] funder7 commented on #12918
That totally, ok. But consider that one can also export a jdl, and then re-import it again (that's what I did).
Shouldn't be the generated field removed from the exported jdl, to avoid the duplicate ?

[2020-10-31 12:58] pascalgrimaud commented on #12918
oh indeed, it shouldn't be exported

[2020-10-31 13:01] funder7 commented on #12916
I must add that after fixing:
- The application starts correctly if booted from main class, or maven
- It fails to run if booted as docker image returning the following error:

<pre>
2020-10-31 12:32:40.259  WARN 1 --- [           main] ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.context.Applicatio

[2020-10-31 13:13] funder7 commented on #12918
Take this with the tweezers but... I suspect that when an ImageBlob field is present, and `enableSwaggerCodegen true` then in the DTO of the class where the ImageBlob field is present, swagger annotations are being created for relationships, while that shouldn't happen as no reference to releationship is generated in the DTO (it causes a compile error).

[2020-10-31 13:18] funder7 commented on #12262
In fact I'm only interested into having time saved correctly, I'm using `Instant` class

[2020-10-31 13:18] mshima commented on #12918
@pascalgrimaud have you managed to reproduce?
I couldn't:
[code]

Same with:
[code]

[2020-10-31 13:22] funder7 commented on #12918
@mshima I had to remove some confidential data from jdl & yo-rc, sorry for that.
Regarding the problem of swagger annotations, it happens in all DTO classes, not only where the generated field is.

[2020-10-31 13:24] mshima commented on #12918
@funder7 you should remove `*ContentType` fields from every entity.

[2020-10-31 14:02] SudharakaP commented on #12665
@pascalgrimaud : I think this is done right? Maybe we can close this and I think @mshima should also claim the bounty. 😄

[2020-10-31 15:00] pascalgrimaud commented on #12918
@mshima : not with my computer, I didn't try to reproduce. I'm changing the label and will try to reproduce later

[2020-10-31 15:02] pascalgrimaud commented on #12665
Indeed, we can close this.
@mshima can claim the bounty, but he never did it, I don't understand why :-)

[2020-10-31 15:02] #12665 closed

[2020-10-31 15:07] ruddell commented on #12916
Duplicate of https://github.com/jhipster/generator-jhipster/issues/12827

Fixed in https://github.com/jhipster/generator-jhipster/pull/12829

[2020-10-31 15:07] #12916 closed

[2020-11-01 07:24] pascalgrimaud commented on #12558
simple comment to keep this opened:)

[2020-11-01 10:41] gmarziou commented on #12558
The keep-alive comment :)

[2020-11-01 12:32] PierreBesson commented on #12649
@clocken, I took the liberty to cherry-pick your commit from your branch and implemented your solution 2.

I think this is the less intrusive and the most flexible solution as you can always tweak `jhipster.api-docs.default-include-pattern` and `jhipster.api-docs.management-include-pattern` to make swagger ui works with app server deployment on a context path defined outside of spring. Please revi

[2020-11-01 14:24] nicolas63 opened #12925 "Customization of the webpack path"
##### **Overview of the issue**

For the dotnet blueprint i need to customize this line how can i do it ?
https://github.com/jhipster/generator-jhipster/blob/main/generators/generator-base-private.js#L343

Maybe @mshima can help me ?

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-11-01 14:38] mshima commented on #12925
@nicolas63 changing to
[code]
should do the trick.

[2020-11-01 14:43] nicolas63 commented on #12925
thanks !
I'm going to do PR

[2020-11-01 15:03] pascalgrimaud commented on #12854
Adding a bounty as it was a lot of work.
Thanks for your hard work @DanielFran ! plz claim it

[2020-11-01 15:06] PierreBesson commented on #12412
I confirm this issue which is quite annoying. This is 100% caused by Swagger UI itself which fills out the request body with this sample text: `{"additionalProp1":"string","additionalProp2":"string","additionalProp3":"string"}`. I think I can find a workaround as this is quite annoying.

[2020-11-01 15:12] pascalgrimaud commented on #12854
A new release of jhipster-bom has been done:
https://repo.maven.apache.org/maven2/tech/jhipster/

cc @gmarziou : if you can test in your projects and give feedbacks ;)

[2020-11-01 15:27] PierreBesson commented on #12900
It is a nice touch but I think it might surprise some people. If we implement this, at least print an explicit log to tell the user that we detected his or her locale and as such pre-selected their language.

[2020-11-01 15:32] DanielFran commented on #12854
@pascalgrimaud Bug bounty claimed.

[2020-11-01 15:33] pascalgrimaud commented on #12854
@DanielFran : approved

[2020-11-01 17:23] pascalgrimaud opened #12928 "Angular: many to many with user broken"
##### **Overview of the issue**

When updating an entity which has relationship many to many with user, it's broken

![Capture d’écran de 2020-11-01 17-59-45](https://user-images.githubusercontent.com/9156882/97809673-9a8f6080-1c6e-11eb-8a1b-149261adfe1e.png)

##### **Motivation for or Use Case**

##### **Reproduce the error**

Detected by daily builds: https://github.com/hipster-labs/jhipster-dai

[2020-11-01 17:33] mshima commented on #12928
We should try to enable at cypress then.

[2020-11-01 17:37] pascalgrimaud commented on #12928
agree, Cypress should be at same level than Protractor
That's one of the reason why I'm keeping Protractor in Daily Builds for now

[2020-11-01 17:55] pascalgrimaud commented on #12928
cc @nassimerrahoui @adilabed @avdev4j as you worked a lot on Cypress

[2020-11-01 18:08] pascalgrimaud commented on #12928
More investigation on my side @mshima
We were just lucky to find this issue with Protractor.

The main problem is simply because this function is not covered by the unit tests:
![Capture d’écran de 2020-11-01 19-07-17](https://user-images.githubusercontent.com/9156882/97810627-974ba300-1c75-11eb-89cb-213327114996.png)

[2020-11-01 18:31] DanielFran commented on #12928
@kaidohallik Can you review this issue?

[2020-11-01 19:28] #11257 closed

[2020-11-01 19:31] DanielFran commented on #10733
Closed with #11926

[2020-11-01 19:31] #10733 closed

[2020-11-01 20:11] kaidohallik commented on #12928
I'm sending fix PR shortly

[2020-11-01 21:43] kaidohallik commented on #12928
In `getSelected` signature was defined that `selectedVals` is never `undefined` and I remember that while doing PR I tested different cases here and this was true. But now I was able to reproduce in every many-to-many relationship that this can be `undefined` and this PR fixes that.
I marked that `selectedVals` can be `undefined` and changed parameters order because optional parameter is not allow

[2020-11-01 21:55] #12928 closed

[2020-11-02 12:46] funder7 opened #12938 "Couldn't generate composite application with uaa"
##### **Overview of the issue**

An error happens while creating the `application-dev.yml` file.

##### **Motivation for or Use Case**

Generating a microservice infrastructure from a single JDL, containing uaa service, gateway & microservices, leads to an error:

[code]

Later on, by creating the components separately, I've discovered that a `uaaBaseName <name>` property must be added to the JDL.

[2020-11-02 12:56] pascalgrimaud commented on #12487
Most of work has been done, and the bounty claimed too.
I'm closing this, but if you want to work on new artworks, plz open a new ticket :)

[2020-11-02 12:56] #12487 closed

[2020-11-02 16:06] ascelineboullen commented on #12487
Yes, thank you @pascalgrimaud ;)

[2020-11-02 17:28] mraible commented on #10189
Commenting to keep open and active.

[2020-11-02 17:29] mraible commented on #10975
We're still actively working on this issue in https://github.com/jhipster/generator-jhipster/pull/12609.

[2020-11-02 21:41] nicolas63 commented on #12925
@mshima the destinationPath method create an absolute path and just after the method replace content do the same and cause some troubles. Have you any idea to create absolute path only once ?

[2020-11-02 21:54] mshima commented on #12925
@nicolas63 you are right, there is a unsafe conversion at:
https://github.com/jhipster/generator-jhipster/blob/1643527b2cc3b64d47d76111f692692e12a01952/generators/utils.js#L89-L90

Replace that with:
[code]

You can revert the other changes.

Thanks.

[2020-11-02 22:07] nicolas63 commented on #12925
Thanks to you for your help.
I will make the change

[2020-11-03 05:25] pascalgrimaud commented on #12460
PR is in progress

[2020-11-03 07:18] sabeurios opened #12942 "no exported Method react-jhipster"
I encountered this issue while trying to migrate my solution to a newer version of jhipster.
**Code:**
[code]
**Error:**
`......./node_modules/react-jhipster/lib"' has no exported member 'getPaginationItemsNumber'.`
it seems that the method 'getPaginationItemsNumber' is no longer predefined.

[2020-11-03 09:53] DanielFran commented on #11886
This should be fixed since we will create now a new dependency for jhipster lib.

@pascalgrimaud Can we close it?

[2020-11-03 09:56] DanielFran commented on #11935
@pascalgrimaud Everything has been migrated.
Can this be closed?

[2020-11-03 10:09] DanielFran commented on #12489
@mshima Is this issue fixed? Can be closed?

[2020-11-03 10:18] pascalgrimaud commented on #11935
no, unfortunately, it's not finished yet...

Still to do on my side:
- check all Sonar analysis
- check all configuration at Azure DevOps (there are a lot of projects...), unless we decide to migrate to GitHub Actions

[2020-11-03 10:18] DanielFran commented on #12577
We migrate from moments to days in generator main branch.
@NtsikaMngoma Can you confirm the issue is fixed and can be closed?

[2020-11-03 10:22] DanielFran commented on #12657
The update has been done in main branch, so closing this issue.

[2020-11-03 10:22] #12657 closed

[2020-11-03 10:22] DanielFran commented on #12656
The update has been done in main branch, so closing this issue.

[2020-11-03 10:22] #12656 closed

[2020-11-03 10:32] DanielFran commented on #12764
@atomfrede @pascalgrimaud It seems that now this is only for Vue?
@atomfrede Any progress on this?

[2020-11-03 10:55] atomfrede commented on #12764
Hope to find some time tomorrow to revisit the current PR in the blueprint and migrate a first version to the main generator.

[2020-11-03 17:17] #12494 closed

[2020-11-03 17:56] pascalgrimaud commented on #11886
@DanielFran : yes, we can close this

[2020-11-03 17:56] #11886 closed

[2020-11-03 18:03] mshima commented on #12489
@DanielFran missing Jenkins and confirmation that it work.

[2020-11-03 18:31] MathieuAA commented on #12918
The JDL sample parsing was failing with an error for me... (micrservice => microservice), and the comments are badly written. Which is interesting. Gotta investigate.

And I can reproduce the issue by removing the comments. I agree with @mshima about the solution, it should also be documented.

[2020-11-03 18:40] mshima commented on #12918
The `*ContentType` problem is related to the generator, it should error when this conflict happens.

I didn't try to reproduce swagger problem, but it is unrelated to this issue, if there is a problem we should handle it in another issue.

[2020-11-03 20:01] mshima opened #12949 "[jdl] Change jdl annotations."
##### **Overview of the feature request**

- Change jdl annotations to set lowerFirst option:
[code]
Should set `id` option to true instead of `Id`.

- Change relationship annotation to don't create options in the other side.
[code]
Currently generates:
[code]
Makes harder to detect if A is id of B or if B is id of A.

A solution is to allow annotations on other side:
`relationship OneToOne { A to

[2020-11-03 20:03] mshima commented on #12949
cc @MathieuAA

[2020-11-03 20:27] SudharakaP commented on #12891
@tillias : Thanks for your question. Your CircleCI configuration is customized (it uses Docker instead of VM). When I added CircleCI support back I remember that I had problems with docker hence I used the VM method. Maybe as you say one can simplify using Docker but currently we don't support that method and therefore I think you will have better luck getting answers to this question in StackOver

[2020-11-03 20:27] #12891 closed

[2020-11-03 20:28] #12707 closed

[2020-11-03 20:30] SudharakaP opened #12950 "Auto Rebase Action"
##### **Overview of the feature request**

I recently came across this GitHub Action; https://github.com/cirrus-actions/rebase which auto rebases PRs. I was wondering if this might be useful for us so that the merger doesn't have to wait for original submitter of the PR to rebase it. Shall we integrate this?

cc: @jhipster/developers

##### **Motivation for or Use Case**

So that rebases could be

[2020-11-03 20:42] pascalgrimaud commented on #12950
Not sure about that, because some people will prefer using git merge upstream/main, other will prefer git rebase upstream/main
Then, in case of rebase, it will force people to use git push -f
So I'd prefer letting the full control to the contributor

But it's just my opinion :)

[2020-11-03 20:51] mshima commented on #12950
When we push or close/reopen a PR, all tests are done with a merge between `main` and the PR branch.
And we almost always use merge instead of rebasing, I think this is more useful when the repository chooses linear history.

[2020-11-03 21:02] #12925 closed

[2020-11-03 21:24] SudharakaP commented on #12950
@pascalgrimaud @mshima: Good points. I think I love rebases more than merges which is the reason I suggested this. Anyways I understand the different workflows people  use so we'll not do this for now. 😄

[2020-11-03 21:24] #12950 closed

[2020-11-03 21:43] qmonmert commented on #12942
@sabeurios `getPaginationItemsNumber` is not used since a long time in JHipster

[2020-11-03 22:56] avdev4j commented on #11935
@SudharakaP @pascalgrimaud FYI the jhipser-bot used in the JHipster online is still creating master branch we creating a new project.

I don't think we noticed that ;)

[2020-11-03 23:01] pascalgrimaud commented on #11935
@avdev4j : I think it's because this PR https://github.com/jhipster/jhipster-online/pull/255 is not deployed to GCP yet

[2020-11-03 23:02] avdev4j commented on #11935
great !

[2020-11-04 08:04] MathieuAA commented on #12949
I'm taking this one

[2020-11-04 08:04] #12942 closed

[2020-11-04 08:05] MathieuAA commented on #12938
Thank you for reporting this issue, I'll handle it.

[2020-11-04 10:38] nicolas63 opened #12959 "Customize database validation in JDL"
##### **Overview of the issue**

Since database type is checked in import-jdl the dotnet blueprint can't import jdl for sqllite database (in-memory)
-> https://github.com/jhipster/generator-jhipster/blob/main/jdl/jhipster/field-types.js#L144

##### **Suggest a Fix**

Maybe we can give the possibility to customize the supported database types and blueprints can enrich them

##### **Browsers and Ope

[2020-11-04 11:07] #12938 closed

[2020-11-04 17:14] DanielFran opened #12962 "No content with child entity when editing"
##### **Overview of the issue**

When editing an entity the data from child entity is empty

![image](https://user-images.githubusercontent.com/3706415/98143785-74adca00-1ec1-11eb-92aa-12b3a67be260.png)

![image](https://user-images.githubusercontent.com/3706415/98143836-855e4000-1ec1-11eb-8938-188b427c4323.png)

##### **Motivation for or Use Case**

Data are available when visualizing the data

#

[2020-11-04 17:14] DanielFran commented on #12962
cc @mshima Seems related with DTO unflatten, but not sure

[2020-11-04 17:40] #12808 closed

[2020-11-04 18:14] nicolas63 commented on #12959
@mshima do you have an idea how to implement this?

[2020-11-04 18:54] mshima commented on #12959
JDL does not have any support to allow blueprints to extend it.
You should ping @MathieuAA for this one 😄 .

[2020-11-04 18:56] MathieuAA commented on #12959
The easiest is to disable validations. It's a good idea because there'd be no need to maintain a list of custom options

[2020-11-04 19:43] #12962 closed

[2020-11-04 22:22] tgeens commented on #11495
A note has been added, but the example on "Reflexive relationships" still has the `required` keyword. Shouldn't that be removed from the example ?

[code]

[2020-11-05 06:33] MathieuAA commented on #11495
@tgeens true. Can you fix it in the doc repo?

[2020-11-05 09:22] tillias opened #12967 "Use MapStruct instead of UserMapper and PasswordChangeDT. MapStruct 1.4.0.Final is out"
##### **Overview of the feature request**

No more need for hand-made UserMapper and also bump version

##### **Motivation for or Use Case**

[code]

##### **Related issues or PR**

-   [ x] Checking this box is mandatory (this is just to show you read everything)

[2020-11-05 09:30] pascalgrimaud commented on #12967
@tillias : I think it's because mapstruct is optional, when using entities. Unless we change this and put mapstruct by default with DTO

[2020-11-05 11:46] ThienPhuc92 opened #12968 "Change the way jhipster generate CRUD service"
##### **Share same DTO in create, update will make code confuse and hard maintain**
When jhipster generator generate service with DTO. They use the same DTO for create or update so this make code confuse and hard to maintain.

Because:
In case query: I need to add some extra data in DTO
In case crud: Developer will confuse because he don't known, extra data should be save or not?

I think they sho

[2020-11-05 12:12] mshima commented on #11025
@pascalgrimaud with our current entities adding a `rel_` prefix and `__separator` tests do not pass.
Only pass with 1 character prefix.

[2020-11-05 12:18] mshima commented on #11025
Then you would have conflict when creating 2 relationships with same entity.

[2020-11-05 17:55] kaidohallik commented on #12909
Seems that everybody agrees with moving away from `ng-jhipster`.

So the next step is to agree migration technical details.

@mshima suggested to keep git history, so I made first test. I used instructions from https://medium.com/@ayushya/move-directory-from-one-repository-to-another-preserving-git-history-d210fa049d4b to filter git commits.

Steps done:
[code]

After that in the next commit I fix

[2020-11-05 20:13] mshima commented on #12909
IMO:
- move every necessary files to their final location.
- remove everything else with https://github.com/newren/git-filter-repo/#simple-example-with-comparisons.
should be something like `git filter-repo --path generators/`
- merge unrelated.

[2020-11-06 12:40] tillias commented on #11961
Is there any example of how to use cypress with JWT Token?

I can't pass through jhi related stuff because something really cheesy is customized there:

[code]

[2020-11-06 19:21] pascalgrimaud commented on #11025
Do you understand why ?
So what do you suggest for this @mshima ?

[2020-11-06 19:40] pascalgrimaud commented on #12019
I think we are fine today, I don't see what additional stuff we could put in jhipster lib
Should we keep this ticket opened ?
Or can we move on, to be closer to v7 @deepu105 ?

[2020-11-06 20:09] mshima commented on #11025
@pascalgrimaud table name conflicts due to trimming.
Could be fixed by renaming some entities.

IMO change separator only.
`r_` prefix would be nice, not sure about `_` prefix.

[2020-11-06 20:27] pascalgrimaud commented on #11025
another idea would be to generate a hash, using the name of entities: rel_hash
so with this solution, we can regenerate entities without changing the name of relationships

what do you think ?

[2020-11-06 21:18] mshima commented on #11025
@pascalgrimaud I like the idea of hashing.
But more like `rel_` prefix, `__` separator, `_xxx` 3 char hash suffix.
I think it’s important to keep entity name for db maintenance.

[2020-11-06 21:38] pascalgrimaud commented on #11025
keeping entity name is important for db maintenance, you're right, and 3 char hash suffix would be enough to avoid conflict

[2020-11-06 22:16] jdubois commented on #12019
Can I move the JWT code to the lib? I don’t believe it’s good to customize it, and it would make security issues easier to handle

[2020-11-06 22:19] pascalgrimaud commented on #12019
indeed, the JWT part should be moved
@jdubois : don't forget it's the new project, jhipster-bom, with the new package name: tech.jhipster :)

[2020-11-06 23:56] kaidohallik commented on #12909
I made the following steps:

[code]

`JhiLanguageService` is just wrapper around `TranslateService`. We don't need this wrapping and `JhiLanguageService` is not migrated and we are using `TranslateService` directly.

[code]

create folder `generators/client/templates/angular/src/main/webapp/app/shared/sort`
create folder `generators/client/templates/angular/src/main/webapp/app/admin/metrics/compon

[2020-11-07 00:35] gmarziou commented on #12909
What's your plan about migrating the tests?

[2020-11-07 05:57] kaidohallik commented on #12909
Totally forgot tests, will repeat steps with tests included.

[2020-11-07 07:29] #12019 closed

[2020-11-07 07:29] deepu105 commented on #12019
Ya lets close it. There isn't too much interest here anyway

On Fri, 6 Nov 2020, 11:19 pm Pascal Grimaud, <notifications@github.com>
wrote:

[2020-11-07 08:05] pascalgrimaud commented on #12909
I removed the need discussion, as we're doing this
Starting with a 1st bounty, which can be increased, depending of the amount of work

[2020-11-07 09:51] pascalgrimaud commented on #12817
Closed by https://github.com/jhipster/generator-jhipster/pull/12974

[2020-11-07 09:51] #12817 closed

[2020-11-07 09:58] gmarziou commented on #12909
@kaidohallik I wonder whether it would help to not add the '.ejs` to files that are not templated.

How do you edit them comfortably? Do you configure your IDE to consider '*.ts.ejs` as typescript files or do switch language manually on-demand?

[2020-11-07 10:41] pascalgrimaud commented on #12968
To be honest, I don't understand well this ticket.

In my opinion, our current implementation works well and is not confusing.
The generated CRUD with JHipster is very simple. If you need advanced feature (1 DTO for creation, 1 DTO for update, 1 another for query/search, etc...), you need to code it yourself. It should not be generated by default, as some people won't want this.

[2020-11-07 10:55] kaidohallik commented on #12909
@gmarziou I see your comments only in emails. Any idea why are those comments hidden to me in web?

Regarding to `.ts` vs `.ts.ejs` - currently all plain TypeScript files are with `.ejs` extension and license headers are in EJS comments. I would rather follow the same style.

My common workflow is: get things working in generated project, put those into templates and see that regeneration generate

[2020-11-07 11:39] gmarziou commented on #12909
It's because I deleted them after few minutes because I thought they did not make much sense after few minutes.
I disabled email notifications a while ago and so forgot they are sent immediately, I will think longer before posting or just keep them :)

Anyway, thanks for your reply and I agree with you.

[2020-11-07 11:45] gmarziou commented on #12968
I interpreted it as a wish that JHipster supports a CQRS like approach but I agree that it's probably too complex for a code generator.

[2020-11-07 12:45] pascalgrimaud commented on #11896
I think the last item is done.
Can you confirm it @mshima plz ?

[2020-11-07 14:10] mshima commented on #11896
@pascalgrimaud I have a cli refactoring PR to make tests easier.
It's quite complex to implement tests right now.

[2020-11-07 14:13] mshima commented on #12949
This is a jdl breaking change.
Needs to be implemented before v7.

[2020-11-07 15:29] #12764 closed

[2020-11-07 15:30] #11896 closed

[2020-11-07 16:03] khushboo894 commented on #8861
Facing the same issue

[2020-11-07 16:14] gmarziou commented on #8861
@khushboo894 Unfortunately, there's nothing we can do about it, it could depend on so many environmental factors: your OS, network, firewall, anti virus, etc...

What you could try as a workaround:

* generate your project skipping npm install by using `jhipster --skip-install`
* run `npm install --no-audit`

[2020-11-07 16:16] mshima commented on #12967
@pascalgrimaud now that dto is not flatten anymore, I would agree to drop non dto option.
Dropping non-dto and non-service would reduce a lot our test cases.
IMO we could reopen https://github.com/jhipster/generator-jhipster/issues/11589.
Force entities to dto as `mapstruct` and service as `serviceClass` or `serviceImpl`.
And drop implementations during jhipster 7 cycle.

[2020-11-07 16:57] pascalgrimaud commented on #12967
100% agree.
For my real projects, I always use dto+service by default, as it can't work without mapstruct

[2020-11-07 21:44] murdos opened #12981 "Use Hibernate SEQUENCE strategy for MariaDB"
##### **Overview of the feature request**

MariaDB supports since sequences since version 10.3, so can use SEQUENCE strategy rather than IDENTITY strategy.

##### **Motivation for or Use Case**

We should switch to SEQUENCE strategy as we do for databases supporting sequences.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/pull/12098

-   [X] Checking this box is m

[2020-11-08 00:12] enesdogan27 commented on #12175
@atomfrede Thank you for explanation. I was confused by broken heroku deployment with Bonsai. I hope version 7 published soon

[2020-11-08 01:41] gmarziou commented on #12180
I  completely forgot about this, I have something that is half baked, I must write tests.

[2020-11-08 03:18] ThienPhuc92 commented on #12968
My english is not very well, so i'm sorry if may be it make you confuse

[code]

At the developer role want to use interface UserService, I think they should know clearly, what he saving. But with UserDTO above, if he want to know that, he must be view it in UserServiceImpl to know this service will save parent of user, or not.
If interface with a good design, developer don't need to view business

[2020-11-08 08:18] #12981 closed

[2020-11-08 08:25] pascalgrimaud commented on #11685
little comment to keep this ticket opened, as the label 'stale' was removed by @murdos

[2020-11-08 08:37] MathieuAA commented on #9870
Commenting. @nicolas63's PR should fix it after some changes are done, #12975.

[2020-11-08 08:39] MathieuAA commented on #9870
And BTW, thanks @nicolas63 to have proposed a PR for your issue (which involves this one too).

[2020-11-08 08:55] MathieuAA commented on #12949
Indeed @mshima. For the first issue, this involves every option. Plus, I don't see why options beginning by an upper-case letter should be allowed. I propose to only allow options beginning by a lowercase letter. @mshima WDYT?

For the second issue, thanks for the examples. I'm fixing it.

[2020-11-08 09:01] MathieuAA commented on #12809
PR approved, just one conflict to resolve.

[2020-11-08 10:14] murdos commented on #11685
Sorry... I'm a bit confused on how this stale thing feature works 😅
Thanks @pascalgrimaud !

[2020-11-08 12:35] mshima commented on #12949
I prefer upper case, I think it’s prettier and AFAIK most of languages uses upper case annotations.
Any approach fixes the issue 😄 .

Great thanks.

[2020-11-08 13:18] #12809 closed

[2020-11-08 13:22] mshima commented on #12809
Thanks @MathieuAA

[2020-11-08 13:54] tillias opened #12987 "Integrate ngx-spinner"
##### **Overview of the feature request**

Hello folks, it would be great if you include ngx-spinner or some progress bar indicator for angular.

##### **Motivation for or Use Case**

There are tons of requests sent to BE (admin, user management etc), one standardized load indicator (component) as it is done with JhiAlertService will be really helpful.

I have asked it https://stackoverflow.com/qu

[2020-11-08 15:18] pascalgrimaud commented on #12900
Following my https://github.com/jhipster/generator-jhipster/pull/12810#issuecomment-723549597, I think the command `jhipster jdl bug-tracker.jh` should be exactly the same, no matter the machine, the CI or the localization.
It's better for reproduce the config.

So what I can propose:
- `jhipster jdl bug-tracker.jh` : generate with `en` by default, so the user can add more language if he/she wants

[2020-11-08 15:36] pascalgrimaud commented on #11685
@murdos : it's really simple
- if there is no comment in the ticket, the bot will add label  ̀stale`, with the previous comment
- if there is no comment in 7 days, the ticket will be closed, because it's inactive or no one want to work on this
- that's why I added a comment. I don't think removing the label will work

[2020-11-08 16:02] cricketbackground commented on #7592
What are other possible values for --db and --auth?

[2020-11-08 17:46] murdos commented on #7592
See https://www.jhipster.tech/jdl/applications#available-application-configuration-options (respectively `databaseType` and `authenticationType`)

[2020-11-08 18:03] kaidohallik commented on #12987
We are already using https://ng-bootstrap.github.io/ - you can use `Progressbar` from  `ng-bootstrap`.
And Font Awesome `spin` is also available, for example look at user management refresh button: `<fa-icon icon="sync" [spin]="isLoading"></fa-icon>`. You can spin also spinner icon like `<fa-icon icon="spinner" [spin]="true"></fa-icon>`.
For app loading indicator we have JHipster `loading.css`.

S

[2020-11-08 18:12] tillias commented on #12987
Thanks, that is what I was exactly asking on stack overflow and get downvoted. You can close the ticket and I completely agree, no need for additional dependency

[2020-11-08 18:40] #11025 closed

[2020-11-08 22:38] #12987 closed

[2020-11-09 06:53] pmverma opened #13006 "Entity generation will fail for field name `account`"
##### **Overview of the issue**

Entity generation will fail for field name `account`.

[code]
##### **Motivation for or Use Case**

Entity generation should work without error.

##### **Reproduce the error**

1. On a generated app run `jhipster entity MyEntity` and create a field name `account`. Generation will fail.

##### **Related issues**

##### **Suggest a Fix**

It seems the `account` funct

[2020-11-09 07:43] atomfrede commented on #11731
Will try to work on this.

[2020-11-09 07:52] atomfrede commented on #12677
@tillias As I can't reproduce it and you have no additional input I will close this issue. If you think there is still a bug feel free to reach out again and we can reopen this.

[2020-11-09 07:52] #12677 closed

[2020-11-09 07:56] atomfrede commented on #12968
@ThienPhuc92 Thanks for the suggestion and I totally understand your concerns. We could do it for the user entity, but not for other entities as we can't know the meaning behind the fields a user defines. If you would like to have more control about the weblayer you can use the open api integration and define dedicated create/update dtos for each endpoint.

[2020-11-09 08:35] DanielFran commented on #8608
Reopening issue since @MathieuAA created a PR but it is yet done

[2020-11-09 10:16] gmarziou commented on #12968
In a way it's CQRS approach, I like it but I agree with others, implementation depends a lot on business requirements which a code generator does not know.

[2020-11-09 10:26] FabienEssid commented on #12887
@medamineziraoui is currently on holidays. We should work on this issue when he'll be back next week :slightly_smiling_face:

[2020-11-09 12:38] mshima commented on #12900
@pascalgrimaud it's a solution.
Current with PR just execute `jhipster -n`.

[2020-11-09 13:24] vrijmetse commented on #11129
Does this feature works with AWS Elasticache Redis (with cluster mode enabled) like stated here https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Endpoints.html#Endpoints.Find.RedisCluster ?

[2020-11-09 13:29] pascalgrimaud commented on #11129
Look at the specific code here:
https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs#L746-L756

For me, the last time I tried the cluster mode:
- it works locally
- it works for one of my customer project, with Redis deployed with Kubernetes

I don't see any reason why it won't work for AWS Elasticache Redis.

[2020-11-09 14:00] ThienPhuc92 commented on #12968
Many thank for all of your reply. I really want jhipster generate with cqrs, ddd or hexagon architect but it may be a long way to do that

[2020-11-09 14:44] mshima commented on #11589
If there is no objections I will create a PR to force dto and service options.
Non dto and non service implementations could be removed during jhipster 7 cycle.
cc @jhipster/developers.

[2020-11-09 15:00] pascalgrimaud commented on #11589
@mshima : what do you mean by forcing dto and service options ? will it be by default ?

[2020-11-09 15:04] ja1979 opened #13010 "Login redirect doesn't work in OAuth2 and React"
##### **Overview of the issue**

Opening a non-public URL (which requires a authenticated user) doesn't work as expected and the following error is thrown:

[code]

This problem is not present when choosing Angular with OAuth, or using React with JWT. The combination of React with OAuth has this issue.

##### **Motivation for or Use Case**

Users want to be redirected to the requested page after t

[2020-11-09 15:18] mshima commented on #11589
@pascalgrimaud I though we should remove non-dto option.
For every dto entity test, we must have another entity test without dto to keep both with same level of stability. Same for service.
IMO we should go for it.

Otherwise, to simplify our tests would be to add workflows exclusive to dto/non-dto.
Instead of having EntityTest/EntityDTOTest, we should force dto with `jhipster --dto` and split wor

[2020-11-09 18:27] pascalgrimaud commented on #11589
Ok, if I understand well:

? Do you want to use separate service class for your business logic?
❯ No, the REST controller should use the repository directly
  Yes, generate a separate service class
  Yes, generate a separate service interface and implementation

### Rest controller:

This question is unchanged:

`No, the REST controller should use the repository directly ` : no DTO

### For Servic

[2020-11-09 18:57] mshima commented on #11589
Your 1st suggestions.

Remove too.

The generator:
- Force every entity with `mapstruct` dto option and with `serviceClass` or `serviceImpl` service option.
This would prevent from generating entities without dto and service.
- Update prompts.

Templates
- Remove `no` dto and `no` service templates during jhipster 7 cycle, this won't be a breaking change.

[2020-11-09 19:08] pascalgrimaud commented on #11589
I'm in favor of making DTO mandatory.
In real project, we should never use rest controller with repository directly
But maybe we need to discuss with the team before ? with a mail to the mailing list ?

[2020-11-09 20:04] clocken commented on #12649
@PierreBesson Thanks for the implementation. You're right, especially regarding the intrusiveness of the solution.
But there are some minor adjustments to be made, I think. I implemented them in a separate copy of your branches and commented in the PR's. Feel free to cherry pick again.
By the way: What's the preferred procedure in this situation? Cherry picking or should I have commited to your br

[2020-11-10 00:32] SudharakaP commented on #11658
@github-actions : This is in my list to-do; so please don't close it. 🙏🏽 🥺

[2020-11-10 01:10] mraible commented on #12274
I checked with JHipster 6.10.5 and you're right, this issue still exists.

[code]

I also tried with the current main branch. It does NOT happen there. It sounds like we might need to backport some code to the 6.x branch or get a beta release of v7 out the door.

[2020-11-10 05:58] pascalgrimaud commented on #12374
adding a bounty, if it can motivated someone

[2020-11-10 06:38] #12900 closed

[2020-11-10 07:04] MathieuAA commented on #8608
A non-breaking version can be done before breaking things, so I suggest not to keep it mandatory for v7.
Also, I fear I won't be able to make it due to the lack of time I'm facing :( so if anyone wants to tackle it, be my guest

[2020-11-10 09:13] shorstki commented on #7094
Having NG CLI support would be great, I'd even rather use only NG CLI instead of custom webpack build we're having now in jhipster but I've tried to run the `ng serve` command in existing project and there are a lot if issues on the way.

[2020-11-10 09:18] shorstki commented on #6971
Angular CLI definitely should be the out of the box solution for JHipster Angular based front end, custom webpack build causes a lot of issues for example with keeping Angular up to date. On the website there is info that `ng serve` is supported, but it's not working in newest `generator-jhipster@6.10.5`.

[2020-11-10 09:53] gmarziou commented on #6971
This is done on main branch and will available in release 7

[2020-11-10 09:56] gmarziou commented on #7094
Please don't duplicate your comments, you did the same in #6971

This is done on main branch and will available in release 7

[2020-11-10 09:59] shorstki commented on #6971
Great news, when the release is planned?

[2020-11-10 10:00] yelhouti opened #13018 "Add support for ManyToOne Bi directional relationships"
##### **Overview of the feature request**

Hi, is there a reason why ManyToOne Bi directional relationships are not supported (or even implemented added by default since they are eager)?

If no, do you mind If I implement it?

Thanks.

-   [X] Checking this box is mandatory (this is just to show you read everything)

[2020-11-10 10:22] qmonmert commented on #13010
I confirm the bug

[2020-11-10 10:25] gmarziou commented on #6971
As usual with open source: when it's ready, probably before a COVID-19 vaccine. ;)

[2020-11-10 11:55] MathieuAA commented on #13018
Hello there! As I recall, there were technical reasons preventing us from implementing that.
Maybe @jdubois has a better memory than I.

But if implementing it is possible, go ahead! The counterpart being a one-to-many, I'm curious about the implementation differences.
If you implement it, don't forget about the doc :)

[2020-11-10 12:02] pascalgrimaud commented on #13010
@qmonmert : do you confirm the bug with 6.10.5 or with main branch ?

[2020-11-10 12:18] mshima commented on #13018
I am pretty sure `one-to-many` aren't eager-loaded currently.

I can see a few technical details:
- performance wise, do we need to load every back-reference? no, so we need to specify when to load them.
- jdl doesn't distinguish between `relationship OneToMany {A to B}` and `relationship ManyToOne {B to A}`.
- read-only, unless they are cascadeAll, they will be ready only.

[2020-11-10 12:56] jdubois commented on #13018
As far as I can remember, we always do bi-directional mapping (so OneToMany on one side and ManyToOne on the other). This is because we don't know your business case (it's up to you to "cut" one side if that's your business scenario), but also because that's better for performance. I think this was inspired by https://vladmihalcea.com/the-best-way-to-map-a-onetomany-association-with-jpa-and-hibern

[2020-11-10 12:59] qmonmert commented on #13010
@pascalgrimaud main branch

[2020-11-10 13:05] pascalgrimaud commented on #13010
thanks, but I don't understand why the CI works so
adding a bounty on this for the investigation + the fix

[2020-11-10 13:49] vishal423 commented on #12697
I was thinking a little more about this. How about using generic names in shared generators? Like change scripts in client generator to ensure following in the `pom.xml`:
profile id `webpack` to `webapp`
run `webpack:build` to `webapp:build:dev`
run `webpack:test` to `webapp:test`
run `webpack:prod` to `webapp:build`

[2020-11-10 14:34] jdubois commented on #11589
Hey, I'm not using any DTOs most of the time! I know what everybody says, but for simple stuff that works really well, and you have better performance. I believe it's the same thing with Ruby on Rails, by default (and for very simple apps) they have no DTOs.

[2020-11-10 14:57] mshima commented on #11589
@jdubois thanks.
So let's rule out dropping non-dto.

As we continue integrating relationships sides, such as composite id, mixing dto with crud becomes more problematic.
In this case we could:
- keep as a warning, the user should deal with it.
- make dto a global preference.
- force dto when a relationship with dto is found.

[2020-11-10 15:01] jdubois commented on #11589
Also, MapStruct might be a little bit complicated for new developers. I'm the one who choose it and I love it, but for newcomers that's more complicated than just coding directly. We should have great Developer Experience for new people.

[2020-11-10 19:01] mraible commented on #13010
I just tried it with the latest main branch and it works. There is an error in the console though.

<img width="1524" alt="Screen Shot 2020-11-10 at 12 00 54 PM" src="https://user-images.githubusercontent.com/17892/98719037-70affb00-234c-11eb-8be8-5e24ecda8ca6.png">

[2020-11-10 19:23] sendilkumarn commented on #13010
@mraible I noticed this error, and it is because the entities menu is empty. If you create an entity this will go away 😃

[2020-11-10 19:24] qmonmert commented on #13010
@mraible you are redirected on the keycloak page ? not me

I tried the last main branch with Angular and I am not redirected on the keycloak page when I access to http://localhost:9000/admin/audits (and not logged)

[2020-11-10 19:35] mraible commented on #13010
@qmonmert I'm redirected when I click on "sign in". Which, BTW, seems like it's missing a space before it.

<img width="516" alt="Screen Shot 2020-11-10 at 12 25 20 PM" src="https://user-images.githubusercontent.com/17892/98723827-203a9c80-2350-11eb-9fd5-8742a97e478f.png">

If I try navigating directly to a protected URL (e.g., `http://localhost:8080/admin/health`), I get redirected to `/login` (i

[2020-11-10 19:39] qmonmert commented on #13010
@mraible ok like me :)

[2020-11-10 20:22] pascalgrimaud commented on #11589
Fine with this, @mshima

[2020-11-10 20:27] #12858 closed

[2020-11-10 23:37] yacine17 commented on #13010
@mraible after to be redirected to `http://localhost:8080/oauth2/authorization/oidc` the page should be reloaded to be directed to Keycloak which react doesn't do with `<RedirectTo />`. I think a component with route `/login` or `/oauth2/authorization/oidc` should be added to perform the reload with `window.location.reload()` (I tested it and it works for me).

Concerning the error, it caused by t

[2020-11-11 10:17] #12877 closed

[2020-11-11 11:15] murdos commented on #11599
PR exists and is waiting for approval

[2020-11-11 11:17] pascalgrimaud commented on #12649
@clocken @PierreBesson: does the proposed solution works ?
The use case to test, after changing the property:
- start via intellij
- start via mvn
- npm start
- with jar

[2020-11-11 14:39] Tcharl commented on #12418
Closing as it is nice to have and the community has no clear decision on the solution

[2020-11-11 14:39] #12418 closed

[2020-11-11 15:05] mshima commented on #11589
Closing, the proposal about making dto a global option and what approach to follow should be discussed at another issue.
For now we are at `keep as a warning, the user should deal with it.` approach.

[2020-11-11 15:05] #11589 closed

[2020-11-11 16:56] qmonmert opened #13025 "Translations are missing"
##### **Overview of the issue**

Translations are missing with Angular and React.

![image](https://user-images.githubusercontent.com/9989211/98840241-d84a7100-2446-11eb-8f5e-53bda9608d58.png)

##### **Motivation for or Use Case**

Translations are missing on the front end.

##### **Reproduce the error**

Generate an application with Angular or React.

##### **Related issues**

##### **Suggest a F

[2020-11-11 16:58] maznag commented on #12577
this issue is caused by `.toJSON()` that decrease the specified date. I propose to replace it by `.format()` method as follow: `dayjs(entity.date).format('YYYY-MM-DDTHH:mm:00.000Z')` #13024

[2020-11-11 17:02] mraible commented on #13025
Can confirm. I experienced this yesterday on my Twitch stream when using
the main branch.

On Wed, Nov 11, 2020 at 09:56 Quentin <notifications@github.com> wrote:

[2020-11-11 18:57] MathieuAA commented on #13025
Don't we have tests for that?

[2020-11-11 19:11] mraible opened #13027 "Creating a reactive microservices architecture fails with main branch"
##### **Overview of the issue**

During my Twitch stream yesterday, I tried to generate a reactive microservices architecture using the following JDL.

[code]

It failed with the following error:

[code]

##### **Motivation for or Use Case**

It was embarrassing to have a generation fail for a JDL that works fine with generator-jhipster@6.10.5. Because I was flustered with the failure, I installed

[2020-11-11 19:23] MathieuAA commented on #13027
The option was removed, see 0d838cb008dfebe7948dcddf97b3937aee4a3644 for more info, part of #12414.

[2020-11-11 19:25] MathieuAA commented on #13027
Sorry to hear that. There's an issue in the [documentation](https://www.jhipster.tech/jdl/deployments#available-deployment-options): `consoleOptions` still is in the supported option list...
I'm creating a PR to fix it.

[2020-11-11 19:27] mraible commented on #13027
@MathieuAA This error has tripped me up twice this week, and I consider myself a power user. First, it was because of a `useSass` option and now this. In the 6.x version, there wasn't a stack trace. To make migrating to 7.x easier, can we just output a warning that the option is no longer available and will be ignored?

[2020-11-11 19:29] MathieuAA commented on #13027
I'll see what I can do.

[2020-11-11 19:41] MathieuAA commented on #13027
@mraible I'm opening a new issue about this matter to keep track of it, and assigning myself to it.
About `consoleOptions`, I'll create a PR later today after I improve the error message, unless you beat me to it and open a PR before I do.

[2020-11-11 19:46] MathieuAA opened #13029 "Improve the error message about JDL options that don't exist"
Related issue: #13027.

Brief description: when importing a JDL content with an option that doesn't exist, the current error message isn't clear enough.
It says there's a syntax error, but doesn't explicitly state the JDL content contains a bad option.
`Error: MismatchedTokenException: Expecting --> '}' <-- but found --> 'unknownOption' <--` is an example of the error message.

cc @mraible

[2020-11-11 20:55] #12959 closed

[2020-11-11 21:00] MathieuAA commented on #13027
@mraible all 3 PRs are submitted.

[2020-11-12 07:09] #13029 closed

[2020-11-12 09:51] avdev4j commented on #13025
We have a bunch of tests for that -> https://github.com/jhipster/generator-jhipster/blob/main/test/languages.spec.js

Maybe we do not cover each case.

[2020-11-12 10:22] Blklove commented on #13025
really>

[2020-11-12 10:35] kaidohallik commented on #13025
If I try this command:
[code]
then I see couple of messages in the console:
[code]

If I regenerate application after generation (`jhipster --force`) then this fixes translations. So it seems to be related to prompts.

[2020-11-12 11:43] mshima commented on #13025
This error occurs in one use case:
- using prompts and no language selected.

When executing languages stand alone it should just add another language.
So in this case when no language is selected at prompt, there is a bug that default value is set and the generator just ignores the new added language, supposing it was already added, because the language is already in the config.
If another native

[2020-11-12 11:59] kaidohallik commented on #13025
FYI just in case: I finished `git bisect` and found out that first bad commit according to this issue is: https://github.com/jhipster/generator-jhipster/commit/e7eb0c690544a1f11d22beeb20df58609ec08158

[2020-11-12 12:05] mshima commented on #13025
@kaidohallik I think this was temporary fixed because default language was undefined for some hours.
If you start again, probably you will trace back to the workflow refactoring.
Test case doesn’t cover this case.

[2020-11-12 15:04] kaidohallik commented on #12577
I think that the current implementation is correct. If user current timezone is +02:00 then correct UTC value of `Sep 23, 2020, 12:00:00 AM` is `2020-09-22T22:00:00.000Z` as it is sent to back end.

But in database can be saved wrong values with the reasons highlighted below.

Database related configs are setting timezone to UTC:
* MySql connection `serverTimezone=UTC` (this is written to `applica

[2020-11-12 18:22] gate42srl opened #13034 "Deploy on Heroku get Failed to bind properties under '' to com.zaxxer.hikari.HikariDataSource"
Hi to everyone,
I'm trying to deploy on heroku a basic jhipster app build with maven, angular and maria-db. From the start I've only imported a jdl with few entities and locally the app start correctly.
Following the jhipster guide I've configured the application and deployed the locally compiled project as documentation said, but during the startup on heroku I received this issue:

`2020-11-12T16

[2020-11-12 19:12] gmarziou commented on #13034
Please dont crosspost https://stackoverflow.com/questions/64808364/jhipster-on-heroku-problem-with-jawsdb-mariadb-addon-at-startup

[2020-11-12 19:12] #13034 closed

[2020-11-12 19:13] gmarziou commented on #13034
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-11-12 20:40] nicolas63 opened #13036 "Separate default and composing in entity.js"
##### **Overview of the issue**

During default phase some treatment like `prepareRelationshipsForTemplates` is done just before composing

to allow the blueprints to take advantage of this phase maybe we can split composing and default ?
Or maybe move `prepareRelationshipsForTemplates` to another phase ?

what is your feeling @mshima ?

##### **Browsers and Operating System**

-   [x] Checking th

[2020-11-12 21:02] mshima commented on #13036
@nicolas63 done at https://github.com/jhipster/generator-jhipster/pull/13021 😄.
Keep this open to give visibility.

[2020-11-12 21:04] mshima commented on #13036
Composing or writing?

[2020-11-12 21:11] nicolas63 commented on #13036
I just want to have access to _preparingRelationships to prepare relationship with dotnet specificities so yes your PR fix that ! 🥇

[2020-11-12 21:42] mraible commented on #13027
Thanks, @MathieuAA! ❤️

[2020-11-12 21:42] #13027 closed

[2020-11-12 21:49] mraible commented on #13010
@qmonmert I tried your branch and it does work. However, it doesn't redirect me back to my original URL (e.g., `http://localhost:8080/admin/health`). Not sure if it's possible to fix that.

[2020-11-12 21:51] qmonmert commented on #13010
@mraible yes I will try to see if we can do that :)

[2020-11-12 22:28] clocken commented on #12649
@pascalgrimaud Yes, the proposed solution works.
Though after some more testing I found two more places where relative paths needed to be set in the React and Vue clients. Implemented changes also ready for cherry-picking, if you are satisfied @PierreBesson. PR for the docs also updated.

[2020-11-13 09:34] jdubois commented on #12747
I'm having this issue as NPM 7 got installed by default on my machine - I believe many users will have this issue, so it's very important.
I'm adding a bug bounty here.

[2020-11-13 11:26] ctamisier opened #13038 "Avoid N+1 Selects on '*-to-many' relationships"
In `src/main/resources/config/application.yml`,
there is `hibernate.query.fail_on_pagination_over_collection_fetch: true`.
But this option is not in `src/test/resources/config/application.yml`.

Which means we could write a request that will work in a test but will fail in production.
A request of this kind is actually generated (ex: Foo many-to-many Bar):
![image](https://user-images.githubuserco

[2020-11-13 12:02] mshima commented on #12747
I think we cannot support both npm 6.x and npm 7.x.
- maven/graddle uses a local installed npm version.
- webpack scripts uses a global one.

There will be some conflicts if we support both.
- package-lock is guaranteed to be backwards compatible
- I found some some errors that if project is generated with npm7, npm6 maven script fails to find one of the dependencies.

There are 2 options:
- Suppo

[2020-11-13 12:25] mshima commented on #13038
I think that just removing left join for collections should be enough.
A should be fixed by https://github.com/jhipster/generator-jhipster/pull/13021/ and commit https://github.com/jhipster/generator-jhipster/pull/12971/commits/017be84ced6d406190f6c777392591e4a06f3065 from another PR.

[2020-11-13 19:25] qmonmert commented on #13010
@mraible PR done (without redirect back to the original URL, I don't know if it possible)

[2020-11-14 04:52] vrijmetse opened #13040 "JHipster AWS sub-generator blue green deployment"
I wasn't sure if this is already implemented but even I changed the auto scaling groups desired and minimum capacity to 2  whenever I executed the deployment `jhipster aws` I notice the web cant be accessed and throwing 502 Bad Gateway

I think blue green deployment is already a standard and would be great if it is supported.

-   [x] Checking this box is mandatory (this is just to show you read e

[2020-11-14 15:46] SudharakaP commented on #13040
@vrijmetse : Just to clarify you mean after running the aws subgenerator you are unable to access the site? Also could you please complete the issue template by adding your project configuration. You can execute `jhipster info` within the project folder and copy the output. 🤝

[2020-11-14 20:49] qmonmert commented on #13010
@mraible redirection is ok now 🙂

[2020-11-14 21:01] #13010 closed

[2020-11-14 21:07] qmonmert commented on #13010
@jdubois & @pascalgrimaud I claim my money 🙂 https://opencollective.com/generator-jhipster/expenses/28034

[2020-11-14 21:08] mraible opened #13042 "Login redirect doesn't work in OAuth2 and Vue"
##### **Overview of the issue**

If you're using Vue + OAuth 2.0 and try to navigate directly to a URL (e.g., `http://localhost:8080/admin/health`), you get an error page rather than redirected to log in.

<img width="1178" alt="Screen Shot 2020-11-14 at 2 04 34 PM" src="https://user-images.githubusercontent.com/17892/99156934-855cfd80-2682-11eb-8f51-20ddf2270da8.png">

Inspired by https://github.

[2020-11-14 21:20] qmonmert commented on #13042
@mraible I will try to fix that

[2020-11-14 22:10] pascalgrimaud commented on #13010
@qmonmert : approved

[2020-11-14 23:55] vrijmetse commented on #13040
Hi @SudharakaP I am unable to access the website during the deployment process. I have updated the right error message which is `502` instead of `503`.

[2020-11-15 14:22] qmonmert commented on #13042
@mraible PR done

[2020-11-15 22:41] #13042 closed

[2020-11-16 06:15] israeldahan opened #13050 "mongock isn't compile"
[code]
server-list@0.0.1-SNAPSHOT /home/linnovate/sites/serverList
└── generator-jhipster@6.10.1

[code]

##### **Overview of the issue**

I create a project with jhipster with mongo and the project not compile. I see the tow file is a problem.
[code]
import mongock without v5
this import
`
import com.github.cloudyrock.spring.MongockSpring5;
import com.github.cloudyrock.spring.MongockSpring5.Mongo

[2020-11-16 08:18] qmonmert commented on #13042
@pascalgrimaud & @jdubois I claim my money 😄  https://opencollective.com/generator-jhipster/expenses/28085

[2020-11-16 08:38] pascalgrimaud commented on #13042
@qmonmert : approved

[2020-11-16 12:50] #12868 closed

[2020-11-16 12:50] #12909 closed

[2020-11-16 13:03] kaidohallik opened #13055 "Problems with --skip-server"
##### **Overview of the issue**

If using `--skip-server` option then also one server side related question is asked, server side options are written into `.yo-rc.json` and in regeneration server side is generated.

##### **Motivation for or Use Case**

If skipping server then should not ask server side related questions and should not generate server side related content and files.

##### **Repro

[2020-11-16 13:05] mshima opened #13056 "Webflux and Postgresql with many-to-many relationships is broken."
##### **Overview of the issue**

`sqlfull` test case fails at postgres.
See https://github.com/jhipster/generator-jhipster/runs/1403524237

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.

[2020-11-16 13:50] #13025 closed

[2020-11-16 14:05] kaidohallik commented on #13025
I tested fix and now are translations available right after generation without need to regenerate, but noticed that if in native language choose default choice `en` and leave other languages empty then `fr` is automatically added to languages array:
[code]
Expected behaviour: `languages` array should contain only `en` if `fr` is not choosed.

[2020-11-16 14:43] mshima commented on #13025
@kaidohallik it defaults to `fr` selected like jdl, so you should deselect `fr`.
Probably that's not a good idea, I will revert that.

[2020-11-16 16:38] ctamisier commented on #13056
The problem seems somewhere around this: https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/service/EntityManager.java.ejs#L179

when entity.getId() is null, the resulting request is `INSERT INTO test_many_many_pagination_dto VALUES ()` which is not valid to postgresql..

[2020-11-16 20:13] cifilaci opened #13059 "React frontend after session timeout: Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate."
##### **Overview of the issue**

After session timeout on React fronted redirected to /login page what shows maximum depth exception:

_An unexpected error has occurred.
Details
Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.
    in

[2020-11-16 20:33] kaidohallik commented on #12796
As after #13022 we can use `enableTranslation` variable in alert service then I'm reopening this to create a clean API for `alert.service` so that no workarounds needed to use this.

[2020-11-16 21:58] mraible commented on #13059
This sounds similar to #13010, which was fixed by https://github.com/jhipster/generator-jhipster/pull/13028. Are you able to try with the `main` branch to see if it's fixed?

[2020-11-17 08:05] khalidnouh opened #13064 "java.lang.IllegalStateException: No current ServletRequestAttributes"
in a microservice spring boot app ,when I invoke a rest like this

[code]
the error occurred in generatePaginationHttpHeaders ,although it works fine in another microservice with the same configurations

[2020-11-17 10:21] pascalgrimaud commented on #11935
What was done:
- Azure DevOps should be configured correctly for active project (JHipster Kotlin)
- All SonarCloud projects should use main branch
- at Docker Hub:
    - jhipster
    - jhipster-online
    - jhipster-registry
    - consul-config-loader
    - jhipster-control-center

I think all work is done so the ticket can be closed !

[2020-11-17 10:21] #11935 closed

[2020-11-17 10:24] pascalgrimaud commented on #11935
The last thing to do will be to delete the master branch
But I prefer to do it next year (in january 2021) so all our users can update their module / blueprint

[2020-11-17 10:26] Hawkurane commented on #13006
Hello, I managed to reproduce the error but only on the release version. The main version does not have this behaviour.
Do you think it's worth fixing it on the v6.x_maintenance branch?

[2020-11-17 10:33] pascalgrimaud commented on #11935
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/28148

[2020-11-17 10:59] nonomoho opened #13066 "Mock axios with sinon"
##### **Overview of the feature request**

Use sinon to mock axios instead of jest

##### **Motivation for or Use Case**

In my project it was useful to mock axios with sinon to have more possibilities to check what was called.
There is not much impact for the services but it makes it easier to add new code for more complicated calls

##### **Related issues or PR**

-   [x] Checking this box is ma

[2020-11-17 12:58] #13006 closed

[2020-11-17 14:03] fdelbrayelle opened #13068 "Switch modules to use jhipster command instead of yo."
##### **Overview of the issue**

When using JHipster Kafka module by launching `yo jhipster-kafka`, this new step is called in `JHipsterBaseGenerator`: registerCommitPriorityFilesTask and leads to a crashing error :

[code]

Cause by a api introduced in some minor version of yeoman-environment: https://github.com/jhipster/generator-jhipster/blob/c1279fa9747c3b824408401e5d45ca3be39d61ee/generators/

[2020-11-17 14:31] wmarques commented on #13066
Why use sinon while jest can also mock node_modules dependency ? What are the advantages of using `sinon` over jest mocks ?

[2020-11-17 14:33] wmarques commented on #12867
I think we should try to use the async pipe as often as possible, and then use the `takeUntil` without base class when we cannot use the async pipe.

For me using a base class for all our components is a bit too much for the benefit it provides...

[2020-11-17 14:35] mshima commented on #13068
For now I recommend to reinstall yo to update yeoman-environment and ignore this error.

This would be a temporary workaround.
I am planning to have a hard dependency on yeoman-environment 3.0.0 and probably yo will not be updated in time for jhipster 7.

Maybe we should switch modules to use jhipster cli instead of yo. What do you think @murdos ?

[2020-11-17 14:45] fdelbrayelle commented on #13068
Thank you for your answer!

It worked with `npm install -g yo@latest` after removing it from nvm :+1:

[2020-11-17 14:46] nonomoho commented on #13066
Sinon stubs have some advantages:
- It's less verbose
- More importantly sinon API is very easy and more natural comparing to Jest's implementation
- You can use `withArgs('...')`methods. Instead of `mockedAxios.get = jest.fn(apiName => (apiName === 'yourUrl' ? Promise.reject() : Promise.resolve({})));` you can use `axiosStub.get.withArgs('api/account').rejects();`

[2020-11-17 15:16] fdelbrayelle opened #13070 "docker-compose -f src/main/docker/kafka.yml up not working anymore"
##### **Overview of the issue**

`docker-compose -f src/main/docker/kafka.yml up` is not working anymore:

[code]

It seems that docker-compose version has been upgraded to `3.8` on 15/10/2020:

[code]

@DanielFran any idea please?

##### **Motivation for or Use Case**

Launching Kafka broker should work.

##### **Reproduce the error**

1. `mkdir test-app && cd test-app`
2. `jhipster` (with the la

[2020-11-17 15:21] mshima opened #13072 "Webflux with MariaDB test case is not completing."
##### **Overview of the issue**

Since reenabling blackhound, MariaDB test case is exiting with timeout.

##### **Reproduce the error**

Reenable webflux-mariadb-gradle test.

##### **Related issues**

https://github.com/jhipster/generator-jhipster/pull/12736.

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json

[2020-11-17 16:53] DanielFran commented on #13070
@fdelbrayelle Yes, @qmonmert update it in generator project to 3.8 version

[2020-11-17 19:34] pascalgrimaud commented on #13070
yes, it's normal. You need to upgrade docker compose, as v2 is for old version of docker-compose, maybe 2 years ago

So it's normal to be up-to-dated.
As there is no issue here, I'm closing the ticket

[2020-11-17 19:34] #13070 closed

[2020-11-18 00:58] #12796 closed

[2020-11-18 08:30] kaidohallik opened #13080 "If one-to-one relation value is selected then error in update form in Angular"
##### **Overview of the issue**

If one-to-one relationship value is selected and navigating to such objects update form then error "Bad request" is shown and relationship value is missing in update form.

##### **Motivation for or Use Case**

Update form with one-to-one relationship should work after selecting one-to-one value.

##### **Reproduce the error**

In the config included here follow th

[2020-11-18 09:51] ctamisier commented on #12577
Is ZonedDateTime the java type that is used after your JDL import ? (I tried to import your jdl, but it says that DateTime is an unknown field..).

1)
If it is ZonedDateTime:
Your issue may be related to this improvement: https://github.com/jhipster/generator-jhipster/issues/12262
Because with the current implementation there is no data storing the `zone`.

2)
If it is a LocalDate (as mentioned in

[2020-11-18 13:16] pascalgrimaud commented on #13064
plz, provide all information in template, as we don't have any information to reproduce your issue

[2020-11-18 13:16] pascalgrimaud commented on #13059
closing this as it looks like duplicate ticket

[2020-11-18 13:16] #13059 closed

[2020-11-18 13:36] pascalgrimaud opened #13081 "UAA support: should it be removed ?"
@xetys : you did a great job for UAA support, but today, it's not well maintained.
See https://github.com/hipster-labs/jhipster-daily-builds/actions?query=workflow%3A%22Microservices+UAA%22

As the support of UAA is mainly done by 1 person, I open this ticket to discuss if someone else wants to maintain this option ?
If not, the option could be simply removed, as it is useless to keep an option wh

[2020-11-18 13:37] pascalgrimaud commented on #13081
cc @jhipster/developers

[2020-11-18 13:41] pascalgrimaud commented on #12300
So the discussion would be:
- should we remove Couchbase support or not ?
- looking the statistics: https://start.jhipster.tech/statistics -> I don't think Couchbase is used a lot (none/other -> 0.01% the last year)

[2020-11-18 13:48] avdev4j commented on #13081
hi,
My 2 cents
I would say UAA should be moved to a dedicated blueprint. By doing this, it will target a specific version of JHipster, the maintenance will be easier and it will avoid to break features (or builds) in the main generator if there is new breaking changes for example.

regards,

[2020-11-18 14:30] packums opened #13082 "The order of global and vendor scss files is incorrect in angular.json"
The sequence of imports should have been vendor.scss followed by global.scss. The styles defined in global.scss are being overridden by the default.

https://github.com/jhipster/generator-jhipster/blob/ecab1c56f1f1c5f4374328b1d789d13689f3b0a7/generators/client/templates/angular/angular.json.ejs#L49

Sorry if the description is succinct, the issue is also simple.

[2020-11-18 15:19] khalidnouh commented on #13064
![2020-11-18 17_16_30-Greenshot](https://user-images.githubusercontent.com/10672746/99549083-fa516f80-29c1-11eb-98b3-2ae78fa8934a.png)
in this attached image you can see a dropdownlist of ids ,it shows only 21 item (in the database i have 31 items),
i don't want  to increase the size , so i need a way to get the other items in this list

[2020-11-18 15:20] khalidnouh commented on #13064
@pascalgrimaud

[2020-11-18 15:25] pascalgrimaud commented on #13064
You need to use `jhipster info` and copy paste all information on your config.

Without this, we can't guess your config ?
Is it with Angular ? React ?
Is it with Cassandra ? Neo4j ?
Is it Reactive or Mvc ?
etc...

[2020-11-18 15:26] #13036 closed

[2020-11-18 16:57] khalidnouh commented on #13064
@pascalgrimaud
i using angular
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "applicationType": "microservice",
    "gitCompany": "",
    "baseName": "ApplicantUserManagement",
    "packageName": "com.isoft.applicant.um",
    "packageFold

[2020-11-18 17:05] ctamisier commented on #13038
After the DTO improvement merge, we now have N+1 selects (with a Foo many-to-many Bar)
![image](https://user-images.githubusercontent.com/766263/99562230-1f48e100-29c8-11eb-9d20-711149ee3c38.png)

I don't know why but additional requests didn't show the 1st time I ran my app. But I can see them now... (screenshot)
It seems that `show-sql: true` is not the best way to debug SQL requests.. I will in

[2020-11-18 17:27] mshima commented on #13038
Probably due to caching.

We probably should implement a mix of https://vladmihalcea.com/fix-hibernate-hhh000104-entity-fetch-pagination-warning-message/ and https://vladmihalcea.com/hibernate-multiplebagfetchexception/

Something like
Fetch the entity:
[code]

And then fetch every bag separated:
[code]

[2020-11-18 21:13] #13080 closed

[2020-11-18 21:21] mshima commented on #12949
@pascalgrimaud this change is a breaking change.
IMO can be done after first beta, but should be resolved before final.

[2020-11-18 23:50] mshima opened #13090 "Enable prettier for html files."
##### **Overview of the feature request**

We should consider enabling prettier for html files at the generator.

##### **Motivation for or Use Case**

Standardise html formatting.

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-11-19 00:47] mshima commented on #12697
@vishal423 do you want to provide the PR?
This npm commands should be stable during jhipster 7 cycle.

[2020-11-19 06:52] khalidnouh commented on #13064
@pascalgrimaud  if there is any shortcut to swap between elements in the drop down list?

[2020-11-19 08:14] pblanchardie commented on #10097
Hi @vladmihalcea & @DerJochen,

I was waiting for such a remark.

"31" is hard to understand at first sight, and make people wonder "why", so I should have commented this line with the link to @vladmihalcea's post.

For rare use cases where lots of entities are processed in collections, I think that you can write specific classes, override hashCode and achieve your goals while keeping a constant h

[2020-11-19 08:54] vladmihalcea commented on #10097
You can surely use the associated Java `Class` `hashCode` as that's going to be a constant as well.

[2020-11-19 09:06] jwgmeligmeyling commented on #10097
Its only going to actually help with performance if the collections consists of objects of mostly varying types though. Performance will still be linear at best with the maxiumum frequency of any concrete type in the collection.

So it only helps in a very specific use-case.

Beyond that it just eliminates a magic constant ;-)

[2020-11-19 09:08] vladmihalcea commented on #10097
@jwgmeligmeyling People have been constantly asking me "why 31" on my blog, so I can relate with @pblanchardie. This change will make the implementation more idiomatic.

[2020-11-19 09:15] jwgmeligmeyling commented on #10097
Fewer raised eyebrows also means that people will be less aware of the hashcode side effects and what the workaround is there for. Even with the `getClass().hashCode()` implementation you probably still want to put a comment near it anyway. People might otherwise replace the implementation with a "smarter"/"faster" only to run into the same old bugs ;-) People should just read the article about it

[2020-11-19 09:19] jwgmeligmeyling commented on #10097
And in fact, when dealing with very large collections, you may want to use an ID based hashcode function instead. Only be sure to never add an unmanaged/unpersisted entity to a collection when you do so.

[2020-11-19 09:20] vladmihalcea commented on #10097
That's a good observation. In my articles, there's also the explanation. So, a comment above the return call is a good idea.

[2020-11-19 09:25] vladmihalcea commented on #10097
@jwgmeligmeyling About this comment:

I think this a common scenario when doing merging. Someone is loading the entity with a collection. Then, while the entity is detached, they add new child entities (so their id is `null`), update some child entities, and remove others, and then they call `merge` on the parent entity. So, it's not bad if unmanaged entities are passed to a collection.

[2020-11-19 09:35] DerJochen commented on #10097
I never expected this to pop-up again in my mailbox...

IMHO the best generic hashCode() method for an entity class template is one that uses getClass().hashCode() and combines it with the ID (if not null) or Object.hashCode() (if ID is null).

This is quite fast and will give a nice spread of hashcodes. It might be a problem if multiple unpersisted instances of the same entity exist - but I canno

[2020-11-19 09:39] vladmihalcea commented on #10097
The situation where this will not work if you have a managed entity with a `Set` collection where the child has a `@GeneratedValue` identifier.

Now, when you add a child entity to it and call `flush`, you won't be able to find the child entity as the hash of the id has changed. The only way to make it work is to call `persist` on the entity before adding the child entity to the collection.

[2020-11-19 09:40] DerJochen commented on #10097
Sorry I did not answer this when you ask. I agree that normally you should not load a large amount of entities and put them in a hash collection. In that case (as far as I remember now) I was processing a very large amount of entities for a reporting system. The 50k was not the "very large amount" but basically a key  for even more child entities. So loading them in memory and using them to aggreg

[2020-11-19 09:46] DerJochen commented on #10097
True. But there is a lower limit of what developers should know about the collections they use. And if you change the hashcode relevant values **while** the entity is in a hash collection it basically will be lost. And, like you said, if you know what you are doing there is a non-hack solution how ti handle that correctly.

[2020-11-19 09:46] vladmihalcea commented on #10097
@DerJochen 50k might be just fine for a DB having a lot of hardware resources available. The root cause comes from not having a fixed limit on the query result set. If data keeps on accumulating, what was working fine some time ago, now works slower and slower. And, unfortunately, this is a very common performance issue.

If the report always fetches the same amount of data and the performance is

[2020-11-19 09:53] DerJochen commented on #10097
@vladmihalcea Correct again. At the time we weight our options and got an estimate of our customer of how many entities would be added per month/year. Going by that the in-memory solution would work just fine for a long time. I am a bit vage, since I have not been working in that project for over a year now.

Also, the report logic "grew" over a decade or two, so it was quite complicated with a lo

[2020-11-19 11:37] kaidohallik commented on #13082
I confirm this issue, thanks for reporting @packums
Would you like to do a PR for fix?

[2020-11-19 12:33] #12778 closed

[2020-11-19 18:56] vishal423 commented on #12697
@mshima, I will try to create PR over the weekend. I don't see any complexity on this change and will keep it backward compatible (not removing old scripts)

[2020-11-20 10:52] kaidohallik commented on #12813
Bounty claimed https://opencollective.com/generator-jhipster/expenses/28313

[2020-11-20 10:55] pascalgrimaud commented on #12813
@kaidohallik : approved

[2020-11-20 14:49] xetys commented on #13081
if moving to a blueprint, would it still be possible to use it in a JDL like today?

I see the issue with maintenance, I'm kinda far from contributing the past year. I'd love to find a way back to this, but I'm with you, other contributors to UAA would be beneficial. I remember there has been a time when a quite notable amount of users were using UAA. Could someone tell me how the current situatio

[2020-11-20 16:21] MathieuAA commented on #13081
Yes you can! As long as options from the blueprints are handled, well, inside the blueprint, everything should be good!

[2020-11-20 20:35] mraible commented on #12441
Re-opening and adding a bug bounty. I'll work on it near the end of the year if no one else picks it up.

[2020-11-21 10:25] packums commented on #13082
Thanks for addressing this so quickly, however I noticed that angular-cli messes up the order of styles declared during the production build `ng build --prod`.  To state it differently, dev mode (`ng serve`) works fine after this fix but production build has incorrect sequence. This is possibly caused by this issue https://github.com/angular/angular-cli/issues/9475 . I am using angular client vers

[2020-11-21 15:50] ctamisier commented on #13038
If I am not wrong, these 2 requests are exactly what `@BatchSize` performs.

From your proposition the plus I see is that you can dynamically set the `.setMaxResults(...)` with the current page size (instead of having it harcoded in the `@BatchSize(size = 20)` for example).

But... If we have several many-to-many relations from one Entity (ex: Foo many-to-many Bar and Foo many-to-many Baz, or more

[2020-11-21 19:25] mshima opened #13112 "Replace JpaRepository with @RepositoryDefinition"
##### **Overview of the issue**

We are currently using `EntityRepository extends JpaRepository<Entity, Id>`.
It works great but `JpaRepository` provides much more apis than we use. Eg:
- Batch api
- Query by example

We should replace it with `@RepositoryDefinition(domainClass = Entity.class, idClass = Id.class)` annotation and implement only the required methods.

##### **Motivation for or Use C

[2020-11-22 06:28] khalidnouh commented on #13064
@pascalgrimaud  i need your help sir

[2020-11-22 07:59] kaidohallik commented on #13082
I confirm that in current `main` branch styles order is correct in `dev` but wrong in `prod`, so reopening.

[2020-11-22 08:35] pascalgrimaud commented on #13112
I think it was the initial goal. Maybe our generated code don't use all apis, but our users will.

[2020-11-22 09:41] mshima commented on #13082
@kaidohallik can you try with `@angular-builders@11` it should be fixed at `@angular/cli@11` but we are effectively using `@angular/cli@10`.

[2020-11-22 11:16] pascalgrimaud commented on #13064
As you choose pagination, the findAll method return a Page.
If you want to get all elements, remove the pagination, or modify your code to return a full list.
But don't forget that if your table have a lot of entries (more than 1000), the selection will be painful for the end user.

I'm closing this, as there is no bug in JHipster : it's the normal behavior of generated projects with JHipster.

[2020-11-22 11:16] #13064 closed

[2020-11-22 15:28] kaidohallik commented on #13082
I tried with `@angular-builders@11` and with this it's not working not in `dev` nor in `prod`.
But then I deleted `vendor.ts` file which refers to `vendor.css` (it means `vendor.css` is referenced twice in our application) and all is working fine after that.

So to fix this my suggestion is:
* as `@angular-builders@10` and `@angular-builders@11` are acting differently then upgrade to `11.0.0-beta.

[2020-11-22 20:21] kaidohallik commented on #13082
Removing `vendor.ts` solves this also without `@angular-builders@11`, so doing PR shortly without using `11.0.0-beta.1`.

[2020-11-22 20:23] mshima commented on #13082
@kaidohallik if you can, update `@angular-builders` too.
See https://github.com/just-jeb/angular-builders/issues/873#issuecomment-731719277

[2020-11-22 20:38] kaidohallik commented on #13082
OK, and according to https://github.com/just-jeb/angular-builders/issues/873#issuecomment-731767550 it's safe to use `11.0.0-beta.1`, so let's do it.

[2020-11-23 11:42] medamineziraoui commented on #12887
Hello im starting working on this issue today, i will keep you updated with my progress :slightly_smiling_face:

[2020-11-23 11:45] #13082 closed

[2020-11-23 12:14] kaidohallik opened #13125 "Follow closer Angular Style Guide"
### **Overview of the feature request**

In some important parts we don't follow Angular Style Guide. In this issue I propose 3 enhancement to follow closer Angular Style Guide (and therefore make generated application easier to develop).

#### 1. Move models away from shared folder

We generate entity models to `shared/model` folder. This violates against several rules in Angular Style Guide:
* h

[2020-11-23 13:15] mshima commented on #13125
I agree.
- 2.* doesn’t need discussion IMO.
- 1.2 I don’t know about `app/entity-enums` maybe `app/enums` or `app/models`.

[2020-11-23 14:08] kaidohallik commented on #13125
1.2 - yes, `app/enums`  and `app/models` are better choices. I was thinking that if user puts something else than entity related enums there then names can conflict, but fortunately all this is under developer control - developer responsibility is to choose non conflicting names.

Maybe `app/models` is better, then can put also other models, not only enums, there.

[2020-11-23 15:09] mshima commented on #13125
Another suggestions:

1. app/core/user/user.*.ts -> app/entities/user/
2. app/core/user/account.model.ts -> app/core/account
3. app/core/auth/account.service.ts -> app/core/account
4. Drop app/core/user/authority.model.ts. Should be a string.
5. Modularize app/shared.module.ts.
6. Move app/core/util/alert.service.ts and app/shared/alert together? core or shared?

Looking forward for a `jhipster ng

[2020-11-23 18:42] funder7 opened #13129 "Localization key "metrics.jvm.http.table.max" created only in english language file"
##### **Overview of the issue**

The key `metrics.jvm.http.table.max` is present only in the english localization file, while in the others is missing.

##### **Motivation for or Use Case**

Multi language project.

##### **Reproduce the error**

Generate a project from JDL having: `languages [en, it, fr, es, de]`

##### **Related issues**

/

##### **Suggest a Fix**

I can provide the italian loc

[2020-11-23 18:53] kaidohallik commented on #13125
I prefer those under core, those are used also in user-management, moving under entities decreases visibility of those.

2. and 3. - account objects seem as core objects, used in many different places, I prefer them under core.

I moved this under `app/core/user` recently in https://github.com/jhipster/generator-jhipster/commit/a17093d490539c8916805a4cdf540d862885433f - if you want to revert this

[2020-11-23 19:24] mshima commented on #13125
My bad, move to `app/admin/user-management/`,
Used only there and `account/register.service.ts` that should use `account.model` instead of `user.model`.

Didn't moved out of core.

IMO
- revert `account.authorities` to String[].
- And move authorities to `app/admin/user-management/`

Just trying to brainstorm a `jhipster ng-jhipster`, leave as it is now.

You know better than me.

[2020-11-23 20:00] mshima commented on #13125
@kaidohallik I've created @jhipster/angular group to ping developers about some angular design changes.

[2020-11-23 22:06] medamineziraoui commented on #12887
- [ ]  Vuejs: we tried the fixed offered by @atomfrede, we confirmed that it change update the dayjs with the current app locale.
- [ ] React:  I located this reducer that update locale in the hipster `TranslatorContext`
[code]
What do think about updating React this way to fixe the dayjs locale?
- [ ] Angular: i tried starting the project but i got an error
![image](https://user-images.githubuser

[2020-11-23 22:24] medamineziraoui commented on #12887
- When we tried starting spring section of a generated jhipster project 3 weeks ago, we got this error
![image](https://user-images.githubusercontent.com/57661415/100021560-f5395980-2de1-11eb-8a6c-3b03efb8761c.png)
On multiple machines.
Today we tried starting again the same process ( ofc after pulling changes from jhipster main project , we got the changes ), and we still got the exactly the same

[2020-11-23 22:31] DanielFran commented on #12887
@medamineziraoui You need to checkout jhipster-bom project and build it locally.

[2020-11-23 22:37] medamineziraoui commented on #12887
Thank you for your answer @DanielFran, you are talking about this repo ? https://github.com/jhipster/jhipster-bom
Is there anything else I need to do ( any change in configuration for generated project ?)

[2020-11-23 22:38] DanielFran commented on #12887
Yes, it is this repo. No changes required on generator side...

[2020-11-23 22:38] medamineziraoui commented on #12887
Ok thank you, i will test this tomorrow :slightly_smiling_face:

[2020-11-24 02:45] yelhouti commented on #13018
After disabling the check, switching in my jdl:
[code]
with
[code]
I get exactly the same code, which is exactly what I want.

The reason I prefer writing my JDL the other way, is to have an easier JDL to read:
I define below each entity, it fields then it its entities, where the lest side (in this case manager) show that there is a managerId field in employee, this is the same reasoning for OneTo

[2020-11-24 04:24] yelhouti commented on #7112
This is almost done, we have a working version compatible with previous tests... we are doing a big refactoring as suggested by mshima. There also some edge cases that we know are not working perfectly that would happen on very complicated schémas, we will add tests for them and fix them once we have time or once the community manifests interest for them.
Hopefully, once all this is merges, I will

[2020-11-24 04:39] yelhouti opened #13132 "Add globalFilter field in criteria that would much on many fields"
##### **Overview of the feature request**

Often, when using filterable entities, (specially in a dropdown with search box) it is very useful to have have some field in criteria that would much against multiple fields:
(ex: employee.visa, employee.firstName, employee.lastName) elasticsearch can be used but is often over kill for such narrow use cases. I would suggest adding a new field in criteria

[2020-11-24 05:22] yelhouti opened #13133 "Move the logic of converting criteria to specification out of QueryService."
##### **Overview of the feature request**

In the current generator, it is the Job of the EntityQueryService to convert the criteria into a specification, the problem with this approach is that it prevents from easily filtering relationships based on these fields if the entity is not marked as filterable.
Also all the logic of the of createSpecification is static and should not require retrieving

[2020-11-24 05:40] yelhouti opened #13134 "add field like to Filters"
##### **Overview of the feature request**

Sometimes, it convient to filter an entity base on a pattern (usernames/firstNames for example are better suited to be filtered using startWith) it would be great to add String field to `jhipster.service.filter.Filter` to be able to request that without adding hacks.

Why not StringFilter, because sometime you want to filter by date: `Like 2020-01-%`...

[2020-11-24 06:22] kaidohallik commented on #12887
Try to delete `node_modules` folder and `package-lock.json` file and run `npm install` again, this can solve this error.

[2020-11-24 07:33] kaidohallik opened #13138 "Generator freezes after #13124"
##### **Overview of the issue**

After #13124 in my Windows 10 `jhipster` command is freezing after welcome message:
[code]
If reverting #13124 then generator starts to work again.

##### **Motivation for or Use Case**

Generator should not freeze. Generator should work.

##### **Reproduce the error**

Link `generator-jhipster` latest main branch and try to generate with command `jhipster`

#####

[2020-11-24 08:17] medamineziraoui commented on #12887
Thank you @kaidohallik i will try this later this day and i will keep you updated :slightly_smiling_face:

[2020-11-24 09:15] kaidohallik commented on #13138
FYI: Prettier update to 2.2.0 by dependabot in #13120 is also failing.

[2020-11-24 09:39] kaidohallik commented on #13138
FYI: I reverted #13120 and updated Prettier to 2.2.0 and this issue still exists. So seems to be Prettier 2.2.0 issue.

[2020-11-24 10:03] kaidohallik commented on #13138
I tested in Windows with different shells and Prettier 2.2.0 in JHipster:
* **is not working** with Command Prompt and PowerShell
* **is working** with Git Bash

[2020-11-24 10:10] kaidohallik commented on #13138
I updated some existing project to Prettier 2.2.0 and formatting with this was successful in Command Prompt - so problem exists only when using JHipster + Prettier 2.2.0 in Command Prompt or PowerShell.

[2020-11-24 10:17] DanielFran commented on #13138
cc @clementdessoude

[2020-11-24 13:31] kaidohallik commented on #13138
Sharing some debug information.

Process hangs in `node.js` internal function
[code]
in line
[code]
where data is "Generator is starting!" and generator is `jhipster:common` (the same function with `jhipster:app` succeeded and text was printed out in the console)

This "Generator is starting!" comes from `yeoman-generator/lib/index.js`

Last point in JHipster code is function `composeWithJHipster`

[2020-11-24 14:04] mshima commented on #13138
Reverting fixes the problem?

[2020-11-24 14:20] kaidohallik commented on #13138
Yes.

[2020-11-24 14:25] qmonmert commented on #13129
I confirm the bug

[2020-11-24 14:27] mshima commented on #13138
What node version are you using? Can you try with 14 lts?

[2020-11-24 15:30] gzsombor commented on #13132
As you showed, it's trivial to add to the generated code, however this requirement looks very specific to your case. Yes, searching in 2-3 string fields could common, but searching in all - would be definitely surprising behavior.

[2020-11-24 15:43] yelhouti commented on #13132
@gzsombor I clearly don't want to implement searching in all fields, but just in the ones used in relationships.
We introducing composite keys, which means that we would need to start searching in two or more entities for the dropdown, this will become a must have if we want searchable dropdowns without elastic search.

[2020-11-24 15:53] kaidohallik commented on #13138
My node version was `v12.18.4`, after upgrading node to `v14.15.1` `jhipster` started to work again with the latest `main` branch.
Thanks @mshima for suggestion.
Closing this as this is working with the latest Node LTS version.

[2020-11-24 15:53] #13138 closed

[2020-11-24 16:05] mshima commented on #13138
For reference, the node.js bug seems to be https://github.com/nodejs/node/issues/30701

[2020-11-24 19:50] gzsombor commented on #13132
Sorry, I don't understand. You've showed a code, where you would like to search in customer "first name", "last name" "avs number" and "other" - and also in the customer id - which is a number, not a string. How does this relates to compound keys? Do you want to search by compound keys? But in that case, you could do it by the individual parts of the keys, just "and"-ing together.

[2020-11-24 20:24] gzsombor commented on #13133
This is not accidental, this is the intended design, to allow easy customization. For example, if you want to add a 'like' filter to any Filter class, you could create a custom subclass for StringFilter, and in your service classes, you can override/extend the appropriate buildSpecification(...) with your new logic, and it's done, you can use it everywhere. If this were a mix of static functions c

[2020-11-24 21:00] gzsombor commented on #13134
I don't think it's good idea to:
* add 'like' field to every field type, even if databases support doing it - converting a timestamp or a number to uppercase? And doing a string match? Doesn't sound too meaningful. And I guess, this could be slow - so it won't be too hard to slow your server down, with couple of curl commands, with something like /api/myentity?id.like=%9%1%&start=10000
* making th

[2020-11-24 21:30] medamineziraoui commented on #12887
I tried both solution for jhipster-bom and node_modules and works fine ( needed to upgrade node version too for angular ), i got another issue when trying to link the generator-jhipster
![image](https://user-images.githubusercontent.com/57661415/100153495-7f49f680-2ea4-11eb-8250-bb94b5e28c72.png)
i will check it out and continue tomorrow

[2020-11-24 21:31] medamineziraoui commented on #12887
Never mind i upgraded the node and it works now
![image](https://user-images.githubusercontent.com/57661415/100153716-ccc66380-2ea4-11eb-9052-f8dd9366f320.png)

[2020-11-25 04:54] pmverma opened #13140 "`jhipster` command with main branch stuck forever when run with Windows cmd"
##### **Overview of the issue**

With main branch, `jhipster` command stuck forever when run with Windows cmd
However with GitBash, it run fine.
![image](https://user-images.githubusercontent.com/5289123/100184358-bd303480-2f0f-11eb-9dc5-f467060d0877.png)

##### **Motivation for or Use Case**

Command should not stuck forever.

##### **Reproduce the error**

In Windows 10 (with my version 20H2),

[2020-11-25 05:54] yelhouti commented on #13132
No worries, let me give you some example:
here is a JDL:
[code]

lets say I want to create an EmployeeSkillCertificate for a specific EmployeeSkill, I would need to use a dropdown.
To find the correct EmployeeSkill I would need to filter either by:
1- EmployeeSkill.employee.username
2- EmployeeSkill.name (the name of the skill)
since there is more than one entity, I would need to search using both

[2020-11-25 06:02] yelhouti commented on #13133
@gzsombor you ignored my main complaint : avoid creating the whole QueryService of an entity just to be able create a specification from a criteria.
And although it is the intended design, this was designed when we had flattened DTOs, and it doesn't mean it is a good design (anymore).

[2020-11-25 06:19] yelhouti commented on #13134
I can move it to StringFilter only, and in case someone needs it somewhere else, he can reimplement the buildSpecification... which I find cumbersome.

You are focusing on the date example, and I would also use between for that case, I was just giving an example.

I am not proposing to show the % to the end user, the % would be added at the end by the javascript for startWith, at the beginning for

[2020-11-25 06:35] yelhouti commented on #13134
I would also like to note that the reason why I added like at the top, is because of the Java limitation of not being able to extend multiple classes.
A better approche would have been to add a LikeFilter (that adds the like field and methods), and use the visitor pattern (ot just checking instance of) to call it when implemented, it would also allow to have one buildSpecification  function that d

[2020-11-25 06:52] kaidohallik commented on #13140
Duplicate of #13138 - solution is to update `node.js` to the latest LTS version.

[2020-11-25 06:52] #13140 closed

[2020-11-25 07:15] #13129 closed

[2020-11-25 07:59] MathieuAA opened #13141 "JDL: an application is not generated if it doesn't contain entities"
As @pmverma reported in our mailing list (thanks again).

##### **Overview of the issue and  Motivation for or Use Case**

An application should be generated whether it contains entities or not, it's not the case.

##### **Reproduce the error**

Importing this JDL sample only generates the first app.
[code]

##### **Related issues**

I don't think there is one.

##### **Suggest a Fix**

[This](htt

[2020-11-25 10:51] pmverma opened #13142 "Java code won't compile due to variable name conflict"
##### **Overview of the issue**

[code]
##### **Motivation for or Use Case**

JHipster should generate compilation-error free code.

##### **Reproduce the error**

Using main branch, on a fresh monolith app, generate following jdl file.
[code]

##### **Related issues**

##### **Suggest a Fix**

I have extracted generated entity code.

[code]

- `----2----`  variable name `myFileData`  inside forEa

[2020-11-25 11:54] mshima commented on #13142
We have back reference update at `add*` and `remove*` for a long time, at least jhipster 5.
IMO makes sense to add to setters too.

I have plans to add. Blocked by https://github.com/jhipster/generator-jhipster/pull/13044

[2020-11-25 12:12] mshima commented on #12949
Annotations for relationship should be inverted IMO.
`OneToOne { @id A to B }`

Should generate:
[code]

Meaning A is a id for B
Just like `OneToOne { B to @id A }`
Makes more sense for me.

[2020-11-25 12:24] MathieuAA commented on #12949
Agreed, it's already taken care of BTW :)
Thanks Marcelo

[2020-11-25 14:03] mshima commented on #13125
@kaidohallik I think you can go ahead.

[2020-11-25 14:30] kaidohallik commented on #13125
`user.service` and `user.model` are used also by entities, so `core` seems better place for them.

OK, my bad. This is one possible regrouping option. I don't have clear opinion here is this grouping better or not.
If we can't move `user.*.ts` out from `core` then maybe leave this as this is to spare one additional folder.
And if we could move `user.*.ts` out from `core` then maybe also better to

[2020-11-25 15:04] kaidohallik commented on #13125
**Point 1 models.** As #13128 proposed moving models just to root folder not to under entity then maybe we should vote about final decision, options?:
a) just move `shared/model` to `model`
b) do as I initially proposed but instead of `entity-enums` use `model` as folder name

**Point 2 polish references.** If nobody else wants to take that then I can do that myself.

**Point 3 Move unit tests nex

[2020-11-25 15:33] mshima commented on #13125
IMO `user.service` and `user.model` they should be splitted into 2 related to https://github.com/jhipster/generator-jhipster/issues/12374:
1. admin for editing.
Located at `app/admin/user-management/`.
2. Another 'readonly' service for relationships.
Located at `app/entities/user/`.

Let's keep this item for later.

Authorities is a database on server side, we are missing the authorities admin fro

[2020-11-25 15:44] mshima commented on #13125
I prefer b).

The only thing that it feels kind of wrong is because java/react/vue generates separated.
But I in favor of the change.

File renames should be transparent and we should not block enhancements/cleanups.
Just don't change the formatting for now.

[2020-11-25 18:52] kaidohallik commented on #13125
I also vote for b)
@qmonmert when you created #13128 did you then with this disagreed moving entity models to `app/entities/<entity-name>/<entity-name>.model.ts`? Or you just started PR and you agree with moving entity models to `app/entities/<entity-name>/<entity-name>.model.ts`?

For me it's very clear that we should follow Angular Style Guide:
* all those good features described in Angular docu

[2020-11-25 18:59] kaidohallik commented on #13125
Currently configuration is under `core/config`, user may want to change configuration, if you prefer core as immutable then we should move `core/config` to `config`. I basically agree with this but drawback is that we have then 1 more folder in root level.

[2020-11-26 00:36] enesdogan27 commented on #9949
Definitely what i was looking. Thank you for amazing work guys.

[2020-11-26 03:32] magick93 opened #13144 "Entites menu empty after ./mvnw and npm start"
##### **Overview of the issue**
After generating a new project, then running
1) ./mvnw
1) and then `npm start`
1) and browsing to ___
1) then logging in as `admin`/ `admin` I would expect that the `Entities` menu would be populated.

However its not.

##### **Motivation for or Use Case**

It is expected that running `npm start`, as described in https://github.com/jhipster/generator-jhipster/issues

[2020-11-26 05:40] pascalgrimaud commented on #13144
@magick93 : how did you generate your project ? which command did you use ? is it with quarkus blueprint ?

[2020-11-26 06:26] magick93 commented on #13144
Hi @pascalgrimaud - thanks for the quick response. I'm not at my work computer now so I cannot say the exact command, but yes it is using the quarkus blueprint.

[2020-11-26 10:41] wmarques commented on #13125
For me we should keep entities under shared because they might be used elsewhere in the app.

About unit tests location I have mixed feelings. Other 2 client frameworks use the "test" folder pattern so I think we should be consistent here and decide for the 3 frameworks and not only Angular. For me that requires a question in the mailing list because it's a strong structural change.
However I agre

[2020-11-26 10:44] pascalgrimaud commented on #13125
this ticket is important, so we needs to discuss in the mailing list

[2020-11-26 13:25] #13066 closed

[2020-11-26 14:37] kaidohallik commented on #13125
Started thread in the mailing list: https://groups.google.com/g/jhipster-dev/c/wq6pe4VLPlE

[2020-11-27 17:52] carestra opened #13147 "Generates e2e-test fails since expected date format is of unknown format"
##### **Overview of the issue**
Importing entity generates e2e-test which fails since expected date format is of unknown format.
Exception:
AssertionError: expected '10120-01-26T02:30' to include '2001-01-01T02:30'

##### **Motivation for or Use Case**
I expect the generated e2e-test are correct after importing an entity.

##### **Reproduce the error**
Steps to reproduce:
1 - Install JHipster usin

[2020-11-27 21:04] gzsombor commented on #13134
Have you seen, that there is already a 'contains' in the StringFilter? You can use it now - it even has the problem, that it won't escape the % characters in the input :(

When I wrote 'user' I meant the user of the API -it's the frontend developer, or the developer of an other microservice, who needs to call this API. And even if we just consider web clients - you need to handle this in the 3 off

[2020-11-27 21:27] gzsombor commented on #13133
But why do you want to avoid creating a service? Creating services/components is the way of programming in Java - at least since the rise of Spring. We can argue about, how big a service should be, and how to separate things, here, the EntityQueryService is responsible to converting a criteria into a list of matching entities, with all the small, nearly one liner functions hidden in the ancestor t

[2020-11-27 21:58] gzsombor commented on #13132
Thanks for the explanation, I mostly understand now. One question is that, do you want to have a dropdown, or an autocomplete text field? For a dropdown you don't need filtering, just ask the backend for 20 entities, and done (this is what JHipster currently does for every entities) So I assume, that you want autocomplete, aren't you?
 It's a bit funny, because 3 years ago, I wanted to do it for p

[2020-11-28 08:17] yelhouti commented on #13132
@gzsombor I am using some king of a mix between dropdown and autocomplete, but I don't want to talk about the details of that here, as it's not relevant to the discussion., but feel free to ask me on gitter or otherwise and I will explain the constraints that lead to the solution we are using now.

I would strongly discourage against the use of the id field in the frontend, since it is an implemen

[2020-11-28 08:19] yelhouti commented on #13132
I would really like to start working on this, as soon as I know that is desired, and when ready will get merged.

[2020-11-28 08:28] yelhouti commented on #13134
Actually I can't since it automatically add % around the value I send `%value%` when sometime as you mentionned, we only need startWith.

No you don't, you just ignore it, the same way you ignore greaterThan notIn... you only use what you need.

The reason I proposed `like`, is that it avoids other people coming later and asking for endWith, or some weird match, that would be very tedious to imple

[2020-11-28 08:44] yelhouti commented on #13133
We can create a query service for each entity, even if it is not marked filterable in the JDL, but in that case I would argue that we should move some of the logic around. from an aesthetics perspective, I don't like having a EntityQueryService with the findByCriteria that is never used. I would rather move the findByCriteria to the EntityService when needed (entity filterable, pageable...) and ha

[2020-11-28 09:42] gmarziou commented on #13133
I'm in favor of keeping current service because it's easier to mock for testing than a static helper.

[2020-11-28 09:47] yelhouti commented on #13133
@gmarziou good point, how about the other changes? generating the QueryService for all entities (maybe renaming it) with only  createSpecification and move `[findBy|count]ByCriteira` to the EntityService when the entity if filterable/pageable... ?

[2020-11-28 11:45] ctamisier commented on #13125
I can't reply on the mailing list so here are my though about "Best practices and style guide" on the frontend frameworks (Angular, React, Vuejs, Svelte, ...and many more to come potentially...) for JHipster.
I'm not sure that: One "Frontend best practices and style guide" to rule them all is a good solution.
There are different frameworks, designed differently, and each of them can have its own r

[2020-11-28 12:33] vishal423 commented on #13125
@ctamisier, I fully agree with you, and for the same reason in the svelte blueprint, the technological and structural choices are different than those used over here

[2020-11-28 13:54] qmonmert commented on #13147
@carestra which test fails ?

[2020-11-28 14:00] carestra commented on #13147
@qmonmert the test in src/test/javascript/e2e/entities/activityactivity-update.page-object.ts

Updating the info with the failing test name.

[2020-11-28 17:35] qmonmert commented on #13147
I don't reproduce on the main branch

[2020-11-28 20:43] gmarziou commented on #13133
@yelhouti maybe it would help if you could provide a sample project with a commit showing your proposed changes.

[2020-11-28 21:27] gzsombor commented on #13133
So you want to generate the criteria object, and part of the EntityQueryService - which deals with the criteria -> specification conversion, no matter if the user asked for filtering or not, and move the actual 'specification' usage to somewhere else, don't you?
I think in this case, the following two solution would make more sense:
* generate the whole criteria and EntityQueryService by default,

[2020-11-28 22:14] gzsombor commented on #13134
As this filtering feature is in JHipster for around 4 years, and in these years, people generated thousands of applications (yeah, 99% was just a POC, but...)  and if I remember correctly, you are the first, who opened a ticket about adding prefix/postfix/'like' matching, I think:
* this is not a too common requirement
* the ones, who needed, after 10 minutes, figured out, that they can add it by

[2020-11-28 23:44] gzsombor commented on #13132
Sorry, maybe I don't follow you, what and how do you want to achieve.
If you just want to filter for entities with 'or' expression, in multiple fields, you can write something like this:

[code]

Have this string field inside the criteria.
But I don't get, from where do you want to get, which fields should be queried, and which not. Do you want to add a new questions when the user creates a string

[2020-11-29 07:57] yelhouti commented on #13132
@gzsombor code would look close to this, but we would not ask questions, we would use the otherEntityFields (fields is plural in case of composite ids)

The question is, why not add these manually? And my answer would be, because when I write a blueprint for the frontend, that uses filters (in dropdowns for pageable entities) I need to be able to filter by something, and globalFilter is the right

[2020-11-29 08:08] yelhouti commented on #13134
@gzsombor I generated few applications that are now in production with JHipster I added code manually to fix the use case. BUT, it is ugly and I need replace the extends QueryService with MyQueryService and StringFilter with MyStringFilter everytime I generate a new entity (which is just a waste of time).

I have also been guilty of: "convinced their product owner, that 'contains' matching is perf

[2020-11-29 08:21] yelhouti commented on #13133
@gmarziou Isure let me get back to you with that.

@gzsombor
If we decide to always generate that code (which I don't mind, but I understand why others might), I would still argue that code should be moved around (I understand that the other ways you suggested are even easier to code and get approved), but,
- I believe similar stuff should be grouped (findAll and findAllByCriteria should be in the

[2020-11-29 10:18] carestra commented on #13147
I still have the problem and I can reproduce it al lover again with the .yo-rc.json and entity.jdl files.
I get:
Activity e2e test
    ✓ should load Activities
    1) should create and delete Activities

  8 passing (10s)
  1 failing

  1) Activity e2e test
       should create and delete Activities:
     AssertionError: expected '10120-01-29T02:30' to include '2001-01-01T02:30'
      at ActivityU

[2020-11-29 19:25] #13142 closed

[2020-11-29 20:07] gzsombor commented on #13133
Yeah, findAll and findAllByCriteria could go into the same service, valid argument. I usually end up with putting every querying and listing code into the EntityQueryService, and putting just the creating/updating/deleting logic into the EntityService - this  works pretty well (And putting the business logic - which modifies the entities - into the individual EntityServices, and later move to sepa

[2020-11-29 20:18] yelhouti commented on #13133
@gzsombor galdly we agree on grouping.

To allow both sides of an entity to query based on the other.

Not really if the only thing it does is convert criteria to specification,

[2020-11-29 20:18] mshima commented on #13133
I prefer to not unify then.
I have plans to override EntityQueryService at jOOQ blueprint.
An alternative is to make EntityQueryService extend EntityService.

[2020-11-29 20:25] yelhouti commented on #13133
@mshima

I don't understand, wouldn't that unify them.

Your blueprint could still do that.

We could also just move the logic of creatSpecification from criteria to another service, that would be good enough for me (we can inject it into the queryService (and other queryServices)

[2020-11-29 20:34] #12949 closed

[2020-11-29 20:44] gzsombor commented on #13134
@yelhouti I sympathize with you, as I maintained too a JHipster fork for 1-2 years, because we wanted to generate not 1, but 3 (or 4) different DTOs for every entitiy. With mappers. And I don't think, that was unreasonable :wink:
We had
* 1 DTO for the entity listing - every fields plus all the parent relations with only id + name field
* 1 DTO for the details - every fields, plus all the child en

[2020-11-29 20:53] gzsombor commented on #13133
Sorry, I don't understand what you are trying to say.
If there is no circular references in the code which converts a criteria to a specification, there shouldn't be a circular reference in the code, which gets the specification, ask JPA to execute it, and return the list of the found entities.

[2020-11-29 20:55] yelhouti commented on #13133
@gzsombor you are right I am just tiered, one of the main raisons of extracting the logic from the queryService is to avoid circular dependencies...

[2020-11-29 20:59] yelhouti commented on #13134
@gzsombor I would totally agree if the added code was too complex or made the generator harder to maintain, but it's none of the above.
Anyway, if `like` is not accepted, I would still argue of startWith.

[2020-11-30 09:07] kaidohallik commented on #13125
@pascalgrimaud came up with the idea in https://groups.google.com/g/jhipster-dev/c/5p4NlswPkNQ/m/lVRhd9jfBQAJ that it's probably not difficult to offer both choices in tests location (under `test` folder and next to the source files).

This seems to be true. In Angular side folder structure needs some adjusting to be readable after tests are landing next to files they are testing. Proposing shortl

[2020-11-30 11:55] kaidohallik commented on #13125
PR-s for previous comment done: #13159 and #13160
As in Angular side there is many file moves, then in manual upgrade, to see file renames in `git diff`, it's good idea to run `git add .` before doing `git diff`.
Should I add this information to https://www.jhipster.tech/upgrading-an-application/#manual_upgrade and/or should this go to release notes?

[2020-11-30 11:58] DanielFran commented on #13125
@kaidohallik I think this is useful information to add.

[2020-11-30 12:03] kaidohallik commented on #13125
@DanielFran Yes, will prepare PR soon for https://github.com/jhipster/jhipster.github.io/
As this is general information then will do PR to `main` branch there.

[2020-11-30 12:07] DanielFran commented on #13125
@kaidohallik I believe there is a jhipster 7 branch

[2020-11-30 12:10] pascalgrimaud commented on #13125
The jhipster 7 branch is outdated and needs a merge upstream/main to this branch

[2020-11-30 12:12] kaidohallik commented on #13125
@DanielFran Yes, but I think it's not good idea to mention v7 in https://github.com/jhipster/jhipster.github.io/ - I try to give version independent hint there which can be useful for any version upgrade.

[2020-11-30 13:35] wmarques commented on #13125
For me adding an option is overkill, our users don't really care about test location, they get used to what we give IMO.
So maintaining an option just for this case is a no-go for me.

We just have to decide what to do and go ahead. I already gave my opinion on the mailing list and I'm in favor of moving test files in source folder.

[2020-11-30 13:43] pascalgrimaud commented on #13125
as @wmarques is already the steam lead on Angular part, I agree with you.
Let's not add a new option, and instead, follow your advises by moving the test files to source folder, @kaidohallik

[2020-11-30 14:07] kaidohallik commented on #13125
OK, I mark PR-s #13159 and #13160 as draft now and create another PR for moving tests to source folder to avoid unnecessary intermediate files in folders which will be deleted by the next PR.

[2020-11-30 23:39] gmarziou commented on #13133
CQRS inspiration here, I like it :)

[2020-12-01 07:17] pascalgrimaud commented on #12441
It should be similar to what I did for SonarCloud in CICD, so I'm starting to work on this
It should be ready for v7 I think

[2020-12-01 08:34] pascalgrimaud commented on #12712
still in todo list

[2020-12-01 13:26] mshima commented on #13038
One problem is that `entity.getMany()` must be called in the `@Transactional` context, and I read somewhere that even calling it does not guarantee the entities are loaded.
- The safe scenarios I know are `dto` with `serviceClass` or `serviceImpl`.
- I think `non-dto` or `service=no` are not safe.

Maybe @vladmihalcea could help us deciding if `@BatchSize` is a good solution for this issue.

[2020-12-01 14:31] vladmihalcea commented on #13038
@mshima @ctamisier I don't advise people to use `@BatchSize` as, in my opinion, it's a hack. That's because it can reduce the number of additional queries, but it does not necessarily do it in a single query.

The solution I provided in the article you mentioned is based on the fact that in the context of a running `EntityManager`, Hibernate can replace the collection proxies when we fetch the exp

[2020-12-01 15:52] vladmihalcea commented on #13038
That's per association, so if you have 5 such associations and an average of 3 batch queries per association, you'll still run 15 queries instead of 5.

I think that easy to do. You just apply the LIMIT and OFFSET on the parent + ToOne associations, and at most one collection, and afterward you just use JOIN FETCH for the remaining collections.

[2020-12-01 15:59] DanielFran commented on #13125
@kaidohallik Is this done for Angular?

Can you open an issue for React and another one for Vue to move tests also?

Thanks

[2020-12-01 16:06] DanielFran commented on #12887
@medamineziraoui Do you still have issues with your setup?

[2020-12-01 18:19] mshima commented on #13038
@vladmihalcea thanks, that's been helpful.
I agree `@BatchSize` feels like a hack.
@ctamisier we should keep the PR open, if no one steps in to implement the alternative, we should merge as workaround for jhipster 7 final.

[2020-12-02 04:50] kaidohallik commented on #13125
@DanielFran Point 1 needs to be done.

Will open issues for React and Vue.

[2020-12-02 05:26] atomfrede commented on #12558
Keep it open.

[2020-12-02 08:34] kaidohallik opened #13178 "Tests next to the files they are testing in React"
I open this issue according to https://github.com/jhipster/generator-jhipster/issues/13125#issuecomment-736645438.

In Angular part were tests moved next to the files they are testing after https://github.com/jhipster/generator-jhipster/issues/13125#issuecomment-735789694 and https://github.com/jhipster/generator-jhipster/issues/13125#issuecomment-735793814

In https://groups.google.com/g/jhipster

[2020-12-02 08:36] kaidohallik opened #13179 "Tests next to the files they are testing in Vue"
I open this issue according to https://github.com/jhipster/generator-jhipster/issues/13125#issuecomment-736645438.

In Angular part were tests moved next to the files they are testing after https://github.com/jhipster/generator-jhipster/issues/13125#issuecomment-735789694 and https://github.com/jhipster/generator-jhipster/issues/13125#issuecomment-735793814

In https://groups.google.com/g/jhipster

[2020-12-02 08:50] ctamisier commented on #13038
@mshima Ok let's do this what you said.

Indeed, there are some unpredictive behaviors in the `@BatchSize` (but not the behavior explained above).

If I have the following relationship:
**Foo** many-to-many `@BatchSize(size = 11)` **Bar**

If I get all my Foos (which is 11 Foos exactly in my DB for example), it performs only 1 SQL request to get all its Bars:
![image](https://user-images.githubuse

[2020-12-02 13:22] avdev4j opened #13180 "Testing blueprints with skipClient as false is not possible"
##### **Overview of the issue**
Testing a blueprint that extends app generator and test it with a scenario where skipClient is passed as false is not possible.

##### **Motivation for or Use Case**
If we want to skip some files when the skipClient is false (so when we don't want to generate the client) e.g `StaticResourcesWebConfiguration.java`. we can't test it through a Yeoman test, even if the

[2020-12-02 13:24] avdev4j commented on #13180
I know @mshima you know well this part. I wonder if this can from a condition that is not well handles when we are running tests. But I'm not sure.

Also I think, this part has been recently rework but I'm sure the bug was present before. I met it nearly 2 years ago.

[2020-12-02 15:01] mshima commented on #13180
Can you rebase against main and fix lint to let npm test to run?

It’s missing `packageFolder` at the assertion.
https://github.com/avdev4j/generator-jhipster/blob/d621b7c14f8e4668c9d0c29fcf2c2705c094e9ce/test/blueprint/app-blueprint-bug.spec.js#L135

`${SERVER_MAIN_SRC_DIR}com/mycompany/myapp/config/StaticResourcesWebConfiguration.java`

[2020-12-02 15:04] mshima commented on #13180
https://github.com/jhipster/generator-jhipster-quarkus/pull/87#issuecomment-736643423 is a different issue.
Related to https://github.com/jhipster/generator-jhipster/blob/5c7de79dc7c386459ae4b96ccbf4085466708f9b/generators/generator-base.js#L2308 only testing positive value instead of not undefined.

[2020-12-02 16:23] avdev4j commented on #13180
You're right, I thought I found the way to reproduce the bug but not...

So the solution could be to test plainly the option
`if(options.skipClient !== undefined)`

[2020-12-02 16:58] mshima commented on #13180
I think this error doesn't apply for jhipster 7, so I will tag as jhipster 6.
You should take a look at the severity of the bug, but IMO it's not worth to track it. jhipster 6 workflow is really confusing.
Config/Options handling was rewritten for jhipster 7.

[2020-12-02 16:59] ctamisier opened #13182 "Can't save 2 entities consecutively (React + manytomany)"
##### **Overview of the issue**

Can't save 2 entities consecutively
Fails in the browser with
[code]

##### **Reproduce the error**

Create a Foo, and immediately after, create a new one.
On 2nd save, it fails

##### **JHipster Version(s)**

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json fi

[2020-12-02 17:35] pascalgrimaud commented on #13179
I just tried `vue-cli` and the tests are in a specific folder:

[code]

So with Vue, the tests are in specific folders, so I'd prefer to keep like this today.

[2020-12-02 17:43] avdev4j commented on #13180
because I can't reproduce it on main branch, I think you're right. Let's close this one since it's not really bloquant and I don't want to spend time for something like that.

Let's wait to the v7 release and retest ;)

thanks @mshima

[2020-12-02 17:43] #13180 closed

[2020-12-02 18:15] tillias commented on #12967
Hi folks, with new IntelliJ 2020.3 this is a critical issue (of course if Java 11 is used) see https://youtrack.jetbrains.com/issue/IDEA-200481

I can confirm that tests can't be run out of intelliJ 2020.3 anymore.

Any chance you can at least bump version to 1.4.1 in upcoming release?

For all other using JHipster 6x workaround is

[code]

[2020-12-02 18:24] medamineziraoui commented on #12887
Hello no i don't have setups issues thx to your advice guys so thank you, i wasn't able to work fixe the issue those pass days but i will this weekend.

[2020-12-03 00:35] gmarziou commented on #13038
Maybe we should integrate [QuickPerf](https://github.com/ttddyy/datasource-assert) or [datasource-assert](https://github.com/ttddyy/datasource-assert) in the generated tests.

[2020-12-03 01:23] jh64 opened #13183 "Bugs report for Openshift sub-generator - 'nc' command not found in crc container/pod"
I have been trying to run the JHipster (6.10.4) generated apps to run on Openshift CodeReady/crc (4.6.1). I managed to workaround and fix a few issues/bugs in the yaml files generated by running the command "jhipster openshift". Now I can run the apps on crc successfully now, for both simple monolithic app, and microservices app using jhipster-registry.

My research result: the 'nc' command used i

[2020-12-03 01:43] jh64 opened #13184 "Bugs report for Openshift sub-generator - jhipster-registry.yml has 2 syntax issues"
2 error messages:

1. Error from server (BadRequest): StatefulSet in version "v1" cannot be handled as a StatefulSet: v1.StatefulSet.Spec: v1.StatefulSetSpec.Replicas: readUint32: unexpected character:

This means: '.StatefulSetSpec.Replicas' is using string, should be integer.

2. spec.selector: Required value

This means: 'spec.selector' is missing.

Suggestion: review and fix for the code in ht

[2020-12-03 02:24] jh64 opened #13185 "Bugs report for Openshift sub-generator - The port number used for the postgres database service is port 80 instead of port 5432 used by deployment.yml.ejs."
I have been trying to run the JHipster (6.10.4) generated apps to run on Openshift CodeReady/crc (4.6.1).
I managed to workaround and fix a few issues/bugs in the yaml files generated by running the command "jhipster openshift".
Now I can run the apps on crc successfully now, for both simple monolithic app, and microservices app using jhipster-registry.

My workaround - I changed the generated yam

[2020-12-03 08:03] amanganiello90 commented on #12668
@Toysurusse ??

[2020-12-03 10:27] pascalgrimaud commented on #12967
thanks a lot for your suggestion @tillias
I'm keeping it in mind, in case of a new patch release for v6

[2020-12-03 10:58] kaidohallik commented on #13125
I looked at entity files generation and saw that there is also `embedded` condition.
For embedded only model is created. So it's seems to me that for embedded it's not a good idea to generate entity folder just for model. And I don't want to make generator too complex to implement different logic for embedded and not embedded entities models.
And as @wmarques as stream lead was not in favor just t

[2020-12-03 10:58] #13125 closed

[2020-12-03 11:00] wmarques commented on #13125
Thanks @kaidohallik, it was difficult but you made it 🎉 and thanks everyone for your inputs on this topic

[2020-12-03 11:11] mshima commented on #13125
@kaidohallik `embedded` implementation is non existent, so current implementation should not be used as a blocker here.
That should change with cascade support.
I will update the branch with latest code and rebase.

[2020-12-03 19:52] qmonmert commented on #13182
@ctamisier it seems to work on the main branch

[2020-12-03 22:02] ctamisier commented on #13182
Really, that's strange, I tried again from scratch from `main` branch, with given `.yo-rc.json` and `jdl`, and it still fails..

[2020-12-04 03:47] jh64 commented on #13183
Looking further, the 'nc' command can be found on the master node, but not found on the running container/pod.

[2020-12-04 05:20] manoj-mass opened #13192 "Default translation message"
Hi I am using react-jhipster translator.

In this specific scenario i am showing errors based on backend response error code.

`translate(`searchErrors.${props.warning}`)
`
props.warning is dynamic and values has been configured in json files.

Question is, is there a way to config default message in case i forgot to config the relevent message in json file.
at the moment if react-jhipster transla

[2020-12-04 07:26] #13192 closed

[2020-12-04 07:27] manoj-mass commented on #13192
Found an option. TranslatorContext.setRenderInnerTextForMissingKeys(true);

[2020-12-04 16:10] ruddell commented on #13182
I was able to reproduce it on the `main` branch with today's code.  I recorded a video showing that the many-to-many `bars` array is `undefined` after one or more saves (took me three attempts at first) https://www.loom.com/share/680530f58c4346e9913e10e40f766e0c

Changing the `foo.model.ts` default value helps but not sure that's the correct fix.

[code]

[2020-12-04 16:32] qmonmert commented on #13182
@ctamisier I reproduce, you have to go fast to reproduce :)

[2020-12-04 18:23] slumbi commented on #10491
For me this error happens when the `info.license` field is  `{}` (empty)
Deleting the license field,  or adding a `name` property inside fixed the issue.

[2020-12-05 15:12] #13182 closed

[2020-12-05 15:25] Tcharl commented on #13018
So, this one should be closed?

[2020-12-05 15:40] ctamisier commented on #13182
I haven't check (I will), but if it's a matter of how fast we click on save, does the entity is persisted with all the filled fields.
now the undefined array is mapped to [], were the other fields undefined too ?

[2020-12-05 16:51] ctamisier commented on #13182
Actually the issue is that on the 2nd click on "new Foo", the state is not reset to default.
the `fooEntity` is still the "previous" one (if you console.log). I'd say there is something wrong in the state management.
You can see that the selected `bar` is also the one you just saved on `Foo`.

[2020-12-06 20:31] yelhouti commented on #13018
@Tcharl

[2020-12-06 20:31] #13018 closed

[2020-12-07 11:09] PierreBesson commented on #12090
JHCC docker-compose and Kubernetes sub-gen support remain to be done. I guess "Don't always generate admin ui (Angular/React/Vue)" is developed and merge. Ping @avdev4j

[2020-12-07 11:14] avdev4j commented on #12090
Exactly :) I check the box.

[2020-12-07 13:28] kaidohallik opened #13215 "Application base name question is unstable in Windows Command Prompt"
##### **Overview of the issue**

If in current main branch running linked `jhipster` then `askForModuleName` behaves inadequately in Windows Command Prompt. Question is asked but after entering answer new blank line is shown. After testing found out that must enter base name again into this blank line and this second input is used as application base name.

All works as expected in Git Bash in Win

[2020-12-07 20:18] #13215 closed

[2020-12-08 04:47] jh64 commented on #13183
Looking further, the busybox docker image supports the 'nc' command. By using the busybox in initContainers to check the database service can fix the issue.
e.g.
          initContainers:
            - name: init-ds
              image: busybox:latest
              command:
                - '/bin/sh'
                - '-c'
                - |
                  while true
                  do

[2020-12-08 04:49] jh64 commented on #13185
As I found the solution in issue  #13183, this is not an issue anymore. Close it now.

[2020-12-08 04:49] #13185 closed

[2020-12-08 05:13] jh64 commented on #13183
My code fix has been checked in to the branch I forked for issue #13184: https://github.com/jh64/generator-jhipster.git

[2020-12-08 05:50] jh64 commented on #13183
I have published the pre-release v.10.6: https://github.com/jh64/generator-jhipster/releases

[2020-12-08 07:07] pascalgrimaud commented on #13183
As mentioned here https://github.com/jhipster/generator-jhipster/issues/12675#issuecomment-705350314
The OpenShift sub generator is not well maintained.

Feel free to open a pull request, to fix the main generator-jhipster, instead of doing the fix on your fork only :-)
Your contributions are really welcome!

[2020-12-08 13:21] jh64 commented on #13183
I have done the pull/merge request: https://github.com/jhipster/generator-jhipster/pull/13223. Thanks!

[2020-12-08 15:28] ctamisier opened #13224 "Upgrade react version in react-jhipster lib"
In react-jhipster lib,
There are some react version still at 16.x.x

I think they have to be upgraded as well to 17.0.1 for the v7 (and maybe some other related dependencies ?)

here: https://github.com/jhipster/react-jhipster/blob/main/package.json

[2020-12-08 20:31] loctls opened #13225 "Sending mail with jhipster"
"Your hosting provider probably don't allow you to send emails via smtp.
It's very usual, for example that's what Google Cloud does.
You need to contact your hosting provider, they probably have a solution like using a specific port, etc.

_Originally posted by @jdubois in https://github.com/jhipster/generator-jhipster/issues/7278#issuecomment-372280872_"

Good evening everyone.

I'm simply postin

[2020-12-08 21:13] loctls commented on #13225
This is the call I try to run, from a class of my 'Resource' package :

`        this.mailService.sendEmail(user.getEmail(), "Demande de réservation enregistrée", "Votre prestataire étudie votre demande", false, true);
`

Seems correct to me, I don't know what I could be missing seriously.

[2020-12-08 21:21] jdubois commented on #13225
Can you post your stacktrace, as well as your mail configuration (please remove sensitive information)?

[2020-12-08 21:35] loctls commented on #13225
Aucune stacktrace.

Voici la config, comme indiquée dans le tuto prévu à la configuration des mails sur votre site (les autorisations de ce compte pour les applis non secure sont activées aussi) :

`
spring:
...
...
mail:
    host: smtp.gmail.com
    port: 587
    username: **********@gmail.com
    password: ***********
    protocol: smtp
    tls: true
    properties.mail.smtp:
      auth: true

[2020-12-08 21:54] gmarziou commented on #13225
Your config is badly formatted so we can't see whether bad indentation is the cause of your issue or just a formatting issue. Please edit your issue.

[2020-12-08 22:01] loctls commented on #13225
![configdev](https://user-images.githubusercontent.com/71255216/101546579-484a0980-39a9-11eb-951f-a6626d17b1b9.PNG)

[2020-12-08 22:05] jdubois commented on #13225
And can you write in English? It’s for other people to understand.
Let’s see your stacktrace, what is your error exactly?

[2020-12-08 22:06] gmarziou commented on #13225
You say your method is not called, have you confirmed it under debugger?

[2020-12-08 22:36] loctls commented on #13225
Yes confirmed, the debugger doesn't stop on my breakpoint.

I don't have any stacktrace I can rely on to find a solution by myself.

The thing is I want to send some mails to my customers once they make some operation on the app.

So I just took the 'MailService' into my customed Resource and tried to use 'sendMail' method :

` this.mailService.sendEmail(user.getEmail(), "Demande de réservation en

[2020-12-08 22:42] gmarziou commented on #13225
So it's not a mail problem otherwise you could stop before calling the sendEmail method.
How do you run your app?

[2020-12-08 23:00] loctls commented on #13225
The breakpoint is inside the sendMail method so it should be triggered if there was no problem with it.

The way I launch my app (which is a microservice architecture) is :
- run jhipster-registry in a node prompt with mvnw
- launch MySQL DB on my wamp
and then either :
- run the app from intellij
or
- run it via another node prompt with mvnw