[2022-02-04 15:05] mshima commented on #17790
springdoc is OAS3 only.

[2022-02-04 16:49] mshima commented on #17776
The 2 linked PRs (https://github.com/springdoc/springdoc-openapi/pull/1491 and https://github.com/jhipster/generator-jhipster/pull/17791) should fix this bug.

[2022-02-04 17:39] SandraAhlgrimm commented on #17612
Opened draft pull request here #17792
Looking forward to your review and comments!

[2022-02-04 17:53] Akuka commented on #17776
I will take a look
We have a fix as well, will post it soon

[2022-02-04 18:30] vishal423 commented on #17612
Since the change is quite independent, can this be included in a separate subgen or as a module or behind a flag?

[2022-02-04 18:57] mraible commented on #16498
@jhipster/developers Is our [create a module](https://www.jhipster.tech/modules/creating-a-module/) guide up-to-date? I'd like to start creating this module today.

[2022-02-04 19:39] mshima commented on #16498
@mraible I would create a blueprint instead.
IMO we should drop module at v8, there is no advantage on implementing a module.
A blueprint acts as a module when using a custom command/generator.

[2022-02-04 21:20] mraible commented on #16498
@mshima If I create a blueprint, it'd likely only replace some values in needles. I suppose it might need to add files too.

Spring Boot 3 won't have a need for Spring Native because it'll be native by default. So that's something to consider - this likely won't be needed for JHipster 8 if it includes Spring Boot 3.

Another option would be to integrate Spring Native by default. Here's the [curren

[2022-02-04 21:23] pascalgrimaud commented on #17612
@vishal423 : it was originaly suggested by @jdubois as I know he uses codespaces. Then, as it's in a .folder I don't think it impacts our user, we can have it by default, it's not a problem

[2022-02-04 21:32] mshima commented on #16498
@mraible I can generate the initial blueprint if you want me to do it.

[2022-02-04 23:49] mraible commented on #16498
@mshima I'd love your help!

[2022-02-05 11:00] mshima commented on #16498
@mraible to regenerate your examples:
[code]

[2022-02-05 19:07] mraible commented on #16498
@mshima I tried it by running `rm -rf` in one of my example projects, then `jhipster-native --with-entities`. The result:

[code]

Would a clone and `npm link` work better?

[2022-02-05 19:13] mshima commented on #16498
Need to use `--skip-jhipster-dependencies` flag. The blueprint is not released.

[2022-02-05 22:12] mraible commented on #16498
I got a bit further. This time, it succeeded in creating the project, but fails to run it.

[code]

[2022-02-06 10:24] networkinss commented on #17643
Reproduction can be done with this gitlab repository:
https://gitlab.com/networkinss/jhipster

[2022-02-06 12:52] mshima commented on #17776
springdoc v1.6.6 was released with the fix.
It’s missing the annotation now.

[2022-02-06 13:12] mshima commented on #16498
Reactive LogoutResource needed adjusts.
Reinstalling should fix it.

PS: I am not really trying to run the applications.
I am following the steps and matching the examples, and doing generator-jhipster blueprint support adjusts.
Will do that later this week or next.

[2022-02-06 14:42] Akuka commented on #17776
Looks great!

[2022-02-06 16:54] mraible opened #17794 "JPA not able to render entities with relationships in JHipster 7.6"
##### **Overview of the issue**

If you try to view an entity's list screen that has relationships to other entities, you'll get an error.

[code]

<img width="1273" alt="Screen Shot 2022-02-06 at 09 45 34" src="https://user-images.githubusercontent.com/17892/152691579-ada27d28-1ca2-47d8-a21f-23635a16f07d.png">

##### **Motivation for or Use Case**

Relationships between entities should work.

###

[2022-02-06 17:03] mraible commented on #16498
Thanks for the fix @mshima! I tested all of the apps today:

- `spring-native-webflux` - ✅
- `spring-native-mvc` - ✅
- `angular-webflux` - ✅
- `postgres-webflux` - ✅
- `postgres-mvc` - ✅

I'll create a PR with some minor improvements to the blueprint.

[2022-02-06 17:06] mshima commented on #16498
We probably should move the blueprint to jhipster org.

[2022-02-06 17:12] Tcharl commented on #12300
I guess this is fixed in the current release: I see the couchbase test running

[2022-02-06 17:12] #12300 closed

[2022-02-06 17:12] qmonmert commented on #17627
@pascalgrimaud I confirm the bug

[2022-02-06 17:13] Tcharl commented on #11599
It is, isn't it?

[2022-02-06 17:15] Tcharl commented on #10916
@AlexandreCassagne time to dig into this again ;-)

[2022-02-06 17:17] mraible commented on #11599
@Tcharl Yes, I see a `JHipsterBlockHoundIntegration` class in a JHipster 7.6 project.

[2022-02-06 17:20] Tcharl commented on #12968
Hi @ThienPhuc92 , do not hesitate to PoC and then contribute to improve the overall architecture: there has been a lot of discussion on the topic, and we never found a silver bullet.
Feel free to provide a sample and then maybe to contribute or ask for help.

Since then, I'll close this ticket if you agree: feel free to clarify the solution you have in mind and reopen

[2022-02-06 17:20] #12968 closed

[2022-02-06 17:20] mshima commented on #16498
Or hipster-labs due to GitHub actions.
The build is not completing in 35min 😮 .

[2022-02-06 17:20] Tcharl commented on #11599
Closing so

[2022-02-06 17:20] #11599 closed

[2022-02-06 17:24] Tcharl commented on #13948
Is it still not working?

[2022-02-06 17:55] AlexandreCassagne commented on #10916
Haha, perhaps so. I will look into it, I think this should be a rather quick issue to resolve.

[2022-02-06 18:20] mraible commented on #17271
I figured out the solution to this today. You need to add `@Component` to Impl classes and add `SimpleR2dbcRepository` to type hints.

[2022-02-06 18:20] #17271 closed

[2022-02-06 18:23] mraible commented on #16498
@mshima I figured out how to get R2DBC repositories to work! I had to add `@Component` to each Impl class and add `SimpleR2dbcRepository` as a type hint. See specifics in https://github.com/mraible/spring-native-examples/pull/7.

I also noticed that the JHipster Native blueprint does not add Liquibase information to the `postgres-webflux` example, so we might need to adjust some install logic ther

[2022-02-06 18:25] qmonmert commented on #17627
@jonyhartron in your case, you can use this code (not optimal at all... but it works):

[code]

[2022-02-06 23:02] TransWebT opened #17796 "Error generating monolith from jdl with WebFlux and relationship to User entity"
##### **Overview of the issue**

Generate a monolith application with WebFlux enabled as an option while running jhipster in a new directory.  This works without issue.  Then attempt to generate entities and the associated CRUD admin pages from a JDL file which has one or more relationships (different cardinalities tried) with the special User entity.  Running "jhipster jdl entity.jdl" will fail d

[2022-02-06 23:15] TransWebT commented on #17796
apologies for the strikeout characters in the issue content - something triggered that from the pasted content.

[2022-02-06 23:38] TransWebT commented on #17796
[jhipster-jdl-error.txt](https://github.com/jhipster/generator-jhipster/files/8011443/jhipster-jdl-error.txt)
content of error referenced above from running jhipster jdl entity.jdl

[2022-02-07 01:21] mraible commented on #17794
This is probably caused by the Hibernate Enhance Maven Plugin that I added for Spring Native.

[code]

I'm using the recommended default configuration as recommended by the [here](https://docs.jboss.org/hibernate/orm/5.4/topical/html_single/bytecode/BytecodeEnhancement.html#_build_time_enhancement).

[code]

[2022-02-07 05:06] mraible commented on #16498
@mshima I found another thing that needs to be added. If `CacheConfiguration` is activated, it fails to compile with the following error.

[code]

If I add `@Profile("!native")` my app compiles. However, when I try to run it after building it, I still get an error:

[code]

[2022-02-07 05:19] mraible commented on #16498
Upon further review, it seems that the profile annotation does not work and I have to comment out these annotations in `CacheConfiguration`.

[code]

This still results in the same error as above. I also tried to disable Hibernate's 2nd level cache in `application.yml`.

[code]

That doesn't seem to help either. I'll continue investigating.

[2022-02-07 09:50] SandraAhlgrimm commented on #17612
Having it hidden in a subgen or flag would exclude a lot of users, especially beginners, who would benefit the most from this feature to setup your dev environment right away. Of course, it can be enhanced with more smartness so that database extensions, etc. are also included if they're chosen within the generator.

[2022-02-07 16:28] mshima commented on #17776
@Akuka do you want to do some more improvements to filter/criteria openapi support (like description) or this issue can be closed?

[2022-02-07 17:53] #17487 closed

[2022-02-07 18:21] Akuka commented on #17776
Can be closed, thanks

[2022-02-07 18:21] #17776 closed

[2022-02-07 18:37] mraible commented on #16498
Good idea. I had to [remove caching](https://github.com/oktadev/auth0-full-stack-java-example/pull/5/commits/82f69cfa09d9dba3ab3120fbbb74c8e7b1eb9f91) for things to work. I added a [workaround](https://github.com/mraible/spring-native-examples/commit/89745c5228e478cdd8d679581c4fd83ad4c7638d) to my instructions. I believe this is because [Spring Native doesn't support caching yet](https://github.co

[2022-02-08 13:56] OmarHawk opened #17823 "Test failures in React based project with custom Id names"
##### **Overview of the issue**
Hi,

I just enhanced my application to use custom named Id fields, as explained in the PR #13258. This leads to test failures when building the react based frontend project.

It is most probably caused by these two lines of code:

https://github.com/jhipster/generator-jhipster/blob/b474b1ea960d604da6fa19fc06cac43acbec434c/generators/entity-client/templates/react/src

[2022-02-08 15:10] OmarHawk commented on #17823
I'll try to open a PR by myself. :-)

[2022-02-08 15:55] OmarHawk commented on #17823
Also Java build fails when having UUID on the one side of a relationship in this sample (got the frontend build already working with the mentioned changes), but now, the Java part misses imports :(

[2022-02-08 17:56] OmarHawk commented on #17823
And I meanwhile also faced this issue mentioned with a workaround here https://github.com/jhipster/generator-jhipster/issues/14569#issuecomment-828419358 .

Tbh. there seems plenty of stuff not being thoroughly tested / checked. So maybe, I will produce now a rather incomplete PR that solely fixes the frontend tests generation in this case, but for anything else, I will create additional tickets,

[2022-02-08 19:29] #17823 closed

[2022-02-08 22:16] #15007 closed

[2022-02-08 22:42] Tcharl commented on #14616
Please go for it @smaestri !

[2022-02-08 22:43] Tcharl commented on #15784
Done through your RFP

[2022-02-08 22:43] #15784 closed

[2022-02-08 22:43] #15493 closed

[2022-02-08 22:45] Tcharl commented on #15295
Can you give a try @ko5tik ?

[2022-02-08 22:46] #16331 closed

[2022-02-09 06:24] pascalgrimaud commented on #15493
@Tcharl : it would be better to clean label and remove stale when you closed it. So we know the ticket is done

[2022-02-09 08:26] OmarHawk opened #17833 "Java compilation failure in relationship when using UUID as Id field type"
##### **Overview of the issue**
When we have an UUID as Id field in Entity A and use that Entity as part of a OneToMany relationship, there are java complation errors within domain entity, but also within RowMappers and so on. According to #13258 this is supposed to work.

Error output during compilation (mvnw clean package -Pprod)
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-comp

[2022-02-09 09:56] ko5tik commented on #15295
@Tcharl Tried it out.   Seems that dependent objects are delivered now.  Anyway, this issue is very stale  and ought to be closed
( please look into fresh pull requests instead :) )

[2022-02-09 09:56] #15295 closed

[2022-02-09 11:13] #17833 closed

[2022-02-09 13:22] OmarHawk opened #17835 "UUID id fields generate autoincrement attribute which fails application startup"
##### **Overview of the issue**

For id fields having UUID type, the generator generates `autoIncrement="true"` in my configuration, even though during startup of such an application, an error is being produced:

This is produced in the liquibase entity changelog for adding the field
[code]

even though in master.xml a varchar field is produced.

[code]

So during startup, such an error is produce

[2022-02-09 13:30] OmarHawk commented on #17835
@mshima - since you are the original owner of related parts of the code, maybe you can give some hints to me how to fix it (or if more efficient fix it by yourself)?

I'll try suggesting something through via some pull request, but I think, this may then really require some help this time, since I may not foresee certain variants out there.

[2022-02-09 14:04] ofebles commented on #17531
Same issue happening with 7.6.0 and consul configuration.

[2022-02-09 14:13] mshima commented on #17835
This may work:
[code]

[2022-02-09 14:14] OmarHawk commented on #17835
crazy: I did the very same in my local branch :D

[2022-02-09 14:27] mshima commented on #17835
My initial implementation was focused on the internal implementation using defaults (imperative + angular only).
As you saw the other PR, react support was added later by another colaborator.

You are implementing webflux + custom-ids + react.
You may want to create webflux-react-adittional test to avoid regressions, like:
https://github.com/jhipster/generator-jhipster/blob/89a022b9ec1784f2edac261

[2022-02-09 14:33] OmarHawk commented on #17835
And for sure, I'll try to add some test case(s) 👍

[2022-02-09 17:26] mshima commented on #17835
Are those callbacks needed?
Why don’t set isNew to true together with the id?

[2022-02-09 18:08] OmarHawk commented on #17835
well, I ended up doing it like that as well, as for full updates the entity is not loaded from database in the first place, therefore never getting the callback being called. I just wonder, if the same is true for partial updates or anything else....

[2022-02-09 20:31] Ebsan opened #17838 "Add an ApplicationProperties needle"
##### **Overview of the feature request**

Could a needle be added to ApplicationProperties.java and the corresponding application.yml file?

##### **Motivation for or Use Case**

Some modules may require application specific settings to be enabled/disabled by the user. At the moment the best way to do it is to completely regenerate the ApplicationProperties.java file and notify them that they'll

[2022-02-09 21:05] andytrujillorivero opened #17839 "JHipster 7.6.0 gateway application using consul discovery service not rendering endpoints in swagger page"
##### **Overview of the issue**

After upgrading a JHipster gateway project from version 7.1.0 to 7.6.0, endpoints in swagger page are not properly listed. Using Consul discovery service. Console shows an error trying to reach `GET "/services/consul/management/jhiopenapigroups"` endpoint. Same result with a new project, created from scratch.

[code]
<img width="1468" alt="Screen Shot 2022-02-09 at

[2022-02-10 10:15] pmverma opened #17842 "Security Expressions within @Query is not working"
##### **Overview of the issue**

As the title says, `#{principal.username}` is not working anymore.
[code]
Following exception is thrown
[code]
##### **Motivation for or Use Case**

Security SpEl should work as it has always worked.

##### **Reproduce the error**

1. Clone jhipster sample app
2. Change the following listing page code to fetch only current user data.
[code]

##### **Related issues*

[2022-02-10 17:21] mshima commented on #17794
@mraible I still think the PR is the best approach.

[2022-02-10 22:17] mraible commented on #16498
@mshima If you transfer your repo to @jdubois, he can transfer it to the JHipster org.

[2022-02-10 23:10] mshima commented on #16498
Done

[2022-02-11 01:09] TransWebT commented on #17796
I have narrowed the problem down to changes made to generator-jhipster between 7.3.0 and 7.3.1.  The former version worked with my sample jdl, and the latter does not.  I'll do a comparison between these generator versions to see if anything jumps out.

[2022-02-11 04:32] mraible commented on #17794
@mshima AFAICT this only happens when running your JHipster app as native. It doesn't happen when running JVM mode. I just tested with https://github.com/oktadev/auth0-full-stack-java-example (`main` branch).

[code]

[2022-02-11 09:58] mshima commented on #17794
The initial bug report states that it’s both JVM and native.

I think the settings enableLazyInitialization and enableAssociationManagement should be set to false.
We use eager loading and the serialization is done outside the transaction context. So nothing is lazy loaded.
Probably we don’t need hibernate-enhance-maven-plugin at all.

[2022-02-11 14:09] mraible commented on #17794
I updated the description to note that it only happens in native mode.

If I change the Hibernate plugin's configuration to have the following:

[code]

It fixes save for tags, but not for photos. Adding a photo still fails with the following error.

[code]

If I remove the Hibernate plugin, I get the same error as above (saving albums and tags still works).

If I remove the Hibernate plugin and a

[2022-02-11 15:26] mraible commented on #17794
One last thing I thought of is to add `java.util.HashSet.class` to the type hints. This got me a bit further:

[code]

I added a type hint for this class (and others that resulted in a similar error) too:

[code]

Then, I get an error about Charsets:

[code]

So I added `java.nio.charset.Charset.class` to the type hints. It worked when I added the first photo, but I got the same error on the 2nd,

[2022-02-11 18:08] OmarHawk opened #17849 "React: Allow passing default sort order"
##### **Overview of the feature request**

At the moment, in Angular, you can rather easily pass default sort order order as seen here:

https://github.com/jhipster/generator-jhipster/blob/b474b1ea960d604da6fa19fc06cac43acbec434c/generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing.module.ts.ejs#L36

The same is not possible for React, as it is cu

[2022-02-11 18:18] cordial commented on #7862
Cool, I'll try and let you know.

[2022-02-11 22:59] DanielFran opened #17850 "Update Keycloak to v18"
##### **Overview of the feature request**

https://www.keycloak.org/2022/04/keycloak-1800-released

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-02-11 23:00] DanielFran commented on #17850
Cc @vishal423

[2022-02-12 08:20] vishal423 commented on #17850
I will spend some time next week on this.

[2022-02-12 09:21] pascalgrimaud commented on #17850
adding a bounty as I know it's not so easy :D

[2022-02-12 17:38] pascalgrimaud commented on #17641
Following this:
- https://twitter.com/MongockTeam/status/1492149518305054720
- https://github.com/mongock/mongock/releases/tag/mongock-5.0.36

How can we progress on this @jdubois @deepu105 @mraible ?
Maybe adding a bounty for this ? as the reactive part for MongoDB was done and we can use it in generator-jhipster

[2022-02-12 18:09] dieppa commented on #17641
@pascalgrimaud [this](https://docs.mongock.io/v5/driver/mongodb-reactive/index.html) may be helpful.

None one from Mongock team really knows how JHipster's generator works, but if we can help, let us know.

[2022-02-12 18:57] mraible commented on #17641
@pascalgrimaud Let's create a couple issues and add bug bounties to them. Maybe one for adding reactive support to Mongock and another for integrating it into JHipster?

[2022-02-12 21:58] mshima commented on #17641
Would be nice if someone could fix the mongodb bug with primary keys that is preventing us to migrate to >= v4.3.0.
https://github.com/jhipster/jhipster-bom/pulls?q=is%3Apr+mongodb+is%3Aclosed

[2022-02-14 09:33] gmarziou opened #17874 "Links from generated README to JHipster documentation are broken."
Latest projects README.md generated by 7.6.0 pointing to jhipster.tech archived doc are broken because v7.6.0 cannot be found on https://www.jhipster.tech/documentation-archive/v7.6.0/.

Here is the sample gateway :

https://github.com/jhipster/jhipster-sample-app-gateway/blob/main/README.md#jhipstersamplegateway

I suppose that something was not run as part of release process.

##### **Overview o

[2022-02-14 09:49] pascalgrimaud commented on #17874
@gmarziou : I started the discussion in the ML. see https://groups.google.com/g/jhipster-dev/c/pX00gWQcDAQ/m/_jDrwzqwBAAJ

[2022-02-14 14:52] M4jor-Tom opened #17875 "Lauching a JHipster project with production profile fails"
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "applicationType": "monolith",
    "baseName": "LappLi",
    "jhipsterVersion": "7.3.1",
    "skipClient": false,
    "skipServer": false,
    "skipUserManagement": false,
    "skipCheckLength

[2022-02-14 18:19] #17849 closed

[2022-02-15 10:52] OmarHawk opened #17886 "X-Frame-Options header not set in reactive stack"
##### **Overview of the issue**

In the non-Reactive stack, X-Frame-Options are set to DENY:

https://github.com/jhipster/generator-jhipster/blob/980ca577b72a846208d2fec0d85267a995bc8e53/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L238-L239

In the reactive stack, it is not set at all (disabled):

https://github.com/jhipster/generator-jhipster/blob/b474b

[2022-02-15 12:24] #16486 closed

[2022-02-15 15:50] mshima opened #17889 "Microservice + OAuth2 user synchronization breaks backend tests."
##### **Overview of the issue**

https://github.com/jhipster/generator-jhipster/runs/5189703954?check_suite_focus=true
The error looks a simple Javadoc error, but happens with `blog/src/main/java/com/okta/developer/blog/web/rest/UserResource.java` file.
`UserResource.java` is an administrative endpoint to manage users.
Microservice can't administrate users, so the endpoint is not supposed to exist

[2022-02-15 23:49] yelhouti commented on #7112
@mshima I didn't want to create a new issue for this, but now that all this is working, do you think I should try porting the generation of the server side code ?

[2022-02-16 18:53] mraible commented on #17875
I see this too on apps that are working so I don't think this is the problem.

Did you start MySQL since that's what you're using for production?

[code]

I cloned your repo, started MySQL, and ran `./mvnw -Pprod`. Everything worked fine for me, so I'm closing this issue. Please reopen it if this does not solve your issue.

[code]

[2022-02-16 18:53] #17875 closed

[2022-02-16 19:18] mraible commented on #17842
@pmverma I still see `spring-security-data` in the JHipster BOM. https://github.com/jhipster/jhipster-bom/blob/617685761248b545947f299f85f3e7c4a05bb9d8/jhipster-framework/pom.xml#L147

It looks like I removed it when upgrading to Spring Boot 2.6 because I didn't think it was needed anymore.

https://github.com/jhipster/generator-jhipster/commit/2d15582427128dd85bcf629d04dd1b289bf556e6

[code]

[2022-02-16 19:41] mraible commented on #16318
It seems like we should revert to `3.0.0-M3`. I entered an issue for this in the Maven Enforcer Plugin's JIRA. https://issues.apache.org/jira/browse/MENFORCER-413

[2022-02-16 21:30] #17889 closed

[2022-02-17 06:11] rhl07 commented on #17614
which is command you have used to build ?

[2022-02-17 08:55] michael-o commented on #16318
Unless someone provides me a minimal working example in MENFORCER I will close the issue. The mentioned Logging artifact does not exist and likely never did. I consider this case as invalid.

[2022-02-17 09:52] crowne opened #17906 "Integration tests fail with nested jpaDerivedIdentifier"
##### **Overview of the issue**
Integration tests fail when I define nested entities using jpaDerivedIdentifier
the integration tests fail for entities at or lower than grandchild level

Given the following entities:
  - Animal
    - Fish
    - Bird
    - Mammal
      - Marsupial
      - Rodent
      - Cat
        - DomesticatedCat

And the following relationships:
relationship OneToOne {
  Fish{a

[2022-02-17 14:17] mraible commented on #16318
@michael-o: here's how to reproduce:

[code]

You will see that this version uses maven-enforcer-plugin version 3.0.0:

[code]

Run it to see the warning:

[code]

You will see warnings about dependencies from the enforcer plugin:

[code]

Update `pom.xml` to use M3:

[code]

Run `./mvnw package` again and you won't see these warnings.

[2022-02-17 16:09] michael-o commented on #16318
I was able to build the project without NPM. What am I supposed to say? You did not try hard enough.
* Verbose logging:
[code]
* It is declared in: https://search.maven.org/artifact/org.apache.logging.log4j/log4j-api/2.14.1/jar
* https://github.com/apache/logging-log4j2/blob/001b22706080a4f7946fc6fe08f37580db44afbe/log4j-api-java9/pom.xml

The Apache Logging team failed to upload that POM to centr

[2022-02-17 16:14] mraible commented on #16318
I'm not worried about log4j, that one is understandable. It's Spring Roo
that concerns me.

On Thu, Feb 17, 2022 at 09:10 Michael Osipov ***@***.***>
wrote:

[2022-02-17 16:18] michael-o commented on #16318
@mraible I don't understand your statement:
[code]

I don't understand the problem with Roo.

[2022-02-17 16:26] mraible commented on #16318
We don't depend on it:

[code]

But the enforcer plugin logs requests to try and download it.

[code]

[2022-02-17 16:52] michael-o commented on #16318
Do a reverse query and you know who depends on it:
[code]

[2022-02-17 18:50] #17886 closed

[2022-02-17 21:26] mraible commented on #16498
Just so folks know when reading this conversation, the blueprint is located at https://github.com/jhipster/generator-jhipster-native.

[2022-02-18 03:38] #17842 closed

[2022-02-18 03:47] mraible commented on #17796
Have you had any luck figuring this out @TransWebT?

[2022-02-18 03:48] mraible commented on #17839
@mshima Do you recall fixing something like this recently? I saw this error in native mode.

[2022-02-18 03:53] #17758 closed

[2022-02-18 03:54] mraible commented on #17641
@mshima Can you create an issue for ^^ so we can assign a bug bounty to it?

[2022-02-18 03:54] mraible commented on #17643
@networkinss Have you made any progress on figuring this out?

[2022-02-18 03:55] mraible commented on #17627
Does anyone have a diff we can use to fix this issue?

[2022-02-18 03:59] #12180 closed

[2022-02-18 04:00] mraible commented on #12072
I think we can safely close this one since it's related to v7-beta. Please re-open if you're still experiencing issues.

[2022-02-18 04:01] mraible commented on #12091
Closing because v6.10.1. Please reopen if you experience this issue with v7.6.0.

[2022-02-18 04:01] #12091 closed

[2022-02-18 04:02] mraible commented on #6562
Closing. Please reopen if you're interested in working on this feature. It might need to be an alternative to the current CRUD feature.

[2022-02-18 04:02] #6562 closed

[2022-02-18 04:04] mraible commented on #8608
Closing because @pascalgrimaud's last comment (on Jan 24, 2021) seems to indicate this issue is resolved.

[2022-02-18 04:04] #8608 closed

[2022-02-18 04:04] mraible commented on #12713
Closing because no response from bug reporter. Please reopen if you're experiencing this with JHipster 7.

[2022-02-18 04:04] #12713 closed

[2022-02-18 04:05] mraible commented on #12902
Are you still interested in this feature @mshima?

[2022-02-18 04:06] mraible commented on #15705
I don't think this is supported by logback, so closing. Please re-open if you find a solution and submit a PR to add.

[2022-02-18 04:06] #15705 closed

[2022-02-18 04:07] mraible commented on #12740
Closing because I think this issue is resolved. Please reopen if it isn't, or just use OIDC. 😊

[2022-02-18 04:07] #12740 closed

[2022-02-18 04:09] mraible commented on #16361
@vw98075 I'd love to collaborate with you and figure out a solution for this. I think Spring Security has a way of saving the state between timeout and re-auth, so that might help. I'll add a bug bounty to fix.

[2022-02-18 04:10] mraible commented on #15617
@sendilkumarn This references the Kotlin blueprint. Do you have an opinion about this?

[2022-02-18 04:14] mraible commented on #15524
@Ivanov-Alexander Is this still an issue with 7.6.0?

[2022-02-18 04:15] mraible commented on #12675
I'm going to assume this is fixed in v7. If it's not, please reopen this issue.

[2022-02-18 04:15] #12675 closed

[2022-02-18 04:17] mraible commented on #12654
Closing because v6. Please reopen if this still happens with v7.

[2022-02-18 04:17] #12654 closed

[2022-02-18 04:18] mraible commented on #15577
@vw98075 Do you still think we should remove it? I agree it's a good idea if it doesn't work.

[2022-02-18 04:19] mraible commented on #15401
@Tcharl Should we leave this issue open?

[2022-02-18 04:20] mraible commented on #14955
Closing because no response from @Evertude.

[2022-02-18 04:20] #14955 closed

[2022-02-18 04:20] mraible commented on #15434
No response, closing.

[2022-02-18 04:20] #15434 closed

[2022-02-18 04:21] mraible commented on #16358
@lucastaehli Can you provide a GitHub repo with this issue? Please regenerate your app with 7.6.0 to confirm it's still an issue.

[2022-02-18 04:22] mraible commented on #15523
@SudharakaP Do you have time to investigate and fix this issue? If not, do you know someone that might be able to help?

[2022-02-18 04:23] mraible commented on #12572
@mshima Should we keep this issue open or close it?

[2022-02-18 04:24] mraible commented on #12558
$500 bounty! Maybe we should split this one into smaller tasks to inspire contributions?

[2022-02-18 06:26] jonyhartron commented on #17627
@qmonmert yes using different field for each role resolves the issue, but i was wondering there must be better way, as adding more roles will add more checks.

[2022-02-18 08:14] OmarHawk commented on #17613
@mraible sure, but I will only come to this somewhen next week :-)

[2022-02-18 10:20] mshima commented on #17839
@mraible fails to load the swagger ui or just the log?
The discovery logic was moved from the server to the client. The error on the console is normal because it try and catch.
I’ve added error handling at https://github.com/jhipster/generator-jhipster/issues/17531, I suppose it’s not related to discovery process.

The failure to show the api may be related to the openapi generator not been update

[2022-02-18 10:26] mshima commented on #17796
Looks like there is a bug at prettier-plugin-java.
It’s failing to report the error location.

[2022-02-18 10:30] pascalgrimaud commented on #17839
We need to simply ignore consul. Something like this, should do the job:

![image](https://user-images.githubusercontent.com/9156882/154665220-6c2cbadd-70e3-4fd6-95ca-b3c2eb9fa10c.png)

[2022-02-18 10:31] mshima commented on #12902
@mraible I may implement that for v8 while modularizing.

[2022-02-18 10:34] mshima commented on #15617
Maybe this was fixed by https://github.com/jhipster/generator-jhipster/pull/17742/commits/d61fd1e2a8c086bd27c427a0fcdab89263782eaf

[2022-02-18 10:47] mshima commented on #15524
This probably still happens to vue and react.
There are a few fixes to angular embedded support at https://github.com/jhipster/generator-jhipster/pull/17822

[2022-02-18 10:56] mshima commented on #17613
I may try to convert the content_type field to an actual field for v8.
So, instead of implementing at templates, we should inject the field to fields list.
Templates won’t need to add all those `if blob then regenerate the content_type field` anymore.

[2022-02-18 11:10] mshima commented on #12572
@mraible not me 😄.

Anyway, I like one sequence per entity, I had it implemented inside a customization blueprint.
But only one sequence is simpler.

Changing the initial sequence number is pretty easy.
Change the value and add the file to .yo-resolve.

[2022-02-18 11:12] mshima commented on #16358
Probably duplicate of https://github.com/jhipster/generator-jhipster/issues/15524#issuecomment-1044320728

[2022-02-18 13:03] yelhouti commented on #17850
Does anyone mind me working on this ?

[2022-02-18 13:45] yelhouti commented on #17850
@vishal423 thanks I ll do it :)

[2022-02-18 14:26] #17775 closed

[2022-02-18 16:03] JeroenAdam commented on #17850
What was their (Keycloak devteam) reasoning for this change? First tought, I would follow their standard without /auth, they must have good reason to have done so.

[2022-02-18 17:16] yelhouti opened #17919 "Composite primary key (again)"
##### **Overview of the feature request**

Now that we have better support for the generation of primary keys (jdl...), ans that blueprints have been using them for a little while, I think we should start using them in the server code (java + liquibase) then once the server is stable enough implement them in the frontend.

Again before starting to work on this, I am pinging the people that showed

[2022-02-18 17:28] yelhouti commented on #17850
I created an issue with keycloak: https://github.com/keycloak/keycloak/issues/10322
To see if the reason why the CI is failing is expected behavior and i should adapt the code, or I should try to fix it in keycloak.

The CI can also be changed to rerun keycloak after import for tests to pass.

[2022-02-18 17:46] #16178 closed

[2022-02-18 18:37] DanielFran opened #17921 "Update Nodejs version to 16.14.0"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-02-18 20:18] #13038 closed

[2022-02-18 20:24] TransWebT commented on #17796
@mraible  - I was reviewing the relevant differences between 7.3.0 and 7.3.1 last week and then got busy with some day job work I had to catch up with.  I'm planning on digging in again this weekend unless a fix jumps out at someone else.  -terry

[2022-02-18 21:27] #17921 closed

[2022-02-19 02:37] vw98075 commented on #16361
I thought this one was fixed already.

Anyway, I had looked into this issue before actually. I tried to find where a user session data is stored without luck. Once I had the information, I could use a Spring Security filter chain to redirect any HTTP requests to the login if a user session is expired. I don't know whether this thought is too naive or not

[2022-02-19 09:06] #17796 closed

[2022-02-19 09:16] emilpaw commented on #17782
I will take a look into this issue.

Where exactly should the date be shown, on the page about a release like https://www.jhipster.tech/2022/01/23/jhipster-release-7.6.0.html or on the overview page https://www.jhipster.tech/releases/ ?

[2022-02-19 09:20] pascalgrimaud commented on #17782
@emilpaw : the logic should be similar to what have been done with major release, so for being simpler, let's do it at  https://www.jhipster.tech/releases/

![image](https://user-images.githubusercontent.com/9156882/154794758-b23bd20d-bc25-4d6f-a74f-d1c7e3cca0ef.png)

Have a look at the logic here:
https://raw.githubusercontent.com/jhipster/jhipster.github.io/main/pages/releases.md

[2022-02-19 09:31] emilpaw commented on #17782
Thank you for the help.

Like this? @pascalgrimaud
![image](https://user-images.githubusercontent.com/39118431/154795226-2a99b68f-6cd1-4a28-95d4-1945d62582e4.png)

[2022-02-19 09:38] pascalgrimaud commented on #17782
Yes looks good :-)))

[2022-02-19 11:56] emilpaw commented on #17627
@jonyhartron Does this work for you?

[2022-02-19 17:12] emilpaw commented on #17906
I am working on this.

[2022-02-19 23:07] gcdus opened #17926 "React ValidatedField wrapping to Row, Col for multi column view"
##### **Overview of the issue**

If we try to arrange form fields in column view in other words if we wrap ValidatedField to Row and Col tag, the field values are not populated during Edit mode of the page and the same is true for insert mode. On the existing user management page, we are trying to see Last Name and First Name in one row, and we are unable to see the value or update the value if we

[2022-02-20 00:20] gcdus commented on #16755
It seems that I've just raised a similar issue, this is a very basic feature that was always available in Jhipster, and developers were able to design the form using multiple columns view as needed and now it seems that we are restricted to one row per field only unless we can start using the library features outside of the framework. This simple wrapper is good only if the page has a few fields,

[2022-02-20 00:25] gcdus commented on #17926
I've just found that this issue is related to #15588 and #16755.

[2022-02-20 01:07] antoniosch85 opened #17927 "Adding jasper dependency deploy fails Failed to instantiate [io.searchbox.client.JestClient]: java.lang.NoSuchFieldError: LATEST"
##### **Overview of the issue**
If I add jasper dependency:
	    <dependency>
		    <groupId>net.sf.jasperreports</groupId>
		    <artifactId>jasperreports</artifactId>
		    <version>6.4.0</version>
		</dependency>
the build is ok but deploy fails with error:
Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'elasticsearchTemplate' defined

[2022-02-20 06:11] jonyhartron commented on #17627
yes it worked for me

[2022-02-20 10:29] drissslim commented on #17411
Any idea on the described use case and how to reference user.login in subsequent entity related to a UserData entity?

[2022-02-20 11:08] #17627 closed

[2022-02-20 11:20] gmarziou commented on #17927
This is not a JHipster issue, please use [gitter](https://gitter.im/jhipster/generator-jhipster) or [stackoverflow](https://stackoverflow.com/questions/tagged/jhipster) for questions on other projects.

[2022-02-20 11:20] #17927 closed

[2022-02-20 13:01] emilpaw commented on #17926
Currently `ValidatedField` and `ValidatedInput` must be direct children of `ValidatedForm`.  If you want to nest the Inputs in other Components you need to use useForm directly, similar to what ValidatedForm does under the hood.

I made a small example to show how to make the form from your screenshot work: https://github.com/emilpaw/jhipster-react-nested-form-inputs-example/commit/78edc394869673b

[2022-02-20 14:26] gcdus commented on #17926
Thanks emilpaw, this works like a charm and we are able to arrange the layout as needed based on slight twist as per your sample. appreciated your effort and help.

[2022-02-20 18:19] crowne opened #17943 "Improved support for docker secrets"
##### **Overview of the feature request**

I'd like to be able to set environment variable values using docker secrets
in a similar way to how it is done by keycloak.
See https://github.com/keycloak/keycloak-containers/blob/main/server/tools/docker-entrypoint.sh

It should be as simple as changing one template file
generators\server\templates\src\main\docker\jib\entrypoint.sh.ejs

The way that it

[2022-02-20 18:25] amatosg opened #17944 "UserStepsDef creates incorrect instance of WebTestClient"
##### **Overview of the issue**

When generating a clean reactive project without importing any entity, the UserStepsDef class has a few issues:

1. the `MockMvcBuilders` import is missing
2. the `status` static import is missing
3. the `content` static import is missing
4. the `jsonPath` static import is missing
5. The class tries to instantiate the `WebTestClient` object with the following code:

[2022-02-20 18:40] mraible commented on #17944
I can confirm this is an issue.

[code]

Adding a bounty to get this fixed. Please submit a PR if you know how to fix.

[2022-02-20 19:54] amatosg opened #17945 "Changelogs contains "autoincrement" when using UUID as id"
##### **Overview of the issue**
When creating entities with UUID as id and importing using JDL, autoincrement should not be present in the liquibase changelog as it will produce the following error:

`Caused by: liquibase.exception.UnexpectedLiquibaseException: Property [autoIncrement] was not found for object type [liquibase.datatype.core.UUIDType] `

##### **Motivation for or Use Case**
Adding a

[2022-02-20 23:45] mshima commented on #17945
Duplicate of https://github.com/jhipster/generator-jhipster/issues/17835

[2022-02-20 23:45] #17945 closed

[2022-02-21 16:17] OmarHawk commented on #17835
@mshima , I think, this would only work if there would be such a file named like this in https://github.com/jhipster/jdl-samples

[2022-02-21 17:37] hamaarouf opened #17946 "Integration tests fail with French as native language of the application"
##### **Overview of the issue**
When generating a jhipster project with French as native language of the application, the intergration test fail with the following failure message :

[INFO]
[ERROR] Failures:
[ERROR]   MailServiceIT.testSendEmailFromTemplate:143
expected: "test title"
 but was: "Activation de votre compte mailservice"
[INFO]
[ERROR] Tests run: 90, Failures: 1, Errors: 0, Skipped: 0

[2022-02-22 19:17] #17944 closed

[2022-02-23 14:13] DanielFran opened #17957 "Gateway/microservice (or microfrontend) generation from JDL did not work"
##### **Overview of the issue**

Using this JDL with the main branch, the applications did not pass integration tests (both gateway and microservice/frontend)

**NOTE: Update gateway to use jwt also**
[code]

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-02-23 14:49] DanielFran commented on #17957
@mshima Defining microfrontend or microservice (removing the client framework) I have exactly the same issue, error creating beans.

[2022-02-23 15:56] mraible commented on #17957
This seems important, so I'm adding a bug bounty.

[2022-02-23 23:14] mraible commented on #17946
Adding bug bounty because it seems like our i18n should support this.

[2022-02-23 23:15] mraible commented on #17874
Added bug bounty to help get this fixed.

[2022-02-24 12:40] mshima commented on #17957
Following https://github.com/jhipster/generator-jhipster/pull/17958#issuecomment-1049710157.
This error happens at daily-builds at windows.
I saw the stack trace at macOS, but it don’t fails the command.

Last success build uses:
![E26C4603-67D2-4EF3-BE1F-E4059173B787](https://user-images.githubusercontent.com/1417183/155525378-6afc7bc8-e591-440b-9bde-0c78767a4835.jpeg)

First with errors uses:
![

[2022-02-24 12:46] DanielFran commented on #17957
Will try to revert some of the dependencies to validate which one might cause the issue

[2022-02-24 13:52] DanielFran commented on #17957
@mshima @pascalgrimaud @mraible Identified issue, this is related to the update of maven-compiler-plugin to 3.10.0

[2022-02-24 14:45] #17957 closed

[2022-02-24 14:46] pascalgrimaud commented on #17957
Here a screenshot of the errors:

![image](https://user-images.githubusercontent.com/9156882/155546724-69686b93-8b2f-48b8-b9a7-2a3b0af12294.png)

It seems related to https://issues.apache.org/jira/browse/MCOMPILER-485

[2022-02-24 18:37] DanielFran commented on #17957
@mhsima Do you want to share with me the bug bounty?

[2022-02-24 19:23] Ebsan opened #17968 "TLS Live Server not working"
##### **Overview of the issue**

Using Jhipster 7.6.0 I can no longer run a live server with tls enabled. As described in the docs we should be able to run `npm run start-tls` to bring up a live server proxying to https://localhost:4200. However, the live server proxies to http://localhost:4200 (missing the s in https).

Here is the output from running `npm run start-tls`:

[code]

##### **Motivat

[2022-02-24 19:29] mshima commented on #17957
@DanielFran you can take the bounty.

[2022-02-24 23:10] vw98075 opened #17970 "Potential Security Vulnerabilities"
##### **Overview of the feature request**

We use Fortify Static Code Analyzer to scan our project built with JHipster. The report shows over 150 potential security vulnerabilities. Although the majority of them are javascript libraries, it is worth sharing the finding.

Here is the JHipster setup for the app:
[code]

##### **Motivation for or Use Case**

To make applications built with JHipster m

[2022-02-24 23:11] vw98075 commented on #17970
[sast-issues.csv](https://github.com/jhipster/generator-jhipster/files/8137139/sast-issues.csv)
 The about is the output file

[2022-02-25 09:45] pascalgrimaud commented on #17957
@DanielFran : approved

[2022-02-25 14:11] OmarHawk commented on #17835
I just found out, that they are @mshima (and therefore some IT tests are failing at the moment). Spring Data uses this internally to check, if it can delete an entity that is referenced by ID:

![grafik](https://user-images.githubusercontent.com/2911492/155729269-68a61a09-94e8-47b1-963f-94a9f2296621.png)

I'll check, if there is a way to generate this kind of thing with AOP instead of having actua

[2022-02-25 14:37] mshima commented on #17835
@OmarHawk probably you should implement setIsNew instead of setIsPersisted.
This will set the default state as persisted and should fix the delete issue.

[2022-02-25 16:00] OmarHawk commented on #17835
I tried that, but seems like Hibernate cache then causes the isNew to be set to true. To be honest, I think, we should just go the way the official Spring documentation advises us instead of producing crappy workarounds.

[2022-02-25 19:45] mshima opened #17978 "Docker compose with cassandra has definition errors."
##### **Overview of the issue**

Docker compose file with cassandra application is broken.

##### **Motivation for or Use Case**

##### **Reproduce the error**

https://github.com/jhipster/generator-jhipster/pull/17977

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generate

[2022-02-25 19:51] mshima opened #17980 "Sql reactive implementation with entitySuffix has compile errors"
##### **Overview of the issue**

Setting a custom entitySuffix generates a broken application.

##### **Motivation for or Use Case**

##### **Reproduce the error**

https://github.com/jhipster/generator-jhipster/pull/17979

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files gene

[2022-02-25 22:35] #14745 closed

[2022-02-26 08:40] OmarHawk commented on #17835
Meanwhile I also added also support for the non-reactive stack and made all tests green.
I now do generate the Persistable Interface and added support for the reactive & non-reactive stack and actually implemented it the way official documentation suggests (and as I initially also suggested). Sure, we do have one additional class in the reactive stack, but this is more understandable and less erro

[2022-02-26 14:09] ongrieh commented on #17839
Hi Community,

this issue is not new or at least this behavior has shown before:
[https://github.com/jhipster/generator-jhipster/issues/17531](https://github.com/jhipster/generator-jhipster/issues/17531)
[https://github.com/jhipster/generator-jhipster/issues/17489](https://github.com/jhipster/generator-jhipster/issues/17489)

Although both issues have been closed, for me it was never resolved unti

[2022-02-26 15:29] hamaarouf commented on #17946
I'm working on it!

[2022-02-26 16:52] #17980 closed

[2022-02-26 20:22] pascalgrimaud commented on #15869
Huge work here, so I'm adding a big bounty
plz claim it @mshima

[2022-02-26 22:01] #17874 closed

[2022-02-27 06:52] #17946 closed

[2022-02-27 08:47] tschig opened #17990 "Upgrade to 7.7.0: No property fetchBagRelationships found for type Entity"
##### **Overview of the issue**
(Name of my Entity was replaced by "Entity", Name of my Project was replaced by "Example")

Backend won't start after updating to 7.7.0 from 7.6.0.
Repositories now have a EntityRepositoryWithBagRelationships super class.
Starting the backend results in a "No property fetchBagRelationships found for type Entity!" Error.

##### **Motivation for or Use Case**

JHipste

[2022-02-27 12:47] M4jor-Tom commented on #17411
To me, chaining an additional entity in the relationship's other field's name as it follows (with defined entity, of course):

relationship OneToMany {
 UserData to Post{userData(user.login)}
}

Suffises, because it is possible to know from that, that:
-"Post" entity must own a "userData" field
-"UserData" entity must own a "user" field
-Of course, "User" entity natively owns a login field, but it

[2022-02-28 11:59] Tcharl commented on #17990
Hi,

Can you also post your .yo-rc file please?

[2022-02-28 15:25] mshima commented on #17990
Still missing information to reproduce.
The `meta` entity is missing.
`"entities": ["Entity"],`

[2022-02-28 17:27] CarlosVallsCiscar opened #18006 "TextBlob especial characters problem"
##### **Overview of the issue**

When I create an entity with a variable of type TextBlob it saves the content in ascii in the database and then it doesn't convert to unicode when accessing it.

<img width="1864" alt="Captura de pantalla 2022-03-01 a las 10 51 34" src="https://user-images.githubusercontent.com/35140525/156146908-8b4d9868-f916-47dc-9d63-c17f5d692262.png">

The original text written

[2022-02-28 18:59] tschig commented on #17990
Hi @Tcharl, @mshima ,

I've bundeled all needed files to reproduce this error into this zip:
[jhi-bug-template.zip](https://github.com/jhipster/generator-jhipster/files/8155907/jhi-bug-template.zip)

Steps to reproduce:
 1. Run `jhipster`
 2. Run `jhipster entity thing`
 3. Run `mvnw` to check if app is starting -> App should start
 4. Add `MyThingRepository.java` to `\src\main\java\com\mycompany\

[2022-02-28 20:12] Weltraumschaf commented on #17990
I have a similar problem in the resource integration tests. We use a side-by-side approach to customize/extend the generated code. We have an extended repository crafted by hand:

[code]

which extends the generated repository:

[code]

This fails with the same error when running the resource integration tests:

[2022-02-28 22:19] mshima commented on #17990
So the problem is not with the generated code, but extending it using side-by-side.
Is the original repository package still in the `@EnableJpaRepositories`?
https://github.com/jhipster/generator-jhipster/blob/74a0ec1050f9853ad5b370dc574f07e1c6078012/generators/server/templates/src/main/java/package/config/DatabaseConfiguration_sql.java.ejs#L90

[2022-02-28 22:34] tschig commented on #17990
Yes, problem seems to be related to extending the repository.

Original Repository is still in ```@EnableJpaRepositories```
![image](https://user-images.githubusercontent.com/1055580/156069738-ec6729d2-a612-4f87-9502-7c95cfde90f5.png)

[2022-02-28 23:33] mshima commented on #17990
Try making the extended repository extend the `WithBagRelationships` interface.

[2022-03-01 03:58] mraible opened #18008 "Buttons have black text on colored background"
##### **Overview of the issue**

In previous versions of JHipster, I'm pretty sure the buttons had white text on buttons with colored backgrounds. In v7.7.0, the text is black.

<img width="1086" alt="Screen Shot 2022-02-28 at 20 53 13" src="https://user-images.githubusercontent.com/17892/156101841-c1a6c941-f840-4b16-97d1-1e9b3d9bad08.png">

##### **Motivation for or Use Case**

I believe the butt

[2022-03-01 04:05] mshima commented on #18008
This is related to bootstrap 5.
The text color (black or white) is calculated based on the background color.

[2022-03-01 04:18] mraible commented on #18008
If that's the case, should we close this issue?

[2022-03-01 04:28] mshima commented on #18008
IMO white would look better for current colors, but I don’t know if it’s possible to do it for every component, without customization every component one by one.
Eg: *-info (btn, modal, …)

[2022-03-01 09:25] tschig commented on #17990
This won't work I think.
We need to extend `ThingRepository` so that we can use it as a `JPARepository` for saving entities etc.

[2022-03-01 09:35] #17978 closed

[2022-03-01 09:53] tchlyah opened #18017 "Embedded OneToOne relationship generation fails"
##### **Overview of the issue**

It seems that there is a regression in latest version of JHipster (7.7.0): If the other side of a OneToOne relationship is embedded, the generation fails with the following error:

[code]

##### **Reproduce the error**

Use the JDL below.

##### **Suggest a Fix**

A simple fix is to add a check `relationship.otherEntity.primaryKey != null` to https://github.com/jhi

[2022-03-01 10:18] DanielFran commented on #17957
@pascalgrimaud can you re-approved the bug bounty please?

[2022-03-01 10:26] pascalgrimaud commented on #17957
@DanielFran : done :)

[2022-03-01 11:33] Weltraumschaf commented on #17990
I can confirm what @tschig writes: Extending `BadgeRepositoryWithBagRelationships` additionally from `ExtendedBadgeRepository` fixes the problem.

Is there somewhere documentation about this feature? I've never seen autogenerated JPA methods starting with `fetch`. I searched the web tonight and the only hint I found was this issue.

[2022-03-01 14:00] shresthaujjwal opened #18018 "Bug: Generator tries to download web packages when selected no client"
##### **Overview of the issue**

Generator tries to download frontend packages when selecting no client and it fails with warning

##### **Reproduce the error**

[code]

## WARNING! Could not fetch bootswatch themes from API. Using default ones.

##### **JHipster Version(s)**
7.7.0

[2022-03-01 17:41] hamaarouf commented on #18008
@mraible I created a project with jhipster 7.7.0 and I didn't have this issue. Im using Windows.
![test](https://user-images.githubusercontent.com/75782444/156220226-9db4f5ff-881d-4b86-bb8f-eee746865908.png)

[2022-03-01 17:49] mshima commented on #18008
React is not customizing the colors like angular is.

[2022-03-01 19:37] vw98075 commented on #15577
The document is way outdated as the sample code can't get complied with. It shall be removed if it doesn't help anybody.

[2022-03-02 14:44] Weltraumschaf commented on #17990
ah, I see. There is a link to a [blog post](https://vladmihalcea.com/hibernate-multiplebagfetchexception/). I found this post during my research, but I didn't realize that this `ENTITYRepositoryWithBagRelationshipsImpl` is more or less a workaround for the problem described in the post.

Would be nice to have a hint somewhere in the [JHipster doc](https://www.jhipster.tech/jdl/relationships) 🤗

[2022-03-02 18:53] Tcharl commented on #9221
Reproduced:

- Use any monolithic oauth2 app
- Add postman redirect uri in keycloack (I'll add it in the conf in my next PR)
Use this postman configuration:
<img width="517" alt="Capture d’écran 2022-03-02 à 19 51 27" src="https://user-images.githubusercontent.com/792925/156428669-1792a3b1-ebcc-4f1c-b583-a89cf53fb5f6.png">
<img width="1260" alt="Capture d’écran 2022-03-02 à 19 52 37" src="http

[2022-03-02 19:28] Tcharl commented on #12572
Closing, as there's a simple fix for the end user that needs it (and because we have a lot of other issue to fix :-p)

[2022-03-02 19:28] #12572 closed

[2022-03-02 19:33] #15815 closed

[2022-03-02 19:34] #17135 closed

[2022-03-02 19:53] Tcharl commented on #17943
@crowne Feel free to implement: I realy like the idea!

[2022-03-02 20:45] Tcharl commented on #16039
You should call the service.save() method in order to get something that is indexed, it's not really related to faker or other.

I had something that worked with reeindexer, but didn't know where are the source.

here's a snippet for some dedicated repositories:
[code]

[2022-03-02 20:47] Tcharl commented on #16892
Seems fixed by the recommendation of @vicpermir .
Feel free to reopen if needed

[2022-03-02 20:47] #16892 closed

[2022-03-03 05:36] Bernankez opened #18038 "Generator generated an invalid version config for maven-enforcer-plugin in pom.xml"
##### **Overview of the issue**

The generated maven-enforcer-plugin version config seems wrong. Here's an example:
[code]
I think it should be `[11,12),[12,13),[13,14),[14,15),[15,16),[16,17),[17,18)`

##### **Motivation for or Use Case**

Project built failed because of the reversed version config:

[code]

##### **Reproduce the error**

Running `jhipster`, and here are my choices:
[code]
![imag

[2022-03-03 05:53] pascalgrimaud commented on #18038
I can see you're using java 8:

[code]

[2022-03-03 07:48] Guzzi commented on #13396
@ecostanzi, @pascalgrimaud - I think this one can be closed, as with 7.x bidirectional ManyToOne are possible again and there won't be a backport to 6.x anyway.

[2022-03-03 07:48] #13396 closed

[2022-03-03 08:11] pascalgrimaud commented on #13396
Thanks @Guzzi :)

[2022-03-03 08:48] Bernankez commented on #18038
Hi @pascalgrimaud
Yes, I'm using java 8 when generating the project. And I changed to java 11 when building. But because of the previously generated pom.xml, the version config is reversed `<version>[17,18),[16,17),[15,16),[14,15),[13,14),[12,13),[11,12)</version>`, and maven-enforcer-plugin does not recognize this rule.

[2022-03-03 09:06] maiido opened #18039 "ClientForwardController intercepts request but he should not"
Hi,

I think, I found a minor issue in ClientForwardController. By the way JHipster rocks !

##### **Overview of the issue**

    @GetMapping(value = "/**/{path:[^\\.]*}")
With that configuration of ClientForwardController,

And with a controller with this configuration

@RequestMapping("/api")

...

`@GetMapping("/{one}/{two}/{three}/{four}/{five}")
    public ResponseEntity<String> getValue(

[2022-03-03 12:34] pascalgrimaud commented on #18038
If reversing can fix the issue, so we should do it
Would you like to contribute and propose the fix plz?

[2022-03-03 16:15] ndywicki commented on #12412
Hello,

Just for information is the same on the Jhipster-lite (v0.0.12-SNAPSHOT) Swagger UI ;-)
But strangely no fetch error, only the badly interpreted the ProjectDTO schema:

![Capture](https://user-images.githubusercontent.com/1721344/156603052-70e161c5-4066-49a6-833e-7f5848c23532.PNG)

Could be a clue

[2022-03-04 14:30] hamaarouf opened #18050 "Dockerfile is missing when generating a new project"
##### **Overview of the issue**
It's mentioned in the documentation  https://www.jhipster.tech/docker-compose/ at the description section that when we generate a new Jhipster project, Dockerfile is generated by Jhipster, which is not the case for me.

##### **Motivation for or Use Case**

It would be easier if Dockerfile generated by Jhipster instead of creating it.

##### **Reproduce the error**

[2022-03-04 14:32] hokrobert commented on #17129
Is there anything left to discuss?
I still think, that sending the complete representation of a related business objects is a security flaw. The creation of a child entity should only have the reference to the parent not the whole representation of the parent.

In my opinion it also violates somehow against OWASP - excessive data exposure. Though it is not the response that exposes too much, for t

[2022-03-06 01:51] evoletd opened #18052 "webpack-dev-server ECONNREFUSED error when using proxy and browser sync"
##### **Overview of the issue**

After a newly generated JHipster project is created. Main options: Angular, Gradle, H2, Cypress, Gatling, Cucumber.
Opened up project in IntelliJ. Started project using Server Play button in the top right menu.
Project Compiles Successfully and launches in the browser the Hello World Home page.
After Project is launched and running, Webpack dev server starts to thr

[2022-03-06 01:53] evoletd commented on #18052
Thanks for looking at my issue!

[2022-03-06 11:17] nomuna commented on #18050
No _Dockerfile_ will be generated for you. Jhipster generates _*.yml_ files for all the docker images to be used with docker-compose in the folder _src/main/docker_. How to start them is also described in the _README.md_ file that is also generated for the project.

[2022-03-06 11:26] hamaarouf commented on #18050
@nomuna did you try to regenerate the error ? because Dockerfile is missing in my case and it's not only for me, you can see in the comments section of this tutorial others who have the same issue

https://www.youtube.com/watch?v=6f87fg_MsLw&t=200s

here is the files I have in src/main/Docker:

![dockerfile](https://user-images.githubusercontent.com/75782444/156920884-bbb8e48b-fa74-451f-8807-918cd

[2022-03-06 11:28] nomuna commented on #18050
ok the video is from 2019... I am guessing the jhipster version of that time created Dockerfile. The new one does not. Try it with the docker-compose files. Or hunt down the version used in that video and try that.

[2022-03-06 18:12] evoletd commented on #18052
I found the solution. I'll close this issue. Thanks. https://stackoverflow.com/questions/43291477/jhipster-cannot-login-after-starting-with-yarn-start-webpack

[2022-03-06 18:12] #18052 closed

[2022-03-06 19:27] mshima commented on #18050
We don’t provide a dockerfile because we use default jib-plugin one.
If you want to customize it, go to jib documentation.
To build the docker image run `npm run java:docker` or follow https://www.jhipster.tech/docker-compose/#3
And start it with `docker-compose -f src/main/docker/app.yml up`.

The Dockerfile reference should be removed from the documentation.

[2022-03-06 20:01] hamaarouf commented on #18050
@mshima Thank you for your answer! please can I make a PR to remove the Dockerfile reference from the documentation ?

[2022-03-06 20:53] mshima commented on #18050
@hamaarouf yes, please.

[2022-03-07 00:56] #18038 closed

[2022-03-07 09:14] igor-h commented on #10539
@wmarques Hi William. What can we do if I have project started with jHipster in 2019-2020, when the frontend was still build with webpack.
How can I upgrade now?
Do we have some steps for that?
Thank you!

[2022-03-07 09:21] #18017 closed

[2022-03-07 14:03] mshima commented on #18018
Need to add `this.cancelCancellableTasks();` after https://github.com/jhipster/generator-jhipster/blob/154259b7ca50ef218176c92223c3d2d8af611bdd/generators/client/prompts.js#L77

[2022-03-07 15:56] wmarques commented on #10539
Hello,
Unfortunately I don't have a documentation ready for you. I think the best way is to generate a new app and see the differences on the frontend side. It's not huge I think, mostly moving some folders, it's mostly configuration.
But if you never upgraded since 2 years you will have other issues than the Angular cli I'm afraid...

[2022-03-08 10:58] ascelineboullen commented on #13595
Hello everyone!

A little update:
- On desktop version (https://rebrand.ly/jhipster), I fixed some elements on the homepage (I deleted "news section", I split "team section" on another page, fixed somes mistakes on texts, etc..)
- It's not finished yet, but I init the link to see the homepage on the responsive view. You can see it at: https://rebrand.ly/jhipster-mobile

So don't hesitate to give m

[2022-03-08 12:40] jdubois commented on #13595
Thank you for your hard work @ascelineboullen ! As I'm currently learning more about accessibility, can you have a look at https://accessibilityinsights.io to be sure that the new website would work for everyone?

[2022-03-09 09:19] Akuka opened #18071 "Bump liquibase-core from 4.6.1 to 4.12.0 (Security alert)"
Improper Restriction of XML External Entity Reference in Liquibase

The XMLChangeLogSAXParser() function in Liquibase prior to version 4.8.0 contains an issue that may lead to to Improper Restriction of XML External Entity Reference.

Package: org.liquibase:liquibase-core
Affected versions: < 4.8.0
Patched version: 4.8.0

![image](https://user-images.githubusercontent.com/3299903/157411191-20367f8

[2022-03-09 12:01] ascelineboullen commented on #13595
Yes I design keeping accessibility constraints in mind. But I will take a look at the link you shared with me to reconfirm that's really ok. Thank @jdubois 😄

[2022-03-10 14:36] mshima commented on #16275
PR is coming.

[2022-03-10 17:44] tiboun opened #18082 "@embedded throw a Cannot read properties of undefined (reading 'name')"
##### **Overview of the issue**

Using the following jdl, I encounter an issue regarding embedded document. If I remove the annotation then the generation works fine.

`application {
  config {
    baseName myapp,
    applicationType monolith,
    packageName com.test.myapp,
    authenticationType jwt,
    databaseType mongodb,
    clientFramework vue,
    buildTool maven,
    clientPackageManager

[2022-03-10 22:17] mraible opened #18085 "MySQL in Docker doesn't work on Mac M1"
##### **Overview of the issue**

[code]

[This Stack Overflow Q&A](https://stackoverflow.com/questions/65456814/docker-apple-silicon-m1-preview-mysql-no-matching-manifest-for-linux-arm64-v8) provides some solutions.

Changing to Oracle's image seems to work:

[code]

##### **Motivation for or Use Case**

JHipster should work out-of-the-box on Mac M1s.

##### **Reproduce the error**

Create an app

[2022-03-10 22:40] mraible commented on #18085
When using `mysql/mysql-server:8.0.28`, I get the following error on startup:

[code]

I tried removing `127.0.0.1:` from the ports, but it still fails.

[code]

[2022-03-10 22:45] mraible commented on #18085
Changing to this seems to work:

[code]

[2022-03-11 06:47] mraible commented on #13461
Changed bug bounty from $200 to $500. @rwinch is this possible with WebFlux?

[2022-03-11 07:34] mraible commented on #17990
Can we close this @tschig?

[2022-03-11 07:35] mraible commented on #17970
Please create a pull request to fix these issues and we will gladly reward you. :)

[2022-03-11 07:36] mraible commented on #17850
Any updates y'all? I'm adding a bug bounty in hopes of making this happen faster.

[2022-03-11 07:38] mraible commented on #17839
@andytrujillorivero Can you please provide the steps to reproduce this issue. Does it still happen with JHipster 7.7?

[2022-03-11 07:39] mraible commented on #18050
@hamaarouf Please provide a link to your documentation PR when you get a chance.

[2022-03-11 07:42] mraible commented on #17835
Adding a bug bounty because I'm a big fan of UUID after experiencing a painful production experience with PostgreSQL. https://github.com/mraible/21-points/pull/58

[2022-03-11 07:42] mraible commented on #17774
Bumping from 200 to 500.

[2022-03-11 07:43] mraible commented on #17785
@indiepopart Have you figured out a workaround for this that we might want to implement?

[2022-03-11 08:03] tschig commented on #17990
@mraible I think at least the JHipster Documentation should be adjusted.

This page seems to be outdated with 7.7.0:
[Tips & Tricks](https://www.jhipster.tech/tips/035_tip_combine_generation_and_custom_code.html)
Another hint elsewhere would be very nice, as @Weltraumschaf pointed out.

[2022-03-11 08:09] yelhouti commented on #17850
My bad, I thought I was done with it. I lol try to finish it later

[2022-03-11 09:52] mshima commented on #17774
Will try to fix this.

[2022-03-11 12:05] andreybavt commented on #9032
I've added
`    implementation group: 'io.springfox', name: 'springfox-swagger-ui', version: '2.9.2'`
and temporarily disabled web security:
[code]
and now receiving this message:
![image](https://user-images.githubusercontent.com/7889985/157863691-3affce4c-91aa-46aa-b9ce-37f2d982d5b2.png)

Does anyone know how to solve it?

[2022-03-11 13:43] mshima commented on #12746
For future reference https://github.com/dependabot/fetch-metadata#enabling-auto-merge.

[2022-03-11 13:46] pascalgrimaud commented on #12746
Thanks for pointing it, @mshima
I think it's a good idea to auto merge patch and minor version

[2022-03-11 15:11] indiepopart commented on #17785
@mraible I could not work on this yet, let me get back next week

[2022-03-11 16:17] andytrujillorivero commented on #17839
Thank you all for your comments on this issue!
@pascalgrimaud's suggestion prevents the error to be shown, but still no gateway endpoints are listed in swagger.
@mraible, I upgraded to JHispter 7.7 and tried again same steps from initial post (new gateway app, consul, OAuth 2.0, Postgres...).  I got same result when trying to list gateway API endpoints in swagger: "No API definition provided".
Mic

[2022-03-11 17:03] mraible opened #18097 "`jhipster upgrade` fails to upgrade v5 project to v7"
##### **Overview of the issue**

I'm trying to upgrade my [21-Points Health](https://github.com/mraible/21-points) application to use JHipster 7. It fails with the following error:

[code]

Full stack trace:

[code]

##### **Motivation for or Use Case**

It'd be really slick if I could update 21-Point Health quickly and easily.

##### **Reproduce the error**

Clone the project and run `jhipster up

[2022-03-11 17:15] mraible commented on #18097
I tried answering no to the blueprints question.

[code]

Unfortunately, the same error happens.

[2022-03-11 17:29] OmarHawk commented on #17835
@mraible: Well, the linked PR will fix that - but please note the last comment in [there](https://github.com/jhipster/generator-jhipster/pull/17837#issuecomment-1062872499) that the currently failing test is due to a bug in spring-data-relational and we probably won't get it fixed till the next Spring Boot Version (2.7.x), which will bring the required bugfix transitively into the reactive area. ;

[2022-03-11 19:03] hamaarouf commented on #18050
@mraible Yes of course,  Could you please give me the link of documentation's repo I coudn't find it!

[2022-03-11 19:12] pascalgrimaud commented on #18050
@hamaarouf : https://github.com/jhipster/jhipster.github.io

[2022-03-12 01:11] mshima commented on #18082
Duplicate of https://github.com/jhipster/generator-jhipster/issues/18017.

[2022-03-12 01:11] #18082 closed

[2022-03-12 05:54] mraible commented on #13595
Can you please change the test from "Grettings Java Hipster" to "Greetings Java Hipster" at the top?

[2022-03-12 08:43] ilyasziyaoglu commented on #14402
I am getting the same error.

[2022-03-12 09:15] yelhouti commented on #17850
@mraible all the code should be there, but for some reason e2e are either waiting for keycloak or app to start (and it is not happening).
Is there a way to see the logs of `docker-compose up` ? I tried reproducing locally for an hour, but there too much jhipster integration tests internals I don't fully know about.

[2022-03-12 09:34] ascelineboullen commented on #13595
Yes @mraible, I just fixed to "Greetings Java Hipster". Sorry I missed it, thank! :)

[2022-03-12 16:39] DanielFran commented on #17612
Closed by https://github.com/jhipster/generator-jhipster/pull/17792

[2022-03-12 16:39] #17612 closed

[2022-03-12 17:08] #17774 closed

[2022-03-13 17:46] RiceRiceBaby opened #18105 "ERROR! Error: spawn git ENOENT"
Hi. I am getting the following error when I try to run the jhipster jdl import. I'm using jhipster v7.7:

ERROR! Error: spawn git ENOENT
    at Process.ChildProcess._handle.onexit (node:internal/child_process:283:19)
    at onErrorNT (node:internal/child_process:476:16)
    at processTicksAndRejections (node:internal/process/task_queues:83:21)

Here is my jdl file:

entity FileManagement {
	name S

[2022-03-13 20:50] emilpaw commented on #18105
Could you please provide the required information which is specified in the issue template?

[2022-03-13 23:51] RiceRiceBaby commented on #18105
**Issue:** ERROR! Error: spawn git ENOENT
    at Process.ChildProcess._handle.onexit (node:internal/child_process:283:19)
    at onErrorNT (node:internal/child_process:476:16)
    at processTicksAndRejections (node:internal/process/task_queues:83:21)
Use Case: I run 'jhipster jdl profile.jdl' and to generate my entities for microservice and I get the error above. I generated this jdl using the jdl

[2022-03-13 23:54] #18105 closed

[2022-03-13 23:54] RiceRiceBaby commented on #18105
Looks like I used the wrong sample jdl

[2022-03-14 08:20] emilpaw commented on #16744
@pascalgrimaud This can be closed, right?

[2022-03-14 09:29] yelhouti commented on #17850
There is an issue with startup order it seems (registry isn't waiting enough for keycloak to be ready), I hope to fix it on wednesday.

[2022-03-15 06:25] RiceRiceBaby opened #18121 "Gradle on gateway microservice throwing error conflicting between ng-bootstrap and ng-jhipster"
I have no idea how to resolve this error:

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: portfolio@0.0.1-SNAPSHOT
npm ERR! Found: @ng-bootstrap/ng-bootstrap@6.1.0
npm ERR! node_modules/@ng-bootstrap/ng-bootstrap
npm ERR!   @ng-bootstrap/ng-bootstrap@"6.1.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR!

[2022-03-15 08:10] emilpaw commented on #18121
Could you please provide the required information which is specified in the issue template? I recommend you directly use the issue template for future issues.

[2022-03-15 12:21] hamaarouf commented on #18050
here is my PR link https://github.com/jhipster/jhipster.github.io/pull/1201

[2022-03-15 16:57] mshima commented on #18121
ng-jhipster is not supported anymore.

[2022-03-15 16:57] #18121 closed

[2022-03-15 17:17] pascalgrimaud commented on #18050
Closed by https://github.com/jhipster/jhipster.github.io/pull/1201

[2022-03-15 17:17] #18050 closed

[2022-03-16 04:10] Zacorich commented on #17115
Both git and jhipster do one similar task and this is creating brand new files on target OS. Git does the job well so why jhipster shouldn't? I think solution by https://github.com/jhipster/generator-jhipster/issues/17115#issuecomment-986118493 is nice compromise.

Git persists files with LF. JHipster generates files with LF. Most IDEs can edit files with LF on Windows, but that must be configured

[2022-03-16 10:21] gmarziou commented on #9032
Which version of JHipster? Starting from 7.5.0, springfox has been replaced by springdocs

[2022-03-16 10:27] gmarziou commented on #15577
I see it as a starting point, so I'm against removing it. A note could be added that warns readers and asks for contribution.

[2022-03-16 10:56] ShepelIgor commented on #17790
I am facing the same issue, is there any update on it?

[2022-03-16 11:22] pascalgrimaud commented on #17790
you can still use the openapi-generator with JHipster, but after the generation, you need to update all annotations and imports, helped by https://springdoc.org/migrating-from-springfox.html

So it won't work out of the box but it's still usable

[2022-03-16 11:44] yelhouti commented on #17850
@mraible a fix is comming to keycloak in the next version, that will hopefully fix this: https://github.com/keycloak/keycloak/issues/10322#issuecomment-1068498992

[2022-03-16 13:08] nomuna commented on #17968
Please do not change the title of the ticket... Please.

[2022-03-16 13:35] mshima commented on #12746
@pascalgrimaud can you enable auto-merge at generator-jhipster repository?

[2022-03-16 13:38] pascalgrimaud commented on #12746
it's already the case:

![image](https://user-images.githubusercontent.com/9156882/158602503-4b46c7a0-aada-4b58-bd8e-654cf40b8134.png)

Is it ok ?

[2022-03-16 13:59] mshima commented on #12746
@pascalgrimaud yes, thanks.

[2022-03-16 14:04] mshima commented on #12746
Closed in https://github.com/jhipster/generator-jhipster/pull/18134

[2022-03-17 04:44] RiceRiceBaby opened #18136 "Failed to execute goal org.springframework.boot:spring-boot-maven-plugin:2.6.3:run (default-cli) on project gateway: Could not exec java: Cannot run program "C:\Program Files\Java\jdk-17.0.2\bin\java.exe" (in directory "C:\gateway"): CreateProcess error=206, The filename or extension is too long -> [Help 1]"
##### **Overview of the issue**
I get the following error when I run maven on gateway after using jhipster jdl import to generate my gateway:

 Failed to execute goal org.springframework.boot:spring-boot-maven-plugin:2.6.3:run (default-cli) on project gateway: Could not exec java: Cannot run program "C:\Program Files\Java\jdk-17.0.2\bin\java.exe" (in directory "C:\gateway"): CreateProcess error=20

[2022-03-17 04:48] deepu105 commented on #1526
This is kind of unmaintained as JHipster by default allows theme selection
during code generation. You can port the theme switcher code from this
easily as well

Thanks & Regards,
Deepu

On Tue, Mar 15, 2022 at 8:50 PM tejaswibm-roposo ***@***.***>
wrote:

[2022-03-17 18:11] iahmedgamal commented on #9319
facing the same error now

[2022-03-17 19:00] mshima commented on #12746
Not working as expected.
Probably we will need to protect the branch and add auto approve workflow

[2022-03-17 20:56] pascalgrimaud commented on #12746
We implement it in JHipster Lite and it seems to work as expected.
What is the problem here?

[2022-03-17 21:16] mshima commented on #12746
PRs are merged without waiting for tests to finish.
Just triggered a Dependabot update to test.
3 pr were created and merged.

[2022-03-17 21:18] pascalgrimaud commented on #12746
Yes same happened yesterday, I think it's because of incidents with all github, but not sure
See https://www.githubstatus.com/

[2022-03-17 21:36] mshima commented on #12746
Unfortunately this is a known issue.
@pascalgrimaud can you enable Branches -> add branch protection rules -> main  with `Require status checks to pass before merging`

[2022-03-17 22:44] vw98075 commented on #17970
Other than those in the node_modules directory, I don't know where some of those Javascript files come from. The followings are some of such samples:

target/classes/static/app.js
target/classes/swagger-ui/swagger-ui-bundle.js
target/classes/swagger-ui/swagger-ui-standalone-preset.js
target/classes/swagger-ui/swagger-ui.js

I can't find the above files inside the project space on Idea.

To see whe

[2022-03-18 05:34] pascalgrimaud commented on #12746
@mshima : just done for main branch :

![Screenshot_20220318-063158](https://user-images.githubusercontent.com/9156882/158943511-1672815e-b485-4f26-a3ea-6e4db0508af0.png)

[2022-03-18 07:55] atomfrede commented on #18085
We should check mssql too as it is not compatible with arm. Maybe we can pin the architecture too or must use azure edge sql (which has no means to auto create a database).

[2022-03-18 11:39] pascalgrimaud commented on #12746
I think you're right @mshima
It seems to not work as intended

[2022-03-18 11:41] #18085 closed

[2022-03-18 13:16] mshima commented on #12746
PR needs to be at a blocked state, otherwise it's merged by auto merge.

[2022-03-18 13:25] pascalgrimaud commented on #12746
@mshima : I don't understand. Do you need me to configure something else ?

[2022-03-18 21:14] #17906 closed

[2022-03-19 07:42] jiangjianbo opened #18154 "import-jdl parse error when entity field with pattern and following block comments"
##### **Overview of the issue**

if entity field contains pattern, and a block comments follow, then import-jdl command report error. The error message is different under different jhipster version.

these is 7.1.0:
[code]

this is jhipster 6.10.5

<img width="644" alt="image" src="https://user-images.githubusercontent.com/1180639/159111878-cebb4209-39ee-48ed-b588-2187444b5289.png">

##### **Motiv

[2022-03-19 19:56] zhyd1997 commented on #18097
Hi @mraible

I can not reproduce the issue:

[code]
<img width="1026" alt="npx jhipster upgrade" src="https://user-images.githubusercontent.com/31362988/159136455-bd321f02-17e6-4d13-b721-bdcb722acf8e.png">

[2022-03-19 20:08] atomfrede commented on #18136
The problem is not the path itself. The problem is, that the arguments are too long for windows. You can try to execute the application e.g. via intellij and define a classpath jar, such that the command line arguments are much shorter (and not "every single jar dependency").

Also see https://github.com/spring-projects/spring-boot/issues/17766  and https://stackoverflow.com/questions/56897925/can

[2022-03-19 20:10] atomfrede commented on #17970
app.js is the transpiled output of the respective frontend application. Swagger-ui sources are not part of the project, they are a 3rd party dependency: https://www.npmjs.com/package/swagger-ui

[2022-03-19 20:15] atomfrede commented on #17691
I would also like to have just the production database instead of h2. When you have started the application at least once and used our docker compose scripts the docker image is available. With regards to CI the connection speed should not be a problem and all providers can cache the images I would say (and with testcontainers cloud it will be again much easier).

[2022-03-19 23:36] maznag commented on #17785
Hi @indiepopart, @mraible  the search is fail for all sort field not only for date.  Also, we have this problem only for app generated with option "reactive true", that generate this part of code that use `SortToSortBuilderListConverter` to build sort fields :

    List<SortBuilder<?>> builders = new SortToSortBuilderListConverter().convert(pageable.getSort());
        NativeSearchQueryBuilder que

[2022-03-20 01:04] mshima commented on #12746
Once https://github.com/jhipster/generator-jhipster/pull/18147 is merged.
It’s needed to add status checks required to pass before merging.
- check-angular
- check-react
- check-vue
- check-generators
- check-npm-test

[2022-03-20 07:52] vishal423 opened #18156 "Sort doesn't work for an entity having many-to-many relationships"
##### **Overview of the issue**
Sort doesn't work for an entity having many-to-many relationships

##### **Motivation for or Use Case**

##### **Reproduce the error**

- Use this [JDL](https://github.com/jhipster/generator-jhipster-svelte/blob/main/.github/workflows/scripts/monolithic-session-maven.jdl) to generate a monolithic application.
- Check the Get all REST API generated for `SampleDomainE

[2022-03-21 08:00] chunhsin commented on #2289
can't use this feature, will cause

--
Starting Liquibase at 15:57:46 (version 4.6.1 #98 built at 2021-11-04 20:16+0000)
[INFO] Set default schema name to PUBLIC
[INFO] Executing on Database: jdbc:h2:file:/Users/jamesliao/Documents/Github/aib-acs/target/h2db/db/aibacs.mv.db
[INFO] Reading hibernate configuration hibernate:spring:com.aibizer.acs.domain?dialect=org.hibernate.dialect.H2Dialect&hibern

[2022-03-21 12:42] mshima commented on #12746
@pascalgrimaud can you add the required status checks?

[2022-03-21 12:46] pascalgrimaud commented on #12746
@mshima : done

![image](https://user-images.githubusercontent.com/9156882/159263631-04c15897-6bb4-474f-868f-6999a2adbc65.png)

[2022-03-21 12:56] mshima commented on #12746
@pascalgrimaud thanks.
I hope this is done now.

[2022-03-21 12:56] #12746 closed

[2022-03-21 14:09] mshima commented on #12746
@pascalgrimaud I've forgot the `check-dev-server` status. Can you it too, please?

[2022-03-21 14:11] pascalgrimaud commented on #12746
@mshima : updated. Don't hesitate to ping me if it needs ;-)

![image](https://user-images.githubusercontent.com/9156882/159279174-3e1f5492-1726-4bd0-99a5-34d4256d171a.png)

[2022-03-21 17:39] #17835 closed

[2022-03-21 20:33] atomfrede commented on #17757
As the PR is merged, we can close this I think.

[2022-03-21 20:33] #17757 closed

[2022-03-22 03:48] mraible commented on #18097
@zhyd1997 I just tried again with `jhipster upgrade`.

<img width="1442" alt="Screen Shot 2022-03-21 at 21 21 25" src="https://user-images.githubusercontent.com/17892/159401423-de0214b0-1e6d-4662-8572-5928d75e4523.png">

If I try `npx jhipster upgrade`, it works!

<img width="1442" alt="Screen Shot 2022-03-21 at 21 39 36" src="https://user-images.githubusercontent.com/17892/159403991-b1727950-fd40

[2022-03-22 04:08] zhyd1997 commented on #18097
@mraible
I'm glad if it solved your problem!

[2022-03-22 04:28] mraible commented on #18097
@zhyd1997 Can you update the [updating an application](https://www.jhipster.tech/upgrading-an-application/) documentation? I'll award this issue's bug bounty for better docs!

[2022-03-22 04:45] zhyd1997 commented on #18097
@mraible Submitted a PR.

[2022-03-22 12:23] #17785 closed

[2022-03-22 13:09] vishal423 commented on #18097
Does this mean every `jhipster` command now needs to be executed via `npx` command? Any idea why behavior got changed recently?

[2022-03-22 13:51] mmdrza opened #18174 "persist logs in data base as default and show logs in admin page."
I have two problem:
1. persist logs in data base as default and show logs in admin page.
2. What is the best solution in **jhipster** to each user or admin uses data is relevant to that user?

[2022-03-22 15:10] mraible commented on #18097
I'm not sure, maybe @mshima knows? My guess is `jhipster upgrade` might start with the locally installed JHipster whereas `npx jhipster upgrade` uses the latest version.

[2022-03-22 18:54] #18097 closed

[2022-03-22 19:48] #16744 closed

[2022-03-22 19:48] mshima commented on #16744
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/68439.

[2022-03-22 19:50] mshima commented on #16772
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/68440.

[2022-03-22 19:56] #15074 closed

[2022-03-22 20:06] pascalgrimaud commented on #16744
@mshima : can you edit the title at open collective with correct ref ? It's 16744, not 16774 :-)

[2022-03-22 20:43] mshima commented on #16744
Oops.. Fixed. Thanks.

[2022-03-22 20:44] pascalgrimaud commented on #16744
@mshima : approved :-)

[2022-03-22 20:49] mraible opened #18177 "Javadoc comment on JPA Repositories is incorrect - says "Spring Data SQL""
##### **Overview of the issue**

While upgrading a JHipster v5 app today, I noticed that the Javadoc comments on repositories have changed from saying "Spring Data JPA" to "Spring Data SQL". This is not accurate since there's no such thing as "Spring Data SQL".

##### **Motivation for or Use Case**

The comment is invalid.

##### **Reproduce the error**

Create a project with JPA.

##### **Suggest

[2022-03-22 20:58] Tcharl commented on #17691
Still, there will be a huge perf impact on tests when using test containers.
The way  jh is executing test today is not that accurate and takes some shortcuts, something that we won't be able to achieve anymore.
Still, I think that the benefits will overcome the drawbacks, because we'll be able to test on a production-ready like or at least ci-ready like environment locally, particularly for ES an

[2022-03-23 04:59] zhyd1997 commented on #18097
@mshima

[code]

version is in [**5.4.2**, **6.6.0**, **7.0.0-beta.0**]

[code]

the same error above started at `@7.0.0-beta.0` (this version has **5k** commits and **2k+** files changed),
<img width="1229" alt="version comparison" src="https://user-images.githubusercontent.com/31362988/159627073-f92081c4-d0c2-4718-b44f-edb94cdc7416.png">

the last v6 version `@6.10.5` passed if answering bluepri

[2022-03-23 16:43] Ebsan opened #18191 "Pagination does not work with Elasticsearch"
##### **Overview of the issue**

When using elasticsearch for entities the returned search results are not paginated. You're only given results up to the max amount in `pagination.constants.ts` and nothing more.

##### **Motivation for or Use Case**

Pagination should work across the app on all returned results.

##### **Reproduce the error**

Create a new app with elasticsearch enabled and a samp

[2022-03-23 17:35] zhyd1997 commented on #18097
@mshima

but `npx jhipster upgrade` works with '**Yes**'.

Seems that it's strange.🤔

[2022-03-23 17:49] mraible opened #18192 "Creating a new WebFlux app doesn't compile"
##### **Overview of the issue**

Create a new WebFlux app with the following `.yo-rc.json` and it fails to compile:

[code]

Error is:

[code]

##### **Motivation for or Use Case**

Changing an app from Spring MVC to WebFlux should work.

##### **Reproduce the error**

Create an app with the above `.yo-rc.json` or discover it how I did:

[code]

When it's finished generating, run `./mvnw` and you'

[2022-03-23 18:02] mshima commented on #18192
Cache provider and hibernate cache should be disabled

[2022-03-23 18:10] mraible commented on #18192
This solves the problem. Thanks!

[code]

[2022-03-23 18:10] #18192 closed

[2022-03-24 00:40] #16275 closed

[2022-03-24 13:50] gmarziou commented on #17970
@vw98075 this tool could probably be better configured so that it skips npm modules that are dev dependencies (tools) that are not bundled with your app, this leads to many false positives. So either a bad tool or a bad configuration.

[2022-03-24 19:57] DanielFran opened #18198 "Switch to mongodb 4.4.x"
##### **Overview of the feature request**

Mongock now supports reactive driver: https://docs.mongock.io/v5/driver/mongodb-reactive/index.html
Thanks @dieppa

We can now remove the workaround created by @mishima with the update to spring-boot 2.6.x (use driver 4.2.3 instead of 4.4.x):
- generator: https://github.com/jhipster/jhipster-bom/pull/591
- bom: https://github.com/jhipster/jhipster-bom/pul

[2022-03-24 20:20] mraible opened #18200 "JDL validation should catch different clientFrameworks when using microfrontends"
##### **Overview of the issue**

If you create a JDL that has different client frameworks in microservices, you won't know this fails until runtime. For example, if you modified [reactive-mf.jdl](https://github.com/jhipster/jdl-samples/blob/main/reactive-mf.jdl) to have something like the following:

[code]

If you generate apps with the above JDL, the gateway will have an error in the browser con

[2022-03-24 21:11] mshima commented on #18200
At jdl command can be added here:
https://github.com/jhipster/generator-jhipster/blob/fd7b0298e5da49319a0a358132ca1654b8e5476a/cli/import-jdl.js#L439-L440

[2022-03-25 16:14] maiido commented on #18039
the PR : https://github.com/jhipster/generator-jhipster/pull/18212

[2022-03-29 12:26] hubertgrzeskowiak opened #18236 "ValidatedForm how to validate based on multiple fields?"
* **Overview of the request**

`ValidatedForm` is giving me a hard time, since it abstracts away react-hook-form so much that I do not know where to put validation for constrains that affect multiple fields. I know I can pass a validation function to each field individually, but how do I access the state of other fields from there?

* **Motivation for or Use Case**

I have two fields. At least one

[2022-03-29 15:54] mraible opened #18238 "JHipster Statistics have had a significant drop"
##### **Overview of the issue**

I just noticed that our statistics seems to have had a significant drop right after November 17, 2021.

https://start.jhipster.tech/statistics

##### **Motivation for or Use Case**

Statistics can be useful to see the choices our users are making.

##### **Related issues**

@pascalgrimaud theorized that it could be from the v7.4.0 release.

![image](https://user-im

[2022-03-30 01:53] mraible commented on #13461
Thanks for the example, @rwinch! https://github.com/rwinch/jhipster-13461

I'll create a PR with these changes and start a discussion on caching users as part of it.

[2022-03-31 08:20] febryAMZ opened #18249 "error when choose marketplace"
https://github.com/jhipster/generator-jhipster/blob/b7e240b222afc236774459113d28272a465bdc94/generators/app/prompts.js#L153

i found issue when choose marketplace in this line, i think it (**generator.otherModules**) need to initialize before push. Or we need create another variable to store the marketplace data

[2022-03-31 09:00] redDevis opened #18250 "in Jenkins pipeline report error with npm install"
##### **Overview of the issue**
[](http://10.4.1.51:30180/blue/organizations/jenkins/user-center-apir944p%2Fuser-center-gateway/detail/master/13/pipeline#step-37-log-42)[](http://10.4.1.51:30180/blue/organizations/jenkins/user-center-apir944p%2Fuser-center-gateway/detail/master/13/pipeline#step-37-log-43)[INFO] --- frontend-maven-plugin:1.12.1:npm (npm install) @ gw ---

[INFO] Running 'npm instal

[2022-03-31 09:01] redDevis commented on #18250
it is an gateway app, when i create an docker image, it report this error ,i do not know the reason ,who can help me

[2022-03-31 20:59] tautera commented on #14309
I am running jhipster 7.7.0 per Matt Raible's "Get Started with JHipster 7", and this error still occurs with npm run e2e.  The will work using the first suggestion of editing package.json;   "e2e:cypress": "cypress run --browser chrome --record false${CYPRESS_ENABLE_RECORD:-false}", and update to "e2e:cypress": "cypress run --browser chrome --record false".

[2022-04-01 07:04] hubertgrzeskowiak commented on #17835
For those using the latest stable and trying to use UUIDs as IDs, I manually changed the
[code]
to
[code]
in each change log before running the Spring Boot app (which applies Liquibase changes), and it seems to work just fine.

[2022-04-01 14:59] shadyar opened #18263 "Lets generate, crud, service, repository UI & etc. from entities created by it self developer"
I have a feature request.
Sometimes it's easier to code entities for developers instead of using JDL; and JHipster will can do other tasks like creating UI, crud services, repository and etc.
If JHipster has a command sets entities directory path as an argument then it would create mappers repositories etc from entities.

[2022-04-01 20:51] emilpaw commented on #18238
I am looking into this issue.

[2022-04-02 14:21] robsliwka opened #18267 "missing template oracle.yml.ejs in generator-jhipster/generators/kubernetes/templates/db/"
when trying to genereate kubernates depolyment from JDL
_deployment {
  deploymentType kubernetes
  appsFolders [coMailSubscriber, coOutputSubscriber, coGateway]
  dockerRepositoryName "co"
  monitoring prometheus
  dockerRepositoryName "co"
  dockerPushCommand	"docker push"
  kubernetesNamespace co
  kubernetesServiceType Ingress
  ingressDomain "coDomain.k8s.local"
  ingressType	nginx
  istio tr

[2022-04-03 23:08] appkr opened #18269 "SQL Injection in Reactive project"
I don't know whether this is the right place to ask this though...

In a reactive spring project with r2dbc, I found that SQL injection is actually possible. This may happen because of me, lacking knowledge on how to use r2dbc correctly. If it is case please let me know the correct usage.

#### Setup
- Jhipster 7.7.0
- reactive with Spring WebFlux? Yes
- type of database? SQL

#### JDL
[code]

###

[2022-04-04 04:27] pascalgrimaud commented on #18269
Cc @jhipster/developers

[2022-04-04 04:32] atomfrede commented on #18269
Didn't expect that. Is it the same for non reactive/hibernate?

[2022-04-04 04:46] pascalgrimaud commented on #18269
I think it's important to try and check

[2022-04-04 05:53] jdubois commented on #18269
On non-reactive, at least when I worked on it a few years ago, we were using Hibernate’s criteria API, which would prevent this.

[2022-04-04 11:19] atomfrede commented on #18263
The JDL is central part of JHipster and should be the central part to define entities, application configurations etc. I don't think we will support a use case to generate jhipster specific parts from java source code (did I get your point correctly? If not feel free to reopen the issue.)

[2022-04-04 11:19] #18263 closed

[2022-04-04 11:49] olgunkaya opened #18287 "Default Generated Application uses Reactive"
Hi,

I am using the latest version (7.8.0) and generating an app via cli. See below my selection;

[code]

**This is the User entity generated. No JPA annotations  at all.**

[code]

**The repository is again reactive**

[code]

How can I generate the app with JPA. What am I missing here ?

[2022-04-04 12:07] atomfrede commented on #18287
Gateways are reactive only since 7.x. as spring cloud gateway supports only reactive implementations. See https://www.jhipster.tech/2021/03/21/jhipster-release-7.0.0.html  and https://github.com/jhipster/generator-jhipster/issues/13855

[2022-04-04 12:07] #18287 closed

[2022-04-04 12:16] olgunkaya commented on #18287
Thanks a lot for the input and sorry for missing the documentation :)

[2022-04-04 12:18] atomfrede commented on #18287
No need to apologize, when looking at https://www.jhipster.tech/api-gateway/ it's really not clear.

[2022-04-04 12:41] deepu105 commented on #18269
For non reactive i'll be extremely surprised if its the case since we don't do any direct SQL and everything goes via Spring Data and hibernate

[2022-04-04 14:20] OmarHawk commented on #18269
Probably came out of the following PR #13515

[2022-04-04 17:35] deepu105 commented on #18269
@atomfrede are you working on this? else I can try to find a fix?

[2022-04-04 17:44] atomfrede commented on #18269
Wanted to start now.

[2022-04-04 17:52] deepu105 commented on #18269
I have a CVE drafted for this ready to go once we have a fix in place. Let me know if you need any help

[2022-04-04 19:14] atomfrede commented on #18269
At least I can reproduce it too pretty easy :(

[2022-04-04 19:38] atomfrede commented on #18269
When mapping the criteria manually to a condition it is not vulnerable, but somehow this seems to me as not the intended way to use spring datas criteria. But using `.just(VALUE)` instead of `.just(WHOLE CRITERIA)` seems to do the trick. But creating the custom mapping will be a lot of code and most likely quite error prone.

[code]

[2022-04-04 20:38] atomfrede commented on #18269
I have created a reproducer here https://github.com/atomfrede/reactive-sql-jhipster-reproducer which has a potential hand coded fix. Try it via `http://localhost:8080/api/examples?name=foobar';DROP TABLE example;--`. Without the changes it will indeed delete the table while with the hand coded condition it works correctly.

[2022-04-05 03:47] deepu105 commented on #18269
@atomfrede how important is the where clause mapping? can we remove the feature for the time being if it only affects searching in Get queries? so that we can publish a fix and then look for a proper solution?

[2022-04-05 03:54] atomfrede commented on #18269
As far as I can tell the generated application does not need it by default I think. All crud operations should work without the custom criteria (need to check). So yes we might remove it for the time being.

[2022-04-05 03:55] deepu105 commented on #18269
In that case I vote to remove it and publish a patch and CVE. Then we can create a new issue to add the feature in a secure and scalable way. @jdubois @pascalgrimaud @mraible @DanielFran @jhipster/developers WDYAT?

[2022-04-05 04:39] pascalgrimaud commented on #18269
Agree with this fix. We can see later if we can do better

[2022-04-05 05:06] atomfrede commented on #18269
So basically we will ignore the `Criteria` provided to `EntityManager.createSelect` right?

[2022-04-05 05:38] deepu105 commented on #18269
yes, and maybe change signature in generated code, if possible, to not take the criteria and add a comment so that users don't end up adding the same manually

[2022-04-05 05:59] DanielFran commented on #18269
Yes, I agree too with this fix.

[2022-04-05 19:17] erycoking opened #18293 "import-jdl command fails when jdl contains a relationship to User entity in applications with webflux that uses sql db with r2dbc"
##### **Overview of the issue**

import-jdl command fails when jdl contains a relationship to User entity in applications with webflux that uses sql db with r2dbc

##### **Motivation for or Use Case**

Unable to import-jdl for applications with relationship to user entity

##### **Reproduce the error**

- create a monolithic jhipster applications and choose webflux with postgress db
- in you root

[2022-04-05 19:34] mraible commented on #18293
FWIW, I was able to reproduce this problem and asked @erycoking to enter this as an issue. For reference, here's the Stack Overflow Q & A. https://stackoverflow.com/questions/71729575/jhipster-import-jdl-error-in-jhipster-monolith-app-when-jdl-has-user-entity-rela

[2022-04-05 20:52] mshima commented on #18293
I will take a look

[2022-04-06 05:26] mraible opened #18302 "Netlify preview links redirect to www.jhipster.tech"
##### **Overview of the issue**

It should be possible to use Netlify to preview Jekyll builds of the www.jhipster.tech site.

When PRs are submitted to the `jhipster.github.io` repo, the preview links are added correctly, but when you click on them, it redirects you to www.jhipster.tech.

##### **Motivation for or Use Case**

It'd be nice if it was possible to preview website changes before mergi

[2022-04-06 10:34] #18269 closed

[2022-04-06 14:02] mshima commented on #15869
Thanks @pascalgrimaud, bounty claimed https://opencollective.com/generator-jhipster/expenses/71473.

Documentation is in progress at https://github.com/jhipster/jhipster.github.io/pull/1198.
I plan to add migration progress to modules and deprecate generator-jhipster-module too.
I will open a bug report to document generator-jhipster-module deprecation.

[2022-04-06 14:03] pascalgrimaud commented on #15869
@mshima : approved

Tell me if I should archive generator-jhipster-module, as I already did this for generator-jhipster-blueprint

[2022-04-06 14:14] mshima opened #18304 "Deprecate modules in favor of blueprints."
##### **Overview of the feature request**

Modules are custom generators that uses hooks to integrate.
This is can be done using blueprints with custom generator as entry point.
Remove the need for `yo` and takes advantage of jhipster cli.

More information can be found at WIP documentation update https://github.com/jhipster/jhipster.github.io/pull/1198

##### **Motivation for or Use Case**

Impro

[2022-04-06 18:09] naris commented on #17790
So, what you have to manually edit all the generated code every build?
No, that is NOT usable!

[2022-04-06 19:10] #17790 closed

[2022-04-06 19:21] mshima commented on #18250
This related to the environment, looks related to permissions.
Not a bug, closing.

[2022-04-06 19:21] #18250 closed

[2022-04-07 01:02] mshima commented on #18136
Not a JHipster bug. Should be discussed at spring-boot or stackoverflow.

[2022-04-07 01:02] #18136 closed

[2022-04-07 01:07] #13056 closed

[2022-04-07 01:07] #13072 closed

[2022-04-07 01:07] #13112 closed

[2022-04-07 01:07] #14387 closed

[2022-04-07 01:07] #14441 closed

[2022-04-07 01:07] #15621 closed

[2022-04-07 04:21] deepu105 commented on #18269
Thanks to everyone involved @appkr @OmarHawk we have decided to award each of you a 300$ bounty so please claim it via open collective. @atomfrede for you, we (me, Julien, Pascal) think you deserve more than 500$ so I'll send a mail in the public group to discuss that.

[2022-04-07 05:51] appkr commented on #18269
@deepu105 Thanks, the claim was filed at https://opencollective.com/generator-jhipster/expenses/71638

[2022-04-07 06:16] deepu105 opened #18318 "FIx docs archive"
Fix docs archive based on discussion -> https://groups.google.com/g/jhipster-dev/c/pX00gWQcDAQ/m/_jDrwzqwBAAJ?pli=1

1. Move all old archives (v0.x to v5.x) to a new repository for reference
2. Update links where applicable to point to this in the website
3. Update readme of generated projects to point to archives again

[2022-04-07 06:19] deepu105 commented on #18236
ValidatedForm is just a handly utility for generated projects (to reduce size of generated code) for any customization just use react hook form directly instead of ValidatedForm

[2022-04-07 06:19] #18236 closed

[2022-04-07 08:37] deepu105 commented on #18269
@appkr it's approved. Next time please do report security issues to project maintainers privately first so we can disclose it responsibly after fixing them.

[2022-04-07 08:40] deepu105 commented on #17926
The wrappers are just utilities to reduce duplicated code, for any additional usecase please use the library directly as its already integrated and will work seamlessly

[2022-04-07 08:40] #17926 closed

[2022-04-07 08:47] deepu105 commented on #17419
@pascalgrimaud shall we close this? or do we want to update the generator exist with warning when running in home directory

[2022-04-07 08:52] #17117 closed

[2022-04-07 08:52] #17143 closed

[2022-04-07 08:56] #16790 closed

[2022-04-07 08:58] deepu105 commented on #16755
Please refer to the documentation of react-hook-form as the provided components are just thin wrapper over that

[2022-04-07 08:58] #16755 closed

[2022-04-07 08:58] #16685 closed

[2022-04-07 10:11] appkr commented on #18269
@deepu105 My bad, sorry. Yes I will If I have any.

[2022-04-07 10:11] cordial commented on #16755
the validated field as is is useless in anything but the most basic of cases. Referring to the react-hook-form docs just made me use react-hook-form instead of validatedField and validatedForm. If you're not going to support them, don't use them.

[2022-04-07 11:08] OmarHawk commented on #18269
Thanks :-). Filed it at https://opencollective.com/generator-jhipster/expenses/71657

[2022-04-07 11:10] #17419 closed

[2022-04-07 14:20] mshima commented on #18269
@deepu105 it's missing to tag the release at GitHub https://github.com/jhipster/generator-jhipster/releases.

[2022-04-07 14:35] mraible commented on #18269
I noticed there are two draft releases on the released page. We should fix that and remove all the dependabot updates. As a developer, I like to quickly skim release notes, not scroll through automated patch updates from dependabot.

[2022-04-07 14:38] deepu105 commented on #18269
I'll clean those up once I have power back. Hopefully tonight or tomorrow
morning

On Thu, 7 Apr 2022, 8:05 pm Matt Raible, ***@***.***> wrote:

[2022-04-07 15:44] deepu105 commented on #18269
@mshima @mraible I dont think the release page is used at all, since I see a lot of drafts. @pascalgrimaud do you know who set up the release drafter? there are too many drafts and the date is wrong as well

[2022-04-07 15:48] deepu105 opened #18319 "Too many draft releases from release drafter"
It seems like there are too many draft releases created by release drafter as if it's being created for every merge. We should change it so that its generated only when a new tag is pushed

Also the dates on the created draft seems to be wrong

https://github.com/jhipster/generator-jhipster/releases.

[2022-04-07 15:58] deepu105 commented on #18269
there are like pages and pages of them :P so that's gonna be some long task

Thanks & Regards,
Deepu

On Thu, Apr 7, 2022 at 9:27 PM Pascal Grimaud ***@***.***>
wrote:

[2022-04-07 15:59] pascalgrimaud commented on #18269
I know, I spent a lot lot lot of time to delete it in jhipster-lite project, but didn't have motivation to do it for generator-jhipster...

[2022-04-07 16:08] deepu105 commented on #18269
I created a ticket and assigned bounty lets see if someone is motivated

Thanks & Regards,
Deepu

On Thu, Apr 7, 2022 at 9:30 PM Pascal Grimaud ***@***.***>
wrote:

[2022-04-07 16:29] atomfrede commented on #18319
I can do the monkey work this evening, have some time.

[2022-04-07 16:41] anothergoodguy commented on #16884
hey Team,
any luck on this ?

thanks in advance!

[2022-04-07 16:57] pascalgrimaud commented on #18319
@atomfrede : only keep the most recent one :-)

[2022-04-07 18:43] Boubacar41 commented on #6100
Hello,
We're using Jhipster 7.5.0 for angular + Spring Boot + JWT Authentication.
We're facing an unauthorized error when an authenticated user refresh the browser on port 8080.
Application have been run with ./gradlew command.
What's the possible reason please ?

[2022-04-07 19:27] atomfrede commented on #18319
I will now remove all drafts except the last one and try to exclude certain PRs from release drafter (especially dependabot, it's really too much)

[2022-04-07 20:07] atomfrede commented on #18319
I have also removed the latest draft, such that release drafter can create a new one with correct date too.

[2022-04-07 20:16] #17943 closed

[2022-04-07 20:30] Tcharl commented on #17143
yes, you have to use 'eagerload=true' query param

[2022-04-07 20:54] atomfrede commented on #18319
At first it looks good imho. Drafted release notes are empty by default, added the release-notes label to certain PRs.

[2022-04-07 20:58] #18018 closed

[2022-04-07 20:58] #18177 closed

[2022-04-07 20:58] #18249 closed

[2022-04-07 21:06] #18293 closed

[2022-04-07 21:08] atomfrede commented on #18319
Works fine, let's close this, if we need to/want to further adapt the config let's do that in another issue.

[2022-04-07 21:08] #18319 closed

[2022-04-07 21:10] atomfrede commented on #18319
Bounty claimed https://opencollective.com/generator-jhipster/expenses/71751

[2022-04-08 17:38] mshima commented on #18319
@atomfrede the release-notes tag is required?
Should it be added to labeler https://github.com/jhipster/generator-jhipster/blob/main/.github/labeler.yml?

The 2 first v7.8.1 release note entries are not included at the release.

[2022-04-08 18:08] atomfrede commented on #18319
My idea was to mark entries explicit to make them eligible for the release note page

[2022-04-08 19:27] mshima commented on #18319
IMO we should add every PR to release note, just keep Dependabot out.

[2022-04-08 19:37] #15617 closed

[2022-04-08 19:38] mshima commented on #15273
Implemented at `writeFiles` https://github.com/jhipster/generator-jhipster/blob/0a88bb215aaf6329229fbf277ed284b4460e2b62/generators/generator-base.js#L2354.

[2022-04-08 19:38] #15273 closed

[2022-04-08 19:42] #14433 closed

[2022-04-08 19:42] #14327 closed

[2022-04-08 20:00] pascalgrimaud commented on #18319
I'm fine with what @mshima suggests
What do you think @atomfrede ?

[2022-04-08 20:28] atomfrede commented on #18319
Also fine for me, guess keeping them out will help already to have better release notes.

[2022-04-08 20:37] atomfrede commented on #18319
Updated the config with https://github.com/jhipster/generator-jhipster/pull/18327

[2022-04-09 12:01] Rapster opened #18329 "Unique constraint added for one-to-one relationship (owner)"
##### **Overview of the issue**

Follow up of https://github.com/jhipster/generator-jhipster/issues/5550

https://github.com/jhipster/generator-jhipster/commit/528b0ecb0c453ce7dbad5961651943209afe02e9

##### **Motivation for or Use Case**

Taking that example: https://www.jhipster.tech/user-entity/#using-composition

I have a custom user having a one-to-one relationship to "Entite" for example, th

[2022-04-10 07:25] vrijmetse commented on #17756
I guess I am not the only one, I faced the same error with `Reactive` and  `Microservices`

[code]

[2022-04-10 09:07] suchat932 opened #18330 "suchat"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker, if your issue is not a **bug** or **feature request** then sorry you are not in the right place :wink:.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This will help the project to keep a clean issue tracker

[2022-04-10 09:08] #18330 closed

[2022-04-11 09:45] #16539 closed

[2022-04-11 09:47] deepu105 commented on #16521
you are welcome to PR with suggestion as it seems like there is no interest here

[2022-04-11 09:47] #16521 closed

[2022-04-11 09:48] #16359 closed

[2022-04-11 09:49] #16358 closed

[2022-04-11 09:55] deepu105 commented on #16039
@dungreact please ask to reopen if its still an issue

[2022-04-11 09:55] #16039 closed

[2022-04-11 09:56] deepu105 commented on #16128
@stefanobertini please ask to reopen if its still an issue

[2022-04-11 09:56] #16128 closed

[2022-04-11 09:56] deepu105 commented on #16152
@dungreact please ask to reopen if its still an issue

[2022-04-11 09:56] #16152 closed

[2022-04-11 09:57] deepu105 commented on #16271
@jain6968 if this is still an issue please ask to reopen

[2022-04-11 10:01] #16291 closed

[2022-04-11 10:03] #15967 closed

[2022-04-11 10:06] #15933 closed

[2022-04-11 10:08] deepu105 commented on #15887
This is currently out of scope as it would be quite complex to do with code generation for all type of relationships and DBs, if you have any simple solution, please suggest with PR

[2022-04-11 10:08] #15887 closed

[2022-04-11 10:09] deepu105 commented on #15822
We should just restrict using mix of DTO/NoDTO entities

[2022-04-11 10:17] #15297 closed

[2022-04-11 10:19] #15270 closed

[2022-04-11 10:21] deepu105 commented on #15270
@mraible wdyt? should we change anything here?

[2022-04-11 10:26] #14907 closed

[2022-04-11 10:29] deepu105 commented on #14900
@mshima @yelhouti what should be done here?

[2022-04-11 10:31] #14885 closed

[2022-04-11 10:33] #14872 closed

[2022-04-11 10:33] #14871 closed

[2022-04-11 11:48] yelhouti commented on #14900
@deepu105
I don't remember how I fixed this so I am willing to close this for now.

[2022-04-11 11:48] #14900 closed

[2022-04-11 21:06] mraible commented on #15270
This is one of the downsides of token-based authentication. I often see a 5-minute TTL defined for tokens because of this.

[2022-04-11 23:49] jamalzkhan opened #18347 "One-to-One relationship with User failing using JDL and MapStruct"
##### **Overview of the issue**

When creating an application and having a One-to-One relationship with the User and running

`jhipster import-jdl file.jdl`

An error is thrown and can't proceed with generation of entities

##### **Motivation for or Use Case**

I have a custom user having a one-to-one relationship to "UserInfo" and followed the page:  https://www.jhipster.tech/user-entity/

First

[2022-04-13 15:40] CarlosVallsCiscar commented on #18347
Same problem with same relationship and the User entity

[2022-04-13 15:42] anarsultanov commented on #18318
Could someone create a new repository for the old archives and I would take care of this issue.

[2022-04-13 17:05] mshima commented on #18347
Duplicated of https://github.com/jhipster/generator-jhipster/issues/18293.
Fixed in main.

[2022-04-14 05:37] deepu105 commented on #18318
@anarsultanov sure here it is https://github.com/jhipster/documentation-archive-v1-to-v5

[2022-04-14 06:27] OmarHawk opened #18370 "Display a link to a filtered view for the Many Side of a OneToMany / ManyToOne relationship on the One side"
##### **Overview of the feature request**
Hi,

In case of OneToMany / ManyToOne relationships, we do already have a link to the "One" Side within the "Many" part of the relationship within the detail view but also within the list view, so that we can access the one specific entity that is being referenced. In some cases, it would be helpful to also have the other way round available in both views

[2022-04-14 08:04] lluisgenoher commented on #18347
I still have the same problem, with a monolithic jhipster applications and mysql. Not using webflux.

[2022-04-14 08:08] olgunkaya opened #18371 "Custom Validation Support"
##### **Overview of the feature request**

Custom validation messages for custom regexps on fields.

##### **Motivation for or Use Case**

I needed to apply a special pattern for one of my field, generator did it's job and applied these on my field etc.. Spring boot also can manage it pretty good. But when error happened, field response includes the regexp itself, which in this case not so helpful

[2022-04-14 11:43] anarsultanov commented on #18318
@deepu105 I've created a PR to this repository: https://github.com/jhipster/documentation-archive-v1-to-v5/pull/1
Now we need to merge it and set up the github pages, after which I will update the links to point to it.

[2022-04-14 11:48] anarsultanov commented on #18318
Here is another PR updating documentation-archive to reference the new website: https://github.com/jhipster/documentation-archive/pull/130

[2022-04-14 12:51] OmarHawk commented on #14569
With my already merged pull request (see link above) this should also be covered, since I also adjusted it for the non-reactive stack...

[2022-04-14 13:05] anarsultanov commented on #18318
PRs updating README of generated projects:
- https://github.com/jhipster/jhipster-sample-app-ng1/pull/1
- https://github.com/jhipster/devoxx-2016/pull/1
- https://github.com/jhipster/webflux-jhipster/pull/1

The following projects are archived and therefore not updated:
- https://github.com/jhipster/jhipster-php
- https://github.com/jhipster/jhipster-sample-app-token

[2022-04-14 14:27] #14569 closed

[2022-04-14 22:34] Tcharl commented on #18371
Hi,

You can modify the `webapp/i8n/<lang>/<entity>.json#YourError` to modify the displayed label.

Feel free to reopen if I didn't understand the question

[2022-04-14 22:34] #18371 closed

[2022-04-15 04:19] deepu105 commented on #18318
@anarsultanov no need to updated sample apps, what I meant was update the generator-jhipster project templates so a that a newly generated project refers to archive for the version rather than live docs

[2022-04-15 07:18] anarsultanov commented on #18318
@deepu105 sure, here it is https://github.com/jhipster/generator-jhipster/pull/18384
Should I close the other PRs or will you merge them as they have already been updated with the correct links?

[2022-04-15 09:00] pascalgrimaud opened #18385 "Use of spring-cloud-stream instead of kafka-clients"
##### **Overview of the issue**

We change the use of Kafka, by adding back spring-cloud-stream, which was removed 2 years ago.

Following this https://github.com/jhipster/generator-jhipster/pull/17685 by @Tcharl and my comment https://github.com/jhipster/generator-jhipster/pull/17685#issuecomment-1099953829

This change was not in the scope of this PR, so I don't understand.
And we introduce a po

[2022-04-15 10:36] AntonioJuresic opened #18386 "The Croatian translation for global.entity.action.view is wrong"
##### **Overview of the issue**

The Croatian translation for `global.entity.action.view` in `global.json` is wrong. The current translation is `Preged` which is probably a typo. The correct translation would be `Pregled`.

[https://glosbe.com/hr/en/pregled](https://glosbe.com/hr/en/pregled)

##### **Reproduce the error**

To reproduce the error, just simply create a project with the translation t

[2022-04-15 11:53] DanielFran commented on #18386
Hello @AntonioJuresic can you do a PR with the changes?

[2022-04-15 12:05] olgunkaya commented on #18371
@Tcharl  thanks for the comment.

Let me give an example about my question.

**A backend only application, no webapp folder in project structure**
I have a special email format ( cuz @Email basically matches anything :) ), thus I decided to use OWASP email format.

`public static final String EMAIL_REGEXP = "^[a-zA-Z0-9_+&*-]+(?:\\.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,7}$";
`

[code

[2022-04-15 12:41] olgunkaya commented on #18371
@Tcharl sorry for flooding;

I just tried the messages.properties also under resources/i18n/messages.properties
As you can see it's not recognized as a message key in above file.

[code]

[2022-04-15 20:11] LalaRzayeva commented on #15964
I'll take care of it next week if no one minds.

[2022-04-15 23:00] mraible opened #18387 "Does --remove-orphans need to be added back in to Docker commands?"
##### **Overview of the issue**

I upgraded my JHipster Native example today to use JHipster 7.8.1 from 7.7.0. One thing I noticed is ` --remove-orphans` was dropped from the `docker:db:down` and `docker:keycloak:down` commands. See [diff here](https://github.com/oktadev/auth0-full-stack-java-example/pull/15/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519).

##### **Mot

[2022-04-16 03:30] mraible commented on #18387
@mshima It looks like you made this change in 3a9f27d10444cd13fb37e03436db8b66f539afdc. Did you also make adjustments to the ci-cd sub-generator so orphan containers are cleaned up?

[2022-04-16 08:10] mshima commented on #18387
If we remove orphans log dump won’t work https://github.com/jhipster/generator-jhipster/blob/7fe3ca987f499407e4581a2de20ce6c4cfbbdb9a/.github/workflows/angular.yml#L224

Environments like GitHub actions doesn’t need the teardown, that step can be removed.
Environments that need the cleanup, it’s easy to add.

If the user runs the command in a shared environment, it can remove some logs and old doc

[2022-04-16 11:20] Tcharl commented on #18371
You do not flood whoever, don't worry.
The message key is not in the resource folder, but in your webapp.

Take a look at your forms html page or the component that is validating your message, you'll always have a `translate` thing with a key (i.e. `entity.validation.foo`)

First here, You can either modify this key if it's a common one among all the validation.
And you can find the message that w

[2022-04-16 11:28] Tcharl commented on #18385
Hi @pascalgrimaud ,

The rational behind here was:
 - To have reproducible tests: the previous version was not streaming messages and using polling which was really difficult to test.
 - To remove customized stuff preferring spring standards (i.e. the jhipster streaming properties)
 - To plan the introduction on `consumer` and `producer` in the entity generator, to complete the rest part (which to

[2022-04-16 12:08] attachi20 opened #18389 "War not working in Tomcat (10.0.20)"
![Screenshot_1](https://user-images.githubusercontent.com/48732697/163674193-f7c3ccba-e906-4f0a-963a-d512822cd418.jpg)

but when i run my war with java -jar *.war work finr

[2022-04-16 14:13] olgunkaya commented on #18371
Thanks @Tcharl ,

my app is backend-only app. So no webapp folder at all. Currently, I am on mobile, I’ll share the folder structure once I got my pc running.

[2022-04-16 14:24] Tcharl commented on #18371
In this case, look at how the exceptiontranslator class works, you'll always have an exception key, that will let you insert your custom message at the front-end level (I encourage to generate a jhipster sample with frontend to see how it works)

[2022-04-16 14:38] pascalgrimaud commented on #18385
Maybe, but we should discuss about it first, as this change broke all my apps when upgrading this to 7.8.1.
So I use a fork with the revert of all Kafka changes.

[2022-04-16 14:47] olgunkaya commented on #18371
Thanks again.
I’ll check it than.

Teşekkürler
Olgun Kaya

[2022-04-16 15:51] #14287 closed

[2022-04-16 16:00] mraible commented on #18387
OK, I'll merge my updates to the JHipster Native blog post/example and hope for the best when updating my (currently in draft) GitHub Actions for GraalVM post.

[2022-04-16 21:33] Tcharl commented on #18385
Yes, sorry, I'll try to create some tickets next time.
This testcontainer migration is impacting most of the backend codebase that's why it can have a bit of impact

[2022-04-16 21:33] Tcharl commented on #18385
Yes, sorry, I'll try to create some tickets next time.
This testcontainer migration is impacting most of the backend codebase that's why it can have a bit of impact

[2022-04-17 06:39] mustafa-ula opened #18390 "Unable to add new field or new entity in 7.8.1"

[2022-04-17 06:41] #18390 closed

[2022-04-17 06:42] vrijmetse opened #18391 "Unable to add new field or new entity 7.8.1"
##### **Overview of the issue**

Unable to add new field or new entity for my monolith application as I get error as follows

[code]

##### **Motivation for or Use Case**

This is the core functionality that should be working as we need to adjust our entity from time to time

##### **Reproduce the error**

Just try to add new field using the command line or
try to add new entity using the command

[2022-04-17 23:26] mraible commented on #18387
@mshima When updating and testing my [GitHub Actions for GraalVM post](https://github.com/oktadev/okta-blog/pull/1098), I ran into this issue again. I'll add a note to the post that you need to add `--remove-orphans` back in for things to work.

[2022-04-18 11:20] karlivory commented on #13885
I don't see why this issue is closed. The problem still remains, jhipster 7.0.0+ does not work with unidirectional while 6.10.5 works perfectly fine. This prevents me from upgrading my jhipster version since I don't want to add completely unnecessary back-references to my entities.

[2022-04-18 14:38] mshima commented on #18385
@pascalgrimaud I didn't realized the breaking change.
But since is done, I don't think reverting is the best option.
JHipster (official) is spring-boot based, so IMO we should prefer spring/spring-boot abstracted technologies.

I suggest to rename the spring `kafka` option to `spring-kafka`.

We have 2 options with `kafka` option:
1. Extract to a new generator inside `generator-jhipster`
1. Extrac

[2022-04-18 14:44] dronavallisaikrishna opened #18406 "Getting status 401 on auth/login on gateway"
##### **Overview of the issue**
auth/login is giving 401 in my external react client but working on the postman.

I have a jhipster uaa and gateway(running on 8080) with react. I have been working on the same UI and want to make a separate UI application. But as soon as I hit the auth/login OPTIONS API is giving 200 but the Actual auth/login API is giving 401. Weirdly if I hit the API in postman i

[2022-04-18 15:32] Tcharl commented on #18406
Hi,

Can you post a jdl that fails at login? We don't know if you're using oauth2 or jwt.
We don't know neither if our frontend generation fails, and jhipster is not meant to fix bugs that are not following the frontend generation.
If you succeed to get a full generated gateway and it's react front failing, I would be glad to help or review your PR.

Best regards,

[2022-04-18 20:30] olgunkaya opened #18407 "SwaggerUI via Manual Distribution"
Today, I spent considerable amount of time to figure out what's going on with swagger UI and realized that **jhipster** only includes mvc artifact with the swagger-ui web distro in webapps.

Is there any specific reason to not to go with ([link](https://springdoc.org/#getting-started))
[code]

but instead go with mvc configurer [ in this link ](https://springdoc.org/#spring-webmvc-support ?
[code]

[2022-04-18 21:02] LalaRzayeva commented on #15964
@mshima @deepu105 I've already updated most of the templates, but I'm running into some issues that you might be able to help me solve.

1\. `getClientTranslation` does not seem to find translations for keys containing dots. For example, I get `Translation missing for metrics.refresh.button` because it is defined like this:
[code]
And there are quite a few translation keys with this problem.

2\.

[2022-04-19 08:06] atomfrede commented on #18391
Has line 9 in your snippet been generated by jhipster or did you change it by accident? `import .service.dto.UserDTO;` is obviously not a correct package import.

[2022-04-19 08:08] mustafa-ula commented on #18391
Nice catch @atomfrede I didn't see that obvious error. But I didn't change anything there.

[2022-04-19 08:09] vrijmetse commented on #18391
It was generated by Jhipster @atomfrede

[2022-04-19 08:09] atomfrede commented on #18389
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2022-04-19 08:09] #18389 closed

[2022-04-19 10:31] atomfrede commented on #18391
Looks like a jh bug indeed.

[2022-04-19 10:31] atomfrede commented on #18391
@vrijmetse Can you provide the needed infomation like application configuration?

[2022-04-19 10:35] vrijmetse commented on #18391
[code]

[2022-04-19 11:08] mshima commented on #18391
Should be fixed in main already.
See https://github.com/jhipster/generator-jhipster/issues/18347.
If you can reproduce using main please let us know in this issue and we reopen.

[2022-04-19 11:08] #18391 closed

[2022-04-19 12:00] DanielFran opened #18415 "Switch testFrameworks in samples from protractor to cypress"
##### **Overview of the feature request**

Protractor has been deprecated in favour of cypress

##### **Motivation for or Use Case**

Align samples with the default in generator

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2022-04-19 12:01] DanielFran commented on #18415
cc @pascalgrimaud

[2022-04-19 12:03] pascalgrimaud commented on #18415
It's doable.
For that, we need to update all .yo-rc.json in all samples and it will be updated during the next release

[2022-04-19 12:09] DanielFran commented on #18415
You mean just change this line: https://github.com/jhipster/jhipster-sample-app/blob/main/.yo-rc.json#L47

[2022-04-19 12:12] DanielFran opened #18416 "Update React version to 18"
##### **Overview of the feature request**

Keep react updated to latest version

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2022-04-19 12:13] DanielFran commented on #18416
cc @qmonmert

[2022-04-19 12:14] pascalgrimaud commented on #18415
@DanielFran : exactly

[2022-04-19 12:16] DanielFran commented on #18415
Thanks @pascalgrimaud, will assign it to me ;)

[2022-04-19 12:19] OmarHawk commented on #18370
If that is somewhat interesting for the general jhipster project, I'd try to contribute this feature with a Pull Request.

[2022-04-19 12:39] DanielFran commented on #18415
@pascalgrimaud All PRs have been created

[2022-04-19 13:07] AntonioJuresic commented on #18386
Will do @DanielFran.

[2022-04-19 13:13] pascalgrimaud commented on #18415
we can close this, as it will be updated during next release

[2022-04-19 13:13] #18415 closed

[2022-04-19 13:38] AntonioJuresic commented on #18386
Hi @DanielFran I did a PR.

[2022-04-19 14:32] mshima commented on #15964
@LalaRzayeva that's great.

1. I think you can use `this._getTranslation('metrics["refresh.button"]')`.
It uses [lodash get](https://lodash.com/docs/4.17.15#get) internally.
1. I need to take a look.
In this case we will need to make the component api to match the template.
https://github.com/jhipster/generator-jhipster/blob/e471bf35d70513e90d4ad01fe99f434cae6451bc/generators/languages/templates/s

[2022-04-19 14:42] mshima commented on #18407
We provide swagger at the client side.
Our swagger config is microservice aware. Springdoc provided one is not.
The springdoc swagger ui makes sense to monolith with skipClient only.

There is a closed bug about this solution.
Don't know if we have documentation about this, we could add.

[2022-04-19 15:25] LalaRzayeva commented on #15964
Thanks for the tips @mshima, I'll update what I can and add links to other cases.

[2022-04-19 17:01] LalaRzayeva commented on #15964
@mshima I also have a problem using `_getEntityClientTranslation`, maybe I'm missing something, but I thought that it should be used in all templates in `entity-client` directory but I get `Translation missing for entity.action.cancel` when use `<%- this._getEntityClientTranslation('entity.action.cancel') %>`.
Should I use `_getClientTranslation` instead and in which case should `_getEntityClientT

[2022-04-19 17:25] olgunkaya commented on #18407
I think, I hit the condition, skipClient and monolith :)

Teşekkürler
Olgun Kaya

[2022-04-19 18:19] mshima commented on #15964
@LalaRzayeva `_getEntityClientTranslation` should be used when the key is specific to the entity. Normally it starts with `i18nKeyPrefix`. eg `i18nKeyPrefix + .home.createOrEditLabel`.

[2022-04-19 18:27] mshima commented on #15964
You may add a dumb function at entity-client generator for now:
[code]

[2022-04-20 06:19] Praneshep opened #18420 "Entity Doubt"
I have two entities with different fields for two different microservices but entity names are same in jdl studio. while running iam facing only first entity is taken by the gateway. how to solve this issue. please help.

[2022-04-20 08:37] jchvidal opened #18421 "Is there a way to switch frontend from no to Angular?"
##### **Overview of the issue**

Change the frontend of a JHipster generated from no (no frontend) to Angular

##### **Motivation for or Use Case**

I've  created a projet with no frontend. But now i need an angular frontend (mostly for the admin interface). I tried to modify .yo-rc.json file setting "clientFramework" to "angularX" and rerun jhipster --with-entities.
But nothing happens.

##### **

[2022-04-20 15:21] jaydeep-punjani opened #18422 "Microfrontend option not available in v7.8.0 and v7.8.1"
##### **Overview of the issue**
Unable to see the Microfrontend option on creation of a new microservice application.

##### **Motivation for or Use Case**
Microfrontend

##### **Reproduce the error**
Create a new application using "jhipster" command.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
v7.8.0 and v7.8.1

##### **JHipster configuration**

##### **Entit

[2022-04-20 15:24] mraible commented on #18422
If you specify `clientFramework` for each microservice in your JDL, it'll use microfrontends. See this sample JDL:

https://github.com/jhipster/jdl-samples/blob/main/reactive-mf.jdl

[2022-04-20 15:38] jaydeep-punjani commented on #18422
@mraible got it, thanks. Will there be a way to do this via the CLI like in earlier versions ?

[2022-04-20 15:38] #18422 closed

[2022-04-20 15:41] mshima commented on #18422
There's a status update by version at https://github.com/jhipster/generator-jhipster/issues/17031.

[2022-04-20 15:41] mshima commented on #18421
`jhipster --client-framework angularX --no-skip-client --with-entities`

[2022-04-20 15:41] #18421 closed

[2022-04-20 15:54] jchvidal commented on #18421
OK. Thanks a lot !

[2022-04-20 16:17] #18420 closed

[2022-04-20 16:20] #18386 closed

[2022-04-20 16:27] mshima commented on #18329
That’s how one-to-one works.
Se the reason the original issue was closed.

[2022-04-20 16:27] #18329 closed

[2022-04-20 17:25] LalaRzayeva commented on #15964
@mshima I created a draft PR, replacing everything I could following your suggestions, and in the last commit I marked all the problem areas with `TODO: 15964` comments for you to take a look.

[2022-04-20 17:34] qmonmert commented on #18416
we need to upgrade react-jhipster also

[2022-04-20 23:39] naris opened #18424 "Names are limited to 30 characters when using oracle"
When generating entities I constantly get "The table name for this entity is too long to form constraint names. Please use a shorter table name" unless the names are too short to be meaningful, this is not acceptable!

Oracle has supported 128 characters names for a **long** time. In fact, any version of the Oracle database (<=12.1) that supported only 30 character has gone end-of-life and is no l

[2022-04-20 23:58] mraible commented on #18424
This is a reasonable request. Can you please create a pull request to fix it?

https://github.com/jhipster/generator-jhipster/blob/main/CONTRIBUTING.md

[2022-04-21 03:08] mraible opened #18425 "Suppress the `jhipster upgrade` unify blueprints configuration question"
##### **Overview of the issue**

I've upgraded a couple of apps from 7.7 to 7.8 using the `jhipster upgrade` command. It seems to prompt me for the unify blueprints configuration question every time. This seems like it should be a one-time thing that goes away when you select yes.

##### **Motivation for or Use Case**

Developer experience.

<img width="1442" alt="Screen Shot 2022-04-20 at 21 04 5

[2022-04-21 03:52] mraible commented on #18387
I'm reopening this because it happens consistently enough that it's [annoying](https://github.com/mraible/21-points/runs/6105903784?check_suite_focus=true).

I vote that we restore the previous behavior in the spirit of developer experience: it should work on the first try.

[2022-04-21 08:59] mshima commented on #18387
I did research some days ago and I think the only alternative is to start/stop every docker image at once.
We should revert and we may try removing it for v8.

[2022-04-21 20:07] Tcharl commented on #13304
I don't have the issue when using Gradle and IJ.
I also don't have the 'generated' folder.

I would check if the 'annotation processors' is well configured in your IJ preference.
Should be enabled, but the 'obtain processors from the classpath' radio should be selected

[2022-04-21 20:07] #13304 closed

[2022-04-21 20:43] Tcharl commented on #14416
See RFC: https://github.com/jhipster/generator-jhipster/pull/18152

[2022-04-21 20:46] #14798 closed

[2022-04-21 22:05] Rapster commented on #18329
I'm guessing you're referring to this:

Which I don't think is quite true, otherwise sample like this _(based on JHipster Studio)_ wouldn't work:

[code]

Or am I missing something?

[2022-04-22 05:18] barry1cassidy opened #18440 "Jhipster tutorial application crashes when I access from the browser."
##### **Overview of the issue**

I followed the video tutorial using the default options for jhipster. The application built and starts up without an error. However, when I try to access the application at http://localhost:8080, I get the following stack trace:
----------------------------------------------------------
        Application 'dipity' is running! Access URLs:
        Local:          h

[2022-04-22 06:08] atomfrede opened #18442 "Incorrect dependency to h2 when using gradle"
##### **Overview of the issue**

While working on https://github.com/jhipster/generator-jhipster-native/pull/25 @mshima[ found a dependency decleration for h2](https://github.com/jhipster/generator-jhipster/blob/0f81be5959686666fc2437559f184186f1480c3e/generators/server/templates/build.gradle.ejs#L640) in `build.gradle`. I think it could be  moved to `profile_dev` such it is not on the classpath w

[2022-04-22 09:18] PC-Chiu commented on #9723
@gzsombor Great find! Thank you very much for sharing this.

[2022-04-22 18:40] erycoking commented on #18293
This issue is still there. Is the fix live in the current version? @mraible @mshima

[2022-04-22 18:58] mshima commented on #18293
Main branch only.
`npm install -g jhipster/generator-jhipster`

[2022-04-22 19:37] erycoking commented on #18293
@mshima Thanks for the quick reply.

I uninstalled the old version by running
`npm un -g generator-jhipster`

and installed the new version by running
`npm install -g jhipster/generator-jhipster`

I deleted the old `blog` project and reinstalled with the new jhipster version. I added the same app-jdl.jdl and run
`jhipster import-jdl app-jdl.jdl` and I am still getting an error

![image](https://us

[2022-04-22 19:39] mshima commented on #18293
`jhipster import-jdl app-jdl.jdl --prefer-global`
JHipster uses locally installed jhipster by default.

[2022-04-22 19:41] erycoking commented on #18293
@mshima ok. let me try... we inform you if it succeeds

[2022-04-22 19:47] erycoking commented on #18293
@mshima Awesome, thanks a lot. it succeeded.

Just wondering, what should I do in order for the local one to be the same as the global one

[2022-04-22 19:53] mshima commented on #18293
`npm install jhipster/generator-jhipster`

[2022-04-22 19:54] erycoking commented on #18293
Thanks

[2022-04-23 13:04] eapriansyah commented on #18406
permit access / and /*.*

@Override
    public void configure(HttpSecurity http) throws Exception {
        http
            .csrf()
            .disable();
//            .ignoringAntMatchers("/h2-console/**")
//            .csrfTokenRepository(CookieCsrfTokenRepository.withHttpOnlyFalse())
        http
            .addFilterBefore(corsFilter, CsrfFilter.class)
            .headers()
            .

[2022-04-23 15:33] dbalazs0 opened #18448 "No Swagger UI for reactive applications with Gradle"
##### **Overview of the issue**

Swagger interface is unavailable for reactive applications when Gradle is used for building.

Error message from Administration -> API:
  😱 Could not render r, see the console.
  No API definition provided.

##### **Motivation for or Use Case**

Swagger should work in this scenario too according the jhipster goals.

##### **Reproduce the error**

Create a simple re

[2022-04-23 16:22] atomfrede commented on #18174
This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Stack Overflow will give your question a larger audience:

- This will increase your chances to get

[2022-04-23 16:22] #18174 closed

[2022-04-23 19:02] #18448 closed

[2022-04-23 20:01] Tcharl commented on #18385
Can we close as it was merged?

[2022-04-23 20:11] mraible commented on #18385
I noticed Spring Boot 2.7 RC1 has a Kafka-related feature. Not sure if that
helps or not.

https://spring.io/blog/2022/04/21/spring-boot-2-7-0-rc1-is-now-available

On Sat, Apr 23, 2022 at 14:01 Charlie Mordant ***@***.***>
wrote:

[2022-04-23 21:11] pascalgrimaud commented on #18385
No, we introduce a breaking change here, so we need to do something and I still don't understand this change

[2022-04-23 21:52] Tcharl commented on #18385
Hi Pascal,

Please take a deep look at how things were implemented [before](https://github.com/jhipster/generator-jhipster/blob/5c09c4e65693320b5f5dac92be4717da5567e98f/generators/server/templates/src/main/java/package/web/rest/KafkaResource.java.ejs#L117) vs [now](https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/web/rest/KafkaResource.java

[2022-04-23 23:21] mraible commented on #18238
This is still happening, so I'm increasing the bounty.

[2022-04-23 23:25] mraible commented on #17639
Added a bug bounty. Please send a PR if you know how to fix it.

[2022-04-23 23:58] mraible commented on #17031
Added a bounty since this seems like the last mile for full microfrontend support.

[2022-04-23 23:59] mraible commented on #17008
Added bounty to try and get this fixed.

[2022-04-24 01:13] mshima commented on #18329
The JobHistory example won’t work.
Seems you are trying to add an OneToOne from JobHistory to the Job, Department, employee tuple.
Each OneToOne relationship is independent and the result is that each Employee, Department and Job can have only one JobHistory.

[2022-04-24 06:32] pascalgrimaud commented on #18385
I agree the current Kafka support is not perfect, but it works perfectly since 2 years now for me.

So let's not debate what is better or not, let's go on.
The best fix here is suggested by @mshima :
- rename the kafka option to spring-kafka

So all users who whill upgrade their app won't have all conflict in properties, dependencies etc

[2022-04-24 09:30] atomfrede commented on #18238
Just had a quick look, it seems even with force-insight it looks like the statistics are not send (or does linking the generator for local development somehow overrule the force parameter and I didn't see the condition?)

[2022-04-24 09:32] emilpaw commented on #18238
@atomfrede How do you check if it's sent or not? It seems to send with my local setup.

[2022-04-24 09:52] atomfrede commented on #18238
Works now or at least the method is called and axios has no error when posting the request.

[2022-04-24 10:11] emilpaw commented on #18238
I set up an HTTP interceptor and it shows that the generator in fact is sending out requests with correct looking statistics data. Later today I will take a look into the JHipster Online Server. Maybe it somehow does not accept the requests.

[2022-04-24 10:28] atomfrede commented on #18238
Awesome. So I don't do that with the interceptor.

[2022-04-24 11:06] #18442 closed

[2022-04-24 22:05] Falydoor commented on #18302
Based on this post https://answers.netlify.com/t/jekyll-site-uses-absolute-urls-deploy-previews-navigate-to-main-site/8441/12, looks like that can be achieved using:

[code]

I don't think we have a `netlify.toml` in `jhipster.github.io`, who is in charge of the Netlify configuration?

[2022-04-24 23:32] mraible commented on #18302
I created the Netlify preview integration under my account. Can you please create a PR with this change so we can see if it works?

[2022-04-25 01:42] Falydoor commented on #18302
I tried on my fork and it works for most links!

https://deploy-preview-1--effortless-cocada-183a9f.netlify.app/

But some links are doing an infinite redirect:
- https://deploy-preview-1--effortless-cocada-183a9f.netlify.app/releases/

Not sure why and how it can be fixed ☹️

[2022-04-25 08:28] agallo73 commented on #7574
hello can you pèlease share the code also with me? I did not realize how is possible to create the join list at runtime. Are you using the lambda function or what else?

[2022-04-25 11:26] emilpaw commented on #18200
I am working on it.

[2022-04-25 12:49] mshima commented on #18200
@emilpaw the generation time error is implemented at: https://github.com/jhipster/generator-jhipster/pull/18254/files
You can use it, if you find it ok.

If you use it, please add a better runtime message at microfrontends dynamic imports:
https://github.com/jhipster/generator-jhipster/search?p=2&q=microfrontends

Something like
[code]

[2022-04-25 12:53] mshima commented on #17031
JDL part will be implemented at https://github.com/jhipster/generator-jhipster/pull/18254/files.
After that we will should move to mixing microservice and prompt support.

[2022-04-25 14:28] OmarHawk opened #18471 "Entity Auditing: Whether fixing the existing module or integrating it in jhipster itself..."
##### **Overview of the feature request**

Hi,

I just wanted to integrate some auditing capabilities to my Entities and found this one by @deepu105 :
https://github.com/hipster-labs/generator-jhipster-entity-audit

As already reported in various tickets (#15300, #16642, https://github.com/hipster-labs/generator-jhipster-entity-audit/issues/171), this one does not work together with any of the lat

[2022-04-25 15:47] deepu105 commented on #18471
Yes, its better as a blueprint

Thanks & Regards,
Deepu

On Mon, Apr 25, 2022 at 5:46 PM Marcelo Shima ***@***.***>
wrote:

[2022-04-25 15:52] mraible commented on #18471
I can add a bug bounty to help facilitate the development of this feature. Please let me know how much you think it deserves.

[2022-04-25 17:58] Frast83 commented on #17756
I have the same issue with jhipster 7.8.1 MongoDB and Angular in a monolith project.

[2022-04-26 10:09] maniekes opened #18484 "Incremental changelog: cannot add unique column"
##### **Overview of the issue**

`jhipster jdl` fails on generating liquibase changelog when adding new column with `unique` constraint.  for non-incremental changelog generation works fine.

stacktrace:
[code]
##### **Motivation for or Use Case**

i believe we should be able to use this option.

##### **Reproduce the error**

1. generate sample app with DB
2. run `jhipster jdl entities.jdl`
3. ad

[2022-04-26 22:33] #18484 closed

[2022-04-27 00:32] kypdkz opened #18486 "Control-center keycloak error"
I created new project with latest jhipster 7.8.1. I added 127.0.0.1 keycloak to /etc/hosts file. I started the container with keycloak.yml from docker. registry worked but somehow control-center did not start. what should I do. can you please help me

docker log: Failed to instantiate [org.springframework.security.oauth2.client.registration.InMemoryReactiveClientRegistrationRepository]: Factory me

[2022-04-27 06:50] loiclefevre opened #18496 "Add Oracle Docker image"
##### **Overview of the feature request**

Public Docker images for the Oracle database have been developed by Gerald Venzl (Oracle database product management). These images are based on the free Oracle XE releases and are described [here](https://hub.docker.com/r/gvenzl/oracle-xe).

Also worth mentioning, there are *slim* versions reducing the size by a factor of about 4.

##### **Motivation for

[2022-04-27 06:51] loiclefevre commented on #18496
@jdubois

[2022-04-27 08:07] emilpaw commented on #18238
The PR should fix the issue.

[2022-04-27 08:40] leottamichel opened #18498 "No plugin found for prefix 'liquibase' in the current project"
##### **Overview of the issue**

When I try to run man liquidate:diff an error occur and it says that no plugin found for prefix 'liquibase'
` No plugin found for prefix 'liquibase' in the current project and in the plugin groups [org.apache.maven.plugins, org.codehaus.mojo] available from the repositories [local (/Users/michel/.m2/repository), central (https://repo.maven.apache.org/maven2)] -> [H

[2022-04-27 14:21] asmakhoualdia98 commented on #18440
i am facing the same problem .. Hope you a solution for that!

[2022-04-27 14:25] atomfrede commented on #18238
Nice work @emilpaw !

[2022-04-27 16:25] barry1cassidy commented on #18440
Nope. No solution yet. I've tried from scratch by changing a few choices, but I get the same error. I think it's a an incompatibly with Windows.

[2022-04-27 16:32] mraible commented on #18440
What tutorial are you talking about? This one? https://www.youtube.com/watch?v=6lf64CctDAQ

[2022-04-27 17:14] pmverma opened #18501 "Integration tests which are dependent on user entity creation, fails when password contains null character"
##### **Overview of the issue**

When using Testcontainers & Postgres in integration tests,
tests which are dependent on user entity, fails when password contains null character.

[code]
Check following image for the `NUL` character, most text editor not showing it.
![image](https://user-images.githubusercontent.com/5289123/165578547-8d82fe82-51f4-40c0-b6e1-922b2f27a271.png)

##### **Motivation fo

[2022-04-27 18:34] barry1cassidy commented on #18440
I cloned the repo and it looks like I have a similar problem. Here are the first few lines of the stack trace:

----------------------------------------------------------
        Application 'blog' is running! Access URLs:
        Local:          http://localhost:8080/
        External:       http://192.168.1.78:8080/
        Profile(s):     [dev, api-docs]
----------------------------------------

[2022-04-28 07:34] atomfrede commented on #13390
I plan to pick up this again. Besides the better microservice integration I would like to change the gatling scripts to use java and in turn add the maven/gradle plugins again (as we have removed it because of the need for scala plugin if I remember correctly),  such that they can be started with mvn or gradle without the need to install gatling distribution.

WHDYT @mraible @pascalgrimaud ?

[2022-04-28 07:41] pascalgrimaud commented on #13390
agree :)

[2022-04-28 08:13] DanielFran opened #18510 "Update spring-boot version to 2.7.0"
##### **Overview of the feature request**

Spring-boot version 2.7.0 is expected on May 19th: https://github.com/spring-projects/spring-boot/milestone/239

Changes required: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.7-Release-Notes

##### **Motivation for or Use Case**

Keep framework up-to-date

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is

[2022-04-28 11:56] amalorayk commented on #18440
Any update please?

[2022-04-28 12:49] mraible commented on #18440
I tried it on my MacBook Pro yesterday and had no issues. I can try on
Windows today.

On Thu, Apr 28, 2022 at 05:56 amalorayk ***@***.***> wrote:

[2022-04-28 13:05] rjbgaspar opened #18512 "Error creating bean with name 'liquibase' defined in class path resource Reason: java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0"
##### **Overview of the issue**

Error creating liquibase bean with prod profile activate, after connect to jaguar-mssql (mcr.microsoft.com/mssql/server:2019-CU15-ubuntu-20.04 image)
Please see the stack trace
<details>
    <summary>Stack trace</summary>
<pre>
:: JHipster   🤓  :: Running Spring Boot 2.6.6   ::
:: https://www.jhipster.tech ::
 
2022-04-28 12:17:48.492  INFO 1 --- [           main]

[2022-04-28 16:16] asmakhoualdia98 commented on #18440
Hi thanks a lot... I changed all instances of "undertow" to "tomcat" in pom.xml. I get errors ..What other thing I supposed to modify . I am working on a maven project.

[2022-04-28 16:55] barry1cassidy commented on #18440
This solution worked like a charm for me also. Thanks very much for your help.

[2022-04-28 16:57] barry1cassidy commented on #18440
Changing all instances of undertow to tomcat in pom.xml worked perfectly for me. The app comes up, no errors. Thank you very much!

[2022-04-28 16:57] asmakhoualdia98 commented on #18440
Please what did you exactly change. I have the same issue.

Le jeu. 28 avr. 2022 à 5:55 PM, barry1cassidy ***@***.***> a
écrit :

[2022-04-28 16:59] mraible commented on #18440
Here's a PR that shows the changes:

https://github.com/mraible/jhipster7-demo/pull/8

You can clone it using:

[code]

[2022-04-28 17:07] mraible commented on #18440
FWIW, I tried upgrading the project to use the latest JHipster 7.8.1 release and it still happens there.

[code]

[2022-04-29 09:15] asmakhoualdia98 commented on #18440
I follow this but I get this error:
The container 'Maven Dependencies' references non existing library 'C:\Users\Asma\.m2\repository\org\springframework\boot\spring-boot-starter-tomcat\2.6.6\spring-boot-starter-tomcat-2.6.6.jar'
I get errors in pom.xml

[2022-04-29 10:23] asmakhoualdia98 commented on #18440
I am working on Windows 10

[2022-04-29 13:46] mraible commented on #18440
@asmakhoualdia98 Did you try cloning the `tomcat` branch from my project? If so, and it still doesn't work, can you push your project to a GitHub repo?

FWIW, some people reported this issue happens on JDK 17.0.3, but not 17.0.2.

[2022-04-29 15:00] DanielFran commented on #7574
@agallo73 You have some examples available here: https://github.com/jhipster/jhipster-sample-app-vuejs/blob/main/src/main/java/io/github/jhipster/sample/service/BankAccountQueryService.java#L49

This use [generic methods](https://github.com/jhipster/jhipster-bom/blob/main/jhipster-framework/src/main/java/tech/jhipster/service/QueryService.java) from jhipster-bom project

[2022-04-29 15:40] asmakhoualdia98 commented on #18440
Yes I try it but nothing changed. I push my projest to a GitHub repository. Here is the link:
https://github.com/asmakhoualdia98/Jhipster_project/tree/master
Thank you.

[2022-04-29 15:49] mraible commented on #18440
@asmakhoualdia98 It looks like there's a `jhipster7-demo` folder in your project. Is that intentional? Also, I don't see a `.jhipster` directory, which should exist if you cloned https://github.com/mraible/jhipster7-demo/tree/tomcat.

[2022-04-29 15:54] asmakhoualdia98 commented on #18440
No it is not intentional. It was generated with the whole project itself. ".jhipster" exists already in jhipster7-demo. I checked it.

[2022-04-29 16:46] RDsideNow opened #18525 "Microfrontend - Client Entity Other Relationship Link - 404 page cannot be found"
##### **Overview of the issue**

Looks like the page cannot be found because there is no reference to the entity page.

IE if the micro front end is invoice the link should be invoice/entityName/entityId/"view"

currently is it entityName/entityId/"view" and is missing the reference to the entity page

            <div *ngIf="invoiceLineItem.invoice">
              <a [routerLink]="['/invoice', in

[2022-04-29 16:49] RDsideNow commented on #18525
<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "applicationIndex": 7,
    "applicationType": "microservice",
    "authenticationType": "oauth2",
    "baseName": "invoicing",
    "blueprints": [],
    "buildTool": "gradle",
    "cacheProvider": "hazelcast",
    "clientFramework": "angularX",
    "clientPackageManager": "npm",
    "clientTheme": "none",
    "clie

[2022-04-30 00:11] vw98075 opened #18526 "The administration menu not show"
##### **Overview of the issue**

Sign in as the admin user, the administration menu on the top bar doesn't show up. It will show up after clicking on any other menu items.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityNam

[2022-04-30 16:00] Gayatri19670 commented on #16116
WARNING in ./node_modules/@auth0/auth0-react/dist/auth0-react.esm.js
Module Warning (from ./node_modules/source-map-loader/dist/cjs.js):

[2022-04-30 20:34] alialrabi opened #18531 "Get h2 exception when deploying production"
##### **Overview of the issue**
Get h2 exception when deploying production

##### **Motivation for or Use Case**

Can not deploy production  profile
##### **Reproduce the error**
https://github.com/alialrabi/mydpp
./gradlew -Pprod

##### **Related issues**

org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is java.lang.RuntimeException: java.lang

[2022-05-01 00:24] mraible commented on #18531
I experienced this today when trying to create my 21-Points Health app from scratch.

I started it with `./gradlew` and ran Cypress tests against it with `npm run e2e`. Then, I tried to start it in production mode with `./gradlew -Pprod`. It fails to start.

[code]

I'll add a bug bounty since this is a block issue that's preventing me from working on the JHipster Mini-Book.

[2022-05-01 00:24] mraible commented on #18531
Here's my `.yo-rc.json`:

[code]

[2022-05-01 05:14] atomfrede commented on #18531
@mraible are on main or the latest 7.x release? Will have a look

[2022-05-01 05:45] mraible commented on #18531
Latest: 7.8.1

[2022-05-01 06:03] atomfrede commented on #18531
Can also reproduce it on main. Going to have a detailed look after breakfast.

[2022-05-01 06:15] atomfrede commented on #18531
@mraible can you check if the prod profile is really active? At least running -Pprod results in

`2022-05-01 08:14:19.155  INFO 61198 --- [  restartedMain] c.mycompany.myapp.H2GradleProductionApp  : No active profile set, falling back to 2 default profiles: "dev", "api-docs"`

Will have a look, it looks like the replacement is not working correctly anymore

[2022-05-01 06:25] atomfrede commented on #18531
Found the issue. Will provide a PR before lunch. To be honest I am confused it ever worked. I guess some change in the gradle boot plugin.

[2022-05-01 08:50] atomfrede opened #18533 "serviceDiscoveryType seems not be prepared correctly for templates"
##### **Overview of the issue**

While looking into #18531 I wondered why the spring profiles are not replaced in the build artifacts. I looks like `serviceDiscoveryType` is supposed to be mapped to true/false, but it is still `no` when the template is evaluated.

In particular this means the build jar file has no active profiles set by default, because this replacement never happens.

[code]

###

[2022-05-01 12:30] asmakhoualdia98 commented on #18440
I solve the problem. Actually, I deleted one of the following dependency from pom.xml. (There are 2 in my case), and it works. Thanks for your time:

                <dependency>
                    <groupId>org.springframework.boot</groupId>
                    <artifactId>spring-boot-starter-tomcat</artifactId>
                </dependency>

[2022-05-01 12:47] asmakhoualdia98 commented on #18440
The extra dependency that I deleted was actually  added due to issue #9175.

[2022-05-01 14:49] mraible commented on #18533
I'm not sure if this is related, but we discovered a discovery issue last week. Basically, if you deployed my example from [this post](https://developer.okta.com/blog/2021/06/01/kubernetes-spring-boot-jhipster) to Azure, Eureka wouldn't recognize the "store" app as being started. We tracked it down to [this issue](https://github.com/spring-cloud/spring-cloud-netflix/issues/3941) and then discovere

[2022-05-01 15:14] mraible opened #18534 "Refactor to remove Spring Security deprecation warnings on startup"
##### **Overview of the issue*

I created a new app with the `main` branch using the following `.yo-rc.json`:

[code]

On startup, it gives me a warning about the Spring Security configuration:

[code]

If I change the `.yo-rc.json` to have `"reactive": true and disable caching:

[code]

There are no warnings from Spring Security. There is this warning though:

[code]

##### **Motivation for or Us

[2022-05-01 16:39] #18531 closed

[2022-05-01 18:45] atomfrede commented on #18533
Seems unrelated if the other eureka properties have been generated correctly

[2022-05-01 18:53] mraible commented on #18533
OK. Here's the workaround we implemented to fix it: https://github.com/oktadev/okta-blog/commit/d38e52888e3e4b9bef2edc043a5e28af14635184

[2022-05-01 19:22] atomfrede commented on #18534
I have tried adding the ignored pattern to normal security config with permitall. It works well, except some inteference with the default x frame option deny (e.g. swagger api spec or h2 console). We might set it to same-origin or keep it with deny and use the [csp frame-ancestor ](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors) with self.

Not su

[2022-05-01 21:38] mraible commented on #18526
I am able to reproduce this issue with your `.yo-rc.json`. I'll add a bug bounty to get it fixed.

[2022-05-01 21:39] mraible commented on #18525
@RDsideNow Do you happen to have a full JDL file so I can use it to create a gateway and microservice?

[2022-05-01 21:47] mraible commented on #18498
I tried creating a new project with JHipster 7.8.1 using your `.yo-rc.json`. This works. However, when I tried to import your JDL with `jhipster jdl entities.jdl`, it fails with the following error:

[code]

[2022-05-01 21:55] mraible commented on #18498
As for liquibase, using the fully-qualified name seems to work:

https://stackoverflow.com/a/58542369/65681

[code]

I don't see the liquibase plugin defined in `pom.xml`. I thought this might be because your app is reactive, so I tried re-generating with `reactive: false`. It's still not there with non-reactive apps.

[2022-05-02 03:28] mraible opened #18536 "Cypress prompts you to Continue Download or Quit every so often"
##### **Overview of the issue**

When running Cypress tests with `npm run e2e`, every so often, I'm prompted to continue downloading or Quit. If I click Quit, the tests continue and pass as expected.

##### **Motivation for or Use Case**

This seems to create a `cypress/downloads/downloads.html` that is huge! 43MB

##### **Reproduce the error**

Create an app with Cypress, run `npm run e2e` a few

[2022-05-02 03:33] mraible opened #18537 "When adding a new project to Git, there's a Husky error"
##### **Overview of the issue**

When you add a new project to Git, there's a warning from Husky:

[code]

##### **Motivation for or Use Case**

We should set `.husky/pre-commit` as executable so users aren't surprised when they first try to check in their project.

##### **Reproduce the error**

Create a new project, then create a new repo on GitHub, then try to check it in and push it.

##### **

[2022-05-02 04:33] mraible commented on #18510
Adding bug bounty because staying up to date with Spring Boot releases is important.

[2022-05-02 11:45] ascelineboullen commented on #13595
Hello everyone!
I will work on this issue this week, and I will do an update this week end 😄

[2022-05-02 13:01] mraible commented on #18536
It happens while tests are running, usually at the end of a test.

[2022-05-02 13:16] mshima commented on #18536
It’s related to downloading contents inside tests.
I will try to reproduce.

[2022-05-02 15:54] vishal423 commented on #18534
I also noticed the same issue, and I believe the out-of-box `x-frame-options` default with `SAMEORIGIN` should suffice for monolithic applications. In the case of micro-services, it may not work as the origin will change (`registry`, `control-centre`)  and thus require more control with `frame-ancestor` and that seems not well supported in the Firefox.

[2022-05-02 16:30] #17990 closed

[2022-05-02 16:30] #18156 closed

[2022-05-02 19:15] atomfrede commented on #18534
At least with frame-ancestor self I didn't notice any issues with firefox. But I like your proposal to differentiate between monolith and microservice. Will see to provide a PR for that

[2022-05-02 22:08] antsch01 opened #18555 "Elasticsearch doesn't work for relationship after insert, the same work after update"
##### **Overview of the issue**

The search doesn't work after inserting a new entity, the same search work after updating the entity.
it seems after the updating entity the indexing has been updated.
##### **Motivation for or Use Case**

The client is not able to find the entity after inserting
##### **Reproduce the error**

- Entity A
- Entity B
- Relationship oneToMany A to B

1. Log into backo

[2022-05-02 22:21] mraible commented on #18555
It looks like you're using JHipster 6.10.5. Can you try re-generating your app with JHipster 7.8.1 and see if this problem still exists?

[2022-05-03 00:22] naris commented on #18424
I have submitted a pull request for this. However in making the change I noticed that askForTableName() in generators/entity/prompts.js imposes a 30 character for table names for all databases (and it used to impose a 14 character limit for Oracle) so I changed it tp impose a 112 character limit for oracle (128 - 16 character since it was 14 for 30) and 30 characters for everything else.

I doubt

[2022-05-03 02:26] mraible commented on #18424
@jdubois Do you know why we've limited the length of table names historically?

[2022-05-03 03:21] RDsideNow commented on #18525
paginate * with pagination
dto * with mapstruct
filter *
search Invoice, InvoiceAuditMessage with elasticsearch

application {
  config {
    baseName applicationgateway,
    applicationType gateway,
    packageName com.applicationgateway,
    serverPort 8080,
    serviceDiscoveryType eureka,
    authenticationType oauth2,
    cacheProvider ehcache,
    enableHibernateCache false,
    databaseType

[2022-05-03 03:22] RDsideNow commented on #18525
@mraible please see the jdl above.

[2022-05-03 04:19] naris commented on #18424
The askForTableName() function mentioned above only gets called when prompting the user for a table name to replace an invalid one.

There are also other places that check for different limits for different databases.

generators/entity/index.js had 2 different checks for oracle:
[code]

getJoinTableName() in generators/generator-base.js had these checks:
[code]

and getConstraintNameWithLimit() i

[2022-05-03 05:16] jdubois commented on #18424
@mraible this was because there was a limit in the table names in Oracle, but I believe this was removed in newer versions of the database. This was coded by @deepu105

[2022-05-03 07:43] vishal423 opened #18566 "Support Svelte blueprint in a reactive stack backend"
##### **Overview of the feature request**
It is a placeholder issue to add support for the Svelte blueprint in a reactive stack backend application and eventually the micro-services. Micro-frontend support is out of the scope of this ticket

##### **Motivation for or Use Case**
Support reactive stack monolithic, gateway in Svelte blueprint

##### **Related issues or PR**

- [ ] Checking this box i

[2022-05-03 09:15] vishal423 commented on #18534
Reactive implementation seems no different and uses pattern exclusion to bypass security. We need to be consistent in our strategy and align both tracks to use the same approach.

[2022-05-03 10:04] atomfrede commented on #18534
Will align both implementations of course :)

[2022-05-03 12:10] vogthenn commented on #15655
as a workaround, in package.json I replaced

    "start-tls": "npm run webapp:dev -- --env.tls",
with

    "start-tls": "npm run webapp:dev -- --env tls",

it worked, then, accessing to https.  I'm very unsure about other implications, though, I'm at most a webpack beginner...

[2022-05-03 13:02] antsch01 commented on #18555
Hi @mraible

thank you for reply, I tried to update jhister and regenerate the project following the guide jhipster.tech/upgrading-an-application/#automatic_upgrade but got an error.
I executed the command: npx jhipster upgrade and got the error Cannot read property 'propertyName' of undefined

![image](https://user-images.githubusercontent.com/101180033/166457560-9748ad82-f8bf-4bf1-987d-194392f95

[2022-05-03 14:01] mshima commented on #16960
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/75228.

[2022-05-03 14:12] #15964 closed

[2022-05-03 14:22] mshima opened #18567 "Increase Vue code coverage"
##### **Overview of the issue**

Some transitional dependency update reduced vue coverage. Quite strange, but couldn't find a PRs to blame.
We should add some tests to increase it a bit or reduce the threshold so Dependabot can successfully merge Vue PRs.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Versio

[2022-05-03 16:33] pascalgrimaud commented on #16960
@mshima : approved

[2022-05-03 18:21] mraible opened #18570 "`npm run e2e` doesn't pass for reactive-ms JDL"
##### **Overview of the issue**

To prepare for my Reactive Java Microservices with JHipster talk at Spring I/O on May 26, I decided to try my [demo script](https://github.com/oktadev/java-microservices-examples/blob/main/reactive-jhipster/demo.adoc) with the latest release.

I made it to the part where you run `npm run e2e`. At that point, it fails on two tests:

- When testing /docs
- When tryin

[2022-05-03 19:10] mshima commented on #18570
I will try to reproduce.

[2022-05-03 20:32] emilpaw opened #18571 "Update React Router to 6.3.0"
##### **Overview of the feature request**

Update React Router to 6.3.0. Dependabot already opened a PR for that https://github.com/jhipster/generator-jhipster/pull/18256 but I think it's worthwhile to open an issue to track the progress since the needed changes to update from 5.3.0 don't seem trivial.

##### **Motivation for or Use Case**

Keep the dependencies up to date.

##### **Related issues

[2022-05-03 21:09] amalorayk commented on #18440
Hi,

I used the latest JHipster 7.8.1 release,

This issue happens on JDK 17.0.3, but not 17.0.2.

[2022-05-03 23:41] miy4mori commented on #13885
same error in 7.8.1 fresh generation

[2022-05-04 01:42] mshima commented on #18570
The swagger problem is because the endpoint are not ready yet.

[2022-05-04 01:59] mraible commented on #18570
When I tried it in Chrome, it didn't work.

Do you mean it's not implemented or it's not ready to take requests?

On Tue, May 3, 2022 at 19:42 Marcelo Shima ***@***.***> wrote:

[2022-05-04 02:04] mshima commented on #18570
Not ready to take requests.
I couldn't reproduce.

[2022-05-04 02:07] mshima commented on #18570
Just tried using chrome, it works.
Maybe it's because it's taking too long to respond, the timeout is 5s.
Are you using amd64 image on m1?

[2022-05-04 02:10] mraible commented on #18570
Yes, I am using M1 and Cypress is noticeably slower. I'd expect the app to work though, even if the Cypress test fails.

[2022-05-04 02:21] mshima commented on #18570
I tried to make swagger loaded urls dynamic but failed.
The urls needs to be loaded and parsed before creating the swagger ui.
We can increase the timeout, but the user experience will be worse IMO.

I suggest to create arm64 images.

[2022-05-04 03:04] mraible commented on #18570
I created Docker images to test things. When I tried starting everything with `docker-compose up`, it took a long time to start all containers. The gateway app was unreachable.

<img width="611" alt="Screen Shot 2022-05-03 at 20 43 20" src="https://user-images.githubusercontent.com/17892/166617961-b2e28113-45e3-4963-83b5-6611873a471f.png">

I stopped all containers and bumped up the available reso

[2022-05-04 03:07] mshima commented on #18570
@mraible the linked PR should fix the post error.
I could not reproduce the swagger problem, but it should happen if the gateway takes more than 5s.
The PR adds `java:docker:arm64` script to build arm64 docker image.

[2022-05-04 03:36] mraible commented on #18570
The linked PR does fix the post error. The `/docs` test still fails with Cypress. I tried loading `http://localhost:8080/admin/docs` in Chrome and it takes 11 seconds. If I build Docker containers for all the apps and run them with `docker compose up`, the gateway isn't reachable, even though it looks like it's up in the logs.

Docker seems to indicate that amd64 images might be slow.

<img width=

[2022-05-04 03:37] mraible commented on #18570
I didn't realize I needed to run `npm run java:docker:arm64` to build M1-compatible images. Trying that now...

[2022-05-04 03:47] mraible commented on #18570
After creating new images with the above command, I tried `docker compose up` and `npm run e2e`. Still doesn't work.

<img width="1132" alt="Screen Shot 2022-05-03 at 21 46 45" src="https://user-images.githubusercontent.com/17892/166620623-d9e4b963-cdff-4927-a319-2193f49ae95a.png">

[2022-05-04 04:11] mraible commented on #18570
On Intel, starting the apps with `./gradlew` and running `npm run e2e` works just fine. In fact, the Swagger UI loads in a second or so. I'm not sure why it takes so long on the M1.

[2022-05-04 04:17] mraible commented on #18570
If I build Docker containers on Intel and start with Docker Compose, the product tests fail when running `npm run e2e`. If I restart the store app with Docker Desktop, it works.

<img width="1442" alt="Screen Shot 2022-05-03 at 22 17 08" src="https://user-images.githubusercontent.com/17892/166622520-204dcb92-2705-4288-89a9-238aeedd90bc.png">

[2022-05-04 11:40] mshima commented on #18570
You need to delete the amd64 images to recreate as arm64.

[2022-05-04 11:45] dragossas commented on #18440
What worked for me was to add the
- implementation "org.springframework.boot:spring-boot-starter-web"
- compileOnly group: 'javax.servlet', name: 'javax.servlet-api', version: '3.0.1'
dependencies in gradle (same for maven), remove the tomcat exclusions (from both configuration and dependencies) and remove the undertow dependency.

Also had to instantiate manually the ServletWebServerFactory bean

[2022-05-04 12:09] mshima commented on #18570
All green on m1 here.
I have `Experimental Features -> Use the new Virtualization framework` enabled. It provides worst disk performance, but much better processing performance.

[2022-05-04 13:14] #16591 closed

[2022-05-04 14:59] mraible commented on #18570
I can confirm that deleting the amd64 images and turning on Experimental Features solves the problem for me.

<img width="1840" alt="Screen Shot 2022-05-04 at 08 59 44" src="https://user-images.githubusercontent.com/17892/166709676-c37d70ef-c263-4243-a498-08e0f4379c6a.png">

[2022-05-04 16:52] mshima commented on #18424
Tables names should be changed only for v8.
Otherwise we will have lots of database breaking changes.
We can open an exception for oracle because we have a bad experience with current limits.

I did some table names changes for v7 fixing some issues like adding a additional `_` splitting relationships because
TableOne - Table = table_one_table
Table - OneTable = table_one_table
But table_one__tabl

[2022-05-04 17:11] DanielFran commented on #18424
@mshima

For Join tables, no changes applied, except the validation for PostgreSQL that was considering 63 characters has the minimum to truncate the name instead of considering 64 ([here](https://github.com/jhipster/generator-jhipster/pull/18556/files#diff-6b3a4e19c79c8b302650b8b7466ce6e01e78d0e2f3105d87e9e55b9d6f4cb32dR1772))

For constraints, the refactor is to simplify the logic, it should not

[2022-05-04 17:19] mshima commented on #18424
I prefer avoiding limits changes for v7 cycle:

<img width="916" alt="Captura de Tela 2022-05-04 às 14 15 32" src="https://user-images.githubusercontent.com/1417183/166743442-dd50dda9-d99b-453f-9421-68591ab87fbb.png">

[2022-05-04 18:28] mshima commented on #18570
Generating both arm64 and amd64 works for docker repository like we do at jhipster-registry.
But doesn’t for local image.

[2022-05-04 18:32] #18570 closed

[2022-05-04 18:49] DanielFran commented on #18424
@mshima I reverted changes, it will use new method only for Oracle.

[2022-05-04 19:45] mshima commented on #18536
@mraible in what application have you been hit by this problem?
Plain 21-points?

[2022-05-04 19:59] mraible commented on #18536
I've seen it in many apps this last couple of weeks. It doesn't seem to matter if it's a monolith or microservices. The web framework doesn't seem to matter either since I've seen it with Vue, Ionic, and even [Svelte](https://github.com/jhipster/generator-jhipster-svelte/pull/1121#issuecomment-1110142989).

[2022-05-05 22:44] #18424 closed

[2022-05-06 07:47] lucastaehli commented on #17449
Same Problem on "jhipsterVersion": "7.8.1". All tests fail.

[2022-05-06 08:48] DanielFran opened #18584 "Review join table and constraints name limits"
##### **Overview of the issue**

When calculating joint table names and constraints for FK and UX, the limits associated with each database are not correct.

Related with https://github.com/jhipster/generator-jhipster/pull/18556

##### **Motivation for or Use Case**

It will now calculate it with correct limits and auto truncate it with the correct maximum length.

##### **Reproduce the error**

F

[2022-05-06 12:59] DanielFran opened #18588 "Drop support for Node.js version 12"
##### **Overview of the feature request**
Node.js ended official support for version 12
https://nodejs.org/en/about/releases/

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-05-06 14:02] sytzefluenc opened #18589 "Combined fields or 'calculated field' in relationship display field"
##### **Overview of the feature request**

When using relationships one can provide the display field:

##### **Motivation for or Use Case**

In a lot of cases a single field however is not sufficient to identify the entity that you want to select. In the often used example of Employees and Departments for example, it would be nice to be able to select an employee based on their full name (i.e. th

[2022-05-06 14:14] DanielFran commented on #10031
@iconben Are you available to do a PR?

[2022-05-06 14:24] DanielFran commented on #10694
Those classes do not exist anymore so that we can close this issue

[2022-05-06 14:24] #10694 closed

[2022-05-06 14:30] #10858 closed

[2022-05-06 14:33] DanielFran commented on #10916
@AlexandreCassagne did you have news? Issue still persist?

[2022-05-06 14:42] DanielFran commented on #11525
@amatosg Are you willing to give it a shot again?

[2022-05-06 14:42] AlexandreCassagne commented on #10916
Sorry @DanielFran, I dropped the ball on this one.

@jdubois  did you get inspiration from working with Azure and the Hazelcast team?

[2022-05-06 14:43] #11731 closed

[2022-05-06 14:44] AlexandreCassagne commented on #10916
@DanielFran I have some work going on but I want to close this once and for all ;-)

@jdubois  is it ok to completely rewrite the cache configuration portion and build a kubernetes-only version? I want to migrate away from the Jhipster Registry, I think Eureka is no longer needed but that requires a lot of configuration changes (config maps? Kubernetes discovery API? cache configuration? etc)

[2022-05-06 14:53] #11949 closed

[2022-05-06 15:02] #12163 closed

[2022-05-06 15:04] DanielFran commented on #12122
@RDsideNow do you want to contribute with a fix, or should we close this issue?

[2022-05-06 15:15] yelhouti commented on #10198
I think we should wait for the next release of angular where forms will be typed :)

[2022-05-06 15:20] DanielFran commented on #12262
@cbornet Are you still planning to implement it?

[2022-05-06 15:21] mshima commented on #18589
You can implement using dto/mapstruct mapping like:
https://github.com/jhipster/generator-jhipster/blob/ba71168e1b9a6747af9cfe31e9f7d62e304750e1/test-integration/samples/jdl-entities/entities.jdl#L7

By other’s means it would make templates more complex and out of JHipster scope.

[2022-05-06 15:21] #18589 closed

[2022-05-06 15:23] #12577 closed

[2022-05-06 15:26] DanielFran commented on #12330
@mshima Are you planning to implement blueprint documentation, or can we close this issue?

[2022-05-06 15:28] DanielFran commented on #12339
@mraible @mshima Should we proceed with the implementation or close this issue?

[2022-05-06 15:29] #12412 closed

[2022-05-06 15:30] mshima commented on #12330
@DanielFran there is another open issue https://github.com/jhipster/generator-jhipster/issues/16988.
PR is waiting for v9.2.0.
The required implementation is merged but I don’t think it’s released.

[2022-05-06 15:30] #12330 closed

[2022-05-06 15:41] #12417 closed

[2022-05-06 16:12] DanielFran commented on #12488
@jdubois @pascalgrimaud Does [devbox](https://github.com/jhipster/jhipster-devbox) still used nowadays?

Latest [vagrant](https://app.vagrantup.com/jhipster/boxes/jhipster-devbox) image available is from version 5.8.2?

Should we keep this project @jhipster/developers ?

[2022-05-06 16:17] pascalgrimaud commented on #12488
let's close this ticket

[2022-05-06 16:17] #12488 closed

[2022-05-06 16:19] #12489 closed

[2022-05-06 16:32] DanielFran commented on #16477
@joro88 Will close this issue in favour of https://github.com/jhipster/generator-jhipster/issues/12497.

[2022-05-06 16:32] #16477 closed

[2022-05-06 16:34] #12502 closed

[2022-05-06 16:38] #18238 closed

[2022-05-06 16:48] DanielFran commented on #12556
@kevin-madhu Do you still have this issue?
Maybe there is a better approach @mashima?

[2022-05-06 17:07] OmarHawk commented on #18370
Well, in my own project, I implemented a draft implementation (adjusting the generated code) and it works quite well, using the filter option to generate the API methods. So I think, it would be just a smaller step to pprovide such a thing within the generator. I solely implemented this now for Angular frontend...

[2022-05-06 17:12] emilpaw commented on #12556
@DanielFran I highly suspect you meant to ping @mshima

[2022-05-06 17:14] DanielFran commented on #18370
@OmarHawk Can you contribute with a PR? Since you already implemented it, it would be easier to evaluate such changes

[2022-05-06 17:31] kevin-madhu commented on #12556
@DanielFran Basically, I wanted to write a blueprint that added some files on top of the ones generated by jhipster, but at the same time offer the user with a choice to choose between java and kotlin.  I've given up the attempt to write such a blueprint, atleast at the moment. So, it doesn't matter to me now. So, maybe I'll close the issue and maybe re-open if I decide to work on the same later a

[2022-05-06 17:42] DanielFran commented on #12685
An example of an old implementation:

[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2022-05-06 17:59] mshima commented on #12556
The writeFiles is a task group.
And the tasks are really simple.
https://github.com/jhipster/generator-jhipster/blob/ba71168e1b9a6747af9cfe31e9f7d62e304750e1/generators/server/files.js#L1950-L1975

I don't see the reason for it to be in a separated file, IMO we should move it to the generator itself for v8.

We are exporting the serverFiles
https://github.com/jhipster/generator-jhipster/blob/ba711

[2022-05-06 17:59] #12556 closed

[2022-05-06 18:15] mshima commented on #12339
I had this partially implemented at some point.
But since the interest was low, I’ve abandoned it.
Let’s close and reopen if there is interest.

[2022-05-06 18:15] #12339 closed

[2022-05-06 19:04] jdubois commented on #12488
Indeed I wanted to deprecate the DevBox as today you have better options, but someone volunteered to maintain it…. If he doesn’t, we should deprecate it.

[2022-05-06 19:29] DanielFran commented on #12488
@pascalgrimaud Yes, I know you always update the generator version, but it needs to be updated, like ubuntu, pgadmin,...

@jdubois who is maintaining it?

[2022-05-07 11:37] jdubois commented on #12488
Nobody is maintaining it anymore, and I don’t want to push anyone into doing this.
This is a dead technology now that we have DevContainers.

[2022-05-07 11:40] pascalgrimaud commented on #12488
So let's archive this project

[2022-05-07 11:56] mshima commented on #9870
This is important to have.

[2022-05-07 12:07] mshima opened #18592 "Migrate jdl tests and remaining tests to snapshots"
##### **Overview of the issue**

Migrate handcrafted snapshots to expect snapshots.

##### **Motivation for or Use Case**

There are some jdl changes that needs to be done.
Make easier to update tests for them.

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-05-07 12:27] deepu105 commented on #18424
for context when I originally put in the limits (long time ago), there were limits on Oracle and maybe other DBs, most of those limits are probably not valid anymore. But the main constraint was also generating join table names and constraint names from long table names. As @mshima mentioned probably we should change these only for v8 to avoid breaking stuff.

[2022-05-07 12:41] DanielFran commented on #18424
Changes for Oracle has been merged, for other DBs draft PR is done with label v8

[2022-05-07 15:01] RDsideNow commented on #18525
looks like the cypress tests for this are missing to

[2022-05-07 22:07] RDsideNow commented on #18525
@mraible @mshima i believe i have the fix on my local branch, but i am not entirely sure how to build and run the generator locally against the jdl file?

[2022-05-08 02:42] mshima commented on #18525
Go to your `generator-jhipster` folder and run:
`npm link`
It will link jhipster globally. This is enough to generate a new application.

Go to the application folder and run
`npm link generator-jhipster`

Regenerate the application:
`jhipster jdl app.jdl --with-entities`

[2022-05-09 05:41] pascalgrimaud commented on #17691
Adding a bounty on this, as it will be important to have.

@Tcharl : anyway, will it be possible to easily switch to h2 for test ? Because during formation, there can be some users under windows with corporate computers without docker?
Or is Docker totally mandatory?

[2022-05-09 06:10] Tcharl commented on #17691
Hi @pascalgrimaud , yes, it will be very easy: they'll just have to choose `devdatabaseType: h2Disk` or its in-memory counterpart.
The only purpose of this pr is to let the end user to effectively executes his integration tests on the dev (or prod) database he choose instead of defaulting to h2.

[2022-05-09 07:28] jdubois commented on #10916
@AlexandreCassagne for Azure + Hazelcast it's a very specific implementation that uses something called Azure Ping, so it would only work on Azure VMs (so this is quite a limited use case).
Concerning Eureka, I'm afraid it's the only way to get the nodes know about each other if you follow the usual JHipster/Spring architecture. You can probably rewrite this in a k8s-specific way, but then it woul

[2022-05-09 12:55] sytzefluenc commented on #18589
So what you are actually stating is that the 'calculated field' functionality is already available using MapstructExpressions.

Do I understand the matter correctly that this means I can have the 'firstName lastName' displayed in a drop down list by specifying the jdl as:

[code]

This results in my project (different entities, but same structure) in the fact that I do have a displayName as read-o

[2022-05-09 14:28] sytzefluenc commented on #18589
Well :-(

This is my complete `fullName.jdl`:
[code]

I run a `jhipster import-jdl fullName.jdl` and then try to create the docker images as mentioned in the output:
[code]

the `hrfrontend` compile is successful, the `hrservice` compile fails with an error (and 4 warnings):
[code]

So it seems somewhere I make a mistake? (thanks for your patience)

[2022-05-09 19:43] mraible commented on #18536
@mshima it's 43MB of gibberish as far as I can tell.

<img width="1523" alt="Screen Shot 2022-05-09 at 13 43 19" src="https://user-images.githubusercontent.com/17892/167485536-37f71e30-cc80-41d5-9aca-acbf6c54d884.png">

[2022-05-09 21:33] bs474 opened #18614 "I will try to reproduce."
I will try to reproduce.

_Originally posted by @mshima in https://github.com/jhipster/generator-jhipster/issues/18570#issuecomment-1116464964_

[2022-05-09 23:49] mraible commented on #18614
@bs474 The title and description of this issue don't provide a lot of information. Can you please provide more information on what this issue is tracking?

[2022-05-10 03:12] RDsideNow commented on #18525
@mshima I am trying to add a new cy data tag for relationship links, like this:

<img width="1920" alt="Screen Shot 2022-05-09 at 11 07 02 PM" src="https://user-images.githubusercontent.com/42190464/167534879-70857143-ebf1-4df9-bcdf-398db3507cb5.png">

I believe I have it correct on entity.spec.ts.ejs

On the entity.ts.ejs

<img width="1920" alt="Screen Shot 2022-05-09 at 11 09 10 PM" src="https:/

[2022-05-10 15:18] #18614 closed

[2022-05-10 15:22] mshima commented on #18536
@mraible I've tried to reproduce, but I couldn't.
I think this happens when using auth0/okta.
Can you confirm if that's the case?
The file `model-info.pbm` is identifiable at the image. I don't think it's open source.

[2022-05-10 15:31] mraible commented on #18536
We can close this issue and I can re-open it when I have more details. I think the most important thing for now is to ignore this directory so there's not git changes after running `npm run e2e`.

[2022-05-10 17:34] mraible opened #18620 "Does JHipster have unused dependencies?"
Inspired by https://twitter.com/ja_codes/status/1523981184224608256

##### **Overview of the issue**

[code]

Results in:

[code]

##### **Motivation for or Use Case**

We should remove unused dependencies if this report is correct.

[2022-05-10 18:27] vishal423 commented on #18370
@OmarHawk, Do you mean to display many side entities on one side entity view? Do we fetch those in API as default?

[2022-05-11 07:23] zhyd1997 commented on #18571
Can I take a look 👀

[2022-05-11 07:32] emilpaw commented on #18571
I already made some progress on this.

[2022-05-11 07:56] zhyd1997 commented on #18571
@emilpaw Thanks let me know that.

[2022-05-11 11:57] #18536 closed

[2022-05-11 12:00] mshima commented on #18525
`entity.ts.ejs` is common, doesn’t have entity related data like relationships.

[2022-05-11 12:01] mshima commented on #18525
@RDsideNow take a look at https://github.com/jhipster/generator-jhipster/pull/18622

[2022-05-11 16:43] OmarHawk commented on #18370
No, I do show the filtered list view of the "many"-side with a small UI to indicate it is filtered on certain attributes + allowing to clear certain or all applied filters.

Also the PR just adds general filtering capabilities to all entities where filtering API is enabled - but I only do make use of it for now for that single Use Case (Show a button to show the mentioned filtered List). even thou

[2022-05-11 17:08] anarsultanov commented on #18318
@deepu105 is there something still missing here?

[2022-05-11 17:49] vishal423 commented on #18370
I see. Can you share screenshots of how the UI looks after your change?

[2022-05-12 01:11] yelhouti commented on #15401
@mraible yes please leave it open.

I have been debugging this today and the issue seems to come from:
1. relationship.otherEntity.liquibaseFakeData

When an entity is added by specifying only and exactly one side:
[code]
NOT
[code]
or
[code]

it causes jhipster to not see that B has a new relationship, and not calling prepareFakeData on it, which causes the csv (and depending on the version other

[2022-05-12 16:32] OmarHawk commented on #18370
With the following JDL:
[code]

Note the "filter all" - means it works only in configurations where the filter option works.
Note additionally the "paginate all with pagination" - means it works only where there is some actual pagination on the other side of the relationship. I have saved myself from adding route handling to the "no / infinit-scrolle " option for now, as there is currently no rout

[2022-05-13 00:06] jamescrdyer opened #18642 "Liquibase Fails on Integration Tests"
##### **Overview of the issue**

When running the integration tests on an unmodified MSSQL backend project, the JHI_USER table creation throws an error when running the tests.

##### **Reproduce the error**
Fresh monolithic JHipster project with MS SQL database. Then run mvn -Pprod verify. Problem does not occur when run with MySQL configuration.

Error from the integration test:
org.springframewo

[2022-05-13 09:41] DanielFran commented on #16667
This has been fixed in 7.5.0: https://github.com/jhipster/generator-jhipster/pull/16612.

[2022-05-13 09:41] #16667 closed

[2022-05-13 09:45] DanielFran commented on #18642
This has been fixed with https://github.com/jhipster/generator-jhipster/pull/16612 with v.7.5.0
Can you update the application and confirm it is OK?

[2022-05-13 09:54] #18642 closed

[2022-05-13 10:04] DanielFran commented on #17449
@lucastaehli @ALLAOUI-DSI Starting on liquibase 4.4+, mssql-liquibase extension fixed the loaddata (see https://github.com/liquibase/liquibase-mssql/commit/0c2b40cb9971d02d0d852bef1778fc1bacf4c612)

Changes has been applied also in jhipster v.7.2.0 to remove the same workaround: https://github.com/jhipster/generator-jhipster/pull/15492/files

Can you contribute with the fix?
Thanks

[2022-05-13 10:25] DanielFran commented on #12844
@mshima This has been reopened, but I am unsure if this implementation is useful?

[2022-05-13 10:27] #12867 closed

[2022-05-13 10:29] DanielFran commented on #12867
Close via https://github.com/jhipster/generator-jhipster/pull/13265

[2022-05-13 10:34] #12918 closed

[2022-05-13 10:38] #12967 closed

[2022-05-13 10:43] #13132 closed

[2022-05-13 10:52] #13133 closed

[2022-05-13 10:55] #13134 closed

[2022-05-13 10:56] #13147 closed

[2022-05-13 10:57] DanielFran commented on #13234
@SammyVimes Are you still available to contribute with a PR?

[2022-05-13 11:05] #13373 closed

[2022-05-13 11:10] #13471 closed

[2022-05-13 11:14] #13618 closed

[2022-05-13 11:17] #13645 closed

[2022-05-13 11:25] #14436 closed

[2022-05-13 11:27] DanielFran commented on #13941
@CGarces, Are you still available to contribute with a PR?

[2022-05-13 11:28] #13949 closed

[2022-05-13 11:28] #13948 closed

[2022-05-13 11:30] #13995 closed

[2022-05-13 12:51] jamescrdyer commented on #18642
Thanks for the response. I have generated using JHipster 7.8.1, and am still getting the same liquibase failure on the integration tests.

[2022-05-13 12:55] DanielFran commented on #18642
Thanks @jamescrdyer for the confirmation.
This seems duplicated with https://github.com/jhipster/generator-jhipster/issues/17449

Can you confirm that removing this dependency everything is OK?

[2022-05-13 13:11] CGarces commented on #13941
Sorry, I'm working on another projects right now.

[2022-05-13 13:14] DanielFran commented on #13941
Thanks, @CGarces for the confirmation.
I will close it for now. You can request to re-open it if needed.

[2022-05-13 13:14] #13941 closed

[2022-05-13 13:26] DanielFran commented on #14108
Close by https://github.com/jhipster/generator-jhipster/pull/17837

[2022-05-13 13:26] #14108 closed

[2022-05-13 13:29] #14200 closed

[2022-05-13 13:35] mshima commented on #13278
Let's keep this one open.
We should fix this, at least for v8.

[2022-05-13 13:38] DanielFran commented on #14309
@mshima Can you confirm this issue is fixed and issue can be closed?

[2022-05-13 13:44] #14489 closed

[2022-05-13 13:45] DanielFran commented on #14525
@kaidohallik Can you please confirm if issue persist or this can be closed?

[2022-05-13 14:01] DanielFran commented on #14616
@smaestri Can you confirm you are still available to contribute with a PR?

[2022-05-13 14:05] #14625 closed

[2022-05-13 14:12] DanielFran commented on #14765
Closed in favour of https://github.com/jhipster/generator-jhipster/issues/17850

[2022-05-13 14:12] #14765 closed

[2022-05-13 14:31] #14841 closed

[2022-05-13 14:36] DanielFran commented on #14873
@yacosta738 Can you confirm you are available to contribute with a PR?

[2022-05-13 14:59] DanielFran commented on #15222
Closed by https://github.com/jhipster/generator-jhipster/pull/18268

[2022-05-13 14:59] #15222 closed

[2022-05-13 15:12] emilpaw commented on #18588
Maybe it would be good to also drop Node.js version 14 support in v8.

The EOL of Node.js 14 is in April 2023. Considering v5 and v6 had a lifetime of around two years it's likely that JHipster v8's lifetime will be way beyond April 2023.

This means if Node.js 14 support is not dropped in v8 an unsupported version of Node.js will be supported by JHipster for quite some time.

[2022-05-13 15:18] mraible commented on #18588
We'll be required to use Java 17 for v8 if we include Spring Boot 3 (which we should, IMO). The closest Node release to Java 17's release appears to be Node 17, which has some nice synergy to it. 😉

[2022-05-13 15:29] emilpaw commented on #18588
@mraible
Unfortunately, Node 17 is not an LTS release. 🙁

[2022-05-13 15:32] DanielFran commented on #18588
We will need to stay at Node 16

[2022-05-13 15:37] tautera commented on #14309
I upgraded Jhipster to the latest version; 7.8.1, and the issue still occurs.  If I update package.json, as stated earlier, the test works.

[2022-05-13 15:40] mshima commented on #14309
@tautera can you add this file:
https://github.com/jhipster/generator-jhipster-native/blob/main/generators/server/templates/.npmrc

[2022-05-13 15:47] mraible opened #18650 "App with Elasticsearch doesn't work out-of-the-box with Heroku"
##### **Overview of the issue**

I'm updating 21-Points Health as part of the JHipster Mini-Book. When I deploy to Heroku, it fails to configure the Elasticsearch add-on. I experienced a [similar issue](https://github.com/jhipster/generator-jhipster/issues/7810) when I updated the book for JHipster v5.

When I run `jhipster heroku`, it does mention something about Elasticsearch in that "no new Ela

[2022-05-13 16:00] tautera commented on #14309
That does not work.  Seeing this with that change (I'm using Windows 11 btw...):

C:\source\blog>npm run e2e

/bin/bash: /mnt/c/Program Files/nodejs/npm: /bin/sh^M: bad interpreter: No such file or directory
npm ERR! code ELIFECYCLE
npm ERR! errno 126
npm ERR! blog@0.0.1-SNAPSHOT e2e: `npm run e2e:cypress:headed --`
npm ERR! Exit status 126
npm ERR!
npm ERR! Failed at the blog@0.0.1-SNAPSHOT e2e s

[2022-05-13 16:15] mshima commented on #14309
Or running `.npmw run e2e`

[2022-05-13 16:30] DanielFran commented on #15309
transition is still present in https://github.com/jhipster/generator-jhipster/blob/main/generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs#L108 and manage correctly the callback

[2022-05-13 16:30] #15309 closed

[2022-05-13 16:39] DanielFran commented on #15455
Closed by https://github.com/jhipster/generator-jhipster/pull/17615

[2022-05-13 16:39] #15455 closed

[2022-05-13 16:41] DanielFran commented on #15523
@SudharakaP any news?

[2022-05-13 17:17] DanielFran commented on #16498
@mraible @mshima Closing this issue since blueprint is now available ;)

[2022-05-13 17:17] tautera commented on #14309
Upgraded to 8.10.0, ran npm run e2e, ran npmw run e2e, same error

C:\source\blog>npm --version
8.10.0

C:\source\blog>npm run e2e

/usr/bin/env: ‘bash\r’: No such file or directory

C:\source\blog>npmw run e2e

/usr/bin/env: ‘bash\r’: No such file or directory