[2017-07-20 12:13] gmarziou commented on #6151
@batterista87 cross-posting to SO is not cool. It makes us duplicate effort and wasting time.

https://stackoverflow.com/questions/45209846/upgrade-a-jhipster-project-from-v4-6-1-to-4-6-2-fails

[2017-07-20 12:19] gmarziou commented on #6150
https://stackoverflow.com/questions/45208470/error-creating-bean-with-name-mongobee-defined-in-class-path-resource

[2017-07-20 12:20] gmarziou commented on #6151
https://stackoverflow.com/questions/45209846/upgrade-a-jhipster-project-from-v4-6-1-to-4-6-2-fails

[2017-07-20 12:47] jdubois commented on #6131
Well, @Tcharl is correct, then I've never seen anyone using `mvn install` or `mvn verify` for running integration tests. People expect to run `mvn test` and have all their tests run, including integration tests.
I also agree with @nicoraynaud and anyway we can't do a breaking change unless we release a new major release - and none is planned at the moment.
I'm sorry but this all look very complica

[2017-07-20 13:07] prashanthsun9 commented on #6150
I created that, anyway changing the guava version did not help, is there any open issue regarding this?

[2017-07-20 13:10] jdubois commented on #6150
@prashanthsun9 according to the guidelines, it's the person asking the question who should use the search engine to find if there's a related ticket already opened

Anyway, crossposting to SO isn't cool for other users, so let's keep this on SO.

[2017-07-20 13:14] Tcharl commented on #6131
May be I'm too perfectionist :-), and I perfectly understand to argument.
@jdubois , you're a lucky one working with smart guys: on my side, I've never seen a developper using mvn test, all I've seen use mvn clean install all the time, as the front one uses yarn install to launch their tests.
I think I'll make a module (keeping the jhipster convention) of this, as the PR is simple and can potentia

[2017-07-20 13:14] mpicciolli opened #6152 "Debug with vscode"
Hi !

How to debug jhipster project with vscode ?

[2017-07-20 13:15] jdubois commented on #6152
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-07-20 13:15] #6152 closed

[2017-07-20 13:16] jdubois commented on #6152
Sorry but this is not a bug.
Please use Stackoverflow.

[2017-07-20 13:39] alexsintoni opened #6153 "yarn run webpack:build:vendor not working"
##### **Overview of the issue**

I was following these steps to integrate PrimeNg to a clean app created by JHipster:
https://stackoverflow.com/questions/44162427/steps-to-integrate-primeng-with-jhipster

Everything went fine a part on the step to run the command:
`yarn run webpack:build:vendor`

which return the following error:
[code]

##### **Motivation for or Use Case**

At the moment I am tes

[2017-07-20 13:44] deepu105 commented on #6153
This was recently removed when we moved Angular out of Beta. please use `yarn webpack:build` instead

[2017-07-20 14:27] sendilkumarn commented on #6044
@deepu105 let me know once you have committed the code 👍 This is gonna be react-ful week 😝

[2017-07-20 14:39] jdubois commented on #6153
Closing as I think @deepu105 did the correct answer

[2017-07-20 14:39] #6153 closed

[2017-07-20 14:40] deepu105 commented on #6153
ah forgot to close it :)

[2017-07-20 19:52] bonsmik opened #6154 "Adding new language"
##### **Overview of the issue**

Documentation for adding new language missing steps (at least on webpack build)

##### **Motivation for or Use Case**

Tried to add language and changing to new language didn't work.

##### **Reproduce the error**

Follow the documentation to add new language for angular 2+

##### **Suggest a Fix**

New language must be added to webpack.common.js e.g.
[code]

#####

[2017-07-20 20:42] pascalgrimaud commented on #6154
The `webpack.common.js` file is automatically updated with this function:
https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base-private.js#L179-L198

That's why there is a `needle` here.

So I don't know where you have a problem for adding a new language.

[2017-07-20 20:51] pascalgrimaud commented on #6154
Ok understood.
It's for a specific language which is not supported? so yes, this part is missing.

Following the code [here](https://github.com/jhipster/generator-jhipster/blob/04b79da6993d88e101faf78efa0d858aa2ecf57e/generators/languages/index.js#L198-L204) :
[code]

[2017-07-21 01:25] sdoxsee commented on #6044
I'm brand new to react but have been playing with it this week and discovered create-react-app that, as I'm sure most of you are already familiar with, hides details (webpack, babel, etc) in a react-scripts dependency that is managed and updated. Feels like a spring boot dependency bom. I suppose with typescript we'd already have to "eject" but I do quite like delegating the auto updating of react

[2017-07-21 06:04] uyeliksiz opened #6155 "For Angular client, AlertService not working with different jhiPrefix values"
##### **Overview of the issue**

For angularX, Alert service is not running when a different value is set for jhiPrefix value in .yo-rc.json file. Errors, Warnings, Success messages does not appear.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

Replace all "jhi-alert", with <%=jhiPrefix%>-alert

##### **JHipster Version(s)*

[2017-07-21 06:28] #6154 closed

[2017-07-21 06:32] deepu105 commented on #6044
I know about the app and I have tried it as well. But I dont it will fit
our needs. Its easy to use for just getting a skeleton but after that you
have to fight it to do a lot of stuff based on our requirements. More than
that as we need to template stuff it doesn't make much sense to use that
just for dependency management. Anyway we will be using a lot more
dependencies as well. Also unlike Angu

[2017-07-21 06:33] deepu105 commented on #6155
Would you like to do a PR

On 21 Jul 2017 8:04 am, "uyeliksiz" <notifications@github.com> wrote:

[2017-07-21 06:55] wangerkun opened #6156 "docker to start jhipster registry"
##### **Overview of the issue**
I use docker to start jhipster registry .Docker starts successfully except the following
**Your JWT secret key is not set up, you will not be able to log into the JHipster.
Please read the documentation at https://jhipster.github.io/jhipster-registry/**
Visit the page and ask for login . When I enter user:admin and pwd:admin,but say that
**Failed to sign in! Please

[2017-07-21 07:04] PierreBesson commented on #6156
Yes there is the need to set the jhipster.security.authentication.jwt.secret property. The docs does mention that you need a correct jwt conf however it could be clearer. Normally the src/main/docker/jhipster-registry.yml should correctly configure it.

[2017-07-21 07:22] deepu105 commented on #6156
@PierreBesson could you update the docs please?

[2017-07-21 07:23] #6156 closed

[2017-07-21 07:39] PierreBesson commented on #6156
Will do.

[2017-07-21 08:34] wangerkun commented on #6156
However, I didn't find it in the docker container

[2017-07-21 08:35] wangerkun commented on #6156
@PierreBesson However, I didn't find it in the docker container ，There is only one war package in the container

[2017-07-21 10:43] egorlitvinenko commented on #4457
@jdubois

Similar
Error: https://pastebin.com/Eh20XXMX
Info: https://pastebin.com/SRCTbqMn
In jhipster's docker container.

[2017-07-21 11:21] gmarziou commented on #4457
Please don't use pastebin or file attachment for output of `jhipster info,` it has been made to be directly pasted into github issue.

[2017-07-21 11:24] gmarziou commented on #4457
More important @egorlitvinenko : don't post on an old and closed issue, please open a new one.

[2017-07-21 11:28] gmarziou commented on #4457
@egorlitvinenko : don't post on an old and closed issue, please open a new one.
Please don't use pastebin or file attachment for output of `jhipster info,` it has been formatted especially to be pasted into github issue.

[2017-07-21 18:45] marcelinobadin opened #6157 "K8s using ingress is not working on GKE - gateway keeps unhealthy"
##### **Overview of the issue**

My project is built using v4.6.2, microservices architecture and deployed using Kubernetes on Google Cloud (Container Engine - GKE).

GKE already has a ingress controller so there is no need to deploy a new one.

The problem is, the ingress configuration keep saying me that the gateway (microservice) is 'unhealthy' and because of that I keep getting 502 error when

[2017-07-21 20:09] xetys commented on #6157
Hey,

depending on the cluster size, it might be needed to increase the initialDelaySeconds from the liveness probe.

You should check the health of the gateway pods by looking into logs and registry registers.

For understanding, both probes have a default of 10s frequency and failure threshold of 3. So Your startup time must be less then `initialDelaySeconds` + 30s. Otherwise k8s will kill the p

[2017-07-21 20:16] ruddell commented on #5960
@mraible The headers when doing CRUD operations contain the microservice name, so the generated translations should be correct to have two app keys.

I couldn't reproduce the issue locally, the headers when creating an entity look like:
[code]

Closing since it seems to be the expected behavior and two of us couldn't reproduce.

[2017-07-21 20:16] #5960 closed

[2017-07-21 20:41] marcelinobadin commented on #6157
Thank you, I did it. I had to change the JHIPSTER_SLEEP to all the microservices came up without killing my cluster and because of that I did the setup accordingly, without it the liveness probe would kill everything (I have another issue with the horizontal pod autoscaling but it is for another time).

Apparently the problem is on the health check that ingress creates to the L7 load balancer( (it

[2017-07-21 22:08] marcelinobadin commented on #6157
I found a solution! On the gateway service, we are using type: ClusterIP, I had changed it to NodePort and it worked fine (after 3 days digging on this!).

[2017-07-22 10:19] jdubois opened #6159 "Angular 4 - prod build performance"
Doing a perf audit shows our Angular 4 prod build is slower and bigger than our AngularJS 1 prod build.
This comes from our main js bundle:
- it's very big (500kb) without GZipping (gzip works really well on it, which shows there's a problem !!)
- time spent executing it is too long (and that's because it's really big)

Opening it shows our compiled components in a definitely non efficient format:

[2017-07-22 17:46] rosefirefish commented on #3899
I am not sure if I am doing everything correctly, but, it seems that with 4.6.1 and 4.6.2, jhipster import-jdl does not add the microserviceName into the .EntityName file...

[2017-07-22 17:51] gmarziou commented on #3899
@rosefirefish please don't comment on a one year old closed  issue, please open a new one with required details

[2017-07-23 04:12] iconben opened #6161 "upgrade fail under windows"
##### **Overview of the issue**

I tried to upgrade my code to 4.6.2 but encountered error:

$ jhipster upgrade
Executing jhipster:upgrade
Options:
Welcome to the JHipster Upgrade Sub-Generator
This will upgrade your current application codebase to the latest JHipster version
Looking for latest generator-jhipster version...
New generator-jhipster version found: 4.6.2
Git repository detected
Checke

[2017-07-23 06:33] deepu105 commented on #6159
Julien ofcourse the bundle size would be more than ng1 as we have lot more
js code than ng1 in ng2, and the libraries now are huge as well. but
shouldn't be very drastically huge. When i checked last time it was descent
and loading was pretty fast. Ill check again

On Sat, 22 Jul 2017, 12:19 pm Julien Dubois, <notifications@github.com>
wrote:

[2017-07-23 06:37] deepu105 commented on #6161
Can you try to generate app with npm instead of yarn in Windows?

@gmarziou I remember we had a similar issue recently but I couldn't find
it, do you remember?

On Sun, 23 Jul 2017, 6:12 am Benjamin Qin, <notifications@github.com> wrote:

[2017-07-23 07:51] gmarziou commented on #6161
Could you try with `cmd.exe`? The simplest shell could help.

Few hints to help you debug this issue in your environment:

The error about `$` makes me think this about PATH variable with folders where you can find same script with 2 names: jhipster (bash) and jhipster.cmd (cmd.exe or PS1) or maybe another command than jhipster.

Sometimes I worked around this kind of issues by either:
- deleting

[2017-07-23 08:56] gmarziou commented on #6161
Nodejs doc has [specific instructions about executing Windows commands ](https://nodejs.org/api/child_process.html#child_process_spawning_bat_and_cmd_files_on_windows),

upgrade.js uses [shelljs.exec()](
https://github.com/jhipster/generator-jhipster/blob/40b5ef20520b62d84a4384d1f2351ccfbb0c859d/generators/upgrade/index.js#L81-L89) which exe runs everything through cmd.exe on Windows by default (s

[2017-07-23 10:04] gmarziou commented on #6161
@iconben could you try to reproduce with shelljs in verbose mode? Just edit `generator-jhipster\generators\upgrade\index.js` and set verbose mode:

[code]

I tried to reproduce but I have a more basic issue first about tabtab

I think we should always set shelljs in verbose mode, just compare the 2 outputs below:

<details>
<summary>shelljs in normal mode</summary>
<pre>
jhipster upgrade
Executing

[2017-07-23 13:40] gmarziou opened #6162 "JHipster should not install tabtab completions automatically"
##### **Overview of the issue**

JHipster should not install tabtab completions automatically, it should ask permission to the user.

##### **Motivation for or Use Case**

It's been a long time since I did run jhipster on Windows, in fact it was before jhipster cli was introduced and today I tried and I could not get it working.

One reason why Windows is a hard platform is because our users have

[2017-07-23 13:40] delkant commented on #6086
Hey @differentway I think this is awesome.

Can your version be accessible already?

[2017-07-23 13:55] pascalgrimaud commented on #6162
Although there is an error message, the generator-jhipster should be installed.
But, I agree with you @gmarziou, if tabtab causes trouble, we can try to propose a way to install it separately.

Anyway, [jhipster-oh-my-zsh](https://github.com/jhipster/jhipster-oh-my-zsh-plugin) is the best :stuck_out_tongue:

[2017-07-23 14:04] pascalgrimaud commented on #6161
Related to the discussion https://github.com/jhipster/generator-jhipster/issues/5883

I think we should reconsider to remove the upgrade sub generator, or at least, move to a specific project for people who want to maintain it.
Every new release of JHipster has new issues with this upgrade sub generator.

[2017-07-23 14:07] pascalgrimaud commented on #6157
@marcelinobadin @xetys : is it resolved here ? Or is there a need to PR ?

[2017-07-23 14:09] marcelinobadin commented on #6157
Needs a PR but before someone who has more knowledge on Kubernetes and tell that it is ok to move from ClusterIP to NodePort.

[2017-07-23 14:45] PierreBesson commented on #6157
Yes Marcelino, it seems using a nodePort is required to use the GKE ingress : https://stackoverflow.com/questions/37299646/are-ingress-working-with-clusterip-services
We should document this.

[2017-07-23 14:49] marcelinobadin commented on #6157
Great @PierreBesson, that's the answer, so no need for a PR. And to not let it pass, I saw you working on Kubernetes generator since the beginning and it become a great job! Congratulations! Nice work you have done.

[2017-07-23 14:57] mtdx opened #6163 "automatic update failled"
I'm trying to update a jhipster project from 4.6.1 to 4.6.2, the first strange issue is that the jhipster command is gone after running, yarn global upgrade generator-jhipster `-bash: jhipster: command not found` but also I can't update via `yarn jhipster upgrade` this is the error I get.

yarn jhipster v0.27.5
$ "/Users/user/jhipsterapp/node_modules/.bin/jhipster" "upgrade"
Executing jhipster:upg

[2017-07-23 15:14] gmarziou commented on #6162
Installation works fine but upgrade fails.

[2017-07-23 15:19] gmarziou commented on #6161
This sub generator is very important, personally I would prefer to keep it in ore project.
It's just that it's too silent for all it does so when it fails, users has no idea what went wrong.
This is why I proposed a verbose mode for shelljs, this way we know exactly what fails and user can reproduce by running failing manually to debug.

[2017-07-23 15:22] gmarziou commented on #6163
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-07-23 15:22] #6163 closed

[2017-07-23 15:24] gmarziou commented on #6163
Please provide the details we ask in issue template, we don't have any crystal ball to guess what's your setup. At least paste output of `yo jhipster info`

[2017-07-23 15:26] gmarziou commented on #6163
Please open a new issue and fill it up correctly, it's easy when you use  `jhipster info`

[2017-07-23 15:32] mraible commented on #6161
I like the sub-generator in core as well. I use it a a lot to upgrade sample apps w/o having to recreate them (or use a diff tool to manually upgrade).

When it works, it's an awesome feature! Maybe we should have some tests around it so we know when it breaks between upgrades. If that requires Windows hardware, or other things that cost $$, my company (Okta), is willing to sponsor.

Cheers,

Matt

[2017-07-23 15:36] jdubois commented on #6162
- we already had a similar issue with someone on Windows or Mac OS X who was upset we modified his .profile (that's what tabtab does to install autocompletion)
- Angular CLI has a specific command to install autocompletion

-> we could have a specific sub-generator that installs autocompletion

The only downside is that it goes against our "great developer experience" goal.

[2017-07-23 15:39] jdubois commented on #6161
Just as I wanted to have one of those Surface Pro laptop :-)
(Btw, Matt, I just did a photo for you, I'm tweeting this right now)

[2017-07-23 15:43] pascalgrimaud commented on #6133
I confirm the bug.

Just upgraded from `Dalston.RELEASE` to `Dalston.SR2`:
- the /management/refresh still doesn't work
- but the gateway is not deregistered

@ruddell : can you confirm ?

[2017-07-23 15:43] differentway commented on #6086
You can find a first version here : [generator-jhipster/couchbase](https://github.com/differentway/generator-jhipster/tree/couchbase).
For now it can generate a Couchbase monolithic app with JWT authentication only. It doesn't support entities for now, I'm working on it.
If you have any remarks please keep me in touch

[2017-07-23 15:49] iconben commented on #6161
Hi @deepu105, I had both yarn and npm installed and both have generator-jhipster at the begininng. As I didn't set up yarn global bin path environment then(I didn't complete yarn setup maybe because npm runs so far so good), I actually was using npm to upgrade my project, the error is the same (of course path of shelljs is different).

The above error message I pasted was after I removed generator

[2017-07-23 15:53] iconben commented on #6161
Hello @gmarziou , I just tried 'jhipster upgrade' with cmd.exe, same error:

Regenerating application with JHipster 4.6.2...
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: [31m[1mERROR![22m[39m Something went wrong while generating project! '$' is not recognized as an internal or external command,
operable program or batch file.

[2017-07-23 16:00] iconben commented on #6161
@gmarziou I tried shelljs in verbose mode, here is what I got:

$ jhipster upgrade
Executing jhipster:upgrade
Options:
Welcome to the JHipster Upgrade Sub-Generator
This will upgrade your current application codebase to the latest JHipster version
exec git --version { async: true, silent: true } (code) => {
            if (code !== 0) {
                this.warning('git is not found on your comput

[2017-07-23 16:07] mtdx commented on #6163
yarn, jhipster version, macos, and the error strack trace, don't see what's  else is relevant, in a upgrade failed context. The people here are so elitist.

[2017-07-23 16:08] iconben commented on #6161
Last time I had this issue was when I tried to upgrade from 4.5.4 to 4.5.6. I then manually executed the command that shelljs was trying to do (jhipster --with-entities --force --skip-install) and committed the jhipster-upgrade branch, then solved merge issues and merged to master. This time I think it should be something we have to fix.

Not sure if this help: when I type this in cmd/shell:
echo

[2017-07-23 16:52] gmarziou commented on #6161
Interesting, this line looks suspicious to me :

[code]

It can be expanded only in a unix shell and as shelljs.exec uses cmd.exe, it's normal that it fails
`$(yarn bin)/jhipster --with-entities --force --skip-install  ....`

So this bug affects all Windows users whatever shell they use.

The fix should be to use shelljs to execute `yarn bin` or `npm bin` and capture output to set generatorCommand

[2017-07-23 17:37] gmarziou commented on #6162
First great user experience is that it works ;)

[2017-07-23 17:51] gmarziou commented on #6162
could not find the issue with this user but I found this related issue: #6089

[2017-07-23 18:55] deepu105 commented on #6163
@mtdx I see you deleted your comment. I dont know what you meant, but we dont have time to waste on tickets with insufficient info.

[2017-07-23 18:58] mtdx commented on #6163
I managed to fix it, I uninstalled jhipster and all related stuff and installed it again and it worked after, no idea what happened that I lost the cli and the upgrade was crashing.

[2017-07-23 19:05] deepu105 commented on #6162
@gmarziou @jdubois @pascalgrimaud TabTab doesnt support windows as far as I know so we have few options to consider. (Not in any order)
1. We could just disable auto-completion support all together :(
2. We could ask user permission before installing TabTab (currently I set it to `auto`, there is also option to [prompt user](https://github.com/mklabs/node-tabtab#automatic-installation))
3. We coul

[2017-07-23 19:06] iconben commented on #6161
Please go ahead @gmarziou and thanks a lot 👍

[2017-07-23 20:12] delverdev commented on #6159
Did you have an idea to separate user and admin`s parts? Yes, perhaps there is no much code in the admin part, but some projects can have libraries that will be used only by admins (charts libraries, datatables etc.). It can slow users that don't need them. Also, some admin panel would be more convenient and productive (dropdowns take time, a vertical menu would be great). *-management pages have

[2017-07-23 20:31] PierreBesson commented on #6162
@deepu105, Personally I'm not a big fan of tabtab and it's approach to magically configure things (modifying personal conf files...). Although it always worked for me with nothing to do so it is still kinda cool...
I suggest we move to a different approach which is writing completion scripts ourselves and creating a new `completion` cli command. So running `jhipster completion bash` and `jhipster

[2017-07-23 20:45] #5733 closed

[2017-07-23 21:19] gmarziou commented on #6162
@deepu105 I'm not sure option 2 would work with upgrade, option 4 could work but it does not solve the other issues I mentioned.

I'm in favor of letting the user decide what to do with her/his files, like baking them up before running sub module, so I like @PierreBesson idea.

In  the same idea, I think the upgrade generator should warn the user that it's going to make some changes in her/his loc

[2017-07-23 21:24] ruddell commented on #6133
@pascalgrimaud The behavior of this issue changed with SR2, it seems partially fixed.

There is still a stacktrace, but it happens after the services "re-register" with Eureka.  Previously it happened before the "re-register" (causing them to disappear in Eureka).

[2017-07-23 21:27] pascalgrimaud commented on #6021
@dteleki : I tried to understand and reproduce the issue.
Everything seems to work fine on my side.
- create gateway ng1
- create microservice
- import jdl on both: gateway and micro
- start registry, gateway, micro
- play with entity book

Do you have additional info to reproduce? Full described steps, or better GitHub projects?

[2017-07-23 21:28] pascalgrimaud commented on #6133
@ruddell : yes exactly, still partially fixed with SR2 :(

[2017-07-23 21:36] deepu105 commented on #6044
@sendilkumarn I have committed initial version of TS + BS code. You need to enable sass to test it. I think there are some quirks with i18n and the header menu needs fixing, but feel free to hack on

[2017-07-23 21:37] deepu105 commented on #6044
my test config
[code]

[2017-07-23 21:38] deepu105 commented on #6044
@sendilkumarn also its mostly not templated yet so other options needs to be templated in and i18n needs to be handled. I'll come up with a solution for i18n

[2017-07-23 21:43] pascalgrimaud commented on #6044
@deepu105 : soon holidays for me but, I will try to add:
- Travis tests to a specific branch at https://github.com/hipster-labs/jhipster-travis-build but the builds will trigger every 24h
- `yarn test` too

[2017-07-23 21:46] deepu105 commented on #6162
@PierreBesson I like your idea but then the problem is it needs manual steps to make it work and hence mostly will be used only by us and other experienced people. I would atleast like to prompt the user to install completion during installation otherwise I'm afraid that no body will actually do it and use it. It will be like our fish/zsh plugins I guess its used only by our core team mostly (of c

[2017-07-24 00:09] gmarziou commented on #6161
Unfortunately, I am unable to run the upgrade process, it always fails because of tabtab even after I completely wiped out yarn's node_modules dir and re-installed node. I'm completely puzzled.

[2017-07-24 00:44] mirzaakhena opened #6165 "Fail on create entity jdl model when selecting Indonesian Language"
##### **Overview of the issue**

It cannot generate the entity model with generator jhipster:import-jdl only in Indonesia language

##### **Reproduce the error**

Create a regular jhipster project and include the Indonesian Language as i18n.
Then generate any entity model using jhipster:import-jdl

[code]

##### **Related issues**

This issue clearly because the generator can not found the node_mo

[2017-07-24 04:55] jdubois commented on #6159
Yes, but this is another issue

[2017-07-24 05:51] iconben commented on #6161
I changed line 82 from:

generatorCommand = this.clientPackageManager === 'yarn' ? '$(yarn bin)/jhipster' : '$(npm bin)/jhipster';

 to these two lines:

let generatorDir = this.clientPackageManager === 'yarn' ? shelljs.exec('yarn bin') : shelljs.exec('npm bin');
generatorCommand = generatorDir.replace('\n', '') + '/jhipster';

Now it works. Out put around these lines are:

......
Regenerating app

[2017-07-24 08:31] deepu105 commented on #6165
closed via PR #6164

[2017-07-24 08:31] #6165 closed

[2017-07-24 08:34] deepu105 commented on #6161
@iconben @gmarziou yes we need to add some tests for this. Its actually bit hard to test :(
@iconben could you do a PR since you are using shellJs its should work in all OS anyway we can test your PR

[2017-07-24 08:50] gmarziou commented on #6161
Great job @iconben

Does it mean that yarn link did not work for you?

@deepu105 what about having a `-v` flag for `jhipster` command to enable verbose mode?

[2017-07-24 10:37] iconben commented on #6161
Code was slightly changed to make eslint happy, please test/review, thanks.

@gmarziou I mean I didn't setup a generator development environment yet. Yarn link works for me.

[2017-07-24 12:59] survivant commented on #6044
I tried this morning, but I got this at the end

`ERROR in ./src/main/webapp/app/index.tsx
Module not found: Error: Can't resolve './config/translation' in 'C:\Data\worksp
ace_perso\github-forks\test-branch-jhreact\src\main\webapp\app'
 @ ./src/main/webapp/app/index.tsx 13:20-51
 @ multi react-hot-loader/patch ./src/main/webapp/app/index

ERROR in ./src/main/webapp/app/app.tsx
Module not found: Er

[2017-07-24 21:55] PierreBesson commented on #6102
Okay, so let's go along with this change. However this move from UDP to TCP is a breaking change for the Console, so we will need to release a v3 and warn users. This is a bit of work to test everything but I'm confident that using TCP is a good idea, even if only to be able to use encryption. Also both papertrail and the logstash appender seem to recommend TCP over UDP for log forwarding.
I will

[2017-07-24 22:15] gmarziou commented on #6102
@PierreBesson Pierre, do you think we could enable the 2 protocols on different ports in JHipster Console?

[2017-07-24 22:38] PierreBesson commented on #6102
@gmarziou, I don't see why not ! Looking at the do s seems to be supported (https://www.elastic.co/guide/en/logstash/5.4/configuration-file-structure.html). I will try it.

[2017-07-24 22:41] mraible commented on #5960
Sorry, I didn't make time to test this until now. I can confirm that it's fixed.

[2017-07-25 00:45] anjia0532 commented on #6102
@gmarziou +1

i angree with enable the two ports in the JHipster Console.

the input plugin like this
[code]

@PierreBesson this is my demo https://github.com/anjia0532/tcpappender/blob/master/README.md#start-application

[code]

[code]
![](https://raw.githubusercontent.com/anjia0532/tcpappender/master/snipaste20170715_230147.png)

[2017-07-25 12:28] abshkd commented on #5995
Should this be something that needs to be reported upstream?

@agoncal If it is hibernate related perhaps there is an issue out there you might have already encountered? it would be good to have a link to that for reference

[2017-07-25 13:09] Patresss opened #6169 "Running gradle application by IntellIj"
##### **Overview of the issue**

When I run application (jHipster) by command linie (gradlew) everything is working but when I try run application with IntellIJ (by button).  For this same error I can't run unit test in IDE.
My sample project with this error in github: https://github.com/Patresss/jHipster

##### **Motivation for or Use Case**

I want to run my application by IntellIj and run unit

[2017-07-25 13:48] jdubois commented on #6169
Have a look in the older tickets, this has already been answered several times.

[2017-07-25 13:56] Patresss commented on #6169
Yes, I looked in the older tickets but I haven't see a solutions for my problem. I only see solution for maven project, but I use gradle.

[2017-07-25 14:00] jdubois commented on #6169
Sorry I'm with my phone so it's hard to help: you need to use the "IDE" profile, as mentioned in the docs.
That should be the same for Gradle and Maven.

[2017-07-25 14:15] Patresss commented on #6169
Thank You, but in [documentations](https://jhipster.github.io/using-dtos/) I can see only information about IDE profile for Maven:

[2017-07-25 15:46] jdubois commented on #6169
Oh sorry, normally it works the same for both... I can't help you right now, but I'm sure others will!

[2017-07-25 16:05] atomfrede commented on #6169
I am also only on mobile until Sunday but usually idea detects mapstruct or
other annotation processors quite well.

Am 25.07.2017 5:55 nachm. schrieb "Julien Dubois" <notifications@github.com

[2017-07-25 17:49] catalindumitrache76 opened #6170 "Mapper Bean not found when adding new entity with a .jh file."
##### **Overview of the issue**

I created a new monolythic app, and when I tried adding a new entity with a productos_fitosanitarios.jh file and the command "jhipster import-jdl productos_fitosanitarios.jh" it would import all the changes (I selected the option "a, override all files") but the app would not start due to the following error message:

2017-07-25 19:12:35.537  WARN 14472 --- [  rest

[2017-07-25 17:56] jdubois commented on #6170
Use the search engine, this has been answered many times

[2017-07-25 18:07] atomfrede commented on #6170
Do you start the app via cli or via idea?

Am 25.07.2017 7:52 nachm. schrieb "Catalin Dumitrache" <
notifications@github.com>:

[2017-07-25 18:13] catalindumitrache76 commented on #6170
@jdubois You were right, the problem was that I thought Idea had the “Compile on save” feature enabled. Sorry, my bad. Actually, @felipebcs on this comment gave me the clue: "If anyone land on this page looking for a possible solution:
I had a similar problem using Maven and Eclipse. At the end I realized that I hadn't read well the bottom of the "Configuring your IDE" page, which says about MapSt

[2017-07-25 18:14] deepu105 commented on #6161
@gmarziou we already use -v for version. we also have `--debug` which prints more debug info and may be we could use that, or we can also add `--verbose` flag if you like.
In the generator I also added `--debug` flag support to do this, so you can add debug logs when `this.debugEnabled` is true

[2017-07-25 18:19] jdubois commented on #6170
Well, our documentation isn't good enough... But this is also why this is still in Beta, this isn't good enough.

[2017-07-25 18:24] #6170 closed

[2017-07-25 18:39] gmarziou commented on #6161
The more I learn, the more I realize how much I don't know ;)

Hopefully your book will surely help.

[2017-07-25 19:11] deepu105 commented on #6161
@gmarziou I'm bad at documenting stuff :smile_cat:

[2017-07-25 19:16] deepu105 commented on #6161
@gmarziou here is a sample usage https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base.js#L1904
I wanted to add such debug statements in other places as well but didn't get around it

[2017-07-25 19:46] gmarziou commented on #6161
Thanks, I will use it on the upgrade sub generator.

[2017-07-25 19:53] ruddell commented on #6161
The upgrade sugbenerator already has a `--verbose` flag ([docs](https://jhipster.github.io/upgrading-an-application/)) which outputs all of the shelljs commands, maybe we should merge that with the `--debug` flag

[2017-07-25 20:17] gmarziou commented on #6161
yes good idea, I also think we should give an advice to user when an error is thrown during upgrade, something like "please run the same command with --verbose flag"

[2017-07-26 02:54] oaj commented on #5883
I have been working on a project for more than a year with jhipster 3.10.0 and I'm ready to go to production. I tried to upgrade to the latest version. And I too found that it did'nt work. Before I tried to upgrade I zipped the directory with the project. I unzipped and now the project wont even build -
---------------------------------
xxxxxxx@x53s-mint ~/projects/colony $ ./gradlew
:cleanResourc

[2017-07-26 05:02] iconben commented on #6161
Agree with this idea. It will definitely help when someone needs to troubleshoot (or at least to locate) errors.

[2017-07-26 05:14] tientq commented on #5883
@oaj could you follow the issue template and give more information. I would like to help.

[2017-07-26 05:39] pascalgrimaud commented on #5883
3.10.0 to 4.6.2 is a big big jump...

[2017-07-26 05:50] PierreBesson commented on #5883
@oaj When you zip/unzip files you lose permissions on Linux so that might be the cause of the issue. Try running `yarn` and `yarn add -f node-sass`. But please next time use stack overflow for those kind of requests.

[2017-07-26 06:40] oaj commented on #5883
@PierreBesson - You nailed it, now I can build the 3.10.0 again -  Thank you very much. Also thanks to @tientq for your willingness to help out.
@pascalgrimaud - I know - I was focused on the coding all the time. I actually spend a few days resolving the merge conflicts - even though the building of the dependencies failed. The two days of works is saved and I think I can us it for a manual upgrad

[2017-07-26 06:43] pascalgrimaud commented on #5883
@oaj : yes, manually upgrade is better, because the 4.0.0 introduced some breaking changes for you:
- JHipster server side library
- constructor based injection
See details here: https://jhipster.github.io/2017/02/02/jhipster-release-4.0.0.html

[2017-07-26 09:02] sendilkumarn commented on #6044
@deepu105 I have moved few fixes there.

@survivant the errors that you have mentioned should disappear now.

[2017-07-26 13:25] deepu105 commented on #6044
@sendilkumarn great thanks. Feel free to take up the next task :smile:

[2017-07-26 13:26] deepu105 commented on #6044
I have sample unit tests, will commit those when I find time

[2017-07-26 14:59] PierreBesson commented on #6102
@anjia0532, we can use the same port for both UDP et TCP, it doesn't cause any issue for the server :smile:. So let's keep using port 5000.

[2017-07-26 15:12] janpetryk commented on #2505
Is it possible to create yeoman Kotlin generator to replace the default Java based?

[2017-07-26 15:15] mraible commented on #2505
The @jhipster/hipsters team doesn't have any plans to add a new language for the backend code. It's a lot of work, with not much reward. Also, we'd have to change the name to KHipster if we did. 😉

You're more than welcome to create a module that replaces the Java code with Kotlin. https://jhipster.github.io/modules/creating-a-module/

[2017-07-26 15:27] Patresss commented on #6169
Finally, I found a solution! I just add this in my build.gradle:

    plugins {
        id 'net.ltgt.apt' version '0.9'
    }

    apply plugin: 'idea'
    apply plugin: "net.ltgt.apt"

The problem was with annotation processors (from mapstruct).

[2017-07-26 15:42] atomfrede commented on #6169
Great. Looks reasonable. Can you do a PR?

[2017-07-26 15:52] gmarziou commented on #6169
Knowing nothing about gradle, I wonder whether this could cause problems to eclipse users

[2017-07-26 16:18] atomfrede commented on #6169
Can't check it right now but usually these plugins are used by the ide
integrations and not part of the default tasks. Don't we have both plugins
already in our config? Idea and eclipse?

Am 26.07.2017 5:52 nachm. schrieb "Gaël Marziou" <notifications@github.com>:

[2017-07-26 16:57] amr commented on #2505
You could also just generate your JHipster project, then use the IDE to convert it to Kotlin. The IDE is supposed to be very good at that.

[2017-07-26 20:39] #6169 closed

[2017-07-26 21:03] #6161 closed

[2017-07-26 21:17] gmarziou commented on #6162
Maybe a slight variation of @PierreBesson's idea: we could a have a new sub generator dedicated to all  potential helpers (same as what ci-cd does in supporting several tools) and ask a question in the main generator: do you want to improve your development environment?
It is vague enough to include shell completion, IDEs, editors....

I have thought of naming it: "environment", "boost" or "produc

[2017-07-26 21:46] PierreBesson commented on #6162
Maybe we can just print instructions to setup completion after the generator install. If it is just a matter of adding one line to .bashrc/.zshrc I'm sure many people will do it.
We can also propose to install it automatically but we will need to code something for shell detection...

I'm currently hacking on some auto complete scripts... Currently my main issue with our current auto complete is t

[2017-07-26 21:50] dapperdanman opened #6173 "AuthorizedFeignClient not working between microservices with @Secured"
##### **Overview of the issue**

I followed the documentation on the website for using Microservices with UAA, and tried to write some test code to have one microservice call another using the `AuthorizedFeignClient`. It works OK until I protect a given REST method on a microservice with `@Secured` annotations. I now get a server 500 error with a stack trace saying the REST call is unauthorized.

[2017-07-26 22:07] PierreBesson commented on #6173
Thanks for the well written report with demo project.
Ping @xetys.

[2017-07-27 00:28] xetys commented on #6173
first point here is, `@Secured` is used to be in conjunction with roles, while authorized Feign clients are using client credential based clients, which currently only have scopes.

The other point is, that indeed `@Secured("ADMIN")` doesn't work, while `@PreAuthorize("hasRole('ROLE_ADMIN')")` does work. This is a bug from Spring security.

[2017-07-27 01:18] xetys commented on #6173
p.s.

try `@PreAuthorize("authenticated()")` instead of `@Secured`

[2017-07-27 04:33] GoogleKitty opened #6174 "666"
* **Overview of the request**

* **Motivation for or Use Case**

* **Browsers and Operating System**

* **Related issues**

* **Suggest a Fix**

[2017-07-27 04:57] jdubois commented on #6174
Thanks for wasting our time...

[2017-07-27 04:57] #6174 closed

[2017-07-27 08:31] anjia0532 commented on #6102
@PierreBesson yes, you r right. we can have both UDP and TCP requests on same port ,because each request is identified by a quintuple contained by source IP ,Destination IP, Source Port, Destination Port, PROTOCOL(as protocol can be TCP or UDP).

[2017-07-27 09:27] johnlamey commented on #5833
@deepu105 will html5 mode improvement be included in next release ?

[2017-07-27 09:30] deepu105 commented on #5833
@johnlamey no body is working on it so no

[2017-07-27 11:01] aleris commented on #5833
I did this for an internal project. It was very simple, just removed `{ useHash: true }` from some `RouterModule.forRoot` calls. It seems to be working OK for now for entities, administration, etc. I can make a PR for the change but maybe someone can point out why `useHash: true` was used in the first place, maybe I am missing something?

[2017-07-27 11:13] gmarziou commented on #5833
I guess you are missing deep linking feature.

[2017-07-27 11:59] aleris commented on #5833
@gmarziou deep linking is dependent on deployment server. For dev is as simple as adding `historyApiFallback: true` in `devServer` option as webback devserver already has support for redirect to index.html.
Do you know of any other thing we should take care of?

[2017-07-27 13:25] gmarziou commented on #5833
No sure I understand your point, you have a solution for dev server but there is still some work to do for the spring boot app, especially on the gateway.

[2017-07-27 14:13] aleris commented on #5833
I see. There is no proper way to differentiate client paths from other paths (e.g. API) because there is nothing inherent to differentiate them. Except maybe to make a list but this will have to be maintained. Might a simpler approach like letting client handle any 404 errors might work? So the server will redirect (server side redirect) any 404 to index.html and the angular side will handle any k

[2017-07-27 14:35] #6102 closed

[2017-07-27 15:41] dapperdanman commented on #6173
What username/credentials are the authorized Feign clients using? jhipster.security.client-authorization.client-id=internal?

[2017-07-27 16:04] dapperdanman commented on #6173
Also, I would prefer that the microservice-to-microservice connection be done on behalf of the user making the original request on microservice1. Should I continue to use a Feign client, or use another technique (RestTemplate?)

[2017-07-27 16:54] PierreBesson commented on #6157
Thank you, but really all the credit for getting k8s out of beta should go to @xetys and @srinivasa-vasu.
I'm closing this issue and will await your PR to the docs.

[2017-07-27 16:54] #6157 closed

[2017-07-27 16:57] cbornet commented on #6173
@dapperdanman you should be able to relay the token with a Feign request interceptor from your OAuth2ClientContext

[2017-07-27 17:16] freemanpolys opened #6176 "Update entity using sub-generator break liquibase checksum"
##### **Overview of the issue**
The jdl sub-generator update liquibase xxx_added_entity_zzzz.xml file when changing entity field type. This breaks liquibase versioning checksum so database update fails.
[code]

##### **Motivation for or Use Case**
The db need to be deleted

##### **Reproduce the error**

Create jdl entity, import it with the sub-generator. Update one field in the jdl, use the sub-

[2017-07-27 17:19] jdubois commented on #6176
Did you read the documentation? Once it's generated you can use the Maven Liquibase goal.
If you re-generate, nothing is magical.

[2017-07-27 17:26] pascalgrimaud commented on #6176
Related to this ticket: https://github.com/jhipster/generator-jhipster/issues/5954
@gimoh already started the work here: https://github.com/jhipster/generator-jhipster/pull/6016

[2017-07-27 17:26] #6176 closed

[2017-07-27 17:50] freemanpolys commented on #6176
Great.
Good job guys!

[2017-07-27 17:54] dapperdanman commented on #6173
@xetys I tried using @PreAuthorize and I couldn't get it to work. See my https://github.com/dapperdanman/MyDemoMicroservice2 demo project.

[2017-07-27 20:45] gmarziou commented on #5833
In the servlet filter code I posted in [my comment](https://github.com/jhipster/generator-jhipster/issues/4794#issuecomment-304097246), I was looking at GET requests only and using a regexp for URL matching.

Redirection on 404 error is something that could work most of the time.
There could be still some URL conflicts.

For the gateway, I thought of 2 approaches:
1. using list of routes fetched f

[2017-07-27 22:27] playground commented on #5186
Getting the same error.  ie11 object doesn't support property or method 'assign'

[2017-07-28 01:05] arthurvernon commented on #6030
I have hit a very similar problem with jhipster/yarn on Windows. Very easy to reproduce...
On a Windows 10 box, follow the recommended installation instructions for Jhipster using Yarn.
Do a git init, commit code and then try and run jhipster upgrade --force.
There is nothing to upgrade with a fresh installation, but this fails...

Error: ERROR! Something went wrong while generating project! '$' i

[2017-07-28 02:51] oaj commented on #5883
I did a manual upgrade according to the release notes, without upgrading my entities at first. And I let 'jhipster' overwrite everything. When i ran ./gradlew I got 7 compile errors in the files under /config

`amfibia@x53s-mint ~/projects/colony $ ./gradlew

/home/amfibia/projects/colony/src/main/java/net/amfibia/colony/config/SecurityConfiguration.java:67: error: reference to AjaxAuthenticationS

[2017-07-28 08:11] gmarziou commented on #6030
Thanks @arthurvernon  but this has been reported as #6161 and has been fixed, ti will part of next patch release and bug affected both npm and yarn.

[2017-07-28 08:14] gmarziou commented on #5186
@avoliva and @playground please don't comment on an old closed issue, it doesn't help at all. Please open a new issue with all required details.

[2017-07-28 11:36] Steven-Garcia opened #6178 "Migration/Usage docs"
##### **Overview of the issue**

  When using Jhipster we know we're facing top level development techniques and cutting edge technologies, however, some of the features are extremely silent and we can't debug on them, so leaves the solution solving to developers with a great level of expertise in some areas.

  What makes Jhipster great for me is how fast you can build an extremely cool app, but

[2017-07-28 12:49] dapperdanman commented on #6173
@cbornet I'm new to Spring and JHipster, so I don't know how to do what you suggest with the request interceptor. Would you be willing to make the changes in my project on Github, or make a pull request?

[2017-07-28 15:25] anilbb23a commented on #4162
I am trying to deploy jhipster monolithic app on the Google App Engine (Flex and Standard env).  Getting errors
Error: Server Error
The server encountered a temporary error and could not complete your request.
Please try again in 30 seconds.

**Can someone please share the steps** ?

[2017-07-28 16:03] jdubois commented on #4162
This cannot work yet, GAE is only çompatible with the latest Spring Boot release.

[2017-07-28 16:04] deepu105 commented on #6173
This doesn't seem like a bug or feature request to me. @PierreBesson @xetys @cbornet please reopen if you think otherwise

[2017-07-28 16:04] #6173 closed

[2017-07-28 18:17] deepu105 commented on #6178
I hope you are talking about migrating a JHipster app with AngularJS to JHipster app with Angular?
I agree there is no much documentation on this, but then I dont think its very difficult. What I would personally do If I have to do this would be below

1. Create a new branch for migration
2. Run `rm -rf *` (This won't delete the .folders and .files, that's ok as they are needed)
3. Open the `.yo-r

[2017-07-28 18:17] #6178 closed

[2017-07-28 21:53] Steven-Garcia commented on #6178
This is genius @deepu105 , what you consider easy is something I would of never thought about in 100 years, I will definitely have a go at these steps and I'll be more than happy to share results/further steps I may need to take with you if you believe they could be useful to add to any docs

  Again thank you for your time and guidance

[2017-07-29 05:39] dapperdanman commented on #6173
I'm not sure what is is either, but the code generated by JHipster does not seem to work for Role based access for URL's. Maybe it is a Spring bug or not I don't know. I don't know enough about Spring yet to work around the issue or offer a suggestion.

In my own investigations, I can't figure out how to use plain RestTemplate's either. My current plan is to go back to a pure JWT solution and try

[2017-07-29 10:03] JakariaBlaine opened #6179 "Can't remove the hash(#) from the Application's Url"
##### **Overview of the issue**

In `webapp/app/home/home.module.ts` file, if I update the `useHash` to false, the hash(#) symbol in the application's url still stays there.
[code]
##### **Suggest a Fix**

I don't know what is causing this error.

##### **JHipster Version(s)**

JHipster version is - 4.6.1

##### **JHipster configuration**

[code]

[2017-07-29 10:05] jdubois commented on #6179
Please use the search engine - this has even been discussed last week.
Short answer: this hasn't been done yet, on purpose.

[2017-07-29 10:05] #6179 closed

[2017-07-29 13:41] jdubois commented on #5833
Yes let's do a fixed route.

Le 27 juil. 2017 10:45 PM, "Gaël Marziou" <notifications@github.com> a
écrit :

[2017-07-29 16:08] deepu105 commented on #6159
@jdubois lets track this in #5833 I'll add a line item there

[2017-07-29 16:08] #6159 closed

[2017-07-29 16:10] deepu105 commented on #6159
@jdubois also what did you mean by `Opening it shows our compiled components in a definitely non efficient format: it works, but it's big and slow.`?

[2017-07-29 16:12] deepu105 commented on #6126
@ygokirmak I couldnt reproduce this so I'm sure its some issue with your config. Anyways if you want to PR your suggestion its fine as I believe it wont break anything

[2017-07-29 16:14] deepu105 commented on #5754
@jdubois are we still doing this?

[2017-07-29 16:16] deepu105 commented on #5884
since this works fine and changing to observable is more of an aesthetic thing, I'm closing the issue. I'll add it as an item for improvement

[2017-07-29 16:16] #5884 closed

[2017-07-29 16:16] deepu105 commented on #5884
@santoshkt you are welcome to do PR still

[2017-07-29 16:18] deepu105 commented on #6021
No information provided after 6 days and not reproducible, hence closing

[2017-07-29 16:18] #6021 closed

[2017-07-29 16:20] deepu105 commented on #6050
closing this as there is no activity here. @stevehouel please let me know if you want to keep it open.

[2017-07-29 16:20] #6050 closed

[2017-07-29 18:51] jdubois commented on #5754
No, not currently.

- I have something that works fine for me
- But it's really hard to transform this into a template, and I'm not sure everybody will agree

-> I plan to write some documentation on this first (it's really easy to do, as that was planned from the start), and then see how we could industrialize it

[2017-07-29 18:57] jdubois commented on #6159
If you open up the "main.js", you'll see the generated code is really verbose, here's a screenshot below.
I guess there's an issue in the aot configuration.
This is why the file is so big, gets compressed so well (lots of duplicate stuff in it), and why the "scripting" performance of our prod build is so bad.

<img width="1440" alt="screenshot 2017-07-21 14 50 50" src="https://user-images.githubus

[2017-07-29 19:31] deepu105 commented on #6159
When I tested the prod profile I didn't find its performance bad, and yes
the generated code is verbose due to AOT, but its minified. I assume your
browser formatted it. Anyway let me check again

On Sat, 29 Jul 2017, 8:57 pm Julien Dubois, <notifications@github.com>
wrote:

[2017-07-29 19:34] jdubois commented on #6159
yes I clicked on the `{}` icon to format it, still it isn't minified correctly, and it's really bad. It should be 20-30kb only

[2017-07-29 19:44] deepu105 commented on #6159
Ok ill check this tomorrow

On Sat, 29 Jul 2017, 9:35 pm Julien Dubois, <notifications@github.com>
wrote:

[2017-07-30 07:06] rosefirefish commented on #5752
Um...I think my question may relevant to this one...I want to set the expire time for the token on the uaa architect, how can I do it? Now, the token just keep working without need of refresh, one can get access to login page as long as the browser tab is open...
I have UAA server with jhipster version 4.6.2, and gateway server with version 4.6.2 too. I tried to read the 'UaaConfiguration.java', d

[2017-07-30 08:02] atomfrede commented on #6159
I need to check with the current configuration but during beta phase I used to get "Script not responding" on my mobile (which is not high end but also not low end), which was quite suprising to me as we don't have that much angular code. An loading on a typical german cellular took some time, but need to check with the current configuraiton again.

[2017-07-30 08:04] jdubois commented on #6159
It takes 1,5 seconds on my high-end Macbook Pro, so I wouldn't be surprised it doesn't work well on your phone @atomfrede - I'm convinced we have an issue here

[2017-07-30 09:31] Akuka commented on #6072
Sorry, I have a sensitive information there, cant share.
Please re-open this issue, I will do a PR.

The problem is the wrong pattern that used for set up the time ("hh" instead "HH")
In addition, there is no ability to edit the seconds, so I will also add "ss" to the pattern.
This is how the pattern should look like: yyyy-MM-ddTHH:mm:ss

[2017-07-30 09:58] pascalgrimaud commented on #6072
Thx for your PR, but you don't need to provide information on your real project.
You can simply generate a new one, then provide information about this new one: this is for reproducing the error on our side and confirm the issue.

[2017-07-30 10:12] Akuka commented on #6072
There is nothing special with my entities.
You can reproduce it with any entity with a ZonedDateTime field.

Just try to edit and save (even without change) a timestamp that is "PM", and see yourself how it will change to "AM".

This is because the time display on 12H pattern and not 24H

[2017-07-30 11:10] #6155 closed

[2017-07-31 07:20] schezwansoftware opened #6183 "How can I implement OAuth2.0 with grant_type=client_credentials in Jhipster"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [x] Checking this box is mandatory (this

[2017-07-31 08:49] deepu105 commented on #6183
Oauth is supported out of the box by JHipster check the documentation
This is not a bug or feature request and hence this is not the correct forum for this.
Please use Stack overflow for this. Tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster) and someone will help you out there.

This helps us to keep issue tracker clean. Also stack overflow will give your query

[2017-07-31 08:49] #6183 closed

[2017-07-31 10:54] deepu105 commented on #6131
closing as the PR is closed without merge.

[2017-07-31 10:54] #6131 closed

[2017-07-31 14:10] tommynicoletti opened #6184 "Mongobee fails due to guava method signature changed"
##### **Overview of the issue**

Error creating bean with name 'mongobee', no such method iterator(). because com.google.guava dependency is on version 18 and method _iterator_ does not exist.

##### **Motivation for or Use Case**

https://stackoverflow.com/questions/45208470/error-creating-bean-with-name-mongobee-defined-in-class-path-resource/45211323

##### **Suggest a Fix**

Update dependency

[2017-07-31 14:56] jdubois commented on #6184
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-07-31 17:35] gmarziou commented on #6184
Please paste `jhipster info` output so that we can reproduce.

[2017-07-31 18:01] deepu105 commented on #6159
Ok I made some tests. here are the results. I generated the same config with both angular and angularx and run them in prod mode. So yes AngularX performance is not better than AngulaJS as per this (But its not that bad IMO, but could have been better). I'll try to see if something can be configured in webpack to reduce bundle size

My laptop config is below for ref
![image](https://user-images.gi

[2017-07-31 18:05] deepu105 commented on #6159
I also tried both apps on my Samsung Galaxy s7 and there wasn't any noticeable performance difference. They loaded up pretty fast

[2017-07-31 19:51] Metavirulent commented on #5752
I'm currently on vacation in le Var (been evacuated from wood fire). I'll look into it as soon as I'll be vack.

[2017-07-31 21:08] deepu105 commented on #6159
Look at my PR https://github.com/jhipster/generator-jhipster/pull/6185

## Asset loading (one image is not generated)
![image](https://user-images.githubusercontent.com/1107223/28798507-019cbdc8-7645-11e7-95ba-55e4d0d89eab.png)

## Performance
![image](https://user-images.githubusercontent.com/1107223/28798535-11118fb8-7645-11e7-80e2-a80fe6debf02.png)

## minified assets
![image](https://user-imag

[2017-07-31 21:35] deepu105 commented on #6159
Also please note that we will never get bundle size similar to ng1 as the amount of code in Angular2 is significantly higher (almost double) due to below reasons hence I guess there is no point in comparing the bundle size here. Performance IMO is similar in both
- Angular2+ has more code in forms of decorators and stuff
- There are more libraries and their dependencies here than the flat bower st

[2017-08-01 03:36] dllongo opened #6186 "aws beanstalk http 404"
##### **Overview of the issue**
I generate an app using latest version of jhipster and deploy on aws elastic beanstalk using default java config, accessing the url result on http 404, api request works fine.
Running the prod profile on my machine everything works fine.

log of application when access '/'

https://pastebin.com/U2FrvPrp

nginx log:
`189.54.144.44 - - [01/Aug/2017:02:47:29 +0000] "GE

[2017-08-01 08:58] tommynicoletti commented on #6184
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "it.eng.survant",
      "nativeLanguage": "en"
    },
    "jhipsterVe

[2017-08-01 09:16] mr2tkoollove opened #6187 "cant logout when changed password"
step 1: login with account admin/admin
step 2: open private mode and change password
step 3: comeback to first tab and F5 refresh page -> login success?

[2017-08-01 10:06] Tcharl commented on #6173
I maybe wrong, but [this article](https://jmnarloch.wordpress.com/2015/10/14/spring-cloud-feign-oauth2-authentication/) could help

[2017-08-01 13:54] gmarziou commented on #6184
OK, I  have reproduced the bug in 4.6.2

[2017-08-01 13:58] gmarziou commented on #6184
@tommynicoletti would you want to submit a pull request?

[2017-08-01 13:58] gmarziou commented on #6187
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-01 13:58] #6187 closed

[2017-08-01 14:52] tommynicoletti commented on #6184
no

[2017-08-01 17:46] gmarziou commented on #6184
OK thank you.

[2017-08-01 17:49] gmarziou commented on #6184
Why?

[2017-08-01 19:13] gmarziou commented on #6184
Strangely, this does not happen with maven only with gradle.
As I don't use neither mongodb nor gradle and as reporter does not seem to be interested, I'm tempted to put this on hold until I have more time.

[2017-08-01 19:34] atomfrede commented on #6184
I pinned version of guava to 18 as another method was removed in 19 and up. When I checked maven it resolved to 18 too. Can check it during the week again.

[2017-08-01 21:40] gmarziou commented on #6184
I just ran `gradlew dependencies` and it showed guava is referenced 162 times in 7 different versions: 14.0.1, 15.0, 16.0, 16.0.1, 18.0, 19.0 and 20.0 !!!! It reminds me of managing commons-logging dep many years ago. Fortunately, our code does not depend on it directly, so we're not part of the problem ;)

[2017-08-02 03:26] BreadKid opened #6188 "I can not remove jhipster"
yarn global remove jhipster@4.6.1
yarn global v0.24.6
[1/2] Removing module jhipster@4.6.1...
error This module isn't specified in a manifest.
info Visit https://yarnpkg.com/en/docs/cli/global for documentation about this command.

[2017-08-02 04:08] gmarziou commented on #6188
The package is `generator-jhipster` not `jhipster`

[2017-08-02 04:08] gmarziou commented on #6188
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-02 04:08] #6188 closed

[2017-08-02 04:21] gmarziou commented on #6186
Have you tried to get a static resource (image, css, index.html) rather than only `/`?

[2017-08-02 05:14] anilbb23a commented on #4162
We are using latest jhipster which uses Spring 1.5.4.RELEASE.
@eosimosu : Hi, How did you achieve it? Please share the steps.

[2017-08-02 06:21] SheikhZayed opened #6189 "Blank Screen after deployed to Heroku"
I have created a simple app with one entity in jhipster,which works fine in my local machine.After deploying it to heroku I just get a blank screen without any contents.though the title of the page and favicon gets displayed properly.
This is my Heroku App
https://tool-box-api.herokuapp.com/

Heroku logs are normal and doesnt show any error message,since the app is up and running .. please look in

[2017-08-02 06:41] pascalgrimaud commented on #6189
Really hard to help with only these infos.

Can you post (check if there are personnal information before posting here):
- all your stacktrace when using Heroku generator
- all heroku logs

As you used MySQL, see the comment [here](https://github.com/jhipster/generator-jhipster/issues/5510#issuecomment-290230397) :

Did you add this?

[2017-08-02 06:46] SheikhZayed commented on #6189
@pascalgrimaud I have my credit card verified by heroku and have other spring boot rest api's running with them..what more info do you need,so that i can help you with this..?

[2017-08-02 07:40] deepu105 commented on #6189
Provide the logs from Jhipster heroku command. It should have build your app with prod profile successfully

[2017-08-02 07:50] SheikhZayed commented on #6189
@deepu105 I had an issue deploying with "jhipster heroku" command which throwed me "java.lang.RuntimeException: Could not get API key! Please install the toolbelt and login with `heroku login` or set the HEROKU_API_KEY environment variable."
after a  quick google search on this,i came to know that this is a bug on heroku ..

so I have deployed the app directly from the dashboard by connecting it t

[2017-08-02 07:53] deepu105 commented on #6189
Ok I didn't get it. It works for us, so if you think yiu are facing some heroku bug then ill close this as there is nothing we can do here

[2017-08-02 07:53] #6189 closed

[2017-08-02 08:07] eosimosu commented on #4162
@khalilj Any reasons you don't want to use kubernetes ? I got it to work on App Engine with only Docker but I only use Kubernetes now.

[2017-08-02 08:07] SheikhZayed commented on #6189
:+1:

[2017-08-02 08:28] pascalgrimaud commented on #6189
If you launch in local:
- be sure you are logged to Heroku, with `heroku login`

If you want to deploy with Travis or another continuous integration tool:
- be sure the HEROKU_API_KEY is set (see https://jhipster.github.io/setting-up-ci/)

[2017-08-02 08:35] SheikhZayed commented on #6189
@pascalgrimaud logged in with heroku,still it fails.As of now no CI tools

[2017-08-02 11:58] bbbenja opened #6190 "If user is already logged in, navbar show unauthenticated menu entries on refresh on route that does not need specific authorities"
##### **Overview of the issue**

If user is already logged in, navbar show unauthenticated menu entries on refresh on route that does not need specific authorities

In `UserRouteAccessService`, if no `authorities`, `checkLogin` is not called, so `authenticated` field is not updated in `Principal`

##### **Motivation for or Use Case**

Create a new route accessible by everyone, log in with your use

[2017-08-02 12:13] khalilj commented on #4162
@eosimosu it's requires much less OPS to work with GAE.

[2017-08-02 15:32] marcelinobadin commented on #6157
Thank you @xetys and @srinivasa-vasu for your excellent work on the kubernetes generator!

My ingress configuration also had to add:

annotations:
    ingress.kubernetes.io/add-base-url: /

without it I just got 404 from all app/* files.

I will try to create a PR for documentation.

[2017-08-02 17:03] PierreBesson commented on #6157
@marcelinobadin I think deployment  should work in GKE out of the box. Could you PR directly to the generator instead.

[2017-08-02 20:47] setterlee opened #6193 "JDL Import with microservices options don't create the tables for the gateway"
##### **Overview of the issue**

I'm using a sample model to test the microservices options defining one table for the gateway a two more tables for two microservices but the jdl import don't create the gateway tables and create all tables in the microservices

the model:

`entity Car{
	name String required
	color Color
}

enum Color{
	BLACK,WHITE,BLUE,GREEN,YELLOW
}

entity House{
	address String

[2017-08-02 20:55] ruddell commented on #6193
The gateway isn't a microservice, so just remove `microservice Info with gateway` from your JDL.

If you still have issues after that, please fill out the complete template.

[2017-08-02 21:09] setterlee commented on #6193
I just remove the line for the gateway and the table `Info` appear in the changelog Folder but in the microservices app1 and app2 still appear all tables including `Info`

[2017-08-02 21:12] setterlee commented on #6193
Here the json files generated in every application

[json files.zip](https://github.com/jhipster/generator-jhipster/files/1195327/json.files.zip)

[2017-08-02 21:27] ruddell commented on #6193
So the issue looks like it's not possible to specify in JDL that an entity belongs on a gateway.

We could check if the gateway's name matches the entity's microserviceName and then generate the backend as well.  I haven't looked at the code to see how easy this is but I'm guessing that's how it works with microservices

[2017-08-02 21:48] setterlee commented on #6193
No just that, the importer are building the entire  JDL model in every microservice

[2017-08-02 22:00] setterlee commented on #6193
I guess that this model with all entities just must be used to generate the gateway project and for the microservices must be used a simplified model just with they own tables.

If this is right, maybe this tips must be included in the JDL docs [here](https://jhipster.github.io/jdl/#microserviceoptions)

[2017-08-02 22:25] PierreBesson commented on #6193
Yes @setterlee, the way it works is not what you thought. When importing a jdl in an app it generates all entities described in the JDL file. The `microservice` option is merely hints that is effective when generating entities on a gateway app.

[2017-08-03 00:20] setterlee commented on #6193
oh! thanks @PierreBesson. In that case, this is not a issue and must be closed.

[2017-08-03 00:20] #6193 closed

[2017-08-03 00:55] dllongo commented on #6186
Hi @gmarziou, yes I tried with static resources, the same error appear, here is the log for index.html
https://pastebin.com/KyWyfgnb

[2017-08-03 08:07] gmarziou commented on #6186
What about my other suggestions, especially the diff between local and aws logs?

[2017-08-03 08:42] anilbb23a commented on #4162
@eosimosu: Please share the steps.
I am trying to deploy it on the Standard GAE for past 3 days. but could not do so.

[2017-08-03 09:12] jdubois commented on #4162
It cannot work yet, you need the latest 1.5.6 Spring Boot release

[2017-08-03 13:32] PierreBesson opened #6194 "[FEATURE] Migrate from spotify's deprecated docker-maven-plugin to new dockerfile-maven-plugin"
##### **Overview of the issue**

Spotify has "deprecated" their docker-maven-plugin which should be replaced with the new dockerfile-maven-plugin. So I suggest we migrate to this new plugin.
This is going to have a minimal impact on the projects as we were already using the dockerfile workflow to build docker images.

See: https://github.com/spotify/docker-maven-plugin#the-future-of-docker-maven-p

[2017-08-03 16:14] pascalgrimaud commented on #6194
+1
@PierreBesson do you want to do this ?

[2017-08-03 18:15] PierreBesson commented on #6194
@pascalgrimaud Yes I will do it in the coming days.

[2017-08-03 22:32] vladimirvs commented on #1823
So what's then the meaning of Repository and Service in your view? I am looking at the default UserResource and I can see sometimes userRepository is being called and sometimes userService ??? So if I add a new operation, where do I add it? In repository or service?

[2017-08-04 00:22] gmarziou commented on #1823
@vladimirvs this is our issue tracker, it's not the right place to ask questions. Please go to stackoverflow.com or gitter

[2017-08-04 01:18] treyyoder commented on #4892
@bahadyr Were you able to find a solution?

[2017-08-04 01:32] bahadyr commented on #4892
Thanks @treyyoder! Our team managed with some other solutions.

[2017-08-04 02:08] BreadKid commented on #6188
thx a lot

[2017-08-04 08:00] JulienMrgrd commented on #5970
Here is our article : http://blog.ippon.tech/spring-5-webflux-performance-tests/

[2017-08-04 10:30] vladimirvs commented on #1823
Thanks. Sorry

On Friday, August 4, 2017, Gaël Marziou <notifications@github.com> wrote:

[2017-08-04 12:49] atomfrede commented on #5970
Nice article! We implemented a reactive gateway with vert.x recently and also did not find some increase in performance. But one node could handle a **lot** more requests compared to a classical architecture. Have you tried to find the point when the classic stack breaks under heavy load? If everything is reactive the reactive application should be able to handle more load.

Another interesting ob

[2017-08-04 13:20] gmarziou commented on #5970
There's also the |Spring Cloud Gateway](https://github.com/spring-cloud/spring-cloud-gateway)

[2017-08-04 14:18] prakashdge commented on #6116
Hi @jdubois Is there any further comments on this issue

[2017-08-04 14:20] Steven-Garcia commented on #6178
Just to let you know this worked wonders on my local deployment (and 3/4 of the way on deploying to prod), all AngularJS instances were transferred to Angular, after some minor tweaks in things like paths and router names all classes worked fine and connection to the backend for CRUD operations was plain seamless.

  I really think that having this in your docs site will come in helpful for others

[2017-08-04 15:05] manfredpaul opened #6198 "Use blacklist for entity names (e.g. event)"
##### **Overview of the issue**

I am creating an application with an entity called **event**. This will cause problems within the JS code

##### **Reproduce the error**

Create an entity with the name **event** and compile.

[code]

##### **Suggest a Fix**

Add an blacklist for reserved keywords (especially JS side)

##### **JHipster Version(s)**

4.6.2

[2017-08-04 15:13] gmarziou commented on #6198
Thanks, this list already exists: https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/reserved_keywords.js

Would you please submit a pull request to jhipster-core?

[2017-08-04 15:23] gmarziou commented on #6116
@prakashdge how can we help you when the issue is in your company environment and you don't even explain what you tried like the sentence above. What does your IT team did to help you?

[2017-08-04 16:36] pascalgrimaud commented on #6194
There are 3 tasks:
- change the lib here, in the generator-jhipster
- change the lib in jhipster-registry
- update the documentation

[2017-08-04 16:58] pascalgrimaud commented on #6198
Can you provide all information with `jhipster info` plz ?

I didn't manage to reproduce. Here my logs, when generating entity `event` :

[code]

Here my `jhipster info`:

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {

[2017-08-04 17:28] Coccoonx opened #6200 "Cannot setup JHipster on windows 7 x64"
##### **Overview of the issue**

I cannot install jhipster due to a failing on tabtab.
Here is the stacktrace error.
[code]

##### **Motivation for or Use Case**

I follow installation process from jhipster official website and at end, when running `yarn global add generator-jhipster` I have an exception from tabtab.

##### **Reproduce the error**

Just running `yarn global add generator-jhipster`

[2017-08-04 17:30] gmarziou commented on #6198
@pascalgrimaud , it seems to be a global variable of Internet Explorer, so not related to Angular.
We'll see if @manfredpaul  confirms.

[2017-08-04 17:36] pascalgrimaud commented on #6198
Not able to test on IE, I need to reinstall a special VM for that.
So yes, let's wait the confirmation :-)

[2017-08-04 18:01] gmarziou commented on #6200
Duplicate of #6162

[2017-08-04 18:01] #6200 closed

[2017-08-04 18:04] gmarziou commented on #6200
Please note that we don't support Windows 7, there are other issues like #5820

[2017-08-04 18:57] raharrison commented on #5970
Very interesting. It seems that the reactive approach with Spring definitely isn't ready for prime-time just yet.

[2017-08-04 21:38] syamsathyan commented on #2399
Had the same issue (tried the whole day to apply all type of profile / annotation processing in Idea) Finally this worked ..
---------------------
I got rid of Mapping annotations.
Converted all Mappers to @Components.
Changed the Mapper interfaces to classes, and all methods to be public.
Rest of the JH Code worked like a charm.
/**

teamRepository.findAllWithEagerRelationships().stream()

[2017-08-04 22:43] ruddell commented on #2399
@syamsathyan Please open a new ticket if you have issues or feature requests.  This is probably unrelated as it's from two years ago.

There was a recent change with gradle apps that causes this error, the fix is in a Pull Request under review.  Several people have reported success with the changes here:  https://github.com/jhipster/generator-jhipster/pull/6172/files

[2017-08-05 08:00] gmarziou commented on #6198
Good job @ruddell, I did not notice the `setFileData` in the error and so did not try with a blob field.
@manfredpaul this is why we ask for your entities and so `jhipster info` output for all issues.

[2017-08-05 08:01] #6198 closed

[2017-08-05 08:02] manfredpaul commented on #6198
@gmarziou as you can see, the generated code was wrong. @ruddell you fix seems good.

[2017-08-05 08:02] manfredpaul commented on #6198
@gmarziou Well I was not on my computer until now ;)

[2017-08-05 08:03] gmarziou commented on #6198
Right, we should have not tried to reproduce without it.

[2017-08-05 08:07] manfredpaul commented on #6198
Sorry for that. Your are completely right about this. Next time It will pay more attention to it. I wanted just to report the bug from my work computer so that this does not wait until Monday.

[2017-08-05 08:46] gmarziou commented on #6162
Until we take a long term decision we need to disable tabtab forced installation, it just blocks some users and using `--ignore-scripts` is only a workaround.

The 2 PR #6180 and #6202 are worth a patch release I think.

[2017-08-05 13:52] mcka-dev opened #6203 "Webpack fails to build when having the ! String in the path"
##### **Overview of the issue**

Error when creating a new project.
The error occurs if I run `yo jhipster` from directory `d:\!Test` (with `!`) then the application does not work.
Successful launch if I run `yo jhipster` from directory `d:\Test` (without symbol `!`) then the application is successfully functioning.

Errors:
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error

[2017-08-05 14:03] gmarziou commented on #6203
Excuse my ignorance but is there any special meaning of `!` in file paths in Windows?
Have you been to run successfully other node commands with this unusual path?

[2017-08-05 15:31] dllongo commented on #6186
running local with eclipse the log is different:
https://pastebin.com/GGqgYL4e

and with java -jar
https://pastebin.com/XNix1MU7

it's appear following a different checkers on request chain.

[2017-08-05 16:31] Coccoonx commented on #6200
oh!
Thanks

[2017-08-05 16:59] mcka-dev commented on #6203
for Windows `d:\!Test` this is the usual path.
![2017-08-05 19_49_18-works d_](https://user-images.githubusercontent.com/16173503/28997197-52b5f186-7a17-11e7-89b3-bbe521e6f2d6.png)
All other commands work perfectly in this directory.

[2017-08-05 17:22] mcka-dev commented on #6203
I decided to check on `Debian 9` and I got the same error:
![2017-08-05 20_18_29-debian eng x86-64 - oracle vm virtualbox](https://user-images.githubusercontent.com/16173503/28997390-c7b7ba7e-7a1b-11e7-969e-42af7450ac27.png)
![2017-08-05 20_20_05-debian eng x86-64 - oracle vm virtualbox](https://user-images.githubusercontent.com/16173503/28997391-c7b88b84-7a1b-11e7-8deb-bfcda4467fe2.png)

[2017-08-05 17:39] mcka-dev commented on #6203
Reproduce the error on Debian 9:
![2017-08-05 20_30_44-debian eng x86-64 - oracle vm virtualbox](https://user-images.githubusercontent.com/16173503/28997455-f979ac8c-7a1d-11e7-8e64-fc5a28280305.png)

As a result, an error occurred:
![2017-08-05 20_38_52-debian eng x86-64 - oracle vm virtualbox](https://user-images.githubusercontent.com/16173503/28997466-23b1838a-7a1e-11e7-8791-e2fdeea2c7e1.png)

[2017-08-05 18:15] mcka-dev commented on #6203
I checked this:
[code]
It's perfect to work!

[2017-08-05 19:00] cbornet commented on #5970
It would be interesting to test a streaming use case (that's where reactive shines IMO)

[2017-08-05 19:11] delverdev commented on #6203
Earlier I had a project that was started by `!` and it was working (version ~3.5).

[2017-08-05 19:16] jdubois commented on #6203
Could you write a better title? This seems linked to having the `!` String in the path, and might be caused by Node or npm

[2017-08-05 19:43] mcka-dev commented on #6203
@delverde I verified `generator-jhipster@3.5.0` It's perfect to work!
Also `generator-jhipster@4.6.2`  It's perfect to work if you choose:
`? (12/16) Which *Framework* would you like to use for the client?` *AngularJS 1.x*.
The problem is only if you choose *Angular 4*.

[2017-08-05 19:53] deepu105 commented on #6203
This seems like something going wrong during webpack compilation. `!` is used in glob patterns as negation and I'm wondering if this might be causing an issue. But Its hard to tell just from the logs here.

@mcka-dev can you try to run any [angular-webpack](https://github.com/AngularClass/angular-starter) starter from such a folder?

[2017-08-05 20:27] mcka-dev commented on #6203
@deepu105 The problem is present in `angular-webpack` if starter from such a folder.
![2017-08-05 23_21_50-c__windows_system32_cmd exe](https://user-images.githubusercontent.com/16173503/28998511-9fc86f30-7a35-11e7-9404-1973ee3ea735.png)

[2017-08-05 21:29] deepu105 commented on #6203
So this is definitely either a webpack or typescript issue. I guess you should open a ticket for this in Webpack.
@TheLarkinn do you think this is coming from webpack?

[2017-08-05 22:51] deepu105 commented on #6162
We could also look at how npm does the autocompletion. As they add anything to the . files

[2017-08-05 22:55] deepu105 commented on #6162
Ahh, ok tabtab does the same actually, we just need to use it properly

[2017-08-05 23:05] deepu105 commented on #6162
Dis some digging so the below enables completion on current shell session for jhipster, but for this to work you need tabtab installed globally with `npm i -g tabtab` or similar yarn cmd. There is a minor issue of a `:` at the end though, may be we could find a way to trigger this with a specific command or with some shell magic(which is not my forte)
`. <(tabtab install --stdout --name jhipster)`

[2017-08-06 06:41] treyyoder commented on #4892
I resolved this by updating webjars.
[code]

[2017-08-06 08:01] gmarziou commented on #6203
I don't understand this sentence, is it a convention of your company or is it widely used in some community and what is the benefit?

[2017-08-06 08:05] gmarziou commented on #6186
Can't you post the diff output?

[2017-08-06 09:50] deepu105 commented on #6190
I'm not sure what you are doing here `Create a  new route accessible by everyone, log in with your user, go to this route, refresh the page` can you paste the code that you added? I'm not sure if this is an issue or something to do with your custom code

[2017-08-06 09:51] deepu105 commented on #6186
@dllongo please post diff of both log output. You cant expect us to spend time comparing the logs its not interesting for anyone to spend a weekend on

[2017-08-06 09:53] deepu105 commented on #6148
@stieler-it are you going to PR this and the other issue?

[2017-08-06 09:58] deepu105 commented on #5629
@jdubois @cbornet @gzsombor @gmarziou @ctamisier sorry I didnt read the entire thread its very long so sorry if this was already discussed. Is the issue happening only when there is no service layer? we laos had quite a number of issues in the past for such a combination. Would it make sense to enable service layer if DTO is choosen? I.e make service layer mandatory for DTO option. It might solve

[2017-08-06 12:47] jdubois commented on #5629
The only configuration that does not make much sense to me is DTO without
service layer, then there can still be use cases for this.
So I would keep the options and either solve the issue or at least warn the
user.

Le 6 août 2017 11:58 AM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2017-08-06 13:35] cbornet commented on #5629
My position is still the same :
* we should not fetch the child collections in our generated endpoints. (JsonIgnore)
* we should provide other endpoints to fetch those collections (eg. /jobs/id/tasks)
* we should adapt our generated frontend to those endpoints. (eg. not displaying the list of child ids in the grid but a link to a grid of them)

[2017-08-07 00:49] stieler-it commented on #6148
Yes, I have not forgotten about it. I will need some spare time for this..

[2017-08-07 06:44] mcka-dev commented on #6203
@gmarziou I did nothing against law. I use for to appear first in directory listing by name.

Allowed characters in file or directory names for file systems
**NTFS**: any [UTF-16](https://en.wikipedia.org/wiki/UTF-16) code unit (case-insensitive) except `/\:*"?<>|` as well as `NUL`.
**ext4**:  All bytes except `NUL` and `/` and the special file names `.` and `..` which are not forbidden but are al

[2017-08-07 07:36] sendilkumarn commented on #6203
@mcka-dev
This is because webpack will not allow you to have a `!` in the file path. There is an option to separate loaders with `!`

Note: In 3.5 we don't have webpack, we only had gulp so yes we were able to create an application in a folder with `!` in it.

I am wondering why this is being discussed here.  🤔

[2017-08-07 07:36] #6203 closed

[2017-08-07 07:42] mcka-dev commented on #6203
@sendilkumarn `jhipster` could not build a project, we did not immediately realize that the problem is in `Webpack`.

[2017-08-07 10:14] bbbenja commented on #6190
I juste create a new page `Help`, with no authorities

[code]
The use case to reproduce the bug is to do a manual refresh on this page when user is logged in

[2017-08-07 17:59] dllongo commented on #6186
@gmarziou sorry for my late response, here's the diff:
https://www.diffchecker.com/tC6u1IEB
on the left app run ok, on right side I get 404

[2017-08-07 21:02] gmarziou commented on #6186
But this is only the log of the request processing, I think you should better at the app startup when everything gets configured because here you can see that on left side there are 14 filters  and on the right side only 12.

[2017-08-07 21:15] gmarziou commented on #6186
You may have also noted that only the right side shows thymeleaf log statements.

[2017-08-08 15:34] cbornet commented on #5629
I started to look at what would need to be generated to have child collections fetch endpoints.
@gzsombor 's filter endpoints would be nice to use but as of now they are optional and don't support many-to-many.
So writing new resource code, this gives for bidir OneToMany
JDL
[code]
CarResource.java
[code]

* The problem is that currently it cannot be generated since the many side doesn't know the

[2017-08-08 18:06] ndjordjevic commented on #5754
Hi,

I already deployed a frontend to a sparate web server. As I understand i just need a way to tell it where the backend is and maybe something on a backend side regarding CORS. I'm i right? Can someone help with an advice. I don't see any config for that. Thanks

[2017-08-08 18:13] stevehouel commented on #5754
Hi

What you need to have is a front service with nginx or apache for example
who will serve your static pages (html and javascript) on your front files
be sure to reference your backend server on service url. Enable CORS to
allow traffic from your front to backend. Then I think this should work
fine. For security purpose and if you dont need your backend to provide
service to other application yo

[2017-08-08 18:37] ndjordjevic commented on #5754
Thanks for the quick answer. The front is already on some AWS nginx, the jhipster generated one for a test, I pulled the www out of target folder from a prod buiild, but all the api calls target the same host. I guess there should be a way to tell the front where the back is, the url.

[2017-08-08 19:22] ruddell commented on #5754
Currently all calls to the API expect the API on the same host.  I'm also in favor of adding an `apiPrefix` or `baseUrl` variable so the frontend can reach a backend hosted elsewhere.  This is what @mraible suggested above.

@ndjordjevic For now this change requires manual work, you will need to edit each service file that makes a call to the API (there's 14 places in a default project with no ent

[2017-08-08 19:28] stevehouel commented on #5754
Nenad if you use aws you can deploy your front on S3 bucket with server
function and use cdn for better performance
Le mar. 8 août 2017 à 21:23, Jon Ruddell <notifications@github.com> a
écrit :

[2017-08-08 22:10] gzsombor commented on #5629
Sorry, I've started implementing the many-to-many stuff, the library part is done, [here](https://github.com/jhipster/jhipster/pull/24). After it's merged, and a new release is made, then the generator can be adjusted.

For the two-way references between a many-to-many relation (or with any other type of relation), is not solved automatically. Maybe we could re-generate both the entities in this c

[2017-08-08 23:12] gmarziou opened #6208 "CLI should run local generator-jhipster rather than global one"
##### **Overview of the issue**

`jhipster` command runs globally installed generator-jhipster rather than project locally installed generator-jhipster. `yo jhipster` works as expected.

I tested only on Windows 10, not sure this is the same for other OS.

I'm not sure this happens also for npm.

The steps to reproduce are rather easy.

Maybe this is something specific to my environment but it exp

[2017-08-08 23:20] eosimosu opened #6209 "Data URLs removed in Chrome"
##### **Overview of the issue**
Latest version of Chrome blocks web pages from loading Data URLs. It means I'm no longer able to open Blob such as pdf. It works fine in other browsers.

More info:
[https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/GbVcuwg_QjM](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/GbVcuwg_QjM)

##### **Reproduce the error**
Generate a new

[2017-08-08 23:33] ruddell commented on #6208
I could reproduce this on Mac, the CLI uses the global version even when a local version is installed.

[code]

[2017-08-08 23:37] gmarziou commented on #6208
Thanks, I was starting to think I was alone.

To me this script should use current directory as `%CD%` on Windows and `$PWD` on Mac and Linux.

[2017-08-09 05:09] cbornet commented on #5629
@gzsombor the intent with the links is not to provide HATEOAS / Rest level 3. It's just to provide nice-to-have auto-documentation for the humans, not expecting smart clients to use them at runtime.

[2017-08-09 05:43] deepu105 commented on #6208
That script is generated right? I mean we dont create that. Do you guys see
same behaviour with other CLI tools like angular CLI etc?

On 9 Aug 2017 1:38 am, "Gaël Marziou" <notifications@github.com> wrote:

[2017-08-09 05:56] ruddell commented on #6208
@deepu105 With the Angular CLI I see the expected behavior, it looks like they compare versions [here](https://github.com/angular/angular-cli/blob/f1251bfb4d4d1ac97d92e4c3da2eb8de67776437/packages/%40angular/cli/bin/ng#L149-L165).
[code]

[2017-08-09 05:58] deepu105 commented on #6208
May be we could do the same

On Wed, 9 Aug 2017, 7:56 am Jon Ruddell, <notifications@github.com> wrote:

[2017-08-09 08:25] gmarziou commented on #6208
gulp does also something similar to angular cli, it's good we can fix this in the JS code rather than in shell.
This bug could also explain why upgrade may fail depending on whether cli was used or yo.

I can work on it at the end of the week.

[2017-08-09 08:54] tientq commented on #6208
I had to do the trick, run jhipster cli in local. Ex: `~/Documents/Project/generator-jhipster/cli/jhipster.js upgrade --with-entities --verbose` after `yarn link`.

[2017-08-09 10:11] mrozlukasz commented on #3954
:+1 For LocalDateTime. In my opinion the referral specification should be https://hibernate.atlassian.net/browse/HHH-8844 People who generate projects with JHipster should be able to express all their intentions.

[2017-08-09 10:14] Milad-Heydari-Iman opened #6210 "Got error when trying to add bootstrap material to my gateway"
##### **Overview of the issue**

Got error when trying to add bootstrap material to my gateway

After creating a new jhipster gateway project, I tried to add bootstrap material to it by running code below in my gateway directory
` yo jhipster-bootstrap-material-design
`
and this is what happend:

     _-----_
    |       |    .--------------------------.
    |--(o)--|    |  Welcome to the JHipster

[2017-08-09 10:39] gmarziou commented on #6210
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-09 10:39] #6210 closed

[2017-08-09 10:41] gmarziou commented on #6210
1. You did not fill the issue template
2. You're not on the right project, issue should be opened against module [generator-jhipster-bootstrap-material-design](https://github.com/moifort/generator-jhipster-bootstrap-material-design)

[2017-08-09 11:59] cbornet commented on #3954
@mrozlukasz PR is welcome :smile:

[2017-08-09 12:01] agoncal commented on #6194
Have you considered the [fabric8io/docker-maven-plugin](https://dmp.fabric8.io/) ? It's quite rich actually (but maybe too rich for your usecase).

[2017-08-09 14:28] taileshrbamankar opened #6211 "How customize jhipster's UI Templates generator"
##### **Overview of the issue**

Customize jhipster template

##### **Motivation for or Use Case**

I wanted to implement  parent-child relationship screen.

Use Case :
Student and their address from 2 tables in database with referential integrity.
So wanted to Get it on one screen with Student information with their multiple address in grid on Same Screen.
So, UI should be rich without model popu

[2017-08-09 14:55] gmarziou commented on #6211
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-09 14:55] #6211 closed

[2017-08-09 15:19] uyeliksiz opened #6212 "Security Issue in User List"
##### **Overview of the issue**

Any user can see all users with user data

##### **Motivation for or Use Case**

User datas have to be secured and hidden.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

**UserResource.java**

[code]

[code]

make these methods  secured.

##### **JHipster Version(s)**

4.6.2

##### **JHipster configuration**

##### **Entity confi

[2017-08-09 15:20] jdubois commented on #6212
Duplicate...

[2017-08-09 15:20] #6212 closed

[2017-08-09 15:46] vcupelloni commented on #6184
So.....there is no solution for now?

[2017-08-09 16:49] gmarziou commented on #6184
Use maven if you can't fix it by yourself and cannot wait.

[2017-08-09 16:55] vcupelloni commented on #6184
I've solved changing the dependencies to:
- guava v.22.0
- cassandra-driver-extras, cassandra-driver-mapping, cassandra-driver-core v3.2.0

[2017-08-09 17:15] gmarziou commented on #6184
Great, would you consider submitting a pull request?

[2017-08-09 17:32] PierreBesson commented on #6194
@agoncal I did have a look to the fabric8 plugin when I initially added docker support and evaluated the different docker plugins. However it was more complicated to setup and had fewer stars than spotify's one at the time.

I'm really satisfied with spotify's plugin and the new dockerfile plugin is even better. I would stick with it for the time being.

The fabric8 plugin has a lot of additional

[2017-08-10 05:47] taileshrbamankar commented on #6211
Will raise ticket as per guidelines

[2017-08-10 06:28] deepu105 commented on #6211
@taileshrbamankar this is suitable for question in Stack overflow as it is not a bug but a query so please take it there

[2017-08-10 06:29] deepu105 commented on #6184
@gmarziou I was wondering the same!

[2017-08-10 07:20] taileshrbamankar opened #6215 "How customize jhipster's UI Templates generator"
##### **Overview of the issue**

I wanted to implement one-to-many relationship in existing generator-jhipster.
Want to do CRUD operations on single view with one-to-many relationship

##### **Motivation for or Use Case**

I wanted to implement parent-child relationship screen.

Use Case :
Student and their address from 2 tables in database with referential integrity.
So wanted to Get it on one sc

[2017-08-10 07:31] deepu105 commented on #6215
As I said on the original issue, this is not a bug or feature request and hence this is not the right place, please take it to stack overflow or gitter

[2017-08-10 07:31] #6215 closed

[2017-08-10 07:59] stieler-it commented on #6148
After some more research I was able to reproduce this with a pretty basic Angular example, so it looks like an Angular/IE bug to me. See also https://github.com/angular/angular/issues/14505. Still, we have to find a workaround for our project. I will share our solution and then we can decide if this should be a PR against JHipster.

[2017-08-10 08:56] Kearny opened #6216 "JHipster upgrade command failed"
Hello everyone,

##### **Overview of the issue**

When I run jhipster upgrade commande, I have the following issue :

![image](https://user-images.githubusercontent.com/5919114/29162658-5e5ae446-7dba-11e7-9a10-dab1ce3ad6e6.png)

##### **Browsers and Operating System**

I'm running on jhipster vagrant, it's an ubuntu virtual machine on my windows10 host machine.

[2017-08-10 09:51] gmarziou commented on #6216
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-10 09:52] gmarziou commented on #6216
You must fill the issue template completely, especially the `jhipster info` output part.

[2017-08-10 09:54] #6216 closed

[2017-08-10 12:00] Kearny commented on #6216
Ok

[2017-08-11 11:08] Blackdread commented on #5629
Hi,
Not sure this is here I should ask but:
With a new project generated I have relationships of ManyToOne and default generated code does not define it as LAZY (even for OneToOne), as a result for DTOs mapper that were generated as well it expects those relationship as being fetched.
Problem it results in N+1 queries for the app for default entities management pages generated by jhipster.
Of cour

[2017-08-11 11:14] Blackdread commented on #6105
As login is unique, wouldn't mark login field as a NaturalId make Hibernate use it as a cache key as well?
They already provide an API for NaturalId fetch.

[2017-08-11 12:59] gmarziou commented on #6105
`@NaturalId` is a Hibernate specific annotation, I'm not sure we want to deviate from JPA standard.

[2017-08-11 13:53] henkelb opened #6218 "JHipster module hooks error"
##### **Overview of the issue**

I have a jhipster [project ](https://github.com/henkelb/jhipster-project-demo) for whom I installed some jhipster modules (yeoman generators) that should behave as post-entity hooks. One of the jhipster modules is not created by me (the other one for which i am receiving the error too is create by me), it is actually [jhipster-entity-audit](https://github.com/hipst

[2017-08-11 14:46] gmarziou commented on #6218
Have you tried with `yo` rather than the CLI?

`yo jhipster import-jdl jhipster-jdl.jh --force`

[2017-08-11 15:56] deepu105 commented on #6044
Base configuration works now
![image](https://user-images.githubusercontent.com/1107223/29221258-69d97fb2-7ebe-11e7-96bb-82e63a1e4241.png)

[2017-08-11 15:56] deepu105 commented on #6044
Karma tests works as well

[2017-08-11 15:58] deepu105 commented on #6044
@addisoc is working on the settings and password page

[2017-08-11 16:01] gmarziou commented on #6208
I did not implement angular-cli's version comparison because I think we should always respect the local version in the project because we already warn the user when there is a more recent version available.

The only exception to this rule might be for except for `jhipster upgrade` where we would like to have the most recent version most of the time, so I prefer to fix this issue and open another

[2017-08-11 17:25] deepu105 commented on #6218
You need to install the modules locally in the project where you are
executing it. Yeoman changed the way generators are composed. Please
install the the modules locally and try again

On Fri, 11 Aug 2017, 4:47 pm Gaël Marziou, <notifications@github.com> wrote:

[2017-08-11 17:34] deepu105 commented on #6208
We need not compare but we could add atleast a debug log printing which CLI
is being used

On 11 Aug 2017 6:02 pm, "Gaël Marziou" <notifications@github.com> wrote:

[2017-08-11 17:37] gzsombor commented on #6044
You work like a robot ! :+1:

[2017-08-11 18:00] gmarziou commented on #6208
Well, I thought we would do the same as `yo jhipster`, no surprise to the user but I can add a log.

[2017-08-12 07:29] jdubois commented on #5629
@Blackdread please don't pollute the thread, for general questions please use stackoverflow
(and I don't think JHipster does eager relationships by default anywhere)

[2017-08-12 09:01] #6208 closed

[2017-08-13 05:59] #6148 closed

[2017-08-13 14:32] jakubstrama opened #6222 "Typo in _Jenkinsfile , non Yarn deployment"
##### **Overview of the issue**
There is most likely a typo in
_/generators/ci-cd/templates/jenkins/_Jenkinsfile
Lines: 81-83. A _yarn_ argument is being used instead of _npm_ argument.

##### **Motivation for or Use Case**

Brakes the non Yarn Jenkins deployment,
`frontend-maven-plugin:npm -Dfrontend.yarn.arguments=test`
resolves to `npm install` instead of `npm test`

##### **Reproduce the error

[2017-08-13 14:38] gmarziou commented on #6222
Thanks, would you please consider submitting a pull request?

[2017-08-13 14:41] jakubstrama commented on #6222
Hi, I do not have the code base checked out at the moment, just went through the github page quickly.

[2017-08-13 15:42] gmarziou commented on #6222
There's no emergency

[2017-08-14 03:22] liuyatao opened #6224 "SecurityConfiguration doesn't work when using oauth"
I  generated a project based on oauth. When I add a page filter in `SecurityConfiguration` like this:

[code]
When I hint `/mytest` in chrome,the page will show without authorization.What's the problem?

[2017-08-14 03:36] liaoyunhe opened #6225 "Upgrade ng-bootstrap and bootstrap depedency"
##### **Overview of the issue**
 Bootstrap released beta : https://blog.getbootstrap.com/2017/08/10/bootstrap-4-beta/
 Ng Bootstrap release beta: https://github.com/ng-bootstrap/ng-bootstrap/issues/1679

##### **Motivation for or Use Case**
Upgrade to latest Bootstrap 4 Beta Release

N/A
##### **Reproduce the error**
N/A

N/A
##### **Related issues**
N/A

N/A
##### **Suggest a Fix**
N/A

##### **J

[2017-08-14 04:50] liuyatao opened #6226 "How to detail with OAuth authorization_code grant type?"
I generate a project based on OAuth. I  want to make it to be a auth server an resource server，and I want to using authorization_code grant type.what should  I do?

[2017-08-14 06:21] deepu105 commented on #6224
Please take questions to Stack overflow or gityer. This place is only for bugs and features

[2017-08-14 06:21] #6224 closed

[2017-08-14 06:23] deepu105 commented on #6225
Yes Im aware and will be done eventually. If you want you can try to PR this
I'm closing the ticket as this will be done like every other dependencies

[2017-08-14 06:23] #6225 closed

[2017-08-14 06:24] deepu105 commented on #6226
Please follow our guidelines. Take this to stack overflow as this is not a bug or feature request

[2017-08-14 06:24] #6226 closed

[2017-08-14 08:23] anjia0532 opened #6227 "how to get real userName rather than `internal`"
##### **Overview of the issue**

req->microService1's uri->invoke mecroService2's uri.

microService1's method use SecurityUtils.getCurrentUserLogin() to get real userName(e.g. admin).

but mecroService2 use SecurityUtils.getCurrentUserLogin() got the userName is `internal`?

##### **Motivation for or Use Case**

I print the mecroService all headers.

mecroService1's headers
[code]
expand accessTo

[2017-08-14 10:41] amirensit opened #6230 "unable to bind data in angular with jhipster project"
I have generated jhipster project. I use several entities among them ContratEntity and VoitureEntity.

I used JDL STUDIO.

My problem is that i tried to add some modification in contrat-dialog.component.html.

As verification, I tried to show in console the value of my parameter, but It can't bind data.

**[contrat.component.html]**

 `<form name="editForm" role="form" novalidate #editForm="ngForm

[2017-08-14 10:48] jdubois commented on #6230
In you original text (before editing it) you referenced a Stackoverflow question, can you link to it again ?

[2017-08-14 10:49] amirensit commented on #6230
https://stackoverflow.com/questions/45672708/unable-to-bind-data-in-angular-with-jhipster-project

[2017-08-14 10:50] amirensit commented on #6230
Unable to add here the code of contrat.component.html

[2017-08-14 10:51] jdubois commented on #6230
Sorry, but this question is the same as this ticket - please don't cross post, it's not nice for the team and for other users.

[2017-08-14 10:52] amirensit commented on #6230
I post either here either in stackoverflow ?

[2017-08-14 11:25] gmarziou commented on #6230
stackoverflow

[2017-08-14 11:25] #6230 closed

[2017-08-14 14:04] CodingSpiderFox opened #6231 "Please add licenses to the other repositories, too"
Like for example: https://github.com/jhipster/jhipster-sample-app

I want to be allowed to fork this repo and make modifications for learning and testing purposes

[2017-08-14 16:24] deepu105 commented on #6231
It is an auto generated app and hence there is no specific license for it. You can use it freely as it is generated and would be exactly the same as if you would generate the config yourself so dont worry.

[2017-08-14 16:24] #6231 closed

[2017-08-14 17:22] jdubois commented on #6231
In fact both of you are correct :

- we generate by default a project with no license (see inside the package.json for example), as our default projects are for private use (no license means copyright). That's good for our users.
- those are out default generated projects so we can't change them

Anyway they are very easy to generate (even easier with JHipster Online, https://jhipster.julien-duboi

[2017-08-15 06:09] guessmyfuture opened #6232 "Why i a getting a blank screen if i change the service ts files according to my need. If i revert back those changes and give yarn clean up, it runs normally."
I have to remove the unnecessary delete and update operations in the ts file generated for an entity in Angular 4 of latest jhipster version (Thought like this removal helps me in minimizing the load while moving into production).

But when i do this, i can see only blank screen in the browser. If i revert back those changes in ts file, I get the expected homepage.

How can i handle this? I don't

[2017-08-15 07:38] deepu105 commented on #6232
This is not a bug or feature request and hence this is not the correct forum for this.
Please use Stack overflow for this. Tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster) and someone will help you out there.

This helps us to keep issue tracker clean. Also stack overflow will give your query a larger audience.

[2017-08-15 07:38] #6232 closed

[2017-08-15 16:28] benfavre opened #6234 "Docker Deployment Issues"
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':buildDocker'.

[code]

[code]
should be
[code]

[2017-08-15 16:32] deepu105 commented on #6234
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-15 16:32] #6234 closed

[2017-08-15 16:32] deepu105 commented on #6234
you are probably using an old docker version but without any info we wouldn't know

[2017-08-15 16:35] benfavre commented on #6234
Docker version 1.12.6, build 78d1802
Is not an old version

[2017-08-15 16:36] deepu105 commented on #6234
probably you didnt get the memo. Current docker version is 17.x

[2017-08-15 16:37] deepu105 commented on #6234
anyway I guess the command syntax changed from v1.13 onwards. So upgrade docker

[2017-08-15 16:37] benfavre commented on #6234
It's a totally new Branch, most tools don't support it.
Yeah I'll prob upgrade.

[2017-08-15 16:52] benfavre commented on #6234
Since the install instructions for docker 17 are wrong and it doesn't install (debian, ubuntu, mint, etc).
If it helps anyone (probably my future self)
[code]

[2017-08-15 23:30] gmarziou opened #6237 "jhipster upgrade should be verbose by default"
##### **Overview of the issue**

Currently, there is a `--verbose` option for `jhipster upgrade`, I think it should be the default mode because it gives more information to the user about what is being done to her git repository.
Also, some operations like npm install can take long time to complete and when output is muted user has no idea whether things are running smoothly or process is hung for

[2017-08-16 06:50] jdubois commented on #6227
Many people do this, and it's a feature we should support, but at the moment we don't generate code to have a microservice call another microservice.
It's not hard to do (as you can see one small issue is the security part), it's just we haven't created the templates yet (many people in the team do this, but we need to agree on "the official way" to do it).
So at the moment it's not supported, so

[2017-08-16 06:50] #6227 closed

[2017-08-16 06:52] jdubois commented on #6227
Sorry just saw your PR - are you using OAuth2??? If you don't give your full info it's hard to help you

[2017-08-16 07:11] anjia0532 commented on #6227
yes,i use uaa, and i've already give the demo repo [anjia0532/fegin-internal-invoke](https://github.com/anjia0532/fegin-internal-invoke) .

[2017-08-16 07:39] amirensit commented on #6147
I have the same problem using chrome.
[http://imgur.com/a/MaLkN](url)

[2017-08-16 07:43] jdubois commented on #6227
Yes sorry but I don't have time to read your code (I'm with my phone, with limited access) - please follow the guidelines next time

[2017-08-16 11:24] gmarziou commented on #6147
@amirensit so you can help by testing the changes proposed by @stieler-it in his commits.

[2017-08-16 11:28] stieler-it commented on #6147
Please note that this issue only refers to Enums, not relations. I cannot tell from the screenshot what kind of field is opened.

[2017-08-16 13:09] henkelb commented on #6218
deepu105 , just having the modules installed locally did not make any difference.
It worked with the command `yo jhipster:import-jdl jhipster-jdl.jh --force ` as gmarziou indicated, regardless whetther the modules were installes locally or not.
Although I do not understand why this solution works if i have the modules installed globally, for example.
I looked to what the cli command points and it

[2017-08-16 14:10] gmarziou commented on #6147
Good point, from the filed name in French in screenshot, I guess Assure is a relationship.
So @amirensit this is probably not the same issue and it could be an issue in your relationship definition and data rather than a JHipster issue, so please open a new issue with all required details.

[2017-08-16 14:59] deepu105 commented on #6237
Ok for me

[2017-08-16 15:17] #6147 closed

[2017-08-16 15:20] deepu105 commented on #6218
I need to check this. This was working for me not sure what going wrong for you.

[2017-08-16 17:03] mraible commented on #6237
+1

[2017-08-16 21:48] gmarziou commented on #6237
BTW, I found that yeoman offers some logging helpers and with some color conventions for different statuses: http://yeoman.io/environment/log.js.html

I like the log.ok() method with green checkmark as it clearly states a success and still is color-blind friendly.

![2017-08-16_23h46_37](https://user-images.githubusercontent.com/361007/29386662-282baa2c-82dd-11e7-8105-361cccd8ca82.png)

[2017-08-17 12:42] gfouquet opened #6240 "Openshift opens 2 mongodb ports with the same name"
##### **Overview of the issue**

When deploying in minishift a mongodb-based project, I get this error message :

`The Service "jhipster-mongodb" is invalid: spec.ports[1].name: Duplicate value: "mongodb-bc"`

As a result, the mongodb container / service is not started, neither is the app.

##### **Motivation for or Use Case**

Deploy the project in openshift (minishift)

##### **Reproduce the err

[2017-08-17 13:02] qasimraza1979 commented on #5745
tried both of the solution from @dancancro but it did not helped.

getting the following error.

ERROR in ./~/css-loader!./~/sass-loader/lib/loader.js!./src/components/ionic-test/ionic-test.component.scss
Module not found: Error: Can't resolve '../../node_modules/ionicons/fonts/ionicons.eot?v=2.0.1' in 'C:\My-Source\angular-component-library\src\components\ionic-test'
 @ ./~/css-loader!./~/sass-lo

[2017-08-17 14:16] srinivasa-vasu commented on #6240
@gfouquet - Please make sure you have the necessary privileges (may require admin) to run scc service that is required to run some of the pods. Some of the containers require custom scc becoz of the base image and 'developer' may not have sufficient privileges to run those containers. Better to run as 'admin'

[2017-08-17 14:47] gfouquet commented on #6240
@srinivasa-vasu Thanks for your feedback.

When I run as admin I get the same symptoms (minus the security constraint message) :
[code]

When I rename port 80 to "mongodb" in `ocp/jhipster/jhipster-mongodb.yml`, app starts as expected.

[code]

[2017-08-17 18:13] sydneyhenrard opened #6243 "Issue with CacheConfiguration"
##### **Overview of the issue**

When running `mvn test`, I get the following exception:

[code]

##### **Motivation for or Use Case**

This is a bug because in `CacheConfiguration` the entity is present:

[code]

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

4.5.6

##### **Entity configuration(s)

[2017-08-17 19:21] deepu105 commented on #6243
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-17 19:21] #6243 closed

[2017-08-17 19:36] srinivasa-vasu commented on #6240
@gfouquet Yes, admin recommendation is just to get rid of scc error and for the duplicate port name it needs to be changed. I saw your pull request, that's fine.

[2017-08-17 21:35] #6222 closed

[2017-08-17 21:36] #6240 closed

[2017-08-18 01:27] gmarziou commented on #6237
Here is the output with `--silent` option:
![2017-08-18_03h25_08](https://user-images.githubusercontent.com/361007/29440417-f2ad4e80-83c4-11e7-9484-9758a7f54cc3.png)

[2017-08-18 08:07] itmashalov opened #6245 "elastic search pagination bug"
JHipster is missing a line when generating an entity with pagination option and elastic search.
the line   **page: this.page - 1**, is missing the entity component  loadAll() {
        if (this.currentSearch) {
            this.myService.search(
...
once this line is added the pagination works.
Please see the attached files
![jdl-ticket](https://user-images.githubusercontent.com/5897096/29449912-4

[2017-08-18 08:13] #6218 closed

[2017-08-18 08:13] deepu105 commented on #6218
Tests:

- [ ] 1. No global module. Install locally for the project only, with entity hook
- [ ] 2. Only global module, with entity hook

[2017-08-18 08:17] geesen opened #6246 "Add needles for fields and getters/setters into entity classes"
* **Overview of the request**

We have started a module for migrating entities for addin and, removing fields. At the moment it is very hard to inject new getters/setters and the field into the domain entity.

* **Motivation for or Use Case**

We have multiple jhipster applications that are already in production, running at our customers.
During the further development we often need to change fiel

[2017-08-18 10:13] deepu105 commented on #6245
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-18 10:13] #6245 closed

[2017-08-18 10:15] deepu105 commented on #6246
@geesen you can add or remove fields out of the box in entity generator! have you tried it?
![image](https://user-images.githubusercontent.com/1107223/29454834-f662dad2-840e-11e7-860a-c2df7a6ce185.png)

[2017-08-18 10:17] deepu105 commented on #6246
@geesen ah OK you wanna add/remove without regenerating entity.
Ok can you submit a PR with needles required?

[2017-08-18 10:19] geesen commented on #6246
yes, that's the difference :)
I will submit one!

[2017-08-18 11:44] anjia0532 commented on #6227
@jdubois recommend a github mobile app (not official)，named FastHub.

[2017-08-18 12:10] andredebuisne commented on #835
Hi! I just had this issue and I used:
`@WithMockUser(username="user@localhost",authorities={"ROLE_USR"}, password = "user")`
You can place this annotation on a specific test or a class of tests, so that all tests benefit from this MockUser!
Then all my Ressources using `SecurityUtils.getCurrentLogin()` work, the user is found with all of his information.

[2017-08-18 12:16] gmarziou commented on #6227
FastHub won't work for me as it is only for Android

[2017-08-18 12:16] andredebuisne commented on #3725
Hi! I just had this issue and I used:
`@WithMockUser(username="user@localhost",authorities={"ROLE_USR"}, password = "user")`
You can place this annotation on a specific test or a class of tests, so that all tests benefit from this MockUser!
Then all my Ressources using `SecurityUtils.getCurrentLogin()` work, the user is found with all of his information.

[2017-08-18 13:25] anjia0532 commented on #6227
yup

but ,You know that's not the point!   : )

[2017-08-18 13:34] #6246 closed

[2017-08-18 15:40] oehme opened #6252 "Epic: Enhance Gradle Support"
Following up on #5949, @atomfrede, @eriwen and I had a great chat this week on how to make JHipster's Gradle support awesome. I'd like to summarize our initial feedback here. We can break it down into smaller stories later on.

# High level observations

Let's start with a few things that can't be expressed in terms of "there's a problem at line 5" :)

## Verbose build scripts

The generator creat

[2017-08-18 17:39] gmarziou commented on #6252
Thanks a lot for your help @oehme, it's great to see that also the Spring Boot team is working to improve Gradle's support.

[2017-08-18 19:14] atomfrede commented on #6252
It is great to see that gradle cares about small community projects, thanks @oehme @eriwen for your time and input!

Regarding the 48s build, the build downloaed some dependencies. It takes 8s on subsequent builds with usage of the daemon, so thats fine. Nevertheless I will try the build scan.

I plan to do (or at least start) the following things (starting next week):

* Try to fix the quick wins

[2017-08-18 19:35] oehme commented on #6252
The above all make sense to me.

Is the file layout going to stay like it is? Nesting gatling simulations under src/test/scala seems suboptimal to me, as that folder already has a different meaning. A PR to that plugin would be best. Should be a simple matter of adding setters and wrapping the usage of those properties in an afterEvaluate block (so the build script actually has a chance to change

[2017-08-18 20:06] atomfrede commented on #6252
I would prefer to have the standard gatling layout, such that all gatling related stuff is grouped under `src/gatling`. @jdubois What do you think? I guess that's less problematic than putting integration test somewhere else? In fact I already prepared a PR, just need to decide to keep the autodetect feature for the layout or just make it configurable and using the default layput. Will try to do i

[2017-08-18 20:26] oehme commented on #6252
Regarding integration tests: you can split them into their own task without putting them in a different folder. It's not ideal but a big usability improvement over the current single task.

[2017-08-19 05:07] sendilkumarn commented on #6252
Thanks a lot @oehme This is interesting 👍

[2017-08-19 17:34] oaj opened #6255 "How do I user font-awesome in new version 4.6.2 in jhipster ?"
I want to use font-awesome in my jhipster project. I am looking for the preferred way to integrate it.
Is there some way to do that ?

[2017-08-19 18:57] JinnaBalu opened #6256 "How to configure same database to Jhipster gateway and jhipster microservice."
For gateway and microservice, I am using MySQL. if i need to run both applications i am running two MySQL container Servers on different ports. will it be possible to use one Database for as many apps as possible. Is there any inbuild solution for this kind of issue

[2017-08-19 19:05] jdubois commented on #6256
If you have just one database then you are building a distributed monolith...

[2017-08-19 20:26] dllongo commented on #6186
Here a full diff using a tomcat at localhot to compare:
https://www.diffnow.com/?report=s92fn
@gmarziou yes only right has thymeleaf, but I think this log has relation with the "/error" request.

[2017-08-19 20:41] gmarziou commented on #6255
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-19 20:41] #6255 closed

[2017-08-19 20:47] deepu105 commented on #6255
It is already integrated in JHipster, look at the icons in menu

[2017-08-19 21:13] xdworkshop opened #6257 "Entity named 'Alert' should not be allowed : the generated "private alertService AlertService" name clash with "private alertService: JhiAlertService""
##### **Overview of the issue**

Entity named 'Alert' should be reserved

ERROR in [at-loader] ./src/main/webapp/app/entities/alert/alert.component.ts:21:17
    TS2300: Duplicate identifier 'alertService'.

The generated contructor for AlertComponent is :
[code]

Subsequent variable declarations must have the same type. Variable 'alertService' must be of type 'AlertService', but here has type 'Jhi

[2017-08-19 21:28] ruddell commented on #6257
Does renaming ` private alertService: JhiAlertService,` to ` private jhiAlertService: JhiAlertService,` fix the conflicts?

[2017-08-19 23:17] Arv18 commented on #6256
Hi, @jdubois,
- ¿"monolith distributed" is the same of "monolith"?
- If the above is false: ¿"monolith distributed" is the result of create: jhipster gateway _(ms type gateway)_ + jhipster microservice _(ms type application)_, and configure datasource of both microservices, with the same database?

This is a doubt, because when I create monolith, I think this is not distributed ([one size for all]

[2017-08-20 02:25] ja1979 opened #6258 "Error in generated .gitlab-ci.yml"
##### **Overview of the issue**

The generated GitLab CI configuration file (`.gitlab-ci.yml`) has errors. The error message in gitlab.com is:

[code]

##### **Motivation for or Use Case**

It prevents to execute the pipeline when you choose to deploy to Heroku.

##### **Reproduce the error**

Create a new project, call heroku generator, call ci-cd generator using the following:
- What CI/CD pipel

[2017-08-20 04:06] JinnaBalu commented on #6256
My requirement is to create a thread which interacts with gateway database. I just wanted to connectt to the same database and do some arthmatics. I can write same thread in Gateway but if i wanted to have no load on gateway, i have to think some microservice.

How can we configure both microservice and gateway with the same database.

Lets say I have a mails template service, whome i give some ta

[2017-08-20 08:12] #6258 closed

[2017-08-20 08:41] gmarziou commented on #6256
@JinnaBalu Distributed monoliths are bad, search Google for that.
Anyway, you are on our issue tracker which is not the right pace for questions please ask on stackoverflow or gitter.

[2017-08-20 08:41] gmarziou commented on #6256
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-20 08:41] #6256 closed

[2017-08-20 10:53] jdubois commented on #6256
So of course we will not support this, but if you want to do it manually it's very easy

[2017-08-20 13:29] deepu105 commented on #6257
It would I guess uless the jhi prefix doesnt collide as well

Thanks & Regards,
Deepu

On Sat, Aug 19, 2017 at 11:28 PM, Jon Ruddell <notifications@github.com>
wrote:

[2017-08-20 14:57] alisedaghatbaf opened #6260 "problem in adding a nav element"
whenever I use the nav-element generator to add a new element to the navbar of my jhipster application, I get the following compilation error:
 TS2339: Property 'setLocations' does not exist on type 'JhiLanguageService'.
Any help would be appreciated.

[2017-08-20 15:03] jdubois commented on #6260
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-20 15:03] #6260 closed

[2017-08-20 15:22] alisedaghatbaf opened #6261 "problem in adding a nav element"
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.me.simple",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "4.6.2",
    "baseName": "twcfd",
    "packageName": "com.me.simple",
    "pa

[2017-08-20 15:43] gmarziou commented on #6261
What makes you think it's an issue with generator-jhipster and not with generator-jhipster-nav-element?
You should also report the version of generator-jhipster-nav-element.
Have you considered reporting this to the author of the module?

Unrelated to your issue: be aware that we recommend using LTS versions of node and you're using node 8.x

[2017-08-20 15:50] gmarziou commented on #6261
Discussion for JHipster team: https://groups.google.com/forum/#!topic/jhipster-dev/ZvUl3YFar_I

[2017-08-20 17:37] xdworkshop commented on #6257
I don't know. I wanted to code my project and as a workaround, i've renammed my entity to StockAlert ...

[2017-08-20 19:38] filiipake commented on #6044
hey, anyone could tell me how can i create an application using react ?

[2017-08-20 20:51] gmarziou commented on #6044
@filiipake this is written in this subject.

[2017-08-20 22:25] JinnaBalu opened #6262 "Sessionless tocken save along with the user table, option to update the the tocken."
If we want to have the sessionless tocken, we just wanted to save the tocken along with the user table, pass the same tocken on every REST call till i update the new tocken. Is this possible to achieve with current Jhipster version.

[2017-08-20 22:37] ruddell commented on #6262
@JinnaBalu We use Github as our issue tracker, if you have questions like this please take them to Stack Overflow and tag them with [jhipster](http://stackoverflow.com/questions/tagged/jhipster).  Another option for help is Gitter but StackOverflow has a larger audience.

------
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com

[2017-08-20 22:37] #6262 closed

[2017-08-21 06:08] deepu105 commented on #6261
In any case this issue should be reported to the specific module and not here

[2017-08-21 06:08] #6261 closed

[2017-08-21 10:55] lchayoun opened #6263 "Access control policy is not working"
##### **Overview of the issue**

When trying to use AccessControlPolicy, the return code is 200, instead of 403, and the request is getting routed to the service

##### **Motivation for or Use Case**

This is unexpected since the request shouldn't be routed

##### **Reproduce the error**

1) configure AccessControlPolicy
2) access the relevant uri

##### **Related issues**

Not found

##### **Sugg

[2017-08-21 12:31] dhireshartron opened #6265 "Gulp to minify extra installed BowerComponets CSS Files and to inject into vendor"
##### **Overview of the issue**
When i build my app in production i does not minify my extra installed bower components which are basically CSS files and also does not inject it into  vendor.css

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity conf

[2017-08-21 12:33] jdubois commented on #6265
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-21 12:33] #6265 closed

[2017-08-21 12:55] atomfrede commented on #6252
I have replaced our custom docker file build with the gradle docker plugin, works fine. Will try to do a first PR during the week.

[2017-08-21 12:56] PatrickHuetter commented on #5754
+1 for this feature. There are many advantages having the angular app outside the java application. For example serving the angular app via CDN or via docker container scaled over different docker-hosts and so on.

[2017-08-21 12:57] jdubois commented on #6086
Any progress @tchlyah ? Should we keep this opened?

[2017-08-21 13:01] jdubois commented on #6252
Great job here!!! All those are really non-trivial issues, and it looks like the Spring Boot Gradle plugin isn't very good. So I'm really happy that we have an explanation on our issues.

[2017-08-21 13:07] PatrickHuetter opened #6266 "[Feature request] Provide angular auth/security directives and services as npm/yarn package"
##### **Overview of the issue**
At this time the the jhiHasAnyAuthority directive isn't available as npm/yarn dependency. It would be fine to have it within the ng-jhipster project so that it would be possible to use external angular apps and themes.

##### **Motivation for or Use Case**
We would like to use jhipster microservice architecture with a custom external angular 4 app (based on a theme

[2017-08-21 16:41] nkolosnjaji commented on #5970
@JulienMrgrd I think this applications are not fully reactive as DomainUserDetailsService is still blocking, right? Reactive application must not block, as it uses very little number of threads.

@cbornet maybe streaming memory from metrics endpoint would be nice, so user can observe memory in real-time during load-test or production in a plot.

[2017-08-21 16:45] cmyker opened #6269 "UserServiceIntTest failure"
##### **Overview of the issue**

Vanilla jHipster installation is failing integration test when you run whole integration tests package.
The reason is that another test class (AccountResourceIntTest) is running before and deleting the data that this test relies on.
##### **Motivation for or Use Case**

##### **Reproduce the error**

I just used fresh jHipster 4.6.2 installation
##### **Related iss

[2017-08-21 17:43] tchlyah commented on #6086
Working on the generator is not as easy as I tought, especially with a new database. For now I'm pretty close, you can follow my work on my repo ([generator-jhipster/couchbase](https://github.com/differentway/generator-jhipster/tree/couchbase))

Here is my progress :
- [x] Database migration with [Couchmove](https://github.com/differentway/couchmove)
- [x] Tests with Docker : [testcontainers-java-

[2017-08-21 18:03] stevehouel commented on #6086
I can help you if you want with cloud integration. Could you describe
remaining tasks for that part ??? I will get your branch asap and work on
it.
Le lun. 21 août 2017 à 19:43, Tayeb Chlyah <notifications@github.com> a
écrit :

[2017-08-21 18:09] stevehouel commented on #6086
Ok I do it asap :) and you r welcome :)
Le lun. 21 août 2017 à 20:07, Tayeb Chlyah <notifications@github.com> a
écrit :

[2017-08-21 20:23] rifatdover opened #6270 "MSSQL Hibernate Query Error After I Enter Audit Logs Page"
##### **Overview of the issue**

[code]

##### **Motivation for or Use Case**
This is a reproducable bug if you follow the steps below.

##### **Reproduce the error**
Create a simple app with Jhipster and choose MSSQL Server as Database.
Login as Admin
Enter Audit Section inside Admin Panel
Then enter Users Section inside Admin Panel

##### **JHipster Version(s)**

4.6.2

##### **JHipster configur

[2017-08-21 20:34] deepu105 commented on #6266
Sorry but our focus is not this and this is not something we have the bandwidth to support. Moving these directive ng-jhipster is difficult as it depends on some services that are generated based on many options. So i'm sorry. You are welcome to try

[2017-08-21 20:34] #6266 closed

[2017-08-21 20:37] deepu105 commented on #6263
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-21 20:37] #6263 closed

[2017-08-22 04:18] mayurbais opened #6272 "webpack+jhipster gateway+debuging javascript"
I have a jhipster gateway app.I see a www folder generated inside target directory. I understand that content is getting served from this folder. But I need to do a debugging on the UI, using a browser's debugger, like the old ways. Where all the java scripts and htmls were loaded in the browser and I could step thru them. Is there any way to achieve this.

Thanks, Mayur

[2017-08-22 04:19] mayurbais opened #6273 "webpack test profile + jhipster gateway app"
In my jhipster gateway app, there is a webpack folder on the root. I understand that by default generation of app run the dev profile. There is also a file called "webpack.test.js". what is the difference between Dev and Test. And how to run the build with test profile.

-Regards, Mayur

[2017-08-22 05:28] jdubois commented on #6272
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-22 05:28] #6272 closed

[2017-08-22 05:29] jdubois commented on #6273
You also opened #6272 without following the guidelines: this is not nice for the team or for other users, please follow the project guidelines

[2017-08-22 05:29] jdubois commented on #6273
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-22 05:29] #6273 closed

[2017-08-22 05:42] gnoopy commented on #2848
May I ask you about your roadmap on Social login support with OAuth2 ?

[2017-08-22 08:07] jdubois commented on #6269
We run those tests all the time (including in our CI system), so I'm pretty sure they work - how do you run them exactly? Do you do something like `./mvnw test`?

[2017-08-22 08:19] cmyker commented on #6269
yes, ./gradlew test

[2017-08-22 08:22] cmyker commented on #6269
[code]

[2017-08-22 08:44] jdubois commented on #6269
I just ran it without any issue.... I used your `.yo-rc.json` with the current master branch (so not exactly your version, but that shouldn't make a difference - anyway this is always run by our CI system). I'm sorry but I can't reproduce.

[2017-08-22 08:49] cmyker commented on #6269
The thing is, if I run the test alone - it works fine, but running them all together breaks it.
I suspect tests order is different for me and for you. Where can I see your CI running those tests?

[2017-08-22 09:01] jdubois commented on #6269
I don't understand how the order would be different - but indeed that's the only logical explanation!
The CI system is at https://travis-ci.org/jhipster/generator-jhipster

[2017-08-22 09:34] cmyker commented on #6269
Yes, my assumption was correct, the order is different for you, see the screenshot
![jhipster-ci](https://user-images.githubusercontent.com/1872718/29558854-ae2b7da6-872d-11e7-82d8-75c79f7956cc.png)

[2017-08-22 09:36] jdubois commented on #6269
OK, so this is indeed a bug (the order shouldn't matter), and now I should be able to find a way to reproduce this.

[2017-08-22 09:38] stieler-it commented on #6162
After upgrading from `generator-jhipster` 4.5.3 to 4.6.2 we cannot build the prod profile any more. Reason is that we are using a `yarn link`ed version of the generator and the Windows workaround for symlinks seems to break when Yarn is trying to build generator-jhipster with `tabtab`. If we remove the `--force` option from yarn in `pom.xml` it does not fail on `tabtab`, but later on the missing s

[2017-08-22 12:17] AdrienHorgnies commented on #6218
**Happy to see this issues was fixed !** Anyway, I've done some search and here is the result :

I've just tested with **4.6.2** and I don't have this problem anymore while I had it with my module a while back :
https://github.com/bastienmichaux/generator-jhipster-db-helper/issues/46 . So I can confirm this issue ran for **4.5.6**.

The option `--force` is used by `import-jdl` here and I don't qui

[2017-08-22 12:19] deepu105 commented on #6218
Everything works fine in master. I have released new version for the
entity-audit module and a new Jhiptser version will be released soon

Thanks & Regards,
Deepu

On Tue, Aug 22, 2017 at 2:17 PM, Adrien Horgnies <notifications@github.com>
wrote:

[2017-08-22 13:48] jdubois commented on #6186
I'm sorry but we only support applications deployed using [our sub-generator](https://jhipster.github.io/aws/).

As you are talking about NGinx and sending your logs, it looks like you did your own configuration here -> this is a configuration question that should go to StackOverflow, not a bug report on our sub-generator.

[2017-08-22 13:48] #6186 closed

[2017-08-22 14:04] gmarziou commented on #6162
Do you really mean 4.6.2 or current master?

[2017-08-22 15:17] agoncal opened #6275 "Enriching the JDL grammar"
##### **Overview of the issue**

The idea of this ticket is to brainstorm about a possible enrichment of the JDL grammar.

##### **Motivation for or Use Case**

ATM the JDL syntax is mostly used to describe all the entities and their relationships. Having a richer JDL would give many extra code generation possibilities (repositories, services...). On the other hand, it would be the start of having

[2017-08-22 16:51] MathieuAA commented on #6275
I like your ideas, but some depend on the fact that we generate code some special way.
For instance, `with version` implies that the generated code **will** "always" (or for a very long time,  not susceptible to change) have somewhere `@Version` on a field.
The same remark applies for `extends AbstractAuditingEntity `.

If we were to change the code (because some new way would be better than some

[2017-08-22 17:18] atomfrede commented on #6275
👍 I really like the idea to make the jdl more powerful. Especially the idea to be able to provide some more hints to an entity as I was asked multiple times already how to get audit functions.

[2017-08-22 20:03] setterlee opened #6277 "Request reset password no show message if the mail don't exist"
##### **Overview of the issue**

When a user try the reset his password and insert a wrong email, the application don't show the message for wrong email.

##### **Motivation for or Use Case**

the "password reset init component" is evaluating the "response.message" to validate if it's equal to the string "email address not registered" but the message come as the messages body. (message._body)

###

[2017-08-22 21:07] stieler-it commented on #6162
The problem appeared after upgrading to 4.6.2

[2017-08-22 23:14] gmarziou commented on #6162
As a workaround you could try to add `--ignore-scripts` to yarn options as run by the maven plugin.
4.6.3 will include removal of the tabtab and should be out soon.

[2017-08-23 07:01] stevehouel commented on #6139
@bleporini any news from your side ?

[2017-08-23 07:17] denisdeville commented on #5518
Thank you @gmarziou ! Working on Windows 10 and have had this problem for a while. Just tried to clean yarn cache and install phantomjs globally and everything went fine !

[2017-08-23 09:50] stieler-it commented on #6162
Thank you, works for us.

pom.xml diff
[code]

`mvn clean package -Pprod` -> success

[2017-08-23 14:46] agoncal opened #6281 "Migrate to the new HttpClientModule from Angular 4.3"
##### **Overview of the issue**

Angular 4.3 brings a new module for HTTP communication. This new module has "_updated API's with support for progress events, json deserialization by default, Interceptors and many other great features_".

##### **Motivation for or Use Case**

JHispter 4.7 has upgraded Angular from 4.2.6 to 4.3.2. From Angular 4.3 a new HTTP module has arrived and it should be the

[2017-08-23 19:18] rifatdover commented on #6270
Do you have any idea about this problem?

[2017-08-23 21:10] gmarziou commented on #6270
Unfortunately, MS SQL is not widely used in our community.
I would suggest that you find in logs how this query is translated into SQL and what are its parameters, either it's already logged above the error or you may have to tune logging for Hibernate or the JDBC driver.

[2017-08-23 22:42] ruddell commented on #6270
This is a weird issue.  The user management page works fine until you visit the audits page, then the same query for getting managed users suddenly fails...  I have no idea why this would happen.

The hibernate query in question:
[code]

[2017-08-23 23:07] gmarziou commented on #6270
I think this query matches this repository method:

`Page<User> findAllByLoginNot(Pageable pageable, String login);`

The pageable seems to be correctly bound : `offset 0 rows fetch next 20 rows only`
So could there be a problem with login in `user0_.login<>?`.

Do you know the parameters?

[2017-08-24 07:51] xtremebiker opened #6283 "Either MissingServletRequestPartException and MissingServletRequestParameterException should throw a Bad Request error code"
##### **Overview of the issue**

The generated ExceptionTranslator catches the `MethodArgumentNotValidException` and the `CustomParameterizedException`, but `MissingServletRequestPartException` and `MissingServletRequestParameterException` should as well be caught and treated to return bad request codes.

##### **Reproduce the error**

Created a new REST endpoint to display entity field suggestion

[2017-08-24 12:34] AresSec opened #6284 "Jhipster heroku does not support ClearDB"
##### **Overview of the issue**

I'm using JHipster Heroku to deploy my app to Heroku. Within Heroku I'm using a ClearDB instance as database. Everytime I deploy via:

`jhipster heroku`

It creates a new JawsDB as addon and not the ClearDB which is already in place:
[code]

When the deployment is finished I've two running DBs:

[code]

How is it possible to change the heroku plugin to use ClearDB

[2017-08-24 13:07] PierreBesson commented on #6284
ping @jkutner

[2017-08-24 13:46] jkutner commented on #6284
@AresSec thanks for reporting this. I don't think I'll add the ability to select ClearDB as an addon, because I don't want to encourage people to use it (I've had way too many problems with it). But I could improve the Heroku generator to avoid adding the JawsDB addon if the ClearDB addon has been manually added.

Would that work for you?

[2017-08-24 13:50] AresSec commented on #6284
@jkutner thank you for the really quick response. Indeed for me (and hopefully for others as well) it would work if the generator would use a manually added addon if it's already there.

[2017-08-24 13:52] jdubois commented on #6184
This issue doesn't make no sense (wtf is this with Cassandra instead of MongoDB??), and the original author doesn't want to contribute, let's close this...

[2017-08-24 14:45] irbian opened #6285 "ExtractTextPlugin and Thymeleaf interaction"
##### **Overview of the issue**

Please excuse my inexperience, I´m far from an expert on jhipster or webpack. Here is the thing

I got this error when deploying the webpack:prod build

    Caused by: org.xml.sax.SAXParseException: The element type "link" must be terminated by the matching end-tag "</link>".
        at com.sun.org.apache.xerces.internal.util.ErrorHandlerWrapper.createSAXParseExcep

[2017-08-24 15:51] deepu105 commented on #6285
I dont understand your issue at all. Can you explain clearly what you are trying to do? Are you able to reproduce this issue with a fresh app generated using the same config?

[2017-08-24 17:05] shekvl opened #6286 "JDL support for filtering is missing in 4.7.0"
##### **Overview of the issue**

In 4.7.0, jdl-import generator does not create `"jpaMetamodelFiltering": true` entries in .jhipster/*.json files (enabling criteria query generation), and there seems to be no way currently to enable such generation from JDL.

##### **Motivation for or Use Case**

Without this functionality, it is not possible to correctly update filtering-enabled entities from JDL

[2017-08-24 18:01] irbian commented on #6285
I started a new project from zero and I can see now why this doesn´t happen on new projects. Because by default index.html is not parsed as a thymeleaf template

If you try to do it (for example for exposing some config from the server), you´ll get the error that I´m talking about (Caused by: org.xml.sax.SAXParseException: The element type "link" must be terminated by the matching end-tag "</link>

[2017-08-24 19:12] JinnaBalu opened #6288 "Issue with upgrade/install with latest version"
![image](https://user-images.githubusercontent.com/11784253/29683976-ebd89024-892d-11e7-8108-abd5c8de50de.png)

[2017-08-24 19:17] JinnaBalu commented on #6288
i have uninstalled yeoman generator, installed again it got latest.

npm uninstall -g generator-jhipster

npm install -g generator-jhipster

it worked

[2017-08-24 19:20] #6288 closed

[2017-08-24 20:53] gmarziou commented on #6162
I think we clan close this issue as tabtab has been removed in 4.7.0 and we can open a improvement issue to track how to provide completion in a less intrusive way.

[2017-08-24 20:53] #6162 closed

[2017-08-24 21:06] hakandilek commented on #6275
@agoncal thanks for bringing that into discussion and letting me know about that. I agree that JDL is a lot more powerful than CLI and I am a fan of "persisted textual representations of domain models". ;-)

vagabond-uml has started about a year ago to put some ideas about making JDL more flexible. It was not updated since then due to the lack of interest from the community. At that time we have e

[2017-08-25 06:06] deepu105 commented on #6286
ping @MathieuAA

[2017-08-25 06:06] deepu105 commented on #6286
@shekvl the feature is not supported by JDL yet

[2017-08-25 06:09] deepu105 commented on #6285
This is by design as the index.html is supposed to be an angular app and not handled by thyme leaf. This is a very rare use case. If you wish you could try to configure the plugin add end tags to make it compatible with Thymeleaf but I dont think we will have bandwidth to do this

[2017-08-25 06:09] #6285 closed

[2017-08-25 06:13] deepu105 commented on #6285
FYI. The links are added to index.html by the `HtmlWebpackPlugin` so you should start looking at the docs of that plugin. I found this option

`xhtml: true | false` If true render the link tags as self-closing, XHTML compliant. Default is `false`

So this would solve your issue. You could PR this if you wish

[2017-08-25 06:16] irbian commented on #6285
Cool this will be very helpful

[2017-08-25 06:18] irbian commented on #6285
Just curious, how you people expose server properties if needed, through some api?

[2017-08-25 06:22] MathieuAA commented on #6286
@deepu105 Roger that, I'll handle it

[2017-08-25 06:55] deepu105 commented on #6275
@jhipster/developers let me share my thoughts. I had some discussion with @agoncal regarding this and I believe I had some exchanges with @MathieuAA on similar things in the past. These are my personal opinions.

I believe that DSL is very powerful and hence JDL should be the future and hence promoted over the CLI for detailed tasks like entity generation, service creation etc. I would love to mak

[2017-08-25 07:07] deepu105 commented on #6275
Imagine how magical it would be to have an entire microservice stack generated from one command with the JDL above :sunglasses:

[2017-08-25 07:09] #6237 closed

[2017-08-25 07:10] deepu105 commented on #6285
take a look at profileResource

[2017-08-25 07:21] MathieuAA commented on #6275
@deepu105 the app generation is done (minus some probable minor changes I might make before releasing).
With the first version of the app generation one can generate apps (no big deal).
The second version (more of an improvement really) that I intend to commit this week-end will enable adding entities to **any** previously created app (in the same or any separate file).

About the first version, d

[2017-08-25 07:33] deepu105 commented on #6275
@MathieuAA what is the syntax that you have now?
It would be very nice if it is something like

[code]
 so that segrgation is easier and and it is easier to read as well. WDYT?

[2017-08-25 07:35] deepu105 commented on #6275
@MathieuAA also I think its very important that we all agree on the syntax/grammar before releasing this else it will become difficult to change later so lets discuss and get concurrence from the core team first here before we release version1 as its a big step

[2017-08-25 07:48] agoncal commented on #6275
@deepu105 I like the "new" syntax that you are proposing: one single file to generate an entire app (this new syntax could be an excuse to get a JHipster 5.0 ;o).

ATM when I need to add new attributes on an entity, I always try to keep my JDL up to date. So for me, it feel redundant to have the entity descriptors (under `.jhipster`). You have twice the same information, and you can either generat

[2017-08-25 07:55] MathieuAA commented on #6275
I had a more "split" syntax in mind, so that moving entities to and fro apps (or adding and removing) wouldn't change the app declaration or the entity declaration (for instance one could declare entities in one file, and apps in another). one
Of course, two syntaxes could be possible in any case:

[code]
or
[code]

[2017-08-25 08:28] deepu105 commented on #6275
@MathieuAA while your syntax is perfect for power users it might not be very friendly to beginners and people who look at a JDL for the first time as you have to mentally map entities to apps. Where as grouping them in app makes user experience much better and very easy to read and understand the model. IMO It would be very nice if we can support both what I suggested and one of the option you sug

[2017-08-25 08:37] MathieuAA commented on #6275
@deepu105 Yeah, let's do both.

[2017-08-25 08:56] agoncal commented on #6275
In microservice architectures, you tend to see the same entity name, but with different meaning. So, for example, let's say we have twice the entity `Customer` with total different meaning on 2 applications (so, with different attributes):

[code]

If we can use both syntaxes, we would need to differentiate them. Either fully qualifying the name

[code]

Or using aliases (`as` keyword)

[code]

[2017-08-25 09:01] conker84 commented on #1378
I guys what is the status of this?
@jdubois if i want get this, what is the best way to proceed?

[2017-08-25 09:08] jdubois commented on #1378
@conker84 as you can see, no answer for more than 2 years, so nobody works on this.
Since that time we have added the ability to do [modules](http://www.jhipster.tech/modules/marketplace) and that would probably be the best solution for you to implement this, as you won't depend on us.

[2017-08-25 09:10] MathieuAA commented on #6275
Fully qualifying is a good idea.

[2017-08-25 10:03] conker84 commented on #1378
I checked the [docs](http://www.jhipster.tech/modules/creating-a-module/) and for what I had understand a module is not a solution because there is only the "Post Entity creation hook" and a Neo4j java bean has it own annotations.
What do you think?

[2017-08-25 10:14] jdubois commented on #1378
Maybe you would need some new needles for this - depends on what the integration requires

[2017-08-25 10:47] conker84 commented on #1378
A direct integration in the generator-jhipster could be a solution?

[2017-08-25 13:48] hakandilek commented on #6275
I like the idea of generating entire microservice stack based on JDL without CLI interaction.

What about other JDL sytax changes and backwards compatibility? Is it a better idea to push other proposed changes like service, repository, and (env)variables and still keep it compatible with the current JDL syntax or skip the overhead and keep it simple?

[2017-08-25 14:01] MathieuAA commented on #6275
Implementing new things like that isn't an issue for me. As @agoncal and I talked about last time we met, it's more about to make it possible in the generator.

[2017-08-25 14:29] #6284 closed

[2017-08-25 17:33] agoncal commented on #6275
And what about the best of both worlds.

We could use *singular* to mark an artifact (eg. `entity`, `repository`, `service`...)  and *plural* to mark a reference to an artifact (eg. `entities`, `repositories`, `services`...). And we could still qualify names.

Is something like that readable:

[code]

[2017-08-25 20:12] DorBashan opened #6290 "Null Dates in entities from JDL using Angular4"
##### **Overview of the issue**

I generated an Angular4 project and used JDL to generate an entity with a date field.
When i tried to save the entity with a chosen date i found out that the date from the view
is returning null, means there is no binding between the entity model and the view.

##### **Motivation for or Use Case**

After reading about possible solutions I found out that `[(ngModel)

[2017-08-25 21:59] shekvl opened #6291 "liquibase:diff produces bytea entries for LocalDate, Instant, and ZonedDateTime properties"
##### **Overview of the issue**

Running `mvnw liquibase:diff` after adding a `LocalDate`, `Instant`, or `ZonedDateTime` property to the entity (e.g from JDL) produces a command to add column of `bytea` type in the liquibase changelog instead of `date` or `timestamp`.

##### **Motivation for or Use Case**

Resulting fields are not compatible with the intended values, leading to exceptions at runti

[2017-08-25 22:45] pascalgrimaud commented on #1378
I don't think so. It would be a lot of work for us, and few people asked Neo4j for the last 2 years.

If you need this, you can do a module, as suggested. With module, you can do what you want:
- use post entity hook and needles
- parsing entity file + replace
- replace the entire file

You are totally free. And if the module is a success, we can think about integrating directly to the generator-j

[2017-08-26 07:06] deepu105 commented on #6290
Im confused. This is something that works well and what is that line about
jsonFormat? I dont think we do that at all.

On Fri, 25 Aug 2017, 10:12 pm DorBashan <notifications@github.com> wrote:

[2017-08-26 07:07] deepu105 commented on #6291
Shouldn't this be something that liquibase should be fixing?

On Fri, 25 Aug 2017, 11:59 pm shekvl <notifications@github.com> wrote:

[2017-08-26 07:31] DorBashan commented on #6290
Forget about how i solved it in my specific situation, bottom line is that
the date input inside the dialog of the entity with date field that being
generated by JHipster does not bind to the entity [see related
stackoverflow issue].
Please follow the steps to reproduce it.

On Sat, 26 Aug 2017 at 10:07 Deepu K Sasidharan <notifications@github.com>
wrote:

[2017-08-26 08:45] cbornet commented on #6291
Yes probably on liquibase side from Hibernate 5 migration.

[2017-08-26 10:21] deepu105 commented on #6290
I have no idea what you are doing I tried to reproduce this and all 3 types of date works fine.
![image](https://user-images.githubusercontent.com/1107223/29740537-0454d55a-8a59-11e7-9501-47bbe79619db.png)

[2017-08-26 10:21] #6290 closed

[2017-08-26 10:30] deepu105 opened #6292 "Spring hot reload fails with exception when creating entity"
When creating new entities and compiling them hot reloading fails with exception

[code]

##### **Suggest a Fix**

Not sure if this is related to recent change in liquibase classpath in urls or from any recent spring boot updates

##### **JHipster configuration**

Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Inf

[2017-08-26 10:33] deepu105 commented on #6290
![image](https://user-images.githubusercontent.com/1107223/29740610-b3eeaa1c-8a5a-11e7-848a-38f511f7a9e4.png)

[2017-08-26 10:38] deepu105 commented on #6292
This happened once but I couldnt reproduce it again @jhipster/developers can anyone check this if you cant reproduce then please close it

[2017-08-26 11:36] deepu105 commented on #6291
@nvoxland do you think this should be handled at liquibase side?

[2017-08-26 12:24] PierreBesson commented on #6292
@deepu105 I did see the same thing happen several times while helping at an Ippon onboarding hackaton. It might be worth it to investigate.

[2017-08-26 13:55] MathieuAA commented on #6275
That'd be a very understandable convention!

[2017-08-26 17:02] agoncal commented on #6275
If the "new" JDL is meant to bootstrap any kind of application, we could have things like that.

### Bootstraping a Monolith

[code]

### Bootstraping a more complex microservice application

[code]
### Keywords

Basically, we would have a bunch of keywords related to the architecture we want:
* `application` just the root, saying that this is an application
* `microservice` for a microservice app

[2017-08-26 22:48] MathieuAA commented on #6275
It may be too complicated:
  - importing introduces a dependency on files (and circular dependencies, could feel like JHipster UML before Deepu fixed it once and for all), **but we may need it pretty soon, so for me that's a yes**
  - the `config` keyword could be omitted entirely, JHipster dumps a `.yo-rc.json` file having a pretty good structure (it's practical and that's what matters).
Having a

[2017-08-27 00:27] cbornet commented on #6275
Defining several micro-services in a unique file feels like distibuting a monolith to me... IMO there should be only one app per JDL.

[2017-08-27 01:46] willcrisis opened #6293 "Gitlab CI + Heroku deploy failed using gradle."
##### **Overview of the issue**

Generated a new JHipster application using Gradle + Angular 4, added Gitlab CI support and checked to deploy to Heroku. Got the following error:

[code]

The full GitLab Pipeline log can be viewed below:

<details>
<summary>log</summary>
<pre>
Running with gitlab-ci-multi-runner 9.5.0 (413da38)
  on docker-auto-scale (4e4528ca)
Using Docker executor with image open

[2017-08-27 06:02] vivekkothari opened #6294 "Scala support for jHipster"
**Overview of the issue**

Scala code generation for jHipster. It can be implemented as a cli input, probably the first input which asks for language which can default to Java.

**Motivation for or Use Case**

There are a lot of enterprise project which are using Scala for developing RESTful services. (I work for a leading Investment Bank and jHipster for Scala would be really helpful)

I am willi

[2017-08-27 07:03] atomfrede commented on #6293
Have you deployed or added heroku before to the generated application? Otherwise the required heroku setup and plugin is not added to the build script I think.

[2017-08-27 07:13] agoncal commented on #6275
@cbornet I think it's important to define "what is an application" ? Today, even the smallest project needs several blocks. These blocks are microservices, of course, but also one or two gateways, a registry, console, admin, log.... All these blocks will form one application (or let's call it product).

If you have:

[code]

You could end up with the following structure:

[code]

But you would als

[2017-08-27 07:50] cbornet commented on #6275
Well, to me, microservices should have independant lifecycle, ownership, etc... So binding them in a JDL file is against the philosophy.

[2017-08-27 08:00] agoncal commented on #6275
@cbornet For a single product, you could just have one microservice and one gateway (therefore, a registry). That's a valid application that needs 3 different blocks.

BTW, when I mentioned the previous structure, I didn't see any inheritance, or binding between the application (therefore, no lifecycle dependency). In terms of pom.xml (let's stick with Maven for now), you'll have:

[code]

[2017-08-27 08:31] cbornet commented on #6275
You have dependency at the JDL level. If there are multiple teams,  who is owner of the JDL ?

[2017-08-27 08:55] deepu105 commented on #6294
I don't think it is a good idea for following reasons:

- It's hell lot of work given the humongous amount of options we support on server side
- We can not maintain one more language on the server side (we already have tough time maintaining multiple frameworks in front end)
- It is **Java Hipster** and we don't have an intention to change that any time soon :wink:
- IMO I don't see much value in

[2017-08-27 08:55] #6294 closed

[2017-08-27 09:49] deepu105 commented on #6275
Nice ideas @agoncal buts lets not complicate things too much
I agree with @MathieuAA mostly except for few thing below

It is redundant but good for readability as you can easily separate the application configuration from other stuff like entities, entity options(pagination, service ..) etc.

Not very sure about this. using the application keyword gives as the flexibility to add an applicationTyp

[2017-08-27 10:15] jdubois commented on #6294
In fact, I did have some discussion with the Lightbend people, some time ago, to have a Play Framework backend for JHipster. For me, it would be possible, in the same way we support AngularJS/Angular/React - you need to recode nearly everything, but as it's porting some existing code that's not impossible. And to start, we could only provide Play Framework for microservices, which are simpler.

An

[2017-08-27 11:56] mabuzagu commented on #2990
@pascalgrimaud  @PierreBesson @yhjhoo I understand the discussion above, but I have not heard the why? Please explain why it is necessary to have a gateway to view the swagger docs for the microservice? i.e. if the microservice is being developed independently by a separate team why constrain them to having to fire up the gateway inorder to view their api? (I understand that you have the endpoint

[2017-08-27 12:44] bd82 commented on #6275
Hello @MathieuAA @deepu105 & everyone else.

I'm the main author of the benchmark linked above:
https://sap.github.io/chevrotain/performance/

And of the [Chevrotain](https://github.com/SAP/chevrotain) parsing library.

### Questions:
1. Can you describe these "annoying limitations"?
2. If you create your own JDL DSL do you also intend to to provide some kind of editor support for it?
   Examples:

[2017-08-27 13:16] dearnani opened #6295 "production packaging failure while webpack bundling"
##### **Overview of the issue**

tried to build the production ready with `mvnw -Pprod clean package`

Its failing with the following console output:

[code]

Please Note: Dev profile is working fine...

##### **Motivation for or Use Case**

##### **Reproduce the error**

can download the required package.json and rest from https://github.com/dearnani/EmiratesGrpOnlineShop

##### **Related issues*

[2017-08-27 14:49] MathieuAA commented on #6275
@deepu105 Yes, this syntax is really good. Let's freeze it for now to know where we're heading.
The whole "abstract" thing is good and easy to implement, plus it's easy to guess what's its use so new and seasoned users know what they'd be using..

I'll have a look at everything you guys have linked to the previous posts.

@bd82 hello there! PegJS doesn't support Regexes, the generated parser is ug

[2017-08-27 15:11] massimosiani opened #6296 "Feature: choose to generate DTOs with Lombok annotations or in the Kotlin language"
##### **Overview of the issue**

DTOs are generated with a standard list of getters and setters. The annotations provided by the Lombok project reduce the boilerplate source code, and they introduce no overhead at runtime.
There is a good plugin for IntelliJ, and I guess other IDEs have nice plugins too.

Going further, a good alternative to the lombok project is the Kotlin Programming Language.

[2017-08-27 15:39] PierreBesson commented on #6275
@bd82

• Does this mean the pegjs grammar is for compilation purposes only and the grammar is duplicated in some Xtext format for editor purposes?
From my understanding this is exactly what is done (sorry I'm not the developer of jhipster-ide and know very little about parsers...). Note that the IDE project is a work in progress and (works for Eclipse) but it's really cool and definitely integrati

[2017-08-27 16:44] cbornet commented on #6296
This has been discussed many times. Check closed issues

[2017-08-27 16:44] #6296 closed

[2017-08-27 18:01] gmarziou commented on #2990
I fully agree with you and it's not that difficult to do it:
- Add springfox jars to your dependencies, use 2.4.0 version as current 2.7.0 has an issue with api_key select HTML input
- Generate a token that never expires using your gateway jwt secret
- Edit your SwaggerConfiguration class to hard code token as api_key in dev profile by providing a SecurityConfiguration bean
- Springfox now returns

[2017-08-27 19:10] gmarziou commented on #6295
Please use `jhipster info` so that we get information about your environment that your repositories do not show.

[2017-08-27 19:52] PierreBesson commented on #2990
@gmarziou I agree to have this in the dev profile, it would be really convenient. The only reason we don't have it already is lack of time, as there are some issues to work around with JWT/OAuth auth. PR is welcome.

[2017-08-27 20:10] gmarziou commented on #6295
By the way your project on github does not work because of missing liquibase files:

`Caused by: java.io.FileNotFoundException: class path resource [config/liquibase/changelog/20170827010346_added_entity_ProductInfo.xml] cannot be resolved to URL because it does not exist`

[2017-08-27 20:35] deepu105 commented on #6275
For JDL studio I provide auto-complete support by adding a custom script. Syntax errors are reported by using the same pegJS parser used by the Jhipster core

[2017-08-27 20:39] deepu105 commented on #6275
@bd82 writing our own parser sounds like a good idea given that it is much more flexible. @MathieuAA what do you think about that and about  Chevrotain parsing library?

[2017-08-27 21:11] gmarziou commented on #6295
I regenerated your project with `jhipster --with-entities` with 4.7.0 and ran successfully `mvnw -Pprod clean package` with few warnings:

<details>
<summary>maven log file</summary>
[INFO] --- frontend-maven-plugin:1.4:yarn (webpack build test) @ emirates-grp-online-shop ---
[INFO] Running 'yarn run webpack:test' in e:\projets\issues\dearnani\EmiratesGrpOnlineShop
[INFO] yarn run v0.27.5
[INFO] $

[2017-08-27 21:12] gmarziou commented on #6295
I'm closing because I'm unable to reproduce it and there's not enough info to help.

[2017-08-27 21:12] #6295 closed

[2017-08-27 21:12] dearnani commented on #6295
Thank you for your kind response, am running onno-liquibase profile

[2017-08-27 21:21] dearnani commented on #6295
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.emrgrp.ecom.shopcart",
      "nativeLanguage": "ar-ly"
    },
    "jhipsterVersion": "4.7.0",

[2017-08-27 21:33] dearnani commented on #6295
Added the missing liquibase files....

[2017-08-27 21:54] dearnani commented on #6295
Issue remain same though i ran with prod, no-liquibase profiles, working fine with dev,no-liquibase profiles.

[2017-08-27 22:27] gmarziou commented on #6295
Have you run webpack in debug as I suggested ?
Beside the ERROR label in output, what makes you think the build failed?
if you looked at my build output, there is also an ERROR label but it's only warnings
Is the war/jar being built?

[2017-08-27 22:43] gmarziou commented on #6295
I ran mvnw -Pprod,no-liquibase clean package  and here is my output:

<details>
<summary>build output</summary>
<pre>
Results :

Tests run: 195, Failures: 0, Errors: 0, Skipped: 0

[INFO]
[INFO] --- jacoco-maven-plugin:0.7.9:report (post-unit-test) @ emirates-grp-online-shop ---
[INFO] Loading execution data file e:\projets\issues\dearnani\EmiratesGrpOnlineShop\target\test-results\coverage\jacoco\

[2017-08-27 23:20] bd82 commented on #6275
So this means you can only report the **first** syntax error, because pegjs stops on the first error
and cannot recover.

Try the [Chevrotain Playground](http://sap.github.io/chevrotain/playground/) and select different "samples" in the input pane while examining the output pane to see how multiple syntax errors
and partial parsing results **auto-magically" just work because the algorithms for fau

[2017-08-28 04:15] MathieuAA commented on #6275
- `Should we move this discussion to jhipster-core repo?` -> https://github.com/jhipster/jhipster-core/issues/141
  - @MathieuAA what do you think about that and about Chevrotain parsing library? -> I have yet to have a good look at everything you guys have posted yesterday, but I do like what I've seen so far.

[2017-08-28 06:03] MathieuAA commented on #6275
I'm locking this thread as I've created the related issue in JHipster Core

[2017-08-28 06:03] #6275 closed

[2017-08-28 06:31] deepu105 commented on #6275
@jdubois do let us know what you think as wellm

[2017-08-28 11:39] jdubois commented on #6275
Thanks @deepu105 - I didn't have a look at all, and I won't be able to do it this week (I'm in New York, meeting lots of JHipster users!). But I trust all of you on this: just go on, and I'll have a look when I have more time.

[2017-08-28 16:40] jdubois commented on #6269
I'm sorry but I tried again to reproduce, by changing the order, and I still can't reproduce:

- Running `./gradlew test` works in both orders
- Running the tests with Intellij IDEA works in both orders

So I'm closing this as I can't reproduce - are you sure you didn't change anything to the original code?? This is so strange.

[2017-08-28 16:40] #6269 closed

[2017-08-28 16:42] jdubois commented on #6293
Yes @atomfrede is right, you need to deploy first so everything is created for you

[2017-08-28 16:42] #6293 closed

[2017-08-28 16:46] jdubois commented on #6292
This isn't a JHipster-generated Liquibase configuration, as you have `db.changelog-master.yaml`. Our Liquibase configuration file is in XML format - I know it's not hispter, but with XML you have auto-completion thanks to the XML Schema, which makes it much better than YAML!

[2017-08-28 16:46] #6292 closed

[2017-08-28 16:51] jdubois commented on #6291
Yes this is a limitation on Liquibase - so this should be reported to @nvoxland and we can't do anything about it ourselves.

[2017-08-28 16:51] #6291 closed

[2017-08-28 16:55] jdubois commented on #6184
No news, so closing this

[2017-08-28 16:55] #6184 closed

[2017-08-28 17:21] deepu105 commented on #6292
@jdubois I didnt generate any such file. This was on a freshly generated app and in fact there was no such file so I'm not sure why it w as looking for that file

[2017-08-28 17:59] willcrisis commented on #6293
Ok. Realized that after running `jhipster heroku` everything worked fine. Shouldn't this information be on the docs? Preferrable at [Setting up Continuous Integration](http://www.jhipster.tech/setting-up-ci/) section.

[2017-08-28 18:15] jdubois commented on #6292
Oh sorry I went quickly, I didn't see you created the ticket.... Then that's not normal at all, like the configuration wasn't picked up, and it started with the default conf file? That doesn't look good at all, I have no idea how this could happen.

[2017-08-28 18:16] jdubois commented on #6293
Yes indeed - I'm having a look at this, could you then review what I write?

[2017-08-28 18:19] jdubois commented on #6293
In fact I'm not sure you shouldn't first deploy to Heroku when using Maven, also (in order to generate the app + database configuration).

-> @pascalgrimaud as you coded this, could you have a look? Could you improve the "deploy to Heroku" section?

[2017-08-28 18:25] jdubois commented on #6270
If this only fails with MS SQL Server, it's either:

- A Liquibase bug, as the schema wasn't correctly generated -> I don't think it is the case, even if the index is missing it's just going to do a full scan, not fail
- An Hibernate bug, not doing the correct the correct query -> that would also be quite strange, as this is a simple request
- An issue with the MS SQL driver

We could upgrade the

[2017-08-28 18:28] jdubois commented on #6286
Thanks @MathieuAA -> I'm closing this here as this should be handled in jhipster-core

[2017-08-28 18:28] #6286 closed

[2017-08-28 19:26] pascalgrimaud commented on #6293
yes back from holidays, I will have a look on this

[2017-08-28 19:30] jdubois commented on #6283
Understood -> this part of JHipster isn't very clear, let me "handle" this :-)

[2017-08-28 19:30] jdubois commented on #6293
Thanks @pascalgrimaud :-)

[2017-08-28 20:35] jdubois commented on #6283
OK so this part of JHipster is much worse than I thought!!

- The back-end code isn't as good as it should be, which is what you point to
- It also sends error messages that should be taken into account by the front-end, using our i18n error codes, but none of them are present. Even worse, there's a "error.accessDenied" and "error.403" that do the same thing but don't work together...

Anyway: tha

[2017-08-28 22:57] rifatdover commented on #6270
I will :)

[2017-08-28 23:12] rifatdover commented on #6270
Well I tried to update both Hibernate, MS SQL Driver and Liqubase. All the same. But it seemed tome  a problem with order. If you dont pass the order parameter from Swagger UI query works fine but when you do that it fails. (After I make a query for Audit logs.)

[2017-08-29 06:09] deepu105 commented on #6292
Ya, might have been a temporary glitch as I couldn't reproduce it on the same setup thats why wanted someone to investigate and seems like @PierreBesson encountered it several times as well

[2017-08-29 08:32] #6270 closed

[2017-08-29 10:12] jdubois commented on #6270
Oh congrats @rifatdover !!!!!

[2017-08-29 10:19] jdubois commented on #6292
@deepu105 well I'm not trusting too much what we see in the Ippon onboardings, it's a training for our new hires, and so typically they do very strange things. It's a great tool to train people, and it's great tool to get feedback (many of my latest ideas come from there, and I have even more I didn't have time to write down), but on the Liquibase part people don't always understand how it works.

[2017-08-29 11:39] MorlaRamakrishna commented on #3527
I had the similar issue with Angular 4 Gateway application

[2017-08-29 12:09] jdubois commented on #3527
@MorlaRamakrishna this makes no sense, this ticket is about an AngularJS 1 monolith!

[2017-08-29 13:29] Thisen commented on #6281
I'm currently working on a migration to HttpClient in the Angular template. I could be assigned to this, if you don't mind.

[2017-08-29 13:32] jdubois commented on #6281
Oh that's nice @Thisen -> I'm sending you an invite as you need to be a member of the project to have a task assigned (that's how GitHub works, I always find it not user friendly...)

[2017-08-29 13:37] Thisen commented on #6281
I have accepted the invite now @jdubois.

[2017-08-29 13:58] ganeshkrishnan1 commented on #3237
jvence above is correct. Your commit  34ff27f is for WebSecurity in jhipster-registry and I am not sure how that would affect microservice project or pre-flight requests to services in microservice project.

I managed to fix this issue by creating new SecurityConfiguration for microservice project. The jhipster does not generate websecurity config for either gateway or microservice project.

[2017-08-29 16:29] yfain opened #6301 "Online-generated app doesn't show the menu Languages"
##### **Overview of the issue**

The online-generated monolithic app doesn't show the menu Languages, while the locally-generated app does.

##### **Motivation for or Use Case**

The online-generated app should be consistent with locally-generated app in terms of the internationalization support.

##### **Reproduce the error**

Download and run the newly generated monolithic app from http://bit.ly

[2017-08-29 18:15] yfain commented on #6126
I'm using internationalization, and when I change the text in any of the json files located in the i18n dir, the app doesn't get recompiled, so I have to re-run yarn start to see the changes.

[2017-08-29 18:36] deepu105 commented on #6126
@yfain may be the i18n directory is not being watched

[2017-08-29 19:18] yfain commented on #6126
@deepu105 I tried to add '.json' to the resolve property in webpack.common.js:
[code]

[2017-08-29 19:56] manisi opened #6303 "Text-align in Right to left lang"
In this version, text align is not set to right for right-left languages. It should be set to right, especially for label tags.

[2017-08-29 21:26] gmarziou commented on #6303
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-08-29 21:26] #6303 closed

[2017-08-29 22:10] PierreBesson commented on #6301
I think this issue should be opened on this tracker: https://github.com/jhipster/jhipster-online/issues as it doesn't concern the generator itself.

Anyway, can you try running the `jhipster` command again in your generated app. If the app was corectly generated by JHipster Online there should be no conflict.

[2017-08-30 01:24] ganeshkrishnan1 opened #6304 "EntityRepository generator in jhipster for microservices still refers to User object"
Line 71 _EntityRepository.java of generator generates entity object with incorrect SQL

   @Query("select <%= entityTableName %> from <%= entityClass %> <%= entityTableName %> where <%= entityTableName %>.<%= relationships[idx].relationshipFieldName %>.login = ?#{principal.username}")

For microservices (with oauth or otherwise) the principal object is not longer User object (as that is somewhere

[2017-08-30 01:24] harryho opened #6305 "Add Client side Vue.js support"
* **Overview of the request**

* **Motivation for or Use Case**

* **Browsers and Operating System**

* **Related issues**

* **Suggest a Fix**

[2017-08-30 01:26] ganeshkrishnan1 commented on #6304
And to add to this, this is only for micro-services project and not monoliths. Not sure how to fix this in _EntityRepository.java for the generator

[2017-08-30 05:10] deepu105 commented on #6126
@yfain I need to take a look at the weboack config but im on vacation now and hence only on mobile. Adding resolve alone might not help. Its an important issue. Can you open a specific ticket for this.
@sendilkumarn can you take a look at this.

[2017-08-30 05:29] #6305 closed

[2017-08-30 05:30] deepu105 commented on #6305
Please follow our guidelines. Current focus is to add React. There is a VueJS module from our core team check that out

[2017-08-30 05:31] deepu105 commented on #6304
These queries should not be generated for microservice

On 30 Aug 2017 3:26 am, "Ganesh Krishnan" <notifications@github.com> wrote:

[2017-08-30 06:09] pascalgrimaud commented on #6126
Maybe related to these lines of code https://github.com/jhipster/jhipster-sample-app-ng2/blob/master/webpack/webpack.common.js#L100-L108 which need to be launched for hot reload ?

Yes, a specific issue would be better

[2017-08-30 06:19] pascalgrimaud commented on #6304
See https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/templates/server/src/main/java/package/repository/_EntityRepository.java#L68-L73
There is a condition `if (relationships[idx].relationshipType === 'many-to-one' && relationships[idx].otherEntityName === 'user') {` so it should not be generated

It depends on your configuration, your entities and what you did.
Can you

[2017-08-30 06:49] massimosiani commented on #6296
@cbornet I agree about the lombok project, didn't see the closed issues.

However, I do not think that the Kotlin part has ever been discussed. I am not proposing to generate an application in a new server side language, but only to generate a part of the application using Kotlin. There has been much interested around that, and I think it can be useful for some users to have Kotlin preconfigured i

[2017-08-30 06:58] mraible commented on #6296
Nothing speaks louder than code! Send us a PR for Kotlin support and we'll consider it.

However, it's probably best implemented as a module since KHipster doesn't have a great ring to it. 😉

[2017-08-30 08:42] acartapanis opened #6306 "Support for embedded and elementcollection"
Please add support for Embedded and ElementCollection.
The main requirement is to be able to add a simple entity, that is embedded in a standard entity rather that have his own table/collection.

Typical sample is an Address class, that only contains a few strings. Address object is used by many other entities, but we do not want do create a table of addresses.

Element collection is simply a coll

[2017-08-30 08:42] ganeshkrishnan1 commented on #6304
So it seems on microservices (or anything other than uaa) User is a reserved entity.
This seems to be a edge case when a custom User object is created on a micro service (or gateway)

[2017-08-30 10:10] sinaghazi opened #6307 "swagger-codegen 2.2.3 does not run"
##### **Overview of the issue**
On a micro-service application version 4.7.0, once you run the project using `./mvnw spring-boot:run` with swagger-codegen-maven-plugin 2.2.3 an error is raised during run command.

`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.boot.autoconfigure.liquibase.LiquibaseAutoConfiguration$LiquibaseConfiguratio

[2017-08-30 12:09] satish-pokala commented on #4965
what is the solution for this problem, even I am getting the same issue with "jhipsterVersion": "4.3.0" when UI is trying to load global.json file it ended up with 401 & the UI does not have any labels.
labels files must be allowed to everyone, even if there is no signed in user for us.

[2017-08-30 12:22] yfain commented on #6301
Opened this issue here: https://github.com/jhipster/jhipster-online/issues/15

[2017-08-30 12:23] #6301 closed

[2017-08-30 12:35] yfain opened #6308 "Webpack doesn't rebuild UI when files in i18n directory change"
##### **Overview of the issue**

If you generate the app without using internationalization, all the text of the UI is located in html files (components templates). Running the app in dev mode with `yarn start` works fine - webpack rebuilds the app and you can see the changes.

If you use internationalization, the text of the UI is stored in the files in the directory in json files, e.g. webapp/i1

[2017-08-30 14:11] cbornet commented on #6296
Kotlin has also been discussed. See #2505
Note : I love Kotlin and I think it would make an awesome module but that's a lot of work...

[2017-08-30 15:10] PierreBesson commented on #6296
@massimosiani Even if you don't want to create the module yourself, maybe you can create a sample project first to show what you want to do.

[2017-08-30 15:42] PierreBesson commented on #6307
This looks like the same stacktrace as https://github.com/jhipster/generator-jhipster/issues/6292

[2017-08-30 15:55] dancancro commented on #6296
I'm working on adding a Kotlin feature to my big example app. I got it from one of the [Thinkster Real World backends](https://github.com/gothinkster/kotlin-spring-realworld-example-app). You are all welcome to critique my adaptation of it. The main adjustment I made concerns the User modeling since JHipster precludes adding fields to User. I'm also adding the Angular front end and adapting that o

[2017-08-30 16:43] manisi opened #6309 "Text-Align in Right to left langs"
##### **Overview of the issue**

 Text align is not set to right for right to left languages. It should be set to right, especially for label tags.

##### **Motivation for or Use Case**

when set languages to farsi (RTL) text-align not set to right.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

Us

[2017-08-30 17:26] ruddell opened #6310 "Gateway Missing WebSecurityConfig with UAA"
##### **Overview of the issue**
When a user's token from the UAA expires, the translations fail to load causing an empty page to appear.
![screen shot 2017-08-30 at 10 11 21 am](https://user-images.githubusercontent.com/4294623/29885415-9e73980a-8d6b-11e7-8f52-b65927ca7899.png)

##### **Reproduce the error**
 - Generate UAA + Gateway
 - Lower UAA Token Expiration
    - `.accessTokenValiditySeconds

[2017-08-30 17:27] ruddell commented on #4965
@satish-pokala I fixed this in a separate project by adding [a WebSecurityConfiguration.java](https://gist.github.com/ruddell/585811967589120130e8c7fd6e78b841) into the Gateway's `config` package.  I opened an issue to track this #6310

[2017-08-30 17:40] sinaghazi commented on #6307
It is actually the same stacktrace as #6292 an error on liquibase. But when we changed the swagger-codegen to 2.2.2 the liquibase error disappeared

[2017-08-30 22:58] PierreBesson commented on #6307
This is super strange, IMO the LiquibaseAutoconfigutation should not be triggered as we correctly define the SpringLiquibase bean here : https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/java/io/github/jhipster/sample/config/DatabaseConfiguration.java

We should did into this deeper rather than downgrading anything. Unfortunately I won't be available for a few days, so if someon

[2017-08-31 01:26] ludoch opened #6311 "WEB-INF content is not added to the packaged prod war file."
##### **Overview of the issue**

WEB-INF content is not added to the packaged prod war file

##### **Motivation for or Use Case**
 If I create a src/main/webapp/WEB-INF/foo.xml, the prod profile does not add it in the final or war.  I think somewhere in the pom.xml logic, a plugin is filtering out it.

It seems the prod profile pulls in WEB-INF/ content from target/www, which doesn't have the src/

[2017-08-31 11:07] gmarziou commented on #5997
Just for the record, spring-cloud-netflix project has just removed Lombok in 1.4.0.M1

[2017-08-31 12:30] tchlyah commented on #6086
@stevehouel, any advancement?

[2017-08-31 12:32] stevehouel commented on #6086
No sorry a bit busy right now but till next week. After that i should be
free to work on it
Le jeu. 31 août 2017 à 14:30, Tayeb Chlyah <notifications@github.com> a
écrit :

[2017-08-31 14:51] jdubois commented on #6306
- Totally understand the use case, in fact I'm doing this quite often personally
- But that's a lot of work: the JDL part, the Java part, and most importantly the AngularJS/Angular/React parts...

-> for me we can't have a high priority for this at the moment (as we are going to add the React support), but I really see this as a "best practice" not many people use, and I would love to push this

N

[2017-08-31 15:05] jdubois commented on #6105
Oh I didn't know that NaturalId was cached in L2 - thanks @Blackdread !!!!

- For me we use JPA unless we require an Hibernate-specific feature. So I have no issue with using this.
- Of course this needs some testing, but if this gives us automatic L2 cache, then that's less code and issues, and I love it
- The `mutable=true` looks like calling for performance issues and/or bugs. The idea with the

[2017-08-31 15:14] jdubois commented on #5629
Sorry for my previous comment @Blackdread - I see that in fact you are an Hibernate master (in ticket #6105 ) and that I should listen to you more :-)

Anyway: this as been opened for too long, and I'm not sure we can find an easy solution. I just don't have enough time at the moment to work on this - @gzsombor @cbornet you are probably the 2 best experts here, what do you think? Should we close t

[2017-08-31 21:08] cbornet commented on #5629
There is really a bug so I don't think we can close this without any fix...

[2017-09-01 05:28] pascalgrimaud commented on #6304
Yes, User is a reserved entity. You need to choose another name.
So it seems there is no issue, I'm closing this.

[2017-09-01 05:28] #6304 closed

[2017-09-01 05:31] pascalgrimaud commented on #6086
No worry about Cloud deployment, it can be done in a later PR.

[2017-09-01 06:20] arushijain45 opened #6313 "Angularjs website not running on safari (on desktop)"
I have created an angularjs website with generator-jhipster. It is working nicely in all browsers except safari (on desktop). It is working even in iPhone but the website is not able to open in Safari on desktop.

After inspecting I can find following error:

I am not getting what the error is all about as it is opening in other browsers without any error. Please suggest some solution.

**Version*

[2017-09-01 06:37] jdubois commented on #6313
I'm sorry but JHipster 2.x is so old, this is bound to happen.
And we cannot support such an old release.

[2017-09-01 06:37] #6313 closed

[2017-09-01 07:30] #6283 closed

[2017-09-01 08:44] cbornet commented on #6283
There are other standard Spring exceptions that we override : https://github.com/spring-projects/spring-framework/blob/a0bce618c2f51d8af1fc00ee2c3868ba2c8e0045/spring-webmvc/src/main/java/org/springframework/web/servlet/mvc/method/annotation/ResponseEntityExceptionHandler.java#L106
We should probably do something for them also.
Also, I propose to use [rfc7807](https://tools.ietf.org/html/rfc7807)

[2017-09-01 08:51] pascalgrimaud commented on #6306
Agree with you @jdubois
Currently, it is really faster to directly code to your personnal project, than coding all parts (JDL, Java, Front, etc.) in the generator. As you said, it can take weeks/months to code everything, for all database.

Not sure it is worth it... Maybe @acartapanis you want to contribute for a first working implementation?

[2017-09-01 09:49] cbornet commented on #6283
After some digging, I think we should remove our `ExceptionHandler` beans and use a global `ErrorAttributes` instead. I'll try something asap.

[2017-09-01 12:03] jdubois commented on #6311
I'm taking this one as I know what @ludoch wants to do

[2017-09-01 12:18] arushijain45 commented on #6313
So I got my answer myself. Anyone else suffering from this issue please check every state in stateProvider.
I had params defined two times in one of my state like this:

Adding data2 in first block of param removed my issue for Safari.

[2017-09-01 12:20] jdubois commented on #6313
Thanks for posting your answer!!! Too few people do this

[2017-09-01 12:27] jdubois commented on #6311
This is "normal" as the content comes from `target/www`, and there are 2 ways to solve this:

- Copy the files from `src/main/webapp/WEB-INF` to `target/www` using Webpack: this would work for both Maven and Gradle, but it would mix front-end and back-end stuff, which I'd rather not do (as there are lots of discussion for separating them)
- Add `src/main/webapp/WEB-INF` to the WAR file using the M

[2017-09-01 13:26] #6311 closed

[2017-09-01 13:50] atomfrede commented on #6311
I can do it for the gradle build.

[2017-09-01 13:53] jdubois commented on #6311
Thanks @atomfrede !

- Yes it's important so we are consistent across build tools
- Then @ludoch is using this to deploy on Google App Engine and uses a specific Maven plugin for that, so he probably won't benefit from it

[2017-09-01 15:37] gmarziou commented on #6313
@arushijain45 sorry that you spent time on this as tools can spot it within seconds.
Running `gulp eslint` (`grunt slint`in your case) first detects  `,,`:

[code]

Fixing it and re-running again detects the repeated `param`

[code]

[2017-09-01 17:54] atomfrede commented on #6252
@jhipster/developers We plan to shedule our next hangout on Sep. 6th 18.00 CEST. I think it would be cool if at least @deepu105 or @jdubois would join us. @oehme Is date and time still fine for you?

[2017-09-01 20:17] supercobra commented on #6019
Same issue as @ndjordjevic. Tried on Linux and macOS.

[2017-09-01 20:18] gmarziou commented on #6019
@supercobra please open your own issue with all the required details

[2017-09-01 21:06] tchlyah commented on #6086
Perfect then! I'm now on vacation, I'll be back next week, as soon as I return I will make the PR. Hope that @stevehouel will finish it before my PR 😉

[2017-09-02 09:08] jdubois commented on #6252
I'd love to participate, unfortunately I have no idea for which client I will work on Wednesday... Please send me the invitation, and I'll do my best!

[2017-09-03 17:46] supercobra opened #6316 ""jhipster aws" error "<project>/node_modules/generator-jhipster/node_modules/less" not found"
##### **Overview of the issue**
Error running "jhiptser aws" on multiple macOS and Linux machines.

`jhispter aws`

[code]

##### **Reproduce the error**

Run same command: `jhipster aws`.

##### **Workaround**

In some cases, running `npm install aws-sdk` before running `jhipster aws` solves the issue.

##### **JHipster Version(s)**

v4.7.0

##### **JHipster Version(s)**

[code]

##### **JHipster

[2017-09-03 17:48] supercobra commented on #6316
Seems to be same issue as [https://github.com/jhipster/generator-jhipster/issues/6019](https://github.com/jhipster/generator-jhipster/issues/6019)

[2017-09-03 18:37] atomfrede commented on #6252
Here is the PR for the gatling plugin: https://github.com/lkishalmi/gradle-gatling-plugin/pull/42

[2017-09-03 20:40] gmarziou commented on #6316
About your environment:
- You're using node 8.x, we recommend using an LTS version 6.x
- Do you mix yarn and npm?

[2017-09-03 23:14] pascalgrimaud commented on #6316
probably missing install part here for Yarn:
https://github.com/jhipster/generator-jhipster/blob/master/generators/aws/lib/aws.js#L17

[2017-09-04 00:22] supercobra commented on #6316
I already tried node LTS 6.x and got the same error.

Now, I just tried `jhipster devbox` and got the same error:

[code]

[2017-09-04 05:53] gmarziou commented on #6316
OK, so maybe something specific to aws. Have you tried running the command manually?

yarn add aws-sdk progress uuid --modules-folder node_modules/generator-jhipster/node_modules

[2017-09-04 08:06] SidMorad commented on #4850
We are using Microservices architecture, and we also want to add social login functionality. I did some test with latest version(`4.7.0`) and with minor manual modifications I progress forward into [this issue](https://github.com/spring-projects/spring-social/issues/216).

Since this feature discussed here, I was wondering if any work is in progress on this right now?

Thanks!
p.s. You can count o

[2017-09-04 08:08] jdubois commented on #6316
Hi, could we have a better title here? Please read the guidelines

[2017-09-04 08:19] jdubois commented on #4850
No progress that I know of.... For me the priority would be #6139 as this would help for so many complex use cases like this one, but this isn't going forward at the moment.

[2017-09-04 09:51] jdubois commented on #6306
In fact @pascalgrimaud that means this ticket would be against [Policy 2](http://www.jhipster.tech/policies/) and this is why I'm closing it.
Anyway, we can't develop this at the moment, the back-end code must be stable while we finish ReactJS support.