[2019-08-06 08:15] atomfrede commented on #10182
Ah so basically it should be in the jhipster online repository?!

On Tue, Aug 6, 2019, 09:28 Avdev4J <notifications@github.com> wrote:

[2019-08-06 08:35] pascalgrimaud commented on #10182
@atomfrede : see https://github.com/jhipster/jhipster-online/issues/120 https://github.com/jhipster/jhipster-online/issues/121 https://github.com/jhipster/jhipster-online/issues/122 https://github.com/jhipster/jhipster-online/issues/123

[2019-08-06 09:10] SarahFekih commented on #8930
i cant import the JDL file, what can i do please
![Capture](https://user-images.githubusercontent.com/53477331/62527025-b07b5f00-b83a-11e9-8b2e-ea980fb68cb2.PNG)

[2019-08-06 09:34] deepu105 commented on #10184
We only support evergreen browsers and hence we can't do anything special here. SO please add required polyfills for your use case.

Also please follow our issue guidelines next time.

[2019-08-06 09:34] #10184 closed

[2019-08-06 09:34] deepu105 commented on #10184
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-08-06 09:37] deepu105 commented on #8930
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2019-08-06 09:39] deepu105 commented on #10178
You are welcome to make a PR to contribute this.

[2019-08-06 09:59] DanielFran commented on #7966
And seems like Springfox 3.0 might be out soon: https://github.com/springfox/springfox/issues/3070

[2019-08-06 10:19] Dap555 commented on #10182
Hi I upgrade the jhipster-online version,
below is jhipster info as per template:

C:\jhipster\jhipster\jhipster-online-master\jhipster-online-master>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration,

[2019-08-06 11:50] NoBadDays commented on #9605
Is this still a bug? I also can't seem to get my **jhipster gae** to work

[2019-08-06 12:12] pascalgrimaud commented on #9605
@NoBadDays : yes, the issue is still opened, as we didn't find someone who wants to work on this

[2019-08-06 13:05] clement26695 commented on #9920
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/9436

[2019-08-06 13:27] Dap555 commented on #10182
Hi,
still I am getting authentication issue,

2019-08-06 15:42:11.574 DEBUG 12712 --- [ XNIO-2 task-21] i.g.j.online.aop.logging.LoggingAspect   : Enter: io.github.jhipster.online.repository.CustomAuditEventRepository.add() with argument[s] = [AuditEvent [timestamp=2019-08-06T10:12:11.572Z, principal=anonymousUser, type=AUTHORIZATION_FAILURE, data={details=org.springframework.security.web.authenti

[2019-08-06 14:23] PierreBesson commented on #10182
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-08-06 14:23] #10182 closed

[2019-08-06 14:25] PierreBesson commented on #10182
This is not a JHipster bug, it is a support request. Please use stack overflow for this kind of problems. We will not help you here.

[2019-08-06 16:25] rabiori opened #10186 "When running on kubernetes and pod is terminated, ContextClosedEvent is not published"
##### **Overview of the issue**

After upgrading to 6.1.2 (from 5.8.2), when running on k8s and pod is terminated, `ContextClosedEvent` is not published, despite being published in the past.

##### **Motivation for or Use Case**

We listen to it and perform some cleanup operations during the grace period, and it is no longer published.

##### **Reproduce the error**

Not sure if it will work the s

[2019-08-06 17:45] cbornet commented on #7966
Dilip is asking for help. Don't hesitate to participate. Springfox is a very well-written lib. You learn a lot by contributing to it.

[2019-08-07 04:10] pmverma commented on #10182
From the log:

[code]
So I think same as @pascalgrimaud that this user is @RaviGithub555.
It is really bad that this user keeps asking for help without following the guidelines.

[2019-08-07 04:39] arabbani commented on #9967
Any update on this?

[2019-08-07 06:43] Dap555 commented on #10182
Hi ,
Still I am getting "your request cannot be processed , status : not found, message : not found, "on screen while clink on button   "create a new jdl model",
Below is jhipster info "Template"
C:\jhipster\jhipster\jhipster-online-master\jhipster-online-master>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome t

[2019-08-07 09:56] rabiori commented on #10186
Appears to be connected to the change of the base image to `adoptopenjdk`, I think

[2019-08-07 12:44] atomfrede commented on #10186
Can you verify it works with e.g. `openjdk`?

[2019-08-07 12:47] rabiori commented on #10186
for me it did

[2019-08-07 12:51] atomfrede commented on #10186
Just asking because I can see any reason what the concrete jvm/jdk why spring should not publish this event (except some performance reason such that the pod is terminated before spring publishes the event).

[2019-08-07 15:10] jkoorts commented on #9999
With a fresh environment it works now thanks. I'll reopen once I have pin point the issue.

cheers

[2019-08-07 15:50] mraible opened #10189 "Implement a micro frontends prototype with JHipster"
##### **Overview of the feature request**

JHipster has a monolith frontend when using microservices. I think it’d be hip if we supported micro frontends too. It probably won’t be easy to implement since the patterns I’ve seen call for serving up the UI on the microservice itself, then including it into a gateway via that URL using SSI, ESI, or h-include.

##### **Motivation for or Use Case**

Mic

[2019-08-07 16:26] caffeinecoders opened #10190 "Support for Google Identity Platform"
##### **Overview of the feature request**

Any plans for integration with Google Identity Platform, like you have done with Keycloak and Okta?

[x] Checking this box is mandatory (this is just to show you read everything)

[2019-08-07 16:30] mraible commented on #10190
If Google Identity Platform supports OIDC (which they should since they helped invent it), it should just be a matter of updating the [documentation](https://www.jhipster.tech/security/#oauth2).

[2019-08-07 17:59] geyuqiu commented on #9579
I am also having some breaking IntegrationTests generated from JHipster that fails after adding unique constraint:
**org.h2.jdbc.JdbcSQLIntegrityConstraintViolationException**

 Can it be grouped into this issue?
Cheers

[2019-08-07 19:07] atomfrede commented on #10189
My 2 cents to this and ideas:

So why microservices and microfrontends? Fo rme the most important part is the independence/freedom of each team responsible for a service. This contains independent deployments, freedom of choice when it comes to technology (within certain boundaries of course).

The current monolithic frontend leads to coupled deployments and each team is coupled to one frontend te

[2019-08-07 19:38] amatosg commented on #9920
thank you @clement26695!

[2019-08-07 19:41] amatosg commented on #10180
@GitAntinus you have to edit this line: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/pom.xml.ejs#L1269 :+1:

[2019-08-07 23:06] amatosg opened #10192 "Application version is "UNKNOWN" when running "npm start""
##### **Overview of the issue**
when running `./mvnw -Pprod` and then `npm start` the version is set to `UNKNOWN`.

##### **Motivation for or Use Case**
I should be able to see the app's version. This was working before 6.2.0

##### **Reproduce the error**
run `./mvnw -Pprod` and access localhost:8080. App's version is present. Then run `npm start`, version is `UNKNOWN` for both localhost:8080 and

[2019-08-08 01:19] pmverma commented on #9579
@geyuqiu,
Unique key constraints issue was already fixed in last version.
Can you test with latest version and see if the problem has been solved or not?
Otherwise, please create a new issue  with all the details.
Of course, it can be grouped here if it was not identified previously.

[2019-08-08 03:43] kaidohallik commented on #10192
Version extract logic changed in #9986 which states:

But if I tested then experienced also behaviour described in this issue: if running `npm start` then version is `UNKNOWN` (both for `localhost:9000` and `localhost:8080`), even if `mvnw`, `mvnw -Pprod`, `gradlew` or `gradlew -Pprod` is running.

[2019-08-08 04:15] kaidohallik commented on #10192
One possible fix is:
* restore removed webpack function utils.parseVersion(): https://github.com/jhipster/generator-jhipster/commit/6a89e7865b20bf07bdf0d3f214e9b9f78382aba7#diff-5cd925490f818bacc2ddd82fba39d801L23
* change current version getter from
[code]
to
[code]

[2019-08-08 04:46] kaidohallik commented on #10192
My suggested fix in previous comment is not correct. If using version from Git then parsing breaks when running `npm start`.

[2019-08-08 05:05] kaidohallik commented on #10192
One possible solution is to revert #9986 and if modifying `build.gradle` to use version from git then modify also webpack files to get also version from git, for example using https://www.npmjs.com/package/git-revision-webpack-plugin

[2019-08-08 05:18] vishal423 commented on #10192
I believe it's due to both `npm start` and `mvnw` builds producing artifacts in the same directory `target/classes/static/` and the one generated by `npm start` doesn't contain the version.

[2019-08-08 06:07] #10153 closed

[2019-08-08 06:15] pascalgrimaud commented on #10192
cc @jack-kerouac, as you're the one who did the PR.
Can you help us on this ticket plz ?

[2019-08-08 06:47] QuentinLeGoff commented on #10153
PR claimed with https://opencollective.com/generator-jhipster/expenses/9456

[2019-08-08 07:06] pascalgrimaud commented on #10153
Just approuved, thanks @QuentinLeGoff !

[2019-08-08 07:07] GitAntinus commented on #10180
thanks very much for your help

[2019-08-08 07:07] #10180 closed

[2019-08-08 07:07] GitAntinus commented on #10180
thanks I just dont get time to do that

[2019-08-08 07:11] GitAntinus opened #10194 "spring-boot-annotations-processor not invoked during compile (maven)"
##### **Overview of the issue**

spring-boot-annotations-processor not invoked during compile
##### **Motivation for or Use Case**
spring-boot-annotations-processor can generate meta data for IDE to assist code completion.

##### **Reproduce the error**
generate a project, run maven compile,
in target/classes
there is no META-INF dir.

##### **Related issues**

##### **Suggest a Fix**
modify the c

[2019-08-08 07:35] GitAntinus opened #10195 "spring-boot-annotation-processor is unable to process package io.github.jhipster"
##### **Overview of the issue**
spring-boot-annotation-processor is unable to process package io.github.jhipster,
where a lot of config is done.
This is because compiler wont compile so wont process the downloaded package,
but to generate metadata, it need to be processed.

##### **Motivation for or Use Case**
to generate better metadata for programming use.

##### **Reproduce the error**
generate

[2019-08-08 08:41] QuentinLeGoff commented on #10153
It was a pleasure and I didn't expect it to be a bug bounty 👍 Thanks !

[2019-08-08 12:01] kaidohallik commented on #10192
Another possible solution: Gradle and Maven will write version to package.json and webpack reads version from package.json as implemented in #9994

[2019-08-08 12:38] atomfrede commented on #10192
Or just use `'${packageJson.version}'` instead of `UNKNOWN`.

[2019-08-08 18:10] SudharakaP opened #10196 "Add Java11 support to Google App Engine Generator"
##### **Overview of the feature request**

Currently the GAE generator can generate deployment files for java 8 (https://cloud.google.com/appengine/docs/standard/java/runtime). However starting recently GAE supports java 11 (https://cloud.google.com/appengine/docs/standard/java/runtime). I suggest we develop a branch of our GAE generator to support java 11. My idea is to initially give the user a

[2019-08-08 20:22] amatosg opened #10198 "[Feature Request] - Frontend: Move FormGroup to service"
##### **Overview of the feature request**
When having entities with many fields, having them in the `entity-update.component.ts` file could be tedious. Also, when coding side-by-side it will force me to duplicate my code for creating the form, updating the form and for creating the entity from form (those can be big methods).

##### **Motivation for or Use Case**
This change would allow anyone to

[2019-08-08 21:18] BLKingLLC opened #10199 "When restarting mvnw with elasticsearch / logstash enabled mvnw throws a elasticsearch index already exists error"
##### **Overview of the issue**
When restarting ./mvnw with logstash enabled I receive an index already exists exception.  The index exists in target/elasticsearch/data/nodes/0/indices.  If I manually delete the index and start ./mvnw it starts correctly and logstash/elasicsearch works fine.  The error is ::
[code]

##### **Motivation for or Use Case**

This bug prevents ./mvnw from compiling and

[2019-08-08 21:53] amatosg opened #10200 "[Feature Request] Create IDs as unsigned"
##### **Overview of the feature request**
When using a SQL db, it doesn't make sense to have negative IDs (AFAIK it would never happen).

##### **Motivation for or Use Case**
Creating unsigned columns would double the range of IDs. I know, it's a very rare scenario, but is still an improvement.

The change would be to simple add `UNSIGNED` in [this](https://github.com/jhipster/generator-jhipster/b

[2019-08-09 00:35] gmarziou commented on #10065
@DanielFran I could not reproduce, I generated a monolith with 6.2.0, enabled logstash in application-dev.yml, started the jhipster-console with docker-compose and started the app with mvnw I got no error. Please clarify your setup.

[2019-08-09 06:03] vishal423 commented on #10108
@mikebski, did you get chance to reproduce this issue following the above instructions?

[2019-08-09 06:04] pascalgrimaud commented on #10196
I think we should.

About maintaining Java8, I wonder if we should. I'd prefer to focus on Java11 but it's just my opinion

[2019-08-09 06:04] vishal423 commented on #10190
@caffeinecoders, current implementation should work with Google or other OIDC providers. Did you face any issues?

[2019-08-09 06:07] pascalgrimaud commented on #8143
@st4rtx : the PR is here https://github.com/jhipster/generator-jhipster/issues/8464

[2019-08-09 08:04] gmarziou commented on #10199
@BLKingLLC could you past the stack trace, not only the cause? Because I don't see the relation between getting a Jest exception and logstash logging. Logstash appender does not connect directly to Elasticsearch, it connects to logstash on port 5000 in jhipster-console, so it does not use Jest at all.

[2019-08-09 09:03] pmverma commented on #9579
This issue has specified 3 problems.
Among them, 1 and 2 have been fixed.
Problem 3 can't be fixed as we have only 4 users (in the JWT and session case) and only 2 users in the case of OAuth. In that case, the developer has to manage the fake data by himself/herself.

I would like to close this issue as per the above comment.

[2019-08-09 09:03] #9579 closed

[2019-08-09 09:42] DanielFran commented on #10065
@gmarziou you can check on the majority of the CIs the error is present...

[2019-08-09 09:46] PierreBesson commented on #10065
I also don't understand this issue. What are the steps to reproduce ?

[2019-08-09 09:55] gmarziou commented on #10065
But in CI, is jhipster-console ready to ingest logs?

[2019-08-09 10:35] DanielFran commented on #10065
There is no failed build, only warnings/errors that appears during the tests that were not present some months ago...

https://travis-ci.org/jhipster/generator-jhipster/jobs/569755854#L5131

[2019-08-09 10:41] gmarziou commented on #10065
OK but 20-docker-compose.sh does not start the jhipster-console so why using logstash in CI if there's no logstash server to listen?

[2019-08-09 12:28] geyuqiu opened #10203 "add tree view e.g. with jstree or other similiar material library"
#####

tree view on Frontend to display the relationships between entities for a simple user of the app

##### **Motivation for or Use Case**

Because of different relationship (1:n, n:n, 1:1) between entities, sometimes the crud-views on frontend doesn't convey a simple overview of entities.

##### **Related issues or PR**

I don't know if there is a similar request already :)

-   [x] Checking t

[2019-08-09 12:59] PierreBesson commented on #10203
@geyuqiu Could you be more precise on your idea, maybe with a diagram/mockup of what this would look like.

[2019-08-09 13:01] PierreBesson commented on #10196
Let's drop support for java 8, especially because it requires to package the app as war. We would be really pleased to receive a PR from you for this !

[2019-08-09 13:09] PierreBesson commented on #10195
So basically your fix is to remove the jhipster lib :rofl:. Don't you think it would be better to add the annotation-processor to the `jhipster-framework` pom. If I understand things correctly this is how spring boot does it for their own libraries.

[2019-08-09 13:13] PierreBesson commented on #10194
For people wondering what this is about : https://docs.spring.io/spring-boot/docs/current/reference/html/configuration-metadata.html#configuration-metadata-annotation-processor

[2019-08-09 13:51] gmarziou commented on #10203
For which frontend framework?

For Angular/Bootstrap, there's https://leovo2708.github.io/ngx-treeview/#/components

[2019-08-09 13:53] DanielFran commented on #10195
I checked quickly and we already have the processor dependency

[2019-08-09 13:58] GitAntinus commented on #10195
I've already processed the package and generated a metadata file. check it out

[2019-08-09 13:59] GitAntinus commented on #10195
it's not only about having the dependency dude. You need to invoke the processor to process the right package to get what you want.

[2019-08-09 14:02] PierreBesson commented on #10195
I think the processor will be invoked by the maven build when the jhipster framework will be released. It's not a the best to add this in the generated source as the JhipsterProperties might change in the future.

[2019-08-09 15:20] nonomoho commented on #10065
We had the problem in our current project with @pascalgrimaud. To fix it, we disabled logstash appender.

[2019-08-09 15:21] pascalgrimaud commented on #10065
Thanks @nonomoho !
Good catch

[2019-08-09 15:58] BLKingLLC commented on #10199
@gmarziou I've updated the ticket with the full stack trace.  It's possible that I'm wrong about it being logstash, but it's definitely the index created in target/elasticsearch/data/nodes/0/indices

[2019-08-09 17:39] #10065 closed

[2019-08-09 20:29] mshima opened #10205 "Configs are not been passed to Entity generator when using blueprints"
When executing jhipster for the first time, configs are not been passed correctly to the entity generator blueprint.

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

Created a test:
https://github.com/mshima/generator-jhipster/commit/54da517f6c8f1908022a83b478720c9985bbc38e

##### **Related issues**

##### **Suggest a Fix**

Seems related to:
h

[2019-08-10 00:28] mikebski commented on #10108
@vishal423 Yes - thanks, it works if I do it like the instructions tell me to...

[2019-08-10 00:28] #10108 closed

[2019-08-10 09:06] pascalgrimaud commented on #9499
@pmverma : I'm adding a bounty on this as it was a lot of work to fix this ! Don't forget to claim it.

[2019-08-10 09:06] #9499 closed

[2019-08-10 09:21] #9769 closed

[2019-08-10 09:21] #9770 closed

[2019-08-10 10:37] #9877 closed

[2019-08-10 10:40] #10158 closed

[2019-08-10 16:26] pascalgrimaud commented on #10194
Fixed by https://github.com/jhipster/generator-jhipster/pull/10201

[2019-08-10 16:26] #10194 closed

[2019-08-10 16:40] pascalgrimaud commented on #10142
as we didn't manage to reproduce, I'm closing this ticket.
Don't hesitate to try the last version and provide more steps to reproduce.

[2019-08-10 16:40] #10142 closed

[2019-08-10 16:46] pascalgrimaud commented on #10096
I think we just need to document that part. It should be enough, as it's hard to support all config between jar, war, jar.original and war.original

[2019-08-10 19:54] pascalgrimaud commented on #10205
it's probably related to https://github.com/jhipster/generator-jhipster/pull/9937
But to be honest, I don't clearly understand this ticket.

Maybe @pvliss you can have a quick look plz ?

[2019-08-10 21:41] atomfrede commented on #10189
I will provide a small proof of concept using tailor/mosaic here https://github.com/atomfrede/jh-10189-poc/tree/master. If that works out well we can go on with a real world prototype using real jhipster services and authentication etc.

[2019-08-11 06:12] pascalgrimaud commented on #9348
Yes I think we can close this ticket, as the new repository has been created:
https://github.com/jhipster/jhipster-operator

[2019-08-11 06:12] #9348 closed

[2019-08-11 06:15] pascalgrimaud commented on #9562
The initial feature request was asked in november 2018, this 2nd one since april.
We agree it would be cool to have it, but as it didn't advance and as there is no news, I'm closing this.

You can do directly PR as soon as it's ready.

[2019-08-11 06:15] #9562 closed

[2019-08-11 06:23] pascalgrimaud commented on #9853
@raiyanalam : sorry, I was quite busy these last weeks. I agree with Pierre. If there is something to do, it should go to https://github.com/jhipster/jhipster.github.io as the release note is there

[2019-08-11 06:29] pascalgrimaud commented on #9859
Agree with Jon Ruddell.
If the authors of module want their image to be displayed in this section, they need to take care in their project (using url instead of local). It would be the easiest solution

As suggested by Pierre, It would be cool to improve our modules section, but I don't think it's a must have. We have a ton of tickets and this one doesn't deserve to spend more time

[2019-08-11 06:29] #9859 closed

[2019-08-11 06:35] pascalgrimaud commented on #9875
I think we have an answer from @pvliss about the Debug log.
It can be improved but as it's for dev only, it's ok -> feel free to PR if someone want to improve this part.

@shougao : about your stacktrace, it's another subjet. If you think you find an issue, plz open a new one

[2019-08-11 06:35] #9875 closed

[2019-08-11 06:47] pascalgrimaud commented on #9999
As it works fine, I think we can close this now.
Don't hesitate to comment and provide all information + steps if you think there is still an issue

[2019-08-11 06:47] #9999 closed

[2019-08-11 11:12] geyuqiu opened #10208 "ManyToMany-Relationship not clear enough"
##### **Overview of the feature request**

https://github.com/jhipster/jdl-samples/blob/master/blog.jh

ManyToMany-Relationship between BlogEntry and Tag is not clear enough

* tag name is not shown on BlogEntrys' view
<img width="1145" alt="Bildschirmfoto 2019-08-11 um 13 09 59" src="https://user-images.githubusercontent.com/4540661/62833100-582cce80-bc39-11e9-9d82-097d14bb2201.png">
* tag name i

[2019-08-11 11:13] pascalgrimaud commented on #10074
GAE is currently broken. There is an already opened ticket. See https://github.com/jhipster/generator-jhipster/issues/9605

That's why I'm closing this.

[2019-08-11 11:13] #10074 closed

[2019-08-11 12:27] pascalgrimaud commented on #10208
I don't understand your ticket.
- is it a bug ?
- is it a feature request ?

You didn't provide all the information, required in template

[2019-08-11 12:33] dearnani commented on #4251
Any progress we have on graph ql with Jhipster ?

[2019-08-11 16:23] geyuqiu commented on #10208
It is a feature request:

ManyToMany-Relationship between BlogEntry and Tag is not clear enough for the user.

[2019-08-11 16:58] pascalgrimaud commented on #10208
Everything is explained here: https://www.jhipster.tech/managing-relationships/#-a-many-to-many-relationship

It's normal as `eagerload` is set to `false`by default. Go to API docs at http://localhost:8080/admin/docs, then try to play with `blog-entry-resource`. You can use `eagerload` to `true`, then, you'll get all the BlogEntry with tags. But you need to custom the front to have it.

It's becau

[2019-08-11 17:01] pascalgrimaud commented on #9960
I discussed with @BananeGuimauve and I though it was possible to edit these variables but I was wrong.
Maybe @avdev4j you have an idea ? As you're our expert on blueprint

[2019-08-11 17:44] pascalgrimaud commented on #9989
After reading closely this ticket, I think it's for a very specific use case.
So the best thing to do here would be to document it, maybe a new tips at https://www.jhipster.tech/tips/ ? -> if you want to do it, you're welcome.

Not sure we can do something on our side, that's why I'm closing this.

[2019-08-11 17:44] #9989 closed

[2019-08-11 17:51] pascalgrimaud commented on #10046
With all these comments, I think we agree to have this as a new tips.
Don't hesitate to create a new one @yelhouti

I'm closing this as we won't implement a specific / dedicated solution for this in a main generator-jhipster.

[2019-08-11 17:51] #10046 closed

[2019-08-11 17:55] krusche opened #10209 "Update dependency on ng-bootstrap to 5.1 for Angular"
##### **Overview of the feature request**

Update the dependency on ng-bootstrap to 5.1 for Angular. ng-bootstrap 5.x is compatible with Angular 8.x so this should be possible.

##### **Motivation for or Use Case**

Allow jhipster user to get the newest features and bugfixes in ng-bootstrap and stay up-to-date with this dependency.

At the moment, this is not possible out of the box, because https

[2019-08-11 18:40] kaidohallik commented on #8170
I opened PR #10185 which removes circular dependencies. I would like to extend this PR to completely remove barrels. Is this ok?

[2019-08-11 19:07] pascalgrimaud commented on #10077
No more comments since you opened this ticket.

@pnujwala : what I can suggest is to create a module for that. You'll be the author of the module and maintain it. Have a look at https://www.jhipster.tech/modules/creating-a-module/
If your module is a big success, we can reconsider it.

But for now, as mentionned in the previous ticket, we won't support it in main generator-jhipster. That's why I'm

[2019-08-11 19:09] pascalgrimaud commented on #10059
Can't you just use git to revert the specific folder, related to liquibase ?

[2019-08-11 19:15] pascalgrimaud commented on #10081
@AndreKrebs : I don't understand the issue.
Did you modify the generated code ?
- if yes: there is no issue in our code, and you should use StackOverFlow for that
- if not: I'll test the default config you mentionned in this ticket

[2019-08-11 19:22] vishal423 commented on #10209
bootstrap `v5.x` is compatible with angular `v8.x` and this upgrade will remove warnings during installation. I think we also need to upgrade other dependencies.

@krusche would you be able to contribute to upgrade angular dependencies? Otherwise, I will do this over coming week.

[2019-08-11 19:28] pascalgrimaud commented on #10209
@vishal423 : you mentionned that `ng-jhipster` can't currently be released as it contains partial change related to translation optimization. Is it fixed today ?

[2019-08-11 20:25] SudharakaP commented on #9605
@PierreBesson @pascalgrimaud @Tonterias  : I've created a pull request to fix both the issues/bugs (https://github.com/jhipster/generator-jhipster/issues/9605#issue-436446199 and https://github.com/jhipster/generator-jhipster/issues/9605#issuecomment-486873738) highlighted in this thread.

I feel that there's cases that are not handled in this generator. Such as it forces to create a Cloud SQL ins

[2019-08-11 20:29] krusche commented on #10209
@vishal423 sorry, I am not really familiar with ng-jhipster

[2019-08-11 20:31] SudharakaP commented on #10196
@PierreBesson @pascalgrimaud : I've created a quick fix for the GAE Java 8 generator (https://github.com/jhipster/generator-jhipster/pull/10210). I also have a branch in my fork for GAE Java 11 as well (https://github.com/SudharakaP/generator-jhipster/tree/java11-gae-upgrade). I can merge this one which will drop support for GAE Java 8. I was thinking of making some further improvements on this br

[2019-08-12 02:31] geyuqiu commented on #10208
Thanks :)
Cheers Yuqiu

[2019-08-12 02:31] #10208 closed

[2019-08-12 03:44] arslan2012 opened #10211 "jhiHasAnyAuthority doesn't work in freshly opened page"
##### **Overview of the issue**

jhiHasAnyAuthority doesn't work in freshly opened page, it only works if user had opened other pages before.

##### **Motivation for or Use Case**

I have a page /item/1 that does not use accountService.
in it, there is an element that uses *jhiHasAnyAuthority.
the element will not show up if I directly opened the page.

##### **Suggest a Fix**

further investigati

[2019-08-12 04:59] pascalgrimaud commented on #9605
@SudharakaP : thanks a lot ! not sure I'll have the time to test and review. Hope someone else from the team can do it

[2019-08-12 05:05] pascalgrimaud commented on #10196
@SudharakaP : I'm not a GCP expert. If the user doesn't create the Cloud SQL, what is the alternative ? Will it still work out of the box ?

[2019-08-12 05:35] vishal423 commented on #10209
@pascalgrimaud, that's still an issue. I think we can revert that change to release `ng-jhipster` to fix other important issues like #9982

[2019-08-12 05:49] pascalgrimaud commented on #10209
@vishal423 : are you talking about reverting this PR https://github.com/jhipster/ng-jhipster/pull/99 ?

[2019-08-12 05:56] pascalgrimaud commented on #10120
@micobarac : what you can try is to generate a default JHipster project with Cassandra with some entities, without any additional codes, like s2m profile. Then, could you try to reproduce plz ?

[2019-08-12 06:01] pascalgrimaud commented on #10121
For me, there is no issue as there were some modifications in the generated code. The modifications are not correct and don't respect the correct order.

If someone can generate a project + entities without modification, I can have a look

[2019-08-12 06:35] SudharakaP commented on #10196
@pascalgrimaud : Yes, for example the user can connect to any other external database. For example one can host the db on [Google Compute Engine](https://cloud.google.com/compute/) instance (if he/she loves hosting it in Google infrastructure) or he can host it in any other cloud service provider. Cloud SQL only supports MySQL and PostgreSQL (https://cloud.google.com/sql/docs/) and this is not wha

[2019-08-12 06:38] pascalgrimaud commented on #10196
Good to know. Thanks for the explanation @SudharakaP
So yes, let's add 1 more question about Cloud SQL in the sub generator GAE, with default to yes, as what we currently have

[2019-08-12 06:43] SudharakaP commented on #10196
@pascalgrimaud : Wonderful. Let me work on that. Probably this week, I'll do another pull request which mergers my branch with the upgrade to Java 11. Just to be clear this will remove support for Java 8, which means that once this is merged the generator will create the configs as per Java 11 specification (https://cloud.google.com/appengine/docs/standard/java11/).

[2019-08-12 07:05] SudharakaP commented on #9605
@pascalgrimaud : You are welcome 😄 . Also I want to mention that I made a tiny improvement while I am doing this. Previously there is this case where if you have ```app-engine-java``` installed but not updated to the most recent version, you'll get an error because of the way we check whether it's installed or not. In the new scheme of things, if you have it installed, even if it's not the most up

[2019-08-12 09:32] PierreBesson commented on #10059
I think rather than this being a `--skip-liquibase` flag, it could be a `--update` flag. This way it could be used during generation as a heuristic that this is not a first generation.

[2019-08-12 09:54] jack-kerouac commented on #10192
Thanks for mentioning me. Indeed, my change in https://github.com/jhipster/generator-jhipster/pull/9986 caused this behavior.

In this PR, I was aware of this downside, but decided to still solve it in this way:

The point is that once the application is built and run in production mode, the correct version is shown. But I can see that this fact is not obvious to someone getting started with JHips

[2019-08-12 09:57] atomfrede commented on #10192
@jack-kerouac Totally agree. The parsing code before was much worse to understand and maintain. So if everyone is okay with using `DEV` when doing npm start I can do that and update the documentation accordingly.

[2019-08-12 11:11] vishal423 commented on #10209
@pascalgrimaud, yes, I was referring to that PR. Otherwise, if we can resolve #10069 early, then, that would be great.

[2019-08-12 11:18] pascalgrimaud commented on #10192
Agree too, let's keep this simple. In DEV, we don't care about the version, so I'm ok to have `DEV`, rather than `UNKNOWN`

[2019-08-12 13:14] pmverma commented on #10211
Thanks @arslan2012 for reporting the issue.
Can you please update it with steps to reproduce?

[2019-08-12 13:14] anthony-o opened #10212 "Add bootswatch theme in JDL application.config"
##### **Overview of the feature request**

I would want to define the Bootswatch theme of my application directly in my `.jdl` file to have the same feature as what I can obtain using the CLI while creating a new application.

##### **Motivation for or Use Case**

Have the same feature using the `jhipster-generator` CLI or using a JDL file.

-   [X] Checking this box is mandatory (this is just to

[2019-08-12 13:41] pascalgrimaud commented on #10212
There was this ticket: https://github.com/jhipster/jhipster-core/issues/332
The work was done by @MathieuAA here: https://github.com/jhipster/jhipster-core/commit/b96b92ceac97bc859db81da6124d2db0650d6eb1

I think we simply forget to update the documentation.

[2019-08-12 13:44] vishal423 commented on #8170
@kaidohallik, please go ahead. Should I re-open this ticket and assign to you?

[2019-08-12 17:29] pvliss commented on #10205
@mshima Thanks for reporting and the test. Will check to see what the problem is.

[2019-08-12 17:55] markvr4 commented on #9073
I think this issue is worth considering. The notifications/alerts have a significant impact on the UI, and more customization options (or at least documentation) would be welcome. The responses above mention that controlling alerts with headers is messy, but aren't alerts already controlled by headers using _x-[app name]app-params_ and _x-[app name]app-alert_ headers? I'm in the process of trying

[2019-08-12 18:40] pascalgrimaud commented on #9073
You can remove the default jhi-alert and write your custom alert.
I don't see what we can do more in the generated project

[2019-08-13 01:52] SudharakaP commented on #10196
@pascalgrimaud @PierreBesson : I've created a pull request for this as well (https://github.com/jhipster/generator-jhipster/pull/10216). If you guys have any questions or issues feel free to let me know 😄

[2019-08-13 03:03] amatosg commented on #10192
yeah, it makes sense

[2019-08-13 04:54] yelhouti opened #10217 "import-jdl does not install the blueprint before the first import"
##### **Overview of the issue**
When trying to create a project using a jdl with application block and blueprints, ex:
[code]
jhipster doesn't find the blueprint in the empty folder resulting on:
[code]
npm install (locally) or npm link fixes the problem, but I feel like jhipster should install the dependency locally before starting the import or at least look for it globally, what do you guys thi

[2019-08-13 05:27] pvliss commented on #10205
So I tried the test and the problem is that in order to work properly you also need an existing `.yo-rc.json` file; otherwise it will not be able to properly load the configuration required by the entity generator.

I also modified [entity-blueprint.spec.js](https://github.com/jhipster/generator-jhipster/blob/master/test/blueprint/entity-blueprint.spec.js) and removed the used `.yo-rc.json` to inc

[2019-08-13 05:28] pascalgrimaud commented on #10217
I already encountered the problem.

For the solution: I prefer a global installation like generator-jhipster, than a local installation before the 1st run. Because the user will have to wait before answering questions.

But currently, a global installation seems not enough too, so we need to fix it.

@yelhouti : do you have an idea ? do you want to have a look ?

[2019-08-13 05:30] pascalgrimaud commented on #10205
Thanks for the analyze and your help @pvliss !

[2019-08-13 05:50] yelhouti commented on #10217
@pascalgrimaud on how to use the global installation? sure, the same way yoman does it? do you want me to try to write a fix? I ll gladly do

[2019-08-13 05:58] pascalgrimaud commented on #10217
Yes exactly, I think the workflow should be:

[code]

Thanks a lot !

[2019-08-13 09:19] kaidohallik commented on #8170
@vishal423, for me it's not necessary to re-open this ticket. I added commit to PR which removes barrels, so hopefully work is done. Let's see if CI tests will pass.

[2019-08-13 09:57] deepu105 commented on #8170
Yes lets remove barrels. I added them since it was official recomendation
from the Angular style guide, but they have removed that recomendation
since I guess.

Thanks & Regards,
Deepu

On Tue, Aug 13, 2019 at 11:19 AM Kaido Hallik <notifications@github.com>
wrote:

[2019-08-13 10:00] deepu105 commented on #10217
Thats starnge. My original implementation made sure it can fetch from
global if local is not available

Thanks & Regards,
Deepu

On Tue, Aug 13, 2019 at 7:58 AM Pascal Grimaud <notifications@github.com>
wrote:

[2019-08-13 14:23] Pshivani19 opened #10218 "Issue while running testcases for uaa+kafka configured microservices"
##### **Overview of the issue**
While running testcases for uaa configured microservices,
**microservice.top.web.rest.TopKafkaResourceIT** gives error:
2019-08-13 19:25:39.853  WARN 11894 --- [           main] o.a.kafka.common.utils.AppInfoParser     : Error registering AppInfo mbean
javax.management.InstanceAlreadyExistsException: kafka.server:type=app-info,id=0
	at com.sun.jmx.mbeanserver.Reposi

[2019-08-13 14:57] mshima commented on #10205
Yep, the problem is that `.yo-rc.json` file isn't saved at this point.

In the last commit generator.configOptions is merged into the config, seems a workaround.
But I think jhipster should have a cleaner and unified configuration object for passing configs between the modules, instead of always reading from file.

[2019-08-13 15:32] mshima commented on #10205
I am implementing a blueprint that customize current behavior of the original modules.

This blueprint creates a tenant (ex:Company).
https://github.com/mshima/generator-jhipster-multitenancy2/blob/13771cddb837e6b9b18b5dc7e0d92fafa530752e/generators/common/index.js#L175
https://github.com/mshima/generator-jhipster-multitenancy2/blob/13771cddb837e6b9b18b5dc7e0d92fafa530752e/generators/entity/index.

[2019-08-13 16:34] SudharakaP commented on #10200
@PierreBesson : I'll create a pull request this week for this one. I think we need to do a simple check to see if it's not a string type (such as ```VARCHAR``` type) in order to apply ```UNSIGNED``` .

[2019-08-13 16:39] DanielFran opened #10219 "JaCoCo .exec file format support has been deprecated in SonarJava"
##### **Overview of the issue**

Sonar as deprecated the use of jacoco exec file in favor of xml format

##### **Motivation for or Use Case**

See https://jira.sonarsource.com/browse/MMF-1651

[code]

##### **Reproduce the error**

See for example https://travis-ci.org/jhipster/generator-jhipster/jobs/571080722#L10462
[code]

##### **Related issues**

##### **Suggest a Fix**

Substitute property '

[2019-08-13 17:42] pascalgrimaud commented on #10219
For me it's not a bug, so I'm changing the label, it's your OK @DanielFran :)

[2019-08-13 17:57] pvliss commented on #10205
Yes, I realize that. That is why I also tested with 5.8.2 and 6.1.2 without using a `.yo-rc.json` to check if it was a regression, but found otherwise. It did not work before either, except if my test has a mistake. Have you tested it with 6.1.2 as you mention in the description?

But I think jhipster should have a cleaner and unified configuration object for passing configs between the modules, i

[2019-08-13 20:35] geyuqiu commented on #87
Entities do have some Integration Tests.
But no unit tests.
How come you closed this ticket ? @jdubois

[2019-08-13 20:43] pascalgrimaud commented on #87
@geyuqiu : this ticket was closed near 5 years ago... and was opened before the 1st release !

What did you expected by commenting this ticket ? We have both some integration and some unit tests. Feel free to improve them if you want.
See our coverage which is pretty good, IMO: https://sonarcloud.io/dashboard?id=io.github.jhipster.sample%3Ajhipster-sample-application

[2019-08-13 21:17] gmarziou commented on #10200
@amatosg your proposed change applies only to column type, what about the field type in java entity? Are you sure that a java long will be bale to take advanatge of an unisgned id column?

Have you made some test when column value is  between 2^63 and  2^64-1 does it convert to negative number in java entity?

[2019-08-13 22:39] yelhouti commented on #10217
Great, now I can't reproduce it, closing until I can...

[2019-08-13 22:39] #10217 closed

[2019-08-14 04:20] #10049 closed

[2019-08-14 04:39] ccornchip commented on #10141
I am currently on vacations, I'll try this when I get back

[2019-08-14 08:28] caffeinecoders commented on #10190
Actually I just checked, unfortunately the new Identity Platform provided under Google Cloud (similar to firebase authentication), doesn't support OIDC.

This is what I was referring to: https://console.cloud.google.com/customer-identity/providers

[2019-08-14 09:21] kaidohallik opened #10220 "Polish file and class names in Angular part"
##### **Overview of the issue**

Issues I discovered when refactoring imports in Angular part (barrel remove in #10185):

* inconsistent component and service class prefixes: components and services are mainly without prefix, but some of them have prefix `<%=jhiPrefixCapitalized%>`: `AlertErrorComponent`, `AlertComponent`, `ConfigurationComponent`, `ConfigurationService`, `DocsComponent`, `Gateway

[2019-08-14 09:27] pascalgrimaud commented on #10220
@kaidohallik : thanks for taking time to write this ticket with full details !

[2019-08-14 10:16] DanielFran commented on #10105
@vishal423 typescript-eslint v2 hás been released and have breacking changes. Maybe it is better to use the nee version now? See https://github.com/typescript-eslint/typescript-eslint/commit/05ba26879dd5a5a0e1159951c8b24dc5e0e5cc4a

[2019-08-14 10:36] vishal423 commented on #10105
@DanielFran, thanks for update. Dependency update is a never ending task.

[2019-08-14 10:49] DanielFran commented on #10105
And do not forget to claim the bug-bounty and close this issue :stuck_out_tongue_winking_eye:

[2019-08-14 13:08] dkarthi1973 opened #10221 "WSO2 - Oauth2 issue ( Unable to build)"
we have given the following configuration on application.yaml for wso2  and getting error while building application.
------------------------------------
Application.yaml
security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: https://172.21.107.64:9445/oauth2/token
        registration:
          oidc:
            client-id: 6q5J7DyUkmW8FgrBWsdMdzgtGlMa

[2019-08-14 13:47] mraible commented on #10221
It looks like your issuer URL is wrong. If WSO2 is OIDC compliant, there should be OIDC config returned (in JSON format) from $issuer/.well-known/openid-configuration.

For example, my Okta org has it at:

https://dev-133320.okta.com/oauth2/default/.well-known/openid-configuration

[2019-08-14 13:54] vishal423 commented on #10221
I think for WSO2 you should use issuer-uri as `https://localhost:9443/oauth2/oidcdiscovery/`

[2019-08-14 14:01] vishal423 commented on #10190
@caffeinecoders, please check this https://developers.google.com/identity/protocols/OpenIDConnect

[2019-08-14 14:04] yelhouti commented on #10217
I can confirm that the problem is still there, but it doesn't always manifest, I will investigate once I have more time

[2019-08-14 14:05] yelhouti commented on #10049
@ruddell @pascalgrimaud any one wants to split the bounty? :)

[2019-08-14 14:19] pascalgrimaud commented on #10049
Thanks for proposing, but not for me :)
Take the bounty @yelhouti and if @ruddell wants one, he can claim one too

[2019-08-14 16:47] amatosg commented on #10200
Oh, I see what you mean, after 9,223,372,036,854,775,808 the number goes around and starts at negative, right? And using `BigInteger` wouldn't make much sense either.

So even if `UNSIGNED` is added, it would work when going beyond 9,223,372,036,854,775,807 as it would go around to nevative.

[2019-08-14 16:47] #10200 closed

[2019-08-14 17:07] geyuqiu opened #10222 "[Angular][unit-test] .overrideTemplate(XYZComponent, '') disables unit testing with fixture.debugElement.query"
##### **Overview of the issue**
.spec.ts setup with

[code]
disables unit testing with fixture.debugElement.query

##### **Motivation for or Use Case**

cannot do unit testing with query or querySelector any more because template in Angular is overridden in test with empty template ''

[2019-08-14 17:28] geyuqiu commented on #6050
Definitely need ng test with karma

[2019-08-14 18:13] pascalgrimaud commented on #10222
You need to fill the template issue, and all steps to reproduce.

It looks like you modified the generated code, so in this case, use StackOverFlow instead

[2019-08-14 18:43] pascalgrimaud commented on #10221
@dkarthi1973 : plz, fill the template and provide all information + steps to reproduce

[2019-08-14 23:57] geyuqiu commented on #10222
It can be found in every unit-Test .spec.ts files for Angular, e.g. for projectName Acht and EntityName Value

[code]

[2019-08-15 02:43] kaidohallik opened #10223 "blueprints not found in Windows"
##### **Overview of the issue**

Since #10004 it's not possible to use blueprints in `Windows`.
Error occurs in all tested shells: `Command Prompt`, `Git Bash` and `PowerShell`.
Not tested in Mac and Linux but as no problems have reported then I guess blueprints are working in these operating systems.

##### **Motivation for or Use Case**

Want to use blueprints also in Windows.

##### **Reproduce

[2019-08-15 06:16] pascalgrimaud commented on #10223
@kaidohallik : it is an important issue. Can you propose a PR plz ? I'm using Linux so I can test it

[2019-08-15 08:00] clement26695 commented on #10223
I did not read completely your issue, so it can be totally off topic, but I found that there are issues when the main generator is installed locally and the blueprint globally (or vice-versa, I can't remember).

[2019-08-15 08:22] kaidohallik commented on #10223
@pascalgrimaud I opened PR #10225 for fix

[2019-08-15 08:29] kaidohallik commented on #10223
@clement26695 main generator locally and blueprint globally can maybe cause strange behavior I encountered in generating Vue app as described in #10224

[2019-08-15 12:20] pascalgrimaud commented on #10223
thanks @kaidohallik
I'll test your PR soon

[2019-08-15 13:42] renantins opened #10227 "Jhipster doesn't open file uploaded"
##### **Overview of the issue**

I have a entity with a blob field generated by JHipster. In the entity form I can upload a file and the form is submited normally.

The problem occurs when I try to open the file in the view page or main page of the entity.

The Browser opens this tab

https://imgur.com/a/tXjqweT

and prints the following message on the console

##### **Motivation for or Use Case**

[2019-08-15 15:36] BLKingLLC commented on #10199
In CacheConfiguration.java I added cache.clear() and cache.close() and now when I run ./mvnw again I don't get the error.  But, I still get the error when mvnw does an automatic rebuild after it detects changed code.

[2019-08-15 16:23] SudharakaP commented on #10227
@renantins : This is not a bug; this is intentionally done in order to improve security headers; you should adjust your security headers to allow an exception to the frame that you are trying to add; for more information refer to the original issue; https://github.com/jhipster/generator-jhipster/issues/9549

[2019-08-15 16:39] SudharakaP commented on #9549
With reference to https://stackoverflow.com/questions/57500340/jhipster-doesnt-open-file-uploaded/57505766#57505766 and https://github.com/jhipster/generator-jhipster/issues/10227 Maybe we need to add information about adding exceptions to content security headers in our documentation? I can add this if you like. 😄

[2019-08-15 17:02] atomfrede commented on #9549
We should allow downloading uploaded files by default I would say. So we
should open a bug to track that.

On Thu, Aug 15, 2019, 18:39 Sudharaka Palamakumbura <
notifications@github.com> wrote:

[2019-08-15 18:13] #10223 closed

[2019-08-15 18:23] #10066 closed

[2019-08-15 20:35] gmarziou commented on #10227
@SudharakaP Here the point is that JHipster generates a CSP configuration that breaks a JHipster feature: BLOB entity fields. So I think that something should be done to make this feature to work out of the boxas it was in the past. I fully agree with @atomfrede

[2019-08-15 20:36] gmarziou commented on #9549
@atomfrede I fully agree with you and no need to open a new bug, just re-open #10227

[2019-08-15 23:24] SudharakaP commented on #10227
@gmarziou : Ah, I misunderstood. Sorry about that. I can work on this if you guys like? I don't have a solution off the top of my head but could look into it. 😄

[2019-08-16 03:53] atomfrede commented on #10227
For reference you can have look at https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy

But while trying to reproduce I found that the current master seems to be broken when using a blob field as there are wrong imports in the angular files. I will open a ticket for that.

[2019-08-16 03:59] atomfrede opened #10229 "Blob fields generate invalid angular services/components"
##### **Overview of the issue**

Generating an entity with a blob fields of type image results in a frontend which can't compile, because of wrong imports.

##### **Motivation for or Use Case**

Although blob support is still in beta it should not fail like that.

##### **Reproduce the error**

Create a fresh application, create an entity with a blob field (of type image).

##### **Related issues*

[2019-08-16 04:23] vishal423 commented on #10229
@atomfrede, I think you are not using latest check-ins on master as imports should be absolute. Can you please check again on latest master code?

[2019-08-16 04:53] vishal423 commented on #10229
Further, I believe we do test `ImageBlob` fields in our builds like @
https://github.com/jhipster/generator-jhipster/blob/29592ab0bd158ecd0829c406d594537a4f91b7d8/test-integration/samples/jdl-default/app.jdl#L52

[2019-08-16 05:04] vishal423 commented on #10221
@pascalgrimaud, I think we can close this issue as it seems to be not an issue with JHipster and rather a customization/support request.

[2019-08-16 05:08] atomfrede commented on #10229
Too early as it seems. Will check but I think I forgot to link my fork
again before creating the entity.

On Fri, Aug 16, 2019, 06:53 Vishal Mahajan <notifications@github.com> wrote:

[2019-08-16 05:08] #10229 closed

[2019-08-16 05:09] SudharakaP commented on #10227
@atomfrede : Thanks for the link. Recreated the issue on my end. Working on a fix 😄 .

[2019-08-16 05:38] pascalgrimaud commented on #10081
Just tested your config with generator-jhipster 5.8.2, and it works well.

[2019-08-16 05:38] #10081 closed

[2019-08-16 05:41] pascalgrimaud commented on #10121
As previously, I'm closing this because there is no issue with the orignal config with the default generated code

[2019-08-16 05:41] #10121 closed

[2019-08-16 05:45] atomfrede commented on #10227
adding `data:` to the `default-src` fixes it. Not sure if there is a better csp source to add that.

[2019-08-16 05:47] pascalgrimaud commented on #10203
I don't think it should go directly to generator-jhipster, as this one won't bring too much value.

@geyuqiu : if you think it's an important feature request, I invite you to create a module for that. Have a look at https://www.jhipster.tech/modules/creating-a-module/#-creating-a-module
Don't hesitate to ping us (here or twitter) as soon as you code / release a 1st version.

Then, if it's a big su

[2019-08-16 05:47] #10203 closed

[2019-08-16 05:49] pascalgrimaud commented on #10222
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-08-16 05:49] #10222 closed

[2019-08-16 05:50] #10221 closed

[2019-08-16 05:51] SudharakaP commented on #10227
@atomfrede : Yes, but I think better to add ```data:``` to the ```frame-src``` as it's more specific rather than the ```default-src``` ?

[2019-08-16 05:51] pascalgrimaud commented on #10120
I'm closing this, as we didn't manage to reproduce.
Don't hesitate to generate + push a project on GitHub, so we can retry

[2019-08-16 05:51] #10120 closed

[2019-08-16 05:52] atomfrede commented on #10227
`frame-src` seems not to work (at least in firefox). Both `frame-src` and `child-src` are unknown to firefox as it seems.

[2019-08-16 05:58] SudharakaP commented on #10227
@atomfrede : No worries; thanks for the help; just created a pull request for this. Feel free to let me know if you see any issues. 😄

[2019-08-16 06:18] pascalgrimaud commented on #10218
I confirm the issue and I got the fix.
I will PR soon

[2019-08-16 07:14] #10212 closed

[2019-08-16 07:58] SudharakaP commented on #9934
@jdubois : I've tested jackson-blackbird on my local with Java 11 and it works as expected. I can do a pull request for this but would like to discuss my approach before doing it. 😄

1. We can prompt the user to choose between Java 8 and 11 in the generator and based on that set the [JAVA_VERSION](https://github.com/jhipster/generator-jhipster/blob/29592ab0bd158ecd0829c406d594537a4f91b7d8/generato

[2019-08-16 08:10] atomfrede commented on #9876
@jhipster/developers Anyone had time already to look into the changes from :arrow_up:

[2019-08-16 08:39] PierreBesson commented on #10195
@GitAntinus it works !

[2019-08-16 08:56] #10227 closed

[2019-08-16 08:58] #10218 closed

[2019-08-16 09:57] avdev4j commented on #9960
As @danielpetisme said

I think it's the easier way since we don't have to modify the generator before.

Also Daniel has right when he said that `CLIENT_MAIN_SRC_DIR` is used for both reading and writing templates. We used to store templates at the same path than we create it.
Redefine the constant will affect both phases, and we don't want to do that.

But I think we can do a nice thing for that.

[2019-08-16 10:18] gmarziou commented on #9934
I'm not a big fan of using SNAPSHOT versions that could change without notice. Maybe @stevenschlansker should release a 0.1 version.

Also, Steven states "Blackbird is experimental and needs brave pilots to take her for test flights".  I suspect that JHipster users don't expect their code generator to turn their applications into pilots for promising technologies without requesting their consent.

[2019-08-16 13:02] pascalgrimaud commented on #10199
After spending a couple of minutes to generate the correct project with your configuration (because your `.yo-rc.json` is not valid and you edited it), I didn't manage to reproduce.
I can stop / start without any problem

The problem you encountered, seems to be related to Elasticsearch, not logstash.

Feel free to push a project on GitHub with the problem and I'll try to reproduce. But for now, a

[2019-08-16 13:02] #10199 closed

[2019-08-16 13:04] pascalgrimaud commented on #10211
I'm closing this, as we don't have steps to reproduce.
Feel free to give more details to help us reproducing your issue

[2019-08-16 13:04] #10211 closed

[2019-08-16 13:21] #10096 closed

[2019-08-16 14:40] pascalgrimaud commented on #9982
I confirm this PR https://github.com/jhipster/ng-jhipster/pull/97 fixed this issue
I'm closing this as it will be included in the next release

@clement26695 : don't forget to claim the bounty

[2019-08-16 14:40] #9982 closed

[2019-08-16 15:07] #10195 closed

[2019-08-16 15:08] geyuqiu commented on #4534
ng generate component is not generating .spec.ts under test/javaScript/spec/..., will it be supported in the future ?

[2019-08-16 15:10] GitAntinus commented on #10195
Great success!

[2019-08-16 15:48] pascalgrimaud commented on #10062
As @clement26695, just tried too and I was not able to reproduce. The only way to reproduce, is to start one of the microservice after the gateway and tried to access to it -> normal, it is not registered yet, we need to wait at least 1min

I'm closing this as it's a known behaviour with Eureka, depending on the order when the microservice register to Eureka.
Feel free to give more element to repr

[2019-08-16 15:48] #10062 closed

[2019-08-16 15:51] pascalgrimaud commented on #4534
@geyuqiu : plz don't comment old ticket ; `ng` is not compatible with JHipster, that's all

[2019-08-16 15:57] pascalgrimaud commented on #10209
Sorry @vishal423, I didn't saw you self assign this ticket
I did the PR, it should be OK, just need to wait the CI

[2019-08-16 16:02] #10148 closed

[2019-08-16 16:16] PierreBesson commented on #10071
@jsm174 do you have the time to submit the PR ?
For the syntax, just guessing, but it might be :
[code]

[2019-08-16 18:02] vishal423 commented on #10209
no issues

[2019-08-16 18:15] BLKingLLC commented on #10199
@pascalgrimaud I can add you to my private repo and let you check that out and take it for a spin.  The bug is really a PITA. Let me know if you want to give that a shot.

[2019-08-16 18:17] pascalgrimaud commented on #10199
@BLKingLLC : I'd prefer you to create a fresh JHipster project, and push it publicly, so everyone can have a look, and check if there is a real issue or not
Because, with a fresh project, there is no additional code

[2019-08-16 19:46] gmarziou commented on #10062
An additional reason for timeout on first request is lazy caching of ribbon context, check https://cloud.spring.io/spring-cloud-netflix/multi/multi_spring-cloud-ribbon.html#ribbon-child-context-eager-load

[2019-08-16 19:53] gmarziou commented on #10199
Also your project is a bit complex for easy reproduction requiring to start several containers: mysql in dev vs h2, use of Eureka, use of jhipster-console. I'm pretty sure these external dependencies have nothing to do with the problem, I would rather bet on application context refresh scope issue when devtools restart the app. You should be able to nail it by running under debugger with a breakpo

[2019-08-16 20:38] stevenschlansker commented on #9934
Since I wrote that, we have run `blackbird` in production on our own apps for months with no problems.

I still think it's reasonable to have it opt-in to start with, of course!  And it would be straightforward to detect the necessary JDK features and disable itself entirely if it cannot run, or even helpfully delegate to Afterburner in that case.

I am happy to make a release but had not set up a

[2019-08-17 04:42] #10192 closed

[2019-08-17 06:04] pascalgrimaud commented on #9908
@pvliss : FYI, just added a bounty on this

[2019-08-17 06:07] pascalgrimaud commented on #9287
@ctamisier : I just implemented the sync data between microservices for my current project. I'll improve the Kafka support probably next months. We used Spring Kafka, which works well for our simple use case.
Do you plan to migrate to Kafka Native client ?
We need to discuss about it when possible :-)

[2019-08-17 06:11] pascalgrimaud commented on #9949
As mentionned here https://github.com/jhipster/generator-jhipster/issues/9287#issuecomment-522208739 :
- for my current project, with @nonomoho and the help from @hdurix, we implemented the sync data between 2 microservices, using Kafka
- so, we have a relationship between microservices
- it is not so complex :-)

So yes, it's possible with Kafka
I'll open a ticket soon to discuss about all steps,

[2019-08-17 06:41] mrgenco opened #10239 "mvnw command throws Compilation failure"
##### **Overview of the issue**

I'm trying to use JHipster for the first time and after running mvnw command, build fails with following stack trace. I don't understand if the error is related to JHipster or Maven.
Note : I opened a stackoverflow entry for this one but a team member suggested me to open a github issue. https://stackoverflow.com/questions/57526801/
[code]

##### **Motivation for o

[2019-08-17 07:48] MathieuAA commented on #9949
@pascalgrimaud so, does this mean we're gonna allow relationshps as long as the architecture is event-driven and forbid when it is not?

[2019-08-17 07:56] pascalgrimaud commented on #9949
@MathieuAA : my idea is not really to allow relationships between microservices but to duplicate the common table between 2 microservices.
1 would be the master, so the producer
The other same tables would be the consumers, no Rest API, only consumer + service + repository + table

Exact. Right now, I'm short on time, but I'll detail my idea in a specific ticket with Kafka soon, so we can discuss

[2019-08-17 08:07] pascalgrimaud commented on #10239
I don't think it's related to JHipster.

Your problem looks like related to a problem with encoding.
Can you have a look at https://stackoverflow.com/questions/8978013/error-unmappable-character-for-encoding-utf8-during-maven-compilation and try different solutions plz ?

[2019-08-17 09:08] mrgenco commented on #10239
Ok I will try the solutions in the link and will be sharing the results

[2019-08-17 10:16] deepu105 commented on #8930
Try running the command with -v flag to see verbose output

On Tue, 6 Aug 2019, 11:10 am SarahFekih, <notifications@github.com> wrote:

[2019-08-17 10:56] gmarziou commented on #10239
I noted that the errors are only in target/generated-sources which are the files generated by maven annotation processor. This might sound a stupid question but have you ever compiled any maven project on this PC?

[2019-08-17 11:18] mrgenco commented on #10239
Yes I have other maven projects on my PC. They are working fine. I will be informing you as soon as I try encoding solutions. But I will probably need to change maven compiler plugin in pom.xml file as they re suggesting in the link which sounds like a problem with generated project.

[2019-08-17 14:03] pascalgrimaud commented on #10239
Another solution for you would be to use the JHipster DevBox : https://github.com/jhipster/jhipster-devbox

So it will confirm it comes from your environnement

[2019-08-17 21:14] mguyaux commented on #7750
@saturnism with JHipster 6.2.0 i had the same stacktrace on App Engine with
`javax.cache.spi.CachingProvider: Provider org.ehcache.jsr107.EhcacheCachingProvider could not be instantiated`
Solved by changing appengine-web.xml to : (cache-api from 1.1.0 to 1.1.1)
[code]
I'm not 100% sure it's accurate with a sample JHipster 6.2.0 app because I had the problem on an app that I upgrade since JHipster

[2019-08-17 21:36] ctamisier commented on #9287
Yes this is the plan and recommended by the confluent expertise.
I won't be able to keep working on this this current month..
However I put the "effective" project here: https://github.com/ctamisier/clement (see the 'start' commit) and I've still some work in progress about running tests (some issues with application.yml loading and properties management).

[2019-08-18 06:42] pascalgrimaud commented on #9287
@ctamisier : no urgent here, it will be done in time. I already saw the amount of work you did, so I'm putting a bug bounty on this. Don't hesitate to ping me if you need help, when you start the integration in JHipster next month :-)

[2019-08-18 09:53] Tcharl commented on #9876
@atomfrede reread, seems legit to me

[2019-08-18 11:29] dkarthi1973 commented on #10221
changed  issuer-uri  as below
security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: https://localhost:9445/oauth2/oidcdiscovery/
        registration:
          oidc:
            client-id: 6q5J7DyUkmW8FgrBWsdMdzgtGlMa
            client-secret: dBfncolegfftFRNZUfx9Ay3cCtEa
and getting the following error
2019-08-18 16:56:42.108 [0;39m [32mDEBUG [0;39m [35m1

[2019-08-18 11:34] dkarthi1973 commented on #10221
Unable to integrate WSO2 Oauth2 using jhipster. if any one tried , please share the sample code. i have tried and failed to build.

[2019-08-18 11:44] dkarthi1973 commented on #10221
could you share the exact issuer-uri for wso2.

On Wed, Aug 14, 2019 at 7:17 PM Matt Raible <notifications@github.com>
wrote:

[2019-08-18 12:11] dkarthi1973 commented on #10221
security configuration class is required  to pass valid issuer for wso2 but  don't know the exact value .

[2019-08-18 13:48] deepu105 opened #10242 "Broken build for Angular apps"
##### **Overview of the issue**

The Angular application webpack build seems broken in master

[code]

##### **Reproduce the error**

Run `./gradlew` on the generated app

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</su

[2019-08-18 13:49] deepu105 commented on #10242
@wmarques @vishal423 guys any idea what broke this? the Travis builds seem fine though, which is strange

[2019-08-18 13:51] deepu105 opened #10243 "Secrets not skipped in jhipster info"
The `jhipster info` command is not skipping `jwtSecretKey`. We used to skip this

[2019-08-18 14:05] deepu105 commented on #10242
Seems related to https://github.com/angular/angular-cli/issues/14566

[2019-08-18 14:06] deepu105 commented on #10242
Following this fixed the issue, since the project had an old package-lock
[code]

[2019-08-18 14:06] #10242 closed

[2019-08-18 14:26] deepu105 commented on #10243
Ok my bad, seems like we are replacing always with a fixed value as per this https://github.com/jhipster/generator-jhipster/commit/4db5aa5d4abd46edd531c0ef922639e59d9583e7

[2019-08-18 14:26] #10243 closed

[2019-08-18 17:32] mrgenco commented on #10239
I could manage to start generated project without using mvnw command but below steps.
First I started the frontend project using npm start
Then I started SpringBoot application using Eclipse IDE.

I changed the encoding to UTF-8 in maven plugin in pom.xml and Eclipse globally but mvnw command still fails with the same error. I didnt use mvnw command before in another project. I'm using Eclipse for

[2019-08-18 19:05] gmarziou commented on #10239
Have you tried to use globally installed `mvn` (if you have it) rather than local maven wrapper `mvnw`?

[2019-08-18 20:01] SudharakaP commented on #9934
@jdubois, @gmarziou : If there's no objections, I will wait until @stevenschlansker releases the first version of BlackBird to work on this one.

[2019-08-18 20:10] stevenschlansker commented on #9934
I am building a release now.

[2019-08-18 20:43] SudharakaP commented on #9934
@stevenschlansker : Thanks much. Feel free to ping me or post here once you've released it to Maven Central.

[2019-08-18 20:53] stevenschlansker commented on #9934
@SudharakaP, I completed a release as:
[code]
It should be on Maven Central shortly.
Please let me know if you have any issues!

[2019-08-19 05:45] mrgenco commented on #10239
Yes I tried mvn command as well. The result is same.

[2019-08-19 05:48] stevenschlansker commented on #9934
I started discussing contributing my code to Jackson here: https://github.com/FasterXML/jackson-modules-base/issues/59

[2019-08-19 06:53] gmarziou commented on #10239
Did you try to generate same project but with gradle ?

[2019-08-19 07:31] pvliss commented on #9908
Thanks @pascalgrimaud. I have alredy done some work related to this in #10037(needs conflict resolution) and more specifically in commit https://github.com/jhipster/generator-jhipster/pull/10037/commits/69b5a027f1360cc5cd2a60ca88a6d1677300a9d2.

Although with the fix #10226 provided by @kaidohallik maybe we could move this pre-upgrade logic into the language sub-gen itself. Will need to check. The

[2019-08-19 08:08] PierreBesson commented on #9908
Somehow I totally missed this issue. The reason I changed the locale name was because of a bug in Java specifically related to parsing the correct indonesian locale (see: https://github.com/jhipster/generator-jhipster/issues/9494#issuecomment-480386162 and https://bugs.openjdk.java.net/browse/JDK-6457127). This is a super specific bug and IMO not worth fixing. Also it looks like the discussion mov

[2019-08-19 08:45] SudharakaP commented on #9934
@stevenschlansker : Thank you 😄

@jdubois @pascalgrimaud : I've added ```jackson-blackbird``` support for Java 11 as suggested by @gmarziou (https://github.com/jhipster/generator-jhipster/issues/9934#issuecomment-521961712). The user is given a prompt to choose between java 11 and 8 and if java 11 is chosen, another prompt for using BlackBird with default option being "no".

Please feel free to le

[2019-08-19 12:17] jdubois commented on #9934
I just got back from holidays: this looks awesome!!! Yes we'll need to be careful when we release this first, maybe mark the "Java 11" option with "experimental" for some time

[2019-08-19 13:31] danielpetisme commented on #9960
Looks like we are starting a huge refactoring which will may implies API changes... The jhipster generator is well covered but I'm not sure it's the case for blueprints...
Do we want to be backward compatible ? Should we post on the ML to get more feedbacks on this issue?

[2019-08-19 13:43] avdev4j commented on #9960
With my solution (maybe there is another much better) we should not break anything and everything should work like it use too. BUT the risk to do some mistakes is really important and the modifications are quite tricky "only" for a blueprint issue.

We have to balance our choice between the risk and the profit and I'm not sure to be the best person for that, maybe asking the team by ML is a good i

[2019-08-19 16:06] PierreBesson commented on #10239
This looks really suspicious to me. Why are your source/target file located in OneDrive which is a remote disk ? Can you try to put your project in your local disk.

[2019-08-19 16:39] pvliss commented on #9908
@PierreBesson  Guess you are right. Not many users should stubmle on this so not sure if its worth the effort and the manual fix is easy as well. Only thing is the end-user experience when upgrading as this change was between minor versions.

[2019-08-19 17:35] mshima commented on #10205
Ok, please take a look is this branch:
https://github.com/mshima/generator-jhipster/commits/config_refactoring

This is the start of a jhipster configuration complete refactoring.
Implemented to not cause problems to current modules and blueprints.
But with the flag --new-configuration will disable old configurations.

[2019-08-19 19:02] BLKingLLC commented on #10199
I couldn't reproduce it with a fresh jhipster project but I did find that it seems to be time dependent.  If I give maven a minute between builds then it starts with no issue.  It's like the file is still locked or something.

[2019-08-19 22:26] mshima opened #10247 "Create a centralized configuration management."
Create a centralized configuration management https://github.com/jhipster/generator-jhipster/pull/10246.

##### **Overview of the feature request**

Hacking jhipster and modules is complex because of decentralized configuration.

1) Configurations are initialized and manipulated in different places, making the configuration desynchronized between modules.
- ClientFramework configuration is been in

[2019-08-19 22:28] mshima commented on #10247
Example of uses of ClientFramework.
ClientFramework configuration is been initialized in different places:
Client module:
https://github.com/jhipster/generator-jhipster/blob/52e4cec274003a4c90d2065df286f7f612a54c30/generators/client/index.js#L95
Client prompt:
https://github.com/jhipster/generator-jhipster/blob/66bb6b85ab4b9d83fbaac45101547b9e34d4ea41/generators/client/prompts.js#L69
JDL module:
h

[2019-08-20 04:17] SudharakaP commented on #10056
@deepu105 : Is this already been worked on? I can work on this issue if you guys are okay? 😄

[2019-08-20 06:57] pvliss commented on #10205
Closing in favor of #10247

[2019-08-20 06:57] #10205 closed

[2019-08-20 10:33] mrgenco commented on #10239
I will try with **gradle** and **on local disk** and will be sharing the results. Thanks

[2019-08-20 12:23] mshima commented on #10162
How can I reproduce this?
Can you think an acceptable way to implement this?

[2019-08-20 14:23] SudharakaP commented on #9934
@jdubois : There's two questions; the use if first prompted for Java 8 or Java 11 and if they choose Java 11 we give an option to include BlackBird. In this second prompt I've mentioned that this is and experimental library. If you have any other way of presenting the info; please feel free to let me know 😄

[2019-08-20 15:51] jdubois commented on #9934
@SudharakaP I was just thinking of one option with everything, but two options work too -> we'll just keep the "experimental" option for some time, and if we have no negative feedback, then we'll remove it. It's simple, I like it!

[2019-08-20 16:06] SudharakaP commented on #9934
@jdubois : Wonderful, thanks. I'll keep the options as they are for now. There's one suggestion in the reviews section of the pull request which I don't quite understand, which we need to discuss. Apart from that, I guess this is complete and good to go.

[2019-08-20 16:59] SudharakaP commented on #9853
@PierreBesson @pascalgrimaud : One thing we could do without much effort and to give out some information about releases in the release notes page on Github is to use the https://github.com/marketplace/harvest-for-github plugin. With this plugin when you are making a release on Github you get and additional drop-down to specify the tag to compare. And then you can specify for example to list down

[2019-08-20 18:42] PierreBesson commented on #9853
I guess it can't hurt. We can alzo

[2019-08-20 19:47] SudharakaP commented on #9853
@PierreBesson @pascalgrimaud : Yes, I can look into displaying the pull request list on the website if you guys like; but first maybe give the plugin a try and see if it works to the expectations.

[2019-08-21 01:33] SudharakaP opened #10249 "Improvements to Documentation in generator-jhipster and jhipster.github.io"
I have seen some outdated documentation and documentation that could be improved on both generator-jhipster and jhipster.github.io. I just want to know if it's okay to create direct pull requests as and when I see those instead of creating issues and then creating pull requests? I know this is the standard approach in jhipster.github.io but wasn't sure if this is supposed to be done in generator-j

[2019-08-21 06:52] The-Crocop commented on #4251
Would be great to have that option

[2019-08-21 13:12] #10105 closed

[2019-08-21 13:18] rashmigowda-doc opened #10251 "getting error while pulling the container image on windows server 2016(1607)"
docker : failed to register layer: re-exec error: exit status 1: output:
time="2019-08-21T05:04:39-07:00" level=error msg="hcsshim::ImportLayer - failed
failed in Win32: There is not enough space on the disk. (0x70)"
error="hcsshim::ImportLayer - failed failed in Win32: There is not enough space on
the disk. (0x70)" importFolderPath="C:\\ProgramData\\docker\\tmp\\hcs148061235" path="
\\\\?\\C:\\Pr

[2019-08-21 14:06] deepu105 opened #10253 "Add a schedule to delete audit logs after 30 days"
The current implementation of audit log for authentication could result in DB becoming too large, so we should implement a simple @scheduled job to delete the content which are older than 30 days

[2019-08-21 14:39] SudharakaP commented on #10253
@deepu105 : I am willing to tackle this one. 😄 . I was thinking, should we give the user to choose the schedule duration (30 days or whatever they want) or is it sufficient to keep the 30 days hard-coded for now?

[2019-08-21 14:49] SudharakaP commented on #10251
@rashmigowda-doc : This seems to be a disk space related issue. Note that the error says ```There is not enough spare on the disk```.

Have you checked whether the drive has enough space?

[2019-08-21 22:09] saturnism opened #10255 "Executable JAR is not recommended, not supported by buildpack"
##### **Overview of the issue**

Currently, JHipster uses Spring Boot Maven plugin to build a self executable jar (i.e., Zip file w/ a self-executable expansion). This is done in the `pom.xml`

pom.xml w/ Spring Boot Maven Plugin
[code]

The JAR can be executed as if it's a binary (e.g., `$ target/myapp.jar` in addition to `$ java -jar target/myapp.jar`). However, this self expansion is not suppor

[2019-08-21 22:20] saturnism commented on #10255
/cc @jdubois @PierreBesson @deepu105  wdyt?

[2019-08-21 22:28] SudharakaP commented on #10255
@saturnism : Interesting. I remember encountering this somewhere in deploying spring boot applications to GAE. Now GAE (at least with Java 11) expects it to be a executable jar (https://cloud.google.com/appengine/docs/flexible/java/dev-java-only#prerequisites). I haven't tried out what happens otherwise; maybe it works but the recommendation is an executable jar; so I would suggest we add this con

[2019-08-22 03:31] pmverma commented on #10253
Adding the duration in the property file is better IMO.
The same case is also should be for removing not active users, currently, it is hard-coded to 3 days.

IMO, best is to have an admin screen where admin has the option to change property values at runtime.

[2019-08-22 04:07] amatosg commented on #10059
but what would it mean to use `--update`? it wouldn't be clear about what is not being regenerated, while using `--skip-liquibase` you know exactly what will happen

[2019-08-22 04:40] SudharakaP commented on #10253
@deepu105, @pmverma : Wonderful, I'll start working on this with configurable values for removing non-active users and audit log deletion. 😄

[2019-08-22 07:22] himanshu309 commented on #3773
hey, Is there any way entity relationships  form 1-1 to  1-M  without importing jdl file again because it removes the previous code and regenerate entity.
urgent !

[2019-08-22 07:41] PierreBesson commented on #10255
I guess this would be acceptable for most people.
Is it possible to generate the startup script besides the jar (by that I mean the startup script that is prepended to the jar) ? It might be useful for some people.

[2019-08-22 07:50] PierreBesson commented on #10255
So guess the embeddableLaunchScript can only be generated inside of the jar.
Still I think it's an ok change to do as. People that want to deploy the app as a system service can easily put the property back to true.

However I would like to set a property in .yo-rc.json called embeddableLaunchScript and set it to true for apps generated by older version of JHipster and false for recent versions. @

[2019-08-22 08:13] vishal423 commented on #10249
I believe it should be fine

[2019-08-22 08:13] jdubois commented on #10249
Thanks @SudharakaP : yes, the standard process is to create a ticket, but if it's something simple like wording you can bypass the process, no problem! Feel free to open all the PR you want!

[2019-08-22 08:38] deepu105 commented on #10253
No need to choose anything lets just set it to 30days by default. It's trivial to change if needed in code. Maybe we can make it property in the spring boot application.yaml files

[2019-08-22 09:17] caffeinecoders commented on #10190
@vishal423, this link you shared is just for Google Sign In, what I am talking about is Google Identity Platform, a cloud offering from Google cloud equivalent to Keycloak or OKTA authentication service.

[2019-08-22 10:01] rashmigowda-doc commented on #10251
Yes , I have 150GB free space on my local hard disk

[2019-08-22 11:46] gmarziou commented on #10253
A property would be in the case of microservices and centralized configuration

[2019-08-22 11:56] patrickjp93 commented on #10253
Configurable is best. Many enterprise users have to keep logs for years, and not everyone has off-site duplication or Splunk despite being "enterprise."

[2019-08-22 13:58] SudharakaP commented on #10249
@vishal423 , @jdubois : Thanks much for confirming. 😄

[2019-08-22 13:58] #10249 closed

[2019-08-22 14:01] danielpetisme opened #10257 "Blueprint not found when generating an entity"
##### **Overview of the issue**

When using the globally installed `generator-jhipster-dotnetcore` to generate an entity it fails pretenting to not found the blueprint.

Basically it's the same error message that
https://github.com/jhipster/generator-jhipster/issues/10223 and it fails on the same snippet
https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base-private.j

[2019-08-22 14:27] SudharakaP opened #10258 "Update Sonar Analysis Rules According to New Rules"
##### **Overview of the issue**

Recently SonarQube added some new rules. This effects most projects and right now there's a huge number of new bugs and [vulnerabilities detected](https://sonarcloud.io/dashboard?id=io.github.jhipster.sample%3Ajhipster-sample-application). We probably need to do minor changes to so that we pass the quality gate analysis.

https://sonarcloud.io/dashboard?id=io.githu

[2019-08-22 14:33] SudharakaP commented on #10258
I can create a pull request for this in the next week or the following; if someone wants to do this sooner feel free to take it. 😄

[2019-08-22 16:10] SudharakaP commented on #10255
@PierreBesson : Sure I am willing to implement it, but sorry, not sure I get it exactly. You mean put a property in yo-rc.json and depending on that set the ```<executable>``` field in pom.xml?

[2019-08-22 16:35] ruddell commented on #10251
Are you sure this is related to the JHipster generator project?  If so, please fill out the template and provide steps to reproduce (especially what Docker image you are trying to pull).

I don't recognize that Microsoft Docker image from JHipster.  I've seen similar error messages on Mac though, try to remove and re-create the container

[2019-08-22 16:41] PierreBesson commented on #10255
Yes put an if in the template depending on a yo-rc property. Then in the jhipster init method somewhere we have a method that patch the yo-rc if some props are undefined, you should add executable = true there.

[2019-08-22 16:56] PierreBesson commented on #10255
Just found out this cool project to create executable jars
as a separare goal : https ://github.com/salesforce/grpc-java-contrib/blob/master/canteen/README.md

[2019-08-22 17:06] SudharakaP commented on #10255
Wonderful, thanks Got it. 👍

 Interesting project; Shall we add this as well. I suppose we can just add this and remove the ```<executable>``` part once and for all; correct?

[2019-08-22 17:17] PierreBesson commented on #10255
Let's not rush things. I have yet to test this to see if this is better than what spring provides.

[2019-08-22 17:27] SudharakaP commented on #10255
@PierreBesson : Sure. 😄 I'll make the change as we discussed previously for now.

[2019-08-22 19:33] atomfrede commented on #10258
I will take care of a few issues now.

[2019-08-22 20:49] SudharakaP commented on #10258
@atomfrede : Wonderful. Thanks a bunch 😄

[2019-08-22 21:00] amatosg commented on #10258
regarding Sonar, would it be ok if I fix the bugs shown there?

[2019-08-22 21:09] SudharakaP commented on #10258
@amaillere : I have no problems; feel free to by all means; I didn't know everyone likes fixing Sonar bugs.... 🤣 🤣 😃  😄

[2019-08-22 21:11] amatosg commented on #10258
I do, it improves code quality ;)

[2019-08-23 04:20] SudharakaP commented on #10253
I've created the pull request. Please feel free to let me know if you see any issues or anything else needs to be added. 😄

[2019-08-23 07:22] SudharakaP commented on #10255
@PierreBesson @saturnism : I've made the change; let me know if you guys see any problems or issues. 😄

[2019-08-23 07:23] clement26695 commented on #10066
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/9710

[2019-08-23 07:24] clement26695 commented on #9982
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/9709

[2019-08-23 08:14] atomfrede commented on #9876
If everyone agrees with the solution and using arch unit to check such constraints I will try to create a first PR during the weekend

[2019-08-23 08:50] gmarziou commented on #10253
@SudharakaP maybe you should consider squashing your commits into one single for a simpler history when merged.

[2019-08-23 09:43] MattOnyx opened #10266 "Minimum password length consistency in translation files"
##### **Overview of the issue**

The min length for passwords is 4 in components but is still 5 in several i18n files (checked fr, ja).

##### **Motivation for or Use Case**

The password length should be the same everywhere.

##### **Reproduce the error**

Generate project in French or Japanese.

##### **Related issues**

None.

##### **Suggest a Fix**

PR in progress. Changing numbers.

##### **

[2019-08-23 09:45] pmverma commented on #9876
+1 from me as it enforces users to keep the architecture cleaner and consistent.

[2019-08-23 09:48] pmverma commented on #10266
`PR in progress. Changing numbers.
`
Thanks for reporting the issue and doing the PR.

[2019-08-23 11:41] #10251 closed

[2019-08-23 11:43] rashmigowda-doc commented on #10251
thank you everyone, issue got solved . its bcz  of  quota management which got enabled automatically for my local drive

[2019-08-23 14:40] SudharakaP commented on #10253
@gmarziou : Thanks, but maybe I am understanding this wrong but isn't it more appropriate to [squash merge](https://help.github.com/en/articles/about-pull-request-merges#squash-and-merge-your-pull-request-commits) after the pull request is reviewed?

[2019-08-23 14:50] gmarziou commented on #10253
Well maybe, I always do it this way and this is how it is recommend in https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-git-commit-guidelines

[2019-08-23 14:56] SudharakaP commented on #10253
@gmarziou : Okay, I'll do this starting now. But what's the best place to have a discussion about this with everyone? Do you guys have a public channel where all members/devs participate?

[2019-08-23 14:57] gmarziou commented on #10253
Here is [an example](https://github.com/jhipster/generator-jhipster/pull/10187) where Vishal did it and you can see with several force pushes, github manages it nicely even though some review comments are no longer attached to their initial commit

[2019-08-23 14:59] SudharakaP commented on #10253
Thanks for the example; got it now 😄

[2019-08-23 15:05] gmarziou commented on #10253
Not fully public: https://groups.google.com/forum/#!forum/jhipster-dev and https://gitter.im/jhipster/jhipster-dev-team

Fully public but with very few dev team members: https://gitter.im/jhipster/generator-jhipster

[2019-08-23 15:19] SudharakaP commented on #10253
Thanks much; the problem with the first one is I cannot post (I think it's only for members); the second one, I can post because there's a bug in gitter; but it's supposedly private; so I don't think it's appropriate. But that's fine I'll post in the public gitter I guess. 😄

[2019-08-23 15:54] SudharakaP commented on #10253
@gmarziou : I've squashed it as you suggested. Please let me know if you see any further issues. 😄

[2019-08-23 16:17] gmarziou commented on #10253
You squashed by you kept the commit messages unedited, so it contains a lot of duplicates. I would suggest you amend the commit message.

[2019-08-23 17:24] SudharakaP commented on #10253
@gmarziou : Sorry about that, I've done another squash with the comment properly updated. Let me know if you see any issues. 👍

[2019-08-23 18:16] SudharakaP commented on #10253
@gmarziou : Did you delete your review about retention-period? I've added that as well 😄 Let me know if there's any other issues; even if they are nit-picky. 😄

[2019-08-23 18:33] gmarziou commented on #10253
Looks good to me.  👍

[2019-08-23 19:13] SudharakaP opened #10269 "Sonar Analysis; Add support for PRs"
##### **Overview of the issue**

Currently when one generates a project with JH and chooses to add Sonar analysis, the generated Travis pipeline does not account for the fact that Sonar analysis could be triggered by PRs. In fact investigating this further Sonar analysis on PRs are only limited to their developer edition and above (refer: https://docs.sonarqube.org/latest/analysis/pull-request/).

[2019-08-23 19:13] SudharakaP commented on #10269
I don't know if this is an issue that's too nitpicky to begin with, if you guys agree and think it's useful, I can work on a solution to this.

[2019-08-23 23:22] SudharakaP opened #10270 "Some Videos Missing from JHipster Conf 2"
I was looking at the [JHipster Conf 2 videos](https://www.youtube.com/playlist?list=PL6IFaLdAcgE3aSgmRyhi6eULdlrwjA5sm) and I found two videos are missing in the YouTube channel;

1) The Reactive Revolution by Josh Long

2) Extending JHipster with Spring Cloud Kubernetes by Mauricio Salatino

Does anyone here have these videos and if so would you be able to share them?

Thanks much 😄

[2019-08-23 23:23] jdubois commented on #10270
I think some of the videos failed, but I don't which ones - @pascalgrimaud can you have a look at Ippon?

[2019-08-23 23:25] SudharakaP commented on #10270
@jdubois : Thanks Julien; hope it isn't much trouble asking for these, if you guys cannot find them, no worries as well 👍

[2019-08-24 01:53] SudharakaP commented on #9351
@jdubois @PierreBesson @DanielFran @pascalgrimaud : If you guys are okay, I am willing to work on this issue; it will take me some time to wrap my head around this one, but I am willing to give it a try. 😄

[2019-08-24 07:59] mrgenco commented on #10239
The error is same on local disk(with mvnw and gradlew). And using gradlew command the stacktrace is below.

`* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':compileJava'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter$3.accept(ExecuteActionsTaskExecuter.java:151)
        at org.gradle.api.internal.tasks.execution.ExecuteAction

[2019-08-24 08:08] vishal423 commented on #10239
would it be possible to create a sample github repository that can be used to reproduce this?

[2019-08-24 14:06] gmarziou commented on #10239
So, now we know that this is not a maven specific problem as you reproduced it with gradle and that you are able to compile from Eclipse. Do you confirm that maven build works from Eclipse?

I suspect something wrong with your shell environment. What do you use: cmd, powershell, git bash ?

[2019-08-24 15:45] mrgenco commented on #10239
Yes, I confirmed that maven build is working fine in Eclipse and I use cmd.

[2019-08-24 16:58] gmarziou commented on #10239
So, I think we won't be able to reproduce on our side because it's probably related to your environment and Turkish language. In the past, we have already seen issues with Liquibase and Turkish, only a Turkish developer was able to debug it.

Hopefully, you have a workaround for dev and for continuous integration you can probably use a server or service configured as "English" and maybe running on

[2019-08-24 17:57] Nymerea opened #10271 "An illegal reflective access operation"
##### **Overview of the issue**

After a fresh install (without any entity or controler) of mononlythic application on jdk 11, i got error

[code]

##### **JHipster Version(s)**

6.2

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptV

[2019-08-24 18:05] Nymerea opened #10272 "javax.management.mbeanserver error : Exception calling isInstanceOf"
##### **Overview of the issue**

After a fresh install on openjdk11, I have this stack :

[code]

##### **Reproduce the error**

Start the project with
[code]

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/9723

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json

[2019-08-24 18:38] ruddell commented on #10272
Did you try clearing your `.m2` folder and rebuilding? That solution from the related issue worked for several people

[2019-08-24 18:49] ruddell commented on #10271
Guessing it's related to https://issues.jboss.org/browse/UNDERTOW-1355 since JHipster uses Undertow and the stacktraces match.

[2019-08-24 19:38] PierreBesson commented on #10239
I'd also like to close the issue because it's very specific to your environment and we can't reproduce the bug. Thank you for providing all this info. Good luck for the future.

[2019-08-24 19:38] #10239 closed

[2019-08-24 19:47] saturnism commented on #10255
thanks! btw, does this affect the gradle build?

[2019-08-24 20:21] SudharakaP commented on #10255
@saturnism : We use [bootJar](https://docs.spring.io/spring-boot/docs/current/gradle-plugin/reference/html/#packaging-executable-configuring-launch-script) task for creating the jar on gradle side; but we haven't specified enabled the ```launchScript```. So the JAR created by gradle isn't fully executable.

[2019-08-24 20:52] ratijas opened #10273 "remove code duplication"
##### **Overview of the issue**

https://github.com/jhipster/generator-jhipster/blob/d2fe25d60161e6d752f2e482033d265b2cb88a5e/generators/server/files.js#L69-L78

Two identical blocks of code configuring mongodb generator. No impact on generation. Just redundant.

##### **Motivation for or Use Case**

##### **Reproduce the error**

No errors.

##### **Related issues**

##### **Suggest a Fix**

Remo

[2019-08-24 21:20] Nymerea commented on #10271
If I understand well, the issue say the problem is fixed since version 2.3.2.Final.
Maybe it is just a library update ?

[2019-08-24 21:26] Nymerea commented on #10272
I had read the comment, and use ```mvn clean``` command. I Taught it was suffisant but you're right, nuking ```.m2``` was the answer.

Sorry for the noise

[2019-08-24 21:26] #10272 closed

[2019-08-25 03:21] pmverma commented on #10266
Closing as this has been fixed #10267

[2019-08-25 03:21] #10266 closed

[2019-08-25 09:09] SudharakaP commented on #10271
@Nymerea : Don't think it's resolved yet. I believe what you are referring to is the ```jboss-threads`` version. The fix for the problem is to update Undertow's XNIO library to some version which in turn has ```jboss-threads``` version 2.3.2.Final or higher. But this seems to have other problems....

The final comment points to a link (http://undertow.io/blog/2019/04/15/Undertow-3.html) that says

[2019-08-25 09:31] SudharakaP commented on #10273
@ratijas : Thanks for reporting this. :smile:

[2019-08-25 09:54] atomfrede commented on #10269
It really depends on the project setup imho, when to trigger a sonar analysis (e.g. develop vs master branch). The analysis of any branch may update the sonar analysis. So I totally agree a PR from an external fork triggers sonar should be prevented.

[2019-08-25 15:47] #10273 closed

[2019-08-25 17:48] SudharakaP commented on #10269
@atomfrede : Wonderful; thanks.

If there's no other objections to this; I'll do a pr for this soon.

[2019-08-25 18:09] SudharakaP commented on #10253
@gmarziou : Thanks :+1:

@DanielFran : If you see any other issue please feel free to let me know; I cannot get the travis or any azure tests pass since the [jhispter-framework pull request](https://github.com/jhipster/jhipster/pull/379) needs to be build first.

And on that note, I've found time and time again there's some Azure test or Travis tests that fails for invalid reasons. Maybe this is t

[2019-08-25 18:40] atomfrede commented on #10255
It is easy to add. If you like I can do it after this is merged, but it is just adding

[code]

to tha `bootJar` task.

[2019-08-25 19:02] SudharakaP commented on #10255
@atomfrede : Yes, I just wanted to verify with Pierre before doing that since I wasn't sure if it's needed. Anyways, feel free to add that (or I can do that too if you prefer).

[2019-08-25 21:11] saturnism commented on #10255
i vote for consistency btwn maven and gradle builds

[2019-08-25 21:21] gmarziou commented on #10253
You don't have to wait for someone, just close and re-open your PR, it'll restart CI.

[2019-08-25 22:00] SudharakaP commented on #10253
@gmarziou : Thanks. :+1: Didn't think about that :smile:

[2019-08-25 22:14] SudharakaP commented on #10255
@saturnism @atomfrede : I've pushed the Gradle stuff as well. :smile:

[2019-08-25 23:14] SudharakaP commented on #10269
Please disregard this pull request; I've made a mistake.

[2019-08-25 23:23] SudharakaP commented on #10269
@atomfrede : This is done; let me know if you see any issues or anything :smile:

[2019-08-26 09:02] clement26695 commented on #3773
Hi ! For question like that, I'd recommend to use Stack Overflow or Gitter as you will have more answers there (We use GitHub to track bugs and feature enhancement requests, not for support).

For your question, it is not possible to change it without regenerating your entity. What I would suggest is to change the relationship in either the jdl or the json file inside the .jhipster folder, regener

[2019-08-26 09:36] avdev4j commented on #10270
I've just sent a mail to know what happen with those vids. Maybe one forgets or technical problems during the capture. I keep you informed.

[2019-08-26 09:50] hackpros commented on #9545
1.  use administrator run cmd.exe

[2019-08-26 10:28] avdev4j opened #10279 "Choose between properties and plugin configuration for maven-compiler-plugin"
##### **Overview of the feature request**
According to https://maven.apache.org/plugins/maven-compiler-plugin/examples/set-compiler-source-and-target.html we could configure maven-compiler-plugin by 2 ways:

* By setting properties:
[code]

* By setting the configuration plugin itself:
[code]

In JHipster we have both solutions implemented. We could remove one of them.

IMHO I would remove the con

[2019-08-26 10:42] avdev4j commented on #10270
Unfortunately, these videos are not available because of screen capture failed.
I'm sorry.

[2019-08-26 10:42] #10270 closed

[2019-08-26 12:55] clement26695 commented on #10219
I can take a look if you want, @DanielFran

[2019-08-26 13:05] SudharakaP commented on #10270
@ardev4j :  No worries. Thanks much for looking into this.

[2019-08-26 13:15] DanielFran commented on #10219
@clement26695 I started looking at it, but did not have much time, so you can work on it... thanks

[2019-08-26 13:43] jdubois commented on #9351
@SudharakaP feel free to do it! As it would a useful improvement, and as this has been opened for too long, I'm adding a bug bounty to this.

[2019-08-26 18:51] #10269 closed

[2019-08-26 19:19] #9876 closed

[2019-08-26 22:15] DanielFran opened #10288 "Update Keycloak to 7.0.0"
##### **Overview of the feature request**

Update Keycloak to latest version: see https://www.keycloak.org/docs/latest/release_notes/index.html#keycloak-7-0-0

Refer to https://www.keycloak.org/docs/7.0/upgrading/index.html#migrating-to-7-0-0

Need changes on:
- https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-constants.js#L32
- https://github.com/jhipster/generator-

[2019-08-26 22:50] DanielFran commented on #10288
@SudharakaP Too late, I already submitted one.
But you still can review the PR...

[2019-08-27 04:18] yelhouti opened #10290 "Ability to query unpaged data"
##### **Overview of the issue**
we can not query unpaged data even when using param: `?unpaged=true` or `?paged=false`. As per my quick searched on the internet, this should normally work but since we have a custom `PageableParameterBuilderPlugin` that didn't re-implement that it doesn't.

##### **Motivation for or Use Case**
being able to preload a class that is reused through the app and needs t

[2019-08-27 08:15] caffeinecoders opened #10292 "Keycloak realm name to be same as project name"
##### **Overview of the feature request**

Currently when we generate project with Keycloak support, the realm name generate for Keycloak cloak is "jhipster", can it be instead the project/application name

##### **Motivation for or Use Case**

This is something which I have to do it manually everytime, but if this comes as part of code generated from Jhipster, I believe this will be addon for me.

[2019-08-27 12:28] avdev4j commented on #10292
Hi @caffeinecoders
I think "jhipster" is used as realm name to match with default keycloak docker config -> https://github.com/jhipster/generator-jhipster/tree/master/generators/server/templates/src/main/docker/config

But I suppose we could change it with the project with the matching pattern. Maybe @mraible could help us to learn more about that.

regards,

[2019-08-27 13:23] #10209 closed

[2019-08-27 15:31] mraible commented on #10292
No one has complained in the past. How many apps are you creating and why is this an issue for you?

[2019-08-27 20:23] #10219 closed

[2019-08-27 20:25] atomfrede commented on #10290
@yelhouti Good catch. If you could do a PR that would be awesome

[2019-08-28 03:43] yelhouti commented on #10290
After reading the code https://github.com/spring-projects/spring-data-commons/blob/master/src/main/java/org/springframework/data/web/PageableHandlerMethodArgumentResolver.java it seems that this param is not standard, I could override the Resolver to check first for `unpaged` and if not true (false or null) return unpaged else call parent method. Of course this should be added if everyone thinks i

[2019-08-28 05:07] cbornet commented on #10290
PageableParameterBuilderPlugin is only for the OpenAPI spec so it doesn't have any effect on the handling of the query. The pagination is handled by spring and I don't think we should change the behavior. IMO it's dangerous to give the possibility for the client to query unpaged data with large collections.

[2019-08-28 05:12] cbornet commented on #10290
I don't see any reference in the doc to paged=false or unpaged=true. Could you give links to where it's mentioned ?

[2019-08-28 05:14] yelhouti commented on #10290
@cbornet you are right, please read my comment before...

[2019-08-28 06:14] Blackdread commented on #10290
Never heard of paged=false or unpaged=true as well, you have a link for that?
As mentioned by @cbornet you should not have unpaged api when have lot of data.
In your case you can set default Pageable in the resolver, set max as high as you wish then it should solve your problem but no need to change `PaginationUtil.generatePaginationHttpHeaders` or other things

[2019-08-28 06:19] yelhouti commented on #10290
@Blackdread please also read my comment above, also your solution is not what I'm looking for, I want to have pagination everywhere, except in one case, and in that one data will be cached using a service worker.

[2019-08-28 06:21] yelhouti commented on #10290
For those interested here is my code:
[code]

[2019-08-28 08:01] caffeinecoders commented on #10292
I am creating multiple apps, and using single Keycloak instance with multiple realms setup on the same. But main reason is still not this, but to use realm name as project name, makes URL better looking.

I don't want to hide that I am using jhipster framework, infact, I do give credits to Jhipster framework always in our framework used sections.

[2019-08-28 08:03] caffeinecoders opened #10300 "Using Keycloak docker image with External Mysql Server"
##### **Overview of the feature request**

Using Keycloak running inside docker container, with Google cloud sql instead of mysql running in separate container.

##### **Motivation for or Use Case**

Migrating my application to cloud, and like to use google cloud sql for storing keycloak data.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-08-28 08:16] pmverma commented on #10292
Here is the issue I created for the same. https://github.com/jhipster/generator-jhipster/issues/9502 cc: @mraible @avdev4j

[2019-08-28 09:08] pmverma commented on #10292
But again, this totally depends on the organization/company and use cases.
For eg, you can refer to RedHat website.

For developers,
https://developers.redhat.com/auth/realms/rhd/login-actions/registration?client_id=web&tab_id=CAKv_u-OHec

For customers,
https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/auth?client_id=customer-portal&redirect_uri=https%3A%2F%2Faccess.redha

[2019-08-28 09:27] pmverma commented on #10300
Have you tried connecting your keycloak to external database?
For eg, https://github.com/jboss-dockerfiles/keycloak/blob/master/server/README.md#environment-variables

This is not a feature request for JHipster but related to keycloak deployment which you have to do manually if you don't want to use generated db for you.

[2019-08-28 10:27] caffeinecoders commented on #10300
Actually, I check the configuration and tried providing google cloud sql parameters directly as per documentation but for some reason that didn't work.

[2019-08-28 12:02] Blackdread commented on #10290
you get UnsupportedOperationException if your Pageable instance is wrongly used.
If you really do not want pageable then just remove it from your Controller method :)

[2019-08-28 12:50] clement26695 opened #10301 "URL are inconsistent between Angular and React"
##### **Overview of the issue**

There are still some inconsistencies in URLs between Angular and React.
For instance, for accessing the entity page:

-  in Angular with: http://localhost:8080/meal
- in React    with: http://localhost:8080/entity/meal

##### **Motivation for or Use Case**

Keep consistency between the different generators

##### **Reproduce the error**

##### **Related issues**

P

[2019-08-28 13:12] cbornet commented on #10290
I think pagination works as expected.
@yelhouti you can reopen if you think something can be done better.

[2019-08-28 13:12] #10290 closed

[2019-08-28 17:14] amirdt22 opened #10302 "ElasticSearch+Cucumber tests fail (6.1.2 and 6.2.0)"
##### **Overview of the issue**

Running `./mvnw clean verify` on a fresh jhipster app with cucumber and elasticsearch selected (with all other defaults) fails.

##### **Motivation for or Use Case**

Would like tests to pass

##### **Reproduce the error**

[code]

Expected: tests to pass

Actual:
[code]

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/10081

##### *

[2019-08-28 21:13] ben-manes commented on #9351
It depends on if you want to use the JCache or not, I suppose.

In the non-JCache world, [CaffeineSpec](https://static.javadoc.io/com.github.ben-manes.caffeine/caffeine/2.8.0/com/github/benmanes/caffeine/cache/CaffeineSpec.html) is the configuration that can be externalized to a file. Other details are instance based, like the `CacheLoader`. Spring Cache uses the native APIs directly in their adap

[2019-08-28 22:55] SudharakaP commented on #9351
@ben-manes : Thanks for the detailed explanation 👍 . Yes, we use JCache right now (via our [CacheConfiguration](https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/java/io/github/jhipster/sample/config/CacheConfiguration.java) and yes we replace their configuration with [our own](https://github.com/jhipster/jhipster-sample-app/blob/44fe542775c1073cdb07bc2a6f7da1c2efe1d8eb/src/main

[2019-08-28 23:01] ben-manes commented on #9351
oh I see, thanks!

Ehcache's `time-to-live-seconds` is our `expireAfterWrite` and their `time-to-idle` is our expireAfterAccess`.

Note that we set `store-by-value` to false, whereas JCache defaults that to `true` in their standard `MutableConfiguration` class. It makes things ungodly slow and not very practical, most of the time.

[2019-08-29 07:36] SudharakaP commented on #9351
@jdubois @ben-manes : I've created the pull requests relevant to the change. Please let me know if you have any suggestions or comments. :smile:

There's one other part I need to do; update the documentation on our webpage. I'll do that tomorrow. :smile:

[2019-08-29 08:06] SudharakaP commented on #9351
@jdubois : Inspired from [this comment](https://github.com/jhipster/jhipster/pull/383#issuecomment-526065290) should we still support Ehcache ? In the commits I replaced Ehcache with Caffeine since I thought that's what this is about (plus since Caffeine is more performant in every sense). But maybe I am wrong; if we still need to support Ehcache as a secondary option let me know; I have to change

[2019-08-29 09:15] clement26695 opened #10304 "Incorrect eslintrc configuration with default react app and no e2e tests"
##### **Overview of the issue**

The eslintrc.json file contains these lines, even if no tsconfig.e2e.json is generated. It causes `npm run webpack:build` to fail.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

This line https://github.com/vishal423/generator-jhipster/blob/ebebc5da928ce2205a92359d9eef10332739495b/generators/client/templates/react/.e

[2019-08-29 09:24] vishal423 commented on #10304
@clement26695. Thanks for reporting. I will check this later today.

[2019-08-29 11:55] dean0bambin0 commented on #9949
Just coming here from #7424 From a bit of googling it looks like Debezium might be a good fit here with Kafak.  It could be used not only to keep entities in sync across microservices but also for the Elasticsearch data replication which would fit nicely into jhipster too as it provides the elasticsearch layer.  Maybe it's not good fit as i'm not super familiar with jHipster architecture but just

[2019-08-29 11:57] pmverma commented on #9351
@SudharakaP Please see my comment at https://github.com/jhipster/jhipster/pull/383#issuecomment-526151344

[2019-08-29 13:09] #10304 closed

[2019-08-29 13:13] SudharakaP commented on #9351
@pmverma @DanielFran : With regard to the discussion here, https://github.com/jhipster/jhipster/pull/383#issuecomment-526151344 ; thanks for the clarification, I'll change it this evening so that Caffeine becomes the default option not replace ehcache. Sorry for the misunderstanding. :smile:

[2019-08-29 16:00] jdubois commented on #9351
Sorry @SudharakaP my idea is that we support both! In fact, I would keep ehcache by default as it's more widely used and known by Java developers, and I see Caffeine as an optimization for people who know what they do

[2019-08-29 16:08] SudharakaP commented on #9351
@jdubois : No problem; I'll change this to add Caffeine as an option. 👍

[2019-08-29 23:15] SudharakaP commented on #9351
I've changed things and it all looks good to me. Let me know if you guys see any issues 😄

Couple of things; I've configured Caffeine configuration to mimic the Ehcache configuration from the users perspective; that is the user has to configure ```time-to-live-seconds``` and ```max-entries``` as before. Now we can change these to Caffeine specific property names as well as include more of these pr

[2019-08-29 23:42] SudharakaP opened #10311 "Parallel Test Execution - Maven Surefire Plugin"
##### **Overview of the feature request**
Maybe this has been tried before, and I hope this is not a duplicate; if so I apologize in advance. 😄

I've noticed the checks (for JH generator) take quite a bit of time; especially our Travis Build.  For a typical successful build it usually takes around [45 mins or so](https://travis-ci.org/jhipster/generator-jhipster/builds/578576132).

Now I do see th

[2019-08-30 02:03] kaidohallik opened #10312 "Git commit fails in Windows after lint-staged upgrade to v9"
##### **Overview of the issue**

#10254 upgraded `lint-staged` version from 8.2.0 to 9.2.3.

After that initial generated application is not committed to Git in Windows, the following error occurs:
  <details>
  <summary>Git commit error in Windows</summary>
  <pre>
husky > pre-commit (node v10.15.3)
‼  lint-staged generated an argument string of 21937 characters, and commands might not run correc

[2019-08-30 04:03] pmverma commented on #10311
Travis builds are slow anyway and there has been some discussion to remove in future.
So lets focus on Azure builds as it is much faster.
Certainly, there are some rooms for improvements such as using [Azure Pipeline caching (preview)](https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops) to reduce the download time of both ` java dependencies` and `node_modules`.

La

[2019-08-30 04:28] SudharakaP commented on #9622
@Tonterias : I stumbled upon this thread today and I just want to point out there's a pending pull request against #9605 as well as I've created a separate pull request for supporting GAE with Java 11 (#10196); if you are in a hurry you might be able try them out by building the generator yourself. :smile:

[2019-08-30 04:44] SudharakaP commented on #10311
@pmverma : Wonderful; thanks much; Even not specifically for Travis, making Surefire parallel might be a worthwhile improvement if the build times are greatly reduced, but the amounts you quote aren't that much of an improvement isn't? I mean making it faster by some seconds doesn't make a difference I was thinking. When you were referring 10 secs and 40 secs were you referring to individual tests

[2019-08-30 05:05] vishal423 commented on #10312
Thanks @kaidohallik  for reporting. I will handle this.

[2019-08-30 05:12] pmverma commented on #10311
Here are some references:
https://groups.google.com/forum/#!topic/jhipster-dev/-15ABEvSVHc
https://github.com/jhipster/jhipster-vuejs/issues/435#issuecomment-516831626

For the tests I was referring the whole test suites.
BTW, Surefire only runs unit test as per current configuration.
Failsafe plugin runs the integration tests which takes longer time than unit tests.

You can analyze more at https

[2019-08-30 05:52] SudharakaP commented on #10311
Wonderful thanks a bunch for all the links and info. 😃

Let me go through the links and stuff you sent and do some more research
into making this faster.

On Thu, Aug 29, 2019, 10:13 PM P. Mohan <notifications@github.com> wrote:

[2019-08-30 13:22] petecarapetyan commented on #4251
@mraible When you get to it, let me know and we can compare notes. I haven't talked to you for about a decade - I think it was when you were presenting at JavaMUG in Dallas on your own framework, long before JHipster.

The guys at https://github.com/dotansimha/graphql-code-generator have already done a ton of foundational work, and depending on which version the docs sometimes keep up with the lat

[2019-08-30 14:23] JesusTheHun opened #10320 "Generated gateway UserService.getUserFromAuthentication() error"
##### **Overview of the issue**

The generated method `UserService.getUserFromAuthentication()` produce this code :

[code]

Unfortunately `User.setAutorities()`expect a `Set<String>`and is given a `Set<Authority>`. Hence compilation fails.

##### **Reproduce the error**

Generate a gateway with jhispter generator with OAuth2, it won't compile.
##### **Suggest a Fix**

The fix is pretty simple, re

[2019-08-30 14:55] petecarapetyan commented on #4251
@corlaez Neither php nor kotlin is a direction that I am headed in, but per my previous above, the guys at https://github.com/dotansimha/graphql-code-generator have done a pretty thorough job of moving in this same direction with JS and TS based generators. Their implementation is both mature and in active maintenance, also with commercial implementations depending on it, so it seems to have enoug

[2019-08-30 16:04] nbaiocco opened #10321 "Infinispan as cache provider: wrong cache configuration for Hibernate L2 and Spring"
##### **Overview of the issue**

CacheConfiguration with infinispan provider enabled seems to be wrong, it caches:
1.  Hibernate L2 for entities
2.  Spring cache

It seems to be configured in **local mode** and these configurations are not aceptable for a cluster configuration in which these modes are useful: invalidation, distribution or replication
(https://infinispan.org/docs/stable/user_guide/

[2019-08-30 16:31] SudharakaP commented on #9351
@DanielFran : I see that you've been assigning labels to stuff and doing some housekeeping. Just wondering do you guys need any help with bug triaging or any other stuff that needs attention? I have a lot of free time these days and could help out if you'd like. 😄

[2019-08-30 16:59] SudharakaP commented on #8366
@orbific : Are you still working on this? If not I can take over.

@pascalgrimaud @deepu105 : I have never worked with AWS, only with GCP but I guess, it should be somewhat similar in terms of the underlying concepts. So it might take me a bit of time to figure things out but if you guys are okay I can give it a shot. 😄 😄

[2019-08-30 17:35] amirdt22 commented on #10242
Alternative is to use `"webpack": "4.35.3"` in package.json

[2019-08-30 19:34] SudharakaP commented on #9351
@ben-manes : Hi Ben, Now that I've completed the integration; I was just going through the documentation part for Caffeine. It's almost ready except I was wondering where to get a logo of Caffeine to include in our [homepage](https://www.jhipster.tech/) under the `Server Side Options` section.

Do you by any chance have a logo which you can provide us? 😄

[2019-08-30 20:22] ben-manes commented on #9351
That's really great @SudharakaP, thanks for doing all of this. 😄

There isn't a logo, but I did borrow an [image](https://en.wikipedia.org/wiki/Caffeine#/media/File:Caffeine_structure.svg) from Wikipedia for the caffeine molecule. That has feels a bit like different systems connected together / communicating. What do you think about using something like it with the project name?

<img height="90px

[2019-08-30 20:46] SudharakaP commented on #9351
@ben-manes : Sure that would work; we do use the name for every project in our [webpage](https://www.jhipster.tech/).

![image](https://user-images.githubusercontent.com/12435965/64050324-814fc900-cb2c-11e9-91fe-796b411e0f2d.png)

[2019-08-30 20:54] SudharakaP commented on #9351
@ben-manes : How about this; you agree?

![image](https://user-images.githubusercontent.com/12435965/64050669-a1cc5300-cb2d-11e9-84f1-9d06d436252e.png)

![image](https://user-images.githubusercontent.com/12435965/64050703-bc063100-cb2d-11e9-9964-b3cfef7d36c2.png)

[2019-08-30 20:56] ben-manes commented on #9351
lgtm 😺

[2019-08-30 22:27] SudharakaP commented on #9351
@ben-manes : Note that the main blob about Caffeine is; https://github.com/jhipster/jhipster.github.io/blob/32ee53cadd45b8fd542043be04be6b8de0a44f84/pages/using_cache.md#caching-with-caffeine

Please let us know if you have any additional suggestions on what to add there.

[2019-08-30 22:50] ben-manes commented on #9351
Thanks @SudharakaP, that seems pretty good.

It is not very clear why one might consider Caffeine over Ehcache, e.g. is it legacy for backwards compatibility or an improvement? That's not really JHipster's role to advocate one way or another, but does offer hints like `Ehcache is ... a perfect solution for "normal" monoliths` or `Infinispan is a highly performant caching solution`. I think the wor

[2019-08-30 23:27] SudharakaP commented on #9351
You are welcome 😄

I agree; how about your readme line; "Caffeine is a [high performance](https://github.com/ben-manes/caffeine/wiki/Benchmarks), [near optimal](https://github.com/ben-manes/caffeine/wiki/Efficiency) caching library" might be a good choice. Or do you have something else in mind?

Hmm.... 😄 I am trying to understand what you meant here (I have to do some more research on JCache inte

[2019-08-30 23:55] ben-manes commented on #9351
Perfect :)

JCache has features that are usually externalized into a configuration file, since the Java code is supposed to be provider agnostic. This means that things like cache loader, listeners, etc. are specified by the class name and loaded by the provider, which itself is accessed by a static singleton. Being static-based is not natural for dependency injectors like Spring and Guice which w

[2019-08-31 03:58] #10312 closed

[2019-08-31 10:55] #10255 closed

[2019-08-31 11:01] PierreBesson commented on #10255
@SudharakaP I have opened another MR to introduce the backward compatibility I was talking about : https://github.com/jhipster/generator-jhipster/pull/10324

[2019-08-31 11:36] thawkins commented on #4251
Graphql would be very very cool, we are using spring with mongodb, and are defining the schema in json-schema,  the graphql schema definitions, the mongodb schema, the json-schema and the swagger schema, just seem to be alternative versions of each other,  it would be very very cool to have a single schema model that could be annotated and used to generate all of the implementation schemas as requ

[2019-08-31 12:48] petecarapetyan commented on #4251
@thawkins - speaking of swagger - the graphql-code-generator is patterned directly after the author's previous use of swaggers codegen tool,  and is open for usage under any other toolset such as jhipster.

I found one of the more challenging parts of the graphql-code-generator tool is that it appears to take in 4(?) different types of schema inputs each of which is a bit confusing to me as a grap

[2019-08-31 13:01] thawkins commented on #4251
Our company is currently working on a large SaaS app thay uses spring, react, mongo graphql,  which we conctructed by hand, schema management  is a big problem that is not solved.  We currently hand maintain the main schema in json-schema v7, and then convert to the others manualy as needed, i will review with my team next week and post any observations.

[2019-08-31 13:02] SudharakaP commented on #10255
@PierreBesson : Wonderful. Thanks. I think we need to put this in our documentation; otherwise I think a user will have a hard time guessing what ```embeddableLaunchScript``` means. I was trying to think of the most appropriate place to put this; any suggestions?

[2019-08-31 13:14] Aishameem opened #10325 "Screenshot"
![Screenshot_20190831-180732](https://user-images.githubusercontent.com/54743547/64064460-467a8d80-cc1f-11e9-9c8e-f99d23d4aff6.jpg)
![Screenshot_20190831-181219](https://user-images.githubusercontent.com/54743547/64064461-467a8d80-cc1f-11e9-947d-aff3920009ad.jpg)

[2019-08-31 13:39] SudharakaP commented on #10320
I've recreated this issue on my end and it seems that this was introduced in https://github.com/jhipster/generator-jhipster/commit/f26c0cf83fa07286d94c263bb1db801779642d9f.

@cbornet : Seems like the following part is redundant since we take the authority through ```.map(GrantedAuthority::getAuthority)```. Do you agree removing it?

[code]

[2019-08-31 13:44] SudharakaP commented on #10325
@Aishameem : Hi Aishameem, If I may offer a suggestion;

Please follow our [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue) when creating an issue as this would be useful for us to recreate this on our end; Refer to: https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue

[2019-08-31 13:47] PierreBesson commented on #10196
@pascalgrimaud I think this issue should have a bug bounty to reward @SudharakaP's hard work.

[2019-08-31 14:15] PierreBesson commented on #10325
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-08-31 14:15] #10325 closed

[2019-08-31 14:19] PierreBesson commented on #10301
Maybe @deepu105 or @sendilkumarn know the reason why the `entity/` prefix was added for React ?

[2019-08-31 14:21] PierreBesson commented on #10311
Any optimisation in speeding up tests is welcome. However our CI is slow mostly because of e2e tests.

[2019-08-31 14:31] SudharakaP commented on #10258
@atomfrede : I suppose after merging #10263 we should get A rating and this could be closed; correct? Just confirming to make sure whether I have to work further on this one. :smile:

[2019-08-31 14:36] PierreBesson commented on #9949
I think especially Embedded Debezium could be a good fit for JHipster : https://debezium.io/docs/embedded/
ping @gunnarmorling who seem to be silently following this discussion :smile:

[2019-08-31 16:33] fdelbrayelle commented on #10279
I would like to take this one for my first PR on the project just to check all the regular steps to resolve an issue properly. @SudharakaP are you ok to let me this one?

[2019-08-31 17:21] SudharakaP commented on #10279
Sure thing. :smile: Go ahead by all means.

On Sat, Aug 31, 2019, 9:33 AM François Delbrayelle <notifications@github.com>
wrote:

[2019-08-31 17:38] dean0bambin0 commented on #9949
Cool, i might give it a shot during the week.

[2019-08-31 18:44] saturnism commented on #10255
thank you for the pr!

[2019-08-31 19:00] atomfrede commented on #10258
@SudharakaP Yes, I think there are no other issues left.

[2019-08-31 20:24] SudharakaP commented on #10258
Wonderful. Thanks for the confirmation. :smile:

On Sat, Aug 31, 2019, 12:01 PM Frederik Hahne <notifications@github.com>
wrote:

[2019-09-01 10:17] #10196 closed

[2019-09-01 10:17] #9605 closed

[2019-09-01 12:49] petecarapetyan commented on #4251
@thawkins You will find ready made generators in the graphql-code-generator tool for each of react and mongo from directly from graphql schema - and the site describes these as being in commercial use by the coders that created them.

I'm a bit allergic to either of react or mongo, but sounds like you could get some serious lift straight-away, and still remain in the jhipster environment.

[2019-09-01 17:22] PierreBesson commented on #10255
BTW @saturnism how do we use Cloud Native Buildpack with JHipster. Do we have to create our own builder ? The default builder fails for me as it is not correctly setting the maven prod profile (following: https://buildpacks.io/docs/app-journey/).

[2019-09-01 18:18] amirdt22 opened #10330 "swagger api doc not sending authorization header under JWT"
##### **Overview of the issue**

In a fresh mvn, jwt, api-first development app, the swagger /admin/docs interface is not sending the authorization header resulting in 401 for all new endpoints.

##### **Motivation for or Use Case**

Confusing for new users who want to use the interface to test out endpoints.

##### **Reproduce the error**

1) Generate an app selecting all defaults (mvn, jwt) and

[2019-09-01 19:46] amirdt22 commented on #10330
Changing api.yml might not be the right approach as it looks like "jwt" has a special meaning for the swagger-editor and it correctly sends the bearer header for "jwt" but not for "bearer" so perhaps the best options is to update `swagger-ui/index.html.ejs`?

[2019-09-01 20:22] cbornet commented on #10330
What is the path of the endpoint you added to your api.yml ? I think the header is only added for /api/** endpoints.

[2019-09-01 23:00] amirdt22 commented on #10330
The path is `/api/pet/findByStatus`.  (I might also suggest that the `servers.url` parameter includes `/api` otherwise they won't show up in swagger due to `swagger:default-include-pattern: /api/.*`)

Full api.yml here:
[code]

Changing `securitySchemes.jwt` and `security.jwt` to `securitySchemes.bearer` and `security.bearer` makes it work in `/admin/docs` however the docker-compose swagger-editor

[2019-09-01 23:24] amirdt22 commented on #10330
I think this is the right fix:
[code]

This works with both the `admin/docs` view as well as the swagger-editor.

[2019-09-01 23:43] SudharakaP opened #10331 "GAE Generator Enhancements and Corner Cases"
##### **Overview of the feature request**

This is a continuation of https://github.com/jhipster/generator-jhipster/issues/10196 which hopes to discuss and do some refactoring to the GAE App generator. It's my belief that this generator has some remaining issues outlined below.

1) If the user hasn't installed Google Cloud SDK our app generator prompts the user to do so but it also give the unnece

[2019-09-02 00:36] amirdt22 commented on #10330
Or in the generator:
[code]

[2019-09-02 02:37] SudharakaP commented on #10331
Thinking about 2) further an alternative approach is we could spit back the full error message along with a message saying that ``app-engine-java`` is "probably" not installed; which then the user could use to figure out the problem. In the current state app engine doesn't give the full error message;

INFO! Executing jhipster:gae
INFO! Options: from-cli: true
Welcome to Google App Engine Generato

[2019-09-02 07:44] abhishekj commented on #4659
Hi  I too get this error on latest Jhipster 6. My app is monolithic, and i am running prod build. what change should i do in current app to get past it pleaae?

thanks

[2019-09-02 08:16] pascalgrimaud commented on #4659
@abhishekj : plz, don't comment old ticket and open a new one if you thing there is an issue with JHipster. Anyway, if you have the same error, it's because you didn't start the registry.

[2019-09-02 08:20] clement26695 commented on #4659
Yes, as @pascalgrimaud said, if you think this is a bug, please open a new ticket and follow the template as it will give us steps to reproduce and information about your configuration.

Otherwise, we won't be able to give you any help

[2019-09-02 09:57] cbornet commented on #10330
The "bearer" clientAuthorizations is used for the OAS generated by Springfox (management and entities endpoint) so I don't think it can be removed.

[2019-09-02 12:27] cbornet commented on #10330
Ignore my previous comment. Your change does indeed work. Do you want to do the PR ?

[2019-09-02 15:03] deepu105 commented on #10220
Since these will be breaking lets do it for next major version

Thanks & Regards,
Deepu

On Wed, Aug 14, 2019 at 11:27 AM Pascal Grimaud <notifications@github.com>
wrote:

[2019-09-02 17:18] SudharakaP opened #10333 "Some bugs in SonarQube Analysis"
##### **Overview of the issue**

I've realized that one of the commits that I've previously made has a mistake; this is related to to issue #10278. Notice that the lines;

`  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./mvnw -ntp org.jacoco:jacoco-maven-plugin:prepare-agent initialize sonar:sonar <% if (sonarOrga) { %>-Dsonar.organization=<%= sonarOrga %> <% } %>-Dsonar.host.url=<%= sonarUrl

[2019-09-02 17:21] SudharakaP commented on #10333
@atomfrede : Sorry about the mistakes; hope you could review this again :smile:

[2019-09-02 17:59] al100 commented on #9345
I faced the same issue and remove jhipster framework 3.0.3 from my pom.xml and it fixed it

Hope it helps

[2019-09-02 20:02] fdelbrayelle commented on #10279
Still failing in Azure with the same error even after taking [this commit](https://github.com/jhipster/generator-jhipster/commit/31f592418343ad26ca560de6c2912fb3bcc78d8f) from @DanielFran.

Here is the error:

[code]

It seems it's a bad idea to remove version from maven-compile-plugin, so @avdev4j should we close this issue?

[2019-09-02 20:32] #10333 closed

[2019-09-03 03:28] saturnism commented on #10331
/cc @ludoch

nice, for `gcloud`, i guess it should just fail immediately.

[2019-09-03 03:42] saturnism commented on #10255
it's an open question for me too.
https://buildpacks.io/docs/using-pack/building-app/ can specify env vars, and we can potentially add env var activation for the profile.

but adding @nebhale to see if there is a better way :D

[2019-09-03 15:23] saturnism opened #10343 "Kubernetes Generator doesn't use the correct service URL prefix"
##### **Overview of the issue**

See https://medium.com/@simionrazvan/microservices-using-jhipster-kubernetes-istio-bf75e992612a

Sometime along the way, service prefixes updated from `[serviceName]/` to `/services/[serviceName]`. Kubernetes generator needs to be updated.

##### **Motivation for or Use Case**

To let Kubernetes generator work out of the box.

##### **Reproduce the error**

##### *

[2019-09-03 15:59] jkutner commented on #10255
@PierreBesson @saturnism this should work:

[code]

But that creates an app on the Heroku stack (Ubuntu 18.04 plus some packages). That might not be what everyone wants.

Creating a jhipster builder image would allow users to have more choice over the os/stack. But it would probably also mean creating a jhipster buildpack because the Heroku buildpack expects the Heroku stack (and really commands l

[2019-09-03 16:28] PierreBesson commented on #10255
@jkutner is it hard to maintain our own buildpack ? Personally I like the approach of "source-to-image" that buildpacks provide. Maybe we can open a new issue about this.

[2019-09-03 16:45] SudharakaP commented on #10331
Wonderful. Thanks for the confirmation @saturnism . I've created a PR which fixes both issues. Please let me know if you see any issues. 😄

[2019-09-03 18:00] jkutner commented on #10255
I don't think we want to maintain a buildpack for JHipster. We should probably give options, which right now are:

* Heroku Buildpacks
* Cloud Foundry buildpacks

CF support two stacks (i forget what they are though). Eventually, there may be more options from other vendors.

Then Jhispter and set up the right command options for the chosen builder/stack.

[2019-09-03 19:08] mshima commented on #10257
I think jhipster isn't allowing installing blueprints globally.

You should install locally.

Running on Mac too.

[2019-09-03 19:12] SudharakaP opened #10344 "Support for GAE Flexible"
##### **Overview of the feature request**

Currently we support [GAE Standard](https://cloud.google.com/appengine/docs/standard/java11/) and my belief is it's getting fairly stable after we fix #10336.

I would like to discuss about supporting [GAE Flexible](https://cloud.google.com/appengine/docs/flexible/java/). The problem is Flexible environment by default only runs on Java 8. Although what I

[2019-09-03 19:17] SudharakaP opened #10345 "Add Support for Microservices in GAE"
##### **Overview of the feature request**

I was thinking we could add support for Microservices in our GAE Environment(s). It seems that [GAE supports microservices through services](https://cloud.google.com/appengine/docs/standard/java11/an-overview-of-app-engine).

If this is something useful; I could work on this one. Let me know your thoughts. 😄

##### **Motivation for or Use Case**

Add Micr

[2019-09-03 20:10] saturnism commented on #10255
@jkutner do you know what `pack` uses by default? I thiiiink I found BP_BUILD_ARGUMENTS
https://github.com/cloudfoundry/build-system-cnb

[2019-09-03 20:30] saturnism commented on #10255
ah, it was only done 5 days ago, by @nebhale ;)
https://github.com/cloudfoundry/build-system-cnb/issues/11

[2019-09-03 21:30] jkutner commented on #10255
@saturnism that's only the default because you must have chosen the CF buildpack as the default at some point. `pack` is agnostic between CF/Heroku

[2019-09-04 01:35] amirdt22 commented on #10330
@cbornet sorry just saw this - I can do the PR but not sure how to add tests for this, if you can advise here or once I open it, would appreciate that.

[2019-09-04 07:00] sww0825521xy commented on #7865
## I also meet this issue due to the base64-secret
### change the config file in gateway and microservice, make sure security.authentication.jwt.base64-secret is equal.

[2019-09-04 08:19] freynder commented on #9723
I continued to experience the issue on multiple occasions. The issue occurs when using Eclipse (sts-4.3.2) so I guess the Eclipse JDT core compiler may be involved? When closing editors and running mvn clean && mvn from the command line, there is no error.

For my particular case, I also experienced errors with Lombok from command line when using JDK 11 but have removed it since.

[2019-09-04 08:24] #10330 closed

[2019-09-04 08:26] cbornet commented on #10330
Don't worry. I don't think we have tests for swagger-ui yet so this shall be done in a separate PR.

[2019-09-04 09:39] vwiencek opened #10348 "pureFilter:filter not working in logs.components.html"
##### **Overview of the issue**

The `logs.components.html` page doest not properly display the logs list. Logs are correctly injected within the component, but the html page seems to have difficulties displaying loggers because `pureFilter:filter:'name'` does not work properly.

I don't really see where it needs to be injected / imported to be used within the view.

##### **Motivation for or Use

[2019-09-04 09:49] vishal423 commented on #10348
possible duplicate of #9982

[2019-09-04 12:06] vwiencek commented on #10348
it works with ng-jhipster 11.0 but not 11.1 ....

[2019-09-04 12:11] kaidohallik commented on #10348
To use ng-jhipster 0.11.1 we must merge #10069, will continue conversation there.

[2019-09-04 13:18] maznag commented on #10271
Here is another issue when running JHipster under Java 12.

`WARNING: An illegal reflective access operation has occurred`

`WARNING: Illegal reflective access by org.springframework.cglib.core.ReflectUtils (file:/Users/mustapha/.m2/repository/org/springframework/spring-core/5.1.9.RELEASE/spring-core-5.1.9.RELEASE.jar) to method java.lang.ClassLoader.defineClass(java.lang.String,byte[],int,int,jav

[2019-09-04 13:25] vishal423 commented on #10348
I am closing this as current master code is on `v0.11` that contains the fix.

https://github.com/jhipster/generator-jhipster/blob/3213aa38ec51216ebf345e8c18cfd34b24923241/generators/client/templates/angular/package.json.ejs#L49

[2019-09-04 13:25] #10348 closed

[2019-09-04 13:32] #10300 closed

[2019-09-04 18:01] SudharakaP commented on #10271
@maznag : [>>This<<](https://github.com/spring-projects/spring-framework/issues/20414) seems to be the thread relevant to your issue; could you post the full stack trace after passing `--illegal-access=debug` argument please? Then we might be able to get some more information on this. 😄

https://github.com/spring-projects/spring-framework/issues/20414

[2019-09-04 18:11] saturnism opened #10352 "Kubernetes/Istio Enhancements"
##### **Overview of the feature request**

- [x] Ability to choose Ingress type / class
- [x] Ability to allow empty domain name for Ingress
- [x] Default Istio to use Istio Ingress w/ reasonable defaults

##### **Motivation for or Use Case**

To allow easy out-of-the-box deployment experience for different types of clusters.

###### Ability to choose Ingress type / class
Kubernetes Ingress comes

[2019-09-04 22:17] #10343 closed

[2019-09-04 23:12] SudharakaP commented on #10331
@saturnism , @PierreBesson : I was wondering adding one more thing to this; we probably should set the `secure: always` in `app.yaml` by default to redirect all http traffic to https since anyone who's using GAE will most probably use their managed certificates and this setting is something I think we can all forget about. 😄 We can also give an option to the user in the generator to do so; but in

[2019-09-04 23:17] saturnism commented on #10331
+1

[2019-09-04 23:35] SudharakaP commented on #10331
@saturnism : Done 👍

[2019-09-05 00:31] vraravam opened #10355 "Generated StringFilter classes can support "excludes" or "does not contain" mechanism"
##### **Overview of the feature request**

Currently, the `StringFilter` class has the ability to do a `contains` check. I am proposing an inversion/negation of the same.

##### **Motivation for or Use Case**

In my filters UI, I would like to be able to give the user the option of filtering not only by inclusion rule but also the exclusion rule for strings.

##### **Related issues or PR**

No - s

[2019-09-05 00:54] saturnism commented on #10345
that would be great! i wanted to have that initially but there were some difficulties. I think most of the problems are now resolved through work done on Kubernetes.

Some thoughts on how to approach this:
* Use a [dispatch file](https://cloud.google.com/appengine/docs/standard/java/reference/dispatch-yaml) to map sub-urls to the backend services.
  * Do this in the Gateway application
  * Disable

[2019-09-05 01:26] juandrn commented on #9330
I've change project to gradle and works with -Pprod profile.

[2019-09-05 01:32] SudharakaP commented on #10345
@saturnism : Wonderful; thanks for the suggestions; Although I have experience deploying monoliths on GAE, I haven't done any microservice deployments. So it will take me some time to figure this one out. :smile:

[2019-09-05 02:02] niudai opened #10357 "The default version of jhipster-dependencies could not be found in maven central"
[code]
The default version generated by jhipster of jhipster-dependencies is 3.0.5-SNAPSHOT, and until now, the newest version is 3.0.4 in maven central:
![image](https://user-images.githubusercontent.com/44165182/64306131-42a28e80-cfc4-11e9-9e5b-4dbf1d9fb818.png)
I don't know why you use an unreleased version, and even in snapshot mode?

[2019-09-05 05:24] vishal423 commented on #10357
I believe you are trying master branch code and at the moment you need to build the jhipster dependencies manually. There is an open [discussion](https://groups.google.com/forum/#!topic/jhipster-dev/nWcocnBJTyo) thread on dev group to improve this experience.

[2019-09-05 05:24] #10357 closed

[2019-09-05 05:31] vishal423 commented on #10355
@vraravam, Can you provide more context on the requested change? I assume you are referring to UI improvements, but, I am not clear on the framework implementation under discussion and the class being referenced.

[2019-09-05 05:54] SudharakaP commented on #10320
I've made a fix to this; please let me know if you see any issues.

[2019-09-05 06:20] stevenschlansker commented on #9934
I have a PR open to contribute my work as a Jackson addon: https://github.com/FasterXML/jackson-modules-base/pull/85

It also includes basic Java 8 compatibility since Jackson's build is only on Java 8.  However, I don't expect performance to be great, and would not recommend running in that configuration.

[2019-09-05 06:38] vraravam commented on #10355
@vishal423 : If you see in the `jhipster-framework.jar`, I see this class:
[code]
In the UI/API, I am able to specify filters where I can do a `contains` search for string-based fields. I would like to have the complimentary/negation of the same. Does that give a clearer picture?

[2019-09-05 06:41] vraravam commented on #10355
Basically, `contains` translates to a `like` query in SQL terms. I am proposing a `doesNotContain` which should inverse the sql condition.

[2019-09-05 06:50] pascalgrimaud commented on #10257
it's strange because I don't see any issue with Vue.js blueprint
so probably related to Windows environment ?

[2019-09-05 07:31] vraravam commented on #10355
on further thought, maybe we should make it *not* limited to `StringFilter`. I can imagine a scenario where a `LongFilter` can do a `notEqualsTo` or similarly in `RangeFilter` (as an example).

[2019-09-05 07:40] clement26695 commented on #10257
There is some strange behaviors when the blueprint is locally installed and the generator globally installed (or the other way around, I don't remember exactly). I think that in some cases, yeoman does not find the blueprint... I didn't had time to investigate that for the moment

[2019-09-05 07:47] clement26695 commented on #10257
@pascalgrimaud I think this is related: jhipster/jhipster-vuejs#369

[2019-09-05 08:45] maznag commented on #10271
@SudharakaP I try to run JHipster with this option `-illegal-access=debug` but it doesn't work:
[code]

[2019-09-05 09:22] pascalgrimaud commented on #10292
I don't think it's a good idea, because:
- you generate a gateway, called "gateway" with Keycloak realm "gateway" in config
- you generate a microservice, called "microservice" with Keycloak realm "microservice" in config
- you won't be able to start the microservice because the realm will not match to the one in gateway
- if you have multiple gateway, you'll have the same problem

The simplest wa

[2019-09-05 09:22] #10292 closed

[2019-09-05 09:37] PierreBesson commented on #10257
IMO we should never rely on locally installed tools rather than the globally installed ones as we can control their version. This is why I added the `yoInternalCliPath` some time ago. However I'm very surprise that the "yo script" doesn't exist at `generator-jhipster/node_modules/yo/lib/cli` for you @danielpetisme.
As always, it is very hard to debug problems linked to the global install of tools.

[2019-09-05 10:32] kaidohallik commented on #10220
One more suggestion for refactoring, rename:
* class `EntityModule` to `EntityRoutingModule`
* file `entity.module.ts` to `entity-routing.module.ts`

Reason: before implementing entity lazy loading this module was collection of entity modules, but after that this is a routing module. Code is better readable if file and class names reflect their content as accurately as possible.

[2019-09-05 10:58] tibistibi commented on #8576
with the upgrade guide it only gives an example for global.
i could only upgrade it like this:
npm install generator-jhipster@6.2.0
(from the dir of the project)

[2019-09-05 10:58] kaidohallik commented on #10220
If cleaning `app.module` and `core.module` some changes in #10340 left out from simplified version #10360.

So additional refactor suggestions:
* move modules to better suitable location:
    * `shared/util/datepicker-adapter.ts` to `core/date/datepicker-adapter.ts`
    * `blocks/config/prod.config.ts` to `core/config/prod.config.ts`
    * `blocks/config/uib-pagination.config.ts` to `core/config/u

[2019-09-05 13:53] orbific commented on #8366
@SudharakaP yes, please do take it over. I've not had chance to look at this properly and won't for a while. If you have any questions though, do send them my way and I'll see if I can help.

[2019-09-05 13:56] SudharakaP commented on #10271
@maznag : It needs to be passed in as a JVM argument; if you are running it through the maven wrapper try this `./mvnw spring-boot:run -Dspring-boot.run.jvmArguments="--illegal-access=debug"
`

[2019-09-05 13:56] clement26695 commented on #10257
I think @PierreBesson introduced the yoInternalCliPath to not force the user to install yo globally.

We investigate a bit with @avdev4j and it might come from different places.

One of them could be that your NODE_PATH environment variable is not correctly set (see: https://stackoverflow.com/questions/15636367/nodejs-require-a-global-module-package and https://nodejs.org/api/modules.html#modules_

[2019-09-05 15:36] saturnism commented on #10331
While we are at it, could I trouble you to change the run commands that gets displayed at the end?

[code]

`package` is now required first, so, ./mvnw package appengine:... -...`

We may need to do similar thing for Gradle build too.

[2019-09-05 15:41] saturnism commented on #10331
actually, a follow up would be fine. i feel this PR is ready to be merged as-is.

[2019-09-05 16:41] maznag commented on #10271
@SudharakaP  thanks ! it works. here is the result:

[code]

[2019-09-05 16:46] maznag commented on #10271
Here is the warning when I generate new project without Websocket:

[code]

[2019-09-05 19:09] SudharakaP commented on #10271
@maznag : For your first stack trace; `WARNING: Illegal reflective access by org.springframework.cglib.core.ReflectUtils...` there's a discussion in the spring-framework repo; seems it's still open and under review;

https://github.com/spring-projects/spring-framework/issues/22814

All the stack traces afterwards corresponds to our previous discussion above; https://github.com/jhipster/generator-j

[2019-09-05 19:33] SudharakaP commented on #10331
@saturnism : It's a simple fix; I just did it in this pull request itself. For gradle I don't think we need to change that since even in the new version as per the [documentation](https://github.com/GoogleCloudPlatform/app-gradle-plugin) `./gradlew appengineRun` should work. 😄

[2019-09-05 19:52] #9548 closed

[2019-09-05 20:16] ludoch commented on #10331
Hi,
Thanks for doing the work....
What I really would like to do as well is the take benefit of a exploded fatjar deployment for App Engine.
The Jib plugin does it automatically to help optimizing Docker layers.
GAE Java deployment also does it (since 2009), ie it will only deploy updated files from a previous deployment... When there is a single fatjar, all those upload optimizations are gone, ev

[2019-09-05 20:19] ludoch commented on #10331
Also, I think for Java11 GAE runtime, `gcloud components install app-engine-java` is not needed at all. It it needed only for Java8 runtime.

[2019-09-05 22:57] SudharakaP commented on #10331
@ludoch : Thanks much for all the information and ideas. 👍

Just to be clear; I suppose what you mean by exploded fatjar is a [thin jar](https://cloud.google.com/appengine/docs/standard/java11/runtime#application_startup) correct?

I have to check this one; if so we can remove the entire check for app-engine-java.

@saturnism @ludoch : I'll create two seperate PRs for both of these. 😄

[2019-09-05 23:15] SudharakaP commented on #10331
@ludoch : Although in the documentation for Java 11 it says to use `gcloud components install app-engine-java`; https://cloud.google.com/appengine/docs/standard/java11/using-maven

[2019-09-05 23:35] saturnism commented on #10331
Can we table the significant thin jar changes for the next iteration? lets get the basics committed first :)

[2019-09-05 23:35] ludoch commented on #10331
Maybe a bug in the current Maven plugin?
Thanks for the note, I'll follow up...

On Thu, Sep 5, 2019, 4:16 PM Sudharaka Palamakumbura <
notifications@github.com> wrote:

[2019-09-05 23:50] SudharakaP commented on #10331
@ludoch : Not sure; Thanks much; of course let us know. 😄 I'll leave that for now until officially it's updated since IMHO why bother removing it and getting into trouble when the official documents says otherwise. 😄

@saturnism :

Surely, I was thinking about a separate PR for this one? Is that what you mean next iteration?

[2019-09-05 23:57] saturnism commented on #10331
yup!

[2019-09-05 23:58] saturnism opened #10362 "App Engine Java 11 generator to create thin JARs"
##### **Overview of the feature request**

from @ludoch https://github.com/jhipster/generator-jhipster/issues/10331#issuecomment-528563349

##### **Motivation for or Use Case**

To allow JHipster on App Engine Java 11 to take advantage of static file serving.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/issues/10331

-   [x] Checking this box is mandatory (this i

[2019-09-06 00:41] SudharakaP commented on #10362
@saturnism : Thanks for creating the issue. Feel free to assign it to me as well. I'll start this once we finalize the java 11 gae enhancements.

[2019-09-06 01:44] SudharakaP commented on #10311
I am currently working on this issue and so please keep this open for a while; I was testing the azure cache previews on my fork and I couldn't get significant speed-ups in build times yet; but will revisit it and post my results here. :smile:

[2019-09-06 07:03] maznag commented on #10271
@SudharakaP thanks for these informations.

[2019-09-06 08:13] kaidohallik opened #10363 "Automatic Webpack build from Gradle/Maven wastes time"
##### **Overview of the issue**

In #8033 was agreed conditional automatic front end compilation from Maven/Gradle in `dev` profile and this was implemented in #8038
For **Gradle** this automatic front end compilation was made more frequent in #8451

I feel that these changes degrade the developer experience at least for those developers who are working daily with the project generated by JHipster

[2019-09-06 08:47] avdev4j commented on #10257
As @clement26695 said,
we did some tests because I got the same problem.

For sure this come from the yo dependency path resolving. NPM seems to store dependencies in at parent level if both parents and children have the same one.

So to fix I made three changes in generator-base-private.js in `findBlueprintVersion()` method.

* Resolve yo by testing two paths
[code]

* Resolve yo by using require

[2019-09-06 09:16] atomfrede commented on #10363
I would rather not remove the up2date check as e.g. running that when a frontend file has changed is imho totally correct and when doing e.g. only `bootRun` the frontend should be build conditionally.

I agree when doing frontend via npm thats not great to have, but maybe we can add a dedicated task which excludes the frontend build (or you can do `bootRun -x webpackBuild`, but tested).

[2019-09-06 09:41] avdev4j commented on #10279
Closed after a bug was found in javadoc plugin. We need to try with a Java version > 11 according to @DanielFran

[2019-09-06 09:41] kaidohallik commented on #10363
I think that developing front end in the following manner is ineffective:
* change front end file
* rerun ./gradlew

As `readme` states, the normal development flow is to run `npm start` and `./gradlew` in the parallel terminals.

I personally can handle this, I'm already doing these 2 actions instinctively together:
1. generate app
2. delete `webpackBuildDev` related lines from the `profile_dev.g

[2019-09-06 09:41] #10279 closed

[2019-09-06 11:02] PierreBesson commented on #10257
The require.resolve solution (without path) looks fine for me. It seems to be the best as it should support an arbitrary path to the yo cli in the dependency tree.

[2019-09-06 11:30] atomfrede commented on #10363
Totally agree, that is not the idea.

I will try around with excludes flag and update the documentatio (or change the default task). What do you think?

[2019-09-06 11:52] avdev4j commented on #10257
I agree.

[2019-09-06 12:28] kaidohallik commented on #10363
If you change default task to exclude `webpackBuildDev` then you are basically reverting #8038 for Gradle. And even more, not providing back previously existed `-Pwebpack` option. So I think this is not a good idea.

I liked solution before #8038 and #8451 where `./gradlew` and `./mvnw` didn't run Webpack and the following commands run: `./gradlew -Pwebpack` and `./mvnw -Pwebpack`.

The idea of th

[2019-09-06 13:38] mraible commented on #10363
I like the current solution. It works better in demos because you only have to run one command. However, it is a pain that the Java build process seems to run npm install again.

It's also funny to me that it takes longer to compile the TypeScript code than Java code. 😄

[2019-09-06 15:11] #10257 closed

[2019-09-06 15:17] #10320 closed

[2019-09-06 16:12] #10253 closed

[2019-09-06 16:31] ruddell commented on #10363
For Maven, you can exclude the webpack profile by running `./mvnw -P-webpack` which prevents it from running.  Not sure how to do that for Gradle.

[2019-09-06 21:34] atomfrede commented on #10363
I need to test it, but you can do the same via `./gradlew -x webpackBuildDev` I think. So I would say we should clarify our documentation.

@mraible Are you talking about maven? Gradle should detect npm install as up-to-date and not execute it again (but will verify that)

[2019-09-06 22:10] SudharakaP commented on #10320
@pascalgrimaud : I see that you've merged this; but I just wanted to point out that the fix eventually I made is not the fix suggested by the OP in case if you've not noticed it. That piece of code is needed for the correct functionality as some db types expect a set of Authorities. 😄

[2019-09-07 05:49] SudharakaP commented on #8366
@RizqonSidikMaulana : I got the same error your got in the beginning; however doest your stack-trace redacted? Because in my one it gave me more information; specifically; `Got permission denied while trying to connect to the Docker daemon socket`. This is due to [docker post installation steps](https://docs.docker.com/install/linux/linux-postinstall/) not followed correctly. I believe you might h

[2019-09-07 12:18] duderoot commented on #10363
@ruddell that's a nice hint. I was also having pipeline improvements in my ToDo's. Now with the hint from @ruddell we can skip UI tasks in the BE test for example. I also ask my self why is still need for installation of the ui tools [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/ci-cd/templates/.gitlab-ci.yml.ejs#L156) since we are using a JHipster image which alread

[2019-09-07 17:29] manisi opened #10368 "The popup signin react cannot be closed"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [ ] Checking this box is mandatory (thi

[2019-09-07 17:32] manisi commented on #10368
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "sport.mobile.app",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "6.2.0",
    "applicationType": "monolith",
    "baseName": "sportAppServe

[2019-09-07 17:57] manisi opened #10369 "RTL lang in react home page is incorrect"
##### **Overview of the issue**
If you select right-to-left in the desired language settings form, the home screen and menus do not change right to left correctly.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "pa

[2019-09-08 09:58] atomfrede commented on #10363
I would suggest we adapt the documentation. When doing the following in 3 terminals it works "optimal" I would say:

* `./gradlew` serves the server side application
* `./gradlew compileJava -x webpackBuildDev -t` recompiles the java code on change without doing the npm stuff
* `npm run start` compiles and reloads the frontend

The complete cycle (changing a java file until the application is rest

[2019-09-09 04:28] raminassar87 opened #10370 "Front-end to Back-end payload encryption"
Dear @jdubois
I used the JHipster to generate a Microservice application with **React** frontend, And I use **JSON** format to exchange the data between frontend and backend. I need to apply the encryption for all requests payload to avoid any security issues. Can you mention if there is any encryption methodology supported by JHipster generator? And if it's not supported by JHipster, is there any

[2019-09-09 04:48] atomfrede commented on #10370
Just to make sure, TLS (https) is not enough in our case? But this is an issue tracker, your question is much better suited for stackoverflow.

This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the pr

[2019-09-09 04:48] #10370 closed

[2019-09-09 05:13] atomfrede commented on #10368
I just reproduced it. The following happens:

- You click on login
- The route changes to `/login`
- The login modal opens
- Close the modal (e.g. via cancel)
- the modal closes and opens again

It was introduced when adding hooks. But I think the behavior before was also not great as the user would stay on `/login` which is basically an empty page.

[2019-09-09 06:36] pascalgrimaud opened #10371 "Protractor: e2e tests with Angular are broken"
##### **Overview of the issue**

Our current e2e tests with Angular are broken
The tests failed during create/save entities

See https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build

cc @vishal423

##### **Motivation for or Use Case**

All new PRs will fail, so it needed to be fixed as soon as possible
That's why I'm putting a bounty on this

##### **Reproduce the error**

##### **Relat

[2019-09-09 06:38] pascalgrimaud commented on #10368
cc @qmonmert : maybe you can help ?

[2019-09-09 06:39] pascalgrimaud commented on #10271
right, let's wait and close this for now

[2019-09-09 06:39] #10271 closed

[2019-09-09 06:51] kaidohallik commented on #10371
I changed `test-integration` scripts in `jhipster/generator-jhipster`, the same change is needed to be done also in `hipster-labs/jhipster-daily-builds` project, I wasn't aware of that, change `app.module.ts` --> `core/core.module.ts`:

https://github.com/hipster-labs/jhipster-daily-builds/blob/master/test-integration/jdl-scripts/23-package.sh#L26-L29

I can do PR if needed.

[2019-09-09 06:58] pascalgrimaud commented on #10371
Yes, it would be an improvement but I don't think it's related to this issue.

The daily builds have 2 big parts
- 1st part with a lot of configs, using the same scripts than the generator-jhipster : this part have e2e tests broken with Angular
- 2nd part with JDL generation, with dedicated shell scripts in the daily build repo, done by @Hawkurane : it is still WIP as it doesn't work well today

[2019-09-09 07:08] raminassar87 commented on #10370
Dear @atomfrede,
Thanks for your response. **HTTPS** already enabled but I need the encryption to ensure that no one can alter the JSON request.
I will publish this question on Stack Overflow but I post it here first to check if JHipster generator covers this feature or not.

[2019-09-09 07:19] kaidohallik commented on #10371
@pascalgrimaud you are correct, https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=5371&view=logs&jobId=156bdf7b-70dc-51a2-f964-752e46e62347&taskId=b435151a-1623-59a8-950d-4475fc04637b&lineStart=14&lineEnd=15&colStart=1&colEnd=1 shows that changing `alertTimeout` successful.

[2019-09-09 08:30] clement26695 commented on #10371
I tried to reproduce on my computer. It seems that when you click on save when you create an entity, the user is not redirected to the entity list page, which causes the test to fail. I'll try to investigate further

[2019-09-09 09:12] clement26695 commented on #10371
And it seems to only appear when running with prod profile...

[2019-09-09 09:34] clement26695 commented on #10371
It seems to come from the webpack config. I managed to fix the bug locally by adding `devtool: 'eval-source-map'` in the webpack prod profile. As I don't know how works webpack, I'm not sure what should be done to fix that

[2019-09-09 09:37] pascalgrimaud commented on #10371
I'd like to understand what happened here ?
I don't see any commits related to that, the last 2 days, so it's probably related to one of our dependency ?

[2019-09-09 09:39] clement26695 commented on #10371
I guess so

[2019-09-09 10:21] kaidohallik commented on #10371
I was able to reproduce in prod profile as @clement26695 described. When generating output to error chain from https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs#L317 then in my computer in Chrome error message is: `ReferenceError: mXSSAttempts is not defined`

[2019-09-09 10:58] kaidohallik commented on #10371
If I searched from my `node_modules` folder then `mXSSAttempts` was found in `@angular\core` and in `terser-webpack-plugin` (under `node_modules/.cache`).
The terser-webpack-plugin misses mXSSAttempts definition, only 2 occurrences in the form:
[code]

[2019-09-09 12:17] kaidohallik commented on #10371
Seems that problem comes from https://github.com/terser/terser version 4.3.0
There is already more than 1 opened issue about that, for example https://github.com/terser/terser/issues/452
If I fixed terser in `devDependencies` to version `4.2.1`:
[code]
then Angular is working in `prod` profile.

[2019-09-09 12:27] pascalgrimaud commented on #10371
So it would be a similar fix: https://github.com/jhipster/generator-jhipster/pull/9185 ?

[2019-09-09 12:29] clement26695 commented on #10371
I guess so. Would you be able to make a PR @kaidohallik ?

[2019-09-09 12:30] mshima opened #10372 "Reproducible build"
##### **Overview of the feature request**

When implementing a blueprint, we need to recreate a project a lot of times.
Every time it generates different sources.

There is 2 main source of problems:
- liquibase changelogs.
- faker data (dates, enums and RegExp).

##### **Motivation for or Use Case**

- Easier to test generators and blueprints.
- Create automatized regeneration tests.

##### **Rep

[2019-09-09 12:33] nim-fm opened #10373 "Swagger UI configs does not display domain models"
Currently the JHipster Generator's Swagger UI configs does not display domain models. Can you enable this as an optional config please?

[2019-09-09 12:48] kaidohallik commented on #10371
Seems that React tests passed, so this time is needed to fix version only in Angular part. Doing PR for Angular.

[2019-09-09 13:48] kaidohallik commented on #10371
Made PR #10375 for fix

[2019-09-09 14:06] SudharakaP commented on #8366
I was working on this over the weekend and there is quite a few problems with his subgenerator; I've created a pull request which resolves some of them. Firstly, in this pull request I've removed all aws related configuration from `yo-rc.json` to a speperate file called `awsConstants.json`. Also I've fixed some problems with error reporting as well as updated all outdated dependencies related to t

[2019-09-09 14:36] SudharakaP commented on #8366
I should add to my previous post that the basic update flow also works; I've just tested it as well. :smile:

<pre><font color="#4E9A06">✔</font> The S3 Bucket <b>jhipstertest-1568035951000</b> has been created.
<font color="#4E9A06">✔</font> <b>base.template.yml</b> has been updated to the S3 Bucket and can be found here: <u style="text-decoration-style:single">https://jhipstertest-1568035951000.

[2019-09-09 14:43] pascalgrimaud commented on #8366
For this one, I will totally trust you @SudharakaP as, in the team, we don't have the credit and the bandwitch to maintain and to test in AWS. So big thanks to you

I'm increasing the bounty so it will help you to have credit to test more.
So don't forget to claim the bounty as soon as it's merged : I'm waiting other PR to be merged before to merge yours

[2019-09-09 14:59] SudharakaP commented on #8366
@pascalgrimaud : Thanks; keeping the bounty at $100 is fine with me as well; particularly because I know from earlier comments that we don't get funded by amazon.

Anyways, there are lot of corner cases here and fixing all the problems will take more time (I haven't even touched the micro-service part). For some reason this sub-generator seems quite complex than the rest I've worked on. I haven't

[2019-09-09 15:26] pascalgrimaud commented on #10371
@kaidohallik : so do you think this issue can be closed ?

[2019-09-09 15:40] clement26695 commented on #10371
Just tested with deleting my node_modules and the package-lock, and it seems ok

[2019-09-09 18:02] SudharakaP commented on #8366
@pascalgrimaud @deepu105 @PierreBesson : I believe we have a working monolith flow; I'll fix things as they come along (feel free to assign anything related to this sub-generator to me).

On another note; I am going to try to get the micro-services flow working this week. I haven't worked much on micro-services in Jhipster; do you guys have a typical micro-service flow that you can recommend that

[2019-09-09 18:14] SudharakaP opened #10377 "Update Github description and tags to include Vue"
##### **Overview of the issue**

Minor thing I've noticed; we need to update the Github Repo description and tags to include Vue.
cc: @PierreBesson @pascalgrimaud @jdubois

![image](https://user-images.githubusercontent.com/12435965/64555646-9d085b80-d2f2-11e9-8ef0-46950b7a63f5.png)

##### **Motivation for or Use Case**

Update Description and tags

-   [x] Checking this box is mandatory (this is

[2019-09-09 18:25] DanielFran commented on #10377
We do not yet merge the Vue blueprint in main generator repo.

[2019-09-09 18:28] SudharakaP commented on #10377
@DanielFran : Thanks for the information. I was just wondering given the website is updated with Vue. 😄

[2019-09-09 18:28] #10377 closed

[2019-09-09 18:31] pascalgrimaud commented on #10377
Vue.js is still in blueprint.
We should discuss about including it in main generator...

So for now, we can keep the current description.

[2019-09-09 18:34] SudharakaP commented on #10377
@pascalgrimaud : Thanks for the info Pascal 😄

[2019-09-10 02:48] kaidohallik commented on #10371
@pascalgrimaud, yes, I think this issue can be closed as the latest Terser version 4.3.1 solved this issue.

[2019-09-10 05:16] pascalgrimaud commented on #10371
thanks a lot @kaidohallik ! as you spend a lot of time yesterday on this, I propose you to claim the bounty. Don't hesitate

[2019-09-10 05:16] #10371 closed

[2019-09-10 06:51] kaidohallik commented on #10363
If there is a command `./gradlew` included in the main workflow then nothing changes.
When running `./gradlew` then again and again unnecessary front end build is done by Gradle if some front end source file is changed between 2 executions of `./gradlew`, which wastes time and is very annoying.
Additionally task `npmInstall` is currently executed always, even if no change in FE files. This is not

[2019-09-10 07:03] Fenglei-Pan commented on #10071
This configuration works for maven build:
`<container>
    <entrypoint>
        <shell>sh</shell>
        <option>-c</option>
	    <arg>/entrypoint.sh</arg>
    </entrypoint>
    <ports>
        <port>8081</port>
        <port>5701/udp</port>
    </ports>
    <environment>
        <SPRING_OUTPUT_ANSI_ENABLED>ALWAYS</SPRING_OUTPUT_ANSI_ENABLED>
        <JHIPSTER_SLEEP>0</JHIPSTER_SLEEP>
    </envir

[2019-09-10 07:15] atomfrede commented on #10363
I agree not good, but doing that helps not so experienced developers with our tooling. Advanced use cases can be done differently of course. What I can imagine is a special task `runServer` which excluded the webpack part maybe.

That is true (also noticed that), but to be honest I didn't see any problem with that, but we can try to do the initial build with gradle or maven which will solve the is

[2019-09-10 08:05] PierreBesson commented on #10071
Thank you @fenglei-pan, would you like to try and submit a PR ?

[2019-09-10 08:19] pascalgrimaud commented on #8366
The simplest way is to generate the whole architecture microservices, so you'll understand how it works.
- manually
    - generate gateway
    - generate a microservice
    - generate an entity in microservice
    - generate the same entity in the gateway
    - start everything locally and navigate to the registry (if you choose Eureka) and the gateway
- automatically
    - you can use some JDLs h

[2019-09-10 08:59] kaidohallik commented on #10363
I agree that it's important to keep JHipster as simple as possible.

But I disagree that avoiding unnecessary `webpack` builds is advanced workflow. I think that this should be at least mentioned in the docs how to avoid unnecessary `webpack` builds, so that people who read docs get information how they can develop in the quickest way (and can customize config if they don't want webpack builds fro

[2019-09-10 09:07] atomfrede commented on #10363
Are you on windows?

[2019-09-10 09:08] kaidohallik commented on #10363
Yes.

[2019-09-10 09:36] #9351 closed

[2019-09-10 10:28] SudharakaP commented on #8366
@pascalgrimaund: Thanks much. :smile:

[2019-09-10 12:02] qmonmert commented on #10368
I did a PR to fix that #10382

[2019-09-10 12:21] pascalgrimaud commented on #10368
thanks @qmonmert !

[2019-09-10 12:34] cbornet commented on #9287
I get that we remove Spring-Cloud-Stream. But here it seems we are also removing Spring-Kafka. What's wrong with Spring-Kafka ?

[2019-09-10 12:37] chrisdns commented on #10369
Hi

I tried to reproduce it with your .yo-rc but it seems to work fine, what do you mean by "do not change right to left correctly"

[2019-09-10 12:57] ctamisier commented on #9287
For my point of view:
- It is still about "lagging a few version behind Apache Kafka". The current spring-kafka 2.2.8.RELEASE uses kafka-clients 2.0.1. (Nov 08, 2018)
- And still hides too much semantic

[2019-09-10 13:02] manisi commented on #10369
Hi @chrisdns
please see this picture
<img width="1429" alt="Screen Shot 2019-09-10 at 17 27 23" src="https://user-images.githubusercontent.com/3120328/64615997-d6bf8c00-d3f0-11e9-808a-da5c1f124fce.png">
page align not set to RTL

[2019-09-10 13:05] vishal423 commented on #10369
@manisi, it seems you have understanding about changes to be done. Can you contribute?

[2019-09-10 13:08] manisi commented on #10369
Yes
but how can i start?
Thanks

[2019-09-10 13:10] atomfrede commented on #10363
Ah I see :( Now I understand why you are so annoyed by the frontend build. It takes (sadly) much more time under windows from my experience

[2019-09-10 13:28] SudharakaP commented on #10369
@manisi : We have a pretty detailed guide about how to contribute; https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

Let us know if you have any specific queries. :smile:

[2019-09-10 14:50] anthony-o commented on #10184
The problem is that sadly we still have many clients asking for IE11 support, and Angular 8 supports such a browser... it could be supported also by JHipster officially, we are currently investigating some solutions.

[2019-09-10 15:16] wmarques commented on #10184
@anthony-o Some tips:
1. Set target to `es5` in your `tsconfig`
2. Add the correct polyfills from 'core-js', if you don't know which one you should use, check the Angular CLI project and their polyfills.
Or you could use babel + [Babel preset-env](https://babeljs.io/docs/en/babel-preset-env#usebuiltins) to automatically import the correct core-js polyfills based on a browserslist file. I'm doing t

[2019-09-10 17:02] pascalgrimaud commented on #10184
I think it deserves a tips at jhipster.tech if it's not already done

[2019-09-10 17:07] pascalgrimaud commented on #10363
let's improve our CICD sub gen, and our documentation in readme and at jhipster.tech

[2019-09-10 18:57] atomfrede commented on #10363
:+1: Will the documentation part and have a look at the ci/cd part when preparing my upcoming talks.

[2019-09-10 22:24] amirdt22 commented on #10302
Related: https://stackoverflow.com/questions/56997858/junit-tests-fail-because-of-elasticsearch

This seems to be happening for all integration tests that use ElasticSearch

[2019-09-11 12:36] kaidohallik commented on #10371
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/10010

[2019-09-11 13:13] qmonmert commented on #10368
@pascalgrimaud tests ok on the PR #10382 ;)

[2019-09-11 13:20] pascalgrimaud commented on #10368
Thanks @qmonmert
Closing this as the PR has been merged

[2019-09-11 13:20] #10368 closed

[2019-09-11 13:37] qmonmert commented on #10368
@pascalgrimaud top

[2019-09-11 23:28] SudharakaP commented on #10362
@ludoch @saturnism : I was trying this out by constructing the thin jar using [spring-boot-thin-launcher](https://github.com/spring-projects-experimental/spring-boot-thin-launcher) which I believe is the standard approach of doing this (let me know if you have an alternative suggestion). Although the thin jar construction seems to work in my local after deploying it to Google App Engine I get;

`E

[2019-09-12 06:55] pascalgrimaud commented on #10345
Adding a bounty for this

[2019-09-12 12:26] dronavallisaikrishna opened #10387 "How to create entity from UAA server to gateway"
##### **Overview of the issue**
Hi,
I am trying to create the entity generated from UAA server to gateway. But I am getting the following error.
`Error: Microservice name for the entity is not found. Entity cannot be generated!`

##### **Reproduce the error**
1. Create a UAA server.
2. Create an entity in UAA server.
3. Create Gateway server.
4. Create an entity in gateway and import from UAA serv

[2019-09-12 12:51] vleboulanger opened #10388 "I can not see admin logs screen since upgrade jhipster 6.2.0"
##### **Overview of the issue**

I upgrade my project from version 5.8.2 to 6.2.0. I solve all my conflicts and launch my project. All works fine excep to access logs in admin menu.

The page opens, but the list of the table is empty. I have the good number of "loggers", but not the list

##### **Motivation for or Use Case**

In dev environment it does not matter, but in test or prod environment i

[2019-09-12 15:33] #10388 closed, assigned to nobody

[2019-09-12 17:38] JLLeitschuh opened #10393 "[SECURITY] Vulnerability Discovered: Please Create a Security Advisory"
I need to report a pretty critical security vulnerability in JHipster generator. Would you be so kind as to create a security advisory draft and invite me so that I can disclose the vulnerability to the maintainers.

https://github.com/jhipster/generator-jhipster/security/advisories

[2019-09-12 19:01] #10393 closed, assigned to nobody

[2019-09-12 19:44] caffeinecoders opened #10395 "Image Size validation in Angular"
##### **Overview of the feature request**

Can we have image size validation in Angular generated code. We want to restrict user uploading image of more than 3 mb.

##### **Motivation for or Use Case**

Restricting user to upload very big image unknowingly.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-09-13 06:47] #10387 closed, assigned to nobody

[2019-09-13 07:09] tibistibi opened #10399 "Generator adds ignore rule for remove method in Mapper classes"
##### **Overview of the issue**

The mappers are generated with ignore rules for lists but also for their remove metthods like this:

    @Mapping(target = "clients", ignore = true)
    @Mapping(target = "removeClient", ignore = true)
    @Mapping(target = "projects", ignore = true)
    @Mapping(target = "removeProject", ignore = true)
    @Mapping(target = "clientInvoices", ignore = true)
    @Ma

[2019-09-13 07:42] agoncal opened #10400 "Javadoc on createSpecification Query Services mentions ConsumerCriteria"
##### **Overview of the issue**

The generated Javadoc on the method `createSpecification` of each query services mentions `ConsumerCriteria` instead of the criteria object that is passed in parameter.

##### **Motivation for or Use Case**

In JHipster 5.x the Java doc mentioned the criteria object that is passed in parameter. In 6.2 all the query services mention `ConsumerCriteria`

##### **Repro

[2019-09-13 07:57] jdubois opened #10401 "Bug bounty for security advisory - thank you @JLLeitschuh"
This is for https://github.com/jhipster/generator-jhipster/security/advisories/GHSA-mwp6-j9wf-968c which isn't public at the time of this writing

@JLLeitschuh thank you so much for reporting this issue!!!

We would like to thank you by giving you a $500 bug bounty on the project, and this is why I'm creating this ticket (this is to follow our official process to give money).

To have more informa

[2019-09-13 08:00] jdubois opened #10402 "Bug bounty for solving security issue - thank you @atomfrede"
This is linked to https://github.com/jhipster/generator-jhipster/issues/10401

As discussed in the security advisory (not public yet), we put a $300 bug bounty for who was solving the issue (so $500 for reporting the issue, and $300 for solving it!).

@atomfrede you seem to have done the fix, so I'm assigning this to you, and adding the bounty here so we follow our usual process.

[2019-09-13 08:11] clement26695 commented on #10399
This was added in #9784 to fix #9726. If you remove the `ignore=true`, is there some warnings in the console ?

There is also maybe a better way to deal with that

[2019-09-13 08:16] murdos opened #10403 "Enums are not correctly handled when using Cassandra"
##### **Overview of the issue**

When using enums in JDL with cassandra, the fields of entities whose type is an enum are generated, but the enums themselves are not generated. The generated CQL doesn't include these fields either.

##### **Motivation for or Use Case**

The generated project does not compile and doesn't work.
We should support enums in Cassandra since spring-data-cassandra [suppor

[2019-09-13 08:36] tibistibi commented on #10399
thanks for the feedback. maybe i missed the warning. i will investigate.

[2019-09-13 08:37] murdos commented on #10399
I think we don't have a better way currently, we need to wait for a [solution from mapstruct](https://github.com/mapstruct/mapstruct/issues/1726#issuecomment-465285942)

[2019-09-13 08:41] tibistibi commented on #10399
Maybe look into make our own AccessorNamingStrategy.

[2019-09-13 10:35] #10135 closed

[2019-09-13 13:45] JLLeitschuh commented on #10401
Wow! Thank you! This is incredibly kind of you guys!

[2019-09-13 13:50] atomfrede commented on #10401
You are welcome! Thanks for your advice! If you have any questions regarding the bounty process don't hesitate to ask :+1:

[2019-09-13 19:27] atomfrede commented on #10402
Bounty claimed https://opencollective.com/generator-jhipster/expenses/10062 Thanks @jdubois for putting the bounty! It was great to work with everyone keeping calm on that issue!

[2019-09-13 19:36] jdubois commented on #10402
Yes that was awesome to work together on this!

[2019-09-13 19:53] atomfrede commented on #10189
@mraible Just to keep you updated, I have first version with spring cloud gateway, a simple shell service, tailor based layout service and will try to create two fragment services during the next week. When that is done we should have a look at how to integrate auth etc.

[2019-09-13 20:48] mraible commented on #10189
That's awesome! Thanks for the update.

[2019-09-13 21:59] #10400 closed

[2019-09-13 22:00] JLLeitschuh commented on #10401
@jdubois You should have finished filling out that disclosure form before submitting it. The disclosure in it's current format unfortunately isn't that useful to anyone. Plus there currently any CVE numbers issued for this vulnerability.

Unfortunately, in it's current format, it isn't very useful to anyone.

Here is the full disclosure of this vulnerability:

I will be moving forward with the CVE

[2019-09-13 22:02] jdubois commented on #10401
I'm sorry @JLLeitschuh which form are you talking about?

[2019-09-13 22:05] JLLeitschuh commented on #10401
@jdubois The form that generated this advisory:

https://github.com/jhipster/generator-jhipster/security/advisories/GHSA-mwp6-j9wf-968c

You had to expand the advisory to fill in the forms to generate it. Also, you should have filed for a CVE before disclosure of this vulnerability.

I'm working on getting that issued right now.

[2019-09-13 22:08] jdubois commented on #10401
Oh I totally missed you could click on the title!!! I thought it was just some fancy formatting!
Thank you for taking care of this.

[2019-09-13 22:08] JLLeitschuh commented on #10401
This one:

<img width="771" alt="Screen Shot 2019-09-13 at 6 08 13 PM" src="https://user-images.githubusercontent.com/1323708/64897478-85fa9e00-d651-11e9-8ae7-e92e311d6d73.png">

[2019-09-13 22:09] JLLeitschuh commented on #10401
@jdubois Can you please contact GitHub support to get a fully written up public disclosure replaced with the current contents? I will get the CVE number for that disclosure.

[2019-09-13 22:13] jdubois commented on #10401
Oh I missed this link too!!! I'm lost here. Is this just me?? I'll contact Github support, but probably after the weekend.

[2019-09-13 22:21] JLLeitschuh commented on #10401
@jdubois This is time-sensitive. This vulnerability is now public and the full details are now publicly disclosed. We need to move more quickly than waiting till Monday to alert the public. Please contact (or have someone from your team) ASAP.

[2019-09-13 22:30] JLLeitschuh commented on #10401
The full attack scenario is detailed as follows:

This attack scenario is completely valid and would work against anyone with these servers deployed today.

[2019-09-13 22:37] jdubois commented on #10401
I agree, but the fix has been published, as well as a clear explanation at the top of the release notes, explaining what to do.

[2019-09-13 22:45] jdubois commented on #10401
We also have dependabot sending patches, which seem to have the correct information.
All that is wrong is the advisory text, and I admit doing a mistake here, but now it is read-only.
I'll add a comment and notify the person from Github who was ready to help.
I'm sorry but I won't have much time over the weekend.

[2019-09-13 22:47] JLLeitschuh commented on #10401
A CVE number has been requested. I'll follow up when MITRE has gotten back to me.

[2019-09-13 22:49] JLLeitschuh commented on #10401
@jdubois Can you prioritize getting this fixed as well?

https://github.com/jhipster/jhipster-kotlin/issues/183

[2019-09-13 22:51] jdubois commented on #10401
@rschultheis could you help us here? I published the security advisory without filling it up, and now it's read-only. Could we edit it?

[2019-09-13 23:09] JLLeitschuh commented on #10401
@jdubois Expense submitted:
https://opencollective.com/generator-jhipster/expenses/10064

Thank you very much for the bounty! I really appreciate it!

[2019-09-13 23:51] JLLeitschuh commented on #10401
CVE has been assigned. (The link will be live shortly):

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-16303

[2019-09-14 04:43] jdubois commented on #10401
Ok, as far as I understand, the only issue we have is the text of the advisory which is wrong - that's my fault and I hope we can edit it.
For all our users, our usual update process is in place, and also those using dependabot have received updates (that's also something we need to improve: everybody should use dependabot).
The release notes are here: https://www.jhipster.tech/2019/09/13/jhipster

[2019-09-14 04:48] atomfrede commented on #10401
@jhipster/developers can someone with merge rights take a look at jhipster kotlin?

[2019-09-14 07:05] pascalgrimaud commented on #10401
Bounty just approuved. Thanks a lot @JLLeitschuh for your help !

@atomfrede : I'm having a look

[2019-09-14 08:33] fdelbrayelle opened #10412 "Missing noopener noreferrer in gateway.tsx"
After creating a new gateway application with React and lauching `./mvnw` I get the following error which is failing the build :

`[INFO]   53:42  error  Using target="_blank" without rel="noopener noreferrer" is a security risk: see https://mathiasbynens.github.io/rel-noopener  react/jsx-no-target-blank`

This is related to #10258 and the linked pull request. The file "gateway.tsx" has also a lin

[2019-09-14 09:06] pascalgrimaud commented on #10196
@PierreBesson : agree with you

@SudharakaP : just added the bounty, can you claim it ?

[2019-09-14 09:08] pascalgrimaud commented on #9605
@SudharakaP : don't forget to claim the bounty here too :)

[2019-09-14 09:33] #10412 closed

[2019-09-14 11:03] murdos commented on #9692
FYI I just unassigned from this ticket since it's indeed more tricky than what I initially thought and I don't plan to work on this soon.

[2019-09-14 11:26] murdos opened #10415 "The version of jhipster used by a blueprint should be checked against the version of jhispter used by user"
##### **Overview of the issue**

Since a blueprint extends code/class of jhipster subgen(s), it has a dependency on a specific version of JHipster. E.g. let's the blueprint lightly overrides the server subgen (overriding Dockerfile) and depends on jhpster 6.0.0
However if the user has version 6.3.0 installed and launch the generator with the former blueprint, it will end with e.g. client code in v

[2019-09-14 11:50] #10403 closed

[2019-09-14 12:57] mikebski opened #10416 "jjwt-api and jjwt-impl are scope -> runtime causing java.lang.NoSuchMethodError: 'int io.jsonwebtoken.SignatureAlgorithm.getMinKeyLength()'"
##### **Overview of the issue**

When I generate my project, I get the following in my POM
[code]

I build with ` ./mvnw package -Pprod verify jib:dockerBuild`

Then, I run in Docker with ``

Then, I get this:

 | Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'tokenProvider' defined in file [/app/classes/com/mulchr/security/jwt/TokenProvider.clas

[2019-09-14 13:06] arabbani opened #10417 "Error running jhipster --blueprint kotlin command"
##### **Overview of the issue**

Jhipster is reporting that the `generator-jhipster-kotlin` is not installed while running the ` jhipster --blueprint kotlin` command, even though `generator-jhipster-kotlin` is installed.

Here is the full cli output:
`
jhipster --blueprint kotlin
INFO! No custom commands found within blueprint: generator-jhipster-kotlin
INFO! Using JHipster version installed globa

[2019-09-14 19:00] clement26695 commented on #10417
Hi @arabbani !

Thank you for reporting this. Would it be possible to give us a few more details :

- Could you rerun the command with `--debug` flag and print the output here ?
- Is generator-jhipster installed locally or globally ?
- Is generator-jhipster-kotlin installed locally or globally ?

Thank you

[2019-09-14 19:07] arabbani commented on #10417
jhipster --blueprint kotlin --debug
INFO! No custom commands found within blueprint: generator-jhipster-kotlin
INFO! Using JHipster version installed globally
INFO! Debug logging is on
DEBUG!  No command specified. Running default
INFO! Running default command
DEBUG!  cmd: app
DEBUG!  args:
DEBUG!  opts:
DEBUG!  cmdArgs:
INFO! Executing jhipster:app
INFO! Options: blueprint: kotlin, debug: true, f

[2019-09-14 19:08] arabbani commented on #10417
Everything is installed globally

[2019-09-14 19:53] atomfrede opened #10418 "Do not use Instant.now for better testability"
##### **Overview of the feature request**

As we would like to follow best practices I would suggest not to use `Instant.now()` (e.g. https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/service/UserService.java.ejs#L206).

Instead inject a clock, which can be mocked in tests, such that it is possible to have assertions like

[code]
##### **M

[2019-09-15 16:04] SudharakaP commented on #10362
I've created a PR. This adds support for "unjaring" the jar file within the staging directory as ludoch suggested. However I found no information of this process in google documentation; so it was a lot of trial and error. The only piece of documentation I found is; https://cloud.google.com/appengine/docs/standard/java11/runtime#application_startup

There it says and I quote;

However I couldn't g

[2019-09-15 16:32] SudharakaP commented on #10196
@pascalgrimaud : Thanks much; claimed at https://opencollective.com/generator-jhipster/expenses/10081 :smile:

[2019-09-15 16:32] SudharakaP commented on #9605
@pascalgrimaud : Thanks much; claim submitted at @pascalgrimaud : Thanks; claimed at https://opencollective.com/generator-jhipster/expenses/10081 :smile:

[2019-09-15 16:38] SudharakaP commented on #10345
Just to give a heads up; I'll be working on this after finalizing the [AWS bug fixes](https://github.com/jhipster/generator-jhipster/issues/8366) which I think is more important (correct me if I am wrong). :smile:

[2019-09-15 21:52] VinodAnandan opened #10421 "Deprecate custom JWT and Oauth2"
Hi,

I am bringing this old discussion (#9120) back as it's relevant to the recent security issues (#10401) with Jhipster. The user Identity, Authentication, and Authorization are very security-sensitive functionalities and we should give priority to security.

OpenID Connect securely uses both Oauth2 and JWT to implement secure Identity and Access Management. The OIDC has already covered multiple

[2019-09-15 23:04] mraible commented on #10421
We offer OIDC support, as implemented by Spring Security. Are you suggesting we remove all other authentication options?

[2019-09-15 23:23] vraravam commented on #10355
@pascalgrimaud - sure, i can give it a shot - but, which codebase is this in? I couldn't find `StringFilter.java` in the current codebase.

[2019-09-15 23:31] murdos commented on #10355
@vraravam You'll find it here, in the jhipster server side library: https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/service/filter/StringFilter.java

[2019-09-16 06:03] PierreBesson commented on #10421
Hello everyone, remember that JHipster is a *hobby* community project of volunteers. We are not making money ! We don't employ anyone.
We never promised any security guarantees to our users or any guarantee of any kind. It is explicitly stated in the Apache 2 license that "this software is provided AS IS".

So I'm totally against removing the jwt option which is our most popular option. This would

[2019-09-16 06:03] PierreBesson commented on #10421
Hello everyone, remember that JHipster is a *hobby* community project of volunteers. We are not making money ! We don't employ anyone.
We never promised any security guarantees to our users or any guarantee of any kind. It is explicitly stated in the Apache 2 license that "this software is provided AS IS".

So I'm totally against removing the jwt option which is our most popular option. This would

[2019-09-16 06:10] pascalgrimaud commented on #10421
I don't understand well this ticket. I think @VinodAnandan talks about our current implementation of OAuth2/OIDC right, not about the JWT authentication.

Better than words, can you have a look at our code in generator-jhipster or here https://github.com/jhipster/jhipster-sample-app-oauth2
Then, can you point us the code your consider as unsecured, so we can discuss ?

[2019-09-16 06:13] pascalgrimaud commented on #10417
Unless there is a problem in generator-jhipster, I think this ticket should go to jhipster-kotlin blueprint

[2019-09-16 06:13] vishal423 commented on #10421
I am also not in favor of removing other authentication options. They are useful in different contexts. However, I feel that we can have OIDC authentication as default.

[2019-09-16 06:14] pascalgrimaud commented on #10416
@mikebski : did you use jhipster-kotlin blueprint ?

[2019-09-16 06:17] vishal423 commented on #10416
I can see `generator-jhipster-kotlin` in the `yeoman` configurations. We should move it to the `kotlin` blueprint repository.

[2019-09-16 06:27] pascalgrimaud commented on #10402
@atomfrede : can we close this ticket ?

[2019-09-16 06:29] pascalgrimaud commented on #10401
@atomfrede : same question here, can this ticket be closed or is it not finished yet ?

[2019-09-16 06:54] vwiencek opened #10422 "JIB Gradle Configuration error"
##### **Overview of the issue**

It seems that JIB Gradle options have evolved.

We should replace
`useCurrentTimestamp = true`

with
 `creationTime = "USE_CURRENT_TIMESTAMP"`

I’ll propose a PR today

See https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/README.md#extended-usage

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

[2019-09-16 07:00] vishal423 commented on #10422
thanks @vwiencek, I have assigned the issue to you.

[2019-09-16 07:03] atomfrede commented on #10402
Yes

[2019-09-16 07:03] #10402 closed

[2019-09-16 07:16] pascalgrimaud commented on #10369
I confirm the issue, when changing the language in account > settings
@manisi : feel free to propose a PR for that, if you know how to fix it

[2019-09-16 07:23] jdubois commented on #10401
Unfortunately we haven't been able to update the vulnerability report - I'm hoping we can get help from @rschultheis so let's keep this opened a few days, and close it if we have no solution.
We definitely need to work on that process so we don't have other issues next time. Also, I'll try to contact people at GitHub (I work in the same company now!) to talk about UI/UX, and also about using all t

[2019-09-16 07:58] jdubois opened #10423 "Use the Oracle drivers from Maven Central"
After years waiting, Oracle finally released their drivers on Maven Central:

https://medium.com/@kuassimensah/oracle-jdbc-drivers-on-maven-central-64fcf724d8b

So we need to update our Maven & Gradle builds, our documentation, and also the generator output (where we explain to people they need to use the Oracle proprietary drivers).

This should help a lot people using Oracle!

[2019-09-16 08:41] PierreBesson commented on #10423
It is still unclear to me what is the license of those drivers and if we would be in legal trouble or not adding them to generated apps or testing them in our CI. It is Oracle after all.

[2019-09-16 08:59] MorlaRamakrishna opened #10424 "Browser CPU Usage Hitting 100%"
I have integrated google charts in my JHipster Angular application by following [this](http://anthonygiretti.com/2017/10/12/using-google-charts-in-angular-4-project-part-2/).  But if I move my mouse after presenting charts browser CPU usage was hitting max(100%). With out google charts this was not happening. I tried same approach in angular CLI project but in that this works great.

**JHipster Ve

[2019-09-16 09:48] atomfrede commented on #10422
:+1: @vwiencek for reporting that. Can you check if we need to adapt the maven configuration as well?

[2019-09-16 10:22] mraible commented on #10424
This sounds like a google charts issue, not a JHipster issue. Can you please post it as a question to Stack Overflow?

[2019-09-16 10:36] mraible commented on #10421
As you likely know, I'd love to see OIDC as the default. However, I believe it causes more developer friction. With JWT, there's no Docker containers you need to start. With OIDC, you need to start Keycloak.

FWIW, I recently recorded a screencast about how to switch from JWT to OIDC in a JHipster app. I hope to publish it soon.