[2018-04-08 15:18] JulioJu opened #7438 "Let choice of indentation level"
##### **Overview of the issue**
In the developper world, there is a big conflict between those who want 2 levels of indentation, and those who want 4 levels of indentation.

##### **Motivation of the use case**

Historically, JHipster is writen with four spaces of indentation (see #634).

But in the Angular world, the style is more 2 spaces of indentation. As they say at  https://github.com/angula

[2018-04-08 15:26] jdubois commented on #7438
Just to give you the historic background - as in the last 4 years things have evolved a lot, but that's not totally irrelevant.

I originally wanted to do:

- 4 spaces in Java as it's the official standard (from Sun, not sure if it's really "official" anymore, but everybody does this)
- 2 spaces in JavaScript as this is what most people do, and you need less indentation because of the "callback he

[2018-04-08 15:44] JulioJu commented on #7438
@jdubois
Maybe if the default style is 4 spaces of indentation, we care of this people… We could believe that if a coder change .editorconfig, he knows how works .editorconfig. As Visual Studio Code [is the free editor advise by Angular](https://angular.io/guide/visual-studio-2015), maybe in .editorconfig and the README we could add a link to https://github.com/editorconfig/editorconfig-vscode and

[2018-04-08 15:51] jdubois commented on #7438
Oh yes, maybe you misunderstood me: I choose 4 spaces because I care about people not having advanced text editors.
Now, with Visual Studio Code and Atom, maybe it's time to change, and expect people to have something a bit advanced. It's also wrong to limit what we do because a handful of people want to use inferior tooling!

[2018-04-08 15:59] gmarziou commented on #7425
I'm not sure it will break a lot of apps because our angular services do not use this "feature".

[2018-04-08 16:07] JulioJu commented on #7438
@jdubois
Sorry ! You were perfectly clear ;-).

So actually maybe we could let the user to have a choice for JavaScript and a different choice for Java? Why not, back and front could be two different worlds. A team for the back, a team for the front. But I believe by default we must let 4 spaces for the whole project. For small projects it's better to have style consistence in all the project ! An

[2018-04-08 16:11] jdubois commented on #7425
At least with AngularJS we were using it (I coded it), not sure what happens today.
Anyway, reading https://stackoverflow.com/questions/630453/put-vs-post-in-rest we can indeed create resources with a PUT, but if we already know the ID of the entity we want to create. This never happens in JHipster, as the ID is generated in the database - I mean, it doesn't happens by default, of course it would

[2018-04-08 23:33] ggotti commented on #7086
@jdubois I'll have a look at it now :)

[2018-04-09 06:16] deepu105 commented on #7438
@jdubois @JulioJu, first of all, I wouldn't offer it as a choice during generation as its quite cumbersome especially for Java, so here is what I think,

1. Java code should remain at 4 space indentation as its normal in the Java world, and unless we have some sort of prettier support (btw the java plugin is out for prettier) there we don't want to spend time manually changing it
2. For Typescript

[2018-04-09 06:16] #7438 closed

[2018-04-09 06:28] deepu105 opened #7442 "Sonar quality gate"
Seems we failed Sonal quality gate again, I don't know what went wrong, may be due to the coverage on new code

[2018-04-09 06:28] deepu105 commented on #7442
@jdubois @pascalgrimaud are you guys aware of this?

[2018-04-09 06:44] pascalgrimaud commented on #7442
@deepu105 : yes, I know, not sure how we can fix it

[2018-04-09 07:40] cbornet commented on #7438
Why not tabs :trollface: ?

[2018-04-09 08:33] jdubois commented on #7425
OK let's do it then! @pmverma would you be ready to do the PR? We'll help you, of course

[2018-04-09 08:34] timosntr opened #7444 "JWT-Token is not given to Swagger-UI"
##### **Overview of the issue**

JWT-Token is not given to Swagger-UI.
I already experimented a bit with the SecurityConfiguration.java to get an JWT-Token in the log and test it via an REST-Client, that works. The Token that Swagger wants to work with is null.

##### **Motivation for or Use Case**

Make Swagger UI via /admin/docs usable again

##### **Reproduce the error**

1. Generate an Applica

[2018-04-09 08:37] jdubois commented on #7444
This would be really surprising - I'm testing right now!

[2018-04-09 08:47] timosntr commented on #7444
Alright! Thank you very much! In older versions it was always working without BrowserSync, so i didn't use it in 5.0.0beta as an habit.

[2018-04-09 08:50] PierreBesson commented on #7438
I think once we move to prettier for java we could add a JHipster --option to choose between 2/4 spaces globally or even tabs. As @jdubois said we should keep the same number of spaces everywhere to support simple editors.
Also when we say that java code always has 4 spaces indenting it's not actually true for everyone as the [Google java style guide](https://google.github.io/styleguide/javaguide.

[2018-04-09 08:52] jdubois commented on #7444
Yes I don't know what happened here - I guess it's just because we don't use port 8080, and hopefully that's just a simple configuration trick

[2018-04-09 09:03] timosntr commented on #7444
Maybe you did something different, but on BrowserSync it isn't working for me neither.

[2018-04-09 09:07] jdubois commented on #7444
I confirm it works with BrowserSync, I have it right in front of me. Are you sure you connect through port 9000 and are logged in? Can you see the 'Authorization: Bearer XXXX' header in the CURL example?

[2018-04-09 09:10] timosntr commented on #7444
I can ensure you that I'm connected through port 9000 and I'm logged in. My header in the CURL example is -like on port 8080- 'Authorization: Bearer null'

[2018-04-09 09:15] jdubois commented on #7444
That's strange, I only get this on port 8080 - which again, is not normal. I've just done some quick tests, I need to look at the code to understand what's going on, but I don't have the time right now.

[2018-04-09 09:49] pmverma commented on #7425
I will be happy. Thanks.

[2018-04-09 09:54] JulioJu commented on #7438
@deepu105

* Actually for force manual upgrade (`jhipster --with-entities --force`), files `.editorconfig` and `.prettierrc` are erased.
* Maybe you could say we could don't use `--with-entities`. But personally I use always manual force upgrade, because review changes with the JHipster diff tool is for me less clear than use other git diff tools (*Magit for Emacs or Vim, maybe Sourcetree for MS-W

[2018-04-09 10:25] JulioJu commented on #7438
@deepu105 maybe for HTML files we could investigate js-beautify ?

@PierreBesson. As @deepu105 said, React use 2 spaces for indentations. Therefore, now we could freely have  different levels of indentation for the back and the front.

+1 for `--option` parameter.

[2018-04-09 12:03] jdubois commented on #7422
@wilkinsona did you just released Cairo.RELEASE? I see it at http://repo1.maven.org/maven2/io/spring/platform/platform-bom/Cairo-RELEASE/ !!!
I'm upgrading right now

[2018-04-09 12:03] jdubois commented on #7442
Well, we need to do more tests, that's how we can fix it :-)

[2018-04-09 12:04] erikkemperman commented on #7422
Excellent!

[2018-04-09 12:08] wilkinsona commented on #7422
[I did](https://spring.io/blog/2018/04/09/spring-io-platform-cairo-release), but I also [announced the end of the Plaform's life](https://spring.io/blog/2018/04/09/spring-io-platform-end-of-life-announcement) at the same time. Cairo (and Brussels) will be maintained for 12 months to give everyone time to migrate.

[2018-04-09 12:17] erikkemperman commented on #7422
All right, so we'll have to decide when to migrate to use `spring-boot-dependencies` as the parent POM. I would propose sticking with Cairo for now. Thanks @wilkinsona!

[2018-04-09 12:24] erikkemperman commented on #7422
@jdubois Actually it's not that much work -- at least not to get the parent change working. We don't use many of the additional managed dependencies in an out-of-the-box generated app, I believe. However, users migrating will perhaps find that some of the previously managed dependencies need to now be done by themselves.

I don't think we should have the ambition to take over spring-platform scope

[2018-04-09 12:28] jdubois commented on #7422
Yes totally agree @erikkemperman !!! In that case I'm waiting for your PR! But as Spring Cloud is still in milestone, can we have a stable release?

[2018-04-09 12:34] jdubois commented on #7422
just tested - Spring Platform CAIRO-RELEASE does depends on milestone releases, so you need to have access to the Spring Milestone Maven repo.

[2018-04-09 12:35] #7086 closed

[2018-04-09 13:19] erikkemperman commented on #7422
Yes, I noticed the same thing, we need the spring milestones repos for the moment. It looks like spring-cloud should have RC1 next week and RELEASE by the end of the month.

Do you want to wait with JH v5 release until then?

But at least spring-cloud-stream has just released Elmhurst GA (I'll upgrade in the same PR) so we only have to wait for:
https://github.com/spring-cloud/spring-cloud-release

[2018-04-09 13:27] jdubois commented on #7422
No, that's too much waiting - let's keep the milestone repos, and if everything is fine we'll release very soon

[2018-04-09 13:29] jdubois commented on #7117
I forgot about this one -- this is mostly done, I'm going to tick most boxes, and then we should probably close it

[2018-04-09 13:30] shadowrider-pl opened #7445 "Creating monolithic application with JHipster Registry"
##### **Overview of the issue**

From https://www.jhipster.tech/creating-an-app/:
The JHipster Registry is an Open Source tool used to manage your application at runtime.

It is required when using a microservices architecture (this is why this question is only asked when generating a monolith).

But when monolithic application is choosen, this question appears anyway.

##### **Motivation for or U

[2018-04-09 13:31] jdubois commented on #7445
Yes it's required to have a service discovery when doing microservices, but it's optional for monoliths. You can choose not to use it if you don't find it interesting.

[2018-04-09 13:31] #7445 closed

[2018-04-09 14:02] deepu105 commented on #7438
Again, unless we have transform stream supporting all the remaining file types(Java, XML, HTML, SASS, CSS, Scala, YML) we cant offer a choice of indentation. It's a small price you pay for the stuff JHipster provides. Let's just say that we provide an opinionated code style :wink:

@JulioJu I don't understand your point about force update, the `.prettierrc` file is the first file written in memory

[2018-04-09 14:04] deepu105 commented on #7444
Are you on HTTPS?

Thanks & Regards,
Deepu

On Mon, Apr 9, 2018 at 11:15 AM Julien Dubois <notifications@github.com>
wrote:

[2018-04-09 14:27] timosntr commented on #7444
Hey Deepu,
No I‘m using just HTTP.

[2018-04-09 14:52] JulioJu opened #7446 "[React] Inconsistence between .editorconfig and some scss files"
##### **Overview of the issue**

For React project, some `scss` files have parts with strange indentation, not according to `.editorconfig`.

##### **Motivation for or Use Case**

It's not very cool cause of inconsistency in the style.

.editorconfig is:
[code]

Files found are at least

[code]

Founded thanks command `$ find -name "*ss" ! -path "*node_modules*" -print0| xargs -0i grep -El '^\s{4}

[2018-04-09 15:18] erikkemperman commented on #7422
I have it working -- mostly -- but the couchbase sample for reasons I don't yet understand. I have to leave it here for today, but will make a PR in case someone else wants to try.

[2018-04-09 16:58] Ayuob-Alfouzan opened #7450 "[AngularX] production build fail for a v5.0.0-beta.0 project with multiple Lazy Loaded module"
At start, what a great library, I have been working on a jhipster project for 5 months, and I could not be happier with your works.
I know Lazy Loading is not a priority with this huge project, but if I may raise an issue I faced, or I am sorry and feel free to close it,

##### **Overview of the issue**

In 5.0.0-beta.0 the admin module is lazy loaded and it works fine with AoT production build. H

[2018-04-09 17:10] pmverma commented on #7425
I have followed https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-generator-development-setup

One more thing, in order to see everywhere that my local modified version is being used, I have modified `package.json` by increasing jhipster version to `5.0.0-beta.1`, only for local testing purpose.

If I run `./mvnw verify -Pprod` I am getting following error.

[code]
Can so

[2018-04-09 17:32] JulioJu opened #7451 "Use Prettier to css and scss files"
##### **Overview of the issue**

Actually some css and scss files have style coding problems. This cause style inconsistence.

I've found some errors on css files and scss files in React and Angular part.

##### **Related issues**

* pull #7448 from @agaspardcilia  or #7449 with their issue #7446 who show some css rules problems
* Pull: #7265 and its corresponding issue #7172 by @gmarziou who intr

[2018-04-09 17:35] JulioJu commented on #7451
@deepu105
In React, why css files have 4 spaces of indentation, and scss and ts(x) files have 2 spaces of indentation?

[2018-04-09 18:11] pmverma commented on #7425
@pascalgrimaud thanks your point solves my error.

[2018-04-09 20:16] gigantedocil opened #7453 "OneToOne Relationships Foreign Key on Wrong Side Of Relationship"
##### **Overview of the issue**

Hello, everyone. I believe I have found a problem with the OneToOne relationship generation. Please consider the following relationship:

[code]

This relationship means that the Citizen entity is the owner entity and the Passport is the owned entity, because Citizen will contain a Passport. At the database level, this will generate two tables, a Citizen table with

[2018-04-09 20:17] tchlyah commented on #7422
Yes sure, let me check

[2018-04-09 20:42] jdubois commented on #7451
Yes +1 from me, at least for correcting the issues "manually". Prettier support is less important, as we don't have a lot of CSS/SCSS, and as they are much, much easier to generate than Typescript or Java code.

[2018-04-09 21:57] jdubois opened #7455 "Remove the .dockerignore"
On the current master, our `.dockerignore` fails when building an application with Cassandra:

[code]

This seems to be the culprit: https://github.com/docker/for-mac/issues/1922

Removing the `.dockerignore` file makes everything works again, but I'm not sure why this file is useful -> @pascalgrimaud you're the expert here, that's why I'm assigning the ticket to you, could you have a look? Otherw

[2018-04-09 22:08] jdubois commented on #7455
Let me do it, I found the solution

[2018-04-09 22:09] jdubois commented on #7455
Argh no, wrong solution :-(

[2018-04-09 22:46] jdubois commented on #7450
Thanks so much @Ayuob-Alfouzan for your kind words. It looks like lazy-loading + routing is pretty buggy in Angular - we had a lot of trouble to have it working, and now you are experiencing the same issue...

[2018-04-09 22:50] ruddell commented on #7453
The owning side of the relation tracked by Hibernate is the side of the relation that owns the foreign key in the database.
https://stackoverflow.com/a/21068644/3737815

Based on that StackOverflow post and your comment "the FK should be on the Passport table", the Passport should be the owning entity.  Then the relationship will work as you expect.

[2018-04-10 04:17] pascalgrimaud commented on #7455
Let remove this file.
We control the files we add in Dockerfile, so this dockerignore is not really usefull

[2018-04-10 05:17] maku opened #7458 "rxjs should be used with pipeable operators"
##### **Overview of the issue**

In the generated sources (angular) **rxjs** is used with the patched operators for dot-chaining. This is not the suggested usage anymore.
Therefore pipe should be used instead: see https://github.com/ReactiveX/rxjs/blob/master/doc/pipeable-operators.md

##### **Motivation for or Use Case**

Should lead to a better tree-shakeability of the app

##### **JHipster Vers

[2018-04-10 06:40] #7446 closed

[2018-04-10 06:46] deepu105 commented on #7451
Yes go ahead and add a transformation stream for it

On Mon, 9 Apr 2018, 10:42 pm Julien Dubois, <notifications@github.com>
wrote:

[2018-04-10 06:53] #7450 closed

[2018-04-10 06:53] deepu105 commented on #7450
This issue might be different as the build is failing. May be try to enable
all kind debug options for webpack/yarn and run it, as without an error its
quite hard to pinpoint the issue. Also try to play with it by removing
admin module and see if the other module alone works, could be some issue
you unknowingly introduced while making your other module lazy loaded.
Unfortunately we wont have time

[2018-04-10 06:57] deepu105 commented on #7458
Would you consider doing a PR?

On Tue, 10 Apr 2018, 7:17 am Martin, <notifications@github.com> wrote:

[2018-04-10 07:12] deepu105 commented on #7453
@ruddell @MathieuAA can this be closed? TLDR

[2018-04-10 07:15] deepu105 commented on #7175
This should be fixed now. @sendilkumarn can you plz confirm. Reopen if still an issue

[2018-04-10 07:15] #7175 closed

[2018-04-10 07:29] jdubois commented on #7455
OK I'll wait for your comments @PierreBesson @pascalgrimaud - you're the best persons here!

[2018-04-10 07:33] jdubois commented on #7450
Really sorry about this @Ayuob-Alfouzan but @deepu105 is right - I don't think this is a JHipster issue. But I'm really disappointed by Angular on this part, this looks overly complex and buggy.

[2018-04-10 07:36] agaspardcilia commented on #6044
@deepu105, @chrisdns did almost every Protractor tests, he called in sick today so it should be PRd tomorrow.

[2018-04-10 07:38] jdubois commented on #6044
Awesome! BTW we'll all need to meet next week at Devoxx :-)

[2018-04-10 08:05] pascalgrimaud commented on #7455
You're right, @PierreBesson but the gain is really minor.
Here some tests:

Without this `.dockerignore` file:

[code]

With this `.dockerignore` file:

[code]

[2018-04-10 08:06] pascalgrimaud commented on #7455
What the need to do, is to understand why the cassandra folder isn't ignore:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/docker/.dockerignore.ejs#L24-L29

[2018-04-10 08:08] agaspardcilia opened #7461 "React: Arabic (Libya) language is not working"
##### **Overview of the issue**

When an application is generated with Arabic (Libya) as main language, translations can't be found. I discovered that while adding rtl support to React client.

##### **Motivation for or Use Case**

Pretty annoying bug.

##### **Reproduce the error**

Generate an application with Arabic (Libya) as main language.

##### **Related issues**

idk

##### **Suggest a Fix

[2018-04-10 08:28] PierreBesson commented on #7455
202MB vs 59MB is not minor and it's fast only because you have a SSD. It would take several seconds on a slow machine

[2018-04-10 08:33] hdurix commented on #7455
Or what we could do is to exclude the target directories, as they are big, unwanted and may provoke dependency conflicts during the Docker build.

Here what I exclude in my current project:
[code]

[2018-04-10 08:39] hdurix commented on #7455
@pascalgrimaud Just to be sure with your last comment, the cassandra folder is not ignored.
Everything is ignored except .war, .jar and cassandra folder (I don't know why it's not working with @jdubois).

[2018-04-10 08:40] erikkemperman commented on #7422
@tchlyah I think we may only have to upgrade `couchbase-testcontainer` to 1.12 (to accomodate couchbase-java-client 2.5.7). I'm trying it now.

[2018-04-10 08:41] erikkemperman commented on #7422
See also https://github.com/differentway/testcontainers-java-module-couchbase/commit/23db92fce383a002f43cd4ff744df893a624c0a0

[2018-04-10 08:49] tchlyah commented on #7422
Yes, I already done a pull request on your branch which fix the issue. You should just merger it.

[2018-04-10 08:50] deepu105 commented on #6044
Yup, we can check and mark things together :)

Thanks & Regards,
Deepu

On Tue, Apr 10, 2018 at 9:38 AM Julien Dubois <notifications@github.com>
wrote:

[2018-04-10 08:53] erikkemperman commented on #7422
Ah! Thanks! Strange, I didn't get an email about that... Anyway, will merge it and Travis should go green :-)

[2018-04-10 09:13] jdubois commented on #7455
@hdurix from my understanding it's not working because of a bug in Docker 4 Mac (or at least in Docker). It was working before!

[2018-04-10 09:50] cbornet commented on #7422
BTW it’s now Spring Boot 1.5.12 : https://spring.io/blog/2018/04/10/spring-boot-1-5-12-available-now

[2018-04-10 09:51] piyiotisk commented on #7396
Hello guys, sorry for the delay. I will try to reproduce it and report back. Thanks!

[2018-04-10 10:00] jdubois commented on #7422
Yes thanks @cbornet ! But as of this morning no new Cairo release :-)
Indeed I now understand we need to move, and @erikkemperman did a great job here, it's nearly done.

I'm mostly sad for people using JHipster 4, as we won't be able to maintain it very long.

[2018-04-10 10:06] wilkinsona commented on #7422
There's no need for a new Cairo release. It was only Spring Framework 4.3.x and, therefore Spring Boot 1.5.x, that was affected by the incomplete fix for the security vulnerability. A new IO Platform Brussels release will be published later today.

[2018-04-10 10:10] jdubois commented on #7422
Oh sorry @wilkinsona - I meant Brussels, yes! And we'll release after you, of course!

[2018-04-10 10:28] pascalgrimaud commented on #7455
Agree with you @PierreBesson but it seems to work well on Linux, and we don't have other system (Mac or Windows) to reproduce and try to fix it.

So the very quick fix is simply remove this file: https://github.com/jhipster/generator-jhipster/pull/7459
Another fix would take more time, to find a machine and test it

[2018-04-10 10:44] pascalgrimaud commented on #7455
@hdurix : here what we need to check and to exclude:

[code]

[2018-04-10 10:47] PierreBesson commented on #7455
Maybe it would work if the gitignore doesn't have any `!` in it. Maybe a blacklist strategy would work and be cleaner as it will be less surprising for users as the default behavior will not be to ignore files.

[2018-04-10 14:18] ruddell commented on #7453
I think it's working as expected.

[2018-04-10 14:18] #7453 closed

[2018-04-10 14:26] agaspardcilia opened #7463 "Creating a Job with default JDL breaks entity access"
##### **Overview of the issue**

When you try to create a Job entity the server will return a 500, and you won't be able to access that entity anymore.

##### **Motivation for or Use Case**

Bug with the default JDL.

##### **Reproduce the error**

Create a "vanilla" Angular project and import the default JDL provided by JDL Studio

##### **Related issues**

idk

##### **Suggest a Fix**

idk, I'll

[2018-04-10 14:31] aBnormaLz opened #7464 "Add a flag so jHipster won't generate comments"
##### **Overview of the issue**

It would be awesome if I yould tell jHipster not to generate any comments or javadoc into the code

##### **Motivation for or Use Case**

The idea behind this is that lot of coders doesn't like comments, because they have to keep the comment up-to-date with the code, and sometimes they forget to update it. So comments get into an out-of-date state very often.

[2018-04-10 14:40] jdubois commented on #7464
- One of our "rules" is that we only do comments when it's necessary, as we do believe the same thing as you (we do agree!)
- Removing comments has also a strange (but nice) side effect: currently they break https://github.com/thorbenvh8/prettier-java ! So I would also like to get rid of them

Now we just can't remove them like that, it would be a lot of work -> I think that once we have https://g

[2018-04-10 14:40] #7464 closed

[2018-04-10 15:25] MathieuAA commented on #7463
What do you mean by "breaks entity access"?Le 10 avr. 2018 17:26, "Alexandre GC." <notifications@github.com> a écrit :Overview of the issue
When you try to create a Job entity it breaks it's entity.
Motivation for or Use Case
Bug with the default JDL.
Reproduce the error
Create a "vanilla" Angular project and import the default JDL provided by JDL Studio
Related issues
idk
Suggest a Fix
idk, I'll

[2018-04-10 15:29] agaspardcilia commented on #7463
@MathieuAA I meant that requesting `api/getAllJob` was resulting in a 500. But it should be fixed now.

[2018-04-10 15:53] agaspardcilia commented on #6735
@duderoot I cloned your project and updated it to the 5.0 beta and it's fixed.

[2018-04-10 17:02] ruddell commented on #7463
Based on the changes from https://github.com/jhipster/generator-jhipster/issues/5629#issuecomment-352265723 (same issue as here), we no longer allow DTOs without an entity Service or ServiceImpl.  The only way this happened was by importing the JDL.

The proposed fix enables eager loading of the relationship which is a code smell (see linked issue for discussion on that).  But it seems we eager lo

[2018-04-10 17:15] MathieuAA commented on #7463
Agreed. I intended to replace it entirely by the end of the month..Le 10 avr. 2018 20:02, Jon Ruddell <notifications@github.com> a écrit :Based on the changes from #5629 (comment) (same issue as here), we no longer allow DTOs without an entity Service or ServiceImpl.  The only way this happened was by importing the JDL.
The proposed fix enables eager loading of the relationship which is a code sme

[2018-04-10 17:28] cmcruzata commented on #3566
Hi, I know I'm late but, I'm trying to generate an app with Microservice application and continue the same issue. Here's a snapshot of issue.

Welcome to the JHipster Generator v4.14.2
Application files will be generated in folder: N:\SRA

? Which *type* of application would you like to create? Microservice application
? What is the base name of your application? SRA
? As you are running in a micr

[2018-04-10 17:40] ruddell commented on #3566
@cmcruzata Please don't comment on an old issue.  If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

[2018-04-10 17:53] deepu105 commented on #6735
@agaspardcilia do you mean the original issue in this ticket is fixed?

[2018-04-10 17:57] #7425 closed

[2018-04-10 17:59] cmcruzata opened #7466 "Could not find a valid JHipster UAA server in path "uaa""
Hi, I know I'm late but, I'm trying to generate an app with Microservice application and continue the same issue. Here's a snapshot of issue.

Welcome to the JHipster Generator v4.14.2
Application files will be generated in folder: N:\SRA

? Which type of application would you like to create? Microservice application
? What is the base name of your application? SRA
? As you are running in a micros

[2018-04-10 18:11] #7302 closed

[2018-04-10 18:13] ruddell commented on #7466
Did you generate the UAA before the microservice? I could not reproduce, maybe it is specific to Windows.

[2018-04-10 18:13] gmarziou commented on #7466
I don't understand what you are doing.
You run the generator in`N:\SRA`   so it expects to find uaa in `N:\SRA\..\uaa` which resolves in `N:\uaa`  which does not exist.

You should `cd N:\SRA\ClientWeb` before running the generator.

[2018-04-10 18:28] deepu105 commented on #7451
yes go with 2

Thanks & Regards,
Deepu

On Tue, Apr 10, 2018 at 11:21 AM Julio <notifications@github.com> wrote:

[2018-04-10 18:31] deepu105 commented on #6044
@vishal423 nope there was no discussions. we cant always read only from Redux as the data might be outdated due to changes in the backend by other people. I did want to normalize the store data model so that getAll and get fetches data from the same place

[2018-04-10 19:35] ruddell commented on #7466
Sounds like the issue was solved.  @cmcruzata Let us know if you are still having issues and we can reopen

[2018-04-10 19:35] #7466 closed

[2018-04-10 20:42] jdubois commented on #7422
Closing as:

- For JHipster 4 I have upgraded to Brussels-SR9
- For JHipster 5 we are now directly using the Spring Boot dependencies BOM, see https://github.com/jhipster/jhipster/pull/55

[2018-04-10 20:42] #7422 closed

[2018-04-11 04:16] mraible commented on #7350
Fixed by https://github.com/jhipster/generator-jhipster/pull/7351.

[2018-04-11 04:16] #7350 closed

[2018-04-11 07:34] agaspardcilia commented on #7463
Looks like it's a bit more complicated than I thought.

[2018-04-11 08:08] agaspardcilia commented on #6735
@deepu105 Yes, it is.

[2018-04-11 08:38] deepu105 commented on #6735
let's close it then. @agoncal @duderoot do let us know if you see any other issue

[2018-04-11 09:38] agaspardcilia commented on #6044
@deepu105 I tried to see what was done or not here is the result:

#### Modules

+ Blocks: config
+ Blocks: hanlders
+ Shared: profiles
+ Shared: util
I honestly have no idea what you meant with these, so I guess it's more an Angular direct conversion.

+ Layouts:error
The current notification middleware is handleling `X-<appname>-error` headers. There's still some error alert duplication ie: logi

[2018-04-11 14:01] cmcruzata commented on #7466
Issue was solved.

[2018-04-11 14:10] anandsudhir commented on #7409
Appears that `spring-boot-starter-data-elasticsearch` is pulling in the netty dependencies.
But, i guess this should be Ok since `reactor.ipc.netty.http.server.HttpServer` is not on the classpath.

@See org.springframework.boot.autoconfigure.web.reactive.ReactiveWebServerFactoryConfiguration
[code]

On master, the dependency tree is as below

`/mvnw dependency:tree -Dincludes=io.netty`
[code]

As

[2018-04-11 14:11] JrmyDev commented on #7083
Seems to be fixed in liquibase core 3.6.0
- https://liquibase.jira.com/projects/CORE/issues/CORE-2843
- https://liquibase.jira.com/browse/CORE-2992

[2018-04-11 14:31] vishal423 commented on #6044
@deepu105 , stale data is always an issue with cache. Caching would also be tricky with server side pagination that goes over records not in cache. I can see following options:
1. Let user do explicit refresh (F5), in which case store needs to be re-populated.
2. Provide explicit refresh button on list page along with last sync time. User can explicitly refresh if interested.
3. Implicitly invalid

[2018-04-11 15:10] deepu105 commented on #6044
@vishal423 yes there are many ways to workaround, but they all have issues which are not acceptable for user experience and data integrity.
If you fetch stale data for write operation you will end up overwriting any new data on the server which is not acceptable, so IMO it's not worth the trouble as the majority of the use cases would want the latest data all the time. If someone has a system whic

[2018-04-11 20:40] BullyWiiPlaza opened #7470 "Updating JHipster doesn't work (on Windows)"
##### **Overview of the issue**
Updating `JHipster` does not work.

##### **Motivation for or Use Case**
I want to use the most up-to-date version.

##### **Reproduce the error**
Run `yo jhipster`. A new version is available. Run `npm install -g generator-jhipster`. Open a new terminal. Run `yo jhipster`. The version is not updated. A video showing the steps can be seen here: https://www.youtube.c

[2018-04-11 20:42] jdubois commented on #7470
That's normal, because you use the version local to your project, and the global one. Have a look at the documentation, probably the `jhipster upgrade` sub-generator is what's best for you (that mostly depends if that's a major or minor upgrade).

[2018-04-11 20:42] #7470 closed

[2018-04-11 20:43] jdubois commented on #7470
Just to give some background: we do this for people who have multiple JHipster projects. You might not want to upgrade them all at once. So we use the project-local version, and the global one is ignored, unless of course you force it.

[2018-04-11 20:47] BullyWiiPlaza commented on #7470
False. I have no project setup. The folder is empty and I cannot update the version. Please fix this bug.

[2018-04-11 20:52] jdubois commented on #7470
Then it totally depends on how you install it - we have guidelines for bugs, please give more information, we can't work like that. Are you using Chocolatey?

[2018-04-11 20:59] BullyWiiPlaza commented on #7470
No. I just use `npm`. It's described above under `Reproduce the error`. I'm not sure what would be missing on how to describe the installation and upgrade procedure.

[2018-04-11 21:01] jdubois commented on #7470
Yes but you could have installed with Chocolatey, and then try to upgrade with NPM... which would in fact work.
So can you run `jhipster info`, so we know your configuration?

[2018-04-11 21:05] BullyWiiPlaza commented on #7470
Here is the `jhipster info` output:
[Using JHipster version installed globally
Executing jhipster:info
Options:
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>

</pre>
</details>

##### **JDL for the Entity configuration(s) `entityName.json` files generated in the `.jhips

[2018-04-11 21:08] gmarziou commented on #7470
@BullyWiiPlaza the video you refer to is 2 years old and uses JHipster 3. Since we no longer use `yo jhipster` please use `jhipster` without yo .

[2018-04-11 21:09] gmarziou commented on #7470
Also you use JDK 9 which is not supported by JHipster 4.

[2018-04-11 21:12] jdubois commented on #7470
You're using a non-LTS Node version, and we always recommend to use an LTS version.
What happens when you do `npm install -g generator-jhipster`, do you have a log? Please note we recommend Yarn, we have only about 5% of users using NPM (so combining Windows + non-LTS NodeJS version + NPM means you are probably a bit alone..)

[2018-04-11 21:12] gmarziou commented on #7470
You ran jhipster info in an empty dir it seems as there's no .yo-rc.json and there's no version printed which could mean that  node_modules sub folder is empty.

Please start from scratch, create an empty directory and generate a project here using `jhipster`command.

[2018-04-11 21:17] BullyWiiPlaza commented on #7470
Even without using `yo`, it still does not update whatsoever. Here is the terminal output:

[code]
I'm updating, it says that `v4.14.3` is installed but then it always goes back to `v4.14.2`.

[2018-04-11 21:26] gmarziou commented on #7470
Yes generator-jhipster being installed by both yarn and npm would result in this situation, I had this also on Windows. Another hypothesis is a bad PATH.

[2018-04-11 21:29] gmarziou commented on #7470
Try running `yarn global remove generator-jhipster` and `npm uninstall -g  generator-jhipster` then re-install it with the one you want and stay with it.

[2018-04-11 22:04] BullyWiiPlaza commented on #7470
Yeah, @gmarziou your last message solved it. Thank you.

[2018-04-12 06:01] anjia0532 opened #7471 "remove redundance 2-level cache,change to spring cache"
**sorry, my english is not very good.please a little more patience**

##### **Overview of the issue**

jpa + Hibernate 2-level cache is not work.

the main code

https://github.com/jhipster/generator-jhipster/blob/5c58e1ce7b551c9e97f71cd42e9dbd0dc57d5235/generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs#L98-L105

when you exec sql query ,it will save the entity to cac

[2018-04-12 06:15] Blackdread commented on #7471
Cache is working, you should check hibernate, it uses cache with ID so findOne(ID), etc.
You are querying a list of entities, it will not work like you expect -> for that you can add \@Cacheable (**Spring cache abstraction**) to a repository method or a service method (the result will be cached and used if parameters are equals between different calls).
Collections in entities are cached (if annot

[2018-04-12 06:33] anjia0532 commented on #7471
@Blackdread thanks for your reply. yes, u r right,  @Cache is work.

but

from the master branch code
https://github.com/jhipster/generator-jhipster/blob/3ac4037833b4b2e6b4d811c50f4587b2798565a4/generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs#L269-L297

l'll close this issues.

[2018-04-12 06:37] #7471 closed

[2018-04-12 06:48] deepu105 commented on #6044
@vishal423 unfortunately, I don't agree. Its really important to fetch latest data before an update operation. In a real world app with multiple users this will be a huge issue and IMO client side caching is a bad practice for CRUD applications. We already have server side caching and if you really need this its easy to add an Axios middleware to cache the requests. Client side caching will only w

[2018-04-12 07:05] ildelian opened #7472 "Get question tree from the generator"
Hi.

I'm have generated a web form for call yeoman and generator-jhipster.
There are some command to obtain the options tree for the generator?

I can read it from the source code, but is too slow find all options one by one.

Thanks.

[2018-04-12 07:10] deepu105 commented on #7472
No, this is something we might do in future for JHipster online

[2018-04-12 07:10] #7472 closed

[2018-04-12 07:41] gmarziou commented on #7470
So finally, your PC is not haunted, I began to think so after your issue with H2 😆

[2018-04-12 08:09] levioza opened #7473 "Secure direct upload to S3 from the client side as an option while generating the app"
##### **Overview of the issue**

Allow the client application (React or Angular) to upload to Amazon S3 using secured signed requests.

##### **Motivation for or Use Case**

Please read: https://medium.com/@levioza/storing-your-blobs-on-a-cloud-storage-provider-amazon-s3-da6c1515cc76

##### **Suggest a Fix**

I create a sample app [here](https://github.com/levioza/spring-boot-amazon-s3). This shou

[2018-04-12 10:01] hejerdj commented on #7352
Hi all, i'am a beginner in jhipster. I modify the files like @azizkhani  but when i run my app it shows me an error and i don't understand what the source of the problem.

BasicinfoDialogComponent.html:1 ERROR TypeError: Cannot read property 'id' of undefined
    at Object.eval [as updateDirectives] (BasicinfoDialogComponent.html:1)
    at Object.debugUpdateDirectives [as updateDirectives] (core.j

[2018-04-12 11:21] dhireshartron opened #7474 "autoMigrate.sh file In cassandra/scripts"
##### **Overview of the issue**
Actually there is little bit of error in autoMigrate.sh file of cassandra/scripts
whose actual path is ./generators/server/templates/src/main/docker/cassandra/scripts/

actually when you specify path other than ./generators/server/templates/src/main/resources/config/cql/changelog it creates an error. which is actually a bug which is very little mistake.
EXECUTE_CQL_

[2018-04-12 15:55] deepu105 commented on #7473
Sorry, this is too specific use case and hence we won't be able to do it.

[2018-04-12 15:55] #7473 closed

[2018-04-12 19:58] yakari opened #7478 "Using an autowired repository in a configuration class provokes a thread lock when the JHipster registry is configured on a monolithic app"
Hello,

##### **Overview of the issue**

I had to migrate an old JHipster app to JHipster 5.0 beta 0 to address several bugs, and while I was at it I tried to add the JHipster Registry to it (the app was load-balanced, with a Hazelcast cache).

The new 5.0 app never completely started and seemed to be locked right after Hazelcast configuration. The last log lines were :

[code]

After further inve

[2018-04-12 20:27] JulioJu opened #7479 "Correct local travis build"
##### **Overview of the issue**

The script build-sample.sh is totally brocken.
##### **Motivation for or Use Case**

It's not cool because this script is advised at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#local-travis-build.
##### **Reproduce the error**
###### One (error)
1. `$ git clone https://github.com/jhipster/generator-jhipster`
2. `$ cd generator-jhipste

[2018-04-12 20:32] jdubois commented on #7479
I don't have much issue with it, but I don't use it a lot (I have my own tests), so I'm not the best person to judge.
Anyway, it's very, very important to have the best experience possible for contributors, so if you can improve it, don't hesitate to! Ping @pascalgrimaud for help, he's the expert on this part.

And @JulioJu you're contributing quite a lot recently, and I see you are french: are yo

[2018-04-12 22:09] JulioJu commented on #7479
@jdubois
Thanks for very much for your invitation ;-) ! It's a very big honour :-).

I've seen the programm… Too much interesting subjects ;-).

I would like answer « yes » to your invitation. But actually I'm a beginner, only a student. [16 days ago](https://github.com/jhipster/generator-jhipster/pull/7311#issuecomment-376789975) I didn't know how work with Travis. And on [my last PR ](#7449) the

[2018-04-12 22:38] gmarziou commented on #7479
@JulioJu  I'll be happy to meet you in real life :)

[2018-04-13 05:11] pascalgrimaud commented on #7479
@JulioJu : as Julien, I don't use this script but indeed, the issues you mentioned seem correct, specially about yarn link.

So yes, go ahead and PR plz, I will review it.

[2018-04-13 05:16] pascalgrimaud commented on #7479
@JulioJu : about experience. In Open Source project, we don't care about that. Everyone can come and contribute :)

[2018-04-13 05:25] pascalgrimaud commented on #7473
It could probably be a module.
See https://www.jhipster.tech/modules/creating-a-module/

[2018-04-13 07:29] JulioJu commented on #7479
@gmarziou thanks me too ;-).
@pascalgrimaud thanks ;-). I hope don't commit to much beginner errors ;-). Ok I'm going to work on a PR.

[2018-04-13 08:27] jdubois commented on #7479
@JulioJu we have lots of students contributing to JHipster, and really we don't care at all about your experience - it's even [forbidden by our code of conduct](https://github.com/jhipster/generator-jhipster/blob/master/CODE_OF_CONDUCT.md).
If you want to come to JHipster Conf in Paris, don't hesitate to contact me privately (see http://www.julien-dubois.com/contact.html ).

[2018-04-13 20:24] gmarziou commented on #7478
I was able to reproduce the problem and I took a thread dump which detected a deadlock.

<details>
<summary>thread dump</summary>
<pre>
Full thread dump Java HotSpot(TM) 64-Bit Server VM (25.144-b01 mixed mode):

"hz.xxx.HealthMonitor" #47 daemon prio=5 os_prio=0 tid=0x0000000020499800 nid=0x2b0c waiting on condition [0x000000002e1ff000]
   java.lang.Thread.State: TIMED_WAITING (sleeping)
	at java

[2018-04-14 08:43] #7451 closed

[2018-04-14 10:58] agilob opened #7485 "BigDecimal is incorrectly handled by generated liquibase configuration"
##### **Overview of the issue**
Fields of type `BigDecimal` are saved as Decimal, because generated liquibase does not specify precision. Example:
Generate a class that has field of type BigDecimal, purpose of the field is to store high precision value.
This is generated as:

    @NotNull
    @Column(name = "jhi_value", precision=10, scale=8, nullable = false)
    private BigDecimal value;

Corres

[2018-04-14 11:27] JulioJu opened #7486 "tslint.json -> tslint.yml and tslint rules"
##### **Overview of the issue**
It could be cool to have tslint.yml instead of tslint.json because yaml is much more readable and it's natively commentable.

##### **Motivation for or Use Case**

It cool be cool to write a tslint.yml commented, with rules ordered by type and by letter like in https://palantir.github.io/tslint/rules/. We could use their titles section.

##### **Related issues**

No

[2018-04-14 11:41] Blackdread commented on #7485
For me, jhipster 4.14.0 it generated:
[code]
and
[code]

[2018-04-14 11:47] gmarziou commented on #7485
Yes @Blackdread is right, this is handled [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs#L80-L81)

[2018-04-14 11:47] #7485 closed

[2018-04-14 12:41] JulioJu commented on #7458
Maybe I could try… But without guarantee…

[2018-04-14 14:20] tianlinzx opened #7487 "TestCase error when generating microservice project with oauth2 authentication type"
##### **Overview of the issue**
TestCase error when generating  microservice project with oauth2 authentication type

##### **Motivation for or Use Case**

When running jhpack on new generated project,can't pass the test.
##### **Reproduce the error**

##### **Related issues**

TestCase error when using ODIC.See below:
[ERROR] Failures:
[ERROR]   AccountResourceIntTest.testGetExistingAccount:116 S

[2018-04-14 14:27] pascalgrimaud commented on #7487
I confirm the issue.
Here the full log: https://travis-ci.org/hipster-labs/jhipster-travis-build/jobs/366427357

[2018-04-14 15:02] jdubois commented on #7486
As we copy our tslint config from Angular CLI, in order to have the same rules as the official Angular generator, can you check if they use a tslint.json or a tslint.yml? Otherwise it could be hard for us to migrate.

[2018-04-14 16:15] JulioJu commented on #7486
@jdubois angular-cli use json files. But thanks https://www.json2yaml.com/ it's very very very easy to migrate :-). I think it's a good idea to migrate because there isn't too much differences between yaml and json, but yaml it's very more readable ;-).

And as we could see bellow, there is already lot of differences between angular-cli tslint rules and jhipster tslint rules   ;-).  With  https://

[2018-04-14 16:26] pascalgrimaud commented on #7474
I don't understand this issue. You didn't describe all steps in details to reproduce it.

`./generators/server/templates/src/main/docker/cassandra/scripts/autoMigrate.sh` can't exist in your project -> it's normal because this file belongs to `generator-jhipster`

The `autoMigrate.sh` file is in: `src/main/docker/cassandra/scripts/`
And if you want to use it, you need to start a Cassandra yourself

[2018-04-14 16:26] #7474 closed

[2018-04-14 16:26] pascalgrimaud commented on #7474
Feel free to comment, add all steps to understand your issue and we can reopen if there is a real issue

[2018-04-14 16:28] #7455 closed

[2018-04-14 17:47] gmarziou commented on #7486
@JulioJu I think that the point about angular cli using tslint.json rather than tslint.yml was not about migration, it was more about staying as compatible as possible with angular cli.

Also we can already use comments in tslint.json as stated in [tslint doc](https://palantir.github.io/tslint/usage/configuration/)

[2018-04-14 17:55] JulioJu commented on #7486
@gmarziou ok :-).

For the other subject, what do you think about add some tslint rules in tslint.json? To match nearer angular-cli?

[2018-04-14 19:14] gmarziou commented on #7486
I did not look into the details of these rules but as long as sample app passes (with potential minor fixesà it's OK.

I had same thoughts about the ng compiler options in tsconfig-aot.json, some were missing so I just added them and then got some errors on sample app that seemed useless so I got rid of half of them.

[2018-04-15 05:28] TonyLuo commented on #7487
@tianlinzx +1

[2018-04-15 08:00] deepu105 commented on #7486
@jdubois we didn't copy our rules from NG CLI, this is our own set of rules, so we can use yml if its supported OOB. Regarding Angular CLI we only ensure that any code generated by it is compatible with our rules so yes, our rules do match what Angular CLI generates a bit, but of course we can choose to disable some rules, especially due to prettier.

Now about YML itself, I dont see any value, as

[2018-04-15 08:00] #7486 closed

[2018-04-15 08:06] jdubois commented on #7486
@deepu105 it probably changed, but I did copy the rules from NG CLI at the begining :-)

[2018-04-15 14:34] Akuka opened #7491 "Unused application property hazelcast.backup-count"
##### **Overview of the issue**

There is no use of the application property jhipster.cache.hazelcast.backup-count

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

Not sure if the fix should be here:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/CacheConfigu

[2018-04-15 15:10] pmverma commented on #7491
Yes, I also confirm that value from `yml` is not being applied as per my generated code.

[2018-04-15 15:25] jdubois commented on #7491
I remember adding this when I did the first implementation, but this has been refactored (the contribution was from Hazelcast themselves!!), so it's probably unused now.
Let's remove it - would you like to do the PR so you are the author of the change?

[2018-04-15 16:17] mraible commented on #7124
FWIW, I still see issues with i18n and microservices. Mostly with success messages.
<img width="1372" alt="screen shot 2018-04-15 at 10 17 11 am" src="https://user-images.githubusercontent.com/17892/38780578-2ff0330a-4096-11e8-8e67-af8703eaff63.png">

[2018-04-15 17:34] mraible commented on #7487
This test errors in a monolith too, but it doesn't register as a failure:

[code]

The problem seems to be that `Principal` isn't populated by the test. It used to be with Spring Security 4.x, so it seems something might've changed.

[2018-04-15 18:01] agoncal commented on #7486
And one day, we will come back to XML ;o)

[2018-04-15 18:36] mraible commented on #7487
@jgrandja Any idea why the following test works fine when using `@EnableOAuth2Sso`, but not with `@EnableResourceServer`? For context, we have this test in both a monolith environment (that uses `EnableOAuth2Sso`) and a microservices environment (that uses `EnableResourceServer`).

You can see the configuration classes for each in the JHipster project on GitHub:

* monolith: [SecurityConfiguration

[2018-04-15 18:57] PierreBesson commented on #7417
@geoffroya Please submit a PR, we have too much work currently for v5. This would be cool to have.

[2018-04-15 19:54] Akuka commented on #7491
OK, I will do a PR

On Sun, Apr 15, 2018, 18:26 Julien Dubois <notifications@github.com> wrote:

[2018-04-15 21:59] deepu105 commented on #7491
I wouldn't remove it, rather I would use the value instead of the hard
coded ones, I noticed this earlier but forgot to fix it

On Sun, 15 Apr 2018, 9:54 pm Akuka, <notifications@github.com> wrote:

[2018-04-15 23:49] dudleybutt opened #7493 "Alerts not displaying in IE 11 using prod profile on JHipster 4.14.2"
##### **Overview of the issue**

Alerts are working using the dev profile in ALL browsers.
Alerts are not appearing only in IE 11, when doing a package build using the prod profile command
`./mvnw -Pprod clean package`

Screenshots and further info can be found on the link below.
https://stackoverflow.com/questions/49730955/alerts-not-displaying-in-ie-11-using-prod-profile-on-jhipster-4-14-2

####

[2018-04-16 07:25] deepu105 commented on #7345
@pavankjadda @PierreBesson does the PR linked above work for you?

[2018-04-16 12:56] pavankjadda commented on #7345
@deepu105 Let me check

[2018-04-16 15:35] Akuka commented on #7491
@deepu105, for which configurations this property related, this:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs#L277
or at:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs#L300
?

[2018-04-16 22:04] 24X7 commented on #4251
GraphQL would be great.  Ideally likely easiest to have Apollo Server be the gateway then and perform the schema stitching.... then the whole graphQL relay system + react pops in.

[2018-04-17 12:25] PierreBesson opened #7496 "[FEATURE] Use "Discovery First Bootstrap" mode for Spring Cloud Config"
##### **Overview of the issue**

Currently, our Spring Cloud Config setup is such that the application will first query the config server (at the single URL defined in `spring.cloud.config.uri`), update their config and then register with Eureka. This is a problem when using an HA registry (in cluster) as it means that you cannot have HA for the config server.

To illustrate the problem, here is a

[2018-04-17 13:45] yudar1024 opened #7497 "gateway monitor issue cannot use setMetricRegistry() and setMetricsTrackerFactory() together"
##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.jh5.gateway",
      "nativeLanguage": "zh-cn"
    },
    "jhipsterVersion": "5.0.0-beta.0",
    "baseName": "gateway",
    "reactive": false,
    "packageName": "com.jh5.gateway",
    "pa

[2018-04-17 13:49] jdubois commented on #7497
Are you using the "5.0.0-beta.0" release or did you clone the project from the master branch? Because this used to happen some time ago, and this should be fixed now

[2018-04-17 13:56] yudar1024 commented on #7497
yes i am using 5.0.0-beta.0. i install jhipster via nodejs by specify beta.0 version . i do not clone from master branch.

[2018-04-17 14:11] #7065 closed

[2018-04-17 14:31] mraible commented on #7487
I'm not sure `AccountResource` and `AccountResourceIntTest` should exist when `applicationType === 'microservice'` because `account.service.ts` only exists on the gateway. I'll make a PR to remove it.

[2018-04-17 19:35] jgrandja commented on #7487
@mraible If you could put together a minimal sample the reproduces the issue that would be more efficient on my end. I will say that `@EnableOAuth2Sso` can be tricky at times as it applies a number of conditional checks on properties rooted at `security.oauth2.resource.*`.

Are you able to use `@EnableResourceServer` exclusively?

[2018-04-17 20:43] mraible commented on #7487
@jgrandja It's probably something in JHipster's configuration that causes this, so I'm not sure a minimal sample would help. I think these steps are pretty simple though! ;)

[code]

The test will fail:

[code]

Change from `@EnableResourceServer` to `@EnableOAuth2Sso` in `blog/src/main/java/com/okta/developer/blog/config/MicroserviceSecurityConfiguration.java` and it passes.

[2018-04-17 21:44] sendilkumarn commented on #7238
@deepu105 after this PR, the blueprint is not working any more. now the blueprint is going in a loop

[2018-04-18 01:04] jgrandja commented on #7487
@mraible The reason `@EnableResourceServer` results in a `null` `Principal` in `getAccount(Principal principal)` is because of the configured `RequestMatcher` in `MicroserviceSecurityConfiguration`:

[code]

The `RequestHeaderRequestMatcher("Authorization")` is configured but the request in the test does not set the `Authorization` which results in no matching `FilterChain`. So the request passes

[2018-04-18 01:15] mraible commented on #7487
@jgrandja I suspected that might be the case. There's nothing in `spring-security-test` that allows you to auto-send a `Bearer` token in an `Authorization` header is there? I was hoping `@WithMockUser` or `.with(user(user.getLogin()).roles("ADMIN"))` could do that somehow.

[2018-04-18 01:25] jgrandja commented on #7487
No there isn't. However, we plan on adding oauth test support in Spring Security 5.x

[2018-04-18 08:27] deepu105 commented on #7238
ok, i'll take a look

Thanks & Regards,
Deepu

On Tue, Apr 17, 2018 at 11:44 PM Sendil Kumar N <notifications@github.com>
wrote:

[2018-04-18 09:07] micobarac opened #7500 "JWT token always expires after 3600 seconds"
##### **Overview of the issue**

Spring should create JWT token set to last for 24 hours, but it somehow expires after 3600 seconds (1 hour). This way, backend invalidates JWT token and throws 401 Unauthorized error.

##### **Motivation for or Use Case**

Correct lifetime of JWT token, according to settings.

##### **Reproduce the error**

This is my `application-dev.yml` setting of JWT expiration

[2018-04-18 09:16] gmarziou commented on #7500
I don't understand your point, are you saying that `TokenProvider` does not apply your 24 hours setting when creating tokens ?

[2018-04-18 09:38] micobarac commented on #7500
Exactly

[2018-04-18 09:43] gmarziou commented on #7500
I don't understand how this is possible, check the code in TokenProvider and put a break point under debugger: https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/java/io/github/jhipster/sample/security/jwt/TokenProvider.java#L44-L45

The only hypothesis that I have is that you changed this value in local application properties and not in registry.

[2018-04-18 10:08] dhireshartron commented on #7474
add a line in casaandra.yml file so that it looks like this
version: '2'
services:
    project-cassandra:
        image: cassandra:3.9
        # volumes:
        #     - ~/volumes/jhipster/project/cassandra/:/var/lib/cassandra/data
        volumes:
            - ~/csvfiles:/csvfiles
        ports:
            - 7000:7000
            - 7001:7001
            - 7199:7199
            - 9042:9042

[2018-04-18 10:15] micobarac commented on #7500
As I checked, jHipster creates regular JWT with correct expiration date. I'll investigate my problem further and post my conclusions here.

[2018-04-18 11:49] gmarziou commented on #7500
OK, let's close this until you come with more information and also your project configuration .yo-rc.json

[2018-04-18 11:49] #7500 closed

[2018-04-18 13:42] #7487 closed

[2018-04-18 18:17] skilledboy commented on #4216
How to run the rollbacktag of Liquibase in Jhipster?
and tried to rollback tag of liquibase in jhipster, but I do not succeed.
[code]
and when I execute
` ./gradlew rollbackTag -PliquibaseCommandValue=1.0.0-0.1`
ERROR liquibase - rollback requires a rollback tag

Thank!

[2018-04-19 05:32] pascalgrimaud commented on #6044
Still one failed build left: react with OAuth2
https://travis-ci.org/hipster-labs/jhipster-travis-build/jobs/368013327

Hope we can fix it before the next release

[2018-04-19 07:25] micobarac opened #7503 "Redis support for cache"
##### **Overview of the issue**

jHipster generator doesn't offer Redis caching engine during project generation process.

##### **Motivation for or Use Case**

If I choose Hazelcast during project generation, how do I replace it with Redis? I know that I have to add Redis dependency to `pom.xml`, but how do I change `CacheConfiguration.java` to support Redis?

##### **JHipster Version(s)**

JHips

[2018-04-19 08:56] micobarac commented on #7503
Oh, come on, I followed guidelines as much as I could.
This isn't actually a bug, more like a feature change.
If you don't want to help, that's another thing.

[2018-04-19 09:46] pascalgrimaud commented on #7503
Sorry @micobarac but the title of this ticket is a question, and not a feature request.

If it's a question / help: use stackoverflow or gitter instead

If it's a feature request, we can discuss about it. In that case, are you ready to code this part? In the generator directlyt if all members are ok, or in a module, that you will be the main author ?

We don't ignore Redis, this is simply nobody w

[2018-04-19 10:59] jdubois commented on #7503
I have planned to do this for a long time, along with Memcached support, but that's like a zillion other things we could do if we had more time on the project... It's just not going to be done soon, unless someone wants to step in.

[2018-04-19 11:05] deepu105 opened #7504 "JDL App generation is broken"
The new JDL app generation support is broken, below are the issues

- [ ] The parser expects, appType, DB and basename to be passed, which is not logical for app generation as it needs to be inferred from the app config
- [ ] The import-jdl sub gen expects a .yo-rc.json when generating applications, it should be skipped
- [ ] The `path` option is not required and might cause issues(especially in J

[2018-04-19 11:12] MathieuAA commented on #7504
Didn't the merged PR cover these?Le 19 avr. 2018 14:05, Deepu K Sasidharan <notifications@github.com> a écrit :The new JDL app generation support is broken, below are the issues
 The parser expects, appType, DB and basename to be passed, which is not logical for app generation as it needs to be inferred from the app config The import-jdl sub gen expects a .yo-rc.json when generating applications,

[2018-04-19 12:03] deepu105 opened #7505 "Needles are broken due to prettier formatting"
Our needle system normally checks for existing content before inserting anything to avoid duplication. Since we started using Prettier some of the needles are inserting duplicate content as it couldn't find the existing content which was modified by prettier.

We need to ensure that we insert content via needles with same formatting as prettier to avoid this issue.

The issue is evident in React a

[2018-04-19 13:08] mraible commented on #6044
Here's the error from above:

[code]

I'm looking into it now.

[2018-04-19 13:14] chrisdns commented on #6044
@mraible @pascalgrimaud I have fixed this issue I am about to PR it soon.

[2018-04-19 14:41] deepu105 commented on #7504
@MathieuAA I don't think so

[2018-04-19 14:42] deepu105 commented on #7504
I was trying this
[code]

[2018-04-19 18:08] MathieuAA commented on #7504
I won't be able to properly look into it until the 24th. But this smells weird.Le 19 avr. 2018 17:42, Deepu K Sasidharan <notifications@github.com> a écrit :I was trying this
application {
  config {
    baseName MyApp
    applicationType monolith
    databaseType sql
    prodDatabaseType mysql
  }
}

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHu

[2018-04-19 19:25] saturnism opened #7507 "Add spring-cloud-kubernetes in the Kubernetes Generator"
##### **Overview of the issue**

In the Kubernetes Generator, add spring-cloud-kubernetes and use it for Discovery.

##### **Motivation for or Use Case**

Better native integration.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in t

[2018-04-20 00:32] gemron opened #7509 "When I use JWT, token can support auto-refresh?"
##### **Overview of the issue**
Jwt contains the expiration time. When the user login to the system for the first time, the expiration time is set to jwt. When the user selects “remember me”, the token will be stored in the browser, but if the token is not automatically refreshed, After some time, the user still needs to enter the user name and password to login.

##### **Motivation for or Use Cas

[2018-04-20 08:28] gaberon opened #7510 "When clicking on sign in the page below scrolls down to the bottom"
##### **Overview of the issue**
When clicking on "sign in" in the navbar the modal opens, but the page below scrolls down to the bottom. When I close the modal the page below doesn't scroll back up.
##### **Motivation for or Use Case**

##### **Reproduce the error**
If you write a long text for the home page and then you click sign in, the home page will scroll down. You won't notice it in the aut

[2018-04-20 13:25] pyotrrtichie commented on #7444
I was experiencing similar issues to @timosntr when using browsersync where the token was null. I created a new gateway to check if I had messed something up and using browser sync i get "Can't read swagger JSON from http://localhost:9000/yds/v2/api-docs". But if I use the server on 8080 I have no issues. Any thoughts on why this might be?

Without using browsersync on my gateway this similarly 's

[2018-04-20 13:38] sunbinkeke opened #7511 "HazelcastInstance could not find other nodes in cluster"
##### **Overview of the issue**

I need help and I'm puzzled
The problem is
HazelcastInstance could not find other nodes in cluster  . Every microservice instance runs a standalone hazelcastinstance. I think there is a better way for hazelcast cluster registion

##### **Motivation for or Use Case**

##### **Reproduce the error**

running several microservice replica in docker swarm model.

##### *

[2018-04-20 14:39] saturnism commented on #7507
Gave this a try w/ @PierreBesson, spring cloud kubernetes is not up to date w/ spring cloud 2 :( this doesn't work at the moment.

[2018-04-20 14:39] #7507 closed

[2018-04-20 16:41] stefanobertini opened #7514 "Max and Min validators for number input fields don't work in Angular5"
##### **Overview of the issue**

Min and Max validators have no effects on numeric input fields in Angular5.
No error is generated inserting bad values.

##### **Reproduce the error**

Create an entity with a numeric field and insert a max and min constraints.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<sum

[2018-04-20 17:09] GuiF007 commented on #7514
Which browser do you use to try ?

[2018-04-20 18:09] ssavageVT opened #7515 "When adding JHipster Entity Audit Generator v3.1.0 to a JHipster application v 4.14.3 turning on Hibernate Level 2 cache throws error on server startup."
##### **Overview of the issue**

When adding JHipster Entity Audit Generator v3.1.0 to a JHipster application v 4.14.3 turning on Hibernate Level 2 cache throws error on server startup.

##### **Motivation for or Use Case**

Client needs to audit all entities with an application using the most current version of JHipster

##### **Reproduce the error**

-Generate a JHipster app, Hibernate Level 2 c

[2018-04-20 18:39] pascalgrimaud commented on #7515
Your issue is related to another project and not about generator-jhipster that's why I'm closing this.

Have a look at https://github.com/hipster-labs/generator-jhipster-entity-audit/issues

[2018-04-20 18:39] #7515 closed

[2018-04-20 19:11] ssavageVT commented on #7515
Sorry about that!  Will submit it over there.  Thanks!

[2018-04-20 19:26] stefanobertini commented on #7514
Sorry, forgot to report the browsers.

Tried on:
- Chrome 66.0.3359.117
- Firefox 52.6
- Safari 11.1 (12605.1.33.1.3)

[2018-04-20 20:10] PierreBesson commented on #7337
Just found a great github repo from IBM with precious info on exactly this issue of integrating spring cloud with k8s and istio : https://github.com/IBM/spring-cloud-kubernetes-with-istio

[2018-04-21 09:42] sunbinkeke commented on #7511
I tried to fix this issue. But https://github.com/hazelcast/hazelcast-eureka is not good enough. it works in v1.0.1 , but the configuration disgusted me...

[2018-04-21 10:04] gomesp opened #7516 "Feature request: Support font-awesome v.5"
##### **Overview of the issue**

JHipster is currently supporting font-awesome 4.7.0. The project has now released version 5.0.10. Could we please add support to it?

Unfortunately it is not a simple change of the package version, as the icon names [have changed slightly](https://fontawesome.com/how-to-use/upgrading-from-4).

This could even trigger another option for the generator, e.g. "What fon

[2018-04-21 10:15] gmarziou commented on #7516
+1
Yes we should upgrade.

Currently we have 63 places where we use icons in our templates.
It's very easy for a user to do a search/replace on `class="fa` to select another variant.
So I'm not sure a new question is really needed.

[2018-04-21 10:35] codeimpact opened #7517 "Potential issue in the the profile_dev.gradle (war folder is pointing to the src folder)"
##### **Overview of the issue**

While creating a war file with the dev profile, the war folder is using
war {
    webAppDirName = 'src/main/webapp/'
}

This directory contains the typescript source files, we are not able to use them in the war build.

##### **Reproduce the error**

yarn run webpack:build
./gradlew -Pdev bootWar

##### **Suggest a Fix**

Change in profile_dev.gradle.ejs

war {

[2018-04-21 10:50] pascalgrimaud commented on #7516
+1 too

[2018-04-21 14:01] deepu105 commented on #7516
Will you consider doing a PR

On Sat, 21 Apr 2018, 12:51 pm Pascal Grimaud, <notifications@github.com>
wrote:

[2018-04-21 14:25] DanielFran commented on #7514
Did not found any open ticket for this issue, only with messages missing for Min/Max validators in v4: https://github.com/jhipster/generator-jhipster/issues/7305

[2018-04-21 15:32] bluecitymoon opened #7518 "Token can't be saved to the local storage when the expires_at is NaN"
![image](https://user-images.githubusercontent.com/248692/39085850-80c5b640-45bb-11e8-900f-9eba63e545c1.png)

I changed oauth_client_details.access_token_validaty to -1 , yep I know it's a little bit weird. But after doing that, the response string which contains a NaN varible can't be saved to the local storage. That's pretty fun so that I want to share with you guys.

Using Jhipster v 4.9.0 (las

[2018-04-21 15:38] bluecitymoon commented on #7518
This is the one working...
![image](https://user-images.githubusercontent.com/248692/39085940-14293ed8-45bd-11e8-83be-c363e082a703.png)
![image](https://user-images.githubusercontent.com/248692/39085943-250edeba-45bd-11e8-8041-915f39b6f045.png)

[2018-04-21 15:44] gmarziou commented on #7518
Thanks for sharing but as you said, this option is no longer supported so I'm closing the issue.

[2018-04-21 15:44] #7518 closed

[2018-04-21 17:39] pavankjadda commented on #7345
@deepu105 @PierreBesson I tested new pull request just now and  it fixed the issue. But there is another problem. Here is what I did

1. I created folder **kubernetes** and ran `jhipster kubernetes` command
2. It created another folder called **k8s** and left kubernetes folder empty
[code]
I don't think it's a right idea to create another folder by leaving kubernetes folder empty.

[2018-04-21 21:50] PierreBesson commented on #7345
Oh I thought this weird issue was fixed. Maybe the PR is based on an older version that still had the bug. Let me have a look next week.

[2018-04-22 06:09] gomesp commented on #7516
@deepu105 if you give me 1 week I can do a PR. I imagine that the agreement is to simply replace the package with v.5 and test the generator again, right?

I will keep the icon set with the solid family (fas or fa) to avoid a lot of regression testing. I may have change the css class for any icons that are now under the "font-awesome brands" (e.g. github, etc).

[2018-04-22 09:26] jdubois commented on #7516
Yes it should not be very hard but that's quite time consuming to test... oh and please have a look at Angular and React - for this part it should be very similar.
Anyway big big +1 if you do that PR!
(At work we are still with v4 and I'd love to have some of the new v5 icons)

[2018-04-22 10:08] duderoot commented on #6735
@deepu105 unfortunately the problem is not solved and still exist also after an upgrade on version 5.0.0-beta.0. @agaspardcilia I just updated my project with the version [v5.0.0-beta.0 here](https://github.com/duderoot/jhipster6735/tree/JH_V5.0.0-beta.0). One can run the project and see that the error still persist. If I have omitted something pls let me know, but in my opinion we need to reopen

[2018-04-22 10:32] deepu105 commented on #6735
@duderoot could you please post a screenshot of what you see

[2018-04-22 12:11] duderoot commented on #6735
@deepu105 of course: the problem is that the select should show only id's which don't have a sponsorAgreement.
![grafik](https://user-images.githubusercontent.com/4954023/39094629-cb4a5208-4632-11e8-9de4-ad15d192f2c8.png)

[2018-04-22 13:53] gomesp commented on #7516
I just opened the pull request https://github.com/jhipster/generator-jhipster/pull/7519.

I decided to open it sooner so that you guys could give feedback faster. I'm not sure if my approach for including the SVG/JS icon set is according to guidelines. If not I can change it and resubmit the PR.

@jdubois I only worked in the angular codebase. But that was mostly because I could not find any insta

[2018-04-22 14:28] PierreBesson commented on #7511
Please follow our guidelines and paste the content of the `jhipster info` command for your app. We can't work if we don't know which options you chose ! Please also add some info on how you are running your apps. For now I'm temporarily closing your issue waiting for you to add the missing information.

[2018-04-22 14:28] #7511 closed

[2018-04-22 14:29] PierreBesson commented on #7511
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-04-22 15:47] Dufgui commented on #7514
Hello,

according to this SOF https://stackoverflow.com/questions/39847862/min-max-validator-in-angular-2-final/
Angular does n't provide a min max validator. So 2 choices:

1. implement our validator
2. use a lib like https://github.com/yuyang041060120/ng2-validation

Personally I prefere the first option. Core team, what to you prefere ?

[2018-04-22 16:11] duderoot commented on #6735
I try to make a recap because the issue is getting a little to long. The app it should use _jpaMetamodelFiltering_  Using this option the frontend should make a call on the backend  over `/api/sponsors?sponsorAgreementId.specified=false`. At the moment the generated frontend is calling `/api/sponsors?filter=sponsoragreement-is-null` which is not filtering anything at all. So a first step in order

[2018-04-22 19:36] Dufgui commented on #7497
I reproduce the error with current master (a023db535af263f5e0c0bf3c53d5f8c01218566d), i will take a look to find a fix.

[2018-04-22 20:40] jdubois commented on #7516
Oh I know the Angular codebase much better - maybe it's not included in React.

[2018-04-22 21:33] Dufgui commented on #7497
ok it's came from a new auto config from spring boot :
https://github.com/spring-projects/spring-boot/commits/master/spring-boot-project/spring-boot-actuator-autoconfigure/src/main/java/org/springframework/boot/actuate/autoconfigure/metrics/jdbc/HikariDataSourceMetricsPostProcessor.java

I am asking myself if must migrate to meterRegistry instead of metricRegistry.  Maybe I don't well understand b

[2018-04-22 21:39] farrault commented on #7281
In order to discuss on them, here is a git repository where I made the modifications, that, I think, should be applied to the OAuth2 authentificationType
https://github.com/farrault/jhipster_oauth2_microservice/pull/1/files

Simplifying the configuration being just one of them

I'm very opened to discuss the different points on it

[2018-04-22 21:41] farrault commented on #6929
I have incorporated most of the point discussed here on this repository :
https://github.com/farrault/jhipster_oauth2_microservice/pull/1/files

I'm very opened to discuss with you the different points.

[2018-04-23 02:14] ggotti opened #7520 "AWS Subgenerator returns 404"
##### **Overview of the issue**
When the AWS Subgenerator successfully deploys an Application to AWS, the html page screen appears, but all services return a 404.

The issue is the WAR generated in the new JHipster 5.0x version does not have the [necessary SpringBootServletInitializer code](https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#howto-create-a-deployable-war

[2018-04-23 06:33] jdubois commented on #7520
Ok that's my fault - I had the idea that WARs were not used anymore, and that's still the case here. We should put the file back, it doesn't cost much and solves the issue.

[2018-04-23 06:37] jdubois commented on #7497
Yes we'll migrate to micrometer but in 6-12 months as we need to re code everything for it. And I would like to wait until it matures a bit.

[2018-04-23 07:04] Dufgui commented on #7497
Ok so I will try a quick fix
Le lun. 23 avr. 2018 à 08:37, Julien Dubois <notifications@github.com> a
écrit :

[2018-04-23 07:44] Pasha-gharibi opened #7521 "UI Comboboxes call entity.query() which returns first Paginated Records not all!"
I generate UI by Angular 1.5.3 .
When I refer to another entity, referencing combobox  doesn't shows all data.
Because it calls entity.query() method and in back-end it's endpoint  returns` Page<EntityDTO>` , so I see just first paginated data from database.

I fix it manually. but there should be a paginated combobox or another method returning all data.

[2018-04-23 08:38] deepu105 commented on #7521
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-04-23 08:38] #7521 closed

[2018-04-23 09:01] Dufgui commented on #7497
I can add an integration/Travis test if you want ?

[2018-04-23 14:06] Dufgui commented on #7417
It's really quick so I do it.

[2018-04-23 14:41] srinivasa-vasu commented on #7345
@pavankjadda That is intended. No need to create a kubernetes folder. You can run the k8s sub generator from any of the project's folder. Subgenerator will create k8s folder and generate all artifacts within it. Even when you generate the artifacts for multi projects, it will be properly grouped under k8s folder.

[2018-04-23 15:01] Dufgui commented on #7305
Since you migrate to angular 5, the message no more appear because validator min max don"t work. I test is with the current master of 21 points. See #7514.
I wait core team return to choice a way and do a PR.

[2018-04-23 15:38] deepu105 commented on #7438
@LoganDark supporting such trivial personal preferences are definitely not worth our time, we have much more important stuff to do, so no this will not be done

[2018-04-23 15:46] PierreBesson commented on #7438
@LoganDark Please don't make demands from the team. Remember that we work for free.

[2018-04-23 16:31] deepu105 commented on #7516
@agaspardcilia @gomesp FA now has an official binding for React so maybe we could switch to that as well

[2018-04-23 16:46] JavaPantry opened #7525 "Compilation Error in generated code for xxxxResource.java"
##### **Overview of the issue**

Compilation Error in generated code for xxxxResource.java

##### **Motivation for or Use Case**

Project will not compile

##### **Reproduce the error**

- Download demo jdl from jdl-studio home page  https://start.jhipster.tech/jdl-studio
- run `Monolithic>jhipster import-jdl ..\HR-jdl.jh`
- build project

[code]

##### **JHipster Version(s)**

jHipster 5.0.0-beta

[2018-04-23 17:05] LoganDark commented on #7438
I'm not making demands, I'm just saying that supporting that "trivial personal preference" is important to a lot of people. I understand you don't care.

[2018-04-23 17:31] JavaPantry commented on #7525
Could you please give little more explanation. I really don't understand what you meant.

[2018-04-23 17:35] ruddell commented on #7525
You have the following line in your JDL:

    service Location, Department, Task, JobHistory with serviceImpl
Replace it with

    service * with serviceImpl

[2018-04-23 17:41] JavaPantry commented on #7525
I had `service all with serviceImpl except Employee, Job`. Now I understood.
Thank you.

[2018-04-23 20:33] jdubois commented on #7438
No, it's again the project policies to do trivial things - it's more complex for users to understand the JHipster configuration than do it themselves.
See https://www.jhipster.tech/policies/
And they are voted by the team, so unless there's another vote we can't change this.

[2018-04-23 20:48] LoganDark commented on #7438
Sorry for wasting your time. I thought this was angular-cli.

[2018-04-23 20:53] PierreBesson commented on #7337
@saturnism Although the official spring cloud kubernetes is not compatible with Spring Boot 2, this third party lib is : https://github.com/DTForce/kubernetes-discovery-spring and it might be just what we need...

[2018-04-23 20:54] JulioJu commented on #7438
@LoganDark
For TypeScript, css and scss, it's easy to customize it. For Angular, simply customize https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/.prettierrc.ejs and https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/.prettierrc.ejs before generate your application. Then, to use your own JHipster customized,

[2018-04-23 20:55] jdubois commented on #7438
Sorry we are fully community-driven, but follow some rules that are basically copied on the ASF - it's closer to us than Google.
I think the "no trivial configuration" rule is good, but discussing it is not a waste of time.

[2018-04-23 20:57] LoganDark commented on #7438
Just because you don't care much about indentation doesn't mean nobody else does. It definitely doesn't mean it doesn't matter at all.

If you're "community driven", then why don't you listen to the community? :p

[2018-04-23 22:34] gomesp commented on #7516
@deepu105 I will have a look at the react codebase later this week to see what's involved.

[2018-04-24 05:34] jdubois commented on #7438
No, you don't understand, please have a look at the link above on our policies

[2018-04-24 11:00] agilob commented on #6391
@rampantlion103 I just migrated my project generated in November 2017 to Java 9.

You need the following changes:

1. In the main build.gradle file add this dependency:
    // dependencies for >java8 compatibility
    compile 'javax.xml.bind:jaxb-api:2.3.0'

2. Go to gradpe.properties and upgrade spring boot version to at least `spring_boot_version=2.0.1.RELEASE` and hibernate to the latest versio

[2018-04-24 11:09] gmarziou commented on #6391
I tried JH 5 beta on JDK 8, 9 and 10 with maven and it worked.

@agilob could you try to generate a gradle project with JH5 and verified that all you points are covered?

[2018-04-24 12:28] deepu105 commented on #7438
I'm locking this thread as I don't see any use of further discussion on this.

Also "community-driven" means something will be considered when the majority of the community wants it not when few people want it. Also, community-driven doesn't imply community decided. As project maintainers we still decide what will be done or not based whats good for the project and majority of the users.

[2018-04-24 12:31] deepu105 commented on #7438
@LoganDark I also suggest you consider changing your attitude when expecting something from an OSS project, where people work for free giving up their personal time for the benefit of strangers, so what we at least expect is respect for what we do.

[2018-04-24 12:55] agilob commented on #6391
How can I install JH5? I just run `yarn global upgrade` and it found `1.4.4` as the latest version.

[2018-04-24 13:55] gmarziou commented on #6391
See https://www.jhipster.tech/2018/04/03/jhipster-release-5.0.0-beta.0.html : `yarn global add generator-jhipster@beta`

[2018-04-24 14:01] ruddell opened #7526 "Entity with string "status" field breaks React reducers"
##### **Overview of the issue**
If an entity contains a `string` field named `status`, webpack compilation of the reducer fails with an error:

[code]

##### **Motivation for or Use Case**
This should work out of the box

##### **Reproduce the error**
Generate a React project and the entity with the following JDL:
[code]

##### **Suggest a Fix**
Not sure why this happens, it doesn't affect entitie

[2018-04-24 14:17] gmarziou commented on #6391
Sorry for your trouble.

The easiest would have been to look at sample project: https://github.com/jhipster/jhipster-sample-app-gradle

See https://www.jhipster.tech/2018/04/03/jhipster-release-5.0.0-beta.0.html :
`yarn global add generator-jhipster@beta`

The upgrade generator does not work as-is from 4 to 5 due to npm beta channel, to work around it I had to edit one line which I don't recommend

[2018-04-24 14:40] agilob commented on #6391
I tried jhipster upgrade a couple of times before on different projects and each time I got tonnes of conflicts that it wasn't even worth investigating that. I think it's much faster and comfortable to do it step by step manually than solve conflicts generated by `jhipster upgrade`. This is due to JH being very strongly opinionated, eg. I dont use liquibase, I dont need 75% of generated tests on e

[2018-04-24 14:52] agaspardcilia commented on #7526
It looks like the the http status is stored as `status` in an `AxiosPromise`. It creates a type error between the entity's `status` that is a string and the promise's `status` that is a number.

[2018-04-24 14:55] GuyJackson opened #7527 "Log file not being populated"
##### **Overview of the issue**

Log file does not get populated when the example "production configuration" is uncommented in logback-spring.xml.

If I add re-introduce:

`<root level="${logging.level.root}"> <appender-ref ref="ASYNC"/> </root>`

...which looks like it was removed [here](https://github.com/jhipster/generator-jhipster/pull/6726), the log file gets populated.

@PierreBesson mention

[2018-04-24 15:16] PierreBesson commented on #7527
@GuyJackson Thank you for following through with the issue. Indeed this is not expected at all, I just did a quick check and I confirm the issue.

[2018-04-24 15:30] PierreBesson commented on #7345
@srinivasa-vasu Oh I see your point but this is not at all how we intended it to work originally. This goes back to when we were doing the initial design of the docker-compose subgen in 2016 with @jdubois and @wmarques.

The idea is that files are generated in the current directory just like it does for "normal" yeoman generators. This is what we have always done for docker-compose files. The user

[2018-04-24 15:37] gmarziou commented on #6391
This is really strange, do you remember if you pushed jhipster_upgrade branch to your git server?

[2018-04-24 15:43] agaspardcilia commented on #7526
After looking at Axios source code, I found what was causing this in `http.js`:
[code]
All this fields can't be used without creating types errors with our current implementation.
@deepu105 What's the best way to deal with this ?

[2018-04-24 15:49] deepu105 commented on #7526
For now, I guess we can add them as reserved keywords like we do for
Angular. But what I dont understand is how is the response holding the
entity, isnt it in body?

May be we can figure out some trick when typing these

Thanks & Regards,
Deepu

On Tue, Apr 24, 2018 at 5:44 PM Alexandre GC. <notifications@github.com>
wrote:

[2018-04-24 15:54] agaspardcilia commented on #7526
Yes, it supposed to be stored in `response.data`. We could also remove `ICrudGetAction<IFoo>` and `Promise<IFoo>` from the reducer action as it doesn't seem to break anything while we try to find a better solution to this problem. wdyt ?

[2018-04-24 16:10] deepu105 commented on #7526
can you make a PR with your suggestion, let me take a look

Thanks & Regards,
Deepu

On Tue, Apr 24, 2018 at 5:54 PM Alexandre GC. <notifications@github.com>
wrote:

[2018-04-24 16:29] agilob commented on #6391
I have this branch locally, as you can see, I tried upgrading a few times, each time I ended up doing `git merge --abort`

![screenshot_20180424_172558](https://user-images.githubusercontent.com/2544251/39200738-e1c81d40-47e4-11e8-96d6-6c484aa466b0.png)

[2018-04-24 16:35] gmarziou commented on #6391
OK, I'll do more tests in few weeks. Maybe there's a problem with the git merge strategy used by the upgrade generator.

[2018-04-24 16:45] #7527 closed

[2018-04-24 19:53] Dufgui commented on #7514
@deepu105 I don't know for tree but the lib alone take 1.3 Mo but with their dep it's close to 40 Mo.... so NO ! ;)
I start a dev to add min max validator in ng jhipster

[2018-04-24 22:04] Dufgui commented on #7514
validator done in ng-jhipster. now I test it on generator side

[2018-04-25 00:10] gomesp commented on #7516
@agaspardcilia By all means go ahead. I am new to React, so I'd have to spend some time exploring until I'd do something useful. Tag me on the PR so I can read what you've done and learn something too. 👍

[2018-04-25 07:13] agaspardcilia commented on #7516
@gomesp Alright then.

[2018-04-25 09:02] #7345 closed

[2018-04-25 09:03] PierreBesson commented on #7345
For now I've merged @srinivasa-vasu's PR. I will fix the `k8s` folder issue in a future PR. Assuming we all agree on this of course.

[2018-04-25 09:30] agaspardcilia opened #7534 "Can't fetch profile info in React client"
##### **Overview of the issue**

#7050 Removed an endpoint that was providing the client some profile information.

##### **Motivation for or Use Case**

Profile aren't working anymore with React.

##### **Reproduce the error**

Create any kind of React application.

##### **Related issues**

None.

##### **Suggest a Fix**

Just call the new endpoint. We might need to add some more data in the new

[2018-04-25 11:37] PierreBesson commented on #7534
It was not ! It's just that the trainees are working too fast !
@agaspardcilia You should now get profile data from the /info endpoint. Make sure that you upgrade the jhipster lib and you should be able to test it.
Otherwise I can do it.

[2018-04-25 13:42] agaspardcilia commented on #7534
@PierreBesson Are you sure it's working ?
The only thing answered by `http://localhost:8080/management/info` is:
[code]
Isn't that endpoint supposed to return something like:
[code]
?
The ribbon is not being displayed in Angular too.

[2018-04-25 13:43] PierreBesson commented on #7534
@agaspardcilia Please update your JHipster lib to the latest master and make sur that your pom is using it.

[2018-04-25 13:45] agaspardcilia commented on #7534
Oh right, I forgot about that. Thank you.

[2018-04-25 13:45] PierreBesson commented on #7534
It will get easier once @jdubois will do a release of the lib :smiley:.

[2018-04-25 15:09] danielmenezesbr opened #7537 "Constraint name with 31 characters - Oracle"
##### **Overview of the issue**

JHipster generates constraint name with 31 characters on Oracle.
[](url)
Although the [generator says it will be truncate constraint name to 30 characters](https://gist.github.com/danielmenezesbr/c4839f6db0b9e608da745c784f50463e#file-jhispter_log-L605), it generates a constraint name with [31 characters](https://github.com/danielmenezesbr/jhipster_oracle_limits_and

[2018-04-25 18:42] tchlyah commented on #7095
Any one can help? We have serious production issues because of that, we even loose our logs if there is a small disconnection from Consul!

[2018-04-25 20:52] agilob commented on #6391
Looks like everything is ok with the new JH5 (beta), I just had a few more changes due to my setup, I needed a task `bootJar` you don't for plain JH.

[2018-04-25 22:46] PierreBesson commented on #7095
@tchlyah I suggest that you remove the @RefreshScope annotation. I think you encounter problems as Spring cloud consul auto-reload the application context when it detect config changes and it seems that small downtimes are causing the app to receive the event for you.
Removing this annotation is not a big deal for me you will just need to restart the app to take configuration changes into account.

[2018-04-26 00:54] srinivasa-vasu commented on #7345
@PierreBesson just few thoughts - let's say you run the sub-generator at one shot for multiple apps  (app1, app2,..appn) from within a specific project folder (lets say app1), then all the manifests for all apps will be generated under app1/kubernetes/.. (given, kubernetes folder is created under app1). I thought it wld be better to actually create the folder automatically and group it under the r

[2018-04-26 02:54] majiajue opened #7539 "Can't read swagger JSON from http://localhost:9000/app/v2/api-docs"
##### **Overview of the issue**
When I create MicroService app and gateway,registry,uaa, I can see gateway api and uaa api,

![image](https://user-images.githubusercontent.com/128642/39282977-65474344-493e-11e8-8e5b-88020952d717.png)
![image](https://user-images.githubusercontent.com/128642/39283145-6d3fe8c0-493f-11e8-8ca4-09bb8391fd11.png)
when select app api
![image](https://user-images.githubus

[2018-04-26 06:17] Yangzhedi opened #7540 "about code-splitting in the React project"
I'm afraid we don’t have code-splitting feature in the project.

I hope it can use [react-loadable](https://github.com/jamiebuilds/react-loadable) to make code splitting simple

there is the example

I make the Register Component with dynamic imports
[code]

![first](http://cdn.blog.yangzhedi.com/jhipster/jhipster.png)

![second](http://cdn.blog.yangzhedi.com/jhipster/jhipster2.jpg)

[2018-04-26 07:42] #7497 closed

[2018-04-26 08:04] PierreBesson commented on #7345
I totally see your point but whatever we decide to do we have to be consistent.
Also there are subtle things that happen here, for exemple yeoman generators (including the subgen) will generate a .yo-rc.json file and if you run a subgen in an existing app folder it will append things to the existing .yo-rc. This is why people should not generate apps if there is any .yo-rc in a parent folder as ye

[2018-04-26 09:01] micobarac opened #7542 "Problem with i18n in JHipster webapp served on localhost:8080"
##### **Overview of the issue**

After logging in to localhost:8080, menu items are missing labels, due to language file not being found

##### **Motivation for or Use Case**

I generated a new Cassandra project with latest JHipster application. I chose serbian language to be native and english to be the alternative language. When I try to login to the generated webapp on localhost:8080, the follo

[2018-04-26 09:14] deepu105 commented on #7542
@micobarac please follow our issue template and fill in the output of `jhipster info` you say "Original configuration, no alterations" but you also say you choose serbian language etc, thats not the default so we cant help you without your config. Normally I would close such issues but i'm making an exception so that you could update the details

[2018-04-26 09:53] micobarac commented on #7542
@deepu105 , instead of closing issues, you should be more supportive, I guess. If I choose languages during JHipster project generation, I am not altering JHipster source code, I am just following the proposed template. So, I have an issue and it should be investigated.

[2018-04-26 09:58] micobarac commented on #7542
It looks like there is a problem with Angular app, not setting the language prefix, thus trying to get language file with `undefined` name.

[2018-04-26 10:11] tchlyah commented on #7095
I've tested both with and without @RefreshScope, it doesn't change anything!
I'm not aware of such property, it will be helpful if it exists

[2018-04-26 10:32] PierreBesson commented on #7095
What you are looking for is documented here : https://github.com/spring-cloud/spring-cloud-consul/blob/master/docs/src/main/asciidoc/spring-cloud-consul.adoc#config-watch
Try setting this: `spring.cloud.consul.config.watch.enabled=false`.
If this fixes your problem, pease do a PR.

I think this is a newer feature of spring cloud consul (enabled by default !) so this might explain why we didn't hav

[2018-04-26 10:42] maznag commented on #7516
here is a PR to fix sort icon names for fontawesome v5 https://github.com/jhipster/ng-jhipster/pull/70

fa-sort-up and fa-sort-down instead of fa-sort-asc and fa-sort-desc

[2018-04-26 11:55] pmverma commented on #7542
I tried to reproduce the error, but I could not able. Everything works fine for me.

Check my jhipster info

[code]

[2018-04-26 13:08] micobarac commented on #7542
I cleared browser's cache but the problem remains.

[2018-04-26 13:48] mraible commented on #7281
@farrault This will progress a lot faster if you create a PR with your changes in it. That way, we can make sure all the existing tests pass. Maybe you could even add some new ones that prove your changes make things better?

[2018-04-26 15:46] yuniel-acosta opened #7543 "Neo4j"
I need to know if in the future there will be the possibility of using Neo4j in JHipster.

[2018-04-26 16:25] pascalgrimaud commented on #7543
Look at the old ticket: https://github.com/jhipster/generator-jhipster/issues?utf8=%E2%9C%93&q=neo4j
There is an old repo https://github.com/jhipster/jhipster-neo4j-app too

But as already discussed, we won't support it.

[2018-04-26 16:25] #7543 closed

[2018-04-26 17:16] jdubois commented on #7438
Hi everyone, @LoganDark I'm sorry but I was on holidays (and I still am), and I didn't have access to my computer, so I answered you quickly, hoping that would read the link.

- We are using 4-spaces indentation because of [Policy 1 and 3](https://www.jhipster.tech/policies/). I understand this is different in Javascript land than in Java land, but this has been discussed before, and people having

[2018-04-26 20:14] agilob commented on #6391
Actually, I started a project generated by JH5 and it doesnt start with > java 8, it's missing some dependencies:

[code]

I assume you do not want to run it with java 9 or 10, as there is still this assert check in gradle.build:
`assert System.properties['java.specification.version'] == '1.8'`.

but just in case, if you want to make it J9 or J10 ready just apply step 1 and 6 (also you need to upg

[2018-04-26 22:43] PierreBesson commented on #6391
As I thought when first seeing the error message this seems to be linked to the removal or JAXB from java 9 onward : https://stackoverflow.com/questions/43574426/how-to-resolve-java-lang-noclassdeffounderror-javax-xml-bind-jaxbexception-in-j

[2018-04-27 07:28] micobarac commented on #7542
I'm sorry that you cannot reproduce the error. I see in your config file that you are using `PostgreSQL`, I am using `Cassandra`. The problem I encounter shows immediately after I login to generated frontend, as the app is trying to load `undefined.json` i18n file, instead of `sr.json` or `en.json`. Refresh makes the problem go away.

[2018-04-27 07:39] deepu105 commented on #7542
@micobarac do you now understand why we ask for those details? Please follow our guidelines next time so that people don't waste their time when trying to help you. This is annoying behaviour TBH

[2018-04-27 07:42] micobarac commented on #7542
Yes, very anoying...

[2018-04-27 07:54] deepu105 commented on #7542
Why did you close the issue, is it solved for you?

[2018-04-27 08:11] gmarziou commented on #6391
Yes indeed but it was supposed to be fixed by step 1.

@agilob instructions are correct but they were made for an older version of JH, now the annotation processor classpath is handled differently,I fixed it this way:

    compile 'javax.xml.bind:jaxb-api:2.3.0'
    annotationProcessor 'javax.xml.bind:jaxb-api:2.3.0'

So now the error is about anotation

[code]

[2018-04-27 08:25] agilob commented on #6391
@gmarziou yes, that's correct, my steps were supposed to help with manual upgrade for people trying to do it now - not waiting for JH to support it.

[2018-04-27 08:26] micobarac commented on #7542
I closed this issue because I cannot debug and you cannot reproduce, so, let's not waste any more time on this here.

[2018-04-27 15:43] Kelvin-Meyer commented on #7539
I got the same problem:
Addions:
**Environment and tools**
This also seems to affect:
 java version "1.8.0_171"
node v9.11.1|
npm v 5.6.0 and 6.0.0
yeoman 2.0.2
yarn 1.6.0
docker 18.003.1-ce build 9ee9f40

**Browsers and Operation Sytem**
Does not seem to matter
Latest: Chorme / Firefox / IE
Windows 10 64 bit

[2018-04-27 18:49] deepu105 commented on #6391
May be we can follow the same approach taken for node. Support latest
stable/lts version by default and may be provide a flag to fallback to jdk8
as a special case since many people would still be using it?

On Fri, 27 Apr 2018, 6:43 pm Matt Raible, <notifications@github.com> wrote:

[2018-04-27 19:10] GuiF007 commented on #7537
I got this problem too as I'm working with Oracle right now ! Painful when Oracle refuses the changelog :(

[2018-04-27 19:37] pascalgrimaud commented on #7537
Strange ! According to this code, it shouldn't happen: https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base.js#L1949-L1963

Here some recent ticket / PR, so you can have a look:
- https://github.com/jhipster/generator-jhipster/issues/7070
- https://github.com/jhipster/generator-jhipster/pull/7323

[2018-04-27 19:53] ruddell commented on #7537
@pascalgrimaud It truncates it, but there's one too many characters.  That also explains that weird failing test https://github.com/jhipster/generator-jhipster/pull/7489 because `test_many_rel_with_pagination_a_test_many_rel_with_pagination__id` is 65 and mysql's limit is 64

[2018-04-27 19:56] pascalgrimaud commented on #7537
lol !!! I spend 1 night on this, and I thought it was because the entity name was too long !
I will become crazy with this :D

[2018-04-27 20:08] GuiF007 commented on #7537
OK, I found the problem...

https://github.com/jhipster/generator-jhipster/blob/5b5d4ff8e1efbab389bf4741c157f6d75ad97c75/generators/generator-base.js
[code]
EntityTable.length with noSnakeCase : 14
RelationTable.length wih noSnakeCase : 13
return 14+1+13+3 = 31 !

And even worse with Snakecase I think.

[2018-04-27 20:10] pascalgrimaud commented on #7537
Hope, this PR should fix this: https://github.com/jhipster/generator-jhipster/pull/7545

[2018-04-27 20:14] GuiF007 commented on #7537
Well, It doesn't for sure if noSnakeCase is not false...

_.snakeCase('fooBar');
// => 'foo_bar'

6 characters become 7 ! (But I did not check all the code, maybe my case is not applicable here)

[2018-04-27 22:15] #7537 closed

[2018-04-27 22:47] ruddell commented on #7539
Are you sure you gave enough time for the application to start, register with the JHipster registry, then for the gateway to refresh the routes?  You can verify that the ribbon path is available by looking at http://localhost:9000/#/admin/gateway  I can't reproduce the issue you are having.  But I do see https://github.com/jhipster/generator-jhipster/issues/7185 which would block this from working

[2018-04-27 23:47] ruddell commented on #7185
This issue also affects OAuth2 apps when using the webpack proxy

The issue here is that requests are using the host header which uses port 9060 instead of port 9000.
 - One fix that seems to work for both ports 8080 and 9000 is to add `headers: { host: 'localhost:9000' }` to the webpack.dev.js proxy configuration (this overrides the `host` header).  I'm not sure if this would have adverse effects

[2018-04-28 00:04] ruddell commented on #7539
Looking at this again, you don't have any entities so the microservice path has not been added to your `yarn` proxy config.  You can add this manually or generate an entity which will add the microservice path for you [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/react/webpack/webpack.dev.js.ejs#L64).

There's no way for the gateway to know about mic

[2018-04-28 00:04] #7539 closed

[2018-04-28 07:43] eruixma commented on #7444
I might find the root cause for this issue, it is because a typo in `webapp/swagger-ui/index.html`
`function addApiKeyAuthorization() {
                    var authToken = JSON.parse(localStorage.getItem("jhi-authenticationtoken") || sessionStorage.getItem("jhi-authenticationtoken"));
                    var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("Authorization", "Bearer " + authToken,

[2018-04-28 08:30] pascalgrimaud commented on #7117
I'm adding Gatling to the list: https://www.jhipster.tech/running-tests/

[2018-04-28 09:03] pascalgrimaud commented on #7503
No more comment since the last 7 days. So let close this.
If someone want to add the support, just tell it in this ticket and we will discuss about it.

[2018-04-28 09:03] #7503 closed

[2018-04-28 10:27] deepu105 commented on #7444
Strange it was working fine, as far as I remember anyway can you do a PR to
fix

On Sat, 28 Apr 2018, 9:43 am Ruixin, <notifications@github.com> wrote:

[2018-04-28 10:42] yelhouti commented on #7333
could this be ported back to 4.X? thanks

[2018-04-28 10:54] DanielFran commented on #7503
I would love to have it but did not have time yet to investigate what is needed...

[2018-04-28 13:45] ruddell commented on #7542
I can reliably reproduce by refreshing while on the Swagger docs http://localhost:8080/#/admin/docs.  It requests the default language, attempts to request an `undefined` language, then re-requests the default language.  The only way to notice it happening is to see it in the dev console.

![screen shot 2018-04-28 at 9 45 17 am](https://user-images.githubusercontent.com/4294623/39397164-e60dee48-4

[2018-04-28 15:38] haresh333 commented on #6306
What if you use TypeORM with MongoDB? With that u can generate embedded entities and interface with MongoDB. With probably minimal change the embeded document support can be implemented. On Angualr you many not have to do many changes

[2018-04-28 17:17] jdubois commented on #7503
I'll do a special stream for Redis and Memcached, probably with my trainees, but not until a few months as we have far too much work at the moment

[2018-04-29 13:00] subhimaraabeh opened #7547 "SSL configuration: key tool alias name does not accept capital letters"
##### **Overview of the issue**
Enhancement
Jhipster generate ssl keytool command with alias name same as project name however keytool does not accept capital letters in name.

##### **Motivation for or Use Case**

By solving this in the generator we can save users time

##### **Reproduce the error**

try to generate self-signed certificate with alias name contains capital letters

##### **Related

[2018-04-29 14:43] janierj commented on #6916
Me too encountered this issue with a newly generated app with React in 5.0.0-beta.0
No matters the remember me selection

Any Swagger request is setting
`--header 'Authorization: Bearer null'`

`
yo-rc.json
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "...",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "5.0.0-beta.0",
    "baseName": "bluparty",
    "reactiv

[2018-04-29 15:16] PierreBesson commented on #7547
Can you please give the exact line with the command which you think is wrong. Is it in the commented out section of the application.yml file ?

[2018-04-30 06:49] subhimaraabeh commented on #7547
Thanks Guys for the very fast response appreciated!!
@ruddell Great Job

[2018-04-30 09:12] #7185 closed

[2018-04-30 10:10] jdubois commented on #7510
I confirm your issue, and as we don't do anything specific here, this seems to caused by this issue on ng-bootstrap: https://github.com/ng-bootstrap/ng-bootstrap/issues/1776

I'm closing this as the issue is not on our side, but unfortunately the ticket as also been closed on the ng-bootrap side - @gaberon could you comment there, maybe giving them a sample as they requested, so they could fix it?

[2018-04-30 10:10] #7510 closed

[2018-04-30 10:26] jdubois commented on #7509
No it doesn't support auto-refresh, for this you need something like OAuth2. Or, indeed, use the "remember me" feature, which does something a bit like the OAuth2 refresh token (but less secured).
The token is supposed to last several days, so that shouldn't be an issue.

This is why OAuth2 would be a more secure solution (but it's also far more complex to set up).

[2018-04-30 10:26] #7509 closed

[2018-04-30 10:39] javasparx commented on #3575
@cbornet, I also added `source.registerCorsConfiguration("/auth/login/**", config);`. Without it default login process did not work.

[code]

[2018-04-30 11:39] jdubois commented on #7520
Thanks @ggotti this works now perfectly, following commit https://github.com/jhipster/generator-jhipster/commit/0269dae888b0487305129d4a5fdcb00b9dae3864

[2018-04-30 11:39] #7520 closed

[2018-04-30 11:41] jdubois commented on #7409
Thanks @anandsudhir - this is probably because the Elasticsearch driver uses Netty

[2018-04-30 11:41] #7409 closed

[2018-04-30 11:42] jdubois commented on #7442
Closing as nobody works on this - we should always have Sonar in mind, and only create a specific ticket if someone is going to work on this specifically. Unfortunately nobody does :-(

[2018-04-30 11:42] #7442 closed

[2018-04-30 14:17] cbornet commented on #3575
I don’t know. If the request is blocked by the Cors, then probably. Can you open another issue with all the details?

[2018-04-30 14:39] jdubois commented on #7206
As there has been no activity on this for one month, and basically we don't have the time, I'm closing this.
It would be very interesting to study this topic, but there is just not enough time to do everything.

[2018-04-30 14:39] #7206 closed

[2018-04-30 14:44] jdubois commented on #7272
I'm closing this as:

- For NPM it's currently quite stable, and I just updated Insight (which was causing a security warning)
- For Angular I don't think we are very late behind
- Everything else is up to date

[2018-04-30 14:44] #7272 closed

[2018-04-30 14:46] jdubois commented on #6044
For me this is all done, at least the development stream is done and if there are some bugs or missing features they should be some specific tickets, as otherwise it's impossible to follow here.
@deepu105 are you OK to close this?

[2018-04-30 14:47] #7534 closed

[2018-04-30 15:07] erikkemperman commented on #7272
Except infinispan! (Sorry to repeat myself from another thread)

[2018-04-30 15:12] jdubois commented on #7272
Oh yes but it's used only by a tiny tiny portion of users so we shouldn't focus on it.

[2018-04-30 15:32] jdubois commented on #7516
Closing as this is done for Angular and React!

[2018-04-30 15:32] #7516 closed

[2018-04-30 15:53] mraible opened #7551 "Generator doesn't work with Node 10"
I know we only support Node.js LTS, but we might want to look into supporting Node 10. Currently, the following error happens when you try to use Node 10.

[code]

[2018-04-30 16:01] jdubois commented on #7551
Yes I've been playing with it in the last few days, so let me give some insights:

- You will always get the warning, and that's not due to JHipster, so we can ignore it for the moment (they'll fix it on a later Node 10 release, hopefully).
- You can make it work (I had it working), but it's very falky when you do `yarn link`. It was broken on my machine, then it worked for a few hours, and now it

[2018-04-30 16:10] jdubois commented on #7505
@deepu105 can you give an example? I'm trying to reproduce

[2018-04-30 16:38] ruddell commented on #3575
@javasparx The `/auth` endpoint was added after this issue. I opened a PR with your fix #7552

[2018-04-30 16:38] pascalgrimaud commented on #7551
I'm not against switch back to NPM. It's the same for me. If it's more consistent with release and easier for npm link, so let's switch back.
But I'm not sure everybody in the core team will agree about that.

Here all solutions:
- stay like this, support both, Yarn by default, NPM with flag
- support both, NPM by default, Yarn with flag
- switch to NPM and remove completely Yarn

So let discuss.

[2018-04-30 19:00] lafalangito opened #7553 "problem http.post with angular5"
this making me crazy! please help me!!!!

I have something like this in:
/tfg-2/src/main/java/ucam/vending/web/rest/ItemCarroResource.java
 @PostMapping("/itemcarrosbyid/")
    @Timed
    public void itemcarrosbyid(@RequestParam String itemCarro) throws URISyntaxException {
  it works ok when I used it from API rest

In a angular service component:
/tfg-2/src/main/webapp/app/entities/item-seccion-

[2018-04-30 19:09] ruddell commented on #7553
This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use our [Gitter Chat](https://gitter.im/jhipster/generator-jhipster) or Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Stack Overflow will give your q

[2018-04-30 19:09] #7553 closed

[2018-04-30 19:11] lafalangito commented on #7553
sorry

[2018-04-30 20:30] PierreBesson commented on #7551
I'm not sure what this has to do with the npm/yarn debate as this is about node itself. I'm personally not OK with dropping yarn as the transitive dependency fixing is better than with npm.
The real issue here is that the nodejs "current" version is not always backward compatible and people are always super quick to jump on it. Strangely they are not that eager to upgrade their java version :stuck

[2018-04-30 20:36] PierreBesson commented on #7551
@jdubois, it seems that you can install node 8 on a Mac with `brew install node@8`. I've not tried it yet but I will as soon as I unwrap my new work macbook.

[2018-04-30 21:08] jdubois commented on #7551
Yes that will install Node 8, but when you will install Yarn it will transitively pull Node 10...
It's much easier to install it manually

[2018-05-01 06:25] deepu105 commented on #7505
The React header where we add the new entity items to menu for example. Sorry on my phone so can't point to exact line.
One option is to turn off prettier for the nodes which are used as needles using the prettier ignore comments in the code.

[2018-05-01 06:35] deepu105 commented on #6044
I'll close this after checking some stuff

[2018-05-01 08:30] srinivasa-vasu commented on #7337
Both the links use a similar code for service discovery. Retrieving the host, port details from endpoint. I guess this won't work with Istio, as we can not skip the service call. With this way, ribbon would end up load balancing to the actual pods by totally bypassing the side car proxy.

[2018-05-01 16:22] ValoData opened #7554 "Type 'Subscription' is not assignable to type 'Subscription'"
##### **Overview of the issue**

I am getting the following message when building the app without any entity ( I tried to clear the cache from npm)

ERROR in [at-loader] ./src/main/webapp/app/admin/user-management/user-management-detail.component.ts:23:9
    TS90010: Type 'Subscription' is not assignable to type 'Subscription'. Two different types with this name exist, but they are unrelated.
  Pr

[2018-05-01 16:56] jdubois commented on #7554
I tested both with your release and with the current master branch, I couldn't reproduce.... How did you generate your app? How did you install JHipster? Did you do anything specific? Otherwise, indeed, you could clean up your node_modules and try again, but that's very weird.

I'm closing as I can't reproduce (so other team members don't lose time here), but if you have more information please ad

[2018-05-01 16:56] #7554 closed

[2018-05-01 17:49] PierreBesson commented on #7551
@jdubois I just managed to install yarn and nodejs8 with brew with the following commands:

[2018-05-02 00:37] gemron commented on #7509
@jdubois Thank you for your reply, because in our business scenario, the user does not want to enter the username and password multiple times. Now I have implemented automatic refresh of the token. Thanks again

[2018-05-02 05:14] SidMorad commented on #7554
I was hit with this issue couple of times and I agree, this is hard to reproduce and being very strange. First I do have almost exact same version of everything in development and production, and production build never had this issue, it only happens in my development machine. and it happens while executing following command:
`node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js --co

[2018-05-02 08:39] jdubois commented on #6936
Indeed, I wouldn't recommend to modify the config to suppress SSL, you should have SSL enabled in production, and for Keycloak this is even more important.

So you need to have an HTTPS front end, and for this you have 2 solutions:

- If you have the JHipster gateway, we have full documentation on setuping SSL with JHipster on https://www.jhipster.tech/production/#security (so for me this is alrea

[2018-05-02 09:06] ValoData commented on #7554
I was not able to determine the cause but deleting the node_modules directory from the global envt did the trick

[2018-05-02 13:36] drummer3333 opened #7556 "typescipt enum is stored as string in model"
##### **Overview of the issue**

I can't compare the speechToTextJob.status with the static enum values JobStatus.* because the field is set to string values.

##### **Motivation for or Use Case**

We use Angular 5 in the frontend. I want to test the status field of the incoming data in the onSuccess method of speech-to-text-job.component.ts. Because the incoming data is of type String but model h

[2018-05-02 14:35] ruddell commented on #7556
By default, `JobStatus.WAITING === 0`.  I changed the entity enums to use string enums as documented in the Typescript docs which makes `JobStatus.WAITING === 'WAITING'`.
 https://www.typescriptlang.org/docs/handbook/enums.html#string-enums

[2018-05-02 16:02] deepu105 commented on #7505
closed via https://github.com/jhipster/generator-jhipster/pull/7558

[2018-05-02 16:02] #7505 closed

[2018-05-02 16:04] #7556 closed

[2018-05-02 16:33] mraible commented on #7328
@warnonphilippe Can you please submit a PR with this fix?

[2018-05-02 16:34] mraible commented on #7331
@warnonphilippe I know it might be difficult to do, but can you check the code references in https://github.com/jhipster/generator-jhipster/issues/7281 to see if it fixes this issue?

[2018-05-02 22:44] mraible commented on #7551
The error I noted in this issue's description actually happens now, so that's not the cause, the warning before is.

[code]

[2018-05-03 09:54] rajankhuva opened #7563 "command prompt goes shut down automatically"
I have created a project using Jhipster.
Now i want to import entities in project.
i have tried : **jhipster import-jdl filename.jh** as soon as i type this command in command prompt it went shut down automatically.
after that i type : **yo jhipter import-jdl filename.jh**. it works but nothing changed in my project.

[2018-05-03 09:56] jdubois commented on #7563
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-05-03 09:56] #7563 closed

[2018-05-03 09:57] jdubois commented on #7563
Please give us at least your version number, we can't work like that

[2018-05-03 10:00] rajankhuva commented on #7563
jhipster generator v4.14.1

[2018-05-03 10:01] rajankhuva commented on #7563
sir, unfortunally unable post question in stackoverflow that why have to post query here

[2018-05-03 10:01] jdubois commented on #7526
I'm adding a reserved keywords list for React in JHipster Core (ping @MathieuAA ) and I will link my commit here.

- In the JDL, as the model isn't specific for React or Angular, we will use both reserved keywords lists
- In the Yeoman prompts, depending on your selected client framework, we will use the specific reserved keywords list

This will not close this ticket, as it would be better not to

[2018-05-03 11:03] deepu105 commented on #7563
@rajankhuva if you need help please follow the guidelines mentioned above

[2018-05-03 11:36] warnonphilippe commented on #7328
@mraible Certainly, probably next week.

[2018-05-03 11:48] sksandeep087 commented on #1525
Hello, I am Using Jhipster with Spring Boot
1-problem is user-management list not showing, please give me a solution
![image](https://user-images.githubusercontent.com/34537939/39574776-f2978d5a-4ef5-11e8-8afc-fe2b77ecfa3d.png)

[2018-05-03 11:50] jdubois commented on #7563
@rajankhuva we can't work if you don't follow the guidelines, I have no idea what your problem may be

[2018-05-03 11:56] jdubois commented on #1525
@sksandeep087 please don't spam an old closed issue (3 years old!!). If you have a problem, please follow the guidelines.

[2018-05-03 12:16] FireWolf2007 commented on #7124
Translation problem on internal error

![2018-05-03 15-14-01](https://user-images.githubusercontent.com/1145904/39575878-c9985db4-4ee4-11e8-8318-4416376f31d0.png)

[2018-05-03 15:27] AlperMulayim commented on #3533
Dear  Dubois ,
I generate the jhipster  however  jhipster template cannot create the H2 database , JHI_USER not found exception on handling. When I look to the h2-console there is not a table.
I tried generation with jhipster --force --with-entities also , but it does not work for me.
Is there any solution ?
Regards.

[2018-05-03 15:31] jdubois commented on #3533
Please don't spam us on an old ticket, please follow our guidelines at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

[2018-05-03 15:44] AlperMulayim commented on #3533
It does not a spam i ask a question

Alper MÜLAYİM
Gebze Teknik Üniversitesi

2018-05-03 18:31 GMT+03:00 Julien Dubois <notifications@github.com>:

[2018-05-03 17:55] lafalangito opened #7565 "jhipster heroku error"
Hello and sorry if it is not the correct site.
I have a problem with the command: jhipster heroku

(I create an empty project, only one entity, without changes) and the error is the same.

The projects works fine, a video:
https://www.youtube.com/watch?v=SB3jPtBf_bA&t=5s

This is the error:

:webpack FAILED
5 actionable tasks: 4 executed, 1 up-to-date
✖ { Error: Command failed: ./gradlew bootRepac

[2018-05-03 17:59] ruddell commented on #7565
I'm guessing you are on older JHipster version but you didn't post your config.  See https://stackoverflow.com/a/49137210/3737815

If that doesn't fix it, please fill out the Issue Template completely and re-open the issue.

[2018-05-03 17:59] mraible commented on #7565
I just tried this last night, so I know it works with Maven. Maybe it’s just a Gradle issue? Can you re-create your project with Maven and see if it works?

[2018-05-03 18:12] deepu105 commented on #3533
@AlperMulayim we are not discouraging you, but in order for us to help you please help us by following our process and creating issues with all the required details.

[2018-05-03 18:59] lafalangito commented on #7565
Yes i am using maven.
I create a new empty project, gradle ... and i have the same problem. Before create this project , i did this:
yo jhipster:upgrade
and my version nodejs is: 6.0

thanks for anwser!

[2018-05-03 19:00] jdubois commented on #7565
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-05-04 08:47] rajankhuva commented on #7563
where to upload read.md file?

[2018-05-04 08:54] jdubois commented on #7563
@rajankhuva I have no idea what you want to do with this file. Please follow the tickets guidelines on https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

[2018-05-04 08:56] deepu105 commented on #7563
@rajankhuva please run `jhipster info` on your project and paste the output here

[2018-05-04 09:08] rajankhuva commented on #7563
as soon as i write jhipster in terminal it shut down terminal

[2018-05-04 09:09] jdubois commented on #7563
You cannot **type** JHipster? Then that's an OS issue, could you tell us which OS you have... This is asked in https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md just follow the guide

[2018-05-04 09:12] rajankhuva commented on #7563
i have win 10

[2018-05-04 09:13] gmarziou commented on #7563
so your problem is probably in your PATH variable.
Did yo install generator-jhipster using npm or yarn?

[2018-05-04 09:15] rajankhuva commented on #7563
actually , i have install using both .
i have both folder in my appdata

[2018-05-04 09:17] jdubois commented on #7563
OK if that's an installation issue on your system then that's not a bug, please use Stackoverflow - the ticket system is only for bugs, and please please follow our guide at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submit this would prevent from spamming the whole dev team for just an installation issue

[2018-05-04 09:17] gmarziou commented on #7563
You should mix both yarn and npm for, never.

So start by uninstalling both and re-install only one.

Run `yarn global bin` to find out where jhipster command has been installed if you used yarn to install it.

Run `npm bin` to find out where jhipster command has been installed if you used npm to install it.

This directory should contain jhipster.cmd and should be in your path.

[2018-05-04 12:45] maku commented on #6971
@deepu105 No offense, but just for the record: angular/cli builds are super rock solid. I use it for several rather large projects and I don't regret it at any time. I do not see any good reason to mess around yourself with the complex build topic. Also it seems difficult to stay on top of the latest angular features... The cli takes care of all of theses points (just my personal opinion)

[2018-05-04 13:50] deepu105 commented on #6971
@maku i'm glad you had a better experience with it. And as I have said earlier, trying to get it working earlier was really a lot of trouble, so if someone can get the generated projects work well with CLI then i'm still open to consider it.

[2018-05-04 14:40] pravinkhandke opened #7568 "jhi_social_user_connection table script dosent work on mySQL because of RANK column"
##### **Overview of the issue**
  Using Jhipster to generate the monolithic application with spring  Social functionality on MySQL database.  After generation of application if you configure and run then it does not work because of jhi_social_user_connection and rank column which is a MySQL keyword/ function.

##### **Motivation for or Use Case**
  This is the defect in the fix we need to change t

[2018-05-04 14:43] jdubois commented on #7568
I guess this is a new keyword in MySQL? Because I've used that for years without this issue... Do you  have some explanation here?
Anyway we are removing social login in JHipster 5, and I don't think there will many people ready to do maintenance on JHipster 4, so I can't guarantee this will be fixed. Would you be ready to do a PR?

[2018-05-04 14:46] ruddell commented on #7568
MySQL 8 brings in a new set of reserved words that we need to add to the list https://dev.mysql.com/doc/refman/8.0/en/keywords.html#keywords-new-in-current-series

[2018-05-04 14:48] jdubois commented on #7568
Oh sorry I missed that, thanks @ruddell
Indeed, we don't support MySQL 8 at the moment - not sure when we should migrate, I guess very few people have already done it.

[2018-05-04 14:55] pravinkhandke commented on #7568
social login was the important to feature of JHipster.

[2018-05-04 14:57] jdubois commented on #7568
Yes it's not maintained any more on the Spring side, so we can't support it either. We also have better and easier options now, like using Keycloak/Okta,or even OAuth2 directly.

[2018-05-04 15:13] pravinkhandke commented on #7568
Thanks a lot. Can we connect to Facebook and Google with  JHipster 5?

[2018-05-04 15:27] ruddell commented on #7568
@pravinkhandke Yes here's a [link to the tip](https://www.jhipster.tech/tips/024_tip_enabling_social_login_with_oauth2.html) that explains how to enable it

[2018-05-04 16:53] Belkacem opened #7569 "LocalDates in entity create and update are altered by moment js"
##### **Overview of the issue**

In entity edit and create pages generated by jhipster, the dates are transformed to json witch converts the date to the local locale, here's a debugger code :
The date goes in may 3rd and transforms into may 2nd

![image](https://user-images.githubusercontent.com/419224/39640754-4e2a4186-4fcc-11e8-9a07-17c8e56e1dd8.png)

##### **Reproduce the error**

Create an ent

[2018-05-04 18:27] lafalangito commented on #7188
Hi! I just write in another thread.
I have this problem... I am triying upgrade my jhipster version... I can not  upgrade.
I did this:
first: yarn global remove generator-jhipster
then: yarn global add generator-jhipster,
result==>success Installed "generator-jhipster@4.14.3" with binaries:
- jhipster
Done in 6.87s.

But when i execute yo jhipster:

JHipster update available: 4.14.3 (current: 4.14

[2018-05-04 18:43] BhawaniSingh opened #7570 "Duplicate exception logging because of Zalando"
##### **Overview of the issue**
Whenever an exception is thrown by the server, its logged twice
1. By Logging Aspect
2. By Zalando

[code]
##### **Motivation for or Use Case**

Exception should be logged once as its very heavy operation

##### **Reproduce the error**
[Clone sample app](https://github.com/jhipster/jhipster-sample-app)
Replace [this line](https://github.com/jhipster/jhipster-sample-

[2018-05-04 18:58] BhawaniSingh commented on #7570
Yeah, but duplicate logs create confusion when trying to debug logs, and moreover when there are consecutive API failure, its hard to debug as the log size is doubled.

But anyways, I think we should turn off zalando's inbuilt logging

[2018-05-04 19:04] BhawaniSingh commented on #7570
And I just checked, exception is logged by zalando even in prod profile

[code]

[2018-05-04 19:06] lafalangito commented on #7188
Perdoname, pero todo esto viene en relación con el problema de ayer, relacionado con los dos hilos que me has cerrado, relacionado con un falle en jhipster heroku.
Perdoname si te molesto, no es mi intención hacer spam.
Por supuesto que he actualizado el proyecto pero no hay forma de conseguir la subida y el error se sigue reproduciendo.

[2018-05-04 19:07] jdubois commented on #7570
Oh yes:

- Zalando works all the time, that's the "real" exception catcher (otherwise you wouldn't have any exception in the console)
- The logging aspect is used to help debugging in dev mode, and does not work in prod mode

So that's what is expected, but I agree it can be a bit confusing. Not sure if we can fine-tune the logging aspect so you don't have the double logging in dev mode, it's real

[2018-05-04 19:08] jdubois commented on #7188
Please use English, so everybody can understand. If you continue spamming us and not respecting our [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) I will block you from the project.

[2018-05-04 19:10] lafalangito commented on #7188
Forgive me, but all this comes in a relationship with the problem of yesterday, related to the two threads that I have closed, related to a failure in jhipster heroku.
Forgive me if I bother you, it is not my intention to spam.
Of course you have updated the project but there is no way to get the upload and the error keeps playing.
If I report here the error is because you can help me.
you're not

[2018-05-04 19:24] jdubois commented on #7188
Please, there are 700+ people watching this project, including the whole dev team, and this is only for reporting bugs.

Here you are asking for support on something which is documented on the website (for example at https://www.jhipster.tech/upgrading-an-application/ ), and which is definitely not a bug - so all I'm asking is that you follow our guidelines - there are other places like Stackoverf

[2018-05-04 19:27] jdubois commented on #7570
I think you are right @BhawaniSingh - not 100% sure, but enough to think we should follow your idea! At least it's worth trying :-)
You seem to know this quite well, would you be ready to do a PR for this?

[2018-05-04 19:28] mohctp001 opened #7572 "react client active checkbox broken in user-management"
"jhipsterVersion": "5.0.0-beta.1"

##### **Overview of the issue**

When installing 5.0.0-beta.1 gateway with react the web client is broken in the admin / management section for updating a user.

##### **Motivation for or Use Case**

This is core functionality that should be fixed

##### **Reproduce the error**

1) load page: http://127.0.0.1:8080/#/admin/user-management
2) select edit for a user

[2018-05-04 19:29] jdubois commented on #7572
Could you follow the guidelines and also post your `jhipster info` information here? This is to be sure we can easily reproduce

[2018-05-04 19:31] BhawaniSingh commented on #7570
I'll do this over this weekend, but there is one more issue I'm facing with jhipster right now.

[2018-05-04 19:31] lafalangito commented on #7188
I'm sorry I did not explain myself well from the beginning. I apologize.
But I still think it's a bug.
I am sorry.
I'm afraid that my 200 students will be left without seeing jhipster, I will not bother you again.

[2018-05-04 19:37] ruddell commented on #7188
@lafalangito Based on your logs I'm guessing you installed with `npm` originally, but the upgrade message tells you to use `yarn`.  The `npm` version is used instead of the version installed by `yarn` (this is reproducible)

Uninstall it from both `npm` and `yarn`, then install with only one or the other.

    # remove from both
    npm uninstall -g generator-jhipster
    yarn global remove genera

[2018-05-04 19:39] BhawaniSingh commented on #7572
@jdubois React is not my strong point, but I think I got the issue what @mohctp001 trying to refer
[user-management-update.tsx.ejs](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs#L196), ``` value={user.activated} ``` is missing. Because of which ```user.activated=

[2018-05-04 19:51] lafalangito commented on #7188
thanks @ruddell, very friedly... but I uninstall all before, I have no dudes  of this procedure.
I just said:  i make an empty project with 4.1.13, i am trying to deploy to heroku... and it is impossible... and i think this is a bug.
thanks

[2018-05-04 19:53] mohctp001 commented on #7572
Sorry, I am new to submitting requests on git like this.  I usually consume projects, but I really like jhipster and react, so I'm hoping to contribute.

I think I have done this correctly to submit the change request.

https://github.com/jhipster/generator-jhipster/pull/7573

[2018-05-04 19:55] jdubois commented on #7188
Please @lafalangito follow our guidelines - if you have an issue with Heroku it's something different, you did not tell us about this at all, and this ticket isn't about Heroku.
Please create a ticket, following the project's issue template and guidelines.

[2018-05-04 20:01] lafalangito commented on #7188
Sorry again @jdubois. As I said before, I think the error that is being discussed here has to do with the thread you closed yesterday. That is the reason for putting it here.
I thought that by updating the project to the correct version, as you advised me yesterday, the problem would be solved, but it has not been like that.
Tomorrow I will try to open a ticket correctly.
Please forgive the proble

[2018-05-04 20:03] jdubois commented on #7188
No problem @lafalangito - opening a ticket is free and if you follow our guidelines it's very easy for us to reproduce. Usually we have a good track record on answering tickets, but we also need help for reproducing.

[2018-05-04 20:05] lafalangito commented on #7188
thanks @jdubois

[2018-05-04 20:28] gmarziou commented on #5883
Maybe you have installed generator-jhipster globally with both yarn and npm and your path is pointing to wrong one. Uninstall from both and install only with one.

[2018-05-04 21:28] Belkacem commented on #7569
I Have similar error in the Edit page for entities that have fields of type Instant.

[2018-05-05 05:32] Blackdread opened #7574 "Feature request - util class for query specification"
##### **Motivation for or Use Case**

Allow to have specification for:
- joins of more than 1 entity => A -> B -> C or A -> B -> C -> D or etc
- filter not only on foreign keys when using join/get

Reason is it can be necessary to filter controllers result when calling "getAll(criteria, pageable)" but data to filter is not part of the first and second entity (or not the fk) but in the third/fourth

[2018-05-05 05:34] BhawaniSingh commented on #7574
I did something. Like this in my one of my project

On Sat, May 5, 2018, 11:02 AM Yoann CAPLAIN <notifications@github.com>
wrote:

[2018-05-05 08:05] #7572 closed

[2018-05-05 12:07] DanielFran opened #7575 "Version 6 of #Angular is now available"
Version 6 of #Angular is now available! Updates to the framework, CLI, Material, CDK, and more!

https://blog.angular.io/version-6-of-angular-now-available-cc56b0efa7a4

https://blog.ninja-squad.com/2018/05/04/what-is-new-angular-6/

https://books.ninja-squad.com/angular/changelog

[2018-05-06 10:54] Blackdread commented on #7574
I created a branch to show small part of what CriteriaUtil class could look like: [add-util-query-and-criteria](https://github.com/Blackdread/jhipster/tree/add-util-query-and-criteria).
I create and push later QueryUtil it jhipster team thinks these both classes can be useful. It can remove a lot of implementations for users that want to do similar things (CriteriaUtil and QueryUtil).

[2018-05-07 01:08] sendilkumarn commented on #7575
@wmarques go ahead. But a lot of `rxjs` refactorings will be there

[2018-05-07 01:09] sendilkumarn commented on #7575
with `ng-bootstrap-2.0.0` out. we can upgrade it

[2018-05-07 05:59] agoncal commented on #7575
@wmarques I'll be more than happy to test and give you some feedback.

BTW Angular CLI 6 makes it easy to create libraries (https://github.com/angular/angular-cli/wiki/stories-create-library). We use this "kind" of mecanism to aggregate our Microservices. Maybe something to brainstorm for the future

[2018-05-07 09:28] hdurix commented on #7569
I reproduce the error with `LocalDate` (wrong day), thanks!

But I don't notice any error with `Instant`: the instant is saved then displayed correctly. Could you explain how to reproduce?

[2018-05-07 09:32] Belkacem commented on #7569
it's saved and displayed correctly, but if you edit it (keeping the hour at midnight) the instant will be saved at 22h00 the day before.

[2018-05-07 09:35] Belkacem commented on #7569
Is it possible to get rid of moment.js ? it's adding weight to the bundle size and it's not used frequently.

[2018-05-07 09:37] jdubois commented on #7569
I didn't follow this closely, but it looked like a highlight of the latest beta release, and I thought people were happy about it as it's the most popular date handling library. I'm quite disappointed if it causes issues and if you dislike it :-(

[2018-05-07 09:44] hdurix commented on #7569
Indeed the lib is not used a lot when the app is generated.
But I find it very useful as soon as you have some dates to handle in your app (more than CRUD I mean), I used to add it whenever I was creating a new JHipster project.

[2018-05-07 10:14] Belkacem commented on #7569
In my opinion it’s better to leave the choice to the développer to include it or not, as momentjs adds 250k to the bundle(uncompressed)

[2018-05-07 10:48] Tcharl commented on #7569
Hi,

DateTime Picker should work as usual as it's the same mecanism used:

- In the update dialog, a string attribute is created for each date in the component

- The Datetime picker manipulates this string to update date

- In the save() method of the component, we create a moment from that string and affect it to the attribute.

BTW, I'm really enjoying moment.js within my project where every en

[2018-05-07 10:55] Belkacem commented on #7569
Moment is an overkill for this usage, if the "any" type is an issue we can define a date type and use it.

[2018-05-07 11:04] Tcharl commented on #7575
I noticed some jh issues to make angular.cli working with jhipster, for example, the manifest shall be in a .json extension instead of .manifest either way 'ng build' fails.

I'm also thinking of making a material module, as one of our company project's as done the refactoring work (but not on a module), but it's huge to implement during free time: may be if anyone could help, I can share our sour

[2018-05-07 13:36] wmarques commented on #7575
@sendilkumarn Yep, in fact it's the rxjs part that is taking more time than the Angular parts... I'm submitting a PR with the beginning of my work, I don't think the build will pass for the first time 😢

[2018-05-07 23:36] xXandrescolXx commented on #6566
Hello I got the same error:
"ng generate component home
Could not find an NgModule. Use the skip-import option to skip importing in NgModule."

I got this error using Angular 6 and this error is why I changed the root value in angular.json, it was:
root: "src", I changed again it to root: "" and the error was fixed

[2018-05-08 01:57] yatendragoel opened #7585 "Why node_modules and other front-end files got generated for --skip-client flag?"
##### **Overview of the issue**

I created a new JHipster project with the following command:

    jhipster --skip-client

Since, I skipped client generation via `--skip-client`, why the newly created project contains the following files and folders which I think are related to frontend and not related to backend anywhere:

 - node_modules
 - package.json
 - .yo-rc.json
 - yarn.lock

[2018-05-08 02:13] ruddell commented on #7585
The purpose of installing a local copy of `generator-jhipster` is that if you upgrade your global version, the local version will still match what your project uses.  This protects you from using a newer entity generator on an older project. You can skip the installation of the local `generator-jhipster` by using `--skip-install` (note that your project will then always use the global `generator-j

[2018-05-08 06:59] yatendragoel opened #7586 "Generated 'User' entity's 'password' field's column is nullable"
##### **Overview of the issue**

Generated `User.java` entity's `password` field looks like below:

    @JsonIgnore
    @NotNull
    @Size(min = 60, max = 60)
    @Column(name = "password_hash", length = 60)
    private String password;

Since, it is `@NotNull` at the field level, shouldn't it be `nullable = false` at the column level as well?

    @Column(name = "password_hash", length = 60, null

[2018-05-08 09:15] yatendragoel commented on #7585
@ruddell That makes sense.

1. Does that mean we should check-in `node_modules` in our source repository (`git` in our case) as well? I see that the generated `.gitignore` file excludes `node_modules` folder

2. It seems like `--skip-install` would not be a good idea then because inconsistency in *generator* versions can lead to more incompatible code. Am I right?

[2018-05-08 09:16] yatendragoel commented on #7585
Since now I understand that this was actually not a bug, but rather a feature, I am closing this issue.

[2018-05-08 09:16] #7585 closed

[2018-05-08 13:58] bitsofinfo commented on #7511
@sunbinkeke take a look at https://github.com/bitsofinfo/hazelcast-docker-swarm-discovery-spi if trying to form a cluster of hz nodes on swarm

[2018-05-09 02:59] #7514 closed

[2018-05-09 06:40] maku opened #7588 "Running angular playground with jhipster"
##### **Overview of the issue**

Running angular playground with jhipster

##### **Motivation for or Use Case**

I would like to build and test angular components in isolation

##### **JHipster Version(s)**

v5

##### **Issue**

I don't really know how to get angular playground ( http://www.angularplayground.it/ ) running with jhipster.
With angular-cli it is really easy but with jhipsters own web

[2018-05-09 09:05] cloudhuang opened #7590 "Is separating the front-end and the API server the standard way for jhipster now?"
Today I trying to using the latest version of jhipster, and find the front-end UI is not deployed when run the spring boot application, even using `mvn spring-boot:run`, so the separating the front-end and the API server is the standard way when developing jhipster app?

[2018-05-09 09:06] jdubois commented on #7590
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-05-09 09:06] #7590 closed

[2018-05-09 09:07] jdubois commented on #7586
We have some use cases (like login with Google) where there is no password, that's why the column is `nullable`, but indeed that should be refined depending on your use case - please follow our guidelines next time, so we know your configuration and what you are trying to do

[2018-05-09 09:15] yatendragoel commented on #7586
But then `@NotNull` should also be removed from the auto-generated code. The whole point I want to highlight is that nullability of a field should match with the nullability of the column. Either both should be allowed to have `null` values or none of them should be allowed.

[2018-05-09 09:19] jdubois commented on #7586
Yes @yatendragoel - sorry that's what I meant by "refined" (not sure this is good English!), we should have a check here, and it should match the same for both the entity and the database column
(I haven't looked at the code yet, but I don't expect this to be very complex)

[2018-05-09 09:26] jdubois commented on #7569
For me this is solved by https://github.com/jhipster/generator-jhipster/pull/7584 but I'm not the best expert on this part - so I'm closing this but the comments are still opened, please discuss if that doesn't suit you and I'll re-open

[2018-05-09 09:26] #7569 closed

[2018-05-09 09:26] yatendragoel commented on #7586
Cool. So we can fix this and this is a valid bug. I am letting this issue opened so that it can be picked up for the fix.

Maybe I will only pick this up to fix depending on my availability in the coming days.

[2018-05-09 09:35] jdubois commented on #7504
I confirm we still have the issue - as JHipster 5 is just around the corner, shouldn't we better remove the option to generate apps for the moment? @MathieuAA do you have time to fix this, or can we help you?

[2018-05-09 19:46] henri-tremblay opened #7591 "Upgrade to Spring Boot 2.0.2.RELEASE and 1.5.13.RELEASE"
##### **Overview of the issue**

Many CVE fixed

##### **Motivation for or Use Case**

You know... security and stuff again.

##### **Reproduce the error**

NA

##### **Related issues**

NA

##### **Suggest a Fix**

Upgrade the Spring boot version

##### **JHipster Version(s)**

4.14.3
5.0.0-beta-1

##### **JHipster configuration**

NA

##### **Entity configuration(s) `entityName.json` files gener

[2018-05-09 22:38] Belkacem commented on #7569
Hi,
Here's the problem that moment causes in a project with webpack:
https://github.com/webpack/webpack/issues/3128

The moment team couldn't resolve this problem, and sought help, the webpack team created the following plugin :

plugins: [
    new webpack.ContextReplacementPlugin(/moment[\\\/]locale$/, /^\.\/(en|ko|ja|zh-cn)$/)
]

There another date library that is very compact and useful :
https

[2018-05-09 22:46] sdharmadhikari opened #7592 "Issues with options "client" and/or "--skip-server""
I want to separate client and server/gateway, so I used commands "jhipster client" and "jhipster --skip-server", both commands threw different errors.

**For "jhipster client"**

[./src/main/webapp/manifest.webapp] ./src/main/webapp/manifest.webapp 61 bytes {1} [built]
       [] -> factory:226ms dependencies:4ms building:885ms = 1115ms
    + 667 hidden modules

ERROR in [at-loader] ./src/main/weba

[2018-05-09 22:55] sdharmadhikari commented on #7592
Forgot to mention. My main intention is deploying UI app and server separately. So do you have a hook for server URL? I tried "jhipster server" and has other issue which I will submit separate issue.

Jhipster is amazing !

[2018-05-09 23:32] sdharmadhikari opened #7593 "Issue with options "server""
I am trying create separate UI and server applications for deployment purpose. When use command "jhipster server", it skips main question whether you want to create monolithic, gateway and microservice. But if I try to use "jhipster --skip-client" command, it correctly asks me those questions.

Using JHipster version installed globally
Executing jhipster:server
Options:
? What is the base name of

[2018-05-10 02:08] topikachu opened #7594 "Webpack build failed when generating monolith with skipUserManagement"
##### **Overview of the issue**

webpack build failed when generating monolith with skipUserManagement
[code]
mvn
[code]
##### **Motivation for or Use Case**

I'd like to generate a monolith with an external IAM system. No user managment is required in this new app.

##### **Reproduce the error**

`jhipster --skip-user-management`
Choose monolith with other stuffs

##### **Related issues**

#####

[2018-05-10 04:14] ruddell commented on #7568
I don't have the time to test, but you should be able to set the `name` in the `@Column` annotation on the `rank` field and change the liquibase initial_changelog to match the name you choose.  By default I'd use `jhi_rank`.

I opened a PR in jhipster-core adding MySQL 8's reserved words.

[2018-05-10 05:16] jdubois commented on #7592
- For `jhipster client` I don't remember you could use that sub-generator directly, for me it is always composed into the main generator. Could you point me to where you found the documentation on this? I think that's an error, and you should rather use the `jhipster --skip-server`, which you also did (of course)
- For `jhipster --skip-server` have a look at the error message, there are some other

[2018-05-10 06:08] deepu105 commented on #7592
Julien is right. Technically both Jhipster client and skip server does the
same thing but its advisable to use skip server so that everything is
composed properly. In either case you need to pass those arguments since
its an advanced use case. You could run 'jhipster client --h' to see all
the available flags and description

On Thu, 10 May 2018, 10:46 am Julien Dubois, <notifications@github.com>

[2018-05-10 06:09] deepu105 commented on #7592
I'm closing this as its a validation error. Do let us know if you find any issues after passing proper arguments

[2018-05-10 06:09] #7592 closed

[2018-05-10 06:17] deepu105 commented on #7593
Its intentional. The correct way to use is by using the skip client flag and that's what we have documented. If you use the server sub gen directly then you need to pass relevant flags. Run 'jhipster server --help'  to see all flags.
Closing this as its not a bug

[2018-05-10 06:17] #7593 closed

[2018-05-10 06:27] deepu105 commented on #7504
I would still prefer to fix this as the issues are easily fixable and its a
great feature.

I would also like to remove the path option in the JDL as its not necessary
for our workflows and it would cause lot of issues for us (by users who
will abuse it)

I can also do this once I'm back from vacation if Matheue is busy

On Wed, 9 May 2018, 3:05 pm Julien Dubois, <notifications@github.com> wrote:

[2018-05-10 06:29] deepu105 commented on #7586
Yes if you can do a PR that would be great

On Wed, 9 May 2018, 2:56 pm yatendragoel, <notifications@github.com> wrote:

[2018-05-10 06:37] deepu105 commented on #7590
@cloudhuang no its not a standard way. Deploying the app should have the front end as well. But we don't know what you have and what you did as you didn't follow our issue template. If you have an issur please follow the template and provide all details for us to investigate

[2018-05-10 06:38] deepu105 commented on #7590
Also you need to to run yarn start if you are in development to serve front end

[2018-05-10 06:41] deepu105 commented on #7588
Sorry but this is not a bug or a feature request. We do not have any official support for angular playground hence there isn't much we could do to help. I suggest you take this to stack overflow as thats the correct channel for questions

[2018-05-10 06:41] #7588 closed

[2018-05-10 07:37] #7568 closed

[2018-05-10 07:42] MathieuAA commented on #7504
@jdubois I'm fixing these issues as I write this. @deepu105 I'll remove it after fixing the app generation.
What does "around the corner" mean? :)

[2018-05-10 08:04] jdubois commented on #7504
@MathieuAA we have a "JHipster Day" at Ippon on Tuesday with @PierreBesson @pascalgrimaud @wmarques and my trainees so it should be a good day to release! We'll need to have some Opencollective drinks an evening with you and @cbornet (but not on Tuesday it's the 10th anniversary of the ParisJUG).

[2018-05-10 08:37] pascalgrimaud opened #7596 "Dependencies insecure: lodash"
Looking our badges, we have a dependencies insecure, related to lodash.
See https://david-dm.org/jhipster/generator-jhipster

`Prototype pollution` : I don't know what it means but the fix should be easy.
Maybe just update the version of lodash ? https://github.com/jhipster/generator-jhipster/blob/master/package.json#L62

[2018-05-10 08:59] pascalgrimaud commented on #7442
FYI, it's back to `passed` and we didn't do anything.

[2018-05-10 09:05] deepu105 commented on #7504
@jdubois i would suggest to push back the release a bit as well. There are stuff that needs to be ironed out, like e2e tests for React etc.
Also, there are some issues to be fixed with the Blueprint system which is a blocker for v5 IMO.
I'm on vacation this month so it will be difficult for me to work on that stuff.

I guess a perfect day for the release would be the JHipster conf, we could even d

[2018-05-10 09:06] deepu105 commented on #7442
Thats strange

[2018-05-10 10:53] Tcharl commented on #6410
If you choose the solution 1, it should be nice to use Mapstruct resolver to fetch data, also, I you want it, ask me for a PR if needed ;-):
`
@Mapper(componentModel = "spring", uses = { XMapperResolver.class})
public class XMapper {
X fromId(Long id);
}
@Component
public class XMapperResolver {

    XRepository xRepository;

	public XMapperResolver(XRepository xRepository) {
		this.xRepository =

[2018-05-10 17:27] cmcruzata opened #7600 "Login doesn't work in application gateway and uaa generated with jhipster 4.14.3"
**Overview of the issue**
I cannot login in the **uaa** with  **application gateway** whit the user/user or admin/admin

**What could be causing the error?**

**Motivation for or Use Case**
Testing Microservice with 0Auth2.0

**Reproduce the error**
` WARN 3860 --- [ XNIO-2 task-18] .m.m.a.ExceptionHandlerExceptionResolver : Resolved exception caused by Handler execution: java.lang.IllegalStateExc

[2018-05-10 17:38] jdubois commented on #7600
Are you running everything on your machine, or are you using Docker Compose to start everything inside Docker?

[2018-05-10 17:48] sdharmadhikari commented on #7592
@jdubois @deepu105  Here is documentation on jhipster.com under section "Creating new Application". It says both options are same. If those are different, it is better to have documentation what each option does. May be something really useful hidden under it.

--skip-client - Skip the client-side application generation, so you only have the Spring Boot back-end code generated (Default: false). Th

[2018-05-10 17:55] jdubois commented on #7592
I have no idea what jhipster.com is but I would strongly advise not going there. Like jhipster.cn or jhipster.ru - those people are squatting our name, I have never had any contact with them (and I tried), and I'm guessing they distribute malware (otherwise I don't see the point of translating the site without contacting us)

Then indeed it looks there is an issue in our documentation

[2018-05-10 17:57] sdharmadhikari commented on #7592
@jdubois @deepu105 Also there is a vague "Tip" at the end of the page, which says,

Tips
If you are an advanced user you can use our client and server sub-generators by running jhipster client --[options] and jhipster server --[options]. Run the above sub-generators with --help flag to view all the options that can be passed.

You can also use the Yeoman command-line options, like --force to autom

[2018-05-10 17:57] cmcruzata commented on #7600
I am running everything on my machine, I not use Docker Compose yet.

[2018-05-10 18:10] PierreBesson commented on #7095
@tchlyah Any update to your problem ?

[2018-05-10 19:01] #7594 closed

[2018-05-10 19:06] jdubois commented on #7504
I understand but we've been delaying the release for about one month now, and everybody is waiting for our React support. For me we need to release ASAP, and then we'll improve.

- For React e2e: I know they don't work, but those are not a blocker, we can release without them
- Blueprints: yes that's very annoying, but nobody uses them at the moment, so they can be postponed
- JDL: I don't really

[2018-05-10 19:13] ruddell commented on #7600
This is because you have `serviceDiscoveryType` set to `false`, meaning the apps don't register with Eureka or Consul, so the gateway can't fetch the UAA's URL or public key.

[2018-05-10 19:16] MathieuAA commented on #7504
Quite easy. I've just finished implementing a fix for the application generation, I'm currently writing the tests. Don't hold your breath for me, there are quite a lot of tests to move around or write.

[2018-05-10 22:09] DanielFran commented on #7591
@jdubois I implemented the changes for both branches, just waiting tests to confirm all is OK!

[2018-05-11 12:41] #7591 closed

[2018-05-11 15:21] mraible opened #7605 "OAuth2: selecting elasticsearch/mongodb causes unit tests to fail"
##### **Overview of the issue**

When choosing elasticsearch as an option, `mvn test` fails.

##### **Motivation for or Use Case**

This didn't happen with JHipster 4.x.

##### **Reproduce the error**

Create a microservices app with the following `.yo-rc.json`, then run `./mvnw test`:

[code]

##### **Related issues**

I'm sure this is related to the fact that Elasticsearch is no longer embeddabl

[2018-05-11 15:24] jdubois opened #7606 "Expose /management/env again when Spring Boot 2.0.3 is released"
We need to migrate JHipster 5 to Spring Boot 2.0.2 because it corrects several CVEs.

This causes JHipster applications to fail starting because of https://github.com/spring-cloud/spring-cloud-commons/issues/367

-> the solution is to stop exposing the "/env" management endpoint. The application will start, but then we will have missing data in our "configuration" screen.

This is bad, but not as

[2018-05-11 15:38] cbornet opened #7607 "TODO : Reactive/Webflux support"
I have created a branch `reactive` to support reactive/webflux applications.

This issue is a TODO list for what remains:

- [ ] Reactive userdetails
- [ ]
- [ ]
- [ ]

[2018-05-11 15:45] #7607 closed

[2018-05-11 16:06] cbornet opened #7608 "TODO : Reactive/Webflux support"
I have created a branch `reactive` to support reactive/webflux applications.

This issue is a TODO list for what remains:

- [x] Reactive DomainUserDetailsService (authentication) (@cbornet)
- [x] Account resource (@cbornet)
- [x] Security Audits (@cbornet #10405)
- [x] Serve front-end / static content (@cbornet)
- [x] Configure Locale resolver  (@cbornet)
- [x] Configure CORS  (@cbornet)
- [x] Ex

[2018-05-11 16:08] chrisdns opened #7609 "Cannot login when using Gateway + React + OAuth2"
##### **Overview of the issue**

When trying to log in, the `authentication/GET_SESSION` call does not succeed.
The browser console shows the following message :
[code]

##### **Reproduce the error**

Generate a project with Gateway + React + OAuth2, launch keycloak and try to log in, it should not work

##### **Suggest a Fix**

It may have something to do with the last React header refactor.

###

[2018-05-11 16:11] chrisdns opened #7610 "Cannot delete a User with Angular client"
##### **Overview of the issue**

I cannot delete an User with `user-management` menu.

##### **Reproduce the error**

Create a regular Angular app and try to delete an user with the `user-management` menu.

##### **JHipster Version(s)**

Current master

##### **JHipster configuration**

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the roo

[2018-05-11 16:13] Tcharl commented on #7605
Hi @mraible ,

Using the 5.0.0-beta.0 version, elastic search repositories  are mocked in integration tests (mocks are located in src/test/java/.../repository/search
It looks like it is the same for beta.1 (I'm currently migrating a project regenerating jdl and see no difference).

Regards

[2018-05-11 16:15] ruddell commented on #7610
This is addressed by #7406

[2018-05-11 16:25] Tcharl opened #7611 "JsonIgnoreProperties annotations are located at the wrong place"
##### **Overview of the issue**

From what I understand, the JsonIgnoreProperties are generated for elasticsearch (to avoid to persist children). But they are generated with the wrong configuration.

Sample of a generated code:
[code]

IMHO, the code should be as follow:
[code]

Or may be I'm wrong.

##### **Motivation for or Use Case**

I think that actually, that annotation is ignored as it does

[2018-05-11 16:57] jdubois commented on #7605
Oh yes there is a big change here, as we can't run embedded Elasticsearch anymore (what a bad decision this is for us!!)

[2018-05-11 17:45] maznag opened #7612 "Unable to login using oAuth2/OKTA with docker-compose prod package - Error 'User could not be found'"
##### **Overview of the issue**

Login doesn't work with oAuth2/Okta using docker-compose: Error 500 - 'User could not be found'. But, login works well when using keycloak instead of OKTA. The error occurred only with prod profile and docker-compose.

##### **Motivation for or Use Case**

Testing OIDC

##### **Reproduce the error**

- Generate o Monolith app with oAuth2 option
- Change OpenID Conn

[2018-05-11 18:48] sdharmadhikari commented on #7592
@jdubois  Thanks for adding this to the milestone. I am shocked to see jhipster.com is not related to you guys and it is a ripoff ! Just to make sure, I compared the documentation on your site jhipster.tech (at least this is correct!) and it is same. So this item in the milestone stands good. Also, I can help you for documentation if you send me the details. I am new to jhipster, so can not code f

[2018-05-11 18:54] hienpv opened #7613 "Using ng2-currency-mask for jhipster v5"
hi all!
I use ng2-currency-mask for jhipster angular v5 but it does not work.
please help me

[2018-05-11 18:56] jdubois commented on #7592
Thanks @sdharmadhikari - and yes there are a lot of people doing "strange" things around JHipster... It's easy to mess up with an OSS project, we have limited resources and no will to fight any legal battle.

If you want to help on documentation, please go ahead, there are so much stuff to improve there! The source of the website is at https://github.com/jhipster/jhipster.github.io - if you modify

[2018-05-11 19:05] jdubois commented on #7606
Be careful there are 2 commits to rollback here

[2018-05-11 20:02] jdubois commented on #7612
And did you create the user, as documented on https://www.jhipster.tech/security/#oauth2 ?

[2018-05-11 22:42] ruddell commented on #7611
`@JsonIgnoreProperties` was added in  https://github.com/jhipster/generator-jhipster/issues/6793 to improve JSON serialization for bidirectional relationships, preventing infinite recursion.  The `@JsonIgnoreProperties` means don't map that field to JSON when mapping the parent entity (otherwise it would cause infinite recursion).

I don't think we added anything to prevent indexing child entities

[2018-05-12 00:06] thainan10 commented on #7586
I did a PR to solve it.
Not quite sure if it's enough but I think so.
As mentioned and I checked, the liquibase changelog already creates a nullable password field.

[2018-05-12 01:43] mraible commented on #7575
This is the route that I took in Ionic for JHipster. Example: https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/generators/entity-client/templates/ionic/src/pages/entities/_entity-dialog.ts#L110 <https://github.com/oktadeveloper/generator-jhipster-ionic/blob/master/generators/entity-client/templates/ionic/src/pages/entities/_entity-dialog.ts#L110>

[2018-05-12 02:52] deepu105 commented on #7592
@sdharmadhikari why do you think the tip is vague? it clearly says what the sub gens does and asks you to use --help to see flags required. And its intended for advanced users who knows JHipster well. Now if you are willing to improve the docs I would suggest adding some info for the flags themselves. If you do a PR hit me up and I will review it

[2018-05-12 02:55] deepu105 commented on #7592
jhipster.com is iFraming us and serving ad banners on top. Its bad for our SEO and reputation I guess. I dont know if there is any way we can take it down. Atleast the RU and CN ones are providing unofficial translations which might be helpful to some people, but it would have been nice if they collaborate with us and provide it us official translations.

[2018-05-12 02:59] deepu105 commented on #7504
Technically we dont have to roll back as there is no breaking changes in
JDL. We just need to remove docs may be untill its fixed

Thanks & Regards,
Deepu

On Fri, May 11, 2018 at 12:50 AM Pierre Besson <notifications@github.com>
wrote:

[2018-05-12 09:40] Tcharl commented on #7611
Thank you for the pointer @ruddell <3

[2018-05-12 09:40] #7611 closed

[2018-05-12 13:05] thainan10 commented on #7575
@mraible sure, is with form builder. Angular calls it Reactive Forms.
I know we'll have a lot of effort to change all forms, but I think it worth.
What is the best approach in this case?
Should I create issues to change it and submit pull requests to solve them?

[2018-05-12 14:42] wmarques commented on #7575
@thainan10 It's not related with Angular 6 right ? But yes we can do that change, I also prefer the Reactive Form way...
You can submit a new issue or directly submit a PR if you already started working on it.

The thing that is TODO also is to migrate from having services in `providers` to use the new DI injection syntax in the `@Injectable` Annotation directly. But I think we should first merge

[2018-05-12 15:08] thainan10 commented on #7575
@wmarques sure. The Reactive Forms initiative is not related to the new Angular version, but I think important.
I can help you at first to refactor the services to the new model if necessary.

[2018-05-12 16:25] jdubois commented on #7612
Thanks @maznag - this has been heavily refactored by @mraible but as he works for Okta I'm pretty sure he made sure this was working! @mraible can I assign the issue to you?

[2018-05-12 16:35] mraible commented on #7612
Yes, please assign it to me. I’ll try to make time to look at it next week.

[2018-05-12 16:40] maznag commented on #7612
Thanks @jdubois, @mraible

[2018-05-12 19:49] Tonterias commented on #5510
Thank you. It also worked for me. Money makes the world go round!

[2018-05-12 21:30] jdubois commented on #3859
That's been fixed more than 2 years ago... so unless you didn't upgrade,  you don't have the same issue

[2018-05-13 07:44] csu6 commented on #3859
@jdubois  I'm just download jhipster and jhypster-registry from github.
I must update jhypster-registry myself ? Because i see my jhipster microservice et gateways have the last version 4.14.13, but  jhypster-registry have 4.3.0 in the file .yo-rc.json.

[2018-05-13 08:42] jdubois commented on #3859
@csu6 please follow the project guidelines, if you have an issue, open a ticket with the specific details - I can't help you if I don't have the full details.
And concerning the version numbers, JHipster Registry is a separate project, so yes it has a different version number, but it's already configured to have the correct version in the Docker Compose configuration.

[2018-05-13 08:45] jdubois commented on #7592
- I just killed jhipster.com see https://twitter.com/juliendubois/status/995276151961669632 (and I have some other tricks if they go on)
- for the .ru and .cn I have no idea what they are doing, and I already tried to contact them. So it's definitely weird, and that's why I wouldn't trust them.

Now we have enough money on OpenCollective I'll also soon start to prepare for legal actions, but we'll

[2018-05-13 09:07] lafalangito opened #7615 "ngb-accordion in production"
##### **Overview of the issue**
the application works in the development environment, I am using  Bootstrap 4 components.
when the application is in the production environment, the ngb-accordion element does not work correctly.

##### **Motivation for or Use Case**
The app has not errors at deploy, and it works fine in development environment

##### **Reproduce the error**
Images in this site:
htt

[2018-05-13 13:04] csu6 commented on #3859
Ok, i'll try again, but i don't use Docker.

[2018-05-13 14:40] pascalgrimaud commented on #7615
Sorry @lafalangito but we don't use `ngb-accordion` so it's not a bug.
That's why I'm closing your ticket.

[2018-05-13 14:40] pascalgrimaud commented on #7615
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-05-13 14:40] #7615 closed

[2018-05-13 15:05] jdubois commented on #7615
Well, it's a bug, but on https://ng-bootstrap.github.io/ - they definitely need help on that project, and there are some French people contributing (hi @jnizet ) so I wonder if we could do something together. At least, we rely a lot on them, and we have much more stars, money, etc... so we need to find a way to help them.

[2018-05-13 15:06] jdubois commented on #3859
@csu6 the most interesting in the Docker Compose configuration (see `jhipster-registry.yml`) is that you will get the recommended version number for JHipster Registry and your application.

[2018-05-13 15:34] pascalgrimaud commented on #7610
Closing this, as https://github.com/jhipster/generator-jhipster/pull/7406 is merged

[2018-05-13 15:34] #7610 closed

[2018-05-13 16:08] csu6 commented on #3859
I just use this tutorial : http://www.baeldung.com/jhipster-microservices

[2018-05-13 21:00] pascalgrimaud commented on #7605
In fact, this ticket has 2 issues:
- oauth2 + elasticsearch: fixed by https://github.com/jhipster/generator-jhipster/pull/7619
- oauth2 + mongodb

I solved one.

[2018-05-13 21:58] Dufgui commented on #7060
Hello, I take a look on this old issue.
Just two questions :
- How to deal with nullable relation (not required relation) ? I think it's mandatory to activate this optimization no ?
- How to deal with multiple one to one on the same owner ? We can activate it, when we have just one relation (required?) one to one by entity, no ?

[2018-05-14 03:42] gomesp opened #7620 "Feature request: Rich text/WYSIWYG editor"
##### **Overview of the issue**

Feature request: Could we please consider adding a new type of input field? Instead of a plain string, could we add a WYSIWYG input field (e.g. http://textangular.com/).

I am not sure if this is still supported (the last commit is from 2016) and also need to find out a solution for react, but is it worth adding to the project core? Or is this something that belong

[2018-05-14 03:50] ruddell commented on #7620
There’s the TextBlob field type which uses a textarea in place of text input and allows longer values.  I’ve used a wysiwyg with that in one of my projects.  I’m not sure if TextBlob is implemented for react yet (on mobile so can’t easily look)

[2018-05-14 08:59] #7596 closed

[2018-05-14 09:07] jdubois commented on #7060
Thanks @Dufgui - I didn't spend enough time on this, and this has been opened for way too long!! Now I really would like to have this configuration, but I have no idea how to answer your questions - that depends on the use case, of course. So the problem is that this might make things much more complex, and I don't think one-to-one relationships are very popular...
In that case I would keep the cu

[2018-05-14 10:03] cloudhuang commented on #7590
@deepu105 only need enable webpack maven profile in application.

[2018-05-14 10:19] Tonterias opened #7621 "Small Change: Increase the definition of JDL snapshot png files"
##### **Overview of the issue**

Increase the definition of JDL snapshot png files, because when the JDL is big and you open the png file you can not see anything in the entities and the image is useless.

##### **Motivation for or Use Case**

Since the graph that is shown in the JDL-Studio can not be moved around (at least in Chrome) it is quite difficult so see the edges of the graph.

![jhipste

[2018-05-14 11:25] yatendragoel opened #7622 "Exception while packaging for prod profile"
##### **Overview of the issue**

Application package command throws an exception.

##### **Reproduce the error**

    ./mvnw -Pprod clean package -Dmaven.test.skip=true

  **Note:** The above commands works fine with the `dev` profile

##### **JHipster configuration**

Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipste

[2018-05-14 11:38] gmarziou commented on #7622
I have been unable to reproduce with your .yo-rc.json and entity definition. Have you modified something like dependency versions, it looks like an error related to guava lib.

[2018-05-14 11:38] jdubois commented on #7622
Thanks, that's a pretty strange issue - is your project stored in Git? Otherwise, it looks like a Maven issue, could you delete your `.m2/repository` folder and try again?

[2018-05-14 12:33] jdubois commented on #7620
Anyway we have nearly 50 opened tickets, we just don't have the bandwidth to do this at the moment

[2018-05-14 13:01] gomesp commented on #7620
Thanks for the feedback @ruddell and @jdubois. While I appreciate how busy you're, I believe this would be a great feature request for a first time OSS contributor if tagged like that.

I am thinking of submitting more PRs to the project myself, and would love the chance to work around the edges to begin with, i.e. on issues like this one.

I decided to submit a feature-request beforehand to gauge

[2018-05-14 13:02] tibistibi commented on #7060
the idea is that its is used in a B extends A situation. like with users. You have a base user and then you have clients and employee's which are extensions on the base users.
not for one-to-one relations like B has an A like a users has an address.

so i would say
1) nullable should not be an option. it is meant to be an id so a null id would be a strange situation
2) multiple one-to-one I would

[2018-05-14 13:09] jdubois commented on #7620
Oh sorry @gomesp - yes if you are ready to do the PR it's totally different, that doesn't take any bandwidth on our side. Unless we all fight on the rich text editor, which hopefully won't happen :-)

[2018-05-14 13:10] sendilkumarn commented on #7620
@gomesp go for it 👍

[2018-05-14 13:10] jdubois commented on #7620
And don't forget we need to implement both Angular and React, and that can be quite a huge job

[2018-05-14 13:12] gomesp commented on #7620
Thanks. I'll keep this issue open and post a few suggestions for both angular and react, and if the team likes them I'll implement them. 👍

[2018-05-14 13:57] warnonphilippe commented on #7328
I created new projects in 4.14.4, redirection to keycloak is ok. In the code, the return statement causing the error has already been removed.

[2018-05-14 13:57] #7328 closed

[2018-05-14 14:52] BurningFist opened #7623 "import-jdl DatabaseType is mandatory"
##### **Overview of the issue**

We want to use the application feature of JDL 2.0. We upgraded to Version 5 beta1 and  added the application section from the example on the website.
This is our directory tree:
[code]

But running `jhipster import-jdl model/model.jdl --force --debug` on the root, the outputs is:
[code]

Running `jhipster import-jdl ../model/model.jdl --force --debug` on the gatewa

[2018-05-14 14:55] jdubois commented on #7623
Sorry, I know this is broken cc @deepu105 @MathieuAA - we need to remove the documentation for the moment, this is misleading.

@BurningFist it's probably not very complicated to have this working, but we just don't have the bandwidth at the moment... Tomorrow we have 1 day to work on JHipster at my company, we'll see if we can help.

[2018-05-14 14:58] warnonphilippe commented on #7331
@mraible I still see this class in the code posted on github.

public class CachedUserInfoTokenServices extends UserInfoTokenServices {

    private final Logger log = LoggerFactory.getLogger(UserInfoTokenServices.class);

    public CachedUserInfoTokenServices(String userInfoEndpointUrl, String clientId) {
        super(userInfoEndpointUrl, clientId);
    }

    @Override
    @Cacheable("oAuth2Au

[2018-05-14 14:59] warnonphilippe commented on #7331
@mraible I still see this class in the code posted on github.

public class CachedUserInfoTokenServices extends UserInfoTokenServices {

private final Logger log = LoggerFactory.getLogger(UserInfoTokenServices.class);

public CachedUserInfoTokenServices(String userInfoEndpointUrl, String clientId) {
    super(userInfoEndpointUrl, clientId);
}

@Override
@Cacheable("oAuth2Authentication")
public OA

[2018-05-14 15:07] MathieuAA commented on #7623
It's fixed in an unstable branch. I'll try to do a release when I have the time

[2018-05-14 16:46] Dufgui commented on #7060
Thanks @tibistibi It’s confirm what I am thinking. So I finish the dev and you will see if it’s enough simple @jdubois

[2018-05-14 18:46] MathieuAA commented on #7623
@jdubois You can focus on more important tasks, this one is almost done (and I'm quite confident about this).

[2018-05-14 18:52] jdubois commented on #7623
@MathieuAA yes but the issue is that I wanted to do a release tomorrow :-P
What could I do to help you release? Do you want to have lunch with the Ippon team tomorrow noon?

[2018-05-14 19:52] MathieuAA commented on #7623
@jdubois I won't be available until next week, I can only work remotely this week.
As you previously said, it's better to release v5 when you want, have minor/patch versions afterwards.
As I said, I'm nearly done but not done enough for tomorrow. There's a branch on JCore ("fix-application-gen"), with a fix for application generation. Basically, the issue is this:
  - the DocumentParser (the thing

[2018-05-14 20:11] csu6 commented on #3189
@deepu105 Did you find the solution for this error ?

[2018-05-14 22:41] sdharmadhikari commented on #7592
@deepu105 I thought the tip was vague because I did not expect there would be no information on options as well. For example, --db option, what it should be used for. Looks like "advanced users" means the one who know the source code already or would be ready to explore the code right away. Thanks.

@jdubois I was showing my teammates not to use jhipster.com and it was already gone ! Thank you !

[2018-05-14 23:53] amaziane commented on #5644
Hello Julien ,

I have the same problem as my collegues , and i don't know how i can fixe it ;
[ERROR] warning Resolution field "source-map@0.6.1" is incompatible with requested version "source-map@^0.4.2"
[INFO] [3/5] Fetching packages...
[INFO] info fsevents@1.2.3: The platform "linux" is incompatible with this module.
[INFO] info "fsevents@1.2.3" is an optional dependency and failed compatibili

[2018-05-15 02:13] rcsoyer opened #7626 "Doesn't work with Java 10"
##### **Overview of the issue**

I upgraded a Jhipster project of mine to use v5.0.0-beta.1.

After upgrading I tried to run `mvn clean install` to build the application. But the build failures, saying it doesn't  have the dependency `javax.xml.bind:jaxb-api`, even though the dependency is present in the POM. So trying to simplify, I created a new Jhipster project with no entities.

##### **Motiva

[2018-05-15 04:13] pascalgrimaud commented on #5644
Hi @amaziane
We don't know how to help you if we have 0 information about your config, your options, your environment etc.
Plz open a new issue with all required informations

[2018-05-15 05:58] pascalgrimaud commented on #3189
@csu6 : I can try to help but I need all your details to reproduce your issue. This issue happens frequently when there is error in configuration.

[2018-05-15 06:26] jihlee commented on #7425
Hi guys. I have an additional suggestion related to this update.
After @pmverma 's PR, entities generated from Jhipster cannot be created using PUT, but it would be possible if users changed their entities' ID generation strategy from auto-generated to others.

What I want to suggest is that controllers return 201 instead of 200 when some entities were generated from PUT request to follow RFC-4.3.

[2018-05-15 08:48] pascalgrimaud commented on #7551
I tested Node10 in our Hipster-Labs, here all the builds:
https://travis-ci.org/hipster-labs/jhipster-travis-build/builds/378394590

So I confirm, with Node10, it failed for 3 configs, with the same error mentionned by Matt

[2018-05-15 08:52] jdubois commented on #7626
@rcsoyer I feel bad about this, because you clearly spent some time on this, and I already knew all this :-(

There has been a vote (a Twitter poll, in fact) some time ago, and it was voted to stay on LTS versions of Java, like we use LTS versions on NodeJS.

While it's a bit annoying to compile (we need some documentation in our tip's and tricks section on this, if anyone wants to pick this he is

[2018-05-15 08:52] #7626 closed

[2018-05-15 09:07] jdubois commented on #7425
@jihlee indeed, but then we would need to support different generation strategy, which we don't do at the moment... There has been several times people asking to support UUID, and I was definitely against it, but time has passed and now I think this could have been a good idea for some specific use cases.
So that would be a specific question when generating an entity, and it might be a bit complex

[2018-05-15 09:09] PierreBesson commented on #7551
@pascalgrimaud, It looks like this is a Yarn bug that got fixed just today !
See: https://github.com/yarnpkg/yarn/issues/5477
And the fix: https://github.com/yarnpkg/yarn/commit/546a1576edbf701021ce65e3dd8daff267083f52
It seems the issue lies with V8-compile-cache that an API deprecated in Node 10 https://github.com/zertosh/v8-compile-cache/commit/f6f5dfa217c55ddda5e950a08751d943d4cb2833

[2018-05-15 09:14] pascalgrimaud commented on #7551
Oh ok, let's wait the next release of Yarn

[2018-05-15 09:25] PierreBesson commented on #7551
OK so this is going to get fixed in the next version of yarn, it displays a lot of warning every time you run yarn but is only a blocker for `yarn e2e`.

However the issue from stackoverflow is a different one. It is caused by node-saas trying to recompile itself. And indeed this does not work in Heroku as you need a g++ toolchain.

[2018-05-15 09:34] csu6 commented on #3189
I don't really understand this error, it doesn't work on my windows 7 laptop, and it's work well on my windows 10 laptop...
So on my windows 7 Enterprise i have: node : v8.11.1 / yarn : 1.6.0 / java 8

I follow this tutorial http://www.baeldung.com/jhipster-microservices , with 1 microservice, 1 gateway, with a simple entity: car  { name: String }

I see the microservice and gateway instances on m

[2018-05-15 09:37] csu6 commented on #3189
@pascalgrimaud thanks you for you help, i have the same config on my 2 laptop, except the microservice port, i use 8083 for the laptop that is causing this error.

[2018-05-15 09:40] PierreBesson commented on #3189
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2018-05-15 09:41] PierreBesson commented on #3189
@csu6 Please post on Stackoverflow, we will answer you there.

[2018-05-15 10:05] PierreBesson commented on #7620
I personally would love to have this feature using either:
- https://ckeditor.com/
- https://quilljs.com/
- https://www.froala.com/wysiwyg-editor
- https://alex-d.github.io/Trumbowyg

But ideally this would use a pre-made react/angular directive and so it might be hard to maintain. Ideally this could be a blueprint that replace our textarea with the WYSIWYG editor.

[2018-05-15 10:05] jdubois commented on #7586
Sorry @thainan10 I thought you wanted the database column to be non-nullable, not the Java field to be nullable.

[2018-05-15 10:11] jdubois commented on #7623
Thanks @MathieuAA - I'll revert the documentation temporarily and link it here.

Sorry @BurningFist I thought this was working fine, but it's not ready yet.

[2018-05-15 10:14] pascalgrimaud commented on #7551
So after our discussion, at Ippon, I think we agree on:
- keeping Yarn as default and still support both: Yarn and NPM (stay like today)
- supporting Node LTS, and have an eye on Node 10, I just added a daily build for this [node-latest branch](https://github.com/hipster-labs/jhipster-travis-build/tree/node-latest)

[2018-05-15 10:14] #7551 closed

[2018-05-15 10:19] jdubois commented on #7623
Closing as the documentation is reverted

[2018-05-15 10:19] #7623 closed

[2018-05-15 11:19] gmarziou commented on #7620
primeng's editor component uses Quill

[2018-05-15 11:30] thainan10 commented on #7586
That's ok. In this case, I have to change the liquibase script to make the password field non-nullable.
I'll do it and submit a PR. That's ok?

[2018-05-15 12:19] rcsoyer commented on #7626
Yeah man, I really spent some time hehe.

About the LTS, I saw it announced in some media vehicules, and as stated in [here](https://blogs.oracle.com/java-platform-group/update-and-faq-on-the-java-se-release-cadence) by Mark Reinhold, that no longer will be major JDK releases. So seems to be a misunderstanding, if you say you're going to wait major/LTS releases of Java, because there won't be it a

[2018-05-15 12:44] jdubois commented on #7626
No, there will be LTS versions of Java: Java 8 was LTS, and the next one is Java 11. So we'll support Java 11 when it is released. This is basically the same thing as NodeJS (Node 8 is LTS, not Node 9 or Node 10).

So we're just staying with LTS versions, both for Java and NodeJS, and at least we'll support them. We just can't support all non-LTS versions, it's far too much work for us.

Now, noth

[2018-05-15 12:59] rcsoyer commented on #7626
My mistake there'll be no major releases, but LTS will continue to exist.

[2018-05-15 13:07] jdubois commented on #7621
This is rendered by the browser, using https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL so I'm not sure we can do anything here, let me check

[2018-05-15 13:13] jdubois commented on #7621
Oh you need to zoom in: it generates the image using the size of the canvas in the browser.
So if you want a bigger image, zoom in :-)

[2018-05-15 13:13] #7621 closed

[2018-05-15 13:15] jdubois commented on #7622
I also can't reproduce.... @yatendragoel I'm taking the liberty to edit your issue, as you pasted your JWT secret key! Please follow our guidelines, the `jhipster info` command removes sensitive information for you!

[2018-05-15 13:16] jdubois commented on #7622
Closing as we can't reproduce, @yatendragoel if you have more information like in my comment yesterday, please post them here and I'll reopen.

[2018-05-15 13:16] #7622 closed

[2018-05-15 13:16] #7605 closed

[2018-05-15 13:26] pascalgrimaud commented on #7609
Closing this, as it seems resolved :)

[2018-05-15 13:26] #7609 closed

[2018-05-15 13:34] yatendragoel commented on #7622
The issue was with the corrupted `guava` jar in my local maven repository. I deleted it and ran it again and it worked.

[2018-05-15 13:34] jdubois commented on #7542
OK @ruddell you are correct, but it's really to understand this when you read the original ticket! It's an issue with the admin module which doesn't get the correct language at some point

[2018-05-15 13:36] yatendragoel commented on #7622
Thanks @jdubois for removing the JWT secret key. I had removed almost every information that I thought should be removed but somehow forgot to remove that JWT token.

[2018-05-15 13:39] jdubois commented on #7622
Oh great, thanks for commenting @yatendragoel

[2018-05-15 13:56] #7542 closed

[2018-05-15 13:56] jdubois commented on #7542
Fixed, thanks everyone :-)

[2018-05-15 14:31] wmarques commented on #7458
@deepu105 @JulioJu I think this is done in #7582

[2018-05-15 18:26] sendilkumarn commented on #7620
yeah, also it is kinda important to check on the bundle sizes after adding this.

[2018-05-15 21:48] jdubois commented on #7620
Oh sorry but @sendilkumarn has a very good point here: initially, with AngularJS 1, I didn't want to have this, as this would make much bigger production builds. I'm not sure is this would be solved with tree shaking for Angular and React - I'm not the best person for this, unfortunately.

But if this can't be "tree shaked" when it's not used, then this costs much more than what we gain, and in th

[2018-05-16 00:19] henri-tremblay opened #7638 "yarn global upgrade generator-jhipster fails on node 10"
##### **Overview of the issue**

When running the upgrade on from  4.14.3 to 4.14.4 it failed on the following error (with many deprecation messages)

[code]

##### **Reproduce the error**

Launching the command with

node: v10.1.0
yeoman: 1.8.5
yarn: 1.6.0

shoud reproduce the issue.

##### **Related issues**

They seem to have the same issue in prettier/eslint-plugin-prettier#91

##### **JHipste

[2018-05-16 00:43] tianlinzx opened #7639 "Feature request: Use Ant Design as React UI Library instead of reactstrap"
##### **Overview of the feature request**
Use Ant Design as React UI Library instead of reactstrap

Use Ant Design as React UI Library instead of reactstrap. Ant design have more components than reactstrap.
https://github.com/ant-design/ant-design
##### **Motivation for or Use Case**
For the rich component and better look&feel , I suggest to use  Ant Design as React UI Library instead of reactstra

[2018-05-16 01:45] mraible commented on #7639
Send us a PR and we’ll consider it.

[2018-05-16 03:18] gomesp commented on #7620
@jdubois I'll take that into consideration when I start looking at it (probably over the weekend). So, what I am going with so far in terms of project direction is:

* Let's try QuillJS
* If the users don't want to add any rich-text field, the library must not be packaged with the produced app

[2018-05-16 04:14] jdubois commented on #7620
Yes, perfect!

[2018-05-16 04:47] jdubois commented on #7639
I don't think you imagine the amount of work needed, probably more than 1 year... that's just not possible

[2018-05-16 04:47] #7639 closed

[2018-05-16 04:49] jdubois commented on #7638
Yes can you check we already have a ticket on Node 10 (I'm closing this one as a duplicate).
As always we can only support LTS versions, the other releases are just too unstable.

[2018-05-16 04:53] #7638 closed

[2018-05-16 05:59] pascalgrimaud commented on #7639
I think it can be a [module](https://www.jhipster.tech/modules/creating-a-module/) or a blueprint (you can have a look at [kotlin blueprint](https://github.com/jhipster/jhipster-kotlin))

[2018-05-16 06:45] gmarziou commented on #7639
It's well documented though their code contains comments in Chinese like [here](https://github.com/ant-design/ant-design/blob/master/components/modal/confirm.tsx#L21)

[2018-05-16 06:49] henri-tremblay commented on #7638
Sorry, I failed to find the other issue. Note that if I'm correct, Node 10 will be LTS in October.

Then, since node 10 is now the default version of brew, you might want to document that node@8 should be used. I had to do the following after the node update:

[code]

[2018-05-16 06:56] pascalgrimaud commented on #7638
You're right @henri-tremblay : we should document it.
Can you do a PR for that? As you know all exact steps

@PierreBesson mentionned [this](https://github.com/jhipster/generator-jhipster/issues/7551#issuecomment-385738446) too:

brew link --force node@8
brew install yarn --without-node

[2018-05-16 07:03] jdubois commented on #7638
Even worse, I've spent some time trying to automate this in our [Homebrew formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/jhipster.rb), but I have no idea how to do it... So indeed that's really not good at the moment.
Best solution would be to support Node 10

[2018-05-16 07:14] pascalgrimaud commented on #7638
Yes it would be the best solution, to support Node10 too

[2018-05-16 07:39] henri-tremblay commented on #7638
@pascalgrimaud Yes. I've seen it. I'm not an expert. I'm not sure I need to unlink for instance. It's not harmful for sure though.

Then, there are 2 use-cases:
1- You install for the first time. In that case you do

[code]

2- You are hit by a brew update that breaks everything. In that case you do (assuming I don't need to unlink

[code]

[2018-05-16 07:40] henri-tremblay commented on #7638
In order to document correctly, what is broken? yarn on node 10 or generator-jhipster on node 10?

[2018-05-16 09:08] JulioJu commented on #7458
@wmarques sorry, the last month I was less time was I thought. If it's done, it's so cool :-).

[2018-05-16 12:05] contemmcm opened #7641 "Success alerts not displaying in Firefox using production profile"
##### **Overview of the issue**

When running jhipster app in production mode, success alert messages do not show up properly in Firefox. However, in Chrome everything looks fine.

When running in dev mode, both browsers present the messages correctly.

###### Chrome

![captura de tela de 2018-05-16 08-40-38](https://user-images.githubusercontent.com/14226825/40115361-8d1e0cba-58e6-11e8-990e-c0afb

[2018-05-16 12:27] jdubois commented on #7641
Is this related to #7615 ?

[2018-05-16 12:53] contemmcm commented on #7641
Surely the OS and dev/prod symptom is similar, but in #7615 the problem seems to occurs in both browsers (Firefox and Chrome), where in the present issue the problem is related to Firefox only. Besides, we are dealing with different components.

[2018-05-16 13:28] PierreBesson commented on #7638
@henri-tremblay For me JHipster on node 10 works OK since I upgraded saas but yarn does have an issue that is fixed in their current master so it should arrive in v1.6.1.

@jdubois I have found the way to fix the JHipster homebrew formula, we have to change those lines :
[code]

As explained in https://docs.brew.sh/Formula-Cookbook :

This will let users do: `brew install jhipster --without-node -

[2018-05-16 13:29] jdubois commented on #7641
I confirm the issue, even with JHipster 5 (using ng-bootstrap 2.0). This only happens with Firefox and in prod mode.

[2018-05-16 15:09] henri-tremblay commented on #7638
@PierreBesson I tried to find the yarn roadmap but they don't seem to have one. However, we can probably assume it should be out soon. So a documentation PR might not be that necessary.

[2018-05-16 19:07] fbbnenas2 commented on #1113
@hcouplet your solution works fine for my business case, but i'm having some problems with Elasticsearch. Whould you haved some problems with this search engine?

[2018-05-17 03:09] deepu105 commented on #7638
I guess we can see if we can support both node 8 and node 10

On Wed, 16 May 2018, 9:09 pm Henri Tremblay, <notifications@github.com>
wrote:

[2018-05-17 03:10] deepu105 commented on #7641
Thats very strange

On Wed, 16 May 2018, 7:29 pm Julien Dubois, <notifications@github.com>
wrote:

[2018-05-17 08:00] FireWolf2007 commented on #7124
error.Min/error.Max on inputs with nulls allowed.
JH 5.0.0.beta1

Example https://github.com/FireWolf2007/hockey-match
Reproduce: Create team1, team2, tournament1.
On creating game with "Goals Team 1" == -1 we have "translation-not-found[error.Min]"

[2018-05-17 11:50] jdubois commented on #7641
My awesome trainees @agaspardcilia @chrisdns are on it :-)

[2018-05-17 13:12] jdubois commented on #7478
This is fixed with https://github.com/jhipster/jhipster/pull/67 so I'm closing this

[2018-05-17 13:12] #7478 closed

[2018-05-17 14:11] #7463 closed

[2018-05-17 14:34] MathieuAA commented on #7463
I'll make sure this gets fixed for the JDL

[2018-05-17 15:06] jdubois commented on #7463
Thanks @MathieuAA !!

[2018-05-17 15:26] pascalgrimaud commented on #7478
thanks @juliensadaoui !!!

[2018-05-17 17:13] malikfaizanhaider commented on #7085
Same issue with response.json() that is deprecated in Angular6. Any soloution?
`getRecipes() {
    this.httpClient.get('https://ng-recipe-10b53.firebaseio.com/recipes.json')
      .subscribe(
        (response: Response) => {
          const recipes: Recipe[]  = response.json();
          this.recipeService.setRecipes(recipes);
        }
      );
  }`

[2018-05-17 17:38] fbbnenas2 commented on #1113
I can solve my issue using ElasticSearchTemplate. I've builded SearchQuery and IndexQuery specifieing my current tenant for each index. Thanks!

[2018-05-17 20:02] ruddell commented on #7305
Validation returns the exact annotation that the validation failed on as the translation key, so this is broken for `Min`, `Max`, `DecimalMin`, and `DecimalMax`.  You don't normally see this issue because the client-side validation usually prevented it from happening until Angular broke min/max, but it affects very old versions (reproduced with v4.7.0)

This simplest fix would be to change the cod

[2018-05-18 12:35] jdubois commented on #7641
Closing as #7653 is merged (and I tested and I confirm it works!! Kudos to @agaspardcilia @chrisdns  )

[2018-05-18 12:35] #7641 closed

[2018-05-18 12:37] #6860 closed

[2018-05-18 13:45] ruddell commented on #7458
Fixed in the Angular 6 migration

[2018-05-18 13:45] #7458 closed

[2018-05-18 15:42] hdurix opened #7654 "Couchbase: Integration tests not launched with last JHipster dependency version"
##### **Overview of the issue**

Integration tests with Couchbase can not be launched: an error of a refused connection is thrown.

The stacktrace is:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

- Generate a project with Couchbase as database from the master branch.
- Run tests `./mvnw test`

The error is not reproduced when using Travis (the last build is [ok](ht

[2018-05-18 17:42] pascalgrimaud commented on #7654
@hdurix : I suppose you already start a Couchbase database ?

In that case, it's normal, as the tests need to start a Couchbase container and it will conflict if there is already one. I mentionned it here: https://github.com/hipster-labs/jhipster-travis-build/issues/2#issuecomment-343761216

That's why in Travis build:
- first, get the Couchbase image: https://github.com/jhipster/generator-jhipste

[2018-05-18 17:45] jdubois commented on #7654
I don't know for @hdurix but I did start my container before running my
test :-(

Le ven. 18 mai 2018 à 19:42, Pascal Grimaud <notifications@github.com> a
écrit :