[2017-05-21 22:31] #5804 closed

[2017-05-22 07:26] lukasw44 commented on #5752
So when access token expire, and we are asking for new one then we should send new refresh token too ?
Or keep refresh token until he expire  ?

[2017-05-22 09:02] jdubois commented on #5794
I would also like to add the "business type" of data, so we can use https://github.com/marak/Faker.js/ to generate fake data.
My main issue is that if we add too many of those, it's going to be very complex to maintain

[2017-05-22 10:05] hamark opened #5805 "Gateway generation : Unit test failed on windows"
##### **Overview of the issue**

After generating a gateway via Jhipster 4.5.1, I run the following command on a windows system

`mvnw package`

Unfortunately I have the result  :

[code]
##### **Suggest a Fix**

Using File.separator instead of "/" in the unit test `WebConfigurerTest.testCustomizeServletContainer`

[code]

##### **JHipster Version(s)**

4.5.1

##### **JHipster configuration**

[co

[2017-05-22 10:07] jdubois commented on #5805
That really depends on the options you selected, could you **please** follow the guidelines and post your `.yo-rc.json`

[2017-05-22 11:46] jdubois commented on #5172
This has been opened for way too long, and our list of tickets is growing too big - I'm closing this as I understand there was some kind of solution, and as no work is being done here.

[2017-05-22 11:46] #5172 closed

[2017-05-22 11:47] jdubois commented on #5174
I'm not totally sure this is done, but this has been stucked for a very long time, with no work being done, so I'm closing this.

[2017-05-22 11:47] #5174 closed

[2017-05-22 11:48] jdubois commented on #5173
Looks like this is being done in #5603 and this has been opened for way too long, so I'm closing this

[2017-05-22 11:48] #5173 closed

[2017-05-22 11:50] reywyn opened #5807 "Entity sub-generator cannot be used in a microservice without a database"
##### **Overview of the issue**

Entity sub-generator fails in a microservice project created without a database; gives the following error:
[code]

##### **Motivation for or Use Case**

I have a microservice application where I don't have a database, because the data will come through external REST API endpoints. I still want to use DTOs and handle my business logic in service layer. I want JHips

[2017-05-22 11:57] hamark commented on #5805
I have updated the issue

[2017-05-22 12:02] jdubois commented on #5807
I'm sorry but we can only generate entities if there is a database. We rely on the database for the back-end calls, the field types, the relationships, the validation... So if you remove the database we can't generate anything.

The "no database" option is also for people using something very different from a traditional database, so typically this doesn't match the options we have for a database.

[2017-05-22 12:02] #5807 closed

[2017-05-22 12:03] jdubois commented on #5551
@erikkemperman looks like you stopped working on this? I'm closing this as it looks stucked, don't hesitate to comment or re-open if you still want to do it.

[2017-05-22 12:03] #5551 closed

[2017-05-22 12:06] jdubois commented on #5799
Would that be a competitor to SonarQube? In that case we should also propose the Sonar option, they've been very nice to us.
It could also be a module, I'm afraid we're going so much options here...

[2017-05-22 12:09] erikkemperman commented on #5551
@jdubois Yes, sorry for not mentioning it here, but I've been occupied with various other things lately. If/when I find time to get back to this (which I still think might be a decent idea) I will re-open the issue.

[2017-05-22 12:13] pascalgrimaud commented on #5799
We already support Sonar Analyzis in CICD sub gen.
It would be an additional support here.

No worry, I will do a module for now, we'll see later if it's popular, to
integrate it here.

So let's close this.

Le 22 mai 2017 2:06 PM, "Julien Dubois" <notifications@github.com> a écrit :

[2017-05-22 12:13] #5799 closed

[2017-05-22 12:16] jdubois commented on #5799
Oh, I didn't know about Sonar, sorry!

[2017-05-22 12:24] jdubois commented on #5801
Perfect @clun !!
I'm closing this as it's going to be a module, but don't hesitate to comment or ping us.
For the Paris JHipster User Group, I'll contact you - I still need to find the date & place, but that should be easy.

[2017-05-22 12:24] #5801 closed

[2017-05-22 12:31] Metavirulent commented on #5752
@lukasw44 good point. Refresh tokens won't be reused because they now get a standard "iat" claim holding the UTC timestamp in seconds when they have been created. This is used for session inactivity timeout. If we reuse the refresh tokens, then you'll eventually run into the timeout even though you have been active.

If you don't plan to use session inactivity timeout, then reuse is possible but b

[2017-05-22 12:36] tezcane commented on #5805
I had done the same exact as mentioned in the suggested fix and can confirm it works on Windows 10 now.

[2017-05-22 12:37] deepu105 commented on #5805
could you please submit a PR?

[2017-05-22 12:38] jdubois commented on #5805
Yes that would be great, as we don't have Windows!

[2017-05-22 12:39] tezcane commented on #5805
I will wait for @hamark , if he doesn't do PR.  I will.  My issues are stacking up again... no time!

[2017-05-22 12:48] jdubois opened #5808 "UnsatisfiedDependencyException on UserResourceIntTest when running inside Intellij IDEA"
This was introduced by https://github.com/jhipster/generator-jhipster/commit/9382350efc44e70c036373e2a8bff258047d44e4 from @cbornet

There is no issue when running the tests with Maven, but with Intellij IDEA we have errors when running `UserResourceIntTest`:

    org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'com.xxx.web.rest.UserResourceIntTest':

[2017-05-22 12:49] pascalgrimaud commented on #5801
@jdubois : before summer holidays plz ;-)

[2017-05-22 12:53] tezcane commented on #5808
I see this too. If I run the maven test it generates the mapped files, then I can run the idea tests without errors after that (temp workaround)

[2017-05-22 12:54] jdubois commented on #5808
Of course this works if you use the "IDE" profile, see the last section of https://jhipster.github.io/configuring-ide-idea/

But that's not really easy-to-use for people starting with JHipster.

[2017-05-22 13:05] jdubois commented on #5808
An easy solution would be to replace the use of MapStruct for the UserMapper, by writing the code directly.
It's less elegant, but it would solve the issue, and remove the need for MapStruct in a "normal" project, which I find good.

[2017-05-22 13:10] hamark commented on #5805
I'm going to do a PR today

[2017-05-22 14:15] tezcane commented on #5808
drop into User.java?

[code]

[2017-05-22 15:33] #5778 closed

[2017-05-22 16:06] Falydoor opened #5809 "Enum's values are not displayed correctly with a "_""
##### **Overview of the issue**

Enum with a "_" in their values will display wrong text when using angular 4 and no translation.
![image](https://cloud.githubusercontent.com/assets/2212267/26317843/d61501dc-3ee6-11e7-9308-544e786fef70.png)

##### **Motivation for or Use Case**

An error is displayed instead of the value of the enum.

##### **Reproduce the error**

Use the jdl below to generate th

[2017-05-22 16:10] jdubois commented on #5809
Yes I confirm the issue, I got it last week but didn't have time to create the ticket!

[2017-05-22 19:00] xetys commented on #5174
I would suggest adding an ingress question. I'm always copy-pasting that from other sources, as we don't provide that option.

Is it ok, if I re-open that with that update?

[2017-05-22 19:03] tezcane opened #5810 "email domain extensions are missing in many places"
##### **Overview of the issue**

Emails in many unit tests and default DB (users.csv file) look like:
john.doe@localhost
instead of:
john.doe@localhost.com

##### **Motivation for or Use Case**

This is scary since many things WILL go wrong if we are not properly testing for real emails in our unit tests and other areas of the code.  Imagine you write lots of logic around handling emails (which is

[2017-05-22 19:47] ruddell commented on #5810
While it may seem weird, I'm pretty sure `admin@localhost` is a valid email address according to the spec ([RFC 5322](https://tools.ietf.org/html/rfc5322), see sections 3.4.1). HTML5 email validation follows that spec and also allows `admin@localhost`.

I'm not sure what the best move here is.

[2017-05-22 19:54] vw98075 opened #5811 "Error During A Upgrading - Angular2"
##### **Overview of the issue**

I can't upgrade to the 4.5.1 version due to an error shown in the followings:

~/jh/sampleentitymodel $ yo jhipster:upgrade
Welcome to the JHipster Upgrade Sub-Generator
This will upgrade your current application codebase to the latest JHipster version
Looking for latest generator-jhipster version...
New generator-jhipster version found: 4.5.1
Initialized a new git

[2017-05-22 20:03] pascalgrimaud commented on #5174
I'm ok, if someone works on it

[2017-05-22 20:08] jdubois commented on #5810
Yes, I often use "root@localhost", it's quite typical on Linux, at least for me...

[2017-05-22 20:10] Metavirulent commented on #5805
I noticed that too and it is fixed with PR #5812...

[2017-05-22 20:21] jdubois commented on #5810
After checking, I'm sorry but I don't agree with you:

- "root@localhost" is valid, and used quite often (MySQL users use it, as well as many other libraries)
- It's a nice way of testing on a local machine, as you get the mails directly
- Pointing to a domain we don't own, like "localhost.com", is really not nice to the person owning the domain. Trust me, I have a very common name in France, and

[2017-05-22 20:21] #5810 closed

[2017-05-22 20:45] poolebu commented on #5637
Hello,

I got the same error when updating from 4.3 to 4.5.1

[code]

[2017-05-22 20:54] poolebu opened #5813 "error when updating from 4.3 to 4.5.1"
##### **Overview of the issue**

 error when updating from `4.3.0` to `4.5.1` using `yo jhipster upgrade`

[code]

##### **Motivation for or Use Case**

Ran `yo jhipster upgrade`, dont need any of the new features, just don't want to lag behind.

##### **Reproduce the error**

Do a  `yo jhipster upgrade` from a 4.3 project

##### **Related issues**

#5649

##### **Suggest a Fix**

Cant' find any.

[2017-05-22 21:45] Metavirulent opened #5814 "CSRF Protection for Everybody"
* **Overview of the request**

The JHipster security page mentions in the section **CSRF Protection** that Angular and Spring Security both have CRSF protection but they don't work together and they have been reconfigured to correctly work together. This seems outdated, as they work together nicely. However, even worse, taking a closer look, it's not possible to find out how JHipster tries to acco

[2017-05-22 22:07] ruddell commented on #5814
I'll start this out with saying I'm not the most familiar with the security aspects.

I thought the reason CSRF is only present for Session auth is that it is the only auth type that uses cookies.  Doesn't CSRF depend on the use of cookies? Another site can make a request to your JHipster app's API, but without the JWT token (stored in local storage thus inaccessible) it shouldn't matter?

Thanks

[2017-05-22 23:01] jdubois commented on #5814
Indeed, it's only done for stateful authentication, as it's the only mechanism where CSRF attacks should be possible.

@Metavirulent did you find a way to do a CSRF attack with our JWT authentication mechanism? We shouldn't use cookies at all, but who knows...

And indeed, you're probably the first one to tell us of doing such a review, and I spent a lot of time on this, so it's good not to be alo

[2017-05-22 23:17] Metavirulent commented on #5814
I was probably getting ahead of myself, since I just submitted PR #5812 today, CSRF will be a requirement once that one will be merged in. I probably should have included it in that request anyway. I'll update the PR.

[2017-05-23 04:43] yfain opened #5816 "Registration of a new user fails"
I just generated a new app (Angular 4) using JHipster 4.5.1 and started the app with ./mvnw. Opened localhost:8080 and selected the menu Account | Register. Filled out the form and got the message that the registration email was sent, but I never received any emails. Opened the Chrome browser console and it shows errors (see attached).
<img width="1258" alt="jh" src="https://cloud.githubuserconten

[2017-05-23 05:06] tezcane commented on #5810
I am aware the spec allows no domains, but that is not my concern.  My main concern is not testing proper/common email addresses we will actually see by users**.  So, I think what a solution here (so we are all happy) is to ensure the unit tests test exist for both @localhost and @localhost.com formats** (duplicate certain tests or make them functional to take email as a param).  There is no telli

[2017-05-23 06:07] jdubois commented on #5816
If you're in dev mode and didn't configure a mail server, the message will be available in the console.

[2017-05-23 06:53] Venkatesh1990TCS opened #5817 "HttpOnly in JSESSIONID and hazelcast.sessionId"
Can anyone explain how to set HttpOnly flag in JSESSIONID and hazelcast.sessionId for response headers in Jshipter Generated project?

[2017-05-23 06:55] deepu105 commented on #5817
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-05-23 06:55] #5817 closed

[2017-05-23 07:37] Venkatesh1990TCS opened #5818 "HttpOnly and Secure in JSESSIONID and hazelcast.sessionId in Jhipster project"
* **Overview of the request**

How to set HttpOnly and Secure in JSESSIONID and hazelcast.sessionId in Jhipster project

* **Motivation for or Use Case**

As one of the feature in this project uses email(Java mail) to send out mails to end users. And also a response is recorder from the mailbox back to the application via a rest call.

Hence an internet based URL has been hard coded in the email c

[2017-05-23 07:51] jdubois commented on #5818
Isn't this a duplicate from #5818 ? Sorry I'm lost here

[2017-05-23 07:57] deepu105 commented on #5818
@Venkatesh1990TCS  as I said already this is not a bug or feature request and hence this is not the correct forum for this.
Please use Stack overflow for this. Tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster) and someone will help you out there.

This helps us to keep issue tracker clean. Also stack overflow will give your query a larger audience.

[2017-05-23 07:57] #5818 closed

[2017-05-23 08:44] jdubois commented on #5814
Thanks @Metavirulent -> then I'm closing this, and I'll answer you on the PR, as it seems to have everything included

[2017-05-23 08:44] #5814 closed

[2017-05-23 08:49] gmarziou opened #5820 "Generation hung on Windows due to notification"
##### **Overview of the issue**

Seen on Windows 7: when generating a new app with `yo run jhipster` the generation never ends it seems to hang on html-webpack-plugin, in fact there a notification icon (yellow bubble) opened in the system icon tray. When you click on the icon, the generation finsishes.

This does happen with Angular 4 but not with Angular 1, so maybe related to webpack.

I'll try

[2017-05-23 09:07] Ckram commented on #5813
You can delete the jhipster_upgrade (git branch -d jhipster_upgrade) branch and retry yo jhipster:upgrade.

It worked for me

[2017-05-23 09:17] ttardy opened #5823 "LoggingAspect not working"
##### **Overview of the issue**

The generated `LogginAspect` is not working.

##### **Motivation for or Use Case**

Log information about method calls is very helpful.

##### **Reproduce the error**

Can be reproduced by using the [jhipster-sample-app](https://github.com/jhipster/jhipster-sample-app) and start it as documented with the dev profile active.

##### **Related issues**

#2262 - Minor

[2017-05-23 09:22] jdubois commented on #5823
I confirm the issue, and this comes from #5715 - @Metavirulent as it's your code, can you have a look? It seemed OK to me

[2017-05-23 09:27] #5809 closed

[2017-05-23 09:32] jdubois commented on #5823
OK, this is because @annotation works at the method level, and not the class level

[2017-05-23 09:35] ttardy commented on #5823
Should this be changed back to
`@Pointcut("(within(<%=packageName%>.repository..*) && bean(*Repository))"+
" || (within(<%=packageName%>.service..*) && bean(*Service))"+
" || (within(<%=packageName%>.web.rest..*) && bean(*Resource))")
`

[2017-05-23 09:37] jdubois commented on #5823
@ttardy no, that would force to name the beans specifically, using the annotation provides type-safety. I'm having a look at this.

[2017-05-23 09:38] ttardy commented on #5823
Or move the annotation restrictions to the two methods?

[2017-05-23 09:38] jdubois commented on #5823
I recoded it, using the annotation, let me do the PR

[2017-05-23 09:39] ttardy commented on #5823
Thanks!

[2017-05-23 09:42] #5823 closed

[2017-05-23 10:06] #5808 closed

[2017-05-23 10:06] jdubois commented on #5808
@cbornet this might lower our code coverage :-)

[2017-05-23 10:52] jdubois commented on #5810
I don't understand your issue with **@localhost** - and no you can't sell them, they are sent on your localhost...
Anyway, as the issue is the one of validation: I just checked, and we do use Bean Validation's `@Email` validation. So here again, we're not the ones doing the validation code, it just happens to be the standard Java validation mechanism, and this follows our [policy](https://jhipster

[2017-05-23 11:14] cbornet commented on #5808
@jdubois if that's the case it should be easy to cover. I didn't know the tests were supposed to pass on IDEA without the IDE profile. I always activate it. Are you sure tests for an entity with a required relationship on User do ?

[2017-05-23 11:27] jdubois commented on #5808
@cbornet I tested the relationships to the User entity, but that's some rather tricky code, I'm not guaranteeing this is perfect

[2017-05-23 12:51] JulienMrgrd commented on #5813
Problem not reproduced using the [jhipster-sample-app](https://github.com/jhipster/jhipster-sample-app) in 4.3.0 for upgrade to 4.4.1 neither 4.5.1. :confused:

[2017-05-23 12:59] poolebu commented on #5813
I tried deleting the branch, and running the CLI `jhipster upgrade` since I upgraded the generator and now it does not works without the `yo`. Got the same error. Should I downgrade the generator ? I'm new to this fantastic framework, don't know my way around yet.

[2017-05-23 13:19] JulienMrgrd commented on #5813
@poolebu Do you have a Git repository so that I can check this issue ?

[2017-05-23 13:29] poolebu commented on #5813
Yeah, will give you access in a moment. Thank you!

[2017-05-23 13:40] poolebu commented on #5813
My coworker sent you the invite @JulienMrgrd

[2017-05-23 14:17] jdubois commented on #5652
Yes we should prefix them with "Jhi"

[2017-05-23 19:33] yfain commented on #5816
Thank you for your response, but I've configured the mail server in application-dev.yml as follows (I enterd my email and pwd):

mail:
        host: smtp.gmail.com
        port: 587
        username: gmailuserid@gmail.com  #Replace this field with your Gmail username.
        password: ************           #Replace this field with your Gmail password.
        protocol: smtp
        tls: true

[2017-05-23 19:45] tezcane commented on #5810
I am fine with @localhost, it should remain there as is.  My concern is when a user begins adding email logic (new API's, modifies email code, acceptable email patterns, makes new unit tests, case sensitivity, email as login, etc.) then you will have many instances where adding the email domain extension to the unit tests will be necessary to test.

Can I do PR where, in addition to @localhost sty

[2017-05-23 19:49] #5816 closed

[2017-05-23 19:56] tezcane commented on #5808
I saw the IDE profile but had not clue what it does... I tried enabling it on failed unit tests in the past but it did not fix them (other issues at the time).  Documentation...

[2017-05-23 19:58] jdubois commented on #5808
Yes it's documented, and now fixed

[2017-05-23 20:04] gmarziou commented on #5820
Just tested on Windows 10 and could not reproduce.

[2017-05-23 20:05] tezcane commented on #5808
Are you talking about this doc?:
https://jhipster.github.io/profiles/

It does not provide much details or mention most of the current profiles, including IDE...

[2017-05-23 20:06] jdubois commented on #5808
No: https://jhipster.github.io/configuring-ide-idea/

Anyway that's fixed in the next release - I won't have time to do it before next week, anyway

[2017-05-23 20:10] deepu105 commented on #5810
I dont think we should add any actual email services in generated tests as we dont want spam any service as well. If you can write a test to mock that its fine as long you use a mock email id as well. If people want to test tis with actual services they need to change the tests

[2017-05-23 20:12] deepu105 commented on #5820
Its probably something to do with the windows 7 notification system. If you cant fix it I suggest we either document it or ignore it as windows 7 isn't main stream any more (only used in corporates mostly)

[2017-05-23 20:25] tezcane commented on #5810
The unit tests are mocked already, so would not be an issue... what would be the safest domain to use for unit tests (haha besides @localhost)

[2017-05-23 20:27] tezcane commented on #5810
On my machine this actually links back to my pc: http://www.localhost.com/

so @localhost.com is probably safe to use...

[2017-05-23 20:32] tezcane commented on #5820
You can just detect Windows 7 and avoid the command that hangs...

[2017-05-23 20:33] gmarziou commented on #5820
Yes, I know, unfortunately my colleagues are in this case and I have to convice our sys admin to either move them to Linux like myself or to Windows 10 ;)

Do you know which part could be responsible for this notification? Would it be in the generator itself or in the webpack part?

[2017-05-23 20:33] jdubois commented on #4794
- Lazy-loading would be cool, great work @Alwan  - but I see we also need to upgrade ngx-translate
- Our current Webpack build should separate dev builds (in `target/www/dev`) and prod builds (in `target/www/prod') so they don't get mixed up
- The prod build should put hashes everywhere (several files don't have hashes, like `vendor.dll.js`), and put them in a specific directory: let's keep the on

[2017-05-23 20:35] gmarziou commented on #5820
Good idea @tezcane

[2017-05-23 20:40] jdubois commented on #5820
There are 2 notifications (I coded both), but they use underneath the same lib (so probably it works the same for both).

- look for `WebpackNotifierPlugin` in webpack-common.js
- look for `notifyReporter` in karma.conf.js

[2017-05-23 21:07] gmarziou commented on #5820
Thanks, I have looked at the versions in yarn.lock and it seems that the related transitive deps are recent except for node-notifier, I'll try tomorrow.

[2017-05-23 21:09] gmarziou commented on #5810
example.org and example.com are reserved for documentations like RFC, so they could be good candidates.
https://www.iana.org/domains/reserved

[2017-05-24 05:30] atomfrede commented on #5799
Cool. But from my point of view sonar is much more powerful than codecov so no competition there. Let's do the module first!

[2017-05-24 06:09] deepu105 commented on #4794
@jdubois ill check those over the weekend.

1. Lazy loading is good but not a necessity so that can even wait if we are unable to merge it soon.
2. Btw why do you want them in separate folders? If we clean the www directory before prod build it works fine. Im doing the same with my prod app and works fine. It also simplifies packaging as we dont have to handle any profile specific stuff. Can you l

[2017-05-24 07:00] jdubois commented on #4794
- Forget about the separate folders - we have the same issue with Maven so
it won't solve everything. The issue is that I've seen people doing a prod
build, and as it takes time, start a dev server to continue working. Of
course it doesn't work well.
- Can we put all assets built by Webpack inside "/app"? I'll had cache
headers on the server-side, etc.
- We also need to upgrade Angular, I did a PR

[2017-05-24 10:10] Tcharl opened #5830 "[Proposal] Replace fluent API by the Builder pattern"
##### **Overview of the issue**

Fluent API is not that good: it does not really fit all the need, particularly when using inheritance.
For example, when using this code:
[code]
We then can't do
`IceCream cream = new IceCream (); cream.calory(100).taste("Chocolate");`

Using the Builder pattern:
[code]

Or Something similar (sorry, I haven't got any code editor at the moment) would do the trick an

[2017-05-24 11:40] jdubois commented on #5830
Would this work well with Hibernate?

[2017-05-24 13:09] Tcharl commented on #5830
As long as we keep an empty constructor I think so.
I've already successfully used this pattern in an OpenJPA project, I'll try to test within Hibernate ASAP.

[2017-05-24 14:01] cbornet commented on #5830
Well, it adds a lot of code... And since there's no inheritance between our domain classes, is there a big gain ?
Now it would be interesting to see if we could have immutable objects instead of javabeans. The builder would then be most needed and we would need to check if it can work efficiently with hibernate, jackson and mapstruct

[2017-05-24 14:19] seawenzhu commented on #5813
upgrade hanged as bellow

![image](https://cloud.githubusercontent.com/assets/5305068/26407933/0c04551a-40cf-11e7-88e2-631c481efd76.png)

[2017-05-24 20:11] delverdev commented on #5830
I would like to suggest "Java 8 style builder":

[code]

It's easy to create and it hasn't add a lot of code.

[2017-05-24 20:42] andrestenersen commented on #5813
FYI, I encountered a similar problem upgrading from 4.2 -> 4.5.1.
I stumbled across @jdubois's tip from a comment in #5649.

I just deleted the upgrade branch, did a "yarn upgrade" and then commited the changes in yarn.lock.
After that "yo jhipster:upgrade" worked like a charm!

[2017-05-24 20:46] jdubois commented on #5813
Oh don't tell me I had the solution from the start, and forgot about it :-(
OK then the solution would be to run `yarn upgrade` in our script -> @JulienMrgrd can you test it when you're back at the office?

[2017-05-25 06:09] rajeevsoni21 commented on #4353
Starting Liquibase asynchronously, your database might not be ready at startup!
2017-05-25 11:06:11.788 ERROR 5778 --- [ster-Executor-1] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Exception during pool initialization.
getting error?

[2017-05-25 06:16] jdubois commented on #4353
Please follow the guidelines...

[2017-05-25 08:11] deepu105 commented on #4794
@jhipster/developers I know some of you are testing angular 2+ to get it out of Beta, could you please update the first entry in this thread with issue you find and also tick of items in the list that works.

@jdubois I saw in another thread that you mentioned you found issues could you please put them up here so that I can try to close items. I have some time today and on weekend

[2017-05-25 08:12] deepu105 commented on #4794
@jhipster/developers Also plz put your name beside any issue if you are working on it so that we dont do double work on same items

[2017-05-25 08:16] deepu105 commented on #5811
Seems like your webpack build is failing
[code]

did you do any customisation in the generated files?

[2017-05-25 08:39] jdubois commented on #4794
@deepu105  I added 3 items from my latest tests. I don't have my laptop until Sunday but I'm of course available for help/discussions (anything I can do with m'y mobile phone)

[2017-05-25 10:59] deepu105 commented on #5813
duplicate of #5649

[2017-05-25 10:59] #5813 closed

[2017-05-25 11:01] #5587 closed

[2017-05-25 11:02] deepu105 commented on #5587
closing as per comment by @pascalgrimaud in #5829

[2017-05-25 12:33] gmarziou commented on #5820
I'm closing it for now as I don't have time to debug it at work.

[2017-05-25 12:33] #5820 closed

[2017-05-25 17:30] lazaropj commented on #5607
Hi @shai2017. I have the same error. I already removed the serviceDiscoveryType but the error continue. After you removed, you ran some command to upgrade the application? because seems my application don't get the news configuration.

[2017-05-25 17:36] pascalgrimaud commented on #5607
@lazaropj : it's not enough to simply change your `.yo-rc.json`, you have to regenerate your application to apply the change

[2017-05-25 17:46] lazaropj commented on #5607
Hi @pascalgrimaud To regenerate the application I ran the command:

```yo jhipster ```

But the application still calling the the eureka.

My log

[code]
look my .yo-rc.json

[code]

[2017-05-25 17:52] tezcane commented on #4794
Just following up here, I did not implement this because Alwan looks to have taken it over.

[2017-05-25 18:04] pascalgrimaud commented on #5607
@lazaropj : try to put `"serviceDiscoveryType": false` in your `.yo-rc.json`, and then, regenerate your app. Because, as this value is missing in your .yo-rc.json, the `serviceDiscoveryType` is `eureka` as default in v4.4.0

[2017-05-25 18:17] lazaropj commented on #5607
Hi @pascalgrimaud . Worked with ```"serviceDiscoveryType": false.``` Thank you

[2017-05-25 19:10] gmarziou commented on #4794
I took this one:

- [ ] Set html5 mode as default url strategy

But I think we should not do it because it raises many problems about how to determine whether a URL belongs to server namespace or to client namespace. I implemented it as a servlet filter based on request method and some regexp (see below). Maybe it could be improved if there's a way to get the list or mappings from Spring MVC.

Any

[2017-05-25 19:12] janpetryk commented on #2505
Any plans on kotlin support after google's announcement?

[2017-05-25 19:20] deepu105 commented on #4794
@gmarziou yes its tricky. Anyway its not a must for making angular out  of BETA so lets take it out from the list for now. We didnt do it for ng1 as well anyway

[2017-05-25 19:26] deepu105 opened #5833 "Angular improvements TODO"
These are items descoped from #4794 to be done after getting Angular out of beta

Items with **- to verify first** needs to be checked/tested first to see if already implemented

**Angular**
- [ ] Doing a perf audit shows our Angular 4 prod build is slower and bigger than our AngularJS 1 prod build. This comes from our main js bundle. it's very big (500kb) without GZipping (gzip works really well

[2017-05-25 19:27] deepu105 commented on #4794
I have descoped some items as they are not required to get Angular out of BETA

[2017-05-25 19:50] atomfrede commented on #2505
I don't think we can support Java and  kotlin.

[2017-05-25 20:23] gmarziou commented on #4794
Yes, I'll try to write it as a tip with some words of warning.

[2017-05-26 02:22] jmlw commented on #5637
I am receiving the same error, after running version 4.5.1 upgrade subgenerator from a project generated with 4.4.1

[code]

[2017-05-26 02:45] jmlw commented on #5637
I was able to resolve by committing the changed file, and re-running the upgrade generator

[2017-05-26 05:05] jdubois commented on #5637
Yes we got the solution (since yesterday !) in another ticket -> can you look for it and add your comment there?

[2017-05-26 07:22] shai2017 commented on #5607
You need to re-generate it using "yo jhipster".

[2017-05-26 09:16] muralihr commented on #5624
Hi,
does it mean that if i say ng new component that will be created ?

[2017-05-26 09:25] jdubois commented on #5624
Please use Stackoverflow, don't pollute the thread

[2017-05-26 09:25] deepu105 commented on #5624
@muralihr yes it should be but don't expect it to be completely wired into the app like how JHipster does. You will get exactly what the CLI generates

[2017-05-26 09:26] deepu105 commented on #5624
and yes please use SO or our Gitter chat if you have further question

[2017-05-26 09:42] muralihr opened #5836 "Default lang config in angular2 app ?"
##### **Overview of the issue**
When i generated the Jhipster app i had not given attention to default language
With my friend suggesting that ENG be the default language - i wanted to change the language
After doing for a serach i found the solution lies in modifying the nativeLanguage
 "enableTranslation": true,
    "nativeLanguage": "hi",
    "languages": [
      "hi",
      "en",
      "ta"

[2017-05-26 09:43] muralihr commented on #5836
Do i need to do anything else to change the Default language in .json ?

[2017-05-26 10:06] pascalgrimaud commented on #5836
In you decide to change de default language:
- change the `nativeLanguage` value in your `.yo-rc.json` from `hi` -> `en`
- regenerate your application
- as you use MySQL database, your existing users were created with your previous default language (`hi`). See [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/liquibase/users.csv

[2017-05-26 10:06] #5836 closed

[2017-05-26 10:07] jdubois commented on #5836
Please don't pollute the ticket system, and use Stackoverflow instead

[2017-05-26 10:22] muralihr commented on #5836
UserService.java (1 hit) HERE WE HAVE THIS setting
	Line 125:             user.setLangKey("hi"); // default language
   user.setLangKey("en"); // default language

I changed this end still it is only showing Hindi...

if (userDTO.getLangKey() == null) {
            user.setLangKey("en"); // default language
        } else {
            user.setLangKey(userDTO.getLangKey());
        }

How is this

[2017-05-26 11:30] poolebu commented on #5637
Had to do both `yarn upgrade` and @jmlw solution (commit the file and run `jhipster upgrade` again). After that it worked perfectly, thank you! and thank you for this amazing framework

[2017-05-26 11:32] poolebu commented on #5649
Based on comments on the #5637 closed ticket,  I did `yarn upgrade` and when the error appeared, I committed the `yarn.lock` and `package.json`, then ran `jhipster upgrade` again based on @jmlw solution. After that it worked perfectly, thank you! and thank you for this amazing framework

[2017-05-26 11:33] sugarissimo commented on #3348
Hi guyz,

Is there is any new solution about that issue. I am trying to find a way to send request from Gateway to Microservice? Or at least send some more user information (Phone number, email ...) to microservice.

What i wanted to do is basically when an user are just freshly registered, i want to send a request from the gateway to microservice in order to create for example TaxiLocation if the

[2017-05-26 11:48] pascalgrimaud commented on #5836
Sorry @muralihr but it's a channel for bug tracker not for help.
If you need help, ask it at StackOverFlow.

You can regenerate your application, type 'd' to see the diff, then, type 'n' to skip. You don't have to overwrite any file. Then, you will see all files you have to update with your new language.

[2017-05-26 11:50] sugarissimo opened #5840 "[JHIPSTER] How to send Request/Information from Gateway to Microservice"
Hi guyz,

I am using Jhipster Microservice Archi which suit better for my need.

I am trying to find a way to send request from Gateway to Microservice, Or at least send some more user information (Phone number, email ...) to microservice. Is there is any way to do that ?

What i wanted to do is basically when an user are just freshly registered, i want to send a request from the gateway to micros

[2017-05-26 11:55] pascalgrimaud commented on #5840
Sorry @sugarissimo , but it is a bug tracker, there is no issue here.
You should use the [JHipster tag on StackOverflow](http://stackoverflow.com/tags/jhipster) or join our [Gitter.im chat room](https://gitter.im/jhipster/generator-jhipster).

This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/ma

[2017-05-26 11:55] #5840 closed

[2017-05-26 12:40] JulienMrgrd commented on #5739
Can be closed after the jhipster/ng-jhipster#35 merge.

[2017-05-26 13:05] sugarissimo commented on #5840
Thanks Pascal sorry for that.. Here the request https://stackoverflow.com/questions/44202383/jhipster-how-to-send-request-information-from-gateway-to-microservice

[2017-05-26 15:17] gmarziou commented on #3348
@sugarissimo  Please follow our guidelines, this is an issue tracker not a forum for questions.
Your a question should be on stackoverflow and you have already cross posted to i where we answered yout: https://stackoverflow.com/questions/44202383/jhipster-how-to-send-request-information-from-gateway-to-microservice

[2017-05-26 16:32] Tcharl commented on #5830
Looking at the last answer of this [stackoverflow](https://stackoverflow.com/questions/4560167/possible-to-have-immutable-jpa-entities), I think we can assume that it is possible to make 'semi-immutable' beans. WDYT?

[2017-05-26 16:42] pascalgrimaud commented on #5830
Agree with @cbornet, I don't see much value here. For me, it is a specific need.
Currently, I'm very happy with getters, setters and fluent setters.

What do you think about doing this as a module?
Your module could scan all domain classes and you can add / remove / change / replace what you want.

[2017-05-26 16:49] atomfrede commented on #5830
Using https://immutables.github.io looks like better idea than handcrafting builder code

[2017-05-26 17:03] jdubois commented on #5649
Thanks a lot for your feedback !

[2017-05-27 09:17] #5739 closed

[2017-05-27 11:27] muralihr commented on #5624
Pardon ~ @jdubois  @deepu105

[2017-05-27 20:12] mtdx opened #5845 "Error when choosing to install other generator from the JHipster Marketplace"
SyntaxError: Unexpected token I in JSON at position 0
    at Object.parse (native)
    at generator.httpsGet (/Users/user/.config/yarn/global/node_modules/generator-jhipster/generators/app/prompts.js:159:37)
    at IncomingMessage.res.on (/Users/user/.config/yarn/global/node_modules/generator-jhipster/generators/generator-base.js:2097:17)
    at emitNone (events.js:91:20)
    at IncomingMessage.em

[2017-05-27 20:51] pascalgrimaud commented on #5845
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-05-27 20:51] #5845 closed

[2017-05-28 08:55] jdubois commented on #5833
I'm pretty sure we can have good html5 mode with pushState, but yes let's postpone all those, otherwise we'll never release anything

[2017-05-28 10:25] Tcharl commented on #5830
I wasn't aware of this framework, looks nice :). What about trying to implement DTO with this?

[2017-05-28 12:38] xetys commented on #5629
the question here is:

1. should that be fixed? This is a quite specific case, and I'm sure, there are more combinations which lead to similar issues with JPA and co
2. should that special case be fixed using `EAGER` fetch type?
3. or using repository queries, where the sub-entities are explicitly fetched

[2017-05-28 12:46] xetys commented on #5779
I hope I understood the issue correctly, feel free to correct me if I'm wrong.

At my work we use a private npm package, shared between a set of JHipster frontends, to make them look the same, by touching just one code base. This package is linked via. `yarn link` and included in several component styles and global.scss. Using this setup, any changes to the development version of our npm package t

[2017-05-28 14:45] cbornet commented on #5830
@atomfrede immutables.github.io looks like a great lib ! It has a "Modifiable" variant that could probably be used with Hibernate (need to check if it works with JSR303 validation) and would allow to remove our getter/setter/fluent generated code. And we could probably also use immutables for the DTOs
But this imposes to use an annotation processor which is not always very user-friendly (see Mapst

[2017-05-28 15:07] cbornet commented on #5629
I think that the original issue is that we try to serialize a "many" collection which is both an issue with lazy loading and a performance issue if the collection gets important. For instance on OneToMany relationship we hide the collection from the response.
Shouldn't we output a link to the collection instead in a very RESTful way ? This way, when the client calls the link we can apply proper pa

[2017-05-28 20:33] atomfrede commented on #5830
@cbornet do you think we can do it as a module? I don't think we can and should try to maintain it in the main generator.

[2017-05-28 21:21] deepu105 commented on #5779
Yes we suggest you add customisation in the global.scss file and not vendor.scss. if you really want to watch that file then just add it to the webpack dev server config

[2017-05-28 21:21] #5779 closed

[2017-05-28 21:27] deepu105 commented on #5830
No more annotation processor please. Its annoying actually. And this one is
similar to Lombok so the same argument applies.

On Sun, 28 May 2017, 10:33 pm Frederik Hahne, <notifications@github.com>
wrote:

[2017-05-28 22:41] elucash commented on #5830
@deepu105 while there are some bugs in compilers, IDEs and build tools which make standard annotation processors not always a pleasant ride, but, please, do not compare compiler plugin (Lombok) which makes AST transformations (and violating JLS along the way) with standard annotation processors.

[2017-05-29 05:33] vw98075 commented on #5811
Hi, Deep,

The original version was done awhile ago. To my memory, I didn't do any changes to the front end code.

[2017-05-29 07:29] deepu105 commented on #5830
Agree. Im not comparing them in that sense. I was talking from the
perspective of adding more annotation processors as we had a similar
discussion for lombok and decided against it so the same logic applies here

On Mon, 29 May 2017, 12:41 am Eugene Lukash, <notifications@github.com>
wrote:

[2017-05-29 08:02] jdubois commented on #5830
I'd love to have more of those technologies in JHipster, however they add a burden in setup and development workflow. They just don't work seamlessly out-of-the-box: for instance, we haven't been able to find a good way in the last years with MapStruct.
So, while those are definitely cool, they don't work well with our "developer experience" goal. So they can only be modules, or non-default option

[2017-05-29 08:06] atomfrede commented on #5830
Totally agreee, it should not be default and from my point of view also not part of the main generator.

[2017-05-29 08:08] jdubois commented on #5830
OK, then I'm closing this -> @Tcharl is that fine with you?

[2017-05-29 08:08] #5830 closed

[2017-05-29 10:25] cbornet commented on #5830
Maybe that would be useful for the DTOs ?
* DTOs currently don't have fluent methods
* DTOs/VMs would benefit from being immutable and I think Jackson can be easily configured to use the builder
* we already use an annotation processor so it's just about making sure they play nicely together

[2017-05-29 10:36] greenstevester opened #5848 "NPE gets thrown when a null password is sent on AccountResource.registerAccount."
##### **Overview of the issue**

NPE gets thrown when a null password is sent on AccountResource.registerAccount.

##### **Motivation for or Use Case**

I am building a Nativescript client and didn't have all my client side validation in place yet and found this out by accident.

##### **Reproduce the error**

1. post a new user account to /api/register with a null password.
2. see this NPE:

[cod

[2017-05-29 10:40] gzsombor commented on #5830
DTOs are either created by Jackson, or the generated MapStruct code, so being immutable, or having fluent methods are not that big improvement - you need to convince MapStruct and Jackson to follow the new style.

[2017-05-29 10:59] miy4mori commented on #5797
@jdubois Sorry,I did not notice the notification. the new release worked very well on Windows.
But I can't import jdl without client files,I try to run `jhipster server import-jdl my_file.jdl` or `jhipster --skip-client import-jdl my_file.jdl` and it still generate client files.Does anyone have any ideas how can I import jdl without client files?

[2017-05-29 11:11] jdubois commented on #5797
@miy4mori not sure about this (I never skip the client!), but I think this comes from your initial config: if it's stored in your `.yo-rc.json`, then it can't be overriden (unless you modify this file, of course!)

[2017-05-29 11:49] cbornet commented on #5830
@gzsombor quite true, indeed !

[2017-05-29 11:51] cbornet commented on #5848
@greenstevester would you do the PR ?

[2017-05-29 11:54] greenstevester commented on #5848
will do!

[2017-05-29 11:54] deepu105 commented on #5797
You cannot unless you already generate the app with skip-client. I need to
check further to see if we can make this a supported option

Thanks & Regards,
Deepu

On Mon, May 29, 2017 at 12:59 PM, miy4mori <notifications@github.com> wrote:

[2017-05-29 13:08] Tcharl commented on #5830
@jdubois Ok for me, I totally agree with the 'amount of boilerplate code' argument (but I don't really understand the 'near fluent setter' one).
@gzsombor @cbornet : I'm sorry, but what do Mapstruct or Jackson have to do with the [Jhipster DTO template](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/templates/server/src/main/java/package/service/dto/_EntityDTO.java)?

[2017-05-29 14:14] cbornet commented on #5830
The point from @gzsombor if I understood it well is that DTOs are created and filled either by Jackson or by Mapstruct and never directly by the user so immutability doesn't have a huge value there.

[2017-05-29 14:42] Tcharl commented on #5830
Dumb me!
We can tweak the Jackson way for [generating Code from JSon](http://www.cowtowncoder.com/blog/archives/2010/08/entry_409.html), but the mapstruct [counterpart](https://github.com/mapstruct/mapstruct/issues/782) looks more complicated.
I'll give the Immutable DTO subject a bump when these things will be easier.

Best regards and thank you all.

[2017-05-29 15:30] miy4mori commented on #5797
@jdubois @deepu105
I already generate the app with `skip-client`  or `server`,But it still generate client files,Here is my jdl and console output.I hope this is helpful to you. Thanks for attention
jhipster-jdl.jh
[code]
console output.
[code]

[2017-05-29 15:46] miy4mori commented on #5797
@jdubois @deepu105
I think the problem is `.yo-rc.json`.

generator-jhipster/generators/import-jdl/index.js line 52
[code]
But `jhipster server` not add `skipClient` into `.yo-rc.json`,When I add this item, it worked and not generate client files.

[2017-05-29 18:05] cbornet commented on #5830
@Tcharl I've done builder mapping in the jhipster grpc module ™️  (grpc is all builders). See https://github.com/cbornet/generator-jhipster-grpc/blob/master/generators/entity/templates/_entityProtoMapper.java#L104 . I've not seen the iissues they mention in your link...

[2017-05-30 09:01] jdubois opened #5854 "Remove Yeoman from installation instructions?"
In our documentation, for example https://jhipster.github.io/installation/ we tell people to install Yeoman before installing JHipster:

    yarn global add yo
    yarn global add generator-jhipster

Now that we have the JHipster CLI, I don't think this is needed, so we could just do:

    yarn global add generator-jhipster

Of course that's easier. I'm not totally sure about this:

- Do you think

[2017-05-30 09:09] gmarziou commented on #5854
Can you run modules without yo installed?

[2017-05-30 09:26] xdelox opened #5855 "Wrong mappings of some DTO child entities"
[jhipster-jdl.zip](https://github.com/jhipster/generator-jhipster/files/1037835/jhipster-jdl.zip)

##### **Overview of the issue**

Until now, the *OneToOne*, *OneToMany* and *ManyToOne*  relationships seems to be not mapped correctly in the corresponding DTOs (or just not mapped, in some cases).

In fact, the child entities are generally mapped as a Long childEntityId at the "many" side of the re

[2017-05-30 09:44] jdubois commented on #5854
Probably not @gmarziou -> I'm closing this for the moment, then

[2017-05-30 09:44] #5854 closed

[2017-05-30 09:47] jdubois commented on #5855
- They should be mapped the same way as what we do with Jackson
- We do this, both for Jackson and DTOs, as otherwise we would get the whole entity graph, and also because there are bi-directional relationships (our default) which cause circular graph issues

[2017-05-30 10:02] gmarziou commented on #4362
I really doubt this is easy with current URL scheme, especially for a gateway because we use service names as URL prefixes of our routes, this was [my point on dev list.](https://groups.google.com/forum/#!msg/jhipster-dev/1RtCU3qt3Tk/ShiBOgI5BQAJ;context-place=forum/jhipster-dev).

So either we add complexity in a zuul or servlet filter by plugging it to service registry at the risk of introducing

[2017-05-30 10:06] gmarziou commented on #1297
I really doubt this is easy with current URL scheme, especially for a gateway because we use service names as URL prefixes of our routes, this was [my point on dev list.](https://groups.google.com/forum/#!msg/jhipster-dev/1RtCU3qt3Tk/ShiBOgI5BQAJ;context-place=forum/jhipster-dev).

So either we add complexity in a zuul or servlet filter by plugging it to service registry at the risk of introducing

[2017-05-30 10:08] gmarziou commented on #2965
I really doubt this is easy with current URL scheme, especially for a gateway because we use service names as URL prefixes of our routes, this was [my point on dev list.](https://groups.google.com/forum/#!msg/jhipster-dev/1RtCU3qt3Tk/ShiBOgI5BQAJ;context-place=forum/jhipster-dev).

So either we add complexity in a zuul or servlet filter by plugging it to service registry at the risk of introducing

[2017-05-30 10:17] deepu105 commented on #5854
Yes people might still run yo * commands out of old habits so its better to have it. May be we can remove it from the home page quick start and still keep it on the detailed installations page with a note saying its required to run jhipster the legacy way and to run modules.

We can also create a command in our CLI to run modules directly without YO as well :) Its easy

[2017-05-30 11:08] mtdx opened #5856 "Small frontend issue"
I know there is a template but maybe just an image will suffice

https://gyazo.com/61dd0762032221da5c277a73f8679f45

There are 2 small issues in that gif, first when you're in a popup and some error happens, it also shows in the back, and the problem is the image being to big, the "Field Image cannot be empty" isn't that descriptive.

[2017-05-30 11:13] jdubois commented on #5856
Are you using AngularJS 1 or Angular 4? I'm sorry but could you follow the guidelines?

[2017-05-30 11:16] mtdx commented on #5856
angular 4, with a freshly generated 1.5.2 app, chrome, a basic entity with an image field, and a max bytes restriction.

[2017-05-30 11:22] gmarziou commented on #5856
1.5.2 is not a JHipster version, please re-open a new issue and follow guidelines

[2017-05-30 11:22] #5856 closed

[2017-05-30 11:25] mtdx commented on #5856
Sorry I meant 4.5.2

[2017-05-30 11:26] gmarziou commented on #5856
Anyway we cannot spend time trying to reproduce your problem if you don't provide the required details like the ones specified in template.

[2017-05-30 11:33] deepu105 commented on #5856
We ask for the details for a reason

Thanks & Regards,
Deepu

On Tue, May 30, 2017 at 1:26 PM, Gaël Marziou <notifications@github.com>
wrote:

[2017-05-30 11:45] mtdx opened #5858 "Error double notification"
##### **Overview of the issue**

https://gyazo.com/61dd0762032221da5c277a73f8679f45
https://gyazo.com/1a2f3005425e1d6cabaacd8052aa877f

There are 2 small issues in those gifs, first when you're in a popup and some error happens, it also shows in the back (behind the popup), in this case the problem is the image being to big, but is not the first time I see it.

Also the "Field Image cannot be empt

[2017-05-30 12:53] JulienMrgrd commented on #5858
I can take this issue

[2017-05-30 13:49] deepu105 commented on #5858
You are still not following the guidelines. We need your yo-rc.json and entity.json. can you plz run jhipster info on your app and post the results

[2017-05-30 17:55] joedayz opened #5859 "mvn compile liquibase:diff is failing"
This is for me one bug.

1.- I added a field to my entity
2.- I execute mvn compile liquibase:diff
3.- I added my changelog manually to my master.xml

 <include file="classpath:config/liquibase/changelog/20170530174942_changelog.xml" relativeToChangelogFile="false"/>

4.- I got it error:

Caused by: org.h2.jdbc.JdbcSQLException: Sequence "HIBERNATE_SEQUENCE" already exists; SQL statement:
CREATE S

[2017-05-30 18:56] pascalgrimaud commented on #5859
As indicated here https://jhipster.github.io/development/ :

So I'm not sure it works well and I can't test right now

[2017-05-30 19:35] joedayz commented on #5859
OK I understand. Change to another DB in dev.

Thanks

[2017-05-30 19:35] #5859 closed

[2017-05-30 20:52] mtdx commented on #5858
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.xxx.xxx",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "4.5.2",
    "baseName": "xxx",
    "packageName": "com.xxx.xxx",
    "packageFolder": "com/xxx/xxx",
    "serverPort": "8080",
    "authenticationType": "session",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": false,
    "websocket": "spri

[2017-05-31 05:12] pascalgrimaud commented on #5848
Fixed by https://github.com/jhipster/generator-jhipster/pull/5857

[2017-05-31 05:12] #5848 closed

[2017-05-31 10:03] #5744 closed

[2017-05-31 12:59] hamark commented on #5805
I've push a PR #5860 to fix this bug.

@Metavirulent I tried your fix, but i still had the problem.

[2017-05-31 13:19] jdubois commented on #5858
Can you put a more descriptive title? I'm sorry but "small issue" doesn't mean anything

[2017-05-31 13:46] mtdx opened #5861 "Current user entity"
##### **Overview of the issue**

Not a bug but a feature request, an option that makes an entity accessible only to the user that created it, (current user).

##### **Motivation for or Use Case**

You can add a one-to-one relationship to the current user and get the findByUserIsCurrentUser for the get all endpoint, but that's just a start, you need to do a lot of hacking around, to secure all the

[2017-05-31 19:30] #5805 closed

[2017-05-31 19:36] deepu105 commented on #5861
Currently JHipster doesn't handle the Authorisation part. You have to do it yourself as this will vary based on your business case. Its difficult to make this generic without having a proper Authorization workflow. I tried to do something long back but there wasnt much interest and hence it was not pursued. So i'm afraid we wont be doing this in the near future as there are no generic solution her

[2017-05-31 19:36] #5861 closed

[2017-06-01 02:39] btelintelo opened #5862 "Microservice/Gateway Generation of Entities has missing translations"
##### **Overview of the issue**

Generated one gateway and one microservice.  The microservice has one entity.  I regenerated the entity angular code in the gateway project.  The generated angular code in the gateway project has translation tags.  I said no to the internationalization question when prompted.

ranslation-not-found[adminApp.client_config.home.title]  is splashed on every field.

###

[2017-06-01 03:57] ruddell commented on #5862
Can you please also post your microservice `.yo-rc.json`?  I can't reproduce the issue on my computer, everything works as expected

[2017-06-01 06:46] jdubois commented on #5862
Thanks for testing @ruddell !
If the ticket isn't complete I'm closing this. We'll reopen if we have more information.

[2017-06-01 06:47] jdubois commented on #5862
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-01 06:48] pascalgrimaud commented on #5862
Same as @ruddell, I can't reproduce:
- gateway without translation
- micro with translation
- generate entity in micro
- generate entity in gateway, using the entity from micro

But I saw something strange: with Consul, the gateway need to be started after the micro, otherwise, the gateway can't see the micro... I need to investigate, but it's another ticket

[2017-06-01 07:49] annadurai123 commented on #5813
Hi everyone,

I have done the upgrade process for the version of 4.3.0 to 4.5.2 but i have unable to start the project.

For example i entered the command jhipster in my cmd then it shows
'jhipster' is not recognized as an internal or external command,
operable program or batch file'.

[2017-06-01 09:02] deepu105 commented on #5813
Probably something went wrong in the upgrade process.

Can you try to run `npm install -g generator-jhipster` and try again

Thanks & Regards,
Deepu

On Thu, Jun 1, 2017 at 9:49 AM, annadurai123 <notifications@github.com>
wrote:

[2017-06-01 09:38] AmsaveniMidhun opened #5863 "want to modify the name of ID field before creating an entity"
This is not a bug, but a suggestion.

When we create an entity, by default ID field gets generated.

As per my project requirement, i do not want ID field in all my table, instead i want to change the name of the ID field, say tenant_id, likewise.

Is there any way to do so, before creating an entity ?

[2017-06-01 09:43] jdubois commented on #5863
Not really. As this is a question, could you use StackOverflow instead?

[2017-06-01 09:43] #5863 closed

[2017-06-01 11:59] gmarziou commented on #5863
I think https://www.npmjs.com/package/generator-jhipster-db-helper is bale to rename columns.

[2017-06-01 12:22] mtdx commented on #5858
Probably related to the same issue, when you try to delete an entity in a required relationship with another entity and assigned you get a Server Error notification in the popup while behind the popup you get success notification "A ... is deleted with identifier..."

https://gyazo.com/8dac4ebb2b3a4c9db48331b34601b625

[2017-06-01 12:58] pascalgrimaud commented on #5858
Recently, I work on the alert systemn here: https://github.com/jhipster/generator-jhipster/pull/5829 specially for creating / updating / deleting entities.
Not sure if it is related to my work, so don't hesitate to ping me if you need help @JulienMrgrd

[2017-06-01 14:11] JulienMrgrd commented on #5858
After taking a look on this, there are some bugs to fix :

- [x] The double notification :arrow_up:

- [ ] When you delete an image, the filename remains displayed. http://imgur.com/a/8sTvI

- [ ] Do not display the same error several times when clicking the save button (without having modified anything). http://imgur.com/a/cz0zH

- [ ] The dialog title : "Create or edit a XXXXX". Replace the arti

[2017-06-01 15:15] deepu105 commented on #5858
I wouldnt worry about the 4th item in the list as its difficult to do for
all languages. hence if you want you can do it for English but I would
leave it to end users to change as they see fit

Thanks & Regards,
Deepu

On Thu, Jun 1, 2017 at 4:11 PM, Julien Margarido <notifications@github.com>
wrote:

[2017-06-01 15:31] JulienMrgrd commented on #5858
One more, not really related with this issue, but related to the @mtdx's entity :

- [ ] With an Image field, there is no "imageContentType" attribute in the `avatar.model`, but it's much used in html templates.

![capture d ecran de 2017-06-01 17-30-22](https://cloud.githubusercontent.com/assets/11616517/26687463/0af4a702-46f0-11e7-8c79-26dcf7f473be.png)
.

[2017-06-01 21:41] btelintelo commented on #5862
here are the files

[gateway.yo-rc.txt](https://github.com/jhipster/generator-jhipster/files/1046115/gateway.yo-rc.txt)
[micro.yo-rc.txt](https://github.com/jhipster/generator-jhipster/files/1046116/micro.yo-rc.txt)

[2017-06-01 21:41] btelintelo commented on #5862
thats what i was doing

[2017-06-01 22:58] btelintelo commented on #5862
![screenhunter_01 jun 01 18 57](https://cloud.githubusercontent.com/assets/3678777/26704332/50c6a698-46fc-11e7-9dfe-1d220ee8b9ab.gif)

[2017-06-02 02:17] deepu105 commented on #4794
@sendilkumarn can you take the lead on this?
@JulienMrgrd do you have bandwidth for any item here as well?

[2017-06-02 02:19] deepu105 commented on #4794
I'm working on the webpack items and will finish mostly next week once im back from vacation

[2017-06-02 05:13] jdubois commented on #5862
@btelintelo can you copy/paste the files here? Sorry I can't use attached files easily with my phone

[2017-06-02 06:09] clp334264003 opened #5866 "When I use the phone or ordinary computer to open the angular2 site, which will be more time-consuming"
When I use the phone or ordinary computer to open the angular2 site, which will be more time-consuming
Is not the front end did not use lazy load caused?
Or other questions?

phone:20s +
ordinary computer:8s+
good computer 6s+

thanks
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://st

[2017-06-02 06:19] FireWolf2007 opened #5867 "Missed update in Elasticsearch after update user via service/UserService.updateUser"
##### **Overview of the issue**

Missed update in Elasticsearch after update user via service/UserService.updateUser

##### **Motivation for or Use Case**

Update user from REST doesn't update it's elasticsearch record.

##### **Reproduce the error**

Update, for example, user name and search user in elasticsearch repository - old name will be returned.

##### **Suggest a Fix**
Add save into updat

[2017-06-02 06:22] pascalgrimaud commented on #5862
Your gateway:

[code]

Your micro:

[code]

You have both option `"enableTranslation": false,` so I can't understand how you can have a Translation issue.
I try again to reproduce but I didn't manage. Everything works fine on my side:

![issue-5862](https://cloud.githubusercontent.com/assets/9156882/26713297/34746f82-476c-11e7-90e4-b748757f29c8.png)

![issue-5862-consul](https://cloud.githubuserco

[2017-06-02 06:30] pascalgrimaud commented on #5867
@FireWolf2007 : would you like to do a PR to fix that ?

[2017-06-02 06:36] jdubois commented on #5866
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-02 06:36] #5866 closed

[2017-06-02 06:36] jdubois commented on #5866
Please use Stackoverflow

[2017-06-02 07:12] AmsaveniMidhun commented on #5863
gmarziou, i tried using the mentioned plugin. That helps to rename the table name and columns. But, couldn't rename ID column name, as that does not provides option for that.

As per my project requirement, i want to rename the ID coulmn name to Tenant_Id for all the entitites. IS there any way to achieve this ?

I have posted this concern in stackoverflow, but dint get any help !!

[2017-06-02 08:16] uyeliksiz opened #5868 "RequestOptions search deprecated"
##### **Overview of the issue**

in file request-util.ts
"options.search" is depracated for angular 4.

##### **Suggest a Fix**

from docs:
search @deprecated from 4.0.0. Use "params" instead.

##### **JHipster Version(s)**
4.5.2

##### **JHipster configuration**

"clientFramework": "angular2",

[2017-06-02 08:48] JulienMrgrd commented on #4794
Yes, I can take those if you want :

- [ ]  fix any commented out and FIXME/TODO in code
- [ ] correct AlertService and InterceptableHttp which have warnings "This will become an error in Angular v5.x"

[2017-06-02 09:20] sendilkumarn commented on #4794
@deepu105 done with my voxxed days
will take up this

👍 @JulienMrgrd

[2017-06-02 09:41] gmarziou commented on #5863
This is work in progress: https://github.com/bastienmichaux/generator-jhipster-db-helper/issues/20

You did not get any help on stackoverflow because there's currently no generic solution and you have to do it manually.

[2017-06-02 11:07] kriptonis commented on #2261
use basic authentication for the /authenticate (that means sending the header Authorization with your username and password in Base64).
It will return your login name in the body and it will also return a COOKIE with the JSSESSIONID value.
Use that cookie in subsequent requests to make authenticated requests to your API.
If you are using Postman you can install Interceptor to be able to read/send

[2017-06-02 13:56] vadym-golub-axon opened #5869 "Upgrade issue - 'yo jhipster:upgrade' failed from 4.5.1 to 4.5.2"
##### **Overview of the issue**
Executing 'yo jhipster:upgrade' on the first upgrade of the project generates `jhipster_upgrade` branch using the latest version.

Here is the output:
[code]
after these actions, the newly created commit has the name 'Generated with JHipster 4.5.1' and contains README.md files that were generated with 4.5.2 version and also package.json and .yo-rc.json contain wrong

[2017-06-02 14:02] jdubois commented on #5869
Yes we already have 2 issues with this currently opened. Unfortunately we lack time to solve this.

[2017-06-02 14:07] jdubois commented on #5869
Ping @lordlothar99 as he coded most of this. I'll have a look this afternoon.

[2017-06-02 15:30] JulienMrgrd commented on #5858
I'll do the PR after the @mtdx response (about the "Server Error" notification).

About this bug :

I'm actually trying to find a "pretty" solution to correct this.

[2017-06-02 15:39] mtdx commented on #5858
@JulienMrgrd I'm sorry I don't have that app anymore, it was a test one, basically you create 2 entities, a one to one relationship  then add entries and assign 1 entity to another then you try to delete the assigned entity, you get a server error, in the debug log the actual error is a foreign key constraint error, so probably is a postgresql only error.

update or delete on table "some_table" vi

[2017-06-02 15:41] JulienMrgrd commented on #5858
Ok thanks, I'll take a look.

[2017-06-02 18:00] ruddell opened #5870 "Can't Edit User via User Management"
##### **Overview of the issue**

Trying to edit a user results in a 400 error, caused by #5857 which changed the ManagedUserVM password field to `@NotBlank`

##### **Reproduce the error**

Generate an application and try to edit a user via User Management.  To make the tests fail, change [this line in UserResourceIntTest.java](https://github.com/jhipster/generator-jhipster/blob/d9cbe8e2ccd9a08a965

[2017-06-02 19:16] dancancro commented on #4968
Judging from the [demo](https://embed.plnkr.co/pYo6bFPRRxVPgRR8toDt/), it doesn't seem like this requires you to have a separate app for each language. Maybe this has changed since January?

[2017-06-02 23:38] hugotown commented on #5869
@jdubois
That is an important feature of JHipster!
some we need upgrade our applications, I hope to do it soon...

Best Regards!

[2017-06-03 01:17] btelintelo commented on #5862
Well I regenerated entire gateway with same result.  Ill try and track it down.  I've generated a ton of jhipster projects no problem, but this is the first one I've done on windows.  I'm guessing it has to do with case or the underscore.  Ill let you know if I figure it out.

[2017-06-03 07:02] jdubois commented on #5862
Oh yes I remember there is an issue with underscores.
You need to know how this works, as it's tricky: we generate with i18n and then do a regexp to remove the translations. Maybe the regexp is wrong in your case.

[2017-06-03 07:08] jdubois commented on #5869
I know it's important, but it's really complex. My current guess is that the first project regeneration fails (the one with the older version), and that depends how you installed JHipster (I have one system where it fails, another one where it works...). It would be when the upgrade script cannot upgrade the generator, and in that case you're stuck with the same version all the time.

[2017-06-03 15:49] pascalgrimaud commented on #5870
Ping @greenstevester : maybe you have a suggestion for the fix too?

[2017-06-03 17:31] tezcane commented on #5870
I suggest we use the User mapper to not update any field unless it's value is non-null.  This will prevent all kinds of unneeded updates to the db and code execution too.

[2017-06-03 18:12] srinivasa-vasu opened #5874 "Feature Request: Infinispan cache support"
[Infinispan](http://infinispan.org/about/)

I was wondering if it would make sense to add Infinispan support as an L2 cache (with jcache and spring cache compatibility), will do a PR.

As an L2 embedded cache to begin with and later on support for client/server mode as well to offer a pure play micro services support by offloading cache layer separately.

[2017-06-03 18:47] sendilkumarn commented on #5874
#1491 just for your reference.

But recent interaction with Bernard makes me think why can't we have it ;)

[2017-06-04 07:33] jdubois commented on #5874
Yes +1

- We now use JCache so that should make it easier for you
- We also support Spring Cache, it shouldn't be hard but you also need this (not only Hibernate L2 cache)

[2017-06-04 08:48] richiethom opened #5875 "Missing dependencies from vanilla project when running in Idea in Windows"
##### **Overview of the issue**

A vanilla project (Angular, MySQL, Maven) won't start from inside IntelliJ Idea (Community Edition v2017.1.3) without adding the following dependencies as provided:

- javax.servlet:javax.servlet-api:3.0.1
- io.undertow:undertow-core:1.4.12.Final
- io.undertow:undertow-servlet:1.4.12.Final

##### **Motivation for or Use Case**

Because it should Just Work™ - everyt

[2017-06-04 12:36] jdubois commented on #5875
You understimate how JHipster "just works" :-)
You don't need to create a new project, just open the existing project and it works out of the box !

[2017-06-04 13:12] cbornet commented on #5875
@richiethom you need to have the "dev" profile activated

[2017-06-04 13:32] jdubois commented on #5875
"dev" is activated by default

[2017-06-04 14:09] pascalgrimaud commented on #5862
@btelintelo : if you can give full steps in details for reproducing your error, or better, if you can generate and push the projects to github, it will help

[2017-06-04 15:07] piotrgwiazda commented on #2505
Spring 5 is going to have native Kotlin support but start.spring.io allows it already. Spark already supports Kotlin. Think about it. Kotlin is a nice Java drop-in replacement.

[2017-06-04 17:07] tezcane commented on #5875
I'm on Windows and use IDEA too.  I see this same behavior if "dev" profile is not selected (you must have unselected it on prooject import).  I set both dev and "IDE" profile (needed for current mapper unit tests but won't be need in the next JHipster release).  From the Maven tab on the right of the window select 'Reimport all Maven Dependencies' button and it will download the missing dependenc

[2017-06-05 01:46] amehra opened #5877 "Social login does not redirect to home page"
##### **Overview of the issue**

On successfully logging in using a social auth one is not redirected to the home page.

##### **Motivation for or Use Case**

Social login should be consistent with the email based login mechanism.

##### **Reproduce the error**

To reproduce the error please do the following:

1. Register via a social login. I used Facebook.
2. Now login to JHipster.
3. Note you a

[2017-06-05 02:03] songyalong commented on #277
review your web.xml swagger use selevt DispatcherServlet url-pattern I change *.do to / it's OK

[2017-06-05 04:45] tezcane commented on #5869
Here is how I usually upgrade my project (I don't use jhipster:upgrade):
1. yo jhipster
2. accept all changes
3. diff new changes to see new changes plus merge with my customization

This should get around the problem...

[2017-06-05 09:40] greenstevester commented on #5870
Firstly, apologies for breaking existing functionality.

+1 for @ruddell's suggestion of using a different VM and making AccountResource solely responsible for all things related to password handling.

I suggest adding a new:  "AccountVM" - which would solely be used in AccountResource and do the handling of the password, instead of ManagedUserVM as is currently the case.
It would essentially be a

[2017-06-05 15:52] richiethom commented on #5875
@tezcane That works for me too. Thanks!

@jdubois It might be worth putting this into the documentation somewhere :)

[2017-06-05 16:27] shai2017 opened #5881 "JHipster upgrade failed from 4.5.0 to 4.5.2"
##### **Overview of the issue**
Can't upgrade from 4.5.0 to 4.5.2 as there are error blocking to upgrade.

##### **Motivation for or Use Case**

Can't upgrade to latest version of JHipster

##### **Reproduce the error**

**Run command from the root folder of micro-service gateway
yo jhipster:upgrade
This is failing to upgrade**

shaileshs-MacBook-Pro:derivativehub capalytix$ yo jhipster:upgrade
We

[2017-06-05 18:10] tezcane commented on #5870
Once lastname is set, the use user should not be able to clear the field, he has to input something else to replace it (e.g. this time his real/new last name).  The UI would control that, e.g. can't hit save until a valid field is entered again.  For cases where you MUST set to null again you can make it so if the field equals ""/-1 etc. then it can be set to null, but ideally this logic should be

[2017-06-06 06:25] jdubois commented on #5875
I thought it was documented, I'll take a look before closing this

[2017-06-06 06:57] deepu105 commented on #5875
I remember there was mention of IDE profile in the using profiles page, but now its not there anymore. In anycase I think if we override the default profile then we need to specify either dev or prod explicitly.

[2017-06-06 08:09] jdubois commented on #5875
The page wasn't that bad, but I updated https://github.com/jhipster/jhipster.github.io/commit/5ddfd3753aea5c6f68b6d7da248e68da681d3e48

[2017-06-06 08:09] #5875 closed

[2017-06-06 08:51] jdubois commented on #5874
So @srinivasa-vasu will you do this as a PR? Do you know when you'll be working on this?

[2017-06-06 09:11] greenstevester commented on #5870
@tezcane - imposing that a user may not clear the field might be too restrictive, since it is a valid use case (see example at the end).  If a field is an empty string literal "", then interpreting that as a null value (and not updating the domain entity) , could indeed be done by the UserMapper.

But since validation logic at the minute, is primarily driven via DTO/VM validation annotations on th

[2017-06-06 09:21] jdubois commented on #5870
This is so complex, for just a simple non-null field!

- We can do validation groups with Bean Validation: that would be the correct way to solve this, but I find the API quite complicated
- We could just leave the field "nullable", as we don't send a password all the time. And only in the business case where we need a non-null password (when we create or change it, for all other use cases the pas

[2017-06-06 09:24] srinivasa-vasu commented on #5874
@jdubois - Yes, I will. I have started this, will send across the request in couple of days.

[2017-06-06 10:42] greenstevester commented on #5870
Agree, I've written way too much already about a simple non-null field :-)

How about I revert my #5857 fix (remove the NotBlank annotation) and replace it with the same test for null, which the  AccountResource.changePassword method already uses, i.e:

[code]

[2017-06-06 12:40] delverdev commented on #5870
@greenstevester, I think `"Incorrect password"` should be replaced to a translation key.

[2017-06-06 16:49] jdubois opened #5883 ""jhipster upgrade" not working properly"
As we have basically 4 duplicate tickets on the JHipster upgrade sub-generator, I'm closing #5881 #5869 #5811 #5649 in favor of this new "meta ticket".

It's basically all the same issue: on some systems, the upgrade sub-generator cannot update the JHipster version. Typically, this is because it doesn't have the right to do. Then, there are various other issues depending on how it was installed.

[2017-06-06 16:50] jdubois commented on #5881
Closed by #5883

[2017-06-06 16:50] #5881 closed

[2017-06-06 16:50] jdubois commented on #5869
Closed by #5883

[2017-06-06 16:50] #5869 closed

[2017-06-06 16:50] jdubois commented on #5811
Closed by #5883

[2017-06-06 16:50] #5811 closed

[2017-06-06 16:50] jdubois commented on #5649
Closed by #5883

[2017-06-06 16:50] #5649 closed

[2017-06-06 17:10] santoshkt opened #5884 "Return observable instead of promise in principal.identity()"
##### **Overview of the issue**

This may be more of a Angular question than jHipster. I want to understand what is the purpose of returning a promise instead of object in principal.service.ts identity() function. I am converting it to use Observable but don't see a reason to return observable as I would want to handle the subscribe with in the identity() function.

My function would like below

[

[2017-06-06 18:06] deepu105 commented on #5883
Agree 100% with you. But I would really hate to remove this but then if we cannot maintain it we dont have a choice. Since we now have a CLI we have more freedom now so if someone is interested to fix this or find a simpler solution that would be great. Ofcourse there are many ways in which we can make it work but we just dont have the time to spend on it

[2017-06-06 20:31] atomfrede commented on #5883
Me personally has never used the sub generator (maybe because of my development setup). I always do the update manually, so removing it would be totally ok for me.

[2017-06-06 20:36] mraible commented on #5883
I've used this sub generator quite a bit and it's made it easy for me to easily maintain tutorials over several months, rather than having to re-write them for the latest release.

I haven't experienced an issue where the JHipster version can't be upgraded. Does that only happen on particular operating systems? I haven't seen it on macOS Sierra.

[2017-06-07 00:43] btelintelo commented on #5862
here is a zip file with generated project.  let me know when you have it and i will delete.  https://www.dropbox.com/s/c1mqag5s9zpigmx/projects.zip?dl=0

[2017-06-07 00:45] btelintelo commented on #5862
Maybe underscores are just a bad idea.  I think they are more commonly used in database tables, but I would never name java or angular code with them

[2017-06-07 06:22] pascalgrimaud commented on #5862
OK thanks. Finally, I can reproduce the issue with your project!
I'm working on the fix.

[2017-06-07 06:37] pascalgrimaud commented on #5862
In fact, it's the same ticket than https://github.com/jhipster/generator-jhipster/issues/5809
So it's already fixed by @sendilkumarn at this commit: https://github.com/jhipster/generator-jhipster/commit/c9ec756aeca8127b13e6a283580e5f7ecff03b30#diff-fddb513f7a2937b33eb1c1f6a71e64a7

I'm closing this.

[2017-06-07 06:37] #5862 closed

[2017-06-07 07:56] jdubois commented on #5883
Another (related) issue comes from the CLI:

- Now the upgrade sub-generator uses the CLI, but for older versions it didn't exist
- So if someone upgrades his generator to the latest version, and then runs it to upgrade an older version (a bad idea, of course), it won't work

[2017-06-07 08:19] #5868 closed

[2017-06-07 14:12] alesisjoan commented on #4979
I had a similar issue. While importing a jdl from jdl studio, throws me the same error.

my .yo-rc.json

{
  "generator-jhipster": {
    "clientFramework": "angular1",
    "useSass": false,
    "clientPackageManager": "yarn",
    "jhipsterVersion": "4.5.2",
    "applicationType": "monolith",
    "baseName": "receta",
    "testFrameworks": [],
    "jhiPrefix": "jhi",
    "skipServer": true,
    "en

[2017-06-07 14:19] ndjordjevic commented on #5833
Does the infinite scrolling entity option suppose to work in Angular2? I tried it and it doesn't. nhInfiniteScroll is made just for Angular1 if I'm not wrong.

[2017-06-07 21:14] #5867 closed

[2017-06-08 00:06] xetys commented on #5884
AFAIK this is one of the pieces from the ng1 to ng2 transition, as it wasn't a pure write from scratch.

So IMHO, this part should be refactored to Observables, to be consistent with the existing codebase

[2017-06-08 00:09] sendilkumarn commented on #5884
Exactly. @santoshkt would you like to do a PR ?

[2017-06-08 00:45] santoshkt commented on #5884
I am not very good in promise or observables but I will give it a try.

In the scenario described in the issue, would you subscribe and return the actual value in the called function or return an observable to the caller ?

or

subscribe in the called function as well as return an observable to the caller ?

Tbh, I'm not sure when to return an observable and the actual value but I can take some in

[2017-06-08 06:49] ravindrakr1 opened #5888 "Pre-authenticated entry point called. Rejecting access"
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of informati

[2017-06-08 08:49] pascalgrimaud commented on #5888
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-08 08:49] #5888 closed

[2017-06-09 08:17] JulienMrgrd commented on #4794
About the "AlertService" alert, I might need some help. I have tried many things, but my knowledge in Angular is not yet sufficient.

Here is the AlertService component :
[code]

Here is the shared-common.module.ts :
[code]

I'm sure the problem concerns the AlertService constructor, particulary the ``toast`` parameter.
If you try to inject a constant (string, boolean, number,...), you always get

[2017-06-09 08:17] xetys opened #5893 "Update to spring boot 1.5.4 ASAP because of vulnerability"
Recording to CVE-2017-4995, we need to upgrade spring boot to 1.5.4 ASAP, to save our users of the Jackson deserialization vulnerability.

I hope it is just a matter of setting the version up

[2017-06-09 08:44] jdubois commented on #5893
Doesn't look like we are affected, but just in case I'm going to do a patch release.

[2017-06-09 08:57] xetys commented on #5893
Not sure, as they didn't provide a way to test the exploit.

I will check if I need to specify the spring security version, too

[2017-06-09 09:12] jdubois commented on #5870
Yes @greenstevester @delverdev that's good solution for me.
As I'd like to do a patch release soon, let me have a look at this

[2017-06-09 09:14] #5893 closed

[2017-06-09 09:21] JulienMrgrd commented on #4794
## About TODO and FIXME

There is no FIXME, but here is the list of all TODO :

- [ ] **1.** (In `_auth-expired.interceptor.ts`) _"this is ng1 way...the ng2 would be more like someRouterService.subscribe(url).forEach.. this needs to be updated"_
- [ ] **2.** (In generators/server/templates/_gradle.properties) _"disable daemon on CI, since builds should be clean and reliable on servers"_
- [ ] **3.

[2017-06-09 09:25] danielpetisme opened #5895 "Provide translate values during page title translation in Angular2"
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of informati

[2017-06-09 10:08] xetys commented on #5191
I tested today again, with 4.5.2, it still shows the same error message, when using a gateway with no sql...

if i add "microservice X with Y", it then forbids me to use relationship, as "I am using NoSQL", which doesn't support relationships

[2017-06-09 10:22] jdubois commented on #5870
@delverdev I know it's bad, but the rest of that class doesn't use translation keys, so for the moment I'm just solving the issue (one thing at a time), following what @greenstevester proposed

[2017-06-09 10:28] #5870 closed

[2017-06-09 10:42] deepu105 commented on #4794
For alert service set the toast attribute a default value in the
constructor arg. Ts supports that and it will stop complaining

On Fri, 9 Jun 2017, 11:21 am Julien Margarido, <notifications@github.com>
wrote:

[2017-06-09 10:44] deepu105 commented on #4794
You can ignore 2, 3 and 4 as they Re not important now

On Fri, 9 Jun 2017, 12:42 pm Deepu K Sasidharan, <d4udts@gmail.com> wrote:

[2017-06-09 10:45] deepu105 commented on #4794
2 and 3 should not be fixed by the way as 2 is intentional and 3 is
downloaded code

On Fri, 9 Jun 2017, 12:44 pm Deepu K Sasidharan, <d4udts@gmail.com> wrote:

[2017-06-09 11:25] uyeliksiz opened #5896 "Angular2 Navbar Active Link confilict"
##### **Overview of the issue**

In Navbar list, routerLinkActive="active" provides to showing selected link. But in similar routes it may set multiple menus as active.

##### **Motivation for or Use Case**

In my case i have two routes:
  /apps  /apps/analysis

##### **Reproduce the error**

##### **Suggest a Fix**

[routerLinkActiveOptions]="{ exact: true }"

##### **JHipster Version(s)**

4.5.2

[2017-06-09 11:31] uyeliksiz opened #5897 "In Navbar More Than One Menu Selected"
##### **Overview of the issue**

In Navbar list, _routerLinkActive="active"_ provides to showing selected link. But in similar routes it may set multiple menus as active.

##### **Motivation for or Use Case**

In my case i have two routes:
-  /apps
-  /apps/analytics

when i route to **/apps/analytics** Navbar set both of them shown as active

![image](https://user-images.githubusercontent.com/245

[2017-06-09 11:32] #5896 closed

[2017-06-09 12:10] gmarziou commented on #5895
What about removing pageTitle from route meta data to disable it and calling Title.setTitle() from component?

[2017-06-09 12:17] gmarziou commented on #5897
Thanks, would you like to submit a pull request?

[2017-06-09 12:41] MathieuAA commented on #5191
@xetys I'll look into it...

[2017-06-09 13:34] danielpetisme commented on #5895
Indeed it's a way to achieve it indeed (a bit afraid of the copy/paste in every component). I imagined there is a more generic way but your answer makes totally sense and we could close this issue with just a tips to publish a snippet somewhere.
So up to you to maintain this issue open or not.

[2017-06-09 15:50] ChamNouki opened #5899 "JHipster entity generator doesn't seems to generate all it should have"
##### **Overview of the issue**

I juste generate a new Community entity with JDL and import it with the entity generator. When importing it tells me that my previous generated entities "[are] being updated". And now I have thoses errors when compiling the front application :

[code]

So it seems clear that `createRequestOption` and `ResponseWrapper` are missing. And indeed there is no trace of su

[2017-06-09 16:05] jdubois commented on #5899
You have a version mismatch:

- The project was generated using version `4.3.0`
- You are creating the new entity with version `4.5.3`

And indeed those `createRequestOption` and `ResponseWrapper` have been changed recently. You need to generate your application and your entities with the same version (well, most of the time it works, here you are clearly out of luck - but that's why Angular 2 is

[2017-06-09 16:05] #5899 closed

[2017-06-09 19:55] gmarziou commented on #5895
To avoid copy/pasting in every component, we could define a I18nTitle service that would wrap Title service and provide translations.

Let's close it for now unless someone wants to propose a pull request.

[2017-06-09 19:55] #5895 closed

[2017-06-09 21:50] mraible opened #5902 "Heroku sub-generator fails: heroku-cli-deploy is already installed"
[code]

My project's information:

[code]
twenty-one-points@0.0.0 /Users/mraible/dev/21-points
└── generator-jhipster@4.5.2

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

ls: no such file or directory: .jhipster/*.json

##### **Browsers and Operating System**

java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)

[2017-06-09 21:52] jkutner commented on #5902
This should be fixed by #5853. Has that not been released yet?

[2017-06-09 21:53] mraible commented on #5902
Looks like that's in 4.5.3, I'm using 4.5.2. Will try upgrading and close if it's solved.

[2017-06-09 21:57] jkutner commented on #5902
Ugh, this is going to be a bad experience for a lot of people who don't know to upgrade. If you have any ideas for better remediation plz let me know.

[2017-06-09 22:08] mraible commented on #5883
I'm able to confirm that this sub generator did NOT work for me when trying to upgrade from 4.5.2 to 4.5.3.

[2017-06-09 22:59] jdubois commented on #5902
Yes that should be in 4.5.3, released a few hours ago

[2017-06-09 23:21] ygokirmak opened #5903 "docker-compose up does not starts gateway properly"
##### **Overview of the issue**

When  gateway is run within general docker-compose configuration, ui rendered as empty.

##### **Motivation for or Use Case**

##### **Reproduce the error**

[code]
Gateway starts successfully but bec js fiels are not inserted to index.html UI is empty.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
4.5.3

##### **JHipster configu

[2017-06-10 05:07] jdubois commented on #5903
That's because you packaged it with the dev profile !
Have a look at the documentation, only prod profile makes sense if you do a Docker image.

[2017-06-10 05:07] #5903 closed

[2017-06-10 05:31] ygokirmak commented on #5903
@jdubois what is the reason for this. I am getting hard to understand new version's docker-compose usage. I mean it seem now it is not feasible to use single docker-compose for local development because I need to build applications in prod profile and prod profile has prod configuration...

What do you advice for developing in local with say a gateway and a microservice

[2017-06-10 06:47] sohibegit commented on #5877
**_workaround_**

go to src/main/webapp/app/account/social/social-auth.component.ts
add this line
`this.router.navigate(['']);`
after this line
`this.cookieService.remove('social-authentication');`

final result:
[code]

[2017-06-10 07:02] ygokirmak commented on #5903
Thanks @jdubois let me clarify my use case in case there may be others in same situation.

I am developing a microservice application which has a gateway and a microservice. During development I need
- Changes on code should reflected to UI without restarting gateway ( so I need to run with yarn )
- Applications should run with dev profile ( so running with docker does not work bec it works correc

[2017-06-10 07:13] sohibegit opened #5904 "Webpack ignoring manifest.webapp and it's images"
##### **Overview of the issue**

Webpack doesn't parse **manifest.webapp**, src path stays the same and the icons ignored

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Browsers and Operating System**

openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-0ubuntu1.16.04.2-b11)

[2017-06-10 07:25] jdubois commented on #5903
Well, you have the choice:

- If you want "dev" mode, don't run with Docker (you won't have hot reload, obviously), so it's "./mvnw" and "yarn start" in your app
- If you don't want to work on a microservice (for example it comes from another team), then it's easier to use it as a Docker image (so you have the database, and everything fully setup without having to think about it)

That's why the "

[2017-06-10 07:50] ygokirmak commented on #5903
ok.. I got the point. thanks

[2017-06-10 11:40] JulioJu opened #5905 "Bug with Node.js 8.1.0 on Linux"
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of informati

[2017-06-10 11:44] jdubois commented on #5905
That's why we tell to use an LTS version in our documentation...

[2017-06-10 11:46] JulioJu commented on #5905
Maybe, I must add a bug report on Yeoman ?

[2017-06-10 14:54] jdubois commented on #5905
Yes

[2017-06-10 16:53] miclill commented on #5905
This is a bug in nodejs. It was fixed then reintroduced. 6.x LTS works. See here:
https://github.com/yeoman/yo/issues/360

[2017-06-10 16:57] uyeliksiz opened #5906 "Upgrading 4.5.2 to 4.5.3 problems"
##### **Overview of the issue**

I am running _jhipster upgrade_  but after all process there is no change.

##### **Motivation for or Use Case**

i am tring to upgrade jhipster 4.5.2 to 4.5.3.
after upgrading, .yo-rc.json file shows jhipsterVersion still 4.5.2.
I then tried it with --verbose. I show that The new version(4.5.3) of jhipster-generator is installed but does not generate with it.
![im

[2017-06-10 17:00] JulioJu commented on #5905
Ok !

[2017-06-10 17:00] #5905 closed

[2017-06-10 18:32] deepu105 commented on #5904
@sendilkumarn

[2017-06-10 18:50] pascalgrimaud commented on #5906
There is already an opened ticket about the sub generator upgrade: https://github.com/jhipster/generator-jhipster/issues/5883

I'm closing this ticket.

[2017-06-10 18:50] #5906 closed

[2017-06-10 23:14] sendilkumarn commented on #5897
closed by #5898

[2017-06-10 23:14] #5897 closed

[2017-06-11 03:37] pradeep1765 commented on #1829
I solved it using the following steps
1. manually create a folder called npm under node_modules folder of the nodejs installation
2. Launch the nodejs installable and opt for repair option

[2017-06-11 11:24] MathieuAA commented on #5191
@xetys, just to be clear about what I am to do here:
  - You have a gateway, and _n_ microservices,
  - The gateway's DB is of a NoSQL kind,
  - At least of one your microservices is.

For me it's a **different kind of issue** as, when your JDL is parsed, it notices you use relationships when your current application (the gateway) can't.
If I haven't forgotten anything here, I'll fix it right away

[2017-06-11 15:47] tan9 commented on #5883
The upgrade sub-generator helped me a lot aligning to the latest jhipter.

I stuck at JHipster 4.5.1 on my Windows and Linux machine for more than one week, and following the clues @jdubois provided, I can reproduce the issue as:

1. `yarn global add generator-jhipster`
2. perform `jhipster upgrade`
3. found commit *Generated with JHipster 4.5.1* in `jhipster_upgrade` branch is identical to the fo

[2017-06-11 16:37] MathieuAA commented on #5191
@xetys I've pushed something in the JHCore project, but I want to test some cases before proposing a PR.

[2017-06-11 17:01] deepu105 commented on #4968
closed https://github.com/jhipster/generator-jhipster/commit/1e0720f3d6d36c79149d363e88b920614736b181

[2017-06-11 17:01] #4968 closed

[2017-06-11 21:22] xetys commented on #5191
i will check asap

[2017-06-11 21:48] deepu105 commented on #4794
@sendilkumarn can you take a look at the checklist in opening comment? I believe some of the items you have already done. can you check and verify plz?

[2017-06-11 21:52] deepu105 commented on #4794
@jdubois I think we are almost there :clap:

[2017-06-12 03:38] sendilkumarn commented on #4794
great work guys 👍

[2017-06-12 03:42] carloca68 commented on #5877
I did set it in application.yml

redirect-after-sign-in

With the same results, but the user is not signed in :-(

[2017-06-12 08:21] Pomanks commented on #5745
Got the same issue here too, the project is running though but not pretty having an error when trying to install the project .. 😔
If anyone resolved it, feel free to share it! 😉

[2017-06-12 08:26] danerichards opened #5908 "org.elasticsearch.search.SearchParseException: No mapping found for [id] in order to sort on"
##### **Overview **

I'm not sure if i'm just overlooking something silly here, however i'm hitting this issue on my current project, and simulated in on a freshly generated jHipster application, and get the same result.

1. Generate application using 4.5.3
2. Select 'search using elasticsearch' option.
3. Add a single entity 'Book' with name, description and price fields.
4. Start up application,

[2017-06-12 09:55] ranjitkumarsingh opened #5910 "resource filter is not working with generated pom.xml"
##### **Overview of the issue**
Maven resource filter is not working if trying to add properties with bind variables.

##### **Reproduce the error**
If I add following property or similar into application.yml, it should be substituted accordingly after each maven build which is not happening.
version: @project.version@

##### **Related issues**

##### **Suggest a Fix**
removing everything related

[2017-06-12 11:42] AdrienHorgnies opened #5911 "Entity beginning with digit creates error in parsing"
##### **Overview of the issue**

Creating an entity with its name beginning with a number will result in gulp shouting errors.
[code]

##### **Motivation for or Use Case**

It should be clear whether such input is accepted or not. Either validation should refuse the input or entity generator should support such input.

It's a valid value for [mysql](https://dev.mysql.com/doc/refman/5.7/en/identifi

[2017-06-12 12:50] mmoscher commented on #5745
Same issue for me  .. upgraded to the recent version and migrated from angular2 to angular4.
Now I'm stuck here as well. :pensive:

[2017-06-12 13:37] deepu105 commented on #5745
Guys could you try to import it like this instead of `~`?
`@import "node_modules/bootstrap/scss/bootstrap";`

[2017-06-12 14:35] jdubois commented on #5877
Got the same issue, and your fix works, thanks!
I'm fixing this right now.

[2017-06-12 14:37] #5877 closed

[2017-06-12 14:42] #5904 closed

[2017-06-12 15:27] coderhelps opened #5912 "Feature Request: PrimeFaces UI support"
What are the thoughts about adding PrimeFaces as an alternate UI to the current Angular UI?
https://www.primefaces.org/
PrimeFaces has nice simple java ui support and since this is a java framework generator it seems like it would be a nice choice java app developers.
If I were to implement this or put out bounties for the implementation of this what are the recommendations to integrate it into th

[2017-06-12 15:33] coderhelps opened #5913 "Feature Request: CAS integration"
Thoughts on the integration of a central authentication service, something like: https://github.com/apereo/cas into the generator?
I believe this would allow many more authentication options than what are currently offered, such as x509, 2 factor auth, etc across multiple apps / services.
Any recommendations or suggestions?

[2017-06-12 15:50] jdubois commented on #5912
Sorry, but we have selected Bootstrap as our UI components.
Adding PrimeNG support is trivial, just follow the PrimeNG documentation: I did it a couple of weeks ago, it took me 10 minutes. So that would also be against [Policy 2](https://jhipster.github.io/policies/), as we don't want to generate something too bloated, when it's trivial to add the feature.
If you want to do this, this could be a m

[2017-06-12 15:50] #5912 closed

[2017-06-12 15:51] jdubois commented on #5913
I already do this quite often, with our JWT support. The current work is to integrate Keycloak, and I guess this would help this also.
We just can't support everything: this would be a good fit for a module, if anybody is interested.

[2017-06-12 15:51] #5913 closed

[2017-06-12 16:49] mraible commented on #5883
I just tried the steps you outlined in #3: remove generator-jhipster from yarn global install, `export PATH=$(npm bin):$PATH`, then running `yo jhipster:upgrade`.

It seemed to work, but in the end, the only change made on my `master` branch is versions changed in `yarn.lock`.

[code]

[2017-06-12 17:15] pascalgrimaud commented on #5603
@xetys : are you working on this ticket ? It has been opened since 2 months

[2017-06-12 17:32] pascalgrimaud commented on #5911
I confirm the issue, and I'm surprised that we have this since a long time!
Would you like to PR a fix?

I tested the JDL Studio and I got: `Expected ['\n'|'\t'|'\r'|' '| | ] or [A-Z] but "0" found. -> line: 1` so the control is already done there

[2017-06-12 17:39] pascalgrimaud commented on #5910
The delimiter is `#`, so if you use `#project.version#`, it should work.

Look at this line: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_pom.xml#L923

For example [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/_logback-spring.xml#L43), the `#logback.loglevel#` is used and it works well.

C

[2017-06-12 17:52] pascalgrimaud commented on #5908
It only happens the first time, when you have no data, so this entity is not indexed yet by Elasticsearch
Maybe we can try to catch the error, but it should not happened when you have data

[2017-06-12 18:05] AdrienHorgnies commented on #5911
[code]

I'll test and PR this fix tomorrow morning.

[2017-06-12 18:14] AdrienHorgnies commented on #5863
I have ended this feature and I've merge it in our dev branch. However I'll add some test cases before merging into master.

[2017-06-12 20:48] manishjn opened #5914 "Relation "datcat_attribute_metadata" does not exist"
JHipster is not creating the table **DatcatAttributeMetadata** to the database. This is a child table with a foreign key relationship manyToOne with parent table DatcatAttributeMetadata.
Parent table was created earlier but when adding DatcatAttributeMetadata using entity module this table is not being added to PostgresSql and throwing an error ERROR: relation "datcat_attribute_metadata" does not

[2017-06-12 20:54] ruddell commented on #5914
Please fill out the template and provide your configuration.

This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.m

[2017-06-12 20:54] #5914 closed

[2017-06-12 21:08] xetys commented on #5603
yes. I've got this in focus. I'm currently working on optimizing larger workloads (~50 services running). I'll contribute my settings soon

[2017-06-12 22:06] manishjn commented on #5914
Have opened it stackoverflow for now with detailed description.

https://stackoverflow.com/questions/44509426/jhipsterrelation-datcat-attribute-metadata-does-not-exist

On Mon, Jun 12, 2017 at 4:54 PM, Jon Ruddell <notifications@github.com>
wrote:

[2017-06-13 01:25] ggotti opened #5915 "Feature Request: Swap PhantomJS for Headless Chrome"
##### **Overview of the issue**
With Chrome now supporting a [headless option](https://developers.google.com/web/updates/2017/04/headless-chrome), PhantomJS support has been dropped from [Protractor](https://github.com/angular/protractor/blob/master/docs/browser-setup.md#setting-up-phantomjs). I'd like to see Headless Chrome replace PhantomJS as the preferred browser for Protractor and Karma.

###

[2017-06-13 02:13] tan9 commented on #5883
@mraible Would you please start over again with `jhipster upgrade` instead of `yo jhipster:upgrade`?

And you can check the content of package.json at commit "Generated with JHipster 4.5.2" and "Generated with JHipster 4.5.3".

[2017-06-13 04:25] cm45t3r opened #5916 "Bug: Ubuntu - jhipster:app freezes when specifying app type"
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of informati

[2017-06-13 04:43] pascalgrimaud commented on #5916
The problem comes from node 8. You should use a LTS version instead.
You can see this ticket https://github.com/jhipster/generator-jhipster/issues/5905

[2017-06-13 04:43] #5916 closed

[2017-06-13 04:59] cm45t3r commented on #5916
Thank you!

[2017-06-13 05:20] cbornet commented on #5915
We need to check first if Chrome 59 can be installed easily on any system (dev computer but also CI, docker, ...). It seems Travis supports it : https://github.com/travis-ci/travis-ci/issues/7650

[2017-06-13 05:51] jdubois commented on #5914
Please follow the guidelines, and don't cross post with Stackoverflow, this makes us lose time

[2017-06-13 07:39] AdrienHorgnies commented on #5911
Can someone check it ? https://github.com/jhipster/generator-jhipster/pull/5917

[2017-06-13 10:44] zhaojunjie163 opened #5918 "The requestIntercept() in AuthInterceptor.ts will be executed twice for every http request."
I think it's a bug, version from 0.1.16 to 0.2.2
requestIntercept() method in AuthInterceptor.ts will be executed twice for every http request.

[2017-06-13 13:31] ranjitkumarsingh commented on #5910
Yes you are right, its working with #. I din't realize the delimiter has been set to #. closing this issue.

[2017-06-13 13:31] #5910 closed

[2017-06-13 15:27] PierreBesson commented on #5915
@cbornet Chrome 59 is already available for Mac os and linux which support headless mode. However headless will only be supported on Windows for Chrome 60: https://developers.google.com/web/updates/2017/04/headless-chrome

[2017-06-13 18:19] deepu105 commented on #5918
could you be more specific?

[2017-06-13 18:23] deepu105 commented on #5911
closed via #5917

[2017-06-13 18:23] #5911 closed

[2017-06-13 18:52] deepu105 commented on #5745
@xetys @Vaelyr @mmoscher its actually not a good idea to import non partial files in multiple places as itt will generate duplicate css from them and cause issues. Partial files will have `_` preceding the file name so if you do want to import them do so using the exact file for eg: `@import "node_modules/bootstrap/scss/mixins/border";`
I'll wait fro feedback for sometime before closing this

[2017-06-13 18:54] gmarziou opened #5920 "Prevent creating relationship with User in microservices architecture"
##### **Overview of the issue**

[Seen on SO](https://stackoverflow.com/questions/44483130/jhipster-entity-doesnt-be-created-in-javaspring-framework), a developer was able to create a relationship between his entities and User entity in a microservices architecture.
Of course, this cannot compile as User entity is in gateway and the entities are in services.

I'm on holidays, I may look at it by t

[2017-06-13 19:01] deepu105 commented on #5745
I tried this (`@import "node_modules/bootstrap/scss/mixins/border-radius";`) in `home.scss` and it works ofcourse it will throw an error since a variable is missing so you also need to import `node_modules/bootstrap/scss/variables`  so for me it works and its the correct way to do it. I'm gonna close and document this

[2017-06-13 19:10] #5745 closed

[2017-06-13 19:15] deepu105 commented on #5652
we need to add angular reserved words now :sob:

[2017-06-13 19:18] Vaelyr commented on #5745
It shouldn't generate duplicate css, this is handled by the processor. Else there would be no way to use mixins and base css in any component level styling.

[2017-06-13 19:24] deepu105 commented on #5652
anyway this is common sense and no other way to do even if you are coding it by hand

[2017-06-13 21:03] deepu105 commented on #4794
@JulienMrgrd there is one more TOD added in `_notification.interceptor.ts`

[2017-06-13 21:17] deepu105 commented on #5652
fixed via https://github.com/jhipster/generator-jhipster/commit/ed2742e908bcf37bef74b441b9aba9f31b801334, https://github.com/jhipster/generator-jhipster/commit/13b62712a929c0a50a1aa82242d6a52d752e6f23, https://github.com/jhipster/generator-jhipster/commit/3df177eb2a4eefb27de39dafc96d869414314160, https://github.com/jhipster/generator-jhipster/commit/3eb2a022a5515e52ed701fcd027cc454b044d48f, https:

[2017-06-13 21:17] #5652 closed

[2017-06-13 21:20] deepu105 commented on #5745
I wish it was handled, I didnt test here but on a react + webpack project it does create duplicate thats why people use partial files (with_ prefix) so sass knows not to generate them

[2017-06-13 21:31] deepu105 commented on #5915
this is not urgent. lets wait until its available everywhere. Also another
thing to consider is will everyone have chrome? I have colleagues who
doesnt use chrome at all, so its not uncommon

Thanks & Regards,
Deepu

On Tue, Jun 13, 2017 at 5:27 PM, Pierre Besson <notifications@github.com>
wrote:

[2017-06-13 21:35] Vaelyr commented on #5745
I didn't see that the OP tried to include non-partial, this is something I would avoid. My concern was for partials, these have to be imported via absolute path to be able to compile with AoT.

[2017-06-13 21:42] xetys commented on #5191
There is still an issue with the parseJDL function in the import-jdl generator. The applicationType should be passed, too. After setting that option locally, I could generate the gateway!

[2017-06-14 01:47] zhaojunjie163 commented on #5918
@deepu105
Thanks for your swift reply.
For example:
Whenever I call any **this.http.get()** method once.
The requestIntercept() method in AuthInterceptor.ts was supposed to be executed once, but it was executed twice.

I found this problem by printing logs as shown below:
 requestIntercept(options?: RequestOptionsArgs): RequestOptionsArgs {
        const token = this.localStorage.retrieve('authent

[2017-06-14 04:14] deepu105 commented on #5918
Ok thanks

On 14 Jun 2017 3:47 am, "zhaojunjie163" <notifications@github.com> wrote:

@deepu105 <https://github.com/deepu105>
Thanks for your swift reply.
For example:
Whenever I call any *this.http.get()* method once.
The requestIntercept() method in AuthInterceptor.ts was supposed to be
executed once, but it was executed twice.

I found this problem by printing logs as shown below:
requestInterc

[2017-06-14 05:21] deepu105 commented on #4794
@JulienMrgrd regarding item 5 above. I think ng-file-dependency part was done using a custome implementation already. check first please

[2017-06-14 06:03] deepu105 commented on #4794
@jdubois the prod build looks fine now. can you take a look and let me know if you find any more issues?
@sendilkumarn I just found one issue `vendor.dll.js created in prod is not hashed and does not have expire header ` can you take a look please
@jdubois once @JulienMrgrd is done with the TODO item fix we can proceed with testing and release
Great work everyone. Lets push this out :clap:

[2017-06-14 06:05] deepu105 commented on #4794
@JulienMrgrd I updated your TOD list

[2017-06-14 06:06] sendilkumarn commented on #4794
@deepu105 with #5907 vendor.dll.js will not be generated in prod mode.

[2017-06-14 06:08] deepu105 commented on #4794
where would that end up then?

[2017-06-14 12:48] CatchSandeepVaid commented on #3722
Just wondering how you integrated your custom PersistentTokenRememberMeServices into Spring as inside RememberMeConfigurer.createPersistentRememberMeServices() org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices instance is created, so how will you integrate your custom PersistentTokenRememberMeServices instead of this instance?

`private AbstractRemem

[2017-06-14 15:07] jdubois commented on #5915
Let's not rush for this. We have something which is very stable today, and doesn't cause any issue: we clearly have higher priorities at the moment.

[2017-06-14 15:07] #5915 closed

[2017-06-14 15:40] mraible commented on #5883
@tan9 I tried using `jhipster upgrade` and it does work. I believe `yo jhipster:upgrade` might've too because I had the same `yarn.lock` issue as above.

[2017-06-14 16:05] mraible commented on #5883
Yep, just confirmed that `yo jhipster:upgrade` did indeed work on macOS Sierra 10.12.5. I upgraded from 4.5.2 to 4.5.3.

[2017-06-14 16:25] PierreBesson commented on #5915
Personally I think the benefits of headless chrome are huge. Also phantomjs is often causing problems in some environments (in my experience) so I think it would be a good move to do the switch. Chrome could be launched in a docker image which would work everywhere for example with this: https://hub.docker.com/r/selenium/standalone-chrome/.

[2017-06-14 20:06] levioza opened #5923 "Add the alert service to the core of the application code to be able to provide a different implementation"
##### **Overview of the feature**

I want the implementation of the alert service to be part of the core code of the application to be able to provide an alternative implementation.

##### **Motivation for or Use Case**

I’m trying to implement a different implementation of the alerts provided by jHipster for Angular v2+ using the ng2-toastr (https://www.npmjs.com/package/ng2-toastr) library. 

We

[2017-06-14 20:35] dancancro commented on #5745
I'm having sass problems that might be related to this. I'm not sure whether what I want to do isn't doable or if I'm just doing something wrong. Advice would be much appreciated.

I am trying to add [this dashboard demo](https://github.com/akveo/ng2-admin) as a feature to [my app](https://github.com/dancancro/great-big-example-application/blob/dashboard/src/main/webapp/app/features/dashboard/dash

[2017-06-15 06:26] pascalgrimaud commented on #5858
@JulienMrgrd : is it fixed?

[2017-06-15 08:17] deepu105 commented on #5923
Sorry but this is a bug tracker and not a support forum.

You can easily use your own alert service or even configure a factory to provide your own implementation. its all standard angular stuff

This is not a bug or feature request and hence this is not the correct forum for this.
Please use Stack overflow for this. Tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipst

[2017-06-15 08:17] #5923 closed

[2017-06-15 08:19] deepu105 commented on #5745
@dancancro, unfortunately, we cannot do support here, you need to take it to stack overflow

[2017-06-15 08:33] MKITConsulting opened #5924 "Modelio UML example file is invalid"
Hello,

the Modelio file ([link](https://github.com/jhipster/jhipster-uml/blob/master/test/xmi/modelio.xmi)) linked on the [jhipster-uml example page](https://jhipster.github.io/jhipster-uml/#examples) cannot be imported:

![modelio 3 6 import error](https://user-images.githubusercontent.com/29451012/27172565-fe126c92-51b5-11e7-9dd5-a942958233bb.png)

I've just tested this on Modelio 3.6.

[2017-06-15 08:56] deepu105 commented on #5924
@MKITConsulting please open the issue on the JHipster UML project https://github.com/jhipster/jhipster-uml

[2017-06-15 08:56] #5924 closed

[2017-06-15 09:49] levioza commented on #5923
@deepu105 Ok... Thank you for your reply.

[2017-06-15 13:53] unikzforce opened #5925 "angular2-cookie library Deprecated, Please replace it with ngx-cookie"
##### **Overview of the issue**
replacing  old angular2-cookies with the newer ngx-cookies.

##### **Motivation for or Use Case**

the old angular2-cookies library is giving some warnings, when running 'yarn install', stating that the old angular2-cookies has incorrect peer dependency angular/core 2.
but for ngx-cookie this warning disappears.
would you please replace it with the newer library fro

[2017-06-15 15:27] dancancro commented on #5745
@deepu105 Thanks. I don't know if it's worded specifically enough for stack overflow, but I asked the question [here](https://stackoverflow.com/questions/44571411/how-to-get-sass-and-font-modules-working-for-a-single-feature-of-an-angular-webp). We'll see.

[2017-06-15 16:43] deepu105 commented on #5925
This is already done in master

[2017-06-15 16:43] #5925 closed

[2017-06-15 16:44] vw98075 opened #5928 "JDL on Visual Stadio Isn't Working"
##### **Overview of the issue**

I would like to generate a class diagram for a .jdl file

##### **Reproduce the error**

After loading a jdl file, I run PlantUML according to the instruction on https://jhipster.github.io/jhipster-ide/ and I get an error, "Image file .png not found!"

##### **Related issues**

##### **Suggest a Fix**

?

##### **JHipster Version(s)**

4.5.2

##### **JHipster confi

[2017-06-15 16:47] #5928 closed

[2017-06-15 16:47] deepu105 commented on #5928
Could you please open the issue in the jhipster-ide project

On Thu, 15 Jun 2017, 6:44 pm vw98075, <notifications@github.com> wrote:

[2017-06-15 16:52] vw98075 commented on #5928
I will do so. Sorry for posting in a wrong project.

[2017-06-15 16:56] xetys commented on #5603
I would like to add the following point:

[ ] add a "service exposure selection" to let the user choose between "LoadBalancer", "NodePort" or Ingress

as currently `type: LoadBalancer` is used by default, but only works in certain public cloud kubernetes providers, but neither in Minikube nor in custom / bare-metal clusters.

[2017-06-15 17:17] brevleq opened #5929 "Update user token with database's authorities"
##### **Overview of the issue**

I've verified that when I change user's roles, the REST API is rejecting some calls returning unauthorized error. After seen that the authorities was correct at database, I've opened a anonymous tab at chrome and did the same request with the same user and it worked, however the not anonymous tab, still wasn't succeeding with the request.

##### **Motivation for or

[2017-06-15 17:18] PierreBesson commented on #5603
@xetys it's a good point. Of course this option is needed. Eventually we would not need the nodePort option if we can configure the ingress for minikube as well.

[2017-06-15 20:12] jdubois commented on #5929
I think there is a misunderstanding here. Roles do not change "in real time":

- With Spring Security, you need to logout/login to refresh them
- With the JWT token, because basically they come from Spring Security (so back to the previous point)

So that's "normal" behavior for Spring Security, and this is not surprising: security mechanisms usually work like this (with Windows, you probably know

[2017-06-15 20:12] #5929 closed

[2017-06-15 20:34] xetys commented on #5603
I want to have all 3 options available, as there are a lot of various types of k8s cluster, so our k8s support will be more universal

[2017-06-16 07:15] yanweiqi commented on #5563
Welcome to the JHipster Generator v4.5.3
Documentation for creating an application: https://jhipster.github.io/creating-an-app/
Application files will be generated in folder: E:\er\jhipster\blog
? (1/16) Which *type* of application would you like to create? Monolithic application (recommended for simple projects)
? (2/16) What is the base name of your application? ywqblog
? (3/16) Would you like t

[2017-06-16 07:23] yanweiqi opened #5934 "generators from the JHipster Marketplace? yes create fail"
██╗ ██╗   ██╗ ████████╗ ███████╗   ██████╗ ████████╗ ████████╗ ███████╗
        ██║ ██║   ██║ ╚══██╔══╝ ██╔═══██╗ ██╔════╝ ╚══██╔══╝ ██╔═════╝ ██╔══ ═██╗
        ██║ ████████║    ██║    ███████╔╝ ╚█████╗     ██║    ██████╗   ███████╔╝
  ██╗   ██║ ██╔═══██║    ██║    ██╔════╝   ╚═══██╗    ██║    ██╔═══╝   ██╔══██║
  ╚██████╔╝ ██║   ██║ ████████╗ ██║       ██████╔╝    ██║    ████████╗ ██║  ╚██╗
   ╚

[2017-06-16 07:41] token01 opened #5935 "How to integrate elasticsearch?"
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of informati

[2017-06-16 07:44] clun commented on #5801
Hola,

**[Follow-up] -** The generator is improving bit by bit : https://github.com/clun/generator-jhipster-ff4j

So far :
- [x] Add an item in the Admin Menu
- [x] Copy templates/configuration in the target App
- [x] Update webPack (urls) configuration
- [x] Change CSRF security to allow POST requests coming from ff4j console (did not find other way)
- [ ] Setting up FF4j to use the same Database

[2017-06-16 07:44] jdubois commented on #5934
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-16 07:45] jdubois commented on #5935
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-16 07:45] #5935 closed

[2017-06-16 07:58] token01 commented on #5935
I apologize for my behavior. i will go to the help documents.

[2017-06-16 08:01] jdubois commented on #5935
No problem, you're not the only one :-)

[2017-06-16 08:18] atomfrede opened #5936 "Upgrade to Gradle 4"
##### **Overview of the issue**

The new major release has some nice new features, like parallel download of dependencies

##### **Motivation for or Use Case**

Always stay up to date

##### **Reproduce the error**

Not applicable

##### **Related issues**

None

##### **Suggest a Fix**

I already updates the version and found that some plugins needed to be updated. Will try to test further during

[2017-06-16 08:35] rnbsoft commented on #5563
Just following the "Getting started" guide in the homepage.
I am getting the same errors.

? (1/16) Which *type* of application would you like to create? Microservice gat
eway
? (2/16) What is the base name of your application? licy
? (3/16) Would you like to install other generators from the JHipster Marketpla
ce? Yes
undefined:1
Internal Server Error
^

SyntaxError: Unexpected token I in JSON at

[2017-06-16 10:20] Pinguwien opened #5938 "Give the possibility to invalidate a password after a given timespan (and allow to set the timespan via yaml)"
##### **Overview of the issue**

Let jhipster generate a password reset key or an account actication key, at the moment these keys are usable forever.
In many use cases where you create a portal-app, this is not preferred. Often it is more something along these lines: "This key is usable for the next 24h". So, instead of being usable forever, I'd like to request a possibility to enter a timespan a

[2017-06-16 11:43] ibrodjabi commented on #5563
Hello ! Sames probems with my case. I need help. Thanks !

[2017-06-16 11:47] jdubois commented on #5563
Please don't comment on old issues, if you have a new issue please follow the guidelines

[2017-06-16 12:03] atomfrede commented on #5938
In fact at least the password reset key is checked for expiration when trying to consume that key:
`.filter(user -> user.getResetDate().isAfter(Instant.now().minusSeconds(86400)))`

So it is hard coded to 24 hours, which is easy to make configurable or do you mean something else?

[2017-06-16 12:03] jdubois commented on #5938
- the title is wrong, you speak of the keys and not the passwords, could you rewrite it?
- the keys do have a limited time validity, have a look at the code (sorry, I'm using my phone)

[2017-06-16 12:07] jdubois commented on #5938
Thanks @atomfrede - I'm closing this as it's easy to put in a Yaml config, so this would be against our policies

[2017-06-16 12:07] #5938 closed

[2017-06-16 12:10] deepu105 commented on #5934
I tried this and yes its failing. I think there is a package that is malformed. I'm gonna make sure that package errors dont propogate here so that its just warns and continues

[2017-06-16 12:11] deepu105 commented on #5563
@ibrodjabi @rnbsoft its tarcked here https://github.com/jhipster/generator-jhipster/issues/5934
@jdubois I think this is a critical bug for people trying to use marketplace

[2017-06-16 12:41] Pinguwien commented on #5938
Sorry for the inconvenience, just found the code. my bad.

[2017-06-16 12:45] deepu105 commented on #5934
fixed via https://github.com/jhipster/generator-jhipster/commit/d53c4034a8b7c340aa0959e221827f627399a333

[2017-06-16 12:45] #5934 closed

[2017-06-16 12:45] deepu105 commented on #5934
@jdubois I think we need to do a patch release for this

[2017-06-16 12:51] deepu105 commented on #5934
doc updated https://github.com/jhipster/jhipster.github.io/pull/447

I think the npms.io service is down temporarily

[2017-06-16 12:53] jdubois commented on #5563
Yes I'll try to do a release, but not easy at the moment

[2017-06-16 13:04] ibrodjabi opened #5939 "can't install generator-jhipster-spring-batch module from jhipster, markeplace link is broken. I need help. Thanks"
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of informati

[2017-06-16 13:12] deepu105 commented on #5939
The npm search service is down https://github.com/npms-io/npms-www/issues/174.
You can install the module manually but I dont think such a module exist

[2017-06-16 13:12] #5939 closed

[2017-06-16 13:27] xtremebiker opened #5940 "Configuring which entities to alert about"
I've generate a jHipster project with the 4.5.1 version and it does a really nice job. However, I'm already modifying the generated code, which is CRUD focused for all entities, and want to unify many of them.

That said, I would like to be able to choose which entities to alert about using UI-Bootstrap. Now, when I save EntityA which manages EntityB in the same view, I get two alerts for each of

[2017-06-16 14:09] henri-tremblay commented on #5883
On my side, I tried 4.5.2 to 4.5.3 and failed.  With `jhipster upgrade`. This happens

[code]
Which seems to be

1. Upgrade the jhipster version in `package.json`
2. Try to change the branch to jhipster_upgrade but fails since `package.json` is modified locally

No one is having this?

[2017-06-16 14:10] mraible commented on #5883
I'd suggest trying to delete your local `jhipster_upgrade` branch first.

[code]

[2017-06-16 14:15] henri-tremblay commented on #5883
Am I now supposed to get it forever to simplify merge? And why deleting will help? It will do a `git checkout -b jhipster_upgrade` which will prevent the problem?

[2017-06-16 14:39] rex-sheridan opened #5941 "Cannot generate microservice application with marketplace generators"
##### **Overview of the issue**

When creating a microservice application and selecting to install other generators from the marketplace I receive the following error:

`
$ jhipster
Running default command
Executing jhipster:app

        ██╗ ██╗   ██╗ ████████╗ ███████╗   ██████╗ ████████╗ ████████╗ ███████╗
        ██║ ██║   ██║ ╚══██╔══╝ ██╔═══██╗ ██╔════╝ ╚══██╔══╝ ██╔═════╝ ██╔═══██╗
        █

[2017-06-16 14:53] #5902 closed

[2017-06-16 14:53] jdubois commented on #5941
Yes that's a duplicate. Release under way!

[2017-06-16 14:53] #5941 closed

[2017-06-16 14:54] jdubois commented on #5940
I'm sorry, this isn't a bug -> could you ask your question on Stackoverflow?

[2017-06-16 14:54] jdubois commented on #5940
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-16 14:54] #5940 closed

[2017-06-16 16:02] henri-tremblay commented on #5883
But, indeed, deleting the branch worked

[2017-06-16 16:14] jdubois commented on #5833
Just tested the prod build -> the "vendor.dll" is still there, with no hash (so it's not cacheable), I thought this was solved?
@deepu105 this seems stucked, how can I help?

[2017-06-16 16:58] freemanpolys opened #5942 "Can't compile with lombok"
##### **Overview of the issue**
./mvnw and mvn clean install fail when adding lombok dependency but run  successfully when launched from Intellij IDE
Find the error below :
[code]

##### **Motivation for or Use Case**
Use lombok annotations for my custom POJOs setter/getter and builder.

Maven build failed.
##### **Reproduce the error**
add  lombok dependency in the pom.xml
[code]
create new java

[2017-06-16 17:12] #5942 closed

[2017-06-16 17:14] PierreBesson commented on #5942
The JHipster doesn't offically support Lombok. Please use stackoverflow to ask for help.

[2017-06-16 17:23] jdubois commented on #5942
Yes and I'll need to update my list of days lost because of Lombok... Why the hell do people use it?

[2017-06-16 19:41] xetys commented on #5942
possibly Lombok is an example for anti-patterns, looks like a good idea, while it's actually not 😄

[2017-06-16 23:57] mraible commented on #5617
This happens with JHipster 4.5.4.

[2017-06-17 00:13] mraible commented on #5617
Nevermind, was running from the wrong directory! ;)

[2017-06-17 00:13] #5617 closed

[2017-06-17 01:03] tezcane opened #5943 "add high level control and view to current hard coded REST API paths"
##### **Overview of the issue**

Feature Request: It currently requires lots of code edits to update the generated REST API paths (e.g. api/users) since they are hard coded.  This is because the API paths are hard coded in the REST layer, Security Configurations, Unit Tests, and Angular Front End router code.

##### **Motivation for or Use Case**

The API Paths being hard coded makes it quite tedi

[2017-06-17 07:08] jdubois commented on #5943
You can't have this at the same place for Angular and Spring Boot, so there isn't a lot of added value: for Spring Boot, for example, that would only be used in the controller and in the test (and for the test, I'm not even sure it's a good idea, as you are supposed to test URLs). So that would be against [Policy 2](https://jhipster.github.io/policies/).

I also never saw people doing this, so tha

[2017-06-17 07:08] #5943 closed

[2017-06-17 08:02] xtremebiker commented on #5940
Sure! https://stackoverflow.com/questions/44602225/configuring-which-entities-to-alert-about-in-jhipster Thanks!

[2017-06-17 08:05] freemanpolys commented on #5942
We use Lombok to avoid writing annoying setter/getter and it inject builder pattern too :)

[2017-06-17 08:27] jdubois commented on #5942
Because we do so much more than Spring Initializer...
I've spent so many days on projects failing because of Lombok, I have no idea why people want to use this. There's one "smart" guy who gains a few minutes for not generating his getter/setter, and then you have whole teams stuck, production system failing, and consultants billed to solve the issue. That thing is costing so many $$$.
Note that I

[2017-06-17 09:05] freemanpolys commented on #5942
Ok  I see,  I'm one of this "lazy" guys :)
Beyond Jpa - Hibernate , do you plan to support [mybatis](http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/)? I use to use it and Spring Boot too.

[2017-06-17 10:42] deepu105 commented on #5883
May be we should add in a step to delete the branch if it exists already

On Fri, 16 Jun 2017, 6:02 pm Henri Tremblay, <notifications@github.com>
wrote:

[2017-06-17 10:44] deepu105 commented on #5833
@jdubois yes im aware of that. @sendilkumarn is working on that in a PR using ngtools. We talked about that on the original angular todo issue. Sorry on my mobile now. @sendilkumarn do you need a hand?

[2017-06-17 10:45] jdubois commented on #5942
"smart", I said "smart" :-)

[2017-06-17 10:58] xetys commented on #5942
I explain that, as Julien did this so many times. We have some policies. In general, they are talking about providing a minimum of fancy stuff, and try to be maximal conform with default configuration. Sure, there are tons of different solutions in every single stack JHipster provides, as Lombok for POJOs, Mybatis as Hibernate replacement, minimum 1337 different (distributed) caching solutions, an

[2017-06-17 12:01] freemanpolys commented on #5942
Ok I get it. I have to stick to JHipster policies because it's a great  generator which do cool things. Thanks guys.

[2017-06-17 12:07] andidev commented on #5942
@freemanpolys
I have no problem using lombok in JHipster projects. Are you sure you configured everything correctly?

[2017-06-17 12:26] freemanpolys commented on #5942
I don't make any configuration usually with my Spring Boot project. I just add the dependency and use Lombok @Data , @Builder annotations.

[2017-06-17 12:41] freemanpolys commented on #5942
Anyway @andidev, which configs do you do ?

[2017-06-17 12:42] henri-tremblay commented on #5883
If the branch is indeed not historically needed, yes we should delete it.

[2017-06-17 12:45] jdubois commented on #5942
Not sure, but we added the Afterburner module for Jackson recently : that's the kind of thing that won't work well with Lombok

[2017-06-17 12:48] freemanpolys commented on #5942
Ok @jdubois. @andidev, we have to definitely stick to JHipster policies :-)

[2017-06-17 13:35] andidev commented on #5942
I think this is a lombok issue, try downgrading lombok.

see
https://github.com/rzwitserloot/lombok/issues/979
and
https://stackoverflow.com/questions/34358689/maven-build-cannot-find-symbol-when-accessing-project-lombok-annotated-methods

[2017-06-17 13:53] xsalefter commented on #5908
If I understand this issue correctly, actually I have the same problem. This is exactly spring-data-elasticsearch issue, and exactly just like @pascalgrimaud said, this is only happened if there's no data.

The real problem is because spring-data-elasticsearch doesn't [add unmapped type for sorted field](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#_igno

[2017-06-17 14:21] dharmjit opened #5944 "jhipster docker setup error - New state of 'nil' is invalid"
* **Jhipster installation error Docker**

Getting below error when generating a project in docker

* **Motivation for or Use Case**

I want to set Jhipster and start with one of the sample project but getting this error. I have also seen there is one question on SO which is not answered.

Running default command
Executing jhipster:app --npm
        New state of 'nil' is invalid.

* **Browsers and

[2017-06-17 14:28] tan9 commented on #5883
@mraible , @deepu105 I encountered the same issue as @henri-tremblay , and I overcame the issue by just commit the changed package.json or just reset it. And start over the `jhipster upgrade` without deleting the `jhipster_upgrade` branch.

As the error message said:
[code]
What happened actually is the version of `ng-jhipster` in `package.json` was updated accidentally in the source branch rather

[2017-06-17 14:33] jdubois commented on #5944
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-17 14:33] #5944 closed

[2017-06-17 15:35] henri-tremblay commented on #5883
I tried to commit and relaunch. Didn't worked.

In my case it was really the generator-jhipster version that was updated in
`package.json`.

[2017-06-17 21:17] thiagosoares-mobile commented on #5858
In the version 4.5.4 this issue persist.
Apparently, the `ErrorHandlerInterceptor.responseIntercept` is called two times and the `this.eventManager.broadcast( {name: 'jhipsterApp.httpError', content: error})` add two error events.

Unfortunately, I could not solve this problem. If someone already knows the solution, please share.

Grateful.

[2017-06-18 06:31] tezcane commented on #5943
Please read my response carefully as I feel many of your statements are not justified.

Policy #2 Quote:

This feature request is more in favor of Policy # 2, not against it.  For Policy # 2, it does not complicate things but simplify for JHipster users, there is no configuration that is changing or option that is being added here.  If this feature is implemented it will prevent a user from having

[2017-06-18 09:27] deepu105 commented on #5858
@thiagosoares-mobile I think this is a different issue. Could you please open a new issue with your configuration yo-rc file

[2017-06-18 09:51] jdubois commented on #5943
- I don't think that "EVERYONE is going to have trouble understanding and eventually highly modify anyway". We follow the usual Spring Boot configuration you see everywhere, including in all Spring tutorials, and I've never seen someone refactor this code to use constants -> that's my point about policy 1. It's obvious to understand the current configuration, as it's just the String that is writte

[2017-06-18 10:49] deepu105 commented on #5943
@tezcane @jdubois here are my thoughts on this.
@tezcane I think just changing `@RequestMapping("/api")` annotation at class level to `@RequestMapping(ApiPath.ROOT)` to use the `/api` string from a constant file rather than hard code it in every class would remove all the duplication of that string and will allow you to change the base path without modifying it everywhere. hence personally I would

[2017-06-18 10:54] jdubois commented on #5943
Oh sorry @tezcane I totally misunderstood one point:

-> For Angular, you're speaking of the URL in the services, not the Angular routes?

If that's the case, I agree with you this is annoying to have the same URL in both Spring MVC REST controllers and Angular services, and needing to modify both.

However, I don't really see how we could implement a solution - typically, the solution to this use

[2017-06-18 11:01] xetys commented on #5943
I am likely to say, this feature would be great for a JHipster crack, who knows his stack like his pocket, and confusing for someone, who is new to it. The best example here is the usage of our role constants. They must be consistent to really work with each other in spring and angular. If you are in topic, you know for sure where to change things. But if you check the issue tracker and StackOverf

[2017-06-18 18:12] abshkd commented on #236
I'd like to reopen this. In Spring Cloud config server I can easily encrypt the config at rest. However simply specifying `encrypt.key` in bootstrap doesnt work in jhipster. using version 4.2.
Unless I missed something.

[2017-06-18 18:17] gmarziou commented on #236
@abshkd commenting a 3 years old closed issue does not really help. Please open a new issue with details.

[2017-06-18 18:59] ndjordjevic opened #5947 "New user must change password on first login - feature request"
Hi,

Have you consider adding this functionality?

[2017-06-18 19:07] ruddell commented on #5947
When an admin creates a user through the User Management page, the link the user receives takes them to the Password Reset Finish page.  So it works like you describe.

[2017-06-18 19:07] #5947 closed

[2017-06-18 22:24] xetys commented on #5603
ingress and co. are done.

Now should go on with Prometheus monitoring, and have a question here. On my setups, I'm using the [Prometheus Operator](https://github.com/coreos/prometheus-operator) instead of using own deployments of Prometheus itself. This is nice, as I can just "wire" the metric endpoints to a TPR, which handles the actual Prometheus configuration.

However, this required the clust

[2017-06-18 23:02] PierreBesson commented on #5603
I already know about the prometheus operator. I think it's OK to use it because it simplifies configuration for us. Also if you already have a working setup then we should go with that.
I wish there was an Elasticsearch operator that we can use for the JHipster Console... Deploying a production Elasticsearch in docker is quite hard...

[2017-06-19 10:57] dharmjit opened #5950 "jhipster docker setup error - New state of 'nil' is invalid"
**Overview of the issue**

I am following the jshipster installtion guide at https://jhipster.github.io/installation/ and wants to install it on Docker. When going through first project setup, I am getting below error.

Running default command
Executing jhipster:app --npm
New state of 'nil' is invalid.

**Motivation for or Use Case**
NA

**Reproduce the error**
NA

**Related issues**
NA

**Suggest

[2017-06-19 11:05] adnans-coviot opened #5951 "Move Authentication and User Management to micro services architecture"
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of informati

[2017-06-19 11:17] deepu105 commented on #4794
@jdubois I think we are almost ready. Thanks @sendilkumarn for that last piece of fix.
@JulienMrgrd what is your progress with the TODO items?

[2017-06-19 11:35] deepu105 commented on #4794
@jhipster/developers can someone test the master branch locally with some entities and relationships in prod profile. Locally im noticing a slower `ngc` compile phase

[2017-06-19 12:07] thiagosoares commented on #5858
OK @deepu105.

[2017-06-19 12:14] deepu105 commented on #4794
I have reverted PR #5907 from master and opened a new PR #5952 for the same so that we can try to isolate and solve the issue. I wont have much time today so if any @jhipster/developers wants to take a look at it please do so its in a branch in jhipster repo so all will have access. When doing a `yarn webpack:build` you will notice that it takes more than 2 minutes and doing a `./mvnw -Pprod` will

[2017-06-19 12:39] xetys commented on #5951
Take a look at [JHipster UAA](https://jhipster.github.io/using-uaa). This is exactly what you are asking for. It's a separate microservice, holding the user (and related) domain, and providing authentication using an OpenID-compatible flow, as well as authorization using OAuth 2 from Spring Security. So you can use OAuth 2 for internal security, and share your data to federated projects.

As you a

[2017-06-19 12:39] #5951 closed

[2017-06-19 13:19] JulienMrgrd commented on #4794
@deepu105 I'm not actually working on the 2 last TODO (in agreement with @jdubois, about my new trainee subject about Spring 5).
But I can take a look on the 7th TODO (notification.interceptor.ts) this week.

[2017-06-19 13:22] jdubois commented on #4794
Yes @JulienMrgrd can you spend a few hours to help Deepu? I'll be at the office tomorrow, we can have a look together

[2017-06-19 13:27] jdubois commented on #5950
I'm guessing this is because you typed `jhipster:app` which is not an existing command :-)

I think you wanted to run `jhipster app`, or even better just `jhipster`

[2017-06-19 13:32] JulienMrgrd commented on #4794
@jdubois It's ok

[2017-06-19 14:14] rroex opened #5953 "Feature request: Observable support for request interceptors"
##### **Overview of the issue**
Handle observables in request interceptors. This will add support to handle asynchronous code in the interceptor before the http call will be executed.

##### **Motivation for or Use Case**
I am working on a proof of concept to integrate Keycloak in a Jhipster project. In the existing AuthInterceptor I am setting the token from Keycloak on the http headers. Unfortun

[2017-06-19 15:12] gimoh opened #5954 "Improved JDL and liquibase diff based workflow"
* **Overview of the request**

I'd like to be able to use JDL as the source of truth for the object models and schema.

I'm opening this ticket to discuss issues and solutions, I'll submit PRs for any changes that come out of this.

Roughly the improvements I'd like to look into are:

- [ ] prevent entity generator from updating existing _added_entity_ changelogs (as applying these will always fai

[2017-06-19 15:28] dharmjit commented on #5950
Hi, I used both jhipster --npm and jhipster as mentioned on the installation page and got the above error.

[2017-06-19 15:57] deepu105 commented on #5954
This is something I was considering as well when I originally coded the entity editing feature but I decided not to do it at that time as its more complex than it looks.

- For entity generator, it's possible to generate new changelogs when fields & relationships are added/removed though not very simple to implement it is feasible. So when you add new data to entity you will create a new changelog

[2017-06-19 16:00] jdubois commented on #5953
- Isn't this linked to #5884 ?
- I know some other people are trying to integrate JHipster with Keycloak, but nobody succeeded yet :-) So help & feedback would be great here

[2017-06-19 16:12] gimoh commented on #5954
I know exactly what you mean, this was my original plan (to have the generator create new changelogs) but I quickly realised it would need to maintain a before and after state of the json representations of entities and then figure out a diff. So in a way this seems like re-implementing what liquibase diff already does.

And given that from what I understand, many people here already use liquibase

[2017-06-19 16:37] tan9 commented on #5883
＠henri-tremblay What does "didn't worked" mean?
Is there any error messages, and what's the git branch and status after fail upgrading?

[2017-06-19 16:42] deepu105 commented on #5954
We normally like to give the developers out of the box experience. that means everything working OOB. Liquibase diff would need the user to configure credentials and stuff to work and it's not that widely used, to be Frank. So I wouldn't rely on that in the generator itself. So no

[2017-06-19 16:44] deepu105 commented on #5954
using liquibase diff would also break hot reloading workflow.

[2017-06-19 16:47] henri-tremblay commented on #5883
@tan9 Sorry. I don't remember. It is possible that I've ended up with a modified `yarn.lock` but no nothing migrated at all. I was in the master branch. I know, this isn't really helpful. It's not in my shell history anymore.

[2017-06-19 17:27] jdubois opened #5955 "Upgrade to Webpack 3"
Webpack 3 was just released:
https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b

This is only for Angular 4, not AngularJS 1.

[2017-06-20 04:56] nicoraynaud commented on #5858
The issue on multiple error being displayed looks a lot like [#5918](https://github.com/jhipster/generator-jhipster/issues/5918).

I was able to reproduce it as well. The interceptors are being called twice.

[2017-06-20 05:19] FireWolf2007 opened #5956 "Incorrect values saved in Elasticsearch when using @EntityListeners on domain model"
##### **Overview of the issue**
We are using ```@EntityListeners```.
For example our OfficePhone entity:
[code]
and OfficePhoneExtender:
[code]
We have broken tests with Elasticsearch.
We explore problem and found such behavior:
1. in ```OfficePhoneServiceImpl.save``` we have transaction

2. next line does not really save data in DB:
```OfficePhone result = officePhoneRepository.save(officePhone);

[2017-06-20 05:31] dancewing opened #5957 "generator supports customize primary key type is possible?"
- Please follow the issue template below for bug reports and feature requests.
- If you have a support request rather than a bug please use [stackoverflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of informati

[2017-06-20 05:38] pascalgrimaud commented on #5957
You can look at this module:
https://github.com/amitjindal/generator-jhipster-postgresuuid-converter

It would be a good start for what you ask and you can help to improve this module.

As already discussed, not sure we can support it, directly in our generator.

[2017-06-20 05:41] jdubois commented on #5957
And this has been already discussed, and UUID are a bad idea for database PKs.
Please use the search engine and link the existing tickets to yours.

[2017-06-20 05:41] #5957 closed

[2017-06-20 05:47] jdubois commented on #5956
Yes, have a look with the search engine and please link the existing tickets discussing this topic here.
There are no transactions with ES, and anyway it doesn't provide the same guarantees as a database, so it's common to have consistency issues.
Doing the flush will work, unless of course your transaction rolls back :-)
So you should also catch the roll back, or maybe re-sync your whole ES every

[2017-06-20 06:16] pascalgrimaud commented on #5950
I didn't manage to reproduce. It works fine for me (inside the :whale: container):
[code]

@dharmjit : as you use Windows 7 and probably Docker Toolbox, I'm pretty sure there is an issue related to the use of Docker with Windows, probably on how you mount the volume
- what is the command you used to launch your container
- where is the mounted folder (be sure it's under C:\Users\yourname)
- what t

[2017-06-20 06:18] pascalgrimaud commented on #5956
For the re-sync, you can use this module https://github.com/geraldhumphries/generator-jhipster-elasticsearch-reindexer made by @geraldhumphries
It works so well!

[2017-06-20 06:38] FireWolf2007 commented on #5956
Thanks for answers, we already use elasticsearch-reindexer.

[2017-06-20 06:59] jdubois commented on #5956
OK then that's "normal" Elasticsearch questions and I'm closing this as it's not a bug.
You could ask this question on Stackoverflow and if you find good ideas, propose some changes to JHipster

[2017-06-20 06:59] #5956 closed

[2017-06-20 08:02] gimoh commented on #5954
I actually thought about it some more yesterday and thought that this approach could be flaky as liquibase also relies on the dev DB being in the correct state, so e.g. someone running clean and then running diff will produce a changelog with everything added in. So it relies on correct sequence of events, not to mention there's still a couple of issues with it and H2 DB.

Anyway, I also thought d

[2017-06-20 08:10] deepu105 commented on #5954
@gimoh can you try to do a POC first?

[2017-06-20 08:16] rroex commented on #5953
#5884 is about refreshing account information and convert the Promise to an Observable.

This issue is about handling Observables in the request interceptors. The way the request interceptors are coded right now, are unable to handle async calls before executing the http calls. The fix I suggested above will work, I've tested it in our project.

Maybe @xetys and @deepu105 can take a look, they wor

[2017-06-20 08:17] gimoh commented on #5954
@deepu105 yip, working on it :)

[2017-06-20 09:30] deepu105 commented on #5953
I'll take a look when I have time

[2017-06-20 13:35] conerck opened #5958 "Entity sub generator: Incorrect type for id in BaseEntity when using NoSQL"
- For bug reports its mandatory to paste the result of command `jhipster info` run in your project root folder.
- Tickets opened without any of these pieces of information will be **closed** without any explanation.

##### **Overview of the issue**

With 4.5.5 base-entity.ts was introduced as an interface with only one property `id?: number`.
However, when using NoSQL backends ids are strings, whi

[2017-06-20 14:42] jdubois commented on #5874
Closing as the PR is merged -> this is still very beta, and I put some comments on the PR, but at least it looks like it's working fine :-)

[2017-06-20 14:42] #5874 closed

[2017-06-20 14:43] jdubois commented on #5517
As nobody as been working on this for 2 months and a half, and as it's a lot of work, I'm closing this for lack of interest

[2017-06-20 14:43] #5517 closed

[2017-06-20 14:50] jdubois commented on #5794
Seems like a lot of work, and nobody has started anything on this during the last month, I'm closing this for lack of interest.

[2017-06-20 14:50] #5794 closed

[2017-06-20 14:51] jdubois commented on #5954
@gimoh if you have a working POC, then I'm eager to test it.
Meanwhile, this looks really complicated to do, and I agree with @deepu105 's arguments. So I'm closing this as to me it doesn't look like a great idea, but I'll be happy to be proven wrong with your POC.

[2017-06-20 15:47] gimoh commented on #5954
First POC: https://github.com/gimoh/jhi-entity-diff-to-changelog

As it is only a POC it only handles adding string columns to a table. And you have to do the snapshotting manually.

Even for that I had to replicate a bit of functionality from the generator so for going forward I think it would be best if we agreed on the approach so I can propose changes directly against the generator.

OK to re-

[2017-06-20 15:50] jdubois commented on #5954
Yes, re-opened!
But I'll need time to review it

[2017-06-20 15:58] gimoh commented on #5954
Cool! Any questions let me know sure!
The idea is to [generate diff of the entity json files](https://github.com/gimoh/jhi-entity-diff-to-changelog/blob/master/index.js#L46) and then generate [liquibase operations based on diff operations](https://github.com/gimoh/jhi-entity-diff-to-changelog/blob/master/liquibase_changelog.xml#L9) (this is using [JSON patch](http://jsonpatch.com/) as a result of

[2017-06-20 16:34] deepu105 commented on #5954
@gimoh interesting. I had a quick look and seems good. But we need to do this in memory without using before and after folders. It should be possible since with jhipster-core you can have the [json streamed as output](https://github.com/jhipster/jhipster-core/blob/master/module/index.js#L65) using `convertToJHipsterJSON`. So you could stream the output and compare it against the current `.jhipster

[2017-06-20 17:34] mraible opened #5960 "translation-not-found for alerts when generating UI for for entities in a microservice app"
##### **Overview of the issue**

When you generate a UI on a gateway for an entity in a microservice, alerts have `translation-not-found` rather than the translated message.

![screen shot 2017-06-19 at 8 56 27 pm](https://user-images.githubusercontent.com/17892/27346756-67778480-55ab-11e7-809b-143595ae7b3b.png)

##### **Motivation for or Use Case**

Alert messages should be translated when i18n i

[2017-06-20 17:38] jdubois commented on #5754
So I got this working with Nginx, and in fact it's pretty simple: just serve the front end from `target/www` and do a proxy to the backend on `/api`.

However, I have a hard time to "automate" everything with JHipster, I still need to find a good workflow for both `dev` and `prod` profiles.

[2017-06-20 21:36] gmarziou commented on #5958
Yes similar to https://github.com/jhipster/generator-jhipster/blob/85b36f94e8b3540b5f493f89827ff8205fcb13b4/generators/entity/templates/client/angular/src/main/webapp/app/entities/_entity.model.ts#L23-L29

Would you please consider submitting a pull request?

[2017-06-20 21:52] ruddell commented on #5958
Related to [this issue](https://github.com/jhipster/generator-jhipster/pull/5837), we can determine the ID type off of the database.  Note that the issue remains for gateways with microservices using differing databaseTypes.

Can we just use `string|number`, or do we need to add a third EJS check for gateways?

[2017-06-21 06:09] jdubois commented on #5958
Yes, maybe the simplest solution is to do `string|number` for gateways... Still, we do generate specific UI on the gateway depending on the backend (when Elasticsearch is selected, for instance), so we should be able to get the correct type.

[2017-06-21 06:22] jdubois commented on #5754
I still can't find a good workflow here.... So for the record:

My Docker Compose configuration for Nginx:

[code]

My `site.conf`:

[code]

To have this working fine, my current solution is:

- Generate the front-end separately from the back-end. We already have those options in the generator (those are flags, `--skip-client` and `--skip-server`).
- Generate the NGinx conf only on the client side

[2017-06-21 07:38] deepu105 commented on #5754
Julien, what about generating this setup only when skipServer option is
passed and we can add a dedicated documentation with steps to do this as
well. I think it could be a good middle ground

On 21 Jun 2017 8:22 am, "Julien Dubois" <notifications@github.com> wrote:

[2017-06-21 07:45] piaofudeyu opened #5963 "Where is the create_tables.cql script?"
Hi , when we try the ratelimiting ,we see GatewayConfiguration  and the commit said
A schema with the JHipster rate-limiting tables configured, using the
     * "create_keyspace.cql" and "create_tables.cql" scripts from the
     * "src/main/resources/config/cql" directory

But , we only find the create_keyspace.cql . where is the create_tables.cql?

[2017-06-21 08:09] gimoh commented on #5954
That should be OK, the diff is calculated from the in-memory objects anyway (it reads the entities in [here](https://github.com/gimoh/jhi-entity-diff-to-changelog/blob/master/index.js#L9)), so it would be enough to just read it in before it's changed.

The question is where to read it in.

Could do it in the entity generator, but that won't work for `import-jdl` as it modifies the `.jhipster` JSON

[2017-06-21 08:15] jdubois commented on #5963
Those should not be generated, why do we have this bug again?

[2017-06-21 08:16] jdubois commented on #5963
Just checked: they are not generated....

[2017-06-21 08:16] jdubois commented on #5963
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-21 08:16] #5963 closed

[2017-06-21 08:32] pascalgrimaud commented on #5963
@jdubois : I can see this reference -> https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/_GatewayConfiguration.java#L53-L65
These comments need to be updated

[2017-06-21 08:39] jdubois commented on #5963
Oh sorry, thanks @pascalgrimaud
@piaofudeyu next time please follow the guidelines, we're all losing time here

[2017-06-21 08:44] jdubois commented on #5963
@pascalgrimaud I'm modifying the documentation and linking my commit here

[2017-06-21 08:46] deepu105 commented on #5954
It should be a function in generator base anyways, but I think the implementation can be in the entity generator so that it works on a per entity basis and import-jdl, in the end, will call entity generator anyway. But if you find it complicated then feel free to use the function in both entity generator and import-jdl but then you need to avoid it being run twice.

[2017-06-21 08:49] tezcane commented on #5943
Maybe the core team can do a vote?

At the least do it on the "/api"+ApiPath.VERSION (default will be "") as @deepu105 suggested.

[2017-06-21 08:58] gimoh commented on #5954
Right, that makes sense

the thing is it only does that after modifying the `.jhipster` JSON files

unless we make it load the ("before" snapshot of) entities and store them / pass them to the entity generator somehow?

[2017-06-21 09:00] deepu105 commented on #5943
@tezcane technically we don't vote on everything. Since its impossible for us to support everything, we as project maintainers make a decision based on what will be overall more beneficial to the project, maintainability, team, and community. I hope you do understand that we do not have bandwidth to maintain everything (I know your case is not that huge in terms of maintenance, but I'm talking in

[2017-06-21 09:02] deepu105 commented on #5954
Oh yes, in that case, I think you can implement this first in import-jdl then we can find a way to use it in entity generator as well, shouldn't be hard

[2017-06-21 09:04] jdubois commented on #5943
For me, as I wrote earlier, we can't change this at the moment. We have so much work, including Angular 4, that changing something like this is just not possible right now.
I have no idea when things will settle down, but at the moment this works for *most people*, and changing this would be a big re-write, so this is mainly an issue of us (including me) not being available at all.

[2017-06-21 09:10] PierreBesson commented on #5754
@jdubois, @deepu105, I have been doing the following in my current project with great success:
Basically we have a simple pom.xml file in the front-end only project that uses the frontend-maven-plugin and docker-plugin to do the build. This way building the front-end app is similar to building any microservice (mvn package -Pprod docker:build).

I also think we would need some kind of templating f

[2017-06-21 09:11] tezcane commented on #5943
OK no problem guys.  Thanks for considering it.

[2017-06-21 09:12] jdubois commented on #5754
- Yes @deepu105 that might be only a documentation issue. What people don't see is that our front-end and back-end are already totally separated (that's how we can support AngularJS 1 and Angular 4 at the same time, and that's how the gateway/microservices work). And that's because we don't document this anywhere! Then, it's mostly a matter of copying the right directory in the right place, when y

[2017-06-21 09:18] piaofudeyu commented on #5963
@jdubois  Those should not be generated ? but we see your https://github.com/jhipster/jhipster-sample-app-gateway/tree/master/src/main/resources/config/cql   there also not have this file ..

is this our mistake do not generated?

[2017-06-21 09:21] PierreBesson commented on #5754
@jdubois It's simply a pom.xml that contains only the front-end maven plugin setup. We initially added this because we were struggling to get the front-end to build in our corporate Jenkins but now I would not do any front-end project without it.

[2017-06-21 09:36] jdubois commented on #5963
@piaofudeyu this is an old sample application - I usually re-generate them with each release, I don't know why we don't it for this one... Anyway, that's how that used to work, but it's not the case any more.

[2017-06-21 09:43] gimoh commented on #5954
Cool, works for me :smile:

[2017-06-21 10:00] cbornet commented on #5631
@jhipster/developers any opinion on how to fix ?

[2017-06-21 10:02] pascalgrimaud commented on #5963
It's my fault.

@jdubois : the 2 following projects were created during a Hackathon at Ippon, with @PierreBesson :
- https://github.com/jhipster/jhipster-sample-app-gateway
- https://github.com/jhipster/jhipster-sample-app-microservice

I made this pull request https://github.com/jhipster/jhipster-automated-samples/pull/3 to update them
But as it wasn't accepted, these 2 projects were not in the c

[2017-06-21 10:05] jdubois commented on #5963
Oh sorry @pascalgrimaud I totally missed this PR, I never look at this repo!!! I have updated the scripts quite a lot, so I don't think this can be merged as is. Do you have time to have a look? Indeed, those should be generated.

[2017-06-21 10:08] pascalgrimaud commented on #5963
Ok, I would be able to rebase my PR, after lunch time :hamburger:

[2017-06-21 10:20] conerck commented on #5958
I'll see if I can provide a pull request in the next couple of days.
I'm pretty new to jhipster and just started evaluating it for further use in our projects, so it might take a bit until I understand the entire architecture and ramifications even for something that seems as simple as this.

[2017-06-21 11:04] jdubois commented on #5950
Closing as this is probably a user misconfiguration, and we don't have enough information to reproduce

[2017-06-21 11:04] #5950 closed

[2017-06-21 11:14] agoncal commented on #1569
I'm having an interesting use case where unidirectional one to many is needed. Let's say I have a conference, and I want to configure the tracks allowed for this conference. I want this to be unidirectional (basically, I'm configuring the conference, and this won't change much) :

[code]

Now, each time I create a new proposal for this conference, I set the track based on the configuration.

So I

[2017-06-21 11:46] vladmihalcea commented on #1569
Don't use unidirectional @OneToMany. Even with @JoinColumn, they are less efficient than bidirectional ones. This [article](https://vladmihalcea.com/2017/03/29/the-best-way-to-map-a-onetomany-association-with-jpa-and-hibernate/) demonstrates why you shouldn't be using unidirectional one-to-many associations.

[2017-06-21 11:57] agoncal commented on #1569
@vladmihalcea In my usecase it's not about efficiency. You configure a conference once in its life time (maybe twice if you did a mistake). The Track entity cannot reference the Conference Configuration, it doesn't make sense.

Modeling is not always about performance or efficiency, it's also about modeling a business domain and requirement (which can be more or less complex).

[2017-06-21 12:00] tan9 commented on #5883
I can upgrade my project from 4.5.4 to 4.5.5 by executing:

[code]

@henri-tremblay Would you please remove the entire `jhipster_upgrade` and run again?

[2017-06-21 12:08] vladmihalcea commented on #1569
The business logic will never fall apart just because the association is bidirectional. Just because you don't see the child-to-parent association, it does not mean it does not exists because that's exactly what a FK is all about.

When you query a `track` row in the DB, you always get the `conference_id` FK, so, if it makes sense in the DB, chances are it makes sense in the Business Logic as well

[2017-06-21 12:18] FaustXVI commented on #1569
This is the main difference between a design that work and a nice design.
A nice design *must* express the intent.
So being able to express a unidirectional relationship is mandatory for
that purpose.
To me, the need of a onetomany of Antonio is totally legit.
Performance should harm your design  only when necessary, not before.
Please don't prematurely optimise other's code.

Xavier Detant

On 21

[2017-06-21 12:34] vladmihalcea commented on #1569
Let me quote [Viktor Klang](https://twitter.com/viktorklang/status/799602200897064960):

Actually, the same argument (`Performance should harm your design  only when necessary, not before`) is why you the [Open Session in View Anti-Pattern](https://github.com/spring-projects/spring-boot/issues/7107) is the default option in Spring Boot.

You will never realize these data access issues when you sta

[2017-06-21 12:41] deepu105 commented on #5963
@jdubois @pascalgrimaud I think it would also be cool to generate a complete microservice stack during each release and link it to our home page

[2017-06-21 12:43] henri-tremblay commented on #5883
As I said, removing the branch did work.

[2017-06-21 13:19] deepu105 commented on #1569
This is getting interesting :smiling_imp:

[2017-06-21 13:52] jdubois commented on #1569
And by the way you can see [here](https://github.com/jhipster/jhipster-sample-app/blob/v4.5.5/src/main/resources/config/application.yml#L35) that JHipster does have Open Session in View set to false by default. People often underestimate how much care I had when configuring all this :-)

[2017-06-21 15:25] AdrienHorgnies commented on #1251
It seems the issue isn't totally solved.

I have the same issue with a slightly more messed up name : `mAXCapacity`.

This results in the following getter : `getmAXCapacity`. And we have `@Column(name = "m_ax_capacity")` for the column annotation.

All this results in an application impossible to build :
[code]

I produced this error with v4.5.5. I just pressed enter at each prompt and generating

[2017-06-21 15:31] agoncal commented on #1569
@vladmihalcea let's say we have the following diagram (I've simplified the real one) :

[code]

This means you can have this kind of data

[code]

There is no way I want a track to be linked to a conference. It has no sense. The bidirectional is between Proposal and Track, but not between Conference and Track (as I said, it's configured one).

[2017-06-21 16:59] vladmihalcea commented on #1569
@agoncal Let's discuss on DB terms since [it's wiser to map the entities to the DB schema than the other way around](https://www.sitepoint.com/schema-migration-hibernate-flywaydb/).

From a DB perspective, there are just 3 relationships:

- one-to-many = 1 FK
- one-to-one = 1 unique FK
- many-to-many = join table with 2 FK

If the `track` is not a child of `conference`, it means you can't have a o

[2017-06-22 01:51] piaofudeyu commented on #5963
@jdubois @deepu105  Thanks for your reply.

Because when I open the api limiting , it will check limiting

public RateLimitingRepository(Session session) {
        this.session = session;
        this.rateLimitingIncrement = session.prepare(
            "UPDATE gateway_ratelimiting\n" +
                "  SET value = value + 1\n" +
                "  WHERE id = :id AND time_unit = :time_unit AND t

[2017-06-22 03:09] tientq commented on #5883
I created a PR. I fix some issues in `_generate` function and the sequence of `default` steps.

I tested upgrade from 4.4.0 and 4.5.2 to 4.4.5.

There is an issue, when you add other dependencies to the project.

##### **Overview of the issue**

Test scenario:

1. Generate new project with jhipster 4.4.0
2. Add new dependency `yarn add ng2-formio` and modify some code.
3. Commit all changes to mas

[2017-06-22 04:32] pascalgrimaud commented on #1251
@AdrienHorgnies : can you open a new ticket ?

[2017-06-22 05:01] pascalgrimaud commented on #5943
What can't be done in the main generator, can probably be done in a module.
Playing with some regexp/replace can work.

If you decide to start a module for that, don't hesitate to ping us

[2017-06-22 06:14] vladmihalcea commented on #1569
@agoncal Even if it's a standard, it does not mean that the JPA spec is free of flaws, like:

- [default EAGER for @ManyToOne and @OneToOne](https://vladmihalcea.com/2014/12/15/eager-fetching-is-a-code-smell/)
- [the TABLE identifier generator](https://vladmihalcea.com/2017/01/04/why-you-should-never-use-the-table-identifier-generator-with-jpa-and-hibernate/)
- the superficial `AttributeConverter`

[2017-06-22 06:16] piaofudeyu commented on #5963
@jdubois  OK . Sorry for that ,I will flow the guidelines next time. sorry again.

I try the generator version @4.5.5 . but there also have no the script, when generator the gate there is a error 52.216.80.0:443 time out . I will try again. maybe is the network issue, China will often GWF. By the way , is there a complete newer gateway application in this repository? I want to get the script to co

[2017-06-22 06:44] FaustXVI commented on #1569
Let's just put the technical details aside for a moment (since clearly we
disagree and it will be a very long debate).
Let's think product.
Jhipster is a scalefolding tool. If the user really wants to do it, he can
de a onetomany. But then, if he regenerate the project, all his work is
lost. It's simply a poor user experience.

Xavier Detant

On 22 Jun 2017 08:14, "Vlad Mihalcea" <notifications@gi

[2017-06-22 07:18] AdrienHorgnies commented on #1251
I will do that.

[2017-06-22 07:35] tientq commented on #5883
@jdubois could you please give me some comments on the above issue.

[2017-06-22 07:42] jdubois commented on #1569
You have good points @FaustXVI @agoncal , now let me comment:

- JHipster has always been about pushing "best practices", so that's what we currently do here. But yes, we could add the option with some sort of warning - we also sometimes let users do "bad things" with some warnings, because we know that programming is not a one-size-fits-all activity. So the important point for you: I agree we cou

[2017-06-22 10:38] clun opened #5968 "[QUESTION] - Swagger documentation and UI"
Hi, I noticed that any rest controller annotated with a request mapping starting by "/api" (ex:`@RequestMapping("/api/ff4j")`) will be displayed in Swagger UI but not others like `@RequestMapping("/ff4j")` or  `@RequestMapping("/management")`.

**Could you please point me where is define the SwaggerResourceProvider or the Docket ? Can i override it to add new patterns to scan ?**

Use Case : I'm c

[2017-06-22 11:02] PierreBesson commented on #5968
I have a PR pending addressing this use case specifically: https://github.com/jhipster/generator-jhipster/pull/5892

[2017-06-22 11:18] clun commented on #5968
Well, as so we can close this issue and mark it as label Duplicated :)

[2017-06-22 11:29] #5968 closed

[2017-06-22 12:42] AdrienHorgnies opened #5969 "Javabean methods not correct when several capital letters follow the first letter"
##### **Overview of the issue**

The application cannot start, we get a build error :
[code]

##### **Motivation for or Use Case**

A correct input gives an invalid application.

##### **Reproduce the error**

Give an entity's field a value such as `mAXCapacity`.

##### **Related issues**

It is a generalization of #1251 .

##### **Suggest a Fix**

Hurt very hard developers who want to truthfully

[2017-06-22 16:05] JulienMrgrd opened #5970 "Reactive programming with Spring 5 for JHipster"
Hi!
We are 2 interns (Joffrey Derchu @JoffreyDcu and Julien Margarido @JulienMrgrd) working on JHipster with @Jdubois, at the Ippon office in Paris.

As you may know, Spring5 is about to be released. It will introduce many [new features ](https://github.com/spring-projects/spring-framework/wiki/What%27s-New-in-the-Spring-Framework) including support for reactive programming.
We are looking to make

[2017-06-22 17:19] gimoh commented on #5954
So I've been scratching my head a bit today and I thought I'll drop a comment here to see if what I'm seeing is expected.

I've been trying to read entities from the `.jhipster` directory and I was using generator's `this.getExistingEntities()`, this works fine the first time, but it turns out when I was using it second time after the entities have been modified on disk (i.e. after `generateEntiti

[2017-06-22 18:16] DiegoEP opened #5972 "Intermittent unexpected results when calling microservices"
I'm using a JHipster Gateway (using Spring Boot 1.4.4) that provides routing to a microservice (using Spring Boot 1.5.3.RELEASE). When I make a request directly to the microservice, it is OK. When I make a request via gateway (e.g. http://localhost:8080/microservice/api/resource) it works as expected in the majority of the cases. However, sometimes I receive HTML as result (instead JSON). It is pr

[2017-06-22 18:26] pascalgrimaud commented on #5972
Very very strange...
But we need all information to reproduce, so plz complete the template.
At least, a sample of projet on Github and a use case to reproduce, otherwise, it will be hard to help

[2017-06-22 18:37] jdubois commented on #5972
Yes please follow the guidelines, that's really annoying

[2017-06-22 18:38] jdubois commented on #5972
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-22 18:38] #5972 closed

[2017-06-23 02:06] vw98075 opened #5973 "Unidirectional and Bidirectional OneToMany Yield The Same Generated Code Structure"
##### **Overview of the issue**

The two types of one-to-many relationship yield the same code structure. That is a big problem for me since it blocks my project. With multiple one-to-many relationships, my generated classes have duplicated attributes along with duplicated getters and setters. And Db schema has duplicated column names.

##### **Reproduce the error**

The problem can be reproduced

[2017-06-23 02:07] vw98075 commented on #5970
That will be great! When is the targeted release date?

[2017-06-23 02:38] nicoraynaud commented on #5970
Thank you in advance for this work.

I look forward to see your conclusions on whether this adds value to the current architecture.

[2017-06-23 05:38] jdubois commented on #5973
I'm sorry, I read your ticket three times but I don't understand your issue.... The JDL you refer to was coded by me, I'm pretty sure it works, I'm testing it.
And please follow the guidelines: I don't have your `.yo-rc.json` file, so I have no idea what your configuration is... You might have something specific with it.

[2017-06-23 05:41] jdubois commented on #5973
I regenerated a whole app and used the JDL you said caused the issue, I had no problem at all.

Next time, please send your full configuration!!!!!!

[2017-06-23 05:41] jdubois commented on #5973
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-23 06:21] vw98075 commented on #5973
Hi,

I have tried three times and get the same type of errors. I don't know whether it is due to vue or not.

Here is the file you are asking for:

  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.abc.myapp"
    },
    "jhipsterVersion": "4.5.5",
    "baseName": "jhipster",
    "packageName": "com.abc.myapp",
    "packageFolder": "com/abc/myapp",
    "serverPort": "8080",

[2017-06-23 06:22] deepu105 commented on #5954
Yes it is indeed. Can you change the method to use global fs instead of this.fs?

[2017-06-23 06:31] piaofudeyu commented on #5963
Try the generator V4.5.5, also have no script . maybe it is no use.
and try the ratelimiting , it works fine without no special config.

Thanks all.

[2017-06-23 06:50] pascalgrimaud commented on #5963
@piaofudeyu : you can read this ticket https://github.com/jhipster/generator-jhipster/issues/5388
It was replaced by bucket4j

[2017-06-23 07:05] piaofudeyu commented on #5963
@pascalgrimaud  OK ,Thanks. but for this time ,we will no update all application.
can we only update the gateway?

[2017-06-23 07:12] jdubois commented on #5973
I'm sorry but I need your entity configurations to test. Please read the
guidelines ! You just need to run 'jhipster info'.

Le 23 juin 2017 8:21 AM, "vw98075" <notifications@github.com> a écrit :

[2017-06-23 07:33] pascalgrimaud commented on #5963
That's why microservices architecture is interesting, you can upgrade 1 application without impacting all the others. So my answer would be 'yes', give it a try

[2017-06-23 07:39] gimoh commented on #5954
Sure, I'll propose a separate PR.

[2017-06-23 07:42] piaofudeyu commented on #5963
@pascalgrimaud  wonderful !!! I will try.

[2017-06-23 08:31] deepu105 commented on #5953
@rroex can you submit this as a PR to ng-jhipster project? Also please note that you need to handle cases where the options passed are not observables. Hence you laways need to return the options wrapped in Observable

[2017-06-23 08:31] #5918 closed

[2017-06-23 08:34] deepu105 commented on #5858
@JulienMrgrd are you still working on this or shall we close it?
@mtdx can you check if the issue is solved in current master?

[2017-06-23 09:29] JulienMrgrd commented on #5858
Unfortunately I do not have the time currently to work on this.
But the main corrections have been made and merged.
I keep the minor issue of @mtdx in mind, if it's still relevant.

[2017-06-23 10:33] #5883 closed

[2017-06-23 10:46] xetys commented on #5603
As I continued my work today I noticed a lack of a README file, which at least refers to the instructions printed out by the sub-generator. I would also some more stuff, as it is crucial for the developer to have a small hint how to kick off, what has been generated. I added the point to the list

[2017-06-23 12:18] PierreBesson commented on #5603
@xetys, Good idea for the readme file. I have recently done something similar for the docker-compose subgen: https://github.com/jhipster/generator-jhipster/blob/master/generators/docker-compose/templates/_README-DOCKER-COMPOSE.md

[2017-06-23 15:21] xetys opened #5975 "jhipster-registry beyond 2.5.8 not working on k8s"
##### **Overview of the issue**

After several updates to JHipster registry and the kubernetes sub-generator, the recent versions of the registry don't work properly. I had the first contact with that issue with version 2.6.0 and mentioned it in #5603. The cluster setup fails, and services effectively are registering to 2 distinct registries.

##### **Motivation for or Use Case**

I want to use th

[2017-06-23 15:24] jdubois commented on #5975
I already had numerous issues with those: are you going to do a PR for this? I'll test it as soon as it's ready, this is a part I know quite well so it shouldn't be too hard.

[2017-06-23 15:28] xetys commented on #5975
I could PR that outside of my WIP PR immediately. Is it ok if I PR this now, as of your code-freeze?

[2017-06-23 15:29] jdubois commented on #5975
If you PR that's never an issue anyway :-)
And this is on the registry, I just released v3.0.3 so it's already released, so really no issue at all

[2017-06-23 15:29] xetys commented on #5975
k, give me a minute :smile:

[2017-06-23 15:35] agoncal commented on #4216
@jdubois I agree with @brunnels.

You are focusing on `mvn liquibase:update` but there are other goals such as `liquibase:status`, for example, that do not work if you don't fix the `classpath:`. I got rid of the `classpath:` on the `master.xml` file and it's working fine : runtime and mvn commands (I have around 40 Liquibase XML files).

I think this should be fixed. WDYT ?

[2017-06-23 15:37] jdubois commented on #4216
@agoncal I never looked at those other goals, so you know better than me!!! So yes if you can fix something there, PR is welcome

[2017-06-23 16:07] gioma68 opened #5978 "jhipster module generator for angular 2 exit with error"
##### **Overview of the issue**

I'm tring to create a module for angular 2 JHI projects

##### **Motivation for or Use Case**

I put in the index.js of module generator some `jhipsterFunc` for inserting npm dependencies and to copy custom files. It work ok, but if I add a line to call the function **addAngularModule** to insert angular 2 module dependencies I get the error:

##### **Reproduce the

[2017-06-23 16:14] vw98075 commented on #5973
I updated the original report with the additional information you asked. Please let me know if you need more.

[2017-06-23 17:28] pcouas commented on #5950
Bonsoir Julien

J'ai exactement le meme soucis
Windows10Pro
Dernierversion de dockerToolBox avec virtualbox 5.1.22
J'ai téléchargé le dernier github ce soir

Puis
docker build -t ijof2 .
docker run -v /c/zpoubelle/dockerFiles/jhipster/ess:/jhipster --name cjof2 -p 8080:8080 -p 9000:9000 -p 35729:35729 -p 4022:22 -p 3306:3306 -t -i ijof2 /bin/bash
lorsque je lance la commande jhipster, je me fais s

[2017-06-23 17:30] jdubois commented on #5950
Please follow the [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) and use the English language, so that everybody can understand.

[2017-06-23 17:31] pascalgrimaud commented on #5950
plz @pcouas in english

See https://jhipster.github.io/installation/

Can you try to put the correct volumes, under your Users folder ?

[2017-06-23 17:32] jdubois commented on #5950
And yes I got your email @pcouas but that's against our [#1 rule of help](https://jhipster.github.io/help/).
I get tons of emails (even phone calls!) from people seeking for help, I usually don't answer them, I never go around the project rules.

[2017-06-23 18:54] marcelinobadin commented on #5970
Awesome! I am starting a new project right now, once you release that I will immediately start using it and I can give you any feedback you need.

[2017-06-23 20:01] ReginaldoSantos commented on #1113
So @jgasmi and @fontanellif .., does it really proved the concept? Does it scales? Or discussion had been finished without clear conclusion?

[2017-06-23 20:59] pascalgrimaud commented on #5978
I followed this [comments](https://github.com/jhipster/generator-jhipster/pull/5437#issuecomment-287646079) from @deepu105 and indeed, we didn't need the function to be exported!
In fact, you can use every functions!

Can you look at my code ?
- at the beginning of the [index.js](https://github.com/pascalgrimaud/generator-jhipster-primeng-charts/blob/master/generators/app/index.js#L7-L19)
- then,

[2017-06-23 20:59] #5978 closed

[2017-06-24 05:09] jdubois commented on #1113
This doesn't solve the "one connection pool per tenant" issue, so it won't scale. I'm sorry but this is still the same argument from the beginning, and it's a well-known and common problem.
I even had the same issue with one of my clients 2 weeks ago!

[2017-06-24 07:43] deepu105 commented on #5978
Pascal could you also update the documentation on module page suggesting
how to use the methods

On 23 Jun 2017 10:59 pm, "Pascal Grimaud" <notifications@github.com> wrote:

[2017-06-24 07:47] pascalgrimaud commented on #5978
Yes of course @deepu105, it is on my todolist (update docs and update generator-jhipster-module + new release)

[2017-06-24 10:12] deepu105 commented on #5958
This has been fixed in the latest release

[2017-06-24 10:12] #5958 closed

[2017-06-24 10:13] deepu105 commented on #5958
Btw its a dirty fix with type `id?: any` in base entity now

[2017-06-24 11:40] deepu105 commented on #5955
closed via https://github.com/jhipster/generator-jhipster/commit/9676d42fe8cadc71e666024126cd25b7405cd526

[2017-06-24 11:56] jdubois commented on #5955
What, already????

[2017-06-24 12:00] jdubois commented on #5955
There's a trailing comma issue, I'm on it

[2017-06-24 12:53] deepu105 commented on #5955
https://github.com/jhipster/generator-jhipster/commit/f907c12ed42f7dbbd01e223a3886226f3dbbb56c

[2017-06-24 14:51] DatamunchCo commented on #1113
very good argument, so @jdubois do you suggest we use logical multi tenancy in DB instead of

multiple scheme? when using JHipster?

[2017-06-24 15:15] jdubois commented on #1113
I'm sorry but as I said earlier in this thread "code wins arguments", and as I also said having one connection pool per tenant does not scale.
Now if you look at the code that is proposed, see https://github.com/jgasmi/jhipster-mt/blob/master/src/main/java/com/yjiky/mt/multitenancy/ConnectionProviderFactory.java#L48 there is indeed one connection pool per tenant. So that's basically what I said wa

[2017-06-24 19:36] cmitsolutions commented on #1394
i fix this problem using this https://stackoverflow.com/questions/41000088/grunt-remove-async-and-defer-from-my-scripts-and-css, edit the Gruntfile.js (assuming you are using grunt) and add this into usemin:

 // Performs rewrites based on filerev and the useminPrepare configuration
    usemin: {
      html: ['<%= yeoman.dist %>/{,*/}*.html'],
      css: ['<%= yeoman.dist %>/styles/{,*/}*.css'],

[2017-06-24 20:12] ctamisier opened #5980 "ui-select component for select multiple"
Hi!,

What do you think about having ui-select (https://angular-ui.github.io/ui-select/demo-multiple-selection.html, part of the AngularUI companion suite: https://angular-ui.github.io/) to select authorities in user-management dialog ?

For me the multiple select of browsers is not really nice to use, need to press control key to select several options... and then if we just click without pressin

[2017-06-24 21:13] vw98075 commented on #5970
I guess the starting point would be using reactive for all repository functions as well as all Rest end points. And the conversion would be expanded to other resource sections of JHipster components.

[2017-06-24 22:13] sergio-otero opened #5981 "Improve security of AccountResource and UserResource"
##### **Overview of the issue**

Improve security of some of the rest APIs exposed

##### **Motivation for or Use Case**

I think that the following changes would make things more secure:

- AccountResource.saveAccount & changePassword: protect it with current password. It's a best practice to avoid someone stealing the account if a user leaves the website open
- AccountResource.saveAccount: valid

[2017-06-24 22:14] gzsombor commented on #5970
I'm curious how do you want to proceed, and what are you expecting, as Hibernate and the JDBC connections are still working in a blocking way, and based on the problems with  'LazyInitializationException' there are lot's of projects, where the transaction are not handled properly - or not understood et all.

[2017-06-24 22:28] ruddell commented on #5981
1) I'd prefer just Change Password to be secured but you could still just change the email and reset the password

2) The email is validated according to the spec by the frontend (input type=email) and backend (`@Email` over the field in User.java).  What other validation is possible?

3) For the reasoning of getAllUsers and getUser being open, see the discussion: https://groups.google.com/forum/#

[2017-06-24 22:31] gzsombor commented on #5981
I always disable the email address changing "feature". I have never had time to implement proper validations - I mean, sending emails to the original email address, about the 'takeover'.
Unfortunately the UserResource.getAllUsers mixes to different functionalities - the listing users for the admin pages, and picking users for entity relations. This would need proper separations

[2017-06-25 06:05] pcouas commented on #5950
Hi,
Sorry my english is not very well.
On same windows dockers
1 Last Jhipster docke files downloaded yesterday "jhipster --npm" give me new state of nil is invalid
2 but, an old jdubois dockerfiles based on jhipster 2.22.0 is Ok on yo jhipster !!
I have shared with succes an other directory from virtualbox

Regards

[2017-06-25 06:33] jdubois commented on #5980
- Don't forget our [Policy 2](https://jhipster.github.io/policies/) - the idea is that if it's very easy to add to JHipster, then we shouldn't package it
- For AngularJS 1.x, this is going to die, so we we only correct bugs there

[2017-06-25 07:08] ctamisier commented on #5980
Yes it's quite easy to integrate it. For me handling a big list of authorities with the default multiple select of browser is impossible (except on mobile that have checkboxes). So I was thinking to have this component right away after jhipster generation, but I can make a jhipster module.

[2017-06-25 09:29] sergio-otero commented on #5981
About the email validation process, I was talking about validating that you have access to the new email address like when you create the user.

If the user writes the new email with a typo and doesn't realize, it could loose access if the password is regenerated.

As I said, maybe this one is too complicated because it would need more fields or even tables in the database.

Github do this by havi

[2017-06-25 09:47] jdubois commented on #5970
@gzsombor I shared my plan for "JHipster Webflux" on the core dev mailing list, and for the record I totally agree with you.

Anyway the goal is here is to test and measure everything. I don't believe the conference hype until I see numbers.

[2017-06-25 13:55] superandrew opened #5983 "Angular sub generator"
##### **Overview of the issue**
The Jhipster generator is great to create some boiler plate code for the front end, but If you need to create a complex angular application it would be useful to use the angular subgenerator to handle creation of new views, controllers, services etc.

##### **Motivation for or Use Case**
I need to create a gui application which uses Jhipster backend. It's ok to have

[2017-06-25 14:13] jdubois commented on #5983
I haven't used it for a while, but did you see we are compatible with Angular CLI?

[2017-06-25 14:59] deepu105 commented on #5983
Yes for angular 2+ you can use angular CLI to generate componenets etc, and we support that. For angular 1 we do not support angular generators. You can, of course, install it alongside and create files in the same directory but not sure how far it works. And for angular 1 we do not have any plans to support this in future as well.

[2017-06-25 14:59] #5983 closed

[2017-06-25 15:02] deepu105 commented on #5980
Yes, agree with @jdubois for angular 1 we won't add any new major functionality. For angular x this is trivial to add so I don't want to bloat the generator by default with this

[2017-06-25 15:02] #5980 closed

[2017-06-25 15:29] deepu105 opened #5985 "Console error in Angular x client"
##### **Overview of the issue**

The following console error is thrown when create entity dialog is opened in an angular app generated. Doesnt seem to cause any issue in functionality though, everything seems to work fine
[code]
Might be related to https://github.com/angular/angular/issues/17572

##### **Reproduce the error**

Create an app with given config (Just 1 entity is sufficient I guess),

[2017-06-25 15:50] superandrew commented on #5983
this is interesting. I wasn't intentioned in developing Angular2 right now, but as far as angular cli is supported I might give it a try. Thanks

[2017-06-25 15:59] deepu105 commented on #5985
@jhipster/developers Myself and @sendilkumarn are stuck with getting ngtools/AOT https://github.com/jhipster/generator-jhipster/pull/5952 build to work so I need help on this one

[2017-06-25 16:47] vw98075 commented on #5973
Please advise what is wrong on my part. Why my result is different from yours? Marking it as invalid doesn't let the problem going away for me.

[2017-06-25 16:49] jdubois commented on #5973
I put it "invalid" before you updated the ticket... I already spent quite a lot of time on your issue.

[2017-06-25 17:00] vw98075 commented on #5973
Thanks very much for your help. Please let me know if you need other things else to resolve this issue.

[2017-06-25 18:34] ruddell commented on #5973
JHipster currently only supports bidirectional relationships for `@OneToMany`.  Previous (and recent) discussion here https://github.com/jhipster/generator-jhipster/issues/1569

[2017-06-25 18:52] vw98075 commented on #5973
Thanks very much for the info. I just want to post a follow-up which the latest 4.5.6 exhibits the same behaviour in a simple class model. That really is a big problem for any modeling other than some small toy ones. I have two or three duplicatations of two attributes in the same entity class. The model contains about 30 entity classes.

Just for my curiousity, it seems the problem could be preve

[2017-06-25 19:19] deepu105 commented on #5973
@vw98075 we do not support unidirectional one to many and hence the behavior is intentional. Did you read the discussion posted by @ruddell above?

[2017-06-25 19:19] #5973 closed

[2017-06-25 21:06] vw98075 commented on #5973
So, I need to remove some code on the "many" side. I use Gradle. How to change the DB schema?

[2017-06-26 02:42] Demon-liao opened #5987 "npm install generator-jhipster is error！！！"
How can i deal with it?

![image](https://user-images.githubusercontent.com/2654683/27522888-e9e32910-5a5b-11e7-8483-595b3323c638.png)

[2017-06-26 04:36] pascalgrimaud commented on #5987
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-06-26 04:36] #5987 closed

[2017-06-26 05:58] deepu105 opened #5990 "Deprecate module sub generator"
Based on discussion started here https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/DogpMHZzf3w/rd-Pn1RyAgAJ

Our current module sub generator is used by modules to get jhipster config and API methods. But this was made for our old ES5 code since we are now in ES6 with proper modules, it's much more efficient to use commonJS style require or import to use the API

[2017-06-26 06:00] deepu105 commented on #5624
I don't think we are gonna do this as our config has become even more complex. @stevehouel sorry that you already spent quite a lot of effort on this. Let's revisit in the future

[2017-06-26 06:00] #5624 closed

[2017-06-26 06:01] deepu105 commented on #5191
@xetys @MathieuAA can we close this? is it still an issue? I see that a PR was merged for this and looks like it should be solved

[2017-06-26 06:04] deepu105 commented on #5631
@cbornet I think ID should be used for equality check as it is the true primary key here. Can you do a PR please? also userDTO is not in mapstruct any more

[2017-06-26 06:05] deepu105 commented on #5710
@stevehouel are you working on this?

[2017-06-26 06:07] deepu105 commented on #5733
@PierreBesson @srinivasa-vasu @cbornet @xetys anybody has an idea about this? its been open for quite a while. I'm trying to bring our issue count back to the golden 25 range :smile_cat:

[2017-06-26 06:08] stevehouel commented on #5710
Yes i m working on it. My new mesos marathon module and the code
refactoring should be available this week
Le lun. 26 juin 2017 à 08:05, Deepu K Sasidharan <notifications@github.com>
a écrit :