[2020-01-31 10:53] foxable commented on #11215
I stumbled across the same problem. If the enum is defined without [explicit values](https://www.jhipster.tech/jdl/enums), JHipster generates a numeric enum in TypeScript:

JDL
[code]
my-enum.model.ts
[code]

So at runtime, the actual enum values are `0` and `1` instead of `'VALUE1'` and `'VALUE2'`. This does not match the values provided by the backend, which are the keys as strings.

If you expl

[2020-01-31 11:23] vishal423 commented on #10824
I think I have most of the test cases under control except the ones related to elastic search.

I did some analysis on failures and I believe the culprit is the incorrect usage of `hooks`.
As an example, on the List page of an entity with search (elastic-search) capability, I can see four `useEffects` hooks defined to fetch data. Looking at Network Manager, I can confirm my suspicion of four calls

[2020-01-31 12:18] foxable commented on #11215
I just created  PR #11218 which fixes the enum template for React clients.

[2020-01-31 13:30] pascalgrimaud commented on #10824
agree with you. Let open a separate issue for Elasticsearch

[2020-02-01 02:40] vishal423 opened #11222 "react: In a few scenarios, the entity list page can invoke up to 4 calls to the backend API"
##### **Overview of the issue**
In a few scenarios, the react entity list page (like with elastic search) contains 4 `useEffects` hooks definitions to invoke four back-end APIs (three calls to the same API and one to search endpoint).

API calls being made on the list page:

- http://localhost:8080/api/_search/entity-with-pagination-and-dtos?query=&page=0&size=20&sort=id,asc
- http://localhost:808

[2020-02-01 11:02] priyeshjaiswal commented on #7998
dsd

[2020-02-01 18:07] alexsintoni commented on #11181
Hi guys,

apologize for my late reply.
I just run the UAA that I have created and despite that error, it seems to work.
I did not create any other application nor gateway. So, I can't tell you 100% that it is working. But sure it is running and it is registered in the JHipster Registry.

[2020-02-01 21:23] mshima commented on #11181
This isn’t a bug.
Closing.
Reopen it if you find any problem.

[2020-02-01 21:23] #11181 closed

[2020-02-02 10:49] pascalgrimaud commented on #11189
adding a bounty as it's a bug

[2020-02-02 10:49] pascalgrimaud commented on #11222
adding a bounty as it's a bug

[2020-02-02 10:49] pascalgrimaud commented on #11184
adding a bounty as it's a bug

[2020-02-02 11:10] #11189 closed

[2020-02-02 11:20] pascalgrimaud commented on #11110
Closing this as there is no more steps to reproduce the original issue

[2020-02-02 11:20] #11110 closed

[2020-02-02 11:22] pascalgrimaud commented on #11112
Closing this as we have too much opened tickets and I think it should go to module first

[2020-02-02 11:22] #11112 closed

[2020-02-02 12:23] #11191 closed

[2020-02-02 16:54] qmonmert commented on #11222
@vishal423 & @pascalgrimaud I work on this

[2020-02-02 18:22] Falydoor commented on #11222
I noticed it happens on the `user management's` page too:

![image](https://user-images.githubusercontent.com/2212267/73612985-fd0fdf00-45be-11ea-86a2-cb1a17c093cc.png)

[2020-02-02 19:11] qmonmert commented on #11222
@Falydoor ok but can you tell me your config ?

[2020-02-02 20:10] Falydoor commented on #11222
The one from the sample app https://raw.githubusercontent.com/jhipster/jhipster-sample-app-react/master/.yo-rc.json

[2020-02-02 21:22] TLBSoftware opened #11225 "Node-gyp failed to builid 'make' failed with exit code 2"
##### **Overview of the issue**
When running jhipster and installing angular the npm install fails to run `node-gyp rebuild` do to the fsevents version

##### **Motivation for or Use Case**
When generating the application you get a bunch of errors on the npm install

##### **Reproduce the error**
jhipster generate a project using angular and then run `npm install`

##### **Suggest a Fix**
It appea

[2020-02-02 21:27] TLBSoftware commented on #11225
It also appears that this causes the generator to not successfully run the `CREATE DATABASE` command requiring the user to do that step too

[2020-02-03 02:39] vishal423 commented on #11225
@TLBSoftware, can you try against latest released version `v6.6.0`?

[2020-02-03 10:56] pascalgrimaud commented on #11169
Here some more tests, and it doesn't change anything:
- remove Redis from config for testing only Cassandra
- play with PoolOptions
- play with SocketOptions
- remove --batch-mode
- change sysctl values

[2020-02-03 13:42] atomfrede commented on #9967
The initial work is done, thanks to @michael-simons and @meistermeier :heart: When all related PRs are merged we will have Neo4j support in both generator and JDL and updated documentation and a nice demo case which can show the benefits of neo4js graph capabilities (blog entry upcoming). After that we will go on and port the support to the kotlin blueprint for sure. Not quite sure if there is a s

[2020-02-03 14:44] SudharakaP commented on #11169
@pascalgrimaud : Yes, I tried those as well; but adding `.withSharedMemorySize((long) 8 * 1024 * 1024)` has some improvement I think with one of my tests passing every single run (https://github.com/SudharakaP/generator-jhipster/actions/runs/34087687). But on average it fails for two out of the ten. :disappointed:

[2020-02-03 15:56] Falydoor commented on #11217
The issue is also there with `Blob`, `AnyBlob ` and `ImageBlob `.

[2020-02-03 17:46] noel-yap commented on #3857
I'm also looking for a way to keep YML files DRY. In our case, we have two projects in which we would like to share the same settings for some of the properties. I was thinking `spring.profiles.include` might be of some use in our situation but I'm not seeing exactly how it would be done.

[2020-02-03 17:51] jdubois commented on #3857
This is a very old ticket, and now I also understand better the issues with those .yml files. In fact, we should repeat more things!!! My issue is that you can't override one configuration with its default value anymore.

For example: if you put a your SMTP port to `2525` in `application.yml`, then you can't get the default value in any profile anymore. So it's probably better to repeat those conf

[2020-02-03 18:25] gmarziou commented on #3857
One way to share between 2 apps is to use a Spring Cloud Config Server like JHipster registry.

[2020-02-03 18:27] geyuqiu commented on #2368
work around over:

`mvnw -q -Dcheckstyle.skip clean verify`

[2020-02-03 21:15] ctamisier commented on #11222
As I was trying to fix the sort of users, I ended up refactoring and consequently fix the 2 api calls on **users** as well.
As it might not be what you had in mind on how to fix, I let you check this https://github.com/jhipster/generator-jhipster/pull/11171 and eventually close it if a new PR is coming to fix it.

[2020-02-04 06:23] SudharakaP commented on #11169
It seems this is a deep rooted problem with the spring boot update (https://github.com/spring-projects/spring-boot/issues/19802). The solution suggested in that thread is for `2.3.0.M2` and I think if we need to implement a solution using the `CqlSession` we have to migrate to [`v2.3.0.M1`](https://github.com/spring-projects/spring-boot/releases/tag/v2.3.0.M1) or higher since that's where spring-b

[2020-02-04 06:31] pascalgrimaud commented on #11169
I'm becoming crazy with this ticket
Thanks a lot for this deep analyze. If downgrading the cassandra-unit-spring dependencies resolve the issue, then let's do it !

With this fix, I'll be able to do a release !

[2020-02-04 06:34] SudharakaP commented on #11169
@pascalgrimaud : Sure. Feel free to give it a test and let me know if you see the issue again. I did three rounds of testing as indicated above and didn't see a single failure both on maven or on gradle so I think we are good. :smile:

[2020-02-04 06:36] pascalgrimaud commented on #11169
you used the same modified React.yml than I suggested (which I could rename to CrazyCassandraBug.yml) so it's ok !!!

[2020-02-04 07:13] #11169 closed

[2020-02-04 08:23] maznag commented on #11217
@Falydoor Yes, actually it works only for String type !

[2020-02-04 08:57] #11217 closed

[2020-02-04 12:24] amanganiello90 opened #11229 "React webpack build broken for login.tsx typescript error in jwt choise"
##### **Overview of the issue**

When I perform ```npm run webpack:build``` or ```npm run webpack:prod``` with jwt security, the build fails with error:

[code]
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packag

[2020-02-04 12:41] geyuqiu opened #11230 "jhipster --with-entities does not work"
##### **Overview of the feature request**

upgrade jhipster manually with

`jhipster --with-entities` does not work

however upgrade via `jhipster` works

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-04 12:49] anreig commented on #8275
Same problem here!
Anybody knows how can I disable BrowserSync to check if it's the problem?

Thanks in advance.

[2020-02-04 13:01] wmarques commented on #8275
@anreig I think it's in the webpack config, we should have the BrowsersyncWebpackPlugin, you just have to remove it

[2020-02-04 13:08] anreig commented on #8275
Yes, I just remove it and it takes a lot time too over 9060 port now. Each time I refresh it takes more or less 2 min. Any idea to solve this? I'm on a big anguar project.
Thank you very much.

[2020-02-04 13:25] lzkill commented on #11206
@pascalgrimaud you're right! Thanks anyway!

[2020-02-04 13:55] geyuqiu opened #11231 "preserve lf / crlf when manually upgrading entities"
##### **Overview of the feature request**

via jhipster entity entityName

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-04 14:07] mshima commented on #11231
What exactly is happening?

[2020-02-04 14:28] geyuqiu commented on #11231
maybe an edge case

1. generated (import-jdl) on mac
2. changed repository (crlf changed also)
3. upgrade and import jhipster entity on windows

![image](https://user-images.githubusercontent.com/4540661/73753305-ca9ee700-4762-11ea-8d8e-847b196393c1.png)

[2020-02-04 14:31] mshima commented on #11231
@kaidohallik what do you think?

[2020-02-04 14:53] mshima commented on #11231
Is this an jhipster error? Or git is appointing that the file different?

[2020-02-04 14:59] geyuqiu commented on #11231
good question, git can not do the diff \r\n vs \n properly

[2020-02-04 15:00] wmarques commented on #8275
We did some improvements on the build time, do you use the latest JHipster version ?
If not, you just have to generate a new app and compare the webpack configs and apply modifications

[2020-02-04 15:01] geyuqiu commented on #11230
my bad, did not delete node_modules first like it described:
https://www.jhipster.tech/upgrading-an-application/#manual_upgrade

[2020-02-04 15:01] #11230 closed

[2020-02-04 15:09] kaidohallik commented on #11231
I have experienced couple of times in the past that after regeneration all files are showed as changed because of line endings difference in Windows. Maybe I used then different options in Git install or some glitch in Git. ATM I'm using autocrlf option in Git client and I haven't experienced this problem for a while.

If this happens then in comparing can look only at those files for what Git cli

[2020-02-04 15:23] mshima commented on #11231
@geyuqiu are you using master or 6.6.0 release?

[2020-02-04 15:41] lzkill opened #11232 "Compilation errors when using relationships to User with custom names"
##### **Overview of the issue**

Compilation errors on a fresh generated app:

[code]
##### **Motivation for or Use Case**

The project just does not compile.

##### **Reproduce the error**

jhipster-import using a file that contains an entity with two `ManyToOne` relationships to `User`.

[code]
##### **Related issues**

#11191

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

####

[2020-02-04 16:07] SudharakaP commented on #11169
@pascalgrimaud : Yes indeed. It's a very insidious bug 👿

[2020-02-04 16:19] SudharakaP commented on #11229
I believe this is the same as https://github.com/jhipster/generator-jhipster/issues/11139. You can use the solution that was committed to master; https://github.com/jhipster/generator-jhipster/issues/11139#issuecomment-575938542

[2020-02-04 16:19] #11229 closed

[2020-02-04 16:20] amanganiello90 commented on #11229
okkk, thanks!

[2020-02-04 16:21] SudharakaP commented on #11229
@amanganiello90 : You are welcome 😄

[2020-02-04 17:53] PierreBesson commented on #11225
Usually this kind of problems are fixed by running `npm rebuild`

[2020-02-04 18:03] PierreBesson commented on #11180
Yes, it is a deviation from reproducible builds but this was done for the dev build to work out of the box and trigger the webpack build if needed (and see the frontend on localhost:8080).
I can totally see how it can confuse users in more advanced cases but I don't think that we need a "reproducible build" in dev mode, because, when using with hot-reloading, it will never be reproducible...
If it

[2020-02-04 19:10] geyuqiu commented on #11231
yes, update to 6.6.0

[2020-02-04 19:53] mshima commented on #11231
Maybe https://github.com/jhipster/generator-jhipster/pull/11205 fixed your problem on master.

[2020-02-04 20:35] geyuqiu commented on #11231
I hope so too :)

[2020-02-04 20:43] mshima commented on #11231
Closing as we need more information about this issue.

[2020-02-04 20:43] #11231 closed

[2020-02-04 21:53] pascalgrimaud commented on #11225
As asked, try to use the last release of JHipster v6.6.0
Then, upgrade to the last version of Node LTS too, yours is old

I'm closing this as I'm pretty sure it's an environment issue

[2020-02-04 21:53] #11225 closed

[2020-02-04 22:00] geyuqiu commented on #11231
a mix of following "solved" line break issues with git diff on windows

[code]

[2020-02-04 22:43] SudharakaP opened #11236 "Windows Build Failure: ms-ngx-gateway-uaa"
##### **Overview of the issue**

Our windows build intermittently fails at the `ms-ngx-gateway-uaa` build phase.

https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=41&_a=summary

I tried to fix this by increasing the expiry timeout of the refresh token at #11149 but that didn't seem to have worked.

##### **Motivation for or Use Case**

Get a clean Windows build. 😄

####

[2020-02-04 23:29] geyuqiu opened #11238 "[doc] run protractor on ci"
##### **Overview of the feature request**

how to set up protractor on ci

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-04 23:59] mshima commented on #11238
If you have question, please ask them at https://gitter.im/jhipster/generator-jhipster

[2020-02-04 23:59] #11238 closed

[2020-02-05 02:52] TLBSoftware commented on #11225
I am experiencing the same issue after upgrading jhipster, and upgrading to use node v12.14.1 and the new version of npm

INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<su

[2020-02-05 02:52] TLBSoftware commented on #11225
It is a direct issue with the included fsevents you all use, as stated in my first post if I install fsevents@1.2.9 which includes a macosx binary this error does not exist

[2020-02-05 03:02] TLBSoftware commented on #11225
tried an `npm rebuild` and then nuked the whole project and tried generating again but it still fails

[2020-02-05 05:49] opt-nc-dev commented on #11209
??

[2020-02-05 11:15] pascalgrimaud commented on #11169
@SudharakaP don't forget to claim the bounty, very well deserved

[2020-02-05 14:01] geyuqiu opened #11240 "[windows, protractor] change postinstall script in package.json"
##### **Overview of the issue**

postinstall breaks ui test locally on windows ( after update to jhipster 6.6)
following work around solves this issue currently:

` "postinstall": "node node_modules/protractor/bin/webdriver-manager update --gecko false --versions.chrome=72.0.3626.7",`

similiar to this issue: https://github.com/angular/webdriver-manager/issues/351, 80 instead of 74

##### **Motiva

[2020-02-05 15:27] jo1vulin commented on #10619
@gmarziou any follow up? I'm experiencing the same issue and workaround resolves it. But would like to have eslint working.

Thanks

[2020-02-05 16:03] SudharakaP opened #11242 "Maintainer Reply Templates as Saved Replies"
##### **Overview of the feature request**

Currently we have maintainer templates in the [`.github/MAINTAINERS_REPLY_TEMPLATES`](https://github.com/jhipster/generator-jhipster/tree/master/.github/MAINTAINERS_REPLY_TEMPLATES) folder. I suggest adding these as [Saved Reply Templates](https://help.github.com/en/github/writing-on-github/working-with-saved-replies).

Method to do so is highlighted here

[2020-02-05 16:04] SudharakaP commented on #11242
Actually I realized I can do this myself. Sorry about that. 👍

[2020-02-05 16:04] #11242 closed

[2020-02-05 16:07] SudharakaP commented on #11240
@geyuqiu : Can you give some more information about this issue and how to reproduce it. It would be nice if you could complete all the sections of the issue templates so that other members can reproduce it easily. 😄

[2020-02-05 16:29] gmarziou commented on #10619
Sorry, I did not work on it.

[2020-02-05 16:33] jdubois commented on #11242
Yes, all this GitHub tools that facilitate our work are always welcome.
Just please send your template (probably through the mailing list?) so we can all agree on the wording.
Thanks a lot!

[2020-02-05 16:34] SudharakaP commented on #11169
@pascalgrimaud : Thanks for reminding me. Done at https://opencollective.com/generator-jhipster/expenses/13624

[2020-02-05 16:40] SudharakaP commented on #11242
@jdubois : We already have them publicly available at;https://github.com/jhipster/generator-jhipster/tree/master/.github/MAINTAINERS_REPLY_TEMPLATES. If I create any new ones though; I'll sure to share them with you guys. 😄

[2020-02-05 17:01] mshima commented on #11242
I wasn't aware of this.
Thanks @SudharakaP.

[2020-02-05 18:01] SudharakaP commented on #11242
@mshima : You are welcome 👍

[2020-02-05 18:08] #10726 closed

[2020-02-05 18:11] deepu105 commented on #11242
I thought we already did that as I get them in drop-down already

On Wed, 5 Feb 2020, 5:03 pm Sudharaka Palamakumbura, <
notifications@github.com> wrote:

[2020-02-05 18:16] SudharakaP commented on #11242
@deepu105 : My guess is that it's not an organizational setting but rather user's need to add it on their own account. For example I had to go to my account settings and add it under `Saved Replies`. The instructions point in that direction too; https://help.github.com/en/github/writing-on-github/creating-a-saved-reply.

[2020-02-05 18:24] deepu105 commented on #11242
Then may be I would have done that

On Wed, 5 Feb 2020, 7:16 pm Sudharaka Palamakumbura, <
notifications@github.com> wrote:

[2020-02-05 21:54] DanielFran opened #11244 "Update Hazelcast management-center to 4.0.x"
##### **Overview of the feature request**

See:
- https://docs.hazelcast.org/docs/management-center/4.0/manual/html/index.html
- https://docs.hazelcast.org/docs/management-center/rn/index.html#4-0
- https://hazelcast.com/blog/hazelcast-imdg-4-0-is-released
- https://docs.hazelcast.org/docs/latest/manual/html-single/#migration-guides
- https://github.com/hazelcast/hazelcast/releases/tag/v4.0
- http

[2020-02-05 21:59] DanielFran opened #11245 "Update jboss/keycloak version to 9.0"
##### **Overview of the feature request**

See:
- https://www.keycloak.org/docs/latest/release_notes/index.html

https://www.keycloak.org/2020/02/keycloak-900-released.html

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-05 22:01] DanielFran commented on #11245
@vishal423 Have you time to make the update?

[2020-02-06 05:55] vishal423 commented on #11245
@DanielFran, I can handle this over weekend.

[2020-02-06 06:02] vishal423 commented on #11240
It's not an issue with JHipster, rather your environment. I would suggest updating your google chrome (to latest version `80.0.3987.87`).

However, the workaround you suggested can be added as a tip @ https://www.jhipster.tech/tips/ to help someone who wants to stick to an old version .

[2020-02-06 06:02] #11240 closed

[2020-02-06 08:44] atomfrede commented on #11209
@opt-nc-dev Thanks for reporting this. Indeed we do not use relative urls in our frontend, so maybe we have a bug here. Would you mind doing a PR for this as it seems you already have a solution (which should not affect other parts as it seems).

[2020-02-06 09:50] vishal423 commented on #11209
@opt-nc-dev, I did a quick check (using dev profile) and not able to reproduce. I tried with an `img` tag pointing to one of static images like `<img src="../../content/images/jhipster_family_member_3.svg" />` and can view correct replacement in output as `<img src="content/caf1c2b432b5b77c5607b636395ab471.svg">`. If you are using a dynamic image path, then, you may have to use `require`

Can you

[2020-02-06 10:49] lzkill commented on #11232
Closing this so I can provide a smaller example jdl in another ticket.

[2020-02-06 10:49] #11232 closed

[2020-02-06 13:32] #11180 closed

[2020-02-06 18:15] Tonterias opened #11249 "JHipster gae error"
Hi,

I cannot make Jhipster gae work. It gives me some errors, but I wonder if everybody is having the same problem when using GAE. (I tried with a clean Jhipster project)

##### **Overview of the issue**

D:\JHipster\testheroku660>jhipster gae
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:gae
INFO! Options: from-cli: true
Welcome to Goog

[2020-02-06 18:18] phipex commented on #11122
It seems to me that a functionality associated with this tickect could be to create a multi-module project with the same notation in JDL of microservices, that is to say, use the same microservice notation to map DDD modules, said roughly, the possibility of having microservices packaged in the same application.

[2020-02-06 18:28] ruddell commented on #11209
Adding the below to `home.component.html`:
[code]
Results in:
[code]
With the fix:
[code]
The fix works as expected, and is an improvement as now image references are hashed.  The bundle sizes generated by webpack also don't change, so your fix looks good to me.

@vishal423 I'm curious how you didn't end up reproducing the issue.

[2020-02-06 18:35] SudharakaP commented on #11249
@Tonterias : Thanks for reporting. Let me try to recreate the problem and get back to you. 😄

[2020-02-06 22:02] ruddell commented on #11244
Similar to https://github.com/jhipster/generator-jhipster/pull/11179, the context-path changed again to be at `/` instead of `/hazelcast-mancenter` ([Docker image docs](https://hub.docker.com/r/hazelcast/management-center/))

[2020-02-06 22:15] geyuqiu opened #11251 "flaky cpu/memory overflow issues when building jar for production in gitlab"
build jar fails sometimes on a gitlab server with 1.78G RAM

![image](https://user-images.githubusercontent.com/4540661/73983321-6fbde900-4936-11ea-8ca8-fa198ebb5d22.png)

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **En

[2020-02-06 22:22] geyuqiu commented on #11251
![image](https://user-images.githubusercontent.com/4540661/73983763-7a2cb280-4937-11ea-9ac1-3b5f8c42f41c.png)
during
`node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js "--config" "webpack/webpack.prod.js" "--profile"
`

[2020-02-06 22:56] SudharakaP commented on #11251
@geyuqiu : Could you please fill in the issue template fully so that people can reproduce your issue easily. 😄

[2020-02-06 23:27] geyuqiu commented on #11240
actually the error logs were missleading, the update to 80.x is done

but e2e on windows with it failed:

![image](https://user-images.githubusercontent.com/4540661/73987435-adc00a80-4940-11ea-860c-68b7ce5bee11.png)

![image](https://user-images.githubusercontent.com/4540661/73987419-a39e0c00-4940-11ea-8314-11d74d39a6ee.png)

[2020-02-07 01:29] ludoch opened #11253 "gae generator: can't find the WEB-INF content for static resources (index.html, etc)"
##### **Overview of the issue**

With the GAE java11 generator, the appengine-staging directory used for deployment using thin root does not seem to contain the web app resources (WEB-INF/*) so the app does not work when deployed (404 errors).

##### **Reproduce the error**

jhipster
(use monolit) and all defaults
jhispter gae
(use all default, or F2)
deploy using documented way
See error on the p

[2020-02-07 01:30] saturnism commented on #11253
/cc @SudharakaP

[2020-02-07 02:17] SudharakaP commented on #11253
Hmm... This is strange. I thought I did a full test on this. :thinking: Let me try to do a full deployment and get back to you. :smile:

[2020-02-07 02:48] vishal423 opened #11255 "angular: Upgrade to v9.0"
##### **Overview of the feature request**

Angular v9 is finally out with Ivy support and breaking changes. Check
https://blog.angular.io/version-9-of-angular-now-available-project-ivy-has-arrived-23c97b63cfa3
##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-07 03:30] vishal423 commented on #11209
Thanks @ruddell I tried against an old project generated with `v6.5.1`. With the latest `v6.7.0` I can also reproduce.

[2020-02-07 05:39] vishal423 commented on #11209
It seems the corresponding issue is fixed in the [html-loader](https://github.com/webpack-contrib/html-loader/issues/203)

I see two immediate solutions, first one as suggested by @opt-nc-dev  and the second one is to enable interpolation in html-loader and use require like
<pre>
            {
                test: /\.html$/,
                loader: 'html-loader',
                options: {

[2020-02-07 08:55] kaidohallik commented on #11240
@geyuqiu there are 2 different things:
* chromedriver downloaded by application
* chrome.exe installed in your system

If versions of those 2 doesn't match then you see this error.

Solution is as @vishal423 mentioned: update chrome.exe in your system to the latest version 80.

[2020-02-07 09:11] pascalgrimaud commented on #11251
Simply increase the memory on your GitLab server ?

[2020-02-07 10:13] #11236 closed

[2020-02-07 10:16] #11142 closed

[2020-02-07 11:12] Tonterias commented on #11249
@SudharakaP  Thank YOU!

Does it work for you on v6.6.0? That are great news! Can you show me an example of the questions and the result of the process, please?

[2020-02-07 12:48] geyuqiu commented on #11251
trying with 1024 instead of 4096 (4GB) https://medium.com/@vuongtran/how-to-solve-process-out-of-memory-in-node-js-5f0de8f8464c, https://stackoverflow.com/questions/48387040/nodejs-recommended-max-old-space-size/48392705

[2020-02-07 14:14] mshima commented on #11122
I can do the necessary changes to jhipster generators to start DDD implementation.
What must be implemented?
- Add domain to client path.
- Create a separated menu.
- Add the entity to the new menu.
- Add domain to packagePath.
- Add domains packages to spring.
- Not adding domain url for now.

I think this is the must have, am I missing something?

[2020-02-07 14:23] martwykotek commented on #10003
That sould be also taken in account when using jhipster aws generator

[2020-02-07 16:39] geyuqiu opened #11257 "Render Login Directly on Home"
##### **Overview of the feature request**

move login inside of home component instead of modal dialog

- less popups
- simpler design
- less bugs?
- in angular

1.  get rid of `login-modal.service.ts`
2.  less dependencies of `loginModalService `in `auth-expired.interceptor`, `homeComponent`, `userRouteAcessService`
3. no more `this.activeModal.dismiss('cancel');`

##### **Motivation for or Use C

[2020-02-07 20:29] #11251 closed

[2020-02-07 22:50] ruddell commented on #11209
I've never seen that approach for loading images.  I think most developers would expect to be able to use:
[code]
instead of
[code]

We also don't have any example `img` tags so it would be confusing to new developers.

Aside from that, `html-loader` has not been released for over two years.  I do see some recent developments though, so something may be coming.  Would developers would then have to

[2020-02-08 02:38] SudharakaP commented on #11257
@geyuqiu : Thanks for taking the time to write the suggestions; it would be helpful if you could follow the issue templates for bugs or new features and add more details on what exactly you mean by "less popups", "simple design" and "less bugs" and the reasoning behind each of the improvements you mentioned. And maybe some reproducible examples on the bugs you see. :smile:

[2020-02-08 04:26] vishal423 commented on #11209
My understanding is that the existing syntax should continue to work after a new release, however, I agree that the `require` syntax is a bit clumsy. I am no expert in this area and also fine with disabling `esModule` with a note to revisit whenever the next `html-loader` release happens.

@opt-nc-dev, would you be able to create a PR with your suggested changes?

[2020-02-08 04:42] vishal423 commented on #11245
I did a quick check and there seem to be some issues importing realm/users with CLI scripts. I can do the same operation via the Admin console without issues. Further the script profile is deprecated in favor of a dedicated jar and in the near future, we also need to migrate. For this specific issue, I will see if I can spend some more time debugging the issue and get a quick solution.

[2020-02-08 04:49] vishal423 commented on #10824
@pascalgrimaud, excluding `elasticsearch` flow, I think the react builds are a bit stable. Do you see any other flow that's still failing and require investigation / fix?

[2020-02-08 06:18] SudharakaP commented on #11253
Found it. :smile: This is related to; https://github.com/jhipster/generator-jhipster/pull/11207. The default activation of the webpack profile means that we have to update the documentation for maven to include the webpack profile. Let me do a PR for that. :smile:

[2020-02-08 06:28] SudharakaP commented on #11253
Done. When deploying try the `./mvnw package appengine:deploy -DskipTests -Pgae,webpack,prod-gae`. That should do the trick. :smile:

[2020-02-08 06:34] vishal423 commented on #11253
@SudharakaP, The `webpack` profile executes the development build and is not recommended to be used in production.

[2020-02-08 06:50] pascalgrimaud commented on #10824
@vishal423 : there are still some flaky tests with React during the account e2e part (update or delete the created user), we can have the information by looking into the daily builds. But it's another issue !

[2020-02-08 06:53] SudharakaP commented on #11249
@Tonterias : Unfortunately I couldn't recreate your issue. And yes it does work for me (output below) as well as others (@ludoch seems to have deployed successfully too albeit a different issue at startup indicated at https://github.com/jhipster/generator-jhipster/issues/11253).

Did you try deleting the project and recreating it. Seems like this has some similarities to your previous issue; https

[2020-02-08 06:54] geyuqiu opened #11259 "[jdl] more options for entity generation, e.g. read only access is only possible"
##### **Overview of the feature request**

generate read only operations for an entity, instead of generating all 4 crud operations

`crud A ONLY_CREATE`
`crud B CRUD`

##### **Motivation for or Use Case**

currently for many entities, we import-jdl first, and then manually remove all create, update and delete operations (*.java, *IT.java, *.ts, *.html, *.ts, *.spec.ts and protractor tests ), beca

[2020-02-08 07:17] pascalgrimaud commented on #11253
I don't care if there are duplicated part in the pom.xml : so if needed, we should add the missing part about webpack in gae.

[2020-02-08 07:26] SudharakaP commented on #11253
@vishal423 : Thanks for pointing it out. Agreed. Think what we could do is use the `prod` profile in addition to the `gae` profile (which creates the thin jar) when deploying to GAE. Let me make that change. Feel free to let me know if you disagree or has a better solution. :smile:

[2020-02-08 07:28] pascalgrimaud commented on #11253
adding the prod profile with gae is a good idea !

[2020-02-08 07:37] SudharakaP commented on #11253
I've modified both PRs submitted above to use `Prod` profile instead. :smile:

[2020-02-08 08:19] murdos commented on #11259
Use the `readOnly` option for an entity. See https://www.jhipster.tech/jdl/options#available-options and https://github.com/jhipster/jhipster-core/pull/370

[2020-02-08 08:19] #11259 closed

[2020-02-08 08:25] Tonterias commented on #11249
Those are great news, @SudharakaP. The problem is on my side!
Thanks for the log!
May be it has something to do with Gradle. I am going to try with Maven and see what happens. The points that could crash are fewer with a clean project. I'll get back to you to let you know (and try devox or wsl as you both suggest), but many people still use Windows ;-)

[2020-02-08 17:01] qmonmert commented on #11222
@ctamisier your PR seems 👍

[2020-02-08 17:25] #11253 closed

[2020-02-08 18:06] wmarques commented on #11255
I have something working on my laptop, will provide a PR tomorrow

[2020-02-08 18:24] SudharakaP commented on #11249
@Tonterias : You are welcome. Yes, and if you are using windows 10, I think you could also try thing out in [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10). I've used it before and had quite a but of success with it performing linux based actions without much difficulty. Feel free to let us know if you need any further help. :+1:

[2020-02-08 19:14] pascalgrimaud commented on #11129
I'm starting to work on the dev part.

[2020-02-08 22:16] ludoch commented on #11253
Verified!
Thanks so much for the quick turnaround...
Ideally for next improvement will be to separate the static resources from the main jar, but what we have now is great! Thanks!

[2020-02-08 22:45] SudharakaP commented on #11253
No problem. You are welcome. And yes separating the static resources is something to look forward to. :smile:

[2020-02-09 02:42] vishal423 commented on #11245
I did some debugging and noticed an open issue on the [Keycloak](https://issues.redhat.com/projects/KEYCLOAK/issues/KEYCLOAK-12921) side. We may have to wait for the next release.

[2020-02-09 12:26] gmarziou opened #11265 "Obsolete webpack-visualizer-plugin should be removed or replaced"
##### **Overview of the issue**

webpack-visualizer-plugin is no longer maintained for last 3 years and it raises warnings during `npm install`

[code]

##### **Motivation for or Use Case**

Cleaner npm install.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

Either we remove it or we replace it by webpack-bundle-analyzer.

##### **JHipster Version(s)**

##### **

[2020-02-09 13:18] #11265 closed

[2020-02-09 19:03] Tonterias commented on #11249
Thanks @SudharakaP,

I'm not a programmer and my kwnoledge of Linux is very limited. I have never worked with Jhipster in Linux. I can try, but if I make it, I would be lucky. I'm trying and I will let you know.

BUT, I think that may be it would be easier if you can remote my Windows desktop and we see the mistake together and try to fix it.

I have tried in another Windows 10 Home with another G

[2020-02-09 19:35] Tonterias commented on #11249
I feel lucky?

tonterias@DESKTOP-58MAO5V:~/testgae660$ jhipster gae
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:gae
INFO! Options: from-cli: true
Welcome to Google App Engine Generator
? Google Cloud Project ID kk2probandosdk
This project already has an App Engine location set, using location "us-east4"
? Google App Engine Service Name

[2020-02-09 19:40] Tonterias commented on #11249
tonterias@DESKTOP-58MAO5V:~/testgae660$ ./gradlew thinResolve -Pgae -Pprod-gae && ./gradlew appengineDeploy -Pgae -Pprod-gae
Starting a Gradle Daemon (subsequent builds will be faster)

npm WARN @angular/core@8.2.14 requires a peer of zone.js@~0.9.1 but none is installed. You must install peer dependencies yourself.
npm WARN bootstrap@4.4.1 requires a peer of jquery@1.9.1 - 3 but none is installed

[2020-02-09 21:54] #10682 closed

[2020-02-09 23:13] SudharakaP commented on #11249
@Tonterias : So as you saw with WSL you didn't get any errors running the GAE subgenerator; it was very similar to my stack-trace except you've used Gradle. Therefore I am quite inclined to believe that your previous errors are windows specific. Unfortunately it would take me quite a bit of time I think to find what is wrong with your windows machine even if I do remote in; I use Windows at work,

[2020-02-10 01:27] SudharakaP commented on #11249
@Tonterias : Actually the second error you are getting,

[code]
Is due to a mistake I have overlooked in one of my previous commits. I tested mostly with Maven and completely missed this one. I've create a pull request. After that is merged your deployment should work. :smile:

Or you can alter it yourself; just go to your `build.gradle` file and change the quotes in the section,
[code]
to double

[2020-02-10 02:25] SudharakaP commented on #11124
I've tested this, and it seems that date picker doesn't work on Firefox. This is due to Firefox [not supporting `datetime-local` input type](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local). We have an old issue where this is discussed; https://github.com/jhipster/generator-jhipster/issues/6711.

I am not an Angular or React expert, so maybe we need some discussion o

[2020-02-10 06:33] #10741 closed

[2020-02-10 06:51] dronavallisaikrishna opened #11270 "Jhipster UAA is Unable to load the keys from config/tls/keystore.p12. from ec2."
##### **Overview of the issue**
I have created a jhipster application with microservice architecture. I have a registry, UAA and a gateway.
Now to move them to production i have created a new keystore.p12 for UAA and modified the alias and password and name of the UAA server as shown below.
[code]

i created the keystore file using the jhipster recommended command from application-prod.yml
`keytoo

[2020-02-10 07:37] deepu105 commented on #11124
The reason we didn't implement one was so developer can choose a picker to match their UX

I'm ok to include one if the picker is pure bootstrap and respects bootstrap themes, else  we can make it plain text field

[2020-02-10 10:41] Tonterias commented on #11249
Hi,

Yes, WSL was much easier than I could expect.

This is the gradle new output, as you expected:

WARNING in asset size limit: The following asset(s) exceed the recommended size limit (244 KiB).
This can impact web performance.
Assets:
  app/main.a390f8e6e8ebc6aae08a.bundle.js (1.52 MiB)
  swagger-ui/swagger-ui-bundle.js (951 KiB)
  swagger-ui/swagger-ui-standalone-preset.js (300 KiB)
  swagger

[2020-02-10 10:43] Tonterias commented on #11249
I could not see it!

tonterias@DESKTOP-58MAO5V:~/testgae660$ gcloud app browseps://kk2probandosdk.appspot.com]
ERROR: (gcloud.app) Invalid choice: 'browseps://kk2probandosdk.appspot.com]'.
Maybe you meant:
  gcloud app browse

To search the help text of gcloud commands, run:
  gcloud help -- SEARCH_TERMS
tonterias@DESKTOP-58MAO5V:~/testgae660$

[2020-02-10 10:46] Tonterias commented on #11249
An then I did the tonterias@DESKTOP-58MAO5V:~/testgae660$ gcloud app browse
Did not detect your browser. Go to this link to view your app:
https://kk2probandosdk.appspot.com

Error: Server Error
The server encountered an error and could not complete your request.
Please try again in 30 seconds.

[2020-02-10 10:50] Tonterias commented on #11249
LOGS: which I do not know if they can help you find out what is going wrong!

**It looks like we are almost there!**

2020-02-05 10:19:10.000 CET
[2m2020-02-05 09:19:10.577[0;39m [33m WARN[0;39m [35m1[0;39m [2m---[0;39m [2m[ main][0;39m [36mConfigServletWebServerApplicationContext[0;39m [2m:[0;39m Exception encountered during context initialization - cancelling refresh attempt: org.s

[2020-02-10 12:37] geyuqiu opened #11271 "[maven, junit5, spring boot] parameterized tests dependency are missing"
##### **Overview of the feature request**

Spring Boot 2.2.0 brings standard junit5 dependency:
include:
[code]
##### **Motivation for or Use Case**

[code]

-   [x] Checking this box is mandatory (this is just to show you read everything)

##### **Risks**
may break junit4 tests

[2020-02-10 12:54] atomfrede commented on #11271
We are already using junit5/jupiter for all our tests. Is there a specific issue with our current setup?

[2020-02-10 13:05] geyuqiu commented on #11271
@atomfrede corrected the issue, looks like some dependency for parameterized tests are missing

[2020-02-10 13:12] geyuqiu commented on #11251
if it is so easy :)

[2020-02-10 14:04] PierreBesson commented on #11251
I would recommend at least 4Gb of ram for the webpack build. For Gitlab, I recommend setting up an external Gitlab runner : https://docs.gitlab.com/runner/install/

[2020-02-10 14:54] geyuqiu opened #11272 "[Builder] enable builder pattern for Java and Typescript"
##### **Overview of the feature request**
currently:
https://marketplace.visualstudio.com/items?itemName=FraserCrosbie.typescript-interface-to-builder-class
and lombok `@Builder`

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-02-10 16:11] SudharakaP commented on #11272
The usage of Lombok has been discussed before in multiple threads;

https://github.com/jhipster/generator-jhipster/issues?q=is%3Aissue+lombok+is%3Aclosed

For example; https://github.com/jhipster/generator-jhipster/issues/5997

[2020-02-10 16:21] SudharakaP commented on #11272
This feature is more suitable to be built as a [JHipster module](https://jhipster.tech/modules/marketplace/#/list) ([as mentioned in #5997](https://github.com/jhipster/generator-jhipster/issues/5997#issuecomment-311473531)) so that it can be evaluated first.

If the module ends up being very popular we could consider integrating it into the main project here.

Please refer the documentation on [ho

[2020-02-10 16:21] #11272 closed

[2020-02-10 16:34] SudharakaP commented on #11249
Seems like the application failed to connect to the database. Let me do some tests and get back to you. I've not tried creating Postgres dbs in GCP. 😄

[2020-02-10 16:59] maznag opened #11274 "jhipster ci-cd does not generate a ci-cd pipelines whith --skip-server option"
##### **Overview of the issue**

No ci-cd pipelines generated with "jhipster ci-cd" when we generate only a frontend app with --skip-server option

##### **Motivation for or Use Case**

Generate a ci-cd pipeline only for frontend applications.

##### **Reproduce the error**

* generate a new app with "jhipster --skip-server --db=sql --auth=jwt"
* generate a GitLab ci-cd pipeline for example with "

[2020-02-10 17:37] vishal423 commented on #11274
I believe we support this flow in the GitHub Actions. @maznag, can you try that?

[2020-02-10 18:05] vishal423 commented on #11257
I also like to move away from the login dialog. If we all agree, then, we should do this across all UI implementations; `angular`, `react`, `vue`.

[2020-02-10 18:48] Tonterias commented on #11249
Ok, let's test it!

[2020-02-10 19:12] murdos commented on #11271
The generated code doesn't use parameterized tests, so this dependency is not needed.
If you want to write parameterized tests in your own code, you can just add the dependency in your generated project.

BTW, you claim that Spring Boot 2.2.0 brings standard junit5 dependency, without details. I guess you're talking about dependency management. Because neither [spring-boot-test](https://mvnreposit

[2020-02-10 19:12] #11271 closed

[2020-02-10 20:35] mohamedsogoba opened #11275 "How to use Jhipster for dot net"
how to install jhipster i am newcomer.
i need to documentation

[2020-02-10 20:36] mohamedsogoba commented on #11257
please man how to install jhipster i am newcomer.
i need to documentation

[2020-02-10 22:09] jdubois commented on #11275
I'm sorry, this is the main project, JHipster Dotnet is at https://github.com/jhipster/jhipster-dotnetcore

- you'll find documentation there
- it's a work in progress, so it's not finished yet, that's why it's still not officially here
- this is the bug report system, and this is why I'm closing this

[2020-02-10 22:09] jdubois commented on #11275
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-02-10 22:09] #11275 closed

[2020-02-11 00:30] SudharakaP commented on #11257
@mohamedsogoba : Hi, we have loads of documentation on our website, https://www.jhipster.tech/ and if you have any specific questions feel free to ask them on [StackOverflow](https://stackoverflow.com/tags/jhipster) with the jhipster tag or at our [Gitter channel](https://gitter.im/jhipster/generator-jhipster?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge).

[2020-02-11 05:55] SudharakaP commented on #11249
@Tonterias : I think I found the problem. It seems the generator behaves weird when you have numeric characters in your package and package folder names. Can you rename your package name to `test.heroku.app` for example instead of `test.heroku.v660`. Also upgrade to generator version 6.7.0. So your `yo.rc.json` file would look like,

[code]

With these minor changes I think your app should work wi

[2020-02-11 06:05] Tonterias commented on #11249
Yes, no problem though we should advise so in the Jhipster website, right? Please do not use Windows (use wsl) and do not include numbers in the package name. It is quite easy to fall into those traps.

[2020-02-11 06:27] SudharakaP commented on #11249
Yes but before that I need to investigate some more on that. Could you get
your app deployed with those changes ?

Best,
Sudharaka.

On Mon, Feb 10, 2020, 10:05 PM Mike <notifications@github.com> wrote:

[2020-02-11 08:28] Tonterias commented on #11249
Yes, you are right
My yo-rc.json does not have numbers in the packageName

{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.testgae"
    },
    "jhipsterVersion": "6.6.0",
    "applicationType": "monolith",
    "baseName": "testgae660",
    "packageName": "com.testgae",
    "packageFolder": "com/testgae",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "ca

[2020-02-11 08:59] kaidohallik commented on #11189
bounty claimed: https://opencollective.com/generator-jhipster/expenses/13788

[2020-02-11 09:25] maznag commented on #11274
With Github Actions I have this:

* github-ci.yml

[code]

* GitLab Ci .gitlab-ci.yml
[code]

* Jenkinsfile

[code]

[2020-02-11 10:51] seraphinandrieux commented on #11216
@lululu0620 I'm working on it

[2020-02-11 12:38] postpersonality commented on #11025
@mshima I'm sorry, but why do we need a separate generator in order to fix the bug?

Is it possible to detect name clashing beforehand and generate an alternative relationship table name in case of clashing like `<rel_name1>_<rel_name2>` -> `<rel_name1>_<rel_name2>_rel` ?

But I guess the collision finding is out of the scope that's why the current solution is like that.

[2020-02-11 13:24] qmonmert commented on #11222
@vishal423 & @pascalgrimaud I think my PR #11224 is ok

[2020-02-11 13:32] manisi opened #12384 "improve Right Align in RTL Languages same as Angular or React"
VueJs:(not correct)
<img width="1379" alt="Screen Shot 2020-02-11 at 16 37 11" src="https://user-images.githubusercontent.com/3120328/74240141-968d6e00-4cee-11ea-8926-28afbe7b9bf7.png">

React :(correct)
<img width="1409" alt="Screen Shot 2020-02-11 at 16 59 25" src="https://user-images.githubusercontent.com/3120328/74240878-123bea80-4cf0-11ea-96b4-727cf642f506.png">

[2020-02-11 13:37] SudharakaP commented on #11249
I don't quite understand what you mean. Did you try to deploy the
application with the modified `yo-rc.json` file I've given above ? Your
new  `yo-rc.json` file has numbers in the lots of places including the
baseName and the gcpCloudSqlDatabaseName in other places. :smile:

On Tue, Feb 11, 2020, 12:28 AM Mike <notifications@github.com> wrote:

[2020-02-11 16:06] mshima commented on #11025
No, it's just a workaround.

The bug is triaged.
The fix is simple.
The patch is ready.
But it's a breaking change when regenerating.

JHipster Developers don't agree that we should create a config to workaround this.
https://github.com/jhipster/generator-jhipster/pull/11030#discussion_r362032865

Adding prefix of suffix, will not fix relations like
relation_name -> other = relation_name_other
rel

[2020-02-11 16:46] fredericBregier opened #11281 "Jhispter 6.7.0 issues: missing javax.servlet-api and Unable to start ServletWebServerApplicationContext due to missing ServletWebServerFactory bean"
##### **Overview of the issue**
I was using old version 6.6.0. After upgrading to 6.7.0 I cannot anymore build my project.
Therefore I started a new one from scratch, using all default values.

    jhipster

Then, when running

    ./mvnw  -Pwebpack

I've got a first error, simple to correct:

    [INFO] --- maven-compiler-plugin:3.8.1:compile (default-compile) @ waarp-test ---
    [INFO] Changes

[2020-02-11 16:53] vishal423 commented on #11281
@fredericBregier,  instead of `./mvnw  -Pwebpack `, can you try `./mvnw` ?

[2020-02-11 17:31] fredericBregier commented on #11281
@vishal423 Indeed `./mvwn` did the trick on the test project...

Even the missing dependency is no more an issue. I was probably using an "old" documentation that specifies `-Pwebpack` to use...

I will return to my original project and see if it goes ok then.

[2020-02-11 17:38] geyuqiu opened #11282 "Reuse before() Method in Every Entity"
##### **Overview of the feature request**

export redundant code for signing in to the app

[code]

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-11 17:51] fredericBregier commented on #11281
@vishal423 I confirm that `./mvwn` fully did the trick.

My bad, probably reading old doc...
Closing this issue then ;-)

Thank you!!

[2020-02-11 17:51] #11281 closed

[2020-02-11 18:28] #11222 closed

[2020-02-11 18:53] SudharakaP commented on #11282
@geyuqiu : Can you provide some more info on the motivation of the change; Do you mean we have redundant code at [`entity.spec.ts`](https://github.com/jhipster/generator-jhipster/blob/00e3a657810cc7d0ee81572763f6ea5909b7ca0d/generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs#L64)?

[2020-02-11 19:04] SudharakaP opened #11283 "Create New Workflow for Label Cleanup"
##### **Overview of the feature request**

As per the following discussion, I thought it would be nice to have a workflow that cleans up labels in our issues. So for example once a issue is closed labels like `triage`, `undefined`, `needs-reproduction` and `waiting for information` needs to be automatically removed.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/jhipst

[2020-02-11 19:08] SudharakaP commented on #11283
I think we can add more labels for the cleanup (for example status labels maybe?). But given we don't adhere to a strict labeling policy I wanted to keep it simple. Please feel free to let me know if you want to include more labels or have any other suggestions. 😄

[2020-02-11 19:49] qmonmert commented on #11222
@pascalgrimaud & @jdubois  I claim my money 😄 https://opencollective.com/generator-jhipster/expenses/13796

[2020-02-11 19:54] WiteCastle opened #11285 "Can't find needle code for 'jhipster-needle-add-admin-route'"
##### **Overview of the issue**

I'm attempting to update the [elasticsearch-reindexer module](https://github.com/WiteCastle/generator-jhipster-elasticsearch-reindexer) to the latest Jhipster version but I can't find the function that'll update the `jhipster-needle-add-admin-route` section. Has this functionality been removed? I don't see any code to edit that needle in the Angular client api:

ht

[2020-02-11 20:01] mshima commented on #11285
What was the original jhipster version?

[2020-02-11 20:06] WiteCastle commented on #11285
The original module was using Jhipster version 6.3.1.

The original module is here: https://github.com/geraldhumphries/generator-jhipster-elasticsearch-reindexer

[2020-02-11 20:16] mshima commented on #11285
Just looked at jhipster 6.3.1 code, jhipster-needle-add-admin-route was never used.

I proposed https://github.com/jhipster/generator-jhipster/pull/10286 that used it.
But I closed it as I didn't had the time to work on it.

[2020-02-11 20:41] pascalgrimaud commented on #11283
it's good idea ! I just need time to think more about it and propose something here too !

[2020-02-11 20:49] SudharakaP commented on #11283
@pascalgrimaud : Thanks; [@mshima  suggested](https://github.com/jhipster/generator-jhipster/pull/11284#issuecomment-584813557) to keep the `area: triage` and `theme: undefined` and remove the `status: work in progress`.

Please feel free to let me know your thoughts as well; once everyone comes to an agreement I'll make some modifications. 😄

[2020-02-11 20:50] mshima commented on #11142
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/13800

[2020-02-11 21:04] DanielFran commented on #11283
I believe we should change, if possible, the workflow that add the 2 labels to add them only if no label of the same type is not present.

[2020-02-11 21:08] mshima commented on #11283
Close/reopen off the issue will remove those labels, it should be kept for reopen.

I think we should remove every `status: *`, and rename those that should be kept.
`status: bounty-requested` => `bounty: requested`
`status: bounty-approved` => `bounty: approved`
`status: should go to modules` => `resolution: should go to modules`
`status: wont-fix` => `resolution: wont-fix`

[2020-02-11 21:12] mshima commented on #11283
I agree with you, but this will make the workflow much more complicated.
Instead of just writing, it will be read then write.

[2020-02-11 21:25] saturnism commented on #11184
btw, the #11185 generates "subPath" attribute, I think it should be `subPath`?

[2020-02-11 22:04] Tonterias commented on #11249
I tried with another app and it works fine!

[2020-02-11 23:08] SudharakaP commented on #11249
Wonderful. 😄 Let me add a small blob about WSL to our documentation as well.

[2020-02-12 01:26] SudharakaP commented on #11283
@mshima : I agree with keeping the `area: triage` and `theme: undefined` and removing/renaming the `status: *` labels; but maybe given our label creation isn't governed by any rules, I am thinking if we need to discuss this a bit more.

Currently in the entire repo (even including closed issues and pull requests) I see; 0 bounty-requested labels, 5 bounty-approved labels, 0 should go to modules la

[2020-02-12 02:12] mshima commented on #8915
Since v6 goals have been postponed to v7.
Then jdl only is postponed to v8 correct?

I don’t understand the reason to eliminate .yo-rc completely.

[2020-02-12 08:04] HJK181 commented on #9746
The correct answer for STS users would be:
- Right click on the project > maven > select maven profiles ... > choose: dev as this pulls in h2 as compile dependency.

[2020-02-12 08:38] kaidohallik commented on #11285
I opened #11289 to add this missing function.

[2020-02-12 08:49] ArnauAregall opened #11290 "PersistentAuditEvent is not backwards compatible when using MongoDB and upgrading to 6.7.0"
##### **Overview of the issue**

The v6.7.0 upgrade removes the following annotation of `PersistentAuditEvent`:

[code]
I understand the goal is just to use standard `@Id` and `_id` as ID's of the `jhi_persistent_audit_event` collection documents, but this is not compatible with previous records, so when finding by ID field the query won't look anymore for the `event_id` field, thus documents stor

[2020-02-12 11:42] amanganiello90 opened #11295 "Support for cosmosdb using spring data"
Hi wonderful people,
any plans to implement the cosmosdb feature using [spring data cosmosdb](https://github.com/microsoft/spring-data-cosmosdb)?

[2020-02-12 12:40] DanielFran commented on #11295
I believe @jdubois already implement something related to cosmodb...

[2020-02-12 12:45] amanganiello90 commented on #11295
Really? That could be great, I want to integrate this feature also in the nodejs blueprint. CosmosDB has a lot of useful features that works well in azure system.

[2020-02-12 12:46] #10510 closed

[2020-02-12 12:50] DanielFran commented on #11295
@amanganiello90 take a look : https://dev.to/azure/going-full-reactive-with-spring-webflux-and-the-new-cosmosdb-api-v3-1n2a

[2020-02-12 12:52] jdubois commented on #11295
Yes I did this blog post, but it's not using JHipster, and it's not using the Spring Data CosmosDB API, but the underlying CosmosDB SDK.

What I already did with JHipster + CosmosDB was basically to replace MongoDB by CosmosDB, using the MongoDB API. Basically there is nothing to do, and it works well.

Here it's a totally different story, this is using Spring Data CosmosDB - but @amanganiello90 t

[2020-02-12 13:00] amanganiello90 commented on #11295
@jdubois I know that here it is for spring data (I have open the issue specifying it)... For nodejs I have an idea to integrate it with  typeorm, and a prompt with cosmosdb chooice it could be useful (as user-experience).

We have mongodb, why not Cosmosdb? (I thought ;)

I would like to start this feature.

[2020-02-12 13:13] jdubois commented on #11295
Oh @amanganiello90 you are very welcome to start this. We already have Couchbase and Cassandra, so it's hard to tell no to CosmosDB - even if I'm a bit afraid the templates will end up being very messy.

I'm pretty sure I can find some support from Microsoft on this (those are my direct colleagues), so if you start something please document it (at least on this ticket), because I believe I can bri

[2020-02-12 13:29] amanganiello90 commented on #11295
I have some experience with cosmosdb and azure. So I know what configuration is needed for spring data cosmosdb, I will add new templates for entity and repository classes in order to not complicate jhipster entity/repository template. Thanks, I will notice here the activity status.

[2020-02-12 15:34] geyuqiu opened #11296 "Delete Non Used getToken Method in AuthServerProvider"
##### **Overview of the feature request**
this method is never called in source code
[code]
##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-12 15:36] geyuqiu commented on #11282
yes

[2020-02-12 15:37] geyuqiu commented on #11282
actually all entities generated by jdl have this in e2e test inside before block, if protractor enabled

[2020-02-12 16:09] #11184 closed

[2020-02-12 17:59] MathieuAA commented on #8915
@mshima the main reason is that it's easier to read a JDL file than a dumped JSON one.
However, this "feature" can be split:
  - the first step being an automatic JDL export/update of entities & apps when creating/updating apps & entities
  - the final step being the removal

If even the first step is hard to do (which isn't really as the JDL export is already implemented) or there are more import

[2020-02-12 18:12] Bilel-Fitouri commented on #9032
try this one :
http://localhost:8080/swagger-ui/index.html

[2020-02-12 19:40] Tonterias commented on #11249
Great @SudharakaP
I have tried it again today and it works fine with gradle.
One question. Where is the password for the user postgres that is created in prod (GCP SQL)?
src\main\resources\config\application-prod.yml?
Thanks

[2020-02-12 19:46] SudharakaP commented on #11249
@Tonterias : It's in the `application-prod-gae.yml` file. This file contains all that is needed to connect to the GCP database. 😄

[2020-02-12 20:47] Tonterias commented on #11249
Sorry, there is no application-prod-gae.yml
![image](https://user-images.githubusercontent.com/11610877/74375754-33c8cf00-4de1-11ea-88fd-ba190caac232.png)

[2020-02-12 20:49] saturnism opened #11298 "Kubernetes - Elastic Search option generates bad deployment YAML"
##### **Overview of the issue**

If Elastic Search was chosen as an option, the deployment YAML is produced incorrectly.  Specifically, the deployment YAML creates a PVC, such as `blog-elasticsearch-pvc`, but the deployment refers to `blog-mariadb-pvc`, which is incorrect.

##### **Motivation for or Use Case**

Elastic Search doesn't deploy.

##### **Reproduce the error**

Create a microservice w/

[2020-02-12 20:54] saturnism commented on #11298
oops, looks like @xetys already fixed it.

[2020-02-12 20:54] #11298 closed

[2020-02-12 20:55] saturnism commented on #11298
#11299 11297

[2020-02-12 20:56] saturnism commented on #11184
thnx @xetys

[2020-02-12 20:58] saturnism commented on #8143
ran into this issue w/ @mraible yesterday 😄

[2020-02-12 21:32] SudharakaP commented on #11249
@Tonterias : Did you run the GAE generator. If you selected "Yes" to `Use a Cloud SQL instance (Y/N)` the `application-prod-gae.yml` file is always created.

[2020-02-12 21:43] #11285 closed

[2020-02-12 22:42] murdos commented on #11290
I removed this annotation during Spring Boot 2.2 upgrade because there was a conflict error between both annotations (`@Id` and `@Field("event_id")`).
While doing this, I thought that it could indeed be a breaking change for existing application, and thus I did a test, by generating an application with previous JHipster release, to verify how Spring was handling the ambiguous declaration using the

[2020-02-12 22:45] saturnism opened #11301 "Elastic Search on Kubernetes OOMKilled"
##### **Overview of the issue**

If service uses ES, and generates the Kubernetes manifiest, ES deployment fails to start and is OOMKilled.

##### **Motivation for or Use Case**

ES should work.

##### **Reproduce the error**

https://github.com/jhipster/jdl-samples/blob/master/microservices-blog-store.jh

##### **Related issues**

##### **Suggest a Fix**

Determine & increase resource limit.

###

[2020-02-12 22:50] saturnism opened #11302 "Elastic Search on Kubernetes - AccessDeniedException"
##### **Overview of the issue**

If ES deployment starts (increasing resource restriction), then it crashes with exception:
[code]

##### **Motivation for or Use Case**

ES should work on Kubernetes.

##### **Reproduce the error**

https://github.com/jhipster/jdl-samples/blob/master/microservices-blog-store.jh

##### **Related issues**

#11301

##### **Suggest a Fix**

TBD

##### **JHipster Versio

[2020-02-12 22:52] saturnism commented on #11302
https://github.com/elastic/helm-charts/issues/137

[2020-02-13 01:18] SudharakaP commented on #11296
@geyuqiu : Can you give some more information; I think you are referring to;

https://github.com/jhipster/generator-jhipster/blob/a0b0d6643558223db053f9f6a156075d298c70f1/generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs#L60-L62

But that method is used at,

https://github.com/jhipster/generator-jhipster/blob/a0b0d6643558223db053f9f6a156075d298c70f1/generato

[2020-02-13 04:56] opt-nc-dev commented on #11209
Yes I can do that

[2020-02-13 05:32] vishal423 commented on #11282
sounds reasonable. @geyuqiu, would you like to create a PR refactoring this code?

[2020-02-13 06:26] pascalgrimaud commented on #11295
I discussed yesterday with @PierreBesson : it's cool to have all these new options but it will really increase too much our work to maintain it.

For example, we have some issue with Couchbase and Cassandra the last weeks/months: flaky builds related to testcontainers and cassandra drivers. I spent evenings on this, trying to find some solutions... @SudharakaP did the same.
Same for UAA with the R

[2020-02-13 06:44] SudharakaP commented on #11249
Also if you could please share that repository on GitHub so that I can have closer look. :smile:

[2020-02-13 07:34] saturnism commented on #11104
@mraible and i ran into the same issue recently.

the PVC claim is fixed in 6.7.1 iirc by @xetys

there were additional issues #11302 #11301 to be fixed in #11303

[2020-02-13 08:30] #11249 closed

[2020-02-13 09:19] unknownboy opened #11305 "File Diff not refreshing after manual change(s)"
##### **Overview of the issue**

When I upgrade an existing project with `jhipster command`, a diff tool command line program is used to compare files to find the difference(s).

Like that :
`? Overwrite pom.xml? (ynaxdH)`

This diff tool used to refresh the differences everytime the user press `d` key.
This is not the case, as of jhipster v6.7.0.

##### **Motivation for or Use Case**

Sometime yo

[2020-02-13 09:33] pascalgrimaud commented on #11305
This is something provided directly by yeoman, it is not provided by JHipster.
Not sure we can do something on our side...

[2020-02-13 09:39] mshima commented on #11305
Looks like you are using `jhipster upgrade`. Correct?
Its all git magic. There is nothing we can do.

[2020-02-13 09:42] pascalgrimaud commented on #11305
@mshima : I don't think so. I think @unknownboy used simply `jhipster` command and saw the prompt `? Overwrite pom.xml? (ynaxdH)` ; then, he tried to modify manually the diff but Yeoman still compared to the file which is in memory, not the new one

[2020-02-13 09:43] amanganiello90 commented on #11295
Hi @pascalgrimaud , I'm agreement with you. Maybe it's better to start a blueprint **generator-jhipster-cosmosdb**, in order to manage server database configuration, versioning. usermanagement, entity and jdl. Then in future, we could merge it in jhipster.

[2020-02-13 09:46] unknownboy commented on #11305
Yep, exactly.

[2020-02-13 09:50] geyuqiu opened #11306 "[jhipster cli, option select, windows]"
##### **Overview of the issue**
use arrow keys or push space to select not working in jhipster cli on windows

not sure if this is a problem with [git windows](https://git-scm.com/download/win) or jhipster cli

![image](https://user-images.githubusercontent.com/4540661/74422223-90ae9e80-4e4e-11ea-9ee1-cc26b31fe906.png)

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **R

[2020-02-13 10:04] jdubois commented on #11295
OK for a blueprint then!

[2020-02-13 10:07] mshima commented on #11305
What was jhipster version with this old behavior?

[2020-02-13 10:24] atomfrede commented on #11274
So it looks like gitlab and jenkins pipelines are basically empty.

[2020-02-13 10:28] atomfrede commented on #10418
As we didn't agreed on what to do I would suggest we keep it as is for now, as it works for us.

[2020-02-13 10:28] #10418 closed

[2020-02-13 10:44] Tonterias commented on #11249
@SudharakaP  Sorry, I was looking in my Windows, instead of the WSL. Yes, it is there, thanks.

One more question? please. In my tests I have created several databases and now I do not know how to find out which one is it. The name of the database is not in application-prod-gae.yml file

![image](https://user-images.githubusercontent.com/11610877/74426614-f8b4b300-4e55-11ea-93d7-0699a1b1ba94.png)

[2020-02-13 10:45] unknownboy commented on #11305
Release 6.5.1 fore sure but I guess v6.6.0 had it too.

[2020-02-13 11:12] mshima commented on #11295
To facilitate database only blueprints we should extract as much as possible db data into a structure.
Ex:
https://github.com/jhipster/generator-jhipster/blob/b8a973f9e38d2cd6a682f82b4e536cbd7e2f01e4/generators/server/templates/src/main/resources/config/application-dev.yml.ejs#L101-L139

We could have:
[code]

before rendering:
`db.bind(ctx);`

at the ejs part it will be something like:
`url: <%=

[2020-02-13 11:41] mshima commented on #11305
This is related to yeoman.
But it shouldn't had any behavior change on yeoman part too.

This is were diff is chosen:
https://github.com/yeoman/generator/blob/668d91fbcab5ec1cf801317e6676bccab24e559d/lib/util/conflicter.js#L311

The file should be loaded just before printing the diff:
https://github.com/yeoman/generator/blob/668d91fbcab5ec1cf801317e6676bccab24e559d/lib/util/conflicter.js#L136

Loo

[2020-02-13 11:46] mshima commented on #11305
This is not related to jhipster.
If you want to move this conversation forward, post it in https://github.com/yeoman/generator/issues
I can handle from there.
Closing

[2020-02-13 11:46] #11305 closed

[2020-02-13 12:11] mshima commented on #10418
PRs have been done for reproducible builds.
We could use it and inject a date.
https://github.com/jhipster/generator-jhipster/blob/d3cc5f6b8e021422bbab6d8151172ececb0eaf2d/generators/entity-server/files.js#L42

[2020-02-13 12:41] yeshaParmar commented on #7500
Hii, I face the same issue. Please let me know if you found any solution for this.

[2020-02-13 13:10] geyuqiu commented on #8111
may want to remove "clean" from doc / readmes?

[2020-02-13 13:34] avdev4j commented on #11306
This issue is related to windows terminal. You should use another terminal like powershell, git bash or something like Cmdr.

[2020-02-13 13:34] #11306 closed

[2020-02-13 14:00] geyuqiu opened #11307 "[sonar, windows, not on mac!] Line 3 of report refers to a file with an unknown language:... account.service.spec.ts"
##### **Overview of the issue**

`[ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.7.0.1746:sonar (default-cli) `

##### **Motivation for or Use Case**

##### **Reproduce the error**

local windows machine
[code]

.gitlab-ci.yml

[code]

##### **Related issues**

##### **Suggest a Fix**

similiar error message on windows and linux-ci-server:

`Error during parsing

[2020-02-13 14:25] wmarques commented on #11124
For Angular we can use this one I think, it's from the lib we already use https://ng-bootstrap.github.io/#/components/datepicker/overview

[2020-02-13 14:39] avdev4j commented on #11124
We already discuss about that here #8846 too.

The https://flatpickr.js.org/ solution seemed to be a good one bbut I'm not sure it respects the bootstrap theme.

Whatever having a pure HTML 5 datepicker is a good idea because it works with every framework, on every browser. People can switch to they favorite one once it's generated.

If we implement a custom datefield, be sure it can be done on al

[2020-02-13 14:45] geyuqiu commented on #11307
comment out

`#sonar.testExecutionReportPaths=target/test-results/jest/TESTS-results-sonar.xml`

in `sonar-project.properties` the commands succeed and statistics are visible on remote sonar dashboard

[2020-02-13 14:46] avdev4j commented on #11274
for Jenkinsfile it's because we do all steps under maven command:
`<%_ if (buildTool === 'maven') { _%>` https://github.com/jhipster/generator-jhipster/blob/master/generators/ci-cd/templates/jenkins/Jenkinsfile.ejs#L36 (or gradle ofc).

We can easily improve that by improving the templates by adding the case we don't have the server part.

same reason for gitlab.

Github-ci manage both case :
[cod

[2020-02-13 14:56] SudharakaP commented on #7500
@yeshaParmar :

Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new/choose) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue t

[2020-02-13 15:03] SudharakaP commented on #11249
@Tonterias : No problem. The database name is in the url;

https://github.com/jhipster/generator-jhipster/blob/b8a973f9e38d2cd6a682f82b4e536cbd7e2f01e4/generators/gae/templates/application-prod-gae.yml.ejs#L50

So your url would look something like,

` url: 'jdbc:postgresql://google/jhipsterpostgres?cloudSqlInstance=jhipstergaetest:us-central1:gaepostgres&socketFactory=com.google.cloud.sql.postgre

[2020-02-13 17:17] patrickjp93 commented on #11290
Honestly as a Joe Average community member I think the best way forward is document it as a mistake that was made and amend the upgrade notes section of the site to handle this, which may very well including renaming the field in old records manually OR using this @Field annotation fix manually before running the upgraded application. Maybe even a dedicated "upgrade quirks" page. You can't smooth

[2020-02-13 18:11] pascalgrimaud commented on #11274
@avdev4j : for Jenkins, it was done like this because you don't know which version of node, npm or yarn are used.
For my old customer, I saw a very old version of node, installed on the Jenkins server, and by this way, I can use the version of Node+NPM I need

[2020-02-13 18:25] pascalgrimaud commented on #11302
fixed by https://github.com/jhipster/generator-jhipster/pull/11303

[2020-02-13 18:25] #11302 closed

[2020-02-13 18:26] pascalgrimaud commented on #11301
fixed by https://github.com/jhipster/generator-jhipster/pull/11303

[2020-02-13 18:26] #11301 closed

[2020-02-13 19:44] ArnauAregall commented on #11290
I agree that a good approach could be just an awareness message on the release notes, or upgrade guide.

As an extensive JHipster user I would appreciate a clear and concise message of all breaking changes like this one, with an explanation of why is breaking, why is not covered by the automatic upgrade process, and the possible side effects I may expect if I don't deal with it.

I personally don'

[2020-02-13 21:07] maznag commented on #11274
For gitlab we need to have something like that for separated frontend:

[code]

for sonar to work, we should add sonar npm package to package.json
* add  "sonar-scanner": "3.1.0" to "dependencies" section
* add "sonar": "sonar-scanner" to "scripts" section

[2020-02-13 22:59] mraible commented on #10189
@joewhite101 I tried the tutorial today and was able to make everything work. Nice work!

A few things I thought of:

1. If we allowed microservices to have a `keycloak.yml` for Docker Compose, it would greatly reduce the steps in your tutorial because you could just start Keycloak.
2. Your blueprint uses Create React App, which is cool, but I believe we should be able to use JHipster's React CRUD

[2020-02-14 06:10] geyuqiu commented on #11296
@SudharakaP which flag do I have to set to get tracker.service enabled? because I am not having a directory with the name `tracker` under  .../app/core

[2020-02-14 06:13] pascalgrimaud commented on #11296
@geyuqiu : you can try to generate a project with websockets option

[2020-02-14 06:19] geyuqiu commented on #11296
great, closing this for now :)

[2020-02-14 06:19] #11296 closed

[2020-02-14 06:21] pascalgrimaud commented on #11290
I'd like to know if you used the `jhipster upgrade` or a manual upgrade process ?

Then, can you contribute and improve the release note at https://github.com/jhipster/jhipster.github.io plz ?

[2020-02-14 06:38] geyuqiu commented on #11251
@PierreBesson I will have this in mind for next cloud project :)

[2020-02-14 07:14] ArnauAregall commented on #11290
My upgrade was manual in this case. I will try to open a PR this weekend then.

[2020-02-14 07:31] pascalgrimaud commented on #11290
Thanks a lot @ArnauAregall :)

[2020-02-14 07:46] pascalgrimaud commented on #11295
@mshima : if it can help to develop blueprint / module with new database, yes, let's improve this part

[2020-02-14 07:47] pascalgrimaud commented on #11295
About this ticket, I think we agree that it should go to module, so I'm closing this.

[2020-02-14 07:47] #11295 closed

[2020-02-14 07:51] geyuqiu commented on #11307
works on mac this way:

[code]

[2020-02-14 08:49] pascalgrimaud commented on #11307
@geyuqiu : I already saw this but I don't remember well where and why. Plz, maybe check the Sonar version ?

[2020-02-14 09:01] avdev4j commented on #11274
@pascalgrimaud for jenkinsfile we run the pipeline into a docker image (it's an option), it's a best practice btw, so we can have a node version and fix the environment we need.

And because JHipster rocks, use the JHipster docker image resolve all our environment problem:
[code]

approved and tested IRL ;)

[2020-02-14 09:05] joewhite101 commented on #10189
@mraible Great points. A few notes and thoughts.

Good idea. We will add this.

I don't remember exactly why we chose create react app but we can take a look at the JHipster CRUD for sure. I'll have to check with my team. Giuseppe or Martynas can you add some more detail here?

This step is where we diverge a bit from the JHipster architecture. We are building a Micro Frontend composition engine f

[2020-02-14 11:45] ShekharSahu commented on #870
@devedipoint were you able to implement it?

[2020-02-14 12:09] Tonterias commented on #11249
Thanks @SudharakaP

Do I bother you if I ask you questions about my GCP deployment? Do you have time for it?

[2020-02-14 15:26] geyuqiu opened #11315 "Clean up Non Used Sort Criteria in Integration Tests"
##### **Overview of the issue**

jdl

[code]
clean up not used sort criteria in url in integration tests:

[code]
are prepended to end of a url, but in resource.java they are not used (maybe should only be needed for Pageable / Pagination?) e.g.:
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(

[2020-02-14 16:03] SudharakaP commented on #11249
Yes please feel free to :smile:

On Fri, Feb 14, 2020, 4:09 AM Mike <notifications@github.com> wrote:

[2020-02-14 16:49] sahaliatarek commented on #8590
Hi There,
I know this is closed, but just wondering how you can map users to microservices if User entity is just in gateway. what is the right approach to do so?
Thanks

[2020-02-14 17:04] Tonterias commented on #11249
Thanks @SudharakaP

I am considering which email method should I use for confirming registration (and other email needs), now that it is working on GAE:

1.- Gmail account
2.- The Mail API Authorized Senders (I understand that is an option)
3.- SendInBlue services

I'm considering best the easiest one to setup, then pricing and finally scalability.

[2020-02-14 17:39] SudharakaP commented on #11249
@Tonterias : I have only configured Gmail and it works well in my opinion. Please refer to https://www.jhipster.tech/tips/011_tip_configuring_email_in_jhipster.html#configuring-email-with---gmail-and-more

Let me know if you have specific questions. :smile:

[2020-02-14 20:34] mshima commented on #9960
Is this still needed?

[2020-02-14 20:38] mshima opened #11316 "Blueprints lookup improvements"
##### **Overview of the issue**

- Current blueprint loading rely on yo to verify if the package is installed, which brings many unnecessary dependencies. ¹
- Uses yo to verify but loads only local and global blueprints, yo lookup at a lot of different folders. ²

##### **Motivation for or Use Case**

Make blueprints discovery more reliable.

##### **Reproduce the error**

##### **Related issues**

[2020-02-15 06:52] Tonterias commented on #11249
Thanks @SudharakaP

And between the three methods for Gmail accounts:
- allow less secure apps,
- app password or
- OAuth2 with Gmail
which one would you choose, following the same criteria?

I was thinking about using allow less secure apps, but then I thought that you might have a good reason for using one of the other two, so I prefer to ask.

[2020-02-15 07:09] vishal423 commented on #10824
Bounty claimed https://opencollective.com/generator-jhipster/expenses/13906/

[2020-02-15 08:09] #10824 closed

[2020-02-15 08:09] pascalgrimaud commented on #10824
just approuved, thanks @vishal423

[2020-02-15 13:57] backnotprop commented on #10887
Hey all, this is a legitimate issue. Is there a suggested solution or version rollback?

[2020-02-15 15:43] vishal423 commented on #11222
@pascalgrimaud, I have noticed another flow on same page (list view) making more than one backend call. Should we reopen this ticket?

[2020-02-15 16:08] pascalgrimaud commented on #11222
I would prefer to open a new ticket and link to this one, as there were a bounty on this ticket. So it won't confuse people and we could add a new bounty if it deserves.

[2020-02-15 16:41] SudharakaP commented on #11249
I would use app password or oauth2. Allowing less secure apps for the whole
Google account will give you warnings from Google from time to time and
also if the app is not being used for a while Google automatically turns
this off it seems (refer:
https://support.google.com/accounts/answer/6010255?hl=en)

Setting up an app password is easy and if you want a quick solution that's
what I recommend.

[2020-02-15 16:58] #8920 closed

[2020-02-15 17:30] vishal423 opened #11321 "react: Multiple issues on entity list page"
##### **Overview of the issue**

Few scenarios:

- [x] ~~Delete a record. Post successful operation, you should see two backend calls being made to fetch list page records.~~  Done in #11322
  - http://localhost:8080/api/operations?page=0&size=20&sort=id,asc&cacheBuster=1581786413254
  - http://localhost:8080/api/operations?page=0&size=20&sort=id,asc&cacheBuster=1581786413260
- [x] ~~Update a reco

[2020-02-15 17:38] vishal423 commented on #11222
done. I think new issues could be due to changes made as part of this ticket. To limit further issues, it would be good to review generated code especially the `useEffect` hook code in the entity classes.

[2020-02-15 18:49] qmonmert commented on #11321
@vishal423 I try to fix the first two bullets points with #11322
It's not easy :(
If you have an idea for elasticsearch bug ...

[2020-02-15 20:49] oerd opened #11323 "Make TextFormat i18n-aware"
* **Overview of the request**

Improve `TextFormat` to make use of current locale information.

* **Motivation for or Use Case**

When using TextFormat to format dates/times information about i18n context is not passed to MomentJS (or NumeralJS). This can be tested when trying to display a month or weekday formatted in their long or short form. For example, the following JSX element:

    <TextFor

[2020-02-15 20:56] oerd commented on #11323
Sorry, this was supposed to be opened against `react-jhipster`, not `generator-jhipster`.

[2020-02-15 20:56] #11323 closed

[2020-02-16 05:45] huytmb opened #11324 "Kubernetes: Ingress extensions/v1beta1 -> networking.k8s.io/v1beta1"
##### **Overview of the issue**

Resource Ingress is deprecated in Kubernetes API `extensions/v1beta1`

Referencing PR: https://github.com/kubernetes/kubernetes/pull/74057

In `generator-constants.js` of generator:
https://github.com/jhipster/generator-jhipster/blob/448d48ec9df570ee4c68f46050e23c0c936b49b7/generators/generator-constants.js#L80

##### **Suggest a Fix**

##### **JHipster Version(s)*

[2020-02-16 10:44] pascalgrimaud commented on #11324
closed by https://github.com/jhipster/generator-jhipster/pull/11325

[2020-02-16 10:44] #11324 closed

[2020-02-16 16:18] pascalgrimaud commented on #11129
About the Ops part, in fact, nothing is done today: Kubernetes, Openshift, AWS, etc...
It's only done with Docker-Compose.

So I'm reducing the bounty to 100$ to be fair -> if someone want to work on the Ops part, let me know and let's open a new ticket for that

[2020-02-16 17:13] pascalgrimaud commented on #11129
I'm closing this as both PR have been merged.
I'll update the documentation about this

[2020-02-16 17:13] #11129 closed

[2020-02-16 17:48] mahaouchi9 opened #11326 "there is no MySql, PostgreSql... database option when trying to generate Reactive application"
Hello
this is my first time using Jhipster and I have an issue with the database options offered by jhipster.

actually, i want to use an SQL DB but i cant find it in the [options:]

![Capture](https://user-images.githubusercontent.com/29981856/74609709-eb652600-50ec-11ea-93a7-89c77d686a87.PNG)

Maybe it because of something related to machine, but since I'm new to jhipster I can't figure it out.

[2020-02-16 17:51] qmonmert commented on #11321
@vishal423 I don't see the bug with elastisearch
On my PR #11322 there is call when I click search icon
![image](https://user-images.githubusercontent.com/9989211/74609735-1f404b80-50ed-11ea-9d33-414ffe0af8f9.png)
I see the message "No records found" but it's the same on Angular

[2020-02-16 18:16] mshima commented on #11326
They are disabled for reactive:
https://github.com/jhipster/generator-jhipster/blob/cdb9ef09d7fb821402504ebc1c578c82a9026a93/generators/server/prompts.js#L164-L169

[2020-02-16 18:39] pascalgrimaud commented on #11129
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/13928

[2020-02-16 18:55] pascalgrimaud commented on #11326
As mentionned by @mshima, Reactive option is only for NoSQL database, so it's normal.
I'm closing this as it's not a bug

[2020-02-16 18:55] #11326 closed

[2020-02-16 18:58] mahaouchi9 commented on #11326
Ok thank you for the response!

[2020-02-16 19:54] cbornet commented on #11326
I've started working on r2dbc. You can see the progress here : https://github.com/cbornet/jhipster-r2dbc

[2020-02-17 01:46] SudharakaP commented on #11124
I investigated [flatpickr](https://flatpickr.js.org/) a bit more and it doesn't seem to respect bootstrap unfortunately and therefore will look a bit odd with our other bootstrap components. The [ng-bootstrap datepicker](https://ng-bootstrap.github.io/#/components/datepicker/overview) mentioned above is only a date-picker, and it doesn't have a time component.

Therefore I would leave this as is f

[2020-02-17 01:46] #11124 closed

[2020-02-17 03:14] vishal423 commented on #11321
@qmonmert, this is really strange. With `Bank Accounts` entity, I can also see the backend API call being made (on current master) and the correct response shown on the UI (you might be observing no records response due to non-indexing of `faker` records in the elastic search. To verify, you can manually create a new record and then search on that). However, on this entity (on current master), I n

[2020-02-17 07:41] pascalgrimaud commented on #11270
As you said, it works fine locally, but fails when you deploy to ec2.

So that's why I don't think it's a JHipster bug as it would fail locally too. It's something related to your environnement in EC2. You should ask help to StackOverFlow instead.

I'm closing this as it will be impossible for us to reproduce your issue, unless, you have full steps to do it locally.

[2020-02-17 07:41] #11270 closed

[2020-02-17 07:44] pascalgrimaud commented on #11315
Not sure I understand well the issue, as you didn't provide enough information...
Then, maybe you seem to know how to improve this part, would you like to contribute and provide a PR ?

[2020-02-17 07:47] pascalgrimaud commented on #11307
I'm closing this as I think it comes from the Sonar version.
Feel free to provide more information to reproduce the problem locally

[2020-02-17 07:47] #11307 closed

[2020-02-17 10:45] Joniator opened #11330 "Bad readability for swagger-ui with dark themes"
##### **Overview of the issue**

If using a dark theme, the readability of swagger is almost zero. The dark font color blends with the background color.

##### **Motivation for or Use Case**

This breaks swagger-ui for any dark theme, the text blends with the background.

##### **Reproduce the error**

- Create new project
- Use a dark theme (e.g. darky)
- Log in as admin
- Navigate to the api doc

[2020-02-17 11:01] sendhilmohan commented on #6116
Same SSLHandshakeException issue for me. Am setting the proxies as explained in https://www.jhipster.tech/configuring-a-corporate-proxy/ page
Still the same issue. Any idea, can you please advise?

Exception in thread "main" javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorExcept
ion: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable

[2020-02-17 12:06] geyuqiu commented on #11271
btw. @murdos what I meant was more or less introduced in https://www.innoq.com/de/articles/2020/02/spring-boot-magie/
 but I didn't find the english version of the article. And I tried that with jhipster. But I didn't get quite far and currently included the lines above in pom.xml.

[2020-02-17 15:33] Tonterias commented on #11249
Hi @SudharakaP

I am getting this error on 6.7.1 when I do jhipster gae:

[2020-02-17 16:15] ksilz commented on #11255
@wmarques Not sure if you're aware: `ng-bootstrap` also needs an [upgrade for Angular 9](https://github.com/ng-bootstrap/ng-bootstrap/issues/3537).

[2020-02-17 20:06] mraible opened #11332 "Administration > Gateway doesn't load when using Angular"
##### **Overview of the issue**

The gateway's Administration > Gateway doesn't load when using microservices and Angular. It works fine with React. There's a stack trace in the console.

[code]

![Screen Shot 2020-02-17 at 1 02 59 PM](https://user-images.githubusercontent.com/17892/74683515-6fb7b780-5186-11ea-9ab9-be2d9649ef1a.png)

##### **Motivation for or Use Case**

Administration screens sho

[2020-02-17 20:16] geyuqiu opened #11333 "[spring security] prevent brute force auth"
##### **Overview of the feature request**
Has there been a discussion about blocking failed password attempts in general ?
Simply put – we'll keep a record of the number of failed attempts (originating from a single IP address). If that particular IP goes over a set number of requests – it will be blocked for ever (24 hours).
more information:
[prevent brute force auth with spring security](https:

[2020-02-18 07:45] pascalgrimaud commented on #11333
it's an interesting feature to have in real project, but not for JHipster as it goes too far. It would be complex to implement as you need to take care about:
- security option
- cache option

Maybe if you think it's must have, you can start to implement it inside a JHipster module. Then, if it becomes really popular, we can reconsider to include it directly in generator-jhipster.

[2020-02-18 08:30] vishal423 commented on #11245
Now that [Keycloak](https://www.keycloak.org/2020/02/keycloak-900-released.html) `v9` is released, I will try again over weekend.

[2020-02-18 08:35] seraphinandrieux commented on #11146
Hello @murdos , I'm working on it :)

[2020-02-18 09:18] Tonterias commented on #11249
Hi @SudharakaP

I deployed to GAE, but I got an error which I'm not sure if it is a bug (it looks to me like one).

Can you take a look at it, please?

    "textPayload": "org.springframework.dao.InvalidDataAccessResourceUsageException: could not extract ResultSet; SQL [n/a]; nested exception is org.hibernate.exception.SQLGrammarException: could not extract ResultSet\n\tat Caused by: org.hibernate

[2020-02-18 11:42] danielpetisme commented on #9960
The issue is more a discussion point.
I don't know how to move on this one.

[2020-02-18 13:44] SudharakaP commented on #11249
What's the initial error you got when you created the entity ? Also may I
know how you created the entity ? This doesn't seem related to GAE but
rather something gone wrong with your database. I suggest starting with a
clean database or a new project and when you get the first error post it
here or more appropriately gitter to discuss more. After you've manually
changed the database, it will be di

[2020-02-18 15:52] mshima commented on #9960
@danielpetisme I think this is the way to go: https://github.com/jhipster/generator-jhipster/pull/11337

[2020-02-18 18:23] Tonterias commented on #11249
Thanks @SudharakaP

I have no idea about the initial error. I remember that I created the record manually. I have problem creating a new project with a clean service and database, but let me try again. What is you gitter nickname?

Thanks again.

[2020-02-18 18:57] SudharakaP commented on #11249
@Tonterias : It's likely that since you manually changed/modified the database, hibernate mappings got messed up. The point of a hibernate is that you don't have to manually write SQL queries. 😄

[2020-02-18 20:12] gordolio commented on #10003
For those coming here looking for how this is done, this is the command...
`heroku addons:create bonsai:staging -a heroku-app-name --version=6.5.4`

[2020-02-19 01:06] Sergiocr16 opened #11339 "Error deploying to heroku with simple .jh model"
I create a project using Jhipster 6.4.1 and import this .jh model to it.

When I deployed to heroku it crashes. Sometimes it works sometimes it doesn´t.

Here it is the model used

[code]

It should not crash since I am just using this model and adding it using jhipster import-jdl my_file1.jdl
The error only occurs after I import the .jdl file and create the entities.
The error I keep getting when

[2020-02-19 01:20] SudharakaP opened #11340 "Deprecation Warning for Triage GitHub Action"
##### **Overview of the issue**

Currently the Triage Issues GitHub Action has a deprecation warning;

[code]
We need to update the `github-script@0.3.0` and alter the script to the new rest api. :smile:

##### **Motivation for or Use Case**

Get rid of the deprecation warning and update the script. :smile:

##### **Reproduce the error**

Take a look at any of the recent Triage action runs such as

[2020-02-19 05:24] #11340 closed

[2020-02-19 05:27] pascalgrimaud commented on #11339
we need to know what is the option you choose for your app too. Just use `jhipster info`

[2020-02-19 07:58] minashadkam opened #11342 "something"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [ ] Checking this box is mandatory (thi

[2020-02-19 07:58] #11342 closed

[2020-02-19 12:43] seraphinandrieux commented on #11199
Hello @DanielFran , I'm working on it :)

[2020-02-19 14:41] ajoysinhactc opened #11345 "npm install error for Jhipster CI-CD jenkins pipeline"
I am trying to use jhipster ci-cd to create Jenkins pipeline.

But when I am running the jenkins pipeline in Jenkins server, I am getting following error.

Note : My jenkins server is a Jenkins instance running on Ubuntu EC2 instance [ NOT DOCKERISED JENKINS ]

Attaching the Jenkinsfile for reference.

[Jenkinsfile.txt](https://github.com/jhipster/generator-jhipster/files/4225597/Jenkinsfile.txt)

[2020-02-19 14:43] Sergiocr16 commented on #11339
Yes, thank you.
The options I chose are the following:
-Monolithic application
-JWT authentication
-An SQL database (MySql)
-No cache
-Maven
-No additional technologies
-Angular
-No testing Framework
-No other generators from the JHipster Marketplace

[2020-02-19 17:26] gmarziou commented on #11345
@ajoysinhactc Please don't crosspost. https://stackoverflow.com/questions/60303245/npm-install-error-for-jhipster-ci-cd-jenkins-pipeline

[2020-02-19 17:30] #11345 closed

[2020-02-19 22:43] mraible commented on #7608
@cbornet I don't see Spring Cloud Gateway as one of the items in this issue's description. I have OAuth working with Spring Cloud Gateway in https://github.com/jhipster/generator-jhipster/pull/11223. I still need to add JWT support. Not sure if Consul is necessary since we're still in Alpha mode.

[2020-02-19 23:42] mraible commented on #7608
FYI... it seems like a reactive monolith doesn't pass `./mvnw verify`.

[code]

Here's my .yo-rc.json:

[code]

[2020-02-20 01:24] asgh-mh opened #11347 "Upgrade to Major version: ERROR! TypeError: Cannot read property 'map' of undefined"
##### **Overview of the issue**

I'm doing an upgrade from 5.8.2

##### **Reproduce the error**

Having the .yo-rc.json file in an empty director will reproduce the error.

##### **JHipster Version(s)**

Was 5.8.2, upgrading to 6.7.1

##### **JHipster configuration**

[code]

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-20 01:33] SudharakaP commented on #11347
@asgh-mh : Can I have some more information on how you encountered this error? So you have the project given by the `.yo-rc.json` file and then you upgraded it to v6.7.1 using `jhipster upgrade`?

[2020-02-20 01:38] asgh-mh commented on #11347
Yes, exactly. And when I did that I got that error. I then tried to figure out the problem and could not, but eventually figured out that simply having that `.yo-rc.json` file was enough to reproduce it so I hope you guys know what the problem is.

[2020-02-20 02:00] SudharakaP commented on #11347
Okay, thanks. I've recreated your error. The upgrade you are trying to do is across major versions spanning development done for more than a year. What I would suggest is first upgrade to v6.0.0, then upgrade to something like, v6.4.0 and then upgrade to v6.7.1. I didn't dive deeply on why the error occurs exactly; but this step by step upgrade works.

In our [upgrade page](https://www.jhipster.te

[2020-02-20 02:45] TonyLuo opened #11348 "com.boss.user.service.UserService#clearUserCaches cannot clear the redis cache"
##### **Overview of the issue**
com.boss.user.service.UserService#clearUserCaches cannot clear the redis cache. because user.getLogin() is "admin", but the key in redis hash is "\xFCKcom.boss.user.repository.UserRepository_findOneWithAuthoritiesByLogin_admin"
[code]
[code]
![image](https://user-images.githubusercontent.com/3250305/74896087-4a1cef00-53ce-11ea-8c95-78e941e98d58.png)

##### **Motivat

[2020-02-20 03:18] SudharakaP commented on #11348
@TonyLuo : Could you please give some more information on how to reproduce this error. Maybe fill the issue template by including the `.yo-rc.json` file and any entity configurations you've created. :smile:

[2020-02-20 03:44] TonyLuo commented on #11348
@SudharakaP FYI

INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-

[2020-02-20 05:51] asgh-mh commented on #11347
I tried your advice:

`jhipster upgrade --target-version 6.0.0`

[code]

[2020-02-20 06:17] pascalgrimaud commented on #11348
cc @Shaolans as he's the one who coded initially the Redis cache

[2020-02-20 06:47] SudharakaP commented on #11347
I had to also install generator v5.8.2 before doing this which I forgot to mention. So could you first do `npm install -g generator-jhipster@5.8.2` and then do `jhipster upgrade --targer-version 6.0.0` please ?

[2020-02-20 07:02] Shaolans commented on #11348
I will investigate ASAP !

[2020-02-20 07:34] pascalgrimaud commented on #11347
upgrading to a major version is really complex, as you probably added specific code, so it's completely normal that the upgrade doesn't work.

You need to do the upgrade manually, and check each new line of code

Not sure we can help much here.
@SudharakaP I let you close the ticket if you think there's nothing we can do here

[2020-02-20 09:02] SudharakaP commented on #11283
I've modified the code to keep the `area: triage` and `theme: undefined` labels and only remove `area: needs-reproduction`, `area: waiting for information` and all `status: *` labels for now. The implementation of renaming the status labels should be doable as as well as long as you guys think its worthwhile; just feel free to let me know. :smile:

[2020-02-20 09:05] billy93 opened #11349 "Search Function in nosql database (mongodb)"
I have already using jhipster 6.7.0 with mongodb nosql database, and i think it would be nice if the generator adding support for search functionality.

[2020-02-20 10:10] mshima commented on #11347
It’s requiring a
`"languages": []`
I will create a PR to this one.

[2020-02-20 10:39] distributev opened #11359 "Customize the layout of entities through a TypeScript @View annotation"
##### **Overview of the feature request**

Similar with the existing OpenXava's Java @view annotation

https://www.openxava.org/OpenXavaDoc/docs/view_en.html

JHipser generates a default user interface from the model.

In many simple cases this is enough, but sometimes it is necessary to model with precision the format of the user interface or view.

The TypeScript @view annotation could be used i

[2020-02-20 12:43] aydincaner commented on #8062
I got same errors with Gradle

[2020-02-20 12:50] wmarques commented on #11255
@ksilz Thanks, however I didn't have any issue with ng-bootstrap while upgrading.. Strange, I'll follow this!

[2020-02-20 12:57] aydincaner opened #11352 "Prod build fails"
##### **Overview of the issue**

I used gradle + spring and tried to

`./gradlew -Pprod -Pjar clean bootJar `

and also for **war** but it did not work. It gives

`> Task :webpack FAILED

[2020-02-20 13:34] SudharakaP commented on #8062
@aydincaner :

Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new/choose) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tr

[2020-02-20 14:28] geyuqiu opened #11353 "Avoid Code Duplication in @RequestMapping in [entityName]Resource.java"
##### **Overview of the feature request**
entity name should be in `@RequestMapping `in `[entityName]Resource.java`, in order to avoid code duplication of entity name in @GetMapping, @PostMapping, @PutMapping, @DeleteMapping etc.
[code]
instead of

[code]

##### **Motivation for or Use Case**

cleaner ?

##### **Related issues or PR**

don't know

-   [x] Checking this box is mandatory (this is ju

[2020-02-20 14:29] #11347 closed

[2020-02-20 14:30] pascalgrimaud commented on #11353
@geyuqiu : LGTM, would you like to contribute and provide a pull request for this plz ?

[2020-02-20 14:36] geyuqiu commented on #11353
@pascalgrimaud
do you have a link for best practice guide / acceptance criteria for pull requests regarding *.ejs ?

[2020-02-20 15:41] pmverma commented on #11353
@geyuqiu Quick links for you!
https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md
https://github.com/jhipster/generator-jhipster/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2020-02-20 15:45] pmverma commented on #11109
Closing this issue as this can't be fix and user is responsible for this.

[2020-02-20 15:45] #11109 closed

[2020-02-20 16:03] pmverma commented on #10726
Bounty claimed https://opencollective.com/generator-jhipster/expenses/14056

[2020-02-20 16:47] pmverma commented on #10981
@blacksmithbrew I tried with your provided info. But error did not occur.
Can you please confirm again so that we either close or further this issue?

[2020-02-20 16:51] pmverma commented on #10887
Hi @nuba , Would it be possible for you to follow this issue?
We also have a bug bounty on this issue 😄

[2020-02-20 17:18] nbaiocco opened #11356 "MS SQL dependency not found on maven central"
##### **Overview of the issue**

Jhipster 6.7.0 and 6.7.1 includes a dependency for Microsoft SQL Server apparently not existent on maven central:
`
<dependency>
	<groupId>com.microsoft.sqlserver</groupId>
	<artifactId>mssql-jdbc</artifactId>
</dependency>
`
(version <mssql-jdbc.version>8.1.1.jre8</mssql-jdbc.version> from jhipster-dependencies)

Produces this compile error:
**Could not find artif

[2020-02-20 18:33] #11146 closed

[2020-02-20 18:34] #11283 closed

[2020-02-20 18:35] #11199 closed

[2020-02-20 18:37] #11333 closed

[2020-02-20 19:35] #11203 closed

[2020-02-20 19:39] #11316 closed

[2020-02-20 19:44] pascalgrimaud commented on #11330
would you like to propose a solution with a PR @Joniator plz ?

[2020-02-20 21:02] SudharakaP commented on #11352
Have a feeling this might be a Windows specific error. I generated the project using the `.yo-rc.json` file you provided and ran `./gradlew -Pprod -Pjar clean bootJar` and it built successfully for me. Could you by any chance test this out on a Linux machine? Unfortunately I don't have a Windows machine to recreate this. 😢

[2020-02-20 21:20] pascalgrimaud commented on #10198
Thanks for the request, but as no work has been done since months, I'm closing this for lack of interest

[2020-02-20 21:28] pascalgrimaud commented on #10542
I never saw this message, and very few comment in this ticket, no complain... so I'm closing this

[2020-02-20 21:28] #10542 closed

[2020-02-20 21:31] pascalgrimaud commented on #10671
No work has been done since 4 months, so I suppose no one want to contribute to this ? Then, I'm closing this for lack of interest.
Feel free to contribute and maintain Circle CI if you like it.
If I remember well, I saw a module for that too...

[2020-02-20 21:33] pascalgrimaud commented on #10770
any progress / interest on this ?
who want to contribute ?

[2020-02-20 21:35] pascalgrimaud commented on #10774
what should we do for this ticket ?
maybe stay like this, and the end user can custom, according to the needs ?

[2020-02-20 21:38] pascalgrimaud commented on #10778
Opened for too long, and no comment on this.
Thanks for the request, feel free to provide a pull request if you think it's interesting to have. Don't forget the 3 fronts: Angular, React and Vue.js

For now, I'm closing this for lack of interest

[2020-02-20 21:38] #10778 closed

[2020-02-20 21:40] pascalgrimaud commented on #10859
any update on this @avdev4j or should I close this for lack of interest ?

[2020-02-20 21:42] pascalgrimaud commented on #10928
no more comment, so I'm closing this for lack of interest
Feel free to provide a PR if you want

[2020-02-20 21:42] #10928 closed

[2020-02-20 21:46] pascalgrimaud commented on #11075
Hard to advance on this ticket as it's too specific to your project.
We don't have any steps, no project for trying to reproduce. And I'm pretty sure it comes from the settings on Heroku.

So I'm closing this for now.
Feel free to provide project, all steps in details to prove it is a JHipster Bug

[2020-02-20 21:46] #11075 closed

[2020-02-20 21:48] geyuqiu opened #11357 "[*ResourceIT.java, liquibase, refactoring, enhancement, clean] reuse master.xml and fakedata in integration tests"
##### **Overview of the feature request**

reuse master.xml and fakedata in test

##### **Motivation for or Use Case**
**current situation:**

\- fakedata in xml format are not reused in test environment
\- instead fake data for integration tests are created in *ResourceIT.java. via methods `createUpdatedEntity `and `createEntity `
\- code duplication and not a best practice
\- currently getting f

[2020-02-20 21:51] pascalgrimaud commented on #11081
Thanks for your proposal.
But we provide simple configuration, the user needs to care about that, and ajust the security according to the needs of the project.

So I'm closing this as currently it works well.
Feel free to provide some documentation if you think it's needed

[2020-02-20 21:51] #11081 closed

[2020-02-20 21:54] pascalgrimaud commented on #11357
fake data is used only for dev, in local, not in other profile, because some users don't like this and don't want fake data

If you want to keep these data, you can use a specific profile + context, it should work well, or use the same way we did for inserting data for user.

[2020-02-20 22:00] pascalgrimaud commented on #11104
if I understand well, it should be fixed by https://github.com/jhipster/generator-jhipster/pull/11303
Feel free to comment if it's not the case so I can reopen

[2020-02-20 22:00] #11104 closed

[2020-02-20 22:05] pascalgrimaud commented on #11116
so how can we advance on this, as some of you want to keep it, some other want to remove...

hard to make all people happy: I think the best would be to document it, add some comments in code, add some information in readme, to explain how to disable

who would like to do it ?

[2020-02-20 22:06] pascalgrimaud commented on #11135
did you progress on this @cedricms ?
do you need help ?

[2020-02-20 22:07] pascalgrimaud commented on #11136
any interest on this ?
should we keep this opened, as we know we have many lib to upgrade for every new Spring Boot version

[2020-02-20 22:08] pascalgrimaud commented on #11178
so, what's the state of this ticket ?

[2020-02-20 22:13] pascalgrimaud commented on #11183
It's interesting to have but sadly, no comment on this ticket.

Anyway, I think it will be really complex to achieve this, as it can be done only in major version.

@mohamedzaki90 : if you think it's a must have, you need to take the lead on this.
The steps would be:
- provide an example of code in GitHub
- then, start to contribute in the 3 fronts, Angular, React, Vue.js
- don't forget the other

[2020-02-20 22:14] pascalgrimaud commented on #11186
any progress on this ?

[2020-02-20 22:15] asgh-mh commented on #11347
I can confirm that adding `"languages": []` fixes this.

Re: #11350 I guess it's not practical to backport this to prior releases? (It's not really a big deal, I can just add it to the `.yo-rc.json` file.)

[2020-02-20 22:15] pascalgrimaud commented on #11198
We have very few feedback for Traefik, so any interest to maintain and upgrade it ?

[2020-02-20 22:18] pascalgrimaud commented on #11215
fixed by https://github.com/jhipster/generator-jhipster/pull/11218

[2020-02-20 22:18] #11215 closed

[2020-02-20 22:20] pascalgrimaud commented on #11257
we could do it, but only for v7
I'm not against this

[2020-02-20 22:21] mshima commented on #9960
This is doable.
One problem is the needles that uses generator-constants directly:
https://github.com/search?q=generator-constants+repo%3Ajhipster%2Fgenerator-jhipster+path%3A%2Fgenerators%2F&type=Code
Another is to set maven/gradle to used the custom folder.
Or we should close as lack of interest.

[2020-02-20 22:24] mshima commented on #11183
I really don't know why I set as 7.x

[2020-02-20 22:29] cbornet commented on #11135
Can't we just anonymize the user instead of deleting it ? IIRC anonymized data don't count as personal data anymore. Could be simple: rename user, email, login, etc... And it solves the issue with relationships. Also as for audits, I think the IP address can be considered as data that can identify a user and thus has to be removed as well...

[2020-02-20 22:30] pascalgrimaud commented on #11135
good idea @cbornet

[2020-02-20 22:32] pascalgrimaud commented on #11357
Forget my last comment, I though you want to use fake data in other environment like integration, pre-production etc...

[2020-02-20 22:38] pascalgrimaud commented on #11183
@mshima : because it required a lot of work ? :p

[2020-02-20 22:39] pascalgrimaud commented on #11349
The search function already exists with MongoDB + Elasticsearch.
So for me, it's already done.

[2020-02-20 22:39] #11349 closed

[2020-02-20 22:49] mshima commented on #11183
@pascalgrimaud @mohamedzaki90

[2020-02-20 22:50] pascalgrimaud commented on #11357
I didn't try this solution, but could you try this to add `faker` to liquibase context in application.yml file from test plz ?

[2020-02-20 22:51] mshima commented on #11183
Didn’t mean to closed 🤦‍♂ .
@pascalgrimaud I have remembered.
@mohamedzaki90 set related to https://github.com/jhipster/generator-jhipster/issues/10958

[2020-02-20 22:57] pascalgrimaud commented on #11357
Just tried it and I confirm it work.
You can apply this diff:

[code]

[2020-02-20 22:57] #11357 closed

[2020-02-20 23:01] pascalgrimaud commented on #11352
I saw you used Vue.js 1.5.0
I applied and did a release of Vue.js blueprint v1.6.0 today which contains this fix:
https://github.com/jhipster/jhipster-vuejs/pull/560/files

You should give a try, I'm pretty sure it will fix your packaging issue.
So that's why I'm closing this.
Feel free to tell me if it doesn't work

[2020-02-20 23:01] #11352 closed

[2020-02-20 23:11] pascalgrimaud commented on #11356
Thanks for reporting this.
Indead, the jhipster dependencies 3.0.4 uses:

But since few days, we already upgrade it:
- https://github.com/jhipster/jhipster/commit/382ff7d7211d00351de62fb28ca298c514d5fffe
- https://github.com/jhipster/jhipster/commit/1853f51dc10cdb6d43a4496d1ca3903842a0058b

So it's already fixed and will be in the next release

[2020-02-20 23:11] #11356 closed

[2020-02-21 06:19] pascalgrimaud commented on #9960
@mshima : you're our expert on the blueprint part, so you know better what we should do here :)

[2020-02-21 07:08] SudharakaP commented on #11178
@pascalgrimaud : It's in my to-do list. Could we wait a few days more ? :smile:

[2020-02-21 07:28] pascalgrimaud commented on #11178
of course, no problem :)

[2020-02-21 07:35] pascalgrimaud commented on #10859
partially fixed by https://github.com/jhipster/jhipster.github.io/pull/898 : the doc can still be improved but it's better than nothing

[2020-02-21 07:35] #10859 closed

[2020-02-21 07:42] pascalgrimaud commented on #11274
who would like to contribute and provide a fix for this ?

[2020-02-21 07:43] avdev4j commented on #10859
@atomfrede as I remember you know gradle a bit, isn't it ? I did some tests but generated files are still excluded from the source folder. Have you any idea how to, via a command, update the project setting ?

We should add a gradle section to the doc ;)

[2020-02-21 07:45] pascalgrimaud commented on #10888
Thanks for reporting this @sniffertine : would you like to contribute and provide a PR ?

[2020-02-21 07:52] atomfrede commented on #10859
I didn't follow this issue well, but at least for the mapstruct files I usually have to do nothing (in idea). You talk about openapi generator files right? Can have a look. I know for maven it really depends where they are generated otherwise idea will forget it every time.

[2020-02-21 07:53] pascalgrimaud commented on #9822
@atomfrede : I know you work on Neo4j support right now, but do you plan to achieve this ticket ?

[2020-02-21 08:01] atomfrede commented on #9822
Yes, I have a branch ready with the key generator for the server side library, so we can integrate it like in the sample repo with less generated code.

[2020-02-21 08:16] cbornet commented on #11178
Is there really something to do ? I think ByteBuffer (blob) and ZonedDatetime should be supported for Cassandra.

[2020-02-21 08:53] SudharakaP commented on #11116
@pascalgrimaud : Done. Let me know if you see any issues :smile:

[2020-02-21 08:54] pascalgrimaud commented on #11255
I'm adding a bounty on this as it's important to have in the next release and it's more work than expected

[2020-02-21 08:58] #11116 closed

[2020-02-21 09:15] MathieuAA commented on #11359
@distributev For me, the workflow should be:
  - support more than one UI in the generator
  - **not be able to choose between them in the Q&A**, so that it's a JDL-only feature (I'd hate to have more questions)
  - choose between UIs in the JDL with the option syntaxes (annotations or regular options)

[2020-02-21 10:04] andreasfranz opened #11361 "OAuth realms roles and client roles do not work together"
##### **Overview of the issue**

In our setup we use Keycloak as SSO server for OAuth. If you use realm roles together with client roles the JHipster application is unable to obtain the client roles

##### **Motivation for or Use Case**

A combination of realm and client roles should be possible since the are just roles with different scope.

##### **Reproduce the error**

Configure both realm and

[2020-02-21 11:02] distributev commented on #11359
I believe this should come after both JDL and after the existing code generator. Once the code is generated people will have this option as a TypeScript annotation or another way of providing this layout information dynamically and ideally this will work cross angular, vuejs and react frameworks (it should be possible since angular, vuejs and react don't care of the order in which the html element

[2020-02-21 11:28] geyuqiu opened #11363 "Introduce GIVEN, WHEN, THEN in tests"
##### **Overview of the feature request**

there are couple of comments in integration tests in java.
But there is no general structure, how they are ordered.
However, a comment sometimes "lies" because code is changed easily and comments often live longer,. Code does not lie. `Given, when, then` pattern normally does not lie.
get rid of some trivial comments like
[code]

keep intelligent comments

[2020-02-21 11:51] geyuqiu opened #11364 "Change Signature of Test Method createUpdatedEntity"
##### **Overview of the feature request**
delete param `entitymanager `in `createUpdatedEntity `method, because it is never used
[code]

##### **Motivation for or Use Case**

##### **Related issues or PR**

no idea

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-21 11:55] geyuqiu commented on #11357
yeah, this is working for me already, that is why I wrote /src/TEST

[2020-02-21 11:57] geyuqiu commented on #11357
@pascalgrimaud Just a general suggestion from me to use faker data in tests, because tests against a empty db is somehow not production like, because a prod db will mostly likely have data.

[2020-02-21 12:19] mshima commented on #11364
@geyuqiu, you could start providing PRs.
Is quite easy.
Ex:
- go to https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
- Click on the pencil icon (upper right)
- Edit the file.
- Propose the changes. It will create a new repository/branch on your user and create a PR.

This will really be helpful for changes

[2020-02-21 12:32] gmarziou commented on #11363
It could be also an opportunity to promote the use of JUnit 5's `@DisplayName`

[2020-02-21 13:05] pascalgrimaud commented on #11363
Yes, feel free to contribute and improve this part

[2020-02-21 13:14] mraible commented on #11361
This seems like a Keycloak specific issue. We like to keep our OAuth support generic do it works with all providers.

[2020-02-21 13:16] aydincaner commented on #9829
I tried to change contezxt pth on webpack but still same error

Wars not working but jars are working:

https://stackoverflow.com/questions/60338181/jhipster-spring-angular-jar-working-but-not-war-working

[2020-02-21 13:18] pascalgrimaud commented on #9829
@aydincaner :  I think you're right, I saw this few weeks ago. Could you open a new specific ticket for this, with all details to reproduce plz ?

[2020-02-21 13:29] aydincaner opened #11365 "WARs are not executed on Tomcat while jars are working"
##### **Overview of the issue**

I export as war and when i try to remote machine tomcat, it gives error.

##### **Motivation for or Use Case**

I cant deploy to tomcat.

##### **Reproduce the error**

1- Use jhipster to generate spring + angular project with gradle
2- Export as war with that command:

` ./gradlew -Pwar clean bootWar`

because

`./gradlew -Pprod -Pwar clean bootWar`

gives error:

[2020-02-21 13:56] geyuqiu opened #11366 "Reorder Entity Crud Components Folder Structure"
##### **Overview of the feature request**

suggested generated Project structure

[code]

current generated Project structure

[code]

##### **Motivation for or Use Case**

too much files in 1 directory ?

##### **Related issues or PR**
no idea
-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-21 14:35] gmarziou commented on #11365
What are these 2 characters at the end of your gradle command? It seems to be the reason why your build fails:

Looks like character encoding issue or copy/pasting error.
Have you tried typing manually the command?

[2020-02-21 14:47] mraible commented on #11366
I'd rather have all the files in one directory. If you're manually navigating from the command line or in an IDE, it's easier to go into one directory. Personally, I like to use Command + Shift + N in IntelliJ to find files by name.

[2020-02-21 14:56] aydincaner commented on #11365
@gmarziou  i edited question. And answers to your questions.

For **` ./gradlew **:

`$ ./gradlew

        ??? ???   ??? ????????? ????????   ??????? ????????? ????????? ????????
        ??? ???   ??? ????????? ????????? ???????? ????????? ????????? ?????????
        ??? ?????????    ???    ????????? ???????     ???    ???????   ?????????
  ???   ??? ?????????    ???    ????????   ???????    ???

[2020-02-21 15:05] gmarziou commented on #11365
https://stackoverflow.com/questions/60338181/jhipster-spring-angular-jar-working-but-not-war-working

[2020-02-21 15:08] aydincaner commented on #11365
@gmarziou it is my question. And same errors :(

[2020-02-21 15:09] gmarziou commented on #11365
Yes and cross-posting is a bad practice, it just makes it more difficult to help you.

[2020-02-21 15:28] pascalgrimaud commented on #11365
Here what I know, from my recent tests:
- Maven + War (using java -jar *.warr) -> KO
- Maven + War + Tomcat -> KO
- Gradle + War -> OK
- Gradle + War + Tomcat -> KO
That's why it's disabled in our CI currently (except for Gradle)

Then, I already discussed with @PierreBesson about it, and I think it's time for removing War packaging.
It requires too much effort to maintain it, for nothing.
It's br

[2020-02-21 15:36] mshima commented on #9960
@pascalgrimaud one benefit is to build more then one client toolkit (angular/react/vuejs) in the same project.
- Easier to evaluate toolkits.
- Easier to keep feature parity.
- Desktop/mobile toolkits.

This isn’t difficult, but I am currently lacking of motivation. :p

I will implement it, this will load a kind of a 'config file' from the blueprint.

[2020-02-21 15:38] pascalgrimaud commented on #9960
@mshima : you already did an amazing work on blueprint recently, so I totally understand. So for me, it's not a blocking issue as in blueprint or module, we could do what we want !

[2020-02-21 16:35] qmonmert commented on #11321
@vishal423 I fix the fact that _each character typed into the search box_
But for entities like `Test Infinite Scrolls `and `Operation`, I think that the behaviour is normal because when you compare the code of `entity.tsx.ejs` before and after hooks it's the same :

**Before**
`
<%_ if (searchEngine === 'elasticsearch') { _%>
  search = () => {
    if (this.state.search) {
      <%_ if (paginatio

[2020-02-21 16:41] geyuqiu commented on #11365
Maven + war (jhipster version 6.5.1) + tomcat
 worked for me once, but then I switched to jar

[2020-02-21 16:55] SudharakaP commented on #11366
@geyuqiu : Hi geyuqiu 😄 Just to note that I've renamed the title of your issue. You probably don't need to use tags such as `[folder structure, angular, enhancement]` in the title as we use [GitHub labels](https://help.github.com/en/github/managing-your-work-on-github/about-labels) anyways.

[2020-02-21 17:06] SudharakaP commented on #11364
@geyuqiu : Also just to add to what mshima said, we also have a contribution guidelines document at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md. You will find all the information that is necessary to make contributions to the project there. If you have any doubts feel free to ask in out Gitter Channel; https://gitter.im/jhipster/generator-jhipster 😄

[2020-02-21 19:16] murdos commented on #11364
In fact this parameter is used when your entity has required relationships with other entities. And since the templates that generates the code that calls this method can't know it the parameter will be used, it always provides it.

BTW @geyuqiu please provide more context and information when you create issue (jhipster info, JDL used, ...) because it's often an headache to understand what you're

[2020-02-21 19:29] SudharakaP commented on #11364
@geyuqiu : Can't agree more on what @murdos  said. We are quite happy to incorporate your suggestions but I am also having a hard time understanding what you are proposing sometimes. So please complete the issue/bug templates as much as you could 😄

[2020-02-22 07:59] pascalgrimaud commented on #11366
It needs to be discussed before doing something

[2020-02-22 08:21] pascalgrimaud commented on #9960
I'm adding a 1st bounty on this as I saw the amount of work to achieve this.
If you think it's not enough, just tell me @mshima and I will increase it.

[2020-02-22 09:00] pascalgrimaud commented on #9967
@atomfrede : don't forget to update the jhipster-online for the next version too.

Then, I'll need you @PierreBesson to upgrade the jhipster-online. It was not updated since months... I only used `npm install -g generator-jhipster` to upgrade the version of the generator, but not jhipster-online itself

[2020-02-22 09:09] atomfrede commented on #9967
Good point would have totally forgotten about it.

[2020-02-22 10:47] Joniator commented on #11330
I did, but I am confused as to why the pipeline is still failing.

First was clear, there were 2 tests that failed (I didn't notice since on my machine 200+ tests fail ootb), but I managed to fix them.

Now it fails at `React / react-maven-psql-es-noi18n-mapsid` and I have no idea as to why or how I can even reproduce this locally.

[2020-02-22 10:47] mshima commented on #11366
Is not a good argument to keep it open.
There is 2 rejection at least, mine included.
Closing for now.

[2020-02-22 10:47] #11366 closed

[2020-02-22 10:52] mshima commented on #11330
This is normal.
React e2e fails sometimes.
I’ve triggered a rebuild.

[2020-02-22 11:31] mshima commented on #11330
Looks like github messed up. 🤦‍♂
Second time I see every react test fail like this.
@Joniator can you recreate last commit and force push?
I think this is the only way to clear github error. 😒

[2020-02-22 13:40] vrijmetse opened #11372 "The search box is not working when I use React JS + Infinite Scroll + Elasticsearch."
##### **Overview of the issue**

The search box is not working when I use React JS + Infinite Scroll + Elasticsearh. If I switched from infinite scroll to pagination the error goes away and searchbox is working.

It says `Each child in a list should have a unique "key" prop.` during page load in javascript console.

[code]
##### **Motivation for or Use Case**

I expect this to work out of the box

[2020-02-22 16:43] mraible commented on #7608
@jhipster/developers Spring Cloud Gateway integration seems to be [good to go](https://github.com/jhipster/generator-jhipster/pull/11223)! Should I merge?

I kept the Zuul code for Zuul for non-reactive apps. This means that we're just adding a feature, no breaking changes.

[2020-02-22 17:19] vishal423 opened #11373 "Monolithic application generation with eureka does not present an option to chose authentication type; always defaults to JWT"
##### **Overview of the issue**
Monolithic application generation with eureka does not present an option to chose authentication type; always defaults to JWT

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
master

##### **JHipster configuration**
INFO! Using JHipster version installed glo

[2020-02-22 17:24] vishal423 commented on #11245
I did a quick check and the issue observed with the `v8.0.2` is fixed in the `v9.0`. I will soon raise a PR.

[2020-02-22 18:19] mshima commented on #11373
There is a specific conditional.
https://github.com/jhipster/generator-jhipster/blob/80de24a7df4000a29b0a88653df176c06612431b/generators/server/prompts.js#L108

[2020-02-22 18:29] vishal423 commented on #11373
I think it used to work before, but not quite sure. If this combination is not supported/valid, then, we can close the issue.

[2020-02-22 18:31] mshima commented on #11373
It’s old.
Maybe it works now.
I have no clue.

[2020-02-22 21:16] TLBSoftware commented on #11225
@pascalgrimaud I ended up running into this again in another project (ionic v4) and found this stack overflow answer to fix the issue https://stackoverflow.com/a/47401866/6181337

[2020-02-22 21:25] mshima commented on #9960
@pascalgrimaud it’s done.

[2020-02-23 03:57] mshima commented on #10575
@pascalgrimaud I have plans to separate react/angular generators.
So if you agree I will make almost every necessary change to vuejs blueprint in preparation for JHipster 7.
If it works, it will be just folder move for it to be integrated.
What do you think?

[2020-02-23 07:37] pascalgrimaud commented on #10575
@mshima : just wait a few days, I'll discuss with @nonomoho as he already started this.
The main issue is not to move the folder, but to merge the git history, to keep our contributors on Vue.js

[2020-02-23 11:22] vishal423 commented on #11372
I think we can close the issue as a duplicate covered in the #11321

[2020-02-23 11:28] vishal423 commented on #11321
@qmonmert, I am not sure if the issue is a regression with `hooks`, as I rarely use react. @deepu105 do you have an idea over issues identified in this ticket as I guess you originally implemented most of it.

[2020-02-23 11:43] #11372 closed

[2020-02-23 12:43] mshima commented on #10575
Just for information, vuejs structure would change from:
generators
- client
- common
- entity-client
- languages

To:
generators
- client-vue
- entity-client-vue

[2020-02-23 15:37] deepu105 commented on #11321
I don't remember having such issues before the migration to hooks. So seems like actions are being triggered from multiple rendering. Would need closer look and some debugging

[2020-02-23 19:33] pascalgrimaud commented on #10575
@mshima : sorry, I don't understand well :)
In our generator-jhipster, we already have:
- generators
    - client
        - templates
            - angular
            - react

In vue.js blueprint, we have
- generators
    - clients
        - templates
            - vue

So I don't understand why you want to move:
- generators
    - client-vue

[2020-02-23 19:38] #11245 closed

[2020-02-23 20:45] pascalgrimaud commented on #10682
@codecholeric : since your PR https://github.com/jhipster/generator-jhipster/pull/11050
the config nodatabase (jwt and session) didn't pass. It works for OAuth2.
Can you have a look plz ?
See https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=23&_a=summary

[2020-02-23 21:02] mshima commented on #10575
For jhipster 7 I was thinking to propose the following structure:
- generators
    - client
    - client-angular
        - templates
    - client-react
        - templates
    - client-vue
        - templates

Same for entity:
- generators
    - entity
    - entity-client-angular
        - templates
    - entity-client-react
        - templates
    - entity-client-vue
        - templates

I see so

[2020-02-24 04:28] vw98075 opened #11377 "Asking for UserRepository which doesn't exist"
##### **Overview of the issue**

In a microservice with an optin of memcached as the following

Yes, with Memcached (distributed cache) - Warning, when using an SQL database, this will disable
 the Hibernate 2nd level cache!

##### **Reproduce the error**
The CacheConfiguration, somehow, needs a UserRepository while there isn't a User entity in my JDL file. When I run the build command
[code]
I ge

[2020-02-24 04:35] mraible commented on #11377
AFAIK, `oauth2` is the only authentication type that supports having a `User` in a microservice application.

[2020-02-24 05:29] SudharakaP commented on #11377
I've reproduced this issue. You can also use a simpler configuration such as below to reproduce this issue. If anyone has some time to look at it please go ahead as I'll be working on some other issues before coming to this. :smile:

[code]

[2020-02-24 06:43] pascalgrimaud commented on #11321
@vishal423 : just added a bounty on this, as you suggested it in other ticket. I'll let you lead this part :)
I'm becoming crazy by restarting React builds all the time

[2020-02-24 06:52] vishal423 commented on #11321
thanks @pascalgrimaud I can try to help on the solution testing :bug:  We now just need a motivated volunteer who can take it to closure.

[2020-02-24 06:54] SudharakaP commented on #11178
@cbornet : The problem is twofold.

1) Yes I do agree that [Blob is a supported data type in Cassandra](https://cassandra.apache.org/doc/latest/cql/types.html). However it seems to me that [we don't support Blobs in Cassandra](https://github.com/jhipster/jhipster-core/blob/dfddafab269134bea94081ffc7ac512430963d1a/lib/core/jhipster/field_types.js#L77-L88) for the moment.

2) Again for ZonedDateTime

[2020-02-24 07:40] pascalgrimaud commented on #10575
@mshima : I'm fine with this. But don't start the work too early, just wait the official launch of v7 branch... we should discuss about it in our Mailing List

[2020-02-24 07:43] pascalgrimaud commented on #11178
@SudharakaP : lol, I think you can use these type by using directly the jhipster entity subgen. I coded the blob part 3 years ago and it has never been included in jdl... it confirms we have very very few Cassandra users

[2020-02-24 08:29] MathieuAA commented on #11178
A release of JCore is necessary. There's no way to avoid that yet.

[2020-02-24 08:47] caneraydinbey commented on #11365
@geyuqiu jar with gradle worked also in tomcat?

[2020-02-24 09:21] Joniator commented on #11330
I recreated the commit, lets hope for the best

[2020-02-24 09:23] caneraydinbey commented on #11365
@geyuqiu jar with gradle worked also in tomcat?

@pascalgrimaud  i dont think i can do that PR. I need too much time

Ajd i am putting two screenshots. They seem maybe helpful. The error in the console and in the network tab.

![Annotation 2020-02-24 121554](https://user-images.githubusercontent.com/17731063/75140671-6a1b1e00-5700-11ea-94d2-6adae067b053.png)

![Annotation 2020-02-24 121821](https:

[2020-02-24 09:28] deepu105 commented on #10575
I don't see how the proposed structure reduces conditionals and help in
modularity. May be you need to write a clear proposal first so we are all
on the same page. I switched to current structure from something similar to
you proposed to reduce duplication and increase modularity originally

On Mon, 24 Feb 2020, 8:40 am Pascal Grimaud, <notifications@github.com>
wrote:

[2020-02-24 09:32] andreasfranz commented on #11361
@mraible in which way does this break any generic OAuth provider?

[2020-02-24 10:23] xetys commented on #11186
I will do this asap, just want to spend some time on the authority feature first, as it hangs around for some time already...this one is quick

[2020-02-24 10:58] pascalgrimaud opened #11379 "No database options: compilation failure"
##### **Overview of the issue**

When choosing no database options with JWT or Session, the compilation failed.
See https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=23&_a=summary

cc @codecholeric

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

Following https://github.com/jhipster/generator-jhipster/issues/10682 and https

[2020-02-24 11:39] #11330 closed

[2020-02-24 12:46] caneraydinbey commented on #11365
I created angular + spring with maven this time. Changed jar to war in pomxml and put to webapp in tomcat. but similar errors again

![image](https://user-images.githubusercontent.com/17731063/75153609-df94e780-571c-11ea-9f2c-5c5debb93cd2.png)

[2020-02-24 15:32] pascalgrimaud commented on #11356
@nbaiocco : for your information, I just did a new release of jhipster lib: 3.5.0. It will be available in few hours, so you can upgrade this lib in your project

[2020-02-24 15:42] geyuqiu opened #11382 "Make Test Data for Entity Property More Expressive"
##### **Overview of the feature request**

make test data for entity property more expressive

current:
[code]

wanted:
[code]

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-24 16:00] mshima commented on #10575
@deepu105 I was curious about this change but I couldn't find it.

Following https://github.com/jhipster/generator-jhipster/issues/10528 proposal.
Only the writing priority should be moved to the `client-{clientFramework}` priority.
To write 2 client framework would become something like:
`this.composeWith(['jhipster:client-angular', 'jhipster:client-react']);`

Needles should be adapted too.
But

[2020-02-24 16:04] pascalgrimaud commented on #10575
@mshima : it tooks me a lot of time to read all your work and try understand, that's why I didn't merge it quickly sorry...
So I can't imagine the time you spend to do all of this, it's just crazy !

[2020-02-24 16:31] mraible commented on #11361
@andreasfranz After looking at the code, I don't think it does. It's just changing the logic from allowing a `roles` OR a `groups` claim to looking for both and combining them. I'm OK with it, but you should add "Fixes #11361" to the description of https://github.com/jhipster/generator-jhipster/pull/11362 so your PR is related to this issue.

[2020-02-24 16:41] SudharakaP commented on #11178
I've done a simple PR removing these unnecessary data types from Cassandra tests. The supporting of Blobs for Cassandra is a thing of it's own I think; we'll do it when the need arises.

[2020-02-24 16:48] SudharakaP commented on #11178
As [mentioned in the PR I submitted](https://github.com/jhipster/generator-jhipster/pull/11384) we need to add these two data types (ByteBuffer and ZonedDateTime) to the JCore side. Will look into it. 😄

[2020-02-24 16:54] deepu105 commented on #10575
Lets not merge any big changes for the internals now, lets do it for V7. I agree the internals are a mess now due to legacy reasons and backward compatibility and stuff. I agree the blueprints and composability mechanism has to be refactored. But its not an easy task. We need to ensure we don't break modules and blueprints(its really a workaround due to yeoman limitations) and have to ensure compo

[2020-02-24 17:30] mshima commented on #10575
The big refactoring to internals is on hold.

JHipster 7 will break it.

What workaround due to yeoman limitations?
I am the only active yeoman contributor right now.
So if you have some ideas, feel free to to tell me.

This is the hard one. There is no test case for this one.
There is a bug on translation that I know for a few months already:
- If you create a project with translation enabled (an

[2020-02-24 17:31] mshima commented on #10575
@pascalgrimaud don't worry about it.

[2020-02-24 19:37] fadafez commented on #7157
Hello,
regarding this issue, I would like to report an error that occurred on linux, after following the official documentation.

Idk if it's something related to my local environment or not. Anyway maybe this informations can help somebody:

First I enabled the volume by adding
`./keycloak-db:/opt/jboss/keycloak/standalone/data`

Then I've launched docker-compose, and in fact it created a keycloa

[2020-02-24 19:43] SudharakaP commented on #7157
Please don't comment on an **old issue**. If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new/choose) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Al

[2020-02-24 19:52] cbornet commented on #11178
I coded the ZonedDatetime support for Cassandra. So I'm sure it used to be supported.

[2020-02-24 19:53] fadafez commented on #7157
Hello @SudharakaP, actually I've fixed the issue, if it's better to open a new thread I will do that, I supposed that was more appropriate to add the information here, as it's the place where the official documentation comes from.

[2020-02-24 19:55] #11178 closed

[2020-02-24 20:01] SudharakaP commented on #11178
@cbornet : Okay, I was unable to find a place where it is mentioned exactly; maybe I was looking at the wrong place. But I trust you on that. 😄

[2020-02-24 20:56] geyuqiu commented on #11365
've never had a great relationship with gradle, maybe it was because of the error message of missing dependencies I don't remember, consequently... I tried to avoid that, except for Android, where there are no alternatives xD

[2020-02-24 21:01] geyuqiu commented on #11366
Although being rejected, I just want to point out that the folders can be blown up easily and become harder to have a overview by adding additional components for that entity.

[2020-02-24 22:39] ruddell commented on #11365
@caneraydinbey Based on the screenshots, you are deploying under a context path, but did not configure the baseHref.  In your case it should be `/halil-2-0.0.1-SNAPSHOT/` ([configure it here](https://github.com/jhipster/generator-jhipster/blob/ec26d48bf7683ba768d4ff07dcfcf73e8f141fb1/generators/client/templates/angular/webpack/webpack.common.js.ejs#L120))

[2020-02-25 00:17] SudharakaP commented on #7157
@fadafez : As indicated above this issue is closed as per document change; https://github.com/jhipster/jhipster.github.io/commit/8eff4be3ef83d8b48a784636b6903bed204dd464. If you have a different approach to fix this, I suggest opening up a new issue with your suggestion and discussing it first and then submit a PR if all is in agreement. 😄

[2020-02-25 02:17] SudharakaP commented on #11321
@pascalgrimaud @vishal423 : Just verifying; for this one the first two bullet points are already fixed by @qmonmert correct? Just confirming so I can concentrate on the Elasticsearch issue. :smile:

[2020-02-25 05:49] vishal423 commented on #11321
@SudharakaP , My opinion is to fix all open issues on the entity list page in a single PR. It will help with code review of generated code and testing of all scenarios to reduce the chances of new regressions. Also, watch out for issues specified in the comments.

[2020-02-25 10:36] seraphinandrieux commented on #11382
Hello @geyuqiu ,
For now, the logic used is based on the `fieldValidateRulesMaxlength` and the `fieldValidateRulesMinlength`. That's why we didn't define an expressive constant, it could change the word or crop it. Especially these values are used for UT, so we don't need a string value too much expressive :)

[2020-02-25 11:41] caneraydinbey commented on #11365
@ruddell for **halil2\webpack\webpack.common.js** I changed this line:

`new BaseHrefWebpackPlugin({ baseHref: '/halil-2-0.0.1-SNAPSHOT' })`

and then repackaged with **maven**.

Then i put again under webapps undet tomcat and started:

![image](https://user-images.githubusercontent.com/17731063/75243863-b9824c80-57db-11ea-9d9f-a03d005e46d4.png)

When i go to

http://localhost:8080/halil-2-0.0.1-S

[2020-02-25 13:47] distributev opened #11387 "Generate jHipster apps from inside Eclipe, IntelliJ IDEA, etc"
##### **Overview of the feature request**

Generate jHipster apps from inside Eclipe, IntelliJ IDEA, etc

##### **Motivation for or Use Case**

People are using Eclipe, IntelliJ IDEA for writing their Java code. It would be nice to give the option to generate jHipster apps from inside Eclipe, IntelliJ IDEA, etc.

Spring Initializr Documentation shows how this can be achieved.

https://docs.spring.

[2020-02-25 14:09] geyuqiu opened #11388 "Disable Hot Reload for Spring Boot"
##### **Overview of the feature request**
[code]

server is then stuck on git windows and can be stopped on 8080 with a work around via

[code]

by the way, ctrl + C does not work on git windows to stop the server `mvnw`

##### **Related issues or PR**

- does not happen on Mac

- may have to do with https://github.com/jhipster/generator-jhipster/issues/1423

-   [x] Checking this box is mandatory

[2020-02-25 16:00] wmarques commented on #11382
@geyuqiu Thanks for pointing this out.
As @seraphinandrieux said, we also do some validation on String lengths to see if Spring validation is OK. Using meaningful test Strings will result in cropped values on some cases.

I prefer keeping what we have and not invest much time on this, so I'm closing this.

[2020-02-25 16:00] #11382 closed

[2020-02-25 16:03] ruddell commented on #11365
@caneraydinbey Your baseHref needs to match the baseHref in my last message, you forgot the trailing slash.  It will apply to both dev and prod, so you may want to copy the BaseHrefWebpackPlugin config to webpack.prod.js and only apply it there.

[2020-02-25 16:21] SudharakaP commented on #11388
I don't think this is related to Spring Boot but rather the port being used by another process. From my experience this does happen from time to time on Windows and less so often on Linux. What you did by using `taskkill /F /PID <portid>` is to forcefully kill the task running on that port.

I believe this has nothing to do with JHipster and the error message `port 8080/18080 is already in use` cl

[2020-02-25 16:21] #11388 closed

[2020-02-25 17:10] geyuqiu commented on #11388
@SudharakaP actually mvnw is running on 8080 (error message shows some weird ports: 18080)

[2020-02-25 17:17] geyuqiu opened #11389 "export Angular Form Control ErrorComponent"
##### **Overview of the feature request**

- export following code as component,
- if required is set to true for an entity property in .jdl, then reuse this component

[code]

something like this will be nice so that it can be reused in other components:

[code]
form-control-error.component.ts
[code]
form-control-error.component.html
[code]

form-control-error.component.spec.ts

[code]

##### **M

[2020-02-25 17:26] unikzforce commented on #6294
Think the blueprints are now forthis purpose.. It can be done in a separate blueprint

[2020-02-25 18:21] SudharakaP commented on #11388
I think it says either 8080 or 18080 is blocked. Here's a reference of all the ports that needs to be available (depending on your project configuration) for JHipster; https://www.jhipster.tech/common-ports/

[2020-02-25 19:10] vishal423 commented on #11389
+1 @geyuqiu, would you like to create a PR?

[2020-02-25 19:44] qmonmert commented on #11321
@SudharakaP yes I fixed the first two bullet points

[2020-02-25 23:28] gmarziou commented on #11387
As a java library, Spring Initializr can be more easily integrated into java IDEs than JHipster which is written in NodejS. Still, it requires 31 classes for the IntelliJ plugin.

[2020-02-25 23:38] MathieuAA commented on #11387
@colameo I'm wondering if you know of a way to do it

[2020-02-26 09:56] vishal423 commented on #11373
Today, I tried against a few old releases back till `4.14` and indeed, it was never supported. I am closing the issue as not implemented.

[2020-02-26 09:56] #11373 closed

[2020-02-26 10:03] yelhouti commented on #7739
@jstrachan I would like to help work on this, are you still interested?

[2020-02-26 10:07] vishal423 commented on #11389
for reference, I have similar implementation in my schematic library @ https://github.com/vishal423/ngx-hipster/tree/master/projects/ngx-hipster/src/lib/ngx-error

[2020-02-26 10:29] geyuqiu opened #11390 "automatically move *.spec.ts after a component/service generation via angualr cli, e.g. ng generate c"
##### **Current work around**
remove

[code]

from

[code]

[code]

folder `src/test/javascript/spec/app/shared/form-validator` has to be created manually
*.spec.ts must be refactored and moved to the folder above in IDE e.g. IntelliJ

##### **Motivation for or Use Case**

simplify the process of component / service generation via angular cli

##### **Related issues or PR**
no idea, but I heard jh

[2020-02-26 10:56] gmarziou commented on #10958
Could we remove dependency on DropWizard ?

[2020-02-26 11:43] PierreBesson commented on #10958
I think the dependency on dropwizard is only to output the metrics in the logs so yes it can be removed.

[2020-02-26 14:15] pascalgrimaud opened #11391 "Migrate Daily Builds to GitHub Actions"
This project is important for the quality of generator-jhipster
https://github.com/hipster-labs/jhipster-daily-builds

It is not in the main organization to not share the builds.

To be consistent with the main organization, it's time for migrate to GitHub Actions.
There are a lot of work to achieve this, I think.

As I don't have time, I open a ticket here with a bounty.

Here all the tasks:

- [

[2020-02-26 14:15] pascalgrimaud commented on #11391
Maybe you can help @Hawkurane, as you helped me a lot for the Azure Pipelines in the past ?

[2020-02-26 14:24] Hawkurane commented on #11391
Hello, sure !
I will start by doing the JDL Microservices part so we can have a first version of the yamls

[2020-02-26 14:50] Andrea-Giordano commented on #7112
Helli @yelhouti, thanks for your work!
I am a jhipster noob trying to deal with composite keys: I have installed the blueprint but I don't understand how I can generate a jdl with composite keys to be imported into my project.

[2020-02-26 14:52] yelhouti commented on #7112
@Andrea-Giordano don't hesitate to PR the readme for better doc: https://github.com/elhoutico/jhipster-composite-key-server-blueprint/blob/master/test/templates/composite-key-blueprint/jhipster.jh

[2020-02-26 15:59] #11379 closed

[2020-02-26 16:56] Andrea-Giordano commented on #7112
@yelhouti when I run

I get the following error:

But my jhipster version is 6.7.1

[2020-02-26 16:57] yelhouti commented on #7112
--skip-checks

[2020-02-26 19:52] codecholeric commented on #10682
@pascalgrimaud sorry, I was sick. Is this problem solved meanwhile? If my PR was / is the cause, how can it be that all test jobs were green? Is there some config missing from the test jobs?

[2020-02-27 09:48] tibistibi opened #11396 "Make dev and prod equal on spring.jpa.properties"
These settings have been added to application-prod.yml:

      # modify batch size as necessary
      hibernate.jdbc.batch_size: 25
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.query.fail_on_pagination_over_collection_fetch: true
      hibernate.query.in_clause_parameter_padding: true

I would like these to be in application-dev.yml as well to make sure e

[2020-02-27 11:24] pascalgrimaud commented on #10682
@codecholeric : no worry, it should already be fixed by https://github.com/jhipster/generator-jhipster/pull/11381

Then, in our main generator-jhipster, we can't test all configurations, as there are too much.
So we used another project for testing more config:
https://github.com/hipster-labs/jhipster-daily-builds

This project detected this problem.

[2020-02-27 11:28] mraible commented on #10682
Could the fix for this issue the the cause of the failing AccountResourceIT and UserResourceIT tests in my [Spring Cloud Gateway PR](https://github.com/jhipster/generator-jhipster/pull/11223)? I tried re-enabling the tests a few hours ago and they still fail.

[2020-02-27 11:30] pascalgrimaud commented on #10682
@mraible : using your links, I saw all the tests pass, no fail.

[2020-02-27 12:43] ntorionbearstudio opened #11398 "Generation of new liquibase changelogs when updating entity"
##### **Overview of the feature request**

Generate new liquibase changelogs when updating one entity and don't rewrite previous changelogs linked to this entity.

One first possible implementation would be to add these options to `jhipster entity Entity` command tool for the question "Do you want to update the entity ?" :

And then, new changelogs files for liquibase will be created : `updated_en

[2020-02-27 12:57] gmarziou commented on #11398
Previous work that was never finished: #6016

[2020-02-27 13:04] pascalgrimaud commented on #11398
how do you manage to remember this, @gmarziou ?!
nice link to this PR !

[2020-02-27 13:06] gmarziou commented on #11398
:) Because I remember answering several times about this highly requested feature on SO.

[2020-02-27 13:40] mraible commented on #10682
@pascalgrimaud Yes, the current tests are passing. However, if you look at the last few runs (at the bottom), you'll notice failures when I tried to re-enable tests. I'll merge from master and try again today.

[2020-02-27 13:46] ajoysinhactc opened #11399 "Unable to parse command line options: Unrecognized option: -npt"
I am trying to build jhipster spring-boot microservice using jenkins .. but maven clean failed with following error . jenkins file generated using jhipster ci cd command

Code failed

Error Displayed

Following is the environment details :

Java version : 11
Maven version : 3.6.0
OS : Ubuntu

[2020-02-27 13:59] atomfrede commented on #11399
There seems to be something wrong. You snipped says `ntp`, which is correct. But the error `npt` which is wrong. Did you paste the complete generad ci config?

[2020-02-27 16:54] mraible opened #11400 "Elasticsearch doesn't integrate with faker.js"
##### **Overview of the issue**

If you create an app with Elasticsearch, you'll be surprised when none of the records shown on a list screen are searchable.

##### **Motivation for or Use Case**

As a user, I expect to be able to search the data that I see.

##### **Reproduce the error**

Create a new app with the following JDL:

[code]

Start the app, login, navigate to the list screen and you'l

[2020-02-27 17:10] SudharakaP commented on #11400
I think this has already been reported at #11321; except that issue is specific to React, but seems the issue exists on Angular side as well. I am currently working on that. 😄

[2020-02-27 18:27] SudharakaP commented on #11111
This has been reproduced and tracked at #11321. I am currently trying to find the root cause and fix it. Since this is already tracked I am closing this issue. 😄

[2020-02-27 18:27] #11111 closed

[2020-02-27 19:43] trixprod commented on #9967
@atomfrede , hello, do you have some informations about Quarkus impl in jhipster ?

[2020-02-28 04:43] zackfei opened #11401 "@PreAuthorize @PostAuthorize @Secured not working"
##### **Overview of the issue**
1. perform `jhipster upgrade` from 6.6.0 to `6.7.1` for jhipster UAA
2. `@PreAuthorize`, `@PostAuthorize`, `@Secured` is not work anymore, espcially `UserResource.java`

This file `MethodSecurityConfiguration.java` was deleted during upgrade.
This happen when upgrade other microservice application also.

##### **Motivation for or Use Case**

##### **Reproduce the er

[2020-02-28 05:33] vw98075 opened #11402 "checkstyleMain FAILED"
##### **Overview of the issue**

with a test framework selected, I get an error on "checkstyleMain FAILED". I have this problem on  UAA, Gateway as well as microservices.

[code]

##### **Motivation for or Use Case**

Need to make a build

##### **Reproduce the error**

Running the build comand "./gradlew build".

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

6.

[2020-02-28 05:52] atomfrede commented on #11402
Looks like we forgot to replace some `http` with `https` in our templates (just documentation, so not critical), but the no http plugin is quite strict

[2020-02-28 05:58] atomfrede commented on #11402
Are you sure you have used to generate the latest jhipster version? In our templates we have `https`. See https://github.com/jhipster/generator-jhipster/blob/cdb9ef09d7fb821402504ebc1c578c82a9026a93/generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs#L333 Can you check your `CacheConfiguration` file? Did you do an update from an older version?

[2020-02-28 06:05] vw98075 commented on #11402
The error doesn't occur after changing from http to https on the line. The version of JHispter isn't newly installed, but upgrade from an older version.

[2020-02-28 06:43] atomfrede commented on #11402
Did you choose to not override the cache configuration file? Will close this issue.

[2020-02-28 06:44] #11402 closed

[2020-02-28 12:22] gmarziou commented on #11401
@zackfei please respect guidelines and paste output of `jhipster info` so that we know your full project configuration.

[2020-02-28 12:55] pascalgrimaud commented on #11400
I'm changing this to "feature" as for me, it's not a bug.

We have this, since long time, because inserting Data using liquibase, don't change anything for Elasticsearch : the data is not indexed. Same for MongoDB. So this is not related to Faker.js directly.

That's why the best would be to use something similar to the module : https://github.com/geraldhumphries/generator-jhipster-elasticsearch-r

[2020-02-28 15:21] tibistibi commented on #11215
Do I understand that I need to put all enums like this:
[code]

in my model to get this:
[code]

And this will aslo work for Angular?

[2020-02-28 15:33] mraible opened #11403 "Reactive doesn't work with all NoSQL databases"
##### **Overview of the issue**

After experiencing [some failing tests](https://github.com/jhipster/generator-jhipster/pull/11223#issuecomment-589893481) when integrating Spring Cloud Gateway, I discovered it was caused by using Couchbase for the DB. If I switch to Mongo, it works.

Here's the `.yo-rc.json` that causes failing tests with `./mvnw verify -P '!webpack,dev'`. Note that it fails for b

[2020-02-28 16:42] vw98075 commented on #11402
The error occurs right out of the box. I need to modify the file to get rid of the error. I don't know that this one shall be closed without change JHipster code because it causes a compile problem for the end-users.

[2020-02-28 16:52] atomfrede commented on #11402
When you do an update and keep the old file it will happen as we have integrated the no http plugin. For newly created project it should not happen. Can you reproduce the problem with a newly generated project?

[2020-02-28 18:45] vw98075 commented on #11402
I don't know whether there is some miscommunication or not. I upgraded the version with the command displayed when I started an older version of jhipster. The error was from projects generated with the latest version 6.7.1 last night.
     On Friday, February 28, 2020, 08:52:57 AM PST, Frederik Hahne <notifications@github.com> wrote:

When you do an update and keep the old file it will happen as w

[2020-02-28 19:02] pascalgrimaud commented on #11403
@tchlyah : as you're our expert on Couchbase, can you help plz ?

[2020-02-28 19:12] atomfrede commented on #11403
For  Neo4j we are aware of that issues. Looking into it with Michael and Gerrit. Most likely a mistake in the entity definition and bi-directional relationships (or with sdn/rx beta).

[2020-02-28 19:29] mraible opened #11404 "Update entity generator to support reactive applications"
##### **Overview of the feature request**

One of the last remaining items to move our Reactive/WebFlux support (https://github.com/jhipster/generator-jhipster/issues/7608) to beta is to update the entity generator and its tests.

- [ ] Entities with service
- [ ] Entities without service
- [ ] Entities tests with `WebTestClient`

##### **Motivation for or Use Case**

I'm opening these tasks as a

[2020-02-28 19:34] mraible opened #11406 "Add entity unit and e2e tests in Ionic for JHipster"
##### **Overview of the feature request**

The Ionic for JHipster module (aka, Ionic4J) does not currently generate unit or e2e tests with its entity generator. Since Ionic4J's entity generator extends from JHipster, it shouldn't be too hard to create templates for unit and e2e tests.

See https://github.com/oktadeveloper/generator-jhipster-ionic/issues/170 for the issue in the Ionic4J project.

#

[2020-02-28 19:35] mraible commented on #11404
@pascalgrimaud I created a "reactive" label, but then realized maybe it should be named "theme: reactive"?

[2020-02-28 19:37] pascalgrimaud commented on #11404
yes, `theme: reactive` is better to keep consistency. I'm surprised that it didn't exist yet

[2020-02-28 20:42] murdos commented on #11404
FYI, unless someone else is already working on it, I'll try to handle this task.

[2020-02-28 22:03] geyuqiu opened #11407 "Responsive UI"
##### **Overview of the feature request**

not only for logs https://github.com/jhipster/generator-jhipster/issues/3276
Was this fix merged / working btw.?

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-02-28 22:47] SudharakaP commented on #11407
Yes, this is fixed and merged at #3282 and if you carefully follow that issue thread you'll see the pull request is linked below [this comment](https://github.com/jhipster/generator-jhipster/issues/3276#issuecomment-202772697).

[2020-02-28 22:47] #11407 closed

[2020-02-29 10:57] sendilkumarn opened #11412 "Upgrade the KHipster CLI to support JHipster v6.7.1"
Refer https://github.com/jhipster/jhipster-kotlin/pull/217

[2020-02-29 13:58] tchlyah commented on #11403
@pascalgrimaud, working on it

[2020-02-29 14:39] cbornet commented on #11404
I'm not sure you can assign the work to yourself if there's a bounty on it :smiley: . Anyway please go ahead. I at least won't try to compete on this.

[2020-02-29 14:41] pmverma commented on #11396
@tibistibi Basically these optimizations (#10667 ) was added to `-prod.yml` because dev and prod databases might not be the same.
And I did focus mainly for production.

However, I just realize that if both the dev and prod databases are same then better it should be in `application.yml`, WDYT?

As these optimizations are just suggestions of https://github.com/vladmihalcea/hypersistence-optimizer,

[2020-02-29 15:33] murdos commented on #11404
@cbornet : I'm just trying to avoid duplicated effort, and thus announcing that I'm currently working on it (https://github.com/murdos/generator-jhipster/tree/reactive-entity-server). I'll open a draft when I got a full use case complete (e.g. entity without service)

[2020-02-29 15:33] pmverma commented on #11399
@ajoysinhactc `-ntp` option is available with maven version `3.6.1` and was added in #10291
Not sure why are you getting this error.

Please follow the issue template to provide more information which are necessary.

[2020-02-29 15:33] #11399 closed

[2020-02-29 23:39] mraible commented on #11412
This is a lot of work! Thanks for doing it @sendilkumarn. I assigned a $200 bounty to it.

[2020-02-29 23:41] mraible commented on #11403
@tchlyah Thanks for your help! I've added a $100 bounty to this issue.

[2020-02-29 23:42] mraible commented on #11400
I'll close this issue. It's not a big deal.

[2020-02-29 23:42] #11400 closed

[2020-02-29 23:43] mraible commented on #11401
Does this happen if you create a brand new app with 6.7.1?

[2020-02-29 23:45] mraible commented on #11387
I've added a large bounty on this one because I don't think it's easy but it would be nice to have. If JHipster Online offered an API like start.spring.io does, it'd be a lot easier. For example, here's how you can create a Spring Boot app with Kotlin and Gradle, among other features.

[code]

[2020-03-01 08:53] gmarziou commented on #11387
Generating an app in start.spring.io is a one shot action.
In JHipster you still have to add entities, it's the start of a process.

How often do normal users (not JHipster team) generate an app versus how often do they enrich it?

[2020-03-01 09:04] gmarziou commented on #11359
I'm not convinced by this feature:

* Yes to modify UI you need to edit its code, what's wrong with that?
* Creating a cross framework annotation would only create coupling them in the generator
* Upgrading a JHipster app is not a goal in itself, you should do it very rarely and most probably never because generated code has very little value versus the code you write  to meet your business requir

[2020-03-01 09:11] gmarziou commented on #11359
@distributev could you give us a little background about yourself and the apps you develop so that we understand more where your  needs come from?

[2020-03-01 09:12] pascalgrimaud commented on #11387
it's indeed a lot of work but I'm not sure it is worth...
The end user can still use 'cli', or jhipster online. And it is probably same time than using directly IDE.
So for me, it's better to focus on bug or other feature.

[2020-03-01 09:17] pascalgrimaud commented on #11412
The description is not enough to someone who would like to start to work on this ticket.
Can you explain more @sendilkumarn plz ?

[2020-03-01 09:44] #11186 closed

[2020-03-01 10:07] sendilkumarn commented on #11412
Actually the work is done. This is just a bounty PR. :) I will close this :)

[2020-03-01 10:07] #11412 closed

[2020-03-01 13:10] cbornet commented on #11404
BTW I've started working on SQL/R2DBC support. For the entity gen you can maybe ignore SQL for now.

[2020-03-01 15:23] tibistibi commented on #11396
@pmverma yes i think moving it to applicatoin.yml is better. Than we know both are equal. I made a PR can you check if I did it correctly?

[2020-03-01 15:24] tibistibi commented on #11396
#11414

[2020-03-01 17:00] qmonmert commented on #11321
@vishal423 @SudharakaP I fix the third bullet point (two calls were missing) I guess in my PR #11322  https://github.com/jhipster/generator-jhipster/pull/11322/commits/fd31e688b925ce42c4d168492b7a8a063c76d772
If you have time to look
cc @deepu105 @pascalgrimaud

[2020-03-01 17:05] SudharakaP commented on #11321
Ah you beat me to it. I was testing the same fix yesterday. But thanks and hope this fixes the issue. :smile:

There's another problem with the back end I was trying to fix which is the reason I didn't check this in yet. If you notice say `Test Infinite Scrolls` the columns `User One To One` or `User One To Many` is not populated when you search. I think this happens for every single field which i

[2020-03-01 18:05] ntorionbearstudio commented on #11398
Hi, I tried a small implementation of new changelogs generation when updating entity with `jhipster entity EntityName` command line tool. I didn't write test for the moment and I don't know if my implementation will work well with all cases but I tested successfully for the moment :

- Add of new fields
- Add of new relationships
- Drop of fields
- Drop of relationships

After selection of 'Add' o

[2020-03-01 20:09] tibistibi commented on #11396
@pmverma somehow a test failed not sure if it is because of the change I made. Can you look at it?

[2020-03-01 21:39] gmarziou commented on #11398
Thanks @ntorionbearstudio for this excellent work, the idea of the video is excellent too.

* Does it work also when updating the entity through import-jdl?
* I would rather always create a new separate changelog because this is how Liquibase is supposed to be used with immutable changelogs. I often answered to JHipster users on stackoveflow about liquibase checksum errors due to modified changelo

[2020-03-01 21:42] SudharakaP commented on #10671
@pascalgrimaud : I was waiting for @amirdt22's reply above since he was assigned to the issue. :smile:  But I can take this issue and support circle ci if there's enough demand for it. WDYT?

[2020-03-01 21:49] pascalgrimaud commented on #10671
@SudharakaP : yes if you think it deserves, go ahead

[2020-03-01 21:59] DanielFran commented on #10071
Reopened since I did found the same issue.

[2020-03-02 03:42] zackfei commented on #11401
I try to create a brand new jhipster UAA, but `MethodSecurityConfiguration` didn't generated out.
The key annotation `@EnableGlobalMethodSecurity(prePostEnabled = true, securedEnabled = true)` is missing.
Anyway, create a brand new app is not the approach I want because by doing so I will lost those changes that I add on top in the app

[2020-03-02 07:22] #11396 closed

[2020-03-02 07:23] #10071 closed

[2020-03-02 07:46] pascalgrimaud commented on #11401
FYI.

This file was added by @xetys here https://github.com/jhipster/generator-jhipster/pull/10845/files

But it has been removed by @mraible at https://github.com/jhipster/generator-jhipster/commit/2e448adb31bbc063d1f5ee98e110892c73695e8b#diff-d702dc7debe242a567b1c79be70e1621

[2020-03-02 10:38] xetys commented on #11401
I see...is there any reason for this @mraible ?

[2020-03-02 11:27] mshima commented on #11401
I missed the removed file cleanup in this PR.
The annotation probably should be added here:
https://github.com/jhipster/generator-jhipster/blob/2e448adb31bbc063d1f5ee98e110892c73695e8b/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L389

[2020-03-02 13:10] mraible commented on #11401
I removed it because it didn't seem to be needed for OAuth since you can use Spring EL in Spring Security's latest OAuth support. I forgot UAA is still using Spring Security's legacy OAuth support.

[2020-03-02 13:36] #11255 closed

[2020-03-02 13:56] mshima commented on #11398
@ntorionbearstudio you definitively should open the pull request, preferably as Draft Pull Request.

[2020-03-02 14:23] Shaolans commented on #11348
Hello, sorry for the late reply.
I tried to reproduce your issue, however it seems to be working fine.
When I call clearUserCaches, the usersByLogin is cleared.
Have you updated the generator to the 6.7.X ? Because the method clearUserCaches is different from what I have generated.
[code]

[2020-03-02 14:55] xetys commented on #11401
I was adding this to enable

[code]

Hint: I know it is deprecated, but currently this is the way how spring-security-oauth offers it, and I am still waiting what the Spring team is deciding about maintaining authorization server: https://github.com/spring-projects/spring-security/issues/6320

[2020-03-02 14:56] tchlyah commented on #11403
After extensive investigation I found that Spring Reactor is not compatible fully with SpEL expressions ([DATACMNS-1108](https://jira.spring.io/browse/DATACMNS-1108)), which we are using here.

As you can see in [SecurityEvaluationContextExtension#117](https://github.com/spring-projects/spring-security/blob/master/data/src/main/java/org/springframework/security/data/repository/query/SecurityEvalua

[2020-03-02 17:12] amirdt22 commented on #10671
Apologies @SudharakaP - I wasn't able to get to this.  We are using CircleCI but don't think our solution for our project is portable currently.

[2020-03-02 17:27] SudharakaP commented on #10671
@amirdt22 : Hey, no problem. I started working on this tody. Hopefully we can support circle-ci 2.0 quite soon. 😄

[2020-03-02 18:32] pascalgrimaud commented on #10671
no worry, @amirdt22 I can understand you didn't have time. But maybe you can review once it's done by @SudharakaP ?

[2020-03-02 19:55] Shaolans commented on #11348
Since your issue does not appear with the app I generated with your .yo-rc.json, can you give me more details on how to reproduce it with minimal changes ?

[2020-03-02 22:29] ntorionbearstudio commented on #11398
@gmarziou Not for the moment, I only implemented this in jhipster entity CLI part

[2020-03-03 05:07] pmverma commented on #11396
@tibistibi,

Since you have moved all those options to application.yml file without a filter for H2, I hope no-complain message from hypersistence as it has not been tested again.

Anyway, it is fine as we do not use H2 in production.

[2020-03-03 05:31] ajoysinhactc commented on #11399
Thanks .. I was getting the error due to old maven wrapper .. after updating the maven wrapper it is executing fine ..

[2020-03-03 06:38] pascalgrimaud commented on #11401
So I think we can add it back, only for UAA options ?

[2020-03-03 06:41] pascalgrimaud commented on #11398
@ntorionbearstudio : I saw your video and it's impressive ! good job :)

Now, I'd like to know what you have in mind for JDL ? Is it possible or not ? Maybe use a flag ?

[2020-03-03 06:44] pascalgrimaud commented on #11398
I changed the label as it's not a simple enhancement but a very good feature.
I added a bounty too, as if we manage to achieve this, it will help a lot of users

[2020-03-03 07:13] pascalgrimaud commented on #11390
Yes, we're trying to switch to Angular Cli.
This discussion should go to https://github.com/jhipster/generator-jhipster/issues/10539

That's why I'm closing this.
cc @wmarques : so you won't forget this

[2020-03-03 07:13] #11390 closed

[2020-03-03 08:12] xetys commented on #11401
yep... I'll open a PR for this

[2020-03-03 10:57] tibistibi commented on #11396
ah and you say in prod file there was no H2 check because there is none but for dev there could be an H2 check.
If that gives a problem we should move it to prod and dev and add the checks there

[2020-03-03 14:12] mshima commented on #11398
@MathieuAA I am wondering on how to add this feature to jdl?
Looks like https://github.com/jhipster/generator-jhipster/pull/6016 was doing diff between the imported code and the new code.

[2020-03-03 14:49] PierreBesson commented on #10958
I would like to deprecate the JHipster Console for JHipster 7. It can be replaced by documentation on how to integrate with ELK and Prometheus.

[2020-03-03 16:07] pmverma commented on #11396
Lets keep it as it is because IMO user should not be using H2 either for dev apart from some testing.

[2020-03-03 16:33] MathieuAA commented on #11398
I like this approach
  - returning a diff when importing JDL content
  - this diff could be read in the generator and the file handling it would do its magic to do the necessary

This implies knowing the format of this diff, maybe something like:
  - new: { entity, field, etc }
  - updated
  - deleted

[2020-03-03 17:43] ntorionbearstudio commented on #11398
Yes I think that a diff between previous and new imported JDL schema could work (I don't well import JDL part so maybe I'm wrong).

I was thinking to add a new option to `import-jdl` command line like this :

`jhipster import-jdl jhipster-jdl.jh --new-changelogs`

With this option import-jdl know that he has to do a diff between previous and new JDL schema, and generate some lists to send informat

[2020-03-03 18:11] geyuqiu opened #11422 "extend nohttp checkstyle"
##### **Overview of the feature request**

either [sun](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/sun_checks.xml) or [google](https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml)

##### **Motivation for or Use Case**

static analysis

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you

[2020-03-03 18:45] atomfrede commented on #11422
We use sonar for static analysis so I don't think we will support multiple tools for static code analysis.

[2020-03-03 20:35] MathieuAA commented on #11398
And how would the generator know there's a diff to be read afterwards?

[2020-03-03 21:11] pascalgrimaud commented on #9960
Increasing the bounty because the amount of work here

[2020-03-03 21:23] gmarziou commented on #11398
Why passing a --new-changelogs option?

Let's embrace changelog immutability, and always create a new changelog for each change.

This is a core concept of Liquibase and the reason why changelogs are checksumed.

[2020-03-04 00:02] DanielFran opened #11427 "Automatize Release detail"
##### **Overview of the feature request**

Detail the release content automatically based on the milestone list.

New GitHub action has been created for this purpose: https://github.com/radcortez/milestone-release-action

CC @pascalgrimaud

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-03-04 08:16] #9960 closed

[2020-03-04 08:54] geyuqiu opened #11429 "csv data under fake-data not generated as insert sql statement by mvn liquibase:updateSQL"
##### **Overview of the feature request**

inside migrate.sql `CREATE TABLE` statements are generated for all entities
but `INSERT INTO` statements are only generated for user, authority and user_authority (src/main/resources/config/liquibase/data/*.csv), but not for fakee-data (src/main/resources/config/liquibase/data/*.csv)

##### **Motivation for or Use Case**

current work around: tba

##### *

[2020-03-04 09:04] pascalgrimaud commented on #11363
@geyuqiu : did you start this ?

[2020-03-04 09:05] pascalgrimaud commented on #11353
@geyuqiu : did you start this ?

[2020-03-04 09:05] pascalgrimaud commented on #11282
@geyuqiu : did you start this ?

[2020-03-04 09:40] qmonmert commented on #11321
@pascalgrimaud & @jdubois I claim my money 😄https://opencollective.com/generator-jhipster/expenses/14398

[2020-03-04 09:48] pascalgrimaud commented on #11321
@qmonmert : can this ticket be closed ?

[2020-03-04 09:56] qmonmert commented on #11321
@pascalgrimaud yes with the PR https://github.com/jhipster/generator-jhipster/pull/11322

[2020-03-04 09:57] #11321 closed

[2020-03-04 10:48] #11403 closed

[2020-03-04 12:40] #11173 closed

[2020-03-04 13:04] cah-rob-snider opened #11431 "ExceptionTranslatorIT Failed Test on Clean Generation"
##### **Overview of the issue**

I performed a clean generation and, when running `gradlew clean test integrationTest`, these two tests fail:

[code]

##### **Motivation for or Use Case**

I am unable to start a new project with test cases failing out of the box.

##### **Reproduce the error**

1. run `npm install -g generator-jhipster@6.7.1`
2. run `jhipster` with the below .`yo-rc.json`
3. run `

[2020-03-04 14:17] pascalgrimaud commented on #11431
Do you use the exact version of generator-jhipster@6.7.1 or do you use master branch ?
I tested your config with exact 6.7.1, and didn't manage to reproduce:

[code]

[2020-03-04 16:00] cah-rob-snider commented on #11431
I am not using master.

I pushed the generated code to https://github.com/cah-rob-snider/jhipster-test

[2020-03-04 16:13] pascalgrimaud commented on #11431
@cah-rob-snider : can you tell me how did you generate your project ? With JHipster Online ? With JDL ? With Command Line ?

- I cloned your project and I confirm the issue
- But I regenerated the project and found some difference:

[code]

So when I compare the ExceptionTranslatorIT file from your project with the one from JHipster v6.7.1, it's not the same:
- https://github.com/cah-rob-snider/jh

[2020-03-04 16:24] cah-rob-snider commented on #11431
I generated it with the command line. My teammate generated a new project with e CLI as well and had the same issue. I'll try doing it online and see what that does.

[2020-03-04 16:28] mshima commented on #11431
I think this is a synchronization problem.
Related to https://github.com/jhipster/generator-jhipster/issues/10528
Running `jhipster --with-entities` fix the problem?

[2020-03-04 16:29] pascalgrimaud commented on #11431
Ok, I manage to reproduce with CLI.
To resume:
- when prompting, there is the issue
- when using an existing `.yo-rc.json`, it's ok

So probably something related to this line: https://github.com/jhipster/generator-jhipster/blob/0a1d8a3afc6947dcbf490fb5d35897c174e616e4/generators/server/index.js#L212

[2020-03-04 16:33] mshima commented on #11431
If you reproduced with cli, then its confirmed it's related to https://github.com/jhipster/generator-jhipster/issues/10528.
And should be fixed with https://github.com/jhipster/generator-jhipster/pull/10554.

[2020-03-04 16:45] pascalgrimaud commented on #11431
I found a fix, but not sure it's the correct one.
Can you have a look @mshima plz ?

[2020-03-04 16:48] mshima commented on #11431
@pascalgrimaud I was a little faster =P.
https://github.com/jhipster/generator-jhipster/pull/11432

[2020-03-04 16:50] pascalgrimaud commented on #11431
you're too fast, I was going to close my PR, but you already closed yours (again you're faster) !

[2020-03-04 17:03] cah-rob-snider commented on #11431
Thanks for the speedy fix guys!!

[2020-03-04 17:27] geyuqiu opened #11435 "closedChannelException only on production"
##### **Overview of the issue**
![closedChannelException](https://user-images.githubusercontent.com/4540661/75905554-5761c100-5e45-11ea-925a-088e14587166.png)

app does not have any other abnormal behaviors

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

6.6

##### **JHipster configuration**

[c

[2020-03-04 19:31] #11431 closed

[2020-03-04 20:45] SudharakaP commented on #11422
I think we can close this issue as we already support Sonar. Feel free to reopen if anyone thinks otherwise. :smile:

[2020-03-04 20:45] #11422 closed

[2020-03-04 21:04] SudharakaP commented on #11321
I think we'll need some time to see if there's any more problems with the react builds. Feel free to ping me if you see any further issues. :smile:

[2020-03-04 23:34] distributev commented on #11359
The current form of JHipster is already good and I could very well live and use the system the way it is now.

Having this in the form of a TypeScript annotation (or something similar) will make it completely optional for the people. Like now people who want to write the HTML can ignore this feature and can continue to modify the existing HTML files. However, there might be people which would rath

[2020-03-05 05:59] pascalgrimaud commented on #11435
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-03-05 05:59] #11435 closed

[2020-03-05 05:59] pascalgrimaud commented on #11435
Closing this as we have a screenshot and no steps to reproduce

[2020-03-05 06:01] pascalgrimaud commented on #11429
We don't have `migrate.sql` in our project

[2020-03-05 06:01] pascalgrimaud commented on #11429
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-03-05 06:01] #11429 closed

[2020-03-05 06:08] pascalgrimaud commented on #11387
So I'm closing this as there are many ways to generate a project:
- installing everything and using CLI: `jhipster`
- installing Docker image and using CLI inside Docker container
- using our DevBox
- using JDL
- using jhipster-online

So I don't think implementing this inside IDE would be a gain... maybe few seconds for days of work
That's why I'm closing this.

[2020-03-05 06:08] #11387 closed

[2020-03-05 06:09] pascalgrimaud commented on #11364
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-03-05 06:09] #11364 closed

[2020-03-05 06:10] pascalgrimaud commented on #11363
Then, it can be an improvement, but if no one wants to contribute, it won't be done
Closing this as no answer, we have other ticket to focus on

[2020-03-05 06:10] #11363 closed

[2020-03-05 06:11] pascalgrimaud commented on #11348
Closing this as we can't reproduce
Feel free to provide more steps if you're sure about your issue

[2020-03-05 06:11] #11348 closed

[2020-03-05 06:16] pascalgrimaud commented on #11427
The project is very recent.
Do you have a look at https://github.com/jhipster/jhipster-vuejs/issues/507 opened by @atomfrede ?
I'd prefer this project, which has more stars:
- https://github.com/apps/release-drafter
- https://github.com/release-drafter/release-drafter

I'm closing this, I'd prefer to give a try on Vue.js blueprint and if it's a success, we can try in the main generator
Hope you're

[2020-03-05 06:16] #11427 closed

[2020-03-05 06:33] pascalgrimaud commented on #11359
Totally agree with @gmarziou
The main goal of JHipster is not to code for you, but to provide a sample code, which you can copy / paste. You don't have to modify the existing file, you can create new files so it won't be overrided later

Then, with our module and blueprint system, you can probably do it yourself:
- have a look at https://www.jhipster.tech/modules/creating-a-module/#-creating-a-mod

[2020-03-05 06:33] #11359 closed

[2020-03-05 06:34] pascalgrimaud commented on #11315
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-03-05 06:34] #11315 closed

[2020-03-05 06:35] pascalgrimaud commented on #11353
Closing this as it can be an improvement
But no anwser means no one want to work on this, so closing this ticket

[2020-03-05 06:35] #11353 closed

[2020-03-05 06:35] pascalgrimaud commented on #11282
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-03-05 06:35] #11282 closed

[2020-03-05 06:43] pascalgrimaud commented on #9914
Not sure it can easily be fixed.

The solution has been provided by @pvliss : just delete ̀syncUserWithIdP ̀ part, then the problem will disapear. But you won't be able to use relationship to User.

For a better sync, you can use Kafka which can do the job.

Then, we have very few complains on this, so I'm closing this ticket.

[2020-03-05 06:43] #9914 closed

[2020-03-05 06:58] pascalgrimaud commented on #11183
Still very few comments... and it will require a lot of work to achieve this.
So unless someone wants to take this and start the work, I'll reopen.

For now, let's close this.

[2020-03-05 06:58] #11183 closed

[2020-03-05 07:11] #10469 closed

[2020-03-05 07:21] pascalgrimaud commented on #11244
@DanielFran @ruddell : do you know how to fix this ?
- simply upgrade to the image to 4.0
- and modify the context-path ?

[2020-03-05 07:53] pascalgrimaud commented on #11332
@mraible : can you retry this ? I tried to reproduce your issue but everything works fine for me

![Capture d’écran de 2020-03-05 08-51-15](https://user-images.githubusercontent.com/9156882/75959454-954efb80-5ebe-11ea-893f-650d1a34a1ab.png)

[2020-03-05 08:02] pascalgrimaud commented on #11274
@maznag @avdev4j @vishal423 : one of you want to contribute to fix this ? Otherwise, we can close it, as we don't test skip-server / skip-client on our templates, and it's a pain to maintain all these skip options

[2020-03-05 08:02] pascalgrimaud commented on #11290
any news @ArnauAregall ?

[2020-03-05 08:03] pascalgrimaud commented on #11135
any news @cedricms ?

[2020-03-05 08:08] cedricms commented on #11135
@pascalgrimaud : sorry about that. My day job has been taking up quite a bit of my time lately. If somebody feels like taking on the task, feel free.

[2020-03-05 08:19] #11209 closed

[2020-03-05 09:15] ArnauAregall commented on #11290
Sorry, I will try to do it soon, please count that I'll do it 😄

[2020-03-05 09:52] geyuqiu commented on #11435
looks like a exception thrown by a dependency inside [webFlux](https://github.com/zalando/problem-spring-web/blob/master/problem-spring-web/src/main/java/org/zalando/problem/spring/web/advice/general/ThrowableAdviceTrait.java) @pascalgrimaud @SudharakaP. Is WebFlux enabled by default? Because I am not using it.

[2020-03-05 09:59] geyuqiu commented on #11429
@pascalgrimaud it is the default generated sql file of liquibase updateSQL: https://www.liquibase.org/documentation/maven/generated/updateSQL-mojo.html (search for migrate.sql)
btw. the bug guideline is getting ridiculous

[2020-03-05 13:29] mshima commented on #11398
I just pushed an updated version of this feature:
- It creates a new generator called liquibase. why?
Workflow current implementation `app -> entity -> entity-server` doesn't work for this feature.
Had to change to `app -> liquibase (each changelog) -> entity -> (entity-server & entity-liquibase)`, when no changelog is found it fallback to `app -> entity -> entity-server`.
- Prompts: `jhipster liq

[2020-03-05 13:36] gmarziou commented on #11398
@mshima why mutating changelogs (change, merge, drop)? I'm really concerned about violating Liquibase immutability principle.

[2020-03-05 13:42] mshima commented on #11398
@gmarziou
- Great for testing the generator.
- Useful for a simplified production changelog, the less files the better IMO. Dev dbs always can rebased if needed.
- The developer should take care about this.

[2020-03-05 14:01] mshima commented on #11398
@gmarziou creating liquibase tags should be useful here.
`jhipster liquibase --create-tag v1.0.0`
Drop and merge should ignore every change before any tag.

[2020-03-05 14:43] mraible commented on #11332
I just tried installing 6.7.1 on Linux to reproduce the problem. Unfortunately, the gateway doesn't even compile. I'll try it with the `master` branch.

[code]

[2020-03-05 14:55] mraible commented on #11435
I don't see WebFlux in the stack trace. You need to provide steps to reproduce the issue, then we'll re-open and investigate. If we can't reproduce the problem, we don't know how to fix it.

[2020-03-05 14:57] mraible commented on #11332
I can confirm this is working on the `master` branch, so I'll close it.

[2020-03-05 14:57] #11332 closed

[2020-03-05 15:13] pmverma commented on #10958
Do we have any available statistics for npm vs yarn?
I think it is better to remove yarn if its usage is very less.

[2020-03-05 16:06] ruddell commented on #11244
It does not work out-of-the-box with just those changes, I'm guessing it also needs an update of Hazelcast to v4.x?
[code]

[2020-03-05 17:35] pascalgrimaud commented on #10083
as asked here https://github.com/jhipster/generator-jhipster/pull/10084#issuecomment-587042752

Closing this, feel free to reopen if the bug is still there, with more information.

[2020-03-05 17:35] #10083 closed

[2020-03-05 17:38] pascalgrimaud commented on #10889
it looks like an enhancement or feature request ?
anyway, it looks similar to https://github.com/jhipster/generator-jhipster/issues/10566 so I'm proposing to close this and discuss in the other ticket

[2020-03-05 17:38] #10889 closed

[2020-03-05 17:49] pascalgrimaud commented on #9967
@atomfrede : excepting the jhipster-online and the failures on daily builds, is it finished here ? can we close the ticket ?

[2020-03-05 18:43] gmarziou commented on #11398
@mshima

Why?

OK but tools should promote safest practices, so default behavior should be to generate immutable changelogs. Then for developers who  know what they're doing, they can use the options you propose.

Let's compare it with rewriting history in git: it's very useful but it can be dangerous if you do it on a branch that has been exported and used by others. This is why default behavior

[2020-03-05 19:42] pascalgrimaud commented on #11274
I take care of this.
A first version is in PR, without Sonar Analyze, which can be done later if someone wants...

[2020-03-05 20:08] abenneke commented on #10889
Thank you for looking into this.

However, I don't see this as a duplicate: What we were asking for here is having the selected language from the client side available on the server side during a REST call, which is not the case by default at the moment, AFAIK.

#10566 is about persisting the selected language somewhere (local store, profile, ...). If the implementation of #10566 stores on the ser

[2020-03-05 20:57] #11274 closed

[2020-03-05 21:13] #11377 closed

[2020-03-05 23:25] gmarziou commented on #11435
@geyuqiu I really doubt we can reproduce what seems to be a random performance issue, only you can do it. You should probably first collect metrics (CPU, memory, gc logs, response duration, error frequency) to identify the conditions under which the problem occurs which could then help you to either avoid it by tuning your infrastructure or to reproduce it on demand.

[2020-03-06 08:31] atomfrede commented on #9967
@pascalgrimaud Yes let's close it. It works for most cases, some things need to be changed, but in general I would say we are good to go and promote it as "BETA". Thanks again to @michael-simons for support and the work. Let's have a :beer: at Javaland to celebrate.

[2020-03-06 08:36] jdubois commented on #9967
Oh @mraible and myself will also be at JavaLand -> let's do a JHipster meetup! Beers will be paid by the project's Opencollective 😀

[2020-03-06 08:37] atomfrede commented on #9967
:+1:

[2020-03-06 10:28] geyuqiu opened #11440 "migrate to cypress from protractor"
##### **Overview of the feature request**

current disadvantages with protractor:

\- async/await for all protractor methods / tests (async await hell, 1 method async/await &rarr; every method async/await)
\- no video capturing out of the box during ui-tests
\- debugging ui-tests on ci only via work arounds: adding source code for taking screen shot (failing tests not reproducible locally on dev)

[2020-03-06 11:57] pascalgrimaud commented on #11440
We already started the discussion for Vue.js
- here the ticket: https://github.com/jhipster/jhipster-vuejs/issues/401
- here a 1st draft of pull request: https://github.com/jhipster/jhipster-vuejs/pull/399

But to achieve it completely, it's a lot of work, so not sure we'll be done in the next months.

@geyuqiu : maybe you don't know, but we all work on JHipster during our free and personal time,

[2020-03-06 13:27] pascalgrimaud commented on #9967
Increasing the bounty as it was more work than expected and it will be well deserved

[2020-03-06 13:53] wmarques commented on #11440
@geyuqiu I don't understand the "async/await" hell. For me it's not a big issue.
But as @pascalgrimaud said, let's keep one ticket for this in Vue.js, everything is in there.

[2020-03-06 14:13] michael-simons commented on #9967
Looking forward to meet you all in Brühl.

[2020-03-06 15:51] lzkill opened #11441 "Build failed with prod profile"
##### **Overview of the issue**

Whenever I try to build the gateway with prod profile I get an error related to *webpack*. I've tried to delete node_modules, ~/.m2/repository and several other crazy things without success. It's worth mention that the dev profile fires no issue at all.

The error log:

<details><summary>Build log</summary>
<p>

[code]
</p>
</details>

<details><summary>npm details

[2020-03-06 18:35] MauricioPenteado opened #11442 "Login error - Monolithic Java/Angular app and OIDC/Keycloak (Docker Compose)"
##### **Overview of the issue**

I generated a monolithic java backend + angular frontend with oauth2/keycloak for authentication (it using docker-compose).

I am not able to perform the login.
All my attempts end in a redirect to "http://localhost:8080/login?error".

##### **Motivation for or Use Case**

I cannot login.

##### **Reproduce the error**

1.) Generate the Monolithic app (see below fo

[2020-03-06 19:19] #9967 closed

[2020-03-06 19:28] pascalgrimaud commented on #11442
can you post the complete `jhipster info` so we can know which version of tools you have ?
then, what is your OS too
etc

As our CI works perfectly with OAuth2 and Keycloak, I think it comes from your environnement

[2020-03-06 19:56] MauricioPenteado commented on #11442
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.litinow.third"
    },
    "jhipsterVersion": "6.7.1",
    "applicationType": "monolith",
    "baseName": "litinowThird",
    "packageName": "com.lit

[2020-03-06 22:18] mraible commented on #11442
I recreated your app from your `.yo-rc.json` and was not able to reproduce this issue.

<img width="1075" alt="Screen Shot 2020-03-06 at 3 15 23 PM" src="https://user-images.githubusercontent.com/17892/76126915-9d419500-5fbd-11ea-8fa8-6c8104e8b9b3.png">

[2020-03-06 22:18] #11442 closed

[2020-03-06 22:28] mraible commented on #11441
I was able to reproduce this error in your gateway project.

[code]

If I delete everything and re-generate your entities with JHipster 6.7.1, it fails, but with a different error.

[code]

[code]

[2020-03-07 13:29] pascalgrimaud commented on #11441
I had a quick look, and there is nothing related to JHipster.

Here some answer which can help you:
- always use a CI at the beginning of the project, you'll know when you're code doesn't compile / build anymore
- I can't build locally, as I have this error:

[code]

I generated the JDL, and opened it, I can saw:
![Capture d’écran de 2020-03-07 14-25-21](https://user-images.githubusercontent.com/9

[2020-03-07 13:29] #11441 closed

[2020-03-07 15:26] gmarziou commented on #11441
Also as Pascal did, use a JDL IDE to detect errors earlier: https://www.jhipster.tech/jhipster-ide/

[2020-03-08 08:52] pascalgrimaud commented on #11118
I'm reopening this as it's down again.
Time to remove it... not very usefull to have it as badge

[2020-03-08 09:19] #11118 closed

[2020-03-08 16:20] qmonmert commented on #11088
@pascalgrimaud I'm working on it

[2020-03-08 16:31] pascalgrimaud commented on #11088
@qmonmert : have a look at https://github.com/jhipster/generator-jhipster/pull/11089 too as there are some interesting comment. Then, maybe this PR is out of date and we need to think more to solve this

[2020-03-08 16:35] qmonmert commented on #11088
@pascalgrimaud ok

[2020-03-09 03:34] cklee75 commented on #10702
Here is my workaroud: Add

with longer value. Default is 5000ms in com.github.vanroy.springboot.autoconfigure.data.jest.ElasticsearchJestProperties.class.

[code]

[2020-03-09 10:30] gmarziou commented on #10958
@PierreBesson yes exporting metrics through logback/logstash is no longer relevant with Prometheus Let's drop JHipster Console. This way we can also drop DropWizard metrics.

Documentation could be light I think because most likely users looking for a production ready centralized logging and metrics may opt for dedicated cloud solutions or for solutions integrated in their cloud provides offer.

F

[2020-03-09 13:36] distributev opened #11451 "Any gains by incorporating principles from nx.dev within JHipster?"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

https://nx.dev/angular CLI adds good value for Angular developers to split a big product into individual sub-projects

There are also

https://nx.dev/react and
https://nx.dev/web (for Web Components)

I believe https://nx.dev should be evaluated if it fits well with the jhipster architecture.

Monorepo != Monolith whi