[2018-07-27 17:19] congruentsquare opened #8035 "Ambigious syntax errors"

[2018-07-27 17:51] #8035 closed

[2018-07-27 17:55] blurfus commented on #8035
You are missing entities in your JDL (but you mention them in your relationships) - this is not a bug

[2018-07-27 18:16] MathieuAA commented on #8035
One of the next release's priorities will be to review all error messages and more importantly how they are displayed (JHipster Core -> ImportJDL subgen -> the user).
thanks @blurfus for pointing out the issue.

[2018-07-28 06:05] pascalgrimaud commented on #8033
@deepu105 : what is your exact idea when the `target|build/www` is missing ?
- have a error page like AngularJS
- or trigger the webpack profile: install yarn/npm, launch webpack:dev build

[2018-07-28 08:07] Luther27 opened #8036 "How to customize mobile phone number login?"
I added the extension information mobile in the user table. How can I login by mobile+smscode?
It also supports mobile phone number + password or mobile phone number +smscode.

[2018-07-28 09:37] gmarziou commented on #8036
This is a question, not a bug or feature request. Please use stackoverflow or gitter.

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master

[2018-07-28 09:37] #8036 closed

[2018-07-28 09:44] Luther27 opened #8037 "How to customize mobile phone number login?"
I added the extension information mobile in the user table. How can I login by mobile+smscode?
It also supports mobile phone number + password or mobile phone number +smscode.

[2018-07-28 09:50] pascalgrimaud commented on #8037
you need to code yourself, this part.

[2018-07-28 09:50] pascalgrimaud commented on #8037
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-07-28 09:50] #8037 closed

[2018-07-28 11:40] deepu105 commented on #8033
@jdubois @pascalgrimaud I'm not planning to have an error page, instead, I think we should trigger webpack build when the target|build/www doesn't have any assets. This way we ensure that when you run server you always have the frontend files to see the UI. Ofcourse this doesnt replace the need to run `yarn start` for development

Now for yarn/npm I think it shouldn't be forced so that the plugin

[2018-07-28 11:51] deepu105 commented on #8036
@Luther27 and please dont spam us, you opened 2 tickets with same question

[2018-07-28 12:46] jdubois commented on #8036
I really don't understand what's happening here - @Luther27 please follow the project guidelines

[2018-07-28 16:38] deepu105 commented on #8033
@pascalgrimaud If we go with the first solution then the actual handling is done on the client side and it means both Gradle and Maven can use it. I like the second one as well. Which do you prefer?

[2018-07-28 16:40] pascalgrimaud commented on #8033
I prefer the 2nd of course. Both needs to duplicate some code. For now, I don't see other solution. I need to think more, unless the 2nd solution is OK.

[2018-07-28 16:42] deepu105 commented on #8033
For me its ok, can you start a PR with this, i'll add the Gradle part, unless @atomfrede wants to do it

[2018-07-28 16:42] pascalgrimaud commented on #8033
Ok, let's do it

[2018-07-28 17:16] PierreBesson commented on #8033
I'm also for the 2nd one, and it means that the webpack profile needs to duplicate the code from the dev profile as if we the activation clause in the webpack  profile is trigered it will completely replace the dev profile. So I suggest we rename webpack to webpack-dev.

[2018-07-29 00:27] soberich opened #8040 "Compile error in QueryService if inherit filtering entity from @MappedSuperclass. Need to place a lowerbound on `OTHER` type parameter in QueryService"
##### **Overview of the issue**
Current QueryService implementation does not allow to use field from `@MappedSuperclass`, because the generated Static Metamodel uses inheritence and `QueryService` does not have lower bound for `OTHER` type parameter, thought has it for `ENTITY` type parameter.
##### **Motivation for or Use Case**

[code]
##### **Suggest a Fix**

replace `<.., OTHER> with <..., ? s

[2018-07-29 11:38] RachadAbiChahine commented on #5369
how to upgrade spring-boot with jhipster

[2018-07-30 02:01] syifarahmat opened #8043 "JHipster"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2018-07-30 02:17] #8043 closed

[2018-07-30 07:43] pascalgrimaud commented on #8033
@deepu105 : about this, isn't it possible to store all instructions in a variable and display at the end of all process ?

[2018-07-30 07:56] pascalgrimaud opened #8044 "Sonar Analyze: 7 new bugs about CSS"
Similar to this ticket: https://github.com/jhipster/generator-jhipster/issues/7911

See https://sonarcloud.io/dashboard?id=io.github.jhipster.sample%3Ajhipster-sample-application

Currently, we have new 7 bugs about CSS:
https://sonarcloud.io/project/issues?id=io.github.jhipster.sample%3Ajhipster-sample-application&resolved=false&sinceLeakPeriod=true&types=BUG
- Unexpected unknow pseudo-class / me

[2018-07-30 09:22] #8033 closed

[2018-07-30 09:24] deepu105 commented on #8033
@pascalgrimaud, unfortunately, the logs are from different sub gens and syncing them with yeoman would be very tricky. Anyway since this is merged its not a problem any more

[2018-07-30 12:24] co5dt commented on #8004
Finally found the time to perform my first contrib. Hope everything is in line, more or less. Only problem seems that I have attached the original issue #8004 in the commit message, yet the pull requests # turned out to be #8045.

However, I have seen that the social login has been removed in 5.x anyway, so I guess this will not be considered anyway. Too bad. Was really proud of my first contrib =

[2018-07-30 12:24] #8004 closed

[2018-07-30 21:00] DanielFran opened #8047 "Upgrade Spring-boot to 2.1.x"
##### **Overview of the feature request**
With the launch of new spring-boot 2.1.0.M1 I would like that we create a branch to prepare the migration.

See: https://spring.io/blog/2018/07/30/spring-boot-2-1-m1

##### **Motivation for or Use Case**

Stay in line with Spring-boot releases

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2018-07-30 21:04] mraible commented on #8047
AFAIK, Spring Boot 2.1 won’t be released until Feb 2019, so it might be a bit early.

[2018-07-30 21:16] DanielFran commented on #8047
@mraible

From Github milestones I see: https://github.com/spring-projects/spring-boot/milestones
- 2.1.0.M2: Aug 21
- 2.1.0.RC1: Sep 20

I was expecting that we could launch first Beta version based on 2.1.0.RC1 at least?

[2018-07-30 21:52] deepu105 commented on #8047
I don't think we will do betas with RC releases unless there is a killer feature or something in it, so I agree with @mraible that its too soon and we have a lot on our plates already.
WDYT @jdubois

[2018-07-31 04:33] Blackdread opened #8049 "Filters and Criterias does not implement equals/hashCode"
##### **Overview of the issue**

Filter and criteria classes cannot be used in any cache system (or simply any Map/Set use cases).
It is a very simple fix.

##### **Motivation for or Use Case**

Want to be able to use @ Cacheable from Spring for communication between app using RestTemplate but results cannot be cached as key will not work.
I use RestTemplate to return DTOs from another generated a

[2018-07-31 09:30] #7890 closed

[2018-07-31 09:30] #7912 closed

[2018-07-31 09:39] #7873 closed

[2018-07-31 10:28] cub-bsi opened #8052 "Documentation on Configuring Graphite Reporting is Outdated"
##### **Overview of the issue**
I was trying to set up Graphite reporting via the guide available here: https://www.jhipster.tech/monitoring/#metrics-exporters
I spent a while encountering `Reason: The elements [jhipster.metrics.graphite.enabled] were left unbound` errors until I realized that Graphite support has for now been removed as of #7100 and https://github.com/jhipster/jhipster/commit/0fe

[2018-08-01 10:44] co5dt commented on #1569
I am facing similar issues. I have the three entities OrganizationalUnit, Employee and Contact. All of them relate to another entity ContactInfo like this:

[code]

My solution is simple: Create a OrgaUnitContactInfo, EmployeeContactInfo, ContactContactInfo entity in JDL, wich are all just copy-paste clones of ContactInfo. What I then do:

- Create an abstract class ContactInfo and annotate it wit

[2018-08-01 12:27] joewhite101 commented on #8044
Most of these (5 out of 7) are just missing the leading dash on the browser specific CSS entries in home.css. Sonar expects those leading dashes or thinks its an invalid tag.

The Unexpected unknown pseudo-class selector just needs to change to: `.point:last-child`

The entry for min-device-pixel-ratio requires a bit more research. That may be a browser specific css entry only in which case adding

[2018-08-01 12:31] pascalgrimaud commented on #8044
I created the ticket to notice the issue. I'm not really a specialist in CSS, so go ahead :)

[2018-08-01 13:25] agaspardcilia commented on #8002
This should fix your issue.

[2018-08-01 13:42] hosseinrasekhi commented on #8040
i had a same problem how can i change jhipster-framework?

[2018-08-01 14:01] deepu105 commented on #8044
@joewhite101 if your PR gets merged, dont forget to claim the 100$ bounty

[2018-08-01 14:02] gzsombor commented on #8040
I see a pull request: https://github.com/jhipster/jhipster/pull/68 I think, this could fix your issue. Could you test it?

[2018-08-01 14:03] soberich commented on #8040
@hosseinrasekhi
Aaaa, I 've just embedded the `service` package from `jhipster-framework` artifact
It [the whole artifact] has near 50 classes, so, it is a tiny add. I rewrote parts, some just become look nicer, Like
[code]
this is suitable since I am not writing a framework which these guys does. So I depend on Lombok.
But either way Spring inself has LOTS of Lombok, even rare stuff like `@Utilit

[2018-08-01 14:06] deepu105 commented on #8002
@nagarajasr can you test the PR to see if its fixes the issue for you?

[2018-08-01 14:51] hosseinrasekhi commented on #8040
@gzsombor i create MyQueryService and i still has error
The method buildReferringEntitySpecification(Filter<X>, SingularAttribute<? super Role,OTHER>, SingularAttribute<? super OTHER,X>) in the type MyQueryService<Role> is not applicable for the arguments (LongFilter, SetAttribute<Role,User>, SingularAttribute<EntityBase,Long>)

[2018-08-01 15:26] tianlinzx commented on #7708
Istio 1.0 is released officially

[2018-08-01 18:56] ruddell commented on #5289
@drez769 Sounds reasonable, would you like to fix it in a Pull Request.  The lines to change are: https://github.com/jhipster/generator-jhipster/blob/d237bd8a56521826482c0c28f3679bfaa4f7b169/generators/generator-base-private.js#L879-L885

[2018-08-01 19:16] deepu105 opened #8060 "React: i18n is broken"
##### **Overview of the issue**

React applications with i18n enabled are currently broken. Seems like the sanitize-html lib used in react-jhipster is not being loaded. Its packaged and available in the bundle during webpack build but instead of loading a function during import it loads an empty object. I have no idea about root cause I did some prelim digging but couldn't find anything that might

[2018-08-01 19:37] deepu105 commented on #8060
Seems the issue is apparent in the React jhipster lib builds as well https://travis-ci.org/jhipster/react-jhipster/builds/410953017?utm_source=github_status&utm_medium=notification

[2018-08-01 19:44] ruddell commented on #8060
The workaround is to rollback to v1.8.3 of `sanitize-html` in `react-jhipster`, the latest v1.8.4 was released 7 hours ago and is broken.  We were using unpinned versions in react-jhipster until your commit today https://github.com/jhipster/react-jhipster/commit/ecb8af41534ff210cfedbec927a5927f67d1b177

[2018-08-01 19:48] co5dt opened #8062 "Monolith production build fails"
##### **Overview of the issue**

Production build always fails. I have tested this on two different computers now. At work and now at home. I have only the output from my home machine. The jh version is the same, just the environment is a bit different (I think different node version, this one uses latest LTS).

Seems to have to do with node_modules/jsdom/lib/jsdom/browser/Window.js

[code]

#####

[2018-08-01 20:15] deepu105 commented on #8060
I noticed that but it seems to fail with 1.8.3 as well, let me see with
1.8.2

Thanks & Regards,
Deepu

On Wed, Aug 1, 2018 at 9:44 PM Jon Ruddell <notifications@github.com> wrote:

[2018-08-01 20:33] deepu105 commented on #8062
This is fixed in latest master https://github.com/jhipster/generator-jhipster/pull/8034

[2018-08-01 20:33] #8062 closed

[2018-08-01 20:35] deepu105 commented on #8047
closing this for now, we can start work once we are ready to upgrade

[2018-08-01 20:35] #8047 closed

[2018-08-01 21:05] co5dt commented on #8062
Oh boy, I am sorry.

[2018-08-01 21:09] DanielFran opened #8064 "Update Angular to 6.1"
##### **Overview of the issue**

Angular v6.1 Now Available — TypeScript 2.9, Scroll Positioning, and more

Angular version 6.1 has been released. This is a minor release that is a drop-in replacement for 6.0 containing new features and bugfixes.

##### **Motivation for or Use Case**

See :
https://blog.angular.io/angular-v6-1-now-available-typescript-2-9-scroll-positioning-and-more-9f1c03007bb6

[2018-08-01 22:41] yelhouti commented on #7112
A working and tested example is finally ready [here](https://github.com/yelhouti/jhipster-composite-key).
I will start working the generator if it's ok with everyone, the code of the generator will (for now) be in  [this branch](https://github.com/yelhouti/generator-jhipster/tree/v5_composite_key) of my fork.
any help is welcome, but please before starting say on which part you will work so we don

[2018-08-02 04:11] pascalgrimaud commented on #7112
As already discussed, we can't integrate it to the main generator-jhipster. So you shouldn't work on a branch of your fork.

Why not creating a module or blueprint ?

[2018-08-02 13:07] pascalgrimaud commented on #8062
@deepu105 @jdubois : I think we should do a patch release soon, to include this fix

[2018-08-02 13:28] jdubois commented on #8062
Is it really urgent ? I have no computer with me, but if needed I can find a solution

[2018-08-02 13:35] RothAndrew commented on #8062
I'm seeing this error about LocalStorage when building microservice gateway as well.

[2018-08-02 13:47] yelhouti commented on #7112
Hi @pascalgrimaud , as discussed with @MathieuAA it would be hard to do that with blueprints (let alone modules) as JDL doesn't support it (and without JDL composite keys are pretty useless).
I also feel that this issue is importent enough to merge, and if doesn't I can always put the modified files and use them in a blueprint.
Also development and debugging is much easier without the blueprint, A

[2018-08-02 13:48] stefantwog opened #8065 "Jhipster Prod build failure"
##### **Overview of the issue**
In dev mode application works perfectly. When i try command mvnw -Pprod package -DskipTests i get BUILD FAILURE with this error :

**I even created completely new Jhipster application and run command : mvnw -Pprod package -DskipTests and got the same error.**

##### **JHipster Version(s)**
generator-jhipster@4.14.1

##### **JHipster configuration**
##### **JHipster

[2018-08-02 14:54] hosseinrasekhi commented on #8040
@soberich
i dont want to do a lot change and changing QueryService not working have u any idea
i want to use entityBase and filter by id
thanks

[2018-08-02 15:17] soberich commented on #8040
I don't call for "change a lot". I just say feel free to manually remove the reason of compiler error if you experience it. put a lowerbound everywhere you need if it compiler says you so. But from you method signature you are passing wrong arguments.. it is not about lowerbound anyway. Second parameter seems totally different `SingularAttribute<?,?>` is not `SetAttribute<?,?>`  with or without bo

[2018-08-02 15:20] jdubois commented on #8062
@pascalgrimaud @deepu105 I haven't followed our changes in the last few days as I'm on holidays -> is an urgent patch release OK? I can do one if needed.

[2018-08-02 15:28] pascalgrimaud commented on #8062
@jdubois : the problem is:
- generate a project with last release v5.1.0
- build in prod-> it will fail because of configuration with Jest

It would be cool to do a release, but our current master is not stable at all. I saw a lot of failed builds, specially with React.

I'll have a close look on all these failed builds, tomorrow.

[2018-08-02 15:32] jdubois commented on #8062
Ok thanks -> if this needs help please ask it on the dev mailing list. Also please tell me on which tickets help is needed (or create new ones), I'll put some new bug bounties on them.

[2018-08-02 15:42] DanielFran opened #8067 "Update spring-boot to 2.0.4 and spring-cloud to Finchley.SR1"
##### **Overview of the feature request**

Update current version of spring-boot and spring-cloud to lastest versions available

##### **Motivation for or Use Case**

see:
https://spring.io/blog/2018/07/30/spring-boot-2-0-4-available-now
https://spring.io/blog/2018/08/01/spring-cloud-finchley-sr1-is-available

- [x] Checking this box is mandatory (this is just to show you read everything)

[2018-08-02 16:17] hosseinrasekhi commented on #8040
@soberich @gzsombor
thank you, changing all method signature to SingularAttribute<? super OTHER,X> or SetAttribute<? super OTHER,X> in QueryService fix compile error

[2018-08-02 17:42] ruddell commented on #8065
I generated a project using the `.yo-rc.json` you provided, and ran `mvnw -Pprod package -DskipTests` without any issues.  Can you link to [a gist](https://gist.github.com/) with the full build log?  Also try running the build command outside of mvn with `yarn run webpack:prod`

[2018-08-02 18:15] pascalgrimaud commented on #7112
No offence @yelhouti I know you try to help the project, but this feature is really complex IMO.

The problem will be to maintain it, in 6 months and more.

We have 50 tickets opened, and not enough contributors to help us.

I know some features we accepted, which don't work since months...

That's why I'm reluctant and you can see in previous comments that I'm not alone. But I'm not the only one

[2018-08-02 20:14] jdubois commented on #7112
Please also note I originally coded this like it is modelled in Ruby on Rails: having an ID primary key is much easier and cleaner, both for us and for our users. And like RoR, I think we shouldn't have composite PK in the main generator. That's too much work and issues, for something which isn't our core goal. It's great if we can help people with existing databases, but we shouldn't waste our ef

[2018-08-02 21:40] yelhouti commented on #7112
@pascalgrimaud I totally understand your point, but since I wasted so much time rewriting composite keys for my projects, I don't my doing the work even if I'm the only one using it.
@jdubois I'm not doing this for existing databases, I'm doing for complexe new projects with business constraints best described as primary keys, and the ability to query them directly with rest endpoints.
I also woul

[2018-08-02 21:43] jdubois commented on #7112
Oh yes of course @yelhouti I'll have a look at it - I understand many people want this

[2018-08-02 22:08] gzsombor commented on #8040
@soberich : could you test the proposed solution, jhipster/jhipster#68? If I understand correctly, this is what you encountered too.

[2018-08-02 22:25] deepu105 commented on #8062
before we release we need ensure that Travis build failure for React is
fixed, I didnt have time to check on that yet. I tried to fix it yesterday
but noticed builds are still failing for react

Thanks & Regards,
Deepu

On Thu, Aug 2, 2018 at 5:34 PM Julien Dubois <notifications@github.com>
wrote:

[2018-08-02 22:29] deepu105 commented on #8062
Ok it seems to be fixed now, may have been a temporary failure

Thanks & Regards,
Deepu

On Fri, Aug 3, 2018 at 12:24 AM Deepu K Sasidharan <d4udts@gmail.com> wrote:

[2018-08-03 07:32] deepu105 commented on #7112
@yelhouti I'm also reluctant at this moment as I pointed earlier, so if you are doing a PR please keep in mind that we will merge it only if we feel that it's not a huge maintenance burden for us. If you can find some smart ways to do it without complicating existing templates then we will consider it

[2018-08-03 08:57] ecostanzi commented on #8065
Hi @stefantwog  Are you working on a Linux machine? Once I had some issues when trying to build on a CentOS 7 server. I managed to solve it by creating a symlink to yarn before launching ./mvnw yarn.
[code]
Didn't investigate enough to create a issue though.

[2018-08-03 13:20] pascalgrimaud commented on #8065
Like @ruddell, I couldn't reproduce the issue.
We need more information to reproduce.

[2018-08-03 13:43] #8065 closed

[2018-08-03 13:47] pascalgrimaud commented on #8029
I couldn't reproduce your issue with your configuration.
We need additionnal information, full steps to reproduce, or a GitHub project -> https://start.jhipster.tech/#/

[2018-08-03 14:10] pascalgrimaud commented on #8052
I assign this ticket to you, @PierreBesson, as you're our expert on this part

[2018-08-03 14:37] PierreBesson commented on #8052
What ! I was not aware that we had removed support for graphite but after a quick look it seems that it is indeed the case (which is weird as we still include the graphite maven dependency). It seems this was done when trying to migrate to micrometer and then rolling back.

[2018-08-03 15:20] yelhouti commented on #7112
@deepu105 I totally get your point, I'll do my best :)

[2018-08-03 16:21] HoussemHaddad commented on #6350
Hi everyone I am new in hipster and I would like to integrate an LDAP connection to authenticate users in my application? I would like if the users connect for the first time pass by the Ldap and we add all his info in local database, then his second authenticator will be in the local database also I would like redirect the users to different pages based on his role; can anyone help me? thanks

[2018-08-03 21:56] DanielFran commented on #7995
@deepu105 @pascalgrimaud you can close this One 😜

[2018-08-04 01:45] pascalgrimaud commented on #7995
thx @DanielFran

[2018-08-04 01:45] #7995 closed

[2018-08-04 09:30] hberndt opened #8070 "Configuration missing working with blueprint"
##### **Overview of the issue**

While developing on jhipster-kotlin generator I run into an error starting entity generator.
Error: ERROR! The entity cannot be generated as the application does not have a database configured!

The generator .yo-rc.json consists of two opjects, generator-jhipster-kotlin and generator-jhipster. Some configuration settings can only be found in the generator-jhipster

[2018-08-04 12:44] mraible opened #8071 "lint-staged: command not found happens when running "jhipster upgrade""
##### **Overview of the issue**

When trying to upgrade from JHipster 5.0.1 to 5.1.0, the following error occurs:

[code]

##### **Motivation for or Use Case**

It'd be cool if "jhipster upgrade" worked.

##### **Reproduce the error**

[code]

##### **Suggest a Fix**

Add `--no-verify` to git commit command.

This is a regression since v5.0.1 before lint commands were run. I'll submit a PR to fix,

[2018-08-04 13:04] mraible commented on #8071
The fix in #8072 does seem to solve the problem. I was able to prove it using `npm link`.

[code]

[2018-08-04 15:27] deepu105 commented on #8070
this is already handled and works fine when I tested with the entity blueprint generated by the jhipster-blueprint generator. I need more details. Can you generate a new sample blueprint using [jhipster-blueprint generator](https://github.com/jhipster/generator-jhipster-blueprint) and reproduce the error?

[2018-08-04 20:48] RothAndrew commented on #8021
@PierreBesson I did a little checking. It would be very simple to make the jhipster-online frontend disallow uppercase characters

[2018-08-04 20:49] RothAndrew commented on #8021
Oops... wrong button.

[2018-08-05 03:39] ynixt commented on #5908
I runned jhipster-elasticsearch-reindexer, but the problem remained. All entities contains rows.
I realized that the error doesn't occurs with all entities, but I can't fix. Someone discovered the solution?

[2018-08-05 11:10] stefantwog commented on #8065
I am working on Windows. Wierd thing is that me and my colleague are doing same steps :
- clone project from git
- run yarn install
- run yarn start
- run mvnw
- run mvnw -Pprod package -DskipTests

It works for him, but i still get this error. I tried everything : removing .m2 folder, deleting node_modules and i still get this.

Does anyone have some idea i am stuck for 4 days now.

[2018-08-05 15:53] deepu105 commented on #8065
does running the yarm commands manually work?

[2018-08-05 16:25] gmarziou commented on #8065
As @ruddell asked you, could you please show the full log as a gist? The error you have pasted is not enough. Also, as this is a prod build, it is isolated from your own node and yarn global installations, same for your project's node_modules.

If it works for your colleague, maybe you have different versions of Windows, type `ver` in a command prompt and compare

[2018-08-05 16:39] stefantwog commented on #8065
Here is full build log :

https://gist.github.com/stefantwog/426054a384322a222e3ace811f166285

[2018-08-05 16:44] gmarziou commented on #8065
Are running Windows 64 bits, how much RAM do you have?

[2018-08-05 16:49] gmarziou commented on #8065
`Command failed with exit code 3221225477` makes me suspect that you don't have enough RAM, more than 4 GB is required for AOT build and this means 64 bits version of Windows and NodeJS.

[2018-08-05 17:30] gmarziou commented on #8065
Yes edit package.json, look for` --max_old_space_size=4096`

[2018-08-05 17:59] ruddell commented on #8065
Also make sure your NodeJS is a 64bit version, `--max_old_space_size=4096` will cause a failure for NodeJS 32-bit https://github.com/jhipster/jhipster.github.io/pull/560 .

You can run the following command to tell which type you hav iinstalled: `node -p "process.arch"`

[2018-08-05 18:04] gmarziou commented on #8065
True though it would be a little more difficult to run `node -p "process.arch"` from frontend-maven-plugin context.

[2018-08-05 18:30] stefantwog commented on #8065
$ node -p "process.arch"
x64

[2018-08-05 20:01] sendilkumarn commented on #8070
Check out the comment here. `https://github.com/jhipster/jhipster-kotlin/pull/37#pullrequestreview-143421230`

Currently the context object don't know whatever present inside the `generator-jhipster-<blueprint_name>`

[2018-08-06 08:28] stefantwog commented on #8065
when i try to run only this command :
**$ yarn run cleanup && yarn run webpack:prod:main && yarn run clean-www**

It get stuck here and don't move

[2018-08-06 09:29] stefantwog commented on #8065
OS Name : 	Microsoft Windows 10 Pro
Version : 	10.0.17134 Build 17134

[2018-08-06 09:42] deepu105 commented on #8070
@sendilkumarn I already made sure to read config from blueprint as well see here https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base.js#L2525

and the same method is used to load the context https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L137

can you debug and see whats going on?

[2018-08-06 16:12] #7967 closed

[2018-08-06 16:12] #7986 closed

[2018-08-06 16:52] gmarziou commented on #8065
Then I have no idea. I thought this was the problem of the notifier in system icon tray that exists in Windows 7.

[2018-08-06 17:05] #8071 closed

[2018-08-07 04:49] dotw commented on #6305
how about the progress now?

[2018-08-07 08:44] stefantwog commented on #8065
I set --max_old_space_size=2048 for Prod script and it worked. If someone can explain why is this so others can solve issues like mine and not waste 4 days.

[2018-08-07 08:51] gmarziou commented on #8065
2048 will not be enough as soon as your app grows.

I suspect that the node installed by the maven frontend is 32 bit, an easy way to be sure is to modify your `package.json` to run "node -p process.arch"

[code]

[2018-08-07 08:54] jdubois commented on #8065
We should catch the error and/or document it

[2018-08-07 09:25] stefantwog commented on #8065
Yeah you are right :
[INFO] $ node -p process.arch yarn run cleanup && yarn run webpack:prod:main && yarn run clean-www
[INFO] ia32

How can i fix this ?

[2018-08-07 11:32] vishal423 commented on #8067
@DanielFran , are you also considering migration of 4.14.x branch to spring boot 1.5.15?

[2018-08-07 11:49] gmarziou commented on #8065
I guess you should ask the author of [frontend-maven-plugin](https://github.com/eirslett/frontend-maven-plugin).

Code dealing with architecture is: https://github.com/eirslett/frontend-maven-plugin/blob/0a0d2b0076c2b03016a73d9023024bc18648cf40/frontend-plugin-core/src/main/java/com/github/eirslett/maven/plugins/frontend/lib/Platform.java#L4-L14

I suppose that java system property "os.arch" is wr

[2018-08-07 13:02] DanielFran commented on #8067
Already done

[2018-08-07 13:04] DanielFran commented on #8067
See #8053

[2018-08-07 13:15] vishal423 commented on #8067
@DanielFran , thanks

[2018-08-07 13:33] stefantwog opened #8074 "Enable CORS not working"
##### **Overview of the issue**

When i uncomment this in application.yml :

First i get :

I have angular application on other domain and when i try to call jhipster generated api on other domain i get : Invalid CORS request.

Is there explanation how to enable CORS ?

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<deta

[2018-08-07 14:28] stefantwog commented on #8074
Hi Pierre, no i don't have jhipster:cors option in application.yml. In class JHipsterProperties cors field is from Spring package not from properties :
`private final CorsConfiguration cors = new CorsConfiguration();`

So what ever i put in properties file it's not visible since JHipsterProperties creates cors config from Spring. Am i wrong ?

[2018-08-07 14:41] PierreBesson commented on #8074
You mean it's not visible by the IDE ? But it doesn't mean that it won't work. Sorry I don't think this is a JHipster bug, it would be more suitable to answer you on stackoverflow.

[2018-08-07 14:47] stefantwog commented on #8074
I set breakpoint in corsFilter() method and it sets default values not once i provided in applicaiton.yml

[2018-08-07 14:51] PierreBesson commented on #8074
Can you paste me your yml config ?

[2018-08-07 14:54] stefantwog commented on #8074
jhipster:
    http:
        version: V_1_1 # To use HTTP/2 you will need SSL support (see above the "server.ssl" configuration)
        cache: # Used by the CachingHttpHeadersFilter
            timeToLiveInDays: 1461
    cache: # Cache configuration
        ehcache: # Ehcache configuration
            time-to-live-seconds: 3600 # By default objects stay 1 hour in the cache
            max-entries:

[2018-08-07 15:12] nagarajasr commented on #8002
the issue as reported is fixed (an error is reported if the uaa-base-name is not provided and the application is generated when it is).

however, if the uaa-base-name is not specified, the error is reported late i.e., after all other questions are prompted. in contrast, if the db name was not specified, the error is reported immediately after the first question is prompted. i think it would be use

[2018-08-07 15:55] PierreBesson commented on #8074
I just did a quick test and I am indeed able to make the cors work with your config:

[code]

[2018-08-07 16:19] stefantwog commented on #8074
You can close this: i created it on stackoverflow : https://stackoverflow.com/questions/51730409/jhipster-cors-enable

[2018-08-08 01:09] antonioortizpola opened #8075 "React generator generates wrong view code"
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mibejoto.wong",
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "5.1.0",
    "applicationType": "monolith",
    "baseName": "wong",
    "

[2018-08-08 07:53] agaspardcilia commented on #8075
I wasn't able to reproduce the error with the master. Can you make sure this is still an issue with the latest version of the code base? Thank you.

[2018-08-08 07:56] agaspardcilia commented on #8075
I think this bug was fixed with #7981.

[2018-08-08 08:17] #8075 closed

[2018-08-08 08:17] deepu105 commented on #8075
fixed

[2018-08-08 12:00] cplasse opened #8076 "Frontend tests fail on Jhipster 5.1.0"
##### **Overview of the issue**

Frontend tests fail on a new generated Jhipter application.

PS C:\Magellan\rdtm-exploitation> yarn test
yarn run v1.3.2
$ yarn run lint && jest --coverage --logHeapUsage -w=2 --config src/test/javascript/jest.conf.js
$ tslint --project tsconfig.json -e 'node_modules/**'
No valid rules have been specified
 PASS  src\test\javascript\spec\app\admin\audits\audits.serv

[2018-08-08 13:00] vishal423 commented on #8076
@cplasse , It should already be fixed in master. Can you try that?

@deepu105, @jdubois , Can you do minor/patch release as this should be an issue with all applications due to Jest configuration change.

[2018-08-08 13:24] lemaireo opened #8077 "org.bson.codecs.configuration.CodecConfigurationException: Can't find a codec for class java.time.ZonedDateTime"
##### **Overview of the issue**

With a project upgraded to Jhipster5, when saving a document that have afield of type java.util.Date into MongoDB I get the following exception. It happens that SpringDataMongo convert the field date to the type ZoneDateTime.
The problem probably exists for the other converters of class `JSR310DateConverters`

org.bson.codecs.configuration.CodecConfigurationExcepti

[2018-08-08 14:22] RothAndrew opened #8078 "Add ability to easily configure password policy for apps using JWT or Session"
##### **Overview of the feature request**

Currently there is no way to enforce a particular password policy. All the app does is check that the length of the password is allowed.

##### **Motivation for or Use Case**

Ability to easily enforce / change a password policy will be very beneficial for increasing security of a JHipster app, without forcing the developer to use a more complicated solut

[2018-08-08 14:51] tibistibi opened #8079 "Add Fontawasome free regular icons"
##### **Overview of the feature request**

With the new fontawasome i do not have access to the free regular icons

##### **Motivation for or Use Case**

Sometime they are nicer

It is easy to add by providing in the package.json:

    "@fortawesome/free-regular-svg-icons": "^5.1.0-8",

next to:

    "@fortawesome/free-solid-svg-icons": "^5.1.0-8",

and than they can be used like this in vendor.ts

[2018-08-08 14:57] deepu105 commented on #8078
This will change from use case to usecase and we cant cover everything. Its quite easy ti customize your self

[2018-08-08 14:59] deepu105 commented on #8079
We cant ship everything, if you need a specific icon you would have to add it. We will only include by default what we use in the generated app

[2018-08-08 14:59] #8079 closed

[2018-08-08 15:07] RothAndrew commented on #8078
1. Add a bean that checks app configuration for the existence of a password policy. I'm thinking `jhipster.security.password.policy`. The value is a regex that passwords much match to be valid.
1. If it can't find one, it does not enforce one.
1. Since it is practically impossible to translate a regex into meaningful instructions, just have the frontend say "The password you entered does not meet

[2018-08-08 15:18] RothAndrew commented on #8078
I don't agree that it is easy to customize yourself. Not only do you have to make changes to the backend, you have to change your frontend in 3 places:

1. The registration page (In Angular: RegisterComponent)
1. The Change Password page (In Angular: PasswordComponent)
1. The Password Reset Finish page (In Angular: PasswordResetFinishComponent)

[2018-08-08 16:49] PierreBesson commented on #8078
I'm also not so keen to make the code more complex but I agree that adding a password policy should be easy to do.

Well, what could be done is isolate the password validation logic in a method which returns a boolean. Currently it would only contains the length check but it could be easily extended this way.

[2018-08-09 07:35] #8044 closed

[2018-08-09 11:53] jdubois commented on #7944
Agreed @PierreBesson - bounty added :-)

[2018-08-09 11:55] jdubois commented on #8076
I'll do a new release early next week

[2018-08-09 11:56] jdubois commented on #7930
I know it's the summer and that's why this has slowed down - I'm adding a $100 bug bounty on this, to help it move forward

[2018-08-09 12:33] PositronBeam commented on #8077
Same error for me. I solved it by reverting to `spring-boot-gradle-plugin:2.0.1.RELEASE` in "build.gradle":

    buildscript {
         repositories {
            ...
         }
        dependencies {
            classpath("org.springframework.boot:spring-boot-gradle-plugin:2.0.1.RELEASE")
        }
    }

NB: I am not a member of the jhipster team. I am just contributing by giving my own solution

[2018-08-09 13:03] joewhite101 commented on #7888
I think adding h2 to the prod profile with scope `testCompile` will resolve the issue and prevent h2 from going out in the distro as well. I've tested that it solves the build issue. Will check maven as well and then create a PR

[2018-08-09 14:25] agaspardcilia commented on #7850
I might have found what is causing this. I'll try to make a PR about that today or tomorrow.

[2018-08-09 16:44] #8002 closed

[2018-08-10 02:21] soberich opened #8083 "Entity access outside of transaction scope in AccountResource. LazyInitializationException accessing authorities."
monolith application
Exception straight upon login trial

##### **Overview of the issue**

here is the entity access outside of transaction
[code]

##### **Motivation for or Use Case**

bytecode enchancement

##### **Reproduce the error**
place
[code]
in Gradle
got
[code]

##### **Related issues**

##### **Suggest a Fix**

use a mapper in service

##### **JHipster Version(s)**
2.0.14

##### **JHip

[2018-08-10 06:01] deepu105 commented on #8083
@soberich I do not understand the issue and there are not enough details for me to reproduce it. I this custom code? since we don't generate anything like that

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page

[2018-08-10 06:01] #8083 closed

[2018-08-10 06:04] deepu105 commented on #8076
@cplasse as @vishal423 pointed. This should be fixed in master. Please try master or wait for next release. If the problem persists please ask to re open

[2018-08-10 06:04] #8076 closed

[2018-08-10 09:00] mhavrlent opened #8084 "Removal of isAuthenticated() method of AccountResource class"
##### **Overview of the issue**

JHipster generator is generating AccountResource class with the isAuthenticated() method that is not being used anywhere. There are only two tests in the AccountResourceIntTest class that are using this method.
Following methods should be removed:
* isAuthenticated() method of AccountResource class
* testNonAuthenticatedUser() method of AccountResourceIntTest class

[2018-08-10 10:07] mhavrlent commented on #8084
Pull request: https://github.com/jhipster/generator-jhipster/pull/8085

[2018-08-10 12:41] PierreBesson commented on #8084
I just checked and the isAuthenticated method is used by UaaConfiguration : https://github.com/jhipster/generator-jhipster/blob/2c496ce113a068fd74c6fc385a46a7d603057fa9/generators/server/templates/src/main/java/package/config/UaaConfiguration.java.ejs#L211

So it should be not be removed for `applicationType === 'uaa'`. Can you add an if condition in the template rather than removing the code enti

[2018-08-10 12:43] PierreBesson commented on #8084
[EDIT] Don't take this message into account. I was wrong, it seems you can safely remove the code.

[2018-08-10 12:55] jdubois commented on #8084
We don't use it but expect that people will need it when coding their business logic.

[2018-08-10 13:58] mhavrlent commented on #8084
There is already a SecurityUtils.isAuthenticated() method which can be used for business logic, but this one has no api resource.

If we plan to keep the AccountResource.isAuthenticated() method, then we need some security expert to tell us if it's really vulnerable to XSS attack or not. This method was marked as Critical issue in the report of the Fortify Source Code Analyzer tool.

Here's the su

[2018-08-10 14:15] jdubois commented on #8084
That method is here to check if the user is authenticated or not, as the name suggests. I don't believe it can do any XSS attack.
Fortify looks like a lot of marketing bullshit to me, if your company has money to spend, sponsoring the project would be a better use of it.

[2018-08-10 14:30] vishal423 opened #8086 "Issues with jhipster manual upgrade: .yo-rc.json not updated"
##### **Overview of the issue**

- [ ] Jhipster version is not getting updated in .yo-rc.json file after manual upgrade to master
- [x] Compilation errors after upgrade due to presence of ProfileInfoResource and associated test
- [x] Liquibase checksum issues after upgrade -- Not implemented
- [x] Client side build fails after upgrade due to old files

##### **Motivation for or Use Case**
Jhipster

[2018-08-10 14:56] vishal423 commented on #8086
I am also seeing compilation errors after manual upgrade:

I don't see ribbon property (in `application.yml`) after upgrade, but, java code is still referring to it.

[2018-08-10 15:13] vishal423 commented on #8086
I am also seeing Liquibase checksum issues after upgrade:

I do see changes in generated change-set like removal of indexes (idx_user_login, idx_user_email etc) and addition of addNotNullConstraint.

To avoid such issues during upgrade, this change-set must contain attribute `runOnChange="true"`

[2018-08-10 15:51] gmarziou commented on #8086
I would not use `runOnChange="true"` because it could break subsequent changesets hand written by user.
Personally I prefer Liquibase to fail on checksum changes because that's the least surprising option.

[2018-08-10 16:27] DanielFran commented on #8086
@vishal423 ProfileInfoResource has been removed in v5.

[2018-08-10 17:35] RothAndrew commented on #8078
Can we reopen this if we are in agreement on what can be done?

[2018-08-11 06:59] vishal423 commented on #8086
On further looking into existing change-set, `runOnChange="true"` wouldn't solve issue in current scenario unless accompanied by corresponding drop refactorings which is not what I want as that would result into data loss.

At moment, I see following as one way to resolve this:

- Move all changes done as part of 5.x into separate refactorings contained in separate change-sets to ensure checksum o

[2018-08-11 09:49] gmarziou commented on #8086
The upgrade sub generator relies only on git merging capabilities and the app generator itself. So if the generator removes obsolete files, they should be removed by git too unless it uses wrong merging strategy or the user has inserted custom code in these files. I wonder whether the upgrade generator could benefit from using `git merge -s recursive -Xours` which is what I use to keep custom code

[2018-08-11 17:47] gmarziou commented on #8086
Ideally, we could have upgrade tests in Travis.

[2018-08-11 18:54] ruddell commented on #8086
@vishal423 You can add ProfileInfoResource to [cleanup.js](https://github.com/jhipster/generator-jhipster/blob/6ca62a64a3320a5490536377eb34fe88829f44b4/generators/cleanup.js#L142) to remove in newer versions

The v4->v5 upgrade had several breaking changes in the Angular layout so I don't think a manual upgrade is possible without more manual changes.  Again, the upgrade subgenerator should handle

[2018-08-12 12:12] deepu2018 opened #8087 "Not getting the Client application genereted successfully"
##### **Motivation for or Use Case**

##### **Suggest a Fix**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2018-08-12 22:53] Sebastiandg7 opened #8088 "Support for CockroachDB"
##### **Overview of the feature request**

Add support for CockroachDB

##### **Motivation for or Use Case**

CockroachDB is a NewSQL distributed cloud-based database which has very impressive core features (you can take a look here https://www.cockroachlabs.com). According to its documentation, although CockroachDB supports PostgreSQL syntax and drivers, it does not offer exact compatibility.

Th

[2018-08-13 06:00] sandyway opened #8089 "Is there a way to get user id in microservice app ?"
I find #1730 which add this feature.But removed because of #2291.
Then how can we get user id in a microservice app?

[2018-08-13 08:11] PierreBesson commented on #8089
This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Stack Overflow will give your question a larger audience:

- This will increase your chances to get

[2018-08-13 08:11] #8089 closed

[2018-08-13 08:33] mathieu-chauvet opened #8090 "Use @Qualifier by default on repositories"
##### **Overview of the feature request**

Hi JHipster users and devs,

I'm using jhipster 5.1.0

I'm following the side by side pattern introduced by @agoncal at the JHipster Conf last June.

Here is the slide I'm refering to : https://www.slideshare.net/agoncal/custom-and-generated-code-side-by-side-with-jhipster

Slide 17.

I'm facing a problem when I extend a repository class.

This class is i

[2018-08-13 08:39] jdubois commented on #8088
Thanks @Sebastiandg7 - this has already been asked a couple of times, and I don't believe we should have this in the main generator.
We already added Couchbase support last year: it is a far more popular solution, and still we have close to 0 users. Same thing for Cassandra. Those are really niche markets compared to mainstream databases.

Adding a new database adds a huge maintenance burden to th

[2018-08-13 09:50] #8088 closed

[2018-08-13 10:10] jdubois commented on #7738
So one more month has passed:

- The awesome @aneveu agreed to be on our board to validate the different logos. Thanks a lot Audrey!
- I still have no news from @loydjayme25 (and I also tried by email)

So at the moment we are stuck: as long as our logo isn't with the correct Creative Commons license, we have the same issue as the older logo from @ggaulard , we cannot modify it. So there's no way

[2018-08-13 10:25] ggaulard commented on #7738
This new version is way more modern that what I did. Great job 👍
I didn't know about the license issues, for me it was all yours :)
I always wanted to make a declination of the logo to illustrate the microservice features.
My idea was to do something with the rowing sport.

[2018-08-13 14:27] PierreBesson commented on #7738
For me there is no licence issue. Everything in our project is licenced under Apache2 and that includes documentation, images and logos. So people are free to modify them as long as they give proper attribution. And we can totally change the licence to créative commons if you prefer and if @ggaulard and @loydjames25 approve.

[2018-08-13 15:33] jdubois commented on #7738
@ggaulard what I can tell you for sure is that children love your logo, and that's a big part of the project's success because our stickers get used everywhere :-)
As this is a "work of art", for me we have the right to use the logo, but not modify it. To be able to modify it, we need a specific Creative Commons license, and the Apache 2 license is not enough here.
@ggaulard would you be OK to pub

[2018-08-13 18:27] #8067 closed

[2018-08-13 18:43] jbadeau opened #8091 "Unify angular and react state management"
Redux is a framework agnostic state management library.

This request is to unify the angular and react state management code:

- reduce load on jhipster maintainers by removing the need to maintain multiple business logic code branches
- allow jhipster users to maintain business logic in one place but swap out different rendering technology
- could possibly simplify SPA build and test code
- with

[2018-08-14 02:10] mraible opened #8092 "Can't navigate to entities in 5.2.0: GET http://localhost:8080/management/info 403 (Forbidden)"
##### **Overview of the issue**

If you create a microservices architecture with a gateway and apps, you can't navigate to the app's entities from the gateway. When you click on a link in the navbar, it refreshes and goes back to /.

The following error shows in the console:

[code]

##### **Motivation for or Use Case**

It worked in 5.1.0.

##### **Reproduce the error**

Follow [this tutorial](ht

[2018-08-14 03:45] mraible commented on #7810
I deployed a JHipster 5.1.0 app to Heroku this evening and while it does provision the searchbox add-on and set its config for the app (`SEARCHBOX_SSL_URL` and `SEARCHBOX_URL` variables), but the app still fails to find Elasticsearch.

I tried overriding the cluster nodes with the following:

[code]

But this fails with:

[code]

The [searchbox docs](https://dashboard.searchly.com/66865/installati

[2018-08-14 03:53] mraible opened #8093 "Heroku sub-generator doesn't allow you to deploy an app twice"
##### **Overview of the issue**

When running `jhipster heroku` on a project, it deploys just fine. When you try to run it a second time, it fails and says the project already exists.

[code]

##### **Motivation for or Use Case**

It used to work in JHipster 4.x.

##### **Reproduce the error**

Create an app, deploy it to Heroku with `jhipster heroku`. Then change some things and try it again. I u

[2018-08-14 06:17] deepu105 commented on #8093
I thought you were suppose to use the update commands second time

On Tue, 14 Aug 2018, 5:53 am Matt Raible, <notifications@github.com> wrote:

[2018-08-14 08:53] jdubois commented on #8084
Just had a look at the code, there is no way you can do an XSS attack here, so I'm closing this.

[2018-08-14 08:53] #8084 closed

[2018-08-14 08:56] jdubois commented on #8090
This should work if you put `@Primary` on your own `SNEntryRepositoryExtended` bean, could you test this?

[2018-08-14 08:59] jdubois commented on #8091
This would be a huge refactoring, and we just don't have the necessary people to do this. Of course we also need to discuss if that's useful, but unless someone is a volunteer to lead that effort, let's close this as this just won't be done.

[2018-08-14 08:59] #8091 closed

[2018-08-14 09:00] ggaulard commented on #7738
@jdubois I'm completely ok to publish it on creative commons. I'm very happy that the logo is appreciated so much. Thanks for the beer :) I keep it preciously

[2018-08-14 09:03] jdubois commented on #7738
@ggaulard oh I was wondering if you got the JHipster beer :-)
If you are available for eating today, we can meet together (it's the JHipster day at Ippon) near the Argentine metro station - I'll invite you using our https://opencollective.com/generator-jhipster money, and we can set up the repository together.

[2018-08-14 09:05] antarus opened #8095 "Upgrade hibernate version"
Hello,

##### **Overview of the issue**

Would it be possible to upgrade hibernate to the minimum version 5.3.1.Final?

##### **Motivation for or Use Case**
When using java 10, this version is a prerequisite to compile.

##### **Reproduce the error**
create a project,

Change the version of java to java 10,
Disable the enforcer of the java version,
Add to the configuration of the maven-compiler -p

[2018-08-14 09:12] jdubois commented on #8095
Hi @antarus !
We're using the version provided by Spring Boot, and as you can see at https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.0.4.RELEASE/spring-boot-dependencies-2.0.4.RELEASE.pom it's currently fixed at `5.2.17.Final`.
As this is tested & validated by the Spring Boot team, I don't think we should change this ourselves. Of course, you can still upgrade it

[2018-08-14 09:25] jdubois commented on #8095
Yes indeed -> let's just wait for the next release, I'm closing this as this will be automatic

[2018-08-14 09:25] #8095 closed

[2018-08-14 10:56] MateuszSapielakGSI commented on #6566
you can still do it from the root directory of the project, if you follow [these](https://github.com/angular/angular-cli/issues/10684#issuecomment-402132261) steps

[2018-08-14 13:13] DanielFran commented on #8047
@jdubois Will you consider to start soon a branch to migration to spring-boot 2.1.x?

[2018-08-14 13:14] jdubois commented on #8047
Is that such a big change that we need a specific branch? If it's simple, a PR would be enough

[2018-08-14 13:38] DanielFran commented on #8047
Well, seems no such big impacts: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1.0-M1-Release-Notes

[2018-08-14 13:47] DanielFran commented on #8047
Considering spring-framework impacts we have: https://github.com/spring-projects/spring-framework/wiki/Upgrading-to-Spring-Framework-5.x

[2018-08-14 13:51] DanielFran commented on #8047
After that we could then think in migrating to micrometer...

[2018-08-14 14:06] RothAndrew commented on #8092
FWIW, I am not seeing this issue when I make a gateway and microservice using JWT. I'd wager that it is only an issue when choosing OAuth.

![image](https://user-images.githubusercontent.com/16000938/44096149-9ada8db6-9fa8-11e8-9b65-5561c9097f3b.png)
![image](https://user-images.githubusercontent.com/16000938/44096255-dba3c218-9fa8-11e8-888d-600814f1ce05.png)
[code]
[code]
[code]

[2018-08-14 14:54] cbornet commented on #8092
The PR didn't touch this file so I think it's not involved.

@mraible are you sure it was working as-is in 5.1 ? The rule was also not there for 5.1 : https://github.com/jhipster/generator-jhipster/blob/v5.1.0/generators/server/templates/src/main/java/package/config/OAuth2SsoConfiguration.java.ejs

[2018-08-14 15:03] cbornet commented on #8084
I don't know Fortify but I guess that's a false positive because it doesn't see that `HttpServletRequest` is not the request body that should be validated but an object provided by the Spring framework.

[2018-08-14 15:10] jkutner commented on #8093
I think this was caused by a change in error message when `heroku create` fails

[2018-08-14 15:42] #8093 closed

[2018-08-14 16:04] juliensadaoui commented on #8077
An alternative solution is to use the Java 8 APIs for Date and Time `LocalDate, LocalTime, LocalDateTime, ZonedDateTime, etc.`. The minimum requirement is JDK 8+ for JHipster 5.X, you should prefer the Java8 Date and Time classes. Java 8 Date/Time  provides a set of APIs for easier development.

I can confirm that a field of type java.util.Date don't work when saving a document. For this issue, we

[2018-08-14 18:34] cbornet commented on #8077
Closing as j.u.Date is not a type supported by Jhipster. Please use jdk8 j.t.Instant instead which is far better.

[2018-08-14 18:34] #8077 closed

[2018-08-14 20:37] mraible commented on #8092
@cbornet I’m pretty sure. I checked it twice and rebuilt both times from scratch. I could be wrong, it was past midnight. ;)

[2018-08-14 21:40] Akuka opened #8099 "Server side tests failures when running all the tests together"
##### **Overview of the issue**

Hello,
I have a working application (Monolitic) which is currently based on JHipster 4.14.5.
I tried to generate the same application with the entities (without my custom logic) with JHipster 5.1.0 (and also 5.2.0) and got 'BUILD FAILURE' on the server side (tests failure)

Im not sure this is a bug in the tests or a real bug, but if Im running all the tests togeth

[2018-08-15 02:56] mraible commented on #8092
I reproduced once again tonight, so I know it's a real issue now. I reverted a microservice `pom.xml` to match 5.1.0 and it didn't help. I reverted the gateway's `pom.xml` to 5.1.0 and now it works. Still digging...

[2018-08-15 03:03] mraible commented on #8092
Narrowed it down to the difference between `jhipster-dependencies.version` and `spring-boot.version`. The suspension is building...

[2018-08-15 03:11] mraible commented on #8092
If I change the gateway to use `<jhipster-dependencies.version>2.0.14</jhipster-dependencies.version>`, everything works.

[2018-08-15 03:28] mraible commented on #8092
Can't find the needle in the haystack, but reverting to `<jhipster-dependencies.version>2.0.14</jhipster-dependencies.version>` definitely solves the problem.

[2018-08-15 07:32] boandriy commented on #999
Hi, I have the same issue. I currently have jhipster v5.2.0 installed, and this version has no social login option  when generating the app, so I would like to use older version. But after running the command:"npm install -g generator-jhipster#1.10.2" the jhipster's version is not changed.
I would like to know what I am doing wrong?
Is it possible somehowe to generate app with social login on jhip

[2018-08-15 07:44] deepu105 commented on #999
@boandriy this issue is 3 years old and is not relevant anymore. We do not support social login anymore and the last version to have that was v4.x. So you could uninstall your current jhipster using the npm/yarn uninstall commands and install a 4.x version to get that feature

[2018-08-15 08:01] boandriy commented on #999
@deepu105, thnks!

[2018-08-15 08:14] boandriy commented on #999
this command changed my jhipster version from v5.2.0 to 4.14.1
yarn global add generator-jhipster@4.14.1

[2018-08-15 08:27] sendilkumarn commented on #8092
@mraible The issue is because of zuul proxy, the forwarded request is stripped of authorization tokens. Temporarily we can fix this with `zuul.sensitiveHeaders= cookie,SetCookie, Authorization`

[2018-08-15 11:44] PierreBesson commented on #8092
Nice catch @sendolkumarn.

[2018-08-15 11:49] #8092 closed

[2018-08-15 14:06] btrajkovski opened #8102 "Reserved keyword issue when generating frontend application"
##### **Overview of the issue**

I am running into following error when generating the frontend application.
`Error: The name 'Profile' is a reserved keyword and can not be used as an entity table name.`This is very strange to me considering the fact that frontend only code does not generate database entities and should not check for reserved database keywords.

This is the .jh file that I've used

[2018-08-15 16:54] deepu105 commented on #8102
@btrajkovski there are reserved keywords for the front end as well, but yes table related checks can be skipped but then you won't be able to generate client and server code separately and expect them to work together without heavy changes

[2018-08-15 23:02] jdubois commented on #8092
Congrats @sendilkumarn ! I have approved your bug bounty on https://opencollective.com/generator-jhipster/expenses/4646# but have a look at it, it seems you need to fill a form to get the money (please tell me if I can help)

[2018-08-16 01:14] jlopezjuy opened #8103 "Angular-fontawesome 401"
##### **Overview of the issue**
Hello, i have create a new monolitic app, when run npm install i have 401 error on angular-fontawesome

##### **Motivation for or Use Case**

##### **Reproduce the error**

1- Create new monolitic app
2- no registry
3- jwt
4- mysql
5- h2 local
6- languaje español

##### **Related issues**

i have te next error log message when i run npm install

[code]

##### **Sugg

[2018-08-16 08:01] btrajkovski commented on #8102
@deepu105 I agree, but the thing is that backend generate went fine without problems. And also as far as I am aware jhipster uses `jhi_` prefix for that exact reason so that we can avoid reserved keywords in table names. All the endpoints and classes are generated correctly ex. `/role`, `/profile/` etc. And only frontend generate failed.
@gmarziou If `Profile` is reserved in Angular do you think i

[2018-08-16 08:35] #8052 closed

[2018-08-16 09:31] jdubois commented on #8102
@btrajkovski you totally understand the issue: we reserve those keywords, because we know we'll need those for the front-end.
It's clearly not a perfect solution: we didn't use the `jhi_` prefix because some people argued at that time that this would "tie" them to JHipster. So we only do this on the backend, "hidden" things, so that the end-used does not notice it. I'm not sure it's the best solut

[2018-08-16 09:32] jdubois commented on #8090
I'm closing this as I'm pretty sure my comment is OK - @mathieu-chauvet don't hesitate to add more info, I'll re-open if needed

[2018-08-16 09:32] #8090 closed

[2018-08-16 09:38] jdubois commented on #8103
This looks like an NPM error to me - the package is available there, and you have a 401 error when trying to get it. Are you behind a proxy, or using your own NPM mirror? Or maybe your Yarn cache has an issue, you can try deleting it.

Could you try on on another machine, maybe?

For me this isn't a JHipster bug, as it's an authorization error on a public NPM package, and that's why I'm closing th

[2018-08-16 09:38] #8103 closed

[2018-08-16 10:31] SauronShepherd commented on #5335
My entities's folder contains files and still the entities menu is empty. Why could that be?

[2018-08-16 11:00] SauronShepherd commented on #5335
The problem was something to do with the browser's cache. After deleting this cache, entities were appeared again!.

[2018-08-16 11:38] jdubois commented on #8103
I'm sorry but I can't reproduce... I see you are using NPM, which is not our default and which very few people use with JHipster -> could you try again, using Yarn? I did test with your exact config, but this might solve your issue

[2018-08-16 11:41] jdubois commented on #5335
@SauronShepherd this is an old issue, and has nothing to do with your problem. You're probably not running `yarn start` I guess.

[2018-08-16 16:34] gmarziou commented on #8103
Solution found on SO: https://stackoverflow.com/questions/51858405/jhipster-5-2-0-error-with-angular-fontawesome

[2018-08-16 16:49] atodd-geoplan commented on #777
do not use `["If-Modified-Since"] = "0"` it is not specification and breaks any half decent web server
do use a date instead

[2018-08-16 20:14] ctamisier opened #8105 "Sorting icon is not updated"
After a generation with Angular, in Administration > User Management, sorting on columns doesn't change the icon. It stays on:
![image](https://user-images.githubusercontent.com/766263/44231834-aaaaea80-a19f-11e8-9162-facf2092ae22.png), no matter the sorting direction.

An attempt of fix is here (but it is not sufficient, maybe a good start?): https://github.com/jhipster/ng-jhipster/pull/73

The b

[2018-08-16 20:39] sendilkumarn commented on #8092
Thanks @jdubios 👍
I will have a look at that, I hope it is for me

[2018-08-17 00:11] naymesh commented on #5666
As @jdubois  said, in most cases packaging does not make sense with dev mode. However, we do have a "development" deploy server where we do often  deploy consolidated development branches for our remote BA/QA teams to preview work in progress.

So I ran into this issue when building dev profile war package - backed runs fine, no front end available.

The main difference in dev vs. prod profile pac

[2018-08-17 07:36] mkboel commented on #5666
Great answer. Look like the bug to me. Thx.

fre. d. 17. aug. 2018 02.12 skrev Naymesh Mistry <notifications@github.com>:

[2018-08-17 09:59] DanielFran commented on #7783
@henri-tremblay I am working in a PR to migrate to spring-boot 2.1.0.x (M1 for now, but probably M2 next week).
I see now that spring migrated actually to hibernate 5.3.3.Final and as you know well the JCacheFactory has been changed (https://hibernate.atlassian.net/browse/HHH-12702?jql=project%20%3D%20HHH%20AND%20fixVersion%20in%20(5.2.18%2C%205.3.0.Beta1%2C%205.3.0.Beta2%2C%205.3.0.CR1%2C%205.3.0

[2018-08-17 10:51] DanielFran commented on #8047
@jdubois To proceed with the PR I created my own branch https://github.com/DanielFran/jhipster/tree/spring-boot-2.1.0

Already identified an issue with JCache: see https://github.com/jhipster/generator-jhipster/issues/7783

[2018-08-17 14:21] richard-fairthorne opened #8106 "Users who did not get receive activation email can not log in"
##### **Overview of the issue**

When a user signs up, they are sent an activation email. If they do not receive it (for example if the mail server is down or it was filtered as spam), there is no way for that user to activate.

##### **Motivation for or Use Case**

When users sign up, they want to be able to login. If the activation email doesn't go through, there is no feature to resend it, and

[2018-08-17 14:33] jdubois commented on #8106
At the moment they need to way 2 or 3 days (I'm not sure) before being able to activate their account again, as their account will get purged. The other solution is to ask their administrator, who can activate the account manually.

We should just allow people to register again, if their email address hasn't been activated yet.

[2018-08-17 17:50] riaprocoumai commented on #6991
What is name of blue print of angular js ?

[2018-08-17 21:26] sendilkumarn commented on #8047
And we have to test `Cassandra` too

[2018-08-17 21:50] DanielFran commented on #8047
@sendikurmarn, it is in my todo list as soon as I have jhipster compiling...

[2018-08-17 23:59] DanielFran commented on #8047
And it is needed also to test couchbase...

[2018-08-18 00:00] VinodAnandan commented on #7992
@jdubois Using OIDC is the safest way to implement AuthN and AuthZ using the JWT token. OpenID Connect recommends different types of flows for different use cases. When it comes to JS SPA(Angular), "**implicit flow**" is recommended as it's a basic Web-based Relying party.

The JS SPA implicit flow with better security can be achieved using the "**Silent Renew**" process without impacting the "usa

[2018-08-18 01:12] JinnaBalu opened #8107 "UAA- Access Control: allowing access for /auth/api/account, as no access control policy has been set up for service: auth"
##### **Overview of the issue**

Unable to Login to the UAA from gateway

##### **Motivation for or Use Case**

Create UAA with one microservice and one gateway to test

##### **Reproduce the error**

[code]
use this `.yo-rc.json`

[code]

[code]
use this `.yo-rc.json`

[code]
Both applicatiions runs well, But login doesn't work and says as below screen shot

![image](https://user-images.githubuse

[2018-08-18 01:57] mraible commented on #7992
We already use OIDC in our OAuth 2.0 / OIDC authentication option. We use authorization code flow since it’s more secure than implicit flow. However, you can still use implicit flow if you want, you just need to add an @EnableResourceServer implementation. The React Native and Ionic modules for JHipster do this. JHipster for Ionic uses the Angular library you mentioned. It’s awesome!

[2018-08-18 03:13] ruddell commented on #8107
The issue here is that your UAA is named `auth`, and the gateway routes for logging in start with `auth` as well.  Based on the logs, the request is being routed to the UAA instead of the gateway.  It would work if your UAA is not named `auth`, I guess we should prevent this from happening

[2018-08-18 10:41] elientumba2019 opened #8109 "Can anyone please help me with this. i get this error when trying to run yarn start."
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: watch target/www ENOSPC
    at _errnoException (util.js:992:11)
    at FSWatcher.start (fs.js:1382:19)
    at Object.fs.watch (fs.js:1408:11)
    at createFsWatchInstance (/home/ntumba/Desktop/myprojects/angulars/running-for-brews/node_modules/webpack-dev-server/node_modules/chokidar/lib/nodefs-handler.js:37:15)
    at setFsW

[2018-08-19 00:14] ruddell opened #8111 "Sonar can't find TESTS-results-sonar.xml"
##### **Overview of the issue**
Following the [Code Quality docs](https://www.jhipster.tech/code-quality/), Sonar integration is failing:
`
[ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.4.1.1168:sonar (default-cli) on project sonartest: Error during parsing of generic test execution report '/private/tmp/jh/sonartest/target/test-results/jest/TESTS-results-sonar.x

[2018-08-19 06:36] #8014 closed

[2018-08-19 15:52] mraible commented on #7810
The workaround I mentioned above does not work. I'd like to solve this for my [21-Points Health](https://github.com/mraible/21-points) app that runs on Heroku. It seems the best way is to use [spring-data-jest](https://github.com/VanRoy/spring-data-jest). I'll start this today and see how far I get. Let me know if you think there's a better path!

[2018-08-19 18:07] ruddell commented on #8111
The command from the docs (`./mvnw clean test sonar:sonar`) deletes the `target` folder beforehand.  Even without the `clean`, the only item in `target/test-results/` is `coverage` for Java files.

It looks like the frontend tests aren't running.  If I run `yarn run test` first, then run `./mvn test sonar:sonar` the file `TESTS-results-sonar.xml` is present and Sonar succeeds.

[2018-08-19 18:15] jkutner commented on #7810
@mraible I think that's a good plan. There are a lot of environments where the Elasticsearch REST interface is required or preferred, so this would put JHipster is a better spot in general. Let me know if I can help.

[2018-08-19 19:06] VinodAnandan commented on #7992
Hi @mraible,

Thank you very much for your reply.

Sorry, I think I wasn't clear enough with my point. As OIDC enables a safer AuthN and Authz using the JWT without compromising  "usability", why are we considering the insecure implementation of JWT?

OIDC has multiple flows  (authorization code flow, implicit flow, hybrid flow) available to meet the most of the JHipster use cases.

Thanks,

Vinod

[2018-08-20 00:23] richard-fairthorne opened #8114 "Liquibase checksum issues after import-jdl"
##### **Overview of the issue**

I have to clean my H2 database after every database change on an existing entity. Each time I run:

[code]

Liquibase changesets are overwritten, causing checksum failures and stopping migrations from working.

##### **Motivation for or Use Case**

I have to run ./mvnw clean, and then repopulate my database every time i change existing entities. I'm not in producti

[2018-08-20 02:54] richard-fairthorne commented on #8114
After a quick dig through the generator source, I believe this bug may be in jhipster-core.

[code]

[2018-08-20 03:16] henri-tremblay opened #8117 "jhipster upgrade deletes all ignored files"
##### **Overview of the issue**

So I was migrating from a version to another. And my `.gitignore` is ignoring files like `/application.properties` which are not ignored by default by jhipster.

After migration, all these files were deleted.

##### **Motivation for or Use Case**

The ignore files should not be touched.

##### **JHipster Version(s)**

Was going from 4.14.4 to 4.14.5

##### **JHipst

[2018-08-20 03:25] henri-tremblay commented on #7783
@DanielFran I will have a look this week.

[2018-08-20 04:12] mraible commented on #7810
I was able to integrate Spring Data Jest and get everything working locally tonight. One cool thing I discovered is this library creates an embedded Elasticsearch server, so we could use it to restore the same behavior we had previously. I believe you could even run it with this mode on Heroku. However, that's probably not a good idea since it runs in the same JVM.

I was unable to get it to work

[2018-08-20 06:39] lzwill opened #8118 "string.match is not function"
##### **Overview of the issue**

I've used generator-jhipster to generate a front-end app with `--skip-server --auth=jwt --db=mssql` option and chose **React** as js framework, and **enable internationalization support**. Also I have another back-end service application(using `--skip-client` option) running there.
I logged in, and when i try to modify the data(such as inactive an user or change em

[2018-08-20 06:47] lzwill commented on #8118
If I don't **enable internationalization support**, this error won't appear, and all functions work correctly.

[2018-08-20 07:52] #8031 closed

[2018-08-20 08:05] #8107 closed

[2018-08-20 08:47] zapphyre commented on #2270
I am still experiencing this issue.
It happens when I deploy my jhipster backend on the tomcat 7.x.
.you-rc.json:
[code]

I am using maven and I have marked `javax.websocket-api` as provided for both dev and prod builds.

I need to resolve this.

[2018-08-20 09:07] jdubois commented on #2270
@zapphyre this ticket is 3 years old, so many things have changed since that time, it's just not possible you have the exact same issue... Please open up a new ticket if you do have a problem

[2018-08-20 09:08] jdubois commented on #2270
@zapphyre oh, and don't deploy with Tomcat, if you're doing Websockets that's asking for trouble

[2018-08-20 09:39] zapphyre opened #8119 "ClassCastException: org.apache.tomcat.websocket.server.WsServerContainer cannot be cast to javax.websocket.server.ServerContainer"
##### **Overview of the issue**

A class cast exception happens when .original war package is being deployed on the Tomcat 7.x container.
Application uses WebSockets with SockJS.
I have marked `javax.websocket-api` as a provided dependency for both profiles.

error:
[code]

##### **Motivation for or Use Case**

as per documentation:
`It can also be deployed on an application server, but as it incl

[2018-08-20 09:45] zapphyre commented on #2270
okey, I have created a [similar one](https://github.com/jhipster/generator-jhipster/issues/8119#issue-352057298).
some java hostings are just more suited for tomcat deployments. I have builded my backend on jHipster and at the end it's still the java app.
when I run this backend just with `./` it runs out of memory quickly and process terminates itself.
I think it will be more prone to this kind o

[2018-08-20 09:53] jdubois commented on #8119
For Websockets it's bit more complex than normal Web apps, as you will need to use the specific Websocket implementation from the app server - I am really not sure this can work easily, and would definitely recommend not using Tomcat here.
From the Spring Websockets documentation, you need to use "Tomcat 7.0.47+", which version are you using exactly?

[2018-08-20 10:04] riaprocoumai commented on #5575
https://github.com/swaechter/angularj-universal

[2018-08-20 10:16] zapphyre commented on #8119
it's Tomcat 7.0.90 and I also tried with 8.5.32 which is the same.
without Tomcat the app gets terminated because lack of memory even through I have set `JAVA_OPTS="-Xms32m -Xmx128m -XX:MaxMetaspaceSize=128m"`

[2018-08-20 11:16] richard-fairthorne commented on #8114
Here's what I've figured out as it goes:

Tracking: jhipster/generator-jhipster

leads to:

- jhipster-core
- module/index.js (41)
- lib/jdl/jdl_importer.js (143 or 154)
- lib/export/jhipster_entity_exporter.js (44)
- function exportedEntitiesInApplication(passedConfiguration)

I was hoping this was just about creating a new file name, but it doesn't appear that simple. Hopefully that's helpful..

[2018-08-20 13:36] jkutner commented on #7810
@mraible is that from searchbox? I wonder if they're rate-limiting in the free addon.

[2018-08-20 13:40] mraible commented on #7810
@jkutner Yes. It seems they are rate limiting. From googling, it seems to be 6 requests per second. If I upgrade to micro ($9/month), it still happens. If I upgrade to small ($19/month), it works.

[code]

[2018-08-20 13:46] mraible commented on #7810
@jkutner I tried it with [Bonsai Elasticsearch](https://elements.heroku.com/addons/bonsai) and it works with the sandbox (free) tier! :)

[2018-08-20 13:50] jkutner commented on #7810
@mraible as a means of reducing the number of requests, maybe try setting `multiThreaded=false` in the spring-data-jest config? Or reduce `maxTotalConnection`, which looks to be [50 by default](https://github.com/VanRoy/spring-data-jest/blob/master/spring-boot-starter-data-jest/src/main/java/com/github/vanroy/springboot/autoconfigure/data/jest/ElasticsearchJestProperties.java#L18)

[2018-08-20 13:51] jkutner commented on #7810
@mraible re: Bonsai, that's even better.

[2018-08-20 13:55] mraible commented on #7810
Bonsai definitely seems better. They send you emails with helpful
information when you signup.

On Mon, Aug 20, 2018 at 7:51 AM Joe Kutner <notifications@github.com> wrote:

[2018-08-20 14:41] jkutner commented on #7810
@mraible i can update the generator rn

[2018-08-20 14:53] #7888 closed

[2018-08-20 15:39] #8118 closed

[2018-08-20 15:50] PierreBesson commented on #8099
@Akuka Does the issue arise only because you are doing an upgrade or are you able to reproduce it on a newly geneated app ?

If it is only linked to the upgrade, I don't think we can justify investing the team time on this issue as upgrade problems can be overly complex and specific (and most of the time caused by the user's custom code).

[2018-08-20 15:51] PierreBesson commented on #7124
I suggest that we bump this bounty to 200$ as the issue as been opened for 6 months.

[2018-08-20 16:01] PierreBesson commented on #7496
I have actually tried to make this work a few weeks ago but was completely stuck. It's hard to make it work in our case as the registry and config server are embedded in the same app.

This feature would also require some changes to the registry as for example, the registry does not currently registers itself. More over, the Eureka does not registers its server replicas as regular eureka instances

[2018-08-20 16:26] #8111 closed

[2018-08-20 17:33] Akuka commented on #8099
Newly generated app

On Mon, Aug 20, 2018, 18:50 Pierre Besson <notifications@github.com> wrote:

[2018-08-20 19:05] MathieuAA commented on #8114
@richard-fairthorne Hi, the smallest update causes a checksum change, and the import-jdl subgen regenerates (and overwrites) everything **by force by default**. That's why you have this issue. I've tried to reproduce your case with the standard Questions & Answers (the "normal" way of generating things), and the same things happen.

[2018-08-20 19:10] tsblackboy commented on #3725
Config full security

[2018-08-20 19:11] tsblackboy commented on #3725
@RunWith(SpringRunner.class)
@SpringBootTest(classes = ...)
@ContextConfiguration
@WebAppConfiguration
public class UserResourceIntTest {

.....
@Autowired
    FilterChainProxy springSecurityFilterChain;

this.restUserMockMvc = MockMvcBuilders.standaloneSetup(userResource)
            .setCustomArgumentResolvers(pageableArgumentResolver)
            .setControllerAdvice(exceptionTranslator)

[2018-08-20 19:44] gmarziou commented on #7496
Have you tried setting multiple URLs in the spring.cloud.config.uri property?

https://cloud.spring.io/spring-cloud-config/multi/multi__spring_cloud_config_client.html#_specifying_multiple_urls_for_the_config_server

[2018-08-20 19:55] PierreBesson commented on #7496
Oh no and this is a new feature but it could solve the problem ! Nice find.

[2018-08-20 19:59] gmarziou commented on #8119
Well I would rather spend my time analyzing a memory dump to find the root cause of these out of memory errors. For instance, one of my colleague had such issues because of metrics for RestTemplate because he used to build URIs by concatenating parameters rather than using templated URIs.

[2018-08-20 20:40] gmarziou commented on #7496
My app is very far behind Spring Cloud latest version so I may rather use DNS load balancing.

[2018-08-20 20:48] zapphyre commented on #8119
you know, I'm really not doing anything special in that backend. A few REST endpoints, SimpleMEssageBroker for SocketJS over Stomp and I even turned off L2 caching... Hosting may be the weak point here, but still... not being able to deploy on the application server that's a considerable downside.

[2018-08-20 21:11] ruddell commented on #8119
I see the issue on Tomcat 7 but not Tomcat 8.  I don't think we should spend time supporting old versions of Tomcat since v9 is the latest, plus this seems to be a general Tomcat+Websocket issue and not a JHipster-specific issue.

You can set the JVM parameters to limit memory when running the regular WAR file, `JAVA_OPTS="-Xms32m -Xmx128m -XX:MaxMetaspaceSize=128m" ./target/backend-0.0.1-SNAPSHOT

[2018-08-20 21:15] ruddell commented on #8114
Similar to https://github.com/jhipster/generator-jhipster/issues/5954 and the (closed) PR https://github.com/jhipster/generator-jhipster/pull/6016, that issue never was fully solved but now only changed entities are regenerated when importing JDL.

What I recommend is reverting the changelog files and running `./mvnw liquibase:diff` to generate a new changelog.

[2018-08-20 21:32] zapphyre commented on #8119
And can you confirm it's working on Tomcat 8? I have tried and it was not.
As you can see in my previous comment I have tried that, but I exported it via `.bashrc` not directly passed into the command.

[2018-08-20 21:40] ruddell commented on #8119
I confirm it works with Tomcat v8.0.53 (JRE 8), tested with their Docker image.  Just copied the `.war.original` to the webapps folder and websockets work as expected.

[2018-08-20 23:56] richard-fairthorne commented on #8114
I'm not sure I understand ho to "revert the changelog files". Are you suggesting that I should commit the changelogs every time before I run import-jdl, then use liquibase:diff to create a new one?

If this logic works, could it be implemented wherever the changelog files are generated in the first place?

It would be like this:

- instead of overwriting the old changelog, create a new *temporary*

[2018-08-20 23:58] richard-fairthorne commented on #8114
If this logic in fact works, I'd be willing to write a patch for it.

[2018-08-21 00:10] ruddell commented on #8114
Yes, revert means reset to before the changes.

If we automated `liquibase:diff`, we would be making a lot of assumptions (the database is set up locally and up-to-date, the project has been compiled beforehand, and the developer chose mysql or postgresql in dev).  I think the PR I linked above does it the better way of writing the changelog during generation, which would work with all database ty

[2018-08-21 03:15] vishal423 commented on #8086
@PierreBesson, we still have 2 issues to be fixed. I have updated ticket with what's fixed at moment.

[2018-08-21 07:49] anthonyrichir opened #8126 "Impossible to configure Spring Cloud Config Server"
##### **Overview of the issue**

When using the docker-compose subgenerator, the generated jhipster-registry.yml has commented lines for using Spring Cloud Config Server, but uncommenting those lines and remove the native profile doesn't work. It seems that it's not aligned anymore with the current way to use Spring Cloud Config.
[See this discussion on Stackoverflow](https://stackoverflow.com/que

[2018-08-21 08:06] PierreBesson commented on #8126
@anthonyrichir It seems the `src/main/docker/jhipster-registry.yml` has the correct comments, however when generating with docker-compose it's the old one. Arguably we should use the same template for both of those files.

[2018-08-21 08:35] jdubois commented on #8119
I would be very surprised that your OOM is solved by migrating to Tomcat. That would mean you have the issue in Undertow, and from my experience the odds are much more likely that the issue is in your code, and not in Undertow's code.

Now for Tomcat support: I'm trusting @ruddell that it works with Tomcat 8, and that's why I'm closing this. We're not going to support old versions anyway - nobody

[2018-08-21 08:35] #8119 closed

[2018-08-21 08:47] Fydon opened #8127 "Update node-sass to 4.9.3 to resolve 5 vulnerabilities"
##### **Overview of the issue**

NPM reports multiple vulnerability, where updating node-sass to 4.9.3 will resolve 5 moderate vulnerabilities.

Moderate        Memory Exposure
Package         tunnel-agent
Dependency of   node-sass [dev]
Path            node-sass > request > tunnel-agent
More info       https://nodesecurity.io/advisories/598

Moderate        Prototype pollution
Package         hoe

[2018-08-21 09:01] Fydon opened #8128 "Update protractor to 5.4.0 to resolve 2 vulnerabilities"
##### **Overview of the issue**

NPM reports multiple vulnerabilities, where updating protractor to 5.4.0 will resolve 2 high vulnerabilities:

High            Denial of Service
Package         https-proxy-agent
Dependency of   protractor [dev]
Path            protractor > saucelabs > https-proxy-agent
More info       https://nodesecurity.io/advisories/593

High            Arbitrary File Write via

[2018-08-21 09:10] Fydon opened #8129 "Update browser-sync to 2.24.6 to resolve 5 vulnerabilities"
##### **Overview of the issue**

NPM reports multiple vulnerability, where updating browser-sync to 2.24.6 will resolve 5 low vulnerabilities:

Low             Regular Expression Denial of Service
Package         debug
Dependency of   browser-sync [dev]
Path            browser-sync > connect > debug
More info       https://nodesecurity.io/advisories/534

Low             Regular Expression Denial o

[2018-08-21 09:11] jdubois commented on #8127
Could you do a PR for this?

[2018-08-21 09:12] jdubois commented on #8128
Could you do a PR for this?

[2018-08-21 09:12] jdubois commented on #8129
Could you do a PR for this?

[2018-08-21 09:16] Fydon commented on #8129
@jdubois I plan to, but saw the commit message requirements listed an issue that it resolves, so am creating the issues first and then will create the pull requests to resolve.

[2018-08-21 09:36] sunyuyangg555 opened #8130 "Cannot login as uaa/api/account return 401 code"
##### **Overview of the issue**

Can not login as http://localhost:9000/uaa/api/account return 401 invalid token.
I did not modify any code after it was automatically generated.
this is my test repo [https://github.com/sunyuyangg555/jiffy](url)

1、 Gateway
##### **JHipster Version(s)**
[code]
##### **JHipster configuration, a `.yo-rc.json` file generated in the root folde

<details>
<summary>.yo-r

[2018-08-21 09:57] jdubois commented on #8130
Your `.yo-rc.json` is clearly wrong, as you have no database selected -> with no database, quite obviously you won't have a users table, and nothing will work...

I'm closing this because this just doesn't make any sense, and I've just tested with the command line as well as JHipster Online and we don't provide that combination.

How did you get that `.yo-rc.json` file? Did it write it yourself? M

[2018-08-21 09:57] #8130 closed

[2018-08-21 10:05] vishal423 commented on #8127
there is another PR #8121 in WIP to move to dart-sass.

[2018-08-21 11:35] boandriy opened #8131 "Changing the users image url"
Hello,
I am trying to use picture stored on HD as a profile picture of jhipster user, I'm having troubles with the url. I have tried :
"file:///C:/Users/ab/Documents/myApp/uploads/profile_picture.png"  - Not worked.

Also tryed to place profile_picture in the same folder as the navbar.components.html and changing the url to just: "profile_picture.png", but the image did not appear on the navbar. H

[2018-08-21 12:00] jdubois commented on #8131
Sorry but this is not a bug in JHipster, it's just you having trouble with some custom code (and it's bit complicated, I agree), so this is why I'm closing this.

You should better post this on StackOverflow, but here is already 2 pointers:

- Storing user images on the hard drive is a bad idea, you should store them in the database, like we provide by default.
- With Angular, we have a specific `

[2018-08-21 12:00] #8131 closed

[2018-08-21 12:01] jdubois commented on #8131
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-08-21 12:05] Fydon opened #8132 "Update serve-index to resolve a vulnerability"
##### **Overview of the issue**

NPM reports multiple vulnerability, where updating serve-index with the following command will resolve 1 vulnerability: `npm update serve-index --depth 2`

Low             Regular Expression Denial of Service
Package         debug
Dependency of   webpack-dev-server [dev]
Path            webpack-dev-server > serve-index > debug
More info       https://nodesecurity.i

[2018-08-21 12:11] Blackdread commented on #8114
Same for issue #8086
It is alright to revert the changes of the liquibase after upgrade, just do liquibase diff if some parts changed.
and the option

is not a solution.

[2018-08-21 12:16] boandriy commented on #8131
Thanks,
sorry for wasting time.

[2018-08-21 12:38] vishal423 commented on #8086
FYI: I was able to fix Liquibase checksum issues with custom change sets like below on top of 4.14.5 that I used before.
[code]
Re-writing change set for all changes done post 4.14.x would be much time consuming. I am closing this point, but, would love to have clean migration support.

[2018-08-21 12:42] jdubois commented on #8086
@vishal423 yes your changelog looks good, and I should have done it for helping people migrate, but I just didn't have the time.... it's like many other things on JHipster, I'm just lacking the time to do everything. I'm doing a lot of this on my free time, and I have a lot of other personal do to, so typically annoying stuff like this isn't done...

[2018-08-21 13:40] jdubois opened #8134 "Generate a self-signed SSL certificate for developement"
This has been discussed with @PierreBesson - we should generate a self-signed certificate by default, so we can help people use SSL (and HTTP/2) in development.

As I just saw we already did that for UAA, I'm going to generalize that code. Please note it won't be perfect yet, as it will also need to be configured for Webpack and BrowserSync.

[2018-08-21 13:54] jdubois commented on #8134
Update, here is how to do it with Webpack dev server:

[code]

To be more precise, you need to use https in the `target`, and add `changeOrigin: true`. Then Webpack dev server uses unencrypted HTTP, so that also works with BrowserSync (it's the same for BrowserSync, in the end).

I'm not going to configure this now, as that means we would need to have HTTPS by default, and at the moment I'm just h

[2018-08-21 13:57] #8134 closed

[2018-08-21 14:52] #8127 closed

[2018-08-21 14:58] jdubois commented on #7932
I think we all agree on replacing moment.js, but nobody has the time to work on this, and this is also going to be quite a burden for our users, as they will have a big migration cost.

That's why I think we should close this, and maybe talk about this again when we plan our next major release.

[2018-08-21 14:58] #7932 closed

[2018-08-21 15:01] jdubois commented on #7944
So even with the $100 bounty this is still stuck, as it already happened with #4079

This is why I'm closing this -> if anybody is motivated, I will gladly re-open it and add back the label, of course.

[2018-08-21 15:02] jdubois commented on #8029
This has been opened for 1 month and we are still waiting for information? Let's close this and not add too much clutter in the bug tracker.

[2018-08-21 15:02] #8029 closed

[2018-08-21 15:05] jdubois commented on #7999
As always, no time to do this, but it doesn't look like too many people need it.... As this would also add a burden for existing users (as they will need to migrate), I don't think this is worth it for the moment.

Maybe we could discuss this again for our next major release (then, breaking stuff wouldn't be as important).

So I'm closing this, but my documentation above is quite complete, so if a

[2018-08-21 15:05] #7999 closed

[2018-08-21 15:10] erikyuzwa commented on #7999
agreed @jdubois - thanks for your patience in keeping this open as well as your insight on it. Once I've dealt with all my fires (which led me to making the original issue), I'd love to make a contribution if I can. :+1:

[2018-08-21 15:15] jdubois commented on #7999
Oh you're welcome @erikyuzwa - this is probably a good first PR to do. Even if I closed the ticket, feel free to do it - maybe we will merge it with the next major release only, but anyway I'm sure this is what we should do at some point in the future, using the hashbang in URLs should be a thing of the past.

[2018-08-21 15:16] jdubois commented on #7767
I just tested it, and probably thanks to #7768 you can indeed use a gateway with no cache at all. So this is already done! Thanks @saturnism

[2018-08-21 15:16] #7767 closed

[2018-08-21 15:57] jdubois commented on #7699
I would do a mix: I prefer the "global min date", but if you go to the middle ages it's really weird. I'm going to take your code and put a `moment().year() - 100` like you did for the "delta of 100".
And anyway, if people want to customize this, this will now be trivial to do.

[2018-08-21 16:00] PierreBesson commented on #8134
@jdubois, Some tools like Mkcert (https://github.com/FiloSottile/mkcert) are able to automatically import the certificate in the browser. That would be super cool to have.

I had the idea of creating an ssl spring profile to start the server in "ssl mode" (I have the code somewhere on my machine). We could create a specific `yarn start-ssl` for the frontend as well.

On the keystore generation cod

[2018-08-21 16:03] jdubois commented on #7699
Fixed #8137

[2018-08-21 16:03] #7699 closed

[2018-08-21 16:09] jdubois commented on #8134
@PierreBesson  as this is just a dev certificate, which is not validated by a third party (it is only self-signed), I don't think there could be a security risk in storing this into the app, but maybe some users will find that what we do is a great idea and will replace it with a real certificate... I'm not sure about that. Do you think there is another, higher risk?

And for TLS you are right, I

[2018-08-21 16:11] #8128 closed

[2018-08-21 16:20] jdubois commented on #8117
Files that are cleaned up are configured [here](https://github.com/jhipster/generator-jhipster/blob/v5.2.1/generators/upgrade/index.js#L87).

Unfortunately this is just a list of files, and I'm not sure we have the tooling to read a `.gitignore` file and use it correctly to ignore those files....

Maybe the best solution would be to add in the documentation that this must be done on a separate pro

[2018-08-21 17:36] henri-tremblay commented on #8117
I think we should keep `application.properties` as well. It is used to locally overload some Spring configuration.

From there, documenting about the deletion seems a good idea.

[2018-08-21 17:46] gmarziou commented on #8117
Could you explain why you use `application.properties`?
What does it bring that you cannot achieve with `src/*/resources` ?

[2018-08-21 17:48] henri-tremblay commented on #8117
Because it contains passwords and keys that I need to connect to third-parties when playing on local. However, I obviously don't want them to be checked-in.

[2018-08-21 18:08] gmarziou commented on #8117
I usually do this using env vars or through command line options which feel safer to me and come earlier in the [Spring Boot property source order.](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config).

I was unable to make it work with a gateway so I suspect it does not work with Spring Cloud Config Server.

Also your PR

[2018-08-21 18:12] jdubois commented on #8117
@henri-tremblay I'm doing the same thing as you, but with a `.yml` file in same directory as my executable WAR file. That way I'm sure it's never mixed with the rest of the application, it's not even in the project!

[2018-08-21 18:13] henri-tremblay commented on #7783
So. We can remove the `NoDefaultJCacheRegionFactory` and replace it with a configuration `hibernate.javax.cache.missing_cache_strategy=fail` to keep the current configuration. Hibernate uses `create-warn` as a default right now. To have a "still works but warns you"behaviour to be nice to their users. That could work as well depending on how hard we want to be on it.

It means that `BeanClassLoade

[2018-08-21 18:17] henri-tremblay commented on #8117
But you never launch your application from your IDE? In dev? I even have integration tests using these. By default, I am faking the third-party server. But when needed, I really connect to it.

It could be an `application.yml` but the Spring Boot documentation wasn't mentioning that `application.yml` would work. But I must confess I never tried. We should ignore both if it does.

[2018-08-21 18:20] jdubois commented on #8117
@henri-tremblay in my IDE this is configured with the IntelliJ "run" screen. It even has auto-completion of those properties, so it's much easier than a file.

[2018-08-21 18:27] #8129 closed

[2018-08-21 18:32] henri-tremblay commented on #8117
Interesting. Good to know. But then, if you want to reuse the same properties in Maven? (which I do when running integration tests)

[2018-08-21 19:37] jkili commented on #7906
Just stumbled across this issue after spending a lot of time trying to work out where all the spring social code had gone after an upgrade from 4.14.4. Can I suggest you add it to the release notes for 5.0 so that the next person doesn't get caught out like I did?

Now I am pulling all the old spring social code and fitting it manually.

[2018-08-21 19:40] jdubois commented on #7906
Sorry @jkili !! Normally the documentation is updated everywhere, but we might have missed stuff, the website is so big now... Indeed I'm not sure it's in the release notes, I'll check this tomorrow.
I hope we can get it back at some point: it should work well with our current OAuth2 code, and hopefully it will be even better with the upcoming Spring Security 5. It's just supposed to be another OA

[2018-08-21 20:43] ruddell commented on #8130
@jdubois There's no glitch, the gateway in a UAA setup can select `no database`, there are two `.yo-rc.json` files in the main post.

I couldn't reproduce though.  I cloned your project, ran it, and was able to log in. `http://localhost:9000/uaa/api/account` will always return 401 by default until you log in.

[2018-08-21 20:52] jdubois commented on #8130
Of course, thank you so much @ruddell - I didn't notice there were 2 `.yo-rc.json`, and of course I looked at the wrong one!!
And thanks also for your analysis: yes it first returns a 401, that's normal as you are not logged already (that's a comment for readers, not you @ruddell , who obviously knows that very well).
So it's all good!

[2018-08-21 20:58] gmarziou commented on #8117
Env variables work with maven too.

[2018-08-22 00:06] DanielFran commented on #8047
@jdubois I created this PR https://github.com/jhipster/jhipster/pull/88, but we have some impacts in this project.

Can you please help how now I can proceed with those changes for generator without a branch?

Thanks

[2018-08-22 00:09] DanielFran commented on #7783
Hi @henri-tremblay.

Thanks for your feedback.

I commited my changes in https://github.com/jhipster/jhipster/pull/88 and included your suggestion.

Do you want I remove it and you PR yourself those changes?

[2018-08-22 01:16] sunyuyangg555 commented on #8130
Thank you very much for your quick reply. I know  it first returns a 401, The problem I am having is after  successful login.
![4hz mt4rosj j7lrdk_ w25](https://user-images.githubusercontent.com/5210372/44436573-85c3d680-a5e8-11e8-86db-20af1c4228fa.png)
The following is the corresponding login success.

![123](https://user-images.githubusercontent.com/5210372/44436679-0b478680-a5e9-11e8-83cc-01db5

[2018-08-22 02:12] henri-tremblay commented on #8117
How do you pass them? But it seems redundant to have them twice (Maven and IDE).

I will propose an alternative: Can we imagine a section in .yo-rc.json to add some more ignored files? Something to add afterwards, not in the wizard questions

[2018-08-22 02:35] ruddell commented on #8130
I was able to reproduce this by setting the ENV variables for Okta ([from the docs](https://www.jhipster.tech/security/#okta) for that authentication type).  Make sure you don't have any Spring OAuth config variables defined in your environment, you can see with `printenv | grep SECURITY`

[2018-08-22 03:30] vishal423 commented on #8117
Another solution would be to externalize such list to a file say '.jhipsterignore' and by default should be populated with current set from `_cleanUp` and generator should respect this.
`const filesToKeep = ['.yo-rc.json', '.jhipster', 'node_modules', '.git', '.idea', '.mvn'] . `

This should allow end users to add more files, directories to list that they have added on top of project generated vi

[2018-08-22 03:36] sunyuyangg555 commented on #8130
Yes, you are right, I do set the ENV variables for Okta! Now, I unset those variables, everything works fine, Thank you very much!

[2018-08-22 05:26] antonioortizpola opened #8142 "Easy customization for top menu to other layout"
##### **Overview of the feature request**

It would be great if you could make the generated app more easy to customize by offering an easy way to change the header menu bar to something else.

The easiest way to do this could be rename the `header` folder and the inside components to something more generic like `nav-bar` or `menu`, this way the end user could change the inside code to handle othe

[2018-08-22 06:04] ivangsa commented on #7944
This will be done,
its just summer time, no time to be indoors..

[2018-08-22 08:39] DanielFran commented on #7783
Thanks for all your comments, I made the changes.

[2018-08-22 08:50] dkirrane opened #8143 "jhipster kubernetes doesn't generate keycloak yaml"
##### **Overview of the issue**

I generated an app with keycloak for oidc and postgres for db.
I then used the kubernetes subgenerator. It generates the yaml for the app & postgres but not keycloak

##### **Motivation for or Use Case**

Kubernetes integration

##### **Reproduce the error**

Run
[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

JHipster Dock

[2018-08-22 08:56] jdubois commented on #8143
Could you follow the guidelines and post your config, so I can try to reproduce?

[2018-08-22 08:56] jdubois commented on #7944
Thanks @ivangsa , I'm re-opening!

[2018-08-22 08:59] jdubois commented on #8117
@vishal423 it would be a bit like the `.gitignore`... So let's try to have just one file if possible.

I just found https://www.npmjs.com/package/parse-gitignore and this seems to do the job -> would everybody be fine (especially @henri-tremblay ) to use this to ignore files? I think that's a good solution

[2018-08-22 09:02] jdubois commented on #8047
Here is how I work:

- I do snapshots of jhipster/jhipster locally using `mvn install`
- I reference those snapshots in jhipster/generator-jhipster so my projects use it

And when I need to test "for real" I also deploy those snapshots to https://jhipster.jfrog.io/jhipster (but that's more complex, let's not do this right now). So if you can just test locally -> I'll then merge your PR in jhipster

[2018-08-22 09:18] jdubois commented on #7906
Documentation updated at https://github.com/jhipster/jhipster.github.io/commit/aa9b7f0e7dc72442b8cdda6b3d562b04797b76f4 so I'm closing this.

@jkili if you have time to test with our current OAuth2 code, please send us some feedback - you can even create a specific PR for that.

[2018-08-22 09:28] jdubois commented on #8132
I totally understand this makes the generated project look bad, but then if it's a dependency on webpack-dev-server there shouldn't be any issue at all once the project is build... Shouldn't this be fixed with a new release of webpack-dev-server?

[2018-08-22 09:30] vishal423 commented on #8117
@jdubois, yes, it should be like `.gitignore`, however, both are not same. You may require version control of few files like `.yo-rc.json`, `.jhipster` and not for few like `node_modules` `.mvn`.

Since, cleanup is specific to Jhipster and not tied to source control, IMO, we should separate it.

[2018-08-22 09:43] tubbynl commented on #8047
@DanielFran  migrating towards Micrometer is something that can already be initiated ahead? (using 2.0.x )

[2018-08-22 09:48] jdubois commented on #8047
@tubbynl no, work on Micrometer hasn't started yet. This would be huge, I don't expect it to be done soon - next time I have trainee, this could be is task for 6 months.

[2018-08-22 09:55] tubbynl commented on #8047
yes, i can imagine that it also impacts al lot, unfortunately i also don't have that kind of resources available

[2018-08-22 10:02] jdubois commented on #8132
I'm upgrading webpack-dev-server as it seems to solve the issue
@Fydon how do you scan for those vulnerabilities? I'm sorry but I can't reproduce, so I can't test - I'm just reading the `yarn.lock` file to try to understand if it's fixed

[2018-08-22 12:07] jdubois commented on #8132
So my upgrade seems to do the trick, and this is why I'll close this with my commit, but @Fydon if you can test it's most welcome, as I can't reproduce it like you

[2018-08-22 12:08] #8132 closed

[2018-08-22 12:44] jdubois commented on #8117
OK then, but this all sounds very complex.
If we now need to work with both .gitignore (as the upgrade process uses Git) and a new .jhipsterignore file, I'm afraid this is just too much work. Nobody works on the upgrade part, mainly because it's already too complex.

So I'd like to stick to the original idea: let's just document that you need to clone your project in a fresh directory. So there wo

[2018-08-22 12:55] jdubois commented on #8142
Yes, at the moment if you change the layout too much, at some point you will just totally replace what we provide, and that's fine.

You will lose the needles: those also, at some point, won't be able to work anymore. Note that if you change everything yourself, you probably won't want the needles anyway, as you're just going to code everything manually: this is perfectly normal, and totally expec

[2018-08-22 13:06] jdubois commented on #7810
I can't believe all this:

- Not being able to work with an embedded version of Elasticsearch is really annoying.
- Not being to use the REST API is crazy, that's just the whole idea of Elasticsearch from the start.

So if Spring Data Jest solves both of those issues, let's use it. But I'm worried to add one more library, with probably a lot of dependencies. Besides, the project isn't very popular

[2018-08-22 13:15] mraible commented on #7810
FWIW, here's the dependency graph from my 21-Points Health [pull-request](https://github.com/mraible/21-points/pull/38).

[code]

It looks like I can improve some dependencies based on this.

[2018-08-22 13:55] henri-tremblay commented on #8117
Document it is ok I guess but not pretty. I don't want it to become overly complicated for nothing either. Parsing the `.gitignore` seems a good idea if it's easy to do. Right now it feels that you just need to keep '.yo-rc.json', '.jhipster', '.mvn'` on top of the `.gitignore`. No?

[2018-08-22 14:25] jdubois commented on #8114
For me the process is that:

- You develop using "import-jdl" until you are happy with your code: during that time, you keep overwriting your Liquibase files because you're working on them. Otherwise you would end up with a lot of changelogs.
- Once you have commited your changelog, if you want to modify your entities, you either create a new changelog manually (no JHipster at all), or use "liquib

[2018-08-22 14:27] jdubois commented on #8114
I'm not totally sure about the "revert changelog" part - if you find a good workflow, don't hesitate to propose it as a new feature request + PR.
In the meantime I'm closing this because that's not really an error.

[2018-08-22 14:27] #8114 closed

[2018-08-22 14:42] depzor opened #8144 "Application run failed - Error creating bean with name 'feignRetryer'"
##### **Overview of the issue**

When running the app:

`2018-08-22 14:24:43.207  WARN 1 --- [           main] c.n.c.sources.URLConfigurationSource     : No URLs will be polled as dynamic configuration sources.
my-app_1  | 2018-08-22 14:24:44.789  WARN 1 --- [           main] s.c.a.AnnotationConfigApplicationContext : Exception encountered during context initialization - cancelling refresh attempt

[2018-08-22 15:31] jdubois commented on #8144
Please could you follow the project guidelines, so we could try to reproduce? It's not possible for us to work like that.

Anyway I did a quick Google search, as you have a `java.lang.NoSuchFieldError`, and this seems to be your issue: https://github.com/spring-cloud/spring-cloud-netflix/issues/2697

-> if you had given your `.yo-rc.json` as requested in the guidelines I could have better tested t

[2018-08-22 15:31] #8144 closed

[2018-08-22 15:45] depzor commented on #8144
@jdubois I have added the .yo-rc.json

[2018-08-22 15:47] jdubois commented on #8144
Thanks! And it's an old JHipster version, so you might have an old Feign release.... Let me test with the current master

[2018-08-22 15:50] jdubois commented on #8144
@depzor I don't get it, `feign-httpclient` is not in the dependency tree of your application, did you add it yourself? Or maybe this changed with JHipster 5

[2018-08-22 15:52] jdubois commented on #8144
I just tested with your JHispter version, `feign-httpclient` is also not there, how did you get it?

[2018-08-22 16:01] depzor commented on #8144
Ah, I have found something:
I see that I have included netflix feign-gson dependency:
<dependency>
            <groupId>com.netflix.feign</groupId>
            <artifactId>feign-gson</artifactId>
            <version>8.11.0</version>
        </dependency>

Which also has a dependency with feign-core.jar
- com.netflix.feign:feign-core:jar:8.11.0:runtime

This version seems to conflict with:
io.gith

[2018-08-22 16:04] jdubois commented on #8144
Oh OK, so that's not our fault then :-)

[2018-08-22 16:05] jdubois commented on #8070
As this has been labelled "waiting for information" for 12 days, I'm closing this, let's not keep incomplete bug reports for too long, they clutter the bug tracker.

[2018-08-22 16:05] #8070 closed

[2018-08-22 16:09] jdubois commented on #7739
@mraible concerning node-sass the very good news is that it's going away in #8140 (what he pain this thing was!!!). So no more issue very soon.

As this has been opened for 1.5 months with no more work, I'm closing this -> @jstrachan if you need help just ping me. One good solution would be that you come to one of our "JHipster days" at Ippon. You will be with a big part of the core team, includin

[2018-08-22 16:09] #7739 closed

[2018-08-22 16:11] jdubois commented on #7675
As this has been opened for 3 months I'm closing this: either those use case work, or nobody cares for them :-)

Anyway, if one of those fails, it should now be a specific ticket, as everything is released.

[2018-08-22 16:11] #7675 closed

[2018-08-22 16:41] mraible commented on #7739
FWIW, I was able to get Spring Boot + Angular working and wrote a blog post about it.

https://developer.okta.com/blog/2018/07/11/ci-cd-spring-boot-jenkins-x-kubernetes

[2018-08-22 17:17] antonioortizpola commented on #8142
I know that is the idea, and I totally agree, Jhipster is the base, you can start from there, I am already changing the validation part of the client to handle some custom components and of course i am not expecting to change the generator to fix my needs.

I do not know if a code example could be more clarifying, i will try to explain me better, but if you think an example is necessary i can uplo

[2018-08-22 19:07] hdurix opened #8146 "[@Lob] [String] [PostgreSQL] Issue with Large Objects in auto-commit mode"
##### **Overview of the issue**

When using PostgreSQL (at least), creating a String field with the annotation `@Lob` triggers a bug when getting the entity from the database. A `PSQLException` is thrown: `Large Objects may not be used in auto-commit mode.`.

Example of Java code:
[code]

<details>
<summary>Complete stack trace</summary>
<pre>
<code>
Exception in com.mycompany.myapp.web.rest.Place

[2018-08-22 19:32] hdurix opened #8147 "[Protractor] Test that the entity can be displayed after creation"
##### **Overview of the feature request**

As explained in #8146, [no assert](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs#L143) is done for checking that the entity can be displayed after being created.

##### **Motivation for or Use Case**

This is important as we don't detect that an ent

[2018-08-22 20:41] gmarziou commented on #8117
There are several node modules for parsing .gitignore files, this could help.

[2018-08-23 03:20] Blackdread opened #8148 "Cache statistics are not sent by back-end in metrics (always none)"
##### **Overview of the issue**

Since 5.0.0 of jhipster, cache statistics are not sent by back-end in metrics (always none).
For an application, we did upgrade from 4.14.1 to 5.0.1 (then later 5.2.1) and saw that cache statistics are always empty (see screenshot).

Before upgrade, it was working without problem.

![no-cache-statistics-jhipster](https://user-images.githubusercontent.com/3595693/44

[2018-08-23 03:52] #7810 closed

[2018-08-23 06:35] deepu105 commented on #8142
Can you do a PR with your proposal so that we can understand better

On Wed, 22 Aug 2018, 7:17 pm Antonio Ortiz Pola, <notifications@github.com>
wrote:

[2018-08-23 07:01] Fydon commented on #8132
@jdubois Good point about this being dev only. Come to think of it all the issues I raised were for development dependencies, which is why Sonar and Github haven't alerted about them.

`npm install` informed me of the issue and then I used [npm audit](https://docs.npmjs.com/cli/audit) to provide the details. npm is good in that it tells you how to solve the problem in addition to advising of the p

[2018-08-23 07:13] deepu105 opened #8149 "Upgrade to Typescript 3 everywhere"
##### **Overview of the feature request**

Upgrade to Typescript 3 in Angular(May have to wait until Angular updates to TS3) and React
Upgrade TS compilers, TSlint and related webpack plugins

- [ ] Angular
- [x] React

[2018-08-23 07:17] deepu105 commented on #7966
I guess its time to do this as we have started to get the deprecation warning during yarn install

warning swagger-ui@2.2.10: No longer maintained, please upgrade to swagger-ui@3.

[2018-08-23 07:31] deepu105 opened #8150 "Remove the SASS question and remove CSS option"
Remove CSS option and provide SASS with CSS support as the default.
This should be fine for new applications
For upgrading apps, generate SCSS and warn the user to choose between existing CSS or new SCSS files based on their preference

[2018-08-23 08:34] jdubois commented on #8148
Sorry, I knew about this and forgot to create the ticket -> thanks a lot @Blackdread !!
I have no idea what is causing that, maybe @henri-tremblay has an idea. I will investigate further when I have time.

[2018-08-23 09:04] jdubois commented on #8146
Great catch @hdurix - then we should never be in auto commit mode, but for that specific "getAll" request we indeed are...
Now let me give a few hints here:

- Usually in JHipster we always use transactions (so no problem)
- But for very simple code like a "getAll", if we don't use a service layer, then we go straight to the repository with no transaction. That's because the code is much simpler t

[2018-08-23 09:09] bertwin commented on #8142
It would be a nice feature to have if instead of generating this:

[code]
We would generate something like  this:
[code]

and just map over it in the header menu.

This way you could reuse the same data for a sidebar or a sitemap. And easily change the look of menus.

[2018-08-23 09:17] deepu105 commented on #8142
Yes thats a better option

Thanks & Regards,
Deepu

On Thu, Aug 23, 2018 at 11:09 AM Bertwin <notifications@github.com> wrote:

[2018-08-23 09:34] jdubois commented on #7810
@mraible as this already merged, I have a few comments:

- You force the "2.7" version for Log4J -> don't we have a correct version already coming from JHipster dependencies?
- You removed the whole Elasticsearch auto configuration file, but were also tuning a few things there, not just running Elasticsearch: are you sure those are not needed anymore?
- I'm currently testing and I can't get the em

[2018-08-23 09:50] jdubois commented on #7974
I'm not sure if that's so complex to change in JHipster - I'm the one who originally coded that, but it was a long time ago. Reading @pascalgrimaud @deepu105 and @AdrienHorgnies it looks everybody agrees this would be very complex, and that it's probably easier for you to fix generator-jhipster-db-helper.

Anyway: I'm very, very happy that something like generator-jhipster-db-helper could be done,

[2018-08-23 09:50] #7974 closed

[2018-08-23 10:04] depzor commented on #8144
Yes this fixed my problem - indeed not your fault, thanks for helping! 👍

[2018-08-23 11:00] PierreBesson commented on #8148
I remember @henri-tremblay contributed a jcache metrics registry first in JHipster then upstream to dropwizard metrics. We should just look at the metrics doc to see how to reactivate them.

[2018-08-23 11:36] jdubois commented on #8148
Indeed @PierreBesson I can confirm this is because the `JCacheGaugeSet` that was contributed by @henri-tremblay is not working anymore.
Its `getCacheBeans` cannot find any cached beans anymore, but I can see them using the JConsole, which is really strange. Maybe a classloader issue? As we got one recently in that part of the code.

[2018-08-23 12:05] mraible commented on #7810
When I tried without the version number, I received errors when it tried to create the embedded ES instance.

As far as I could tell, ElasticsearchConfiguration was configuring Jackson, while Spring Data Jest uses Gson. Having this file in the classpath was causing startup issues.

All the tests were passing and it works with my 21-Points Health app (which uses Gradle). What errors are you seeing?

[2018-08-23 12:26] Akuka commented on #8099
@PierreBesson Please remove the 'upgrade' tag, as this issue is not related to upgrade, but for newly generated app

[2018-08-23 12:53] stefantwog opened #8152 "QueryService not working for ManyToMany relationships"
##### **Overview of the issue**

So i created ManyToMany relationship between 2 entities and when i try to filter one entity by id of other entity in that ManyToMany relation  it returns me the whole list without filtration.

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

jdl studio

[2018-08-23 13:34] henri-tremblay commented on #8148
Interesting (and annoying). I'll have a look.

[2018-08-23 13:36] jdubois commented on #8152
Could you give an example of a query your created, so we can test?

[2018-08-23 13:43] Blackdread commented on #8152
could be related to #7195, depends on his query. Only the id has not yet been fixed in that issue

[2018-08-23 13:45] jdubois commented on #7810
Thanks @mraible
For point 1: we should then put the version number in JHipster Dependencies, but I'm worried as it currently gives version 2.10 and I don't want to downgrade without a good reason.
For point 3: I had no embedded server running, so I get errors telling me their is no available Elasticsearch node

[2018-08-23 13:51] mraible commented on #7810
Can you post your .yo-rc.json and I’ll see if I can reproduce?

[2018-08-23 13:53] iceddante commented on #7944
@ivangsa I am free as well! Cloning your fork and emailing you to see how I can help

[2018-08-23 15:48] jdubois commented on #7810
@mraible I deleted my app and now it works when I create a new one... I'm not sure if that's a good or bad news! Let's forget about this for the moment.

[2018-08-23 16:38] PierreBesson commented on #7966
Personally, I still dislike Swagger UI v3. I would prefer to migrate to Redoc: https://github.com/Rebilly/ReDoc
Sadly it doesn't yet feature a "try it out" button.

[2018-08-23 16:47] blling opened #8153 "Administration dashboards for consul"
`jhipster-registry` has `Administration dashboards`, but consul do not, is there any plan to add `Administration dashboards` for consul ?

[2018-08-23 17:03] mraible commented on #7810
FWIW, if I remove the version number on Log4J, I get:

[code]

[According to Stack Overflow](https://stackoverflow.com/questions/25891737/getting-exception-org-apache-logging-slf4j-slf4jloggercontext-cannot-be-cast-to), this is caused by having log4j-to-slf4j in the classpath.

If I remove log4j altogether, the error is:

[code]

[2018-08-23 17:41] antonioortizpola commented on #8142
@bertwin something like that is what i am talking about!, thanks for clarifying in so little code!, and it is great that it seems like a good option

[2018-08-23 17:50] ivangsa commented on #7944
Thanks Randeep, I got your  email.. let's do it

[2018-08-23 18:18] Tonterias opened #8154 "Not possible to update JHipster to latest JHipster release 5.2.1"
##### **Overview of the issue**

When using the command yarn global upgrade generator-jhipster it is not possible to upgrade the generator. After using it, if I use the command jhipster --version and I see always the old version 5.0.1

You closed this one: https://github.com/jhipster/generator-jhipster/issues/7232 which is almost the same, but with no solution. What can I do? Thanks

##### **Motiv

[2018-08-23 19:25] henri-tremblay commented on #8148
The answer is: It's because of `@AutoConfigureAfter(value = MetricsConfiguration.class)` that was removed from `CacheConfiguration`. So now the gauge is registered before the caches are created. So no monitoring. It was removed by `https://github.com/jhipster/generator-jhipster/commit/843a671cf2e9febb20c1749fab7c2d522062ee1e`. Do you know why @jdubois ?

[2018-08-23 19:37] jdubois commented on #8148
I probably did this by mistake, not understanding why this was useful... However I already tried this without success, are you sure it works?
Be careful if you test on master, the build is currently broken.

[2018-08-23 20:07] jdubois commented on #8154
And how did you install JHipster? This could be an issue with Yarn but I doubt it - are you able to upgrade other packages?

[2018-08-23 20:12] jdubois commented on #8153
No, we can't do our own fork of Consul.
As Consul users are "advanced" users, you might be more interested by the JHipster Console. It's not exactly the same thing, but for monitoring it's much more powerful.
Otherwise you can still use the JHipster Registry in parallel to Consul. It won't be used for service discovery, but the rest should work.

[2018-08-23 20:12] #8153 closed

[2018-08-23 20:13] jdubois commented on #8148
OK I will need to test again tomorrow! Thanks a lot

[2018-08-24 01:42] Blackdread commented on #8148
Strange I tried the annotation as well before posting this issue, did not work, will test again later.

[2018-08-24 01:57] henri-tremblay commented on #8148
Just debug and make sure CacheConfiguration is created before MetricsConfiguration.

[2018-08-24 03:16] henri-tremblay commented on #8148
Hum... You are right. I just got lucky. I'm currently passing a `CacheManager` to `MetricsConfiguration` constructor. I don't know if there's a better way.

[2018-08-24 07:10] deepu105 commented on #8154
I'm really getting tired of all these npm/yarn compatibility issues. Yarn
is slowly diverging as well, may be it will be much easier for us and our
users if we just switch back to NPM and ditch Yarn altogether or atleast
make NPM default and yarn optional. The latest version of NPM is as fast as
Yarn if not faster and they are copying all Yarn features anyway

On Thu, 23 Aug 2018, 11:24 pm Jon Rud

[2018-08-24 07:15] jdubois commented on #8154
Yes for me it's pretty clear now that we should remove Yarn.

[2018-08-24 08:28] carrotagileit opened #8156 "jhipster 5.2.1 upgrade project failure on the queston "? May JHipster anonymously report usage statistics to improve the tool over time""
Upgrade to jhipster 5.2.1 fine global.

Hower then upgrades any project with jhipster upgrade always hung on the question. No matter press Y or N or just press Enter.

"? May JHipster anonymously report usage statistics to improve the tool over time"

I tried waiting for two hours, still on the hung there on the same question.

##### **Motivation for or Use Case**

`Done in 137.15s.
√ Updated gene

[2018-08-24 08:34] jdubois commented on #8156
Oh that's because the question is waiting for an answer, but as it's in a script you probably can't input the answer!

- Quick fix for you: install 5.2.1 manually, run it once and answer the question - then you will be good to go as it won't be asked again (unless you answer "no", then you are asked every 100th run).
- Please keep the ticket open, I will force this in the script (I'll probably do

[2018-08-24 08:39] jdubois commented on #7966
@PierreBesson Redoc indeed looks cool, I didn't know about it. @cbornet you're the boss here, what do you think is best?

[2018-08-24 08:47] deepu105 commented on #8142
I'll be happy to merge it if one of you can do a PR with the proposal

On Thu, 23 Aug 2018, 7:41 pm Antonio Ortiz Pola, <notifications@github.com>
wrote:

[2018-08-24 08:51] deepu105 commented on #8154
Lets make NPM the default option first and see how it goes so that existing
apps who upgrade don't have any issues. In the next major version we can
drop Yarn. Wdyt?

On Fri, 24 Aug 2018, 9:15 am Julien Dubois, <notifications@github.com>
wrote:

[2018-08-24 08:54] jdubois commented on #8154
Yes @deepu105 that could be a huge migration for some people, so we can't migrate like that. Changing the default, however, isn't a big deal, and nobody should complain. We'll drop Yarn in JHipster 6.0, probably, but not before.

[2018-08-24 08:59] deepu105 commented on #7966
Try it out is the most important feature else we could even do static docs
instead of a living page, and I personally don't think the new UI is bad,
its just not as feature rich as the old one. So IMO migration would be the
best choice

On Fri, 24 Aug 2018, 10:39 am Julien Dubois, <notifications@github.com>
wrote:

[2018-08-24 09:27] jdubois commented on #8154
I'm closing this because it's an installation problem, either with NPM or Yarn (or maybe Chocolatey/Homebrew/etc - we provide so many options!). So you need to check your package manager, and how you installed the module.

[2018-08-24 09:27] #8154 closed

[2018-08-24 09:36] jdubois commented on #8086
I'm closing this as you seem to have everything fixed.
We need to better document the Liquibase upgrade part, and I'm not sure this can be automated (this depends on what the user has done in his current Liquibase changelogs).
So I've added your changelog to our 5.0 release notes at https://www.jhipster.tech/2018/06/20/jhipster-release-5.0.0.html

[2018-08-24 09:36] jdubois commented on #8086
Oh and thanks a lot @vishal423 for the changelog!!

[2018-08-24 09:40] cbornet commented on #7966
Yes, it's probably time to migrate. See https://github.com/swagger-api/swagger-ui/issues/2915#issuecomment-376245104 for how to pass the auth token to swagger-ui.

[2018-08-24 09:43] jdubois commented on #8148
Oh thanks @henri-tremblay - the CacheManager trick is ugly but works very well, I'm doing that. Not the first time I do this kind of hack!

[2018-08-24 09:52] #8148 closed

[2018-08-24 10:05] PierreBesson commented on #7966
OK let's do it. But we need to take the occasion to try to better integrate the swagger ui into the app (as an angular/react component). And we should make it optional to include it into the front-end assets.

[2018-08-24 10:11] jdubois commented on #7966
Yes totally agree! @PierreBesson are you willing to do it? Who is interested?

[2018-08-24 10:30] gwokudasam opened #8157 "Java 7 Catch Blocks"
Can we change token provider from

[code]

to something like

[code]

makes it cleaner don't you think :)

[2018-08-24 10:33] jdubois commented on #8157
Could you format the code better next time? Sorry I'm with my phone...
But I guess I get the idea, could you do a PR? That would be even better than formatting the code here!

[2018-08-24 11:56] vishal423 commented on #8086
@jdubois , can you re-open this as one issue is still pending and I don't have clue on why that's broken.

[2018-08-24 12:13] henri-tremblay commented on #8148
Note that you don't even need to assign it to a class attribute. Just to pass it to the constructor. And l would add a comment to prevent it to be removed by mistake later.

[2018-08-24 13:01] jdubois commented on #8148
Thanks @henri-tremblay ! Done in https://github.com/jhipster/generator-jhipster/commit/03a3dc0e657eaedf8adbb873fe5130909f85c910

[2018-08-24 13:34] bertwin commented on #8142
@antonioortizpola could you do this if you need it fast? I don't have the time right now.

[2018-08-24 13:59] dkirrane commented on #8143
jhipster info updated

[2018-08-24 14:01] DanielFran commented on #7783
@jdubois @henri-tremblay Maybe the issue with the Cache 'order' will be fixed in next release: see https://github.com/spring-projects/spring-boot/issues/14181

[2018-08-24 14:11] Tonterias commented on #8154
I worked like Jon said,
-------------------------------------------------------------------------------------------------------------
Usually the fix to this issue is to uninstall from npm and yarn then reinstall with one or the other:

# Remove from both yarn and npm
yarn global remove generator-jhipster
npm uninstall -g generator-jhipster

# Install with just yarn
yarn global add generator-jhips

[2018-08-24 14:36] jdubois commented on #8156
In fact there was a mistake in the script, it was written `--skip-insight` instead of `--no-insight`! Fix coming very soon :-)

[2018-08-24 14:36] #8156 closed

[2018-08-24 14:49] carrotagileit commented on #8156
@jdubois Thanks for you quick fix.

So how to make it work in my side? What's you mean   "install 5.2.1 manually" ?

[2018-08-24 14:51] jdubois commented on #8156
@carrotagileit you install it using `yarn global add generator-jhipster` (probably, we have tons of setup options), and run `jhipster` once in an empty folder. The first question will be about sending the stats, just say "Yes" or "No" (hopefully "Yes"!!), and then you won't get the question, so the upgrade script will work.

[2018-08-24 15:37] jdubois commented on #8146
OK I could reproduce, but it seems like you need a relationship for that. Anyway I can test now :-)

[2018-08-24 15:49] jdubois commented on #8146
Tested and that does solve the bug!!! Concerning the performance improvement I'm trusting Vlad, he's the best here.
I'll close the ticket with my fix.

[2018-08-24 15:52] hdurix commented on #8146
Perfect
I'll rerun the protractor delete tests after your fix is done.

[2018-08-24 15:59] #8146 closed

[2018-08-24 16:01] jdubois commented on #8146
And it's done :-)
So hopefully 2 tickets closed in one! And another nice performance enhancement for our users!

[2018-08-24 17:15] carrotagileit commented on #8156
By running:

- yarn global add generator-jhipster
- mkdir temp
- cd temp
- jhipster

the problem is gone. Thanks.

[2018-08-24 17:29] antonioortizpola commented on #8142
I do not need it fast, do not worry, sadly I have not checked the generators code, i do not know how complex or easy could be, but this weekend I will make some time (right know i am in my normal job, my jhipster project is personal :/) and check if I can do the modifications, If i have doubts I will let you know, thanks for everything!

[2018-08-24 20:29] jdubois commented on #8117
I'm doing the code with `.gitignore`. It's quite simple and will solve the issue of @henri-tremblay

My only trouble is that this code is very hard to test, as it uses the release numbers - as long as there is no release, I can only simulate it working.... As it's pretty simple, I think it's good to go, so I'll commit my code directly, and this will need to be tested as soon as we do the next rele

[2018-08-24 20:30] #8117 closed

[2018-08-24 20:38] jdubois commented on #8099
I confirm the issue

[2018-08-24 20:43] jdubois commented on #8099
Oh, it fails when you run all the tests, but works if you only run the failing tests!!

[2018-08-24 21:35] jdubois commented on #8099
I just can't find what "pollutes" the test. There should be something running before `BookResourceIntTest` that causes the issue, but I have no idea what.
Definitely a very interesting bug, but I'm giving up at the moment.

[2018-08-24 23:19] duderoot commented on #8099
I was able to narow down to the following facts:

- all the tests are passing when running them over IntelliJ run all test in folder
- when executing over mvn `mvn -Dtest=AwardResourceIntTest,BookResourceIntTest
` the test are failling
- maven will log the following:

`  INFO] Tests run: 11, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 174.501 s - in com.mycompany.myapp.web.rest.AwardResource

[2018-08-26 08:50] carrotagileit opened #8159 "yarn run webpack:prod issue after upgrade to v5.2.1"
After upgrading my project to v5.2.1, trying to pack the production version. when run

yarn run webpack:prod

the error throws: **ERROR in Error during template compile of 'Injectable'
  Function calls are not supported in decorators but 'ɵmakeDecorator' was called.

cannot pack to production war. However, can be run ok in develop mod, I man yarn start.

yarn run v1.9.4
$ yarn run cleanup && yarn

[2018-08-26 09:39] deepu105 commented on #8159
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-08-26 09:39] #8159 closed

[2018-08-26 09:51] #8157 closed

[2018-08-26 11:13] jdubois commented on #8157
Awesome, thanks @gwokudasam @deepu105

[2018-08-26 13:35] wmarques commented on #8149
@deepu105 I can start the work on this, I'll do a PR asap :) I have a free-day at ippon on the 31 so I'll finish this during no later than this day

[2018-08-26 17:31] deepu105 opened #8162 "Switch to NPM as default"
Lets switch back to NPM as the default client package manager. Yarn will remain an option using the same flag

More discussion here https://github.com/jhipster/generator-jhipster/issues/8154

NPM is quite fast now and I'm tired of all the recent yarn issues. Yarn link sucks nowadays as well

@jhipster/developers anyone has an objection to this?

[2018-08-26 17:44] pascalgrimaud commented on #8162
@deepu105 : if we agree to switch to NPM as default, let me do this. Self assigned.

About my opinion, I don't care, NPM or Yarn as default.

[2018-08-26 17:46] deepu105 commented on #8162
@pascalgrimaud me too but I'm sick of silly Yarn link issues and if NPM just works thats enough for me

[2018-08-26 18:40] duderoot commented on #8099
In Germany there is a saying :

Not always, but this time the logs told the truth 😃 : the JSON could not parse the Book JSON payload. The JSON parser it was waiting trough Author for awards.
Solution of the test is just to add in the entity Book the JSON properties that need to be ignored i.e. instead of
`@JsonIgnoreProperties("books")
    private Author author;`
one should put
`@JsonIgnorePropert

[2018-08-26 20:42] atomfrede commented on #8162
+1 from me. I am using npm only for quite some time, as yarn didn't work well.

[2018-08-26 21:12] DanielFran commented on #8162
+1 I always use NPM

[2018-08-26 23:37] mraible opened #8164 "Protractor test output is different between React and Angular"
The outputs from Protractor are different. With Angular, it shows dots, while React shows test names.

React:

[code]

Angular:

[code]

I like React's output, especially the timings that show slow tests. Not sure if that's on purpose, or [zsh-command-time](https://github.com/popstas/zsh-command-time) that I have installed.

[2018-08-27 06:30] deepu105 commented on #8164
Thats coz of the framework used underneath. In Angular setup we use protractor with Jasmine and in React its Mocha + Chai.

Mocha has nice reporters out of the box. I once tried to get the same from Jasmine but it was no where near close to what mocha haf. May be things changed now and there is a better reporter for Jasmine now

[2018-08-27 06:31] deepu105 commented on #8164
Also the timing comes from Mocha as well

[2018-08-27 07:49] jdubois commented on #8162
Big +1 we have tons of problems with Yarn.

[2018-08-27 07:49] jdubois commented on #8162
I'm removing the "needs discussion" tag as for me the discussion is over, we all agree on this.

[2018-08-27 07:54] PierreBesson commented on #8162
+1 I changed my mind on this. Even though I'm super pro yarn, it would really be much simpler for user to install one less redundant tool (I have seen people struggle with it).
Also maybe we can simplify the instructions by recommending using `npx jhipster` rather than installing globally.

[2018-08-27 07:58] jdubois commented on #8162
I also forgot to mention: NPM and Yarn don't calculate dependencies the same way, so having both tools could lead to security issues with one tool and not the other. Let's focus on just one tool, in order to limit those issues.

[2018-08-27 08:08] pascalgrimaud commented on #8162
ok, I'll start this work soon

[2018-08-27 08:37] jdubois commented on #7101
I'm sorry but as @deepu105 says nobody is working on this.
While I totally agree our current architecture is not good (as I coded this quickly a long time ago, and nobody ever reviewed it before), it currently "does the job", and the proposal here is so complex that nobody dares to start doing it.

My recommandation would be to propose those changes step by step: for example, if you want to add in

[2018-08-27 08:37] #7101 closed

[2018-08-27 08:44] #6936 closed

[2018-08-27 08:52] jdubois commented on #6939
I'm trusting @mraible here on where to place the tokens - this has been opened for 8 months and we didn't get any other feedback on this, so I'm guessing this is OK for most people. Please note I'm really not the best person on this.

Concerning the adapter, which is another issue to me: I strongly agree with @mraible to keep the "standard" OIDC configuration, and not use an adapter. One of the go

[2018-08-27 08:52] #6939 closed

[2018-08-27 09:45] jdubois commented on #6987
I've just checked:

- Point 1 is already done
- Point 2 is already done
- I'm doing a fix for point 3 and will link the commit here

[2018-08-27 09:59] jdubois commented on #6987
- point 4 is also already done

This ticket is quite old and 3 out of 4 points where already done: the problem here is that it is too big, so people don't read it (including me). We need smaller issues, as people do this on their free time, and don't have the will to read stuff for 10 minutes.

I'll close this when point 3 is merged (I'm waiting for Travis)

[2018-08-27 10:04] jdubois commented on #7750
Yes let's only have monoliths for the moment -> for micorservices or more complex stuff we have far less users, and for them Kubernetes is also a good solution.

-> @ludoch @saturnism I'll try it today but unfortunately you're the only ones who can the documentation, I'm afraid.

[2018-08-27 10:19] jdubois opened #8165 "Should we store JWT secret keys in Base64?"
**Please note this is for the master branch**: this comes from an upgrade to JJWT 0.10.5, which pushes us to store secret keys in Base64. This is not what we have in our latest release (v5.2.1), and would therefore be a breaking change if we do this.

This question is mostly for @mraible as he works with the people from JJWT ( @lhazlewood I think?), and hopefully he can have a correct answer.

So

[2018-08-27 11:35] jdubois commented on #8078
I also thought @RothAndrew you wanted something much more complex than just a Regexp. It's trivial to do this currently, as you just add the Regexp to the code: for me this would add complexity to our current setup (as there would be a specific configuration key, etc), when it's just one line of code to change today, so for me this doesn't follow our [Policy 2](https://www.jhipster.tech/policies/)

[2018-08-27 11:35] #8078 closed

[2018-08-27 11:45] jdubois commented on #8102
No comment in the last 11 days: I'm not sure everybody agree on using our own "jhi-" prefix everywhere.

I also realize this could be a security risk: then it would be clear to everyone that the application is a JHipster application, which would help potential attackers. There are of course other ways to find that it's a JHipster application, but let's not help attackers too much.

Anyway, this wo

[2018-08-27 11:45] #8102 closed

[2018-08-27 11:49] jdubois commented on #7353
As there as been no work here for about 5 months I'm closing this. Maybe this is some issue with Yarn (we had a lot of trouble using Yarn for developing in the last months). This is also the reason why we switch to NPM in #8162 - hopefully that will help.

If anybody has this issue, or if @geraldhumphries you have more info/issues, please comment and I'll reopen.

[2018-08-27 11:49] #7353 closed

[2018-08-27 13:13] #8106 closed

[2018-08-27 13:15] jdubois commented on #6987
Travis is having issues so I can't validate with the CI right now :-(
I've merged this into master, if the build fails I will correct manually

[2018-08-27 13:15] #6987 closed

[2018-08-27 13:33] ksadjad opened #8166 "External service security"
**Overview of the bug**
I'm using a gateway, a microservice and keycloak as my sso. It works fine on my docker network, but when I'm running my gateway outside of the main docker host, I can login but I get 401 when I send a request to my microservice. In fact my microservice sends the token (received from the Gateway) to Keycloak and in return Keycloak returns 401 and it says my token is invalid.

[2018-08-27 13:43] jdubois commented on #8166
I'm sorry but this is a network issue with your own configuration, this isn't a JHipster bug. We provide a working configuration with Docker, in a "normal" network (ie all hosts see each other with the correct names, etc), but if you do your own configuration we cannot support you. I don't even know what "Macvlan" is....

I suppose your microservice doesn't "see" Keycloak like the gateway does, on

[2018-08-27 13:43] #8166 closed

[2018-08-27 13:55] vishal423 opened #8167 "Upgrade keycloak realm configuration"
##### **Overview of the feature request**
Current version of `jhipster-realm.json`  is generated using `3.3.0.CR1`, whereas, keycloak.yml is supporting version `keycloak:4.0.0.Final`

##### **Motivation for or Use Case**
Keycloak realm configurations should be in sync with supported version. I also noted keycloak `v4.3.0.Final `is available.

##### **Related issues or PR**

- [ ] Checking this box

[2018-08-27 14:00] mraible commented on #8167
Please submit a pull request for this change. We’ll be happy to accept it!

[2018-08-27 14:31] lhazlewood commented on #8165
JJWT has no requirements on how you store your keys.  You're free to store and obtain your key bytes however you wish.  JJWT actually prefers that you use `java.security.Key` instances, and if you don't, it has helper methods to transform raw byte arrays or Base64 text into byte arrays which can then be used to create a `Key` instance.

With regards to your question about the secret bytes:

It boi

[2018-08-27 14:32] nadworny opened #8168 "Current timestamp for the created_date not supported for the PostgreSQL"
##### **Overview of the issue**
Cloudfoundry deployment will fail for PostgreSQL due to the missing `now` type for the current date

##### **Motivation for or Use Case**
Using PostgreSQL

##### **Reproduce the error**
Generate basic project

##### **Related issues**

##### **Suggest a Fix**
Add the following to the liquibase initial schema changelog:
`<property name="now" value="CURRENT_TIMESTAMP"

[2018-08-27 14:59] jdubois commented on #8168
I'm sorry but I do this all the time, I'm sure this works...
Do you have a specific version of Postgresql? Or some specific configuration? Can you test with our Docker image (in `src/main/docker/postgresql.yml`) to check if you can reproduce?

[2018-08-27 15:11] nadworny commented on #8168
my fault, sorry :) I generated with mysql support...

[2018-08-27 15:11] #8168 closed

[2018-08-27 15:13] jdubois commented on #8099
Thanks a lot @duderoot

In fact we are ignoring the one-to-many property to avoid to have circular references, which would just break. So in JSON format, a book has an author, but you don't "see" that the author has many books. Otherwise we would just run in circle until the server breaks.

But you have an interesting use case here, as there is the same issue with awards: an award has an author, b

[2018-08-27 15:14] jdubois commented on #8168
Ah, I was getting quite nervous about a new nasty bug :-)

[2018-08-27 15:19] jdubois commented on #8099
Thanks @duderoot this is very helpful, this ticket is really hard!

[2018-08-27 15:49] jdubois commented on #8099
Got it. Let me do the fix.

[2018-08-27 19:13] nadworny opened #8169 "Cloud foundry deployment fails with "No suitable cloud connector found""
##### **Overview of the issue**
After generating jhipster monolithic project and deploying it to cloud foundry (IBM cloud) I'm getting the following error:
```Error creating bean with name 'cloudDatabaseConfiguration' defined in file [/home/vcap/app/WEB-INF/classes/com/example/config/CloudDatabaseConfiguration.class]: Initialization of bean failed; nested exception is org.springframework.cloud.Clo

[2018-08-27 19:16] nadworny commented on #8169
Full stack trace
[code]

[2018-08-27 19:19] jdubois commented on #8169
Maybe the cloud database wasn't ready when the application started, I have no idea what IBM has done here...

- can you see the database, is it binded to the application?
- if yes, then can you try deploying again?

[2018-08-27 19:30] jdubois commented on #8165
Thank you so much @lhazlewood - yes, that definitely helps, and this ticket is for sure going to be helpful for a lot of people, as I'm sure we'll have lots of questions about this.

So, if I understand well, encoding the String in Base64 allows to store more secure keys. Of course, users need to generate that secure key correctly, and I'm not sure everyone will worry about this, but at least we w

[2018-08-27 19:58] lhazlewood commented on #8165
I'd say that's generally correct.  Just remember (or document?) that the Base64 text value is still considered a secret value (since encoding != encryption) and should never be visible by unintended parties.

Happy to help!

[2018-08-27 20:02] eosimosu opened #8170 "index.ts and Circular dependency"
##### **Overview of the feature request**

Barrels aka index.ts leads to maintenance hell and circular references that are sometimes extremely difficult to debug.

##### **Motivation for or Use Case**

index.ts files were very useful prior to introduction of NgModules as they helped manage countless imports, but now they are obsolete and just causes a lot of headaches due to circular dependency th

[2018-08-27 20:06] jdubois commented on #8165
Oh yes @lhazlewood that should already be good everywhere in our documentation. The only downside is that now you can't read the value anymore (as it's in Base64) so we can't give hints like we used to do [here](https://github.com/jhipster/jhipster-registry/blob/v4.0.0/src/main/resources/config/application-prod.yml#L74).

[2018-08-27 20:10] lhazlewood commented on #8165
Ah, I see.  Yeah, you'd have to have a comment to the right of the line or above it.  Got it.

[2018-08-27 20:20] jdubois commented on #7124
I also tested today and this is indeed broken, and I find this is major as you have the error on all i18n microservices!
@PierreBesson unfortunately we just have a $100 tag, and even if that's a major issue, I'm not sure it's that complex to do, so that should be enough.

[2018-08-27 20:33] wmarques commented on #8164
@deepu105 maybe we can use mocha + chai on Angular ?

[2018-08-27 20:40] deepu105 commented on #8164
We could and that way we can move protractor test templates outside react/angular folder and reuse them for both. E2e should be same regardless of technology anyway and what works for React should work for angular as well.

[2018-08-27 20:44] deepu105 commented on #8165
@jdubois but IMO its not nice to do a breaking change for users in a minor release. May be we can find a way for existing apps that upgrade to work with string keys as well

[2018-08-27 20:48] deepu105 commented on #8170
You are right, I started adding barrels as per the Angular style guide recomendation at that time and soon realized that it was annoying. But I dont have the time to do the refactoring so if you is willing to do the refactoring you are most welcome.

[2018-08-27 20:48] jdubois commented on #8164
Oh that would be very impressive!

[2018-08-27 20:56] eosimosu commented on #8170
Great! I'd do the refactoring

[2018-08-27 20:58] jdubois commented on #8170
Awesome! Thanks @eosimosu

[2018-08-27 21:00] wmarques commented on #8164
I can work on this on Friday as the typescript 3 work seems blocked by Angular...

[2018-08-27 21:03] deepu105 commented on #8166
This is not a bug or feature request and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Stack Overflow will give your question a larger audience:

- This will increase your chances to get an answ

[2018-08-27 22:01] brunoborges opened #8172 "Can't Produce an Executable JAR"
##### **Overview of the issue**
Can't get a working executable JAR file (as in `.jar`) out of a Maven JHipster project.

##### **Motivation for or Use Case**
Due to requirements from other tools, including custom Maven plugins, we need the output of the Maven project to be an executable JAR file, not an executable WAR file.

##### **Reproduce the error**
Get an executable JAR by renaming the WAR f

[2018-08-27 22:36] soungsid commented on #8154
Hi
it worked for me as Jon an Tonterias said.

but When I was on **npm 5.6**    updgrade wasn't working. but when I upgrate to the  npm 6.4 I'am able now to upgrate Jhispter ton 5.2.1 version. I hope this information can help.

[2018-08-28 00:29] antonioortizpola commented on #8142
@jdubois, @deepu105, sorry for taking so long, I started playing with the generator to make the changes, i wanted to be more uniform with the **react** and **angular** versions, however, i did note that you already are calling `navbar` in the angular project to the Header (in react) component, is there a reason why in the React generator it is named `Header` and not also navbar?, i could change th

[2018-08-28 04:52] pascalgrimaud commented on #7124
@ruddell did a fix, which was reverted. There are something to do with the clientRootFolder

[2018-08-28 06:26] vishal423 commented on #8170
I think barrels are removed from angular style guide in favor of NgModule, however, I still find them quite useful for cleaner imports. If you follow discipline, you will never run into circular dependency issue.

[2018-08-28 06:39] deepu105 commented on #8142
There is no specific reason that I know of so ya go ahead

On Tue, 28 Aug 2018, 2:29 am Antonio Ortiz Pola, <notifications@github.com>
wrote:

[2018-08-28 06:40] deepu105 commented on #7124
This is a tricky one. If I find some time I'll try to fix. I fixed some
issues earlier but this seem to have missed

On Tue, 28 Aug 2018, 6:52 am Pascal Grimaud, <notifications@github.com>
wrote:

[2018-08-28 06:47] vishal423 commented on #8167
While looking into realm configurations, I am not sure about reason to have following custom claim mappings:

Per my understanding, you should get `email` from **email** scope and `family name, full name, username, given name` from **profile** scope that are default associated client scopes.

Also, any specific reason for `login` claim as it's mapped with `preferred_username` attribute, which is a

[2018-08-28 07:58] nadworny commented on #8169
Yes, I could see the application as well as the database... And the db service was bound.
After restarting the app it was still getting the same error...
I've deleted everything and re-deployed - boom it works! :D I guess IBM cloud was having difficulties yesterday...

[2018-08-28 07:58] #8169 closed

[2018-08-28 08:04] jdubois commented on #8099
Reopened as the fix was reverted, it caused other issues!

[2018-08-28 08:40] unikzforce commented on #8166
@deepu105  thanks It's on stackoverflow now. you may want to take a look at it if you like:
[Jhipster Microservices - Mixing Docker and Local deployment](https://stackoverflow.com/questions/52051459/jhipster-unable-to-use-a-gateway-app-when-deploying-everything-on-docker-host)

I think it's a very Common for UI developers to up and run angular/gateway project in their own pc, and use microservices

[2018-08-28 09:45] piaofudeyu commented on #8156
By running:

yarn global add generator-jhipster
mkdir temp
cd temp
jhipster

the problem stall~~~

[2018-08-28 09:57] danielpetisme commented on #7930
I found an official maven plugin to deploy java web app
https://github.com/Microsoft/azure-maven-plugins/tree/master/azure-webapp-maven-plugin

It's used in the official spring boot doc: https://spring.io/guides/gs/spring-boot-for-azure/

Wouldn't be enough for step 1 ?

The creation of the Azure service principal and configuration of Maven settings.xml could be documented in Jhipster documentatio

[2018-08-28 10:05] shawn-show opened #8173 "cant create new entity after add a field in entity"
when i user jhipster entity student to add a field which name is birthday localdate.then i restart the app,but it alert
[code]
so when i try to create a new entity ,it error ,why?

[2018-08-28 11:06] amirensit commented on #8173
You need to add the `changeSet` tag for that field in liquibase file name.

[2018-08-28 11:09] jdubois commented on #8173
It totally depends on how you added that field (with the JDL? Using the command line?) and of course your version of JHipster. If you don't spend the time to fill up properly the bug report, I won't spend my time looking at your issue.

[2018-08-28 11:10] jdubois commented on #8173
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-08-28 11:10] #8173 closed

[2018-08-28 11:12] jdubois commented on #7930
Congrats to @danielpetisme for contributing to the project just 2 hours after having a baby (see https://twitter.com/danielpetisme/status/1034348125039849472 )!!!!

[2018-08-28 11:35] jdubois commented on #8166
Thanks @unikzforce this looks indeed like a very interesting and useful setup.

At the moment, we indeed focus on running everything on the same host - then if you have several microservices, you can use the docker-compose sub-generator to only run the services you need.

What you are doing here is of course different: this is like having a feature done by different members of the team, and the ba

[2018-08-28 11:50] ramsunvtech commented on #5434
Still this issue is exist in TypeScript - 2.5.2

[2018-08-28 12:01] danielpetisme commented on #7930
@brunoborges will do!
@jdubois thanks :smiley: she (yes it's a girl) is born couple of days ago, so no merits (but I do appreciate!)

[2018-08-28 12:03] jdubois commented on #7930
@danielpetisme oh I though you were still at the hospital - this is one of the most quiet places to work, when everybody sleeps :-)
Congrats to you, girls are awesome!

[2018-08-28 13:36] #8099 closed

[2018-08-28 14:14] mraible opened #8174 "[Angular] DATE_TIME_FORMAT only does 12 hour time"
##### **Overview of the issue**

When generating an application using JHipster 5.2.1 + Angular, the DATE_TIME_FORMAT in `input.contants.ts` only supports 12 hour time. This means that if you modify an entity to create a timestamp automatically and you add a new record at 3 am, it'll show up as 3 am.

##### **Motivation for or Use Case**

In my [21-Points Health](https://www.21-points.com) app, whe

[2018-08-28 15:08] prasenjithaty opened #8175 "Exception generating client code for entity in a react monolithic application"
##### **Overview of the issue**

generator is unable to generate `entity-update.tsx` and fails with the following error
[code]

##### **Motivation for or Use Case**

Unable to generate the react client templates using `jhipster generator`

##### **Reproduce the error**

- generate a monolithic application with ReactJS as the client template engine
- copy the Alumni.json file inside `.jhipster` dir

[2018-08-28 15:19] jdubois commented on #8175
I don't why, but it's the pattern on the `lastName` that causes the issue

[2018-08-28 15:28] jdubois commented on #8175
Oh I didn't test `lastName` but the other patterns work (I just did a diff to try to find the issue)

[2018-08-28 15:59] jdubois commented on #7930
I'm closing this as the documentation page is live on https://www.jhipster.tech/azure/
@brunoborges don't forget to ask for your [Bug bounty](https://www.jhipster.tech/bug-bounties/)!

[2018-08-28 15:59] #7930 closed

[2018-08-28 16:02] jdubois commented on #8172
As the documentation is up on https://www.jhipster.tech/azure/ I think you find a work around, and as this wasn't asked by anyone else yet, I'm closing this.

I'm totally OK to modify this for JHipster 6: at some point we'll need to only do executable JAR files, and drop the old War support. But that would be a major change, so we can only do this in a major release, and it's not urgent at the mom

[2018-08-28 16:02] #8172 closed

[2018-08-28 16:17] jdubois commented on #7750
I did a few tests on this:

- I fixed a small issue at https://github.com/jhipster/generator-jhipster/commit/78318d79240ba228f1e7863a4a19ad4b25b63b85
- On first deployment I add an error because the SQL database wasn't created, I think it's mostly a documentation issue

And then when I deployed I had a huge stacktrace, here it is below. So there's still some work to do here, before releasing it.

[2018-08-28 23:39] duderoot commented on #8099
@jdubois I am glad that you manged to find a quick fix. Nonetheless, I have a question: do you know why in the Book entity  @JsonIgnoreProperties only one property of entity Author has and not bout:

[code]

Is a reason why only one  property of the [otherEntityRelationshipNamePlural](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-server/templates/src/main/java/packag

[2018-08-29 01:08] ruddell commented on #8099
@duderoot The purpose of that annotation is to prevent infinite recursion when mapping the entity to JSON (so a `Book` maps the `Author` to JSON excluding the `books` field, otherwise you get a stack overflow error).

The `Award` entity isn't added to the annotation because there's no connection between `Book` and `Award`.  Plus, when fetching a `Book`, the `Award` field of `Author` is not (eagerl

[2018-08-29 05:37] brunoborges commented on #7930
Hey @jdubois, thanks! While I appreciate the offer, I am happy to take that and put back into the project bug bounty bucket for future contributions from other folks :)

[2018-08-29 08:39] mevlts opened #8177 "Jhipster Error on Connecting H2 Database"
I'm a newbie on JHipster!
When i tried to generate an spring + angular project i got this error.
please help.
thanks!

[code]

[2018-08-29 08:45] pascalgrimaud commented on #8177
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-08-29 08:45] #8177 closed

[2018-08-29 09:00] jdubois commented on #8177
@mevlts you messed up your database, just do `./mvnw clean`. Next time please follow the issue template!

[2018-08-29 09:02] unikzforce commented on #8166
Thanks @jdubois. i must deliver this setup in this sprint to my team. I'll share a working setup as soon as possible to jhipster community. i think integrating it as a commit to generator would just complicate things, and maybe a simple documentation would suffice for people who need this setup. anyway I would share a working solution asap

[2018-08-29 09:05] jdubois commented on #8166
@unikzforce yes first if you can have a working documentation/setup it's perfect: we can publish it on the website and tweet it, usually we have such a big community that other people will be interested and will come to review & improve the code. Then we'll try to automate it.

[2018-08-29 09:11] jdubois commented on #7930
Thanks, I'll put the bounty on another ticket right now!

[2018-08-29 09:15] jdubois commented on #7966
I'm adding a [bug bounty](https://www.jhipster.tech/bug-bounties/) on this ticket as I think it's important, and there's a significant amount of work

[2018-08-29 09:30] deepu105 commented on #8172
@jdubois based on the discussion in twitter I think we can try to generate both jar and war so that its not a breaking change. Its easy to do with gradle but i'm not sure about maven, may be we could use the plugin suggested by @brunoborges for maven.

[2018-08-29 09:32] jdubois commented on #8172
Yes I agree we should do both at the moment. And in the future, maybe just do the executable JAR files.

Not sure anybody is willing to work on this for Maven, so that's a big issue. The problem is that not a lot of people have this need.

[2018-08-29 09:33] deepu105 commented on #8165
@jdubois that sounds perfect. Lets do it

[2018-08-29 09:38] jdubois commented on #8165
OK I'm on it, should be done today.

[2018-08-29 09:38] atomfrede commented on #8172
I have the code ready for gradle. Can do a PR to start with

[2018-08-29 09:41] jdubois commented on #8172
thanks @atomfrede - we of course need to have both build system at the same level, but we should start by one anyway: let's do it with Gradle!

[2018-08-29 10:51] hdurix opened #8179 "LazyInitializationException in Travis with DTO and no service"
##### **Overview of the issue**

With this specific configuration:
- MapStruct option
- no service: resource talking directly to repository
- an entity with at least one relationship (I noticed with `@ManyToMany` but I think it's the same with `@OneToMany`)

The entity can not be serialized as list (-> without eagerload): the mapper try to create the DTO and also to create DTOs for its relationshi

[2018-08-29 11:54] pascalgrimaud commented on #8179
@hdurix : if I remember well, it's already the case. You can't choose DTO if you didn't choose service: https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/prompts.js#L322

It just our entities in Travis are not correct -> https://github.com/jhipster/generator-jhipster/blob/master/travis/samples/.jhipster/TestManyRelPaginDTO.json#L15

[2018-08-29 12:04] hdurix commented on #8179
Yes I also think the fix is just to correct the Travis JDL file.

[2018-08-29 13:04] #7124 closed

[2018-08-29 15:57] #8165 closed

[2018-08-29 16:16] pascalgrimaud commented on #8165
@jdubois : do we need to apply the changes to the JHipster Registry too ?

[2018-08-29 16:29] jdubois commented on #7961
- We're going to drop CSS and only keep Sass in #8150 so I would mostly concentrate on Sass
- Why do we even re-define those colors? If we just remove them, we will have the default Bootstrap colors, which should be good (I guess they did their homework on this), and then our users can work from a "standard" Bootstrap configuration in order to make their own theme

[2018-08-29 16:56] jdubois commented on #8165
@pascalgrimaud I'll do it

[2018-08-29 17:30] RustyRaptor commented on #6126
Hey guys I found a solution.
Just follow the tutorial VS code provides for fixing it's watch issue. It's an OS issue not related to node or webpack.

https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc

[2018-08-29 19:55] savirs commented on #7496
Hello @gmarziou,
I am stuck in a similar problem.
Setting multiple URLs in spring.cloud.config.uri property would mean multiple URLs pointing to same repository? Another one can be a DR URL?

Regarding the DNS load balancing. How do we provide login credentials for the same?

Thanks

[2018-08-29 20:56] RothAndrew commented on #7374
Any update on this? I'm still seeing this issue with v5.2.0. Using the `@Secured` annotation works fine "In Real Life", but none of the tests that JHipster generates will fail if I add the `@Secured` annotation and use `@WithMockUser` in the test.

Steps to reproduce:
* Generate an app (I'm currently working with a microservice gateway using JHipster 5.2.0)
* Add `@Secured(AuthoritiesConstants.ADM

[2018-08-29 21:05] jdubois commented on #7374
For tests it's a different issue, it's just that the Spring test context doesn't configure security. I guess the idea is that we just test business methods, and also that'll easier to setup and faster to run.
But I'm like you, I would like to be able to test this, for me that's a limitation with Spring tests.

[2018-08-29 21:10] mraible commented on #7374
In my [JHipster 5 tutorial](https://github.com/mraible/jhipster5-demo), I was able to use [`@WithMockUser`](https://github.com/mraible/jhipster5-demo#deploy-to-the-cloud) w/o any issues. I'm not using the `@Secured` annotation, but `@WithMockUser` works for me.

[2018-08-29 21:11] jdubois commented on #7374
Oh yes, @WithMockUser works, I use it very often. It's only the @Secured.

[2018-08-29 21:14] duderoot commented on #8099
@ruddell thank you for the explication. I was/am not quite aware on how loading with regard to lazy loading of relations is controlled. I understand now the issue that can arise because of the order of the generated entities.

[2018-08-29 21:28] jdubois commented on #7374
Of course @cbornet has the best answer: https://github.com/jhipster/generator-jhipster/issues/7806#issuecomment-398165015

[2018-08-29 21:50] RothAndrew commented on #7374
I got it to work, without having to use @cbornet's suggestion in https://github.com/jhipster/generator-jhipster/issues/7806#issuecomment-398165015, which was throwing an exception (see https://github.com/jhipster/generator-jhipster/issues/7806#issuecomment-417109949).

I annotated the service method with `@Secured(AuthoritiesConstants.ADMIN)`, rather than the rest controller method. It actually fe

[2018-08-30 00:45] ruddell commented on #6735
I can't reproduce this using the config from the first post, it looks like it's working:

Creating a new entity:
<img width="1440" alt="screen shot 2018-08-29 at 1 49 47 pm" src="https://user-images.githubusercontent.com/4294623/44814790-90efa700-ab92-11e8-85e5-d5b98907e73b.png">
Updating an existing entity:
<img width="1440" alt="screen shot 2018-08-29 at 1 50 09 pm" src="https://user-images.gith

[2018-08-30 04:41] deepu105 opened #8185 "Microservices stack generation using JDL"
@MathieuAA has done most of the work already, this ticket is for fixing any gaps and making the full stack generation work. I'll be starting this next week as I'm planning to demo this.

[2018-08-30 04:42] deepu105 commented on #8185
@MathieuAA can you list down any known issues or TODO on this part here as well

[2018-08-30 04:53] MathieuAA commented on #8185
Yes, I'll try to do it when I have the time today

[2018-08-30 05:13] pascalgrimaud opened #8186 "Builds failed for Gradle: missing jhipster-dependencies 2.0.18"
There was a release of jhipster/jhipster v2.0.18 yesterday, 16 hours ago.
- it seems OK for Maven: https://mvnrepository.com/artifact/io.github.jhipster/jhipster-dependencies
- but KO for Gradle ; there is no 2.0.18 here https://jcenter.bintray.com/io/github/jhipster/jhipster-dependencies/

That's why all builds failed with Gradle.

@jdubois : I ping you as you are the only one who can fix it. May

[2018-08-30 06:51] jdubois commented on #8186
Thanks @pascalgrimaud - yes I know about this, I was waiting a few hours to test again. We can't do much more anyway!

[2018-08-30 07:11] pascalgrimaud commented on #8186
Just to let you know, it's the same issue for `0.1.14` too

[2018-08-30 07:46] #8179 closed

[2018-08-30 08:01] jdubois commented on #8186
Oh, and I see `0.1.14` never made it!! That's very bad from JCenter, as it means its sync system is just broken!!!
I'll release a `2.0.19`, that's the only way I know to force this.

[2018-08-30 08:11] jdubois commented on #6735
Thanks @ruddell for testing!
@duderoot no https://github.com/jhipster/jhipster/pull/59 has not been merged yet, it's one of those old PRs I didn't have time to check. @gzsombor you're the boss on that part, can you do a review?

-> I'm not sure what we should do here, @agoncal can you check if that issue is fixed or not?

[2018-08-30 08:13] jdubois commented on #7374
Oh thanks @RothAndrew - yes I understand the services work, as they are not mocked. I'll keep this in mind, I wanted to add more tests on this part, and that's a way to achieve it.

[2018-08-30 08:55] jdubois commented on #8186
Looks like `2.0.19` is also not sync'ing to JCentral... They must have a bug, we can't do anything but wait, last time I contacted them for such an issue (for `0.1.14`) they told me that as I wasn't a customer I couldn't get support (which is fair, of course).

[2018-08-30 08:55] ruddell opened #8190 "JHipster Registry docker-compose file not working on master"
##### **Overview of the issue**

Using `docker-compose -f src/main/docker/jhipster-registry.yml up -d` in a generated project (only on the `master` branch), the registry fails to launch with the following error:
[code]
##### **Motivation for or Use Case**
The provided docker-compose files should work, this is also causing the Travis logs for microservices to be extremely long and hard to read

###

[2018-08-30 09:00] jdubois commented on #8190
Yes that's because we need a new JHipster Registry release for that new version.

I'm currently doing it in https://github.com/jhipster/generator-jhipster/issues/8165 (and testing at that very moment!)

[2018-08-30 09:00] #8190 closed

[2018-08-30 09:50] jdubois commented on #8165
I'm realizing that if you have a microservice architecture, with a mix of older and newer JHipster applications, you cannot mix base64 en clear text secrets with the current config.

What needs to be done is have the clear text secret have a higher priority than the base64 one: that way older and newer applications can work together.

Not the best thing for security, but I've put some big warning

[2018-08-30 10:43] agoncal commented on #8185
@MathieuAA @deepu105 hey guys, if you need another pair of eyes to try/test/give feedback on the new JDL version on microservices stack, I'm your man.

[2018-08-30 10:54] agoncal commented on #6735
@ruddell @jdubois Fixed for me too ! #Great

[2018-08-30 12:26] jdubois commented on #3805
@pkesavulu this is the bug tracker, please follow the project guidelines and use Stackoverflow if you have a question, it's nicer for other users who might have the same question

[2018-08-30 12:49] danielpetisme opened #8191 "OWASP Dependency Checker for backend security"
##### **Overview of the feature request**

Add OWASP dependency checker in Maven and Gradle builds

##### **Motivation for or Use Case**

This PR is inspired by the Devoox FR Talk [Sécurité des applications Web les bons réflexes à avoir (E. Lenoir)
](https://www.youtube.com/watch?v=UW2ZsbhbFDY)

Security is always underestimated, thanks to this talk I've discovered easy to setup tools. The aim of

[2018-08-30 13:09] jdubois commented on #8190
@ruddell that should be OK with https://github.com/jhipster/jhipster-registry/commit/0f6c9a7dcdd73aa738b0056b5a3a0674ad2907b8 but I'm still testing (the image is not built yet on Docker Hub)

[2018-08-30 13:28] #8018 closed

[2018-08-30 13:36] jdubois commented on #8186
I'm really not good at using Gradle, so please @atomfrede correct me if I'm wrong, but can't we use `mavenCentral()` to get the artifacts from Maven Central instead or Bintray? That would solve that issue, and would also be better for our stats (as I get the stats from Maven Central on our number of downloads)

[2018-08-30 13:49] atomfrede commented on #8186
Yes totally right. We should remove jcenter such that only one repository
is queried.

On Thu, Aug 30, 2018, 15:36 Julien Dubois <notifications@github.com> wrote:

[2018-08-30 13:53] pascalgrimaud commented on #8186
@atomfrede @jdubois : I look an older version of JHipster randomly: 4.0.5, we had this config before:
https://github.com/jhipster/generator-jhipster/blob/v4.0.5/generators/server/templates/_build.gradle#L7

So I think it was removed, as discussed in this ticket: https://github.com/jhipster/generator-jhipster/issues/6252

[2018-08-30 13:56] gmarziou commented on #8191
Well I stay on my comments to #6329 :)

[2018-08-30 14:05] atomfrede commented on #8186
Exactly.

On Thu, Aug 30, 2018, 15:53 Pascal Grimaud <notifications@github.com> wrote:

[2018-08-30 14:12] jdubois commented on #8191
Indeed @gmarziou you are right
Then, as I had quite a lot of trouble to set up those tools for one of my clients (and with a good configuration it works great!), maybe we should rather do a documentation page?

[2018-08-30 14:14] jdubois commented on #8186
OK I get it, then `For instance mavenCentral is fully contained in jcenter()` is not totally true, as we are getting those sync errors... And that's the second time, and we are quite blocked now.

So I'm for migrating back to Maven central

[2018-08-30 14:28] danielpetisme commented on #8191
@gmarziou sorry I should have search an existing issue before creating this one.

You've got more experience on that topic. So go for a doc.

Should we fix the current identified CVEs ?

[2018-08-30 14:50] gmarziou commented on #8191
Yes

[2018-08-30 14:51] jdubois commented on #8186
At least I'm doing this now to fix the build....

[2018-08-30 15:02] #8186 closed

[2018-08-30 15:04] jdubois commented on #8191
OK then I'm closing this as there won't be anything coded here, just a new documentation page.

-> @danielpetisme if you want to do it, just duplicate a simple page and write the markdown, I know it's hard to test and integrate so if you have issues on those don't worry I will fix that. The most important thing is the content itself.

[2018-08-30 15:04] #8191 closed

[2018-08-30 15:50] #8174 closed

[2018-08-30 15:59] danielpetisme commented on #8191
Should I create a new page or could I continue this one https://www.jhipster.tech/security/

[2018-08-30 16:02] jdubois commented on #8191
@danielpetisme this is worth a specific page, it's quite big. And of course we can link it to the other pages

[2018-08-30 19:04] ruddell commented on #6735
Sorry I should have read @duderoot's comment more closely.  The issue is mostly fixed, but not when entity-filtering is enabled (which should be fixed by that PR I'm guessing).

[2018-08-30 21:48] MathieuAA commented on #8185
My main issue about the generation, and my only one, is multi-app generation. Telling the generator to import a JDL file (creating the `.yo-rc.json` & entity files) was pretty "easy" once yarn and some yeoman surprises got out of the equation.
However, the multi-app generation flow as described below:
  - Reading a JDL file (check)
  - Creating all the `.yo-rc.json` & entity files in all required

[2018-08-31 03:29] TonyLuo opened #8192 "Microservices gateway fail to communicate with other services when enable https"
##### **Overview of the issue**
there are 4 services(include gateway and jhipster-registry) in my microservices app:  jhipster-registry-4.0.0, gateway, order , core.
 Everything is fine when using http.
but the  gateway fail to communicate with other services when enable https for **gateway**, **order** and **core** service

##### **Motivation for or Use Case**

##### **Reproduce the error**

####

[2018-08-31 07:33] jdubois commented on #8192
(I edited your ticket to remove the keystore password!)

You don't give the full stacktrace, but I guess you have an SSL error? Are the other JVM trusting your certificate? That's a bit complex to set up manually (for that kind of thing, Istio will be so much better, see #7708 ) and I'm pretty sure that's your issue.

Unfortunately we can't set this automatically for you...

[2018-08-31 09:33] jdubois commented on #6941
I understand the issue (we have the same for a customer, and did a custom solution), but I'm closing this as:

- @mraible already answered why this is the case today. To me this is a limitation on OIDC, or a missing feature.
- There are some workaround like the one @mraible gives, but they are specific to a provider. At the moment, we do not do anything specific per provider, as the goal is to be

[2018-08-31 09:33] #6941 closed

[2018-08-31 09:34] jdubois commented on #8147
I'm adding a $100 bounty on this.

[2018-08-31 09:38] jdubois commented on #8186
The sync process is getting better today, but it's still lacking the latest version.... I'm waiting for it to sync, and if it works I'll revert my commit and switch back to jcenter.

[2018-08-31 09:42] #7850 closed

[2018-08-31 09:59] CallisteHanriat opened #8193 "Impossible to upgrade : can't andwer a statistic usage question (console blocked)"
##### **Overview of the issue**

So I've a project generated by Jhipster 5.1.0 and I tried to upgrade this project to the last JHipster version. Everithing works well until one of the last steps specified in the documentation :
`Re-generate the application using the jhipster --force --with-entities command.`

From this step it asks a question and the process seems to be blocked (I waited for sever

[2018-08-31 10:03] jdubois commented on #8193
I'm closing this as it's a duplicate from #8156 (there's an answer there!)

But if you can wait until this afternoon, see https://groups.google.com/forum/?hl=en#!topic/jhipster-dev/uSI0ryoK4P0 -> there should be a new release with a fix for this (as well as tons of other fixes)

[2018-08-31 10:03] #8193 closed

[2018-08-31 10:08] CallisteHanriat commented on #8193
Thanks ! I'll check that after

[2018-08-31 10:31] TonyLuo commented on #8192
I use nginx as  gateway load balancer and enable the https on nginx finally to achieve the same goal ...
 thanks so much for your reply

[2018-08-31 10:31] #8192 closed

[2018-08-31 12:54] wmarques commented on #8164
@deepu105 I started to migrate from jasmine to mocha/chai on Angular. I'll provide a PR for this only and keep separate e2e tests. Then we can start "merging" the tests but we'll have some work to do to have same CSS selectors and same tests scenarios across the frameworks.

[2018-08-31 13:03] TonyLuo opened #8195 "Microservices gateway issue: APPLICATION FAILED TO START"
##### **Overview of the issue**
I generate the microservice gateway using the jhipster 5.2.1, change nothing but only the database configuration.
 After that compile the war file by running mvn clean -Pprod,swagger,no-liquibase package,
and try to run java -jar gateway-0.0.1-SNAPSHOT.war, but the gateway failed to start

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **

[2018-08-31 13:05] ndywicki opened #8196 "SwaggerBasePathRewritingFilter with http gzip compression"
Hello team,

With microservices applications and the **gateway** in Jhipster v5.2.1 (maybe older v5 also) when the server http compression is enabled (ex. with prod profil),  the response of an request after `Zull Filter` and `SwaggerBasePathRewritingFilter `the **Content-type** is '**gzip**' but the content is **decompressed**.

Note: spring-cloud-netflix-zuul alway send the Accept-Encoding to 'g

[2018-08-31 15:35] #7844 closed

[2018-08-31 15:45] #8195 closed

[2018-08-31 15:45] jdubois commented on #8195
I'm testing but at the moment I can't reproduce... It looks like those properties got deleted in your code: Spring Boot has a configuration for them, but it can't apply it. Did you change anything else in your code?

[2018-08-31 15:45] jdubois commented on #8195
Oops you closed it as the same millisecond I posted my message! So I guess you found the issue :-)

[2018-08-31 15:53] Tcharl commented on #8167
Also, clients can be configured inheriting from a template instead of replicating the data.
I think that mappings are done from the spring security userdetails mapper class.

[2018-09-01 03:33] TonyLuo commented on #8195
the project is upgraded from jhipster4, and using the cloud configuration, when start it , it will automatically load the old configuration from cloud....
jhipster4 old cloud configuration cause that issue.

[2018-09-01 11:28] unikzforce commented on #8166
@mraible Would you please take a look at our problem?
why it can login but will get error 401 on api calls? do you have any idea whats happening here?

[2018-09-01 12:09] mraible commented on #8166
@unikzforce Unfortunately, no. I'm going on vacation today and would prefer to spend it away from my computer. I'll be back in action on September 10.

[2018-09-01 12:15] unikzforce commented on #8166
@mraible Bon voayge :)

[2018-09-01 13:36] jdubois commented on #8162
Another good reason to switch, the current master is broken because of:
[code]
I have no idea why Yarn keep their own repo, but this is like our issue with Maven Central and JCenter -> we need to have only one repo manager, and I'm pretty sure the one from NPM is better. At least, you won't have sync issues with it, as this is the one we push to.

[2018-09-01 13:37] jdubois commented on #8162
LOL and the Yarn status page at https://status.yarnpkg.com/ says there's no issue at the moment...

[2018-09-01 13:57] jdubois commented on #8196
Hey @ndywicki thanks for such a complete bug report! On a personal note: didn't we work together at the French central bank?

[2018-09-01 14:14] pascalgrimaud commented on #8162
yeah I see and agree.

I already start this but it's just more work than expected and as I encounter some other issue when switching back to NPM, it must be fixed before, specially https://github.com/jhipster/generator-jhipster/pull/8200

[2018-09-01 16:13] ndywicki commented on #8196
Correct ! you made a code review of our project with @agoncal ;)

[2018-09-02 11:38] ivangsa commented on #7944
I have already generated some projects that uses mongodb with relations with different options that seems to work nicely

https://github.com/ivangsa/jhipster-mongodb-sample-projects

Can you add me to the google group so I can share news and ask technical questions..

[2018-09-02 12:00] jdubois commented on #8162
@pascalgrimaud I'm switching all the sample applications to NPM

[2018-09-02 12:00] pascalgrimaud commented on #8162
thanks a lot @jdubois

[2018-09-02 12:04] jdubois commented on #8196
@ndywicki I'm sure your code was awesome :-)
(to be honest I don't remember!!)

[2018-09-02 12:06] jdubois commented on #7944
@ivangsa the good place to discuss is here, not the mailing list. The mailing list is only for core dev team members, and it's not good to link code, discuss with everyone, etc... We do all the work on GitHub, even if sometimes the issues because too big!

[2018-09-02 17:32] jitendrahpatwa opened #8205 "jhipster doesn't allow to update mysql db using liquibase:update"
I tried to create another entities in my JDL and saved in jhipster-jdl.jh file, I followed the command

to make changes in project file and seems it created entity with appropriate folders but my concern is whether some of entity I renamed and added some of the parameters in entity and managed there relationships accordingly, the problem was I faced using command

and it shows FAILED and says some

[2018-09-02 19:02] ivangsa commented on #7944
Ok,

my next plan is to start testing adding new relationships with prompts which I didn't test yet at all..

projects generated with jdl already work nicely without any tweaks
many-to-one, many-to-many, embedded/one-to-one are tested with/out dtos, pagination...

and gui code seems compatible with mongodb persistence,
I didn't need to tweek anything above dtos layer, so microservices are expected

[2018-09-02 21:08] gmarziou commented on #8205
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-09-02 21:08] #8205 closed

[2018-09-03 08:12] jdubois commented on #8162
Thanks a lot @pascalgrimaud - I'm going to merge everything and release today!!

[2018-09-03 08:28] jdubois commented on #8162
@PierreBesson yes I saw it for the error, but:

- Adding another proxy is just going to add more issues
- The status page from Yarn wasn't showing the issue, when the one from NPM did

So for me this is just adding a layer that will cause trouble.

Also let's keep JHipster Registry and JHipster Online on Yarn, those are "final" projects, there's no need to migrate, at least not now.

[2018-09-03 12:17] pascalgrimaud commented on #8165
@jdubois :
- I saw your commit https://github.com/jhipster/generator-jhipster/commit/70b847423f5dd068c4b5053c28c26a5b709ecee4 -> we use `jwtSecretKey` in `jhipster.security.authentication.jwt.base64-secret`
- it means we need to update all `jwtSecretKey`, right ?

For example, for the [jhipster-sample-app-gateway](https://github.com/jhipster/jhipster-sample-app-gateway) project:
- see the value: h

[2018-09-03 12:26] jdubois commented on #8165
For microservices, if you have a mix of older and newer versions, you should use the old "secret" key property: it will work with all versions. However, it needs to be long enough.

In the long term, the idea is to have "base64-secret" everywhere, but I didn't do it yet as indeed that would block people who don't upgrade all their microservices at once.

[2018-09-03 13:07] murdos opened #8206 "Remove non-free and unused dependency to org.json:json"
##### **Overview of the issue**

Each generated project by JHipster indirectly declares a dependency to org.json:json that [is considered non-free](https://wiki.debian.org/qa.debian.org/jsonevil) because of its license clause "The Software shall be used for Good, not Evil."

##### **Motivation for or Use Case**

This org.json:json dependency is pulled by com.fasterxml.jackson.datatype:jackson-data

[2018-09-03 13:09] murdos commented on #8206
If we agree on the removal, I'll prepare a PR.

[2018-09-03 13:27] jdubois commented on #8206
You are totally right about the license...

- It is here: https://github.com/stleary/JSON-java/blob/master/LICENSE
- And there's some stupid text about it in the readme at https://github.com/stleary/JSON-java

And who decides what is good or evil? That depends on the country, on the period in time? What a lot of bullshit. I'm really angry, because that's a huge issue, for a lot of people, and one

[2018-09-03 16:02] pkesavulu opened #8209 "typeahead in jhipster"
Hi All,
At present  we are  working on jhipster frame work and  have implemented jhipster search operation which is perfectly working. Going forward we would like to implement Typeahead Concept in jhipster. It would be highly appreciated if any could assist in implementing the same.

[2018-09-03 17:05] gmarziou commented on #8209
@pkesavulu are you asking for help or are you proposing to contribute a new feature in JHipster ? If this is a question for getting help, you' re not in the right place as this is our issue tracker.

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

[2018-09-03 18:12] #8209 closed

[2018-09-03 20:52] deepu105 commented on #8185
I have some ideas on how to do the full stack generation. It will be a mix
of the JH cli and yeoman part working together. Yes that means if you try
to do yo jhipster: import-jdl it will fallback to current behaviour. But
thats ok for me we are not advising anyone to do yo commands anymore and if
someone is stubborn to do that then they just miss the feature. Not a big
deal. I'm back from vacation

[2018-09-04 00:46] tomj0101 opened #8210 "I can't generate entity from JSON File."
##### **Overview of the issue**

I can't generate entity from JSON File. when I create an application (generator-jhipster version 5.3.0) generated good, but if I try to run the entity command. ( yo jhipster:entity Contacts) I get an error.

##### **Motivation for or Use Case**

I still used create entity .jhipster/Contacts.json file.

##### **Reproduce the error**

developer@dev-pc:~/Documents/Pro

[2018-09-04 01:04] delkant opened #8211 "UAA using couchbase won't start [jh 5.3.0]"
##### **Overview of the issue**
Jhipster 5.3.0 : After generating a UAA service with couchbase, service wont start using ./gradlew

./gradlew

FAILURE: Build failed with an exception.

* Where:
Build file '/home/project/uaa-srv/build.gradle' line: 207

* What went wrong:
A problem occurred evaluating root project 'uaa'.

##### **Motivation for or Use Case**
UAA service with couchbase

##### **Repr

[2018-09-04 01:47] ruddell commented on #8211
Can you please post your `.yo-rc.json` config for the UAA?

[2018-09-04 05:27] yatendragoel opened #8213 "@PostMapping should be changed to @PutMapping for AccountResource"
##### **Overview of the issue**

There are two minor issues with the `AccountResource.java`:

1. The update account endpoint `saveAccount` uses `@PostMapping("/account")` wherein it should be using `@PutMapping("/account")` as per the REST API convention.
2. For the endpoint `registerAccount(...)`, shouldn't we change the URI from `@PostMapping("/register")` to `@PostMapping("/account")` to make i

[2018-09-04 06:33] cbornet commented on #8213
While we're at it, `/account` should be changed by '/accounts' and the user account could be on `/account/me`

[2018-09-04 06:39] pascalgrimaud commented on #8211
This PR https://github.com/jhipster/generator-jhipster/pull/8212 should fix your issue.

For a quick fix in your project, you can search `h2database` and delete the dependencies, in files:
- build.gradle
- profile_prod.gradle

[2018-09-04 06:41] pascalgrimaud commented on #8147
@hdurix : another solution would be to check the `alert` message, and we could try to close it. It will speed up a lot our protractor tests. Could it be possible ?

[2018-09-04 07:34] Blackdread opened #8214 "Count by criteria"
##### **Overview of the feature request**

Be able to return only a count by criteria, very similar to "findByCriteria" in QueryService and  "getAllXXXXXX" in resource.

I have this feature in my apps for long time now but jHipster does not offer it by default which it could I think.
I looks like:
[code]

and

[code]

##### **Motivation for or Use Case**

Enable count by default as a feature

####

[2018-09-04 08:43] duderoot opened #8215 "MS SQL Server should not use tempdb when working with Docker Compose"
##### **Overview of the feature request**

When working with docker-compose and MS SQL then the default database in tempdb. MS SQL is cleaning this database on each restart i.e. data can get lost.

##### **Motivation for or Use Case**

 For the persistence of the data I use docker volumes. The problem is that  when I throw the container and restart  my data is also lost although I use volumes in o

[2018-09-04 08:55] deepu105 commented on #8210
Maybe its a good idea to deprecate the use of `yo jhipste:commands` and add
warning if someone uses that directly. I'll do this this weekend

Thanks & Regards,
Deepu

On Tue, Sep 4, 2018 at 10:23 AM Julien Dubois <notifications@github.com>
wrote:

[2018-09-04 11:17] DanielFran opened #8216 "Error creating microservice project in 5.3.0"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

$ jhipster
Using JHipster version installed globally
Running default command
Executing jhipster:app
Options:

        ██╗ ██╗   ██╗ ████████╗ ███████╗   ██████╗ ████████╗ ████████╗ ███████╗
        ██║ ██║   ██║ ╚══██╔══╝ ██╔═══██╗ ██╔════╝ ╚══██╔══╝ ██╔═════╝ ██╔═══██╗
        ██║ ████████║    ██

[2018-09-04 11:53] jdubois commented on #8216
Oh that's because we are now trying to generate a self-signed certificate for you, this is not just for microservices.

Then keytool should be installed with Java, and as we test Java before running the generator that should be fine - there's something not good here, and we should indeed ignore the error (no certificate for you, but no big deal...).

cc @PierreBesson as he works on this.

[2018-09-04 14:13] pascalgrimaud commented on #8216
it concerns all projects and all configuration, when no keytool found -> I renamed the title

[2018-09-04 14:15] pascalgrimaud commented on #8215
Ping @ruddell as he's the one who added the support.

[2018-09-04 14:16] pascalgrimaud commented on #8213
It will be a breaking change for our users who want to upgrade the application ?

[2018-09-04 14:48] cbornet commented on #8213
Indeed, breaking it is.

[2018-09-04 15:00] DanielFran commented on #8216
@jdubois Will you make soon a 5.3.1 due to this blocking issue?

[2018-09-04 15:06] PierreBesson commented on #8216
Yes it is a blocker for a minority of poeple but it takes a long time to make a release so I'm against doing the release so soon.

[2018-09-04 15:09] jdubois commented on #8216
Oh I could do one tomorrow, we also have an issue with Heroku but I'm waiting a little bit for some feedback from their team (as discussed with @jkutner privately)

[2018-09-04 15:15] pascalgrimaud commented on #8216
Another blocking issue: Gradle is broken with NoSQL database. See my fix: https://github.com/jhipster/generator-jhipster/pull/8212

[2018-09-04 15:18] jdubois commented on #8213
Then we shouldn't break all apps with a minor release... This isn't urgent as nobody noticed it yet, so let's postpone this until our next major release -> sorry @yatendragoel you are correct, but this isn't the right time to do this.

[2018-09-04 15:18] #8213 closed

[2018-09-04 15:43] codestrong commented on #6339
I doubt that anyone would prefer to have the current (free type) solution as opposed to an autocomplete of some sort or even (!) a 20-item drop down.

[2018-09-04 15:46] jamestenglish opened #8220 "Sonarqube not find jest coverage with gradle"
##### **Overview of the issue**

Running `./gradlew -Pprod clean test sonarqube` does not seem to pick up the jest coverage

##### **Motivation for or Use Case**

I'd like to report code coverage for the UI

##### **Reproduce the error**

Running `./gradlew -Pprod clean test sonarqube`  does not report the jest coverage to sonarqube, only the java coverage

##### **Related issues**

I think this m

[2018-09-04 16:13] pascalgrimaud commented on #8220
Indeed, nothing has been done for Gradle.
Do you know how to fix it ?

[2018-09-04 17:20] pascalgrimaud commented on #8126
I updated the documentation at jhipster.tech and instructions in generated docker-compose file.

For your information, you can update this line: https://github.com/anthonyrichir/demo-feign-config/blob/master/application.yml#L4 and apply a specific message.

It will displayed in logs above:
`Config Server: 	Connected to the JHipster Registry blablabla...`

The git profile doesn't exist anymore, it'

[2018-09-04 17:27] ruddell commented on #8215
That looks good, would you like to PR?  I can't test MSSQL volumes on Mac as they are not supported ("Mounting a volume does not work on Docker for Mac" - [MSSQL on Docker Hub](https://hub.docker.com/r/microsoft/mssql-server-linux/))

Make sure you aren't using the Docker image in prod without a valid license, though you can use `MSSQL_PID=Express` for a free database up to 10GB ([MSSQL License pa

[2018-09-04 17:44] #8126 closed

[2018-09-04 17:48] tomj0101 commented on #8210
Hi @jdubois
#1 - I removed npm folder fix this error, thanks.
#2 - This project is a sample, is not my real prod public package name, JWT secret key, but thank for the advice.!

Hi @deepu105 I install jhipster with yarn in my laptop with Ubuntu 18.04 but I won't be available to run just `jhipster` for this reason I run `yo jhipster`, but this is my bad, I need to fix my environment problem.

Thank

[2018-09-04 18:12] ivangsa commented on #7944
yes, @Embedded is a jpa annotation and is not being used for mongodb.. it was added only for sql..
(what I was expressing with 'embedded' for mongodb was an entity configured with @Field)

Now that full working projects can be generated I would like to rethink how to express relationships for both @Field/@DBRef so every option can be generated

I belive now it would be good idea, for much simpler,

[2018-09-04 18:30] pascalgrimaud commented on #8210
@tomj0101 : about jhipster with yarn, can you have a look at https://www.jhipster.tech/installation/

[2018-09-04 20:09] RothAndrew commented on #8220
Here's my manual way for an Angular frontend with gradle. Add the following to `sonar.gradle`

[code]

[2018-09-04 21:53] tomj0101 commented on #8210
@pascalgrimaud  excellent, I followed the installation step for Linux, and my generator work running  `jhipster` without the need to use `yo jhipster`. thanks, everyone !