[2015-10-04 09:48] #1907 closed

[2015-10-04 09:52] jdubois commented on #2079
OK, then we could have some specific options in the application.yml:

    jhipster:
        liquibase:
            shouldRun: true|false
            async: true|false
            force: true|false # Release the lock if it exists

[2015-10-04 10:24] jdubois commented on #2078
What version of JHipster are you using? Can you reproduce what you do using the sample application? Or maybe you have some specific options?

-> this really annoy me, you definitely shouldn't have this issue
-> then again, you don't follow our guidelines: no way to reproduce, no version number, no options....

[2015-10-04 10:25] jdubois commented on #2018
OK @gmarziou I believe you are right. It's the only solution where it works "out of the box" for people, so it's better.

[2015-10-04 10:26] jdubois commented on #1933
@deepu105 I'm trying not to have too many long-running opened issue.
It's clear to me, we will move to ES6 or TypeScript in the long time.

[2015-10-04 12:30] ufoscout opened #2083 "Clustered HTTP session with stateless session"
Something strange happens at project generation if OAuth2 or Token-based stateless authentication are selected; in fact at step 10 it asks you if you want to use clustered HTTP sessions:
[code]
Shouldn't the application be completely stateless when using one of the two stateless authentication modes?

[2015-10-04 13:20] jdubois commented on #2083
- Indeed, those authentication mechanism are stateless
- But you still have a session if you want to: maybe some people want to use OAuth2 but store some state in the session, this is a perfectly valid use case

I agree it can look strange at first sight, but there's an explanation.

And anyway, it doesn't hurt to provide this option (it's not always the case in JHipster, but here both option are

[2015-10-04 13:20] #2083 closed

[2015-10-04 14:38] mkh1973 opened #2084 "Karma: avoid DISCONNECTED messages when connecting to slow virtual machines"
Dealing with flakey connections to  slow virtual machines the "karma.conf.js" should be adapted.

[2015-10-04 21:30] krishna383 commented on #2079
@jdubois I like the application.yml configuration, this way, when ever I have database updates, I can turn these on and keep it off for the rest of the time. So that it crashes and restarts it does not create the lock.

Also, I am looking to scale the app to 2 nodes, need to see how liquibase would try to do the DB updates, do you have any insight on that?

[2015-10-04 22:01] gmarziou commented on #2018
This could be a breaking change for existing apps

[2015-10-04 22:32] safaahashim commented on #1912
I had similar issue when using MySql on Ubuntu. I resolved it by adding an MySql environment variable for "lower_case_table_names" in "/etc/mysql/my.cnf" and then restarting the server.

After I did that I dropped the old tables and regenerated the data schema which then was accessible, specially the authentication tables by spring with no issue.

Hope this helps.

[2015-10-04 22:45] gmarziou commented on #1912
Duplicate of #2018

[2015-10-05 00:57] joslash commented on #2078
Sorry jdubois...

I just uploaded my app to [bitbucket.org](https://bitbucket.org/joslash/jh_pos/)...
The node version I have in my system is node-v4.1.1...

I run the app through mvn spring-boot:run... After that, I created a Client entity without any relationship, and it works well.
Then, I created Item and Stock. Both with relationships to each other, and the app doesn't work.
Even I created Au

[2015-10-05 04:38] Vaelyr commented on #2078
I rather feel that you may have made a mistake during entity generation. Most likely the relationship isn't defined correctly. How about post your entity json settings.

[2015-10-05 05:57] artjomg opened #2087 "Please add a section in the wiki, for external configuration"
Hi,

since it is not really obvious to beginners, it would be great to explain to in the wiki how external spring boot configuration can be used in WAR mode.
For reference please use: http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html

Thanks,
ArtjomG

[2015-10-05 07:39] maheshkaranjkar opened #2088 "Question Profile configuration (Not an issue)"
Hi Team,

I know Its silly question. But I want to change active profile to Production. Please in which file I need to made changes . I have changed Both application.dev.yml and same for application.prod.yml with
following changes.

<code>
spring:
    profiles:
        active: prod
</code>

and

<code>
spring:
    profiles:
        active: dev
</code>

Do I need to either profile inactive so that

[2015-10-05 08:33] jdubois commented on #2088
Hi,

This is our bugtracker, not the right place for questions (please follow our guidelines).

To run in production:

- Follow our guide at http://jhipster.github.io/production.html
- Have a look at the Spring Boot docs, we're just doing a Spring Boot app, and we are not documenting Spring Boot :-)

[2015-10-05 08:33] #2088 closed

[2015-10-05 08:33] #2084 closed

[2015-10-05 08:35] jdubois commented on #2087
Thanks, but for me this is normal/standard Spring Boot use, so we shouldn't have to document this.

[2015-10-05 08:35] #2087 closed

[2015-10-05 08:39] jvence opened #2089 "Allow user to login with Email instead of username"
We need the ability to allow a user to login with their email address (as primary identifier) rather then the username. Many user cannot remember their user id and therefore the option to specify either would be very helpful

[2015-10-05 08:42] jdubois commented on #2089
Is this a feature request? I'm afraid we are not going to change the way the generator work just for one person.

If you don't know how to code this, you can post this on StackOverflow -> this is probably very easy to do, and I'm sure people over there will help you.

[2015-10-05 08:42] #2089 closed

[2015-10-05 09:49] aquaglia commented on #874
@pmarrone What you suggested worked for me, too, many thanks!

[2015-10-05 10:21] alchemistgo87 opened #2090 "Wrong mongo object being created"
My database configuration class is as follows:

[code]

application-dev.yml has properties defined as follows:

[code]

When I save data to mongo it is not being saved to the database "mydb" at "myHost" with port 27017.

To look into the matter I logged the mongo properties inside the "mongoProperties" object which gave me the following result:
```Mongo Properties: Mongo Host: myHost, Mongo Port:

[2015-10-05 12:03] jdubois commented on #2090
The current JHipster version uses Spring Data MongoDB 1.6.3 -> if you upgrade your pom.xml file, and have some newer version of some librairies, that have new transitive dependencies, this is not a JHipster issue.

[2015-10-05 12:03] #2090 closed

[2015-10-05 12:05] maodo commented on #416
I have the same error "failed to execute goal com.github.trecloux:yeoman-maven-plugin" when beginning with jhipster.
{
  "name": "pegasus",
  "version": "0.0.0",
  "description": "Description for pegasus",
  "private": true,
  "dependencies": {
  },
  "devDependencies": {
    "grunt": "0.4.5",
    "grunt-autoprefixer": "2.2.0",
    "grunt-build-control": "0.3.0",
    "grunt-wiredep": "2.0.0",

[2015-10-05 12:26] gmarziou commented on #416
@maodo don't use an old closed issue if you want to get some help and also provide log file.

[2015-10-05 12:52] jdubois commented on #2078
yes I think @Vaelyr is right, it looks like you did something wrong when creating your entities.
Maybe you didn't create them in the right order?
You must have some other issue than just the HTTP POST error

[2015-10-05 14:07] joslash commented on #2078
This the Item entity
[code]
This is the Stock entity
[code]

Thanks!

[2015-10-05 14:21] juancarloscavero commented on #1075
Try to install the latest version of gradle, it's worked well for me

[2015-10-05 14:29] jdubois commented on #2078
I just tried it, no problem at all creating an Item...
Just try it on the sample project, I'll be happy to help but here I'm not able to reproduce

[2015-10-05 15:12] #1216 closed

[2015-10-05 15:16] jdubois opened #2091 "Update the Gradle build to use spring-boot-configuration-processor"
Sorry @atomfrede I tried to do it, but I definitely suck at Gradle!!

So in the pom.xml we have the new spring-boot-configuration-processor, and we should have it also on the Gradle side.

It's all documented here: http://docs.spring.io/spring-boot/docs/current/reference/html/configuration-metadata.html

But this documentation isn't enough for me!

[2015-10-05 15:22] #2018 closed

[2015-10-05 15:23] atomfrede commented on #2091
I'll have a look

[2015-10-05 20:10] #2091 closed

[2015-10-06 02:27] joslash commented on #2078
Today, I just created another project to give a second try to JHipster,,, and it is worst than before! =(

I created just one entity, author, with two fields: name and phone. After run the app with mvn spring-boot:run I got the same error: Request method 'POST' not supported.

It could be some library wrong?

[2015-10-06 07:53] jdubois commented on #2078
I'm sorry but once again please follow our guidelines: we need more information than "it doesn't work" if you want us to help you.
I'm pretty sure you have found some edge case, and I'll be happy to solve it, but here there's just not enough information.
As I can't reproduce your issue, and the guidelines are not followed, I'm closing this.

[2015-10-06 07:53] #2078 closed

[2015-10-06 11:06] mallim commented on #1525
May I know how to add user from User Management screen? Thanks for the good feature.

[2015-10-06 11:15] Vaelyr commented on #1525
Last time I checked it wasn't implemented fully yet, but would be rather easy to just create a new state for the detail view and reuse the registration logic that comes by default.

[2015-10-06 14:44] bdemers commented on #2080
@jdubois yeah, I've been meaning to play around with it more, but haven't had the time.  Luckily though @jvanzyl picked up under Takari org: https://github.com/takari/maven-wrapper.

I'll put a link in the README on my fork, and a few other related notes to avoid the confusion.  Thanks for the interest in the project!

[2015-10-06 15:05] migorman opened #2094 "jhipster confirmation email"
Please i'm using jhipster and i'm facing a probleme with mail confirmation for new user (i cant send the email even if i 'm allowing less secure apps for my gmail)
this is my configuration :
  host: smtp.gmail.com
    port: 587
    user: test@gmail.com
    password: test
    protocol: smtp
    tls: true
    auth: true
    from: test@gmail.com
and this is my log :+1:
<html>
    <head>
        <titl

[2015-10-06 15:15] jdubois commented on #2094
From your stacktrace:

    Authentication failed; nested exception is javax.mail.AuthenticationFailedException: 535-5.7.8 Username and Password not accepted. Learn more at
    535 5.7.8 https://support.google.com/mail/answer/14257 pb4sm32897347wjb.8 - gsmtp

This is not a JHipster issue, you need to configure your SMTP server

[2015-10-06 15:15] #2094 closed

[2015-10-06 15:20] migorman commented on #2094
thank you @jdubois

[2015-10-06 16:05] maklemenz opened #2095 "Security: TokenProvider vulnerable to timing attacks"
The TokenProvider uses `String.equals(str)` to compare the given token-signature with a calculated one. This method uses a break-on-inequality algorithm. This makes the TokenProvider vulnerable to timing attacks, where an attacker can forge a token with any username more easily than using brute force.

[Coda Hale did a nice blog post on this topic](http://codahale.com/a-lesson-in-timing-attacks/)

[2015-10-06 17:20] migorman opened #2097 "jhipster confirmation email"
Hi sir i cant send mail confirmation for my new users, u v told me to configure an smtp server wich i did and i can send mails from console(ubuntu) but still facing the same probleme with the application
[WARN] ma.maroc.bricole.service.MailService - E-mail could not be sent to user 'bricole.maroc@gmail.com', exception is: Authentication failed; nested exception is javax.mail.AuthenticationFailedEx

[2015-10-06 17:35] migorman commented on #2094
please even if i configure my smtp server i m facing the same problem
Note : i can send mail trough console (ubuntu)
do u have any idea please ?

[2015-10-06 17:39] gmarziou commented on #2097
Not a JHipster issue, please use stackoverflow to get help.

[2015-10-06 17:39] #2097 closed

[2015-10-06 18:10] jdubois commented on #2097
This is a duplicate from #2094

[2015-10-06 18:31] mraible commented on #2094
I tried these settings with my gmail account and I was able to make it work. I also confirmed I could register and receive an email. It seems your username and password are incorrect. All your other settings are the same ones I used.

[2015-10-06 18:32] jdubois commented on #2094
Oh, and I agree this is not obvious to configure!!

[2015-10-06 18:33] atomfrede commented on #2094
You have to use a dedicated imap/smtp password for your gmail account (at least for me) the credentials are not the same as your normal google login credentials.

[2015-10-06 18:58] atomfrede commented on #1755
Sounds good. Need to check how to handle it with the datepicker. But I guess I'll open a new ticket for adding the date picker.

[2015-10-06 19:31] jdubois commented on #2095
Impressive. I knew about them, and I didn't think we were vulnerable to them.
I didn't write that code but I reviewed it quite carefully, and now you find this!! That's the great thing about JHipster, so many people working together.

Maybe we should also check for OAuth2, and for the standard Spring Security authentication mechanism. @rwinch have you already checked this in Spring Security?

[2015-10-06 19:50] migorman commented on #2094
it works :!! Thanks

2015-10-06 19:33 GMT+01:00 Frederik Hahne <notifications@github.com>:

--
Mounir IGORMAN
Ingénieur Etudes & Développement
Phone : +212617612986

[2015-10-06 20:02] rwinch commented on #2095
@jdubois Thanks for calling this to my attention.

Spring Security / Spring Security OAuth either uses

* Constant time comparison (i.e. [PasswordEncoderUtils](https://github.com/spring-projects/spring-security/blob/4.0.2.RELEASE/core/src/main/java/org/springframework/security/authentication/encoding/PasswordEncoderUtils.java#L20) and [MacSigner](https://github.com/spring-projects/spring-security-

[2015-10-06 20:27] jdubois commented on #2095
I thought I knew Spring Security quite well, and now I see goes way beyond what I imagined!!

By the way I should check the JWT support from Spring Security: I didn't know about this, it's probably better than our own custom-made solution.

[2015-10-06 20:41] gmarziou commented on #1755
The date format could also be stored in global.json so that it can be configured per locale.

[2015-10-07 01:10] deepu105 commented on #1755
Thats better I guess

[2015-10-07 06:40] pnreddysvu commented on #2095
There are few examples if you want to use JWT. Migrating to JWT also solves websocket authentication issue as well. See the below examples for reference.
https://github.com/auth0/socketio-jwt
https://github.com/nielsutrecht/jwt-angular-spring

[2015-10-07 07:47] moifort opened #2099 "Liquibase async using fast mode instead of dev"
@Julien I use Liquibase async feature (cool feature!), I just want to know, why using `SPRING_PROFILE_DEVELOPMENT` mode instead  of `SPRING_PROFILE_FAST` mode. This is my points:
* Using in association with other mode
* It speeds up the application on startup, as the purpose of fast mode
* It speeds up despite some problems (like a normal behavior when using fast mode)

[2015-10-07 07:57] jdubois commented on #2095
Thanks @pnreddysvu -> I'll add a new ticket to migrate to JWT

[2015-10-07 07:58] jdubois commented on #2095
Oh, and if we migrate to JWT, then we might not have to merge this PR -> I'm putting this on hold, until we have a closer look at JWT

[2015-10-07 07:59] jdubois opened #2100 "Migrate XAuth to Spring Security JWT"
Following the discussion from #2095 , study the migration to Spring Security JWT.

[2015-10-07 08:03] jdubois commented on #2099
Yes I'm going to change all this:

- There will be more options for Liquibase: like async mode, force locks, etc. It's discussed in https://github.com/jhipster/generator-jhipster/issues/2079#issuecomment-145331017 -> this is why I'm closing this ticket, it's nearly a duplicate
- In fact, things might even go further -> as Liquibase is the biggest thing that slows down startup time, that might be t

[2015-10-07 08:03] #2099 closed

[2015-10-07 08:12] jdubois commented on #1755
Sorry I didn't follow that: if you all agree, let's do it :-)

[2015-10-07 10:37] maheshkaranjkar opened #2101 "How to disable elastic search?"
Hi Guys,

We want to disable elastic search in our application.
Kindly suggest me how to disable the same. In existing application

Regards
Mahesh

[2015-10-07 12:03] deepu105 commented on #2101
You mean you have generated an app with elastic search option?  And now you want to remove it?
If the current state of your app is not customized too much then the easiest way is to take the `.yo-rc.json` file turn elastic search flag off and regenerate app and entities, then compare and merge customizations back into the newly generated app.

I dont think there is an easy way to remove

[2015-10-07 12:03] #2101 closed

[2015-10-07 15:41] joslash commented on #2078
Today, I just created another project to give a second try to JHipster,,, and it is worst than before! =(

I created just one entity, author, with two fields: name and phone. After run the app with mvn spring-boot:run I got the same error: Request method 'POST' not supported.

It could be some library wrong?

[2015-10-07 16:42] amit2103 commented on #1730
Hi, I can try to contribute code here. Can I work in this?

[2015-10-07 19:39] pascalgrimaud opened #2102 "PostgreSQL : problem for running in 2.22.0 ?"
Hello, trying to run a sample project with postgresql, since the release 2.22.0

Project : dev:h2 + prod:postgresql
* start in dev profile => OK (with H2)
* start in prod profile => KO
[code]

Project : dev:postgresql + prod:postgresql
* start in dev profile => KO
* start in prod profile => KO

[code]

I don't understand why the error is different...
The only solution I actually found is to use in

[2015-10-07 19:46] andidev commented on #1730
@amit2103 please do! I think this maybe needs to get documented as well.

@jdubois are you okay with this?

[2015-10-07 20:12] lordlothar99 opened #2103 "Missing french translation for password reset email"
Some text hasn't been translated into french in messages_fr.properties ;

[code]

[2015-10-07 20:18] andidev commented on #2103
Could you provide a PR or the translation directly in a comment?

[2015-10-07 20:36] lordlothar99 commented on #2103
on my way..

[2015-10-07 20:40] lordlothar99 commented on #2103
ready for merge !

[2015-10-07 20:41] #2103 closed

[2015-10-07 20:41] andidev commented on #2103
Done! That was fast =)

[2015-10-07 20:43] lordlothar99 commented on #2103
:zap:

[2015-10-07 21:07] bwfrieds opened #2106 "Failing to build jhipster sample app with node 4.1.2"
Julien Dubois suggested that I log this but it's probably not a bug because I know nothing about nodejs and npm.  I followed the jhipster setup instructions so I think I installed everything needed.  I did not get any errors when I installed yo, bower, grunt, and generator-jhipster.  I cannot attach a text file to this bug in Chrome so I'll paste it all below.  This is output from cygwin running a

[2015-10-07 21:25] lluiscanals commented on #2106
Hi, I think that the main problem is that you are building it on Windows. I
have had many issues with npm on Windows and one was the large paths of the
node_modules folder. I don't know if it is solved yet because I'm
developing in Ubuntu now.

Another thing I see in your logs is that python isn't in your path
variables. I don't know if any package dependency needs it and if it will
solve all your

[2015-10-07 23:03] gmarziou commented on #2106
On Windows, I don't recommend using node 4.x, there are still many issues with npm, node-sass, ...
Try to install node 0.12.x.

Usually, it's a bad idea to run node as an admin, to avoid it don't install it under a folder that requires admin rights like c:\programs.
Even better: use an nvm clone like [nodist](https://github.com/marcelklehr/nodist) to install it.

As Ben said, you're missing Python

[2015-10-08 04:08] amit2103 commented on #1730
@andidev I will get started on this then.

[2015-10-08 07:11] xenogew commented on #277
I can't find any connect/proxies section in Gruntfile.js.

Is it involve with grunt-connect-proxy, do I have to install it before put the configuration to Gruntfile.js?

[2015-10-08 08:15] jdubois commented on #277
Please don't comment closed issues, we don't work on them anymore

[2015-10-08 08:18] jdubois commented on #2106
Yes you have an issue with your Node installation: the Gyp issue is well-known, it's because of Python (like @gmarziou wrote), and then you have some permission issue.
I don't know how it works on Windows, but the majority of our users are using Windows, so it's definitely working.

[2015-10-08 08:18] #2106 closed

[2015-10-08 11:49] jvence opened #2109 "CORS support lacking in oAuth based apps"
Basically if you don't generate a session based authentication app, the CsrfCookieGeneratorFilter is not created so you need to manually add a filter to set the appropriate headers for CORS support. Instructions on http://jhipster.github.io/tips/006_tips_enable_cross_origin_requests.html are NOT valid for non-session based apps.

[2015-10-08 12:04] jdubois commented on #2109
If you don't have a session, then you don't have a cookie, so you shouldn't be vulnerable to CSRF attacks -> that looks logical to me that the CSRF filter is turned off, but please note that I didn't code both OAuth and Token mechanisms, so maybe I'm missing something. Can you elaborate on that issue?

[2015-10-08 12:13] jvence commented on #2109
That's fine but the instructions to enable CORS support (which would apply any type of authentication) depends on CsrfCookieGeneratorFilter (which as you correctly pointed out is not needed in an oAuth based app). Firstly instructions must be updated but also it would be nice to auto-generate a filter to enable CORS support on any type of generated app.

[2015-10-08 14:02] jdubois opened #2110 "Gradle CI build is failing"
I have no problem to build it on my machine, only the CI build fails:
https://drone.io/github.com/jhipster/jhipster-sample-app-gradle

@atomfrede can you have a look?

[2015-10-08 15:07] atomfrede commented on #2110
Yes. I'll try. Looks like a strange error. Will try it on my gitlab ci instance maybe.

[2015-10-08 16:55] gmarziou commented on #2109
This tip will be obsolete as soon as we use Spring Boot 1.3 by using new annotation [@CrossOrigin introduced in Spring 4.2](https://spring.io/blog/2015/06/08/cors-support-in-spring-framework)

[2015-10-08 17:02] jdubois commented on #2102
This is because there was an error parsing the Postgresql URL with the driver -> I did this at the very beginning of JHipster, this might not be correct anymore. I also had the same issue with Heroku (the URL parser of the driver was buggy and threw some NPE when parsing the Heroku URL), so I had to recode the parser.

So to have this working currently, you need to use the jhipster.datasource.serv

[2015-10-08 17:52] pascalgrimaud commented on #2102
Sure. I'll have a look!

[2015-10-08 19:01] hm0 commented on #186
I'd like to know if this killer feature is in your pipeline guys in the short term..Hopefully yes...

[2015-10-08 20:40] atomfrede commented on #186
@hm0 Sadly I'm not aware of any efforts for this feature

[2015-10-08 20:46] mraible commented on #186
If we could generate entities from database tables, would that be enough to make this work? AppFuse supports this with a Maven plugin.

[2015-10-08 21:09] smart987 opened #2111 "problem in inserting records with Date Time field in entity to Time stamp in mySql"
I have added new field of type time stamp using liquibase for my existing jhipster entity and my back end is mysql.

    <changeSet author="mnkb" id="20151008151559">
           <addColumn schemaName="sample"
                tableName="invoice">
             <column name="bill_date" type="timestamp"/>
        </addColumn>
    </changeSet>

From my angular js front end request is going as :

    {"

[2015-10-08 21:12] mraible commented on #2111
I'd suggest modifying the unit test for your `InvoiceResource` class (it's called `InvoiceResourceTest`) to include a date. Once you've proved things worked from the Java side, it might be easier to fix the JavaScript -> Java translation.

[2015-10-08 21:23] smart987 commented on #2111
Yes @mraible,  Junit test InvoiceResourceTest is successful.

[INFO] com.sample.web.rest.InvoiceResourceTest - Starting InvoiceResourceTest on kishore with PID 8333 (/home/mnkb/Development/git/sample/target/test-classes started by mnkb in /home/mnkb/Development/git/sample)
[DEBUG] com.sample.web.rest.InvoiceResourceTest - Running with Spring Boot v1.2.5.RELEASE, Spring v4.1.7.RELEASE
[DEBUG] com.s

[2015-10-08 21:36] mraible commented on #2111
Did you add this new field to your unit test before running it? When I post a timestamp from my AngularJS front-end, it looks like the following:

    timestamp: "2015-10-08T15:34:00.000Z"

[2015-10-08 21:38] jdubois commented on #2111
We provide two date types: DateTime and LocalDate, which come from JodaTime -> which one are you using here, to generate this "timestamp" field in Liquibase? Can you send your JSON file (it's in the ".jhipster/" directory), so we can reproduce the error?

[2015-10-08 21:58] vasuneeli1 commented on #2075
I faced the same problem with eclipse Kepler, Java 1.7.

I downloaded the Jhipster 2 days ago. So I had the latest version. Not sure how to check the JHipster current version though.

I ran the application from eclipse and selected run as Spring boot application. Application was starting without any errors and it functions. But when i restart the server, no data exists.

I couldn't figure out whic

[2015-10-08 23:11] pascalgrimaud commented on #2102
http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#boot-features-embedded-database-support

**Project : dev:h2 + prod:postgresql**

In production profile, although the url is empty in application-prod.yml
In DatabaseConfiguration.java, I have :
`dataSourceProperties.getUrl() = jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE`
What is "testdb" ? Default value ?

[2015-10-09 01:30] smart987 commented on #2111
The following is my liquibase entry:

<changeSet author="mnkb" id="20151008151559">
       <addColumn schemaName="sample"
            tableName="invoice">
         <column name="bill_date" type="timestamp"/>
    </addColumn>
</changeSet>

[2015-10-09 07:12] deepu105 commented on #186
This was something i asked @jdubois when i was new to Jhipster, but then he
pointed out and i understand that its very complex to do, but then there
was jhipster uml, so i guess if we put our brains to it it might be
possible and would be a very interesting side project like jhipster uml
On 9 Oct 2015 04:46, "Matt Raible" <notifications@github.com> wrote:

[2015-10-09 08:12] jdubois commented on #2102
Thanks @pascalgrimaud -> yes the driver has been upgraded several times, I coded this 2 years ago! And it looks like it's now working with Heroku, so the parser must have been corrected.

-> yes if you can test with the URL, let's do it that way, like the other databases. That means we will have to update the Datasource configuration, as well as the YAML config (to remove the current JHipster spec

[2015-10-09 08:20] jvence commented on #2109
Great so I will close this issue.

[2015-10-09 08:47] gmarziou commented on #2111
So you mean you did not update it to add new fields and then re-generate the entity using `yo jhipster:entity` command?

If you did not know this, I think this is how you should have done it because it's the best way to know that you're forgotting something.

Here, it seems you've done your own changes and it could break for any reason as we don't see what you've done.

[2015-10-09 10:37] deepu105 commented on #2111
From the json it looks like you have manually done this. And the exception is dataIntegrityViolation have you put some constraints on the DB?
This doesn't look like a JH issue to me

[2015-10-09 10:37] jdubois commented on #2111
There isn't a date field in your JSON file.... So of course it works...
I'm closing this ticket as it is not reproductible, please better follow our guidelines next time.

[2015-10-09 10:37] #2111 closed

[2015-10-09 11:23] jvence opened #2112 "isUserInRole() returning false for an existing role"
I've generated an oAuth based app.
Calling SecurityUtils.isUserInRole(...) always returns false as springSecurityUser.getAuthorities() is empty even though userService.getUserWithAuthorities(); returns a user with specific authorities.

[2015-10-09 11:33] jdubois commented on #2112
There isn't such a method in JHipster. This has been refactored some time ago, so I guess you are using an older version -> please follow our guidelines and give us your version information!

[2015-10-09 13:29] andidev commented on #2112
@jdubois That's not true
See https://github.com/jhipster/generator-jhipster/blob/a6dcd5425ca5e3c35b6821fb21baf461869920e5/app/templates/src/main/java/package/security/_SecurityUtils.java#L61

[2015-10-09 13:34] jdubois commented on #2112
Oh, you're right... I thought I deleted all of those, sorry @jvence !

-> it is not currently being used anywhere in the code, and indeed I doubt it's working (just looking at the code)

[2015-10-09 13:40] jdubois commented on #2112
So I've just tested it, and in fact it's working fine...

Doing:

    log.debug("user role->" + SecurityUtils.isUserInRole(AuthoritiesConstants.USER));
    log.debug("admin role->" + SecurityUtils.isUserInRole(AuthoritiesConstants.ADMIN));
    log.debug("yolo role->" + SecurityUtils.isUserInRole("ROLE_YOLO"));

I got:

    [DEBUG] eeee.web.rest.FooResource - user role->true
    [DEBUG] eeee.web.re

[2015-10-09 13:40] #2112 closed

[2015-10-09 14:52] jvence commented on #2112
Which authentication mechanism are you using on your test app?

[2015-10-09 15:16] jvence commented on #2112
Ok I've created a brand new project (with oAuth & mongodb) using JHipster Generator v2.21.1,

I get the following after login in as admin and calling  getAccount()
[DEBUG] com.mycompany.myapp.web.rest.AccountResource - user role->false
[DEBUG] com.mycompany.myapp.web.rest.AccountResource - admin role->false
[DEBUG] com.mycompany.myapp.web.rest.AccountResource - yolo role->false

[2015-10-09 16:02] tmendenhall opened #2113 "Generated project cannot use ng-strict-di which suggests possible problems with prod profile minification"
I am getting javascript errors with ng-strict-di activated in the index.html running under a non-prod profile.
The application was generated with the following configuration file.
.yo-rc.json
[code]
The grunt build task includes the plugin:
[code]
for expanding the dependency injection parameters for minification:
[The Angular documentation for 1.4](https://code.angularjs.org/1.4.7/docs/guide/di)

[2015-10-09 18:21] dancancro commented on #186
Hi. I'm just curious. Is this the same feature as [this one](https://docs.strongloop.com/display/public/LB/Discovering+models+from+relational+databases#Discoveringmodelsfromrelationaldatabases-Overview) in Strongloop?

If so, maybe there's some knowledge exchange that could happen here.

[2015-10-09 18:37] amit2103 commented on #1730
Created a Pull Request for this. Can some one review?

[2015-10-09 19:02] piedrahitac commented on #1974
Hibernate does support TEXT columns by using String and max length of 65535.

I use it on MySQL, but I don't know if other databases have a TEXT type.

[2015-10-09 21:03] gmarziou commented on #2112
@jvence could you share a repo with your sample project? it would help

[2015-10-09 21:34] gmarziou commented on #2113
Interesting, I found that [ng-annotate recommends using ng-strict-di](https://github.com/olov/ng-annotate#highly-recommended-enable-ng-strict-di-in-your-minified-builds)

However, I am not very comfortable with this because
- I read our code and I don't understand the error, can you explain it?
- using ng-annotate and ng-strict-di does not seem so simple: olov/ng-annotate#142, Swiip/generator-gulp

[2015-10-09 21:37] gzsombor commented on #1730
Ups, I haven't noticed, that someone else also tried to do it - I've done this : https://github.com/jhipster/generator-jhipster/pull/2115, but of course, I'm open to other ideas

[2015-10-10 02:09] dalbelap opened #2116 "Entity Resource Test - Bug when an entity is created with a Blob attribute"
When an entity is created with a blob attribute, the test class *test.web.rest.[Entity]ResourceTest.java* is created with aditional methods *set[Field]ContentType* for all attributes. This is because of the bellow code:
[code]
Inside the foreach, fieldType var does not exist. So I fix it in my forked repo with this [commit](https://github.com/dalbelap/generator-jhipster/commit/17a0764aacfa33d66111

[2015-10-10 02:56] deepu105 commented on #186
That looks cool man @jdubois what do you think of loopback link above?do
you think its worth to explore as a side project or as a JH uml extension?
On 10 Oct 2015 02:21, "Dan Cancro" <notifications@github.com> wrote:

[2015-10-10 03:02] deepu105 commented on #2113
@gmarziou i didn't take a closer look but from what i understand issue
seems to be this. I might be wrong

Ng strict di validates for proper di syntax which is present in prod
profile as ng annotate adds proper syntax to minified files, but the normal
dev profile non minified code lacks that as ng annotate doesn't act on non
minified files.

One solution would be to remove ng annotate and correct

[2015-10-10 03:07] deepu105 commented on #1730
@gzsombor is a new user class required? Couldn't we use the existing user
entity?
On 10 Oct 2015 05:37, "Zsombor" <notifications@github.com> wrote:

[2015-10-10 04:55] andidev commented on #2116
You should create branches and do PR's from them. Then you can have multiple PR's at the same time.

[2015-10-10 06:24] jdubois commented on #2116
Yes @andidev is right - it's not obvious to use!!

[2015-10-10 07:10] jdubois opened #2117 "Migration to Spring Boot 1.3"
This ticket is to follow the Spring Boot 1.3 migration.

We are working on the [spring_boot_1_3 branch](https://github.com/jhipster/generator-jhipster/tree/spring_boot_1_3).

Current issues:

- Some Liquibase errors: I intend to add some options to force Liquibase locks
- Only tested with MySQL -> I expect issues with H2 (btw, I would like to use H2 disk persistence in the future, and not just in-

[2015-10-10 07:14] gmarziou commented on #2113
Yes it makes sense.
So I guess if we use proper di syntax, ng-annotate is useful only for minification in case we import non strict modules

[2015-10-10 07:17] jdubois commented on #186
Database reverse engineering is a very difficult tasks, besides we enforce in JHipster some database schemas, and so we couldn't reverse-engineer everything.
This would definitely be another project, and that's a lot of work.

[2015-10-10 07:23] jvence commented on #2112
@gmarziou Seriously it would be more of a hassle for you to see the project (which I will share). Simply create a new project as specified above and try it. I made no changes to the default generated project.

[2015-10-10 09:03] gzsombor commented on #1730
Yes, that entity class is managed by hibernate, and if you put that class into the http session, as spring will do it - bad things will happen.

[2015-10-10 09:35] amit2103 commented on #1730
@deepu105  @gzsombor  The main problem with using the user class is imply it does not implement the UserDetail. A pojo managed by Hibernate can be put in HttPSession. It will create no problem since it will be in a managed state, whether it is a security flaw or not is another question. Detached entity is a reality with Hibernate. Once Entity goes outside the Persistence Context, it is no longer m

[2015-10-10 10:12] gzsombor commented on #1730
Probably this simple user entity wouldn't cause big problems in the http session - assuming, that all it's lazy relations are preemptively fetched - which is always look awkward - but the general pattern is bad. If you start using it, you end up with doing lot's of relation prefetch, and some crazy dance to re-attach an entity to the session, and additionally to this, there will be hidden bugs, wh

[2015-10-10 10:45] amit2103 commented on #1730
@gzsombor  Yes a complex Entity with lazy relation ships are a problem However I was talking off this entity. The User entity won't cause much trouble. Yes since we agree on the basic thing to do , all is fine :)

[2015-10-10 10:48] andidev commented on #2116
This will solve your issues:

[code]

and then PR the fix-blob-bug branch from github

[2015-10-10 11:45] jdubois commented on #1730
Yes I agree this should be a separate class.
BTW, I understand how this works with session-based authentication, but I have no idea how this will work with other 2 authentications: won't this force a session to be created? It wouldn't be good

[2015-10-10 11:48] amit2103 commented on #1730
@jdubois You are correct. In case of OAuth2 it can get a Session to be created. There is one way to stop it and that is to configure the Spring Secuirty as "stateless", when using stateless authentication protocols like Basic, OAuth2 Digest etc. With "stateless" Spring security takes care not to use any session.

[2015-10-10 11:53] jdubois commented on #1730
I thought we were already using the "stateless" mode but I didn't check. That would be the idea with both "stateless" authentications, but then I guess this code will not work anymore?

[2015-10-10 12:04] gzsombor commented on #1730
I assume that in stateless mode, spring ask the UserDetailsService for every request, but this is not changed by this commit

[2015-10-10 12:24] amit2103 commented on #1730
@jdubois  this code doesn't change that behaviour in any way.

[2015-10-10 14:17] amit2103 commented on #1730
@gzsombor  Also with stateless, your concern of using a session is also hopefully answered :)

[2015-10-10 15:30] gzsombor commented on #1730
@amit2103 : yes, stateless webapps are an entirely different beasts :)

[2015-10-10 18:07] pascalgrimaud commented on #2110
On my computer : work
On my personnal travis-ci : work
So I tested on drone.io : same error

I changed the script :
[code]

to :
[code]

drone.io logs :
[code]

So I manually installed bower:
[code]

It works. I suppose drone.io has changed something...

[2015-10-10 23:27] dalbelap commented on #2116
Thanks @andidev and @jdubois. Here is the PR #2119

I used a branch in other PR (#2108) but when I pushed I saw the other files from a third PR (#2107). So in this case I have prefered to ask.. I did not think to use the branch with a hard reset to prevent other local changes.. I have still much to learn with git.

[2015-10-11 08:23] gzsombor commented on #1730
@jdubois : I've pushed a 2nd version of my patch ( https://github.com/jhipster/generator-jhipster/pull/2115 ), where I fixed your comments - except the final fields - if no one objects, can you merge it ? I don't want to merge my commits, without agreement :)

[2015-10-11 09:53] andyverbunt opened #2120 "It's not possibe to create a one-to-one relationship to the user entity"
Overview of the issue
================
I'm experimenting with jHipster. I want to create a one-to-one relationship from my entity X to the User entity.

This is definition:

    "relationships": [
        {
            "relationshipId": 1,
            "relationshipName": "user",
            "otherEntityName": "user",
            "relationshipType": "one-to-one",
            "otherEntityField": "id

[2015-10-11 10:03] amit2103 commented on #1730
@jdubois  I have already updated my pull request. However if you feel you should  use @gzsombor 's pull request , feel free to discard mine

[2015-10-11 10:05] amit2103 commented on #2100
@jdubois are you working on this? If not I can work on this.

[2015-10-11 10:24] andidev opened #2121 "otherEntityRelationshipName should not be asked for in a OneToOne relationship with User"
When generating a One to One relationship with the user entity the entity generator asks for otherEntityRelationshipName when in fact it is not used by the generator. This could be confusing to the user, see http://stackoverflow.com/questions/32669064 .

[2015-10-11 10:32] andidev commented on #2120
There should not be any issues with this in JHipster. See stack overflow for answer.

[2015-10-11 10:32] #2120 closed

[2015-10-11 10:48] jdubois commented on #2100
No I'm working on the Spring Boot 1.3 migration at the moment -> feel free to work on this!!

[2015-10-11 12:13] deepu105 commented on #1730
I used the user entity extending userDetails in my project, didnt have any
issues so far actually. Its not trivial anyway.

On Sat, 10 Oct 2015 5:03 pm Zsombor <notifications@github.com> wrote:

[2015-10-11 13:03] amit2103 commented on #2100
@jdubois  I will start working on this.

[2015-10-11 16:08] #2121 closed

[2015-10-11 16:23] lordlothar99 opened #2123 "missing tag endings in entity-dialog"
This may lead to weird and inaccurate display in older browsers, or when an input is replaced by a textarea for example.

[2015-10-11 16:41] amit2103 commented on #1730
@deepu105  If you have a true stateless app, the problem @gzsombor  is talking off will never happen. However I making hibernate entities implement UserDetails is not considered good practice. One all your domain model details are leaked to the Security mechanism. Second the amount of detail that you are exposing to the client is not necessary by any means.

[2015-10-11 17:14] #2123 closed

[2015-10-11 18:09] lordlothar99 opened #2125 "Add karma tests in Maven lifecycle"
I find it more convenient when the single `mvn test` command runs both junit and karma tests. This plugin can fix that : https://github.com/karma-runner/maven-karma-plugin

[2015-10-11 18:58] lordlothar99 opened #2127 "Required boolean should be supported"
At the moment, boolean are always optional. But obvioulsy boolean shoud be mandatory (--> not null in database, so it would avoid null values in such columns)

[2015-10-11 19:25] andidev opened #2129 "Security issue with tracking logged in users with websocket"
It seems that any authenticated user can listen to the `topic/tracker` and thereby see the user tracking information.

See line 17 websocket security config in [WebsocketSecurityConfiguration.java](https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/java/package/config/_WebsocketSecurityConfiguration.java#L17)

We should configure the tracker topic to only be availabl

[2015-10-11 22:02] jdubois commented on #2129
Yes but I think this isn't working with OAuth2 and JSON token. This is an older issue, can you look in the history?

[2015-10-11 22:05] jdubois commented on #2125
Karma tests are already run when we do the "prod" build, so this is already the case.
At the moment we separate this only in "dev" mode, as it's often two different teams: that way you work on the back end or the front end, but don't have to run their tests until you go to CI or to production.
So for me what we currently have is good enough.

[2015-10-11 22:05] #2125 closed

[2015-10-12 01:03] moifort commented on #1649
Hello everybody!

I am working on this feature now! You have my actual code here: https://github.com/moifort/jhipster-app-social

![jhipster-social](https://cloud.githubusercontent.com/assets/4958079/10420212/85dc5950-708d-11e5-912b-a3e10fe7f0ea.gif)

Enjoy!

[2015-10-12 02:30] mraible commented on #1649
This is very cool Thibaut - thanks for sharing!

Do you have documentation or a blog post about how you did it?

P.S. The animated gif is a nice touch.
On Sun, Oct 11, 2015 at 19:03 Thibaut Mottet <notifications@github.com>
wrote:

[2015-10-12 06:17] atomfrede commented on #1649
Very cool. Looking forward to try it out. Does it work with twitter and github too?

[2015-10-12 06:21] andidev commented on #2129
I'll have a look at it. If it does not work with oauth and json token we should still include the security config within an If case authentication type == session.

[2015-10-12 06:35] andidev commented on #2129
Did not find anything in the history. Though there was a lot of issues to search through. I think I'll try to test it with the other authentication types  instead.

[2015-10-12 07:13] pulkitnandan opened #2132 "can't login to jhipster's brand new installation after 7 days"
I've been using jhipster since  3 months for a project but each time I login to jhipster after a 7 day turn I need empty my whole db and then run it in the dev mode where it recreates schema's and then only I can login to jhipster else all it fails. here goes the whole log which gives

[INFO] Scanning for projects...
[INFO]
[INFO] -------------------------------------------------------------------

[2015-10-12 07:48] jdubois commented on #2132
Can you follow our guidelines and give us more information on your configuration: from your stacktrace you use Hazelcast and OAuth 2, which are not our default options... We need your version number, options, etc, so we can try to reproduce your issue.

-> I'm closing this until you follow the guidelines, otherwise we spend too much time on issue (and please remember we all do this on our free tim

[2015-10-12 07:48] #2132 closed

[2015-10-12 07:50] jdubois commented on #2129
Yes please do test it with the other options, I'm pretty sure they will not work.

-> I didn't put a "authentication type == session" because I wanted to have a consistant behavior, but you are right, it would be better that way. If you have the error with the other authen type, can you add this check? And can you add a comment in the source code to this issue, so we can find again next time?

[2015-10-12 08:34] jdubois commented on #1778
Fixed by https://github.com/jhipster/generator-jhipster/commit/595e89272cb5f28964eccba62026095c32f6a546

[2015-10-12 08:34] #1778 closed

[2015-10-12 10:03] moifort commented on #1649
@mraible not yet, I begin the development but you can see my code here:  https://github.com/moifort/jhipster-app-social. And for the gif I use **Icecap** available for Mac and Windows here: http://www.cockos.com/licecap/.

@atomfrede oh hell yes, here the list:
* Facebook
* **Twitter**
* Linkedin
* **Github**
* Tripit
* 500px
* Alfresco
* App.net
* BitBucket
* Daum
* Digg
* Dropbox
* Ecobee
* Ever

[2015-10-12 10:41] jdubois commented on #2079
OK, I just added the remaining standard properties from Spring Boot to our Liquibase configuration:
https://github.com/jhipster/generator-jhipster/commit/44f427c4b5309d344beb015cdecb35c1877f890b

So now you can enable or not Liquibase using the standard "enable" property, so that's really easy to use and set up.

Concerning the 2 other options:

- Async mode is not configurable: by default it is o

[2015-10-12 10:41] #2079 closed

[2015-10-12 11:52] templth opened #2133 "Support REST / APISpark"
Hi all,

As discussed last week with Julien, I created this issue since I would be pleased to contribute an integration with REST providers in JHipster and more particularly regarding APISpark, a platform to create and host Web APIs / RESTful services.

I think that there would be a good match between them and the generator can also lead the creation / update for resources and entities in the plat

[2015-10-12 12:16] jdubois opened #2134 "Use H2 disk-based persistence by default"
We currently use H2 in-memory persistence by default. It's easy to use, but of course you lose your data at each restart (and need to log in again as you lose your persistent session token), which is annoying.

We could use H2 disk-based persistence by default, and save the database state in the target/ directory:

- H2 in-memory would still be available, but wouldn't be the default -> no conseque

[2015-10-12 13:45] PeterEltgroth commented on #1649
:+1: Thank you @moifort! This will be an excellent addition!

[2015-10-12 14:18] Vaelyr opened #2135 "Allow saving/loading AWS configuration"
How much work would it be to enable storing AWS configuration settings and using them for further deployments. Typing environment, RDS and EC2 details always again is rather tedious.

Maybe it would be more convinient to have it as last option by giving configuration name and then use it to load after :aws

@wuethrich44 any input?

[2015-10-12 14:36] deepu105 commented on #2135
I guess it should be possible to generate a json and store it in root like
how we do for entities, but this should be generated only of the sub gen is
used

On Mon, 12 Oct 2015 10:18 pm Vaelyr <notifications@github.com> wrote:

[2015-10-12 14:38] andidev commented on #2134
+1
You probably already know this but anyway. This is a simple configuration in application-dev.yml

[code]

I already do this in my own project.

Do you want me to provide a PR?

[2015-10-12 15:02] Vaelyr commented on #2135
Well something like that yes I assume, just would be handy to have different profiles as I wish to deploy to pre-live and production environments.

[2015-10-12 16:22] jdubois commented on #2117
I have now everything working, excepted an issue on Dates when using DTOs -> this will be changed later, as we need to migrate from JodaTime to new Date API

Is everyone fine with me merging this into the master branch?

[2015-10-12 16:29] #2127 closed

[2015-10-12 16:29] #2102 closed

[2015-10-12 16:32] mraible commented on #2117
I'm OK with it, but a pull request that we can comment on might be a bit
easier to digest.

On Mon, Oct 12, 2015 at 10:22 AM, Julien Dubois <notifications@github.com>
wrote:

[2015-10-12 16:36] andidev commented on #2117
+1

[2015-10-12 16:37] jdubois commented on #2117
The PR is available at #2136

[2015-10-12 18:57] pascalgrimaud commented on #2117
did you forget updating gradle ?

[2015-10-12 19:15] jdubois commented on #2117
@pascalgrimaud  Oh yes, totally!

[2015-10-12 20:53] atomfrede commented on #2110
@jdubois Can you change the setup according to @pascalgrimaud suggestion?

[2015-10-12 21:25] pacu opened #2137 "org.hibernate.exception.SQLGrammarException when saving object with Many-to-Many and many-to-one relationships"
I have this simple model.

Course 1---> * Level * ------- * Excercise

I tried to use both jhipster-uml and yeoman generators getting the same results
I can create a *Course* without problems.
I can create an *Exercise* as well
But I **can't** create a *Level* for some reason.
**This is the error shown in the browser**
[code]
**this is part of the log and trace that I got**
[code]

*Course.json*
[

[2015-10-12 21:44] andidev commented on #2129
It seems to work with authentication type `session` and `oauth2`. So I will modify my PR to include the authentication config for both  `session` and `oauth2`. And

With `xauth` I get the following authentication error in the console
[code]

and from the spring logs
[code]

so I'll leave xauth as it is.

[2015-10-12 22:43] ErickSanVal commented on #2137
Well, somebody correct me if I'm wrong but it seems that the REST request is missing the 'course_id' parameter. Does it have to do with that?

[2015-10-12 23:03] ErickSanVal commented on #2137
Well, somebody correct me if I'm wrong but it seems that the REST request is missing the 'course_id' parameter. Does it have to do with that?

[2015-10-12 23:05] pacu commented on #2137
could it be because "order" is a reserved keyword on postgres?

[2015-10-12 23:18] ErickSanVal commented on #2137
Oh, yeah, have you tried changing the name of the field?

[2015-10-13 01:07] pacu commented on #2137
I'm having other kind of problems. I've created a new project with the same
models but the NavBar is not working and localhost:8080/#/courses is
redirecting me to the home page.

On Mon, Oct 12, 2015 at 8:18 PM, Erick <notifications@github.com> wrote:

--
Lic. Francisco Gindre
Software Developer
http://www.appcrafter.biz
http://www.pixel-publishers.com

IEEE Member# 91130670
Home:+5411 5032 3615
M

[2015-10-13 05:47] TusharPandya opened #2138 "Error: Cannot find module 'infinity-agent'"
When I tried to follow instruction given on http://yeoman.io/codelab/setup.html and confirm installation using command "yo --version && bower --version && grunt --version" it gives me :
module.js:339
    throw err;
    ^

Error: Cannot find module 'infinity-agent'
    at Function.Module._resolveFilename (module.js:337:15)
    at Function.Module._load (module.js:287:25)
    at Module.require (modul

[2015-10-13 06:30] deepu105 commented on #2135
You can do a PR if you want, try to follow whats done in entity sub gen
On 12 Oct 2015 23:02, "Vaelyr" <notifications@github.com> wrote:

[2015-10-13 06:36] #2138 closed

[2015-10-13 06:37] deepu105 commented on #2138
I guess u opened issue in wrong forum

[2015-10-13 07:38] jdubois commented on #2137
@pacu if you have another problem, please open another ticket.

Yes I'm 99% sure this issue is because your field is called "order":

- Your ticket is really good (which is unusual!), but you missed the most important thing, the SQL request! As you have an SQL grammar exception, that was the most important part.
- We have lists of reserved keywords for many things, but not for Postgresql, as I cou

[2015-10-13 07:38] #2137 closed

[2015-10-13 07:42] jdubois commented on #2135
The issue with this, is that you will always deploy to the same environment... So if you will need to store several different configs, and we don't have this yet... Maybe we could have a "dev", "test", "prod" pre-defined profiles?
-> if we go this way, we would need to do the same for Heroku (please see with @jkutner ) and OpenShift ( @raphaelbrugier might work on it), so we need to coordinate wha

[2015-10-13 07:44] jdubois commented on #2129
@andidev yes, anyway we have #2100 to remove XAuth and migrate to JWT

[2015-10-13 08:57] jdubois commented on #2117
OK I'm trying to merge PR #1640 with it, and it's a nightmare...

So I'm merging this first into master, so I can start working on PR #1640 correctly. Too many branches and conflicts...

[2015-10-13 08:58] #2117 closed

[2015-10-13 09:22] maheshkaranjkar opened #2139 "Bad request header not displaying"
Hi Guys,

I tried to use bad request header to check unique validation, which we can not check using @valid.

but in dialog.html its just showing red box without message body

<code>
List<Language> lg = languageRepository.findByLanguageName(languageDTO.getLanguage_name());
       if(lg.size()>0){
    	   return ResponseEntity.badRequest().header("Failure", "language name already exists").body(null

[2015-10-13 10:09] JStumpp commented on #2100
+1

[2015-10-13 12:30] jdubois commented on #2139
Please follow the guidelines and tell us how to reproduce your issue. I don't understand what this "bad request header" is doing.

[2015-10-13 12:51] maheshkaranjkar commented on #2139
Sure @jdubois, we are trying to put validation for unique Language name in our system.

For that we tried to use same logic which is used to do validation for ID new language.

However we are able to restrict user from creating new language.

we request hits at rest-controller after validating DTO, We are trying to check name for uniqueness.

But response is not getting displayed at front end.

To

[2015-10-13 13:22] jdubois commented on #2139
I'm sorry but I don't understand why this would be a JHipster bug.

This is the ticket system for JHipster, can you post your question on StackOverflow instead?

[2015-10-13 13:22] #2139 closed

[2015-10-13 14:16] jdubois opened #2140 "Migration to Java Date Time API"
I just merged the migration from Java Date Time API at: https://github.com/jhipster/generator-jhipster/commit/b102b1c3c3c0ce5c06e497fba95acf7f6e7eef45

There are still a few issues left:

- There is a JS error when an entity having a DateTime is saved or updated, `Error: [ngModel:datefmt] Expected 2015-12-17 to be a date`
- I didn't test MongoDB and Cassandra (only basic compilation of a project w

[2015-10-13 14:40] jdubois commented on #2110
Thanks! It looks better, but now I have some JUnit failing tests... This is probably another matter, so I'm closing this for the moment

[2015-10-13 14:40] #2110 closed

[2015-10-13 17:04] cbornet commented on #2140
Is there a reason why PersistentAuditEvent::auditEventDate is a LocalDateTime and not a ZonedDateTime ?

[2015-10-13 19:28] ErickSanVal commented on #2137
Hello, I took the liberty to make a filter and add some reserved keywords to the PostgreSQL reserved words list, made a PR if you would like to review it.

[2015-10-13 19:57] artjomg commented on #2134
One thing caused me some trouble was the use of H2 in file based mode. The releases 1.4.185 - 187 contain a bug where CLOBS and BLOBS are going to be corrupted after shutdown.
Because of other dependencies I used the .183 release

[2015-10-13 20:13] cbornet commented on #2140
The format used for ZonedDateTime is ISO_ZONED_DATE_TIME which ouputs 2011-12-03T10:15:30+01:00[Europe/Paris]. I think this format is not compatible with AngularJS...

[2015-10-13 20:15] cbornet commented on #2140
I will fix this and other things in a PR that will remove jadira and the json annotations.

[2015-10-13 20:51] smysnk opened #2143 "Architecture: Use services in controllers, instead of Repositories"
I've noticed in the demo app, that repositories are being used directly in the rest controllers. In the spirit of code re-use between controllers, should not Service pattern be used instead?  I can understand in terms of simplicity for a demo app you might not want to add another layer of complexity but for setting the stage of good architecture for the rest of the application, I would argue it wo

[2015-10-13 21:04] smysnk commented on #2143
Looking through issues, I realize now this is a duplicate of #1823

[2015-10-13 21:04] #2143 closed

[2015-10-14 01:09] deepu105 commented on #2140
+1 plz do this PR was long back and hence can be improved a lot
On 14 Oct 2015 04:15, "cbornet" <notifications@github.com> wrote:

[2015-10-14 01:11] deepu105 commented on #2143
Yes I need to work on that may be next week, i guess it will just be an
option in entity sub generator
On 14 Oct 2015 05:04, "Joshua Bellamy-Henn" <notifications@github.com>
wrote:

[2015-10-14 06:19] gzsombor commented on #2143
I've had this implemented in my branch for so long, I could try to rebase it, and contribute it in the weekend.

[2015-10-14 06:27] gzsombor commented on #2133
It's not clear for me, what is APISpark? Is it a paid service to create web services ? If you can't use it freely, I can't see that many user will use it, and contribute bugfixes / implementations.

[2015-10-14 07:23] wuethrich44 commented on #2135
@Vaelyr Your request is easy to implement but currently I'm very busy with my studies. I can review and test your PR if you like to provide one.

[2015-10-14 07:59] Vaelyr commented on #2135
I could look into it when I get more time myself.

As for other environments (Heroku, Openshift) - as all of them have different settings, I assume simple configuration json key for each platform would be just enough with simple documentation provided. Allow user to define the configuration as they please, and when deploying without profile, then ask if you want to save it for further use by givin

[2015-10-14 08:00] cbornet commented on #2140
FYI other issues I am facing:
* we cannot log anymore on mongodb because of an exception in auditing. I have fixed that in my WIP.
* the mongodb tests don't run anymore. Linked to spring boot 1.3 migration ? (java.lang.NoClassDefFoundError: de/flapdoodle/embed/mongo/config/ExtractedArtifactStoreBuilder)

[2015-10-14 08:08] templth commented on #2133
Hi,

Thanks very much for your feedbacks.

APISpark is a platform to create and host easily Web APIs (i.e. RESTful services). The latters can rely on entity storage and / or file storage. The platform handles security, versioning, metrics, documentation, client SDKs for you. There is also supports for languages like Swagger or RAML (import / export).

In fact, everything can be done for free: crea

[2015-10-14 09:32] jdubois opened #2147 "Generate an Eclipse .setup file"
I have no idea how this works, but this looks really cool: https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-the-eclipse-installer

[2015-10-14 09:33] jdubois commented on #2140
@cbornet Yes I have the same issue with MongoDB, I guess there's a new auto-configuration that we should disable.

[2015-10-14 09:42] pascalgrimaud commented on #2140
What about migration for existing project ? In .jhipster/*.json : "DateTime" -> "ZonedDateTime" ?
Maybe you'll have to update all you sample-app

[2015-10-14 10:19] raphaelbrugier commented on #2135
As discussed with @jdubois I've started to work on OpenShift, but that's a different problem.
I'll create a separate issue for it.
If you improve the configuration management for AWS, I'll adapt OpenShift

[2015-10-14 11:42] cbornet commented on #2140
@jdubois mabe this one ? https://github.com/spring-projects/spring-boot/commit/2c81907d588690bb623745c95f577a0c60a156f5

[2015-10-14 11:48] cbornet commented on #2140
Definitely a problem with auto-configuration : I removed MongoConfiguration.java and embedmongo-spring dependency and it tests work again.

[2015-10-14 14:51] deepu105 commented on #2143
Yes plz

On Wed, 14 Oct 2015 2:20 pm Zsombor <notifications@github.com> wrote:

[2015-10-14 14:54] deepu105 commented on #2133
Im not sure havent heard of API spark, do you have any sample repo which we
can see

On Wed, 14 Oct 2015 4:08 pm Thierry Templier <notifications@github.com>
wrote:

[2015-10-14 15:28] templth commented on #2133
Yes, sure!

I implemented an Angular / D3 application based on APISpark for the backend. This could be a good sample of what can be done with the plateform.

Here are the corresponding links:

* The project page: http://templth.github.io/
* The demo: http://templth.github.io/demo/#/
* The API page in the APISpark console describing the structure of the RESTful service: https://apispark.restlet.com

[2015-10-14 15:52] gzsombor commented on #2133
After you implemented your backend with APISpark, is there a way to migrate the application to own hardware, without great effort ? Otherwise, this would be a vendor lock-in, which could be fine for toys, or prototype apps, but I wouldn't start an application, where I can't run the whole stack, on my own.

 Otherwise, it's seems an interesting platform :)

[2015-10-14 16:08] templth commented on #2133
Thanks for the feedback!

I understand well your point of view. The platform allows you to get the server skeleton for your RESTful service in different technologies (Java Restlet, JAXRS, Node) but you need to connect this to your datastore by hand. You can have a look at the tab "Downloads". You also have access to corresponding Swagger or RAML content, so you'll be able to leverage corresponding

[2015-10-14 16:24] jdubois commented on #1986
Fixed by #2148

[2015-10-14 16:24] #1986 closed

[2015-10-14 16:54] amit2103 commented on #2100
Hi Guys..I have studied this (am still doing so )...I have more or less understood how to proceed with the JAVA part when using JWT. I have identified the changes that needs to be done in the config package and those in the security package. Now I have two doubts/questions, which I am having trouble understanding myself due to my unfamiliarity with the project.
1) In case of the current implementa

[2015-10-14 19:35] farajfarook opened #2149 "Custom table name"
I would really appreciate if jhipster can take custom table name for an entity, which a user can
 - Interactively enter while adding the entity
 - Store it in the .jipster json file and reuse it on regeneration
 - Support in JDL to use with jhipster-uml.

*I read some issues and goto know that jhipster project has purposely removed the prefix. But the feature which i'm mentioning will give the dev

[2015-10-15 01:34] deepu105 commented on #2149
I think it is good to have option to enter a custom table name, it can have the generated name shown by default and user can override if required. I guess would be nice to have but it adds another layer of option on the already complex generator. @jdubois what do you think? I guess we discussed this long back in a thread if im not wrong

[2015-10-15 01:35] deepu105 commented on #2147
Is it worth doing if its only for eclipse?

[2015-10-15 08:30] erkieh commented on #1270
@rblazquez Are you working on this?

[2015-10-15 08:41] jdubois commented on #2147
@deepu105 I think most people are using Eclipse, considering the price of Intellij.

[2015-10-15 08:43] jdubois commented on #2149
No I don't want to have too many questions, it's already too complicated.

Changing the generated table name, if it doesn't suits you, is really easy, you change it in the entity (and maybe also in Liquibase, depending on how you work), so there's really no added value in asking that question.

[2015-10-15 08:55] flrndttrch opened #2150 "OneToOne Relationship resulting in Column not found Exception"
Hello,
I just tried to create a one-to-one relationship between two entities. After I created them the applications started up, but as soon as I try to create this entity I get the following error:

[code]

Here are the JSON files of the entities:

## TelematicsUnit

[code]

## Truck

[code]

Did I miss something or is this a problem of jHipster?
Thanks a lot for the help

[2015-10-15 09:50] andidev commented on #2150
It look like you have a problem getting the all VehicleGroup's.
[code]

[2015-10-15 10:07] Panthro opened #2151 "From address must not be null"
#1462 is back from the dead

MailService.java
[code]

but the property is jhipster.mail.from

![image](https://cloud.githubusercontent.com/assets/1565421/10510765/2eeca9ce-7335-11e5-9c48-acb0372bc495.png)

https://github.com/jhipster/generator-jhipster/issues/1462

[2015-10-15 12:14] jdubois commented on #2151
This will disappear in the next release, so consider it done already!

This is because we migrate to Spring Boot 1.3, which has auto-configuration for emails -> so this will be Spring Boot's fault from now on :-)

[2015-10-15 12:14] #2151 closed

[2015-10-15 12:24] jdubois commented on #2100
Yes you need to migrate also the JavaScript part -> do a grep on "XAuth" on the generator, you should see 102 results, showing you everywhere where this code is.
It currently looks like quite a lot of code, however if this is already implemented by Spring Security I expect it's mostly removing old code.

[2015-10-15 13:46] Panthro commented on #2151
👍 thanks for the feedback.

[2015-10-15 14:37] amit2103 commented on #2100
Yes, I too think that it will be mostly be code removal in the JS side. However the Client side generating the login credentials needs to be changed perhaps.

[2015-10-15 14:47] JStumpp commented on #2100
Have you considered using the project sattelizer (Token-based authentication module for AngularJS with OAuth Support): https://github.com/sahat/satellizer
It is really simple to use and could also solve the social login effort https://github.com/jhipster/generator-jhipster/issues/1649

[2015-10-15 14:55] amit2103 commented on #2100
@JStumpp  I had mainly looked into the server side code that we need to change. I think I more or less have completed it.  I will start looking into the client side. I will take a look at satellite. Thanks for the suggestion.  Someone however is working on the social integration.

I plan to do this phasewise, in my branch I first plan to complete the server side code and get it reviewed. Then I pl

[2015-10-15 15:02] JStumpp commented on #2100
Sure, looking forward to the server side code!

[2015-10-15 16:21] farajfarook commented on #2149
:+1:

[2015-10-15 17:59] farajfarook commented on #2149
@jdubois Then what about **only** putting an option in the `.hipster` `json` file which will be empty by default and if so take the value from the entity name.
[code]
<hr/>
**Impact**

End of the day this will not effect any existing flow of jhipster interactive shell. In other words it will not increase or decrease the complexity.
<hr/>
**Why I'm so interested in this feature?**

I believe in the

[2015-10-15 18:51] jdubois commented on #1158
Closing this as the PR is merged!

[2015-10-15 18:51] #1158 closed

[2015-10-16 01:25] justDoGit commented on #2150
Hi andidev,
thanks for your reply. I recreated the vehicleGroup and I dont get the error anymore. However now I get the same one with the TelematicsUnit instead. Could it be that the order of my entities in the master.xml is not correct? If yes what do I have to consider when I am reordering?

[2015-10-16 08:48] MardariG opened #2153 "can't install new languages on windows 10 machine, keyboard inputs just not listening."
I'm using Release 2.22.0. After creating a new project, when i try to install new language my console is not responding. Maybe this is hardware specific issue i don't now, maybe someone can confirm.

[2015-10-16 08:48] justDoGit commented on #2150
I might have found the root of the issue.
The error I am getting now is "org.postgresql.util.PSQLException: ERROR: column telematics0_.telematicsunit_id does not exist"
I think the problem is, that it expects telematicsunit_id and not telematics_unit_id which is written in the liquibase changelog. So as soon as a change the column via the pgAdmin to telematicsunit_id it seems to work.
So now I am

[2015-10-16 10:11] andidev commented on #2150
Yes that is a bit strange.

I wonder if this maybe is a spring data bug.

Could you post how your `@Query` annotation looks like in `com.bosch.iot.reliance.truckmonitoring.repository.VehicleGroupResource.findAllWithEagerRelationships()`

also please post the `VehicleGroup.json` and VehicleGroup.java files as well.

`VehicleGroupResource.findAllWithEagerRelationships()` produces the following SQL
[

[2015-10-16 12:55] #2095 closed

[2015-10-16 13:19] jdubois commented on #2153
I can't test it as I don't own a Windows machine, this might be linked to your Node version -> which version are you using?

[2015-10-16 13:31] Jdruwe commented on #1254
I agree with angular-material being a better solution.

[2015-10-16 13:44] MardariG commented on #2153
Node version 2.14.4

[2015-10-16 13:45] jdubois commented on #2153
I don't think this version exists... Can you do `node --version`?

[2015-10-16 13:51] MardariG commented on #2153
my bad, i've checked with npm instead. Node version - 4.1.1;  I'll update to latest and try again.

[2015-10-16 13:54] Jdruwe opened #2154 "Moving the content ui-view"
Hey there!

First of all I would like to thank the developers for creating this amazing framework! I have been looking into the front end frameworks that exists apart from bootstrap and found [Angular Material](https://material.angularjs.org/latest/demo/whiteframe). I know that this might not be the best place to ask this type of question but I would greatly appreciate any help.

I am trying to mo

[2015-10-16 13:56] MardariG commented on #2153
after update problem persist, Node version - 4.2.1

[2015-10-16 13:59] jdubois commented on #2154
Hi, I'm sorry but please have a look at our guidelines -> this is the place for the bugs, in this is not a bug.
Can you use StackOverflow with the JHipster tag?

[2015-10-16 13:59] #2154 closed

[2015-10-16 14:25] cbornet commented on #2140
@pascalgrimaud It seems existing DateTime fields are mapped to ZonedDateTime when generated

[2015-10-16 15:21] templth commented on #2133
My main question at this point is the best way to start. Do I need to create an external project for this integration or to fork the current project to add updates in it?

I'm working on a JavaScript module to "lead" the platform programmatically along with some support for Gulp and Grunt. I mean when you use the generator to create an entity, this module allows you to add it directly in the platf

[2015-10-16 19:04] gmarziou commented on #1254
The angular-material project is updated so frequently that it's hard to know whether it's stable or not.

[2015-10-17 01:58] trevershick opened #2156 "What is appendSkipBower for?"
The following is generated in Gruntfile.js, but I cannot seem to find where this is used.

	grunt.registerTask('appendSkipBower', 'Force skip of bower for Gradle', function () {

		if (!grunt.file.exists(filepath)) {
			// Assume this is a maven project
			return true;
		}

		var fileContent = grunt.file.read(filepath);
		var skipBowerIndex = fileContent.indexOf('skipBower=true');
		if (skipBowerI

[2015-10-17 05:04] trevershick commented on #1995
I'm right in the middle of implementing this on top of the JHipster stack.  If you guys decide to move forward with it, you're more than welcome to any of the source. I ended up using a custom GlobalMethodSecurityConfiguration so that i could specify a RoleVoter that uses '' as a role prefix. This way i can use ROLE_ADMIN but then use OP_PLATFORM_CR (for create platform record).  I then modify the

[2015-10-17 05:30] andidev commented on #2156
By the description of the task it looks like it should only be there when using Gradle and not maven as in your case.

This was added in commit [Added support for Heroku + Gradle + PostGreSQL](https://github.com/jhipster/generator-jhipster/commit/5bb2d6041d4dde18b6d0754df194f3dd00db2995)

I'm removing this for maven users.

[2015-10-17 05:54] andidev commented on #2156
The call of this task seems to be removed. It was called in the `buildHeroku` and `deployHeroku` tasks in the initial commit when it was added.

I'm not sure what the purpose of this is.

@trevorackerman
Trevor, you did this commit initially. Have we removed something here that is needed? Can we remove this code? It does not seem to be used.

[2015-10-17 08:43] Vaelyr commented on #1995
That looks sexy, I'd personally be interested to see the implementation for sure. (Y)

[2015-10-17 10:52] andidev commented on #2156
Okey, I'm removing it from Gruntfile since the related code was removed in this commit [Reworked the Heroku generator to use Git deployment](https://github.com/jhipster/generator-jhipster/commit/d3f0487df76b4face71545fa5c834bedeeeb81a5#diff-8b50ebbf3a510307ebab0715e7d7aec4).
It must have been a mistake that it was not removed.

[2015-10-17 11:34] #2156 closed

[2015-10-17 12:46] phouverneyuff commented on #1995
Now that you evoluted in this topic, I will do my suggestions and share my
experience.

Currently, I work in one enterprise that have one enterprise solution for
security.

We have a separately application that we can create user, permission, role,
associate role with permission, role with user, ... and have a API to
access and know if the user have the permission. We have more than 500
applicatio

[2015-10-17 13:34] verrol commented on #2133
I am just throwing in my 2cents.

Disclaimer: I don't much about APISpark.

But I am sure there are other services like this. This seems like Backend-as-a-Service (BaaS) solution like FireBase for example. Like others on the thread, I am concern that not too many users of JHipster use APISpark. If it was a solution you could deploy on-prem, I would be all for it.

[2015-10-17 14:05] moifort opened #2159 "Compilation error with OAuth2 Authentication option"
hey everybody,

I have compilation error after generate my jhipster application when `I select OAuth2 Authentication (stateless, with an OAuth2 server implementation)` option.

Errors:
[code]

My configuration:
 - **JHipster version:** v2.22.0 (last version of master branch of 17/10/2015)
 - **.yo-rc.json:**
[code]

How to reproduce it:
Select all the default value except for the question 3 select

[2015-10-17 15:59] trevershick commented on #2159
Because I choose 'oauth2', it's skipping the database selection portion.
There appeared to be logic that used two different branches to choose a db implementation based on whether or not you chose 'oauth2'.  Apparently cassandra wasn't possible with 'oauth2'.

At any rate, line 98 of index.js

            when: function (response) {
                return (response.authenticationType != 'oauth2');

[2015-10-17 17:00] trevershick commented on #1995
I'll get it pushed up somewhere @Vaelyr ... i think for now it's actually in my AWS codecommit repo.

[2015-10-17 17:54] konstiak opened #2161 "Page title is not translated after changing locale"
Page title (html > head > title) is set only when the page is (re)loaded. After changing the locale title is not translated.

**Motivation:** For single page web application it is required to translate title after changing the language without reloading the page.

**JHipster Version:** 2.21.1

**Reproduce the error**
1. Generate app with angular-translation support
2. Set different values for diff

[2015-10-17 21:27] gmarziou commented on #2161
Please read our [contribution guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) about how to report an issue with required details

[2015-10-17 22:24] AVE-cesar opened #2162 "Bug in generated file: src/main/resources/config/application-dev.yml with Oracle"
I generated my app with JHipster latest version today and I find a bug in file  src/main/resources/config/application-dev.yml (this is the same for src/main/resources/config/application-prod.yml).

this is my .yo-rc.json file (should be nice to have generator-jhipster version inside this file):  I am using Oracle.
{
  "generator-jhipster": {
    "baseName": "MyApp",
    "packageName": "ave.bertran

[2015-10-18 06:30] markvgo opened #2163 "Camelcase broken"
I have the latest version of jHipster, when I generate a class that has a relationship with camelcase I lose the capitals. See Set'<'Bankreconciliation'>', Bankreconciliation should be an upper case 'R'.

@OneToMany(mappedBy = "bankAccount")
@JsonIgnore
private Set'<'Bankreconciliation'>' bankReconciliations = new HashSet<>

[2015-10-18 07:32] andidev commented on #2163
This is probably a jhipster url issue. Are you using jhipster uml? Please always provide the entity.json file located in the .jhipster folder.

[2015-10-18 07:42] markvgo commented on #2163
Hello Anders

You are right, it is an  jhipster-uml issue
{
  "relationships": [
    {
      "relationshipId": 1,
      "relationshipName": "bankreconciliation",
      "relationshipFieldName": "bankReconciliation",
      "otherEntityName": "bankreconciliation",
      "relationshipType": "one-to-many",
      "otherEntityRelationshipName": "bankAccount"
    }
  ],
  "fields": [
    {
      "fieldId"

[2015-10-18 07:45] jdubois commented on #2163
OK, so I'm closing this here, can you add this ticket on the JHipster UML project at https://github.com/jhipster/jhipster-uml ?
cc @MathieuAA

[2015-10-18 07:45] #2163 closed

[2015-10-18 07:46] #2159 closed

[2015-10-18 11:36] Brokando commented on #2153
+1 Node-Version: 4.2.1

[2015-10-18 11:50] andidev commented on #2116
Closing this since it is fixed

[2015-10-18 11:50] #2116 closed

[2015-10-18 11:55] andidev commented on #2162
I guess we should remove this if case
https://github.com/jhipster/generator-jhipster/blob/c75d18577a8f486cbf8b8826f12f7f35907425cb/app/templates/src/main/resources/config/_application-dev.yml#L23

[2015-10-18 16:19] coolduebtn commented on #2018
Hello guys, I just started with jhipster and I have the same problem...i am stuck because of this. your commit to make all tables lower case will be available from when to use ??

[2015-10-18 16:21] robertolos commented on #2018
The bug has been fixed in the last release 2.22.0. Check this page for the list of bug fixed and the instructions to upgrade jhipster http://jhipster.github.io/2015/10/06/jhipster-release-2.22.0.html

[2015-10-18 17:01] vsarabu opened #2165 "custom error message for bad request"
I am trying to create a new Entity name if entity name  is already exist i need to prompt the message.

Below is the code i have added to send error message. i am able to send the alert to dialog screen, but UI is printing as Object: object  i am compare the json format success and failure i am sending the same but when success it is printing but when failure it printing has [object object]

   @T

[2015-10-18 17:11] jdubois commented on #2165
I'm sorry but this doesn't look like a JHipster issue -> there is no bug in our code here.

Can you post this on http://stackoverflow.com/questions/tagged/jhipster?sort=newest ?

[2015-10-18 17:11] #2165 closed

[2015-10-18 18:15] lordlothar99 commented on #2022
ready to merge !

[2015-10-18 18:32] coolduebtn commented on #2018
Thanks a lot for the update..its working now... i am really excited about jhipster :)

[2015-10-18 18:59] moifort commented on #2159
Wouah! very fast!

It's work for me!

Thank you!

[2015-10-18 19:58] vsarabu commented on #1800
Hi, can anyone please share the peace of code how you fixed the issue for red bar with a message.for more information about my problem please follow the link.

http://stackoverflow.com/questions/33202543/custom-error-message-for-bad-request-in-jhipster-project

Thanks in advance

[2015-10-18 20:09] deepu105 commented on #2162
Ill push a fix
On 18 Oct 2015 19:55, "Anders Steiner" <notifications@github.com> wrote:

[2015-10-18 20:26] deepu105 commented on #2022
Plz look at my comments on the commit
On 19 Oct 2015 02:15, "François Lecomte" <notifications@github.com> wrote:

[2015-10-18 20:31] gzsombor commented on #1730
This is merged with 533a40fec379f948f00e83378ca32a6dc325f583.

[2015-10-18 20:31] #1730 closed

[2015-10-18 20:57] gzsombor commented on #1823
It was a bit more complicated than I expected, but finally, I could finish it. It's not 100% complete, yet, but it could be a first step, for this feature. I've added a separate template - the _EntityResourceWithService.java - because the _EntityResource.java template is already nightmarishly complex, and it seemed much simpler and clearer. Hope, it's understandable.
I haven't implemented the filt

[2015-10-19 01:22] justDoGit commented on #2150
The VehicleGroupRepository looks just like this:
[code]

and in the VehicleGroupResource is no @Query Annotation. Where do I have to look for this?

[code]

[code]

So this is the VehicleGroup, but like I said, there are no more problems with the VehicleGroup. The problems are mainly with the TelematicsUnit and TelematicsData.

[2015-10-19 04:48] deepu105 commented on #1995
@Vaelyr @trevershick this looks nice indeed, but I dont think we want to start complicated, im working on a simpler dynamic role management, once that is done we can slowly add more fetaures

[2015-10-19 05:14] #2162 closed

[2015-10-19 05:16] deepu105 commented on #2162
@AVE-cesar can you check with the latest repo code or just remove the `driver-class-name: oracle.jdbc.pool.OracleDataSource` line from the .yml files and try

[2015-10-19 05:58] andidev commented on #2150
Yes, your right. Though it is to hard to investigate this without the ability to generate the code.

Could you provide the generated project in a github repo? or at least all json files needed to reproduce this error.

[2015-10-19 06:54] deepu105 commented on #2162
@AVE-cesar sorry you need to remove the line `driver-class-name: oracle.jdbc.OracleDriver`

[2015-10-19 07:00] Vaelyr commented on #1995
Of course, I am just interested to see different security solutions on Spring Boot and Angular overall for further reference in any upcoming projects as the business needs vary very widely.

[2015-10-19 07:53] #2035 closed

[2015-10-19 08:24] jdubois commented on #2153
As there is just a list of languages to choose from, can you explain in detail what you are doing, and what is not working?
I just tried it on my Mac and I can select languages, so this might be Windows-specific, but I need to reproduce exactly what you do.

[2015-10-19 08:46] MardariG commented on #2153
After running command: **yo jhipster:languages**  the following content appear
![terminal](https://cloud.githubusercontent.com/assets/8759158/10573127/63475f42-7656-11e5-8738-f99efaae4b70.png)
And at this step i can't move up or down.

[2015-10-19 08:52] Brokando commented on #2153
And if you click enter, it is installing catalan without click on space

[2015-10-19 08:59] jdubois commented on #2161
I confirm the issue.

It's quite minor, and it looks a bit complicated to solve, as the title is not in the HTML template!

[2015-10-19 09:01] jdubois commented on #2153
This is probably a Yeoman issue, and it should be Windows-specific (as I don't have the issue).
This is going to be really annoying to test (as a Windows machine is needed).

[2015-10-19 09:02] Brokando commented on #2153
But in other tasks, like jhipster:entity, it's still working without problems

[2015-10-19 09:08] jdubois commented on #2153
Correct, and I don't understand where the difference is... Still I'm upgrading "yo" to its latest version, just in case.

[2015-10-19 09:20] jdubois commented on #2134
Thanks @andidev I'm doing it right now!
Thanks @artjomg I'll use a correct release!

[2015-10-19 09:29] konstiak commented on #2161
@gmarziou I'm sorry, next time I'll do it regarding the guidelines. I added some more information to my first message. Is it enough?

[2015-10-19 09:42] AVE-cesar commented on #2162
it works, thanks

[2015-10-19 09:44] #2134 closed

[2015-10-19 10:26] Brokando commented on #2153
ok cool :) thanks for your help.
Do you know, when you will publish the next jhipster version?
Or should i try it with the actual master?

[2015-10-19 11:17] vitornobrega opened #2171 "Enable cross origin HTTP requests not working for POST requests"
I created a jhipster project with new entities and new services and i need to use this services in a mobile application. My mobile application have been created with ionic generator and followed the website: http://jhipster.github.io/tips/006_tips_enable_cross_origin_requests.html

I need to call all services from a different origin. When i try GET requests, i see this in console

Remote Address:[

[2015-10-19 11:32] jdubois commented on #2153
Not sure for the next version, it's going to be huge, so a lot of test is needed.
Yes you can try from the master, have a look at the "contributing" document, it will guide you (and it's not that difficult, in fact)

[2015-10-19 12:04] AVE-cesar commented on #2149
+1 because, it will be a first step towards reverse engineering of existing database model.

[2015-10-19 12:18] AVE-cesar commented on #1270
:+1:

[2015-10-19 13:50] #2129 closed

[2015-10-19 13:55] jdubois opened #2172 "Add support for H2 in Liquibase Hibernate with Gradle"
Copy what has been done in https://github.com/jhipster/generator-jhipster/commit/bf5f3ad8178f7dc18ba57c66c5531560e630593e (in the pom.xml) so we have the Gradle build in sync -> this is for adding H2 support with Liquibase Hibernate

@atomfrede as it's Gradle I'm assigning this to you, but as it's my code I'm of course available to do it if you don't have the time or if you need help

[2015-10-19 14:13] jdubois opened #2173 "AngularJS format error when saving a LocalDate"
This only happens in the current master branch (future 2.23.0 version).

It is because we migrated to the Java Time API.

Everything works well (viewing, saving) but when a LocalTime (not ZonedDateTime!) is saved, AngularJS throws the following error in the console:

    Error: [ngModel:datefmt] Expected `2015-10-01` to be a date
    http://errors.angularjs.org/1.4.5/ngModel/datefmt?p0=2015-10-01

[2015-10-19 14:14] #2022 closed

[2015-10-19 14:18] atomfrede commented on #2172
I'll try to have look on Wednesday. Don't think I have time before.

[2015-10-19 14:19] jdubois opened #2174 "Add Gradle support for the Social login"
As @moifort added some conf in the pom.xml for feature #2155 they need to be copied to the Gradle build.
See https://github.com/jhipster/generator-jhipster/pull/2155/files

@atomfrede @moifort can you work together to solve this?

I'm currently merging #2155 it shouldn't be long!

[2015-10-19 14:35] jdubois opened #2175 "Controller spec having invalid identifier"
This is only in the master branch (upcoming 2.23 version), following the merge of #2152 that was coded by @trevershick

When creating a new entity, and running `grunt test`, I get:

    ERROR [preprocessor.coverage]: Line 5: Unexpected identifier
      at /Users/julien/workspace/tmp/src/test/javascript/spec/app/entities/foo/foo-detail.controller.spec.js
    Fatal error: Not a string or buffer

[2015-10-19 14:38] #2175 closed

[2015-10-19 14:39] trevershick commented on #2175
what is in your .jhipster folder and what is your .yo-rc.json ?

[2015-10-19 14:42] jdubois commented on #2175
thanks @trevershick but I just solved it :-)
Just some spaces which shouldn't be there, have a look at https://github.com/jhipster/generator-jhipster/commit/035e44c8e2e617ab6fbdb1270d6a2dc289a44655

[2015-10-19 14:43] trevershick commented on #2175
Yeah. Thanks. i saw that. I feel silly. I know i tested the entities.  I think my editor has jsformat (which does auto reformat) in it. I need to remove that. sorry for the troubles.

[2015-10-19 14:53] moifort commented on #2174
Yes sorry I totally forget to make the Gradle build.

[2015-10-19 15:05] moifort commented on #2174
@atomfrede I am really sorry, I try to understand with mapstruct example but I don't know how Gradle work. This what we need to import for the social functionality (maven):

[code]

[code]

and this is the yo variable:
`enableSocialSignIn`

Can you help me?

[2015-10-19 15:10] mraible commented on #2174
For properties, those go in app/templates/_gradle.properties. For example

[code]
For dependencies, those go in app/templates/_build.gradle, starting on line 93.

<% if (databaseType == 'sql') { %>
    compile group: 'org.springframework.boot', name: 'spring-boot-starter-data-jpa'<% } %><% if (searchEngine == 'elasticsearch') { %>
    compile group: 'org.springframework.boot', name: 'spring-boot-s

[2015-10-19 15:44] cbornet opened #2176 "Test fails if entity has a LocalDate field but no ZonedDateTime"
The import
[code]
is missing

[2015-10-19 15:49] #2176 closed

[2015-10-19 16:10] jdubois opened #2178 "Karma test failing when translation is turned off"
This is only in the master branch (upcoming 2.23 version), following the merge of #2152 that was coded by @trevershick

When the "no translation" option is selected (`"enableTranslation": false` in the `.yo-rc.json`), there is an error when running `grunt test`

    PhantomJS 1.9.8 (Mac OS X 0.0.0) Controllers Tests  RegisterController should update success to OK after creating an account FAILED

[2015-10-19 16:11] trevershick commented on #2178
I'm on it. Is there a way to test all these permutations other than manually?

[2015-10-19 16:14] atomfrede commented on #2174
@mraible you're absolutly right :+1:
@moifort I've created a gist with the required additions to ``gradle.properties`` and ``build.gradle``

See here: https://gist.github.com/atomfrede/d9f9f3f4115da1301152

[2015-10-19 16:16] trevershick commented on #2178
I'm working the fix for this.

[2015-10-19 16:22] moifort commented on #2174
Thank you guys!

[2015-10-19 16:23] jdubois commented on #2178
@trevershick I'm using https://github.com/jhipster/jhipster-automated-samples

-> but this does not test everything, there are too many permutations!! This should be improved, but as you can see it already catches quite a good number of issues

[2015-10-19 16:26] trevershick commented on #2178
I was unaware of that. Thanks!

[2015-10-19 16:28] atomfrede commented on #2174
@moifort Can I assign this issue to you? You can integrate into your PR directly I guess.

[2015-10-19 16:45] pascalgrimaud commented on #2178
@jdubois @trevershick : I'm working with Travis CI to test permutations and other things. I will propose this new project soon... It will complete the jhipster-automated-samples

[2015-10-19 16:51] mraible opened #2180 "Improve CONTRIBUTING.md instructions for 'npm link'"
To test out the latest version of JHipster (on the master branch), I tried the following steps:

[code]

After doing this, I'm still getting the same results of my pom.xml having spring-boot 1.2.6.RELEASE (instead of Spring Boot 1.3.M5).

Another attempt I made was to delete my forked project and clone generator-jhipster directly. After doing so, I ran `npm install && npm link` in the cloned proje

[2015-10-19 16:52] mraible commented on #2180
I figured it out thanks to this guide: http://justjs.com/posts/npm-link-developing-your-own-npm-modules-without-tears

I had to run `npm link generator-jhipster` in the project I wanted to upgrade.

[2015-10-19 18:06] #2180 closed

[2015-10-19 20:25] moifort commented on #2174
@atomfrede can you check if my modification is good?

[2015-10-19 20:30] atomfrede commented on #2174
Looks good to me. Thanks!

[2015-10-19 20:30] moifort commented on #2174
Thank you!

[2015-10-19 20:30] #2174 closed

[2015-10-19 23:31] pascalgrimaud opened #2182 "Use Travis CI to enforce the QA"
Hi,

I read this https://groups.google.com/forum/?hl=en#!topic/jhipster-dev/udaVHfPx0ds

So I wanted to improve the QA of JHipster. Since near 1 month, I worked on a personnal project:
* https://github.com/pascalgrimaud/jhipster-integration/

Here an example of Travis CI build:
* https://travis-ci.org/pascalgrimaud/jhipster-integration/builds/86295900

Plz, don't look commits (I tested a lot of th

[2015-10-20 00:58] deepu105 commented on #2180
Hmmm its weird that you had this issue, I have the project cloned in a
folder in my windows machine I just do `npm link` when i need to use master
or any of my branch, `npm install` only if there is any change in package
json. If i want to use the installed release I just do `npm unlink` in my
cloned project. This has worked without issues for me and when i switch
branches using git commands the c

[2015-10-20 01:05] deepu105 commented on #2182
Sounds nice man, not very familiar with travis, but what you are trying
would definitely help as testing is one of the main pain point as the
project grows

+1 from me

On Tue, 20 Oct 2015 7:31 am Pascal Grimaud <notifications@github.com> wrote:

[2015-10-20 01:40] mraible commented on #2182
The more testing, the better! +1 from me.

On Mon, Oct 19, 2015 at 7:05 PM, Deepu k Sasidharan <
notifications@github.com> wrote:

[2015-10-20 01:42] mraible commented on #2180
One thing I thought of while doing this - should we increment the version number in `package.json` after a release? For all the Maven and Gradle projects I've done, the version gets incremented as part of the release. This might make it easier to distinguish that you're using a released version vs a from-source version.

[2015-10-20 03:22] mraible commented on #2180
I tried this on a brand new machine tonight where I'd never checked out generator-jhipster before. First, I cloned generator-jhipster, then I ran `sudo npm link` in its directory.

Then I cloned the jhipster-sample-app and ran `yo jhipster` in it. It kept the spring-boot-starter-parent as version `1.3.0.M5`, so I guess it worked without the additional `npm link generator-jhipster`.

[2015-10-20 05:21] atomfrede commented on #2182
:+1: Wow that looks pretty cool.

[2015-10-20 06:22] atomfrede opened #2183 "Update gradle and sonar plugin"
When updating to latest gradle 2.8 the sonar plugin should be updated, [because the currently used plugin is deprecated.](https://docs.gradle.org/current/release-notes#the-sonar-and-sonar-runner-plugins-have-been-superseded-by-an-external-plugin-from-sonarqube)

[2015-10-20 07:18] templth commented on #2133
Hi,

In fact, there are two main things here (perhaps it wasn't so clear):

* REST support in JHipster. This would make possible to plug a RESTful service into the geenrated application. This would handle the CRUD:
  * methods `GET` / `POST` on the list resource for get all / query add an element.
  * methods `GET`, `PUT`, `PATCH` / `DELETE` on the single resource for a particular element.
  * han

[2015-10-20 08:34] cbornet commented on #2182
Looks great !  :+1:

[2015-10-20 08:47] jdubois commented on #2150
@justDoGit it definitely looks like you got an issue, but it's really complicated for us to find why it is if we don't have your full configuration.
As one-to-one relationships are not widely used, I guess there is a side-effect with them, but it's hard to tell.
I understand you can't share all your source code publicly (I see the package name...), so maybe we could do this in private? My email is

[2015-10-20 09:00] #2178 closed

[2015-10-20 09:25] jdubois commented on #2150
@justDoGit by the way, I've worked quite a lot in the IoT field recently (as part of my real job, I've just spent 4 month on an IoT system for the automotive industry, exactly like you...), and I wouldn't use Hibernate collections to store telematics data (or even trucks, if you have lots of them).
This is why we have the Cassandra option -> Cassandra is great for storing telematics data, you shou

[2015-10-20 10:54] deepu105 commented on #2057
I found the issue, this happens only in IE browsers due to some weird IE implementation related to http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx
since the error pages are redirects IE stops going to the actual page :(

[2015-10-20 11:19] Brokando commented on #2153
does not work with actual yeoman version.

But as described  here:
https://github.com/yeoman/yo/issues/360
Its a node problem, as described here:
https://github.com/nodejs/node/issues/2996

[2015-10-20 11:21] #2153 closed

[2015-10-20 11:58] gmarziou commented on #2153
There are currently issues with NodeJS 4+ and npm 3 on Windows, until Node team fixes them, it's highly recommended to use Node 0.12.x

[2015-10-20 12:12] gmarziou commented on #2171
What authentication scheme did you configure in jhipster?

What authorizations did you configure in SecurityConfiguration?

Also in Ionic, you must set up the Cordova whitelist plugin and put a Content-Security-Policy tag in your index.html.

[2015-10-20 13:05] PeterEltgroth commented on #2182
Nice! :+1:

[2015-10-20 13:29] jdubois commented on #2182
Yes, would be better than what we currently have!

[2015-10-20 14:37] magelle opened #2185 "Add a popup to login after session timeout"
Hi everybody,

I use jhipster with the session authentication.
Sometimes the session expires while working a long time on the same page.
After the session timeout the user is redirected to the login page.
This redirection could lead to loss of work in progress if the current page is a form.

It would be great to add a login popup to avoid the automatic redirection to the login page and to be able

[2015-10-20 16:30] francoisledroff commented on #2100
well we could have both, right oAuth2 and JWT cf https://github.com/spring-projects/spring-security-oauth/blob/master/docs/oauth2.md#jwt-tokens

[2015-10-20 16:46] cbornet opened #2187 "The mail health check has disappeared"
Following the commit https://github.com/jhipster/generator-jhipster/commit/64bbe3ccb011c2d0b9cd73dfa89c55079c65e4c3, JHipster is now using the autoconfigured JavaMailSenderImpl from spring-boot.

I tested that the removed JavaMailHealthIndicator correctly injects the bean configured by spring boot so we could still use it.

@jdubois I can pull a PR to set back the indicator if have no objection.

[2015-10-20 19:16] jdubois commented on #2187
yes I didn't see I removed it -> your PR would be welcome!

[2015-10-20 20:14] mraible opened #2188 "Improve README.md so the first line sounds better"
After looking at the generated README.md on a few projects, it seems like the first line would be better represented as:

    This application was generated using JHipster, you can find documentation and help at https://jhipster.gitub.io.

It currently reads:

    <%= baseName %> was generated using JHipster, you can find documentation and help at JHipster.

[2015-10-21 01:18] #2188 closed

[2015-10-21 01:35] ErickSanVal commented on #2173
Hi, @jdubois. Does this have something to do with the Jackson configuration? I've been trying to troubleshoot this issue and it seems that the local date serializer is not specified in the Jackson configuration class. Haven't tested though.

[2015-10-21 01:44] deepu105 commented on #2185
Plz check my comments on your commit, also try to squash your merge commits or rebase

[2015-10-21 08:31] pascalgrimaud commented on #2182
https://travis-ci.org/pascalgrimaud/jhipster-integration/builds/86295900
app-noi18n => KO, Issue https://github.com/jhipster/generator-jhipster/issues/2178

https://travis-ci.org/pascalgrimaud/jhipster-integration/builds/86554363
All is OK, after the fix https://github.com/jhipster/generator-jhipster/pull/2179

[2015-10-21 09:35] cbornet commented on #2187
I have just realized that the MailHealthIndicator has been added to the actuators so the custom one should not be needed in jhipster (this is probably why you removed it in the first place). I wonder why I don't see it with my app though...
Also CassandraHealthIndicator.java has been added to 1.3.0.RC1 and we could also use the default DataSourceHealthIndicator.java for the SQL databases.

[2015-10-21 09:52] cbornet commented on #2187
OK. Don't know what I did in the first place but the spring boot MailHealthIndicator works just fine. Probably a wrong config on my side.
I will open another issue to simply remove config.metrics directory when we upgrade to 1.3.0.RC1+ since all the health indicators we use are now included in spring boot.

[2015-10-21 09:54] jdubois commented on #2187
- yes if could remove all of them
- not sure for the database check -> we have some specific SQL queries, we need to check if the one provided by Spring Boot is good enough
- for Cassandra, it's our own CassandraHealthIndicator which has been contributed to Spring Boot, so I definitely think it should replace ours :-)

Can we close this, as you don't have the issue any more?

[2015-10-21 10:05] #2187 closed

[2015-10-21 10:09] cbornet commented on #2187
As for the datasource, the queries look exactly the [same](https://github.com/spring-projects/spring-boot/blob/v1.3.0.RC1/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/health/DataSourceHealthIndicator.java)

[2015-10-21 10:24] jdubois commented on #2173
I think it's only on the AngularJS side, but I have no idea what causes this issue at the moment. This is really annoying for our next release!!

[2015-10-21 10:25] jdubois commented on #2153
OK, so this is a NodeJS issue -> yes you need to use 0.12 versions, the other are very new and can lead to problems

[2015-10-21 10:45] cbornet commented on #2187
A for Cassandra, your full autoconfiguration has been included into spring-boot 1.3.0.RC1. Unfortunately, it doesn't include the enhancements from https://github.com/jhipster/generator-jhipster/pull/1564. Do you think we could PR to spring-boot and hope to have it in RC2 ?
Also I think there can  be conflicts between the RC1 autoconfigured cassandra and ours so this will have to be checked when up

[2015-10-21 11:58] jdubois opened #2190 "Migrate to Spring Boot 1.3.0 RC1"
See https://spring.io/blog/2015/10/21/spring-boot-1-3-0-rc1-available-now

[2015-10-21 12:08] jdubois commented on #2140
The only issue left is tracked by #2173

[2015-10-21 12:08] #2140 closed

[2015-10-21 12:26] #1649 closed

[2015-10-21 13:03] indyaah opened #2191 "Docker setup instructions no longer valid."
Given that docker team has released docker toolbox as an alternative to boot2docker, the documentation should be updated for docker toolbox guide.

I am willing to write/update the documentation if jhipster team considers this as valid issue.

[2015-10-21 13:03] andidev commented on #2191
+1

[2015-10-21 13:04] duderoot commented on #2191
+1

[2015-10-21 13:05] jdubois commented on #2191
Thanks @indyaah -> yes this is a perfectly valid issue, feel free to work on it!! Maybe @pascalgrimaud could help you with that, or at least review your code?

[2015-10-21 13:08] indyaah commented on #2191
@jdubois :Yup, I will updated the document and create a pull request.

[2015-10-21 13:26] pascalgrimaud commented on #2191
Yes I can review, @indyaah

[2015-10-21 13:40] elciopa commented on #1610
I have the same issue with the version 2.20. With you fix it's working perfectly. Here's my datasource

datasource:
        driver-class-name: org.postgresql.ds.PGSimpleDataSource
        url: jdbc:postgresql://localhost/jhipster220test
        serverName: localhost
        username: jhipster
        password: qwerty

[2015-10-21 15:11] #2190 closed

[2015-10-21 15:20] Brokando commented on #2153
with node v0.12.7 its working :)

[2015-10-21 16:12] mraible commented on #1619
@jkutner Is it possible to include multiple files with '--includes'? I need to upload newrelic.jar and newrelic.yml (for license key). I tried `--includes newrelic.*`, but it only picks up the newrelic.jar.

[2015-10-21 16:37] jkutner commented on #1619
@mraible yes. you can provide a `File.pathSeparator` delimited list

[2015-10-21 16:38] mraible commented on #1619
On second thought, maybe I don't need to upload both newrelic.jar and newrelic.yml. It looks like I have the following environment variables set.

[code]

However, I'm not seeing any activity in my New Relic console.

[2015-10-21 16:39] jkutner commented on #1619
@mraible i hear that a lot from people. and in my experience, it sometimes takes a few tries for New Relic to pick up the app. I think it's a problem on their end.

[2015-10-21 16:40] jkutner commented on #1619
oh, and if you're deploying with Maven, you can just use the `maven-dependency-plugin` to copy the agent JAR into the slug. I'll try to find an example of that.

[2015-10-21 16:44] jkutner commented on #1619
Scroll down to "Java agent installation with Maven" https://docs.newrelic.com/docs/agents/java-agent/installation/java-agent-heroku

[2015-10-21 16:49] indyaah commented on #2191
@pascalgrimaud : Kindly review and let me know if I missed something.

[2015-10-21 16:52] pascalgrimaud commented on #2191
@indyaah : thanks, I'll review it tonight (after work) :-)

[2015-10-21 17:04] mraible commented on #1619
@jkutner It doesn't appear like my JAVA_OPTS is getting picked up. when I start my app, I see the following message:

[code]

[2015-10-21 17:09] jkutner commented on #1619
`JAVA_OPTS` won't be automatically picked up by the JVM. It's only a convention used by a lot of frameworks, so you'd have to explicitly put it in the `java` command. Or you could override JAVA_TOOL_OPTIONS and I think _JAVA_OPTIONS works too, but I'm unsure of the precedence between those..

[2015-10-21 17:13] jkutner commented on #1619
We could put `$JAVA_OPTS` in the default `Procfile` jhipster generates.

[2015-10-21 17:25] mraible commented on #1619
I think adding `$JAVA_OPTS` to the generated `Procfile` would be a good idea. However, I noticed that after adding `-javaagent` that it expects the configuration file too.

[code]

The [documentation](https://docs.newrelic.com/docs/agents/java-agent/installation/java-agent-heroku#java-config) made me think that the `newrelic.yml` wasn't necessary b/c the config variables were set.

The good news i

[2015-10-21 18:23] pascalgrimaud commented on #2182
@jdubois : cassandra build fails since you migrated to spring boot M5 -> RC1
https://travis-ci.org/pascalgrimaud/jhipster-integration/builds/86660667

Is there something related to your PR in official spring boot project ?

[2015-10-21 20:10] mraible commented on #1611
This actually might be a JHipster issue, caused by its `.gitattributes` file. I noticed this file has `* text eol=lf` and the font file I'm using uses CRLFs. If I re-copy the font file from the Angulr theme I'm using and deploy, everything works. However, if I do a clean checkout from Git, the font is corrupted.

[2015-10-21 20:14] christophe-f commented on #2089
I will use a such feature too. Better user experience.

I will even add Spring Social support to this feature request :p

[2015-10-21 20:25] pascalgrimaud opened #2195 "Remove cassandra configuration"
@jdubois : your cassandra support is released in spring boot 1.3.0.RC1
https://github.com/spring-projects/spring-boot/tree/v1.3.0.RC1/

More Java code to remove
Java Hipster -> JavaScript Hipster

[2015-10-21 20:26] cbornet commented on #2182
Yes, spring-boot now autoconfigures cassandra and that conflicts with our conf.

[2015-10-21 20:32] mraible commented on #2195
You prompted me to run cloc on the master branch to see how we're doing. Looks like JSON (from i18n files) is the winner these days.

[code]

[2015-10-21 20:35] pascalgrimaud commented on #2195
So it should be JSon Hipster ? :-O

[2015-10-21 20:58] cbornet opened #2196 "Cassandra app fails with spring-boot 1.3.0.RC1"
See #2182

[2015-10-21 20:59] cbornet commented on #2196
This is because spring-boot now autoconfigures cassandra and that conflicts with our conf.

[2015-10-22 07:53] cbornet commented on #2195
Note that there has been enhancements in https://github.com/jhipster/generator-jhipster/pull/1564 to our conf that are not part of spring-boot.

[2015-10-22 08:35] jdubois commented on #2195
Our current Cassandra conf should be far more advanced than the one I contributed in Spring Boot, as we had commit https://github.com/jhipster/generator-jhipster/commit/300f475916ba807313bfcb83c3bd2461862c82e8 from @adejanovski

So I need to check our current conf but:

- I'd keep our current conf for the moment if this is possible, it's more complete and it's easier to do
- @adejanovski could you

[2015-10-22 08:36] jdubois commented on #2196
Duplicate from #2195 so I'm closing it

[2015-10-22 08:36] #2196 closed

[2015-10-22 09:39] jdubois commented on #2195
OK, it seems it going to be difficult to keep our current configuration, and it's quite confusing because we have both configurations having the same class names...

- it seems that the easiest way, and less confusing for users, is to remove our configuration and use the one from Spring Boot
- @adejanovski that would mean we lose your changes (it's still in the history, of course), and that it wou

[2015-10-22 09:49] #2172 closed

[2015-10-22 09:55] adejanovski commented on #2195
@jdubois ok, I'll try to send a PR asap.

[2015-10-22 10:42] jvence commented on #2089
I think it;s a good idea. Nowadays people should have the option of logging with an email or username. Pretty standard stuff in my opinion.

[2015-10-22 12:37] #2195 closed

[2015-10-22 13:01] pascalgrimaud commented on #2195
@jdubois : what about _CassandraHealthIndicator.java ?

[2015-10-22 19:04] vsarabu opened #2199 "This is a feature request unique fields"
while generating the new jhipster project entity using cmd prompt,
can you please include one more option asking for unique values.

Ex: yo jhipster:entity author
Answer the next questions concerning the fields of this entity, the author has:
a "name" of type "String"
*********do you want this filed as unique: ?*******

I am asking this feature because, if i do it manually by changing the code @un

[2015-10-22 19:53] cbornet commented on #2195
@pascalgrimaud  The full config.metrics dir can now be removed :smile:

[2015-10-22 20:00] pascalgrimaud commented on #2195
Thanks @cbornet
I couldn't test today, just review commits et make suggestions :)

[2015-10-22 21:03] pmadridb commented on #1977
I had the same problem in my project. This issue shouldn't be closed.

[2015-10-23 03:32] mraible opened #2200 "Add angular-loading-bar to show progress bar when requests take a while"
http://chieffancypants.github.io/angular-loading-bar/

As requested by @deepu105 on Twitter: https://twitter.com/deepu105/status/657367121165332480

[2015-10-23 07:40] jdubois commented on #1977
@pmadridb I'm sorry but the issue isn't clear to me here -> could you open up a new issue, explaining in detail what problem you have?

[2015-10-23 07:43] jdubois commented on #2199
We can't make a field "unique" in the UI that easily, because you need a round trip from the server-side -> you would first need to check if the field exists

This is rather a business need, it's out of scope for us at the moment.

On the database level it's a different issue, and as you say it's just adding a parameter -> we would not do it as it's against our guidelines (policy 2 at http://jhips

[2015-10-23 07:43] #2199 closed

[2015-10-23 07:44] jdubois commented on #2185
I would love to have this in 2.23.0 but there are merge conflicts -> I'm removing the 2.23.0 milestone on this, it will be in a future release.

[2015-10-23 07:49] jdubois commented on #2173
So the issue is with the `dateutil.service.js` code, in the `convertLocaleDateToServer` function:

- If we use a date, for a reason I don't understand, we have some timezone issue which makes you lose one day (at least in France, but I expect it's not working correctly for all countries which are before the GMT timezone). For the record, I'm doing:

    return new Date(date.getFullYear(), date.get

[2015-10-23 08:17] jdubois opened #2202 "H2 disk-based configuration not working properly on Windows"
On release 2.23.0 we have H2 disk-based support.

As mentioned by @deepu105 at
https://github.com/jhipster/generator-jhipster/commit/bf5f3ad8178f7dc18ba57c66c5531560e630593e#commitcomment-13926605
it looks like it's not working properly on Windows.

From my understanding, the "." does not work properly on Windows: maybe it does not understand it as the current directory?

- This needs to be furthe

[2015-10-23 10:34] Chinokao commented on #1977
Hello,

The problem is that isInAnyRole doesn't work in some situations, because when it uses isInRole it doesn't wait for the promise to finish.
I fixed creating a isInAnyRolePromise function so we can wait for the identity to check the roles, and changing IsInAnyRole function to work without IsInRole function.

This is how the functions work for me:

[code]

And this is how I use it in the $stat

[2015-10-23 11:08] Vaelyr commented on #1995
@trevershick have you had a chance to share it somewhere? I'd be really interested :+1:

[2015-10-23 11:12] trevershick commented on #1995
Sorry. I've been distracted. I'll put it out in a few hours.

Sent from my iPhone

[2015-10-23 12:17] pmadridb commented on #1977
I won't raise a new issue since I see that it has been already fixed in the latest code base: https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/webapp/scripts/components/auth/_principal.service.js

[2015-10-23 14:34] deepu105 commented on #2202
I was on windows 10 for the record
On 23 Oct 2015 16:17, "Julien Dubois" <notifications@github.com> wrote:

[2015-10-23 14:35] deepu105 commented on #2202
I checked H2 documentation couldn't find anything regarding this, will take
a deeper look tomorrow
On 23 Oct 2015 22:34, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2015-10-23 15:38] jdubois opened #2203 "Travis test for jhipster-docker is failing"
Our Travis build for jhipster-docker is failing:
https://travis-ci.org/jhipster/jhipster-docker

The complete log is here:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/87033352/log.txt

It looks to me that it is in fact working fine, but the curl command is running too quickly, or doesn't retry enough.

@pascalgrimaud as you coded the Travis build, can you have a look?

[2015-10-23 15:49] pascalgrimaud commented on #2203
Oh, you're right and I'm sorry !
Since the migration to spring boot 1.3, there are much dependencies to download. Starting an app take more time the first time. I got the same problems when I worked on https://github.com/jhipster/generator-jhipster/issues/2182 and I forgot completely the travis build for jhipster-docker.

I will rework on this travis build asap.

[2015-10-23 17:43] delverdev opened #2204 "OpenID Support"
I use JHipster but I have to implement login through OpenID provider. Will OpenID connection implemented in the future?
Or can you explain how to realize it the best way?

[2015-10-23 18:15] cbornet opened #2205 "Help people to fill issues according to the guidelines with a template"
Click [here](https://github.com/jhipster/generator-jhipster/issues/new?body=*%20**Overview%20of%20the%20issue**%0A%0A%3C!--%20if%20an%20error%20is%20being%20thrown%20a%20stack%20trace%20helps%20--%3E%0A%0A*%20**Motivation%20for%20or%20Use%20Case**%20%0A%0A%3C!--%20explain%20why%20this%20is%20a%20bug%20for%20you%20--%3E%0A%0A*%20**JHipster%20Version(s)**%20%0A%0A%3C!--%20is%20it%20a%20regression%3F

[2015-10-23 18:18] mraible commented on #2205
👍

[2015-10-23 18:27] pascalgrimaud commented on #2205
very good idea. But I don't know if a lot of people read CONTRIBUTING.md before going Issues, so maybe a button in the README.md file too ?

[2015-10-23 18:34] cbornet commented on #2204
The newly 2.23 release of jhipster supports social login using spring-social. Since spring-social seems to support OpenID (https://github.com/spring-projects/spring-social/wiki/Api-Providers) it should work out-of-the-box. Can you try and give your feedback ?

[2015-10-23 18:44] cbornet commented on #2204
Well. I spoke too quickly. Seems that we only support Facebook,Twitter and Google for now.You will need to add your own provider in src/main/java/${package}/config/social/SocialConfiguration.java

[2015-10-23 18:46] tmendenhall commented on #2113
If I get a chance I will check the 2.23.0 import definitions and see if they all follow the recommended di syntax. Thanks.

[2015-10-23 18:46] jdubois commented on #2205
Looks good, but do we really need to hold each user by the hand?
Each time you open up an issue, there is already a box with a link asking you to follow the guidelines.
I know a lot of people don't follow the guidelines, but:
- sometimes they have a good reason -> they have just a simple thing they want to share, and we might lose those people
- sometimes, indeed, people aren't being very good cit

[2015-10-23 18:50] jdubois commented on #2204
Yes you need to check what Spring Social provides: it's probably provided out of the box, so we don't really need to support anything here

[2015-10-23 20:08] cbornet commented on #2205
This is just a helper which will obviously be used only by good citizens who want to do things properly. when they face a bug. For non bug issues, you can still open issues the way you do now (this very issue is not a bug so I didn't follow the guidelines myself :smiley: )

[2015-10-23 21:28] cbornet commented on #2205
Maybe we should mention that the guidelines are for bugs only ?

[2015-10-23 21:34] cbornet commented on #2205
In fact, it already is mentioned... Maybe I should read the guidelines myself :sweat_smile:

[2015-10-23 22:24] cbornet commented on #2185
:+1:
Would love to have this. I am currently working on Oauth2 3-legged oauth and one of the issues I am facing is that when a 3rd party site accesses /oauth/authorize the user should be asked to authenticate if needed. For the moment I use basic auth but this is not great user experience.

[2015-10-23 22:59] trevershick commented on #1995
This is rough. I just got it working and was iterating over the features.  You'll just have to accept it how it is for now.  It's little more than jhipster with AdminLTE over the top of it with basic role management.
https://github.com/trevershick/shiken

[2015-10-23 23:06] cbornet commented on #2171
What type of auth are you using ? Session, Oauth ?

Does your browser send a pre-flight OPTIONS request ?

If you are using Oauth, you need to disable security on OPTIONS http methods in the ResourceServerConfiguration::configure() method.
[code]
(For session auth, the equivalent class is SecurityConfiguration but I don't think it is necessary as your browser should put the auth headers by himself

[2015-10-23 23:14] vitornobrega commented on #2171
I am using http session for authentication but this is not good when my services will be invoked by mobile apps.

I changed authentication type to token authentication, add a custom filter to allow all origins and know its working. Thanks for your help

[2015-10-23 23:14] #2171 closed

[2015-10-24 04:08] deepu105 commented on #2113
That will be great Tyler you are welcome to do PR to improve this
On 24 Oct 2015 02:46, "Tyler Mendenhall" <notifications@github.com> wrote:

[2015-10-24 09:43] deepu105 commented on #2202
@jdubois I have tried many combinations at last found one url which works in windows and from the h2 docs seems it should work in mac/unix
`jdbc:h2:file:./target/h2db/db/jhipster;DB_CLOSE_DELAY=-1`

ill open a PR with this

[2015-10-24 11:48] delverdev commented on #2204
Seems like Spring Social provides only the OAuth. I didn't find examples or information about this. But how to implement login through OpenID? When I was trying to implement this in SecurityConfiguration (adding http.openidLogin and custom UserDetailsService), it redirect me to #/login page after go to #/login/openid?openid_identifier=anyidentifier. In my other projects (w/o JHipster) it works. I

[2015-10-24 13:03] cbornet commented on #2204
The Spring social extension for OpenID is https://github.com/molindo/spring-social-openid/
I recommend you to read the Spring Social [Quick-Start](https://github.com/spring-projects/spring-social/wiki/Quick-Start) then it should be as simple as adding the spring-social-openid dependency and configuring SocialConfiguration.java

[2015-10-24 13:14] cbornet commented on #2204
Try to add this to SocialConfiguration::addConnectionFactories() :
[code]

[2015-10-24 13:49] jbadeau opened #2210 "Rename Application to App"
The Application.java file is conflicting with entities being named 'Application' which is a very common name. Would it be possible to rename the 'Application' class to 'App' and 'ApplicationWebXml' to 'AppWebXml'

[2015-10-24 14:21] gmarziou commented on #2210
This is a rather simple refactoring that anybody can do in his IDE.
However in my projects I often have several JHipster applications and rather than using a generic name like 'Application' or 'App' I prefer to name them as <appName>Application: FrontOfficeApplication, DashboardApplication, ....

[2015-10-24 15:08] cbornet commented on #2109
Since we upgraded to spring boot 1.3 , I reopen this issue.
The tip is indeed incorrect as a dedicated filter should be used for Cors and it doesn't deal with the pre-flight OPTIONS requests.
I have tried to use the method from [here](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-docs/src/main/asciidoc/spring-boot-features.adoc#cors-support) but that was not successful. To

[2015-10-24 15:36] mraible commented on #2109
Spring Boot 1.3 depends on Spring 4.2, which has a @CrossOrigin annotation that can be used.

https://spring.io/blog/2015/06/08/cors-support-in-spring-framework <https://spring.io/blog/2015/06/08/cors-support-in-spring-framework>

[2015-10-24 16:00] jbadeau commented on #2210
The main issue is when using generator tasks or jhipster-uml, the name 'Application' is assumed and then you are forced to rename all the references, not hard but annoying and time consuming.

[2015-10-24 16:36] cbornet commented on #2109
Yes, the ```@CrossOrigin``` is for fine grained configuration of controllers and requestmappings.
The bean I gave is for global configuration of CORS.

[2015-10-24 18:04] jdubois commented on #2210
Yes we should quite "Application", it's much clearer for users that it's the main application class.

[2015-10-24 18:05] #2200 closed

[2015-10-24 20:55] amitjindal opened #2212 "SecurityUtils getCurrentUser throws exception"
Hi, I am not sure if I am doing something wrong.
After login in a Resource, I am trying to call:
[code]
This is throwing exception from line 81 of SecurityUtils: IllegalStateException("User not found!")
I tried to debug this also in IntelliJ, and while intellij shows authentication.getPrincipal() is an instance of CustomUserDetails, the instanceof operator fails and even the typecast results in an

[2015-10-24 21:37] cbornet commented on #2212
Please use our [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue) to fill your issue

[2015-10-25 03:35] deepu105 commented on #2200
Awesomel
On 25 Oct 2015 02:05, "Julien Dubois" <notifications@github.com> wrote:

[2015-10-25 05:14] deepu105 opened #2214 "Bug: Entity dialog submit button is not re enabled on error"
currently we are doing `ng-disabled="editForm.$invalid || editForm.$submitted"` to disable submit button on form submit, but when there is a validation error or request failure its not re enabled back and we need to close and reopen the dialog to start over again.

This is really annoying when you have a large form and one filed caused validation error from backend, you loose all the data you ente

[2015-10-25 05:15] deepu105 commented on #2214
I guess it might be better to use a variable to disable and enable the button on http call start and finish

[2015-10-25 06:00] jdubois commented on #2212
Yes, this has been changed recently, we need your version number -> I'm closing this as the guidelines are not followed.

[2015-10-25 06:00] #2212 closed

[2015-10-25 06:44] amitjindal opened #2216 "SecurityUtils getCurrentUser throws exception (properly filed)"
Calling SecurityUtils.getCurrentUser() throws exception. This was called after login.

**Stack trace (Truncated as it seems useless after a few lines):**
[code]

**Motivation for or Use Case**
I need to get the current user and userid.
This is a bug because it should work

**JHipster Version(s)**
JHipster version: Latest. Installed 5 minutes ago.    "generator-jhipster": "2.23.0"

**Is it a regres

[2015-10-25 06:45] amitjindal commented on #2212
Refiled: https://github.com/jhipster/generator-jhipster/issues/2216

[2015-10-25 07:46] deepu105 commented on #1254
problem is angular material isn't exactly compatible with bootstrap and that would mean the entire front end might need to be re written which is huge and not worth maintaining as options as well

Agree with @gmarziou on the issue backlog in ui-bootstrap may be as someone else said above http://mgcrea.github.io/angular-strap/ looks much better and polished we should take a look at that

[2015-10-25 07:51] deepu105 commented on #2210
Application is much better

[2015-10-25 07:54] deepu105 commented on #1755
@atomfrede how about we replace ui-bootstrap with http://mgcrea.github.io/angular-strap/ it has nice datepickers and a more polished set of widgets plz take a look

[2015-10-25 08:06] jdubois commented on #2216
Great, thanks! I merged some code related to this recently, there is probably a regression.

[2015-10-25 08:08] jdubois commented on #2212
Great, thanks!

[2015-10-25 15:17] pascalgrimaud opened #2218 "MongoDB tests : conflict port if mongodb instance is running"
I create new app with mongodb. When I launch `mvn test`
* If there is no mongodb instance : all tests OK
* If there is a mongodb instance which is running on the port 27017 : KO

I think there is a conflict with port 27017 since the https://github.com/jhipster/generator-jhipster/pull/2148.
Maybe can we force to use another port in our tests ?
Or must we stop mongodb instance, running tests, then s

[2015-10-25 23:40] phouverneyuff commented on #2183
http://docs.sonarqube.org/display/SONAR/Analyzing+with+Gradle#AnalyzingwithGradle-MigrationfromGradleSonarRunnerPlugin

[2015-10-26 09:46] #2161 closed

[2015-10-26 09:52] jdubois commented on #2210
OK, I'm keeping "Application".
For jhipster-uml -> this could be an option, but then I don't understand when it's referenced

[2015-10-26 09:52] #2210 closed

[2015-10-26 09:58] #2202 closed

[2015-10-26 13:14] #2203 closed

[2015-10-26 14:19] cbornet opened #2222 "Use autoconfigured H2-console"
Spring-boot 1.3 starts an H2 web console when devtools is on and h2 is present on the classpath (http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#boot-features-sql-h2-console). You can test that it is already there with dev profile :smile: at http://localhost:8080/h2-console. As per Policy 1, shouldn't we use it instead of our custom one ? The only drawback I see is th

[2015-10-26 15:01] delverdev commented on #2204
I have tried to add dependency of the extension:
[code]
I've also added connectionFactoryConfigurer.addConnectionFactory(new OpenIdConnectionFactory()); at the end of the SocialConfiguration::addConnectionFactories() method.

I receive an error. Here is the [logs](http://pastebin.com/Ti1thy1N).

[2015-10-26 15:31] wangshug commented on #1716
I am encountering this kind of problem, any suggestion to resolve it.

[2015-10-26 16:07] delverdev opened #2224 "account.login not reloading in other views when login\logout"
Architecture of the Principal.service.js do not allow to take correct account.login after login/logout. Example: I have 2 views: navbar and main. Both of them have $scope.isAuthenticated that works fine. In navbar this variable used to show/hide extra options. But what if I want to show username in the navbar? {{account.login}} reloads ONLY in the main controller unlike isAuthenticated. I must rel

[2015-10-26 18:48] drissamri opened #2225 "Deployment to cloud foundry fails"
After running jhipster:cloudfoundry (Bluemix) on version 2.23 this error occurs:

[code]

A blank Spring Boot jar application works fine, I can't make out why a JHipster war is failing.

[2015-10-26 20:53] cbornet commented on #2204
Arf ! Not so out-of-the-box after all...
We use configuration classes from spring-social that don't know about the openid extension
See https://github.com/spring-projects/spring-social/blob/master/spring-social-config/src/main/java/org/springframework/social/config/annotation/SocialConfiguration.java
We use ```@Enable``` which imports SocialConfiguration which configures ConnectionFactoryLocator

[2015-10-27 02:15] phouverneyuff opened #2228 "CucumberTest failed when use Hazelcast"
When run 'gradle test', the CucumberTest failed if I choose hazelcast in jhipster.

The following error occur:
"CucumberTest > Feature: User management.classMethod FAILED
    java.lang.IllegalStateException
        Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException
            Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException
                Cause

[2015-10-27 02:18] phouverneyuff commented on #2228
I'm trying make CucumberTest run after IntegrationTest.
If it works, we need change the class name.

Unit Test should be end with *UnitTest.
Integration Test end with *IntTest

[2015-10-27 06:28] #2183 closed

[2015-10-27 08:20] jdubois commented on #2205
Closing as this is merged.

[2015-10-27 08:20] #2205 closed

[2015-10-27 09:32] #1951 closed

[2015-10-27 09:39] jdubois opened #2229 "Entity dialog error messages are not translated"
This is for the notification system from @deepu105 and is linked to #2214

If there is a validation on the server side, the error message is not translated (it does not exist). We have the "global.entity.validation" messages (in the global.json file), it should probably use those messages.

Here is an example:
<img width="918" alt="capture d ecran 2015-10-27 10 32 08" src="https://cloud.githubuser

[2015-10-27 10:21] drissamri commented on #2225
The same error is logged at https://github.com/cloudfoundry/cli/issues/634 but this is about when using symlinks. I don't use symlinks and I don't think JHipster makes any symlinks automatically?

[2015-10-27 12:09] fgiorgetti commented on #829
It worked for me as well.

[2015-10-27 12:51] drissamri commented on #2225
I have just tried this with version generator version 2.21.1 and it works, it doesn't seem to work with newer versions.

[2015-10-27 13:28] MardariG opened #2231 "Failed to install Romanian language (sockets selected)"
Here's the error:
![untitled](https://cloud.githubusercontent.com/assets/8759158/10759323/67a66ee2-7cbf-11e5-941c-4df1d7d8a457.png)

[2015-10-27 15:15] Panthro opened #2232 "Add loading gif or any information during login (and maybe some other requests)"
When doing the login and the api takes anything more than 500ms to respond, the feeling is like the browser got stuck and won't login.

A common user would probably hit the login button again.

I think it would be nice if in angular we could add some "loading status" to these api calls.

[2015-10-27 15:18] Panthro opened #2233 "After a bad login, remove the error message if the user edits the form or submit a new request"
If you do a login attempt that fails, an error message is shown.

The problem is that the next subsequent calls as nothing changes the user don't know if the call is still running or the error has occurred again.

This behaviour would probably not be a problem if #2232 is implemented (adding the issue for traceability)

[2015-10-27 15:27] mraible commented on #2232
Angular Loading Bar was added in #2201. See #2206 if you'd like to add a progress indicator to your submit buttons.

I wrote up a blog post about both of these progress indicators this morning:

http://www.jhipster-book.com/#!/news/entry/progress-indicators-with-angularjs-and-jhipster

[2015-10-27 15:31] Panthro commented on #2232
Well, guess we're in sync with what is nice to have in jhipster lol!

Great Work! It should be enough!

Thanks for the fast reply

[2015-10-27 15:31] #2232 closed

[2015-10-27 16:38] jdubois commented on #2225
It might be related to Spring Boot 1.3.0.RC1, that's the biggest change we did

[2015-10-27 18:53] christianmenz opened #2235 "MongoDB and Elasticsearch conflict @Document annotation"
Hi,

I'm just playing around with jhipster and created a sample project with MongoDB and Elasticsearch support. When I tried to build the app I got errors and I figured out it generates following code:

**import org.springframework.data.elasticsearch.annotations.Document;**
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.fasterxml.jackson.databind.annotation.JsonSerial

[2015-10-27 19:09] christianmenz commented on #2235
This is related to the same issue, if you use mongodb and elasticsearch, it generates an invalid application-xxx.yml as it has two **data** keys.

[2015-10-27 19:48] dbjordan opened #2236 "Using CAS with Jhipster"
Is there a way to add CAS integration into JHipster without breaking the application?

[2015-10-27 20:41] jdubois commented on #2236
Yes of course, it's supported by Spring Security.

As this is not a feature request or a bug, I'm closing this as it doesn't follow our guidelines.

[2015-10-27 20:41] #2236 closed

[2015-10-27 20:43] jdubois commented on #2235
Did you read our documentation at http://jhipster.github.io/using_elasticsearch.html - it says it only works with SQL databases

-> this is not a bug, as you normally should not have been able to generate this (or there is an issue in our generator, and that case please tell us how you did it)

[2015-10-27 20:43] #2235 closed

[2015-10-27 20:49] jdubois commented on #2231
I confirm the issue with our latest version (please follow our guidelines!!!! give us more information!)

You need to:

- All default options, except Websockets is selected
- Add languages -> Romanian

[2015-10-27 21:52] vitornobrega opened #2237 "Jhipster have any feature to search for entity fields?"
Hello, i am using Jhipster and i have generated many entities.
In the entity list, jhipster have any feature to add a search panel?

My list is big, have many pages and would be interested include any option to search and filter the result.
Jhipster have any option to include this or will be implemented in future?

thanks

[2015-10-27 22:02] jdubois commented on #2237
Did you read our documentation ? We have Elasticsearch support which does exactly this.

[2015-10-27 22:02] #2237 closed

[2015-10-27 22:19] vitornobrega commented on #2237
I had read but i dont understand very well how elasticsearch works.
If documentation include an example in entity html would be better. thanks

[2015-10-27 22:34] pascalgrimaud commented on #2182
Update about my work :
* monitoring differents commits since 1 week and it seems all build do their job
* "Yes, would be better than what we currently have!" => so I will propose to replace the actual travis by this new
* to speed up the build, I use https://github.com/pascalgrimaud/jhipster-lib
    * with git clone, git zip and download the project, so we get all dependencies (m2 and node_modules

[2015-10-27 22:37] mraible commented on #2182
How long does it take to create a new project when using jhipster-lib?

Could it be used for demos to speed up project creation and npm install?

On Tue, Oct 27, 2015 at 16:34 Pascal Grimaud <notifications@github.com>
wrote:

[2015-10-27 22:39] cbornet commented on #2237
http://docs.spring.io/spring-data/elasticsearch/docs/current/reference/html/
Good reading :wink:

[2015-10-27 22:41] vitornobrega commented on #2237
thanks, when i use Elasticsearch and create new entities, in the view list, a search fields are added automatically? Or i need to add the search fields ?

[2015-10-27 22:52] pascalgrimaud commented on #2182
On my machine :
* mkdir test && cd test
* launch my personnal script
[code]
* yo jhipster
* answer all questions
* press enter => 25sec

[2015-10-27 23:38] cbornet commented on #2182
If I understand well, this is about 15 mn to build all projects in parallel with speedup ?
Then IMO, it would be totally worth having it on PRs

[2015-10-28 00:53] deepu105 commented on #2229
Ill work on it this weekend
On 27 Oct 2015 17:40, "Julien Dubois" <notifications@github.com> wrote:

[2015-10-28 01:00] deepu105 commented on #2237
Its added automatically for all entities if you choose elastic search
during app generation
On 28 Oct 2015 06:41, "Vítor Nóbrega" <notifications@github.com> wrote:

[2015-10-28 01:16] deepu105 commented on #2235
@jdubois The condition checking DB type was removed during Java 7 removal
it seems, @pascalgrimaud has submitted a fix and I have merged it

Closed #2235 <https://github.com/jhipster/generator-jhipster/issues/2235>.

—
Reply to this email directly or view it on GitHub
<https://github.com/jhipster/generator-jhipster/issues/2235#event-447290541>
.

[2015-10-28 05:22] Raysmond opened #2239 "Cache control in http response headers is not working"
CachingHttpHeadersFilter sets Cache-Control, Pragma and Expires headers to http response, however, the cache-control and pragma is somehow override.

For example:

[code]

`Cache-Control` is reset to `no-store` and `Pragma` is empty.

[2015-10-28 05:42] christianmenz commented on #2235
Thank you very much!

[2015-10-28 07:37] jdubois commented on #2239
Which version are you using? This has probably changed significantly with Spring Boot 1.3 -> can you follow our guidelines and give your version number?

And how are you launching your application? This also probably change a lot depending whether you use a WAR file (on which app server?), the mvn plugin, etc...

-> please, follow the guidelines and give us more information

[2015-10-28 07:39] #2231 closed

[2015-10-28 13:01] jdubois commented on #2222
Yes -> for the drawback concerning the properties in src/main/resources I'm not sure it is such an issue. On my laptop Chrome keeps trying to input the wrong login/password so it's not very usable anyway! The best option would be to remove authentication on localhost, I don't know if that's possible.

[2015-10-28 14:16] amitjindal opened #2241 "[BUG] Elasticsearch throws exception deserializing LocalDate"
**Overview of the issue**
When we try to deserialize an entity that was persisted to elasticsearch and has a member of type LocalDate it throws an exception.

Search for something that returns a empty result (running fine)
[code]

**JHipster Version(s)**
Latest: 2.23.0

Yes, this is a regression. The deserializer is not able to deserialize new Java8 LocalDate.

**JHipster configuration, a `.yo-rc.

[2015-10-28 15:08] deepu105 commented on #2241
Good to see more and more people following our issue guidelines :)
On 28 Oct 2015 22:16, "Amit Jindal" <notifications@github.com> wrote:

[2015-10-28 17:20] lluiscanals opened #2242 "spring boot devTools not working. IDEA intellij."
* **Overview of the issue**
I recently updated to jhipster 2.23.0. Made all necessary changes and startup the app with the spring boot plugin. (spring-boot:run). It seems that spring boot devTools are not restarting my application when one file is changed, for example one XxxxxResource file.
I'm using IDEA Intellij.

* **Motivation for or Use Case**

* **JHipster Version(s)**
2.23.0

* **JHipster

[2015-10-28 17:21] mraible commented on #2242
Are you compiling the file after you change it, or just saving it?

[2015-10-28 17:35] lluiscanals commented on #2242
Just saving. I though that devTools detect changes automatically.

I tried in eclipse and it is working on saving, like this example:
https://spring.io/blog/2015/06/17/devtools-in-spring-boot-1-3

[2015-10-28 17:38] mraible commented on #2242
This is because Eclipse compiles automatically on save. Here's how to get similar functionality in IntelliJ:

http://stackoverflow.com/questions/12744303/intellij-idea-java-classes-not-auto-compiling-on-save

[2015-10-28 17:45] lluiscanals commented on #2242
Thank you very much. Works now.
It's just an idea, but maybe a note in the documentation in the intellij part may help other people, or maybe it's only my fault, anyway, thanks for the light-speed response! xD

[2015-10-28 17:45] #2242 closed

[2015-10-28 18:00] cbornet commented on #2241
Looks like spring-data-elasticsearch doesn't use Jackson2ObjectMapperBuilder to get its ObjectMapper and spring-boot doesn't change that either.
Could you try following this ?
https://github.com/spring-projects/spring-data-elasticsearch/wiki/Custom-ObjectMapper

But use something like:
[code]

[2015-10-28 18:45] amitjindal commented on #2241
Sorry, I am not as well versed with Spring. I am not exactly sure where to put the XML files to load this.
I don't see those in current jhipster project.

[2015-10-28 19:27] cbornet commented on #2241
Oh, no XML, this is evil and is for Spring (without Boot) !

Instead, try adding the following bean to a configuration class (JacksonConfiguration for instance)
[code]

[2015-10-28 23:25] gmarziou commented on #2242
@lluiscanals would you consider submitting a PR for documentation on this topic?

[2015-10-28 23:49] lluiscanals commented on #2242
Yes of course. I have never done before....but always a first time for all
xD. Tomorrow I will read about how to submit a PR and I'll try! :)
El 29/10/2015 0:25, "Gaël Marziou" <notifications@github.com> escribió:

[2015-10-29 09:38] gmarziou commented on #2242
Great :)

[2015-10-29 10:06] cbornet opened #2244 "Add integration tests for elasticsearch"
The regression #2241 made me think that we should implement some IT for elasticsearch REST endpoints

[2015-10-29 12:41] #2080 closed

[2015-10-29 14:02] cbornet commented on #2241
OK. I had it working. FIx on its way

[2015-10-29 14:46] priitl opened #2245 "[BUG] User Management edit user throws exception while saving email that is already in use."
<strong>Overview of the issue</strong>
User Management -> Edit User throws exception while saving email that is already in use. Same problem in Account -> Settings.

<pre>[ERROR] org.apache.catalina.core.ContainerBase.[Tomcat].[localhost].[/].[dispatcherServlet] - Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception

[2015-10-29 16:44] SCarlinINWK commented on #48
@jdubois - I am trying to run a JHipster generated app with no internet access on the machine, using Sinopia and other private repositories hosted internally, but node is still trying to download packages, directly.  Have you seen this before, know of a work around or have any advice?

[2015-10-29 20:15] andidev opened #2247 "Refactor to use UPPER_SNAKE_CASE naming convention for angular translation keys"
Angular translate mostly uses UPPER_SNAKE_CASE naming conventions for translations keys in their examples. Maybe this is a personal opinion but it reads much better than the current snakeCase convention used today and it makes it easier to distinguish them from the scope variables as well.

@jdubois
How come JHipster uses camelCase as naming convention? Would a PR to change the keys to UPPER_SNAKE

[2015-10-29 21:02] #2241 closed

[2015-10-30 12:36] deepu105 commented on #2247
wouldnt that be hell lot of json files to refactor?

[2015-10-30 12:38] gzsombor commented on #2247
+ a hell lot of html as well !

[2015-10-30 13:38] deepu105 commented on #2247
i dont know if it will bring any values and also since we are using json to store keys it will look weird having snake_case keys all over it and using something like `ENTITY.ACCOUNT_INFO.MENU.USER_PASSWORD` with snake case and dot notation, so i dont know if its worth the effort

[2015-10-30 13:44] Panthro opened #2250 "Allow Map<String,String> on Entity Generator"
Hey guys

One of the things I use a lot on JPA2 is the Map mapping, because it makes it very easy to make your entity more flexible when it can vary and have `attributes`.

What I usually do is:
Giving entity `Example` and field `attributes`.

[code]

I don't know how this would fit into the Angular app, but sure it would be a nice to have.

[2015-10-30 13:48] deepu105 commented on #2250
This is a very rare use case and I dont think we will be adding this. You can easily add this yourself in generated entity also I dont see how this can be used in the angular side as you mentioned.

[2015-10-30 13:48] #2250 closed

[2015-10-30 13:51] Panthro commented on #2250
I always knew that, just added the issue as a `feature request` just in case many people get to it and find it useful.

BTW, the `liquibase:diff` does not work with this, I had to debug the execution to find that it was throwing a NPE because it was trying to create a primary key for the new table and the primary key name was null.

[2015-10-30 14:40] andidev commented on #2247
Okey, I'm closing this theb

[2015-10-30 14:40] #2247 closed

[2015-10-30 18:01] geraldhumphries opened #2251 "A getAll request for an entity with pagination enabled will only return 20 results if paging parameters are not set"
##### Overview of the issue
Generating an entity with pagination (infinite scroll or full pagination, haven't tested simple pagination) will cause a `getAllEntities` request without parameters to return only 20 results.

Tests break for `getAllEntities` because the returned list of entities does not contain the entity added during `entityRepository.saveAndFlush(entity)`. This only happens when add

[2015-10-30 18:02] gmarziou commented on #2250
Have you reported this issue to the liquibase project?

[2015-10-31 04:41] DineshShende commented on #1370
Any one found solution for token based authentication?

[2015-10-31 04:51] #2214 closed

[2015-10-31 04:54] DineshShende commented on #1370
@CodyBrokeIt Any luck with token based authentication?

[2015-10-31 09:18] #2229 closed

[2015-10-31 09:27] cbornet commented on #2251
Why do you add test data with Liquibase ? For your own ITs ?
Although the standard JHipster tests assume an empty database, there has been improvements in the past to support pre-loaded data. So I guess this could also be done for pre-loaded database with pagination enabled.

[2015-10-31 10:14] cbornet commented on #2251
Also note that if the data is not meant initially for tests but for your running dev/prod server, you can use liquibase context property in changeset to prevent loading if the context is test.

[2015-10-31 17:07] rreitmann opened #2259 "Can't read swagger JSON"
Hi,

we have just created a new JHipster app and deployed it to Pivotal Web Services. If I access https://metadatamanagement.cfapps.io/swagger-ui/index.html it does not allow me to test the Rest API.

Are there any known limitations?

Our generator choices can be found [here](https://github.com/dzhw/metadatamanagement/blob/master/.yo-rc.json).

[2015-10-31 17:09] deepu105 commented on #2259
Have you deployed with prod profile? Swagger works only in dev profile
On 1 Nov 2015 01:07, "René Reitmann" <notifications@github.com> wrote:

[2015-10-31 17:09] gmarziou commented on #2259
swagger spec file is not available using production profile.

[2015-10-31 17:10] gmarziou commented on #2259
@deepu105 you're too fast ;)

[2015-10-31 17:13] #2218 closed

[2015-10-31 17:37] rreitmann commented on #2259
Thx, you both were fast :-)

And yes I have deployed with the prod profile. I was not aware of the fact that swagger is supposed to be used only with the dev profile.

[2015-10-31 21:04] superandrew opened #2261 "Provide Docs for API authentication"
I admit my noobiness regarding spring, spring boot etc. However I am struggling to find a way to get a REST client to make calls to /api/<something> because I really don't understand how to perform a simple task, or two:

1. authenticate the REST client via the http session authentication mechanism or
2. authenticate the REST client via the token authentication mechanism.

The second should be the

[2015-10-31 21:11] gmarziou commented on #2259
Reason is that swagger-ui index.html is difficult to adapt to all authentication schemes JHipster supports, so we decided to unprotect the spec file and for this reason we did it only in dev profile as it may not be appropriate for all apps to open up their API spec.

If you want to change it, it's easy: just remove the annotation in SwaggerConfiguration

   @Profile("!"+Constants.SPRING_PROFILE_P

[2015-10-31 21:11] #2259 closed

[2015-10-31 21:13] superandrew commented on #2261
I get that I have to authenticate to /api/authenticate and store the token. I think that it would be useful to describe this process, unless it's very obvious, which is totally possibile.

[2015-10-31 22:10] gmarziou commented on #2261
Primary focus of the JHipster's API is to be consumed JHipster angular client, this is why it is not documented.

The easiest way is to authenticate using the angular client and to look at the browser's console, you'll see all request and responses, pay attention to headers.
You can also look at the js files in src/main/webapp/scripts/components/auth folder

[2015-10-31 22:14] gzsombor commented on #2261
Btw, we should fix the authentication REST resource to return jsons, not just plain strings. I would bet, that would make the life of the client writers easier ! :)

[2015-11-01 03:06] deepu105 commented on #2261
@superandrew this is more of a stack overflow item, plz open it there and tag it with jhipster

[2015-11-01 03:06] #2261 closed

[2015-11-01 04:01] vivekmore opened #2262 "Minor bug in LoggingAspect"
**Overview of the issue**
In the generated LoggingAspect class, the following method has a minor bug

    @AfterThrowing(pointcut = "loggingPointcut()", throwing = "e")
    public void logAfterThrowing(JoinPoint joinPoint, Throwable e) {
        if (env.acceptsProfiles(Constants.SPRING_PROFILE_DEVELOPMENT)) {
            log.error("Exception in {}.{}() with cause = {}", joinPoint.getSignature().ge

[2015-11-01 07:10] geraldhumphries commented on #2251
The tests failing is just an observed effect - the main issue is the functionality. `getAllEntities()` does not actually get all entities by default, and this is noticeable in JHipster's generated entity managers where dropdowns only contain the first twenty results. I see that as a bug, unless this is intended behavior when pagination is used.

[2015-11-01 09:06] deepu105 commented on #2251
Ok the real issue here is that when the entity is shown in dropdowns for
one to many and many to many relationships it shows only default 20.
On 1 Nov 2015 16:07, "Christophe Bornet" <notifications@github.com> wrote:

[2015-11-01 09:07] cbornet commented on #2251
This is not a bug : this is pagination. When you query api/foos, you get one page of foos which by default is 20 items. You can query api/foos?size=2000 to get 2000 items.

[2015-11-01 09:09] deepu105 commented on #2251
I guess we should either add a non paged getAll or set some high values for paging when getting entities for drop downs. A new method might be cleaner

[2015-11-01 09:15] superandrew commented on #2261
@deepu105 yes, I was just suggesting docs integration, I already visited SO and posted there.

[2015-11-01 10:55] cbornet commented on #2251
Yes the dropdown size is a problem. However shouldn't we keep some limitation on the size of the dropdown ? Imagine your entity table has 1M rows...

[2015-11-01 11:00] cbornet commented on #2251
Same as for the unit test. IMO entities that have a lot of items should be set as pageable if you don't want to OOM and getAll should be called with a reasonable size limit

[2015-11-01 11:50] deepu105 commented on #2261
I guess it can be a tip but need someone to PR that
On 1 Nov 2015 16:15, "Andrea Maschio" <notifications@github.com> wrote:

[2015-11-01 12:09] deepu105 commented on #2251
For dropdowns such cases should be implemented as an autocomplete kind of thing but thats out of our scope i guess, but normally it shouldn't be returning just 20 without option to fetch remaining

[2015-11-01 13:47] vivekmore opened #2264 "Minor bug in SocialUserConnection"
**Overview of the issue**
The generated class **SocialUserConnection** has a field with a typo:

    private String protileURL;

The field, its getters and setters and their references could be corrected to say **profileURL**

**Jhipster version**
2.23.0

**Reproduce the error**
Create a jhipster project normally with

    HTTP Session Authentication with social login enabled (Google, Facebook, Tw

[2015-11-01 15:27] fromi commented on #965
I solved the problem this way:
`http.csrf().ignoringAntMatchers("/login")`

[2015-11-01 22:46] pascalgrimaud commented on #2011
Same here https://github.com/spring-projects/spring-boot/issues/4355

[2015-11-02 08:11] cbornet commented on #2261
@superandrew For your use case, I would use OAuth2 authentication and generate my client with [swagger-codegen](https://github.com/swagger-api/swagger-codegen). The only thing is that oauth has not been done yet for iOS client so you would have to code it yourself. This is really not much to do using https://github.com/AFNetworking/AFOAuth2Manager. Don't worry about security, it is as secure as ht

[2015-11-02 09:18] henkelb commented on #1558
Andrew Redko's solution from [1] worked for me
.
"Go to Idea > Settings > Annotation Processors.
For each processor profile make sure that:
Enable annotation processing is Yes;
There is no annotation processor FQ name of one you have error about (e.i. "JPAMetaModelEntityProcessor") in the list on the right side. If it is listed there, just select and click '-' minus button to remove it." - Andrew

[2015-11-02 09:29] superandrew commented on #2261
@cbornet thank you very much. In the end I was able to use the authentication token, I find it pretty handy even if coding the token refresh is a bit more complex that I would have liked.

[2015-11-02 10:21] jahu opened #2265 "Add social login to existing jHipster app?"
I am in the middle of the development of jHipster app and I've just realized you've finally merged Social Login (thanks and congrats! I was planing to do it bymyself :)). Nevertheless - can I somehow add this feature to my existing application or I must generate new app and do merge?

[2015-11-02 10:43] gzsombor commented on #2265
You can re-generate your app, executing yo jhipster inside your application root folder. But you have to remove the node_modules/generator-jhipster directory before (because it contains the old generator code), and have an up-to-date generator locally. Or wait until the a new version is released

[2015-11-02 10:43] #2265 closed

[2015-11-02 13:48] pascalgrimaud commented on #2011
I think this commit https://github.com/spring-projects/spring-boot/commit/cc3f673874a9ae98e6512ec4e3d8ae13903899fc will fix this issue

[2015-11-02 17:42] cbornet commented on #2265
Also, don't forget to regen your entities
[code]

[2015-11-02 18:18] geraldhumphries opened #2267 "Large entity tables cause action buttons to stack unnecessarily"
##### Overview of the issue
This is a minor issue. If the table in `entities.html` is large enough to scroll horizontally, the View, Edit, and Delete buttons at the end of the table will stack on top of each other instead of remaining beside each other.

##### Motivation for or Use Case
This makes the rows a lot taller which looks ugly and affects usability.

![stacked-buttons](https://cloud.githu

[2015-11-02 18:25] mraible commented on #2267
+1. I also think these could have a couple additional improvements:

1. Make the button's smaller by adding the "btn-sm" class.
2. Remove the text and put it in a "tooltip" attribute that will be rendered by UI Bootstrap.

Making these additional changes makes things look better on the desktop, but does make for less touchable area on mobile.

[2015-11-02 20:37] amareshp commented on #274
@AlainJanssens - do you have a sample jhipster app that's using two databases. I want to use JHipster, but we have both Oracle and Cassandra as our data stores. If you have a sample app, please post the GitHub link.

[2015-11-02 21:09] jdubois opened #2268 "Elasticsearch automatic build is broken"
See https://drone.io/github.com/jhipster/jhipster-sample-app-elasticsearch/26

I think this comes from #2249 so I'm affecting this to @cbornet

[2015-11-02 23:27] jvence commented on #2171
I'm experiencing the same problem after upgrading to jHipster 2.23. Basically I've generated an app with oauth authentication and suddenly all POST preflighted requests are getting a 403 Forbidden error. I've added  .antMatchers(HttpMethod.OPTIONS, "/**").permitAll(). I've added @CrossOrigin(maxAge = 3600) to my custom @RestController.
I also have a Cors filter that allows all origins and methods.

[2015-11-03 00:39] cbornet commented on #2268
Oops ! Sorry about that ! (Voting +1000 for travis matrix on PRs... )

[2015-11-03 02:06] deepu105 commented on #2265
Thats cool @cbornet can you add it in documentation
On 3 Nov 2015 01:43, "Christophe Bornet" <notifications@github.com> wrote:

[2015-11-03 02:07] deepu105 commented on #2267
+1 @mraible
On 3 Nov 2015 02:25, "Matt Raible" <notifications@github.com> wrote:

[2015-11-03 04:40] DineshShende opened #2270 "Unable to establish websocket connection due to ClassCastException for v2.23.0"
I have generated websocket application with Oauth2 security,but SockJs websocket handshake is failed with following error.

org.springframework.web.util.NestedServletException: Request processing failed; nested exception is org.springframework.web.socket.sockjs.SockJsException: Uncaught failure in SockJS request, uri=http://127.0.0.1:8080/websocket/tracker/151/ciagbe0w/websocket?access_token=a1d65

[2015-11-03 08:09] jdubois commented on #2268
And the build is green again, thanks!

[2015-11-03 08:09] #2268 closed

[2015-11-03 08:42] RGFnaGFuIEd1bmF5 opened #2271 "John Papa Style Guide Implementations"
Topic #2256

- [x] app files
- [x] - Entity files
- [x] - components
- [x]  - Account
- [x]  - Admin
- [x]  - home, layout
- [x] - ~~Structure modification~~ done
- [x] - services

- [x] run https://github.com/Gillespie59/eslint-plugin-angular after completion to check

[2015-11-03 13:40] gzsombor commented on #2267
Removing the text will confuse the users - it's far from obvious, what the meaning of the icons for the first time, but otherwise, it's a good idea!

[2015-11-03 15:07] XuXuebin commented on #2270
https://jira.spring.io/browse/SPR-11617?focusedCommentId=101196&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-101196

[2015-11-03 17:42] DineshShende commented on #2270
I am using gradle and tried with
provided group: 'javax.websocket', name: 'javax.websocket-api', version: 1.0

But getting same error again.

[2015-11-03 21:04] geraldhumphries commented on #2267
@mraible it looks like the buttons already have `.btn-sm`. They would need to be changed to `.btn-xs`.

![unstacked-buttons-xs](https://cloud.githubusercontent.com/assets/5278953/10921472/bcabfb58-8243-11e5-8b97-f294fa61dd96.png)

Usability isn't too bad on mobile.

[2015-11-03 21:28] mraible commented on #2267
Yes, `.btn-xs` is what I'm using as well. Here's what my buttons look like (without text). I'm using the [Material Design for Bootstrap theme](https://fezvrasta.github.io/bootstrap-material-design/).

<img width="317" alt="buttons-without-text" src="https://cloud.githubusercontent.com/assets/17892/10922175/efed0294-8236-11e5-8a5a-c6bfbbb30ffc.png">

[2015-11-03 23:29] andidev opened #2274 "REST url /api/users is not secured to ADMIN users"
All user data can be through http://localhost:8080/api/users when any user is logged in with any role since the `@Secured(AuthoritiesConstants.ADMIN)` is not used on [UserResource.getAllUsers](https://github.com/jhipster/generator-jhipster/blob/4a696e9ea8a630ef8f3e7b1d559cfca5d4f1a50e/app/templates/src/main/java/package/web/rest/_UserResource.java#L145) method.

Feels like a big security/integrity

[2015-11-04 01:25] pkcool commented on #2225
there same happening here. couldn't deploy to cloud foundry (Pivotal web services) with version 2.23. I had to roll back to version 2.22 which works well.

[2015-11-04 01:52] deepu105 commented on #2267
I like the way you have stacked search and add, i have done similar in my
project too looks way better than our default. Also +1 for xs btn without
text. Text can be a ui-bootstrap tooltip. I have done that and looks way
cooler
On 4 Nov 2015 05:28, "Matt Raible" <notifications@github.com> wrote:

[2015-11-04 01:53] deepu105 commented on #2267
I would also change the delete icon to trash can icon
On 4 Nov 2015 09:52, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2015-11-04 04:36] geraldhumphries commented on #1374
@jdubois I was about to open a similar issue. Pagination directives were added in [this commit](https://github.com/jhipster/generator-jhipster/commit/b9c696df53dbd48977a8fc599b41fa84372f8d91) but were never used. When generating an entity the following code is used for the pagination controls:

[code]

With a small update (replacing `class="<%=angularAppName%>-pagination"` with `class="pagination"

[2015-11-04 05:29] jdubois commented on #2274
This is copied on the Github API, in fact.

This is on purpose, as for many applications you will want to do something with your users.

Like Github, we ecpose logins, names, etc, but of course not the password. So there shouldn't be a risk (like Github, again).

It's easy to secure if you want to.

[2015-11-04 05:32] andidev commented on #2274
Okey, closing this theb

[2015-11-04 05:32] #2274 closed

[2015-11-04 06:04] DineshShende commented on #2270
I am using gradle, this is build.gradle

I have added provided group: 'javax.websocket', name: 'javax.websocket-api', version: 1.0 as per suggestion by @XuXuebin.

Note: Oauth2 with websocket works fine with Maven.

buildscript {
    repositories {
        mavenLocal()
        jcenter()
        maven { url 'http://repo.spring.io/plugins-release' }
        maven { url 'http://repo.spring.io/milesto

[2015-11-04 10:23] deepu105 commented on #1374
Actually since we include ui bootstrap already we should see if we can use
the pagination directive from them
On 4 Nov 2015 12:36, "Gerald Humphries" <notifications@github.com> wrote:

[2015-11-04 12:42] rreitmann opened #2279 "Add relations for mongodb documents"
Hi,

the entity sub generator does currently not offer the option to specify relations between mongo db documents. Spring Data has such a support and with Spring Data Rest and Hateoas we could even get links for the resulting resources. Are you planning to implement these features?

[2015-11-04 12:43] jdubois commented on #2279
I'm not going to implement this personally, as I don't use MongoDB myself -> is anyone interested in implementing this? Or at least giving some help/guidelines (as I don't know MongoDB good enough)?

[2015-11-04 12:45] jdubois commented on #2270
I see you have Jetty in your classpath, and as far as I know you shouldn't have this: could you try with Maven?
This looks like a Gradle issue, so I'm mentionning @atomfrede and I'm adding the gradle tag.

[2015-11-04 13:03] rreitmann opened #2280 "Why does JHipster ask for clustered http session when using OAuth2?"
Hi,

I have just generated a new project with JHipster.

[code]

Why does JHipster ask for clustered http session although I chose oauth2? I thought there is no need for a session...

[2015-11-04 13:05] jdubois commented on #2280
You don't need it for security, but you might want to use it for another reason.

[2015-11-04 13:05] #2280 closed

[2015-11-04 13:10] atomfrede commented on #2270
Will have a look, I guess you're right, jetty shouldn't be in classpath.

Fun fact, in ``build.gradle`` when searching for jetty: ``testCompile group: 'org.springframework.boot', name: 'spring-boot-starter-jetty'`` ... will look at it asap :)

[2015-11-04 13:23] DineshShende commented on #2270
@jdubois No issues with Maven.It works fine

[2015-11-04 13:47] wzomer opened #2281 "Feature request: Update to Hibernate 5"
Any plans for this?

[2015-11-04 13:55] cbornet commented on #2281
It needs to be implemented in spring-boot first. See https://github.com/spring-projects/spring-boot/issues/2763

[2015-11-04 14:36] jdubois commented on #2281
And it's not supported by liquibase-hibernate yet (I did the ticket for that), so that's a huge blocker

[2015-11-04 14:36] #2281 closed

[2015-11-04 15:52] Vaelyr commented on #2271
Few remarks after reviewing the changes:

Targeting new entity files.

As per Papa's guide:
* No need for module variables, use setter. [Style Y022]
* I don't understand the purpose of xxx.module.js - [Style Y165]
* $inject already protects from minification, no need for explicit @ngInject [Style Y100]
* Folder structure is against the style; package by feature; no need for controllers/services et

[2015-11-04 15:57] deepu105 opened #2282 "Generate source map for minified js files in prod"
Becoz debugging issues in production is extremely difficult given clinet side has more code now.

Since we use uglify js it should be easy to do

http://blog.getsentry.com/2015/10/29/debuggable-javascript-with-source-maps.html

[2015-11-04 16:11] piedrahitac commented on #2282
:+1: This would be really helpful!

[2015-11-04 16:28] jdubois commented on #2239
I confirm the issue on the latest version, this is very bad news!!

This probably comes from Tomcat 8/Spring Boot 1.3, I have checked that:

- Our CachingHttpHeadersFilter is correctly accessed (if you add a new header you will get it in the response)
- The Cache-Control and Pragma headers are removed, and the Expires header is duplicated -> there is something that messes up what our filter does!!

[2015-11-04 16:49] gzsombor commented on #2271
The loadAll / load methods are very useful methods : when you are using paging, or implement filtering, so I wouldn't remove them.

[2015-11-04 17:01] BlackICE1979 opened #2283 "Font-Awesome support"
I had to add this to my bower.json to make font-awesome work in my project :+1:
[code]
Should be specified somewhere in the documentation!

[2015-11-04 17:05] Vaelyr commented on #2271
Yes I mentioned paging, but initial data query isn't views job or shouldn't be done in activate method either. For that only it should be there, but its only purpose would be to handle paging or use it for manual refresh button if required.

[2015-11-04 17:11] lluiscanals commented on #2283
I've made this question in stack over flow time ago and @jdubois answered it.

http://stackoverflow.com/questions/33088283/fontawesome-css-is-not-included-by-gruntfile

Agree to include in the documentation.

[2015-11-04 17:23] BlackICE1979 commented on #2283
Yes thanks but your code misses the "-" in font-awesome.

Thanks!

Jean-François Morneau
Cellulaire: 418-805-0095

On 4 November 2015 at 12:11, Lluis Canals Ros <notifications@github.com>
wrote:

[2015-11-04 17:33] lluiscanals commented on #2283
I have it working without the "-" in font-awesome. Didn't work for you?

[2015-11-04 17:43] atomfrede commented on #2283
This would be great for the tips & tricks section.

[2015-11-04 18:05] BlackICE1979 commented on #2283
No, it didn't work. I had to put exactly "font-awesome" for it to work.

[2015-11-04 20:21] rreitmann opened #2284 "Why are some bower_components not in vendor.js and instead publicly available?"
I just saw that /bower_components/angular-i18n/angular-locale_en.js is exposed to the web and not minified and packaged in vendor.js (see here https://metadatamanagement.cfapps.io/bower_components/angular-i18n/angular-locale_en.js)

Is this on purpose? I assumed all bower_components are minified and packad in vendor.js and are therefore not even part of the packaged war (prod profile).

[2015-11-04 20:23] jdubois commented on #2284
I didn't think they could be packaged: so yes it is on purpose, but if I'm wrong let's package them!

[2015-11-04 20:33] rreitmann commented on #2284
Hmm, I am new to the grunt universe :-) and can't see where it builds vendor.js. So what is currently packaged into vendor.js?

[2015-11-04 20:41] andidev commented on #2284
There may be a reason for this. The locale seems to be loaded dynamically see
https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/webapp/scripts/app/_app.js#L118

[2015-11-04 20:51] rreitmann commented on #2284
Ok, that is a reason for anguler-locale_{locale}.js. But if I unzip the war which is deployed, I see all bower_components although they are packaged in vendor.js...

[2015-11-04 21:03] andidev commented on #2284
Not sure why they are there but my guesses arethat it was to much work to remove all other files without removing the angular-locale files.

[2015-11-04 21:10] rreitmann commented on #2284
I see but IMHO all bower_components should be within vendor.js and removed from the war...

[2015-11-04 21:36] andidev commented on #2284
Yes that sound right. The bower_components folder is huge and polutes the war with 23,7 MB (war is totally 60MB for a new project).

Do you feel like making a PR? I think that it is maven war packaging plugin that should be configured to ignore some files but this is just a wild guess.

Maybe this stackoverflow answer will do it?
http://stackoverflow.com/questions/3750189/maven2-excluding-director

[2015-11-04 21:41] andidev commented on #2284
The [packagingExcludes](https://maven.apache.org/plugins/maven-war-plugin/war-mojo.html#packagingExcludes) configuration seems to take a regex which could be written to exclude all but `bower_components/angular-i18n/` folder

[2015-11-04 21:55] atomfrede commented on #2284
I've used the angular gulp generator recently. I think they are replacing specific parts when generating the production html (will have a look tomorrow).

Furthermore, why don't we try to put bower_components into target (or build for gradle)? And also create the dist for the frontend in Java output directories?

[2015-11-04 22:15] andidev commented on #2284
@atomfrede
the production index.html does not contain references to bower_components. Thats not the issue. It correctly only references vendor.js. But maybe I missunderstod something that you ment.

bower_components into target is maybe not a good idea cause then it will be removed each `mvn clean` and then it needs to be downloaded again with bower (but maybe it is cached?). Though I think the re

[2015-11-04 22:27] pkcool commented on #1270
+1

[2015-11-04 22:50] gmarziou commented on #2284
There is a [main-bower-files](https://github.com/ck86/main-bower-files) that iterates on bower dependencies and builds a list of mandatory files a specified in the main property of each bower.json file. This list can then be used for any processing: copy, minification, ...

I think this is how it is done in [generator-m-ionic](https://github.com/mwaylabs/generator-m-ionic)'s gulpfile that I use fo

[2015-11-04 23:32] superandrew opened #2285 "Postgis and hibernate spatial support"
Hello, I am trying to integrate postgis and hibernate spatial to work with jhipster. Is it supposed to work? Right now I have problems with the jdbc connections, and `setUrl` method in DatabaseConfiguration.java.

Is this even supposed to work anyway? Just to know if there is any working example somewhere or if this is a known bug with hikari and `org.hibernate.spatial.dialect.postgis.PostgisDiale

[2015-11-05 00:54] deepu105 commented on #2282
Not very familiar with uglify so if someone wants to PR this you are welcome, else ill try

[2015-11-05 01:02] deepu105 commented on #2283
I have font awesome installed via bower working perfectly fine, what is the
problem here?
On 5 Nov 2015 02:05, "BlackICE1979" <notifications@github.com> wrote:

[2015-11-05 01:08] deepu105 commented on #2284
Guys if you deploy the war with dev profile then js and css are served from
bower components. Also unless we include source maps for minified files its
a good idea to serve as it is in dev profile for debugging.

Im finding it very difficult to debug in prod profile. I opened an issue
for this
On 5 Nov 2015 06:50, "Gaël Marziou" <notifications@github.com> wrote:

[2015-11-05 01:12] deepu105 commented on #2285
We dont support postgis directly so you can ask this in SO as you will have better chance of getting answer there. Tag it with Jhipster

[2015-11-05 01:12] #2285 closed

[2015-11-05 01:14] deepu105 commented on #1270
@rblazquez are you working on this? This is open for quite some time if no one is interested we will close this

[2015-11-05 01:17] deepu105 commented on #1270
@ddewaele do you wanna PR this?

[2015-11-05 01:36] mallim commented on #2285
You are talking about two issues here. I'm not sure about the postgis. But you will be getting hikari related error if you used a similar configuration like below even as of 2.23.0 (the latest release) :

[code]

In order to resolve the Hikari error, I modified DatabaseConfiguration to support an additional configuration as follows:

[code]

[2015-11-05 06:06] atomfrede commented on #2284
@andidev Yes, you're right, we have decided to have bower_components in VCS (so forget my point with putting it into target). I think the problem is, that ``/bower_components/angular-i18n/angular-locale_en.js`` is loaded even in production, which sould not be the case (and bower_components is not required in prod war file). @rreitmann correct me if I got you wrong

[2015-11-05 06:37] atomfrede commented on #2270
@DineshShende Which version are you using? I can't login right now with OAuth (which seems to be another issue) on the latest version from repository.

[2015-11-05 06:40] DineshShende commented on #2270
@atomfrede I am using Jhipster v2.23.0

[2015-11-05 07:20] atomfrede commented on #2270
Ok, I have to look whats going wrong here on my machine

[2015-11-05 07:28] pascalgrimaud commented on #2239
Maybe something has changed with spring-boot-devtools ?
Can you give a try without it ?

I made some tests, sample project mysql in prod profile :

spring-boot 1.3.0.M4 ==> seems ok
spring-boot 1.3.0.M5 ==> seems nok
spring-boot 1.3.0.RC1 => seems nok

**With devtools 1.3.0.RC1**
[code]

**Without devtools 1.3.0.RC1**
[code]
[code]

[2015-11-05 08:01] rreitmann commented on #2284
@atomfrede you perfectly got my point. I think the packagingExcludes approach mentioned by @andidev is the right way to go but only for prod profile. In addition we need to take care that ``` /bower_components/angular-i18n/angular-locale_{locale}.js``` is packaged withing vendor.js and loaded here https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/webapp/scripts/app/

[2015-11-05 08:09] cbornet commented on #2265
@deepu105  Yes, I can add it as a tip maybe. Or do you see another place ?

[2015-11-05 08:29] Nixoxo opened #2286 "Missing javax.persistence dependency in build.gradle"
I have had the following problem with the JSR310PersistenceConverters. It does not find the javax.persistence.* dependency.
I just generated a new jhipster project using mongodb and gradle.

* **JHipster Version(s)**

v2.23.0

* **Suggest a Fix**
add the hibernate-enver dependency in the build.gradle

compile 'org.hibernate:hibernate-envers:4.3.8.Final'

[2015-11-05 08:32] deepu105 commented on #2265
I guess it can go into the documents page for entity

On Thu, 5 Nov 2015 4:09 pm Christophe Bornet <notifications@github.com>
wrote:

[2015-11-05 08:42] jdubois commented on #2286
Hibernate Envers is now included in Hibernate, so this is strange.

[2015-11-05 08:59] jdubois commented on #2283
It should be installed by Bower automatically, indeed. That's the whole point of using Bower, and that's why we don't include it by default.

[2015-11-05 09:10] atomfrede commented on #2286
Seems hibernate envers is only added to ``build.gradle`` in case sql is selected. Will fix it.

[2015-11-05 09:14] jdubois commented on #2239
Thanks @pascalgrimaud it does have an impact, now all my headers are duplicated!!

    Cache-Control:no-cache, no-store, max-age=0, must-revalidate
    Cache-Control:max-age=2678400000, public

    Expires:Sun, 06 Dec 2015 09:12:00 GMT
    Expires:0

    Pragma:no-cache
    Pragma:cache

This is clearly a bug from Spring Boot or Tomcat, as they shouldn't duplicate any existing header!!

[2015-11-05 10:15] gmarziou commented on #2283
@deepu105 it depends on what you use as CSS pre-processor. Font awesome [bower.json](https://github.com/components/font-awesome/blob/master/bower.json) 'main' property does not include LESS file only SCSS and CSS. So if you use LESS, you may want to include font-awesome.less in jhipster's 'bower.json` overrides property. If you use only CSS, you may want to exclude font-awesome.scss. This is why a

[2015-11-05 11:38] rreitmann commented on #2279
How long would it take for an experienced user? My Boss says we could spent some money for this :-)

[2015-11-05 11:44] deepu105 commented on #2239
We should open tickets to them

On Thu, 5 Nov 2015 5:14 pm Julien Dubois <notifications@github.com> wrote:

[2015-11-05 11:46] #2286 closed

[2015-11-05 11:48] deepu105 commented on #2283
But im using fontawesome 4.1 with less and i didn't do any of these and it
works

On Thu, 5 Nov 2015 6:15 pm Gaël Marziou <notifications@github.com> wrote:

[2015-11-05 14:22] #2109 closed

[2015-11-05 14:40] jdubois commented on #2279
Hey, your boss is great!!!!
I don't think it should be much difficult, have you had a look at how our templating system works?
Have a look at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

-> it might seem a bit difficult at first, but we have now more than 150 contributors, and that's because it's quite easy to participate. That's clearly one of the biggest success fa

[2015-11-05 14:41] BlackICE1979 commented on #2283
True, I use "less" and followed the directives in the tips&sticks section. Maybe it broke the default inclusion of font-awesome? I also use a wrapbootstrap template so I removed completely the main.css included with JHipster to migrate to the less files of the template.

[2015-11-05 14:55] rreitmann commented on #2279
Hey,

yes it looks manageable but how bosses are, we have just decided to go with Postgres and thus there is no motivation left :-(

[2015-11-05 14:57] jdubois commented on #2279
Ah, too bad!

I'm closing this issue then: I'd love to have this, but if nobody is ready to work on it, it won't be done.

[2015-11-05 14:57] #2279 closed

[2015-11-05 14:58] jdubois opened #2289 "Configure liquibase:diff with H2 disk-based persistence"
Now that we have H2 with disk-based persistence working fine, we need to configure correctly the Maven Liquibase Hibernate plugin so that it works correctly, like with Postgresql or MySQL.

We should be able to run "mvn liquibase:diff" and have a correct changelog automatically generated.

[2015-11-05 15:31] mhicauber opened #2290 "Generated html column for entity fields with many-to-many relationship is empty"
Hi

First of all kudos to the team for this awesome tool.

When defining an entity A with a many-to-many relationship on another entity B, the generated html table for the A entity is missing the column for this particular relationship. Well, there's a `<th></th>`  column generated to be precise.

See here : https://github.com/jhipster/jhipster-sample-app/blob/3f6135171b90ba6b2709536b62206e910b318

[2015-11-05 16:12] jdubois commented on #1967
This is still happening with Eclipse -> shouldn't we just remove Jacoco? It fails, and I don't even know if people are using it

[2015-11-05 20:22] andidev commented on #2284
@rreitmann though I'm not sure `/bower_components/angular-i18n/angular-locale_{locale}.js` can be packaged in `vendor.js`. I think there is a reason why it is loaded dynamically. If you look at the source code of [angular-locale_en.js](https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.4.6/angular-locale_en.js) it looks like it can only be one language placed in $locale.
That means that if we w

[2015-11-05 21:16] atomfrede opened #2291 "oauth authentication broken"
Currently you can't login with oauth selected.

[2015-11-05 21:29] jdubois commented on #2291
This comes from commit https://github.com/jhipster/generator-jhipster/commit/d677f9cb77272389bc291fa2471a4a40776c1ade from @andidev

At least it's a recent issue and we have an explanation!

[2015-11-05 21:47] jdubois opened #2292 "Create a specific "lib" project for the Travis build"
I just merged #2248 from @pascalgrimaud and it's looking much better than our previous build (which I will need to clean up, but that's another task).

But there is one issue for me, and it is that we depend on https://github.com/pascalgrimaud/jhipster-lib (see https://github.com/jhipster/generator-jhipster/pull/2248/files#diff-16aaeb358bbf56e769f4064789497dc1R8 )

- We should not depend on anothe

[2015-11-05 22:22] jdubois commented on #2290
That last <th> is because we have the buttons in the <td> afterwards, not for the many-to-many items.

This is basically on purpose, as by default they are lazy-loaded by Hibernate (have a look at the generated Spring Data JPA repository, there is a specific query to get them eager loaded, that can be handy!).

So yes this is on purpose: we are only generating a simple CRUD screen, and as those ar

[2015-11-05 22:22] #2290 closed

[2015-11-05 22:24] jdubois commented on #2283
OK, from my understanding this works with the default build, so that's fine for me. Maybe we could add more tips for people using Less? I'm not using it and I don't really know what's needed, so @BlackICE1979 if you want to add or improve a tip for this, it's more than welcome!

[2015-11-05 22:24] #2283 closed

[2015-11-05 22:27] jdubois commented on #2284
Yes for the `bower_components` in prod that's on purpose: some companies want to have the same WAR file in integration testing and in prod, so that makes sense to have a big WAR file with both the dev and the prod builds.
I know it's a bit stupid, and that it fatten the WAR -> maybe this could be an option at build time.

[2015-11-05 22:29] pascalgrimaud commented on #2292
* like @mraible said, "The more testing, the better!" maybe you can keep it ?
* the last build failed... travis-ci didn't manage to install gulp : https://travis-ci.org/jhipster/generator-jhipster/builds/89534904

jhipster/jhipster-travis-build -> completely agree to migrate !

At step 3 with `03-downloadDep.sh`, there are 3 possibilities :
* Option 1 : the build will clone jhipster/jhipster-travi

[2015-11-05 22:31] jdubois commented on #2292
For the last build that failed: I already had that issue before, Travis keeps having issue to download stuff, which breaks the builds regularly. That's a real pain!!!

[2015-11-05 22:36] jdubois commented on #2182
Closing this as this is merged -> it's not perfect yet, the discussion goes on at #2292

[2015-11-05 22:36] #2182 closed

[2015-11-05 22:39] jdubois commented on #1270
@deepu105 let's close this if nobody works on it

I'm sorry to everyone interested in this, but we all work on our free time for this, and there are just too many opened bugs at the moment, we can't do everything.

[2015-11-05 22:45] mhicauber commented on #2290
Agree; that's really specific to my case :-)

--

*Mon ordinateur fonctionne à l'énergie 100% verte, renouvelable, fournie
par ENERCOOP*
http://www.enercoop.fr/

2015-11-05 23:22 GMT+01:00 Julien Dubois <notifications@github.com>:

[2015-11-05 22:50] jdubois commented on #2251
It's not really an issue, this is what pagination is all about, and this is on purpose (but I agree my purpose is not clearly documented!)
This can also be re-configured easily (as well as the Spring Data pagination, which is also limited).

For the drop-down list I understand the issue, but we can't send the whole entities in a drop down list if it's too big, anyway.

I don't really have a soluti

[2015-11-05 22:50] #2251 closed

[2015-11-05 23:06] jdubois commented on #2147
OK, this is one of those horrible setup files from Eclipse:
https://github.com/spring-projects/spring-boot/tree/master/eclipse

I've already tried to do that in the past, that's really complex and buggy... So I'm just not doing it!

[2015-11-05 23:06] #2147 closed

[2015-11-06 05:33] geraldhumphries commented on #1270
I have a very simple implementation of server side sorting. It only works if pagination/infinite scrolling is enabled and can only sort on one column. It uses the same vernacular as other parts of the application, but I'm not sure if I like calling the direction variable "reverse" or even using a boolean with a ternary.

https://gist.github.com/geraldhumphries/e0ed743dc4162ac02f3d

[2015-11-06 08:59] achraftalbi opened #2293 "Migrate my application to last jhipster to use social sign in"
Hello,

 We build our application using jhipster 2.20.0.

 Now that the last version of Jhipster introduce the "social sign in" we want to migrate to it. In our application we made some changes in the login part and in roles.

 I want to know if there is a simple way to do this migration to use social sign in ?

 Thanks

 Helper

[2015-11-06 11:58] deepu105 commented on #2293
The only way is to regenerate and do a manual merge.  Since you want only
the social login you need not regenerate entities just regenerate the app
and merge what is required. If you dont use GIT then you can do a compare
merge with tools like 'beyond compare'
On 6 Nov 2015 16:59, "achraftalbi" <notifications@github.com> wrote:

[2015-11-06 11:58] #2293 closed

[2015-11-06 14:42] achraftalbi commented on #2293
Thanks for your response.

 We will do this merge.

 Achraf

[2015-11-07 03:09] boutchekkoucht commented on #2133
do you have an example of what you say?

[2015-11-07 06:26] andidev commented on #2291
I feel a bit responsible here though I don't see the issue with the commit. Does reverting this change really make oauth login work again?

This is a wild guests but maybe you ment to refer the changes in [WesocketConfiguration.java](https://github.com/jhipster/generator-jhipster/commit/b79829b12f530204b1190e4b2f20570dd4089282)? I did some changes here that you thought would not work.

[2015-11-07 09:06] jdubois commented on #2291
Sorry I should have been more clear: can you clone the sample app at https://github.com/jhipster/jhipster-sample-app-oauth2 and try to log in? You'll get the JS error (sorry I can't test it right now, I'm with my phone!)

[2015-11-07 09:18] MateuszPu opened #2298 "Http request to api/account after logout - 401 error"
Hi,

I generated application using following settings:

{
  "generator-jhipster": {
    "baseName": "jhipster",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "authenticationType": "session",
    "hibernateCache": "no",
    "clusteredHttpSession": "no",
    "websocket": "spring-websocket",
    "databaseType": "sql",
    "devDatabaseType": "postgresql",

[2015-11-07 09:36] jordanbaucke opened #2299 "Websockets Debug & Deploy Help"
Hey guys great stuff - I really appreciate the jHipster generator as it encapsulates a lot of functionality that would take **eons** to set-up on one's own (:

Have a few questions:
##### Websockets
  * I want to use websockets (and hopefully debug them in JS locally) - reading a bit I see tokenized authentication option is out (for now) so I regenerated with "oauth" as that seemed to be functiona

[2015-11-07 10:01] jdubois commented on #2298
Yes. Please look at past issues and mark this as a duplicate, for other users.

[2015-11-07 10:01] #2298 closed

[2015-11-07 10:06] jdubois commented on #2299
Please follow the guidelines, one ticket per issue please.

- Websockets : they don't work with BrowserSync, that's your issue. This is a past issue -> please have a look in the history and mark this as duplicate
- For all cloud platforms : they don't work with Websockets, basically. This is also discussed in older issues.
- And yes we have trouble with Openshift and CloudFoundry, those are alread

[2015-11-07 10:06] #2299 closed

[2015-11-07 10:08] jordanbaucke commented on #2299
thank you @jdubois will do.

[2015-11-07 10:15] jdubois commented on #2299
Also, all those issues are really annoying -> so I confirm your issues, and if you find any solution please let us know.
From my understanding there is little interest from cloud providers to support Websockets, which I find very disappointing
This is probably why mean.io has done their own platform (but there is a strong vendor lock-in in exchange, obviously)

[2015-11-07 15:59] atomfrede commented on #2291
I get a server side error no js error. I will provide the stacktrace tomorrow.

[2015-11-07 17:18] jdubois commented on #2291
I have a JavaScript issue, when I click on "sign in", and this is the part that comes from @andidev  :

    TypeError: Cannot read property 'langKey' of null
    at auth.service.js:15
    at processQueue (angular.js:14634)
    at angular.js:14650

[2015-11-07 17:22] jdubois commented on #2291
Sorry, on the server side I also get a:

    Exception in com.mycompany.myapp.service.UserService.getUserWithAuthorities() with cause = null
    java.lang.IllegalStateException: User not found!
	at com.mycompany.myapp.security.SecurityUtils.getCurrentUser(SecurityUtils.java:79)

[2015-11-07 17:26] atomfrede commented on #2291
Yes. Exactly what I get.
Am 07.11.2015 6:22 nachm. schrieb "Julien Dubois" <notifications@github.com

[2015-11-07 17:46] jdubois commented on #1896
This has been broken for more than 1 month, so I'm removing our Openshift support in the official documentation.
From my understanding Openshift completely changed the way they work, and broke up everything... Thanks Redhat for not taking care of backward compatibility!!

[2015-11-08 03:20] jd-carroll opened #2301 "Duplicate Document annotations"
When using Elastic Search, duplicate 'Document' annotations are pulled in for each entity:

**`import org.springframework.data.elasticsearch.annotations.Document;`**
`import com.fasterxml.jackson.databind.annotation.JsonDeserialize;`
`import com.fasterxml.jackson.databind.annotation.JsonSerialize;`
` `
`import org.springframework.data.annotation.Id;`
**`import org.springframework.data.mongodb.core

[2015-11-08 03:22] jd-carroll commented on #2301
Shucks, search for "duplicated Document" and missed #2235

[2015-11-08 03:22] #2301 closed

[2015-11-08 04:42] vrigan opened #2302 "some problem for karma test"
when i run in  test/javascript/spec/app/account/password/password.directive.spec.js
This file will use password.directive.js;This test have three problem;
One{
in line 74-77:
               iElement.find('ul').children('li')
                                .css({'background': '#DDD'})
                                .slice(0, c.idx)
                                .css({'background': c.col});
The

[2015-11-08 05:47] vritant commented on #1569
I think there is nothing inherently wrong in having a unidirectional @OneToOne or @OneToMany,and it should be left to the discretion of the developer to choose performance over design, or otherwise.
so to not support it seems a little harsh.
For example,  A Bat can be of various Sizes,  and an Apple can be of various Sizes,  but to have a reference of an Apple and a Bat in the Size entity does not

[2015-11-08 08:40] andidev commented on #2291
I just tried to revert the changes that came form my commit and still the same error since `account` is null. So it's something else causing this issue. Probably the login fails in a call before.

[2015-11-08 08:42] rkohel commented on #2245
This issue applies to changing the login to a login that is already in use as well.

[2015-11-08 09:12] atomfrede commented on #1896
I think the new OpenShift is based on google kubernetes, so it works with docker containers under the hood (as far as I know). So maybe we can use our docker containers for deploying to openshift somehow,

[2015-11-08 09:14] jdubois commented on #1896
- I'd like to follow the Spring Boot 1.3 guide for Openshift, it looks pretty easy
- There was also a post on the Openshift blog about this

So this should be pretty easy, it's mostly lack of time from my side

[2015-11-08 09:15] atomfrede commented on #1896
Ah, I didn't know of an official guide.

[2015-11-08 10:39] atomfrede commented on #2291
Maybe it is somehow related to #2216 at least the stacktrace looks similar.

[2015-11-08 10:44] RagnarLodbrok opened #2304 "Automatic build failed to compile on OSX"
First time with JHipster.

I install all the package via

I have node v5 and yo doctor looks fine.

I didn't add fancy features. Just saied yes to everything (SQL for Dev and Prod).

I follow the IntelliJ setup env on the official website.

But when I try to build the project I got a bunch of errors :
http://imgur.com/a/txehZ

Cannot figure it out what's wrong. I reinstall all the tools 3 times.

[2015-11-08 10:48] atomfrede commented on #2304
Is your mysql database running and correctly configured in jhipster?

[2015-11-08 11:31] RagnarLodbrok commented on #2304
I just follow the how-to nothing else. So no SQL conf or anything else.

I just try with H2 instead SQL for dev and I got now java errors.

<img width="1440" alt="screen shot 2015-11-08 at 12 30 35" src="https://cloud.githubusercontent.com/assets/7879555/11020099/98b0e2e8-8614-11e5-9c4b-94c7b08d90b8.png">

[2015-11-08 11:46] jdubois commented on #2304
Yes but if you don't select the default options, and use MySQL instead, then you need to configure it.
It's written in the documentation -> please tell us which how to you refer to, it looks buggy.
To start you app just run Maven or execute the Application class.
I'm closing this as this is not a bug.

[2015-11-08 11:46] #2304 closed

[2015-11-08 12:40] andidev commented on #2291
I can confirm it is the same issue.

The issue is that if case `if (authentication.getPrincipal() instanceof CustomUserDetails) {` on  [line 75 in SecurityUtils.java](https://github.com/jhipster/jhipster-sample-app-oauth2/blob/master/src/main/java/com/mycompany/myapp/security/SecurityUtils.java#L75) returns a `org.springframework.security.oauth2.provider.OAuth2Authentication` is not evaluated to t

[2015-11-08 12:51] andidev commented on #2291
My world is upside down, could somebody explain this:

**Principle class is `CustomerUserDetails`**
![screen shot 2015-11-08 at 13 45 21](https://cloud.githubusercontent.com/assets/571389/11020411/7c3a73ee-861f-11e5-9d55-4089ee4ad726.png)

**...at the same time it is not true:**
![screen shot 2015-11-08 at 13 45 57](https://cloud.githubusercontent.com/assets/571389/11020409/6e5059ce-861f-11e5-8d6b

[2015-11-08 14:48] gmarziou commented on #2302
Could you please follow [our guidelines to submit an issue](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#issue) and format your post?

Closing issue until guidelines followed.

[2015-11-08 14:48] #2302 closed

[2015-11-08 18:17] #2228 closed

[2015-11-08 18:47] mraible commented on #1254
For a Material Design look with Bootstrap, I've used https://fezvrasta.github.io/bootstrap-material-design/. It seems to work "good enough". See www.21-points.com for an example.

[2015-11-08 18:49] mraible commented on #1755
I recently noticed that I had to add date filters with timezones to get dates to look good and render properly with generated entities. Is this a known issue? For example:

    {{weight.timestamp | date: 'medium': 'UTC'}}

[2015-11-08 19:58] andidev commented on #1254
@mraible Awesome! I think I'll try it out.

[2015-11-09 02:04] deepu105 commented on #1755
I have used date filters a lot, that too custom date filters extending
angular, but I have used timezone property only when i had to show the date
in UTC, for local it works well without timezone. Im on angular 1.4.x btw
In my apps the behavior is as below

1. I use a custom directive on top of ui-bootstrap datepicker/timepicker to
select dates
2. In DB these are automatically being saved in UTC t

[2015-11-09 02:14] deepu105 commented on #2262
This is not a bug, the logback error method can accept a throwable hence exception is passed and it will be logged, but only in dev mode, in production only the cause is logged. this is perfectly normal

[2015-11-09 02:22] deepu105 commented on #2100
@jdubois isnt this already done?

[2015-11-09 02:25] deepu105 commented on #1832
@Herisson-88 can you do a PR with your fix?

[2015-11-09 02:28] deepu105 commented on #1270
Its ok if it works only with pagination, but its doesnt add much value if it is only for one column.
So im closing this. feelfree to open a new issue and reference this if anyone is interested in implementing this with all columns sort

[2015-11-09 02:28] #1270 closed

[2015-11-09 02:30] deepu105 commented on #1270
@geraldhumphries I looked at your gist, your predicate can be bound to multiple columns easily right? if you can make it work for all columns then we can merge that, I guess its ok to have sort enabled only when pagination is enabled as well. plzlet me know if you can work on it then ill re open this issue

[2015-11-09 02:49] deepu105 opened #2306 "[Feature request] Entity version audit"
Hi all,

I was toying with Javers as mentioned here #1762 for capturing entity versions for audit and I found it falling short of my expectations and also caused performance impact on my normal entity save/update
so i did some research and then implemented the following which works beautifully

1. JPA has event listeners for preUpdate, preCreate, postUpdate, postCreate, postRemove etc so i hooked

[2015-11-09 02:51] mraible commented on #2306
Sounds pretty sweet to me. I'd love to see the code.

[2015-11-09 04:45] deepu105 commented on #2265
for windows `yo jhipster --force && for %f in (.jhipster/*) do yo jhipster:entity %f --force`

[2015-11-09 07:36] vrigan opened #2308 "Spring Security sessionFixation Config"
By Default;Spring Security sessionFixation will use changeSessionId;
But after /api/authentication success; The session will lost for every request;
If change sessionFixation to none;Everything ok;
The problem just for me?