[2022-05-13 17:23] #16545 closed

[2022-05-13 17:24] DanielFran commented on #16590
@vw98075 Are you available to contribute with a PR?

[2022-05-13 17:36] DanielFran commented on #16613
@ksilz Can you please confirm if it is still an issue with latest version?

[2022-05-13 17:42] vw98075 commented on #16590
Let me take a look. It has been a while since I posted the problem.

[2022-05-13 17:45] jamescrdyer commented on #18642
Yes, I agree duplicate. Should I move conversation over there?

Dropping that dependency did not resolve the error.

[2022-05-13 17:47] DanielFran commented on #18642
Yes better to migrate there.
Duplicate with https://github.com/jhipster/generator-jhipster/issues/17449

[2022-05-13 17:50] DanielFran commented on #16704
@vw98075 To add in front-end the admin pages you need to launch hipster with `--with-admin-ui flag`

This has been introduced in v7 (see https://github.com/jhipster/generator-jhipster/pull/12738)

[2022-05-13 17:58] vw98075 commented on #16704
@DanielFran I think you misunderstood the issue. It is not about whether the admin UI is generated or not, but some sections of the admin UI are missing.

[2022-05-13 18:11] DanielFran commented on #16710
@mheidt Are you available to contribute with a PR?

[2022-05-13 18:23] DanielFran commented on #17035
@nickshoe Are you available to contribute with a PR?

[2022-05-13 19:58] atomfrede commented on #18650
Does it have something to do with the elasticsearch version? I remember some incompatibilities in the past as bonsai only supports the latest es version (but I think it was about es 6 vs es 7). Bonsai supports 7.10.2. We have defined 7.15.2. Not sure if thats a problem. I have found something in the docs about the oss driver being only forward compatible.

About the part of not creating bonsai add

[2022-05-13 20:20] indiepopart opened #18651 "mongodb cluster does not start on kubernetes: lookup no such host"
##### **Overview of the issue**

The issue happens when running a local kubernetes cluster for the reactive-jhipster example, in the [java-microservices-examples](https://github.com/oktadev/java-microservices-examples). Mongodb cluster does not start.

The boot container of the store-mongodb-0 pod never completes execution and just logs:
[code]

##### **Motivation for or Use Case**

It seems the b

[2022-05-13 20:38] mshima opened #18652 "Cleanup generator-base API."
##### **Overview of the issue**

Generator base has too many methods.
It should provide only the base methods, technology specific methods like needles and processHtml/Tsx should be removed.

- Implement a new needle base support.
- Migrate needles to this implementation.
- Implement transforms at writeFiles to replace processHtml/processJsx methods.

##### **Motivation for or Use Case**

Improve

[2022-05-13 20:44] mraible commented on #18302
@Falydoor This is good enough for me! You can see it in action at https://github.com/jhipster/jhipster.github.io/pull/1210. Please claim the bug bounty.

[2022-05-13 20:50] DanielFran commented on #18651
@indiepopart Can you contribute with a PR?

[2022-05-13 21:00] mraible commented on #16498
Please grab the bug bounty for this one @mshima!

[2022-05-13 21:08] mraible commented on #18651
Added a bug bounty since this is causing issues with an @oktadev tutorial.

[2022-05-13 21:11] RDsideNow commented on #18525
@mshima I think there is one more reference that will still be an issue if not fixed.

It is the entity reference link on the details section in this area

<img width="1920" alt="Screen Shot 2022-05-13 at 5 09 12 PM" src="https://user-images.githubusercontent.com/42190464/168390040-663ca76f-2ce1-4f5e-b103-ea0dfa5480b8.png">

Also, what is the best way to add cypress testing for each link?  without

[2022-05-13 21:14] mraible commented on #18650
It might. Maybe @xeraa can help?

[2022-05-13 21:26] mraible commented on #18650
@DanielFran This is a bug rather than an enhancement, IMO. It worked the last time I tried it, albeit in 2018.

[2022-05-13 22:53] Falydoor commented on #18302
@mraible Awesome!

Bounty claimed https://opencollective.com/generator-jhipster/expenses/76840

[2022-05-13 23:07] dofsofware commented on #10117
upgrade your **maven**

[2022-05-14 10:54] indiepopart commented on #17785
I think the fix restores the original implementation, #17018 might be happening again for text fields.

[2022-05-15 10:28] emilpaw opened #18654 "Don't use Class Components in React"
##### **Overview of the feature request**

The generated React client code uses class components in some places. It's better to use function components where possible.

##### **Motivation for or Use Case**

Increase code quality and consistency.

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

I will provide a PR soon.

[2022-05-15 21:54] #18620 closed

[2022-05-15 22:48] yacosta738 commented on #14873
Sorry for now I can't take it. 😞

[2022-05-16 00:07] #18302 closed

[2022-05-16 01:20] xeraa commented on #18650
Bonsai is a competing service, so I can't really speak for them. But the latest version of our client doesn't work with this old version of Elasticsearch — client is generally forward compatible but not necessarily backwards compatible. IMO the easiest options are:

1. Pin the client to an older version.
2. Is this about general automation with Heroku or do you need a single running instance — the

[2022-05-16 03:45] RDsideNow commented on #18525
@DanielFran  should i open a second ticket for the issue that still happens on the details section and the cypress testing?

[2022-05-16 03:48] atomfrede commented on #18650
Thanks @xeraa for the clarification. In general it's about providing everything out of box when deploying to heroku. To be on the safe side we only configure services with a free tier by default such that there are not costs but users can upgrade to larger plans (that's why bonsai addon).

[2022-05-16 03:51] atomfrede commented on #18650
@mraible maybe we could try to pin the client when deploying to heroku. We might also give the user the choice to use Bonsai (we do the configuration) or if they want to use elastic cloud on heroku with a newer version.

[2022-05-16 04:47] ArihantKumarJain1 opened #18656 "Issue in generating Spring controller. Newly generated controller goes to undefined/web/rest folder instead generating in existing package."
Rest controller generation issue
Welcome to JHipster v7.8.1

The spring-controller Foo is being created.
? Do you want to add an action to your controller? Yes
? What is the name of your action? getData
? What is the HTTP method of your action? GET
? Do you want to add an action to your controller? Yes
? What is the name of your action? insertData
? What is the HTTP method of your action? POST
? D

[2022-05-16 07:22] DanielFran commented on #18525
@RDsideNow Thanks for the feedback.
@mshima reopening

[2022-05-16 07:27] #18651 closed

[2022-05-16 11:02] ksilz commented on #16613
@DanielFran Sorry, still on JHipster 7.6.0. Will be at least a couple of weeks before I can test this.

[2022-05-16 13:40] Praneshep opened #18665 "Jhipster Installation for Organization"
How to install jhipster  for organization VDI. How to download Jhipster exe.file. Please support me.

[2022-05-16 13:44] Praneshep opened #18666 "Entity Creation Issue"
How to create 2 different entity in same name.

[2022-05-16 14:17] atomfrede commented on #18650
There is an [offical add-on for elastic cloud](https://elements.heroku.com/addons/foundelasticsearch) but there is no free tier. So we agree on something like

[code]

While option 1 pins the version to the one used by bonsai and the second does nothing

[2022-05-16 14:31] nz commented on #18650
Hey folks, founder of Bonsai here. I can confirm that the Heroku Bonsai add-on supports the last open source licensed (Apache 2) version of Elasticsearch, which is 7.10. Newer versions are under Elastic's proprietary license, which Bonsai does have an agreement with Elastic to support, but I don't have an ETA of when that will be available within our Heroku add-on.

Since going proprietary, Elasti

[2022-05-16 14:37] atomfrede commented on #18650
Hi @nz thanks for your input. Sounds like a valid alternative we can consider. Right now I think it's out of scope as we rely on spring data's integration of elastic search (not sure if openssearch is supported).

[2022-05-16 14:55] nz commented on #18650
Seems like work is still in progress on that front. Some relevant discussions to watch:
* https://github.com/spring-projects/spring-data-elasticsearch/issues/1853
* https://github.com/spring-projects/spring-data-elasticsearch/issues/1918

[2022-05-16 18:16] xeraa commented on #18650
Elastic never had a free tier (on Heroku or elsewhere). Outside of Heroku we have free trials, but I'm afraid we're a bit out of options here. Pinning the dependency if run on Heroku as described in https://github.com/jhipster/generator-jhipster/issues/18650#issuecomment-1127734691 sounds like the best option for now.

PS: Since "proprietary" tends to be misunderstood since it has various shapes —

[2022-05-18 07:56] tejaswibm-roposo opened #18685 "Generated Mappers causing cyclic method call when upgrading from v7.7.0 to v7.8.1"
##### **Overview of the issue**

I had generated JHipster - React app with v7.7.0. Now, I have upgraded it to v7.8.1 based on the documentation [here](https://www.jhipster.tech/upgrading-an-application/) by running `npx jhipster upgrade` command.

This re-generated the mapper classes from JPA to DTO.

The generated mapper classes in v7.8.1 are different from those generated with version v7.7.0 and

[2022-05-18 07:57] tejaswibm-roposo commented on #18685
Kindly note : I have redacted few details in the configurations above.

[2022-05-18 09:04] lukelukes opened #18686 "PersistentTokenRememberMeServices ignores 5 second validity window"
Maybe I misunderstood the workings of this class, but here we go:

##### **Overview of the issue**

The persistent token gets refreshed but the old value gets set again in the cache.
https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs#L150
After refresh, the old cookieToken values (method par

[2022-05-18 09:39] lukelukes commented on #18686
Never mind, I understand now. But the documentation does not really explain it well enough though.

[2022-05-18 09:39] #18686 closed

[2022-05-18 10:18] mraible commented on #18686
@lukelukes It'd be awesome if you could create a PR for the [jhipster.github.io](https://github.com/jhipster/jhipster.github.io) project to improve the documentation.

[2022-05-18 11:14] lukelukes commented on #18686
@mraible Not sure if this fits there, but I'd update the JavaDoc on the class instead.

Also, wouldn't there be a CookieTheftException thrown in the following case:
Fire off 2 async requests -> first lasts 1 sec (token1), second lasts 500 ms (token2) -> client sets token2 cookie (the valid one), first request returns with token1 cookie (now invalid) -> make another request, this would send token1,

[2022-05-18 13:29] SudharakaP commented on #15523
Sorry it has been a bit busy, but I'll get it done this week or next for sure. 👍🏽

[2022-05-18 18:21] smaestri commented on #14616
Hi, yes I have some free time to work on it in the next weeks. I Keep you posted

[2022-05-19 07:46] nickshoe commented on #17035
Hey @DanielFran, sure.
I'll do a PR as soon as I can.

[2022-05-19 10:43] lucastaehli commented on #17449
@DanielFran The problem is that SET IDENTITY_INSERT from the "loadData" gets executed even when the webapplication gets started with h2 or integration tests are started with h2. SET IDENTITY_INSERT is not supported at h2 and therefore the following Exception is thrown:

Caused by: org.h2.jdbc.JdbcSQLSyntaxErrorException: Syntax error in SQL statement "IF[*] EXISTS(SELECT TABLE_NAME
            FRO

[2022-05-19 11:57] DanielFran commented on #17449
@lucastaehli
Looking at pom.xml, for both dev and prod profile liquibase-mssql extension is only available if the dev/prod database defined is mssql: https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/pom.xml.ejs#L1770-L1779

We do not have anymore "SET IDENTITY_INSERT" declared in liquibase scripts, so it might be an issue during the update process of a major ver

[2022-05-19 15:33] lucastaehli commented on #17449
@DanielFran I use gradle and the liquibase mssql dependencies are generated in the build.gradle file. I moved them to the profile_prod.gradle and everything seems to work now. Thanks for your help

[2022-05-19 17:47] DanielFran commented on #17449
@lucastaehli Did not check yet, but do you want to contribute with a PR?

[2022-05-19 23:10] sgpalit commented on #18347
why is this closed? i can not still create mappers if user is in relation.. v7.8.1?

[2022-05-20 05:19] mljolje opened #18703 "Webpack in infinity building loop after first change in React/Angular frontend app"
##### **Overview of the issue**

Create simple JHipster monolith application (no extra entities) with React or Angular frontend, start-up backend and frontend (npm start) and everything is fine.
However, after first change of frontend files Webpack enters infinity building loop besides no changes are made.

##### **Motivation for or Use Case**

Cannot further update and develop frontend applicatio

[2022-05-20 07:57] DanielFran commented on #18347
@sgpalit See comment in #18391

This issue was duplicated and this has been fixed on main.
We will release soon a new version

[2022-05-20 13:28] OmarHawk commented on #18370
The same thing also does work for ManyToMany relationships in the very same way.

[2022-05-20 14:30] OmarHawk opened #18704 "Application startup failure when using custom id names with elasticsearch option enabled"
##### **Overview of the issue**
When I do use ids that don't have the name `id`  and enable elasticsearch repositories, I get an error with stacktrace and the application fails to start:

[code]

The issue disappears, when I manually add an annotation like this additionally to the entities' Id field:

![grafik](https://user-images.githubusercontent.com/2911492/169549287-b23ba30c-a84f-4597-8c2d-289

[2022-05-20 14:58] Brouilles commented on #17316
I have the same error when I tried to login in the JHipster Registry with keycloak.

[2022-05-20 19:22] #18704 closed

[2022-05-20 19:24] Tcharl commented on #18370
So cool

[2022-05-21 00:32] #18200 closed

[2022-05-21 00:40] #18370 closed

[2022-05-22 09:02] PiperDing opened #18707 "kubernetes monitoring is broken"
##### **Overview of the issue**
monitoring in kubernetes  does't work

The new prometheus monitoring system is not updated into kubernetes
##### **Motivation for or Use Case**
Make the monitoring system in kubernetes available

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
7.8.1

##### **JHipster configuration**

##### **Entity conf

[2022-05-23 02:46] #18526 closed

[2022-05-23 03:55] mraible commented on #18650
@atomfrede If you create a PR to pin to an old version for Heroku, I'd be happy to test it.

[2022-05-23 04:04] atomfrede commented on #18650
Will do after after my dauther's birthday 🎂 most likely Wednesday.

[2022-05-23 12:16] DanielFran commented on #17850
Closed by https://github.com/jhipster/generator-jhipster/pull/18441

[2022-05-23 12:16] #17850 closed

[2022-05-23 12:17] emilpaw commented on #18571
FYI: It's almost done but because I was busy I wasn't able to make much progress in the last few days. I will open the PR soon.

[2022-05-23 12:34] OmarHawk opened #18720 "Elastic search functionality not working with UUID type primary key (AngularX at least)"
##### **Overview of the issue**

When we have a UUID type for an entity as primary key, the produced standard search query produces the following error:
<details>
<summary>Stacktrace
</summary>
<pre>
org.springframework.data.elasticsearch.RestStatusException: Elasticsearch exception [type=search_phase_execution_exception, reason=all shards failed]; nested exception is ElasticsearchStatusException[

[2022-05-23 13:27] yelhouti commented on #17919
@DanielFran thank you for tagging this v8, do I understand correctly that this is a go ahead ? or does anyone have any objection ? ( Looking at you @mshima  :stuck_out_tongue:  )

[2022-05-23 13:37] DanielFran commented on #17919
It is tagged to "V8" to be discussed internally if we should or not include it on the roadmap...

[2022-05-23 14:02] yelhouti commented on #17919
@DanielFran thank you for the info, can I take part in the discutions ? I contact https://groups.google.com/g/jhipster-dev few weeks ago but never received a reply.

[2022-05-23 16:16] pascalgrimaud commented on #17919
@yelhouti : how did you contact the group ? as it's in read only for external members ?

[2022-05-23 16:40] yelhouti commented on #17919
@pascalgrimaud there is a contact owners and managers that allows you to send an email.
![Screenshot from 2022-05-23 18-38-48](https://user-images.githubusercontent.com/5471639/169867373-b4bbdc7f-1bdf-402d-971c-e80e4c6fad38.png)

[2022-05-23 16:46] mshima commented on #17919
We already support composite id in the internals.
If the template change is simple enough it can be merged.
No need for v8 tag.

[2022-05-23 16:54] yelhouti commented on #17919
I would like to be able to generated the server code two, which as you might think impacts almost all the entity-server files.

[2022-05-24 14:15] marlonfa opened #18728 "User management is not generated when I choose react"
When I generate an application with Jhipster v7.8.1 using react as a front-end the user management is not generated automatically, but if I switch to angular the user management is created. Is there any way to generate user management automatically using react?

[2022-05-24 17:27] OmarHawk opened #18729 "Elasticsearch: StackoverflowError when trying to perform re-indexing based on JPA entities with relationships"
##### **Overview of the issue**
The normal indexing mechanism of elastic search repos works while saving an entity into database. When trying to implement a custom reindexing mechanism (as my data is not coming in through some frontend at the moment :-/), I ran into an issue with taking entities directly from database (JPA entities) and saving them within the elastic search repository. Something l

[2022-05-25 19:13] ullf opened #18735 "Nothing happens after pressing login button when I'm using built-in database"
##### **Overview of the issue**

I'm using LIQUIBASE with built-in databaase h2. When I'm trying to login with admin credentials, nothing is happening(with postgres everything is fine).

##### **Motivation for or Use Case**

For development purposes

##### **Reproduce the error**

1. Setup h2 database
2. Try to login

##### **Suggest a Fix**

##### **JHipster Version(s)**
JHipster 7.8.1

**Log**
E

[2022-05-26 18:57] DanielFran commented on #17449
@atomfrede SInce the issue is on gradle configuration, can you review test and prod profiles?

[2022-05-26 19:08] DanielFran commented on #17100
@RDsideNow Can you confirm if #18741 fix your issue?

[2022-05-26 19:22] DanielFran commented on #17212
@amirensit can you provide a PR?

[2022-05-26 19:24] DanielFran commented on #17268
@amanganiello90 Can you confirm if it is still the case in latest version?

[2022-05-26 19:29] DanielFran commented on #17316
@vw98075 Can you confirm if the issue persist in latest version?

[2022-05-26 19:39] DanielFran commented on #17425
@pmverma Are you still available to do a PR?

[2022-05-26 20:01] DanielFran commented on #17613
@OmarHawk Are you available to provide a PR?

[2022-05-26 21:36] JeroenAdam commented on #18729
Check this latest issue, a solution is almost there. https://github.com/jhipster/generator-jhipster/pull/18741

[2022-05-26 21:39] JeroenAdam commented on #16136
Check out issue https://github.com/jhipster/generator-jhipster/pull/18741, a solution is almost there.

[2022-05-26 23:12] #18735 closed

[2022-05-27 00:35] mshima commented on #18665
JHipster is a node application.
It should be installed thought npm.

[2022-05-27 00:35] #18665 closed

[2022-05-27 00:44] mshima opened #18743 "Translate React and Vue to native language."
##### **Overview of the feature request**

Following https://github.com/jhipster/generator-jhipster/issues/15964 we should translate React and Vue to the native language.

While doing some work related to https://github.com/jhipster/generator-jhipster/issues/18652.
I've noticed that there is already some translation replacement been done, we can improve it and translate React and Vue to native lan

[2022-05-27 00:51] mshima opened #18744 "Neo4J samples failures."
##### **Overview of the issue**

https://github.com/jhipster/generator-jhipster/blob/97d4b628a666ca90d9ab6b10d0c9034ad6747c10/test-integration/jdl-samples/ms-mf-ngx-consul-jwt-neo4j/blog-store.jdl#L29-L30

- [x] Checking this box is mandatory (this is just to show you read everything)

[2022-05-27 00:53] mshima opened #18745 "Mariadb samples failures."
##### **Overview of the issue**

https://github.com/jhipster/generator-jhipster/blob/97d4b628a666ca90d9ab6b10d0c9034ad6747c10/test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl#L30-L31

https://github.com/jhipster/generator-jhipster/blob/97d4b628a666ca90d9ab6b10d0c9034ad6747c10/test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-stor

[2022-05-27 00:55] mshima opened #18746 "MongoDB samples failures."
##### **Overview of the issue**

https://github.com/jhipster/generator-jhipster/blob/97d4b628a666ca90d9ab6b10d0c9034ad6747c10/test-integration/jdl-samples/ms-ngx-eureka-oauth2-mongodb-caffeine/blog-store.jdl#L28-L30
https://github.com/jhipster/generator-jhipster/blob/97d4b628a666ca90d9ab6b10d0c9034ad6747c10/test-integration/jdl-samples/ms-ngx-eureka-oauth2-mongodb-caffeine/blog-store.jdl#L93-L94

[2022-05-27 00:57] mshima opened #18747 "Cassandra jdl sample failures."
##### **Overview of the issue**

https://github.com/jhipster/generator-jhipster/blob/97d4b628a666ca90d9ab6b10d0c9034ad6747c10/test-integration/jdl-samples/ms-react-consul-jwt-cassandra-redis/blog-store.jdl#L27-L29
https://github.com/jhipster/generator-jhipster/blob/97d4b628a666ca90d9ab6b10d0c9034ad6747c10/test-integration/jdl-samples/ms-react-consul-jwt-cassandra-redis/blog-store.jdl#L48-L50
https

[2022-05-27 09:20] OmarHawk opened #18751 "Issue with deleting an Entity with relationships"
##### **Overview of the issue**
When deleting an Entity with relationships from the frontend, it fails as the deletion is not cascaded to the sub-entities. This produces then such a stacktrace:

  <details>
  <summary>Stacktrace</summary>
  <pre>
     org.springframework.dao.DataIntegrityViolationException: could not execute statement; SQL [n/a]; constraint [null]; nested exception is org.hibernat

[2022-05-27 13:00] #17488 closed

[2022-05-27 14:05] Tcharl commented on #18656
Not sure `search with true` is legit.

[2022-05-27 17:46] #18537 closed

[2022-05-27 21:34] thelearner214 commented on #16136
Just out of curiosity, Why is **Hibernate search** not used with **Jhipster** ?
While researching on the same issue and with a temporary workaround posted on: [https://stackoverflow.com/questions/67558754](https://stackoverflow.com/questions/67558754/indexing-problem-with-spring-data-elastic-migration-from-3-x-to-4-x/68259478#68259478), we came across Hibernate search and it provides pretty much a

[2022-05-28 04:39] amanganiello90 commented on #17268
I have not tryed with the last version.

[2022-05-28 07:09] ko5tik commented on #16136
I would say: because nobody contributed and lobbied for it yet.  If you provide solid use case , put the work into  development  and demonstrate that it solves current annoyances ( which are a lot ) there is definitely a room for it.   But elasticsearch is a solution for all database options,  where hibernate search will work only for JPA / SQL Datastores

[2022-05-28 09:49] thelearner214 commented on #16136
I don't want to deviate the thread, what is the usual process. May I create a new Issue for it?
About contribution, I can write Java code and can contribute, however Jhipster generator uses Scripting languages may be a learning cycle for me, but will try.

[2022-05-28 10:49] ko5tik commented on #16136
Usual process is to create an issue,   maybe attract some discussion to  it to see if there is an interest.    Usually there is more interest  it you can show some code and how it works.     When you have  working code you submit pull request and try to attract commiters attention ( nobody  is paid for  this work directly so it has to be interesting and rewarding )

I can say that learning curve i

[2022-05-28 12:39] ko5tik commented on #18729
As discussed in #18741 possible solution could be  to  place @Transient annotation on all generated relations.
This will prevent circular dependencies,  but also querying over the object boundaries.
Change will be pretty trivial though.

Some thoughts:  JDL allows to place annotations on the properties,   but not on the relationships.  Allowing this will provide
clean solution which could have som

[2022-05-28 16:28] ko5tik commented on #18729
#18685  Is also basically the same  issue

[2022-05-28 16:51] ko5tik opened #18755 "Microservice without user management shall not generate User and Authority entities as well as related resources"
##### **Overview of the feature request**

When     "skipUserManagement": true is set for microservice,   User and Authority entities as well as supporting classes and services are generated even is there is no use for them at all.  And when 0Auth is used as login option there is no management of user information at all in the application.

I suggest skipping generation of those classes unless the

[2022-05-28 18:35] ko5tik commented on #18755
Looking into the sources:
[code]
In my unterstanding _authenticationTypeOauth2_ means  that authentication is outsourced to some external provider ( keycloak, okta , whatever ) .  This there will be no real user data in the application - so there is no point to have this servince at all

[2022-05-28 18:38] ko5tik commented on #18755
Another observation:

`
    {
      condition: generator => !generator.skipUserManagement,
      path: SERVER_MAIN_RES_DIR,
      templates: ['templates/mail/activationEmail.html', 'templates/mail/creationEmail.html', 'templates/mail/passwordResetEmail.html'],
    },
`

Activation email templates  and user related exceptions are skipped   when no user management

[2022-05-28 18:41] mshima commented on #18755
Duplicate of https://github.com/jhipster/generator-jhipster/issues/16074.

[2022-05-28 18:50] ko5tik commented on #18755
Which is also mine   but did not received attention.  This one is more specific though.
I would like to have some discussions with commiters about those user entities and whether they are really necessary
in this case

From my point of view it looks as if there were some mixed up boolean conditions.

[2022-05-28 19:10] mraible commented on #18755
They exist so you can have relationships to the `User` entity in your microservices. We might change things to use SCIM in the future.

https://developer.okta.com/docs/concepts/scim/

[2022-05-28 19:37] Tcharl opened #18757 "Introduce a flag to register testcontainers tests as disposeable for every testcases"
##### **Overview of the feature request**

Now that testcontainers has been introduced and aligned through testcontextcustomizer, it looks very simple to introduce a test configuration bit that reset the container for each test class.

##### **Motivation for or Use Case**

Should be nice to provide that kind of bit, to let the end user be sure that tests are replicable and independent.

##### **Re

[2022-05-28 19:57] Tcharl opened #18758 "Move sql-related files to server/files-sql.js"
##### **Overview of the feature request**

Many sql related files are standalone but hosted in the main server files.js. It's far from being the best practice and doesn't help to know what's sql related vs what's common

##### **Motivation for or Use Case**

Will help to split the generator into blueprint in the end

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/pu

[2022-05-28 20:02] Tcharl commented on #18652
For processing and technology specific methods, I encourage to move to a more object oriented approach with packages and classes located in `/utils/tech/jhipster/generator/<client|server|dcvs|...>/<entity|class>`.

[2022-05-28 20:05] Tcharl opened #18759 "Improve new SQL database addition by improving jdbc url variability"
##### **Overview of the feature request**

JDBC/R2DBC connection URLs are made of many conditional, which does not help to introduce new vendors

##### **Motivation for or Use Case**

Bringing new vendors (Trino? I'm interested :-p).

##### **Related issues or PR**

[This comment by @mshima ](https://github.com/jhipster/generator-jhipster/pull/18513#discussion_r884171038)

- [ ] Checking this box

[2022-05-28 20:12] Tcharl opened #18760 "Sort maven and gradle dependencies by alphabetical order"
##### **Overview of the feature request**

Maven and Gradle dependencies are rarely aligned (but should), should be nice to sort them by alphabetical order (GAV) in order to have an easier comparison between the two from time to time.
Even if it will be a little bit cumbersome to maintain (more ejs conditions), I guess it will be better for long term maintainance.

##### **Motivation for or Use Ca

[2022-05-29 07:50] Tcharl commented on #18703
I'm on node 16, and do not have this issue, may be related?

[2022-05-29 08:01] Tcharl commented on #18555
Hi Antonio,

Regarding your upgrade issue, it looks like a misconfiguration of your jdl or your entities `./jhipster/*.json` (missing the name of your opposite relationship?).
Can you please try to update or post them so that I would be able to help?

Thanks!

[2022-05-29 08:21] Tcharl commented on #17268
Or can you please post the content of your `.jhipster` folder to be reproduceable?

[2022-05-29 09:30] Tcharl commented on #17100
Hello,

I tried to reproduce with the exact same jdl and the latest version.

As the OrderItem is not in any microservice, it's generated as part of the gateway (so in reactive) thus leading to exception because of the two-many relationship.

Can you please provide the working jdl sample please?

[code]

[2022-05-29 12:31] ko5tik commented on #18755
I know   that I can make relationship to User entity.  But I do not need to.  In my opinion,  when I do not have user management in the backend microservice ( "skipUserManagement": true  set explicitely, oauth2 authentication selected )   there shall be no user entity in this microservice at all (and also authority and supporting classes)

Current version generates user entities for all microservi

[2022-05-29 13:51] mshima commented on #18755
@ko5tik can you provide a PR making user entities conditional on user relationship existence?

[2022-05-29 14:43] ko5tik commented on #18755
Conditionality shall  be on "skipUserManagement" option   and there is definitely an issue that user entities are generated in all microservices in case there are more than  one.

[2022-05-29 20:57] Tcharl commented on #18755
If we follow the advice of both of you , thus only generating user in this cases:
 - Session
 - Jwt
 - Relationship to user

We would be able to remove that 'skipusermanagement' in V8, WDYT?

[2022-05-29 21:13] mshima commented on #18755
It will still be needed for public services with no user management. Unless it makes sense to create authenticationType no.

[2022-05-29 21:21] mshima commented on #18755
User must be generated if User relationship exists at oauth2 authenticationType.
Removing this feature is a unjustified breaking change is not on discussion for JHipster 7 and probably won’t happen for v8.

IMO the best approach is to introduce a new configuration like `proxyUsersForRelationships`.
And some files will depend on it and others will depend on it or `skipUserManagement`.

[2022-05-30 07:07] ko5tik commented on #18755
In oauth2  real user / authority  entity used for authentication resides somewhere  else ( if it exists at all ) - what exactly is  this generated  user entity in context  of microservice?  At the moment it is just an entity ( actually 2 )  without any special meaning, which is neither populated not synched with  anything and serves no real purpose.

There are no relatioships over the microservice

[2022-05-30 09:20] Tcharl commented on #18755
I had the use case on my part: I made kind of a Project catalog for my company's InnerSource initiative.
Thus, I had a microservice, hosting the list of projects my company implemented, and the User who was the originator of the project (it's oauth2 handle) was the only one being able to edit his project's informations.
How could I achieve that without storing the user Oauth  identity? RBAC throug

[2022-05-30 09:36] emilpaw opened #18768 "Git Commit Guidelines are outdated"
##### **Overview of the feature request**

In the contribution guidelines, there are some rules about how to format the commit messages. Most commits in the repository don't follow the rules. Especially the one about capitalizing the first letter: https://github.com/jhipster/generator-jhipster/blob/dbf76ed6209f2ba02fb30476893e9ff0588776fd/CONTRIBUTING.md?plain=1#L376 and about being required to ad

[2022-05-30 09:49] atomfrede commented on #18768
At least for the footer I understand the *must* for automatic closing (otherwise it won't work). So no must for a footer in general as (you said correctly) not every commit relates to an issue.

[2022-05-30 09:53] ko5tik commented on #18755
In a similar situation I used user principal as a field in "owned"  object  (which is available  to the services via securoty utils)  to check of accessibility of certain object for invocation /  filtering lists.  Of course I had to create separate methods.  I surely could have extra  entity and relationships for this purpose -  but this entity would have nothing to do with real authentication,  a

[2022-05-30 13:50] #17449 closed

[2022-05-30 13:50] #17691 closed

[2022-05-30 13:56] #18759 closed

[2022-05-30 13:56] #18758 closed

[2022-05-30 18:14] antsch01 opened #18769 "Set default format ZonedDateTime in view page for all entities"
##### **Overview of the issue**

I see that for all entities with attribute ZonedDateTime in the view page the data is not formatted, while in list page yes.
If I see the generator file I can see for example in:

entity-component.html- > {{ orderEntry.departureDate | date:'medium' }}
entity-detail.html -> {{ orderEntry.departureDate }}

to fix it I updated all generator file adding "| date:'medium

[2022-05-30 18:59] #18746 closed

[2022-05-30 19:19] #17838 closed

[2022-05-30 20:04] DanielFran commented on #18191
@Ebsan Can you confirm if issue still persist in main?

[2022-05-30 21:28] atomfrede commented on #18650
@mraible Good news, pinning *all* relevant es versions to 7.10.2 works fine. For gradle you could do e.g.

[code]
If you use git deployment we could enable the pinning only when building on heroku via environment variable `DYNO`.  Need to check for maven if we can use maven profiles for that (I think there is already a heroku profile).

[2022-05-31 10:29] mljolje commented on #18703
Same behavior with node 16, constant recompile loop.

[2022-05-31 15:26] Tcharl commented on #18703
Sorry, but We'll need more information: I'm not able to reproduce on my side (Mac unfortunately).

What I did:
1. Add keycloack in my etc/hosts file: `127.0.0.1	localhost keycloak``
2. Took your .yo-rc file and executed `jhipster --force` on the same folder
3. `npm install`
4. Started elastic and keycloak `docker-compose -d -f src/main/docker/<container.yml`
5. Started the app: `npm run watch`
6.

[2022-05-31 15:33] Ebsan commented on #18191
Yes, the issue still persists in main.

[2022-05-31 19:31] Tcharl opened #18778 "Add frontend sort when no pagination"
##### **Overview of the feature request**

Jhipster lack of essential features to get really usable forms.
One of them is that there's no sort on fields when pagination is not selected.
It would be really easy to implement while being cool for end users.

##### **Motivation for or Use Case**

Improving the waow effect of a jhipster generation at low cost

- [x] Checking this box is mandatory (this

[2022-06-01 20:24] mraible opened #18793 "Heroku + Okta: user not added to ROLE_USER group if jq not installed"
##### **Overview of the issue**

I experienced [an issue](https://github.com/jhipster/generator-jhipster/pull/18774#issuecomment-1144063728) today when testing Heroku + Elasticsearch. Since I didn't have `jq` installed, I had to manually run the `./provision-okta-addon.sh` script. The username I entered was never given a password, so I logged in to Okta with my Heroku settings (OKTA_ADMIN_EMAIL an

[2022-06-02 00:15] RDsideNow commented on #17100
Sorry, i think i posted on the wrong issue

I can confirm that as of version 7.8.1 this issue is still present

<img width="1920" alt="Screen Shot 2022-05-26 at 6 39 41 PM" src="https://user-images.githubusercontent.com/42190464/170591147-05219ba2-edef-4228-9294-f082c18ce0d2.png">

If is use the swagger page search, the results return as expected

<img width="1920" alt="Screen Shot 2022-05-26 at 6

[2022-06-02 06:23] atomfrede commented on #18793
I am not sure, but I think we generate the password and do not store it somewhere (we did once but changed it). Maybe we just need to update documentation and output of the script, such that the user knows to reset the password.

Regarding the missing user role I will have a look, it should not be the case.

[2022-06-02 07:33] KiraLis39 opened #18803 "Problem with fields JDL exported by JHipster"
##### **Overview of the issue**

similarity_order Integer // similarityOrder must be? Why not? May be auto-fix that?

config {
    enableGradleEnterprise false
    gradleEnterpriseHost ""
and
    withAdminUi true
is error? Why?
This fields was generated by JHipster, but I see "MismatchedTokenException: Expecting --> '}' <-- but found --> 'enableGradleEnterprise' <-- at line: 17, column: 1" etc in

[2022-06-02 08:15] liviuoprisan commented on #18440
Changing undertow to tomcat also fixed it for me.
There are two places, one seems to be some eclispse fix but changed it everywhere to be sure.
spring-boot-starter-undertow became spring-boot-starter-tomcat .
Did an "mvn clean install" and pressed the refresh maven button in the pom file in intelij.

This started happening on a fresh install on a laptop on windows 10.
I didn't have the issue on my

[2022-06-02 08:31] atomfrede commented on #17134
It should be fixed via https://github.com/jhipster/generator-jhipster/commit/49a04ecaa44134e99a6e8ac53b1046abd4c68219 which sets the profiles for the bootRun task.

[2022-06-02 08:39] atomfrede commented on #14949
Coming back to this. The issue still exists, but the vulnerabilities are now minor (B). Nevertheless log forging is still possible, while I suppose a lot of people are using json based/structured logging instead of plain pattern layouts, not sure we must do something about it. We could document it more clearly in "going to production" and ignore the sonar issues.
In addition we may also provide js

[2022-06-02 08:41] rjbgaspar opened #18804 "Bad SQL grammar is thrown for all entities with string ID types"
Hello everyone,

##### **Overview of the issue**
Due to the fix for [SQL Injection in Reactive project](https://github.com/jhipster/generator-jhipster/issues/18269) included with Release 7.8.1 (2022-04-07) where jhipster has replaced the Criteria with Condition in the EntityManager bean. E.g.

Prior to version 7.8.1

[code]

And now
[code]
the application will throw BadSqlGrammarException each tim

[2022-06-02 08:57] DanielFran commented on #18804
Thanks @rjbgaspar to report the issue.
Are you available to contribute with a PR?

[2022-06-02 08:58] DanielFran commented on #18804
Adding a bug bounty since this is a bug

[2022-06-02 10:53] rjbgaspar commented on #18804
Hi @DanielFran,

Maybe in the future, at the moment I don't know the implementation of the generator and it would take quite some time to do it.

When I have the time and knowledge, I intend to give my contribution.

[2022-06-02 13:45] tonylook commented on #18510
ETA for this release?

[2022-06-02 16:31] #18650 closed

[2022-06-02 17:27] #18656 closed

[2022-06-03 08:00] DanielFran commented on #17691
@Tcharl approved

[2022-06-03 10:59] Soromeister commented on #12558
Still, keep it open.

[2022-06-03 18:50] mshima opened #18817 "Upgrade to Angular 14"
##### **Overview of the feature request**

Angular 14 has been released.

The most significant change is typed forms.
As part of this migration, we should migrate away from FormBuilder.

- [x] update build config
- [x] migrate to typed form

We are missing libs to support it, but we can start migration.

Dependencies:
- [x] jest@28
- [x] @angular-builders/* (https://github.com/just-jeb/angular-bui

[2022-06-04 14:40] paris0120 opened #18819 "Microservice Entity"
##### **Overview of the issue**

Based on https://www.jhipster.tech/user-entity/ and https://www.jhipster.tech/creating-microservices/#generating_entities, microservice with oauth2 should include a User class. However, when I try to include user in a relationship, I got ERROR! Error during import-jdl: The entity User which is declared in forum's entity list doesn't exist.

##### **Motivation for o

[2022-06-04 14:45] mraible commented on #18819
You might need to add this at the bottom:

[code]

That's the only difference I see between your JDL and [`reactive-ms.jdl`](https://github.com/jhipster/jdl-samples/blob/main/reactive-ms.jdl).

[2022-06-04 15:02] paris0120 commented on #18819
Thank you for the quick reply. I checked with https://github.com/jhipster/jdl-samples/blob/master/microservices-blog-store.jh and find that I shouldn't include User in the entity.

[2022-06-04 15:18] paris0120 commented on #18819
Sorry for bothering you again but I keep getting

WARNING! Error at 'Category' definitions: 'otherEntityRelationshipName' is set with value 'category' at relationship 'user' but no back-reference was found at 'user'

Since User is managed by jhipster, how to fix the Error?

Again thank you for your time.

[2022-06-04 16:35] mraible commented on #18819
That's just a warning. I believe @mshima added it. Everything still works fine in my experience.

[2022-06-05 17:20] swilimo commented on #18191
@DanielFran this bug really exists on jhipster, pagination  for elastic don't work otherwise if this fix is not implemented

[2022-06-05 18:51] ko5tik commented on #18755
It looks that  this issue was somehow fixed in  current code base  in last 6 days , as this  is not existent anymore.  And there is even test coverage  in  app.spec.js @  'microservice with gradle and eureka'  -  so I consider it fixed. No further action is needed

[2022-06-05 23:12] #18416 closed

[2022-06-06 07:36] qmonmert commented on #18416
@pascalgrimaud @jdubois bug bounty claimed https://opencollective.com/generator-jhipster/expenses/80687 🙂

[2022-06-06 14:52] Rapster commented on #1995
By looking at how many positive ratings this ticket has, I think the community is definitely interested in it. What you're describing in your ticket is the most common approach IMO

[2022-06-06 15:46] paris0120 commented on #18819
Thank you.

[2022-06-06 15:57] mshima commented on #18819
should be fixed in main

[2022-06-06 16:32] paris0120 opened #18839 "No connection between gateway and eureka"
##### **Overview of the issue**

It seems that the gateway server cannot connect to the Eureka server out of jdl generator.

##### **Motivation for or Use Case**

Generate microservice with gateway and microservice

##### **Reproduce the error**

Generated a gateway server and microservice server.
Started gateway server with docker-compose -f src/main/docker/app.yml up

I got

ERROR 1 --- [tbeatEx

[2022-06-06 16:49] paris0120 opened #18840 "docker-compose for all third party servers for microservice"
##### **Overview of the feature request**

I am wondering if it will be helpful if there can be one docker image that includes all the third-party servers (basically, it combines all the app.yml but without individual generated servers when we generate microservice servers.

##### **Motivation for or Use Case**

I'm trying to modify the generated servers but I have to either start the supportive s

[2022-06-06 21:05] mraible commented on #18840
If you use the Docker Compose sub-generator, there's one `docker-compose.yml` file with everything in it.

[2022-06-07 01:06] vishal423 commented on #18839
Can you try changing `localhost-config` with `docker-config` in this line and try?
``` - SPRING_CLOUD_CONFIG_SERVER_COMPOSITE_0_SEARCH_LOCATIONS=file:./central-config/localhost-config/```

[2022-06-07 12:34] Rapster commented on #18840
More details here: https://www.jhipster.tech/docker-compose/#docker-compose-subgen

Doesn't seem to be working for monolith, i'll open a ticket if problem persists

[2022-06-07 13:35] emilpaw commented on #18728
Can't reproduce.

Could you provide the information given by `jhipster info` as described in the issue template?
Following is my `jhipster info` output. It did create the user management.

<details>
  <summary>My jhipster info output</summary>

INFO! Switching to JHipster installed locally in current project's node repository (node_modules)

Welcome to JHipster v7.8.1

Welcome to the JHipster Info

[2022-06-07 14:14] DanielFran commented on #18571
@emilpaw do not forget to request for the bug bounty

[2022-06-07 14:38] paris0120 commented on #18839
The dock image works now but other microservice can't connect to Eureka now. I get the following message with microservice.

Request execution error. endpoint=DefaultEndpoint{ serviceUrl='http://admin:admin@jhipster-registry:8761/eureka/}, exception=I/O error on GET request for "http://admin:admin@jhipster-registry:8761/eureka/apps/": No such host is known (jhipster-registry); nested exception is

[2022-06-07 15:38] paris0120 opened #18850 "Generate frontend and backend seperately"
##### **Overview of the feature request**

Add an option to generate frontend and backend seperately

##### **Motivation for or Use Case**

Currently, the generator has the option --skip-client and --skip-server yet if generated separately by default the frontend server will still connect to the backend server with the same port (SERVER_API_URL  = ''). I'm wondering if an option can be added so th

[2022-06-07 15:48] mraible commented on #18850
Do you want to run your apps on separate ports in production or just in development? The reason I ask is because all the authentication mechanisms (accept for JWT) rely on cookies to communicate between the frontend and backend. We do this because [JWTs aren't that great for session tokens](https://developer.okta.com/blog/2017/08/17/why-jwts-suck-as-session-tokens).

[2022-06-07 17:00] mraible commented on #18850
Our current OAuth 2.0 support uses Spring Security and stores the access and ID tokens in the session on the server. We do it this way because it's more secure than doing authentication on the client and it's easier to implement so we don't have to use a different OIDC library for each frontend framework.

If you want to use any of JHipster's existing frontend implementations, you'd need to refact

[2022-06-07 20:12] OmarHawk commented on #18729
Same by the way happens when I try to update an existing entity where there are relations attached - also StackoverflowError thrown :(

@ko5tik does your alreay merged pull request fix the issue with updating an existing entity with relations?

[2022-06-07 20:15] OmarHawk commented on #17613
well, If I'd have more time, definetly. Will check it out somwhen this week maybe, but can't promise anything. The necessary change is minimal tbh.

[2022-06-07 20:23] paris0120 opened #18853 "Many to many field can't display and user field can't save."
##### **Overview of the issue**

The many-to-many field doesn't show on the detail and edit pages. I got the following log for the "get" API

2022-06-07 16:15:47.890 DEBUG 361080 --- [ctor-http-nio-6] c.s.microservice.web.rest.IssueResource  : Enter: getIssue() with argument[s] = [79]
2022-06-07 16:15:47.891 DEBUG 361080 --- [ctor-http-nio-6] c.s.microservice.web.rest.IssueResource  : REST request

[2022-06-08 00:07] CTaylorEason opened #18855 "Having Issues with Dependencies and Plugins"
Hi,

I'm having trouble with five unique dependencies and plugins that were imported at the start of my jhipster project. Here are the dependencies and plugins:

***********************************

<plugin>
    <groupId>io.github.git-commit-id</groupId>
    <artifactId>git-commit-id-maven-plugin</artifactId>
</plugin>

<plugin>
    <groupId>org.apache.maven.plugins</groupId>
    <artifactId>maven

[2022-06-08 00:31] mshima commented on #18071
[Regressions](https://github.com/jhipster/generator-jhipster/pull/18072#issuecomment-1075319341) must be fixed before updating.
We will need to keep 4.6.1 for mysql/mariadb and keep [h2 v1](https://github.com/liquibase/liquibase/issues/2306) .

[2022-06-08 01:06] mraible commented on #18071
Link to https://github.com/liquibase/liquibase/issues/2923 for tracking purposes.

[2022-06-08 06:31] ko5tik commented on #18729
Actually I not even started it yet.  Tough it is on my radar.  For time being you may just slap @Transient  on some relations in your schema manually and keep it in synch after regeneration ( I think there could be a kind of unit in ArchUnit  helping you with this - say demand certain annotations on fields ).  This kind of sucks, but it is working solution

[2022-06-08 07:25] OmarHawk commented on #18729
Ah, ok, well, maybe, then, I need to take care of this by myself and check how I can avoid this situation, maybe by preparing a Pull request by myself.

[2022-06-08 08:11] ko5tik commented on #18729
If you look into generated sources you will see @JsonIgnore annotations on the relationships -  they were doing exactly that  for previous versions of elastic search.   Which does not honor them anymore.  So placing @Transien would just restore previous behaviour.   In my opinion fine tuning of ES indexing is little beyond the scope of JDL.  Maybe there is a way to  define elastic search indexing

[2022-06-08 08:17] #18510 closed

[2022-06-08 09:03] OmarHawk commented on #18729
Well, for my custom reindexing, I implemented with DTO and mapstruct mapping, which breaks that cycle while still keeping parts of the sub-entities indexable. That would be a way to go, but would require the user to have dtos and mapstruct enabled...

[2022-06-08 09:41] OmarHawk commented on #18729
That does seem to work for me. I'd prepare a Pull request for the generator.

[2022-06-08 12:03] OmarHawk commented on #14840
I prepared a PR request that hopefully fixes this issue for most of the cases. #18866

[2022-06-08 19:18] #18745 closed

[2022-06-09 02:39] paris0120 commented on #18855
Did you load all the dependencies?

[2022-06-09 02:48] vishal423 commented on #18839
You can try adding an entry into your `hosts` config to map `jhipster-registry` with `127.0.0.1` for micro-services connection issue.

[2022-06-09 03:01] vishal423 commented on #18840
It's a personal taste of how you like to set up your local env. You don't have to start all services via docker-compose and can choose and run others via IDE/CLI. Ideally, you work on a single service/gateway at a time, and generated project local docker-compose files suffice for running others via docker. You may have to tweak mappings (expose ports, map hostnames, etc) for everything to work tog

[2022-06-09 04:46] mraible opened #18868 "Caching of user information is not optimized for scale"
##### **Overview of the issue**

When using OAuth 2.0, there is logic that will look up the user's information (from the OIDC `/userinfo` endpoint) to popular the user's first and last names. It caches the lookups by the `sub` claim so it only happens once per user. However, it's not optimized for scale.

[code]

Both Spring MVC (in `CustomClaimConverter.java`) and WebFlux (in `SecurityConfigurati

[2022-06-09 12:36] paris0120 commented on #18840
I'm trying but it's really hard. I have learned Yo and how to overwrite jhipster generator but there is little information on the jhipster generator itself. I have no idea which functions doing what without reading the code. Can you provide me with some suggestions on how to familiarize myself with the generator quickly and how to debug the templates?

[2022-06-09 13:00] paris0120 commented on #18868
Sync the map for every new token or all instances get tokens from one instance so that instance can cache all the tokens and each instance has its local copy of tokens?

[2022-06-09 18:30] paris0120 opened #18876 "Conflicts of dependency when add ng material"
##### **Overview of the issue**

This is not exactly a bug but I've been trying to add ng material with 'ng add @angular/material' but get the following errors. Is there any way I can overwrite the dependency version? I have tried --force, deleting package_lock.json, removing all the dependencies from package.json, and rebuild with npm commands but none works. Thank you so much for your time in ad

[2022-06-09 18:32] mraible commented on #18876
You need to install a version of Angular Material that works with Angular 13. For example:

[code]

Note that if you want to use Angular Material, you'll need to rewrite all the templates to use material components. An easier way is to use a Material theme with Bootstrap. https://stackoverflow.com/a/72481929/65681

[2022-06-09 19:01] paris0120 commented on #18876
I tried with different versions but it looks like no one has the core and animation matching with the one used by jhipster.  I have developed a frontend with Material and I just want to move it to the gateway and let it call the services generated by jhipster. Also, it looks like I need a paid account to use the components from Material Design for Bootstrap.

The package @angular/material@12 will

[2022-06-09 19:03] mraible commented on #18868
I think it's OK to have a local copy of tokens. This will only apply to monoliths and gateways.

[2022-06-09 23:30] mshima commented on #18876
You will need to install every dependency `ng add @angular/material@13 @angular/animations@13`.

Closing this is not supported by jhipster.

[2022-06-09 23:30] #18876 closed

[2022-06-10 06:46] b509 opened #18878 "JDL: DTO/Entity separate generation"
##### **Overview of the feature request**
Have the possibility to not only define the entity but also a separate DTO for it. For a DB entry you could then have an entity definition (persistence layer) as is written into the database as well as a DTO (presentation layer). Mapping is feasible with Mapstruct, either by trying to generate it or by having the user provide it according to a given format

[2022-06-10 07:25] The-Crocop opened #18879 "CVE-2022-22978 & CVE-2022-22976"
The current jhipster version is missing spring security fix for the mentioned vulnerabilities.
https://spring.io/blog/2022/05/15/spring-security-5-7-0-5-6-4-5-5-7-released-fixes-cve-2022-22978-cve-2022-22976

[2022-06-10 08:40] OmarHawk commented on #18879
See #18510 --> will be fixed with next release.

[2022-06-10 09:28] The-Crocop commented on #18879
do you know when the new release will be released approximately?

[2022-06-10 14:46] Tcharl commented on #18878
You can generate dto for jhipster application, [see](https://www.jhipster.tech/jdl/options)

Advanced syntax is not supported yet: you can code your own DTO and your own mappers on top of jhipster-generated dtos or entities then ([see](https://www.jhipster.tech/tips/035_tip_combine_generation_and_custom_code.html))

[2022-06-10 14:46] #18878 closed

[2022-06-10 15:23] Tcharl commented on #18819
Could this 'microservice' option be renamed on v8? first, it should be an 'application' option for types 'gateway' instead of a generic option, then this 'microservice' keyword is not that self-explanatory, 'routed' or 'proxied'

[2022-06-10 18:41] ko5tik commented on #18755
After some debugging I discovered strange thing:

[code]
( bootstrap/index.js @ 219 )

@Tcharl  @mshima  : can you comment of this?   This  line forces  user entity generation for all microservices with 0auth
event if it is explicitely disabled ( but not when using other auth options )  - looks kind of weird for me

And disableIUserManagemt is set to true for microservices by default anyway.....

[2022-06-10 19:36] CTaylorEason commented on #18855
Hi,

Yes, I did, and I got the dependencies registering now; however, I have this new error in the stack trace:

2022-06-10 12:30:50.822  WARN [testwebsite,,] 26240 --- [  XNIO-1 task-2] o.z.problem.spring.common.AdviceTraits   : Unauthorized: Full authentication is required to access this resource
2022-06-10 12:30:50.857 ERROR [testwebsite,,] 26240 --- [  XNIO-1 task-1] o.z.problem.spring.common.

[2022-06-10 19:37] CTaylorEason commented on #18855
the frontend stack trace says there is something to do with my browser sync:

Error: Cannot find module 'browser-sync-client/dist/index.min.js'
Require stack:
- C:\codingprojects\testwebsite\node_modules\browser-sync\dist\snippet.js
- C:\codingprojects\testwebsite\node_modules\browser-sync\dist\hooks.js
- C:\codingprojects\testwebsite\node_modules\browser-sync\dist\browser-sync.js
- C:\codingproje

[2022-06-11 07:07] #13461 closed

[2022-06-11 11:47] DanielFran commented on #18879
We will release a new version soon, depending on few development that are in progress

[2022-06-11 14:33] #18154 closed

[2022-06-11 17:07] Rapster commented on #17142
Issue still present in 7.8.1 for monolith application

[2022-06-11 17:22] ko5tik commented on #17142
can you create new bug or even better failing unit test /  provide jdl  and .yo-rc.json ?

[2022-06-11 17:43] Tcharl commented on #18755
dono

[2022-06-11 17:50] DanielFran commented on #18743
Closed by #18867

[2022-06-11 17:53] swilimo commented on #18191
@DanielFran yes i work with this fix it works perfectly

[2022-06-11 18:27] #18191 closed

[2022-06-11 18:44] mshima commented on #18743
Vue is not translated yet, I need to check how the translation must be injected.

[2022-06-11 18:46] mshima commented on #18755
This is expected.
User is always generated for relationship. We should make it conditional on user relationship existence.

[2022-06-12 07:15] ko5tik commented on #18755
It is already  conditional  ( skipUserManagement )  for everything  but oauth2  -  I do not grok this logic.    Actual state is:  all backend microservices get user/authority  entities  generates whether they need it or not  ( not needed by default )   when "app" generator is invoked ( "jhipster" ) ,    but not when "jhipster entitites"  is invoked

[2022-06-13 11:29] atomfrede commented on #18804
@DanielFran As I introduced this bug I can have a look to differentiate the id type and adapt the code.

[2022-06-13 14:46] crowne opened #18895 "Upgrade monolith (angular) from 7.5.0 to 7.8.1 fails"
##### **Overview of the issue**

My current version of jhipster installed globally is 7.5.0
I generated a default angular monolith and then tried to `jhipster upgrade`
It failed with the error below:

[code]

##### **Motivation for or Use Case**

I expected the upgrade to work.
I generated another default monolith app, and set the client framework to React
and that app upgraded without issues

###

[2022-06-13 14:53] mraible commented on #18895
If you try `npx jhipster upgrade`, does it work?

[2022-06-13 19:24] #14840 closed

[2022-06-13 19:24] #16136 closed

[2022-06-13 19:24] #18729 closed

[2022-06-13 20:46] crowne commented on #18895
That gives a different error:

✔ Merge done!
git diff --name-only --diff-filter=U package.json
    force .yo-rc-global.json
    force .yo-rc.json
Installing dependencies, please wait...
     info Removing the node_modules directory
     info Removing C:\org\APP-2.0.2\apptmp2\node_modules
     info npm install
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\org\

[2022-06-13 21:35] paris0120 commented on #18850
Can I run a frontend server as a microservice and point the gateway to that server?

[2022-06-13 23:49] willywanka75 opened #18897 "Generating a New JHipster Project with a Cache Results in Cache Provider Not Being Generated"
##### **Overview of the issue**

Generating a new JHipster project with any cache (eg. redis) results in `"cacheProvider": "no",` in .yo-rc.json and no generated code regarding cache.

##### **Motivation for or Use Case**

Prevents cache options from being generated.

##### **Reproduce the error**

[code]

##### **Related issues**

No

##### **JHipster Version(s)**

JHipster info:
[code]
temp@0.0.

[2022-06-14 06:32] egvimo opened #18907 "OutOfMemoryError running backend Integration Tests"
##### **Overview of the issue**

If there are several entities, the integration tests are failing with an `OutOfMemoryError`.

[code]

The tests are failing mostly around the 15th entity.

This is also happening in CI. Reproduced in Azure DevOps and GitHub.

And the integration tests are **very slow** compared to before.

##### **Motivation for or Use Case**

Tests should not fail with OutOfMemory

[2022-06-14 09:46] egvimo commented on #18512
I have exactly the same issue, but with version 7.6.0.
As a workaround I've moved the `loadData` section to a separate change set and removed the "empty" imports (I don't need them anyway):

[code]

[2022-06-14 14:28] mkraszew opened #18908 "Hazelcast cache - multinstances"
##### **Overview of the issue**

I have two instances of the same microservice. If I make a restart of this instances parallel one of the instances has 2 Hazelcast members, but second one has only one (itself).

##### **Motivation for or Use Case**

If I make an update of entity on one instance, this change isn't reflected on second one.

##### **Reproduce the error**

Prepare two instances of the

[2022-06-14 15:41] CTaylorEason opened #18910 "Cannot fix"
Hi,

I'm having an issue with my local host.

I went through the steps that JHipster provided, but when I run the backend and frontend, this is the error that I get. I did not change anything in the code -- every line was autogenerated by JHipster.

I'm using PostgreSQL (local host) for my database, Java (of course) for the backend, and React for the frontend.

Here is the error in the stack trace

[2022-06-14 16:54] gmarziou commented on #17946
Unfortunately, this fix addresses only French, same change should be done for all languages.

[2022-06-14 16:56] gmarziou commented on #17946
I suspect that this problem reported on SO about Italian is related.

https://stackoverflow.com/questions/72618701/plugin-and-dependency-not-found

[2022-06-14 17:18] hamaarouf commented on #17946
@gmarziou Thank you for pointing that out! I can do it during this week. Please I have one question is there any simple way to test it without creating for each language a project?

[2022-06-14 17:29] emilpaw commented on #18910
Could you provide the information required in the issue template?

[2022-06-14 19:03] gmarziou commented on #17946
As the change is simple, I would not worry about testing all languages.

Integration tests of the generator should have caught the initial bug but maybe we don't have a sample project, I must admit that I don't know how JHipster's CI works. @pascalgrimaud could help for sure.

Integration tests can be run locally: https://github.com/jhipster/generator-jhipster/blob/main/CONTRIBUTING.md#running-int

[2022-06-14 19:29] dwarakaprasad commented on #18897
Based on the code in 'generators/server/prompts.js' - line#320,
this.cacheProvider = this.jhipsterConfig.cacheProvider = !answers.reactive ? answers.cacheProvider : NO_CACHE_PROVIDER;

Caching is available only with non-reactive options.
Moreover Gateway applications are reactive and so the cacheProvider is set to no in the .yo-rc.json file.
Someone from jhipster to validate this comment.

If this

[2022-06-14 20:33] willywanka75 commented on #18897
If this is the case, then upgrading from JHipster 6 from a non-reactive gateway should remove the caching from the code because it currently causes an issue with Redis where Radisson can't serialize Mono.

[2022-06-15 07:11] egvimo commented on #18512
Related: #16667

[2022-06-15 08:41] NoxNox92 opened #18919 "Mvn install build fails"
##### **Overview of the issue**

Hello,
i've created a project with Jhipster (Italian as native language), when i run mvn install (both IntelliJ and command prompt) a test fails:

https://i.stack.imgur.com/vWyME.png

##### **Motivation for or Use Case**

As suggested on SO other users faced the same problem.

##### **Reproduce the error**

I ran in order mvn clean, mvn package and mvn install from

[2022-06-15 15:08] mnehad opened #18920 "./mvnw --> java.lang.ArrayIndexOutOfBoundsException: Index -1 out of bounds for length 814"
##### **Overview of the issue**

When I run ./mvnw for the project folder it failed with this error :
`
2022-06-15 13:44:44.193 ERROR 45988 --- [  restartedMain] o.s.boot.SpringApplication               : Application run failed

java.lang.ArrayIndexOutOfBoundsException: Index -1 out of bounds for length 814
        at org.yaml.snakeyaml.reader.StreamReader.peek(StreamReader.java:136)
        at or

[2022-06-15 16:53] gmarziou commented on #18920
Looks like an issue with application.yml or application-dev.yml parsing, did you try opening them in your IDE to see if something is wrong?

[2022-06-15 21:46] paris0120 opened #18922 "Add micro frontend example in the JDL studio"
##### **Overview of the feature request**

microfrontend jdl example in the jdl studio

##### **Motivation for or Use Case**

show how to use microfrontend.

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-06-15 22:56] mraible commented on #18922
There is one in the JDL samples project. However, it won't work unless you use the main branch or wait for the next release.

https://github.com/jhipster/jdl-samples/blob/main/reactive-mf.jdl

[2022-06-15 22:56] #18922 closed

[2022-06-16 02:40] paris0120 commented on #18910
I guess you didn't have keycloak

[2022-06-16 06:42] mnehad commented on #18920
Yes the generated files seem to be valid when I look at them.
(I have attached them if you want to check
[application.yml.zip](https://github.com/jhipster/generator-jhipster/files/8916325/application.yml.zip)
)

[2022-06-16 10:30] gmarziou commented on #18920
I used your .yo-rc.json file and generated a project but I could not reproduce your issue.

As it seems to be specific to your environment,you're the one who can investigate it, you could try to run under debugger because unfortunately snakeyaml does not provide much logging.

[2022-06-16 10:46] #18486 closed

[2022-06-16 11:05] #17573 closed

[2022-06-16 14:46] #18654 closed

[2022-06-17 04:40] #14415 closed

[2022-06-17 04:41] #18385 closed

[2022-06-17 04:43] pascalgrimaud commented on #17436
Followed my last comment, no need to implement it

[2022-06-17 04:43] #17436 closed

[2022-06-17 04:48] pascalgrimaud commented on #12558
I wonder if someone wants to start the work, otherwise, I'll close the ticket as lack of interest, because this ticket has been opened since 2 years

For your information, the support of Vue3 is already in JHipster Lite (since 6 months maybe), so I won't work on generator-jhipster to add this.

[2022-06-17 10:14] mrts commented on #12558
@pascalgrimaud, which component library did you use in JHipster Lite? The issue is currently blocking behind Bootstrap Vue Vue 3 support. The developer who deals with adding Vue 3 support lives in Ukraine and struggling to find balance between war-related activities, work and his Bootstrap Vue work.

See current status update here: https://github.com/bootstrap-vue/bootstrap-vue/pull/6905#issuecomm

[2022-06-17 11:59] pascalgrimaud commented on #12558
@mrts : in JHLite, we don't use bootstrap-vue, but we use bootstrap directly and we plan to do the same for the generated part (which is just a home page today):

https://github.com/jhipster/jhipster-lite/blob/main/package.json#L33-L40

So we don't rely to bootstrap-vue and we don't need to wait the work there

[2022-06-17 12:25] paris0120 opened #18944 "Update Angular Core to 13.3.11"
##### **Overview of the feature request**
Update Angular Core to 13.3.11

I did it in the following way but now sure if there is any bugs.
Set g-bootstrap the latest version
"@ng-bootstrap/ng-bootstrap": "12.1.2",
delete package_lock.json
npm i
ng update @angular/core@"13.3.11" --allow-dirty --force

Got some errors and warnings during the process but the frontend runs fine after the update. Don't

[2022-06-17 12:28] pascalgrimaud commented on #12558
in JH Lite, we use Hexagonal architecture, so we don't care too much about the infrastructure. The logic code is inside the domain, and this part is the most important. The secondary adapter do not use bootstrap, only axios
So bootstrap is related to the primary adapter only and migrate this part to another framework is easy

[2022-06-17 12:29] mrts commented on #12558
Alright, thanks for the explanation!

[2022-06-17 12:31] pascalgrimaud commented on #12558
Additional information @mrts : by using this architecture, we manage to generate project with 100% coverage, 0 code smell, 0 duplication, etc. Best quality as possible. I already have several projects in production for my customer, using this little project :-p
And the engine to generate project uses the same kind of architecture too. See the result (22k lines of code):

![image](https://user-imag

[2022-06-17 12:33] pascalgrimaud commented on #12558
Anyway, sorry for this out of subject: if no body wants to start the work on Vue3, I'll close this ticket. We can open smaller tickets to ease the contribution and help the contributors

[2022-06-17 12:36] mrts commented on #12558
I would prefer to keep it open, although I'm not a JHipster team member and cannot influence decision-making. We are waiting for  Bootstrap Vue Vue 3 support that should arrive eventually and it is possible to start the work then - so it is not a question of no interest but rather about blocking on a dependency.

[2022-06-17 16:17] mraible commented on #12558
I agree it would be nice to have Vue 3 support in the main JHipster generator.

[2022-06-17 16:48] michaelzangl commented on #12558
Just don't include that code. I work with Vue3+Bootstrap for almost 2 years now. Most of the bootstrap JS code is just for e.g. dismissing alerts. This mechanism can easily be re-build in Vue. I only use Bootstrap for Styling.

[2022-06-17 18:52] CTaylorEason opened #18945 "How do I update my Webpack-cli to the latest version?"
Hello! :)

I have a question regarding webpack-cli.

As of now, npm isn't working properly for me, and I'm getting and error message that reads:
"> webpack serve "--config" "webpack/webpack.dev.js" "--env" "stats=minimal""

I looked on JHipster's github and found that the solution is to update my current version of webpack-cli from 4.9.2 to 4.10.0, and I don't know where in the files I need to do

[2022-06-18 16:58] Rapster opened #18948 "JsonIgnoreProperties: try to prevent infinite recursion while there is no potential bidirectionnal relationship"
##### **Overview of the issue**

`@JsonIgnoreProperties` is generated to prevent circular references which is good, but gets generated while there is no need to it

##### **Motivation for or Use Case**

Since there is no risk of circular references, no need to have this annotation on certain entities

##### **Reproduce the error**

Considering the jdl file:

  <details>
  <summary>JDL definitions<

[2022-06-18 20:58] Tcharl commented on #18910
Did you `npm install` before `npm start`?
Can you post your jdl or jhispter conf (.yo-rc and .jhipster folder)?

[2022-06-18 21:02] Tcharl commented on #18907
you can tweak the memory param in the `task integrationTest` plugin section of the gradle files (build.gradle or gradle/profile_<env>.gradle.
We had to find a tradeoff for memory usage to constrained environments (I.e. GH actions)

[2022-06-18 21:05] Tcharl commented on #18895
delete your `node_modules` folder, deletes your `package.lock`, then `npm install` and `jhipster upgrade`

[2022-06-18 21:19] Tcharl commented on #18919
Do you know the translation in it?

Can you PR? it's easy:
- The error looks to be [here](https://github.com/jhipster/generator-jhipster/blob/main/generators/languages/templates/src/test/resources/i18n/messages_it.properties.ejs)
- It is missing one property compare to other languages (i.e. [french](https://github.com/jhipster/generator-jhipster/blob/main/generators/languages/templates/src/test/re

[2022-06-18 21:26] Tcharl commented on #18855
Which version of node are you using? Can you try: deleting your `package.lock` and your `node_modules` then `npm install` `npm run watch`?

[2022-06-19 00:18] hamaarouf commented on #17946
I made a PR here https://github.com/jhipster/generator-jhipster/pull/18951

[2022-06-19 03:26] zicjin opened #18952 "monolith can't config hazelcast.management-center?"
##### **Overview of the issue**

[code]

##### **Reproduce the error**

my application-dev.yml:

[code]

##### **Related issues**

[Add support for the JHipster Registry in monolith applications ](https://github.com/jhipster/generator-jhipster/issues/4955)

##### **JHipster Version(s)**

7.8.1

##### **JHipster configuration**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhi

[2022-06-19 09:23] #18919 closed

[2022-06-19 09:25] gmarziou commented on #18919
@hamaarouf great job, thanks.

[2022-06-19 09:27] gmarziou commented on #18919
@NoxNox92 the fix will be part of next release

[2022-06-19 09:31] anarsultanov commented on #18318
@pascalgrimaud @deepu105 anyone planning to merge PRs and close the issue?

[2022-06-19 10:33] kvmarkovich commented on #18347
@DanielFran I have the same issue. Looking forward to a new version.

[2022-06-19 12:24] Tcharl opened #18953 "Test xToMany relationships on backend and e2e side"
##### **Overview of the feature request**

Should be nice to introduce new test that are able to test entities siblings.

##### **Motivation for or Use Case**

I sometimes encountered functional regressions on that specific aspect on some jhipster flavour
##### **Related issues or PR**

i.e. https://github.com/jhipster/generator-jhipster/pull/18884/files#diff-84e1309b6724f817b2c4b65c1dd87f443c94b1

[2022-06-19 13:13] Tcharl opened #18954 "Add column filters on list form columns"
##### **Overview of the feature request**

Could be nice to enhance the list form by adding column filters.
The user could for example click on a column label which will transform in an input text, letting the user to filter rows.
Could work for pagination when jpafilters are set, but also on frontend side for non-paginated options.

##### **Motivation for or Use Case**

I'm pretty convinced that

[2022-06-19 13:41] Tcharl commented on #18944
The only 'supported' way to update libraries is to execute `jhipster upgrade` when a new version of the platform is released.
Updating packages and dependencies by yourself is at your own risk (the community has no test for it)

[2022-06-19 13:41] #18944 closed

[2022-06-19 13:43] Tcharl commented on #18817
Deserves a bounty, doesn't it?

[2022-06-19 16:40] dungreact commented on #18440
I have same issue in windows with latest version JHipster (7.8.1). It's working fine on macos and linux

[2022-06-19 21:52] Rapster commented on #18954
Or maybe something as "simple" as Filter Row showcase of PrimeNG: https://www.primefaces.org/primeng/table/filter

[2022-06-20 06:48] CSC-Sendance commented on #17756
Facing the same issue for jhipster 7.8.1 MongoDB in a microservice-style application/architecture.

[2022-06-20 06:49] tomaszwasik opened #18971 "REST APIs are not visible in Control Center 0.5.1 -> API section when using jHipster v. 7.5.0 and above"
I am quite new in jHipster world, so i am not sure if it is really a bug or I am doing something wrong. Anyway, i cross-checked it with other developers and they noticed same issue.

##### **Overview of the issue**
Micro-services and API gateway APIs are not visible in Control Center -> API section. Applications are visible in Control Center -> Instances section, Metrics sections and so on, but no

[2022-06-20 09:12] egvimo commented on #18907
Increasing the memory does not help. I've made some tests:

| Version | Time            | Result             | Remark                      |
| ------- | --------------- | ------------------ | --------------------------- |
| 7.8.1   | >120m (aborted) | :x: (OutOfMemory)  | Memory increaded to 1024m   |
| 7.8.1   | ~15m            | :x: (OutOfMemory)  | With default memory of 265m |
| 7.8.0   | ~15m

[2022-06-20 09:33] mshima commented on #18907
It’s related to testcontainer migration, azure doesn’t have docker support at windows.
You will need to change embedded kafka to start an embedded version instead of testcontainer:
https://github.com/jhipster/generator-jhipster/blob/cfc70f498ad2611f3fe366858753506bf0b01291/generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs#L219-L229

And

[2022-06-20 10:10] egvimo commented on #18907
@mshima, you are right. It is related to Kafka, but testcontainers are working well. We migrated our whole backend integration tests to testcontainers. So it's not related to them. Btw. we are using Azure DevOps CI with Ubuntu (the same is true for Github Actions).

- If I reduce the number of entities to 4. the tests are not running into an OutOfMemory error. But the Kafka test is still failing a

[2022-06-20 17:22] gmarziou commented on #18954
UI generated by JHipster is mostly no longer relevant due to lack of good tables.

PrimeNG or ag-grid are so much more powerful that I suspect that non trivial projects start by throwing away JHipster tables and replace them by PrimeNG or ag-grid. This should be a question for next survey.

The JHipster team's position so far has always been to avoid such 3rd party UI components and to prefer deve

[2022-06-20 22:27] CTaylorEason commented on #18945
Found the answer! Here is how you update your webpack-cli for anyone else who was curious.

First, check your version of webpack by running this command in the terminal of your IDE: webpack --version. You should see a list that appears like this:
webpack: 5.71.0
webpack-cli: 4.10.0
webpack-dev-server 4.8.0

If your webpack-cli reads anything below 4.10.0, then you need to update it to the latest v

[2022-06-20 22:44] #18945 closed

[2022-06-21 07:54] DanielFran commented on #18817
Adding a bug bounty, it is a lot of work

[2022-06-21 09:13] DanielFran commented on #18510
@pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/83126

[2022-06-21 09:13] DanielFran commented on #18510
@mshima Do not forget to claim also same amount, lot of work and well diserve

[2022-06-21 09:21] pascalgrimaud commented on #18510
@DanielFran : approved

[2022-06-21 11:15] clemi2408 opened #18982 "Schema references in JDL"
##### **Overview of the issue**
Does JDL support to define entities based on json schema?

[code]

Or define external specs of all kinds like:

[code]

and map them to services.

[code]
maybe this could also go hand in hand with library management in jdl - could imagine something like this to define

[code]

and usage like this:

[code]

##### **Motivation for or Use Case**

Would like to use inte

[2022-06-21 14:19] Giwayume commented on #12558
@michaelzangl

The referenced library does a whole lot more than just dismissing alerts, it has a feature-complete WAI ARIA A11y integration, which simply pretty much all other libraries don't have. It is uniquely valuable for that facet alone.

[2022-06-21 14:20] Giwayume commented on #12558
It's easy to ignore that when you have no experience in building websites in an accessible way.

[2022-06-21 16:12] DanielFran commented on #18406
Those questions should be addressed directly in StackOverflow.
Closing

[2022-06-21 16:12] #18406 closed

[2022-06-21 16:23] depressiveRobot opened #18983 "Angular unit test cannot find module from component file"
##### **Overview of the issue**

Unit test fails when importing an external module (`ngx-easy-table`) from component file. However, running the application works fine.

`./mvnw` works fine (and actually works in the browser too ;)

`./npmw test` fails:
[code]

##### **Motivation for or Use Case**

I want to use the third-party library [ngx-easy-table](https://ngx-easy-table.eu/#/) in my components

[2022-06-21 16:41] DanielFran commented on #18512
Fixed in https://github.com/jhipster/generator-jhipster/pull/18513

[2022-06-21 16:41] #18512 closed

[2022-06-21 16:48] DanielFran commented on #18769
@antsch01 There is no configuration available.
You might need to upgrade the application to fix it...
Closing for now

[2022-06-21 16:48] #18769 closed

[2022-06-21 16:56] DanielFran commented on #18685
@tejaswibm-roposo Can you confirm this is related with the same issue from https://github.com/jhipster/generator-jhipster/issues/18729?

[2022-06-21 17:03] DanielFran commented on #18728
Closing since no more information have been provided

[2022-06-21 17:03] #18728 closed

[2022-06-21 17:08] DanielFran commented on #18751
@OmarHawk Are you available to contribute and provide a PR?

[2022-06-21 17:12] DanielFran commented on #16074
Closing since there is a newer issue...

[2022-06-21 17:12] #16074 closed

[2022-06-21 18:14] paris0120 commented on #18954
How to install PrimeNG. I always get conflicts of dependencies.

[2022-06-21 20:04] gmarziou commented on #18954
@paris0120 I simply followed their docs. https://www.primefaces.org/primeng/setup

Although, it's a bit old you can have a look at my example:
https://github.com/gmarziou/jhipster-ui-libs/commit/cbfbd1854f77b3389582e610c260e73c474b13bd

[2022-06-22 10:04] tejaswibm-roposo commented on #18685
@DanielFran - I doubt its the same issue. The issue here is the way the mapperImpl are getting generated whose behaviour has changed from v7.7.0 to v7.8.1. Attaching snippets for an entity generated using the schema mentioned in the bug in both versions -

1. v7.8.1

[code]

2. v7.7.0

[code]

I have upgraded JHipster already. Hence, not able to get earlier version of generated mapperImpl.
Questio

[2022-06-22 12:37] mshima commented on #16276
Bounty claimed https://opencollective.com/generator-jhipster/expenses/83303

[2022-06-22 12:39] mshima commented on #16498
Bug bounty claimed https://opencollective.com/generator-jhipster/expenses/83301

[2022-06-22 12:41] DanielFran commented on #18510
@mshima: approved

[2022-06-23 05:24] hoyaki commented on #18440
Hi, ThePoipoi

add this option to your vm options.

**-Djdk.io.File.enableADS=true**

ref
https://www.oracle.com/java/technologies/javase/11-0-15-1-relnotes.html#JDK-8285660

[2022-06-23 11:50] atomfrede commented on #18533
@mraible Should we implement the workaround with the custom healthindicator or wait for the upstream fix? Regardless of the problem with the original issue here, that the profile is not replaced correctly.

[2022-06-23 14:58] gabjjc opened #18995 "No MethodInvocation found: Check that an AOP invocation jhipster outofthebox"
I building a new app from scratch. When up the app, this connect correctly with my mysql db, but, at the moment of login Account fail with error 500.

the only modification in my proyect is application-dev.yml, in this file set data connection for local environment.

StackTrace:

[code]

Hipster Info

INFO! Switching to JHipster installed locally in current project's node repository (node_modules)

[2022-06-23 19:34] #14157 closed

[2022-06-23 20:24] OmarHawk commented on #18751
sry, really busy at the moment :(

[2022-06-23 20:32] OmarHawk commented on #18720
Same as in the other issue applies here. Right now, unfortunetaly time constraints on my side, but would also love to take that one as soon as I find some time again (probably in one or two weeks). Also here the question is, what you think would be the best approach to solve it... I made a few suggestions in the issue's description and in doubt, I would probably go for the first suggestion, perfor

[2022-06-24 01:34] nomuna commented on #14828
Just checked it with v7.8.1

the required flag is being honored. it does not matter whether dayjs is used or momentjs.

[code]
is generating

[code]

[2022-06-24 12:46] dwarakaprasad commented on #18995
Please cd into the project root folder and export the jhipster info command, what you have provided in this defect doesn't seem to have the .yo-rc.json file content.

INFO! Using bundled JHipster

        ██╗ ██╗   ██╗ ████████╗ ███████╗   ██████╗ ████████╗ ████████╗ ███████╗
        ██║ ██║   ██║ ╚══██╔══╝ ██╔═══██╗ ██╔════╝ ╚══██╔══╝ ██╔═════╝ ██╔═══██╗
        ██║ ████████║    ██║    ███████╔╝

[2022-06-24 13:06] Ielay opened #19004 "One of the buildSpecification methods doesn't allow to build like queries"
## Overview

For some reason one of the overloaded version of **buildSpecification** doesn't allow you to build like queries:

[code]

as there are no `if (filter.getContains() != null)` check in method body as it is in some versions of the method:

[code]

The method is called from
[code]

and we want to use it to build like query of a field that is taken from another table (relationship ManyToOn

[2022-06-24 13:47] gabjjc commented on #18995
Sorry, this is mi jhipster info

[code]

[2022-06-24 14:38] SharpQin commented on #18952
I have encounter this issue today. I configured it in my microservice project.
'docker-jhipster-registry' and 'docker-product-hazelcast-management-center'  both have been started normally.
jhipster:
  cache: # Cache configuration
    hazelcast: # Hazelcast distributed cache
      time-to-live-seconds: 3600
      backup-count: 1
      management-center:
        enabled: true
        update-interval

[2022-06-24 15:11] SharpQin commented on #18952
I found following code in the old version. But how to use Hazelcast as a distributed cache in latest version?
[io/github/jhipster/config/JHipsterProperties.java](https://github.com/jhipster/jhipster/blob/cdc2888e5ae08af99504c2dcd94a97e8d3fdb829/jhipster-framework/src/main/java/io/github/jhipster/config/JHipsterProperties.java)
`public static class Hazelcast {

    private int timeToLiveSeconds = J

[2022-06-24 19:14] ThePoipoi commented on #18440
Perfect, it's working !!! Thanks a lot :)
For those who want to know, I had to add it in VM option of the run configuration, like that:
![Sans titre](https://user-images.githubusercontent.com/25198074/175650231-733905fc-bda0-4df2-b5e6-61e4546efd2a.png)

[2022-06-24 20:07] dwarakaprasad commented on #18995
It might sound crazy... I had the same issue right out of the box with the mysql-docker image but when I did a ./mvnw clean install -Dskiptests and then ./mvnw -Dskiptests worked fine.
-Dskiptests is just to speed up the process...

Not sure why doing a clean install solved this issue.

[2022-06-24 22:04] gzsombor commented on #19004
The reason for the difference, is that the Filter<X> doesn't have getContains() method - only StringFilter has that attribute, that's why it is missing from the buildSpecification(Filter<X>, Function<...>), you need to call the [buildSpecification(StringFilter, Function)](https://github.com/jhipster/jhipster-bom/blob/f926afbebd066ec7c989de1623f290eac67c9d9d/jhipster-framework/src/main/java/tech/jh

[2022-06-25 04:42] rikr2sanchez commented on #2078
The same happened to me, I'm using docker-compose, In my case, after the restart it was not resolved, then I rebuilded the project an launched again but some liquibase error arrise due to checksum validation, so after ```./mvnw liquibase:clearCheckSums``` and ```docker-compose up``` again, it was resolved.

[2022-06-25 15:26] dungreact commented on #18440
I tried but still get these error,
![image](https://user-images.githubusercontent.com/48669780/175780195-8bf1ba5f-5283-4d1e-a552-2d999792da48.png)

[2022-06-25 21:00] Tcharl commented on #18954
We're using bootstrap, aren't we? :-p

[2022-06-25 21:20] Tcharl commented on #18983
Only the bare framework is supported as-is: I guess that you won't have any support on this repo regarding third party libraries.
You'd better post it on stackoverflow.

[2022-06-26 17:16] gmarziou commented on #18954
I can understand you want to avoid PrimeNG because it's too far away from Bootstrap but then is there anything preventing JHipster from using ag-grid with Bootstrap?

At work, we started a project with JHipster 2 years ago and replaced Bootstrap by PrimeNG from day 1 and never regretted it. It's not a big work when you don't rely on user management pages.

[2022-06-27 08:50] #18983 closed

[2022-06-27 09:57] OmarHawk commented on #18720
I think, I'd start with this one first, just because this is some rather common use-case and stuff is not working at all properly and the other one is "nice-to-have" ;-)

[2022-06-27 10:42] DanielFran commented on #18803
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/main/CONTRIBUTING.md), as mentioned in:

1.  our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/main/README.md),
2.  the ["create a new ticket" page](https://github.com/jhipster/generator-jh

[2022-06-27 10:42] #18803 closed

[2022-06-27 10:49] DanielFran commented on #18819
Closing, since doubts have been answered

[2022-06-27 10:49] #18819 closed

[2022-06-27 10:51] DanielFran commented on #18839
Closing, since doubts have been answered

[2022-06-27 10:51] #18839 closed

[2022-06-27 10:55] DanielFran commented on #18840
This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This will help the project to keep a clean issue tracker. Also, Stack Overflow will give your question a larger audience:

- This will increase your chances to g

[2022-06-27 10:55] #18840 closed

[2022-06-27 11:47] Rapster opened #19021 "Custom Docker-Compose configuration for multiple applications for monolith not working"
##### **Overview of the issue**

Based on this [custom Docker-Compose configuration for multiple applications](https://www.jhipster.tech/docker-compose/#docker-compose-subgen), creation of docker-compose file for multiple applications is not working

##### **Motivation for or Use Case**

I want to generate a global Docker Compose configuration, so I can run all services at once.

##### **Reproduce

[2022-06-27 11:48] SpiralUp opened #19022 "Separate form and entity definition"
##### **Overview of the feature request**

Change the JHipster generator to define entities and forms separately.

##### **Motivation for or Use Case**

This will enable us to better control which fields should be displayed, which controls are used to display fields, the order of fields, parent-child links between forms, form templates, etc.  A form can consist of several related components (subfo

[2022-06-27 12:05] Rapster opened #19023 "Search repositories generated for all entities"
##### **Overview of the issue**

Following up https://github.com/jhipster/generator-jhipster/issues/17142 for a monolith application.

##### **Motivation for or Use Case**

Generate search repositories only for entities that has been declared as searchable. So far, from the moment you declare one entity searchable, everything gets searchable

##### **Reproduce the error**

See JDL

##### **Related

[2022-06-27 12:06] Rapster commented on #19023
Pinging @ko5tik if you're still interested in that issue

[2022-06-27 12:15] mshima commented on #19023
At monoliths and probably microfrontends, search is opt-out `@SearchEngine(false)`.
This behavior is more new comers friendly.

[2022-06-27 13:29] ko5tik commented on #19023
If it is desired I can port this to other parts.

[2022-06-27 13:30] #18071 closed

[2022-06-27 13:54] mshima commented on #17529
This is partially done. Rever to https://github.com/jhipster/generator-jhipster/pull/18939#issuecomment-1167262967.

Blocked on https://github.com/liquibase/liquibase/issues/2306.

[2022-06-27 16:32] DanielFran opened #19028 "Liquibase changelog version: use latest version in xsd"
##### **Overview of the feature request**

Starting on liquibase version [4.12.0](https://github.com/liquibase/liquibase/releases/tag/v4.12.0), it has been introduced "latest" xsd file path. By using "latest", Liquibase will use the bundled XSD for it's version. The uploaded "latest" XSD will always be the most recent Liquibase release, so note how they can be different and locally cached IDE vers

[2022-06-27 16:50] mshima commented on #19023
IMO we should stay will current behavior.

[2022-06-27 20:54] Rapster commented on #19023
Any reason you have in mind?

[2022-06-27 21:02] Rapster commented on #19023
I don't mind that by default if search engine is set. Other options like dto, service etc. works the very same way I think

[2022-06-27 23:29] mshima commented on #19023
We should start v8 cycle soon, so it’s time to discuss.
What’s your proposal?

[2022-06-27 23:34] Rapster commented on #19023
Similar to https://github.com/jhipster/generator-jhipster/issues/17142?

[2022-06-28 05:11] #19028 closed

[2022-06-28 11:39] Tcharl commented on #18954
Not saying anything like this (my personal opinion would have been to mat-ui ;-)), Primeng looks good :-).
I guess that the choice was made because of the need of identical UI for Angular, React and Vue.
If prime does support it, and it looks it does, we can start integrating some useful components I guess

[2022-06-28 21:49] artyomsv opened #19039 "Typescript exception during gateway project creation"
##### **Overview of the issue**
Execute ```jhipster``` cli tool to generate a gateway application but got a TypeScript exception during project generation

[code]
##### **Reproduce the error**
run jhipster generator together with the provided .yo-rc.json

##### **JHipster Version(s)**
7.8.1

##### **JHipster configuration**
[code]

##### **Browsers and Operating System**
Windows with WSL2

- [ ] C

[2022-06-28 23:42] mshima commented on #19039
https://github.com/jhipster/generator-jhipster/blob/b474b1ea960d604da6fa19fc06cac43acbec434c/generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs#L121-L123

[2022-06-29 16:23] #19039 closed

[2022-07-01 08:24] syafiqit opened #19070 "Angular tooling documentation"
Angular Augury already archived, so can you suggest other alternatives for it or update the document for future reference.

[2022-07-01 13:51] dwarakaprasad commented on #19070
Based on this [1507](https://github.com/rangle/augury/issues/1507), you could use [Angular Dev Tools](https://angular.io/guide/devtools).

[2022-07-01 15:02] FrancescoMez79 opened #19071 "Problem creating docker image of jhipster project"
Dear Support,
we are trying to create a local docker image of our application, looking the Jhipster documentation:
https://www.jhipster.tech/docker-compose/

In detail, we are sending this command :
./mvnw -Pprod package verify jib:dockerBuild --offline

and we are receiving the error :
 Failed to execute goal com.google.cloud.tools:jib-maven-plugin:1.5.1:dockerBuild (default-cli) on project simpl

[2022-07-01 17:07] dwarakaprasad opened #19072 "jhipster.github.io - docker-compose up is failing"
Followed the docker & docker compose development work flow found in the [README.md](https://github.com/jhipster/jhipster.github.io/blob/main/README.md) file.

I am on Ubuntu 20.04.4 LTS running Docker version 19.03.13, build 4484c46d9d &  docker-compose version 1.27.4, build 40524192

running docker-compose up in the root folder of the cloned project throws the following exception. Looks like ther

[2022-07-01 17:15] dwarakaprasad commented on #19071
Can you please provide the below information as expected in the issue template,

[2022-07-01 19:09] mshima commented on #19071
The problem is explained here.

[2022-07-01 22:10] #18720 closed

[2022-07-02 14:39] paris0120 opened #19075 "Eureka doesn't start with customized keycloak"
##### **Overview of the issue**

I have a customized keycloak server running on 9080 (https://github.com/paris0120/keycloak-server) to replace the docker one. The realm profile is exported from the docker example. The frontend/gateway can login with the new server. However, I can't start the docker eureka server. I got the following errors. The eureka server works with the docker eureka server pro

[2022-07-02 14:47] #10198 closed

[2022-07-02 14:48] DanielFran commented on #19070
Closed via https://github.com/jhipster/jhipster.github.io/pull/1216

[2022-07-02 14:48] #19070 closed

[2022-07-02 15:26] mshima commented on #19071
Remove `--offline` from the command

[2022-07-02 15:26] #19071 closed

[2022-07-05 04:36] FrancescoMez79 commented on #19071
Hello,
if we remove --offline from command, we have another problem:
[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:1.5.1:dockerBuild (default-cli) on project simpletmt-multitenancy: 429 Too Many Requests
[ERROR] {
[ERROR]   "errors": [
[ERROR]     {
[ERROR]       "code": "TOOMANYREQUESTS",
[ERROR]       "message": "You have reached your pull rate limit. You may increase th

[2022-07-05 04:40] FrancescoMez79 commented on #19071
This is the result of jhipster info command :
"eminds@eminds-VirtualBox:~/jhipster/simpletmtapp/simpletmtapp$ jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.jso

[2022-07-05 07:54] Akuka opened #19096 "Run prettier as pre-commit hook"
##### **Overview of the feature request**

Run prettier as pre-commit hook

##### **Motivation for or Use Case**

Prettier is an opinionated code formatter. It enforces a consistent style by parsing your code and re-printing it with its own rules that take the maximum line length into account, wrapping code when necessary.

##### **Related issues or PR**

- [x] Checking this box is mandatory (this

[2022-07-05 14:41] #19096 closed

[2022-07-05 15:00] CTaylorEason opened #19099 "How to create Public Routes in Jhipster?"
Hi!

I'm having trouble with creating a public route on my Jhipster project.

In my project, I'm trying to create a 'refer a business' page so that those who are not signed in can refer a company for our team to review. This is to be a public create API. The component and the API already exists in the User/Admin portals, which was created via JDL Studios. So, the Private route exists, but I was un

[2022-07-05 18:45] mshima commented on #16275
Bounty claimed https://opencollective.com/generator-jhipster/expenses/85381.

[2022-07-05 18:46] mshima commented on #17175
Bounty claimed https://opencollective.com/generator-jhipster/expenses/85378

[2022-07-05 18:51] DanielFran commented on #17175
@mshima approved

[2022-07-06 13:46] ge65cer opened #19102 "`CachingHttpHeadersFilter` uses milliseconds to set Cache Control header"
##### **Overview of the issue**

The [CachingHttpHeadersFilter](https://github.com/jhipster/jhipster-bom/blob/main/jhipster-framework/src/main/java/tech/jhipster/web/filter/CachingHttpHeadersFilter.java) in [jhipster-bom](https://github.com/jhipster/jhipster-bom) erroneously uses milliseconds instead of seconds when calculating the `cacheTimeToLive` from the `timeToLiveInDays` configuration value

[2022-07-06 17:17] AhHa45 commented on #13800
I am also facing this problem any solution?

[2022-07-06 18:49] paris0120 opened #19103 "Keycloak as Microservice"
##### **Overview of the feature request**

Integrate Keycloak as a microservice. Example: https://github.com/paris0120/keycloak-server

##### **Motivation for or Use Case**
The keycloak can be behind the gateway. It is easier to convert a website to https and users can log in from the gateway server without jumping between different servers.

##### **Related issues or PR**

- [ ] Checking this box

[2022-07-07 04:20] FrancescoMez79 opened #19104 "Problem creating docker image of jhipster project (Issue 19071)"
Dear Support,
you have closed the old ticket 19071, but we have not solved our problem.

 We have added the log when we remove the --offline from command :
./mvnw -Pprod package verify jib:dockerBuild --offline

Can you please help us to solve this problem?

Thanks,
Francesco

[2022-07-07 04:21] FrancescoMez79 commented on #19104
We re-write the last comments:

"Hello,
if we remove --offline from command, we have another problem:
[ERROR] Failed to execute goal com.google.cloud.tools:jib-maven-plugin:1.5.1:dockerBuild (default-cli) on project simpletmt-multitenancy: 429 Too Many Requests
[ERROR] {
[ERROR] "errors": [
[ERROR] {
[ERROR] "code": "TOOMANYREQUESTS",
[ERROR] "message": "You have reached your pull rate limit. You

[2022-07-07 04:21] FrancescoMez79 commented on #19104
Last comment :

"This is the result of jhipster info command :
"eminds@eminds-VirtualBox:~/jhipster/simpletmtapp/simpletmtapp$ jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

JHipster Version(s)
simpletmt-multitenancy@0.0.1-SNAPSHOT /home/emi

[2022-07-07 07:14] TimMaltGermany opened #19797 "generate-application with websockets does not start"
**Bug description**
I used the web generator at https://start.jhipster.tech/generate-application to generate a new JHipster application with web sockets, but it fails to start with the following error message:
`Factory method 'stompWebSocketHandlerMapping' threw exception; nested exception is java.lang.IllegalStateException: No suitable default RequestUpgradeStrategy found`

**To Reproduce**
Steps

[2022-07-07 11:57] ian-hickey commented on #18440
Solution! In my case, the issue is that the xnio version doesn't work on Windows 11.

Replace the first undertow dependency (spring-boot-starter-undertow) with the following and everything works fine. There is another mention of this on the Jboss thread somewhere.
`<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-undertow</artifactId>

[2022-07-07 12:16] atomfrede commented on #19104
Maybe you need to tell jib what authentication to use too? Did you have a look at https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#authentication-methods ?

[2022-07-07 12:18] atomfrede commented on #19102
This indeed looks like a bug. We also use

`public static final long DEFAULT_SECONDS_TO_LIVE = TimeUnit.DAYS.toMillis(DEFAULT_DAYS_TO_LIVE);`

which looks wrong from the naming.

[2022-07-07 13:30] ge65cer commented on #19102
@atomfrede You are correct. If you want to reach out, our contact details are over at https://artemis.ase.in.tum.de/about.

[2022-07-07 16:13] paris0120 opened #19107 "JDL Studio"
##### **Overview of the issue**

This is a bug for jdl studio. If there is a microservice with no entities, all entities will show in the application. The generator generates applications correctly.

##### **Motivation for or Use Case**

Microservice without entities.

##### **Reproduce the error**
Check out myApp1

application {
  config {
    baseName myApp,
    applicationType gateway,
    pack

[2022-07-08 11:50] deepu105 opened #19109 "Switch to Consul as default service discovery mechanism"
Since eureka is kind of unmaintained and JHipster registry is deprecated and JHCC is unmaintained, it makes sense to make Consul the default service discovery mechanism in JHipster.

- [x] Change default in generator
- [x] Change default in JDL
- [x] update docs at hipster.tech
- [x] Test docker compose and kubernetes setup
- [x] Update conul kubernetes setup to latest version
- [x] Update JHipste

[2022-07-08 12:18] AhHa45 commented on #6319
man if we're already here just answer the question...

[2022-07-08 12:33] pascalgrimaud commented on #19109
Agree with this change

[2022-07-08 12:42] mshima opened #19111 "Integrate entities generators into each feature specific generator."
##### **Overview of the feature request**

Implement RFC https://github.com/jhipster/generator-jhipster/blob/main/rfcs/4-jhipster-rfc-entity-as-core.md.

- [x] entities
- [x] entities-client
- [x] entity
- [x] entity-client
- [x] entity-i18n
- [x] entity-server

##### **Motivation for or Use Case**

Improve developer experience.

##### **Related issues or PR**

- [ ] Checking this box is mandatory

[2022-07-08 12:49] mshima opened #19112 "Drop deprecated or unmaintained generators."
##### **Overview of the feature request**

To be dropped
- [x] add
- [ ] ~init~ used by generate-blueprint
- [x] upgrade-config https://github.com/jhipster/generator-jhipster/pull/19655/commits/ab46e40d7013e68a1d82d3578d62a7c29f5b466e

Consider to drop:
- [x] aws https://github.com/jhipster/generator-jhipster/pull/23422/commits/5c200749827e4bbbd2fe1bfdf5ed7cd9b66e5a89
- [x] azure-app-service https

[2022-07-08 12:50] mshima opened #19113 "Switch to ESM."
##### **Overview of the feature request**

- [ ] app
- [ ] base
- [ ] bootstrap
- [ ] bootstrap-application
- [ ] ci-cd
- [ ] client
- [ ] common
- [ ] cypress
- [ ] database-changelog
- [ ] database-changelog-liquibase
- [ ] docker-compose
- [ ] generate-blueprint
- [ ] gradle
- [ ] heroku
- [ ] kubernetes
- [ ] java
- [ ] languages
- [ ] maven
- [ ] project-name
- [ ] server
- [ ] spring-boot
-

[2022-07-08 12:53] mshima opened #19114 "Integrate languages inside feature specific generator."
##### **Overview of the feature request**

Implement language inside feature specific generator like https://github.com/jhipster/generator-jhipster/blob/main/rfcs/4-jhipster-rfc-entity-as-core.md.

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-07-08 23:44] KiraLis39 opened #19115 "Database type is required to validate entities"
##### **Overview of the issue**

Внезапно не могу импортировать jdl.
Ввожу команду, как всегда jhipster import-jdl c:\jhipster-jdl.jdl
Получаю почти сразу же ошибку: ERROR! Error during import-jdl: Database type is required to validate entities.
`
Welcome to JHipster v7.8.1

INFO! Executing import-jdl c:\jhipster-jdl.jdl
INFO! The JDL is being parsed.
Error: Database type is required to validate e

[2022-07-09 00:12] KiraLis39 commented on #19115
Всё, разобрался -_-
У меня терминал второй не в ту папку был открыт в Idea. Хоть бы писали, что "файл не обнаружен в такой-то папке" или типа того..

[2022-07-09 00:12] #19115 closed

[2022-07-09 19:28] Rapster commented on #19021
Turns out, it's not the root directory you have to select but more the parent directory of your app.

[2022-07-09 19:28] #19021 closed

[2022-07-11 12:15] FrancescoMez79 commented on #19104
We have tried to setting authentication using Maven setting.

We have changed the settings.xml in .m2 dir of Ubuntu, setting this :
<server>
        <id>registry.hub.docker.com</id>
        <username>fmezzina</username>
        <password>xxxxx</password>
    </server>

but we have the same error removing --offline from command.

What I wrong? What do we set in "id" field? I have setted my credenti

[2022-07-11 17:35] indiepopart opened #19123 "generated CircleCI config.yml for microservice fails when installing docker on CircleCI"
##### **Overview of the issue**

I am working with the [Reactive JHipster](https://github.com/oktadev/java-microservices-examples) example from Okta. I generate the CircleCI config for the store microservice with JHipster. The generated config fails during the docker installation step on CircleCI platform. I tried to fix the docker install step, but the pipeline then fails in the backend tests ste

[2022-07-11 20:40] giraone opened #19124 "Enhancement of the username/password implementation"
##### **Overview of the feature request**

I am using JHipster with the "standard" username/password authentication in a project. This project lately had a security penetration test. There were two findings related to the JHipster implemetation:

1. Unverified password change
  - CVSS 3.1 score of [8.8](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:H/A:H)
  - *Wh

[2022-07-11 21:01] atomfrede commented on #19124
Thanks for the heads up. Are you sure to add the "old password" to password reset? I mean the idea is you don't know the old password and need to reset. For changing my own password (when logged in) I need to enter my old password (at least I am not aware we have changed that).

Regarding integrating the password library, I am a bit reluctant as I am pretty sure everyone would like to have a diffe

[2022-07-12 05:25] giraone commented on #19124
Sorry, of course no for the reset. The policy checker had to be added for both screens - at least the server response must be evaluated also in the reset screen.

Concerning the password lib: here is a peace of code, that I am using:

[code]

I would suggest to provide only an interface for the setup and a simple and sane default implementation: e.g. only for english passwords, probably no diction

[2022-07-12 08:58] mvarakin opened #19133 "async/await issue with createAsyncThunk"
Shouldn't axios.get... calls use await prefix?

Currently I have typescript linter errors over all the reducers in getEntities and getEntity
"Async arrow function has no 'await' expression."

JHipster version used to create the project is 7.8.1

export const getEntities = createAsyncThunk('employee/fetch_entity_list', async ({ page, size, sort }: IQueryParams) => {
  const requestUrl = `${apiUrl}?

[2022-07-12 10:27] Meriem-22 commented on #18471
hello i'm having an issue in using jhipster-entity-audit generator . I installed the generator-jhipster-entity-audit by using this command
"npm install -g generator-jhipster-entity-audit"
and then I installed "yo" by using this command "npm install -g yo" .
but this command "yo jhipster-entity-audit" generates this error : use of deprecated folder mapping "./generators/" in the "exports" field mod

[2022-07-12 15:03] mshima commented on #19133
Please remove async from the arrow function.
If there is no await, async is not required.
By returning a Promise (async function call) the method is implicitly async.

Can you provide a PR?

[2022-07-12 15:15] mshima commented on #19133
https://github.com/jhipster/generator-jhipster/blob/2b98ce8cb2b418ffeb1e4965388d88628767c2b7/generators/entity-client/templates/react/src/main/webapp/app/entities/entity.reducer.ts.ejs#L69

https://github.com/jhipster/generator-jhipster/blob/2b98ce8cb2b418ffeb1e4965388d88628767c2b7/generators/entity-client/templates/react/src/main/webapp/app/entities/entity.reducer.ts.ejs#L80

We can remove others

[2022-07-12 23:50] ari62 commented on #18817
apologies if this isn't the correct place to ask, but will we be able to upgrade our angular version easily via a jhipster or angular command line command? thank you

[2022-07-13 06:13] #19102 closed

[2022-07-14 09:52] atomfrede commented on #19124
I would say we might have this as tips section or a small blueprint. Pretty sure a lot of users do want to force us a password policy on them. Maybe we can have such a configuration for the production profile only so during local development and testing one can use a simple password when creating users (as well as in units/integration tests).

[2022-07-14 09:54] atomfrede commented on #19099
Stackoverflow should be right point. Do you have the post/thread I will try to answer.

[2022-07-14 15:04] psk788 opened #19149 "Documentation states "no" as valid value for "search" in JDL but throws error when using"
##### **Overview of the issue**

The documentation for JDL options (https://www.jhipster.tech/jdl/options) states that "no" is a valid value for search annotation. The use case is if I don't want search enabled for a particular entity but also don't want to use the "search * with elasticsearch except C" format because it is a separate jdl and want to keep it isolated.
<img width="1102" alt="image"

[2022-07-14 18:47] CGarces commented on #18855
I also have the issue with "browser-sync-client/dist/index.min.js" in the front end
<details><summary>stacktrace</summary>
Error: Cannot find module 'browser-sync-client/dist/index.min.js'
Require stack:
- C:\foo_bar\node_modules\browser-sync\dist\snippet.js
- C:\foo_bar\node_modules\browser-sync\dist\hooks.js
- C:\foo_bar\node_modules\browser-sync\dist\browser-sync.js
- C:\foo_bar\node_modules\br

[2022-07-14 20:26] Tcharl commented on #18855
If I'm not wrong, the node version should be 16.
[code]
On my side

[2022-07-14 20:28] Tcharl commented on #18817
Hi @ari62 , it's in the doc here: https://www.jhipster.tech/upgrading-an-application/

[2022-07-15 06:31] atomfrede opened #19154 "Switch to gatling's java dsl"
##### **Overview of the feature request**

Gatling has been imho one of the best things we have in jhipster. While I still have https://github.com/jhipster/generator-jhipster/issues/13390 on my plate I would like to first migrate our gatling integration to the [(not so) new java dsl instead of the scala dsl](https://gatling.io/2021/11/gatling-3-7-java-dsl-kotlin-and-much-more/).

I guess this woul

[2022-07-15 07:00] buurd opened #19155 "Generate side-by-side code and templates"
##### **Overview of the feature request**

One of the general problems of a code-generator is how to handle the fact that one would like to change the generated code... but then if you would like to regenerate the code your changes is overwritten. This is documented at https://www.jhipster.tech/tips/035_tip_combine_generation_and_custom_code.html. The preferred solution in my mind it the side-by-s

[2022-07-15 08:54] CGarces commented on #18855
Thanks I have upgraded to v16.16.0, but still failing.

[2022-07-15 10:26] atomfrede commented on #19099
I guess its this one: https://stackoverflow.com/questions/72737082/creating-public-routes Give me some time to answer, I will provide a small example.

[2022-07-15 15:46] ksilz commented on #18817
@Tcharl, that page doesn't mention Angular (or React or Vue, for that matter). Here's what step 8 in the "[Step-by-step explanation of the upgrade process](https://www.jhipster.tech/upgrading-an-application/#step-by-step-explanation-of-the-upgrade-process)" says: "Re-generate the application using the jhipster --force --with-entities command."

I think this means there's **no use of the Angular up

[2022-07-16 00:48] amatosg commented on #11525
@DanielFran I don't know how to create new files, do I just create the ejs file? :/

[2022-07-16 12:01] dungreact opened #19157 "Can't authenticate on Windows"
##### **Overview of the issue**

I'm create an application using Jhipster stack and development on Windows 10. The problem is I can't even login to the default account or register the new one.

I tried to find the solution and got that someone put -Djdk.io.File.enableADS=true into VM options will work but I'm not. Especially, this error only occur on Windows, I tried to run this app without any mo

[2022-07-16 20:41] dwarakaprasad opened #19158 "Jhipster blueprint - Base server generators package.json's 'scripts' data not available to blueprints client generator"
##### **Overview of the issue**

I am writing a blue print to replace
1. Jhipster's angular UI (client sub-generator)
2. Modify the spring-boot backend (add new endpoints in the server sub-generator) to support the new UI.

I have completed the angular part and now in the process of modifying the server side

My current Setup: (highlighting only the important part)
[code]
The code generation works

[2022-07-17 12:39] mshima commented on #19158
You should post a repro.
I am not sure it's possible to reproduce with current information.

[2022-07-17 13:20] dwarakaprasad commented on #19158
Thankyou @mshima for your response. I was able to get both server & client scripts generated this morning by simply calling the super._postWriting() from the blueprint's server sub-generator (I dint realize that it wasn't being called in the first place and was looking all over).

This is not an issue and I am closing this.

Thank you once again...

[2022-07-17 13:20] #19158 closed

[2022-07-17 16:17] CTaylorEason commented on #19099
Yes, that is the link. Sorry for my late reply.
Thank you so much! This has been rattling my brain for a while. lol.

[2022-07-18 03:50] mayconfrr opened #19160 "Use dasherizedBaseName at docker files."
##### **Overview of the feature request**

Allow dash (-) on base name for application

##### **Motivation for or Use Case**

Not only is it best practice on docker image naming or project naming, the current regex with underline (_) enforces bad naming practice if you want to separate words.

##### Suggested change

Current is  /^[A-Za-z][A-Za-z0-9_]*$/
Change JDL regex for application.config.bas

[2022-07-18 13:51] atomfrede commented on #19022
This looks really cool, but I am not sure this would be too much for the core generator. I could think of a custom sub generator which generates forms (for an entity) either by q&a or via some external file/definition. With this it would be independent from the standard crud entity generator. So eventually the forms could be a dedicated menu item in the generated ui, but I am not sure this is the

[2022-07-18 13:59] atomfrede commented on #19124
From my point of view this feature is not complex to integrate so I am a bit reluctant to add this to the generator. For me this might go into tip and tricks section or a blogpost, wdyt @jhipster/developers ?

[2022-07-18 15:33] mshima opened #19182 "Migrate JDL to typescript"
##### **Overview of the feature request**

JDL is quite complicated to understand and missing a few features.
We should migrate it to typescript to make it simpler and may receive more contributions.

##### **Motivation for or Use Case**

Improve developer experience.

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-07-18 15:34] mshima commented on #19182
What do you think @deepu105 @MathieuAA?

[2022-07-18 15:35] MathieuAA commented on #19182
+1
The whole project should benefit from using TS

[2022-07-18 15:38] MathieuAA commented on #19182
However, TS won't be the holy grail. It can make things a bit more understandable but we need conventions for the whole project (for instance interfaces, what actually qualifies as an internal breaking change, etc.).
This is a good solution, but it won't be enough

[2022-07-18 15:46] mshima commented on #19182
Sure, can you take this ticket?

[2022-07-18 16:54] emilpaw commented on #19182
@mshima Which part of JDL are you talking about exactly? There are many files related to JDL. That would be probably too much to do at once.

I suggest to enable TS as a first step. Then smaller parts can be gradually migrated to TS.

[2022-07-18 17:12] emilpaw commented on #18238
Hey, @DanielFran the fix was merged two months ago and there is no new release of JHipster Online yet. Almost four months of statistical data is missing at this point.

What's the meaning behind adding it to the 7.9.0 milestone? I don't see a reason to wait for the next JHipster release.

[2022-07-18 17:35] mshima commented on #19182
The entire jdl folder.

Sure can be split in several PRs or even issues, but the issue is to track the entire jdl support (folder).
It's decoupled from the generators, IMO it's the best place to start typescript migration.
And then we should evaluate if we should migrate everything else and replace ESM to typescript at https://github.com/jhipster/generator-jhipster/issues/19113

[2022-07-18 20:56] pascalgrimaud commented on #19182
@mshima : I'm removing the bounty, following this https://www.jhipster.tech/bug-bounties/#how-bug-bounties-are-created

And I'm putting back the bounty, as it's totally deserved. So plz, ping Daniel, Deepu, Julien or me, if you think a ticket needs one :-)

[2022-07-19 05:02] amatosg commented on #19155
I've been doing this for a long time. The best practice is to extend the classes. Never touch the generated ones :) @agoncal made an inspiring video a while ago: https://www.youtube.com/watch?v=9WVpwIUEty0

[2022-07-19 05:19] buurd commented on #19155
@amatosg Yes, I'd like JHipster to generate the side-by-side classes. Eg provide empty classes that are supposed to be modified by the developer. Both for front and backend. Instead of leaving it as an exercise for the developer.

[2022-07-19 08:45] gmarziou commented on #19124
I like this passay lib, the rules seem easy to configure.

- I looked at the error messages, how to support i18n?
- dependencies, I'm concerned about guava (always a source of problems) and bouncy castle (any version conflicts?)
- When a password is rejected, what is the status code returned by the lib to the client?

[2022-07-19 09:11] atomfrede commented on #19124
For i18n there seems to be a SpringMessageResolver https://github.com/vt-middleware/passay/blob/master/src/main/java/org/passay/spring/SpringMessageResolver.java

[2022-07-19 11:57] jdubois commented on #15185
@nomuna did you submit the bug bounty at https://opencollective.com/generator-jhipster/expenses/85980 ? I'm guessing it's you so I'm approving it

[2022-07-19 13:18] nomuna commented on #15185
Yeah it was me. :D Thanks.

[2022-07-19 17:24] SpiralUp commented on #19022
If needed, I can present how I implemented it and how it works. With the current version of the generator it works perfectly fine. Of course, the question is whether this is the direction in which you would like to go, but I have found this to be useful in practice.

[2022-07-19 19:00] amatosg commented on #19155
Creating empty classes doesn't seem logical, plus you will have to view the generator to skip those classes.  You only need to extend the interface and then the same with the implementation.

[2022-07-20 05:27] buurd commented on #19155
So, a small modification to the suggestion could be to add a generator that will create the classes if not already exists but not overwrite. Empty classes is a small cost if it provides a clear separation of what code to change and what code to stay away from, in my mind at least. You should rarely need to answer anything but "change all" even in the first Helloworld-projects. Now you need to unde

[2022-07-20 10:00] OmarHawk commented on #18879
Hoepfully soon. :D I also have a few things that I've contributed that I manually integrated in my application before and I wich I need to get "back" as part of a release. :)

[2022-07-20 12:36] SpiralUp opened #19201 "Defining endpoint security through JDL"
##### **Overview of the feature request**

When creating an application through JHipster, it is necessary to manually adjust the security on the generated endpoints. This could be avoided if security was defined through JDL and then generated.
An example of a possible definition in JDL:

[code]

This should be reflected in the generation of EntityResource and EntityResourceIT.

I already have an i

[2022-07-20 13:09] dungreact commented on #19157
I found the solution, in the configurations, tomcat has been excluded, I remove that line and change undertow to tomcat then it's work. Thanks!

[2022-07-20 15:07] #19157 closed

[2022-07-20 15:41] SpiralUp commented on #19201
I just added a comment to the source code:
`
  // Security is enabled on this entity
  // Security type = roles
  // GET:    "ROLE_ADMIN", "ROLE_USER"
  // PUT:    "ROLE_ADMIN"
  // POST:   "ROLE_ADMIN"
  // DELETE: "ROLE_ADMIN"
`
but it's a good suggestion to make it visible in the API documentation as well - it shouldn't be hard ...

[2022-07-20 16:02] Mohammed-5253 commented on #18293
Using jhipster/generator-jhipster creates the entity successfully but fails generating admin app. I am getting bunch of errors `./gradlew` command:

[code]

I think `@types/react-router-dom` does not have type definitions for `react-router-dom@6.x.` Any workarounds?

[2022-07-20 20:27] atomfrede commented on #19099
I answered on stack overflow, try to make it here a little more detailed.

1. Make a public api path available
2. Create a public resource for you entity
3. Create a dedicated public UI part for your entity

In `SecurityConfiguration` add before the "/api/**" matcher

` .antMatchers("/api/public/**").permitAll()`

Create a new resource for your entity e.g. `CompanyResource` like this:

[code]

You

[2022-07-20 20:27] #19099 closed

[2022-07-20 20:30] atomfrede commented on #19099
Another approach would be to make the whole api path public and use preAuthorize annotation to secure methods/endpoints as needed. In this case you most likely only need to adapt the navbar to show the generated entity route and maybe adapt the logic when to show some buttons.
With this every endpoint is public by default and one can easy forget to protect the single routes/endpoints.

[2022-07-22 00:30] rikr2sanchez opened #19210 "PostreSQL database not updated after app restart"
##### **Overview of the issue**

I'm using docker for development, PostgreSQL as DB. I've followed the guidelines for the database update (Database updates with the entity sub-generator), first I removed a column, then I've created same column with different data type. Then I've stoped container, rebuilded the app image and create, start container again.

Result: First the app does not start due t

[2022-07-22 07:18] gmarziou commented on #19210
For me, it works as documented by Liquibase: when you clear checksums, changesets that have already been applied don't get re-run.

https://docs.liquibase.com/commands/maintenance/clear-checksums.html

Changesets are expected to be immutable, this is why Liquibase use checksums and this is why the --incremental-changelog feature was added to JHipster.

https://www.jhipster.tech/creating-an-app/#wo

[2022-07-22 07:18] #19210 closed

[2022-07-22 09:23] atomfrede commented on #18868
@mraible Would you say we use one common implementation for both reactive and non-reactive e.g. by using caffeine for everything (instead of using the users selected cache implementation)?

[2022-07-22 09:25] atomfrede commented on #19160
I think this once was done for a reason (I think the package name was initially the same as the base same), but I think we have changed this, so we might change the base name property to allow dashes (which I also noticed and wondered why).

[2022-07-22 14:46] ksilz commented on #18817
@ari62 Please see my previous comment if you haven't done so. @Tcharl agrees with it.

[2022-07-22 17:16] mai1015 opened #19216 "regenerate entity cause parsing error with mapper"
##### **Overview of the issue**
cannot regenerate entity after modify the java file
[code]
##### **Motivation for or Use Case**
regenerate entity when edit or add extra entity

##### **Reproduce the error**
generate project then modify java file like mapper then regenerate the enetity again

##### **Suggest a Fix**
allow user to generate only specify entity or force regenerate file.

##### **JHips

[2022-07-23 15:37] sailokeshaithagoni commented on #13604
Generating field #1

? Do you want to add a field to your entity? Yes
? What is the name of your field? userid
? Do you want to add validation rules to your field? Yes
? Which validation rules do you want to add?

================= Bp =================
Fields
userid (undefined)

Generating field #2

? Do you want to add a field to your entity? Yes
? What is the name of your field? added_timestamp

[2022-07-25 16:08] crowne opened #19225 "NPM fails to install on windows cmd"
##### **Overview of the issue**

I'm trying to build the sample jdls on windows command line using the latest version of jhipster main branch (>7.8.1)
the build generates all of the files but then throws the following error during the build:

npm WARN deprecated istanbul@0.4.5: This module is no longer maintained, try this instead:
npm WARN deprecated   npm i nyc
npm WARN deprecated Visit https://

[2022-07-26 05:44] FrancescoMez79 opened #19241 "JHipster bidirectional relationship One-2-Many"
Dear all,
we are using JHipster 6.3.1 version.
After created a new project, we have created in JDL Studio two entities :
- entity FamilyTag {
    textId String required,
    description String required,
    position Integer required,
    enabled Boolean required
}

- entity Tag {
   textId String required,
   description String required,
   position Integer required,
   enabled Boolean required,

[2022-07-26 07:13] datnguyen293 commented on #1425
It's worth a million thanks. JHipster should show some message to tell the liquibase is locking the database.

[2022-07-26 14:06] nomuna commented on #19107
![jdl_visualization_error](https://user-images.githubusercontent.com/14033335/181025908-81442914-ad01-4ab8-9780-7daa5b79b1c3.png)

Just uploaded a screenshot to clarify the issue.

[2022-07-26 16:02] giraone commented on #19124
Related to the question on the status code for the client: for my implementation, I had been using 200 with a simple response body consisting of
- a boolean "accepted" attribute (true,false)
- and a string "notAcceptedMessage" attribute containing the language specific message, why password was not accepted.
It is no (http) error - it is a semantic issue based on a policy.

[2022-07-26 20:41] mraible commented on #18868
@atomfrede That sounds like a reasonable solution.

[2022-07-26 20:43] mraible commented on #18238
I agree with @emilpaw. Can we release this soon?

[2022-07-26 20:49] mraible commented on #18533
@atomfrede I think we should implement the workaround and open a new issue linked to the upstream fix. That way, we can remove it and do a new release when it's fixed.

[2022-07-26 20:51] mraible commented on #18471
I added a bug bounty to convert this module into a blueprint.

[2022-07-26 21:03] DanielFran commented on #18238
@mraible I am back too from holidays, will try to sync with @pascalgrimaud to release it

[2022-07-27 00:03] ari62 commented on #8933
A tutorial how to remove an entity across Java / Angular would be great, the IDE Safe Delete refactoring just warns you about unsafe occurrences.

[2022-07-27 01:46] zhengchalei opened #19244 "Unknown option value 'no' for option 'clientFramework'."
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

Unknown option value 'no' for option 'clientFramework'.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operat

[2022-07-27 01:46] zhengchalei commented on #19244
application {
  config {
    applicationType monolith
    authenticationType jwt
    baseName fourPartyPayment
    buildTool maven
    cacheProvider ehcache
    clientFramework no
    databaseType sql
    prodDatabaseType mysql
    devDatabaseType h2Disk
    dtoSuffix DTO
    enableHibernateCache true
    enableSwaggerCodegen true
    languages [zh-cn, en]
    nativeLanguage zh-cn
    packageName

[2022-07-27 06:55] pshareiko opened #19246 "Translation applies only after page refresh"
##### **Overview of the issue**

The language of the site is not being changed after the language selection. Every translatable module gets replaced with translation.not.found[key].

![image](https://user-images.githubusercontent.com/81857881/181179412-e562e977-c5b5-47d6-ad63-cf232a115d6d.png)

##### **Motivation for or Use Case**

Changing languages on the site becomes unusable

##### **Reproduce

[2022-07-27 07:47] gmarziou commented on #19124
Why not returning an HTTP 400 error status?
This would sound more RESTful to me, I guess this is is what Keycloak does too.

[2022-07-27 08:09] giraone commented on #19124
It is a general decision, how this is handled in JHipster. I personally prefer the 200, because 400 can be also returned when the POST body is "technically" wrong. 200 with accepted=false would be "technically correct", but "semantically not accepted". But as I mentioned it is a general decision, that has to be consistent in the whole application.Am 27.07.2022 09:48 schrieb Gaël Marziou ***@***.**

[2022-07-27 08:17] atomfrede commented on #18868
I have some time during 🚅 travel, will try to create a first PR.

[2022-07-27 08:20] OmarHawk commented on #19225
Well, then it is not only me:

https://github.com/jhipster/generator-jhipster/pull/18936#issuecomment-1167677136

[2022-07-27 10:46] mshima commented on #19225
@OmarHawk I don’t think it’s related.
Removing puppeteer should workaround this one.

In any case you should open an issue to track that behavior and if we should revert. It was the best way I found to make npm scripts work on GitHub actions.

[2022-07-27 13:00] DanielFran opened #19247 "Upgrade Keycloak to v.19"
##### **Overview of the feature request**

See https://www.keycloak.org/2022/07/keycloak-1900-released.html
##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-07-27 13:01] DanielFran commented on #19247
cc @vishal423

[2022-07-27 14:16] OmarHawk commented on #19225
I think it is, @mshima - The problem is not puppeteer, but that it tries to execute a failing command during installation:

Which is because with the above mentioned Pull Request, we do write an npmrc locally into the project folder forcing bash as a commandline.

[2022-07-27 17:02] #17639 closed

[2022-07-27 17:04] DanielFran commented on #17639
@andrecr16 Do not forget to claim your bug bounty

[2022-07-27 17:25] andrecr16 commented on #17639
Open collective (bug bounty) expense https://opencollective.com/generator-jhipster/expenses/87977

[2022-07-27 17:47] DanielFran commented on #17639
@andrecr16 approved

[2022-07-28 00:02] mshima commented on #19225
@OmarHawk ok, your log was missing that part, if it matches.
We provide node installed though maven/gradle.
It’s possible to add the node PATH at npmw.

Something like.
[code]

[2022-07-28 06:10] MathieuAA commented on #19182
If you all are serious about using TS instead of JS, then we need a clear strategy that:
  - won't impact daily contributions
  - will move us toward a goal of having a good enough TS vs JS coverage
  - will actually prevent us from making mistakes that can be avoided by using TS

Thus, we have to measure those:
  - flag and count any issue where TS is impacting contributions,
  - measure the cove

[2022-07-28 06:27] OmarHawk commented on #19225
well, the problem is not that node is not installed with maven/gradle, but that the commandline configured is not able to find the installed node, as in my case, the "bash" command is executed as wsl command, where there is no reference to the PATH where node is on.

#Maybe @crowne can give your suggestion a try, don't know if I'll get to it this week.

[2022-07-28 17:06] #18879 closed

[2022-07-28 17:10] #19004 closed

[2022-07-28 17:13] DanielFran commented on #19072
Closed by https://github.com/jhipster/jhipster.github.io/pull/1217

[2022-07-28 17:13] #19072 closed

[2022-07-28 19:00] vishal423 commented on #19247
cc @yelhouti as he did the last upgrade

[2022-07-29 13:39] mshima opened #19265 "Make cypress-audit/lighthouse optional."
##### **Overview of the feature request**

I think we should not install it by default. Will reduce angular dependencies by almost 8% (react and vue are probably more)
[code]

lighthouse is used for auditing and probably is not widely used by our users.

##### **Motivation for or Use Case**

Cleanup dependencies.

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just t

[2022-07-29 15:27] sbouchex opened #19267 "authorities are not updated into the database"
##### **Overview of the issue**

I'm using jhipster with keycloak.

If the user does not exist in the local database, it is created (according to UserService.syncUserWithIdP code) and the user authorities are stored into the jhi_user_authority table.
If the user exists in the local database, user details (name, timestamp) are updated (according to UserService.syncUserWithIdP code) but the user aut

[2022-07-29 15:31] sbouchex commented on #19267
Related to this change ? #7351

[2022-07-29 19:30] #18817 closed

[2022-07-29 19:37] #19265 closed

[2022-07-29 20:44] mshima opened #19269 "Add support to run a local blueprint"
##### **Overview of the feature request**

Blueprints are powerful to customize applications.
But it's not easy to create a blueprint package, publish (or install using git) to use it.
We may allow our users to implement a local blueprint at `.blueprint` folder.
This may improve interest in our blueprint system.

##### **Motivation for or Use Case**

Improve developer experience.

##### **Related

[2022-07-31 11:53] #18318 closed

[2022-07-31 11:55] #16988 closed

[2022-07-31 11:55] #18304 closed

[2022-08-01 02:47] terrytompkins opened #19294 "App generation issues for monolith with jHipster 7.9.0 on Linux"
##### **Overview of the issue**

Generating a monolith with the jhipster command using default options and selecting React for the framework for the client fails to complete code generation without manual intervention.  The operating system tested is Mint Linux.  The failure is caused by two issues:
1. default permissions for the generated npnw and mvnw scripts do not allow execution.  Error is:
"

[2022-08-01 04:59] dwarakaprasad opened #19295 "Enhance entities/entity sub-generator context to cover more than one entity for generation"
##### **Overview of the feature request**

Currently when the generation is initiated from a jdl file, the entities sub-generator (`_postConstruct() `method) reads the .`jhipster/all-entities.json` contents and composes with the the entity sub-generator (`_composing()` phase) at 'an entity' level (for e.g..) if there are 3 different entities, then 3 instances of entity sub-generator will be spun,

[2022-08-01 08:07] deepu105 commented on #19107
what is the issue here? I don't understand what you are trying to say, please clarify

[2022-08-01 11:27] atomfrede commented on #19294
Just tried it in a mac, everything worked fine. Give it a try later on my linux machine, but I don't see why it should not work right now.

[2022-08-01 11:40] atomfrede commented on #19294
Interesting, we have the same error here for example https://github.com/jhipster/generator-jhipster-native/runs/7610169099?check_suite_focus=true

[2022-08-01 12:12] atomfrede opened #19302 "Replace node download workaround for gradle"
We have following workaround in place to make node download work with gradle on m1 machines:
https://github.com/jhipster/generator-jhipster/blob/e0a5e6c7db38c6709c001f4b8bb61998b954c031/generators/server/templates/build.gradle.ejs#L577

I think it is not needed as we rely on node >=16 which has arm64 binaries, at least I didn't notice any issues with the plugin on another project.

##### **Motivat

[2022-08-01 12:27] mshima commented on #19294
This may be related to wrong permission at the template file at the published package.

[2022-08-01 12:31] atomfrede commented on #19294
Used the tag and it is correct. Doing a fresh clone to check it, but in the repository it seems to be correct at the moment.

[2022-08-01 12:35] mshima commented on #19294
package:
[code]

git:
[code]

CC @DanielFran

[2022-08-01 12:36] atomfrede commented on #19294
You've been faster 👍 Wifi on the train is quite slow right now. Seems like we need a new 7.9.1 on short notice.

[2022-08-01 12:39] mshima commented on #19302
👍

[2022-08-01 13:39] mshima commented on #19295
Not sure how the implementation would look like, looks complex and I don't understand the reason.
But I think this will somewhat covered by https://github.com/jhipster/generator-jhipster/issues/19111.

[2022-08-01 13:45] edilsonmendes opened #19304 "Entity-client template error when generating entities in JHipster 7.9.0"
##### **Overview of the issue**

During the generation of entities (jhipster jdl jhipster-jdl.jdl) in a monolith angular application, the following error is happening in entity-client template:

``
 An error occured while running jhipster:entity-client#writeClientFiles
Error running generator entities: ReferenceError: /home/edilsonmendes/.nvm/versions/node/v16.13.1/lib/node_modules/generator-jhips

[2022-08-01 13:52] mshima commented on #19304
Manually generated id is not covered by our CI.
Do you want to provide a PR?

[2022-08-01 15:27] paris0120 opened #19306 "Is direct access to keycloak server safe for oauth2 authentication"
##### **Overview of the issue**
I am not very familiar with how keycloak works under the hood but I'm not very conformable with exposing the whole keycloak server to the public. Currently, I modified it in this way. The front-end send username password to the gateway and the gateway pass them to the keyclock server and store the token and add the token to every api call to microservices. I am wond

[2022-08-01 15:37] paris0120 opened #19307 "Instruction for micro frontend"
##### **Overview of the feature request**
Can you provide some information on how to use the new micro frontend function, such as how to disable/enable in the jdl studio, which framework is used etc.  Thank you.

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-08-01 15:57] mraible commented on #19307
You can see an example in https://github.com/jhipster/jdl-samples/blob/main/reactive-mf.jdl.

[2022-08-01 16:14] paris0120 commented on #19307
Thank you so much. I'm also wondering if there is a way to keep my current version of jhipster and install the new one and I can decide which version to use when generate the code. I would like to continue my development with the current version but mitigate to the new versions when possible.

[2022-08-01 16:18] idexxt2 opened #19308 "Monolith with React client and all other options default jhipster config UI issues related to menu and translations"
##### **Overview of the issue**

Two issues:
1. Using the jhipster command to create a monolith application with all default options except selecting React as the client UI causes "translation-not-found[<key>]" (e.g. "translation-not-found[home.question]") whenever the user changes the language selection from the generated app's menu.  All text on the page which has entries in the translation conf

[2022-08-01 16:21] mraible commented on #19307
I would suggest creating a branch and trying the `npx jhipster upgrade` command on it. Or you can manually upgrade too.

https://www.jhipster.tech/upgrading-an-application/

[2022-08-01 16:22] paris0120 commented on #19307
Thank you so much.

[2022-08-01 16:33] mraible commented on #19294
I am able to reproduce this on my MacBook Pro (Intel):

[code]

[2022-08-01 16:52] mraible commented on #19308
I tried to reproduce with your `.yo-rc.json`. However, I'm unable to log in (step 5).

2022-08-01 10:50:27.582 ERROR 74686 --- [  XNIO-1 task-1] c.m.h.web.rest.UserJWTController         : Exception in authorize() with cause = 'NULL' and exception = 'The signing key's size is 312 bits which is not secure enough for the HS512 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that

[2022-08-01 17:29] jsm174 opened #19309 "JWT decoding failure when upgrading from 7.8.1 to 7.9.0"
##### **Overview of the issue**

I was working on upgrading a monolith oauth2 app from 7.8.1 to 7.9.1.

We currently use Keycloak 15.1.1.

When trying to call any services from our React app I am getting 401s.

After examining the response headers, I see:

```WWW-Authenticate: Bearer error="invalid_token", error_description="An error occurred while attempting to decode the Jwt: timestamps must be

[2022-08-01 18:30] idexxt2 commented on #19308
Is it possible that the reason this isn't working is that I modified the key when I posted the .yo-rc.json?  The issue submitting form recommended not including any sensitive key information: "You should remove any sensitive information like the rememberMe key or the jwtSecretKey key".  I can repost with that key intact if you think that is the source of the issue you are seeing.

[2022-08-01 20:25] jsm174 opened #19310 "Invalid CSRF Token for h2-console when upgrading app from 7.8.1 to 7.9.0"
##### **Overview of the issue**

While trying to upgrade a project from JHipster 7.8.1 to 7.9.0, I now get an error while logging into the h2-console:

[code]

This may not be an issue (maybe I am missing a configuration update), but an out of the box app in 7.8.1 does not have this issue.

##### **Motivation for or Use Case**

Unable to examine database locally without disabling csrf.

##### **Re

[2022-08-02 00:52] terrytompkins commented on #19308
Hi @mraible  - apologies for taking the bug reporting instructions a bit too literally with a throwaway test app.  I recreated both issues on a fresh laptop running Ubuntu Linux from the MS app store under WSL2 on a Windows 11 host.  I installed node 16.16.0 (although I have duplicated this with several versions of Node by switching versions via the nvm tool).  I then installed a fresh copy of jhi

[2022-08-02 01:41] nuprometheus commented on #19294
I have been experiencing the same issue on Windows 11

`/bin/bash: rimraf: command not found
✖ An error occured while running jhipster:client#end
ERROR! Command failed with exit code 127: npm run clean-www
Error: Command failed with exit code 127: npm run clean-www
    at makeError (C:\something\something\AppData\Roaming\npm\node_modules\generator-jhipster\node_modules\yeoman-generator\node_module

[2022-08-02 02:36] mraible commented on #19294
Increasing the bug bounty on this one since 7.9.0 is broken because of it.

[2022-08-02 02:38] mraible commented on #19308
I was able to reproduce this with your `.yo-rc.json`. I also saw this in my logs, not sure if it's related:

I noticed that if you refresh the browser, the selected language does work.

[2022-08-02 02:41] mraible commented on #19308
I added a bug bounty. @qmonmert Can you please take a look?

[2022-08-02 04:25] atomfrede commented on #19294
Did you try running npm install manually?

[2022-08-02 05:51] keerthangopi commented on #19294
Running npm install manually seems to work after changing the permission of the `gradlew` or 'mvnw' file.

[2022-08-02 07:03] budthapa commented on #19309
I am also getting the exact same error (401) and message after upgrading from 7.8.1 to 7.9.0.
We are using the Keycloak version: 15.0.2. Frontend is vue app

[2022-08-02 14:32] dwarakaprasad commented on #19295
Thankyou @mshima for your quick response.

We are developing a blueprint that will generate code for a forms application. The application will have pages with questioner (like surveymonkey) and the questions/answers are built from the JDL. We use JDL's annotation to define each page (we capture a lot of metadata like order, etc here) and the entities that belong to that page.

 We thought of using

[2022-08-02 18:53] gmarziou commented on #19109
It's a bit sad to replace Eureka by a proprietary solution that offers a very expensive Enterprise version.
Personally, I think that Spring Cloud Zookeeper would have been a nicer solution.

[2022-08-02 19:28] qmonmert commented on #19308
@mraible PR for "switch to createroot" but is does not fix the issue. I will try to fix that soon.

[2022-08-02 21:13] gmarziou commented on #19308
@terrytompkins `jhipster info` takes care of removing sensitive information, gives environment data and also includes github formatting, next time please use it.

[2022-08-03 07:07] sanjayrawat1 commented on #14525
@DanielFran this issue still not resolved.  I am using jhipster v7.8.1

[2022-08-03 07:10] atomfrede commented on #19309
We test (and support) keycloak 18 with 7.9.0 out of box. Can you try it with that version? Maybe we need to put the workaround into upgrade notices.

CC @mraible Are you aware of something which might cause this behaviour? I didn't had the issue when trying a fresh app from main with provided keycloak version.

[2022-08-03 07:11] atomfrede commented on #19306
To be honest I am not sure, but I would consider keycloak to be safe to be exposed. Its build for that purpose.

[2022-08-03 07:13] atomfrede commented on #19294
@jhipster/developers Who can help here? I think we need a new 7.9.1 package rather soon, as this block e.g. blueprint builds based on 7.9.0

[2022-08-03 08:14] gmarziou commented on #19294
@nuprometheus were you running jhipster from git bash? Does it happen with Powershell or Command Promp^t?

[2022-08-03 09:16] pascalgrimaud commented on #19294
The release was done by @DanielFran with Windows machine.
It can explain this issue, as since years, the release was done with Linux or Mac.

[2022-08-03 09:48] gmarziou commented on #19309
Maybe you should compare dependencies versions, maybe the jwt lib has introduced a regression

gradlew -q dependencies

[2022-08-03 09:57] deepu105 commented on #19294
@DanielFran I think you need to set your Git settings not to strip file permissions. Probably also need to check npm settings during publish. I can do a release if you want. @pascalgrimaud do you think everything needs to be released? or can just release the generator-jhipster npm package?

[2022-08-03 09:58] deepu105 commented on #19294
In the meantime, if anyone is facing issues, run `chmod +x` on the `gradlew` or `mvnw` file

[2022-08-03 10:03] pascalgrimaud commented on #19294
@deepu105 : I don't think a simple `npm publish` is a good idea, as it needs to be sync with bom. I would suggest to follow the release process, to secure this version.

Maybe, delete the v7.x_maintenance branche and recreate it after the v7.9.1.
I don't know if some breaking changes are already merged into main branch ?

[2022-08-03 10:09] atomfrede commented on #19294
No breaking changes. `chmod +x` also on the `npmw` file (just for reference).

[2022-08-03 11:52] deepu105 commented on #19294
Ok, since there is no response from @DanielFran I'll attempt to do the release

[2022-08-03 11:53] jsm174 commented on #19309
@atomfrede - thanks. Unfortunately, I can't upgrade Keycloak in our production environment at this time.

I was able to setup my local environment with Keycloak 18 and am still seeing this issue.

IMHO, I don't think this is a Keycloak issue --  I've checked JWTs from other sites, and `iat` and `exp` are all the same format.

For additional context, our website that connects to our jhipster servic

[2022-08-03 11:53] DanielFran commented on #19294
@deepu105 @pascalgrimaud I started a new position this week, I am out of town me actually, sorry

[2022-08-03 12:16] paris0120 commented on #19306
It's built for safety, yes, but only when you config it right and if it will never have a security bug. Right now the users not only can access the realm of the choice but can also access the other realm and the admin panel (/auth). Besides, the one provided by jhipster is with http. If we make it as a microservice behind the gateway, many things can be done at the gateway such as rate limit, ssl,

[2022-08-03 12:22] deepu105 commented on #19294
Yes i'm doing it right now. And no worries, we all do this in free time and there is no obligations

[2022-08-03 12:26] atomfrede commented on #19309
Sure updating keycloak is no option. So agree looks like a jhipster bug. Maybe difference between maven and gradle? Will try to reproduce it.

[2022-08-03 12:30] atomfrede commented on #19306
Yes hardening keycloak for production and correct configuration is needed. If that means hide it from the public thats the way to go, but I guess it depends on your use case and environment

[2022-08-03 12:35] nomuna commented on #19107
As the OP mentioned the myApp1 has no reference to any entities so in the code no domain classes/entities are generated as expected. But in the JDL visualization all the entities are listed under myApp1 just like for myApp.

I am guessing the JDL visualization is buggy?

[2022-08-03 12:39] pascalgrimaud commented on #19294
Thanks @deepu105 : don't hesitate to ping me if needed, I can answer

[2022-08-03 12:47] atomfrede commented on #19294
Congrats! And don't worry, we do it all for free.

[2022-08-03 13:30] idexxt2 commented on #19308
@gmarziou  - thank you - that's good to know, and I will follow the process the next time.  I have found another couple of issues (related to OpenAPI 3.0), so I'll have a chance to get it right after I set up demonstration apps for the issues.

[2022-08-03 13:47] deepu105 commented on #19294
v7.9.1 released

[2022-08-03 13:47] #19294 closed

[2022-08-03 14:01] pedrolucasoliva commented on #19182
I like so much prisma's schemes. Maybe it can be a source of inspiration.
https://www.prisma.io/docs/concepts/components/prisma-schema

[2022-08-03 15:31] aneri90 opened #19327 "Generated application fails to start in development with MS SqlServer container"
##### **Overview of the issue**

Generated application (tested with microservice) with MS SQL Server as database throws `com.microsoft.sqlserver.jdbc.SQLServerException` during startup when using local database without SSL encryption (eg: local database in container).

This issue is probably caused by a change in mssql jdbc drivers that now requires SSL by default.

<details>
<summary>Stacktrace</

[2022-08-03 16:53] #14949 closed, assigned to nobody

[2022-08-03 17:04] psk788 opened #19328 "Make jdl/entity generator not touch unrelated entities"
##### **Overview of the issue**

Running any entity create/update will generate changelogs for unrelated entities. It should only generate change logs for the entity in question and any related entities (example one to many related entity)

Documentation says:

which doesnt seem to be working

##### **Motivation for or Use Case**

If i want to create a new entity or update an existing one either t

[2022-08-03 17:20] nuprometheus commented on #19294
This occurs from the integrated vscode PowerShell, also I have tried from other consoles

[2022-08-03 18:51] qmonmert commented on #19308
@mshima maybe this commit https://github.com/jhipster/react-jhipster/commit/afba74cf026073d128d06423d32fbd6fe553aae3 caused a regression?
Maybe call `TranslatorContext.change()` but I don't understand very well

[2022-08-03 20:13] mshima commented on #19308
I will take a look.

[2022-08-03 22:48] terrytompkins commented on #19294
I tried 7.9.1 on Windows 10 from the command prompt and also got the error about the rimraf package not being found.
I did try  v7.9.1 on Ubuntu from Win10/WSL2 and that works fine.  I tested by ensuring that I did not have the rimraf package installed and both that error and the permissions issues were fixed in this linux-on-windows environment.  It appears that it's just the native Windows envir

[2022-08-04 04:37] vishal423 commented on #19306
It seems you want to follow the `Resource Owner Password Flow`, and that's not recommended. Refer https://www.scottbrady91.com/oauth/why-the-resource-owner-password-credentials-grant-type-is-not-authentication-nor-suitable-for-modern-applications for possible issues that can come out.

If you have suggestions to improve the current OIDC integration with Keycloak, feel free to contribute.

[2022-08-04 04:37] #19306 closed

[2022-08-04 04:38] vishal423 commented on #19247
No response. I will take a look over weekend

[2022-08-04 04:55] vidhya03 commented on #19247
Hi Vishal, @vishal423  Thanks  a lot, i'm interested in this 😀.

[2022-08-04 05:14] yelhouti commented on #19247
Sorry I am on "vacation" I can check it when I get back in few weeks.

[2022-08-04 05:28] vishal423 commented on #19247
no worries @yelhouti . @vidhya03  assigned to you

[2022-08-04 05:29] vishal423 commented on #19247
@pascalgrimaud, can we put some bounty ?

[2022-08-04 05:46] pascalgrimaud commented on #19247
@vishal423 : sure :-)

[2022-08-04 07:36] atomfrede commented on #19327
Thanks for the details report and analysis @aneri90 . Would you like to do a PR?

[2022-08-04 08:01] aneri90 opened #19334 "Enabling Sleuth in microservice/gateway application results in NoSuchMethodError during startup"
##### **Overview of the issue**

Generated application (tested with type microservice and gateway) throws NoSuchMethodError during startup when enabling spring cloud sleuth.

<pre>
Exception in thread "restartedMain" java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:119)
	at java.base/java.lang.reflect.M

[2022-08-04 08:21] deepu105 commented on #19294
I'll try on my windows machine later

[2022-08-04 08:27] atomfrede commented on #19294
The ci build using 7.9.2 works again: https://github.com/jhipster/generator-jhipster-native/pull/52

[2022-08-04 08:28] deepu105 commented on #19107
Ah ok. This is issue for another repo then

[2022-08-04 09:58] deepu105 commented on #19327
@does your PR fix this issue? https://github.com/jhipster/generator-jhipster/pull/19323 if so please close and claim the bounty

[2022-08-04 10:02] aneri90 commented on #19327
@deepu105 no, i'm working right now on another PR for this issue. Almost done :)

[2022-08-04 10:09] atomfrede commented on #19309
There is the `MappedJwtClaimSetConverter`, configured like below. So it looks like  either the converter is not using the defined conversion or it doesn't work (which at least the code does not allow as it would throw an exception).

[code]

[2022-08-04 10:48] mshima commented on #19308
There is a race condition where the ui is refreshed before the translation have been loaded.
If you switch the language twice you will see the translation.
I will provide a PR.

[2022-08-04 14:50] aneri90 opened #19337 "Failing Integration tests in reactive application with MSSQL Server database"
##### **Overview of the issue**

All integration tests in a generated reactive application that uses MSSql Server are failing.

<pre>
Failed to obtain R2DBC Connection; nested exception is java.net.UnknownHostException: Failed to resolve 'localhost:50494;encrypt=false'
</pre>

##### **Motivation for or Use Case**

Restore integration tests in reactive application that uses MSSqlServer

##### **Rep

[2022-08-04 15:35] lazyo666 opened #19338 "Enrich user information results in NullPointerException if "preferred_username" is not existing"
##### **Overview of the issue**

Every call to the Gateway results in a NullPointerException if  claim do not contain the "preferred_username".

`java.lang.NullPointerException: Cannot invoke "Object.toString()" because the return value of "java.util.Map.get(Object)" is null`

##### **Motivation for or Use Case**

Successfully call a route of the gateway

##### **Reproduce the error**

1. Genrate

[2022-08-04 17:14] michelfigueiredojava commented on #17691
unfortunately the tests got too slow

[2022-08-04 17:20] mshima commented on #17691
@michelfigueiredojava test using dev profile.

[2022-08-04 17:37] mshima commented on #19307
Instructions available at https://github.com/jhipster/generator-jhipster/issues/17031.

[2022-08-04 17:37] #19307 closed

[2022-08-04 18:01] paris0120 opened #19340 "No default frontend framework for microservice"
##### **Overview of the issue**
If no framework is set for microservice, micro frontend won't generate.

##### **Motivation for or Use Case**
Micro frontend generation

##### **Reproduce the error**
There is no webapp folder generated for blog due to the lack of clientFramework value with the following jdl profile

[code]

##### **Related issues**

##### **Suggest a Fix**
Set a default client fram

[2022-08-04 18:17] paris0120 opened #19342 "Missing 'user.module.ts' file in micro frontend"
##### **Overview of the issue**
I got the following errors with micro frontend. The 'user.module.ts' file is missing.

[INFO] container entry:./user[0] - Error: Module not found: Error: Can't resolve 'app/entities/user/user.module.ts' in '/home/paris/projects/tradingemulator/ms/trading'
[INFO]
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILU

[2022-08-04 20:42] UbaidurRehman1 commented on #19334
Hi @deepu105
Can you please assign this issue to me. I'd like to spend my weekend on this issue as I recently fixed similar type of issue.

Thanks

[2022-08-05 05:07] #19327 closed

[2022-08-05 06:18] atomfrede commented on #19309
@jsm174 Can you check which nimbus version is resolved? I can't reproduce it right now with either maven nor gradle (but I am also not getting into the convert method with the debugger).

[2022-08-05 06:28] atomfrede commented on #19310
I can reproduce it. There is an xsrf token send, but it is named `XSRF-TOKEN` while h2 console seems to expect to find it in `X-XSRF-TOKEN`

[2022-08-05 06:53] aneri90 commented on #19337
Solving the r2dc url issue brings to light another problem with a blocking call detected by BlockHound inside mssql reactive client.

I can work on this issues and provide a PR by the end of this weekend.

[2022-08-05 07:05] #19246 closed

[2022-08-05 07:05] #19308 closed

[2022-08-05 07:05] #18910 closed

[2022-08-05 07:35] joe-bookwood commented on #18486
This issue is also in jhipster 7.9.0. I generated the app with the monolith jdl sample file from the jdl editor, and changed authenticationType to oauth2.

[2022-08-05 11:59] jsm174 commented on #19309
Not sure if I'm doing this correctly, but I wiped `~/.gradle` and `.gradle`

[code]

[2022-08-05 12:04] atomfrede commented on #19309
Thanks thats fine. So 9.22 what it have too. And you are "just" e.g. opening an entity page in the ui to get that error? Using a plain jhipster monolith?

[2022-08-05 12:14] jsm174 commented on #19309
(Just updated above with 7.8.1 deps.)

No, we have a standalone react app that uses something similar to `keycloak.js` to handle access / refresh tokens. We then use that in the authorization header when calling the services in the jhipster monolith.

[2022-08-05 12:25] jsm174 commented on #19309
<img width="1799" alt="Screen Shot 2022-08-05 at 8 22 43 AM" src="https://user-images.githubusercontent.com/1197137/183076475-05cf9ff9-372e-40ae-8a8f-b325c70e0707.png">

Here's a little bit of the stack trace right at the `CustomClaimConverter`.

[2022-08-05 12:33] atomfrede commented on #19309
I don't stop in this methods when using the generated jhipster ui. Need to check, but yes it looks a little strange, definitly not an instant in the token

[2022-08-05 14:09] #19310 closed

[2022-08-05 15:23] deepu105 opened #19349 "Setup new GitHub issue templates"
Setup new issue templates like these

https://github.com/FortAwesome/Font-Awesome/blob/6.x/.github/ISSUE_TEMPLATE/100_web_bug_report.yml

[2022-08-05 15:27] deepu105 commented on #19294
I was able to reproduce the rimraf issue in Windows. Seems like the actual cause is `npm install` failing
[code]

When I run `npm install` manually and inspect the error log, it seems like failure is caused by the post-install script from `@fortawesome/fontawesome-common-types@6.1.2` so either we need to downgrade this dependency or wait for a fix upstream. I have submitted an issue upstream and w

[2022-08-05 15:30] deepu105 opened #19350 "Font-awesome package fails during post-install on Windows"
Related to https://github.com/jhipster/generator-jhipster/issues/19294

I was able to reproduce the rimraf issue in Windows. Seems like the actual cause is `npm install` failing
[code]

When I run `npm install` manually and inspect the error log, it seems like failure is caused by the post-install script from `@fortawesome/fontawesome-common-types@6.1.2` so either we need to downgrade this depende

[2022-08-05 15:32] deepu105 commented on #19340
could you please follow the issue template and provide more info. Issues like these are hard to reproduce for us

[2022-08-05 15:34] deepu105 commented on #19342
@paris0120 I see that you are opening many issues and thanks for your interest in helping the project. But could you please follow the issue template and provide more details like the configuration used and so on so that we dont wate time and there is better chance of issue resolution please

[2022-08-05 15:47] paris0120 commented on #19340
Sorry. Updated.

[2022-08-05 16:08] paris0120 commented on #19342
OK, updated.

[2022-08-05 16:29] michelfigueiredojava commented on #17691
Yes @mshima, I ended up using the dev profile, it makes the tests faster. The downside is having tests connected to the sql db.

Regarding the change discussed in this ticket, I don't think it worth using TestContainers in the tests, because the tests should be fast, "this is one of the key characteristics of SelfTestingCode" (Martin Fowler).

You know the test performance is essential for TDD. Fo

[2022-08-05 17:05] mshima commented on #19340
Microservice without clientFramework is a traditional microservice.

[2022-08-05 17:05] #19340 closed

[2022-08-05 17:06] mshima commented on #19350
This is probably duplicated of https://github.com/jhipster/generator-jhipster/issues/19225

[2022-08-05 19:24] #18868 closed

[2022-08-05 19:41] #19337 closed

[2022-08-05 22:03] mshima commented on #19342
blog application is missing clientFramework, so it's not a microfrontend.
gateway is using react, store is using angular, mixing client frameworks is not supported.

[2022-08-06 07:56] jaydeep-punjani opened #19353 "npm WARN While resolving: react-virtualized@9.22.3"
##### **Overview of the issue**

Getting NPM issue while running npm install
##### **Motivation for or Use Case**

##### **Reproduce the error**
unable to start the UI from webpack using npm start. Blocked development for UI.

npm WARN ERESOLVE overriding peer dependency
npm WARN While resolving: react-virtualized@9.22.3
npm WARN Found: react@18.2.0
npm WARN node_modules/react
npm WARN   react@"18

[2022-08-06 09:45] paris0120 commented on #19340
If so why there is  microfrontends value on the gateway server? Isn't it duplicated and conflicting? You can just keep one of them for microfontend, either microfrontends in the gateway or client framework in the microservice.

[2022-08-06 09:47] paris0120 commented on #19342
Isn't this duplicated and confusing? If the microservice has to have the same client framework why they can have their own?

Also even gateway have the same framework as angular the problem still exists.

[2022-08-06 12:07] Tcharl commented on #17691
Hi @michelfigueiredojava ,

Do not mix unit tests (which should be fast for sure) that shouldn't be connected to anything (i.e. database is mocked) and integration tests which are made to test the integration of the app within its ecosystem. See the [test pyramid for reference](https://automationstepbystep.com/2020/05/02/what-is-a-test-pyramid/)
These tests should be fast to test for devs (i.e. th

[2022-08-06 12:10] mshima commented on #19340
If we try to integrate applications config (which aren’t integrated) and you extract the application out of the jdl, the application looses information and is not reproducible.
With microfrontends, you can generate each application separately (each has its own jdl).

[2022-08-06 12:13] mshima commented on #19342
See https://github.com/jhipster/generator-jhipster/issues/19340#issuecomment-1207203662

Please fix the jdl, so we can try to reproduce.

[2022-08-06 13:25] mshima opened #19354 "Rename angularX configuration option to angular."
##### **Overview of the feature request**

Cleanup.

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-08-06 18:50] mraible opened #19355 "Warning from webpack with React is a bad developer experience"
##### **Overview of the issue**

If you create an app with React and start it with `npm start`, the webpack warning takes up the whole screen and it looks like something is broken. You can close the window so you don't see it and everything works.

In a terminal, there is a warning.

[code]

In the browser, there's a jarring experience for users.

<img width="1108" alt="Screen Shot 2022-08-06 at 1

[2022-08-06 19:33] mraible commented on #19342
I was able to reproduce this today with the following command:

[code]

After generating the apps, I started the gateway and logged in. I looked in the Entities menu and found there are no errors rendered. When you use the above command with `react`, the fact that the downstream microfrontends can't be loaded is communicated to the user.

I figured if I started the `blog` app, I'd at least be able

[2022-08-06 20:13] mshima commented on #19355
@mraible I am pretty sure I fixed this at https://github.com/jhipster/generator-jhipster/pull/19339.
Can you try using main?

[2022-08-06 20:15] bluegaspode commented on #19307
I also tried to follow/try out microfrontend generation and want to support @paris0120  request.

I'm working with JHipster monolithic applications for quite some time, but just with the documentation available in #17031  I've not been able to create a microfrontend application.

reactive-mj.jdl was a great hint, as it indirectly documents the necessary changes to the jdl files. Unfortunately it d

[2022-08-06 20:31] mshima commented on #19307
Updated https://github.com/jhipster/generator-jhipster/issues/17031 description.

[2022-08-06 22:36] mraible commented on #19355
@mshima I can confirm it is fixed on the `main` branch.

[2022-08-06 22:36] #19355 closed

[2022-08-06 23:57] artyomsv commented on #19294
@deepu105 I have tried to downgrade the dependencies to these versions:
[code]
 but ```npm install``` still throws the error. Which versions did you try to install the dependencies successfully?

[2022-08-07 01:19] mshima commented on #19294
@artyomsv try removing `.npmrc` file

[2022-08-07 01:26] mshima commented on #19342
The errors happens on microfrontend side (not gateway) with oauth2.
User was wrongly been exposed by the microfrontend.
Exposing entities are not required anymore.

[2022-08-07 01:31] edilsonmendes opened #19358 "Infinite scroll pagination is not working in JHipster angular application"
##### **Overview of the issue**

In a generated monolith angular application using JHipster 7.9.x (tested on 7.9.2) there are two problems related to entities with infinite scroll:
1) App is not fetching next pages data. The main reason is that method **fillComponentAttributeFromRoute()** called after scroll event is trying to wronggly getting the page from query params, which is not available for

[2022-08-07 03:17] paris0120 commented on #19342
For the case above user entity is not required but if user has relationship with some of the entitles user entity is still needed.

[2022-08-07 03:28] paris0120 commented on #19340
Then the microfontend option for gateway is duplicated. Gateway can decide to generate which entity with 'entities' option. One thing always bothering me is that if I want to update one application I have to either have a separate jdl file or generate all the applications. I'm wondering if you can add an argument for jdl to generate only a specific application from like jhipster jdl xxx.jdl -a blo

[2022-08-07 04:19] mraible commented on #19342
@mshima Are you saying that the JDL for reactive-mf.jdl is incorrect?

https://github.com/jhipster/jdl-samples/blob/main/reactive-mf.jdl

[2022-08-07 04:27] AdhiyamanMuthu opened #19360 "'Command failed with exit code 4294963238: npm run clean-www'"
Overview of the issue,

I have started with Jhipster, I gave the following configurations to my first app
{
WARNING! Your Node version is not LTS (Long Term Support), use it at your own risk! JHipster does not support non-LTS releases, so if you encounter a bug, please use a LTS version first.
? Which *type* of application would you like to create? Monolithic application (recommended for simple pr

[2022-08-07 04:33] vidhya03 commented on #19247
Build failure, I wish to  debug the root cause, could you please suggest to how to run these tests locally.   @pascalgrimaud @vishal423

[2022-08-07 07:55] mshima commented on #19342
@mraible no, the PR https://github.com/jhipster/generator-jhipster/pull/19357 should fix the issue.

I haven't tried, but it should work just fine, the menu and routes are exposed (and everything they depends on).

[2022-08-07 08:43] artyomsv commented on #19294
@mshima Thanks! now it is working

[2022-08-07 13:49] mraible commented on #19342
@mshima I tried [your PR](https://github.com/jhipster/generator-jhipster/pull/19357) and it does fix this particular problem. However, I did notice that I'm unable to save a new blog entity. It seems like it works if I don't select a user, but no data is inserted into the database. If I do select a user, the entity is created in the database, but the user relationship is not saved.

Something migh

[2022-08-07 14:03] mraible commented on #19360
What version of Node are you using?

[2022-08-07 15:12] AdhiyamanMuthu commented on #19360
Hello Matt Raible!
I am using node version - v18.4.0.

if i use node latest node version, will my errors get resolved?

On Sun, Aug 7, 2022 at 7:33 PM Matt Raible ***@***.***> wrote:

[2022-08-07 16:09] mraible commented on #19360
Node 16 is the latest LTS version. https://nodejs.org/

Please try that.

[2022-08-07 17:16] mraible commented on #19342
I investigated and did some debugging as to why the user relationship is not getting saved properly. It appears that all the data is being sent properly from the UI, and the backend is receiving it. However, saving the `blog` entity with `blog.user` populated doesn't seem to be working. I do see the following in the logs.

[code]

@atomfrede Do you think this could be caused by an upgrade to Neo4j

[2022-08-07 18:54] mraible commented on #19342
I just tried my original [example](https://github.com/oktadev/java-microservices-examples/tree/main/reactive-jhipster) from [this blog post](https://developer.okta.com/blog/2021/01/20/reactive-java-microservices) and everything works as expected. The example is created with v7.0.1 and you can save a `blog` entity with a user without issues.

[2022-08-07 21:01] nickshoe commented on #17035
@DanielFran PR opened.

Please note that I've also ruled out the "Referrer-Policy", "Permission-Policy" and "X-Frame-Options" headers along with the "Content-Security-Policy" header, because they're all related to the client being served by the embedded http server in the Spring-Boot backend.

[2022-08-08 01:07] #19244 closed

[2022-08-08 07:20] #19358 closed

[2022-08-08 07:31] Tcharl commented on #18778
@deepu105 I get why the react-jhipster is complaining: some form React elements of the library are manipulating states and effects within the library itself, which is considered as a bad practice and unsupported in the last react versions.
It's very hard for me to adapt the lib as I didn't produce it by myself, so any help would be really appreciated.
Otherwise I'll continue to look at it, but it

[2022-08-08 07:37] Tcharl commented on #19155
Closing as there's already an open issue on the topic: https://github.com/jhipster/generator-jhipster/issues/12497

[2022-08-08 07:37] #19155 closed

[2022-08-08 07:41] Tcharl commented on #11525
@amatosg
You should create a new ejs file and also reference it in the according section of the relative 'file.js'

[2022-08-08 08:05] Tcharl commented on #19111
Just a remark on the syntax: most of the methods are using the 'Each' keyword to tell that this method to specify that it will impact the whole entity pool. The only exception being 'writingEntities' which uses plural. Could it be possible to align (e.g. using 'Each' or plural everywhere)?

[2022-08-08 10:31] #17035 closed

[2022-08-08 10:55] AdhiyamanMuthu commented on #19360
I have installed node v16.14.0
but again got some other errors while generating the jhipster as follows,

Error: JAVA_HOME not found in your environment.
Please set the JAVA_HOME variable in your environment to match the
location of your Java installation.

npm WARN EBADENGINE Unsupported engine {
npm WARN EBADENGINE   package: 'secondapp@0.0.1-SNAPSHOT',
npm WARN EBADENGINE   required: { node: '>

[2022-08-08 10:56] jankod opened #19369 "Create user always do update (error) instead of save"
##### **Overview of the issue**

On _user-management-update.component.ts_  on _save()_ method
I see when use console.log(user) that user.id is empty string but in angular it is number | null.
When I create new user always do this.userService.update()  instead this.userService.create(user)
and i got "Internal server error." because on server user has no set up user.id for update on database.

` if

[2022-08-08 11:31] mshima commented on #19369
Looks like we don't have cypress tests for user-management.

[2022-08-08 12:21] OmarHawk commented on #19350
yes, that's the same - removing or clearing the generated .npmrc works as a workaround

[2022-08-08 12:53] mshima commented on #19342
@mraible weblux+neo4j is broken for almost 6 months. And were flaky before that.
https://github.com/hipster-labs/jhipster-daily-builds/actions/workflows/neo4j.yaml?page=7
Do you think I should test user relationships using another database?

[2022-08-08 13:04] mshima commented on #19369
Workaround should be remove the optional (?) from id field at IUser and User definitions.

[2022-08-08 13:24] OmarHawk opened #19373 "Angular: NG8107 warning when compiling frontend in list and detail view with referenced other entities"
##### **Overview of the issue**
In the following line, we do produce a ? character right before the element accessor:

https://github.com/jhipster/generator-jhipster/blob/1668772197f1e5fbc21d43b07abfa833c2e66a2d/generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs#L149

This produces such warnings during frontend build:

[code]

Another

[2022-08-08 13:34] OmarHawk commented on #19373
Maybe related to https://github.com/angular/angular/issues/46918

[2022-08-08 15:01] jankod commented on #19369
This not work, I got two compile errors.

[code]

[2022-08-08 16:24] mraible commented on #19373
I saw this in the last couple of days too.

[2022-08-08 16:30] mraible commented on #19360
Node.js 16.16.0 is the latest LTS version. Can you please try that?

[2022-08-08 20:04] deepu105 commented on #18778
I'll check when I find some time

[2022-08-08 23:33] mraible commented on #19342
@mshima I tested with React and Vue. Both of them seem to let you add the user successfully.

<img width="1078" alt="Screen Shot 2022-08-08 at 17 24 56" src="https://user-images.githubusercontent.com/17892/183531756-cee1b97e-b28d-41f4-bf01-b18960711ecb.png">

However, neither one renders the user on the view or edit screens.

[2022-08-09 03:28] mraible commented on #19342
I tried a new JDL for my microfrontends architecture today, changing to no database in the gateway and PostgreSQL in the blog app. In doing so, I discovered that a database is required when using oauth2 on the gateway if you have microservices with relationships to `user`. If you use the JDL below, it'll generate just fine, but when you try to add a new blog, it'll 404 on the request for users fro

[2022-08-09 03:48] mraible commented on #19342
I checked `jhipster jdl reactive-ms` (microservices, not microfrontends). It uses Vue for the frontend. Adding a new blog with a user works and renders the entity as expected in the list. However, when you try to view the entity, there's an error in the console, and nothing loads.

[code]

<img width="1364" alt="Screen Shot 2022-08-08 at 21 32 36" src="https://user-images.githubusercontent.com/178

[2022-08-09 05:40] joe-bookwood opened #19380 "authenticationType oauth2 is broken in microservice gateway - jhipster 7.9.2"
##### **Overview of the issue**

After an update to 7.9.2 and I can't login into my Angular gateway app via Keycloak anymore. Then I change one of the jdl sample apps to my settings and generate a fresh microservice application. I start from src/main/docker the new Keycloak 18.0.0 and the jhipster-registry with docker-compose and then the gateway app with ./mvnw. When I click "sign in" in the yell

[2022-08-09 05:42] mraible commented on #19380
I've done this a lot over the last few days and it's worked fine for me. Do you see any errors in your browser's console or your app's logs?

[2022-08-09 06:49] AdhiyamanMuthu commented on #19360
No issue was found on the current node version. but still, I am facing the same issue while generating the app.

npm ERR! code ENOENT
npm ERR! syscall spawn bash
npm ERR! path D:\Jhipster\thirdapp
npm ERR! errno -4058
npm ERR! enoent spawn bash ENOENT
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!

[2022-08-09 08:13] joe-bookwood commented on #19380
There is no error. I saved the network tab from my developer window in firefox as har file:

[localhost_Archive.har.gz](https://github.com/jhipster/generator-jhipster/files/9288455/localhost_Archive.har.gz)

You can view it in text editor or you can import it in firefox to see the network communication.

Here is my modified jdl sample from the example above:
[code]

[2022-08-09 08:41] j-jeurissen commented on #11925
Yes I can confirm, the script doesn't detect the node version when you use the snap package manager. Snap is the official recommended installation method on Debian and Ubuntu based Linux distributions. The apt package is too old of course.

[2022-08-09 10:01] paris0120 opened #19381 "Add tag for updatable files"
##### **Overview of the feature request**

Add a tag for the generated file that will be upgated/rewrite by jdl such as '##jhipster' or add a tag for files to skip for upgrade such as '##skip' at the beginning of a file.

##### **Motivation for or Use Case**
When users modify the generated files they can remove or add the tag so that when jdl upgrade/regenerate the program it can skip the files in

[2022-08-09 16:03] OmarHawk commented on #17100
Well, according to your screenshots, it doesn't find the correct API endpoint in Angular. Seems as if it is below some sub path, which the Swagger UI correctly makes use of, but the Angular UI does not...

Swagger:
![grafik](https://user-images.githubusercontent.com/2911492/183701507-f682bc08-60ad-4a96-bd85-876427b1164c.png)
Frontend:
![grafik](https://user-images.githubusercontent.com/2911492/183

[2022-08-09 16:11] RDsideNow commented on #17100
@OmarHawk im not sure.  This is with the generated code unmodified.  I am using the micro front ends.  Is that possibly the issue?

[2022-08-09 16:49] mshima commented on #19342
@mraible user api is always using gateways api, it may not be synchronized.
Not sure if https://github.com/jhipster/generator-jhipster/pull/19382 fixes user issues.

[2022-08-09 18:09] mraible commented on #19342
@mshima I tried https://github.com/jhipster/generator-jhipster/pull/19382 with the following command (after checkout out the branch and running `npm link`):

[code]

I get an error when generating the apps:

[code]

[2022-08-09 19:46] Tcharl commented on #18778
Created a branch with the current library achievement

https://github.com/Tcharl/react-jhipster/tree/sort_non_paginated
https://github.com/Tcharl/generator-jhipster/tree/sort_react

I made a bit of progress, but still some work to achieve

[2022-08-09 20:44] mshima commented on #19342
@mraible I did some test with `syncUserWithIdP`. It's not compatible with microfrontends and microservices (gateways should work).
The synchronization happens here https://github.com/jhipster/generator-jhipster/blob/9f478679d9f59ef891243399809479fd93772386/generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs#L78

It's executed when the current account is fetched, so

[2022-08-09 20:45] mshima commented on #19342
The AccountResource doesn't exists at microservices.

[2022-08-09 20:58] mraible commented on #19342
@mshima I think it's fine that it's not supported. However, we might want to catch it earlier. Currently, if you use JDL to create a gateway with `oauth2` and `databaseType: no`, it will compile and generate everything just fine. However, if you have a downstream microservice with a relationship to `User`, the user lookup will fail. I'm not sure if we can do anything to validate that.

_FWIW, I do

[2022-08-09 21:02] mshima commented on #19342
@mraible should be fixed at the PR, but it's useless without the backend support.
Should we fail when a user relationship is found at Microservices?

[2022-08-09 21:10] mshima commented on #17031
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/89841.

[2022-08-09 21:30] mraible commented on #19338
@lazyo666 What identity provider do you experience this with? I haven't seen it with Keycloak, Okta, or Auth0. Nevertheless, it's a worthwhile check. Can you please provide a PR?

[2022-08-09 21:41] mraible commented on #19342
@mshima I pulled from your branch and tried again. `jhipster jdl reactive-ms --client-framework react` still has strange behavior that didn't exist when I first wrote [my tutorial](https://developer.okta.com/blog/2021/01/20/reactive-java-microservices) with JHipster 7.0.1.

The original example uses Vue. When you assign a user to a blog it'll show in the list, view, and edit screens. Now, it only

[2022-08-09 21:42] mraible commented on #19342
No. It worked at one point so it seems there's a regression.

[2022-08-09 21:57] mshima commented on #19342
Ought I think the examples worked because you are using neo4j.
At the form, the user is loaded using the gateway api.
Neo4j cascades, so the user entity (which was loaded from the gateway) and the relationship are saved.
At databases like postgresql, it would fail to save due to missing user from relationship.

[2022-08-09 21:59] mraible commented on #19342
Results for saving a blog user with microservices (`reactive-ms`) JDL:

- ms-angular: user assignment doesn't work, no errors in client or server logs
- ms-vue: user assignment does work, not rendered in view or edit screens

One interesting thing to note is I left the data intact after running the Angular example. When I loaded it up with the Vue UI, it *does* render the user in the list. So it s

[2022-08-09 22:15] mraible commented on #19342
I discovered the difference between Angular and Vue.

For Angular, the list screen issues a request to the backend with parameters.

[code]

With Vue, there are no parameters. I tried changing `blog.component.ts` to not use the query object in the `queryBackend()` method.

[code]

This makes it so the user is rendered in Angular's list screen.

<img width="1021" alt="Screen Shot 2022-08-09 at 16 1

[2022-08-09 23:31] JusticeN opened #19383 "JDL JSON Entity field"
##### **Overview of the feature request**
In some RDBMS table, use case like product attribute need dynamic fields.

##### **Motivation for or Use Case**

It will be time saving to have a Json entity field type that get converted to Java maps. Now I need to create a the field manually and have to solve merge conflicts every time I regenerate the code. E.g.: https://baeldung-cn.com/hibernate-persis

[2022-08-09 23:38] mraible commented on #19342
I tried a different JDL, this time using Angular for the client and PostgreSQL for the blog.

When I try to save a blog with a user, there's a 500 error on the server.

[code]

My JDL:

[code]

I think this logic in `BlogResource#createBlog()` used to solve this, but it's not working anymore. Maybe because it's not subscribed to?

[code]

[2022-08-09 23:58] mshima commented on #19342
@mraible implemented the syncUser logic at the /api/users api for Microservices at https://github.com/jhipster/generator-jhipster/pull/19384.
User relationships are ok.

Generated using Postgres:
[code]

[2022-08-10 08:04] Tcharl opened #19387 "[V8] modify the 'microservice' option behavior"
##### **Overview of the feature request**

I propose to modify the jdl's options to have something more clear for the end user in a microservice/gateway configuration.

The thing would be to introduce a new application option: `routed` and get rid of the `microservice` option. It also implies an adjustment of the `entities` option spec.

It would lead to this kind of jdl:

[code]

Note that these

[2022-08-10 08:07] #19369 closed

[2022-08-10 09:38] mshima commented on #17031
@DanielFran thanks

[2022-08-10 12:50] deepu105 commented on #19109
@gmarziou for the moment, its imporatnt to provide a stable option as default. I'm also not happy with providing Consul as default but unless we implement a replacement with Spring Cloud Zookeeper or something we should provide Consul as default. We can switch it back when we have something as replacement. WDYT?

[2022-08-10 12:54] deepu105 commented on #19109
@gmarziou i'm not very familiar with zookeeper, do you think we can replace Eureka with Spring cloud zookeeper for JH Registry? if so can you create a ticket with some details so we can put a bounty on it and if it gets done before v8, we can make that the default

[2022-08-10 15:12] mshima commented on #19381
Use .yo-resolve, this can be done by ignoring the file at prompt with `i` option or write the relative path to file.

[2022-08-10 15:12] #19381 closed

[2022-08-10 15:51] #19360 closed

[2022-08-10 15:51] #19225 closed

[2022-08-10 15:51] #19350 closed

[2022-08-10 15:53] dwarakaprasad opened #19389 "Enhance JDL to include new built-in entities (like User & Authority) from blueprints"
##### **Overview of the feature request**

This is a feature request to allow the blue prints to have built in entities like User & Authority. In our use-case we are building a blueprint to generate a 'Questioner application' (like surveyMonkey). As part of the core framework of the application we need to create built in entities like User & Authority and let our users define relationship with tho

[2022-08-10 15:55] mraible commented on #19342
@mshima The issue I identified in my last three comments have nothing to do with microfrontends. I know it's confusing since this issues is related to microfrontends. I was simply trying to get [`reactive-ms.jdl`](https://github.com/jhipster/jdl-samples/blob/main/reactive-ms.jdl) working, which is a microservices architecture with a monolith UI on the gateway. I tried the fix in https://github.com

[2022-08-10 19:07] #19304 closed

[2022-08-10 19:50] mraible commented on #19380
I tried creating a new microservices architecture with the JDL above. I started the Docker containers the store app depends on. Then, I tried starting the store with `./mvnw`. It fails because of Protractor:

[code]

I tried `npm i` to fix it, followed by `./mvnw` again. This time, it started up.

I'm able to reproduce your issue. It's quite strange. It seems the `/api/account` request hangs when

[2022-08-10 21:02] mraible commented on #19380
This appears to be an issue with H2. There's the following error on startup in the store.

[code]

If I try with PostgreSQL, using `./mvnw -Pprod`, it works:

<img width="1007" alt="Screen Shot 2022-08-10 at 14 59 22" src="https://user-images.githubusercontent.com/17892/184019000-0429e3c9-7abe-403e-bd09-c0840eff8bf3.png">

I tried changing the H2 version to 2.1.210 in the `pom.xml`, but that just

[2022-08-10 21:05] mraible commented on #19380
I should add that even though there's a Liquibase issue on startup with H2 v2.1.210, fake data does get loaded and authentication works.

<img width="1141" alt="Screen Shot 2022-08-10 at 15 03 49" src="https://user-images.githubusercontent.com/17892/184019822-2ebba38d-15a3-4f2b-9eb2-f773b0edcd16.png">

I'll add a bug bounty to get this fixed because I'm not sure of the correct solution.

[2022-08-10 21:17] mshima commented on #19380
May be fixed by https://github.com/jhipster/generator-jhipster/pull/19388

[2022-08-10 23:31] gmarziou commented on #19109
Consul as a short term solution is perfect.

I don't have any experience with Zookeeper itself, I only know about it through other tools like Kafka, few UI 3rd party projects exist for it. Hazelcast can use it.

So, on paper, it looks like a good Eureka replacement.
But at same time, when I look at the git repos of jhipster-registry and jhipster-control-center, it seems that they are abandoned.

S

[2022-08-10 23:41] joe-bookwood commented on #19380
I had big problems with my real project after the upgrade from 7.8.1 to 7.9.x, because one of my columns where named "value". I had no problems with with H2 v2.1.200 with the value named column. So I decided to rename that column after the upgrade. One of the pitfalls - but is a H2 problem, not related to jhipster.

[2022-08-11 00:14] mshima commented on #19380
The fix is to revert to h2 v1. It still have problems.

[2022-08-11 03:38] mraible commented on #19380
@mshima I can confirm that adding the version to `r2dbc-h2` does fix the problem.

[code]

[2022-08-11 03:39] mraible commented on #19380
Fixed by https://github.com/jhipster/generator-jhipster/pull/19388. @mshima Please collect the bounty.

[2022-08-11 03:39] #19380 closed

[2022-08-11 04:20] mraible opened #19391 "Reactive gateway does not start on Kubernetes and Google Cloud"
##### **Overview of the issue**

The error on startup is:

[code]

##### **Motivation for or Use Case**

We're working on a [new tutorial](https://github.com/oktadev/okta-blog/pull/1235) about deploying to Kubernetes on GKE with Spinnaker. This is an error we encountered in 7.9.2 that doesn't happen in 7.8.1.

##### **Reproduce the error**

Follow the steps in [this tutorial](https://deploy-previe

[2022-08-11 04:56] mraible commented on #19391
Never mind, this was happening because I was building my Docker image w/o the `prod` profile.

[2022-08-11 04:56] #19391 closed

[2022-08-11 05:49] mraible opened #19399 "Relationships to User are saved in a microservice architecture, but not rendered"
##### **Overview of the issue**

Today, I tried my original [reactive microservices example](https://github.com/oktadev/java-microservices-examples/tree/main/reactive-jhipster) from [this blog post](https://developer.okta.com/blog/2021/01/20/reactive-java-microservices) and everything works as expected. The example is created with v7.0.1 and you can save a `blog` entity with or without a `user` an

[2022-08-11 06:18] scyllor opened #19400 "Could not add user in admin user management GUI for v7.9.0"
##### **Overview of the issue**
Could not add user in admin user management GUI

![image](https://user-images.githubusercontent.com/2325287/184073818-6129156d-55b8-409b-ab4d-2273b66149c3.png)
![image](https://user-images.githubusercontent.com/2325287/184073875-ba74919b-0d15-4182-9a80-b8639f42a726.png)
![image](https://user-images.githubusercontent.com/2325287/184073923-61f9b4e3-1b04-4158-b93c-e600

[2022-08-11 08:37] ndywicki commented on #18850
For the monolithic version this is possible, as described in the documentation:
[separating-front-end-and-api](https://www.jhipster.tech/separating-front-end-and-api/#-separating-the-front-end-and-the-api-server)

On the other hand it is not a good idea to specify a value for SERVER_API_URL, in addition to the CORS setting, from a client point of view, calls to the backend API must be open to the

[2022-08-11 09:48] mshima commented on #19400
Duplicated of https://github.com/jhipster/generator-jhipster/issues/19369. Fixed on main.

[2022-08-11 09:48] #19400 closed

[2022-08-11 12:40] deepu105 commented on #19109
@gmarziou yes thats the main reason why I proposed making consul the default. JHipster registry can still be used (but IMO we should remove it as its unmaintained, maybe by offering a zookeeper version or something) so are you ok to proceed with this change (making consul default) for v8?

[2022-08-11 12:42] mshima commented on #19399
That's odd, I will take a look.

[2022-08-11 12:44] mshima commented on #19109
It's possible to drop consul-loader docker image?

[2022-08-11 12:46] deepu105 opened #19401 "Explore using Zookeeper instead of Eureka for JHipster Registry"
Explore using Zookeeper via the [Spring Cloud Zookeeper integration](https://cloud.spring.io/spring-cloud-zookeeper/reference/html/). On paper it seems like all the features that were offered by JHipster Registry can be provided by this.

This ticket is for exploration and a possible POC

Some notable points from the docs

- With a few annotations, you can quickly enable and configure the common p

[2022-08-11 12:47] deepu105 commented on #19109
@mshima not at the moment as its used to load the shared configuration for the microservices

[2022-08-11 12:49] deepu105 commented on #19401
cc @gmarziou @PierreBesson @pascalgrimaud @mraible

[2022-08-11 13:29] PierreBesson commented on #19401
I don't think this would be hard to replace Eureka by Zookeeper as the discovery integration is handled by the Spring Cloud abstraction layer. It might actually be a good choice for long term support as Zookeeper is well maintained and supported by the Apache Foundation.
Although, if we go this route, it will really be going full circle. As the oldest service discovery systems I have known about w

[2022-08-11 13:32] mraible commented on #19401
This comment seems relevant to this discussion:

https://twitter.com/spencerbgibb/status/1557718706033147905

[2022-08-11 14:29] mshima commented on #19399
@mraible this happens only with Neo4j?

[2022-08-11 15:08] mraible commented on #19399
It works with 7.0.1 and Neo4J. I tried using PostgreSQL for both gateway and blog, but [couldn't get it to work](https://github.com/jhipster/generator-jhipster/issues/19342#issuecomment-1210906276).

[2022-08-11 16:49] atomfrede commented on #19401
Zookeeper works well, we used it as configuration service. Solr uses it for discovery and configuration. Not sure why we should replace eureka. Both are quite mature with less frequent changes, but when it comes to central infrastructure I guess thats more of a pro argument :)

[2022-08-12 08:47] deepu105 commented on #19401
For me JHipster registry would be good enough if Eureka was well
maintained. Currently that doesn't seem like the case. The last commit to
the repo was a year ago and there are even some security issues open. I
personally would love to have JHipster registry back in its full glory
(with the admin dashboard and stuff)

On Thu, 11 Aug 2022, 10:06 pm Pierre Besson, ***@***.***>
wrote:

[2022-08-12 09:00] atomfrede commented on #19401
Would it be enough to use the spring eureka server application?