[2021-04-02 13:22] pascalgrimaud commented on #14556
Oh yes, good catch @mshima : the release is in progress :)

[2021-04-02 13:27] DanielFran commented on #14539
I would vote for "Technology Advisory Board" too

[2021-04-02 13:41] #14556 closed

[2021-04-02 15:12] MathieuAA commented on #14539
So do I

[2021-04-02 20:37] mshima opened #14566 "Reduce CI builds runtime."
##### **Overview of the issue**

Our CI builds are taking too much time.
Sometimes it can take more than 6 hours for PR merges tests to finish.

##### **Motivation for or Use Case**

Developer experience is really bad.

##### **Related issues**

##### **Suggest a Fix**

Reduce tests runtime.
- Improve backend test time.
- Improve frontend test time.
- Improve e2e test time.
- Filter tests.

- [ ]

[2021-04-02 21:25] aricooperman opened #14567 "Code generation error with Reactive, JWT & Websockets selected"
##### **Overview of the issue**

When you select reactive, websockets and JWT the code generated won't compile.In JWTFilter::resolveToken, the new reactive type for ServerHttpRequest does not have a getParameter method. This code does not exist if you don't select websockets.

`JWTFilter.java:43: error: cannot find symbol
        String jwt = request.getParameter(AUTHORIZATION_TOKEN);

[2021-04-02 21:31] aricooperman commented on #14567
Additionally I have found, once you make that fix so it compiles and start it via boot run, seems there is another misconfiguration for websockets with this exception:

`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'stompWebSocketHandlerMapping' defined in class path resource [org/springframework/web/socket/config/annotation/DelegatingWebSocketMessageBroke

[2021-04-03 00:34] danielbrutti opened #14569 "Hibernate dialect "Incorrect string value" when using UUID as @Id"
##### **Overview of the issue**

When creating a entity to use UUID as @Id column, the entity will fail on save with a "Incorrect string value" exception.

JDL
[code]

Entity JSON
[code]

Area.java
[code]

##### **Motivation for or Use Case**

It is not possible to save entities when using UUID to save new entities, even having utf8mb4 as character encoding in MySQL server.

##### **Reproduce the

[2021-04-03 06:43] yelhouti commented on #14108
I am willing to make a PR if more people are interested, for now I might just do it manually.

[2021-04-03 06:53] yelhouti commented on #7112
I was looking at the issues I opened and I stumbled against this :p.

what do you guys think we should do (close it again ? wait for more support ?).

For anyone interested, the generator now computes the composite ids "correctly" and blueprints can choose to implement the feature or not.

I am maintaining one that tries to stay up to date with the main branch. https://github.com/elhoutico/jhipste

[2021-04-03 06:55] yelhouti commented on #13133
now that the dust has settled, I will update the proposal above to reflect more what is wanted.

[2021-04-03 09:47] deepu105 commented on #7112
Lets close this

[2021-04-03 09:47] #7112 closed

[2021-04-03 09:49] yelhouti commented on #7112
@deepu105 bye bye bounty :D I tried I swear :D

[2021-04-03 10:13] deepu105 commented on #7112
@yelhouti we would still like to offer the bounty for the effort as its not fair. You did put in a lot of effort from what I see and we value that. So please do claim the bounty and I'll be happy to approve it

[2021-04-03 10:31] jdubois commented on #7112
Oh yes big +1 to give you the bounty.
We should also give them when people try something good, otherwise nobody will test new cool ideas.

[2021-04-03 10:38] yelhouti commented on #7112
@deepu105 @jdubois thanks a lot guys, since you think it's fair I will definitely do that :p

[2021-04-03 10:48] yelhouti commented on #7112
here it is https://opencollective.com/generator-jhipster/expenses/37662 thanks again :)

[2021-04-03 11:42] PierreBesson commented on #7112
Thank you @yelhouti for the incredible work. I know it's a lot of frustration not to have your PR merged but your efforts are very much appreciated and have contributed a lot to the discussion of the project's direction.

[2021-04-03 14:30] yelhouti commented on #7112
@PierreBesson thanks a lot for the kind words :) . Thank you all !

[2021-04-04 02:22] mshima commented on #14569
Non id UUID fields uses `@Type(type="uuid-char")`, but `BINARY(16)` seems a better alternative.
Since having UUID fields is not useful for non id fields, I think we can use `BINARY(16)` approach.
@danielbrutti can you provide a PR with the fix?

[2021-04-04 02:32] mshima commented on #14529
First problem, jdl doesn't support arrays https://github.com/jhipster/generator-jhipster/pull/12632.

[2021-04-04 09:42] kaidohallik opened #14577 "JHipster function hibernateSnakeCase() causes errors"
##### **Overview of the issue**

If `OneToOne` relation name is ending with capital letter like `oneToOneOwnerX` then in reactive application this entity gives error on data saving.

There can possibly be other places where this error occurs.

JHipster generator uses in some places function `hibernateSnakeCase()`: https://github.com/jhipster/generator-jhipster/blob/63c660509cc71a0c2ed6817dda5bafab

[2021-04-04 12:16] mshima commented on #14549
@kaidohallik can you try calling resetFakerSeed after it was created?
https://github.com/jhipster/generator-jhipster/blob/3142b03e85d65af8fe4851f0984d9284c4cfc6bf/utils/entity.js#L86

[2021-04-04 13:34] MathieuAA commented on #14529
I'm against it. A constraint should be linked to the field (JDL-wise) instead of the entity.
That, and this syntax would require you to update the name at least twice when changing a field's name.

[2021-04-04 18:59] monjurmorshed793 commented on #14540
@mraible , I have tried in windows 10 in a freshly installed machine, not working this time too (04 April, 2021). But tried in Linux, working fine. I tried to run the keycloak from dicker for windows with WSL 2.0.

[2021-04-04 23:50] mraible commented on #14540
OK, I'll reopen now that we know it's Windows related.

[2021-04-05 05:50] kaidohallik commented on #14549
@mshima If calling `resetFakerSeed` after it was created then this fixes this issue.
Should we remove all other `resetFakerSeed()` calls and leave only this new one?

[2021-04-05 10:56] kaffelmedhoussem67 opened #14584 "Elasticsearch jhipster COMPILATION ERROR"
I got this issue when i add Elasticsearch to my project :
[code]

[2021-04-05 12:20] mshima commented on #14549
Thinking about this, we can replace the others call, with
[code]
before https://github.com/jhipster/generator-jhipster/blob/f35cf8becc58c3ea52038a09138ed1cae2895a24/generators/utils.js#L286

With this change, files will be reproducible independently. An additional call to the faker at any file will not change others files.

[2021-04-05 14:24] mraible commented on #14584
Can you please include the output from "jhipster info" in this issue?

[2021-04-05 16:01] amatosg commented on #14529
Wel, that would be the case then dealing with constraints that involve only one field. Besides, when dealing with Unique constraints, I don't think I would see changes that often to the field names.

[2021-04-05 22:15] fabioportieri commented on #10552
hello
i had the same problem
i did the refactoring as said by atomfrede, but all the models generated went into *.web.api.model package so i had this problem pretty much everywhere, for now i solved it the easy way by autogenerate all the code inside a *.service.api.* package

i think the docs in https://www.jhipster.tech/doing-api-first-development/
should be changed since it lead you to write co

[2021-04-06 04:29] jfougere commented on #13081
What does that mean exactly for users currently having a UAA server & UAA authentication configured ?
Stuck in V6 ? Need to migrate to Keycloak ?

[2021-04-06 05:34] pascalgrimaud commented on #13081
@jfougere : as JHipster is a code generator, you can manually upgrade your applications and not rely anymore to JHipster.

You can still try to use v6 but I don't know the exact version when UAA was working.

I'm sorry for removing important options like this one, but it is useless to keep broken options. We were stuck when trying to migrate to Spring Boot 2.3, then 2.4. And after asking help in t

[2021-04-06 05:48] jfougere commented on #13081
Yes I understand, I am just wondering what would be the correct way forward!
I also try to understand what is now the recommended way to secure application with JHipster 7+ ?

Regarding the Spring Boot 2.3/2.4 upgrade, what was the pain point ? Was it the deprecated code from `sprint-security-oauth2` ?

[2021-04-06 05:52] pascalgrimaud commented on #13081
I suggest you to use OAuth2 with Keycloak or Okta :-)

About 2.3, I didn't take care of the migration, so I can't tell.
About 2.4, all gateways are reactive now, using Webflux, because Zuul and Ribbon are deprecated. So it would be a hard part to upgrade.

[2021-04-06 06:32] avdev4j commented on #10189
Keep it open

[2021-04-06 06:44] pascalgrimaud commented on #10189
@avdev4j : I'd like to know what can be done on generator-jhipster side ? I thought this part was done by Entando blueprint, unless I'm wrong ?

[2021-04-06 07:56] avdev4j commented on #10189
@pascalgrimaud here are several things here. Entando's blueprint allow the user to generate an MFE app within his entity to deploy it into the Entando platform. It matches well with the Entando way of work and features but not probably with the a most common micro frontend architecture.

This is @mshima worked on the Webpack 5 upgrading to be able to use the module federation feature (yes, it come

[2021-04-06 08:19] kaffelmedhoussem67 commented on #12092
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "authenticationType": "jwt",
    "cacheProvider": "ehcache",
    "clientFramework": "angularX",
    "serverPort

[2021-04-06 08:41] kaidohallik commented on #14549
Adding `generator.resetFakerSeed` to function `renderContent` in file `utils.js` doesn't improve reproducibility in the current generator version.

Calling `entityWithConfig.resetFakerSeed()` after it was created is still needed to achieve reproducible build because faker is used in entity context:
https://github.com/jhipster/generator-jhipster/blob/d2a00cd343346c4550c4ceff18605bf1d6c60964/utils/f

[2021-04-06 08:51] kaffelmedhoussem67 commented on #12092
this is my jhipster s info :
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "

[2021-04-06 08:52] kaffelmedhoussem67 commented on #14584
this is my jhipster s info :
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "

[2021-04-06 10:31] kaffelmedhoussem67 commented on #14584
I added elasticsearch manually in .yo-rc.json and i updated the gateway using "yo jhipster" the compliation-error dissapear but another i got new error:
 Failed to execute goal org.springframework.boot:spring-boot-maven-plugin:2.2.7.RELEASE:run (default-cli) on project gateway: Could not exec java: Cannot run program "C:\Program Files\Java\jdk-11\bin\java.exe" (in directory "C:\Users\Kaffel med ho

[2021-04-06 10:38] kaidohallik commented on #14549
I created #14595 for fix. If I tried to remove `resetFakerSeed` from other places then:
* in the existing project first regeneration in some places different fake values were generated (next regenerations generated the same values)
* generator tests didn't pass

So I added only one line for fix.

[2021-04-06 10:58] ohforest opened #14596 "Authority as relationship name not work!"
`$cat authority_entity_to_relationship.jdl`
entity A
entity B

relationship ManyToOne {
  A{authority} to Authority
}

relationship OneToOne {
  B{authority} to Authority
}
`$jhipster import-jdl ../authority_entity_to_relationship.jdl`
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing import-jdl ../authority_entity_to_relationship.jdl
INFO! The JDL is

[2021-04-06 13:12] mshima commented on #14549
I will take a look at https://github.com/jhipster/generator-jhipster/issues/14549#issuecomment-813366054 later.
I think it will improve long term reproducibility.

[2021-04-06 13:13] mraible commented on #14584
What JDL are you trying to use that doesn't work?

[2021-04-06 13:19] mraible commented on #10189
@pascalgrimaud We currently generate a monolith UI, which kinda breaks the whole point of microservices. A monolith UI on the gateway means a microservice + gateway needs to be redeployed when there's changes. With microfrontends, only the microservice that's updated needs to be redeployed.

[2021-04-06 14:24] sdeleuze commented on #13733
I gave https://github.com/jdubois/experimental-jhipster7-native another try and I currently see this error (wether I use Zulu or Liberica JDK) :
[code]
It does not seems to be related with native, could it be something broken in JHipster `7.0.0-SNAPSHOT`?

[2021-04-06 17:55] kaffelmedhoussem67 commented on #14584
I mean when i used commmand import-jdl to create my project and this is my jdl :
application {
  config {
    baseName gateway,
    packageName com.crm.developer.gateway,
    applicationType gateway,
    authenticationType jwt,
    prodDatabaseType mysql,
    serviceDiscoveryType eureka,
    testFrameworks [cucumber],
    useSass true,
  }
  entities *
}

application {
  config {
    baseName Lead

[2021-04-06 19:54] jidma commented on #14540
Can't reproduce on Windows 10 either.

I used the same `.yo-rc.json` as above (and Docker containers) and it worked fine.

![image](https://user-images.githubusercontent.com/2295247/113769694-cbd5f600-9710-11eb-8bd8-b0ad89ac7ff8.png)

Try cleaning your browser's localstorage and cookies (especially for localhost:9080) and try again.
This helped me when I had some issues related to Keycloak in the

[2021-04-07 03:49] EnziinSystem opened #14600 "shortMessage: 'Command failed with exit code 1: npm install'"
My environment:
[code]
Create an application:
[code]

[2021-04-07 03:51] mraible commented on #14600
If there was a `.yo-rc.json` file generated, can you please include it in your description? Also, what OS are you running?

[2021-04-07 05:05] atomfrede commented on #12558
Keep it open.

[2021-04-07 06:56] pascalgrimaud commented on #14540
@mraible : little tips -> you can use `npm run docker:others:up` instead. I think I'll upgrade the zsh shortcut to have this, something like:
- `jhothersup` for `npm run docker:others:up`
- `jhdbup` for `npm run docker:db:up`

@monjurmorshed793 :
- try to access to your Keycloak at localhost:9080, check if the realm JHipster is correctly imported, the users (admin/user), etc
- if not, it's because

[2021-04-07 18:16] jidma commented on #14463
The issue is indeed a liquibase issue.
I tried different versions of liquibase with following results:

| Liquibase version | result |
|-------|-----|
| V <= 3.10.2 | The CLOB is properly loaded
|  3.10.3 <= V <= 4.3.1 | No row is loaded
|  4.3.2 <= V  | The filename is loaded instead of the content

I opened an [issue](https://github.com/liquibase/liquibase/issues/1790) and PR on liquibase side.

[2021-04-07 18:42] Tcharl commented on #14235
Quick question on this story: should we bind constants between jdl and jsons/yo-rc when we can or keep them splitted in all cases?

For example, we can bind:  `baseName` in jdl as well as in yo-rc. But we cannot (or at least not for now `ManyToMany` in jdl and `many-to-many` in `entity.json`

This has pro and cons:
- For sure, binding can simplify the overall generator + jdl code: we'll be able to

[2021-04-07 20:19] MathieuAA commented on #14235
Binding is coupling, and coupling decreases the opportunities to have a choice, so... If the name are the same, great, but this shouldn't be a rule.

[2021-04-08 13:27] 62mkv commented on #14526
Type name `Json` could be added, which could fallback to `TextBlob` in cases when underlying storage engine does not support it; using variables in Liquibase migrations. as we currently have for `datetime`

[2021-04-08 14:46] atomfrede commented on #14226
Hi everyone,

here is a little status update what we have done and achieved already.

* With the created sample project we have identified some things to improve, which is done and can easily be added to the generator
* The migration to gradle 7 seems to be fine, this will enable file system watching which might improve incremental builds

Next steps I would like to do:

* Add a command line flag

[2021-04-08 15:22] mraible opened #14615 "Add Lighthouse to Cypress tests to identify performance regressions"
##### **Overview of the feature request**

This looks really cool. I think we should investigate adding it to JHipster.

[Using Cypress and Google Lighthouse for Performance Testing](https://applitools.com/blog/using-cypress-google-lighthouse-performance-testing)

##### **Motivation for or Use Case**

It'd be nice to know if we've done things that cause worse performance, especially for PWAs.

###

[2021-04-08 15:26] aricooperman opened #14616 "JPA Entity Filtering option does not work when using reactive option"
##### **Overview of the issue**

If you select reactive = true and also try to enable filtering on any entities, those entities will not have any filtering code generated for them, or at least the API does not support it

##### **Motivation for or Use Case**

If you want to have entity filtering and reactive at same time

##### **Reproduce the error**

Enable filtering on any entity and turn react

[2021-04-08 15:29] aricooperman commented on #13835
I get this on 7.0.1 as well

[2021-04-08 18:48] gabsone commented on #9221
How to implement this in v7?

[2021-04-08 18:51] mraible commented on #9221
@gabsone You don't need to. JHipster's monolith and gateway apps are OAuth 2.0 resource servers by default!

https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L285

[2021-04-08 19:31] gabsone commented on #9221
Thanks for quick reply, but I'm passing a token generated from login process by keyclock and passed to gateway through the authorization header... And non working. The response code is always 401.

[2021-04-08 19:39] mraible commented on #9221
It's best not to comment on a closed issue. Can you please create a new one with the steps to reproduce the problem?

[2021-04-09 02:31] mehmetcuneyit opened #14620 "Micrometer 1.6.x doesn't support the Prometheus client 0.10.x"
##### **Overview of the issue**
Microservices depend , (created with Jhipster 7.0.1)
- package: io.micrometer.micrometer-registry-prometheus version: 1.6.5
- package: io.prometheus.simpleclient version: 0.10.0

Micrometer 1.6.x (latest) doesn't support the Prometheus client 0.10.x and it causes a runtime error when using Spring Batch 4.3.2 with a simple job configuration

##### **Motivation for or

[2021-04-09 07:51] atomfrede commented on #14615
Looks really cool didn't know about the audit package.

[2021-04-09 08:54] gabsone opened #14625 "Unable to access API from CURL using Keycloack and Authorization Header"
##### **Overview of the issue**
Unable to access API from CURL using Keycloack and Authorization Header in microservices generated app:

Step 1: obtain token from keycloak with:

`curl -X POST 'http://localhost:9080/auth/realms/jhipster/protocol/openid-connect/token' \
 --header 'Content-Type: application/x-www-form-urlencoded' \
 --data-urlencode 'grant_type=password' \
 --data-urlencode 'client_

[2021-04-09 09:01] gmarziou commented on #14625
Have you compared your options with the curl command line options that swagger-ui generates on gateway?

[2021-04-09 09:19] gabsone commented on #14625
Yes.
the "swagger-ui" suggests this command:
` curl -X 'GET' \
http://localhost:8080/api/gateway/routes' \
-H 'accept: */*' \
 -H 'X-XSRF-TOKEN: f525966b-d9bf-4b02-82a0-1166e35a9b90'
`
running it however does not work:
`{
  "type" : "https://www.jhipster.tech/problem/problem-with-message",
  "title" : "Unauthorized",
  "status" : 401,
  "detail" : "Not Authenticated",
  "path" : "/api/gateway/rout

[2021-04-09 10:39] Jibbylala opened #14626 "java.lang.IllegalArgumentException when relationship ManyToMany"
Why "order" is unexpected in ManytoMany relationship

##### **Overview of the issue**

 Starting Liquibase asynchronously, your database might not be ready at startup!
2021-04-09 12:21:46.011 DEBUG 45189 --- [  restartedMain] c.m.myapp.security.jwt.TokenProvider     : Using a Base64-encoded JWT secret key
2021-04-09 12:21:46.592 ERROR 45189 --- [  restartedMain] o.h.hql.internal.ast.ErrorTracker

[2021-04-09 10:55] Jibbylala commented on #14626
~/Jhipster/mystoreapp$ jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster":

[2021-04-09 13:37] gmarziou commented on #14625
If it's the case, do you see something about it in gateway logs?

[2021-04-09 13:43] gmarziou commented on #14625
I'm surprised by what swagger-ui generated.

CSRF is disabled in SecurityConfiguration.
Anyway, what do you see in gateway logs? Have you tried increasing log level of "org.springframework.security" or using `@EnableWebSecurity(debug = true)`?

[2021-04-09 19:01] mraible commented on #13796
I experienced this today in a live stream on Twitch. Lesson learned going forward: always use Gradle if you're doing a live demo, or disable the `webapp` profile if you're using Maven.

I used JHipster 7.0.1 and it runs the webpack build every. single. time. Running `./mvnw` averages about 50 seconds to start the app, even after everything has been compiled.

If I re-create the app with Gradle, it

[2021-04-09 19:33] atomfrede commented on #13796
Don't listen to the twitter poll🙂

[2021-04-09 19:49] gmarziou commented on #13796
Gradle seems to have some drawbacks under IntelliJ, when I want to run a JUnit test class, it always runs gradle which is very slow, same thing using maven, IntelliJ does not use maven at all and just runs the class which is very fast.

After some time, gradle build is faster for JUnit tests, so there seems to be some caching here but I haven't played enough with it to understand how far it can go

[2021-04-09 20:24] atomfrede commented on #13796
Yes it uses gradle but I have never noticed that much of overhead for starting a unit test. Advantage for me is that there is no difference between run via cli or idea which I experienced when not forwarding the command to the build system.

[2021-04-10 08:32] pascalgrimaud commented on #14272
@mshima : at first, I was against this idea like @vishal423 but after looking at your PR, it seems a very good idea. And as it's optional, I'm fine with this

[2021-04-11 06:59] atomfrede commented on #13595
Keep it open.

[2021-04-11 15:03] SudharakaP commented on #14264
So, if there's no other objections to this I'll remove this sub-generator soon. 😄

[2021-04-12 05:45] ecostanzi commented on #14287
Keep it open

[2021-04-12 07:42] ecostanzi commented on #14596
Is it a monolith or a microservice? Can you paste the entire output of `jhipster info` command?

[2021-04-12 09:32] gabsone commented on #14625
the v7 use @EnableWebFluxSecurity() and CSRF is enabled:
<pre>
  http
            .securityMatcher(new NegatedServerWebExchangeMatcher(new OrServerWebExchangeMatcher(
                pathMatchers("/app/**", "/i18n/**", "/content/**", "/swagger-ui/**", "/swagger-resources/**", "/v2/api-docs", "/v3/api-docs", "/test/**"),
                pathMatchers(HttpMethod.OPTIONS, "/**")
            )))

[2021-04-12 09:58] gmarziou commented on #14625
OK, but have you tried to disable csrf to see if it has an impact and enabled more security logging?

[2021-04-12 10:21] gabsone commented on #14625
with CSRF disable ..... same result
the logging config is:
<pre>
logging:
  level:
    ROOT: DEBUG
    tech.jhipster: DEBUG
    org.hibernate.SQL: DEBUG
    com.mycompany.myapp: DEBUG
    org.springframework: DEBUG

</pre>

[2021-04-12 10:48] gmarziou commented on #14625
OK, so now you know that it's not related to CSRF

[2021-04-12 14:28] egvimo commented on #13687
I still have this issue. Is it planned to fix this or is it too much of an edge case?

[2021-04-12 17:51] jidma commented on #14626
The problem is due to the generated queries containing the reserved keyword `order`:

    select distinct order from Order order left join fetch order.products

I created a pull request to add a prefix to the instance name.

[2021-04-12 20:37] atomfrede commented on #14615
@mraible I created an [example](https://github.com/atomfrede/jhipster-cypress-audit) and did some [test with ng and vue](https://atomfrede.gitlab.io/2021/04/automated-frontend-perfomance-test-with-lighthouse-for-jhipster/). I think adding it will be a good thing. I can go on and add it to the generator if we all agree.

[2021-04-12 20:55] mraible commented on #14615
@atomfrede Fantastic work! I'm +1 for adding it so we know when we hurt front-end performance.

[2021-04-12 21:00] atomfrede commented on #14615
Can you check what cpu slowdown factor you are using? The default lighthouse ci uses  4x slowdown resulting in "mid tier mobile" cpu power. As a consequence the angular performance rating is ~75 (vue has >90 with same slowdown)

[2021-04-12 21:11] mraible commented on #14615
Are you asking me this question @atomfrede? I'm not sure why you're asking as this issue has no test results.

[2021-04-12 21:20] atomfrede commented on #14615
Yes because I remember you showed usually >90 performance rating for angular.

[2021-04-12 21:40] mraible commented on #14615
I just created a new app with v7.0.1 and `jhipster jdl default`. Then, I made it a PWA using the instructions in the README and ran it with `./mvnw -Pprod`. Results:

<img width="767" alt="Screen Shot 2021-04-12 at 3 39 26 PM" src="https://user-images.githubusercontent.com/17892/114466160-51402700-9ba5-11eb-9263-7e7d529abdf8.png">

NOTE: I tried with `./mvnw -Pprod,tls`, but Chrome refuses to load

[2021-04-12 21:47] atomfrede commented on #14615
Thanks. Will try my sample with pwa. The 4x slowdown at least is the same but I have score of 75 using angular.

[2021-04-12 21:56] mraible commented on #14615
To create React and Vue apps, I ran `rm -rf *`, changed `clientFramework` to `react` (or `vue`) and ran JHipster again. Then I uncommented the service-worker code in `src/main/webapp/index.html` and ran it with `./mvnw -Pprod`. I made sure to test each app in a brand new incognito window.

React:

<img width="764" alt="React" src="https://user-images.githubusercontent.com/17892/114467148-b7797980-

[2021-04-12 22:07] mshima commented on #14615
@mraible `jhipster jdl default --client-framework vue/react` =)

[2021-04-13 00:39] mraible commented on #13385
Still happens last time I checked.

[2021-04-13 02:57] ohforest commented on #14596
$jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "blueprints": [],
    "otherModules": [],

[2021-04-13 06:39] #14272 closed

[2021-04-13 08:08] CGarces commented on #14262
Hi.
Just for reference, also fails on Powershell

✖ The Docker image build failed. Error: Command failed: ../demo/./mvnw -ntp -Pprod verify jib:dockerBuild

[2021-04-13 08:54] DanielFran commented on #14620
@mehmetcuneyit Thanks for sharing the issue detail.
I will rollback to previous 0.9.0 version and update it only with next 1.7 micrometer version.

Until we release next version, you can exclude and add manually the correct dependency.

[2021-04-13 10:00] CGarces commented on #14262
Fixed with a really ugly workaround

https://github.com/jhipster/generator-jhipster/blob/master/generators/docker-utils.js#L114

`dockerCLI.command(`${opts.cwd.replace(/[\/]/g, "\\")}${this.dockerBuildCommand}`, err => {`

[2021-04-13 12:49] Laess3r commented on #10491
You are my hero! I had this issue in a completely different projekt (not jHipster) and found your explanation!

[2021-04-13 14:16] atomfrede commented on #14226
I will update to gradle 7 after we have integrated gradle enterprise, so do not wonder it takes a little longer than usual.

[2021-04-13 14:35] jdubois commented on #14226
@atomfrede it's awesome that you were able to help those other projects! We should definitely publicize this and thank the Gradle team for this! (if you can do a Tweet, I'll RT it with the official account)
Also, who that make sense to tell publicly about our build scans? Maybe that could help other people?

[2021-04-13 17:13] #14620 closed

[2021-04-13 18:44] jidma commented on #13835
The message appears when the doc is generated for an API with a  `@RequestBody` present:

The following example:

[code]

Gives the following output (with logger `springfox.documentation.spring.web.readers.operation.OperationParameterReader` level set to DEBUG):

[code]

The generated API documentation is correct for both cases.

According to [this comment](https://github.com/springfox/springfox/i

[2021-04-13 18:46] jidma commented on #14444
Please check [my comment](https://github.com/jhipster/generator-jhipster/issues/13835#issuecomment-818971692) for the third category of the noisy logs:

    2021-03-24 17:01:24.848 DEBUG 1644297 --- [  restartedMain] Validator // lot of these

[2021-04-13 19:15] CGarces opened #14672 "[aws-containers] Trying to connect with empty password."
##### **Overview of the issue**
I know that #14264 is open an aws-containers will die.

But I need to understand how DDBB password are passed to the container.

**JHipster 6.10.5 works fine.**

First log after JHIPSTER logo

[code]

**JHipster 7.0.1 not works.**

First log after JHIPSTER logo

[code]

It's not entering on AwsSSMConfiguration ?

After that, JHipster 7.0.1 is trying to connect to DD

[2021-04-13 19:35] SudharakaP commented on #14672
@CGarces : Did you try following the instructions here (https://www.jhipster.tech/aws/#aws-containers-sub-generator) to delete the application. Although it's a long time I tested these things, I found that all the components needs to be deleted without any leftovers. 🤔

[2021-04-14 08:21] CGarces commented on #14672
Hi @SudharakaP
I have deleted the value from AWS Systems Manager and now the generator ask me again for the pwd.
The generator create again the value at  AWS Systems Manager... but I can't see the trace of AwsSSMConfiguration that I see on 6.10.5

[code]

[2021-04-14 10:13] funder7 opened #14678 "Import JDL - process only modified entities"
##### **Overview of the feature request**

Before jh 7.0 I used to import JDL with the `--ignore-application` flag. Maybe it was a side effect, anyway it imported only the entites having some changes in the JDL syntax. Other entities (not modified in JDL) were left untouched.

##### **Motivation for or Use Case**

When you have pretty large project, this functions is useful, it saves a lot of time

[2021-04-14 14:47] #14626 closed

[2021-04-14 15:24] atomfrede commented on #14226
@jdubois I will do a tweet as its pretty cool to have such collaborations. I would say let's announce our build scans when we have some automation on our side. I will also write a small blog post how we optimized our build already, such that up-2-date checks are working for everything, but we are quite good already.

[2021-04-14 16:04] ecostanzi commented on #14678
Import the JDL with the --json-only flag, then call jhipster entity for each changed entity with the --single-entity flag.

[code]

I agree this should be the default behavior, but as explained here https://github.com/jhipster/generator-jhipster/issues/13365 it's not a quick fix.

[2021-04-14 16:38] mshima commented on #14678
Since `--single-entity` landed I think it's possible to execute:
`jhipster entities MyChangedEntity1 MyChangedEntity2`

If that's working, it should be just define an option name for this behavior and populate arguments to be passed to entities generator.

[2021-04-14 17:55] Simsal opened #14680 "JWT Authentication broke with upgrade to 7.0.1"
##### **Overview of the issue**

Authorization with Authorization Header broke after upgrade to 7.0.1.
Before, I could access some parts of my api by sending the jwt token obtained from okta as authorization header against my backend.

##### **Motivation for or Use Case**

Sending a valid jwt token in authorization header prdouces following error in postman desktop:
Bearer error="invalid_token", e

[2021-04-14 18:21] mraible commented on #14680
What version were you using previously that worked? Can you please provide the contents of your `yo-rc.json` file so we can try to reproduce? Also, how are are you generating you access token?

[2021-04-14 18:29] Simsal commented on #14680
The currently working version is "jhipsterVersion": "6.10.3". my yo.rc.json is linked in the issue.
It is reproducible by generating a new jhipster monolith with one entity.

I am generating the token via following link generated via https://oidcdebugger.com/
http://*my-okta-domain*/oauth2/default/v1/authorize?client_id=*clientID*&redirect_uri=https%3A%2F%2Foidcdebugger.com%2Fdebug&scope=openid&re

[2021-04-14 23:22] SudharakaP commented on #14672
@CGarces : Unfortunately I cannot test these as we don't have AWS credits anymore and this sub-generator is being removed. 😢 So I think I am not much of a help on this one.

[2021-04-15 00:29] mraible commented on #14680
I used your `.yo-rc.json` to generate a new app, then configured it to use Okta using the Okta CLI:

[code]

I confirmed I can log in and view admin screens.

To generate an access token, I modified my Okta app to use implicit flow, add `https://oidcdebugger.com/debug`, and then created one using oidcdebugger.com.

I set it in my terminal:

[code]

Then, tried to access the JHipster API with HTTPi

[2021-04-15 00:36] mraible commented on #14680
I just started my app in debug mode using the environment values from the generated `.okta.env` in IntelliJ. Now it works with the same access token.

[code]

[2021-04-15 00:44] mraible commented on #14680
I can no longer reproduce this issue, so I'm going to close it. Please reopen if the steps I outlined above don't work for you.

[2021-04-15 00:44] #14680 closed

[2021-04-15 00:45] mraible commented on #14680
Here are the settings I'm using in OIDC Debugger:

<img width="701" alt="Screen Shot 2021-04-14 at 6 44 54 PM" src="https://user-images.githubusercontent.com/17892/114798008-9f922900-9d51-11eb-9995-956671d14e8f.png">

[2021-04-15 01:05] yyag256 commented on #13800
I also facing this problem.How do you deal with it？

[2021-04-15 07:15] Simsal commented on #14680
Thank you for your investigation!
I found that with 7.0.1 there is the scope parameter within the application.yml
and it seems like the scopes must match between the token generation and the expected oidc parameter.

With the older version openid as solo scope was enough.

[code]

[2021-04-15 12:32] mraible commented on #14680
Yeah, this was a change in Spring Security brought about by Spring Boot 2.4. It used to default to these same scopes. Now you have to explicitly state them.

[2021-04-15 16:26] funder7 commented on #14678
Thanks for the information!
I was looking for a description of `--json-only` and landed [on this page](https://www.jhipster.tech/creating-an-entity/).

There's a paragraph saying:

Honestly I thought that the default was to re-import all entities, independently of which one was updated. I'm telling this because is what the generator did, except when using the flags I reported in the first message.

[2021-04-15 18:42] monjurmorshed793 commented on #14540
@pascalgrimaud  & @mraible , I have updated my docker for windows to latest docker version and then again tried to regenerate the application. This time, everything is okay and all are working fine.

So the issue was related to the docker for windows .

This issue can be closed.

[2021-04-15 22:13] mraible commented on #14540
Thanks for letting us know @monjurmorshed793!

[2021-04-15 22:13] #14540 closed

[2021-04-16 08:04] ecostanzi commented on #13835
The warning occurs on:
- POST, PUT, PATCH method of each entity
- POST /api/authenticate
- some spring boot actuator endpoints (`/management/*`)

I don't know if some Springfox annotation could solve the warning for the first 2 points, but surely we cannot do much on actuator endpoints.

I agree with @jidma, let's change the logger level of "Validator" to INFO. But let's also specify in a comment

[2021-04-16 09:16] Adri-Glez commented on #14445
I found that the expired certificate issue is caused  because a problem  in time synchronization in the Windows WSL after the host Hibernate or get Suspended. The solution is restart WSL AND Docker or Windows.

[2021-04-16 09:20] Adri-Glez commented on #14540
This is the same issue that I had in the gateway option:

https://github.com/jhipster/generator-jhipster/issues/14445

I found that the 'unauthorized'  expired certificate issue is caused  by a problem  in time synchronization in the Windows WSL after the host Hibernate or get Suspended. The solution is restart WSL and Docker or Windows.

[2021-04-16 14:54] gmarziou commented on #14540
Or maybe make sure your WSL has an NTP server configured with `ntpdate`.

[2021-04-16 14:55] gmarziou commented on #14445
Or maybe make sure your WSL has an NTP server configured with `ntpdate`.

[2021-04-16 16:19] smaestri commented on #14616
After some investigations, _Jhipster_ use Spring Data Specifications and [JpaSpecificationExecutor](https://docs.spring.io/spring-data/jpa/docs/current/api/org/springframework/data/jpa/repository/JpaSpecificationExecutor.html) in non-reactive mode, not yet supported in reactive mode, as indicated [here](https://github.com/spring-projects/spring-data-r2dbc/issues/246). I suppose it would be possibl

[2021-04-17 07:25] avdev4j commented on #14327
Keep it open. I need to fix the last comments

[2021-04-19 14:44] CGarces commented on #14672
Temporally fixed on CloudFormation Template, hardcoding the password.

https://github.com/jhipster/generator-jhipster/blob/0c2b62991f86548b8aa60db9a6bf25e21abcd992/generators/aws-containers/templates/application.template.yml.ejs#L213

MasterUserPassword: 'fooBar'

The correct way should be use AWS Secrets Manager

[code]

[2021-04-20 00:14] mraible commented on #14285
Still needs to be done. I'll try to look into it soon.

[2021-04-20 01:21] Ebsan commented on #14138
I'm still noticing this with the latest version of jhipster (7.0.1). I don't really see anything in the browser console to use to debug what could be the issue.

[2021-04-20 05:05] atomfrede commented on #13755
Keep it open

[2021-04-20 08:36] Evertude opened #14731 "Swagger request interceptor token parsing problem"
##### **Overview of the issue**

When the swagger UI adds the Authorization header, it receives the token from the storage but there seems to be a problem which causes the token to be encapsulated in a second "" as seen in the image below.

![grafik](https://user-images.githubusercontent.com/7377709/115364691-f1a8d380-a1c3-11eb-8542-1f00010e9fd7.png)

I haven't figured out when this problem is cau

[2021-04-20 08:51] Evertude commented on #14731
Tried to recreate with a new repository but it worked fine, I'll just recreate the application

[2021-04-20 08:51] #14731 closed

[2021-04-20 12:58] kaidohallik commented on #14138
I can reproduce this issue.

This is caused by this condition: https://github.com/jhipster/generator-jhipster/blob/main/generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.ts.ejs#L52
In version 6.10.5 this was in `ng-jhipster` library: https://github.com/jhipster/ng-jhipster/blob/f0b326e3183214cb93e6ef66079d3eb143638f67/src/directive/sort-by.directive.ts#L54

Seems t

[2021-04-21 03:18] josephshannon opened #14735 "Sonarqube Security Hotspot for mixed content on generated home page"
##### **Overview of the issue**

The generated home page using the React generator uses http:// over https:// for the link to the JHipster stackoverflow tag

##### **Motivation for or Use Case**

Mixed content (i.e. both http:// and https://) is being reported as a security hotspot in my customer's SonarQube analysis

##### **Reproduce the error**

Running an app generated with the current JHipste

[2021-04-21 04:10] josephshannon commented on #14735
Do I need to be added as a contributor to submit a PR? I get this when trying to push my branch:

[code]

[2021-04-21 04:52] mraible commented on #14735
You should be able to fork the repo and push to your fork to create a PR.

[2021-04-21 12:06] emilpaw opened #14738 "No translation for 401 errors (error.http.401 missing)"
##### **Overview of the issue**
The translation for 401 errors is missing:

![image](https://user-images.githubusercontent.com/39118431/115550674-6bb38800-a2aa-11eb-9213-b47e781b59de.png)

##### **Reproduce the error**

Try to sign in with wrong credentials.

##### **Suggest a Fix**

The corresponding i18n file is:
https://github.com/jhipster/generator-jhipster/blob/main/generators/languages/templ

[2021-04-21 13:22] gmarziou commented on #14738
I'm not sure there's a need for a translation, the status 401 is special and handled correctly as we can see in your screenshot where there is a message "Failed to sign in...".

I would rather look at which part of the code tries to get a translation and whether it's legitimate.

Could you please include error stack trace and your configuration because it could depend on which frontend framework y

[2021-04-21 15:16] josephshannon commented on #14735
Done. Thank you, sir.

[2021-04-21 16:28] emilpaw commented on #14738
Oh yes, didn't think about the message itself being shown is wrong. I added my config to the initial post.

Not sure if this is the stack trace you meant:
[code]

I think the problem is this line:
https://github.com/jhipster/generator-jhipster/blob/b2b65f4189ef95f07bebe446c021c050f883539a/generators/client/templates/react/src/main/webapp/app/config/notification-middleware.ts.ejs#L76

If I understo

[2021-04-21 21:08] gmarziou commented on #14738
Sorry, I don't know React, only Angular but the [Angular code](https://github.com/jhipster/generator-jhipster/blob/main/generators/client/templates/angular/src/main/webapp/app/core/interceptor/error-handler.interceptor.ts.ejs#L34) is the same so maybe the problem is somewhere else.

Another team member will help you, I have tagged the issue to raise attention.

[2021-04-21 22:06] mraible commented on #14625
Make sure you're passing `openid`, `email`, and `profile` as scopes to get your token. I was able to make things work in https://github.com/jhipster/generator-jhipster/issues/14680, so I don't think this is a problem.

[2021-04-21 22:07] mraible commented on #14600
Closing due to lack of response.

[2021-04-21 22:07] #14600 closed

[2021-04-21 22:21] mraible commented on #14584
I tried your JDL with JHipster 7.0.1. I had to remove `useSass` and `consoleOptions` to get your JDL to import. After doing that, it created everything OK. Then, I ran `mvn verify` in the `gateway` project.

[code]

If I add Elasticsearch as a dependency in `pom.xml`:

[code]

I'm able to compile everything OK. However, lots of tests fail when running `./mvnw verify`.

It seems we never added supp

[2021-04-22 01:06] blackxMan opened #14745 "Jhipster 7.0.1 and couchbase 7"
Hello,
is there any chance to support couchbase 7 with scopes & collections feature.
thank you

[2021-04-22 05:06] yuchilai commented on #14309
Maybe windows did not pick up ${CYPRESS_ENABLE_RECORD:-false}"
Try this:
add this to package.json
"cy:run": "(is-ci && cypress run --browser chrome --record) || cypress run --browser chrome"
Then, run "npm run cy:run"
And you can run it with or without set up your key
You can see this post:
https://github.com/cypress-io/cypress/issues/4876

[2021-04-22 05:09] atomfrede commented on #13531
Keep it open there is a pending PR

[2021-04-22 07:37] #14549 closed

[2021-04-22 08:09] vwiencek opened #14755 "keycloak docker-compose file missing"
##### **Overview of the issue**

The generation of the keycloak.yml file seems to be missing in folder `src/main/docker`

##### **Reproduce the error**

Create jhipster microservice with OAuth2

##### **JHipster configuration**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [X] Checking this box

[2021-04-22 08:19] egvimo commented on #13687
I have another use case with the same issue, a many to many relationship with additional columns. But the failing tests are the same.

For now I have the following workaround:

[code]

Maybe it would be possible to always generate a unique value for unique fields inside this test?

[2021-04-22 08:55] #14735 closed

[2021-04-22 10:08] vwiencek opened #14756 "JHipster Resigtry & Keycloak"
Hello,

it seems that the connection between JHipster Registry and Keycloak is broken.

The scenario:
- create an Oauth 2 application (see .yo-rc.json after)
- start keycloak docker 11.0.2 within docker (see yml docker compose file after)
- start jhipster registry 6.7.1 within docker (see yml docker compose file after)

The symptoms:
- I can log in to the registry app through keycloak
- I can see

[2021-04-22 11:03] emilpaw commented on #14738
Maybe it just affects the React theme because there is no similar notification system  in Vue/Angular.

[2021-04-22 12:47] mrozisty opened #14757 "net.sf.oreka.OrkException: HibernateManager.getSession: application must configure hibernate before using it."
Hey, I've had this problem for a few days. Could I ask you for help?

2021-04-22 14:45:37,343 ERROR UserServiceHbn [http-nio-8080-exec-3] login: exception:
net.sf.oreka.OrkException: HibernateManager.getSession: application must configure hibernate before using it.
	at net.sf.oreka.HibernateManager.getSession(HibernateManager.java:134) ~[orkbasej-0.0.2-SNAPSHOT.jar:?]
	at net.sf.oreka.services.Use

[2021-04-22 13:02] vwiencek commented on #14756
replying to myself. This setup is working when I run everything from docker on my server ...
Maybe I need to further investigate.

[2021-04-22 13:34] mraible commented on #14757
Are you sure this is a JHipster app? I see Tapestry in the stack trace and we don't have support for Tapestry.

[2021-04-22 13:43] mraible commented on #14755
This is on purpose because you'll need a gateway to actually "log in" to your microservice (since there's no UI). In the future, when we support micro frontends, it's possible we'll revert this behavior.

[2021-04-22 13:43] #14755 closed

[2021-04-22 14:07] mraible commented on #14285
I created a branch to upgrade the minimum version of JHipster to v7 for Ionic. Not sure what else I need to do to make tests pass.

https://github.com/oktadeveloper/generator-jhipster-ionic/pull/482

[2021-04-22 15:10] mraible commented on #14745
If you're willing to do the work, we'd love to have Couchbase support! We dropped it from JHipster 7 because we found Spring Data's support wasn't that great with Spring Boot 2.3 and 2.4.

https://github.com/jhipster/generator-jhipster/pull/14184

[2021-04-22 17:26] funder7 commented on #14678
Just tried the ``--json-only`method, it works nicely, maybe it can be improved by generating the entities automatically, but it's not bad now.

I noticed that this:

[code]

Is removed in a re-generated entity, after the field list.

[2021-04-23 05:18] atomfrede commented on #13650
Keep it open

[2021-04-23 07:16] RtzS opened #14762 "Facing issue to dockerize jhipster client and server separate image, as Docker folder is missing in Jhipster Angular project"
HI All,

Jhipster version7.0.1

I am trying to create separate image for client and server application. Created separate client and server layer using 'Jhipster --skip-client/ --skip-server'.
But observed that docker folder is not generated in client application. So I am not able to create separate docker image of client.

Can any one please help me here.
Thankyou in anvance.

[2021-04-23 07:55] gmarziou commented on #14762
Please don't crosspost with Stackoverflow: https://stackoverflow.com/questions/67224788/how-to-dockerize-jhipster-monolothic-angular-application-as-docker-folder-is-mis

Have you read the docs? It uses jib from maven or gradle. https://www.jhipster.tech/docker-compose/#-building-and-running-a-docker-image-of-your-application

[2021-04-23 07:55] #14762 closed

[2021-04-23 11:53] Tcharl commented on #14569
@mshima UUID is useful in a microservice stack, where you want to reference another microservice's object id.
Anyway, your suggestion concerning the type is always relevant :-)

[2021-04-23 12:06] nicolas63 commented on #13261
Can you reopen this issue please ?

[2021-04-23 13:05] danielbrutti commented on #14569
Hello, sorry I didn't have time to work on this, will try to do the PR soon.

Regarding how to solve it, in my project I decided to go with `@Type(type="uuid-char")` in that way the UUID remains a string in the database and is more simple if you later want to query/update. Using `BINARY(16)` the field content is not simple to read and if you want to do an update based on UUID makes things difficul

[2021-04-23 13:15] Tcharl commented on #14363
Please keep opened, I'm on another one, but plan to implement this one!

[2021-04-23 13:25] mshima commented on #14569
I don’t usually use UUID and I use Postgres so I don’t have a preference.
Binary should save space and is faster, but the database should be really huge to make a difference.

`@Type(type="uuid-char")` is the current implementation and you have created the bug report.

Go for it.

[2021-04-23 13:39] nicolas63 commented on #13261
thanks

[2021-04-23 14:24] Tcharl commented on #13531
Package looks to be the right maven lifecycle phase for docker build: after all, it's like getting your jar. If you want to skip unit tests which are executed before, use -DskipTests.
I don't know for gradle, but the maven lifecycle is pretty straighforward:

- Clean => Clean
- Generate source => processors
- process source => Processors, but for source modification
- Generate/Process resources =>

[2021-04-23 14:35] blackxMan commented on #14745
hey @mraible,
Thanks for answer, i think they fix all problem in the new version Spring Data Couchbase 4.0  based on couchbase sdk 3

[2021-04-23 15:42] mraible commented on #14745
@blackxMan If you'd like to see Couchbase support re-added, you're more than welcome to fork my repo and contribute to the `fix-couchbase` branch. I've spent too many hours on it that I'm no longer interested in working on it.

[2021-04-23 17:01] murdos commented on #14745
On the contrary, things go broken since Spring Data Couchbase 4.0 release.
I also spent too many hours trying to fix it.

[2021-04-24 00:38] jidma commented on #14738
@gmarziou Angular doesn't use popups anymore for the login process (unlike React from end). So I think the routes shouldn't be the same in both sides.

I think @emilpaw's solution is correct.

[2021-04-24 11:42] JeroenAdam opened #14765 "Keycloak.X distribution (Quarkus) - less memory consumption"
#### **Overview of the feature request**

Keycloak is basically a Java application and has been released now as well using the Quarkus framework.
I tested it and the latest version 12.0.4 is working fine with less memory consumption.
See the official [release announcement](https://www.keycloak.org/2020/12/first-keycloak-x-release.adoc).

#### **Motivation**

Less memory consumption and faster star

[2021-04-24 14:56] pascalgrimaud commented on #14757
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2021-04-24 14:56] #14757 closed

[2021-04-24 17:04] vishal423 commented on #14765
As `Keycloak.X` is a preview distribution, I would rather wait for a stable release to integrate with `JHipster` as default.

[2021-04-25 17:06] dali010 commented on #11531
thanks it worked for me

[2021-04-25 17:50] vishal423 commented on #13650
Closing as I don't see anyone working on it and don't require for `svelte` blueprint

[2021-04-25 17:50] #13650 closed

[2021-04-25 21:07] atomfrede commented on #14226
I need an opinion. Right now I would like to add a flag (`--gradle-enterprise`) which will automatically add configuration for our own gradle enterprise instance, so we can use it in ci easier.
Another option would be to have a regular options (right now experimental) to ask for gradle enterprise (yes/no) and instance url and use that one.

What do you think would be better? I didn't manage to add

[2021-04-26 11:22] henri-tremblay commented on #13604
Still valid (from as far as I know)!

[2021-04-26 12:37] Tcharl opened #14798 "Align yeoman generator lifecycle"
##### **Overview of the feature request**

Hi Ladies and gents :-),

I'm currently thinking on aligning the different generators steps in a 'one size fits all' way: most of them are already on that pattern, but wanted to be sure of the lines I'm moving.

What do you think about this description?

1. Initializing (can be split into the steps below)
- Loading constants
- Reading the essential proper

[2021-04-26 15:13] mraible commented on #14285
@mshima The original task for this issue has been completed. Please collect your bounty and close this issue when you're finished.

[2021-04-26 15:15] mraible opened #14800 "Upgrade Ionic for JHipster to JHipster 7"
##### **Overview of the feature request**

This is a proxy issue to get https://github.com/oktadeveloper/generator-jhipster-ionic/pull/482 across the finish line. I'm unsure of how to proceed.

##### **Motivation for or Use Case**

It'd be nice if Ionic for JHipster could be used with JHipster 7.

[2021-04-26 17:37] mshima commented on #14798
You can see my initial proposal here https://github.com/jhipster/generator-jhipster/issues/12338.

- 1
  - 1. May be postponed to 6, not sure.
  - 2. See bellow at priority 2.
  - 3. Loading default configuration needs clarification like priority 2.
- 2 should not exist.
  - Reading yo.rc depending on the generator context:
    - Should be done in step 1 when the configuration needs to be already

[2021-04-27 00:22] mraible commented on #13642
Keep it open. Angular 12 and Module federation is on the horizon!

[2021-04-27 08:26] gmarziou opened #14813 "Strange blueprint generator-jhipster-yob in market place"
##### **Overview of the issue**

Looking at a [stackoverflow question](https://stackoverflow.com/questions/67278791/gererating-the-entity-from-existing-microservice-application-using-jhipster) I noticed generator-jhipster-yob blueprint which I did not know.

On npm, https://www.npmjs.com/package/generator-jhipster-yob shows a default generated blueprint with wrong github repo: https://github.com/m

[2021-04-27 08:54] robinrjoe commented on #13885
What should be the work around for this issue? Is this fixed?
I get the same issue even after upgrading the latest version of Jhipster 7.0.1. Issue appears when I try to upgrade the existing application from 6.7.0 to 7.0.1 or when I try to import new entity using import-jdl command.
ERROR! Error at entity Ticket: relationship name is not synchronized

[2021-04-27 13:00] jdubois commented on #14226
I believe a flag is a better option: it's more hidden for normal users, who should not worry about this

[2021-04-27 13:15] atomfrede commented on #14226
I have created a prompt for now, but will hide it behind the `--experimental` flag for normal users (for now).

[2021-04-27 13:18] pascalgrimaud commented on #14226
I think flag is indeed better, otherwise, we'll have too much prompts
Just don't forget to document it, as currently we have a lot of flags which are hidden

[2021-04-27 13:22] atomfrede commented on #14226
Maybe it was a bit unclear :D I think it would be nice to have it for our users eventually, so they can create an application and use their gradle enterprise server out of box. The flag might help us in ci or testing to generate an app which is connected to our gradle enterprise instance. In terms of JDL it looks like this

[code]

[2021-04-27 16:48] mraible opened #14814 "Continuous deployment to Heroku results in an error"
##### **Overview of the issue**

I created a JHipster 7 demo project and added GitHub Actions CI with `jhipster ci-cd`. This worked great. Later, I re-ran `jhipster ci-cd` to add continuous delivery with Heroku.

This resulted in a failure to deploy. Here's the PR to add it.

https://github.com/mraible/jhipster7-demo/pull/2

The build log kinda shows a failure:

https://github.com/mraible/jhipster

[2021-04-27 20:53] mshima commented on #14800
On it.

[2021-04-28 02:08] mraible commented on #14814
My guess is that Heroku expects me to push it via Git and not use the heroku-maven-plugin.

[2021-04-28 02:10] mraible commented on #14814
Found it! In the created `Procfile`, there's a reference to this directory.

[code]

Is there a way to do this with a JAR deployment?

[2021-04-28 02:20] mraible commented on #14814
I get it now, the first line turns off liquibase so the 2nd line can do it. This gets added when you use Git deployment. It seems our GitHub actions pipeline is not aware of this difference, so does a JAR deployment regardless. The 2nd line doesn't exist when doing a JAR-based deployment.

Do we need to adjust the CI-CD generator to read `"herokuDeployType": "git"` from `.yo-rc.json`? If so, what

[2021-04-28 02:46] mraible commented on #14814
I found a [deploy to Heroku](https://github.com/marketplace/actions/deploy-to-heroku) action that [seems to work](https://github.com/mraible/jhipster7-demo/pull/4). However, it requires a Heroku email. We could probably get that from Heroku CLI, but a simple [`git push`](https://dev.to/mscccc/github-actions-deploy-to-heroku-22np) might be better.

[2021-04-28 03:27] mraible opened #14817 "Deployment JDL doesn't offer all Kubernetes options"
##### **Overview of the issue**

If I run `jhipster k8s` and answer the questions as follows:

[code]

... it'll generate a `.yo-rc.json` that looks like this:

[code]

However, it doesn't seem that [our deployment JDL](https://www.jhipster.tech/jdl/deployments) supports the dynamic storage or storage class name options for k8s. The following seems to get close, but doesn't produce the same `.yo-r

[2021-04-28 05:14] atomfrede commented on #13390
Keep it open

[2021-04-28 05:17] atomfrede commented on #14814
Can we just remove the liquibase execution via maven in general? For gradle we don't have it not.

[2021-04-28 07:58] gzsombor commented on #14569
The more annoying thing with the current UUID support is that the app currently assumes, that the ID is generated by database(or hibernate) - so if the entity does not have an ID, it is not persisted yet, and if it has, it came from the database. So in a microservice environment, the clients couldn't create an ID by itself.

[2021-04-28 12:27] gzsombor opened #14827 "Use APT to generate code on compilation"
##### **Overview of the feature request**

As JHipster generates lots of boilerplate source code, which could be intimidating or annoying - especially for entities with long list of fields (for DTOs, Criteria objects, etc...), and with MapStruct or the Hibernate Static Metamodel generator it is a proven path to reduce the repetitiveness, I'm suggesting to use APT to generate part of our code on co

[2021-04-28 12:36] mshima commented on #14569
@gzsombor it probably won’t be hard to implement. See https://github.com/jhipster/generator-jhipster/issues/14108.
Most of the implementation is already there.
[code]

[2021-04-28 13:56] Tcharl commented on #14814
Liquibase maven plugin is not used during the maven lifecycle. no-liquibase is here to disable the spring liquibase execution, which is weird in this case

[2021-04-28 14:01] atomfrede commented on #14814
I think it is this way, because the `release` phase does not count towards application startup time. On the free tier there is a limit for that. But as we are doing async liquibase migrations I think we can safely remove it.

[2021-04-28 14:05] med92 commented on #14567
I have the same problem here. i tried to disable reactive in my JDL but it always turn to be true in my yo-rc file

[2021-04-28 14:15] #14538 closed

[2021-04-28 14:29] jkutner commented on #14814
I think the reason the JAR deployment didn't create the `release` process type is that it was intended to run it from local (but that shouldn't preclude it from running on Heroku so I'm not sure).

The spring liquibase execution was disabled to improve performance on the very small (but free) Heroku 512mb dynos/containers.

[2021-04-28 15:12] gAllegr opened #14828 "Modify the entity model file generator to not define all entity fields as optional"
##### **Overview of the feature request**

Right now when generating entities on the frontend Angular project, all fields are marked as optional, even if a fields has been specified as required. The idea is to modify the model file _entity-name.model.ts_ to reflect the content of the JDL modeling.

Taking as example the 21-points projects, specifically the _Points_ entity, the JDL section is the f

[2021-04-28 15:55] mraible commented on #14567
If you're creating a gateway, reactive is forced. This is because Spring Cloud no longer supports a non-reactive gateway with Zuul in its latest version.

[2021-04-28 16:17] mraible commented on #14567
Confirmed with the JDL provided.

[code]

I'll add a bounty in hopes that someone creates a PR to fix.

[2021-04-28 16:33] deepu105 commented on #14264
Lets do it

On Sun, 11 Apr 2021, 5:04 pm Sudharaka Palamakumbura, <
***@***.***> wrote:

[2021-04-28 16:36] deepu105 commented on #14813
We can add it to the blocked list in website

[2021-04-28 19:27] gmarziou commented on #14813
Thanks @deepu105 I did not know this mechanism

[2021-04-28 20:58] gzsombor commented on #14569
Yes, it's wont be hard, but we need to change at least:
* the EntityController to check/not check if ID is present
* the EntityControllerIT's test cases
* the Entity to add a Persistable<ID> interface, and a couple of methods

[code]
So Spring Data could know if it should call entityManager.persist(...) for the new entities or entityManager.merge(...) for the updates.

[2021-04-29 05:16] alankarapte commented on #14813
This is experimental blueprint which I created. please give me a way by
which I can use it personally without publishing on npm registry.

On Thu, 29 Apr, 2021, 12:57 AM Gaël Marziou, ***@***.***>
wrote:

[2021-04-29 05:22] #14813 closed

[2021-04-29 06:29] gmarziou commented on #14813
You can still use it from npm registry, it's just no longer visible on market place.
If it's experimental, why not saying so in your README so that it's visible in npm registry?

Also you don't need npm registry to use it personally, just use `npm link`.

[2021-04-29 06:30] deepu105 commented on #14813
You can use `npm link` command to install it locally to use and don't have to publish it. Also what we did doesn't affect you using it only hides it in our marketplace. If you end up finishing it and want to be listed in marketplace just let us know and we will revert this

[2021-04-29 06:34] shougao commented on #13081
wish to know the next-get UAA will release

[2021-04-29 06:37] pascalgrimaud commented on #13081
@shougao : UAA has been removed from JHipster and I don't think someone started a blueprint, so nothing is planned.

[2021-04-29 06:41] pascalgrimaud commented on #14827
@gzsombor : it's an important subject, so you should post a mail to the mailing list and mention this ticket. It needs to be discussed before doing something

[2021-04-29 07:47] Guzzi opened #14840 "StackOverflowError with multiple entity relations when elastic is enabled"
##### **Overview of the issue**
PUT requests on certain entities fail if multiple relations are defined in JDL file and elastic is enabled. Same request is successful when elastic is disabled.

##### **Motivation for or Use Case**
Using elastic for search indices while having multiple entity relations and being able to use the rest calls for storing entity changes without stackoverflow errors.

##

[2021-04-29 14:05] vitoraasouza commented on #14840
I have noticed that this happens only when ElasticSearch repository class tries to save the result of the entity repository. For instance, this is an automatic generated method by JHipster:
[code]
The StackOverflowError occurs on line `myEntitySearchRepository.save(result);`.

But if we do the following, the error does not happen anymore:
[code]

I don't know why this happens, but this workaround

[2021-04-29 15:28] atomfrede commented on #14814
So I would say let's not differentiate between jar and git deployment in the procfile anymore. For gradle it was never the case and I think the async liquibase migration now doesn't need that performance optimization anymore. At least I can't remember a case where the gradle deploy failed for the app taking to long to start.

[2021-04-29 16:07] Tenshock opened #14841 "useJPADerivedIdentifier deprecated, jdl"
##### **Overview of the issue**

I tried to generate some entities and relationships with jdl. Apparently, the option `with jpaDerivedIdentifier` for the OneToOne relationship is deprecated and make the generation to crash.

##### **Motivation for or Use Case**

I want to optimise the OneToOne relationships.

##### **Reproduce the error**

1. Generate an empty project
2. apply the jdl

##### **Rel

[2021-04-30 18:34] deepu105 commented on #14479
Keep open

Thanks & Regards,
Deepu

On Fri, Apr 30, 2021 at 2:06 AM github-actions[bot] <
***@***.***> wrote:

[2021-05-01 07:13] atomfrede commented on #14031
Keep it open

[2021-05-01 15:09] Tcharl commented on #14569
I usually do not mix technical id (database key) and functional id (used to be referenced by this id from anywhere else). So I systematically have one ID field and one uuid for uService reference. however, if you think it's a good idea...

[2021-05-02 10:04] sendilkumarn commented on #14479
@deepu105 Can you explain a bit more about the issue here? I tried it just now and it works. But I am not seeing entities in the application, is that the problem?

[2021-05-02 12:40] sendilkumarn commented on #14479
Closing this. @deepu105 feel free to reopen if you still have any issues.

[2021-05-02 12:40] #14479 closed

[2021-05-02 12:42] sendilkumarn commented on #14567
It looks like we need to completely re-do the `websocket` configuration here for the reactive application.

P.S. Can we increase the bounty here?

[2021-05-02 12:46] deepu105 commented on #14479
You mean it works with reactive gateways out of the box? I was using Istio 1.8 I think. I can try 1.9 later

[2021-05-02 20:48] smaestri commented on #14616
After some deeper investigations, I seems possible to do filtering by using [Query By Example r2dbc feature.](https://docs.spring.io/spring-data/r2dbc/docs/1.3.0/reference/html/#r2dbc.repositories.queries.query-by-example) An example can be seen [here](https://github.com/spring-projects/spring-data-examples/tree/main/r2dbc/query-by-example). However, this feature requires _Spring Boot 2.5.0-RC1._,

[2021-05-03 01:46] mraible commented on #14567
@sendilkumarn Done! Raised to 500.

[2021-05-03 01:51] mraible commented on #13461
Keep open please.

[2021-05-03 05:24] atomfrede commented on #14539
Keep it open

[2021-05-03 08:03] CGarces commented on #14566
Some builds check for the draft status at the end of the task.
https://github.com/jhipster/generator-jhipster/blob/main/.github/workflows/generator.yml#L71
Maybe should be check earlier?

[2021-05-03 08:23] ko5tik opened #14862 "Internal sever error while creating users ( actually while retrieving user list right after user creation )"
##### **Overview of the issue**

In a microservice gateway app  when I create or delete net user,   user is created (or deleted )    but where is error while rertieving  resulting user list afterwards.   Here is stacktrace:

`2021-05-03 11:07:28.015 DEBUG 976732 --- [or-http-epoll-4] de.vc.admin.web.rest.UserResource        : Enter: createUser() with argument[s] = [AdminUserDTO{login='fdssfdsfsd',

[2021-05-03 17:30] mcleandaniel opened #14863 "azure-app-service missing location argument for app-insights"
##### **Overview of the issue**

Azure Application Insights instance does not exist, creating it...
Error: Command failed: az monitor app-insights component create --app blog-insights --resource-group jhipster
ERROR: the following arguments are required: --location/-l

TRY THIS:
az monitor app-insights component create --app demoApp --location westus2 --kind web -g demoRg --application-type web --

[2021-05-03 17:56] mraible commented on #14814
I just got an email from Heroku saying a release phase failed.

It's strange that I just got this email when my last commit to my jhipster7-demo repo was two days ago. Maybe it was stuck in an outbox? Anyway, here's the release phase log.

[code]

[2021-05-03 20:45] mraible opened #14864 "Add support for Auth0"
##### **Overview of the feature request**

With [Okta and Auth0 joining forces today](https://www.okta.com/blog/2021/04/its-official-okta-joins-forces-with-auth0/), it'd be cool to document how to integrate JHipster with Auth0. Even better, maybe we can add JHipster support to the [Auth0 CLI](https://auth0.com/blog/introducing-auth0-cli/)!

I'm not sure we need to do much on the JHipster side, but

[2021-05-04 07:42] Tcharl commented on #14416
Me again :-),

I'm also in favour of the first suggestion of @pascalgrimaud (inclusive option) instead of using skip*: I think that this is the only solution to keep being consistent across all options.

No mention => Jhipster reasonable default.
Mention => user defined behaviour.
Just have to explain this in the doc :-)

Specifying like this will permit to stay consistent between binary and unary

[2021-05-04 07:58] sendilkumarn commented on #14567
We don't support websocket for a reactive application, when you generate the application via the command line.

@MathieuAA  do you know why we allow this via JDL?

[2021-05-04 08:18] MathieuAA commented on #14567
No idea. I don't expect the fix to take long to implement.

[2021-05-04 10:43] standors opened #14869 "JDL Enum comment error"
##### **Overview of the issue**
error occure at generating code for JDL enum with comment /** */ in enum body
e.g.
`enum myEnum {
    V1 /** value1 */,
    V2 /**value2 */,
    V3
}`

error at JDL import:
error: Syntax error message:
	MismatchedTokenException: Found an invalid token '/** value1 */', at line: 125 and column: 9.
	Please make sure your JDL content does not use invalid characters, key

[2021-05-04 21:23] sendilkumarn opened #14870 "fix: Sub generators should allow using blueprint custom-options"
##### **Overview of the issue**

Blueprints cannot have its own `options`. For example `KHipster` has `--skip-ktlint-format` option. But running `khipster docker-compose --skip-ktlint-format`  errors out with the following message

[code]

Refer https://github.com/jhipster/jhipster-kotlin/issues/281 for more details

cc: @mraible @mshima

##### **Motivation for or Use Case**

Blueprints should be

[2021-05-04 21:48] mshima commented on #14870
There are 2 actions to be taken in the generator-jhipster
- Migrate from fork to worker thread
- Migrate import-jdl command to a blueprintable generator.

[2021-05-04 21:52] sendilkumarn commented on #14870
How about adding a `--skip-format` option in the main generator as a temporary handler until we fix those two options?

Blueprints can reuse them, right?

[2021-05-04 22:01] mshima commented on #14870
Removing the default value doesn't fix the problem?
https://github.com/jhipster/jhipster-kotlin/issues/281#issuecomment-832268984

[2021-05-05 02:14] mraible commented on #14864
Thanks for looking into this @Falydoor. Auth0's [Spring Boot example](https://auth0.com/docs/quickstart/webapp/java-spring-boot/01-login#add-logout-to-your-application) has a hardcoded logout URI too.

[2021-05-05 02:28] wurzziyoon opened #14871 "[jhipster]Can query condition be automatically carried on the page generated by "jhipster entity"?"
Hello! We have generated a crud page through the "jhipster enity" command, but found that the page does not carry query conditions by default, and can only query all the data. However, in actual use, we need some filters to filter the data. Is there any way for jhipster to automatically generate query conditions similar to "CUBA generic UI"?

[2021-05-05 02:59] yacosta738 opened #14872 "Jhipster Generate fields without specific type and broke code"
##### **Overview of the issue**

When I generate a new project some class fields are missing types. Example the Class **UserNotActivatedException**   was generate with this field error

[code]

##### **Motivation for or Use Case**

This is an error and the project is incomplete.

##### **Reproduce the error**

Generate a new Project with Jhipster (The project could be in monolithic or microservice

[2021-05-05 03:12] yacosta738 opened #14873 "Error in relationship with Authority Entity"
##### **Overview of the issue**

It is possible to create relationships from user-generated entities to the built-in User entity, if a user wants to extend the user without modifying the actual user entity. The same thing is not possible to do with the Authority entity.

##### **Reproduce the error**

Generate a new project and import the jdl example:
[code]

##### **Related issues**

 #11062 #111

[2021-05-05 09:27] CGarces commented on #14873
Please read this
https://www.jhipster.tech/user-entity/#possible-relationships
Maybe you are lookign for
[code]

[2021-05-05 10:53] egvimo opened #14884 "Failing e2e tests on string field with min/max validation"
##### **Overview of the issue**

If a filed has minlength or maxlength validator, the e2e tests for this field [are failing](https://github.com/egvimo/jhipster-sample-app/runs/2507992224?check_suite_focus=true).

##### **Reproduce the error**

See JDL and [my sample app](https://github.com/egvimo/jhipster-sample-app).

##### **Suggest a Fix**

Take this validations into account when generating e2e

[2021-05-05 11:55] yacosta738 commented on #14873
No, I need the relationship with Authority.

[2021-05-05 17:08] yacosta738 commented on #14872
The problem exists when you install Jhipster globally with yarn, with npm it works fine.

[2021-05-05 18:06] cordial commented on #7862
https://github.com/jhipster/jhipster.github.io/compare/main...cordial:patch-1 something like that?

[2021-05-05 20:16] yacosta738 commented on #11062
I need help with this issue #14873

[2021-05-05 20:58] hhipster opened #14885 "Error: Failed to load plugin '@typescript-eslint' declared in '../.eslintrc.json': Cannot find module '@typescript-eslint/eslint-plugin'"
##### **Overview of the issue**

I have created a gateway application and I have tried to started it up on local.

when I am trying to build it with maven I am getting the following exception:
`Error: Failed to load plugin '@typescript-eslint' declared in '../.eslintrc.json': Cannot find module '@typescript-eslint/eslint-plugin'`

The same apply to 4 other team members.

Seems like this is related

[2021-05-06 06:17] yelhouti opened #14900 "Jest not picking up @types correctly"
Disclaimer: I am new to Jest

##### **Overview of the issue**

I have been trying to to fix some tests that use Jest (angular).

Something I found is that @Types are not picked up leading to some errors in my tests, so I started looking for jest typescript support, I found two main libraries:
1- ts-jest (seems to need extra config to handle html templates correctly)
2-  jest-preset-angular (built

[2021-05-06 07:30] yelhouti commented on #14900
Ok, After I tried everything in my project, I decide to create a minimal reproduction project using ng-cli for the `@angular-builder/jest`. After adding the USB dependency the project didn't compile (contrary to JHipster).
After some googling I found that adding
[code]
Fixes the problem. And After running Jest it works. Same in my JHipster project.

My question now becomes: Why JHipster compiles w

[2021-05-06 08:19] hhipster commented on #14885
Hi,
I am afraid this is something related to the dependency with the npm version in the pom.xml.
Is this happening to other users, or only my team and I are facing this issue?

[2021-05-06 09:28] gmarziou commented on #14885
https://stackoverflow.com/questions/67408568/jhipster-failed-to-load-plugin-typescript-eslint-declared-in-eslintrc-js

[2021-05-06 10:40] hhipster commented on #14885
Thank you very much for your help.
I have checked this question and your suggestion on it, I would like to share the logs when the mvnw is doing the npm install as suggested:

`--- frontend-maven-plugin:1.11.3:install-node-and-npm (install node and npm) @ aaa ---
[INFO] Node v14.16.0 is already installed.
[INFO] NPM 7.8.0 is already installed.
[INFO]
[INFO] --- frontend-maven-plugin:1.11.3:npm (np

[2021-05-06 11:57] gmarziou commented on #14885
Please don't crosspost, it's hard to follow. Please post here or on stackoverflow not a bit of both.

[code]
As you can see, npm install did nothing because nothing has changed and modules are already installed.

So you could try a cleanup of `node` sub folder with `rm -rf /Users/user/Workspace/aaa/node` and then re-run build, maybe something did go wrong first time.

If this still fails, you coul

[2021-05-06 20:10] mraible commented on #13595
I have a contact that's developing a website for us at @oktadev. I could ask them for a quote to redesign our site too. While we're add it, we should fix our vulnerabilities. I tested [Snyk's new website scanner](https://twitter.com/snyksec/status/1390350838355435520) and we get an [F](https://snyk.io/test/website-scanner/?test=210506_AiDcMZ_23d760db26ab5d0851524240262fe898&utm_medium=referral&utm

[2021-05-06 21:57] hhipster commented on #14885
Hi,
Thank you again for the support you are giving! :)

node -v
v14.16.1

npm -v
7.11.2

deleted and recreated node_modules and removed the package-lock.json.
typescript folder is inside the node modules folder
still having this issue.
I have reinstalled npm and node.
I am using a MacBook pro intel processor.

[2021-05-06 22:41] galkzaz commented on #14862
i have the same issue

[2021-05-07 01:05] VergilSkye commented on #14814
Any resolution of this problem? I would like github-actions to deploy to heroku.

have any alternative with git push on github actions?

[2021-05-07 01:57] mraible commented on #13733
Keep it open please.

[2021-05-07 05:13] atomfrede commented on #14814
Adapting the procfile should work. Removing the release phase and the no-liquibase profile. Can do a PR today or tomorrow and test it out.

[2021-05-07 08:02] ko5tik commented on #14827
Do I hear xdoclet revival?  We may still have templates  for it somewhere.  Actually not having those code under version control is a great idea

[2021-05-07 08:46] jdubois commented on #13595
We could at least have a new CSS, and also a custom one for the generated apps (not sure if that can work across all front-end frameworks). But having a common visual identity would be awesome.
Concerning Snyk, as the website is a static website, I wonder how we can have XSS attacks - how are those supposed to work?
Anyway, we have money and this is the kind of thing we need to pay for, so yes @mr

[2021-05-07 08:52] ntorionbearstudio commented on #13595
Hello @mraible @jdubois, @ascelineboullen is preparing some sketchs for the jHipster website, we'll be able to show you this next week I think. This can be a base for a reflexion about the website reorganization and it will give some ideas about the update of the design

[2021-05-07 08:59] CGarces commented on #13595
Google.com gets a "D" on Snyk... just for reference.

[2021-05-07 09:13] #13796 closed

[2021-05-07 09:34] AbelAlcaraz opened #14906 "TypeError: Cannot read property 'includes' of undefined when adding Enumeration field to a jhipster entity"
##### **Overview of the issue**

Trying to add a "Enumeration" field to an entity (TrabajadorEmbarcacion) and I'm having this error and have no idea why:
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

7.0.1

##### **JHipster configuration**

[code]
stp@0.0.1-SNAPSHOT /Users/abel/PROYECTO

[2021-05-07 13:08] gmarziou commented on #14885
I have tried same thing with [jhipster-sample-app](https://github.com/jhipster/jhipster-sample-app) on Windows and it fails but differently probably due angular cli running JHipster's custom webpack configuration.

[code]

I'll try to investigate further, maybe @kaidohallik could have some idea.

For your case, as a workaround, you could disable eslint, I could not try due to error I got but I sup

[2021-05-07 14:09] raccarva opened #14907 "Thoughts on some useful features for JHipster"
Hello folks.

I am taking my first experiences with JHipster and I am interested in it because it is not just a tool for programmers but a real software design tool.
As so, it sits on top of Spring, Angular, and a bunch of other tools which compose an environment for it to deliver true time-saving capabilities such as delivering full-featured operational applications based only on the object-relat

[2021-05-07 15:58] mraible opened #14910 "Docker Compose sub-generator generates YAML that doesn't work with `docker compose`"
##### **Overview of the issue**

The YAML generated by JHipster's Docker Compose sub-generator doesn't work with Docker CLI's new `compose` support.

* https://twitter.com/mraible/status/1390671872992464900
* https://github.com/oktadev/java-microservices-examples/pull/23

##### **Motivation for or Use Case**

It'd be cool if `docker compose` worked with JHipster.

##### **JHipster Version(s)**

7.

[2021-05-07 21:17] gmarziou commented on #14885
@hhipster does it fail the same when run outside maven with `npm run webapp:build` ?

[2021-05-07 22:04] mshima commented on #14900
You should take a look at https://github.com/jhipster/generator-jhipster/pull/14741.

And add `w3c-web-usb` to types at tsconfig.js.

[2021-05-08 00:27] mshima commented on #10189
The generator part is kind of ready.
Needs angular 12.

[2021-05-08 10:59] mshima commented on #14900
I suppose this can be closed now.

[2021-05-08 11:04] yelhouti commented on #14900
@mshima well yes, if we remove the types from tsconfig.spec.ts (unless I'm missing something again)

[2021-05-08 11:32] mshima commented on #14900
Ok now you are asking to remove
https://github.com/jhipster/generator-jhipster/blob/f92bb15f65e90c50fe8d15abb3fd6946aa7b7e8d/generators/client/templates/angular/tsconfig.spec.json.ejs#L24

But "types" is required when having conflicting typings like jest and mocha (cypress), maybe protractor too.

IMO is better to add typings to root than having to add typings to jest only,
With https://github.com

[2021-05-08 12:02] qmonmert commented on #14906
Indeed it's a bug

[2021-05-08 12:14] yelhouti commented on #14900
I didn't know about the conflict thing, thanks for the info.
well in that case, IMO, we should have no types in tsconfig and tsconfig.spec (to use `@types`). and add it only to e2e. What do you think?

[2021-05-09 01:08] gmarziou commented on #14885
I reproduced same error on Windows and fixed it by updating to latest versions of all eslint dev dependencies.
Could try? Below is the diff output to help.

[code]

[2021-05-09 05:45] atomfrede commented on #12558
Keep it open

[2021-05-09 08:13] ko5tik commented on #14526
This is an easy change and has low potential of breaking things

[2021-05-09 12:36] AsWali opened #14912 "Survey on globally distributed software engineering"
Hey there,

We are doing a survey on globally distributed software engineering focused on open source projects. If you have some spare time we would really appreciate your response. The form takes about 10 minutes. Thanks in advance!
https://forms.gle/N1TnifRuCYHrCY9JA

[2021-05-09 13:12] #14912 closed

[2021-05-09 17:46] kevin-madhu commented on #13081
How is the JHipster UAA server superior to the spring authorization server? Is it a viable option to concentrate on bringing https://github.com/spring-projects-experimental/spring-authorization-server to the Jhipster ecosystem? Maybe that'll solve the maintainability issue because it's a spring project itself (still listed as experimental though). Maybe an initiative to bring it to the Jhipster ec

[2021-05-10 05:59] atomfrede commented on #12558
Vue 3.1.0 has been released as a first beta Version. This contains the compat build. We could give it a try https://github.com/vuejs/vue-next/tree/master/packages/vue-compat

[2021-05-10 06:05] #14814 closed

[2021-05-10 06:10] pascalgrimaud commented on #14906
Adding a bounty as it's a bug

[2021-05-10 06:11] #14906 closed

[2021-05-10 06:21] pascalgrimaud commented on #14885
Adding a bounty as it's a bug

[2021-05-10 06:31] AbelAlcaraz commented on #14906
Hi,

How can I install this fix now?

Thanks!

[2021-05-10 07:12] qmonmert commented on #14906
@pascalgrimaud  I claim my money :) https://opencollective.com/generator-jhipster/expenses/40365

[2021-05-10 07:13] jdubois commented on #13081
@kevin-madhu they probably share some common code, but JHipster UAA isn't maintained anymore. It was just too much work, and not enough people ready to contribute to it.
For something as important as security, I would recommend a 3rd party service like Okta, Keycloack (but you need to manage it seriously, and take a support contract), Azure Active Directory, etc.

[2021-05-10 07:14] qmonmert commented on #14906
@AbelAlcaraz the fix will be deployed in a future version of JHipster, you can use my commit fix in your application

[2021-05-10 07:22] kevin-madhu commented on #13081
@jdubois Exactly my point. Do you suggest a new option of using "Spring Authorization Server" as a security option in addition to Okta and Keycloack, replacing the JHipster UAA option. Since Spring Authorization Server is an official project of Spring itself, maybe it's more maintained than JHipster UAA.

[2021-05-10 07:25] pascalgrimaud commented on #13081
@kevin-madhu : it won't be done in main generator-jhipster because it's too much work.
But are you ready to start a blueprint or a module to add this option, and maintain it as your personal project ?

[2021-05-10 07:44] kevin-madhu commented on #13081
@pascalgrimaud I'm ready to start working on it this weekend.

[2021-05-10 07:47] pascalgrimaud commented on #13081
@kevin-madhu : good news! don't hesitate to ping `@jhipster` on Twitter, once your project is started, so we can give visibility

[2021-05-10 07:48] kevin-madhu commented on #13081
@pascalgrimaud Cool! Thanks

[2021-05-10 11:54] cordial opened #14931 "Exception on search running a local docker instance of Elasticsearch"
##### **Overview of the issue**
I'm trying to setup a local instance of elasticsearch using the docker instructions on your site. However, I get an exception when I try and search on an entity I created.

##### **Motivation for or Use Case**

Throws exception and unable to search with elasticsearch locally.

##### **Reproduce the error**

1. Create local jhipster react project (I used gradle and M

[2021-05-10 12:03] cordial commented on #14931
Later on there is perhaps a more pertinent exception -

"   Suppressed: org.elasticsearch.client.ResponseException: method [POST], host [http://localhost:9200], URI [/calcsheetresults/_search?typed_keys=true&max_concurrent_shard_requests=5&ignore_unavailable=false&expand_wildcards=open&allow_no_indices=true&ignore_throttled=true&search_type=dfs_query_then_fetch&batched_reduce_size=512&ccs_minimize

[2021-05-10 15:50] Turiddru opened #14932 "--skip-check-length-of-identifier not working"
##### **Overview of the issue**
Hi all,
I'm generating a new jhipster project using oracle (19c) prod database.
I'm using the --skip-check-length-of-identifier flag to use long entity names (>26 chars), but i'm always receiving the "**ERROR! The table name is too long for Oracle, try a shorter name.**" error message.

##### **Motivation for or Use Case**

Can't generate long entity names (>26 char

[2021-05-11 03:39] merlinofcha0s opened #14934 "Build failing because npm audit need fix"
##### **Overview of the issue**
It seems that the build is failing with this stage `npm run java:jar:prod` when there are some audit to fix during `npm install`
it's failing on the CI also at this stage :

<img width="643" alt="image" src="https://user-images.githubusercontent.com/6643835/117753887-9180dc80-b219-11eb-9eac-161d21b394d1.png">

It's very recent issue, yesterday it was okay.

Also the

[2021-05-11 04:55] MathieuAA commented on #14817
Seems like the deployment part is not up to date with the recent changes...
We should really think about creating a DoD (definition of done).

I have one hour this morning, I'm gonna investigate

[2021-05-11 05:52] MathieuAA commented on #14817
I can confirm the deployment part is really out of date.
Fixing this issue requires a refactoring (splitting by deployment type like k8s, openshift, etc.) and the actual fix.

[2021-05-11 06:53] vwiencek commented on #14756
yes sure ; I'm not able to pinpont the problem precisely
vincent

[2021-05-11 06:53] #14756 closed

[2021-05-11 07:24] pascalgrimaud commented on #14756
@vwiencek : not sure, but the problem can be related to Docker network, as inside the container, you can't probably access to your local network. All the application must be started locally or all with Docker

[2021-05-11 07:44] atomfrede opened #14948 "Project URL Link in marketplace is wrong"
##### **Overview of the issue**

The marked link seems to always point to https://www.jhipster.tech/modules/marketplace/ which is not correct and very confusing.

![image](https://user-images.githubusercontent.com/203401/117777892-585a6380-b23d-11eb-8a03-f07fd5d61b2a.png)

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-05-11 08:03] atomfrede commented on #14872
Which yarn version are you using? Sounds like a yarn issue to me.

[2021-05-11 09:34] jdubois commented on #14863
Thanks @atomfrede ! I will indeed have a look, but for me the future for deploying to Azure is https://nubesgen.com/ and I believe I will deprecate this sub-generator at some point.

[2021-05-11 09:50] atomfrede opened #14949 "Bad sonar security rating"
##### **Overview of the issue**

Because of a change in the sonar rulesets we have now just a B in terms of security in our sample application.
The issue is imho not severe (maybe we can also exclude/ignore it), but we should do something about the red quality gate.

![image](https://user-images.githubusercontent.com/203401/117795573-9b710280-b24e-11eb-8905-97967f4be842.png)

![image](https://user

[2021-05-11 12:40] alexsintoni opened #14950 "Add WebFlux choice to the Gateway generation as it is for Microservices and Monolithic applications"
##### **Overview of the feature request**

In the last JHipster Generator version 7.0.1, it is possible to choose between WebFlux or regular JPA framework for both Microservices and Monolithic applications but not for Gateway.

In particular, during the step-by-step guide to generate a new project, it appears the following question
[code]
to choose if use `WebFlux` (if answered YES) or JPA (if ans

[2021-05-11 12:54] alexsintoni opened #14952 "Fix JWT token initialization in TokenProvider"
##### **Overview of the issue**

I think there is a logical issue in the way the secret to generate the JWT token is initialized in the constructor of `TokenProvider` class.

The current implementation for JHipster version 7.0.1 is the following:

[code]

The problem with this implementation is that in case in the `YAML` configuration files there are both `secret` and `base 64 secret` set, the les

[2021-05-11 13:07] egvimo commented on #14884
With Cypress the tests are passing.
I didn't know Protractor is deprecated, otherwise we would have chosen Cypress in the first place.
Also the [docs for JDL](https://www.jhipster.tech/jdl/applications#available-application-configuration-options) are not mentioning Cypress at all.

We have now decided to migrate from Protractor to Cypress, so you can close this issue if you like.

[2021-05-11 13:14] #14950 closed

[2021-05-11 14:38] jdubois commented on #14863
Ah wrong idea, we only recommend this, and don't force it. OK, let's add a new prompt.

[2021-05-11 16:27] Evertude opened #14955 "Select 1:1 and 1:N options on entity update (React+SQL)"
##### **Overview of the feature request**

When updating an entity in React, all 1:1 and 1:N fields are left blank and are set to null on save.
Desired behavior is for the input fields to be pre-selected.

##### **Motivation for or Use Case**

It works for N:M relations and its really annoying when the values always have to be set again on update

##### **Potential Solution**

entity-update.tsx.ej

[2021-05-12 01:57] VergilSkye commented on #14934
I had this same problem in a presentation about a project a week ago, and I was needing a quick live fix so i change the node to 14.16.1 and npm to  6.14.12 and solve my problem. I don't think this happen because _npm audit_, i think it's about the **LTS** version of node and npm in github actions.

[2021-05-12 04:23] jfougere commented on #13081
I'm no expert in OAuth2 so I may propose a stupid thing, correct me if I'm wrong.
As far as I know the UAA server is a valid OAuth2 server. Why can't we support it as any OAuth2 server using the OAuth2 option ?

I understand that current OAuth2 option setup things for OpenID. Maybe we could have 2 options: base OAuth2 & OpenID.
What do u think ?

[2021-05-12 05:54] pascalgrimaud commented on #14950
@alexsintoni : you can read this ticket too https://github.com/jhipster/generator-jhipster/issues/13855

I tried a lot of thing but the conclusion is to migrate to Reactive as we have no choice.

You can still checkout v7.0.0-beta.1 to use a Gateway without Reactive, but you won't be able to upgrade Spring Boot anymore

[2021-05-12 06:04] mraible commented on #13081
Spring Authorization Server supports OAuth and OIDC, so this should be possible.

https://spring.io/blog/2021/05/10/spring-authorization-server-0-1-1-available-now

We'll just have to document how to configure it, like we do for Okta.

https://www.jhipster.tech/security/#okta

[2021-05-12 06:37] jfougere commented on #13081
@mraible  do you think we could keep support for UAA server while using the OAuth2 option in JHipster ?

I am asking because adding support for Spring Authorization Server is great but in the meantime it would be nice to offer a solution for users still having a UAA server.

[2021-05-12 06:47] pascalgrimaud commented on #13081
@jfougere : I totally understand your need and we are really sad for removing the UAA support.
The problem is to maintain the option:
- who wants to add back the UAA support ?
- who wants to maintain it, for the next months / years ?
- it means to maintain the option in generator-jhipster, jhipster-bom, jhipster-daily-builds, jhipster-online, jhipster.github.io, jhipster-base, jhipster-registry, e

[2021-05-12 07:02] jfougere commented on #13081
@pascalgrimaud yes I understood perfectly the reason.
I'm just saying that a UAA server is also an OAuth2 server. So it would be nice to have an option OAuth2 in JHipster (Not OIDC) that allows to connect to whatever OAuth2 server we use (UAA server included).

I suppose the use of OIDC in Spring is not mandatory no ? (I'm no expert again here).

[2021-05-12 07:09] pascalgrimaud commented on #13081
@jfougere : the expert here is Matt, and as mentioned above, it's possible :-)

In my opinion, how it can be achieved:
- build your Spring Authorization Server (https://spring.io/blog/2021/05/10/spring-authorization-server-0-1-1-available-now)
- generate a project with JHipster + OAuth2
- apply some changes (code / config) to make it works with Spring Authorization Server, as the generated code is

[2021-05-12 07:19] deepu105 commented on #13081
I also agree about not adding UAA back. Unfortunately we can't maintain
options unless its requested by a lot of people. And as Pascal mentioned it
shouldn't be hard to modify generated code to make it work and if you are
really interested I would suggest building a blueprint that does this

On Wed, 12 May 2021, 9:10 am Pascal Grimaud, ***@***.***>
wrote:

[2021-05-12 07:28] jfougere commented on #13081
@pascalgrimaud  I understand your point but again it's not exactly what I meant. I'm not asking to put back UAA option neither to maintain the UAA server itself.

I'm just saying that the UAA is also a valid OAuth2 server (as far as I know), and so supporting OAuth2 should normally mean supporting also the UAA server.

In what way the UAA needs specific client code ? (Here the key point for me is

[2021-05-12 07:44] DanielFran commented on #14463
Keep open

[2021-05-12 07:48] atomfrede commented on #14952
@alexsintoni Thanks for reporting the issue. I tend to agree to use the base64 if it is configured. Would you like to do a PR?

[2021-05-12 07:59] xetys commented on #13081
Slowly I'm waking up from retirement and suddenly get here :D well...

I'm very sorry that I haven't been able to maintain UAA in the last few months, so I understand the decision of removing it from the main generator. For a couple of days, I'm working on a first version of the UAA blueprint. Here I'm proceeding not to fast, as I want to make this blueprint overriding as few as possible from the

[2021-05-12 14:55] xetys commented on #13081
I don't get what you mean with specific client code.

If you mean the JHipster client (say Angular), then the client code is simpler than in the JWT case, as the frontend doesn't manage the tokens.

If you mean the gateways code, so UAA provided a very unique thing. The gateway stored the JWT access tokens in a HTTP-only cookie. With this, the frontend didn't had to manage the token anymore. Even

[2021-05-12 19:25] mraible opened #14963 "Investigate using SCIM to sync users with identity provider when using OAuth"
##### **Overview of the feature request**

[SCIM](https://www.okta.com/blog/2017/01/what-is-scim/) (System for Cross-domain Identity Management) is a standard automating user provisioning (aka syncing users). SCIM communicates user identity data between identity providers (such as companies with multiple individual users) and service providers requiring user identity information (such as enterpris

[2021-05-12 20:21] MarcelRosenberger opened #14964 "partialUpdate with reactive/webflux and elasticsearch does not update elasticsearch"
##### **Overview of the issue**

When using the options **webflux/reactive** and **elasticsearch** a `PATCH`-request will not update the entity in elasticsearch.
The reason is that inside the `partialUpdate` method of the service class the `entitySearchRepository.save` method in the reactor chain is not subscribed.

##### **Reproduce the error**

[code]

##### **Suggest a Fix**

[code]

##### **JH

[2021-05-12 23:53] jfougere commented on #13081
Thanks @xetys, yes I meant code in services. Thanks for the clarification.

[2021-05-13 04:54] kevin-madhu commented on #13081
@xetys @AlexandreCassagne Any advice and help from you will be appreciated too!

Even though Spring Authorization Server is a new player and 0.0.1 may not be as stable as the latest JHipster UAA server I'm leaning more towards bringing Spring Authorization Server as a blueprint and get it added to the JHipster ecosystem because then it's a win-win for both the parties (at least in my opinion) beca

[2021-05-13 06:59] gmarziou commented on #13081
0.1.1 is really early, the fact that it is a Spring project does not give any guarantee about its future, it's labeled as experimental and could stop any time.

About adoption by JHipster community, do you think many users would deploy a real app in production based on an experimental security component? I doubt it.

[2021-05-13 07:21] atomfrede commented on #14615
Keep it open

[2021-05-13 07:49] gmarziou commented on #14907
In my own opinion, JHipster does not have the objective to create a well polished application, a developer is always required to modify generated code. Adding JDL keywords or more questions to give more control on what is generated could be a never ending task with the risk of making JH a difficult tool to learn.

The example you took from Primavera uDesigner's doc are not particularly exciting wi

[2021-05-13 07:57] gmarziou commented on #14885
@pascalgrimaud it seems Dependabot is taking care of updating all these dependencies so let's wait for him to claim the bounty 😄, angular 12 is out and could help too and also I'm waiting for feedback from @hhipster

[2021-05-13 08:09] pascalgrimaud commented on #14885
Lol @gmarziou indeed!

[2021-05-13 08:18] hhipster commented on #14885
Hi,

Yes it is failing when it tries to do that command

thank you for your help

[2021-05-13 09:07] gmarziou commented on #14885
OK but did you try what I suggested: upgrading deps in package.json?

[2021-05-13 15:22] jidma opened #14988 "Compilation error in Gateway application not using Reactive"
##### **Overview of the issue**

After generating a new Gateway application with reactive = false
There's a compilation error on `GatewayResource.java`

    [ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project xrp-gateway: Compilation failure
    [ERROR] /C:/Users/xxxxxxxxxxx/xxxx/appgateway/web/rest/GatewayResource.java:[52,49] c

[2021-05-13 15:31] mraible commented on #14988
There is no option for a non-reactive gateway in JHipster 7. See https://twitter.com/mraible/status/1392127843233112069 for more information.

[2021-05-13 15:40] jidma commented on #14988
Thank you for the reply.
There's still this misleading condition in `GatewayResource.java.ejs` :

    <%_ if (reactive) { _%>
        @Value("${spring.application.name}")
        private String appName;
    <%_ } _%>

[2021-05-13 15:42] mraible commented on #14988
Does this misleading condition cause issues? Or is it just not used?

[2021-05-13 15:48] jidma commented on #14988
Well if I understood correctly and that we can't have non-reactive gateways, then the condition on the 'reactive' variable shouldn't be used (always true).

Also the .yo-rc.json still references the variables 'reactive' for the gateway.

I manually set it to true and regenerated which lead to the compilation error.

[2021-05-13 15:56] mraible commented on #14988
@pascalgrimaud I believe you added the logic to force a reactive gateway. Does JDL allow you to override that?

[2021-05-13 16:00] jidma commented on #14988
I don't think it does. It generates the `.yo-rc.json` with reactive set to false.

[2021-05-13 16:27] jidma commented on #14988
@mraible  Should I close this issue, or create a PR to remove the condition ?

change:

    <%_ if (reactive) { _%>
        @Value("${spring.application.name}")
        private String appName;
    <%_ } _%>

to

    @Value("${spring.application.name}")
    private String appName;

(because reactive should always be true)

[2021-05-13 16:28] mraible commented on #14988
A PR would be great. Thank you!

[2021-05-13 18:38] jidma commented on #14988
Thank you for your time

[2021-05-13 18:48] pascalgrimaud commented on #14988
How can I reproduce ?
Using prompt ? JDL ?

[2021-05-13 19:01] jidma commented on #14988
- modify .yo-rc.json (see description)
- run `jhipster`

[2021-05-13 19:18] pascalgrimaud commented on #14988
Yes, but this yo-rc.json is invalid, it should not be possible to generate it, with prompt or JDL, unless it's manually edited

[2021-05-13 19:23] #14910 closed

[2021-05-13 19:32] swarajsaaj commented on #14948
Some intial findings,
- Its not just the Project URL link, the author, maintainer, version are also blank.
- npminfo call to `/latest` (https://cors-anywhere.herokuapp.com/registry.npmjs.org/generator-jhipster-dotnetcore/latest) through 'cors-anywhere' is failing as they have stopped proxying since Jan-2021 (See https://github.com/Rob--W/cors-anywhere/issues/301)

Maybe we can check to get this UR

[2021-05-13 20:13] nomuna opened #14991 ""mvn site" is broken due to older version of maven-site-plugin"
##### **Overview of the issue**

Unless specified, the current version generates a pom.xml
which uses an older version of maven-site-plugin (3.3)
As a result _mvn site_ command fails.

##### **Reproduce the error**

- import a sample jdl from https://github.com/jhipster/jdl-samples
- make sure that the buildTool is maven
- import the jdl to create an application
- execute _mvn site_

##### **Stack

[2021-05-13 20:20] jidma commented on #14988
Indeed

[2021-05-13 21:19] pascalgrimaud commented on #14988
Ok in this case, I don't think we can do something as it's out of scope of the generation, if the user edited manually the yo rc json, and relaunch the generation

[2021-05-13 21:32] jidma commented on #14988
Indeed, and in this case my PR just removes the "if condition", because its an unused code now that reactive is always true.

[2021-05-14 08:34] avdev4j commented on #14230
Cc @matteo-png

[2021-05-14 10:27] merlinofcha0s commented on #14934
Indeed It's the 7.x.x who has a problem with the 6.x version of npm it's working.

[2021-05-14 12:22] #14948 closed

[2021-05-14 14:05] Falydoor commented on #14864
How do you want to proceed @mraible ?

I can fix the login/logout but could not have the groups working, can you elaborate on that?

[2021-05-14 17:27] xetys commented on #13081
@kevin-madhu as I stated before, my first milestone is that the uaa blueprint (https://github.com/k-tel/generator-jhipster-uaa) will behave exactly as it was before it has been removed from the generator. There are a lot of fixes and actions done to integrate that feature into the rest of JHipster generated code base and there is absolutely no need to reinvent those things again.

When this is don

[2021-05-14 18:37] swarajsaaj commented on #14910
bounty claim at https://opencollective.com/generator-jhipster/expenses/40709

[2021-05-14 21:24] atomfrede commented on #13531
Can we close this?

[2021-05-14 22:25] mraible commented on #13531
Yep.

[2021-05-14 22:25] #13531 closed

[2021-05-14 23:15] #14932 closed

[2021-05-15 03:12] mraible commented on #13385
I think this is still an issue.

[2021-05-15 08:06] kevin-madhu commented on #13081
Okay @xetys. Got it.

[2021-05-15 11:01] #14615 closed

[2021-05-15 16:43] #14264 closed

[2021-05-16 18:29] er2 opened #15007 "New microservices project fails to start"
##### **Overview of the issue**

<details>
<summary>logs</summary>
<pre>

Welcome to Gradle 6.8.3!

Here are the highlights of this release:
 - Faster Kotlin DSL script compilation
 - Vendor selection for Java toolchains
 - Convenient execution of tasks in composite builds
 - Consistent dependency resolution

For more details see https://docs.gradle.org/6.8.3/release-notes.html

Starting a Gradle

[2021-05-16 19:46] atomfrede commented on #14988
Seems like everything is clear now.

[2021-05-16 19:46] #14988 closed

[2021-05-16 19:49] atomfrede commented on #15007
Did you start the registry/service discovery?

[2021-05-16 19:54] er2 commented on #15007
:facepalm: I had not. Trying that now.

[2021-05-16 20:46] thelearner214 commented on #14840
I think it's similar to the [issue](https://stackoverflow.com/questions/67558754/indexing-problem-with-spring-data-elastic-migration-from-3-x-to-4-x).
in the above examples, the second one is saving only the base entity as document whereas the first one refreshed all the relationships and tries to add them as subdocuments that might be cross referencing leading to the Stack-overflow error.

[2021-05-16 23:06] mraible commented on #6562
I'd like to see how this might work, so I'm putting a bug bounty on this.

[2021-05-17 01:04] Blackdread commented on #6562
this is huge work.
I use Axon framework, even if you can generate some boilerplate start code, you will be stuck with generating a CRUD version and you would probably end up to refactor all the CRUD because it is usually not the approach for CQRS/ES, furthermore when you have a process or saga that will modify multiple aggregates, crud cmd/event might not fit and often you want to be explicit abou

[2021-05-17 06:51] atomfrede commented on #14226
@jhipster/developers During analysis of our buildscans we noticed, that the output of the frontend build is not cacheable. The reason is, that the webpack build sets the build timestamp which is used as cachebuster for the translation files. So even when nothing has changed the created index.html is changed. Did we think already of an alternative approach, e.g. doing a hash for all translation fil

[2021-05-17 10:48] #14672 closed

[2021-05-17 14:53] qvc86 opened #15023 "regenerating entities on gateways side fails"
##### **Overview of the issue**

I cannot re-generate ts files and services for entities from my microservices on the gateway side using jhipster 7.0.1. Before upgrade (on JH6) I used to just type `jhipster entity EntityName` on gateway project to keep it up with backend model. Now it shows error like:
`ERROR! Error looking for otherEntity ReferencedEntityName`

So i guess that entities should be

[2021-05-17 15:20] yacosta738 commented on #14872
this is my yarn version
[code]

[2021-05-17 21:16] Tcharl commented on #14964
Why is the first method executed? isn't the frontend subscribing to the observable?
I thought that the intimate goal of reactive is to subscribe only when it's really needed...

[2021-05-18 06:57] atomfrede commented on #14226
[As it seems ](https://github.com/jhipster/generator-jhipster/search?q=BUILD_TIMESTAMP) the `BUILD_TIMESTAMP` is really just used as cache buster for i18n files. So doing a hash over all i18n files and provide that via maven/gradle like we do for `APP_VERSION` would work.

[2021-05-18 08:12] souyahia opened #15032 "Can't start the app after generating a project with MSSQL : Cannot insert explicit value when IDENTITY_INSERT is set to OFF"
##### **Overview of the issue**

After generating a project with MSSQL, and starting the app with IntelliJ, we get the following error :

[code]

Even though in the `00000000000000_initial_schema.xml` we have the following properties :

[code]

With the `identityInsertEnabled`, set to `true` (generated like this by default), we still can't start the app properly because liquibase can't manage to l

[2021-05-18 12:06] souyahia commented on #15032
After adding the following SQL lines around the user.csv loadData XML tag :

[code]

The Liquibase migrations work fine and the app can start. But we now can't log in with the admin account because the server can't establish connection with the database. We get the following error in the logs :

[code]

I can log into the database through IntelliJ without any issues, so it seems like there's an is

[2021-05-18 12:54] mraible commented on #15032
It looks like there is an R2DBC driver for MSSQL, so it _should_ be possible.

https://github.com/r2dbc/r2dbc-mssql

I tried generating an app with your `.yo-rc.json` and then searched its `pom.xml` for `r2dbc-mssql`. It does exist.

[code]

Next, I tried to start it up by starting MSSQL in Docker.

[code]

Then, I started the app with `./mvnw`. I got a number of compilation errors on startup, whi

[2021-05-18 13:02] souyahia commented on #15032
Thanks for answering !

Yes, I forgot to mention that after specifying an entity suffix (in our case, we wanted to add "Entity" at the end of the entity class names generated by JHipster), the generator forgot to add the suffix in some parts of the code. Instead of renaming `UserEntity` to `User` we updated the imports and the symbol names in the files that we causing the issues.

[2021-05-18 16:02] phryneas opened #15033 "Redux code is following very outdated practices - would you consider switching to Redux Toolkit?"
##### **Overview of the feature request**

The Redux code currently in this Project follows very outdated Redux patterns. I would suggest following current best practices from the [Redux Style Guide](https://redux.js.org/style-guide/style-guide/) and switching over to the official Redux Toolkit.

##### **Motivation for or Use Case**

Hi,
I'm a Redux maintainer :wave:

From time to time we get JHip

[2021-05-18 16:28] mraible commented on #15033
Thanks for the suggestion @phryneas. I've added a bug bounty to this issue in hopes of increasing motivation.

[2021-05-18 18:49] mraible commented on #14864
@Falydoor I can talk to some of the Auth0 folks and see if I can get a resolution on these issues.

[2021-05-18 21:07] atomfrede commented on #14249
There is a pending PR.

[2021-05-19 06:30] ntorionbearstudio commented on #13595
@ascelineboullen did a first version of wireframes for the website design update : https://rebrand.ly/jhipster !
There are still some parts in progress, but you can start to send us feedbacks on the reorganization and on the design choices :)

[2021-05-19 08:02] souyahia commented on #15032
We manage to get the connection with R2DBC working. In the `application-dev.yml`, we changed the `r2dbc` service from :

[code]

To :

[code]

Essentially switching `sqlserver` protocol with `mssql`, changing the way the database is specified (`/myApp` instead of `;database=myApp`). We added the `pool` section but we don't think it's necessary.

After these changes as well as adding the entity suf

[2021-05-19 08:19] deepu105 commented on #13595
Home page looks great. We need to move the sponsor section up though

On Wed, 19 May 2021, 8:30 am ntorionbearstudio, ***@***.***>
wrote:

[2021-05-19 08:41] dajay opened #15040 "Gateway without database missing dependency spring-data-commons"
##### **Overview of the issue**

[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /home/dej/projects/redfroggy/jhi/gateway/src/main/java/fr/redfroggy/jhi/config/WebConfigurer.java:[9,36] package org.springframework.data.web does not exist
[ERROR] /home/dej/projects/redfroggy/jhi/gateway/src/main/java/fr/redfroggy/jhi/config/WebConfigurer.java

[2021-05-19 08:43] Guzzi commented on #14840
I think - unless there is a better and mor intelligent solution - jhipster should at least generate the save method in a way that it does not crash, e.g. with the above "two step" save method - otherwise the only practical way would be to disable elastic completely and manuelly implement it or manually fix all generated code, which imho doesn't make sense at all.

[2021-05-19 09:40] #14230 closed

[2021-05-19 11:02] atomfrede commented on #14287
Keep it open.

[2021-05-19 12:16] mraible commented on #15032
That's great to hear! I'll put a bug bounty on this to get it fixed. Please create a PR if you feel like it.

[2021-05-19 12:19] #14249 closed

[2021-05-19 13:06] souyahia commented on #15032
Also, last thing I forgot to mention, the integration tests were not working properly after the generation, the migrations were not executed in the H2 database for the tests. To fix this, we changed the `changeSet` XML tag in the initial schema from :

[code]

to :

[code]

And then the IT worked just fine.

[2021-05-19 13:07] mraible commented on #13595
@ntorionbearstudio I ❤️ it! It looks fantastic. Do you plan to offer light and dark options?

[2021-05-19 13:50] jdubois commented on #13595
Yes @ntorionbearstudio this looks awesome! I especially like the docs, this really needs to be improved.

[2021-05-19 13:58] DanielFran commented on #13595
Great @ntorionbearstudio seems awesome

[2021-05-19 15:01] deepu105 commented on #15033
I'll give it a go over the weekend

[2021-05-19 19:55] phryneas commented on #15033
It's tempting, but I already have too much on my "maintainer plate" with the upcoming release of RTK Query - so go for it. If you have any questions about best practices that go beyond the links above, feel free to contact me in chat. But really, especially with the [CRA template](https://github.com/reduxjs/cra-template-redux-typescript) there is probable a lot of prior art on how to approach this

[2021-05-20 00:25] #14934 closed

[2021-05-20 01:28] amatosg opened #15042 "💥 Incorrect Object Type is being passed as parameter"
##### **Overview of the issue**
When creating a reactive monolithic project, setting the entity as `UUID` and importing through a JDL file, the method in the `EntityRepository` interface has the incorrect object type as parameter:

[code]

instead of
[code]

##### **Motivation for or Use Case**
This creates the wrong method signature.

##### **Reproduce the error**
1. Create an entity like

[code]

[2021-05-20 01:49] amatosg commented on #15042
Also, class `EntityManager` is missing 2 methods:
```public Mono<Integer> updateLinkTable(LinkTable table, UUID entityId, Stream<UUID> referencedIds)``` and
```public Mono<Void> deleteFromLinkTable(LinkTable table, UUID entityId)```

[2021-05-20 08:04] fdelbrayelle opened #15055 "Builds ngx-gradle-mongodb-kafka-cucumber and ngx-mongodb-kafka-cucumber fail"
##### **Overview of the issue**

Build fails on `GENERATION: project` step for `ngx-gradle-mongodb-kafka-cucumber` and `ngx-mongodb-kafka-cucumber` in Kafka module: https://github.com/fdelbrayelle/generator-jhipster-kafka/runs/2623637442 and https://github.com/fdelbrayelle/generator-jhipster-kafka/runs/2623637399.

Following error occurs:

[code]

##### **Motivation for or Use Case**

Build is fai

[2021-05-20 10:49] fdelbrayelle commented on #15055
Fixed directly in the Kafka module: https://github.com/fdelbrayelle/generator-jhipster-kafka/commit/2fe909ffbdc62425abfd1490bb69f5aa2bf1d5bb

[2021-05-20 10:49] #15055 closed

[2021-05-20 16:06] atomfrede opened #15058 "Remove yarn from documentation"
##### **Overview of the issue**

We have dropped yarn  support with JH 7. Nevertheless the documentation mentions yarn quite prominent.

##### **Motivation for or Use Case**

 Recently some issues and SO question haven related to yarn.  We should remove all things related to yarn from our documentation. Example: https://www.jhipster.tech/installation/

[2021-05-20 21:43] mraible commented on #14800
Thanks for all your help with this upgrade @mshima! Please claim your well-deserved bounty. 🙏

[2021-05-21 00:12] mshima commented on #14473
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/41129

[2021-05-21 00:15] mshima commented on #14406
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/41130

[2021-05-21 00:21] mshima commented on #14249
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/41133

[2021-05-21 02:52] webcrack4 commented on #6863
It works, thank you

[2021-05-21 04:56] pascalgrimaud commented on #14473
@mshima : approved

[2021-05-21 04:57] pascalgrimaud commented on #14406
@mshima : approved

[2021-05-21 04:58] pascalgrimaud commented on #14249
@mshima : approved

[2021-05-21 08:10] avdev4j commented on #15058
Unless this sentence

If the rest of the documentation is still correct, no? (Yarn will use the package.json to retrieve the dependencies)

[2021-05-21 08:29] atomfrede commented on #15058
I am referring to this more or less: https://github.com/jhipster/generator-jhipster/pull/12134 We don't support yarn anymore (e.g. maven does always use npm). And yes, you are right installation is still valid. But we often mention `yarn start` etc. which is not supported anymore for the generated application.

[2021-05-21 10:31] avdev4j commented on #14327
bounty claimed https://opencollective.com/generator-jhipster/expenses/41155

[2021-05-21 13:43] jkschneider opened #15068 "Automated refactoring/migration with OpenRewrite"
##### **Overview of the feature request**

[OpenRewrite](https://github.com/openrewrite/rewrite) is a style-preserving, type-aware automated source code refactoring library and set of build plugins. It allows you to define recipes that perform migrations, adopt code best practices, and repair security defects.

An initial home for JHipster-related recipes while we think about where it might live m

[2021-05-21 14:44] mraible opened #15069 "Investigate and fix refresh tokens for OAuth with Keycloak and Okta"
##### **Overview of the issue**

It should be possible to add `offline_access` to the scopes for Spring Security OAuth and get a refresh token along with an access token. JHipster should automatically get a new access token after 5 minutes (that's the default timeout we have set for access tokens in Keycloak).

##### **Motivation for or Use Case**

https://devforum.okta.com/t/short-timeout-on-reac

[2021-05-22 06:24] atomfrede commented on #13755
Keep it open

[2021-05-22 10:33] deepu105 commented on #15033
Ok I'm on it then

[2021-05-22 14:52] coderguy-tech commented on #14745
Hey,
I'm working on this right now:
1. Updating JHipster codebase to use the new version of Spring Data Couchbase 4 based on Couchbase SDK 3
2. Re-wiring some of the older code (wherever CB related database code is) to ensure that it works with Spring Data and Couchbase SDK API calls.
3. Running through the test suites of JHipster to ensure that they pass — as we hit failures in the tests, we are

[2021-05-22 15:08] deepu105 commented on #15033
@phryneas while I agree about moving to redux toolkit and stuff I'm not sure about using hookes instead of connect. I find connect with mapStateToProps and mapDispatch cleaner with added advantage of TS inference etc. Is thete any actual advantage of using hooks for this?

[2021-05-22 15:14] phryneas commented on #15033
Yes. TS inference is a *lot* cleaner for the hooks, as you don't need do declare any types at all and need to do stuff like merging around prop types.

If you have declared a `useAppSelector` hook like described in [TypeScript QuickStart](https://redux-toolkit.js.org/tutorials/typescript#define-typed-hooks), you just do

[code]
and it is perfectly typed from start to end.

[2021-05-22 15:50] deepu105 commented on #15033
Ok I'll try it out and see

On Sat, 22 May 2021, 5:14 pm Lenz Weber, ***@***.***> wrote:

[2021-05-22 17:04] er2 commented on #15007
I got the JHipster registry running. I downloaded the jar off github and ran this
[code]
It started and I was able to log in. AFAICT I have the same error message.

Is this the root cause? `Unable to resolve Configuration with the provided Issuer of "http://localhost:9080/auth/realms/jhipster"`
[logs-with-jhipster-registry-running.txt](https://github.com/jhipster/generator-jhipster/files/6526846/w

[2021-05-22 17:06] er2 commented on #15007
Also, I'm curious about this line in the output
[code]
Is that right? I don't have `awscli` set up so where is it getting aws credentials from?

[2021-05-22 17:47] DanielFran commented on #14745
@coderguy-tech dear not forget #14184, you can continue based on that...

[2021-05-22 18:54] coderguy-tech commented on #14745
Thanks, I'll take a look at that

[2021-05-22 19:37] raccarva commented on #14907
Thanks for the comments, gmarziou.  You said that JH does not have the objective of creating a well polished application but it already does so in many aspects, to the point of generating such luxuries as monitoring and health functionality.
The core of my thinking is: should we use JH just as an application jump starter and then proceed to program in java/javascript (e.g. revert to "no tool" mode

[2021-05-22 20:34] deepu105 commented on #15033
@phryneas I'm trying to rewrite current reducers using the createSlice method and it seems like this will create way more code than what we currently have, since there are many cases which just falls through in current scenario due to them being thunks with Reques/Success/failure states. The toolkit docs uses very simple examples. Is there way to write the below reducer cleanly using createSlice/c

[2021-05-22 21:10] phryneas commented on #15033
Honestly, that above snippet means that your current logic there is highly suspectible to race conditions if two different request were ever to run at the same time, as their lifecycle would override the loading status of each other.
Those should use separate loading states.

Generally, going in on Redux Toolkit would also mean getting rid of `redux-promise-middleware` and following the recommenda

[2021-05-22 21:24] phryneas commented on #15033
PS: I'm not sure if JHipster emits an OpenAPI specification, but if it does you can even use our [Code Generation](https://deploy-preview-1016--redux-starter-kit-docs.netlify.app/usage/rtk-query/code-generation) approach for those endpoint definitions and all their types.

[2021-05-22 21:30] deepu105 commented on #15033
1. Yes i'm aware of that, the loading status is common for an entity and its ok if its overridden. the chances of two calls for the same entity on a page is very low and even if it happens its perfectly ok for the loading to be overridden as its only used for trivial things.
2. Unfortunately this is where I would disagree. I find the `createAsyncThunk` based stuff too boilerplatey and less readabl

[2021-05-22 21:49] deepu105 commented on #15033
I'm gonna try something like this for now https://stackoverflow.com/questions/61582886/how-to-use-redux-promise-middleware-with-slices-in-redux-toolkit

[2021-05-22 22:10] phryneas commented on #15033
As for RTK Query being a beta release right now: this has been in alpha for half a year and we're at the point where we're incorporated just about every suggestion and fixed that handfull of minor bugs that have been reported.
At the current point, unless someone would come around the corner with a world-shattering bug, we won't take much longer. Any new features would probably not make it into RT

[2021-05-22 22:15] phryneas commented on #15033
Also, just thinking about it: did you take the [matching utility `isAnyOf`](https://deploy-preview-1016--redux-starter-kit-docs.netlify.app/api/matching-utilities#isanyof) into account?

[code]

[2021-05-22 22:51] markerikson commented on #15033
@deepu105 A few thoughts here:

- RTK has been specifically designed to simplify standard Redux usage patterns and eliminate common mistakes.  Using it will be a net improvement for all people working on these codebases.
- It's also now the standard approach for writing Redux apps. That means that as RTK adoption continues to grow, it will be beneficial for people to see the same consistent patter

[2021-05-22 23:01] deepu105 commented on #15033
Wasn't aware of the isAny of utility. I think that will do the job. Also I think RTK query may not work for us since we currently use axios especially so that we can make jwt/oauth and session based auth work seamlessly. We have an axios interceptor that handles that. If RTK can have such a mechanism then may be could work. I'll try out few different combinations and see which looks better. I'll d

[2021-05-22 23:05] phryneas commented on #15033
You can switch out the "fetching logic" of RTK query completely by specifying a different baseQuery, we just already ship with a basic fetch implementation. See the "customizing queries" docs page, especially [the basic axios example](https://deploy-preview-1016--redux-starter-kit-docs.netlify.app/usage/rtk-query/customizing-queries#axios-base-query)

[2021-05-22 23:05] markerikson commented on #15033
You can use RTK Query with whatever fetching mechanism you want - we just supply `baseFetchQuery` out of the box so that users don't have to write a bunch of hand-written `fetch()` logic themselves.

We have an example of Axios usage in the preview docs:

https://deploy-preview-1016--redux-starter-kit-docs.netlify.app/usage/rtk-query/customizing-queries#axios-base-query

[2021-05-23 10:41] deepu105 commented on #15033
@phryneas @markerikson

I need to trigger the GET request from the same API when an update happens, I was looking for something like `onQueryCompleted` but I think that doesnt exist, probably due to the async nature of stuff. So for this API there is no custom reducer where I can add an api.endpoints.myEndpoint.matchFulfilled action matcher so what would be RTK way to trigger `getUsers` from below

[2021-05-23 16:18] deepu105 commented on #15033
On a side note I noticed this from webpack

[code]

[2021-05-23 18:29] deepu105 commented on #15033
So finally after trying both RTK Query and `createSlice` with `createAsyncThunk` actions, I decided to proceed with `createSlice` with `createAsyncThunk` as it was the path with least drastic changes overall. For RTK query I would have to literally rewrite almost all of the app from scratch to fit its opinionated style and more importanstly most of the features offered by RTK query like catching,

[2021-05-23 18:46] markerikson commented on #15033
Observations:

- Setting up `defaultMiddleware` as an array that way is going to lose the types, _and_ it's going to throw away the development mode safety check middleware.  Also, `configureStore` already adds the thunk middleware anyway.  It should be changed to:

[code]

- What's the issue with `useAppDispatch`?
- Just as an FYI, destructuring results from `useSelector` is legal, but it will ca

[2021-05-23 21:18] phryneas commented on #15033
Sorry, I was away for most of the day.

You would use the invalidation features - see [Cached Data](https://deploy-preview-1016--redux-starter-kit-docs.netlify.app/rtk-query/usage/cached-data)

[code]

This is especially interesting when you have one API for all entity types (as we recommend, you can still split it over multiple files) and one endpoint mutation also causes query results from other

[2021-05-24 02:56] rvong opened #15074 "DefinePlugin NODE_ENV conflicting values"
##### **Overview of the issue**
On fresh generation of JHipster 7 generated by JHipster online, upon `./mvnw`
I get
[code]
Why is this happening and what's the fix if it's needed?

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create JHipster7 package and run `./mvnw`

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configur

[2021-05-24 08:08] deepu105 commented on #15033
Didn't know about thunk being pre-included, will update. I dont get the typing magic, seems a bit weird :thinking: Regardless I updated to what you suggested

There was some TS errors when passing `AppDispatch` as generic, but now it seems to be gone after changing to above code

Totally overlooked that. Been away from React/Redux for a while :joy: This means I'll have to assign each field in a ne

[2021-05-24 08:08] deepu105 commented on #15033
Thanks to both @phryneas and @markerikson for spending time on this. really appreciate that

[2021-05-24 08:14] deepu105 commented on #15033
Thanks for this. Unfortunately I decided not to use RTK query.

Another question out of curiosity, for an app with a server side DB, I would avoid client side catching like a plague so using the caching part is not a route I wanna go so what is the rationale behind catching in RTK query, when do you use it and how do you ensure you are seeing accurate data even if it has changed on the server? Btw

[2021-05-24 08:37] phryneas commented on #15033
I think you overthink the term "caching" here. RTK Query does nothing different from what you are doing here: storing data in an in-memory variable. If you press F5, it is gone. It is not persisted for longer, it's - as Redux is, just an in-memory-cache.

What RTK-Query does essentially:
* if two components on screen use the same `useSomeQuery` with the same argument, the second one won't trigger

[2021-05-24 09:37] deepu105 commented on #15033
ah ok, thanks for the explanation, makes more sense now. I read [this](https://deploy-preview-1016--redux-starter-kit-docs.netlify.app/usage/rtk-query/cached-data) in docs and it gave me an impression that even if I trigger a server request, this will give me catched data for same arguments, which would be bad of course as data might have changed for same argument at server side. It may be worthwh

[2021-05-24 10:26] phryneas commented on #15033
Yeah, we recommend to only put serializable stuff into actions, so `cAT` cleans that up. Non-serializable values can cause problems with the devtools and certain middleware, even on actions.
Of course you could write your own `serializeError` function and pass that in as an option to preserve interesting data and strip away the rest.
Or you write a wrapper around your payload creators that abstrac

[2021-05-24 10:53] deepu105 commented on #15033
I didn't know I could customize that, I was following [this](https://deploy-preview-1016--redux-starter-kit-docs.netlify.app/api/createAsyncThunk#handling-thunk-errors) docs to do the try catch. is there any docs on how to customize serializeError or payloadCreator? I cound't find anything on the website

[2021-05-24 12:25] phryneas commented on #15033
`serializeError` is just a function that is passed in whatever is thrown and whatever that returns is put in `action.error` of the rejected action.

"payloadCreator" is just the function you pass into `createAsycnThunk`, so I mean you could so something like

[code]
(with some more handling of course)
and then

`const thunk = createAsyncThunk('foo', wrap(arg => axios.get(somethinWithArg)))`

[2021-05-24 14:13] markerikson commented on #15033
Another option is to import and pass the `shallowEqual` comparison function as the second arg to `useSelector`, and pick+return the actual fields that you care about, or use a memoized selector:

- https://redux.js.org/tutorials/fundamentals/part-5-ui-react#using-multiple-selectors-in-a-component
- https://redux.js.org/tutorials/fundamentals/part-7-standard-patterns#memoizing-selectors-with-create

[2021-05-25 00:24] ruddell commented on #15007
Did you start Keycloak?  That should be running on localhost:9080 based on your authentication choice https://www.jhipster.tech/security/#oauth2

To start it, run `docker-compose -f src/main/docker/keycloak.yml up -d`

I think that's just logged by default, not positive

[2021-05-25 06:17] Tcharl commented on #14363
Please keep open,  plan to go back on it this week

[2021-05-25 21:49] deepu105 commented on #15033
This was lot more work then I anticipated. I updated almost the entire react client code :wink:

Thank you so much for answering all my questions patiently @phryneas & @markerikson
Do let me know if you see any issues in the PR (Might be bit harder to readthrough due to all the EJS templates

[2021-05-26 11:52] sbrunecker opened #15126 "Cache configuration not working correctly"
##### **Overview of the issue**

I am using [jhipster-sample-app-gradle](https://github.com/jhipster/jhipster-sample-app-gradle) and started it with Spring profile `prod`. Most files are served with `Cache-Control: no-store`. It seems the only file where the cache configuration is working is `i18n/en.json` which is served with `Cache-Control: max-age=126230400, public`.

So I believe the issue is:

[2021-05-26 12:59] cordial opened #15127 "If you create a new react jhipster project it and add entities it uses availity-reactstrap-validation which is deprecated"
##### **Overview of the issue**

If you create a new react jhipster project it uses availity-reactstrap-validation which is deprecated. If we create new projects, is the only workaround to migrate all the react code manually from availity-reactstrap-validation to availity-react?

##### **Motivation for or Use Case**

Doesn't feel like a great start that I am using deprecated libraries if I create

[2021-05-26 13:19] atomfrede commented on #15127
We had a similar issue, but not much interest in fixing it. Recently we updated the [redux integration](https://github.com/jhipster/generator-jhipster/pull/15106). You're welcome to contribute the required changes, we are happy to help.

[2021-05-26 13:30] atomfrede commented on #15126
Can you do a PR? Looks like a bug.

[2021-05-26 15:17] phryneas commented on #15033
I left you a bit of a review, but this is already going a very nice direction :+1:

[2021-05-26 16:43] mshima opened #15129 "Create GitHub Actions to improve CI maintainability."
##### **Overview of the feature request**

Implement custom actions to be shared between jhipster repositories.
- Implement actions locally in generator-jhispter.
- Migrate jhipster-bom to use generator-jhipster actions.
- Evaluate daily-build to use generator-jhipster actions.

##### **Motivation for or Use Case**

JHipster CI consists in:
 - 3 main repositories (generator-jhipster, jhipster-bom,

[2021-05-26 16:44] mshima commented on #15129
cc @pascalgrimaud @DanielFran

[2021-05-26 16:57] atomfrede opened #15130 "vue does not display relations in edit view out of box"
##### **Overview of the issue**

Selections for relationships seem to be broken in vue. The for loop uses a non existing property.

##### **Motivation for or Use Case**

It should work out of box.

##### **Reproduce the error**

Import following JDL:

[code]

Try to edit a `Hike`. You will notice the location selectors are empty.

##### **Related issues**

None.

##### **Suggest a Fix**

[code]

`

[2021-05-26 20:04] cordial commented on #15127
I wish i had the time. Doesn't this kinda mean that jhipster with react is currently pretty much unusable? The repo says don't start new projects with it, but the entity creation in JHipster uses it extensively. Is it because Angular is much more prevalent in this project as the front end of choice?

[2021-05-26 20:40] cbornet commented on #7608
Last time I checked, reactive WebSocket support was incomplete in Spring (no security and no STOMP). So it's currently not supported by JHipster.

[2021-05-27 00:13] henri-tremblay commented on #13604
Still valid

[2021-05-27 02:45] mraible commented on #14285
This has been completed but I don't think @mshima claimed his bounty.

[2021-05-27 07:36] atomfrede commented on #15127
Angular is for sure the main UI and has a lot of contributors, while react has not. Maybe @deepu105 can suggest how to proceed here as you did tremendous work on the redux migration recently. I don't know much about react so hard to tell how much effort this would be.

[2021-05-27 08:26] deepu105 commented on #15127
I'll look into this next

[2021-05-27 08:46] atomfrede commented on #15127
Thanks @deepu105

[2021-05-27 09:28] mshima commented on #14285
Will do. Thanks.

[2021-05-27 09:28] #14285 closed

[2021-05-27 15:53] #15033 closed

[2021-05-27 15:54] deepu105 commented on #15033
@phryneas thanks for the review, I addresses all, except two of your comments, those I had some follow up questions. Let me know your thoughts on that an if required i'll fix them with new PRs

Oveall thanks for your help @markerikson & @phryneas

[2021-05-27 16:45] phryneas commented on #15033
@deepu105 looked good for me :)
Generally, that was a review and not a requirements list - if you decide to do something differently there, that's totally okay ;)

[2021-05-27 18:14] egvimo commented on #13687
Keep the issue open, please. 🙂

[2021-05-28 00:17] mshima commented on #13642
Waiting for angular12 support at ng-bootstrap.

[2021-05-28 07:07] #13835 closed

[2021-05-28 07:07] #14444 closed

[2021-05-28 08:42] egvimo opened #15146 "Cypress e2e CI packaging error on copy"
##### **Overview of the issue**

The script for packaging and preparing for e2e is the following (`package.json`):

[code]

If the version is something other than `*SNAPSHOT` this step is failing with `cp: cannot stat 'build/libs/*SNAPSHOT.jar': No such file or directory`.

##### **Motivation for or Use Case**

Be able to run e2e in CI for other versions than `*SNAPSHOT`.

##### **Reproduce the er

[2021-05-28 13:02] pascalgrimaud commented on #15129
Agree with you @mshima

When I coded this part, in the past, I tried to put everything inside shell scripts:
- to not depend on specific CI
- to be able to use the same shell scripts in different repo

Today, we have a lot of logic directly inside yml files. I think we should move logic into shell scripts. The yml files should only contain configuration (ngx, react, vue, database etc)

[2021-05-28 13:02] manoj-mass commented on #15074
Found this.
https://stackoverflow.com/questions/55185601/webpack-process-env-undefined-using-defineplugin-and-dotenv

[2021-05-28 13:04] pascalgrimaud commented on #15130
As it's a bug, adding a bounty on this

[2021-05-28 13:04] pascalgrimaud commented on #15126
Adding a bounty on this, as it's a bug

[2021-05-28 16:01] sbrunecker commented on #15126
Sure, I'll do it over the weekend.

[2021-05-28 16:07] swarajsaaj commented on #15130
As pointed by @atomfrede the issue is only for one-to-one mapping at:-
https://github.com/jhipster/generator-jhipster/blob/717d172efbbe35d0fb862cd11299f6c308bf034b/generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.vue.ejs#L192
`relationshipFieldNamePlural ` should be `otherEntityNamePlural` in `v-for` loop

Shall i provide a PR if @atomfrede is not already on it?

[2021-05-28 16:14] DanielFran commented on #15130
@swarajsaaj Go ahead, I believe @atomfrede only open the ticket.

[2021-05-28 16:17] atomfrede commented on #15130
Go ahead. Otherwise I would have looked it this evening.

[2021-05-28 16:19] atomfrede commented on #15126
Maybe I have some time this evening.

[2021-05-28 21:17] mshima commented on #15146
Looks good to me. Can you provide the PR?

[2021-05-29 05:52] atomfrede commented on #13390
Keep it open

[2021-05-29 08:38] gmarziou opened #15151 "AWS subgenerator throws Invalid DB engine for PostgreSQL"
##### **Overview of the issue**

Reported by a stackoverflow user: https://stackoverflow.com/questions/67746403/jhipster-aws-subgenerator-throws-invalid-db-engine-on-fresh-install/67748924#67748924

[code]

  [1]: https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-instance.html#options

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

#####

[2021-05-29 18:32] er2 commented on #15007
I don't have a `keycloak.yml`.

Needing to start keycloak should probably be mentioned in the root README like the section about JHipster-Registry. Maybe it would be if not for whatever bug prevented me from having `keycloak.yml`

I was poking around and I found the settings in `jhipster-registry.yml`. The local config there sounded like a better idea than pulling them off of github like was menti

[2021-05-30 06:35] #15151 closed

[2021-05-30 12:26] MathieuAA commented on #14841
Commenting, this is weird

[2021-05-30 16:46] pmverma commented on #14841
@Tenshock ,
I believe the new way to provide the option in JDL is as following.
[code]

I have picked it from https://github.com/jhipster/generator-jhipster/blob/main/test-integration/samples/jdl-entities/user-relationships/entities.jdl

I think docs has not been updated.

[2021-05-30 16:49] pmverma commented on #14841
@mshima, Can you please confirm this? I can update the doc to be in sync.

[2021-05-30 21:02] mshima commented on #14841
@pmverma yes, but jpaDerivedIdentifier should work too. It should convert internally.

[2021-05-30 21:07] mshima commented on #14841
Anyway the jdl doesn’t look correct to me.
We don’t support multiple ids, so 2 id relationships at the same relationship isn’t supported.

[2021-05-30 23:02] mshima commented on #14285
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/41742.

[2021-05-31 03:47] mrafsyam commented on #14885
Thanks @gmarziou. That solved my issue as well.

[2021-05-31 04:37] pascalgrimaud commented on #14285
@mshima : approved :-)

[2021-05-31 09:20] deepu105 opened #15171 "Migrate react-jhipster to Jest"
Migrate react-jhipster lib to use Jest for testing

While at it:
Migrate from enzyme to react-testing-lib
remove Karma, mocha, Chai
Update dependencies

[2021-05-31 09:24] DanielFran commented on #15171
@deepu105 @jhipster/developers  Would it be better to migrate react-jhipster library directly to generator like it was done for ng-jhipster?

[2021-05-31 09:40] DanielFran commented on #14800
@mshima Can request the bounty to close this issue?

[2021-05-31 10:10] pascalgrimaud commented on #15171
If I remember well, @deepu105 was against this.
I don't have any opinion on merging this or not, as I don't use React.
Merging this to generator-jhipster will make the release process easier, as I don't need to check react-jhipster for each new release.

But we can keep this project like this today, but someone must take care of releasing react-jhipster + sync with main generator-jhipster :)

[2021-05-31 10:11] deepu105 commented on #15171
@DanielFran, No, this boilerplate is unnecessary for users. The angular migration was not something I ever agreed to or liked and I still think our future should be less boilerplate and not vice versa

[2021-05-31 10:14] deepu105 commented on #15171
@pascalgrimaud IMO release of this lib should be seperate, whenever new features are added or bug fixes are done this lib should be releases. Its as easy as running `npm run release:patch` and a PR should be done to update version in JHipster. So that when you release JHipster you dont have to do anything

[2021-05-31 13:40] #14800 closed

[2021-05-31 15:14] #15146 closed

[2021-05-31 15:29] mshima commented on #15129
I don't think we will have many benefits from up-2-date checks.
We already have our own up-2-date using diff.

When pushing to main branch is important to run the tests due to transitive dependencies.
Would be great to have it in others branchs and personal branch if possible.

[2021-05-31 15:39] mshima commented on #14800
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/41787.

[2021-05-31 15:40] pascalgrimaud commented on #14800
@mshima : approved

[2021-05-31 15:41] mshima commented on #14800
Thanks.

[2021-05-31 17:00] roh0sun commented on #15069
I've investigated this issue / feature for some time.
I think there is no `RefreshToken` authorization flow in the Spring Boot server.
But all the needed components are already there.

For POC, I've tested a simple REST contoller.
This can successfully refresh the access token after 5+ minutes.

[code]

`RefreshTokenReactiveOAuth2AuthorizedClientProvider` internally uses `WebClient` via `AbstractW

[2021-05-31 17:11] mraible commented on #15069
@jgrandja Should Spring Security handle refresh tokens automatically if we pass in `offline_access` as a scope?

[2021-06-01 04:21] atomfrede commented on #14031
Keep it open

[2021-06-01 07:57] #13642 closed

[2021-06-01 08:54] jgrandja commented on #15069
Looking at the code above, I don't recommend using `AuthenticatedPrincipalServerOAuth2AuthorizedClientRepository` and `RefreshTokenReactiveOAuth2AuthorizedClientProvider` on their own. This collaboration should be handled in `DefaultReactiveOAuth2AuthorizedClientManager`, which interacts with both components.

Take a look at the Servlet equivalent configuration in the [ref docs](https://docs.sprin

[2021-06-01 09:19] #15126 closed

[2021-06-01 14:27] Simsal opened #15184 "Option 'Clustered HTTP sessions using Hazelcast' deprecated?"
##### **Overview of the issue**

The documentation https://www.jhipster.tech/creating-an-app/#2 mentions the option for clustered http sessions. While generating a new app this option is not chooseable

##### **Motivation for or Use Case**

I would like to use clustered http sessions.

##### **Reproduce the error**

Create a new jhipster. The mentioned option doesn't show up.

##### **Related issu

[2021-06-01 14:53] mraible commented on #15184
In case it helps, [this tutorial](https://developer.okta.com/blog/2020/12/14/spring-session-redis) shows how to configure a Spring Boot application to store sessions in Redis with Spring Session, so the session can be shared among multiple gateway nodes and is preserved when a node failure happens.

[2021-06-01 20:19] joro88 opened #15185 "jdl enum section cannot have java comments"
##### **Overview of the issue**
Javadoc comments /** this style */ are not allowed for enum values.

Stacktrace:

[code]

##### **Motivation for or Use Case**

Documentation state:
"Just like relationships, entities and fields, commenting is possible for enums, with the same rules."

https://www.jhipster.tech/jdl/enums

##### **Reproduce the error**

Try to add Javadoc comment for a enum value.

#

[2021-06-02 05:55] juzerali opened #15190 "Unable to use word class as column name"
##### **Overview of the issue**

When trying to create a table with a column named `class`, jhipster fails with following error
[code]

##### **Motivation for or Use Case**

[Spring Security ACL](https://docs.spring.io/spring-security/site/docs/4.2.x/reference/html/appendix-schema.html#hypersql) requires the `acl_class` table to be created with a column named `class` for the in-built `JdbcMutableA

[2021-06-02 21:21] #15171 closed

[2021-06-03 04:53] nomuna commented on #15185
@atomfrede looks like a duplicate of the issue #14869

[code]
works.

[code]

fails. At the first glance it looks like in order to support comments next to the individual values of each enum item will probably require the whole parser/lexer infrastructure to be adjusted -- change the grammar for the enum to include
comments between items.

Not really an issue here to write the documentation of the

[2021-06-03 05:33] nomuna commented on #15185
This section in _jdlparser.js_ makes me believe that as enum property content only the name pattern and name with values in quotes parsed as string allowed. Apparently a new token has to be created which allows _name /** some text */_ patterns.
or change the regex for name to include comments as well.

[code]

[2021-06-03 05:49] swarajsaaj commented on #15185
Hi @nomuna @atomfrede ,

I spent some time on this, and was able to get this working with following steps (a bit rough, but if it helps :) ):-

1. Add an option for JAVADOC in jdl-parser.js
[code]
2. Change the `enumProp` grammer in `generated-serialized-grammer.js`
3. Pass comment in `prop` by reading context in `jdl-ast-builder-visitor.js` class's `enumProp` handler
4. Add a comment field in `JD

[2021-06-03 08:46] DanielFran commented on #14138
Keep open

[2021-06-03 14:23] deepu105 opened #15205 "Auto cancel redundant/stale GitHub action builds"
I noticed that the Github action builds on our repos don't auto cancel on newer commits, like it used to do on Travis and this is really clogging up our pipelines and makes the GitHub builds really slow and more over this is wasting unnecessary resources and energy overall

So we need to try one of the solution mentioned [here](https://github.community/t/is-it-possible-to-cancel-previous-jobs-auto

[2021-06-03 14:24] deepu105 commented on #15205
@pascalgrimaud do you think 300 is good bounty for this or should we make it 500?

[2021-06-03 14:25] deepu105 commented on #15205
can be done along side https://github.com/jhipster/generator-jhipster/issues/15129 as well

[2021-06-03 14:33] SudharakaP commented on #15205
I'll do this over the weekend; shouldn't be difficult; but if anyone wanna take it before that feel free to. 😄

[2021-06-03 14:34] deepu105 commented on #14566
This is another reason for the slowness https://github.com/jhipster/generator-jhipster/issues/15205

[2021-06-03 14:37] mshima commented on #15205
Last time I checked, wasn't possible, in the link you provided there are some alternatives.
I will take a look, it's holiday here today.

[2021-06-03 14:40] pascalgrimaud commented on #15205
hehe, same as @mshima
The last time I wanted this, it was not possible. Maybe it has been improved...?

[2021-06-03 14:42] mshima commented on #15205
https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency should do the trick.
I in beta, but is upstream.

[2021-06-03 14:50] deepu105 commented on #15205
@mshima @SudharakaP seems to have assigned this to him as well so just make sure to coordinate so that both of you dont end up doing it :)

[2021-06-03 14:51] deepu105 commented on #15190
The error is clear, its a reserved word, please use another word or refactor after generation

[2021-06-03 14:51] #15190 closed

[2021-06-03 14:56] deepu105 commented on #15184
I think we removed the option, so docs need to be updated

[2021-06-03 15:01] deepu105 commented on #14828
Would you like to contribute a PR to improve this? I think originally I amrked all fields as options due to some TS issue few years ago may be it doesnt exist anymore and this can be updated

[2021-06-03 15:02] SudharakaP commented on #15205
@mshima : I've assigned it to you. If you feel you need help or something feel free to ping me I can take a look.

[2021-06-03 15:09] mshima commented on #14828
Not sure this still applies. Moment was replaced with Dayjs.

[2021-06-03 15:24] psoares opened #15207 "Oracle not available when selecting Spring WebFlux"
##### **Overview of the issue**

The documentation has a section "Working with Oracle", but the generator doesn't propose an Oracle option.
Instead, the prompt is:
[code]
##### **Motivation for or Use Case**

I want to generate code using an Oracle database as the data store.

##### **Reproduce the error**
[code]

##### **JHipster Version(s)**

7.0.1 (I used the latest jhipster/jhipster docker ima

[2021-06-03 15:34] pmverma commented on #15207
Reactive support for Oracle DB is not supported yet.
That's why you can't see it there.

[2021-06-03 15:36] psoares commented on #15207
Oh! My bad. Thanks for the quick reply. I'll close this topic.

[2021-06-03 15:36] #15207 closed

[2021-06-03 19:38] #15127 closed

[2021-06-03 23:02] atomfrede commented on #14949
I tried to forge some logs and succeeded. Running locally you can easily see the entry has been forged as it is not colored, but inside a log file or some other tool that would not be possible. So I tried OWASP easpi to encode it, but didn't have something working here.

[2021-06-04 08:23] deepu105 commented on #14416
Keep open

On Fri, 4 Jun 2021, 2:25 am github-actions[bot], ***@***.***>
wrote:

[2021-06-04 11:50] serenesensei opened #15221 "Inconsistent naming"
##### **Overview of the issue**
Inconsistent naming of some classes of the generator.

##### **Motivation for or Use Case**
Greetings, I was going through the **generator-jhipster** source code and found that some generators export no-named classes and some export named classes, where the name of the class is **not** used anywhere, so (if i am not missing anything here) these named classes can be

[2021-06-04 12:46] mrts commented on #12558
Just a quick heads-up that there is some discussion regarding using the compat build in VueBootstrap issue tracker here:  https://github.com/bootstrap-vue/bootstrap-vue/issues/5196. In short, the compat build works with simpler components, but more complex components break. So it is not ready for prime time yet.

[2021-06-04 13:53] AndreCdC opened #15222 "openapi-generator running into undefined error for jhipster v7.0.1"
##### **Overview of the issue**

Running `jhipster openapi-client` for a jhipster project v7.0.1 fails. Complete stacktrace:
[code]

##### **Motivation for or Use Case**

As the same command for jhipster 6.10.1 it works perfectly fine for me I suppose this is a bug on the newest jhipster version. Currently working around generating the new files in the older project and copy-pasting the changes to

[2021-06-05 01:10] mshima commented on #15205
I don't think it's worth to add this to daily builds or to jhipster online.
The number of PRs and workflows is too low.
At generator-jhipster and jhipster-bom a PR can trigger almost 40 builds.

[2021-06-05 11:42] deepu105 commented on #15205
Ya those are just placeholders. Feel free to update to what you think is more applicable

[2021-06-06 07:00] jhcao23 opened #15226 "JHipster releases cannot run with node 16."
### I just installed the latest version with `yarn global add generator-jhipster` and `yarn global add generator-jhipster-kotlin` today; whenever I run `jhipster` or `khipster` to start a new project, the cli always returns errors:
[code]

[2021-06-06 07:12] gmarziou commented on #15226
Which version of nodejs?

[2021-06-06 09:22] #15185 closed

[2021-06-06 10:41] mshima commented on #15226
You should downgrade to node 14 or use main version.
Upstream bug: https://github.com/bevry/istextorbinary/issues/200

[2021-06-06 11:25] mshima commented on #15226
Closing.
Node 16 is not LTS yet and we only support LTS versions.

[2021-06-06 11:25] #15226 closed

[2021-06-07 02:48] mraible commented on #13733
Still a desirable feature.

[2021-06-07 05:46] MathieuAA commented on #14869
Keep open

[2021-06-07 07:49] pmverma commented on #14841
@Tenshock Can you please correct your jdl and retry it?

[2021-06-07 13:39] deepu105 commented on #15171
bounty claimed https://opencollective.com/generator-jhipster/expenses/42481

[2021-06-07 13:39] deepu105 commented on #15127
bounty claimed https://opencollective.com/generator-jhipster/expenses/42481

[2021-06-07 13:39] deepu105 commented on #15033
bounty claimed https://opencollective.com/generator-jhipster/expenses/42481

[2021-06-07 19:04] deodeveloper commented on #7897
Looks like the tables are generated by JPA first, then liquibase. make sure ddl-auto: none for hibernate properties.
I replicated similar issue.

[2021-06-07 19:52] atomfrede commented on #14949
I have managed to configured  https://github.com/javabeanz/owasp-security-logging with the owasp filter documented here https://github.com/javabeanz/owasp-security-logging/wiki/Log-Forging

It looks like this. Maybe we should only enabled it in production as the nice "table like" log gets broken of course. You can see how the line break is replaced by the owasp clrf filter:

![image](https://user-

[2021-06-08 04:37] mraible commented on #10189
I'm still interested in this feature.

[2021-06-08 18:25] atomfrede commented on #14567
keep it open,

[2021-06-08 18:57] MathieuAA commented on #14567
If we don't, then application validator should be updated. See [this PR](https://github.com/jhipster/generator-jhipster/pull/15263) for the JDL-related fix.

[2021-06-08 20:02] paulstalvey commented on #14862
Also having the same issue, but only when running in the eclipse debugger.  Seems to work fine when starting the gateway application in a terminal (./gradlew bootRun -x webapp).  Originally thought this might be an OSX issue but I also see it in eclipse on Windows 10 and Ubuntu.

[2021-06-09 04:35] jhcao23 commented on #15226
although it's late to reply, you are right, I'm using `node 16`. I should downgrade to `14`. That'll cure my pain. Thanks a bunch!

[2021-06-09 05:04] #14817 closed

[2021-06-09 07:45] DanielFran commented on #14235
Keep open

[2021-06-09 08:46] Evertude opened #15270 "JWT TokenProvider doesn't check if user exists or still has permissions"
##### **Overview of the issue**

Users with a valid JWT Token can still access the API even after the user was deleted or permissions where removed

##### **Motivation for or Use Case**

Security

##### **Reproduce the error**

Create a User
Call /api/authenticate to get a token
Delete the user or remove roles/claims
Call any api with the token from before and see that it still works

##### **Sugg

[2021-06-09 21:12] gmarziou commented on #15270
This is how tokens work and the usual mitigation is to configure short token duration combined with refreshing tokens.

Comparing the  claims with the user repository is another way to do it but what would you do if roles have changed , return a 401 error so that client re-authenticates?

[2021-06-09 21:22] atomfrede commented on #15270
The default token validity is 30 minutes as it seem so maybe we can create short live token by default?

[2021-06-09 21:36] #15032 closed

[2021-06-09 22:02] gmarziou commented on #15270
I don't remember our client's behavior on token expiration.

[2021-06-10 03:03] gkysaad commented on #14745
As I was working on the fix I came across an issue with the Couchmove implementation. Couchbase's SearchIndex class' `toJson()` function does not output all of the custom data used to create a SearchIndex object, resulting in FTS indices not being created properly with all the required data in the database. So, I've created a custom SearchIndex class and created a PR in the couchmove repo to fix t

[2021-06-10 03:55] aksth opened #15273 "Different templatePathFrom and templatePathTo in writeFilesToDisk() in generator-base.js"
##### **Overview of the feature request**

Right now in `writeFilesToDisk()` of `generator-base.js`, both `templatePathFrom` and `templatePathTo` is being created using the `templatePath/blockPath` variable. This means in both the source and destination this `'templatePath'` will exist.

But what if we do not want the same directory structure as that of the template in our generated code? Are ther

[2021-06-10 11:17] aksth commented on #15273
Closing this, as it looks like it is possible to do this:

We can omit `path` param.

[code]

[2021-06-10 13:41] serenesensei commented on #15221
Closing, as no feedback, the point is to keep class names consistent, i.e., either all named or no-named.

[2021-06-10 13:41] #15221 closed

[2021-06-10 14:09] egvimo opened #15282 "Error `primaryKey is not defined` creating ManyToMany relationship with `--incremental-changelog`"
##### **Overview of the issue**

I can't add a ManyToMany relationship to an existing JDL if I use incremental changelog.

[code]

##### **Reproduce the error**

Generate the app below without the relationship, and then with the relationship:

[code]

JDL:

[code]

##### **JHipster Version(s)**

7.0.1

##### **JHipster configuration**

See my [example app here](https://github.com/egvimo/jhipster-s

[2021-06-11 11:26] ko5tik opened #15295 "Related entity objects are not fetched by reactive microservice"
##### **Overview of the issue**

Reactive microservice  fails eager fetch of related entities objects. Thus those objects are not  displayed in detail list and also not on the edit page.

##### **Motivation for or Use Case**

I would like to have the same functionality as non-reactive implementation

##### **Reproduce the error**

.jo-rc and entities are attached

##### **Related issues**

##### *

[2021-06-11 12:05] veevee2 opened #15297 "jdl : specify sql column name for any field"
##### **Overview of the feature request**

Hi,
In jdl only @Id field can specify a dedicated sql column name, isn't it unfair for other fields who maybe could feel forsaken ;-).
I propose to add the same capacity so for any field, by a **_(SQL_COLUMN_NAME)_** possibility in jdl-field declaration (optional of course)

I see the fieldNameAsDatabaseColumn variable in Entity.java.ejs is ready for that

[2021-06-11 14:11] ko5tik opened #15298 "Current development version lacks semver and globby"
##### **Overview of the issue**

Current development version is missing semver and globby dependencies.

##### **Motivation for or Use Case**

Would  like to run current dfevelopment version

##### **Reproduce the error**

ko5tik@firefly ~/customer/voicecollect/jhsandbox/admin $ jhipster
internal/modules/cjs/loader.js:883
  throw err;
  ^

Error: Cannot find module 'semver'
Require stack:
- /home/

[2021-06-11 16:07] hanenbal opened #15300 "yo jhipster-entity-audit command Not working"
##### **Overview of the issue**

hello . i'm having a issue in using  jhipster-entity-audit generator

##### **Motivation for or Use Case**
After creating my jhipster microservice
 I installed  the  generatoe-jhipster-entity-audit  by using this command
"npm install -g generator-jhipster-entity-audit"
and then  I installed  "yo" by using this command "npm install -g yo" .
but this command  "yo jhi

[2021-06-11 21:11] mshima commented on #15298
Have you tried `npm ci` at generator-jhipster folder?
Operations like link and updating the tree may need to run npm ci.

[2021-06-12 13:31] ko5tik commented on #15298
Reverted all changes, zapped package-lock.json,   run npm /  install npm ci    everything works.
closing issue

[2021-06-12 13:31] #15298 closed

[2021-06-12 21:18] mraible opened #15308 "Fix webflux-mariadb-gradle CI job"
##### **Overview of the issue**

See https://github.com/jhipster/generator-jhipster/runs/2811036840?check_suite_focus=true

##### **Motivation for or Use Case**

I like WebFlux. I want its tests to pass.

[2021-06-13 10:37] QualiaCommunications opened #15309 "Angular: Outdated templates in sort. and sort-by.directive.spec.ts.ejs?"
##### **Preface**
I am new to JHipster, Angular and GitHub. Please apologize and ignore the following submission if it is not a bug.

##### **Overview of the issue**

I noticed that the following "spec" files (located in the "generators/client/templates/angular/src/test/javascript/spec/app/shared/sort/" folder) feature templates that assign the "transition" function as callback routine, although t

[2021-06-13 19:52] #10189 closed

[2021-06-13 20:15] mraible opened #15311 "Add Browsersync support for micro frontends"
##### **Overview of the issue**

If you create a micro frontend architecture with the following command, when you modify the blog's files, there's no hot-reloading. The change is recognized in the blog project and recompilation happens, but the gateway is not aware of it and doesn't refresh the browser. If you manually refresh, it works.

##### **Motivation for or Use Case**

It'd be cool if you c

[2021-06-14 07:47] DanielFran commented on #14463
Keep it open

[2021-06-14 09:49] DanielFran commented on #15205
@deepu105 Following last @mshima comment can this issue be closed?

[2021-06-14 09:59] deepu105 commented on #15205
Ya sure feel free to close it if you think its done

[2021-06-14 10:00] mshima commented on #15205
I will add to daily builds. Can be used for manual builds.

[2021-06-14 11:03] MathieuAA commented on #14567
Reopening, not sure this issue only needs a change in the JDL-related code to be truly closed.

[2021-06-14 11:06] DanielFran commented on #14567
In the past websocket was implement only for non-reactive gateways, but since it was mandatory to switch gateways to reactive now it is missing this functionality.
So, yes I agree this needs new development.

[2021-06-14 11:13] atomfrede commented on #15300
The blueprint/module has not been ported jhipster 7. So unfortunately it seems not to work until this https://github.com/hipster-labs/generator-jhipster-entity-audit/issues/166 is fixed.

[2021-06-14 11:13] #15300 closed

[2021-06-14 14:44] #14952 closed

[2021-06-14 19:54] atomfrede commented on #15308
I can reproduce it (but only with jdk > 13, which is not exactly what we have on ci). Let me check my fix.

[2021-06-14 19:55] DanielFran commented on #15308
@atomfrede this started after upgrading spring-boot to 2.4.7...

[2021-06-14 20:05] atomfrede commented on #15308
The issue I got was related to block hound maybe a dependency update? But to be honest can't see exactly how it is related.

[2021-06-14 20:36] atomfrede commented on #15308
Okay, need to check more, why it worked with java 11 locally.

[2021-06-14 20:50] atomfrede commented on #15308
Still working totally fine on my machine. Tests are all green.

[2021-06-14 20:57] DanielFran commented on #15308
Yes, I try to simulate the issue locally too but was not able...

[2021-06-14 21:00] atomfrede commented on #15308
it gets even more strange. This is the sample: https://github.com/atomfrede/jh-webflux-mariadb-gradle-sample. Running `npm run backend:info && npm run backend:doc:test && npm run backend:nohttp:test && npm run backend:unit:test` locally works totally fine. Doesn't run on ci https://github.com/atomfrede/jh-webflux-mariadb-gradle-sample/runs/2823735789?check_suite_focus=true

[2021-06-14 21:03] atomfrede commented on #15308
I see only the difference in jdk vendor and linux kerner:

[code]

VS

[code]

[2021-06-14 21:04] mshima commented on #15308
@atomfrede try enabling testcontainers.
https://github.com/jhipster/generator-jhipster/blob/93b9caf9a452987242efcbf24c3a957fee5cdd99/.github/workflows/webflux.yml#L136

May be a port conflict.

[2021-06-14 21:05] atomfrede commented on #15308
Will try, but wouldn't fail all tests in that case?

[2021-06-14 21:16] mshima commented on #15308
Indeed

[2021-06-15 03:21] mshima commented on #15308
The log is archived:
[code]

Looks related to https://github.com/reactor/reactor-netty/issues/1550

[2021-06-15 04:32] atomfrede commented on #15308
Where did you get the logs? Still confused why it doesn't happen locally.

[2021-06-15 05:45] vishal423 opened #15337 "Replace puppeteer dependency/use with Okta authentication APIs in Cypress e2e tests"
##### **Overview of the feature request**

Cypress e2e tests use puppeteer APIs and custom tasks to interactively log in. Since `Okta` authentication APIs can be leveraged for programmatic login and is a recommended Cypress approach, we shall replace `puppeteer` dependency and custom task with respective Okta APIs.

##### **Motivation for or Use Case**

One less dependency to manage, improve tests

[2021-06-15 07:36] gzsombor commented on #14827
Lets reopen, I've started working on this ...

[2021-06-15 07:49] vishal423 commented on #14827
Have we considered use of Java `record` ?

[2021-06-15 07:50] atomfrede commented on #15337
Nice approach, didn't manage to leverage the api in that way before.

[2021-06-15 10:13] mshima commented on #15308
https://github.com/jhipster/generator-jhipster/runs/2827638180
Artifacts button right up.

gradle seems to be missing https://github.com/jhipster/generator-jhipster/blob/88c0fccbc3d90402b5969ac16ddc17e780b4ec96/generators/server/templates/pom.xml.ejs#L79

[2021-06-15 10:20] atomfrede commented on #15308
Let me try.

[2021-06-15 10:38] atomfrede commented on #15308
Seems to work. https://github.com/atomfrede/jh-webflux-mariadb-gradle-sample/runs/2828443033?check_suite_focus=true Updated the PR.

[2021-06-15 11:01] slaxminarayan commented on #8842
Hey @SameerNainawat  can you please tell me how would you added swagger to your project. If possible please steps

[2021-06-15 11:31] mshima commented on #15297
`@fieldNameAsDatabaseColumn(colum_name)` should work.
But it’s internal and we don’t have tests for it.
It’s subject to change.

[2021-06-15 11:49] PierreBesson commented on #8842
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2021-06-15 12:03] #15308 closed

[2021-06-15 12:55] #15130 closed

[2021-06-15 13:04] mshima commented on #15308
This should fix gradle+gateway build errors in daily builds too.
@atomfrede can you switch 2 more webflux builds to gradle in main tests? There is only 1.
Don’t forget your bounty.

[2021-06-15 13:16] atomfrede commented on #15308
Will do. Thanks for the hint with the arg line.

[2021-06-15 15:05] vishal423 commented on #15337
It wasn't as easy as it's now. Had to dig deep to identify all missing parts and to hook them together 😄

[2021-06-15 15:13] atomfrede commented on #15337
:+1: Good to know, I spend some time to figured it out but failed

[2021-06-15 16:46] mraible commented on #15069
@jgrandja Are you saying it should be possible to just add a `@Bean` to my security configuration with the code above? For example:

[code]

I've done this in [this PR](https://github.com/mraible/jhipster-reactive-ms-refresh-token/pull/1). I wanted to check with you before I test this in case I'm doing it wrong.

[2021-06-15 17:21] ajay443 commented on #8693
what is the correct fix for this error, any details?

[2021-06-15 17:28] gmarziou commented on #8693
@ajay443

Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

[2021-06-15 17:59] veevee2 commented on #15297
But not for the @Id fields.

I've anyway implemented the field(SQL_NAME) method here https://github.com/veevee2/generator-jhipster/commit/07ba76f783638b662cf995d49c70c5189051335c , this one also handle the @Id name tuning

[2021-06-15 19:02] swarajsaaj commented on #14869
For enum types, the javadocs are currently completely ignored while generating the files and a default javadoc is added as seen here :-
https://github.com/jhipster/generator-jhipster/blob/0f42fb5c9e18236a96c48cf029fb01b6044badcc/generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs#L21-L23

As javadocs are now allowed after #15202, they can be added in the gener

[2021-06-15 19:49] MathieuAA commented on #14869
For swagger comments, I guess the regular comments can be used.

[2021-06-15 19:49] MathieuAA commented on #14869
And the javadocs should already be present :(

[2021-06-16 00:36] ajay443 opened #15342 "Feature request to disable AuthenticationType for MicroService"
##### **Overview of the feature request**

Right now, you must secure the microservice by one of the protocol(like session, jwt, openid), I would like to create an generator, where I want to have `authenticationType false` type(disable the autheitcationType Generator .  This request is similar to `no database` type in generator,.

[code]
##### **Motivation for or Use Case**

We have custom Securit

[2021-06-16 01:29] mraible commented on #14963
I don't have any ambition of implementing this in the near future. I can add a bug bounty if something is interested in trying to implement it.

[2021-06-16 02:13] shanmukakondaveti opened #15343 "i created a Jhipster Application with React as frontend ,and used Keycloak ,but when i run my Application with local keycloak and accessing my entites ,it is showing "you are not authorized to access this page"t"
``

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (t

[2021-06-16 02:15] shanmukakondaveti commented on #15343
![Screenshot (114)](https://user-images.githubusercontent.com/83701275/122147552-c286a980-ce76-11eb-8e72-7470cdb197be.png)
![Screenshot (115)](https://user-images.githubusercontent.com/83701275/122147559-c4506d00-ce76-11eb-8ef4-74c1dd040051.png)
![Screenshot (116)](https://user-images.githubusercontent.com/83701275/122147561-c4e90380-ce76-11eb-89c5-56ee201711e1.png)

[2021-06-16 02:16] shanmukakondaveti commented on #15343
![Screenshot (117)](https://user-images.githubusercontent.com/83701275/122147661-f235b180-ce76-11eb-948a-6edc3a681b2f.png)

[2021-06-16 02:17] shanmukakondaveti commented on #15343
please,help me,i am running my local keycloak here...

[2021-06-16 04:16] Walk-Code commented on #14841
how to fix Java type Integer does not have a random generator implemented?

[2021-06-16 05:04] atomfrede commented on #15343
Can you please follow the issue template? Otherwise no one will be able to provide any help.

[2021-06-16 05:10] mraible commented on #13385
I tested this today with the JDL above and JHipster v7.0.1. Deleting posts works in Chrome and `npm run e2e` passes, so I'm closing this issue.

[2021-06-16 05:14] mraible commented on #15343
Yes, we need your JDL to reproduce the problem. I'm guessing it's because you're using your own instance of Keycloak and not JHipster's. If you run JHipster's pre-configured Keycloak in a Docker container (with `docker-compose -f src/main/docker/keycloak.yml up -d`), it imports JHipster users, apps, and configuration.

I'm not sure if we have a guide on how to set up Keycloak with JHipster's expec

[2021-06-16 05:15] mraible commented on #15342
I'm not sure there will be a lot of interest from the core team to implement this. The best way to make it happen is likely to submit your own PR.

[2021-06-16 05:25] shanmukakondaveti commented on #15343
thanks matt raible for your response ,what to do with those json file in that github, i am  begginer ,please help me here...

[2021-06-16 05:36] mraible commented on #15343
If you're a beginner, I'd recommend using the Keycloak instance that JHipster ships with. No reason to complicate things if you're just learning! 🙂

[2021-06-16 07:21] gzsombor commented on #14827
Yes, definitely. I'm not sure what kind of customization could be feasible, I would really like to have the possibility to even extend the logic by anyone. But I'm a bit concerned the classloading issues on source generation.
 But as JHipster currently doesn't target Java 16, we can't generate Java records by default. And as I saw, JavaPoet does not support Java record generation - even though a p

[2021-06-16 08:12] atomfrede commented on #15042
Looks like a bug. Here https://github.com/jhipster/generator-jhipster/blob/d6bf35800deb726ce6d231d5a475514942b5e795/generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs#L144 should be `<%= primaryKey.type %>` used instead of `Long`.

[2021-06-16 08:27] DanielFran commented on #15042
And also here:
https://github.com/jhipster/generator-jhipster/blob/d6bf35800deb726ce6d231d5a475514942b5e795/generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs#L110

[2021-06-16 10:35] shanmukakondaveti commented on #15343
hii Matt raible,in my jhipster Application i am not getting UserManagement  in Administration tab,how to get it?

[2021-06-16 11:09] vishal423 commented on #15343
As you have selected OIDC (`Keycloak`), the `User Management` code is not generated for you as that should be managed on the IDP side.

[2021-06-16 12:43] shanmukakondaveti commented on #15343
so how can we add users in jhipster using keycloak?,how to write an api in jhipster to create user with  some role(user),and that user stored in keycloak as well as jhipster user database

[2021-06-16 12:53] vishal423 commented on #15343
As per current logic, the user sync from `IDP` to `JHipster` happens after successful authentication on JHipster side.

[2021-06-16 12:53] atomfrede commented on #15343
When using oauth/keycloak keycloak is the leading system to manage users. They are synced after first authentication.

[2021-06-16 13:08] pascalgrimaud commented on #15343
@shanmukakondaveti : it's not something generated by JHipster, but you can code it yourself. It's pretty simple, I did it for my customer. You need to import:

[code]

Then, you need to add all the logic, related to the call with Keycloak Client, provided by this library.

As there is no bug on our side, I'm closing this ticket.

[2021-06-16 13:08] #15343 closed

[2021-06-16 13:10] pascalgrimaud commented on #15342
You can choose JWT by default, and delete all the security part, in your generated code.

[2021-06-16 13:45] shanmukakondaveti commented on #15343
hey pascalgrimaud, can you please any reference  on how to create user(shanmuka) with admin role and access our application,how to write client for keycloak ?

[2021-06-16 14:48] CGarces opened #15348 "Generated java tests fails when a field has unique validation, entity has filter and is required"
##### **Overview of the issue**

Same as #9666 maybe is a regression error

Generated java tests fails when a field has unique validation and filter:

[code]

##### **Reproduce the error**
Use the JDL from the issue to generate a new project.

[code]

##### **Related issues**

#9666

##### **JHipster Version(s)**

7.0.1

##### **JHipster configuration**
 <details>
  <summary>JDL definitions</summa

[2021-06-16 17:34] jgrandja commented on #15069
@mraible Registering it as a `@Bean` is fine but you still need to wire it into the consuming component. For example, if you're using `WebClient` as your HTTP Client then your configuration would look similar to [this](https://github.com/spring-projects/spring-security-samples/blob/main/reactive/webflux/java/oauth2/webclient/src/main/java/example/WebClientConfiguration.java#L44).

[2021-06-16 17:44] mraible commented on #15069
In JHipster's case, we're not using a `WebClient` to communicate from the gateway to downstream microservices. We're just using a `TokenRelay` filter. https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/resources/config/application.yml.ejs#L174

How do you wire refresh tokens into the `TokenRelay` filter?

[2021-06-16 18:02] jgrandja commented on #15069
Unfortunately, I'm not familiar with Spring Cloud Gateway so don't know the answer. Since you're not using `WebClient` then the `TokenRelay` would need to directly use the `ReactiveOAuth2AuthorizedClientManager`.

[2021-06-16 18:59] atomfrede commented on #15069
I have found maybe related issues:

* https://github.com/spring-cloud/spring-cloud-security/issues/175
* https://github.com/spring-cloud/spring-cloud-gateway/pull/1976
But not sure it is supposed to work or not. Looking at the official `TokenRelayGatewayFilterFactory` and the linked custom implementation it looks different. The `TokenRelayGatewayFilterFactory` has at least the correct constructor

[2021-06-16 19:09] spencergibb commented on #15069
Gateway uses `ReactiveOAuth2AuthorizedClientManager` here https://github.com/spring-cloud/spring-cloud-gateway/blob/79cf80be3e084dedc9d35e4f36c91a0363fcd0b8/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/filter/factory/TokenRelayGatewayFilterFactory.java#L58-L71

Gateway also configures a `ReactiveOAuth2AuthorizedClientManager` here https://github.com/spring-cloud/spri

[2021-06-16 19:11] atomfrede commented on #15069
You mean the `GatewayReactiveOAuth2AutoConfiguration` such that you can overwrite the `ReactiveOAuth2AuthorizedClientManager` bean? Sounds reasonable.

[2021-06-16 19:13] spencergibb commented on #15069
yes

[2021-06-16 20:36] amatosg commented on #15042
sure, let me take a look at it tonight

[2021-06-16 20:43] cordial commented on #15127
cheers. when is this likely to get a release?

[2021-06-16 21:04] atomfrede commented on #15069
So best thing would be to wait for upstream and afterwards defining an own bean as Matt did should do it.

[2021-06-16 21:07] amatosg commented on #15042
https://github.com/jhipster/generator-jhipster/blob/d6bf35800deb726ce6d231d5a475514942b5e795/generators/server/templates/src/main/java/package/service/EntityManager.java.ejs#L195

https://github.com/jhipster/generator-jhipster/blob/d6bf35800deb726ce6d231d5a475514942b5e795/generators/server/templates/src/main/java/package/service/EntityManager.java.ejs#L217

So I guess those also need to be changed

[2021-06-16 21:18] mshima commented on #15069
Am I missing something or the proposed one is identical to the provided by spring-cloud?

[2021-06-16 23:02] ivanmonteiro commented on #14416
Thinking about blueprint development, this seems reasonable and hopefully It would not require many changes.

Blueprint developers could (maybe optionally?) implement the sub-generators to allow skipping.

[2021-06-17 06:10] akashgp09 commented on #14885
Hi @pascalgrimaud @gmarziou I would like to fix this issue :)

[2021-06-17 06:33] gmarziou commented on #14885
It's already fixed as far as I know

[2021-06-17 06:45] pascalgrimaud commented on #14885
Yes, by the bot I think

[2021-06-17 07:18] pascalgrimaud commented on #15343
@shanmukakondaveti : Do a search on Google, Stackoverflow, Git, related to keycloak-admin-client, you should find some code/documentation which can help you. Have a loot at https://gist.github.com/thomasdarimont/c4e739c5a319cf78a4cff3b87173a84b

[2021-06-17 09:17] shanmukakondaveti commented on #15343
thank you pascalgrimaud,i am getting 400 bad request when trying to create client,here is my client code:

Logger log= LoggerFactory.getLogger("keycloakAdmin.class");

		String serverUrl="http://localhost:9080/auth/";
		String realm="jhipster";
		String clientId="web_app";
		String clientSecret="7c800e5b-1cf0-48dc-90c2-cf8c99ed1f93";
		String username="admin";
		String password="admin";

		try {

[2021-06-17 09:19] shanmukakondaveti commented on #15343
getting following exception:
![Screenshot (122)](https://user-images.githubusercontent.com/83701275/122368688-2eead100-cf7b-11eb-9443-3c0c0fe34616.png)
![Screenshot (123)](https://user-images.githubusercontent.com/83701275/122368714-33af8500-cf7b-11eb-82c1-6f51d05e61e6.png)
![Screenshot (124)](https://user-images.githubusercontent.com/83701275/122368745-390ccf80-cf7b-11eb-8505-0f6f9517d77e.png)

[2021-06-17 09:24] pascalgrimaud commented on #15343
@shanmukakondaveti : sorry, but this a bug tracker here, not a place to get help. You should go to stackoverflow, the community is bigger, to get help for what you're looking for, as there is nothing related to JHipster here.

[2021-06-17 10:42] aksth commented on #15273
@pascalgrimaud is this already resolved in milestone 7.1.0?

[2021-06-17 11:44] pascalgrimaud commented on #15273
No, I added this milestone automatically because the ticket was closed

[2021-06-17 14:34] atomfrede commented on #15069
:eagle: :eyes: True. So something else seems not to work.

[2021-06-17 15:07] deepu105 commented on #15127
When @pascalgrimaud has time :)

[2021-06-17 15:11] pascalgrimaud commented on #15127
Yes, the release should be for tomorrow, unless there are a lot of failures, detected by Daily builds, but I'm confident :)

[2021-06-17 15:20] cordial commented on #15127
cheers guys.

[2021-06-17 17:02] pascalgrimaud opened #15359 "Failure: Monolith OAuth 2.0 (daily builds)"
##### **Overview of the issue**

See https://github.com/hipster-labs/jhipster-daily-builds/actions/workflows/monolith-oauth2.yaml

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster`

[2021-06-17 17:07] swarajsaaj commented on #14869
Working on the javadocs part first, will try to submit a PR soon.

[2021-06-17 17:42] mshima commented on #15359
@atomfrede is this related to gradle 7.1.0?

[2021-06-17 17:43] atomfrede commented on #15359
I have some time later. Let me check

[2021-06-17 17:53] atomfrede commented on #15359
Looking at the issue on mobile its during Java compile while packaging which looks strange as it was compile for tests before.

[2021-06-17 19:18] pascalgrimaud commented on #15359
Thanks, I opened the ticket on mobile, so I can't give more information or give it a try

[2021-06-17 19:28] atomfrede commented on #15359
Looking into it, but I can't reproduce it wit a plain jhipster + oauth + gradle from main branch right now (no entities, will add them now).

[2021-06-17 19:50] #15205 closed

[2021-06-17 20:07] jasonmarco opened #15366 "Entities generated with --skip-client or --skip-server do not have their configurations saved"
##### **Overview of the issue**

When creating entities either using the `--skip-server` or `--skip-client` cli options, there are no corresponding configuration changes made in their `.jhipster\entity.json` files. When these entities are forcibly regenerated, the undesired frontend or backend will be generated as well. This forced generation can occur by simply creating another entity without eit

[2021-06-17 20:07] atomfrede commented on #15359
I found something, but not sure what the reason is. I have the regular gradle enterprise meeting tomorrow, will check with Nelson. Anyways, I could reproduce it, when one task was compile with `-Pprod` while the task before was not. Not sure we should add it to main generator, would like to set `-- -Pprod` just for testing on ci. Is that easily possible?

[2021-06-17 20:50] joro88 commented on #12497
Hi. Any progress on Side-by-side generator?
Any new ETA?

[2021-06-17 21:14] atomfrede commented on #15359
So downgrading gradle seems to fix the issue. I will talk to Nelson what the problem could be with 7.1 and why seems to only effect the oauth build, wdyt?

[2021-06-17 21:16] pascalgrimaud commented on #15359
I'll try to have a look tomorrow morning too. So strange it's only related to OAuth2

[2021-06-17 21:45] jasonmarco commented on #15366
In **generators/entity/index.js** , adding the below to `_setupEntityOptions()`, will save the user's CLI options and fix the issue.  However, if the user changes the option, any previously generated code would not be modified or deleted.

[code]

[2021-06-18 03:15] mraible commented on #14864
Please keep it open. I might not be able to look at before July though. I'm on vacation for July, returning in August.

[2021-06-18 05:04] atomfrede commented on #14226
Keep it open.

[2021-06-18 07:53] atomfrede commented on #15359
Yes, that is totally strange as it is basically the same application

[2021-06-18 07:58] DanielFran commented on #14526
Kepp open

[2021-06-18 08:01] pascalgrimaud commented on #15359
In the meantime, your temp fix solved the issue, so I can achieve the release :)
Thanks a lot @atomfrede

[2021-06-18 08:11] atomfrede commented on #15359
Go ahead with the release :rocket:

[2021-06-18 09:02] mraible commented on #15337
It'd be super cool to get this in the next release so Cypress with Okta is as fast as Keycloak. I'm adding a bug bounty in hopes of making it happen.

[2021-06-18 09:10] vishal423 commented on #15337
I already started working on it. Most likely will create a PR tonight

[2021-06-18 09:47] DanielFran opened #15379 "Upgrade Keycload to 14.0.x"
##### **Overview of the feature request**

See https://www.keycloak.org/2021/06/keycloak-1400-released.html

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2021-06-18 09:48] DanielFran commented on #15379
Cc @vishal423

[2021-06-18 11:56] pascalgrimaud commented on #15379
Adding a bounty as it's a pain to upgrade this

[2021-06-18 14:46] PiperDing opened #15383 "Add "application/json" mediaType supports to patch method"
##### **Overview of the issue**

Add "application/json"  mediaType support to patch method . There is only "application/merge-patch+json" mediaType support in patch method, but client framework still use "application/json" mediaType. It case something wrong.
![image](https://user-images.githubusercontent.com/16641519/122576350-2df19680-d084-11eb-82a6-3ead4f58b915.png)
![image](https://user-images.

[2021-06-18 17:46] mraible opened #15386 "Upgrade to Keycloak 14"
https://www.keycloak.org/2021/06/keycloak-1400-released.html

[2021-06-18 17:48] DanielFran commented on #15386
Duplicated from https://github.com/jhipster/generator-jhipster/issues/15379

[2021-06-18 17:48] #15386 closed

[2021-06-18 17:51] vishal423 commented on #15379
Looking into it.

[2021-06-18 19:38] mraible opened #15387 "Upgrade to Spring Boot 2.5.1"
##### **Overview of the feature request**

- https://spring.io/blog/2021/05/20/spring-boot-2-5-is-now-ga
- https://spring.io/blog/2021/06/10/spring-boot-2-5-1-is-now-available

This will allow us to try [Spring Native 0.10.0](https://spring.io/blog/2021/06/14/spring-native-0-10-0-available-now) for https://github.com/jhipster/generator-jhipster/issues/13733 and see if things are closer to working.

[2021-06-18 20:33] DanielFran commented on #15387
Working on it...

[2021-06-18 20:47] hepaestus opened #15388 "Misconceptions on how Bi-Directional Relationships Work or Should Work"
##### **Overview of the issue**

In many projects I am trying to create bi-directional relationships and they are not behaving as **I expect them to**.  My understanding is probably the whole problem here but I think I am justified in not understanding what is happening under the hood here. When I see that relationships are bidirectional, I assume some things such as:
- Each side of the relationsh

[2021-06-18 21:22] RDsideNow opened #15390 "Microfront End Fails To Generate Gateway"
##### **Overview of the issue**

running `jhipster jdl filename.jdl --microfrontend` generates the micro services but does not generate the gateway.

I receive the following error

[code]

##### **Motivation for or Use Case**

trying to use the new microfrontend feature

##### **Reproduce the error**

run jhipster jdl samplemicrofrontend.jh --microfrontend

##### **Related issues**

##### **Sugges

[2021-06-18 21:24] RDsideNow commented on #15390
I tried to include my jdl.

deployment {
  deploymentType docker-compose,
  appsFolders [
  frontend,
  item,
  estimating,
  profitability
  ],
  directoryPath "../"
  dockerRepositoryName "rdsidenow",
  gatewayType zuul,
  monitoring prometheus
}

application {
  config {
        applicationType gateway,
        baseName frontend,
        packageName com.rdsidenow.frontend,
        serverPort 80

[2021-06-19 00:23] naomeencontro commented on #14840
Keep it open.

[2021-06-19 05:52] pascalgrimaud commented on #13595
Still in progress

[2021-06-19 05:55] #14870 closed

[2021-06-19 05:58] atomfrede commented on #14287
Keep it open

[2021-06-19 14:00] pascalgrimaud commented on #14287
Adding a bounty to motivate someone

[2021-06-19 14:05] mshima commented on #15390
Your jdl is missing microservice definition:
https://github.com/jhipster/generator-jhipster/blob/18423dea1f344599bdd2924a49f31df9ee0236fa/test-integration/jdl-samples/blog-store-microfrontend/blog-store.jdl#L90

This is used to point the entity to a microservice, otherwise the entity should have backend and frontend in the gateway.

[2021-06-19 15:23] RDsideNow commented on #15390
@mshima thanks that worked.  I got the gateway started, but am now running into this error when selecting an entity link from the list of entities.

Thoughts what i am doing wrong here?

core.js:6456 ERROR Error: Uncaught (in promise): ScriptExternalLoadError: Loading script failed.
(error: http://localhost:4203/remoteEntry.js)
while loading "./fee-option" from 6793
ScriptExternalLoadError: Loadin

[2021-06-19 15:37] mshima commented on #15390
You should try to load an entity with simple names without '-', if works, may be a bug with those.
The ci test use case uses very simple names.

[2021-06-19 16:11] #15040 closed

[2021-06-19 16:17] RDsideNow commented on #15390
@mshima i tried with simple names without the '-', but getting the same error.  I am using NPM start to start the gateway.  Does it matter if i use NPM start vs ng serve?

(error: http://localhost:4201/remoteEntry.js) this seems odd to me but i am not super skilled but my proxy is localhost:4200.  Shouldnt the redirect be to http://localhost:4200/remoteEntry.js ?

core.js:6456 ERROR Error: Uncaugh

[2021-06-19 16:20] mshima commented on #15390
Have you started the dev server on the microservice side?

[2021-06-19 16:27] #15129 closed

[2021-06-19 16:36] RDsideNow commented on #15390
I think so. I'm using docker-compose and the container shows the services are running.

[2021-06-19 19:20] vishal423 opened #15399 "Generation of a new angular monolithic project with 7.1.0 is almost 2x slower than 7.0.1"
##### **Overview of the issue**

I have consistently observed the generation of a new project (specific to npm dependencies installation of `angular`) to be around 2x slower than the previous released version.

##### **Motivation for or Use Case**

I am not sure if this is an intended behavior. Feel free to close the issue in that case.

##### **Reproduce the error**

Logs with `7.0.1` version:
[c

[2021-06-19 19:56] Tcharl commented on #12497
Hi @joro88 ,

Not really: I'm on the constants part for now, because I think that simplifying the generator will help to introduce new options...
For now, if you want to kinda side-by-side, you can:
Use totally uncorrelated classes (I personnally use ddd paradigm for my custom code in addition to jhipster generated stuff)
Use the fantastic .yo-resolve file at the root or your repo to list what to

[2021-06-19 20:45] gmarziou commented on #12497
Wow this is a hidden gem, I could not find a doc about it and expected format.
Do you have a link?

[2021-06-20 03:02] RDsideNow commented on #15390
@mshima looks like non simple entity names (entity names broken up by a '-') still produce the error.

[2021-06-20 09:35] Tcharl commented on #12497
It's as simple as that.
Example content:
[code]

I just don't know where to add the doc

[2021-06-20 09:52] #15379 closed

[2021-06-20 12:18] gmarziou commented on #12497
For JHipster, it could be in tips section.
For Yeoman's docs, maybe @mshima would know

[2021-06-20 15:40] mshima commented on #15390
You must run npm start in every project.

[2021-06-20 16:41] marklcg opened #15401 "Column type for foreign key field empty when adding ManyToOne relationship with incremental changelogs"
##### **Overview of the issue**

I have an existing project with multiple entities and incremental changelogs enabled.  I'm attempting to add a new entity with unidirectional ManyToOne relationships to the existing entities, however, the generator is not filling in the "type" attribute for the column definition correctly.  It is empty resulting in liquibase errors later.  In the example case, the

[2021-06-20 18:16] mshima commented on #15399
Version 7.0.1 uses globally installed npm. Version 6.14.10?
Version 7.1.0 uses a local version of npm 7.18.1.

Is related?

[2021-06-20 18:26] vishal423 commented on #15399
I haven't specifically updated the `npm` on my machine, so, whatever version comes as default with `node` binary is the default. If you imply that the bump in the global npm version should resolve this issue, then, I haven't tried that. Do you have some references for that?

[2021-06-20 18:43] mshima commented on #15399
No, it can take longer, npm 7 may be slower.
But install time can change with cache hit, network calls, maybe audit man make slower.

But in ci, npm install is taking the same 1m with [7.1.0 with npm 7.18.1](https://github.com/jhipster/generator-jhipster/runs/2858576104) and [7.0.1 with npm 7.8.0](https://github.com/jhipster/generator-jhipster/runs/2254468648).