[2019-03-16 21:03] amrnablus commented on #9435
@ruddell That's weird, i was sure i pasted my config! let me add it again as an attachment.

[2019-03-16 21:16] amrnablus commented on #9435
[jhipster_demo.zip](https://github.com/jhipster/generator-jhipster/files/2974496/jhipster_demo.zip)
Here's a fully working reproduction of the bug (i removed the node_modules tho).

If you run the two apps, you will notice that the service url for the demo entity from the microservice gateway is "http://localhost:8080/jhipster**ms**/api/demos" while it should actually be "http://localhost:8080/jhi

[2019-03-16 21:51] ruddell commented on #9435
One possible fix is to add a config value `spring.cloud.consul.discovery.service-name` equal to the lower-cased `baseName`.  Similar to [what we do for Eureka](https://github.com/jhipster/generator-jhipster/blob/8fbeb75951b0b1f573aa2d7e99918d07d3f10fed/generators/server/templates/src/main/resources/config/application.yml.ejs#L46-L47), but further down [in the same file](https://github.com/jhipster

[2019-03-16 21:55] amrnablus commented on #9435
Can't we just have the proper casing inside webpack/webpack.dev.js?

[2019-03-16 22:22] okkultechno opened #9437 "xoooo oxooo ooxoo oooxo oooox xxooo oxxoo ooxxo oooxx oooox"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-03-16 22:26] #9437 closed

[2019-03-16 22:39] cbornet commented on #9425
You can also use -Dgpg.skip flag to build without gpg installed

[2019-03-16 22:41] cifilaci opened #9438 "An unexpected error has occurred. Invariant Violation: You should not use <Link> outside a <Router>"
##### **Overview of the issue**
After generating a monolith with React frontend the frontend does not work!

Details
Invariant Violation: You should not use <Link> outside a <Router>

    in Link
    in Route (created by NavLink)
    in NavLink (created by DropdownItem)
    in DropdownItem
    in div (created by DropdownMenu)
    in DropdownMenu (created by NavDropdown)
    in li (created by Manag

[2019-03-16 23:27] ruddell commented on #9438
Also affects `master`.  I'm guessing it's a transitive dependency somewhere in the node modules

[2019-03-17 06:29] pmverma commented on #9436
My PR also failing with this same error.

https://github.com/jhipster/generator-jhipster/pull/9094#issuecomment-473508789

[2019-03-17 06:39] pmverma opened #9439 "Unnecessary old OIDC files are not being cleaned up"
With the new OIDC support from #9416 , following two files are needed to include in cleanup process.
`OAuth2Configuration.java` and `OAuth2AuthenticationSuccessHandler.java`

##### **Overview of the issue**

##### **Motivation for or Use Case**

Otherwise, upgrading from 5.x.x and compile will fail.

##### **Reproduce the error**

- Generated an app using 5.8.x
- Regenerate using current master br

[2019-03-17 15:12] stefanchiriac commented on #9438
I ran in to the same problem and is working properly using yarn instead of npm

[2019-03-17 16:58] pmverma opened #9440 "Unnecessary old integration tests files are not being cleaned up"
##### **Overview of the issue**

Upgrading an app from v5 to v6(master branch) does generate new integration tests files. Then old integration tests files should be deleted.

##### **Motivation for or Use Case**

When upgrading from v5 to v6, having two duplicate files for IT tests is unnecessary.

##### **Reproduce the error**

- Generated an app using 5.8.x
- Regenerate using current master bran

[2019-03-17 17:38] #9436 closed

[2019-03-17 17:38] #9438 closed

[2019-03-17 17:43] pmverma opened #9442 "Starting the app with docker-compose up is failing because of version mismatch."
##### **Overview of the issue**

An application generated with current master branch (including v5.8.0 and >) will fail to start with `docker-compose -f src/main/docker/app.yml up` because of version mismatch.

[code]
##### **Motivation for or Use Case**

Application should start normally with docker-compose.

##### **Reproduce the error**

1. Generate a fresh app with current master
2. Run `./mvn

[2019-03-17 21:36] tibistibi commented on #9305
changed all from
global.form.username -> global.form.username.label
global.form.currentpassword -> global.form.currentpassword.label
global.form.newpassword -> global.form.newpassword.label
global.form.confirmpassword -> global.form.confirmpassword.label
global.form.email -> global.form.email.label

i just pushed it to my own branch lets see what the test are doing

[2019-03-17 21:44] tibistibi commented on #9305
i noticed that the global.form.currentpassword is missing for these languages:

vi,sk,sr,sv,th,ua,ta

[2019-03-18 04:42] caffeinecoders opened #9446 "Login via OIDC takes you back to home page"
##### **Overview of the issue**

I have created Jhipster app using v 5.7.2 and using Keycloak along with it. When any of page on app requires login, it takes you back to home page after login instead of being coming back on the same page.

##### **JHipster Version(s)**

v5.7.2

##### **JHipster configuration**

{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.thinkschola

[2019-03-18 07:13] caffeinecoders opened #9447 "Alerts not coming when setting alertAsToast as true"
##### **Overview of the issue**

Alerts doesn't appear at all when setting alertAsToast in app.module.ts in v5.8.2

##### **Reproduce the error**

Download jhipster-sample-app, set alertAsToast value to true in app.module.ts.
Start the application and update any entity, you will not see any success alert.

##### **JHipster Version(s)**

v5.8.2

##### **Browsers and Operating System**

MacOs chrome

[2019-03-18 08:06] huyleonis commented on #9032
You can add dependency [swagger-ui ](https://mvnrepository.com/artifact/io.springfox/springfox-swagger-ui) into your project. Then, update mave, build , run project. The SwaggerUI will be available on ` URL http://localhost:8080/swagger-ui.html`

[2019-03-18 08:10] timosntr commented on #9426
Since I have the same issue I gave your tip a try:
I already can't deploy correctly with ``jhipster heroku`` because of the following error:
[code]
I gave ``jhipster ci-cd`` a try nevertheless but with the same result as @xenogew
Also i had to modify my frontend-test in the pipeline: The npm argument ``test-ci`` didn't work out for me and i changed it to ``ci`` because of this error:
[code]

[2019-03-18 09:50] PierreBesson commented on #9032
@huyleonis, maybe your suggestion can be discussed on this opened issue: https://github.com/jhipster/generator-jhipster/issues/7966

[2019-03-18 09:55] gmarziou commented on #9440
What if the user has modified manually some tests in these old integration tests?

[2019-03-18 10:11] gmarziou commented on #9032
@huyleonis yes but how would you manage authentication in swagger-ui?

[2019-03-18 15:55] soberich opened #9448 "Use JRE instead JDK image for docker."
Currently used tag is `openjdk:11.0.1-slim-stretch` which is JDK not JRE
All `...-slim-stretch` are JDKs and to get JRE it needs to be `...-jre-slim-stretch`
I won't follow you guidelines for this kind of tiny issues, so, just close it with "does not comply.." but at least you read this and you know about the issue, so, you can fix it.
Yours respectfully.

[2019-03-18 21:17] pmverma commented on #9440
Normally JHipster regenerates them anyway during upgrade but do not delete them. So yes, we also need to consider that part. It would be nice if we have some data from users.

[2019-03-19 01:06] carrbrpoa commented on #5805
Just tried to build image with `docker-compose -f src/main/docker/app.yml up` in Windows 10 and got:
[code]
Same error? I'm new to JHipster...

[2019-03-19 01:40] DanielFran commented on #9428
@PierreBesson PRs are ready for review.

[2019-03-19 04:24] raminassar87 opened #9450 "JHipster Import-jdl Entity generator master.xml and CacheConfiguration not updated"
Hello @jdubois ,
I generated a microservice application using JHipster then I generated a lot of entities by using the JHipster "import-jdl" command.

But recently I noticed that after running **Import-jdl** command, newly created changelog files not being reflected on **master.xml** Liquibase file and **CacheConfiguration** class not being updated with a newly created entity.

I think that behavi

[2019-03-19 09:01] jdubois commented on #8731
As nobody works on this, can we close this?

[2019-03-19 09:08] wmarques commented on #9305
Fixed by https://github.com/jhipster/generator-jhipster/pull/9445

[2019-03-19 09:08] #9305 closed

[2019-03-19 09:13] gmarziou commented on #5805
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2019-03-19 09:15] tibistibi commented on #9305
thanks @wmarques

[2019-03-19 09:55] JinnaBalu commented on #9447
Can you provide the git repo or yo-rc.json file for reproducing the same error? Your steps are not according to the guideline.

[2019-03-19 10:15] pvliss opened #9451 "Gradle does not work with Yarn"
##### **Overview of the issue**
Gradle projects no longer build when choosing Yarn as the client package manager.

[code]

##### **Motivation for or Use Case**
Gradle projects should work with Yarn as well

##### **Reproduce the error**
Create a new project using gradle and yarn. Then do `./gradlew` and build will fail

##### **Related issues**
This is a regression after merging #9389

##### **Sug

[2019-03-19 10:44] cbornet commented on #7608
Reactor now supports a [reactive pool](https://github.com/reactor/reactor-pool) that could be useful for R2DBC connection pooling

[2019-03-19 13:36] atomfrede commented on #9448
I think thats a valid point in order to keep our images small. For running an application a jdk is not needed.

[2019-03-19 14:08] wmarques commented on #9448
@soberich Yes you are right, jdk is not necessary to run the server.
Are you willing to do a PR on this ?

[2019-03-19 14:37] PierreBesson commented on #9448
As of JDK11, I have heard that the concept of JRE doesn't really exists anymore in JDK.

https://www.oracle.com/technetwork/java/javase/11-relnote-issues-5012449.html

However it seems that the openjdk image has a JRE version:
- `openjdk:11.0.2-slim-stretch`: 474MB
- `openjdk:11.0.2-jre-slim-stretch`: 273MB

So I guess we can switch to the JRE version.

[2019-03-19 14:42] PierreBesson commented on #9145
OK, so let's keep using the `openjdk` docker image.

[2019-03-19 15:39] xenogew commented on #9426
@PierreBesson Apologize for a long time redo.

Here's the result.

#### The log from Heroku
##### **I think it come out the same reason.**
[code]

#### Repository
And here is the link to my repo, I made it public. [Jhip-CICD-Bug](https://gitlab.com/w_nattasan/jhip-cicd-bug)

#### Setup process

##### What I did:
1. Generated project
1. First test, build, run on local machine
1. Push to Gitlab -> m

[2019-03-19 17:10] rakeshkalra1983 commented on #9447
Kindly use jhipster sample app only present here: https://github.com/jhipster/jhipster-sample-app and then turn set alertAsToast value to true in app.module.ts.

[2019-03-19 17:12] #9448 closed

[2019-03-20 07:16] pascalgrimaud commented on #9419
Sure, it can be improved a little bit, but the prompt must be **short** for our users, that's why we can't add a full description of every technologies.

About other modules from marketplace, we can't put the full description: it would be really too long. You should go and read their documentation before choosing the option.

Let's close this for now, as I think all information are already in docu

[2019-03-20 07:16] #9419 closed

[2019-03-20 07:18] pascalgrimaud commented on #9422
We don't have a full real CI for Kubernetes, but we can add `npm test` for that.

[2019-03-20 07:37] sunshakespeare opened #9455 "i connot solve then i think is a bug(tell me how to solve plz):Full authentication is required to access this resource"
i connot solve then i think is a bug(tell me how to solve plz):Full authentication is required to access this resource

[2019-03-20 08:36] gmarziou commented on #9455
This ticket has been closed as the **guidelines are not followed**. You must provide required information to get help.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new t

[2019-03-20 08:36] #9455 closed

[2019-03-20 12:00] gomesp opened #9457 "Running mvnw with prod profile defaults to the dev,swagger profiles"
##### **Overview of the issue**

Using JHipster 5.8.2.

In order to determine if this could be just an user error, I have created a new monolith app using all the default answers. The chosen data sources were H2 and MySQL.

When I switch between the dev and prod profiles, the app will continue running in the dev,swagger profiles.

I have initialised the app with the the following command: ```./mvn

[2019-03-20 14:39] avdev4j opened #9459 "Using noI18n with a blueprint throw an exception"
##### **Overview of the issue**
When we generate a new project with a blueprint and choose to not have i18n the generator throw an exception when generate files.

##### **Motivation for or Use Case**
Avoid the exception ;) and make possible to have both blueprint and noi18n.

##### **Reproduce the error**
Run `jhipster --blueprint myBlueprint` where myBlueprint is a known blueprint (previously lin

[2019-03-20 15:02] avdev4j commented on #9446
I assume this is related to OIDC configuration, no ?

Does something like `http://myUrl/*` should work.

[2019-03-20 15:52] #8731 closed

[2019-03-20 16:02] vishal423 commented on #9446
Its an issue with client side code. I will soon patch fix

[2019-03-20 16:09] ruddell commented on #9457
I can't reproduce with v5.8.2 on Mac.  Not sure what could cause it.
[code]

[2019-03-20 16:16] avdev4j commented on #9446
Does it related to "#" in the URL ?
Because there is some work done about that recently

[2019-03-20 16:24] atomfrede commented on #8969
@carloca68 Would you mind doing a PR? Not sure if I got it correctly. In fact its the same string we use for maven (which also only forwards to liquibase, so maybe we have the same problem there too?)

[2019-03-20 16:30] clakech commented on #9145
Hello, do you know when JHipster v6 will be released on average ?

[2019-03-20 16:42] PierreBesson commented on #9145
@clakech sorry we can't answer you. We are doing our best to make a new release as soon as possible. We will probably release a beta version in the coming weeks.

[2019-03-20 17:37] pmverma commented on #9457
I have experienced this same error with one of my PR branch. I was not sure if I messed up something and I had to create a fresh new branch to work again properly.

[2019-03-20 22:14] #9451 closed

[2019-03-21 07:57] coderLinJ5945 opened #9462 "Jhipster uaa source code issues"
In the source code of jhipster-registry, I basically use try catch to return exceptions in the source code, and then use return new ResponseEntity for exception handling.
However, in the uaa source code, try catch new exceptions are used.I have questions about the uaa source code.
As far as I know, creating an exception takes a snapshot of the thread stack, which can be very time-consuming.
My que

[2019-03-21 08:41] gomesp commented on #9457
I removed all my development tools and reinstalled it from scratch. There was something buggered in my environment.

[2019-03-21 08:41] #9457 closed

[2019-03-21 08:42] clakech opened #9463 "Strange behavior of service tests with angular: always passed but failed"
##### **Overview of the issue**

When generating a project, angular services tests are green but this is fake news: whatever you expect in those tests, they stay green because this is a coding issue with RxJS stuff there

##### **Motivation for or Use Case**

Tests should not be OK when expectations are KO

##### **Reproduce the error**

git clone https://github.com/clakech/jhipster-fake-tests-sam

[2019-03-21 09:24] vishal423 commented on #9463
I have also seen this issue and wrapped my test function in `async()` function like below to solve this. However, I am not sure on why the current syntax doesn't work as it's following [angular documentation ](https://angular.io/guide/http#expecting-and-answering-requests) to test http client calls.

[code]

[2019-03-21 09:27] wmarques commented on #9463
@vishal423 maybe because they're running with Karma and we use Jest

[2019-03-21 14:54] piprog commented on #7353
Still have this issue in 5.8.2 with the generator-jhipster-entity-audit module that is installed globally:

Could not compose module generator-jhipster-entity-audit.
Make sure you have installed the module with 'npm install -g generator-jhipster-entity-audit'

[2019-03-21 16:50] piprog commented on #7353
Installing the generator-jhipster-entity-audit module locally (i.e. 'npm install generator-jhipster-entity-audit') resolves the issue

BTW: should I rather do 'npm install generator-jhipster-entity-audit --save-dev' since I need this as a dev dependency?

[2019-03-21 17:06] rostendrixpoterentax opened #9465 "Not compile generated Monolithic application"
##### **Overview of the issue**

\src\main\java\*\*\web\rest\AuditResource.java

Error:(43, 98) java: incompatible types: org.springframework.web.util.UriComponentsBuilder cannot be converted to javax.servlet.http.HttpServletRequest

Error:(66, 98) java: incompatible types: org.springframework.web.util.UriComponentsBuilder cannot be converted to javax.servlet.http.HttpServletRequest

\src\main\jav

[2019-03-21 17:14] cbornet commented on #9465
I guess you're on master (you didn't mention it in the description). You need to clone and install the jhipster-dependencies locally.

[2019-03-21 17:14] #9465 closed

[2019-03-21 17:14] atomfrede commented on #9465
Had the same problem yesterday but thought it was my local setup.

[2019-03-21 17:16] atomfrede commented on #9465
@cbornet thanks for the hint so maybe it was my local setup

[2019-03-21 17:17] cbornet commented on #9465
@jdubois would you have time to publish the dependencies snapshot ?

[2019-03-21 20:17] rostendrixpoterentax commented on #9465
Yes. I cloned the JHipster project's master branch.

[2019-03-22 01:39] yudar1024 opened #9466 "a suggestion of release plan"
##### **Overview of the feature request**

jhipster is greate and the release of major version can be more agile. Jhipster is consist of many subproject, and not all person need them all. for example , we just need maven and angular version. do not need gradle and react version. so we hope if maven and angluar version is ready to release , we can use new major version as soon as possible. don't ne

[2019-03-22 07:39] coderLinJ5945 opened #9467 "Jhipster uaa source code used more throw new Exception doubt"
##### **Overview of the issue**

uua source code when the interface returns, it is heavily used 'throw new Exception', but all I see in register is used 'return ResponseEntity' method. I have a question,why is it used in uaa 'throw new Exception'

##### **Motivation for or Use Case**

if (userDTO.getId() != null) {
            throw new BadRequestAlertException("A new user cannot already have an I

[2019-03-22 07:47] PierreBesson commented on #9467
ping @xetys

[2019-03-22 08:12] PierreBesson commented on #9466
Hi @yudar1024,
I understand your idea, the problem is that the different parts are highly dependent from each other, for example if you update a back-end endpoint, you have to adapt the front-end client (just to give a simple example, some dependencies are more complex).

If the generated application was just a hello-world then what you say would be easy. However a typical applications is 40K line

[2019-03-22 08:15] coderLinJ5945 commented on #9467
I found this author changed the way the 'return ResponseEntity' is used in the source code,but Jhipster generated uaa that had not been modified.
url:https://github.com/xetys/jhipster-uaa-setup/blob/master/uaa/src/main/java/com/mycompany/myapp/web/rest/UserResource.java

[2019-03-22 08:25] PierreBesson commented on #9435
Seriously the project name should not be in uppercase. Then it is our mistake of forgetting to force lowercase at some point. I'm personally against having uppercase in the default route names. So we should go with @ruddell's solution to do the same thing for consul as we do for Eureka.

@amrnablus Also please respect the guidelines and paste the .yo-rc.json file in your issue description. It has

[2019-03-22 08:30] PierreBesson commented on #9467
@coderLin please paste your .yo-rc.json file in your issue description. As it stands it is not a valid issue and is at risk of automatic closing by the team. Thanks for understanding.

[2019-03-22 08:40] coderLinJ5945 commented on #9467
I have the answer, I will close this question, thank you very much

[2019-03-22 08:40] #9467 closed

[2019-03-22 08:44] PierreBesson commented on #9467
@xetys can you confirm that the code is fixed in the current master ?

[2019-03-22 09:13] pascalgrimaud commented on #9466
@yudar1024 :
- I'm considered by the team as the DevOps
- I'm taking the responsability for the current workflow of release
- I know a lot of people would like more frequent release, more quality, and we would like too !
- I have in mind a new release process for all of our projects which could improve a lot our current workflow, but I don't have the time to start it :-( I spoke about it, last yea

[2019-03-22 10:22] jdubois commented on #9465
@cbornet it's deployed!
I don't think this can be easily automated, as this must be signed with GPG - it's a trust issue, of course!

[2019-03-22 11:59] deepu105 commented on #9466
May be we could do more beta releases. It will make it easier for people
who wants the latest release and cant wait.

Thanks & Regards,
Deepu

On Fri, Mar 22, 2019 at 10:13 AM Pascal Grimaud <notifications@github.com>
wrote:

[2019-03-22 13:10] piprog commented on #8242
hi @abhisheksharma85 - do you have any update? I'd need to implement 2FA would love to look at your code :)

[2019-03-22 14:56] amrnablus commented on #9435
@PierreBesson I very much thank your contribution and I think jhipster is amazing, and I did provide a full working reproduction of the issue in my previous comment.
That said, what do you suggest as a replacement for the capital letters in a project name? If using "_" or "-" could fix the issue at the moment I can just switch to that assuming it doesn't cause other issues

[2019-03-22 17:47] ecostanzi commented on #7000
We just published a module for using testcontainers for SQL databases. https://www.npmjs.com/package/generator-jhipster-testcontainers. :)
H2 will still be the default but with `testcontainers` profile you'll run the test using the `prodDatabaseType` database. It's a draft version but it's potentially be extended to non-SQL databases.

[2019-03-23 06:30] #8969 closed

[2019-03-24 10:47] rakeshkalra1983 commented on #9446
@vishal423 can you please update me with the correction, what needs to be fixed where?

[2019-03-24 15:36] #9428 closed

[2019-03-24 21:25] #9095 closed

[2019-03-25 00:38] pascalgrimaud commented on #9462
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-03-25 00:38] #9462 closed

[2019-03-25 00:40] DanielFran commented on #9334
Closing since #9334 has been closed

[2019-03-25 00:40] #9334 closed

[2019-03-25 00:50] pascalgrimaud commented on #9459
@avdev4j : I don't understand well the issue.

For me, you shouldn't have this error `Error: /Users/aviard/projects/jhipster-myBlueprint/generator-jhipster-myBlueprint/generators/languages/templates/src/main/webapp/i18n/en/home.json.ejs doesn't exist` because no files from i18n folder should be copied, as you choose noi18n

And we don't have the issue in Vue.js blueprint

[2019-03-25 00:52] pascalgrimaud commented on #9450
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-03-25 00:52] #9450 closed

[2019-03-25 00:57] pascalgrimaud commented on #9442
You're right, we should use same version for all our docker-compose file

[2019-03-25 01:03] #9439 closed

[2019-03-25 01:08] #9421 closed

[2019-03-25 07:44] avdev4j commented on #9459
hi @pascalgrimaud
it's not related to i18n template copying but placeholders replacement.

=> utils: copyWebResource()
=> utils: replaceTranslation() or replacePlaceholders() or replaceTitle()
=> utils: geti18nJson()

We need to load the i18n json files to replace all keys by their values. It tried to load them from my blueprint folder instead of the main generator JHipster folder.

[2019-03-25 07:52] pascalgrimaud commented on #9459
Oh I see, maybe we don't have the issue with Vue.js because some methods are overrided:
https://github.com/jhipster/jhipster-vuejs/blob/master/generators/utils.js

[2019-03-25 07:55] avdev4j commented on #9459
I've seen this too. I've just tested with a new empty blueprint and I can't reproduce it. I need to find where it come from.

[2019-03-25 08:35] #9261 closed

[2019-03-25 10:40] #9374 closed

[2019-03-25 15:01] amalkurup opened #9480 "Rest endpoints for Jhipster server for tasks like creating apps, entities or importing jdl file"
##### **Overview of the feature request**

Rest endpoints for jhispter server installed, so that we can trigger auto-generation of apps or entities from other applications

##### **Motivation for or Use Case**

Jhipster can be integrated with various internal applications

[2019-03-25 16:01] PierreBesson commented on #9480
@amalkurup Is this request concerning JHipster Online (https://github.com/jhipster/jhipster-online) ?
If it's the case then please it should have been opened on jhipster/jhipster-online.

I think you mean that we should open the JHipster Online API publicly. This is actually planned so I'm closing this issue.

[2019-03-25 16:01] #9480 closed

[2019-03-25 16:08] amalkurup commented on #9480
@PierreBesson it's not related to jhipster online. My case is,

1. jhipster installed on an Ubuntu container

2. Instead of jhipster-cli, I need to expose the jhipster app/entity generation capability over rest API, so that external apps on some other docker container can access this rest API

[2019-03-25 16:54] PierreBesson commented on #9480
For running JHipster "as a service" we have already developed JHipster Online. It specifically exposes a REST API to generate apps and can return a zip file that you can download. Otherwise I don't understand what you want to do.

[2019-03-25 17:12] amalkurup commented on #9480
@PierreBesson Thanks for the pointer.

One quick question - Does Jhipster-online provide all the capabilities of jhipster generator

[2019-03-25 17:15] PierreBesson commented on #9480
Not currently. It only supports app, entity and ci pipelines. However it is able to connect to github, gitlab and bitbucket.

[2019-03-26 01:03] ganeshkrishnan1 commented on #9466
@pascalgrimaud @deepu105 , I didn't know you guys did this on personal time. Do you mind sharing the release process with the community?
We are a startup the heavily uses jhipster and I would glad to contribute or even ask our devs to contribute.

[2019-03-26 01:08] ganeshkrishnan1 commented on #9145
@jdubois, afaik openjdk provides the source and adoptopenjdk compiles them for various architectures. Technically they are the same as adoptopenjdk just uses openjdk source upstream.

[2019-03-26 08:33] jdubois commented on #9466
I'm currently doing it on the Paris subway while community!
Less Candy Crush, more GitHub :-)

[2019-03-26 09:22] #9134 closed

[2019-03-26 10:45] vishal423 commented on #9446
@rakeshkalra1983, `UserRouteAccessService` guard also checks the user identity (used in private routes to authorize access). If it can't find in-memory user identity, it stores the current url in session storage and redirect to OIDC for authentication.

To fix current issue, post **successful** authentication, you need to retrieve the stored url from session storage and navigate to that. There is

[2019-03-27 02:40] medimohammadise commented on #9383
What is the result of this? Did you find any solution? I have the same issue.

[2019-03-27 03:24] mraible commented on #9383
@medimohammadise It's a low priority issue for me. I'd be happy to review/approve a pull request if someone has the time to test and fix.

[2019-03-27 03:44] mraible commented on #9145
What is there left to do for Java 11 (or 12) compatibility?

[2019-03-27 03:46] mraible commented on #7708
@srinivasa-vasu The PR you were waiting for (#8987) has been merged. Can you please revisit this issue?

[2019-03-27 05:18] pmverma commented on #9442
@pascalgrimaud @pvliss If you do not have any concern with the suggested fix I will do a PR. But again I am not sure for the CI issue which you had earlier. Any thoughts?

[2019-03-27 06:33] pvliss commented on #9442
@pmverma Sorry but I somehow missed this issue. Yes please go ahead. I do not think that switching the version back to 2 will cause any issues

[2019-03-27 09:52] deepu105 commented on #9431
Also please note that we won't be able to support every usecase out there
and there is only so much combination we can support. I suggest you
generate with DTO and rewrite the ones where you want lazy loading from
mapstruct to what you like. We are sorry that we have to reject the request.

On Fri, 15 Mar 2019, 3:42 pm Julien Dubois, <notifications@github.com>
wrote:

[2019-03-27 13:30] #9175 closed

[2019-03-27 13:47] rakeshkalra1983 commented on #9383
@mraible @medimohammadise I didn't find any solution for this yet, I do see UserService.java have code to set imageUrl in User.java if coming from OIDC:

if (details.get("picture") != null) {
            user.setImageUrl((String) details.get("picture"));
        }

Its not coming from keycloak somehow. Even checked scope being used when calling google api which contains profile scope, which should

[2019-03-27 13:52] mraible commented on #9383
In that case, I think we should close this issue since it’s related to Keycloak, not JHipster.

[2019-03-27 14:11] pblanchardie opened #9486 "jOOQ support"
##### **Overview of the feature request**

Provide an option to generate some jOOQ code.

##### **Motivation for or Use Case**

Provide a way to use jOOQ with the JHipster's generation logic and simplicity, and start writing complex yet performant dynamic queries that can't be written with JPA/specifications/QueryDSL, and avoid using SQL views and stored functions.

##### **Related issues or PR**

[2019-03-27 15:53] atomfrede commented on #9486
I like jooq very much and it is quite easy to integrate with spring boot I don't think we can maintain an alternative to hibernate here.

[2019-03-27 16:13] pblanchardie commented on #9486
I agree with the ease of integration. I don't talk about an "alternative", but the option to use jOOQ as a complementary tool. Indeed, it would be nice to collaborate on a jooq-jhipster-generator module.

[2019-03-27 16:21] cbornet commented on #9486
You can indeed build a module for this. Is there more than just adding the JOOQ dependency to the POM ?

[2019-03-27 16:54] atomfrede commented on #9486
It depends what you want to do. I would like to have jooq codegen which requires maven/gradle plugin and a running database. And it is more or less not really possible to use different databases for Dev and production

[2019-03-27 17:29] arjunnayak commented on #9223
We're running into the same issue with our company blueprint, and scoped packages are necessary when you want to use a private company npm registry + the public registry. Any chance we can upgrade yeoman to support this, as @avdev4j recommended?

[2019-03-27 18:09] hdurix commented on #9431
Your use case is classic. But I think it's really linked to your business: sometimes you want to have some attributes (lazy loaded relations or direct attributes -> BLOB, ...), and JHipster could not know what the user wants, so the generated code should be modify to answer better the business needs.

I'm not a mapstruct expert, but for me, you could have different ways to map each entity: somethi

[2019-03-28 01:41] #9442 closed

[2019-03-28 02:51] recyclerzhu2015 commented on #9032
@micobarac I got same issue, my workaround is add swagger-ui and swagger-layer dependency  in pom.xml. then I can access http://localhost:8080/docs.html

[2019-03-28 03:39] ruddell commented on #9223
Yeoman has supported scoped generators [since this commit](https://github.com/yeoman/environment/commit/7342d0a5844ae1bd4d36338e847c4fd6dd8f90fd) a few years ago.

I tested with @avdev4j's change and the app successfully composed a scoped blueprint and generated the expected files.  The only difference is that you must pass the full package name:
[code]

[2019-03-28 07:29] #9435 closed

[2019-03-28 08:05] PierreBesson commented on #9435
@amrnablus you should be able to apply the fix I did in my PR. Note that this must be done in all your apps. Thanks @rudell for the analysis !

I would say that uppercase chars are valid as jhipster app names. But I don't really like the possibility of having underscore or dashes in the app name. I'm going to check that we do validation against that.

[2019-03-28 09:54] jdubois commented on #9486
jOOQ can only be a module, it's far too much work for us to integrate.

A quick look at Google trends, etc, show that few people use it. It's not against the product by itself, but by experience when a technology isn't widely used we have too much trouble to find contributors. We had the same issue with Cassandra & Couchbase, but fortunately we solved those by having dedicated commiters on each: t

[2019-03-28 10:15] atomfrede commented on #9486
In fact Lukas has now I think two employees but pretty sure they have other
priorities than providing a jhipster integration

On Thu, Mar 28, 2019, 11:03 Julien Dubois <notifications@github.com> wrote:

[2019-03-28 12:42] anthony-o opened #9493 "Ability to run jhipster Docker image using another user than user 1000"
##### **Overview of the feature request**
[Docker image 5.8.2](https://github.com/jhipster/generator-jhipster/blob/v5.8.2/Dockerfile) is creating a `jhipster` user with the default UID `1000` and defines this user by default when running the image.
I would want to be able to give an environment variable (or detect the target UID using the one of `/home/jhipster/app` when mounting the app volume) t

[2019-03-28 13:20] #9446 closed

[2019-03-28 13:20] #9459 closed

[2019-03-28 14:06] olivierdepriester opened #9494 "Email : localized messages not found for Locale with country specified (zh-cn)"
##### **Overview of the issue**
When emails are generated for a Locale when the country is specified, the messages are not translated in this locale.
It seems to be due to the "uppercasing" of the country attribute in the locale initialization :

[code]
##### **Motivation for or Use Case**

99% of my users are Chinese and 2% of them speak English :)

##### **Reproduce the error**

* Generate an ap

[2019-03-28 14:16] cbornet commented on #9493
Have you tried to use [userns-remap](https://docs.docker.com/engine/security/userns-remap/)

[2019-03-28 14:47] mraible commented on #9145
I believe this can be closed since the current master branch works with Java 11 and 12.

[2019-03-28 14:48] jdubois commented on #9145
Thanks @mraible !

[2019-03-28 14:49] mraible commented on #8942
I believe this should be closed. As a security-minded developer, I can see the reasoning behind this issue. However, as a regular developer, a user dropdown with no users in it would be puzzling.

[2019-03-28 14:49] jdubois commented on #8880
I'm adding a bug bounty on this, as this is important for JHipster 6

[2019-03-28 14:50] jdubois commented on #9165
I'm adding a bug bounty here also, this is important for JHipster 6

[2019-03-28 14:51] vishal423 commented on #8880
I suspect this issue is also causing the manual upgrade to auto commit

[2019-03-28 15:09] jdubois opened #9495 "Sonar support for JHipster 6"
Our current Sonar analysis is pretty bad:

https://sonarcloud.io/dashboard?id=io.github.jhipster.sample%3Ajhipster-sample-application

We have 3 different issues:

- [ ] Since we moved most of the unit tests to be integration tests, they are not covered anymore.
- [ ] The front-end tests are not analyzed anymore
- [ ] There is a new issue because of [this new rule](https://sonarcloud.io/organizati

[2019-03-28 15:13] jdubois commented on #9413
JHipster 6 beta release is getting close, is there anything I can do here? If it's just doing a release I can totally do it

[2019-03-28 15:22] avdev4j commented on #9495
All you need is here #9482 ;)

[2019-03-28 15:26] jdubois commented on #9495
Oh thanks @avdev4j -> closing this

[2019-03-28 19:26] rakeshkalra1983 commented on #9383
Not sure though, I have limited knowledge in this context. Will be great if you can check.
Also could it be possible that jhipster-realm.json included with jhipster project, might have some scope of improvement to take care of this?

[2019-03-28 19:37] mraible opened #9498 "Upgrade to JUnit 5"
##### **Overview of the feature request**

We should upgrade to JUnit 5 because it's the latest and greatest version of JUnit and JHipster is hip!

##### **Motivation for or Use Case**

Show Java developers the latest and greatest technologies.

##### How

For Maven, exclude `junit:junit` and include `junit-jupiter-engine`:

[code]

For Gradle:

[code]

In .java files:

1. Replace `org.junit.Befor

[2019-03-28 20:17] pascalgrimaud commented on #9486
I think we agree it should go into module, so let's close this.
Don't hesitate to ask help if needed, if you decide to start a module or, ping us on Twitter to promote your module

[2019-03-28 21:41] cbornet commented on #9498
That would be great. I just hope all our test dependencies work with it. For instance I had issues on a project with the EmbeddedKafka. Testcontainers seems to have an extension.

[2019-03-28 23:00] DanielFran commented on #9413
https://github.com/jhipster/jhipster-core/pull/315 needs to be merged.

In fact @MathieuAA did not make a latest release including this this one because of https://github.com/jhipster/jhipster-core/pull/309 that has been merged and need SB 2.1.4 (see https://github.com/jhipster/generator-jhipster/pull/9341 for more details).

To resume, you can merge it and create the release since we are pretty c

[2019-03-28 23:26] DanielFran commented on #9084
@jhipster/developers Can someone give opinion on this?

[2019-03-29 01:25] SUSTAPLE117 opened #9499 "Extending User with jpaDerivedIdentifier and Oauth2 id type mismatch"
##### **Overview of the issue**
After generating the application using these settings, I firstly get this method in my SiteUserResource.java where in the following two lines, a String is tried to be assigned to a long and a long is being used in a String parameter.
[code]
The complete method:
[code]
If I correct this method and then run the App I get an issue with liquibase because the id of User

[2019-03-29 05:14] pmverma commented on #9499
@SUSTAPLE117 Thanks for reporting the issue. Actually I developed this part and am wondering that all the CI tests passed.
I will fix this soon.

[2019-03-29 05:20] pmverma opened #9500 "Remove 'cc' profile from maven pom.xml"
##### **Overview of the feature request**
As explained in https://github.com/jhipster/generator-jhipster/pull/9369#issuecomment-469292093, we can remove the cc profile from maven pom file

##### **Motivation for or Use Case**

There is no exact data available but it seems nobody is using that profile. Remove unnecessary code and keep clean the pom.xml.

##### **Related issues or PR**

-   [x] Chec

[2019-03-29 05:26] pmverma opened #9501 "Move maven dependency declarations from inside build tag to dependencies tag"
##### **Overview of the feature request**

As per https://github.com/jhipster/generator-jhipster/pull/9369#issuecomment-469283608, it is suggested that dependency declaration should move from inside `<build/>` to `</dependencies>`

##### **Motivation for or Use Case**

This improvement will make pom.xml a little simpler and cleaner.

##### **Related issues or PR**

-   [x] Checking this box is man

[2019-03-29 06:00] pmverma commented on #9499
With OAuth2, id is `String` and JHipster currently support only `long` for its entities ids. And this will exactly results in type mismatch error as you have with liquibase error.

In this case, the entity related to user should have `String` and `varchar2` as its datatype as oppose to `long` and `bigint`.

[2019-03-29 07:09] colameo commented on #2992
I'm missing serialVersionUID in DTOs. Any reason for that?

[2019-03-29 07:24] pmverma opened #9502 "Generate OIDC realm name same as with app name"
##### **Overview of the feature request**

Currently, JHipster generates all the realm settings with the name `jhipster`. This FR is to change the realm name to app name.

##### **Motivation for or Use Case**
This will unify the names across app and OIDC provider.

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-03-29 07:43] vishal423 commented on #9502
this wouldn't be feasible in micro-services architecture.

[2019-03-29 07:56] avdev4j commented on #9502
Is this really an issue because teams will automatically change oidc config to match with theirs ?

[2019-03-29 08:05] vishal423 commented on #9502
instead, i would prefer to rename `web_app` client with appname (assuming no conflict in naming rules)

[2019-03-29 09:38] jdubois commented on #9500
yes let's remove it, I don't think anybody uses it anyway

[2019-03-29 09:39] ufwtlsb opened #9503 "angular unittest user.service.spec.ts expect not work"
##### **Overview of the issue**
 user.service.spec.ts change
            it('should return User', () => {
                service.find('user').subscribe(received => {
                    expect(received.body.login).toEqual('user');
                });

                const req = httpMock.expectOne({ method: 'GET' });
                req.flush(new User(1, 'user'));
            });
expect(received.

[2019-03-29 09:42] jdubois commented on #9413
@DanielFran I just merged jhipster/jhipster-core#315 but I'm lost with #9341 - if that breaks everything, shouldn't we better rollback temporarily?

[2019-03-29 09:43] jdubois commented on #9503
I'm sorry but we need your configuration here, with the default setup I'm sure that this passes, as we have unit tests running all the time for those

[2019-03-29 09:56] DanielFran commented on #9413
@jdubois If I understood correctly it was not possible yet to implement relations for couchbase (#9342).
So it should be OK to release it if we do not push the documentation....
For me it os OK for beta with it included, anyway the update to SB 2.1.4 is for next monday Apr-1 and we can confirm it is fixed.

[2019-03-29 10:26] vishal423 commented on #9503
it's duplicate of #9463

[2019-03-29 10:28] jdubois commented on #9503
Thanks @vishal423 - closing as duplicate

[2019-03-29 10:28] #9503 closed

[2019-03-29 10:36] jdubois commented on #8942
Please note that you need to have the "ROLE_USER" role to get the user's list, so this is not insecured - it is secured with a role that logged in users have. I have modelled this after the GitHub API initially: when you are logged in you can see the other users, as this is a common business requirement. This is quite usual in companies if you use any kind of directory: for example, I'm pretty sur

[2019-03-29 11:43] SUSTAPLE117 commented on #9499
Thanks for your answer. I am using JDL, so I do not think there is a way to change the Id type of my entity extending User to Long, unless doing it manually?

[2019-03-29 12:37] PierreBesson commented on #9500
Yes it also doesn't work for jdk11 as Scala doesn't support jdk11 yet.

[2019-03-29 13:22] PierreBesson commented on #9493
This userns-remap flag looks like a good solution. @anthony-o if you make it work for you. Could you contribute the solution to the docs ([jhipster/jhipster.github.io]( https://github.com/jhipster/jhipster.github.io))?

[2019-03-29 14:09] #9500 closed

[2019-03-29 15:54] anthony-o commented on #9493
I can't because it is a setting that must be set for the whole `docker` daemon, I can't use this just as an argument to a specific `docker run`...
In order to avoid each time to do this, I build a specific Docker image like this: https://github.com/iorga-group/debattons/blob/master/scripts/docker-run-jhipster.sh
But I don't think it is a good practice, other Docker image like [MySQL one](https://h

[2019-03-29 16:03] PierreBesson commented on #9493
Just had a quick look at the code of the MySQL dockerfile and it seems their --user flag let's you switch the MySQL user and not the linux user. I could be mistaken as I went over it really quickly.

See https://github.com/docker-library/mysql/blob/a7a737f1eb44db467c85c8229df9d886dd63460e/8.0/docker-entrypoint.sh

[2019-03-29 16:06] PierreBesson commented on #9493
Taking a second look I'm really not sure about my previous statement. If you manage to make it work without breaking other use cases. A PR is welcome.

[2019-03-29 16:18] anthony-o commented on #9493
The idea would be I think, to create an image without jhipster user inside, and with the possibility that any user could use the installed nodejs & jhipster tools (without "chowning" the nodejs library if you will).
I'm not sure to have the time to look at it but if I have I will try to PR something...

[2019-03-30 10:10] ufwtlsb commented on #9463
maybe because rxjs config useDeprecatedSynchronousErrorHandling is false,then expect throw use
settimeout async called

[2019-03-30 10:21] clakech commented on #9463
Maybe yes. Good clue.

If yes, I would recommend to fix the code and not using this flag 😉

Le sam. 30 mars 2019 à 11:10, ufwtlsb <notifications@github.com> a écrit :

[2019-03-30 16:31] pascalgrimaud commented on #9495
I'm reopening this, as our [sample](https://sonarcloud.io/dashboard?id=io.github.jhipster.sample%3Ajhipster-sample-application) is still broken

[2019-03-30 17:56] pascalgrimaud commented on #9495
Fixed by https://github.com/jhipster/generator-jhipster/pull/9511

[2019-03-30 17:56] #9495 closed

[2019-03-31 07:45] pascalgrimaud commented on #2992
it's a very old issue.
@colameo : why do you reopen it ? Is there an issue related to this ? In this case, it would be better to open a new one

[2019-03-31 08:02] pascalgrimaud opened #9513 "JDK11 + Infinispan: e2e tests"
##### **Overview of the issue**

Following https://github.com/jhipster/generator-jhipster/pull/9512 #9507
We detect now **JDK11** doesn't work well with **Infinispan**.

See https://dev.azure.com/jhipster/generator-jhipster/_build/results?buildId=2794

Here an extract of logs:

[code]

##### **JHipster Version(s)**

INFO! Using JHipster version installed locally in current project's node_modules
I

[2019-03-31 08:12] pascalgrimaud opened #9514 "JDK11 + UAA: e2e tests"
##### **Overview of the issue**

Following #9512 #9507
We detect now **JDK11** doesn't work well with **UAA**.

See https://dev.azure.com/jhipster/generator-jhipster/_build/results?buildId=2794

Here an extract of logs:

[code]

##### **JHipster Version(s)**

INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true

[2019-03-31 08:19] pascalgrimaud commented on #9502
As @vishal423 said, it would not be easy to find the correct realm for microservices.
And because you can have different gateway applications, we can't choose 1 name for all.

It could be possible but we need to do the same thing we do with UAA, add another question, keep the value in `.yo-rc.json` etc.

Keycloak + realm files are provided here as default config, to quick start all projects. All t

[2019-03-31 08:19] #9502 closed

[2019-03-31 08:29] pascalgrimaud commented on #9433
We do the same as normal Spring Boot, so for me there is no bug here.
Let's close this.

[2019-03-31 08:29] #9433 closed

[2019-03-31 08:56] pascalgrimaud commented on #9466
@ganeshkrishnan1 :

About the release process, done by Julien manually:
- release of ng-jhipster, react-jhipster, jhipster-core
- release of jhipster lib and wait for availability
- for generator-jhipster, tag, npm publish
- release of all sample projects, using jhipster-automated-samples project
- release and publish new devbox image
- write release note, merge pending PR and release jhipster.git

[2019-03-31 08:59] pascalgrimaud commented on #9466
I'm closing this ticket as it will be a continuous improvement on our side.
But we can continue to discuss here.

[2019-03-31 08:59] #9466 closed

[2019-03-31 09:06] pascalgrimaud commented on #9033
The work is already done here https://github.com/jhipster/jhipster-guides by:
- @Hawkurane
- @Shaolans
- @SoniaLahi

Congrats to you!
Of course, it can be improved, but let's close this ticket.

[2019-03-31 09:06] #9033 closed

[2019-03-31 09:08] pascalgrimaud commented on #2992
Too old ticket. Don't hesitate to open a new one if needed.

[2019-03-31 09:08] #2992 closed

[2019-03-31 11:09] pvliss commented on #9514
I was just looking into this and the problem seems to be a dependency problem.

JAXB is no longer available starting with Java 9 and we need to explicitly add the JAXB runtime as a dependency as also explained here: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-with-Java-9-and-above#jaxb.

While there are versions specified for both JAXB API and Impl they are only added as depend

[2019-03-31 12:31] pascalgrimaud commented on #9514
agree ! let's fix the builds.
Do we need this only for uaa or for all configs ?

[2019-03-31 12:36] pvliss commented on #9514
Well it appears that is only required by `spring-security-oauth2` which is only imported when using UAA. I have already done a [commit](https://github.com/pvliss/generator-jhipster/commit/53aed0098ce10fd0ece2b606d625ed798c1cf52d) at my fork but have not created a PR yet as I am waiting for the CI.

[2019-03-31 12:40] pascalgrimaud commented on #9514
cool, thx @pvliss
If possible, don't forget to test with jdk8 too
It's not covered by the CI in this repo, but it is the case in daily builds repo

[2019-03-31 12:46] pvliss commented on #9514
Yes I will and in the case of JDK8 we can simply exclude it. Also need to check gradle ...
Will create a new PR when ready.

BTW, do you think there could be anyway to test a PR/branch against the daily as it covers more test cases or have it trigger with new PRs?

[2019-03-31 13:08] pascalgrimaud commented on #9514
I don't know how we can exclude for jdk8, as we don't know which version the user will use.

Daily builds cover a lot of configs and take hours to finish. Testing more than 60 configs for each PRs will be impossible.

The best thing it could be done is to analyze the git diff, create specific configs to test. For example, if only uaa code is changed, create and test configs only with uaa. But it w

[2019-03-31 13:47] pvliss commented on #9514
That's ok. I understand. Just thought I'd ask as it is also very difficult to go through all these combinations manually as well.

Regarding Java versions. Maybe we could turn Java version into an option as that would change the deps used in some cases(as in this one) and could probably generate different code as well? Has this been discussed before?

[2019-03-31 13:59] pvliss commented on #9514
Seems to be fixed: https://dev.azure.com/pvlissidis0300/pvlissidis/_build/results?buildId=427

Will submit a PR and wait for the daily as well

[2019-03-31 14:03] jdubois commented on #9513
As our stats show nobody uses Infinispan, I'm for removing this completely

[2019-03-31 14:06] amalkurup opened #9515 "Integrate Jhipster gateway with kubernetes or open shift service discovery instead of Jhipster registry"
I am a novice to this awesome code generator framework called Jhipster

As I read through your docs, I see that Jhipster registry is a default and mandatory option for gateway angular application.

Use case : If user want to opt for k8s discovery, instead of Jhipster registry, what all are the configuration changes needed

[2019-03-31 15:07] pascalgrimaud commented on #9513
@DanielFran said it should be fixed with the new release of Spring Boot tomorrow.
Let's wait a few days

[2019-03-31 15:08] pvliss commented on #9513
@jdubois I was about to have a look at this one. Should I continue or do you really want to remove it alltogther?

[2019-03-31 15:08] pvliss commented on #9513
Oh, so its just a dependency issue or something?

[2019-03-31 15:12] pascalgrimaud commented on #9513
Quote from the mailing list :

So don't lost time on this, @pvliss

[2019-03-31 15:40] pascalgrimaud commented on #9515
There is already a ticket for that.
See https://github.com/jhipster/generator-jhipster/issues/9348

Don't hesitate to comment this ticket.

I'm closing this, as duplicated

[2019-03-31 15:40] #9515 closed

[2019-03-31 15:58] pvliss commented on #9513
@pascalgrimaud Thanks for the tip. Nevertheless, as I had already generated the project I decide to check it out and I was not able to reproduce locally for some reason :confused: . I most likely have something different. I do see some errors regarding jgroups such as the following:
[code]
which look more like a configuration problem to me.

[2019-03-31 17:05] pvliss commented on #9513
At least I found a fix for the jgroups errors :). See PR https://github.com/jhipster/generator-jhipster/pull/9517

[2019-03-31 17:53] pvliss commented on #9513
@pascalgrimaud I found the problem and it is with the Open JDK 11 provisioned whjch seems to have issues... The only difference I had with the CI is that was using Open JDK 11.0.2 provisioned through SDKMAN so I thought I would give it a shot and all tests now pass(https://dev.azure.com/pvlissidis/pvlissidis/_build/results?buildId=507), hence added PR #9518

[2019-03-31 19:09] Tcharl commented on #9287
I may be the only one that use rabbitmq. Not that important, Kafka is a pretty nice beast :-)

[2019-03-31 19:17] Tcharl commented on #9279
@jdubois Sure, I'm also curious to see how it works with Json serialization in between ;-).

@aneri90 Not really, we do not use lombok because it's dynamic weaving, not a processor that generates pure POJO

[2019-03-31 19:28] DanielFran commented on #9513
Not sure if was the same issue, but with spring-boot 2.1.4 this issue Will be fixed: https://github.com/spring-projects/spring-boot/issues/15981

[2019-03-31 19:33] pvliss commented on #9513
@DanielFran It might as well be that this issue is the real problem but is still weird that it works with a another JDK dist.

[2019-04-01 07:01] aneri90 commented on #9279
@Tcharl Ok! They have different purposes but i'm pretty sure that Lombok does not make use of dynamic weaving too. It's just an annotation processor.

[2019-04-01 07:54] slgxmh opened #9520 "The newly generated project has a GitHub insights security alert about bootstrap."
as this screenshot

![image](https://user-images.githubusercontent.com/13213238/55311556-d7451580-5495-11e9-9ae4-12e2c7152624.png)

And in my newly generated project, the version of bootstrap is 4.2.1.
![image](https://user-images.githubusercontent.com/13213238/55312639-95699e80-5498-11e9-9b82-849adb2d045f.png)

[2019-04-01 07:58] cbornet commented on #9279
Lombok is different : it works by modifying the bytecode. The others generate code before compilation.

[2019-04-01 08:32] PierreBesson commented on #9494
Thanks for the report, this is a really complex issue that I have already spent a lot of time on.
Please see this PR and discussion: https://github.com/jhipster/generator-jhipster/pull/6423

I don't remember all the details but this was related to the fact that the locale is of the form `zh-cn` in javascript (in the browser) and `zh_CN` in java. Currently the composed locales (eg. zh_CN are broken

[2019-04-01 09:34] wmarques commented on #9520
@slgxmh Thanks for the report. Indeed we need to bump our `bootstrap` version. Are you willing to do a PR to fix this issue ?

[2019-04-01 10:11] slgxmh commented on #9520
I checked /master/generators/client/templates/angular/package.json.ejs , the version of bootstrap is right (4.3.1).
My project is generated by JHipster Online, maybe this problem caused by web site using the previous version。

[2019-04-01 10:23] punitv opened #9521 "Kubernetes: Hazelcast cluster not creating as accepted"
##### **Overview of the issue**

Deploying multiple replicas of microservices (pod) on eks (Kubernetes), multiple Hazelcast cluster is formed when pods are created by a replica sets.

##### **Motivation for or Use Case**
When multiple replicas of Spring service boot at same time, Hazelcast cluster not forming multiple members.

##### **Reproduce the error**
- Trigger 3 pods creation (boot) togethe

[2019-04-01 11:26] wmarques commented on #9520
@slgxmh oh yes probably, i think this will be fixed once v6 is released I think.

[2019-04-01 11:29] pascalgrimaud commented on #9520
Yes, just wait the next release.
Already fixed in master branch here: https://github.com/jhipster/generator-jhipster/commit/5197f7428047ec39687afe1c93aaa6632d6f03b1

[2019-04-01 11:29] #9520 closed

[2019-04-01 12:39] pascalgrimaud commented on #9514
I'm reopening this, as it seems to be a syntax problem with Gradle:
see https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=2071

[2019-04-01 13:52] LucasRusiecki commented on #398
Hi,

@jdubois  Relating to your comment:

How did you messure this increase?

Was it runtime or compilation time increase?

Can you describe data types on which you tested this 30% increase?

Best,
Lukasz

[2019-04-01 14:07] firmsoil opened #9522 "Customize "Initial application generation by JHipster" commit message"
##### **Overview of the issue**

Customize "Initial application generation by JHipster" commit message

##### **Motivation for or Use Case**

For corporate use the commit message should be customizable "Initial application creation..."

[2019-04-01 14:13] vishal423 commented on #9522
I think you can generate with `--skip-git` to not initialize and commit into new git repository

[2019-04-01 14:23] jdubois commented on #398
Runtime performance, on beans that have many fields this is quite logical. Anyway you shouldn't auto generate those.

[2019-04-01 14:30] trajano commented on #398
I am suspecting it may be doing it through runtime reflection to do the hascode, tostring and equals which would be slow at one point.  Their current documentation says otherwise https://projectlombok.org/features/EqualsAndHashCode however, it does do "deep verification" so if you only required shallow verification (i.e. just check the top level elements) then it will be very slow.

[2019-04-01 16:27] olivierdepriester commented on #9494
I am still wondering how I missed #6423 :)

I have spent half a day on it but I think I have it. Here are the main points :

- When creating message_*.properties, I change the created file name from xx-yy to xx_YY (if there is a-yy part of course). And this is done only for *.properties not for .json folder.  Thus : messages_zh_cn.properties.ejs ->messages_zh_CN.properties
- I fought with Uzbek la

[2019-04-01 16:34] PierreBesson commented on #9494
Thanks a lot ! Those locales names are not standard at all. I can definitely provide a review later for your PR about the templates. It's probably some remnants of the our old templating code.

BTW I'm curious about the kind of project you work on. Could you contact me privately by twitter (pibesson) or email.

[2019-04-01 17:40] olivierdepriester commented on #9494
Aaargh !
I commit again : I forgot to remove a debug console,log

[2019-04-01 17:40] pvliss commented on #9514
Thanks @pascalgrimaud . Will have a look

[2019-04-01 18:03] pvliss commented on #9514
@pascalgrimaud Somehow I managed to add an extra `>`.. Tested locally with sample `gradle-ms-ngx-gateway-eureka-uaa` from daily and seems to work ok now.

[2019-04-01 18:06] #9514 closed

[2019-04-01 18:06] pascalgrimaud commented on #9514
let me try to restart Azure daily builds with phone :p

[2019-04-01 18:10] pvliss commented on #9514
😄

[2019-04-01 19:04] pvliss commented on #9514
@pascalgrimaud The build has now finished(https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=2076) and the problem seems fixed now. The tests that fail I believe are related to the flaky React tests 😞

We should really do something about these React tests as they start to get into me 😠

[2019-04-01 21:08] Tcharl commented on #9280
I'm really disappointed by what I see when diving into the detail:
The only client that is compatible with spring cache, hibernate level 2 and/or JCache is paid (and far from being free): https://redisson.pro/
Others free alternatives (https://lettuce.io, https://github.com/xetorthio/jedis) are only compatible with Spring Cache (nor hibernate 2nd level nor JCache) and Spring Data.
I thought a serv

[2019-04-01 21:23] PierreBesson commented on #9280
@Tcharl I would say it's okay not having the hibernate 2nd level cache backed by Redis. We don't have it for the memcached option as well. Also a hit to redis will imply a network round trip so maybe it's better to explicitely set all the caches through annotations.

[2019-04-02 03:59] finxster commented on #9438
@ruddell any ETA to release a new version with this fix?! Thanks!

[2019-04-02 04:28] ruddell commented on #9438
It shouldn't be needed because react-router fixed the issue.  I just tested a React app with v5.8.2 and could access the frontend.

If you still run into it, you can add `"react-router": "4.3.1",` to the package.json.

[2019-04-02 04:59] finxster commented on #9438
I just created an app with react, but I couldn't access with this error (with v5.8.2). Maybe something is wrong in my environment?

Anyway, adding the `"react-router": "4.3.1"` manually solved the issue, but I was looking forward to creating an app without any manual step. Thanks!

[2019-04-02 06:33] pascalgrimaud commented on #9522
There are several possibilities here:
- use `--skip-git` as suggested by @vishal423
- use `git commit --amend` to change the default message

There is no real value to include this in the main generator, as it would be an additional flag.

[2019-04-02 06:33] #9522 closed

[2019-04-02 14:25] mueller-fr commented on #7539
We saw the same error on the WebUi. And it was because of the property ´SPRING_PROFILES_ACTIVE´ which was set to `prod` instead of `prod,swagger` in the deployment configuration (`docker-compose.yml` or for kubernetes deployment `api-deployment.yml`, ...).
The default for this property is `prod,swagger`, so if you do not set it at all, the api is visible, too.

[2019-04-02 15:31] jdubois commented on #9280
OK indeed Redis should only be used as a Spring Cache, like Memcached. As Memcached is an option, and as I guess Redis would be very simple and not have any impact on other options, it would be fair to include it into the main generator. And as a side note, I also have a strong incentive to have it, like you @Tcharl !!

[2019-04-02 20:22] #9513 closed

[2019-04-02 21:46] PierreBesson commented on #9494
Okay so I'm working on it and adding a test to validate that the app can send emails in all configured languages. And I'm finding new bugs everywhere.

The i18n inside java is definitely kind of crazy. From property file that normally only support ISO charsets to  the "id" locale silently converted to "in" (apparently "in" is a deprecated locale for indonesia, so why does it convert the new code t

[2019-04-03 06:44] Blackdread commented on #9084
I did a pull #9363 , still fail but need to wait that dependency with jhipster is updated to match the merge of [jhipster #182](https://github.com/jhipster/jhipster/pull/182).

I think Criteria interface is necessary otherwise there is no way to just pass a criteria object and being to call copy method without cast or reflection.
The question is mainly, where shoulb that interface be, generator or

[2019-04-03 08:21] jdubois commented on #9084
I'm totally trusting @Blackdread and @gzsombor here ( @gzsombor liked the idea on https://github.com/jhipster/jhipster/pull/182 ) as you are both the experts and big users of this.

For the interface: yes it should go to the "JHipster Framework", in fact we should put everything that doesn't need generation there.

[2019-04-03 08:22] jdubois commented on #9494
This is definitely important & very complex: I'm adding a bug bounty on this

[2019-04-03 08:30] jdubois commented on #9413
I can do a release today or in the next couple of days, @MathieuAA is that all good for you?

[2019-04-03 09:24] MathieuAA commented on #9413
Yep

[2019-04-03 09:26] jdubois commented on #9413
Thanks @MathieuAA - doing it right now!

[2019-04-03 09:39] #9413 closed

[2019-04-03 10:07] hfye opened #9527 "Decouple front-end from api gateway in microservice architecture"
##### **Overview of the feature request**

The generated front-end code either in Angular or React is bundled with api gateway for microservice architecture. And web security is heavily relying on the Spring security. Ideally we can move out the front-end code and let it running on servers in the web tier, while api gateway is running in the application tier. Both application will be protected by

[2019-04-03 10:13] atomfrede commented on #9498
We could also use the vintage engine first and migrate all tests step by step to junit 5

[2019-04-03 10:53] olivierdepriester commented on #9494
@PierreBesson You made a mistake : "in" is truly the deprecated but LanguageTag.parseLocale silently convert "in" into "id" so I guess it's ok
--> For Indonesian maybe it's just about changing "in" to "id" in the generator constants to solve the issue.

For those who want to fight with the topic, here is an XLSX file I made with what seems to be the reference
[LocaleISO.xlsx](https://github.com/jh

[2019-04-03 10:53] Tonterias commented on #9165
Hi Pierre,

I think there is something more related with the issue.

I have already replaced it by apps/v1 but It does not behave as it should with PersistentVolumeClaims (when I destroy a pod it does not recover access to the database). It works with another really simple app so I guess the problem may have to do with Jhipster.

Thanks

[2019-04-03 11:11] deepu105 commented on #8915
descoping from v6 for now

[2019-04-03 12:47] PierreBesson commented on #9494
@olivierdepriester No it's worse than that, we correctly use the "id" locale but java converts it implicitly to "in" and try to load the messages_in.properties file.

[2019-04-03 13:03] olivierdepriester commented on #9494
I saw it after commenting. They have some code that translate "in" to "id" in a parseLanguage()method but the one used by forLanguageTag is parse(). I definitely love the guy who developed these classes

[2019-04-03 14:54] Blackdread commented on #9084
All is merged so I close.
Thanks for adding the feature.

[2019-04-03 14:54] #9084 closed

[2019-04-03 19:15] vishal423 commented on #9463
I had quick look into `jest-preset-angular` service examples and they specify assertions in end https://github.com/thymikee/jest-preset-angular/blob/075498e9519f78607c0dbd69fce2b217d925b44e/example/src/app/service/hero.service.spec.ts#L80

We can try that to check if it works (also would be good to upgrade preset)

[2019-04-03 20:56] wmarques commented on #9463
@vishal423 yep let's try this. Do you want to do a PR on this ? I can work on it tomorrow if you want, we have our jhipster day at the office :)

[2019-04-04 01:51] vishal423 commented on #9463
@wmarques, you can go ahead to try this out/upgrade

[2019-04-04 13:23] anthony-o opened #9529 "Can't use OAuth2 in dev with start-tls"
##### **Overview of the issue**

If I try to develop on a generated application with OAuth2 and use `npm run start-tls`, after having logged-in on the Keycloak, the browser redirects me to https://localhost:9000 instead of http://localhost:9000 so it fails with a "Secure Connection Failed" (in Firefox).

##### **Motivation for or Use Case**

I should be able to develop in TLS mode when developing

[2019-04-04 13:40] vishal423 commented on #9529
Any specific reason to access with `http://localhost:9000` and not <code>http<b>s</b>://localhost:9000</code> ?

[2019-04-04 13:44] anthony-o commented on #9529
Simply because webpack proxy, when using `start-tls` is still set on `http://localhost:9000` but perhaps it can be the real fix indeed: to use HTTPS even with webpack proxy when using the TLS option...

[2019-04-04 14:32] #9463 closed

[2019-04-04 15:02] anthony-o commented on #9529
I've managed to fix this using https for the webpack proxy when using `start-tls` with the following modifications to `webpack.dev.js`:
[code]
Now someone should add this to `jhipster-generator` if everybody agry to use https://localhost:9000 while developing with TLS option, http://localhost:9000 otherwise?

[2019-04-04 15:10] DanielFran commented on #9529
@anthony-o Can you do a PR please?

[2019-04-04 15:13] anthony-o commented on #9529
@DanielFran so it is OK for jhipster team to use https://localhost:9000 when using TLS and http://localhost:9000 if not?

[2019-04-04 20:34] pascalgrimaud opened #9534 "Upgrade sub generator: remove or not ?"
##### **Overview of the issue**

The current `npm test` failed because of this: [upgrade.spec.js](https://github.com/jhipster/generator-jhipster/blob/master/test/upgrade.spec.js)

Here an extract of logs:

[code]

Here the `tmp` folder, with git conflicts:

[code]

##### **Motivation for or Use Case**

Each release, we have some `upgrade` issues.
It is impossible to test in advance, all use cases

[2019-04-04 20:37] #9165 closed

[2019-04-04 22:08] murdos commented on #9534
I vote for keeping it, to my experience it's useful.
However I'm the guilty one that added this unit test when I worked on making this generator compatible with blueprint, I see no issue if you want to disable it. When I'll have some time, I may try to fix these edged cases.

[2019-04-04 22:12] pascalgrimaud commented on #9534
The test was added to try to secure this sub gen. So it is a very good thing, don't feel guilty.

[2019-04-05 03:35] amrnablus commented on #7906
Hi, is this a part of the beta 6 release? I can test it if that's the case

[2019-04-05 09:07] jdubois commented on #7906
Sorry but Spring Social isn't supported anymore since JHipster 5 - the Spring Social 2.0 release is now more than 2 years late, and I don't think they work on it anymore.

[2019-04-05 09:13] jdubois commented on #9534
Yes I know about this, we had the same issue for JHipster 5 :-D
We should just disable it, until we have a stable 6.0.0 release, that's just a temporary issue. Or maybe we should change the check so it doesn't fail when it doesn't find its tag.

[2019-04-05 09:21] deepu105 commented on #9527
This is not something we can do at the moment as it will complicate the architecture and templates further. I'm sorry. If you prefer to do it this way you can use the `--skip-server` and `--skip-client` flags to generate UI and server separately and achieve that design. those flags are here for these kind of use cases.

[2019-04-05 09:21] #9527 closed

[2019-04-05 09:25] pascalgrimaud commented on #9534
Oh I think I understand. So the problem comes from the beta release !

[2019-04-05 09:26] jdubois commented on #9534
@pascalgrimaud yes, it tests if it can do the update, but does not find the release, as it's a beta (so it's hidden, you need to use the "beta" tag)

[2019-04-05 09:30] pascalgrimaud commented on #9534
As @murdos said, we need to find a way to disable this test until a final release, so the new pull requests won't fail

[2019-04-05 09:45] deepu105 commented on #9534
Another idea is to detect version and support this subgen only for minor
version upgrades. If the someone tries to upgrade a major version we just
print an error saying major version upgrade is not supported. This way we
can save some headaches. WDYT?

Thanks & Regards,
Deepu

On Fri, Apr 5, 2019 at 11:30 AM Pascal Grimaud <notifications@github.com>
wrote:

[2019-04-05 10:18] mabliedana commented on #8705
Edit pom.xml and add <failOnUnableToExtractRepoInfo>false</failOnUnableToExtractRepoInfo> in the plugin pl.project13.maven

[2019-04-05 14:51] Kerruba opened #9537 "Application fail to start - The elements [jhipster.clientapp.name] were left unbound."
##### **Overview of the issue**

I've created a blueprint and in this blueprint I want to extend the application.yml file to include spring.data.rest.base-path configuration. I've copied the application.yml file from the generator-jhipster repository and added a step to copy the new application.yml (and override the previous one). JHipster is able to pick the blueprint up and create all the necess

[2019-04-05 15:10] ruddell commented on #9537
The `application.yml` on this repository's master branch is for `generator-jhipster` v6, but your `generator-jhipster` is v5.  You can copy [the config from v5.8.2](https://github.com/jhipster/generator-jhipster/blob/v5.8.2/generators/server/templates/src/main/resources/config/application.yml.ejs) which doesn't have the `clientApp` config variable.

[2019-04-05 15:17] Kerruba commented on #9537
Ok thanks, there's a way of blocking of blocking the use of a blueprint if not compatible with the JHipster version you want to develop against?

[2019-04-05 16:25] asgh commented on #8465
Exact same issue in version 5.8.2, on Windows 10.

@jdubois  Please reopen this.

[2019-04-05 16:54] pascalgrimaud commented on #8465
@asgh : plz, open a new ticket with all details, your old version, your new version, your config etc... so we can try to reproduce.

[2019-04-05 18:12] olivierdepriester commented on #9494
I have committed a change of the Indonesian locale from "id" to "in" (I have found comments from 15 years ago about this java issue so I guess it won't be solved right away). -> 997b5738ee8fbbc088ebd179a1b1ef147e494dc4

- The other light solution would have been to write a "if (langProp== 'id') { langJavaProp= 'in' } in the     installI18nServerFilesByLanguage method but I find this ugly.
- The he

[2019-04-05 18:56] PierreBesson commented on #9494
Yes let's change "id" -> "in". It's the simplest.

[2019-04-05 19:17] asgh commented on #8465
@pascalgrimaud I no longer have the problem because I used the workaround of creating a dummy project just in order to answer that question.

However I can tell you that I was going from 4.14.0 to 5.8.2, and the problem is identical to what is described in the first comment in this issue.

So it was not fixed in the new releases.

[2019-04-05 19:47] dsvispute91 opened #9538 "Multi tenancy support [Separate DB per Tenant] Postgres"
I am trying to implement multi-tenancy where each tenant will have separate DB.
To achieve this, I referred [this example](https://github.com/wmeints/spring-multi-tenant-demo) which is explained [here](https://fizzylogic.nl/2016/01/24/make-your-spring-boot-application-multi-tenant-aware-in-2-steps/). I tried executing this example and it works properly with separate DB.

After doing suggested chan

[2019-04-05 20:16] amrnablus commented on #7906
Ah i see, Thanks man

[2019-04-06 10:27] pascalgrimaud commented on #9538
You can have a look at this module : https://github.com/sonalake/generator-jhipster-multitenancy

I'm closing this as it won't be done in main generator.

[2019-04-06 10:27] #9538 closed

[2019-04-06 13:15] pascalgrimaud commented on #9407
I got the same problem when reviewing the Kubernetes PR.

It should be resolved now.
See my https://github.com/jhipster/generator-jhipster/pull/9365#issuecomment-479939915 and my commit https://github.com/jhipster/generator-jhipster/pull/9365/commits/49f9cb39792a902c40250e2cfb41cb7f789ac8b2

I couldn't reproduce any more. Don't hesitate to reopen if you encounter this issue again, Matt.

[2019-04-07 05:24] abhiroopghatak commented on #8195
***************************
APPLICATION FAILED TO START
***************************

Description:

Failed to bind properties under '' to com.zaxxer.hikari.HikariDataSource:

    Property: driverclassname
    Value: org.h2.Driver
    Origin: "driverClassName" from property source "source"
    Reason: Failed to load driver class org.h2.Driver in either of HikariConfig class loader or Thread context

[2019-04-07 12:12] pascalgrimaud commented on #9095
@massimosiani : for your information, I encountered some issue:
- Angular: updating an existing entity -> the field is empty
- React: can't create an entity with Duration

Did you add the support for React too ? I'll try to confirm these issue and open a ticket for that if needed

[2019-04-07 14:41] #9534 closed

[2019-04-07 19:22] j209 opened #9542 "Using react-kotlin in jhipster"
Hi
What about using [react-kotlin](https://github.com/JetBrains/create-react-kotlin-app) instead of react in jhipster.
In this situation both backend and front end can develope in one language.Kotlin!

[2019-04-07 19:31] pascalgrimaud commented on #9542
You can use this blueprint https://github.com/jhipster/jhipster-kotlin to generate an application with:
- React for frontend
- Kotlin for backend

[2019-04-07 19:31] #9542 closed

[2019-04-07 20:16] pascalgrimaud commented on #9162
With the last beta release 6.0.0-beta.0, UAA seems to work well.
We have protractor passed with dev and prod profile.
Don't hesitate to comment this ticket if you still got issue.

So I'm closing this, because it's resolved.

[2019-04-07 20:16] #9162 closed

[2019-04-08 07:50] Romeh opened #9543 "Using resilience4j as a possible circuit breaker option beside Hystrix"
##### **Overview of the feature request**

Can we add a support to use resilience4j as a circuit breaker as an alternative to Hystrix as a Hystrix now is just on maintenance state

##### **Motivation for or Use Case**

As Hsyrix is on maintencane state and Netflix guys are pushing people to look for other alternative like Resilience4j , it would be cool to add support to it

I can help here if you

[2019-04-08 09:20] deepu105 commented on #9543
Sorry given the workload and options we have, I don't think we have the bandwidth to provide more options here.

[2019-04-08 09:20] #9543 closed

[2019-04-08 09:24] jdubois commented on #9543
Yes, it should probably replace Hystrix at some point, but I'd rather wait 1 or 2 years to see where this is going.

[2019-04-08 09:25] PierreBesson commented on #9537
@Kerruba Not that I know of. But @avdev4j has a trick so that the blueprint uses the JHipster version that it sets as npm dependency in the blueprint package.json. Maybe he can share it here.

[2019-04-08 09:25] #9537 closed

[2019-04-08 09:26] PierreBesson commented on #9498
I think it's better to do it in one go as users are going to be annoyed to have an app that is partially migrated between JUnit 4 and 5.

[2019-04-08 09:31] PierreBesson commented on #9493
@anthony-o Do you plan to do a PR for this ? Otherwise I'm sorry but we will need to close the issue. I suggest you to either use JHipster directly or set up your own docker image for this.

[2019-04-08 11:04] avdev4j commented on #9537
Hi @Kerruba
To do this you should look at this PR https://github.com/jhipster/generator-jhipster-blueprint/pull/30

I plan to write a medium story to explain how to do that if the PR will not be accepted.

Does it fix your issue?

[2019-04-08 11:10] pmverma commented on #9100
Closing this as #9094 has a workaround for it.

[2019-04-08 11:11] #9100 closed

[2019-04-09 07:24] lequanghiep74 opened #9544 "[spring-boot-starter-undertow] Undertow auto send suspicious request to another url from my server"
When i use jhipster with `spring-boot-starter-undertow` in my project. I have find some suspicious request from `undertow` to another url. When i comment bellow code in `WebConfigurer`, i not appear.

[code]
This is my log:

[code]

[2019-04-09 10:26] edceo commented on #7966
If you add springfox-swagger-ui in only backend jhipster project, you will reach swaggerUI with http://localhost:8080/swagger-ui.html

[2019-04-09 12:17] shekvl opened #9545 "mvnw execution: failure of unpacking npm-6.9.0.tar.gz while running frontend-maven-plugin:install-node-and-npm on Win10"
##### **Overview of the issue**

While running mvnw, the following error is thrown while installing frontend-maven-plugin.
I tried installing npm 6.9.0 first, but it did not make a difference: the installer still attempts
to download and unpack it, leading to error. The system is quite clean: java, maven, and node were installed there for the first time prior to installing jhipster.

[INFO] --- pr

[2019-04-09 16:06] andreaschiona-tria opened #9546 "Support in aws-containers deploy a Aurora serverless db"
##### **Overview of the feature request**
Enable the deploy of an application with a serverless database

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-04-09 16:56] DanielFran opened #9547 "Change the packaging to jar and configure a war profile"
##### **Overview of the issue**

Needs update to documentation explaining that jar packaging is the default and how to use war profile when needed.

##### **Motivation for or Use Case**

See PR https://github.com/jhipster/generator-jhipster/pull/9034 for implementation but no information about documentation changes.

##### **JHipster Version(s)**

v.6.0.0-beta0

-   [x] Checking this box is mandat

[2019-04-09 16:56] ruddell commented on #9544
I think this is some web scanner checking for proxies, rather than your app making outbound requests.  For example, if you go to `http://localhost:8080/http://dushu.baidu.com` you will get a similar message (even in `master` where the code you mentioned is no longer present):
[code]

[2019-04-09 18:07] ecostanzi opened #9548 "Generate feign clients from OpenAPI definition files"
##### **Overview of the feature request**

Allow developers to generate feign clients from OpenAPI definition files. This could be done by integrating the code of the module https://github.com/cbornet/generator-jhipster-swagger-cli created by @cbornet.

##### **Motivation for or Use Case**
Improve communication and the integration between microservices.

##### Example
I ran `yo jhipster-swagger-cl

[2019-04-09 19:33] PierreBesson commented on #9548
Yes this is a good idea and something we need to push. Note that the openapi-generator could also be integrated with the cli (installed from the openapi-generator npm dependency).

This openapi codegen feature could be used to generate clients on the front-end for angular httpClient and axios for react.

[2019-04-10 03:58] nkengasongatem commented on #4251
Any updates on this? I think it'll be amazing to have graphql available on generator options.

[2019-04-10 06:55] bhaumikt20 commented on #3714
Hey @sabrineZhr did you find some solution for this?

[2019-04-10 09:47] atomfrede commented on #9498
We should document how to run and use junit 4 tests, as e.g. spock currently still requires junit 4. Is someone working on this by the way already?

[2019-04-10 15:52] mraible opened #9549 "Improve Security Headers"
##### **Overview of the feature request**

We should improve our security headers to show we care about security.

jhipster.tech gets an F: https://securityheaders.com/?q=jhipster.tech&followRedirects=on
21-points.com gets a C: https://securityheaders.com/?q=21-points.com&followRedirects=on

In my experience with raibledesigns.com, a lot of the headers can be configured at the server level (rather

[2019-04-10 18:53] atomfrede commented on #9549
Can we do much about jhipster.tech as it is hosted by github pages? Agree for our generated apps.

[2019-04-10 21:31] anthony-o commented on #9493
@PierreBesson here it is

[2019-04-11 06:26] pascalgrimaud commented on #9546
Hi @andreaschiona-tria
I don't know if it's already done or not, as I couldn't test AWS sub generator.

Did you try our current sub generator AWS ?
Did you read our documentation ? https://www.jhipster.tech/aws/
Would you like to contribute and propose improvement to our sub generator ?

[2019-04-11 06:31] pascalgrimaud commented on #9544
Logs are not enough to reproduce this.
I follow @ruddell's comment, you should try the master as we don't even know which version you used.

[2019-04-11 06:31] #9544 closed

[2019-04-11 07:54] kentkwan opened #9551 "Can Jhipster ci-cd tools add jenkins pipeline stage to deploy to docker"
I can find docker folder inside the project.
Add stage "sh docker-compose -f ./src/main/docker/app.yml -d up" can deploy to docker local?

[2019-04-11 07:55] andreaschiona-tria commented on #9546
Hi @pascalgrimaud ,

I tried the current sub generator AWS and there isn't this option. I can only create "standard" Aurora database.
I read the documentation yet, but I can't find any details about this option.

How can I contribute ? Where can I propose improvement?

Thanks,
Andrea

[2019-04-11 09:42] smfaizalkhan commented on #6126
Hi guys ,

I still face the same issue ,but my webpack has the watch options ignore options matched to node_modules

![image](https://user-images.githubusercontent.com/22238550/55946640-5af8c200-5c4d-11e9-8ede-2443d910cac0.png)

my node is  an LTS version  and jhipster is  5.7.0

![image](https://user-images.githubusercontent.com/22238550/55946593-4b797900-5c4d-11e9-9821-6718604bf5aa.png)

![image

[2019-04-11 15:05] minhster99 opened #9553 "docker development hot reload not working"
##### **Overview of the issue**

When using docker development, hot reload with yarn start will not refresh the browser. If you manually refresh the browser, it will pick up the changes.

##### **Motivation for or Use Case**

This is a big hit to productivity without the automatic reload.

##### **Reproduce the error**

Follow instructions to install docker development at https://www.jhipster.tech

[2019-04-11 16:42] ruddell commented on #9553
Can you try adding `-p 9060:9060` to the Docker command, in addition to the other ports?  Based on the current command, only 8080, 9000, and 3001 are exposed.

[2019-04-11 17:06] ecostanzi opened #9555 "Add title configOption to openapi generator plugin"
##### **Overview of the feature request**

Force the title property in the openapi generator plugin. This way the base path for the generated controllers will not depend on the title of the yml file.

##### **Motivation for or Use Case**

At the moment the base-path property of the openapi generated controllers depends on the title of the yml.  If the title changes, the spring property changes.

G

[2019-04-12 08:18] minhster99 commented on #9553
Sorry I forgot to mention that I tried that option, it didn't work.

[2019-04-12 08:22] Hawkurane opened #9557 "Enforced cache provider in gateway applications"
##### **Overview of the feature request**

Currently, when generating a gateway application, the cache is overwritten by hazelcast when a service discovery is defined for rate-limiting purposes. By default, the rate-limiting is set as false.

##### **Motivation for or Use Case**

Generate an application that has a cacheProvider specified. cacheProvider given, the generated application should eithe

[2019-04-12 08:54] PierreBesson commented on #9553
@minhster99 This is a strange bug, my only guess is that the mechanism to watch files for changes doesn't work properly in docker. It seems some people have had the same issues and found a fix: https://gist.github.com/vgoma/4d33c2937447afd2fb9ae2ef781761f9

Looks like it only happens when running a docker container on Mac OS and having low default ulimits on the number of open files in the docker

[2019-04-12 09:10] PierreBesson commented on #9546
Hi @andreaschiona-tri,

You are in the right place to propose an improvement 😄. However your feature request description is only one line and lacking the requested information. This is not in agreement with our guidelines. Please edit your issue to add more details and especially a "motivation" section and maybe a proposal of implementation. Then the feature request can be accepted by the team and

[2019-04-12 09:10] PierreBesson commented on #9551
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-04-12 09:10] #9551 closed

[2019-04-12 09:14] PierreBesson commented on #9521
Please give us some info on your apps configuration (result of the `jhipster info` command). You are not following our guidelines here. Please edit your post with the relevant info.

As it stands I don't even know what discovery technology you are using (I don't even know if you have a monolith or microservices !) so I can't help to troubleshoot your bug.

[2019-04-12 18:15] lakith commented on #3323
@vspdontukurthi Your solution worked perfectly. Thank you

[2019-04-13 14:50] deepu105 commented on #9559
This still seems like an issue

[2019-04-14 10:40] pascalgrimaud commented on #9493
@anthony-o : I commented your pull request. So it can't be merged like this:
- maybe it will resolve your own issue
- but it will broke too many use cases

The problem you described here looks like specific to your computer and your own Docker installation.

Our Docker image here is for very advanced users and is provided as example. As suggested by @PierreBesson, feel free to build your own Docke

[2019-04-14 10:58] pascalgrimaud commented on #9553
The problem is because your container Docker is inside a specific network and can't access to your local network, for refreshing your changes.

You can try to start your Docker container with network host `--network host` :

[code]

I just tried this and it works fine.

I'm closing this ticket and it's not related to JHipster but related to the use of Docker.

[2019-04-14 10:58] #9553 closed

[2019-04-14 10:58] anthony-o commented on #9493
The fact that my user has not the UID 1000 is not at all specific to my computer!
Actually the current jhipster Docker image just can't work with another user that UID 1000, it's very problematic and not at all rare...
Anyway, I'll try to fix the image (and to fix the issue it will be necessarily big modifications to the current Dockerfile).
This issue I opened can affect for example people that t

[2019-04-14 11:06] pascalgrimaud commented on #9493
The image `jhipster/jhipster` is used for our GitLab CI and Jenkinsfile.
The last time I tried, and it works very well.

The problem with your changes is it will break all these use cases :-(
I'm not against your proposal, if you can find a "good" solution without breaking our configurations.

[2019-04-15 08:15] PierreBesson commented on #9553
@pascalgrimaud It's probably not what you say it is. The docker container doesn't need access to the local network of the machine on which it refreshes the page. As everything is done by websocket/polling on the browser (remember browsersync also works from a phone or any machine on the network that can access the server on port 9000). I suspect the problem comes from the "file watching" which rel

[2019-04-15 08:16] PierreBesson commented on #9553
Anyway let's keep this issue closed but wait for @minhster99's feedback to see if my link helped him fix his problem.

[2019-04-15 08:40] mhoennig commented on #6860
I don't understand why this issue was closed. The referred issue #8403 only officially documents the feature which is described here (#6860) not fully working. For required relationships including unique fields, I am pretty sure that the *InTest templates need to be able to create more than just a default entity in createEntity(), maybe even multiple. Not for the test itself, but for  tests of the

[2019-04-15 09:53] minhster99 commented on #9553
@pascalgrimaud I tried recreating the docker container as per your instructions but I am encountering an issue when running ./mvnw inside the container afterwards

[code]

[2019-04-15 10:01] minhster99 commented on #9553
@PierreBesson I tried setting my ulimits to unlimited but the problem still exists.

Also I suspect it's not a file watching issue as I can see the console output from the "yarn start" command and it is picking up the changes and recompiling it successfully. Just not pushing out the changes to the browser :(

[2019-04-15 10:22] mandudeboy opened #9561 "Label 'for' attribute doesn't match referenced element ID on generated entities"
##### **Overview of the issue**

Generated "create new entity" pages in React have labels for each input field in the form. The labels are not clickable which is an accessibility issue. This is due to labels "for" field not being used correctly.

##### **Motivation for or Use Case**

Using assistive technologies means you rely on correctly implemented HTML. Labels that are not connected properly t

[2019-04-15 10:49] hdaniel93 commented on #8800
Hey guys, myself and a few others are thinking of taking on this feature. Having never worked on an open source project before, can anyone point me to in the codebase some examples we can use as a base? At its core its simply adding @Immutable to the JPA class and not generating certain stuff which seems simple enough

[2019-04-15 10:56] hdaniel93 opened #9562 "Questions about a previously proposed feature" Proposed new keyword: "readonly" #8800""
Hi guys.

In reference to this previous closed post https://github.com/jhipster/generator-jhipster/issues/8800

Myself and a few others on our team are thinking about working on this as its a use case thats common in our company.

Having never worked on an open source project before, can anyone point me to in the codebase some examples of a  keyword in JDL and how it effects what is generated? fun

[2019-04-15 11:23] jdubois commented on #9562
Awesome @hdaniel93 ! And happy to help you!
First have a look at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

For what you are doing:

- First generate a simple project, commit it, and do your changes on it. Then by doing a "diff" you will see what you need to do, and it looks like it shouldn't be too complex.
- then, a specific issue for you is that the domain langu

[2019-04-15 11:53] hdaniel93 commented on #9562
Should I be opening this as an issue in jhipster-core too then?

[2019-04-15 12:06] jdubois commented on #9562
No this one is enough, it's under the same organization anyway

[2019-04-15 12:14] Hawkurane commented on #9557
It seems from the pom.xml that we are using [simple-spring-memcached](https://github.com/ragnor/simple-spring-memcached) for memcached. After looking at it, I haven't seen any mention of the JSR107 or using jcache's API which makes sure that scaling is supported. It may be supported but just in case it's better to specify that it doesn't.

[2019-04-15 12:29] wmarques commented on #9561
@mandudeboy thanks for the report, indeed the `for` need to match the input `id`
Are you willing to do a PR to fix this ? Shouldn't be a big change

[2019-04-15 13:13] Gabrui opened #9563 "New Project bugs: Liquibase constraint violation with double relations and Tests errors"
##### **Overview of the issue**

There are two bugs related when I create a new project:
-  Liquibase constraint violations (seems to be related to the jpaDerivedIdentifier)
[code]
-  Test with errors:
[code]

##### **Motivation for or Use Case**

Creating a new project with an entity that has filter and pagination creates broken test. Although it is easy to fix the test I didn't expect this error

[2019-04-15 13:53] hdaniel93 commented on #8800
@MathieuAA @pascalgrimaud @deepu105  I made this post https://github.com/jhipster/generator-jhipster/issues/9562 Dont suppose you have any advice?

[2019-04-15 13:56] pmverma commented on #9563
Thanks @Gabrui for reporting the issue. The code which you replaced was added for required entity. To reproduce the error, I am not seeing the `with jpaDerivedIdentifier` in your JDL file. Can you update your JDL entity definitions?

@Gabrui How did you generated the JDL entity definitions? With `jhipster info` or `jhipster export-jdl`?
@MathieuAA I think  `jhipster info` or `jhipster export-jdl`

[2019-04-15 14:26] Gabrui commented on #9563
I used `jhipster info`.
It seems that `jhipster info` doesn't show the jpaDerivedIdentifier. Another issue here (I think). Also I have just tested the `jhipster export-jdl` and it doesn't print the jpaDerivedIdentifier either.

Done, I have updated the JDL in my comment.

[2019-04-15 15:27] mraible commented on #9498
@atomfrede Is there a component that requires Spock in JHipster?

[2019-04-15 15:49] pragmasoft-ua opened #9564 "Filters silently accept unsupported properties because WebDataBinder.ignoreUnknownFields is true by default"
##### **Overview of the issue**

Filters silently accept unsupported properties because WebDataBinder.ignoreUnknownFields is true by default

##### **Motivation for or Use Case**

I changed a primary key type from Long to UUID, and due to this I had to change correspondent criteria from LongFilter to Filter<UUID>, which does not support range queries, like lessThan. Though, controller still accept

[2019-04-15 16:33] pmverma commented on #9563
@Gabrui, I gave a quick try by removing the `with jpaDerivedIdentifier` and the tests are still failing.
Can you try with following to confirm and create an another issue if you think it is strange?

[code]

1. `jhipster import-jdl xxxxxx.jdl --force`
2. `./mvnw verify`

[2019-04-15 17:49] atomfrede commented on #9498
No there is not, so only a problem for users wanting to use it. So if no one is working on it yet I can do it.

[2019-04-15 19:08] Gabrui commented on #9563
Yes, the tests fails because of the paginate and filter directives. (It tries to save a unique value twice in the tests)
But now the application can launch (./mvnw), skipping the tests, because there is no constraint violation.
These are two different bugs that I found using that JDL.

[2019-04-15 20:40] pmverma commented on #9563
Can you create a new issue for that if it is/was not reported so that it can be tracked and fixed?

[2019-04-15 21:03] windbender commented on #7000
I realize this issue is closed.

But I wanted to +1 this.  I do wish I could do all my testing against the same DB I use in production.  In particular, during unit testing it's very helpful for debugging to be able to pause the JVM and still get a command line SQL interface into the DB to understand what is going on.

I think the downsides are that stuff runs more slowly.

[2019-04-16 07:55] pascalgrimaud commented on #9286
@framiere @Dabz : I supposed you didn't have time to start the work.

So I had a quick look yesterday, and what I already did:
- migrate to official images for kafka and zookeeper
- update configuration for spring boot
- migrate from Spring Cloud Stream to native Apache Kafka client (related to https://github.com/jhipster/generator-jhipster/issues/9287)
- implement a simple rest controller, with 2

[2019-04-16 11:50] PierreBesson commented on #9521
@punitv Please give us more info. So that we can work on this issue together.

[2019-04-16 12:47] Gabrui commented on #9563
I have reported those 2 separated bugs here in this issue. Is it advisable to create another issue to address each of those bugs separately?

[2019-04-16 13:32] Shaolans commented on #9559
Hello,
it seems that it is not the generator issue but more about prettier that delete the backslash.
If you use prettier on this following code:
``` const myregex = "^[^@\s]+@[^@\s]+\.[^@\s]+$";```
The output is the following ```const myregex = "^[^@s]+@[^@s]+.[^@s]+$";```.
This is normal since \s is not a [special character](http://w3schools.sinsixx.com/js/js_special_characters.asp.htm).

[2019-04-16 15:46] MathieuAA commented on #9563
If there's a bug in the JDL parsing/exporting, please create an issue in JHipster-Core for that

[2019-04-17 00:33] Gabrui commented on #9563
Thanks, I have reported the export bug to the JHipster-Core [#319](https://github.com/jhipster/jhipster-core/issues/319)

[2019-04-17 04:26] MuizNadeem opened #9568 "Windows: cannot run production build for a monolith app with version 5.8.2"
##### **Overview of the issue**

Cannot run production build for a monolith app with version 5.8.2
##### **Motivation for or Use Case**

I was using jhipster 5.8.1 for my project and ran into issues with primeng and was suggested in one of the github issues to upgrade to v 5.8.2. It did solve the problem but now I create a production war file using ```mvnw -Pprod package``` command.

I tried gener

[2019-04-17 05:54] vishal423 commented on #9568
It seems that your sample application doesn't have any UI test cases. You can resolve this in different ways:
- add unit tests for UI code
- update `test` script to pass additional flag `--passWithNoTests`
- skip execution of tests in your maven build with `-DskipTests`

[2019-04-17 06:02] pascalgrimaud commented on #9568
I have no problem for packaging a JHipster project with 5.8.2.
You can see the logs above.

There is something related to your environment, so plz provide more information / use case to reproduce your issue.
- be sure you're not behind proxy or it is correctly configured
- try to clean your `node_modules` then `npm install`

[code]

[2019-04-17 06:20] pascalgrimaud commented on #9545
It looks like an environment problem with your machine, and not related to the generated code, provided by JHipster.
Can you test our Devbox: https://github.com/jhipster/jhipster-devbox ?

[2019-04-17 06:25] pascalgrimaud opened #9569 "Documentation: integration tests"
Following https://github.com/jhipster/generator-jhipster/issues/8868 https://github.com/jhipster/generator-jhipster/pull/9174 https://github.com/jhipster/generator-jhipster/pull/9337 about Integration Tests

The documentation need to be updated:
- README in generated project
- jhipster.tech

[2019-04-17 06:36] shekvl commented on #9545
I tested this on two different computers, both running Windows, with exactly the same result. One of them had a freshly installed system, starting from OS (i.e. nothing except things necessary to run jhipster). I will definitely try Devbox and report the results.

[2019-04-17 08:52] MarcelRosenberger opened #9570 "Parallel execution of import-jdl causes issues with --interactive"
##### **Overview of the issue**
There are issues running the `import-jdl` subgenerator to import a jdl-file that contains multiple applications when using the command-line argument `--interactive`.
Multiple applications are generated with parallel processes, one for each application. When using `--interactive` the executions stop at various points to ask for overwriting or skipping files. Since th

[2019-04-17 11:24] Dabz commented on #9286
Sure, I will have a look to https://github.com/jhipster/generator-jhipster/pull/9567 today or tomorrow ;)

[2019-04-17 11:29] wmarques commented on #9568
@MuizNadeem it comes from a change in Jest v24. As the logs says:
`Option "setupTestFrameworkScriptFile" was replaced by configuration "setupFilesAfterEnv", which supports multiple paths.`

So you need to go into the `jest.config.js` file and change the property `setupTestFrameworkScriptFile` with `setupFilesAfterEnv` and it will work.

[2019-04-17 13:01] casseb opened #9571 "Error in Pom with jhipster dependencies snapshot"
Some days ago i was used the 3.0.0-SNAPSHOT version and works fine and it's stay in my locally .m2 folder. When i tried to use the versin 3.0.1-SNAPSHOT, pom file don't locate the dependence and don't work, because this i stay using the 3.0.0 version.

Now I tried remove my m2 for test this two versions but none can download using maven, now it's work only with i copy my old 3.0.0 .m2 version in m

[2019-04-17 13:39] casseb commented on #9571
I tried in gradle and the same problem happened

[2019-04-17 13:47] jdubois commented on #9571
That's normal it's a snapshot, you need to point to the snapshot repo -> I don't know who did this, but there's an error in our side here
@casseb you need to checkout jhipster/jhipster and do a "mvnw clean install" to build the snapshot yourself

[2019-04-17 14:28] casseb commented on #9571
@jdubois Thanks for the support

I have doubts about this problem... i'm doing customizations in Jhipster locally, because this i install with npm install and npm link.

When i used a normal JHipster version it was possible to download the snapshot for link: io.github.jhipster:jhipster-dependencies:pom:3.0.1-SNAPSHOT but now it's not possible,

How i create my own snapshot?  mvnw clean install in

[2019-04-17 14:48] MuizNadeem commented on #9568
This is a blank app created using jhipster generator. I have done the same using older versions of the generator and did not face any problems generating a production package.

[2019-04-17 14:57] MuizNadeem commented on #9568
@wmarques I have cleaned my local and global node_modules and also replaced `setupFilesAfterEnv: '<rootDir>/src/test/javascript/jest.ts'`  with `setupFilesAfterEnv: ['<rootDir>/src/test/javascript/jest.ts']` in jest.conf.js file, as suggested.
But the tests are still not being picked up. Can you please help?

[code]

[2019-04-17 14:59] jivicari commented on #8465
Hello, I have de same problem, going from 4.13.3 to 5.8.2 in ubuntu with jdk 1.8

.yo-rc.json

`{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.miproyecto",
      "nativeLanguage": "es"
    },
    "jhipsterVersion": "4.13.3",
    "baseName": "miproyecto",
    "packageName": "com.miproyecto",
    "packageFolder": "com/miproyecto",
    "serverPort": "8080",
    "authentic

[2019-04-17 16:45] pmverma commented on #9563
@Gabrui The liquibase error is coming from `my_entity_complex.csv` because `my_entity_user_extra.csv` has only 4 records. Remember this is only used in dev mode so don't worry.
I will see how this can be improved.

And yes, it is better to create separate issues so that they can be tracked and fixed independently, keeping clear the matters.

[2019-04-17 16:50] pascalgrimaud commented on #9571
@casseb : you need to clone this repo https://github.com/jhipster/jhipster

Then, you need to launch `./mvnw clean install -Dgpg.skip=true`

So, you'll be able to use the snapshot version

[2019-04-17 16:54] pascalgrimaud commented on #9571
And our documentation didn't mention that: https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

[2019-04-17 17:01] jdubois commented on #9571
@pascalgrimaud when we start to use a snapshot release, we're supposed to add the snapshot repo in the application configuration.

[2019-04-17 17:06] pascalgrimaud commented on #9571
You're right @jdubois !
It has been forgotten here https://github.com/jhipster/generator-jhipster/commit/40f88a143e659353da0a9adf06a7fe4032dadb11

We need to take snapshot repo from here: https://github.com/jhipster/generator-jhipster/commit/d3da18a760de17ec9c2e9923b36c9f29695e460b

[2019-04-17 17:18] casseb commented on #9571
Generating a new snapshot works fine, thanks for the help, this is a amazing tool and it's fun use it!

[2019-04-17 17:32] Tonterias opened #9572 "org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':bootRun'."
##### **Overview of the issue**

When creating a monolith app in v6.beta with gradle it show this error (when trying to start the app)

D:\BasuraTemporal\Jhipster\jhv6betak8s>gradlew --stacktrace

Error: no se ha encontrado o cargado la clase principal com.jhv6betak8s.web.Jhv6Betak8SApp

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':bootRun'.

* Try:
Run

[2019-04-17 18:56] pvliss commented on #9572
Hello @Tonterias and thanks for reporting.

It appears that the problem is related to your `jwtSecretKey` as it is very small. You need to use a bigger key. This behavior was changed in version 5.3.0. See also https://github.com/jhipster/generator-jhipster/issues/8165#issuecomment-418099842.

BTW, you can also enable file logging in the generated `src/main/resources/logback-spring.xml` file in ord

[2019-04-17 19:12] ankitkeer opened #9573 "Change FK column name"
I wanted to know how I can go about changing the foreign key column name for a table.
Ex. I have OneToOne relationship between Country & Region. I get FK column region_id in Country table. I want to change this name to myRegion.

[2019-04-18 05:52] vishal423 commented on #9568
With your provided code, I am able to build with production profile and found no issues.

It seems to be an issue with your environment

[2019-04-18 05:57] pascalgrimaud commented on #9573
Although you didn't provide information about your configuration, I suppose you choose SQL database.
You should be able to change manually the FK name in generated liquibase files.

Currently, it is not possible with the sub generator or JDL.

[2019-04-18 05:57] pascalgrimaud commented on #9573
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-04-18 05:57] #9573 closed

[2019-04-18 06:04] pascalgrimaud commented on #9570
The related code is here: https://github.com/jhipster/generator-jhipster/blob/master/cli/import-jdl.js#L195-L221

Would you like to try to contribute and improve this behavior ?

[2019-04-18 06:08] pascalgrimaud commented on #8800
@hdaniel93 : I closed this ticket because it was opened for 4 months and no work has been done. But if you want to contribute and push this feature, you're welcome ! :)

[2019-04-18 06:10] pascalgrimaud commented on #9562
@hdaniel93 : don't hesitate to share code on GitHub, if you need help or advice !

[2019-04-18 06:19] pascalgrimaud commented on #9547
@PierreBesson : just to let you know, I'm starting this

[2019-04-18 08:09] MarkoZ commented on #9572
Hi,
I've tried and it throws "class not found" with gradle. With maven everything passes.
It is fresh generated monolith application.
Op tried on java 8, and I've tried on java 11. As I see both of us use windows.
Here is error:

[code]

[2019-04-18 09:09] Tonterias commented on #9572
Hi @pvliss ,

I deleted part of the secret because the instructions for filling up the Issue form say that I should :-D

The secret is complete in the version that failed.

Thanks @pvliss

[2019-04-18 09:29] pvliss commented on #9572
Oh sorry, did not realise that. My bad :)

So you are both right as I just tested it on Windows 10 and it indeed fails(previously tested on Ubuntu). The culprit seems to be the windows specific block in `build.gradle`: https://github.com/jhipster/generator-jhipster/blob/36ff2c8689f1c5fc498e4dc23b7d1921431e987f/generators/server/templates/build.gradle.ejs#L126-L147

Commenting it out works for me,

[2019-04-18 09:31] atomfrede commented on #9572
If it is not needed anymore I would be more than happy to remove it!

On Thu, Apr 18, 2019, 11:29 Panayiotis Vlissidis <notifications@github.com>
wrote:

[2019-04-18 09:42] MarkoZ commented on #9572
Hi @pvliss
Yes you are right! It works when this is commented.
Thanks!

[2019-04-18 09:50] unikzforce opened #9575 "Kubernetes with microk8s"
##### **Overview of the issue**
I just wanted to use [microk8s](http://microk8s.io) instead of minikube, because it's much lighter. But in the end some pods remain in "pending", "ContainerCreating"  state...

after installing microk8s you should start it by:
[code]

then edit `kubectl-apply.sh` like this:
[code]
and then start it by `./kubectl-apply.sh`

for my program I get list of all resources

[2019-04-18 09:56] Tonterias opened #9576 "Stateful app in kubernetes YAML files"
##### **Overview of the issue**

Hi,

I am not sure if I spotted a bug, but I can not make this piece work and I wonder if you can make it work.

PREMISE: I am trying to deploy an jhipster app in Google Cloud Platform using the automatic kubernetes YAML files that are created by Jhipster. Right now, it deploys but as a STATELESS app. I can not think of a mayority of users who wants to deploy Jhips

[2019-04-18 10:58] pascalgrimaud commented on #9572
who can do a pull request to fix this ?

[2019-04-18 11:25] pvliss commented on #9572
@pascalgrimaud I could do a PR to remove the code block but I am not sure if it will work with Windows versions older than 10 and if it still works in case more deps are added. I'd like to investigate further and see if something changed in the way Gradle or Spring Boot Gradle plugin handle things.

Do we still need to support Windows before 10(7/Vista,etc)? If yes, does anyone have access to a Wi

[2019-04-18 12:56] PierreBesson commented on #9575
Sorry we cannot support every tool in the world for running kubernetes locally. Here is an incomplete list of such tools :
https://www.reddit.com/r/kubernetes/comments/be0415/k3s_minikube_or_microk8s/el2xy5r/

We recommend using a real cluster. In your case, it seems that your tool simply doesn't support Persistent Volume Claims.
You also seem to have a very complex setup and you didn't give us th

[2019-04-18 12:56] #9575 closed

[2019-04-18 13:01] PierreBesson commented on #9575
@unikzforce I didn't know Microk8s. The project  looks interesting (although only available for linux). It seems that it should be able to support volumes if you enable the right add-on. Can you try to run ` microk8s.enable storage` and redeploy your apps ?

[2019-04-18 13:22] PierreBesson commented on #9572
I don't think we need to support old versions of windows. I'm voting for removing the compatibility hack, especially if it causes problems.

[2019-04-18 13:27] PierreBesson commented on #9576
Hi @Tonterias,
Your concerns about the incoherent API versions are resolved on our current version and should already be available in the v6 beta (you can install it with`npm install -g generator-jhipster@beta`).

⚠️ We need your JHipster configuration as it will allow us to generate the appropriate kubernetes yaml files for your app otherwise we cannot reproduce your bug.

As for your concern tha

[2019-04-18 13:28] atomfrede commented on #9572
Same for me. I would just remove it.

On Thu, Apr 18, 2019, 15:22 Pierre Besson <notifications@github.com> wrote:

[2019-04-18 13:49] pvliss commented on #9572
Thanks guys. I will have a deeper a look tonight and submit a PR to remove it

[2019-04-18 13:52] atomfrede commented on #9572
Thanks @pvliss

[2019-04-18 14:28] AlexandreCassagne opened #9577 "UsernameNotFoundException Thrown When Requesting Internal Token"
##### **Overview of the issue**

I am using micro-services with a separate UAA service. In service A, which seeks authorisation to call service B (using `@AuthorizedFeignClient`), the following request is made to UAA to obtain an access token:

[code]

##### **Suggest a Fix**
I am currently investigating the issue, any help would be welcome.
It appears that the issue is on the UAA service. I have

[2019-04-18 14:31] AlexandreCassagne commented on #9577
Note that the Hibernate trace is showing that a call is made to the database.

[2019-04-18 15:08] AlexandreCassagne commented on #9577
OK - this is entirely my bad, I apologise for wasting anyone's time. Following a few days of investigation, I have finally managed to find the error: there is a token enhancer that performs a database call to add a custom token claim (our fault).

However, the claim is not relevant if the user is not part of the database-so I have removed it when the oauth2 grant type is "client_credentials". That

[2019-04-18 17:30] MuizNadeem commented on #9568
@vishal423

It seems like the regex used in jest.conf.js file to match spec.ts files fails to match in windows file system. I was able to generate a prod build on my linux machine and also using gitlab ci.

I have no problems starting this app with dev profile. using ` ./mvnw ` command.
However, the application fails to start using the generated war using prod profile. ` ./mvnw -Pprod clean packag

[2019-04-18 18:00] pmverma opened #9579 "Some improvements in generating test data with faker.js"
##### **Overview of the feature request**

Some improvement in generating fake test data.

##### **Motivation for or Use Case**

With the introduction `fakerjs fake data, mapsid, unique key, etc.`, generating the relationship fake data in `entity.csv` without taking care of those, is causing some exceptions in liquibase during app startup.

Problem 1:
If the relationship value is marked as `unique

[2019-04-18 20:58] gmarziou commented on #9568
You did not start the jhipster registry

[2019-04-19 00:43] ruddell commented on #9577
Closing the issue as it seems solved, and related to custom code.

[2019-04-19 00:43] #9577 closed

[2019-04-19 05:08] pascalgrimaud commented on #9579
Thanks for your analyze @pmverma

As we didn't detect this in our CI, maybe it means we don't have test with 'unique' in our entities ? I need to have a look. And we could improve this part too, when fixing this ticket.

[2019-04-19 08:21] Tonterias2 commented on #9576
Hi Pierre,

Thanks for your answer. Sorry, I'm not in my computer these days. I will send you the config files as soon as I get back or test the whole thing when the issue 9572 gets fixed.

Here are the Yaml files in case they are of any help in the meantime: https://github.com/Tonterias/jhipsterpress/tree/master/k8s/TestLoadBalancer

Please, can you tell me (where is) how to implement that recomm

[2019-04-19 13:18] PierreBesson commented on #9576
@Tonterias2 It seems that you have a monolith app so deploying on Kubernetes is going to be expensive and complex to maintain. I would recommend you use Google App Engine, we have a subgen for it (`jhipster gae`) and it works similarly to Heroku. For the database outside of k8s, you can use a managed database offering from a Cloud Provider. This is what we use for JHipster Online : https://cloud.g

[2019-04-19 14:44] PierreBesson commented on #9145
I'm reopening this issue because I'm reconsidering keeking the default openjdk docker image. I think we should migrate to adoptopenjdk as it is more secure.

Also we have not really been through this checklist:

- [ ] Update the docs with instructions for installing JDK 11, either with SDKman or with AdoptOpenJDK (eg. brew tap AdoptOpenJDK/openjdk && brew cask install adoptopenjdk)
- [ ] Heroku wi

[2019-04-19 15:21] PierreBesson commented on #9494
I found the OpenJDK bug (from 2006 !) labeled as `wontfix` for compatibility reason. This is infuriating 😡  https://bugs.openjdk.java.net/browse/JDK-6457127

[2019-04-19 16:33] #9572 closed

[2019-04-19 21:32] wayne-optin opened #9588 "MIssing methods in LoginService.ts"
##### **Overview of the issue**

Generated gateway webapp LoginService is missing methods "isAuthenticated()" and "logoutDirectly()" if you generate using "UAA" option and no internationalization

##### **Motivation for or Use Case**

Want a Gateway, using UAA and no i18n

##### **Reproduce the error**

Generate Gateway, select UAA and no translation. Run mvnw - the webapp compilation will fail in

[2019-04-20 06:40] #9571 closed

[2019-04-20 07:06] marianfoo opened #9589 "jib dockBuild throws CacheDirectoryNotOwnedException"
##### **Overview of the issue**

After creating a microservice App, i try to create a docker file with
`./mvnw package -Pprod verify jib:dockerBuild`

[code]
same error on gateway app, so not in particular a microservice issue
##### **Reproduce the error**

Create Microservice App
[code]

run
`./mvnw package -Pprod verify jib:dockerBuild`

##### **Related issues**

The only thing i found with this

[2019-04-20 08:40] hdurix commented on #9498
@atomfrede did you start to work on this? I'd be happy to do it, may I assign it to myself?

[2019-04-20 09:40] atomfrede commented on #9498
No nothing substantial. Just tried a sample app with junit 5 but nothing regarding the generator. So go ahead!

[2019-04-20 09:54] Tonterias commented on #9576
Thanks for your answer Pierre,

Do what you think it is better. If you want me to be more precise, let me know and I will do it. No problem. I think this is the only way I can help.

The subgen looks pretty difficult to me. Do you mind if I ask you if I get lost? I will follow your advice and try it. Where can I contact with you.

Sorry for my English

[2019-04-20 16:14] #9498 closed

[2019-04-20 19:30] eapriansyah opened #9591 "Websocket connection error"
##### **Overview of the issue**
Generated simple monolith application and using websocket to send data from the backend to the front end doesn't work.

##### **Motivation for or Use Case**
Use websocket to send data from the back end.

##### **Reproduce the error**
- Generate Monolith, select Websocket.
- Run apps, and open http://localhost:9000/admin/jhi-tracker
- Check at devtools console

#####

[2019-04-20 21:47] PierreBesson commented on #9576
Please contact me directly on Twitter for help. I see that you have done a lot of work on your spingular project and written a lot of helpful documentation on it. The docs you wrote in  https://github.com/Tonterias/jhipsterpress/tree/master/ReadMe would be good to contribute to the official website. Also your work project is a good Jhipster showcase.

[2019-04-20 21:47] #9576 closed

[2019-04-20 22:11] Tonterias commented on #9576
Thanks Pierre,

I did that documentation on GitHub because it would be easier to update. Feel free to include it on the official site. It is on the showcase, I just have to modify the name from JhipsterPress to Spingular, but I need to move Spingular to Google
first because it takes 1 minute to wake up the Heroku free tier and I can not make it with work with kubernetes. I'm not sure I will be abl

[2019-04-21 11:46] raminassar87 commented on #9450
I know the reason for this issue. by mistake, I remove the notes added by JHipster when apoplication was created

**master.xml**

**CacheConfiguration**
// jhipster-needle-ehcache-add-entry

[2019-04-21 13:32] pascalgrimaud commented on #8942
Opened since more than 4 months, and it has been discussed several times.
I suggested to close this one, and we can still discuss in this ticket if needed.

[2019-04-21 13:32] #8942 closed

[2019-04-21 14:10] pascalgrimaud commented on #9440
I think it's not a good idea to delete old integration tests.
The users who upgrade to JHipster v6 need to take care about that, and it will probably be manually.

[2019-04-21 14:10] #9440 closed

[2019-04-21 14:16] pascalgrimaud commented on #9579
So we don't have a relationship with `unique` in our CI entities, that explains why we didn't detect it.
@pmverma : do you have a solution for fixing this bug ? Would you like to PR plz ?

[2019-04-21 14:19] pascalgrimaud commented on #9203
We already find some different solutions:
- remove swagger when starting the application
- try to start in asynchronously -> but as no one seems to want to work on this in jhipster/jhipster lib, it won't be done.

I'm closing this because:
- it's a specific use case with lot of entities
- no comment since more than 2 months

[2019-04-21 14:19] #9203 closed

[2019-04-21 16:09] pascalgrimaud commented on #9568
For the original problem, it comes from the testMatch by jest on Windows.
See this ticket https://github.com/facebook/jest/issues/7914 and the suggested solution https://github.com/facebook/jest/issues/7914#issuecomment-464352069

You can apply this diff to fix the problem in your project:

[code]

[2019-04-21 17:12] pascalgrimaud commented on #9569
Closing this, as the PR to jhipster.github.io is done.
It will be merged for v6

[2019-04-21 17:12] #9569 closed

[2019-04-21 17:12] pascalgrimaud commented on #9547
Closing this, as the PR to jhipster.github.io is done.
It will be merged for v6

[2019-04-21 17:12] #9547 closed

[2019-04-21 17:29] #9568 closed

[2019-04-21 18:09] pmverma commented on #9579
@pascalgrimaud Thanks for checking. I will do the PR once I am back from my vacation next week.

[2019-04-21 18:24] jdubois commented on #9579
Yes sorry about this, it's my fault.
Ok on everything but please don't create more users as it will be annoying to have all those in production (there's a difference for users, that data is also going to production).

[2019-04-21 18:32] ruddell commented on #9579
The reasoning for only two users is that OAuth [only generates two](https://github.com/jhipster/generator-jhipster/blob/20ffe910f23eef53aeb5dc3a17b38b384909f566/generators/server/templates/src/main/resources/config/liquibase/users.csv.ejs#L4) default users ([commit](https://github.com/jhipster/generator-jhipster/commit/8e08fe54ca8f354d83fa10102c71369ad388636d), related to https://github.com/jhipst

[2019-04-21 18:33] ruddell commented on #9591
This is related to the removal of the `#` from the URL (https://github.com/jhipster/generator-jhipster/pull/9098).  Looks like I forgot to test websockets, sorry about that.

I could get it working by updating [ClientForwardController.java](https://github.com/jhipster/generator-jhipster/blob/53ff2b634c143b6cd28ba4ea27d8bb49755d4e1d/generators/server/templates/src/main/java/package/web/rest/ClientF

[2019-04-21 20:33] Tcharl opened #9594 "Remove the _search prefix on elastic endpoints"
##### **Overview of the feature request**

Elastic endpoint are generated with endpoint beginning with _search, I think we can remove this prefix...

##### **Motivation for or Use Case**

REST is resource oriented, and _search doesn't express any resource.
Doing this, we're basically doing SOAP like endpoints which may encourage our end user to follow that (wrong) Path.
The idea would be to merge

[2019-04-22 07:05] hdaniel93 commented on #9562
@pascalgrimaud @ I have made a few changes https://github.com/hdaniel93/jhipster-core/tree/9562-ReadOnly

I see in the "contributing" section of JHipster there is information about getting NPM to use your version of the generator, how do I do similar for the core? I want to try a jhipster import-jdl ./my-jdl-file.jdl --json-only. Im assuming I can somehow set the  "jhipster-core" in the package.js

[2019-04-22 07:19] pascalgrimaud commented on #9562
In jhipster-core, which is your fork and you modified it:
- npm link

In generator-jhipster, which id your fork with new modifications:
- npm link jhipster-core
- npm link

Now, in an empty folder, where you want to create a project:
- npm link generator-jhipster

If it doesn't work, try:
- npm link jhipster-core
- npm link generator-jhipster

Tell me if it works fine plz

[2019-04-22 08:34] pascalgrimaud commented on #9589
Just tried your configuration with JHipster 5.8.1, and it works fine. I don't have problem to build my Docker image:

[code]

The exact command is `./mvnw -Pprod verify jib:dockerBuild`. Do not put both: package and verify. It has been fixed by https://github.com/jhipster/generator-jhipster/pull/9524

Then, as you said you managed to build your image, but `docker run` doesn't work, it's normal as

[2019-04-22 08:36] pascalgrimaud commented on #9589
So it can be:
- a problem with the command you used
- a problem with your Docker
- as you upgraded the jib version and was unable to run the app, you need to use the docker-compose

As I don't see any issue on our side, I'm closing this.
Don't hesitate to comment if you still have an issue, and provide more information to reproduce plz.

[2019-04-22 08:36] #9589 closed

[2019-04-22 08:36] #9591 closed

[2019-04-22 08:43] pascalgrimaud commented on #9594
@Tcharl : I think it was done like this, to match with the search in Elasticsearch API.
See https://www.elastic.co/guide/en/elasticsearch/reference/current/search.html

Let's discuss.

[2019-04-22 08:58] #9555 closed

[2019-04-22 09:02] pascalgrimaud commented on #9204
I think we can close this after:
- https://github.com/jhipster/generator-jhipster/pull/9360
- https://github.com/jhipster/generator-jhipster/pull/9375

Anyway, it's not a good idea to migrate from 5 to 6, because there are too much breaking changes :)

[2019-04-22 09:02] #9204 closed

[2019-04-22 09:05] pascalgrimaud commented on #8822
Sorry again @murdos : could it be done before the release of v6 ?

[2019-04-22 09:09] pascalgrimaud commented on #9279
Not so much discussion about this.
I suggest to close the ticket. We have a lot of other stuff to improve and I'm not sure this one is mandatory.

Are you ok @Tcharl ?

[2019-04-22 09:11] pascalgrimaud commented on #9228
I remember it was recently fixed.
Can you confirm @pvliss ? In this case, can we close this ticket ?

[2019-04-22 09:53] pvliss commented on #9228
The problem was in properly detecting missing `otherEntityRelationshipName` attribute.

JHipster Core has been fixed to always generate it in https://github.com/jhipster/jhipster-core/commit/f6b62e4e64d1aa30672fcdc37606cc0494306599 and https://github.com/jhipster/jhipster-core/commit/06ab8871f76dccc3d274a21f61af47882bef7f3a.

We can either delete the attribute using `delete relationship.otherEntit

[2019-04-22 11:01] marianfoo commented on #9589
Hi @pascalgrimaud
thank you so much for your answer.
Your build of the docker image looked different to mine, so it was definitely a problem with the building itself.
I took the command `./mvnw -Pprod verify jib:dockerBuild` from here ["Docker and Docker Compose"](https://www.jhipster.tech/docker-compose/).
The database and the registry are running anyway.
But i just found a workaround with using

[2019-04-22 12:50] pascalgrimaud commented on #9589
happy to know it works for you now ! :-)
Thanks for your feedback @marianfoo

[2019-04-22 13:31] murdos commented on #8822
Ok. I'm currently working on it.
If it's bigger that what I thought (I was only thinking about server side originally), I'll given up and close the ticket.

[2019-04-22 15:55] murdos commented on #8822
So I made a first attempt at it: https://github.com/murdos/generator-jhipster/commit/5ced7eb9025ab13f43192e397f44dc01b68261ab but integration tests won't work:
[code]
Indeed it implies to consider the field without the prefix in the JSON DTO and thus on the client side. So it goes back to remove the prefix when interpreting the JDL, and I'm really not sure that's something we want to do. Users won

[2019-04-22 15:55] #8822 closed

[2019-04-22 16:22] pascalgrimaud commented on #9588
Thanks for reporting the issue, @wayne-optin
Don't hesitate to directly PR the fix, as you pointed the correct line :)
Anyway, I'm fixing this, right now

[2019-04-22 17:01] #9588 closed

[2019-04-22 18:21] #9559 closed

[2019-04-22 19:31] #9228 closed

[2019-04-22 19:42] pascalgrimaud commented on #9408
Closing this, after my comment: https://github.com/jhipster/generator-jhipster/pull/9409#issuecomment-485526982
But we can still discuss about it, if needed

[2019-04-22 19:42] #9408 closed

[2019-04-22 19:49] pascalgrimaud commented on #9357
It looks like the same ticket than https://github.com/jhipster/generator-jhipster/issues/9027
Let focus on this ticket, that's why I'm closing this one.

[2019-04-22 19:49] #9357 closed

[2019-04-22 20:49] pascalgrimaud commented on #9545
I installed Windows 10, in a VM and tested your config.
Everything works fine. I don't have problem to download node and npm locally, so it definitely comes from your installation:
- try to delete your `~/.m2/repository/com/eirslett/` folder, it contains local `node` and `npm`
- check your proxy configuration
- try our devbox, I know, it always work fine

I'm closing this, as I can't reproduce. Se

[2019-04-22 20:49] #9545 closed

[2019-04-22 21:21] Gabrui commented on #9563
I just realized that there is another error in the tests, related to a elastic search verification, introduced in [#9094](https://github.com/jhipster/generator-jhipster/pull/9094#issuecomment-485511829), @pmverma

The Elastic Search Service is called twice, [verify(mock<%= entityClass %>SearchRepository, times(0)).save(<%= asEntity(entityInstance) %>)](https://github.com/jhipster/jhipster-kotlin/p

[2019-04-23 10:40] ecostanzi opened #9602 "Spring profile for 'local' properties"
##### **Overview of the feature request**

Add a `local` profile to the list of spring profiles included in the `application-dev.yml` so that an `application-local.yml` file can be used to set local properties.

##### **Motivation for or Use Case**

During development it always happens we have to set local variables (logging levels, custom application properties, local endpoints etc..). We usually

[2019-04-23 11:16] PierreBesson commented on #9602
I'm against this. For me, the "local" profile is the "dev" profile. What you want is a way to define local overrides.

If you want to override some properties on your local machine, there are several ways to do it :
- Add an application.yml file at the root of your project
- Set the properties with environment variables
- Set them in your IDE (IntelliJ let's you do this)

Also your solution has so

[2019-04-23 11:22] PierreBesson commented on #9548
I think this feature is important for our microservice support to help going beyond the hello-world. It's also good for the collaboration between JHipster and OpenAPI-generator which are 2 complementary code generation projects.

I just wonder if we should use the openapi-generator jar from the npm dependency or the maven/gradle plugin. @cbornet do you have a preference ?

[2019-04-23 12:01] cbornet commented on #9548
I would say it's better to generate from npm so the code is generated as part of the project scaffolding and not during an additional compile step.

[2019-04-23 12:15] ecostanzi commented on #9548
How would this work if the spec file changes? The openapi npm module should be triggered by maven or gradle in order to be sure that the backend generated code is aligned to the latest version of the file.

(Speaking only considering the possible backend drawbacks as I'm not so skilled on the frontend side)

[2019-04-23 12:47] ecostanzi commented on #9602
I didn't know about the application.yml solution. I thought that the files in the `/config` folder of the classpath override those in the root of the classpath. The IDE helps you in understanding that the file is ignored. The application.yml in the root of the project should also be ignored by git, and at this point you would have two different places where to put configurations.

I agree this can

[2019-04-23 13:32] pmverma commented on #9563
@Gabrui thanks for your comments. Actually the `time` value must be 2. I have noted it to do PR one I come back from vacation.

What I do not know is why the automated build passed. I will see this too.

[2019-04-23 13:50] cbornet commented on #9548
You would regenerate your client with the yeoman generator.

[2019-04-23 14:05] PierreBesson commented on #9548
Yes it would have to be regenerated. This is a bad practice to couple your client code with the API spec. It prevents the server and client code from evolving independently.

[2019-04-23 15:03] pascalgrimaud commented on #9602
Agree with @PierreBesson

For your information, there is a similar discussion here: https://github.com/jhipster/generator-jhipster/issues/9249 about `dev`, `test`, `sit`, `uat`, `prod`, and now `local`

For a generated project, `dev` and `prod` are enough.
The end-users are free to add more profile if needed.
There are no real value to add one more by JHipster. It would be against our [Policy 2](h

[2019-04-23 17:25] freynder commented on #8029
I experienced the same issue and was able to identify the cause. My case is rather specific so it is unsure if it applies to other reports, but just in case, here it is:

I use Microsoft SQL database with bi-directional replication between two instances. JHipster uses `@GeneratedValue(strategy = GenerationType.SEQUENCE, generator = "sequenceGenerator")` for generating sequences which uses the unde

[2019-04-23 19:41] aniov commented on #7592
I'm using postgres for db and JWT for auth, so for the client side:
"jhipster --skip-server --db postgres --auth jwt"

[2019-04-23 20:02] pascalgrimaud commented on #9557
Closing this, as https://github.com/jhipster/generator-jhipster/pull/9558 has been merged

[2019-04-23 20:02] #9557 closed

[2019-04-23 21:43] ArthurFromDnipro opened #9604 "Wrong localization inside AvInput select tag"
This value is localized as obectObject
`  <option value="UAH">
                      <Translate contentKey="globsApp.product.currencies" />
                    </option>`
product.json
    `{
  "globsApp": {
    "product": {
      "lastUpdatedBy": "Last Updated By",
      "currencies": {
        "null": "",
        "UAH": "UAH"
      }
    }
  }
Localization from       "lastUpdatedBy": "Last Update

[2019-04-23 21:44] ArthurFromDnipro commented on #9604
Notify me pls, what should I place about the issue here more?

[2019-04-23 22:03] ruddell commented on #9604
Please fill out the issue template with your project config and entity config.  Without that information, it's very hard to reproduce.

https://raw.githubusercontent.com/jhipster/generator-jhipster/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md

[2019-04-24 00:35] devangelist opened #9605 "JHipster gae error"
I'm trying to generate the configuration files for google app engine on a monolithic application in windows.

When I run the command "jhipster gae" it gives me this error:

Welcome to Google App Engine Generator (Beta)
WARNING! This sub-generator is still in development, please report bugs on Github

Installing App Engine Java SDK
... Running: gcloud components install app-engine-java --quiet
even

[2019-04-24 02:48] ruddell commented on #9605
Did you [follow the documentation](https://www.jhipster.tech/gcp/) and install `gcloud` beforehand?  It looks like the script couldn't find it.  If you did, make sure it's in your `PATH` variable

[2019-04-24 05:54] pascalgrimaud commented on #9529
@anthony-o : just tested your PR and I got some issue. I'm not sure it comes from your PR or not
- start the application with `mvn -Pdev,tls`, so I can go to `https://localhost:8080` and it works well
- start `npm run start-tls`, browser opened at https://localhost:9000/
- when I want to sign in, it goes to https://localhost:8443/oauth2/authorization/oidc

I don't think it's related to your change

[2019-04-24 06:13] #9297 closed

[2019-04-24 07:26] ArthurFromDnipro commented on #9604
[code](https://drive.google.com/file/d/1FKK5QbrBcPDrLum2uFEhqNNg3ZIPiwKa/view?usp=sharing)

[2019-04-24 07:38] vishal423 commented on #9604
@ArthurFromDnipro , It seems you are referring `currencies` JSON object as value of `contentKey` attribute. To fix this issue, you should refer an object property like `app.product.currencies.U`

[2019-04-24 08:58] crowne opened #9608 "Resource size is not correct - typo in the Manifest"
##### **Overview of the issue**
The Console shows the following error when using chrome inspect:

##### **Motivation for or Use Case**
This was previously reported and fixed in #7790 by @mraible , but this was prior to the introduction of the new images for the JHipster family members.

##### **Reproduce the error**

1. Generate a monolith
2. Run the app
3. Open the webpage with chrome
4. Right cl

[2019-04-24 09:10] ltpitt commented on #5192
Same problem here, @ITGuy9401

[2019-04-24 11:40] gmarziou commented on #5192
@ltpitt Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

[2019-04-24 12:27] devangelist commented on #9605
Yes, I already installed it and its in my path!

[2019-04-24 13:32] ArthurFromDnipro commented on #9604
Yes, sorry, that is current version, but with ` <option value="UAH">
                      <Translate contentKey="globsApp.Currency.UAH" />
                    </option>` it does not work also.

[2019-04-24 14:17] vishal423 commented on #9604
If I follow initial json, then, it should be `globsApp.product.currencies.U` and not `globsApp.Currency.UAH`. If this doesn't work, then, please provide inline code snippet along with json that it refers

[2019-04-24 16:05] ArthurFromDnipro commented on #9604
@vishal423 thnx! I tried all variants from my vision, could u try your valid variant and check it on UI?
Even clean code, generated using JHipster shows only object Object instead of UAH for me.

[2019-04-24 17:30] Larkenx opened #9611 "Installing generator-jhipster globally with yarn fails due to event-stream vulnerability"
##### **Overview of the issue**

Installing the yeoman generator for jhipster fails globally with yarn due to a dependency on event-stream-3.3.6.

[code]
##### **Suggest a Fix**

Make sure to audit or list all dependencies that use either event-stream or flat-map-stream, and update the versions of event-stream. Check out https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incid

[2019-04-24 17:55] Larkenx commented on #9611
opened issue in yarn instead https://github.com/yarnpkg/yarn/issues/7224

[2019-04-24 17:55] #9611 closed

[2019-04-24 17:57] ruddell commented on #9611
For reference, I could not reproduce locally on my Mac, or in an Ubuntu docker container with a fresh node installation.
[code]

Running `yarn why flat-map-stream` or `yarn why event-stream` shows that they are not depended on by JHipster

[2019-04-24 21:11] devangelist commented on #9605
@ruddell any other suggestion?

[2019-04-24 22:01] ruddell commented on #9605
Nope, I don't have Windows or Google Cloud credit so I can't attempt to reproduce.

It might have to do with using `spawn` vs `exec` since `exec` seems to find `gcloud`, but the later call to `spawn` fails ([code](https://github.com/jhipster/generator-jhipster/blob/6de26d3a7019f4af2424fd5fad8d7312c98c1903/generators/gae/index.js#L62-L68)).  That's the only place in JHipster's code that I see `spaw

[2019-04-24 22:36] ArthurFromDnipro opened #9612 "JHipster 6: JWT + Angular + Monolith => null activation key for new user record"
JHipster 6: JWT + Angular + Monolith => null activation key for new user record

User is present, but key is null.

Registered in next way: all fields were filled with valid email.

[2019-04-24 23:26] jdubois commented on #9612
I'm sorry but I have no idea what you mean... Could you please follow the guidelines next time?

[2019-04-24 23:26] jdubois commented on #9612
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-04-24 23:26] #9612 closed

[2019-04-25 03:36] eapriansyah opened #9613 "SecurityUtils.getCurrentUserLogin() with oauth2 does not return the current user"
##### **Overview of the issue**

SecurityUtils.getCurrentUserLogin() with oauth2 does not return the current user.

##### **Motivation for or Use Case**

Consistency in applications with previous versions.

##### **Reproduce the error**

- Generate a monolith with oauth2 security
- Run the app
- Modify AccountResource.java
   add method
    @GetMapping("/check-security-utils")
    public String ch

[2019-04-25 05:41] #8984 closed

[2019-04-25 07:27] #9561 closed

[2019-04-25 10:18] Tonterias opened #9617 "Jhipster gae does not work on version 6"
##### **Overview of the issue**

jhipster gae on version 6 gives an error:

\Jhipster\jhv6betak8smvn>jhipster gae
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:gae
INFO! Options: from-cli: true
Welcome to Google App Engine Generator (Beta)
WARNING! This sub-generator is still in development, please report bugs on Github

Installing App En

[2019-04-25 11:36] PierreBesson commented on #9617
Hi @Tonterias,

It looks like you don't have the gcloud command installed. See https://www.jhipster.tech/gcp/
Also please note that
on v6 we have migrated to jar packaging. However GAE need a war so you will need to package your app with the `war` profile. `./mvnw appengine:deploy -DskipTests -Pprod,prod-gae,war`

[2019-04-25 11:44] hsadeghi78 opened #9618 "Jhipster Prod build fail"
Hi All
I using jhipster 5.8.2, npm 6.4.1, On window 10

##### **package.json:**

[code]

build `mvnw -Pdev package -DskipTests` its OK . but when I try build `mvnw -Pprod package -DskipTests` , i got this error:

##### **error log file:**

[code]
Help me please !!

[2019-04-25 12:01] pascalgrimaud commented on #9618
As you didn't follow our guidelines, it's impossible to help you, sorry.
Just look this pull request: https://github.com/jhipster/generator-jhipster/pull/9592/files
Maybe it's related to, and it can fix your problem, but I can't know.

[2019-04-25 12:02] pascalgrimaud commented on #9618
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-04-25 12:02] #9618 closed

[2019-04-25 12:06] pascalgrimaud commented on #9617
Same issue than https://github.com/jhipster/generator-jhipster/issues/9605 ?
You are both using Windows

[2019-04-25 12:08] Tonterias commented on #9617
Yes, you can close it. Sorry

[2019-04-25 12:09] Tonterias commented on #9605
I'm having the same problem. Thx

[2019-04-25 12:13] #9617 closed

[2019-04-25 12:27] PierreBesson commented on #9605
@Tonterias, can you try replacing `spawn` by `exec` in the generator code and see if it fixes the issue ?

[2019-04-25 12:29] crowne opened #9619 "Full Microservice Stack generation fails with EBADF: bad file descriptor, close"
##### **Overview of the issue**
Cannot generate the app as per the [tutorial](https://medium.com/jhipster/create-full-microservice-stack-using-jhipster-domain-language-under-30-minutes-ecc6e7fc3f77) by @deepu105

jhipster seems to spawn 3 parallel processes for concurrent generation of the apps
declared in the jdl (store, invoice, notification)

store and invoice are generated successfully
notific

[2019-04-25 12:49] crowne commented on #9619
Interesting observation, I managed to generate the app with the same jdl using JHipster Online
https://start.jhipster.tech/#/design-entities

Although generating the 3 apps in a single repository seems incorrect.

https://github.com/crowne/ecommerce/tree/jhipster-entities-ecommerce-855412220369417

[2019-04-25 13:31] crowne commented on #9619
This could be related to this problem on NodeJS https://github.com/nodejs/node/issues/25335
I am running node v10.13.0

[2019-04-25 13:53] crowne commented on #9619
This issue is resolved by upgrading to node v10.15.3

[2019-04-25 16:47] Tonterias commented on #9617
Hi @PierreBesson

I can create a project from the google cloud sdk command.

D:\BasuraTemporal\Jhipster\jhv6betak8smvn>mvnw appengine:deploy -DskipTests -Pprod,prod-gae,war
Found "D:\BasuraTemporal\Jhipster\jhv6betak8smvn\.mvn\wrapper\maven-wrapper.jar"
[INFO] Scanning for projects...
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-metadata.xml
Downloa

[2019-04-25 17:03] Tonterias commented on #9605
Hi Pierre,

Where exactly do you want to make the replace?

Line 68? https://github.com/jhipster/generator-jhipster/blob/6de26d3a7019f4af2424fd5fad8d7312c98c1903/generators/gae/index.js#L62-L68

const child = spawn('gcloud', ['components', 'install', component, '--quiet'], {

It does not work, either!

D:\BasuraTemporal\Jhipster\jhv6betak8smvn>jhipster gae
INFO! Using JHipster version installed lo

[2019-04-25 17:28] pascalgrimaud commented on #9619
good to know that node v10.13.0 is broken !
Thanks for your feedback

[2019-04-25 19:27] ruddell commented on #9605
A workaround is to run `gcloud components install app-engine-java` before running `jhipster gae`, which will skip the code section with `spawn`.  According to @Tonterias there are other issues after that.

[2019-04-25 23:32] devangelist commented on #9605
@ruddell  I already did the "gcloud components install app-engine-java" command and it fixes the issue I mentioned before but  it gives me another issue. When I get to the "Google cloud SQL instance" selection it gives me:

 { Error: Command failed: gcloud sql instances list  --format='value[separator=":"](project,region,name)' --project="jhipster-gae"
ERROR: (gcloud.sql.instances.list) Name expec

[2019-04-26 07:46] Tonterias opened #9622 "Stateful (persistent database) kubernetes YAML files for GCP"
##### **Overview of the feature request**

Hi,
I am trying to deploy a Jhipster app in Google Cloud Platform using the automatic kubernetes YAML files that are created by jhipster kuberbernetes. Right now, it deploys but as a STATELESS app. I cannot think of a majority of users who want to deploy Jhipster in GCP (considering any database) as Stateless app. Once the database pod is dead, your data

[2019-04-26 08:23] crowne commented on #9619
@pascalgrimaud ... Damn, I spoke too soon! I reran it and got another EBADF error.
I won't reopen it though, because I this seems to be a node issue and not a jhipster issue.
It seems to happen every send time I try to regenerate the full stack microservice app or a variant thereof.

[2019-04-26 08:34] pascalgrimaud commented on #9619
@crowne : as you are with Windows, can you tell me which terminal you use ?
I don't have Windows machine, but I got a VM, I can try to reproduce.

[2019-04-26 09:32] #9608 closed

[2019-04-26 09:36] PierreBesson commented on #9622
So basically this feature request is to setup persistent volumes for databases in Kubernetes.

[2019-04-26 09:40] PierreBesson commented on #9622
@Tonterias If you want to give a shot to contribute this feature yourself. Have a look at the documentation here: https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/

[2019-04-26 09:40] unikzforce commented on #9575
Thanks a lot for response,
now i'm using minikube with this command and it's much more lightweight than I thought:
`sudo minikube start --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost`

yes microk8s seems  intresting , but it still didn't work with `microk8s.enable storage`. i don't know whats the problem with that, i should educate myself more with kubernetes, maybe i could

[2019-04-26 10:19] Tonterias commented on #9622
Hi @PierreBesson,

I have tried for the last 3 weeks. I've even spotted a mistake on the Google documentation for mysql: https://stackoverflow.com/questions/55637769/why-am-i-getting-a-crashloopbackoff-on-this-kubernetes-example/55843997#55843997  that is now solved, but I can not figure out how to do it for Postgres (or even mysql when the files are automatically created by jhipster kubernetes).

[2019-04-26 10:56] crowne commented on #9619
@pascalgrimaud I'm using Powershell on Windows 10 (64 bit)

[2019-04-26 13:35] PierreBesson commented on #9622
@Tonterias I understand why you have problems being new to the space and trying to deploy to such a complex platform like kubernetes. I really admire your motivation. Don't worry I have seen people with over 10 years of experience struggle with Kubernetes, so you are not the only one 😄.

I think you have the mistaken assumption that Kubernetes can dynamically creates volumes for you inside the clu

[2019-04-26 13:39] PierreBesson commented on #9622
A big problem to develop this feature is that I have no idea how to generate a config that will work out of the box for all Kubernetes clusters because the PersistentVolume configuration (Storageclass, CSI driver, etc.) depends on the cloud provider.
@saturnism What do you think could be done here ?

[2019-04-26 13:56] PierreBesson commented on #7966
Maybe we could consider migrating to RapiDoc (https://mrin9.github.io/RapiDoc/) as I'm not a big fan of Swagger UI v3.

[2019-04-26 14:01] ecostanzi commented on #9548
I managed to import @cbornet module into a jhipster submodule. I drafted some ideas in the todo list in the pull request. Please let me know if this is what you guys had in mind.

[2019-04-26 14:22] PierreBesson commented on #9602
So in your idea, this application-local.yml should be a "shadow" file that can exist or not. I still don't like the idea to add an additional profile just to override some values.

As specified here, a properties/yaml file outside of the jar has precedence over the ones inside the jar. So the root application.yml technique will work fine and be simpler than what you suggest.
https://docs.spring.io

[2019-04-26 15:40] ppkabore opened #9626 "NullpointerException with JWT:IllegalArgumentException: Decode argument cannot be null."
Hi,

I have created a jhipster application with  JWT for security. It throws an exception when I execute ./mvnw. I have created before the same application with Oauth2 and it worked.

My environment:
- Jhipster: v5.8.2
- Os: MacOs Mojave 10.14.4
- Java: 1.8.0_201
- Database: 10.6

Below is the content of the .yo-rc.json file
------------------------------------------
[code]
Here is the stack trace

[2019-04-26 16:48] devangelist commented on #9605
@PierreBesson +1

[2019-04-26 17:11] ruddell commented on #9622
Related feature request for the same thing, closed due to inactivity https://github.com/jhipster/generator-jhipster/issues/5173

[2019-04-26 18:52] Tonterias commented on #9622
Hi @PierreBesson,

I know what could be done. Let's solve the problem for one of the cloud providers (GCP or AWS) and people will use it and promote it, so the others will have no other choice but do it too if they want users to use their cloud. That is how it works, it is competition. I know about that!!!

**Do not forget that you do not need to automate it, you just need to explain how it should

[2019-04-26 19:52] jdubois commented on #9622
I wouldn't recommend this setup, as you'll need to manage the database yourself and that's really not the goal when you move to the cloud. I always use a managed database service instead.

[2019-04-27 09:51] crowne commented on #9619
@pascalgrimaud It looks like its a problem with Insight.
No problems if I run the generator as follows.

Original stacktrace in more readable format shows the error being thrown from Insight.

![image](https://user-images.githubusercontent.com/3218673/56847934-a9ab8a80-68e2-11e9-81ba-f658e92ef24a.png)

[2019-04-27 10:24] Tonterias commented on #9622
Hi @jdubois,

3 questions:

- So you recommend to use the jhipster gae (for monolith), right ? (App Engine flex plus SQL Cloud or Heroku or AWS)
- How would you do that with a microservice? (meaning the managed databases for a Spingular blog microsvc and a mongodb Spingular chat microsvc together, for example). Can jhipster gae do that?
- I miss something: I do not understand the need for jhipster

[2019-04-29 07:51] avdev4j commented on #9626
Hi @ppkabore
You have generated an application with JHipster 5.8.2 and a vue.js blueprint compatible with JHipster 5.8.1.
Please retry without vue.js or use JHipster 5.8.1 instead.

keep us to date

[2019-04-29 09:27] jdubois commented on #9622
Hi @Tonterias there are 2 different things here in fact:

- For hosting your applications (a microservice being just one type of application), you can use either a VM, a managed service (like Heroku, GAE, Azure app service), or Kubernetes (typically: GCP, EKS or Azure). All of those options work, but provide different levels of price/options/features. For something simple, I would rather use a man

[2019-04-29 14:20] postace commented on #8118
This problem still exists in version 5.8.2

After one night investigation, I found that the problem comes from the server side.
That is, the server must send the corrected alert header for the client to displaying the toast.

Before ()
`.headers(HeaderUtil.createAlert( "A user is created with identifier " + newUser.getLogin(), newUser.getLogin()))`

After (fixed)
`.headers(HeaderUtil.createAlert(

[2019-04-29 14:33] #9529 closed

[2019-04-29 14:46] vraravam opened #9631 "Ignore the generated files/folders from sonar/jacoco metrics"
##### **Overview of the feature request**

When using jHipster, we end up with generated code inside `build/generated` folder. Can this folder be automatically ignored from sonar and/or jacoco metrics? Based on different SO answers, this is possible with setting the following in `gradle\sonar.gradle` file:

[code]
_Note_: For my codebase, I only found that the generated domain classes end with the

[2019-04-29 14:49] vraravam opened #9632 "Index listing of entities can show some more info"
##### **Overview of the feature request**

If there are no entities in the datastore, the table can be replaced with a "no XXX found" message.
Also, above the table you can show the total number of entities - this is complimentary to the pagination links because without this, the pagination links seem incomplete.

##### **Motivation for or Use Case**

Better UI for the end-user of the generated ap

[2019-04-29 16:50] ppkabore commented on #9626
Hi avdev4j,

I downgraded jhipster to version 5.8.1 and used vue.js blueprint and still got the same exception. It works with angular however, but I want to use vuejs.

Thanks for your help.

[2019-04-29 18:14] Tonterias commented on #9622
Hi @jdubois,

Can you help me? Casue I feel pretty exhausted, at this point.

Now you have an idea of what I want to do with Spingular. I can promote Spingular as a website for programmers who want to learn Jhipster with a real examples. Chaitanya, a programmer from India, has started working on Spingular Chat because he wants to learn websockets in Jhipster.

As we are learning, in the process, w

[2019-04-29 18:26] jdubois commented on #9622
Yes, if money is an issue, I don't think Kubernetes is the best choice for you. I think a mix of Google SQL (for the database) and GAE would cost less.
If you really want something cheap you can use Google Cloud Datastore, that's what I used to have for JHipster Online. There is some extra work to use it with JHipster, but it removes most of the database cost.

[2019-04-30 05:49] devangelist commented on #9605
Anyone?

[2019-04-30 05:56] atomfrede commented on #9631
Is this a jacoco problem or in sonar? As far as I can see these classes are not part of the sonar analysis so in sonar everything looks fine. Do you mean in the jacoco html report?

[2019-04-30 06:57] vraravam commented on #9631
@atomfrede :  Yes - they show up in the html report.

[2019-04-30 09:08] murdos commented on #8425
For the record: fixed with #9634 in JHipster 6

[2019-04-30 09:45] atomfrede commented on #9549
@jhipster/developers Did we do anything about the headers for our generated apps already?

[2019-04-30 09:59] cirotarini opened #9639 "onetomany relationship not shown (the same for manytomany right side)"
##### **Overview of the issue**
1) father/son issue: when you create a “relationship OneToMany”, the many to one side of the relation is NOT shown (in the son I can see the father, in the father I cannot see the sons).
So in the OneToMany relationship  (below) WishList{product} to Product{wishList(title)}, the whishlist ‘father’ element does not show the Product ‘son elements’
2)ManyToMany issue;:

[2019-04-30 10:03] PierreBesson commented on #9549
For www.jhipster.tech, it is served by Github Pages so I'm not sure we can do much. However for start.jhipster.tech, it's a JHipster app so we should be setting the CSP headers to improve security.

[2019-04-30 10:14] PierreBesson commented on #9549
We should set all security headers by default and document them on a special page. The Spring Security docs, document them well: https://docs.spring.io/spring-security/site/docs/5.2.x/reference/html5/#default-security-headers-2

However this might impact the development experience, @mraible what do you think ?

[2019-04-30 10:17] PierreBesson commented on #9602
So the team is definitely not too kind to implement this. I'm closing the issue. Thank you @ecostanzi for the valuable discussion.

[2019-04-30 10:17] #9602 closed

[2019-04-30 11:20] atomfrede commented on #9631
Thats in fact a jacoco problem (I know of). You have to exclude the generated classes from analysis and tell the reporting of jacoco not to take them into account as the reporting does not honor the exclusions from the analysis phase.

[2019-04-30 13:39] unknowedNp commented on #7906
@jdubois
yeah , spring-social disconted but can you custom implemented or oauth.
https://spring.io/blog/2018/03/06/using-spring-security-5-to-integrate-with-oauth-2-secured-services-such-as-facebook-and-github

may have option to use in jwt or session security use social login without spring security ?

[2019-04-30 13:41] jdubois commented on #7906
Yes those should work either using our normal OAuth2 support, or through an OIDC provider like Keycloak or Okta

[2019-04-30 13:46] vraravam commented on #9631
Between the 2 (agent and report) - I agree that the report should be more "intelligent".

But, since jHipster is a _code generator_, imo, this can be added to the appropriate yeoman files for generating the gradle files.

[2019-04-30 13:53] mraible commented on #9549
It'd be cool to write some documentation on how to get from having a C to an A. I don't care if it's Heroku or someone else, but it'd be similar to https://developer.okta.com/blog/2019/04/11/site-security-cloudflare-netlify.

[2019-04-30 15:06] amrnablus commented on #7906
I switched to keycloak + oauth and it does exactly what spring social did. Anyone should be good switching over to that.

[2019-04-30 17:57] atomfrede commented on #9631
Which jhipster version are you using? according to https://github.com/jacoco/jacoco/releases classes annotated with `@Generated` should be excluded (for both report and agent as far as I understand, but maybe it just for the coverage report generation).

[2019-04-30 18:05] vraravam commented on #9631
jhipster version: 5.8.2
jacoco version: 0.8.3

The `@Generated` annotation is working (to be ignored - IF it is present) - but, as a user, I do not want to edit the *generated* files with these annotations.

[2019-05-02 12:10] standors opened #9645 "Liquibase maven plugin diff fails"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [x] Checking this box is mandatory (thi

[2019-05-02 12:18] atomfrede commented on #9645
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-02 12:18] #9645 closed

[2019-05-02 12:33] standors opened #9646 "Liquibase maven plugin diff fails"
Overview of the issue
just plain monolith project generated without entities
Motivation for or Use Case
bug in basic project
Reproduce the error
1. generate new src with jhipster
2. run mvnw compile liquibase:diff
failed with msgs:

Related[INFO] Scanning for projects...
[INFO]
[INFO] -------------------------------< se:sse >-------------------------------
[INFO] Building Sse 0.0.1-SNAPSHOT
[INFO]

[2019-05-02 12:47] ahmedeldeeb25 opened #9647 "Change Test database type"
##### **Overview of the feature request**

Hi everyone,
All Jhipster projects using h2 as a database, for some reasons I need to use SQL DB like Postgres.
I've changed .properties file in test/resources but still give me errors in H2 with liquibase
for ex:
[code]
for now :
1- I think developers should choose the type of DB in testing mode.
2- I need a way to change it also for my previous microser

[2019-05-02 16:26] admlz635 commented on #9426
@timosntr
The same error here. I managed to make it work by replacing 'test-ci' with 'run test-ci' on line `./mvnw com.github.eirslett: frontend-maven-plugin: npm -Dfrontend.npm.arguments = 'run test-ci' -Dmaven.repo .local = $ MAVEN_USER_HOME`

[2019-05-02 16:53] #9563 closed

[2019-05-02 17:22] pmverma commented on #9647
Have you tried changing
`url: jdbc:h2:mem:mydb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE`
to something like
`url: jdbc:postgresql://localhost:5432/mydb`

I haven't try this method but it should work i think.

Also keep in mind that since it is not an in-memory db, Integration tests may fail because the previous data won't be cleared.

[2019-05-02 17:52] pmverma opened #9651 "Improve all test automation project generation for travis CI to use jdl"
##### **Overview of the feature request**

Improve all test automation for travis CI to use jdl rather than having individual `.yo-rc.json` and many `EntityXXXXXX.json`.

##### **Motivation for or Use Case**

Current setup for travis is working fine but I believe this can be improved to be a little easier to manage them.

This way newly added question/options/keyword can be also generated automati

[2019-05-02 18:11] Tcharl commented on #9279
Sure, Will make an example then reopen while ready.
And yes, there is so much more important features to provide :-)

[2019-05-02 18:12] #9279 closed

[2019-05-02 18:16] jdubois commented on #9646
Please, could you follow the guidelines so we have your version number? We can't work like this

[2019-05-02 18:16] jdubois commented on #9646
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-02 18:16] #9646 closed

[2019-05-02 18:47] pascalgrimaud commented on #9651
I'll do long answer when back from vacations :-)

[2019-05-02 20:10] atomfrede commented on #9647
If you are okay with using docker during your integration tests, have a look at https://github.com/testcontainers/testcontainers-java

You can just define a special jdbc url: https://www.testcontainers.org/modules/databases/#database-containers-launched-via-jdbc-url-scheme

(not yet tried it myself)

[2019-05-03 08:52] Tonterias commented on #9622
Hi @jdubois,

Surely, I'll follow your advice. Thanks!!!

I'll wait for GAE issue to be fixed #9605. I have never used it, so I have no idea how difficult it will be. Not covered in the Full Stack book either. If I can't make it work, I will have to ask you for your help because the https://www.youtube.com/watch?v=J9_MW3HOj5w is not clear. If I can, I will make some documentation about how to do i

[2019-05-03 10:56] PierreBesson commented on #9493
Let's close this issue and PR, as the proposed fix introduce too many breaking changes and the current image already works for most purposes.
Thank you @anthony-o for having given a shot at this !

[2019-05-03 10:56] #9493 closed

[2019-05-03 12:44] pmverma opened #9652 "Need to document regarding deprecated stuff"
##### **Overview of the issue**

In https://github.com/jhipster/generator-jhipster/pull/9384/files, method `getJhipsterAppConfig()` has been removed but respective doc has not been update at
https://www.jhipster.tech/modules/creating-a-module/

This effect some module such as https://github.com/oktadeveloper/generator-jhipster-ionic/issues/68
##### **Motivation for or Use Case**

With updated doc,

[2019-05-03 14:04] avdev4j commented on #9632
Hi @vraravam
I think it's could be a good improvement. Would you like to do this PR?

[2019-05-03 14:51] vraravam commented on #9632
unfortunately, im not a angular/react dev - will have to pass on this.

[2019-05-03 17:53] pmverma opened #9654 "Application won't start correctly in dev mode for Postgres"
##### **Overview of the issue**

Application won't start correctly in dev mode for Postgres because liquibase is not loading the fake data correctly.
Somehow relationship column value is being inserted as string value and hence having this error.
[code]

##### **Motivation for or Use Case**

Application should start normally in dev mode.

##### **Reproduce the error**

1. Create a new app with pos

[2019-05-03 19:12] ruddell commented on #9654
We loop through the fields and set the `type` in the entity xml changelog [here](https://github.com/jhipster/generator-jhipster/blob/fd833198688d5d43d08ec5a13acef3dd2c49f396/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs#L180), but we need to do the same for relationship IDs.

For example, in the `loadData` tag in `added_entity_Entity2.xml` sh

[2019-05-03 22:14] ben-manes commented on #9351
Sorry, I got swamped building out [EDI](https://en.wikipedia.org/wiki/Electronic_data_interchange) integration (the XML of the `70s). This is still in my backlog, though.

[2019-05-04 02:57] Gabrui opened #9656 "Missing comma for jhipster-needle-add-admin-module"
##### **Overview of the issue**

There is a missing comma for the `/* jhipster-needle-add-admin-module - JHipster will add admin modules here */` in the `admin.module.ts` file. Using sub-generators that make a call to `addAdminToModule` method of `generators/generator-base.js` results in a wrong generated code.

[code]

##### **Motivation for or Use Case**

I am trying to create a sub-generator th

[2019-05-04 04:39] carloca68 opened #9658 "Wrong comand line in package.json for postinstall"
##### **Overview of the issue**

When creating a new monolith app the postinstall command fails with the error:

'.' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! prices@0.0.0 postinstall: `./node_modules/webdriver-manager/bin/webdriver-manager update --gecko false`
npm ERR! Exit status 1
npm ERR!
npm ERR! F

[2019-05-04 07:46] pmverma commented on #9654
Thanks @ruddell. I have created a PR and would be nice if you review it.

[2019-05-04 08:30] pmverma opened #9660 "Incorrect fake data is being generated for blob"
##### **Overview of the issue**

When liquibase load image data, it fails due to type mismatch.

[code]
When I change column data type from

`            <column name="my_image" type="string"/>
`
to
`            <column name="my_image" type="blob"/>
`,
it expects some local file to be loaded.

[code]

##### **Motivation for or Use Case**

Fake data should be generated and loaded correctly.

#####

[2019-05-04 08:41] jdubois commented on #9654
I added a bug bounty here for you @pmverma - thanks for your awesome work here!

[2019-05-04 09:13] murdos opened #9661 "Make fake data optional"
##### **Overview of the issue**

The generation and use of fake data should be optional, and should be proposed by prompt, either as a global choice or as a per entity choice.

##### **Motivation for or Use Case**

The generator writes data files on the the same place real data are usually put for production (`src/main/resources/config/liquibase/data`).
There are also open issues with fake data, s

[2019-05-04 10:17] jdubois commented on #9661
It's already optional, it's a specific Liquibase context, look at the application-dev.yml

[2019-05-04 12:20] murdos commented on #9661
It's currently optional at runtime, but I'm suggesting that it be optional during generation.

[2019-05-04 14:45] pascalgrimaud commented on #9661
if we changed this to optional at generation, I'd prefer in the additional option section (with Elastic, Kafka, etc), instead of an additional question. But it's just my personal opinion

[2019-05-04 16:03] pmverma commented on #9660
I am trying to fix this issue but thought to put a note here first.

For blob, we have three categories: `image, any, text`
Let's say I have following fake data record,
[code]
1. To load `image` data I had to put an image file named `486f6d65204c6f616e204163636f756e74205461626c6520436f6d7075746572` under `changelog` folder and it will picked up. I believe path can be changed but have not tested ye

[2019-05-04 16:23] #9656 closed

[2019-05-04 16:30] pascalgrimaud commented on #9546
It's very hard for the team to test and maintain the AWS sub generator.

It looks like you're the only one who asked this, do you plan to contribute to improve the AWS sub generator @andreaschiona-tria ?

[2019-05-04 16:38] pascalgrimaud commented on #9579
I didn't have a look in details to faker.js but maybe we can do the same as with Protractor:
https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs#L38-L44

Not sure we can generate proper datas when there is 'required'

[2019-05-04 16:48] pascalgrimaud commented on #9647
As suggested by @atomfrede, you are free to customize your generated application to use testcontainers.

There is already a module developed by @ecostanzi
- https://www.jhipster.tech/modules/marketplace/#/details/generator-jhipster-testcontainers
- https://github.com/intesys/generator-jhipster-testcontainers

You should have a look and try to help the author.

For the generator, we didn't propose

[2019-05-04 16:48] #9647 closed

[2019-05-04 16:53] pascalgrimaud commented on #9658
Looks like related to Windows, as we don't have the issue in our CI with Linux.

[2019-05-04 16:57] pascalgrimaud commented on #9604
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-04 16:57] #9604 closed

[2019-05-04 16:59] pascalgrimaud commented on #9570
It can be a minor improvement but it seems there is a lack of interest for that.
I'm closing this, but feel free to submit a PR.

[2019-05-04 16:59] #9570 closed

[2019-05-04 17:01] pascalgrimaud commented on #9280
@jdubois @Tcharl : do one of you plan to code this feature ?

[2019-05-04 17:05] pascalgrimaud commented on #9521
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-05-04 17:05] #9521 closed

[2019-05-04 17:12] pmverma commented on #9579
Thanks @pascalgrimaud Problem 1 and 2 can be fixed with suggested fix by using array index number than some random number.
Main challenge here is handling user mapid relationship (including chained/nested association such as `User->MyUser->MySomeAnotherEntityWhichIsMeantToBeOneToOneWithUserToo`) which are `unique`. Because we have max 4 users by default, then the record should be `4 -> 4 -> 4->`.

[2019-05-04 17:22] pmverma commented on #9658
Of course, I had this same error on Windows 10. I was generating some test project and encountered this error.

[2019-05-04 18:12] jdubois commented on #9280
I definitely plan to do this soon

[2019-05-04 18:34] murdos commented on #9661
I've no problem with adding it in the additional option section. I'll update my PR.

[2019-05-04 18:39] jdubois commented on #9661
For me this goes against [policy 2](https://www.jhipster.tech/policies/) by I understand this might be annoying or surprising for many people, so this could be an option.
Then, such options are usually un-checked by default, and I believe this one should be checked by default, which would make a bad UI. So that's quite a lot of trouble...

[2019-05-04 19:42] pascalgrimaud commented on #9661
Another solution would be to add a new flag:
- generate data with faker.js by default
- add a new flag `--no-faker`

I have no real opinion about having it by default or not, as I didn't use it a lot.
But there are some issues which must be fixed first.

[2019-05-04 20:03] jdubois commented on #9661
Yes, I think the issues are nearly fixed, we can do a patch release next week

[2019-05-04 20:28] murdos opened #9665 "Fake data generation doesn't honor validation rules (excepted maxlength)"
##### **Overview of the issue**

Fields can have validation rules: https://www.jhipster.tech/jdl/#available-field-types-and-constraints
However generated data only take into account the maxlength one (for string), so this can lead to error when loading the data with liquibase.

##### **Motivation for or Use Case**

Have initial data that are coherent and won't generate errors when you try to updat

[2019-05-04 20:43] murdos commented on #9661
I don't have strong preference for the way to disable it, but I'm convinced that it should be possible to disable it.
It's very common to initialize data for some reference tables in production, and having a mix, or worse, fake data overriding real data each time you regenerate an entity will be really annoying for our users.

[2019-05-04 21:23] cbornet commented on #9661
Couldn't this be done with Maven and Liquibase profiles.

[2019-05-04 21:26] cbornet commented on #9661
Agree with @jdubois. We already have a runtime option so that seems enough.

[2019-05-04 22:46] Gabrui opened #9666 "Generated java tests fails when a field has unique validation, entity has filter and is required"
##### **Overview of the issue**

Generated java tests fails when a field has unique validation and filter:

[code]
[code]

##### **Motivation for or Use Case**

The generated tests should be passing.

##### **Reproduce the error**

Create a new project with default settings `jhipster`, import JDL `jhipster import-jdl bug.jdl`, run `./mvnw clean install`.

##### **Related issues**

It was also happ

[2019-05-04 22:55] Gabrui commented on #9666
Using the jpaDerivedIdentifier has the same result as with the required and filter:

This JDL also fails
[code]

[2019-05-05 08:33] pascalgrimaud commented on #9658
I reproduced the issue with my Windows10 VM. It's an important bug.

Do you want to PR the fix @carloca68 ? Otherwise, I can do it, using your suggestion

[2019-05-05 08:39] pascalgrimaud commented on #9660
As we know there are some issues with Faker.js, shouldn't we regroup this ticket in https://github.com/jhipster/generator-jhipster/issues/9579 ?

[2019-05-05 08:39] pascalgrimaud commented on #9665
As we know there are some issues with Faker.js, shouldn't we regroup this ticket in https://github.com/jhipster/generator-jhipster/issues/9579 ?

[2019-05-05 08:42] #9654 closed

[2019-05-05 08:43] jdubois commented on #9658
I'm adding a bug bounty here, this is important

[2019-05-05 08:51] pascalgrimaud commented on #9658
The fix suggested by @carloca68 works well.
I can PR to apply the fix, but I'd like to let @carloca68 propose a PR so he'll be the author :)

@jdubois : I don't know if you'll have time to make a patch release next week, but I can help or do it my self

[2019-05-05 09:47] 690284557 opened #9667 "Generate table annotations"
After integrating jpa, entity automatically creates tables, but there is no table comment. We hope to bring the column Definition attribute in @Column and use the comment field as COMMENT.

[2019-05-05 12:28] murdos commented on #9665
There are different issues, each one with a different solution, so I would kept them separate.
#9579 issue is mainly about relationships. This one is about validation rules.

[2019-05-05 13:01] Gabrui commented on #9666
There may be dependencies deep into the creation tree:

This JDL also fails, it has no filter nor jpaDerivedIdentifier.

[code]

[2019-05-05 13:46] pascalgrimaud commented on #9651
@pmverma : thanks for your proposal. Here my point of view:

Our CI can already test JDL file. See this [config](https://github.com/jhipster/generator-jhipster/blob/master/azure-pipelines.yml#L44-L54) and the generation [here](https://github.com/jhipster/generator-jhipster/blob/master/test-integration/scripts/12-generate-project.sh#L14-L33)
Currently, I'm working on generating multi app with the s

[2019-05-05 15:04] pascalgrimaud commented on #9605
I gave a try to the sub generator `gae` and I confirm it's broken.
Some commands have changed and we need to update them.

@devangelist : your help is welcome here. Can you have a look at this file and try to fix the commands which are in error for you ? Or at least, if you can point us

[2019-05-05 15:08] jdubois commented on #9658
@pascalgrimaud yes a patch release is easy now - but do you want to do one just to test?

[2019-05-05 15:44] pascalgrimaud commented on #9658
There are several bugs which need to be fixed first. Then, if you're ok, I'll probably try to do a release this wednesday.

[2019-05-05 16:45] ruddell commented on #9667
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1.  our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2.  the ["create a new ticket" page](https://github.com/jhipster/generato

[2019-05-05 16:45] #9667 closed

[2019-05-05 18:32] ruddell commented on #9651
You can group the entities in a single JDL file per group, then import multiple JDL files with a single command (you can pass a list of JDL files).

For example, we could create groups like `FieldTest.jdl`, `OptionTest.jdl`, `MapsIdTest.jdl`, `MicroserviceTest.jdl`, `Bank.jdl`, etc

[2019-05-05 18:36] pascalgrimaud commented on #9651
Seriously ? I didn't know that ! Looks very interesting. Thanks @ruddell
The only problem today is I don't know if our users prefer use JDL or directly the sub gen entity. And we should focus on the use case which is the most used

[2019-05-05 19:21] Gabrui commented on #9666
The additions I made to the app.jdl catches the behaviour: in the current version these are the errors of the [app.jdl updated](https://github.com/Gabrui/generator-jhipster/commit/6c69ff6c0d081a321a26c86e549293fa3d4f43b0):

[code]

[2019-05-05 19:21] ruddell commented on #9651
The current workflow (copy the entity.json files, then run entity generator) is similar to how JDL works (generate the entity.json files, then run entity generator).  ([jdl entity code](https://github.com/jhipster/generator-jhipster/blob/9fcec8181a8a4f8087f719d6548df0b182022334/cli/import-jdl.js#L191), [`with-entities` code](https://github.com/jhipster/generator-jhipster/blob/5c8181e5094d1c9c34209

[2019-05-06 03:17] pmverma commented on #9660
Yes, I think #9579, #9660, #9665 can be regroup and fixed together.

[2019-05-06 03:19] 690284557 opened #9671 "The entity Column generated by JDL has columnDefinition attribute"
The entity generated by JDL and the @Cloum of the field have columnDefinition attributes, so that the table generated by JPA can automatically add COMMENT.

COMMENT attributes can be annotated in JDL files
like
@Column(name = "type", columnDefinition = "int(2)  COMMENT 'enum'")

[2019-05-06 03:21] #9671 closed

[2019-05-06 04:39] RizqonSidikMaulana commented on #8366
@deepu105 I have an issue when run jhipster aws-containers
[code]

[2019-05-06 05:34] 690284557 opened #9672 "The entity Column generated by JDL has columnDefinition attribute"
##### **Overview of the issue**

The entity generated by JDL and the @cloum of the field have columnDefinition attributes, so that the table generated by JPA can automatically add COMMENT.

##### **Motivation for or Use Case**

The tables created by JPA do not have COMMENT

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **E

[2019-05-06 06:07] fortisstar-test commented on #9545
![jhipster_mvnw_error](https://user-images.githubusercontent.com/48304624/57208582-3521cb80-7007-11e9-8f31-fc3f551aa193.png)

This issue occurs on my machine, running windows 10.
I have deleted the folder C:\Users\fts00193\.m2\repository\com\github\eirslett, and re-run mvnw, the error still occurs.

I already have existing npm and node version installed globally as shown below:

![existing_node_np

[2019-05-06 06:18] fortisstar-test commented on #9545
This manual extraction solve the issue.
jhipster should be fixed to ensure smooth project build.

[2019-05-06 06:21] pascalgrimaud commented on #9545
@fortisstar-test : as you can see in my previous comment, I installed a VM with Windows 10 and didn't manage to reproduce. Without additionnal information, it's impossible to help you.
As I can't reproduce with Linux, VM with Windows10, it comes from your environment and your installation.
You can have a look directly to the project [frontend-maven-plugin](https://github.com/eirslett/frontend-mave

[2019-05-06 06:44] murdos commented on #9665
FYI I've updated the description to complete the JDL and better illustrate the issues.

[2019-05-06 07:24] andreaschiona-tria commented on #9546
Hi @pascalgrimaud at the moment I use gradle plugin to deploy to aws (via cloudformation) so I don't plan to work to aws sub generator.

Regards,
Andrea

[2019-05-06 07:46] PierreBesson commented on #9546
I guess most people who deploy to aws cannot really contribute their setup as it is heavily dependent on their own infrastructure.
However it would be cool to setup this gradle plugin you are talking about. Actually our Heroku and Google app Engine deployments are already setup using a maven/gradle plugin.

[2019-05-06 07:57] #9658 closed

[2019-05-06 08:02] avdev4j commented on #9632
Ok I see.
If you want to do a first step in Angular or React environnement don't hesitate we can help you.
Otherwise we can wait for some motivated new contributors. (If we find no one I will take a look ;)).

[2019-05-06 08:11] wmarques commented on #9632
Hi @vraravam thanks for your feedback.
I can help on this next week probably, for the Angular part

[2019-05-06 12:00] eeriksp opened #9675 "React admin toolbar wrong color"
##### **Overview of the issue**

I generated a new project with Kotlin blueprint and React frontend, ran it on localhost and discovered that that both the main toolbar as well as the buttons on it were white as seen in the picture:
![image](https://user-images.githubusercontent.com/35540617/57223350-694cba80-700e-11e9-9331-02ab94ba2bbe.png)

##### **Motivation for or Use Case**

Because both the t

[2019-05-06 12:47] ivan86to opened #9676 "Adduser command broken docker image build with jdk11"
##### **Overview of the issue**

Jenkins pipeline failed when build docker image because command adduser in exit with code: 1
-D and -s params not exist.

##### **Motivation for or Use Case**

# adduser --help
adduser [--home DIR] [--shell SHELL] [--no-create-home] [--uid ID]
[--firstuid ID] [--lastuid ID] [--gecos GECOS] [--ingroup GROUP | --gid ID]
[--disabled-password] [--disabled-login] [--add

[2019-05-06 13:05] vishal423 commented on #9675
I should be fixed on master and available in v6.0. Can you try and confirm?

~Vishal

On Mon 6 May, 2019, 5:31 PM Eerik Sven Puudist, <notifications@github.com>
wrote:

[2019-05-06 13:25] pdelaby opened #9677 "Generated Dockerfile expects war, but apps are packaged as jar"
##### **Overview of the issue**

With Jhipster 6.0.0, the docker configuration expects a war :
* `Dockerfile` add the application as a war `ADD *.war app.war`
* The `entrypoint.sh` expect a war `exec java ${JAVA_OPTS} -noverify -XX:+AlwaysPreTouch -Djava.security.egd=file:/dev/./urandom -jar "${HOME}/app.war" "$@"`

But the application is packaged as jar
* `<packaging>jar</packaging>` from `pom.xm

[2019-05-06 15:49] antarus commented on #9652
Update documentation for gatling 3

[2019-05-06 16:42] pascalgrimaud commented on #9677
In fact, the generated Dockerfile in src/main/docker is not used anymore. It is still generated because some users asked to keep it.
But you're right, maybe we could improve it, and change from war to jar.

[2019-05-06 17:11] pascalgrimaud commented on #9675
Yes, it has been fixed here https://github.com/jhipster/generator-jhipster/pull/9610
Thanks @vishal423 for the answer and the fix

As the Kotlin blueprint use JHipster v6.0.0-beta.0, it could explain the issue.
2 solutions for you:
- wait or help to upgrade the Kotlin blueprint to use JHipster v6.0.0
- apply the fix in your header.scss file to include this part: https://github.com/jhipster/generat

[2019-05-06 17:11] #9675 closed

[2019-05-06 17:21] pascalgrimaud commented on #9676
@ivan86to : do you want to contribute and PR your fix ?

[2019-05-06 17:44] ivan86to commented on #9676
yes, of course!
tnk!

[2019-05-06 18:53] #9613 closed

[2019-05-06 19:23] pascalgrimaud commented on #9546
Thanks for your answer @andreaschiona-tria
That's fine so, let's close this ticket as it won't be done for now.

[2019-05-06 19:23] #9546 closed

[2019-05-06 19:24] pascalgrimaud commented on #9676
Fixed by https://github.com/jhipster/generator-jhipster/pull/9680

[2019-05-06 19:24] #9676 closed

[2019-05-07 01:46] carloca68 commented on #9658
Sorry guys, missed the messages, I've been busy :-(

Thanks for the quick fix.

[2019-05-07 02:38] sandyway opened #9683 "Refreshing react web page result in a error:Error occured while trying to proxy to: localhost:9000/login"
##### **Overview of the issue**
If I directly open any react web page not from the main page,or refresh a web page which is not main page,there will be a error:Error occured while trying to proxy to: localhost:9000/somePageNotMain

example:
If I input "http://localhost:9000/login" to the chrome url,then return,there will be a error:
"Error occured while trying to proxy to: localhost:9000/login"

!

[2019-05-07 03:37] mai1015 opened #9684 "CORS not working properly with newly generated setup"
##### **Overview of the issue**
In development mode, CORS setting not working. CORS header “Access-Control-Allow-Origin” missing.

##### **Motivation for or Use Case**
I deploy keycloak at different domain from jhipster application. It is not allow to access other domain's resource.

[code]

##### **Reproduce the error**
Generate the project with command. Then setup the oauth url to different doma

[2019-05-07 03:44] mraible commented on #9684
If you set a different domain, you need to update the web origins in Keycloak. This is not a JHipster issue.

[2019-05-07 07:19] kr0 opened #9685 "aws generator throws Error: EISDIR"
##### **Overview of the issue**
Using the aws generator with a fresh app produces this error during "Upload JAR to S3" step:
[code]

##### **Motivation for or Use Case**
I am trying to deploy an application to aws.

##### **Reproduce the error**
After installing jhipster/having appropriate aws credentials, Create a new folder, run jhipster, run jhipster aws.

##### **Related issues**
This error re

[2019-05-07 07:20] pdelaby commented on #9677
Thanks you very much for the correction.
But I think the Dockerfile is still used by Jenkins : if you select "build docker image" and " when using the goal "jhipster ci-cd", it will genereate the following code (Jenkins pipeline)

[code]

And `docker.build` uses the `Dockerfile`. Is this a bug ? Shoud it use maven/graddle and jib ?

[2019-05-07 07:24] pascalgrimaud commented on #9677
Exactly, you're right @pdelaby ! It is still used by Jenkinsfile (just discovered it)

I think it would be better to be consistent and use jib for building Docker image in Jenkins pipelines too.

[2019-05-07 08:09] PierreBesson commented on #9677
The Dockerfile should be removed

[2019-05-07 08:10] PierreBesson commented on #9677
This is because jib does not use a Dockerfile but has it's own internal mechanism that you configure in the pom.

[2019-05-07 11:49] PierreBesson commented on #9677
Removing the Dockerfile shouldn't cause much problems as jib will release the offline mode in the coming days: https://github.com/GoogleContainerTools/jib/milestone/31?closed=1

After jib 1.2.0 release, I will update our jib version and refresh our docker docs.

[2019-05-07 11:54] PierreBesson commented on #9494
Note: I'm still on this issue and I am slowly making progress whenever I have the time.

[2019-05-07 14:24] asmolabs commented on #9335
Hi,

I try on 6.0.0 but always the same error

SyntaxError: Error: The appsFolders property name must match: /^[A-Za-z][A-Za-z0-9]*$/
        at line: 29, column: 16
ERROR! Error while parsing applications and entities from the JDL SyntaxError: Error: The appsFolders property name must match: /^[A-Za-z][A-Za-z0-9]*$/
        at line: 29, column: 16

[2019-05-07 15:47] gordolio opened #9690 "Broken Link header"
##### **Overview of the issue**

The `Link` header in api responses does not include the full base path.

##### **Motivation for or Use Case**

This prevents the use of the header to get the next page of a result set, or number of pages.

##### **Reproduce the error**

Create an app with the following config...
[code]
1. Open dev tools
2. Login to a jhipster app.
3. Administration >> User Manageme

[2019-05-07 17:06] alexsintoni commented on #9407
I guys,
I got the same error with the last JHipster version v6.0.0.
I would like to re-open this ticket but I don't know how.

Anyway, following my configuration:
[code]

I have the same error in all: UAA, Application and Gateway.
All v6.0.0

[2019-05-07 17:12] pascalgrimaud commented on #9407
@alexsintonin : did you play with config ?
See https://github.com/jhipster/generator-jhipster/commit/49f9cb39792a902c40250e2cfb41cb7f789ac8b2

Can you try:

[code]

[2019-05-07 17:18] gordolio commented on #9690
It looks like UriComponentsBuilderMethodArgumentResolver only gives the context path ("/deployed-context") rather than the full HttpRequestPath ("/deployed-context/api/users").

The argument type UriComponentsBuilder should not be used to build requests for the PaginationUtil where the full request path is necessary.

The way I see it, there are 2 options...
1. Refactor the generator to no longer

[2019-05-07 17:25] arjunnayak opened #9692 "Ability to extend the app sub-generator in blueprints"
##### **Overview of the feature request**

While we can extend majority of the sub-generators in a blueprint, it would be great to have the option to extend the others, namely the app generator.

##### **Motivation for or Use Case**

In the interest of developer experience at our company, we're trying to simplify as much of the blueprint process as possible. In our case, this involves making modif

[2019-05-07 17:26] pascalgrimaud commented on #9690
Can you have a look at this file ?
https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/web/util/PaginationUtil.java

If you can help to fix this, PR are welcome !

[2019-05-07 17:27] jdubois commented on #9690
Yes that was changed recently - if you can do a "git blame" I believe the author will help.

[2019-05-07 17:46] pascalgrimaud commented on #9685
In the team, we have no possibility to test and maintain this sub generator, as AWS doesn't sponsor us.

@kr0 : so feel free to analyze the error and submit the fix with a PR.

If no one want to do it, I'll suggest to remove this sub generator, as it is useless to keep something broken for long time.

[2019-05-07 17:47] standors opened #9693 "maven plugin: Liquibase diff fails"
##### **Overview of the issue**

Maven liquibase diff command fails
Configuration appended here is with entities from jdl inmport, but this happens also with Just plain monolith project generated without entities.

##### **Motivation for or Use Case**

Maven liquibase diff fails

##### **Reproduce the error**

1. generate new src with jhipster generator "jhipsterVersion": "6.0.0"
2. run command:
m

[2019-05-07 18:09] standors opened #9694 "React UI: enum values incorrectly displayed as "[object Object]""
##### **Overview of the issue**

React UI: entity enum values incorrectly displayed as "[object Object]"
 instead of enum value as is defined in JDL file.
The same is if you click enum field and drop down list contains all items with the same values: "[object Object]"
"[object Object]"
....
"[object Object]"

##### **Motivation for or Use Case**

##### **Reproduce the error**

1. generate new src

[2019-05-07 18:12] DanielFran commented on #9690
See #https://github.com/jhipster/generator-jhipster/pull/9379

@cbornet Can you check this please?

[2019-05-07 18:23] ruddell commented on #9683
Do you have the backend started? From the reproduction instructions, I don't see you running `./mvnw` or `./gradlew`

[2019-05-07 18:45] kr0 commented on #9685
Ok, I'll look into it. For the record, I tried various lts node releases as well. My hunch is that it is related to a missing / somewhere. Will report back if anything. Also, deployment using boxfuse seems to work at the moment.

[2019-05-07 18:46] jdubois commented on #9685
This was done by the Ippon team in Australia, @pascalgrimaud could you contact them? I had the same concern when I merged it, but they told me they would maintain it.
Otherwise yes let's remove this.

[2019-05-07 18:47] pascalgrimaud commented on #9685
Ok, I'll try to find maintainers at Ippon
Thanks for your help @kr0

[2019-05-07 19:19] trixprod commented on #9677
Moreover using "RUN adduser -D -s /bin/sh jhipster" with openjdk:11-jre-slim-stretch is broken.

[code]

Please, can we get an upgrade for jenkins ci-cd to generate jib build and deploy docker image.

[2019-05-07 19:23] pmverma commented on #9693
@standors Because liquibase is using `[INFO] HHH000412: Hibernate Core {5.0.10.Final}` by default there was a chance that `PostgreSQL95Dialect` has not been added in the old version.
Upgrading to newer version fixes this issue.