[2019-02-08 11:48] #8994 closed

[2019-02-08 12:44] Entrecampos commented on #9219
No they are not real data, so I din't change yet the default pwd, so you can test it better. Do you think if optimise my build for production would be faster?

[2019-02-08 12:59] atomfrede commented on #9219
The optimised production build is much much smaller. Now the bundle is 17(!) MB. And in the latest version we should have lazy loading for entities. If you are brave enough try the vue.js blueprint currently in beta.

[2019-02-08 13:04] Entrecampos commented on #9219
Thanks @atomfrede.
Until now I was just trying Jhipster for (generating the database and use the crud API, and some extra that I build) to implement an Ionic 3/Jhipster that is already installed in my android. And other person was doing the portal in php. Now there is an idea of doing only in jhipster the Portal. but when I saw so slow ... I was not sure if it was a good option. I am brave :-) Wha

[2019-02-08 13:10] sahbi-ktifa commented on #9203
Hello @Lakshamana,

I've looked at your JDL file and found out that the process hanging was Swagger (the library Springfox here in fact). It seems it took ages to introspect all classes. You can disable this profile in your application-dev.yml, your app should be up pretty quickly as expected.

<img width="1405" alt="capture d ecran 2019-02-08 a 13 55 43" src="https://user-images.githubusercontent

[2019-02-08 13:13] sahbi-ktifa commented on #9219
This is the one. Just follow up the guidelines there and you should have much better performances even using dev mode.

[2019-02-08 13:17] Entrecampos commented on #9219
Thanks a lot @sahbi-ktifa & @atomfrede. Vue seems great!

[2019-02-08 13:49] gmarziou commented on #9219
@Entrecampos if you're building an API backend in JHipster for an Ionic mobile app then the time to load the web app is not relevant at all because it will call /api and will not download the frontend part (HTML/CSS/JS)

[2019-02-08 13:51] Entrecampos commented on #9219
Thanks @gmarziou. Yes until now was not important. But now maybe they want me also to build the portal instead of php that other person was developing. And I am deciding between vue or Ionic PWA. Any suggestions?

[2019-02-08 13:54] gmarziou commented on #9219
As others said, prod build will be much faster whatever framework you use (Angular, React or Vue) and don't forget also that the browser caches everything on first load.

[2019-02-08 14:01] gmarziou commented on #9219
It depends on whether you want to keep the UI generated by JHipster or not, it could work for an administration portal and you could build an end user web app or mobile app from scratch just using the API exposed by JHipster.

[2019-02-08 14:08] gmarziou commented on #9203
But Springfox is supposed to run asynchronously, how can it block the app?

[2019-02-08 14:14] gmarziou commented on #9219
As a side note, I saw "If the mail server is not yet instaled, you can see the link to change password in /opt/tomcat/logs/catalina.out", any reason why you deploy in Tomcat? This is so much harder than using the executable war/jar, stackoverflow is full of questions from users who use Tomcat for JHipster apps :)

[2019-02-08 14:23] Entrecampos commented on #9219
Great tip @gmarziou !!!
It has been a hard experience with tomcat.
I was trying also http://35.230.141.174:8070. (no Real Data on it !)
And I also have configure TLS.
I installed Nginx. And try to figure out how to do it.
All suggestions in this area are very welcome, because don't know much of this stuff :-)

[2019-02-08 14:32] Entrecampos commented on #9219
The client likes the UI generated by JHipster, that why they were thinking replacing the php

[2019-02-08 15:46] gmarziou commented on #9219
Well get rid of Tomcat and use a prod build as an executable war.

[2019-02-08 16:10] avdev4j opened #9223 "Handling 'scope' in blueprint names"
##### **Overview of the issue**
Hello !
You probably know that Jhipster blueprints have a normalized name: generator-jhipster-*
For some reason we sometimes need to add a scope to our packages and named them like this `@hipsterCompany/generator-jhipster-myRedPrint`.

It actually not possible because the blueprint name is normalized by JHipster.
The pros is that when you're generating a new project

[2019-02-08 16:25] jdubois commented on #9203
Springfox is notoriously slow if you have a lot of entities, this is why I put a log message specifically for this, when it's taking too much time, don't you have it in your logs?

[2019-02-08 16:28] Lakshamana commented on #9203
So, @sahbi-ktifa, Thank you (VERY MUCH!) for you hint. I just comment out swagger at spring.profiles.include at application-dev.yml and that did the trick!

Regards.

[2019-02-08 16:33] deepu105 commented on #9223
Actually, as long as we are using Yeoman underneath we would have to stick to yeoman naming which doesn't support this as well AFAIK

[2019-02-08 16:33] #9223 closed

[2019-02-08 16:39] Lakshamana commented on #9203
But my ask now is: how can I generate documentation for my API, considering this issue? Is there a way to run swagger independently out of backend context?

[2019-02-08 16:45] avdev4j commented on #9223
After a little research I found this :
[https://github.com/yeoman/generator-node/issues/272](https://github.com/yeoman/generator-node/issues/272)

It seems to be managed since the [v2.4.0](https://github.com/yeoman/generator-node/releases/tag/v2.4.0)

Unfortunately we are on 2.0.5 version

[2019-02-08 17:38] ruddell commented on #9137
I guess it's more of a Java bean standard.  I'm not sure where I would add a small note to the docs, if someone else wants to, please do.

I'll close this for now as we have an explanation for the cause and a workaround.

[2019-02-08 17:38] #9137 closed

[2019-02-08 18:05] avdev4j commented on #9211
I close this issue, the PR has just been merge to both v5 and master ! Thanks to @murdos

[2019-02-08 18:05] #9211 closed

[2019-02-08 19:00] gmarziou commented on #9203
So I checked in jhipster-framework and I was wrong it's not started asynchronously, maybe it could be run the same way as we do for Liquibase?

[2019-02-08 19:09] sahbi-ktifa commented on #9203
That would be a proper solution indeed!

[2019-02-08 19:19] ruddell commented on #9221
When accessing the API using OAuth2 (Keycloak/Okta), by default you have to use cookies. Also when using cookies, XSRF protection is enabled.  This means you have to send an XSRF-Token with each PUT/POST request (extracted from cookie, added to header).

If you prefer to use an `Authorization` token header with OAuth2, you can enable that by adding a [ResourceServerConfiguration](https://github.co

[2019-02-08 19:23] drez769 opened #9225 "JDL generates bad json"
##### **Overview of the issue**

`jhipster import-jdl` command generates bad json and .java file for entities. This started happening after upgrading from JHipster ~v5.4.2 to 5.8+.
The JDL I used is:
[code]

**I noticed this isn't the same as what `jhipster info` shows below**

The resulting Child.json file has this block with incorrect otherEntityRelationshipName with parenthesis:

[code]

which

[2019-02-08 19:48] MathieuAA commented on #9225
Hi, there are some fixes that have been implemented recently. I'm gonna check everything's good this week-end.Le 8 févr. 2019 20:23, drez769 <notifications@github.com> a écrit :For bug reports it is mandatory to run the command jhipster info in your project's root folder, and paste the result here.
Overview of the issue
jhipster import-jdl command generates bad json and .java file for entities. Th

[2019-02-08 20:00] drez769 commented on #9225
Thanks, I think I narrowed it down a bit more. It seems to be a bug with the **second set of parenthesis** in a relationship, ie the **problem** string in:
[code]

[2019-02-08 20:21] MathieuAA commented on #9225
Indeed. I'm rewriting the JDL conversion right now for relationships to cover these cases that have been buggy latelyLe 8 févr. 2019 21:00, drez769 <notifications@github.com> a écrit :Thanks, I think I narrowed it down a bit more. It seems to be a bug with the second set of parenthesis in a relationship, ie the problem string in:
relationship OneToMany {
	A{b(name)} to B{a(problem)}
}

—You are re

[2019-02-08 23:47] Hubbitus commented on #4251
And what?
@stevehouel, as I [can see|https://libraries.io/github/stevehouel/jhipster-sample-app-graphql] you have tried do demo project. What end of it?

[2019-02-09 00:57] DanielFran commented on #9195
@Dufgui @clement26695 PR in jhipster lib has been merged.
Please confirm if it can be closed?
Thanks

[2019-02-09 02:04] yelhouti commented on #9120
@PierreBesson Unfortunately, they will be too much useless code generated in the frontend and backend, for user/role management, what I could do on the other hand, is make the UAA code easier to switch to another Idp and have a script/blueprint/module that removes/changes all the unusable code.

[2019-02-09 06:58] Dufgui commented on #9195
yes it can

On Sat, Feb 9, 2019 at 1:58 AM Daniel Franco <notifications@github.com>
wrote:

[2019-02-09 08:04] #9195 closed

[2019-02-09 08:33] pvliss commented on #9198
@pascalgrimaud So I just had another look at this and did a few more tests as it will take a while for 6.x  with SB 2.1 to be released.

Any of the following solutions will work for 5.x:
1. Modify entity generator to and move Jackson annotations from fields to the getters and they will be picked up by Jackson by defaut. Actually Jackson currently works with the getters/setters instead of the the f

[2019-02-09 08:39] pascalgrimaud commented on #9198
I think we should focus on v6 with SB2.1
Don't push too much effort on code which will be outdated in few weeks.

As you mentionned different solutions here, the end-user can already manually apply it.

[2019-02-09 08:40] pascalgrimaud commented on #9198
And thanks again for all your last contributions and help to the projects, @pvliss

[2019-02-09 09:04] pvliss commented on #9198
OK, cool

You are welcome and sorry for the issues caused with jdl import

[2019-02-09 09:13] MathieuAA opened #9228 "Useless entity JSON attribute: otherEntityRelationshipNameUndefined"
After looking at the code from the entity generation process, I've noticed a potentially useless and **exported** attribute in the JSON: `otherEntityRelationshipNameUndefined`.
It's not used anywhere but in the `gen/entity/index.js` file.

This is just a warning, there doesn't seem to be any real issue about it for the moment, but this has to go in the next generator release. I'm willing to do a P

[2019-02-09 09:29] PierreBesson commented on #9228
It looks like a bug related to string concatenation with an undefined value. Maybe on this line : https://github.com/jhipster/generator-jhipster/blob/ba65282ee12f5a70129b0df02827487d51a7ae03/generators/generator-base-private.js#L919

[2019-02-09 09:31] pvliss commented on #9228
@MathieuAA I introduced that attribute in https://github.com/jhipster/generator-jhipster/commit/a72c3c8c5f2688a264e83f968bda11f49012d532 and the reason was to always have the proper `otherEntityRelationshipName` defined as it is needed for the Kotlin blueprint. Other than that it is indeed useless. If I remember correctly the problem was that if `otherEntityRelationshipName` was not defined  and g

[2019-02-09 09:38] MathieuAA commented on #9228
@PierreBesson It's certainly related, yes. It looks like an attempt to reduce code redundancy, and this doesn't happen in JCore because we've made it "redundant" for some relationship types for this kind of cases.
@pvliss if it's only needed in the kotlin blueprint, then there must be a better way to handle it (I don't have one right now, but I'll think of something)

I'm working on cleaning up re

[2019-02-09 09:47] pvliss commented on #9228
Thanks!!! Highly appreciated and once more I am sorry for the latest JDL import issues caused. Let me know if you need any help, testing, etc.

[2019-02-09 09:49] MathieuAA commented on #9228
Don't worry, failing by trying is not an issue: quite the opposite. So I think you shouldn't be sorry about anything :)

[2019-02-09 09:50] pvliss commented on #9228
Thanks, you are too kind!!! I should have added more tests to begin with...

[2019-02-09 09:51] pvliss commented on #9228
But another lesson learned, I guess :smile:

[2019-02-09 10:11] pascalgrimaud commented on #9135
let's close this.
Don't hesitate to comment if you still have the issue

[2019-02-09 10:11] #9135 closed

[2019-02-09 10:46] MathieuAA commented on #9225
I'm gonna do a release to close this one.

[2019-02-09 11:33] deepu105 commented on #9203
@Lakshamana normally you have documentation during dev and turn it off in prod, unless your project is actually providing public APIs to other developers or customers, in that case, you could have swagger on prod as well. But if swagger is causing your app to not start then I suggest you wait for the issue to be fixed in springfox(https://github.com/springfox/springfox/issues/806) or use a compile

[2019-02-09 11:34] #9225 closed

[2019-02-09 11:49] deepu105 commented on #9192
personally, I'm happy the way it is now and we have too much on our plate to concentrate on this and thats why I'm closing this but @cremich @PierreBesson if you guys want to change it its fine go ahead and do a PR directly

[2019-02-09 11:49] #9192 closed

[2019-02-09 11:50] deepu105 commented on #9165
@PierreBesson will it be possible to target this for v6?

[2019-02-09 11:57] pascalgrimaud commented on #9203
Different things to try:
- upgrade lib
- start asynchronously

And we can document it better

[2019-02-09 11:59] PierreBesson commented on #9165
Yes it was on my plan to give this task to one of the new interns that are arriving next week at Ippon 😉.

[2019-02-09 12:02] PierreBesson commented on #9209
Basically the PaginationUtils class should be moved to JHipster framework and removed from the generated code.

[2019-02-09 12:21] jdubois commented on #9209
Yes it should go to the framework, it implements an RFC so there's little need to customize it.
I recently went to a French bank and in their internal GitHub they had 100+ copies of it...

[2019-02-09 12:27] #8683 closed

[2019-02-09 14:05] jaydeep-punjani commented on #9221
Thanks @ruddell that worked. Cheers!

[2019-02-09 14:18] murdos commented on #8822
Yes, I plan to work on it.

[2019-02-09 16:25] #9118 closed

[2019-02-09 17:57] kbaati commented on #7429
Hi,
@jdubois  when you said "You will have more things to code" in the seconds solution, what's  mean?
I must code what?and where?
thank

[2019-02-09 20:22] jdubois commented on #7429
You will need to migrate your database schema, and more importantly your data, all by hand.
That's a complex and error-prone task.
Also, if you work in a team you will need to tell your coworkers to update their database manually when they pull your new code.
For all this, I feel it's easier to use Liquibase than doing stuff by hand, but then JHipster is just here to help by pushing a solution, an

[2019-02-09 21:25] kbaati commented on #7429
Thank you for your response;
I forgot to mention that I use this commande
`jhipster import-jdl dataBase.jdl`
to add a field.
So all data are correctly and automatically generated.
and after that i generated a changelog with `mvnw liquibase:diff` .
it's for that I don't see what i must do more ( i update my database(mysql))

[2019-02-10 10:27] pvliss opened #9232 "Blueprint issues"
##### **Overview of the issue**

So I am trying to add mocha unit tests for the Kotlin blueprint and I have stumbled upon the following problems while working with the `entity` generator:
1. Options are not propagated to the blueprint sub-generator. So for example the test `with angular suffix` of the`entity-spec.js` is failing as the `angular-suffix` option is passed to the blueprint.
2. Defining

[2019-02-10 15:30] avdev4j opened #9234 "Add React CSS needle API"
##### **Overview of the feature request**
With my last work on needles API I improved the CSS methods in the public API to support both react and angular.
In fact they don't have the same css filenames and we need to handle different files if we are dealing with one or the other. I choosed `this.clientFramework` to know what framework is selected.

BUT I figured out that we can trust `this.clientF

[2019-02-10 16:36] clakech opened #9237 "JHipster gae works only if database is named "jhipster""
##### **Overview of the issue**

If you follow jhipster gae documentation you will face a 404 error on database creation if you call your db with name different from 'jhipster'. If you use "jhipster" as database name, then it works fine

[code]
##### **Motivation for or Use Case**

The jhipster gae generator ask for a database name, but in its code, seems like the name used to check if the databas

[2019-02-10 16:45] clakech commented on #9237
Here is the original PR/commit https://github.com/jhipster/generator-jhipster/pull/7765 and https://github.com/saturnism/generator-jhipster/commit/44419fa4adfd275ad015b66740c693fb7d4a6949#diff-db6b3ff2520083c61a939019cc621219R547

[2019-02-10 16:46] clakech commented on #9237
Ping @saturnism https://www.youtube.com/watch?v=ngORmvyvAaI :)

[2019-02-10 16:47] #9209 closed

[2019-02-10 17:41] clakech commented on #9237
For clarification here is a quick and dirty "fix" https://github.com/jhipster/generator-jhipster/pull/9238

[2019-02-10 18:34] srinivasa-vasu commented on #9172
@kdejaeger I tried the jhipster application 2.1.x branch. I tried through Spring abstraction local cache (local-app-data) for a 5ms lifespan. It's behaving as expected. Every time when I accessed same cache (after letting to expire 5ms+), it retrieved from the actual source. I didn't add the listeners per say as I could verify it through code flow as well as through jconsole. I am not sure what co

[2019-02-10 18:52] kdejaeger commented on #9172
That's great news. Tnx a lot for verifying. I tried this as well from source but npm link did not work and I have up. My app is has exactly the same cache config as JHipster. So that means I have to dig a bit further.

[2019-02-10 19:13] #9237 closed

[2019-02-10 19:31] pascalgrimaud commented on #9232
@pvliss : for your information:
- https://github.com/jhipster/generator-jhipster-blueprint/issues/10#issuecomment-431983686
- https://github.com/jhipster/generator-jhipster-blueprint/pull/13

In fact, it seems to be difficult to write `npm test` for entity sub generator.
Our current tests for entities are bad:
- https://github.com/jhipster/generator-jhipster/blob/master/test/entity.spec.js

[2019-02-11 07:24] jaydeep-punjani commented on #9175
Hi @cbornet I can confirm, that after manually selecting the dev profile in eclipse. It works. But we didn't need to do this step previously, anything has changed?

[2019-02-11 07:29] jaydeep-punjani commented on #9175
@pmverma @cbornet on more observation related to this issue is, this does not occur when importing a freshly generated app and only happens after running jdl-import.

[2019-02-11 08:26] pvliss commented on #9232
Thanks for the extra info @pascalgrimaud!!!

So it seems that others are having similar issues as well. I actually got them working for the Kotlin blueprint. See here: https://github.com/pvliss/jhipster-kotlin/tree/mocha-tests/test.
Of course I executed them locally after making the changes suggested in my original comment

Well in addition the problems already discussed I see that currently you c

[2019-02-11 11:04] kdejaeger commented on #9172
I digged some more and finally found my _mistake_. I had configured the @Cacheable annotations on the interface class. By moving the @Cacheable annotations to the implementation of the class, they expire like configured.

[2019-02-11 11:04] #9172 closed

[2019-02-11 15:30] PierreBesson commented on #9120
@yelhouti This sounds like a plan as long as @xetys is OK with it. Note that we do already have a --skip-user-management flag but I'm not sure if it's applicable in this case.

[2019-02-11 16:10] ChrisLeeBare opened #9246 "CompileError when using DTO with mapstruct"
##### **Overview of the issue**

I used jdl to generate a microservice stack and I need to use DTOs with mapstruct (Later I need to hide and manipulate some fields of my entities if these entities are requested via REST API). When I compile my microservice I'll get an build error:

[code]

My JDL File:
[code]

##### **Motivation for or Use Case**

Created a JDL to define my microservice stack.
And

[2019-02-12 03:44] yelhouti commented on #9120
@PierreBesson thank for the info, didn't know about that I will try it. @xetys are you ok with this approach?
Thank you guys for your help.

[2019-02-12 04:49] rdegges commented on #9120
Heyo! I saw my name mentioned in this thread, in regards to a suggestion I made to *not* use JWTs for web authentication.

I've covered this extensively in talks I've given, but I just wanted to chime in with one aspect that I didn't see discussed in this thread, but one which I think is probably the most important: if you're using JWTs for web auth, you aren't going to get any stateless benefits.

[2019-02-12 07:03] yelhouti commented on #9120
@rdegges I see we have a fervent defender of cookies here :) . So here is why I disagree and I beleive you get benefits when using JWT:
- In the thread OWASP link you mentioned: "Use the object sessionStorage instead of localStorage if persistent storage is not needed. sessionStorage object is available only to that window/tab until the window is closed."
- As you said, you don't protect yourself

[2019-02-12 08:24] ChrisLeeBare commented on #9246
Some more info:

After I successfully deployed this stack to the cloud, I tried to add a "boemoduleversion" entity.
But I received an internal server error in the UI.
Looked at the logs:
![image](https://user-images.githubusercontent.com/7479364/52621517-c883ae80-2ea7-11e9-8514-5308d0879d9e.png)

[code]

So I think, the mapper depends on the lowercase first letter in the mapping annotations but wi

[2019-02-12 08:42] VinodAnandan commented on #9120
Hi @rdegges,

Thank you for your comments. You are not comparing the correct things, please don't isolate the JWT from the OpenID Connect context.

Also, please consider a highly scalable application with microservices and multiple technology stacks, they need a common language to authenticate and authorize the user request.

XSS has far more abuse cases than just stealing session ID, Tokens, etc.

[2019-02-12 10:30] Brzhk opened #9249 "Renaming of the default profiles"
##### **Overview of the feature request**

I would really enjoy if the profiles could be renamed. For instance, the dev profile could be named "local".
As of prod, i have not yet found a name that gets an unanimous approval here, but  i guess i could make a few suggestions soon.

##### **Motivation for or Use Case**

Very simply put, prod and dev are usual names of the environments you share with

[2019-02-12 11:19] deepu105 commented on #9249
This is not inline with our policy 2 https://www.jhipster.tech/policies/
You can easily edit teh generated code to call the profiles as you see fit

[2019-02-12 11:19] #9249 closed

[2019-02-12 11:50] raminassar87 opened #9250 "Caching Concurrency Strategy (NONSTRICT_READ_WRITE)"
Hello @jdubois ,
I generate a monolithic application by JHipster. but I see that you use the **NONSTRICT_READ_WRITE** strategy for Hibernate **second cache** like the following:

**@Cache(usage = CacheConcurrencyStrategy.NONSTRICT_READ_WRITE)**

but after searching, it seems that this strategy is not recommended byHibernate as the consistency is not guaranteed.

READ_WRITE: This strategy guarantee

[2019-02-12 11:52] Brzhk commented on #9249
I did not say this as an option. I suggested an hardcoded renaming. Therefore policy 2 does not apply.

[2019-02-12 11:56] deshetti opened #9251 "Application with Keycloak throws error signing in when it is started using docker-composer and app.yml"
##### **Overview of the issue**

When selecting Keycloak for authentication, the application when started using docker-compose with app.yml doesn't navigate to keycloak login screen. Keycloak and the Jhipster application starts without any errors when starting, but when we try to login by hitting the signin button on the main menu, it doesn't navigate to they keycloak login screen and throws an er

[2019-02-12 12:25] deshetti commented on #9251
Adding the following entry to /etc/hosts file fixed the issue:
```127.0.0.1	keycloak```

[2019-02-12 12:25] #9251 closed

[2019-02-12 12:58] deepu105 commented on #9249
AFAIK `dev`, `test`, `sit`, `uat`, `prod` are the most commonly used profile names. If you can provide any stats to show otherwise we could consider otherwise I dont think we will change it

[2019-02-12 13:19] PierreBesson commented on #9249
I personally disagree with this naming. What you are calling the "shared dev environment" is actually a staging environment. Indeed "dev" stands for development and we encourage people to do this activity locally on their development machines.

[2019-02-12 13:27] Brzhk commented on #9249
I personally agree to this too, but cant argue when someone tell me 'well,
local is local wether you call it that way or dev, therefore applies to
whatever naming-policy is in effect in [your] company.

I am not going to push it further as it can be fixed internally here. I was
just thinking it would be a simple suggestion to improve your naming policy
by being the less conflicting in any environm

[2019-02-12 13:29] jdubois commented on #9250
For me it's a good compromise for performance vs consistency, at least for read-mostly applications (which is the majority of applications, but obviously not all applications).

You can have more information at:

https://vladmihalcea.com/how-does-hibernate-nonstrict_read_write-cacheconcurrencystrategy-work/
https://vladmihalcea.com/how-does-hibernate-read_write-cacheconcurrencystrategy-work/

I al

[2019-02-12 13:46] pascalgrimaud commented on #9249
In JHipster, the profiles `dev` and `prod` mean:
- `dev`: optimized for development
- `prod`: optimized for production
That's all. It is not related at all to environment.

But I agree it can confuse people, when they want to start the application in real environment, like `int`, `uat`, etc. It's hard to satisfy all people, as it depends on how you deploy and customize the properties:
- uploading

[2019-02-12 14:16] wmarques commented on #8565
I think this is closed we now have a nice pacman during loading 😄
@pascalgrimaud is that ok to close this ?

[2019-02-12 16:48] PierreBesson commented on #9145
On the current master, we use openjdk:11-slim as the base docker image. I believe this will stop receiving updates when jdk12 will be released so I would recommend switching to either `adoptopenjdk/openjdk11:alpine-slim` (242MB) or `gcr.io/distroless/java:11` from google (189MB). @jhipster/developers What do you think ?

[2019-02-12 17:11] patrickHub opened #9255 "Cannot sign in with default admin:admin and user:user after generated Jhipster api gateway"
Here is all the detail on generated api gateway with the  `jhipster info`  command . Please help

`INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the

[2019-02-12 17:29] ruddell commented on #9246
I believe this is related to https://github.com/jhipster/generator-jhipster/issues/9137, but I don't have time right now to test.

Could you try the workaround mentioned in that issue?

[2019-02-12 17:44] gmarziou commented on #9255
Few questions:

- have you started the jhipster registry?
- have you looked at server logs and browser console?
- have you tried re-generating your project with latest JHipster?

Also, "\Jhispter Build and Deploy Spring Boot Microservice\projects" is a very long path and could expose you to errors on Windows.

[2019-02-12 18:00] rdegges commented on #9120
Heyo!

Thanks for all the responses.

@yelhouti:

This scenario was an example. This is more problematic when it relates to authorization (like what is common in OAuth/OIDC with scopes). It's more of a problem when a user authenticates and gets a token that allows them to perform some action, but then that permission is changed or removed.

Then you have a security issue on your hands for the rema

[2019-02-12 18:30] yelhouti commented on #9120
@rdegges I think we can agree that storing the $$$ or anything of that nature in a token is just plain stupid plus this often than by an ACID transaction in db...
Furthermore when you retrieve an access token with a refresh token you permissions are updated, at each refresh = each 10 secs.
Tokens are by default are 10 Secs and revoking a refresh token blocks the IdP from generating a access token

[2019-02-12 18:35] patrickHub commented on #9255
When I started jhipster registry , it discouvert the api gateway with a `status down` I don't know why i get a status down instead of status up. I re-generated one's again but still have the same problem.

[2019-02-12 19:43] pascalgrimaud commented on #9145
So no 'official' image ?
Which one has the most download ?
Which one is the most active ?

[2019-02-12 19:54] PierreBesson commented on #9145
Yes there is an official openjdk11 image from Oracle but support will end in march 2019 even though jdk11 is supposed to be LTS : https://developer.okta.com/blog/2019/01/16/which-java-sdk

[2019-02-12 20:04] gmarziou commented on #9255
What about my 2nd question?

[2019-02-12 20:23] patrickHub commented on #9255
I locked at browser console and i get `not found 404` response after trying to sign in with admin: admin and notihng in server logs

[2019-02-12 21:00] cbornet commented on #9145
The docker openjdk image is based on the Debian package so won't it get updates from Debian ?

[2019-02-12 21:13] PierreBesson commented on #9145
@cbornet it seems that you are right that it is based on the version present in the debian repo https://github.com/docker-library/openjdk/blob/master/11/jdk/slim/Dockerfile
So the openjdk image might be a valid choice after all... It's really a headache, all stemming from the fact that the openjdk project doesn't do it's own distribution which doesn't make any sense to me.

[2019-02-12 22:04] gmarziou commented on #9255
404 for which url and HTTP method? Please give details, copy/paste text or a screenshot.

[2019-02-12 22:05] imphilippesimo commented on #7429
When you update your entities, whatever the mean(by updating your jdl file or using the entity sub-generator directly), make sure to choose **not to overriding** your existing changelog files: as this will cause liquibase to fail as described.

Then, to inform liquibase what changes it needs to apply to your database , generate a changelog file resuming the changes you just did by using `mvnw liqu

[2019-02-12 22:09] patrickHub commented on #9255
POST http://localhost:9000/api/authenticate 404 (Not Found)

[2019-02-12 22:12] pascalgrimaud commented on #9255
You need to provide more information to reproduce:
- how do you start the registry
- how do you start the gateway
- logs error
- screenshot
- etc...

Like this, it is impossible to help.

[2019-02-12 22:18] pascalgrimaud commented on #9232
We didn't answer the questions, as there is an infinite loop when using the entity sub generator. That's why we focus our tests with Travis/Azure for entities.

[2019-02-12 22:29] gmarziou commented on #9255
I took your .yo-rc.json, generated a gateway, started it with `gradlew` and did not have any problem to authenticate on http://localhost:8080

[2019-02-12 22:47] VinodAnandan commented on #9120
Hi @rdegges

I think we have a different point of view on many things.  In some cases, I may be wrong,  if you could answer my following questions, it would be helpful.

- Do you think localized Identity Access Management is more secure than Federated/Centralized Identity **Access** Management? if yes, why?
- Do you think maintaining multiple individual identity stores without a proper security pr

[2019-02-12 22:48] #9255 closed

[2019-02-12 22:49] pascalgrimaud commented on #9255
Let's close this as we can't reproduce

[2019-02-12 22:52] pascalgrimaud commented on #9073
I'm closing this for the following reason:
- JHipster provides notification like this, as example
- the developers should code their pages, adding / removing the notification where they don't want -> simply remove `<jhi-alert></jhi-alert>` : nothing more...
- adding the possibility to display / hide the notification using header, directly to JHipster is overkill
- it seems not to interest people,

[2019-02-12 22:52] #9073 closed

[2019-02-12 22:56] pascalgrimaud commented on #8800
It is an interesting feature but as no one want or have the time to work on this, let's close this.

[2019-02-12 23:03] pascalgrimaud commented on #8565
This enhancement will just help the develop who started the front with `npm start` and not the backend...
It would be cool to have this, but not necessary. That's why I'm closing this.
Let's focus on Spring Boot 2.1, HTML5, Jar, etc.

@fleboulch : I know you worked on it and waited our feedback about the implementation. I'm really sorry we didn't have the time to analyze / answer to you, hope you

[2019-02-12 23:03] #8565 closed

[2019-02-12 23:20] pascalgrimaud commented on #8758
JHipster upgrade is really hard to maintain.
Could you could try with the last release, it should work (I hope).

And reading your last comment, I think it is solved, as you mixte an install with NPM/Yarn.
That's why I'm closing this.

[2019-02-12 23:20] #8758 closed

[2019-02-13 00:06] #9086 closed

[2019-02-13 08:56] ChrisLeeBare commented on #9246
Thank you @ruddell for this hint. Yes, this seems to be releated.
I did two things to verifiy:
- changed my Entityname from BOEModule to BoeModule (including DTOs, Mappers, jhipster Entity json files, ...) manually. And it worked.
- changed my jdl file (BOEModule -> BoeModule) and rebuilt the services and it worked, too.

So technically it is not bug, maybe a hint in the import-jdl procedure would

[2019-02-13 09:24] pascalgrimaud commented on #9246
As mentioned in the other ticket, we could add documentation about that.

[2019-02-13 09:24] #9246 closed

[2019-02-13 09:26] pascalgrimaud commented on #9162
You have different errors here.

I tested it this morning:
- broken in dev profile
- it works well in prod profile

[2019-02-13 12:50] Entrecampos commented on #9219
Yes!!! Not Tomcat & Prod mode ! Quite good the speed :-) thanks @gmarziou !

[2019-02-13 14:23] gmarziou commented on #9219
Great! Did you decide also about which frontend framework?

[2019-02-13 14:35] Entrecampos commented on #9219
Like now is faster and the client still wants lot of changes I will stay for now with 'out of the box' jHipster/ angular :-)

But If I had to choose I would go for Ionic.
And works very well JHipster entity generator for ionic :-)
[https://github.com/oktadeveloper/ionic-jhipster-starter](https://github.com/oktadeveloper/ionic-jhipster-starter)

[2019-02-13 17:14] #9103 closed

[2019-02-13 17:55] pvliss commented on #9232
Thanks for the extra info @pascalgrimaud. I kind of figured it out myself yesterday the hard way, as I was working on some more improvements mainly regarding the first issue mentioned here. Sadly I did not have time to deal with it today at all but will resume soon as I think these issues are critical for the Kotlin blueprint and other blueprints as well.

[2019-02-14 06:49] ruddell opened #9261 "Microservice APIs returning empty response (master)"
##### **Overview of the issue**
Microservice APIs return empty responses (generated with `master` branch).  I'm guessing it affects all Zuul routes since getting the account from the UAA is also broken.

##### **Motivation for or Use Case**
Generate a working microservice architecture

##### **Reproduce the error**
Generate a gateway
Generate a microservice
Generate an entity on the microservice (

[2019-02-14 07:02] pascalgrimaud commented on #9261
@ruddell : maybe not related, but for your information, the last important changes in master are:
- Move client app to classpath:/public -> https://github.com/jhipster/generator-jhipster/pull/9154
- Change the packaging to jar and configure a war profile -> https://github.com/jhipster/generator-jhipster/pull/9034

As I didn't finish yet the Travis/Azure builds with multi applications, we didn't de

[2019-02-14 07:19] ruddell commented on #9261
I can do a `git bisect` tomorrow to find out what caused it if no one knows

[2019-02-14 07:20] pascalgrimaud commented on #9261
If someone can check with dev / prod profile, because I saw different behavior yesterday when testing UAA (but it seems to affect all microservices):
- it's broken with dev profile
- it works for prod profile

[2019-02-14 07:30] pascalgrimaud opened #9263 "React: protractor failed with existing data (master)"
##### **Overview of the issue**

Ping @jdubois @DanielFran

Current master builds are broken.
As Julien said, it's not related to Faker.js, but related to Protractor+React.

For React application, Protractor tests for entities failed if there are already data.
We can't detect it with prod profile, only in dev profile.

The CSRF error in console is another problem, but not related to this one.

###

[2019-02-14 08:30] DanielFran commented on #9263
@pascalgrimaud I validated yesterday and the issue Starter hapening with https://github.com/jhipster/generator-jhipster/pull/9104

[2019-02-14 08:54] pascalgrimaud commented on #9263
The issue didn't start happening since #9104 -> the issue is detected since #9104 :-)
It exists since weeks / months. That means #9104 is not the culprit

To reproduce:
- `git clone https://github.com/jhipster/jhipster-sample-app-react.git`
- it was generated with `v5.8.1`, so before #9104
- launch the application: `./mvnw`
- go into Label, add one entities
- go into terminal, launch: `npm run e2e

[2019-02-14 08:56] DanielFran commented on #9263
Ok, just validated that previous this commit in master all tests were green and no changes in jhipster-bom during that period...

[2019-02-14 09:37] jdubois commented on #9263
Thanks a lot @pascalgrimaud for the analysis, I thought it was linked to the CSRF issue (which is also annoying).
Concerning the data: I did a specific "faker" context in Liquibase so it's easy to remove, then our tests should be more robust, so we should first try to fix this. I have no idea how this works, but I'll have a look.

[2019-02-14 09:40] pascalgrimaud commented on #9263
A very quick fix for our CI, is to use `prod` profile: https://github.com/pascalgrimaud/generator-jhipster/commit/f7a8d478032ba9612740ce8b18671baad2b29ad1

But it will just hide this issue.

[2019-02-14 09:43] jdubois commented on #9263
It's not such a bad fix @pascalgrimaud , as for me the e2e tests should be done in `prod` profile.
Still I'm trying to find the root cause.

[2019-02-14 09:56] pascalgrimaud commented on #9263
Ok, just did a PR with this quick fix

[2019-02-14 10:54] ome89 commented on #6555
I see that the issue is marked 'closed' but I am wondering if it is fixed.

[2019-02-14 10:57] DanielFran commented on #6555
@ome89 The PR https://github.com/jhipster/generator-jhipster/pull/8757 fixes the issue and will be included in next V6 Jhipster release that is comming in next few days.

[2019-02-14 11:02] jdubois commented on #9263
OK I got this, but it's a bit tricky so I'll do the PR in the next few hours.

- The issue is that when there is a list of data, it is not displayed immediately at page load (there is a REST call getting the data, so it takes some time to load)
- As we are counting the number of "delete" buttons to know how much lines there are on the page, we always have "0" as the data isn't loaded yet. So it wo

[2019-02-14 15:39] #9263 closed

[2019-02-14 17:16] ruddell commented on #6555
This should be available in JHipster v5.8.0+

[2019-02-14 19:38] #8462 closed

[2019-02-14 19:57] ruddell commented on #9261
`prod` works, but in `dev` the request never reaches the microservice.

I had trouble using `git bisect` since most commits on the SB 2.1 branch require a special build of `jhipster-dependencies`, but the merge of SB 2.1 is where the issue started c3803e580d442796ff1d00c0fe0924bb77ff1f56. Things work as expected as of the commit just before that ddea0311cd0669546c562c79788008a813b1295c

[2019-02-14 22:10] jaydeep-punjani opened #9268 "Forbidden: Invalid CSRF Token 'null' was found on the request parameter '_csrf' or header 'X-XSRF-TOKEN'"
##### **Overview of the issue**
Getting Forbidden: Invalid CSRF Token 'null' was found on the request parameter '_csrf' or header 'X-XSRF-TOKEN' on POST when using OAuth 2.0 with Okta.
Note : I'm using this with Google Actions dialogFlowWebook, which does a POST request to one of my endpoints on /api/dialogFlowWebook

##### **Motivation for or Use Case**
To be able to do POST actions on /api/** an

[2019-02-14 23:01] DanielFran commented on #8805
@Fydon We will launch V6 soon... Do you plan to make the changes to be included in few days?

[2019-02-15 08:03] Fydon commented on #8805
@DanielFran I'll try to submit a pull request this weekend for review. I've build some Powershell scripts so that I can review the impact that YAML formatting will have and correct any issues. I'm not sure how best to build tests to ensure that future changes won't result in issues.

[2019-02-15 08:14] pascalgrimaud commented on #9261
Finally got it !
The problem comes from this file: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/lazy/LazyInitBeanFactoryPostProcessor.java.ejs

If I disable it for `dev`, it works.
Ping @jdubois as you coded this file. Can you help us on this ticket ?

[2019-02-15 09:17] jdubois commented on #9261
Thanks a lot @pascalgrimaud !!
This bean is "trick" to improve startup performance by lazy-loading all beans. I know this isn't really clean, that's why this is only in `dev` mode.

I'm guessing there's one bean that doesn't like this. It's possible with this technique to force a bean to be loaded, I'm going to look into that.

I know it's an unsafe way to start the application, then it really giv

[2019-02-15 09:41] pascalgrimaud commented on #9261
I think there are some different beans for microservices, and indeed we need to analyze them to know the root cause.
I agree, let's try to keep this file as it will increase the performance at startup, so improve the dev experience!

[2019-02-15 10:21] khaoulaBenAtitallah commented on #2383
bonjour
est ce que je peut utilise jhiphser avec heritage !!!!

[2019-02-15 10:21] jdubois commented on #9261
I'm sorry I can't reproduce.... I did this with JWT as you have JWT in the `.yo-rc.json` in the original comment, but then you are speaking of UAA -> is it only with UAA?

By the way, now that Faker.js support is merged, you'll automatically have 10 values in dev mode, so it should definitely not be empty.

[2019-02-15 10:25] jdubois commented on #2383
@kaidohallik English please, you should follow the project guidelines and CoC.

You can do inheritance but you need to refactor the code yourself. Once again, I would not recommend this with Hibernate, but if you have good use case then you probably know there are 3 ways to do inheritance, so that's up to you to refactor your code (and that's very easy) to use the best solution according to your d

[2019-02-15 10:32] pascalgrimaud commented on #9261
My gateway:

[code]

My microservice:
[code]

Entities for my micro:

[code]

[2019-02-15 10:38] pascalgrimaud commented on #9261
I followed @ruddell's comment:

- Generate a gateway
- Generate a microservice
- (not needed -> Generate an entity on the microservice (then on gateway))
- Start registry, gateway, microservice
- Attempt to access to Swagger API of microservice

[2019-02-15 12:11] mistvan-perform commented on #2956
How did you resolve this @marcinkunert please ? Did you try deploy onto heroku?

[2019-02-15 12:46] marcinkunert commented on #2956
@mistvan-perform I don't remember what was the reason. I'm no longer using it this way. Now my setup involves nginx which routes the traffic to node for SSR and backend. I've also never deployed it to heroku.

[2019-02-15 16:23] breglerj opened #9272 "Feature request: support for SAP HANA"
* **Overview of the request**

I'd like to enhance JHipster to support SAP HANA as a database type when creating an application.

* **Motivation for or Use Case**

Recently I've been adding support for SAP HANA to several open source projects like Hibernate, Spring, Liquibase, and others, and I'd like JHipster to support SAP HANA as a database as well.

* **Browsers and Operating System**

n/a

*

[2019-02-15 16:23] #9272 closed

[2019-02-15 16:44] jdubois commented on #9272
The issue with something like SAP Hana is that we usually need about 1,000 users to get 1 contributor to the project, so I already know that:

- We won't have enough contributors to maintain the integration
- We won't have the licenses or hardware to test it and maintain it ourselves

It's sad, I have several customers who spend millions on SAP, including SAP Hana (I saw the invoices!!), but they

[2019-02-15 22:24] DanielFran commented on #9263
@jdubois Sometimes react tests are still failing...

[2019-02-15 22:30] rdegges commented on #9120
Hi @VinodAnandan. I'll answer your questions inline.

No. There's nothing wrong with centralizing or federating identity/access management. The only insecure parts are the ones I've mentioned, e.g., using local validation only. You can do federated IAM without local validation.

I'm not really sure what you mean here by individual identity stores without security protection... Obviously, if whatev

[2019-02-15 23:56] jason1gh commented on #9107
@PierreBesson: Thanks for the suggestion.

With the latest image, without volume mounted, the command run successfully.

With volume mounted, the mounted volume owned by root, if attach to the container as user jhipster, command jhipster won't run as it could not create any file/folder. Attach to the container as root can run commands jhipster and mvnw package successfully.

[2019-02-16 02:33] lmbai commented on #9162
@diegobs2
for the gateway, you configured the registry . but for the uaa, you missed the registry config.
can you add the following for the uaa-app?  i believe this is the reason why the uaa is not register in the registry.
[code]

[2019-02-16 04:33] ruddell commented on #9261
The bean name and definition that we need to exclude is:

[code]

[2019-02-16 05:31] yelhouti commented on #9120
@rdegges this is the second time you mention this point:

And I really don't understand why you are trying to make it, obviously you must know how revocation works, and it being centralized with OIdC doesn't impact performance. When a refresh token is revoked it can't be used again to retrieve an access token and in the same time, you remove all communication between the IdP and all the SPs. So wh

[2019-02-16 06:21] lmbai commented on #9162
@diegobs2 , for the docker-compose file, you can use `jhipster docker-compose` to generate a tempate
here i create a sample based on the v5.7.2 [issue9612-jh_v572](https://github.com/lmbai/jhipster-playground/tree/master/issues/issue9612/issue9612-jh_v572)

@pascalgrimaud i checked this and generate serveral projects based the jhipster `v5.7.2` and `v5.8.1`

---v572
---v581

- build the gateway in

[2019-02-16 06:40] pascalgrimaud commented on #9162
@lmbai : it is probably related to https://github.com/jhipster/generator-jhipster/issues/9261

[2019-02-16 07:50] lmbai commented on #9162
@pascalgrimaud it is possible。
 During the test： run in dev profile, it start up smoothly. when i login, first 2 times, there is a Zuul exception, but the third time, it works.
It may related to to the 9261. I didn't read the detail. did the bug only related when use UAA ?

[2019-02-16 08:06] lmbai commented on #9162
@pascalgrimaud  No, it is not related, the `lazy` logic was introduced recently. we havn't release it yet. it is not in v5.8.1 or v5.7.2.

for this ticket, i don't think it is related.

[2019-02-16 16:44] mraible commented on #9120
@yelhouti I would prefer to see this as a module first. That way, you can just support the features you’d like to without needing to make it work for React and Vue too.

If your module becomes popular, we can merge it into the main generator. This also allows you to develop and release improvements at your own pace.

[2019-02-16 17:17] ruddell commented on #9268
@jaydeep-punjani You can modify your security configuration to disable CSRF for Google's requests.  The config linked in your other issue checks for the Authorization header, I'm guessing you can either check for a Google-specific header or disable CSRF on your custom Google webhook endpoint.

As this isn't a bug or issue with JHipster, I'm closing this.  Please use StackOverflow or Gitter in the

[2019-02-16 17:17] #9268 closed

[2019-02-16 17:28] VinodAnandan commented on #9120
Hi @rdegges ,

I really appreciate your reply. I am definitely interested to continue the conversation. If you prefer a private communication, you may contact me at vinod@owasp.org

Do you agree that we use the session as a way to identify a user as HTTP/s is a stateless protocol?

Is there any centralized session management technology which takes care of integration with multiple technologies in

[2019-02-16 20:44] mraible opened #9276 "Upgrade Spring Security's OIDC Support"
### Overview of the feature request

Spring Security 5.1 and (native with Spring Boot 2.1) has a new way to configure OAuth 2.0 Login. Rather than using `@EnableOAuth2Ssso`, it's a regular part of the web security configuration. This issue is to track that upgrade progress.

- [x] Create monolith example using Spring Security 5.1's OIDC Support
- [x] Create microservices example using Spring Secur

[2019-02-17 04:33] jaydeep-punjani commented on #9268
Thanks @ruddel, ignoringAntMatcher on the csrf, for Google API did the trick.

[2019-02-17 04:57] ganeshkrishnan1 commented on #8942
I have added a @Secured("ROLE_ADMIN") to my  UserResource controller.

Also you can switch off all default controllers with @ConditionalOnProperty

[2019-02-17 06:05] yelhouti commented on #9120
@mraible I just check the changes you made to support OIdC with spring security 5.1 and remebered why the validation MUST be done server side and this is according to the [OIdC Spec](https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation) (different from OAuth2 Spec).
I would like to avoid mentioning here again why we have a security issue in JHipster, and why the only way to solv

[2019-02-17 06:08] yelhouti commented on #9276
@mraible this implementation has security issues, please let's fix them before moving forward.

[2019-02-17 06:25] yelhouti commented on #9120
@rdegges Do you see why your suggesting to utilize an endpoint to verifiy OIdC tokens (Not OAuth2 token) is insecure? And why we need to use OIdC instead of OAuth2?

[2019-02-17 10:40] Tcharl opened #9279 "Use Builders for DTOs"
##### **Overview of the feature request**

Mapstruct 1.3.0 is out, so it means that we may use its new builder capability and Immutable.io as the default DTO implementation.

##### **Motivation for or Use Case**

DTO's definition is to be Immutable. also, builder pattern style is better than mutable POJOs. Also, we could trash the fluent style for DTO as builders is nearly the same.

##### **Relat

[2019-02-17 10:48] Tcharl opened #9280 "Add Redis support for Spring cache abstraction"
##### **Overview of the feature request**

I have a strong incentive of adding Redis support to JHipster (we have a Prod project on PCF which absolutely need it in the next weeks), however, would you prefer it in the main gen, module or blueprint?

Side question: I noticed JH doesn't generate `@Cacheable`, `@Cacheput` and so on for CRUD: I may also add support for these annotation (but it's a mid

[2019-02-17 11:48] pascalgrimaud commented on #9280
I vote for module

[2019-02-17 13:17] gmarziou commented on #9279
I have read both [MapStruct doc about builders](http://mapstruct.org/documentation/dev/reference/html/#mapping-with-builders) and [Immutables builders doc](https://immutables.github.io/factory.html) and I still don't understand which difficult problem they solve.

I'm afraid this could make JHipster's learning curve stiffer by requiring users to read 70 + 30 pages of docs to avoid writing simple b

[2019-02-17 15:55] mraible commented on #9276
@yelhouti Please provide a pull request to this PR’s branch with your suggested changes. I’ll be happy to review your fixes. Saying there’s issues without providing a fix doesn’t help me.

[2019-02-17 16:27] pvliss opened #9282 "Failing CI Azure build for react"
##### **Overview of the issue**
The `react-noi18n-es-ws-gradle-session` sample is failing at Azure Pipelines

So I spent a few hours today to find the cause of this problem as I feel uncomfortable submitting PRs and see builds failing :)

The problem seems to be caused by commit bda31032 (Migrate PaginationUtil and HeaderUtil to jhipster/jhipster-framework ). Reverting it seems to pass the CI agai

[2019-02-17 17:22] yelhouti commented on #9276
Sorry @mraible I forgot to delete this comment, and in order to put everything in the long issue we already have.
The main issue here is that OIdC is used the some way you would with OAuth2 Authorization flow, on the other hand the [spec](https://openid.net/specs/openid-connect-core-1_0.html#TokenResponseValidation) clearly says that after validating the token the same way you would with OAuth2 (s

[2019-02-17 18:49] mraible commented on #9276
Do you think Spring Security should handle this? It seems strange to push this validation onto a developer using Spring Security.

[2019-02-17 18:58] mraible commented on #9276
We could use the Okta Spring Boot starter. AFAIK, it does audience validation.

[2019-02-17 19:14] yelhouti commented on #9276
@mraible Spring security handles audience validation, please check in this [commit](https://github.com/elhoutico/jhipster-keycloak-stateless/commit/fb548ffe9823235a95349aa28d94f7b18c80cb03#diff-7f34b55922eab7ed8401b219110633da), in my demo jhipster app using stateless Keycloak/Okta .

And we really shouldn't use the Okta starter since some people use keycloak or even another IdP.

[2019-02-17 22:38] Tcharl commented on #9279
It just leads to immutable classes with less code than doing the builder pattern by hand: not much added value as you said, but it enforces to follow the good architectural patterns rules.

Following that reasoning, the learning curve is also higher when we do mappers with MapStruct instead of simply using setters and getters. Idem with some typescript sugar: it's hard for beginners to understand

[2019-02-17 22:44] #8482 closed

[2019-02-17 23:13] mraible commented on #9276
Are you sure audience validation is necessary when using oauth2Login()? This issue, and your example code, only seems to apply to resource servers.

https://github.com/spring-projects/spring-security/issues/5226

JHipster doesn’t ship with a resource server by default. I’m happy to try it, just not sure that it’ll be used.

[2019-02-17 23:17] yelhouti opened #9284 "Helper to override specific files using blueprint"
##### **Overview of the feature request**

The purpose of this changes is to make it easier for developers not very familiar with the source code to override templates without changing any other file.

This could be implemented by overriding the function `fetchFromInstalledJHipster`
in all subgenarors ex: `module.exports = class extends EntityClientGenerator {` and make it fetch locally in the blu

[2019-02-17 23:29] yelhouti commented on #9276
@mraible you are right this won't be used if added to your code since your are using the authorization flow with a private client and therefore (as I said earlier) one could say that there is now need to check the `aud` claim. But again, the spec (as I understand it, and I might be missing something here) says that validation of tokens should be done locally, and therefore the current implementati

[2019-02-18 08:42] VinodAnandan commented on #9276
The `aud `check/implementation can help to reduce attacks where  an attacker can reuse tokens that are
intended to be used on a different client.

Example: An attacker reused the Facebook video uploader token for Facebook mobile application.

[2019-02-18 09:04] yelhouti commented on #9276
@VinodAnandan is right, but it mainly protects against malicious clients using token their received from user in other clients. This is why OAuth2 (not OIdC) should never be used for authentication. But in our case since we use the Auth flow and tokens are received directly from the IdP after checking the client's credentials I don't see hoe the same attack can apply. But again, the spec is the sp

[2019-02-18 09:15] avdev4j commented on #9284
I'm sure we can improve the developer experience when using blueprint but not sure the template overriding is not an issue.

You easily can call the JHipster writing step and then calling your own step which contains your own files. You can override or adding new files.

I think there is an exemple when you creating a client blueprint.

You can check this [repo](https://github.com/avdev4j/samSuffi

[2019-02-18 09:26] breglerj commented on #9272
@jdubois Thanks for the info. I'll look into creating a module or blueprint for now.

BTW, [SAP HANA express edition](https://developers.sap.com/topics/sap-hana-express.html) is a free version of SAP HANA available on-premise or in the cloud that you can use for development and testing purposes, so licensing and hardware shouldn't even be too much of an issue. I can see your point about the number

[2019-02-18 09:41] VinodAnandan commented on #9276
Each and every attributes in the spec has its own importance.  The great authors of the spec already considered many security use cases.

[2019-02-18 10:13] jdubois commented on #9272
Thanks @breglerj - for the number of contributors it's of course not a criticism, in fact I'm very sad to see how few people and (most importantly) companies are interested to contribute to OSS projects. I don't get how it's possible that companies spend millions of $ on SAP Hana and won't be interested in supporting SAP Hana on JHipster, but that's the way it is.

[2019-02-18 11:45] pvliss opened #9285 "Update npm packages"
##### **Overview of the feature request**

I have lately been dealing with various issues mainly related to ones blocking dev of the Kotlin blueprint and I have noticed that many of the npm dependencies(prod+dev) of both the main generator-jhipster as well as the `package.json` for the generated apps(only checked React not sure about angular) are lacking behind.

Not sure if this on purpose(if so

[2019-02-18 13:18] framiere opened #9286 "Leverage Confluent Kafka docker images"
As seen face-to-face today with @jdubois , @Dabz and I propose to leverage our Confluent expertise to provide better Kafka support in JHipster.

### Outdated kafka images

JHipster is relying on old kaka version by `wurstmeister`
https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-constants.js#L35

### Leverage Confluent images

We propose to use the confluent images in

[2019-02-18 13:48] jdubois commented on #9280
Normally this should be a module, but as we already have Kafka, Cassandra, etc into the main generator that doesn't seem really fair to Redis.

Can this be a "simple" integration like Kafka: not too many files, and the minimum (or nothing at all) on the client side? This is to lower the maintenance burden.

[2019-02-18 13:56] Dabz opened #9287 "Migrate from spring-cloud-stream to native Apache Kafka client"
As seen face-to-face today with @jdubois , @framiere and I propose to leverage our Confluent expertise to provide better Kafka support in JHipster.

##### **Overview of the feature request**

JHipster is currently generating the Apache Kafka source code with [Spring Cloud Stream](https://cloud.spring.io/spring-cloud-stream/), we propose to rely on the native Apache Kafka client instead.

##### **M

[2019-02-18 14:11] agoncal opened #9288 "ManyToMany with relation name generates add/remove method that do not compile"
##### **Overview of the issue**

When in the JDL there is a relation-name on both sides of a  bi-directional `@ManyToMany` the add/remove method code on the entity does not compile.

##### **Motivation for or Use Case**

Reading the [documentation](https://www.jhipster.tech/jdl/#relationshipdeclaration) on the JDL it looks like I can have a relation name on a bi-directional `@ManyToMany`. So it lo

[2019-02-18 14:52] cbornet opened #9289 "CSS not cached in prod build"
##### **Overview of the issue**

In prod packaging, `main.xxxx.css` and `global.xxxx.css` are put by webpack in the root dir so they are not cached. They used to be in the `content` directory.

##### **Reproduce the error**

`./mvnw clean package -Pprod -DskipTests` then look into the `target` and `target/content` folders

##### **JHipster Version(s)**

It's a regression:
* Works with 5.0.0
* Does

[2019-02-18 16:43] pvliss opened #9290 "Run `npm test` once at CI"
##### **Overview of the feature request**

It seems that `npm test` should be executed when building/installing the generator from the master branch.
More specifically something along the lines of the following script should be added to https://github.com/jhipster/generator-jhipster/blob/b802f7bb08dce8829efd79ece7b7c37c49abf47f/test-integration/scripts/10-install-jhipster.sh#L73:

[code]

Currentl

[2019-02-18 17:43] ruddell commented on #9288
This is fixed already in master (original issue https://github.com/jhipster/generator-jhipster/issues/9202), but we will need a v5 maintenance release.  I opened a PR to fix this in that branch

[2019-02-18 18:57] yelhouti commented on #8610
Sorry guys, but I having the same issue:
The problem happens in the generated index.js: `This is a JHipster blueprint and should be used only like...` when trying to override `entity-client` specifically.
the `jhContext` is undefined.
Any idea on how to fix this please. Thanks

[2019-02-18 20:49] murdos commented on #8610
@yelhouti I can't help if you don't provide more information: JHipster version, extract of jdl and blueprint used, ... in order to reproduce the issue.

[2019-02-18 21:02] yelhouti commented on #8610
My bad:
.yo-rc
[code]

[2019-02-19 00:21] DanielFran commented on #9100
@pmverma the issue has been merged in Hibernate-orm master and should be available only in next 5.4.x release.

V5 is targetting 5.2.x, and V6 is targetting 5.3.x.
So we might need to wait a lot until Spring-boot target 5.4.x...

[2019-02-19 01:43] rdegges commented on #9120
Hi @yelhouti:

It definitely does impact performance. If you need to guarantee the integrity of the requestor, then you need to make a request to a centralized IdP at some point. There is no way to do that without centralization (unless you decide to broadcast your revocation list with cache invalidation to your nodes or something, which is a whole other discussion).

You're talking about refresh

[2019-02-19 01:43] rdegges commented on #9120
Hi @VinodAnandan, I'll definitely shoot you an email separately. Thanks!

[2019-02-19 03:17] Pranavism opened #9292 "Swagger model schema and example empty with jhipster 5.8.1 generator."
##### **Overview of the issue**
Swagger UI and Json does not contain model details for app generated with 5.8.1 generator

##### **Motivation for or Use Case**

The exact same project generated with previos version works fine and full swagger details are shown.
I tried both upgrading an existing project and creating a new project with 5.8.1 ,in both cases swagger model is empty.
##### **Reproduce

[2019-02-19 03:19] Pranavism commented on #9292
<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.sb.organization"
    },
    "jhipsterVersion": "5.8.1",
    "applicationType": "microservice",
    "baseName": "Organization",
    "packageName": "com.sb.organization",
    "packageFolder": "com/sb/organization",
    "serverPort": "8081",
    "authenticationType": "uaa",

[2019-02-19 03:20] pmverma commented on #9100
@DanielFran Yes, it has been merged. Not sure if there is plan to merge in 5.2.x or 5.3.x version. I have asked and have not got reply yet.
Otherwise, I am afraid, our support of @MapsId would not be useful.

[2019-02-19 03:24] Pranavism commented on #9292
<img width="267" alt="screen shot 2019-02-18 at 10 21 25 pm" src="https://user-images.githubusercontent.com/41497523/52988088-eb442480-33cb-11e9-99ff-7d46f5aa3543.png">

[2019-02-19 05:25] Pranavism commented on #9292
Tried with what @deepu105 has here at https://medium.com/@deepu105/create-full-microservice-stack-using-jhipster-domain-language-under-30-minutes-ecc6e7fc3f77

Same issue swagger empty with no model schema

[2019-02-19 07:43] pascalgrimaud commented on #9282
I'll have a look.
If your 2 fix are OK, I'll merge them.
Thanks a lot !

[2019-02-19 08:21] pvliss commented on #9282
Thanks @pascalgrimaud .

I believe it will work but I would like to note that I am not sure/convinced that this is the best way to go. The reason is that I have added an extra config property `jhipster.clientApp.name` in `application.yml` which might give the false impression to end users that changing it will make things work while this is not the case as the value will be hard-coded at the clien

[2019-02-19 09:18] yelhouti commented on #9120
Hi @rdegges, thanks for your answers, I really appreciate it.
Indeed I'm talking about refresh token invalidation and not access tokens, so I want enter in the details of your first paragraph. I'm not planning to send a request to the IdP on each request this clearly goes against the performance I'm trying to gain.
So what we are discussing is: is it worth it to allow an attacker 10 more seconds w

[2019-02-19 10:26] heiheiyuan opened #9295 "集成Quartz，且任务持久化"
##### **Overview of the feature request**

使用jhipster生成的项目集成Quartz时，实现任务持久化遇到问题，日志无错误信息，但是数据库中也没有任务被写入，普通Demo集成可正常持久化

##### **Motivation for or Use Case**

因为工作需要，自己能力有限，研究了好久都找不到原因，可不可以给个Demo？万分感谢

##### **Related issues or PR**

[2019-02-19 10:44] jdubois commented on #9295
Please, can you post your ticket in English so we can understand what you mean?

I'm closing this, so you can open another one in English.

[2019-02-19 10:44] #9295 closed

[2019-02-19 12:27] heiheiyuan opened #9296 "Could you please provide a demo about Jhipster + Quartz?"
I want to integrate quartz,and put schedule job to database,but I got nothing in database,there is no error at all.So I hope you can provide a demo, I have spent much time for this problem-_-||

[2019-02-19 12:37] heiheiyuan commented on #9296
If I don't use jhipster to generate a project, just integrating quartz with a general springboot project can achieve my aim that persistence my schedule jobs

[2019-02-19 12:37] jdubois commented on #9296
There is built-in support for Quartz in Spring Boot but we don't provide this integration by default.

I'm sorry but this isn't in the roadmap at the moment.

[2019-02-19 12:38] jdubois commented on #9296
Sorry our comments crossed each other... You are not using JHipster, then why are you posting a bug here???? Did you read our guidelines first?

[2019-02-19 12:38] jdubois commented on #9296
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-02-19 12:38] #9296 closed

[2019-02-19 12:38] heiheiyuan commented on #9296
I use Jhipster

[2019-02-19 12:40] heiheiyuan commented on #9296
I mean if I don't use Jhipster can achieve my goal, but use Jhipster can't,I saw the Spring Boot document, but there is nothing what i need

[2019-02-19 12:40] jdubois commented on #9296
Sorry, we probably don't understand each other very well! Really sorry about that.

Anyway, we don't support Quartz at the moment, so we can't help you.

[2019-02-19 12:47] orkidze opened #9297 "Authentication reducer returns errors after logout (401 authentication"
The application was using "api/' as a landing page and rendered content based on if user is authenticated. But after logout the state did not had time to update.

Error example in browser console (After logging out):
GET https://www.*.com/api/* 401 (Unauthorized)
For basically every resourced I used

The key was to fix auto generated authentication reducer... and add following in **authentication.

[2019-02-19 12:49] orkidze commented on #9297
Btw, the code added was at the very beginning of the switch statement

[2019-02-19 15:16] mraible commented on #9297
Can you please [submit a pull request](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-a-pull-request) with this change?

[2019-02-19 15:24] amchess opened #9298 "Problem with karma tests and latest JHipster"
I tried latest version ("5.8.1") with latest node and yarn.
I generated a microservice-gateway application with maven build tool.
I can start it with
`./mvnw`
and also do integration test with
`yarn e2e`.
The problem is karma tests with Jest because when I run
`npm test`
I have the following error message:

[code]

.

The following is the `jhipster info` output:

##### **JHipster Version(s)**

[co

[2019-02-19 15:38] diegobs2 commented on #9162
Okey guys, thanks so much!

[2019-02-19 15:48] gmarziou commented on #9298
You should not use yarn at all as you selected npm

`"clientPackageManager": "npm"`

[2019-02-19 17:57] DanielFran commented on #9095
@massimosiani The PR https://github.com/jhipster/jhipster/pull/159 has been merged in the bom project.
Do you plan to make the PR in generator soon?

[2019-02-19 18:26] gmarziou commented on #9298
Seems to be solved on gitter by @tibistibi and @amchess

[2019-02-19 20:40] pascalgrimaud commented on #9282
It works locally for me, so just merged the 2 PRs.
I saw an extra config property, agree with you, maybe it's not the best way to go, but at least, it will fix the CI, and not block other PRs.

[2019-02-19 20:40] #9282 closed

[2019-02-19 20:50] mraible commented on #9276
I don't believe it's necessary to validate the audience when using `oauth2Login()`. Yes, if you're setting up a resource server, it's important, but JHipster doesn't do that by default.

If you do want to setup a resource server in JHipster, see [Spring Security's resource server docs](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2resourceserver):

[code]

The afo

[2019-02-19 20:51] pvliss commented on #9282
Thanks @pascalgrimaud

[2019-02-20 01:31] yelhouti commented on #9276
@mraible I might agree with you that may be audience validation (and even signature validation) is not necessary in your scenario since the introspection is done by the IdP, the client is verified by the IdP before giving the token since the client is private communication is done through SSL with hopefully certificate pining.
On the other hand i don't agree with you arguments, if the server is re

[2019-02-20 02:52] mraible commented on #9276
The implementation I'm working on right now only pertains to monoliths and microservices with OAuth 2.0 / OIDC for authentication. If I encounter a resource server as part of that, I'll go ahead and implement audience validation. I'm not concerned about UAA. I did not code that part of JHipster, nor do I maintain it. I believe @ruddell does.

[2019-02-20 04:25] Pranavism commented on #9292
Did anyone face this issues and any resolution for the same?

[2019-02-20 05:54] rburgst commented on #8683
when can we expect an official release with spring boot 2.1?

[2019-02-20 07:08] pascalgrimaud commented on #8683
@rburgst : as we work on JHipster during our free time, we can't give you a date. We hope very soon.
If you need it for your projects, you can use master branch ;
- https://github.com/jhipster/generator-jhipster
- https://github.com/jhipster/jhipster

[2019-02-20 07:39] tibistibi opened #9305 "I18n Placehoder key makes object from field key"
##### **Overview of the issue**

For fields sometimes there is a placeholder text. The key is equal to the label key with placholder extension like this:
global.form.currentpassword = Current password
global.form.currentpassword.placeholder = Current password

This gives a problem global.form.currentpassword is now and an object (holding placeholder) and a value holding 'Current password'. In my i

[2019-02-20 09:02] wmarques commented on #9305
I'm ok with the second solution

[2019-02-20 13:05] PierreBesson commented on #9033
@jdubois I have initialized the jhipster-guides here https://github.com/PierreBesson/jhipster-guides
I have requested a transfer of ownership to you so you can move the project to the JHipster org.

[2019-02-20 13:47] developpef opened #9306 "Front-end app generation typed as monolith"
##### **Overview of the issue**
When generating a front-end app with "jhipster --skip-server", the created app is declared as "monolith" in .yo-rc.json
This causes problem later when, for example, trying to import JDL (database check error, like in issue #5191).

##### **Motivation for or Use Case**
I had to generate separated front and back applications.

##### **Reproduce the error**
1- Run "jhi

[2019-02-20 14:32] khasanboyshoraimov opened #9307 "Adding new language - Uzbek (Cyrillic)"
##### **Overview of the feature request**

It would be great to add a new Uzbek language based on Cyrillic alphabet as well.

##### **Motivation for or Use Case**

Firstly, thanks to all contributors of JHipster, and also to a guy who helped  to add Uzbek - latin language. But there is a high demand on Uzbek - cyrillic as well, as most of our state documentations are written in Cyrillic alphabet.

[2019-02-20 15:06] ChrisLeeBare opened #9308 "Gatewayapp sends original request rather than modified request from custom servlet filter"
##### **Overview of the issue**

I implemented a custom Filter "BasicAuthenticationFilter" because we need to receive requests from 3rd party systems which only support HttpBasic Auth. In my Filter I do authentication and set a new Header "Authorization" with "Bearer " and the generated JWT Token from the TokenProvider. After that, I put the request back in the filterchain.

##### **Motivation for

[2019-02-20 15:13] pascalgrimaud commented on #9307
New language is always welcome! So go ahead.
@khasanboyshoraimov : would you like to contribute for this ?

[2019-02-20 15:15] jdubois commented on #9033
Oh @PierreBesson I just created https://github.com/jhipster/jhipster-tutorials this morning!!

OK, let't use yours, and I'll delete the "tutorials" repo.

[2019-02-20 15:42] PierreBesson commented on #9033
So now that the tutorial is initialised, our trainees can get to work and create the guides themselves.

[2019-02-20 15:44] jdubois commented on #9308
I'm sorry but from my understanding this is your custom code: there's nothing specific in JHipster here, you coded your own Servlet filter and that's totally outside of what JHipster provides. So for me this should rather go to StackOverflow.

One thing I don't really understand, thus, is why are you making a servlet filter and not a Zuul filter in the gateway?

[2019-02-20 15:51] ChrisLeeBare commented on #9308
Yes, it is custome code, but I do not understand, why my modified servlet is not sent to the microservice rather than the original servlet. So I thought this might be jhipster related. But I do understand, if I rather open this on StackOverflow.

Why? I thought this was the way to go because I used these Servlet Filters before to do stuff with incoming requests, but I will have a look into Zuul fi

[2019-02-20 15:54] khasanboyshoraimov commented on #9307
@pascalgrimaud, Surely, I will.

[2019-02-20 16:59] DanielFran commented on #9307
@khasanboyshoraimov You can take example from this PR https://github.com/jhipster/generator-jhipster/pull/8317 and the respective documentation PR https://github.com/jhipster/jhipster.github.io/pull/623

[2019-02-20 18:05] ruddell commented on #9292
I can not reproduce.  I used your config to generate a microservice and I can see the model:
![screen shot 2019-02-20 at 9 59 41 am](https://user-images.githubusercontent.com/4294623/53113449-791c2e80-34f6-11e9-8f37-b64f80dd36f6.png)

[2019-02-20 18:08] Pranavism commented on #9292
Strange , I still don’t see the model.
But when I run in docker with Jdk11 environment sometimes upon restart I  see the model coming as expected.

[2019-02-20 20:36] Tcharl commented on #9280
I just wanted to use it as cache, not as database!

So that's another question: would you prefer it as cache implementation or database, or both?

[2019-02-20 22:57] #9290 closed

[2019-02-21 06:38] pvliss commented on #9290
Hello @DanielFran. I believe the intention of @pascalgrimaud with #9304 was to make the CI build fail as he deliberately introduced some invalid formatting but the CI passed. This means that `npm test` was not executed or more precisely linting was not performed. Hence this issue still stands. I can create a PR if you wish to verify this

[2019-02-21 06:43] pvliss commented on #9232
Closed by  #9248 and #9266. Thanks @murdos  and @pascalgrimaud

[2019-02-21 06:43] #9232 closed

[2019-02-21 07:00] pascalgrimaud commented on #9290
@pvliss :

no, in my PR, I fixed existing invalid format. Otherwise, the PR won't pass

I don't understand what you mean here. As `npm run lint` passed, `npm test` was correctly performed: https://travis-ci.org/jhipster/generator-jhipster/jobs/496245281

Can you be clearer plz ?

[2019-02-21 07:06] deepu105 commented on #9289
I guess the folder names are not updated in the cache setup in spring boot `WebConfigurer`
[code]

[2019-02-21 07:10] cbornet commented on #9289
No, the problem is that these CSS files are placed in / which is not cached instead of /content which is cached. There are files in / that you don't wanna cache (eg /index.html).

[2019-02-21 07:22] pvliss commented on #9290
Thanks for the clarification @pascalgrimaud.

I was under the impression that the last branch was executed and I was actually referring to that case, the one at 62 https://github.com/jhipster/generator-jhipster/blob/b802f7bb08dce8829efd79ece7b7c37c49abf47f/test-integration/scripts/10-install-jhipster.sh#L62   but I am obviously wrong.  Thanks for pointing out.

In which case will the last branch b

[2019-02-21 10:04] torelk opened #9313 "Old version of ByteBuddy is being used when it expects a newer version. A defualt monolith application will fail to start."
##### **Overview of the issue**
When running the tests, the application fails to start. with the error listed below, it is looking for a method called 'appendMostSpecific' which can be found in byteBuddy.

The monolith application was generated with version 1.7.11 of byteBuddy but I checked the GitHub release and just as the error message says, the method does not exist in this version of byteBudd

[2019-02-21 13:40] mukesh-mohan commented on #1315
The Problem I faced with the PUT method instead of PATCH is, its expected to pass all the values for the model. If I pass only few changed fields, it was making the other non-passed fields as blank. So if we need to make a partial update I stringly recomment a PATCH method support. And if I made my custom changes, next time if I make any schema changes It overrides my existing changes.

[2019-02-21 13:49] jsone-studios opened #9317 "outputDirectory is not a valid configuration for maven-surefire-plugin"
##### **Overview of the issue**

Inside the configuration of the maven-surefire-plugin the `outputDirectory` is set to following:

    <outputDirectory>${sonar.junit.reportsPath}</outputDirectory>

But the configuration `outputDirectory` is not present for the maven-surefire-plugin. Therefore the outputs of this plugin are not inside the `${sonar.junit.reportsPath}` directory instead they go into

[2019-02-21 16:24] jdubois commented on #9313
I just tried it with your `.yo-rc.json` configuration (just had to replace the JWT has yours is wrong), and I had no problem at all. Did you change anything from the generated code?

[2019-02-21 16:47] torelk commented on #9313
Unfortunatly i am not the only person working on this project so I cant give you a clear answer here... but, I've edited a service and resource file genereated for an entity. From my understanding these are quite unrelated to the already generated test files for the entity (where the error is occuring). And to be clear ive only added additional code, i made sure to not remove anything or edit anyt

[2019-02-21 17:14] torelk commented on #9313
I added the latest version of byteBuddy to my build.gradle file and the error does not occur any more.
Id still like to help resolve this issue but i feel like one of my colleagues might have simply edited something without understanding its purpose.

[2019-02-21 17:30] alexsintoni opened #9319 "translateService.onLangChange.subscribe not working anymore"
##### **Overview of the issue**

I create a component which has a subscription to `translateService.onLangChange.subscribe` and in the JHipster version 5.5.0 was working fine. Now that I update everything to version 5.8.1 is not working anymore.

In particular the following service:
[code]

##### **Motivation for or Use Case**

I add to my project the [ngx-material-timepicker](https://github.com/A

[2019-02-21 17:59] pmverma opened #9320 "Increasing the precision value of BigDecimal"
##### **Overview of the feature request**

Increase the value of precision for decimal(SQL) & BigDecimal(Java) to handle a large but acceptable value.

##### **Motivation for or Use Case**

https://github.com/jhipster/generator-jhipster/blob/d337f39c4794ea6d326dcda63acc325bc126fbfb/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs#L90-L91
The cur

[2019-02-21 18:03] khasanboyshoraimov commented on #9307
Dear @DanielFran thanks for your guide, I have uploaded all JSON files, however got confused in placing them to directories. Hope not to make that mistakes on my further PRs))

[2019-02-21 18:05] pascalgrimaud commented on #9307
@khasanboyshoraimov : it's better if you can do 1 PR with all files, so our builds can test the new language

[2019-02-21 19:23] ruddell commented on #9276
Actually @xetys maintains the UAA code, I just help out anywhere I can.

[2019-02-21 20:36] DanielFran commented on #9307
@khasanboyshoraimov I closed #9309 in favor if #9310.

[2019-02-22 03:31] amatosg opened #9322 "[Feature Request] PostgreSQL: Unique Sequence for each entity"
##### **Overview of the feature request**

I see no reason for having a single sequence for **all** the entities. It would make more sense (to me, at least) if each entity has its own sequence.

##### **Motivation for or Use Case**

Entities' id would have a logic sequence. For me is *weird* to see one entity having id 1050, 1055 and then 1065, while others could have 1056, 1057.

##### **Related

[2019-02-22 06:32] khasanboyshoraimov commented on #9307
@DanielFran, documentation PR is done. Thanks a lot.

[2019-02-22 07:23] jdubois commented on #9322
I believe that what we do is the default in Hibernate, so that would be against [policy 1](https://www.jhipster.tech/policies/), could you check?

On a personal side, I'd rather have just one sequence, I find this simpler.

[2019-02-22 07:51] cbornet commented on #9322
We use the sequence generator with Hilo algorithm which allows performant batch. See https://vladmihalcea.com/hibernate-identity-sequence-and-table-sequence-generator/

[2019-02-22 08:24] jdubois commented on #9287
As we all agree here, let's do this!

[2019-02-22 08:25] jdubois commented on #9286
As we all agree, let's do this!

[2019-02-22 08:26] pascalgrimaud commented on #9319
@alexsintoni : I'm not an Angular expert (@wmarques is :-p) so I can only show you ticket and pull requests, related to this subject :
- the original issue : https://github.com/jhipster/generator-jhipster/issues/9048
- 1st fix : https://github.com/jhipster/ng-jhipster/pull/87
- another fix : https://github.com/jhipster/ng-jhipster/pull/90

Maybe it can help you.

[2019-02-22 08:28] jdubois commented on #9313
Thanks @torelk this was probably caused by someone else's change

[2019-02-22 08:28] #9313 closed

[2019-02-22 08:31] pascalgrimaud commented on #9286
I suppose we could use confluentinc/cp-zookeeper
https://hub.docker.com/r/confluentinc/cp-zookeeper too ?

[2019-02-22 08:39] jdubois commented on #8437
As of yesterday's meeting with @saturnism @PierreBesson this isn't a priority anymore, so I'm closing this

[2019-02-22 08:39] #8437 closed

[2019-02-22 08:41] jdubois commented on #8782
I think we all agree this is a good idea, but this has been stuck for more than 2 months and we have tons of issues -> I'm closing this as nobody works on it, but if anybody wants to do the PR it's most welcomed

[2019-02-22 08:41] #8782 closed

[2019-02-22 08:42] jdubois commented on #8926
Closing as this has had no activity for more than 2 months

[2019-02-22 08:42] #8926 closed

[2019-02-22 08:43] jdubois commented on #9322
Yes I think we have the recommended approach from Vlad, so I'm closing this (of course you can still prove me wrong and I'll re-open)

[2019-02-22 08:43] #9289 closed

[2019-02-22 09:09] wmarques commented on #9319
@alexsintoni Did you correctly upgraded the `ng-jhipster` lib to the latest and added the `ngx-translate` lib in your `package.json`?

[2019-02-22 10:08] #9317 closed

[2019-02-22 10:14] avdev4j commented on #9234
This improvement don't seems to be a priority. I suggest to close this issue and reopen it if people need it.

[2019-02-22 10:14] #9234 closed

[2019-02-22 13:07] #9128 closed

[2019-02-22 13:58] jdubois commented on #9308
OK but that's totally custom code, outside of what JHipster does, so that's not a bug on our side.

Maybe your Servlet filter isn't configured correctly. Then, I understand it should be around the Zuul filter, I'm not sure of what Zuul does here, maybe it's going to replace your headers, it has some security code to remove sensitive headers for example. But your best solution is a Zuul filter, tha

[2019-02-22 13:58] #9308 closed

[2019-02-22 14:04] jdubois commented on #9306
I think `skip-server` only works for monoliths... For microservices it wouldn't make any sense (obviously!!), and for a gateway I'm not sure it makes sense (if you have no server part, then it's not a gateway as it's not going to route any request, so basically it's a monolith).

This is probably not documented (flags are for advanced use-cases and are less documented usually, still this should be

[2019-02-22 16:20] developpef commented on #9306
I was trying to generate 2 projects to separate front an back
I followed this doc https://www.jhipster.tech/separating-front-end-and-api/
Maybe it could have been easier to generate one microservice app and one gateway app?
Because since then, I had a lot of difficulties to make the front and back work together correctly. Mainly because the back was generated without any user management capabiliti

[2019-02-23 03:09] amatosg commented on #9322
What about using `id BIGINT GENERATED ALWAYS AS IDENTITY`? That way each table would have its own sequence generator (just like in MySQL/MariaDB). With that, things get simplify because:

1. There is no need to create sequences
2. The IDs for each entity will be correlative
3. No additional queries are needed as there are no sequences

My 3rd point would make it even more performant than the Hilo

[2019-02-23 07:33] alexsintoni commented on #9319
Hi @pascalgrimaud and @wmarques
thanks a million for your help.

What I did is:

1. create a JHipster gateway app with generator version 5.5.0
2. install dependency `ngx-material-timepicker` and add this component to a page
3. add the service `TimeLocalizationService` to the project to change the `format` input of `ngx-material-timepicker` when the user changed the language

In this project was wo

[2019-02-23 08:34] pvliss commented on #9285
@jhipster-developers As this has not been closed I assume you want me to continue with this? If not then please let me know. Thanks

[2019-02-23 09:35] gmarziou commented on #9322
Have you checked this with datasource-proxy or p6spy?
I don't understand how Hibernate would know the id without re-loading the entity.

Using sequences in Hibernate is better because it can provision a batch of new ids in one statement and then use them for many inserts without having to ask sequence fir each insert.

That said, I'd prefer too to have a sequence per table.

[2019-02-23 10:44] murdos commented on #9322
I prefer that too.
Would it be ok if it was available as an option?

[2019-02-23 13:53] yelhouti commented on #9288
@ruddell I'm on master and this is not working :s

[2019-02-23 14:52] amatosg commented on #9322
But not having sequences means there is no need to ask for next id(s). Those values are generated just before commiting (AFAIK).

Hibernate doesn't have to know the ID. On `save(T)` hibernate returns the entity with the generated ID.

That would be nice if it's not accepted as default. I think I have the code already done somewhere.

[2019-02-23 16:13] ruddell commented on #9285
Please continue if you have time.  @DanielFran recently did some related work:
 - The Angular dependencies were upgraded (two weeks ago) here: https://github.com/jhipster/generator-jhipster/pull/9241
 - There was some work done to React but it required some code changes so it wasn't merged https://github.com/jhipster/generator-jhipster/pull/9243

[2019-02-23 16:16] ruddell commented on #9288
@yelhouti Make sure you pulled the latest code, and also installed the `jhipster-core` update in your local `generator-jhipster` (re-run `npm link`)

[2019-02-23 17:04] rifatdover commented on #9306
@jdubois In a case where you want to separate your API infrastructure with your client infrastructure (especially when you have mobile and web clients together), this will make sense. Yes I agree in any case you can make it with different gateways but it will create duplications especially if you use some custom filters in both gateways.

[2019-02-23 17:13] rifatdover commented on #9306
@jdubois In a case where you want to separate your API infrastructure with your client infrastructure (especially when you have web admin clients(which will use admin templates that are popular), web clients  and also mobile clients together), this will make sense. Yes I agree in any case you can make it with different gateways but it will create duplications especially if you use some common filt

[2019-02-23 17:49] pvliss commented on #9285
Thanks @ruddell . Will do so

[2019-02-23 19:30] jdubois commented on #9285
Yes thanks a lot @pvliss

[2019-02-24 02:20] Lakshamana opened #9330 "Couldn't build monolithic JHipster app for production"
##### **Overview of the issue**

Couldn't build monolithic JHipster app for production running
[code]
Error log:
[code]

##### **Motivation for or Use Case**

This could be a bug. I've tested just by creating my project but without importing the JDL file to project. It has a very large number of entities and relationships.

##### **Reproduce the error**

1. Create project using `jhipster`
2. Impor

[2019-02-24 04:26] yelhouti opened #9331 "Multiline javadoc comment crashes jdl generation"
##### **Overview of the issue**

Multi line comments fails when javadoc contains new line
##### **Motivation for or Use Case**
Have well documented code

Should be working according to the doc
##### **Reproduce the error**
Generate from jdl with multiline comment:
[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

5.8.1, never seemed to work well for me
#####

[2019-02-24 09:16] jdubois commented on #9306
I'm sorry but this doesn't make any sense to me: are you sure you understand what we mean by a "gateway" in JHipster? Have a look at https://www.jhipster.tech/api-gateway/

[2019-02-24 09:59] gmarziou commented on #9330
What do you mean?

Error looks like a memory error, have you tried to increase ` --max_old_space_size=4096` in package.json?

[2019-02-24 12:51] pascalgrimaud commented on #9330
similar to https://github.com/jhipster/generator-jhipster/issues/9203
the root problem is the number of entities

[2019-02-24 13:17] pascalgrimaud commented on #9306
`--skip-client` and `--skip-server` flags are only for very advanced users who want to customize the generated application.

We can't guarantee it will work immediatly as there are so much way to use it.

[2019-02-24 13:41] developpef commented on #9306
Well, we managed to make it work, mainly by integrating in the 2 separated projects some classes from a monolith sample.

As this doc (https://www.jhipster.tech/separating-front-end-and-api/) says, this is what we wanted to achieve :

However, it is a **common requirement to separate the front-end and the back-end codes**, typically because they are developed by different teams and have a differen

[2019-02-24 16:20] gmarziou commented on #9330
@pascalgrimaud You're right: same app with 138 entities but the symptom is different : angular build error versus spring boot/springfox runtime error. Let's wait for @Lakshamana feedback on my suggestion to increase nodejs memory for build.

[2019-02-24 16:26] gmarziou commented on #9306
Your architecture is still unclear to me, are you really talking about JHipster microservices? If so, what are the options you chose for service discovery and auth type?

[2019-02-24 18:15] ruddell commented on #9306
The error message is clear.  Your database type is not a valid value.

ERROR! Error while parsing applications and entities from the JDL Error: The passed database type must either be 'sql', 'mysql', 'mariadb', 'postgresql', 'oracle', 'mssql', 'mongodb', 'couchbase', or 'cassandra'

During generation, you passed `--db PostgreSQL` while it should be `postgresql`.  Update your `.yo-rc.json` file and

[2019-02-24 19:29] Lakshamana commented on #9330
Hello, @gmarziou, sorry for late response.
Currently I'm testing your suggestion. The previous value for the two occurences of `--max_old_space_size` in `package.json` was 4096. I increased it up to 8192.
Now, command `(./mvnw|mvn) -Pprod package` hangs at this line:
[code]

[2019-02-24 19:38] Lakshamana commented on #9330
This could be my version of nodejs or npm, I'll update these and try to run again.

[2019-02-24 20:31] barrychapman commented on #8397
I have this same issue also, exactly.

[2019-02-24 21:52] gmarziou commented on #9330
When you run a prod build, node and npm are installed by frontend-maven-plugin locally in `node` folder of your project, it's isolated from the node version you installed on your PC globally and that is used only for dev.

[2019-02-24 22:07] gmarziou commented on #9330
You could also check that front-maven-plugin has installed a 64 bit version of nodejs, edit your package.json to print processor architecture:

    "webpack:prod": "node -p process.arch && npm run cleanup && npm run webpack:prod:main && npm run clean-www",

Then run a prod build and see what it prints, normally it should be x64

[2019-02-24 22:15] Lakshamana commented on #9330
[code]
Yes, it is x64

[2019-02-24 22:18] gmarziou commented on #9330
Then I have no other ideas. Have you tried `npm run webpack:prod` ?

[2019-02-24 22:22] Lakshamana commented on #9330
Ok, by running `npm run webpack:prod` I got this:
[code]
I assume that JHipster is not generating some files automatically at bin directory, right?

[2019-02-24 22:25] gmarziou commented on #9330
What do you mean?

[2019-02-24 22:27] Lakshamana commented on #9330
In some .ts files, for instance, some import references could not be found

[2019-02-24 22:50] gmarziou commented on #9330
I have used your .yo-rc.json file to generate a project and I did not have any import missing.

[2019-02-24 23:15] gmarziou commented on #9330
Then I imported your JDL, a comma was missing at the end of line 1162.
I added it and imported it, there were some warnings

[code]

Then I ran npm run webpack:prod and it failed with duplicate identifier 'policyApplied' which seems normal because your JDL is wrong and duplicates relationship declaration. So I'm sorry but I can't reproduce the issue with a non working JDL.

[code]

[code]

[2019-02-24 23:22] gmarziou commented on #9330
Projet is here: https://github.com/gmarziou/spm

[2019-02-24 23:28] Lakshamana commented on #9330
Ok, I'm gonna try again with my current configuration. Could you generate the `.war` from the project?

[2019-02-25 01:21] Lakshamana commented on #9330
I apologize, @gmarziou I updated the my JDL model and forgot to upload the changes to Drive file. Here it is: ([https://drive.google.com/open?id=1NRKJiZs3T-ipKaCondRlp2fjQIxQVobX](url))

[2019-02-25 02:00] Lakshamana commented on #9330
Ok, my point was to create the `.war` file. I did it by running `mvn -Pdev -DskipTests package`.
But I'm still in problems running either `mvn -Pprod` or `mvn -Pprod package`.

[2019-02-25 07:10] jsone-studios opened #9334 "Javascript bundle 'global' is always empty for angular production build"
##### **Overview of the issue**

The JavaScript bundle 'global' does only contain CSS as its entrypoint is `global.(css|scss)`.
In the production build all CSS is extracted into a separate CSS file because of the MiniCssExtractPlugin.
Therefore the final `global.[hash].bundle.js` will only contain the standard webpack import stuff but no code from us and so it is useless.

##### **Motivation for o

[2019-02-25 07:34] developpef commented on #9306
We don't use service discovery, and used JWT auth.

Well, just a last try to explain what we did : see the graphics on this page : https://micro-frontends.org/
We implemented what is called the Monolithic Frontends Microservices (3rd part of the 1st image). Maybe you are thinking about something more related to the 2nd image...

And for now, when I ask Jhipster to import an entity, I first import

[2019-02-25 08:07] xmeng1 commented on #9317
👍

[2019-02-25 10:18] jdubois commented on #9306
Just to be sure we all understand each other: the `gateway` is not a front-end application. It's just a monolith which has some back-end routing capabilities to microservices, thanks to Netflix Zuul. You might more see it as a monolith + router.

As the gateway works using the service discovery, if you don't have service discovery then your gateway is just a monolith (as the routing part will not

[2019-02-25 11:02] jdubois commented on #9322
I really like the option from @amatosg then we can't have this right now as it's only on Postgresql 10. As far as I understand it will be available on GCP in the 2nd quarter of 2019. So we can't rely on a feature that's not available on all major cloud providers.

So let's wait a few months, maybe 1 year, and then we can do this.

[2019-02-25 12:18] wmarques commented on #9334
@jsone-studios LGTM

[2019-02-25 12:19] wmarques commented on #9319
@alexsintoni Ok I'll try to reproduce this, might be related to the recent changes we did in the `ng-jhipster` lib

[2019-02-25 12:29] wmarques commented on #9319
@alexsintoni Just tried the following:
* Generate a jhipster app from master branch
* Added a listener to the  `onLangChange` event in the `HomeComponent`
* Switching languages, the `onLangChange` event works

Do you have any errors in your terminal or in your JS Console ?

[2019-02-25 12:50] wmarques commented on #9305
@tibistibi for your information, here is a sample json file, that's why we don't see the problem, I think it's an issue with your i18n editor
[code]

So it works today, but I find the second solution using `label` and `placeholder` much more clean, if you are willing to do a PR you are welcome

[2019-02-25 12:54] tibistibi commented on #9305
ok i will do it!

[2019-02-25 12:59] tibistibi commented on #9305
@wmarques yes it is the editor who can not work with the double meaning.

as info:
i use the only one which is free and can work with json files:
https://github.com/jcbvm/i18n-editor

[2019-02-25 13:31] asmolabs opened #9335 "Unable to use underscore in baseName when using jdl file"
##### **Overview of the issue**

If we use jhipster cli, we can use underscore in baseName but with import-jdl we can't use underscore in baseName.

When using in a jdl file an underscore for declearing baseName,, import-jdl fire a regex exception

##### **Motivation for or Use Case**

Regex is different between cli and import-jdl

##### **Reproduce the error**

try a baseName with an underscore i

[2019-02-25 13:36] vishal423 commented on #9319
do check code under `JhiLanguageHelper` as that contains similar code to your requirement and seems to work fine:

[code]

[2019-02-25 16:29] tchlyah commented on #9288
@ruddel I've done that and still have the error. Are you sure we are talking about the same problem?

[2019-02-25 17:05] ruddell commented on #9288
If you are using a release, it's not fixed yet.

If you are using master, make sure you run `npm link generator-jhipster` in your project after generating.  Otherwise, it will use the version from npm which still has the issue.  I just tested again and can't reproduce.

You can validate it's fixed by looking at `.jhipster/Event.json`:

 - Broken

            "otherEntityRelationshipName": "events(

[2019-02-25 17:45] tchlyah commented on #9288
Oh, I'm sorry, I'm the one who was not talking about the same issue...
It seems related to #7944 : in MongoDB relations, `@ManyToMany` relation doesn't generate otherEntity field, which generates non compliling `add` and `remove`methods. I should create an other issue about that.

[2019-02-25 19:24] DanielFran commented on #9285
@pvliss Closing since all PRs are merged

[2019-02-25 19:24] #9285 closed

[2019-02-25 19:41] pvliss commented on #9285
Yes, thanks @DanielFran

[2019-02-25 19:50] DanielFran commented on #7608
@cbornet Seems in springfox project integration with SB 2.1.x has been merged... and it includes migration to swagger-ui 3.

[2019-02-25 21:47] amatosg commented on #9322
Another way to give each entity a sequence, is using the `SMALLSERIAL`/`SERIAL`/`BIGSERIAL` pseudo-type. As an example, [this statement](https://www.postgresql.org/docs/9.1/datatype-numeric.html#DATATYPE-SERIAL):
[code]
Will be translated into:
[code]

And GCP's documentation [states](https://cloud.google.com/sql/docs/postgres/quickstart#create_a_database_and_upload_data):
[code]

[2019-02-25 22:30] gmarziou commented on #9330
Still not working, you defined a User entity !

[code]

[code]

[2019-02-25 22:41] gmarziou commented on #9330
Then if I remove User entity, I get other warnings:

[code]

I'm waiting my time

[2019-02-25 22:43] gmarziou commented on #9330
Then if I remove User entity, I get other warnings !!!

[code]

[2019-02-25 23:05] gmarziou commented on #9330
If I ignore the warnings and run a prod build, it fails:

ERROR in src/main/webapp/app/entities/user-plugin/user-plugin-detail.component.html(1,566): : Property 'name' does not exist on type 'IUser'.

Probably because of line below in your JDL, neither JHipster User nor the User entity you defined has a `name` field. As in a prod build templates are compiled, this does not pass.

[code]

[2019-02-25 23:12] cbornet commented on #7608
Yes. We need the v3 of Springfox to be released. I tried to use the snapshot but had a lot of issues so I'll wait for the release. As for swagger UI, we don't use the one packaged by Springfox so we could already do the move.

[2019-02-25 23:21] jdubois commented on #9330
Let's close this if the JDL is not good, as this ticket doesn't follow the guidelines. BTW I would love to have this JDL working, it would be awesome.

[2019-02-26 08:27] gmarziou commented on #9330
Finally, I have reproduced the out of memory issue and it's solved when I increased node memory from 4096 to 8000 in package.json as I suggested earlier.

I did not measure build time as it was during my sleep so I'm not sure how to interpret webpack numbers below. The working project is here: https://github.com/gmarziou/spm

[code]

[2019-02-26 08:28] gmarziou commented on #9330
So I'm closing this issue as prod build works with correct JDL and memory.

[2019-02-26 08:28] #9330 closed

[2019-02-26 09:05] henkelb commented on #9331
Reproduced this too since passed to jhispter 5.8.1.

[2019-02-26 09:32] jdubois commented on #9322
@amatosg `SERIAL` doesn't look to be such a great idea for performance: https://vladmihalcea.com/postgresql-serial-column-hibernate-identity/

[2019-02-26 10:08] massimosiani commented on #9095
Hi @DanielFran sorry for the delay.
I hadn't much time to complete the work on the generator, but I will make progress this week.
Thank you!

[2019-02-26 13:03] #8805 closed

[2019-02-26 13:13] jdubois commented on #7741
Closing as the PR is closed.

[2019-02-26 13:13] #7741 closed

[2019-02-26 14:06] #9320 closed

[2019-02-26 14:20] pvliss commented on #9322
@jdubois I am also generally in favor of using either sequence or identity generation strategies as well. Actually, sequences are the most recommended way according to @vladmihalcea(https://vladmihalcea.com/hibernate-identity-sequence-and-table-sequence-generator/ ), at least in terms of performance and are supported by all relational DBs AFAIK. I could create a PR if you are interested

[2019-02-26 14:25] jdubois commented on #9322
At the moment we have auto numbers with databases that support it, and sequences for the others. I believe it's the best solutions for now.

[2019-02-26 14:29] cremich commented on #9145
Interesting fact:
I tried to install openjdk-11 in an ubuntu:bionic container. The openjdk-11 is in fact an openjdk-10 fake :confused: ?

[code]

[2019-02-26 14:30] pvliss commented on #9322
Oh I just had a look at the code and indeed that is already the case. Thought it was TABLE generation by default. Nothing to do there . You are right. Sorry for wasting your time. Got to get some rest...

[2019-02-26 14:35] PierreBesson commented on #9145
@cremich Indeed it does seem to be the case : https://packages.ubuntu.com/uk/bionic/openjdk-11-jdk

@pascalgrimaud This will affect the jhipster/jhipster image.

[2019-02-26 14:41] jdubois commented on #9322
No problem @pvliss I know (and appreciate!) that you are trying to help

[2019-02-26 14:50] cremich commented on #9145
@PierreBesson i would like to help migrating to jdk11. is there an open pull-request or branch i can contribute to?

[2019-02-26 14:50] #9307 closed

[2019-02-26 14:52] PierreBesson commented on #9145
@cremich Please PR directly to master 😉, initial work has already been merged.
Docs can be contributed to : https://github.com/jhipster/jhipster.github.io
Additional CI builds can be contributed to : https://github.com/hipster-labs/jhipster-daily-builds

[2019-02-26 14:58] cremich commented on #9145
Ubuntu cosmic looks better :)
[code]

[2019-02-26 15:00] #8446 closed

[2019-02-26 15:16] tchlyah opened #9342 "@ManyToMany relationships add/remove methods build is broken"
##### **Overview of the issue**

add/remove methods for `@ManyToMany` relations doesn't compile since the list of the other entity is missing.

##### **Motivation for or Use Case**

`@ManyToMany`relationships build is broken.

##### **Reproduce the error**

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/8991

##### **Suggest a Fix**

##### **JHipster Version(s)**

[2019-02-26 16:40] Akashhhhh opened #9344 "Jhipster yarn run webpack:prod error"
Here is my issue link.

https://stackoverflow.com/questions/54883833/jhipster-webpack-production-error-in-src-main-webapp-app-app-main-ts-module-n

I have been stuck with this issue since 3 weeks. Please give me a solution regarding this matter.

TIA

[2019-02-26 16:40] sachinGBrightLifecare commented on #2101
Above changes does not help me , having same issue .

[2019-02-26 16:42] jdubois commented on #9344
Please don't cross-post, this is the bug tracker. There are people helping on their free time, and by cross posting you make them lose time... and hence have less chances to have them help you, as they have less time.

[2019-02-26 16:42] jdubois commented on #9344
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-02-26 16:42] #9344 closed

[2019-02-26 17:02] tchlyah commented on #7944
Hi @ivangsa, @randeepbydesign,

Did you guys drop the embedded entities ? It is an important option for Document databases!

[2019-02-26 17:06] jdubois commented on #9331
@MathieuAA isn't this something you should handle on JHipster Core?

[2019-02-26 20:41] Lakshamana commented on #9330
Thank you, @gmarziou, I'm making some changes in this material to get this working! Thanks a lot!

[2019-02-27 06:19] MathieuAA commented on #9331
Yes indeed.Already on it, just forgot to assign myself on this issue

[2019-02-27 09:11] Pranavism opened #9345 "version 5.8.1 broken due to HTTP version missing in jHipsterProperties class"
##### **Overview of the issue**

NOte: I upgraded from 5 to 5.8.1 version

1)jHipsterProperties.getHttp().getVersion()
getHttp().getVersion() is not found.
in WebConfigurer.java  , JHipsterProperties.Http.Version.V_2_0
Version is not found and it  is not in HTTP()
compilation error.

##### **Motivation for or Use Case**

This was working till a few days back with new build it fails

##### **Reprod

[2019-02-27 09:12] Pranavism commented on #9345
public static class Http {

        private final Cache cache = new Cache();

        public Cache getCache() {
            return cache;
        }

        public static class Cache {

            private int timeToLiveInDays = JHipsterDefaults.Http.Cache.timeToLiveInDays;

            public int getTimeToLiveInDays() {
                return timeToLiveInDays;
            }

            public vo

[2019-02-27 09:18] jdubois commented on #9331
Thanks a lot @MathieuAA !

[2019-02-27 09:19] Pranavism commented on #9345
More failures with 5.8.1
--------------------------------

Note: Hibernate JPA 2 Static-Metamodel Generator 5.2.17.Final
/Users/pranavsingh/Desktop/test/src/main/java/com/sb/uaa/config/LiquibaseConfiguration.java:14: error: cannot find symbol
import org.springframework.core.env.Profiles;
                                   ^
  symbol:   class Profiles
  location: package org.springframework.core.en

[2019-02-27 10:45] jdubois commented on #9306
I'm closing this as I understand @ruddell found the root cause of your issue.

Then, for me this option should only work for monoliths as it doesn't make sense for both microservices or gateways. I'm modifying the documentation for this, and will link the change here.

[2019-02-27 10:45] #9306 closed

[2019-02-27 10:53] jdubois commented on #9198
Closing as according to the comment this is solved.

[2019-02-27 10:53] #9198 closed

[2019-02-27 11:35] cremich commented on #9145
@PierreBesson just in case i understand this issue right:
do you plan to set the JAVA_VERSION constant by default to 11? or what do you mean by "we are going to keep JDK 8 through 11 compatibility for now" ????

[2019-02-27 12:29] pmverma commented on #9345
It seems there are problems with your local repository. Did you try by cleaning your local `~/.m2/repository` repository?

[2019-02-27 13:25] Pranavism commented on #9345
it is even failing on another machine.

[2019-02-27 13:31] Pranavism commented on #9345
This is HTTP class

public static class Http {

[code]

Note that there is no "Version" here.

[2019-02-27 14:32] Pranavism commented on #9345
<img width="944" alt="screen shot 2019-02-27 at 9 31 26 am" src="https://user-images.githubusercontent.com/41497523/53497597-87c49180-3a72-11e9-9829-ff9ccc431b6a.png">

[2019-02-27 15:03] Pranavism commented on #9345
@DanielFran  the change resulting in to this issue was made here
https://github.com/jhipster/jhipster/commit/b0d1223766997ee462a5f3a7be910d00ccb07655#diff-d73b450e042bc33509018d66093cf7e1

@JulienGard

[2019-02-27 15:27] cbornet commented on #9345
JHipster 5.8.1 depends on version 2.1.1 of jhipster-framework so you shouldn't pull 3.0.0-SNAPSHOT. Did you modify things manually ?

[2019-02-27 16:14] jdubois commented on #9250
Closing as we had no comments for 2 weeks.

[2019-02-27 16:15] jdubois commented on #9345
@Pranavism indeed, that change was commited 7 days ago and is not released yet, how come you are using it?

[2019-02-27 16:15] DanielFran commented on #9345
@Pranavism If you are using the master, you need to compile also the jhipster/jhipster project otherwise you will doenload a snapshot that has been created several weeks ago were the changes you invoke are not present.

[2019-02-27 16:20] #9194 closed

[2019-02-27 16:24] jdubois commented on #9279
@Tcharl maybe you could provide a code example, one with the constructor and one with the builder? So we can see more easily the differences?

[2019-02-27 16:28] Pranavism commented on #9345
@jdubois I did nothing out of normal!
I had a well working project (several components) then I upgraded it to 5.8.1 and still they were all working just as expected.
Later today I had to do a clean build and it started failing.
gradle properties has 3.0.0 Snapshot as version for jhipster dependency and since it does not have version related code it started failing.

I tried changing it to 2.1.1 an

[2019-02-27 16:29] Pranavism commented on #9345
@DanielFran thanks for getting back, if you don't mind can you please help me understand what exactly is required to fix this issue.

[2019-02-27 16:30] jdubois commented on #9345
@Pranavism sorry, I can't believe we are having a snapshot release with Gradle on our latest release!! Let me check ASAP

[2019-02-27 16:32] jdubois commented on #9345
On our sample app, that I generate with every release, we do use a stable version, see: https://github.com/jhipster/jhipster-sample-app-gradle/blob/master/gradle.properties

@Pranavism maybe this is an issue with our upgrade sub-generator, how exactly did you do the upgrade?

[2019-02-27 16:32] DanielFran commented on #9345
@Pranavism If you use v.5.8.1 it should not target jhispter/jhipster version 3.0.0-SNAPSHOT.

If you are creating the project based on master that you compile locally, you need also to compile jhipster-bom version locally (jhipster/jhipster project).
If you do not do that, it will try to download an old snapshot that was created some week ago that is probably the origin of your problem.

[2019-02-27 16:41] Pranavism commented on #9345
@jdubois I used upgrade sub-generator.
probably it is not just the snapshot because when reverted to stable version it results into failure across other config classes. is it that the upgrade sub generator pulled the config classes as well from non stable version ?

[2019-02-27 16:43] Pranavism commented on #9345
@jdubois  oh !! the projects that I upgraded are using spring boot 2.1.3 and has java 11 related OR condition in gradle

[2019-02-27 16:43] jdubois commented on #9345
@Pranavism I have no idea why the upgrade sub-generator pulled a non-stable version. This just should not happen, and I have never heard of this before.

[2019-02-27 16:43] PierreBesson commented on #9145
@cremich My idea is not to force the user's version to be java 11. Leave the user the capability to use any version between 8 and 11 for the time being. This means that we are not going to generate code using new java features for now and we also need to setup CI builds with java 8 to keep compatibility.

[2019-02-27 16:46] Pranavism commented on #9345
@jdubois  I guess this is why the newer builds were failing on k8s deployment.
Probably I should remove everything and re-install 5.8.1 and regenerate?

[2019-02-27 16:46] jdubois commented on #9345
@Pranavism yes that would definitely put you a stable release, but I don't really understand the issue

[2019-02-27 16:58] jdubois commented on #8915
As JHipster 6 should be released soon, I don't think this issue can be done in the meantime: @deepu105 are you OK to remove the JHipster 6 milestone here, so we do it later?

[2019-02-27 17:01] jdubois commented on #8150
We really need to have this soon for JHipster 6, @wmarques do you have time to work on this, or do you need help?

[2019-02-27 19:00] cremich commented on #9145
@PierreBesson ok got it. Thank you very much. I was wondering if my first throw in https://github.com/jhipster/generator-jhipster/pull/9346 was the right choice. I think the version should be set to 11 in order to allow the user to build his application with the new java features. I understand, that the generated jhipster files should be compatible with java 8.

[2019-02-28 07:48] pascalgrimaud opened #9347 "Protractor: failure for creating/deleting with different relationships"
##### **Overview of the issue**

Protractor tests failed with different relationships / pagination.

##### **Motivation for or Use Case**

Detected by https://dev.azure.com/hipster-labs/jhipster-daily-builds/_dashboards/dashboard/838f7bd8-7cb5-4bad-a47d-362df39abb27

You can look the full logs for ngx-mysql: https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=1580

####

[2019-02-28 08:13] salaboy opened #9348 "Use Spring Cloud Kubernetes in JHipster"
##### **Overview of the feature request**
It will be great to have an option to use Spring Cloud Kubernetes to avoid using the JHipster Registry when deploying to Kubernetes. This will also span to the Gateway project, which I believe is going to be the first real user of the Spring Cloud Kubernetes Discovery Client.
For individual Microservices, unless is really needed, we only need to make sure

[2019-02-28 09:46] pascalgrimaud opened #9349 "Protractor: application with session as authenticationType"
##### **Overview of the issue**

Protractor tests failed for an application with session as authenticationType, only with production profile :

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

- generate an application with session as authenticationType
- package in production profile
- run application
- run Protractor tests

##### **Related issues**

##### **Suggest a

[2019-02-28 10:01] wmarques commented on #8150
@jdubois I think this will be mostly cleaning so I should be fine, I just totally forgot about that.
I will provide a PR tomorrow

[2019-02-28 13:34] cbornet commented on #8303
When doing this kind of fix, please consider also doing it for the `reactive` option. Or at least open an issue for this.

[2019-02-28 13:39] DanielFran commented on #9165
Any news on this? This still coninue targeted for v6?
I despair for the v6 release... and it would be a must to have fully support for Kubernetes

[2019-02-28 13:40] DanielFran commented on #7708
@saturnism @srinivasa-vasu Any news on next evolution?

[2019-02-28 13:45] jdubois commented on #9165
I added this to the v6 milestone, but that's going to be hard to have! @PierreBesson would you have time for this? How can I help you?

[2019-02-28 13:48] cbornet commented on #8303
That said, SQL is currently not supported for reactive so not a big deal atm. Sorry for the noise.

[2019-02-28 14:06] DanielFran commented on #9165
By the way, take a look at this: https://k3s.io

[2019-02-28 14:13] PierreBesson commented on #9165
I will try to do it soon. Sorry I have lost so much time on the prometheus security issue.

[2019-02-28 14:49] #9080 closed

[2019-02-28 15:25] TYsewyn commented on #9348
I tested our current development of https://github.com/ordina-jworks/microservices-dashboard/ on Kubernetes with the discovery client, works like a charm 👌

[2019-02-28 15:38] salaboy commented on #9348
@TYsewyn which version are you using? You shouldn't need Snapshot.. Spring Cloud Kubernetes was released with spring boot 2 support

[2019-02-28 15:43] TYsewyn commented on #9348
I was talking about the version of the microservices-dashboard project, not spring-cloud-kubernetes :)

[2019-02-28 15:45] salaboy commented on #9348
hehe sorry about that then.. Iw ill remove my comments :)

[2019-02-28 15:50] jdubois commented on #9348
Not all our users are going to use Kubernetes, so this shouldn't be our only approach, but in my opinion the trend is clear and Kubernetes is going to be the de-facto standard for our microservices architecture (and also for monoliths, but we have less issues there).

Please also note that the current developer experience with Kubernetes is not very good, but we have enrolled (under NDA, so we can

[2019-02-28 16:14] jdubois commented on #8946
@PierreBesson as you closed the PR, shouldn't we also close this ticket?

[2019-02-28 16:15] jdubois commented on #9345
I'm closing this as I understand you probably upgraded manually, and are going to regenerate the app using a stable build.

[2019-02-28 16:15] #9345 closed

[2019-02-28 16:16] jdubois commented on #9298
Closing as per the last comment this looks solved

[2019-02-28 16:16] #9298 closed

[2019-02-28 16:17] Pranavism commented on #9345
Alright , I have them working with refreshed version.

[2019-02-28 16:24] PierreBesson commented on #8946
No I still want to do it.

[2019-02-28 19:17] alexsintoni commented on #9319
@wmarques @vishal423 I apologise for the delay of my reply.

I don't get any error and any log in my console and I can't change the parameter for [ngx-material-timepicker](https://github.com/Agranom/ngx-material-timepicker) because
[code]
does not react at all.
I will check if I changed something involuntarily and let you know.

Anyway, really thank you for you help

[2019-02-28 20:53] sendilkumarn commented on #9349
I guess the protractor tests are kind of flaky at the moment. It is constantly failing for the Kotlin branch 😢

[2019-02-28 20:55] sendilkumarn commented on #9349
It will be really awesome if we can split the `FieldTestServiceClassEntity` entity into two or three different entities

[2019-02-28 22:11] ben-manes opened #9351 "Caffeine cache support"
##### **Overview of the feature request**

Caffeine provides a higher performance local cache than JHipster's [default provider](https://www.jhipster.tech/using-cache). This is in regards to both [concurrency](https://github.com/ben-manes/caffeine/wiki/Benchmarks) and [hit rates](https://github.com/ben-manes/caffeine/wiki/Efficiency).

##### **Motivation for or Use Case**

The default provider may

[2019-02-28 22:16] jdubois commented on #9351
Hi Ben, I remember we talked about this a few years ago, I have no idea why this hasn't been done! Anyway, big +1 from me: I'll do my best to help, but that shouldn't be very hard.

[2019-03-01 05:36] pascalgrimaud commented on #9349
For this config, with prod profile, it always failed locally.
So there is a real issue.

[2019-03-01 10:07] wmarques commented on #9319
@alexsintoni Give me a reproduction case, or a repo that i can clone to reproduce this ;)
When I listen to the `onLangChange` event in a freshly generated app, it works.

[2019-03-01 11:52] salaboy commented on #9348
@jdubois thanks for the very detailed answer. This is exactly what I was expecting to read :)

I think that it will be good if we break it up into separate topics and I would like to propose the following "experiments", let me know if they make sense and sounds worth the (my spare) time:

- **New Spring Cloud Gateway with Spring Cloud Kubernetes**: this is basically to replace the current Zuul app

[2019-03-01 12:56] jdubois commented on #9348
Thanks @salaboy - there are 2 points that needs more explanation from my side:

- For the gateway: as we generate the whole Kubernetes config, we can also generate the configuration for the routes. Also, there are gateways that can be automatically configured from Kubernetes (Traefik for example). So here I'd rather have just a component that we configure, and not generate any application anymore.

[2019-03-01 15:13] PierreBesson commented on #9351
+1 Caffeine makes the most sense as default cache.

[2019-03-02 03:42] Pranavism opened #9357 "liveness and readiness http probe fails for microservices other than Gateway when UAA is deployed"
##### **Overview of the issue**

The kubernetes deployment for microservices fails for not gateway apps.
UAA based architecture is not working , is it not supported ?

Following is the container logs:

Profile(s): 	[prod]
External: 	http://10.8.2.13:8082/Organization
Local: 		http://localhost:8082/Organization

Application 'Organization' is running! Access URLs:

It seems the /Organization is the

[2019-03-02 07:12] Pranavism commented on #7337
@deepu105  does UAA +Gateway+Microservice architecture work with istio(no service discovery) option for K8s.
I see jwt auth based architecture works.
I just could not get it working , the health checks simply fails for some reason.

[2019-03-02 08:12] Pranavism commented on #9357
@jdubois  is UAA based architecture supported for kubernetes ?
with jwt it does work but when UAA is used all services other than gateway fails health check .
We have large customization around UAA for security context , is there a way to make UAA work?
@deepu105

[2019-03-02 08:15] jdubois commented on #9357
I have no idea I didn't work on those parts, why do you ask me specifically?

[2019-03-02 10:26] deepu105 commented on #7337
Its not a combination that I tested. May be @xetys will know more

[2019-03-02 13:49] xetys commented on #9357
hey,

this is related to #9027 and #9176, and I have a plan for it...I hope I'll find time to work on this one

[2019-03-02 17:47] #9335 closed

[2019-03-02 18:10] MathieuAA commented on #9331
Can't reproduce this one. Can anyone post a **complete** JDL sample for me? I've tried with
[code]

with and without something after

[2019-03-02 20:21] pmverma commented on #9331
@MathieuAA I had this same problem. But only for field comments.

[2019-03-02 22:06] MathieuAA commented on #9331
Okay that may explain why I could reproduce it but thought I must have messed up somehow because I couldn't today... Let me try again

[2019-03-02 22:26] Tcharl commented on #9120
Another good stuff I see  to not using sessions is that Kubernetes support will then be reachable ;-)

[2019-03-02 23:30] ruddell commented on #9288
Closing as this is fixed and released in v5.8.2

[2019-03-02 23:30] #9288 closed

[2019-03-03 05:10] ruddell commented on #9347
First, the JDL is invalid:
[code]
We should change that to do the same thing that Filtering does:
[code]
@MathieuAA can you handle this part please?

Then it warns the following, though I'm not sure if this causes issues.  The easiest fix is to remove remove relationships between `TestMapstruct` and entities not using DTO (all but `User` and `TestManyRelPaginDTO`).
[code]
Another issue, liquibase

[2019-03-03 09:17] colordove commented on #6863
Thanks for your comment, it works for me.

[2019-03-03 10:29] MathieuAA commented on #9331
Again, there's no error...
Here's what I'm gonna do:
  - write some heavy tests and see if, where and why it fails
  - if there's nothing, I'm gonna close this

I'm not excluding one commit must have fixed it without intent, between the last release and master I mean. So I'll do a release just to be sure.

[2019-03-03 10:31] MathieuAA commented on #9347
@ruddell Will do so today. I'll release a new version after this.

[2019-03-03 10:39] MathieuAA commented on #9331
Closing this. Feel free to open a new issue on JHipster-Core, with a failing JDL sample if anyone finds anything. I've tried with entities, fields, relationships...

[2019-03-03 10:51] OlivierMary opened #9361 "Microservice jaxb-api missing"
##### **Overview of the issue**

On a fresh generation start microservice failed cause jaxb-api implementation missing
No problem for gateway or mono.

[code]

##### **Motivation for or Use Case**

just `./gradlew`

##### **Reproduce the error**

generate microservice as following jhipster info, start docker dependencies and `./gradlew`

##### **Related issues**

0 similar issues

##### **Suggest

[2019-03-03 11:13] MathieuAA commented on #9347
@ruddell done, I'll release this afternoon... I'm going to see if I can make the linter available :)

[2019-03-03 13:56] PierreBesson commented on #8946
OK, so I lost tons of time on this (3 months!) and in the end could not find a satisfactory solution to have it work with all auth schemes, the front-end management pages (the same endpoint should also be accessible with JWT token, session, etc.) and not being too complex to configure for the user. So I'm doing a PR to leave the prometheus endpoint open for now. And we will advise our users that t

[2019-03-03 13:56] #8946 closed

[2019-03-03 14:27] jdubois commented on #8946
Fully agree with you @PierreBesson !! So sorry you lost time here, let's move to more exciting stuff!

[2019-03-03 14:36] Blackdread commented on #9084
@jdubois Hi who could check if this can be merged? Then need to discuss on generator to create the copy method and constructor.

Also it would require to add an interface for all criterias
[code]
But should it be added in jhipster server code or in generator?

[2019-03-03 15:52] #9349 closed

[2019-03-03 15:53] pascalgrimaud commented on #9347
Thanks for the analyze, guys
That means our entities in Travis/Azure are not correct and we must update them.

[2019-03-03 16:08] pmverma commented on #9331
I had problem with 5.8.1, I have not tried with master branch.

[2019-03-03 17:44] srinivasa-vasu commented on #7708
- Rate Limiting / Connection Pooling is already added, If I'm not wrong
- Initial Helm Support is added (#8630)

I'm waiting for #8987 to be merged to enhance helm support

[2019-03-03 18:23] pmverma commented on #9175
This is also happening inside vscode and it is really annoying. I will do a PR with suggested fix very soon.

[2019-03-03 18:41] amolpshinde07 opened #9366 "Unable to start project generated using Jhipster in STS / Eclipse"
##### **Overview of the issue**

I have created project using jhipster. I am able to run it using gradlew command but when I am trying to run it from eclipse then it throws below error and exists

`2019-03-03 18:38:29.955 DEBUG 5244 --- [  restartedMain] c.ehcache.core.Ehcache-usersByEmail      : Close successful.
2019-03-03 18:38:29.956 DEBUG 5244 --- [  restartedMain] c.ehcache.core.Ehcache-user

[2019-03-03 19:02] pmverma commented on #9100
Since the related hibernate fix didn't make into 5.2.x or 5.3.x, we have a few options to still have it(`@MapsId`) in jhipster.

1. Warn the users and have it documented as a known issue(not with jhipster itself but with hibernate)

1. Implement the code so that users won't be able to set new parent if there is already one. (I am not in much favor of this way as this is not related to jhipster but

[2019-03-03 19:14] pmverma commented on #9366
Have you tried to configure your IDE for annotation processors? Running from command line will work because gradle will take care of it. But for running from IDE, you have to configure the IDE so that it take care of annotation processors.

This should be a question on stackoverflow.

[2019-03-03 20:02] gmarziou commented on #9361
I had this missing jaxb api issue when running in JDK 11 while I was sure I was in JDK 8.

[2019-03-03 20:04] anthonyrichir commented on #8868
Hello,
I was going through the discussions of v6 and got really interested in this topic, and I must give you some feedback on this because you're doing a great job with Jhipster but on this one, I think you might be doing a mistake.

I think that using the maven-failsafe-plugin for executing the current *IntTest classes is not a very good idea.

This plugin relies on the following 4 maven phases

[2019-03-03 20:19] gmarziou commented on #9361
I took your .yo-rc.json file and generated a project: no issue for compiling.

[2019-03-03 20:48] OlivierMary commented on #9361
Hi,

It's not compile but at runtime.

./gradlew

With default task.

[2019-03-03 21:00] PierreBesson opened #9367 "Use the Prettier transform for all subgens"
##### **Overview of the feature request**

Following this PR https://github.com/jhipster/generator-jhipster/pull/9281 from @Fydon, we have prettierisation of YAML files for the main generator.

I'm proposing to add this transform to all our subgens and especially for the Kubernetes related subgens which use a lot of YAML. The v6 release is a good time to do this.

However there is something to be

[2019-03-03 21:16] Allsimon commented on #8868
Hello,

verify being after the package phase is really useful if you test with some others tools (https://github.com/palantir/docker-compose-rule in a multi module maven project for example).

Purely subjectively, I'd argue that the "slow" feedback loop is in fact "much faster".  I usually make a large part of the coverage with standard unit tests and fallback to Spring when we really need it. Ins

[2019-03-03 21:52] gmarziou commented on #9361
I have no issue running it as well with jhipster-registry, mongodb and kafka containers running.

[2019-03-04 06:33] #9292 closed

[2019-03-04 06:45] cbornet commented on #9175
The issue if I'm not mistaken is that the dev profile is not set. Adding the deps to the pom will probably not be enough as you should be either in dev profile or prod profile. We should even check that at runtime.

[2019-03-04 06:59] cbornet commented on #9367
In that case we should match the prettier style when generating the lube yaml.

[2019-03-04 07:13] pascalgrimaud commented on #8868
The tests were renamed but I'm reopening this as there is 2 points mentionned by Julien, which are still WIP:
- We need to check if all common IDEs support this correctly
- as well as Sonar

See :
- Maven: https://github.com/jhipster/generator-jhipster/pull/9337
- Gradle: https://github.com/jhipster/generator-jhipster/pull/9328

[2019-03-04 07:42] anthonyrichir commented on #8868
@Allsimon, I wasn't aware that a Cassandra container is instantiated, I'm not working with it, so I apologize for my mistake. And therefore, I agree, it makes sens to run those tests in the integration-test phase.

However, when starting a container is not required, I still think those tests should remain in the classic test phase.

[2019-03-04 07:50] atomfrede commented on #8868
@pascalgrimaud For me sonar is working fine, we use testcontainers a lot at work for integration testing and have no problems with sonar. What do you mean exactly by IDE support? As I mentioned already somewhere I would also go with having testcontainers for spring integration tests (when e.g. selecting not h2 in mem).

[2019-03-04 08:09] deepu105 commented on #9284
Yes it shouldn't be an issue. You can easily override files or use your own
util methods in the current setup

On Mon, 18 Feb 2019, 10:15 am Avdev4J, <notifications@github.com> wrote:

[2019-03-04 08:09] #9284 closed

[2019-03-04 08:22] OlivierMary commented on #9361
without this dependencies my console:
[code]

[2019-03-04 08:25] OlivierMary commented on #9361
the generated `build.gradle`

[code]

[2019-03-04 08:32] jdubois commented on #9361
I'm pretty sure you don't execute your app on Java 8. Java 11 support will be in the next release.

[2019-03-04 08:59] gmarziou commented on #9361
Yes, you are using jDK 11 as logged by maven:

[2019-03-04 09:00] #9361 closed

[2019-03-04 09:14] akiroussama commented on #9145
Hello Pierre,
Thanks for this great jobt, any date please for jhipster version that support java 11 ?

[2019-03-04 09:24] PierreBesson commented on #9367
So apparently there was a vote on https://github.com/prettier/prettier/issues/4723 and the behavior cannot be configured for now. The indented version looks fine for me and I think it's good to enforce conventions automatically.

[2019-03-04 09:36] jdubois commented on #9145
@akiroussama we never commit on release dates as most of the job is done during our free time

[2019-03-04 09:38] jdubois commented on #9175
yes that means the profile is not set, even though it's active by default in Maven (and that used to work!). So I'm guessing there is an issue in the Eclipse Maven plugin -> we should find a workaround, but most importantly this bug should reported to them (or we should find the existing ticket and link it here)

[2019-03-04 09:40] jdubois commented on #9366
Yes this is an annotation processor issue, you should configure it in your IDE, have a look at:

https://www.jhipster.tech/configuring-ide/

And if the documentation there is not correct, please tell us so we can improve it.

[2019-03-04 09:40] #9366 closed

[2019-03-04 10:46] deepu105 commented on #9296
Since spring boot supports it you can add it to a JHipster project the same
way you would do for a Spring boot project. You can also try to use the
default scheduler supported by Spring, using the @schedule annotations.
Take a look at the UserService for example

On Tue, 19 Feb 2019, 1:41 pm Julien Dubois, <notifications@github.com>
wrote:

[2019-03-04 11:32] pmverma commented on #9175
Of course activating the profile manually in the eclipse project setting works fine. But I'm not sure how to do it in visual studio code. And yes this issue seems related to the eclipse Maven plugin.

[2019-03-04 14:02] mraible commented on #9361
FWIW, I've used Java 11 with Spring Boot 2.1 and found different behaviors with Maven and Gradle. Everything works right away with Maven. With Gradle, I've had to add JAXB as a dependency.

[2019-03-04 15:10] jdubois commented on #9100
@pmverma either 1 or 3 for me. As 1 probably gives less work, and is the one you prefer, let's do it this way.

[2019-03-04 15:38] jdubois opened #9370 "Remove Oracle Docker image"
Unfortunately it is not possible to use a public Docker image for the Oracle database:

- The one we had been using, [sath89/oracle-12c](https://hub.docker.com/r/sath89/oracle-12c) has been removed
- As we can see on https://github.com/wnameless/docker-oracle-xe-11g/issues/118 and on https://github.com/oracle/docker-images/issues/1156 Oracle is sending DMCA requests and asking everyone to remove t

[2019-03-04 15:52] Allsimon commented on #8868
@anthonyrichir see https://github.com/jhipster/generator-jhipster/blob/c3803e580d442796ff1d00c0fe0924bb77ff1f56/generators/server/templates/src/test/java/package/AbstractCassandraTest.java.ejs

It is a Cassandra container

I agree with @atomfrede it would be really nice to have testcontainers for IT instead if the prod database used is supposed to be something else than H2

[2019-03-04 16:21] #9370 closed

[2019-03-04 16:23] anthonyrichir commented on #8868
@Allsimon ok, as I said, I'm not using Jhipster with Cassandra, and in such case, having those tests running with maven-failsafe-plugin can be discussed. However, you still don't need to package your app before executing those tests.

[2019-03-04 20:18] atomfrede commented on #8868
For gradle there is a new task of type test which does not require packaging the application.

[2019-03-04 20:25] MHTaleb opened #9372 "Using instant issue"
Hello dear Jhipster team :)
##### **Overview of the issue**
I m using Instant in jdl so when I updated my app using **jhipster import-jdl** command I m facing a **IllegalArgumentException: nanos > 999999999 or < 0**
the most important stack trace is as below

[code]

##### **Motivation for or Use Case**
I need to track some field by date and hour

##### **Reproduce the error**
to reproduce the err

[2019-03-05 05:53] pmverma commented on #9372
This issue seems related to persistence layer library or DB driver rather than jhipster itself.

Might be related to https://jira.mariadb.org/browse/CONJ-416
Have you tried with latest db driver?

[2019-03-05 08:14] avdev4j opened #9374 "Sonar : externalize sonar config in .properties"
##### **Overview of the feature request**
For the moment JHipster generate Sonar config in pom.xml or gradle properties. This mean we can use both wrappers for launch the sonar scan.
It useful but I think we can do better by adding a sonar-project.properties in project root folder and load it into pom (for example).
This could offer another way to launch sonar: [sonar scanner](https://docs.sonarqu

[2019-03-05 09:59] jdubois commented on #9081
As JHipster 6 is getting close, I believe this is an important feature: @atomfrede @pvliss do you think this can be done in the next few weeks? This won't block our beta releases so we can still do them without this.

[2019-03-05 10:04] jdubois commented on #9145
@PierreBesson from the original issue (as there are have been side-discussions here), I believe we should use `adoptopenjdk/openjdk11:slim` as it's TCK-certified.

So the plan is just to use JDK 11 everywhere? We also need to update our root Dockerfile at https://github.com/jhipster/generator-jhipster/blob/master/Dockerfile to use JDK 11.

For me this is top priority for JHipster 6.

[2019-03-05 10:18] PierreBesson commented on #9145
@jdubois Basically we can either use `adoptopenjdk/openjdk` which do their own builds based on ubuntu or keep using `openjdk` which is based on the debian package. Both should get updates anyway.

[2019-03-05 10:28] pvliss commented on #9081
@jdubois + @atomfrede I could work on this if @atomfrede hasn't already or does not have the time. Just let me know

[2019-03-05 10:44] PierreBesson commented on #9374
If you have problems setting up the maven plugin to read the sonar.properties files I can help.

[2019-03-05 11:00] atomfrede commented on #9081
Yes the first upgrade can be done. There will be some deprecation warnings (sadly we can't do much about them right now), but I can live with them. @pvliss If you find time go ahead. I would also suggest we replace the dependency scope `compile` with `implementation` (same for test etc).

[2019-03-05 11:28] pvliss commented on #9081
@atomfrede OK, I will start today. Should not be that difficult.

BTW, @pascalgrimaud while I have not checked what's changed should #9328 be also merged to avoid any possible conflicts?

[2019-03-05 11:42] MHTaleb commented on #9372
thanks it is driver related I m sorry :)

[2019-03-05 11:44] MHTaleb commented on #9372
the fix I applied was to set the  useServerPrepStmts: false in the the app yml configuration and it works
now I will try to use latest MariaDb driver and see what will be the result

thanks for the time you gived to my issue
this could be cloused now  I will update the result of my second attempt

[2019-03-05 12:03] #9372 closed

[2019-03-05 12:16] atomfrede commented on #9081
Regarding https://github.com/jhipster/generator-jhipster/pull/9328 we are basically waiting on the maven part, but from my point of view we do not need to have the exact same behavior with maven/gradle

[2019-03-05 13:41] jdubois commented on #9145
Well, I don't know the difference between `openjdk` and `adoptopenjdk` to be honest

[2019-03-05 15:17] deepu105 commented on #8915
I'm bit hold up due to my recent home shift etc, but let me see what I can
do next week. Leave it open for now I'll close it if I can't work on it
next week

On Wed, 27 Feb 2019, 5:58 pm Julien Dubois, <notifications@github.com>
wrote:

[2019-03-05 15:37] MathieuAA commented on #8915
If you can't work on it, tell me. I'm wrapping up the linter and will have some free time.

[2019-03-05 15:51] smulhall1337 opened #9376 "Overwrite files after confirmation rather than during"
##### **Overview of the feature request**

Jhipster will wait until after confirmation of all files that will be overwritten to perform its operations. This would allow a user to abort whatever operation they're doing in the event of a mistake (say an accidental overwriting of a file thats been heavily modified) and still preserve their files in the original state without having to do something li

[2019-03-05 15:55] jdubois commented on #9376
- I'm not sure we have the power to do it directly, as this comes from Yeoman -> in that case you would need to modify Yeoman first, so that's not impossible but more complex
- Personally I never work on a file by file basis like this: I overwrite everything and work with Git to choose which file I want to update or not. Isn't Git better suited for this kind of job?

[2019-03-05 16:11] smulhall1337 commented on #9376
Thats a fair point and it is what git is good at. I'd personally want to avoid any kind of merge if I can. The less comparing and merging files that I have to do, the sooner I can just get right back into what I was doing before.

[2019-03-05 17:26] MHTaleb commented on #9372
So as feedback
I tried last MariaDB version while enabling the use of server prepared statement but it doesn't work
I google disbling this is somehow fine because it is performance related, not security related.
however I wish that soon we will get a better driver version

thanks JHipster team

[2019-03-05 17:56] #9367 closed

[2019-03-06 11:21] raychenon commented on #9081
Hello everyone,
I have time to contribute on Gradle support and I'm catching up with the history and related tickets.

Ray

[2019-03-06 12:26] fishonweb opened #9380 "Add a css linter"
##### **Overview of the feature request**
For the moment, Jhipster has no css linter and it's very easy to write CSS very badly. It can be useful to add a css linter and avoid bad css code and mistakes.

##### **Motivation for or Use Case**
A css linter help to point out with your css code. It does syntax checking as well as applying a set of rules to the code that looks for problematic patterns o

[2019-03-06 13:37] pvliss commented on #9081
Hello @raychenon and thanks for offering to help out. I have already worked on this and just submitted PR #9381. Once @atomfrede reviews it then I guess you can also help out with any other tasks remaining. Lets wait for @atomfrede who is the gradle stream lead

[2019-03-06 13:51] vleboulanger opened #9382 "Angular - generator-jhipster - Couldn't follow symbolic link"
##### **Overview of the issue**

I upgrade my jhipster project from 5.7.2 to 5.8.2. Migration was a success, all works on my dev environment, but when I push on my gitlab server (ubuntu 18.04), compilation failed. I don't understand why...

I have a monolith project, with gradle, JWT, postgresql.

##### **Motivation for or Use Case**

I can not push upgrade project on my server..

##### **Reproduc

[2019-03-06 14:31] rakeshkalra1983 opened #9383 "User ImageUrl not getting set when login via Google Identity Provider through Keycloak"
##### **Overview of the issue**

When login to website using Google Identity Provider configured via Keycloak, not getting image of person.
I am able to login to website, and User's firstname and lastname is getting initialized fine, just that image is not getting setting.

If you think this is not Jhipster issue, can you please provide some hint or what could be wrong?

##### **Reproduce the erro

[2019-03-06 15:18] pvliss commented on #9081
@atomfrede It seems that [Gradle now supports BOMs natively](https://docs.gradle.org/current/userguide/upgrading_version_4.html#rel5.0:bom_import). I tested and made it work in a separate branch(based on #9381) but I have a few notes that I am not sure about :
1) The `io.spring.dependency-management` plugin is no longer needed and I have removed it. Removing this will also need to remove the `depe

[2019-03-06 15:29] atomfrede commented on #9081
@pvliss Great findings. I didn't test the bom support yet but it seems to work quite well. So if we can get rid of some plugins that would be great. As we do this for jh6 we can introduce breaking changes imho (and we have already).

Another feature we might exchange a plugin with native code is annotation processing, in fact the plugin is a noop plugin when using gradle 5.1. But thats nothing I w

[2019-03-06 15:35] DanielFran commented on #8868
Both #9337 (maven) and #9328 (gradle) have been merged, so I am closing this.

[2019-03-06 15:35] #8868 closed

[2019-03-06 16:16] pvliss commented on #9081
@atomfrede So should I push changes for native BOMs and double quotes to #9381  as well?

I did actually read about the annotation changes as well and checked out the apt plugin but the only thing that prevented me going forward was the fact that there is no replacement for eclipse users .See here: https://github.com/tbroyer/gradle-apt-plugin#do-without-netltgtapt-eclipse

[2019-03-06 16:36] mraible commented on #9383
This seems to be more of a Keycloak or IdP issue rather than a JHipster one. Maybe Keycloak provides a mapping you can do to convert from one property name to another?

[2019-03-06 16:55] atomfrede commented on #9081
Maybe push the changes for the quotes here and the bom part in another PR, easier to review and test.
Yes, thats why I would not rush the apt plugin changes. But as far as I understand the eclipse plugin will work now and most properly in the future too and if I got it correctly it can be used and should only affect eclipse, but in case we find there is no viable solution right now, I am totally o

[2019-03-06 18:24] rakeshkalra1983 commented on #9383
Thanks Matt, for reverting back. Can you please help here, I am really stuck on this from long time, what to check where, what mapping to provide? I assumed this all to work as part of Jhipster setup, as we do get realm file which we use to setup keycloak with Jhipster.

[2019-03-06 18:35] pvliss commented on #9081
Sure I will create separate PRs for the other changes.

@raychenon also offered to help. Maybe he could look into the apt plugin changes on a separate PR as well?

Maybe we should also create a checklist to keep track of what is done and by whom to avoid conflicts. What do you think?

[2019-03-06 21:07] raychenon commented on #9081
@pvliss , I can replace the  single quotes to double quotes :) . If you've already done it, push it.

Tasks left :
- native bill of materials (BOM)
- enable annotation processors https://github.com/tbroyer/gradle-apt-plugin#do-without-netltgtapt-eclipse . Should it be in another ticket ?
- what else ?

[2019-03-06 21:55] pvliss commented on #9081
@raychenon Yes, I have done both native BOMs and double quotes and will create PRs tomorrow.

@atomfrede at his [comment](https://github.com/jhipster/generator-jhipster/issues/9081#issuecomment-455259591) referenced some more although some have already been done(e.g. separation of Int tests). I also had a look at https://docs.gradle.org/current/userguide/upgrading_version_4.html but maybe missed s

[2019-03-06 23:31] DanielFran commented on #9286
Is this supposed to be done for v6?
Would love  to have this has soon...

[2019-03-07 06:00] #9081 closed

[2019-03-07 06:02] atomfrede commented on #9382
What runners are you using for gitlab ci? Can you check in your ci config to execute `npm install` directly instead via gradle?

[2019-03-07 06:11] atomfrede commented on #9081
@pvliss The openapi plugin is not yet in the gradle plugin portal, so that why it is still in buildscript block. And totally correct with `springboot_version`, thats why the boot plugin is still in buildscript block :)

Regardign the native annotation processor stuff. When I got it correctly currently idea does not forward to gradle by default (will be from the upcoming 2019 version). So maybe we

[2019-03-07 08:14] vleboulanger commented on #9382
I am using gitlab runner

In my gitlab ci, you want I replace

`./gradlew npm_install -PnodeInstall --no-daemon`

By

`npm install`

?

Thanks

[2019-03-07 09:13] wmarques commented on #9382
@vleboulanger yes I think that what @atomfrede meant :)

[2019-03-07 09:19] wmarques commented on #9380
I'm ok for it, since we use prettier, we should avoid conflicts between stylelint rules and prettier formatting

[2019-03-07 10:04] vleboulanger commented on #9382
it does not work :

`Successfully extracted cache
$ export GRADLE_USER_HOME=`pwd`/.gradle
$ npm_install
bash: line 70: npm_install: command not found
ERROR: Job failed: exit status 1`

If I connect on my server, and launch manually "npm install" on folder application, command run...

[2019-03-07 10:06] atomfrede commented on #9382
You may have to make sure to use a correct image in that case. E.g. a node/npm image as we have a jvm base image

[2019-03-07 10:10] vleboulanger commented on #9382
I try again

I put 'npm_install' instead of 'npm install' doh!!!

[2019-03-07 10:22] vleboulanger commented on #9382
Result is the same with 'npm install'

`> Task :npmInstall FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Failed to capture fingerprint of output files for task ':npmInstall' property '$1' during up-to-date check.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get

[2019-03-07 10:27] atomfrede commented on #9382
I think we didn't understand each other. You executed the task via gradle. What I asked for to make sure it is not a problem with npm or your runner to not use gradle to execute npm task, but use npm directly to execute the task. How is your runner setup? Is it a docker runner, a shell runner or something else? Which version of the runner and gitlab you are using?

[2019-03-07 10:33] vleboulanger commented on #9382
it is not a docker runner :

gitlab-runner version :

`Version:      11.7.0
Git revision: 8bb608ff
Git branch:   11-7-stable
GO version:   go1.8.7
Built:        2019-01-22T11:24:14+0000
OS/Arch:      linux/amd64
`

gitlab version : GitLab Community Edition 11.7.3

My server is Ubuntu 18.04.2

[2019-03-07 10:48] vleboulanger commented on #9382
complete trace :

`
$ ./gradlew test -PnodeInstall --no-daemon
Downloading https://services.gradle.org/distributions/gradle-4.10.2-bin.zip
..........................................................................

Welcome to Gradle 4.10.2!

Here are the highlights of this release:
 - Incremental Java compilation by default
 - Periodic Gradle caches cleanup
 - Gradle Kotlin DSL 1.0-RC6
 - Nested i

[2019-03-07 10:50] hungbqit opened #9387 "Different client id and client secret for different microservice application"
How do I can using different client id & client secret for two or three microservice applications? _(UAA Server configuration)_
Thanks!

[2019-03-07 11:34] DanielFran commented on #9095
@massimosiani Do you have news? It is just to understand if it can be included in v6 on time...

[2019-03-07 11:48] atomfrede commented on #9382
I would say it is a problem of your runner (so it is a shell runner, right?) Can you just the delete the node_modules folder in the build directory? All in all I would say it is not a jhipster issue.

[2019-03-07 11:50] deepu105 commented on #9376
yeoman indeed commits updates only when user accepts it so I don't think there is any more room to rollback an invalid decision. So as Julien said using Git is the recommended approach

[2019-03-07 11:50] #9376 closed

[2019-03-07 12:30] MathieuAA commented on #9387
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1.  our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2.  the ["create a new ticket" page](https://github.com/jhipster/generato

[2019-03-07 12:30] #9387 closed

[2019-03-07 12:58] vleboulanger commented on #9382
Ok I try, but with production version in jhipster 5.7.2, all it works

[2019-03-07 14:22] PierreBesson commented on #9280
I think we would want to have the implementation for the cache. We already have Memcached support. I think Redis should work similarly to Memcached.

[2019-03-07 14:50] vleboulanger commented on #9382
I upgrade gitlab, gitlab-runer, create a new runner.. it does not work

I am giving up upgrade project

[2019-03-07 14:50] #9382 closed

[2019-03-07 14:55] atomfrede commented on #9382
Did you remove the node_modules folder or was the runner empty? Sorry I can't help you more, but it works with gitlab.com, but I will try to have a look. But as it works on your local machine I suspect something with the gitlab runner, but I only use the hosted solution myself.

[2019-03-07 15:04] atomfrede commented on #9382
Can you check this issue? https://github.com/srs/gradle-node-plugin/issues/190 Maybe delete your .gradle folder on the runner? But as you said you tried a new runner not sure it would help.

[2019-03-07 15:06] vleboulanger commented on #9382
Yes I test with an empty runner

[2019-03-07 15:11] atomfrede commented on #9382
An it is a shell runner, right? Can you clone your repo and try to build it on the runner manually?

[2019-03-07 15:18] vleboulanger commented on #9382
Yes a shell runner
I create a new instance of runner => empty folder

I build with dev profile, content of profile_dev.gradle in 5.8 :

`
import org.gradle.internal.os.OperatingSystem

apply plugin: 'org.springframework.boot'
apply plugin: 'com.moowork.node'

dependencies {
    compile "org.springframework.boot:spring-boot-devtools"
}

def profiles = 'dev'
if (project.hasProperty('no-liquibase'))

[2019-03-07 15:20] atomfrede commented on #9382
You could try replace the `webpackBuildDev` task with the one from 5.7

[code]

[2019-03-07 15:53] pvliss commented on #9081
@atomfrede Regarding node plugin, I tested your script which while it works it took around 8.5 minutes to complete the first time on my Windows laptop. I have instead tested with https://github.com/node-gradle/gradle-node-plugin which is a fork of https://github.com/srs/gradle-node-plugin as the one used now seems to be stale and with a few changes seems to work just fine. I will create a PR for t

[2019-03-07 15:58] pvliss commented on #9081
😄 OK so I guess that means you are ok if we migrate to that one, right? Have you already done the changes or do you want me to do a PR?

[2019-03-07 16:00] atomfrede commented on #9081
Go ahead. For reference I looked at

* https://github.com/liferay/liferay-portal/tree/master/modules/sdk/gradle-plugins-node
* https://github.com/solugo/gradle-nodejs-plugin

[2019-03-07 16:07] pvliss commented on #9081
OK thanks. I briefly checked them out and think it would be better to stick with https://github.com/node-gradle/gradle-node-plugin for now as it seems the easiest to do. The liferay one does not seem that up to date and the other seems quite new and not very used yet, judging by the number of stars/forks. What do you think?

[2019-03-07 16:17] atomfrede commented on #9081
Yeah. Either use the fork (I don't know how it will be maintained) or stick with the original one for now and maybe check if we can build the needed functions into an own plugin later on.

[2019-03-07 16:19] pvliss commented on #9081
OK. Yes, I guess we could fix all these issues if we create a jhipster plugin. BTW, are you still interested in that?

[2019-03-07 21:08] alexplacinta commented on #7965
in case if is a chance for nodejs backend i highly recommend NestJS(https://github.com/nestjs/nest)

[2019-03-08 01:42] xenogew opened #9391 "Gitlab-CI found error with generated .gitlab-ci.yml"
##### **Overview of the issue**

Pipeline just started, and then found `FATAL: file does not exist`. And don't have any clues about the `file` was referred.

##### **Motivation for or Use Case**

The file is fresh generated, and then I modified a bit on `chmod +x mvnw` for other error I found before on Google. But it's not related.

##### **Reproduce the error**

- Create project
- Run local serve

[2019-03-08 03:33] pmverma commented on #9391
@xenogew Can you create a public sample repository on Gitlab with same error produced?

[2019-03-08 04:45] xenogew commented on #9391
@pmverma Sure, here [jHipster-Gitlab-CICD-failed](https://gitlab.com/w_nattasan/gitlabcibug)

[2019-03-08 05:14] atomfrede commented on #9391
Can you try the trick with making the wrappet executable? The fatal file not found doesn't fail the build. It tries to extract the cache which of course doesn't exist for a first build yet. But I will check later too.

[2019-03-08 05:39] xenogew commented on #9391
@atomfrede pardon, but I can't get your suggestion. Can you please describe more in specific command or method I need to do?

Does it related to JHipster cache I chose the choice, when first generated project?

[2019-03-08 05:42] atomfrede commented on #9391
No. I am talking about the gitlab ci cache. Give me a minute.

[2019-03-08 05:43] pmverma commented on #9391
I have forked and tested.
It is related to permission issue.
Have a detail look at log https://gitlab.com/pmverma/gitlabcibug/-/jobs/173964839

[2019-03-08 05:45] atomfrede commented on #9391
Exactly. The wrapper files are executable in our repository and I use gitlab ci a lot and it worked without any problems (for gradle). Has it something to do with using windows as client os (maybe it overwrites the executable flag?)

[2019-03-08 05:48] pmverma commented on #9391
@atomfrede As you can see there is no execute permission so I doubt even root can not run `./mvnw`.

[2019-03-08 05:49] atomfrede commented on #9391
You are right. Seen it too. Mh maybe something with the latest update of the ci runner infrastruture?

[2019-03-08 05:50] atomfrede commented on #9391
@xenogew Can you make the wrapper files executable via windows?

[2019-03-08 05:54] atomfrede commented on #9391
Sorry I am wrong! the unix maven wrapper is not marked executable in our repository

[2019-03-08 05:59] xenogew commented on #9391
@atomfrede Apologize, but I don't get the meaning and the term of "make wrapper files executable", do you have any hint or link to let me understand?

[2019-03-08 06:00] atomfrede commented on #9391
Try `git update-index --chmod=+x mvnw` such that the file is marked as executable and commit & push to your git repository again.

[2019-03-08 06:19] xenogew commented on #9391
@atomfrede did it, but still same
[ci-cd after git update-index --chmod=+x mvnw](https://gitlab.com/w_nattasan/gitlabcibug/-/jobs/173970881)

[2019-03-08 06:22] atomfrede commented on #9391
Sorry, forgot to tell you to remove `chmod +x mvnw` from the `before_script` of your your gitlab ci config.

[2019-03-08 06:45] atomfrede commented on #9391
I see the build is running. Will check why the wrapper is not executable by default on another machine without my develop environment for jhipster.

[2019-03-08 06:45] #9391 closed

[2019-03-08 07:02] pascalgrimaud opened #9393 "Running IT tests with IDEA (master)"
##### **Overview of the issue**

We can't run the IT tests with **Idea**, with current master 0eca33cccd11407a8d85b6cc8290c6cfee7d95f0 and the merges of these PR:
- https://github.com/jhipster/generator-jhipster/pull/9173
- https://github.com/jhipster/generator-jhipster/pull/9337
- https://github.com/jhipster/generator-jhipster/pull/9328

##### **Motivation for or Use Case**

I think it should wor

[2019-03-08 07:07] pascalgrimaud commented on #9391
@atomfrede : it is not the 1st time we saw this issue. Maybe we can add some documentation at https://www.jhipster.tech/setting-up-ci/ ?

[2019-03-08 07:11] #8150 closed

[2019-03-08 07:51] atomfrede commented on #9391
Yes will do it.

On Fri, Mar 8, 2019, 08:07 Pascal Grimaud <notifications@github.com> wrote:

[2019-03-08 07:55] vleboulanger commented on #9382
it works with this issue

[2019-03-08 08:29] atomfrede commented on #9391
@pascalgrimaud should (or can) we make the generator call `git update-index --chmod=+x mvnw` at the end to make sure the wrapper is executable?

[2019-03-08 08:30] pascalgrimaud commented on #9391
I think it's a good idea, we can try

[2019-03-08 12:19] pvliss commented on #9393
I think I have a fix for that issue and I believe it works at least for IDEA and command line but have not tested with VS Code. Will submit a PR but would like some help testing it out

[2019-03-08 13:06] pvliss opened #9395 "CI issue hiding errors in integration tests"
##### **Overview of the issue**
The CI at Azure Pipelines hides integration test error for the `webflux-mongodb` sample.

If you look at the logs([example build](https://dev.azure.com/pvlissidis0300/pvlissidis/_build/results?buildId=267)) of the `TESTS - backend` step (scroll down to the bottom) you will see that test `UserResourceIT.getAllUsers` fails but the CI completes successfully.

When I ru

[2019-03-08 13:07] pvliss commented on #9393
Thanks @DanielFran. Can someone please also check #9395

[2019-03-08 13:11] DanielFran commented on #9395
@pvliss Will fix it asap, this is related with using maven goal integrationTest instead of verify!
I was expecting that in packaging script verify -skipTest will validate th result even if tests are not rerun

[2019-03-08 13:13] pvliss commented on #9393
Just to note that issue described in #9395 was happening before #9394 was merged if you look back to the build history

[2019-03-08 13:14] DanielFran commented on #9393
@pvliss Yes, I know. See my comments in #9395

[2019-03-08 13:15] pvliss commented on #9395
Thanks @DanielFran. We then have to also fix the reactive support as well. I believe @cbornet is working on this?

[2019-03-08 13:25] DanielFran commented on #9395
@pvliss PR has been submitted, lets wait for the result

[2019-03-08 13:31] pvliss commented on #9395
OK, thanks a lot @DanielFran.

[2019-03-08 13:34] #9395 closed

[2019-03-08 13:37] DanielFran commented on #9395
@pvliss It is fixed and I merge it to master to avoid that we continue hiding errors

Can you please open a new issue for the specific error for webflux-mongodb?
Thanks

[2019-03-08 13:39] pvliss commented on #9395
Thanks @DanielFran . Yes I will create a new ticket for it in a while

[2019-03-08 13:45] DanielFran commented on #9393
Sorry I reopen by mistake

[2019-03-08 13:45] #9393 closed

[2019-03-08 14:02] pvliss opened #9398 "Failing integration tests for reactive apps"
##### **Overview of the issue**

The integration tests fail for sample `webflux-mongo` that tests reactive support.
See https://jhipster.visualstudio.com/generator-jhipster/_build/results?buildId=2494

The problem

##### **Motivation for or Use Case**

The integration tests should pass

##### **Reproduce the error**
Run integration tests for  `webflux-mongo`

##### **Related issues**
The problem i

[2019-03-08 14:08] pvliss commented on #9395
@DanielFran Opened issue #9398

[2019-03-08 15:14] jiangzhixiao opened #9399 "Jhipster 5.8.1,MSSQL-2005,hibernate_sequence Error"
##### **Overview of the issue**

Jhipster 5.8.1 doesn't work  with MSSQL2008 Database

##### **Reproduce the error**

1:If chose  MSSQL,And I'm using MSSQL-2008 R2
2:I'm not generate Any Entity,
3:run gradlew in command line
4:visit the login page,input username:admin,password:admin
5:error happend

`
Hibernate: select next value for hibernate_sequenceoke(NativeMethodAccessorImpl.java:62)
2019-03-

[2019-03-08 15:37] mraible opened #9400 "Locale is not set with OAuth / OIDC and Keycloak"
##### **Overview of the issue**

When I log in with Keycloak, the user's locale is not set. I'm using the latest code from the master branch.

<img width="1345" alt="screen shot 2019-03-06 at 5 13 18 pm" src="https://user-images.githubusercontent.com/17892/54038269-1a111780-418e-11e9-87c8-66770b4f2a54.png">

If I try it using the latest release - 5.8.2 - this issue doesn’t exist.

Here's my JDL:

[2019-03-08 15:39] JayanthReji opened #9401 "column is of type[] text but expression is of type bytea in hibernate"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

-   [x] Checking this box is mandatory (thi

[2019-03-08 15:51] gmarziou commented on #9401
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-03-08 15:51] #9401 closed

[2019-03-08 15:52] gmarziou commented on #9401
Please provide required details and we will re-open the issue.

[2019-03-08 16:16] PierreBesson commented on #9399
@jiangzhixiao Did you check that the Liquibase migration worked properly ? Can you paste the logs of this part (from the start of the app). But I probably won't be able to help you as I don't know anything about MSSQL.

[2019-03-08 16:21] darkmanAmazigh opened #9403 "adding sample example for getting previous url using jhipster generator"
Hi All,

Thank you for your great work, i like it,

Is that possible to add sample example for getting last location route using jhipster generator ?

[2019-03-08 16:34] atomfrede commented on #9403
This is not a **bug** or **feature request** and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Stack Overflow will give your question a larger audience:

- This will increase your chances to get

[2019-03-08 16:34] #9403 closed

[2019-03-08 17:45] mmohamm2 commented on #8887
I am running to similar issue.
"chmod: /entrypoint.sh: Operation not permitted" is raising on deployment of Jhipster microservice on OpenShift.
Updated Dockerfile per suggestion and added  HOME="/home/jhipster" and USER jhipster.
I can share the Docket file and entrypoint.sh and scc-config.yml(of Jhipster-registry) if required.

[2019-03-08 18:45] massimosiani commented on #9095
Hi @DanielFran, I was facing an issue with a couple of tests.
A PR is on its way!

[2019-03-08 19:36] vishal423 commented on #9400
I think it would be good to add langKey attribute in the keycloak realm. I guess we already have server side code to map from that attribute

[2019-03-09 00:55] jiangzhixiao commented on #9399
@PierreBesson I think Liquibase worked succesfully!

[code]

[2019-03-09 01:35] amarbalu commented on #777
Hi.. I'm facing the similar issue. I'm using react as front end? What I have to do?

[2019-03-09 01:53] mraible opened #9407 "Disable Elasticsearch health check in development"
##### **Overview of the feature request**

When using the `dev` profile, the Elastisearch health check should be disabled. Otherwise, developers will see the following stack trace and pester us incessantly with bug reports. Proof: I've already done it on the mailing list!

##### **Motivation for or Use Case**

It's annoying and makes you think something is wrong.

[code]

[2019-03-09 05:33] atomfrede commented on #777
Hints, we don't support IE officially, so no suprise it is not working. Furthermore Stackoverflow is the right place to look for a solution. We use axios to call our apis. Maybe this helps already https://stackoverflow.com/questions/45912500/reactjs-ie11-not-making-new-http-request-using-cached-data

Please don't comment on an **old issue**.
If you think this issue still applies, please [create a

[2019-03-09 07:27] deepu105 commented on #9120
Ok guys, this is not going anywhere so I'm gonna make an executive decision, as one of the project lead

I'm in favour of not adding  any new implementation to core and to keep status quo, you can ofcourse create a module/blueprint and demonstrate this so that people who are for JWT option can use it and as Matt said if it becomes popular we can reconsider additing to core. And hence I'm closing t

[2019-03-09 07:27] #9120 closed

[2019-03-09 08:43] deepu105 commented on #8915
Let me try this week, If I don't find time I'll ping you

Thanks & Regards,
Deepu

On Tue, Mar 5, 2019 at 4:37 PM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2019-03-09 13:50] DanielFran commented on #7966
@cbornet It seems that support for oas-3 is pratically done in https://github.com/springfox/springfox/tree/feature/2022/oas-3-support

[2019-03-09 17:16] cbornet commented on #7966
Yes. That's for the backend part and will be part of Springfox 3. This issue is about swagger UI for which we can already migrate.

[2019-03-09 17:52] RothAndrew opened #9408 "Add the main java application class to Sonarqube exclusions"
##### **Overview of the feature request**

Ignore the main java application class when evaluating test coverage in Sonarqube

##### **Motivation for or Use Case**

The main application class is typically ignored when evaluating code coverage due to it being very difficult or impossible to test.

##### **Related issues or PR**

PR incoming

-   [x] Checking this box is mandatory (this is just to sh

[2019-03-10 11:46] DanielFran opened #9413 "Update jhipster-core version"
Needed new version due to:
- #9368
- #8987
- #9405

[2019-03-10 12:17] DanielFran commented on #9413
@MathieuAA I created this issue so we do not forget that is needed a new version due to those PRs.

[2019-03-10 20:44] #9347 closed

[2019-03-10 20:48] DanielFran commented on #9398
@cbornet Can you help to fix the tests?
Thanks

[2019-03-10 22:36] mmohamm2 commented on #8887
I am running to similar issue.
 "chmod: /entrypoint.sh: Operation not permitted" is raising on deployment of Jhipster microservice on OpenShift.
 Updating Dockerfile per suggestion (adding  HOME="/home/jhipster" and USER jhipster) did not resolve the issue.
 I can share the Docket file and entrypoint.sh and scc-config.yml(of Jhipster-registry) if required.

[2019-03-10 23:27] #9400 closed

[2019-03-11 02:10] jiangzhixiao commented on #9399
ok,i resolved it!
just create table **hibernate_sequence**  by manual!
[code]
so,i guess the liquibase not create this table，is it related to this ???
[code]

@PierreBesson

[2019-03-11 07:24] MathieuAA commented on #9413
Okay, I'll release ASAP.

[2019-03-11 07:42] codelano opened #9415 "Java 11 support"
`[WARNING] Rule 1: org.apache.maven.plugins.enforcer.RequireJavaVersion failed with message:
You are running an incompatible version of Java. JHipster requires JDK 1.8`

I got this when trying to build new hipster project on Java 11. When do you plan to start supporting it?

[2019-03-11 07:59] pvliss commented on #9398
Did a bit of investigation on this issue and it appears that the problem is the use of `javax.servlet.http.HttpServletRequest` which is not supported by reactive Spring as explained in [this Stack Overflow answer](https://stackoverflow.com/a/40424049/1453446). Further looking into the [webflux docs](https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-ann

[2019-03-11 08:12] cbornet commented on #9398
There are already PRs to fix this.

[2019-03-11 08:15] pvliss commented on #9398
Oh sorry, I did not realize. Why are they not merged then?

[2019-03-11 08:16] cbornet commented on #9398
See #9379. There was a change in PaginationUtils to make it use HttpServletRequest but that fails with Webflux. The fix is to use UriComponentsBuilder and RequestParam instead.

[2019-03-11 08:17] pvliss commented on #9398
@DanielFran @cbornet  has created https://github.com/jhipster/jhipster/pull/202 and https://github.com/jhipster/generator-jhipster/pull/9379 to fix this issue. Can you have a look and merge them as they fix the CI problem?

[2019-03-11 08:18] cbornet commented on #9398
BTW the entity generator hasn't been done yet for Webflux.

[2019-03-11 08:18] pvliss commented on #9398
Cool. Thanks

[2019-03-11 08:39] fishonweb commented on #9380
Thanks, we started to use it on our project.
I totally aggree with you to avoid conflict between linter and prettier. For me both are complementary and prettier will use stylelint rules.

[2019-03-11 09:03] PierreBesson commented on #9261
So it seems we just need to add `private Class<?>[] exclusionList = {ZuulFilterInitializer.class};` for gateway apps.
As solved here: https://github.com/mraible/jhipster-ms-oidc-improved/pull/1

[2019-03-11 09:08] jdubois commented on #9415
In the next release.
Here you need Java 8 to build but this runs on JDK 11 already.

[2019-03-11 09:08] #9415 closed

[2019-03-11 10:34] aneri90 commented on #9279
Isn't that the same motivation behind not using project Lombok?

[2019-03-11 11:21] mraible commented on #9276
POC for microservices created at https://github.com/mraible/jhipster-ms-oidc-improved/pull/1

[2019-03-11 11:24] mraible commented on #9276
Integration in generator provided by https://github.com/jhipster/generator-jhipster/pull/9416.

[2019-03-11 11:55] wmarques commented on #9319
Closing this as non reproductible

[2019-03-11 11:55] #9319 closed

[2019-03-11 12:29] therepo90 commented on #1829
npm install -g npm@[version] fixed the problem

[2019-03-11 12:42] atomfrede commented on #1829
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2019-03-11 14:10] srinivasa-vasu commented on #8887
@mmohamm2 - Pls check the documentation. It's already updated there.

As I mentioned before, oc edit scc restricted and update runAsUser.Type strategy to RunAsAny would let you run the image built by jib plugin.

[2019-03-11 15:48] mmohamm2 commented on #8887
@srinivasa-vasu - Thanks for your response.

I have updated scc-config .yaml as :
Updated types under "seLinuxContext" to "RunAsAny"
Added strategy:     type: RunAsAny
Do I have make any other change. Still getting "chmod: /entrypoint.sh: Operation not permitted" error. on deployment.
scc-config.yml
# Security Context Constraint template.
#
# This defines customized scc and service account to run

[2019-03-11 15:49] mmohamm2 commented on #8887
@srinivasa-vasu - Thanks for your response.

I have updated scc-config .yaml as :
 Updated types under "seLinuxContext" to "RunAsAny"
 Added strategy: type: RunAsAny
 Do I have make any other change. Still getting "chmod: /entrypoint.sh: Operation not permitted" error. on deployment.
 scc-config.yml
 Security Context Constraint template.
#
# This defines customized scc and service account to run s

[2019-03-11 15:59] mmohamm2 commented on #8887
I have updated scc-config .yaml as :

Updated types under "seLinuxContext" to "RunAsAny"
Added strategy: type: RunAsAny
Do I have make any other change. Still getting "chmod: /entrypoint.sh: Operation not permitted" error. on deployment.
scc-config.yml:
apiVersion: v1
kind: Template
metadata:
name: scc-config-template
namespace: orx-portal-microservices-poc
annotations:
description: This template

[2019-03-11 16:01] KingZxx opened #9417 "Does jhipster have any plan to support spring cloud gateway?"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-03-11 17:59] jdubois commented on #9417
No, have a look in previous issues it's already discussed

[2019-03-11 17:59] #9417 closed

[2019-03-11 21:27] pvliss commented on #9398
Closed by #9379

[2019-03-11 21:27] #9398 closed

[2019-03-12 07:42] xenogew opened #9419 "I would like to add a description after name of choices of some modules."
##### **Overview of the feature request**

At the step to choose TEST suite to be added into, I would like to ask if you can add more description after the name of each modules.

##### **Motivation for or Use Case**

When I first generate I want to do as simple as possible, but after I develop for a while, I recognize I need the choice the generator offered before, such as TEST suite which has Gat

[2019-03-12 16:34] pmverma commented on #9419
Of course it will help. We have similar things for "other technologies" question.
@xenogew, Would it be okay for you to do a PR?

[2019-03-12 17:54] MathieuAA commented on #9413
Maybe not ASAP, this is a breaking change and I'd like to have something available for v4. Is there a "deadline" for v6?

[2019-03-12 22:08] Mbegu180 commented on #6032
i had the same i ssue, i syncronize project in my editor then npm start it works

[2019-03-13 02:57] xenogew commented on #9419
@pmverma Do you mean I make a change as I want for the description stuff and create a PR to the repository?

[2019-03-13 03:17] pmverma commented on #9419
@xenogew If I am not wrong, you want to put a description like

- Gatling (Performance tests - server side)
- Cucumber (Behaviour tests - server side)
- Protractor (Angular integration tests - client side)

Is that correct?
And sorry for confusing with "other technologies", actually just wanted to give you an example but you can see at many places in the generator code.

Yes, I meant the same as y

[2019-03-13 09:04] MooDySmiles opened #9421 "Change 'activeModal.dismiss' with 'activeModal.close' in deleting user"
##### **Overview of the issue**
When accepting the deletion of a user, the modal closes rejecting the 'NgbModal.result' promise

##### **Motivation for or Use Case**
If I confirm operation in the modal popup, then I expect that the 'NgbModal.result' promise will be resolved

##### **Reproduce the error**
Generation of a project with Angular as client framework

##### **Suggest a Fix**
Change `this

[2019-03-13 09:16] gaelgubian opened #9422 "Kubernetes Generator fail with ERROR! Copying template README-KUBERNETES.md.ejs"
##### **Overview of the issue**
Kubernetes Generator fail with this stack trace :
[code]
##### **Reproduce the error**
Create a new jdl file with kubernetes deployment.
ex :
[code]
Run the generator :
 jhipster import-jdl ./model/model.jdl

##### **Related issues**
none

##### **Suggest a Fix**
generator-jhipster\generators\kubernetes\templates\README-KUBERNETES.md.ejs:98
Replace
`<%_ if (app.serv

[2019-03-13 15:19] mraible opened #9424 "Add Resource Server by default (for mobile clients)"
##### **Overview of the feature request**

To help make #9276 easier, I think we should include an OAuth 2.0 resource server when the user chooses OIDC for authentication. We already configure a resource server (with audience validation) for microservices, so it'd just be a matter of configuring it for gateways and monoliths.

Adding this feature would involve adding an `AuthInfoResource.java` tha

[2019-03-13 15:22] vishal423 commented on #9421
yes, it should be corrected. can you raise PR with changes or I can do when time permits

[2019-03-13 15:32] mraible opened #9425 "Compilation of PaginationUtil fails on master"
##### **Overview of the issue**

Tried to generate a new project with React and OAuth 2.0 and it fails.

[code]

##### **Motivation for or Use Case**

I can't get Spring Security 5.1 OIDC working with React until the code compiles.

##### **Reproduce the error**

Create an app with the following `.yo-rc.json`:

[code]

[2019-03-13 15:38] MooDySmiles commented on #9421
I've never done a PR before, but I can give it a try :wink:

[2019-03-13 20:53] amatosg commented on #9422
shouldn't it be disabled then? 🙄

[2019-03-13 21:10] hermeslm commented on #5807
As a suggested solution you can change your .yo-rc.json file and set the values like this:

` {
    ...
    "databaseType": "sql",
    "devDatabaseType": "h2Disk",
    "prodDatabaseType": "postgresql",
    ...
`

You can set "devDatabaseType" and "prodDatabaseType" properties with the same value, it doesn't matter and finally run the generator command like this:

`jhipster entity MyEntityName --sk

[2019-03-13 21:36] mraible commented on #9425
I checked out the latest master of https://github.com/jhipster/jhipster and ran `mvn install` locally. This solved the problem.

[2019-03-13 21:36] #9425 closed

[2019-03-14 07:37] xenogew opened #9426 "CI-CD to Heroku failed using Maven"
##### **Overview of the issue**

I followed the instruction from generated project -> generate with `ci-cd`, choose Gitlab and Heroku ->  do Heroku sub-generate.

Then push to Gitlab pipeline is all green, but trace log on Heroku, the deployment failed from

[code]

##### **Motivation for or Use Case**

After I found that, what I tried is add this `ls -ltr * && cp -R...` in the `Procfile` in `rele

[2019-03-14 10:30] pdelaby commented on #9305
I was going to open a pull request to translate the french labels on this particular field ( `global.form.currentpassword` and `global.form.currentpassword.placeholder` are not translated in french) ( cf https://github.com/jhipster/generator-jhipster/blob/master/generators/languages/templates/src/main/webapp/i18n/en/global.json.ejs )
Shoud I wait for the labels changes to do it?

[2019-03-14 10:37] wmarques commented on #9305
@pdelaby No that's ok that's not a big change so you can already provide your PR :)

[2019-03-14 10:40] wmarques commented on #9421
@MooDySmiles don't hesitate if you need help on your PR, you can read the Contributing guidelines here: https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

[2019-03-14 13:50] DanielFran opened #9428 "[Kubernetes] Logging format"
Kubernetes expects the application services to log output to stdout stream by default and provide documentation how should be then transfered the logs for observability.

Since we use elk for logging, to allow better integration we shoudl expose logs in json format.

My proposition would be for Production environment to wrote directly in stdout the logs in json format.

I can provide a PR with the

[2019-03-14 13:57] DanielFran commented on #9428
@PierreBesson Do you think this is something usefull that should be integrated in jhipster?

[2019-03-14 14:25] PierreBesson commented on #9428
The logback-logstash-appender already report logs in JSON format and send the logs directly to logstash.

Of course you can retrieve logs in a different way for example by plugging into the kubernetes logging driver. I guess in this case having the logs as JSON is a possibility. We could ship with an optional configuration to do it.

Oh and I see that the logstash-logback-endoder now support JSON

[2019-03-14 14:33] DanielFran commented on #9428
@PierreBesson Yes, the changes I wanna to propose is only to change logback file with the necessary changes in the appender to a format like:
_{"@timestamp":"2019-03-13T11:50:23.706+00:00","@version":"1","message":"The following profiles are active: dev,swagger","logger_name":"i.r.e.s.e.MyApp","thread_name":"restartedMain","level":"INFO","environment":"dev","application":"myApp","nested":{"customR

[2019-03-14 14:37] PierreBesson commented on #9428
No the problem with the logback file is that it is always enabled which some people might not want.
You need to add the conf to LoggingConfiguration (as java code) configurable with a property so the feature can be enabled/disabled with env variables... This way we can enable it for the Kubernetes subgen without impacting other people.

[2019-03-14 14:41] DanielFran commented on #9428
OK, will investigate, otherwise I have it working changing logback file.
But I like your new approach!
Will then do a PR when I have something to show.
Thanks

[2019-03-14 14:46] PierreBesson commented on #9428
Great looking forward to review it.

[2019-03-14 18:23] tibistibi commented on #9305
i will do it before monday

[2019-03-15 07:31] kamleshgorasiya commented on #5192
Hello, I have the same issue. But when I checked the console of the browser while clicking the entity class it shows below message

` User has not any of required authorities:  ["ROLE_USER"]0: "ROLE_USER"length: 1__proto__: Array(0)`

Please suggest the solution for this issue. I have checked in the table for the default user and it is assinged with ROLE_ADMIN,

Don't understand why this happening

[2019-03-15 08:17] developpef opened #9430 "Empty jhiPrefix leaves an underscore"
##### **Overview of the issue**

In .yo-rc.json, set jhiPrefix option to empty string "". Attributes in generated entities keep an "_" as prefix...

##### **Motivation for or Use Case**

Avoid jhi prefix generation.

##### **Reproduce the error**

See overview

##### **Related issues**

##### **Suggest a Fix**

If empty jhi prefix is set, do not generate any prefix, even "_".

##### **JHipster Ver

[2019-03-15 08:40] developpef opened #9431 "mapstruct alternative for DTOs"
##### **Overview of the issue**

MapStruct library is incompatible with Hibernate lazy loading (as discussed here https://github.com/mapstruct/mapstruct/issues/778). But DTO concept (and mappers) are a must have in complex applications. But in JDL, if "dto * with mapstruct" is commented, all Mappers and DTO are deleted from generated sources...

##### **Motivation for or Use Case**

DTOs and Mappe

[2019-03-15 08:51] jdubois commented on #9431
No time to read the linked ticket at the moment, but I can guarantee you MapStruct totally works with Hibernate and lazy loading. I'm doing this all the time and there's nothing specific in fact. You just load your relationships inside the transaction.

[2019-03-15 08:55] developpef opened #9432 "ManyToMany relations and navigability"
##### **Overview of the issue**

In JDL, set up a relation as :
`relationship ManyToMany {
AEntity{childrens} to BEntity
}`

But in generated sources, calls are generated to : BEntity.getAEntities()  that do not compile, since BEntity should have no links to AEntity, since I did not specify any relation like "BEntity to AEntity".

##### **Motivation for or Use Case**

This could relate to navigabi

[2019-03-15 09:37] developpef commented on #9431
The problem is not that we cannot load lazy entities, the problem is that intentionally not loaded entities (the point of lazy loading) are loaded by the mappers...

[2019-03-15 09:42] jdubois commented on #9431
If you don't want the relationship then you shouldn't map it

[2019-03-15 09:54] developpef commented on #9431
I wan't it, but only when I decide to load it

[2019-03-15 10:33] jdubois commented on #9431
In that case you can't use a DTO, just use the entities directly within a transaction.
BTW we disable the open session in view pattern as we believe it causes too many issues but you might like that option.

[2019-03-15 10:37] avdev4j commented on #9430
Hi @developpef
I'm not sure it's a good idea since prefix has been added to prevent some problems about using reserved names in tables names.

It's the case for User (I think). If you remove the whole prefix your database will raise an error. "User" as table name is not allowed.

[2019-03-15 10:44] murdos commented on #9430
The problem is that JHipster considers a lot of word as reserved names. Even "label".
I think we should support empty prefix as an advanced usage, maybe with a warning, and let users assume if they have errors with the generated code.

[2019-03-15 11:41] vishal423 commented on #5192
User roles are not hierarchical, at least on front end side. You can either assign role `ROLE_USER` to current user or modify route to allow access to user with role `ROLE_ADMIN`

[2019-03-15 12:44] PierreBesson commented on #9431
I agree with Julien here, Lazy loading does work correctly with Mapstruct but obviously as soon as you map the values from the entity to the DTO they need to be loaded from Hibernate. For me this is a feature as it prevents the LazyInitializationException.

Also see this resource on open Session In view: https://vladmihalcea.com/the-open-session-in-view-anti-pattern/

[2019-03-15 12:44] #9431 closed

[2019-03-15 12:48] PierreBesson commented on #9426
I think I have already encountered this "bug". It's because the `ci-cd` option for deploying to heroku presupposes that you have already configured Heroku deployment with `jhipster heroku`.
@xenogew Can you confirm that it works normally when setting it up first with `jhipster heroku` then with `jhipster ci-cd` with the Heroku option.

[2019-03-15 13:02] yudar1024 opened #9433 "please consider provide a mechanism to override jhispster dependencies"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

we use mongodb 4 and need use the ACID transaction. but jhipster 5.x still in spring boot 2.0.x. the mongodb related dependencies version is low can not support the transaction feature. we want upgrade some dependencies to make it available. but the modification of pom doesn't effect the dependencies of project. all t

[2019-03-15 13:14] jdubois commented on #9433
It's not blocked, we just provide a bill of materials and you can override it the way you want.
In fact, it's made to be overriden.

[2019-03-15 13:21] developpef commented on #9430
Hi,
I agree with @murdos point. My case is that even "start", "to" (column names) and so on are considered reserved...
A simple warning would be OK for me.

[2019-03-15 13:32] iamdylan commented on #6566
I was using ionic and tried everything. But this is the only thing that worked.
Specifying the root module like this...

ionic g page page-name --module app.module.ts

where g can be generate and page can be component too.

Notice the syntax of --module, because for me --module='app.module.ts' didn't work.
Hope this helps someone.

[2019-03-15 13:37] developpef commented on #9431
You are fast in closing issues... Let me try to explain a last time the use case :

Data model is complex, EntityA could be linked to thousands of EntityB.
For performance issue, when we display a summary list of EntityA, I don't want to load thousands of EntityB for each EntityA... But when user enters EntityA's edit form, I have to load all its related EntityB.

I have an API like "/api/entities

[2019-03-15 13:40] yudar1024 commented on #9433
how？ do you mean modify jhipster-dependency pom directly?  that's need every project memeber modify their local pom in maven local repository, or copy the jhipster-dependency pom dependencies element content to project pom?

[2019-03-15 14:09] atomfrede commented on #9431
Sound resonable, but I also don't consider it as jhipster issue. I even would create custom special api endpoints to serve this purpose instead of doing something like `incomplete` or `embedd`.

[2019-03-15 14:16] jdubois commented on #9431
I'm sorry but your ticket said: "MapStruct library is incompatible with Hibernate lazy loading", and that's wrong, and this wouldn't be a JHipster bug.

For your use case I would do like @atomfrede indeed. Please note we have the concept of "VM" (View Model) for this.

[2019-03-15 14:18] jdubois commented on #9433
You modify your pom.xml directly, or do your own BOM which inherits from the one from JHipster... Our BOM inherits from the Spring Boot BOM so it's exactly the same way as with a normal Spring Boot app.

[2019-03-15 14:26] developpef commented on #9431
My initial question was to ask if it would be possible for JHipster to use an alternative to MapStruct or no library at all (and generate raw DTOs and Mappers).

[2019-03-15 14:28] jrSin2 commented on #1900
You need to update jhiTranslate file under src/main/webapp/i18n/en/

[2019-03-15 14:42] jdubois commented on #9431
Oh then no, we'll not move away from MapStruct. It works really well, except maybe for the annotation processor that needs to be configured in IDEs. And feedback on MapStruct is usually extremely positive.
Also, moving away from it would be an enormous amount of work.

[2019-03-16 13:40] mraible commented on #9424
Fixed by https://github.com/jhipster/generator-jhipster/pull/9416.

[2019-03-16 13:40] #9424 closed

[2019-03-16 13:41] mraible commented on #9276
This work has been completed in JHipster. Ionic for JHipster and Ignite JHipster still need to update their OIDC implementations for JHipster 6.

[2019-03-16 13:41] #9276 closed

[2019-03-16 15:05] cyrano007 opened #9434 "jhipster app creation faild with jhipster cloudfounry"
##### **Overview of the issue**

burner:~/DEV/jh$ jhipster cloudfoundry
INFO! Using JHipster version installed globally
INFO! Executing jhipster:cloudfoundry
INFO! Options: from-cli: true
CloudFoundry configuration is starting
events.js:174
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'endsWith' of undefined
    at module.exports.getAngularAppName (/usr/lib/n

[2019-03-16 16:29] #9399 closed

[2019-03-16 16:31] amrnablus opened #9435 "incorrect webpack proxy config when using capital letters in the project name"
##### **Overview of the issue**

Simply generate a new microservice project and name it something like demo**M**icroservice, when generating an entity from the microservice gateway the proxy will be named demo**m**icroservice

all the requests to the APIs from demoMicroservice will be 404
##### **Reproduce the error**

- Create a microservice application with a capital letter in the name
- generat

[2019-03-16 16:33] amrnablus commented on #9435
P.S: sorry seems i forgot to mention i'm running linux mint 19, I think the issue won't happen on macOS or windows since the directory names are not case sensitive.

[2019-03-16 17:57] mraible opened #9436 "React: private-route.spec.tsx is failing"
##### **Overview of the issue**

This error is happening on the `master` branch:

[code]

##### **Motivation for or Use Case**

I'm able to reproduce this locally. However, it seems like it's broken in the last release (5.8.2) as well.

##### **Reproduce the error**

Create a new project with React. Run `npm test`.

<img width="1354" alt="Screen Shot 2019-03-16 at 11 57 12 AM" src="https://user-im

[2019-03-16 18:03] gmarziou commented on #9434
means that you are running `jhipster cloudfoundry` ,from a directory that has not jhipster installed cloally in local node_modules sub directory, this raises the question: did you first generate an app with `jhipster`command in this directory before running `jhipster cloudfoundry`sub generator ?

[2019-03-16 18:06] #9434 closed

[2019-03-16 18:19] ruddell commented on #9425
For reference (at least on Mac), you also need `gpg` installed and any signing key generated or else `jhipster/jhipster` will throw an error during `mvn install`

[2019-03-16 18:41] ruddell commented on #9435
Without your config, we can't reproduce the issue easily.  In the upcoming v6, the webpack dev proxy paths for microservices are no longer generated as we use HTML5-mode (no # in URL).

Also note that directory names don't have anything to do with the Zuul routes, it's based off the app's registration in your service discovery choice (default is JHipster Registry).

The Zuul routes should all be l