[2015-11-09 08:15] jdubois commented on #2100
@deepu105 no, no news from this!
Are you wanna do this?

[2015-11-09 08:18] jdubois commented on #2306
For me this sounds more like something that would be added to the project, like a plugin -> I'm going to send a first proposal for that on the dev mailing list, let's discuss this together and then add tickets here for everyone

[2015-11-09 08:19] deepu105 commented on #2150
i can confirm this issue, i get similar issue when running tests with one-to-one entities
[code]

I think the probelm is with the naming resolution of the id column, we use SpringNamingStrategy but still somehow hibernate is using a different pattern, not sure if spring bug or hibernate bug

[2015-11-09 08:41] amit2103 commented on #2100
@jdubois Sorry for the delay was in a holiday...created a pull request with java changes...Will update the JS changes soon

[2015-11-09 09:05] deepu105 commented on #2306
oops I almost forgot the mailing list :smile_cat:

[2015-11-09 09:40] tapas4java commented on #2306
+1

[2015-11-09 10:48] jdubois commented on #2291
Same issue for me, looks like some interesting JVM trick!!!

[2015-11-09 11:02] jdubois commented on #2291
OK, found it:

- This is because of Spring Boot devtools : those classes come from different classloaders, so the instanceof doesn't work -> we need to find another solution here!
- The JS error still occurs, so it's another ticket probably

[2015-11-09 11:23] jdubois commented on #2291
Of course, the incredible thing is that this only occurs with OAuth2 -> the classloader is correct for the other types of authentication!
-> to test this, remove the Spring Boot devtools with OAuth2, it will work!

[2015-11-09 11:32] jdubois commented on #2291
In the end, this is a Spring Boot devtools issue, I'm going to submit a ticket to them

-> if you use OAuth2 and have this issue, the workaround is to remove Spring Boot devtools from your Maven/Gradle build

[2015-11-09 11:35] jdubois commented on #2291
After reading more about the latest Spring Boot version -> we should instead migrate to the new enhanced OAuth2 support (with @EnableAuthorizationServer etc)
I guess they have better tested those and that they work

[2015-11-09 11:39] tapas4java opened #2312 "main.css is not getting transpiled from main.scss when run through mvn"
Steps to reproduce:

1. Create a new app with SASS enabled
2. Run `mvn` and access the url in browser
3. Notice the disrupted UI and see the browser console for error

NOTE: Running through gulp/grunt works fine

[2015-11-09 11:50] cbornet commented on #2291
@jdubois You mean to use the autoconfigured AuthorizationServerConfiguration ? I looked at it when working on #2213 but I wanted to have allowFormAuthenticationForClients() and ClientDetailsServiceConfigurer.jdbc() so I eventually didn't use it. But maybe some autoconfiguration can be overridden afterwards.

[2015-11-09 13:26] jdubois commented on #2291
@cbornet I'd like to use the new configuration of course as it's new (and we need to follow the changes), but mostly because I guess they have tested it better with devtools.
As you have worked on this, didn't you have this issue?

[2015-11-09 13:28] jdubois commented on #2216
I should have seen this earlier: #2291 is a duplicate from this one!!
But as you didn't write you were using OAuth2 I didn't see the link.

So this issue is very well documented here (a lot better than the other, it took me some time to find out what you already found!), but you can find the workaround and discussion on #2291 -> this is why I'm closing this one, as we should only have one ticket o

[2015-11-09 13:28] #2216 closed

[2015-11-09 13:31] jdubois commented on #2239
It looks like the culprit is in fact Spring Security.
For security reasons, by default, they remove all cache control -> this is understandable, of course.

Then, those resources are supposed to be ignored by Spring Security, so there is something new which has broken our initial code.

[2015-11-09 13:50] jdubois commented on #2239
I got it working, but it's in fact a mix of both devtools AND Spring Security. Both of them are setting wrong headers...

[2015-11-09 14:09] jdubois commented on #2308
Please follow our guidelines -> this probably depends on your authentication mechanism, which one are you using? Which JHipster version?

I'm closing this as the guidelines are not followed, we'll open it up again if you provide enough information.

[2015-11-09 14:09] #2308 closed

[2015-11-09 14:12] jdubois commented on #2312
Yes you need to have grunt or gulp running to have SASS working, they are the one doing the work! If you just use Maven it will not work, that's normal.

In fact, it looks like this is not documented, there should be a specific page for this inside our "options" menu at jhipster.github.io -> I'm marking this as "documentation" as this should be documented.

As I'm not using this myself, who would

[2015-11-09 14:28] jdubois commented on #2239
Corrected the Spring Boot issue, and a last PR with a mistake is on the way!

[2015-11-09 14:28] #2239 closed

[2015-11-09 14:49] tapas4java commented on #2312
What about adding main.css to assets directory when we scaffold the app. Just a suggestion :)

[2015-11-09 14:49] vivekmore commented on #2262
The error method

    error(String msg, Throwable t)

on the Logger accepts a **Throwable** only when the total number of arguments are 2. The bug is about the mismatch in number of arguments (2nd argument onwards) passed to the number of placeholders in the format (1st argument) as mentioned in the bug description. The actual error method getting called in the generated code is

	error(String for

[2015-11-09 14:58] tapas4java commented on #2312
Most of the users will try to check the app after running `mvn` and they will feel something broken. We can describe in doc as if user wants to modify main.scss, he needs client side server running in order to transpile the scss.

[2015-11-09 15:01] gzsombor commented on #2262
Yes, it's a bug

[2015-11-09 15:05] jdubois commented on #2312
Yes I'm not using it myself, I think @deepu105 does -> Deepu, any ideas?

This should at least be better documented, clearly.

[2015-11-09 15:09] jdubois commented on #1896
@atomfrede yes the doc is here: http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#cloud-deployment-openshift

[2015-11-09 15:49] Panthro opened #2313 "Password in UPPERCASE in initial_schema"
Is there a reason for that?
https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/resources/config/liquibase/changelog/_initial_schema.xml#L29

My liquibase diff always tries to generate the password field because it's not there.

I tried to find any issues related to that but couldn't, so sorry if this was discussed earlier.

[2015-11-09 15:55] deepu105 commented on #2262
Oops sorry my bad I didnt look close enough
On 9 Nov 2015 23:01, "Zsombor" <notifications@github.com> wrote:

[2015-11-09 16:00] deepu105 commented on #2262
Closed via https://github.com/jhipster/generator-jhipster/commit/f8cb326e1c52fffb17e543e0400d796092076efe

[2015-11-09 16:00] #2262 closed

[2015-11-09 16:00] deepu105 commented on #2262
Corrected

[2015-11-09 16:03] deepu105 commented on #2312
Ya i guess it can be improved ill work on it, and few other grunt things
that can be pre generated during app creation
On 9 Nov 2015 23:05, "Julien Dubois" <notifications@github.com> wrote:

[2015-11-09 16:03] deepu105 commented on #2313
I think its coz of some reserved keyword with either oracle or posgres
On 9 Nov 2015 23:50, "Rafael Roman" <notifications@github.com> wrote:

[2015-11-09 16:11] Panthro commented on #2313
Shouldn't the User.java have the column name on the annotation then?
https://github.com/jhipster/generator-jhipster/blob/master/app/templates/src/main/java/package/domain/_User.java#L57

[2015-11-09 16:33] jdubois commented on #2225
Oh looks like this issue: https://github.com/cloudfoundry/cli/issues/411

-> I'm going to work on this for the next hour, I'll post feedback here

[2015-11-09 17:09] jdubois commented on #2225
OK this is a bug in Spring Boot 1.3 as written in my previous comment.

I have a workaround, using `<executable>false</executable>` in the Maven Spring Boot plugin. This has a number of consequences (you can't launch the WAR as easily as before), but this isn't a big issue

-> I'm going to change this in our code, and modify the documentation accordingly

[2015-11-09 17:27] #2225 closed

[2015-11-09 17:29] cbornet commented on #2291
@jdubois When I tested my PR, I was on Spring-boot 1.3 with dev-tools activated and Oauth login was working so this is really strange...

[2015-11-09 17:32] cbornet commented on #2291
I haven't deleted the branch so I guess it can still be tested https://github.com/cbornet/generator-jhipster/tree/oauth_3_legged

[2015-11-09 17:44] jdubois commented on #2284
Yes I remember having already worked on this and @andidev is right, I don't think those can be put in the dist folder.

I'm closing this as we have a good reason of doing it that way: of course I'd love to have this improved, so if anybody wants to pick this up and try to make it better, please do.

[2015-11-09 17:44] #2284 closed

[2015-11-09 17:49] jdubois commented on #2291
@cbornet how do you run your app? I have the issue both with Maven and running the Application class

[2015-11-09 18:02] jdubois commented on #2291
So the issue is because we have the CustomUserDetails that changes classloader. This is very strange indeed, as it only fails for OAuth2: I wonder what causes this in this specific scenario.

I didn't follow closely why we added that class (that was done by @gzsombor by the way, so let's put him in the loop), but it doesn't seem to be widely used: wouldn't it be a solution to remove this class and

[2015-11-09 18:02] cbornet commented on #2291
This is strange : I just tested again with the generated app that I used before and now I get the same bug that everybody has...

[2015-11-09 18:24] cbornet commented on #2291
Oh ! My fork above didn't have the CustomUserDetails commit at the time. So this is why it was working.

[2015-11-09 18:32] cbornet commented on #2291
Wondering if it is not because Oauth uses SecurityEvaluationContextExtension.

[2015-11-09 19:22] philwebb commented on #2225
@jdubois FWIW the CF bug is the primary reason that we didn't enable fully executable jars by default.

[2015-11-09 19:24] deepu105 commented on #2313
Not required it resolves properly, i guess the reserved keyword thing is
only during table creation
On 10 Nov 2015 00:11, "Rafael Roman" <notifications@github.com> wrote:

[2015-11-09 19:48] jdubois commented on #2313
+1 this doesn't look good, and indeed it's going to make liquibase diff create the field again -> this should be in lowercase

@deepu105 you changed it at https://github.com/jhipster/generator-jhipster/commit/3ba275743a2003602b21253cf2418278aa7f748e but as you say it's good for you there is no need to keep this

[2015-11-09 21:13] wuethrich44 commented on #2313
You could rename it to `password_hash` because it is a password hash that is stored in the database.

[2015-11-09 22:24] jdubois commented on #2291
OK I've tried with removing CustomUserDetails and it works, as expected.

@gzsombor @deepu105 I see you have worked on #1730 -> I didn't really follow what was the point of that class, but I don't really understand. I see it's supposed to remove one trip to the database, but normally we can always get a user from his login, at least on SQL : is it only for NoSQL solutions?
Anyway it is not getting

[2015-11-09 22:46] jdubois commented on #2069
Yes I confirm the issue

[2015-11-09 22:55] jdubois commented on #2291
So I've tested out removing CustomUserDetails and it solves the issue, and I don't find any big drawbacks -> I'm merging this so this specific is solved, and then of course we can discuss again this topic, but we can't stay with such an important issue opened

[2015-11-09 23:02] jdubois commented on #2225
Thanks @philwebb -> I expect to do a new release tomorrow that will fix the issue for us

[2015-11-10 00:41] Panthro commented on #2313
+1 for the `password_hash` column name, as it makes even more sense because that's what this field actually is.

[2015-11-10 01:10] vrigan commented on #2308
Hipster Version:2.23.0

[2015-11-10 04:01] deepu105 commented on #2291
I didnt work on this but it doesn't look very trivial i guess its ok to
rollback
On 10 Nov 2015 06:57, "Julien Dubois" <notifications@github.com> wrote:

[2015-11-10 04:09] deepu105 commented on #2313
+1 for `password_hash` as column name, if we lowercase `password` here it
fails in oracle not sure about posgres
On 10 Nov 2015 08:41, "Rafael Roman" <notifications@github.com> wrote:

+1 for the password_hash column name, as it makes even more sense because
that's what this field actually is.

—
Reply to this email directly or view it on GitHub
<https://github.com/jhipster/generator-jhipster/issu

[2015-11-10 04:24] geraldhumphries commented on #1270
@deepu105 It is capable of sorting on all columns, but can only do one column at a time. When you click to sort the second column it gets rid of the sort on the first one. Sorry I wasn't clear. Sorting on multiple columns at once is more complex.

[2015-11-10 04:48] deepu105 commented on #1270
ya that's fine and normal behavior for most table sort plugins, can you
cleanup and PR that? @jdubois, what do you think about making pagination
and sort a single option? since sort will work only when pagination is
enabled we can ask something like "do you want to enable server side
pagination and sort?"

On Tue, Nov 10, 2015 at 12:24 PM, Gerald Humphries <notifications@github.com

--
thank you,

[2015-11-10 05:17] pkcool commented on #1270
sorting one column at a time is good for me, don't need sorting on multiple columns.

[2015-11-10 05:40] geraldhumphries commented on #1270
I might be able to make sorting work without pagination, but it would have to be client-side. I am working on the PR right now.

[2015-11-10 05:47] vrigan commented on #2308
new : Is Hazelcast kill my session,I will find why

[2015-11-10 06:19] vrigan commented on #2308
The problem look like clear;
For example:
    send 'index.html' request
    create new session 123456 and Hazelcast will save it too
    response session 123456

    send 'api/authentication' take session 123456

    When Spring Security on auth by org/springframework/security/web/authentication/AbstractAuthenticationProcessingFilter.java line 223;
    This function will do Spring Security Session

[2015-11-10 07:03] jdubois commented on #2313
Yes +1 for me too

[2015-11-10 07:59] gzsombor commented on #2291
Perhaps we should disable this devtools stuff, which broke our working session management code!
 I don't understand why the surprise, the UserDetails object is stored inside the session, and if that crappy devtools reloads the classes, there will be new UserDetails classes in the system, which won't be compatible with the rest of the code. In this case, for the devtools, the sane functionality wou

[2015-11-10 09:39] jdubois commented on #2291
I'm mostly trying to have a bug fix version today, as we can't have OAuth2 failing like this.
Then, this is to have the time to find a better solution: we will then be able to be able to manage this in a better way.

My current opinion on the CustomUserDetails is that:

- It's a perfectly normal way of using Spring Security, so it should work.
- I remember this is not the first time I have this ki

[2015-11-10 09:59] jdubois commented on #1967
I'm fed up with this warning in Eclipse, I'm moving the plugin to the "pluginManagement" section of the pom: that solves the error, and I still have Sonar working fine, so that should be OK

[2015-11-10 10:16] #1967 closed

[2015-11-10 10:51] rreitmann commented on #733
Is there any workaround at the moment? I also want to deploy to cloudfoundry (Pivotal Web Services) using mongodb...

[2015-11-10 10:51] Herisson-88 commented on #1832
@deepu105 I will do this asap : I have to test my -very- little fix on last version of jhipster. The version I patched had no http interceptor, now there is one so there is very few code... Has I noticed, it can solve a simple $http call wich get a 403 from server (because session time out or server reboot) the patch catch the 403 call Principal.identity(true) and recall : it seems to the end user

[2015-11-10 11:18] deepu105 commented on #2313
@panthro can you do a PR for this

[2015-11-10 11:36] wzomer opened #2315 "Method "getCurrentUser" in "SecurityUtils" don't work for me"
The user is logged and the method "getCurrentUser" always return exception "User not found!", don't understand why.
The method "getCurrentUserLogin" work correctly.

It is the same with you?

[2015-11-10 12:11] gzsombor commented on #2315
What kind of authentication do you use? Spring dev-tools could be a culprit, as it does some funky class duplications with the classloaders.

[2015-11-10 12:20] gzsombor commented on #2291
* Yes, the problem lies inside this dev tools stuff, which does this class loading magic, I bet, when oauth is used, the code is coming from a different classloader - from the regular, system classloader - but most of the application lives in that reloading classloader, so the problem is with the dev tools. If we disable it, for oauth it works perfectly fine.
* We should open a spring ticket about

[2015-11-10 12:31] wzomer commented on #2315
I'm using OAuth.

{
    "generator-jhipster": {
        "authenticationType": "oauth2",
        "hibernateCache": "hazelcast",
        "clusteredHttpSession": "hazelcast",
        "websocket": "no",
        "databaseType": "sql",
        "devDatabaseType": "mysql",
        "prodDatabaseType": "mysql",
        "useCompass": true,
        "buildTool": "maven",
        "frontendBuilder": "grunt",

[2015-11-10 13:21] jdubois commented on #2315
Duplicate from #2291

We should have a new version today that correct this

[2015-11-10 13:21] #2315 closed

[2015-11-10 13:25] jdubois commented on #2291
Yes I think the best solution is to open up a ticket for Spring Boot -> let me do the release first, then we'll see how we can report this to them.
For the CustomUserDetails I'm not sure it's going to be a big performance gain, I need to check when it is used and what it does specifically.
BTW, I'd like to do some performance testing of the application, so this could be an interesting thing to che

[2015-11-10 13:25] amitjindal commented on #2241
Thanks! Yes this is working. I see what you meant by configuration.

[2015-11-10 14:06] jdubois commented on #2292
@pascalgrimaud I created a new https://github.com/jhipster/jhipster-travis-build project, and created a new "Builders" team, where there is only you & me with write access (if other people from team want the access, just ask for it, of course)

[2015-11-10 14:12] drissamri commented on #2225
Thank you @jdubois, this solves the issue indeed.

[2015-11-10 14:24] pascalgrimaud commented on #2292
Thanks @jdubois !
I will work on it tonight or tomorrow.

[2015-11-10 15:18] Panthro commented on #2313
Yes I can, as soon as I arrange some time to work on it :+1:

[2015-11-10 17:21] #2191 closed

[2015-11-11 02:18] dalbelap opened #2320 "[Feature request] cookieconsent2 plugin to the EU Cookie Law"
Hi,

Perhaps it might be interesting to include alert users about the use of cookies on the jhipster website according to the EU Cookie Law.

I just added [cookieconsent2](https://github.com/silktide/cookieconsent2) plugin in this branch: https://github.com/dalbelap/generator-jhipster/tree/feature-cookieconsent2

The plugin was configures below the google javascript code:
[code]

Also it was creat

[2015-11-11 03:40] deepu105 opened #2321 "[enhancement] update ui-bootstrap"
ui-bootstrap latest version has some breaking changes we need to update accordingly

[2015-11-11 06:13] atomfrede commented on #2270
@DineshShende Can you post your ``.yo-rc.json``? I can't reproduce your error with this config:

[code]

[2015-11-11 07:51] #2292 closed

[2015-11-11 11:07] gzsombor commented on #2320
Good idea !

[2015-11-11 11:14] gzsombor commented on #2321
Can you be a bit specific, what could be a breaking change in bootstrap? I haven't found a release notes from them ... :disappointed:

[2015-11-11 11:33] jdubois commented on #733
The only workaround is to update the database manually.

[2015-11-11 11:41] deepu105 commented on #2320
does it have an angular js version? or atleast a bower managed version? else it will be better to do this as a simple popover using ui-bootstrap we already have

[2015-11-11 11:41] atomfrede commented on #2320
@dalbelap  Is this correct, that the message (that is not on the seperate page) is not translated?

[2015-11-11 11:51] rreitmann commented on #733
:-) This is exactly what I am doing currently.

[2015-11-11 11:56] rreitmann commented on #733
I guess I will have a look at this https://github.com/goodeggs/grunt-mongo-migrations and manage the mongo migrations with mongoose...

[2015-11-11 12:01] deepu105 commented on #2321
Ya no release notes but they changed their namespace now all directives and
services have uib prepended, for eg uibModal instead of $modal etc
On 11 Nov 2015 19:15, "Zsombor" <notifications@github.com> wrote:

[2015-11-11 12:01] deepu105 commented on #2321
I was trying the new version application broke
On 11 Nov 2015 20:00, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2015-11-11 12:11] jdubois commented on #733
Yes I've heard it could be a good solution : please send feedback, and even a PR if you can !

[2015-11-11 15:32] Burdu opened #2323 "Entities extending AbstractAuditingEntity not "completely" cachable by Hazelcast"
Hello,

I identified a bug today that involved the User entity, which extends AbstractAuditingEntity: the members of AbstractAuditingEntity were not returned from Hazelcast cache.

I marked with @ Cachable the method from the UserRepository. The user objects (their clones actually) got cached, but when I returned them from cache, the members of the superclass were null (for createdBy and lastModif

[2015-11-11 15:52] piedrahitac opened #2324 "Spanish translation is broken"
### Overview of the issue
Installing Spanish as a language and then selecting it in the dropdown menu results in a javascript error of `Unexpected token }` that breaks the application.

### Motivation for or Use Case
Using spanish language in a jhipster app.

### JHipster Version(s)
2.23.1. I don't think it happened in previous versions but not entirely sure.

### Browsers and Operating System
Chr

[2015-11-11 16:46] gzsombor commented on #2323
Your explanation make sense, it can be fixed easily

[2015-11-11 16:52] gzsombor commented on #2323
This was an easy fix, if no one against, we can merge it, can't we?

[2015-11-11 16:56] gzsombor commented on #2324
I think, it's already fixed in 3affe0760b7f10549259aa6cc98bffe9f2c32070

[2015-11-11 16:56] #2324 closed

[2015-11-11 17:41] dalbelap commented on #2320
@atomfrede yes, the javascript code inside index.html is not translated.
@deepu105 It could do with ui-angular [boostrap modal](https://angular-ui.github.io/bootstrap/#/modal)

[2015-11-11 17:59] jdubois commented on #2323
Looks good -> by the way, at least this time there is a good reason to use the serialVersionUID!!

[2015-11-11 19:00] piedrahitac commented on #2291
I don't know if it is related to this bug or not, but right now with version 2.23.1 and OAuth2 selected you
can't login if you restart the application.

The first time you can login just fine as many times as you want, but restarting the app results in an authentication failure and an exception saying that there's already a duplicate client id.

Truncating the `oauth_client_details` table fixes th

[2015-11-11 19:03] jdubois commented on #2291
@piedrahitac you have another issue, see #2069

[2015-11-11 21:46] cbornet opened #2329 "Blob type fails to compile with mongo"
* **Overview of the issue**

Blob type fails to compile with mongo
[code]

* **JHipster Version(s)**
Any version including latest master

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
https://github.com/jhipster/generator-jhipster/blob/master/travis/samples/app-mongodb/.yo-rc.json

* **Entity configuration(s) `entityName.json` files generated in the `.jhipster` di

[2015-11-11 22:09] atomfrede commented on #2069
I looked a little bit into this issue and it looks like a spring security issue (as far as I can tell). The ``ClientDetailsUserDetailsService`` tries to load the client details by client id (``clientDetailsService.loadClientByClientId``) and provide the ``username`` as parameter which is used as client id in the sql query. Looks to me that this can't work (or we must configure our client id differ

[2015-11-12 03:02] javierlibrandi commented on #413
mvn liquibase:clearCheckSums

http://www.liquibase.org/documentation/maven/maven_clearchecksums.html

[2015-11-12 03:11] #2264 closed

[2015-11-12 03:31] deepu105 commented on #413
that would be a good addition can some one PR this?

[2015-11-12 08:29] gysel commented on #2078
I just had the same problem and when I added a Spring Security Annotation to my controller, everything was fine.

    @Secured(AuthoritiesConstants.USER)

Maybe the error message is a bit misleading...

[2015-11-12 09:17] cbornet commented on #2329
As part of the fix https://github.com/cbornet/generator-jhipster/commit/a512b69939245e6e29848db65cacd6f3edf3a5a6 should be reverted

[2015-11-12 09:42] onurakman commented on #2291
After upgrading from 2.23.0 to 2.23.1 I have the same issue with @piedrahitac, after restarting app if oauth_client_details is insertted I cant login without deleting thing the record.

[2015-11-12 10:36] cbornet commented on #2069
Wouldn't that be because ClientDetailsServiceConfigurer is now configured with .jdbc() if the database is sql ? If that's the case, I'm very sorry since it comes from my commit for 3-legged oauth.
Can you try setting it back to .inMemory() ?

[2015-11-12 11:55] onurakman commented on #2291
I think our issue is related with this

https://github.com/spring-projects/spring-security-oauth/issues/420

[2015-11-12 12:35] atomfrede commented on #2069
Yes, looks like this issue: https://github.com/spring-projects/spring-security-oauth/issues/420

Will try it later today, but it sounds like that is the problem

[2015-11-12 13:19] cbornet commented on #2069
And of course this doesn't happen with H2 in-memory DB... so I didn't get it during my tests...

[2015-11-12 13:41] atomfrede commented on #2069
:) Now we have H2 on disk by default everybody gets this error I guess.

[2015-11-12 15:17] vivekmore commented on #2262
Thank you.
Any thoughts on making the LOG static final ?
It is definitely a better practice in my opinion.

[2015-11-12 15:20] jdubois commented on #2262
It's a Spring bean -> it wouldn't do anything, except wasting some characters.

[2015-11-12 17:27] vivekmore commented on #2262
The suggestion was more for all places (not just for this class)
It does not make a difference for beans in singleton scope (which I agree - most of the beans will be in) but it certainly helps to make sure you have a single logger for all types of objects (say beans in request or prototype scope) of any given class.

The extra characters, IMHO, are definitely worth the benefits in those cases.
In

[2015-11-12 17:49] jdubois commented on #2262
@vivekmore then that's another issue, please our guidelines say we should have only one issue per ticket

- this has already been discussed in the past
- I find it more logical not to put them static as they don't need to be (waste of characters, and might put people under the false assumption the Spring bean isn't a singleton)
- it's not even recommended by tools like SLF4J ( http://www.slf4j.org

[2015-11-12 17:55] boutchekkoucht opened #2331 "Web service Jhipster"
is possible to code a web service using jhipster ?

[2015-11-12 18:11] cbornet commented on #2331
Well, jhipster **IS** REST-JSON web services.

[2015-11-12 18:15] boutchekkoucht commented on #2331
yes but , is possible to remove the view part and put it in another project?

[2015-11-12 18:27] cbornet commented on #2331
Of course you can although I don't know why you would want to do it : JHipster does a lot of optimizations on static resources.
But if you really want to, the webapp is in src/main/webapp. You will probably have to configure the CORS if working cross-domain.

[2015-11-12 18:46] boutchekkoucht commented on #2331
hank you, I would try to do.
that's the architecture I want to do
![jug-nantes-telosys-tools-avril-2014-31-638](https://cloud.githubusercontent.com/assets/10811506/11127743/ad4b948a-896d-11e5-91ce-4ad745b6fd6e.jpg)

[2015-11-12 18:56] jdubois commented on #2331
This is already what we provide, I don't think you should remove our web part!
Anyway, this isn't a bug or feature requests so according to our guidelines this should go to StackIverflow and I'm closing this.

[2015-11-12 18:56] #2331 closed

[2015-11-12 18:57] cbornet commented on #2331
Then JHipster is for you as it is exactly the architecture you'll get

[2015-11-12 19:09] boutchekkoucht commented on #2331
I want to physically separate the two applications, and use json + ssl between the two machines.
I'm sorry if I put this in the parts of bugs

[2015-11-12 19:58] jdubois commented on #2331
This is not how AngularJS works, it's the client browser which will do the REST requests.

[2015-11-12 20:33] atomfrede commented on #2069
So some new findings (I guess I don't understand spring security here).

* Using ``inMemory`` instead of jdbc works fine (as expected), but the client is not persisted
* according to https://github.com/spring-projects/spring-security-oauth/issues/420 leaving out withClient during configuration should make it work, but it doesn't -> not login at all
* with the jdbc store the clientDetails are retri

[2015-11-12 21:06] vivekmore commented on #2262
Fair enough.
Apologies for mixing multiple issues in one ticket.
I was just trying to understand the rationale behind it and provide my 2 cents on the matter.

[2015-11-12 21:16] boutchekkoucht commented on #2331
so if I work with jhipster, I need to develop  my customer client  web service!

[2015-11-12 21:21] cbornet commented on #2069
I think we should switch back to inMemory and see about jdbc later. Jdbc is useful for multi-client apps config which is not the most common case anyway.

[2015-11-12 21:23] cbornet commented on #2069
and about https://github.com/spring-projects/spring-security-oauth/issues/420, if you keep jdbc but remove withClient, I think you need to populate the db another way (liquibase or other)

[2015-11-12 21:38] atomfrede commented on #2069
Yes, I didn't tried it, but I thought so too. So if everyone is okay lets switch back to inMemory, such that we have oAuth working again. CC @jdubois

[2015-11-13 00:43] deepu105 commented on #2262
@vivekmore suggestions are always welcome

[2015-11-13 01:07] deepu105 commented on #2323
@gzsombor did you merge this?  Can we close this

[2015-11-13 01:12] deepu105 commented on #2271
Also  i dont think we should re structure folder structure now, lets implement style guide on existing structure and then later we can discuss about folder structure

[2015-11-13 01:23] deepu105 commented on #2113
This issue will be resolved when https://github.com/jhipster/generator-jhipster/issues/2271 is implemented

[2015-11-13 06:05] jdubois commented on #2262
Yes, I read myself again, sorry if it sound a bit harsh, it wasn't my intention

[2015-11-13 06:43] gzsombor commented on #2323
It's already merged !

[2015-11-13 06:43] #2323 closed

[2015-11-13 06:50] gzsombor commented on #2306
Sounds interesting!
 What kind of performance problems did you see, when using Javers? Because from your quick explanation, it seems that you've implemented the same, as Javers did, so I curious, why your solution fares better than that ...

[2015-11-13 08:55] cbornet commented on #2331
@boutchekkoucht You should check some tutorials on the WEB about how AngularJS and REST web-services work. Then you will probably see that JHipster is a perfect match for what you want to do. Anyway, as @jdubois said this is not the good place to get training/information so you should post your question to stackoverflow (with tag jhipster) or on [gitter](https://gitter.im/jhipster/generator-jhipst

[2015-11-13 09:57] #2069 closed

[2015-11-13 10:45] jdubois commented on #2271
yes, the structure is more complex to move, and at the moment it doesn't seem wrong to me (but I'm not an expert in John Papa's style)

[2015-11-13 10:53] Vaelyr commented on #2271
Current structure is fine and pretty much the same. The PR has changed the structure which shouldn't be changed :)

[2015-11-13 10:57] jdubois opened #2334 "Add an official Vagrant box for developing with JHipster"
I'm going to do a Vagrantfile for my "JHipster masterclass" trainings, and in the making I think it could be good to have our own official Vagrantfile:

- We could all share & learn to have the best possible Vagrantfile
- It would have the "official" tools for working with JHipster
- The idea is to have something like what they have for Laravel: https://github.com/laravel/homestead

It's going to

[2015-11-13 11:31] jdubois opened #2335 "Dockerfile has wrong env variable"
Our current Dockerfile, on line 25:

https://github.com/jhipster/jhipster-docker/blob/2d6a5355eefc96783a87a63d342f36072dc84a00/Dockerfile#L25

It uses a ${JAVA_VER} variable that does not exist -> how is this even working???

[2015-11-13 11:39] robertolos commented on #1896
I'm facing the same issue, in order to solve the error
`remote: npm ERR! Error: ENOENT, open '/var/lib/openshift/5645bca00c1e666e70000083/app-root/runtime/repo/package.json'`
I committed the file `package.json`, but then I have many issue because npm doesn't have write access in /var/lib/openshift/5645bca00c1e666e70000083/.npm
I fixed this issue by setting the following environment variables in th

[2015-11-13 11:44] deepu105 commented on #2306
When I persist entities with their relationships the save was taking a long
time with javers, didn't do much research on what was causing issue there,
may be they were serializing all the object dependency, also if some data
is inserted in db directly  javers throws error while updating or deleting
those values, also i think javers wasnt async. So for my simple use javers
felt a bit too much as i

[2015-11-13 11:57] pascalgrimaud commented on #2335
You're right, it should be $JAVA_VERSION
I don't know how it can work, maybe no impact because this line is used to accept oracle license

[2015-11-13 12:00] pascalgrimaud commented on #2334
it's a good idea ! :+1:

[2015-11-13 12:08] pascalgrimaud commented on #1896
node : 0.6.20
npm : 1.1.37
I think it's very old !

[2015-11-13 13:13] gmarziou commented on #2334
Good idea even though I'd prefer PostgreSQL.
Do we have jhipster's stats about MySql vs. PostgreSQL?

[2015-11-13 13:43] robertolos commented on #1896
I've been able to upgrade node.js on openshift using the openshift way https://blog.openshift.com/any-version-of-nodejs-you-want-in-the-cloud-openshift-does-it-paas-style/
The page doesn't look updated, check the documentation on github https://github.com/ramr/nodejs-custom-version-openshift.git

Now NPM builds fine, but I have a new problem with the generation of the war file:

[code]

[2015-11-13 13:47] cbornet commented on #2334
I guess the vagrantfile can include both

[2015-11-13 14:39] augurpl opened #2338 "Date field's not working on Safari"
I've generated entity with Date field. While working on Chrome this field has datepicker. When I log into application from safari I've figured that there is no datepicker on this field. I've checked  console and there is no error message

[2015-11-13 14:46] atomfrede commented on #2338
The datepicker in chrome is provided by chrome, so it doesn't work in other browsers. So this is not an issue as we don't have a datepicker yet. See https://github.com/jhipster/generator-jhipster/issues/1755 and the mailinglist for discussion.

[2015-11-13 14:46] #2338 closed

[2015-11-13 14:48] jdubois commented on #2334
I agree for Postgresql, this is what I usually use. But MySQL is the default, as more people use it.

Concerning the stats, today MySQL is 80% of all database used (and PostgreSQL is 11%) -> so MySQL is the clear winner here

[2015-11-13 15:03] sparun160782 opened #2339 "Issue in Installing components through Jhipster from GitHub"
Dear All,

When I tried to create an application with help of JHipster there some issues in fetching the components through git hub with bower.

I'm unable to understand what causes the problem and unable to proceed.

Same issue has also reported in stackoverflow .

At present not able to attach the screenshot in github, kindly please refer at stackoverflow at the below link.

http://stackoverflow

[2015-11-13 15:19] jdubois commented on #2339
Please don't cross post between StackOverflow and JHipster.... And please follow the guidelines....

This is a Bower issue, not a JHipster issue -> have a look at the Bower doc, it's a very common issue and I'm sure it's documented out there (I don't remember exactly but you need to execute one command)

[2015-11-13 15:19] #2339 closed

[2015-11-13 15:35] vivekmore commented on #2262
Thank you @deepu105 and @jdubois - No offense taken.
Once I brush up on my git skills I plan to contribute to this project in any way I can.

[2015-11-13 16:03] cbornet opened #2340 "Property replacement not working anymore"
* **Overview of the issue**

Property replacement changed in spring-boot 1.3.0.RC1

* **JHipster Version(s)**

2.23.0+

* **Reproduce the error**
[code]
then look at target/classes/logback-spring.xml --> the replacement of ${logback.loglevel} didn't occur.

* **Suggest a Fix**

See http://docs.spring.io/spring-boot/docs/1.3.0.RC1/reference/htmlsingle/#production-ready-application-info-automatic-ex

[2015-11-13 16:11] deepu105 commented on #2262
You are welcome
On 13 Nov 2015 23:36, "Vivek" <notifications@github.com> wrote:

[2015-11-13 16:12] HereThereBeMonsters opened #2341 "Minor correction to the documentation on IntelliJ config"
Int the documentation on how to set up IntelliJ, section "JS code support" it says :

Go and open "File → Other Settings → Default Settings...."

I think this should actually be the main Preferences dialog i.e. (on Mac) : "IntelliJ → Preferences"

On Windows and Linux the preferences or settings are under the File menu (but I haven't a machine at hand to check exactly right now).

Indeed this sett

[2015-11-13 18:08] geraldhumphries commented on #2341
+1

Should also add documentation about useful run configs for building/running/testing the app, e.g. running JS tests with the Karma plugin, Gradle bootRun/test, and Grunt serve (assuming you are using Gradle/Grunt).

[2015-11-13 21:56] jdubois opened #2342 "Thread dump on the metrics page is not working anymore"
The thread dump on the metrics page at http://127.0.0.1:8080/#/metrics is not working anymore.

You need to click on the "eye" next to the "Threads", it will open a popup that used to display a thread dump. It's now empty -> maybe this is linked to Spring Boot 1.3.0 or the new Spring Boot devtools

[2015-11-13 22:15] gmarziou commented on #2341
Would you consider submitting a pull request?

[2015-11-13 23:10] jdubois commented on #2334
The Vagrantfile starts to be working OK:
https://github.com/jhipster/jhipster-devbox

A lot of work still needs to be done, so help if always welcome.

I'll be working on this probably for the next few hours, lots of noise in
Paris with the current ongoing terrorist attacks! And yes I'm coding during
this, because fuck terrorists.

Julien

On Fri, Nov 13, 2015 at 2:47 PM, Christophe Bornet <notifi

[2015-11-14 03:13] deepu105 commented on #2334
Just saw the news man its horrible, hope you are well and safe.

Fuckin cowardly bastards :(
On 14 Nov 2015 07:10, "Julien Dubois" <notifications@github.com> wrote:

[2015-11-14 06:36] jdubois commented on #2334
Yes, now I'm waiting to see if I know some of the victims.
Le 14 nov. 2015 4:13 AM, "Deepu k Sasidharan" <notifications@github.com> a
écrit :

[2015-11-14 09:21] jdubois opened #2343 "Add support for MySQL on Heroku"
Postgresql is the default database provided by Heroku, but 80% of our users are using MySQL, so we should also support it on Heroku.
We would support ClearDB -> https://elements.heroku.com/addons/cleardb
This is what we already do for CloudFoundry

For @jkutner
- would you be interested in doing this?
- I'm preparing this for our "devbox" at https://github.com/jhipster/jhipster-devbox -> we would

[2015-11-14 09:26] mraible commented on #2343
I believe this already works on Heroku. I recently created an app with the
defaults (including MySQL) and deployed it to Heroku with no issues.
On Sat, Nov 14, 2015 at 10:21 Julien Dubois <notifications@github.com>
wrote:

[2015-11-14 09:30] jdubois commented on #2343
Oh thanks @mraible I didn't check this in fact!!
I'm keeping this opened until I am sure this works

[2015-11-14 09:45] jkutner commented on #2343
Yes, this was completed in #2039. It's definitely being used by folks in the wild.

[2015-11-14 09:47] jdubois commented on #2343
Oh great, can't wait to test it!
That will be the final touch of my new JHipster training!

[2015-11-14 09:47] #2343 closed

[2015-11-14 13:24] cbornet opened #2344 "Generate entities in the correct order"
I have a model with unidirectional many-to-one relationships. The "many" side gets generated before the "owner" side which causes the DB generation to fail when creating the foreign key.

[2015-11-14 13:24] #2344 closed

[2015-11-15 09:28] wibbo opened #2345 "[Feature request] Integrate Structurizr"
Hi everyone,

I've seen the presentation by Simon Brown (@simonbrowndotje) about "Software architecture as code" at Devoxx BE where he showed off Structurizr (https://www.structurizr.com). I think this is a great way to have more up-to-date diagrams of your code.

I will integrate this in applications I generated using jhipster. But I thought it could be a good idea to integrate that in the genera

[2015-11-15 09:41] jdubois commented on #2345
This is a non-OSS, paying product, see https://www.structurizr.com/pricing , so we can't integrate it into our project. I've already had lots of trouble with companies trying to put their for-pay product into JHipster, and clearly I don't want to go this way in the main generator.
If one day we do the "plug in" system we're currently discussing, then this could be the solution -> companies could d

[2015-11-15 09:47] kn4ls opened #2346 "User Account activation"
* **Overview of the issue**

    Couldn't activate user account. Always return a 500 Internal server error

[code]
due to UserService method:
[code]

* **Motivation for or Use Case**

* **JHipster Version(s)**

    2.23.1

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
[code]

* **Entity configuration(s) `entityName.json` files generated in the `.jhipster` director

[2015-11-15 09:49] jdubois commented on #2346
Can you also send your stacktrace?

[2015-11-15 09:59] kn4ls commented on #2346
The problem I think is in the lambda expression of activateRegistration() method in UserService. There is no exception thrown but always return Optional.empty() and activateAccount() in AccountResource always return a 500 error (HttpStatus.INTERNAL_SERVER_ERROR).

[2015-11-15 10:21] simonbrowndotje commented on #2345
Thanks for the kind words @wibbo ... I think it's probably better if I add support for JHipster into the open source "Structurizr for Java" client library (https://github.com/structurizr/java) if needed. Since JHipster is creating Spring Boot apps though, this shouldn't be too tricky as Spring MVC is already supported. I'll take a look at creating a software architecture model for the sample app (

[2015-11-15 10:28] jdubois commented on #2345
@simonbrowndotje I'm not familiar with your product, of course, but it looks a bit like what we do at https://jhipster.github.io/jhipster_uml.html
-> we have a DSL that could perhaps work with your product, maybe you could work something with the JHipster UML team

[2015-11-15 14:08] simonbrowndotje commented on #2345
Hi @wibbo ... here's some code that will generate a software architecture model for the Spring Boot part of the sample JHipster application -> https://github.com/structurizr/java/blob/master/structurizr-examples/src/com/structurizr/example/jhipster/JHipsterSampleApplication.java

And here are the diagrams -> https://structurizr.com/public/5651

Feel free to e-mail me with thoughts, comments, quest

[2015-11-15 14:13] wibbo commented on #2345
Hi @simonbrowndotje
Thanks a lot! I will have a look at it an integrate it in one of our applications.

[2015-11-15 14:33] deepu105 commented on #2345
The diagrams look nice
On 15 Nov 2015 22:08, "Simon Brown" <notifications@github.com> wrote:

[2015-11-15 14:46] #2340 closed

[2015-11-15 15:28] jdubois commented on #2334
Done at https://github.com/jhipster/jhipster-devbox

It's still marked "under development" but it's ready to use.

[2015-11-15 15:28] #2334 closed

[2015-11-15 17:24] nickbar86 opened #2349 "Social Login Facebook"
Hello, i am experimenting with Facebook login. I have created an App on Facebook with v2.5Api which i have inserted it in application.yml file. However when i try to login, after inserting the login creds on fb page i get an Exception on this line UserProfile userProfile = connection.fetchUserProfile();
Welcome any idea or hint:)

DEBUG] org.eventer.aop.logging.LoggingAspect - Enter: org.eventer.s

[2015-11-15 17:41] moifort commented on #2349
Facebook has upgraded their api and the spring-social-facebook is not compatible, there is a PR on the project pending: https://github.com/spring-projects/spring-social-facebook/pull/178. You have a solution to fix it on stack: http://stackoverflow.com/questions/33053185/spring-social-facebook-uncategorizedapiexception-3-application-does-not-have/33180915#33180915

[2015-11-15 17:42] #2349 closed

[2015-11-15 18:04] jdubois commented on #2335
Fixed

[2015-11-15 18:04] #2335 closed

[2015-11-15 18:43] cbornet commented on #2345
Looks really nice. Too bad it's not free...

[2015-11-15 19:29] simonbrowndotje commented on #2345
Hosting on Pivotal Web Services isn't free either @cbornet ;-) But ... the free tier is free. As is the entirety of the client library (https://github.com/structurizr/java), which is the part that creates an architecture model by extracting information from, in this case, Spring Boot apps. The open source library also includes exporters to Graphviz and websequencediagrams, plus you can build whate

[2015-11-15 19:46] jdubois commented on #2345
Pivotal Web Services is based on Cloud Foundry, which is Open Source Software.

But that's not really the point, of course:

- hosting an application has got a price, and for that specific case we support multiple hosting providers, so that our users are not locked.
- it's done in sub-generators, and not in the main generator, which is the same idea as in my first comment: it's a kind of "plugin"

[2015-11-15 20:02] simonbrowndotje commented on #2345
I can see my PWS comment may have caused some confusion ... structurizr.com is hosted on PWS CF, which I'm paying for. And it's an awesome platform, BTW. Although I would like to offer a totally free architecture diagramming SaaS, that's obviously impractical. :-)

[2015-11-15 20:06] jdubois commented on #2345
No problem for me, anyway we have a plan to support this kind of need.
I'll re-open this and update you if/when we have that plugin system ready.

[2015-11-15 20:06] #2345 closed

[2015-11-16 02:48] delverdev opened #2350 "Html5ModeFilter Enhancement"
Html5ModeFilter needs an enhancement. When I reload page on site.com/1, all works fine, but when reload on site.com/1/1, It returns an error. The bug is in StringUtils.countMatches(requestURI, "/") == 1. I fixed it by changing to StringUtils.countMatches(requestURI, "/") <= 2. If I delete it, nothing works.

[2015-11-16 04:04] delverdev opened #2351 "Api doesn't work with Html5ModeFilter"
When go to /api/*, it redirects to #/api/* then to / and returns index.html code.

[2015-11-16 04:12] delverdev commented on #2351
Solved. Changed next line:
if (!requestURI.equals("/") && !requestURI.contains(".html") && StringUtils.countMatches(requestURI, "/") == 1)
to:
if (!requestURI.equals("/") && !requestURI.contains(".html") && StringUtils.countMatches(requestURI, "/") == 1 && !requestURI.startsWith("/api/"))

[2015-11-16 05:17] delverdev opened #2353 "Html5ModeFilter with WebSockets"
When I'm on index.html, websockets connect and work but when I'm reload page on other page (not route from main), it returns an error. In browser logs I can see why error appears. Websocket on other page except main goes to localhost:8080/SAMPLEPAGEwebsocket/tracker. I've solved the problem by edit next line from components/tracker/tracker.service.js:
var url = '//' + loc.host + loc.pathname + '/w

[2015-11-16 05:34] LaughingLogic opened #2354 "@CrossOrigin from Spring 4.2+ plan?"
Any plans for adding the Spring 4.2 @CrossOrigin annotation support?

org.springframework.web.bind.annotation.CrossOrigin

Article: https://spring.io/blog/2015/06/08/cors-support-in-spring-framework

[2015-11-16 05:53] deepu105 commented on #2350
Why have you opened 3 issues for similar problems.
And the info you provided is not sufficient for us to do anything

[2015-11-16 05:54] deepu105 commented on #2354
I think its already added by @cbornet
On 16 Nov 2015 13:34, "Adam" <notifications@github.com> wrote:

[2015-11-16 06:14] delverdev commented on #2350
I think it is different problems. The solution you can do is change code on your [https://jhipster.github.io/tips/010_tip_configuring_html_5_mode.html](page).

[2015-11-16 07:04] cbornet commented on #2354
Since 2.23.1, you can configure CORS globally from the application.yml file.
The ```@CrossOrigin``` annotation is for more fine-grained configuration of CORS (up to the method level). And since it is supported by Spring, you can of course use it in your JHipster application.

[2015-11-16 07:11] DineshShende commented on #2270
@atomfrede I am  still facing this issue.My `.yo-rc.json` as follows

{
  "generator-jhipster": {
    "baseName": "jhipster",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "authenticationType": "oauth2",
    "hibernateCache": "no",
    "clusteredHttpSession": "no",
    "websocket": "spring-websocket",
    "databaseType": "sql",
    "devDatabaseType": "my

[2015-11-16 07:19] atomfrede commented on #2270
I'll have a look again. Have you created any entities? Do you get that error on a specific page?

[2015-11-16 07:23] DineshShende commented on #2270
No. I haven't made any changes to Jhipster generated code. I am getting this error when we log in using default users(user-user and admin-admin)

[2015-11-16 07:26] atomfrede commented on #2270
Ok Ill see what I can do. I guess you have update to the latest point release 2.23.1 already?

[2015-11-16 08:35] cbornet commented on #2204
@delverdev Did you manage to make it work ?

[2015-11-16 09:02] cbornet commented on #2204
Also, just to be sure : you are talking about "openID", not "openID connect" ?

[2015-11-16 10:02] delverdev commented on #2204
I've postponed it. I'm talking about login to the site. http.openIdLogin() from security configuration usually implements it.

[2015-11-16 10:25] deepu105 commented on #2350
I dont think we have such a tip existing
On 16 Nov 2015 14:14, "Zubchenko Boris" <notifications@github.com> wrote:

[2015-11-16 10:39] asiftasleem commented on #274
@AlainJanssens I am working on a new application and planning to mix MySQL with MongoDB for different purposes. Could you please share the sample app or the modified JHipster ?

[2015-11-16 10:44] AVE-cesar commented on #274
+1

[2015-11-16 14:32] PeterEltgroth commented on #2334
@jdubois I agree, F them.  Very glad you are OK.  My thoughts are with you and your country.

[2015-11-16 16:57] pascalgrimaud opened #2356 "Upgrade Spring Boot to v1.3.0.RELEASE"
Few hours ago, there was a release of spring boot v1.3.0.RELEASE
https://spring.io/blog/2015/11/16/spring-boot-1-3-0-released

We should upgrade 1.3.0.RC1 to 1.3.0.RELEASE

[2015-11-16 21:15] atomfrede commented on #2270
@DineshShende I've tried with the following config and everything works fine. Wil try it with mysql tomorrow, but I guess it makes no difference.

[code]

[2015-11-16 23:55] LaughingLogic commented on #2354
Thanks, good to know.

[2015-11-16 23:55] #2354 closed

[2015-11-17 01:02] deepu105 commented on #2356
You beat me to it :)
Few things i would like to work on after upgrade
1. Add the new health check endpoints to our health page
2. Show metrics for hazelcast
3. Add more color to jh banner may be :)

[2015-11-17 04:25] deepu105 commented on #2342
ill check this out this weekend

[2015-11-17 04:51] pascalgrimaud commented on #2356
lol the color to JH banner would be fun

[2015-11-17 06:09] delverdev commented on #2350
It means someone edited the code. My [code](http://pastebin.com/qip93C3L) that I copied from that page.

[2015-11-17 09:00] jdubois commented on #2356
Yes, normally we don't have a lot of new stuff as I've already done the migration for 1.3.0.RC1
Be careful with the Hibernate L2 cache, I'm doing some work to monitor the caching of entities and I don't think Spring Boot does this (it's just monitoring of all caches, nothing specific for the Hibernate L2 cache, but I haven't checked this for some time, so it might have changed)
The color banner ca

[2015-11-17 09:09] jdubois commented on #2350
It's on tip from @brevleq so not really a JHipster bug itself -> it has just been updated, can you have a look?
I'm closing this as this isn't a JHipster bug

[2015-11-17 09:09] #2350 closed

[2015-11-17 09:10] jdubois commented on #2353
This is a tip from @brevleq maybe you can contact him or update the tip?

@brevleq can you have a look?

I'm closing this as this isn't a JHipster bug.

[2015-11-17 09:10] #2353 closed

[2015-11-17 09:10] jdubois commented on #2351
Same as previous issues #2353 #2350

[2015-11-17 09:10] #2351 closed

[2015-11-17 09:21] atomfrede commented on #2356
:+1: For colored banner ;)

[2015-11-17 10:27] brevleq commented on #2350
Hi @delverdev, I've created that tip and corrected it yesterday. The old code was redirecting instead of forward and gave me had some problems in production. Take a look at the tip again, it is less error prone now.

[2015-11-17 11:52] sircelsiussexy opened #2358 "Sources generated with MongoDB and ElasticSearch don't compile"
When running the latest (v2.23.1) generator and setting the following options:

[code]

The generated sources (by running `mvn`)do not compile with the following error:

[code]

This is a pretty easy fix, I'm working on a PR.

AFAIK, this happens both for the generated `User.java` class when running the main generator and for the `_Entity.java` class when running the `entity` sub-generator.

[2015-11-17 11:58] pascalgrimaud commented on #2358
You should not be able to use mongodb + elasticsearch => http://jhipster.github.io/using_elasticsearch.html
Elasticsearch only works with SQL databases.

How did you manage to have this ? Did you manually change your .yo-rc.json ?

[2015-11-17 12:01] sircelsiussexy commented on #2358
Nope, I used v2.23.1 out of the box.

[2015-11-17 12:02] sircelsiussexy commented on #2358
And even if ES is only supported with SQL atm, I think it's worth adding a condition in the templates.

`_User.java` currently has a condition only on `searchEngine == 'elasticsearch'`, it might be woth adding a check on `databaseType` as well I guess.

[2015-11-17 12:57] jdubois commented on #2358
I need to check, maybe I did an error in the templates that allow you to choose both options, which you shouldn't.

Of course it can be improved, but that's only to prevent the error you add.

[2015-11-17 13:03] sircelsiussexy commented on #2358
Just checked, I was running `v2.23.0`, my mistake (multiple node environments are error prone :cry: )

`v2.23.1` does remove the ES choice when you pick mongo.

[2015-11-17 13:03] #2358 closed

[2015-11-17 13:07] pascalgrimaud commented on #2358
Yes, I did the fix : https://github.com/jhipster/generator-jhipster/pull/2238
That's why I didn't understand how it is possible ;)

[2015-11-17 13:36] jd-carroll commented on #274
IMO, I'm not sure this falls under the list of items JHipster should focus
on...

At the end of the day, it's still only a generator (probably the most
useful/relevant one I've ever found) and it cannot implement all of your
business requirements for you.

On Monday, November 16, 2015, AVE-cesar <notifications@github.com> wrote:

[2015-11-17 13:47] jdubois commented on #2289
Done with https://github.com/jhipster/generator-jhipster/commit/442f319a7e6c64ce2eecfd6347fa4422c3cd116e

Not perfect as we have some dropDefaultValue which appear -> looks like those can't be ignored, and as they are not standard in JPA we can't configure them there.
Could be a good fit for the diffExcludeObjects tag cc @nvoxland

[2015-11-17 13:47] #2289 closed

[2015-11-17 14:01] richteri opened #2359 "Initial schema creation error when using OAuth2 with Oracle DB"
* **Overview of the issue**

"ORA-00910: specified length too long for its datatype" error is thrown when creating table oauth_client_details due to VARCHAR2 length limit of 4000 bytes in Oracle.

Caused by: liquibase.exception.DatabaseException: ORA-00910: specified length too long for its datatype
 [Failed SQL: CREATE TABLE TS_APP.oauth_client_details (client_id VARCHAR2(255) NOT NULL, resource_

[2015-11-17 14:01] eater2 commented on #1843
Hi,
I tested the new version of this fix on our project. But the code enters the undefined IF, assigning still 5 characters.
I propose to add a small workound as below , or to apply a new fix.

             if (sampleTextMinLength == undefined) {
                sampleTextMinLength = 1;
            }

[2015-11-17 14:18] jdubois commented on #1843
Can you open up a new ticket and send a PR?

[2015-11-17 17:25] jodevan opened #2360 "Saving object with 1-to-n cardinality"
I asked this question in StackOverflow:
http://stackoverflow.com/questions/33727749/saving-object-with-1-to-n-cardinality/

I ended up answering it by myself, but I'm still curious to know if this is a JHipster limitation or if I'm not doing it in the correct way. The issue seems to happen whenever I invoke a service and I need to pass a list to it. For instance, if my request sends {id: 1, name:

[2015-11-17 20:01] lsolisc opened #2361 "Unit test getAllEntities() fail for a Entity with more than 19 rows."
When a entity is populated with more than 19 items, the test "getAllEntities()" fail, how a small contribution to this awesome project i suggest add a sort direction to the GET url using the id field:

        restSkosPropertyMockMvc.perform(get("/api/entities?sort=id,DESC"))

[2015-11-18 01:28] andreneutzling commented on #1855
I'm facing an issue with the generator as well. Details:

**Overview of the issue** - I'm facing an issue with the language generator. It doesn't allow me to select any supported language (the cursor don't move and the space doesn't respond).
**Motivation for or Use Case** - I cannot install any other default language.
**JHipster Version(s)** - 2.23.0
**Entity configuration(s)** - no entities crea

[2015-11-18 01:32] hyuan opened #2362 "[enhancement] MongoDB support for social login"
I am working on a project which is based on MongoDB and Social Login. So I enhanced the existing Social Login feature to make it support MongoDB. The changes are small. Here is the PR: https://github.com/jhipster/generator-jhipster/pull/2352

[2015-11-18 02:06] deepu105 commented on #1855
This could be an issue with the shell you are using, what terminal program
do you use? I had issues while using git bash from windows, i guess
cmd/powershell works good in windows and terminal in mac/unix
On 18 Nov 2015 09:28, "andreneutzling" <notifications@github.com> wrote:

[2015-11-18 04:26] l7777777b opened #2363 "data-util.service.js not included in index.html causing error"
anyone knows why `<script src="scripts/components/util/data-util.service.js"></script>` doesn't get included in index.html? since it's causing error on few of my generated entities page.

[2015-11-18 05:31] deepu105 commented on #2363
fixed via https://github.com/jhipster/generator-jhipster/commit/a48fc1fd2ffd61fa2ecdba82f729e02b4e094bb3

[2015-11-18 05:31] #2363 closed

[2015-11-18 06:28] pascalgrimaud commented on #1855
@andreneutzling : did you have a look at https://github.com/jhipster/generator-jhipster/issues/2153 ?

[2015-11-18 06:48] #2011 closed

[2015-11-18 06:54] Vaelyr commented on #2360
Can you share your modified javascript and the rest controller + dto. Thanks.

[2015-11-18 07:37] jdubois commented on #2361
Yes, it fails because of pagination, so I suppose that if you sort it then you'll have the latest ID, which would solve the issue...
Would you like to make the PR, so you are referenced as the author of this?

[2015-11-18 07:41] jdubois commented on #2359
Yes I remember already seeing this on an older Oracle version -> can you give us your Oracle version?

[2015-11-18 08:11] richteri commented on #2359
Hi! I'm using Oracle Database 11g Express Edition for development and the non-Express for production. I think 11gR2 is the most recent version in the Express product line. It's easy to modify initial_schema.xml before the first run but do we really need that extra 96 characters? We might, I'm new to OAuth2.

[2015-11-18 08:34] jdubois commented on #2359
I have to check if it's clearly written (cc @deepu105 ) but we only support the latest version Oracle, and have no plan in supporting earlier versions.
I don't know for "Express Edition", it looks like it doesn't exist anymore in the last (version 12) release.

[2015-11-18 08:52] deepu105 commented on #2359
Yes we only support 12c as 11g is EOL already sorry. I guess we dont have
that issue with 12c

On Wed, 18 Nov 2015 4:34 pm Julien Dubois <notifications@github.com> wrote:

[2015-11-18 08:55] richteri commented on #2359
OK, np., I'll need to upgrade to 12c.

[2015-11-18 09:00] #2359 closed

[2015-11-18 09:55] andreneutzling commented on #1855
Thanks for the feedback guys.

@deepu105, I've tried with Win default cmd, powershell and git bash, as User and as Admin. Non of them worked.

@pascalgrimaud, I'll try with another version of Node.

[2015-11-18 13:09] eater2 commented on #1787
Hi Julien, could You please share the spring boot / pom.xml configuration for Apache CXF in Jhipster ?

[2015-11-18 13:19] gmarziou commented on #1787
I have started from this:

https://github.com/spring-projects/spring-boot/pull/3104

[2015-11-18 13:36] jdubois commented on #1787
@eater2 no, it's a code I did for a client, I can't share it.

[2015-11-18 13:58] #2342 closed

[2015-11-18 14:31] geraldhumphries opened #2366 ""Cannot read property 'id' of null" when loading the dialog form for a generated entity with a one-to-one relationship"
* **Overview of the issue**

This happens when editing or creating an entity when a one-to-one relationship is null.

Stack trace:

[code]

Culprit:

[code]

* **Motivation for or Use Case**

Doesn't affect usability or functionality but throws errors in the console.

* **JHipster Version(s)**

2.23.0

* **Reproduce the error**

Generate an entity with a one-to-one relationship without a DTO, then

[2015-11-18 14:34] geraldhumphries commented on #2366
Correction, one-to-one only, not one-to-many.

[2015-11-18 15:06] pmadridb opened #2368 "[enhancement] Make Java code generated checkstyle compliant"
Make the Java code compliant with the default checkstyle configuration.

[2015-11-18 15:48] deepu105 commented on #2270
@atomfrede i tried the same and have no issues.

@DineshShende can you try to generate a fresh app using latest Jhispter and see if you still get the error?

[2015-11-18 16:26] Panthro commented on #2313
pull request #2365 created

[2015-11-18 22:01] #2313 closed

[2015-11-18 22:02] #2366 closed

[2015-11-18 22:33] shaivyamahajan commented on #1878
Disabling annotation processing in maven-compiler-plugin seems to fixe the duplicate class error, might be a more universal solution.  This relies on the maven-processor-plugin, which jhipster includes by default, to perform the annotation processing.  Just have to add this to the pom:
[code]

This allows including mapstruct as a dependency for IntelliJ:
[code]

[2015-11-19 06:47] Vaelyr commented on #2361
This is not why you assume the test would fail. Why is the test data populated with 19 records at first place? Testing with that amount of data is bad.

[2015-11-19 11:17] delverdev commented on #2350
Hi @brevleq. Saw you've created AngularJSForwardController. Seems like it work, but you can beatify the code.
value of RequestMapping annotation can get not only strings but string array too!

    @RequestMapping(value = { "/login**", "/activate*", ........and so on! }, method = RequestMethod.GET)
    public void methodsToRedirect(HttpServletRequest httpRequest, HttpServletResponse httpResponse) {

[2015-11-19 15:24] brevleq commented on #2350
Thanks for your help @delverdev. I will test this option in my environment and update the tip accordingly

[2015-11-19 21:30] wibbo commented on #1999
Do I understand the idea of this enhancement correctly, that the remember me functionality should work the same way when using a token-based authentication as it does for HTTP session authentication? And I think for OAuth2 authentication, this should be the case as well.

[2015-11-20 05:32] deepu105 commented on #2265
@cbornet are you adding this?

[2015-11-20 05:47] sendilkumarn opened #2374 "[enhancement] Add / Delete Users by Admin Users"
Currently there is no add / delete users for user management under admin. If nobody has any concern I can do a PR for this.

[2015-11-20 05:47] cbornet commented on #2265
Yes. I'll try to do it today

[2015-11-20 05:48] deepu105 commented on #2374
:+1:

[2015-11-20 10:45] jdubois commented on #2368
Not sure about this one, as we already follow Intellij IDEA's style
And last time I used it, Checkstyle rules were not very good (but that was something like 10 years ago)
Maybe we could have our own Checkstyle rules?

[2015-11-20 11:06] jdubois opened #2378 "Protractor tests fail"
I just merged #2375 and when running "grunt test" on a project with Protractor enabled, I have:

    PhantomJS 1.9.8 (Mac OS X 0.0.0) ERROR
      ReferenceError: Can't find variable: require
      at /Users/julien/workspace/tmp-protractor/src/test/javascript/protractor.conf.js:9

[2015-11-20 11:18] jdubois commented on #2378
It also now makes the normal build fail, here is a "grunt test" for a project without Protractor:

    Loading "browser-sync.js" tasks...ERROR

    Loading "grunt-karma.js" tasks...ERROR

    Warning: Task "karma" not found. Use --force to continue.

    Aborted due to warnings.

[2015-11-20 13:34] jdubois commented on #2378
@mraible as this is blocking me from doing the next release, I'm going to remove this just in the generators questions

[2015-11-20 13:42] mraible commented on #2378
Do you think this could be caused by the version of node you're using? My node version:

[code]

I just created a new project from master and here's the output from `grunt test`:

[code]

[2015-11-20 13:48] jdubois commented on #2378
No, I'm also on 4.2.2... Maybe I did something wrong...
Anyway, I'll have time next week, so this can go to another release we would do at the end of next week.

[2015-11-20 13:49] mraible commented on #2378
I tried with an older version of node and it seems to work as well:

[code]

Here's my `.yo-rc.json` file:

[code]

[2015-11-20 13:50] mraible commented on #2378
@jdubois I'm fine with skipping it for this release. I don't want to hold up any release process.

[2015-11-20 13:53] mraible commented on #2356
A first pass at a colored banner: https://github.com/jhipster/generator-jhipster/pull/2377

[2015-11-20 13:56] jdubois commented on #2356
I'm closing this as the migration is done! There wasn't anything to do except the color banner :-)

[2015-11-20 13:56] #2356 closed

[2015-11-20 14:17] eater2 commented on #1787
Do You know if CXF SOAP webservice can coexist with JHipster MVC Rest WS-es ?
Looks like if i add cxf to pom.xml , it overloads the spring mvc rest annotations, or am i doing it wrong ?

[2015-11-20 15:24] gmarziou commented on #1787
There's no problem doing so, I did it.
I mapped REST controllers on /api (as usual in JHipster) and CXF on /services

[2015-11-20 15:31] eater2 commented on #1787
could You please share the project configuration You did ?
pom.xml and WebServiceConfiguration.java ?

[2015-11-20 15:41] gmarziou commented on #1787
I can't share this but I already shared the link with the project that got me started.

[2015-11-20 15:45] jdubois commented on #1787
@eater2 please follow the project's guidelines and ask this type of question to Stackoverflow

[2015-11-20 15:49] gmarziou commented on #2374
Well, usually I don't like to delete users, I prefer to flag them as blocked or inactive, it's easier to rollback in case of error.

[2015-11-20 16:17] superandrew opened #2379 "Implement angular generator"
Hello, I would suggest to implement generator for angular such as

    yo:angular view mywiew

or

    yo:angular route myroute

or

    yo:angular controller mycontroller

As seen in https://github.com/yeoman/generator-angular

[2015-11-20 16:26] deepu105 commented on #2374
We already have activate inactive, but i think its good to have a delete
and create as well, as its a common use case i have seen a lot, in
applications where the user provisioning is managed by admins especially in
internal application for companies etc
On 20 Nov 2015 23:49, "Gaël Marziou" <notifications@github.com> wrote:

[2015-11-20 16:29] deepu105 commented on #2379
I think you can use angular generator on a jhipster generated folder, as we follow similar code structure. But i font think we have plans to support these subs directly unless we have a plugin system @jdubois correct me if im wrong

[2015-11-20 16:53] gmarziou commented on #2379
This has been discussed earlier, please search the issues for details.
Conclusion was that some generators may work, some may not.
It's too hard to maintrain compatibility between generators which may not use same coding style.

[2015-11-20 16:57] gmarziou commented on #2374
You're right and also we have this scheduled purge of unactivated users that I recently forgot to disable in an app without activation ;)

[2015-11-21 04:15] jodevan commented on #2360
Sorry for the late response. Here are the relevant parts:

User entity:
[code]

UserDTO:

[code]

register.controller.js:
[code]

AccountResource.java:
[code]

[2015-11-21 07:54] jdubois commented on #2379
Yes @deepu105 you are correct:

- They are supposed to work (this was done be @jmirc ) as we have the same structure. But it's not 100% perfect so I'm not writing this everywhere in the doc
- That's the basic idea behind the "plugin" system -> it's mostly facilitating or validating how to use other generators in the JHipster project

[2015-11-21 07:54] #2379 closed

[2015-11-21 08:00] #2329 closed

[2015-11-21 08:44] pascalgrimaud commented on #2378
I check the build https://travis-ci.org/jhipster/generator-jhipster/builds/92234541

The app start in dev profile : https://travis-ci.org/jhipster/generator-jhipster/jobs/92234554
But for prod profile, fail to start (check log) :
* https://travis-ci.org/jhipster/generator-jhipster/jobs/92234561
* https://travis-ci.org/jhipster/generator-jhipster/jobs/92234563

Maybe https://github.com/jhipster/gen

[2015-11-21 20:24] andreneutzling commented on #1855
@pascalgrimaud, I upgraded to node v5.1.0 (latest stable) and it's working fine now. Thanks a lot for your support!

[2015-11-22 18:39] The-Crocop opened #2383 "Lack of inheritance is show stopper"
Yo jhispters,

I am really intrigued by the jhipster project and we want to implement our next project with jhipster. However because inheritance is not supported we might not be able to use jhipster. So the Problem is this:
 we have an abstract  class subject which is the parent of  Person and multiple child classes of Person like Employee, Customer, Interpreter. Subject would be our mapped super

[2015-11-23 10:13] jdubois commented on #2383
We don't provide inheritance for various reasons:
- It's going to have an impact on the performance on your app, depending on your inheritance strategy, and that's the main reason I would avoid it myself
- It would be really annoying to set up and configure in JHipster (both for us and for the 95% of people who don't want inheritance), when you could achieve it from normal entities with a simple r

[2015-11-23 10:13] #2383 closed

[2015-11-23 10:13] jdubois commented on #2383
By the way, this kind of question should go to StackOverflow, and not to the bug tracker.

[2015-11-23 11:16] xjiaoyang opened #2386 "Cached account data should be force loading on main page ???"
i dont think this a very serious issue!!!

USING V2.23.1, Java 8, MySQL

here is how to reproduce：
`login(any account)` --> `go to settings page(maybe: http://127.0.0.1:8080/#/settings)` --> `change first name or the last name` --> `do not save` --> `redirect to main page(usually: http://127.0.0.1:8080/#/)`

and you see the account.userName and account.lastName is the value you set up on settings

[2015-11-23 13:33] The-Crocop commented on #2383
Thank you for your answer.
I will see if I can work around this.
By the way great project keep it going ;-)

[2015-11-23 16:11] geraldhumphries opened #2387 "[enhancement] Paginate Elasticsearch search results"
Right now, searching in an entity list will load all results into the table, and the pagination controls from the regular, non-searched browsing will remain. Spring Data Elasticsearch has support for pagination just like Spring Data JPA repositories. This will return a page of entities:

`Page<Entity> page = entitySearchRepository.search(queryStringQuery(query), pageable);`

This can also be queri

[2015-11-23 19:20] geraldhumphries commented on #1374
Bootstrap's pagination directive looks like this:

`<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>`

We will need to refactor PaginationUtil to add number of pages, but we can remove the LINK header and the ParseLinks service which simplifies things a lot. This also

[2015-11-23 19:27] geraldhumphries commented on #1374
It looks like using the Link header is best practice for APIs, so it should remain even if we stop using it.

[2015-11-23 20:12] mraible commented on #2378
@pascalgrimaud It looks like the prod profiles are failing with the following issue:

[code]

gulp-karma is removed as part of this PR, so I'm not sure why there's an error about it above.

[2015-11-23 20:13] mraible commented on #2378
Could be related to https://github.com/karma-runner/karma/issues/873

[2015-11-23 20:30] pascalgrimaud commented on #2378
@mraible : I don't know if it is related to this issue but
maybe all tests `<% if (testFrameworks.indexOf("protractor")) { %>`
should be `<% if (testFrameworks.indexOf("protractor") != -1) { %>` instead ?

[2015-11-24 00:50] deepu105 commented on #1374
Did you try the uib directive in Jh app does it work? If so you  can do a
PR?
On 24 Nov 2015 03:27, "Gerald Humphries" <notifications@github.com> wrote:

[2015-11-24 03:03] geraldhumphries commented on #1374
It does work. I am working on a PR right now.

[2015-11-24 03:29] geraldhumphries commented on #1374
It does work. I am working on a PR right now. A few questions:

1. For the simple pager, uib provides a pager directive with "Previous" and "Next", but with no "First" and "Last". The current functionality can be copied by simply using the regular pagination directive with `max-size="0"`, but I do not see a point in ever choosing this over full pagination. Bootstrap's pager is different enough tha

[2015-11-24 06:56] deepu105 commented on #1374
1. I havent used the simple pager myself so im not sure @jhipster/developers any comment on this? though I have always thought why someone would select the simple pager!
2. For config,I think it will nice to have it globally as one can override locally when required
3. I guess its better to have it outside as you suggest, for small devices personally im ok if it wraps neatly as it is the normal bo

[2015-11-24 07:26] arushijain45 opened #2390 "With mapper NoSuchBeanException"
I am using mapStruct feature and when i added a simple entity with DTO enable and ran the application, Got following error:
Caused by: org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type [com.sample.jhipster.web.rest.mapper.AuthorMapper] found for dependency: expected at least 1 bean which qualifies as autowire candidate for this dependency. Dependency annot

[2015-11-24 08:07] jdubois commented on #2390
Maybe the annotations post processor didn't run, that depends on your IDE configuration.
Can you try running it with Maven? That way we are sure the post processing works.

[2015-11-24 08:31] robertolos opened #2391 "Problems deploying to Amazon AWS"
**Overview of the issue** - When trying to deploy my application to Amazon AWS (yo jhipster:aws) I'm getting the following error.
[code]
**Motivation for or Use Case** - not possible to use the generator to deploy on aws
**JHipster Version(s)** - 2.24.0
**JHipster configuration, a .yo-rc.json file generated in the root folder** -
[code]
**Browsers and Operating System** - Arch Linux updated to 23/

[2015-11-24 09:25] gmarziou commented on #2391
Please fiollow our guidelines before submitting an issue: https://github.com/jhipster/generator-jhipster/blob/master/README.md

[2015-11-24 09:49] robertolos commented on #2391
I was not able to find the guidlines, thanks! I just updated my request

[2015-11-24 10:42] arushijain45 commented on #2390
@jdubois i tried with maven but it is giving me following issue :

Could not start process: ERROR: listen(): bind() failed errno:10048 Only one usage of each socket address (protocol/network address/port) is normally permitted. for socket: 0.0.0.0:27017
2015-11-24T15:57:08.116+0530 [initandlisten] allocating new ns file C:\Users\ARUSHI~1.JAI\AppData\Local\Temp\embedmongo-db-31f248d7-2cce-4b59-8a7f

[2015-11-24 11:40] deepu105 commented on #2390
Please follow the issue guidelines and post app congfig, entity config etc
if you need our help

On Tue, 24 Nov 2015 6:42 pm arushijain45 <notifications@github.com> wrote:

[2015-11-24 14:09] lukasw44 opened #2395 "HazelcastInstance with name already exist"
Hi

My system :
- osx
- maven 3.3.9
- java 1.8_65
And the jhipster configuration:
[code]

there is a problem with hazelcast when i try run mvn clean install

[code]

[2015-11-25 05:08] DineshShende commented on #2270
@atomfrede @jdubois  @deepu105  I have tried with 2.24.0, its working fine.Sorry for late reply I was struggling to update jhipster. You can close this issue.

[2015-11-25 05:09] #2270 closed

[2015-11-25 06:01] hyuan commented on #733
I think @franciscocpg's suggestion one - use bsh to write scripts - is doable. I submitted a PR https://github.com/mongeez/mongeez/pull/55 to mongeez

[2015-11-25 06:58] MateuszPu opened #2396 "Authorizations in angular state"
In documentation state that "For each state, the required roles are listed in the state’s data, and when the role list is empty it means that the state can be accessed anonymously."

So the problem is: when i create new state and configure it like this:

data: {
                    roles: ['ROLE_USER'],
                    pageTitle: 'index.title'
                },

And have empty controller, the

[2015-11-25 09:03] wuethrich44 commented on #2391
I'm currently extremly busy so maybe @deepu105 could take a look at this.

@robertolos Are you sure your IAM user has correct access rights to your S3 buckets?

[2015-11-25 10:29] jdubois commented on #2390
I don't understand if this is a MapStruct or MongoDB issue: if you have 2 issues, can you post 2 different tickets?
As far I see you have an issue as you started MongoDB twice, so needed to change the port on the second instance.

[2015-11-25 10:29] #2390 closed

[2015-11-25 10:32] jdubois commented on #2368
As far as I'm concerned I'm happy with our current code style and will not change it, so unless there is a good reason to change this, I'm closing this.
I'd be happy if we had our own Checkstyle rules, so if anybody is interested that would make a good PR. I don't know if Checkstyle is popular or not?

[2015-11-25 10:32] #2368 closed

[2015-11-25 10:36] jdubois commented on #1374
@deepu105 simple pager if useful with Cassandra -> as you can't have the "size" of the data (unless you do a full scan), it's the only solution to use
Yes I'm fine with using the pagination from UI Bootstrap, @geraldhumphries your PR is welcome!

[2015-11-25 10:44] deepu105 commented on #2391
@robertolos I need more info to reproduce this, what was the options you choose while running `yo jhipster:aws` was there any stacktrace?

[2015-11-25 10:48] #2361 closed

[2015-11-25 10:56] deepu105 commented on #2312
closed via https://github.com/jhipster/generator-jhipster/commit/8f8b0d2b8ce22205561c26d15931e360b8c4bc4d

[2015-11-25 10:56] #2312 closed

[2015-11-25 11:04] deepu105 commented on #2320
@dalbelap my only concerns are below if those are addressed im ok with the plugin
1. it needs to be bower manageable
2. it should be bootstrap compatible
3. it should be atleast compatible with angular without too much tweaks
4. it should be i18n supported or compatible with angular-translate

From your sample it looks easy to write a wrapper directive to make it work with angular translate, so th

[2015-11-25 11:04] wzomer opened #2397 "All users of the same login leave when I give logout with one user (OAuth 2)"
{Google translate help}

* **Overview of the issue**

All users of the same login leave when I give logout with one user (OAuth 2), is this right?

* **Motivation for or Use Case**

For example, if I use facebook on multiple machines, leaving a not out of the other.

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

{
    "generator-jhipster": {
        "authenticati

[2015-11-25 11:06] deepu105 commented on #1716
closing this as issue https://github.com/jhipster/generator-jhipster/issues/1999 is more detailed and is talking about the same thing

[2015-11-25 11:07] deepu105 commented on #1716
oops talked too soon its different issue i guess

[2015-11-25 11:08] deepu105 commented on #1832
@Herisson-88 are you doing this?

[2015-11-25 11:08] jdubois commented on #2397
I guess it removes all the tokens for this user -> this is handled by Spring Security, not JHipster, so I can't tell if that's "normal" or not, you might ask this on StackOverflow or submit this ticket to Spring Security.

[2015-11-25 11:08] #2397 closed

[2015-11-25 11:09] deepu105 commented on #2050
this might be fixed by @geraldhumphries PR on this using ui bootstrap directive

[2015-11-25 11:11] deepu105 commented on #2245
@sendilkumarn can you check this?

[2015-11-25 11:29] arushijain45 opened #2398 "Mongodb connection issue"
I have created simple entity with following features
DTO disabled,
database: mongoDB,
build system: Gradle,

I am using Java8
Now when I imported the project in spring and tried to run the application, I have encountered following error:

java.io.IOException: Could not start process: ERROR: listen(): bind() failed errno:10048 Only one usage of each socket address (protocol/network address/port) is

[2015-11-25 11:32] arushijain45 opened #2399 "@Mapper produces BeanCreationException"
I have created an application using JHipster with DTO enabled, mongo database, build system: gradle.
Without any changes in any of configuration file, I ran the application in spring.
I got following issue:

[WARN] org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springfra

[2015-11-25 11:41] robertolos commented on #2391
I used all the default parameters proposed by jhipster generator. In particular the name of the S3 bucket was the same as the application name.
I just tried to change the s3 bucket name and the deploy ended correclty.
I also checked on the AWS web interface and there is only one s3 bucket, the one created by the last successfully run.

[2015-11-25 12:43] Herisson-88 commented on #1832
sorry, I'm quite busy on this moment, No time for me and mine and further
for extra job coding... Sorry. (But in fact I'have allready post the code
you can use as you like - and in fact it's a very simple and stupid
unpretentious idea - I'm not an expert - it just solved my problem)

2015-11-25 12:08 GMT+01:00 Deepu k Sasidharan <notifications@github.com>:

[2015-11-25 13:29] cornelcreanga opened #2400 "Too many audit entries for the login event"
Hello,

The login event is recorded three times in the audit table (no remember me cookie)

Steps to reproduce:
-create an application (jhipster v2.23.1, HTTP Session Authentication,Mysql ,ehcache local)
-clear all the cookies (just to be sure)
-start the application, login with admin/admin
-the jhi_persistent_audit_event table contain three entries. (

Let me know if you want more info (for examp

[2015-11-25 13:33] pascalgrimaud commented on #2400
Duplicated issue : https://github.com/jhipster/generator-jhipster/issues/2011
It was fixed by https://github.com/jhipster/generator-jhipster/pull/2357 : spring-boot 1.3.RELEASE

So try to upgrade to JHipster 2.24.0

[2015-11-25 14:16] #2400 closed

[2015-11-25 14:21] deepu105 commented on #2391
So is this still an issue or can we close it
On 25 Nov 2015 19:41, "Roberto" <notifications@github.com> wrote:

[2015-11-25 14:24] robertolos commented on #2391
I think it might be an issue as looks like with the default s3 name the deploy fails

[2015-11-25 14:34] deepu105 commented on #2391
Ok ill check

[2015-11-25 14:46] sendilkumarn commented on #2245
@deepu105 checked in

[2015-11-25 15:42] gmarziou commented on #2399
Looks like the mapstruct annotation processor did not generate UserProfileMapperImpl.java, could it be an issue with gradle only? Normally `gradlew compile` should execute mapstruct.gradle task which generates the mappers.

[2015-11-25 16:10] geraldhumphries commented on #1374
Here is an example of the pagination wrapping:
![pagination-wrapping](https://cloud.githubusercontent.com/assets/5278953/11401935/34ae873a-9363-11e5-86d3-e15302e33699.png)

Happens on my phone too. This can mostly be solved by using `.pagination-sm`, but that makes the buttons very small and kind of hard to hit on mobile. If this is unacceptable I will leave it inside `.table-responsive`. We do lo

[2015-11-25 16:37] cornelcreanga commented on #2400
Thanks, it works with 2.24.0.

[2015-11-25 20:00] geraldhumphries commented on #2050
I did not touch the link headers or change the user management parameter name in my PR. This should be fixed separately.

[2015-11-26 00:43] deepu105 commented on #1374
+1 from me and you can use the simple pager from bootstrap to replace our
simple pager as well
On 26 Nov 2015 00:10, "Gerald Humphries" <notifications@github.com> wrote:

[2015-11-26 02:09] #2321 closed

[2015-11-26 06:32] atomfrede commented on #2399
I can't reproduce it. The mapstrucht dto mapper is generated just find, both running ``gradlew bootRun`` and directly via ``gradlew compileJava`` My config:
[code]

and I've created a simple entity:

[code]

[2015-11-26 07:29] jdubois commented on #2399
This is probably an IDE misconfiguration (I'm not saying this is easy to configure! See http://jhipster.github.io/using_dtos.html ), as @atomfrede couldn't reproduce it with Mvn/Gradle.

[2015-11-26 07:29] #2399 closed

[2015-11-26 09:33] atomfrede commented on #2398
Looks like some process is already listening on port 27017 and mongo by default also uses that port. Cab you check if thats the case?

[2015-11-26 09:40] arushijain45 commented on #2398
@atomfrede, I have checked and found that no other process is listening to that port. When I run the application, it makes the connection and then immediately it closes and the above error comes on console.

[2015-11-26 14:38] sendilkumarn commented on #2346
@kn4ls :+1:

Also @jdubois  & @deepu105  we can change this return responseEntity <> in UserResource and AccountResource similar to what we will do in EntityResources.

ResponseEntity.ok()
           .headers(HeaderUtil.createEntityUpdateAlert("user", managedUserDTO.getLogin()))
                    .body(new ManagedUserDTO(userRepository
                        .findOne(managedUserDTO.getId()))

d

[2015-11-26 19:30] atomfrede commented on #2398
I can't reproduce it. I've started mongo via ``docker-compose up -d`` and my jhipster config looks like this and everything works fine when executing ``gradlew bootRun``:

[code]

[2015-11-27 01:56] deepu105 commented on #2346
I think @gzsombor was talking about re writing these classes

[2015-11-27 01:57] deepu105 commented on #2346
@sendilkumarn yes these needs to be updated for uniformity as well

[2015-11-27 10:01] alfredorueda opened #2404 "Recommended workflow to handle two associations between two classes   with two   different owning sides"
Hello, I would like to know the best approach to handle this situation , please . suppose we have two classes team and player , then suppose we have two kind of associations between team and player. The first one is a one-to-many association between team and player, to reflect that a team can have many players. In this case , naturally , player is the owner of the Association. The second one is a

[2015-11-27 10:30] robertolos opened #2405 "Impossible to install AWS-SDK after update to npm v.3.5.0"
**Overview of the issue** - After my OS (Archlinux) upgraded npm to version 3.5.0 I'm no longer able to install aws-sdk

**Motivation for or Use Case** - upgrade to npm 3.5.0 brakes the aws-sdk install
**JHipster Version(s)** - 2.24.0
**JHipster configuration, a .yo-rc.json file generated in the root folder** -
[code]
**Browsers and Operating System** - Arch Linux updated to 26/11/2015
**Reproduce

[2015-11-27 11:04] jdubois commented on #2405
From what I read this is an error with the AWS SDK: we don't provide this, it is done by Amazon -> you should ask Amazon support for this
I'm closing this as this isn't a JHipster bug

[2015-11-27 11:04] #2405 closed

[2015-11-27 11:05] jdubois commented on #2404
This is not a bug or a feature request -> I'm closing this according to our guidelines, as this kind of question should go to StackOverflow (please repost this on StackOverflow using the JHipster tag)

[2015-11-27 11:05] #2404 closed

[2015-11-27 11:24] saahon opened #2406 "Jhipster - error with creating field"
The problem: when I created new entity with jhipster on the terminal ubuntu, after creating field no asked of type for field. Instead, move to the next stage. How to fix this error?
screenshot:  http://i.stack.imgur.com/Y4lFr.png

[2015-11-27 11:26] jdubois commented on #2398
@arushijain45 how do you check that nothing else is listening to that port? Could you try rebooting your box, in case you have a zombie process using that port?
If @atomfrede can't reproduce the issue, we will have to close this, unless you give us more information.

[2015-11-27 11:29] jdubois commented on #2406
You don't even have a question asking you for the type of your field??

I'm closing this, according to our guidelines, as:
- You don't provide your JHipster version
- You don't provide your JHipster configuration

So it's really impossible for us to reproduce.

[2015-11-27 11:29] #2406 closed

[2015-11-27 11:34] arushijain45 commented on #2398
@jdubois I had checked using windows command netstat -ano | find "27017" and I had started my mongoDb using command mongod

[2015-11-27 11:46] arushijain45 commented on #2398
TCP    0.0.0.0:27017          0.0.0.0:0              LISTENING       4176

2015-11-27T17:10:04.751+0530 I CONTROL  Hotfix KB2731284 or later update is not
installed, will zero-out data files
2015-11-27T17:10:04.766+0530 I JOURNAL  [initandlisten] journal dir=E:\data\db\j
ournal
2015-11-27T17:10:04.766+0530 I JOURNAL  [initandlisten] recover : no journal fil
es present, no recovery needed
2015-11-2

[2015-11-27 11:47] robertolos commented on #2405
Ok I'll do it.
Thanks Julien

[2015-11-27 11:47] saahon commented on #2406
I edited the question

[2015-11-27 12:08] deepu105 commented on #2406
What is your .yo-rc.json file configuration only then we can reproduce

[2015-11-27 12:19] saahon commented on #2406
```{```
```  "generator-jhipster": {```
 ```   "baseName": "epos_monitor",```
```    "packageName": "com.epos_monitor",```
  ```  "packageFolder": "com/epos_monitor",```
```    "authenticationType": "session",```
  ```  "hibernateCache": "ehcache",```
```    "clusteredHttpSession": "no",```
```    "websocket": "no",```
```    "databaseType": "sql",```
 ```   "devDatabaseType": "postgresql",```
 ``

[2015-11-27 12:59] jdubois commented on #2406
Did you try with a correct package name? We don't check this (maybe we should!), but your package name is wrong

[2015-11-27 14:13] gmarziou commented on #2405
One thing you could try is to empty your node_modules folder because npm 3 has changed its layout. I had to do this for an issue not related to AWS though.

[2015-11-27 14:14] jdubois commented on #2405
Yes good tip @gmarziou

[2015-11-27 14:17] gmarziou commented on #2398
This is another issue about having not run mapstruct annotation processor, either run 'maven compile' or search the issues for Eclipse or maybe read our doc about setting up Eclipse.

https://jhipster.github.io/configuring_ide_eclipse.html

[2015-11-27 14:45] franciscocpg commented on #733
@hyuan, great news! But I think mongeez is a little bit "inactive". The last appoved PR was on 4 Aug 2014 and the last closed was on 12 May 2015.
Let's pray for they approved your PR. :)

[2015-11-27 15:36] deepu105 commented on #2405
yes also trying to reinstall again if it fails might also help, after node
upgrade I have faced errors as well with some modules

On Fri, Nov 27, 2015 at 10:14 PM, Julien Dubois <notifications@github.com>
wrote:

[2015-11-27 15:40] #2050 closed

[2015-11-27 15:48] #2245 closed

[2015-11-27 15:51] kamfasage opened #2409 "Oracle database"
there is a Problem while removing the JHipster generated tables in database,
JHipster doesn't recreate these tables when recompiling the project.

[2015-11-27 15:52] robertolos commented on #2391
Hi @deepu105 ,
I just found another issue, after deploying the application on aws the environment was not started. In the Elastic Beantalk web interface I found the following error:
[code]
I solved the problem by creating a new inline policy for my user with the following content:
[code]

[2015-11-27 15:55] jdubois commented on #2409
Please follow our guidelines at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

- we need to have your configuration and version number in order to reproduce
- we need to have the steps you did in order to reproduce

[2015-11-27 15:55] #2409 closed

[2015-11-27 16:42] jdubois commented on #1823
This is merged!

[2015-11-27 16:42] #1823 closed

[2015-11-27 16:58] geraldhumphries commented on #2396
The name of the variable was changed from `roles` to `authorities` in 2.21.0:

http://jhipster.github.io/2015/09/16/jhipster-release-2.21.0.html

Try renaming it.

[2015-11-27 17:01] jdubois commented on #2396
Oh yes, that's the issue, that was in the release notes but that's not obvious, of course.

[2015-11-27 17:01] #2396 closed

[2015-11-27 17:28] cbornet commented on #2409
It's normal : liquibase doesn't scan the DB. It just plays the xml confs in the order of the master.xml file and has a databasechangelog table to know which changes were applied. You should check the [liquibase doc](http://www.liquibase.org/documentation/). Maybe you can play with the databasechangelog table to have liquibase recreate your table.

[2015-11-27 20:05] geraldhumphries opened #2410 "add visual feedback and usability improvements for server-side entity sorting"
Mentioned in the todos for #2314. This should go into the same release as #2314, opening an issue to help track it.

@deepu105 you mentioned you would work on this.

[2015-11-28 05:22] deepu105 commented on #2391
@robertolos
normally we dont create IAM roles as it needs to be created before using the subgen, btw you can contribute that to our generator as a PR if you would like

[2015-11-28 05:26] deepu105 commented on #2410
yes ill , will try to get it done today or tomorrow

[2015-11-28 09:24] khipis opened #2411 "Missed translations in Polish language"
There are some missed polish translations

[2015-11-28 09:35] cbornet commented on #2411
@khipis Would you submit a PR to add them ?

[2015-11-28 09:38] khipis commented on #2411
Yes, I've open issue to fix this but unfortunatly I've returned response that permission is denyied for me :(

[2015-11-28 11:09] cbornet commented on #2411
You need to fork the project. You should read https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md. Everything is explained there.

[2015-11-28 13:08] bourdux commented on #2242
@mraible, @lluiscanals  Still IntelliJ will not automatically compile the class when the application is running. But hitting Shift-F9 will do the trick. I don't understand why IntelliJ starts a debugger when reloading the classes though :/

[2015-11-28 13:42] khipis commented on #2411
Sure, will do that

[2015-11-28 16:51] #2411 closed

[2015-11-29 11:25] jdubois commented on #2398
@arushijain45 at the very beginning you said you had DTO disabled -> you do have some DTO, this is what this Mapper class comes from, so this is another issue.
As @atomfrede can't reproduce your issue, and you have this other issue mixed in, it's really hard to help you here.

[2015-11-29 11:30] jdubois commented on #2378
I don't have the issue anymore, so I'm closing this

[2015-11-29 11:30] #2378 closed

[2015-11-29 11:31] jdubois opened #2414 "Update lodash to version >3.0.0"
When starting a new JHipster project we have the following warnings:

    npm WARN deprecated lodash@2.4.2: lodash@<3.0.0 is no longer maintained. Upgrade to lodash@^3.0.0.
    npm WARN deprecated lodash@1.0.2: lodash@<3.0.0 is no longer maintained. Upgrade to lodash@^3.0.0.

We should upgrade to the latest version

[2015-11-29 11:46] atomfrede commented on #2414
:+1:

[2015-11-29 17:05] TonyLuo commented on #1743
this issue still exists in JHipster Generator v2.24.0

[2015-11-29 17:05] #2410 closed

[2015-11-29 17:07] jdubois commented on #1743
@TonyLuo I just tested it on the current master branch and it's working... It looks like there's something else here, more than just generating the app and adding a new language

[2015-11-30 01:03] rpoitras commented on #1216
I was using Application.yml config much like mraible's example above, however not a cloud deployment.  No longer works for me.  With MailConfiguration.java removed, what is the basic approach now?  Should MailService.java be modified to add properties to JavaMailSenderImpl like SMTP and TLS settings?

Any guidance?  I must admit I haven't dug into how to manage this problem from a Spring Boot poin

[2015-11-30 03:46] TonyLuo commented on #1743
@jdubois  I generated a brand new project running command yo jhipster , then I removed the French language first and added Chinese following this guide http://jhipster.github.io/installing_new_languages.html , and then changed preferred language  to be zh-cn .  I did nothing else but just these steps. after that run mvn -Pprod clean package, the test failed with Error: Unexpected request: GET i18n

[2015-11-30 04:03] saahon commented on #2406
how the correct the package name?

[2015-11-30 04:50] pascalgrimaud commented on #2406
Can't reproduce your problem.

Can you :
* show your `package.json` in this project
* start a new project instead of the project from bitbucket, and try to reproduce your error

[2015-11-30 05:16] saahon commented on #2406
My error there is for different versions of the node. I deleted and re-copy the folder node_modules and an error was corrected. Thank you for all the aid and advice

[2015-11-30 05:22] pascalgrimaud commented on #1743
@TonyLuo : can you try this ? https://github.com/jhipster/generator-jhipster/issues/1927

[2015-11-30 05:39] pascalgrimaud commented on #1216
it's spring boot configuration
You have to modify your application-dev.yml or application-prod.yml
Here an example with GMail :
[code]

[2015-11-30 06:25] TonyLuo commented on #1743
@pascalgrimaud  I tried , but it didn't work for me.

[2015-11-30 07:47] pascalgrimaud commented on #1743
@TonyLuo: what file did u put in your karma.conf.js ?

[2015-11-30 09:24] jdubois commented on #2204
As @delverdev has postponed this, and as we already support so many authentication options, I'm closing this as this won't be done in the near future.

[2015-11-30 09:24] #2204 closed

[2015-11-30 13:34] deepu105 commented on #2414
:+1:  there is also some conflict with angular translate version, we might need to add it in resolutions

[2015-11-30 13:38] deepu105 commented on #2362
closed via https://github.com/jhipster/generator-jhipster/pull/2352

[2015-11-30 13:38] #2362 closed

[2015-11-30 13:44] deepu105 commented on #2320
@dalbelap since this is just addition to index JS and may not be worth adding as a new option in generator(I dont think we can have it on by default as everyone might not want it) why dont you submit it as a [tip](http://jhipster.github.io/tips.html) in our [documentation project](https://github.com/jhipster/jhipster.github.io)

[2015-11-30 13:49] deepu105 commented on #2149
+1 im ok to have it only in the JSON

[2015-11-30 13:49] TonyLuo commented on #1743
I put  zh.js  in karma.conf.js after  // endbower. but it didn't work.

`
  // endbower
   'main/webapp/bower_components/messageformat/locale/zh.js',
`

[2015-11-30 15:40] sendilkumarn commented on #2414
:+1:
But I guess the warning is because some other node modules are using outdated version.

[2015-11-30 18:07] piedrahitac commented on #2391
I think this issue is related to the name of the bucket. It has happened to me in the past, but I always got around it by choosing a different name.

If I'm not mistaken bucket names are globally unique and have certain constraints regarding case and available characters, so according to my experience, if either of these conditions fail the sub-generator throws that `null` error.

[2015-11-30 23:21] rpoitras commented on #1216
Thank you very much :-)

[2015-12-01 03:24] thangnc commented on #1743
I'm using JHipster 2.23.0. Put vi.js below //end bower will be worked. But when we run `grunt build`. Its not include the default locale into index.html.

[2015-12-01 06:47] Vaelyr commented on #2386
Problem here is that the account is on root scope. Proper solution would be to have a separate variable for storing name on navigation instead of using the same global. Force query is not needed here.

[2015-12-01 06:59] Vaelyr commented on #2185
Any reason for having separate logic controllers here? What about changing the main login into popup as well to avoid duplication and reuse the controller, view and service.

[2015-12-01 07:07] Vaelyr commented on #2173
What is the actual Java type you were using here? LocalTime is not a date as mentioned in first post.

I have only used LocalDatetime and Date instances. On angular side formatted with moment and works in any case.

[2015-12-01 09:19] mihaisimi opened #2417 "Romanian I18n"
If romanian language is added later in a project the json is not being generated for entities.

Missing "ro" line at line 1395:
https://github.com/jhipster/generator-jhipster/blob/master/entity/index.js

Related to #1583

[2015-12-01 10:34] pascalgrimaud commented on #2417
@mihaisimi : would you like to submit a PR to fix it ?

[2015-12-01 10:34] mihaisimi commented on #2417
I am doing it now.

[2015-12-01 11:43] deepu105 commented on #2386
Agree it should be separate scope variable
On 1 Dec 2015 14:48, "Vaelyr" <notifications@github.com> wrote:

[2015-12-01 11:45] deepu105 commented on #2173
Can you PR it if you are able to solve it
On 1 Dec 2015 15:07, "Vaelyr" <notifications@github.com> wrote:

[2015-12-01 12:44] Raysmond opened #2419 "logback.loglevel replacing naming in profile_*.gradle"
I found  that the loglevel replacing was not configured correctly.

For example the code in `profile_prod.gradle`

[code]

should be

[code]

[2015-12-01 12:44] #2417 closed

[2015-12-01 13:03] atomfrede commented on #2419
Looks like it was not adapted to new spring boot 1.3. Will take care of it (your do would like to provide a pr?), thnaks for the hint.

[2015-12-01 13:48] sendilkumarn commented on #2419
@Raysmond I think you have to add in prod / fast / dev gradle files.

[2015-12-01 13:54] Raysmond commented on #2419
Yes. I changed those gradle files in my projects. I hope that this can be fixed in jhipster generator.

[2015-12-01 13:57] sendilkumarn commented on #2419
@Raysmond  Okay will do a PR

[2015-12-01 14:01] jdubois commented on #2391
- The title of this issue is not clear -> please @robertolos can you put a clear title, so we know what it refers to?
- from my understanding the first issue is closed, and now you are discussing another issue -> can you open up a new issue for this? This is so we can keep track of each issue

I'm closing this as the original issue looks solved.

[2015-12-01 14:01] #2391 closed

[2015-12-01 14:19] Raysmond commented on #2419
Hi. I already created a PR.

[2015-12-01 14:19] tayfunyasar opened #2421 "rollback not working well"
I was trying to add new entity (yo jhipster:entity user).

I was cancelled operation at override step but, my frontend controller js files were already overridden.

I'm trying to generete new project now.

FYI

[2015-12-01 14:27] jdubois commented on #2421
I don't know what you call "rollback"... I guess you went to the last question and killed the process while it was generating, so of course you only have half of the files generated. There is no transaction here, we just generate files on the filesystem, so we don't rollback anything if you kill the process.
The only way to have this working, is that you use Git: do a commit before generating, and

[2015-12-01 14:27] #2421 closed

[2015-12-01 14:33] tayfunyasar commented on #1628
I'm having trouble with yeoman-maven-plugin. I've tried "discover new m2e connectors" nothing found.

[2015-12-01 14:45] jdubois opened #2422 "JS error when ordering an entity table with infinite scroll pagination"
This is on the current master branch (unreleased v2.25.0), with the new ordering of entities ( @deepu105 I think it comes from you? ).

- Generate a new entity
- Select "infinite scroll" pagination
- Do a lot of entities
- Order those entity on an attribute (not the ID)

You will get the following error:

    Error: [ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expressi

[2015-12-01 14:50] #1374 closed

[2015-12-01 16:04] deepu105 commented on #2422
The error is strange, id should not be repeating and we already have track by id.
Anyway @geraldhumphries since the PR was from you can you plz take a look?

[2015-12-01 20:06] geraldhumphries commented on #2422
Looking into it now. I remember seeing this error but I thought I fixed it.

[2015-12-01 20:46] geraldhumphries commented on #2422
I was able to reproduce. I inserted a bunch of rows with the same values in one of the fields, then added a few more rows with different values. When I sorted by that field and started scrolling down, I got duplicate rows at the end leading to the Angular error. Running the query it uses in Postgres directly caused the same thing to happen. I found a SO question that answers why:

stackoverflow.co

[2015-12-01 21:25] arushijain45 commented on #2398
@atomfrede I have not enabled DTOs, I again created a simple entity without any DTO and this is how I am getting mongo in DBConfig
@Override
    public Mongo mongo() throws Exception {
    	MongoClientOptions options = MongoClientOptions.builder().connectTimeout(60000).build();
    	return new MongoClient(new ServerAddress(mongoProperties.getHost(), mongoProperties.getPort()),/*Arrays.asList(crede

[2015-12-02 02:12] #2422 closed

[2015-12-02 02:20] deepu105 commented on #2374
Pr merged

[2015-12-02 02:20] #2374 closed

[2015-12-02 02:24] deepu105 commented on #2135
Is anyone working on this? If not im closing it later

[2015-12-02 06:16] atomfrede commented on #2398
What is running on port 10048? Have you tried running it via command line with ``gradlew bootRun``?

[code]

[2015-12-02 07:00] Vaelyr commented on #2135
I have a working solution that I am using. Will try to do PR on first free moment.

[2015-12-02 07:03] arushijain45 commented on #2398
@atomfrede yes I am running it on windows. As you asked I have checked processes at port "10048", but nothing is running there. I tried on command line with stated command and it runs there successfully. Is there is an issue with STS configuration?

[2015-12-02 07:15] pascalgrimaud commented on #2398
Like @atomfrede I can't reproduce you error
@arushijain45 is it your code ?
[code]

Can you try to reproduce your error :
* generate a new JHipster project without any modification, start mongo and start app with mvn or gradlew (don't use an IDE)
* if it failed, change mongo default port, in your db and in your application-dev config
* if it failed again, use the jhipster-devbox => you'll have to

[2015-12-02 08:33] tayfunyasar opened #2425 "jHipster Eclipse Javascript formatter"
Can anyone share javascript / html / java formatter.xml for eclipse?

Thanks!

[2015-12-02 08:40] deepu105 commented on #2398
This is wasting our time, plz do mention in your issue if it involves any code modified by you and if so better ask it in stack overflow as its not our generated code that is causing issue.
our code is below, seems you have modified it so i dont think its our issue. hence closing this
[code]
cc @jhipster/developers

[2015-12-02 08:40] #2398 closed

[2015-12-02 08:41] pascalgrimaud commented on #2425
This is not a JHipster issue, you should use StackOverflow instead

[2015-12-02 08:41] #2425 closed

[2015-12-02 08:44] tayfunyasar commented on #2425
Why not? I'm asking this question to jHipster contributors. Not anyone else.

[2015-12-02 09:11] jdubois commented on #2425
Yes but we have project guidelines, and everyone should follow them.
Even I am following them!

[2015-12-02 09:59] jdubois commented on #2346
I can't reproduce the error... How do you trigger it? I have registered a new user, clicked on the link, everything went fine.

[2015-12-02 10:23] jdubois commented on #2414
Yes @sendilkumarn this is coming from other modules we depend on, and I'm seeing the same issue with other generators -> I don't think we should migrate, that can in fact cause issues in those modules.

[2015-12-02 10:23] #2414 closed

[2015-12-02 10:50] dalbelap commented on #2320
@deepu105 you are right, it's better explain this as a tip. I close this feature and will create a PR for the documentation project in the next days. Thanks a lot!

[2015-12-02 10:50] #2320 closed

[2015-12-02 14:58] geraldhumphries commented on #2267
Maybe we should turn this into a general "improve entity list UI" ticket. @mraible do you think you can open a pull request with your changes?

[2015-12-03 05:40] deepu105 opened #2427 "show more configuration data to admin configuration screen"
There are more info available in the /env endpoint which can be shown in current config screen i think its very useful

![image](https://cloud.githubusercontent.com/assets/1107223/11552773/6001be6e-99c3-11e5-9722-7aca4a7ccd71.png)

[2015-12-03 05:40] deepu105 commented on #2427
have masked some customer specific info in image

[2015-12-03 08:41] cbornet opened #2428 "Combine basic auth with form login"
Form login is adapted for web applications but not for mobile apps or other servers consuming the api. OAuth2 can of course be used but it is not implemented in all clients or already existing softwares.
So it would be great to combine session formlogin with stateless basic auth for /api/**.
[Here](https://github.com/spring-projects/spring-security-javaconfig/blob/master/samples-web.md#sample-mult

[2015-12-03 08:43] cbornet commented on #2428
I'll work on this since I have a concrete need but I will kindly accept help :smile:

[2015-12-03 14:22] RomainGailleton opened #2429 "Allow editing/deleting when viewing a row."
When viewing a particular row from an entity the only option is to go back to the list of rows in the entity.

![image](https://cloud.githubusercontent.com/assets/286859/11562865/e5e9232a-99d0-11e5-8b38-eeb9cb867efc.png)

Accessing the edit and delete options right from this view would save navigation time.

[2015-12-03 16:10] deepu105 commented on #2429
We already have routes for that its fairly easy to add buttons for that

On Thu, 3 Dec 2015 10:22 pm romain Gailleton <notifications@github.com>
wrote:

[2015-12-03 16:13] jdubois commented on #2429
This view is only for "viewing" the entity, if you want to edit it there is the edit dialog screen for that.

I understand the UI/UX might not be good for everyone, but this is just the default pages, then you need to modify them and code according to your needs: that's why there is "simple view" and an "editable view", as those are the two most common use cases, and they should help you to get st

[2015-12-03 16:13] #2429 closed

[2015-12-03 17:39] c3thethird opened #2430 "[Feature Request] Offer Spring REST Docs integration as an option"
Perhaps it be a good idea to offer integration with Spring REST Docs.

In any case, great work on this project.

[2015-12-03 17:43] cbornet commented on #2429
I think the idea is to have a button to open the edit view from the simple view

[2015-12-03 17:47] cbornet commented on #2428
This is better explained [here](http://docs.spring.io/spring-security/site/docs/current/reference/html/jc.html#multiple-httpsecurity) and is clearly not what we want. Still searching...

[2015-12-03 18:06] cbornet commented on #2428
OK. Sometimes the simplest things...
I just added ```and().httpBasic()```to the existing HttpSecurity conf and it worked perfectly...
@jdubois Do have any concerns about that or can I PR ?

[2015-12-03 21:39] jdubois commented on #2428
@cbornet well a PR for just one line of standard Spring Security code isn't really worth it... It's also against our policy 2 at http://jhipster.github.io/policies.html

[2015-12-03 22:42] jdubois commented on #2430
Thanks, but we already provide Swagger, we can't have 2 tools for the same job.
Everybody looks happy with Swagger (I even had a customer on the phone today, and that was one of his requirements), so I don't think we should move away from it.
Of course it depends on what Spring REST Docs provide, I haven't studied it at all.

[2015-12-03 22:42] #2430 closed

[2015-12-03 23:10] cbornet commented on #2428
I understand but it's not so obvious for everybody (at least it wasn't for me). I thought it could also be a tip but as you said it's just one line... As for policy 2, I'm not proposing it as an option but as default to enhance the http username/password auth and I think it adds value in micro service architectures and mobile oriented applications.

[2015-12-04 04:35] hyuan opened #2433 "Cannot edit user registered with FB or Google"
Both FB and Google are using email as user ID in OAuth. So we have to relax the restriction of login a bit to make the /users/:login API work. For example:

UserResource.java
[code]

BTW, it's very common to use email as login. Shall we allow to use email as login when registering?

Here is the PR: https://github.com/jhipster/generator-jhipster/pull/2434

[2015-12-04 05:58] cbornet commented on #2428
One more killer argument to add this by default : you can now test your API with curl ! And write bash scripts to do various tasks using the API (provisionning, monitoring, ...)

[2015-12-04 08:01] deepu105 commented on #2428
+1

On Fri, Dec 4, 2015 at 1:58 PM, Christophe Bornet <notifications@github.com>
wrote:

[2015-12-04 08:20] TonyLuo commented on #1743
@jdubois finally found the cause... need to change the RegExp in httpBackend.js, as the code for Chinese Simply is  "zh-cn".  #2435

`
httpBackend.js
function mockI18nCalls() {
    inject(function($httpBackend) {
        $httpBackend.whenGET(/i18n\/.*\/.+\.json/).respond({});
    });
}
`

[2015-12-04 08:46] jdubois commented on #2428
- For micro services architectures I would recommend OAuth2 -> but indeed this part should be worked on, there should be a serious study about his
- For Curl I already do it all the time: just do "copy as Curl" in the Chrome dev tool tab

[2015-12-04 09:56] saahon opened #2436 "Default value for entity-field"
How to set default value for entity-field with Entity.json file?

[2015-12-04 10:01] jdubois commented on #2436
This is not a bug, so I'm closing this according to our guidelines.
For questions, please use StackOverflow.

[2015-12-04 10:01] #2436 closed

[2015-12-04 10:37] artjomg commented on #441
+ 1 for reopen this and having the ability to configure the refresh_token feature. I think from user experience it is valid, that the session is prolonged as long as you interact with the app. I have one part of the app where users edit some source code online via an entity, let say they start to edit it at second 1500 and after 300 seconds the session just dies and unsaved changes are lost. This

[2015-12-04 11:16] cbornet commented on #2428
As for curl, this suppose you have opened a navigator, gone through the login process, found the action that triggers the request you want to test. This is a rather long process compared to:
* ```mvn``` to boot the app
* ```curl http://admin:admin@localhost:8080/api/users``` to get the list of users for instance

And you can't really script that ...

[2015-12-04 11:20] cbornet commented on #2428
Also for mobile apps and remote servers, form login (with session and csrf token) is not adapted

[2015-12-04 11:21] jdubois commented on #2428
Yes this is what I do manually. Otherwise, I'm scripting this in the Gatling tests -> I'm not saying it's easy to do, but we already do this

[2015-12-04 11:22] jdubois commented on #2428
Yes for mobile users, we have people using Cordova or some native UI on top of JHipster, I think they usually use OAuth2 authent. This isn't that complex to do, and probably more secure.

[2015-12-04 11:28] cbornet commented on #2428
OK. I still think this is a very small change that brings value to people who need it and doesn't interfere with people who don't but if you don't see the interest, you can close this issue.

[2015-12-04 13:54] skjolber commented on #1043
You should reconsider this dev+prod approach, as it is going to add a lot of confusion. Rather go with map files, or introduce more profiles, i.e. 'stage' and so.

[2015-12-04 14:13] xjiaoyang commented on #2433
indeed!

[2015-12-04 14:17] xjiaoyang commented on #2386
@Vaelyr that make sense! maybe i will make a PR later.

[2015-12-04 14:35] deepu105 commented on #2428
+1 if it doesn't affect normal session auth

On Fri, 4 Dec 2015 7:28 pm Christophe Bornet <notifications@github.com>
wrote:

[2015-12-04 14:59] c3thethird commented on #2430
I am not suggesting dumping Swagger, but rather offering Spring REST Docs as an alternative. Like you currently offer a choice of SQL DBs. I obviously understand that would be a low priority feature.

In any case, once again, you guys are doing a great job.

[2015-12-04 16:49] cbornet commented on #2428
@deepu105 it shall not, of course :-) !

[2015-12-05 06:17] flaviu-idea commented on #2291
One question about getCurrentLogin() in SecurityUtils, I upgraded JHipster to Release 2.24.0
Why is it that the check
 else if (authentication.getPrincipal() instanceof String) {
                 userName = (String) authentication.getPrincipal();
was removed from this method?

Because Spring comes with Object principal =  "anonymousUser" in org.springframework.security.config.annotation.web.config

[2015-12-05 08:33] flahub opened #2438 "_User generator annotation pattern bad for social login"
@Pattern(regexp = "^[a-z0-9]*$|(anonymousUser)")

I think this harms the social login features where a user will login with an email address mostly, e.g. google mail or facebook

[2015-12-06 01:56] jdubois commented on #2430
Yes, you are right, we could offer the choice. I didn't have a look at Spring REST Docs yet, but as we rely so heavily on Spring, it makes sense to follow their lead.
I can't answer you until I've taken the time to study Spring REST Docs. I can't commit to when I will do it, but if it's successful I will most certainly do it, as I always do for all Spring products.

[2015-12-06 04:06] pacu opened #2442 "HibernateException when running tests"
I'm unable to run integration tests due to an HiberateException during build phase. Application.yml is configured to use H2 for test and postgres for development
[code]

*liquibase xml for that entity*
[code]

[2015-12-06 08:08] geraldhumphries opened #2443 "Many-to-many relationships have an incorrect constraintName for the second foreign key in the join table"
* **Overview of the issue**

When generating an entity that has a many-to-many relationship with `"ownerSide": true`, the second constraint name in the join table is named wrong. A Client entity with a many-to-many relationship will produce the following changes:

[code]

Notice `constraintName="fk_contact_contact_client_id"`. That should be `fk_client_contact_client_id`.

* **Motivation for or Us

[2015-12-06 08:26] geraldhumphries opened #2444 "Owner-side one-to-one attribute formatting is off"
* **Overview of the issue**

Generating an entity with a one-to-one relationship and `"ownerSide": true` will put the annotation and relationship attribute on the same line in Entity.java:

[code]

* **JHipster Version(s)**

2.23.0 and 2.25.0

* **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

Client.json stipped down:
[code]

* **Suggest a Fix**

I will

[2015-12-06 09:03] #2444 closed

[2015-12-06 09:16] deepu105 commented on #2443
Closed via #2446

[2015-12-06 09:16] #2443 closed

[2015-12-06 12:01] seghers opened #2447 "subgen aws lacks gradle support"
* **Overview of the issue**

Upload WAR to S3
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: EISDIR: illegal operation on a directory, read
    at Error (native)

* **Motivation for or Use Case**

When running the aws subgen I get this breaking error.

* **JHipster Version(s)**

2.19.0

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

{
  "

[2015-12-06 12:25] wuethrich44 commented on #2447
I think there is a problem with hard coded directory in this [line](https://github.com/jhipster/generator-jhipster/blob/master/aws/lib/s3.js#L82).

@deepu105 Do you know how to properly get the path in this line?

[2015-12-06 12:35] seghers commented on #2447
@wuethrich44 Could be, for me the directory is not 'target' but 'build/libs'

[2015-12-06 14:31] wuethrich44 commented on #2447
ah oke do you use gradle?

[2015-12-06 14:32] seghers commented on #2447
@wuethrich44  yes

[2015-12-06 16:52] mstzn36 commented on #2078
I just had the same problem. @gysel workaround worked for me. Thank you very much.

[2015-12-06 19:34] seghers commented on #2447
@wuethrich44 Where are the 'database username' and 'database password' stored? When rerunning the generator it keeps using stored data.

[2015-12-06 19:37] struski opened #2448 "Email as user's login issue"
FB signed in users get email as their login. Problem arises if you try to pass that email as a parameter.
Spring treats everything after the dot as file extension.
Adding :.+ to @RequestMapping(value = "/users/{login:.+}") fixed it for me
in
com.reptilezilla.web.rest.UserResource.getUser(@PathVariable String login)

[2015-12-06 19:50] gmarziou commented on #1043
More profiles would be confusing as well I think.
Source maps would be good to have for both JS and SASS files.

[2015-12-06 20:09] gmarziou commented on #2442
Please follow our guidelines to submit an issue: https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

[2015-12-06 21:00] jdubois commented on #2448
Duplicate see #2434

[2015-12-06 21:00] #2448 closed

[2015-12-06 21:18] cbornet commented on #2428
Let's make a module for this :smile: !

[2015-12-06 21:18] #2428 closed

[2015-12-06 22:35] jdubois commented on #2447
@seghers it should be in your application-*.yml files

[2015-12-06 22:37] jdubois commented on #2442
Yes we need more info to reproduce -> please give us your full configuration, and I will reopen this again

[2015-12-06 22:37] #2442 closed

[2015-12-06 22:41] jdubois commented on #2133
Hi @templth , we've made a good progress on doing a "module system" for JHipster: it's not released yet, but this would "normally" be the solution for you.
Would like to be a "beta tester"? Nothing's hidden, we are discussing on the dev mailing list at https://groups.google.com/forum/?hl=en#!forum/jhipster-dev
And have a look at https://groups.google.com/forum/?hl=en#!topic/jhipster-dev/bhpEKIR20S

[2015-12-06 22:42] jdubois commented on #2447
And can you put a better title then "aws subgen error"?

[2015-12-06 22:51] jdubois commented on #2291
@onurakman you have another issue it's #2069
@flahub it's also another issue

[2015-12-07 02:37] piedrahitac opened #2450 "MySQLNonTransientConnectionException with MySQL 5.7.9"
* **Overview of the issue**

After I upgraded my project to version 2.25.0 and made changes to the database I started getting the following stack traces when deploying my application using the dev profile.

I believe it is important to note that I also upgraded my database server to MySQL 5.7.9. I was using the 5.6 branch previously with version 2.23.1 and 2.24.0 of JHipster without any issue.

I

[2015-12-07 03:54] jdubois commented on #2450
Can you put a clear title to your issue?

[2015-12-07 10:30] cbornet opened #2451 "Picture banner of hipster guy"
With the awesome [PR](https://github.com/spring-projects/spring-boot/pull/4647) of @craigburke, I have generated a nice banner for my jhipster app

![photo](https://cloud.githubusercontent.com/assets/11633333/11624631/6dd41f9a-9cd5-11e5-8df3-82b1bbe2b5f9.png)

I can share the banner.txt if you want :smile:

[2015-12-07 10:34] cbornet commented on #2451
https://gist.github.com/cbornet/96fb87e390f4c4aad794

[2015-12-07 11:28] pascalgrimaud commented on #2451
So fun !!!

[2015-12-07 11:37] robertolos opened #2452 "Deploy to aws fails to start the environment instance"
**Overview of the issue** - AWS fails to start the server instance, in the ElasticBeansTalk web interface I get the following logs:
[code]
**Motivation for or Use Case** -
**JHipster Version(s)** - 2.24.0
**JHipster configuration, a .yo-rc.json file generated in the root folder** -
[code]
**Browsers and Operating System** - Arch Linux updated to 07/12/2015
**Reproduce the error** -
- Create a new

[2015-12-07 11:41] atomfrede commented on #2451
:+1:

[2015-12-07 12:41] gmarziou commented on #2282
Not only for JS files, it can be done also for SASS

[2015-12-07 12:42] gmarziou commented on #1043
Source maps are tracked in #2282

[2015-12-07 14:18] jdubois commented on #2451
Yes it's fun, but let's not change our banner with every new release.... Besides it's annoying as we should have the same banner for Spring Boot and for the Yeoman generator, and it's not working the same way.

[2015-12-07 14:19] jdubois commented on #2346
I still can't reproduce so I'm closing this.
Next time can you also put a title that is more descriptive?

[2015-12-07 14:19] #2346 closed

[2015-12-07 14:22] jdubois commented on #1595
This has been opened for 6 months and we still have no plan on doing this -> should we keep this open? I don't want to have long-running issues

[2015-12-07 15:26] piedrahitac commented on #2450
Sorry about that, that was a temporary title and forgot to change it... I changed it now...

[2015-12-07 16:00] atomfrede commented on #2450
Looks strange, as our docker compose containers also use MySQL 5.7.9

[2015-12-07 16:26] AVE-cesar opened #2455 "Sticky header and footer"
As an enhancement, it would be great to have the menu in a sticky header and the phrase "This is your footer" inside a sticky footer.

Perhaps, you can also put some buttons in the sticky footer (like view, edit, delete).

[2015-12-07 16:32] pascalgrimaud commented on #2450
Yes it's strange.

@piedrahitac : can you create a *new* application with jhipster 2.25.0, mysql in dev, mysql 5.7.9 and try to reproduce your error ? Then, try adding 4 or 5 entities like your initial application

Maybe, can you show us your entities in .jhipster directory ?

[2015-12-07 17:28] jdubois commented on #2455
I'm not sure having sticky headers and footers is an improvement: look at Github, it's not sticky and still it's really nice.
It could be a tip in the "tips" section, but I guess that's quite easy to achieve.

[2015-12-07 19:02] geraldhumphries commented on #1270
In case anyone missed it, server-side entity sorting went into release 2.25.0.

[2015-12-07 19:58] piedrahitac commented on #2450
It is very strange indeed... But after more testing I think it has something to do with my entities and their relationship with the User entity. The question is why it didn't happen before.

For example, create a new application with 2.25.0, MySQL in dev and MySQL 5.7.9 and then generate the following entity named Empresa:

[code]

If you run the application right away the exception will show up,

[2015-12-07 20:11] wuethrich44 commented on #2447
You can set a initial password when you run subgen the first time. After that the initial password is used. There is no feature to set the password again. You can do this through AWS Management Console.

@deepu105 Could you switch the path in this two lines ([L82](https://github.com/jhipster/generator-jhipster/blob/master/aws/lib/s3.js#L82 and [L97](https://github.com/jhipster/generator-jhipster/b

[2015-12-07 20:15] wuethrich44 commented on #2452
This is because you doesn't create a instance profile aws-elasticbeanstalk-ec2-role. Create a instance through AWS Managment Console and a profile will automatically generated.

[2015-12-07 22:05] geraldhumphries opened #2457 "Unclosed spans in entity-detail.html"
Minor issue, happens on many-to-many relationships.

I will open a pull request.

[2015-12-07 22:10] #2457 closed

[2015-12-08 03:09] craigburke commented on #2451
OMG! Yes!!!

[2015-12-08 04:04] getintouchapp commented on #2117
The gradle.properties still shows spring boot as 1.2.6 and manually changing this to 1.3.0 throws up liquibase errors

[2015-12-08 05:48] pascalgrimaud commented on #2117
I see 1.3.0.RELEASE in gradle.properties
https://github.com/jhipster/generator-jhipster/blob/master/app/templates/_gradle.properties#L32

[2015-12-08 05:51] atomfrede commented on #2117
@getintouchapp Which version are you using? Just changing the spring boot version just doesn't work

[2015-12-08 06:30] getintouchapp commented on #2117
I am using JHipster release 2.25.0

[2015-12-08 07:04] atomfrede commented on #2117
Have you updated from an older version?

[2015-12-08 07:33] getintouchapp commented on #2117
Yes I don't know what was the previous version of jhipster. But even if I create a new project now gradle.properties shows Spring Boot 1.2.6

[2015-12-08 08:34] atomfrede commented on #1595
This looks like a great candidate for a new jhipster module :)

[2015-12-08 09:07] cbornet commented on #2451
Yes I'm not suggesting to change the banner. I just wanted to show something fun :smile: . This one is 160 columns wide which doesn't respect the standards and thus shouldn't be the default. @craigburke's PR will most certainly be included in SB 1.4 so a long way from now. I'm thinking of making a command line generator (in fact, this is what I did to generate this banner). Or maybe Craig could do

[2015-12-08 14:45] craigburke commented on #2451
@cbornet When my PR is merged in 1.4 all you'll need is a `banner.jpg` file in the resources folder and it'll generate the ascii art automatically.

I'm glad to see such an important feature being discussed for JHipster :grinning:

[2015-12-08 16:37] cbornet commented on #2451
Yes but SB 1.4 release seems so far away... So we need something meanwhile. After all, this is the best SB feature since the devtools !

[2015-12-08 18:31] TonyLuo opened #2461 "ControllerAdvice ExceptionTranslator not get called when exception happen"
I tried to handle the oauth2 exception in  ExceptionTranslator, but it seems the ExceptionTranslator never got called. Is any configuration need to setup?
`
    @ExceptionHandler(Exception.class)
    @ResponseBody
    @ResponseStatus(HttpStatus.BAD_REQUEST)
    public ErrorDTO processSQLException(Exception exception) {
        System.out.println(exception.getMessage());
        return new ErrorDTO

[2015-12-08 20:24] sebeichholz opened #2463 "Error on adding a field with type Enum"
I am getting this error when I try to add a field of type "Enum" to a new entity:

[code]

Steps to reproduce:
[code]
That creates the error shown above.

[2015-12-08 20:28] sebeichholz commented on #2463
I am using jhipster v2.25.0

[2015-12-08 21:21] sebeichholz commented on #2463
I am working on OSX El Capitan‎. I hope this does not correlate to the error :-(

"yo --version" says 1.1.2 which is strange, because "npm install --global yo" says something about "yo@1.5.0 "

[2015-12-09 06:22] pascalgrimaud commented on #2451
@cbornet : I think it could be done in a module ;)

[2015-12-09 08:52] robertolos opened #2464 "Error loading the webapp after upgrade to jhipster 2.25.0"
**Overview of the issue** - After the upgrade to jhipster 2.25.0 when I try to access the webapp is loaded only the footer and the Development banner, the spinner keep loading and in the firebug console tab I get the following log:
[code]
**Motivation for or Use Case** - The app was upgraded from 2.24.0 to 2.25.0. The app was also previously successfully upgraded to 2.24.0 from 2.23.1 and 2.23.0.

[2015-12-09 09:42] raehalme commented on #204
@gzsombor +1 I think the (previously mentioned) movement towards microservices even more emphasizes on these points!

[2015-12-09 09:49] raehalme opened #2465 "Add support for enabling the use of Keycloak with Spring Security"
[Keycloak](http://keycloak.jboss.org/) is an open source integrated SSO and IDM solution built on top of OAuth 2.0 and OpenID Connect. Keycloak provides numerous adapters for application types to make it really simple to enable it as the authentication mechanism. Spring Security already has [a ready-made adapter](https://github.com/keycloak/keycloak/tree/master/integration/spring-security) availab

[2015-12-09 10:54] jdubois commented on #2465
One solution is indeed to add one more question to the list of authentication types.
But, as far as I understand, Keycloak is going to be a third-party service, so in the end it's always complex for us to integrate, as we can't test and support this ourselves (we would need to install a Keycloak server, work with different versions... lots of work).
We are currently rolling out a new "module" syst

[2015-12-09 10:57] jdubois commented on #2464
It looks like you have an error reading a JSON file, and as the last one is the "main.json" file, could you have a look at it? And check if the JSON in this file is correct?
I'm guessing you had a conflict in that file

[2015-12-09 11:29] jdubois commented on #2463
I can't reproduce it, and from reading the stacktrace that does seem like a Yo problem... So yes it could be an OS issue, we've had that kind of thing with Windows 10, but as I'm using Mac OS X El Capitan like you, we can rule this out.
When I do "yo --version" I get 1.5.0, so this looks like a better candidate for the bug: can you try updating this?

[2015-12-09 14:30] robertolos commented on #2464
Hi @jdubois,
The issue was in global.json. There is a missed comma before the new element  "jhipster-needle-004".
Please refer to the attached screenshot

[2015-12-09 14:44] jdubois commented on #2464
OK, this comes from the first paragraph of our release notes then, on the "needles":
http://jhipster.github.io/2015/12/04/jhipster-release-2.25.0.html

So this is "normal", but indeed I didn't take enough time for this kind of issue... And by the way you will get it again in the next version, as this has changed again :-(

-> the solution is to remove the line with "additionalEntity", this is not

[2015-12-09 14:44] #2464 closed

[2015-12-09 15:05] jdubois commented on #1896
As the OpenShift sub-generator has been broken for a long time, and as nobody is working on it, I am considering to remove it.
If anyone is interested in doing OpenShift support for JHipster, this should be one of our new "modules".

-> if anyone is interested please add a comment to this ticket

[2015-12-09 15:15] jdubois commented on #1755
OK we have had this long-running issue on dates, and it's mostly my fault as I didn't want to add too many external libraries.
As we now use UI Bootstrap for pagination, etc, let's also use it for dates:

- That will (hopefully) solve this issue
- This means we would have a date picker for people not using Chrome
- And @deepu105 I've looked at AngularStrap: looks good, but it's only half as popula

[2015-12-09 15:33] mraible commented on #1896
I talked to a guy from Red Hat last week and let him know about this issue. He said he'd forward it on to OpenShift folks to look at.

Isn't there a way to deploy a war/jar to OpenShift like we do for Heroku?

[2015-12-09 15:35] mraible commented on #1755
Here's how I've integrated bootstrap-datepicker: http://stackoverflow.com/a/28143209/65681

[2015-12-09 15:38] jdubois commented on #1755
Thanks @mraible in fact it just took me 5 minutes to have it working... I'm currently tweaking it and having a look at how to make this into a template, that's the most difficult part!

[2015-12-09 15:46] jdubois commented on #1896
Yes it's probably not that difficult, but it's just that nobody's working on it... so if there is a lack of interest in the community, we can't support it.
The module system is a good answer for this: if someone, for example from Redhat, is ready to do this, then it would be his own module. He doesn't need to have us merge his code, and he has to support his own code.

[2015-12-09 15:55] sbert opened #2467 "[Mapstruct] Simplify dto conversion for list (maybe)"
To convert list to dto list we can use directly mapstruct
in `_entityMapper.java` add something like :
`List<<%= entityClass %>DTO> <%= entityInstance %>sTo<%= entityClass %>DTOs(List<<%= entityClass %>> <%= entityInstance %>s);`

And change in common templates `<% if (dto == 'mapstruct') { %>.stream()
            .map(<%= entityToDtoReference %>)
            .collect(Collectors.toCollection(Linke

[2015-12-09 17:19] robertolos commented on #2464
Was not clear that is needed to remove "additionalEntity", btw thanks for the help!

[2015-12-09 18:20] raehalme commented on #2465
Keycloak has pretty extensive test suite available where they are using, for example, Arquillian while running tests against the service. I'm pretty sure the same technique could be used here as well. There're also Docker images available, and I've published [a simple Vagrant setup](https://github.com/AitioGroup/keycloak-vagrantfile) to make testing easier.

But thanks! I'll have a look the "modul

[2015-12-09 19:41] piedrahitac commented on #2450
So today I created my entities from scratch and upgraded to MySQL 5.7.10 and the issue seems to have disappeared.

[2015-12-09 19:41] #2450 closed

[2015-12-09 19:50] jdubois commented on #2465
Oh, Arquillian, that's exactly why I don't want to go that way! I've worked on several projects using this, I don't want to use that ever again.
So the good thing with modules is that people using Keycloak can still do whatever they want with Arquillian, and I don't have any of those issues, as we are cleanly separated. Should be perfect for everyone!
I'll let you do the module -> I'm closing this

[2015-12-09 19:50] #2465 closed

[2015-12-09 19:59] jdubois commented on #1945
As nobody has worked on this for 3 months, and we have also several bugs opened for AWS (which are more important, of course), should we close this?

[2015-12-09 21:43] geraldhumphries opened #2468 "Swagger is not disabled in the FAST profile"
* **Overview of the issue**

@tomcgn found that Swagger was not disabled under the `fast` profile. He discovered that the `FAST` profile was removed from the `@Profile` annotation in SwaggerConfiguration when the generator was updated to use Springfox 2.0. The docs still state it will be disabled: http://jhipster.github.io/profiles.html

* **JHipster Version(s)**

2.25.0

* **Related issues**

The

[2015-12-09 22:13] skjolber commented on #1043
More profiles will not be confusing; if anything, creating a distribution archive with both prod and dev files is contrary to common sense and confusing; what is the use case for using both in the same deployment? This is borderline a security issue, as dev files can make their way into 3rd party hands unintentionally.

[2015-12-10 04:50] #1755 closed

[2015-12-10 05:53] sebeichholz commented on #2463
I will try to, thanks for investigating.

[2015-12-10 15:18] deepu105 commented on #1945
@wuethrich44 do you wanna work on this else lets close this
On 10 Dec 2015 01:29, "Julien Dubois" <notifications@github.com> wrote:

[2015-12-10 15:20] deepu105 commented on #1043
For use case, there is one that I know at least, my client has a policy
that anything we develop needs to be deployed to staging env and get tested
and signed off and same package needs to be moved to prod without any
modification, so in that case this packaging serves me well.
On 10 Dec 2015 03:44, "Thomas Skjølberg" <notifications@github.com> wrote:

[2015-12-10 16:33] gzsombor commented on #1043
After we were bitten by problems, which only brakes the minified build, we decided to use the minified build for every environments. And that what I would suggest for everyone else.

[2015-12-10 17:15] cbornet commented on #2467
:+1:

[2015-12-10 17:16] wuethrich44 commented on #1945
I don't have time so we can close this :+1:

[2015-12-10 21:23] sebeichholz commented on #2463
I managed to install JHipster in a Docker container.
Generating an entity works without errors. This issue can be closed.

Too bad that working with npm/yeoman is so unstable. I cannot get it to work on OS X (npm update does nothing) and installing npm and yeoman even did not work for me on a clean ubuntu-docker-container.
I will try your jhipster-docker container.

[2015-12-10 21:23] #2463 closed

[2015-12-10 21:29] skjolber commented on #1043
@deepu105 seems your use-case means working around your client's policy? I mean, if you are testing on dev files and putting minified into production?

[2015-12-10 22:16] gmarziou commented on #1043
I agree with @gzsombor's approach combined with source maps

[2015-12-10 23:03] skjolber commented on #1043
Sounds good @gmarziou

[2015-12-10 23:07] eallais commented on #1314
+1

[2015-12-10 23:21] delverdev commented on #2350
@brevleq, make a little fix in controller:
pageForward method:
redirect(httpRequest, httpResponse); -> forward(httpRequest, httpResponse);

[2015-12-11 01:07] delverdev opened #2471 "Health page same url"
monitoring.service.js
[code]
health.js
    url: '/health',

Page loads through routing, but when refresh or going directly, shows json instead of page. Change 'health' to 'api/health' or something.

The same with metrics.

[2015-12-11 01:12] delverdev commented on #2471
The same with metrics

[2015-12-11 01:24] xjiaoyang commented on #2387
seams #2314 is merged, would you create a PR?

[2015-12-11 05:37] deepu105 commented on #1043
yes, its kind of a workaround i agree. I would like to use same files as
well, not sure if source maps with minified files will let us edit the
js/html and see it rightaway. i can even edit directly in chrome, thats
really great for dev.
i guess we can achieve it with browsersync but uglify is not that fast
either. so i would rather use current setup

On Fri, Dec 11, 2015 at 4:33 AM, Thomas Skjølb

[2015-12-11 05:38] xjiaoyang opened #2472 "Any way to switch database platform on a running server"
for example:
generate with mysql, but now i want use sqlserver or oracle, any way to do that? any sugestions?

[2015-12-11 05:44] deepu105 commented on #2471
route url will be something like `localhost:8080/#/health` the json will appear if you hit api url `localhost:8080/health` that is normal unless you are using html%mode without # in the url. are you??

[2015-12-11 05:49] deepu105 commented on #2472
take the `.yo-rc.json` file from current folder root, copy to new folder,
change the database to oracle or what you want, rerun yo jhipster, rerun
all entities(check doc for command to rerun all
http://jhipster.github.io/creating_an_entity.html)

then merge using git or beyond compare.

This is the only way as of now

On Fri, Dec 11, 2015 at 11:08 AM, WB <notifications@github.com> wrote:

[2015-12-11 05:49] #2472 closed

[2015-12-11 11:14] xjiaoyang opened #2473 "import angular-dynamic-locale failed"
bower_components dir layout changed if i already have angular-dynamic-locale 0.1.29 installed.

![image](https://cloud.githubusercontent.com/assets/728884/11742449/f2ab0518-a03a-11e5-8829-25dfb8234c47.png)

index.html

![image](https://cloud.githubusercontent.com/assets/728884/11742461/0d6c5ad2-a03b-11e5-9d62-2088099693d6.png)
 and in bower.json, required 0.1.28

[2015-12-11 11:16] xjiaoyang commented on #2473
of course i can easily fix this , but i want hear what you guys say.

[2015-12-11 12:19] delverdev commented on #2471
Yes, I am. What should I do?

[2015-12-11 14:49] jdubois commented on #2471
The HTML5 version is just a tip, not the "normal" JHipster, so it's not really a JHipster bug.

-> could you have a look at updating the tip? For this you would need to do a PR on https://github.com/jhipster/jhipster.github.io

[2015-12-11 15:32] deepu105 commented on #2471
@delverdev you can rename the angular routes to something like health-page or something that, it wil solve the issue for you

[2015-12-11 17:22] cbornet commented on #2451
I have done it as a java-cli : see https://github.com/cbornet/image2springbanner and generate your own banner !
As for a jhipster module, this would mean recode it in JS. Probably not worth it...

[2015-12-11 17:48] gmarziou commented on #2473
Your report is not clear, it does not follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), could you please detail what you have done? bower install, grunt/gulp, ...

The wiredep grunt/gulp task reads the bower.json files for each of your app dependencies., if something is wrong it could be due a wiredep issue or wrong bower.json from angular-dynamic

[2015-12-11 19:36] geraldhumphries commented on #2387
Unfortunately it's crunch time at work right now so I don't have any time to work on it. I'll open one as soon as I can!

[2015-12-11 22:26] cbornet commented on #2451
I think our guru also deserves its banner :smile:
![jdubois_banner](https://cloud.githubusercontent.com/assets/11633333/11757039/7edbadee-a05e-11e5-8802-1007fdd1c3ba.png)

[2015-12-11 22:42] moifort commented on #2451
:+1:

[2015-12-11 22:42] pascalgrimaud commented on #2451
:laughing:
But it's not this picture now! he changed it!

[2015-12-11 23:06] cbornet commented on #2451
@joshlong from SB team has made it even better : https://github.com/joshlong/bootiful-banners

[2015-12-12 13:09] aFousan opened #2477 "Oauth websocket problem jhipster v2.5"
Oauth websocket with token works perfectly on same origin,but having a problem when get websocket from other external angularjs application.Even disables csrf for websocket in websocket security configuration.And I have a issues with corsfilter from external angular application...any help...

[2015-12-12 18:41] aFousan commented on #2477
I got this error in console when connecting tracker websocket with my external angularjs application ....."A wildcard '*' cannot be used in the 'Access-Control-Allow-Origin' header when the credentials flag is true. Origin 'http://localhost:8100' is therefore not allowed access."

[2015-12-12 19:40] sreeshas commented on #733
@jdubois  I have an alternative solution for this problem. Instead of using mongeez, i stumbled upon mongobee. I tried it out and it worked as expected.

You can find more details here.
http://sreeshas.github.io/2015/12/10/using-mongolab-in-jhipster/

Let me know if you would like me to submit this fix.

[2015-12-13 16:02] pascalgrimaud commented on #2395
Just have a fast look.
Same issue : https://github.com/jhipster/generator-jhipster/issues/2228 with the cucumber order.
It seems that the PR https://github.com/jhipster/generator-jhipster/pull/2275/ resolved gradle only.

[2015-12-13 17:58] TonyLuo commented on #2283
@BlackICE1979 I have changed bower.json, it  worked in dev model, but it didn't work in prod model. when run the application, the font-awesome icon didn't show.

[2015-12-13 20:23] jdubois commented on #2477
Could you follow the guidelines and give version informations, how to reproduce, etc... ?
This kind of thing is tricky, so without the right information we will lose too much time searching for it.
Anyway, it looks like your error is when using another front-end as you speak of "same origin": this is not something we generate, so this is not a JHipster issue.
Might be a "feature request", but once

[2015-12-13 20:23] #2477 closed

[2015-12-13 20:24] jdubois commented on #2471
I don't understand if this is an issue with the tip or not -> could you follow the guidelines, give us your version information, how to reproduce, etc.... I'm closing this as this doesn't follow the guidelines

[2015-12-13 20:24] #2471 closed

[2015-12-13 20:25] jdubois commented on #2473
Looks like you found an issue, but as I'm closing this as you don't follow the guidelines

[2015-12-13 20:25] #2473 closed

[2015-12-13 20:29] jdubois commented on #2467
Yes can you send a PR?

[2015-12-13 21:15] #2468 closed

[2015-12-14 04:52] hyuan commented on #1832
The above solution will work fine with a 403 caused by CsrfException. But other types of AccessDeniedException will cause dead loops.

I found another solution: let the server side remove the CSRF cookie in addition to sending 403 status code when CsrfException happened. The browser side will check if this cookie is deleted when receiving a 403. If so, then try to obtain the new CSRF token, and th

[2015-12-14 05:29] pvlastaridis opened #2482 "Help Request Setting up Apache Http Reverse Proxy for Tomcat"
I am trying to work with Apache as Http Reverse Proxy of Tomcat. I get the 403 Exception "Expected CSRF token not found. Has your session expired?"

The reasons I want to use Apache as a reverse proxy are:
1) One SSL Certificate for php and numerous Tomcat apps.
2) One domain name for php and tomcat apps

But before applying SSL I get this exception. Apache vhost file

<VirtualHost *:80>
ServerNam

[2015-12-14 07:02] Vaelyr commented on #2461
I belueve security exceptions will not be handled by advices at all as they happen outside of that context. These must be handled at service level where AuthenticationManager or Provider is accessed.

[2015-12-14 09:19] Herisson-88 commented on #1832
Far better ! I will test and use it ! Thanks...

2015-12-14 5:52 GMT+01:00 Anthony Yuan <notifications@github.com>:

[2015-12-14 10:50] vikas-a commented on #1314
+1

[2015-12-14 12:22] jdubois commented on #733
Looks indeed like a better solution, but the project doesn't seem very active either.... And I don't want to have the same kind of issue again. What do people use with MongoDB???

[2015-12-14 12:54] gmarziou commented on #2482
Please read our guidelines, this is a question not an issue with JHipster, we use stackoverflow for such questions.

[2015-12-14 12:54] #2482 closed

[2015-12-14 12:57] jdubois commented on #2482
@gmarziou is correct, this is not a bug report and it should go to StackOverflow.
However this is an interesting subject -> if you have an answer please consider adding a tip to the JHipster website (in the tips and tricks section)

[2015-12-14 13:06] jdubois commented on #1832
The PR #2480 from @hyuan seems to solve this issue nicely!!!

I'll merge this soon as this looks like the right solution, at least it's better than what we currently have (nothing!).

This needs to be tested with OAuth2 and token authent (which shouldn't be impacted, but there is always a risk)

[2015-12-14 14:18] cbornet commented on #2451
I forked @joshlong project to get a nice UI over the API. You can check it [here](https://yabb.herokuapp.com)
Note : invert/dark, width, aspect-ratio options available and it uses CIE94 algo

[2015-12-14 16:03] sendilkumarn commented on #695
It would be great if we add Spring SAML authentication in jhipster as 4th option. Can we open this?

[2015-12-14 16:20] pnreddysvu commented on #695
instead of supporting these many authentication/authorization options better go for https://github.com/keycloak/keycloak. Some one pointed this last week. I gone through the youtube videos. This is really cool. It supports many things which typical web developer needs.

[2015-12-14 16:28] pnreddysvu commented on #695
See the extensive feature set.

Features
OpenID Connect and SAML 2.0 SSO and Single Log Out for browser applications
Social Broker.  Enable Google, Facebook, Yahoo, Twitter social login with no code required.
Identity Broker.  Delegate to an external SAML 2.0 or OIDC broker for auth.
Optional LDAP/Active Directory integration
Optional User Registration, with optional Recaptcha ability
Password and

[2015-12-14 16:43] jdubois commented on #695
If this is supported by Spring Security, the "normal way" for JHipster would be to use Spring Security, and not Keycloak.
Let's not add 3rd party libs if we don't need to.
All those could be released as modules (there will be announcement on this during this week), so everybody can code his solution, anyway

[2015-12-14 16:46] sendilkumarn commented on #695
@jdubois  :+1: I too agree reg 3rd party apps integration. But SAML, is yet to be configured in Jhipster which will be a good move if we add this functionality inside

[2015-12-14 16:53] jdubois commented on #2173
This is fixed as we now use the Angular UI datepicker

[2015-12-14 16:53] #2173 closed

[2015-12-14 16:55] jdubois commented on #2438
We've already had a PR on this, for me this is fixed

[2015-12-14 16:55] #2438 closed

[2015-12-14 16:57] jdubois commented on #2451
OK this is cool to have my picture at start up, but really I don't know what to do with it... Shouldn't we close this?

[2015-12-14 17:00] cbornet commented on #2451
Of course this should be closed

[2015-12-14 17:00] #2451 closed

[2015-12-14 17:04] craigburke commented on #2451
lmao :laughing:

[2015-12-14 17:22] jdubois commented on #1595
OK I'm closing this as it has no progress in 6 months.... If we do a "micro services" approach, I have some ideas on how to implement that, but it would be in another user story

[2015-12-14 17:22] #1595 closed

[2015-12-14 22:20] mangelovski opened #2484 "Just a small improvement regarding gitignore"
add app.constants.js into gitignore, I wouldn't like to commit it after each grunt build since the comment mentions it is generated by NGCONSTANT settings.

the line to be put into gitignore with the folder structure I have is: /src/main/webapp/scripts/app/app.constants.js

Regards,

[2015-12-14 22:55] imilic1 opened #2485 "CSRF Issue in Version 2.25 with Hazelcast session replication"
Hi,

First of all thanks to all contributors for this amazing framework. I am using some nice tricks from jHipster for my project and after upgrading to version 2.25, I hit the issue with CSRF token.
This issue exists also when specific configuration is created from scratch.

Steps to Replicate on clean installation:

1. Create new jHipster Application from scratch after upgrading Jhipster generat

[2015-12-14 22:58] imilic1 commented on #2485
Just to add, record doesn't get saved in any case.

[2015-12-14 23:19] templth commented on #2133
Awesome, @jdubois! Exactly what I need ;-) Sure, I'll be a beta tester! I'll keep you up to date with my progress...

[2015-12-15 00:16] zanguim opened #2486 "[BUG] The entity name cannot end with Detail"
While creating a new no existing entity , the jhipster generator throw a error because of the name of the entity

`
C:\Users\zangui_elmehdi\Documents\2016\LearningWorkspace\SpringMvc\sgbpApp>yo jh
ipster:entity objectiveDetail
The entity name cannot end with 'Detail'
C:\Users\zangui_elmehdi\AppData\Roaming\npm\node_modules\generator-jhipster\enti
ty\index.js:77
        throw new Error("Validation

[2015-12-15 02:54] deepu105 commented on #2486
Its not a bug, its an intended error thrown by the generator. You cannot have Detail as the suffix for entity to avoid route conflicts

[2015-12-15 02:54] #2486 closed

[2015-12-15 09:46] Panthro opened #2488 "404 link on openshift page"
https://jhipster.github.io/openshift.html
### More information
Spring Boot Openshift documentation -> link is broken

I could not find the correct link, the only one I found was this one:

https://blog.openshift.com/using-openshift-enterprise-grade-spring-boot-deployments/

PS: I know at this moment the generator is broken.

[2015-12-15 13:48] #2488 closed

[2015-12-15 13:49] jdubois commented on #2485
Yes, your issue is with Hazelcast, we are currently working on it

[2015-12-15 14:08] jdubois commented on #2484
That means you would need to generate a Grunt build before running the app: here what I like is that someone cloning the project, without even having Bower or Grunt, can run it directly (because of the Maven wrapper).
So I would like to keep this, unless there are other comments?

[2015-12-15 14:16] pvlastaridis commented on #2482
OK Thanks guys. Just a desperate reaction of me. I would not like to hang on stackoverflow my virtual host urls and I thought if someone has done it before it will be helpful for him to also take a look at what is happening.

[2015-12-15 14:26] imilic1 commented on #2485
Thank you @jdubois

[2015-12-15 14:35] mangelovski commented on #2484
Yup, that seems logical. I forgot about that scenario. I'll add it locally :)

[2015-12-15 14:35] #2484 closed

[2015-12-15 16:19] TonyLuo opened #2489 "How to format ZonedDateTime using @JsonFormat?"
I would like to format the    lastModifiedDate to be "yyyy-MM-dd HH:mm:ss" using @JsonFormat, but the restful output json is "lastModifiedDate": "2015-12-11T04:47:44Z"?  Is there any mistake?

``
 @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd HH:mm:ss")
    private ZonedDateTime lastModifiedDate;

[2015-12-15 16:27] jdubois commented on #2489
Please follow the guidelines to report a bug... This should probably go to Stackoverflow, this is why I'm closing this.
Concerning the date format, it is made to work with AngularJS, so if you format it another way, I don't know what that will do with the front end

[2015-12-15 16:27] #2489 closed

[2015-12-15 17:20] #2461 closed

[2015-12-15 18:11] jdubois commented on #2395
Corrected by https://github.com/jhipster/generator-jhipster/commit/1084e4c2253a44cad597ab23774bf1f7dcc97e83

[2015-12-15 18:11] #2395 closed

[2015-12-15 18:14] jdubois commented on #2485
Cleaned up the configuration in https://github.com/jhipster/generator-jhipster/commit/1084e4c2253a44cad597ab23774bf1f7dcc97e83 but the issue is still here.

What is strange is that:

- Login -> go to settings page -> save the settings -> you get the CSRF error
- Login -> go to monitoring page -> go to settings page -> save the settings -> everything is OK

Same issue with the logout, after that yo

[2015-12-15 19:12] rkohel opened #2491 "Users shouldn't be able to delete their own accounts in user management"
* **Overview of the issue**

An admin user can delete his own account in user management.

* **Motivation for or Use Case**

After deleting his own account, the user is still signed in and can try to change his settings or password which would lead to an error because the data to update isn't there anymore.

* **Reproduce the error**

Sign in as admin
Administration -> User management
Delete admin

[2015-12-15 19:18] wuethrich44 commented on #2491
:+1:

[2015-12-15 19:27] thiagogcm commented on #2491
Or logout the user after he deleted himself

[2015-12-15 21:56] atomfrede commented on #2491
I think it should not be possible to delete one self.

[2015-12-16 04:50] hyuan commented on #1832
@jdubois Just a reminder, the above PR won't solve this issue for a direct page post, such as what Social-Sign-In is doing. Because it's out of Angular's control. I haven't found a better solution. But I think it can be solved in this way:

1. use JavaScript to do the post for Social Sign In with Accept Content Type being set to application/json only
2. customize the ProviderSignInController.signI

[2015-12-16 14:49] jdubois commented on #2485
So after a lot of debugging:

For some reason, when using Hazelcast, the CSRF token which should be store in http session is null after the first REST request.

- If your second request is a GET, you will get a new token and everything will work
- If your second request is a POST, as your token is null, it will fail

I guess there is something in Hazelcast that makes the first request not having t

[2015-12-16 14:59] jdubois commented on #2455
No comment here, and I don't want to change the current UI without a good reason

[2015-12-16 14:59] #2455 closed

[2015-12-16 15:00] jdubois commented on #2433
Closed as the PR is merged

[2015-12-16 15:00] #2433 closed

[2015-12-16 15:05] jdubois commented on #2133
@templth I will release the marketplace anytime soon, so I'm closing this -> have a look at the marketplace, and tell us if that's fine for you!!

[2015-12-16 15:05] #2133 closed

[2015-12-16 15:14] jdubois commented on #1832
@hyuan you seem to know this better than me, so I'm trusting you!!!

-> I'm closing this as for my tests it works fine, if you have a PR that adds more features it's of course welcome (just be careful with the formatting!)

[2015-12-16 15:14] #1832 closed

[2015-12-16 15:16] jdubois commented on #2386
Closing this as the PR is merged. I don't understand, you didn't fix the issue in the PR?

[2015-12-16 15:16] #2386 closed

[2015-12-16 15:18] jdubois commented on #2306
@deepu105 do you think this could be made as a module?
I'm against using Hibernate Envers by default, as I've seen 2 projects failing because of abusing it (not really an Hibernate Envers issue, mostly people don't get how it works or what it does)

[2015-12-16 15:23] imilic1 commented on #2485
Thank you @jdubois - this is really strange one. I also spent a lot of time debugging but no luck.

[2015-12-16 15:41] imilic1 commented on #2485
@jdubois  - I applied now changes from #2480 and apparently the code added to auth.interceptor.js is causing infinite loop in browser, after 403 response is hit and CSRF token is not empty.

[2015-12-16 15:44] jdubois commented on #2485
Oops! I don't have this issue, can you tell me what you do, so I can reproduce?

[2015-12-16 15:49] imilic1 commented on #2485
I replicated it on my new entity, I'll try to replicate on system application.

[2015-12-16 16:24] imilic1 commented on #2485
OK, I have some additions to jHipster front end calls so in my case it actually gets in a loop when old call gets retried as it just keeps retrying as I am getting 403 for some other reason as well it seems.

[2015-12-16 16:27] jdubois commented on #2485
OK, but is this just limited to your changes? In that case I guess it's OK if we add this change

[2015-12-16 17:01] imilic1 commented on #2485
@jdubois - yes, in your configuration it should never happen

[2015-12-16 17:03] jdubois commented on #2485
OK great let's do the next release then :-)
I'm closing this as this is "solved", but this is clearly not perfect, and as far as I'm concerned it's an Hazelcast issue (as the only difference is that we have Hazelcast set up, and as I followed very closely the Hazelcast official configuration)

[2015-12-16 17:03] #2485 closed

[2015-12-16 17:09] francescou opened #2492 "executable war does not start because of an Hazelcast error"
Hi, I've generated a project with **jhipster 2.25.0**, it works fine with the spring-boot maven plugin but I can't run the executable war. Here is the stacktrace:

[code]

This is my _.yo-rc.json_

[code]

This issue could be related to issues #1958 and #1836

I did some investigation about this: upgrading _hazelcast.version_ to 3.5.4 does not fix the issue.

The problem, in my opinion, is that th

[2015-12-16 17:15] geraldhumphries opened #2493 "Test names are inconsistent and entity controller tests do not fall under "Controller Tests""
* **Overview of the issue**

Jasmine tests can be organized in a hierarchical manner by nesting `describe`. This is not done properly in a generated app:

![tests](https://cloud.githubusercontent.com/assets/5278953/11847953/dffaa1c4-a3ed-11e5-93d5-1ec70e40a011.png)

You can see `Controller Tests` and `Controllers Tests `. None of the entity detail controller tests are in there, either.

* **Motiva

[2015-12-16 17:47] geraldhumphries opened #2495 "Main generator tests are output improperly in IntelliJ"
* **Overview of the issue**

Multiple `describe`s with the same name in the same file are causing test output to look like this:

![tests3](https://cloud.githubusercontent.com/assets/5278953/11848334/cd033ca0-a3ef-11e5-903b-d5e61a24619c.png)

* **Motivation for or Use Case**

Makes test output harder to read

* **JHipster Version(s)**

master

* **Reproduce the error**

Run the Mocha tests in the

[2015-12-16 19:07] deepu105 commented on #2306
Its not with envers, its a simple listner based implementation. I think it
can be a module, let me try when im back will close this later
On 16 Dec 2015 20:48, "Julien Dubois" <notifications@github.com> wrote:

[2015-12-17 07:27] delverdev commented on #2471
I've solved the issue, but not the best way. First, I added *management.context-path=/api* to *application.yml*. I don't know why, but with this, api/metrics/metrics returns nothing! api/health and api/dump works, so if we will get whats wrong with api/metrics/metrics, I will make the tip more correct.

[2015-12-17 09:00] francescou commented on #2492
fixed in v2.26.0

[2015-12-17 09:00] #2492 closed

[2015-12-17 11:29] Runomu opened #2496 "Aspect Advice for Repository does not work"
im extending project for a FilterAspect and trying to add a pointcut for repositories. i have started project in dev mode and saw that LoggingAspect for repositories does not work. it just logs for web and service layer.  does anyone know, why its not working for repository layer ?

[code]

if i try with  CrudRepository, i can deploy Application. But @Before ist not called. im getting  following e

[2015-12-17 15:49] jdubois commented on #2496
Please follow the guidelines -> this is not a JHipster bug or feature request. Please post this kind of question on Stackoverflow with the "JHipster" tag.

[2015-12-17 15:49] #2496 closed

[2015-12-17 16:50] lluiscanals opened #2497 "Update to version 2.26.0. CustomAccessDeniedHandler class is not being created during update."
* **Overview of the issue**

When updating to jhipster 2.26.0 from 2.25.0 is created a new line of code in SecurityConfiguration class
[code]
But the problem is that the class file is not being created.

* **Motivation for or Use Case**

    Updating a hjipster app.

* **JHipster Version(s)**

    2.26.0

* **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

 {
  "genera

[2015-12-17 16:55] jdubois commented on #2497
Thanks a lot!!!!!
I don't know how this could have passed our Travis build @pascalgrimaud ???
Let's do an emergency new release

[2015-12-17 16:58] lluiscanals commented on #2497
You are welcome. Glad to help!

[2015-12-17 17:06] pascalgrimaud commented on #2497
Strange, no error in Travis Log for `mvn test` / `grunt test`, and the app starts with `mvn spring-boot:run`
I will check this !

[2015-12-17 17:06] jdubois commented on #2497
Thanks really! Now I understand why it did pass the Travis build: we don't test the XAuth option!!

[2015-12-17 17:07] jdubois commented on #2497
@pascalgrimaud I'm adding a Docker build for this -> I need to learn what you did so that's a good exercise!!

[2015-12-17 17:10] pascalgrimaud commented on #2497
Yes ok ! All options are not tested (for example Hazelcast). I tried to cover a lot of combinaisons and we can go on to improve it.

[2015-12-17 17:13] jdubois commented on #2497
Then we will also need Hazelcast :-)
Yes let's add more options, it's free anyway... Thanks a lot Travis, as all those builds should cost a good amount of money!!

[2015-12-17 17:21] #2497 closed

[2015-12-17 19:23] lluiscanals commented on #2497
Can you confirm it is working? I have made the update with 2.26.1 and the class is not created :(
I'm implementing by hand for now.

Regards!

[2015-12-17 19:28] jdubois commented on #2497
This is normal: this class is only for CSRF protection and with a stateless autenth you do not need this.
So it's the line in the configuration file which should be deleted.

[2015-12-18 12:51] TransparencyInternationalEU opened #2499 "Migation of Entities to new Date handling"
This is related to issue #2173 :
I created a jhipster app with the 2.15 generator. During upgrade, I changed the type of various date Fields from the previous default Joda DateTime to ZonedDateTime, which is used in the latest sample app.
Yet, serializing / deserializing is not working properly.

Before, the field startDate was ```@Type(type = "org.jadira.usertype.dateandtime.joda.PersistentDateTi

[2015-12-18 15:15] cbornet commented on #2499
You don't need to annotate at all. Jackson serializers are registered globally.

[2015-12-18 20:30] lukasw44 opened #2502 "Cucumber Tests fail with HazelCast session replication"
Hi
there is no option to reopen a issue (#2395) but i start new project with jhipster 2.66.1 and when i typing mvn clean install this bug still exist. It's weird because the same configuration but with gradle, works fine .So that issue appear when you use maven.

my yo-rc.json
[code]

[code]

[2015-12-18 21:47] pascalgrimaud commented on #2502
@lukasw44 : can you try without cucumber ?

[2015-12-18 22:02] erensimsek opened #2504 "Autocomplete in combobox"
Hi everyone,

I use JHipster in my new project. We need an develop autocomplete feature at all combobox.
Is it good idea add this feature to JHipster for all generated list properties?

Thank you.

[2015-12-19 09:21] sendilkumarn commented on #2491
@rkohel  rather we can remove the user from listing in user management screen. Anyhow update of account is available in Account page.

[2015-12-19 09:21] jdubois commented on #2504
For autocompletion you need something like Lucene (at least that's how I would do it), and each keystroke will do a new GET request -> this looks a bit overkill for a "normal" situation.
But I'm sure many people would like to have this (we just had the exact same question in my company's internal mailing list).
So we need to see how this could be an option, maybe a JHipster module (not sure this i

[2015-12-19 09:32] lukasw44 commented on #2502
@pascalgrimaud without cucumber its working fine.

[2015-12-19 09:34] pascalgrimaud commented on #2502
Yes, same for me. After some tests,
- Hazelcast without Cucumber => OK
- Hazelcast with Cucumber => KO

As @phouverneyuff fix the gradle version https://github.com/jhipster/generator-jhipster/pull/2275/ maybe you can do the same for maven ? But it seems to be more complex than gradle.

Since modules system is out, I think the best thing would be to make Cucumber as module.
@lordlothar99 maybe you

[2015-12-19 09:34] jdubois commented on #2502
OK, I was going to close this because I couldn't reproduce -> I'm going to rename the title, in fact that's only failing when you have Cucumber

[2015-12-19 09:35] lukasw44 commented on #2502
Yes its fails only with cucumber and maven

[2015-12-19 09:58] lukasw44 commented on #2502
I see that for gradle @phouverneyuff use specific order, but i am afraid that for maven correct solution is using failsawe plugin for cucumber test

[2015-12-19 10:48] TransparencyInternationalEU commented on #2499
Indeed, without the @JsonSerialize annotations it works. Thank you.

[2015-12-19 10:48] #2499 closed

[2015-12-19 16:03] RawSanj commented on #1216
mail:
        host: smtp.gmail.com
        port: 587
        username: emailid@gmail.com
        password: password123
        protocol: smtp
        tls: true
        properties.mail.smtp:
            auth: true
            starttls.enable: true
            ssl.trust: smtp.gmail.com

Need to add `ssl.trust: smtp.gmail.com` in above config by @pascalgrimaud to avoid below exception: <br> *Failed m

[2015-12-19 18:31] geraldhumphries commented on #2504
I've programmed this for my own project. It also solves the "getAll() doesn't actually get all" problem with pagination enabled! It uses Elasticsearch and an Angular module called [ui-select](https://github.com/angular-ui/ui-selecthttps://github.com/angular-ui/ui-select).

https://gist.github.com/geraldhumphries/ba159d2ea93c41d8054a

[2015-12-19 19:32] geraldhumphries commented on #2504
Another thing. The search method in entity controllers has this:
[code]
Looking at git, the intention of that code is to load entities using the normal endpoint when elasticsearch finds nothing. The issue is that the elasticsearch resource never returns 404, it only returns 200 with `[]` as the result. So as far as I can tell, that code is never used.

[2015-12-20 00:55] jasperblues opened #2505 "support for kotlin as a server-side language"
Could also be a client side language?

[2015-12-20 04:15] jd-carroll opened #2506 "Clean-up JSHint"
The current state of the code is a bit of a mess  when it comes to linting.  Running `grunt jshint` after a fresh install produces some 200 errors reported.

**If** the current `.jshintrc` is agreed upon, I would like to start putting together pull requests to address these issues.  Running jshint with only generated code should always come back as clean.

Can someone please confirm whether or not

[2015-12-20 07:54] jdubois commented on #2505
What do you want to do with it???

[2015-12-20 08:43] jasperblues commented on #2505
Choosing Kotlin (for server-side) as an option would mean you get:

* A Build file with the Kotlin maven or gradle plugin
* Relevant Spring Boot and other stubs generated in Kotlin instead of Java.

I'm just starting to use JHipster, so if you like I can come back with something more specific after I see exactly what it can already currently do.

[2015-12-20 09:04] jdubois commented on #2505
It could be a module, have a look at the "market place".

[2015-12-20 09:06] jdubois commented on #2506
Yes definitely. Have a look at the "John Papa style" ticket also, this should be linked.

[2015-12-20 09:11] jasperblues commented on #2505
:+1: That looks good. It may something Jetbrains are interested in contributing - I'll open a ticket on their tracker and see what they say. Otherwise I or someone will surely do it.

[2015-12-20 09:12] jdubois commented on #2505
Yes this is done exactly for this kind of need, and I will do my best to support this.

[2015-12-20 11:44] rkohel commented on #2491
@sendilkumarn first, I was also thinking about to remove the user from the list.
But if an user has "ROLE_ADMIN" but not "ROLE_USER", he cannot access the account pages.
I'm not sure about, but maybe that is just another issue?
Maybe anyone can explain how this is intended to work?
Should an user with "ROLE_ADMIN" but without "ROLE_USER" be able to access the account pages?

[2015-12-20 16:10] moifort opened #2507 "Add JHipster version in .yo-rc.json"
I want to know in my module which JHipster version was used to generate the project. Because I need to know if my module will be able to use the needle.

Is there any way to know?

If not, I propose to add the JHipster version used in the `.yo-rc.json`

[2015-12-20 18:46] gmarziou commented on #2507
You can find it in 2 places:
- in package.json
- in comments at the top of your Gruntfile.js or gulpfile.js

[2015-12-20 19:01] pascalgrimaud commented on #2507
To complete the previous answer. In your module, you can put a minimum version of generator-jhipster in your package.json, for example :
[code]

And when the user uses your module, if needle is not found, there should be a message "unable to find..."

[2015-12-20 21:06] moifort commented on #2507
Thank you! @gmarziou @pascalgrimaud

[2015-12-20 21:33] #2507 closed

[2015-12-21 10:16] pascalgrimaud opened #2509 "Remove docker-compose feature"
Hello,

With the new [JHipster marketplace](https://jhipster.github.io/modules/marketplace.html) and the module [generator-jhipster-docker](https://github.com/pascalgrimaud/generator-jhipster-docker), I would like
to remove the docker-compose files, generated by JHipster. I don't know if a lot of people use this feature, but you can go on by using the sub module.

In my opinion, the use of Docker

[2015-12-21 11:05] deepu105 commented on #2504
There is an auto complete provoded by angular bootstrap which we are
shipping and it is really easy to use. Another option could be ui-select
On 20 Dec 2015 01:02, "Gerald Humphries" <notifications@github.com> wrote:

[2015-12-21 13:23] c3thethird opened #2511 "[Enhancement] Replace @Service with @Named (JSR-330)"
If @Inject is used instead of @Autowired, doesn't it make sense to also use @Named instead of @Service/@Component ?

In truth, I guess there isn't really any practical gain. It's more for consistency's sake. It would make the projects more ... standard, and reduce the dependency on Spring, if ever another IoC container would be considered, but taking into account the project's heavy dependency on

[2015-12-21 14:14] mihaisimi opened #2512 "Add option to choose passwords when creating a jhipster app"
In my opinion the default passwords do create a (small) security risk. I think these should be setup by the user when he creates the jhipster app.
If this is considered interesting to have I am volunteering to implement.

[2015-12-21 15:10] nilatako opened #2513 "Angular is not defined :: cannot fined bower packages :: nodegyp vs Python"
Hi all,
after generating my new jHipster API in the browser I got the following issue:
/* Uncaught ReferenceError: angular is not defined */

Before the generation I installed the latest:
- node.js
- yo
- bower
- grunt-cli
according to the guidelines https://jhipster.github.io/installation.html

During the generation I got the following warning and errors:
/****************************************

[2015-12-21 15:20] gmarziou commented on #2513
This is not a JHipster issue, this an environment issue.

Per [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#issue), this is a question for stackoverflow, please submit one and we'll help you there.

[2015-12-21 15:20] #2513 closed

[2015-12-21 15:42] nilatako commented on #2513
Thank you @gmarziou!
I posted the issue on stackoverflow!

[2015-12-22 06:43] Vaelyr commented on #2512
Where is the risk while developing? I see none.

[2015-12-22 06:47] Vaelyr commented on #2511
Why is this always brought as an argument, that other IoC might be used? I have never seen that happening anywhere in my career and I doubt this project ever moves away from entire Boot stack, so this does not make any sense.

[2015-12-22 06:52] Vaelyr commented on #2491
In front-end you just have to check equality for id or email and hide the button. In backend the same against current principal as one if. What's the problem?

[2015-12-22 07:00] Vaelyr commented on #2504
I hate seeing service logic in controllers. But anyway why not just write a directive wrapper for ui-select or any autocomplete and pass some list you obtain asnyc and done? Having Elastic Search dependency seems overkill, whu not regular findAll without pagination?

[2015-12-22 07:03] jdubois commented on #2511
@Service means we are in the service layer: it doesn't really do anything, but maybe some people use it in their pointcuts, and anyway it's more expressive than @Component or @Named

So I would keep it, but yes there needs some guidelines on what we use, and why.

[2015-12-22 07:34] rkohel commented on #2491
@Vaelyr the question is actually not about how to implement it technically.

[2015-12-22 08:01] Vaelyr commented on #2491
You confuse 2 different use cases here. Disabling the option to delete in this case is not a correct solution anyway and does not solve the real problem existing. I actually find it correct given described case, the account updating resource should include permission check. The service should always query for existing database record and handle the rest from there. Currently I don't think there wa

[2015-12-22 10:37] c3thethird commented on #2511
@jdubois - I fully agree that @Service, @Repository and @Controller are much better than @Named, and help delimit the various layers of the app. But if using those, JHipster might as well use @Autowired. Again, for consistency, not for any other practical reasons.

@Vaelyr - I am NOT making that argument. I am saying that's the only argument for using the JSR annotations instead of the Spring ones

[2015-12-22 10:47] cbornet commented on #2511
@c3thethird I don't agree : the equivalent of @Named would be @Component, not @Service. @Service is a specialization of @Component and the difference with @Named is meaningful.
On the other hand @Autowired and @Inject are strictly equivalent in Spring so you can use one or the other indifferently.

[2015-12-22 11:33] The-Crocop opened #2515 "Creating an entity called Document when using mongodb leads to broken Application"
Basically the Problem is this. When you create an Entity called Document and use MongoDB at the same time the keyword Document is used twice in the same java file once like
import org.springframework.data.mongodb.core.mapping.Document;
and once for the class. which makes it not working. It shouldnt be allowed to create an entity called document in the first place and there should be a message with

[2015-12-22 11:52] Panthro opened #2516 "Pagination as a field in Rest layer makes swagger-api fail"
### Steps to reproduce:

 - Add an entity with pagination (any).

### Expected result:
Valid swagger api-docs http://localhost:8080/#/docs (http://localhost:8080/v2/api-docs)

### Result:
http://localhost:8080/#/docs (http://localhost:8080/v2/api-docs)
Represents an invalid swagger v2 api docs

has an invalid schema because `Pageable` is not a defined model.

### Why this is bad?
I was trying to g

[2015-12-22 12:54] Panthro commented on #2250
just for the sake of traceability:

Created the issue because I'm facing this again:

https://github.com/liquibase/liquibase-hibernate/issues/101

[2015-12-22 14:13] cbornet commented on #2516
would you make a PR for this ?

[2015-12-22 14:55] Panthro opened #2517 "NPE executing liquibase:diff if oauth2 is selected as authentication method"
### Reproduce
 - create new jhipster project
 - select H2 in disk for dev environment  (not tested on mysql or other dbs)
 - select oauth2 as authentication method
 - `mvn` (to initialize the database)
 - `mvn liquibase:diff`

### Expected
a diff changelog

### Result
NPE during execution

[code]

[2015-12-22 15:00] titogeorgep opened #2518 "Social authentication with Google doesn't work when translation is disabled"
I have created a new application with "enableTranslation": false, Only google properties are added in applicaton.yml. On sign in I get the error in attached screen shot.

![screenshot from 2015-12-22 20-16-49](https://cloud.githubusercontent.com/assets/11407285/11957722/6416b9ac-a8e9-11e5-9f8c-1cb8c747d670.png)

[code]
I am using Chrome Version 47.0.2526.80 (64-bit) on Ubuntu 15.10

[2015-12-22 15:12] titogeorgep commented on #2518
I regenerated the application with ``` "enableTranslation": true ``` and it is working fine.

[2015-12-22 16:02] mihaisimi commented on #2512
We can argue that default passwords, even in a dev environment could be a bad idea but these are in the liquibase files. This means they can reach an internet exposed site if devs are not careful or just lazy (after all it is a manual process to change them as you need to alter 3 passwords, change the db config file, change the html files that suggest the defaults).

Perhaps Uncle Sam made a bette

[2015-12-22 16:13] Vaelyr commented on #2512
That just leaves 100 another things that can be left exposed by not being careful, like configurations or certificates, not just Liquibase scripts. You can't reduce the risk by just eliminating one possibility out of many. The possibility of something like this happening especially in test environment is so small. If someone uses defaults in production or outside local machine then these people sh

[2015-12-22 16:16] Panthro commented on #2516
#2519 done

[2015-12-22 16:28] mihaisimi opened #2520 "Add tip for idea documentation"
I suggest adding a tip in the Idea configuration section.

If we change the logback-spring.xml pattern to this:
<pattern>%highlight(%-5level) %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %yellow([%thread]) %blue(%logger{36}\(%class{0}.java:%line\)) %msg%n</pattern>

We get clickable class names in Idea 14/15 ( per http://stackoverflow.com/questions/7930844/is-it-possible-to-have-clickable-class-names-in-console-

[2015-12-22 20:01] jdubois commented on #2511
OK, so the rule is:
Only use standard annotation, unless the specific one is better.
This also applies to Hibernate (vs JPA)

In the specific cases that are quoted here:
- @Service is used as it is more expressive than @Named
- @Autowired are in fact used, when the injection isn't required - something which is not available in the CDI spec

This wasn't been voted by the dev board, this is my own r

[2015-12-22 20:01] jdubois commented on #2511
And yes I need to write it somewhere in the official documentation.

[2015-12-22 20:04] jdubois commented on #2515
Oh yes and the fix is easy: we should add this to our list of MongoDB reserved keywords.
I don't have my laptop with me, if you want to do a PR I will happily merge it.

[2015-12-22 20:15] pascalgrimaud commented on #2515
There are no list of MongoDB reserved keywords, so this list should be implemented.

[2015-12-22 20:17] jdubois commented on #2515
I can't believe we don't already have one!!! Yes this is needed.

[2015-12-22 20:25] pascalgrimaud commented on #2517
It's related to H2, because in pom.xml, at plugin liquibase-maven-plugin, we use `jdbc:h2:tcp://localhost:9092/./target/h2db/db/tmp` instead of the url in application-dev.yml

I think we have the same issue with gradle.

Do you want to do a PR, @Panthro ?

[2015-12-22 23:05] c3thethird commented on #2511
@jdubois Don't get me wrong. I am faaaar from unhappy. In fact, I think JHipster is an awesome tool and I am trying to spread the word about it among my dev friends. My intention is not to criticise, I am just trying to understand why things are done this way, and thought it might be more consistent to use just one set of annotations, but I am perfectly happy using it the way it is today.

@cborne

[2015-12-22 23:19] atomfrede commented on #2511
@jdubois I understand your choice and have no problem with it.
@c3thethird If your concerns are cleared, can we close this issue?

[2015-12-23 05:35] gouravsood commented on #1830
Hi Team,
I have removed all the references of Mongeez but still getting this exception while deploying the application in Cloud.

**Caused by: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'mongoDbFactory': Requested bean is currently in creation: Is there an unresolvable circular reference?**

Can you please suggest what can be actual root cause

[2015-12-23 05:38] gouravsood opened #2521 "Circular Reference error with MongoDb on CloudFoundry"
Hi,

I am using Jhipster with mongodb as main database. Its running properly in localhost:8080. But when i deploy it to cloudfoundry, it crash with following exception:

**Nested exception is org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'mongoDbFactory': Requested bean is currently in creation: Is there an unresolvable circular reference?**

Res

[2015-12-23 07:58] ibgithub opened #2522 "Why the GUI is not working properly?"
Dear all
I ever create jhipster project and run well, but right now when I create again why the GUI is not good, there is no error I found, but the GUI is not good, the menu is not shown properly etc.

below is the screenshot of my application:
<a href="http://tinypic.com?ref=1zzkhlg" target="_blank"><img src="http://i64.tinypic.com/1zzkhlg.png" border="0" alt="jhipster gui"></a>

Best regards
Ima

[2015-12-23 10:03] gmarziou commented on #2522
Please follow [our guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) it should go to stackoverflow, this is very likely a CSS loading issue, check your browser console and follow up on stackoverflow.

[2015-12-23 10:03] #2522 closed

[2015-12-23 10:05] ibgithub commented on #2522
After try 5 times, I already able to create the project, thank you for the answer.

[2015-12-23 12:21] Panthro commented on #2517
This is actually a liquibase bug, I found out later.

I created an issue on __liquibase-hibernate__ (but the issue is actually on core, I didn't see before):
https://github.com/liquibase/liquibase-hibernate/issues/101

Then I created a pull request for __liquibase-core__:
https://github.com/liquibase/liquibase/pull/540

[2015-12-23 12:45] pascalgrimaud commented on #2517
I think we don't have the same error.
My .yo-rc.json :
[code]
then :
- start app with mvn
- stop app
- mvn liquibase:diff

My stackstrace :
[code]

I made a change in my pom.xml file :
[code]

Then it's ok :
[code]

[2015-12-23 12:46] pascalgrimaud commented on #2517
Can you tell what is your <url> in your pom.xml ?
Do you have some entities ?

[2015-12-23 12:59] rilopez commented on #1132
I had the similar npm install problems while generating my app, tried without luck a `npm install & bower install && grunt wiredep`  but after digging into the code ,  I found that the app.constants.js file is generated by the `ngconstant` grunt task. so I just ran

    grunt ngconstant

and  the http 404 for app.constants.js went away

[2015-12-23 13:15] c3thethird commented on #2511
@atomfrede Absolutely.

[2015-12-23 13:19] #2511 closed

[2015-12-23 13:44] Ozayllc opened #2523 "Jhipster 2.0 - running mvn -Pprod spring-boot:run stuck at 'Initializing JMX Metrics'"
running 'mvn spring-boot:run' which calls the dev profile works fine but running with the 'prod' switch doesn't move past 'Initializing JMX Metrics'. We are now using Jhipster 2.0.

the stack trace is below. would appreciate any input on where to start looking. seems like we may have to disable something in mvn / pom.xml to get the prod version to build.

[INFO] Using 'UTF-8' encoding to copy filt

[2015-12-23 14:07] pascalgrimaud commented on #2523
Please follow our [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md) and give version informations, how to reproduce, etc... ?

[2015-12-23 14:12] Ozayllc commented on #2523
we've just used jhipster 2.0 to scaffold and developed our application on top.

the application runs fine when running 'mvn spring-boot:run' but is stuck at 'Initializing JMX Metrics' when running with the prod switch 'mvn -Pprod spring-boot:run'.

[2015-12-23 14:20] Panthro commented on #2517
I haven't changed anything from the original jhipster project:

so probably the url thing fixed it right?

The mentioned issues on liquibase are for another situation, but I was thinking they were related, because debugging it was throwing the same error in the exact same location, and once I did the liquibase:diff with my own modified version of liquibase the issue was gone

.yo-rc.json
[code]

.

[2015-12-23 14:22] pascalgrimaud commented on #2517
Yes, can you use the same url in your application-dev.yml ?
it should look like : jdbc:h2:file:./target/h2db/db/jhipster

[2015-12-23 14:26] Panthro commented on #2517
changing the url resulted in `[INFO] BUILD SUCCESS` :neckbeard:

seems that a PR can be easily done to fix it :feelsgood:

[2015-12-23 14:36] Panthro commented on #2517
btw, don't you think this should be added to travis? So issues like this would be picked up way earlier.

[2015-12-23 15:31] Panthro commented on #2520
The suggestion is to add what where? It's not clear for me.

Can you share your logback-spring.xml?

[2015-12-23 16:25] mihaisimi commented on #2520
For easier debugging in IDEA >=14 the CONSOLE appender in the logback-spring.xml could be changed into something like this (provides clickable class names, color coding and threads):

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>

            <pattern>%highlight(%-5level) %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %yellow([%thread

[2015-12-23 16:26] gmarziou commented on #2520
With this you get only clickable links for your own classes, I prefer adding %caller{1} at the end of the pattern to be able to click on any class

[2015-12-23 16:43] sendilkumarn opened #2525 "Moving from Bootstrap to Angular Material"
Suggest we move from bootstrap to angular material for UI components. If okay let me do a PR for that.

[2015-12-23 17:06] mihaisimi commented on #2525
+1 (if the user gets a choice between bootstrap and angular material).

[2015-12-23 17:16] brevleq opened #2526 "Spring mail authentication problem"
I really like jhipster, and I'm using it in three different projects, but...
I'm having some issues to send e-mail using Zoho and Gmail. The first problem is to set the STARTTLS flag, I've tried add `starttls: true` in application-dev.yml at `spring:mail` options without success. So I've decided to set it directly in MailService.
Then I got another problem: `javax.mail.AuthenticationFailedExceptio

[2015-12-23 17:34] gmarziou commented on #2525
Angular Material is a big change over Bootstrap as it's much more than a CSS framework.
Personally, I like how it looks and how it encourages more semantic markup.

Markup is so different that supporting both would mean 2 templates per view and it's not sure that there won't be any impact in controllers. I don't think JHipster team can support both but I'm wondering whether it could be done as a m

[2015-12-23 17:38] jdubois commented on #2525
- clearly we can't support both, it's too much work
- I have many users and customers who chose JHipster because of Bootstrap, which is by far the most popular CSS framework

So for me this doesn't look something that could (or should) be done.

[2015-12-23 17:46] gmarziou commented on #2526
According to the [spring-boot application properties doc](http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html), 'spring.mail.properties.*' is for additional JavaMail session properties.

Have you tried this?

      spring.mail.properties.mail.smtp.starttls.enable: true

[2015-12-23 17:48] sendilkumarn commented on #2525
@gmarziou obviously thats my point angular material just released their 1.0 and they look great and different.

In case of bootstrap, if they move to bootstrap4 then we have to again change a lot.  Just a suggestion, if we can use angular material we can remove few components because things like datepicker comes in built and I think code will be much cleaner.

[2015-12-23 17:54] pascalgrimaud commented on #2526
@brevleq : there is a pull request (by @RawSanj) here https://github.com/jhipster/jhipster.github.io/pull/142/files

Can you try this ?

[2015-12-23 18:07] pascalgrimaud commented on #2517
Yes we could, but I don't think it's a good idea.
If we test the goal `liquibase:diff`, we have to do the same for the other, like `sonar:sonar` or `gatling:execute`.
The Travis build will be more complex and it does not worth, in my opinion.

So I let you do a PR to fix this (don't forget gradle too) ;)

[2015-12-23 18:26] gzsombor commented on #2525
We had bad experience with angular-material in a couple of months ago, in a project,which I'm working on,so we had remove that components. The problem is they are targeting chrome,so it had lot's of problem on firefox/safari.Especially on iPhone. Probably they will fix it in the future.
 Maybe as a separate generator, there could be a material-skin, but I guess, it would be a huge job

[2015-12-23 20:17] jdubois commented on #2509
Not sure if it's not "mandatory".
For development, the more we use external services (like MySQL and Elasticsearch), the more it will be useful.

[2015-12-23 20:52] brevleq commented on #2526
Thanks, it worked
the problem was at property username, was user.

[2015-12-23 21:03] #2526 closed

[2015-12-23 21:07] atomfrede commented on #2509
Same for me. I use only docker compose during development. A friend of mine started a project based on jhipster and I told her to use docker compose (she didn't know docker before) and is absolutely flashed by the ease of use, so I would consider docker compose support somehow mandatory.
At least all I know will use docker compose.

But the idea to but everything not mandatory (or core feature) so

[2015-12-24 05:17] pascalgrimaud commented on #2509
Thanks for feedback and both, you're right :+1:

I'll update the current docker-compose :musical_note:

[2015-12-24 05:17] #2509 closed

[2015-12-24 05:57] pascalgrimaud commented on #2523
Just give a try to JHipster **2.0.0** and it works fine in DEV and PROD profile.
Not enough information to reproduce your error.
It seems you have a problem with your machine (memory or installation of java).

Closing this ticket, as you didn't follow our [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md).

[2015-12-24 05:57] #2523 closed

[2015-12-24 07:31] xjiaoyang opened #2528 "SERIOUS PROBLEM about entity id"
# Overview of the issue
i did not change the entity id type - basically all Long, auto increment. now i have a problem, i deployed 5 server applications both use jhipster 2.15, same code, just serve the product registration, update, delete,  i have this really annoying problem that i got the product long id on registration which already exists in other server, and that is a disaster problem.  our