[2019-10-14 06:34] hqzh opened #10617 "support for other UI"
##### **Overview of the feature request**

Bootstrap4, not the only option, I want to use [antd](https://ant.design/docs/react/introduce-cn)

##### **Motivation for or Use Case**

Chinese users demand

[2019-10-14 06:46] pascalgrimaud commented on #10617
@hqzh : thanks for your proposal, but we can't support in main generator-jhipster as it will be too much work for the core team.

What I can suggest is:
- create a public repo on GitHub and share your code
- then, you can create a module ; see https://www.jhipster.tech/modules/creating-a-module/
- or you can create a blueprint ; see https://www.jhipster.tech/modules/creating-a-blueprint/

If it be

[2019-10-14 06:57] atomfrede commented on #10363
Ah yes you are right, I just updated the documentation on the website. Will update the readme accordingly. Can you pinpoint which configurations result in infinite rebuilds?

[2019-10-14 07:11] kaidohallik commented on #10363
@atomfrede One configuration (JDL file provided) is described in this comment: https://github.com/jhipster/generator-jhipster/pull/10398#issuecomment-531774765

And in some other ticket was declared that using Open API option also results in infinite rebuild.

[2019-10-14 07:42] sendilkumarn commented on #10616
Sure let us do it

[2019-10-14 07:57] kaidohallik commented on #10363
I created PR for GitHub Pages https://github.com/jhipster/jhipster.github.io/pull/825

[2019-10-14 08:02] kaidohallik commented on #10363
I created PR for readme: https://github.com/jhipster/generator-jhipster/pull/10618

[2019-10-14 08:34] hqzh commented on #10617
thanks, I am not available in the near future, I will continue to pay attention

[2019-10-14 08:41] pascalgrimaud commented on #10617
As you don't have yourself the bandwidth to work on this, let's close this ticket

[2019-10-14 08:41] #10617 closed

[2019-10-14 08:42] jdubois commented on #10575
I just did a VueJs app and really loved it. For my personal use, this would be my favorite framework today, so I'd be happy to see this merged.
Then, I agree with @mraible that enterprise adoption seems very low.

[2019-10-14 10:38] MathieuAA commented on #10593
The issue is about how you deal with what's generated vs what you implement yourself.
There are solutions for that, mainly the "side-by-side" approach.
Having "Cascading" or "Fetching type" support seems like an implementation choice, which should be decided depending on your model, or even architecture.

[2019-10-14 12:07] #10502 closed

[2019-10-14 12:32] anthony-o commented on #10184
OK I finally found a way to make IE 11 work!

First, add those `package.json` dependencies: `@babel/core`, `@babel/preset-env` and `babel-loader`:
[code]
(tested with the following versions:
[code]
)

Now add the following lines at the top of `src/main/webapp/app/polyfills.ts`:
[code]

In `webpack/webpack.common.js`, after
[code]
add the following lines:
[code]
And finally, change `target` to `es5

[2019-10-14 14:06] RothAndrew commented on #10575
+1 for the idea, -1 for having to slog through a bunch of comments that amounted to "The framework that I like is better than the framework you like".

[2019-10-14 14:23] FreddyAyala opened #10619 "Generating a AngularJS Monolith throws Cannot read property 'forEach' of undefined error"
##### **Overview of the issue**

I've tried to create a new angularjs monolith with an sql server backend using the following configuration:

{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.xxx.yyy"
    },
    "jhipsterVersion": "6.4.0",
    "applicationType": "monolith",
    "baseName": "xxx",
    "packageName": "com.xxx.yyy",
    "packageFolder": "com/xxx/yyy",
    "s

[2019-10-14 15:24] clement26695 commented on #10619
I just tried your configuration @FreddyAyala but didn't manage to reproduce with a freshly created app. Here is a repo with the freshly created app which seems working: https://github.com/clement26695/10619.

Did you modify something in the generated code ? Can you provide a git repository that we can check ?

[2019-10-14 16:40] pascalgrimaud commented on #10616
just done, so I'm closing this

[2019-10-14 16:40] #10616 closed

[2019-10-14 16:46] pascalgrimaud commented on #10619
@FreddyAyala : can you try to use Node LTS too ?

[2019-10-14 16:51] #10301 closed

[2019-10-14 16:52] pascalgrimaud commented on #10619
Closing this as it couldn't be reproduced.
Feel free to comment or provide more information, once you tried with Node LTS

[2019-10-14 16:52] #10619 closed

[2019-10-14 16:53] #10599 closed

[2019-10-14 16:59] SudharakaP commented on #10616
@pascalgrimaud : Thank you :)

[2019-10-14 19:37] Tonterias commented on #10564
Hi @SudharakaP,

I'm still having the same problem after deleting the modules directory, but I will wait for Jon Ruddell to give us a hand since I cannot tell if this is a bug.

Thank you

[2019-10-14 19:45] SudharakaP commented on #10564
@Tonterias : No problem. Yes, that's a good idea; he might have more insight on your particular problem.

cc: @ruddell

[2019-10-14 20:39] yuniel-acosta commented on #10575
I would very much like to see VueJS integrated into the main project. Vuejs is gaining popularity and is very easy to use. It would also be ideal to have the option of choosing any of the three frameworks (angular / react / vuejs). I hope it can be posible.

[2019-10-14 21:04] pascalgrimaud commented on #10302
I confirm the issue and put a bounty on this, as it needs to be fixed

[2019-10-15 06:28] thawkins opened #10620 "Support creation of SCIM 2.0 endpoints"
##### **Overview of the feature request**

SCIM 2.0 is a standard for exposing APIs that allow provision of user/group resources inside an application.

see: https://github.com/BetterCloud/scim2  for an implementation.

However we would need to ensure than the user/group management model was consistent with the SCIM model to even be able to graft this implementation onto the app.

A blueprint to e

[2019-10-15 09:05] pascalgrimaud commented on #10542
I don't see this warning.
Which is your exact version of Java @jdubois ? Can you put here your `java -version` plz ?

[2019-10-15 13:24] juliensadaoui commented on #10302
Cucumber does not support JUnit 5 (see cucumber/cucumber-jvm#1149), CucumberIT tests use the junit-vintage engine. All other tests are started with the junit-platform engine (JUnit 5).

Each engine creates one node instance of elasticsearch and share the same data path. By default, Elasticsearch is configured to prevent more than one node from sharing the same data path. The setting **node.max_loc

[2019-10-15 13:39] Hawkurane opened #10621 "Docker-compose sub generator does not specify redis image when using redis as cache provider"
##### **Overview of the issue**
When packaging the application with docker-compose and using redis as cacheProvider,  the docker-compose.yml does not have the redis instance.

##### **Motivation for or Use Case**

Deploying an application right after generating it should work.
##### **Reproduce the error**
[code]
jhipster import-jdl the file above, build the images for the application (follow inst

[2019-10-15 14:28] #10621 closed

[2019-10-15 15:26] mshima opened #10625 "Enable yeoman debug on CI."
##### **Overview of the feature request**

We should enable yeoman debug on CI, this will improve jhipster workflow debugging.

##### **Motivation for or Use Case**

Currently:
[code]

With DEBUG:
[code]

With DEBUG and https://github.com/yeoman/generator/pull/1128:
[code]

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2019-10-15 18:45] #10625 closed

[2019-10-15 19:22] SudharakaP commented on #10604
@Hawkurane : Thanks for the information. I'll give it a go this evening. 😄

[2019-10-16 03:36] SudharakaP commented on #10594
@pascalgrimaud : I've done a number of tests with Java 8 related to Couchbase and it seems to be the Java 8 failure is due to Couchbase container not starting up correctly.

If you aren't fed up with my requests to restart the daily build could you please merge the above change and restart it. :smile: I have a strong feeling this will work. :smile:

[2019-10-16 04:47] SudharakaP commented on #10594
@pascalgrimaud : I have done a number of tests on Couchbase with JDK 8 and it seems to me that the culprit here is a Couchbase not starting due to memory for the container not being adequate.

I've created a PR above and if you aren't too tired with my countless requests to restart the daily builds; could you please merge that and restart it. :smile: :smile_cat:

[2019-10-16 05:04] pascalgrimaud commented on #10594
@SudharakaP : do you want me to merge #10628, then restart the daily builds for OpenJDK8.Official ? Am I correct ?

[2019-10-16 05:14] SudharakaP commented on #10594
@pascalgrimaud : Correct. :+1:

[2019-10-16 06:01] SudharakaP commented on #10616
@pascalgrimaud : Are you certain this is done? Because, I still have to manually delete branches it seems. :thinking:  For example;

![image](https://user-images.githubusercontent.com/12435965/66892131-aa72ce80-ef9f-11e9-8a53-83a97e6f4f8c.png)

[2019-10-16 06:32] vishal423 commented on #10594
@SudharakaP, I have noticed a few things while looking into this failure (maybe these can help):
1. Couchbase added Ubuntu 18.04 support in the `v6.0.1`. It would be good to try to upgrade the couchbase image (considering we already have `18.04` in our build infrastructure). I do see some couchbase image upgrade attempts by @DanielFran, but, not sure on why they were reverted.
2. Couchbase has rec

[2019-10-16 06:43] pascalgrimaud commented on #10594
@SudharakaP : the first run failed :-(

[2019-10-16 08:10] TonyLuo commented on #10575
vue 3.0 Pre-Alpha has been released. is it the time to integrated vue 3.0 into the main project?
https://github.com/vuejs/vue-next

[2019-10-16 08:41] PierreBesson commented on #10616
@SudharakaP Those are on your own fork. They belong to you, we cannot delete them for you.

[2019-10-16 09:31] DanielFran commented on #10594
@vishal423 I try to upgrade to this version but it was not working...

[2019-10-16 09:52] pascalgrimaud commented on #10616
Yes I'm sure. But as Pierre said, I think it concerns only the branch of the project, not the branch of the fork, as we don't have right on this

[2019-10-16 09:59] ashishjmeshram opened #10629 "Entities sorting is not working properly"
##### **Overview of the issue**

Created a new jhipster project from scratch. When you go to users management screen and try to sort the users based on id or login columns. Sorting is done in ascending order but icon is showing descending direction and vice versa.

##### **Motivation for or Use Case**

Icons should properly reflect the direction of the sorting correctly.

##### **Reproduce the err

[2019-10-16 10:07] ashishjmeshram opened #10630 "Login dialog not displayed when trying to access protected page without login."
##### **Overview of the issue**

It seems that when an user is not logged in and if he tries to access the page which requires authentication, application should ideally ask him to login. But instead a blank page is shown.

Below is the stacktrace from the console.

[code]

##### **Motivation for or Use Case**

Better user login experience.

##### **Reproduce the error**

Do not login to the jhips

[2019-10-16 11:23] SudharakaP commented on #10594
@vishal423 : Thanks for the information. :smile: Let me try those; but I am baffled, because I could recreate this scenario on my CI where for Java 8 it fails intermittently. It used to fail for Java 11 as well but the JAVA_HOME seems to have fixed it. Then I increased the `memoryQuota` and it started running successfully not only just once but almost all the time (I attempted like 10 times and al

[2019-10-16 11:28] SudharakaP commented on #10616
@pascalgrimaud @PierreBesson : Ops, you guys are right. On another project which we are working on, I have write access this is why I was confused. Sorry for the trouble. :smile:

[2019-10-16 13:09] SudharakaP commented on #10594
@pascalgrimaud : We'll do some incremental changes;

As @vishal423 suggested.

However I see a dependency here. On Github CI we run Couchbase on `ubuntu-latest` but on Azure Java 8 we run it on `Ubuntu 16.04`. I've created a pull request to update Azure to be the same as our Github CI. If this doesn't work I'll look into upgrading the Couchbase images.

[2019-10-16 14:49] codecholeric opened #10631 "Enable strict option for Typescript compiler in ng-jhipster"
##### **Overview of the feature request**

I wanted to ask, if you have ever considered to enable the `strict` compiler option for the Typescript compiler within the created Angular app.

##### **Motivation for or Use Case**

In my opinion one of the great values of Typescript is a stronger typing, providing documentation and more errors that can be caught at compile time instead of run time. The

[2019-10-16 15:03] Redouane-Elalami opened #10632 "clientRootfolder option needs a value"
[code]
**I want to generate entities by importing a jdl file using : jhipster import-jdl ~/Downloads/jhipster-jdl.jh
It works properly on the gateway , however in the backend side i receive the error described above**

##### **JHipster Version(s)**

v6.4.1

##### **JHipster configuration**

INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:in

[2019-10-16 17:32] #10611 closed

[2019-10-16 22:49] PierreBesson commented on #10565
@jhipster/developers Spring boot 2.2 has been released !
See the [announcement](https://spring.io/blog/2019/10/16/spring-boot-2-2-0) and [release notes](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.2-Release-Notes).

[2019-10-16 23:21] SudharakaP commented on #10594
@pascalgrimaud : I have a more refined fix after investigating thoroughly what @vishal423 mentioned in his third point; I didn't notice this before. Thanks @vishal423 ðŸ˜„ ðŸ˜„

{"app_name":"travisCouchbaseNoCache","app_port":"-1","level":"WARN","logger_name":"c.c.c.c.e.Endpoint","message":"[localhost:32775][KeyValueEndpoint]: Authentication Failure: Bucket not found on Select Bucket command","thr

[2019-10-16 23:51] DanielFran commented on #10594
@SudharakaP Are you downgrading the couchbase java-client version?
The dependency is already defined in jhipster bom project : see https://github.com/jhipster/jhipster/blob/master/jhipster-dependencies/pom.xml#L274
Current version defined is 2.7.9 : https://github.com/jhipster/jhipster/blob/master/jhipster-dependencies/pom.xml#L46

[2019-10-17 00:05] SudharakaP commented on #10594
@DanielFran : Thanks for pointing out; you are correct. I didn't even knew we had a separate repository for the dependency versions. Closed the Pull request. 😕

[2019-10-17 03:22] kaidohallik commented on #10630
Probably can be done by improving AuthExpiredInterceptor. I believe that resolving this issue resolves also #10551.

[2019-10-17 03:28] ashishjmeshram commented on #10630
This used to work in jhipster version 6.3.1. Not sure, why its not working in 6.4.1.

[2019-10-17 04:17] MathieuAA commented on #10632
That's weird, I don't see any `clientRootFolder` option in your JDL. I'll try to reproduce though.

[2019-10-17 04:26] MathieuAA commented on #10632
By the way, there's an error in your JDL, the last line is invalid.
It should be `service all with serviceImpl except Program, Course`

[2019-10-17 04:44] SudharakaP commented on #10594
Digging deeper on my [previous comment](https://github.com/jhipster/generator-jhipster/issues/10594#issuecomment-542930656); I realized that the log

{"app_name":"travisCouchbaseNoCache","app_port":"-1","level":"WARN","logger_name":"c.c.c.c.e.Endpoint","message":"[localhost:32775][KeyValueEndpoint]: Authentication Failure: Bucket not found on Select Bucket command","thread_name":"cb-io-1-2","times

[2019-10-17 04:45] MathieuAA commented on #10632
Okay, check your .yo-rc.json file, the `baseName` option isn't set, which cause this issue because when parsing the JDL, if your app is a microservice, the `clientRootFolder` option is the MS name (see https://github.com/jhipster/jhipster-core/issues/252)

[2019-10-17 04:45] #10632 closed

[2019-10-17 07:11] yelhouti commented on #10198
@vishal423 I feel like the form and it's validation should be on the same file, if I move the form, to another component (so it can be imported and reused in another module), I understand the approach.
Also, form and model should have the exact structur, and we should use editForm.setValue, not init the form and editForm.value to retrieve it, instead of the code we have today. don't you agree?

[2019-10-17 09:52] standors opened #10635 "option jpaDerivedIdentifier in JDL is ignored"
##### **Overview of the issue**

imported JDL OneToOne relation contains jpaDerivedIdentifier -> the code generated is exactly as without this option (without @MapsId)

##### **Motivation for or Use Case**

##### **Reproduce the error**

import JDL and check code of UserInfo

##### **Related issues**

##### **Suggest a Fix**

in  previous Jhipster version 6.2.0 this worked OK.
problem is that gene

[2019-10-17 11:39] codecholeric commented on #10631
Cool :smile: Can I support you in any way? I don't want to just make smart suggestions and then lean back, but I also don't want to slow you down, if you feel like you have to covered it anyway :wink:
Is there any component where I could start to help you? Or do you want to learn from migrating the account module first?

[2019-10-17 13:46] pascalgrimaud commented on #10575
No, the migration to vue3 won't be done as it is still in alpha

[2019-10-17 20:38] alexis-puska opened #10638 "Add sequence name to PersistentAuditEvent"
##### **Overview of the feature request**

Add a sequence name to PersistentAuditEvent

##### **Motivation for or Use Case**

When use hibernate envers with jhipster we have conflict between the sequence generated whit default step [50] by PersistentAuditEvent because they have no sequence name. I resolve that with a sequence name on this table, hibernate envers can create a default sequence with

[2019-10-18 01:07] yelhouti commented on #10198
I totally agree, but in the simple forms we generate we should use forms the way they were intended to be used, to show developers the best way to do the work. As you said, they can always change what they submit if they feel the need to.

What I meant is that, if we define `this.fb.group(...)` in some ts file we should have the the form fields `<form><input ...></form>` in the corresponding html

[2019-10-18 03:49] kaidohallik commented on #10631
I made PR for the account module: #10639.

Currently #10639 made the following in the account module:
* fixed all problems if `strict` is `true`
* fixed all problems after adding `TSLint` rule `"typedef": [true, "call-signature"]`

If this is OK (if we agree that this is the way to go) then interested people can do PR-s also in other modules/components.
To avoid parallel work maybe it's good idea

[2019-10-18 07:13] yotamshapira opened #10641 "Format Java code with prettier-java"
##### **Overview of the feature request**

Now that [prettier-java](https://github.com/jhipster/prettier-java) is available, it should be possible to integrate it the generator-jhipster project.

##### **Motivation for or Use Case**

As @jdubois said in a similar issue (see #6379):

Supporting Java would benefit a lot of users, make it easier to merge PRs and standardize code.

##### **Related iss

[2019-10-18 09:30] niklasLensing opened #10642 "CORS preflight to Keycloak fails for unauthenticated user"
##### **Overview of the issue**

In a newly generated Gateway application, when I open the start page as an unauthenticated user I get this error on the JS console in the (Chrome-)Browser:

Access to XMLHttpRequest at 'http://localhost:9080/auth/realms/jhipster/protocol/openid-connect/auth?response_type=code&client_id=web_app&scope=openid%20address%20email%20jhipster%20offline_access%20phone%20pro

[2019-10-18 15:25] SudharakaP commented on #10604
This seems to be failing on the `sendCacheInformation` call; I am trying to understand why; :thinking:

`Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.infinispan.manager.DefaultCacheManager]: Factory method 'defaultCacheManager' threw exception; nested exception is org.springframework.beans.factory.BeanInitializationException: Cache (Infinispan protoco

[2019-10-18 15:46] guerreroje commented on #10630
The problem occurs in user-route-access-service.ts from checkLogin that must route to accessdenied and is not doing so.

[2019-10-18 21:45] robmosca commented on #9287
Hey! I was trying to follow the tutorial on using Kafka with JHipster on the JHipster website but it seems to still refer to the previous implementation, the one using Spring Cloud Stream. Is it possible to create a new tutorial on the current implementation using Spring Kafka?
I am a newbie with Apache Kafka and I hoped using JHipster would simplify my learning on how to integrate it in my applic

[2019-10-18 22:16] mshima opened #10646 "User email inconsistencies."
##### **Overview of the issue**

When creating new user, the email field is causing some problems.

1. When email is not set an 'Internal server error.' is shown.
https://github.com/jhipster/generator-jhipster/blob/7e8eb98a14d97a3a2e608eb6e4c2e93cd3358f96/generators/server/templates/src/main/java/package/service/UserService.java.ejs#L356

2. When email is set then deleted, a 'does not meet min/max

[2019-10-18 22:18] mshima commented on #10646
I can provide a patch, but need to know if I should make email nullable == false or fix ui validation and service.

[2019-10-18 22:55] ruddell commented on #10646
I believe the original reason for allowing null emails was for social login. Twitter did not provide the email upon login (https://github.com/jhipster/generator-jhipster/pull/3538).  Social login was removed before v5 so think we can revert those changes.

One thing to verify is whether or not Keycloak/Okta users always have an email address, as we sync those users to the JHipster app's database.

[2019-10-19 00:53] ruddell commented on #10564
I tested and `broadcast` is a method, you can also see it used in other places in the project (for example [in the sample app](https://github.com/jhipster/jhipster-sample-app/blob/f6ffac6c77fa47f4e57f3dad6c1dc149f9c4c201/src/main/webapp/app/entities/bank-account/bank-account-delete-dialog.component.ts#L29-L32)).  I recommend searching in your project for an existing `EventManager` import and match

[2019-10-19 00:53] #10564 closed

[2019-10-19 06:32] sreerajr137 opened #10647 "Compilation error in QueryService createSpecification while enable filtering for existing entities."
Modify the entity configuration in your projects .jhipster directory, by setting service to serviceClass or serviceImpl from no, and jpaMetamodelFiltering to true and then re-generate with jhipster entity <entity name>
##### **Overview of the issue**
jhipster version: "5.8.2
It compiles and runs correctly, but the Eclipse is complaining about a missing class called ServiceCenter_ for my ServiceCen

[2019-10-19 07:13] pascalgrimaud commented on #9287
@robmosca : thanks for this.
Indeed, our documentation is outdated, we need to update this.
Anyway, this tutorial is already generated directly by JHipster. So you can generate a new application, with Kafka. You'll have :
- configuration already done in application yml
- kafka docker compose file to start the broker
- a rest end point to test kafka
- a generated producer
- a consumer as example

[2019-10-19 07:19] robmosca commented on #9287
Indeed, after writing to you I tried to use the code, the way I found it the most intuitive... and it just worked! 😊
You have done an amazing work. Really easy to use. Thanks!

[2019-10-19 07:47] pascalgrimaud commented on #10302
Closed by https://github.com/jhipster/generator-jhipster/pull/10623

@juliensadaoui : don't forget to claim the bounty

[2019-10-19 07:47] #10302 closed

[2019-10-19 07:52] pascalgrimaud commented on #10641
I didn't follow closely the work done by the crazy prettier team but it will be done when it's ready

I'll let @clement26695 doing an official answer

What could easily done without big impact:
- add prettier-java as dependency
- add new task in package.json file, so the user can run it to format all Java files
- no webhook for now -> it can be added later

What do you think @clement26695 ?

[2019-10-19 15:39] pascalgrimaud commented on #10620
Thanks for your proposal @thawkins

As suggested, are you ready to work on a blueprint or module ?
In this case, don't hesitate to tweet once you have a 1st version, so you can have feedback from community.

Then, if your blueprint or module becomes really popular, we can reconsider to include it to the core generator-jhipster.

[2019-10-19 15:49] pascalgrimaud commented on #10638
@alexis-puska : thanks for reporting this. It means the sequence name is missing. It looks like to know how to fix it.

Would you like to do a PR for that ?

[2019-10-19 15:50] pascalgrimaud commented on #10647
@sreerajr137 : can you fill the template with all information to reproduce plz?

Then, can you try with last version of JHipster 6.4.1 ?

[2019-10-19 16:07] pascalgrimaud commented on #9908
Closing this as it is opened for too long.
And as Pierre said, the discussion moved away from the Original Poster's bug.

[2019-10-19 16:07] #9908 closed

[2019-10-19 16:11] pascalgrimaud commented on #9853
Currently, I'm fine with using milestones.
The release note has a link to the milestone with all issues / PRs.

I think we can stay like this.
Maybe try this once all the release workflow is automated.

That's why I'm closing this.

[2019-10-19 16:11] #9853 closed

[2019-10-19 16:20] pascalgrimaud commented on #10178
@RDsideNow : thanks for proposing this.

Anyway, I don't really understand the request.
What I can suggest is:
- create a sample project, code your feature inside your project, share it on GitHub and ask opinion on Twitter, so you can have some feedback
- then, if you're motivated enough, try to code your own module or blueprint

If your module or blueprint is really popular, then we can reconside

[2019-10-19 16:20] #10178 closed

[2019-10-19 16:44] pascalgrimaud commented on #9960
@danielpetisme @avdev4j : how can we advance on this ticket ? Are we stuck ? Maybe we can add some documentation about that ?

[2019-10-19 18:30] ruddell commented on #10647
You may have to configure your IDE as documented under the [Implementation](https://www.jhipster.tech/entities-filtering/#implementation) section.  I'm not familiar with Eclipse so I'm not sure if this will fix it

https://docs.jboss.org/hibernate/orm/current/topical/html_single/metamodelgen/MetamodelGenerator.html#_usage_within_the_ide

[2019-10-19 18:41] pascalgrimaud commented on #7708
As discussed with Pierre, I'm closing this

[2019-10-19 18:41] #7708 closed

[2019-10-20 00:10] mshima commented on #10646
Didn't found this information, but looks like email is not required, so I've done some validations for null emails.

Let me know if we should make email required.

[2019-10-20 08:50] mrts commented on #9417
Spring Cloud Gateway is getting more traction now, see https://mobile.twitter.com/andreasevers/status/1181965422784126976

I did search issues, but didn't find discussions regarding this - @jdubois, can you point to the relevant issue please?

[2019-10-20 09:43] gmarziou commented on #9417
See https://github.com/jhipster/generator-jhipster/issues/7665

[2019-10-20 10:12] ahmedeldeeb25 opened #10649 "ElasticSearch in Production profile"
I've generated a new Jhipster project v6.3.1, in dev and prod profiles I've added my own remote ES server configs.
In dev profile it worked fine, but in prod server it keeps giving me

[code]
( it's trying to connect ES locally -localhost:9200- )
I have to run ES locally to make it run despite it read my configs in prod file correctly.
It connects both ES server and when I added an object, it adde

[2019-10-20 10:44] jdubois commented on #9417
I use it for my Azure Spring Cloud training at https://github.com/microsoft/azure-spring-cloud-training

So I'm just speaking here on a pure JHipster perspective.

It looks *a lot* like our current gateway. In fact, I'm having a good laugh at all the people on Twitter saying it's such a great idea to have a gateway which is just a Spring Boot app, as we've been having this for nearly 5 years, and

[2019-10-20 13:17] amirdt22 commented on #10619
I had this happen after an upgrade to 6.4.1 with an LTS node 10.16.3

running `npm run webpack:build` resulted in the same error (Cannot read property 'forEach' of undefined)

I ran `npm lint` and got an error about "extends" in tslint.json (which was a botched merge).

Subsequently the error disappeared and I cannot reproduce it even with the "extends" so it leads me to believe something was cach

[2019-10-20 13:56] mrts commented on #9417
Excellent analysis, thank you! Agreed, it's a bit early to consider, let's wait, and I fully agree that using "full OSS" in JHipster is preferable.

[2019-10-20 14:53] pmverma opened #10650 "JPA improvements using Hypersistence Optimizer"
##### **Overview of the feature request**

As the title says.

##### **Motivation for or Use Case**

These improvements will make persistence more efficient.
Here is the discussion: https://groups.google.com/forum/#!topic/jhipster-dev/GL-yOZmtlws

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-10-20 16:52] tchlyah commented on #10594
Hello, sorry guys I couldn't reproduce the problem in my end, I've updated Couchmove and Couchbase image version, but I don't think it will change anything

[2019-10-20 17:12] SudharakaP commented on #10594
@tchlyah : Thanks for trying though; we'll know for sure when the [daily builds](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=21&_a=summary) run several times. :smile: Did you try with Java 8? This is where it fails; java 11 works almost all the time with our recent changes.

Also have a feeling this might be related to a timeout similar to https://github.com/testco

[2019-10-20 17:26] EnmanuelReyes opened #10652 "Wrong translation for not found entities in spanish"
##### **Overview of the issue**

Wrong translation in spanish for not found entities.

##### **Motivation for or Use Case**

For a entity called **Person**:

It should say: Ningún `Person` encontrado
Instead of 'No `Person` found'

##### **Reproduce the error**

Generate a monolithic application, select a database, select a client framework (I used Angular), then generate an entity using the comma

[2019-10-20 17:40] pmverma commented on #10565
Note: To update Postgres dialect from current 95 to `org.hibernate.dialect.PostgreSQL10Dialect` as 2.2.0 uses hibernate 5.4 which has added it.

[2019-10-20 18:06] pascalgrimaud commented on #10594
I'm reopening this, and wait few days our daily builds before closing this definitely

[2019-10-20 18:16] pmverma opened #10653 "Update Mysql dialect to 8.0"
##### **Overview of the feature request**

This is not a feature request but rather a question regarding mysql dialect should be updated or not.
While working on #10650 with mysql database, I got a MAJOR warning message as following.

[code]
While I can update to `MySQL57Dialect `, it seems there is a new dialect available `org.hibernate.dialect.MySQL8Dialect` for our current hibernate version 5.3

[2019-10-20 18:18] pmverma commented on #10652
Thanks for reporting @EnmanuelReyes. Can you please do a PR?

[2019-10-20 19:19] amirdt22 opened #10654 "travis.yml npm test MAVEN_USER_HOME variable is blank"
##### **Overview of the issue**

The generated `.travis.yml` file runs `npm test` via `.mvnw`
The command introduced on 4b262e34f279cd9aac2789e31a05f66203ae350e uses a blank variable ` -Dmaven.repo.local=$MAVEN_USER_HOME`

This results in the cache getting ignored and the maven dependencies getting downloaded to the current directory.

##### **Motivation for or Use Case**

Slower builds

##### **R

[2019-10-20 19:30] EnmanuelReyes commented on #10652
Of course!
Already on it.

[2019-10-20 19:43] amirdt22 opened #10655 "travis.yml file broken: multiline bash + jdk11 installation"
##### **Overview of the issue**

The generated `.travis.yml` is broken

While reporting #10654 I found that the check for a java version isn't working, resulting in:

`The command "if [[ $JHI_JDK = '8' ]]; then echo '*** Using OpenJDK 8' else echo '*** Using OpenJDK 11 by default' sudo add-apt-repository ppa:openjdk-r/ppa sudo apt-get update sudo apt-get install -y openjdk-11-jdk sudo update-java-

[2019-10-20 19:59] murdos commented on #10641
I would really like to use prettier-java in JHipster (and on other projects) too, and that's the reason I reported a few issues on prettier-java resulting from tests on real code coming from JHipster, and also had a nice discussion with @clement26695 on the subject.

I think I would use a different strategy:
1. Enable formatting of java templates on the fly during generation, like any other code s

[2019-10-21 03:30] SudharakaP commented on #10604
I've identified the problem with Infinispan builds and made a pull request above. It seems to me that when Infinispan is operating with a single node cluster (which is the configuration our Daily builds is using) it fails to correctly find the node. Let me know if you see any issues. :smile:

[2019-10-21 05:05] EnmanuelReyes opened #10660 "Sorting swagger resources"
##### **Overview of the feature request**

It would be nice if swagger resources are sorted alphabetically by their name.

##### **Motivation for or Use Case**

Currently, where I work, we have over 20 microservices and it's quite confusing when you need to send a request to some microservice and you have to look for it among another 19 service names.

##### **Related issues or PR**

-   [x] Check

[2019-10-21 05:05] #10652 closed

[2019-10-21 05:11] #10654 closed

[2019-10-21 06:49] murdos commented on #10641
For the record, I just did new tests with prettier-java 0.4.0, and I've identified at least 3 issues blocking (to my opinion) issues, related to:
- https://github.com/jhipster/prettier-java/issues/262
- https://github.com/jhipster/prettier-java/issues/287 (for SecurityConfiguration.java)
- and the resulting formatting of the toString() of entities that is weird

[2019-10-21 07:48] clement26695 commented on #10641
Sorry, I was not available this weekend to answer to this thread.

As @murdos said, there are still a few bugs that are blocking IMO, particularly the first one. I am working on this, and we should find a solution soon, but it is a bit too soon to integrate prettier-java in the repo for the moment, IMO.

[2019-10-21 13:11] sendilkumarn commented on #10575
I really love the idea of putting all three frameworks in the main generator. My only concern is about the overhead that it will add (both in maintaining it and to our pipelines).

I think we can wait a bit to see whether the usage of VueJS (within JHipster context) goes beyond a certain level (like more than 25% users) use VueJS.  Then we can decide on moving that into the main generator.

A fun

[2019-10-21 13:53] SudharakaP commented on #10594
@pascalgrimaud : I noticed that yesterday the [Official.JDK8 scheduled build](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=21) didn't run for some reason. :thinking: :thinking:

[2019-10-21 14:06] SudharakaP opened #10662 "Update All Daily Build OS to Ubuntu 18.04"
##### **Overview of the issue**

This was inspired from the following thread; https://github.com/hipster-labs/jhipster-daily-builds/pull/25. I think we should consider upgrading all daily builds to Ubuntu 18.04 (i.e: ubuntu-latest) image.

If this is in agreement I can do a pull request. :smile:

##### **Motivation for or Use Case**

We had some success with https://github.com/hipster-labs/jhipste

[2019-10-21 14:44] pascalgrimaud commented on #10594
I'm restarting it, as you need to see the result, right ?

[2019-10-21 14:49] pascalgrimaud commented on #10653
yes, let's upgrade and document the change for user who uses old version of MySQL

[2019-10-21 14:50] pascalgrimaud commented on #10662
agree, we should use Ubuntu LTS

[2019-10-21 15:01] JorisNobre commented on #9829
I updated my app to JHipster 6.4.1 and it works as expected.

[2019-10-21 15:02] SudharakaP commented on #10594
@pascalgrimaud : Thanks for restarting. I was just curious why it didn't start in the first place. :smile:

[2019-10-21 16:17] pmverma commented on #10662
@pascalgrimaud I also would like to have a schedule for Windows which is already available in daily-build. I know the build was not stable but it would be better to enable and watch.

[2019-10-21 16:26] SudharakaP commented on #10662
@pmverma : Agreed.

I can do this as part of this as well if you guys are okay with it. What specific configuration shall we use. How about a basic monolith with all the defaults? Or do you have a different specification in mind? 😄

[2019-10-21 16:40] pmverma commented on #10662
Sorry for confusing you. I meant to have a schedule under daily-build, not the main generator build.
We already have a Windows pipeline at https://github.com/hipster-labs/jhipster-daily-builds/blob/master/azure-template-windows.yml
I think @pascalgrimaud has the permission to configure the azure pipeline.

Notes:
Unfortunately writing PowerShell or batch script using yml was a hell and I finally d

[2019-10-21 16:57] SudharakaP commented on #10662
@pmverma : Ah, no problem. Got it; thanks for the info 😄

[2019-10-21 19:02] SudharakaP commented on #10649
@ahmedeldeeb25 : Could you please share your project configuration; in particular the `yo-rc.json` file and/or the [JDL file(s)](https://www.jhipster.tech/jdl/) if you are using those so that we could recreate your scenario more easily. 😄

[2019-10-21 19:09] mshima opened #10663 "Duplicate blueprint configuration can be confusing and cause unexpected errors."
##### **Overview of the issue**

Currently when setting a configuration from a blueprint generator, it will create a namespaced configuration duplicating all configurations.

https://github.com/jhipster/generator-jhipster/blob/ae74d36c57f2aa90f680c0fa27fce67e1b11e81e/test/templates/ngx-blueprint/.yo-rc.json#L1-L6

- If a generator is not overridden by the blueprint, it will load the generator-jhip

[2019-10-21 21:13] atomfrede commented on #9967
@arabbani GraphQL is out of scope for now as. Imho that would be more of blueprint as not only the database is changed. So there would be a lot of branching in the templates

[2019-10-22 02:18] vishal423 commented on #10599
Bounty claimed https://opencollective.com/generator-jhipster/expenses/11001

[2019-10-22 02:30] SudharakaP commented on #10662
I've created the pull request to upgrade all pipelines; let me know if you see any issues. I'll monitor this for sometime to see if everything works as expected. :smile:

[2019-10-22 05:32] #10662 closed

[2019-10-22 05:37] pascalgrimaud commented on #10599
thanks @vishal423 ! just approuved :)

[2019-10-22 06:09] PierreBesson commented on #10575
I would argue that vue is already overtaking react while still being a blueprint which is impressive !

![Screenshot_20191022_075949_com android chrome~2](https://user-images.githubusercontent.com/513471/67261916-158e3a80-f4a3-11e9-9024-005a6b3e9f03.jpg)

As for dynamically adding options, it's obviously not feasible as a new version of the core can break blueprints (and often does). Also if it is

[2019-10-22 07:29] danielpetisme commented on #9960
We should have a internal discussion about what's the generator scope.
I don't know how far we want to go on the _variabilization_ of the generator, I can see a risk of transforming the generator into a _yeoman++_ but it's maybe not a bad issue?

[2019-10-22 08:35] clement26695 commented on #10301
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/11016

[2019-10-22 08:37] pascalgrimaud commented on #10301
@clement26695 : just approuved

Just a quick question, are we consistent with Vue.js blueprint too ?

[2019-10-22 08:39] clement26695 commented on #10301
Oh, you're right, I completely forgot about this ! I will update Vue.js blueprint too

[2019-10-22 08:43] pascalgrimaud commented on #10301
thanks a lot ! :)

[2019-10-22 09:22] gantispam commented on #10630
hi.
Same issue on JHipster 6.4.1

I thinks is an issue due to lazy loading release.

have you found a quick patch for continue development?

![image](https://user-images.githubusercontent.com/15685552/67273107-18e2ef80-f4be-11e9-9cd2-d1472a6d66e2.png)

[2019-10-22 10:09] tiagodiogo commented on #9684
hello @mraible and @pascalgrimaud
i am experiencing the same problem reported by @mai1015
i have adjusted the web origins to * and valid redirect urls to * for testing purposes and the CORS header is still missing.

i have generated a fresh and clean application using the latest jhipster version for this (v6.4.1)
can you confirm this problem or am i missing additional configurations?
![image](http

[2019-10-22 10:10] tiagodiogo commented on #9684
further information...
![image](https://user-images.githubusercontent.com/4720374/67276429-9574ce80-f4bc-11e9-9891-a1b636903952.png)

[2019-10-22 10:13] tiagodiogo commented on #10642
hello,

@niklasLensing
i am experiencing the same problem with jhipster v6.4.1 and keycloak 7.0.0

[2019-10-22 11:07] amirdt22 commented on #10655
oops, looks like I mischaracterized this as a travis problem - it's actually a yaml problem: https://stackoverflow.com/questions/38789253/running-script-conditionally-does-not-work-in-travis-yml-why

[2019-10-22 11:32] amirdt22 opened #10671 "ci-cd support circleci"
##### **Overview of the feature request**

Support generation of circle-ci config in the ci-cd generator

##### **Motivation for or Use Case**

Travis has been giving us a lot of trouble and we've migrated to CircleCi in our other projects.

##### **Related issues or PR**

#7192
It seems this was once supported on the older 1.0 format.  That issue references a [generator](https://github.com/jeants

[2019-10-22 11:47] atomfrede commented on #10671
@amirdt22 You are right we removed circle ci as no one wanted to migrate to 2.0 format of circle ci. https://github.com/jhipster/generator-jhipster/issues/9957#issuecomment-504333759

If you are willing to create and maintain circle ci your are welcome to add it again supporting the 2.0 as you seem to have experience with it.

[2019-10-22 11:48] pascalgrimaud commented on #10671
Yes, I removed it because no one wanted to do the migration to 2.0 format, and CircleCI deprecated the format 1.0.

So you're welcome to do a PR to add back the support ;)

[2019-10-22 12:04] kaidohallik commented on #10630
@ashishjmeshram, great hint, that helped to find culprit. This is regression from #10383 - in `account.service.ts.ejs`:
* before, if `Promise` was used, error was caught in `identity` function
* after, if `Observable` is used, error is not caught any more in `identity` function, code was moved to Observable error chain in `tap`, but this doesn't catch error, this just executes code and error is go

[2019-10-22 12:09] amirdt22 commented on #10671
Perfect, will get it started on my project and find some time to back it in to the generator!

[2019-10-22 15:14] SudharakaP commented on #10604
As you might have seen our Infinispan builds are now [successful in the MySQL side](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=31) but there's still [failures in the MariaDB side](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=32). So I've went ahead and made another PR which fixes that. :smile:

It seems to me from the `docker-compos

[2019-10-22 16:14] mai1015 commented on #9684
@tiagodiogo I tested few month ago, I don't really remember how it works. I assume the CORS does not apply to this URL since CORS is not present in the response header. I tried to modify with reverse proxy using Nginx. It works well without warming. So, I assume it is the way jhipster implements CORS does not apply to the home page. BTW, I do not know if the access is really necessary.

[2019-10-22 16:25] vishal423 commented on #10642
I think the current behavior is due to the spring security configuration to
redirect to the oidc provider that can't be handled by SPA due to CORS. We
can use problem web to provide 401 error response instead of redirect,
however, need to check on any use case that would break with that.

[code]

[2019-10-22 20:02] sendilkumarn commented on #10575
😉 😛 I want to tweet this 😉 😛

I agree, infact Kotlin sub-generator is broken with every new release. But if we have/get a better solution, then I am all for it.

I am 100% in favour of moving the code to the core.  I obviously want that to happen. But our end-to-end tests are flaky now and adding another framework will definitely increase our time spent on CI/CD. I want to address them before movi

[2019-10-22 21:56] PierreBesson commented on #10575
I am so sad for you that the Kotlin blueprint gets broken so often. It's not deserved for all the hard work you put into it.
@jhipster/developers I think it should be our number 1 priority to fix this issue as this is impeding the viability of JHipster as an extensible platform.
In the past I suggested that blueprints should be able to pin the version of JHipster it uses. However it might be too l

[2019-10-23 02:02] czarbl commented on #9032
Hi @gvernile, I had the same need that @micobarac so for me was enough to add the swagger-ui dependecy to pom.xml and add the corresponding antMatcher for the swagger-ui.html resource handler to avoid the unauthorized error:

In pom.xml:
[code]

In SecurityConfiguration.java, within configure method:
[code]

For me, the swagger ui it's showed up in http://localhost:8080/myappserver/swagger-ui.html

[2019-10-23 04:45] SudharakaP commented on #10662
I've missed one step in my previous PR. We have to upgrade the ChromeDriver as well since the default ChromeDriver seems not compatible with Chrome 78 which we install in the build scripts. I've created a new PR for this one. :smile:

@pascalgrimaud : Could we restart all builds to check if everything works as expected after we merge https://github.com/hipster-labs/jhipster-daily-builds/pull/29 an

[2019-10-23 07:39] deepu105 commented on #10575
The problem is regardless of the approach unless we follow a strict
backward compatibility approach stuff will be broken, especially changes to
templates. We are not breaking our public API often so blueprints shouldnt
have much issue with that, and so far I have not seen anyone complaining
about API or subgen interface. The real problem is when we change template
files, especially when we rename

[2019-10-23 07:40] deepu105 commented on #10575
IMO we should brainstorm together during our contributors retreat that we
were thinking of doing next year to find a solution for this issue

Thanks & Regards,
Deepu

On Wed, Oct 23, 2019 at 9:39 AM Deepu K Sasidharan <d4udts@gmail.com> wrote:

[2019-10-23 09:29] pascalgrimaud commented on #10575
The issue about compatibility should be reduced, after this PR: https://github.com/jhipster/generator-jhipster/pull/10541

[2019-10-23 10:15] niklasLensing commented on #10642
Thanks for the update! Please let us know whether your solution is suitable.

[2019-10-23 19:55] #9661 closed

[2019-10-23 21:17] #10655 closed

[2019-10-23 21:18] pascalgrimaud commented on #10620
I'm closing this as it should go to module, as suggested

[2019-10-23 21:18] #10620 closed

[2019-10-23 21:19] pascalgrimaud commented on #10649
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-10-23 21:19] #10649 closed

[2019-10-23 21:20] pascalgrimaud commented on #10647
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-10-23 21:20] #10647 closed

[2019-10-24 07:03] kaidohallik commented on #10629
I confirm this issue. Thanks for reporting @ashishjmeshram!

I made PR for the fix in the `ng-jhipster` repo: jhipster/ng-jhipster#111
To fix this in the `generator-jhipster` the following steps are needed:
1. merge jhipster/ng-jhipster#111
2. release the new version of the `ng-jhipster`
3. create PR for the `generator-jhipster` repo to use this new version of the `ng-jhipster`
4. merge PR created

[2019-10-24 08:47] DanielFran opened #10677 "Update Nodejs to 12.13.0 (LTS)"
##### **Overview of the feature request**

NodeJS version 12 has been promoted to LTS (https://nodejs.org)
See https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#2019-10-21-version-12130-erbium-lts-targos

Update should be done at least in projects:
- https://github.com/jhipster/generator-jhipster
- https://github.com/jhipster/jhipster-devbox
- https://github.com/jhipster/j

[2019-10-24 10:31] Kelvijn commented on #9778
I would very much like this to be a feature too. This is a fundamental part of a normal Vue application so why leave it out for Jhipster.
Use case: use environment variables to change out properties like google analytics, iframes etc for local, development and production environments.
I now used a workaround where I make a get request to actuator endpoint to fetch the current profiles and hardcode

[2019-10-24 13:33] PierreBesson commented on #9778
I think ideally we need both mechanisms. Also, @yelhouti's use case seems to be the most frequent among front-end developers (I see something similar to this in my current project). So I'm in favor of merging @yelhouti's PR. Sorry if the discussion is taking too long. Please understand that we already made mistakes in the past by being too eager to add new features and it's not possible to roll ba

[2019-10-24 13:34] SoniaLahi opened #10678 "Keys containing dots are not translated in a react application"
##### **Overview of the issue**

The react application can't translate a key if it contains several `.`, such as : `url.not.found`.
Keys with a single `.` are found only if their value is a string.

Example, in global.json :
[code]

##### **Motivation for or Use Case**

the error message is not translated.
![translation-not-found](https://user-images.githubusercontent.com/5923781/67489018-1d9bd500

[2019-10-24 13:52] yelhouti commented on #10642
@niklasLensing can you send a screenshot of your client config, please. I think I know where your problem is.

[2019-10-24 13:59] niklasLensing commented on #10642
Sorry, don't really know what exactly you mean. I posted my JHipster Config above - maybe it's already there?
If not, could you tell me more exactly what you need?

[2019-10-24 14:09] PierreBesson commented on #9778
Seeing your perseverance and good argumentation, I'm changing my mind and support your idea. However, it should be implemented consistently between angular, react and vue.

[2019-10-24 14:35] anthony-o commented on #10630
Here is a simple bash script to reproduce this bug.

[code]

[2019-10-24 14:45] yelhouti commented on #10642
@niklasLensing open keycloak, in the jhispter realm, clients, web_app take a screenshot, also contact me on gitter in order not to pollute the thread

[2019-10-24 14:48] yelhouti commented on #9778
It is already implemented for both angular and react, i think vue is not in this repo (and have never written vue code so...) Also I think some test should be fixed so I will let you know when it's done

[2019-10-24 15:09] niklasLensing commented on #10642
@yelhouti Again sorry, I don't have a Gitter account but I think it's also not necessary to send you this screenshot. I haven't changed anything in the Keycloak config from the JHipster standard. See my post above (section: Reproduce the error). So you just need to have a look at the Keycloak config from a freshly generated JHipster project with the .yo-rc.json I posted above.

[2019-10-24 15:26] tiagodiogo commented on #10642
@yelhouti i can also confirm that this is happening os a fresh project with out of the box keycloak settings

[2019-10-24 15:29] tiagodiogo commented on #10642
@yelhouti can you please tell us what you were thinking that could cause the problem?

[2019-10-24 15:42] tiagodiogo commented on #9684
@mai1015
thank you for taking the time to reply
setting the cors header on the reverse proxy seems like a hack to me but so far the only way to go around this issue.
there is a newer issue referring to this situation: https://github.com/jhipster/generator-jhipster/issues/10642
maybe you wan't to keep an eye on it

[2019-10-24 16:00] yelhouti commented on #10642
Here is the culprit:
https://github.com/jhipster/generator-jhipster/blob/1e0faa826a79156a7aad6376a5028b140d4f9760/generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs#L750

web origin should not contain the `/*` `http://localhost:8080` submitting a PR.
But can you test first? @tiagodiogo  @niklasLensing

[2019-10-24 16:35] tiagodiogo commented on #10642
hello @yelhouti
like we said above, we were already fully opening the web origins with the wildcard: *
still i have tried your sugestion but the cors headers are still missing from the response.

[2019-10-24 16:43] yelhouti commented on #10642
@tiagodiogo sorry if it wasn't clear, in your screenshot from the other issue, the webOrigin field should be changed from `http://localhost:8100/*` to `http://localhost:8100` ...

[2019-10-24 16:44] pascalgrimaud commented on #10678
I remember seeing something similar in Blueprint Vue.js

See this line https://github.com/jhipster/jhipster-vuejs/blob/master/generators/client/templates/vue/src/main/webapp/app/account/login-form/login-form.vue.ejs#L11

Something like that:
`$t('global.form[\'username.label\']')`

Not sure, maybe it's not related but we can give a try

[2019-10-24 16:49] tiagodiogo commented on #10642
hello @yelhouti
i have understood and i appreciate your help.
however, from a fresh install, i have attempted your solution of removing the wildcard termination, this did not resolve the missing cors header.
additionally, before that experiment, we were already allowing everything for testing purposes (wildcard only), still without success.
were you able to reproduce the problem on your end and fi

[2019-10-24 19:31] daniels75 commented on #9545
Hi,

I have the same problem - yesterday I've create a new applicaiton with jhipster v. 6.4.1 on Window 10.
I guess I've found where is the problem. It is due to plugin: frontend-maven-plugin.version in version 1.8.0 and previous. I've just debugged such a plugin and I found the problem is in the DefaultArchiveExtractor.extract method in the plugin. Here is an output from plugin with some logs tha

[2019-10-24 19:45] yelhouti commented on #10642
@tiagodiogo widlcard might not work web origins and yes what I used fixed my problem, I'm using keycloak in production without problems, @niklasLensing what about you?

[2019-10-25 04:09] Ckram opened #10680 "Error while using @MockBean in integration test"
##### **Overview of the issue**
I created a new integration test Class to test one of my service implementation. I use `@MockBean` to mock other beans. When I launch only this test Class everything works fine. However when I run all tests with JUnit or `Maven verify` the tests running after my test have errors they do not have when the `@MockBean` is not present

The exception thrown in the other

[2019-10-25 08:31] niklasLensing commented on #10642
![grafik](https://user-images.githubusercontent.com/46967813/67555868-6fe10280-f712-11e9-9c67-2acb580b896c.png)

I tried with this configuration. Same problem occurs.

[2019-10-25 08:50] joewhite101 commented on #10189
We've updated our blueprint to generate Micro-frontends using custom elements based on entities processed through JHipster.

For each entity we generate a React MFE including a table, details view, and form. Each MFE also exposes custom events that are consumable by the other MFEs on the page. We're working through the full flow between MFEs now.

An example event flow,
- user clicks a table row -

[2019-10-25 08:54] salaboy commented on #10189
@joewhite101 awesome stuff!

[2019-10-25 10:13] tiagodiogo commented on #10642
@yelhouti
if you are using keycloak in production without problems i am very much interested in seeing your configuration. please confirm something first:
 - you have a monolithic java backend + angular/another frontend generated using jhipster
 - you are using oauth2 with keycloak for authentication
 - you do not see any response being blocked on the landing page

i all you are able to answer yes

[2019-10-25 10:23] tiagodiogo commented on #10642
@vishal423
were you able to identify any use case that would prevent the change you sugested?
thank you

[2019-10-25 10:57] codecholeric opened #10682 "Use Spring Security test support in REST resource tests"
##### **Overview of the feature request**

I was wondering, why you don't use Spring Security testing support for your REST resource integration tests, but instead bypass the Spring proxy by manually constructing the resource.

E.g. in `UserResourceIT` the line

[code]

instead of just using

[code]

and then something like

[code]

##### **Motivation for or Use Case**

It would be closer to the r

[2019-10-25 11:14] vishal423 commented on #10642
Sorry, I am on vacation and can't help much before 9th

[code]

[2019-10-25 12:16] kaidohallik commented on #10631
I made #10683 to resolve this for audits module.

[2019-10-25 12:56] gmarziou commented on #10680
I tried adding "spring.cache.type=none" to test application.yml but it did not work.

Additionally, I added a condition on CacheConfiguration:

[code]

but it failed because UserService depends on CacheManager for clearing caches.
I think that UserService should be able to work without caching.

So I created a NoCacheConfiguration class in test to provide a NoOpCacheManager and all tests passed ex

[2019-10-25 13:07] gmarziou commented on #10680
Here is the full code as a PR to your test repo: https://github.com/Ckram/jhi-tester/pull/1

[2019-10-25 13:20] sendilkumarn commented on #10189
@joewhite101 Good stuff!

[2019-10-25 13:56] Ckram commented on #10680
Thanks @gmarziou I understand the workaround.
Do you think we could use a specific profile with `@ActiveProfiles` for class tests using cache to enable real cache and test it"  and another profile `NoCache` for test with `@MockBeans` ?

[2019-10-25 14:17] gmarziou commented on #10680
Yes, personally I prefer disabling cache for tests by default to avoid side effects if cache is not purged between tests (though I did not check it is the case) and have a `cache` profile for tests that requires it and that I could annotate with `@DirtiesContext`.

But I think that JHipster should honor `spring.cache.type=none` such as autoconfiguration does.

[2019-10-25 15:09] gmarziou commented on #10680
Maybe @henri-tremblay you have an opinion to share?

[2019-10-25 16:01] henri-tremblay commented on #10680
Does it happen with other cache implementations? It seems the cache is closed. Which probably means the app context was closed. But then, the same cache is reused. Most probably because it wasn't removed from JCache. So from here, it might be a Cafeine bug, a Spring Cache bug (I doubt it though) or a JHipster bug (maybe). I would check why the cache is closed and then retrieved.

[2019-10-25 18:13] Ckram commented on #10680
I can try with other cache implementations and let you know what happens

[2019-10-25 18:16] ersinciftci opened #10684 "autoIncrement variable in initial_schema.xml is not defined for Postgres"
##### **Overview of the issue**

I created a microservice and selected Postgres as database type. It created `00000000000000_initial_schema.xml` file and it refers to a `${autoIncrement}` in the xml twice, but that variable is not defined anywhere. I looked at the `initial_schema.xml.ejs` file in JHipster source code and it seems like it creates the `autoIncrement` property only for MySQL and Mari

[2019-10-25 22:57] Ckram commented on #10680
I have the same errors with ehcache

[2019-10-26 13:01] DanielFran commented on #10565
@pmverma Changed generator to use new dialect for PostgreSQL 10

[2019-10-27 14:56] patrickjp93 opened #10689 "Generate Full Auth Config For Back End"
##### **Overview of the feature request**
When creating a new application, the authentication handler for the back end can be generated completely given any relevant URIs or filters.

Ex: The LDAP integration example on the main site can be generated at the time of creation. Much of the Auth Handler boilerplate is already generated when selecting OAuth2, so it should be possible for other cases.

[2019-10-27 16:48] patrickjp93 commented on #10542
Hi Pascal, it's not a warning showing up in the latest Oracle Java 8/11/13 distributions for me (at least on Windows). It seems to just be an informational notice. The -genkey option has been wiped from all current Oracle documentation on keytool's commands. https://docs.oracle.com/javase/8/docs/technotes/tools/unix/keytool.html

However, Oracle made a breaking change to the command for a lot of w

[2019-10-27 20:05] DanielFran opened #10691 "Update Infinispan to 10.1.0.Final"
https://infinispan.org/docs/dev/index.html

https://infinispan.org/blog/2019/10/28/infinispan-10-final/

https://infinispan.org/blog/2019/12/23/infinispan-10/

https://infinispan.org/release-notes/

https://infinispan.org/docs/stable/titles/upgrading/upgrading.html#upgrading

[2019-10-28 01:25] yelhouti commented on #10198
I have a version ready of what I want to do in this blueprint, please what the final code would look like:
https://github.com/elhoutico/jhipster-primeng-blueprint/blob/master/test/samples/primeng-blueprint-test/src/main/webapp/app/entities/task/task-update.component.ts

[2019-10-28 02:51] chijey commented on #4605
spring-cloud-kuberntets

[2019-10-28 08:13] Blackdread opened #10694 "SpringDataWebProperties is not used for swagger auto configuration"
##### **Overview of the issue**
Hard-coded values in [PageableParameterBuilderPlugin](https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/config/apidoc/PageableParameterBuilderPlugin.java)
Hard-coded: size-parameter, page-parameter, one indexed or not, default-page-size, etc

##### **Motivation for or Use Case**
Add better doc in swagger ui by speci

[2019-10-28 09:02] srinivasa-vasu opened #10695 "K8s Knative generator (k8s-knative)"
##### **Overview of the feature request**
Knative integration

##### **Motivation for or Use Case**
Provide `k8s-knative` as a separate generator to integrate Knative constructs with the deployment manifest. This can leverage the existing `k8s`/ `helm` generator for other common & cross-cutting services. In the future, we can also explore options like cloud-native buildpacks (kpack), kf and other

[2019-10-28 11:12] nury-garryyev commented on #10199
I have the same problem. I have asked a question for the same problem on StackOverflow.
https://stackoverflow.com/questions/58553331/elasticsearch-error-when-re-running-jhipster-project-error-creating-bean-with-n?noredirect=1#comment103441536_58553331

Please find the GitHub repository to reproduce the error.
https://github.com/nury-garryyev/jhipster

Please help me with this issue. Let me know if

[2019-10-28 13:18] atomfrede commented on #10678
It really depends, I wonder if it works in angular, as the translations will become a json object having a key with dots inside could be interepreted as accessing `key.value`
[code]

or `{ key.value }`. For example mongo db (without using spring data special key mapper) does not allow dots in keys for the very same reason.

[2019-10-28 18:14] bonsmik opened #10698 "Weird characters when deploying to tomcat"
##### **Overview of the issue**

After deploying application to tomcat weird chars in application. `&nbsp;` becomes `Â&nbsp;`

Example from login page:
<img width="545" alt="Screenshot 2019-10-28 at 19 41 57" src="https://user-images.githubusercontent.com/12121472/67702874-2d8e1e80-f9bb-11e9-876a-4bc499723957.png">

##### **Motivation for or Use Case**

Instead of using boxfuse to deploy I use *jh

[2019-10-28 20:07] ruddell commented on #10698
I could not reproduce with Maven, but I could reproduce with Gradle, both Angular and React.  The weird characters are present on the home page with no changes in the message: `You don't have an account yet?Â  Register a new account`

I'm not familiar with Gradle so did not look into a fix.

For reference, here's the script I use for testing Tomcat (no database for easy Tomcat testing):
[code]

[2019-10-28 20:27] atomfrede commented on #10698
Will have a look. Sounds strange indeed. Maybe some resource processing or
so

On Mon, Oct 28, 2019, 21:07 Jon Ruddell <notifications@github.com> wrote:

[2019-10-28 21:13] atomfrede commented on #10698
I can't reproduce it on my machine.
![image](https://user-images.githubusercontent.com/203401/67718497-2b828a80-f9d0-11e9-9941-75a689f9d67e.png)

[2019-10-28 22:21] atomfrede commented on #10698
I found a solution (the `web.xml` is missing from generated war). Will provide a PR tomorrow.

[2019-10-28 22:39] mraible opened #10700 "Relationships with User in OAuth2 app broken on master"
##### **Overview of the issue**

Ionic for JHipster tests against the master branch for CI. It stopped passing recently because of an error in the entity generator.

https://travis-ci.org/oktadeveloper/generator-jhipster-ionic/jobs/604144898#L2440

[code]

##### **Motivation for or Use Case**

This was working fine a couple days ago. I'm guessing it's related to [this commit](https://github.com/jh

[2019-10-29 01:40] mraible commented on #9287
Is this tutorial out of date? https://www.jhipster.tech/using-kafka/

[2019-10-29 02:41] lancescape opened #10701 "import-jdl throws and error for variable that start with 'all' such as 'allowXyz'"
##### **Overview of the issue**
Using the command `jhipster import-jdl ResourceManagement.jh --json-only` on the jdl below.
oddly starting a variable with 'all' such as "allowMultiple Boolean required" throws the error

##### **Motivation for or Use Case**

error: Error message:
        MismatchedTokenException: Expecting --> '}' <-- but found --> 'all' <--
        at line: 7, column: 5
SyntaxErro

[2019-10-29 05:37] nury-garryyev opened #10702 "Windows + Elasticsearch error when re-running jhipster project: Error creating bean with name 'userService' defined in file ..."
##### **Overview of the issue**

Elasticsearch error when re-running jhipster project: Error creating bean with name 'userService' defined in file ...
First time it runs without error. But when I re-run the project I get an error.
When I delete nodes in target/elasticsearch/data/nodes folder it runs succesfully but when I try to re-run again it fails with same error.

[code]

##### **Motivation fo

[2019-10-29 06:13] pascalgrimaud commented on #9287
@mraible : I confirm the documentation is out of date. Anyway, the tutorial is not needed anymore as everything is directly coded inside JHipster.

[2019-10-29 09:56] pascalgrimaud commented on #10702
Your repo doesn't work out of the box. I need to apply this change to make it works:

[code]

Then I started it 3 or 4 times. Everything is OK. I couldn't reproduce your issue.
[code]

[2019-10-29 09:58] pascalgrimaud commented on #10702
@nury-garryyev : maybe the problem comes from Windows environment. Can you try our [DevBox](https://github.com/jhipster/jhipster-devbox), which uses Ubuntu, to be sure about the real origin ?

[2019-10-29 10:14] pascalgrimaud commented on #10700
Indeed, I could reproduce it.
Then I don't understand why the CI didn't detect it.

@stonedMoose : can you have a look on this issue you introduced plz ?

[2019-10-29 13:31] pascalgrimaud commented on #10700
It only affects relationships with User in OAuth2 app.
I got the fix, currently testing it and will submit a PR soon

[2019-10-29 14:26] SudharakaP opened #10704 "JDL with Regex Patterns and E2E Tests"
##### **Overview of the issue**

Currently we don't take into account regex patterns when it comes to our auto generation of e2e tests. This causes auto generated e2e tests to fail if a user has a JDL with regex patterns. For example this is one of the causes for the failure in our [daily keycloak builds](https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=34&_a=summary).

[2019-10-29 14:48] pascalgrimaud commented on #10689
@patrickjp93 : thanks for the proposal. I think this tips https://www.jhipster.tech/tips/016_tip_ldap_authentication.html can go into a module. Are you motivated enough to start your own module and maintain it ?

You can have a look at our page about module: https://www.jhipster.tech/modules/creating-a-module/

Then if your modul  is really popular, then we can reconsider to include it to the main

[2019-10-29 14:56] pascalgrimaud commented on #10680
@gmarziou @Ckram : so is it a real JHipster bug ? Or a specific question about additional code ?

Because, if it concerns additional code, it should go to stackoverflow and not here.

[2019-10-29 14:59] pascalgrimaud commented on #10684
It looks like you know how to fix it.
@ersinciftci : would you like to contribute and do a PR for that ?

[2019-10-29 15:03] SudharakaP commented on #10704
@pascalgrimaud : Yes for some reason we do run protractor tests on Keycloak builds and with a JDL ([microservice-demo.jdl](https://github.com/hipster-labs/jhipster-daily-builds/blob/master/test-integration/jdl-samples/templates/microservice-demo.jdl.ejs)) that has this kind of regex. Do you think we should remove running e2e on Key-cloak as well? :thinking:

On another note, I am not sure if we ca

[2019-10-29 15:32] pascalgrimaud commented on #10704
mhhh the regex works well for other configs, but it failed only for Keycloak. Do you know why ?

[2019-10-29 15:33] henri-tremblay commented on #10680
It feels like a bug. From my point of view a new ApplicationContext should use a new cache manager. Or the previous one should be cleared. I don't have the time to check right now but can in a few days.

[2019-10-29 16:02] SudharakaP commented on #10704
@pascalgrimaud : Are you sure? Maybe I am seeing this wrong, but I don't see that JDL file being executed for any other daily build. Can you refer me to an example that works with that JDL?

[2019-10-29 16:14] pascalgrimaud commented on #10704
@SudharakaP :
- JDLMs.Redis.MariaDB : https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=6907
- in `jhipster info`, I can see:

[code]

[2019-10-29 17:18] ersinciftci commented on #10684
@pascalgrimaud Sure, just to make sure, in both `initial_schema.xml.ejs` and `added_entity.xml.ejs`, I'll add `|| prodDatabaseType === 'postgresql'` to the existing `prodDatabaseType === 'mysql' || prodDatabaseType === 'mariadb'` condition to add `autoIncrement` property for Postgres?

[2019-10-29 18:06] #10698 closed

[2019-10-29 19:11] FRodrigues-BrandenPT commented on #10702
I can't reproduce the error in that repo but in my project I am also getting that error.
I use ubuntu and gradle

[code]

[2019-10-29 19:25] #10700 closed

[2019-10-29 19:37] gmarziou commented on #10680
I agree, I'm currently travelling and can't help for next 10 days.

[2019-10-29 19:57] gmarziou commented on #10702
Looks like a jdk 11 specific issue, similar to https://stackoverflow.com/questions/57885828/netty-cannot-access-class-jdk-internal-misc-unsafe

[2019-10-29 19:58] e-from opened #10708 "Oracle : Docker-compose issue in version 6.3.1"
##### **Overview of the issue**

I used JHipster to create a microservices gateway with Oracle as the database.  I then made sure the gateway was accessible by running the jhipster registry and running  "npm install" and then "mvn" and "npm start" in the gateway app directory and verified gateway accessibility in browser.  I then shut down the registry and gateway and create a docker-compose direc

[2019-10-29 20:36] #10677 closed

[2019-10-29 21:48] FRodrigues-BrandenPT commented on #10702
@gmarziou  Thank you for your suggestion. I already fixed the netty access but unfortunately the elasticsearch problem still persists.

[2019-10-29 22:42] dieppa commented on #8678
@pascalgrimaud keep in mind the lock mechanism is poor. If you use Kubernetes or something goes wrong during the migration, the lock will stay there and you can get lost in an infinite loop.

[2019-10-29 22:47] dieppa commented on #8678
An option could be Jhipster adopting Mongock or contribute directly. I am happy to either add you as official contributor or transfer it and keep contributing myself  as I am doing. Some help would be great

[2019-10-30 00:28] FRodrigues-BrandenPT commented on #10702
Made a repo with code that sometimes throws the exception if we re-run.
https://github.com/FRodrigues-BrandenPT/brandenportal-test

[2019-10-30 03:41] amatosg opened #10709 "[JDL] Importing a file containing "all" as an Entity's property fails"
##### **Overview of the issue**
I have a jh file with many entities. One of them has `allowLoginAfterHours` as a property. When I import that jh file with 6.4.1 it fails with following message:

[code]
Moving the property to another line will be reported on error message.

##### **Motivation for or Use Case**
I should be able to import a JDL file with entities having properties that start with `al

[2019-10-30 03:57] ruddell commented on #10709
Thanks for reporting, there's already a related issue in the jhipster-core repository.

Duplicate of https://github.com/jhipster/jhipster-core/issues/389

[2019-10-30 03:57] #10709 closed

[2019-10-30 05:02] amatosg commented on #10709
thanks

[2019-10-30 06:22] pascalgrimaud commented on #10708
The problem comes from Oracle docker-compose files, which was removed few months ago:
https://github.com/jhipster/generator-jhipster/commit/93f41f66cbc17d7c0400009430ea3e3a4434528f

As we don't have this file anymore, it's normal the docker-compose sub generator doesn't work with Oracle.

Not sure we can do something on our side as the error you have is probably enough

[2019-10-30 08:22] stonedMoose commented on #10700
Sorry I just saw your message.

It strange indeed that the pipeline did not detect it but fails afterwards... Are the pipelines on master and on branches the same ?

[2019-10-30 08:31] pascalgrimaud commented on #10700
@stonedMoose : no worry, don't be sorry :)
It is fixed now.

The CI didn't detect it because we don't have tests for relationships with User in OAuth2 app

[2019-10-30 09:31] pascalgrimaud commented on #10684
@ersinciftci : I didn't look in details, but yes, I think it's the correct fix. Then I still don't understand why it doesn't cause an error because of this missing property

[2019-10-30 10:03] atomfrede commented on #8678
Maybe we should discuss this in a new issue, I think mongock looks very promising althought I am not sure we can do the maintenance for that (as we are already have a lot of stuff to maintain).

[2019-10-30 10:10] dieppa commented on #8678
Yes, I think it would be good to discuss it in a new ticket.

Thanks

[2019-10-30 13:08] ActionAdi83 commented on #3853
What if we need an entity with UUID id? Should we not use JHipster?

[2019-10-30 13:14] pascalgrimaud commented on #3853
@ActionAdi83 :
- you can update the generated code, and replace long by UUID, as the generated code is yours
- you can try to use this module: https://github.com/amitjindal/generator-jhipster-postgresuuid-converter
    - but as it isn't updated since 2017, not sure it will work
    - then, you can try to update this module, help the maintainer and update it for JHipster 6 ?
- last solution, you ca

[2019-10-30 19:20] atomfrede commented on #10682
I can't remember any specific reason and looking at the code I would say using `@WithMockUser` seems like the better solution indeed

[2019-10-30 19:29] e-from commented on #10708
Can Docker-compose have a command-line parameter to skip database configuration?

[2019-10-31 06:52] Pranavism commented on #9027
this is not getting fixed anytime soon ? I was wondering if a fix can be provided then UAA based architecture can be deployed with istio on k8 instead of dependency over eureka .

[2019-10-31 07:28] nury-garryyev commented on #10702
I run several times on Ubuntu and it works without errors. You're right. The problem is in the Windows environment.
In our company, we are working on Windows 8. We must fix this problem in order to continue working with JHipster. Any suggestions on how to solve this issue?

[2019-10-31 07:30] MathieuAA commented on #9027
@Pranavism you can always contribute and fix this if you want to. We'd be happy to help you if need be

[2019-10-31 07:30] #10708 closed

[2019-10-31 08:07] pascalgrimaud commented on #10702
Thanks for your feedback.
So the problem is related to Windows.

What I can suggest is :
- edit your application-dev.yml to use the same Elasticsearch config in application-prod.yml
- start your own Elasticsearch or use the provided docker-compose file
- start your app in dev

The goal is to use a real Elasticsearch in dev, instead of an embedded one, as it looks like you got some problem with tar

[2019-10-31 09:04] nury-garryyev commented on #10702
1. Edited application-dev.yml
2. Started Elasticsearch
3. Started app in dev
4. Error **JestElasticsearchException**

[code]

[2019-10-31 09:28] codecholeric commented on #10682
So I guess I'll create a PR then changing this, if there are no arguments against it :smiley:

[2019-10-31 09:32] nury-garryyev commented on #10702
The problem is solved. Thanks.

I used my own Elasticsearch in dev as @pascalgrimaud advised.
But I got an error again. I found a solution for the error in #10003.
I downgraded the Elasticsearch version to 6.4.3.
Finally, it is working without any error.

P.S. The bug is still remaining with an embedded Elasticsearch in the Windows environment.

[2019-10-31 10:28] #10702 closed

[2019-10-31 13:15] ctamisier commented on #10684
I think for postgres a sequence is used. So I'm not sure we should use autoIncrement=true for postgres. Maybe setting it to false will be less confusing indeed.
Probably if the variable is not defined it is considered as false by liquibase ?

[2019-10-31 13:26] atomfrede commented on #10682
Please go ahead, it will make our generated code easier to understand :+1:

[2019-10-31 15:53] amanganiello90 opened #10713 "Why Entity-server subgenerator does not generate JUnit tests?"
My question is why the entity server subgenerator does not have templates for simple JUnit tests on entity and repository classes

[2019-10-31 17:54] mraible commented on #10713
I think it's because these classes are so simple, they don't need tests.

[2019-10-31 18:10] amanganiello90 commented on #10713
OK, but all methods of the entities are covered? For definition, a simple junit test (not integration) is made to test the methods class. I don't know if the generated server has 100 % of coverage

[2019-10-31 18:22] mraible commented on #10713
In my experience, 100% test coverage is a waste of time and doesn't improve the quality of the codebase. 70-80% is often "good enough". In my opinion, of course. :)

[2019-10-31 18:40] MathieuAA commented on #10713
@amanganiello90 Hi, a simple remark: if you need test a "shallow" object like an entity or a DTO, you're only testing something without any logic. You should, however, focus your skills on testing logic (services, controllers, utils even, etc.).
A simple example, if your production code fails, then you're likely not gonna look at the entity but at the code "mimicking" the business logic that may h

[2019-10-31 18:51] amanganiello90 commented on #10713
Thanks all, I know that article and I'm according to you. But maybe a repository test class that uses, for example, the search api and tests the entity result with all methods it's not bad, it is only a template to use for that, and the developer has an initial class to concentrate some scenarios only for the DAO layer.

[2019-10-31 18:52] SudharakaP commented on #10704
Just to give a heads up, I am working on this issue; although in my previous attempt, I couldn't get `randexp` working correctly; I'll try again 😄

[2019-10-31 18:53] ersinciftci commented on #10684
Hmm, so maybe I need to do the opposite in my PR, instead of creating the property for Postgres, we shouldn't use `${autoIncrement} ` property for Postgres.

[2019-10-31 19:04] SudharakaP commented on #10594
After our fixes and upgrading to Ubuntu 18, Java 8 builds are fairly stable now I believe; although I think once in a while you might see a failure (this is common to Java 11 couch-base as well). Notice that in the final 8 runs in our daily builds only 1 time the couch-base tests timed out; this is the same as our Github CI builds (which also timed out once during the last 7 or 8 runs).

Also I am

[2019-10-31 19:10] pascalgrimaud commented on #10594
Ok, let's close this.
Plz @SudharakaP, claim the bounty, it's well deserved !

[2019-10-31 19:10] #10594 closed

[2019-10-31 20:27] cbornet commented on #10713
Note that we do generate integration tests that should put you close to 100% coverage. IMO these IT have more value than UT would.

[2019-10-31 20:37] svennela opened #10715 "make jar not executable (<executable>true</executable>)"
##### **Overview of the feature request**

I am using CNB's(https://buildpacks.io/) to build image for jhipster app, using https://github.com/buildpack/pack cli. Ran into invalid zip file error. As I am deploying to CF using CNB, there’s no benefit to the jar being fully-executable as it won’t use the launch script that’s prepended anyway.

[builder]   zip: not a valid zip file
[builder] ERROR: fa

[2019-10-31 20:45] ruddell commented on #10715
Duplicate of https://github.com/jhipster/generator-jhipster/issues/10255

This should be fixed as of v6.3.0, in #10282 it was changed to use non-executable JAR by default

[2019-10-31 20:45] #10715 closed

[2019-10-31 21:15] issovic opened #10716 "jhipster-ldap-integration"
Hey JHipsters  i want to link my Jhipster application to LDAP server and trying to use also the user authorities which is not available in the ldap server . t tried to follow https://www.jhipster.tech/tips/016_tip_ldap_authentication.html#ldap-authentication but it didnt work. always showing error **bad credentials** even the same username/password working on any other LDAP client . i can't share

[2019-10-31 23:07] EnmanuelReyes opened #10717 "Wrong translation for search for entities in spanish"
##### **Overview of the issue**

Wrong translation in spanish for search for entities.

##### **Motivation for or Use Case**

For a entity called **Person**:

It should say: Buscar `Person`
Instead of 'Search for `Person`'

##### **Reproduce the error**

Generate a monolithic application, select a database, select a client framework (I used Angular),
select elasticsearch as a search engine, then g

[2019-11-01 00:44] svennela commented on #10715
Thank you.

[2019-11-01 06:35] SudharakaP commented on #10594
@pascalgrimaud : Submitted at https://opencollective.com/generator-jhipster/expenses/11269/?createSuccess=true

[2019-11-01 16:28] dronavallisaikrishna opened #10720 "Unable to Create QueryService for User entity (Compilation error while creating criteria based searching for User entity)."
##### **Overview of the issue**
As part of my application, I am showing paginated users. But I  want to enable criteria-based searching for user entity.  I created the following files from the help of other entities.

1. created `UserCriteria.java` class
2. Enabled `JPAspecificationExecutor<User>` on UserRepository.
3. Created a `UserQueryService`.

But when I run the code the JPA static meta-mode

[2019-11-01 16:50] amatosg commented on #10717
Hola @EnmanuelReyes, just edit the file and create a PR, the team will check it and approve it :)

[2019-11-01 17:28] pascalgrimaud commented on #10717
In fact, it's already done and merged
See https://github.com/jhipster/generator-jhipster/pull/10718

[2019-11-01 17:28] #10717 closed

[2019-11-01 17:30] pascalgrimaud commented on #10716
The tips are proposed by our users, the core team didn't maintain it and didn't check if it works well.

So once you resolve your issue, @issovic, don't hesitate to update the tips if needed.

[2019-11-01 17:32] pascalgrimaud commented on #10713
I think the answer from @cbornet is enough :

So we can close this.

[2019-11-01 17:32] #10713 closed

[2019-11-02 08:13] issovic commented on #10716
@pascalgrimaud thanks for awnsering me, well i just resolved the issue by adding a new function that try to authenticate a user to the active directory with simple method,
i conserved the default project authentifcate manager and i just used jhipster user detail to load profils, it's a tricky was that i did, i just test ldap connection withth user/password if it works and before i generate JWT tok

[2019-11-02 13:24] nico783 opened #10721 "Some filters made with the "QueryService" service do not work."
##### **Overview of the issue**

I have created an entity that has an id as an attribute.
When I make the following call: http://localhost:8080/api/example?id.lessThan=2
all "example" objects are returned and not only objects with id less than 2.

##### **Motivation for or Use Case**

I expect to get only the filtered objects.

##### **Reproduce the error**

##### **Related issues**

##### **Sugge

[2019-11-02 14:25] ctamisier commented on #10684
Exactly, `${autoIncrement}` shouldn't appear in the liquibase file for postgres and the result should be the same.

[2019-11-02 14:29] oliverkuldmae commented on #10565
Is there an ETA for this update? This would resolve a pretty significant dependency conflict for a project I'm working on that uses PostgreSQL 11, PostGIS 3 and Flyway.

[2019-11-02 17:05] pascalgrimaud commented on #10565
@oliverkuldmae : as all the work is done during our personal time, there is no ETA. It will be done when someone takes the lead on the subject. So today, it is still in progress

[2019-11-02 18:01] patrickjp93 commented on #10716
See this goes down the vein of what I suggested in [Generate Full Auth Config For Back End](https://github.com/jhipster/generator-jhipster/issues/10689)

That said, this code would be cleaned up a bit with anonymous initialization and some structured programming. For our own deployment using Spring LDAP, we had some more complex security logging and other exception handling that integrated with Sp

[2019-11-02 18:14] patrickjp93 commented on #10689
Hi Pascal, I do have a little bit of spare time these days. Do you guys have a "Getting started writing JH Modules" page or documentation I can reference, or else a good repo history to use as a guide? Code generators are not my forte'.

[2019-11-03 02:32] Blackdread commented on #10721
You should provide implementation of your `public Specification<XXX> createSpecification(XXXCriteria criteria)`.
It won't compile if you try to call `buildSpecification(RangeFilter ...)` without knowing at compile time the type of the filter

[2019-11-03 12:24] nico783 commented on #10721
For the moment I use the following implementation that fixes the problem:

[code]

However, I think there is an anomaly in the QueryService class

[2019-11-03 13:50] gzsombor commented on #10721
Yes, the id is treated differently, I will submit a fix for this today.

[2019-11-03 23:45] #10721 closed

[2019-11-04 07:43] #10704 closed

[2019-11-04 20:24] QauseenMZ commented on #7854
Same issue for me! After importing entities from JDL file, it throws this error on npm run webpack:build

[2019-11-04 21:21] jdubois commented on #10565
As this is important I'm adding a bug bounty... Please tell me if there is a significant amount of work (it doesn't seem to be at first sight), and I'll add more if needed.

[2019-11-05 07:48] buseodaci commented on #7436
This answer helped me a lot :)

[2019-11-05 11:57] 40rn05lyv commented on #10684
The same issue with H2 database (file-based). Liquibase references

    <column name="id" type="bigint" autoIncrement="${autoIncrement}">

But `autoIncrement` is not defined anywhere. New entities also have this `autoIncrement` property, but they actually use `sequenceGenerator`.

[2019-11-05 13:04] sendilkumarn commented on #10725
The issue is in the main generator. Let me fix it.

[2019-11-05 17:20] pmverma opened #10726 "Initial schema creation fails with Oracle 18c XE"
##### **Overview of the issue**

Initial schema creation fails when the Oracle DB (at least for 18c XE) is used.

[code]

##### **Motivation for or Use Case**

A fresh app must starts normally.

##### **Reproduce the error**

- Generate a fresh new app selecting Oracle
- Start the app and it will fail

##### **Related issues**

##### **Suggest a Fix**

Add column definition inside `loadData` tag.

[2019-11-05 18:30] pmverma commented on #10684
As per liquibase doc, autoincrement will be ignored on DBs which don't support it.
https://www.liquibase.org/documentation/column.html

But I think to have a false value rather than true for DBs other than mysql/mariadb.

[2019-11-06 08:20] kaidohallik opened #10733 "Better UI for not logged in and authentication expired users in Angular"
##### **Overview of the feature request**

This is follow up to PR-s #10672 (corresponding issue is #10630) and #10675 (corresponding issue is #10551).
PR for resolving this issue can be done after #10672 and #10675 are merged.

After above referenced 2 PR-s the logic for "not logged in" / "authentication expired" users in session and JWT authentication is:
* remember "requested" / "last seen" pag

[2019-11-06 08:34] #10464 closed

[2019-11-06 08:35] #10725 closed

[2019-11-06 08:45] pascalgrimaud commented on #10629
@kaidohallik : I just did a new release of ng-jhipster v0.11.3

[2019-11-06 08:47] kaidohallik commented on #10629
@pascalgrimaud thanks, I'm working on PR for generator-jhipster.

[2019-11-06 09:21] #10630 closed

[2019-11-06 09:24] #10551 closed

[2019-11-06 10:08] #10650 closed

[2019-11-06 10:08] #10653 closed

[2019-11-06 10:58] #10629 closed

[2019-11-06 13:08] murdos opened #10739 "JPA Derived Identifier doesn't work anymore with JDL"
##### **Overview of the issue**

OneToOne relationship with jpaDerivedIdentifier is generated as a standard (non jpaDerivedIdentifier) OneToOne relationship.

##### **Reproduce the error**

With the following JDL:
[code]

Both A.java and B.java contains a generated Id:

[code]

##### **Related issues**

##### **Suggest a Fix**

The issue comes from the generated entity json file:
[code]

In previo

[2019-11-06 14:06] murdos opened #10740 "JPA Derived Identifier combined with mapstruct generates code that doesn't compile"
##### **Overview of the issue**

Combination of dto with mapstruct and use of jpaDerivedIdentifier doesn't work.

##### **Motivation for or Use Case**

Generated code should compile

##### **Reproduce the error**

Use the following JDL:
[code]

<del>Because of #10739, once the application and entities have been generated with `jhipster import-jdl`, you have to manually fix `.jhipster/A.json` and `

[2019-11-06 14:11] MathieuAA commented on #10739
This has been fixed and in the master branch

[2019-11-06 14:13] MathieuAA commented on #10739
https://github.com/jhipster/jhipster-core/issues/388

[2019-11-06 14:14] MathieuAA commented on #10740
The obvious fix is to release a new version, which I will do very very very soon. Like before the end of the week (hopefully)

[2019-11-06 14:14] MathieuAA commented on #10740
But this is blocking :( I'll release ASAP and do the necessary PR

[2019-11-06 14:22] murdos commented on #10740
@MathieuAA Are you sure your last comments apply to this issue, and not the other one: #10739 ?

[2019-11-06 14:23] MathieuAA commented on #10740
This one. The other one isn't blocking.

[2019-11-06 14:34] MathieuAA commented on #10740
@murdos I'm mixing comments, agrred ;) but the fix is the same. I'll do my best to close them before v6.5.0

[2019-11-06 19:53] Falydoor opened #10741 "Avoid skipping tests when deploying to the Cloud"
##### **Overview of the feature request**

The AWS/Heroku/CloudFoundry sub-generators use the function `buildApplication` in `generators/generator-base.js` with the `prod` profile to package the application. The function always skips the tests which is not really recommended, especially when using the `prod` profile.

##### **Motivation for or Use Case**

The tests should not be skipped when deplo

[2019-11-06 21:46] MInesGomes opened #10743 "Bad Request: JSON parse error: No _valueDeserializer assigned;"
##### **Overview of the issue**
This
[code]
generates:

[code]
If I change to
[code]
as suggested here
https://gitter.im/jhipster/generator-jhipster/archives/2018/08/26

Is not giving the error anymore

##### **Reproduce the error**
Only gives the error in production not in dev.

[code]

##### **Related issues**

No issue. Just in gitter.im :
https://gitter.im/jhipster/generator-jhipster/archives/

[2019-11-06 22:58] hugotown commented on #3714
i also have the same problem!

[2019-11-07 02:59] SudharakaP commented on #10604
I've made the final pull request to correct the remaining issue in the JDL file which we use for E2E tests. After this is merged, I believe the Keycloak daily builds should start working. :smile:

[2019-11-07 06:43] ersinciftci commented on #10684
If it's ignored on databases that do not support auto increment, maybe the `<column/>` tag shouldn't have `autoIncrement="${autoIncrement}"` attribute at all for Postgres, instead of having it set to `false`? It seems like it's not a mandatory attribute.

[2019-11-07 06:53] sameer123 commented on #965
Please can you send in which file and where i have to put above line??

[2019-11-07 07:14] pmverma commented on #10684
That would be best if removed as it also removes the developer confusion when sequence-based DB is used.
Would you be able to do this in the current PR?

[2019-11-07 10:31] gmarziou commented on #965
In SecurityConfiguration.java

[2019-11-07 12:54] wmarques commented on #10198
@yelhouti LGTM
About using form.value vs explicit mapping, I would go for `form.value` if that's possible. It's easier to read and less code to write. If our users want specific mapping I think they can do it themselves :)

[2019-11-07 13:05] wmarques commented on #9778
I'm ok to merge this, let's go ahead :) It's a good starting point to have dynamic env variables which I agree is very useful in alot of projects.

[2019-11-07 13:35] yelhouti commented on #10198
@wmarques great that we agree on this, I will make a PR asap.

[2019-11-07 15:12] MathieuAA commented on #10646
Perhaps @mraible can help shed some light here.

[2019-11-07 16:45] ludoch opened #10746 "Add JDL generator support for Google Cloud Datastore"
##### **Overview of the feature request**
Add JDL generator support for Google Cloud Datastore

##### **Motivation for or Use Case**
We want to promote more jHipster app integration with Google Cloud Platform (App Engine, GKE, Cloud Run,...) and in this ecosystem, the Google Datastore is critical for customers.
Datastore is not SQL but Object database.
We have Java client libraries at:
https://git

[2019-11-07 16:45] ludoch commented on #10746
cc @saturnism

[2019-11-07 16:59] ludoch commented on #10746
Forgot to add that we already have a Spring GCP Datastore integration, hosted on the Spring repo:

https://spring.io/projects/spring-cloud-gcp

There, you can see 2 potential targets: Spanner, and Datastore.
In terms of initial impact for many customers, Datastore would be more important imo.

[2019-11-07 22:22] #10738 closed

[2019-11-08 02:25] elharony commented on #6032
Accidently, I found that I was importing a file in 2 components, I deleted the file, and removed it from ONE of the components... Until I found that it has been imported in a child component as well. Once I deleted the `import` line from my 2nd component, it worked fine!

Hope it helps someone!!

[2019-11-08 07:23] vishal423 commented on #10198
@yelhouti, I initially suggested the use of `form.value` in one of the review comments in reactive forms integration, however, there seem to be some cases that were not working. Check this link for an existing discussion on this https://github.com/jhipster/generator-jhipster/pull/9153#discussion_r252651385

If that's not an issue anymore, then, we can do this change as well. However, I believe thi

[2019-11-08 07:32] gantispam opened #10747 "Create Jhipster module - Template - angularXAppName undefined"
##### **Overview of the issue**

Context : https://www.jhipster.tech/modules/creating-a-module/

When you create new Jhiptser module and try to use variable template `<%= angularXAppName %>` this variable is undefined.

##### **Motivation for or Use Case**

For exemple, Jhiptser-generator `\node_modules\generator-jhipster\generators\entity-client\templates\angular\src\main\webapp\app\entities\enti

[2019-11-08 07:49] gantispam opened #10748 "Angular component name conflict with tslint.json"
##### **Overview of the issue**
tslint configuration forbids advanced Angular syntax for component name.

* Angular component :
[code]

* Stack trace after transpilation :
[code]

##### **Motivation for or Use Case**
Default tslint configuration us too restrictive.

##### **Reproduce the error**
* Create new Jhipster App with angular Frontend
* Create an Angular component with selector as `select[

[2019-11-08 07:59] vishal423 commented on #9778
@yelhouti, I have provided few comments in the associated PR. I will leave the decision to incorporate / defer those to @wmarques

[2019-11-08 08:05] vishal423 commented on #10748
Current configuration aligns with angular style guide. You are always free to override `tslint` rules to suite your needs (at global level or ignore rule on a case by case basis).

[2019-11-08 08:52] ludoch commented on #10746
Thanks Mathieu. Please chat with Ray and me for brainstorming, questions, and help. If you need GCP credits, Ray is the man.

[2019-11-08 09:14] MathieuAA commented on #10746
Roger that, thanks :)

[2019-11-08 09:55] Tonterias opened #10749 "Jhipster gae gives errors with a clean jhipster project"
##### **Overview of the issue**

I create a clean project in Jhipster and Google Cloud Platform. Then, I run jhipster gae and I get errors that I think I should not get. May be it is my fault, but I do not see how. It may be a problem with permissions, but it does not find the project on GCP either. If I have to do something before I start, i have no clue. If it is my fault, please let me know whe

[2019-11-08 11:07] gantispam commented on #10747
Resolved by adding on file app\index.js :
[code]

[2019-11-08 11:07] #10747 closed

[2019-11-08 11:12] gantispam commented on #10748
Good thx.

I don't want abuse of your time but : do you know how ignore case by case this exception?
I tried a lot of combinaison without success on decorator @Component{ [...] }

[2019-11-08 11:16] yelhouti commented on #10198
@vishal423 thanks for pointing me to that thread. I asked few questions to understand why I didn't work for him. for me (my blueprint) it' works like a charm, but I might have missed something.

[2019-11-08 11:24] gantispam commented on #10748
Resolved with two differents solutions :

* Solution 1 : Disable rule case by case (in my-component.component.ts)
[code]

* Solution 2 : Disable rules globally (in tsconfig.json)
[code]

[2019-11-08 11:24] #10748 closed

[2019-11-08 12:32] ludoch commented on #10746
More samples when it comes to Spanner. https://github.com/saturnism/cloud-spanner-java-by-example

[2019-11-08 16:12] SudharakaP commented on #10604
Both of the issues mentioned in this thread has now been solved. We have successful Keycloak builds (https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build/results?buildId=7242) and we have successful Infinispan builds as well (ex: https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=31).

In some other builds there's some flakiness (Azure caching perhaps?) but I'l

[2019-11-08 16:12] #10604 closed

[2019-11-08 16:15] SudharakaP commented on #10749
@Tonterias : Currently I am working on the GAE subgenerator on a couple of different issues; I'll try to recreate this and will get back soon 😄

[2019-11-08 16:44] Tonterias commented on #10749
Please, @SudharakaP if you succeed in pushing a clean project (no entities) to GCP, I will be more than glad to help you document all the steps (make a post, a video or anything you want) because I'm really having a hard time trying to do it (and I guess I'm not alone). There is no documentation or video that shows how-to. Jon Ruddell, who always saves my day, does not feel confortable in this dep

[2019-11-08 18:32] Hawkurane commented on #10604
Wow, thank you for your hard work !!

[2019-11-08 18:36] pascalgrimaud commented on #10604
@SudharakaP : thanks so much. I'm putting a bounty on this, as you fixed 3 or 4 bugs here. Plz claim it entirely ! It's really well deserved

[2019-11-08 21:22] MathieuAA commented on #10746
Thanks @ludoch, I'll try to find time to look into it this week-end and I might ping you guys next week

[2019-11-09 04:59] SudharakaP commented on #10604
@Hawkurane : You are welcome. Now I think all builds are in working condition, but some builds I still see some flakiness; have to investigate some more on this later. :smile:

@pascalgrimaud : You are welcome; and thanks much for the bounty, that's very generous :smile:

[2019-11-09 10:50] mraible commented on #10646
Okta users will always have an email address. I'm not sure about Keycloak since we pre-populate that with `admin` and `user` users, which aren't really tied to a person.

[2019-11-09 17:03] SudharakaP commented on #10604
Bug bounty claimed at https://opencollective.com/generator-jhipster/expenses/11549

[2019-11-09 21:45] mabujaber commented on #6004
I love this feature but there is alot of missing replacement for it, such as css classes and angular directive

[2019-11-09 22:45] tmdonalds commented on #10199
I am receiving this exact error. Can someone help me please?

[2019-11-10 10:45] pascalgrimaud commented on #10199
@tmdonalds : have a look at other ticket and my suggestion https://github.com/jhipster/generator-jhipster/issues/10702#issuecomment-548257419

[2019-11-10 13:02] pascalgrimaud commented on #10739
@MathieuAA : is it fixed in current master ?

[2019-11-10 13:11] tmdonalds commented on #10199
thanks @pascalgrimaud . I am using ubuntu. That worked. I just ended up blowing away my target/elasticsearch dir before every build. That worked as well. Such a strange error.

[2019-11-10 15:03] pascalgrimaud commented on #10716
@issovic @patrickjp93 : can one of you update this page plz https://www.jhipster.tech/tips/016_tip_ldap_authentication.html ?

If you don't want or don't have time, no problem. I'll simply delete this tips.

[2019-11-10 15:16] pascalgrimaud commented on #10689
@patrickjp93 : sorry for the late answer, I was busy the last days.

Before creating a module or blueprint, I suggest you to:
- create a sample JHipster project
- apply the change you want, ideally in 1 commit

Then, study the diff with git, and try to transform it into a module:
- read https://www.jhipster.tech/modules/creating-a-module/#-creating-a-module
- use https://github.com/jhipster/genera

[2019-11-10 18:11] vladmihalcea commented on #10097
Processing large data sets in-memory versus doing that in the DB is often a code smell. Why would you want to fetch 50K rows only to aggregate them in the application when almost all RDBMS (e.g., Oracle, SQL Server, PostgreSQL, MySQL) support Window Functions, CTE, Recursive queries, and many other features that can help you for analytics tasks.

Could you elaborate on your use case? I'm curious b

[2019-11-10 20:10] MathieuAA commented on #10739
Now that the release has been done, yes

[2019-11-10 20:12] #10739 closed

[2019-11-11 05:18] hegphegp opened #10757 "How to avoid xss attack?"

[2019-11-11 05:28] vishal423 commented on #10018
As we don't use this flow in Jhipster generated apps, I would like to close it as lack of interest.

[2019-11-11 08:23] pascalgrimaud commented on #10757
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-11-11 08:23] #10757 closed

[2019-11-11 08:38] pascalgrimaud opened #10758 "npm test failed for upgrade.spec.js"
##### **Overview of the issue**

Current `npm test` failed for tests related to upgrade.

##### **Motivation for or Use Case**

Need to be fixed quickly, so I'm putting a bounty on this.

##### **Reproduce the error**

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

v6.5.0 and current master

[2019-11-11 08:40] pascalgrimaud commented on #10758
cc @murdos as you're the boss on this part.
If you can help...

[2019-11-11 08:46] SudharakaP commented on #10749
@Tonterias : Looking at your stack traces more closely, I believe the reason for the failure is the first error you are getting;

`Google Cloud Project ID jhipstergae-321ERROR: (gcloud.projects.describe) User [XXXXX@gmail.com] does not have permission to access project [jhipstergae-321] (or it may not exist): The caller does not have permission`

Notice that you have provided the Project ID as `jh

[2019-11-11 08:48] pascalgrimaud commented on #10018
Ok @vishal423, so let's close this

[2019-11-11 08:48] #10018 closed

[2019-11-11 09:51] murdos commented on #10758
Sure, I'll see if I can reproduce and fix it!

[2019-11-11 10:10] pascalgrimaud commented on #10758
Thanks a lot @murdos
I'm focus on my talk at Microsoft Ignite, I don't have time to have a look.
Don't hesitate to comment or give feedbacks here if you're stuck

[2019-11-11 12:02] xetys commented on #9027
I'm very sorry guys, I had my reasons for inactivity.

I'm reopening this issue as I started working on it

[2019-11-11 12:03] xetys commented on #8967
Same as in #9027, these are connected

sry for the delay

[2019-11-11 13:05] MInesGomes commented on #10743
@pascalgrimaud Do you need anything from me?
After doing the changes above **is working on dev and prod. **
When I compile give these warnings for the classes that I have made changes:

[code]

But is working ok

[2019-11-11 13:08] pascalgrimaud commented on #10743
I put this tag 'need-reproduction', waiting someone else to confirm this issue.
I don't have time right now, until the end of next week, because of a conf about JHipster at Microsoft Ignite.

So unless someone else wants to have a look, you just need to be patient...

[2019-11-11 14:41] patrickjp93 commented on #10716
@pascalgrimaud I'm actually brand new to the community and don't have access to much of anything. Happy to do the grunt work if someone can point me in the right direction to get set up.

[2019-11-11 14:50] pascalgrimaud commented on #10716
@patrickjp93 : to contribute to the documentation, just follow these steps
- fork this project in GitHub: https://github.com/jhipster/jhipster.github.io
- clone your fork locally: `git clone https://github.com/patrickjp93/jhipster.github.io`
- go into your fork: `cd jhipster.github.io`
- create a new branch, for example: `git checkout -b update-ldap-tips`
- edit this file: `016_tip_ldap_authentica

[2019-11-11 14:52] patrickjp93 commented on #10716
Okay, I'll hop on this today.

[2019-11-11 14:56] pascalgrimaud commented on #10716
@patrickjp93 : it's fine, nothing urgent. Take the time you need. Don't hesitate to ask help, but if we don't answer immediatly, just be patient ;)
We are happy to help new user to contribute, so thanks so much for wanting to help the community

[2019-11-11 16:05] Tonterias commented on #10749
I believe so. That's why I copied the describe in the issue. It would not be the first time I'm wrong. Good bless Jon Ruddell for his patience!  ;-D

C:\Users\USUARIO\AppData\Local\Google\Cloud SDK>gcloud projects describe jhipstergae-321
createTime: '2019-11-08T09:35:11.085Z'
lifecycleState: ACTIVE
name: jhipstergae-321
projectId: jhipstergae-321
projectNumber: '61641827385'

But anyway, if you a

[2019-11-11 16:21] patrickjp93 commented on #10716
@issovic  Just to clarify, you only have problems with the JHipster tip because your LDAP deployment does not provide AD Groups, correct? Or is it something else entirely?

I can provide some cleaner reference materials and code from Baeldung and others if it's everything that's broken...

[2019-11-11 16:45] SudharakaP commented on #10749
@Tonterias : You are correct; your project ID seems correct and same as name; but this error you are getting seems to be coming from the Cloud SDK not something to do with our generator. Could you execute `gcloud projects describe jhipstergae-321` within the project directory (`D:\JHipster\testgae`) and show me the output ?

[2019-11-11 19:03] patrickjp93 commented on #10716
@pascalgrimaud [PR](https://github.com/jhipster/jhipster.github.io/pull/847)

[2019-11-11 21:40] murdos commented on #10740
I tested the above JDL with JHipster v6.5.0 and I still have the issue.

[2019-11-11 21:48] murdos opened #10762 "Integration tests failed for tests with JHI_ENTITY=sqlfull"
##### **Overview of the issue**

Current integration tests failed for tests with JHI_ENTITY=sqlfull

[code]

##### **Motivation for or Use Case**

Unit and integration tests on master should not fail

##### **Reproduce the error**

See https://travis-ci.org/jhipster/generator-jhipster/jobs/610557997

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster

[2019-11-12 01:10] mshima commented on #10762
Seems that jhipster 6.5.0 added a verification that a many-to-many relationship must be bidirectional.

User is not customizable so, this should be removed:
https://github.com/jhipster/generator-jhipster/blob/a3e51de84d320e822d97700b577ff7873164718d/test-integration/samples/.jhipster/TestCustomTableName.json#L37-L43

[2019-11-12 02:01] gregu opened #10764 "Dockerized UAA + gateway in DEV mode"
##### **Overview of the issue**
I think problem is related with docker compose sub generator.

Gateway app in dev mode with dockerized uaa, registry starts, but cannot connect to UAA from gateway. Gateway try to get http://uaa/ Dockerized Prod mode works prefect.

[code]
##### **Motivation for or Use Case**

Sub generator should enable out of the box solution.
Now it is useless and block developme

[2019-11-12 04:03] #10758 closed

[2019-11-12 06:48] pascalgrimaud commented on #10762
thanks @mshima for the analyze
I'm doing the PR to remove this relationship in our entities

[2019-11-12 06:56] pascalgrimaud commented on #10689
I think we can close this, as it can / should go to module.
Don't hesitate to comment this ticket if needed

[2019-11-12 06:56] #10689 closed

[2019-11-12 06:57] pascalgrimaud commented on #10434
Closing this as it should go to module

[2019-11-12 06:57] #10434 closed

[2019-11-12 06:59] pascalgrimaud commented on #10716
Closed by https://github.com/jhipster/jhipster.github.io/pull/847

[2019-11-12 06:59] #10716 closed

[2019-11-12 07:03] pascalgrimaud commented on #10741
There is no specific reason for not launching tests
So I'm in favor of removing skipTests

[2019-11-12 07:08] Tonterias commented on #10749
No problem @SudharakaP

D:\JHipster\spingular>gcloud projects describe jhipstergae-321
createTime: '2019-11-08T09:35:11.085Z'
lifecycleState: DELETE_REQUESTED
name: jhipstergae-321
projectId: jhipstergae-321
projectNumber: '61641827385'

I did deleted after testing it, but the info still is the same. Anything else

[2019-11-12 07:11] pascalgrimaud commented on #10726
@pmverma : as there is few user using Oracle, I think you're the only one can fix it.
Maybe apply your fix only for Oracle, so it won't impact the other DB ?

[2019-11-12 10:07] Tonterias commented on #10749
I updated to 6.5 and I got the same result:

D:\JHipster\testgae65>gcloud projects describe jhipstergae650
createTime: '2019-11-12T09:52:51.817Z'
lifecycleState: ACTIVE
name: jhipstergae650
projectId: jhipstergae650
projectNumber: '558588454917'

D:\JHipster\testgae65>jhipster gae
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:gae
INFO! Op

[2019-11-12 10:15] alexis-puska commented on #10565
Hi all,
Can you migrate whit this dependencies, the version of hibernate 5.4.7.Final ?
I use hibernate search with elastic search, and i try to migrate with the last hibernate search backend elastic search require the Hibernate Search ORM Integration 6.0.0 and require hibernate core 5.4.7.Final minimum with spring boot 2.2
https://mvnrepository.com/artifact/org.hibernate.search/hibernate-search-ma

[2019-11-12 10:25] MathieuAA commented on #10740
Ah, that's weird. I'll figure it out.

[2019-11-12 11:01] PierreBesson commented on #10565
@alexis-puska I'm sorry but we can't upgrade to spring 2.2 as long as there is no spring cloud release that supports it. See the release train section on this part : https://spring.io/projects/spring-cloud#overview

[2019-11-12 11:16] alexis-puska commented on #10565
@PierreBesson Thank for the information, I watch this you wait for spring cloud Hoxton release and currently is only the release candidate... i hope the release came in the next day...

[2019-11-12 12:03] Kelvijn opened #10768 "jhipster export-jdl results in ERROR"
jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhi

[2019-11-12 12:23] deepu105 opened #10769 "Add resourse limits on all generated Kubernetes specs"
We do not have any resource limits on some of the spec we generate for Kubernetes. For example the MySQL deployment spec below. We should add limits to avoid starving of resourses

[code]

[2019-11-12 13:03] pascalgrimaud commented on #10768
cc @MathieuAA : can you help on this plz ?

[2019-11-12 13:26] xetys opened #10770 "wrong management API used in k8s for liveness probes"
##### **Overview of the issue**

When generating k8s manifests using `jhipster kubernetes`, the generator sets `/managment/info` for the liveness probe. This endpoint is only visible for authenticated users, so the health check fails and k8s is restarting the pod all the time due to liveness probe fail.

##### **Reproduce the error**

Generate k8s manifests for application of any type. This will g

[2019-11-12 13:32] Shaolans commented on #10768
Looks like this is failing because embeddableLaunchScript and blueprints because when checking options values, they are not defined here (https://github.com/jhipster/jhipster-core/blob/master/lib/core/jhipster/application_options.js).

[2019-11-12 13:55] atomfrede commented on #10770
I think it was changed on purpose as the liveness probe should return if the application is running. Using the health endpoint for the liveness probe would restart the pod even if e.g. there is only a temporary connection failure to the database (which should only remove the pod from the load balancer). But in case the `/info` endpoint is never reachable thats of course also not good.

See https:/

[2019-11-12 14:04] xetys commented on #10770
I found it just right now... So I get the point about switching to info, but the way how it is now is a service crashing all 2 minutes. On a quite low cluster, it also takes 45secs to boot up...so it is one minute up, one down...if you count eureka service discovery propagation time...the services just will be down all the time :grimacing:

[2019-11-12 14:05] PierreBesson commented on #9027
@xetys Sorry if what I say doesn't make sense as I don't know much in the workings of Oauth2 but isn't there a way to make the UAA behave like a standard Oauth2 server and reuse the code of the JHipster oauth2 option as much as possible.
Ideally, we would prefer to have only 2 options to choose from for JHipster Authentication: JWT and Oauth2 without sacrificing the UAA option as maintaining end 2

[2019-11-12 14:16] atomfrede commented on #10770
:) Yes thats not correct right now obviously and not the intention. Can we make the info endpoint to be availble to not authenticated users and hide sensitive information?

[2019-11-12 14:20] xetys commented on #10764
Don't know if that helps you.

When I am developing with a combination of docker-compose and local, I add the following entry into my `/etc/hosts`:

[code]

so both, in-docker and local apps can reach the registry. Internally, the service discovery is fetching IPs, which are either local or docker IPs.

Is this related to your problem?

[2019-11-12 14:59] xetys commented on #9027
For this I should do some wider experiments with oauth2 and see, what we can summarize. But anyways, I'd love to see uaa back working in the most of our options.

I guess I'll have more time from now to support this on the long term

[2019-11-12 15:39] pascalgrimaud opened #10771 "import-jdl broken with relationships"
##### **Overview of the issue**

The `import-jdl` is currently broken with relationships to User

Here the stacktrace:

[code]

##### **Reproduce the error**

Generate a default JHipster project, and use this JDL:
https://github.com/jhipster/jdl-samples/blob/master/bug-tracker.jh

[code]

##### **Related issues**

It's probably related to JHipster Core 6.

##### **Suggest a Fix**

##### **JHipster

[2019-11-12 16:36] pmverma commented on #10726
I will do a PR.
I think it should not impact other DBs.

[2019-11-12 17:25] SudharakaP commented on #10749
@Tonterias : I need to investigate more on this. I am on the verge of completing  #10420 and once it's done I'll get back to this. I couldn't recreate this exactly and it might have to do with the fact I am on a Linux machine, let me try to do this on a Windows machine as well. 😄

[2019-11-12 17:35] pmverma commented on #10740
Actually this is not related to jhipster-core but this is how it will generate when the entity name is a single character.

While you are expecting like a java bean setter/getter naming,
[code]
but in actual, it generates by applying `.toLowerCase()`
[code]

You can check at https://github.com/jhipster/generator-jhipster/blob/56a5d39cb086ed823af3bf1c7479e766da0f740f/generators/entity-server/templa

[2019-11-12 17:54] pmverma commented on #10771
[code]

This really is confusing. It seems like `User` will have a field named `ticket` of type `Ticket`.

[2019-11-12 17:55] MathieuAA commented on #10771
First issue is the one you mentioned @pmverma, can you guess the other one?

[2019-11-12 18:05] pmverma commented on #10771
The log message is a bit confusing too. But I think it may be a generic one.

[2019-11-12 18:09] MathieuAA commented on #10771
Yup the error message sucks, I'm changing it now.
That isn't the worst though. It will inject a ticket field in the User entity, right? But can we? I don't see a skipped user management mentioned anywhere...
The first issue hides this one here.

[2019-11-12 18:21] MathieuAA commented on #10740
I wish github had the :clap: reaction to comment in issues.

[2019-11-12 18:43] ruddell commented on #10740
Possibly related to the comment here: https://github.com/jhipster/generator-jhipster/issues/2899#issuecomment-200603494

[2019-11-12 19:21] MathieuAA commented on #10771
Thanks @pmverma for you remark on the error message, I'm gonna change it right now.

@pascalgrimaud the sample is just wrong. It shouldn't have worked before.
You should either:
  - remove the injected field in the destination entity
  - do as suggested: have a one-to-many relationship
    - **and** have the `skipUserManagement` option (in this case)

Correct me if I'm wrong please.

[2019-11-12 21:27] MathieuAA commented on #10771
Original sample (simplified):

[code]

The error message says:

Possible solution (MtO, unidirectional):

[code]

Works because:
  - complies with the MtO creation rule (uni only)
  - complies with having the User entity as part of the relationship **and** not having an injected field

Other solution (OtM, bidirectional):

[code]

Note that it won't work because we inject a field in the User here,

[2019-11-12 21:38] Tonterias commented on #10749
Good luck and let me know if I can be of any help (you can remote control mine if you need to).

[2019-11-12 21:42] pascalgrimaud commented on #10771
@MathieuAA : just try this JDL, using ManyToOne:

[code]

I can generate correctly the entities.
Once, I started the application, I can't add a User to a Ticket, either a Project.
So the create / update are broken here.

[2019-11-12 22:52] xetys commented on #10770
I tried that out, and you can't configure the info endpoint the same way as health.

Anyways, what we need is a sign of life. Therefore, a TCP socket test should be enough, by defining:

[code]

[2019-11-12 22:53] MathieuAA commented on #10771
Latest updates after (too?) many tests:
  - generating from the CLI doesn't work neither
  - no matter what the relationship is (to a User, or whatever), doesn't work
  - made it work by generating an entity with DTO & service

[2019-11-12 22:59] pascalgrimaud commented on #10771
thanks @MathieuAA for the analyze !

[2019-11-13 02:18] Blackdread commented on #9113
This is possible to do like that indeed.
You can do a PR, you can copy code from [Filter](https://github.com/Blackdread/rest-filter/blob/master/src/main/java/org/blackdread/lib/restfilter/filter/Filter.java)

[2019-11-13 05:24] ghacupha commented on #2101
Did you regenerate with entities? If you did they entities will have elastic search code. You need to open .jhipster folder and remove set all search fields in every entity to false

[2019-11-13 10:22] FlorianLeitgeb commented on #10312
Why is this closed? The issue still exists.
    "lint-staged": "^9.4.1",
    "husky": "^3.0.8",

[2019-11-13 11:15] cbornet opened #10774 "Fetch lazily or eagerly"
##### **Overview of the feature request**

Following the hypersistence recommendations, we have set the Hibernate fetching of ManyToOne and OneToOne relationships to LAZY. This has the side effect that those relationships are not fetched in the REST API either and thus, they are not rendered in the front-end.

So I think we should have a clear strategy on what we generate for the fetching of relat

[2019-11-13 11:28] vishal423 commented on #10312
@FlorianLeitgeb, please don't comment on a closed issue. If you see an issue, kindly open a new ticket with requisite details.

FYI, we reverted to the old version in our templates. Check this: https://github.com/jhipster/generator-jhipster/blob/56a5d39cb086ed823af3bf1c7479e766da0f740f/generators/client/templates/angular/package.json.ejs#L113

[2019-11-13 13:10] PierreBesson commented on #10774
I'm in favor of following the recommendation and keeping it LAZY. The way I would like to do it is to force the DTO option in JHipster and depreciate the entity option that doesn't use DTOs. This would ease maintenance for us and also enable Mapstruct by default like we wanted to do.

[2019-11-13 13:16] PierreBesson commented on #10770
@xetys I am surprised it is so slow for you to start your apps. Also, the /info endpoint should be publicly available for all users just with different information inside. Are you using an older version of spring boot for which it is not the case ?

Anyway, my plan would be to create a new /readiness and /liveness endpoints as default in JHipster as soon as we migrate to spring boot 2.2 and can us

[2019-11-13 13:35] xetys commented on #10770
don't worry about the startup speed...I'm testing on a very small cluster...while on the other I use eureka and this makes startup time with sync time longer....but anyways...

I was testing it with the current JHI version, and therefore spring boot 2.X. There is a definition for
[code]
because the `HealthEndpointProperties` allows to define this. There is no similar configuration for the Info end

[2019-11-13 13:59] PierreBesson commented on #10770
It seems that you are right ! However I can't explain why it worked for me.

[2019-11-13 16:26] pdinc-oss commented on #5942
version numbers?

[2019-11-13 16:29] PierreBesson commented on #5942
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2019-11-13 16:47] PierreBesson commented on #9027
@xetys We have about 150 UAA generated every day in our stats vs 1500 microservices (and the stats are opt-in).  This means that the UAA option is still popular but we have few contributors, it doesn't have someone like @mraible to maintain support. It would be for the best if this can be supported client-side using common code with the oauth2 support.

![Screenshot from 2019-11-13 17-43-35](https

[2019-11-13 17:14] xetys commented on #9027
Well, I was quite inactive in the last months, so I couldn't support it. But stuff is changing in my carrier and it could open a lot of work- and spare time on contribution again, especially in the UAA case.

In other words, it's likely that I will have time to support UAA on a wider level the next time

About the OAuth2 vs. UAA question, I'm still convinced, that these approaches fit for very dif

[2019-11-14 02:05] gregu commented on #10764
I added this line to /etc/hosts
`127.0.0.1 uaa registry jhipster-registry`
and expose uaa docker service to  port 80 in host network, to handle problem with connection to  http://uaa/
I also hardcoded root user to mysql database (when I used mysql as data server) and expose db docker service to port 3306 in host network

Anyway my local app is present as service in jhipster registry with dev mode

[2019-11-14 03:44] pmverma commented on #10740
One simple possible thing is to do not allow a single character entity name.
While technically possible to use it but it has no real meaning in real projects.

[2019-11-14 05:30] pascalgrimaud commented on #10740
I don't think it's related to single caracter
I tried this issue in v6.5.0 with similar JDL, replacing entitied by a longer name and it failed too

[2019-11-14 05:40] pmverma commented on #10740
@pascalgrimaud I am saying specifically for the below-mentioned error.
[code]

There we assume `getBId()` but in actual it is `getbId()`.

[2019-11-14 07:11] SudharakaP commented on #10749
@Tonterias : Could we try a re-installation of Cloud SDK please? Instructions are given at https://cloud.google.com/sdk/install. Seems like somehow the SDK is unable to get proper project details.

[2019-11-14 07:53] #10660 closed

[2019-11-14 08:13] #10520 closed

[2019-11-14 08:31] cbornet commented on #10774
Other things that I'd like to have:
* endpoints to fetch xxxToMany collections (eg. GET employees/1234/jobs)
* Hypermedia links for relationships (esp. those not serialized in the response) for documentation, to ease navigation and make the API more RESTful

[2019-11-14 11:00] MathieuAA commented on #10740
@pascalgrimaud did you? I remember seeing it working when we were trying to find the relationship-fetching issue.

[2019-11-14 11:00] MathieuAA commented on #10740
I'll try again, maybe my test wasn't good enough

[2019-11-14 11:03] MathieuAA commented on #10740
Ah you're right :) I wonder if it's related to the JDL though. I'll try without a JDL file

[2019-11-14 11:20] PierreBesson commented on #10774
This could be a complete rework of the back end entity generator for JHipster 7. Also integrating spring hateoas by default.

[2019-11-14 12:08] MathieuAA commented on #10740
I think I got it... confirming

[2019-11-14 13:22] MathieuAA commented on #10740
Okay, I'm fixing it and releasing it in a few minutes. The issue is the `useJpa` in both entities (in the JSON files)

[2019-11-14 16:41] yelhouti commented on #10774
If we where to do that much work I would go for the graphql way. This goes for both the Hateoas part and lazy/eager loading of entities/relationships.

[2019-11-14 16:55] PierreBesson commented on #10774
IMO Graphql cannot be a full replacement of REST, it could be an alternative option. And I don't want to lose swagger.

[2019-11-14 17:08] yelhouti commented on #10774
graphql has it's own swagger, https://github.com/graphql/graphiql
Why do you think, graphql can't replace REST, everything custom you are doing with REST (example update a subset of entities, calculate custom aggergate value....) can be done in graphql with a custom mutation our varaible name only thing that changes, is the endpoint hat receives the query, and everything is done using POST(or GET)

[2019-11-14 17:44] PierreBesson commented on #10774
Have you used Graphiql ? It's awful, it doesn't show errors consistently. Then with Graphql security and caching is a headache. But of course it's interesting for many use cases !

[2019-11-14 17:49] yelhouti commented on #10774
@PierreBesson aren't we facing the same issues today with swagger, and are overriding the swagger code in every jhipster project? (I love swagger for REST but I don't think we can/should discard grahql and all of it's benefits compered to REST because of a Tool, + tools can be improved...)

[2019-11-14 18:03] pascalgrimaud commented on #10774
GraphQL should not be the subject of this ticket.
Anyway, it has been asked several time but no one wants to code and maintain a module for that, to see if it's popular... So @yelhouti if you're motivated and have the bandwidth, you're really welcome to code a module. I'm pretty sure it can become popular and then, we can reconsider to include to main generator jhipster

[2019-11-14 18:14] yelhouti commented on #10774
@pascalgrimaud I guess you are right, I was trying to join efforts since both this issue and graphql go in the same direction. I'm already maintaining two blueprints, and If I have to work on a GraphQL I would certainly need some help, specially On the caching/persistence part.

[2019-11-14 20:54] QauseenMZ commented on #5335
I've impored entities from jdl file in gateway. Entities generated and working but cannot see them in dropdown after npm start, npm run start, ./build.sh and ./mnv.
Any other workaround for this please?

[2019-11-14 22:00] gmarziou commented on #5335
@QauseenMZ this is an old issue, please don't comment it. If you have found a problem, please open a new issue with required details.

[2019-11-14 22:54] Tonterias commented on #10749
Here comes the first part:

D:\JHipster\testgae65>gcloud projects describe spingulargae1
createTime: '2019-11-14T22:19:22.716Z'
lifecycleState: ACTIVE
name: spingulargae1
projectId: spingulargae1
projectNumber: '402558806209'

Then comes this error:
D:\JHipster\testgae65>jhipster gae
INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:gae
INFO!

[2019-11-15 01:23] amatosg opened #10778 "[Feature Request] jhi-item-count should have the entity name"
##### **Overview of the feature request**
If JHipster already pluralizes the entity's name, then why wouldn't it be added to that module? I cloned the component and added `@Input() pluralEntityName: string;` and the html would become `... of {{ total }} {{ pluralEntityName }}`

The `jhi-item-count` would have the extra parameter like this: `[pluralEntityName]="'users'"` (although I don't know how

[2019-11-15 07:24] SudharakaP commented on #10749
@Tonterias : Thanks; I am going to try to see if I can recreate this on a Windows machine; will get back to you in the next couple of days; I have to set up the machine; it's been a while I used it. :smile:

[2019-11-15 12:12] Evertude commented on #9145
Is it possible to adapt the Heroku JDK to the one used in the project?
When I update the java.version property in the pom file, it still installs JDK 1.8 on Heroku which causes the app to crash.

There are two ways to achieve this:
- [Add a system.properties file](https://devcenter.heroku.com/changelog-items/1489)
- [Adapt the config of the heroku-maven-plugin](https://devcenter.heroku.com/article

[2019-11-15 16:00] Tonterias commented on #10749
As I told you, you can remote mine if you need to

[2019-11-15 16:15] gantispam commented on #9591
Same issue on Jhipster 6.5.0 :
![image](https://user-images.githubusercontent.com/15685552/68957965-6efc3780-07cb-11ea-9251-211b7dc34a3b.png)

[2019-11-15 16:34] SudharakaP commented on #10749
@Tonterias : Thanks much. Let me first try it out in my machine and then if that doesn't work; we'll see about doing that. 😄

[2019-11-16 21:25] MathieuAA opened #10782 "Following the doc to create relationships doesn't work"
# How to reproduce:

Generate a many-to-many relationship as the doc explains it, will try other ones after I fix the tests on the generator (related to JCore).
The doc says to create a MtM:
  - jhipster entity AAA
  - follow the instructions
  - **it fails**

# How to fix:

Generating the entities **then** the relationship works. This should be mentioned.

# Motivation:

RTFM-ing should work.

--

[2019-11-16 23:05] MathieuAA commented on #10771
I think the title should be renamed to 'Invalid relationships are noticed by the JDL' (yep, I'm trolling).
I've updated the PR, it should be good to go

[2019-11-17 05:10] SudharakaP commented on #10749
I've managed to recreate the issue and I believe this is caused by the [child_process.execSync calls](https://github.com/nodejs/node/issues/14967). This I have created a PR migrating to the more portable [shelljs](https://github.com/shelljs/shelljs) which we already use in some other places. I believe this should fix your issue. :smile:

[2019-11-17 06:50] conquor commented on #10184
@anthony-o good job, but it don't work at prodcution mode,
after try many times, finally, I find the supplement based on your solution:
change ecma:6 to ecma:5 in the webpack.prod.js , it's perfect.

[2019-11-17 09:41] hammad-tariq opened #10787 "Update Jhipster Entity without overriding existing files and custom code"
##### **Overview of the feature request**

When I try to update existing entity in my JHipster project I get following message:

? Do you want to update the entity? This will replace the existing files for this
entity, all your custom code will be overwritten
  Yes, re generate the entity
❯ Yes, add more fields and relationships
  Yes, remove fields and relationships
  No, exit

##### **Motivation

[2019-11-17 13:31] gmarziou commented on #10787
You could update your entity on a git branch and then merge to your master to keep your custom code.
You could also follow the side-by-side approach https://www.youtube.com/watch?v=Gg5CYoBdpVo

As this is a question and not an issue, I'm closing this.

Please use [gitter](https://gitter.im/jhipster/generator-jhipster) or [stackoverflow](https://stackoverflow.com/questions/tagged/jhipster) for ques

[2019-11-17 13:31] #10787 closed

[2019-11-17 14:48] patrickjp93 commented on #10774
Not trying to de-rail the issue further, but we should probably open a separate conversation about GraphQL and QUIC/HTTP3 and how to move the ball forward for JHipster 8.

The reason we need to discuss them together is the underlying effects HTTP3's ratification will have on Spring Boot's APIs and the underlying data serialization. GraphQL is already a big module to build, and right now seems like

[2019-11-17 15:24] patrickjp93 commented on #10774
On the main topic, I support keeping it lazy by default AND moving off the Entity system to DTOs. As for fetch customization, there are a couple bulky/painful ways around needing GraphQL, but they require we either implement both lazy and eager fetching APIs, or we just add the Eager param to all of APIs and then make the final call at the Service layer based on the value.

One other option would

[2019-11-17 15:25] patrickjp93 commented on #10774
And sorry to continue the tirade...

My main concern about stamping out hyperlinks for xxxxToMany relationship fetches is effects on distributed database apps. When UUID is used instead of ID, or the relationship is on other keys, can we stamp out these hyperlinks consistently?

Also, from a security perspective, exposing actual row IDs in hyperlinks isn't best practice against cross-site scriptin

[2019-11-17 19:45] anthony-o commented on #10184
@conquor nice !

Nevertheless, I had already specified this in my post, but perhaps it was not so visible...

Here is wat I wrote:

;)

[2019-11-17 20:47] ruddell opened #10792 "Frontend changes cause Spring Boot Devtools restart"
##### **Overview of the issue**
When Webpack rebuilds a TypeScript change, a file change is detected causing the backend to restart.  This affects both Maven and Gradle

##### **Motivation for or Use Case**

When a frontend file is changed, only the frontend should reload, not the backend.

##### **Reproduce the error**
Generate an app
Start with `./mvnw` and `npm start`
Change `home.component.ts`

[2019-11-18 07:45] #10749 closed

[2019-11-18 10:25] alexis-puska commented on #10565
The update of spring cloud is planified to 21 novembre : https://github.com/spring-cloud/spring-cloud-release/milestones !

[2019-11-18 10:41] murdos commented on #10565
@DanielFran : are you working on the upgrade, or may I try to work on it?

[2019-11-18 10:56] niklasLensing commented on #10642
@vishal423 Did you already have time to look into this issue?

[2019-11-18 11:40] xetys opened #10795 "minor issues with Gitlab CI-CD"
##### **Overview of the issue**

The out commented code block in the `.gitlab-ci.yml` for docker-push has two little issues I noticed:

1. when running `jib` without `-Pprod`, the build tool generates a dev frontend, which is not intended in production
2. we set `IMAGE_TAG` to `$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA`, what creates an invalid container image tag

##### **Motivation f

[2019-11-18 12:19] DanielFran commented on #10565
@murdos I put it on hold due to too many conflicts between the specific branch and the master, and it was not possible to rebase.
I am expecting to work on it during the weekend.

[2019-11-18 18:07] davidweianibone opened #10799 "Not able to upgrade from version 3.9.1 to 4.0.0 or higher."
##### **Overview of the issue**

Trying to upgrade my very old version (3.9.1) to latest. After unsuccessful runs, decided to upgrade gradually and go up but still getting the follow error

Error jhipster:upgrade --target-version=4.3.0

ERROR! Something went wrong while updating generator! /usr/local/bin/jhipster -> /usr/local/lib/node_modules/generator-jhipster/cli/jhipster.js

Thank you for usin

[2019-11-18 20:55] gmarziou commented on #10720
This is not a JHipster, the problem is in custom code.

Please use [gitter](https://gitter.im/jhipster/generator-jhipster) or [stackoverflow](https://stackoverflow.com/questions/tagged/jhipster) for questions

[2019-11-18 20:55] #10720 closed

[2019-11-18 21:46] #10792 closed

[2019-11-18 21:55] SudharakaP commented on #10749
@Tonterias : Unfortunately sometimes we might have some dependencies when it comes to Windows especially related to the App Engine generator. Since I always use a Linux machine for development and we don't currently have test coverage for this part. Please feel free to let us know if you see any further issues. 🤔 😄

[2019-11-18 22:38] gmarziou commented on #10799
ERreor you pasted still shows that you're upgrading to JHipster 6:

[2019-11-18 23:09] gmarziou commented on #10799
I looked at the [upgrade generator source in 3.9.1](https://github.com/jhipster/generator-jhipster/blob/7c17c0992d20c5b0935e9d78ddaa305dff04f8be/generators/upgrade/index.js) and it is very different from today.

I suspect that trying to use it will be really painful. Personally, I would rather generate a fresh 6.5 a project with your few entities definitions and then report custom changes, as it's

[2019-11-18 23:21] gmarziou commented on #10799
Just saw that .yo-rc.json does not indicate client framework, so I suppose it's Angular 1, if true there's no upgrade path to Angular 2+. You also use SocialSignIn which is no longer supported.

If my above assumptions are right, I'm sorry but you can forget about using the upgrade generator.

[2019-11-19 04:44] #10795 closed

[2019-11-19 13:02] Kelvijn opened #10802 "Readonly property is not added to jhipster/entity.json with initial generation"
##### **Overview of the issue**

When creating an entity via CLI and with option readonly (y), a readonly entity is generated this time. When regenerating this entity, a normal entity is generated that is not read only. Propably because there is no property inside of the jhipster/entity.json file
##### **Motivation for or Use Case**

##### **Reproduce the error**
generate entity with readonly yes

[2019-11-19 13:53] xetys opened #10803 "k8s sub-gen generates too large PostgreSQL passwords"
##### **Overview of the issue**

When generating kubernetes files for applications using PostgreSQL, we generate a 256-byte long password. When those applications start in kubernetes, they are failing with a trace like this:

<details>
<summary>Stacktrace in failing Pod</summary>
<pre>
Caused by: org.postgresql.util.PSQLException: FATAL: password authentication failed for user "XXX"
	at org.postgr

[2019-11-19 13:59] GregorHue commented on #10619
same issue here with node v12.13.1 LTS

[2019-11-19 14:21] xetys opened #10804 "Allow using kubernetes PVCs for stateful resources"
##### **Overview of the feature request**

As already discussed in #5173 or #9622, our kubernetes sub-generator generates all "stateful resources" (such as MySQL, PostgreSQL, etc.) with `emptyDir` as volume definition.

I propose the following add-on:

When `jhipster kubernetes` asks its prompts, it should ask

[code]

If the user chooses the last option, an additional question asks the `storageCl

[2019-11-19 14:30] crerdmo commented on #10743
I got this issue in production with @OneToMany as well:
    @OneToMany(mappedBy = "config")
    @Cache(usage = CacheConcurrencyStrategy.NONSTRICT_READ_WRITE)
    @JsonIgnoreProperties("config")
    private Set<LocalBucket> localBuckets = new HashSet<>();

The problem got solved after restarting the application in production.

This is the error message in this case:
2019-11-19 11:54:39.661  WARN 26

[2019-11-19 14:58] gmarziou commented on #10619
@GregorHue can you paste the output of `jhipster info` ?

[2019-11-19 21:39] pascalgrimaud commented on #10771
Closed by JHCore v6.
@MathieuAA : don't forget to claim the bounty here, you deserved it !

[2019-11-19 21:39] #10771 closed

[2019-11-19 21:41] pascalgrimaud commented on #10799
As Gaël said, it's not possible to upgrade between 2 majors version...
You need to do it manually

I'm closing this as we can't do anything

[2019-11-19 21:41] #10799 closed

[2019-11-19 21:42] pascalgrimaud commented on #10768
It will be fixed in the next release, so I'm closing this.
Same here -> @MathieuAA plz claim the bounty as you did the fix

[2019-11-19 21:42] #10768 closed

[2019-11-19 21:42] pascalgrimaud commented on #10762
fixed by jhipster-core v6.0.4

[2019-11-19 21:42] #10762 closed

[2019-11-19 22:40] MathieuAA commented on #10768
Thanks, bounty claim: https://opencollective.com/generator-jhipster/expenses/11777

[2019-11-19 22:40] MathieuAA commented on #10771
Thanks, bounty claim: https://opencollective.com/generator-jhipster/expenses/11777

was too lazy to create two separate claims...

[2019-11-20 00:04] tuski opened #10805 "JHipster is generating different front end code"
##### **Overview of the issue**
I am working on a project for around 2 months. I was using jhipster 6.1.2 and blueprint is jhipster-vuejs 1.1.0. Recently I accidentally updated jhipster to 6.4.5 and then I could not import jdl file. Because generator-jhipster-vuejs blueprint is compatible with jhipster 6.1.2. So I again installed jhipster 6.1.2 and able to import jdl file but jhipster is generatin

[2019-11-20 03:59] SudharakaP commented on #10579
@deepu105 : Just curious, did we get the credits? :smile:

[2019-11-20 10:06] davidweianibone commented on #10799
Any update?

[2019-11-20 10:10] davidweianibone commented on #10799
Thank you for your replies

[2019-11-20 10:43] pascalgrimaud opened #10806 "Protractor with entity serviceClass + Pagination + DTO"
##### **Overview of the issue**

Current builds failed during e2e tests.
Here an extract of logs:

[code]

[code]

##### **Motivation for or Use Case**

Fix the build

##### **Reproduce the error**

Here the full logs:
https://travis-ci.org/jhipster/generator-jhipster/jobs/614243881

##### **Related issues**

##### **Suggest a Fix**

[2019-11-20 12:14] MathieuAA commented on #10806
Maybe [this](https://github.com/angular/protractor/blob/master/docs/timeouts.md) can help us understand

[2019-11-20 12:46] PierreBesson commented on #10804
@xetys if you know how to implement this feature in a cloud-agnostic way and keep things working out of the box in most cases. I'm all for this. Do you have time right now to develop this feature?

[2019-11-20 18:03] xetys commented on #10804
@PierreBesson sure, already started ;)

[2019-11-20 23:44] SudharakaP commented on #10806
I can take a look at this today evening if someone isn't already looking at it. 😄

[2019-11-21 03:40] Yerikshu opened #10814 "please support multiple datasource"
##### **Overview of the feature request**
support multiple datasource such as es\marridb\mongodb at the same time, for example, in the databaseconfiguration, will config the db1, db2, .... dbn

##### **Motivation for or Use Case**
as the guide for https://www.baeldung.com/spring-data-jpa-multiple-databases,

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to sh

[2019-11-21 05:39] pascalgrimaud commented on #10806
@SudharakaP : I don't think it's related to timeout. I believe there is a real issue here but I didn't manage to reproduce locally.
I already restart the build 6 or 7 times and it always failed for EntityWithServiceClassPaginationAndDTO

[2019-11-21 05:46] SudharakaP commented on #10806
@pascalgrimaud : Agreed. I am trying to find that root cause currently :thinking:

[2019-11-21 06:39] pascalgrimaud commented on #10814
@Yerikshu : sorry but it is something we can't do as it is too specific to your business case. If you need this, you can simply code it in your application. I don't think it should be support directly in JHipster.

Anyway, if you think it's a must have, I can suggest you to create a blueprint for that.
Have a look at https://www.jhipster.tech/modules/creating-a-blueprint/#-creating-a-blueprint

Fo

[2019-11-21 06:39] #10814 closed

[2019-11-21 12:59] SudharakaP commented on #10806
@kaidohallik : Wonderful, thanks! That fixed it :smile:

[2019-11-21 13:04] #10806 closed

[2019-11-21 16:28] martin-g opened #10816 "import-jdl ignores the config in .yo-rc.json"
##### **Overview of the issue**

I have generated an application with the help of `jhipster` command line tool.
At application generation time I've answered all questions and my application was successfully generated. All answers of the questions are properly saved in .yo-rc.json file!

Later I've decided to add some new entities to my existing application, so I've used `jhipster import-jdl entiti

[2019-11-21 20:22] #10684 closed

[2019-11-22 09:57] deepu105 commented on #10579
Sorry totally forgot about this one. I believe there is now a program where OSS maintainers can apply for credits https://aws.amazon.com/blogs/opensource/aws-promotional-credits-open-source-projects/

could you try it

[2019-11-22 10:02] pascalgrimaud opened #10817 "CI: migration to GitHub Actions"
The work was already started by @vishal423 here https://github.com/jhipster/generator-jhipster/pull/10505

I'd like to migrate our current Travis builds to GitHub Actions, with these advantages:
- free for Open Source
- up to 20 parallel builds
- no Minutes limitation per month
- see the documentation:
    - https://github.com/features/actions
    - https://help.github.com/en/github/setting-up-and

[2019-11-22 10:04] pascalgrimaud commented on #10817
cc @jhipster/developers as it will impact all other repositories.
Then, if it's a success, we need to do the same for:
- jhipster lib
- jhipster-registry
- ng-jhipster
- react-jhipster
- blueprints
- etc.

[2019-11-22 14:56] SudharakaP commented on #10579
@deepu105 : Thanks much for the link.

For this we need to create a AWS account and then apply for OSS credits for that account. But I think it would be more appropriate to use an official JHipster email to create the AWS account and apply for these credits, and create an account all core members can use. So maybe I suggest that someone in the core team  apply for this instead rather than through

[2019-11-22 15:56] henri-tremblay commented on #10680
I have dug in it a little bit. The problem seems to be that

1. `@MockBean` taint the Spring context in some way
2. So Spring partially recreate it. I'm not sure at which level
3. This causes `CacheConfiguration` to be run again
4. The same (JCache) `CacheManager` is retrieved, which is expected
5. All the caches are in it. The code in `CacheConfiguration` destroys the cache and create a new one.

[2019-11-23 07:38] deepu105 commented on #10579
Ok let me see what I can do

On Fri, 22 Nov 2019, 3:56 pm Sudharaka Palamakumbura, <
notifications@github.com> wrote:

[2019-11-23 08:04] #10642 closed

[2019-11-23 08:20] duderoot opened #10819 "Docker image is ignoring environment variable TZ"
##### **Overview of the issue**
* when running a docker image with the environment variable TZ, then the variable does not have an impact on the container:

##### **Motivation for or Use Case**
* when logging events of the app from a particular image I want to have the proper time for the zone where I am running the app.

##### **Reproduce the error**

[code]

##### **Related issues**

##### **Sug

[2019-11-23 09:29] #10803 closed

[2019-11-23 12:05] PierreBesson commented on #10579
As I'm already the one in charge of the GCP organization and account, let me apply to the program and find a nice setup to give access to different members. I don't think it's a good idea to share the account between us so we will need some kind of SSO like Okta. This is already what I set up for users in my company (I do devops things at a small startup) so I'm familiar with the process. We just

[2019-11-23 12:12] pascalgrimaud commented on #10579
+1 @PierreBesson, you're the DevOps of the team !

[2019-11-23 12:28] PierreBesson commented on #10579
Okay, I have filled out the form and created the "jhipster" AWS account. I asked for 1000$ per year. I believe it's reasonable considering that we will not leave things running all the time. Let's wait 2 weeks for their response and if no reply. We can contact them.

[2019-11-23 14:07] tiagodiogo commented on #10642
thank you @vishal423 for your fix!
i have applied your correction to my project and the redirect was replaced by a 401 Unauthorized.

can you please tell me what would be the best action course / configuration classes to handle those 401 Unauthorized and go to the login page ?

[2019-11-23 20:02] MathieuAA commented on #10740
This should be good now by the way (completely forgot about this issue, sorry)

[2019-11-24 08:44] pascalgrimaud commented on #9692
Close by https://github.com/jhipster/generator-jhipster/pull/10752

[2019-11-24 08:44] #9692 closed

[2019-11-24 08:46] pascalgrimaud commented on #10482
I'm closing this as https://github.com/jhipster/generator-jhipster/pull/10752 has been merged and it should help

[2019-11-24 08:46] #10482 closed

[2019-11-24 09:02] #10819 closed

[2019-11-24 09:04] pascalgrimaud commented on #10805
I'm moving this to Vue.js blueprint repo

[2019-11-24 09:56] pascalgrimaud opened #10824 "React: e2e failed with sqlfull entities"
##### **Overview of the issue**

Following https://github.com/jhipster/generator-jhipster/pull/10815#issuecomment-557078485

I added a build for React + sqlfull and it failed with a lot of errors.
See https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=14&_a=summary

##### **Motivation for or Use Case**

See the logs: https://dev.azure.com/hipster-labs/d0d09378-1d06-4331-b

[2019-11-24 09:57] pascalgrimaud commented on #10824
I'm adding a bounty on this as it will require a lot of analyze / work I think

[2019-11-24 17:17] pascalgrimaud commented on #9891
@qmonmert : I'm increasing the bounty, as it was really too much work, and you're still working on it to achieve this enhancement. So it will be well deserved

[2019-11-24 20:10] #10802 closed

[2019-11-24 20:13] arabbani opened #10825 "Add support for server side rendering with Spring boot"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [] Checking this box is mandatory (this is just to show you read everything)

[2019-11-24 21:24] #10825 closed

[2019-11-24 21:24] pascalgrimaud commented on #10825
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-11-25 04:59] kaidohallik commented on #10824
Importing this JDL with current master gives error:
[code]

[2019-11-25 05:20] pascalgrimaud commented on #10824
@kaidohallik : I extracted the `jhipster info` directly from the logs, I think I did a bad copy/paste when cleaning timestamp
Let me update this ticket when I will be with my computer

[2019-11-25 09:37] pascalgrimaud commented on #10824
@kaidohallik : just generated the project locally, and did an export-jdl which is incorrect I think...

[2019-11-25 15:56] hepaestus opened #10827 "Exported JDL Cannot be Imported due to Syntax Issues"
After creating my JDL File and importing it I then used Jhipster to generate a JDL file. My Hope is that they would be the same. They ARE NOT.  Some of my JDL imported relationships are NOT IN THE Generated JDL File.

ALSO, Upon generation you cannot then import the JDL into Jhipster as it fails for syntax issues. Not all of the generated fields are recognized.

[2019-11-25 16:27] pascalgrimaud commented on #10827
You're probably right as it is similar to https://github.com/jhipster/generator-jhipster/issues/10824#issuecomment-557989272

But can you help us, and provide the JDL you used ?
So you can try to reproduce your issue and fix it.

Thanks in advance.
cc @MathieuAA

[2019-11-25 19:24] Tonterias commented on #10749
@SudharakaP Hi, I updated to v651 and the sdk too. I'm getting the same mistake again

I:\jhipster\testgae651>gcloud projects create testgae651 --set-as-default
Create in progress for [https://cloudresourcemanager.googleapis.com/v1/projects/testgae651].
Waiting for [operations/cp.7481270106464626629] to finish...done.
Enabling service [cloudapis.googleapis.com] on project [testgae651]...
Operation

[2019-11-25 19:48] pascalgrimaud commented on #10824
Some more analyze on this:
- the `jhipster export-jdl` or `jhipster info` are correct, and both same for v6.4.1 and v6.5.1
- once the `entity.jdl`is  generated, I can't import as I got the same error mentioned by @kaidohallik
- I can't import in v6.4.1 or v6.5.1 : both failed
- that means we got this issue for a while

Trying to analyze more...

[2019-11-25 19:50] pascalgrimaud commented on #10749
@Tonterias : can I suggest you to try [jhipster-devbox](https://github.com/jhipster/jhipster-devbox) as it looks come from Windows environment

[2019-11-25 20:03] MathieuAA commented on #10824
Removing the `jpaThing` option from lines 437 & 438 works, but I don't know why...

[2019-11-25 20:18] MathieuAA commented on #10824
Simpler failing sample:
[code]

[2019-11-25 20:35] MathieuAA commented on #10824
removing the commas seems to make the issue disappear... that's nuts

[2019-11-25 21:42] pascalgrimaud commented on #10824
I push the repo here : https://github.com/pascalgrimaud/jh-issue-10824
So it will be easier to reproduce the **initial** issue.

[2019-11-25 21:47] MathieuAA commented on #10824
Fixed in JCore (commit in 5 minutes), will release very soon

[2019-11-25 21:59] pascalgrimaud commented on #10824
Thanks @MathieuAA, so with your fix, the JDL can be imported correctly now, but the issue with React and e2e tests is still there.

I think it's related the size of menu, as found in other ticket

[2019-11-25 22:03] kaidohallik commented on #10824
After quick look at React UI I noticed that React doesn't use `bold` on `a:hover` - so if my theory confirms in Angular part that this bold causes failures (all tests confirm that) then in React this must be something else.

[2019-11-26 01:38] SudharakaP commented on #10749
@Tonterias : Thanks for the update. It seems that your previous error `ERROR: (gcloud.app.services.describe) NOT_FOUND:` is gone now; which is good. :+1: Now for the new error you have, please try Pascal's suggestion and let us know if you still see it. I'll try to recreate that as well on my end when I have some time :smile:

[2019-11-26 02:09] gregu opened #10830 "Spring-boot-devtools won't restart the application generated by generator-jhipster after changing java class"
spring-boot-devtools won't restart the application generated by generator-jhipster after changing java class

##### **JHipster configuration**

INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configur

[2019-11-26 03:08] #10830 closed

[2019-11-26 09:23] Tonterias commented on #10749
Thanks @pascalgrimaud  @SudharakaP

I have never used that. I can try, but let me ask a few **candid** question to both of you before I start:

a) Does jhipster gae work on your Linux machines with a clean project?
b) Have you make it work on your windows machines?

- Because if it works on Linux, I can try the jhipster-devox to see if the prblem is in my config with gcp on my windows (no problem,

[2019-11-26 10:41] pascalgrimaud commented on #10749
I'm sorry but :
- I don't have Windows machine, only Linux
- I don't have GCP account with credits, I used my personnal account last year

So I won't be able to test and help.
I was suggesting that, just to help you, because the sub generators was mainly coded and tested with MacOS and Linux

[2019-11-26 11:01] kaidohallik commented on #10824
@MathieuAA Thanks for the fix!

Now I was able to generate from this JDL. I noticed that there is one big difference between Angular and React UI in menus if menu height exceeds browser page height:
* in Angular:  scrollbar appears in the page and user can scroll down and see and click on initially hidden menu items
* in React: no scrollbar appears and user has no way to click menu items which are

[2019-11-26 11:18] Tonterias commented on #10749
Thanks @pascalgrimaud

Then, the question is: do you want to try a GCP account because I have an account at Google for spingular@gmail.com that has $300 and will expire on may. I have been waiting since May for this to work and it is going to expire..... Do you want me to give you access to that account so we can test it, thogether?

If it works on your Linux with the GCP account, then we can then

[2019-11-26 12:30] MathieuAA commented on #10824
@kaidohallik great analysis!

[2019-11-26 13:24] xetys commented on #10469
hey, I found the cause of the issue on my own today.

This issue is appearing for both, UAA and OIDC...

You can solve this by creating a new configuration class like this:

[code]

AND remove the `@EnableGlobalMethodSecurity` annotation from the usual `SecurityConfiguration`

I will PR a fix ASAP

[2019-11-26 13:42] xetys commented on #10469
update: tested with an OAUTH2 based application and confirmed there

[2019-11-26 13:48] jdubois opened #10831 "Add "createDatabaseIfNotExist=true" to the MySQL connection String"
When using MySQL, our connection String uses an existing schema.

On some platforms (like Docker) this isn't an issue as we can correctly create the schema when creating the database, but on some other platforms (like Azure, of course...) this causes an issue: the developer needs to manually create the schema first, which is more work for him (on Azure: you need to allow your IP in the firewall, t

[2019-11-26 14:57] SudharakaP commented on #10749
a) Yes I have, especially when I was working on, https://github.com/jhipster/generator-jhipster/pull/10420. If you could wait until this is merged I am sure things might improve a lot, since we've upgraded the GCP plugins as well.

b) I found the original issue you had; `ERROR: (gcloud.app.services.describe) NOT_FOUND:` using a Windows machine. But didn't deploy using that. I will see if I could r

[2019-11-26 15:24] codecholeric opened #10832 "jhiTranslate + [translateValues] escape HTML problem"
##### jhiTranslate + [translateValues] behaves inconsistent to ngx-translate pipe

When I use

[code]

the variable `userInput` gets escaped. I.e. strings like `<p>foo</p>` will be presented verbatim.

If I use

[code]

then the HTML will be interpreted. I think this has to do with `JhiTranslateDirective` setting `this.el.nativeElement.innerHTML = value;` instead of sanitizing the result like `{{

[2019-11-26 15:28] pascalgrimaud commented on #10817
I'm starting to work on this

[2019-11-26 15:59] niklasLensing commented on #10642
@tiagodiogo If you update to the newest version of JHipster (6.5.1) the 401 Unauthorized shouldn't occur anymore. At least that fixed it for me.

In the newest version of JHipster identity(...) in account.service.ts was adjusted to return null when when an error occurs for fetch(). I'm pretty sure that change makes the Unauthorized error go away.

[2019-11-26 16:16] avdev4j commented on #9752
Hi team,
I'm facing with the same issue than @vwiencek :
`expose generated API into swagger UI - with this we could see API generated from openApi generator next to the ones created during project scaffolding`

We could add a property in the api.yaml `basepath` to force the value to `/api` or add `openapi.your-app-name.basepath` to our properties with /api value too.

For the moment I wonder how t

[2019-11-26 16:43] ecostanzi commented on #9752
@avdev4j you can create a new spring @Configuration file and add a new Docket bean:
[code]
You can replace the `/openapi-path.*` with the property `openapi.your-app-name.basepath`.

Here's a full example: https://github.com/intesys/jhipsterconf2019-petstore-demo/blob/master/src/main/java/it/intesys/jhipetstore/config/CustomSwaggerConfiguration.java#L75

[2019-11-26 18:42] Tonterias commented on #10749
Sure, I can wait one day (even months ;-). Please, let me know and if you take a few screenshots while you do it, it will be great.
Good luck and take your time, @Sudharaka
Thanks

[2019-11-26 19:45] ersinciftci commented on #10510
Any reason to not add it to swagger.gradle as a task instead of adding it to package.json? We already have a task that generates the server code in swagger.gradle, we can add another task that generates the client code as well.

[2019-11-26 21:44] cbornet commented on #10510
Indeed. Calling it from the JVM tools would be even better since OpenAPI-generator is a jar after all. For Maven we need to check if the plugin can be run outside of the build process.

[2019-11-27 01:32] ThienPhuc92 commented on #10469
Thank you very much but this happen both UAA and Microservice Application. I think you should test on both of it!

[2019-11-27 08:16] SudharakaP commented on #10749
@Tonterias : I've checked and to me it seems that the error you are running to is fixed in #10420 along with some other issues. I've also made a few more commits for some corner cases I just identified. Below is an output of a successful run with changes from #10420. So I suggest waiting until the PR is merged; or cloning the generator and using the changes from that PR.

 <pre><font color="#8AE23

[2019-11-27 09:42] kaidohallik commented on #10824
I tried the old trick: changed browser height from 1024 to 10240 and this fixed some of the tests, after this change 20 errors remained. So seems that the problem **"lower part of the menu is not visible and accessible to the user"** is only one problem, seems that some other problems exist.

<details>
<summary>Failing tests if browser height is 10240</summary>
<pre>
  146 passing (19m)
  20 faili

[2019-11-27 10:09] Tonterias commented on #10749
My mouth is watering when I see the whole thing working :-D
Good job @SudharakaP
I will wait for the next version and get back you then. Thanks

[2019-11-27 16:26] SudharakaP commented on #10749
@Tonterias : Yes, it does; without the PR I think there might be some issues around the Cloud SQL thing which we haven't tested very much. But I did a lot of testing of this Cloud SQL while doing the PR so I think it should have better support creating the databases. 😄

[2019-11-27 20:56] pascalgrimaud commented on #10817
I'm proposing:

For GitHub Actions (19 builds):

[code]

For Azure Pipelines:

[code]

[2019-11-27 22:36] jmai220489 opened #10839 "Gateway UAA HTTP 403 "error": "access_denied""
At the time of consuming the post type service from Swagger gateway, error http 403 is presented, please support it seems something is missing.

![image](https://user-images.githubusercontent.com/43712645/69763713-18341d80-113c-11ea-8d21-11a3c30e4022.png)

![image](https://user-images.githubusercontent.com/43712645/69763732-2c781a80-113c-11ea-82df-f1748c1706e6.png)
![image](https://user-images.git

[2019-11-27 23:18] FernandaCG commented on #8846
Hi, can I work on this??

[2019-11-27 23:53] mshima opened #10840 "Upgrade with pt_BR localization is broken"
##### **Overview of the issue**

Upgrading from jhipster 5.8.1 to 6.5.1 results in error with pt_BR localization.

PR https://github.com/jhipster/generator-jhipster/commit/492707876f4a6961b5ab2797818a5f7e5192c661 changed localization file name from 'xx_yyyy_zz to xx_yyyy_ZZ to match java locales'.

The following error is shown at git merge step:

[code]

##### **Reproduce the error**

- Create a p

[2019-11-28 05:35] vishal423 commented on #10817
@pascalgrimaud, let me know if you need any help here

[2019-11-28 05:38] pascalgrimaud commented on #10817
@vishal423 : thanks :) I need to work on this to learn GitHub Actions. You already did the hard part so I used your work here !

[2019-11-28 07:42] murdos commented on #10840
Seems to be very similar to #9908

[2019-11-28 07:56] pascalgrimaud commented on #10469
@xetys : I'm adding the 'bugs' label, as you confirmed the issue and removed the 'need reproduction' label

[2019-11-28 07:59] pascalgrimaud commented on #8846
@FernandaCG : sure, you're welcome !

[2019-11-28 08:04] pascalgrimaud commented on #10631
ok @kaidohallik, forget my other comment. Found it :)

I'm putting a bounty, as it's a lot lot lot of work to achieve this

[2019-11-28 08:08] pascalgrimaud commented on #10840
yes it's similar to #9908 but I don't know if we can do something

[2019-11-28 09:27] avdev4j commented on #9752
thanks @ecostanzi

After some searching, I think we have to :
* Add `/api` as default path in the generated api.yml. It match with JHipster default configuration.
* Add more documentation: docket config, spring configuration overriding...

By doing this we can cover the 2 ways, using the default JHipster basePath or define a specific one.

[2019-11-28 09:49] FlorinAlexandru commented on #10770
I saw the same issue when containerizing an application. What is, if any, the recommended workaround?

[2019-11-28 09:53] PierreBesson commented on #10770
@FlorinAlexandru The workaround would be to remove the liveness check.

[2019-11-28 12:10] ksilz commented on #10565
Spring Cloud Hoxton [was released](https://spring.io/blog/2019/11/28/spring-cloud-hoxton-released).

[2019-11-28 12:53] xetys commented on #10770
OK, here is my proposal:

let's make a PR which sets the liveness probe back to health, until we merge Spring Boot 2.2. Then we can do another PR with the ehanced logic @PierreBesson described.

WDYT?

[2019-11-28 13:06] PierreBesson commented on #10840
Well for me it's not a bug. Yes it's kind of a breaking change  but this was the tradeoff to be able to support all locales. Especially Uzbek which can be written with 2 different alphabets. Actually it's fascinating that Uzbek has been using 3 different scripts for its language in the 20th century (arabic, cyrillic and latin). The cyrillic to latin migration is still in progress today: https://en

[2019-11-28 13:48] xetys opened #10843 "it is possible to generate UAA without database (again)"
##### **Overview of the issue**

We had this already here: #7889 and it was fixed.

But it is possible again to create UAA servers without Database, which obviously leads to trouble.

##### **JHipster Version(s)**
6.5.1 + current

-   [X] Checking this box is mandatory (this is just to show you read everything)

[2019-11-28 13:50] alexis-puska commented on #10565
@DanielFran may the force be with you 👍

[2019-11-28 14:07] avdev4j commented on #8846
@FernandaCG
Have you any idea how you will face with this issue?
It's not as easy as we can think. You are welcome to share any ideas you want, if you think we can improve this behaviour by using a component or a trick. Be careful we need to think also to react and vue implementation.

I already analyzed this issue and I didn't find any natural way to fix it. I'm glad to help you if you need ;)

[2019-11-28 14:27] xetys commented on #10770
btw, the fix is part of #10763

so waiting until that PR is checked and hopefully merged

[2019-11-28 15:10] PierreBesson commented on #10770
I would rather remove the liveness check entirely for now.

[2019-11-28 17:57] #10843 closed

[2019-11-29 16:11] Pranavism opened #10850 "Ngx-translate not working with ng-jhipster version 11"
* **Overview of the request**

Upgraded jhipster gateway to angular 8 ,
with  "ng-jhipster": "^0.11.5", translations are not getting picked up.

Just after upgrade first issue encountered :

compiler.js?ad3e:2420 Uncaught Error: Template parse errors:
The pipe 'translate' could not be found

Then imported TranslateModule in shared modules.
The error is gone but translations are not getting picked

[2019-11-29 21:16] cbornet commented on #10269
FYI I don't know if something has changed but I do have PR analysis working with the free sonarcloud.

[2019-11-29 22:02] pascalgrimaud commented on #10575
To people who think React is better than Angular: can you help on this ticket plz ?
https://github.com/jhipster/generator-jhipster/issues/10824
The build for React + sqlfull is broken since long time.

I'm stuck with this, so I can't improve the CI builds to do same tests for Angular / React.
Thanks in advance

[2019-11-30 01:14] kaidohallik commented on #10850
I see that in `package.json` you have reference to `generator-jhipster` version `5.7.2`.

Current version of the generator is `6.5.1` and this is using `ng-jhipster` version `0.11.4`, latest version `0.11.5` also works fine with the code generated by `generator-jhipster` version `6.5.1`

We are testing latest `generator-jhipster` and `ng-jhipster` together and when releasing a new version of the `

[2019-11-30 01:50] kaidohallik commented on #10850
PR done: jhipster/ng-jhipster#117

[2019-11-30 07:36] #10850 closed

[2019-11-30 07:41] #10372 closed

[2019-11-30 09:59] deepu105 commented on #10575
I'll try to take a look

On Fri, 29 Nov 2019, 11:02 pm Pascal Grimaud, <notifications@github.com>
wrote:

[2019-11-30 17:02] harald2013 opened #10855 "UUID variable ${uuidType} not used in change set sample data"
##### **Overview of the issue**

When generating code with a JDL file and using the UUID type, the create created code in the change set file config/liquibase/changelog/20191130021938_added_entity_Item.xml uses
<column name="identifier" type="${uuidType}"> for createTable but <column name="identifier" type="string"/> for loadData.

When starting the application, an error occurs when liquibase trie

[2019-11-30 18:00] #10782 closed

[2019-11-30 18:10] ruddell commented on #10855
Thank you for reporting and filling out the issue template.  This looks to be fixed in the latest release (v6.5.1) by https://github.com/jhipster/generator-jhipster/pull/10776 and https://github.com/jhipster/generator-jhipster/pull/10767

Let me know if you have further issues.

[2019-11-30 18:10] #10855 closed

[2019-11-30 20:35] harald2013 commented on #10855
Thank you, I can confirm that it is fixed in 6.5.1.

[2019-12-01 08:33] vishal423 commented on #10469
Latest spring security recommends using Granted authority naming conventions like `SCOPE_<actual-scope>`. Check [docs](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2resourceserver-jwt-authorization).

[2019-12-01 13:30] monzertaq commented on #4659
Hello,
I started the registry, and it works really fine, but all the other projects (uaa server, gateway and microservice) are giving the error, which is:
java.lang.IllegalStateException: Could not locate PropertySource and the fail fast property is set, failing
this happens on production profile, I built all the 4 projects into jar files and ran them.

[2019-12-01 13:42] #9891 closed

[2019-12-01 20:44] qmonmert commented on #9891
I claim my money :) https://opencollective.com/generator-jhipster/expenses/11978

[2019-12-01 20:44] jdubois commented on #9891
Already paid, I trust you :-P

[2019-12-01 20:45] qmonmert commented on #9891
thanks @jdubois :)

[2019-12-01 20:46] pascalgrimaud commented on #9891
you're too fast @jdubois !
thanks for the hard work @qmonmert !!

[2019-12-01 20:46] qmonmert commented on #9891
thanks @pascalgrimaud ;)

[2019-12-02 07:56] pascalgrimaud commented on #10678
Just give a quick try, and I can confirm the issue

[2019-12-02 10:00] kaidohallik opened #10858 "Unididectional OneToOne misses entity-is-null in back end"
##### **Overview of the issue**

If not using entity filtering (`jpaMetamodelFiltering=false`) then into `EntityResource.java` is for `OneToOne ownerSide=false` generated filter parameter with value `entity-is-null` and this filter is used in the front end if `clientFramework=angularX`.

Problem is that if it's unidirectional `OneToOne` then this relationship information is completely missing in t

[2019-12-02 10:42] FlorinAlexandru commented on #10770
I saw the problem but I don't understand it very well. Can someone explain it to me please?

I created an app using jhipster command line tool. Afterwards, I used the sub-command jhispter kubernetes to  generate the k8s files. I deployed then the app in AWS K8s. I logged to a pod, installed wget and run some wget command against _/management/info_  and _/management/health_. The output is bellow:

[2019-12-02 11:02] avdev4j opened #10859 "Generated classes are not automatically set as sources"
##### **Overview of the issue**
When using generated classes, like when choosing open-api option, they are not automatically added as project sources.

By default  maven exclude the entire target folder.

##### **Motivation for or Use Case**
Improve the developer experience by automatically adding generated classes as project sources.

##### **Reproduce the error**
Generate a JHipster application

[2019-12-02 13:30] xetys commented on #4659
hey @monzertaq

As in the two comments before, please do not comment on such old issues. We consider this one as closed, and if it is not, please open a new one with more details on your configuration, error messages and more. Otherwise, we will have issues to support you.

Thanks

[2019-12-02 13:57] xetys opened #10860 "node_modules exclusion impacts DX on IntelliJ"
##### **Overview of the issue**

With PR #9036 we added these lines to our build.gradle

[code]

While this makes sense for non-client applications, this impacts developer experience for working with frontend frameworks.

If you are using Angular, IntelliJ offers similar features as in Java when it comes to auto-import, interpret templates, auto-complete etc. IntelliJ does this by indexing `node_m

[2019-12-02 16:27] DanielFran opened #10862 "Update Keycloak to 8.0.1"
Highlights:
* LDAP Issue

This release fixes a critical vulnerability in LDAP introduced in Keycloak 7. If you are using Keycloak 7.0.0, 7.0.1 or 8.0.0 in production we strongly suggest that you upgrade immediately.
* WildFly 18.0.1.Final

Upgrade to WildFly 18.0.1.Final which includes updates to a number of CVEs in third-party libraries.

[2019-12-02 16:59] avdev4j commented on #10859
Currently, I'm struggling with this feature. It seems adding the plugin has no value at all and does not fix the problem.
The things I succeed is to add the generated classes in my classpath like that:
`./mvnw idea:idea`
or after generating sources click on `re-import project` in maven menu

For eclipse case, doing
`./mvnw eclipse:clean eclipse:eclipse` (the clean seems to be important while you a

[2019-12-02 18:00] pascalgrimaud commented on #10860
To have better visibility, plz add a 'area' label. I'm adding enhancement here

[2019-12-02 19:34] pascalgrimaud commented on #10817
Thanks to @jdubois for adding me as admin to SonarCloud organization

Here the link of the Organization: https://sonarcloud.io/organizations/jhipster/projects
Then, I need to:
- update the link of Sonar at jhipster.tech
- remove completelely Travis

[2019-12-03 07:43] pascalgrimaud commented on #10817
All work is done, so I'm closing this.
I'll open a new ticket for each repo, to migrate to GitHub Actions too

[2019-12-03 07:43] #10817 closed

[2019-12-03 14:10] monzertaq commented on #4659
Oh, I am really really sorry @xetys
in fact, it worked with me, I noticed that I did change anything in the application-prod.yml nor bootstrap-prod.yml files.
I am sorry again.

[2019-12-03 15:30] mraible opened #10867 "Gradle requires Git to start the app"
We're teaching a JHipster Workshop at The Progressive Web Experience today and told students they didn't need to have Git installed. Creating the app w/o Git installed works, but running the app with `gradlew` (on Windows) fails if Git isn't installed.

##### **Overview of the issue**

Gradle requires Git to run.

##### **Motivation for or Use Case**

Git shouldn't be a requirement to run JHipster

[2019-12-03 16:53] PierreBesson commented on #10770
@FlorinAlexandru please use stackoverflow for general questions.

[2019-12-03 17:38] mraible commented on #8585
This seems to be caused by the addition of a `@Transactional` annotation to *Resource classes. If you remove it, it works.

[2019-12-03 17:58] mraible commented on #10867
I was able to reproduce this on Windows 10 in Parallels. There is a warning about Git not being installed when you generate the app.

[code]

And the install process finishes successfully. There is an error about rimraf.

[code]

And then it fails when you run `gradlew`:

[code]

It seems like the `generateGitProperties` task should be skipped when Git isn't installed.

[2019-12-03 17:58] atomfrede commented on #10867
Will have a look. At least I was aware of that and thought we had agreed on having it like this. The maven plugin fails "smart" right? It looks like the Gradle git plugin should handle the case not being in a git directory too. Maybe we have some configuration which prevents it.

[2019-12-03 18:03] atomfrede commented on #10867
Looks like there is a property to set how the non existing git folder should be handled by the plugin. Will provide a pr later today I think

[2019-12-03 20:33] mraible opened #10870 "Config Server service name is not translated in Health Checks"
##### **Overview of the issue**

If you create a microservices architecture with i18n and JHipster Registry, the "Cloud Config" service is not translated properly in the health checks screen.

<img width="1271" alt="Screen Shot 2019-12-03 at 3 27 39 PM" src="https://user-images.githubusercontent.com/17892/70087167-c9760000-15e1-11ea-8924-5c27f9e1ec57.png">

##### **Motivation for or Use Case**

Al

[2019-12-04 08:01] #10867 closed

[2019-12-04 10:34] oussamasic commented on #1685
In my case of a similar problem, instead of using Andrew's suggestion for the fix, it worked simply after I introduced <pluginManagement> tag to the pom.xml in question. Looks like that error is due to a missing <pluginManagement> tag. So, in order to avoid the exceptions in Eclipse, one needs to simply enclose all the plugin tags inside a <pluginManagement> tag, like so:

[code]

[2019-12-04 10:34] oussamasic commented on #1685
@OAlQuaseer

[2019-12-04 11:48] pascalgrimaud commented on #10860
We need to discuss about it.
See my comments at https://github.com/jhipster/jhipster.github.io/pull/859

I'm not sure it's good for demo or our end-users who don't have Ultimate license with Intellij.

[2019-12-04 12:46] vishal423 opened #10875 "Incorrect mssql-jdbc driver dependency"
##### **Overview of the issue**
`mssql-jdbc` driver dependency version `8.1.0.jre8` specified in the `jhipster-dependencies` bom is not available in the maven central repository. It will cause build failure.

##### **Motivation for or Use Case**

Refer discussion https://github.com/jhipster/jhipster/commit/ac03c6e7040bcda5c8155bdab043ba31b9d4add3#r36264116
##### **Reproduce the error**
Select MS S

[2019-12-04 12:47] vishal423 commented on #10875
@DanielFran, I have raised an issue to track this.

[2019-12-04 12:57] xetys commented on #10860
For the documentation, I would just add these infos to the doc page.

About the PR...well, we use the idea plugin, so this is already limiting the issue for idea users only.

I don't know, how big the difference in index time is as of today. I have some good and some poor devices. But with current versions of IDEA it is acceptable for me...

[2019-12-04 14:01] pascalgrimaud commented on #10860
Unless I'm wrong, I think :

- users who will be happy by this change:
    - users who use Idea Ultimate + code the front in Idea

- users who won't be happy by this change:
    - users who don't have Idea Ultimate but Idea Community, so can't code the front here
    - users who will open project with Idea Ultimate only for demo -> speaker
    - users who got Idea Ultimate but don't code the front

[2019-12-04 14:42] AxessLab opened #10876 "Add support for using spring Liquibase contexts in heroku profile"
##### **Overview of the feature request**
Add support for spring Liquibase contexts being used by the maven-liquibase-plugin that is run when deploying on heroku

When deploying to heroku using the generated jhipster heroku setup, changeSets marked with specific contexts are not followed, instead all changeSets are always run. This is because Spring doesn't run liquibase, maven does.

Adding the `

[2019-12-04 19:49] atomfrede commented on #10860
After thinking about it again I think we should leave it as is. Personally I do not use Idea for frontend development (most of the time) and we would give everyone not having the ultimate edition a worse experience. Maybe we can do a twitter poll to have at least some data how our users are doing development?

[2019-12-04 21:44] mohamedzaki90 opened #10877 "JhiAlertComponent can't handle Arabic param"
##### **Overview of the issue**
When using a localized Alert message for entity create/update with Arabic param the displayed alert param is not handled correctly.

##### **Motivation for or Use Case**
The business may require hiding persistence ids from the presentation in favor of some business field which could be in Arabic.

##### **Reproduce the error**
Generate sample application with locali

[2019-12-04 23:24] #10875 closed

[2019-12-05 03:25] kaidohallik commented on #10870
This can be caused by this change in `spring-cloud-config` project: https://github.com/spring-cloud/spring-cloud-config/commit/513353b8e7580df1ca6f24eccdd2cf4c126855a1#diff-ec84b704fc84b98ce1e406eaf1130212L68-R68

[2019-12-05 05:05] kaidohallik commented on #10870
I debugged and found out that indeed health keys are coming from bean names and suffix `HealthIndicator` is removed from final key, call stack:

1. `org.springframework.boot.actuate.autoconfigure.health.HealthIndicatorAutoConfiguration.healthIndicatorRegistry`

2. `org.springframework.boot.actuate.autoconfigure.health.HealthIndicatorRegistryBeans.get`:

* gets all beans by type `HealthIndicator.cl

[2019-12-05 07:06] #10870 closed

[2019-12-05 15:37] Kelvijn opened #10884 "No default value one-to-many selectbox"
##### **Overview of the issue**

When you create an entity with a one-to-many relationship and then creating an entity, it looks like there is a value selected for the required relation, but when submitting you get an exception.
You have to select a value yourself.
##### **Motivation for or Use Case**

It should be clear to the user that you have to select a value instead of showing the first one

[2019-12-05 15:58] RobertMolenda opened #10885 "Release 6.5.1 clean setup will generate liquibase change log"
##### Release 6.5.1 clean setup will generate liquibase change log

A clean setup of JHipster will cause the first 'mvn liquibase:diff' to generate a change log

##### **Motivation for or Use Case**

After a clean stand up of JHipster - and prior to importing a jdl no database changes should be expected for the core application

##### **Reproduce the error**

(windows commands)
mkdir newapplicatio

[2019-12-05 22:19] nuba opened #10887 "New project (6.5.1) w/ postgresql, liquibase:diff won't find FixedPostgreSQL95Dialect and liquibase:diff changelog output fails to execute"
##### **Overview of the issue**

In a clean, new, project, using postgresql, liquibase won't find the custom jhipster postgresql driver dialect, and switching that driver results in a liquibase:diff output that fails to run.

This is partially similar to #10885, created earlier today.

##### **Motivation for or Use Case**

I expect a newly created project to output no changes with liquibase:diff,

[2019-12-06 00:49] nuba commented on #10887
Solved the driver issue by adding ```io.github.jhipster``` as a dependency for liquibase inside the appropriate ```pom.xml``` section, under ```project > build > pluginManagement > plugins > plugin```

[code]

[2019-12-06 01:23] nuba commented on #10887
Liquibase was going for the wrong constraint name. I decided to name them explicitly, as shown below, and the problem went away.

[code]

And it looks like the liquibase community is fine with it dropping and creating the same constraint again: https://stackoverflow.com/questions/42033408/liquibase-always-generating-changesets-for-creating-dropping-index

Even though some might consider it a *noop

[2019-12-06 02:25] FernandaCG commented on #8846
@avdev4j

Hi, I have try to set a default time, I mean current day and time at 12:00 am.

<img width="263" alt="Screen Shot 2019-12-05 at 3 38 20 PM" src="https://user-images.githubusercontent.com/28972973/70280283-530a0700-1775-11ea-9e6e-ab5897415a77.png">

My other option is to use just another component, or change the type of the input to date, and set time by default too.

[2019-12-06 03:20] nuba commented on #10887
Just pushed the fixes above to my repo, each step in a separated commit, hope it helps whoever's triaging this issue and also those running into the same problem.

https://github.com/nuba/bug-report-jhipster-liquibase/commits/master

Thanks guys for jhipster! :)

[2019-12-06 06:16] pmverma commented on #10887
I can confirm the driver's issue.
This is a regression coming after #10736 where default PG dialect was replaced with custom dialect hence needing to import ` <artifactId>jhipster-framework</artifactId>` in plugin dependencies to load the related class file.

@nuba Can you do a PR as you have mentioned in https://github.com/jhipster/generator-jhipster/issues/10887#issuecomment-562383926?

[2019-12-06 08:05] atomfrede commented on #10887
Is this related to https://github.com/jhipster/generator-jhipster/issues/10885?

[2019-12-06 09:24] pmverma commented on #10887
@atomfrede Actually there are two issues here.
One being PG dialect while another is the SQL constraint.

[2019-12-06 11:03] PierreBesson commented on #10565
Is someone working on the spring boot 2.2 migration ? I don't see any blocker to do it. Can I go forward with it ?
Also spring boot 2.2.2 is already out https://spring.io/blog/2019/12/06/spring-boot-2-2-2-is-now-available

[2019-12-06 11:20] DanielFran commented on #10565
@PierreBesson I have something working, just missing Elastic upgrade.
This is available in specific branchs...

[2019-12-06 11:24] PierreBesson commented on #10565
You are the best @DanielFran !

[2019-12-06 11:34] DanielFran commented on #10565
@PierreBesson Focused on SB 2.1.11 update last 2 days, now will continue to work on SB 2.2.
@pascalgrimaud Do you plan a new version soon? Might need a new one due to https://github.com/jhipster/generator-jhipster/issues/10887 and https://github.com/jhipster/generator-jhipster/issues/10885 bugs

[2019-12-06 14:05] sniffertine opened #10888 "Align equals implementation of DTOs and entities"
##### **Overview of the feature request**
In this change, equals implementation of entities has changed:
https://github.com/jhipster/generator-jhipster/pull/9022/files

The semantics of equals in DTO classes is identical (except instanceof check vs class check), but implemented very differently.

--> Change generated code for DTOs to use same semantics
--> Maybe consider to use instanceof for DTOs

[2019-12-06 14:34] deepu105 commented on #10565
Awesome guys

Thanks & Regards,
Deepu

On Fri, Dec 6, 2019 at 12:34 PM Daniel Franco <notifications@github.com>
wrote:

[2019-12-06 15:23] abenneke opened #10889 "How is the language currently selected in ngx-translate available in API calls on the server side?"
##### **Overview of the issue**

When the user selects language X via `ngx-translate` `TranslateService` in the Angular UI and the application invokes a REST API call, how is X transported to the server side and available in/for Springs `MessageSource` (for example) during the REST API call processing?

##### **Motivation for or Use Case**

The REST API implementation wants to prepare the data ret

[2019-12-06 15:35] atomfrede commented on #10889
I think it also would make sense to save the language the user selected in the frontend, such that they must not set it explicitly in the profile settings (https://github.com/jhipster/generator-jhipster/issues/10566).

[2019-12-06 17:44] nuba commented on #10887
@pmverma I didn't close the issue from the commit because liquibase is still trying to drop constraints that don't exist, and that's still unaddressed, so far.

Would you like me to add the unique constraints annotations, too? But I'm not so sure it won't break things, as jhipster supports many databases, and they're a finicky bunch, aren't they? huh... anyways, let me know!

[code]

[2019-12-06 18:19] amatosg opened #10891 "Booleans are not save against null values"
##### **Overview of the issue**
If my db, for any reason, has a boolean value as `null` it will trigger a NPE.

##### **Motivation for or Use Case**
I'm getting NPEs

##### **Reproduce the error**
Set a Boolean value to null and try to access it :)

##### **Related issues**
None that I know of.

##### **Suggest a Fix**
Let's replace
[code]
with
[code]
##### **JHipster Version(s)**
6.5.1

-   [x] C

[2019-12-06 18:48] ruddell commented on #10891
Where does the NPE happen?  Is it when mapping the database row to the entity, or are you comparing `isActive()` to something else somewhere?

I couldn't reproduce with a default project.  I could list entities, edit, delete, and view an entity with a null Boolean field.  It may relate to your generation choices, could you please add full instructions to reproduce (a sample `.yo-rc.json` and JDL f

[2019-12-06 19:01] amatosg commented on #10891
for instance, I have this line (it might not be optimal though):
[code]
if the one of the addresses has `active` as null, I get NPE. Having `Boolean.TRUE.equals(active)` will make it save on `null` values.

[2019-12-07 06:41] pascalgrimaud commented on #10565
@DanielFran : it could be cool a new release before the end of the year :-)

[2019-12-07 17:04] qmonmert commented on #10884
@Kelvijn I tried to reproduce but it seems to work, the selectbox are empty by default and it means that there is no value
![image](https://user-images.githubusercontent.com/9989211/70378033-ff85ed80-191b-11ea-9383-ea734fd445a5.png)

[2019-12-07 19:40] mraible commented on #7608
@cbornet I'd like to help get the Reactive support "good enough" to release as GA. Is this issue's TODO list up-to-date? If so, I can start working on OAuth support and maybe entity generation. Let me know.

[2019-12-07 21:18] #8585 closed

[2019-12-07 21:20] pascalgrimaud commented on #10099
I think it's not the priority now, we have too much opened tickets to focus on.
So I suggest to close this, and we can rethink about it later when there are less ticket

[2019-12-07 21:20] #10099 closed

[2019-12-07 21:22] cbornet commented on #7608
Yes the TODO is up to date. Your help on the OAuth support is very welcome if course 😀! Thanks a lot Matt !

[2019-12-08 00:50] mraible commented on #7608
Do you think all checkboxes are necessary for a GA release or can we hide some and add them as we implement them?

[2019-12-08 06:55] kaidohallik commented on #10832
I looked at `ng-jhipster` and at `ngx-translate` and here is my conclusion.

According to `ngx-translate` documentation:

* if you want to escape HTML, then use some method from here: https://github.com/ngx-translate/core#4-use-the-service-the-pipe-or-the-directive

* if you want HTML to be interpreted then use this: https://github.com/ngx-translate/core#5-use-html-tags

And what I see in `ng-jhip

[2019-12-08 06:55] #10832 closed

[2019-12-08 08:50] kaidohallik commented on #10877
Problem is described (limitation of HTTP headers) and solution (URLEncode HTTP parameter) is provided in this SO question: https://stackoverflow.com/questions/11213160/sending-utf-8-values-in-http-headers-results-in-mojibake

I made quick test.

In JHipster server side library changed this line https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/web

[2019-12-09 03:42] kaidohallik commented on #10877
I made some more tests and found out that + sign needs special treatment in Angular side after switching JHipster server side library to generate urlencoded HTTP header, so in my testing then both these 2 solution are working in Angular side:

* `alertParams = new HttpUrlEncodingCodec().decodeValue(event.headers.get(entry).replace(/\+/g, ' '));`

* `alertParams = decodeURIComponent(event.headers.g

[2019-12-09 07:31] pascalgrimaud commented on #9027
closed by https://github.com/jhipster/generator-jhipster/pull/10763

[2019-12-09 07:36] #10840 closed

[2019-12-09 08:40] xetys commented on #10469
are you sure about deprecation? I just checked some docs like https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide and https://docs.spring.io/spring-security-oauth2-boot/docs/current-SNAPSHOT/api/deprecated-list.html and can't deprecation warnings...

[2019-12-09 08:54] xetys commented on #10770
@PierreBesson as #10763 was merged, the endpoints are currently back to health.

As we discussed this here, I would suggest to keep it like this, until Spring Boot 2.2 is merged. Then I can PR a better solution with Health Endpoint customization

[2019-12-09 08:54] xetys commented on #10770
P.S. I reopen this, to keep in mind this is still to do

[2019-12-09 08:54] vishal423 commented on #10469
check this https://github.com/spring-projects/spring-security-oauth/issues/1805

[2019-12-09 08:57] xetys commented on #10469
I see...so they assume I copy the scope as SCOPE_XXX into authorities? I don't like this, but if that's the only way...

[2019-12-09 09:02] pascalgrimaud commented on #10770
thanks @xetys

[2019-12-09 09:09] vishal423 commented on #10469
there was an attempt in #10075, however, the developer closed that request.

[2019-12-09 09:46] pmverma commented on #10887
Thanks @nuba, before adding your mentioned constraints, we need to check the following liquibase column definition.
May be liquibase has changes the way it checks/loads the definition files.

[code]

vs

[code]

I also see there is a difference between constraint names.

[2019-12-09 09:48] mohamedzaki90 opened #10898 "jhipster ci-cd generates jenkins.yml with a deprecated jenkins image"
##### **Overview of the issue**
When using jhipster ci-cd it generates a docker compose jenkins.yml file with jenkins:latest
this image is now deprecated in favor of the jenkins/jenkins:lts

The current jenkins image does not install the suggested plugins and fail with errors

##### **Motivation for or Use Case**
The jenkins.yml is very useful for local dev and testing

##### **Reproduce the error

[2019-12-09 10:42] nuba commented on #10887
As a side note:

Have you considered the idea of generating the classes, only? And have liquibase flex its muscles to generate the initial changelogs? It's something that could be done right after the app is generated.

* User points to his blank state database of choice.
* Run `liquibase:diff` in `dev` or `prod` against that database, that's the bulk of the initial changelog.
* Update. Then, in t

[2019-12-09 15:30] kaidohallik opened #10902 "If generator and generated app are using different Prettier version then regeneration can show differences"
##### **Overview of the issue**

If generator and generated app Prettier version differ, which is the case ATM:

* generator-jhipster: 1.16.4
* Angular: 1.18.2
* React: 1.18.2

then on regeneration can occur differences if not skipping Git commit hooks, because:

* on initial generation is app committed to Git which runs Prettier in generated app
* on regeneration Git commit is not done and source