[2022-08-12 09:10] atomfrede commented on #19342
Not sure, but yes it might be related. It sounds like by default optimistic locking is active now

[2022-08-12 10:07] gmarziou commented on #19401
@atomfrede it's just a spring boot application with spring-boot-eureka-starter, similar to what the jhipster-registry is but without any UI. So if you idea is to use this starter as a replacement for jhipster-registry, yes it can work if you don't use other features, you just need a pom and one class to build it.

The benefit from using this starter is that Spring team updates vulnerable dependenc

[2022-08-12 10:50] mshima commented on #19342
@mraible since you opened https://github.com/jhipster/generator-jhipster/issues/19399 to track relationships.
https://github.com/jhipster/generator-jhipster/pull/19357 can be reviewed since it fixes this bug.

[2022-08-12 10:50] atomfrede commented on #19401
Just came across this baeldung post, it looks like there is some kind of ui https://www.baeldung.com/spring-cloud-netflix-eureka. For sure less powerful than the jhipster registry, but better than nothing.

[2022-08-12 10:55] mshima commented on #19399
@mraible https://github.com/jhipster/generator-jhipster/pull/19402 fixes the problem for Neo4j, fill free to merge it.
Postgres will be more complex. I’ve already done some work on it, but in the process I will do some cleanup at the templates and split into another PR.

[2022-08-12 13:17] dwarakaprasad commented on #19389
Currently I am loading my built-in entity(s) in the blueprint's app sub-generator (as this is the earliest in the run-queue that I can load from) and while writing mocha unit tests for the entity sub-generator (testing relationship with built-in entities) I realized that I cannot write tests targeting just the entity sub-generator as the built-in entities are loaded in the app sub-gen and so unfor

[2022-08-12 15:45] mraible commented on #19399
@mshima I can confirm this particular issue is fixed by your PR! I confirmed with Vue and Angular. Feel free to close it, or leave it open for PostgreSQL.

[2022-08-13 09:03] #19342 closed

[2022-08-13 17:58] UbaidurRehman1 commented on #19334
Hi @vishal423

## Quick Fix
The quickest and smallest fix is to change `prometheus-simpleclient.version` from 0.16.0 to 0.15.0 in [jhipster-dependencies](https://github.com/jhipster/jhipster-bom/blob/main/jhipster-dependencies/pom.xml).

The resultant dependency tree is following on changing `prometheus-simpleclient.version` from 0.16.0 to 0.15.0:

[code]
so, here we can see the dependency version

[2022-08-14 00:05] jackpunt opened #19407 "named relationship generates reference to undefined accessor method"
##### **Overview of the issue**
This JDL below produces [correctly] the method: `GameInst.props()` to access the extended `GameInstProps`

However, the associated GameInstResource.java refers to `.ifPresent(gameInst::gameInstProps)`
Which does not exist.
`The type GameInst does not define gameInstProps(GameInstProps) that is applicable here`

Also, the associated GameInstResourceIT.java refers to

[2022-08-15 00:29] mraible commented on #19338
I'll close this soon if no identity provider is provided.

[2022-08-15 00:32] mraible commented on #19247
Increasing bounty to accelerate delivery. 😀

[2022-08-15 00:35] mraible commented on #19123
Thanks for the bug report, @indiepopart! I added a bug bounty. Please create a PR if you have time.

[2022-08-15 00:38] mraible commented on #19103
I think this could be a good idea if someone contributes and maintains it. Otherwise, it's likely to become a maintenance burden and will hurt the project more than it will help.

[2022-08-15 03:40] narendracode commented on #19401
I integrated  Zookeeper using [curator](https://github.com/apache/curator) in one of my blockchain based projects. If that's something in option then I can help with it.

[2022-08-15 05:06] mraible opened #19419 "Kubernetes JDL is invalid after upgrading to 7.9.2"
##### **Overview of the issue**

I have the following JDL for Kubernetes (from [`reactive-mf.jdl`](https://github.com/jhipster/jdl-samples/blob/main/reactive-mf.jdl)):

[code]

When I run `./kubectl-apply.sh` on the generated `kubernetes` folder, there's an error:

[code]

##### **Motivation for or Use Case**

I think I've tried this with previous versions and there was no error.

##### **Reproduc

[2022-08-15 05:27] mraible commented on #19342
I can confirm that https://github.com/jhipster/generator-jhipster/pull/19357 fixes this bug and that Angular and React + microfrontends works without issues!

With Vue, I get errors when I create apps with `jhipster jdl reactive-mf --client-framework vue` and run all apps with Gradle.

<img width="1429" alt="Screen Shot 2022-08-14 at 23 25 52" src="https://user-images.githubusercontent.com/17892/1

[2022-08-15 07:35] yelhouti commented on #19247
@vidhya03 I'm back from vacation if you are not available to work on this anymore I can take the lead :)

[2022-08-15 09:17] mshima commented on #19342
@mraible the PR changes angular only.

[2022-08-15 09:53] vishal423 commented on #19334
I think downgrading to a compatible version should be fine. @DanielFran, do you agree with this?

Irrespective of this change, I also suggest adding a CI test to detect such failures in a future dependency upgrade.

[2022-08-15 09:55] vishal423 commented on #19247
@yelhouti, there is an open PR. If you can also contribute to the same, you both can divide the bounty.

[2022-08-15 10:04] yelhouti commented on #19247
@vishal423 There are no change in the first PR as fare as I can tell (except version number), as you might now, there some manual work that needs to be done. ie. export/import the files, change that no changes has been made. Implement some improvement to specified here: https://www.keycloak.org/2022/07/keycloak-1900-released
ex: add the --auto-build flag / remove the optimized (change the docs to

[2022-08-15 11:17] mshima commented on #19342
looks related to webpack.
try removing `build/webpack` and recreating package-lock.json and node_modules.

[2022-08-15 12:19] DanielFran commented on #19334
@vishal423 @UbaidurRehman1 created PR to downgrade the version to 0.15.0

Can you take care of the test to avoid regressions?

[2022-08-15 13:57] mraible commented on #19342
@mshima I tried again this morning with the `main` branch and everything works as expected.

[2022-08-15 14:14] vidhya03 commented on #19247
@yelhouti  can take the bounty , i am new to this, getting to understand step by step.  i have struck up with the environments configuration.  keycloak bootup  successfully ,  however i tried to setup up the failed tests use case locally,  But stuck with npm install :( , just trying with vscode devcontainer to simulate the use case.

[2022-08-15 17:01] yelhouti commented on #19247
@vidhya03 thanks I will start working on it right away

[2022-08-15 18:20] JeroenAdam commented on #19309
Same here for a fresh app generated by Jhipster v7.9.2
I used the same JDL from a running app which was generated by Jhipster v7.4.1, no such issue with that app.
Keycloak server v16.1.1

How to reproduce in 2 easy steps with Postman:

Obtain an access token via POST request to /realms/jhipster/protocol/openid-connect/token
These 5 keys in body: client_id client_secret username password
grant_type

[2022-08-15 18:52] atomfrede commented on #19309
Thanks for the reproducer. Will have a look what's changed between 7.8.x and 7.9.x

[2022-08-15 21:05] #19373 closed

[2022-08-15 21:20] ertunga commented on #19373
@mshima I think we can merge this without waiting. Mentioned lines in the issue are wrapped with if checks that make sure the fields are there. Even the fields can be null or undefined, because of the ngIf ?. can be removed here.
`
            <div *ngIf="post.blog">
              <a [routerLink]="['/blog', post.blog.id, 'view']">{{ post.blog?.name }}</a>
            </div>
`

[2022-08-15 21:25] mshima commented on #19373
@ertunga looks correct thanks for the example.

[2022-08-15 22:00] mshima commented on #19342
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/90547.

[2022-08-15 22:04] mshima commented on #19380
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/90548

[2022-08-15 22:11] mshima commented on #18570
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/90550.

[2022-08-15 23:44] mraible opened #19433 "Sonar ends in error: no inputs were found in the config file"
##### **Overview of the issue**

I created a new application with the `main` branch today and when I try to test its code quality with Sonar, I get an error.

Command used (from the application's `README`):

[code]

Error:

[code]

Sending the data to Sonar seems to have worked, but this error at the end is frightening.

<img width="997" alt="Screen Shot 2022-08-15 at 17 40 07" src="https://user-i

[2022-08-16 11:21] rgordeev commented on #19309
Same problem. Are there any ideas, what the reason?

[2022-08-16 12:02] atomfrede commented on #19309
Not sure, it seems like a change in a 3rd party dependency (com.nimbusds:nimbus-jose-jwt). Will need to take a deeper look.

[2022-08-16 15:10] AdhiyamanMuthu opened #19450 "Could not run commands "npm start" and "./mvnw" to run the application."
Changes to package.json were detected.
Jhipster\firstapp\\target\node\npm.cmd was unexpected at this time.
Error executing './npmw install', execute it yourself. (Command failed with exit code 255: ./npmw install)
Application successfully committed to Git from D:\5) Jhipster\firstapp.

If you find JHipster useful consider sponsoring the project https://www.jhipster.tech/sponsors/

Server applicati

[2022-08-16 17:19] jsm174 commented on #19309
Correct. It is not the default setup.

[2022-08-16 17:29] mraible commented on #19309
I wonder if it's because of the access token you're obtaining through Postman? The backend of a JHipster app acts as a resource server by default. That's how we support our Ionic and React Native blueprints. The authentication happens on the mobile app with Keycloak, then the access token is used to communicate with the API. The API is smart enough to look up the user's details (first name, last n

[2022-08-16 17:42] JeroenAdam commented on #19309
FYI, beside Postman, I also have the same error when trying to populate some data via [Node-Red ](https://nodered.org/). The error already occurs on the first GET request to obtain the XSRF-TOKEN, normally that works (with a valid Bearer token), and a second request follows with JSON data (eg. adding some entity).

[2022-08-16 17:53] mraible commented on #19309
Regardless, I don't think this is a bug since everything works just fine when you use Ionic or React Native and call JHipster's APIs.

If you'd like to create a PR to fix things so it works for you, I can test with Ionic/React Native and see if everything still works.

[2022-08-16 17:59] DanielFran commented on #18570
@mshima approved

[2022-08-16 18:02] jsm174 commented on #19309
This approach has worked in JHipster 6+. I have been religious at updating our websites every JHipster version.

If you look at the workaround I posted in the issue that is how I am getting around it.

This is exactly what we are doing.

[2022-08-16 18:41] #19302 closed

[2022-08-16 19:23] mraible commented on #19309
To try and figure out if something is broken in 7.9, I cloned the example from my [Ionic tutorial](https://developer.okta.com/blog/2022/05/12/ionic-angular-jhipster). It uses 7.8.1, so I figured it'd be best to make sure that still works first.

[code]

It does, so I tried upgrading the backend using `npx jhipster upgrade`. After fixing conflicts, I stopped all the Docker containers and restarted

[2022-08-16 19:38] jsm174 commented on #19309
Thanks for the PR. For clarity, this is not a Keycloak 18 issue.  I don't even think its a Keycloak issue.

[2022-08-16 19:54] mraible commented on #19309
FWIW, I converted my backend to be reactive and everything works with Ionic. No workaround is needed.

[2022-08-16 20:07] mraible commented on #19309
I tried creating a JHipster + Ionic app with [blog-oauth2.jdl](https://github.com/jhipster/jdl-samples/blob/main/blog-oauth2.jdl) and Okta. This workaround is not needed.

[2022-08-16 20:30] jsm174 commented on #19309
Can you get a copy of your access token and decode it, and see what the `iat` and `exp` values are?

ie, are they values similar to:

[code]

[2022-08-16 23:21] mraible commented on #19309
Here's a sample access token:

[code]

If I decode it at jwt.io, it says:

[code]

[2022-08-17 00:03] dalyc commented on #19334
This is my solution until this is fixed...

[code]

[2022-08-17 00:10] dalyc commented on #19334
Would bumping the simpleclient_bom version fix this issue? The following is taken from the 7.9.2 dependencies on mvnrepository.com

![image](https://user-images.githubusercontent.com/946190/185005975-7721eb1f-49b2-426d-b7c4-4dcdea1c1746.png)

[2022-08-17 00:20] jsm174 commented on #19309
Thanks. I took your token and attempted to get into the `CustomClaimConverter`:

[code]

`iat` and `exp` are `java.util.Date` in yours too.

The difference between your token from Okta and my token from Keycloak, is that mine includes `given_name` and `family_name`.

That alters the flow in `CustomClaimConverter`

[code]

Could you try to add `given_name` and `family_name` to your okta claims, and

[2022-08-17 01:26] mraible commented on #19309
If I try adding given and family name claims, you are correct, authentication does fail. If you have these values in your access token, you really don't need the `CustomClaimConverter` in your project. However, putting identity information in access tokens is also a bad practice.

[2022-08-17 01:51] mshima commented on #19309
@mraible can you test https://github.com/jhipster/generator-jhipster/pull/19454?

[2022-08-17 02:11] mraible commented on #19309
@mshima Good eye! Such a small change and it totally solves the problem. Well done! 👊

[2022-08-17 03:06] #19309 closed

[2022-08-17 04:44] naul23541 commented on #18531
I got problem like he , may you help me solve this problem ?

[2022-08-17 06:51] UbaidurRehman1 commented on #19419
Hi @mraible, @vishal423  can you please assign this issue to me? I'd like to fix this issue on my weekend.
Thanks

[2022-08-17 06:55] UbaidurRehman1 commented on #19433
Hi @mraible, @vishal423 can you please assign this issue to me? I'd like to fix this issue on my weekend.
Thanks

[2022-08-17 07:54] gmarziou commented on #19309
Why @mraible ?

[2022-08-17 07:58] mraible commented on #19309
@gmarziou Because access tokens are only meant for authorization and can be opaque (a random string of characters, and not a JWT), as specified by the [OAuth 2.0 spec](https://oauth.net/2/access-tokens/). ID tokens are where identity information belongs. That's why we switched from looking for ID information in the access token to looking it up from `/userinfo` when it wasn't available.

[2022-08-17 08:00] mraible commented on #19450
What version of JHipster are you using? It'd be a lot easier for us to help you if you filled out the template when creating an issue.

[2022-08-17 08:02] mraible commented on #19353
Please re-open and provide your JDL so we can reproduce it.

[2022-08-17 08:02] #19353 closed

[2022-08-17 08:02] mraible commented on #19383
If you'd like to contribute and maintain this feature, we're interested!

[2022-08-17 08:03] mraible commented on #19338
Closing due to lack of response.

[2022-08-17 08:03] #19338 closed

[2022-08-17 08:04] mraible commented on #19149
Added bug bounty to get this fixed.

[2022-08-17 08:05] mraible commented on #19328
@psk788 Are you able to contribute a PR for this feature? Contributing is one thing, maintaining it for years to come is another. Choose wisely.

[2022-08-17 08:06] mraible commented on #19247
@yelhouti I'm happy to test your PR!

[2022-08-17 08:07] mraible commented on #19241
@MathieuAA Can you examine this JDL and determine the issue?

[2022-08-17 08:13] #15744 closed

[2022-08-17 09:35] MathieuAA commented on #19241
I see the typo "fammilyTag", but I guess that's just a typo.
I'm looking into it right now

[2022-08-17 09:52] bendeguz-szatmari opened #19461 "App regeneration from JDL conflicts on whole file in case of contect and and line ending (LF -> CRLF) change"
##### **Overview of the issue**

Below you can find an example for the issue for my typescript model file.

One line change was made in the model file (settlement property's type):

Marked for removing in diff mode:
[code]

Marked for adding

[code]

##### **Motivation for or Use Case**

It is hard to see the real difference between the old and the new file.

##### **Reproduce the error**

1. Gene

[2022-08-17 09:58] atomfrede commented on #19461
What is your setting for git and line endings? In particular `core.autocrlf` setting?

[2022-08-17 10:16] atomfrede commented on #18897
Indeed the prompt is wrong I think. Regarding updating a non reactive gateway to a reactive one, I guess we should document it somewhere (not sure if we can just remove the generated caching classes). We missed to make that clear when 7.x was released this is a kind of breaking change

[2022-08-17 10:19] bendeguz-szatmari commented on #19461
It is set to true:
[code]

[2022-08-17 11:05] atomfrede commented on #18804
Going to work on this later today, so we could have it in the next 7.9 release @DanielFran

[2022-08-17 11:45] mshima opened #19462 "Migrate to docker-compose v2"
##### **Overview of the feature request**

docker-compose v1 is deprecated, we should migrate to v2.
We should refactor docker compose files support during migration.

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-08-17 12:13] yelhouti commented on #19247
@mraible thanks, what I am doing right now is documenting how all this should be done, since its wastes a lot of time to merge every time:
here is some of the doc:

We first generate a new project and run keycloak using docker-compose to import the real exported with the previous version (this should work due to backward compatibility).

Then, we re-export the realm like this:
[code]

To easily me

[2022-08-17 13:04] mshima commented on #19241
There is no issue, this is the current default behavior.
Need to pass eagerload=true parameter.

[2022-08-17 14:23] jsm174 commented on #19309
@mshima - awesome job! Thank you very much.

@mraible - quick question:

Makes sense. The main reason I continue to build services with JHipster is the hundreds of eyeballs and best practices.

Out of the box, JHipster's realm config for keycloak seems to expose everything through the access token:

https://github.com/jhipster/generator-jhipster/blob/a4084738c07aab14ac2fec5e02043a4caef16117/genera

[2022-08-17 14:28] mraible commented on #19309
I'm not sure we need to adjust our default Keycloak config because we don't expect people to use it in production. In fact, we don't even generate Keycloak files for Kubernetes.

I do think it would be useful to create (or link to) a guide for hardening and configuring Keycloak in production.

[2022-08-17 14:42] khadijakaimous commented on #19360
i have the same issue, i cannot run the client#end with jhipster. i have the LTS version of node and java 11 and npm 8.

[2022-08-17 14:43] khadijakaimous commented on #19360
npm ERR! code ENOENT
npm ERR! syscall spawn bash
npm ERR! path C:\Users\HP\Documents\projects\jhipster
npm ERR! errno -4058
npm ERR! enoent spawn bash ENOENT
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\HP\AppData\Local\npm-cache\_logs\2022-08-17T14_24_53_567Z-debug-0.log
× An error

[2022-08-17 14:53] DanielFran commented on #19360
@khadijakaimous Since you are on windows, can you delete .npmrc file and confirm it is working?

[2022-08-17 16:48] lucarota commented on #19450
Hi,
I am not OP, but I have the same problem using JHipster 7.9.2 and 7.9.0.
Using JHipster 7.8.1 everything is fine.

[2022-08-17 17:52] jsm174 commented on #19309
Cool.

fwiw, just spent some time removing identity information from Keycloak access tokens. Then I noticed users wouldn't update until server recycled, and then found: https://github.com/jhipster/generator-jhipster/issues/18868.

I don't feel so bad now 😄

[2022-08-17 19:50] #18804 closed

[2022-08-18 00:50] mshima commented on #19269
Documentation implemented at https://github.com/jhipster/jhipster.github.io/pull/1223.

[2022-08-18 05:53] gmarziou commented on #19309
Thanks @mraible for the explanation, I did forget about the differences between access and ID tokens, it makes perfect sense now.

[2022-08-18 09:26] atomfrede commented on #18534
@mshima I guess this is done now (via https://github.com/jhipster/generator-jhipster/pull/19184 and https://github.com/jhipster/generator-jhipster/pull/19205)? If so let's close this and please claim the bounty.

[2022-08-18 12:04] MathieuAA commented on #19241
Indeed, the JDL looks good

[2022-08-18 15:40] mraible commented on #19419
@DanielFran Can you please add a new milestone for the next release (e.g., 7.9.3)? That way we can add issues like this one that we want to be fixed in it.

[2022-08-18 15:45] mshima opened #19464 "Update to Spring Boot 2.7.3"
##### **Overview of the feature request**

Spring Boot 2.7.3 is available https://spring.io/blog/2022/08/18/spring-boot-2-7-3-available-now

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-08-18 15:48] mshima commented on #19464
cc @DanielFran.

[2022-08-18 17:01] DanielFran commented on #19419
@mraible Yes, will do it today

[2022-08-18 17:50] mshima opened #19467 "Add sonar report to PRs."
##### **Overview of the feature request**

Add sonar reports to PRs to avoid regressions.
It's not possible to use sonar cloud due to token restrictions.
We need to implement our own solution using sonar at docker.

##### **Motivation for or Use Case**

Keep the generated code quality high.

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everyth

[2022-08-18 19:33] DanielFran commented on #19419
@mraible milestone 7.9.3 created

[2022-08-18 19:57] bprussell opened #19470 "JhiItemCount not getting updated properly if i18n is enabled"
##### **Overview of the issue**

Total page count does not get updated on the `JhiItemCount` component when `i18nEnabled` is set to `true`.

##### **Motivation for or Use Case**

The item count component above the pager control shows an incorrect number of total items in the list if the list is filtered after the initial render.

##### **Reproduce the error**

I have a list of entities, and the pa

[2022-08-18 19:58] mraible commented on #19419
Thanks!

[2022-08-18 20:22] RizziCR commented on #18729
Hey..

I have so StackoverflowError with v7.9.2 on OneToOne relations. If I put @Transient to both sides, not only on one, it work's for me. I don't know if it is also on previous versions.

[2022-08-18 21:44] #19464 closed

[2022-08-19 06:03] mraible commented on #18793
Adding bug bounty for investigation.

[2022-08-19 06:05] mraible commented on #19450
Should be fixed in 7.9.2. Please re-open and include your JDL or `.yo-rc.json` to reproduce.

[2022-08-19 06:05] #19450 closed

[2022-08-19 06:48] ko5tik commented on #18729
I think it was already taken care of at least in the development version.

========[] Lines game back in Appstore - check it out! []===============
https://play.google.com/store/apps/details?id=de.pribluda.games.android.lines

Blog:  https://www.pribluda.de

On Thu, 18 Aug 2022 at 22:22, Rizzi ***@***.***> wrote:

[2022-08-19 13:53] ghacupha opened #19477 "Enumeration values not rendering properly on the angular client: Missing interpolation"
##### **Overview of the issue**

The options of an enumeration do not render properly on the template of an angular client. To display the values of the enumeration within an entity, the generator creates a loop with the *[ngFor](https://angular.io/api/common/NgForOf) directive within the custom option tag.
But the result is one only sees the class name of the enumeration.
This is because the clas

[2022-08-19 15:57] mshima commented on #19399
Closing since the bug is fixed. I'm planing a follow-up PR targeting v8.

[2022-08-19 15:57] #19399 closed

[2022-08-19 21:34] markos3d opened #19482 "user-management-update.component.ts - create new user"
##### **Overview of the issue**

With update to Angular 14, save method in user-management-update.component.ts is refactored and user cannot be created.

##### **Motivation for or Use Case**

Cannot create new user

##### **Reproduce the error**
1. Generate and start app
2. Login and navigate to Administration/User management
3. Click on "Create a new user"
4. Populate form and save
5. Response co

[2022-08-20 00:57] mshima commented on #17008
I could not reproduce. Closing let me know if still persists.

[2022-08-20 00:57] #17008 closed

[2022-08-20 00:59] mshima commented on #19482
Fixed in main. Duplicate of https://github.com/jhipster/generator-jhipster/issues/19369.

[2022-08-20 00:59] #19482 closed

[2022-08-20 01:01] mshima opened #19484 "Drop protractor."
##### **Overview of the feature request**

Protractor is deprecated and should be dropped.

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-08-20 14:29] gmarziou opened #19486 "JDL import fails on "Class constructor GAstVisitor cannot be invoked without 'new'""
##### **Overview of the issue**

It seems JDL parsing is broken.

Several users have reported it on stackoverflow:

https://stackoverflow.com/questions/73422380/cannot-import-jdl-file-using-jhipster

##### **Motivation for or Use Case**

##### **Reproduce the error**

Generate a monolith then import a simple JDL:

[code]

The JDL parsing fails:

[code]

##### **Related issues**

##### **Suggest a

[2022-08-20 14:50] mshima commented on #19486
I’ve posted at chevrotain repository https://github.com/Chevrotain/chevrotain/issues/1845

[2022-08-21 11:11] alina-yur commented on #13604
Just ran into this as well:)

[2022-08-21 21:49] mshima commented on #19486
Should be resolved.

[2022-08-21 21:49] #19486 closed

[2022-08-21 22:15] mplawley opened #19491 "Missing i18n keys causing translation-not-found errors in the admin health UI"
##### **Overview of the issue**

Two missing i18n keys are causing `translation-not-found` errors in the admin health page:

![i18n-bug-screenshot](https://user-images.githubusercontent.com/6279541/185812991-19f48ef7-e59f-4b65-af15-aa56467d605f.jpg)

##### **Motivation for or Use Case**

The admin health page should not have translation-not-found errors.

##### **Reproduce the error**

- Generate

[2022-08-22 02:49] mraible commented on #19491
I can confirm this is an issue. I've seen it recently. I believe it happens because the keys are tied to service discovery and they shouldn't be.

[2022-08-22 07:27] vishal423 commented on #19247
I am doubtful about the overall gain and maintenance aspect of the programmatic generation of JSON. I would rather automate the process of applying JHipster customizations on top of the default, however, that's a different aspect and could be done outside the Jhipster codebase as a standalone repository/script.

[2022-08-22 08:26] lucarota opened #19500 "I can't execute the newly generated application"
##### **Overview of the issue**

I can't execute the newly generated application. Running mvnw I get Build Failure.

[INFO]
[INFO] --- frontend-maven-plugin:1.12.1:install-node-and-npm (install-node-and-npm) @ testerror ---
[INFO] Node v16.16.0 is already installed.
[INFO] NPM 8.15.1 is already installed.
[INFO]
[INFO] --- frontend-maven-plugin:1.12.1:npm (npm install) @ testerror ---
[INFO] Runni

[2022-08-22 11:06] #19149 closed

[2022-08-22 11:59] mshima commented on #19491
I've managed to reproduce, but the error is that spring-cloud(-started) is been included as dependency, when it should not.

[2022-08-22 13:52] mshima commented on #18534
@atomfrede new need to check if reactive implementation matches imperative.

[2022-08-22 22:36] mshima opened #19504 "Transitive dependency breaking change."
##### **Overview of the issue**

This is the second transitive dependency breakage in 3 days =\

Cause https://github.com/salesforce/tough-cookie/issues/246.

angular and vue tests are broken.

Pinning `tough-cookie` at 4.0.0 should workaround the problem.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Versi

[2022-08-23 02:02] mraible commented on #19419
@saturnism Any idea how to fix this? Here's what is generated in the the `store-mongodb.yml` file:

[code]

Error is:

[code]

[2022-08-23 02:26] mraible commented on #19433
I tried this again today with the above `.yo-rc.json` and the `main` branch. There are a bunch of test failures:

[code]

[2022-08-23 02:31] mraible commented on #19433
The test failures seem to happen because of the `jwtSecretKey`. I deleted it from `.yo-rc.json` and regenerated the application. Then, I ran:

[code]

The tests still fail:

[code]

[2022-08-23 02:49] mshima commented on #19433
@mraible main is having this problem too.
Probably caused by https://github.com/jhipster/generator-jhipster/issues/19504

[2022-08-23 02:52] #19123 closed

[2022-08-23 09:21] Casinoburst opened #19515 "Sponsor bug"
hi guys,

Started bronze sponsor for uudetkasinot.com and spinsify.com/uk, it told me to get a link and logo on jhipster, its been a week and they are not added, can you pls do that?

Thanks

[2022-08-23 13:43] ongrieh commented on #19500
Same here...Since 7.9.2 I get `npm ERR! command bash` on Windows related to @fortawesome. Possibly related to https://github.com/FortAwesome/Font-Awesome/issues/19243 and https://github.com/FortAwesome/Font-Awesome/issues/18803 but I may be wrong.

[2022-08-23 14:33] ongrieh commented on #19500
...and even more important related to https://github.com/jhipster/generator-jhipster/issues/19225 and https://github.com/jhipster/generator-jhipster/pull/18936. So hopefully it will be fixed with 7.9.3 :)

[2022-08-23 14:42] mraible commented on #19500
Can y'all try and see if it's fixed on the `main` branch?

[code]

Then, go to a new directory and create your app.

[code]

[2022-08-23 16:04] ongrieh commented on #19500
Thanks @mraible for the quick reply. Deleting the generated .npmrc worked as a workaround for me as suggested by @OmarHawk here https://github.com/jhipster/generator-jhipster/issues/19350.

[2022-08-23 16:13] lucarota commented on #19500
Using the `main` branch, it works.
For now, I'll use the workaround as @ongrieh but when will the version with the fix be available?

Thank you!

[2022-08-23 16:15] mraible commented on #19500
This fix will be included in the 7.9.3 release. You can track it at https://github.com/jhipster/generator-jhipster/milestone/208.

[2022-08-23 17:35] deepu105 commented on #19419
@mraible could it be you applied this on an existing cluster?

[2022-08-23 17:43] joe-bookwood opened #19518 "liquibase-maven-plugin fails whith liquibase:diff in fresh generated jhipster 7.9.2 project"
When I run in a fresh installed jhipster 7.9.2 project:
[code]
it fails.

##### **Motivation for or Use Case**
I used the liquibase diff feature often in older versions without problems. It generate automatic the liquibase xml files.

##### **Reproduce the error**
Generate an new project or check out my [test project](https://github.com/joe-bookwood/jhipster-test) and run `./mvnw liquibase:diff co

[2022-08-23 17:56] mraible commented on #19419
I experienced it with minikube. If I run `minikube delete` and start minikube again with `minikube start`, it works! Thanks for the tip. I'll close this issue.

[2022-08-23 17:56] #19419 closed

[2022-08-23 20:13] atomfrede commented on #19515
We get the data from the opencollective api. I guess this is you? So I don't see any issue here.
<img width="676" alt="image" src="https://user-images.githubusercontent.com/203401/186256625-d54fdb77-a0b7-40de-9db4-e9bbc5c40427.png">

[2022-08-23 20:13] #19515 closed

[2022-08-23 22:07] #19504 closed

[2022-08-23 22:44] mraible commented on #19500
Closing this issue since it's fixed in the next release.

[2022-08-23 22:44] #19500 closed

[2022-08-24 01:04] vishal423 commented on #19247
@yelhouti, are you interested to complete this? Otherwise, I will take a look

[2022-08-24 06:32] #17115 closed

[2022-08-24 06:32] #19461 closed

[2022-08-24 06:35] #18533 closed

[2022-08-24 06:35] #19491 closed

[2022-08-24 06:36] yelhouti commented on #19247
@vishal423 sorry I forgot to answer you first message, I never talked about generating the full javascript automatically but rather have a json with all the options as the default, then clean it depending on the needs (ex: remove jhipster-registry client when not needed...) which I think is what you mean by "automate the process of applying JHipster customizations on top of the default" if we agre

[2022-08-24 06:53] atomfrede commented on #18471
Should we focus in e.g. [javers version ](https://javers.org/documentation/spring-boot-integration/) or maybe even create a javers blueprint and start from scratch?

[2022-08-24 08:43] Casinoburst commented on #19515
Its for the sites uudetkasinot.com and spinsify.com, also on opencollective but different account.
________________________________
Från: Frederik Hahne ***@***.***>
Skickat: den 23 augusti 2022 22:13
Till: jhipster/generator-jhipster ***@***.***>
Kopia: John Clark ***@***.***>; Author ***@***.***>
Ämne: Re: [jhipster/generator-jhipster] Sponsor bug (Issue #19515)

We get the data from the opencol

[2022-08-24 08:57] vishal423 commented on #19247
let's do the upgrade to close this ticket. automation can be done as part of a separate task

[2022-08-24 09:03] atomfrede commented on #19515
They are not returned by the open collective api yet. Not sure if there is something we can do. Will checkif the api allows paging or so and we have exceeded the default number, but at least the uri says "all"

[2022-08-24 09:13] atomfrede commented on #19515
Playing around with the raw api does not return the other sponsors. Seems like an open collective issue

[2022-08-24 09:18] Casinoburst commented on #19515
ok cool, do you have any contact to open? Any support mail etc?
________________________________
Från: Frederik Hahne ***@***.***>
Skickat: den 24 augusti 2022 11:13
Till: jhipster/generator-jhipster ***@***.***>
Kopia: John Clark ***@***.***>; Author ***@***.***>
Ämne: Re: [jhipster/generator-jhipster] Sponsor bug (Issue #19515)

Playing around with the raw api does not return the other sponsors.

[2022-08-24 11:28] mshima commented on #19433
@UbaidurRehman1 have you managed to identify the problem?
Can I take a look to clear 7.9.3 milestone?

[2022-08-24 11:36] UbaidurRehman1 commented on #19433
Hi @mshima
I am not able to identify the problem yet, if its urgent then please go ahead.

Thanks

[2022-08-25 03:22] yelhouti commented on #19247
I dont this we can skip the automation, exports do Not include passwords (they can't) because some are hashed. We should at least automate setting passwords or document that for the next person upgrading...

[2022-08-25 04:01] mraible commented on #19247
I'd prefer to do it manually like we've done in the past so we can release JHipster 7.9.3. We can also push this upgrade to the next release since it's not necessary.

[2022-08-25 04:01] mraible commented on #19433
Re-assigned to @mshima.

[2022-08-25 04:05] yelhouti commented on #19247
They are more changes in this Release than the previous One, few fields have been added to the json... If anyone wants to finit manually Please go ahead. I ll automate in the next Release If you want.

[2022-08-25 10:29] vishal423 commented on #19247
I will take a look. Thanks @yelhouti

[2022-08-25 13:30] mshima commented on #18471
There is javers support, I will start migration.

[2022-08-25 13:44] #19470 closed

[2022-08-25 13:45] mshima commented on #19470
Sorry for delay, I wanted to test in a project, but the fix looks correct, lets move on.

[2022-08-25 13:47] qmonmert commented on #19470
@mshima no problem, thanks

[2022-08-25 13:49] qmonmert commented on #19470
@pascalgrimaud @jdubois @DanielFran I claim my bounty https://opencollective.com/generator-jhipster/expenses/91724 :)

[2022-08-25 14:18] atomfrede commented on #18471
Yes, I think both implementation could do the same (I did the javers part back in the days). Just thinking to remove the custom part and rely on what javers does.

[2022-08-25 14:35] DanielFran commented on #19470
@qmonmert approved

[2022-08-26 06:19] atomfrede opened #19551 "Future of heroku support"
##### **Overview of the issue**

See https://blog.heroku.com/next-chapter

Personally I really love our heroku support and I guess @mraible use it a lot for demos and I think also in the jhipster minibook. But with free dynos and free postgres gone I am not sure we should (or even can) support the heroku subgen as we do right now.

##### **Motivation for or Use Case**

No accidental cost for our u

[2022-08-26 09:54] johan-westin-private opened #19552 "webapp:test target fails on minimal monolit application when generated after 20 August 2022"
INFO! Switching to JHipster installed locally in current project's node repository (node_modules)

Welcome to JHipster v7.9.2

Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "applicationTy

[2022-08-26 10:27] emilpaw commented on #19551
Considering that according to JHipster Statistics Heroku is with 50% usage by far the most popular cloud deployment option I don't think the support should be dropped soon.

Dropping it could be considered again if Heroku's market share plummets after they stop offering free products.

In the docs for Google Cloud the user is also informed to make sure they are using a free tier. I think adding a

[2022-08-26 10:29] emilpaw commented on #19551
Aren't other cloud deployment options also not free, for example, AWS?

[2022-08-26 10:33] atomfrede commented on #19551
Thats true, but for heroku (more or less) we promise to only use free options/tiers. With heroku sunsetting free dynos I think there is no easy, free deployment option left (especially for demonstrations purposes etc).

[2022-08-26 10:36] atomfrede commented on #19551
In particular this also means we can't test and maintain it anymore. For AWS it was contributed externally from a user having AWS access, for glcoud we used our own free credits to test it out, but not everyone has access of course, so the circle of maintainers are pretty limited.

[2022-08-26 12:34] mraible commented on #19551
With an annual budget of 150,000 USD, I think we can afford to pay for testing on Heroku and other providers. 😉

https://opencollective.com/generator-jhipster

[2022-08-26 12:52] atomfrede commented on #19551
True, but I am just thinking of the organizational issues :D Right now I can startup my vs code at any time, deploy an app for testing to heroku and fix a bug or so.

[2022-08-26 13:23] mraible commented on #19551
Is there a free alternative that allows you to deploy Java apps? Maybe Digital Ocean, but I think they only offer a 30-day free trial.

[2022-08-26 14:31] atomfrede commented on #19551
Personally I use dokku, but of course the serve must be paid. The digital ocean app platform pricing I never really understood :) And I think the free tier is for static websites only. Databases cost always

[2022-08-26 20:13] naris opened #19554 "JHipster upgrade always fails initially but usually will eventually work"
##### **Overview of the issue**

Every Time I upgrade a project (any project form any version to any other version of jhipster) it always fails with:

[code]

Fortunately I can usually revert the changes and/or abort pending merge if there is one, re-checkout the original branch and it usually works the 2nd or 3rd time.

I am using the generator-jhipster-primeng-blueprint (which is why I had to ge

[2022-08-26 20:19] mraible commented on #19554
Can you try `npx jhipster upgrade` and see if your results are any different?

[2022-08-26 20:38] naris commented on #19554
That is what I have been doing.

[2022-08-26 22:51] mraible opened #19555 "Fix Security hot spots as identified by Sonar"
Related to https://github.com/jhipster/generator-jhipster/pull/19531#issuecomment-1229021895:

##### **Overview of the issue**

There are some security hot spots that could use repair

<img width="1282" alt="Screen Shot 2022-08-26 at 16 48 04" src="https://user-images.githubusercontent.com/17892/187000214-1ab9e3dc-e83f-4e6f-8618-c1f2fb586af5.png">

<img width="1275" alt="Screen Shot 2022-08-26 at

[2022-08-27 00:44] #19247 closed

[2022-08-27 02:09] mshima commented on #18471
The custom implementation can support others databases and reactive.
I don't think javers has reactive support.

An interesting follow up is to let jhipster generate the `EntityAuditEvent`, repository and rest endpoint.
So it would be generated using the implementation (reactive/imperative/database) standard and allow to use others features like pagination and criteria. And add a basic react/vue s

[2022-08-27 08:21] mshima commented on #19552
There was a transitional dependency breaking change the fix is https://github.com/jhipster/generator-jhipster/commit/5a297792ac13e684e55bb367468e92124cca6389

[2022-08-27 08:47] johan-westin-private commented on #19552
Hi,

Thanks for the work around!
It works great with my own URL as well :-).

Best regards,
Johan Westin

[2022-08-27 09:00] emilpaw commented on #19555
I think none of these two are an issue.

1. The data comes from the server and the regex itself is fine.
2. This is formatting for file sizes where the input is always a base64 encoded string so there is no way to inject malicious regex there.

[2022-08-27 09:17] emilpaw commented on #19383
Related to: https://github.com/jhipster/generator-jhipster/issues/14526

[2022-08-27 13:17] Tcharl commented on #19216
Hi,

You can add your customized classes relative path followed by the yeoman strategy you want to apply (here 'skip') to a '.yo-resolve' file located at your root of your project. It will ignore the regen next times: https://www.jhipster.tech/tips/035_tip_combine_generation_and_custom_code.html#pattern-2---split-generated-code-and-custom-code

[2022-08-27 13:17] #19216 closed

[2022-08-27 13:21] Tcharl commented on #18907
@egvimo if you ever find this leak please fix!
I wasn't 100% sure when implementing this class and there are not that much samples of usage in there...

[2022-08-27 13:26] mraible commented on #19555
In that case, can we tell Sonar to ignore these issues somehow?

[2022-08-27 13:27] Tcharl commented on #19241
Yes, lazy loading is the default

[2022-08-27 13:27] #19241 closed

[2022-08-27 13:30] #19552 closed

[2022-08-27 15:06] #18471 closed

[2022-08-27 16:09] #19433 closed

[2022-08-27 16:14] mraible commented on #19555
Maybe we should add the [`eslint-plugin-sonar`](https://github.com/SonarSource/eslint-plugin-sonarjs) to catch these issues sooner?

[2022-08-27 18:35] #17529 closed

[2022-08-27 19:44] #19555 closed

[2022-08-27 19:51] qmonmert commented on #19555
@DanielFran https://opencollective.com/generator-jhipster/expenses/91996 :)

[2022-08-27 20:17] DanielFran commented on #19555
@qmonmert approved

[2022-08-27 20:18] qmonmert commented on #19555
@DanielFran thanks

[2022-08-27 20:47] gmarziou commented on #19518
Have you tried updating liquibase-maven-plugin to 4.15.0 ?

[2022-08-27 21:35] gmarziou commented on #19518
I made some tests like upgrading liquibase to 4.15.0, forcing version on dependency to liquibase-test-harness 1.0.6, nothing helped.

I then ran maven with -X option and got the error that seems to indicate that the problem is in Liquibase.

[code]

[2022-08-27 21:40] mraible commented on #19518
It looks to me like a DB2 license issue.

[2022-08-27 22:22] mshima commented on #19518
Profile (dev or prod) may be required. Cannot test in the moment.

[2022-08-27 22:59] mraible commented on #19554
I tried installing JHipster 7.0.1 and generator-jhipster-primeng-blueprint@7.0.4, then used your `.yo-rc.json` to create an app. It doesn't work, so I'm closing this issue. Please re-open if you have instructions for reproducing that work on Node 16.

[code]

[2022-08-27 23:01] mraible commented on #19554
If I use JHipster version 7.6.0 (as specified in your `.yo-rc.json` file), it doesn't work either:

[code]

[2022-08-28 07:33] gmarziou commented on #19518
So I tried to run with dev profile: no change, expected as dev is the default profile.

For prod profile, I had to start postgresql using:

    docker compose -f src\main\docker\postgresql.yml up -d

And then

    mvnw.cmd liquibase:diff -Pprod

<summary>
Maven claims success with a very long output from which I removed all the artifacts it puts in its classpath
</summary>
<details>
[INFO] Scannin

[2022-08-28 14:28] zhyd1997 commented on #19551
Hi 👋

Maybe [Azure ](https://azure.microsoft.com/en-us/free/) is a good choice 👀.

[2022-08-28 14:35] naris commented on #19554
You have to create the project using JHipster version 7.0.1 and node 15 as that is the only version that currently works with generator-jhipster-primeng-blueprint blueprint. that blueprint hasn't been updated for quite a while and I have been working on my companies projects for 60-80 hours/week so have not had the time to try to figure out the code and attempt to update it myself.

Sice note, com

[2022-08-28 14:44] mraible commented on #19182
We should check with the author of the JHipster JDL plugin for IDEA. I'd hate for their hard work to be impacted by this change.

https://plugins.jetbrains.com/plugin/19697-jhipster-jdl

[2022-08-28 16:12] mraible commented on #19551
Azure seems to be only free for 30 days. From the website linked above:

[2022-08-28 16:18] emilpaw commented on #19182
I already worked on migrating some files to TS in https://github.com/jhipster/generator-jhipster/pull/19558. So far it seems the code migration itself will be rather straightforward. But I think it might be better to just first configure the compilation and build of the project before working on migrating the code. I started to work on the configuration here: https://github.com/jhipster/generator-

[2022-08-28 16:20] mraible commented on #19554
You are correct. I'm sorry about that. I probably shouldn't work weekends. I'll try with Node 15.

[2022-08-28 16:36] mraible commented on #19555
This does fix the problem mentioned in this issue. However, there are still 16 code smells.

[JHipster code smells.pdf](https://github.com/jhipster/generator-jhipster/files/9440073/JHipster.code.smells.pdf)

[2022-08-28 16:43] qmonmert commented on #19555
@mraible good, maybe open an other issue

[2022-08-28 16:45] qmonmert commented on #19555
There are 184 code smells on the main branch

[2022-08-28 17:22] mraible commented on #19554
If I use Node.js 15, creating the project fails as well.

[code]

If I remove the `primeng-blueprint` from the `.yo-rc.json` and try again, creating the project works.

If I run `npx jhipster upgrade`, it fails with the following error:

[code]

[2022-08-28 17:33] mraible commented on #19554
The changelogDate makes me think it might be caused by having no entities, so I created entities using the JDL for the entities you provided. Then, I tried `npx jhipster upgrade` again. It fails gain, this time because of Node 15.

[code]

I upgraded to Node 16.17.0 and tried again.

[code]

It still fails:

[code]

I'll add a bug bounty to this issue in hopes of getting it fixed.

[2022-08-28 17:37] mraible commented on #19551
I think we should keep Heroku's support as I still think we'll be able to get free credits for testing and students will be able to get free credits too.

From the blog post linked in this issue's description:

It'd also be cool to talk to the folks at Heroku (ping @jkutner) to see if we can get credits to hand out at conferences after we do demos with Heroku.

[2022-08-28 17:39] mraible commented on #19467
Adding bug bounty to this as we seem to always find Sonar issues after the fact.

Would adding [`eslint-plugin-sonar`](https://github.com/SonarSource/eslint-plugin-sonarjs) help us catch these issues sooner?

[2022-08-28 17:42] mraible commented on #19389
@dwarakaprasad Does [local blueprint support](https://github.com/jhipster/generator-jhipster/issues/19269) solve this issue for you?

[2022-08-28 17:44] mraible commented on #14526
Added a bug bounty, but keeping it small since @ko5tik claims it's an easy fix.

[2022-08-28 17:46] mraible commented on #14309
Adding bug bounty to try and get this fixed for Windows users.

[2022-08-28 18:43] gmarziou commented on #14526
I still don't understand how it's going to look in frontend.
The fact that the key names are unknown means that the best we can do is to build a dynamic set of string form fields and this disables i18n.

[2022-08-28 19:03] mraible commented on #19555
Looks great now @qmonmert, nice work!

<img width="1272" alt="Screen Shot 2022-08-28 at 13 02 16" src="https://user-images.githubusercontent.com/17892/187090411-0265fea0-ad00-4f56-960e-de89d7d10f01.png">

[2022-08-28 19:04] qmonmert commented on #19555
@mraible 👍

[2022-08-28 19:09] gmarziou commented on #19467
Which code do you want to analyze on PRs? Generated code or the generator code itself?

Generated code means a lot of sonar invocations on each CI project.

[2022-08-28 19:42] mshima commented on #19467
Generated code

The idea is to keep limited to ngx-default for now.
It’s the only one we have sonarcloud.

We already generate the previous (main) code every time.
The idea is:
- cache junit/maven results at main.
- load junit/maven results at PRs.
- run sonar at loaded results.
- run sonar at new code results.
- should reports at console and fail when new issues is found.

[2022-08-28 23:46] zhyd1997 commented on #19551
Maybe it means have 30 days to use the $200 credit? 👀

[2022-08-29 04:22] atomfrede commented on #19551
Okay, sounds good. I will prepare the documentation already to reflect the price changes.

[2022-08-29 08:03] joe-bookwood commented on #19518
I used no profile (default, is dev) and the H2 database.

[2022-08-29 11:10] pascalgrimaud commented on #19467
One suggestion would be to have a look at this folder: https://github.com/jhipster/jhipster-lite/tree/main/tests-ci and specially this script [sonar.sh](https://github.com/jhipster/jhipster-lite/blob/main/tests-ci/sonar.sh)

[2022-08-29 12:02] AdamLevy123 commented on #19334
that one gives me:

`Exception in thread "SpringApplicationShutdownHook"
java.lang.AbstractMethodError: Receiver class org.springframework.cloud.sleuth.instrument.prometheus.LazySleuthSpanContextSupplier
does not define or inherit an implementation of the resolved method 'abstract boolean isSampled()'
of interface io.prometheus.client.exemplars.tracer.common.SpanContextSupplier.    
	at io.prometh

[2022-08-29 12:04] AdamLevy123 commented on #19334
that one gives me:

[2022-08-29 18:45] naris commented on #19554
Hmm.. I just checked and I actually have Node 16 and I am able to create a project
`    C:\src\jtest2  npm --version                                                                 ✔  14:18:37  
8.5.0

    C:\src\jtest2  node -v                                                            1.179s   ✔  14:18:41  
v16.14.2

    C:\src\jtest2  npm install generator-jhipster@7.0.

[2022-08-29 19:33] ko5tik commented on #14526
Not so easy to remember what  exactly I had in mind over a year ago.   I think I would like to have  this json parsed automatically on FE side ( I build little geo data editor back then,  and JSON was gpx data )

[2022-08-29 19:35] mraible commented on #14526
Would it be better to implement this as a blueprint initially? I hate to add new features because the maintenance cost can be high.

[2022-08-29 19:47] mshima commented on #14526
IMO JSONB only makes sense as an embedded Object, like `@Embedded` works currently.
https://github.com/vladmihalcea/hibernate-types#hibernate-6

[2022-08-29 19:51] naris commented on #19554
And the upgrade then fails as show above:
`    C:\src\jtest2   master  npx jhipster upgrade --skip-checks                                                                                        16.14.2   8m 53.176s   ✔  15:34:56  
INFO! Using JHipster version installed globally
INFO! No custom sharedOptions found within blueprint: generator-jhipster-primeng-blueprint at C:/src/jtest2

[2022-08-29 19:56] naris commented on #19554
Hmm... Those are different errors than what I saw :/

[2022-08-29 21:16] bluegaspode commented on #17691
In our enviroments only e2e tests run against the production and/or staging database.
We are very fine with Integration-Tests, that test the integration of all of our components/software layers within a full SpringBootContext. It doesn't need the production database, H2 has always been very good.

This change also makes integration with GitHub actions more complicated, as we now have to manage cac

[2022-08-29 23:49] dalyc commented on #19334
Thanks for letting me know Adam. I'm not actually using Sleuth - my issue was a dependency convergence issue so I'll remove my comment from here.

[2022-08-30 01:49] naris commented on #19554
Updating form 3.8.1 fails with a different error that doesn't resolve itself with multiple attempts like the previous error does :(

`npm ERR! code 127
npm ERR! path C:\src\totalfact\node_modules\@angular\cli
npm ERR! command failed
npm ERR! command bash -c node ./bin/postinstall/script.js
npm ERR! /bin/bash: node: command not found

npm ERR! A complete log of this run can be found in:
npm ERR!

[2022-08-30 03:08] mraible opened #19582 "Logging in with Auth0 fails"
##### **Overview of the issue**

I configured my app to use Auth0 and when I try to login, it results in an error:

[code]

##### **Motivation for or Use Case**

It used to work when I last tried it.

##### **Reproduce the error**

Create an app, integrate it with Auth0, try to login.

##### **Suggest a Fix**

In `UserService.java`, change the following conditional:

[code]

To this:

[code]

####

[2022-08-30 03:22] vishal423 commented on #19582
It seems a configuration issue on the `Auth0` side. Did you configure JHipster specific claims as documented over here https://www.jhipster.tech/security/#auth0 ?

[2022-08-30 03:33] mraible commented on #19582
That makes sense. I converted to using Actions as described in https://github.com/jhipster/jhipster.github.io/pull/1227. It seems I need a way to add this same logic to my action.

[code]

[2022-08-30 03:52] mraible commented on #19582
This seems to work:

[code]

I'll close this issue. Thanks for the review @vishal423!

[2022-08-30 03:52] #19582 closed

[2022-08-30 14:43] itmagus opened #19595 "findById cannot trigger onAfterConvert"
application {
  config {
    baseName xxx
    applicationType microservice
    packageName xxx.xxx.xxx
    authenticationType jwt
    prodDatabaseType mysql
    buildTool gradle
    serverPort 8080
    reactive true

  }
}

@Override
    public Mono<ContractModelDTO> partialUpdate(ContractModelDTO contractModelDTO) {
        log.debug("Request to partially update ContractModel : {}", contractModel

[2022-08-30 15:01] scyllor opened #19598 "It throws org.hibernate.HibernateException: identifier of an instance of c.q.i.City was altered from 1 to 2814 when using patch rest api"
##### **Overview of the issue**
it throws org.hibernate.HibernateException: identifier of an instance of c.q.i.City was altered from 1 to 2814 when using patch rest api to update a many to one relationship with dto * with mapstruct enabled

Here use same entity in hibernate session, but change the id if we want to partial update a relationship
![image](https://user-images.githubusercontent.com/232

[2022-08-31 02:23] marcuss opened #19604 "Newly created project won't compile (webapp)"
##### **Overview of the issue**
 With today's build, using a monolithic app, with no admin console, with mysql in memory, using Vue, no cache, session authentication, the generated project without changes does not build.

It fails with something identical to an old issue #4900

ERROR in ./src/main/webapp/content/scss/vendor.scss (./node_modules/css-loader/dist/cjs.js??clonedRuleSet-7.use[1]!./node

[2022-08-31 12:32] atomfrede opened #19615 "Separate gradle build logic (and other features)"
##### **Overview of the feature request**

I think our gradle part could have little make over for v8. In particular I am thinking of using some (precompiled) conventions, which reside in `buildSrc` directory. Having this the generated build.gradle file would in an optimal case just apply a few plugins and thats it.

Furthermore I would like to introduce gradle version catalogs to centralize the v

[2022-08-31 12:58] deepu105 commented on #19615
I'm all for simplifying and improving the gradle builds. I think we could
go the direction of generating pligins in buildSrc, i personally don't see
a big issue

On Wed, 31 Aug 2022, 2:35 pm Frederik Hahne, ***@***.***>
wrote:

[2022-08-31 15:02] thetric commented on #19615
Further documentation to the mentions Gradle features:

* conventions: https://docs.gradle.org/current/samples/sample_convention_plugins.html#compiling_convention_plugins
* version catalog: https://docs.gradle.org/current/userguide/platforms.html
** might be in TOML format instead residing inside `settings.gradle`: https://docs.gradle.org/current/userguide/platforms.html#sub::toml-dependencies-for

[2022-08-31 15:26] ascelineboullen commented on #13595
**New little update:**
About desktop proposition [https://rebrand.ly/jhipster](https://rebrand.ly/jhipster)
- I've modified/re-organized the structure and hierarchy for main page,
- split team section on another page (work in progress),
- add the quick start section with the video,
- and also add blueprints (at the end of the webpage. Bloc is in progress, I will modified the design if the structur

[2022-08-31 15:33] mraible commented on #13595
It looks awesome! Nicely done @ascelineboullen!!

[2022-08-31 18:47] qmonmert commented on #19604
I confirm the issue

[2022-08-31 19:00] qmonmert commented on #19604
error with theme `morph`, works with `darkly`

[2022-09-01 08:51] michaelstuecheli opened #19620 "Angular request-util.ts: Filters with value false are not processed properly"
##### **Overview of the issue**

Angular request-util.ts: Filters with value false are not processed properly

##### **Motivation for or Use Case**

 [CriteriaConstants.WATCH_ID__SPECIFIED]: false is ignored

##### **Reproduce the error**

set a BooleanFilter to false -> validate the created options

##### **Related issues**

no issue found

##### **Suggest a Fix**

generators/client/templates/ang

[2022-09-01 09:17] deepu105 commented on #13595
Looks great. Well done 👏

On Wed, 31 Aug 2022, 5:33 pm Matt Raible, ***@***.***> wrote:

[2022-09-01 09:20] jdubois commented on #13595
Yes that's great work!!! We also need better UX/UI for JHipster Lite, @pascalgrimaud

[2022-09-01 11:00] ascelineboullen commented on #13595
Thanks for your positive feedback! 🤩. I will finished module section & team page, and then I will modify the responsive view (on mobile) for the homepage.

Yes, we've discussed with Pascal about JHipster Lite and the better UX/UI needed. That's why I've opened an issue about graphical charter, to have a common graphic base defined before going further in the differents projects. And then, yes I co

[2022-09-01 14:59] mraible commented on #19604
@qmonmert Is this something we should (and can) fix?

[2022-09-01 15:00] qmonmert commented on #19604
I opened an issue https://github.com/thomaspark/bootswatch/issues/1206
I think it's not us

[2022-09-01 15:11] mshima commented on #19604
Maybe it’s not even an upstream bug.
We generate bootswatch@4 with bootstrap@5.
They should match.

[2022-09-01 15:59] #19269 closed

[2022-09-01 17:29] indrajit-sun opened #19621 "Generated Swagger UI doesn't show file upload button"
##### **Overview of the issue**

We've generated an application with Microservices architecture. It has Service Registry, API Gateway, and a few Microservices.

The entire app stack builds well, and we can log into the Service Registry and the API Gateway. We're using OAuth2.0(Keycloak).

We have successfully built a few Microservices, some of which expose endpoints where we expect one or more fil

[2022-09-01 18:33] qmonmert commented on #19604
`shade-color` is a Boostrap 5 function https://getbootstrap.com/docs/5.0/customize/sass/

<img width="826" alt="image" src="https://user-images.githubusercontent.com/9989211/187987240-c4d7900e-1dcf-4416-a1fe-70dec3782848.png">

but JHipster is still with Bootstrap 4

@marcuss you can switch your theme

[2022-09-02 13:44] dwarakaprasad commented on #19389
Thankyou @mraible for the response. I don't think the local blueprint would solve this issue.

The Current JDL feature does not support new configs defined by the blueprints i.e. lets say a blueprint introduces a new prompt called socialMediaLink that will be used in the template. The JDL parsing would fail if I add this socialMediaLink to the config section. So, unfortunately I will have to use a

[2022-09-02 13:46] dwarakaprasad commented on #19295
Based on my previous comment, closing this issue.

[2022-09-02 13:46] #19295 closed

[2022-09-02 16:00] mraible opened #19625 "DeprecationWarning: `getMutableCone` has been deprecated since v4.0.0"
##### **Overview of the issue**

When building an Angular app with v7.9.3, there's a deprecation warning in the console:

[code]

My guess is this is coming from webpack.

##### **Motivation for or Use Case**

Deprecation warnings provide a frightening user experience.

##### **Reproduce the error**

Create a new monolith with Angular.

##### **JHipster Version(s)**

[code]

##### **JHipster confi

[2022-09-02 16:15] mraible opened #19626 "Generating a reactive monolith with Maven, PostgreSQL, and H2 results in a compile error"
##### **Overview of the issue**

If you create a reactive monolith with the default databases, it fails to compile.

[code]

If I change my `.yo-rc.json` to use Gradle instead of Maven, it works just fine.

##### **Motivation for or Use Case**

Compilation should always work with a brand-new app.

##### **Reproduce the error**

Create a new reactive monolith and select the default databases.

####

[2022-09-02 16:28] mshima commented on #19625
I think it’s related to typescript 4.8. The fix, if we want to fix is to downgrade to 4.7.

[2022-09-02 16:29] mshima commented on #19625
IMO this warning is not a issue.

[2022-09-02 16:39] mshima commented on #19626
I’ve identified the problem.
It’s related to:
https://github.com/jhipster/generator-jhipster/blob/14a116c2644c3a150f8ccfad0734faf9ec8348c0/generators/server/templates/pom.xml.ejs#L2217-L2233

Happens only with Mac and m1 processor.
Due to how maven works. When a profile is activated, activateByDefault profiles are deactivated.

If the dependency is still required, the only fix is to start using pr

[2022-09-02 18:08] LuigiDurso commented on #16271
I solved this issue changing in "realm-config/jhipster-realm.json", the line 29 from "sslRequired": "external" to "sslRequired": "none"

[2022-09-02 18:15] mraible commented on #16271
Is this still an issue with the latest 7.9.3 release? If so, can you please create a PR to fix it?

[2022-09-02 18:20] mraible commented on #19626
If it's M1-only, it's not a big deal, IMO. Is there a workaround for M1s in the meantime? Can I just add this classifier to this dependency?

[2022-09-02 18:22] mraible commented on #19625
OK, closing.

[2022-09-02 18:22] #19625 closed

[2022-09-02 18:35] mshima commented on #19626
Need to test:
- 1: remove this and try to run, it will remove the dependency, maybe its not required anymore.
[code]
- 2: move the dependency out of the profile.
- 3: remove the activation (like 1), add a name to the profile like `netty-macos` and add `<activeProfiles><activeProfile>netty-macos</activeProfile></activeProfiles>` to maven settings like `.m2/settings.xml`

[2022-09-02 18:39] LuigiDurso commented on #16271
I've just generated a gateway app with v7.9.3 and i found this issue. Yes, i'll make the PR.

[2022-09-02 19:05] vishal423 commented on #16271
It's purposely done to enforce use of SSL for public facing deployments. We shouldn't change default.

[2022-09-02 19:09] LuigiDurso commented on #16271
Yes, i changed the param only for development purpose. In production I'll deploy on k8s with SSL enabled.

[2022-09-02 19:34] pascalgrimaud commented on #16271
We need to check because in local, everything should work out of the box, without the need to modify something

[2022-09-02 20:02] vishal423 commented on #16271
Isn't that verified by CI tests?

[2022-09-02 20:45] pascalgrimaud commented on #16271
It's related to JHipster Registry + OAuth2, there is no CI for this, only for Gateway + OAuth2

The CI in JHipster Registry project is just a mvn clean verify, as far as I remember

[2022-09-02 20:56] LuigiDurso commented on #16271
The issue exists also with gateway app.

[2022-09-02 21:14] EspA opened #19627 "Running jhipster command throws Error [ERR_PACKAGE_PATH_NOT_EXPORTED]"
##### **Overview of the issue**

Running jhipster command throws Error [ERR_PACKAGE_PATH_NOT_EXPORTED]

Below the stacktrace:

[code]

##### **Reproduce the error**

Run jhipster command

##### **JHipster Version(s)**

[code]

##### **Browsers and Operating System**

MacOS Monterey
Version 12.5.1

[2022-09-02 22:30] mraible commented on #19626
If I remove the profile, the app still starts and e2e tests pass. There's just a stacktrace on startup:

[code]

[2022-09-02 22:31] mraible commented on #19626
Adding the dependency to the `pom.xml` as a regular dependency makes the stack trace go away:

[code]

[2022-09-02 23:02] mraible commented on #19626
I tried the above fix on an Intel-based MacBook Pro and everything works too.

To folks finding this issue and needing a workaround:

1. Remove the profile that contains `netty-resolver-dns-native-macos` at the bottom of your `pom.xml`
2. Add the following dependency to the main `<dependencies>` section:

[code]

[2022-09-02 23:28] jackpunt opened #19628 "xxService.save(dto) claims to return "the persisted entity"; but it return a DTO."
##### **Overview of the issue**

xxService.save(dto) claims to return "the persisted entity"; but it return a DTO.

The generated source finishes with:
`return xxMapper.toDto(xxInst);`
##### **Motivation for or Use Case**

Does not work as documented; I do not get a handle to the Entity.

##### **Reproduce the error**

Run any jhipster jdl --with-entity

##### **Related issues**

##### **Suggest a

[2022-09-03 01:56] jackpunt commented on #19628
The generated 'Sevice' has a similar problem.
Is **says** it will return an Entity; but it is mapped to the DTO.

This makes it painful for those of us trying to learn/use JHipster, when the javadoc is wrong,
and we must continually refer to the source code to see what is really happening.

It would be **so** simple for y'all to align the javadoc with the actual interface.

[code]

[2022-09-03 05:15] atomfrede commented on #19628
Would you like to provide a PR?

[2022-09-03 19:00] mraible commented on #16271
I just tested v7.9.3 with `jhipster jdl reactive-mf` and didn't experience any issues. It redirects to Keycloak just fine after starting the registry, keycloak, and the gateway app.

<img width="1243" alt="Screen Shot 2022-09-03 at 12 44 59" src="https://user-images.githubusercontent.com/17892/188284449-2748db7c-7708-4495-8f28-86c1f3bfa3fc.png">

I have noticed that Chrome tries to force HTTPS, bu

[2022-09-03 21:45] jackpunt commented on #19628
Not clear to me what is the problem/solution...
Should the methods return an entity? or a DTO?
Is it just a doc/synchronization problem?

If you confirm the cause/solution, then maybe I'd try...
[but then you would need to explain me where is all the code/tools/tests to make such a change...
  I did so much of my open source back in the last century (emacs-18/19 anyone?) ]

[2022-09-04 10:01] AndyAndurkar commented on #19360
It works! Thanks, Daniel

[2022-09-04 19:31] atomfrede commented on #19628
If you post your config I could tell you more. But I guess its really just documentation. The simplest configuration does not use service classes as such the entity is returned so most likely the javadoc does not reflect that.

[2022-09-04 20:55] #19626 closed

[2022-09-05 07:16] Tcharl commented on #17691
It's pretty easy to switch back to the 'old' behavior: just set h2mem or h2disk as your dev database.

[2022-09-05 09:13] Tcharl opened #19633 "Do not use state and effects within react-jhipster"
##### **Overview of the feature request**

The goal of this FR being to get rid of useState and useEffect within react-jhipster library.
The approach would be to create dedicated react elements by input kind (text, date, numbers, ...) and to keep using react-forms api, instead of using the actual reflection-intensive, not that easy to debug, React form wrapper

##### **Motivation for or Use Case**

[2022-09-05 09:23] Tcharl commented on #19628
I would say that returning the DTO is the right behavior, so the doc should be updated.

To mitigate what I said, It's sometimes useful to chain services and working on entity only while having the last service returning the DTO, so maybe a good pattern could be rely on package-protected method returning entities.
[code]

[2022-09-05 09:31] Tcharl opened #19634 "Profile menus labels are not updated after login using react"
##### **Overview of the issue**

On at least JWT (I'm using the react-default generator configuration), profile menus labels are not updated after login (they are always proposing to signin and so on.
Clicking on them provides the right behavior: using the button labelled with 'Register' let's the user updating his password...

##### **Motivation for or Use Case**

Describing the according call to

[2022-09-05 12:29] jelharou commented on #19634
I noticed the same thing a while back (Windows 11/Opera).  It is the Account menu:
![image](https://user-images.githubusercontent.com/18337852/188449459-c876e46a-9521-4a5f-9377-7f3026420482.png)

[2022-09-05 12:58] DevGirondin commented on #17756
I have the same issue with jhipster 7.9.3 MongoDB and Angular in a monolith project.

[2022-09-05 15:07] mraible opened #19647 "JHipster Online doesn't include Cypress as a testing option"
##### **Overview of the issue**

If you create a new application at https://start.jhipster.tech, there is no option to include Cypress as a testing framework. There's also no indication that Protractor is deprecated.

<img width="430" alt="Screen Shot 2022-09-05 at 09 02 46" src="https://user-images.githubusercontent.com/17892/188478012-9fcca1d6-23cc-4649-bfd9-e6c5023f9c7b.png">

##### **Motivatio

[2022-09-05 16:48] marcuss commented on #19604
@qmonmert  sure, actually just read this I was off on weekend I'll let you know how it goes

[2022-09-05 17:01] mshima commented on #19604
I recommend downgrading to bootswatch@4

[2022-09-05 17:21] marcuss commented on #19604
@qmonmert @mshima  Everything works if I use another theme (try it Darkly), I did have an issue with my Node version tho (this one: https://github.com/jhipster/generator-jhipster-svelte/issues/1030) , but downgrading to 16 made it disappear.

[2022-09-05 17:21] #19604 closed

[2022-09-05 19:14] gcdus commented on #17926
@DanielFran, is it something going to be fixed in Jhipster's future release so we don't need to change the code on each auto-generated page to arrange the fields in multiple columns? I've tested with release 7.9.3 and it seems we still cannot add <Row> and <Col> inside the <ValidatedForm>.

[2022-09-05 19:17] bluegaspode commented on #17691
Running tests should not be dependend on my local test database.
They should be running on their own.

[2022-09-05 20:22] Tcharl commented on #17691
Sorry, but I don't get the answer.

Let me try to describe the logic we have implemented:

 - Unit tests are test that should [test a single method](https://www.testim.io/blog/unit-test-vs-integration-test/), with all subcall mocked. These one should be suffixed by `Test`, could be run with `./mvnw test`. They should be fast to execute, could be run after each LoC modification, and do not need any

[2022-09-05 21:14] jdbuys opened #19649 "Can't run integration tests on JHipster v7"
##### **Overview of the issue**
Here's the stacktrace that I get when I run the integration tests.
`[ERROR] com.mycompany.myapp.CassandraKeyspaceIT  Time elapsed: 21.612 s  <<< ERROR!
java.lang.NoClassDefFoundError: Could not initialize class io.netty.channel.DefaultChannelId
	at io.netty.channel.AbstractChannel.newId(AbstractChannel.java:113)
	at io.netty.channel.AbstractChannel.<init>(AbstractCh

[2022-09-05 21:36] mraible commented on #19649
I tried creating an app using your `.yo-rc.json` with JHipster 7.9.3 (the latest release). I tested it with `mvn verify` and everything passes.

[code]

[2022-09-05 22:18] jdbuys commented on #19649
If I run it on the latest version I get the following issue:
`java.lang.IllegalMonitorStateException
	at java.base/java.util.concurrent.locks.ReentrantLock$Sync.tryRelease(ReentrantLock.java:149)
	at java.base/java.util.concurrent.locks.AbstractQueuedSynchronizer.release(AbstractQueuedSynchronizer.java:1302)
	at java.base/java.util.concurrent.locks.ReentrantLock.unlock(ReentrantLock.java:439)
	at

[2022-09-06 04:28] #19647 closed

[2022-09-06 06:46] Tcharl commented on #17926
Can you please take a look at this future PR? https://github.com/jhipster/generator-jhipster/pull/19560
I would like to get your thought on it: on one side it's a little more verbose (You have to pass the react-use-form elements to each components) but it seems that it will handle your use case.

Best

[2022-09-06 12:01] jdbuys commented on #19649
I traced the error to `io.netty.util.NetUtil` where  the file `/proc/sys/net/core/somaxconn` is read, which when it is read then throws a `Blocking call! java.io.FileInputStream#readBytes` and then I get the `java.lang.NoClassDefFoundError: Could not initialize class io.netty.channel.DefaultChannelId` exception.

I fixed it by adding `builder.allowBlockingCallsInside("io.netty.util.NetUtil", "<cli

[2022-09-06 13:32] mshima opened #19658 "Add typings to generators tasks."
##### **Overview of the feature request**

Typings is useful for development, it will improve blueprints and generator contributions.

<img width="305" alt="autocomplete" src="https://user-images.githubusercontent.com/1417183/188646496-790a57be-0f71-4f9e-98df-c192051c0456.png">

##### **Motivation for or Use Case**

Improve developer experience.

This won't help with ejs templates.

##### **Relate

[2022-09-06 19:33] mraible commented on #19649
@jdbuys Can you please create a PR to fix this so we can verify it doesn't break any tests?

[2022-09-06 19:47] bluegaspode commented on #17691
I do understand that you optimize for different things like we are.

We optimize for easy/fast tests without docker (i.e. H2) ... with the tradeoff that tests only come close 95% of the real prod environment. Our Dev environment for local testing uses a Prod DB replica.
So our unit/integration test environment is not the same as dev/prod environment.
JHipster expects it now though.

I do understan

[2022-09-06 19:53] mraible commented on #17691
AFAIK, tests never passed without a profile. Selecting a profile has always been required when using an IDE.

[2022-09-06 20:00] bluegaspode commented on #17691
I'm using JHipster since 2016.
I've never had to select a profile for running unit tests.

The application.yaml in src/test (at least for relational databases?) had the full H2 profile configured (at least in 7.4, not anymore in 7.9).

[2022-09-06 20:00] pascalgrimaud commented on #17691
Sorry @mraible but I don't think so.
You could use Spring Initializr, there is no profile, you can still run the test, and there is no profil.
The test context will use the application.properties from tests.

This dev/prod profile is specific to JHipster and honestly, I don't like it, because it confuses a lot of users:
- run the tests with dev profile (seems new here)
- run the tests with prod pr

[2022-09-06 20:03] pascalgrimaud commented on #17691
Agree with you @bluegaspode I think it's new, since this PR exactly, and for me it's a small breaking change sadly

[2022-09-06 20:06] mraible commented on #17691
What I mean to say is whenever I try to run tests in IDEA, I typically have to select a profile. Running `gradle test` or `mvn test` doesn't require a profile to be specified.

Y'all might notice I was the [first to comment](https://github.com/jhipster/generator-jhipster/issues/17691#issuecomment-1043842830) on this PR about speed. I agree it's an issue, but a lot of people seem to love Testcontai

[2022-09-06 21:09] Tcharl commented on #17691
@bluegaspode thanks for the clarification regarding your use case, it's an additional consideration to take on the framework side (maybe through a dedicated `test` profile)?

@bluegaspode  @pascalgrimaud, you've also spotted a bug: tests should be executed using spring's `dev` profile by default, without the need to select any maven/gradle profile. To be honest, I do not use `mvnw` or `gradlew` cl

[2022-09-06 21:24] jdbuys commented on #19649
@mraible I created the PR.
In my tests the issue only happened if the DB was Cassandra.

[2022-09-06 21:35] Tcharl commented on #19649
Accepted the fix when CI will pass https://github.com/jhipster/generator-jhipster/pull/19661

[2022-09-06 21:41] Tcharl commented on #19658
Not only for devs, but also for typescript migration!

[2022-09-06 21:48] #19649 closed

[2022-09-06 21:48] mshima commented on #19649
Looks like we don't have cassandra + webflux test in our ci related to https://github.com/jhipster/generator-jhipster/issues/18747.

[2022-09-06 21:49] mshima commented on #18747
Switched to Cassandra some some samples, still missing reactive

[2022-09-07 00:49] jianhuaz opened #19663 "npm -v update -g generator-jhipster 7.9.3"
$ npm -v update -g generator-jhipster

$ jhipster
INFO! Using bundled JHipster
node:internal/modules/cjs/loader:494
      throw e;
      ^

Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './lib/util/namespace' is not defined by "exports" in /usr/local/lib/node_modules/generator-jhipster/node_modules/yeoman-environment/package.json
    at new NodeError (node:internal/errors:388:5)
    at th

[2022-09-07 01:03] mraible commented on #19663
JHipster works best with Node 16 currently. We try to support the latest LTS, not the bleeding edge.

[2022-09-07 01:30] jianhuaz commented on #19663
OK

[2022-09-07 01:30] jianhuaz commented on #19663
$ node -v
v16.17.0

[2022-09-07 01:30] #19663 closed

[2022-09-07 07:34] d-donev commented on #19627
I think that only the new version of j-hipster require the namespace to be exported in the package.json

[2022-09-07 11:16] mshima commented on #19658
Migrating generators to typescript is not a goal for v8. But can be done during v8 cycle.

[2022-09-07 14:59] #19354 closed

[2022-09-07 19:46] bluegaspode commented on #17691
With the prod profile (I think?) I only get minimized/compressed frontend artifacts. This makes debugging in special situations rather complicated, which is why I use prod profile only for CI/CD builds and - in prod :)
Dev profile doesn't use H2, is this allows me to have a replica of Prod-DB. Might be bad style (I know ;), but it helps debugging cornercases before they can be put into proper regr

[2022-09-08 23:28] RDsideNow commented on #19554
I think it might have something to do with peer dependancies.  I removed the package lock json when i got the npm issue and that corrected the issue.

[2022-09-09 05:38] sbouchex opened #19686 "java.lang.IllegalStateException: No MethodInvocation found reported in AccountResourceIT.testGetExistingAccount junit"
##### **Overview of the issue**

AccountResourceIT.testGetExistingAccount junit is faling with a java.lang.IllegalStateException: No MethodInvocation found when generated when"reactive" is enabled

##### **Motivation for or Use Case**

This makes unit tests failing

##### **Reproduce the error**

Generate a simple app with reactive enable, H2 (dev) and MySQL (prod) and execute the AccountResourceI

[2022-09-09 09:03] jprinet opened #19687 "Fix JdbcSQLIntegrityConstraintViolationException on jhipster-gradle-sample-application when running integration tests"
##### **Overview of the issue**

I discovered some integration test failures on the [latest commit](https://github.com/jhipster/jhipster-sample-app-gradle/commit/80e42418895e665cce2bbd7ffe7ccb3e6451d871) of the jhipster-sample-app-gradle

[Here](https://scans.gradle.com/s/7s6fydvpkazyo/tests/overview?outcome=failed) is a build scan demonstrating the issue (JdbcSQLIntegrityConstraintViolationExcept

[2022-09-09 10:25] jprinet commented on #19687
as per @mshima suggestion, overriding the datasource url with extra `MODE=MySQL` in `application-testdev.yml` fixes the issue but I'm not quite sure how to implement this in the generator.

Adding
    `url: jdbc:h2:mem:jhipstergradlesampleapplication;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MySQL`
at this [line](https://github.com/jhipster/generator-jhipster/blob/cfc70f498ad2611f3fe3668587535

[2022-09-09 15:15] SaiUpadhyayula opened #19689 "Update JWT Authentication (without OAuth 2.0) by using Spring OAuth2 Resource Server instead of JJWT"
##### **Overview of the feature request**
As of Spring Security 5, JWT support is added out-of-the-box - https://docs.spring.io/spring-security/reference/servlet/oauth2/resource-server/jwt.html

So there is no need to add custom 3rd party libraries like jjwt and write custom filters like the JwtFilter.java class.

It would be great also to update the generator to reflect this change.

I am not sur

[2022-09-09 15:24] mraible commented on #19689
I think you're confusing OAuth 2.0 with JWT. We do support OAuth 2.0 / OIDC authentication using Spring Security and no external libraries. We even provider resource server support, which is what your first link goes to.

However, for JWT authentication (which doesn't use OAuth 2.0), we need a mechanism to generate the JWT, which is what JJWT is used for.

[2022-09-09 15:57] SaiUpadhyayula commented on #19689
@mraible I am also referring to the scenario of JWT Authentication (without using OAuth 2.0). Even for this case, we can utilize the resource server library (even though we are not using any Auth Server like Okta or Keycloak) by using the JwtDecoder and JwtEncoder classes.

We can generate the JWT and parse the JWT using the Resource Server support, so there is no need to rely on the JJWT library

[2022-09-09 16:03] mraible commented on #19689
If we switched to this, we'd just be depending on a new JWT library (the Nimbus SDK). I guess the good news is Spring Security uses it.

From: https://github.com/spring-projects/spring-security-samples/blob/main/servlet/spring-boot/java/jwt/login/src/main/java/example/RestConfig.java#L22-L27

[code]

JJWT was created by friends of mine, and I trust them, so I'm not sure which is better.

If you'd

[2022-09-09 16:12] mshima commented on #19689
From what I’ve seen, it’s doable and will reduce complexity due to shared dependencies between oauth2 and jwt.

[2022-09-09 16:21] SaiUpadhyayula commented on #19689
@mraible Yes, I will try to raise a PR soon.

[2022-09-10 16:04] timothystone commented on #19518
Seeing the same problem. Fresh install using a monolith with Jhipster 7.9.2.

[2022-09-10 16:26] qmonmert commented on #19634
Confirm bug

[2022-09-10 18:47] chenrui333 commented on #19627
Why closing this issue? I think it is a real issue.

[2022-09-11 10:49] #19634 closed

[2022-09-11 13:10] emilpaw commented on #19633
What makes you think that? react-hook-form uses useState and useEffect so why shouldn't react-jhipster be able to do that too?

[2022-09-11 14:34] Tcharl commented on #19633
react-jhipster is a library (equivalent to a bunch of jsx.elements). useState should be at the component level.
You can see the behavior when upgrading the version of react in the library (edit the package.json, switch to latest or the same as the generator): nothing will work anymore (try with a blobfield)

[2022-09-11 16:58] qmonmert opened #19693 "Angular 14 - Setting page titles natively with the Angular router"
##### **Overview of the feature request**

Implements https://dev.to/brandontroberts/setting-page-titles-natively-with-the-angular-router-393j

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2022-09-12 18:30] #19687 closed

[2022-09-13 13:10] taranakamakshi commented on #11053
i am also getting same problem
Any solution for this?

A problem occurred configuring project ':commuter'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':commuter'.
	at org.gradle.configuration.project.LifecycleProjectEvaluator.wrapExcepti

[2022-09-14 08:00] Rapster opened #19737 "Angular: Use content projection to make front-end more DRY"
##### **Overview of the feature request**

Use content projection for Angular to avoid repetition, and make faster development

##### **Motivation for or Use Case**

As I was diving into the front-end generated code, I couldn't stop thinking how much duplicated code was generated, and how this could be avoided, how to make JHipster more DRY. For example, if you look at list pages (as it is the mos

[2022-09-14 08:51] Rapster commented on #19023
To clarify, proposal:
- If search set but no entities specified then generate for all entities
- If search set and entities specified, only generate for specified entities

[2022-09-14 09:05] ko5tik commented on #19023
Have no use case at the moment -  current  project does not
involve jhipster.   But everything is implemented and  in pull request -
which will of
 course need. rebasing.    My idea was. that entities shall be omitted if
indexing is specified to "no".  and be indexed bz default

========[] Lines game back in Appstore - check it out! []===============
https://play.google.com/store/apps/details?id=d

[2022-09-14 14:06] atomfrede commented on #19737
Looks good. I am pretty sure something similar is possible with vue/react, but maybe we can start with angular.

[2022-09-14 14:07] atomfrede commented on #19689
@mshima @mraible Should we tag it for v8?

[2022-09-14 15:05] mraible commented on #19689
@atomfrede Yes, that's a good idea.

[2022-09-14 16:21] mraible opened #19739 "Update microservices architecture diagram"
##### **Overview of the issue**

The current microservices architecture diagram needs to be updated.

https://www.jhipster.tech/microservices-architecture/

I think it'd also be good to include an architecture diagram of micro frontends.

##### **Motivation for or Use Case**

People should be able to use our diagrams in their blog posts and presentations. We don't want them to show information tha

[2022-09-15 07:03] pgrabowski1 commented on #17662
This issue was added in the wrong repository. I'm moving in to: https://github.com/jhipster/jhipster-control-center/issues/181

[2022-09-15 07:03] #17662 closed

[2022-09-16 06:24] buurd opened #19761 "Remove entity"
##### **Overview of the feature request**

When learning of how an application is used some features might be cut, eg needs to be removed. Right now it seems liked JHipster doesn't seem to offer a controlled way of removing generated code for an entity when it is removed from the JDL. It's left as en excersise for the developer to understand what to remove and how. At least it should be documented

[2022-09-16 09:15] emilpaw commented on #19761
This was discussed before in #8933

[2022-09-16 09:30] buurd commented on #19761
After reading #8933 I conclude the the only withdraw most of my request, but I still would like an update to the documentation about the subject, how to handle a delete-situation.

[2022-09-16 13:08] jprinet commented on #19687
Is there a plan to re-generate the jhipster-sample-app-gradle as the integration tests will keep failing until getting this fix?

[2022-09-16 13:32] mshima commented on #19687
Added to 7.9.4 milestone as a candidate for backporting.

[2022-09-16 16:49] CodingSpiderFox opened #19762 "Feature Request: Add quick inline help in setup process"
##### **Overview of the feature request**

I want to know what certain options in the project setup wizard are meant to be used for.

##### **Motivation for or Use Case**

Updated to Jhipster 7.9.3 today and generated a new project. Recognized there is a new step "Use microfrontends (y/n)?"
Though in this case it is quite obvious what this option is meant to be used for, a quick 2-3 sentence descr

[2022-09-17 16:56] dwarakaprasad commented on #14616
_Full disclosure - I am new to this Reactive & Criteria part_

Just out of curiosity, why not use the existing org.springframework.data.relational.core.sql.* or org.springframework.data.relational.core.query.* to implement this feature.

Based on this [issue - referenced by @smaestri](https://github.com/spring-projects/spring-data-r2dbc/issues/246) spring R2DBC does not support relationship, so wh

[2022-09-18 10:02] emilpaw opened #19767 "Move source files to `src`"
##### **Overview of the feature request**

Move the folder `jdl`, `generators`, `lib` and `cli` to a new folder `src`. Based on the discussion around @mshima's comment: https://github.com/jhipster/generator-jhipster/pull/19559#issuecomment-1247349096

##### **Motivation for or Use Case**

When we do that our source folder and build output will have the same directory nesting level. That means `../

[2022-09-18 10:23] emilpaw opened #19768 "Require Java 17"
##### **Overview of the feature request**

Make Java 17 the new baseline and drop support for older versions.

##### **Motivation for or Use Case**

This will allow the usage of many new Java features and keep the Tech Stack of the generated code up to date.

Although Java 11 has still one year of support it's already four years old. Java 17 was released over a year ago so at this point it's prett

[2022-09-18 14:56] sharonmil commented on #17743
same here I'm running on windows using all defaults possible

[2022-09-18 15:11] mraible commented on #19768
I don't think we should force Java 17 until we have Spring Boot 3 support. We can probably start that migration now since there are milestone releases. For example, M4:

https://github.com/spring-projects/spring-boot/releases/tag/v3.0.0-M4

[2022-09-19 06:44] atomfrede commented on #19768
Agree with Matt. We build and test with java 17, staying to java 11 feature. We will update to java 17 as minimum with upcoming v8 release cycle (and of course spring boot 3 will also force us to do).

[2022-09-19 08:18] atomfrede commented on #19761
Yes documentation would be a nice thing.

[2022-09-19 10:54] mshima commented on #18425
Fixed in https://github.com/jhipster/generator-jhipster/pull/19655.

[2022-09-19 10:54] #18425 closed

[2022-09-19 11:03] mshima opened #19779 "Move upgrade to a blueprint."
##### **Overview of the feature request**

The idea is to blueprint the bootstrap generator so we can use the same prettier version and config when generating the old and new version.
- applies automated formatting for a better upgrade patch.

##### **Motivation for or Use Case**

Improve upgrade process.

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show y

[2022-09-19 13:00] RamiSouai opened #19780 "Bidirectional One-To-Many relationships not generating"
##### **Overview of the issue**

Hello,
I have a JDL file containing a One-To-Many relationship (Using this basic example: https://www.jhipster.tech/jdl/relationships#basic-example) between two Entites Foo and Bar. You can find the JDL file below.

The resulting interfaces are as follows:

`export interface IBar {
  id: number;
  foo?: Pick<IFoo, 'id'> | null;
}`

`export interface IFoo {
  id: nu

[2022-09-19 15:35] mshima opened #19781 "Enable prettier for xml files."
##### **Overview of the feature request**

We don't have prettier enabled for xml files.

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-09-19 20:53] ascelineboullen commented on #13595
Little update:
Tonight, I'm working on the module section & team page, I will be able to update the link tomorrow and bring fews news 🙂.

_I worked the last week on https://github.com/jhipster/jhipster-artwork/issues/21 too. For this issue, I will make an update this week end and show you the draft of the proposal that I want to make for the update of the graphical charter!_

[2022-09-19 21:58] mraible opened #19782 "Upgrade to Spring Boot 3"
##### **Overview of the feature request**

Start upgrading to Spring Boot 3.

##### **Motivation for or Use Case**

Selfishly, I need it for a demo at ApacheCon, but I'd also like to hack on it during the JavaOne Hackergarten.

##### **Related issues or PR**

- https://github.com/jhipster/generator-jhipster/issues/19768
- https://github.com/jhipster/generator-jhipster/issues/19934
- https://github

[2022-09-21 00:45] ascelineboullen commented on #13595
**UPDATE:**

**Desktop version (https://rebrand.ly/jhipster):**
- I've added section modules at the bottom of the homepage
- I've updated team page: now, all sections are there

**Mobile version (https://rebrand.ly/jhipster-mobile)**
- Mobile homepage is now up to date with homepage desktop version

Then, I will work to fix some details: add various datas (because members are still called "Pascal"

[2022-09-21 10:57] pascalgrimaud commented on #19797
@TimMaltGermany : I transfered your ticket here as jhipster online project is not followed enough

[2022-09-21 11:03] atomfrede commented on #19797
Seems related to https://github.com/jhipster/generator-jhipster/issues/14567. Right now we don't support websocket + reactive/webflux. As the gateway is now always reactive it will fail. Spring Websocket abstactions only works for non reactive part, so some handwritten code is needed to create the
endpoints and to use the current thin abstraction layer for stomp etc.

[2022-09-21 11:29] s-lindenau commented on #18440
I have expanded on the root cause of this issue on the following post: https://stackoverflow.com/a/72276869/3756780
The issue should be resolved in newer versions of spring-boot(-undertow), (which uses) xnio-api and/or the Java Runtime (depending on your platform).

Summary of my solution (please correct me if i'm wrong): upgrading to JHipster >= 7.9.0 should fix this problematic xnio-api dependen

[2022-09-21 13:55] DanielFran commented on #19782
@mraible We should consider to migrate from zalando ([problem](https://github.com/zalando/problem) and [problem-spring-web](https://github.com/zalando/problem-spring-web)) to [spring-framework native implementation](https://github.com/spring-projects/spring-framework/issues/27052) coming with spring-framework 6.0

[2022-09-21 14:05] mraible commented on #19782
I'm looking for issues to try and fix at the JavaOne Hackergarten, so this could be a candidate.

Does anyone know how to fix the compilation errors from Hibernate? Do we still need the fixed PostgreSQL dialects in jhipster-framework?

[2022-09-21 14:09] DanielFran commented on #19782
@mraible @pascalgrimaud This might be helpful: https://github.com/rstoyanchev/sandbox-rfc7807

[2022-09-21 14:12] DanielFran commented on #19782
@mrable The fixed PostgreSQL dialect was needed for BLOB integration: https://github.com/jhipster/jhipster-bom/blob/main/jhipster-framework/src/main/java/tech/jhipster/domain/util/FixedPostgreSQL10Dialect.java#L37-L39

We just need to confirm hibernate 6 handles it now

[2022-09-21 16:21] naris opened #19799 "JHipster generates unit test code that can't ever pass, especially when using oracle or any other relational database that uses sequences"
##### **Overview of the issue**

Jhipster generates test code that expects that a new entity's id is the size of the table as this code shows.
`
        // Validate the Category in the database
        List<Category> categoryList = categoryRepository.findAll();
        assertThat(categoryList).hasSize(databaseSizeBeforeCreate + 1);
        Category testCategory = categoryList.get(categoryList.size

[2022-09-21 18:26] naris commented on #19799
This is not actually an issue. I shouldn't add issues before coffee :(

[2022-09-21 18:26] #19799 closed

[2022-09-21 18:58] naris opened #19800 "Add support to test junit with non temporary databases."
##### **Overview of the issue**

The test cases/code generated have many issues that will cause them to fail. I have never been able to run ./mvnw verify and have it pass when generating code for an oracle database (I have not tried other databases).

Looking in the test cases I see some bad assumptions such as:

This code seems to assume that after inserting a new entity and then retrieving a lis

[2022-09-21 20:50] naris opened #19801 "JHipster mvnw verify fails due to an infinite loop (due to circular relationships) in the test generated entity code."
##### **Overview of the issue**

I have a project with entities with relationships that refer to each other. There is an UPC Entity with a ManyToOne relationship with a Platform entity with a ManytoOne relationship to a Category entity.

The generated test code has a CategoryResourceIT class with this getAllCategoriesByPlatformIsEqualToSomething() method:
[code]
which has a call to platform = Plat

[2022-09-22 13:55] TheRealHaui opened #19807 "Servlet context path with more than one slash not working"
Setting a servlet context path containing more than one slash leads the entire application to not work anymore.

When setting

[code]

in the application-dev.yaml file and setting

[code]

in the webpack.common.js file like described in the official documentation the entire application goes out of order.
Currently React is in use for the web layer.

Obviously web resources like index.html do not g

[2022-09-22 15:22] #19693 closed

[2022-09-22 20:41] pascalgrimaud commented on #19693
Adding a bounty as I know you spent a lot of night to achieve this :-)

[2022-09-22 20:43] qmonmert commented on #19693
thanks @pascalgrimaud 🙂 https://opencollective.com/generator-jhipster/expenses/96933

[2022-09-22 20:48] pascalgrimaud commented on #19693
@qmonmert : approved

[2022-09-22 21:34] mshima opened #19810 "Modularize client and server generators"
##### **Overview of the feature request**

Split client generator into:
- client (for blueprints, maybe i18n)
- angular
- react
- vue

Split server generator into:
- server (for blueprints)
- spring-boot
- spring-boot-sql
- spring-boot-cassandra
- spring-boot-couchbase
- spring-boot-mongodb
- spring-boot-neo4j
- spring-boot-cache-provider
- spring-boot-gatling
- spring-boot-websocket
- maven
- gra

[2022-09-23 00:29] mraible opened #19811 "Use health checks for Docker Compose startups"
##### **Overview of the feature request**

Demos can be painful with Docker Compose because apps wait for 60 seconds to startup. As developers get faster machines, it might only take a few seconds for dependent containers to startup. Is it possible to do health checks to determine startup rather than waiting?

##### **Motivation for or Use Case**

It'd be nice if demos could be faster when running

[2022-09-24 21:35] mshima opened #19829 "Drop modules support"
##### **Overview of the feature request**

Modules was deprecated in favor of blueprints.
We should remove support for it.

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-09-25 11:10] gmarziou commented on #19829
I just looked at the market place, I roughly estimate that 40 % are modules, most of them are old (jhipster <= 6) but few of them are more recent and actively maintained.

As far as I know, modules deprecation was not announced in v7, so it sounds hard to drop support like this.

Maybe these authors could be contacted with some guidelines showing how to migrate a module to a blueprint.

[2022-09-25 15:01] erencetinkayaceng opened #19831 "Incorrect validation on login username"
##### **Overview of the issue**

I created a monolithic application with Jhipster. I know that both username and email can be used when logging into the site. I see it in the DomainUserDetailsService class of the required code block.

I have added a new user using the mail "thisisatestmailgreaterthenfiftycharacters@testmail.com".

We get the required information for login in the LoginVM class. The

[2022-09-25 15:54] mshima commented on #19829
Module migration is available here https://www.jhipster.tech/modules/creating-a-module/.

Just saw the layout is broken: https://github.com/jhipster/jhipster.github.io/pull/1236 should fix it

[2022-09-25 19:14] gmarziou commented on #19829
Excellent

[2022-09-26 11:16] lostation commented on #18995
Same here ... Is someone has understood this error... I'm new to Spring Mono stuffs and jhipster...

[2022-09-26 12:27] Futureglobe opened #19845 "@MapstructExpression Mapper generation problem"
##### **Overview of the issue**

To get a combined representation I use @MapstructExpression inside the .jdl file. The JDL looks like this:

![image](https://user-images.githubusercontent.com/27356972/192239919-df72e3d9-83f7-46be-affc-de690e7f45e3.png)

When using @MapstructExpression the mapper is generated incorrectly resulting in the following error message:

![image](https://user-images.github

[2022-09-26 13:23] atomfrede commented on #19831
How did you add the user with this long email (and login) to the application? Manually via the database? Generally I tend to agree we should validate on register and not necessarily when logging in.

[2022-09-26 13:49] atomfrede commented on #19811
You mean [this generated compose file](https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/docker/app.yml.ejs)? As a starting point we could [define dependencies with required healthiness](https://dev.to/ku6ryo/frequently-used-2-healthcheck-recipes-for-docker-compose-dependency-resolution-2ad9).

I guess not every container implements a healthcheck which w

[2022-09-26 14:25] mraible commented on #19811
No, not `app.yml`. The file is named `docker-compose.yml` and is generated by the Docker Compose sub-generator.

[2022-09-26 19:42] erencetinkayaceng commented on #19831
I registered via Jhipster's register page created with angular. Then I activated the user and tried to login.
Let me detail the resulting inconsistency over the repo.

When we look at Jhipster's default register page, when registering a user, the maximum character length for email can be 254 characters.

Angular validation , line 34: https://github.com/erencetinkayaceng/tmp-bug-multiple-request/bl

[2022-09-27 05:05] dwarakaprasad commented on #14616
Based on my previous comment, [here](https://github.com/dwarakaprasad/filterreactive) is a sample gateway application with two entities (Customer & Address) implementing entity filtering, everything is supported except,

1. Distinct
2. Filtering by relationship on the non-owning side (this can be implemented but a bit involved)

All the tests (unit & e2e) have passed.

[Here](https://github.com/dw

[2022-09-27 08:25] atomfrede commented on #19831
Thanks for the details. This looks like a jhipster bug. Thanks for reporting it/

[2022-09-27 11:20] mshima commented on #19182
@emilpaw I’ve managed to use mocha + `@esbuild-kit/esm-loader`. It works pretty well, I couldn’t see any performance drop.
Have problems when updating inline snapshots, but IMO is worth it.

[2022-09-27 15:48] dwarakaprasad commented on #14616
@smaestri @mraible @DanielFran, what do you guys think about this implementation, is it good enough for the generator.  I can make the ConditionBuilder more generic. Things that need you comments,

1. EntityCriteria moved into domain package (from seervice) - Currently the query is being built in EntityManager, which takes Condition as an input param. Conversion of entityCriteria to Condition need

[2022-09-27 17:22] Ebsan opened #19858 "Issue with column name of key"
##### **Overview of the issue**
I'm getting an error when querying a table with a column name of "key". I have postgresql chosen and it doesn't seem like "key" is a reserved word. However, if it is could it be added to the reserved word in the JDL schema? At the moment we can call a field "key" in the JDL.

Error message:
[code]

##### **Motivation for or Use Case**

If "key" is a reserved word fo

[2022-09-27 19:56] erencetinkayaceng opened #19859 "loading data 2 and 3 times after item deletion from list in Angular"
##### **Overview of the issue**

If we change the page after deleting an item from the list. More than one API call is created.

Line 49:
https://github.com/erencetinkayaceng/tmp-bug-multiple-request/blob/master/src/main/webapp/app/entities/foo/list/foo.component.ts

My guess is that the "loadFromBackendWithRouteInformations" method causes more than one observer to be created.

sample repo: https:

[2022-09-27 20:57] emilpaw commented on #19182
@mshima I created a draft PR for what I've done so far: #19856
Interestingly the pipeline succeeds while locally some of the tests fail.

In the last few days, I had no time to work on this but I am continuing to work on it again now.

[2022-09-28 08:56] mraible commented on #19782
@DanielFran This looks very helpful. Do you know if we need to extend the exception handler like
`WebMvcExceptionHandler.java` does in this example? Or can we just declare a bean that returns the parent exception handler?

Related: do we need to register this exception handler with Spring Security?

[2022-09-28 08:59] gmarziou commented on #19858
From the [PostgreSQL doc](https://www.postgresql.org/docs/current/sql-keywords-appendix.html), `KEY` is a reserved word of SQL-92. So I suppose it should be added to all databases, see https://github.com/jhipster/generator-jhipster/tree/main/jdl/jhipster/reserved-keywords

[2022-09-28 09:08] mraible commented on #19782
A fix for Spring Doc might exist in this PR:

https://github.com/springdoc/springdoc-openapi/pull/1860

[2022-09-28 09:37] DanielFran commented on #19782
Seems that `WebMvcExceptionHandler.java` example is like our current https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
But we would need to implement those exceptions https://github.com/zalando/problem-spring-web/tree/main/problem-spring-web#configuration

[2022-09-28 09:45] DanielFran commented on #19782
We have still some spring.factories in the generator (for testing purposes with testcontainer I believe) to change also.
In the bom, I already migrated them when upgrading to [2.7.0](https://github.com/jhipster/jhipster-bom/pull/790/files)

[2022-09-29 16:22] sonallux commented on #19811
I have just stumbled across this issue because I also do not like that a app has to wait 60 seconds for the database.

The mentioned healthcheck option in docker-compose v2 is not available in the current docker-compose version 3. So I would argue that this built-in healthcheck is not an option, because it is already outdated. Unfortunately, there is no new built-in alternative in docker-compose v

[2022-09-29 22:08] mraible commented on #19811
Good point. I've learned how to dance and complain about this wait for 60 seconds during demos. 😊

[2022-09-29 23:54] mshima commented on #19811
Actually I think it is available at the new version https://docs.docker.com/compose/compose-file/ which is called `Compose specification`.

It's quite confusing but docker-compose had cli v1 and v2, while the compose file specification are version 1, [2](https://docs.docker.com/compose/compose-file/compose-file-v2/) and [3](https://docs.docker.com/compose/).

The so called [docker-compose v2](http

[2022-09-30 01:42] mshima opened #19878 "Drop output path customizer."
##### **Overview of the feature request**

It was added due to independent workflows for each generator.
We can use a shared clientSrcDir now.

##### **Motivation for or Use Case**

Cleanup

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-09-30 07:00] sonallux commented on #19811
Oh, I didn't know that 👍  But it is also really confusing...

[2022-09-30 07:25] sebastientromp commented on #9319
I'm also facing this error. I use `translateService.use(newLocale)` to change the language, and listen to changes with `translate.onLangChange.subscribe((info) => console.debug('loc changed in service', info));`.

The callback is never called.

[2022-09-30 08:17] silvanonapoli1990 opened #19887 "I don t see image in jhipster when add img with src tag [jhipster]"
hi everyone i have problem to see image in jhipster? i put the image in the component and in src/main/webapp/content/images
but i don t see the image i see only the alt tag

[2022-10-01 20:31] mshima opened #19892 "Drop eslint-config-airbnb-base"
##### **Overview of the feature request**

Drop eslint-config-airbnb-base eslint rule.

##### **Motivation for or Use Case**

It doesn't works correctly with typescript and/or esm.

##### **Related issues or PR**

- [x] Checking this box is mandatory (this is just to show you read everything)

[2022-10-01 22:58] gmarziou commented on #19887
Please don't use the project issue tracker for questions, questions are for stackoverflow and I answered you there.

https://stackoverflow.com/questions/73906299/how-add-image-jhipster-angular

[2022-10-01 22:58] #19887 closed

[2022-10-03 09:18] ksilz opened #19916 "JHipster fails to create fake data file for one entity"
##### **Overview of the issue**

I have a JHipster tutorial where I import a JDL file with the application configuration and entities. With JHipster 7.9.3, the application creates a fake data file without any records for my `Product` entity. So the start-up fails because Liquibase can't create a foreign key relationship to that empty `product` table.

##### **Motivation for or Use Case**

The gene

[2022-10-04 19:34] dwarakaprasad commented on #19916
This is a bug in table_entity.csv.ejs.
When the field type is 'byte[]' and not Text, a special <column_name>_content_type column is being added,
but,
1. It is not updated properly during the line creation
2. This causes the lines column count to be not equal to header count
causing nothing to be added and hence empty csv file.

I will create a pr shortly for this issue.

[2022-10-05 11:49] kadyrov123 commented on #18440
For me changing `spring-boot-starter-undertow` => `spring-boot-starter-tomcat` in pom.xml works

[2022-10-05 16:22] michelfigueiredojava opened #19933 "DataIntegrityViolation when testing with h2"
##### **Overview of the issue**
After generating an application with h2 memory as dev db, when you run the tests with `./mvnw verify` you have the following errors:
`
[ERROR] Errors:
[ERROR]   DomainUserDetailsServiceIT.init:50 » DataIntegrityViolation could not execute statement; SQL [n/a]; constraint ["PRIMARY KEY ON PUBLIC.JHI_USER(ID) ( /* key:1 */ CAST(1 AS BIGINT), 'admin', '$2a$10$gSAhZrxMl

[2022-10-05 16:33] mraible opened #19934 "Migrate to new Elasticsearch Java client for Spring Boot 3"
##### **Overview of the issue**

Spring Boot 3.0.0 M4 introduces a [new Elasticsearch Java client](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-3.0.0-M4-Release-Notes#elasticsearch-java-client).

If you create a new project with [Spring Boot 3 support for JHipster](https://github.com/jhipster/generator-jhipster/pull/19791), it fails to compile. I'm creating this issue separately

[2022-10-05 18:29] #19111 closed

[2022-10-06 06:09] pavel-shareiko opened #19940 "Liquibase fails to populate PostgreSQL database with blob data"
##### **Overview of the issue**
After upgrading from JHipster v7.7.0 to v7.9.3, fake data containing blobs stopped working.

Previously, the generator itself created fake data for blob fields, now csv files are empty. If you fill the CSV manually, then at startup, the Liquibase cannot start the database and throws an error. The bug is relevant even for a newly generated application.

Rolling back

[2022-10-06 22:29] naris commented on #19554
I have tried upgrading from 7.8.1 to 7.9.0 again, after unwinding the git commits of previous failed attempts and it fails when it attempts to call node_modules\shelljs\src\exec-child.js right after it removes the node_modules directory :/
WTF?

Though it did merge stuff to the branch I started from so it might be done?

[code]

[2022-10-07 00:30] naris commented on #19554
I found out why it tried to run basj. Something dropped a .npmrc file with this in it :/
[code]

Deleting that fixed the bash problem. I also deleted package_lock.json.

[2022-10-07 10:03] egvimo commented on #18907
It seems that JHipster Kotlin has the same issue. I've fixed it by reusing the `ContextCustomizer` instead of creating every time a new one in the factory method. Something like:

[code]

At least this worked with Kotlin. Didn't tried with Java yet.

[2022-10-08 10:55] artyomsv opened #19957 "Integration test [KafkaResourceIT] always failing in a newly created gateway app"
##### **Overview of the issue**
I have created to applications using hipster: microservice and gateway. In the microservice all the tests are successfully executed, but in the gateway KafkaResourceIT.producesMessages always failing with an error

[code]

I have tried both IDE test execution and using Maven in PowerShell

##### **Motivation for or Use Case**

Newly created service should not fail o

[2022-10-09 21:03] mshima commented on #17838
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/100749.

[2022-10-09 21:03] mshima commented on #17776
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/100750.

[2022-10-09 21:03] mshima commented on #17774
@DanielFran  bounty claimed https://opencollective.com/generator-jhipster/expenses/100751.

[2022-10-09 21:05] mshima commented on #17096
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/100753.

[2022-10-09 21:06] mshima commented on #16545
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/100754.

[2022-10-09 21:33] DanielFran commented on #16545
@mraible approved

[2022-10-09 21:35] DanielFran commented on #17096
@mshima approved

[2022-10-09 21:37] DanielFran commented on #17774
@mshima approved

[2022-10-09 21:39] DanielFran commented on #17776
@mshima approved

[2022-10-09 21:41] DanielFran commented on #17838
@mshima approved

[2022-10-10 10:57] alwinaswin commented on #12808
no answer

[2022-10-10 11:38] #19916 closed

[2022-10-10 18:21] mshima opened #19979 "Drop jhipster prefer local option."
##### **Overview of the feature request**

`jhipster` command installed globally tries to run the local version by default.
This behavior is quite unique to `jhipster`.
The default is to use `jhipster` for globally installed and `npx jhipster` for local installation

`jhipster` cli v7/v8 will not be compatible with each other due to esm switch and file name change.

So the proposal is to drop this

[2022-10-10 19:59] mshima opened #19980 "Implement base-workspaces."
##### **Overview of the feature request**

It will be the base for generators that uses multiple applications like the workspace generator and deployments.
It should provide a few custom priorities:
[code]

##### **Motivation for or Use Case**

Simplify deployment generators.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/pull/19978#discussion_r991586546

- [ ] Che

[2022-10-10 21:40] naris opened #19981 "Running npm install on jhipster itself fails on windows"
##### **Overview of the issue**

When you clone the  [jhipster project](https://github.com/jhipster/generator-jhipster.git) on a windows machine and then run npm install, it fails. npm link and npm ci also fails. The official windows build is also in a failed state

npm install fails with
[code]

I have also seen this
[code]

##### **Motivation for or Use Case**

This makes it difficult to use the

[2022-10-11 06:54] harryyoo commented on #18571
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-11 06:58] asmakhoualdia98 commented on #18440
Is there any updates please.

Le ven. 29 avr. 2022 à 4:49 PM, Matt Raible ***@***.***> a
écrit :

[2022-10-11 07:30] Casinoburst commented on #19515
ok cool, happy to sponsor a "free" month but ofc I thought as it stood that we will get listed after the donation. So if you can check that would be good thanks!
________________________________
Från: Frederik Hahne ***@***.***>
Skickat: den 24 augusti 2022 11:03
Till: jhipster/generator-jhipster ***@***.***>
Kopia: John Clark ***@***.***>; Author ***@***.***>
Ämne: Re: [jhipster/generator-jhipste

[2022-10-11 07:38] redDevis commented on #18250
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-10-11 08:19] asmakhoualdia98 commented on #18440
This is the error that I get

Le jeu. 28 avr. 2022 à 18:59, Matt Raible ***@***.***> a
écrit :

[2022-10-11 08:37] khadijakaimous commented on #19360
Thank you so much it worked successfully

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Daniel Franco ***@***.***>
Sent: Wednesday, August 17, 2022 3:54:06 PM
To: jhipster/generator-jhipster ***@***.***>
Cc: Khadija KAIMOUS ***@***.***>; Mention ***@***.***>
Subject: Re: [jhipster/generator-jhipster] 'Command failed with exit code 4294963238: npm run clean-

[2022-10-11 08:56] khadijakaimous commented on #19360
But I will have to delete it every time I run the command jhipster generate a project ?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Khadija KAIMOUS ***@***.***>
Sent: Wednesday, August 17, 2022 4:23:53 PM
To: jhipster/generator-jhipster ***@***.***>; jhipster/generator-jhipster ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [jhipster/generator-jhipst

[2022-10-11 11:18] DanielFran commented on #19360
@khadijakaimous this has been fixed in 7.9.3

[2022-10-11 12:48] mshima opened #19989 "Add internal support for generators to implement jdl incremental generation for config and entities."
##### **Overview of the feature request**

Back in JHipster 6, jdl command advertised that it only generates changed entities.
That was somewhat true, but it generated inconsistent source code.
The feature was jdl specific and had not support at generators. This was implemented by passing only changed entities to the generator, but it ignored application dependent configurations and relationships.

[2022-10-11 13:11] abdoulkarim20 commented on #6346
Bonjour la communauté.  Pourquoi quand j'enregistre un utilisateur je ne peux me connecter avec son login et son mot de passe.
Mais par contre si je modifie sont mot de passe la connexion passe je suis perplexe sur ce mécanisme. @jdubois

[2022-10-11 19:13] mraible commented on #18440
Did you try my branch that uses Tomcat?

[code]

You can see the changes in https://github.com/mraible/jhipster7-demo/pull/8.

It works for me on macOS Monterey 12.6.

[code]

[2022-10-11 19:32] mraible commented on #18440
I just tried the `main` branch on Windows 11 (via Parallels) using Java 11.0.15. It does fail on the first request:

[code]

If I switch to the `tomcat` branch, everything works:

[code]

<img width="1135" alt="Screen Shot 2022-10-11 at 13 27 08" src="https://user-images.githubusercontent.com/17892/195181968-1c6aeb8d-bceb-457f-834c-3eb8a8cd22aa.png">

Since a workaround has been provided for Windo

[2022-10-11 19:32] #18440 closed

[2022-10-12 03:11] mraible commented on #19782
It looks like Spring Boot might fix this by adding problem support by default. https://github.com/spring-projects/spring-boot/issues/32634

[2022-10-12 03:37] mraible opened #19991 "Migrate from Zalando to Spring Framework 6 problem support implementation"
##### **Overview of the issue**

Migrate from Zalando ([problem](https://github.com/zalando/problem) and [problem-spring-web](https://github.com/zalando/problem-spring-web)) to https://github.com/spring-projects/spring-framework/issues/27052 coming with spring-framework 6.0.

According to https://github.com/spring-projects/spring-boot/issues/32634, you might need to use a SNAPSHOT version (or 3.0.

[2022-10-12 03:38] mraible commented on #19782
I added new issues with bug bounties for Elasticsearch and the Zalando migration.

[2022-10-12 15:17] #17132 closed

[2022-10-14 00:08] ehogeweg opened #20003 "JHipster 7.9.3 - New Project Fails to Start with Mysterious JHipsterProperties Error."
##### **Overview of the issue**

Creating a new JHipster-7.9.3 app with basic config and then running ./mvnw fails on Mac 12.6, Monterey. Tried various configurations, last one w/o any other languages or test frameworks. Result is always the same. Been fighting this for two days now. Honestly don't know what else I can try.
This appears to be the root cause:

  **Reason: The elements [jhipster.met

[2022-10-14 02:21] mraible opened #20004 "Migrate from Spring Cloud Sleuth to Micrometer Tracing"
##### **Overview of the issue**

Migrate from [Spring Cloud Sleuth](https://spring.io/projects/spring-cloud-sleuth) to [Micrometer Tracing](https://micrometer.io/docs/tracing).

##### **Motivation for or Use Case**

This is the way with Spring Boot 3.0:

https://twitter.com/springcloud/status/1580315720717516800

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/19782

[2022-10-14 13:46] ehogeweg commented on #20003
Here is the issue... When there is a docker container with a JHipster-5.4 running on the same physical computer (Mac), even when it is running in a different user env., the error occurs. When that container is stopped the new application starts up just fine. Well, now it doesn't find the JH-registry but that is a different issue.
Not sure if this is documented somewhere. If not I will open a new i

[2022-10-14 13:46] #20003 closed

[2022-10-14 15:58] mraible commented on #12558
Is there anything currently blocking this upgrade? I ask because I've added to my list of issues to work on at the JavaOne Hackergarten next week (October 18). https://bit.ly/javaone22-jhipster

[2022-10-14 16:12] mrts commented on #12558
Bootstrap Vue Vue 3 support is unfortunately still not ready. @Giwayume's point on the usefulness of Bootstrap Vue still stands in my opinion (as opposed to @michaelzangl's view of using plain Bootstrap).

See the current status update here: https://github.com/bootstrap-vue/bootstrap-vue/pull/6905#issuecomment-1272108708.

[2022-10-14 16:23] mshima commented on #12558
I am against using pure bootstrap too. This will come with too much maintenance burden.
Since we are light user and official BootstrapVue support for bootstrap 5 looks far, we may look for alternatives.
An alternative is to use [bootstrap vue 3](https://github.com/cdmoro/bootstrap-vue-3). Which will bring bootstrap 5. And a maintainer is seeking for [cooperation](https://github.com/bootstrap-vue/b

[2022-10-14 16:43] emilpaw opened #20015 "Remove duplicate imports"
##### **Overview of the feature request**

Remove duplicate imports and activate the "import/no-duplicates" eslint rule.

##### **Motivation for or Use Case**

Improve the code quality.

##### **Related issues or PR**
#19182

- [x] Checking this box is mandatory (this is just to show you read everything)

[2022-10-14 19:03] emilpaw commented on #19762
I don't think having the documentation in two places is a good idea. Instead, we should direct the effort into improving the documentation on the website.

[2022-10-15 16:00] gmarziou commented on #6346
@abdoulkarim20

Please don't comment on an **old issue** and write in English.
Your issue seems new to me but does require many more details that what you provided, please open a new issue with details.

[2022-10-15 17:03] gmarziou commented on #19762
An alternative would be to print a link to online documentation at the end of the question, most terminals are able to make them clickable.

[2022-10-15 17:20] emilpaw opened #20035 "Improve types related to jdl parsing"
##### **Overview of the feature request**

As mentioned in https://github.com/jhipster/generator-jhipster/pull/19856#discussion_r994937881 the modules related to the jdl parsing are typed very loosely. There is a lot to be improved.

##### **Motivation for or Use Case**

Better type safety makes the code easier to maintain.

##### **Related issues or PR**

#19856

- [x] Checking this box is mandat

[2022-10-15 19:22] CodingSpiderFox commented on #19762
Yes, that might also work :)

[2022-10-16 13:11] mshima opened #20036 "Reactive + H2 fails with some values."
##### **Overview of the issue**

Failure can be checked at https://github.com/jhipster/generator-jhipster/actions/runs/3257544644/jobs/5348873433

The request post the following body to operation endpoint:
[code]

The body looks valid, so there's a problem converting it.

The sample that fails is `ngx-webflux-gradle-session-h2mem-es` using dev profile.

[code]

Discovered by https://github.com/jhi

[2022-10-16 14:03] emilpaw opened #20037 "Remove usage of `any` type and improve jdl types"
##### **Overview of the feature request**

As discussed here https://github.com/jhipster/generator-jhipster/pull/19856#discussion_r994928906 we have a lot of `any` types in the TypeScript modules. The goal is to remove most of them and make the types more accurate. This probably can't be done at once instead we should remove the `any`s bit by bit.

##### **Motivation for or Use Case**

To fully le

[2022-10-16 15:37] mshima opened #20038 "Add a jhipster 7 compatibility templates data for easier jhipster 8 migration."
##### **Overview of the feature request**

Migrating blueprints to JHipster 8 will be challenging depending on how the blueprint is implemented.
We should consider:
 - the generator is not been used as template data anymore.
 - application properties are been used instead of constants
 - versions will be provided as a mapping instead of constants
 - docker images will be provided as a mapping inst

[2022-10-16 16:45] BitFlipp3r commented on #19627
I can confirm. Happend to me when upgrading from JHipster 7.8.1 to 7.9.3.
But the fix from @EspA works. Thanks for posting!

[2022-10-16 20:04] #19182 closed

[2022-10-16 22:50] mshima commented on #20036
Samples:
[code]
and
[code]
works

[2022-10-17 14:10] #19892 closed

[2022-10-18 14:11] mshima commented on #18293
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/102423

[2022-10-18 14:12] mshima commented on #17072
@DanielFran bounty claimed https://opencollective.com/generator-jhipster/expenses/102425.

[2022-10-18 14:17] DanielFran commented on #18293
@mshima approved

[2022-10-18 14:17] DanielFran commented on #17072
@mshima approved

[2022-10-18 16:43] A-5ingh commented on #19739
@mraible Can I work on this? I have contributed to `jhipster-dotnetcore` in the past but would require support in achieving this task.

[2022-10-18 17:03] mraible commented on #19739
Yes! Please let me know if I can help.

[2022-10-18 18:01] A-5ingh commented on #19739
Thanks, @mraible. I'll go through the docs already available and if you can share the components to be added. I can work on it. Do we need to stick to the same design/look or it can also be changed?

[2022-10-18 21:28] mraible commented on #19739
This details how the diagram was originally created:

https://github.com/jhipster/generator-jhipster/issues/2785#issuecomment-192944329

I'm not sure we need to use the same system. For example, I created one with OmniGraffle, but it's difficult to tell what changed since it's not text-based.

https://speakerdeck.com/mraible/micro-frontends-for-java-developers-javaone-2022?slide=29

[2022-10-19 00:18] A-5ingh commented on #19739
I think using asciiflow will be beneficial as it will be easy to see what gets changed. I have converted your OmniGraffle one into ASCII. Please review if this helps.
[code]

[2022-10-19 06:23] Delirante opened #20063 "Requests to gateway fail thanks to 401 from Keycloak when gateway silently calls operation realms/realmName/protocol/openid-connect/userinfo"
##### **Overview of the issue**

Keycloak endpoint "realms/realmName/protocol/openid-connect/userinfo" is called with every request made to gateway and not just once as is written in comment "// Retrieve user info from OAuth provider if not already loaded".
Problematic code was added in this commit (few minor changes were added in later commits) https://github.com/atomfrede/generator-jhipster/comm

[2022-10-19 06:40] atomfrede commented on #20063
We call the [get method of the caffeine cache](https://github.com/jhipster/generator-jhipster/blob/f04bce348443ab001247661294ad247e2fadf848/generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs#L436), so the cache decides when to call the mapping function and retrieve a new value for the key.

So either there is a bug in caffeine (don't think so), we have

[2022-10-19 07:00] Delirante commented on #20063
Yes, one of solutions can be not using Mono<Jwt> as value in Caffeine cache.
Another can be call block() method after method bodyToMono(), so result will be actually extracted (not sure this will help on 100%).
Or another can be extract whole code which calls userinfo operation on keycloak out of lamba function.

[2022-10-21 08:15] dieppa commented on #18198
Hi @mraible, @osantana85 was able to reproduce it and we are looking at it

[2022-10-21 12:50] manthanhacker1 opened #20072 "Rate limit for password reset"
Missing rate limit for current password field (Password Change) Account Takeover on https://start.jhipster.tech/

Vulnerable site : https://start.jhipster.tech/

Steps to reproduce the bug:

1)Go to Account> Change Password. Enter any (wrong password) In the old password field.
2)Now enter the new password and Turn the Intercept ON.
3)Capture the request & Send the request to Intruder and add a Pa

[2022-10-21 13:02] A-5ingh commented on #19739
@mraible any feedback on these two diagrams? I know they look too basic and definitely would add a jazz if we use images/icons of respective technologies.

[2022-10-21 14:23] atomfrede commented on #20072
Same as for https://github.com/jhipster/generator-jhipster/pull/20074 applies here.

[2022-10-21 16:05] mraible commented on #18198
Thank you @dieppa!

[2022-10-21 19:51] #19934 closed

[2022-10-22 09:42] deepu105 commented on #20072
@atomfrede @mshima @manthan1345267 contacted me and julien via mail to report vulnerability and since we didn't feel these are CVE issues I asked to do PRs so I'm gonna give him benefit of the doubt. @manthan1345267 could you please do PRs with actual implementation as the one you opened looked like spam or incomplete

[2022-10-22 09:44] atomfrede commented on #20072
Good to know. Sorry for marking it as spam. As I said the point is valid but the pr looked like spam.

[2022-10-22 10:29] mshima commented on #20072
Great, I've closed the PRs because:

They are PRs to merge our own branches see:
<img width="403" alt="Captura de Tela 2022-10-22 às 07 24 08" src="https://user-images.githubusercontent.com/1417183/197334229-f2afdf98-fdd8-4ad7-9c9c-229007f6949c.png">

We should be careful because such huge PRs can mask credentials stealing at GitHub Actions.

But the implementation will be nice.

[2022-10-23 21:12] #19633 closed

[2022-10-23 21:21] Tcharl opened #20081 "Move All non contextual code to respectives libraries"
##### **Overview of the feature request**

The goal being to slim down a bit the generator and to make things simpler for everyone.

 - Move all frontend non templated code (i.e. admin forms, constants, interceptors, ...) to their respective frontend libraries (react-jhipster, ng-jhipster, ...), in small, overridable file on generated side
 - Create a jhipster-boot libraries with some @Conditional

[2022-10-24 01:38] mraible commented on #20004
Fixed by https://github.com/jhipster/generator-jhipster/pull/20011.

[2022-10-24 01:38] #20004 closed

[2022-10-24 06:23] atomfrede commented on #20081
Just my 2 cents, I always liked that jhipster does not hide anything/much from the user. So one is able to change everything and can easily see what's going on. From a developer perspective I can totally understand the point to have less code in the generator, but I also think we need to keep in mind that in case we need to change something this involves at least two releases, one for a lib and on

[2022-10-24 06:26] atomfrede commented on #20072
Just to get it clear, by rate limiting on old password field you mean rate limit the "change password" endpoint. So e.g. after 5 failed attempts forbid to do it again for e.g. 1h (or longer) for e.g. the malicious ip/server whatever?

[2022-10-24 06:46] atomfrede commented on #18198
Tracking it at jh lite too https://github.com/jhipster/jhipster-lite/issues/4067

[2022-10-24 09:38] RamiSouai commented on #19780
This is still an issue as of v7.9.3

I should also add that this only occurs when using Angular. React and Vue generate the models correctly.

[2022-10-24 12:00] DanielFran commented on #20081
I am not fan of libraries in jhipster because it create dependencies between projects and maintenance a little more complicated.
In fact this is why ng-jhipster has been deprecated
Also moving the ng-jhipster code to the generator allow user to change everything he wants

[2022-10-24 12:45] mshima commented on #20081
Agree with @DanielFran and @atomfrede.

`ng-jhipster` was deprecated due to maintenance burden and to make contributions easier.
I am not whiling to maintain a `ng-jhipster` or an external lib exclusive to jhipster. I maintain a few generic node libs that are used by jhipster.

Do we need a `jhipster-boot`?
IMO no, there is spring-boot for auto configuration and jhipster-framework for other purpos

[2022-10-24 14:00] mshima opened #20102 "Investigate simplifying gateway/microservice oauth2 config."
##### **Overview of the feature request**

We currently implement some custom filters which probably can be replaced by spring-cloud features.
Like replacing our custom token relay filter with [token relay filter](https://github.com/spring-cloud/spring-cloud-gateway/blob/3e83068cc24ae5a7987726a62267c4a5b7a26877/docs/src/main/asciidoc/spring-cloud-gateway.adoc#token-relay-gatewayfilter-factory)

##

[2022-10-24 14:33] mshima commented on #19689
Fixed by https://github.com/jhipster/generator-jhipster/pull/20066

[2022-10-24 14:33] #19689 closed

[2022-10-24 14:47] jdubois commented on #20081
I am indeed a huge fan of this approach: put as much code as possible in a third party library, so it's hidden to people (less code, less complexity and less maintenance). That's how Spring Boot works, and for example in Azure we have our own Spring Boot starters which are very useful and popular (you just drop them and it works, and re-configuration is much easier). This would also help a lot to

[2022-10-24 15:32] mraible commented on #20102
FWIW, we already use [TokenRelay](https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/resources/config/application.yml.ejs#L174) for Spring Cloud Gateway.

[2022-10-24 16:25] mshima commented on #20102
Ok https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/client/TokenRelayRequestInterceptor.java.ejs is something else then.

https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/java/package/client/AuthorizedUserFeignClient.java.ejs,  https://github.com/jhipster/generator-jhipster/blob/main/generators/s

[2022-10-24 18:00] mshima commented on #20102
@mraible what's the reason for those feign configurations?
Can be dropped from default?

[2022-10-24 18:43] DamnClin commented on #20081
I don't like this approach, the users I'm talking don't want to user JHipster because it is adding a dependency to a JHipster specific dependency (last discussion on that: today with 2 power users from a very big french company).

I don't really understand this part. jhipster-lite and jhipster-classic generated code are not really close, the plan is to create JHLite modules to add the new dependen

[2022-10-24 19:22] jdubois commented on #20081
I believe we should have some shared code, it’s all the same project and concepts on top of Spring Boot. The security part (mostly for JWT), the database optimization code (for UTC, some bug fixes) should be the same. Maybe some entity code, or configuration too.

Generated code always give more maintenance and security issues: I would limit it only to what people would normally modify (entities b

[2022-10-24 20:25] mshima commented on #20081
The generator uses a base64 encoded HS512 algorithm by default, the spring-boot default is to use certificates.
I couldn't find a spring-boot properties support to configure a hmac secret key, just for certificate based.
I doubt jhipster-lite uses HS512.

We don't update spring-boot minor/patch releases if there is a newer spring-boot version.
To fix a security issue, the user will have to regener

[2022-10-24 20:45] mshima commented on #20102
There is only references at openapi generator.
https://github.com/jhipster/generator-jhipster/search?p=1&q=feign

I suppose we can drop feign support. Or modularize if needed.

[2022-10-24 22:08] mraible commented on #18198
@dieppa Do you have an update or issue we can track?

[2022-10-24 22:53] mraible opened #20105 "Rename "ngx" instances to "ng" in codebase"
##### **Overview of the issue**

`ngx` is leftover from when we had AngularX. We should rename it.

##### **Motivation for or Use Case**

Remove legacy settings for the v8 release.

[2022-10-24 23:42] mshima opened #20106 "Drop AngularCookieLocaleResolver or rename"
##### **Overview of the feature request**

Leftover from angularjs (angular 1).
https://github.com/angular-translate/angular-translate/blob/d727abb0cae045c1f645bb7a92f06f8240875987/src/service/storage-key.js

##### **Motivation for or Use Case**

Cleanup

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-10-25 05:29] DamnClin commented on #20081
Why do you doubt that? Can you point to the faulty code?

[2022-10-25 06:58] dieppa commented on #18198
@mraible https://github.com/mongock/mongock/issues/583

[2022-10-25 07:34] ryanmyj opened #20120 "Swagger UI in Registry doesn't show the API document for other services"
Generate a gateway, start up the service.
Then start the Registry

![image](https://user-images.githubusercontent.com/62282214/197155703-66e2b4b7-3998-48ae-b787-fed490185e78.png)

Go to the Swagger page, the gateway API doesn't show up:

![image](https://user-images.githubusercontent.com/62282214/197155045-373dd4e3-b0b4-4fb7-be70-f8b7e5471186.png)

##### **JHipster Version(s)**

7.4.0

##### **JHi

[2022-10-25 12:50] mshima commented on #20081
@DamnClin bad assumption, no faulty code. Using certificates may use less custom configuration.
Just saw the jwt implementation at jhipster-lite side, it very close from what we had before https://github.com/jhipster/generator-jhipster/pull/20066.
We have switch to use spring-boot builtin support. I may try to take a look and implement at jhipster-lite if you want.

[2022-10-25 12:56] DamnClin commented on #20081
Would be awesome!

[2022-10-25 14:24] mshima commented on #12558
Since we are at v8 cycle, I suggest to migrate to vite which is the recommended now.
The problematic migration may be microfrontend with module-federation. I can try to help with that.
Migration info is available at https://bootstrap-vue.org/vue3.

[2022-10-25 16:54] mshima commented on #17212
Closing in favor of https://github.com/jhipster/generator-jhipster/issues/19991.

[2022-10-25 16:54] #17212 closed

[2022-10-26 15:55] Diandson commented on #18287
Hi
Can some one help me with reactive on my gateway app
I just upgrade it and get face thousands of errors!

=> Exporting PDF as response to angular;
=> Getting Objet from Mono like I did with Optional one;
=> Use peek in Flux .

Thank gays!

[2022-10-26 17:05] vicpermir opened #20126 "Switch to Turbopack"
##### **Overview of the feature request**

Consider using [Turbopack](https://turbo.build/) instead of Webpack.

Link to the github repo: https://github.com/vercel/turbo

##### **Motivation for or Use Case**

Turbopack seems to be the natural successor of Webpack with a focus on extensibility and performance.
Webpack is famously known for being slow, something that Turbopack aims to fix.

##### **

[2022-10-26 17:40] #20105 closed

[2022-10-26 17:52] zhx828 commented on #20126
https://turbo.build/pack/docs/features/frameworks#vue-and-svelte I think we would not consider until it supports Angular/React/Vue?

[2022-10-26 18:31] Tcharl commented on #20102
Also noticed that client credentials flow isn't supported by our SecurityUtils class.

I used to use UserFeignInterceptor for service-to-service communication: client credentials vs authorization code flow

[2022-10-26 18:49] Tcharl commented on #20081
First @atomfrede sorry to forgot to mention your handle.

My guess on that part is that we can try hard to split the code the right way, so that user can just copy the class he wants from the dependency sources and instantiate it in his project if needed: maybe the introduction of a facade+factory pattern can help the end user to achieve it easily, with the according guidance (he'll just have to u

[2022-10-26 18:55] DamnClin commented on #20081
The direction on JHLite on that will not be really easy to do in a dep: https://github.com/jhipster/jhipster-lite/issues/4113

Of course, it is doable with configuration to disable some parts BUT it's way easier to understand with 2 modules in JHLite (and lighter code)

[2022-10-26 19:13] mshima commented on #20126
We supported webpack so it was easier and consistent to maintain a single tooling.
But the situation has changed a lot, and we have very good alternatives.
IMO we should support the frontend official tooling now.

angular -> angular-cli (currently uses webpack)
vue -> vite
react -> was webpack through react-react-app, but I think it's somewhat just in maintenance now. developers seems to prefer vi

[2022-10-26 22:25] mraible commented on #18287
@Diandson Please don't comment on closed issues. You can open a new one and provide more details about your problem or ask your question on Stack Overflow with the `jhipster` tag.

[2022-10-26 22:41] mraible commented on #20126
I agree with your recommendations @mshima.

[2022-10-27 05:51] dieppa commented on #18198
@mraible , as you have probably already seen in this [Jhipster issue](https://github.com/jhipster/jhipster-lite/issues/4067), we have released the mongock runner for springboot 3 and driver for springdata v4.

However I am looking again this ticket and I am wondering if what you need here is upgrading the reactive driver. Which, having build the foundation for the jdk7 modules mentioned above(spri

[2022-10-27 06:10] giraone opened #20138 "config.CRLFLogConverter without any Tests"
##### **Overview of the issue**

With 7.9.3 a new class `config.CRLFLogConverter` was introduced. Unfortunately without any tests. This is always a problem of generated classes, because then a JHipster upgrade has an influence on the code coverage of the project. Because of our company rules on at least 50% on new code, I had to write the test myself to commit the upgrade.

Code is below. Please i

[2022-10-27 06:19] atomfrede commented on #18198
I will have a look, I also think this is not related to springdata 4 and boot 3 as this is about boot 2. But the error looks the same.

[2022-10-27 08:01] mraible commented on #18198
I tried [the steps to upgrade to Mongock 5.1.7](https://github.com/jhipster/jhipster-lite/issues/4067#issuecomment-1293024524), followed by [these steps from above](https://github.com/jhipster/generator-jhipster/issues/18198#issuecomment-1286067850). I still get an error on startup:

[code]

If I add the following back in, it starts!

[code]

Commits:

- jhipster-bom: https://github.com/jhipster/j

[2022-10-27 08:09] atomfrede commented on #18198
The mongock driver has the dependency for spring set to `provided` so I think thats correct. Do I get it correct, this is indeed about boot 3 and not 2?

[2022-10-27 08:10] mraible commented on #18198
Yes, this is for Spring Boot 3.

[2022-10-27 08:12] atomfrede commented on #18198
Makes sense we don't do such an update for jh 7.x right now. Awesome, so everything looks good here?

[2022-10-27 08:23] mraible commented on #18198
@atomfrede I think so. We'll see what CI says.

[2022-10-27 08:36] dieppa commented on #18198
I am keeping an eye here to see how it progresses and in what I can help with 👀

[2022-10-27 11:50] mshima commented on #19811
I wonder why keycloak became so slow to start.

[2022-10-27 11:54] mraible commented on #19811
Related to Docker Compose, I noticed the JHipster Oh My Zsh plugin needs to be updated to use `docker compose` instead of `docker-compose` or it won't work with the main branch.On Oct 27, 2022, at 12:50, Marcelo Shima ***@***.***> wrote:﻿
I wonder why keycloak became so slow to start.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the

[2022-10-27 18:43] Tcharl commented on #20126
The commercial argument for turbopack seems awesome, I think that it needs some tryout at least.
They benchmarked it 1.5s startup compared to 7s on a vite build

[2022-10-28 09:39] Rajpratik71 opened #20146 "Value of salt and encoding"
Wanted to know at

https://github.com/jhipster/generator-jhipster/blob/2f04fc99447ed1ca530b6107e2ffd3c102295b58/generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs#L2565

https://github.com/jhipster/generator-jhipster/blob/2f04fc99447ed1ca530b6107e2ffd3c102295b58/generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs#L2537

1. what is the value of salt ?

2.

[2022-10-28 10:49] yelhouti commented on #20126
I agree with @mshima too we should always strive to use the default for each framework as it make it easier for existing to projects to migrate in, and though who want to leave to migrate out.
Also it removes the maintenance/migration burden from the jhipster team

[2022-10-28 12:09] yelhouti opened #20147 "Insecure and misleading default realm config in jhipster-realm.json"
##### **Overview of the issue**

The default jhipster-realm.json comes with some defaults that are outdated and make it hard to use for multi-tenancy.
Moreover secrets are exported as ******* which creates false sense of security as would expect a lot of deployments in production to keep them that way making them vulnerable for attacks.

##### **Motivation for or Use Case**

I would like to be abl

[2022-10-28 13:52] mraible commented on #19477
@jayveeAtWork The reason this hasn't been fixed is because we're all volunteers, with limited time, and no one has contributed a fix. I'm happy to review a PR that fixes this issue. See our contributing guide for how to do this.

https://github.com/jhipster/generator-jhipster/blob/main/CONTRIBUTING.md

[2022-10-28 15:03] mshima commented on #19477
It happens when translation is disabled, which probably isn't commonly used. Had become much more useful recently with native translation.

The offending like is https://github.com/jhipster/generator-jhipster/blob/fa1d0411a17c294d0d7ad4b88c90d3c619887868/generators/client/templates/entity/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs#L53.
It's quite easy,

[2022-10-28 18:19] Akash-Sareen commented on #19627
Thanks for the workaround fix from @EspA. It started working for me as well.

[2022-10-28 19:38] mshima commented on #19627
Installing from v7 git branch should work:
[code]

[2022-10-29 06:20] vicpermir commented on #20126
Makes perfect sense to support the official tooling, I opened this issue because turbo seems to be an order of magnitude faster than vite, and several faster than webpack.

In this case, do we just wait for the people behind the frontend frameworks to make the switch themselves?

Thank you.

[2022-10-29 11:01] Tcharl commented on #20147
Agrees, but it should be mentioned in the project readme.

I'm also not a big fan of the 'internal' client, which gives the same identity to all MS, meaning that you can't restrict or add claims, roles, to specific ms. I would prefer to get on client per microservice

[2022-10-30 13:52] changzheng0101 opened #20152 "Please make Jhipster support for vue 3."
when I use Jhipster，I choose vue. But I only get code for vue 2.Vue 2 has been deprecated for a long time.Please support for vue 3!Thanks a lot.

[2022-10-30 14:47] mshima commented on #20152
Vue 2 is not deprecated.
It has recently received a few vue 3 features.

Duplicated of https://github.com/jhipster/generator-jhipster/issues/12558.
You can see discussion about vue3 support there.

[2022-10-30 14:47] #20152 closed

[2022-10-30 14:48] mshima commented on #12558
I will start modularizing vue generator and migrating if nobody started.

[2022-10-30 14:56] mshima commented on #19991
Closed in https://github.com/jhipster/generator-jhipster/pull/20080.

[2022-10-30 14:56] #19991 closed

[2022-11-01 10:24] caocuong2404 commented on #19627
switch to node v16. JHipster v7.9.3 is working well
![image](https://user-images.githubusercontent.com/50004497/199212864-19d7d19c-493b-45af-9c06-47192f62fff5.png)

[2022-11-01 12:41] #14616 closed

[2022-11-02 06:04] ghacupha commented on #19477
@mraible  and @mshima I know exactly what you mean when you say limited time. It's the same case here. Am also not very confident in ejs, but will give it a try, now that I have seen that entity-management-update-html line.

[2022-11-02 11:06] mshima commented on #12558
I will finish the modularizing, but we will need to drop some libs (decorator, class) before migrating.
So I will not implement the migrating for now.

[2022-11-02 11:18] venkatnaveen7 commented on #19981
Im also facing same
'cjs' is not recognized as an internal or external command,
operable program or batch file.

[2022-11-02 11:20] venkatnaveen7 opened #20182 "'cjs' is not recognized as an internal or external command,"
npm run build

'cjs' is not recognized as an internal or external command,
operable program or batch file.

[2022-11-02 12:46] ghacupha commented on #19477
Mmh! Ran into #19981. I try later when I figure out this cjs thing since I can't run builder tests

[2022-11-02 21:29] Tcharl commented on #20182
Works on my machine

[2022-11-03 05:17] venkatnaveen7 commented on #20182
node --version v16.13.2
npm --version 8.1.2
trying to install jhipster V7.9.3
using Windows 10 OS Build 19044.2130  Version 21H2

generator-jhipster@7.9.3 build
npm run compile && npm run copy-files && npm run compile-types && npm run copy-types

generator-jhipster@7.9.3 compile
tsc

generator-jhipster@7.9.3 copy-files
cpy 'jdl/.json' 'dist/jdl' && cpy 'generators/' '!/.(js|cjs|mjs|ts|cts|mts|snap

[2022-11-03 10:17] sytzefluenc opened #20188 "Lint or validate jdl file"
##### **Overview of the feature request**

We have multiple projects based on jHipster's microservices architecture. All of the generated (and later adapted) code is in our gitlab repo and we use a CI/CD pipeline. The jdl file that is the basis for the application is also under version control in a repo we call general-admin (as it also contains project admin stuff)

I would like to have a CI/CD p

[2022-11-03 14:45] amanganiello90 opened #20189 "UI Filtering usage in Angular"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker, if your issue is not a **bug** or **feature request** then sorry you are not in the right place :wink:.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This will help the project to keep a clean issue tracker

[2022-11-03 14:55] ghacupha commented on #19477
Ok done. Currently, run the pr #20190

[2022-11-03 15:04] lucaprieto opened #20191 "Microsservices project and Openapi-client"
##### **Overview of the issue**

I created a project with jhipster and chose microservices, then I ran "jhipster openapi-client" and the error always appeared:
[code]

After looking at the code I saw that the .yo-rc.json file did not have the "clientPackageManager" variable

##### **Reproduce the error**
Create a project for Microsservices and than execute: jhipster openapi-client

##### **Suggest

[2022-11-03 15:06] mshima commented on #20189
There is a button at the other side relationship https://github.com/jhipster/generator-jhipster/issues/18370#issuecomment-1125199736

There are improvements at v7.9.3 https://github.com/jhipster/generator-jhipster/pull/19372 to make easier to create ui.

But the out of the box ui support is very limited for now.

[2022-11-03 15:15] amanganiello90 commented on #20189
Only a button?
I don't understand the utility of using a button to filtering only the id of the other side relationship.

It will be great to use filtering on columns in this way:

![table filtered](https://user-images.githubusercontent.com/20536757/199760063-0392347e-0ff7-4079-ad71-752a60099eb9.png)

![column filter](https://user-images.githubusercontent.com/20536757/199760134-70e0cd27-7fe6-4486-

[2022-11-03 18:07] mshima commented on #19477
Thanks @ghacupha

[2022-11-04 00:34] dpalic commented on #19739
This created image can be provided as image, SVG or as text.
Original is a text based source file

Here in sketch status, during developing/creating:

![image](https://user-images.githubusercontent.com/1399203/199859782-59276c4c-61f9-4d21-8d5c-d4ca7330e945.png)

and here in finalized status for release:

![image](https://user-images.githubusercontent.com/1399203/199860015-457e8b98-309b-4828-acf8-f

[2022-11-04 11:42] #19811 closed

[2022-11-04 16:13] mraible commented on #19739
@A-5ingh These look great! Is there anyway to make the text white when the background is red? On the Keycloak box, for instance.

[2022-11-04 16:15] mraible commented on #19739
@dpalic This looks awesome! I was going to mention that the wavy lines look funny in the first graphic, but you fixed that in the 2nd one. Is it possible to add more colors, like red or green? Also, we shouldn't use the coffee cup because Oracle will send us a message telling us not too. It's better to use [Duke](https://wiki.openjdk.org/display/duke/Gallery) to indicate Java.

[2022-11-04 16:32] A-5ingh commented on #19739
I couldn't see any option in [ditaa](https://github.com/stathissideris/ditaa) to change the font color but it has different color codes available if you feel like using some other color instead of red.
![image](https://user-images.githubusercontent.com/32884734/200027673-f6af8dc3-73d2-4420-8253-cbbd7248c1c9.png)

[2022-11-04 18:24] A-5ingh commented on #19739
or @mraible we can use a darker shade of red which automatically uses the font color as white.
![jhip-microfrontend_6](https://user-images.githubusercontent.com/32884734/200048212-d89e5876-aa81-4134-8ebc-89570f3df991.png)

[2022-11-04 19:58] A-5ingh commented on #19739
So @mraible, we can add logs too but it will be a manual process. Do you want me to do it or do we want to keep it like that so that anyone can generate the `png` just by using `ditaa` on the ASCII diagram?

[2022-11-04 20:01] mraible commented on #19739
What do you mean by "add logs"? I don't understand what this means.On Nov 4, 2022, at 13:58, A. Singh ***@***.***> wrote:﻿
So @mraible, we can add logs too but it will be a manual process. Do you want me to do it or do we want to keep it like that so that anyone can generate the png just by using ditaa on the ASCII diagram?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are

[2022-11-04 20:02] A-5ingh commented on #19739
For instance, adding the git logo to the git repo, react logo to react app, etc.

[2022-11-04 23:20] mraible commented on #19739
Thanks for the clarifications. Logos would be cool, but if they can't be generated from source, it's probably not worth it. We need to have something that's easy to update.

[2022-11-05 03:20] A-5ingh commented on #19739
Right, that's why I didn't do much research. But I see we can give a background image using `ditaa`. I'll see what I can do. Please do let me know if there is any other feedback or improvement you feel we can do to it

[2022-11-05 21:49] dpalic commented on #19739
regarding the both image types. It is intentionally. The first image is a sketch / work in progress view to visualize the diagram is not in finished status

regarding logo, sure can replace

regarding the colors, do you have a CI color set/book which we could use?.

[2022-11-06 05:13] kevintanhongann commented on #2101
I was thinking about this scenario for a while, and when it comes to us developers doing prototyping, it's difficult to change since the app has already been generated.

If there's a way to enable or disable elasticsearch in the project, I don't know if it can be done via Feature Flag 4j and yml or not. But if it can, would be wonderful.

`elasticsearch:
       enable: true/false`

[2022-11-07 07:59] ganiyamagani commented on #16884
Did you tried with jvm argument -Djava.net.preferIPv4Stack=true ?

[2022-11-07 14:47] vishal423 commented on #20147
Export as asterisk is the default behaviour and not in the scope of this project. I remember seeing few occurrences in the project generated realm file (mostly for the default Keycloak clients) and I think we can easily fix that with some random value during project generation.

You can use offline tools to rename to your preferred value.

Do you want to propose a PR with fix for the asterisk issu

[2022-11-07 21:26] mraible commented on #19739
@dpalic There are some colors for the website redesign in https://github.com/jhipster/generator-jhipster/issues/13595. Not sure if that's what you're looking for.

[2022-11-08 00:01] gmarziou commented on #2101
@kevintanhongann have you looked at JHipster Lite?

https://www.youtube.com/watch?v=RnLGnY-vzLI

[2022-11-08 02:16] mraible commented on #18650
@atomfrede The workaround provided doesn't seem to work anymore. I tried deploying my 21-Points Health app to Heroku today and it fails to startup.

[code]

[2022-11-08 04:54] atomfrede commented on #18650
Are you deploying with git? Is the source in your 21 points GitHub repository?

[2022-11-08 05:07] mraible commented on #18650
I was deploying with Jenkins (generated using `jhipster ci-cd`). Its `deployment` task is as follows:

[code]

I tried to do `jhipster heroku` to deploy everything again, but that fails with:

[code]

If I do `git push heroku main`, it works. It'd be nice if Jenkins worked out-of-the-box (or can be fixed with a small change).

[2022-11-08 05:19] mraible commented on #18650
Even though `git push` works, I get an error when I try to register a new user.

[code]

[2022-11-08 05:44] yelhouti commented on #20147
That is actually not true when export from the CLI and the the web interface.

Like which tools ? The issues with the current the jhipster-realm.json for me are:
1. The ID of the realm is `jhipster` id should be an UUID to match the default behavior of keycloak.
2. the realm file contains a lot of references to references to `jhipster` that mean different things. When creating a new Tenant Some sh

[2022-11-08 06:23] atomfrede commented on #18650
Regarding the jenkins part I think it can be fixed, but we need to adapt the build file to fix the elastic client version.

Do you know which spring data elasticsearch version we are using? Found this: https://stackoverflow.com/questions/70675940/spring-boot-elasticsearch-java-lang-nosuchfielderror-index-content-type-error

It looks like a version issue again.

[2022-11-08 06:28] atomfrede commented on #18650
According to the docs of bonsai es 7.10.2 is the highest supported version (the last oss licensed version). So the pinned drivers should be fine (as the startup works). It seems to be a version problem of spring data elasticsearch

[2022-11-08 14:54] mraible commented on #18650
It looks like version 4.4.2.

[code]

I just tried registering a new user again after deploying with `git push`. It still has an error:

[code]

[2022-11-08 15:15] xeraa commented on #18650
[Spring Data 4.4 switched to Elasticsearch 7.16](https://docs.spring.io/spring-data/elasticsearch/docs/4.4.4/reference/html/#new-features.4-4-0). The issue sounds quite similar to https://discuss.elastic.co/t/fieldnotfounderror-on-update-to-elasticsearch-7-16-2/296173 — I wouldn't be surprised if pinning the underlying Elasticsearch version will stop working at some point. Not a solution, but does

[2022-11-08 18:25] dpalic commented on #19739
@mraible you mean https://rebrand.ly/jhipster ?
the colors of the new website?

If so, I can try to use them

[2022-11-08 19:37] mraible commented on #19739
Yes. This might help too. https://github.com/jhipster/jhipster-artwork/issues/21

[2022-11-08 19:43] mraible commented on #18650
@xeraa If I remove the following from `gradle/heroku.gradle`, I get the first error (`Invalid or missing build flavor [oss]`).

[code]

[2022-11-08 22:48] xeraa commented on #18650
Sorry — I was only talking about jumping over the issue in the application itself. My guess is that this is just trying to combine three pieces that weren't really meant to work together, so the current Spring Data Elasticsearch version might just not be an option with the free Heroku deployment any more?

[2022-11-09 07:19] atomfrede commented on #18650
Last time it already felt like a hack and I was suprised it worked. But as long as bonsai only provides 7.10.x maybe we can't do it anymore. @mraible downgrading spring data elascticsearch will not work I guess as it will break other stuff which relies on the boot managed spring data version?

[2022-11-09 07:29] mraible commented on #18650
@atomfrede Maybe we should default to a paid Elasticsearch add-on that works?

[2022-11-09 09:27] atomfrede commented on #18650
I am still a bit reluctant in doing so as this will result in surprising costs and the official es addon starts at 67usd/month. But of course using the official elasticsearch add on would be best.

[2022-11-09 16:24] atomfrede commented on #18198
@mraible Can we close this from your point of view?

[2022-11-09 16:56] pascalgrimaud commented on #18198
@atomfrede : approved

[2022-11-09 21:39] ehogeweg commented on #18995
Exact same issue here with an out-of-the box JH-7.9.3/SB-2.7.3.
MacOS 11.7.1
openjdk version "11.0.2"

A clean build seems to solve the issue every now and again but I have not discovered any pattern yet.

Any insight or work-around would be greatly appreciated.

Cheers.

[2022-11-09 22:36] #20038 closed

[2022-11-10 02:51] mraible commented on #18650
Yikes! $67/month is quite pricey, especially for an app like 21-Points Health. I pay $25/month now to keep it running all the time. $100/month is a lot more. Maybe I should start selling verified accounts. 😅

[2022-11-10 08:32] OmarHawk commented on #19845
We also have the same problem in our project.

@mshima / @DanielFran is the PR alright, or is there anything I can do to get this merged?

[2022-11-10 16:01] petecarapetyan commented on #20182
same problem, different route to get there

node LTS 18.12.1

to replicate
` npm uninstall -g generator-jhipster
  npm i -g generator-jhipster
  jhipster
 `

  This, or any jhipster command, produces output that always looks like this

  `node:internal/modules/cjs/loader:535
      throw e;
      ^

Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './lib/util/namespace' is not defined by "exp

[2022-11-10 19:13] paris0120 opened #20263 "Docker image app doesn't start"
##### **Overview of the issue**

The docker image app of jhipster get stuck.

##### **Motivation for or Use Case**

Run app with dock compose

##### **Reproduce the error**

for example, gateway
jdl:

application {
  config {
    baseName gateway,
    applicationType gateway,
    packageName com.spring.microservice.gateway.jhipster,
    authenticationType oauth2,
    prodDatabaseType mysql,
    re

[2022-11-10 21:20] OmarHawk commented on #19845
Yes, that's a proper sample. When the mapstruct expression field is referenced as "label" for the relationship, jhipster does generate an application, but it fails to finally compile the java code. :-)

[2022-11-10 22:04] mshima commented on #19845
The PR doesn't change anything for the added sample: https://github.com/jhipster/generator-jhipster/actions/runs/3439427487/jobs/5738658441

[2022-11-11 07:51] atomfrede commented on #20263
Is your database up and running at the configured port?

[2022-11-11 14:36] paris0120 commented on #20263
No I disabled the mysql and the mysql from the docker image started without errors

[2022-11-11 15:09] atomfrede commented on #20263
Hope I do understand correctly. When your database is not running the application can't connect to the database and execute e.g. its migration steps (thats also what the error you've posted is about). So starting the database should get your app up and running.

[2022-11-11 15:16] paris0120 commented on #20263
Sorry I didn't make myself clear. I meant that I stopped the local mysql on the host and the mysql from the docker started without errors (at least I didn't see mysql errors) Below is the app.yml

# This configuration is intended for development purpose, it's **your** responsibility to harden it for production
version: '3.8'
services:
  gateway-app:
    image: gateway
    environment:
      - _JAV

[2022-11-11 18:03] mshima commented on #20182
@petecarapetyan your problem I probably https://github.com/jhipster/generator-jhipster/issues/19627.

@DanielFran can you reproduce on windows?

[2022-11-11 20:25] Tcharl commented on #20263
And the app starts with docker db? If so, everything described is excepted

[2022-11-12 09:45] #19878 closed

[2022-11-12 09:58] vishal423 commented on #20147
I don't understand your intent. As I said before, if you see an asterisk in the checked-in realm configurations, then, we should correct that with some random UUID. How does export come into picture?

I was referring to Text/IDE tools and shouldn't take more than couple of mins. Generating an application named realm is a good to have.

Please note the generated realm is not production hardened. Yo

[2022-11-12 10:04] vishal423 commented on #20147
btw, I don't like this programmatic approach as it would make the future maintenance a costly operation.

[2022-11-12 15:46] Tcharl opened #20295 "Extract the generator's logic into dedicated business-logic related structures"
##### **Overview of the feature request**

the goal would be to apply SOLID, OOP and all the guidelines explained in the 'Five Line of Code' book from Manning in this repository's codebase.

I propose to move all the business logic to each relevant bluprint's `logic` folder with an according split of responsibility splitting concerns in files (OOP-like).

##### **Motivation for or Use Case**

Curr

[2022-11-12 19:42] mraible commented on #18650
I wonder if it'd be possible to deploy Elasticsearch in a Docker container, since Heroku supports [deploying with Docker](https://devcenter.heroku.com/categories/deploying-with-docker)?

[2022-11-12 21:20] mraible opened #20297 "Migrate to new Kafka Spring Cloud Stream support"
##### **Overview of the issue**

With Spring Boot 3, Spring Cloud Stream no longer ships with `@EnableBinding`, `@Input`, or `@Output` annotations. The JavaDocs for these annotations says:

##### **Motivation for or Use Case**

The `ng-mongodb-kafka-cucumber` job is failing with the following error:

[code]

##### **Reproduce the error**

Create a new project with [`ng-mongodb-kafka-cucumber/.yo-r

[2022-11-13 01:23] mshima opened #20299 "Update keycloak to version 20."
Update keycloak and sync the realm configurations to align with Keycloak version.

Reference https://github.com/jhipster/generator-jhipster/issues/20218#issuecomment-1312524134_

[2022-11-13 05:33] galilo7 commented on #19246
Please, how could I fix the issue in my app if it was generated by Jhipster 7.8.1.

[2022-11-13 10:12] codedsun commented on #20297
Hi @mraible Can a beginner to this project take this issue? I have good prior experience with the spring and java though. Thanks

[2022-11-13 12:19] paris0120 commented on #20263
why is that? Isn't the docker db for the app?

[2022-11-13 14:55] mshima commented on #20297
@codedsun you can go ahead.

[2022-11-13 17:30] vishal423 commented on #20299
I will take a look in a day or two

[2022-11-13 18:44] #18907 closed

[2022-11-13 21:28] Tcharl commented on #20263
May be a misunderstanding: I understood that you started everything with `docker compose up -f app.yml` and everything worked as long as you stopped everything else on your machine (i.e. the local mysql), am I wrong?

[2022-11-14 08:07] huynhkimtri commented on #19627
Thanks @EspA  for posting the workaround, glad it's helping people.

[2022-11-14 11:08] deck80 opened #20312 "Customisation for European Commission: integration with eUI and EU Login"
##### **Overview of the feature request**

The feature request is about the integration in JHipster of the eUI F/E framework and the EU Login authentication mechanism.
##### **Motivation for or Use Case**
All the web applications created by the European Commission should be developed following guidelines and best practices.
For Angular-base app, for instance, the eUI platform should be used: https

[2022-11-14 11:10] deck80 commented on #20312
I can take care of this in my (very limited) spare time but I need guidance.
I have little to zero knowledge of JHipster customisation.

[2022-11-14 14:08] kaidohallik commented on #20182
I can reproduce.
Seems to be https://github.com/sindresorhus/cpy-cli/issues/30
So solution is to change `'` with `\"` in `copy-files` and `copy-types` scripts to work also in Windows.
In my testing this worked in Windows after this change.

[2022-11-14 15:52] codedsun commented on #20297
@mshima need help i created an application and replaced the `.yo-rc` file with the above file link provided. Am i going correctly?

[2022-11-14 16:40] codedsun commented on #20297
Also when I am creating a new application without any changes and run ./mvnw

[code]

i see some errors and the backend is not able to run.

[2022-11-14 16:49] mraible commented on #20297
Here are the steps to get the proper JHipster version installed:

[code]

Then, clone and install the Spring Boot 3 branch for the main generator:

[code]

Now, you should be able to create a new directory, add the above `.yo-rc.json` to it, and run `jhipster` in it.

[2022-11-14 16:53] codedsun commented on #20297
@mraible this jhipster-bom has to be inside the same generator-jhipster folder?

[2022-11-14 16:57] mraible commented on #20297
No, it should be a separate project. When you `mvn install`, it puts the artifacts in `~/.m2/repository` and that's where your application will get its SNAPSHOT artifacts. Here's how I have my local directory structure:

[code]

[2022-11-14 21:20] mraible opened #20315 "[v7.9.3] App with Elasticsearch doesn't work out-of-the-box with Heroku"
##### **Overview of the issue**

I'm updating 21-Points Health as part of the JHipster Mini-Book. When I deploy to Heroku with Jenkins, it fails to work.

The generated `deployment` task is as follows:

[code]

I started commenting on the [old issue](https://github.com/jhipster/generator-jhipster/issues/18650#issuecomment-1306523183), but realized it's probably better to create a new one.

With JH

[2022-11-15 05:54] paris0120 commented on #20263
Sorry for the miscommunication. I mean that I stopped the local MySQL on the host so that the port is available for the docker db. After I stop the local MySQL, I start docker with docker compose up -f app.yml and get the errors above.

[2022-11-15 08:36] pshareiko commented on #19940
https://github.com/liquibase/liquibase/pull/3381#pullrequestreview-1167513569

[2022-11-15 11:49] abdulquyoombhat41 commented on #8280
How to do it without Jcenter as Jcenter is deprecated

[2022-11-15 21:19] mshima opened #20328 "Generated sample users contains data invalid for generated form."
##### **Overview of the issue**

It’s not possible to open account settings and save it with provided user and admin samples.
`*@localhost` are not valid emails.

ref https://github.com/jhipster/generator-jhipster/pull/20316/files#r1023246272

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

#####

[2022-11-16 09:09] atomfrede commented on #20315
Deploying ES docker should work. Not sure about it works well with the smalles dyno instances (and totally no idea about the storage part).

[2022-11-16 09:17] atomfrede commented on #20312
Is this only related to frontend?

[2022-11-16 09:29] deck80 commented on #20312
In short: maybe.
Long version:
I am not sure as it would need a customization of the login mechanism: EU Login is OpenID compliant, so it *could* be just frontend. I was going to investigate how we have integrated this before in other apps...
On the other hand, I still have doubts on the complexity of the integration of eUI as it is not easy to integrate, according to the feedback from other devel

[2022-11-16 10:29] gmarziou commented on #20312
Few things:

* this is a niche requirement, who is building apps for the EU in our users?
* eUI covers only Angular, so not a candidate for the core generator

So this makes me think that it should be a blueprint

[2022-11-16 13:32] deck80 commented on #20312
I agree this should be a blueprint.
Regarding the users: I am a PM at the EC and I can assure it would be very interesting to have this blueprint to speed up prototyping.
For the B/E: I would like btw to do the same thing starting from .Net Core blueprint as well.

[2022-11-16 14:48] mraible commented on #19627
I was trying to reproduce [this issue](https://stackoverflow.com/questions/74440550/new-jhipster-project-all-integration-tests-fail/74451931) that doesn't happen on Mac with Node.js 16. It does happen on Mac with Node 18.

With Windows 11 and Node 18, I'm able to reproduce this issue with JHipster 7.9.3:

[code]

[2022-11-16 21:27] mraible opened #20348 "Update Elasticsearch documentation for Spring Boot 3"
##### **Overview of the issue**

It seems it's out of date because it references Jest and we now use the Elasticsearch Java Client with Spring Boot 3.

##### **Motivation for or Use Case**

Docs should be up-to-date.

##### **Reproduce the error**

##### **Related issues**

- https://github.com/jhipster/generator-jhipster/issues/19934

##### **Suggest a Fix**

Create a PR for the jhipster.github.i

[2022-11-16 21:28] mraible commented on #20348
@frascu Are you interested in helping out with this documentation update?

[2022-11-16 21:56] frascu commented on #20348
@mraible yes, I can

[2022-11-17 00:21] vdespa opened #20349 "JHipster does not recognize Node.js 18 as LTS"
##### **Overview of the issue**

JHipster issues the following warning when used with Node.js 18: "WARNING! Your Node version is not LTS (Long Term Support), use it at your own risk! JHipster does not support non-LTS releases, so if you encounter a bug, please use a LTS version first."

<img width="1457" alt="image" src="https://user-images.githubusercontent.com/1197635/202323488-81a1942c-ecb6-4ea

[2022-11-17 00:36] mraible commented on #20349
Yes, we should fix this. I'll add a bug bounty.

[2022-11-17 00:51] mshima commented on #20349
@DanielFran assigned to you. 😄
`WARNING! Your Node version is not LTS (Long Term Support), use it at your own risk! JHipster does not support non-LTS releases, so if you encounter a bug, please use a LTS version first.`
The error message seems the node is 18 prior to LTS version.

The logic looks ok:
https://github.com/jhipster/generator-jhipster/blob/bb188e00ca686d506658737ed7f91c478a7afcce/gener

[2022-11-17 03:43] logicglobe opened #20352 "JHipster 7.9.0+ integration tests fail using MariaDB for devDatabaseType"
##### **Overview of the issue**

All integration tests fail on JHipster 7.9.0, 7.9.2 and 7.9.3, on Windows and Linux, when choosing `devDatabaseType mariadb` or `devDatabaseType postgresql`  (did not test on any other production level databases)

(All integration tests SUCCEED on JHipster 7.8.1 and earlier on Windows and Linux. Additionally, integration tests succeed on JHipster 7.9.0+ if you sele

[2022-11-17 04:52] atomfrede commented on #20352
Do you have docker installed and is the daemon running? The error message says no docker environment found.

[2022-11-17 08:14] kaidohallik commented on #19981
Fixed by #20330

[2022-11-17 08:14] #19981 closed

[2022-11-17 08:16] kaidohallik commented on #20182
Fixed by #20330

[2022-11-17 08:16] #20182 closed

[2022-11-17 11:17] moritzreiter opened #20361 "React: wrong labels in Account menu when signed in"
##### **Overview of the issue**

The Account menu shows wrong labels for the first two items when logged in. They say _Sign in_ and _Register_ (as if not being signed in) but they should actually say _Settings_ and _Password_.

Interestingly, after switching the language, the correct labels get displayed, but then, when reloading the page via the browser, the incorrect labels get displayed again.

[2022-11-17 11:36] maata32 opened #20362 "Error: Error parsing file src\main\webapp\app\layouts\error\error.route.ts: SyntaxError: ',' expected. (10:26)"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this

[2022-11-17 14:06] mraible commented on #20362
Can you please provide more information on how to reproduce this issue? If we can't repoduce it, we can't fix it!

[2022-11-17 16:26] logicglobe commented on #20352
Woah! Something funky with my windows docker.  Reinstalled and all is good now!  Thanks for the help!

[2022-11-17 16:27] #20352 closed

[2022-11-17 16:32] mshima opened #20363 "r2dbc-mariadb doesn't support spring-boot 3 / spring-data-relational"
##### **Overview of the issue**

Don't allow to generate webflux + mariadb/mysql if problem persist by final v8.

References:
https://github.com/spring-projects/spring-data-relational/issues/1364#issuecomment-1289124846
https://github.com/jhipster/generator-jhipster/pull/20351

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

#

[2022-11-17 17:57] codedsun commented on #20297
@mraible thankyou, i am able to reproduce this..let me learn about the files/project structure and I will deploy a fix soon.

[2022-11-17 18:27] maata32 commented on #20362
Good morning The issue appears when I try to generate app with jhipster 7 9.3 and node18 on windows11 
Envoyé depuis Yahoo Mail pour Android

  Le jeu., nov. 17, 2022 à 14:06, Matt ***@***.***> a écrit:

Can you please provide more information on how to reproduce this issue? If we can't repoduce it, we can't fix it!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiv

[2022-11-17 18:54] mraible commented on #20349
Are we sure JHipster v7 works with Node 18? [This issue](https://github.com/jhipster/generator-jhipster/issues/20362) suggests it does not.

[2022-11-17 20:03] mshima opened #20385 "Update angular to v15"
##### **Overview of the feature request**

Angular v15 has been released.
Dependencies must add support before updating.

- [x] ng-bootstrap: https://github.com/ng-bootstrap/ng-bootstrap/issues/4419
- [x] angular-eslint: https://github.com/angular-eslint/angular-eslint/issues/1205
- [ ] angular-builders: https://github.com/just-jeb/angular-builders/issues/1312
- [ ] angular-jest-preset: https://gi

[2022-11-18 09:48] #19829 closed

[2022-11-18 13:27] antarus commented on #20349
![image](https://user-images.githubusercontent.com/928683/202715711-f94b1167-2ea6-4b91-8af1-028340105ce2.png)

[2022-11-18 14:56] mshima commented on #20349
Following https://github.com/jhipster/generator-jhipster/pull/20394:
- jhipster upgrade test is broken, it install latest released jhipster which is broken. So a new release will fix the upgrade test.
- wait-on is broken due to a node bug: https://github.com/jeffbski/wait-on/issues/127#issuecomment-1300959898

Generation works and as long as `./npmw` is used instead of the system node/npm, the app

[2022-11-18 15:02] vdespa commented on #20349
That is issue #19627

[2022-11-18 17:49] codedsun commented on #20297
Hi @mraible , @mshima I have also understood the files which need to be changed(might be :P , just want to understand what IDE you guys are using for the development? I can't do the imports manually for everything ..

[2022-11-18 18:13] mraible commented on #18650
@nz Hi Nick. Do you have plans to support the latest version of Elasticsearch that Spring Boot 3 ships with?

If not, I think we should drop our auto-provisioning of the Bonsai add-on when deploying to Heroku. Instead, we can show users how to deploy ES in a Docker container on Heroku, or how to configure their app to use Elastic's cloud and their 14-day free trial.

[2022-11-18 18:18] mraible commented on #20297
I'm using IntelliJ IDEA. A workflow that might be helpful:

1. Create an app with JHipster locally using the Spring Boot 3 branch. Check it into GitHub.
2. Make changes to the app to fix Kafka. Create a PR for your repo on GitHub. Iterate until all tests pass.
3. Make changes in to the files that you modify in `generator-jhipster`. Create a PR for the `generator-jhipster` repo.

We can help you wi

[2022-11-18 22:25] #20299 closed

[2022-11-19 05:44] vishal423 commented on #19627
Today, With node.js `v18.x`, I noticed the same issue in the `svelte` blueprint cli `shipster` failing to recognize the exported `cli` and `utils` sub-paths from `generator-jhipster` ( even though I see those under `exports`).

      throw e;
      ^
Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './cli/cli/jhipster' is not defined by "exports" in /Users/vishal/oss/shipster/node_modules/ge

[2022-11-20 11:30] xinlmain commented on #12844
Yes please! Value Objects are essential for DDD, without this we have to write a lot of code, to alter what JHipster generated.

See:
https://github.com/jhipster/jhipster-core/issues/262
https://stackoverflow.com/questions/41082676/generate-value-object-not-entity-with-jdl-studio
https://github.com/jhipster/jhipster-core/issues/128

[2022-11-20 14:38] codedsun commented on #20297
Hi @mraible , I have applied the changes to fix the issue but when I am running `./mnvw` the mongodb is throwing some error, do i have to configure that also on my machine?

<img width="1509" alt="image" src="https://user-images.githubusercontent.com/20026440/202908373-581b5018-f42c-44f2-97db-d8c85802e9c6.png">

[2022-11-20 15:37] dwarakaprasad commented on #20297
@codedsun looks like you have committed the generated [code](https://github.com/codedsun/generator-jhipster/tree/codedsun_spring_kafka/suneet) inside the generator code base and that is not required. Can you please only commit the necessary generator code and follow the [guidelines](https://github.com/jhipster/generator-jhipster/blob/main/CONTRIBUTING.md)

You can take a look at this closed [PR](h

[2022-11-20 16:07] codedsun commented on #20297
HI @dwarakaprasad, Thankyou for the detailed guidance.

this is a PR for reference to point 2 here https://github.com/jhipster/generator-jhipster/issues/20297#issuecomment-1320374960. This is just a generated app where I just made things working with my project regarding the migration, this has not be merged. I just wanted to verify with @mraible that are the changes in my project are OK and do I

[2022-11-20 17:14] dwarakaprasad commented on #20297
Ok, but I would not add the generated code to the generator code base as it will pollute your PR (the actual one I mean), I would rather have that as a separate repo (app repo).

All the generated code comes packed with lots of tests and you can use the following commands to run them,
1. Front end tests -> npm run ci:frontend:test
2. Back end tests -> npm run ci:backend:test
3. e2e
    Here you ha

[2022-11-20 17:31] codedsun commented on #20297
@dwarakaprasad I am a bit confused, I just wanted to know that the changes which I did regarding kafka cloud stream on my projects are compiling and server is up, but do we need anything to test it? If yes, please let me know. And if no - I would proceed forward with making changes to generator project..With the test/commands u mentioned above - do I need to run them on my project?

[2022-11-20 17:37] dwarakaprasad commented on #20297
Yes, you will have to run the following tests,
1. front end tests (may not be relevant in your case but its a good idea to run them)
2. back end tests (you seem to have got that covered with the mvnw)
3. e2e (very important) - this will make sure your application is working as expected

[2022-11-20 18:04] codedsun commented on #20297
@dwarakaprasad - As this PR is related to spring boot3, are you sure these tests will work?

[2022-11-20 18:13] dwarakaprasad commented on #20297
Yes, the tests could fail but at the least you can make sure that its not failing due to your code.

[2022-11-20 18:17] codedsun commented on #20297
@dwarakaprasad - There are 93 test in total and when I run this 83 are failing, I am not sure how will I debug what are mine but I see there are multiple other failures too.. Also will `./mvnw test` not give us the clear status for backend changes in test?

[2022-11-20 18:31] mraible opened #20404 "Migrate to Spring Security 6's `@EnableWebSocketSecurity`"
##### **Overview of the issue**

Spring Security 6 introduces an `@EnableWebSocketSecurity` annotation to replace the deprecated `AbstractSecurityWebSocketMessageBrokerConfigurer`.

However, this annotation does not provide a way to disable CSRF for websockets.

From https://docs.spring.io/spring-security/reference/6.0/servlet/integrations/websocket.html:

##### **Motivation for or Use Case**

We

[2022-11-20 21:21] dwarakaprasad commented on #20297
@codedsun the way I did it was for,
1. back end tests, to start with running the tests with debug logs enabled, and then categorize the issues as mine vs existing migration issues and then comment out the existing migration ones to make sure my code is running fine.
2. for e2e, as long as there are no context loading issues, you should be able to run them and verify. for e.g. [this](https://github

[2022-11-21 11:20] codedsun commented on #20297
To comment 83 test and parts would be too hard for me as a beginner to this project. @dwarakaprasad

@mraible @mshima What should I do?

[2022-11-21 12:09] mshima commented on #20297
@codedsun you can use a basic sample to make it easier, like:
[code]

tests should be ok for default at sb3 branch.
No need for entities.

Make sure you have reactive working too afterwards.
[code]

[2022-11-21 12:10] mshima commented on #20297
I will see if I can modularize Kafka to make it easier.

[2022-11-21 12:36] codedsun commented on #20297
@mshima where do i need to put this?
[code]

Got somewhat confused 🤔 plus as mentioned test are failing at my newly created project too as mentioned here https://github.com/jhipster/generator-jhipster/issues/20297#issuecomment-1321206022

[2022-11-21 13:22] mshima commented on #20297
@codedsun this is a jdl file.
Create a app.jdl with this content and run:
[code]

If the majority of test is falling, so the startup is broken.

[2022-11-21 14:27] AlexGiroud opened #20411 "Parsing error on french layout template"
##### **Overview of the issue**

When creating an application with the generator and selecting Angular/AdminUI/No internationalization support/French a parsing error appears ;

`Error parsing file src\main\webapp\app\layouts\error\error.route.ts: SyntaxError: ',' expected. (10:26)`

##### **Reproduce the error**

- May JHipster anonymously report usage statistics to improve the tool over time? No

[2022-11-21 16:35] dwarakaprasad commented on #20411
@AlexGiroud can you please run jhipster info and paste the output to the defect.

when do you get this error? code generation or application startup

[2022-11-21 17:10] codedsun commented on #20297
@mshima Thanks you, can you please guide me the next steps? like this https://github.com/jhipster/generator-jhipster/issues/20297#issuecomment-1320374960 . I am a little afraid to comment multiple times here for small doubts so I pinged on gitter.

1. What do i have to do for the project that I created in which I fix the kafka?
2. I haven't changed the files to generator-hipster? Shall I do it now

[2022-11-21 17:33] mshima commented on #20297
Creating a single commit or diff will help you to know what needs to be changed.

Your choice. In the end you will need to do.

If you haven't applied the change to jhipster templates then yes.

Not sure I understand.
At ci we run the following to test:
[code]

If you publish the generated project and changes to GitHub, we will manage to assist better.

[2022-11-21 17:35] codedsun commented on #20297
@mshima Already shared the project in this PR. https://github.com/jhipster/generator-jhipster/pull/20401

[2022-11-21 17:59] mshima commented on #20297
@codedsun I recommend to generate a new project with the jdl:
[code]

Apply the commit https://github.com/jhipster/generator-jhipster/commit/91e7f199c173be82b3ec5854720437a5b2d064a6.

These tests needs to pass:
[code]

[2022-11-21 18:00] codedsun commented on #20297
@mshima thanks, on it 👨‍💻

[2022-11-21 19:08] codedsun commented on #20297
@mshima test are working fine
<img width="1510" alt="image" src="https://user-images.githubusercontent.com/20026440/203138329-7f4ac0f7-bf08-4f79-a891-88abea5fc23c.png">

But when i run `npm run ci:e2e:package # package the jar` - I see an error ` The requested profile "e2e" could not be activated because it does not exist.`

<img width="1510" alt="image" src="https://user-images.githubusercontent.

[2022-11-21 20:26] mshima commented on #20297
@codedsun sorry, my bad, cypress is not enabled.

In any case, if the application starts, it should be ok. We don't have cypress test for Kafka.

Now just update your sb3 branch with modularized Kafka, update the templates and create a PR agains sb3 branch.
We can continue from there.

[2022-11-22 02:03] AlexGiroud commented on #20411
I get this error on the first code generation.

Here is the output of jhipster info :

Welcome to JHipster v7.9.3

Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "applicationType": "monoli

[2022-11-22 07:14] dhardjono commented on #19780
Can confirm. Any fix planned?

[2022-11-22 09:50] sebastienlabrune opened #20432 "Tag @GeneratedByJHipster not added on @interface"
##### **Overview of the issue**

When using "jhipster --with-generated-flag" command, the java generated interface with @interface like EmbeddedMongo.java for exemple have the import tag (import fr.maif.digital.GeneratedByJHipster;), but not the @GeneratedByJHipster.

##### **Motivation for or Use Case**

I'm using jhipster in my french insurance company "MAIF".
Our quality tool tell us that class

[2022-11-22 18:10] codedsun commented on #20297
@mshima opened a PR here
https://github.com/jhipster/generator-jhipster/pull/20433

[2022-11-22 23:51] #20147 closed

[2022-11-24 14:07] kharmaodo commented on #19627
I just add this entry "./lib/util/namespace": "./lib/util/namespace.js" as related in the discussion in
 "exports": {
    ".": "./lib/environment.js",
    "./cli/": "./cli/",
    "./lib/": "./lib/",
    "./lib/util/": "./lib/util/",
    "./adapter": "./lib/adapter.js",
    "./conflicter": "./lib/util/conflicter.js",
    "./log": "./lib/util/log.js",
    "./transform": "./lib/util/transform.js",

[2022-11-24 16:59] fabianorodrigo opened #20444 "Custom blueprint: unknown option"
##### **Overview of the issue**

I'm creating a custom blueprint for my organization. I need to ask for a specific information to the blueprint user. So I've done in the PROMPTING priority, it works.
However, I want the user to be able to pass this info via command line parameter. So I've created a custom parameter (option) in my constructor in the same way I've seem others generators:

[code]

Th

[2022-11-25 02:38] mshima commented on #20444
There are a few issues here:
- you need to generate the `app` generator and put the options there.
- `this.options` is kebabCase: https://github.com/jhipster/generator-jhipster/blob/f12930941afc61f00d3474d9e8bb984fc5d35d5f/generators/app/generator.mjs#L57-L60
- commander node module only supports kebabCase so `--parentProject MyParentProject` needs to be `--parent-project MyParentProject`
- `this.

[2022-11-25 09:49] francoiscorporate commented on #19518
Hello,
Using jhipster 7.9.3, I have the same problem.
I added a field to an entity, and because the sub generator did not create new database changelog (liquibase) automatically and overwritted the original entity changelog file, I had to try running "./mvnw liquibase:diff" and then I had this error

[2022-11-25 10:09] francoiscorporate commented on #19518
OK.. I upgraded Liquibase version to 4.17.2 and the first error message disapeared :

<spring-boot.version>2.7.3</spring-boot.version>

        <liquibase.version>4.17.2</liquibase.version>
        <liquibase-hibernate5.version>4.17.2</liquibase-hibernate5.version>

(I went here to get a better version available for spring boot 2.7.3 : https://mvnrepository.com/artifact/org.springframework.boot/sp

[2022-11-25 11:01] francoiscorporate commented on #19518
Hurray !
Solved part of the problem :

As the error message specifies that the "version can neither be null, empty nor blank", I added the version in the pom and it works 👍

<dependency>
            <groupId>com.h2database</groupId>
            <artifactId>h2</artifactId>
            <version>2.1.214</version>
</dependency>

Now I have an other problem : The H2 database must be running. And If run

[2022-11-25 16:58] fabianorodrigo commented on #20444
Thank you very much, @mshima . I've generated a `app` generator and now it works

[2022-11-25 16:58] #20444 closed

[2022-11-26 02:12] cbornet commented on #19401
I work in the same team as the Apache Curator PMC chair if that can help 😉

[2022-11-26 10:57] eolivelli commented on #19401
Apache ZooKeeper and Apache Curator are stable, well maintained and used by many small and huge companies in the world (Facebook, Twitter, Apple....).

I am not aware of the usecases here, if you need something for service discovery and configuration management I think that supporting ZK and Curator will be a good choice. I will be happy to help at least with reviews.

[2022-11-26 22:50] jminkhar commented on #20411
Got the same error
![image](https://user-images.githubusercontent.com/48157922/204111664-55cb14a9-b001-4246-8723-b28c66e57f49.png)

[2022-11-28 17:55] crash007 opened #20465 "tests fails for mysql and h2"
##### **Overview of the issue**
When selecting mysql and h2 persistance database there is failed test.

2022-11-28 18:24:12.900 DEBUG 113921 --- [           main] reactor.core.publisher.Hooks             : Hooking onLastOperator: org.springframework.security.core.context.SecurityContext
2022-11-28 18:24:12.904  WARN 113921 --- [           main] o.h.engine.jdbc.spi.SqlExceptionHelper   : SQL Error:

[2022-11-28 19:43] mraible commented on #20315
I didn't try creating ES in a Docker container. However, I did get things working with Elastic Cloud. I documented how to make your Heroku app work with Elastic Cloud in the JHipster Mini-Book and in https://github.com/jhipster/jhipster.github.io/pull/1247.

[2022-11-29 10:28] ndywicki opened #20473 "K8S generator template - PostgreSQL liquibase url wrong"
##### **Overview of the issue**

When you generate k8s files with k8s generator and PostgreSQL as prod DB, the [SPRING_LIQUIBASE_URL](https://github.com/jhipster/generator-jhipster/blob/14a116c2644c3a150f8ccfad0734faf9ec8348c0/generators/kubernetes/templates/deployment.yml.ejs#L162) use `app.baseName.toLowerCase()`  instead of `app.baseName` like the [SPRING_DATASOURCE_URL](https://github.com/jhip

[2022-11-29 15:29] yelhouti opened #20474 "Enum array"
##### **Overview of the feature request**

Have the ability to define a field type as MyEnum[]

##### **Motivation for or Use Case**

Sometimes it useful to store send/store/return an array of enum (Like a ManyToMany but with an enum).
Ex: I have an enum "PaymentMethod": CASH, CREDIT_CARD...

I want to enable only a few per location.

Automating a common uses case that I face in multiple project.

[2022-11-30 07:26] binhtruongit commented on #15884
Thank bro!

[2022-11-30 12:27] bhagujava commented on #19627
Thanks @kharmaodo  its working fine

[2022-11-30 13:32] deck80 commented on #20312
I am coming back to this: do you know any tutorial that is explaining in depth how to create a blueprint? I think the site wiki is quite poor of details...
TIA