[2016-11-24 22:28] lrkwz opened #4544 ""Error: Cannot find module 'yeoman-generator'" during yo:upgrade from 3.5.1 to 3.11.0"
I've bumped in

[code]

Executing this sequence of commands:

    mkdir ~/jhipster
    docker run --name jhipster -v ~/jhipster:/home/jhipster/app -v ~/.m2:/home/jhipster/.m2 -p 8080:8080 -p 3000:3000 -p 3001:3001 -d -t jhipster/jhipster:v3.5.1
    docker exec -it jhipster yo jhipster

accept all defaults and generate a jhipster app, then clean up container

    docker stop jhipster
    docker rm

[2016-11-24 23:38] kaidohallik opened #4545 "javadoc generation for test classes failes"
##### **Overview of the issue**

Error occurs on javadoc generation with test classes (modified build.gradle for that, described later).

Stack trace:
[code]

##### **Motivation for or Use Case**

In one of my projects I need to create javadoc also for test classes.

##### **Reproduce the error**

1. Add test classes to javadoc in build.gradle:
[code]
2. Generate javadoc:
[code]

##### **Related i

[2016-11-25 09:21] PierreBesson commented on #4317
It seems that it's completely done now. Except for gradle builds. Should we mark this as closed ?

[2016-11-25 09:34] rochakchauhan opened #4547 "Application crash is you change the theme"
##### **Overview of the issue**
The application Crashed when we try to add theme by editing src/main/webapp/index.html. The HTML throws the following error "An error has occured :-("

##### **Motivation for or Use Case**

We need to update the current theme while preserving the features like type-scripting.  However we can not even add a simple text in the HTML page. SOS

##### **Reproduce the err

[2016-11-25 09:42] atomfrede commented on #4547
Can you describe what you are trying to do and how to reproduce your issue exactly?

[2016-11-25 10:05] gmarziou commented on #4547
Provide browser's console log.

[2016-11-25 10:06] jdubois commented on #4547
C'mon, there isn't even the version number... We just can't work like that.

[2016-11-25 10:06] jdubois commented on #4547
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-25 10:06] #4547 closed

[2016-11-25 10:46] #4545 closed

[2016-11-25 16:08] fuwanguo commented on #3664
does the jhipster ng2 surpport richtext input（picture+text）？

[2016-11-25 16:30] wmarques commented on #3664
@fuwanguo I don't know what richtext has to do with ng2, it's just another feature, so no.

[2016-11-25 16:42] deepu105 opened #4549 "Angular 2 release plan"
This ticket is to plan and manage Angular 2 release as per original thread here https://github.com/jhipster/generator-jhipster/issues/3664 (which is locked for core team only)

discussion started https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/nyworLcz6MQ/4ghzZklkCAAJ

Any further discussion on this matter should happen here

The steps are in order

**Step 1:*

[2016-11-25 16:48] deepu105 commented on #3664
This ticket is locked to collaborators only for any further discussion on the matter go to https://github.com/jhipster/generator-jhipster/issues/4549

[2016-11-25 17:53] fmatuszewski commented on #4549
I would like to help with weboack.

[2016-11-25 19:49] mshabaan opened #4550 "Some Typescript files are giving compilation errors while creating new app"
##### **Overview of the issue**

some typescript files are giving the following compilation errors while creating new app using `yo jhipster`:

[code]

##### **Reproduce the error**

try to create a new app using `yo jhipster` and answer the 13 question as provided below in `.yo-rc.json` file, yo will get  the error reported above.

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

#

[2016-11-25 20:48] mhavrlent opened #4551 "Bug in _UserService - updateUser method"
##### **Overview of the issue**

I think I found a bug in the following:
file: generators/server/templates/src/main/java/package/service/_UserService.java
method: updateUser
code:
196                 <%_ } else { // Cassandra _%>
197                 u.setAuthorities(authorities);
198                 <%_ } _%>
199                 <%_ if (databaseType == 'mongodb' || databaseType == 'cassandra') { _

[2016-11-25 21:16] pascalgrimaud commented on #4317
I hope and I think it's completely done too...

[2016-11-25 21:35] jdubois commented on #4551
That would be a terrible bug in JPA!!! Maybe that's because of the lambda expression?
This is top priority for me, I'll have a look ASAP

[2016-11-25 21:41] jdubois commented on #4551
I just tested, no problem at all....
So maybe that's because:

- I'm on the dev branch, and we upgraded to Hibernate 5 -> then that would be temporary issue in JPA? Very, very weird
- You using Hazelcast? That would be also very, very weird

I don't have more time this week-end for this, are you sure you can reproduce this issue?? That's so strange!

[2016-11-25 21:52] jdubois commented on #4551
Reading your ticket again, are you sure you tested this? At the end of the ticket you say you tested this, but at the beginning it's more like you just read the code and think there's an issue, but didn't test... And what you say is wrong, unless there's a bug in Hibernate, of course.

I'm now thinking you just made a mistake, so I'm closing this.

[2016-11-25 21:57] jdubois commented on #4550
I'm sorry but the Angular 2 support is still in development. That's not even an alpha release. We are currently working on it, so you will get compilation issues, that's just normal, it's not finished.
If you want something that works without too many problems, select the default options: here you selected OAuth2, which is a very uncommon option, so that will done at the end.

[2016-11-25 21:57] #4550 closed

[2016-11-25 22:00] jdubois commented on #4544
Maybe that's because you used the Docker image, that's a use case I didn't think of. Could you try with a "normal" installation?

[2016-11-25 22:01] mhavrlent commented on #4551
Well my records were not updated in the database so I started looking into the code and found out that my generated method is missing userRepository.save(u); call. Then I looked at the _UserService in the generator and found out that it's calling save only for 'mongodb' and 'cassandra' but not for 'sql'. Once I've put the missing userRepository.save(u); call it's working again.

Why do you think i

[2016-11-25 22:05] jdubois commented on #4551
You don't need to call "save", the entity is managed by JPA and this is in a transaction, so it should be saved automatically.
I'm having doubts now!!! Maybe it fails with a lambda expression? Are you sure this doesn't work?

[2016-11-25 22:07] mhavrlent commented on #4551
I'm sure it doesn't work for me without the call. What I can do is generate a new application and test it out again next week.

[2016-11-25 22:07] pascalgrimaud commented on #4551
Just tested with the exact 3.10.0, no problem too.
Activated -> green/red without problem

Go inside my MySQL container to make select * from jhi_user; -> everything is correct

[2016-11-25 22:08] jdubois commented on #4551
Oh, reading the code again, it's "saved" in the other update method... I'm reopening this, there's something I don't understand here.

[2016-11-25 22:08] mhavrlent commented on #4551
Yes, there are two methods. I put the number of lines into the ticket so check those lines.

[2016-11-25 22:11] mhavrlent commented on #4551
To be precise, there are two generated methods. I'm not sure they're generated using the same code.

[2016-11-25 22:14] jdubois commented on #4551
Yes and there's also a useless "save" in the "changepassword" method.

What the hell is all that???

- For me all those "save" are useless
- I'm going to test this to be really sure
- Then I can't reproduce your issue

[2016-11-25 22:20] jdubois commented on #4551
- I confirm all those "save" are useless, and I have found 3 more in `activateRegistration` `completePasswordReset` `requestPasswordReset`
- I'm going to correct all those and link those to this issue
- @mhavrlent I cannot reproduce your issue, and as @pascalgrimaud also couldn't, this shouldn't be linked to Hibernate 5. So yes if you can generate a sample app, or a unit test, so I can reproduce,

[2016-11-25 22:34] szechyjs opened #4552 "ng2: TypeScript compile error for auths other than jwt"
##### **Overview of the issue**

When using session or oauth authentication the generated files result in TypeScript compile errors. Using JWT results in no errors.

Session auth:
[code]

Oauth2:
[code]

##### **Motivation for or Use Case**

The generator should create code that compiles without errors.

##### **Reproduce the error**

Configure/generate a ng2 client with HTTP Session Authenticatio

[2016-11-25 22:36] jdubois commented on #4552
Yes that's normal, this is still under development, we haven't coded yet some uncommon options. If you have the solution, don't hesitate to join the fun, and do a PR.
I'm closing this because there's really no point in doing a ticket on some unreleased code -> don't hesitate to do directly a PR

[2016-11-25 22:36] #4552 closed

[2016-11-25 22:41] jdubois commented on #4551
Closing this as I can't reproduce, but if we have some working example from @mhavrlent I'll be happy to solve this

[2016-11-25 22:41] #4551 closed

[2016-11-25 23:08] lrkwz commented on #4544
What did you think the docker image for? I think it is extremely useful exactly for testing different versions without bothering with dependency install when you go back a forward between different version.

Anyhow I've tested with v3.10.0 and everything runs smoothly so it is probably just matter of going step-by-step from 3.5 to 3.11 without missing versions.

[2016-11-25 23:17] jdubois commented on #4544
Yes you are right, but doing an upgrade is a bit different, as behind-the-scenes it gets the original JHipster release that was used for the project, and tries to do a merge.
I'm not sure that's the issue, but at least that's not something I have thought of.

[2016-11-25 23:55] deepu105 commented on #4549
Yes you can take a look at  #4422

[2016-11-26 00:07] dimeros commented on #4110
Hi @ramzimaalej,

Are you working on it? I was thinking of working on the navbar.

Regards

[2016-11-26 07:05] jdubois commented on #3664
@deepu105 can we close this in favor of #4549 ? It just grow too big...

[2016-11-26 07:34] jdubois opened #4553 "What should we do with non-transient value-based classes?"
Our Sonar analysis [available here](https://sonarqube.com/dashboard/?id=1054756) shows we often have the same "bug", which is `Make this value-based field transient so it is not included in the serialization of this class`.

To have an explanation on why value-based fields must not be transient [have a look here](http://blog.codefx.org/java/value-based-classes/). In fact, this isn't a bug "yet", i

[2016-11-26 07:41] jdubois commented on #4520
I've read again the Google guidelines, and I'm sorry if everyone finds them "great", but really I would like to stick to my previous comment.
IDEA and Sonar are doing a far more detailed job, with clear explanations, than what Google does.
I've created a "sonar" label and I will add a few tickets on it.

[2016-11-26 07:41] #4520 closed

[2016-11-26 07:46] jdubois opened #4554 "Use constructor-based injection with Spring"
Sonar tells us we should use constructor-based injection with Spring.

I've always been a big fan of field-based injection, and for me there was a consensus in the Spring team to say that was the best choice (but now I see newer members of Pivotal would rather do constructor-based injection).

Anyway, I'm not going to recap all the pros/cons for each choice here, just that I'm changing my mind on

[2016-11-26 08:17] deepu105 commented on #4554
To be frank I kind of like field injections so here is a blank vote

[2016-11-26 08:19] #3664 closed

[2016-11-26 08:27] deepu105 commented on #4317
I think we need to keep it open if gradle isnt done yet so that we don't
forget about it. May be we can write a custom task for gradle if plugin
doesnt support it shouldn't be difficult

Thanks & regards,
Deepu

On 25 Nov 2016 10:16 p.m., "Pascal Grimaud" <notifications@github.com>
wrote:

[2016-11-26 08:31] sendilkumarn commented on #4554
+1 especially because of angular2.

Personally don't like constructor but with angular2 it makes sense to have it

[2016-11-26 08:47] gmarziou commented on #4554
This would apply to `@Service` and '@RestController` annotated classes only, right?

[2016-11-26 09:39] pascalgrimaud commented on #4317
Custom tasks sounds good.
Let me have a look next week

[2016-11-26 10:30] jdubois commented on #4554
@gmarziou it would apply to all beans, and probably also for test classes (not tested yet, but should be OK).
And as Spring supports constructor-based injection without the @Inject annotation, that means I would remove the "javax.inject" package from the dependencies.

[2016-11-26 10:38] jdubois commented on #4527
OK so it's not released yet, that's all there is to say :-)

[2016-11-26 10:38] #4527 closed

[2016-11-26 10:46] gzsombor commented on #4554
I prefer the field injections :
* less code to write (constructor not needed). Java - and javascript are a bit verbose, so I prefer to have less code
* I don't get why relevant if angular2 use constructor based injection on the server side. We don't use javascript on the serverside, neither we don't use java on the client side (maybe we can try it TeaVM or GWT ;-) )

[2016-11-26 11:37] pascalgrimaud commented on #4544
@lrkwz : can you try to npm link generator before upgrading ? I suspect that when using yo jhipster:upgrade, you use the one old (v3.5.1) inside node_modules instead of the global v3.11.0. And there is a lot of issues since the beginning with this sub generator so I'm not sure the v3.5.1 works fine.

[code]

[2016-11-26 11:41] pascalgrimaud commented on #4544
I reproduce your issue here:
- script: https://github.com/pascalgrimaud/jhipster-travis-tester/blob/ca0caa7dd49f63558c83588cd2112eb3bb0c8bcc/app/test.sh
- travis log: https://travis-ci.org/pascalgrimaud/jhipster-travis-tester/builds/178953883

Fixing by adding npm link generator:
- script: https://github.com/pascalgrimaud/jhipster-travis-tester/blob/2d4eab3abf988b4cc4182039cc97cd54ea8eb3dd/app/tes

[2016-11-26 12:09] deepu105 commented on #4549
This is the progress checklist from issue #3664 so that we can continue marking things as done here
- [x] Create a client-2 sub gen, which is a copy of the client sub-gen, and do all the dev there
- [x] Introduce a new question to use `client-2` instead of `client` so that users can choose what they want -> with "client" they will stay on AngularJS 1 (and have less risk), with "client-2" they foll

[2016-11-26 12:47] PierreBesson commented on #4554
+1
This article managed to convince me that constructor injection is better : http://olivergierke.de/2013/11/why-field-injection-is-evil/
It also seems to be the recommended approach by the Spring team and also no @Inject annotation needed anymore and above all it should encourages to do more testing. So even though it's a big change I'm for it.

[2016-11-26 13:18] xetys commented on #4554
like @PierreBesson I was reading this article (which is linked by intelliJ, if you want to know, why field injection is evil)...and it sounds legit.

More on this, it would make the unit tests more readable, without reflection arcobatics for the rest controllers

[2016-11-26 14:09] dimeros commented on #4110
Testing with choices:
use Libsass: No
enable internationalizen support Yes

Languages tab does not work. I tested it using one only language (changing the ngIf condition).
Bower install was not valid and it does not fetch bower files.

Next step: I would like to correct the v4 boostrap scss files when selecting the option 'Use Libsass Yes' and proceed with Glyphicon's issue.

[2016-11-26 14:50] atomfrede commented on #4317
I didn't follow along here (and even didn't try yarn yet), but if I can help with gradle integration I can find some time.

[2016-11-26 15:47] jdubois commented on #4110
Which icon library should we use? Now that Glyphicon is removed, maybe it's better to switch to Font Awesome, which has a lot more icons, and which most people use.
Can people vote on this comment? Thumb up for Font Awesome, thumb down for Glyphicon

[2016-11-26 15:54] gmarziou commented on #4110
Font awesome is definitely the way to go especially with all the features that will be released with v5 due to its sucessful kickstarter.

[2016-11-26 16:13] deepu105 commented on #4110
Yes font awesome is the best

Thanks & regards,
Deepu

On 26 Nov 2016 4:54 p.m., "Gaël Marziou" <notifications@github.com> wrote:

[2016-11-26 16:23] deepu105 commented on #4499
closed via #4503

[2016-11-26 16:23] #4499 closed

[2016-11-26 17:33] jmellano opened #4557 "cb() never called"
##### **Overview of the issue**
When I try to install jhipster project with 'npm i' command, I have a "cb() never called" error.
If I remove  "generator-jhipster": "3.0.0" line in package.json it passed.

##### **Motivation for or Use Case**

I can't have a frontend working.

##### **Reproduce the error**

yo jhipster

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)*

[2016-11-26 17:55] pascalgrimaud commented on #4557
Why do you try to use old JHipster version 3.0.0 instead of the latest 3.11.0 ?
You should update your node version to a LTS version too

[2016-11-26 18:02] jmellano commented on #4557
when I try to install : `npm install -g generator-jhipster` or  npm install -g generator-jhipster`@3.11.0` I've got the same error

[2016-11-26 18:29] pascalgrimaud commented on #4557
Reproduce your issue with node 5.9.0:
See the log here : https://travis-ci.org/pascalgrimaud/jhipster-travis-tester/builds/179076349
[code]

Using node 6.9.1 and it works perfectly:
See https://travis-ci.org/pascalgrimaud/jhipster-travis-tester/builds/179078140

So update your node version and everything should be ok

[2016-11-26 18:29] #4557 closed

[2016-11-26 18:44] elarib opened #4558 "Can't add any new Angular Module"
Hello,
In Jhipster v3.9.1,
i tried add module to my projet, but i can't .
For example, i want to add this module http://hakib.github.io/MassAutocomplete/
so i run `bower install angular-mass-autocomplete --save`
after i run `gulp inject:vendor`  and `gulp inject:dep`

So the index.html is refreshed now and the module is there 👍

So when i want to use it, i tried to add the .$inject=[] array , it d

[2016-11-26 19:37] ruddell commented on #4558
You should add `MassAutoComplete` to `app.module.js`.  It looks like the module is a directive so I'm not sure why you are trying to inject it into a controller.

[2016-11-26 19:41] elarib commented on #4558
I already did it.
Why i want to inject it in the controller?   Because when i add the directive in the html it gives me this error :
`angular.js:13920 Error: [$compile:ctreq] Controller 'massAutocomplete', required by directive 'massAutocompleteItem', can't be found!`

This is why

[2016-11-26 19:55] deepu105 commented on #4558
This is not a bug or feature request and hence this is not the correct forum for this.
Please use Stack overflow for this. Tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster) and someone will help you out there.

This helps us to keep issue tracker clean. Also stack overflow will give your query a larger audience.

[2016-11-26 19:55] #4558 closed

[2016-11-26 19:56] lluiscanals commented on #4110
Font awesome too!

[2016-11-26 19:57] elarib commented on #4558
But this just with Hipster that's why 👍

[2016-11-26 21:35] jdubois commented on #4557
Yes, don't use unstable versions of Node!

[2016-11-26 22:23] pascalgrimaud commented on #4317
Thanks @atomfrede : I will ping you for testing as soon as I code it next week

[2016-11-27 00:15] thiagowfx commented on #3988
@acrolink could you please at least share what you figured out? Since you bothered to create the issue in the first place, it would be a good way to contribute back to casual users arriving on this page through search engines. :)

[2016-11-27 01:49] jmellano commented on #4557
Thanks a lot !
I update to LTS 6.9.1 and yo 1.8.5 and it works perfectly !

[2016-11-27 08:33] allquixotic commented on #4372
I'm very excited to try this feature - does anyone know if there is an `npm` command I can run to install a particular version of jhipster that would contain the draft remove entity code? I ask because I'm still in the early design phase of my app where I'm working out the entity model, and I'm frequently having to revert commits, etc. to go back to the "pre-`import-jdl`" phase of my project, modi

[2016-11-27 10:29] delverdev commented on #3988
@acrolink, look at [this issue](https://github.com/jhipster/generator-jhipster/issues/4332#issuecomment-254310975). Here's my code to get current user by `id`:
[code]

[2016-11-27 11:54] Dufgui commented on #4372
Got clone the repo and branch.
The exécute "npm link" inside.
The go to your app and use it.
If the sub generator is not available you can create a link to your cloned
generator in your node module app directory.
Le dim. 27 nov. 2016 à 09:34, Sean McNamara <notifications@github.com> a
écrit :

[2016-11-27 14:50] pascalgrimaud opened #4563 "Hazelcast for hibernate cache: the user can't log in"
##### **Overview of the issue**

When using Hazelcast for hibernate cache, the application starts but the user can't log in.
It's probably related to :
- [Hibernate 5.2, Ehcache 3, JCache support](https://github.com/jhipster/generator-jhipster/pull/4454) -> https://github.com/jhipster/generator-jhipster/pull/4454
- [fixed Hazelcast initialization](https://github.com/jhipster/generator-jhipster/pul

[2016-11-27 14:53] pascalgrimaud opened #4564 "Hazelcast for clustered http sessions: compile+tests in error"
##### **Overview of the issue**

 When using Hazelcast for clustered http sessions, there are some compile + tests in error.
 It's probably related to :
 - [Hibernate 5.2, Ehcache 3, JCache support](https://github.com/jhipster/generator-jhipster/pull/4454) -> https://github.com/jhipster/generator-jhipster/pull/4454
 - [fixed Hazelcast initialization](https://github.com/jhipster/generator-jhipster/

[2016-11-27 18:21] deepu105 commented on #4110
wow cant believe that font-awesome made $785k from kickstarter
Every OSS project should try this I guess :smiling_imp:

[2016-11-27 18:36] jdubois commented on #4563
I've tested it and didn't have any issue, so I will have a look again. Ping @gAmUssA who coded this part.

[2016-11-27 18:37] jdubois commented on #4564
Same as #4563 and also ping @gAmUssA who coded this part.

[2016-11-27 19:13] dimeros commented on #4110
Font awesome is a good approach. I added this library and I replaced all the glyphicons (except of glyphicon tower) with similar of font awesome.
I tried to rebase from angular-2 to this branch https://github.com/dimeros/generator-jhipster/tree/ng2-bs4-rebased-angular-2 but it cannot load the auth-jwt.service.
Any comments?

Issues: Sass should also be supported for font awesome, right?

[2016-11-27 19:26] ddbullfrog commented on #4110
FontAwesome awesome！

[2016-11-27 19:49] deepu105 commented on #4110
Yes sass can be supported but not urgent

Thanks & regards,
Deepu

On 27 Nov 2016 8:26 p.m., "ddbullfrog" <notifications@github.com> wrote:

[2016-11-27 23:17] gAmUssA commented on #4563
@pascalgrimaud please, share generated project

[2016-11-28 00:03] ruddell commented on #4563
I can reproduce the issue.

@gAmUssA https://github.com/ruddell/hazelcast-issue You will need to run `yarn` or `npm install` after cloning the project.

You can also generate the project by copying the `.yo-rc.json` from the first post into an empty directory and running `yo jhipster`

[2016-11-28 07:18] pascalgrimaud commented on #4564
Here a generated project: https://github.com/pascalgrimaud/hazelcast-clustered-issue

I didn't commit the missing `import com.hazelcast.config.MapConfig;` in `CacheConfiguration.java`

[2016-11-28 07:38] jdubois commented on #4554
Yes that's the article I was refering to, and if we start to discuss this we'll go on forever. BTW I think this article is wrong, and I agree with @gzsombor - still I'm voting for constructor injection! So let's just vote and get done with this.

[2016-11-28 07:48] deepu105 commented on #4554
Ok after reading what @gzsombor said I think we really dont have ro change just coz of ng2 as js and java are different and we have no obligation to keep implementations similar here. Also having annotations used to make it clear how its injected so I vote to keep as it is :)

[2016-11-28 07:49] gzsombor commented on #3988
There were a pull request #2115 just about this issue a year ago, but the code disappeared since.

[2016-11-28 09:28] jdubois commented on #4544
Does this need a permanent fix, or is the solution from @pascalgrimaud enough? I don't know if we should close this

[2016-11-28 09:30] jdubois commented on #4290
No work here for more than 1 month, and I think it's stuck until we release Angular 2.

So I would like to close this, as we all agree this needs to be improved, but it won't be done in the immediate future.

[2016-11-28 09:30] #4290 closed

[2016-11-28 09:41] pascalgrimaud commented on #4544
Let's close this.
@lrkwz : don't hesitate to comment or ping me if you still have the issue

[2016-11-28 09:41] #4544 closed

[2016-11-28 09:46] cbornet commented on #4554
My position is to look at how they do it in Spring Boot and do the same.

[2016-11-28 10:12] cbornet commented on #4554
So I quickly checked the Spring Boot code and it's a clear win for field injection (in code, examples, tests, ...). So unless there is a clear statement from Pivotal (and not just one of its members) that the new standard is constructor injection, I'm for keeping field injection.

[2016-11-28 10:44] jdubois commented on #4563
I can reproduce it also, but that was caused by https://github.com/jhipster/generator-jhipster/commit/64fc40422a1ae22ec77ff5abb6f9cc53c53fbd54

The good news is that I'm not crazy, the bad news is that a minor version update from Hibernate is breaking everything :-(

[2016-11-28 10:45] jdubois commented on #4564
This is probably like #4563 so I will test with reverting https://github.com/jhipster/generator-jhipster/commit/64fc40422a1ae22ec77ff5abb6f9cc53c53fbd54

[2016-11-28 10:48] dimeros commented on #4110
The rebased branch  https://github.com/dimeros/generator-jhipster/tree/ng2-bs4-rebased-angular-2 works ok with these choices:

Jwt authentication enabled
Libsass disabled
internationalization support enabled

But I cannot pull request this branch from my forked branch to yours. How can we proceed?

[2016-11-28 10:54] pascalgrimaud commented on #4564
@jdubois : not sure it's the same. With the configuration in this ticket, the tests failed. On the other, everything seems ok until you try to log in.

[2016-11-28 10:59] jdubois commented on #4564
Indeed, that's another issue... That's because you have Hazelcast for session clustering, and Ehcache for 2nd level cache! An unusual combinaison, I'm not sure we should allow that.

[2016-11-28 14:37] nkolosnjaji commented on #4554
I'm for constructor based injection, doesn't brake unit tests and **final** can be used on field plus it will give more score on sonar

[2016-11-28 15:01] notflorian commented on #4554
I'm also for constructor injection, as Spring Boot started the migration in https://github.com/spring-projects/spring-boot/issues/5306 and https://github.com/spring-projects/spring-boot/issues/5543

[2016-11-28 15:53] derehls opened #4567 "Consider using PrimeNG as UI component lib"
Have you considered using PrimeNG http://www.primefaces.org/primeng as UI Component Framwork? Bootstrap 4 still seems to need some time until a release and PrimeNG looks like they have a lot of components and a release version.

[2016-11-28 16:01] cbornet commented on #4554
@notflorian good point: changing my vote !

[2016-11-28 17:07] MattBearson opened #4568 "Update grid.less"
Hello,

I tried to apply css from grid.less using 'gulp server', but couldn't do that.
I don't use sass in my project - so, can you tell me - what is the better way apply setting from all .less files?

Thanks

[2016-11-28 18:02] deepu105 commented on #4563
Oh thats bad

Thanks & regards,
Deepu

On 28 Nov 2016 11:44 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2016-11-28 18:06] deepu105 commented on #4567
No and sorry. We are not going to migrate another framework for this. We already have too much work. You can very well do a module for this if you are interested

[2016-11-28 18:06] #4567 closed

[2016-11-28 18:43] #4568 closed

[2016-11-28 18:43] deepu105 commented on #4568
Please follow our [guidelines ](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#issue) when opening issues if you want us to help you.
For bug reports please follow the template pre populated [here](https://github.com/jhipster/generator-jhipster/issues/new)
Open a new issue with proper details or update this issue with all details and request to re open.
Issues opened wi

[2016-11-28 18:49] jdubois commented on #4568
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-11-28 19:11] atomfrede commented on #4554
Also Intellij already complain about field based injection (also known as
the Oliver gierke check ;) And +1 for constructor based injection mostly
because of better testability.

Am 28.11.2016 17:01 schrieb "Christophe Bornet" <notifications@github.com>:

[2016-11-28 21:34] jdubois commented on #4564
I'm probably going to exclude that combinaison, it doesn't really make any sense

[2016-11-28 21:35] pascalgrimaud commented on #4564
I'm ok with this

[2016-11-29 07:14] jdubois commented on #4563
Reverted in https://github.com/jhipster/generator-jhipster/commit/692b4d41920044fe9ace9539d79003294cf1ffbb

[2016-11-29 07:14] #4563 closed

[2016-11-29 07:55] jdubois opened #4569 ""npm test" on the generator is failing"
Running `npm test` on the current master fails with 3 errors, for example I have:

    AssertionError: src/main/java/com/mycompany/myapp/config/MicroserviceSecurityConfiguration.java, no such file or directory

And this definitely looks like a real error, not a Node version issue (btw, I'm using Node v6.9.1).

Are we still running `npm test` with Travis? There's something wrong here.

[2016-11-29 09:23] pascalgrimaud commented on #4569
@jdubois : strange, we still run npm test on Travis but it is with yarn
Look at the log here at line 344:
https://travis-ci.org/jhipster/generator-jhipster/jobs/179683912

I don't see any problem.
On my computer, all tests are OK

[2016-11-29 11:03] jdubois commented on #4569
Well, I have 11 fails on my machine... Quite strange, but as long as the CI passes the test, that's fine, I must have some env issue (I'm with dev versions of many tools, so it must be my fault).

[2016-11-29 11:03] #4569 closed

[2016-11-29 13:05] rakeshbasa1 commented on #468
Any particular Tomcat server version is recommended to deploy the application

[2016-11-29 14:03] jdubois commented on #4535
This definitely won't be done for Angular 2, as it's pretty sure we will remove Gulp in favor of Webpack.

That's why I'm closing this (we won't do it), but @ivan-dalmet if you want to do a PR, and if it's easy to merge, don't hesitate to do it, and I will merge it.

[2016-11-29 14:03] #4535 closed

[2016-11-29 15:36] duderoot opened #4570 "Unable to login to JHipster app deployed in Tomcat 6"
##### **Overview of the issue**

Deployed the JHipster generated app in Tomcat 6 Unable to login to the application using default login credentials(admin/admin).

##### **Motivation for or Use Case**

##### **Reproduce the error**
The problem is that the login try to make a POST on
http://localhost:8080/jhipsterapp/oauth/token
but the app returns a 404
If I run in a fat jar then the login works wi

[2016-11-29 15:37] jdubois commented on #4570
Please don't cross post, I already commented on your question at http://stackoverflow.com/questions/40857956/unable-to-login-to-jhipster-app-deployed-in-tomcat-6

[2016-11-29 16:09] duderoot commented on #4570
ok but the bug still exist and I was able to reproduce it. How should I proceed?

[2016-11-29 16:22] jdubois commented on #4553
So it looks like nobody has a solution :-(

This really looks like one those Sonar rules that shouldn't be there in the first place. It's probably OK in plain Java code, but when using Hibernate this just makes no sense to have the field transient.

[2016-11-29 16:22] #4553 closed

[2016-11-29 16:25] jdubois commented on #4570
I'll have a look at StackOverflow. Anyway, if you replace our app server by a very old Tomcat version, don't expect much help from the community!

[2016-11-29 16:26] cbornet commented on #4553
We could maybe have a page for configuring Sonar in which we explain why this rule (and probably others) must be deactivated ?

[2016-11-29 16:29] jdubois commented on #4553
In fact I'm starting to think we should have our own Sonar rules... The default rules are really not good for us.

[2016-11-29 16:39] duderoot commented on #4570
I don't have the problem, I was just want to help the guy which post the question and I am also a JHipster user and I like it a lot and that's why I want to help. So I just mage to reproduce the bug with the latest JHipster version. I remove my comment on StackOverflow since it was not correct.
I will push to my git the source where you can reproduce it
Can I open after that the this issue?

[2016-11-29 16:46] jdubois commented on #4570
The issue is that we will have the same question at 2 different places, then it's annoying for people to find an answer! That user is really annoying, even his question was wrong (I edited it on StackOverflow as he spelled "Timcat" instead of Tomcat), and he was not giving any details on his bug...
Then, if that's a JHipster bug you can reproduce, yes, let's open this ticket again. Are you it's no

[2016-11-29 16:50] duderoot commented on #4570
I just push my example app with wich we can reporoduce it.
https://github.com/duderoot/jhipster-4570
I have deploied it on a tomcat-6.0.48 and indeed the POST request is returning a 404 :(

[2016-11-29 16:55] jdubois commented on #4570
Are you deploying it to a specific Tomcat context?

[2016-11-29 17:00] duderoot commented on #4570
no I just copy the duderoot-0.0.1-SNAPSHOT.war.original to TOMCAT_HOME/webapps/duderoot-0.0.1-SNAPSHOT.war and then I start tomcat which explode the war to  duderoot-0.0.1-SNAPSHOT
and then I access the app under:
http://localhost:8080/duderoot-0.0.1-SNAPSHOT/#/

[2016-11-29 17:38] ruddell commented on #4570
You need to use a more recent version of Tomcat. Spring Boot does not support Tomcat 6 (Servlet 2.5), it requires Servlet 3 which can be found in Tomcat 7+ ([Tomcat and Servlet versions](http://tomcat.apache.org/whichversion.html)). If you need to use an older version of Tomcat, you can try to implement https://github.com/dsyer/spring-boot-legacy

[2016-11-29 17:38] #4570 closed

[2016-11-29 18:05] deepu105 commented on #4570
we never had support for tomcat6

Thanks & Regards,
Deepu

On Tue, Nov 29, 2016 at 6:38 PM, Jon Ruddell <notifications@github.com>
wrote:

[2016-11-29 19:55] mraible commented on #4317
Interesting: https://amalshehu.github.io/yarn-vs-npm/

[code]

[2016-11-29 20:24] deepu105 commented on #4392
@flaviencathala I have fixed some issues in the ng2-webpack branch but still there are few as below

Can you try to create a fresh app withh all default options from this branch and try it out.
[code]

[2016-11-29 22:23] #4523 closed

[2016-11-29 23:13] gmarziou commented on #468
Please @rakeshbasa1, don't ask questions here, it's an issue tracker, use stackoverflow.

This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-j

[2016-11-30 06:03] pascalgrimaud commented on #4317
@deepu105 @atomfrede : no need custom task for gradle with the release 0.14 https://github.com/srs/gradle-node-plugin/releases

[2016-11-30 09:05] deepu105 commented on #4392
I merged the PR but i'm keeping the ticket open as we have some things to do. I'm gonna jot them down above

[2016-11-30 09:12] deepu105 commented on #4392
@flaviencathala can you let me know which items in TODO above can be marked as done?

[2016-11-30 09:13] deepu105 commented on #4392
btw really great job @flaviencathala sorry if I was bit tough :)

[2016-11-30 09:14] deepu105 commented on #4392
@TheLarkInn will you be able to take a look at what we done and give your inputs?

[2016-11-30 09:21] flaviencathala commented on #4392
@deepu105 Thank you ! :-)
Except the migration to webpack nothing is 100% done yet, there is still a few ng1 code :-/
@victorADS is working on interceptors.

[2016-11-30 09:23] deepu105 commented on #4392
Can you mark down if there are more TODO here please

Thanks & regards,
Deepu

On 30 Nov 2016 10:21 a.m., "Flavien Cathala" <notifications@github.com>
wrote:

[2016-11-30 09:30] flaviencathala commented on #4392
- [ ] Fix current bugs (angular-2 is broken)

- [ ] Migrate all ng1 code into ng2

- [ ] Delete all the ng1 code left (upgrade adapters)

@deepu105 Are you ok with that ?

[2016-11-30 09:36] wmarques commented on #4392
Awesome job guys, can't wait to setup my new machine to test this and help you finish it :smile:

[2016-11-30 11:10] romaindequidt opened #4585 "All front-end tests failed"
##### **Overview of the issue**

Trying to build the docker image, I started the following command line:
./mvnw package -Pprod docker:build

##### **Motivation for or Use Case**

I get the following error:

[code]

##### **Reproduce the error**

./mvnw package -Pprod docker:build with the following .yo-rc.json

##### **JHipster Version(s)**

I generated with v3.10.0 and upgrade to the v3.11.0. But

[2016-11-30 11:19] jdubois commented on #4585
I can't reproduce... I'm using Mac OS X, maybe it's an environment issue?
Can you try `gulp test`, that should trigger the issue directly, and that might make it easier to pinpoint the problem.
Then you have a failed test, maybe you change something in the generated code, that makes the test fail?

[2016-11-30 11:22] deepu105 commented on #4392
@flaviencathala im still getting the same errors with images as above after your fixes as well. I think it has somthing to do with these errors during `npm install`

BTW im on linux

[code]

[2016-11-30 11:23] deepu105 commented on #4392
did you forget to add any lib to package.json

[2016-11-30 11:54] dimeros commented on #4392
I have tried to reproduce it with the default settings. The following exception is caught to the console:

main.bundle.js:44100 EXCEPTION: Cannot read property 'Symbol(Symbol.iterator)' of undefinedErrorHandler.handleError @ main.bundle.js:44100
main.bundle.js:44105 ORIGINAL STACKTRACE:ErrorHandler.handleError @ main.bundle.js:44105
main.bundle.js:44106 TypeError: Cannot read property 'Symbol(Symb

[2016-11-30 13:03] pascalgrimaud commented on #4585
My Travis build can't reproduce too.
See the full log: https://travis-ci.org/pascalgrimaud/jhipster-travis-tester/builds/180071001

[2016-11-30 13:05] #4585 closed

[2016-11-30 13:10] jdubois commented on #4445
@PierreBesson I just realised, after releasing JHipster v3.12.0, that this adds JARs for Prometheus in all projects... I don't want to have those very specific libraries everywhere: they will make every project bigger, and can add all kind of issues.
Can't we only have the Prometheus when needed? Maybe with a specific profile, at least?

[2016-11-30 13:12] flaviencathala commented on #4392
@deepu105 No I don't think I forgot a lib, I use image-webpack-loader and it is supposed to install all the dependencies needed itself. This is the first time I hear about this problem.

[2016-11-30 13:21] romaindequidt commented on #4585
Thanks for your quick answers.

FYI,

[code]

but the maven build shouldn't be impact by local install.

[code]

[2016-11-30 13:25] PierreBesson commented on #4445
I'm aware of this. However those seems quite small to me, sImilar to the spark or graphite reporter we had before...
We could put it in a specific profile but then we need to also create one for the logback encoder, graphite... Should we do it ? Or maybe together as part of a "monitoring" profile...

[2016-11-30 13:28] jdubois commented on #4445
I forgot we had this for Graphite.... For me logback should be mandatory, as everybody's using it, and then we should have Graphite and Prometheus as optional.
The easiest solution would be to have a Maven + Gradle profile for each, then it's going to be a lot of profiles in the end, I agree.
Still, I find that it's better than having some unused libraries in the code.

[2016-11-30 13:28] deepu105 commented on #4445
I would really like to have additional dependencies only if needed so a
profile switch would make sense.

Thanks & Regards,
Deepu

On Wed, Nov 30, 2016 at 2:25 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-11-30 13:32] deepu105 commented on #4445
I think its ok to have profile switches, its just like swagger,
no-liquibase stuff, people who really want those can add the switch

Thanks & Regards,
Deepu

On Wed, Nov 30, 2016 at 2:28 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-11-30 13:32] deepu105 commented on #4392
Did you try a fresh project with node_modules installed from scratch?

Thanks & Regards,
Deepu

On Wed, Nov 30, 2016 at 2:12 PM, Flavien Cathala <notifications@github.com>
wrote:

[2016-11-30 13:35] flaviencathala commented on #4392
@deepu105 Yes I always work this way. A lot of people already tried to clone JHipster from my webpack branch and they never had this problem. As you can see @dimeros don't have it.

[2016-11-30 13:44] dimeros commented on #4392
I am running this scenario on windows. Maybe it is a linux issue.

[2016-11-30 13:45] flaviencathala commented on #4392
@dimeros I and @victorADS are on Ubuntu, @jdubois is on MacOS... :-/

[2016-11-30 13:56] PierreBesson commented on #4445
I will work on adding new profiles then.

[2016-11-30 14:15] magixsource opened #4587 "[FEATURE] Generate front-end code more smart and friendly"
Hi admin.
i found front-end code from generator-jhipster do not readable and friendly. for example, in my project,it's generate a page list.html, in list.html , some link like this:
`<td><a ui-sref="dict-detail({id:dict.id})">{{dict.id}}</a></td>`
you see, text of  link element is {{dict.id}}, I think this should be more smart, Generate program should know all field of dict, and test is name field

[2016-11-30 14:26] jdubois commented on #4587
The ID is the only way to have a unique field identifying the row, then of course you could do something smarter, but that depends on your business needs, and JHispter is mostly generating technical (and not business) code.
One of the solutions would be to ask a specific question, but then that question wouldn't have a lot of value, as editing the code is very simple, so that would be against our

[2016-11-30 14:58] flaviencathala commented on #4392
@dimeros I fixed the critical bug you had.

[2016-11-30 15:08] deepu105 commented on #4392
@flaviencathala @victorADS I'm on ubuntu as well and its defineteley an issue coz of below fails during `npm install` are you using npm or yarn? im using npm. I'll try with yarn as well

May be you already have the `mozjpeg` and `pngquant` binaries compiled in your system

[code]

[2016-11-30 15:17] deepu105 commented on #4392
Ok seems like an issue with `libpng12-0` used by those library. I tried to install with `sudo apt-get install libpng12-0` but it says no such release candidate. I'm on Ubuntu 16.10

[2016-11-30 15:19] flaviencathala commented on #4392
@deepu105 We use npm. I'm not saying there is no issue I'm saying I can't reproduce it and I have no idea  from where it could come. I tried to run `mozjpeg` and `pngquant` but the system don't know these commands.

[2016-11-30 15:21] deepu105 commented on #4392
I know its strange

[2016-11-30 15:22] deepu105 commented on #4392
may be we can disable imagemin untill we find the source of the issue and add it to our TODO

[2016-11-30 15:24] flaviencathala commented on #4392
Ok try to comment this part `?bypassOnDebug&optimizationLevel=7&interlaced=false` in `webpack.common.js` line 69

[2016-11-30 15:45] flaviencathala commented on #4392
@deepu105 I will not be available until Monday, if you have any trouble try to see with @victorADS.

[2016-11-30 16:20] deepu105 commented on #4587
Agree it would be nicer. If you have a smart simple way of doing this you can PR it and we will be happy to accept it. we are way too busy with ng2 now hence we wont be doing this ourself

[2016-11-30 16:20] #4587 closed

[2016-11-30 16:39] deepu105 commented on #4392
Ok I got the issue solved by installing libpng-dev `sudo apt-get install libpng-dev` in ubuntu
I think we need to document this incase anyone else runs into the same

[2016-11-30 16:40] cbornet commented on #4587
Having the possibility to specify a business key could probably help here and also for the hash code calculation.

[2016-11-30 16:40] mraible commented on #4392
I just created a new project with the angular-2 branch and there's no information on how to run it.
[code]

I assumed you could run `webpack`, but that doesn't work. Shouldn't we make this as simple as possible so user's familiar with webpack can run `webpack` or `webpack -w`?

[code]

After looking at `package.json`, I figured out I needed to run `npm run webpack-dev`, which is a lot compared to

[2016-11-30 16:43] deepu105 commented on #4392
yes we should show more info. I guess we can print the info on how to start webpack-dev or we can just autostart it after npm install

[2016-11-30 16:45] dimeros commented on #4392
I have installed maven. Executing mvn is installed automatically.

[2016-11-30 16:53] deepu105 commented on #4392
@dimeros what do you mean?

[2016-11-30 16:54] deepu105 commented on #4392
BTW all admin screens seems to be broken

[2016-11-30 16:54] deepu105 commented on #4392
@wmarques @sendilkumarn @jdubois we need more hands testing this

[2016-11-30 16:54] dimeros commented on #4392
Executing the mvn command 'npm run webpack-dev' is executed automatically.

[2016-11-30 16:56] deepu105 commented on #4392
Yes but it doesnt launch a watch server I guess. You still need to run the
command to start a watch server dont you?

Thanks & Regards,
Deepu

On Wed, Nov 30, 2016 at 5:54 PM, dimeros <notifications@github.com> wrote:

[2016-11-30 17:00] dimeros commented on #4392
Yes you are right. I need to start it manually.

[2016-11-30 17:07] mraible commented on #4392
Does anyone know of a Karma + webpack 2 example? All the webpack + karma projects I can find use webpack v1.

[2016-11-30 17:16] mraible commented on #4392
Here's one that looks like it might work: https://github.com/AngularClass/angular2-webpack-starter

[2016-11-30 17:23] wmarques commented on #4392
@deepu105 I'll try this on the weekend

[2016-11-30 17:34] yhippa commented on #4554
Sorry for piling on but it looks like in the [Spring Framework Reference Documentation](http://docs.spring.io/spring/docs/current/spring-framework-reference/htmlsingle/#beans-setter-injection) they advocate for constructor-based over setter-based injection:

[2016-11-30 20:07] deepu105 commented on #4549
@pascalgrimaud would need your help to add some travis builds for angular2 once we merge the branch to master (which should be soon) we atleast need

- angular 2 default config
- angular 2 with jwt + gradle
- angular 2 with sass and no translation

what do you think?

[2016-11-30 20:11] pascalgrimaud commented on #4549
@deepu107 : of course I will work on Travis build for Angular2. Im ok with your options, so it will be 4 new builds

[2016-11-30 20:17] deepu105 commented on #4549
isnt it 3? how many slots do we have left?

[2016-11-30 20:18] pascalgrimaud commented on #4549
4 left. I thought sass and no translation separately

[2016-11-30 20:21] deepu105 commented on #4549
I think they can be combined. we can save the one slot for something in
future

Thanks & Regards,
Deepu

On Wed, Nov 30, 2016 at 9:19 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-11-30 20:59] gmarziou commented on #4317
Yeoman also supports yarn
https://github.com/yeoman/generator/issues/964

[2016-12-01 04:59] sendilkumarn commented on #4110
@dimeros Let me have a look at this. 👍

[2016-12-01 06:13] magixsource commented on #4587
Ok, thanks.

today i try to debug generator program, and i found `relationships` do not store fields of reference,  only relationshipType\relationshipName\otherEntityName\otherEntityField\ownerSide\otherEntityRelationshipName in pojo.json, sadness.

: )

[2016-12-01 07:26] dimeros commented on #4110
I think that it needs a rebase with webpack. I am planning to create a branch with the new changes.

[2016-12-01 08:22] dimeros commented on #4110
Ι have created a new pull request. This is tested with settings

- Libsass disabled
- internationalization support enabled

[2016-12-01 10:08] heppa commented on #694
Maybe it might help others to explain how I do this most of the time, as I'm working agile and the data model needs updates quite often during the first few development sprints. I try to create and envision the data model up front as good as I can, but it is not always possible.

So, what I do is to create a file with JDL Studio first and store it in my project's resources. Then I run `yo jhipster

[2016-12-01 10:32] jdubois commented on #4554
Thanks for everyone voting -> so for me it's a YES for "constructor based" injection, and I'm going to close (and lock) this conversation as this is finished.

When I will code it, I will link the commit to this ticket.

[2016-12-01 10:32] #4554 closed

[2016-12-01 11:10] sjalouali commented on #2810
+1 Hello, same problem when  generate separate  front-end.

"Unknown provider: authExpiredInterceptorProvider <- authExpiredInterceptor <- $http <- $templateFactory <- $view <- $state"

Someone has an idea ?
Thanks

[2016-12-01 13:06] ashakhov opened #4593 "Broken jhipster:upgrade in 3.12.0"
##### **Overview of the issue**

yo jhipster:upgrade fails to upgrade project. Seems like the problem is in the second stage which should update jhipster and regenerate project using its new version. In some projects it also reverts jhipster version in .yo-rc to 3.10.0.
[code]

##### **Reproduce the error**

yo jhipster:upgrade

##### **JHipster Version(s)**
Trying to update project generated with

[2016-12-01 13:24] pascalgrimaud commented on #4593
@ashakhov : can you try with node v6.9.1 LTS instead of node 4.6.2 ?

[2016-12-01 13:34] ashakhov commented on #4593
@pascalgrimaud : yes, tried it as well but problem persists. BTW, git log looks pretty interesting:
[code]
It was a newly created clean project generated using 3.11.0 so there was no reason to update it to 3.11.0.

[2016-12-01 14:12] shinusuresh commented on #4593
I am also seeing the same issue while upgrading to 3.12.0 from 3.11.0.
I am on windows 8 machine with node v6.9.1

GIT - 1.9.5.msysgit.0
npm - 3.10.2
gulp
CLI version 3.9.1
Local version 3.9.1
yo - 1.8.5

[2016-12-01 14:19] cbornet commented on #4593
It means some jhipster package installed somewhere was used instead of the locally installed 3.12.
Can you check in the jhipster-upgrade branch where does it find the jhipster package ? Also, are you using yarn ?

[2016-12-01 14:37] ashakhov commented on #4593
```/home/ashakhov/jh-test/node_modules/generator-jhipster/package.json``` says:
[code]
So the local one is 3.11.0? Otherwise

How can I do it?

No, I don't use yarn.

[2016-12-01 15:49] cbornet commented on #4593
Can you look at the same file but in the jhipster_upgrade branch ?

[2016-12-01 15:51] ashakhov commented on #4593
Same version.

[2016-12-01 15:56] cbornet commented on #4593
I guess `npm list --depth=0 generator-jhipster` also gives you 3.11.0 ?

[2016-12-01 15:58] ashakhov commented on #4593
Yes.

[2016-12-01 15:59] cbornet commented on #4593
Last question: you didn't `npm link` a clone version ?

[2016-12-01 16:05] ramzimaalej commented on #4110
@dimeros the build fails, https://travis-ci.org/jhipster/generator-jhipster/builds/180325332

[2016-12-01 16:10] ashakhov commented on #4593
No.
BTW, if I try to create a new project, it has 3.12.0.

[2016-12-01 16:25] cbornet commented on #4593
If you do in the project folder `npm install generator-jhipster`, what is the result ?

[2016-12-01 16:28] ashakhov commented on #4593
[code]
Both master and jhipster_upgrade branches have ```"generator-jhipster": "3.11.0",``` in ```package.json```.

[2016-12-01 16:39] cbornet commented on #4593
Please paste the full log of `npm install generator-jhipster`

[2016-12-01 16:41] ashakhov commented on #4593
That was the full log.

[2016-12-01 16:43] cbornet commented on #4593
`install` not `list`

[2016-12-01 16:46] ashakhov commented on #4593
[code]

[2016-12-01 16:50] cbornet commented on #4593
Oh ! That's not at all the log I get when I install with npm ! And it looks so close to the npm list result !

[2016-12-01 16:52] cbornet commented on #4593
So the issue is clear: the npm install command doesn't seem to install the latest version...
Can you try with `npm install generator-jhipster@3.12.0` ?

[2016-12-01 16:55] ashakhov commented on #4593
[code]

[2016-12-01 16:56] cbornet commented on #4593
😅 npm...

[2016-12-01 16:58] cbornet commented on #4593
Are you using some proxy to the npm-registry ? Like a cache proxy ?

[2016-12-01 17:29] ashakhov commented on #4593
No. And I never had any issues with connecting to npm.
Not sure if it is related but there is another weird thing. I looked through updates history and found out that update from 3.10.0 to 3.11.0 haven't changed .yo-rc.json. Code upgraded to 3.11.0 still has ```"jhipsterVersion": "3.10.0",```.

[2016-12-01 18:54] ricardojlrufino commented on #1278
Some attributes that I use a lot are 'number' and 'type', and I'm getting errors when adding these attributes.

An alternative would be to enable Quotes:
<Property name = "hibernate.globally_quoted_identifiers"> true </ property>

[2016-12-01 20:52] bradrich commented on #4593
I was forced, as I have been every time, to update JHipster globally with `npm install -g generator-jhipster` and then on my gateway application (I'm using microservices), having to go into my `package.json` file, change the `generator-jhipster` version number, and then update JHipster locally with `npm install generator-jhipster`.

This solved my issue.

[2016-12-01 21:28] delverdev opened #4595 "[FEATURE] API Rate Limits"
##### **Overview of the issue**

For security reasons, it would be great if rate limiting would exist. Rate limiting reduces request that user can send in certain amount of time (for example, 1 request per second).

##### **Motivation for or Use Case**

Partial protection from the requests flood.

##### **Suggest a Fix**

At the moment I use the following code:

`RateLimit`

[code]

by default, us

[2016-12-01 21:29] jdubois commented on #4595
This already exists in the gateway, did you see it?

[2016-12-01 21:32] delverdev commented on #4595
No, I use monolithic app. This suggestion could be applied to it.

[2016-12-01 21:39] jdubois commented on #4595
Yes, but it already exists on the gateway, with a Cassandra back-end. I coded it :-)

[2016-12-01 22:04] deepu105 commented on #4595
You can generate the gateway and its a monolith with bells and whistles in a way. So you can use it with some tweaks. For monoliths this is not a generic use case hence I dont think we should do it

[2016-12-01 22:04] #4595 closed

[2016-12-02 06:56] shinusuresh commented on #4593
@bradrich That worked for me. :+1:

[2016-12-02 09:26] PierreBesson commented on #4595
However you could submit this as a tip on our website: https://github.com/jhipster/jhipster.github.io

[2016-12-02 10:48] delverdev commented on #4595
I would like to get your feedback about existing code before submitting a tip. Maybe it needs some edits.

[2016-12-02 10:51] PierreBesson commented on #4595
@delverdev ok, just push a sample project to github and I will test it later.

[2016-12-02 11:13] jdubois commented on #4595
Can you check the existing rate limiting code? I don't want to have 2 different implementations of the same feature, it would be better to join forces.

[2016-12-02 12:35] ashakhov opened #4596 "Broken metrics page in 3.12.0"
##### **Overview of the issue**
[code]
##### **Reproduce the error**
Generate a new application, run it, login and try to open metrics page.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

ls: no such file or director

[2016-12-02 12:40] jdubois commented on #4596
I just generated a new project, with your `.yo-rc.json`, and had no problem at all...
Is this in "prod" mode perhaps?
Otherwise you might have a bower package that didn't download correctly, you could try deleting the `bower_components` folder and doing a `bower install` again. I know this is annoying, and this is why we will remove Bower in the next JHipster 4.0 release.

[2016-12-02 12:45] PierreBesson commented on #4596
Do you use an adblocker ? I have the same issue for some time but as soon as I disable "ublock origin" it goes away. I think it is triggered by the "metrics" keyword in the endpoint name.

[2016-12-02 12:47] jdubois commented on #4596
Oh yes, we've already had this one in a ticket!!! If everything else works, then that's your adblocker. Last time it took us a lot of time to understand, thanks @PierreBesson !!!!!

[2016-12-02 12:47] #4596 closed

[2016-12-02 12:47] ashakhov commented on #4596
Yes, seems like the problem is related to adblocker. It worked with clean Chromium but failed with Firefox with UBO.
OK, thank you.

[2016-12-02 12:50] ashakhov commented on #4593
Worked for me as well. But there was a new problem with gulp so I had to remove bower_components, install it again and do ```gulp inject``` before merging.

[2016-12-02 13:09] shinusuresh commented on #4593
@ashakhov I Just ran gulp and app came up fine.

[2016-12-02 14:28] delverdev commented on #4595
@PierreBesson, [here it is](https://github.com/delverdev/ratelimiter).

[2016-12-02 14:37] #4518 closed

[2016-12-02 16:49] fw060 commented on #4593
@bradrich That worked for me too 👍 Thank you so much!

[2016-12-03 00:23] mraible commented on #4302
I spent an hour today trying to setup Karma and Webpack to run a simple hello world test. Unfortunately, I failed. I used https://github.com/AngularClass/angular2-webpack-starter as a guide.

I posted my progress so far to https://github.com/mraible/jhipster-ng2-testing. Use `npm test` to run it, but it doesn't seem that webpack compiles and no tests are run.

[2016-12-03 03:56] mraible commented on #4302
I made some progress and got webpack to run when running "npm test". However, now I get a strange error:

[code]

Here's my changes: https://github.com/mraible/jhipster-ng2-testing/commit/a2491f9f533a21a9d7b65eb3ccf0ad590cb5fc86

[2016-12-03 09:42] dimeros commented on #4110
I think that protractor is not installed yet to angular-2 branch. That's why the build fails.

[2016-12-03 09:51] pascalgrimaud opened #4602 "Travis: java misconfigured and/or unavailable"
Our current Travis build can't work because of this https://github.com/travis-ci/travis-ci/issues/6928

So all PR will fail until it is fixed.
There are some temporary configuration to made it works. I will try later to do it

[2016-12-03 18:56] parmarsanjay opened #4604 "HTML 5 Mode"
##### **Overview of the issue**

Issue with URL  in HTML 5 mode

##### **Motivation for or Use Case**

I have followed the instructions at

[https://jhipster.github.io/tips/010_tip_configuring_html_5_mode.html](url)

to enable HTML 5 mode. It works perfectly for the URLs like this..

localhost:8080/path1

AngularJS forward controller takes of redirecting when I hit this URL in browser directly. It

[2016-12-03 19:45] parmarsanjay commented on #4604
My Bad. This was simple REGEX configuration. I changed AngularJS Forwarder request mapping to following and it worked.

@RequestMapping(value = {"/{[path:[^\\.]*}", "/*/{[path:[^\\.]*}"})

[2016-12-03 20:06] ruddell commented on #4604
@parmarsanjay Thanks for the fix.  Just a heads up that your solution works for /admin/path but not /admin/path/path2.  I tested ` @RequestMapping(value = "/**/{[path:[^\\.]*}")` and it works for any number of `/`  https://github.com/jhipster/jhipster.github.io/pull/362

[2016-12-03 23:11] ricardojlrufino commented on #1335
On database, an alternative to allow would be to enable the "quote" of the reserved words

spring.jpa.properties.hibernate.globally_quoted_identifiers=true

[2016-12-04 06:57] mootezbessifi commented on #4106
@PierreBesson  thank you for you clarification but may you give me more explanation of this [comment](https://github.com/jhipster/generator-jhipster/issues/4106#issuecomment-245946986) what exactly i need to do in the purpose of replacing Eureka service discovery with kubernetes dns

[2016-12-04 07:07] mootezbessifi opened #4605 "Using Eureka or DNS on kubernetes for discovery service."
Hi all,
We have spring boot micro-service application running with jhipster and netflix OSS.
Now, i was trying to migrate it under kubernetes cluster, so i want to know what is the best practice: using DNS in stead of Eureka service (and how to do it) or keep Eureka running (and how also to do it).?
i tried the second alternative but Eureka pods won't to see each other as replicas.
This is the iss

[2016-12-04 08:04] jdubois commented on #4605
Stackoverflow is the good place for questions, as this is not a bug (please follow the guidelines...).
And please don't cross post with Stackoverflow, it just makes things even harder.

[2016-12-04 08:04] #4605 closed

[2016-12-04 08:32] jdubois commented on #4605
BTW you didn't add the `jhipster` tag on the Stackoverflow question...

[2016-12-04 09:45] PierreBesson commented on #4106
@mootezbessifi, this is currently out of the scope of JHipster. Have a look at the spring cloud kubernetes project linked above but I can't help you further not being a user myself.

And please don't comment on an old issue.

[2016-12-04 09:58] jdubois commented on #4106
Sorry guys but this is a bug tracker, only for JHipster issues... I'm locking this conversation

[2016-12-04 12:06] jdubois commented on #4593
Maybe we should update our docs here... Sorry everyone, but I'm not using the tool like you, and the rest of the dev team is probably doing the same as me: we are directly working on a Git clone of the repo, so we don't do "npm install", we basically do "git pull" instead... So if you have a better workflow than the one on the website, can you help us update the documentation?

[2016-12-04 15:44] pascalgn commented on #4356
MapStruct issue mapstruct/mapstruct#469 has just been closed, so it is now possible to address this issue. However, the MapStruct issue is not a full fix for cycles, it just provides the necessary infrastructure to handle cycles. If you are still interested in supporting this, let me know and I might be able to give you some hints or create a patch.

[2016-12-04 18:45] parmarsanjay commented on #4604
Great. Thanks @ruddell. This worked.

[2016-12-04 19:05] deepu105 commented on #4549
@jhipster/developers @flaviencathala @VictorADS I have removed all ng1 dependencies and angular1 from the app. now we have a pure ng2 app :smile_cat:
We still have few more config files which either needs to be removed or we need to find something equivalent in ng2 but those are minor.
we still need to do some polish

[2016-12-04 19:09] deepu105 commented on #4549
@sendilkumarn @wmarques can you guys take a look and see if anything can be improved.
@christopherthielen would you be able to help to do a high level review and suggest if something can be improved? I think we are in a good shape now

[2016-12-04 22:48] coolduebtn commented on #1569
Hi guys, @jdubois @deepu105 there are many cases where you require a unidirectional @OneToMany and bidirectional doesnt make any sense.. for eg I am creating a model with the following entities.
Entity Country , Entity City , Entity Attraction, Entity Image. Now the 3 entities Country , City and Attraction have @OneToMany relationship with Image. It makes sense to have only unidirectional mapping

[2016-12-05 07:06] #4602 closed

[2016-12-05 09:54] wmarques commented on #4549
@deepu105 I check this tonight and let you know my feedback

[2016-12-05 10:08] jdubois commented on #4356
Yes if you are ready to help on this, don't hesitate to do a PR! It's quite complex to test, unfortunately!

[2016-12-05 12:00] dimeros commented on #4110
Changes rebased to angular-2 branch: https://github.com/jhipster/generator-jhipster/pull/4592

[2016-12-05 13:31] mraible commented on #4549
@deepu105 I tried creating an application with the latest branch and running it and it has come webpack compilation errors.

[code]

Here's my `.yo-rc.json`:

[code]

[2016-12-05 13:40] PierreBesson commented on #4595
The ZuulFilter is specific to the Zuul gateway and not applicable to monoliths. In the JHipster microservice architecture, the gateway acts as a reverse proxy to the microservices and we have the rate limiting feature there.
However a configuration mechanism could be shared for both solutions. We could also share the core logic.

The real problem is that your solution cannot scale to more than one

[2016-12-05 14:25] cbornet commented on #4549
@mraible I think oauth2 is not supported yet. Can you try with http session auth ?

[2016-12-05 15:34] jdubois commented on #4595
@PierreBesson I'm not sure it's going to add much to the current code... This part is left to be modified by the developer in the end, as you can have some business rules (for example some types of users might have higher limits than others).

[2016-12-05 16:09] deepu105 commented on #4549
Yes to be frank I havent tested any other config except the default options. My priority is to get below working first

1. Default config
2. Default config with Gradle

[2016-12-05 16:53] Bhushan001 commented on #4549
@deepu105  Hi Deepu, I tried running this project , all went well except there is no gulpfile & it tries to run gulpfile. So it throws error. previously I was able to run it using gulp but with webpack what  am I supposed to do?

[2016-12-05 17:12] deepu105 commented on #4549
@Bhushan001 it shouldnt run gulp stuff we dont have that code anymore here. there might be something wrong in your setup, probably you didnt run `npm link` in the cloned project and within generated project. anyways you would have to figure it out as this is unreleased and we are really short handed to do support at the moment. hope you understand. If you find something wrong feel free to do PRs

[2016-12-05 17:15] mraible commented on #4549
@cbornet It works with http session auth. FWIW, I spent some more time trying to get Karma + webpack + typescript working, but failed.

[2016-12-05 17:18] jdubois commented on #4593
I'm closing this as everybody looks happy, but I have no idea what the issue was...

[2016-12-05 17:18] #4593 closed

[2016-12-06 03:47] gpratte-tiy commented on #3089
Which file is the Swagger configuration?

[2016-12-06 04:05] taohannan opened #4612 "MSSQL Setting gateway cant startup"
[code]

##### **Overview of the issue**
Hi,
Im trying to create Jhipster Microservices Backend Applications using MSSQL  setup provided at tips an trick.  i configure everything as per advise and run mvn command to start the project and its throw this error:

[code]

this is my dev-profile :
[code]
my pom snippet:
[code]
i did tried with driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDri

[2016-12-06 05:19] ruddell commented on #4612
We just merged MSSQL as an option in #4589.  It will be officially available in the next release.

The tip is slightly outdated for our latest database config.  Here's what you will need (remove `driver-class-name`):
[code]
Also the official driver is now in mvn central:
[code]

About your second problem, it looks like an issue with Kafka/Zookeeper.  Check to make sure they are running, you can st

[2016-12-06 06:00] taohannan commented on #4612
Hi @ruddell
How about the liquibase mssql extension? do i still need it since i just intended to setup microservices and the gateway.  Planned to regenerate the apps =)

[2016-12-06 06:29] ruddell commented on #4612
That's still needed as well

[2016-12-06 07:05] jdubois commented on #4612
Yes it will be supported in the next versions, so at the moment this isn't a bug, as it's just a tip.
Then in your stacktrace you have a Zookeeper stacktrace, so that's probably not caused by MS SQL.
@taohannan @ruddell if you find issues in the tip, don't hesitate to do a PR and change it, the source is [here](https://github.com/jhipster/jhipster.github.io/tree/master/tips)

[2016-12-06 07:05] #4612 closed

[2016-12-06 08:28] PierreBesson commented on #3089
@gpratte-tiy please don't comment on an old issue and use stackoverflow for support. Especially in this case as we have since added swagger ui support in prod through the 'swagger ' profile. Refer to the docs please.

[2016-12-06 10:01] Sarevok117 opened #4613 ""TypeError: Invalid Version: 3.12.0" When creating new application"
##### **Overview of the issue**

Just followed the Jhipster installation guide and tried to create a new project.
I'm using Windows 10 and I am behind a corporate proxy (I also followed the proxy configuration)
This is what I get :

[code]
##### **Suggest a Fix**

I tried with my personal computer at home (Windows 7, no proxy, same versions) and I had no error.

##### **JHipster Version(s)**

This

[2016-12-06 10:04] ashakhov commented on #4613
Try v6.9.1 LTS, JH doesn't work too well with "current" versions.

[2016-12-06 10:04] cbornet commented on #4613
We don't support node v7. Please try with LTS v6.

[2016-12-06 10:13] Sarevok117 commented on #4613
I unistalled 7.2.0 and then installed 6.9.1 but it still reports the same error.

yo jhipster:info output :

[code]

yo jhipster output :

[code]

[2016-12-06 10:30] jdubois commented on #4613
I googled your error and it looks like [an issue with your antivirus](http://www.areresearch.net/2016/09/win10-anomaly-use-of-rexw-is-meaningless.html), which would explain why you are the only one having this, and you can't reproduce the error at home.

[2016-12-06 10:30] #4613 closed

[2016-12-06 13:02] jdubois commented on #4475
I couldn't reproduce your issue... Maybe it is has already been corrected??

Here is my configuration:

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

Bar123456789123456789.json

[code]

Foo123456789123456789.json

[c

[2016-12-06 13:02] #4475 closed

[2016-12-06 13:23] Sarevok117 commented on #4613
I killed the antivirus / firewall process and it worked.
Thanks.

[2016-12-06 18:10] brunnels opened #4614 "DateTime objects documented as object in api docs"
api docs for ZonedDateTime and other Date objects are documented as the full object.  The prior behavior was just a string.

This occured in JH 3.12.0 with #4438 removal of the following in SwaggerConfiguration.java

[code]

[2016-12-06 18:11] brunnels opened #4615 "Paging and sorting parameters missing from api docs"
With the update to springfox 2.6.1 in JH 3.12.0 paging and sorting parameters are missing from the api docs.  If I revert the changes from #4438 the issue is resolved.

[2016-12-06 18:14] cbornet commented on #4614
Strange. I had checked that it worked when upgrading to springfox 2.6.1. I'll have a look again.

[2016-12-06 18:21] cbornet commented on #4615
Yes. See https://github.com/springfox/springfox/issues/755

[2016-12-06 18:40] jdubois commented on #4615
@cbornet should this be closed?

[2016-12-06 19:10] cbornet commented on #4615
No, there is apparently an issue with springfox 2.6.1 so a workaround should be found. I'll have a look asap.

[2016-12-06 19:56] ruddell opened #4616 "JHipster Core Release for MSSQL"
Before the next release, we need a new jhipster-core release so JDL can work with MSSQL.  I'm opening this issue to track it.

Pinging @MathieuAA, thank you in advance

[2016-12-06 20:26] MathieuAA commented on #4616
Hi Jon, I'm going to release v1.2.2 right now.

[2016-12-06 20:35] MathieuAA commented on #4616
Done.

[2016-12-06 21:15] lrkwz opened #4618 "Run gulp in jhipster docker image"
I've noticed that gulp is installed into jhipster container.
Why don't you ```CMD ["gulp"]``` instead of tailing the log file?
The ```/home/jhipster/generator-jhipster/generators/server/templates/src/main/resources/banner-no-color.txt``` makes little sense to me since it is populated only when yo (```docker exec jhipster yo ...```) is run and in that case yo itself shows it's log.

As an alternati

[2016-12-06 21:27] pascalgrimaud commented on #4618
I don't understand this issue.
The first time to run the Docker container, there is nothing, no generated project, so why running 'gulp' on nothing?

The goal of the `jhipster/jhipster` image is to provided all tools without installing anything on your computer. Then, every users can create their own docker image by using `jhipster/jhipster` as based image. So you can do something, if you need it:

[2016-12-06 21:34] lrkwz commented on #4618
[sorry it isn't an issue ... just an improvement suggestion]
Oh yes of course, any developer can extend the image as he/she likes.

The idea is to provide a dev environment without having the user to do anything except running the container.

Tailing the logfile is there only to keep the container "alive and kicking" otherwise it will simply terminate; running gulp will have exactly the same effec

[2016-12-06 21:52] pascalgrimaud commented on #4618
Not sure about this. If you launch gulp and there is no gulpfile.js, gulp should failed with something like that:
[code]

And if I'm not wrong, the container should exit with 1 as value status or something else
I need to test that

[2016-12-06 21:55] #4616 closed

[2016-12-06 23:40] pascalgrimaud opened #4620 "OAuth2: problem with jdbcTokenStore"
##### **Overview of the issue**

Our current Travis failed when running the build with OAuth2.
The application didn't manage to start.

Here the full log: https://travis-ci.org/jhipster/generator-jhipster/jobs/181352358
Here an extract:
[code]

##### **Reproduce the error**

Very hard to reproduce.
I didn't manage to reproduce in my local, or inside Docker.

At the moment, only Travis can reproduc

[2016-12-07 05:26] #4620 closed

[2016-12-07 08:39] mhavrlent opened #4622 "Save button should be disabled when submitting form - user-management-dialog.html"
##### **Overview of the issue**

Save button should be disabled when submitting form on the following page: user-management-dialog.html

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create or edit user -> user management dialog will be displayed.
Press Save button -> save button should be disabled while saving.

##### **Related issues**

##### **Suggest a Fix**

Change the

[2016-12-07 09:23] cbornet commented on #4614
@brunnels I don't reproduce your issue. Please fill the issue with the proper info from the issue template.

[2016-12-07 10:38] PierreBesson commented on #4618
I'm also against adding the `cmd gulp` at the end in the dockerfile. @lrkwz, It would not really achieve what you want and as @pascalgrimaud points out it would output errors in many cases.
Also I personally do not think of the JHipster docker image as a development environment, you will realize that it is very impractical to use it that way.

[2016-12-07 11:10] lrkwz commented on #4618
I'm now convinced about the errors: "cmd gulp" in the jhipster image is not
a good idea: sorry.

Althought using docker image as a dev environment is working well in my
experience: I have a project stick on 3.5.1 while I'm able to prototype
other apps using the latest version without worrying about "polluting" with
various dependencies.

Il 07/dic/2016 11:39, "Pierre Besson" <notifications@github.

[2016-12-07 11:15] brunnels commented on #4614
I'll try again with 2.6.1 springfox. It may have been that I reverted the
paging class and Pom to springfox 2.5.0 and then noticed this issue.

On Wed, Dec 7, 2016 at 3:23 AM Christophe Bornet <notifications@github.com>
wrote:

[2016-12-07 12:21] brunnels commented on #4615
I have verified the addition of the `@ApiParam` annotation resolves the issue.

[2016-12-07 12:48] brunnels commented on #4614
Yes, that was the case.  This issue is not valid.  Sorry for the confusion.

[2016-12-07 12:48] #4614 closed

[2016-12-07 12:57] wmarques commented on #4549
I tested it. Got an error first because I disabled the translation so he couldn't find the `jhi-translate` directive.
Once I enabled translation everything was fine, awesome work guys :+1:

[2016-12-07 14:40] pascalgrimaud commented on #4618
I agree with you:

other apps using the latest version without worrying about "polluting" with
various dependencies.

Anyway, thanks for your feedback :-)
I'm closing this, as we agree about not adding gulp in default CMD

[2016-12-07 14:40] #4618 closed

[2016-12-07 15:36] dimeros commented on #4110
I am trying to work on sass generation of bootstrap and font-awesome.  I created an example before proceed to a pull request:
https://github.com/dimeros/jhipster-ng2-sass

@deepu105 could you have a review on this?

My concern is that even if I am using the default .bootstraprc. I have commented all the Bootstrap scripts at the end because there are not loaded correctly. Furthermore do we agree wi

[2016-12-07 15:57] #4622 closed

[2016-12-07 16:09] wmarques commented on #4622
@ruddell why is this closed ? Is that already fixed ?

[2016-12-07 16:13] ruddell commented on #4622
Yeah the PR is https://github.com/jhipster/generator-jhipster/pull/4623, I had to manually close it since the `Fix` had 'for' in it

[2016-12-07 16:36] allahbaksh commented on #4549
@deepu105, Are we on Yarn from angular2 branch. I think we have not merged that part. We are thinking to use jHipster for one of our new project with angular2.
It would be helpful if it is merged.

[2016-12-07 16:41] deepu105 commented on #4549
We will be merging it probably this week end to master

Thanks & regards,
Deepu

On 7 Dec 2016 5:36 p.m., "Allahbaksh Mohammedali Asadullah" <
notifications@github.com> wrote:

[2016-12-07 16:46] deepu105 commented on #4110
I really tight on schedule. can you do it as a PR so that I can review just
the changes you have made?

Thanks & regards,
Deepu

On 7 Dec 2016 4:36 p.m., "dimeros" <notifications@github.com> wrote:

[2016-12-07 19:32] smlshn commented on #3722
I have the same issue and here is my log

2016-12-06 20:01:57.558  WARN 9462 --- [nio-8080-exec-4] .s.ChangeSessionIdAuthenticationStrategy : Your servlet container did not change the session ID when a new session was created. You will not be adequately protected against session-fixation attacks
2016-12-06 21:10:32.652  INFO 9462 --- [nio-8080-exec-2] c.m.s.CustomPersistentRememberMeServices : pre

[2016-12-07 21:25] deepu105 opened #4627 "HikariCP key in metrics keeps changing"
I was working on the Ng2 branch and noticed that the Hikaripool key in the metrics data `.gauges["HikariPool-3.pool.ActiveConnections"]` keeps shifting, we have `HikariPool-1` in code but I was getting 2 and 3 each time there was some hot reload happening.

I'm pretty sure that its happening on master as well (didnt check though)

we need to see if its an upline bug and how to workaround

cc @jdub

[2016-12-07 21:42] jdubois commented on #4627
I think there were corrections here, both in HikariCP and Cache metrics, when we upgraded to JCache. That  was done in the master branch and should be ported to the ng2 branch.

[2016-12-08 09:23] #4615 closed

[2016-12-08 10:46] dimeros commented on #4110
Ok. I made a pull-request https://github.com/jhipster/generator-jhipster/pull/4630. Let's discuss it there.

[2016-12-08 12:05] jdubois opened #4631 "Prepare for Yeoman 1.0"
As mentioned [here](https://github.com/yeoman/generator/issues/766#issuecomment-265658238) Yeoman 1.0 will soon be released.
There is a [blog post](https://github.com/yeoman/yeoman.github.io/blob/a87b3452377b1b232145f910d6a945804bf84d2c/app/_posts/blog/2016-12-03-hello-generator-1.0.md) describing the upgrade process and new features, we should follow it.

[2016-12-08 15:01] Bhushan001 commented on #4549
@deepu105  Hi deepu , I am getting this error : `Can't bind to 'jhi-translate' since it isn't a known property of 'span'`

[2016-12-08 19:57] shadowrider-pl commented on #3988
@delverdev are you shure it's working for you?
I need to insert user into entity 'orderOpened' at create of new record..
In OrderOpenedResource in POST section I added:

For me it catches NumberFormatException

Thats works for me:

[code]

[2016-12-08 20:38] wmarques commented on #4549
@Bhushan001 this error occurs when translation is disabled, there should be a "jhi-translate" directive on a HTML template that shouldn't be there ;) First, we focus on the default options ( = translation enabled)

[2016-12-08 23:42] delverdev commented on #3988
@shadowrider-pl, I wouldn't spam in this issue, because it's closed and my code rather a tip than a solution. So I will summarize:
Yes, it works for me. `NumberFormatException` is obviously at the `Long::parseLong` method. `UserDetailsService::loadUserByUsername` should return User (Spring user), that has `String.valueOf(id)` instead of `login` at first constructor's argument. Otherwise, the probl

[2016-12-09 07:10] pascalgrimaud commented on #4549
@deepu105 : I begin to work on Travis build. As soon as the Angular-2 is merged into master, I will rebase my branch and make a PR for it

[2016-12-09 09:41] deepu105 commented on #4549
Thanks man that would be great

Thanks & Regards,
Deepu

On Fri, Dec 9, 2016 at 8:10 AM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-12-09 11:47] japharr commented on #4189
this issue still persist in version 3.12.0

[2016-12-09 14:54] gmarziou commented on #4189
@japharr thanks for your comment but if you don't add any information, it does not help.

[2016-12-09 16:04] fw060 commented on #4593
@jdubois I am not sure what the cause is but my wild guess is that jhipster:upgrade was not considering how to upgrade different microservices independently. With the following steps, maybe a "jhipster:upgrademicroservice" can be created?

So here are the steps based on the instructions by @bradrich
1. Globally upgrade jHipster to the new version: "npm install -g generator-jhipster"
Then repeat st

[2016-12-09 16:28] pascalgrimaud commented on #4593
@PierreBesson is working on this: https://github.com/jhipster/generator-jhipster/pull/4597 to include package.json in Microservices projects.
With that, I think the sub module jhipster:upgrade should work, so no need to add a new sub generator

[2016-12-09 16:35] fw060 commented on #4593
@pascalgrimaud @PierreBesson Awesome! Thanks!

[2016-12-09 17:43] gAmUssA commented on #4189
@japharr kindly provide the steps to reproduce. Thank you

[2016-12-10 07:49] jdubois commented on #4593
Oh, for a microservice, I never thought of this, indeed!!!! So indeed #4597 from @PierreBesson is very, very important.
Then, the original issue filled here was for a monolith, so this is a different thing...

[2016-12-10 09:15] Bhushan001 commented on #4549
@wmarques  I tried enabling translation in my yo.rc.json .still getting the same error.

[2016-12-10 10:55] deepu105 commented on #4549
@pascalgrimaud could you please help with the travis build please

[2016-12-10 10:56] deepu105 commented on #4549
I have no idea why all protractor builds are failing in master

[2016-12-10 10:57] pascalgrimaud commented on #4549
@deepu105 : yes, already work in progress !

[2016-12-10 11:21] jdubois commented on #4549
@deepu105 is everything already merged?? I thought it would last all week-end!

[2016-12-10 13:44] ashakhov commented on #4593
Maybe [there was a mistake](https://github.com/jhipster/generator-jhipster/commit/dea5f1c6280faf35451052532f760b0beaceece4#diff-dd45b0ed9a9bcd681530aa65866a6501L217)?
Previously ```npm i -g generator-jhipster``` was automated, but it was removed so now we have to do it manually.

[2016-12-10 14:20] cbornet commented on #4593
The upgrader now upgrades the generator only for the project and not globally. Upgrading globally may require root privileges on some systems.

[2016-12-10 15:11] deepu105 commented on #4549
Nope it went better than I thought :smile:

[2016-12-10 15:14] deepu105 commented on #4549
And I even refactored everything to the new `client/templates/${framework}` model and refactored existing angular1 client file writing to the much more efficient and friendly meta data structure :smiling_imp:

Now if all of @jhipster/developers can play with it and give me feedback it would be nice :)
The protractor tests are failing but I didnt touch them so I have no idea what went wrong. Could

[2016-12-10 16:31] pascalgrimaud commented on #4549
@deepu105 : just added 3 new Travis builds. I already see some issues and try to fix them.

[2016-12-10 17:02] JinnaBalu opened #4640 "Issue creating client app"
![image](https://cloud.githubusercontent.com/assets/11784253/21074824/7a1a9588-bf28-11e6-8164-25a3183b8ed5.png)

[2016-12-10 17:26] #4640 closed

[2016-12-10 19:19] pascalgrimaud commented on #4549
After some tests:

Angular1:
- default app: when starting the application with `./mvnw`, there is a full build (including npm/yarn install, bower and gulp), so very slow start in dev profile
- when choosing noi18n, the user can't log into the application

Angular2:
- yarn is not well supported when choosing angular2
- noi18n not working: see https://travis-ci.org/jhipster/generator-jhipster/jobs/1

[2016-12-10 20:06] jdubois commented on #4640
Could we *at least* have a clear title?

[2016-12-10 23:55] razorvind opened #4645 "Cannot log into generated application"
##### **Overview of the issue**
I use jhipster 1.8.5 and jhipster generator 3.12.1
I generated application:
- session based with spring security
- MySQL database
- spring web socket
- all other options by default
- no entities (as I'm interested in the web socket implementation)

I've create database and user in MySQL as:
`create database wsnew;

CREATE USER wsnew@'%' IDENTIFIED BY '1111';
GRANT A

[2016-12-11 00:30] pascalgrimaud commented on #4645
Is this `.yo-rc.json` correct ? I saw `"websocket": false,` in your configuration

Anyway, I change to `"websocket": "spring-websocket"`, generate a project with your config and I don't have any problem to log into the application

What is your mysql version?

[2016-12-11 05:21] parmarsanjay commented on #4604
Any idea what needs to happen on Gulp Serve side? It works when I launch the gulp serve. After this if i change my files, files don't load in browser. It say "Cannot GET".

[2016-12-11 07:59] jdubois commented on #4604
Does it work without `gulp serve`, if you go directly to `localhost:8080`? Might be an issue with the gulp proxy configuration

[2016-12-11 08:02] parmarsanjay commented on #4604
@jdubois Yes. It works fine with localhost:8080. It seems to be an issue with gulp proxy / browsersync config.

[2016-12-11 08:10] jdubois commented on #4645
From what I see in your log you have a `remember me` cookie detected, so you did manage to log in at some point.
But that cookie is invalidated because its id isn't in the database anymore: this is probably because you dropped your database and created a new one.

[2016-12-11 08:11] jdubois commented on #4604
OK, so there is something that needs to be updated here in the tip.
And this will need to be also updated for our soon-to-be-released Angular2 version, as there is no Gulp anymore :-)

[2016-12-11 08:23] jdubois commented on #4445
Having specific profiles isn't a good solution: the generated code will need to be compiled by the end-user, so the Prometheus JARs need to be in the classpath....
This is the same issue for Grafana, and probably for other things as well.

I see two solutions here:

- Remove this code from the main generator and make it a module: this is what we usually do, but the difference here is that it would

[2016-12-11 10:26] deepu105 commented on #4445
I'm all for evolving this to a library where required (Some things are just
never changed by end user, and even if it needs change we could come up
with an architecture like spring boot so that user can extend the class and
override the implementation)
We need to accept the fact that we are growing tremendously and we need
some better strategy to manage the code else as options grow code becomes
u

[2016-12-11 11:55] cbornet commented on #4445
Another solution is to add it to the "additional technology" question during project generation (as with Kafka).

[2016-12-11 12:08] deepu105 commented on #4549
I have fixed remaining Travis issues so now its green :)

[2016-12-11 12:09] deepu105 commented on #4549
Did anybody get the karma tests working?

[2016-12-11 12:10] deepu105 commented on #4302
@mraible did you take a look at https://github.com/mgechev/angular-seed they seem to have karma but with systemJs

[2016-12-11 14:23] jdubois commented on #4445
Why wait for JHipster 5? It's a smaller change than constructor-based injection, and Angular 2 isn't finished yet, so there is time for this.
I'll have a look at all this and send a proposal on the dev mailing list

[2016-12-11 15:34] deepu105 commented on #4445
I meant architecture revamp on JH5 yes this can be on next release

[2016-12-11 15:58] Bhushan001 commented on #4549
@deepu105  is angular2 branch deleted? I am not able to take checkout of angular-2 branch.

[2016-12-11 17:40] pascalgrimaud commented on #4549
@Bhushan001 : the angular2 branch has been merged into master

[2016-12-11 18:04] Bhushan001 commented on #4549
@pascalgrimaud are there any specific instructions to setup an angular2 app? I tried running yo jhipster , but its throwing

any ideas?

[2016-12-11 18:35] pascalgrimaud commented on #4549
Just follow https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#-generator-development-setup

[2016-12-11 20:07] deepu105 commented on #4549
guys please note that the webpack tasks in `package.json` have been renamed to `webpack:dev` and `webpack:prod`

[2016-12-11 22:08] razorvind commented on #4645
**pascalgrimaud**, thanks for quick reply!
You are correct - I missed web socket.
So I re-generated the application.
Here is .yo-rc.json:
`{
  "generator-jhipster": {
    "jhipsterVersion": "3.12.1",
    "baseName": "wsnew",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "serverPort": "8080",
    "authenticationType": "session",
    "hibernateCache": "ehc

[2016-12-11 22:11] razorvind commented on #4645
**jdubois**, thanks for quick reply!
Sorry, but I didn't manage to log into the application generated as I described.
By the way, I use IDEA 2016.1.2

[2016-12-12 02:32] marcelohack opened #4657 "How to debug on production mode"
Hi guys,

My application works fine on dev, but I've been facing an error in production mode. Probably is a build issue, How can I debug this?

Cheers,
Marcelo

[2016-12-12 06:37] jdubois commented on #4657
We need more information than that you "have an error", could you follow the guidelines please?

[2016-12-12 06:37] jdubois commented on #4657
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-12-12 06:37] #4657 closed

[2016-12-12 07:13] jdubois commented on #4645
@razorvind oh I understand you had another application, so the cookie must have been set by this other app, and that's normal then

[2016-12-12 08:13] spyhunter88 opened #4659 "java.lang.IllegalStateException: Could not locate PropertySource and the fail fast property is set"
##### **Overview of the issue**

It said:
`Caused by: org.springframework.web.client.ResourceAccessException: I/O error on GET request for "http://localhost:8761/config/bch3/dev/master": Connection refused: connect; nested exception is java.net.ConnectException: Connection refused: connect`
I found it's not a new issue, but hard to find how to resolve it. I tried with fresh installation, without a

[2016-12-12 08:53] pascalgrimaud commented on #4659
It should be easier for us if you copy/past your `.yo-rc.json`.
You can use the sub generator `yo jhipster:info` for that.

Then, tell us how to reproduce your issue:
- what is your OS?
- how do you start the registry? with docker? with the [jhipster-registry](https://github.com/jhipster/jhipster-registry) project? using `./mvnw`, `java -jar target/*.war` or directly the main class?
- same questio

[2016-12-12 10:47] jdubois commented on #4659
I'm pretty sure this because you didn't start up the JHipster Registry, that's why I'm closing this. The error message should be better, maybe.

[2016-12-12 10:47] #4659 closed

[2016-12-12 11:47] dimeros commented on #4549
Suddenly, I am not able to login using the default settings ( http session authentication). When trying to login as admin:admin nothing happens.

[2016-12-12 12:46] mleneveut opened #4661 "[FEATURE] Provide a generator option for a "light" Jhipster"
##### **Overview of the issue**

It is the second time I want to generate a "light" Jhipster application, in which I don't need security, database, users, ...

It is hard and time consuming to "clean" all the generated code that I don't need (all user, authority, profile beans/services/..., all spring security, ...).

It could be great for some use cases to generate a light application with just A

[2016-12-12 12:51] jdubois commented on #4661
If you don't need anything, just use Spring Boot initializer :-)

Of course a solution is to add more questions, but that's going to make the generator more complex. Another solution, and I was just going to create a ticket for that, is to migrate some parts of JHipster into a library, instead of generating it. Most of the code you're talking about isn't changed by users, so we could migrate this

[2016-12-12 12:55] gmarziou commented on #4661
or spring boot cli

Otherwise there are already some command line options that let you opt out some of the features you listed like ` --skip-user-management` and in  `.yo-rc.json ` file you can set`"databaseType": "no",`

[2016-12-12 13:01] jdubois commented on #4645
I just tried it with your `.yo-rc.json`, using JHipster 3.12.1, and running with our provided MySQL Docker image. I had no problem at all to log in.
So I'm sorry but I can't reproduce, from what you tell it looks related to your database, could you try using our Docker image? `docker-compose -f src/main/docker/mysql.yml up -d`

[2016-12-12 13:08] mleneveut commented on #4661
Spring Boot initializer won't create the Angular part, the mecanics linking them together and all the wonderful tools in JHipster (gulp, maven, ...) ;)

A lib could be great yes, but we would need the Front part too and the tools.

[2016-12-12 13:11] gmarziou commented on #4661
If you move to angular 2, you could use angular-cli to deal with frontend tooling.

[2016-12-12 13:13] flaviencathala commented on #4392
@sendilkumarn All the following points are done:
- Add production minification, concat for js
- Add production minification, concat for css
- Add revision/hash for assets in prod
- css autoprefix for prod
- Image min, svg min for prod (seems to have issue in ubuntu)
- htmlmin in prod
- error notifications during build (it was cool to have using gulp notify)
- copy all required assets (image, swagg

[2016-12-12 13:24] jdubois commented on #4661
Yes for the frontend, the goal is:

- To also have a module there (same as the server-side part, but we'll do it afterwards because we first need to have a stable NG 2 release)
- To have Angular CLI working with JHipster

So this is all under control :-)

[2016-12-12 13:36] spyhunter88 commented on #4659
I use window 10, no docker, just open cmd and setting yo jhipster like above. I tried both mvnw.cmd and main class Bch3App.java from Eclipse.
Also, my yo-rc.json
[code]

What am I missing?

[2016-12-12 13:43] jdubois opened #4662 "Create a JHipster library"
This has already been discussed many times, and I think it's time to act, before we release JHipster 4.

The goal is to create our own JHipster Java library:

- JHipster wouldn't be "just" a generator, it would evolve into a real framework
- We would have the same library on the front end, now we have migrated to Angular 2 and have modules, but that will be done in a second time

We'll do this to

[2016-12-12 13:52] jdubois commented on #4659
@spyhunter88 I'm sorry to repeat this, but did you follow the documentation and ran the JHipster Registry? If you're not running it, then that's normal

[2016-12-12 13:55] vogloblinsky opened #4663 "[FEATURE] Addition of compodoc for Angular 2 projects"
[Disclaimer] I'm the maintainer of the suggested tool

Out of the box, this tool generate a documentation of an Angular application (2 for now, 1.5+ soon), with a clean overview of all APIs (components, modules, directives, etc).

![Compodoc screenshot](https://raw.githubusercontent.com/groupe-sii/compodoc/master/screenshots/main-view.png)

The project is available [here](https://github.com/compod

[2016-12-12 14:06] atomfrede commented on #4663
Looks quite cool, have you considered applying a [jhipster module?](https://jhipster.github.io/modules/creating-a-module/)

[2016-12-12 14:40] deepu105 commented on #4392
@flaviencathala but i dont see anything for error notifications? did i miss anything?

[2016-12-12 14:43] deepu105 commented on #4661
I'm closing this as we wont do anything specific for this. as @gmarziou @jdubois said there is already ways to opt out of some parts of the code but then you cant have everthing as pluggable atleast for now

[2016-12-12 14:43] #4661 closed

[2016-12-12 14:48] deepu105 commented on #4662
I completely agree for the plan :+1:
Lets start with the stuff you mentioned those are hardly modified by people.

I would also like to remove the jhi-prefix option as it adds unwanted complexity. It can be used for stuff like route url etc but not on the actual code. I reallly dont care about people who want to generate something with jhipster and then call it their own.Majority of our users woul

[2016-12-12 14:51] jdubois commented on #4663
Yes we already discussed this on [Reddit](https://www.reddit.com/r/Angular2/comments/5hv5y8/compodoc_documentation_tool_for_your_angular/).

I don't know how this works (yet), so I might be wrong, but for me this would be a good use-case for a module. As soon as it's a module, we could include it in the build mechanism for the sample projects, and that would be a good use case and a good documenta

[2016-12-12 14:52] mraible commented on #4662
I'm against this based on past experience with AppFuse. However, you guys do most of the development and maintenance, so I'll leave this decision up to you. ;)

[2016-12-12 14:52] deepu105 commented on #4663
This indeed looks good. and yes it should be a module

[2016-12-12 14:55] jdubois commented on #4662
@mraible sorry I remember your discussion on this, and I forgot about it when I did the ticket!
But yes we have a lot of demand for this, and I'm not totally sure it's the best decision, that's why we would start small, with a few obvious classes. So if that's an issue, it wouldn't be too bad.

@deepu105 for this I need to merge #4660 -> is this OK with you? It might add a few bugs as that's reall

[2016-12-12 14:56] jdubois commented on #4663
OK I'm closing this as this should be a module, so that's not really a JHipster feature, but @vogloblinsky do notify us when it's ready, and we'll see how we can include it in our documentation. For me that's the same thing as what we do with Sonar at https://jhipster.github.io/code-quality/

[2016-12-12 14:56] #4663 closed

[2016-12-12 15:04] jdubois commented on #4662
I'm creating a `jhipster/jhipster` project (incredibly we didn't use the name yet!!) and I'll give write access to the JHipster dev team, like we have with the current `jhipster/generator-jhipster` page. I'll disable wiki and tickets for the moment, and forward people to `jhipster/generator-jhipster`, so we still have one central place.

[2016-12-12 15:19] vogloblinsky commented on #4663
Ok no problem, i will do this module soon and notify when it's ready.

[2016-12-12 15:41] sendilkumarn commented on #4662
A big +1 from me..

On 12 Dec 2016 11:04 PM, "Julien Dubois" <notifications@github.com> wrote:

[2016-12-12 15:51] sendilkumarn commented on #4302
@mraible in ng-bootstrap, this was the reason why there was systemJs loader to load the karma ( not totally sure ).

this helps in loading the library. Spent a lot of time in this 😑

[2016-12-12 15:58] flaviencathala commented on #4392
@deepu105 Webpack print errors when it build, I thought you were talking about that.

[2016-12-12 15:59] deepu105 commented on #4392
Nope I was talking about the gulp plugin which shows desktop notifications.
its not important though just cool to have :)

Thanks & Regards,
Deepu

On Mon, Dec 12, 2016 at 4:58 PM, Flavien Cathala <notifications@github.com>
wrote:

[2016-12-12 16:01] deepu105 commented on #4662
Yes please merge we are doing a beta release anyway :smiling_imp:

[2016-12-12 16:30] jdubois commented on #4662
First code is pushed at https://github.com/jhipster/jhipster !!

[2016-12-12 16:35] cbornet opened #4667 "Use the gradle node plugin to download node, npm, ..."
Just like with the frontend-maven-plugin, we should setup gradle to install node, npm and such from a gradle task.
This way, the only requirement to build a JHipster project is JDK8.

[2016-12-12 16:36] cbornet commented on #4667
Working on a PR.

[2016-12-12 16:42] ramzimaalej commented on #4549
@deepu105 does master has bs4 now?

[2016-12-12 16:55] gzsombor commented on #4662
I've used previously Trails which was a similar CRUD generation app, with an embedded library. Initially it was fun, but it was very hard to fix even simple things - so I don't think it could be a good solution generally.
 Lot's of times, I had to customize the generated code - for example to add the user id to the Spring Security UserDetails implementation, or to the auditing stuff, which is curr

[2016-12-12 17:32] PierreBesson commented on #4662
I'm OK with this. Totally agree with having two separate configuration properties class, one for JHipster and one for the user.

[2016-12-12 17:33] deepu105 commented on #4549
yes

Thanks & Regards,
Deepu

On Mon, Dec 12, 2016 at 5:42 PM, Ramzi Maalej <notifications@github.com>
wrote:

[2016-12-12 17:38] deepu105 commented on #4662
@gzsombor yes that is the primary concern and for that we should make sure that everything in the library can be locally overridden similar to spring boot so that if you have to do something you can extend the class and do that easily but that means more work for us to make it extendable

[2016-12-12 18:04] jdubois commented on #4662
@gzsombor @deepu105 yes at the moment I'm only doing very basic stuff: utility classes, that nobody modifies (at least nobody that I know of!). Those are not Spring beans, so you can use them or not, without any issue.
Next step would be "some" Spring beans, doing the same mechanism as Spring Boot, so they are easy to disable or override if needed.
This will not include any entity code, it's only

[2016-12-12 19:13] davidjanney opened #4668 "Inconsistent database naming capitalization"
##### **Overview of the issue**

The database names between the generated docker files and the application-dev.yml and application-prod.yml have inconsistent capitalization. This should have the same capitalization for case-sensitive file systems.

##### **Motivation for or Use Case**

When running the generator and starting up the db (mysql in this example) via docker, the Java application won't

[2016-12-12 19:45] jdubois commented on #4662
And a first version is released on Maven Central!

See:

https://issues.sonatype.org/browse/OSSRH-25366
https://github.com/jhipster/jhipster

[2016-12-12 19:45] #4662 closed

[2016-12-12 20:31] ruddell commented on #4668
I didn't see any issue on Mac or Ubuntu 16 (which has a case-sensitive file system).

Our docker-compose mysql.yml uses the flag `lower_case_table_names` when starting up the MySQL docker image which I think prevents this issue.  From [the docs](http://dev.mysql.com/doc/refman/5.7/en/identifier-case-sensitivity.html): "Table names are stored in lowercase on disk and name comparisons are not case s

[2016-12-12 20:31] razorvind commented on #4645
@jdubois ok, I'll try docker. But today I've generated the same application with H2 in memory db instead of MySQL on disk - so I have the same errors while trying to log in:
`2016-12-12 23:19:43.737 DEBUG 12428 --- [ XNIO-2 task-51] m.m.s.CustomPersistentRememberMeServices : No persistent token found for series id: 0Z8DGHQHJy+kJ+6nZ2xsmg==
2016-12-12 23:19:43.737 DEBUG 12428 --- [ XNIO-2 task-51]

[2016-12-12 20:48] ruddell commented on #4645
@razorvind Those logs are from visiting the home page of a fresh app, there's nothing about you attempting to login.... If you tried, it would say `Interactive login attempt was unsuccessful.`

[2016-12-12 20:49] gmarziou commented on #4662
Looks good. How do you plan to manage dependencies version between apps and lib?

[2016-12-12 21:24] pascalgrimaud commented on #4668
As @ruddell, I don't see any issue

Playing with your [.yo-rc.json](https://github.com/pascalgrimaud/jhipster-travis-tester/blob/4668-capitalization-database-name/app/.yo-rc.json)
Launching the same [commands](https://github.com/pascalgrimaud/jhipster-travis-tester/blob/4668-capitalization-database-name/app/test.sh#L28-L29)
See the full log in Travis: https://travis-ci.org/pascalgrimaud/jhipster-t

[2016-12-12 21:26] pascalgrimaud commented on #4645
Same here, I can't reproduce too.
Maybe try in private navigation with your browser?

[2016-12-12 21:59] jdubois commented on #4662
The app will have a dependency in its `pom.xml`, and that's all :-)

[2016-12-12 22:03] jdubois commented on #4668
Yes, for me this is a problem we already had, and it was supposed to be solved.... But here @davidjanney talks just about the database names, not the table names, and maybe we just solved it for table names? Then again, how come we don't have the same issue on Mac/Linux/Docker?

I don't understand why we can't reproduce the issue here, @davidjanney is using Docker so @ruddell and @pascalgrimaud sh

[2016-12-12 22:05] jdubois commented on #4645
Hang on, we've already been through this: @razorvind do you have an antivirus or an add blocker? We've already had issues because of misconfigured Chrome plugins, etc... Could you try using our [Devbox](https://github.com/jhipster/jhipster-devbox) and see if you reproduce?

[2016-12-12 22:09] ruddell commented on #4668
@jdubois `lower_case_table_names` affects both table and database names

[2016-12-12 22:12] jdubois commented on #4668
OK thanks @ruddell  , so this is supposed to be solved, and we can't reproduce, that's why I'm closing this.
@davidjanney if you have more information and find a way to reproduce, please add comments, I'm really wondering what happened here.

[2016-12-12 22:12] #4668 closed

[2016-12-12 22:12] davidjanney commented on #4668
@jdubois @ruddell @pascalgrimaud I apologize, it looks like I pulled the yo-rc file from the wrong test.  Websocket should have been set to "spring-websocket" not false.

I'm trying to run a few more tests to make sure that was really the difference.

Earlier when I was testing this, I kept everything as is and ran using docker, and got the following error output:

[couldnotfinddbname.txt](https:/

[2016-12-13 05:40] ruddell opened #4670 "Dockerfile touch command"
##### **Overview of the issue**
Our Dockerfile contains the line `RUN sh -c 'touch /app.war'`.  If you run `docker history <image name>` on an app's docker image, you can see that the command doubles the size of the WAR layer.

[code]

The only source where I could find the `touch` command is in the Spring Boot Docker [Getting Started](https://spring.io/guides/gs/spring-boot-docker/) guide with th

[2016-12-13 05:46] jdubois commented on #4670
I think I'm the one who did this, and that's only because I followed that guide a long time ago.
That's a very good catch, go ahead and remove that command!

[2016-12-13 05:58] pascalgrimaud commented on #4670
I think I'm the guilty, @jdubois :smile:

It probably depends on the base image. But we need to test this modification on Windows too, I remember something with Windows about this 'touch' command...

[2016-12-13 07:29] loverto opened #4672 "verification code"
##### **Overview of the issue**
How to apply the verification code？

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory*

[2016-12-13 07:50] #4672 closed

[2016-12-13 10:05] razorvind commented on #4645
I really used AdBlock and Symantec Endpoint Protection (cant' turn it off due to company policy).
So I cannot login in Chrome while turning off the AdBlock plugin.
But the good news is I managed to login with Firefox 50.0.2
Seems like there some problem with my Chrome like @jdubois said.

Actually the reason of my investigation - some WebSocket errors, so I've updated jhipster and generated new ap

[2016-12-13 10:28] #4645 closed

[2016-12-13 16:50] jdubois commented on #4672
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-12-13 17:12] jdubois opened #4674 "Review the JHipster library"
As discussed in #4662 I created a JHipster library, that is [available here](https://github.com/jhipster/jhipster).

It is currently in version 0.0.2, and uploaded on Maven Central (it hasn't sync yet, it should be there in 2 hours).

I have refactored the generator to use that library (don't expect Travis to work on the first run, as the library isn't on Maven Central yet), and I would like to ha

[2016-12-13 18:00] cbornet commented on #4667
So there is the issue https://github.com/srs/gradle-node-plugin/issues/134 which makes npmInstall fail during yodoctor check (which does a npm -v) if we setup a downloaded npm.
A workaround is to install a local npm with `./gradlew npm_install_npm` which will be used by yodoctor.
The build `./gradlew bootRepackage` now does a npmInstall. Do you think it's OK to include a local npm download step be

[2016-12-13 18:33] deepu105 commented on #4667
Im not in favor of trying hard to work without nodejs as its not productive
especially if you are gonna work on ng2 as you need webpack running for
development its ok to do all these for prod but for dev it doesn't serve
much purpose IMO

Thanks & regards,
Deepu

On 13 Dec 2016 7:00 p.m., "Christophe Bornet" <notifications@github.com>
wrote:

[2016-12-13 18:54] gzsombor commented on #4674
For a library, you can't mix the functionality with the policy - for a pure, generated solution it was fine, because you can freely modify the default policy, and live with that, but with this hardwired policy in a jar file, everything is getting more difficult, for example :

* LoggingAspect - currently as the aspect is defined
https://github.com/jhipster/jhipster/blob/master/src/main/java/io/git

[2016-12-13 19:11] jdubois commented on #4674
Thanks @gzsombor

- The "JHipster store" is my usual demo app, and yes it had a typo on `gihtub` for a long time, but that's just a demo :-)
- OK the LoggingAspect shouldn't be in the lib, as this is something you want to tweak -> I'll put it back in the generator
- For the `AsyncLiquibase` I'll have a look, that shouldn't be a problem

Then what do you think of this approach? Do you think other c

[2016-12-13 19:12] cbornet commented on #4667
Yes I agree. Then I'll see if it can be done as a command-line property (off by default).

[2016-12-13 19:40] cbornet commented on #4674
I think we could provide the classes but not the runtime beans (@Component, @Configuration, etc...). Then we would only generate the beans from the class constructor. What do you think ?

[2016-12-13 20:03] jdubois commented on #4674
@cbornet that was my original idea, then the Spring Boot mechanism is very powerful, and I don't really see any downside at the moment

[2016-12-13 21:52] #4670 closed

[2016-12-13 22:09] jdubois commented on #4674
@gzsombor I just release a new version, with the LoggingAspect back into the generator!
For the `AsyncLiquibase` it's a bit more complex, at the moment it only runs in `dev` and `heroku` profiles, otherwise you need to use the "real" Liquibase bean. I'll need to have a closer look.

[2016-12-13 22:20] jdubois commented on #4445
Closing as work is being done at #4674 - I'll reopen if the JHipster lib ends up being a bad idea, but it looks good to me at the moment

[2016-12-13 22:20] #4445 closed

[2016-12-14 05:59] cbornet commented on #4667
However note that the purpose is not to remove node/npm in dev (you'll always need it for yeoman) but for build/packaging so that the project can be built on simpler setups (eg. in CI). With maven, the packaging already uses a downloaded node through frontend-maven-plugin.

[2016-12-14 07:20] jdubois commented on #4674
A big question I have, and for this I'd like to have all possible (negative) feedback, is what I should do with the `JHipsterProperties`.

So now I've split the file into 2 files:

- `JHipsterProperties` is in the JHipster lib, and hence is not modifiable. It uses the `jhipster` key in the `application-*.yml` files.
- `ApplicationProperties` is generated in the final application. It uses the `appl

[2016-12-14 08:05] cbornet commented on #4674
I also think JHipsterProperties should be immutable. If people want other properties, they can bring their own class.

[2016-12-14 08:23] erkieh commented on #4549
Has someone already started on the entity-2 subgenerator?

[2016-12-14 09:14] jdubois commented on #4549
No, just mention on the ticket that you want to work on it, and you can do it. One of the main issues for me is that we haven't selected a "datatable" library at the moment, at my current client we have selected [swimlane/angular2-data-table](https://github.com/swimlane/angular2-data-table) but I don't know if it's going to work fine with Spring Data (for sorting/pagination)

[2016-12-14 09:24] jdubois commented on #4674
OK, I'm doing this as an experiment, we'll see how it goes, and I'll revert the changes if needed.

[2016-12-14 10:17] deepu105 commented on #4549
I would rather follow our current simple table implementation so that end
users can choose their own grid/table framework as there are quite a lot of
options

Thanks & Regards,
Deepu

On Wed, Dec 14, 2016 at 10:14 AM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-14 10:18] deepu105 commented on #4667
ok if its for prod

Thanks & Regards,
Deepu

On Wed, Dec 14, 2016 at 6:59 AM, Christophe Bornet <notifications@github.com

[2016-12-14 10:33] jdubois commented on #4674
I have an issue in the `JHipsterProperties` with the `LoadBalancedResourceDetails`, as it's a class with some imports that should be in the classpath.
It should be refactored, but I can't find where it's used! It's only available for people using UAA, so I guess only @xetys knows about this -> @xetys do you know if it's being used?
At the moment I'm going to suppress it, as it looks unused, but I

[2016-12-14 10:44] jdubois commented on #4674
OK I found how `LoadBalancedResourceDetails` but that's just not going to work like that... I need to refactor this @xetys I hope you'll be fine with it

[2016-12-14 12:41] AlienWareSumant opened #4675 "code compilation gets stuck after running gradlew"
I have done everything as the jhipster installation guide suggests. But when I try to run the code using gradlew, it works for sometime and then gets stuck at gulpconstantdev. No change was done in any file after running "yo jhipster" from cmd. Please find the image attached below and let me know what the resolution should be.
![jhipsterissue](https://cloud.githubusercontent.com/assets/13749340/21

[2016-12-14 12:45] jdubois commented on #4675
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-12-14 12:45] #4675 closed

[2016-12-14 12:56] jdubois commented on #4674
OK we'll have a new version very soon (release 0.0.4 is syncing with Maven Central), normally @xetys I refactored your code correctly, it should be OK.

I find the end result much clearer for end users, and it's also going to be easier for us to maintain, so at the moment I'm happy with that decision.

Now the real issues are:

- How far should we go that way? I'll be very cautious on a first rele

[2016-12-14 13:01] deepu105 commented on #4674
I think what you have moved so far is good for a trial. lets not move too
much even if its tempting. lets try to make whats currently moved
extensible so that we set a base architecture to mive things easily in the
future

Thanks & regards,
Deepu

On 14 Dec 2016 1:56 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2016-12-14 13:42] kaidohallik commented on #4675
I have the same issue. I have 2 workarounds:
1. if using `gradlew --info` then everything works again
2. closing current command window and opening new command window, then `gradlew` works for a while in this new command window

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entity

[2016-12-14 13:44] jdubois commented on #4675
Thanks @kaidohallik so I'm opening this again - could you also update the title? Just saying that you are "stuck" doesn't help to understand the issue

[2016-12-14 13:49] atomfrede commented on #4675
@kaidohallik You are using windows too?

[2016-12-14 14:33] kaidohallik commented on #4675
@jdubois seems that I don't have rights to change issue title
@atomfrede yes, I'm using windows too

[2016-12-14 16:01] atomfrede commented on #4675
@kaidohallik Can you try to disable the gradle daemon by using ``gradlew --no-daemon``? And maybe stop all running daemons via ``gradlew --stop``?

[2016-12-14 16:34] svennela opened #4678 "changes to index.html are gone when i do mvn package"
Hi ,

I am adding below line in my index.html. but when ./mvnw -Pprod clean package. entry is not there anymore. I know, i am missing some thing. Any help.

<script src="http://d3js.org/d3.v3.min.js"></script>

[2016-12-14 16:36] jdubois commented on #4678
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-12-14 16:36] #4678 closed

[2016-12-14 16:49] svennela opened #4679 "changes to index.html are gone when i do mvn package"
##### **Overview of the issue**

I am adding below line in my index.html. but when ./mvnw -Pprod clean package. entry is not there anymore.
<script src="http://d3js.org/d3.v3.min.js"></script>

##### **Motivation for or Use Case**

Adding online libraries to index.html

##### **Reproduce the error**
 you can add below line index,html
<script src="http://d3js.org/d3.v3.min.js"></script>
run
 ./mvnw

[2016-12-14 16:51] deepu105 commented on #4679
I'm really annoyed by bug reports like this. Do you really expect us to look into this with so much little information?

This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://

[2016-12-14 16:51] #4679 closed

[2016-12-14 16:52] jdubois commented on #4679
I don't understand how this is supposed to be a bug?
You're not even giving us your version number, and not using our workflow (using Bower).

[2016-12-14 16:53] deepu105 commented on #4679
and you have already created the same issue and it was closed with same reason and you do it again!!!

[2016-12-14 16:54] ashakhov commented on #4679
Actually it's not a bug. You have to place your script outside the
[code]
block because otherwise it is overwritten by gulp.

[2016-12-14 17:00] svennela commented on #4679
@deepu105 @jdubois I didn't mean to open a bug. Just wanted to ask question.  thanks ashakhov. @deepu105 other issue was closed because of i didn't follow format. Any way thanks.

[2016-12-14 17:00] svennela commented on #4679
@ashakhov thanks

[2016-12-14 17:06] deepu105 commented on #4679
@svennela it was not closed for format it was closed for not following guidelines. I guessed the same that @ashakhov guessed but we will never be sure without knowing enough information. Thats why we have a bug template were we expect you to provide details like `.yo-rc.json` your node/npm/bower/os versions, entity config if any etc. And for the issue you had you should have pasted atleast the ent

[2016-12-14 19:18] rohajda opened #4680 "IE11 stop working after upgrade"
* **Overview of the request**

I want to report a bug in src/main/webapp/app/blocks/interceptor/notification.interceptor.js This bug is occuring in IE11. Edge and other browsers are working ok

* **Motivation for or Use Case**

My customers woudl like to use IE11

* **Browsers and Operating System**
IE11 , Windows 10

Only IE11

* **Suggest a Fix**

Here is problematic part

[code]

IE11 hangs as

[2016-12-14 20:02] deepu105 commented on #4680
Ya IE just sucks. IE and Opera do not support endsWith so the proper solution would be to use indexOf. Could you submit a PR?

[2016-12-14 20:58] svennela commented on #4679
@deepu105 Ok sir.

[2016-12-14 21:25] rohajda commented on #4680
Ok, I will try tomorrow. Hopefully can meet your standards.

[2016-12-14 21:33] jdubois commented on #4680
There is no `endsWith` in IE11? Can't believe how stupid this is...

@rohajda I'm pretty sure you can do the PR, have look at [CONTRIBUTING.md](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup), and of course we'll review the code.

@deepu105 that probably means we'll have a maintenance release on the 3.x maintenance branch, which is huge news: it's the first time e

[2016-12-14 21:35] jdubois commented on #4679
@svennela the good place for questions are StackOverflow, using the `jhipster` tag. We don't provide the same priority level on those, but there are far more people answering those questions, so that will be better for you.

[2016-12-14 21:59] deepu105 commented on #4680
yes one good thing is that we havent released 4.x from master yet so for users its just another patch release of 3.x but for us we need to make release from 3.x branch and backport the fix to master :)

[2016-12-14 22:21] erkieh commented on #4549
I'll start to work on the entity-2 sub-generator. I'm not sure if I'll get all the options (specifically pagination types) working since I am time constrained at the moment.

[2016-12-14 23:01] jdubois commented on #4674
Well, there are a few other candidates:

- `PageableParameterBuilderPlugin`(which can be extended by the user if needed) and `SwaggerConfiguration` (with `DEFAULT_INCLUDE_PATTERN` which should become a property)
- `AuditEventConverter`
- `Http401UnauthorizedEntryPoint`, `SecurityUtils`, `SpringSecurityAuditorAware` and `UserNotActivatedException`
- `CachingHttpHeadersFilter` (with `CACHE_TIME_TO_L

[2016-12-14 23:42] kaidohallik commented on #4675
@atomfrede I could'nt reproduce the problem. I have had this problem at least 3 times but currently not able to reproduce. Currently `gradlew` and `gradlew --no-daemon` both worked well.

I made some tests in Windows gradle, Windows maven and Ubuntu gradle with .yo-rc.json provided in my first comment. Console outputs near ngconstant:

**Windows gradle** `gradlew` console excerpt
[code]
Notice tha

[2016-12-15 01:50] kaidohallik commented on #4675
I made commit in my fork. Upgrading gradle node and gulp plugins to 1.0.1 and setting gulp bufferOutput to true. This version does not produce broken texts in console output any more in my computer.

[2016-12-15 07:26] deepu105 commented on #4674
These are ok I guess

Thanks & regards,
Deepu

On 15 Dec 2016 12:01 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2016-12-15 07:29] deepu105 commented on #4675
It could have been an environment glitch

[2016-12-15 07:48] pascalgrimaud opened #4685 "Incorrect ordering properties/libs in pom.xml"
By adding a lot of librairies, the current pom.xml is not correctly ordered.

Someone in your project could do a `mvn clean install` and commit it.
Then, upgrading to a newer JHipster version is a pain, specially for the pom.xml file, because there is a lot of changes.

Step to reproduce:
1) generate a Maven projet
2) git init
3) git add .
4) git commit -m "init"
5) mvn clean install
6) git status

[2016-12-15 10:05] piprog commented on #4680
Please note that there is now some garbage in one of the comments (npm link):

-                //AlertService.success(alertKey, { param : response.headers(headers[1])});
+                //AlertService.sucnpm linkcess(alertKey, { param : response.headers(headers[1])});

[2016-12-15 10:25] jdubois commented on #4685
Yes but there is some impact with my current "lib". I'm pretty sure we will merge it, so can you do this in `migration-to-jhipster-library`branch?

[2016-12-15 10:31] pascalgrimaud commented on #4685
Sure, if all agree, I can begin to work on it
But it's not urgent, it is just something I notice when using mvn clean install

[2016-12-15 11:23] deepu105 commented on #4680
@piprog thanks

[2016-12-15 11:27] ukurmi opened #4686 "JWT authentication"
Hi
I have created jhipster application and used stateless authentication technique JWT. So when i logged in
into application , i am getting a jwt token. Till here everything is okay. When i restart my tomcat server and reload the page (any screen), it remains on the same page(For user those clicks on Logout button, this stack is working fine, cauz  we are deleting jwt token programmatic ally).

[2016-12-15 11:28] jdubois commented on #4686
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-12-15 11:28] #4686 closed

[2016-12-15 12:34] pascalgrimaud opened #4688 "Fresh banner for JHipster 4.0"
As suggested by @PierreBesson here https://github.com/jhipster/generator-jhipster/pull/4684, what do you think about a new banner ?
Post here your suggestions!

[2016-12-15 12:34] pascalgrimaud commented on #4688
Here the same banner in 3D:
![jhipster4_banner](https://cloud.githubusercontent.com/assets/9156882/21224194/327b1b52-c2cb-11e6-8d06-23133f8d9eb8.png)

[2016-12-15 12:46] PierreBesson commented on #4688
Yes !!!!

[2016-12-15 13:03] pascalgrimaud commented on #4688
**v1**, 2014:
[code]

**v2**, 2015:
[code]

**v3**, 2016:
[code]

[2016-12-15 13:19] #4667 closed

[2016-12-15 13:30] xetys commented on #4674
I will have to test this ASAP...As I am using it every day so it won't take me too long on that.

I just need to survive my oral exam tomorrow, to be a free man, again :tired_face:

[2016-12-15 13:39] rohajda commented on #4680
it was copy&paste issue. I have fixed that and it should be ok now

[2016-12-15 13:48] deepu105 commented on #4688
I think since boot now supports images we can add something like but ya bit better I can cook up an image in photoshop if you want
![327b1b52-c2cb-11e6-8d06-23133f8d9eb8](https://cloud.githubusercontent.com/assets/1107223/21226361/6c96045a-c2d5-11e6-9d03-7464867d75aa.png)

[2016-12-15 13:49] deepu105 commented on #4688
thumbs up my comment if you guys want an image to be the logo :)

[2016-12-15 13:55] cbornet commented on #4688
Some warning: the picture is translated to ASCII art so the resolution is not huge. Unless you make a banner with a loooot of lines...

[2016-12-15 13:55] sendilkumarn commented on #4688
I was about to ping this...

[2016-12-15 14:00] deepu105 commented on #4688
oh hmm lets try and see locally :) else we will go with 3D

Thanks & Regards,
Deepu

On Thu, Dec 15, 2016 at 2:55 PM, Sendil Kumar N <notifications@github.com>
wrote:

[2016-12-15 14:47] wmarques commented on #4688
Why is this labelled as minor ? It's a major thing for me :o
I'd go for the image if it renders well, the 3D is also awesome !

[2016-12-15 14:55] cbornet commented on #4688
@pascalgrimaud how did you generate the 3D ?

[2016-12-15 15:06] pascalgrimaud commented on #4688
@cbornet : by hand, after lunch time :smile:
https://github.com/spring-cloud/spring-cloud-cli/blob/master/spring-cloud-launcher/spring-cloud-launcher-deployer/src/main/resources/launcher-banner.txt

[2016-12-15 15:27] sendilkumarn commented on #4688
@pascalgrimaud 😮 👏

[2016-12-15 15:57] deepu105 commented on #4688
You could have saved some time with this
http://patorjk.com/software/taag/#p=display&f=3-D&t=JHIPSTER

Thanks & Regards,
Deepu

On Thu, Dec 15, 2016 at 4:27 PM, Sendil Kumar N <notifications@github.com>
wrote:

[2016-12-15 15:59] #4680 closed

[2016-12-15 16:26] cbornet commented on #4688
@deepu105 I know this site but I haven't found an ascii art as nice as Pascal's
@pascalgrimaud I was hoping this was a SW we could have integrated to generate the banner from the app name...

[2016-12-15 17:12] deepu105 commented on #4688
Oh ya hand made is always better as its more love

Thanks & Regards,
Deepu

On Thu, Dec 15, 2016 at 5:26 PM, Christophe Bornet <notifications@github.com

[2016-12-15 17:45] gmarziou commented on #4688
I like the 3D ASCII art.

I'm not a big fan of images as I don't know how they would work in log files or ELK beside console.

[2016-12-15 17:56] jdubois commented on #4674
I couldn't migrate all of them, because some of them had links to the generated code. Once again, I'm being very cautious here.
I also made them all configurable, so they should be easy to override or modify if needed.

Here's my latest commit: https://github.com/jhipster/generator-jhipster/commit/a820888cf14e7bc69d36d9add72b95a00e186ef5 and this is linked to release 0.0.5 of the library (that is

[2016-12-15 18:15] jdubois commented on #4688
Yes images can fail, and might slow down startup time. The 3D image is cool.

Le 15 déc. 2016 6:45 PM, "Gaël Marziou" <notifications@github.com> a écrit :

[2016-12-15 20:24] deepu105 commented on #4688
OK 3d IT IS THEN :)

Thanks & Regards,
Deepu

On Thu, Dec 15, 2016 at 7:15 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-15 20:26] deepu105 commented on #4674
​Something worth moving are the stuff we do for cassandra like changelog
management repository etc

Thanks & Regards,
Deepu

On Thu, Dec 15, 2016 at 6:56 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-15 20:31] ctamisier opened #4690 "_initial_schema.xml sequence management"
Hi,
I am using postgresql as storage engine.
The first liquibase database migration (from _initial_schema.xml) creates a 'jhi_user_id_seq' sequence.

This is due to:
<column name="id" type="bigint" **autoIncrement="${autoIncrement}"**>
(which is set to 'true' in the case of postgres)

I think this is not the expected behavior because there is **hibernate_sequence** already defined and used if I cr

[2016-12-15 22:05] deepu105 commented on #4549
@jhipster/developers Jhipster app has a new look take a look
![fireshot capture 1 - jhipster - http___localhost_9000_ _](https://cloud.githubusercontent.com/assets/1107223/21243820/e2884188-c31a-11e6-9bec-e9069a9c13be.png)

[2016-12-15 22:18] #4688 closed

[2016-12-15 22:21] deepu105 commented on #4302
@mraible did you have any luck with Karma tests?

[2016-12-15 22:22] mraible commented on #4302
Nope. Haven't had a chance to look at it since last week. Doesn't look like I'll have time this week either. Maybe next week.

[2016-12-15 22:33] pascalgrimaud commented on #4205
@PierreBesson : we need to test https://github.com/kubernetes-incubator/kompose :-)

[2016-12-15 22:34] mohamed2a commented on #4302
I'll work on it this week-end, I could run a simple karma tests without modules import.

[2016-12-15 23:00] PierreBesson commented on #4205
Yes I have heard that it has improved a lot recently and now supports docker-compose v2.

[2016-12-15 23:32] cbornet opened #4693 "Jenkins pipeline and protractor"
This is to continue the discussion started in #4600 about Jenkins and protractor.

I tested https://github.com/mark-adams/docker-chromium-xvfb/tree/master/images/base to run chrome in docker and it works well.
I guess we can adapt to run firefox instead since that's what we set in the protractor conf file.
Now the difficulty with protractor is that it needs to start the application and you probabl

[2016-12-16 00:50] sendilkumarn commented on #4302
The problem raises when we import modules only

[2016-12-16 05:55] venkatesan-94 opened #4696 "Error on gulp test"
I am new to use Karma Unit Testing, I have a problem that gulp test gets error and all the test cases are getting failed including the generated test cases from jhipster.

##### **Overview of the issue**
When I run gulp test, I am getting the Error as below

[code]
and so on completing like this,
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

[2016-12-16 06:15] pascalgrimaud commented on #4696
Can you use yo jhipster:info to provide all information/version of node, npm etc?

[2016-12-16 06:36] jdubois commented on #4696
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-12-16 06:36] #4696 closed

[2016-12-16 08:11] ThanhLD24 opened #4697 "Cannot rollback transactional when deploy in weblogic"
##### **Overview of the issue**
I deploy project in weblogic. And I have one service method, has call to three repository method. When I call to service, one repository method has exception but two repository method remain still update normal. It can't rollback. In other case, I deploy project in tomcat, it running fine.

##### **JHipster Version(s)**
JHipster Version : 1.8.4

##### **Browsers and

[2016-12-16 08:15] deepu105 commented on #4697
Jhipster version 1.8 is too old and I dont understand your issue and you do not follow our bug template and guideline so closing it

[2016-12-16 08:15] #4697 closed

[2016-12-16 08:19] ThanhLD24 commented on #4697
I has some mistake, Jhipster version is 3.10.0.

[2016-12-16 08:20] deepu105 commented on #4697
Still not enough info please follow our issue template guideline and
provide all details to reproduce

Thanks & regards,
Deepu

On 16 Dec 2016 9:19 a.m., "Le Duy Thanh" <notifications@github.com> wrote:

[2016-12-16 08:21] jdubois commented on #4697
First contact WebLogic support (they are paid for it, unlike us), then
we'll have a look.

Le 16 déc. 2016 9:19 AM, "Le Duy Thanh" <notifications@github.com> a écrit :

[2016-12-16 08:37] ThanhLD24 commented on #4697
I uncertain this issue cause by WebLogic or Jhipster, so I post question here hope some one encountered an error will help me solve it. :)

[2016-12-16 08:40] gzsombor commented on #4697
I haven't used WebLogic for 7 years, but if I were you, I would check, if Spring could detect, what kind of transaction manager should it use. Because when your app is deployed to tomcat, spring should implement the whole thing, on his own, but in weblogic, it should integrate with Weblogic's transaction management. You should check, if JTA is used, etc ...

[2016-12-16 09:06] wmarques commented on #4549
Nice ! I preferred the white navbar but it's a detail ! Good job :+1:

[2016-12-16 09:41] delverdev commented on #4549
![e2884188-c31a-11e6-9bec-e9069a9c13be](https://cloud.githubusercontent.com/assets/7104443/21257906/24c044ca-c383-11e6-9995-e1a827e44d29.png)
I would:
- Move the logo to the left and the menu to the right.
- Move the content slightly to the left so that margin from the big logo's shoulder will be the same.
- Increase a margin between menu items.
- Change 'Jhipster' to 'JHipster' in the navbar logo

[2016-12-16 11:09] jdubois commented on #4674
Sorry I closed this by mistake.

So here is the current state:

- I'm doing one last (0.0.6) release, and for me the library should be OK
- [The vote on Twitter](https://twitter.com/java_hipster/status/809173126307315713) is quite clear, for using the library, then there is an important share of people which are unhappy.
- The more I use it, the better I find it. It definitely cleans up the genera

[2016-12-16 11:12] jdubois commented on #4604
Any update here? I'll be happy to update our config, but without any news I'm closing this, as this on our soon-to-be legacy 3 release, and we'll see how it goes with Webpack. Anyway, this isn't supported by default, so it's not really a bug.

[2016-12-16 11:12] #4604 closed

[2016-12-16 13:31] deepu105 commented on #4674
I would like people to call it a framework :smile:

[2016-12-16 13:37] deepu105 commented on #4549
@delverdev yes some of it can be done.

1. We can move menu to right but moving logo left would make it hidden under the dev ribbon so something needs to be done. I guess we can make the dev ribbon 50% transparent
2. Yes can
3. Yes can
4. Its the app name so depends on what you choose during generation and hence cant be changed
5. yes can
6. Yes if it doesnt require tweaking bootstrap css too much

[2016-12-16 13:38] deepu105 commented on #4549
@pascalgrimaud I started with white navbar but then everything was too white and dull

[2016-12-16 13:43] jdubois commented on #4549
@delverdev @deepu105 don't use flags for languages, it's not a good way to display languages (some countries share the same languages, some countries have several languages...)

[2016-12-16 13:44] pascalgrimaud commented on #4549
@deepu105 : you mean @wmarques, not me
I'm happy with the colors :p

[2016-12-16 13:52] cbornet commented on #4693
On second thought 2 and 3 would cause issues when multiple builds run in parallel.

[2016-12-16 14:19] delverdev commented on #4549
@deepu105, I don't think I have much experience to PR, but  I could make a Gist.

Yes, but client doesn't matter because there is no rev ribbon in production. Or indeed we could make it transparent.<br>
I read about flags for languages and now agree that it's not a best practice.

[2016-12-16 14:22] wmarques commented on #4549
@delverdev it's very easy to PR and make modification on generated files ;) See [here](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-a-pull-request)
Thanks for your inputs anyway :+1:

[2016-12-16 14:43] delverdev commented on #4549
Okay, I will try it tomorrow.

[2016-12-16 15:04] dlmxsn opened #4699 "Home page of generated application keeps loading and doesn't fully display in IE11"
##### **Overview of the issue**

If I try to access applications I generated with JHipster 3.12.0 using Internet Explorer 11, the application's home page keeps loading for a long time and most of the page (including the menu at the top of the screen, see also the attached screenshot) is never displayed.

![jhipsteremptyappdoesnotload](https://cloud.githubusercontent.com/assets/24608323/21267077/07

[2016-12-16 15:05] JinnaBalu opened #4700 "Docker installation : Unable to pull jdubois/jhipster-docker Using default tag: latest"
Unable to pull the container from the docker hub.

docker pull jdubois/jhipster-docker
Using default tag: latest
Pulling repository docker.io/jdubois/jhipster-docker
Error: image jdubois/jhipster-docker:latest not found

when i see the docker container in https://hub.docker.com/r/jdubois/ there is no repo found.

[2016-12-16 15:10] #4700 closed

[2016-12-16 15:11] JinnaBalu commented on #4700
I was implementing the older documented steps

[2016-12-16 15:17] dimeros commented on #4699
This bug is dublicate of bug  https://github.com/jhipster/generator-jhipster/pull/4687 (fix IE11 endsWidth issue in notification interceptor)

[2016-12-16 15:28] #4699 closed

[2016-12-16 15:44] deepu105 commented on #4699
This will be fixed in our next release for now you can apply the fix from the PR https://github.com/jhipster/generator-jhipster/pull/4687 to your code to get it working

[2016-12-16 15:48] dlmxsn commented on #4699
Thanks, and sorry for the duplicate ticket.

[2016-12-16 16:33] jdubois commented on #4699
Don't be sorry, this shows me I should do a patch release when I have the time!

[2016-12-16 17:32] jdubois commented on #4534
As Angluar CLI looks to be the only working and "official" generator at the moment, I think it's very important to be compatible with it, because that's what people are learning now.

Please note that it's still in beta, and it's just generating very simple, "hello world"-like applications and components.

- As the router is going to be a huge issue, I have started a [Twitter poll](https://twitter

[2016-12-16 19:20] ramzimaalej commented on #4110
@here I'm trying to work on this item (User avatar support, and user info widget on the navbar. linked to #4095), but there seem to be an issue with social buttons. Social login is not working as nothing happens when I click on social buttons. Can you guys give me guidance on how to solve this ?

[2016-12-16 19:42] deepu105 commented on #4110
@ramzimaalej I myself have not tried that option for a long time. Did you setup the social login token and stuff required? @flaviencathala since you worked on migrating social login can you guide @ramzimaalej

[2016-12-16 20:37] gzsombor commented on #4110
There were recent fixes on social buttons, have you pulled the latest code @ramzimaalej ?

[2016-12-16 21:08] ramzimaalej commented on #4110
@gzsombor yes I have pulled latest from master.

[2016-12-16 22:59] SWEnthusiast opened #4702 "Issue when changing default unique identifier "id""
##### **Overview of the issue**
Hello Jhipsters,

I am new to Jhipster, I have generated a simple microservice application, changed the default unique identifier "id" in the Entity classes to our requirement. Liquibase runs fine and tables are created correctly with indexes as defined.

My classes looks like this
[code]
=================================================
[code]
=====================

[2016-12-16 23:13] jdubois commented on #4702
This is not a bug, you changed the ID to put something else!

- Personally I wouldn't use a business key as an ID, and I'd rather have a technical key, but then that's your app, of course.
- Indeed you need to modify your Elasticsearch repository to reflect your changes, as it's using the ID to index the data. So if you change the ID in the domain object, you need to change it in the repository to

[2016-12-16 23:13] #4702 closed

[2016-12-16 23:17] jdubois commented on #4674
Closing as the PR is merged!

[2016-12-16 23:24] deepu105 opened #4703 "Documentation site updates for v4"
We need to update the documentation site for v4 release. Atleast for below

1. Angular 2 option
2. Bootstrap4 in Angular2 option
3. JHipster library
4. Spring constructor injection
5. Graphite and prometheus switches
6. Yarn support

@jhipster/developers please add on if I missed stuff

[2016-12-16 23:25] deepu105 commented on #4703
And of course we need volunteers :smile:

[2016-12-17 07:02] ruddell opened #4704 "CORS Headers Blocked by 401"
##### **Overview of the issue**
The CorsFilter (when enabled) is added after the UsernamePasswordAuthenticationFilter, meaning any requests that result in 401 do not have the expected CORS headers.  The CorsFilter bean is setup in WebConfigurer.java

##### **Motivation for or Use Case**
Anything that uses CORS, such as other frontends/apps using a JHipster backend.

##### **Reproduce the error**
G

[2016-12-17 09:50] jdubois commented on #4205
@pascalgrimaud @PierreBesson is there still work to do here? Nothing on this ticket since October, and Cassandra support isn't very important (only very few people use it, less than 2%)

[2016-12-17 10:06] pascalgrimaud commented on #4205
I think we can close it, as there are few feedback on Kubernetes.
And it can be done later! Nothing here is urgent.

[2016-12-17 10:06] #4205 closed

[2016-12-17 10:23] pascalgrimaud commented on #4317
I think I made a bad choice with 'yarn: true' in 'yo-rc.json'
I should use 'pkg: npm' or 'pkg: yarn'
Or another variable name. Any propositions?

[2016-12-17 10:50] jdubois commented on #4317
Yes, this his like `clientFw`, so we can have other choices in the future, just in case.

By the way I like variable names which are easier to read/understand for contributors (I don't like `clientFw`, I'd rather have `clientFramework`), and here it's the same thing, I would call it `packageManager` (only issue is that it's not clear with regards to Maven and Gradle....)

[2016-12-17 11:15] pascalgrimaud commented on #4317
Ok, so I will change to packageManager
And it will be easier to switch to yarn by default later

[2016-12-17 11:51] cbornet commented on #4317
What about frontEndBuildTool ?

[2016-12-17 12:51] deepu105 commented on #4317
I was gonna do `clientFramework` first but then thought would keep it short so that we keep switches short but im 100% ok to rename

@cbornet that will be missleading as npm/yarn is not a build tool `packageManager` or `packageMgr` is more appropriate

[2016-12-17 12:57] cbornet commented on #4317
True. Then frontEndPackageManager (to distinguish from Maven/Gradle) ?

[2016-12-17 12:59] deepu105 commented on #4317
or `clientPackageManager` but why would someone think maven/gradle as
package managers arent they build platforms

Thanks & Regards,
Deepu

On Sat, Dec 17, 2016 at 1:57 PM, Christophe Bornet <notifications@github.com

[2016-12-17 13:57] jdubois commented on #4317
OK for `clientFramewok` and `clientPackageManager`

[2016-12-17 14:43] deepu105 commented on #4317
ClientFramework done already

Thanks & regards,
Deepu

On 17 Dec 2016 2:57 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2016-12-17 16:04] tvd27285 opened #4705 "Jhipster Deployment in Weblogic no rollback transaction"
Dear all,
My application use Jhipster v2.27.2.
In method of service layer, I insert into three table.
Everything running on tomcat is ok (It will rollback all it insert failed)
When I deploy it on weblogic application server, I get error no rollback transaction).
I think weblogic application server use JTA transaction, should be Transaction of Spring framework error this case.
Anyone can help me f

[2016-12-17 16:36] pascalgrimaud commented on #4705
It's not a JHipster bug, it's related to Weblogic.
Post your question on stackoverflow

[2016-12-17 16:36] #4705 closed

[2016-12-17 19:37] pascalgrimaud commented on #4317
@deepu105 : did you push the code for clientFramework?

[2016-12-18 00:52] deepu105 commented on #4317
Not yet. Btw for clientPackageManager you can keep the name for yo-rc but
for switches you can use an in memory variable like yarnInstall or yarn.
Look at what I have done for testFrameworks

Thanks & regards,
Deepu

On 17 Dec 2016 8:37 p.m., "Pascal Grimaud" <notifications@github.com> wrote:

[2016-12-18 08:10] jdubois commented on #4631
Yeoman 1.0 is released: http://yeoman.io/blog/hello-generator-1.0.html

[2016-12-18 09:06] jdubois commented on #4631
Couple of issues here:

- I don't see the new release on https://www.npmjs.com/package/yeoman-generator - @SBoudrias is this normal? I thought it was released?
- I don't understand how the new `composeWith` API works when you use `args`, like [here](https://github.com/jhipster/generator-jhipster/blob/v3.12.1/generators/app/index.js#L323). Then I'm with release `0.24.2` (see point above), so maybe

[2016-12-18 10:53] jdubois commented on #4317
Have a look also at [Yeoman 1.0](https://github.com/jhipster/generator-jhipster/issues/4631) as there is now Yarn support in Yeoman - See [Yarn install](http://yeoman.io/blog/hello-generator-1.0.html)

[2016-12-18 13:23] #4313 closed

[2016-12-18 13:26] deepu105 commented on #4459
closing this as ill update it on main release plan ticket

[2016-12-18 13:26] #4459 closed

[2016-12-18 14:22] jdubois commented on #4534
I got an `angular-cli.json` file which is kinda of working fine, I'll commit this in the next couple of days.

[2016-12-18 18:18] PierreBesson opened #4709 "[FEATURE] Additional module sub-generator"
Since #4562 we can now add additional module to the package.json with a new question. BTW great work @gzsombor !
However, I think that this is an operation that you might want to do after the initial generation. Moreover, you might want to do it more than once. So in my opinion this is better suited for a sub-generator than an initial question. This would be something like:

`yo jhipster:add-modul

[2016-12-18 18:24] PierreBesson commented on #4317
I know it might seem a bit bold to suggest it but I think we should go with Yarn by default for JHi 4. It works really well and it will also speed up the work of the development team. @pascalgrimaud do you think it is worth considering ?

[2016-12-18 18:55] jdubois commented on #4317
Testing for NPM and Yarn gives us a lot more work, and don't provide much added value, so for this reason I would be for Yarn only.
Then, the issue is a lot of people are already relying on NPM, so we might lose quite a lot of users. I don't know how we could be sure it won't cause any trouble to people.

[2016-12-18 18:57] jdubois commented on #4709
Yes, it's great for marketing, but not very good when doing project re-generation! +1 from me.

[2016-12-18 19:16] deepu105 commented on #4317
best would be to support both for sometime and slowly phase out npm as yarn
get more stable

Thanks & Regards,
Deepu

On Sun, Dec 18, 2016 at 7:55 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-18 19:27] deepu105 commented on #4549
@jhipster/developers @flaviencathala @erkieh I have started the entity generator migration to ng2. The below are the work done and TODO. I might not have time to finish it today and will be bit busy next week so if someone want to finish the TODO items please go ahead. Just make a comment here so that I know what you are working on

- [ ] Split entity generator client and server code
- [ ] Split c

[2016-12-18 19:28] deepu105 commented on #4549
the easiesnt way to migrate is to follow the user-management module as its similar

[2016-12-18 19:39] fbn-roussel opened #4710 "[FEATURE] Add jpa custom constraints generation to entities"
##### **Overview of the issue**

It could be nice having a jpa custom constraint annotation (at class level) generated with the entity for any specific validation that cannot be done by standard validators. See more on https://docs.jboss.org/hibernate/validator/5.0/reference/en-US/html/validator-customconstraints.html#section-class-level-constraints

##### **Motivation for or Use Case**

In most o

[2016-12-18 20:09] pascalgrimaud commented on #4317
We can go on to support both. It's not a lot of work, I will take care about that
About putting Yarn by default, I prefer to wait a little bit. We can discuss about this, tomorrow evening @PierreBesson

[2016-12-18 20:28] erkieh commented on #4549
@deepu105
my WIP is in https://github.com/erkieh/generator-jhipster.  I managed to generate entities for my use case from the pre split/refactor state. Please feel free to discard all or reuse parts of my work done thus far because I probably don't have the time to get it to a state where I would do a PR.

[2016-12-18 20:52] PierreBesson commented on #4317
if @pascalgrimaud and @deepu105 would prefer to wait then I'm following their judgement to wait for a bit before fully switching to yarn.

[2016-12-18 20:57] deepu105 commented on #4549
@erkieh its your work and hence I would like you to get the commit credit. Let me see if I can get your commits in

[2016-12-18 21:05] pascalgrimaud commented on #4549
@deepu105 :
- I will enable travis testing for entity as soon as it's ready
- I didnt follow closely: is protractor working for ng2? If yes, I can already enable it in Travis!

[2016-12-18 21:41] deepu105 commented on #4549
@erkieh I have created a new branch from your branch so that your commit is retained and you get the deserved credit. Guys if anyone wants to work on top of this please use the entity-ng2 branch. here is a reference PR to visualize the changes https://github.com/jhipster/generator-jhipster/pull/4713

[2016-12-18 21:42] deepu105 commented on #4549
@pascalgrimaud the last i checked it was working on master without entity. can you try and confirm locally as i'm little short on time

[2016-12-18 21:43] deepu105 commented on #4549
and i really need some rest as well :sob:

[2016-12-18 21:45] deepu105 commented on #4549
@pascalgrimaud the protractor tests for ng1 is failing in master. pretty sure i did some silly mistake but im exhausted would be grateful if you can take a look

[2016-12-18 21:59] jdubois commented on #4317
If that's not a lot of work, here's my proposal:

- We put Yarn by default, and tell everyone to use it
- We watch the stats

-> if the stats show we have less than 5% of people using NPM, we can ditch it without any problem. That's what I did for Java 7, and that was very successful (= no complaint at all!)

[2016-12-18 22:13] jdubois commented on #4710
Indeed, constraints are a pain to code, so this would help!
Then, in my opinion constraints are meant to be share, I would like to re-use them, so they would not be tied to an entity.
We could have a specific sub-generator just for contraints, maybe? Or @fbn-roussel would like to do a module for this, first? I think modules are great to test out ideas, as you don't depend on us and can go faster,

[2016-12-18 22:47] pascalgrimaud commented on #4549
Same as you, I can work and have a look only tomorrow morning, before day work :-)
But no worry, we will repair it

[2016-12-18 22:50] pascalgrimaud commented on #4317
- should I add a new question for yarn / npm ?
- or should I add a new flag --npm for people who want to stay with npm

[2016-12-18 22:56] jdubois commented on #4317
Oh good question!

- A question adds more visibility
- A flag is only for advanced users

So if our final goal is to push Yarn, I would make it only a flag.

[2016-12-18 23:52] SBoudrias commented on #4631
@jdubois it's properly release to npm, I don't know why it's not showing as the latest release though... Looks like a bug.

About args and options, they've been merged to expose a single API. You access both arguments and options with `this.options.name` and you pass them the same way using `composeWith`.

[code]

That being said, if the generator being composed (`generator-x` in the prev example)

[2016-12-19 03:14] JinnaBalu opened #4714 "Failed to execute goal com.github.eirslett:frontend-maven-plugin:1.2:npm (npm install) on project jhipster-cassandra-sample-application when we do mvnw package -Pprod docker:build"
[INFO] --- frontend-maven-plugin:1.2:npm (npm install) @ jhipster-cassandra-sample-application ---
[INFO] Running 'npm install' in C:\Users\Admin\app\jhipster-sample-app-cassandra
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 01:01 min
[INFO] Fin

[2016-12-19 05:44] #4714 closed

[2016-12-19 08:45] pascalgrimaud commented on #4549
I commented the code here: https://github.com/jhipster/generator-jhipster/commit/b1dc23ca6ef6353139a74957a8a14db850f6d3e8#diff-fddb513f7a2937b33eb1c1f6a71e64a7

[2016-12-19 08:56] jdubois commented on #4631
Thanks a lot @SBoudrias !

- For the NPM website, yes they often take some time to update, I have the issue all the time with JHipster!
- For the `composeWith` then that's a serious issue for us. We "compose" our sub-generator (and that's OK), but we now have [28 modules](https://jhipster.github.io/modules/marketplace/#/list) done by other people, and they're all going to break. I have no idea how

[2016-12-19 09:06] jdubois commented on #4709
However I wouldn't do this at the moment, we already have a ton of work for JHipster 4, and I'm also quite worried by #4631 , so for me it's too much new things for now. Are you OK to postpone this?

[2016-12-19 09:26] gzsombor commented on #4709
This doesn't seem to difficult to do it, I thought about it initially, but my main goal was to give more instant visibility to the modules, which are a bit hidden treasures for JHipster. If you want to make a PR, I wouoldn't oppose ;-)

[2016-12-19 09:28] gzsombor commented on #4631
Probably we should request to the module developers to have a 'jhipster-4.0' tag in their package definitions, to mark them compatible with JHipster 4 / Yeoman 1

[2016-12-19 09:32] jdubois commented on #4631
@gzsombor yes but that would mean we start JHipster 4 with 0 available module...

[2016-12-19 09:34] jdubois commented on #4709
Oh, I would be happy to have it, too! It's just that I'm afraid we start too many things right now, and that our Angular 2 migration is not finished yet. I'd like to release JHipster 4 in the next couple of weeks.

[2016-12-19 09:38] gzsombor commented on #4631
As lot's of modules have not updated since January of 2016, I bet, they are incompatible, no matter if we list them, or not. Especially because the introduction of Angular 2. At least, they need to updated to declare if they can handle Angular 2, or not

[2016-12-19 09:39] jdubois commented on #4631
Oh, that's a very good point!!! Angular 2 breaks everything, anyway!
So OK, let's do this!

[2016-12-19 10:25] deepu105 commented on #4631
@jdubois I think for JHipster 4.0 its not mandatory to use yeoman 1.0 as this is internal we cant do it at any point later as well

[2016-12-19 10:29] jdubois commented on #4631
Oh you are correct @deepu105 and JHipster 4 is already late & complex to release... So let's do it, but not right now, as we don't have the time. Maybe it will be in a minor release, maybe for JHipster 5.

[2016-12-19 10:53] fbn-roussel commented on #4710
A module seems also good to me, I'll go for it ! Thanks for the idea.

[2016-12-19 12:52] PierreBesson commented on #4709
Really it would be simple enough to do. @jdubois don't worry I can do it

[2016-12-19 13:05] deepu105 commented on #4709
Also you can compose the sub generator from the main generator during the
first generation of app so thats its visible easily (its easy to detect
based on availability of yo-rc file)

Thanks & Regards,
Deepu

On Mon, Dec 19, 2016 at 1:52 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-12-19 13:24] jdubois commented on #4710
OK so I'm closing this, and we can discuss this again once your module is ready, of course. BTW, don't hesitate to mention @java_hipster on Twitter, and I'll RT you!

[2016-12-19 13:24] #4710 closed

[2016-12-19 14:06] delverdev opened #4718 "Clear NG2 build failed"
##### **Overview of the issue**

I followed [this guide](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#set-npm-to-use-the-cloned-project) and created a clear ng2 application. But it didn't build. Stacktrace:

##### **Reproduce the error**

- Fork `generator-jhiptser`.
- Clone it.
- Link.
- Create new application with `yo jhipster`.
- Link with the cloned generator.
- R

[2016-12-19 14:49] delverdev commented on #4718
In `D:\!JHipster git 2` the application has generated.
I will try to create an app with Maven.

[2016-12-19 15:38] delverdev commented on #4718
Seems like errors are the same:

[2016-12-19 15:58] pascalgrimaud commented on #4718
Are you sure your fork project is up-to-date ?
I see in your configuration: clientFw -> it has been renamed to clientFramework

Another thing. Your folder looks a little bit strange.
Can you try:
- without `!` character
- without space

[2016-12-19 15:59] pascalgrimaud commented on #4718
@delverdev : we also need your version (node, npm, etc.). Just type `yo jhipster:info`

[2016-12-19 16:24] delverdev commented on #4718
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

ls: no such file or directory: .jhipster/*.json

##### **Browsers and Operating System**

java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_112-b15)
J

[2016-12-19 17:59] delverdev commented on #4718
With `D:\jhipster` all works. Throws warns by works.

[2016-12-19 18:42] #4718 closed

[2016-12-19 18:46] ramzimaalej commented on #4110
nvm guys, I got it working after merging master from upstream and creating a new app.

[2016-12-20 00:49] Smitty010 opened #4720 "[Microservice Generation] Generated microservice won't start"
##### **Overview of the issue**

I generated a microservice using the latest jhipster release (as described below).  Without making any changes to the generated project, I run the microservice and get the following stack trace:

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'loggingConfiguration': Injection of autowired dependencies failed; nested exception

[2016-12-20 00:58] anjia0532 commented on #4549
angular 4 beta is comming
https://github.com/angular/angular/blob/master/CHANGELOG.md?utm_content=buffer0c5e3&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer#400-beta0-2016-12-15

[2016-12-20 04:00] SBoudrias commented on #4631
@jdubois can you explain why you think they'll break? The composition should stay compatible across versions (that is: 1.0 composing with older versions and older generators composing with 1.0)

[2016-12-20 05:05] Smitty010 commented on #4720
I realized the issue when I was driving home.  I assumed there would be a default spring profile.  Needed spring.profiles.active=dev somewhere (like an environment variable :) ).

[2016-12-20 05:05] #4720 closed

[2016-12-20 07:58] deepu105 commented on #4549
What the hell happened 3.x ?

Thanks & regards,
Deepu

On 20 Dec 2016 1:58 a.m., "anjia0532" <notifications@github.com> wrote:

[2016-12-20 09:39] wmarques commented on #4549
@deepu105 Because the router is already at 3.x.x so to get every angular modules to the same versions, they skip 3.x and go straight to 4

[2016-12-20 09:43] deepu105 commented on #4549
​really!!! ya thats not dumb at all :P​

Thanks & Regards,
Deepu

On Tue, Dec 20, 2016 at 10:39 AM, William Marques <notifications@github.com>
wrote:

[2016-12-20 12:21] cbornet commented on #4704
Can it be solved by @Order annotation ?

[2016-12-20 13:21] cbornet commented on #4693
So it appears the best solution I found is actually 2 using docker container linking to give access to the containers. This is kinda link what is done in src/main/docker/app.yml but without docker-compose.
You can try the following pipeline script for instance
[code]
Note: this script is not usable as-is as it will block at the end. A full script would need to run the server in background, wait th

[2016-12-20 13:22] gmarziou commented on #4317
For developers, are we supposed to use `yarn link`?

[2016-12-20 13:29] wmarques commented on #4317
@gmarziou yep

[2016-12-20 14:24] PierreBesson commented on #4317
Yes and we should update the CONTRIBUTING.md file to document it.

[2016-12-20 14:36] jdubois commented on #4631
Oh I didn't understand this @SBoudrias ! OK I'll reopen this, let me try this out!

[2016-12-20 14:44] jdubois commented on #4704
@cbornet no it's a Spring Security filter order, indeed the `http.addFilterBefore` will work.
The best place to do it is in the `SecurityConfiguration` class, indeed. I would put it after the CSRF configuration, with a comment explaining what it's about (and how to enable CORS), so that it's with the other filters (CSRF and remember me are filters too, and I think the filter order would be respect

[2016-12-20 14:52] pascalgrimaud commented on #4317
@gmarziou :
- in your local forked project (generator-jhipster): `yarn link`
- when you want to generate a new project:
    - `mkdir tmp && cd tmp`
    - `yarn link generator-jhipster`
    - `yo jhipster`

[2016-12-20 15:12] jdubois commented on #4690
- There is no problem with the sequence starting with `1`, have a look at the Hibernate hilo algorithm, and you'll see it's fine.
- Indeed, the `autoincrement` is useless with Postgresql. I don't remember were this comes from, but my guess is that it's going to help people who don't want to use the hilo algorithm: that way our tables work in both situations. As this is pretty confusing, it's proba

[2016-12-20 15:43] cbornet commented on #4690
I think some people want the auto_increment because they have non-hibernate apps also committing to the DB.

[2016-12-20 15:44] jdubois commented on #4690
@cbornet yes, but then they could have the sequence generate an id that is already being used, so there is a risk of failure...

[2016-12-20 15:45] jdubois commented on #4690
In fact I think we should only support sequences, with the new hilo generator, and migrate everything.

[2016-12-20 15:47] gmarziou commented on #4317
OK thanks

[2016-12-20 16:16] jdubois commented on #4690
Oh sorry I remember now: the issue is that MySQL (which 50% of our users have), does not support sequences.... Which is why we use the "auto" Hibernate generator, so we support everything.

[2016-12-20 19:07] jdubois commented on #4690
I'm closing this as I'm going to make a new ticket on this matter:

- There is no bug in this release, just a confusing configuration
- For JHipster 4, we can break stuff, so I'm going to propose to change this

I'll link the new ticket to this one, of course.

[2016-12-20 19:07] #4690 closed

[2016-12-20 19:14] dacloutier opened #4724 "[FEATURE] Move maven dependencies and plugins in a parent pom"
##### **Overview of the issue**
Currently, the jhipster generator creates a maven pom.xml that defines springboot-starter-parent as the parent pom:

[code]
Then goes to define all the properties, dependencies and plugins required for the jhipster application.

##### **Motivation for or Use Case**
If you then modify the pom.xml for your application, adding properties, dependencies or plugins, these

[2016-12-20 19:19] jdubois opened #4725 "Refactor Hibernate ID generation"
This comes from the discussion at #4690

For our entity IDs generation, we currently use the "Auto" generator from JPA. It's standard, and then Hibernate has to use an implementation working with the current database.

This has worked well since the beginning, I coded the original implementation and I don't think we had any issue with it.

However, with JHipster 4 I'd like to make some breaking ch

[2016-12-20 19:54] ctamisier commented on #4725
If we want to be backward compatible, the already existing liquibase changeset must not be changed (liquibase checksums already stored in DB). And then only new migrations can be added altering tables and/or sequences.

What I see from this is to have many migrations even for a brand new starting project. (may confuse the new jhipster user). But still, as a jhipster 3 user, I want to upgrade to jh

[2016-12-20 20:09] jdubois commented on #4725
I'm not too worried for migrations: it's still using the same sequence (for databases that use sequences), and for MySQL then you need a new changeset to add the table. That doesn't look too complex for me.

[2016-12-20 20:11] gzsombor commented on #4724
Interesting idea ! I have similar problem, only that I would rather not inherit from spring-boot - because I want a multi-module maven setup. Spring-boot has a partial solution for this - mentioned here : http://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-build-systems.html#using-boot-maven-without-a-parent Unfortunately not all the settings could be imported, I had to copy a

[2016-12-20 20:56] jdubois commented on #4724
This is an idea I've had for years!! For me this was solved (at least!) by Spring Boot, but indeed it's now not enough for JHipster, as we go farther than Spring Boot.
Until very recently we didn't have a solution with JHipster, but now we have https://github.com/jhipster/jhipster that is published on Maven Central, things have changed!
So that looks a really good idea, and that would be quite eas

[2016-12-20 21:01] SWEnthusiast opened #4727 "Back button doesn't work"
##### **Overview of the issue**
This is not a severe bug, since I am loving Jhipster I want to contribute in a way I can. I have a simple Many to One relationship entity between Country and State. When I click on an ID in state entity and then click on the country link on the details page to see the country details and click on back button the page doesn't navigated to the previous. Browser error

[2016-12-20 21:04] ruddell commented on #4727
Thanks for the bug report, this issue is already open https://github.com/jhipster/generator-jhipster/issues/4188

[2016-12-20 21:04] #4727 closed

[2016-12-20 21:12] gzsombor commented on #4725
I'm a bit confused, for MySQL, do you suggest to not use auto-increment fields anymore? I don't understand why this could be an improvement :(

[2016-12-20 21:28] jdubois commented on #4725
@gzsombor yes, because auto-increment (aka "identity") has two drawbacks: it doesn't support batching, and table per class inheritance.

[2016-12-20 21:29] pascalgrimaud commented on #4724
I agree, it's completely linked to #4685 !

So I will finish the work on this PR https://github.com/jhipster/generator-jhipster/pull/4721 (only reordering the properties) and hold on, depending if we go to a JHipster pom parent

[2016-12-20 21:55] gzsombor commented on #4725
Do we support any inheritance strategy? (I would rather suggest to use single table inheritance, or joined, multi-table inheritance, because you can properly query them, and have working foreign keys)
For bulk inserts, I understand, there could be a performance penalty, if hibernate wants to retrieve all the newly generated ids, I haven't tested yet, as I was more worried about the single entity i

[2016-12-21 06:41] jdubois commented on #4317
Can we close this? It's fully working for me!

[2016-12-21 06:44] pascalgrimaud commented on #4317
There are few last things to do like documentation, but we can follow this ticket https://github.com/jhipster/generator-jhipster/issues/4703 for this
So yes!

[2016-12-21 06:45] pascalgrimaud commented on #4703
I will work on the point 6: Yarn support

[2016-12-21 06:59] jdubois commented on #4725
Indeed those are edge cases... But the performance penalty is very low anyway.
I still need to do more testing on this. I literally spent the night on this, it's quite simple in the end, but so badly documented you need a lot of time !

[2016-12-21 07:12] pascalgrimaud commented on #4703
@jdubois : should we create a new branch at https://github.com/jhipster/jhipster.github.io ?
So we can PR to this branch.

[2016-12-21 08:01] jdubois commented on #4703
Yes.
And I'll do constructor injection and JHipster lib, but those should be
pretty small, I guess only details un the release notes.

Le 21 déc. 2016 8:12 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2016-12-21 08:16] jdubois commented on #4725
I'm having second thoughts now:

- This is really hard to configure, and quite verbose, so it's not really
good for end-users. In fact, this is so badly documented that I doubt
anybody is doing this. I will post a sample when I have my computer (yeah,
50% of JHipster is coded on my phone while I'm commuting!)
- The performance penalty for all write requests is indeed starting to
worry me
- Why bre

[2016-12-21 08:53] Akuka opened #4729 "The order of the generator questions is not correct"
* **Overview of the request**

The order of the generator questions is not correct (see image below).

![jhipsterquestionsorder](https://cloud.githubusercontent.com/assets/3299903/21382731/e16bc4ce-c76a-11e6-80a1-2e073a262847.png)

* **Browsers and Operating System**

ANY

* **Suggest a Fix**

I have a fix, I will make a pull request

[2016-12-21 09:10] cbornet commented on #4317
Is it time to merge https://github.com/jhipster/jhipster-devbox/pull/72 ?

[2016-12-21 09:25] jdubois commented on #4317
@cbornet only once JHipster 4 is released, at the moment we need NPM

[2016-12-21 11:14] jdubois commented on #4725
Best solution for me is:

- Use IDENTITY with MySQL
- Use Sequence with the new "optimized" algorithm for all other databases

I've commited my test code on a specific branch: https://github.com/jhipster/generator-jhipster/tree/refactor-hibernate-id-generator

[2016-12-21 20:42] jdubois commented on #4725
My branch is building OK, and I'm quite convinced it's the best solution: is anybody having any comments? Otherwise I'll merge this tomorrow.

[2016-12-21 20:51] ctamisier commented on #4725
`incrementBy="50"`
is this something like "recommended" by the generator strategy ? (instead of 1).

and it will break the existing md5 liquibase changeset sequence ? (because of the 50 ?).

[2016-12-21 20:54] jdubois commented on #4725
Yes that's the new strategy

[2016-12-21 20:59] ctamisier commented on #4725
ok nice, and that solve my concern with my duplicated postgres sequence. thanks ! :).

But i'm still wondering how to migration to this new version. The md5 has changed so the application won't start. Should we update manually the databasechangelog table to update with the expected MD5 ? (maybe there is already docs about this that I missed.. ).

[2016-12-21 21:06] jdubois commented on #4725
We'll need to try, but I would do a new changeset that recreates the sequence, and which starts with a number higher to what has already been used.

[2016-12-21 21:10] ctamisier commented on #4725
ok I see we just adapt the migration schema (new changesets) according the existing ones and our needs.

[2016-12-21 23:05] #4729 closed

[2016-12-21 23:16] jdubois commented on #4317
OK thanks @pascalgrimaud let's close this!

[2016-12-21 23:16] #4317 closed

[2016-12-21 23:47] m00g33k commented on #4549
@deepu105 @wmarques Not exactly the reason. They're moving into semver which means you can also expect Angular 5 next year.

[2016-12-22 06:58] jdubois commented on #4345
Looks like they are not ready to merge this, and I don't like long-running tickets...
For me we'd better rollback on ACLs, and this will be unsecured, like normal Eureka (people forget about it, but one of the enhancements of JHipster Registry is that it adds HTTP Basic autenth on top of Eureka)

[2016-12-22 07:48] Andaav commented on #4189
We also updated Hazelcast (without updating jhipster, still running 3.0.6). Tomcat still randomly replies with an error 500. Can't really provide steps to reproduce as it seems to be completely random.

[2016-12-22 08:17] jdubois commented on #4189
There needs to be an explanation... Not sure this is a JHipster issue, as
we have just a basic configuration, and it was done by people working at
Hazelcast.
Did you contact Hazelcast support? I guess they're the best to find the
issue here.

Le 22 déc. 2016 8:48 AM, "Andaav" <notifications@github.com> a écrit :

[2016-12-22 08:35] cbornet commented on #4549
@m00g33k I think everybody in JHipster is aware of semver. It's just that their versioning strategy is so confusing and messed up that it becomes funny !

[2016-12-22 08:51] ogesh89 opened #4739 "ute constrint"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating Sy

[2016-12-22 08:52] jdubois commented on #4739
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2016-12-22 08:52] #4739 closed

[2016-12-22 10:10] wmarques commented on #4549
@m00g33k Agree with that, and it's a good thing that they want to be more clear about their versions :) But jumping from 2 to 4 is kinda funny as @cbornet said :D

[2016-12-22 11:24] xetys commented on #4345
@jdubois you think we should do it similar in consul, too? like just setting some reverse proxy with http basic auth is not that hard to do...while this is hanging

[2016-12-22 15:06] PierreBesson commented on #4345
@jdubois I'm OK to remove the ACL for now. For the reverse proxy, I don't feel like it's our job to do it.

[2016-12-22 19:40] jdubois commented on #4725
OK, let's do this!

[2016-12-22 19:41] #4725 closed

[2016-12-22 19:48] jdubois commented on #4345
@PierreBesson anyway we can't stay with something broken, with the hope that the Spring team will one day do something about this.
Could you revert the change, and close the ticket?

[2016-12-22 19:51] PierreBesson commented on #4345
Ok I will do it.

[2016-12-22 20:46] gmarziou commented on #4317
Shouldn't we add yarn.lock file to the generator repo?

[2016-12-22 20:51] jdubois commented on #4317
For me it's the "good practice", so yes. But we haven't used this for long enough to be sure :-)

[2016-12-22 20:54] cbornet commented on #4317
Are we sure we can do it for all combination of options ?

[2016-12-22 20:56] SWEnthusiast commented on #2504
Hi friends

I ran into this issue, I tried @geraldhumphries steps but the values are not pre populated in the drop down list. Not sure if anything changed since this post was created.

@jdubois or @deepu105 Please point me to the jhipster documentation if there is any.

Thanks

[2016-12-22 20:57] jdubois commented on #4317
@cbornet I guess we can commit the one from the generator. Then, for each generated project, that's another story - yes we should commit it, but that's going to be a nightmare to generate... I would just let people commit it themselves after generation.

[2016-12-22 20:58] jdubois commented on #2504
I'm sorry this is an old issue, which is closed, I don't have the time for this.

[2016-12-22 21:24] geraldhumphries commented on #2504
I've replied to his comment in my Gist, so any discussion will probably take place there.

[2016-12-22 21:33] deepu105 commented on #4317
Yes we should just let people add it to VCS. i dont think there is any
value in generating it

Thanks & Regards,
Deepu

On Thu, Dec 22, 2016 at 9:57 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-22 23:20] gmarziou opened #4747 "Wrong number of users in user management table pager"
##### **Overview of the issue**

When using user management, the list of users contains **3** users but pager says: "Showing 1 - **4** of **4** items.".
This is due to anonymous user being filtered in [user-management.component.ts](https://github.com/jhipster/generator-jhipster/blob/2372489a3a0e2d10be28f28fa4118cf435e97bd3/generators/client/templates/angular/src/main/webapp/app/admin/user-manageme

[2016-12-23 04:34] aldranvijay commented on #4407
I am following instruction available on this document : https://github.com/jhipster/generator-jhipster/blob/master/NG2-GUIDE.md
But always getting the following error :
![error](https://cloud.githubusercontent.com/assets/9549492/21447186/1398d468-c8f7-11e6-99a9-477c266aa42c.PNG)

Any help is appreciated :)

[2016-12-23 06:40] #4747 closed

[2016-12-23 08:57] pascalgrimaud commented on #4407
Not sure this guide is up-to-date because the angular-2 branch has been merged into master and is deleted.

Simply use the branch master.
If you still have issue, plz provide as much as information, so we can help you

[2016-12-23 10:26] sendilkumarn commented on #4148
We can close once #4751 is merged 👍

[2016-12-23 10:38] deepu105 commented on #4148
it will be merged anyway

[2016-12-23 10:38] #4148 closed

[2016-12-23 10:38] aldranvijay commented on #4407
Yes I am using the master branch source code. With the following given steps  in order :
1. npm link
2. yo jhipster (with npm install)
3. ./mvnw
4. npm run webpack:dev

[2016-12-23 11:11] pascalgrimaud commented on #4724
Agree with you @jdubois : I think some clients can be reluctant to have "jhipster" as pom parent, instead of "spring-boot-starter-parent"

[2016-12-23 12:47] pascalgrimaud commented on #4407
@albertmatyi : here all the steps

Clone the generator-jhipster and use npm link:
- `git clone https://github.com/jhipster/generator-jhipster.git`
- `cd generator-jhipster`
- `npm install`
- `npm link`

Create the project:
- `mkdir tmp && cd tmp`
- `npm link generator-jhipster`
- `yo jhipster`

[2016-12-23 12:55] gmarziou commented on #4407
And you may replace `npm` by `yarn` in the instructions above for better performance and reliability.

[2016-12-23 12:56] jdubois commented on #4631
I've tried it out, and there are more stuff that changed, including how inheritance works, see http://yeoman.io/blog/cleanup.html

I have no idea how all this works, and upgrading seems long and painful as we have a lot of code relying on this.

So for me we'll stay on an older version, until:

- We have a blocking issue or a new feature that forces us to upgrade
- Someone is interested in spendin

[2016-12-23 13:53] nkolosnjaji opened #4753 "Upgrade Spring Security to 4.1.4 or 4.2.1"
##### **Overview of the issue**

Spring has released new security release regarding CVE, more @ https://spring.io/blog/2016/12/22/cve-2016-9879-spring-security-3-2-10-4-1-4-4-2-1-released

##### **Suggest a Fix**

Upgrade Spring Security to 4.1.4 or 4.2.1 version.

##### **JHipster Version(s)**

any

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

any

[2016-12-23 14:04] jdubois commented on #4753
Yes, but does it affect Undertow? Not sure we are impacted, so I'm sure of urgent this is.
Of course, I know some people deploy JHipster on Websphere, which is impacted, but then they should also discuss with their app server vendor...

[2016-12-23 14:04] jdubois commented on #4753
Of course, that should trigger a new release on the 3.x maintenance branch

[2016-12-23 14:32] sendilkumarn commented on #4407
[this](https://goo.gl/cix8BY) argues that the elements should have a `custom` tag before.

How about we adding `appname` as prefix to all the components or `jhi` ?

[2016-12-23 14:46] jdubois opened #4756 "Spring Boot 1.4.3 makes the "dev" profile fail (404 error)"
Following #4750 which was just merged in the master branch, the application shows a 404 error when running in dev mode.

This is because in the `WebConfigurer`, our trick to set the document root is not taken into account any more.

The solution I'm working on is to use Spring Boot standard's path, like `classpath:/resources` instead of `target/www`. It would solve the issue and remove a lot of co

[2016-12-23 15:05] pascalgrimaud commented on #4756
You're right. To reproduce the bug:
- start the main class
- `./mvnw`

When packaging and start with `java -jar target/*.war`, there is no problem.

I should change on Travis build (for 1 build at least) to launch direct `./mvnw` instead of `java -jar` to detect this kind of problem

[2016-12-23 15:09] gAmUssA commented on #4189
@Andaav could you share a reproducer? If it's Hazelcast problem I'm pretty sure I will be able to tackle it.

[2016-12-23 15:57] jdubois commented on #4756
I won't have the time to find a solution soon, I think we should revert the commit to Spring Boot 1.4.2

[2016-12-23 16:02] pascalgrimaud commented on #4756
@jdubois : sorry for going too fast. Let revert

[2016-12-23 16:02] pascalgrimaud commented on #4756
I will do all the PR for that

[2016-12-23 16:02] jdubois commented on #4756
Can you do it? I'm only with my phone :-)

[2016-12-23 16:09] deepu105 commented on #4753
i think this can wait for JH4

[2016-12-23 16:10] pascalgrimaud commented on #4756
@jdubois : done! here the 3 PR:
- generator-jhipster: https://github.com/jhipster/generator-jhipster/pull/4757
- jhipster: https://github.com/jhipster/jhipster/pull/4
- jhipster-registry: https://github.com/jhipster/jhipster-registry/pull/94

Let investigate it after :christmas_tree:

[2016-12-23 16:17] jdubois commented on #4756
Thanks, I might have a better solution than our current `target/www` hack, that would solve the issue.
But there's a lot to test: Gradle/Maven, AngularJS/Angular, dev and prod profiles...

[2016-12-23 16:24] deepu105 commented on #4407
@jhipster/developers I confirm the issue by @aldranvijay above. I'm gonna investigate this further

[2016-12-23 16:34] pascalgrimaud commented on #4407
@deepu105 : maybe you have the same screen because of spring boot 1.4.3. I revert to 1.4.2, and didn't manage to reproduce the issue reported from @aldranvijay

[2016-12-23 16:56] deepu105 commented on #4407
i can reproduce issue on master with both ng1 and ng2 so definetely something from backend. ill try reverting boot

[2016-12-23 16:58] deepu105 commented on #4756
ahhh. I didnt see this issue and wasted time analysing it coz I was on a branch without the revert

[2016-12-23 17:01] MathieuLorber opened #4759 "Can't launch newly generated app + 1 entity with last master"
##### Can't launch generated app with 1 entity since id generation refactor

I have a problem on current master (a409b6), on an empty project, the app stops to launch as soon as I create a (simple) entity.
It logs "Caused by: org.h2.jdbc.JdbcSQLException: Database is already closed". Suggested solutions to the problem don't work.
When I revert this patch, it's ok again => an empty project + 1 enti

[2016-12-23 17:09] MathieuLorber commented on #4759
first version of my repo doesn't reproduce the bug sorry =s

[2016-12-23 17:10] jdubois commented on #4759
Can you write a better title?

[2016-12-23 17:16] MathieuLorber commented on #4759
my repo is now ok : branch master works, branch issue fails

[2016-12-23 17:18] dacloutier commented on #4724
Well, as long as the parents are versioned, it didn't force the users into anything, and if they want to branch out of hipster then they could just extract the values for it.

The way the poms are built now, it's very hard to put custom stuff into the pom without it getting overridden during an update.

[2016-12-23 17:46] deepu105 commented on #4407
@sendilkumarn may be we could use the jhiPrefix option for this

[2016-12-23 18:26] SBoudrias commented on #4631
@jdubois the inheritance is still only JavaScript, so `utils.inherits` will still works. We only recommend using standard es6 classes from now on (`class extends Generator {}`); but we're still exporting a standard JS class you can extend in any way you prefer.

[2016-12-23 19:10] jdubois commented on #4631
OK, but still this is totally failing and I have no idea why.

[2016-12-23 19:28] SBoudrias commented on #4631
@jdubois oh, we changed the exports. before you had `

[code]

[2016-12-23 19:29] jdubois commented on #4631
OK I'll have another look during Christmas...

[2016-12-23 19:34] SBoudrias commented on #4631
@jdubois let me know if you hit any hurdles that are hard to overcome. I'm all in to help you update as easily as possible.

[2016-12-23 19:35] jdubois commented on #4631
Oh that's very kind of you!!

[2016-12-23 19:48] aldranvijay commented on #4407
Hi @deepu105 ,

After the application generation getting the following log :

[code]

[2016-12-23 20:02] mraible commented on #4753
+1 for Spring Security 4.2. They have a new feature that allows you to integrate systems like Stormpath w/o any code!

[2016-12-23 21:56] jdubois commented on #4756
I'm closing this as it's merged

[2016-12-23 21:56] #4756 closed

[2016-12-23 21:57] jdubois commented on #4753
OK let's try Spring Security 4.2, but I also want this for the 3.x maintenance branch, and I'll do a release for this

[2016-12-23 22:01] jdubois commented on #4759
oh, you're using the entity sub-generator with Angular 2, this is in active development, it can fail all the time... In fact I can't even generate it at the moment!!
So that's not surprising: either switch to AngularJS 1, or don't do entities with Angular 2. This should be stable very soon.

[2016-12-23 22:01] #4759 closed

[2016-12-23 22:02] #4218 closed

[2016-12-23 22:05] MathieuLorber commented on #4759
Ok !
Thank you.

[2016-12-23 22:12] jdubois commented on #4759
@MathieuLorber by the way the current issue was caused today, I'm currently correcting it, and I have your conf working right in front of me! Just wait for my next commit :-)

[2016-12-23 22:28] #4753 closed

[2016-12-23 22:39] deepu105 commented on #4407
thats normal.

Thanks & Regards,
Deepu

On Fri, Dec 23, 2016 at 8:48 PM, Ranvijay Singh <notifications@github.com>
wrote:

[2016-12-23 22:45] deepu105 commented on #4631
@jdubois Its doable and I did have some ideas on how to improve our base. I
would like to do this after our ng2 release. And I already migrated most of
the file writing into our own metadata format so upgrading to 1.0 should be
easy. The only tough part is that we use compose a lot and that too in ways
which yeoman has not documented. I think im partly to blame here. But i
would like to improve th

[2016-12-23 22:59] jdubois commented on #4631
OK... I just tried it again, and I just have no idea what I'm doing :-(

[2016-12-23 23:04] mraible commented on #4302
Figured it out after migrating another project to webpack 2 last week. I'll create a PR for the infrastructure.

[code]

[2016-12-24 02:49] sendilkumarn commented on #4407
@deepu105 I will do a PR this week.

[2016-12-24 11:07] deepu105 commented on #4631
Let me do it later :) I have already started something on a branch but
didnt proceed as I didnt have time

Thanks & Regards,
Deepu

On Fri, Dec 23, 2016 at 11:59 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-24 11:07] deepu105 commented on #4631
you can keep the ticket open so that I dont forget later

Thanks & Regards,
Deepu

On Sat, Dec 24, 2016 at 12:07 PM, Deepu K Sasidharan <d4udts@gmail.com>
wrote:

[2016-12-24 13:07] jdubois commented on #4631
OK, I pushed my current code to https://github.com/jhipster/generator-jhipster/tree/migration-to-yeoman-1.0 but this is clearly not working!

[2016-12-24 16:21] deepu105 commented on #4631
Ok ill take a look later

Thanks & regards,
Deepu

On 24 Dec 2016 2:07 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2016-12-24 17:16] jdubois opened #4762 "Refactor front-end packaging for Spring Boot 1.4.3"
This issue is necessary for migrating to Spring Boot 1.4.3, see #4756

We've set up quite a complex system to have our front-end build in `target/www`, which has a few drawbacks:

- It's quite complex, and as it's generated in `WebConfigurer` it's not very good for the end user
- This was done before we had "official" public folders in Spring Boot, and of course it's better to use those official f

[2016-12-24 18:23] sanketrk opened #4763 "[Feature] option to skip authentication"
##### **Overview of the issue**

I tried creating a jhipster app without user management but it still asks for login credentials. In spite of using --skip-user-management , the yo man still asks which is the authentication mechanism needed and on selecting one of the three, it generates code but fails to Login - as against the expectation that it should not even ask for logging-in.
##### **Motivat

[2016-12-24 20:15] deepu105 commented on #4763
The purpose of the flag is to skip the user management screen and not authentication. we do not provide an option to skip authentication hence this is not a bug but a feature request.
I'm not in favor of such an option as it ads additional maintenance burden for us. Anyway i'll leave the ticket open for other team members to add their opinion

[2016-12-24 23:12] jdubois commented on #4763
Yes, it just removes the user management code, not the security.
We don't have an option to remove the security: if you need such a basic setup, then either remove our security config (delete the security config bean), or don't use JHipster. If you don't want any UI or security, basically you have a very simple need, so go with Spring Initializer, which will basically just give you a very simple p

[2016-12-24 23:12] #4763 closed

[2016-12-25 01:06] delverdev opened #4764 "Second level cache works only with collections"
##### **Overview of the issue**

Second level cache works with collections, annotated with `@Cache`, but not with classes.

##### **Motivation for or Use Case**

`@Cache` annotations on classes become useless. Furthermore, all cache option too.

##### **Reproduce the error**

Login as admin into the application. You will see that two queries have sent (select user and select his authorities). Now

[2016-12-25 07:46] jdubois commented on #4764
This is because we select the user on his login, and not on his ID. 2nd level cache uses the primary key, it doesn't work on requests (or you need the SQL request cache, but that's a whole different story).
This is a design decision in JHipster: IDs are just technical keys. For example, on the user, that means you can change the login (not a technical key), but you can't change the ID.
Anyway, the

[2016-12-25 11:49] deepu105 commented on #4674
@jhipster/developers since we are moving backend stuff to a lib why not do the same for frontend libs as well? we have the perfect candidate for that (our translate loader, alert directive and some util services) I already have a package called `jhipster` in NPM and we can use that what do you think?

[2016-12-25 12:01] deepu105 commented on #4674
It will greatly simplify our ng2 shared directory (the above mentioned are stuff people would rarely change)

[2016-12-25 12:05] deepu105 commented on #4762
:+1: if we can reduce complexity but please note that we need to test below 18 cases

NG1: for both maven and gradle (12 cases)
- [ ] Test default bootrun
- [ ] Test default bootrun -Pprod
- [ ] Test package
- [ ] Test package -Pprod
- [ ] Test IDE run
- [ ] Test IDE run -Pprod

NG2: (the prod build is not complete anyway hence it can wait) for both maven/gradle so 6 cases
- [ ] Test default bootr

[2016-12-25 14:09] jdubois commented on #4764
Closing this as this is not a bug

[2016-12-25 14:09] #4764 closed

[2016-12-25 14:11] jdubois commented on #4674
Yes @deepu105 that was our original plan.
Now that means releases will be even more complex for us :-(
Can you move the "jhipster" project to the "jhipster" org? And yes I need to give you access to it.

[2016-12-25 14:12] jdubois commented on #4674
Oh sorry, I have the "jhipster" org, and "generator-jhipster" is still under my name, not in the org! I'm testing the migration

[2016-12-25 14:15] jdubois commented on #4674
Oh now I remember why we don't have an org, it costs $14 per month! That's really not nice... And then I'm pretty sure we will need to have paying accounts, etc... I'll send an email on the dev mailing list so we can discuss this.

[2016-12-25 15:43] deepu105 commented on #4674
I guess we dont have to tie releases together. We can release maven library
and npm library if there is any update done and add it to generator on next
release so practically it will like using any other third party lib.

I assume you are talking about NPM orgs. I guess we dont need to have orgs
we can add colloborators to the lib. Ill add you as collaborator to the
jhipster lib. On the github rep

[2016-12-25 16:13] jdubois commented on #4674
Yes but I'd like to have the same release numbers for the generator, the server and the client lib, so it's easier for people to understand. So basically they are tied.

[2016-12-25 16:28] deepu105 commented on #4674
@jdubois that would be difficult. Imagine we have a bugfix in just the generator then we would be needing to release the maven lib and angular lib un necessarily. I would rather keep separation of concerns and treat them like any other lib (like jhipster-core) we use so that they can have their individual release cycles and I'm sure that people are smart enough to know

[2016-12-25 16:31] deepu105 commented on #4674
Seems I'm not admin in the github org so can you please help to create a repo called `ng-jhipster` under our jhipster github org and make me an admin for it?