[2019-12-09 18:54] ruddell commented on #10902
I have reproduced this by generating a default app without `--skip-install`, then `.yo-rc.json` and `page-ribbon.component.ts` show staged changes.

Was not sure where this was coming from until now.  I usually generate my apps with `--skip-install`, which prevents this issue from happening.

Solution 1 is simple but could regress in the future if we don't upgrade `prettier` at the same time.  Wou

[2019-12-09 20:24] RobertMolenda opened #10903 "JDL enum creation cannot have CustomValues"
##### **Overview of the issue**

A clean project install and import of an enum with custom values will fail

##### **Motivation for or Use Case**

Documentation indicates it is a valid syntax to have

##### **Reproduce the error**

(windows commands)
mkdir newapplication
cd newapplication
jhipster
(take defaults)
mvnw
cntl-C after application starts

Add the JDL file (mentioned below) via:
jhipste

[2019-12-09 22:01] ArnauAregall commented on #10184
Thanks for sharing this!

I can also confirm the solution works for other browsers like `"ios": "9"`.

As @conquor pointed (thanks a lot!) changing all `ecma: 6` to `ecma: 5` settings on `webpack.prod.js` is mandatory to make it work on production builds, hence it would be great adding it to the tip page.

[2019-12-10 00:32] rhoiyds commented on #10003
I am currently experiencing this issue whilst following the [JHipster 6 introduction video ](https://youtu.be/uQqlO3IGpTU).
If I generate the JHipster project (selecting Elasticsearch for searching), in the final step of the tutorial when you deploy to Heroku - You receive the error message from the original post.
As stated, this seems to be because of a compatibility issue with indexing on Elasti

[2019-12-10 03:46] pmverma commented on #10887
I am not in favor of generating definition files from DB as

- It involves many steps including some manual, as you have outlined
- We can not have separate files for each entity which is easier to check and see
- We want to know in-prior what is going to be updated in the production database ( of course we can use dev db to check but above points still remain to consider)

[2019-12-10 08:04] kaidohallik commented on #10902
@ruddell, I guess that we can't run Prettier if install is not done (install is skipped), because then Prettier may not be installed yet.

After thinking more about that problem I believe that we should try to keep Prettier versions in generator and in generated projects in sync because:
* generation is faster without that additional step
* if user has some own custom files (not generated by JHips

[2019-12-10 08:23] kaidohallik opened #10905 "Prettier tabWitdh and files under .github/workflows"
##### **Overview of the issue**

If upgrading Prettier to 1.18.2 then to fix lint errors I was forced to execute `npm run lint-fix` and then I noticed that files under https://github.com/jhipster/generator-jhipster/tree/master/.github/workflows are indented with `tabWidth=2` (some sub elements are accidentally with 4 spaces) but `.prettierrc` states that `tabWidth=4`, should we reformat files unde

[2019-12-10 10:43] hdurix commented on #10641
I have been working on a project with prettier-java for 3 months so I want to share my experience using it.
We have quite a large code base: ~40k lines from an app initially generated with JHipster. We are using a pre-commit hook to run prettier. We are very happy with it: it helps a lot our team (~ 10 devs on the same app) to be consistent in our code (as we are used to in JavaScript projects).

[2019-12-10 11:07] mohamedzaki90 opened #10906 "Can't deploy jwt secured monolith because of unbound base64Secret"
##### **Overview of the issue**
When generating a sample app with jwt security option. the artifact of `mvnw -Pprod -DskipTests package` is not deployable and the following error appears in the console

[code]

##### **Motivation for or Use Case**
Can't use mvnw -Pprod -DskipTests package to package a deployable war for boxfuse

##### **Reproduce the error**
generate a sample monolith with jwt sec

[2019-12-10 12:27] gmarziou commented on #10906
Have you defined `base64-secret` property in your `application-prod.yml` ?

[2019-12-10 12:55] mohamedzaki90 commented on #10906
@gmarziou it's already defined but I just noticed that boxfuse use active profile: boxfuse
I then added a new application-boxfuse.yml with the jhipster properties section and this specific issue seems to be eliminated

[2019-12-10 13:52] mshima opened #10907 "Update yeoman-generator to 4.3.0 and yeoman-environment to 2.7.0"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

yeoman-generator 4.2.0 fix a bug that looses reference of `this` when running a function.
Workaround for this bug is to create a global variable.

Ex:
https://github.com/jhipster/generator-jhipster/blob/4642d12e299146a5506ae056f1329b7abbb7f776/generators/client/index.js#L30
https://github.com/jhipster/generator-jhipst

[2019-12-10 14:03] #10902 closed

[2019-12-10 15:42] gmarziou commented on #10906
Did you follow this guide? https://www.jhipster.tech/boxfuse/#deploying-to-aws-with-boxfuse

[2019-12-10 17:09] MathieuAA commented on #10903
The enum must have a name, you forgot to add one in your sample.
By the way, the error doesn't reflect what's in your sample...

[2019-12-10 17:10] MathieuAA commented on #10903
Check this example for instance:

[code]

[2019-12-10 17:20] RobertMolenda commented on #10903
Pasted the above directly into my jdl file and received:

    force src\main\webapp\app\entities\entity.module.ts
SyntaxError: ',' expected. (2:10)
  1 | export const enum EnvironmentType {

    |          ^
  3 |   DEV(development) = 'DEV(development)',
  4 |   INTEGRATION(integration) = 'INTEGRATION(integration)',
  5 |   PROD(production) = 'PROD(production)',
    at e (C:\Blazent\Source\jhipste

[2019-12-10 17:21] RobertMolenda commented on #10903
FYI:
npm --version prettier
6.13.1

[2019-12-10 17:27] MathieuAA commented on #10903
Seems like the generation isn't working. Let me check.

[2019-12-10 17:36] MathieuAA commented on #10903
Confirmed, working on it

[2019-12-10 21:08] mohamedzaki90 commented on #10906
Yes, which took so long to discover the exception after creating the required instances.
Currently, I'm trying to run locally by following https://boxfuse.com/getstarted/jhipster.
Although I managed to resolve that specific issue by creating boxfuse profile, I'm not sure if this is the solution.
Running `boxfuse run -env=Prod` runs on aws.

I'm just wondering that nothing mentioned about that in t

[2019-12-10 22:10] mraible commented on #10189
@joewhite101 Can you please provide the steps necessary to try out your blueprint? I'd like to take a look and try it.

Related: I stumbled across <https://github.com/eavichay/microfronts> today. Seems lean and mean, but also pretty new.

[2019-12-10 22:25] MathieuAA commented on #10189
@mraible if you try microfronts, keep us posted! I, too, found my way to the repo. Unfortunately I haven't had the time to dive into it.

[2019-12-10 22:33] MathieuAA commented on #10903
This was a pain in the ass, but I think I've fixed this bug (https://github.com/MathieuAA/generator-jhipster/tree/fix/10903).
I'll polish and finish it tomorrow.

Thanks again for reporting it.

[2019-12-11 12:14] Kelvijn commented on #10884
Hmm I see, did you make customer a required field?

[2019-12-11 13:08] DanielFran commented on #10003
@rhoiyds Actually Spring-boot 2.2 is only managing ES till version 6.8.5, so there is no way using spring-boot for now to use ES 7+.

[2019-12-11 15:17] gmarziou commented on #10906
I guess it's something to ask BoxFuse, their guide does not mention any publication date so maybe they need to update it, have you contacted them?

[2019-12-11 16:22] atomfrede commented on #10189
Microfronts looks a lot like zalandos approach with tailor but done in the frontend, very interesting.  Need to find some time to complete the prototype with project Mosaic/tailor

[2019-12-11 16:51] PierreBesson opened #10913 "[FEATURE] Provide a companion sidecar app for administrators to manage JHipster apps"
##### **Overview of the feature request**

Following a [discussion on the mailing list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/w-7tXPnIjlE/2d8rbvEZBQAJ), an RFC must be written to detail the specification for the future JHipster Companion App (temporary name).

-   [X] Checking this box is mandatory (this is just to show you read everything)

[2019-12-11 19:37] SudharakaP commented on #10860
Just for the purpose of statistics/poll, I am using Intellij IDEA Ultimate both for front and back end. :smile:

[2019-12-11 21:15] #10903 closed

[2019-12-11 22:03] AlexandreCassagne opened #10916 "Hazelcast Discovery on Startup Not Adequate"
##### **Overview of the issue**

Sometimes, when starting instances simultaneously, services fail to discover each other and so several Hazelcast clusters are created and never merge. One piece of evidence to prove this is that all the different instances Hazelcast log include:

[code]

All of the other instances show a similar cluster size and this never gets updated. Another hint that this is ha

[2019-12-12 09:48] joewhite101 commented on #10189
Hey @mraible, @MathieuAA and @atomfrede, and others,

Here are some intro instructions and links. We're also working to keep the READMEs up to date and the generator itself creates a README inside of the generated MFEs. Refer to those as this post ages for more up to date instructions.

A quick summary of where we are at now is at the bottom. Some of the work here is related to things we have spec

[2019-12-12 10:56] joewhite101 commented on #10189
You can also follow along with our work in progress for our general docs updates here with instructions that are more nicely formatted. The general steps are the same but there is additional focus outside of the MFEs

https://es-entando.github.io/build-your-first-app/#entando-blueprint

[2019-12-12 12:51] wmarques commented on #10905
I would vote to switch the github workflow to match with the prettier config.

[2019-12-12 17:06] ruddell commented on #10916
There is a related issue https://github.com/jhipster/generator-jhipster/issues/9521 but not enough info was provided there.

Here are steps to reproduce locally through Docker with just the Registry and a Monolith (no database or client).  I wrote these up a while ago but then suddenly couldn't reproduce it.  It seems to happen more often with a new Registry container

<details>
<summary>.yo-rc.js

[2019-12-12 18:33] MathieuAA commented on #10903
Thank you @wmarques

[2019-12-12 18:33] AlexandreCassagne commented on #10916
@ruddell Thanks for the minimal example, when you say it happens more often with a new Registry container, what do you mean?

[2019-12-12 18:53] ruddell opened #10922 "Exported Application JDL fails to Import"
##### **Overview of the issue**
JDL exported by an app should be able to be imported.

This issue can be moved to `jhipster-core` if the issue is there.

##### **Reproduce the error**
Copy the below `.yo-rc.json` into a folder and export the app JDL
- `jhipster export-jdl`

Try to import the exported JDL
- `jhipster import-jdl mono.jdl`

Fails with:
[code]

##### **Suggest a Fix**
Not sure

#####

[2019-12-12 19:15] MathieuAA commented on #10922
Thanks for reporting this Jon, I'll investigate

[2019-12-12 19:40] ruddell commented on #10916
If I recreate the entire stack this issue happens more consistently.  When restarting just the mono containers, sometimes they find each other on startup.

[2019-12-13 00:44] AlexandreCassagne commented on #10916
Interesting. I haven’t noticed that, it’s consistent even without touching the registries.

[2019-12-13 01:08] gmarziou commented on #10916
I experienced similar issue with Hazelcast and Eureka service discovery. I got it working by replacing JHipster's code using Eureka to join Hazelcast cluster by code using hazelcast-eureka-one.

So, using hazelcast-kubernetes might help too in your case.

[2019-12-13 02:21] SudharakaP opened #10923 "Add [skip ci] and [ci skip] for GitHub CI"
##### **Overview of the issue**

An idea I got after reading the following conversation by @pascalgrimaud and @deepu105; https://github.com/jhipster/generator-jhipster/pull/10920#issuecomment-565118390

Currently it seems that when a commit is made, keywords such as [skip ci] and [ci skip] is not honored by the Github CI builds. Now the Azure builds [do follow them](https://docs.microsoft.com/en-u

[2019-12-13 02:26] SudharakaP commented on #10923
If this is all in agreement; I can go ahead and add this to our other repositories as well. Let me know. :smile:

[2019-12-13 05:39] pascalgrimaud commented on #10923
FYI, I didn't migrate the other repo to GitHub Actions yet, but yes, this change should be included by default to all our CI

[2019-12-13 05:41] pascalgrimaud commented on #10916
I'm adding a bounty on this, as it seems to be a real bug

[2019-12-13 05:45] SudharakaP commented on #10923
@pascalgrimaud : Okay when we do migrate we'll add it. I was also wondering, shall we add this to our README file as well? :thinking:

[2019-12-13 06:51] deepu105 commented on #10923
Yes we can

On Fri, 13 Dec 2019, 6:45 am Sudharaka Palamakumbura, <
notifications@github.com> wrote:

[2019-12-13 07:45] #10923 closed

[2019-12-13 08:00] jdubois commented on #10916
Yes this important, and it's logical we have this kind of issue.
I'm currently working with the Hazelcast team (for my "real" work!!) - for the record, I'm having a look at https://github.com/hazelcast/hazelcast-azure so maybe I can find some idea.

Not sure we can easily find a generic solution.

[2019-12-13 08:16] miroslavvojtus opened #10927 "Subgenerator CI/CD fails with SyntaxError referring repeaded Map key "dispalyName""
##### **Overview of the issue**

If I try to do `jhipster ci-cd` for Azure Pipelines it fails

[code]

##### **Motivation for or Use Case**

Well, I can not generate Azure CI-CD pipelines.

##### **Reproduce the error**

1. Generate simple frontend only project `jhipster --skip-server`
1. Execute `jhipster ci-cd`
1. Choose Azure Pipelines

##### **JHipster Version(s)**

[code]

##### **JHipster co

[2019-12-13 08:43] qmonmert commented on #10884
@Kelvijn you updated the front (react) after that you generate the entity ?

[2019-12-13 09:44] gmarziou commented on #10916
In the case of Eureka, I am using metadata for host and port and I think that the main difference is in the way cluster join is hooked to Spring events. I followed the [Hazelcast sample](https://github.com/hazelcast/hazelcast-code-samples/blob/master/hazelcast-integration/eureka/springboot-embedded/hazelcast-metadata/src/main/java/com/hazelcast/samples/eureka/Application.java#L21) that injects an

[2019-12-13 10:02] andreasfranz opened #10928 "Handling of SASS files"
##### **Overview of the feature request**

I would like to suggest some small improvements. When using JHipster with SASS support enabled (`"useSass": true` in .yo.rc file) .scss files are generated to `src/main/wepapp/content.`

The .scss files are bundled to the production artifact and are also accessible in a production environment. (e.g. http://localhost/content/scss/global.scss)

Maybe it wou

[2019-12-13 10:33] andreasfranz opened #10929 "YARN process crashes after adding a new angular module to the project"
##### **Overview of the issue**

The yarn process sometimes stops working when adding a new angular module.

##### **Motivation for or Use Case**

During development it is annoying to restart the yarn process after it crashed.

##### **Reproduce the error**

Unfortunately it is a bug that just happens from time to time. Maybe it' a race conditions or unhandled in the `@typescript-eslint/eslint-plu

[2019-12-13 10:40] andreasfranz opened #10930 "Update ng-bootstrap"
##### **Overview of the feature request**

The latest bugfix releases introduced various bugfixes (see https://github.com/ng-bootstrap/ng-bootstrap/blob/master/CHANGELOG.md)

##### **Motivation for or Use Case**

There are various bug fixes including a lot of improvements regarding modal popups that affect our project.

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this i

[2019-12-13 11:19] ChainlessWEB opened #10931 "Angular - Pagination - Default input for pageChange event has weird behavior"
##### **Overview of the issue**
I apologize if this is already tracked.
Very quickly, the default ngb-pagination component jhipster generates is builded with the following configuration:

[code]

Now what happen is that the `pageChange` event sends to `loadPage` the current page **before** the change. This means that if I am on page 1 and I try to navigate to page 2 I will still see page 1. Then i

[2019-12-13 12:14] egiovanni85 commented on #1598
For this problem use Dto * and add Swagger-ui dependenies  in the pom.xml file, after this you can find the documentation on http://localhost:8080/swagger-ui.html#/

I found this solution by myself but now all my team use it.

		<dependency>
		    <groupId>io.springfox</groupId>
		    <artifactId>springfox-swagger-ui</artifactId>
		    <version>2.9.2</version>
		</dependency>
		<dependency>

[2019-12-13 12:33] gmarziou commented on #1598
@egiovanni85 you're commenting a 4 years-old issue !

Anyway, the 2 dependencies you're referring to are only about presentation (html, css, ...) so I can't understand how this could boost up application startup time. More, JHipster uses its own version of swagger-ui/index.html because springfox-swagger-ui does not cover our needs in particular for authentication.

[2019-12-13 14:18] Code7Bit commented on #10875
just generated a microservice and its still an issu cant find dependecy mssql

[2019-12-13 14:21] vishal423 commented on #10875
@Code7Bit, this should be fixed in the next release. In the meantime, you can manually downgrade dependency to lower version as suggested in fix.

[2019-12-13 14:22] gmarziou commented on #10875
@Code7Bit have you generated using the master branch of the generator? Because the fix from Daniel has not been released yet, so version 6.5.1 does not include it.

[2019-12-13 14:50] SudharakaP commented on #10927
I've recreated this error. Investigating; seems like something related to prettier. This not only effects this sub-generator but also other sub-generators I believe. For example use the gae sub-generator and a similar error appears.

[code]

[2019-12-13 15:32] rodrigorodrigues opened #10933 "Npm build failing with Docker"
##### **Overview of the issue**

I'm trying to build a react front-end web app with Docker but it's failing when run command `npm run webpack:build`, following docker output:

	ERROR in /usr/src/app/src/main/webapp/app/routes.tsx
	ERROR in /usr/src/app/src/main/webapp/app/routes.tsx(39,35):
	TS2322: Type 'typeof LoadableComponent' is not assignable to type 'ComponentClass<any, any> | FunctionCompo

[2019-12-13 15:34] kaidohallik commented on #10927
Problem is that if skipping server then `buildTool` is not defined.

So https://github.com/jhipster/generator-jhipster/blob/master/generators/ci-cd/templates/azure-pipelines.yml.ejs#L69-L73 doesn't generate script part - maybe use `npm`/`yarn` directly here instead of doing that via `gradle`/`maven`?

And https://github.com/jhipster/generator-jhipster/blob/master/generators/ci-cd/templates/azure-p

[2019-12-13 15:43] SudharakaP commented on #10927
@kaidohallik : But I was wondering aren't we supposed to ignore the template files as per; https://github.com/jhipster/generator-jhipster/blob/master/.prettierignore and therefore these files shouldn't even be parse by prettier? :thinking:

[2019-12-13 17:23] ruddell commented on #10929
This should be fixed by https://github.com/jhipster/generator-jhipster/pull/10798, which is part of v6.5.1.

Can you confirm?  Or do you have a specific error message?

[2019-12-13 17:42] ruddell commented on #10933
I could not reproduce this on v6.3.1 or master.

Can you please fill out the rest of the issue template?  That will enable us to use the same config you do, the issue could relate to your prompt choices.

[2019-12-13 17:47] ruddell commented on #10927
@SudharakaP We ignore the templates folder when running prettier on the generator, but we pass each template file through prettier during generation: https://github.com/jhipster/generator-jhipster/blob/ba88f1424ddffd08589377a1dba9e432ceaa8a0b/generators/generator-base-private.js#L1502-L1511

[2019-12-13 17:57] SudharakaP commented on #10927
@ruddell : Ah thanks, got it. 😄

Let me do a fix for this in the evening. If anyone wants to do it before that feel free to take it. 😄

[2019-12-13 17:59] ruddell opened #10934 "--skip-server does not log error message on failure"
##### **Overview of the issue**
Running `jhipster --skip-server` only prompts for the baseName of the application, then exits silently without any message.  Previously (v6.5.1 and before), it would exit with an error message:
[code]

##### **Motivation for or Use Case**
Error messages should display as expected

##### **Reproduce the error**
Run `jhipster --skip-server` and answer the baseName pro

[2019-12-13 18:59] hanoisteve commented on #10770
So how would I create my own url for liveness and readiness probe that does not require authentication? Right now I am getting connection refused: I will add the error here since the specific error message was not mentioned above doing a describe on the deployment I see:
 Readiness probe failed: Get http://192.xyz.yyy.155:8080/management/health: dial tcp 192.xyz.yyy.155:8080: connect: connection r

[2019-12-13 19:24] rodrigorodrigues commented on #10933
Thanks for your reply @ruddell have added more information about it.

[2019-12-13 19:54] pascalgrimaud commented on #10678
Adding a bounty on this, as it's a bug

[2019-12-13 19:55] pascalgrimaud commented on #10934
Adding a bounty on this, as it's a bug

[2019-12-13 19:57] pascalgrimaud commented on #10862
Maybe it's easy to do, maybe not, but it will require some testing.
That's why I'm adding a bounty on this, as it's important to upgrade to Keycloak 8.0.1

[2019-12-13 20:00] pascalgrimaud commented on #10927
Just added the label bug as @SudharakaP managed to reproduce the issue
And adding a bounty, as it's a bug

[2019-12-13 20:04] pascalgrimaud commented on #10930
@andreasfranz : can you propose a PR with this upgrade this plz ?

[2019-12-13 20:05] pascalgrimaud commented on #10929
I'm closing this as I think it's solved.
Don't hesitate to reopen and provide more information if it's not the case

[2019-12-13 20:05] #10929 closed

[2019-12-13 20:10] pascalgrimaud commented on #10898
@mohamedzaki90 : would you like to submit a PR with your proposal plz ?

[2019-12-13 20:42] cbornet commented on #7608
Yes we can define what we want for a GA. For instance, do you think SQL support is mandatory ?

[2019-12-13 21:25] mraible commented on #7608
If it's easy to integrate R2DBC, then yes.

[2019-12-13 23:31] bradsheppard commented on #10927
@SudharakaP I can take this one if no one else has it. Would be a nice one to get some initial exposure :)

[2019-12-13 23:41] SudharakaP commented on #10927
@bradsheppard : Hey Brad. By all means go ahead. Thanks for contributing. 😄 😄

[2019-12-13 23:44] Mbegu180 commented on #6032
ok

On Fri, Nov 8, 2019 at 5:26 AM Yahya Elharony <notifications@github.com>
wrote:

[2019-12-14 03:01] ruddell commented on #10933
Thank you for providing all that information.

It has something to do with how you copy the `node_modules` folder then install only the production dependencies.

One possible fix is to remove the `COPY node_modules .` line and remove the `--only=production` flag from your `npm install` command.  Adding a `.dockerignore` for `node_modules` will drastically speed up your build, you're currently copy

[2019-12-14 03:01] #10933 closed

[2019-12-14 08:19] andreasfranz commented on #10929
@pascalgrimaud thanks for the quick reply that was the exact issue.

[2019-12-14 08:25] pascalgrimaud commented on #10887
Adding a bounty on this, as it requires some time and analyze to find a good solution

[2019-12-14 08:27] pascalgrimaud commented on #10885
Closing this in favor of https://github.com/jhipster/generator-jhipster/issues/10887, as there are more comments thereu
If I'm wrong, don't hesitate to tell me

[2019-12-14 08:27] #10885 closed

[2019-12-14 10:32] #10930 closed

[2019-12-14 10:40] vishal423 commented on #10862
I will take this

[2019-12-14 11:47] DanielFran commented on #10691
Note: https://github.com/jhipster/generator-jhipster/pull/10497 can be reverted with this upgrade.

[2019-12-14 11:52] DanielFran commented on #10691
Ping @srinivasa-vasu

[2019-12-14 14:58] rodrigorodrigues commented on #10933
Thanks for your help @ruddell you are absolute right just removed `COPY node_modules` line and it worked.

[2019-12-14 17:10] unikzforce opened #10943 "Do We have any plan for Quarkus?"
##### **Overview of the feature request**

Can you please have a look at the RedHats' Quarkus project?
[Quarkus.io](http://www.quarkus.io) seems to be very promising.

AOT, high speed , and native stuff is promised when using quarkus+graalvm

##### **Motivation for or Use Case**

It meens that lighter and faster java. So java is no more Cold Start monster anymore.

##### **Related issues or PR**

[2019-12-14 17:20] atomfrede commented on #10943
We are already in contact with the quarkus team as far as I know. Currently we are waiting for a reference application we can use to create a blueprint and the templates.

[2019-12-14 17:21] unikzforce commented on #10943
Awesome, So, I'll just close this one

[2019-12-14 17:21] #10943 closed

[2019-12-14 17:24] qmonmert commented on #10678
@pascalgrimaud I'm working on this bug, I'll do a PR on the https://github.com/jhipster/react-jhipster lib

[2019-12-14 17:44] SudharakaP commented on #10931
@ChainlessWEB : Hi, thanks for the report. :smile:

I tried to recreate this issue generating the project with the exact same entities but I couldn't see any problem with the pagination. Here's a screen-cast. Are you seeing something different?

![Peek 2019-12-14 09-36](https://user-images.githubusercontent.com/12435965/70852439-3eed9600-1e56-11ea-9a20-c1eeac9be7c8.gif)

[2019-12-14 18:35] SudharakaP commented on #10934
So I analyzed this issue and I think the following lines,

https://github.com/jhipster/generator-jhipster/blob/ba88f1424ddffd08589377a1dba9e432ceaa8a0b/cli/cli.js#L45-L47

have a problem. It tells node to end abruptly which is not necessary it seems (Refer: https://nodejs.org/api/process.html#process_process_exit_code). We can instead set the `process.exitCode` there. I've created a PR for this. L

[2019-12-14 18:51] qmonmert commented on #10678
@pascalgrimaud PR on the lib https://github.com/jhipster/react-jhipster/pull/38

[2019-12-14 19:05] #10934 closed

[2019-12-14 21:16] mshima commented on #10934
Thank you @SudharakaP for finding this.
This makes getExitCode and setExitCode useless.
https://github.com/jhipster/generator-jhipster/pull/10946

I think blueprints has the same problem with:
https://github.com/jhipster/generator-jhipster/blob/e362242b0f750f04867fb2e087f1911af84e548b/cli/run-yeoman-process.js#L31-L33

[2019-12-15 02:18] GrenardAntoine opened #10947 "Cannot find symbols on QueryServices"
I am trying to implement some filtering with my jhipster project.
I've added   "jpaMetamodelFiltering": true to some of my entities and generated them again.

The problem is that I get now a lot of theses errors :

[code]

The json used to generate the Service :

[code]

[2019-12-15 03:05] SudharakaP commented on #10934
@mshima : Thanks for cleaning it up. :smile: Please feel free to claim the bug bounty as you did most work. :smile:

I've done another PR to remove all explicit calls to process exit. Let me know if you guys see any issues. :smile:

[2019-12-15 08:31] #10862 closed

[2019-12-15 10:24] #10927 closed

[2019-12-15 11:01] #10947 closed

[2019-12-15 11:02] GrenardAntoine commented on #10947
When I was launching mvnw hidden in the middle of a thousands of "cannot find symbol" errors there was others errors (forgot to generate one of the classes).

When I resolved theses ones the "cannot find symbol" errors disappeared.

[2019-12-15 11:10] mshima commented on #10934
@SudharakaP : The bounty is yours. I introduced the bug (https://github.com/jhipster/generator-jhipster/pull/10727) at first place :disappointed:.

That PR fixed a bug were IT tests was failing at E2E step, but import-jdl was to blame.

[2019-12-15 11:14] mshima commented on #10934
@pascalgrimaud I think https://github.com/jhipster/generator-jhipster/pull/10948 is not safe.

log.error forces jhipster to quit. without process.exit() this will not happen.

[2019-12-15 11:16] pascalgrimaud commented on #10934
@mshima : you know this part better than me. If you can fix it, it would be nice !

[2019-12-15 11:30] mshima commented on #10934
@pascalgrimaud : this is not a regression, so I think it should be reverted for 6.6.0.
This is not easy to test.

[2019-12-15 11:43] ChainlessWEB commented on #10931
Mmm... I created a new entity and it has no problems. Then I rolled back the tag component but the bug is still there if I do not set the $event as input. Now I'm going to delete and recreate the entity entirely and let you know

[2019-12-15 13:12] SudharakaP commented on #10934
@pascalgrimaud @mshima  : Sorry about that. Please merge the reversion (#10951) for now. Let me think of a way to handle this more cleanly. 🤔

[2019-12-15 14:01] ChainlessWEB commented on #10931
Well I didn’t find any explanation for the problem but if I recreate the entity the bug is gone. I’m going to close this issue but if I’ll go through this again, I’ll reopen the issue so we can investigate deeper. Thank you for your time 🙏🏼

[2019-12-15 14:32] SudharakaP commented on #10931
@ChainlessWEB : Yes, feel free to let us know if you find this consistently reoccurring. We'd be happy to investigate. :smile:

[2019-12-15 15:56] pascalgrimaud commented on #10931
@ChainlessWEB : don't hesitate to share a project on GitHub, it's easier to reproduce the issue :)

[2019-12-15 17:02] qmonmert commented on #10884
@Kelvijn if you add "required" like this :
`AvInput id="car-owner" type="select" required`
no default value is selected

![image](https://user-images.githubusercontent.com/9989211/70866036-d0e3c480-1f64-11ea-8758-b7d1b6a7be6f.png)

cc @pascalgrimaud

[2019-12-15 17:41] pascalgrimaud commented on #10884
Let's close this as I don't see any issue here, until we have more feedback or steps to reproduce

[2019-12-15 17:41] #10884 closed

[2019-12-15 18:25] qmonmert commented on #10831
Hey @jdubois I do a PR for that https://github.com/jhipster/generator-jhipster/pull/10953

[2019-12-15 19:47] pascalgrimaud commented on #10831
Closed by https://github.com/jhipster/generator-jhipster/pull/10953

[2019-12-15 19:47] #10831 closed

[2019-12-15 20:00] pascalgrimaud commented on #10575
I'm adding the label `7.x`.
Not sure @sahbi-ktifa can take care of this.
@nonomoho : as already discussed, do you want take the lead on this ?
The goal would be to try to keep git history, so we won't lost the additional contributors

[2019-12-15 20:14] bradsheppard commented on #10769
I can take a look here, if no one else currently has it :)

[2019-12-15 20:37] pascalgrimaud commented on #10769
it's opened since 1 month and no one commented it, so go ahead @bradsheppard !

[2019-12-16 01:45] SudharakaP commented on #10671
@amirdt22 : Are you still on this? I can add this one back if you'd like :smile:

[2019-12-16 02:46] #10362 closed

[2019-12-16 03:13] SudharakaP commented on #10749
@Tonterias : FYI, #10420 is merged and will be available in the next release.

[2019-12-16 05:19] kaidohallik commented on #10931
I looked at that and I leave this comment with my findings.

I see the following in the code
[code]
* `[(page)]="page"` - if `ngb-pagination` variable `page` is changing then entity component variable `page` is set to that value
* `(pageChange)="loadPage(page)` - `loadPage` is getting parameter `page` which is set by `[(page)]="page"`

Maybe sometimes is `(pageChange)="loadPage(page)` executed bef

[2019-12-16 05:36] SudharakaP commented on #10931
@kaidohallik : Thanks for the analysis. I wonder what triggers it though; since when the user regenerated the entity the bug seems to have vanished. And I couldn't recreate it at all at my end. :thinking:

[2019-12-16 05:39] kaidohallik commented on #10931
@SudharakaP, I wasn't able to reproduce neither but current code seems suspicious. I'm reopening this issue and try to fix problems I found.

[2019-12-16 07:22] vishal423 commented on #10927
We also need to do similar fix on the github ci template. I will spend some time today / tomorrow to fix that.

[2019-12-16 09:08] ChainlessWEB commented on #10931
By the way, combining search and pagination brings some inconsistencies with it. The search method navigate with params but the pagination is working with query params. I customised a bit my code using query params on search and clear method:

tag.component.ts
[code]

tag.component.html:
[code]

I still have some problem on the page reload. The pagination component is stuck on page 1 but I'm check

[2019-12-16 09:31] ChainlessWEB commented on #10931
I can confirm that on reload after a search action, which sets the url as something like
`http://localhost:9000/tag;search=home;page=0;sort=id,asc`
the parameters are not found obv.
Instead using a url with query params like
`http://localhost:9000/tag?page=2&size=3&search=&sort=id,asc`
it is working fine

[2019-12-16 10:52] deepu105 opened #10958 "Roadmap to v7"
# Roadmap to v7

This ticket lists out ideas and plans for v7. Items here may or may not make to v7, but this ticket will help to provide an overview of what is being planned

## Breaking changes

- [x] Remove dirty keys in i18n JSON files and cleanup translation logic in libs(https://github.com/jhipster/react-jhipster/pull/38)
- [x] JHipster sidecar app (https://github.com/jhipster/generator-jhip

[2019-12-16 10:56] deepu105 commented on #10958
@jhipster/developers please update this ticket to add what you would like to see in v7

[2019-12-16 11:21] DanielFran commented on #10931
@ChainlessWEB Can you test with the changes proposed in https://github.com/jhipster/generator-jhipster/pull/10959

[2019-12-16 11:32] kaidohallik commented on #10931
I made PR #10959 to handle problems and suspicions described in https://github.com/jhipster/generator-jhipster/issues/10931#issuecomment-565909336

#10959 generates the following component files:

<details>
<summary>tag.component.ts file</summary>

<pre>
import { Component, OnInit, OnDestroy } from '@angular/core';
import { HttpHeaders, HttpResponse } from '@angular/common/http';
import { Activate

[2019-12-16 11:49] ChainlessWEB commented on #10931
`(res: HttpResponse)` is missing the type.
Now I'm testing the behaviour but I think the `ITEMS_PER_PAGE `constant would be useful

[2019-12-16 11:53] kaidohallik commented on #10931
Sorry, I tested and replaced `itemsPerPage = ITEMS_PER_PAGE;` with `itemsPerPage = 2;` - you can put wanted page size here instead of 2.

[2019-12-16 11:54] kaidohallik commented on #10931
You can also checkout this branch and generate new app with this branch.

[2019-12-16 11:55] ChainlessWEB commented on #10931
Already tested. It looks pretty good

[2019-12-16 11:55] ChainlessWEB commented on #10931
Yes I was thinking about having it as default in the generator itself

[2019-12-16 13:02] mshima opened #10963 "Remove process.exit uses."
##### **Overview of the feature request**

Remove process.exit uses and handle process shutdown cleanly.

##### **Motivation for or Use Case**

Node.js process.exit is not recommended because it has side effects https://nodejs.org/api/process.html#process_process_exit_code.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/issues/10934
https://github.com/jhipster/gene

[2019-12-16 13:09] gmarziou commented on #10958
What would be the default serviceDiscovery?

[2019-12-16 13:17] kaidohallik opened #10964 "App with session authentication can infinite loop if server responses inadequately"
##### **Overview of the issue**

If using session authentication and in some reason server responses in logout endpoint with HTTP error 401 then `auth-expired.interceptor` runs to infinite loop which causes browser crash.

##### **Motivation for or Use Case**

Client application should survive server inadequate responses. Just in case...

##### **Reproduce the error**

I was able to reproduce this

[2019-12-16 13:22] deepu105 commented on #10958
@gmarziou I think it should still be no as a simple project shouldn't need service discovery

[2019-12-16 13:38] jdubois opened #10965 "Migrate "DefaultProfileUtil" to the JHipster framework"
There is no need to generate the `DefaultProfileUtil` class, let's move it to the JHipster framework.

[2019-12-16 14:29] begbegin commented on #10958
New features
Add ng material
Add Flutter

[2019-12-16 14:47] xetys commented on #10958
I suggest a thing called side-by-side sub-generator. I'll give more details soon

[2019-12-16 14:50] begbegin commented on #10958
Thanks

Le lun. 16 déc. 2019 à 14:47, David Steiman <notifications@github.com> a
écrit :

[2019-12-16 15:05] wmarques commented on #10958
@begbegin anything else ? ☕️

[2019-12-16 15:11] deepu105 commented on #10958
@begbegin sorry but we won't be adding those as its not in our roadmap

[2019-12-16 15:26] xetys commented on #10958
I opened a discussion on SBS on our group. As soon there is consensus, there should be an RFC to the SBS-sub-gen (or the removal of my taks above)

Another topic I see is some development on our UAA support, such as:

- moving most generated UAA code to the JHipster library, as it uncommonly changed in code, in detail:
  - the `@AuthorizedXXXFeignClient` annotation with their configurations
  - th

[2019-12-16 15:49] pascalgrimaud commented on #10958
I think we have a lot of ideas here, but we should focus on:
- if it's a breaking change, it should go to v7
- if it's a big feature without breaking change, it could be done during v6 or v7
- there is no ETA but we tried to do a major release each year, so we can try to publish a release between february to june 2020

And if a feature can go into module, I'd prefer this solution, instead of integ

[2019-12-16 16:24] deepu105 commented on #10958
Agree 100% with Pascal

Thanks & Regards,
Deepu

On Mon, Dec 16, 2019 at 4:49 PM Pascal Grimaud <notifications@github.com>
wrote:

[2019-12-16 16:39] deepu105 commented on #7966
We really need this as GitHub is now always giving a moderate sev security vulnerability for Swagger UI

![image](https://user-images.githubusercontent.com/1107223/70925077-ee7b6180-202a-11ea-9e17-2e28249c4541.png)

[2019-12-16 16:40] PierreBesson commented on #7966
Which is complete bullshit :angry: as using swagger ui v2 does not constitute a security vulnerability.

[2019-12-16 16:40] jdubois opened #10966 "Migrate "RandomUtil" to the JHipster framework"
"RandomUtil" shouldn't be generated:

- it doesn't provide any specific value to modify it
- last time we had a security issue on it, it would have been better for everyone if it had been in the framework (it would have been just a version update)

So I want to migrate it to the JHipster Framework.

[2019-12-16 16:45] ruddell opened #10967 "docker-compose subgenerator sets port to 80, but maps 8080"
##### **Overview of the issue**
The monolith `docker-compose.yml` generated by `jhipster docker-compose` has conflicting configuration for ports.  It maps ports `8080:8080` but also sets `SERVER_PORT=80`

##### **Motivation for or Use Case**
The generated configuration should work out-of-the-box

##### **Reproduce the error**
- Generate monolithic app
- Run `jhipster docker-compose` and choose you

[2019-12-16 18:17] SudharakaP commented on #10934
@mshima : Since you are doing most of the `process.exit` bug fixes, I think we should at least split this bounty.

I am claiming half of it. Feel free to take the other half. 😄

[2019-12-16 18:17] SudharakaP commented on #10934
Bug bounty claimed at; https://opencollective.com/generator-jhipster/expenses/12444

[2019-12-16 18:30] begbegin commented on #10958
Making elasticsearch as primary database

[2019-12-16 18:44] PierreBesson commented on #10967
Please don't set the port to 80, this cannot work locally on Linux for regular users as port < 1024 require root.

[2019-12-16 19:00] atomfrede commented on #10958
I would not do that. Elastic is a *searchengine* and therefore not suited to be primary datastore imho.

My points I would like to see:

* Neo4j support (which can be done in the 6.x release when we have boot 2.2 support)
* Having a modular package structure in the backend which follows [modulith approach](https://github.com/odrotbohm/moduliths)
* Using debezium for writing into multiple datastore

[2019-12-16 19:03] gmarziou commented on #10958
+1

+1

[2019-12-16 19:06] PierreBesson commented on #10958
I have added modulith and "server side packaging by feature" to the list.

[2019-12-16 19:07] PierreBesson commented on #10958
@atomfrede Maybe we could also introduce more arch-unit tests ?

[2019-12-16 19:09] atomfrede commented on #10958
@pascalgrimaud Maybe some more would be nice, but when we have full moduliths support we will have automated tests for the package structure out of box (based in arch unit rules under the hood).

[2019-12-16 19:45] deepu105 commented on #7966
Indeed its bullshit, but its making our apps look bad and many would think
that the generated apps are not secure by default

On Mon, 16 Dec 2019, 5:40 pm Pierre Besson, <notifications@github.com>
wrote:

[2019-12-16 19:49] qmonmert commented on #10678
I claim my money :) https://opencollective.com/generator-jhipster/expenses/12457

[2019-12-16 19:54] pascalgrimaud commented on #10678
we can close it, it will be in the next release of react-jhipster
Thanks @qmonmert

[2019-12-16 19:54] #10678 closed

[2019-12-16 19:56] qmonmert commented on #10678
Thanks @pascalgrimaud happy to help :)

[2019-12-16 21:19] begbegin commented on #10958
Thanks

[2019-12-16 22:22] atomfrede commented on #10958
And of course we should decide and maybe implement a microfrontend solution which helps to scale teams building a Microservice environment such that the teams stay as independent as possible

[2019-12-16 23:52] skmaingi opened #10969 "Missing spring-boot plugin 2.1.10.RELEASE"
##### **Overview of the issue**

[INFO] Scanning for projects...
[WARNING] The POM for org.springframework.boot:spring-boot-maven-plugin:jar:2.1.10.RELEASE is missing, no dependency information available
[WARNING] Failed to retrieve plugin descriptor for org.springframework.boot:spring-boot-maven-plugin:2.1.10.RELEASE: Plugin org.springframework.boot:spring-boot-maven-plugin:2.1.10.RELEASE or one

[2019-12-17 04:41] vishal423 commented on #10969
It's most likely an issue with corrupt download. You can remove directory `~/.m2/repository/org/springframework/boot/spring-boot-maven-plugin/` from local maven repository and try again.

[2019-12-17 06:49] poolebu opened #10970 "Import of JDL exported with the generator causes errors"
##### **Overview of the issue**
Error trying to import `jdl` file originally creating using: `jhipster export-jdl` which generated the file `app.jdl`.

Here are 2 errors that I got among other similar ones, all related to the `application.config` section of the jdl. After a few of these, I just edited the `application.config` section manually to the original simpler version I used at the beginning

[2019-12-17 09:09] MathieuAA commented on #10970
Hi, this is fixed in JCore, but not yet released.
See https://github.com/jhipster/jhipster-core/issues/411

[2019-12-17 09:09] #10970 closed

[2019-12-17 09:10] MathieuAA commented on #10970
I'll release before the end of the week (most likely tomorrow or the day after if I find the time)

[2019-12-17 09:47] jdubois commented on #10958
I believe it's important to simplify what we generate, both for our users and ourselves:

- +1 for having just one type of application (no more microservice/monoliths), and having a clearer front/back separation (to me it's already good, but this is where we have the more complaints)
- I would like to remove a lot of our generated code in the "initial generation" and push it to our lib and Spring

[2019-12-17 10:52] deepu105 commented on #10958
Since this is roadmap discussion I'm locking this to contributors

[2019-12-17 14:32] jdubois commented on #10958
It's a simple one, but a breaking one: we should rename our package from "io.github.jhispter" to "tech.jhipster"

[2019-12-17 14:41] PierreBesson commented on #10958
+1 @jdubois

[2019-12-17 15:06] skmaingi commented on #10969
Thank you @vishal423

Thank you @vishal423

[2019-12-17 15:06] #10969 closed

[2019-12-17 18:06] Falydoor opened #10975 "SecurityUtils .getCurrentUserLogin in a microservice returns "null" with OAuth2 and Okta"
##### **Overview of the issue**

Calling `SecurityUtils.getCurrentUserLogin()` in a microservice returns `null` instead of the user login

##### **Motivation for or Use Case**

It should be possible to retrieve the user from the security context

##### **Reproduce the error**

Use `SecurityUtils.getCurrentUserLogin()` in a microservice using Okta for the authentication

##### **Related issues**

#

[2019-12-17 22:23] gmarziou commented on #10958
What do you mean by "it costs a lot"?

From a security standpoint, session-based authentication has some advantages over our JWT implementation for monoliths: secured cookies, revocation. It also consumes less network bandwidth.

[2019-12-18 00:30] #10877 closed

[2019-12-18 00:32] skmaingi opened #10978 "Unable to generate Entities with ManyToMany relationship"
##### **Overview of the issue**

Unable to generate entities with ManyToMany relationships after upgrading JHipster

##### **Motivation for or Use Case**

When I try to generate entities with ManyToMany relationship using JHipster version 6.5.1, I get an error "Can't add invalid relationship ... only bidirectionality is supported".
JHipster version 6.4.1 can generate entities without issues.

####

[2019-12-18 02:21] gclayburg commented on #7944
I agree @nonamejx , it would be nice if the documentation there were updated.  What I found is that a OneToOne relationship does work but it generates the java code with a @DBRef

This can be manually changed in the generated java code if you need the relationship to be embedded instead.  All you need to do is remove the @DBRef annotation.  Maybe this is also possible with JDL, but it isn't obviou

[2019-12-18 06:12] pascalgrimaud commented on #10964
adding a bounty as it's a bug and it needed to be solved before the next release if possible

[2019-12-18 06:14] pascalgrimaud commented on #10958
I'd like to have prettier for java, and I know a lot of people want it too :)

But I'm not sure if it's a breaking change or a feature ?

[2019-12-18 07:40] deepu105 commented on #10958
I would consider it a feature

On Wed, 18 Dec 2019, 7:14 am Pascal Grimaud, <notifications@github.com>
wrote:

[2019-12-18 09:13] blacksmithbrew opened #10981 "Fetch type EAGER causes a NPE on OneToMany relationship during JSON deserialization"
##### **Overview of the issue**

Setting fetch type eager on a One2Many relationship causes a HTTP 400 and internally a NullPointerException during JSON deserialization.

##### **Motivation for or Use Case**

Use of fetch type EAGER should not lead to an error.

##### **Reproduce the error**

- Building the application from scratch with the JDL below with **--skip-fake-data** option
- set Fetch ty

[2019-12-18 15:09] Luancarlos opened #10983 "Generate Entity-Cliente"
I have problem implementing entity-generate client, the error occurred when I import jdl

error:

Error: Copying template ./angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs failed. [TypeError: /Users/luancarlosrocha/Documents/projetos/jhispter/geradores/login-page/generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.componen

[2019-12-18 15:10] cbornet opened #10984 "The otherEntityRelationshipNamePlural field is not correctly filled"
##### **Overview of the issue**

The `otherEntityRelationshipNamePlural` field is not correctly filled

##### **Motivation for or Use Case**

It makes the generation of ManyToOne relationships incorrect when the relationship name is different than the other entity name

##### **Reproduce the error**

* Generate the app with the config below.
* In `Employee.java` the relationship to Company should

[2019-12-18 15:13] gmarziou commented on #10983
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-12-18 15:13] #10983 closed

[2019-12-18 16:08] rodrigorodrigues commented on #9829
Hi guys,

Have similar issue to resolve `css/js files`when deploying a frontend react app using nginx on kubernetes, anyone has a clue how to setup nginx with proxy_pass for static files?

I have changed `baseHref` on webpack.common.js and added nginx_proxy pass following https://www.jhipster.tech/separating-front-end-and-api/ but looks like is not enough
`new BaseHrefWebpackPlugin({ baseHref: '/j

[2019-12-18 17:20] amatosg commented on #10891
@ruddell  I've read the issue you mentioned and yes, it could mean `undefined`, but it **will** also mean NPE when accesing that value, using `Boolean.TRUE.equals(myBoolean)` will return false on null.

[2019-12-18 19:15] mohamedzaki90 commented on #10898
@pascalgrimaud I  tried to push a new branch with the fix to make a pr but I got denied.
Push failed
Remote: Permission to jhipster/generator-jhipster.git denied to mohamedzaki90.

[2019-12-18 19:27] pascalgrimaud commented on #10898
@mohamedzaki90 : thanks for trying to contribute !!

In fact, you can't push directly to jhipster/generator-jhipster ; you need to fork first the generator, then you'll be able to push to your fork: mohamedzaki90/generator-jhipster

Then, you'll be able to submit a PR here :)

Don't hesitate to ask if you need help or didn't understand my instructions

[2019-12-18 19:45] mohamedzaki90 commented on #10898
https://github.com/jhipster/generator-jhipster/pull/10990

[2019-12-18 20:37] pascalgrimaud commented on #10898
closed by https://github.com/jhipster/generator-jhipster/pull/10990

[2019-12-18 20:37] #10898 closed

[2019-12-18 22:02] skmaingi commented on #10978
Fix:
Removed injected fields in source and destination entities

[2019-12-18 22:02] #10978 closed

[2019-12-19 06:35] vishal423 commented on #10958
I would like to provide an out of box solution with `spring cloud gateway` as the default gateway over `zuul`, and an initial support of `svelte` (I still need to look deeply into this, but, it looks promising).

In addition, it would be good to integrate with `angular cli` build ecosystem (I know there is a PR in progress) and create custom builders to abstract JHipster specific webpack customiza

[2019-12-19 07:37] #10631 closed

[2019-12-19 07:46] #10964 closed

[2019-12-19 10:40] Lina-Hammami commented on #10619
I still have the same problem and the output of `jhipster info ` is `INFO! Using JHipster version installed locally in current project's node_modules
INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summ

[2019-12-19 11:04] #10913 closed

[2019-12-19 11:18] kaidohallik commented on #10631
@wmarques, as you started Angular cleaning in #10383 and made huge reviews while resolving this issue and kept me in the right track then I propose that we share this bounty 50-50. WDYT, is this OK for you?

[2019-12-19 13:52] wmarques commented on #10958
Yep I agree with @vishal423 on the angular part. We can easily integrate Angular CLI and build a custom builder on top of it to fit our needs.
I struggle to find time currently but I think it should be ok for v7

[2019-12-19 15:08] wmarques commented on #10631
@kaidohallik Well I really didn't do alot, you made the very big part ! Let's do $100 for me and $400 for you, that's ok ? 😄

[2019-12-19 15:52] SudharakaP commented on #10984
@cbornet : I gave this a try with your exact `.yo-rc.json` and the JDL file and for me it worked correctly. The generated `Employee.java` file is as follows;

[code]
Is there some other step I am missing in order to reproduce this error? :thinking:

[2019-12-19 16:07] josepaiva94 opened #10994 "Underscores in UAA base name are allowed causing problems when running"
##### **Overview of the issue**

I'm able to generate a project from a .jh file with a `baseName` like `xxx_uaa` for the UAA microservice (or any other microservice). However, the microservices will run with an invalid hostname causing `IllegalStateException: Request URI does not contain a valid hostname` when contacting it.

##### **Motivation for or Use Case**

Well, it hurts to replace all micr

[2019-12-19 16:21] kaidohallik commented on #10631
OK, let's share this way, thanks @wmarques !

[2019-12-19 16:30] josepaiva94 commented on #10994
Moved to https://github.com/jhipster/jhipster-core/issues/417

[2019-12-19 16:30] #10994 closed

[2019-12-19 17:33] vishal423 commented on #10958
@William Marques <wmarques.pro@gmail.com>
, let me know if you need help here.

Cheers,
Vishal

On Thu, Dec 19, 2019 at 7:22 PM William Marques <notifications@github.com>
wrote:

--
Thanks & Regards,

Vishal Mahajan
GSM : 9423047894
Email : vishal423@gmail.com

*****************************************************
Impossible is the word in dictionary of fools
**************************************

[2019-12-19 17:45] vishal423 commented on #10631
Great work @kaidohallik !! Can you also check if current code will work with following typescript configurations that can be enabled in angular `v9` with strict flag:
[code]

[2019-12-19 17:52] PierreBesson commented on #10958
I have a feature request on my mind for some time which would be best for an internship. It would be to implement two factor authentication for our JWT option.

[2019-12-19 17:53] #10931 closed

[2019-12-19 17:59] vishal423 commented on #10958
Starting keycloak v8, WebAuthn support is available. It would be
interesting to enable this in JHipster.

On Thu, Dec 19, 2019 at 11:22 PM Pierre Besson <notifications@github.com>
wrote:

--
Thanks & Regards,

Vishal Mahajan
GSM : 9423047894
Email : vishal423@gmail.com

*****************************************************
Impossible is the word in dictionary of fools
*****************************

[2019-12-19 18:23] vishal423 commented on #10862
Bounty claimed https://opencollective.com/generator-jhipster/expenses/12558

[2019-12-19 18:27] pascalgrimaud commented on #10862
just approuved, thanks a lot @vishal423
so happy to have you in the team

[2019-12-19 19:24] wmarques commented on #10631
@jdubois @pascalgrimaud @deepu105 bounty claimed https://opencollective.com/generator-jhipster/expenses/12559

[2019-12-19 19:25] #10965 closed

[2019-12-19 19:25] pascalgrimaud commented on #10631
just approuved @wmarques !

[2019-12-19 19:30] pascalgrimaud commented on #10984
Same than @SudharakaP
I didn't manage to reproduce, I have the same result

[2019-12-19 19:32] pascalgrimaud commented on #10906
I'm closing this as it's related to BoxFuse.
Don't hesitate to give feedback if you think there is an issue in our generator

[2019-12-19 19:32] #10906 closed

[2019-12-19 19:45] #10769 closed

[2019-12-19 20:35] #7966 closed

[2019-12-19 20:38] pascalgrimaud commented on #7966
@ecostanzi : don't forget to claim the bounty, it's well deserved

[2019-12-19 20:46] cbornet commented on #10984
Oh I get it ! That's because I generated the entities with the CLI and not with the JDL.
It doesn't generate otherEntityRelationshipName in `Employee.json` and I was not asked about it during the questions.

[2019-12-19 20:48] DanielFran commented on #7966
@econstanzi PR https://github.com/jhipster/jhipster/pull/425 is stilo needed?

[2019-12-19 20:53] pascalgrimaud commented on #7966
As I don't need it during my test, I don't think so @DanielFran

[2019-12-19 21:24] #10804 closed

[2019-12-19 21:30] pascalgrimaud commented on #10967
I'm putting a bounty on this, as it needs to be fixed before the release

[2019-12-20 03:01] kaidohallik commented on #10631
Thanks @vishal423! CI in my fork with these options successful. I raised PR #10998 to add additional rules to `tsconfig` files.

[2019-12-20 05:05] kaidohallik commented on #10631
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/12568

[2019-12-20 05:30] pascalgrimaud commented on #10631
just approuved @kaidohallik :)

[2019-12-20 05:39] kaidohallik commented on #10806
As better fix https://github.com/jhipster/generator-jhipster/pull/10820 is also merged then I'm claiming bounty: https://opencollective.com/generator-jhipster/expenses/12569

And seems that this is already approved before I could add this comment :)

[2019-12-20 05:41] pascalgrimaud commented on #10806
yes, I approuved it, as I know your email :)

[2019-12-20 05:48] kaidohallik commented on #10964
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/12570

[2019-12-20 06:35] #10966 closed

[2019-12-20 08:11] ecostanzi commented on #7966
@DanielFran I think we can closed it, we postponed openapi security definitions for v7

[2019-12-20 08:32] vicpermir commented on #10891
But `null` and `false` are not the same thing, and JHipster should not make them so.

Can't you just `.filter(a -> Boolean.TRUE.equals(a.isActive())` ?

[2019-12-20 08:32] gmarziou commented on #10619
@Lina-Hammami Failure is about eslint, so I suppose it also fails when you run `npm run lint`? As a temporary workaround and to confirm there's an issue with eslint could you comment out the eslint-loader module configuration in webpack/webpack.dev.js like below?

[code]

[2019-12-20 08:40] cbornet commented on #10984
Actually the manual generation works. The problem occurs when regenerating with `jhipster --with-entities`

To reproduce:
* Generate Company manually
[code]
* Generate Employee manually
[code]
* Regenerate app with entities
[code]

[2019-12-20 09:02] pascalgrimaud commented on #10984
Just tried to reproduce and I think you're right @cbornet
See the generated JSON:

[code]

We can see the missing: `"otherEntityRelationshipName": "awesomeEmployee",` in `Employe.json`

But in fact, in the workflow when using `jhipster entity Employee`, there is no question about `What is the name of the relationship`

I'm not an expert on this part, so I don't know what should be the correct beha

[2019-12-20 09:07] cbornet commented on #10984
It seems OK when generating the entity the first time though. I think the generator loads the Company entity and correctly gets/sets the otherEntityRelationshipName.
The problem is that it doesn't do it when regenerating with `--with-entities`

[2019-12-20 09:11] pascalgrimaud commented on #10984
@cbornet : yes, I reproduce all your steps and I confirm exactly what you found

Just a suggestion, maybe we should save this value inside the `Employee.json` I think: `"otherEntityRelationshipName": "awesomeEmployee"`

[2019-12-20 09:25] avdev4j opened #11001 "Fix openapi-client subgenerator model generation and package"
##### **Overview of the feature request**
Because I have opened some PRs to improve the openapi-client subgenerator, and I want to open some new ones, I think it's better to centralize this work in a specific issue. There is the list below...

##### **Motivation for or Use Case**
Make the openapi-client great again !

##### **Related issues or PR**
-   [ ] When using openapi-client with date field

[2019-12-20 09:28] pascalgrimaud commented on #11001
why do you open a new ticket for that ? There is an already one: https://github.com/jhipster/generator-jhipster/issues/10510

[2019-12-20 09:36] avdev4j commented on #11001
Well, titles are a little bit confusing. The @ecostanzi  one is about the way we call the openapi-generator from OpenApiTools.

Mine is about the generated result and the way we configure (or not) how JHipster call this tools.

I don't think we sould merge both but have a more explicit title. What do you think about ?

[2019-12-20 09:57] cbornet commented on #10984
Indeed. That's what the JDL import does.

[2019-12-20 10:01] pascalgrimaud commented on #10891
After reading this ticket again, I don't think we should do this, following our [Policies](https://www.jhipster.tech/policies/)
In fact, we stick to what is generated by the IDE, it's the same.

That's why I'm closing this.
But we can still discuss here if needed

[2019-12-20 10:01] #10891 closed

[2019-12-20 10:02] pascalgrimaud commented on #10984
Adding a bounty on this, as it's a bug and it needs to be fixed !

[2019-12-20 10:04] pascalgrimaud commented on #10860
So as Frederik suggested (like me), let's leave it as is
We can still discuss if needed or add some documentation for that

[2019-12-20 10:04] #10860 closed

[2019-12-20 10:48] PierreBesson commented on #11001
IMO we don't need an issue to fix small bugs like this. And we have too many issues already. Please close it @avdev4j.

[2019-12-20 10:55] #11001 closed

[2019-12-20 11:52] amanganiello90 opened #11005 "Error build react client: missing @types import in tsconfig.json"
##### **Overview of the issue**

When I choose react client and I perform prod build, there is an error on webpack build due to types missing import.

##### **Motivation for or Use Case**
The motivation is that from the 6.2.0 version of jhipster, for the react templates the tsconfig.json is missing for:

[code]
Here 6.2.0 jhipster version: https://github.com/jhipster/generator-jhipster/blob/v6.2.0

[2019-12-20 12:01] vishal423 commented on #11005
@amanganiello90, can you provide all details including `.yo-rc.json`.

[2019-12-20 12:24] postpersonality opened #11006 "JDL import: ManyToMany relationship generates wrong table name"
##### **Overview of the issue**

I use JDL file
[code]

This wrongly generates relationship table name as "material_origin" instead of "material_origin_material" in files:
* `.../domain/Material.java`
* `.../changelog/..._added_entity_constraints_Material.xml`
* `.../changelog/..._added_entity_Material.xml`

The issue reveals itself on `./mvnw` with the error
[code]

##### **Motivation for or Use

[2019-12-20 12:24] postpersonality opened #11025 "ManyToMany relationship generates wrong relationship table name"
##### **Overview of the issue**

I use JDL file
[code]

This wrongly generates relationship table name as "material_origin" instead of "material_origin_material" in files:
* `.../domain/Material.java`
* `.../changelog/..._added_entity_constraints_Material.xml`
* `.../changelog/..._added_entity_Material.xml`

The issue reveals itself on `./mvnw` with the error
[code]

##### **Motivation for or Use

[2019-12-20 12:30] mshima commented on #10984
I think I found the problem.
Creating a PR.

[2019-12-20 12:36] kaidohallik commented on #10905
I somehow missed this last comment, created PR #11007 now.

[2019-12-20 12:58] mshima commented on #10984
PR #10984 fix this specific problem.
I will create another PR with a follow up, that maybe should be wait for 6.6.1.

[2019-12-20 13:28] postpersonality commented on #11006
The second issue is that the FK descriptions for the relationship keys are being created twice:
1. In the `entity_constraints_Material`
2. In the `entity_constraints_MaterialOrigin`

[2019-12-20 13:47] mshima commented on #11006
I referenced this bug on a commit by mistake.

[2019-12-20 15:56] avdev4j opened #11010 "Models classes generated by openapi-generator have unknown imports"
##### **Overview of the issue**

Hi team,
when we use the openapi-generator (wrapped by our openapi-client subgenerator) the generated classes import the following class `import org.openapitools.jackson.nullable.JsonNullable;`.

The problem is that we don't have the `org.openapitools.jackson` dependency in our pom.

After some research it's appeard that this bug is known by the openapi community,

[2019-12-20 16:00] mshima opened #11012 "JDL exported by export-jdl is invalid."
##### **Overview of the issue**

JDL exported from a new generated all default application is invalid.
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

`jhipster` with all default.
`jhipster export-jdl`
`jhipster import-jdl folderName.jdl`

##### **Related issues**

##### **Suggest a Fix**

JDL is been exported with invalid fields and values.
`packageFolder` field seems

[2019-12-20 17:42] mshima commented on #11012
Seems this is been fixed at https://github.com/jhipster/jhipster-core/issues/411.
This should be fixed at a new jhipster-core release.

I will keep this open until then.

[2019-12-20 17:55] amanganiello90 commented on #11005
I run ```jhipster --skip-server``` and I choose react client with no theme.
After I run the prod build command. This is the log error:
[code]

[2019-12-20 20:24] pascalgrimaud commented on #11005
@DanielFran : I'm changing the label and removed 'bug' label as we don't have any information asked in issue template to reproduce.
Unless you manage to reproduce ?

[2019-12-20 21:10] amanganiello90 commented on #11005
To reproduce the issue, as commented by the begin:

* Run jhipster 6.5.1 with ```jhipster --skip-server``` and answer monolithic app, npm packager, react, none theme, none i18n
* Run on the base folder generated: ```npm run webpack:prod```

[2019-12-20 21:51] defrummel commented on #10795
This would have saved me some hours of debugging! good job fixing it :)

[2019-12-21 06:31] juliensadaoui commented on #10565
Spring Cloud Hoxton SR1 is available.

https://spring.io/blog/2019/12/21/spring-cloud-hoxton-service-release-1-sr1-is-available

[2019-12-21 07:39] #10905 closed

[2019-12-21 08:13] #10984 closed

[2019-12-21 08:14] pascalgrimaud commented on #10984
Tried the fix provided by @mshima
And it fixed the issue. At least, I didn't manage to reproduce anymore

[2019-12-21 08:15] pascalgrimaud commented on #11012
Does it mean we need a new release of jhipster-core ?

[2019-12-21 09:26] pascalgrimaud commented on #11010
@avdev4j : plz, don't forget to update the area + theme label, to have better visibility, rather than letting the default `undefined` labels

[2019-12-21 10:05] murdos commented on #10565
Thanks @juliensadaoui ! I've updated jhipster-dependencies to use SR1

[2019-12-21 10:18] pascalgrimaud commented on #11005
I just gave a try. Here my result:

I used `jhipster --skip-server`, it doesn't work (and it's normal):

[code]

So I used `jhipster --skip-server --db mysql --auth jwt`, here the logs:

[code]

Then, I used `npm run webpack:prod`, here the logs:

[code]

[2019-12-21 10:20] pascalgrimaud commented on #11005
As I couldn't reproduce it, I'm closing the issue.

To help reproducing issue, we asked all our users to fill the template, including me, when I find an issue, I try to complete all the template and maximum information to help someone else to reproduce.

[2019-12-21 10:20] #11005 closed

[2019-12-21 10:27] mshima commented on #11012
I think so.
@MathieuAA is that right?

[2019-12-21 10:40] jdubois commented on #10967
In the commit that put port 80, I also notice that it is hard coded in the Java classes: https://github.com/jhipster/generator-jhipster/pull/10763/files#r360642259

[2019-12-21 11:47] mshima commented on #11006
Related to https://github.com/jhipster/jhipster-core/issues/404

[2019-12-21 11:58] mshima commented on #10981
looks like this is duplicate of https://github.com/jhipster/generator-jhipster/issues/10984?
Can you confirm this one is fixed?

[2019-12-21 13:48] nikolay-gb commented on #11006
Hm. I can try to follow the https://github.com/jhipster/jhipster-core/issues/404#issuecomment-566462309 but do not think that can help with the issue. Let me check.

[2019-12-21 14:18] postpersonality commented on #11006
You can try these steps
1. Create a fresh folder
2. Create file `jhipster-many-to-many-bug.jdl` inside the folder with the contents
<details>
<summary>jhipster-many-to-many-bug.jdl</summary>
<pre>
application {
  config {
    databaseType sql
    devDatabaseType h2Disk
    enableHibernateCache true
    enableSwaggerCodegen false
    enableTranslation true
    jhiPrefix jhi
    languages [en]
    m

[2019-12-21 14:27] atomfrede opened #11019 "Password reset allows to check which mails exist"
##### **Overview of the issue**

When doing a password reset a bad request is returned in case the mail does not exist in the system. With this it is possible to harvest existing mails. I think it would be better to always return "OK" to the api/frontend and log the invalid attempt on the server side.

##### **Motivation for or Use Case**

Automatically check which mails exist.

##### **Reproduce

[2019-12-21 14:32] atomfrede commented on #10889
@jhipster/developers From what I can tell, the current `AngularCookieLocaleResolver` is obsolete (as we don't set any cookie at all), so we can replace it with the default `CookieLocaleResolver` (which checks the accept langugage header if no cookie is present). We can decide to create cookie or send the correct accept language header in our api calls, which seems to be the current browser languag

[2019-12-21 18:47] bradsheppard commented on #10967
I can look into fixing this, although I have a few questions first:
- If we make a change such that `SERVER_PORT` is 8080, we would also need to switch UAA, however this will create an inconsistency between docker-compose and Kubernetes, as Kubernetes services are all on 80.
- Would potentially the best solution be to keep `SERVER_PORT` as 80, however switch the port mapping to `8080:80`? This way

[2019-12-21 18:50] pascalgrimaud commented on #10967
For now, to fix this bug quickly, I prefered to revert this PR https://github.com/jhipster/generator-jhipster/pull/10763 unfortunately: it's sad but I have no choice as I'm really short on time.

Then, you can rework the UAA part ; have a look at https://github.com/jhipster/generator-jhipster/issues/8967 and https://github.com/jhipster/generator-jhipster/issues/9027 by using the code provided in h

[2019-12-21 19:17] #10967 closed

[2019-12-21 20:07] SudharakaP commented on #10967
@pascalgrimaud : I think this issue was closed by mistake? :thinking:

[2019-12-21 20:23] pascalgrimaud commented on #10967
@SudharakaP : not by mistake as this issue was introduced by #10763 and as I reverted this PR, this issue is gone.

[2019-12-21 21:23] SudharakaP commented on #10967
@pascalgrimaud : My mistake; saw that just after I made the comment. :smile:

[2019-12-22 00:11] #10646 closed

[2019-12-22 10:03] MathieuAA commented on #11012
Yes, sorry I was unavailable for a few days. I'm doing one today.

[2019-12-22 10:07] MathieuAA commented on #11006
I'm moving it to JCore. And I don't think it's related to the 404.

[2019-12-22 11:20] atomfrede commented on #11019
I checked keycloak and it also does pretend the password reset request was successful, so I will do a PR for all our frontends and adapt the server part if everyone is okay with that.

[2019-12-22 11:39] nikolay-gb commented on #11025
Should we rename the issue to express that?

[2019-12-22 15:25] pascalgrimaud commented on #10958
Unless you disagree, I'm adding:
- remove Java8 support

[2019-12-22 15:35] cbornet commented on #10958
:+1: let's put car everywhere !

[2019-12-22 19:52] SudharakaP opened #11027 "Add Information to CONTRIBUTING.md about JHipster Snapshot Versions"
##### **Overview of the issue**

It's my understanding that if we are using a snapshot dependency version we have to build the [jhipster/jhipster](https://github.com/jhipster/jhipster) project so that the generator correctly points to the snapshot. I suggest adding this information to the CONTRIBUTING.md especially for new users who are setting up their development environment for the first time.

[2019-12-22 21:12] #11012 closed

[2019-12-23 01:46] SudharakaP commented on #9934
Just to keep everyone in the loop, as per the discussion [>>here<<](https://github.com/jhipster/generator-jhipster/pull/10283#issuecomment-568300770), I've replaced Afterburner by Blackbird; removing the logic we put earlier giving the user the ability to choose between Afterburner and Blackbird. Thus the plan is to merge this at v7. :smile:

[2019-12-23 07:12] #11027 closed

[2019-12-23 08:06] blacksmithbrew commented on #10981
I **can't** confirm. Just tested it with v6.6.0.
Described error still occurs.
Moreover, generated relationship names are correct in ManyToOne.

[2019-12-23 10:27] mshima commented on #11025
Which files needs to be fixed?

[2019-12-23 10:34] nikolay-gb commented on #11025
Please see the list of the affected files in the issue description. If you are asking about list of jhipster source files then I cannot help here. I didn't dive into the issue that deep.

[2019-12-23 10:51] Lina-Hammami commented on #10619
This is it !  thank you for your help  ^^

[2019-12-23 10:59] mshima commented on #11025
https://github.com/jhipster/generator-jhipster/blob/307ab155caae45ed466eb5b0875f1a3f62632263/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs#L167
https://github.com/jhipster/generator-jhipster/blob/307ab155caae45ed466eb5b0875f1a3f62632263/generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.x

[2019-12-23 11:01] gmarziou commented on #10619
Fortunately, eslint is not critical for the build process.

I'll try to reproduce the issue on Ubuntu to see if there's something we can do.

[2019-12-23 13:09] codecholeric commented on #10631
@kaidohallik thanks so much for all your hard work!! I'm really sorry that I didn't come true on my support :disappointed: Not gonna make any excuses, I should just be realistic about my capacities...
Anyway, I'm glad you at least got a bounty for this :smile:
Also thanks a lot to @wmarques for all the reviews and suggestions :smiley:
You guys are really awesome that you improve this so quickly!!

[2019-12-23 14:08] mshima commented on #11025
https://github.com/jhipster/generator-jhipster/blob/c1d1f4c036fbe0a5a8d88929e58e57ead53876ef/generators/generator-base.js#L1357-L1358

You can fix by changing the relationship name.

To fix this issue on generator we have 2 options:
- Calculate every generated table name and add a conflict algorithm (Append _xx)
- Add a different separator for join tables. Ex 2 _ instead of 1.

http://dev.mysql.co

[2019-12-23 14:39] bradsheppard commented on #10967
@jdubois Do we still plan on using the "Port 80 and services with RouteDetector" solution as described in #10763. The docker-compose fix related to this issue is pretty easy, but I'm just wondering if we plan on still going ahead with assuming all services are running on port 80.

[2019-12-23 14:45] jdubois commented on #10967
@bradsheppard I didn't know that @xetys did use port 80 on purpose... I wouldn't use port 80 by default because on many OSes it will be blocked, then I trust @xetys on this part (he knows this much better than I do). The important thing for me is that we have something consistent, and have the same port in the env variable and the Docker Compose config.

[2019-12-23 14:48] bradsheppard commented on #10967
Makes sense. In that case we can probably re-introduce #10763 with a fix to the docker compose generator. Thanks for clarifying!

[2019-12-23 15:10] mshima commented on #11025
Added a test to jdl integration-test at:
https://github.com/mshima/generator-jhipster/commit/806935756e280d38210ad02c69c65ff6bc6bf847

Error log at:
https://dev.azure.com/marceloshima/generator-jhipster/_build/results?buildId=778&view=logs&j=b82dda55-0fb5-5cba-f633-5f7ed4bfc689&t=8cb150ad-72b5-5f82-9010-b4c6dcf290af

[2019-12-24 02:16] bigjungle opened #11034 "should all use Camel-Case ?"
##### **Overview of the issue**
- in html
`.errors.maxlength`
- in global.json
`minlength`
`maxlength`
`NotNull`

[2019-12-24 05:24] kaidohallik commented on #10631
@codecholeric, without this issue we wouldn't have strict option enabled now. Thank you for creating this issue and therefore initiating this enhancement!

[2019-12-24 14:02] avdev4j commented on #11034
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-12-24 14:03] #11034 closed

[2019-12-26 02:52] no-today commented on #1370
[code]

[2019-12-26 10:33] jdubois commented on #9543
I think we should add this to our v7 roadmap at #10958

@Romeh would you still be interested in helping on this? Do you think this is a big change (I don't expect it is, but I have no experience in this migration)?

[2019-12-26 10:47] atomfrede commented on #9543
Maybe https://github.com/robwin can help here too.

[2019-12-26 12:44] gmarziou commented on #9543
Is it more than "just" using spring-cloud-starter-circuitbreaker-resilience4j and adjusting application properties?

[2019-12-26 13:10] RobWin commented on #9543
You can either use spring-cloud-circuitbreaker or our Spring Boot starter which adds much more features like support for Annotations, Spring Cloud Config support, Retry, RateLimiter, Bulkhead,...

[2019-12-26 13:42] xetys commented on #10967
Hey guys, sorry got bit familiy busy on xmas days

It's a pity with this, as the solution would have been so easy. The hard port 80 mapping should ONLY be for microservices which are NOT exposed to docker-compose anyways. The idea behind it is just this:

If we do not use service discovery, as eureka is disabled, all forwarding calls from gateway, as well as service-to-service calls should still w

[2019-12-27 08:59] kaidohallik opened #11037 "Current needle-client-webpack is useless"
##### **Overview of the feature request**

Current implementation of the `needle-client-webpack` allows only copying content from `${CLIENT_MAIN_SRC_DIR}content` to `content`

But both in Angular, React and Vue.js `webpack.common` already copies whole `${CLIENT_MAIN_SRC_DIR}content` to `content`. So current implementation allows only double copy and I believe that nobody is using this double copy

[2019-12-27 14:30] hdurix opened #11039 "No token in Swagger UI with custom prefix in React+JWT"
##### **Overview of the issue**

When choosing a `jhi-prefix` in a React application, Swagger UI can't be used as the authorization header does not contain the bearer token.

##### **Motivation for or Use Case**

We should use the correct key when getting the authentication token in local/session storage with Swagger UI.

##### **Reproduce the error**

Use a custom prefix when generating a React a

[2019-12-27 16:16] qmonmert commented on #8846
@avdev4j @pascalgrimaud I have a PR #11043 I set datetime-local by default with the date: today 00:00

I think it's the simplest way

[2019-12-27 17:43] CodingSpiderFox opened #11044 "Feature request: start script to start all docker-compose units contained in src/main/docker"
##### **Overview of the feature request**

I really like that elasticsearch, jhipster-registry, postgresql etc. get some docker-compose unit files auto-generated.
To save time, I want a bash scripts to be auto-generated which contains some likes like
[code]
For all services which have a docker-compose unit file

-   [X] Checking this box is mandatory (this is just to show you read everything)

[2019-12-27 19:40] amanganiello90 opened #11045 "Undefined variables retrivied by .yo-rc.json in the blueprint app generator customization"
##### **Overview of the issue**
From the jhipster 6.6.0 version due to the #10752 PR , it's possible to extend the app generator in the blueprint. It is a great thing, but the problem is that the variables saved by the yeoman config.set method, **add all under the blueprint key name in the .yo-rc.json file**. So in the re-generation (or the import-jdl command with the config specified in the jdl m

[2019-12-27 20:48] DanielFran commented on #10958
Migrate from springfox to springdoc (https://github.com/springdoc/springdoc-openapi/issues/292)

[2019-12-28 10:15] #11039 closed

[2019-12-28 12:09] mshima commented on #11045
Seems duplicate of https://github.com/jhipster/generator-jhipster/issues/10663

Suggested fix at: https://github.com/jhipster/generator-jhipster/pull/10664

[2019-12-28 12:23] amanganiello90 commented on #11045
@mshima thanks, I read that. But is it more simple to overwrite the yeoman generator name function in the app index jhipster generator? In this way it is compatibility with the standard jhipster code in case of no main app customization.

[2019-12-28 13:10] mshima commented on #11045
Changing rootGeneratorVersion is exactly the same of `this.config = this._getStorage('generator-jhipster');`

https://github.com/jhipster/generator-jhipster/blob/a2e9dfe53e670141b985e49c5ccec82fb99aeb5a/generators/generator-base-blueprint.js#L32

https://github.com/jhipster/generator-jhipster/pull/10664 Is about migration old projects.

[2019-12-28 13:14] mshima commented on #11045
See https://github.com/yeoman/generator/pull/1122/files

[2019-12-28 13:17] mshima commented on #11045
rootGeneratorVersion does nothing here.
It’s used at global config only.

https://github.com/yeoman/generator/search?utf8=✓&q=rootGeneratorVersion&type=

[2019-12-28 14:02] amanganiello90 commented on #11045
Yes in jhipster is not used, I added that only because it is associate with the generator name, so if I change the name function sequentially is usefull to specify the related version

[2019-12-28 14:37] amanganiello90 commented on #11045
It's not mandatory to update yeoman-generator for 4.x version. The rootGeneratorName method is already added in the 3.2.0 version : https://github.com/yeoman/generator/blob/3bbeef0f8eebd02e9459734c9a3d9c6732a47d14/lib/index.js#L597 .
So it works for jhipster 6.6.0.
From yeoman-generator 4.1.0 is been only modified the **_getStorage_()** method with the generator name argument.

[2019-12-28 15:25] gmarziou commented on #11044
Could you clarify whether you want a bash script per component or a bash to start all components at once? If it's the 2nd option, docker-compose would be a better option than bash.

[2019-12-28 15:40] CodingSpiderFox commented on #11044
I would like the second option but I'm not sure how docker-compose could
help with that. Putting all contents of all the existing docker-compose
files into a single docker-compose file would not be my preferred option.
I'd rather have something that I can execute directly without having to
pass additional command line options like -f or -d

[2019-12-28 16:43] gmarziou commented on #11044
Then it's just like what we already in app.yml to start both the app and the database. Once you have only one command to type, your shell completion could be enough.

[2019-12-28 17:22] qmonmert commented on #10682
@pascalgrimaud I began to work on this feature #11047

[2019-12-28 19:01] mraible commented on #7608
@cbornet I started working on OAuth support in https://github.com/jhipster/generator-jhipster/pull/11049. I created a sample app at https://github.com/mraible/jhipster-reactive-monolith-oauth2 and [a PR](https://github.com/mraible/jhipster-reactive-monolith-oauth2/pull/1) that makes login work.

I still need to add non-blocking support in `UserService`. I added `// todo:` comments in my PR for cod

[2019-12-28 19:24] codecholeric commented on #10682
@qmonmert I know I'm late on this (didn't find the time up to Christmas), but we should definitely align on that! I've already changed many files, my problems are only, that there is such a combinatoric explosion with `reactive` vs `non-reactive` and all the options.
You can check out my current state here:
https://github.com/jhipster/generator-jhipster/pull/11050

[2019-12-28 19:27] codecholeric commented on #10682
I would also want to gather some feedback though, if the infrastructure setup is easy to understand like that.

[2019-12-28 19:29] mshima commented on #11045
Please don’t change rootGeneratorName().
It’s a bad workaround and will break my blueprint.

[2019-12-28 19:30] qmonmert commented on #10682
@codecholeric ah ok no problem

[2019-12-28 19:34] codecholeric commented on #10682
I also have one problem, that the `DomainUserDetailsServiceIT` fails if the 2nd level cache is selected, because the cache section would be closed, and I don't know how it is connected to my changes :thinking:
Anyway, it will still take some time to test due to the vast possibilities of configuration... I only tested one simple case so far, that it really works (and considering the CI, there is mu

[2019-12-28 20:04] amanganiello90 commented on #11045
Why will break your blueprint? It is an override only for the app index generator to use its standard config (and not of the blueprint). For me it's a function to add in the main app generator (and not in the blueprint), because it resolve a break of the jhipster extension not due to the blueprint itself but for jhipster configuration mode.

[2019-12-28 20:41] mshima commented on #11045
Currently there isn’t a standard config (generator-jhipster namespace)  and a blueprint config  (generator-jhipster-something namespace).
There is only a standard config for not blueprinted generators and blueprint config for blueprinted generators.

When you blueprint a generator, the main generator doesn’t run the normal cycle. It only instantiate the blueprinted version and stop.

https://githu

[2019-12-28 22:23] #10160 closed

[2019-12-29 06:54] cbornet commented on #7608
Cool ! On my side, I've made progress with the r2dbc support. It's almost ready but it requires that we first upgrade to Spring 5.2.

[2019-12-29 11:06] amanganiello90 commented on #11045
It's not totally exact, because initially, creating a blueprint with the [generator-jhipster-blueprint](https://github.com/jhipster/generator-jhipster-blueprint) , I have classes for every subgenerator that inherit the standard jhipster phases. For example:

<details>
<summary>index.js of server subgenerator</summary>
<pre>
/* eslint-disable consistent-return */
const chalk = require('chalk');
con

[2019-12-29 13:04] mshima commented on #11045
The others generators works because of:
https://github.com/jhipster/generator-jhipster/blob/7b2f6dd6cac86633879898f3b693f170e9e2e682/generators/client/index.js#L86

But current getAllJhipsterConfig implementation  reads blueprints from generator-jhipster namespace.
https://github.com/jhipster/generator-jhipster/blob/7b2f6dd6cac86633879898f3b693f170e9e2e682/generators/utils.js#L501

[2019-12-29 13:24] amanganiello90 commented on #11045
The other generators work because the values read by the **getAllJhipsterConfig** in the "generator-jhipster" key are defined and stored by the generator app before running the subgenerators. But if you extend the main app, as I have said before, all is stored under blueprint namespace in the .yo-rc.json (nothing exist under "generatore jhipster" key). So after all will break.

[2019-12-29 16:22] #8846 closed

[2019-12-29 18:04] qmonmert commented on #8846
I claim my money :) https://opencollective.com/generator-jhipster/expenses/12701

cc @jdubois & @pascalgrimaud

[2019-12-29 20:09] Shakibaei opened #11053 "org.gradle.internal.metaobject.AbstractDynamicObject$CustomMessageMissingMethodException: Could not find method gitProperties() for arguments"
Hi,
jhipster info result:
Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

D:\WPBBS>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules

INFO! Executing jhipster:info
INFO! Options: from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

wpbbs@0.0.1-SNAPSHOT D:\WPBBS
`-- ge

[2019-12-29 21:51] atomfrede commented on #11053
Are you using another Gradle version or our provided wrapper?

[2019-12-29 23:43] #10907 closed

[2019-12-30 08:58] #8967 closed

[2019-12-30 08:58] #9027 closed

[2019-12-30 09:00] pascalgrimaud commented on #10967
@xetys : it has been reintroduced, with the correct fixes. It should be included in the next release if there is no regression. Thanks to @bradsheppard

@bradsheppard : don't forget to claim the bouny, although it is closed, it seems you found the correct fix

[2019-12-30 09:15] pascalgrimaud commented on #11044
@CodingSpiderFox : thanks for your proposal, but we won't implement this for different reasons:
- there is already the generated `app.yml` which is similar to what you want but you need to edit and remove the application part and you need to use `docker-compose`
- we won't implement a bash script as it will only contain a `docker-compose` command, so there is no real value here

If you really want

[2019-12-30 09:15] #11044 closed

[2019-12-30 09:23] pascalgrimaud commented on #10491
Let's close this ticket in favor of https://github.com/jhipster/generator-jhipster/issues/10510

[2019-12-30 09:23] #10491 closed

[2019-12-30 09:24] pascalgrimaud commented on #10764
It should be resolved by https://github.com/jhipster/generator-jhipster/pull/11033
Don't hesitate to give a try and comment if it's not the case

[2019-12-30 09:24] #10764 closed

[2019-12-30 09:28] pascalgrimaud commented on #9980
As there is no comment since June, I think there is a lack of interest for improving our Cache logic.

That's why I'm closing this.
Feel free to review our current code and propose directly a pull request to improve it.

[2019-12-30 09:28] #9980 closed

[2019-12-30 09:33] pascalgrimaud commented on #10638
As there is no more comment on this, I'm closing this ticket.
Feel free to provide directly a PR to improve this, if you know how to do it.

[2019-12-30 09:33] #10638 closed

[2019-12-30 09:37] pascalgrimaud commented on #10741
@Falydoor : would you like to provide a PR to fix this plz ?

[2019-12-30 09:39] pascalgrimaud commented on #10859
So in this case, as you said, the best way is to add documentation on our website.
Can you provide a PR to fix this, @avdev4j ?

[2019-12-30 09:41] pascalgrimaud commented on #10839
It should be fixed by https://github.com/jhipster/generator-jhipster/pull/11033 and the last release of JHipster Registry v6.0.2
Feel free to comment if it's not the case

[2019-12-30 09:41] #10839 closed

[2019-12-30 09:43] pascalgrimaud commented on #10876
@jkutner : can you have a look on this plz ?

[2019-12-30 10:05] pascalgrimaud commented on #10975
As we have a use case with Okta, can you have a look at this ticket plz @mraible ?

[2019-12-30 12:50] atomfrede commented on #10958
What about making psql the default SQL database? And maybe remove h2 for unit tests when selecting same db for production and leverage testcontainers for that?

[2019-12-30 12:53] pascalgrimaud commented on #10958
+1 for psql by default

About testcontainer, I'm not sure. You can have some issue for CI, which uses build inside Docker. It means you need to config DinD service (Docker in Docker), which is for avdanced users

[2019-12-30 14:58] #10663 closed

[2019-12-30 14:59] pascalgrimaud commented on #11045
closed by https://github.com/jhipster/generator-jhipster/pull/10664

[2019-12-30 14:59] #11045 closed

[2019-12-30 16:08] mraible commented on #10975
The `preferred_username` claim is a default claim from OpenID Connect (OIDC) that's returned when you send in a scope of `openid profile`. See https://developer.okta.com/blog/2017/07/25/oidc-primer-part-1 for more information.

In a microservice app, communication is secured using access tokens, not ID tokens, so OIDC is not used. In the default Keycloak configuration, there are protocol mappers c

[2019-12-30 16:10] mraible commented on #10975
We could improve things by making it so user information is retrieved from the `/userinfo` endpoint on the authorization server (with an access token), rather than from claims. This would solve this issue for all OAuth providers, and reduce the configuration needed for Ionic or other clients that access JHipster with an access token.

[2019-12-30 20:08] Shakibaei commented on #11053
while importing I selected the wrapper

[2019-12-30 20:37] atomfrede commented on #11053
Can build on the command line via `./gradlew bootJar`? I just imported a jhipster app this morning into idea and it worked fine (but I am not on windows).

[2019-12-30 20:42] atomfrede commented on #9822
@jdubois I have a small prototype with a custom spring cache key generator, that uses the git hash a the prefix for the cache key (derived from the default cache key generator). If there is no git hash it uses the build timestamp from the boot build information (or the version) and finally we could just use a random string as prefix or no prefix to have the current behavior.

I can do a PR if that

[2019-12-30 21:17] Pranavism commented on #9357
@xetys Thanks for the enhancement, got a question before we switch to istio. what does it take to incorporate this change?
Our microservices have matured and cannot upgrade to latest jhipster (to avoid any unforseen event). will updating generator to latest and then generating k8 manifests will be enough.
I tried to look at the files with code changes but wanted to make sure by seeking your expert

[2019-12-30 21:21] mraible commented on #7608
@cbornet Do you know how to get tests to work? I'm getting the following error when I run `./mvnw test`. It seems like none of the tests with `@SpringBootTest` are being executed.

[code]

[2019-12-30 21:52] mraible commented on #7608
@cbornet Nevermind. I was able to solve this warning by changing the junit exclusion to:

[code]

I also realized you have to run `mvn verify` for the Spring Boot tests to run.

[2019-12-30 23:03] #10565 closed

[2019-12-30 23:11] pascalgrimaud commented on #10565
I'm increasing the bounty as there is much more work than expected

[2019-12-30 23:17] DanielFran commented on #10565
@murdos @mraible Thanks for your help. You both deserv a part of the bounty!
How do you want to share?

[2019-12-30 23:20] mraible commented on #10565
@DanielFran No need to include me, I only added and if statement! 🙂

[2019-12-31 06:35] vt-appsvolt commented on #5833
@deepu105 and @jdubois

I have around 40 entities in my angular project.
Jhipster version - 6.1.0
But I have faced the same loading issue in main.bundle.ts and other  Bundle files. When I run my app into dev mode, the loading time is around 2 mins and the same time for production.

 I tried so many things to optimize my application but not getting any positive response. Can you please help me for

[2019-12-31 07:03] kaidohallik opened #11060 "Health check page not working in Spring Boot 2.2"
##### **Overview of the issue**

As explained in #10909, Actuator health endpoint API has breaking changes in Spring Boot 2.2

So at least in Angular health page is empty with current master.

##### **Motivation for or Use Case**

Health page should work.

##### **Reproduce the error**

Generate app with current master, run it, and navigate to Administration --> Health

Error in browser console an

[2019-12-31 07:22] kaidohallik commented on #11060
About ping health indicator: https://github.com/spring-projects/spring-boot/issues/17926

[2019-12-31 07:39] pascalgrimaud commented on #11060
@kaidohallik : if I understand well, there are som impact on our JHipster Registry right ?
- JHipster Registry uses SB2.1
- our applications will use SB2.2
- will our Registry be compatible with old and new applications ? I'm not sure, so it could be a breaking change here

[2019-12-31 07:47] jdubois commented on #5833
I'm sorry but I don't have the time at the moment. This is 2 years old, and recently we've done many optimizations, have you had a look at upgrading? I'm not even sure we had lazy loading at that time.

[2019-12-31 08:22] kaidohallik commented on #11060
Actuator in SB2.2 supports both API v2 and v3. So it's client choice which API version to use. Changing client code in generated app doesn't affect JHipster Registry in any way.

[2019-12-31 10:51] murdos commented on #10565
@mraible but you're the one that detected the spring boot version conflict! 😀

How about $200 for @DanielFran and me, and $100 for @mraible ?

[2019-12-31 11:45] Tcharl commented on #10469
Can we close this one after and rolling back the #10845 PR? According to the doc, and at least for Oauth2 (don't know for JWT), there's nothing more to achieve than the original code in order to handle scope but using the right spEl (`hasAuthority("SCOPE_scope")`), so should even work without #10075.

I'm not that confortable to add two deprecated spring-oauth2 library as well as seing deprecated

[2019-12-31 12:34] atomfrede commented on #9967
@jhipster/developers As we have Boot 2.2 merged now, I would like to go on with the first beta support for neo for the next release and use @michael-simons work and create a first PR to get this forward, any objections?

[2019-12-31 12:38] michael-simons commented on #9967
Not from our side. Quite the contrary, we have a SDN/RX Beta out with all required features as well as the final Neo4j bolt driver. Let’s pair on this sometime early January.

[2019-12-31 12:39] atomfrede commented on #9967
Sounds great! Thanks for the swift response. Have a happy new year!

[2019-12-31 13:27] xetys opened #11062 "adding relationships to Authority"
##### **Overview of the issue**

It is possible to create relationships from user-generated entities to the built-in `User` entity, if a user wants to extend the user without modifying the actual user entity. The same thing is not possible to do with the `Authority` entity, because of:

1. JDL import is not aware of the `Authority` exception. So it either complains about that the `Authority` entit

[2019-12-31 14:13] PierreBesson commented on #11010
@avdev4j I agree with you that the dependency need to be added dynamically to the existing app. Maybe we can use the existing jhipster hooks that are used by blueprints to add a dependency.

[2019-12-31 14:18] deepu105 commented on #5833
Yes, the latest version of JHipster has lazy loading and tree shaking all
enabled and should produce much less bundle size and faster load time. If
you can upgrade plz do so. Else generate and new project with latest
version and compare changes with your app and pick the lazy loading related
changes

On Tue, 31 Dec 2019, 8:47 am Julien Dubois, <notifications@github.com>
wrote:

[2019-12-31 15:41] jkutner commented on #10876
Yea, I'll take a look

[2019-12-31 16:56] PierreBesson commented on #10916
For me this looks like a potentially huge bug that thankfully happens rarely (I have never seen it). Indeed there is no failover for cluster discovery if the initial registration fails at startup time. We should definitely change our code to use the Hazelcast recommended way even if it uses technology specific dependencies. Those can be conditionally enabled on the application by using the combina

[2019-12-31 16:59] AlexandreCassagne commented on #10916
Sadly, it is easy to reproduce for me - in fact, it happens anytime I launch all instances simultaneously (e.g. kill all instances, wait, and start again).

Perhaps my configuration is slightly different though.

[2019-12-31 20:43] atomfrede commented on #10958
Yes not sure about testcontainers but maybe make it an option.

[2020-01-01 07:30] vt-appsvolt commented on #5833
@deepu105
@jdubois

Thanks for the sharing information. Apart from lazy Loading is any other thing I need to take care of.
And also can I move all project files from x - version to the latest version without using the command **jhipster upgrade**.

[2020-01-01 10:20] deepu105 commented on #5833
You have to do it manually then. What I fo in such cases is copy the
.yo-rc.json file and the .jhipster folder with all entity json files to a
new folder and run jhipster command after upgrading to new version. Then
use something like beyond compare and pick changes required

On Wed, 1 Jan 2020, 8:30 am vt-appsvolt, <notifications@github.com> wrote:

[2020-01-02 06:24] pascalgrimaud commented on #11062
It has always been the case since years.
So for me, it's not a bug but a feature.

The implementation could be similar to what we do for User, but it will impact jhipster-core, jdl, etc

Do you plan to take this ticket @xetys ?

[2020-01-02 11:11] xetys commented on #11062
Maybe, I'm gonna check how my schedule is

[2020-01-02 14:58] #11060 closed

[2020-01-02 18:00] Tonterias opened #11071 "CLI v6.6.0 does not allow base name with dots"
##### **Overview of the issue**

CLI v6.6.0 does not allow base name with dots.

D:\JHipster\mibarv1>jhipster
INFO! Using JHipster version installed globally
INFO! Running default command
INFO! Executing jhipster:app
INFO! Options: from-cli: true

        ██╗ ██╗   ██╗ ████████╗ ███████╗   ██████╗ ████████╗ ████████╗ ███████╗
        ██║ ██║   ██║ ╚══██╔══╝ ██╔═══██╗ ██╔════╝ ╚══██╔══╝ ██╔═════╝ █

[2020-01-02 18:01] #11071 closed

[2020-01-02 20:06] #11019 closed

[2020-01-03 06:24] pascalgrimaud commented on #11053
For now, let's close this as we can't reproduce the issue.
@Shakibaei : feel free to add more information to help us to reproduce, then we can reopen the issue

[2020-01-03 06:24] #11053 closed

[2020-01-03 06:38] gregu commented on #10142
Bug is still present with "jhipsterVersion": "6.4.1" and react.
Try this example:

entity Offer {
    name String required
    description String
}

entity Category {
    name String required
    description String
}

relationship ManyToOne {

    Offer{user required} to User
    Offer{category required} to Category

}

[2020-01-03 06:40] pascalgrimaud commented on #10142
@gregu : plz, try the last version v6.6.0 and tell us if you can reproduce the issue. If it's the case, open a new ticket with all information

[2020-01-03 12:22] mshima commented on #10963
@pascalgrimaud I think we should go ahead and merge both PRs.

[2020-01-03 12:55] wmarques commented on #10928
I agree that we should not include those files in the prod build.
However, it's not a big issue as they're not used in the index.html so they are never downloaded by the client, so this doesn't affect client-side performances.

[2020-01-03 13:10] pascalgrimaud commented on #10928
@andreasfranz : so if I understand well, the only optimization would be to decrease the size of the Jar file. In this case, do you want to contribute and improve the packaging part ? You need to have a look at Angular, React and Vue.js too plz ?

[2020-01-03 13:16] pascalgrimaud commented on #10963
OK @mshima : I'm waiting the rebase for the green CI :heavy_check_mark:

[2020-01-03 13:43] vleboulanger opened #11075 "unable to deploy to heroku since upgrade"
##### **Overview of the issue**

I upgrade my project from jhipster 5.8.2 to 6.6.0. All works fine on my computer when I launch with "dev" profile

If I launch on my computer with "int" profile, I have this result :

When I deploy a version on Heroku with "int" profil, I have this stacktrace on log Heroku :

2020-01-03T11:31:05.998523+00:00 app[web.1]: [2m2020-01-03 11:31:05.997[0;39m [31mERROR

[2020-01-03 14:22] vleboulanger commented on #11075
It is an error of me..

In file properties, I have kept jdbc:postgres behind jdbc:postgresql !!

Sorry, I close

[2020-01-03 15:05] vleboulanger commented on #11075
the update on file properties is ok when I launch on my Windows computer

When I deploy on Heroku, I still have the error

[2020-01-03 15:24] gregu commented on #10142
From js console:

`
offer-update.tsx:110 Uncaught TypeError: Cannot read property 'id' of undefined
    at OfferUpdate (offer-update.tsx:110)
    at OfferUpdate (react-hot-loader.development.js:827)
    at renderWithHooks (react-dom.development.js:16260)
    at mountIndeterminateComponent (react-dom.development.js:18794)
    at beginWork$1 (react-dom.development.js:20162)
    at HTMLUnknownElement

[2020-01-03 16:05] gregu commented on #10142
I added code below to jdl and problem disappeared
`
dto * with mapstruct
service * with serviceClass
paginate * with pagination
filter *
`

Now offer-update.tsx source code changed:
[code]

[2020-01-03 22:36] ersinciftci opened #11078 "--target-version option for blueprint in upgrade sub-generator"
##### **Overview of the feature request**

There is a way to specify a target version for the JHipster itself in the upgrade sub-generator using `--target-version`, but there is no way to specify a target version for the blueprint, it always gets the latest version from the npm registry. So I propose a `--target-blueprint-version` option.

##### **Motivation for or Use Case**

We want to publish a

[2020-01-04 00:30] murdos commented on #11078
This feature is already available with `--target-blueprint-versions foo@0.0.1,bar@1.0.2`.
`--target-blueprint-version` was previously available, but has been removed when we added support for using multiple blueprints.

[2020-01-04 00:33] murdos commented on #11078
Reopening because documentation needs to be updated

[2020-01-04 02:53] JinnaBalu commented on #10702
This works in Ubuntu, thanks @pascalgrimaud

[2020-01-04 08:42] #11078 closed

[2020-01-04 13:07] pascalgrimaud commented on #10963
Closing this as both PRs have been merged

[2020-01-04 13:07] #10963 closed

[2020-01-04 19:07] atomfrede commented on #9967
Just for reference:

* [ ] Add support in main generator
* [ ] Add JDL support
* [ ] Add proper integration testing to our pipeline
* [ ] Add support in kotlin blueprint

@deepu105 @pascalgrimaud @jdubois It would be nice to have bounty on this :wink:

[2020-01-04 20:01] amatosg commented on #10891
the idea was to avoid any NPE that *will* occur on null values

[2020-01-04 20:21] ElectronicArmory commented on #9626
I have this same issue on deployment using Boxfuse, but running locally, it works fine.

My environment:

Jhipster: v6.6.0
OS: MacOS Catalina 10.15.2
Java: 9.0.4
Database: MySQL or Postgres

I always get this error deploying using Boxfuse: `boxfuse run target/jhipster-1.0.jar`

Changing the following line in TokenProvider.java from:
`keyBytes = Decoders.BASE64.decode(jHipsterProperties.getSecurity

[2020-01-04 21:49] obxjames opened #11080 "Error when upgrading jhipster 6.4 to Latest"
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "nativeLanguage": "en"
    },
    "jhipsterVersion": "6.6.0",
    "applicationType": "gateway",
    "serverPort": "80

[2020-01-05 01:44] yelhouti opened #11081 "Better defaults for security configuration"
##### **Overview of the feature request**

Hi,

In the current version, we trust the developers to secure there endpoints using `authorized-microservices-endpoints` to decrease the attack surface, I believe that very few people know about this, and even fewer use it. I suggest therefore to have better defaults, instead of:
[code]
 have:
[code]
And adjust the code:
https://github.com/jhipster/gener

[2020-01-05 07:01] mshima commented on #11080
Don’t seems a bug to me. Upgrade does the following:
- creates a jhipster_upgrade branch:
- do a clean generation with the old version
- regenerate with the new version.
- then tries to merge the upgrade commit into the main branch.

If the original file has been changed, then it will conflict.
Conflicts must be resolved manually.

[2020-01-05 07:51] #11080 closed

[2020-01-05 10:24] deepu105 commented on #9967
How much bounty would you like?

On Sat, 4 Jan 2020, 8:07 pm Frederik Hahne, <notifications@github.com>
wrote:

[2020-01-05 11:06] atomfrede commented on #9967
Would say 200 so it can be split nicely is fine.

[2020-01-05 14:34] alexis-puska commented on #10565
when is planed a version with spring boot 2.2 and server side dependencies up to date ?

[2020-01-05 14:53] pascalgrimaud commented on #10565
@alexis-puska : as JHipster is an Open Source project and all of us work on our personal time, there is no ETA. Sorry, just wait and be patient

[2020-01-05 15:15] jdubois commented on #9822
Thanks @atomfrede , yes it looks like what I have in mind. Could you do this in the framework in jhipster/jhipster so we don't generate this code, just use it?

[2020-01-05 15:50] atomfrede commented on #9822
Sure for the key generator itself. Configuration (~3-5 loc) must be generated in addition. Will push the sample today and do a first to jhipster lib.

[2020-01-05 16:07] hfsoares opened #11083 "Usign Materia bootswatch theme, the navbar links are not visible"
##### **Overview of the issue**
After creating the application, using angular and  Materia bootswatch theme, the navbar links are not visible

##### **Motivation for or Use Case**
The navbar links should be visible

##### **Reproduce the error**
Just create the application, using Angular and Materia bootswatch theme

##### **Related issues**
I have not founded a Issue, but there is a stackoverflow

[2020-01-05 21:04] jidma opened #11084 "Websocket not working on Chrome iOS"
##### **Overview of the issue**

Websocket not working on Chrome iOS

I get the following error on "chrome://inspect" :

[code]

At first I thought it was due to SSL but even after securing my domain it still doesn't work.

It works fine on Chrome desktop (Ubuntu) and I can see the user activity when connected as Admin.

##### **Reproduce the error**

jhipster v6.2.0

Angular front end

Websocker

[2020-01-05 22:06] atomfrede commented on #9822
Here is the sample repo (ignore the hibernate properties). The current implementaton behaves as the default `SimpleCacheKey` with an additional prefix. It could be even less code by doing (which also respects target and and methodname).

[code]

[2020-01-05 22:12] postpersonality commented on #11025
I would go with ability to change the resulting relationship table name. But I guess this is too hard since JDL syntax lacks the feature.

I guess jhipster just messed up some variables in the templates. Since there is `../changelog/..._added_entity_constraints_MateriaOriginl.xml` that refers the correct relationship table name (`material_origin_material`). The problem that the table being created

[2020-01-05 22:37] ruddell commented on #11084
I reproduced it, it also seems to affect Safari on Mac, Chrome on iOS uses Webkit for rendering so it makes sense all Safari browsers are affected.

Error looks like something to do with the CSP config:
[code]

If you configure the CSP settings in [SecurityConfiguration](https://github.com/jhipster/jhipster-sample-app/blob/3d3ac52b397e8f14b7dd78c52b08a8833e3c5da7/src/main/java/io/github/jhipster/s

[2020-01-05 23:07] mshima commented on #11025
If you are not using any blueprint, you can try the following:

[code]
You have to rerun the command after first error.

Let me know if it fixes the problem.

[2020-01-06 09:07] jidma commented on #11084
configuring `default-src` worked. Thank you.

[2020-01-06 13:17] #11084 closed

[2020-01-06 13:49] jidma commented on #11075
` java.lang.OutOfMemoryError: Java heap space`

Looks like you're running out of memory

[2020-01-06 13:52] vleboulanger commented on #11075
I think that the memory error is the result of the fact that the application does not launch, visibly, on connection with the BDD

[2020-01-06 14:40] jepp-igus opened #11088 "ConstraintViolation on valid e-mail addresses"
##### **Overview of the issue**
A ConstraintViolation can be thrown if a given email address like example+alias@gmail.com get validated with the given validation regex pattern.

But keycloak doesn't have a problem with the given e-mail addresses.
Because the plus char doesn't make the mail invalid.
So it might be the best solution to use the same regex pattern like keycloak does.

See: https://git

[2020-01-06 15:25] ruddell commented on #11084
For reference here is the Webkit bug https://bugs.webkit.org/show_bug.cgi?id=201591

[2020-01-06 17:10] #11010 closed

[2020-01-07 06:25] SudharakaP opened #11092 "Remove Spring Boot Disk Space Health Check for GAE"
##### **Overview of the issue**

When deploying to Google App Engine (GAE) it is always the case that the disk space health check is down.

![image](https://user-images.githubusercontent.com/12435965/71872417-33962f00-30d1-11ea-9dff-3f2e90949e6f.png)

The reason being that [GAE doesn't allow writing to disk](https://cloud.google.com/appengine/docs/standard/java11/runtime#filesystem_access). I sugg

[2020-01-07 10:49] #11092 closed

[2020-01-08 08:06] GontseNtshegi opened #11097 "Running Jhipster Microservice with TLS"
Hi Good people,

I have an issue when running jhipster registry, gateway and microservice with TLS profile.

I have successfully enabled and ran the registry, gateway and microservice with the TLS profile. And I have successfully added certs to each of the application truststores, so I'm comfortable that there is no SSL Handshake error when these 3 communicate with each other. However when serving

[2020-01-08 10:46] PierreBesson commented on #11097
I think you have to follow the spring cloud documentation on registering https eureka services : https://cloud.spring.io/spring-cloud-static/spring-cloud.html#_registering_a_secure_application

It's nothing specific to JHipster. However, you are welcome to do a PR to https://github.com/jhipster/jhipster.github.io/blob/master/pages/tls.md

[2020-01-08 17:15] hdurix opened #11099 "Too many fake Liquibase data for entity linked to User (MapsId + Oauth2)"
##### **Overview of the issue**

When choosing Oauth2 with a SQL database (so Liquibase) then generating an entity with a relation with User and MapIds option (JPA derived identifier), too many records are generated for the given entity: 4 but only 2 users are created.

##### **Motivation for or Use Case**

The application is starting but Liquibase is failing. Then it's not possible to use this en

[2020-01-08 20:22] atomfrede commented on #11083
I think we only can document that somehow. I guess using `navbar-dark` for other themes may break them.

[2020-01-08 20:29] atomfrede commented on #11075
Can you try to make your heroku instance larger? What kind of instance are you trying to start the application?

[2020-01-09 07:07] kaidohallik commented on #11083
@hfsoares thanks for opening this issue and pointing out the solution.

In Bootswatch:
* primary and dark variants are using `navbar-dark`
* light is using `navbar-light`

But JHipster generates for primary variant `navbar-primary` which is incorrect.

PR for fix coming shortly.

[2020-01-09 07:18] kaidohallik commented on #11083
I opened PR #11102 to fix this.

[2020-01-09 08:37] vleboulanger commented on #11075
I use web Dyno 2X
not enough you think?

[2020-01-09 12:24] #11083 closed

[2020-01-09 20:34] BLKingLLC opened #11104 "Deployment to Google Kubernetes fails"
##### **Overview of the issue**

During kubectl-apply.sh
Received error
error: error validating "console/jhipster-elasticsearch.yml": error validating data:
     ValidationError(StatefulSet.spec): missing required field "selector" in
    io.k8s.api.apps.v1.StatefulSetSpec; if you choose to ignore these errors, turn validation off with --
    validate=false

Logstash Deployment Fails “Pods are pend

[2020-01-09 20:39] atomfrede commented on #11075
Could be but I use it regularly for demos with the free dyno and I never have that problem with a vanilla jhipster app. Do you have entities defined? Can you try a newly created app?

[2020-01-10 03:24] pmverma commented on #11099
Hi @hdurix , this issue is mentioned in https://github.com/jhipster/generator-jhipster/issues/9579 , as problem 3.
Glad you are doing a PR.

[2020-01-10 06:48] pascalgrimaud commented on #10770
@xetys : FYI, the Spring Boot 2.2 branch has been merged

[2020-01-10 10:48] vleboulanger commented on #11075
Hello,
Yes I have thousand entities defined
I will try deply new app next week and come back to you

[2020-01-10 10:55] jdubois commented on #11075
You mean you have thousands of database tables? That might take time, not sure how Liquibase will scale... nor your database in fact.
BTW you need to remove Swagger, but you probably have a warning message in your logs for this.

[2020-01-10 10:56] vleboulanger commented on #11075
not thousand, but 1 hundred, sorry, bad translate

[2020-01-10 10:58] jdubois commented on #11075
Ah, in that case that's "normal".

[2020-01-10 22:47] DanielFran commented on #10691
Spring-boot is planing the update for 2.3.x: https://github.com/spring-projects/spring-boot/issues/19303

[2020-01-10 22:55] GontseNtshegi commented on #11097
Thanks this was very helpful...

[2020-01-10 22:55] #11097 closed

[2020-01-12 17:20] sbrunecker opened #11109 "StackOverflowError in integration tests for OneToOne relationships"
##### **Overview of the issue**
I adapted the example jdl slightly so it looks like this:

[code]

jhipster generates the entities just fine but running `DepartmentResourceIT` causes StackOverflowErrors in all tests:

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]

##### **JHipste

[2020-01-12 19:30] SudharakaP commented on #11104
@BLKingLLC : Can you provide the `.yo-rc.json` file that you used to deploy the project that you saw this error? :smile:

[2020-01-13 03:32] TonyLuo opened #11110 "Hibernate integerated with redission has redis key which ttl is -1 randomly"
##### **Overview of the issue**

##### **Motivation for or Use Case**

Hibernate integerated with redission has redis key which ttl is -1 randomly.
##### **Reproduce the error**
As this will not always happen , we can set a hibernate key ttl to be -1 to reproduce the error manually

##### **Related issues**
Hibernate integerated with redission has redis key which ttl is -1 randomly.
it will trigge

[2020-01-13 06:51] pascalgrimaud commented on #11110
@TonyLuo : can you provide all information to help us to reproduce the issue plz ? just use `jhipster info`

Then, I don't understand how you could have Redis in v6.3.0 as the support was added in v6.4.0

[2020-01-13 06:55] #11037 closed

[2020-01-13 09:02] TonyLuo commented on #11110
@pascalgrimaud FYI
[code]
warehouse@0.0.0 D:\dev\next\warehouse
`-- generator-jhipster@6.6.0

[code]

[2020-01-13 12:19] xetys commented on #10770
thx!

[2020-01-13 12:20] nevadyzm opened #11111 "Searching with elasticsearch does not work for entities that use pagination"
##### **Overview of the issue**

Filtering using elasticsearch does not work correctly for entities with pagination enabled:
- for paginate with pagination nothing happens when you try to search
- for paginate with infinite-scroll the search executes but does not find any entities

##### **Motivation for or Use Case**

According to the documentation this functionality should work out-of-the-box:
h

[2020-01-13 14:19] DanielFran opened #11112 "Implement Asyncapi for Event-driven architecture"
##### **Overview of the feature request**
We already use OpenApi for Rest implementation, would be awesome to implement AsyncApi for event-driven architecture (Kafka,...).

https://www.asyncapi.com
https://github.com/asyncapi/asyncapi

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-01-13 14:20] DanielFran commented on #11112
@cbornet Do you know this project?

[2020-01-13 14:28] rmt21 opened #11113 "JHipster registry and cloud foundry (Pivotal)"
##### **Overview of the issue**

I;m trying to deploy jhipster registry to cloud foundry, however its profiles are being overridden by spring cloud configs 'cloud' profile. I'm unable to get the service running on its normal port of 8761, its constantly defaulting to port 8080. Do you know how to override these properties and get it set up successfully?

##### **Motivation for or Use Case**

Unabl

[2020-01-13 14:30] jdubois commented on #11113
Can't you fix the port using the "server.port" property? Otherwise, you could reconfigure your services to point to port 8080, that would also work.

This isn't really bug, could you open a ticket on StackOverflow instead? I'm closing this because of this.

And please link your Stackoverflow question here, so people can find it.

[2020-01-13 14:30] #11113 closed

[2020-01-13 14:43] rmt21 commented on #11113
Thanks.

https://stackoverflow.com/questions/59718806/jhipster-registry-and-cloud-foundry-pivotal

[2020-01-13 15:48] BLKingLLC commented on #11104
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "net.blking"
    },
    "jhipsterVersion": "6.4.1",
    "applicationType": "monolith",
    "baseName": "burgershop",
    "packageName": "net.blking",
    "packageFolder": "net/blking",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "cacheProvider": "ehcache",
    "enableHibernateCache": true,
    "websocket": fa

[2020-01-13 16:38] cbornet commented on #11112
I know it by name and it looks like a nice initiative. But afaik the tooling is very limited right now, especially for Java. That's why I've never used it on a project and I don't see what we could provide in JHipster.

[2020-01-13 17:31] DanielFran commented on #11112
I was thinking about a sub-generator like the one for OpenApi... but yes, it seems we do not have more than documentation html/md available for java.

[2020-01-13 21:15] kalumet opened #11114 "Mobile responsive menu-bar not working in jhipster 6.0.1"
##### **Overview of the issue**

The dropdown menu is not triggering the router event when watched on a mobile device.

##### **Motivation for or Use Case**

Mobile users are not able to navigate as intendet.

##### **Reproduce the error**

jhipster generator 6.0.1
generate a vanilla monolith application

##### **Related issues**

I haven't found anything so far that would explain the issue. I tri

[2020-01-13 22:15] DanielFran commented on #11112
@cbornet Looking at https://www.asyncapi.com/docs/tooling/ it seems the generator create already java-spring implementation (https://github.com/asyncapi/generator/tree/master/templates/java-spring)

[2020-01-13 22:23] ruddell commented on #11114
I've seen this issue and was going to report it, but it seems to be fixed in master.  I couldn't find the change that fixed it though.

Fixed in master: https://pagination-master.herokuapp.com/
Broken with last release: https://pagination-issue-v-6-5-1.herokuapp.com/

Here is one [possible workaround](https://github.com/ruddell/jhipster-examples/commit/b8393c957b033c960187b8bfc3d7bda74d1cb42d) (yo

[2020-01-14 02:06] TonyLuo opened #11115 "BUILD FAILURE in jhipster 6.6.0"
##### **Overview of the issue**
run mvnw -Pprod verify jib:dockerBuild

[ERROR] Failed to execute goal org.openapitools:openapi-generator-maven-plugin:4.2.2:generate (default) on project warehouse: Code generation failed. See above for the full exception. -> [Help 1]

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**
[code]

##### **Suggest a Fix**

####

[2020-01-14 02:17] yelhouti opened #11116 "BrowserSyncPlugin ghostMode"
##### **Overview of the issue**

This is the second time I wasted few hours trying to debug authentication (sso) performed on a non visible tab, to find out that browserSync is messing with me performing the same clicks on the other tab.
I would suggested disabling ghostMode (enabled by default). What do you guys think? is anyone using this?

##### **Motivation for or Use Case**

People who wants

[2020-01-14 06:02] cbornet commented on #11112
That's code for spring-integration so you'd have to choose to use spring-integration first. If you're interested, maybe you could do it as a module ?

[2020-01-14 07:28] pascalgrimaud commented on #11112
I think it should go to module first, instead of main generator

[2020-01-14 07:46] pascalgrimaud commented on #11115
I think you have some problem with your proxy.
What is it maven.aliyun.com ?
See your logs:
`Unable to load URL ref: https://opensource.zalando.com/problem/schema.yaml`

[2020-01-14 07:48] fdelbrayelle opened #11118 "Dependency Status link is dead"
"Dependency Status" link in home README.md is a dead link leading here : https://david-dm.org/jhipster/generator-jhipster-module

[2020-01-14 08:06] hdurix commented on #11099
Great, thanks @pmverma, I didn't know that this issue was known.

I have got the fix ready but I want to be sure that e2e tests are failing when liquibase does not run successfully, because in this case, the app is not totally usable. That's my goal for today :)

[2020-01-14 08:08] pmverma commented on #11109
The problem is defining the relations `required` on both sides.

[code]
When IT runs, JobHistorywill try to create a `department `-> During the creation of that department , the Departmentwith try to create a `jobHistory ` -> Again JobHistory will try to create a `department ` -> And Department will too.

This loop-cycle will never end and results in `java.lang.StackOverflowError`.

Do you really

[2020-01-14 09:54] qmonmert commented on #11114
@kalumet indeed it works with the latest version of JHipster 6.6.0 (I just checked) cc @ruddell

[2020-01-14 10:04] avdev4j commented on #10958
We could remove the first point :

As it has already been done and merged ;)

[2020-01-14 10:04] pascalgrimaud commented on #11118
Then, let's wait a little bit so

[2020-01-14 11:23] #11115 closed

[2020-01-14 13:04] #11099 closed

[2020-01-14 13:46] Shaolans commented on #11110
Hi, could you describe a bit more on how to reproduce it (I tried without success) ? Like steps of commands.

[2020-01-14 14:15] extraneu opened #11120 "Cascade delete on persistent_audit_evt_data."
Hello,

The template for schema creation in liquibase (initial_schema.xml.ejs) doesn't declare onDelete="CASCADE" for persistent_audit_evt_data table; IMHO it should, as it's a composition, and @ElementCollection implies cascaded deletion when deleting through EntityManager anyway.

Best regards,
Flávio

[2020-01-14 15:57] pascalgrimaud commented on #10958
If I remember well, @cbornet you wanted to switch back to Tomcat, instead of staying with Undertow. Am I correct ? If yes, we could add it to the list.

[2020-01-14 16:32] kalumet commented on #11114
Thanks for the verification and the workaround.

[2020-01-14 16:49] SudharakaP commented on #11118
@pascalgrimaud : Okay david-dm is back up again. So I am closing this one; we will probably see this from time to time for sure, but from what I've seen its not too often. Feel free to reopen if you guys decide to remove david-dm completely. 😄

[2020-01-14 17:17] deepu105 commented on #10958
Any specific reason to switch from Undertow?

[2020-01-14 17:27] extraneu opened #11121 "[nitpick] Shouldn't Application.java read from ServerProperties bean?"
Hello,

Application.java template obtains server settings (port, contextPath) from Environment. Obtaining the settings from the ServerProperties bean would be more maintainable AFAICS, wouldn't it?

Best regards,
Flávio

[2020-01-14 17:48] ruddell commented on #11114
As it's fixed in the latest release v6.6.0 and a workaround is provided for those who can't upgrade yet, I'm closing the issue.

If someone wants to find the exact fix, it's somewhere between [v6.5.1 and v6.6.0](https://github.com/jhipster/generator-jhipster/issues?q=milestone%3A6.6.0+is%3Aclosed) but there are 150+ PRs from that period so it's hard to tell from a quick look.

[2020-01-14 17:48] #11114 closed

[2020-01-14 17:53] hdurix opened #11122 "DDD approach in JHipster"
## DDD approach

For now, JHipster is only able to create CRUD entities and JHipster's goal is to help developers in building all the technical aspect of an application.
It could be interesting to explore how JHipster could also help them build the "business" of the application.
One approach for that is the methodology called [Domain Driven Design](https://en.wikipedia.org/wiki/Domain-driven_desig

[2020-01-14 19:32] jdubois commented on #10958
Concerning Tomcat vs Undertow, it's initially my decision so let me recap:

- Undertow starts a bit faster and we never had any issue with it. I didn't check, but I also guess it's lighter.
- BUT it looks like nobody uses it outside of us. This means we need to configure it specifically, and that we sometime loose monitoring data (on Azure Spring Cloud, you get automatic monitoring of Tomcat, but

[2020-01-14 19:34] mraible commented on #10958
I thought we used Undertow because it has HTTP/2 support.

[2020-01-14 19:39] jdubois commented on #10958
@mraible I had no idea about this, so if this was an argument then it didn't come from me! Anyway, Spring Boot should support Tomcat with HTTP2 now.

[2020-01-14 21:50] xetys commented on #11062
I'm working on this already

[2020-01-14 22:49] pascalgrimaud commented on #11122
For me, it is a must have. It can be helped by repositories as example, by documentation, by modifying the current generated code etc...
There is a lot of work I think, so I'm putting a big bounty on this. You'll be the lead on this part @hdurix, don't hesitate to ask help

[2020-01-14 22:50] pascalgrimaud commented on #11122
cc @nonomoho as you probably have ideas on this

[2020-01-14 22:58] DanielFran commented on #10565
@murdos Since @mraible did not wan't a part of the bounty, we can divide, $250 for each one.

[2020-01-15 00:35] johnbanq commented on #11122
I think the most important part of DDD lies in the strategic patterns(bounded contexts and context mapping) instead of the tatics patterns(repositories, aggregates etc). As long as you have a clear separation of contexts, a good idea of their relationships and a conceptual model within each context, you are using DDD even you are just CRUDing all the way through in each these contexts.

So perhaps

[2020-01-15 01:25] huytmb commented on #11122
I completely agree with @johnbanq advice. In early phase, starting with "clean architecture" for complex domain model.

[2020-01-15 05:35] kaidohallik commented on #11114
FYI: I tried https://pagination-issue-v-6-5-1.herokuapp.com/ with Chrome and Opera in Android and working fine, so it can be iOS specific.

[2020-01-15 06:39] kaidohallik commented on #11114
When looking at Git history then some candidates for fixer are:

1. removing bold from navbar hover in Angular default theme (bold caused dropdown width changes on hover on menu items with longest texts which caused e2e failures in some configs): #10820

2. updating dependencies: #10942

[2020-01-15 08:25] ecostanzi commented on #11121
Hi, not sure I understand the problem. The ServerProperties you are mentioning can be set into the application*.yml files under the `server:` property.

There's already this section in the application-prod.yml template:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/application-prod.yml.ejs#L251

[2020-01-15 09:54] Tonterias opened #11124 "Firefox: If you edit any entity it does not look like Chrome (it's much worse)"
Firefox: If you edit any entity it does not look like Chrome: DatePicker does not really work. HTML looks and feels pretty weird.

##### **Overview of the issue**

It is not a big issue, but may be it is easy to fix. I do not know.

##### **Motivation for or Use Case**

Make it look as Chrome

##### **Reproduce the error**

No errors, just the weird look and feel. See image

##### **Related issues

[2020-01-15 11:04] gmarziou commented on #11122
Do you have a specific flavor of "clean architecture" in mind? Hexagonal, onion, ...
Personally I like the modulith approach: package by feature/context and using spring events for inter module communication

[2020-01-15 11:16] mohamedzaki90 commented on #11122
@gmarziou spring events have the problem of lost events if an exception happens during event publication, listeners will never get notified

[2020-01-15 15:08] MathieuAA commented on #11062
Hi @xetys! I'm available if you need any help dealing with the JCore part.

[2020-01-15 15:15] ruddell commented on #11124
Can you please fill out the rest of the template so that someone can try to reproduce/fix?

A screenshot showing the differences would also be helpful.

[2020-01-15 15:30] Sanne commented on #9250
hi @jdubois ,

not meaning to reopen - but to clarify: I'm one of the engineers maintaining Hibernate and indeed I'd not recommend using NONSTRICT_READ_WRITE as a general default.

I would agree with you that it provides a good compromise in many cases; yet I'd recommend making sure users understand the compromise they are getting into. For defaults, a safer choice would be wise.

It also depends

[2020-01-15 16:16] jdubois commented on #9250
Hi @Sanne !
If you don't recommend using NONSTRICT_READ_WRITE, then I believe we should follow your recommendation, as you're the expert here. This choice was made very early in JHipster, and was my personal default at the time, but now we have many more users, it's different. I see many people just following what JHipster does, and trusting us to provide "safe defaults", when originally my idea w

[2020-01-15 16:39] gmarziou commented on #11122
Well, I never experienced this in my apps, do you have some reference to share?

My understanding is that if an exception happens during event publication fails, the publisher will get it and its transaction will rollback. So I can't imagine how you could lose an event.

[2020-01-15 16:44] mohamedzaki90 commented on #11122
@gmarziou take a look at the caveats here
https://www.baeldung.com/spring-data-ddd

here's a proposed workaround (by the author of @Modulith)
https://github.com/odrotbohm/spring-domain-events

[2020-01-15 17:00] gmarziou commented on #11122
Thanks, I have never experienced this case probably because I always used them inside a transaction and recording state change in database both from publisher and listeners.

[2020-01-15 20:18] murdos commented on #10565
👍

[2020-01-15 22:39] gmarziou commented on #11122
Interesting DSL: https://www.innoq.com/en/blog/code-your-model/

[2020-01-15 23:03] SudharakaP commented on #11121
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-01-15 23:03] #11121 closed

[2020-01-15 23:04] SudharakaP commented on #11120
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-01-15 23:04] #11120 closed

[2020-01-16 00:04] johnbanq commented on #11122
My take on this is pretty much the same, build modulith and use a hexagon-ish architecture in each of the contexts but I also allow cross-context communication by calling interfaces in a dedicated "api" package in each context(the instances to be called are provided by DI).

Maybe we can build a small sample that demonstrates this as a starting point?
PetClinic might be a good project to start

[2020-01-16 07:10] SudharakaP commented on #11104
@BLKingLLC : I tried this out using the same `.yo-rc.json` file you provided and I couldn't recreate this exact same error. However I did see some error which might also point to the problem you are facing.

I had to increase the memory for Elasticsearch, since otherwise Elasticsearch fails to start and thus the application fails on startup as well. After increasing the memory allocation everythin

[2020-01-16 08:00] pascalgrimaud opened #11129 "Redis Cluster support"
##### **Overview of the feature request**

Our current implementation of Redis is for single server. In real production, it will never be the case, it will be with a Redis Cluster.

##### **Motivation for or Use Case**

A single server of Redis will be never used in prod.

See https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/CacheC

[2020-01-16 08:02] pascalgrimaud commented on #11129
cc @Shaolans @juliensadaoui @avdev4j

[2020-01-16 08:56] DanielFran commented on #10565
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/13194

[2020-01-16 12:21] gthiabaud opened #11131 "Impossible to commit with GIT a pure JHIPSTER Vanilla application in WINDOWS"
##### **Overview of the issue**
I generate an application by using jhipster.
I try to commit in my github projet.
I have the following error message from git client (I try with diffrent client including Jetbrain Java IDE) :
`husky > pre-commit (node v10.16.3)
‼  lint-staged generated an argument string of 17387 characters, and commands might not run correctly on your platform.
It is recommended to

[2020-01-16 13:53] xetys commented on #11062
I've actually done everything needed in JCore two days ago, I try to push it to a PR tonight, as it worked great. The harder part of this is in the generator, but even here I'm done with the server generator and now I am preparing my self for the frontend part (in particular React, as I've never used React before)

But I'm almost done with it

[2020-01-16 14:37] ruddell commented on #11131
As a workaround, you can pass the `--no-verify` flag to the `git commit` to skip the pre-commit git hook.

[2020-01-16 17:52] vishal423 commented on #11131
looks like we upgraded the `lint-staged` dependency version on `react` side and that caused the issue. Short term solution should be to change that back to `8.2.1`

[2020-01-16 19:12] Tonterias commented on #11124
Sorry, Jon. I hopw it is fine now.

[2020-01-17 02:59] SudharakaP commented on #11124
@Tonterias : Could you share the `.yo-rc.json` and the JDL files for the app you created. That will enable me to recreate exactly what you experienced. :smile:

[2020-01-17 05:44] mraible commented on #11116
I don't understand why this is a problem. The whole point of Browsersync is to sync across browsers and tabs.

[2020-01-17 05:57] yelhouti commented on #11116
@mraible I thought it was added in the beginning for livereload, but here is why it's a problem for me:
When I have 2 tabs open:
I click menu + login in a tab, go through authentification, the 2 tabs are are logged in, in dev mode (since both did the same operations, I didn't know that), and when I do that in prod, they are not, debugging that before even knowing that I have browserSync and that b

[2020-01-17 06:20] vishal423 commented on #11116
I agree with @mraible as the intended purpose is to test the application layout across different screen sizes/resolutions without requiring the user to perform a repetitive operation on each screen.

[2020-01-17 06:22] yelhouti commented on #11116
I'm not saying it's not great, I'm just saying that it should be disabled by default not to confuse people...

[2020-01-17 06:47] mraible commented on #11116
If we make the change you're suggesting, will it still sync between multiple browsers (e.g., Firefox and Chrome)? If not, I think we should keep the current settings.

[2020-01-17 06:53] yelhouti commented on #11116
I fill like I didn't explain well what my problem is. IMO, jhipster should NOT have any feature that changes the behavior of the browser without the developer enabling it, this creates too much (unneeded) confusion, and wastes a lot of time debugging problems that shouldn't exist.

I get that the plugin is useful, but if everyone using it, without knowing, couldn't wastes hours debugging problems

[2020-01-17 08:35] murdos commented on #11116
I think it should be enabled by default, because having sync between multiple browsers is a more frequent use case than debugging authentication for an usual jhipster user.

[2020-01-17 12:32] yelhouti commented on #11116
@murdos that is not the only thing people might be debugging...I have used JHipster for more than a year before knowing that this feature exists so...

[2020-01-17 15:01] hdurix commented on #11099
Bounty claimed: https://opencollective.com/generator-jhipster/expenses/13215

[2020-01-17 16:09] cedricms opened #11135 "Additional EU GDPR compliance : user account deletion"
##### **Overview of the feature request**

In addition to the possibility of updating one's user data in the settings, a user should be able to "delete" their account.

This would delete their personal data (login, first and last name, and e-mail) in the JHI_USER table and the "principal" column in JHI_PERSISTENT_AUDIT_EVENT could be replaced by the user id.

A commented "hook" could be placed in

[2020-01-17 18:10] pascalgrimaud commented on #11116
I would suggest to keep the current behavior. Then we can document this part and explain how to disable it.
So everybody will be happy.

Are you ok @yelhouti ? Can you PR the documentation plz ?

[2020-01-17 18:19] pascalgrimaud commented on #10575
@nonomoho : I assigned the ticket to you, as you're a Vue.js expert.

Then, let's add a bounty, if it's more work than expected, I'll increase it later.

[2020-01-18 10:47] gmarziou commented on #11116
This could be confusing for new users, I have answered at least 2 questions about it on stackoverflow like [this one](https://stackoverflow.com/questions/59102303/how-to-not-sync-states-between-browser-tabs-in-jhipster-react-project).

[2020-01-18 11:37] yelhouti commented on #11116
@gmarziou thank you, that is exactly my point. @pascalgrimaud I'm sorry I can not agree, I am not trying to force my opinion on others. I just feel that documenting this wouldn't help at all.
Once you understand why your browser is acting weird, it is easy to disable. Before that, you feel like banging your head against a wall. This is the kind of features, IMO, unless asked for (enabled manually)

[2020-01-18 11:59] DanielFran opened #11136 "Update Cucumber versionfrom 4.8.x to 6.6.x"
##### **Overview of the feature request**

See:
- https://cucumber.io/blog/open-source/announcing-cucumber-jvm-v5-0-0-rc1/
- https://github.com/cucumber/cucumber-jvm/blob/master/release-notes/v5.0.0.md
- https://github.com/cucumber/cucumber-jvm/blob/master/release-notes/v5.1.0-v5.7.0.md
- https://github.com/cucumber/cucumber-jvm/blob/master/release-notes/v6.0.0.md

-   [x] Checking this box is man

[2020-01-18 20:15] PaulWaldo opened #11139 "React compile error on new project"
##### **Overview of the issue**

I created a brand new JHipster application with these options
[code]

I then ran `./mvnw`, which failed thusly
[code]
##### **Motivation for or Use Case**

A react project cannot be created

##### **Reproduce the error**

* Create a new React JH Monolithic project with Postgres SQL, and disk-based H2 persistence
* Run `./mvnw`
* `login.tsx` fails to compile, maven

[2020-01-18 21:09] ruddell commented on #11139
It's an npm transitive dependency issue which is why it would affect new projects. I'm guessing it will be fixed upstream eventually.  https://github.com/DefinitelyTyped/DefinitelyTyped/issues/41674

Master is fixed by casting to `any` https://github.com/jhipster/generator-jhipster/pull/11117/commits/50973e295494d318eea8cbff36cb21f1871ff63e

To keep type checking, you can do `npm install @types/hi

[2020-01-18 21:15] PaulWaldo commented on #11139
I was able to get around the issue simply by running `./mvnw` again.

[2020-01-19 01:48] DanielFran opened #11141 "Update Gradle version to 6.1.0"
-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-01-19 01:50] DanielFran commented on #11141
.

[2020-01-19 08:15] ramAdam commented on #6393
hello @jdubois @jkutner I have the exact same issue deploying at heroku, using jhipster version
6.6.0

`Failed to instantiate [com.zaxxer.hikari.HikariDataSource]: Factory method 'dataSource' threw exception; nested exception is java.lang.IllegalArgumentException: URL must start with 'jdbc`

Can you please help me with that. Thanks

[2020-01-19 13:28] mshima opened #11142 "App Blueprint conflicts with multiples blueprints."
##### **Overview of the issue**

When more then one blueprint with app blueprint is used a new branch of every sub-generator is created for each blueprint.
Multiples instances of each blueprint sub-generator included.
When running 3 blueprints, 3 branches of every sub-generator is created.

##### **Motivation for or Use Case**

App blueprint was introduced to make possible to customize prompts.
A

[2020-01-19 15:08] jdubois commented on #6393
Hi, very strange that you have the exact same issue, this was two major releases ago!! Can you try doing the same thing as the patch that solved this issue?

[2020-01-19 15:10] ruddell commented on #6393
@ramAdam See https://stackoverflow.com/a/44530428/3737815 .  If that doesn't help, please open a new issue with the issue template filled out.  If it's a question instead of a bug, please use StackOverflow and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster).

[2020-01-19 15:28] SudharakaP commented on #11139
This is already fixed in our master branch as @ruddell pointed out, as well as a workaround has been suggested. Therefore I believe can be closed. :smile:

[2020-01-19 15:28] #11139 closed

[2020-01-19 19:24] #11141 closed

[2020-01-19 23:07] murdos opened #11146 "New needle for adding new entries in log configuration"
##### **Overview of the feature request**

Have a new needle in the server subgenerator for adding new log level configuration.

##### **Motivation for or Use Case**

https://github.com/hipster-labs/generator-jhipster-entity-audit/issues/62 is a good example for the need.

##### **Related issues or PR**

-   [X] Checking this box is mandatory (this is just to show you read everything)

[2020-01-20 03:26] danielnixon commented on #11139
Your state is still (and always was) `any` if you pin to v4.7.3, so you don't _gain_ type checking by pinning to v.4.7.3. It's just that you don't have to cast to `any`.

[2020-01-20 05:26] SudharakaP commented on #10099
@pascalgrimaud : I have some spare time and if it's okay, I'd like to do this one in the next week or so. We can probably include this in the v7 roadmap? If that's in agreement let me know so that we can reopen the issue. :smile:

[2020-01-20 06:49] pascalgrimaud commented on #10099
yes if possible, let's do it for v7, but we have so much more interesting stuff to priorize, so not sure this one deserved you spend time to achieve

[2020-01-20 08:12] pascalgrimaud commented on #11135
It's an interesting feature, and all projects should consider this.

FYI, this logic is already implemented in our JHipster Online project. See https://github.com/jhipster/jhipster-online/blob/master/src/main/java/io/github/jhipster/online/service/UserService.java#L263

Then, for implementing this in the main generator, I think it's a lot of work to achieve it completely.

Anyway, what can be done

[2020-01-20 08:50] jdubois commented on #11135
Also we've already discussed this many times but those audit tables should be removed. This data should go in some temporary log, not in a database. We need to work on this for JHipster 7.

[2020-01-20 10:07] TonyLuo opened #11147 "docker swarm issue: Compose file contains unsupported options: extends: Support for `extends` is not implemented yet"
##### **Overview of the issue**
 docker stack deploy --compose-file docker-compose.yml demo

docker swarm issue:
Compose file contains unsupported options: extends: Support for `extends` is not implemented yet

##### **Motivation for or Use Case**

##### **Reproduce the error**
[code]

docker stack deploy --compose-file docker-compose.yml demo
##### **Related issues**

##### **Suggest a Fix**

###

[2020-01-20 15:18] SudharakaP commented on #11147
@TonyLuo : Would you be able to complete the template so that we can easily reproduce your issue. Specifically, sharing the `.yo-rc.json` file and any JDL files you have might be useful. 😄

https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue

[2020-01-20 15:50] sbrunecker commented on #11109
Thanks for investigating this issue.

I don't think I'll absolutely need the `required` flag on both sides of my relationships. It would be nice if JHipster printed a warning, though.

[2020-01-20 18:56] ksilz commented on #11122
@hdurix I hope to start on my first DDD JHipster / Angular application on Feb 1. To me, DDD has two advantages:

- **Makes it easier to change application in the future:** That’s the obvious advantage.
- **Indirectly enables JHipster updates:** I think one of the woefully underused benefits of JHipster is to keep your application up-to-date. In order to do that efficiently, you need to stay away f

[2020-01-20 22:04] avdev4j commented on #11142
I suppose it's related to the PR #11134 opened by @cmyker

@cmyker could you give details and a way to reproduce it, the expected result and what really happen.

Thanks

[2020-01-20 22:12] mshima commented on #11142
Actually, https://github.com/jhipster/generator-jhipster/pull/11134 made me realize this error occurs.
With https://github.com/jhipster/generator-jhipster/pull/11134 a blueprinted app will always load an sub-generator, so this bug will happen for sure with https://github.com/jhipster/generator-jhipster/pull/11134 applied.
I opened this issue because I am pretty sure think this will happen without

[2020-01-21 02:12] mshima commented on #11142
Just confirmed.
They are 2 bugs.
- First one that was first spotted by @cmyker at https://github.com/jhipster/generator-jhipster/pull/11134 should be fixed by https://github.com/jhipster/generator-jhipster/pull/11153
- The second one is this issue itself.

[2020-01-21 03:01] pmverma commented on #11109
Of course, printing a warning will help here.
@MathieuAA Can this kind of warning message be printed when using JDL?

[2020-01-21 06:08] vishal423 commented on #11116
I believe synchronization across multiple devices is the primary reason to have it included as default in JHipster. Do you see other benefits that it provides on top of `webpack-dev-server`? If we go with the proposed change, then, why should we keep this integration in the first place?

[2020-01-21 08:14] MathieuAA commented on #11109
Yes there can be a warning but I don't see why there should be. This is an issue regarding the generated java code to the ORM, right?

[2020-01-21 08:29] pmverma commented on #11109
The generator checks and generates the code for `required` object.
Please check more.

https://github.com/jhipster/generator-jhipster/blob/5a65672bd6dd09d88ce99e4d321f3d9b382921d1/generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs#L467-L473

https://github.com/jhipster/generator-jhipster/blob/5a65672bd6dd09d88ce99e4d321f3d9b382921d1/generators/entity-server

[2020-01-21 09:05] pascalgrimaud commented on #11109
IMO, I don't think we should spend time on this, to display warning.
The problem comes from the initial modelisation. If something is wrong at the beginning, it's normal that the generated is wrong.
For example, you can have a more complex use case:
- 4 entities: A, B, C, D
- A requires B
- B requires C
- C required D
- D required A
You'll have the same problem but it's more difficult to "code" th

[2020-01-21 09:27] cedricms commented on #11135
@pascalgrimaud : sounds good, I'll look into it as soon as I can.

@jdubois : do you consider the porting from database to logs for that data as a separate issue?

[2020-01-21 09:52] ecostanzi commented on #10510
@ersinciftci I agree. The main problem so far is that each generated client has its own [ClientConfiguration file](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/clientConfiguration.mustache). This file can be customized and should not be overwritten by the build process. I'll open another issue to discus

[2020-01-21 09:58] jdubois commented on #11135
@cedricms yes it's a separate issue, and we haven't worked on this at all yet. But for me this should be in a separate log file, if we keep this feature at all (I don't find it that much useful, it adds a lot of complexity, and also lowers performance at log in)

[2020-01-21 10:01] pascalgrimaud commented on #11135
Ok, I'm adding "Remove/Change Audits" in the roadmap v7

[2020-01-21 12:35] gmarziou commented on #11116
In fact, having browser-sync enabled by default violates the principle of least surprise.

I note that none of the frontend framework CLIs offers it by default.

Personally, I'm not a bug fan of this feature, I see it mainly used during conference talks to get a wow effect. At work, I would rather use it in QA testing but it's not possible because it isn't available in production builds (for obvio

[2020-01-21 13:34] vishal423 commented on #11116
I always thought about it as a value-add provided by `JHipster`. I don't use it enough in my projects to have a strong bias to include as default. If everyone agrees, we can remove it from JHipster in `v7` along with migration to `Angular CLI`.

[2020-01-21 13:41] yelhouti commented on #11116
I think we can keep the config commented for example, as same people might be unhappy removing it completely, it could also be added in the documentation tips& tricks part... @gmarziou thank for pointing out the principal violated I didn't know about the name of it. but it sure felt wrong for me...

[2020-01-21 14:49] sbonaime commented on #7157
Hi,
I have a problem with persistent keycloack. I folllow @ruddell  advice with the following keycloack.yml
[code]
I start my docker image with

Here are the log
[code]

How do I have to modify my keycloack.yml ? Thank you

[2020-01-21 16:15] wmarques commented on #11116
I don't like commented code in what we generated, we either remove it and provide a tip in the doc, or we keep it.

I would vote for removing this, I agree that this is quite nice to show this during conference but not really valuable every day.

[2020-01-21 18:42] smouelhi opened #11156 "Consul configuration in kubernets not properly setup"
##### **Overview of the issue**

When calling the kubernetes subgenerator and having consul as a service registry, the configuration generated is missing some mandatory parameters (selector for the stateful-set).

##### **Motivation for or Use Case**

The YAML configuration generated is missing mandatory parameter.

##### **Reproduce the error**

Create JHipster project with Consul as Service regi

[2020-01-21 18:43] smouelhi commented on #11156
I am submitting a fix in a PR.

[2020-01-21 22:40] gmarziou commented on #11116
What about documenting it in generated project's README.md?

[2020-01-21 23:08] gmarziou commented on #11116
I submitted an idea to Browsersync project as they are requesting suggestions for their future 3.0 version: https://github.com/BrowserSync/browser-sync/issues/1739

[2020-01-21 23:41] PierreBesson commented on #11147
Hi @TonyLuo,

FYI, we do not intend to support docker swarm. In the past I have evaluated docker swarm and it has proven very lacking as a container orchestrator. Moreover use of docker-compose to deploy to multiple hosts has never worked properly beyond hello-world demos. Managing containers on multiple hosts is a hard problem and is better served using the set of abstractions of Kubernetes.
I do

[2020-01-21 23:41] #11147 closed

[2020-01-22 06:22] #11156 closed

[2020-01-22 12:09] yelhouti commented on #11116
@gmarziou nice thing you proposed, but feel that adding to the README wouldn't have helped me (or the other people) understand the problem. I feel that if you didn't enable the sync you wouldn't think it would create problems for you.

[2020-01-22 14:00] gmarziou commented on #11116
@yelhouti yes you're right.

[2020-01-22 14:03] demetrio812 commented on #7112
Hello guys, anything planned on this? I like jhipster but I think that composite keys give us a better and cleaner (also to read) database design

[2020-01-22 14:05] yelhouti commented on #7112
@demetrio812 you can use the following blueprints to support composite keys:
server side: https://www.npmjs.com/package/generator-jhipster-composite-key-server
client side: https://www.npmjs.com/package/generator-jhipster-primeng-blueprint
Do no hesitate to ask questions or fill issues if you have any problem with these.

[2020-01-22 14:33] demetrio812 commented on #7112
Thanks @yelhouti I will check them!

[2020-01-22 14:47] cbornet commented on #10510
Indeed. Maybe this file should be put in `.openapi-generator-ignore` ?

[2020-01-22 16:12] pmverma commented on #11109
You are correct @pascalgrimaud the problem will still exist as mentioned in your case.
This may also be rare case in real world otherwise we will many issues complained for it.

The user should be responsible for his/her modeling.

[2020-01-22 16:30] BLKingLLC commented on #11104
@SudharakaP I tried your modification and it didn't help.  What did help, however was changing my google cluster virtual CPUs; so I think what needs to happen is just a documentation update to state what the minimum virtual CPUs and Memory are for a full deployment.

I do, however, still get a failure on loading the burgershop app itself.  It crashes with this error ```Could not connect to http://

[2020-01-22 16:40] SudharakaP commented on #11104
@BLKingLLC : Can you elaborate more on what change you did for your virtual CPUs; what memory did you use? I can do some more testing on this to find out some reasonable defaults. 😄

It seems that your app cannot connect to the elasticsearch cluster. In my case I had the same error but when the memory was increased it went away. Could you share the elasticsearch cluster logs? I think you can acces

[2020-01-22 17:11] BLKingLLC commented on #11104
@SudharakaP I was originally creating the cluster with this command ```gcloud container clusters create burgershop```  This didn't provide enough CPUs so I created a cluster through the console and picked a High CPU cluster.  This solved the ```not enough cpu``` error.

Even with the cpu/memory change that you suggested I get this error ```Cannot schedule pods: persistentvolumeclaim "burgershop-ma

[2020-01-22 17:28] PierreBesson commented on #11131
It looks like a lint-staged bug rather than a jhipster bug.@gthiabaud, can you try the latest version of lint-staged (10.0.2) to see if it fixes your issue. Or maybe try with *git bash* rather than CMD.exe.

[2020-01-22 17:31] PierreBesson commented on #11088
+1 It's no good not to support email addresses containing a "+".

[2020-01-22 17:34] PierreBesson commented on #11104
Indeed you need quite a bit of compute resources, to run the JHipster Console in Kubernetes. However it's hard to say what the absolute minimum would be. @BLKingLLC could you share with us the specs of the cluster which was "too small" and the one which was "big enough".

[2020-01-22 18:00] BLKingLLC commented on #11104
The small/default cluster had 3 vCPUs and 11.25GB of memory whereas the high-cpu cluster had 8 vCPUs and 30.0GB of memory.

[2020-01-22 20:15] Falydoor opened #11160 "Compilation errors with DTO, OAuth and ManyToMany with User"
##### **Overview of the issue**

Compilation errors below:

[code]

##### **Motivation for or Use Case**

Project should compile.

##### **Reproduce the error**

Generate the app using the JDL below:

<details>
<summary>JDL file</summary>
<pre>
application {
  config {
    authenticationType oauth2
  }
  entities *
}

entity Country {
    name String
}

relationship ManyToMany {
    Country{User(l

[2020-01-22 20:27] geyuqiu opened #11162 "jhi_ is prepended to local because of reserved key word local ? (local as a property of an entity)"
##### **Overview of the issue**
jhi_ is prepended to local because of reserved key word local ? (local as a property of an entity)

##### **Motivation for or Use Case**

##### **Reproduce the error**

define entity:
[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
jhipster 6.5.1

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.j

[2020-01-22 21:28] gmarziou commented on #11162
Local is a reserved word for Oracle database: https://github.com/jhipster/jhipster-core/tree/master/lib/core/jhipster/reserved_keywords

[2020-01-22 21:28] #11162 closed

[2020-01-22 21:28] gmarziou commented on #11162
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2020-01-22 21:29] geyuqiu commented on #11162
[code]

[2020-01-22 21:30] geyuqiu commented on #11162
[code]

[2020-01-22 21:45] gmarziou commented on #11162
I answered you already, no need to paste source code snippets.

This is the expected behavior. If you don't like it you have 3 alternatives:

- configure a different prefix
- rename this filed in JDL
- manually modify generated code

[2020-01-22 23:03] geyuqiu opened #11163 "Remove Deprecated Application Properties"
update deprecated application properties
https://www.jhipster.tech/common-application-properties/

[code]

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-01-23 08:31] kaidohallik commented on #11131
Seems that lint-staged evolved as following:

* version 8 is working quickly and without issues in all operating systems

* version 9 has documented breaking change for Windows: `lint-staged` dropped optimization done for Windows, excerpt from release notes: "_Very long arguments strings are no longer chunked on Windows. Function linters should be used instead to customise this behaviour._". But i

[2020-01-23 10:04] PierreBesson commented on #11131
@kaidohallik Thanks for the analysis. Personally I would not be against using lint-staged v10 even with the little problems in some specific cases but I guess its better to use the most "stable" version.

[2020-01-23 13:00] pmverma commented on #10958
While this is not a feature but can't we just replace all the string literals used everywhere with constants?
For eg,
[code]
There are so many of them everywhere!

[2020-01-23 14:02] deepu105 commented on #10958
Hi Mohan,

yes, we could, but would require some considerable refactoring. Feel free
to attempt if you have the time

Thanks & Regards,
Deepu

On Thu, Jan 23, 2020 at 2:00 PM P. Mohan <notifications@github.com> wrote:

[2020-01-23 14:30] pmverma commented on #10958
Thanks @deepu105 , I will give a try as soon as I have some free time.

[2020-01-24 06:08] #11131 closed

[2020-01-24 08:00] pascalgrimaud opened #11169 "Cassandra backend tests failures"
##### **Overview of the issue**

In our CI, the backend tests with Cassandra failed regularly and randomly...
It needs to be fixed.

See https://github.com/jhipster/generator-jhipster/runs/406645977
See the discussion in our mailing list: https://groups.google.com/forum/#!topic/jhipster-dev/DdPPWTlIk0c

##### **Motivation for or Use Case**

Here an extract of logs:

[code]

##### **Reproduce the e

[2020-01-24 08:02] pascalgrimaud commented on #11160
Adding a bounty, as it seems to be a bug and needs to be fixed

[2020-01-24 08:03] pascalgrimaud commented on #11142
Adding a bounty on this bug

[2020-01-24 08:10] #11163 closed

[2020-01-24 09:09] p4535992 opened #11170 "MapStruct annotation not generate the default Spring component"
##### **Overview of the issue**

[code]
##### **Motivation for or Use Case**

I create a simple jdl file where i put the line of code

[code]
because i want to generate all the mapper interface class java with Mapstruct annotation.

##### **Reproduce the error**

1) IMPORTANT i use Openjdk 1.8, Eclipse (version 2019-06) ide e maven

2) BEFORE EVERYTHING i know this is a recurring error asking alre

[2020-01-24 09:16] mandudeboy commented on #1370
@no-today I just tried your solution and it works for me! I had the issue of having to login before being able to get messages from a /topic but now I can do it as anonymous user. Thanks!

[2020-01-24 09:54] Tonterias commented on #11124
Sorry, I've been out for a few days.

{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "es.mibar.web",
      "nativeLanguage": "es"
    },
    "jhipsterVersion": "6.6.0",
    "applicationType": "monolith",
    "baseName": "mibar",
    "packageName": "es.mibar.web",
    "packageFolder": "es/mibar/web",
    "serverPort": "8080",
    "authenticationType": "session",
    "cachePr

[2020-01-24 11:58] prumenov97 opened #11172 "Jhipster React Typescript project not supported by Internet Explorer 11."
##### **Overview of the issue**

I'd like to report an issue I've ran into the last couple of days. I've tried to add Internet Explorer support for my Jhipster React Typescript application using the following Jhipster guide:

https://www.jhipster.tech/tips/028_tip_ie_support.html#provide-internet-explorer-support

Unfortunately, I cannot find the following code block:
{
                test: /mani

[2020-01-24 13:44] atomfrede commented on #11170
Does it work when building and running from the command line?

[2020-01-24 13:47] atomfrede commented on #11172
The tip is assuming you use angular and not react and provided by our users, so we can't guarantee it works for every option we have. We do not officially support any internet explorer version, so I will close this issue. You can try stackoverflow to get some advice how to make that work.

[2020-01-24 13:47] #11172 closed

[2020-01-24 14:40] raulrotundo commented on #10743
I had exactly the same issue that @MInesGomes mentioned using jhipster v6.2.0 and the fix that I applied was the one she mentioned adding the allowSetters = true to @JsonIgnoreProperties.

[2020-01-24 15:03] ruddell commented on #11172
Another user was able to get IE working with React by adding a polyfill: https://github.com/jhipster/react-jhipster/issues/41#issuecomment-577555216

[2020-01-24 15:42] mshima opened #11173 "Implement side-by-side blueprints"
##### **Overview of the feature request**

What’s the difference between normal blueprints?
Normal blueprint is a original generator replacement, SBS is a companion.
- It’s no a full generator, so it shouldn’t conflict with other blueprints
- doesn’t need to depend on jhipster-generator so it isn’t version specific.

SBS blueprint is a module on steroids. Why?
Module only implements hooks like pos

[2020-01-24 17:53] p4535992 commented on #11170
The spring-boot command from console it's seem doing fine.
So i guess it's just some ide problem.
Sorry for the inconvenience.

[2020-01-24 17:53] #11170 closed

[2020-01-24 20:40] MathieuAA commented on #11160
To any future good soul who'd try to fix this issue and drop a PR for this: there are already 2 of them, so please don't. Approve and/or challenge the existing PRs instead, communication is the key here.
Thanks :)

[2020-01-24 22:25] mshima commented on #11142
Some considerations about this bug:
- Making original not blueprinted app generator load sub-generators will create problems with the workflow, this should be done on jhipster 7.

https://github.com/jhipster/generator-jhipster/pull/11152 should fix this.

[2020-01-25 08:24] pascalgrimaud commented on #11169
@SudharakaP : if it can help, it seems to be more stable with Azure, less failures there
See https://dev.azure.com/hipster-labs/jhipster-daily-builds/_build?definitionId=11&_a=summary

[2020-01-25 19:27] SudharakaP opened #11178 "Remove ByteBuffer/ZonedDataTime Data Type from Cassandra Tests"
##### **Overview of the issue**

While working on https://github.com/jhipster/generator-jhipster/issues/11169, I noticed that the Cassandra entities that we generate has ByteBuffer data type. This data type is not supported in our entity generation and if we try to import the jdl file such as the following using `jhipster import-jdl <jdl-file-name>` we will get an error.

[code]
In our CI we use `

[2020-01-25 20:40] ahmeed83 commented on #11075
I'm trying to deploy my app on Heroku but it fails when releasing with the error:

Anyone can help?

[2020-01-26 14:46] pascalgrimaud commented on #10824
Increasing the bounty as the builds for React failed since more than 2 months now...

[2020-01-26 15:41] pascalgrimaud commented on #11178
I'm the one who coded ByteBuffer for Cassandra, long time ago - see https://github.com/jhipster/generator-jhipster/pull/3516/files

If we decide to remove this, does it mean we can't use "Blob" anymore with Cassandra ?

[2020-01-26 15:53] vishal423 commented on #10824
If no one is looking over it, I can try to spend some time later next week.

[2020-01-26 16:10] pascalgrimaud commented on #10824
Thanks a lot @vishal423

But there can be several issue in this one, so don't hesitate to split into specific tickets if needed. And tell me I should put bounty on these other tickets too

[2020-01-26 16:24] pascalgrimaud commented on #11169
It is something related to our Continuous Integration, as I couldn't reproduce locally

[2020-01-26 16:30] gmarziou commented on #11075
@ahmeed83 please don't hijack this issue for something that seems only partially related (you're not upgrading as far as I know). Also please avoid cross-posting https://stackoverflow.com/questions/59912549/failed-deploying-jhipster-app-on-heroku-error-bin-sh-1-mvnw-not-found

[2020-01-26 17:05] SudharakaP commented on #11169
@pascalgrimaud : Yes, I agree it might be related to the CI itself. I could reproduce this [in my fork](https://github.com/SudharakaP/generator-jhipster/actions). I was trying out various different things yesterday, but unfortunately couldn't find a proper fix to this yet. Will try out some things today as well. :thinking:

[2020-01-26 17:12] SudharakaP commented on #11178
@pascalgrimaud : Good point, I haven't tested Blob data type on Cassandra yet, but what we can do is replace this ByteBuffer with Blob and also [update the documentation to include blob](https://www.jhipster.tech/jdl/entities-fields#field-types-and-validations). If this is in agreement I can do the change. :smile:

[2020-01-26 17:30] pascalgrimaud commented on #11169
@SudharakaP :
- same like you: https://github.com/pascalgrimaud/generator-jhipster/runs/409648396?check_suite_focus=true
- I found some improvement which results with less failures, but it's not enough

[2020-01-26 19:12] ruddell opened #11180 "Building prod JAR with mvn runs webpack:dev in the process"
##### **Overview of the issue**
When running the documented command to build a `prod` JAR file, `webpack:dev` runs before `webpack:prod`.  The `webpack:prod` build clears the static build folder, so the `webpack:dev` build is useless and wastes time.

Affects Maven only, I do not see `dev` logs in a Gradle `prod` build

Running with `-Pprod,-webpack` works and saves 100 seconds in my CI.  Local ti

[2020-01-26 19:15] alexsintoni opened #11181 "Despite having last version of "yo", I receive "Your yo version is outdated""
##### **Overview of the issue**

I tried to create an UAA application and I receive the following error:
[code]

Despite have already the last `yo` version installed:
[code]

##### **Motivation for or Use Case**

I can't create a new JHipster application with `jhipster-generator` version 660.

##### **Reproduce the error**

No idea how reproduce it.
Most likely I have a wrong configuration locally

[2020-01-26 20:10] mshima commented on #11181
What command are you executing?

[2020-01-26 21:27] pascalgrimaud commented on #11169
Here my results:
- it's not good to start Cassandra container twice: 1 before the backend tests and 1 during the backend tests with testcontainers, it will use a lot of memory so that could explain some random failures - here the fix https://github.com/jhipster/generator-jhipster/pull/11182
- then, I think the real problem comes from `deleteAll`:
    - https://github.com/jhipster/generator-jhipste

[2020-01-26 22:02] SudharakaP commented on #11169
@pascalgrimaud : I agree it comes from `deleteAll` as in my CI also I noticed it always fails there. Let me think about making a refactoring for that :thinking:

[2020-01-27 06:26] pascalgrimaud commented on #11169
@SudharakaP : to help reproducing in the CI, you can use this https://github.com/pascalgrimaud/generator-jhipster/blob/cassandra-backend-tests/.github/workflows/react.yml#L48-L63

So no need to commit / push, each time you tried something.

[2020-01-27 06:29] mohamedzaki90 opened #11183 "Option to generate master detail relationship in front end"
##### **Overview of the feature request**

It's common customization to add some related entities in the edit/view page of the main entity for example:
order and order lines
product and product options

##### **Motivation for or Use Case**
1. Define what is the best practice to do implement this pattern since nearly all examples explain the normal single entity pages.
2. Save customization time to

[2020-01-27 06:30] pascalgrimaud commented on #11181
Strange, it is a warning, not an error.
I already saw the same on my machine, but no issue for generating a project.

So yes, waiting your command

[2020-01-27 06:31] alexsintoni commented on #11181
Hi @mshima ,

I simply run `jhipster` in an empty folder and I follow the usual questions from the generator

[2020-01-27 06:33] pascalgrimaud commented on #11181
@alexsintoni : thanks. What happened at the end of generation, after the warning message about yo ? Empty folder ? No additional logs ?

[2020-01-27 07:02] SudharakaP commented on #11169
@pascalgrimaud : Ah, thanks. I am close to finishing the refactoring, hopefully can get the PR done in the next couple of days. :smile:

[2020-01-27 13:41] xetys opened #11184 "k8s: PostgreSQL mount path misconfigured"
##### **Overview of the issue**

The mount path of the persistent storage in our postgresql manifests, generated by our kubernetes sub-generator, is misconfigured. Postgres does its own ephemeral mount on `/var/lib/postgresql/data`, so the database only persists until the pod is deleted

##### **Reproduce the error**

Given you have a JHipster application using PostgreSQL:

1. generate k8s manifes

[2020-01-27 16:20] xetys opened #11186 "K8S: use PodAntiAffinities"
##### **Overview of the feature request**

We could use the [Affinity Feature](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity) of Kubernetes for better smarter scheduling of Kubernetes Multi-Replica-Pods.

##### **Motivation for or Use Case**

Deployments in Kubernetes are capable of maintaining ReplicaSets with multiple replicas. However, if the user

[2020-01-27 18:29] vishal423 commented on #11180
It's an interesting issue and has also seen it before.

I consider the current approach (to check for the existence of a file) as a deviation from reproducible builds. As an example, if you have built the front-end code and later did some UI changes, you wouldn't be able to view those unless you cleanup the target directory/specific file before the next start or you start a separate front end dev

[2020-01-27 19:16] oseferi commented on #10671
@amirdt22 hi, did have you had any progress on the generator? I am trying to setup circle ci with my app, so i stumbled upon this issue.

[2020-01-27 23:53] livin commented on #11139
Hey there - I was trying to use recent JHipster and had same issue - workaround
https://github.com/jhipster/generator-jhipster/issues/11139#issuecomment-575938542 worked for me. But this could be bad for newbies :-)

[2020-01-28 04:18] stevemac79 commented on #10975
I have added the Claim as suggested above. However I am now running one of my APIs via the Registry swagger interface for dev/testing. The SecurityUtils.getCurrentUserLogin() still comes back with anonymousUser in this context. My registry application is configured to use Okta (as are the gateway and microservice apps).
Is there any way to ensure that when running from the Swagger UI, getCurrentUs

[2020-01-28 05:49] amatosg commented on #10887
I just tried and this did not solved the `ClassNotFoundException` issue, still getting
[code]

[2020-01-28 08:08] pascalgrimaud commented on #8608
It has been opened for a while.
Does someone want to work on this for the v7 ? Otherwise, let's close this and focus on other features

[2020-01-28 08:08] pascalgrimaud commented on #8915
This ticket is opened for a while too, and it looks like a lot of work.
Does someone have time to start this ?

[2020-01-28 08:10] pascalgrimaud commented on #9752
Does someone want to start to work on this ? I can put a bounty if it can motivate people.
Otherwise, I'll close this, as it's opened for too long

[2020-01-28 08:17] pascalgrimaud commented on #9870
@MathieuAA @mshima @PierreBesson : as it's opened for a while, does one of you start to work on this ? Should we let this ticket opened ?

[2020-01-28 08:20] pascalgrimaud commented on #10695
Fixed by https://github.com/jhipster/generator-jhipster/pull/10773 as it has been merged manually

[2020-01-28 08:20] #10695 closed

[2020-01-28 08:21] pascalgrimaud commented on #10726
Adding a bounty as it's a bug

[2020-01-28 08:21] MathieuAA commented on #9870
It's something that needs doing, but right now, I'm busy with another task.

[2020-01-28 08:22] pascalgrimaud commented on #10741
Maybe it can be a minor improvement but it looks like no one want to work on this, so let's close this ticket.

[2020-01-28 08:23] pascalgrimaud commented on #10740
@MathieuAA @murdos : what is the state of this issue ? Is it fixed or not yet ?

[2020-01-28 08:24] pascalgrimaud commented on #10858
Adding a bounty as it's a bug

[2020-01-28 08:27] pascalgrimaud commented on #11081
cc @PierreBesson : what do you think ?

[2020-01-28 08:27] MathieuAA commented on #10740
Fixed on my end.

[2020-01-28 08:28] pascalgrimaud commented on #10740
ok then, let's close this.
@murdos: don't hesitate to reopen if it's not the case

[2020-01-28 08:28] #10740 closed

[2020-01-28 08:38] rubensa commented on #8608
Looks like @MathieuAA and @murdos are looking at this.  See this related issue https://github.com/jhipster/jhipster-core/issues/283

[2020-01-28 08:40] pascalgrimaud commented on #8608
Only comments / discussion, there is no work on this (unless I'm wrong)
That's why I'm asking this.

[2020-01-28 08:47] mshima commented on #9870
I think we should use something like:
clientFramework vuejs:vuejs
vuejs:clientTheme foo

Every key and value with : should be ignored for now.
I am busy removing yo dependency (improving environment lookup to be selective)

[2020-01-28 08:51] MathieuAA commented on #9870
SImpler: we could _not_ validate what the user writes in the JDL file(s) and perform a validation just before the application-generation phase in the generator.

[2020-01-28 08:54] MathieuAA commented on #8608
There's some work for this, but a refactor was needed to do it right. The refactor is done and ready to be merged. The next step is implementing this feature.

[2020-01-28 09:16] #11160 closed

[2020-01-28 09:28] ecostanzi commented on #9752
Hi, I can work on this but I didn't understand how we want to proceed.

@avdev4j PR helps the user to expose the generated endpoints under the `/api` path so that they are included in the swagger documentation.

Personally I like the idea of serving directly the openapi yml file without mixing the CRUD endpoints with the openapi endpoints. I'd avoid doing this with springfox dockets since we're pl

[2020-01-28 09:36] deepu105 commented on #8915
I wan't to, may be I'll have time next month

Thanks & Regards,
Deepu

On Tue, Jan 28, 2020 at 9:09 AM Pascal Grimaud <notifications@github.com>
wrote:

[2020-01-28 09:50] avdev4j commented on #9752
hi @pascalgrimaud
for me we had two things here :
* Put generated api under the default JHipster path /api (done by #10844)
* Add doc or add docket configuration to customize springfox.

EDIT: @ecostanzi If we planning to dismiss springfox, my second point is outdated. However I suggest to plan to do something to avoid having both generated api and native api in the same UI. It's not easy to read

[2020-01-28 11:00] PierreBesson commented on #11081
We are going to migrate from Zuul to Spring Cloud Gateway. Indeed we should improve the security defaults but it will be easier to do with Spring Cloud Gateway as it is more flexible.

[2020-01-28 12:43] niklasastrom opened #11189 "Angular LanguageHelper service not created anymore"
##### **Overview of the issue**
In the generated Angular application, the service `webapp.app.core.language.LanguageHelper` service is not instantiated and working as intended in the application because there is no usage of it.

In earlier versions of jHipster, this service contained more logic that was used from other files (from e.g. the `main.component.ts`), but this logic is extracted. Because

[2020-01-28 14:29] kaidohallik commented on #11189
I confirm this issue, this is regression from #10893. Thanks a lot for reporting this issue @niklasastrom!

Page title management was in 2 different places:
* for i18n enabled in `LanguageHelper`
* for i18n disabled in `MainComponent`

After refactor page title logic is in one single place, in `MainComponent`, for both i18n disabled and enabled.

After that `LanguageHelper` became very short and I

[2020-01-28 15:49] Falydoor opened #11191 "Compilation errors with OAuth and ManyToMany with User on a microservice app"
##### **Overview of the issue**

Compilation errors below:

[code]

##### **Motivation for or Use Case**

Project should compile.

##### **Reproduce the error**

Generate the app using the JDL below:

<details>
<summary>JDL file</summary>
<pre>
application {
  config {
    authenticationType oauth2
    applicationType microservice
  }
  entities *
}
entity Country {
  name String
}
relationship Ma

[2020-01-28 16:08] mraible commented on #10975
@stevemac79 Does this issue happen when you're not using the Swagger UI? I haven't used it; just trying to isolate where the problem is coming from.

[2020-01-28 16:32] MathieuAA commented on #11191
Isn't related to #11025?

[2020-01-28 19:05] Falydoor commented on #11191
Not really, this is because a microservice app must save the User in case of a relationship.

[2020-01-28 19:22] MathieuAA commented on #11191
Ah! true.

[2020-01-28 22:39] DanielFran opened #11198 "Update Traefik to v2"
##### **Overview of the feature request**

See https://docs.traefik.io/migration/v1-to-v2/

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-01-28 22:48] DanielFran opened #11199 "Update Mongo to 4.2.x"
##### **Overview of the feature request**

See:
- https://docs.mongodb.com/manual/release-notes/4.2/
- https://docs.mongodb.com/manual/tutorial/upgrade-revision/

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-01-28 22:54] stevemac79 commented on #10975
@mraible When I am using the Gateway application to initiate the request I can see the user name by configuring the preferred_username Claim as you explained above.

[2020-01-29 00:36] mraible commented on #10975
Thanks for clarifying @stevemac79. I've added "swagger" label to this issue and a bug bounty to fix. I haven't done much with the Swagger code, but hopefully someone else has.

[2020-01-29 02:47] meoin opened #11201 "Can run tests and in development mode, but ./gradlew -Pprod consistently fails at 4m22s"
##### **Overview of the issue**
I have recreated my jhipster application multiple times and am able to run my tests with success with './gradlew test' and run in development with './gradlew' but whenever I run it in production with './gradlew -Pprod' it runs past the large ASCII text that says JHipster and at 90% fails. I have tried running './gradlew clean' and './gradlew build' and it still thro

[2020-01-29 03:42] mraible commented on #11201
If you run tests with the prod profile, you need to have your prod database running too.

[2020-01-29 06:11] atomfrede commented on #11201
The test work without the real production database, but when just executing `./gradlew -Pprod` (-> bootRun which starts the application in `prod` profile) the production configuration is in place which expects your selected production database. By default the configuration points to a database your localhost, so if you have docker and docker-compose available you can do `docker-compose -f src/main

[2020-01-29 06:11] #11201 closed

[2020-01-29 07:05] kaidohallik commented on #11189
FYI: this problem seems to be caused by tree shaking. There is an open Angular ticket for that: https://github.com/angular/angular/issues/25633

From one side this can be considered as Angular bug (tree shaking didn't detect that `LanguageHelper` contains code that is actually used), but from other side this lead us to improve our code (remove pointless `LanguageHelper` class).

[2020-01-29 07:56] kacetal opened #11203 "Wrong method name"
If we use relation OneToOne from Entity to User with `MapsId` and with `noFluentMethod all` jhipster generates method with wrong name.

I think the bug is in this file `generators/entity-server/templates/src/main/java/package/common/save_template.ejs` in line 47.

Example
`userRepository.findById(userId).ifPresent(userSettings::user);`
But UserSettings hasn't method `user(User user)` because it ha

[2020-01-29 09:16] kurtwilbies commented on #11062
Can you add/supply code/examples, so that we can test theis addition.

[2020-01-29 10:32] mshima commented on #11181
Yo cli is loaded internally by jhipster, yo command is never executed.
As @pascalgrimaud said, it’s a warning that’s is shown by npm install (when it installs yo) which is executed at jhipster install step.

One scenario I can think is that you installed yo locally and npm removed yo from jhipster node_modules directory.
You should try to remove yo from your local directory.

[2020-01-29 11:41] SudharakaP commented on #11169
I've done a PR with the refactoring of the `UserResourceIT` and `EntityResourceIT` classes so that the `deleteAll` calls are removed from the `BeforeEach` block. I think the other PR(#11182) is still needed but from my tests removing the `deleteAll` before every single unit test seem to make the test suit move a bit faster and this refactoring should help to remove any remaining failures with the

[2020-01-29 14:34] ctamisier commented on #11169
I remember having this kind of issue.
To fix it, I used DURABLE_WRITES = false (instead of true), for the keyspace creation only for integration testing.

[2020-01-29 16:15] SudharakaP commented on #11169
@ctamisier : Thanks for the suggestion. 👍

We can try #11204, since I believe it fixes the Cassandra builds. If we see the issues again we can try the DURABLE_WRITE thing as well. 😄

[2020-01-29 16:22] SudharakaP commented on #11178
I also noticed that there's [`ZonedDateTime` in our tests for Cassandra](https://github.com/jhipster/generator-jhipster/blob/master/test-integration/samples/.jhipster/CassTestServiceImplEntity.json). I will try to remove that as part of this issue as well.

[2020-01-29 17:08] lzkill opened #11206 "Allow a custom banner to be specified"
Currently one must manually change the banner in all the generated apps after `jdl-import`. It would be nice to have an option to pass a filepath of a custom banner.

[2020-01-29 17:15] DanielFran commented on #11206
It depends on what you want.
For example you can use _spring-banner-plugin_ so it appears a banner with the name of the aplication and few information.

[2020-01-29 17:52] cbornet commented on #11178
Why ? IIRC ZonedDatetime is supported on Cassandra.

[2020-01-29 18:06] SudharakaP commented on #11178
@cbornet : Hmm... 🤔 Are you sure; I don't see it in the list; http://cassandra.apache.org/doc/latest/cql/types.html. Thus I thought it's not. Also when zoned date time is used in a jdl file we get a error when running the `jhipster import-jdl <file-name>` command; I have to look at that more closely. 🤔

[2020-01-29 22:09] pascalgrimaud commented on #11206
Thanks for suggesting this.
But to be honest, it would take you less than 10sec to copy / paste a file to replace the current banner, per project. That's why there is no value to add this feature.

Anyway, it would be against our **Policy 2: only add options when there is sufficient added-value in the generated code**

That's why I'm closing this.

[2020-01-29 22:09] #11206 closed

[2020-01-29 22:39] PierreBesson commented on #9870
@MathieuAA maybe add a --skip-jdl-validation flag as a workaround which would implement solution 1, then proceed with solution 2.

[2020-01-29 23:20] pascalgrimaud commented on #11169
I tried :
- with DURABLE_WRITE to false, it doesn't change anything... still some random failures
- your branch https://github.com/jhipster/generator-jhipster/pull/11204 @SudharakaP -> same random failures
    - see my branch to test yours: https://github.com/pascalgrimaud/generator-jhipster/commits/test/pr/11204
    - config for testing more config with Cassandra: https://github.com/pascalgrimaud

[2020-01-29 23:28] mshima commented on #9870
I have a blueprint that implements a custom config. So it would be nice to support it.
I like the idea of namespacing the config to be easy to differentiate from oficial configurations.

[2020-01-30 02:53] nagarajasr opened #11208 "@types/history@4.7.4 breaks generated code for app/modules/login/login.tsx"
##### **Motivation for or Use Case**
I am unable to generate new monolithic application any more due to change in @types/history@4.7.4
[code]
[code]

##### **Reproduce the error**

generate a new monotlithic application using JHipster 6.6.0

##### **Related issues**

##### **Suggest a Fix**
file: ```generator-jhipster/generators/client/templates/react/src/main/webapp/app/modules/login/login.tsx.ej

[2020-01-30 02:59] mraible commented on #11208
This has [already been fixed on master](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/react/src/main/webapp/app/modules/login/login.tsx.ejs#L44) with:

[code]

[2020-01-30 02:59] #11208 closed

[2020-01-30 04:52] SudharakaP commented on #11169
@pascalgrimaud : You are right. I did another bunch of tests and some of
them seems to fail. Back to square one.... Let me think about some
different approachs to this. :thinking:

On Wed, Jan 29, 2020, 3:20 PM Pascal Grimaud <notifications@github.com>
wrote:

[2020-01-30 06:11] opt-nc-dev opened #11209 "Default webpack.common.js generated using file-loader The src attr of image gonna be like '[object Module]'"
##### **Overview of the issue**

Default webpack.common.js generated using file-loader  The src attr of image gonna be like '[object Module]' and image is not loaded and does not appear

##### **Motivation for or Use Case**

In our company projects are generated by Jhipster, and to load a picture in html, we use a relative path to load resources in front-end as this example:

`<img src="../../cont

[2020-01-30 08:51] MathieuAA commented on #9870
@PierreBesson I like your idea. As soon as I wrap what I'm on, I can start implementing this. Unless there's someone willing to start it now of course

[2020-01-30 08:51] pascalgrimaud commented on #11169
To track the problem, it started with these commits:

jhipster lib:
[code]

generator-jhipster:
[code]

So maybe something related to Spring Boot 2.2 ?

[2020-01-30 09:03] pascalgrimaud commented on #11169
@SudharakaP : I found this https://github.com/spring-projects/spring-boot/issues/19802 -> do you think it can be related ?

[2020-01-30 09:28] DanielFran commented on #11169
@pascalgrimaud This is what I try to implement, using the CqlSession... but did not have enough knowledge to finalise it.

[2020-01-30 09:30] pascalgrimaud commented on #11169
@DanielFran :
- is it related to https://github.com/jhipster/generator-jhipster/pull/11175/files
- and https://github.com/jhipster/jhipster/tree/cassandra

?

[2020-01-30 10:32] Tcharl opened #11211 "JDL microservice and entities keyword behavior"
##### **Overview of the issue**

Behavior of these two JDL keywords are not that intuitive, also they does not cover all the use cases.

##### **Motivation for or Use Case**

My proposal would be to move the 'microservice' keyword into the 'application' section to be more flexible and change the behavior of certain combination

##### **Reproduce the error**

As of today, we can play with that two

[2020-01-30 12:25] DanielFran commented on #11169
@pascalgrimaud Yes and the commits I did rollback:
https://github.com/jhipster/generator-jhipster/pull/11175/commits/03158ce80ef675acdacf7f66583f814a16e3c082
https://github.com/jhipster/generator-jhipster/pull/11175/commits/93b7cd08631f0b571b32ed116588d130a01a81aa
https://github.com/jhipster/generator-jhipster/pull/11175/commits/73fecfa2d781ee0bee67f6962434447492cd58ca
https://github.com/jhipster/

[2020-01-30 15:51] Falydoor opened #11214 "Wrong imports when running import-jdl with an app that uses mongodb"
##### **Overview of the issue**

Compilation errors below:

[code]

##### **Motivation for or Use Case**

Project should compile.

##### **Reproduce the error**

Generate the app using the JDL below:

<details>
<summary>JDL file</summary>
<pre>
application {
    config {
        databaseType mongodb
    }
    entities Country
}
entity Country {
    name String
}</pre>
</details>

##### **Related i

[2020-01-30 15:58] SudharakaP commented on #11169
@pascalgrimaud : Yes, I have a feeling that that one is related. However I've tried a similar solution; https://github.com/jsevellec/cassandra-unit/issues/184#issuecomment-516615678; trying to increase the timeouts, but that didn't work. There might be some differences in that thread you mentioned; let me carefully go through it and try again 😄

[2020-01-30 16:40] MathieuAA commented on #11214
Thanks for the report. Once I get back I'll transfer this in JCore.

[2020-01-30 18:54] extraneu commented on #11121
I mean the code used to print the settings on startup in development:
: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/Application.java.ejs

e.g. Instead of
`Environment env = app.run(args).getEnvironment();
String serverPort = env.getProperty("server.port")`
you would use
`ApplicationContext ctx = app.run(args);
ServerProperties server

[2020-01-30 19:26] RizziCR opened #11215 "Enum Not Usable in ReactUI Conditions"
##### **Overview of the issue**

I have some ENUM in my Monolith Project. I make some changes to the REACT frontendcode, but ENUM not working in production build.
In develop-mode I can compare the ENUM value from the Entity with a String, but not with the ENUM-Entity itself. But for the production build, the validation engine put out an error, that an comparison of ENUM and String isn't valid.

EN

[2020-01-30 20:10] extraneu commented on #11120
Sorry, Sudhakara, I assumed this would be a no-brainer to the "maintainer" of the database part of jhipster and, since it's a one-liner, that all the extra details of the "create a new ticket" template would be unnecessary noise.

This is the line in question:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/config/liquibase/changelog/initia

[2020-01-30 20:28] mshima commented on #11120
@extraneu  you should follow the guidelines.
I think in this case you could create a pull request with the change and explain the reason there.

[2020-01-30 21:30] WiteCastle commented on #8610
Wait, so is there a blueprints option when configuring the application in the JDL? If so, is it just not in the docs? (https://www.jhipster.tech/jdl/applications).

Or do we have to have a valid .yo-rc file and then import a JDL for this to work? If so, what should teams that use JDLs solely for application creation do?

[2020-01-30 22:53] MathieuAA commented on #8610
@WiteCastle Hello there. The `blueprints` option is yet to be implemented in the JDL.

[2020-01-30 23:54] lululu0620 opened #11216 "Redundant query parameter in many-to-many relationships in entity"
##### **Overview of the issue**

When we generate an entity which contains many-to-many relationship with another entity, JHipster creates a query parameter for getAll endpoints called `eagerload`, but it's not used anywhere in EntityResource.java.

There is already a logic to use either `findAllWithEagerRelationships` or `findAll` in the ejs template based on if the entity has a many-to-many rela

[2020-01-31 01:48] SudharakaP commented on #11120
@extraneu : Hi Flavio, :smile: No worries. As mshima mentioned its good practice to follow the issue and pull request templates even if it's a small thing since it helps others to understand your issue and recreate it easily. You don't have to fill in each and every section perfectly in the template since other contributors can weigh in and edit it. Just use your best judgement. :smile:

[2020-01-31 02:48] WiteCastle commented on #8610
@MathieuAA Thanks for the response but quick question. Why is this issue closed? Are there plans to enable this feature as discussed earlier in the thread? Or are we waiting for a pull request? I can attempt to help with this (even with my beginner knowledge of yo generators).

[2020-01-31 08:33] MathieuAA commented on #8610
This is an old issue, don't worry.
Head to the JCore repo instead, you'll find what you need.

[2020-01-31 09:22] deepu105 commented on #8610
And if you wanna work on it you are welcome to do so and would be much
appreciated :)

On Fri, 31 Jan 2020, 9:33 am Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2020-01-31 09:22] pascalgrimaud opened #11217 "Relationship with UUID + DTO"
##### **Overview of the issue**

When generating a relationship with UUID + DTO (mapstruct), the generated project didn't compile.

##### **Motivation for or Use Case**

Here the stacktrace:

[code]

##### **Reproduce the error**

- generate a project with all default options
- use this JDL:

[code]

##### **Related issues**

##### **Suggest a Fix**

Probably something to do in this line:
https://