[2018-05-18 19:10] pascalgrimaud commented on #7654
oh shit, I could reproduce the same issue locally, so strange. My first analyze was wrong

[2018-05-18 19:17] pascalgrimaud commented on #7654
@hdurix : here the Travis output. The version is not modified

[code]

[2018-05-18 22:17] hdurix commented on #7654
There is definitely something wrong with the port `11210` (maybe with the latest Couchbase version)...

I added this port to the fixed ports list (because for now, the port [is not fixed](https://github.com/differentway/testcontainers-java-module-couchbase/blame/master/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java#L114)) and the tests are now working, see [this commit](https:/

[2018-05-19 10:10] Belkacem opened #7657 "Resolvers should be used with different param name in route for each entity"
##### **Overview of the issue**

All resolvers in Entities routes use the :id as the default field to resolve the entity, this way we can use multiple resolvers :

`path: 'entity1/:entity1Id/entity2/:entity2Id',`
`component: myComponentComponent,`
`resolve: {`
`    entity1: Entity1Resolve,`
`    entity2: Entity2Resolve`
`},...`

##### **Suggest a Fix**
`
@Injectable()
export class EntityResolve im

[2018-05-19 12:30] pmverma commented on #7117
Embedded elasticsearch is not available starting from v5 hence better to mention the alternative available ways.

[2018-05-19 18:53] mrts commented on #7337
Note that you need Ambassador besides Istio for API gateway. Quoting:

[2018-05-19 21:11] harry-g opened #7659 "CamelCase bug in entity update react script"
##### **Overview of the issue**
Using an entity with CamelCase name, many-to-many relations are generating wrong all-lowercase name at the last part of the entity updates script - I think only when using react.

##### **Motivation for or Use Case**
Running the generated app will fail because of wrong entity name.

##### **Reproduce the error**
1. run `jhipster` to Create a jHi app with default opt

[2018-05-19 22:43] ruddell commented on #7435
This was [originally added for social login](https://github.com/jhipster/generator-jhipster/pull/4772) which was recently removed.  So we can either remove it or add a field to the settings page that accepts a URL for the profile image

[2018-05-20 03:53] mraible commented on #7331
Please send a pull request to make the change you'd like to see. I'd be happy to review and test.

[2018-05-20 10:55] FireWolf2007 opened #7661 "Min validation with Angular 6 fails"
##### **Overview of the issue**

1. validation require fill nullable field
2. Min validation require value more than specified in min value

##### **Reproduce the error**

Examle: https://github.com/FireWolf2007/hockey-match/

##### **JHipster Version(s)**

Current master version

##### **JHipster configuration**

hockey-match$ yo jhipster:info
Welcome to the JHipster Information Sub-Generator

##

[2018-05-20 14:59] MathieuAA commented on #6860
@jdubois Sorry, I didn't follow the thread on uniques. Is it officially supported in the generator? I have a branch on JCore for this feature and I'm wondering whether to merge it.

[2018-05-20 15:10] ruddell commented on #6860
It's [not selectable](https://github.com/jhipster/generator-jhipster/pull/6850#issuecomment-351420007) in the prompts as it was disabled so we could have a smooth release a while ago.  So the code is there but you can't enable it.  The outstanding issue is displaying validation messages when saving an entity fails.

[2018-05-20 15:16] MathieuAA commented on #6860
Thanks Jon, that's what I noticed... I'll let my branch live a while longer.

[2018-05-20 16:12] ruddell commented on #7661
Min/max Angular directive was merged recently in #7577 (not in beta 1), but they didn't allow null values so I opened a PR in ng-jhipster to fix this.

[2018-05-20 19:11] NilsWild commented on #7036
just to mention as far as i can tell same situation when using Keycloak. If not using the gateway to access the microservice you're not authenticated. Actualy i didn't get what you meant exactly with the gateway-uaa. So i am not sure if your proposed solution would fix it with keycloak as well.

[2018-05-20 19:50] agoncal commented on #6860
@MathieuAA So does this means that the JDL does not have a `unique` keyword yet ?

[2018-05-20 20:40] MathieuAA commented on #6860
Hi Antonio, it does. When the option is available in the generator, I'll merge the branch where I added the `unique` keyword and release.

[2018-05-20 21:11] #7657 closed

[2018-05-20 21:20] unikzforce opened #7662 "JHipster 4.14.4 mongodb cluster docker problem"
##### **Overview of the issue**
Couldn't build and run docker images for mongodb cluster mode.

the instructions i follow to Build and run mongodb cluster in Docker can be found [here](https://www.jhipster.tech/docker-compose/).

##### **Motivation for or Use Case**

##### **Reproduce the error**

build instruction:
`docker-compose -f src/main/docker/mongodb-cluster.yml build`
error after built:
[

[2018-05-21 00:16] unikzforce commented on #7662
the problem has not resolved yet .. i'll try to suggest a final fix soon.

[2018-05-21 04:09] mraible commented on #7612
@maznag I tried to reproduce this issue tonight with the latest code from the master branch and I was unable to. It all works with my Okta configuration. Did you complete the following steps to configure your group settings for Okta?

From https://www.jhipster.tech/security/

[2018-05-21 07:45] deepu105 commented on #7590
@cloudhuang no, it's only a utility profile. The workflow is to start maven/gradle and run `yarn start` for dev and in prod the webpack build is run automatically

[2018-05-21 07:54] deepu105 commented on #7551
Thats great Pascal

Thanks & Regards,
Deepu

On Tue, May 15, 2018 at 3:44 PM Pascal Grimaud <notifications@github.com>
wrote:

[2018-05-21 08:04] #7661 closed

[2018-05-21 08:21] deepu105 commented on #6044
I'm closing this even though some of the checkboxes are not checked. The reason is as below
1. Most major features are done and works
2. The small items missed can be fixed as and when someone reports it(means when need arises)
3. There will be improvements here always anyway

[2018-05-21 08:21] #6044 closed

[2018-05-21 08:34] deepu105 commented on #7493
This could be related to #7641 @chrisdns plz confirm
@dudleybutt can you check and let us know if you see the issue in latest master branch

[2018-05-21 08:34] #7493 closed

[2018-05-21 08:35] deepu105 commented on #7435
@kseyhan are you working on this? else we can close this

[2018-05-21 09:00] TonyLuo opened #7664 "AbstractAuditingEntity will change createdDate every time when update with dto"
##### **Overview of the issue**

AbstractAuditingEntity.java
[code]

[2018-05-21 09:52] kseyhan commented on #7435
Well, then i suggest removing that junk out. I'll take a look into it.

[2018-05-21 11:49] maznag commented on #7612
@mraible Yes everything is configured correctly and Okta works well with JHipster in dev profile but I have the problem only when I try to start the generated application with docker-compose. I also tested with the latest code from the master branch.

The login works well when I use ./mvnw to start the generated application but I have the error "User could not be found' when I use 'docker-compose

[2018-05-21 12:05] mraible commented on #7612
I used Docker compose and an existing user in my Okta tenant. Are you using a person that’s not in the ROLE_USER or ROLE_ADMIN group?

I need to be able to reproduce the problem in order to fix it! ;)

[2018-05-21 13:18] maznag commented on #7612
I Use my personnel account in My Okta tenant that's in the ROLE_USER and ROLE_ADMIN groups.
<img width="821" alt="screen shot 2018-05-21 at 15 11 17" src="https://user-images.githubusercontent.com/23117630/40309564-3dc63bf6-5d0a-11e8-8d54-4eb1b956bdfb.png">

[2018-05-21 13:41] mraible commented on #7612
Do you experience the same issue if you run with the prod profile outside of Docker? Here's the `.yo-rc.json` I used to create my app.

[code]

[2018-05-21 15:27] #7662 closed

[2018-05-21 15:28] pascalgrimaud commented on #7662
Can you try this fix ?
https://github.com/jhipster/generator-jhipster/pull/7488

I think it's resolved for 5.x.x but not for 4.14.x

[2018-05-21 15:55] jdubois opened #7665 "Study Zuul 2"
See https://medium.com/netflix-techblog/open-sourcing-zuul-2-82ea476cb2b3

[2018-05-21 16:07] mraible commented on #7612
If it doesn’t work in docker-compose, it might be caused by the variables set in src/main/docker/app.yml. If you already have them defined in src/main/resources/config/application.yml, there’s no need to override them in app.yml.

I’d try deleting the “SECURITY_OAUTH2_*” keys in app.yml and see if that fixes it.

[2018-05-21 18:31] mraible commented on #6929
@farrault I attempted to make the changes in your repository in https://github.com/jhipster/generator-jhipster/pull/7666. I doubt this has everything it needs, and it might break monoliths. Hopefully, Travis tests can figure out what breaks. Please review and let me know what I missed.

[2018-05-21 19:10] gmarziou commented on #7665
Spring Cloud team seems to have given up on Zuul 2 especially since they wrote their own gateway and published benchmarks https://github.com/spencergibb/spring-cloud-gateway-bench

[2018-05-21 20:46] agoncal commented on #7526
Argh !!! This is a tough one. We have `status` all over the place in our model: on our invoices, quotations, documents... I wanted to re-generate our JDL with JHipster 5 Beta 1 and got

[code]

Are you sure to add `status` as a keyword ? JHipster aggregates several technologies and all of them have their keyword. So I think we should be careful about the keywords added in JHipster.

[2018-05-21 20:58] jdubois commented on #7526
Yes that definitely sucks, I need to check this.

[2018-05-22 01:40] deepu105 commented on #7526
It would be nice to get rid of the reserved keywords, and find some other
way to do this.

Antonio, any ideas? What about prefixing them with something

On Tue, 22 May 2018, 2:28 am Julien Dubois, <notifications@github.com>
wrote:

[2018-05-22 06:23] farrault opened #7667 "Add travis Test for OAuth2 gateway and microservices"
##### **Overview of the feature request**

There is currently no automatic Travis test for the generation of OAuth2 gateway or microservices

##### **Motivation for or Use Case**

On https://github.com/jhipster/generator-jhipster/pull/7666, @mraible is making changes based on my propositions on the OAuth2 authenticationType but the unit test necessary to ensure that it compiles/runs are not curren

[2018-05-22 07:00] maznag commented on #7612
Awesome ! thanks very much @mraible. It works well now with docker-compose after deleting “SECURITY_OAUTH2_*” keys in app.yml or in existing docker-compose.yml. But, why did it work well before without having to delete these keys ?

It may be necessary to modify the generator so as not to duplicate these keys in the docker-compose.yml file. Do you agree ? Or can I close this issue since it's resol

[2018-05-22 07:50] pascalgrimaud commented on #7667
@farrault : thanks! In fact, it exists here https://travis-ci.org/hipster-labs/jhipster-travis-build/builds/381567326 but not in main generator.
It deserves a slot in main generator-jhipster as it's an important configuration.

Let me do this.

[2018-05-22 08:19] lovelytong commented on #6863
if you use angular-cli, plz  try this:
open file :main.ts
add code:`import { registerLocaleData } from '@angular/common';
import zh from '@angular/common/locales/zh';
registerLocaleData(zh);`

[2018-05-22 08:23] erikkemperman opened #7668 "Capture logs during java unit tests"
##### **Overview of the feature request**

I would like to propose that, during (java) unit tests, we might capture the logging, for two reasons:
- explicitly assert the content being logged is as expected
- keep the terminal tidy during build

In the serverside library, we've been doing that for a while now, using [`LogbackRecorder`](https://github.com/jhipster/jhipster/blob/master/jhipster-frame

[2018-05-22 08:30] jdubois commented on #7526
As we already prefix some stuff (like database tables), we should use a prefix when there is a reserved keyword, instead of forbidding it. Not sure what we should do, maybe something very simple like a "_"?

[2018-05-22 08:33] jdubois commented on #7665
Yes but I'm very happy with Zuul at the moment, and it:

- has tons of cool features
- is battle-tested by Netflix
- has a great community

I'm not saying we should stay on Zuul, but I'd like at least to study it.

[2018-05-22 11:07] Tcharl opened #7669 "Forbid oauth option when no database"
##### **Overview of the issue**

OAuth integration requires a database to persist user and authority info: jhipster should prohibit this option when no database is selected (otherwise, generation is not correct).

##### **Motivation for or Use Case**

The generated app contains code that is not functional!

##### **Reproduce the error**

##### **Related issues**

see jhipster info

##### **Suggest

[2018-05-22 12:31] jdubois commented on #7669
Totally agree with your analysis, then I'm sad we can't have OAuth2 + no database. @mraible how about having the "user sync" feature optional, so you could use OAuth2 with no database? Of course there could be a performance hit if the user is needed, but that's not always mandatory.

[2018-05-22 12:33] bertwin commented on #7526
I believe this line:
https://github.com/jhipster/react-jhipster/blob/b48b95ffabdb004737837de725a5c09af707b156/src/type/redux-action.type.ts#L3

should be changed to either:
[code]
or
[code]

and in all reducers this should be changed:
https://github.com/jhipster/generator-jhipster/blob/ddbdba9d89d5f08b8214f3b998a987119b5db27d/generators/entity-client/templates/react/src/main/webapp/app/entities/en

[2018-05-22 13:44] mraible commented on #7669
The “saveUserSnapshot” logic is easy enough to change in the entity generator, it’s just one line of logic:

https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L674 <https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L674>

context.saveUserSnapshot = context.applicationType === 'microservice' && context.authenticationType === 'o

[2018-05-22 13:49] mraible commented on #7612
In the situation you describe, there is no `docker-compose.yml`. Did you generate one using the sub-generator?

I believe the reason I put the keys in `app.yml` (and likely `docker-compose.yml`) is so you can override them with environment variables. When I demo Okta in JHipster, I usually don't edit `application.yml`. Instead, I set a bunch of environment variables to point to my Okta tenant. Thi

[2018-05-22 14:32] wendal2841 opened #7670 "Prod build error"
![image](https://user-images.githubusercontent.com/27301672/40369104-f07cac72-5de5-11e8-8a9b-ad38be8dc720.png)
![image](https://user-images.githubusercontent.com/27301672/40369121-f6f31e92-5de5-11e8-80b8-ce267eb3cd03.png)

how to fix this error?

[2018-05-22 14:35] jdubois commented on #7670
We spend lots, lots of time to have nice guidelines to help newcomers, why don't you follow them first?

[2018-05-22 14:35] jdubois commented on #7670
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-05-22 14:35] #7670 closed

[2018-05-22 15:26] PierreBesson commented on #7667
Oh yes this is badly needed. I'm planning on doing this once we have the JDL v2 as it would let us define several application and their entities in one shot. Then we simply generate a docker-compose configuration and run protractor tests on it.

[2018-05-22 15:31] deepu105 commented on #7526
@bertwin your suggestion is good, would you like to add it to your PR for redux types #7578

[2018-05-22 17:17] PierreBesson commented on #7665
A good link on Zuul 2 architecture : https://medium.com/netflix-techblog/zuul-2-the-netflix-journey-to-asynchronous-non-blocking-systems-45947377fb5c

So I have studied both Spring Cloud Gateway and Zuul 2 documentation and I would say each have their advantages.

Zuul 2 :
- Used in production at Netflix for 2 years optimized and supporting a lot of traffic
- Should be compatible with existing Zuu

[2018-05-22 17:46] gmarziou commented on #7665
The link about Zuul  2 architecture is very interesting but a bit frightening ("We have a system that is much more complex to debug, code, and test") and the fact that this article is almost 2 years old shows that non blocking is hard and this applies to Spring Cloud Gateway also.

[2018-05-23 03:08] deepu105 commented on #7124
I'll try to spend some time on this ticket this week

[2018-05-23 04:56] deepu105 commented on #7526
fixed by #7578 thanks to @bertwin

[2018-05-23 08:18] jdubois commented on #398
Yeah, and I got 2 more:

- it fails with JDK 10
- It fails with Jackson (see http://www.akazlou.com/posts/2018-02-08-journey-spring-boot-upgrade.html )

Consultants have probably bought whole houses configuring and then removing Lombok.

[2018-05-23 08:39] maznag commented on #7612
Yes, In this situation I just forgot to mention `docker-compose.yml`. But this issue is occurred for both:
- `docker-compose -f src/main/docker/app.yml up`
- Or when I generate `dokcer-compose.yml` with sub-generator `jhipster docker-compose`

In my case I put directly my okta settings in the `application.yml` and `app.yml` files. But, you're right it's better to use environment variables to point

[2018-05-23 08:45] jdubois commented on #7669
@mraible on JHipster 4, you couldn't run `jhipster entity` or `jhipster import-jdl` when the "no database" option was selected.

This is a very important option for a lot of people, as they use microservices to access lots of old/weird/unusal systems, so they don't need a database for those. Last year, my stats show that 5% of all generated applications where "no databases", so it's far more popul

[2018-05-23 09:33] jdubois commented on #7665
Thanks a lot for the analysis @PierreBesson ! The "use in production at Netflix" is really important to me, I give this a lot of credit. I also like a lot the features described at https://medium.com/netflix-techblog/open-sourcing-zuul-2-82ea476cb2b3

[2018-05-23 09:33] MathieuAA commented on #7669
I've added an issue in JCore to make sure selecting this option wouldn't make the JDL import fail.

[2018-05-23 11:42] PierreBesson commented on #7665
Yes, Zuul 2 has a lot of advantages although we don't know when/if it will be integrated in Spring Cloud Netflix. If we want to go with it, we will have to redo the gateway around vanilla Zuul 2 (which is possible).

I like that Spring Cloud Gateway seems to make it even easier to customize and supercharge the gateway and this is what we liked initially about Zuul. However we have had very little

[2018-05-23 12:27] GucluAydiner opened #7672 "Production Environment WARNING on maven 3.5.3"
##### **Overview of the issue**
I have a jhipster project. In development environment I have no problem for running and testing. However, when I try to create a war file , I get following warning. Could you have a look?

Here is the maven logs:
D:\projects\ttproject\ttyanh>mvnw -Pprod
[INFO] Scanning for projects...
[INFO]
[INFO] --------------------------------------------------------------------

[2018-05-23 12:32] jdubois commented on #7672
Please, we spent a lot of time to have nice guidelines for everyone, please follow them

[2018-05-23 12:32] jdubois commented on #7672
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-05-23 12:32] #7672 closed

[2018-05-23 14:22] PierreBesson commented on #6863
@lovelytong Please don't comment on an old issue, if you have a feature request please open a new issue with explanations in ordre to start a discussion.

[2018-05-23 16:32] ruddell opened #7674 "Compile on Heroku using Gradle results in no frontend"
##### **Overview of the issue**
Apps using Gradle do not build the frontend when you choose "Compile on Heroku".  Compiling locally works as expected, Maven also works with either option

[Full Heroku Deploy logs](https://gist.github.com/ruddell/42e7afbcdd33ce1c5529399812aa49bd)

##### **Motivation for or Use Case**
Heroku responds as if the app built successfully (and the logs show it running), b

[2018-05-23 18:00] Tcharl opened #7675 "OIDC Use cases tracking"
##### **Overview of the feature request**

I propose this issue to track OIDC/UAA communication use cases

##### **Motivation for or Use Case**

It's currently pretty hard to see what's possible (and sometimes how to do it) using these technologies, so I propose to tick what's possible, and may be contributing to the documentation on how to accomplish the case.

##### **Related issues or PR**

#76

[2018-05-23 22:05] PierreBesson commented on #7551
Yarn just released V1.7.0 which add compayibility with Node 10 : https://twitter.com/yarnpkg/status/999404494906712066?s=19

[2018-05-24 07:33] cmoine opened #7679 "no-console tslint rule should be disabled for React"
##### **Overview of the issue**

Dear JHipster team,

I am not a React expert, but I think that
`console.log('Hello')`
should be allowed in React, wheareas the tslint rule no-console complains.

This thread lead me to that conclusion:
https://stackoverflow.com/questions/40647361/console-logging-for-react

##### **Reproduce the error**

Type `console.log('Hello');` in a  tsx file.

##### **Suggest

[2018-05-24 07:56] agoncal commented on #7526
@deepu105 I talked the other day with @jdubois about this. On the JPA side, that's pretty easy, it's just a matter of prefixing the name and using `@Column` (JHipster already does it with `@Table`):

[code]

But not all the technologies/languages have this easy way to override.

[2018-05-24 08:04] cmoine commented on #7679
:D Yes we all do. It is of course a very minor enhancement, but the reason I share this with you is because `console.log` are discouraged in.... Angular, but not in React ! It is why we shoudl definitly remove this rule for React because it is confusing.

[2018-05-24 08:18] jdubois commented on #7679
Oh and we should have tslint rules which are similar for both, and I'm pretty sure we accept this in Angular (as I'm doing it!)

[2018-05-24 08:19] jdubois commented on #7526
Yes, at least for the database keywords, it's quite easy: we just prefix the columns/tables and then modify the mapping accordingly.

It's quite a bit of work to do, but that would already solve a big part of the issue. Then, I guess people coding in Java will understand that "package" is a reserved keyword, and it's not that bad.

[2018-05-24 08:35] bertwin commented on #7526
@jdubois @agoncal i haven't tested it, but in theory these reserved words are not needed anymore:
[code]

[2018-05-24 08:38] jdubois commented on #7526
Oh yes thanks @bertwin - I got confused because we also added some new reserved keywords for MySQL 8, but the real original issue is the one you refer too -> I'm testing this and removing those if possible!

Give me 10 minutes :-)

[2018-05-24 08:51] deepu105 commented on #7679
I'm sorry but using console.log is a bad practice in the frontend world regradless of Angular and React and is heavily misused in front end by backend developers especially :wink:
I will not be ok to remove it. If you want to use it on a specific file use the tslint comments to turn it off where necessary. To me using console log is same as using sysout in java.

JHipster also provides a logger in

[2018-05-24 08:51] #7679 closed

[2018-05-24 09:08] cmoine commented on #7679
Good point, it seems that console.log are also possible in Angular :)

I will go to sleep less stupid tonight :) I guess we can close this ticket then.

[2018-05-24 09:12] cmoine commented on #7679
I always wish I can bring my 2 cents to this wonderfull projet, but I am still a "little padawan" regarding front end technologies :) (I brought my 2 cents regarding gradle scripts 6 month ago :D )

[2018-05-24 09:22] jdubois commented on #7526
OK, maybe a bit more :-)
I'm reopening this, I don't know what happens but I guess the master build is currently broken

[2018-05-24 09:41] jdubois commented on #7526
Ping @MathieuAA it looks like with the current JHipster Core master branch, running `yarn test` on generator-jhipster fails - I don't understand why this wouldn't be failing with Travis?

[2018-05-24 09:47] deepu105 commented on #7679
@cmoine thanks for your contribution, size doesnt matter :)

[2018-05-24 09:48] deepu105 commented on #7679
In angular also we have the rule, only console.error is allowed
[code]

[2018-05-24 09:50] deepu105 commented on #7526
@jdubois this specific issue is already fixed in master. Did you encounter it again?
Also when I did my last commit today master was green

[2018-05-24 09:59] MathieuAA commented on #7526
Interesting. Let me have a look.

[2018-05-24 12:03] vikrantch-hk opened #7682 "not getting react js as option for ui when using eclipse plugin for jhipster"
hi team, I am not seeing react for ui option when using jhipster eclipse plugin, is this yet to be introduced

[2018-05-24 12:38] jdubois commented on #7682
I'm sorry but I have no idea what plugin you are talking about, is that JHipster IDE? I didn't know it was doing that, and why don't you use the JHipster IDE bug repository? Besides, the React option depends on the JHipster version you are using, and as you don't provide it, I also can't help you.

Please follow our guidelines, we spent a lot of time to do them.

[2018-05-24 12:38] jdubois commented on #7682
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-05-24 12:38] #7682 closed

[2018-05-24 12:40] jdubois commented on #7526
@deepu105 @MathieuAA I added "STATUS" (and its friends) as a reserved keyword in JHipster Core, so even if it's solved in the generator, you still can't use it. So I would just like to remove it from JHipster Core (I think I'm going to do the change now, it's trivial, and I'll link it here), and then we need a new release of JHipster Core.

[2018-05-24 13:01] jdubois commented on #7526
Hold on @MathieuAA it might be my fault.... Bad installation with Homebrew as I'm also working to have Node 10 working

[2018-05-24 13:04] jdubois commented on #7638
I just tested the new Yarn 1.7.0 and Node 10.1.0 and everything works fine

[2018-05-24 13:05] jdubois commented on #7526
Nope sorry @MathieuAA it's not my fault! Here is the error:

[code]

[2018-05-24 13:30] jdubois commented on #7526
I'm closing this as I confirm that the React keywords are fixed, so the original issue is fixed, once jhipster-core is released of course!!!
@MathieuAA don't hesitate to ping me if you need help, also I don't understand how this could have passed Travis

[2018-05-24 13:36] jdubois commented on #7337
Hi, this has been opened for 2 month and no work has started - while I agree that this would be a cool feature, I don't want to have opened feature requests for too long if nobody is working on this, and this is why I'm closing this.

If anybody wants to do this, please step up and I will gladly re-open the ticket, in order to track the work.

[2018-05-24 13:56] farrault commented on #7331
@warnonphilippe
( preliminary note : contrary to "uaa" authenticationType, in Jhipster' "Oauth2" authenticationType, the access_token is NOT considered a JWT by the gateway or the microservices, they have to call the IdentityProvider to check the identity of the user or the validity of the token)

I agree that the mixed behaviour (some microservices cal are ok and other are not) is not a good thin

[2018-05-24 14:28] jdubois commented on #7654
OK same analysis as you @hdurix - and I don't get why it's failing, but there is an issue with this port (which looks correctly configured in testcontainers-couchbase), and fixing it solves the issue. Please note it works on Travis, and I'm using Docker4Mac, so maybe there's an issue with Docker here.

Anyway let's fix the port so it works. I'm also going to upgrade to Couchbase 5.1.0.

@Tcharl I

[2018-05-24 14:34] bertwin commented on #7526
Is there a test that tests generator-jhipster with the latest jhipster-core?
It would have to yarn link it, right?

[2018-05-24 14:34] henri-tremblay commented on #7638
I confirm. It works perfectly.

[2018-05-24 14:39] jdubois commented on #7526
Or the other way around, there should be a test in JHipster Core that tests with the latest generator from master. Not sure this exists, and it should.

[2018-05-24 14:39] #7654 closed

[2018-05-24 14:40] jdubois commented on #7654
Done! Thanks @hdurix !!

[2018-05-24 14:44] jkutner commented on #7674
@ruddell can you check what the command used to start the app is? (run `heroku ps` and you'll see it). Then post here? Thanks.

[2018-05-24 14:45] jkutner commented on #7674
@ruddell also, can you tell me what happens if you run `./gradlew stage` locally, and then run that same `java` command to start the app?

[2018-05-24 14:51] hdurix commented on #7654
No problem. It could have been a bit cleaner to do it directly in the lib, so I will do a PR on testcontainers-couchbase and another one for JHipster when the new version of testcontainers-couchbase is released.

[2018-05-24 14:52] MathieuAA commented on #7526
The only logical place where there should be a test is in the generator (and there are a few, actually). Anyway, I think I'm done with fixing v2.

[2018-05-24 14:56] ruddell commented on #7674
java $JAVA_OPTS -Xmx256m -jar build/libs/*.war --spring.profiles.active=prod,heroku --server.port=$PORT

The same as on the remote happens.  Only the backend is compiled, the frontend does not build.

[2018-05-24 15:00] ruddell commented on #7674
If I add `-Pprod` so `./gradlew stage -Pprod` it builds the frontend

[2018-05-24 15:04] warnonphilippe commented on #7331
Hi @farrault thanks for you response,
I agree that disabling the cache isn't a good thing, except on a small system. (*sol1)

So the only choice to avoid the mixed behaviour, would be to check the token by the service. But as you described it in your note, the access_token is not a JWT, so it can't be check locally.
I think Oauth2 doesn't describe the token's structure, so it could be a jwt check

[2018-05-24 15:06] atomfrede commented on #7674
Adding `-Pprod` should be done nevertheless (in order to use the production webpack build). In dev mode it seems a propery `webpack` is required:

[code]
Not sure why that is and if maven has similar configuration.

[2018-05-24 15:09] PierreBesson commented on #7337
I have many ideas around this but I will need some time as I never used Istio myself and we have other priorities. Anyway from most people point of view it's still a bit early to go to prod with Istio. Similarly to the early days of k8s where setting it up was more complex and then new features arrive that simplify everything (like deployments vs replication controllers).

Anyway if some people wa

[2018-05-24 15:10] ruddell commented on #7674
In dev you can use the `webpack` profile which compiles the TS for you at startup instead of having to run `yarn start` separately (you lose hot reload/compile though).  It doesn't use the prod webpack build though.

[2018-05-24 16:14] jkutner commented on #7674
@ruddell nevermind, i'm going to fix this by setting `GRADLE_TASK="stage -Pprod"`. However, now i'm running into:

[code]

[2018-05-24 16:17] warnonphilippe commented on #7331
@farrault
Thanks for your precision, even you were already clear, but my answer was not. Just to be clear too, the problem occured when accessing a service with a token linked to a killed session. So it can occurs just after killing the session and before the token expired. Thanks to  #7666, this time will be very short. I think the issue can be closed.

[2018-05-24 16:17] #7331 closed

[2018-05-24 16:31] jkutner commented on #7674
Oh nevermind, that's because the app didn't have a `yarn.lock` because i never ran it locally. Seems to work.

[2018-05-24 16:32] farrault commented on #7281
This issue was taken into account into #7666. So closing it

[2018-05-24 16:32] #7281 closed

[2018-05-24 17:43] #7674 closed

[2018-05-24 18:29] mraible commented on #7612
I'm getting this issue now too, so re-opening.

[2018-05-24 18:44] deepu105 commented on #7526
Yes there is already a test for import jdl but it uses released version of
jh core and not master

On Thu, 24 May 2018, 8:22 pm Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2018-05-24 20:45] MathieuAA commented on #7526
Basically, after I'm done with my changes, the subgen will only:
  - call one class from JCore (that will take care of **everything**, but will not make one's coffee _yet_)
    - waaaaaay easier for me to test everything
    - no need for anyone to call a ton of classes from JCore to do one little thing
  - call the other subgens (entity & app) when needed

I don't expect the tests for the JDL imp

[2018-05-24 21:27] tchlyah commented on #7654
I'm very surprised to see that fixing this port works in travis! I recall I had several issues with this port as being used in travis.

Any way, I didn't have any issues until now, I don't now what have been changed, specially that couchbase-testcontainers tests are working without any issues. Let me analyse this and I'll be back to you.

[2018-05-24 21:32] tchlyah commented on #7654
Finally it was very quick, I have upgraded [couchbase-testcontainers:1.12](https://github.com/differentway/testcontainers-java-module-couchbase/releases/tag/1.12) and couchbase-client:2.5.7 and now tests build without any issue.

I'll make a PR to jhipster-dependencies. @jdubois can you please upgrade version, and revert your recent commit?

[2018-05-25 03:43] deepu105 commented on #7526
Hi Mathieu, I would prefer to keep the import JDL tests as it also tests
the subgen, which invokes entity subgen and so on after invoking JHCore

Thanks & Regards,
Deepu

On Fri, May 25, 2018 at 2:15 AM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2018-05-25 07:04] jdubois commented on #7654
I'm pretty sure we were already using couchbase-testcontainers:1.12 let me check.
No problem for the release, of course!

[2018-05-25 08:50] tchlyah commented on #7654
Ah sorry, I made a PR on the wrong library, I didn’t notice that it was deprecated.

After double-checking, yes, the new jhipster-dependency use indeed the new version of testcontainers, but it also uses the new version of [couchbase-client:2.5.8](https://developer.couchbase.com/server/other-products/release-notes-archives/java-sdk#story-h2-2) through springboot dependencies, the later introduce a

[2018-05-25 09:13] sendilkumarn commented on #7238
@deepu105 you working on this?

[2018-05-25 10:23] deepu105 commented on #7238
Not yet, need to find some time next week

[2018-05-25 13:59] BitFlipp3r commented on #6567
Has #6675 been reverted? I'm using v5 beta and get the same chromium error:

[code]

[2018-05-25 14:16] pascalgrimaud commented on #6567
Yes @BitFlipp3r : a lot of things has changed. Here the history:
- in 4.x, we try to migrate from PhantomJS to puppetter
- after some issues, we decided to switch back to PhantomJS
- in v5 beta, we decided to try puppetter, as PhantomJS is deprecated now
- but currently, in master branch, we migrate to Jest and it seems far better!

[2018-05-25 14:38] sendilkumarn commented on #7337
@PierreBesson We do have to remove `Eureka` & ` Ribbon`  & ` zuul`  and from our default generated application. probably for the ( `No service discovery option` )

Once we were able to do this, then it will be easier to add `Istio` on top of that. WDYT ?

[2018-05-25 15:12] PierreBesson commented on #7337
Yes that's exactly the plan but if we do provide this istio option, we need to setup a complete dev workflow to use kubernetes discovery on the local machine.

I'm still thinking on how to do that, maybe using telepresence to switch out local apps with the one running in kubernetes. Also I would like to configure the JHipster registry to be able to connect to kubernetes service discovery so that y

[2018-05-25 18:27] jimmyaug opened #7688 "Forbidden: Could not verify the provided CSRF token because your session was not found."
##### **Overview of the issue**
Default app, not able to login using the default username and password (admin/admin). I get the following error at server side

o.z.p.spring.web.advice.AdviceTrait      : Forbidden: Could not verify the provided CSRF token because your session was not found.
2018-05-25 13:54:17.485  WARN 13772 --- [ XNIO-2 task-26] .m.m.a.ExceptionHandlerExceptionResolver : Resolved

[2018-05-25 20:45] srinivasa-vasu commented on #7337
@PierreBesson @sendilkumarn, We don't need to remove any of the components (eureka, ribbon and zuul). Istio would work perfectly with registry (with RestTemplate) as long as we set two of the eureka properties. EUREKA_INSTANCE_PREFER_IP_ADDRESS to false and EUREKA_INSTANCE_HOSTNAME to 'service' manifest name. With this, requests will always be routed through envoy sidecar. Only downside is, in the

[2018-05-26 05:43] srinivasa-vasu commented on #7337
@PierreBesson Yes, I have a working version

[2018-05-26 05:52] jdubois commented on #7337
Oh thanks for the tip @srinivasa-vasu ! I think this could also be useful for our Heroku sub-generator (ping @jkutner ) as microservices on Heroku are using something similar

[2018-05-26 05:54] jdubois commented on #7688
That would be a very serious issue, I don't understand how this could have gone through all our tests!!! Let me test this ASAP

[2018-05-26 05:57] jdubois commented on #7688
@jimmyaug maybe this depends on your browser, on the way you start the application, or on how you access the application (directly on port 8080, through Webpack dev server on port 9060, or through BrowserSync on port 9000)???

Without this information, I'm running this with Maven (`./mvnw`), with Chrome on port 8080, which are the most obvious options.

[2018-05-26 06:04] jdubois opened #7690 "Switch to xmemcached"
As mentioned in #7652 by @jkutner the Memcached library we currently use isn't good enough, we need to migrate to xmemcached

[2018-05-26 06:05] jdubois opened #7691 "Add Redis support"
As mentioned in #7652 we could easily add Redis support, which would work the same way as Memcached (only Spring Cache abstraction, no Hibernate L2 cache).

[2018-05-26 06:08] jdubois commented on #7688
I'm sorry but I can't reproduce. Maybe also you have a specific browser extension? We already issues with people using ad blockers. Could you try with another, clean browser?

I'm closing as I can't reproduce, and will reopen if we have more information and can reproduce.

[2018-05-26 06:08] #7688 closed

[2018-05-26 06:26] jdubois commented on #7654
@tchlyah I'm thrusting you 100% on that, yes I'm reverting my commit right now

[2018-05-26 06:27] jdubois commented on #7654
Reverted in https://github.com/jhipster/generator-jhipster/commit/d23779bdd8949ce0bda7afae5c86bd17ab06ea5b

[2018-05-26 06:33] jdubois commented on #7654
@tchlyah I just released https://github.com/jhipster/jhipster/releases/tag/2.0.4 which includes your couchbase-client upgrade.

This isn't used in jhipster/generator-jhipster yet, as it needs a couple of hours to get synced on Maven Central, so I'll do this later.

[2018-05-26 06:48] sendilkumarn commented on #7337
@srinivasa-vasu I am wondering keeping other components along with `istio`  won't be an overhead? I mean it is not absolutely necessary to have those components right?

[2018-05-26 06:48] jdubois commented on #7060
OK @tibistibi so if I understand well that means we would be a bit less generic (only 1 one-to-one relationship), but that's reasonable (doing 2 1-to-1 relationships is starting to be really strange), and we gain better performance and code for most people.

Now, what could be even more perfect, is to have an option asking people if they want a MapsId (saying that this would limit them to one 1-to

[2018-05-26 09:12] srinivasa-vasu commented on #7337
@sendilkumarn Yep, it is not necessary, but this is something that we can start with without impacting the current code generation logic. It's not much of an overhead, essentially all the intelligence will be played out by Istio, rest of the components would just simply exist. Though Istio helps to replace/complement some of the spring cloud services, we don't necessarily need to replace all those

[2018-05-26 11:33] deepu105 commented on #7337
Thats awesome Srini

On Sat, 26 May 2018, 2:42 pm Srinivasa Vasu, <notifications@github.com>
wrote:

[2018-05-26 15:27] saturnism commented on #7337
oops, noticed @srinivasa-vasu has some code to check in first. will wait for those checkins.  After that, I can:
- [ ] generate gateway w/o zuul?
- [ ] generate microservices w/ `application.contextPath` for easier mapping
- [ ] generate kubernetes ingress

And finally, w/ Istio 0.8:
- [ ] option to generate Istio circuit breaking rules

[2018-05-26 15:41] PierreBesson commented on #7337
It's OK I assigned both of you.

[2018-05-27 08:57] gmarziou commented on #5644
@amaziane 1 GB of RAM is probably too low by far and you should install node 8.x rather than 10.x

[2018-05-27 19:27] JCDavie commented on #6157
@marcelinobadin i also get 404 from all app/* files with ingress, even after ingress.kubernetes.io/add-base-url: /

Could you possibly share your ingress.yml so I can see where I have gone wrong

[2018-05-27 19:29] ctamisier opened #7692 "Font awesome icons stuck to the text for Angular"
**In the master branch (v5.0.0-beta.1), with an Angular generation: the font awesome icons are stuck to the text:**
<img width="537" alt="screen shot 2018-05-27 at 21 15 01" src="https://user-images.githubusercontent.com/766263/40589768-8e3ad63a-61f3-11e8-866b-c23606548750.png">

**Everything is fine in v4.14.4:**
<img width="555" alt="screen shot 2018-05-27 at 21 15 50" src="https://user-images.g

[2018-05-28 02:15] deepu105 commented on #7692
It used to have a fa-fw class tonfix width of icons. May be its changed now

[2018-05-28 07:58] jdubois commented on #7692
Yes indeed, thanks @ctamisier

[2018-05-28 08:58] kaidohallik commented on #7692
I don't know, is this best solution, but I fixed this in my project by:
* adding to `global.css`:
[code]
* in `navbar.component.html` adding property `[fixedWidth]="true"` to every `fa-icon` element.

[2018-05-28 09:55] wmarques commented on #7692
Yep we need to use the fixedWidth attribute to fix this. Can you do a PR @kaidohallik ? I'd be glad to review it :)

[2018-05-28 10:35] ctamisier commented on #7692
It’s not only for fa-icon actually. In the home page the title (top left) and some texts are also “stuck”

[2018-05-28 14:33] saturnism opened #7693 "Error during yarn install when there is yarn link"
##### **Overview of the issue**
`yarn install` failed on gateway.

##### **Motivation for or Use Case**
Unable to package gateway into a Docker image.

##### **Reproduce the error**

1. Created 2 microservices, 1 entity in each microservice.
1. Created 1 Gateway
1. Imported both entites into the Gateway
1. In Gateway, run `./mvnw`, this starts fine
1. In Gateway, run `/mvnw verify -Pprod dockerfil

[2018-05-28 14:54] deepu105 commented on #7693
Seems like an issue from Yarn itself. Can you try with npm instead using the `--clientPackageManager` flag during generation

[2018-05-28 15:11] deepu105 opened #7694 "React: fix commented out flaky e2e tests in account module"
Some e2e tests in account module are commented out in the templates as they are very flaky and fails in Travis builds, they are difficult to reproduce locally and hence tricky to fix

https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs#L116

[2018-05-28 16:20] yelhouti opened #7696 "Many To Many recursive calls in test createEntity"
##### **Overview of the issue**

When you generate the code that has a many to many relationship to the same class (ex: parent, child)
the test has class createEntity that will class it self and test will get stack.

##### **Motivation for or Use Case**

##### **Reproduce the error**

use A JDL like this:

[code]

##### **Related issues**

##### **Suggest a Fix**

check when generating that the cl

[2018-05-28 17:05] ruddell commented on #7696
Could you add your project's `.yo-rc.json` please?  I couldn't reproduce with just your entity JDL

[2018-05-28 18:12] pascalgrimaud commented on #7693
Oh, I had the same issue this morning and thought it was a problem with my machine.

What I don't understand is our Travis builds...

[2018-05-28 19:02] pascalgrimaud commented on #7693
In fact, it failed for all configurations. It comes from `Yarn` as I don't have the issue, using `NPM`.
The related ticket is here: https://github.com/yarnpkg/yarn/issues/5876

[2018-05-29 01:53] saturnism commented on #7337
nice! i feel the 2 PR combined makes it whole!

[2018-05-29 02:22] Falydoor opened #7699 "More user friendly Angular's datepicker for local dates"
##### **Overview of the feature request**

When having an entity with a `LocalDate` field, the datepicker popup use a delta of 10 years based on the selected date. I'm using `5.0.0-beta.1` with Angular.

##### **Motivation for or Use Case**

Picking a date of birth for example is not very easy as you can only select a year with a range of 10 based on the selected date. You usually end up doing a m

[2018-05-29 05:39] deepu105 commented on #7693
Is there anything we can do here?

Thanks & Regards,
Deepu

On Mon, May 28, 2018 at 11:42 PM Pascal Grimaud <notifications@github.com>
wrote:

[2018-05-29 05:49] pascalgrimaud commented on #7693
At least, revert Yarn to 1.6.0 and waiting 1.7.1+
For developer, simply use yarn link after the generation.

I'll do it in few minutes

[2018-05-29 06:20] pascalgrimaud commented on #7694
FYI, I added Protractor tests for React yesterday.
Here the results: https://travis-ci.org/hipster-labs/jhipster-travis-build/builds/384889812

It seems to work well for all configurations, excepting: Cassandra and OAuth2

Cassandra: https://travis-ci.org/hipster-labs/jhipster-travis-build/jobs/384889818

[code]

OAuth2: https://travis-ci.org/hipster-labs/jhipster-travis-build/jobs/384889820 -> no

[2018-05-29 06:47] kaidohallik commented on #7692
Angular 6 changed default `preserveWhitespaces` value from `true` to `false`.
Changing
[code]
to
[code]
fixes all described stuck problems.
Then no need for `fa-icon { padding-right: 3px; }` in `global.css` any more.

Is switching to `preserveWhitespaces: true` in global application level good idea?

To align items in admin menu, must also add property `[fixedWidth]="true"` to every `fa-icon` elem

[2018-05-29 06:58] #7693 closed

[2018-05-29 07:00] deepu105 commented on #7692
I think it should be ok to preserve whitespaces. can you do a PR

Thanks & Regards,
Deepu

On Tue, May 29, 2018 at 12:17 PM Kaido Hallik <notifications@github.com>
wrote:

[2018-05-29 07:04] kaidohallik commented on #7692
OK, doing PR.

[2018-05-29 08:14] jdubois commented on #7696
I'm closing this as it can't be reproduced -> @yelhouti please follow the guidelines and add your `.yo-rc.json` file and all required information, so we can reproduce.

[2018-05-29 08:51] #7664 closed

[2018-05-29 08:57] PierreBesson commented on #7337
Oh yes currently we need Zuul to rewrite the swagger docs json with the correct basePath but this could be done with Istio as well right ?

[2018-05-29 08:59] saturnism commented on #7337
path rewriting can be done w/ istio, but i'm also thinking of the case where istio is not used, but simply using k8s ingress.

does swagger doc rewrite `/api/MyEntity` to `/ms1/api/MyEntity`?

[2018-05-29 09:05] PierreBesson commented on #7337
I guess it will work with the context-path that you set.

[2018-05-29 09:16] yelhouti commented on #7696
Sorry guys for .yo-rc I don’t think it’s relevant. I think that the problem appears when my manyToMany is required (I know doesn’t make too much sense this is why I removed it from the post) could you try that?

[2018-05-29 09:17] #7692 closed

[2018-05-29 09:19] jdubois commented on #7696
I'm sorry @yelhouti but I'm just not testing if I don't have the full information. This already happened like 10 times before, and I know it's not your fault, but each time the missing information was in fact important and we lost time testing.

[2018-05-29 11:34] PierreBesson commented on #7693
So @saturnism you can fix it for you by changing the yarn version refered in your pom.xml to 1.6.0.

[2018-05-29 14:09] mraible commented on #7694
I wonder if moving Protractor tests to use async/await would help with this: https://github.com/angular/protractor/issues/4307#issuecomment-386112285

[2018-05-29 14:52] deepu105 commented on #7694
@mraible this issue is for React and we already use async/await everywhere

[2018-05-30 01:31] yelhouti commented on #7696
@jdubois no need to justify I totally understand, I wasn't near my laptop (answered using my phone), any way here is the yo-rc.json but like I says earlier I think it's because of the required.
thanks for the great lib and keep up the great work :)

[2018-05-30 03:10] ruddell commented on #7696
@yelhouti It happens when the relationship is required, that's why I couldn't reproduce with the JDL (the relationship is missing the `required` keyword).  My main question is if this is a valid use-case?  You can't create entities through the Angular frontend when it requires a relationship to another of the same entity, because none of that entity exist.  Maybe we shouldn't allow required relati

[2018-05-30 09:39] MathieuAA commented on #7504
@deepu105 @jdubois I'll release JCore v3 today or tomorrow (and create a PR for the subgen)

[2018-05-30 11:45] pascalgrimaud commented on #5177
@rakeshnambiar : it depends on your config, how you got your Jenkinsfile. Manually or generated with JHipster? etc. As you don't provide information, it's really hard to help you.

About your Jenkinsfile:
- Manually: if you use directly `yarn install`, you need to install it
- Generated with JHipster: it will use maven front end plugin, download a local Yarn and use it, so you don't need anything.

[2018-05-30 13:04] rakeshnambiar commented on #5177
Hi, @pascalgrimaud thanks a lot for your reply. I double checked and yarn (1.7.0) is already installed in this system and that's the reason I am not getting any error while executing the bash file manually.

So in the deployment script, I mentioned just 'yarn start' as one of the steps. Do I need to explicitly mention something to execute the shell script file through Jenkins?

[2018-05-30 17:22] sami93 commented on #5308
its solved for me with this command :
yarn config set strict -ssl false

[2018-05-30 19:55] sarfarazengglb opened #7707 "Authorization Not working at UI level"
##### **Overview of the issue**
Authorization Not working at UI level.A user with Non Admin Access can views Admin Features
<img width="1426" alt="screen shot 2018-05-30 at 11 49 40 pm" src="https://user-images.githubusercontent.com/6543585/40744102-a1e5e328-6464-11e8-944a-017550022ca5.png">
<img width="1388" alt="screen shot 2018-05-30 at 11 50 44 pm" src="https://user-images.githubusercontent.co

[2018-05-30 20:58] saturnism opened #7708 "Feature Request - Enhance Istio / Kubernetes Support"
##### **Overview of the feature request**

Istio Support MVP is in #7337. After that's implemented, look into additional changes around:

**Istio**
- [x] Update to Istio ~0.8~ 1.0 (Done #8321)
- [ ] Use Istio's Zipkin
  - [ ] Remove Zipkin Deployment
  - [ ] Configure Zipkin to point to Istio's Zipkin
  - [ ] Add Spring Cloud Sleuth Core Starter by default if using Istio
- [ ] Allow "*" wildcard h

[2018-05-30 21:29] saturnism opened #7709 "Kubernetes Generator sets imagePullPolicy to IfNotPresent, should it the policy use default?"
##### **Overview of the issue**

Currently, Kubernetes generator generates deployment YAML w/ `imagePullPolicy: IfNotPresent`. However, this doesn't work well when using using `latest` images, which is by default, what we use as the image tag (actually, we didn't tag, so it defaults to latest).

Should we simply remove `imagePullPolicy`? It'll default to `Always` when using `latest` tag, and `IfNo

[2018-05-30 22:32] saturnism commented on #7709
I think this was done for minikube use case, where image may be built directly in minikube's docker daemon, so it shouldn't repull.

[2018-05-31 02:19] yelhouti commented on #7696
indeed @ruddell I think that for the OneToMany use case having the FK required is not possible as there will always be one with null. for the manyToMany the required doesn't serve any purpose as the table contains only two columns which are primary keys and therefore required.
Therefore since there is no valid use case for required when pointing to the same relashionship, we can either decide to n

[2018-05-31 06:31] jdubois commented on #7707
You're not even giving your version number...

[2018-05-31 06:31] jdubois commented on #7707
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-05-31 06:31] #7707 closed

[2018-05-31 06:45] jdubois commented on #7504
Awesome, thanks @MathieuAA !! I'll do a new beta release just afterwards

[2018-05-31 06:51] deepu105 commented on #7504
​​
awesome, you can assign me as a reviewer once PR is done

Thanks & Regards,
Deepu

On Thu, May 31, 2018 at 12:15 PM Julien Dubois <notifications@github.com>
wrote:

[2018-05-31 07:22] jdubois opened #7710 "OAuth2 - no user found when doing microservices"
This is on the current master branch, and this was probably caused by the recent changes by @farrault and @mraible - please note this works well with monoliths!

I'm using this gateway:

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.mycompany.myapp",
      "microservicePath": "/Users/julien/workspace/tmp/micro"
    }

[2018-05-31 07:31] farrault commented on #7710
Sorry to hear that @jdubois. I tested this setup on my machine before the
merge but without docker : maybe it is a hint on the cause

I’m on week-end from today : sorry I won’t be able to help more before
several days

Le jeu. 31 mai 2018 à 09:23, Julien Dubois <notifications@github.com> a
écrit :

--

*Fabien Arrault*
*Architecte JavaEE Senior - Pôle conseil*Ippon Technologies

43-47 avenue de la

[2018-05-31 07:33] jdubois commented on #7710
No problem @farrault - I'm now testing locally (without Docker) to check if that makes a difference.

[2018-05-31 07:35] Tarekajaj opened #7711 "AuthorizedFeignClient fail with 401 Unauthorized"
##### **Overview of the issue**
started registry, uaa server and gateway then created 2 micro-services service1, service2.
service1 need to get some data from service2 so I created Service2Client in service 1 like the following:
[code]
then in my service I injected Service2Client

[code]
In service2 the RestController was added to handle /api/data

Whenever I invoke service2Client.getData() I get

[2018-05-31 07:45] jdubois commented on #7710
Good news, it works locally! When I say locally, I have:

- The gateway & the microservice running from the console, using `./mvnw`
- Keycloak and the JHipster Registry inside Docker

I have no idea where the difference from!

[2018-05-31 09:35] Tarekajaj commented on #7711
updated the line
`.secret(HipsterProperties.getSecurity().getClientAuthorization().getClientSecret())`
to
`.secret(passwordEncoder.encode(jHipsterProperties.getSecurity().getClientAuthorization().getClientSecret()))`
in  `UaaConfiguration -> configure(ClientDetailsServiceConfigurer clients) ` in the uaa server
and the error is gone.
Is it valid what I did? could it break something else? or I just

[2018-05-31 10:45] Tarekajaj commented on #7711
Unfortunately now I'm facing a **403 Access is denied**
Any idea what's the cause?

[2018-05-31 10:53] vikrantch-hk opened #7712 "getting error in generating application when having manyToMany relationship"
jhipster version 5.0.0-beta.1

I am getting below error while generating application
[code]

I have defined a many to many relationship between courier and courierChannel
[code]

[2018-05-31 11:11] maznag commented on #7710
@jdubois maybe this issue is similary to #7612. I had the same problem for Monolith and Docker Compose. As proposed by @mraible, try to delete the “SECURITY_OAUTH2_*” keys in app.yml. It works well for me after delting these keys in app.yml.

[2018-05-31 12:10] mraible commented on #7710
I experienced this issue (outside of Docker) when I had too many environment variables defined. We removed a few properties, so make sure you don’t have env variables that override non existent properties.

[2018-05-31 13:04] jdubois commented on #7710
Oh oh oh I got it working!!! Thanks so much @maznag that's the issue, the Docker Compose configuration is just plain wrong!

I'm fixing this.

[2018-05-31 13:27] MathieuAA commented on #7712
If the team has spent several hours making templates for issues, PRs and the such, you should also take time to properly use them.

---

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://

[2018-05-31 13:27] #7712 closed

[2018-05-31 13:53] #7710 closed

[2018-05-31 15:04] ruddell commented on #7711
The change you mentioned is already in the [generated code](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/config/UaaConfiguration.java.ejs#L149) for v5.  Usually, a 403 means the API routes are restricted.

[2018-05-31 15:08] DanielFran commented on #7606
@jdubois, seems the fix has been included in Finchley-RC2, so upgrading to latest jhipster version should be OK?

[2018-05-31 15:17] jdubois commented on #7606
Oh let me test this!

[2018-05-31 15:28] jdubois commented on #7606
Indeed, thanks @DanielFran for pointing this out!

I'm fixing this ASAP

[2018-05-31 15:29] #7606 closed

[2018-05-31 17:49] JulioJu commented on #7654
I experience the same problem with jhipster 2.0.6. I test with https://github.com/jhipster/generator-jhipster/blob/master/travis/samples/ngx-couchbase/.yo-rc.json. I don't understand, it should be fixed ?

[2018-06-01 05:15] Tarekajaj commented on #7711
@ruddell it was this [this line](https://github.com/jhipster/generator-jhipster/blob/da01afdeaa969117c0570ab23940b78e85c6d4dc/generators/server/templates/src/main/java/package/config/UaaConfiguration.java.ejs#L157)

Why are the /api outes restricted? isn't that what AuthorizedFeignClient should solve? if not what to do to allow the client to access those route?

I tried changing `.antMatchers("/ap

[2018-06-01 05:55] pascalgrimaud commented on #7606
@jdubois : we have this error in Travis builds for Gradle:

[code]

There is no `2.0.6` version here: https://jcenter.bintray.com/io/github/jhipster/jhipster-framework/
Is there something wrong ?

[2018-06-01 06:00] jdubois commented on #7606
Oh that's  me yesterday, I knew I broke the build... then 2.0.6 should be released and synced, it's on Maven Central - I don't why it's not on jcenter, I don't  know how the Gradle guys do it but they should be in sync with Maven Central

[2018-06-01 06:02] pascalgrimaud commented on #7606
It's correctly release here:
- https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22io.github.jhipster%22%20AND%20a%3A%22jhipster-dependencies%22

But no sync for jcenter. Strange! Maybe just wait

[2018-06-01 06:09] jdubois commented on #7606
As it's stuck since yesterday I'm contacting the JFrog support

[2018-06-01 06:13] jdubois commented on #7606
Oh I got an answer saying that we can't get support as we are not active customers :-(

[2018-06-01 06:18] pascalgrimaud commented on #7606
Another something strange:
- the link with 2.0.6
- the version inside: 2.0.5

The link: https://repo.maven.apache.org/maven2/io/github/jhipster/jhipster-framework/2.0.6/jhipster-framework-2.0.6.pom

If you look inside, there is:
[code]

[2018-06-01 06:46] Tarekajaj commented on #7711
Found the root cause of the 403 error,
It seems feign is converting my GET request to POST for some reason.

[2018-06-01 06:46] #7711 closed

[2018-06-01 08:02] jdubois commented on #7606
I have no idea how we got that wrong pom.xml -> see https://github.com/jhipster/jhipster/blob/2.0.6/jhipster-framework/pom.xml#L8 it's correct!! OK let's try 2.0.7

[2018-06-01 11:04] Tarekajaj opened #7714 "User entity filtering"
##### **Overview of the feature request**
Create filtering queries for user entity in uaa server.
Just like [Entities filtering](https://www.jhipster.tech/entities-filtering/)
or at least document how developer can add it.

##### **Motivation for or Use Case**
Creating a filterable user list where one can filter users by searching name or email etc...

##### **Related issues or PR**
Unknown

- [x

[2018-06-01 12:17] Tarekajaj commented on #7714
And since you suggest creating a new entity with one-to-one relation to User in order to add new fields and functionality it would also be helpful to show how one can query and filter Users based on those new fields.

[2018-06-01 12:58] vishal423 opened #7715 "Support error boundaries introduced in react v16"
##### **Overview of the feature request**

Support error boundaries introduced in react v16

##### **Motivation for or Use Case**

Starting v16, unhandled runtime errors will unmount whole react component tree. Error boundaries provides an elegant way to handle client side errors and display fallback UI.

https://reactjs.org/docs/error-boundaries.html

##### **Related issues or PR**

I don't see o

[2018-06-01 14:41] jdubois commented on #7606
Release 2.0.7 has been done 7 hours ago, and it's still not on Maven Central or JCenter - this all seems quite broken at the moment!

[2018-06-01 15:11] agaspardcilia opened #7716 "Angular : this._anchor is undefined error message when clicking"
##### **Overview of the issue**

There is an error in the front-end console every time you click on the screen.
[code]

##### **Motivation for or Use Case**

A huge error message in the console every time we click is pretty annoying.

##### **Reproduce the error**

+ Create a vanilla Angular project ( `jh` -> smash enter until it generates stuff).
+ Launch it
+ Click anywhere

##### **Related issu

[2018-06-01 18:59] pascalgrimaud commented on #7606
finally out !
https://repo.maven.apache.org/maven2/io/github/jhipster/jhipster-framework/2.0.7/jhipster-framework-2.0.7.pom

[2018-06-01 19:13] jdubois commented on #7606
And 2.0.6 never made it to jcenter! WTF...

[2018-06-01 19:15] pascalgrimaud commented on #7606
yes, I don't understand:
https://jcenter.bintray.com/io/github/jhipster/jhipster-framework/

[2018-06-01 19:22] jdubois commented on #7606
It's just buggy... and as we can't open a support ticket we're stuck.

[2018-06-01 19:44] eosimosu commented on #7709
The isn't really an issue ... The generated deployment files are meant to be a template/starting point so just change it to whatever suits.

[2018-06-01 19:47] mraible commented on #7709
Whatever works best out-of-the-box with minikube is the option I support.

[2018-06-01 20:19] PierreBesson commented on #7709
This was already talked about a year ago https://github.com/jhipster/generator-jhipster/issues/5172. I think I had actually implemented a solution to add the proper docker tag when packaging images but @pascalgrimaud rolled back my change :smile: because it was less stable. However I would be ready to do this again. Basically we should tag docker images with latest + build version (defined in mave

[2018-06-02 13:17] tchlyah commented on #7654
It is due to this commit : https://github.com/jhipster/jhipster/commit/db4b2ba0981604b8c490dd627b9245aa40f3bb1d

In my previous comment I explained why we need to stay with the couchbase-client version 2.5.7, until I find a better solution to resolve the issue with new version. I'm working on it.

[2018-06-02 15:06] JulioJu commented on #7654
@tchlyah maybe you could open again this issue, until it is fix ?

[2018-06-02 19:38] JinnaBalu opened #7721 "Unable to delete user in User management"
Jhipster Version: 5.0.0-beta.1

Here is the screenshot attaching related to the issue

![image](https://user-images.githubusercontent.com/11784253/40880238-a2d3b342-66ca-11e8-8bd2-92c7b1203a1b.png)

[2018-06-02 19:44] pascalgrimaud commented on #7721
Related to https://github.com/jhipster/generator-jhipster/pull/7406

[2018-06-02 19:44] #7721 closed

[2018-06-02 19:54] jdubois commented on #7721
And please, please follow the guidelines... We spent a lot of time doing them, and they are here to help everyone

[2018-06-02 20:06] pascalgrimaud commented on #7716
Related to this ticket https://github.com/ng-bootstrap/ng-bootstrap/issues/2343
Not sure we can do something

[2018-06-02 20:44] gclayburg opened #7722 "Docker image generation issues"
##### **Overview of the issue**

I have been using jhipster for a while now and love the project.  There are certainly top-notch integration techniques with many technologies here.

However, I noticed a few issues with the way docker images are generated.  I have fixed these myself and I'm curious if this project might like to use some of these as a default.  Here are the issues I ran into:

- The

[2018-06-02 20:49] Tcharl opened #7723 "Change the behavior of Angular entity resolver"
##### **Overview of the feature request**

As of now, the resolver used in angular router cannot be strongly typed because it returns either a HTTPResponse or a new Entity.
Then, the update component and the detail component gets either the response.body or the element on their onInit() method.

I think we can improve it easily.

Instead of having this code:
[code]

We could have this:
[code]

###

[2018-06-02 21:01] gclayburg commented on #7722
I have fixed this issues in my project with this alternate  file `gradle/docker.gradle`

[code]

The docker tags used here are particular to my project, but the rest is fairly generic.  It should be usable in any gradle based jhipster project.

A few things about this solution:
- All of the above issues are fixed
- This uses a [gradle plugin I created](https://github.com/gclayburg/dockerPreparePlu

[2018-06-02 21:17] raphaelbrugier commented on #7665
I just saw your comment @PierreBesson when looking for information on Spring-cloud-gateway.
For one of our client, we extensively use the JHipster gateway and I have a quick feedback.

We plan to use it as the main api gateway, and client would like to customize the route filters heavily to adapt for existing micro-services. (see an internal email I sent a while ago)
I will be leaving this client

[2018-06-03 01:35] wangh09 commented on #7337
Does the spring security integration needs to be changed? As Istio has the ability for inter-service authentication.

[2018-06-03 07:13] #7716 closed

[2018-06-03 16:36] tchlyah commented on #7654
I've managed to randomize all ports now, even with couchbase-client new version 2.5.8, using some dark magic I'm not very proud of (https://github.com/differentway/testcontainers-java-module-couchbase/commit/5d50da09bffae5a8f35f67c2f3b5c363bfe97aa2). If someone can find a better solution, I'm buying!

I've released [testcontainers-java-module-couchbase:1.2](https://github.com/differentway/testcont

[2018-06-03 22:44] saturnism commented on #7337
@wangh09 can that requirement be discussed in #7708 for further enhancements? :)

[2018-06-04 01:39] ganeshkrishnan1 opened #7727 "Jhipster has jboss logging version conflicts"
Newly generated jhipster project.
Added support for hibernate search.
jhipster version 5.0.0-beta.1
Hibernate search compatible version: 5.9.2 final (NOT >= 5.10.x)

Bug: java.lang.methodnotfound error.

This is because of jboss-logging 3.3.2 final from spring boot is incompatible with jboss-logging 3.3.1 final which is required for hibernate search

Fix: Force jboss version to 3.3.1
eg gradle
com

[2018-06-04 09:27] atomfrede commented on #7727
Looks more like spring-boot or jboss problem (removing a method in a bugfix release).

[2018-06-04 09:53] deepu105 commented on #7723
@Tcharl since you are doing the PR anyway, i'm closing the ticket. Hope you dont mind. We need to do some ticket cleanup

[2018-06-04 09:53] #7723 closed

[2018-06-04 09:54] deepu105 commented on #7723
For minor improvements do a PR right away no need of ticket. Open issues only for major change proposals

[2018-06-04 09:58] deepu105 commented on #7699
yes, could you do it as a PR please?

[2018-06-04 10:03] deepu105 commented on #7101
@jdubois I dont think anyone is working on this. @jhipster/developers is anyone willing to work on this else lets close it as 'wont-fix'

[2018-06-04 10:03] deepu105 commented on #6987
@RobinKamps @jdubois I dont think anyone is working on this. @jhipster/developers is anyone willing to work on this else lets close it as 'wont-fix'

[2018-06-04 10:06] PierreBesson commented on #7665
Alright @raphaelbrugier, the JHipster R&D team at Ippon Paris is available for help/suggestions should your team need it.
If your have any feedback on what you would like to improve on the current gateway, this is the right issue to post them as we are currently gathering ideas on what we want to have for our future gateway.

[2018-06-04 10:07] deepu105 commented on #7721
This is already fixed

Thanks & Regards,
Deepu

On Sat, Jun 2, 2018 at 9:55 PM Julien Dubois <notifications@github.com>
wrote:

[2018-06-04 10:52] jdubois commented on #6987
I can confirm nobody works on this - we just lack time to do everything, and there isn't much external contribution on those topics (sadly)

[2018-06-04 10:53] jdubois commented on #7101
I'd love to, and this is very important, but I'm just lacking time - a big part of my free time is taken by JHipster Conf, and also by personal matters (yes, I also use my free time for personal things :-) )

[2018-06-04 10:55] jdubois commented on #7727
@ganeshkrishnan1 please follow our contribution guidelines, even if for this ticket we can work without them.

And yes this is an integration issue outside of the scope of JHipster - if your solution of forcing the lib works, then it's all good!

[2018-06-04 10:55] #7727 closed

[2018-06-04 14:08] deepu105 commented on #7665
JHipster R&D team :heart_eyes:

[2018-06-04 15:03] vishal423 commented on #7715
In addition to root level, I think we should also add page/module level error boundaries. Script failure in one module should still give end user a chance to use other non affected functionalties. For example, any script error in user-management sub-module can be scoped and users can continue using remaining admin functionality.

We can display standard error page in such scenarios. If possible, w

[2018-06-04 16:09] mkysoft opened #7729 "React: cannot compile for prod because of @types/react-router need ts 2.8"
##### **Overview of the issue**

Cannot compile for prod with below command
`yarn run webpack:prod`
Also ./mvnw -Pprod failed.
package.json devDependencies to @types/react-router-dom which has depency to @types/react-router with version *.
yarn automaticly download @types/react-router v4.0.26 which need type script 2.8

##### **Motivation for or Use Case**

Working on React project.

##### **Repro

[2018-06-04 20:20] Falydoor commented on #7699
Yes totally !

I created two branches:
- [With a delta of 100](https://github.com/jhipster/generator-jhipster/compare/master...Falydoor:datepicker-bigger-year-delta) (more code since it changes the entity page)
- [With a global min date](https://github.com/jhipster/generator-jhipster/compare/master...Falydoor:datepicker-custom-min-date)

Let me know which way makes more sense for you or if you kno

[2018-06-04 22:43] PierreBesson commented on #7722
Thanks for the feedback ! Please let us some time to review your suggestion. Just a few remarks that I can do upfront :

I like that you are trying to solve the "big layer" problem inherent in the fact that we are using fat jars. I have thought of a few ways to fix this using for example the spring-boot-thin-wrapper (but I never implemented it yet). However I would much rather prefer if the soluti

[2018-06-05 05:58] pascalgrimaud commented on #7729
You use 4.14.4 with React which is deprecated.
A lot of work have been done in current master branch.
You should try, at least `v5.0.0-beta.1` or the `master` branch.

I'm closing this, as I confirm it works for current master.

[2018-06-05 05:58] #7729 closed

[2018-06-05 06:18] pascalgrimaud commented on #7722
Thanks for your feedback @gclayburg. Here some comments:

- about KILL signal: what do you suggest to improve it ? I think you can have the same problem with or without Docker, if on the machine, someone decided to stop the application with `kill -9`. The best would be to use Spring Boot Actuator endpoints.

- I don't see 'big layer', I can see 5 layers, and compressed size at 105MB (https://hub.d

[2018-06-05 06:54] deepu105 commented on #7715
For now lets not get ahead of ourselves. I agree for root and module level
boundaries. Will you be willing to PR that?

On Mon, 4 Jun 2018, 5:03 pm vishal423, <notifications@github.com> wrote:

[2018-06-05 08:53] Hocein opened #7730 "All Hibernate caches should be created upfront. Please update CacheConfiguration.java when runnig MailServiceIntTest jhipster"
Caused by: java.lang.IllegalStateException: All Hibernate caches should be created upfront. Please update CacheConfiguration.java to add com.orange.labomatic.domain.datalab.PreHabilitation
	at io.github.jhipster.config.jcache.NoDefaultJCacheRegionFactory.createCache(NoDefaultJCacheRegionFactory.java:37)
	at org.hibernate.cache.jcache.JCacheRegionFactory.getOrCreateCache(JCacheRegionFactory.java:19

[2018-06-05 08:54] jdubois commented on #7730
Please, follow our contributing guidelines, this doesn't make any sense

[2018-06-05 08:54] jdubois commented on #7730
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-06-05 08:54] #7730 closed

[2018-06-05 09:35] PierreBesson commented on #7722
@gclayburg Apparently creating layered images is currently under investigation by the spring boot team: https://github.com/spring-projects/spring-boot/issues/12545
So maybe you could share your experience upstream to work on a global solution to the problem.

[2018-06-05 10:21] kaidohallik commented on #7692
The production build currently generates .war without spaces. For the production build must also add line
[code]
under the section `angularCompilerOptions` in the file `tsconfig-aot.json`.

I'm not sure that setting `preserveWhitespaces: true` was right choice, because:
* it's against Policy 1 in https://www.jhipster.tech/policies/
* some new library versions working on top Angular 6 and expecting

[2018-06-05 11:02] gmarziou commented on #7692
Alternatively, couldn't this be addressed using CSS only?

[2018-06-05 14:04] mraible opened #7731 "Using jhipster server to create a project results in no applicationType in .yo-rc.json"
##### **Overview of the issue**

When creating a project with `jhipster server`, there is no `applicationType` key registered in `.yo-rc.json`.

Projects like Ionic for JHipster rely on this key to determine if the app is a monolith or gateway. I could default to monolith if it's not found, but it seems like it should be there.

##### **Motivation for or Use Case**

https://github.com/oktadevelope

[2018-06-05 14:05] gclayburg commented on #7722
You are right about KILL, @pascalgrimaud.  The way it is right now, if you run a `docker stop` command, docker ends up sending a kill -9 to the app and a clean shutdown is not possible.  Of course, many apps may not notice this if they don't have any particular special `@PreDestroy` shutdown hooks they must execute.  For those that do, it is a big deal.

One way to fix it to do something like this

[2018-06-05 15:02] gclayburg commented on #7722
About the layering issue, I understand you would prefer to share a single `Dockerfile` between the maven and gradle options.  I think that could be setup with some modifications to the `Dockerfile` and `bootrunner.sh` so that it could execute the app from a single war file if that is present in the docker image or from the layers created from the gradle dockerprepare plugin.   That way the app wou

[2018-06-05 16:42] PierreBesson commented on #7722
I have just done some testing using https://github.com/dsyer/spring-boot-thin-launcher and I am able to create a layered build although with only 2 layers: `/repository` which is a local maven repository with all the dependencies and the thin jar with the current application class. Compared to your approach is not as fine grained but it could be a solution.

[2018-06-05 17:56] gclayburg commented on #7722
I wonder how well that kind of solution would work over time in a docker environment.  As the app evolves, dependencies will get upgraded.  Wouldn't that lead to a docker image that has lots of unused old dependencies?  Once the docker layers are added, the files in there are always there.

[2018-06-05 18:03] PierreBesson commented on #7722
I don't think so. Anyway you will need to clean your build dir when you rebuild the Docker image otherwise it might increase in size every time you change dependencies.

[2018-06-05 18:56] manisi commented on #7731
same error in JHipster version 4.14.4.

[2018-06-05 19:01] jdubois commented on #7731
I don't think `jhipster server` works at all, it's only meant to be composed by the main generator, but indeed the documentation says this should work - @deepu105 I guess you refactored this part, wdyt?

[2018-06-05 20:23] JinnaBalu opened #7732 "Issue combining elasticsearch with cassandra"
##### **Overview of the issue**

Created Jhipster application with cassandra, manually edited .yo-rc file property searchEngine to elasticsearch and recreated the app. Unable to resolve the issue

##### **Motivation for or Use Case**

Wanted to create app with cassnadra and elasticsearch because both of them support distrubted node, fault tolarent. Was trying to create this combination.

##### **R

[2018-06-05 20:25] JinnaBalu opened #7733 "Feature Request - Cassandra with ELasticsearch"
##### **Overview of the feature request**
Suppoting Cassandra with Elasticsearch will be more usefull for the the products to have NoSQL databases with Indexing

##### **Motivation for or Use Case**

Elasticsearch and cassandra allows distributed, masterless, peer-peer communication between node, provides fault tolerance. Both support Nested Documents

##### **Related issues or PR**

[#7732](https

[2018-06-05 20:36] jdubois commented on #7732
It just can't work like that, there would a huge work to support this combination.

[2018-06-05 20:43] jdubois commented on #7733
That would be a huge work and I don't think anybody is interested in doing this (and I'm definitely not interested in maintaining it). I did a lot of work to have Cassandra support, but the option isn't popular at all, unfortunately.

[2018-06-05 22:05] gclayburg commented on #7722
Ok, I created a Dockerfile and bootrunner.sh to fix these issues that will also work with both maven and gradle.  I put them in a [vanilla spring boot starter project here](https://github.com/gclayburg/dockerPreparePlugin/tree/master/sample-jhipster/samplejhipster)

These files will also work in a jhipster generated project if they are placed in `src/main/docker`

I'm not sure if it makes sense or

[2018-06-05 22:28] PierreBesson commented on #7722
I have started implementing things. For now I have not added the following:
- use a fixed docker image version: because it is convenient to have the version auto updated for us.
- layered build: let's think this through and add this later.

[2018-06-06 04:10] kiplo91 opened #7736 "Uploading file issue , maybe due tu persistence connection"
##### **Reproduce Error**

i upload an xlsx file, to send to the web api, and the file have about 5000 lines. the data was inserted in the database, but before it can return the response, it return read timed out error. what i think happened was, the process was succesful ( data insertion) but the connection persistence is the problem. myb any setting need to be added inside application.yml?

[2018-06-06 04:52] pascalgrimaud commented on #7736
It's a question for stackoverflow, not in bug tracker here.
You should post there, with additional information, because like that, it's hard to reproduce and to help.

[2018-06-06 04:53] pascalgrimaud commented on #7736
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-06-06 04:53] #7736 closed

[2018-06-06 04:54] kiplo91 commented on #7736
Hi,

Okay2, sorry

Sent from Mail for Windows 10

From: Pascal Grimaud
Sent: Wednesday, 6 June, 2018 12:52 PM
To: jhipster/generator-jhipster
Cc: kiplo91; Author
Subject: Re: [jhipster/generator-jhipster] Uploading file issue , maybe due tupersistence connection (#7736)

It's a question for stackoverflow, not in bug tracker here.
You should post there, with additional information, because like tha

[2018-06-06 05:08] pascalgrimaud commented on #7732
I'm closing this ticket because there is no issue in JHipster.
We don't support Cassandra with Elasticsearch and this trick can't work.

[2018-06-06 05:08] #7732 closed

[2018-06-06 05:13] pascalgrimaud commented on #7733
You could have a look to this project https://github.com/strapdata/elassandra with near 1000 stars, you'll see there are a lot of work to do, for integrating Elasticsearch+Cassandra to JHipster.

You could create a module too, have a look at: https://www.jhipster.tech/modules/creating-a-module/ but not sure it will be popular.

As Cassandra is not a popular option in JHipster, I don't think we wil

[2018-06-06 05:13] #7733 closed

[2018-06-06 05:27] pascalgrimaud commented on #7570
@BhawaniSingh : are you working on this ?

[2018-06-06 05:28] pascalgrimaud commented on #7731
It's just a missing option to add to `.yo-rc.json`
It shouldn't be hard to do

[2018-06-06 06:07] deepu105 commented on #7731
The documentation is correct and this is the expected behaviour. And yes if
used seperately this option will not be updated. May be its a good idea to
update the docs and promote the skip client/server flags instead of sub gens

On Wed, 6 Jun 2018, 7:28 am Pascal Grimaud, <notifications@github.com>
wrote:

[2018-06-06 06:34] saturnism commented on #7709
i've been trying to find a good balance here as well. Thinking through the use cases:

If minikube:
1. use docker daemon in minikube
1. no push required, and if we don't set `imagePullPolicy`, the latest tag should still work

If on cloud:
1. use local docker daemon
1. push to registry
1. if we don't set `imagePullPolicy`, the latest tag should still work since it'll default `imagePullPolicy` to `

[2018-06-06 07:19] farrault commented on #7667
@pascalgrimaud :
as said and discussed above with @PierreBesson  : testing gateway *and* microservice together would be very valuable but the purpose of this current issue was only to compile and run unit tests on gateway on one side (so without entity I'm afraid) ; and on microservices on another side.

This would at least ensure that the generation compile AND that the spring context boots corre

[2018-06-06 07:27] xetys commented on #7709
Just my fifty cents on this, as I'm operating a JHipster microservice architecture with about 30 unique services, replicating to over 100 instances of I sum up from all clusters.

I'm doing it like @saturnism told, forcing CI to make a unique tag for all relevant builds. With relevant I mean master and tag pushes.

As I'm using gradle, I built 2 simple tasks printing out the projects version. The

[2018-06-06 07:31] vishal423 commented on #7715
I will try doing this, however, I may be slow as I am new to react.

[2018-06-06 07:39] deepu105 commented on #7715
You can use the snippet I provided and just add it per module and for root

Thanks & Regards,
Deepu

On Wed, Jun 6, 2018 at 9:31 AM vishal423 <notifications@github.com> wrote:

[2018-06-06 09:59] jdubois commented on #7570
As this has been opened for one month, let's close this - it's a good idea, but maybe a bit complex tom implement, so if anybody wants to do a PR it's most welcome.

[2018-06-06 09:59] #7570 closed

[2018-06-06 12:04] loydjayme25 opened #7738 "Logo Proposal"
Good Day !
i love to work with your project, can i submit my logo design for it ?

[2018-06-06 12:35] PierreBesson commented on #7738
That would be awesome !

You can post your logo proposals as PRs to : https://github.com/jhipster/jhipster.github.io/tree/master/images/logo
However it will mean that you agree that your logo be put under the Apache 2 license and distributed as part of the project, the same way than a code contribution would. And yes Apache 2 allows commercial use so make sure that you are OK with that.

[2018-06-06 12:37] loydjayme25 commented on #7738
i am fine with that sir @PierreBesson  , i will send the logo as soon as i can finish it.

[2018-06-06 12:42] loydjayme25 commented on #7738
i can only make the start up icon that will be place on every devices , and also the Read Me Banner for github.

[2018-06-06 12:46] deepu105 commented on #7738
Also please note that the logo is subject to the team's approval :)

Thanks & Regards,
Deepu

On Wed, Jun 6, 2018 at 2:42 PM Loyd Jayme <notifications@github.com> wrote:

[2018-06-06 12:46] PierreBesson commented on #7709
I have added support for tagging the docker image created with maven in https://github.com/jhipster/generator-jhipster/pull/7734 and yes @saturnism it is using the git-commit-id plugin that I have added to jhipster a few months back 😄.

After thinking about it I think we can safely remove the `imagePullPolicy`from our k8s deployments as it really depends on how people are using kubernetes and the

[2018-06-06 12:58] jdubois commented on #7738
Yes, we have a well-known logo, and I'm happy with it, so I wouldn't want to change this easily.

We need more help on other related things like wallpapers, or on having some cool t-shirts for example.

[2018-06-06 16:09] jstrachan opened #7739 "can I please get some help reviewing/improving the Jenkins X build pack for JHipster?"
##### Jenkins X build pack

I've take a stab at putting together a build pack for JHipster but I wanted some guidance.  I took the generated Jenkinsfile from jhipster as a base

We're using a docker container in Jenkins X to host all the build tools (maven, npm, yarn, git etc) so that when we do CI/CD pipelines in Jenkins X we don't have to wait for a while for npm/yarn to install etc.

Here's the

[2018-06-06 16:26] groblochon opened #7740 "Casandra-Migration docker fail to build with JHipster 5.0 on linux"
##### **Overview of the issue**

Casandra-Migration docker fail to build with JHipster 5.0 on linux :

`Step 3/7 : ADD cassandra/scripts/autoMigrate.sh /usr/local/bin/autoMigrate`
`ADD failed: stat /var/lib/docker/tmp/docker-builder151695797/cassandra/scripts/autoMigrate.sh: no such file or directory`

##### **Reproduce the error**

`docker-compose -f src/main/docker/cassandra.yml up -d`

##### **

[2018-06-06 16:38] ruddell commented on #7740
Your `.yo-rc.json` file shows v5.0.0-beta.0 which is before this PR https://github.com/jhipster/generator-jhipster/pull/7488, that should fix the issue.

[2018-06-06 16:38] #7740 closed

[2018-06-06 16:57] PierreBesson commented on #7739
I'm not sure if this is such a good idea to use the global node/npm/yarn because the frontend is quite sensible on those versions and so it's better if they be specified in the pom for reproducibility.

[2018-06-06 18:14] pascalgrimaud commented on #7738
I think posting here before submitting PR would be better
So we can discuss about it

[2018-06-06 18:22] PierreBesson commented on #7738
Let's see what @loydjayme25 has to propose, it can always be nice to have even if doesn't end up replacing the official logo.

[2018-06-06 18:33] jstrachan commented on #7739
I get the desire to let the app/git source be in charge of specifying all the versions of tools & dependencies. Though the flip side is running mvn to run java code to install npm & yarn on every build in CI/CD & devpod slow service things down hugely.

There can be many images used to do the builds & we could easily lazily create them on demand given an arbitrary set of versions of mvn, npm, yarn

[2018-06-06 18:46] eredwan commented on #6916
It seems like I have an issue related to this issue number.

I upgraded my jhipster app version from 4.5.4 to 4.14.4 and now my caching or auth management seems to be broken. I am getting the following error without even trying to login (default anonymousUser)  because I can't due to my nav bar not showing because ngSwitch=isAuthenticated() fails. I looked to see if any of the problems mentioned i

[2018-06-06 18:54] sendilkumarn commented on #7739
I like this `l(cr)azy` idea and of course it will increase the devpod start up time.

Specifying them on the package.json will not be a good idea. Is it possible to use it straight from the `gradle.properties` and use that as an indicator.

@PierreBesson Most of the times this should not have any problems, But yeah I do agree that we had some bizzare issues related to this node / npm versions.

@j

[2018-06-07 06:03] jstrachan commented on #7739
@sendilkumarn happy to store the properties in any file you think is best - so `gradle.properties` or`pom.xml` or whatever sounds great to me. BTW whats the split between gradle v maven in the JHipster community; is there a strong preference? Happy to use either really. We could support a build pack for both so we leave it to the developer to pick.

We could easily have a flag that lets the pipeli

[2018-06-07 07:31] Tri-vikram commented on #7352
can u send me the link of global address info ... it would be helpfull to me

[2018-06-07 08:05] #7731 closed

[2018-06-07 08:14] agaspardcilia opened #7741 "Using jhipster without mail server"
##### **Overview of the feature request**

I'm implementing a way to reset password without a mail server.

##### **Motivation for or Use Case**

While discussing about what we should add to JHipster online, @jdubois thought it might be a good idea to find a way to make JH online fully usable even without a mail server to handle password reset. I came up with a solution that Julien liked.

I added

[2018-06-07 08:20] deepu105 commented on #7739
@jstrachan  I agree that it could speed things up on multiple build cases. While I understand @PierreBesson's concern about version issues, I personally don't think its a huge issue. I always prefer using npm/yarn directly in my day 2 day work, while many of my colleagues use the gradle plugin. So far I haven't seen any major issues. Since jhipster is not a nodejs application the reproducibility o

[2018-06-07 08:27] agaspardcilia commented on #7741
Actually, they're already done. I mean, the last thing to do is to fix an issue with link creation in Angular and to add some more tests.

[2018-06-07 08:31] deepu105 commented on #7741
Great. Dont forget the React part

Thanks & Regards,
Deepu

On Thu, Jun 7, 2018 at 10:27 AM Alexandre GC. <notifications@github.com>
wrote:

[2018-06-07 09:35] agaspardcilia commented on #7741
The screeshots are from the React client.

[2018-06-07 10:00] iliasnaamane opened #7742 "Not recompiling on change when using docker and docker-compose for a microservices architecture"
##### **Overview of the issue**
I faced this problem when building docker images and generating docker-compose.yml for my microservices. Unfortunately, I cannot use docker as a development environment, since it is not automatically reload after code changes and it is a waste of time since it requires rebuilding images and lauching again.

##### **Motivation for or Use Case**

##### **Reproduce the

[2018-06-07 10:48] deepu105 commented on #7742
what is the problem here, thats how it works. If you want live reload the use the development workflow and not docker. Run applications(except registry and console) using `./mvnw` or `./gradlew` and run `yarn start` for gateway

[2018-06-07 10:48] #7742 closed

[2018-06-07 11:28] gmarziou commented on #7741
I don't understand how the reset link is supposed to be communicated to end user?

[2018-06-07 11:35] gmarziou commented on #7739
Last month, it was 88% maven, 12% gradle if I interpreted correctly google analytics report.

[2018-06-07 11:39] loydjayme25 commented on #7738
hello everyone ..

young and cool , any suggestions ?
![jhipster](https://user-images.githubusercontent.com/37318022/41097446-825b7b68-6a8a-11e8-873e-fd5df6a231b6.png)

[2018-06-07 11:52] agaspardcilia commented on #7741
The admin is supposed to send it himself to the user. It's just a way to make sure the admin can't know the real password unless he set it himself.

[2018-06-07 12:06] iliasnaamane commented on #7742
@deepu105 thanks for your quick response, but actually I want live reload with docker, since I am using ElasticSearch and it is not embedded based on @jdubois response on a previous issue https://github.com/jhipster/generator-jhipster/issues/7413 . Otherwise you can see that it is possible to use docker as a development tool with live reload on spirng http://endoflineblog.com/optimizing-developmen

[2018-06-07 12:31] deepu105 commented on #7742
If you know how to make it work, then please do a PR and we can consider it
based on how it fits our flow

Thanks & Regards,
Deepu

On Thu, Jun 7, 2018 at 2:07 PM Naamane Ilias <notifications@github.com>
wrote:

[2018-06-07 12:55] agoncal commented on #7738
Where are the tatoos ? Where is the earring ? Where's the hype ?

;o)

[2018-06-07 12:59] PierreBesson commented on #7738
And the bow tie ! :smile:

[2018-06-07 13:01] dsharpe commented on #7665
@PierreBesson I just asked the Spring crew if they were planning on supporting Zuul 2 and the answer was, "no". This concerns me since JHipster uses Spring defaults for so many things.

See: [twitter reply](https://twitter.com/spencerbgibb/status/1004438820274802689)

[2018-06-07 13:19] loydjayme25 commented on #7738
i can add if you wanted me to do so :D

[2018-06-07 13:19] loydjayme25 commented on #7738
but how did you find my design ? is it okay ?

[2018-06-07 13:48] deepu105 commented on #7738
@loydjayme25 First of all good work, its nice.
Now just make sure to match it closer to the[ original Hipster guy](https://www.jhipster.tech/images/logo/logo-jhipster.svg), as we wouldn't want a completely new logo as original logo is quite famous already so try to improve the original one. Or add stuff like the original logo drinking coffee with more swag, or original log wind surfing, or origina

[2018-06-07 13:53] jdubois commented on #7738
Yes the logo is awesome, then we already have a logo, and it's very complex to change it (it's also part of the "brand"). It could be an alternate logo, I don't really know... I'm sorry but I have tons of work with JHipster Conf and JHipster 5 (and my "normal" job), so I don't really have time for the moment. For t-shirts or wallpapers that could be great, indeed, like an alternate, "cooler" logo.

[2018-06-07 13:56] jdubois opened #7743 "Upgrade to JHipster Core v3"
This is mostly a question for @MathieuAA

Now that JHipster Core v3 has been released, when do you plan to use it in generator-jhipster? Do you think there will be any issues?

I'd like to have JHipster 5 soon, do you think it is possible to migrate before, or is this too risky?

[2018-06-07 13:59] jdubois commented on #6929
For me this is solved with the latest changes from @farrault and @mraible so I'm closing this

[2018-06-07 13:59] #6929 closed

[2018-06-07 14:00] loydjayme25 commented on #7738
![jhipster](https://user-images.githubusercontent.com/37318022/41104539-2fceec68-6a9e-11e8-994b-05d7ccde6e07.png)

[2018-06-07 14:00] MathieuAA commented on #7743
Didn't I drop a PR for that?! I'm so, so sorry. I thought I did. I'll do it tonght.

[2018-06-07 14:01] MathieuAA commented on #7743
Ah @jdubois, I've just checked. I did drop a PR for that, it's in the JDL app fixing PR.

[2018-06-07 14:03] loydjayme25 commented on #7738
![jhipster](https://user-images.githubusercontent.com/37318022/41104736-a56d8dbc-6a9e-11e8-8320-979af1828071.png)

[2018-06-07 14:03] jdubois commented on #6410
This has been opened for very long, and we haven't found a good solution - besides, very few people seem interested by the issue... For me the best solution would be to document it, as I don't see how we could have something generic here - at some point you need to code stuff, it's not possible to generate everything (unless we have a lot of people interested, and who code something really smart).

[2018-06-07 14:03] #6410 closed

[2018-06-07 14:04] jdubois commented on #7743
Oops sorry @MathieuAA I just checked on the opened tickets!! So I'm closing this in favor of your PR

[2018-06-07 14:04] #7743 closed

[2018-06-07 14:45] mraible commented on #7675
If we were to generate a microservices architecture with the following and run `./mvn test` on the gateway and microservices, then Protractor on the Gateway, would that be sufficient?

* Clone JHipster Registry, checkout `develop` branch, and run with `SPRING_PROFILES_ACTIVE=dev,oauth2,native,swagger ./mvnw`
* Generate gateway with OAuth and PostgreSQL
* Generate blog microservice with OAuth, Elas

[2018-06-07 14:47] jdubois commented on #7675
@mraible with the new JDL v3 from @MathieuAA I wonder if the whole architecture could be totally generated from one single JDL... That would be really cool, and a good test case for JDL v3 too.

[2018-06-07 15:17] ruddell commented on #7742
You can launch the Elasticsearch docker container with `docker-compose -f src/main/docker/elasticsearch.yml up -d` and connect to it from the app running with `./mvwn` or `./gradlew`

[2018-06-07 18:25] nemesiscodex opened #7744 "JWT token Invalid Signature | JWT secret should be base64"
##### **Overview of the issue**

JWT token generated by jhipster has no valid signature for any other app besides the ones created by jhipster. (e.g. https://jwt.io/ debugger is not able to validate the signature)

##### **Motivation for or Use Case**
File `io.github.jhipster.sample.security.jwt.TokenProvider:63`
[code]
`secretKey` is a plain string, but the method `.signWith()` expects a base64-e

[2018-06-07 19:08] jdubois commented on #7744
That's very surprising but it looks indeed correct! We need to check this.

[2018-06-08 06:30] loydjayme25 commented on #7738
you can use my design for the future updates/project. if you wanted me to PR, i am willing to do it. Many thanks for your response !

[2018-06-08 07:40] cbornet commented on #7738
What would be nice would be to have logo/avatar variants like the github octopus

[2018-06-08 08:02] jdubois commented on #7738
Oh yes +1 @cbornet
@loydjayme25 I think everybody loves your logo, it's really cool, but it's really complex for us to change the "official" one

[2018-06-08 08:10] jdubois commented on #7741
Yes that's great. @agaspardcilia can you do a PR on jhipster/jhipster with the new Spring Boot configuration keys?

[2018-06-08 08:32] loydjayme25 commented on #7738
i understand that @jdubois  , i'll make a PR if you need my logo. I respect your decision on not changing the offical logo.

[2018-06-08 08:33] jdubois commented on #7738
Yes but your logo could be used on shirts, wallpapers, etc... Like the Octocat, in fact.
It's really cool, really
Give me some time, the JHipster Conf is in 2 weeks, I'll do this afterwards

[2018-06-08 08:37] loydjayme25 commented on #7738
Thank you sir, so overwhelming. just beep me, and i can send you my design.
here's my email : @loydjayme1996@gmail.com

[2018-06-08 08:41] jdubois commented on #7738
Oh thanks, but you can directly put your artwork at https://github.com/jhipster/jhipster.github.io/tree/master/images/artwork with a PR, that's where we store our files so we don't lose them

[2018-06-08 11:58] loydjayme25 commented on #7738
do you have any required size needed ? at least 3 sizes.

[2018-06-08 12:36] loydjayme25 commented on #7738
maybe 1024 px or higher

[2018-06-08 13:05] jdubois commented on #7738
SVG is best

[2018-06-08 13:12] loydjayme25 commented on #7738
I will include svg :)

[2018-06-08 13:54] mraible commented on #7738
I can get some stickers made up for JHipster Conf. Should they say anything on them?

[2018-06-08 14:00] atomfrede commented on #7738
I can also do some stickers and I wanted to get some new tshirts for me and my son, maybe I can use the logo already :)

[2018-06-08 17:01] jdubois commented on #7744
This is correct and I'm fixing this ASAP

[2018-06-08 17:02] jdubois commented on #7744
Thanks a lot @nemesiscodex - next time don't hesitate to do a PR, you did all the hard work and I don't deserve to be the author of the code!

[2018-06-08 17:03] #7744 closed

[2018-06-08 18:11] danielbrutti opened #7746 "webpack:build failed with jhipster --skip-server"
##### **Overview of the issue**

I got the following error when generating a jhipster client side.

`jhipster --skip-server --auth UAA --uaa-base-name uaa --db mysql --protactor --websocket`

[code]

##### **Motivation for or Use Case**

I want to generate an angular 5 client side project.

##### **Reproduce the error**

Just create an empty directory, run the command
`jhipster --skip-server --aut

[2018-06-08 18:11] danielbrutti commented on #7746
Btw, i tried using different parameters and values on the --skip-server command without success. The command throws an error as soon as I run it because params are incorrect, or I got this error when generating the app.

[2018-06-08 18:13] danielbrutti commented on #7592
@sdharmadhikari  Did you get skip-server to work? how did you run the command?
I'm having this issue now https://github.com/jhipster/generator-jhipster/issues/7746
Thanks!

[2018-06-08 18:17] danielbrutti commented on #7746
This is the .yo-rc file
[code]

[2018-06-08 19:18] nemesiscodex commented on #7744
Thanks @jdubois, I'm just glad to help. The work that you are doing is awesome!

[2018-06-08 19:48] pascalgrimaud commented on #7746
The problem is: you can't have an application with `authenticationType=UAA` with an `applicationType=monolith`. That's why it failed.

For all users who want to use `--skip-server` or `--skip-client`, it's for very advanced configuration and we can't guarantee it can work, as there are a lot of other configuration we didn't test.

What I can advice to you, is to generate an application, using `jhi

[2018-06-08 23:15] sendilkumarn commented on #7738
@loydjayme25 great work. absolutely love it ❤️

[2018-06-09 04:10] FireWolf2007 commented on #7722
Guys, sorry about some off topic.
Recently I'm discovered some old solutions in build.gradle related to the docker.
Project used plugin io.spring.dependency-management with version 1.0.3.RELEASE
It's ok for spring boot 1.5, but it's obsolete for spring boot 2 and it's template not worked in newer plugin version (Reference https://docs.spring.io/spring-boot/docs/2.0.2.RELEASE/gradle-plugin/referenc

[2018-06-09 08:20] erikkemperman commented on #7738
That’s awesome!

[2018-06-09 10:38] deepu105 commented on #7746
Yes, this is not a supported config. Uaa is only for microservice options and hence we cant guarantee it would work for any config. I'm closing this ticket as I don't think we will do anything to support this. Either try with application type gateway or use jwt auth. Else follow the advice from Pascal. These flags are for advanced users and the assumption is that there might be quirks and edge cas

[2018-06-09 10:38] #7746 closed

[2018-06-09 13:34] loydjayme25 commented on #7738
@deepu105  could you please give an example about how i name the size and the svg file. pls ? thanks !

[2018-06-09 18:05] kenttanl opened #7748 "Two pages perform the same operation？"
Hi, I'm working on one of the pages, and the other one is doing the same thing. Will you guys know what's going on? Thanks
![jhipster](https://user-images.githubusercontent.com/15412193/41194698-68e28ae0-6c52-11e8-8516-dd52a184cb40.gif)

[2018-06-09 18:09] jdubois commented on #7748
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-06-09 18:09] #7748 closed

[2018-06-09 18:11] jdubois commented on #7748
Spamming the dev team is not nice, please follow our guidelines. You're looking for something called BrowserSync, have a look in the documentation.

[2018-06-10 06:09] ved1995 commented on #6566
If you are working in your current project directory, just change it to /src/app and then run the command 'ng g c your-component' and your component will be generated. It worked for me.

[2018-06-10 08:21] damato3 opened #7749 "Constraint Violation on Login Pattern when using Facebook login"
##### **Overview of the issue**

Hello, i was working with the facebbok social login and found this issue. Basically i can't create a new User because the `login` patter validation fails, that's because the generated `login` using the Facebook user name and last name returns something like this `firstname_. lastname` (note the white space there). The Exception is:

[code]
##### **Motivation for or

[2018-06-10 12:57] saturnism opened #7750 "Feature Request - Google App Engine Generator"
##### **Overview of the feature request**

Add a generator to prepare app for deployment into Google App Engine Standard Java 8.

##### **Motivation for or Use Case**

GAE is a PaaS that can deploy a single module or multiple modules (services) easily. It also has SSL support for both `*.appspot.com` domain and custom domain too. This feature can prepare existing JHipster apps for deployment into

[2018-06-10 12:58] saturnism commented on #7750
/cc @ludoch

[2018-06-10 13:56] Ecllyps opened #7751 "build:css styles/main.css"
Hi everyone,

I have a question about css generation. I'va named in my app style folder my scss : style.scss. In my dist folder it is not generated. But when I change build:css styles/main.css into build:css styles/style.css that works fine. I don't understand why.

Thanks in adavnce.
Regards

[2018-06-10 13:58] #7751 closed

[2018-06-10 16:05] saturnism commented on #7750
@jdubois what's the recommended way to do this? e.g., for each app, we need to add:
* appengine maven plugin
* WEB-INF/appengine-web.xml
* Update production DB URI

Would it make sense to add this option directly into the `app` generator? Or, is there a way to modify existing files via a new generator, like `jhipster appengine`?

[2018-06-10 16:19] saturnism commented on #7750
i'll try w/ `jhipster appengine`, that tries to generate new profile/config

[2018-06-10 17:29] ruddell commented on #7750
I would recommend modeling it off of the Heroku subgen (or one of the other deployment options)
- For adding a maven plugin, there are needles you can insert at in the pom.xml such as `` with the [corresponding method](https://github.com/jhipster/generator-jhipster/blob/8363c9a9f03a45d504d88cb5654cd5152b1bead7/generators/generator-base.js#L1184-L1216), here's [how the Heroku generator modifies the

[2018-06-10 19:06] sendilkumarn commented on #7750
This can be done without adding a new needle and `jhipster appengine` sounds perfect.

[2018-06-10 19:30] sendilkumarn commented on #7665
@dsharpe Yeah, they were too clear on this.

@PierreBesson Do you think this rewrite is worth spending effort on ?
I guess supporting `spring-cloud-gateway` and an option to bundle with`zuul2` will be an overhead.

Give a support for `FAAS` -> using something like projectriff

[2018-06-10 19:36] jdubois commented on #7750
Yes @ruddell is right - the Heroku sub-gen is very close to what you want, and it's also very good, so it's the best way to start.
I wouldn't worry too much about microservices yet, as soon as you have monoliths the rest will be very simple. Basically, a JHipster microservice is a monolith without a front-end (and that's super-easy to delete) and with Spring Cloud (and there's a big part of it you

[2018-06-10 21:15] Tcharl commented on #7667
I had this kind of stuff for protractor within one of my jenkinsfile:

`stage('E2e test') {
            steps {
                withEnv(['DISPLAY=:0']) {
                    sh '''
                        cd docker-compose && sh dev-compose.sh up
                        cd ../x.uaa && ./mvnw &
                        uaaPid=$!
                        until $(curl --output /dev/null --silent --head

[2018-06-11 08:18] hellomaybe opened #7753 "how to Add AbstractAuditingEntity to my domain"
in jhipster have this entity , how to use in jdl,

entity xxx extends AbstractAuditingEntity {
}
this don't work

@MappedSuperclass
@Audited
@EntityListeners(AuditingEntityListener.class)
public abstract class AbstractAuditingEntity implements Serializable {

    private static final long serialVersionUID = 1L;

    @CreatedBy
    @Column(name = "created_by", nullable = false, length = 50, updatab

[2018-06-11 08:40] jdubois commented on #7753
No it's not supported - sorry but this is a question for StackOverflow, can you post it there?

[2018-06-11 08:40] jdubois commented on #7753
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-06-11 08:40] #7753 closed

[2018-06-11 09:49] deepu105 commented on #7750
@saturnism `jhipster appengine` might be a bit too ambiguous. I would suggest `jhipster gcp` or jhipster google-app-engine` or `jhipster gae` or something similar

[2018-06-11 09:49] jdubois commented on #7750
yes +1 for `jhipster gae` as that's how I usually call app engine

[2018-06-11 09:56] deepu105 commented on #7749
@damato3, unfortunately, the social login feature is removed in JHipster v5 and hence we will not be supporting this anymore. I suggest to use the fix you suggested for your app, and anyone facing the issue in 4.x will have this issue for reference.

[2018-06-11 09:56] #7749 closed

[2018-06-11 14:05] ludoch commented on #7750
jhipster appengine-standard ?  Flex would be a different one...

[2018-06-11 14:58] saturnism commented on #7750
i think `jhipster appengine-standard` is a too long though :(

[2018-06-11 14:59] saturnism commented on #7750
what if we do `jhipster gcp`, and it prompts you to see whether you want App Engine Standard, or GKE, etc. We can add more options over time.

The basic information we need is the project ID, and ensure that gcloud is installed.

[2018-06-11 15:01] jdubois commented on #7750
Yes `jhipster gcp` is good, and then you have multiple deployment options - those could also be sub-generators, but they would have some common code (which is logical, at least ensuring that gcloud is correctly set up)

[2018-06-11 15:05] jdubois commented on #6711
I just tested with the current master branch (JHipster 5 beta), for me this is working fine. Probably some upgrades in JHipster and/or Firefox fixed this.

[2018-06-11 15:05] #6711 closed

[2018-06-11 16:26] jdubois commented on #7690
OK I have some sample code working here, I should do a PR by tomorrow!

[2018-06-11 19:59] ruddell opened #7756 "Feign Client Annotation Issues"
Opening this on behalf of @brunnels who can't open an issue for some reason, I can do the PR later if no one sees any issues.

##### **Overview of the issue**

OAuth2InterceptedFeignConfiguration and OAuth2UserClientFeignConfiguration classes should not be annotated with `@Configuration`

UserFeignClientInterceptor class should not be annotated with `@Component`

##### **Motivation for or Use Case

[2018-06-11 20:09] mraible commented on #7756
Seems OK to me.

[2018-06-11 22:17] saturnism commented on #7750
at the end of the day though, gke deployment is very different from appengine deployment. I think `jhipster gae` still makes more sense.

[2018-06-12 02:29] rainmanhhh opened #7757 "when add @types/reactstrap, webpack compile failed"
##### **Overview of the issue**

##### **Motivation for or Use Case**
when add @types/reactstrap, webpack compile failed

jhipster uses reactstrap but didn't include @types/reactstrap, but when i add it manually, webpack compile failed like below:

ERROR in E:/workspaces/instrument/instrumentManage/src/main/webapp/app/shared/layout/header/header.tsx
(173,29): Property 'nav' does not exist on type

[2018-06-12 07:23] deepu105 commented on #7757
Thats due to an issue in the types. See discussions [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25329), [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/26094) and [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25961)

[2018-06-12 07:23] #7757 closed

[2018-06-12 07:27] kaidohallik commented on #7692
There are different places where space between elements is missing.
If CSS then maybe:
* add CSS class for case `fa-icon` is left from main element and add this class to relevant `fa-icon` elements
* add CSS class for case `fa-icon` is right from main element and add this class to relevant `fa-icon` elements
* in other places add `&ngsp;` or` &nbsp;`

[2018-06-12 11:11] Tarekajaj commented on #6567
@pascalgrimaud is there a workaround right now for developer using v5 beta?
we are facing the same error as @BitFlipp3r when using  Gitlab-CI

[2018-06-12 13:33] saturnism commented on #7750
Quick question, is there a way to update the production JDBC URL from my generator? I.e., w/o overriding w/ additional profile nor env vars.

[2018-06-12 13:51] PierreBesson commented on #7750
Maybe create a `gae` spring profile and add an `application-gae.yml` in `resources/config`.

[2018-06-12 13:57] jdubois commented on #7620
I'm closing this as there has been no work for one month - anyway I'm not sure it's such a good fit for JHipster, as this will probably add a lot of weight to the default setup.

[2018-06-12 13:57] #7620 closed

[2018-06-12 14:03] jdubois commented on #7668
I'm sorry I didn't answer yet on this ticket, but I don't understand what will be recorded or where... And I guess this is why you only got one thumb up.

Anyway, I'm closing this as you didn't have much feedback on this, so it's logical you won't work on it. But I guess it would be worth a clearer explanation, as I really don't get what you want to do.

[2018-06-12 14:03] #7668 closed

[2018-06-12 14:04] jdubois commented on #7435
Nobody is working on this so I'm closing it.

Indeed that would be a good feature, but implementing this for both Angular and React is a lot of work and maintenance.

[2018-06-12 14:04] #7435 closed

[2018-06-12 15:07] mraible commented on #7675
What's the syntax for generating the whole architecture with JDL? I can't find any documentation and [JDL-Studio](https://start.jhipster.tech/jdl-studio/) doesn't seem to support an `application` keyword.

[2018-06-12 15:16] jdubois commented on #7675
@mraible I just merged this a few minutes ago, not sure it really works as expected - the documentation is hidden here: https://github.com/jhipster/jhipster.github.io/pull/542/files

[2018-06-12 15:17] MathieuAA commented on #7675
@mraible Hi Matt, I've haven't found the time to update the doc yet (and I think it has been rollbacked).
I'll give you examples, but please note that generating whole architecture is not really supported yet (there may be some bugs lurking).
[Here](https://github.com/jhipster/jhipster-core/tree/master/test/test_files/integration) are the files I used for covering the use case.
About the syntax, t

[2018-06-12 15:23] PierreBesson commented on #7722
I have implemented many of the suggested improvements so I'm closing this issue. If additional improvements to our docker build are needed in the future, please open other feature requests. @gclayburg I'm sorry I don't think we can base our gradle build on your plugin for now even though I recognize that it's quite nice !

[2018-06-12 15:23] #7722 closed

[2018-06-12 15:36] PierreBesson commented on #7739
Just some additional info on using the native yarn/npm vs the one provided by the frontend-plugin.
From https://github.com/eirslett/frontend-maven-plugin#what-is-this-plugin-not-meant-to-do

So it seems that at least for our maven build using the system node/npm/yarn binary is not supported.

[2018-06-12 17:08] mraible opened #7763 "JDL!! is printed when you start JHipster (master branch)"
![jhipster_010](https://user-images.githubusercontent.com/17892/41305691-e78ebd02-6e30-11e8-83aa-2225f4eca078.png)

[2018-06-12 17:11] jdubois commented on #7763
Thanks @mraible !! I'm fixing this

[2018-06-12 17:11] jdubois commented on #7763
BTW we should just print "Welcome to JHipster" now

[2018-06-12 17:19] mraible opened #7764 "Trying to run yarn e2e fails with React (on master)"
[code]

Manually run `npx webdriver-manager update` fixes the issue.

[2018-06-12 17:21] jdubois commented on #7763
This is fixed, but I can't merge yet, jhipster/jhipster is stuck because Sonatype Nexus is time outing

[2018-06-12 17:43] MathieuAA commented on #7763
Pascal and his love for the JDL... it's truly a beautiful thing.Le 12 juin 2018 19:21, Julien Dubois <notifications@github.com> a écrit :This is fixed, but I can't merge yet, jhipster/jhipster is stuck because Sonatype Nexus is time outing

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-12 17:44] deepu105 commented on #7764
@mraible I dont see the issue. This should be triggered during `npm install` What config are you trying with also did you do `npm install` on the project? coz if you did `yarn install` instead of `npm install` then the binaries may have not been updated exactly where npm might look for

[2018-06-12 18:29] mraible commented on #7764
@deepu105 I changed the title to say "yarn" rather than "npm" since that's what I have installed on my system. I just tried again and it still happens after creating a project from scratch. Full output below:

[code]

[2018-06-12 18:51] deepu105 commented on #7764
@mraible may be this is your issue
[code]
The post install step for `pngquant` failed and hence the remaining post install steps(inclusing that of webdriver) didnt complete

I tried your config and it works fine for me

[2018-06-12 18:52] deepu105 commented on #7764
do you have libpng-dev installed?

[2018-06-12 19:05] saturnism commented on #7750
creating the profile doesn't mean it'll be used :( it still require ways to indicate that the profile is active.

the only way i can do this now is to build w/ additional profile, e.g. `mvnw package -Pprod,prod-gae`

[2018-06-12 19:08] mraible commented on #7764
I guess I just expected things to work out-of-the-box on Linux. After installing libpng-dev (with `sudo apt-get install libpng-dev`), everything works. I'll close this ticket since it's obvious now that I look at the error message.

Fun sidenote: creating a new app on my Linux laptop takes 1m55s. On my MacBook Pro, it takes 9m30s. 😳

[2018-06-12 19:08] #7764 closed

[2018-06-12 20:19] PierreBesson commented on #7750
An other option is to modify the application-prod.yml directly.

[2018-06-12 20:23] PierreBesson commented on #7763
«Proud to be the n°1 contributor of bugs» as Josh Long would say...

[2018-06-12 20:27] PierreBesson commented on #7750
Just thought about something, maybe you can try adding a `spring.profile.includes=gae` in application-prod.yml.

Really not sure about this as the profile.include behavior used to be strange.

[2018-06-12 20:47] saturnism opened #7767 "Make Cache Provider choosable on Gateways that has no service discovery"
##### **Overview of the issue**

Currently Hazelcast is used as the mandatory cache on Gateways. However, if the Gateway doesn't perform rate limiting, there it doesn't seem necessary.

##### **Motivation for or Use Case**

Remove unneeded components.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

Use Hazelcast IFF Gateway and using Service Discovery. Otherwise,

[2018-06-12 22:39] PierreBesson commented on #7767
Agreed that Hazelcast on the gateway without service discovery will not work properly as the current config use eureka/consul to locate other instances and synchronize their caches.

And then you want to delegate gateway features to Istio. You might be better of disabling Zuul completely with env vars on your setup.

[2018-06-13 00:43] kenttanl commented on #7748
Thanks very mach, and sorry for bother you

[2018-06-13 03:35] mraible commented on #7675
Here's my attempt at a JDL that has all the things I mentioned above:

[code]

If I save it in a file called `blog+store.jh` and run `jhipster import-jdl blog+store.jh`, I get the following error:

[code]

Any advice is appreciated!

[2018-06-13 04:34] pascalgrimaud commented on #7763
Sorry for that... completely forgot to remove it, yesterday :-(

[2018-06-13 04:45] MathieuAA commented on #7675
@mraible Also, `testFrameworks` currently needs `[]` around, like in arrays. However, I'm gonna make this optional as I like not having them.

[2018-06-13 06:00] #7763 closed

[2018-06-13 06:17] pascalgrimaud commented on #6567
@Tarekajaj : you can have a look at the official doc: https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

But here some solutions:
- migrate back to PhantomJS, it's really easy and fast, but not a good solution as it's deprecated
- migrate to Jest, as we did in our current master branch, it's by far, the best solution
- try to fix your build environment
    - if you use

[2018-06-13 06:22] jdubois commented on #7748
You are not bothering us, it's just that we have clear guidelines that must be followed, and support questions should go to Stackoverflow, not to the bug tracker.

[2018-06-13 06:44] #7690 closed

[2018-06-13 07:47] pascalgrimaud commented on #7690
congrats @jdubois !

[2018-06-13 10:58] deepu105 commented on #7764
@mraible welcome to the beautiful world(unwalled) of Linux :clinking_glasses:

[2018-06-13 16:58] saturnism commented on #7767
if no service discovery, i recall i already removed zuul completely in generation.

[2018-06-13 17:02] saturnism commented on #7750
nice! that's a good call since we are using spring boot 2 :) https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-profiles.html

[2018-06-13 20:25] Pinny3 opened #7773 "Route reset/request is not working"
##### **Overview of the issue**

Running the production environment the page ../reset/request is only accessible if a user is already logged in. If the user is not logged in the home page is showing immediately if this url is called. Running a dev environment everything is working as expected.

##### **Motivation for or Use Case**

A User should initialize the password reset if he's not logged in

[2018-06-13 21:08] ruddell commented on #7773
I can't reproduce this.  The UI path is [unsecured by default](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.route.ts.ejs#L28), are you sure you are navigating to the correct URL?  http://localhost:8080/#/reset/request

[2018-06-13 22:11] Pinny3 commented on #7773
First of all, thanks for your fast reply.

I do call the right route. You can give it a try here

http://frontend.datau.christian-hartmann.de/#/reset/request

(or using the link 'forgot password' in the sign-in box).

As mentioned it is working properly if I let it run locally, but after building it with

./mvnw -Pprod package

it is not working anymore. Anything seems to be misconfigured using th

[2018-06-14 05:38] Pinny3 commented on #7773
Once again, thank you for your fast reply.

I have setup this logging statements for debugging purpose. I've just reverted  the class UserRouteAccessService  to the initial state generated by the Jhipster-Generator and done a new deployment.

However it is still not working. May you please recheck at

http://frontend.datau.christian-hartmann.de/#/reset/request

?

Thank you in advance....

[2018-06-14 06:39] deepu105 commented on #7773
This could be result of some modifications you have done as well. Can you
generate a new app using the same config and try it? If that works then you
can compare code of the new and your current app to see what might be
causing issue.

On Thu, 14 Jun 2018, 7:38 am Christian Hartmann, <notifications@github.com>
wrote:

[2018-06-14 10:29] JulioJu opened #7775 "Sometimes can't generate without prompt, even if there is file .yo-rc.json and other generation problems"
#### **Overview of the issue**

When there is already a folder node_modules in the project, we can't generate jhipster without prompt, even if there is the file .yo-rc.json, contrary to before.

It works randomly.

#### **Motivation for or Use Case**

Cause fails during local build for https://github.com/jhipster/generator-jhipster/pull/7484

More important, it cause problems if we want generate a

[2018-06-14 15:20] erikkemperman commented on #7668
@jdubois Yeah, looks like I wasn't very clear, or maybe it just wasn't a popular idea.

For what it's worth though, I wanted to propose making the unit tests (of the generated app) lots less verbose, by only printing to the console if there are failing assertions.

This would also makes testing the generator itself lots less verbose, of course.

Currently, for example, there are exception traces w

[2018-06-14 15:35] radni1234 opened #7778 "delete is not working in v5.0.0-beta.2"
##### **Overview of the issue**

delete is not working

##### **Motivation for or Use Case**

##### **Reproduce the error**
![image](https://user-images.githubusercontent.com/23177079/41422381-15f0cec8-6ff9-11e8-8f2d-70d13a45e2a2.png)

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

v5.0.0-beta.2

##### **JHipster configuration**

##### **Entity configuration(s) `

[2018-06-14 15:37] cbornet commented on #7778
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-06-14 15:38] radni1234 commented on #7778
This is sample application and it is not working :(

[2018-06-14 15:43] radni1234 commented on #7778
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "baseName": "jhipsterSampleApplication",
    "packageName": "io.github.jhipster.sample",
    "packageFolder": "io/github/jhipster/sample",
    "authenticationType": "jwt",
    "hibernateCache"

[2018-06-14 15:53] jdubois commented on #7778
Thanks, I'm testing this now

[2018-06-14 15:57] jdubois commented on #7778
I got an error with your JDL as "date" is a reserved keyword... Strange! So basically I can't import your JDL

[2018-06-14 15:59] jdubois commented on #7778
I know that it's a different issue but "date" shouldn't be a reserved keyword, that's definitely weird

[2018-06-14 16:09] jdubois commented on #7778
@MathieuAA I think there is an issue here with the new JDL parser, when there is a DateTime field - can you try this JDL to check?

[2018-06-14 16:10] jdubois commented on #7778
Hang on, this is just false, DateTime does not exist in JDL, there is just LocalDate and ZonedDateTime... so this just can't work!!
Sorry @MathieuAA
@radni1234 how did you manage to generate your project??? I'm using a ZonedDateTime instead

[2018-06-14 16:11] cbornet commented on #7778
I think that's the jhipster sample : https://github.com/jhipster/jhipster-sample-app

[2018-06-14 16:14] jdubois commented on #7778
Thanks @cbornet that would explain the broken JDL, as the sample was created a long time ago. The .json files have fallbacks that the JDL does not have, I guess.

OK, so I'm testing the https://github.com/jhipster/jhipster-sample-app instead

[2018-06-14 16:17] cbornet commented on #7778
I reproduce the error. That's a problem with the front-end (the endpoint works correctly). I guess there should be some confirmation pop-up but it's broken.

[2018-06-14 16:20] jdubois commented on #7778
Thanks @cbornet - indeed that's totally broken!!

[2018-06-14 16:30] deepu105 commented on #7778
I think there are no tests for delete part. May be we should add a e2e for
this. This was working the last time I checked. Not sure what changed. I
guess lately we merged a lot of PRs trusting the author without detailed
testing.

Thanks & Regards,
Deepu

On Thu, Jun 14, 2018 at 6:26 PM Julien Dubois <notifications@github.com>
wrote:

[2018-06-14 16:50] ruddell commented on #7778
From https://github.com/jhipster/generator-jhipster/commit/6b6d6cbdd5f688a38cb8df051402206321111d76#diff-39bdb48d262725529b9d34f32583120dR50, fix is to remove `.body` in the delete dialog component [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs#L76)

[2018-06-14 17:41] jdubois commented on #7778
Thanks @ruddell you're awesome!
I'm testing this

[2018-06-14 17:43] #7778 closed

[2018-06-14 17:53] Pinny3 commented on #7773
I've just set it up from scratch, changed nothing and do a new deployment.

However the error still exists...... I don't see any reason why.

One more thing is to mention that the frontend is running behind a Elastic-Load-Balancer at AWS.

Do you have got any clue what's wrong here?

[2018-06-14 18:28] pascalgrimaud commented on #7778
Deepu is right.
We should add Protractor for this.

[2018-06-14 18:31] pascalgrimaud commented on #7778
Thanks @radni1234 for reporting this big issue, it is important for us to have all information to reproduce. That's why `jhipster info` is really needed

[2018-06-14 18:39] pascalgrimaud commented on #7668
I think we can put the log level to OFF for the tests

[2018-06-14 19:47] MathieuAA commented on #7504
Okay, the last PR didn't work. I'm fixing it like Deepu suggested and dropping a PR.

[2018-06-14 19:50] MathieuAA commented on #7504
@pascalgrimaud with the `with-entitiies` flag, I don't have to compose three generators anymore, just jdl & entity or jdl & app. Thanks :)

[2018-06-14 19:53] pascalgrimaud commented on #7504
nice @MathieuAA !!

[2018-06-14 20:38] MathieuAA commented on #7504
@pascalgrimaud you told me a few days ago that you managed to reproduce the issue by using the `--with entities` flag, and no yarn link. What's your setup to test without linking?

[2018-06-14 21:13] jdubois opened #7783 "Upgrade to Spring Boot 1.5.14 and 2.0.3"
Important CVE are fixed: https://spring.io/blog/2018/06/14/spring-project-vulnerability-reports-published

For JHipster 4 we will need to wait for the new Spring Platform BOM (should be Brussels-SR11) but it's not available yet on http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22io.spring.platform%22%20AND%20a%3A%22platform-bom%22

[2018-06-14 21:21] jdubois commented on #7756
Impressive work! Let's do this

[2018-06-14 21:21] #7756 closed

[2018-06-14 21:22] #7773 closed

[2018-06-14 22:54] DanielFran commented on #7783
Brussels-SR11 expected tomorrow!

[2018-06-15 04:16] pmverma opened #7785 "Run mvn in batch mode during ci"
##### **Overview of the feature request**

During CI build, run mvn in batch mode to eliminate download progress logs

##### **Motivation for or Use Case**

Printing maven dependencies download progress logs is unnecessary and it is adding many unnecessary line number in build logs.

Following is really ugly to see every time and scrolling down (although many ci has scroll to end button), for eg,

[2018-06-15 04:28] mraible commented on #7785
What’s the difference between -B and -q?

[2018-06-15 04:39] pmverma commented on #7785
Obviously,  `-q Quiet output - only show errors`. `-q` is better.

[2018-06-15 05:18] erikkemperman commented on #7668
True, but wouldn’t that end up hiding the interesting output as well (failing assertions)?

Also, what’s happening in the server lib is we actually assert the log content itself — although I guess some might find that overly pedantic.

[2018-06-15 06:14] MathieuAA commented on #7504
@pascalgrimaud nevermind!!! I found the issue. Yeoman **has** to declare options before anything else (it won't pick up the config file otherwise). I don't know why.
Look, this doesn't work:
[code]
And if I don't initialize `this.configOptions` up top, but at the bottom, it works.
Must be a special property of JS class constructors, or a side-effect of declaring for the first time options for Yeom

[2018-06-15 06:17] pascalgrimaud commented on #7785
I don't think download log is a problem -> as the dependencies should be in cache, you should have all these logs the 1st time or when there is a new dependency. But it seems the batch mode can avoid these logs, we can try, if there is no issue

About `quiet output`, you can have issue if the build is very long (more than 10min) and with no output, Travis can't stop the build. So I'm not in favor

[2018-06-15 06:30] pascalgrimaud commented on #7504
In fact, I managed to reproduce the issue without doing anything:
- copy a sample `.yo-rc.json` with some entities inside `.jhipster/` (BankAccount, Label, Operation)
- type `jhipster --with-entities`
But it's resolved now.

Currently, I can't do a `yarn link generator-jhipster` as I'm with Yarn 1.7.0 and there is an issue with it. But I do it after the 1st generator instead of before.

About Trav

[2018-06-15 06:40] MathieuAA commented on #7504
@pascalgrimaud That's what I did, I did what the script does. It succeeds beautifully or fails miserably each time I do a `yarn global add file:...`, in turns.

[2018-06-15 07:44] MathieuAA commented on #7504
@pascalgrimaud Nuking the cache, removing links and trying again seems to be consistent, and works. Thanks ;)

[2018-06-15 07:50] manisi opened #7786 "Navbar menu Item Not translate to selected lang"
##### **Overview of the issue**
when change lang to another from menu the menu item not set to selected lang and translated value

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.jso

[2018-06-15 07:51] atomfrede commented on #7783
I tried to update a 4.x app to 1.5.14 this morning and had also problems with the cache configuration. Somehow it seems the order has changed again as it fails because ehcache is configured after datasource again. Works with 1.5.13 and applying your fix from this commit: https://github.com/jhipster/generator-jhipster/commit/843a671cf2e9febb20c1749fab7c2d522062ee1e

[2018-06-15 08:00] jdubois commented on #7783
Oh and my trainees also had this problem recently - what is happening here, this is making everything fails :-(
Thanks for the link to the commit!

[2018-06-15 08:11] jdubois commented on #7783
Nope @atomfrede - this is probably something close, but the fix doesn't work for me... In fact I have 2 caches, one created before (the correct one, with our setup), and then another one. It looks like Hibernate doesn't see the existing Ehcache instance and creates a second one.

[2018-06-15 08:33] pmverma commented on #7785
I am running default generated Gitlab CI file, in my case, at every stage the deps is being downloaded.
It seems deps caching is not working with Gitlab CI config file.

[2018-06-15 08:34] jdubois commented on #7783
So for Spring Boot 2.0.3 this fails because we use our own io.github.jhipster.config.jcache.NoDefaultJCacheRegionFactory for the Hibernate `hibernate.cache.region.factory_class` property.

The idea is that if you don't configure your cache for each entity, it won't be cached. So our class is a hack that makes the app crash if those caches are not configured correctly, which I find is a good idea.

[2018-06-15 08:45] ITGuy9401 commented on #5192
Hello, I'm having the same problem using `yarn install && yarn start` after starting the webserver

[2018-06-15 08:46] jdubois commented on #7783
This is so buggy...
So removing `hibernate.cache.region.factory_class` was a bad idea:

- Everything is correct in the code (the `@Cache` annotations, etc)
- At start up you have logs telling that the caches are created
- But in fact nothing goes into the cache!!!! It's just ignored

That's a really bad default configuration from Spring Boot! So let's not do this, and I'm stuck again :-(

[2018-06-15 08:50] jdubois commented on #7783
I think this part was coded by @henri-tremblay - Henri, does that rings a bell to you?

[2018-06-15 09:34] jdubois commented on #7783
A quick summary as I don't know if I'll have more time on this today.

With this new Spring Boot 2.0.3 release:

- We do have `CacheConfiguration` correctly setting up the caches, using JSR 107
- But the Hibernate entity manager does not "see" that JSR 107 instance, so it creates a new one, in which the caches are not correctly created (this second instance has no cache configured)
- As we have `i

[2018-06-15 09:39] atomfrede commented on #7783
And I think its the same for 1.5.14 at least thats what I can see in the logs (without investigating any further)

[2018-06-15 09:45] pmverma commented on #7785
Here is my repo pipeline

[https://gitlab.com/pmverma/jh-ci/pipelines/23919870
](https://gitlab.com/pmverma/jh-ci/pipelines/23919870
)

All the jobs there are downloading deps

[2018-06-15 09:48] pascalgrimaud commented on #7785
@pmverma : thanks for linking a real project. It means these [lines](https://gitlab.com/pmverma/jh-ci/blob/master/.gitlab-ci.yml#L3-7) don't work -> it needs to be fixed

[2018-06-15 09:49] pascalgrimaud commented on #7785
Oh, you have only 1 build. Can you trigger another build and see if it used the cache ?

[2018-06-15 09:56] pmverma commented on #7785
Next build [https://gitlab.com/pmverma/jh-ci/pipelines/23921327](https://gitlab.com/pmverma/jh-ci/pipelines/23921327)
Same results.

Yes, I think gitlab cache settings need to be fixed as they might have changed something later with configuration format.

[2018-06-15 11:03] pmverma commented on #7785
@pascalgrimaud , the cache setting is correct.
The main problem is that we have not used `-Dmaven.repo.local=$MAVEN_USER_HOME` at every place.
Therefore, the deps of `./mvn` command run without it will never be cached and hence results in downloading again and again.

I will do a PR for Gitlab CI file.

[2018-06-15 11:09] pascalgrimaud commented on #7785
yes, go ahead plz :-)

[2018-06-15 11:14] vishal423 opened #7787 "React : Component unit test cases are excluded from Jest configuration"
##### **Overview of the issue**

Component unit test cases are excluded from Jest configuration. This can be checked by looking under `jest.conf.js` file.

##### **Motivation for or Use Case**

Generated or newly added component unit test cases are not executed

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**
`jest.conf.js` -->
Current:
` testMatch: ['<rootDir>/src

[2018-06-15 11:17] deepu105 commented on #7787
@vishal423 could you please PR, this. I guess this was missed during the migration to Jest
cc @wmarques

[2018-06-15 11:20] deepu105 commented on #7504
Btw you can also do npm link to do the linking and the use yarn for
everything else

Thanks & Regards,
Deepu

On Fri, Jun 15, 2018 at 9:44 AM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2018-06-15 11:21] deepu105 commented on #7668
We can turn off Log for the actual source but not for the test classes as
well

Thanks & Regards,
Deepu

On Fri, Jun 15, 2018 at 7:18 AM Erik Kemperman <notifications@github.com>
wrote:

[2018-06-15 11:35] erikkemperman commented on #7668
We probably can, but not conveniently via package-names (test classes are in same package). So we'd have to address loggers with some kind of wildcard like `*Test`?

[2018-06-15 11:37] MathieuAA commented on #7504
@deepu105 Yes :)

[2018-06-15 13:22] henri-tremblay commented on #7783
Hi. Just waked up :-) I will have a look today. `NoDefaultJCacheRegionFactory` is indeed a good thing. It is actually the default in the latest Hibernate version so we will be able to get rid of it. The JSR107 `CachingProvider` is a singleton. If Hibernate and Spring are not seeing the same cache manager, it means both are not on the same URI anymore.

[2018-06-15 13:33] jdubois commented on #7783
Thanks @henri-tremblay !! Indeed that's supposed to be a singleton, but caches are initialized twice, here are my logs if I use a `org.hibernate.cache.jcache.JCacheRegionFactory` instead of the `NoDefaultJCacheRegionFactory`:

[code]

-> the first `Initialize successful` lines come from our `CacheConfiguration`, then Liquibase kicks in, and then it's Hibernate that is starting its own cache, givin

[2018-06-15 13:41] deepu105 commented on #7787
I think yes, we should do it with `MergeJsonWebpackPlugin`. I originally used `require.context` when writing the i18n part and I wasnt aware that Jest was against it.

[2018-06-15 14:53] Belkacem opened #7789 "Css differences between Dev And Prod"
##### **Overview of the issue**

Style is different between dev and prod in parts of the app, example :
dev:
![image](https://user-images.githubusercontent.com/419224/41474372-1a891012-70bc-11e8-8e6e-0de42d639a7a.png)

prod:
![image](https://user-images.githubusercontent.com/419224/41474379-1fb2e02c-70bc-11e8-9cee-4750bdacdbc3.png)

##### **Motivation for or Use Case**

##### **Reproduce the error

[2018-06-15 15:03] jdubois commented on #7789
Yes it's already been fixed in a previous ticket

[2018-06-15 15:03] #7789 closed

[2018-06-15 15:04] mraible opened #7790 "Service Worker fails to register with React"
PWA support is broken with React, and possibly Angular.

##### **Overview of the issue**

[code]
If you look at the image, it's 94x119, while the manifest has:

[code]

There's also a 404 for http://localhost:8080/content/content/4d7a941186721ef8150a081fa7cfa010.svg

##### **Motivation for or Use Case**

How can I demonstrate PWA's if it's broken? ;)

##### **Reproduce the error**

Create a React

[2018-06-15 15:08] Belkacem commented on #7789
Can you tell which ticket, and does it take care of the fileloader bug that makes assets that are in content folder unreachable from sass that is already in the content folder ?

[2018-06-15 15:11] jdubois commented on #7789
No sorry I'm on my phone... Have a look at the closed issue with no milestones, there should be very few of them, it will be there.
For the other bug I have no idea, you need to give me the ticket number.

[2018-06-15 15:20] Belkacem commented on #7789
Got it its #7776
I'll create an issue for the second bug.
Thanks !

[2018-06-15 15:21] mraible commented on #7790
Related: There's a 404 for sw.js. This is because the filename has been renamed to `service-worker.js`. This part needs to be changed in `index.html` to reference the new file.

[code]

[2018-06-15 15:39] Belkacem opened #7791 "Fileloader relative path issue for images (angular)"
##### **Overview of the issue**

Assets places in the images folder referenced from css in the content folder will result in error not found for these assets, example :
if you have an image that is defined as a background in global.scss file, the resulting css will have a relative path background :
`background:url(content/b04c0c68d9bc80f563f296e335851305.jpg)`
the browser will resolve this as :
`b

[2018-06-15 15:43] henri-tremblay commented on #7783
Ok. And where are you testing it? To you have a branch or a test project I can try? Only the Spring-boot version was changed? Not the hibernate one for instance?

[2018-06-15 15:49] jdubois commented on #7783
I'm using the master branch from "jhipster/jhipster" and do a "mvn clean install" so I have version 2.0.12 in my local Maven repo.
Then I generate a project and upgrade JHipster dependencies in the pom.xml (just one line to point to 2.0.12).
I'm doing this from my phone, so not sure it's 100% correct, but this is the general idea.

[2018-06-15 16:04] mraible opened #7794 "React shows registration link when using OAuth / OIDC for authentication"
##### **Overview of the issue**

"You don't have an account yet? Register a new account" is shown. This should be removed when OAuth/OIDC is used. Registration can be configured on the IdP and if turned on, it'll be available on Keycloak or Okta's login form.
##### **Motivation for or Use Case**

Because nothing happens when you click on the link.

##### **Suggest a Fix**

Remove the section in th

[2018-06-15 16:07] mraible commented on #7790
To fix this in my project, I created a bunch of images that were the correct size, then I referenced them in `manifest.webapp`.

[code]

![hipster192](https://user-images.githubusercontent.com/17892/41478153-eb764502-7083-11e8-9b6c-a38f545fe42b.png)
![hipster256](https://user-images.githubusercontent.com/17892/41478154-eb935d36-7083-11e8-947a-ac10c9ac4caf.png)
![hipster384](https://user-images.git

[2018-06-15 16:12] #7785 closed

[2018-06-15 18:01] henri-tremblay commented on #7783
One stupid question: How do I generate something there will use 2.0.12. Right now, 0.1.12 seems to be the one that is used. So jumping to 2.0.12 seems a bit of a big step.

[2018-06-15 19:30] henri-tremblay commented on #7783
So. The problem is there because Spring and Hibernate are no longer using the same class loader to find their `CacheManager`. Now the question is "why?". Which I will investigate right away.

[2018-06-15 19:49] henri-tremblay commented on #7783
Ok. Here is the spring-cache code that broke everything: spring-projects/spring-boot/pull/13338. However, the fix seems good so the problem is now to pass the right classloader to hibernate.

[2018-06-15 20:15] pmverma opened #7795 "Gitlab CI artifact keeping period"
##### **Overview of the issue**
Gitlab doc [https://docs.gitlab.com/ee/user/project/pipelines/job_artifacts.html#defining-artifacts-in-gitlab-ci-yml](https://docs.gitlab.com/ee/user/project/pipelines/job_artifacts.html#defining-artifacts-in-gitlab-ci-yml)

If somebody is using self-hosted gitlab version, the ci job artifact is kept for 30 days by default.
However, for Gitlab.com hosted project the

[2018-06-15 22:29] jdubois commented on #7783
Thank you so much for the analysis! I'll have a look on Sunday (no computer ATM and this needs testing).
I'm worried the static variable could cause issues on an app server with multiple WARs, but who does this nowadays?

[2018-06-16 01:19] henri-tremblay commented on #7783
Yes. But this is for a little while. So it causes issues only if you are crazy enough to have a factory in a class loader common to two wars that are deployed at the same moment. The alternative is to use a thread local and assume Spring is always loaded in a single thread.

[2018-06-16 07:13] #7715 closed

[2018-06-16 07:14] #7791 closed

[2018-06-16 09:09] snicoll commented on #7783
If you have a sample that shows how it break, I am happy to revisit the code.

We don't have support for 2nd level cache in Spring Boot and, as far as I understand, this is why you're having this issue. I'd be happy to include such support in Spring Boot itself but never had the time to look at it (PR welcome).

IMO, the code that was changed is better than the previous version. I might change my

[2018-06-16 16:00] JulioJu commented on #7775
I will improve the demonstration script. Because actually it fail too randomly.

[2018-06-16 19:08] henri-tremblay commented on #7783
Thanks, @snicoll. Yes. It's not a Spring issue. Using this class loader make sense. The real problem is a mix of JSR 107 playing with class loaders and Hibernate factory that can't be injected from a Spring bean.

@jdubois A stupid solution could be to remove second level caching from Hibernate by arguing that the Spring cache layer should be enough.

[2018-06-16 20:39] shai2017 opened #7798 "Angular production build failure with more than one lazy loading module"
[dashboard.zip](https://github.com/jhipster/generator-jhipster/files/2108535/dashboard.zip)
##### **Overview of the issue**

Created another module named dashboard (very similar to "admin module" - structure wise). When importing this module at app.module level it works fine and production packaging working as expected.
But when using lazy loading in app-routing.module (exactly same as admin modul

[2018-06-17 11:07] MathieuAA commented on #7775
@pascalgrimaud @JulioJu Hi, I didn't see I was included in this thread, sorry. Pascal has reverted my changes, so it should work. I'm going to review his revert and see if he has forgotten something.

[2018-06-17 11:13] MathieuAA commented on #7775
I can confirm his commit reverted my work, except for the import-jdl subgen. @pascalgrimaud We've talked about this, do you know how this issue is possible?
I see a `yarn link` is the `sh` sample above, I don't think it's related though.

[2018-06-17 11:15] MathieuAA commented on #7775
@JulioJu have you tried checking out from above my commit and cherry-picking the commits after?

[2018-06-17 12:58] JulioJu commented on #7775
@MathieuAA sorry I havn't ween your commit was reverted. As I said, 10071199b35c7940706d7173ccb12b22d8b28f4f (your commit) fail with an error code, and bd0fe60f0a960537493a110c19f249584a94e0fd don't fail, we only see <u>sometime</u> the prompt with the questions, evenir if we have `.yo-rc.json`.

On my computer, this mornit I've tested several time bd0fe60f0a960537493a110c19f249584a94e0fd, and eac

[2018-06-17 13:07] MathieuAA commented on #7775
I don't get it either. If my commit was properly reverted, which I think it was thanks to Pascal, there shouldn't be any problem. Now two possibilities:
  - the commit wasn't properly reverted, then an issue may happen.
  - the commit was properly reverted, then there was an issue earlier.

You say you've tested everything, how? with the shell script? Have you tried another way?

[2018-06-17 13:09] MathieuAA commented on #7775
Try something, don't use yarn in your script.

[2018-06-17 13:20] JulioJu commented on #7775
Yes I've tried another way… Maybe not conventional (I will explain later if needed)… I must investigate further.

We must use `yarn link` because otherwise we not test `"$HOME/generator-jhipster"`, but the generator-jhipster installed globally…

Thanks for your answer @MathieuAA :-).

It's so complicated ;-).

[2018-06-17 13:27] JulioJu commented on #7775
Yes, I've seen that too… That's why I've downgraded to v1.6.0…

[2018-06-17 13:33] JulioJu commented on #7775
Ok, I didn't know it was possible to `global add` a folder. Thanks for this tip.

But probably for https://github.com/jhipster/generator-jhipster/pull/7484 it's better to use `yarn link`, and not `global` install. But thanks to remind me that, I must add a test to forbid use of `yarn 1.7.0` !

[2018-06-17 15:29] MathieuAA commented on #7775
I don't know if you've found a solution, but if I had to guess, this almost smells like a async problem, if it almost fails randomly (or randomly), and hard to debug...

[2018-06-17 15:35] JulioJu commented on #7775
@MathieuAA
Thanks for your help.
Could you help me please ? At least to confirm the problem.

[code]
then test with the script https://github.com/jhipster/generator-jhipster/issues/7775#issue-332343549

If I replace bd0fe60f0a960537493a110c by 36baafa97d1c9896a944010891b3b30d3d1134f5 there is no problems for generation. I've tested many times.

With  bd0fe60f0a960537493a110c  sometimes we have
[co

[2018-06-17 15:42] JulioJu commented on #7775
@MathieuAA . It's so weird ! I know… I'm trying to look further…

[2018-06-17 15:53] MathieuAA commented on #7775
@JulioJu There may be a better way to tackle the problem. My main issue here is that I don't know how to positively assert (I mean 100% be sure) that the way I check a commit is good. After talking with Pascal about a similar issue (or the same, I'm not so sure anymore), he told me that the best way to be test everything is via Travis.

[2018-06-17 16:19] JulioJu commented on #7775
Ok… Yes @pascalgrimaud  you tell me the same thing…

But the problem here is with local builds… Not local test ! Sometimes I can't build locally… The problem is no local tests (see the script https://github.com/jhipster/generator-jhipster/issues/7775#issue-332343549, I use only 02-generate-entities for generate entities). The goal of JHipster is to be build locally, not remotly ;-).

So maybe we m

[2018-06-17 16:27] JulioJu commented on #7775
@MathieuAA maybe the best is to record my screen. As it you could see how the local build (again not local test) occurs ?

I don't understand well this commit. Sorry… I must work more on it.

I read at https://github.com/jhipster/generator-jhipster/compare/0a861835d808314fd7da15af3b7ce8c05188ca29...67f529de2286f722ee65cbd318091315d653b0d0 :
[code]

[2018-06-17 16:29] MathieuAA commented on #7775
If I remember correctly, this made the `import-jdl` work perfectly but was a pain in the ass to test. So I had to rollback.

[2018-06-17 16:29] MathieuAA commented on #7775
@JulioJu Don't worry, I've reproduced the issue, no need for screen recording

[2018-06-17 16:30] JulioJu commented on #7775
@MathieuAA So cool… thanksssss a lot ;-) !!! ;-) !!

[2018-06-17 16:30] JulioJu commented on #7775
I've taken a lot of time about it… ;-)

[2018-06-17 16:37] MathieuAA commented on #7775
When I talked about testing, TravisCI builds an app before the testing. That's why some "tests" failed: there weren't any as there was no build at all.

[2018-06-17 17:07] MathieuAA commented on #7775
@JulioJu I've pushed something, in a forked repo of the generator. We'll see if this solves it...

[2018-06-17 17:13] pascalgrimaud commented on #7775
Sorry, I can't help much here, until the JHipster Conf.
I prefer to freeze all my installations to be sure everything works fine for my demo
If I have time, I will use a VM to try to reproduce

[2018-06-17 17:14] jdubois commented on #7783
I'm quite happy that JHipster provides Hibernate 2nd level cache on top of Spring Boot :-)

For the record, for the last month, for all JHipster generated projects:

- 80% of all projects used an SQL database
- 70% of all projects used Hibernate 2nd level cache (which means 87,5% of projects using an SQL database used an Hibernate 2nd level cache)
- 80% of all projects used Spring Cache (usually w

[2018-06-17 18:10] jdubois commented on #7783
@henri-tremblay solution 1 in fact doesn't work with my setup - I don't understand why...
For solution 2, my problem is that it needs to be configured as a Spring Bean: if we auto configure it in the jhipster/jhipster lib, we would then need to add a property to disable it if needed. So in the end this is quite a complex configuration.
So at the moment I'd rather have solution 1, but I need to mak

[2018-06-17 18:44] henri-tremblay commented on #7783
I much prefer solution 2. And I think it is easier to convert into a PR to Spring. Right now I was injecting it as a bean in CacheConfiguration. But yes, I will do a PR.

[2018-06-17 19:13] jdubois commented on #7783
Yes you are right @henri-tremblay !

About solution 1, I found my issue: I was putting the class into the jhipster/jhipster lib, so it wasn't in the right classloader. I had to move my class into the project, so it has to be generated by jhipster/generator-jhipster, and that's indeed awful.

So I'd much prefer solution 2, if it can be put inside jhipster/jhipster, but that looks a bit hard to do.

[2018-06-17 19:40] FireWolf2007 opened #7801 "Show link to other entities with entity id == 0"
##### **Overview of the issue**

I found the problem on my test project: entities with id == 0 is not shown.

Problem found at
* entity-management-detail.component.html.ejs:90
* entity-management.component.html.ejs:133

Code: `<div *ngIf="<%= entityInstance + "." + relationshipFieldName + "Id" %>">`

##### **Reproduce the error**

Generate project with one relation and entities with id == 0

#####

[2018-06-17 20:45] jdubois commented on #7783
@henri-tremblay got it... It's not even a Spring Bean... Really ugly code, but very easy to use from the user's point of view, and no risk to fail. I'll commit this and let you tell me what you think of it.

[2018-06-17 20:58] #7709 closed

[2018-06-17 21:37] jdubois commented on #7783
For the record, a modified version of solution 2 was commited in jhipster/jhipster at https://github.com/jhipster/jhipster/commit/662096ae3ba861b82f3e01f3566322ec93be8a20

[2018-06-18 03:33] henri-tremblay commented on #7783
Do you need a PR in `generator-jhipster`? Or you will take care of it. The code I used for far was

[code]

[2018-06-18 05:50] vishal423 commented on #7801
IMO, entity with zero value in Id column is not a valid identifier.

[2018-06-18 06:14] JulioJu commented on #7775
@MathieuAA
https://github.com/jhipster/generator-jhipster/pull/7800 fix perfectly this issue ! Thanks !

[2018-06-18 06:16] JulioJu commented on #7775
And see you to the JHipster Conf. Have a good preparation :-)

[2018-06-18 06:20] deepu105 commented on #7801
yes for numbers zero is equivalent of null

[2018-06-18 06:21] deepu105 commented on #7801
@FireWolf2007 could you clarify why you need 0 as id in the first place?

[2018-06-18 06:38] MathieuAA commented on #7775
Thank you very much! 

[2018-06-18 06:43] FireWolf2007 commented on #7801
@deepu105, It's not production. I'm used external file for loading initial data into DB via liquibase - they contains 0 as id.
I surprised that table has is empty cells (as null in external refs), but editor shows entity.
Technically I can't see problem to work with id 0 or less 0. I'm agree it's not common use 0 or negative values  for id.

[2018-06-18 06:50] pmverma commented on #7795
Or should I keep it as it is because jhipster prefer defaults?

[2018-06-18 06:54] deepu105 commented on #7801
@FireWolf2007 in that case i would consider this as a non standard edge case and hence we wont change anything to support it. Ideally 0 should not be used as id

[2018-06-18 06:54] #7801 closed

[2018-06-18 08:17] jdubois commented on #7783
Thanks @henri-tremblay I did it in https://github.com/jhipster/generator-jhipster/commit/51bbc386e75db690bec2b73cb6c792b9e3453b62 but I was a bit more "brutal" than you - is that OK for you?

And thanks so much for your hard work here, I wouldn't have found this alone!!!

[2018-06-18 08:33] JulioJu commented on #7775
@MathieuAA
Sorry, I've tested to quickly. This morning, I've tested in all situations where I've founded a prompt, and I confirm there is no problems with prompts. But stupidly, I've typed <Ctrl-C> each time the step with the prompt is passed. I've never let finished the generation.

I experiment some problems after.

With the script https://github.com/jhipster/generator-jhipster/issues/7775#issue

[2018-06-18 08:37] MathieuAA commented on #7775
Okay, I'll try to reproduce this later.

[2018-06-18 08:40] JulioJu commented on #7775
Ok. In this type of case case, I don't know if I must open a new issue or open again this issue. I don't know what is the better way.

[2018-06-18 08:42] #7790 closed

[2018-06-18 09:01] MathieuAA commented on #7775
I guess it fits, unless there's an objection I suggest to keep it open.

[2018-06-18 09:04] pascalgrimaud commented on #7775
@JulioJu : what is your Yarn version ?

[2018-06-18 09:12] MathieuAA commented on #7775
@pascalgrimaud I think he uses v1.6.0. @JulioJu can you do a `yarn -v` just to be sure?

[2018-06-18 09:18] JulioJu commented on #7775
Yes, it's v1.6.0 (I've tested again now !). As we said, v1.7.0 introduce some bugs with `yarn link`.

[2018-06-18 09:55] JulioJu commented on #7775
@MathieuAA @pascalgrimaud

Actually, with
[code]
I have
[code]

[2018-06-18 10:27] deepu105 commented on #7775
@pascalgrimaud given that NPM is almost as fast as Yarn now, may be we should just switch back to npm as default as atleast its not buggy. yarn lateley is very buggy

[2018-06-18 10:34] deepu105 commented on #7775
@JulioJu do you see same issue if you use npm instead of yarn? I tried with npm and it doesnt happen, but yesterday I saw it when doing something else and I was using Yarn

[2018-06-18 10:35] deepu105 commented on #7775
@JulioJu I think in the last comment you made you are generating in the wrong directory, `Application files will be generated in folder: /home/julioju/generator-jhipst
er`

[2018-06-18 11:55] pascalgrimaud commented on #7775
@deepu105 : my comments are the same than https://github.com/jhipster/generator-jhipster/issues/7551#issuecomment-385455182
Maybe we should do a vote on our ML ?

[2018-06-18 13:31] henri-tremblay commented on #7783
That's fine. It will work :-)

[2018-06-18 13:58] JulioJu commented on #7775
@deepu105 on my computer `npm link` needs `sudo`… When I work sometimes I couldn't be root (if I work at University).

I'm very disappointed. The bug discribed https://github.com/jhipster/generator-jhipster/issues/7775#issuecomment-398003016 (where I don't use `yarn link`) or at https://github.com/jhipster/generator-jhipster/issues/7775#issuecomment-397994908 (where I use `yarn link`) seems also t

[2018-06-18 14:19] MathieuAA commented on #7775
@JulioJu It's a well-know issue of NPM. Look at the doc, they explain how to bypass the need for a root user.

[2018-06-18 14:29] JulioJu commented on #7775
@MathieuAA ok thanks… Sorry ! I will check… But before I try to trigger a new fail… Even with `yarn link`. It's strange, because it's by phase. On my computer, when it fail, it fail for several generations, even after a reboot of my computer.  And when there is no problems, it's for several generations. Maybe depends of the moon :rofl: :laughing: . Whant do you think about that :wink: ;-) ?

[2018-06-18 15:14] JulioJu opened #7805 "Advise also to use `npx` in Documentation"
##### **Overview of the feature request**

Actually a linux newbie can't know than `npm` doesn't need `sudo`.

##### **Motivation for or Use Case**

@MathieuAA you said it's a well-known issue at https://github.com/jhipster/generator-jhipster/issues/7775#issuecomment-398070474… But in my University all teachers and students believe that `npm` needs sudo. And as `npm` has a very bad reputation (tha

[2018-06-18 15:16] pascalgrimaud commented on #7775
I did some tests, and for me, there are no issue at all.
Everything works fine on my side, if I don't use `yarn link`. So it's OK the this new release: `v5.0.0-beta.3`.

@JulioJu : if you can provide me a complete use case to reproduce your issue... Otherwise, we could work together on it, at JHipster Conf.

[2018-06-18 15:45] JulioJu commented on #7775
@pascalgrimaud as I said, actually at 368f25930159806570ce282608f1f4620c523738 all work fine… I agree with you. I test, and test again, all work fine. I reproduce exactly the same steps than this morning (it's easy because it's a bash script), but all work fine.

This morning and at the beginning of afternoon, I've tested several time… And it fail each time. Actually, it doesn't want fail… All wor

[2018-06-18 15:50] JulioJu commented on #7775
@pascalgrimaud I experiment again this error…

[2018-06-18 16:07] jdubois commented on #7783
Brussels-SR11 has been released on http://repo1.maven.org/maven2/io/spring/platform/platform-bom/Brussels-SR11/ -> time to upgrade JHipster 4!

[2018-06-18 16:42] jdubois commented on #7783
I upgraded (and tested!) everything for a new JHipster v4 release, using Spring Boot 1.5.14 - the builds are going to be falky in the next few hours as Maven central won't be updated, I'll restart them later and do the release tomorrow morning!

[2018-06-18 16:59] MathieuAA commented on #7775
@JulioJu not yet, didn't have much time

[2018-06-18 17:47] pmverma opened #7806 "Annotating @Secured(AuthoritiesConstants.ADMIN) is not working"
##### **Overview of the issue**

Annotating `@Secured(AuthoritiesConstants.ADMIN)` is not working

##### **Motivation for or Use Case**

Annotating with `@Secured` must work as expected, in this case, other than ADMIN role must fail, but thats not happening.

##### **Reproduce the error**

1. Generate a fresh application

1. Change following test method of class `UserResourceIntTest.java`
 Change

[2018-06-18 18:35] henri-tremblay commented on #7783
I think a cleaner solution would be a programmatic configuration of the EntityManager in order to provide a ServiceContributor from Spring. But I don't know how to do it right now.

[2018-06-18 19:17] cbornet commented on #7806
It's normal that it doesn't work in tests since they use a mock and security is not applied.
What does it give with a real server ?
To apply security in test, add `apply(springSecurity())` to `restUserMockMvc`

[2018-06-19 06:00] BruceMoose commented on #6566
why can we just run the command in project directory? my angular.json root is "root":"" but it still can generate a new component when i working in the project directory

[2018-06-19 06:11] JulioJu commented on #7775
@pascalgrimaud
This morning, I've tested several times. With `npm link` no problems seems occured, contrary to `yarn link`. I've npm 6.1.0. This morning, I've tested again with `yarn link` I experiment some problems.

But on my computer (Intel Celeron), `npm link` take more much time than `yarn link`.

[2018-06-19 06:37] pmverma commented on #7806
@cbornet with real server, it is fine.
And thank you for the tip.
However I am still having problem and I have posted on SO.

[https://stackoverflow.com/questions/50921852](https://stackoverflow.com/questions/50921852)

I will close this issue as this is SO question.
Thanks

[2018-06-19 08:35] cbornet commented on #7806
We should apply and verify security in the tests. This has been talked about many times but I guess nobody worked on it... As always PRs are very much welcome :smile:.

[2018-06-19 08:35] #7806 closed

[2018-06-19 08:49] jdubois commented on #7783
So the JHipster 4 builds are failing, but this is because of the React tests - I guess this is a misconfiguration as we don't support React with JHipster 4!!! So this isn't a blocker, and I'm doing the release.

[2018-06-19 08:49] deepu105 commented on #7775
I think no point wasting time here. We really need to discuss about
switching back to NPM, Yarn is recently a PITA especially when it comes to
developing with it

Thanks & Regards,
Deepu

On Tue, Jun 19, 2018 at 8:26 AM Mathieu ABOU-AICHI <notifications@github.com>
wrote:

[2018-06-19 08:52] deepu105 commented on #7783
@jdubois but for the 4.x branch there shouldn't be any React test config in Travis right as its a different branch?

[2018-06-19 08:55] deepu105 commented on #7805
@JulioJu NPM doesnt always need sudo, it depends on your machine config. I understand shared PCs on university and stuff might have problems. Yes indeed you can do a PR to add more docs about this, buit dont change existing instruction for NPM, just add on saying if you cant use NPM due to such issues NPX might be an option. Ping me once you do a PR for review

[2018-06-19 08:56] deepu105 commented on #7805
I'm closing the issue as its really not needed to be open, just do the PR thats ok

[2018-06-19 08:56] #7805 closed

[2018-06-19 08:56] deepu105 commented on #7775
closing as the its a Yarn issue

[2018-06-19 08:57] #7775 closed

[2018-06-19 09:01] deepu105 commented on #7794
closed via #7803

[2018-06-19 09:01] #7794 closed

[2018-06-19 09:03] deepu105 commented on #7787
@vishal423 will you be doing a PR?
Also about the enzyme config, I remember I asked @wmarques about it and he said its not needed for Jest may be it was because of the missing tsx extension

[2018-06-19 09:05] deepu105 commented on #7783
can this ticket be closed?

[2018-06-19 09:06] deepu105 commented on #7738
closing as the PR is merged

[2018-06-19 09:06] #7738 closed

[2018-06-19 09:09] jdubois commented on #7783
@deepu105 not sure what happens with Travis, but I don't think this is very important as the v4 branch is in maintenance mode now.

And I'll close the ticket as soon as I finish a couple of tests.

[2018-06-19 09:16] #7783 closed

[2018-06-19 09:19] beiatisi commented on #6566
You can use "ng new you_project_name" copy angular.json paste to your original project directory.

[2018-06-19 09:34] MatthewGouws opened #7807 "i18n Security"
##### **Overview of the issue**
i18n is configured as an ant-matcher in the SecurityConfiguration.java, however when building for Production the entire i18n directory is available without passing through the security of the application.

##### **Motivation for or Use Case**
Securing i18n Translations, as i18n translations can be used to determine the existence of features to unauthorized users.

T

[2018-06-19 09:43] jdubois commented on #7807
Yes, this is a question that we get very often.

The whole front-end application is accessible without restriction, as it is ready to be published on a CDN or on a specific front-end server, which is another very common question we get from people.

As always with a front-end application, your users have access to all of it. They can even change their security role and have access to "restricted"

[2018-06-19 10:56] ElsayedAwdElsayed opened #7808 "Error: Cannot find module 'escape-string-regexp' when generating jhipster-react project"
I want to create jhipster-react project via this link [generator-jhipster-react](https://www.jhipster.tech/modules/marketplace/#/details/generator-jhipster-react)

I followed all steps but while executing below step

 **yo jhipster-react**

I have got this exception

[code]

[2018-06-19 12:19] JulioJu commented on #7775
@deepu105 , @pascalgrimaud , @MathieuAA
I'm so sorry, but I experiment some troubles with the following script.

[code]

The output is
[code]

[2018-06-19 13:01] deepu105 commented on #7808
@ElsayedAwdElsayed that project is abandoned(Its stated clearly on its Readme). React support is now in the main generatoir. Pleasde use the latest JHipster version and choose React as the client side.

[2018-06-19 13:01] #7808 closed

[2018-06-19 13:03] JulioJu commented on #7775
I repeat, I don't know if the problem if with `yarn`. I've tested sometimes without `yarn link` and I experiment some problems.

Or maybe it's my computer. I experiment this after a reboot of my computer.

If I could say again, `npm link` is very, very, very longer than `yarn link`. I :cry:, with `npm`, it's so long…

Moreover, I don't understand why `yarn` could cause problems for the error descr

[2018-06-19 14:33] mraible opened #7810 "App with Elasticsearch doesn't work out-of-the-box with Heroku"
##### **Overview of the issue**

I'm adding this issue because I believe @jkutner did work recently to make it so Elasticsearch was automatically configured when you deploy an app to Heroku. I see the following on startup, so I'm guessing provisioning Elasticseach is working.

[code]

However, when my app starts up, it fails to connect to this instance, and all CRUD functionality is broken.

[code

[2018-06-19 19:14] deepu105 commented on #7775
@JulioJu again its a yarn issue, see below, I encounter it when doing a simple `yarn -v` on Fedora
[code]

[2018-06-19 19:19] pascalgrimaud commented on #7775
@deepu105 : we can discuss about it tomorrow, but I think it's time to put NPM as default and Yarn as flag. I will do it after JHipster Conf. Maybe we should open a new issue for that ?

[2018-06-20 05:07] vishal423 commented on #7787
@deepu105, I will try and may take a day or two based on bandwidth.

[2018-06-20 07:10] Icarus0xff opened #7814 "could not contact UAA to get public key"
##### **Overview of the issue**

I generated a uaa service, a microservice named app0 and an api gateway with consul discovery type, but when i startup  app0 after start uaa server, I got a warn log`could not contact UAA to get public key` and when I try to login admin/admin via api gateway, it logged `java.lang.IllegalStateException: No instances available for uaa`, and in consul ui page, uaa ser

[2018-06-20 08:49] wmarques commented on #7787
About `require.context`, I don't really know what's the correct solution for this. Could we manually require or import all the files and then merge them? Require seems handled by jest...

[2018-06-20 09:28] vishal423 commented on #7787
I have changed require.context code to align with angular codebase. Basic code almost ready and should be able to raise merge in sometime.

[2018-06-20 11:45] vishal423 commented on #7814
I believe you haven't started UAA server and that's reason behind errors you noticed.

[2018-06-20 12:05] JulioJu commented on #7775
@deepu105

It's strange. A simple `yarn -v` should not cause this problem… I havn't this issue. It look like a problem with symlink https://stackoverflow.com/questions/12338233/shell-init-issue-when-click-tab-whats-wrong-with-getcwd.  I've found other issues like this. But nothing at https://github.com/yarnpkg/yarn/issues

At https://github.com/jhipster/generator-jhipster/issues/7775#issuecomment-

[2018-06-20 14:57] digital-nomad17 opened #7816 "Show console errors in overlay in browser window"
##### **Overview of the feature request**

An overlay for the browser window. This overlay would display errors, warnings, and logs from the console.

##### **Motivation for or Use Case**

During development it would be useful to beable to quickly glance at the browser window to see the output of the console. Especially with the fact browser-sync opens a new window with every start/restart of the

[2018-06-20 19:01] henri-tremblay commented on #7783
For the record, I think the final solution will be to configure Hibernate programmatically. I will look into it but if someone is an expert, I'm all ears.

[2018-06-20 22:57] henri-tremblay commented on #7783
For the record, I think the best solution would be to configure Hibernate programmatically and inject a RegionFactory that is Spring aware. I'll have a look but if some Hibernate+Spring wants to, I'm all ears.

[2018-06-21 00:55] Icarus0xff commented on #7814
@vishal423 I have started UAA before I start app0 and api gateway.

[2018-06-21 07:13] agoncal commented on #7738
@loydjayme25 and what about creating a diverse group of several hipsters ? The JHipster logo will remain, but with your new logo we could create a kid of mascot. We could have a younger Hipster, an older one, a tatoed female Hipster, an asian still of Hipster....

We could then have several stickers and each one of us would recognize him/herself in such or such caracter.

WDYT ?

[2018-06-21 07:31] agoncal commented on #7738
@atomfrede exactly ;o)

[2018-06-21 10:15] coolazrael opened #7818 "execute ./gradlew bootWar -Pprod buildDocker report error"
##### **Reproduce the error**
[5/5] Building fresh packages...
error /home/jhipster/app/node_modules/pngquant-bin: Command failed.
Exit code: 1
Command: node lib/install.js
Arguments:
Directory: /home/jhipster/app/node_modules/pngquant-bin
Output:
??? The `/home/jhipster/app/node_modules/pngquant-bin/vendor/pngquant` binary doesn't seem to work correctly
  ??? pngquant pre-build test failed
  ???

[2018-06-21 10:27] vishal423 commented on #7818
To fix this issue, you need to install 'libpng-dev' dependency on your system.

[2018-06-21 10:42] mraible commented on #7818
I experienced this same issue on Linux. One you read the error and understand it, it makes sense. Closing because the error tells you what you need to do to fix it.

[2018-06-21 10:42] #7818 closed

[2018-06-21 11:03] sendilkumarn commented on #7738
@agoncal love it :

[2018-06-21 13:27] DsosaV opened #7820 "Missing closing quotes on generated build.gradle file."
##### **Overview of the issue**

The generated build.gradle file is missing a closing double quote for a single dependency. The dependency is: spring-retry.

##### **Suggest a Fix**

Add the closing double quotes [here](https://github.com/jhipster/generator-jhipster/blob/c39e6aa3f81a119d2ee24625b3063a0c4947a268/generators/server/templates/build.gradle.ejs#L334)

##### **JHipster Version(s)**

jhip

[2018-06-21 13:35] yakari commented on #7478
I always wanted to give my thanks for this and never found the time... I will take the opportunity of the nice JHipsterConf reminder to thank you!

[2018-06-21 13:50] mraible opened #7821 "Travis support doesn't tell user to create API key for Heroku"
##### **Overview of the issue**

When running `jhipster ci-cd`, and choosing Travis, you're prompted to deploy to Heroku, but no information is given that an API key is needed.

Here's the instructions for adding an API key: https://docs.travis-ci.com/user/deployment/heroku/

##### **Motivation for or Use Case**

Build fails in Travis with the following error:

[code]

##### **Reproduce the error*

[2018-06-21 14:38] mraible commented on #7821
After researching this more, it seems that we might be using a deprecated deployment mechanism. It currently generates:

[code]

@jkutner Is this the best way to deploy to Heroku from Travis?

Here's a PR for a JHipster v5 project I created and tried to integrate with Travis/Heroku:

https://github.com/oktadeveloper/okta-react-photo-gallery-example/pull/2

[2018-06-21 14:43] jkutner commented on #7821
@mraible using the heroku-maven-plugin is fine (but it could use a version update). I'll work up a PR to add the key (it can be done from the Heroku CLI without a prompt) and update the plugin version.

[2018-06-21 14:44] jkutner commented on #7821
@mraible can you assign this to me?

[2018-06-21 14:59] alisedaghatbaf opened #7822 "elasticsearch node not available"
##### **Overview of the issue**

I'm using jhipster (version 4.14.3) to generate a web app. The problem is that in production mode, the app cannot connect to the elastic search service which is running well on port 9200. Any help would be appreciated.

##### **Motivation for or Use Case**
users are faced with internal server error when trying to add any data record to the system.
##### **Reproduce

[2018-06-21 15:05] atomfrede commented on #7820
Would you mind doing a pull request?

[2018-06-21 15:19] jplongo commented on #5607
This issue seems to be back in JHipster 5.0.0.

Changing `serviceDiscoveryType` to `false` instead of `eureka` on new monolithic application do the job.
But with default installation server won't start. And I'm loosing one hour before trying your fully working fix 👍

I post here just in case it will help people on this issue

Here is my original auto generated `.yo-rc.json` :

`{
  "generator-jhip

[2018-06-21 15:28] jkutner commented on #7810
It looks like this can't be fixed until the [spring-data-elasticsearch](https://github.com/spring-projects/spring-data-elasticsearch/) lib offers support for the Elasticsearch REST API. Here are some relevant links:
* https://jira.spring.io/browse/DATAES-220
* https://www.elastic.co/blog/found-java-clients-for-elasticsearch

As an alternative, we could integration [Jest](https://github.com/VanRoy/

[2018-06-21 15:53] DsosaV commented on #7820
Will do in a moment.

[2018-06-21 17:37] #7820 closed

[2018-06-21 18:52] #7821 closed

[2018-06-21 19:00] vishal423 opened #7827 "Redundant / broken gateway sub-module/component code without serviceDiscovery"
##### **Overview of the issue**
If you generate a gateway without service discovery, then, on server side it doesn't generate the GatewayResource.java. However, no such checks are added on frontend layer and thus it generate gateway page/component code (along with associated service, routes, reducer etc) which are redundant as they will never work without backend API

##### **Motivation for or Use

[2018-06-21 19:31] pascalgrimaud commented on #7795
I would suggest to let by default.
But we can add in comment `expire_in: 1 week` or 1 month, so the user knows what it does and can uncomment this if we want

[2018-06-21 19:31] pascalgrimaud commented on #7795
If you're ok with me, would you like to do this minor pull request?
Otherwise, we can discuss about it :)

[2018-06-21 19:31] saturnism commented on #7337
I think this is all done! Thanks everyone!

[2018-06-21 19:31] #7337 closed

[2018-06-21 19:33] pascalgrimaud commented on #7827
@vishal423 : Indeed, would you like to do a PR ?

[2018-06-21 19:39] pascalgrimaud commented on #7822
I just switch back to JHipster v4.14.3.
We generated an elasticsearch docker-compose file with `elasticsearch:2.4.6` that means a JHipster v4.14.4 only works with this version, not version 6.

Could you try JHipster v5.0.0 which has been released yesterday ?
It works with Elasticsearch 5.6.5, and maybe Elasticsearch 6.2.4.

[2018-06-21 19:41] pascalgrimaud commented on #7822
I'm closing this, as I think it's a problem with Elasticsearch version.
Don't hesitate to comment if you got the issue with JHipster v5 + Elasticsearch 5.6.5 / or give feedback for JHipster v5 + Elasticsearch v6.2.4

[2018-06-21 19:41] #7822 closed

[2018-06-21 20:21] deepu105 commented on #7738
Yes please

On Thu, 21 Jun 2018, 1:03 pm Sendil Kumar N, <notifications@github.com>
wrote:

[2018-06-22 01:45] Icarus0xff commented on #7814
I found what's wrong in my enviroment.

- consul should not greater than 0.9.x
- service should run in a sequence uaa -> gateway -> app0

[2018-06-22 05:11] pmverma opened #7828 "Webpack Build failing after upgrade to v5"
##### **Overview of the issue**

`yarn webpack:build` is failing with following error after upgrade from v4 to v5.

[code]
##### **Motivation for or Use Case**

Upgrading an app(without any customization) should be work?
Or is there any migration guide?

##### **Reproduce the error**

Two cases here:

1. Fresh app created from 4.14.5 -> 5.0.0 is working perfectly without any error.
However, in my

[2018-06-22 05:23] pascalgrimaud commented on #7814
In v4.14.4, you need to use consul:0.9.3
See https://github.com/jhipster/generator-jhipster/blob/v4.x_maintenance/generators/generator-constants.js#L44

In JHipster v5, we migrate to Consul 1.0.2
See https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-constants.js#L45

I'm closing this, as you found the issue with your Consul version.

[2018-06-22 05:23] #7814 closed

[2018-06-22 05:29] pascalgrimaud commented on #7828
How did you upgrade ? Manually or with the upgrade sub generator ?

In v5, we did some reactoring for some files in Angular part. That would explain the errors.

[2018-06-22 05:36] pascalgrimaud commented on #7807
Closing this, as it's more a question, than an issue, and it has been answered by Julien.

[2018-06-22 05:36] #7807 closed

[2018-06-22 05:54] vishal423 commented on #7827
@pascalgrimaud, can you confirm the expectation as it used to work before

[2018-06-22 06:04] pascalgrimaud commented on #7827
Sorry I wasn't clear enough.

We should not revert the commit https://github.com/jhipster/generator-jhipster/commit/f3d100c6d624ac58157a6c72ee4c949da563e574 but do the same for the front part you mentionned when serviceDiscovery is set to false.

[2018-06-22 06:20] pascalgrimaud commented on #7786
@manisi : I don't understand well the issue. The language is correctly selected for me, in the menu. Can you be more precise plz ?

![capture d ecran de 2018-06-22 08-18-02](https://user-images.githubusercontent.com/9156882/41760691-f3a5caba-75f4-11e8-8714-cf16b2b102f3.png)

[2018-06-22 06:31] vishal423 commented on #7786
@pascalgrimaud , it's an issue with react codebase.

[2018-06-22 07:03] JulioJu commented on #7775
@pascalgrimaud

Thanks a lot for your help of yesterday :-). I've tested deeply, and all work fine for my pull #7484.

So I will make a PR to remove the advise of use `npm link "generator-jhipster"` or `yarn link "generator-jhipster` in CONTRIBUTE.md. Are you ok ?

For #7484 I'm going to continue to use `yarn`, because `yarn link` is increadibly faster than `npm link`. On my Intel Celeron I cry wh

[2018-06-22 07:09] JulioJu commented on #7479
Change the title. See explanations at https://github.com/jhipster/generator-jhipster/pull/7484#issuecomment-399343670.

[2018-06-22 07:13] DjayDev opened #7830 "A fresh new Gateway in v5 with react failed to build the front-end"
##### **Overview of the issue**
Hello,

I know it's definetley not the place here to say thanks for the conf so I won't say it, but thanks.

I have upgraded my generator to the v5 and I've generated a new Gateway with React (at the bottom are the inof of the project).

When it tries to compile when at the end of the generation, it gives the error below:

[code]

And so as it is pointed out by the

[2018-06-22 07:14] agaspardcilia commented on #7786
Indeed, and it also seems to be yet another issue with header needles. I'll take a look at it.

[2018-06-22 07:17] DjayDev commented on #7830
Forget it, I just saw the PR #7826 it fixes this issue.

[2018-06-22 07:17] #7830 closed

[2018-06-22 07:34] manisi commented on #7786
<img width="1404" alt="screen shot 2018-06-22 at 11 55 51" src="https://user-images.githubusercontent.com/3120328/41763584-d539696e-7613-11e8-9f83-c6a841953d69.png">
@pascalgrimaud
Hi,
when change to farsi language the admin menu is still english lang menu item.
Thanks.

[2018-06-22 07:37] pascalgrimaud commented on #7786
yes, it is for React not Angular.
Thanks guys

[2018-06-22 07:56] pascalgrimaud commented on #7775
@JulioJu

You're welcome :)

About removing `yarn link generator-jhipster` or `npm link generator-jhipster`, give me some time to think about it. Currentlyt, it is needed just after the generation, not before. And it should be fixed as soon as another version of Yarn is released.
But I saw yesterday, you use Yarn 1.9.x -> does it work well with yarn link generator-jhipster ?

[2018-06-22 07:56] agaspardcilia commented on #7786
After taking a closer look, header's translations in React seem to not be working at all. I'll try to fix that today.

[2018-06-22 07:57] pmverma commented on #7828
@pascalgrimaud With upgrade sub-generator, upgrade is working fine but seems not working with manual.
As I have some customization I would like to upgrade manually.

[2018-06-22 08:22] jbcu10 opened #7831 "Excluded micrometer-core on generated build.gradle in jhipster --skip-client."
##### **Overview of the issue**
Problem in startup caused by  excluded  module micrometer-core

##### **Suggest a Fix**
remove
`   {
        exclude module: 'micrometer-core'
    }
`
in
`compile ("org.springframework.boot:spring-boot-starter-actuator") {
        exclude module: 'c'
  }`

##### **JHipster Version(s)**
jhipster 5.0.0

[2018-06-22 08:43] jdubois commented on #5607
@jplongo did you generate your `.yo-rc.json` with the command line or with JHipster Online (I have some doubts about JHipster Online to be honnest!)

-> if that still fails could you please open a new ticket for this?

[2018-06-22 08:48] jdubois commented on #7831
Can you tell us which problem is caused? Could you please follow the guidelines, so we can understand and reproduce?

Micrometer is excluded on purpose, otherwise it's going to try to monitor your app - and as we don't use it, you'll suffer the performance penalty for nothing

[2018-06-22 08:49] jdubois commented on #7831
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-06-22 08:49] #7831 closed

[2018-06-22 08:52] jplongo commented on #5607
Yes, I'm using CLI on MacOs High Sierra.
Installing `JHipster 5.0.0` with `Yeoman 2.0.2`.

I did not open a ticket because working solution of this issue can be found here.
But I've previously start a projet with release `4.14.4`  and did not have issue when building with `./mvnw`.

If you think a new ticket is needed, I can create one.

Thanks

[2018-06-22 09:03] pmverma commented on #7795
@pascalgrimaud I am also in favor of default, but add a comment.
User may uncomment if necessary.

I will do a PR.

[2018-06-22 09:13] pascalgrimaud commented on #7795
Perfect, thank you !

[2018-06-22 09:17] jdubois commented on #7738
Yes let's do this - and maybe even change the "official" logo, as the majority of people at JHipster Conf yesterday seemed to like this one more.

Here's my plan:

- Create a specific repo for the logo
- Have the logo fully OSS, so people can modify it without any issue (the current logo was given away, but legally I'm not 100% sure we can modify it without the agreement of the original author)
-

[2018-06-22 09:23] dominik-myszkowski opened #7832 "JHipster application run exception"
`2018-06-21 15:32:53.124  WARN 10648 --- [  restartedMain] c.c.c.ConfigServicePropertySourceLocator : Could not locate PropertySource: I/O error on GET request for "http://localhost:8761/config/bookstore/dev/master": Connection refused: connect; nested exception is java.net.ConnectException: Connection refused: connect
2018-06-21 15:32:53.132  INFO 10648 --- [  restartedMain] com.bookstore.Booksto

[2018-06-22 09:24] jdubois commented on #7832
I'm sorry but could you please follow the guidelines so we can reproduce?

[2018-06-22 09:24] jdubois commented on #7832
We need your .yo-rc.json file

[2018-06-22 09:40] vishal423 commented on #7786
@agaspardcilia , can you check if PR #7815 fixes this on react?

[2018-06-22 09:52] dominik-myszkowski opened #7833 "JHipster application exception when run from STS IDE or mvnw command with JHipster registry"
##### **Overview of the issue**
A new application produces exception after running from STS IDE, or via mvnw command. The application was installed as monolithic with JHipster Registry switched on. Running with command yarn start works good.

##### **Motivation for or Use Case**
Can not run application from IDE.

##### **Reproduce the error**
Create new JHipster app and select option that includes

[2018-06-22 09:55] mraible commented on #7675
I tried creating apps using the following JDL this morning:

[code]

Unfortunately, it fails with the following error:

[code]

Why is `entry` a reserved word? It wasn't in v4 and having it as a reserved word will make it more difficult to create my blog example with v5.

[2018-06-22 09:56] mraible commented on #7667
Related: https://github.com/jhipster/generator-jhipster/issues/7675

[2018-06-22 09:56] jdubois commented on #7833
Thanks @dominik-myszkowski - testing right now!

[2018-06-22 10:12] agoncal commented on #7738
"Will they hurt some people for some reason?" Careful with that. There are [3.2 billion people connected to the internet](https://en.wikipedia.org/wiki/Global_Internet_usage) and it's difficult to find something that will not hurt at least one of these 3.2 billion people (except the sky is blue I suppose). So I don't mind being part of this board if we know that, no matter what we do, how careful

[2018-06-22 10:13] JulioJu commented on #7775
@pascalgrimaud

No… But as you could see at https://github.com/jhipster/generator-jhipster/issues/7775#issuecomment-398725526, `npm link "generator-jhipster"` doesn't work actually. It seems to be a problem with the `generator-jhipster`.

In this comment, I'm going to demonstrate that.

# `npm link` vs `yarn link`

#### `npm link`
`npm link "generator-jhipster"` in the foldter `"$GENERATOR_JHIPSTE

[2018-06-22 10:13] vishal423 commented on #7833
@dominik-myszkowski,
did you start eureka registry before starting application as I see connection refused in your stack trace. Also, not sure if enabling registry with monolithic a valid use case.

[2018-06-22 10:17] jdubois commented on #7833
Yes it's a weird combination of MongoDB/Eureka probably - anyway I confirm the issue.
I'll do a PR (it's easy, you need to add the missing dependency) but I need to check if this doesn't cause Micrometer to start for nothing.

[2018-06-22 10:32] dominik-myszkowski commented on #7833
I did not start Eureka manually before that. I understand this may be not a common case, I just started exploring JHipster but I thought it is good to submit anyway because of the missing dependency.

Anyway, it looks like You did a very good job with JHipster. I was looking for a complete web framework (including frontend) based on Java and JHipster looks like the only one fully free option. Othe

[2018-06-22 10:43] rvanrooy opened #7834 "React: yarn test fails to create folder if it doesn't exist"
##### **Overview of the issue**

Yarn test fails if the reportPath doesn't exist. The new reporting library, `jest-sonar-reporter` can't create intermediary folders.

[code]
##### **Motivation for or Use Case**

CI builds fail on error produced.

##### **Reproduce the error**

Create new jhipster project using v5.0.0, then
run `yarn test`

alternatively, run ``./mvnw clean && yarn test`

##### **R

[2018-06-22 11:56] jdubois commented on #7833
Oh thanks @dominik-myszkowski !
Concerning Eureka: in dev mode, if you don't start it you will get some exceptions (to tell you it's not starting), but it won't stop the app from running, so that won't be an issue. If you want to run it, just do `docker-compose -f src/main/docker/jhipster-registry.yml up -d`.

[2018-06-22 12:08] jdubois commented on #7834
Thanks - yes we know about this, didn't @PierreBesson already create an issue on this?

[2018-06-22 12:11] PierreBesson commented on #7834
No I did not create an issue before. Thanks for doing it @rvanrooy.

[2018-06-22 12:15] jdubois commented on #7834
Oh great, thanks @rvanrooy !

[2018-06-22 12:33] jdubois commented on #7834
I can't reproduce, looks like somebody already fixed it!!!

[2018-06-22 12:36] jdubois commented on #7834
I just don't understand how this was fixed or who did it, and that's very disturbing! But I can't reproduce on the master branch, so I'm closing this.

[2018-06-22 14:18] dominik-myszkowski commented on #7833
thanks, it works

[2018-06-22 16:37] pascalgrimaud commented on #7834
I follow closely the recent commits, nothing has been done for this and it seems not easy to reproduce.

@rvanrooy : can you try again and describe all steps reproduce plz !?

[2018-06-22 16:42] deepu105 commented on #7834
yes indeed I couldn't reproduce as well. May be it fails only on CI?

[2018-06-22 16:44] pascalgrimaud commented on #7834
no it's ok for Travis

[2018-06-22 17:03] pascalgrimaud commented on #7834
Ok, just reproduced it.
It's for React:
- generate a project with React Option
- launch `yarn test` immediatly

It will failed if the folder: `target/test-results/` doesn't exist

[2018-06-22 17:06] deepu105 commented on #7834
@pascalgrimaud I also did for React but couldn't reproduce. I even tried again after deleting the folder

![image](https://user-images.githubusercontent.com/1107223/41789380-613adb2e-764f-11e8-9658-d170641e70a2.png)

[2018-06-22 17:14] pascalgrimaud commented on #7834
@deepu105 :
I reproduce it locally on my project.
I just pushed it on GitHub: https://github.com/pascalgrimaud/jhreact180622
Then, I added a Travis build to try to reproduce it: https://travis-ci.org/pascalgrimaud/jhreact180622/builds/395555048

So Travis failed exactly like me

[2018-06-22 17:27] pascalgrimaud commented on #7834
It seems to be for React only. Angular works perfectly.
I don't understand what happens, so strange!

[2018-06-22 17:32] jdubois commented on #7834
Oh sorry this is stupid of me... too tired after the JHipster Conf!
This is because we had a bug in Sonar and put our test results in /target. This directory is created by Maven so if you run Yarn first it will fail.
We must create that folder with Yarn if it doesn't exist yet.

[2018-06-22 17:37] pascalgrimaud commented on #7834
With Angular, we didn't create the target folder before maven and it works

[2018-06-22 18:36] binakot opened #7836 "Build failed for JHipster UAA ver5.0.0. Quotes missing."
Just updated to JHipster 5.0.0.
Generate new JHipster UAA and type `./gradlew`.
Output:

[code]

Here 189, 190, 191 lines:

[code]

You miss `"` at end of line.

[2018-06-22 18:52] xetys commented on #7836
I will check that asap.

Ivan Muratov <notifications@github.com> schrieb am Fr., 22. Juni 2018,
20:36:

[2018-06-22 19:14] binakot commented on #7836
When I add missed quotes, the project successfully compiled and run.

[2018-06-22 19:15] pascalgrimaud commented on #7836
@binakot : do you want to contribute and PR ?

[2018-06-22 19:18] binakot opened #7837 "JHipster UAA missing port binding in docker-compose app.yml."
Generate new JHipster UAA v5.0.0 and run with docker-compose:

[code]

Registry on http://localhost:8761 is available, but UAA server is not.
I'm trying to open http://localhost:9999/oauth/token_key.

Then I check `app.yml` and didn't find port binding for UAA service:

[code]

When I added port binding for `uaa-app`, everyting works fine:

[code]