[2021-10-08 05:06] atomfrede commented on #16607
Ah sorry totally forgot about it to downgrade again to have it fixed for now.

[2021-10-08 07:33] #16607 closed, assigned to nobody

[2021-10-08 11:12] ksilz opened #16613 "Importing new entity from JDL file and more fails when ".yo-rc.json" is out of sync"
##### **Overview of the issue**

Importing an entity from a JDL file fails when the `entities` array  of `.yo-rc.json` contains an entity that has no matching file in the `.jhipster` directory:
[code]

This also breaks `jhipster info`:
[code]

##### **Motivation for or Use Case**

When working with different branches, the `.yo-rc.json` file and the `.jhipster` directory can get out of sync. If so,

[2021-10-08 16:13] mshima commented on #16591
Maybe there are cached classes compiled with java 17.
You can try cleanup.
[code]

[2021-10-08 16:27] atomfrede commented on #16591
Most likely build instead of target 😁 but yes cached classes might be the reason

[2021-10-09 11:23] yelhouti commented on #16545
@vishal423 IDP session is indeed not closed between tests in this PR.

[2021-10-09 18:56] vishal423 commented on #16545
@yelhouti , Would it be possible to share the `e2e` test time numbers before and after this change? If the gain is significant, then I will plan this change for the `svelte` blueprint.

[2021-10-09 19:19] yelhouti commented on #16545
27 sec per test file from 40 sec per test file (for keycloak, since redirect...)

[2021-10-09 21:47] salimAbdulIt opened #16620 "Jhipster upgrade fails"
##### **Overview of the issue**

I installed 7.1.0 and created a project from that version. Now I want to upgrade it to the last version and I get the error when I tried to do the upgrade.

`Error: This seems to be an app blueprinted project with jhipster 6.6.0 bug (https://github.com/jhipster/generator-jhipster/issues/11045), you should pass --blueprints to jhipster upgrade commmand.
    at modul

[2021-10-10 05:51] joaobosconff opened #16621 "entity sub-generator error"
##### **Overview of the issue**

i upgraded to v7.3.0, when i use the "entity" command to generate any entity and runs, i get a error :

Parameter 0 of constructor in my.app.service.ItemService required a bean of type 'my.app.repository.ItemRepository' that could not be found.

using v.7.2.0 works fine

##### **Reproduce the error**

use the entity sub-generator

[2021-10-10 16:05] mshima commented on #16527
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/52432.

[2021-10-10 16:29] pascalgrimaud commented on #16527
@mshima : approved

[2021-10-10 17:04] #15403 closed

[2021-10-11 12:01] bhushanon opened #16642 "Automatically Create Audit Columns for Each Entity"
##### **Overview of the feature request**
Create Audit Fields as explained below
- Created By
- Create DateTime
- Updated By
- Upldated DateTime
- Deleted By
- Deleted DateTime
- Deleted Flag

Data auditing is a required internal control for many business systems (see Sarbanes Oxley for reasons why). It must be at the database level to assure that all changes are captured especially unauthorized o

[2021-10-11 14:42] #16642 closed

[2021-10-12 04:22] atomfrede commented on #16178
Keep it open

[2021-10-12 07:41] mraible commented on #14864
@vishal423 I tried the integration today using JHipster 7.3.0. I used a JHipster tutorial I wrote a couple of weeks ago. It shows the user is logged in, but the navbar doesn't reflect it when using React.

<img width="1712" alt="Screen Shot 2021-10-12 at 1 36 28 AM" src="https://user-images.githubusercontent.com/17892/136913099-278f23ae-5083-4466-94e1-b1d2c097be4a.png">

My blog post's PR is at ht

[2021-10-12 07:45] mraible commented on #14864
Nevermind. This happened because the user I tried to log in with wasn't activated. After manually activating it, things worked. I'll make a note about this in my post.

[2021-10-12 20:44] Cashmeiser commented on #10702
I had the issue after upgrade to jhipster 7.3.0. Always worked before. Upgraded today and now failing on `./gradlew -x webapp` with error:

 `ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'userService' defined in file [C:\Use

[2021-10-13 16:05] rjbgaspar opened #16667 "Liquibase could not start correctly, Reason: liquibase.exception.DatabaseException: Syntax error in SQL statement"
##### **Overview of the issue**

Create JHipster project from a JDL file.
Run `.\mvnw` command and all liquibase migrations fail
[code]

##### **Motivation for or Use Case**

This issue is related with JHipster version 7.2.0 and 7.3.0 since the same jdl works fine is 7.1.0

##### **Reproduce the error**

Run jhipster jdl entites.jdl with database type SQL and dev database type set to h2Disk

#####

[2021-10-14 00:08] mraible commented on #12558
Keep it open! Are there any volunteers that can look into this for $500? If not, I can look into it as I've done a migration in the past.

[2021-10-14 01:22] rs4231199 commented on #12558
@mraible

 I will do it.

[2021-10-14 06:36] ascelineboullen commented on #13595
Thank you @mraible , we will take a look with @ntorionbearstudio  ! :)

[2021-10-14 17:36] ivangsa opened #16685 "OpenAPI subgenerator mapping JHipster entities to openapi schemas/resources"
##### **Overview of the feature request**

With JHipster is easy to generate CRUD microservices for a given domain model described as JDL (DDD)

With OpenAPI/Swagger we can describe an API.

If we add some extension tags to OpenAPI definitions mapping schemas to entities then a subgenerator could generate api controller implementation that links repository/services/entities with openapi resources.

[2021-10-14 18:23] justingloeckl commented on #16620
I had the same problem while updating from 7.1.0 to 7.2.0. I did a manual upgrade.
Same problem when i now try to update from 7.2.0 to 7.3.0.

I dug into the generator code and found that the problem has something to do with the entities that jhipster has found and the ones that are definied. There is a check that failes because the object that is put into the split function is undefined.

[2021-10-15 15:05] walshe commented on #9032
@gmarziou actually http://localhost:8080/swagger-ui/index.html works (.antMatchers("/swagger-ui/index.html").permitAll())

but now, how to configure swagger ui to enable me Authorize with the bearer token that I get back from `/api/authenticate`

[2021-10-15 16:02] vw98075 opened #16704 "Administration Data Missing With OAuth Client Implementation"
##### **Overview of the issue**

With OAuth client implementation, there is no data on the metrics, health, configuration, and logs pages while the Swagger page shows APIs as expected. Also, those management GET APIs yield blank responses.

##### **Motivation for or Use Case**

It is a bug due to missing data.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

Show

[2021-10-15 20:13] gmarziou commented on #12558
Using PrimeVue would make sense if JHipster Angular would use PrimeNG which I would love but I doubt it will happen.

[2021-10-15 21:32] utelemaco opened #16706 "NPM install not working (WARN tar TAR_ENTRY_ERROR EIO) when creating an app inside a docker container"
##### **Overview of the issue**

The problem occurs when I create an app inside a docker container.

##### **Motivation for or Use Case**

Since I use different JHipster versions in different projects, I just use JHipster in a docker container (created from official JHipster images).
I'm using this approach (JHipster in a docker container) for more than 2 years but recently I got a problem with th

[2021-10-15 21:51] Tcharl commented on #15490
Hi @mraible ,

Not extending  the parent pom was a suggestion coming from @jdubois : usually, companies have their own company poms (for example to manage distributionManagement), that's why we moved back to standalone mode.

Regarding jhipster-framework and code, we could also provide our spring-boot-starter project suite.

[2021-10-16 19:10] Cashmeiser commented on #10702
Update, solved this by the solution mentioned earlier in comments:

- edit your application-dev.yml to use the same Elasticsearch config in application-prod.yml
- start your own Elasticsearch or use the provided docker-compose file
- start your app in dev

[2021-10-16 20:17] sdebnath opened #16710 "Generated integration tests reporting error 400 instead of OK (201) on 7.3.0"
##### **Overview of the issue**

Running into server side integration test failure on clean JHipster 7.3.0 project. The entities have OneToOne as well as ManyToMany relationships. Here are the errors from running `./mvnw clean verify`

[code]

##### **Motivation for or Use Case**

Building a app that requires service class to handle complex relationships amongst entities.

##### **Reproduce the er

[2021-10-17 02:47] sdebnath commented on #16710
So basically all the entities where services were defined are running into issue with object creation:

[code]

[code]

These entities have `id` defined as

[code]
Here's the JDL file that I used to create the entities (this was translated and is mostly the same but doesn't have the autogenerated information in the `jhipster info` output above:

  <details>
  <summary>entity.jdl</summary>
  <pre>

[2021-10-17 03:32] sdebnath commented on #16710
Okay guessing this is very likely is due to:

https://github.com/mraible/21-points/pull/58

[2021-10-18 13:43] VenkateshJhipster opened #16735 "Unable to upgrade node js version from v6.9.4 to v12.0.0 in Jhipster generated project."
##### **Overview of the issue**
a. Our web application is generated from Jhipster version 3.9.1 (in 2016). On top of the source code generated from the model file, we have enhanced the application according to the business needs. After that, we didn't do any upgrades related to jhipster/grade/node.

b. Currently in our project, we are moving out from a manual build to bitbucket pipeline automated

[2021-10-18 18:14] #16735 closed, assigned to nobody

[2021-10-18 18:37] pascalgrimaud commented on #16621
yes it's with skip user management

My workflow was:
- generate microservice
- the database config is generate with empty package for annotation
- add entity with cli
- the project can't start because of missing package scan

[2021-10-19 08:49] jdubois commented on #16178
That should good with NubesGen v0.6.0 https://github.com/microsoft/NubesGen/releases/tag/v0.6.0

- This supports both Azure App Service and Azure Spring Cloud like we do today with the sub-generator
- This adds support to many more services, better security (Azure Key Vault), better configuration
- It adds full GitOps support for "git push" automatic deployment to Azure
- It works with Terraform,

[2021-10-19 17:18] mraible opened #16744 "Add support for Node 16"
##### **Overview of the feature request**

Node.js 16 gets promoted to long-term support (LTS) next week!

https://twitter.com/reverentgeek/status/1450501408759947267

##### **Motivation for or Use Case**

We support the latest LTS for Node.js, so there might be some work to do here. I'll add a bug bounty, but we can increase it if necessary.

##### **Related issues or PR**

- [x] Checking this bo

[2021-10-20 16:09] cordial opened #16755 "Documentation for which fields and methods needs passing when nested fields are used for ValidatedFields"
##### **Overview of the feature request**

Inside the new react-hook-form ValidatedField component (react jhipster), there is a line that says -
" For complex use cases or for nested children, use Reactstrap form elements
 * or ValidatedField or ValidatedInput and pass methods and values from react-hook-form's `useForm` hook"

 However, there is no mention of which methods/values to pass and I am

[2021-10-21 01:21] mraible commented on #13390
I'm still interested in this. Would a bug bounty help make it happen?

On Wed, Oct 20, 2021 at 18:07 github-actions[bot] ***@***.***>
wrote:

[2021-10-21 19:41] mrts commented on #12558
@gmarziou, considering that the big three are covered (PrimeNG, PrimeReact, PrimeVue), PrimeFaces looks really attractive for JHipster. What are the downsides of using it?

[2021-10-21 20:09] mraible commented on #12558
I think the downside is the maintainers know Bootstrap better. It might be
a good idea to create a blueprint or module for this.

On Thu, Oct 21, 2021 at 13:41 Mart Sõmermaa ***@***.***>
wrote:

[2021-10-21 23:11] mraible opened #16772 "Upgrade to Spring Boot 2.6.0"
##### **Overview of the feature request**

Since Spring Boot 2.6.0 is a major release, I figured we might want to get a head start on upgrading to it. [v2.6.0-RC1](https://github.com/spring-projects/spring-boot/releases/tag/v2.6.0-RC1) was released today.

##### **Motivation for or Use Case**

It's good for JHipster to keep up with the major releases of libraries it depends on.

##### **Related is

[2021-10-22 14:43] duff92 opened #16785 "Remove dependency of Reactstrap"
##### **Overview of the feature request**

Currently, JHipster has a very strong connection to Bootstrap CSS framework and using Reactstrap when generating the project with React as frontend framework. Therefore, [react-jhipster](https://github.com/jhipster/react-jhipster) has a peerDependency to use Reactstrap since it's supporting a few utility functions using Reactstrap.

The suggestion would b

[2021-10-22 20:11] vicpermir opened #16788 "npm WARN "Unsupported engine""
##### **Overview of the issue**
Even with a clean/empty project I get these npm warnings  `unsupported engine`, caused by the npm version being too high for the current `@angular-devkit` libraries (I think).

##### **Motivation for or Use Case**
`BADENGINE` warnings are a bit scary.

##### **Reproduce the error**

`npm i -g generator-jhipster`

`jhipster`

<details>
<summary>Project configuration<

[2021-10-23 00:14] jsm174 opened #16789 "oidc oauth2 always redirects to "https://jhipster.org/login/oauth/authorize" using Eclipse"
##### **Overview of the issue**

When using oauth2 and running under Eclipse 2021-09 (on MacOS), the following url:

`http://localhost:8080/oauth2/authorization/oidc`

will always redirect to `https://jhipster.org/login/oauth/authorize` using Eclipse 2021-09

If running with `./gradlew`, there are no issues.

##### **Motivation for or Use Case**

Like to debug using eclipse

##### **Reproduce the

[2021-10-23 00:24] Coenni opened #16790 "When for dev h2 and for prod psql selected, h2 dependency in maven file is in test scope, so available drivers available drivers: [ postgresql, pool ] and connection error thrown when trying to start project with dev profile."
When for dev h2 and for prod psql selected, h2 dependency in maven file is in test scope, so available drivers available drivers: [ postgresql, pool ] and connection error thrown when trying to start project with dev profile.

So as quick solution, it is needed to comment <scope>test</scope> for the dependencies like below:
[code]

[2021-10-23 00:25] Coenni commented on #16790
![image](https://user-images.githubusercontent.com/2304879/138535237-06acf87f-d8fe-409c-910a-c446fbf7d354.png)

[2021-10-24 09:38] mohamedzaki90 opened #16795 "React - ValidatedForm values are empty if ValidatedField is not a direct child"
##### **Overview of the issue**

Try adding the form fields in a nested element `div` or `Col` and then submit the form, the value associated with that field is not submitted or empty

[code]

##### **Motivation for or Use Case**

This is important for styling the generated forms and also nesting components

##### **Reproduce the error**

Generate a monolith application with react client, add any

[2021-10-25 14:58] #16789 closed, assigned to nobody

[2021-10-25 15:08] pascalgrimaud opened #16810 "Front: npm install too long with Vue applications"
##### **Overview of the issue**

When generating Vue application, the npm install took too much time: 3min
Comparing to Angular which took 1min.
I didn't test with React

It would be cool to improve it

##### **Motivation for or Use Case**

Detected by @jdubois and I confirm this issue

##### **Reproduce the error**

- generate a Vue application
- see how long npm install can take...

##### **Rela

[2021-10-26 19:55] #16788 closed, assigned to nobody

[2021-10-29 11:48] #16810 closed, assigned to nobody

[2021-10-29 14:28] somejavadev opened #16879 "Specifying forward-headers-strategy: framework results in Invalid contextPath"
##### **Overview of the issue**

Hi, I am trying to run the jHipster gateway (7.3.1) behind a reverse proxy using nginx. The reverse proxy adds a context path /myApp.

To allow running the swagger interface behind a reverse proxy it is required to add the following to the application.yml

[code]
This is document here: https://springdoc.org/index.html#how-can-i-deploy-springdoc-openapi-ui-behind-a-

[2021-10-29 20:56] mheidt commented on #14840
yes, the stackoverflow solution is the same @vitoraasouza suggested.

[2021-10-29 21:49] nomuna commented on #14949
As I have pointed out in my last message the project has moved on some classes were deleted and refactored so that the screenshot used as an info for the issue is no longer relevant. The devs refuse to accept it apparently... :D

[2021-10-30 00:12] mshima commented on #16275
I will take a shot after vue is done.

[2021-10-30 07:28] justingloeckl commented on #16790
Seen this error on many stackoverflow questions.

[2021-10-30 07:48] pascalgrimaud commented on #16790
Very strange, as it's a code we didn't change since years: https://github.com/jhipster/generator-jhipster/blame/main/generators/server/templates/pom.xml.ejs#L249-L260

Need some investigation

[2021-10-30 09:24] Coenni commented on #16790
My God feeling says, it is because of my local mvn repo was totally new, and I tried to run the application without running tests so H2 lib scope was test, and it was not downloaded to local repo yet. But as I chose local env dB as H2, scope should not test but default.

[2021-10-30 15:22] qmonmert commented on #16116
Fix with this new release https://github.com/reduxjs/redux-toolkit/releases/tag/v1.6.2

[2021-10-30 15:41] egvimo commented on #15401
Keep it open please.

[2021-10-30 16:10] mohamedzaki90 commented on #16795
It's not possible to open an issue in the react-jhipster repo, possibly I don't have permissions?

[2021-10-30 16:11] qmonmert commented on #16795
strange cc @pascalgrimaud

[2021-10-30 16:56] mshima commented on #16795
Issues is not enable there. Should be posted here.

[2021-10-31 00:18] mraible commented on #16498
I hope to work on this in a couple of weeks.

On Sat, Oct 30, 2021 at 18:07 github-actions[bot] ***@***.***>
wrote:

[2021-10-31 04:12] RobertBurrellDonkin commented on #14840
Anyway fancy taking this one on...? If so, please jump in :-)

If not, then I might have a little look today...

[2021-10-31 09:30] anothergoodguy opened #16884 "Infinispan CacheConfiguration fails on the second instance when using Jhipster-Registry"
[jhipster-info.txt](https://github.com/jhipster/generator-jhipster/files/7448396/jhipster-info.txt)
[error.log](https://github.com/jhipster/generator-jhipster/files/7448395/error.log)
##### **Overview of the issue**
Hi Team,
I am new to using JHipster, I have generated the store application using the configuration attached in [jhipster-info.txt](https://github.com/jhipster/generator-jhipster/files

[2021-10-31 09:32] anothergoodguy commented on #16884
Dear Team,

Just to reiterate, as i have mentioned, the first app instance works fine, but the issue is on the second instance onwards....

[2021-10-31 12:41] MustafaAkgure opened #16885 "pull access denied for, repository does not exist or may require 'docker login': denied: requested access to the resource is denied"
What can be the reason for it ?

I run this command => gradlew bootJar -Pprod jibDockerBuild

Then, this one. docker-compose -f src/main/docker/app.yml up -d

pull access denied issue come out.

How can solve this issue?

[2021-10-31 20:42] RobertBurrellDonkin commented on #14840
Thanks @mheidt :-)

Took a little bit of playing around to replicate the original with the latest (below) but yes, death loop still happens

`
public AreaDTO save(AreaDTO areaDTO) {
        log.debug("Request to save Area : {}", areaDTO);
        Area area = areaMapper.toEntity(areaDTO);
        area = areaRepository.save(area);
        AreaDTO result = areaMapper.toDto(area);
        areaSearchRe

[2021-11-01 11:24] amanganiello90 opened #16892 "OneToOne relationship DTO generation with String instead of id"
Hi all. I have a question.
When I generate an entity with oneToOne relationship using DTO, I note that the DTO does not contain the string key but the id of the entity.

Example:

[code]

The JPA entity maps correctly the name field, but the TariffDTO contains only the **Long nameId** (instead of String name).

Could I set an option to have that behaviour?

Thanks in advance.
- [x] Checking this b

[2021-11-01 16:51] #16785 closed

[2021-11-01 17:12] pascalgrimaud commented on #16884
cc @ecostanzi : maybe you can have a look plz?

[2021-11-02 07:23] CodingSpiderFox commented on #16521
ping

[2021-11-02 07:23] CodingSpiderFox commented on #16520
ping

[2021-11-02 17:27] vw98075 commented on #15744
Currently, I have some free time on hand to look into this issue. I do some coding tracing on the language setting in the front end Vue. Here is what I understand about the language setting:

1) initially, it retrieves the language settings (native/default language,  available languages) based on the configuration/app language preference (in the jhipsterConfig). And sets the displaying language wi

[2021-11-02 17:39] vw98075 commented on #16361
I just have some free time to look into this issue. I am wondering whether a filter can be used to check a time-out status or not. Can someone from the JHipster team provide some associate in this regard?

[2021-11-02 20:05] xniti3x commented on #9255
you can reproduce the issue if you generate a (standard) jhipster project in gitpod.io  i get the exact same problem , cant login with default credentials admin/admin or user/user

terminal:
2021-11-02 19:30:58.806  WARN 2212 --- [  XNIO-1 task-1] o.z.problem.spring.common.AdviceTraits   : Unauthorized: Full authentication is required to access this resource
2021-11-02 19:30:58.808  WARN 2212 ---

[2021-11-03 12:56] indiepopart opened #16901 "Error: Cannot find module 'workbox-build/build/options/schema/webpack-generate-sw'"
##### **Overview of the issue**

I get an error when building the gateway generated by JHipster with Maven:

[code]

/home/indiepopart/.npm/_logs/2021-11-03T12_18_19_043Z-debug.log

[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**

JDL provided below

[code]

##### **Related issues**

[Similar issue in StackOverflow](https://stackoverflow.com/questions/68738746/i-get-an-

[2021-11-03 14:18] crowne commented on #16570
I've made a Draft PR for this , although this is my first PR so I'd appreciate some help with the process.
https://github.com/jhipster/generator-jhipster/pull/16902

This fix below resolves the issue for me on windows

[code]

[2021-11-03 17:15] vw98075 commented on #15744
I change the following line in the refreshTranslation method of TranslationService.ts file
[code]
to
[code]
With the change, the browser language setting is considered in the app language selection.

[2021-11-04 04:25] atomfrede commented on #13755
Keep it open

[2021-11-04 12:10] abocoum opened #16917 "Error on npm run java:jar:prod in Windows OS"
##### **Overview of the issue**

In windows Os, when i run command npm "npm run java:jar:prod" it does work because in the file package.json java:jar:prod execute mvnw bash for linux env.

##### **Motivation for or Use Case**

I thing it's important to keep working jhipster app generated to most usually OS.

##### **Reproduce the error**

Generate project in windows PC. try in cmd to run  "npm run

[2021-11-04 13:42] RobertBurrellDonkin opened #16918 "Error [ERR_MULTIPLE_CALLBACK]: Callback called multiple times"
##### On MacOS X (7.3.1 and head) and Amazon Linux (head) no seeing Error [ERR_MULTIPLE_CALLBACK]: Callback called multiple times

    Error [ERR_MULTIPLE_CALLBACK]: Callback called multiple times
      at NodeError (node:internal/errors:371:5)
      at onFinish (node:internal/streams/writable:668:37)
      at processTicksAndRejections (node:internal/process/task_queues:82:21)
      at runNextTick

[2021-11-04 13:44] mraible commented on #16918
What version of Node.js are you using? We only support v14 right now.

On Thu, Nov 4, 2021 at 07:42 Robert Burrell Donkin ***@***.***>
wrote:

[2021-11-04 14:10] RobertBurrellDonkin commented on #16918
% node --version
v16.13.0

[2021-11-04 14:11] RobertBurrellDonkin commented on #16918
Give me a sec to check AWS...

[2021-11-04 14:13] RobertBurrellDonkin commented on #16918
$ node --version
v17.0.1

[2021-11-04 14:13] RobertBurrellDonkin commented on #16918
Let me try switching AWS to v14

[2021-11-04 14:37] #16918 closed

[2021-11-04 14:40] RobertBurrellDonkin commented on #16744
Running ```nvm test``` on  AmazonLinux2 without ```nvm use 14``` fails with ```Error [ERR_MULTIPLE_CALLBACK]: Callback called multiple times```

See #16918

Might also have been seen in the wild  https://stackoverflow.com/questions/69835351/jhipster-version-7-3-1-latest-having-error-in-node-during-the-code-generation

[2021-11-04 14:43] RobertBurrellDonkin commented on #16918
Hey @mraible

On MacOSX I get now:

[code]

So I updated to the latest and greatest node. Which led ```npm test``` to fail.

Is it worthwhile dropping the ```>=16.0.0``` until #16744 is merged in ...?

[2021-11-04 15:58] mraible commented on #16918
Yes, I think so.

[2021-11-04 17:51] indiepopart opened #16920 "The Compose file './docker-compose.yml' is invalid"
##### **Overview of the issue**

Generated docker-compose.yml does not have a version.
[code]

##### **Motivation for or Use Case**

Compose file documentation says:
[code]

##### **Reproduce the error**

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

[code]
[code]
[code]

##### **JHipster configuration**

  <details>
  <summary>JDL definitions</summary>

[2021-11-04 19:39] mraible commented on #16920
I'm not able to reproduce this. It works for me!

OK, it doesn't _really_ work, but I don't get the same error either:

[code]

What version of Docker are you using? My versions:

[code]

[2021-11-05 14:37] mshima commented on #16744
I took a look why tests are failing at node 16.
It's related to a transform stream behavior change.
It was quite hard to find and I could not create a way to reproduce the behavior.

[2021-11-05 17:24] RobertBurrellDonkin commented on #16744
Thanks for jumping in @mshima :-)

There's a possibility that I might be able to come up with a reproduction recipe but I'll need to play around on AWS to be sure...

[2021-11-05 17:37] RobertBurrellDonkin commented on #16744
On MacOSX

```jhipster jdl sample.jdl```

with

[code]

generates after ```nvm use 14``` but fails on ```node 16``` with

[code]

[2021-11-05 18:13] mraible commented on #16744
Increasing bug bounty because upgrade is not trivial.

[2021-11-06 00:00] helloaneeskhan commented on #9723
@gzsombor  Thank you, problem solved :)

[2021-11-06 06:44] pascalgrimaud commented on #16795
Yes it's not strange, it's normal @qmonmert
It's for centralizing all issues, so it's to have more visibility

[2021-11-06 07:53] joro88 commented on #16477
Any info?

[2021-11-06 07:58] joro88 commented on #16477
Issue is not solved. Reopen it, please.

[2021-11-06 08:21] pascalgrimaud commented on #16477
@joro88 : I'm reopening it, but what do you expect from this ticket ? What do you suggest to solve it ? Do you want to contribute to propose something ?

[2021-11-06 13:10] vicpermir commented on #16892
Try this:
[code]
In my opinion, for this kind of questions, you should use [stackoverflow](https://stackoverflow.com/questions/tagged/jhipster).

[2021-11-07 00:13] gmarziou commented on #16269
Keep it open

[2021-11-07 07:39] pmverma commented on #16319
Keep it open

[2021-11-07 16:57] ascelineboullen commented on #13595
Hello ! For your information, I've worked on, this week end. I will update the Figma link this week, when it will be good and ready to take your feedbacks ! :)

[2021-11-07 17:05] pascalgrimaud commented on #13595
Thanks @ascelineboullen !
Can't wait :-)

[2021-11-08 04:21] joro88 commented on #16477
What is status of that feature?

[2021-11-08 05:06] pascalgrimaud commented on #16477
@joro88 : nothing has been done, unless you want to take the lead on this and propose something ?

[2021-11-08 09:44] kristo-aun-cko commented on #16795
The react-jhipster/validated-form.tsx says "The validated fields/inputs must be direct children of the form."

The children object needs recursive traversal like so:

`/* eslint-disable @typescript-eslint/no-unsafe-member-access */
/* eslint-disable @typescript-eslint/no-unsafe-assignment */
import * as React from 'react';
import { ReactElement, useEffect, useState } from 'react';
import {
  Defau

[2021-11-08 10:40] Semo opened #16942 "Offer "websocket" option, when selecting Spring Webflux"
##### **Overview of the feature request**

Please implement a "WebSockets using Spring Websocket" option, when a project with "reactive" Spring Webflux and  Angular frontend was selected.

##### **Motivation for or Use Case**

I am to create a responsive website with a green meadow _Spring Webflux_ backend and have to continuously update the _Angular_ frontend with consumed information from a Kafk

[2021-11-08 15:19] jdubois commented on #13595
That's awesome @ascelineboullen ! I'm also eager to see this!

[2021-11-08 20:52] mraible opened #16943 "Sonar Analysis of JHipster + Auth0 example shows two bugs"
##### **Overview of the issue**

I ran Sonar on my [JHipster + Auth0 example](https://github.com/oktadev/auth0-full-stack-java-example) today and discovered that Sonar reports two bugs.

Screenshots:

<img width="1299" alt="Screen Shot 2021-11-08 at 1 45 30 PM" src="https://user-images.githubusercontent.com/17892/140816166-b8e1a68a-989a-47de-a43b-f7ead301f42f.png">
<img width="1311" alt="Screen Sh

[2021-11-08 21:38] indiepopart commented on #16920
I was using Docker version 19.
I updated to the following versions and the error does not happen:

[code]

[2021-11-08 21:41] DanielFran commented on #16920
Thanks, @indiepopart, for the feedback.
I suppose the issue can be closed?

[2021-11-09 04:59] tanjie123 opened #16945 "Jhipster integration Angular Universal for prerender"
##### **Overview of the feature request**

Compared with SSR, SPA application is not conducive to search engine crawlers. In order to improve the chances of the website being retrieved by search engines, we can implement pre-rendering features based on prerender.io .

##### **Motivation for or Use Case**

Most web applications hope to be retrieved by web crawlers。

##### **Related issues or PR**

[2021-11-09 10:34] #16943 closed

[2021-11-09 11:44] qmonmert commented on #16943
@pascalgrimaud or @mraible can you confirm me that this is ok with sonar ? :)

[2021-11-09 13:35] deepu105 commented on #16795
This is not supported and that's why the comment is there. What we provide is just convenient wrappers. If you want to nest children and stuff, I suggest you use the library directly. Supporting this in Jhipster directly is too much work and not worth the effort as you can easily do it using the library

[2021-11-09 13:35] #16795 closed

[2021-11-09 13:50] mraible opened #16960 "Upgrade to Angular 13"
##### **Overview of the feature request**

Upgrade to Angular 13 so we can take advantage of faster build times.

##### **Motivation for or Use Case**

It's good for JHipster to keep up with the major releases of libraries it depends on.

##### **Tasks**

- [x] Upgrade `ng-bootstrap` to stable
- [x] Upgrade `@angular-builders/*` to stable
- [x] Upgrade `@angular-eslint/*` to stable
- [ ] Upgrade t

[2021-11-09 13:54] mshima commented on #16960
I was about to open the issue.

[2021-11-09 13:57] mshima commented on #16960
I will start a branch, but it should be at least a couple of weeks away.

[2021-11-09 14:32] mshima commented on #16960
@qmonmert you should merge rxjs migration https://github.com/jhipster/generator-jhipster/pull/16887 to https://github.com/jhipster/generator-jhipster/pull/16961.
And if you want to start the migration, feel free to do it.

[2021-11-09 17:41] indiepopart commented on #16920
It seems Docker Compose V1 is being deprecated soon. So I assume it can be closed.

[2021-11-09 18:29] #16920 closed

[2021-11-09 19:31] qmonmert commented on #16943
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/55137

[2021-11-09 20:06] pascalgrimaud commented on #16943
@qmonmert : approved :-)

[2021-11-09 20:21] qmonmert commented on #16943
@pascalgrimaud merci

[2021-11-09 21:47] mshima commented on #16520
Required yeoman-environment is released.
PR is based on https://github.com/jhipster/generator-jhipster/pull/16930.
Waiting to be merged.

[2021-11-10 15:39] deepu105 opened #16973 "Import JDL fails"
##### **Overview of the issue**

When running import-jdl with a JDL containing more than 1 application, there are errors and the process doesn't generate everything, either apps or deployment is missing. The below is the error in the log

[code]

##### **Motivation for or Use Case**

import-jdl should work

##### **Reproduce the error**

run `jhipster jdl` for the JDL file here https://gist.github

[2021-11-10 17:53] mshima commented on #16973
Should be fixed by https://github.com/jhipster/generator-jhipster/pull/16930.
Related to https://github.com/jhipster/generator-jhipster/issues/16744.

[2021-11-10 18:21] deepu105 commented on #16973
Yup seems like I was stuck at a previous node version. works with 16.13.0

[2021-11-10 18:21] #16973 closed

[2021-11-10 20:09] mraible opened #16982 "Unhandled exception causes error in tests and ui. Drop unhandled exception from cypress and fix jest tests in node 16."
##### **Overview of the issue**

I created a photo album example as part of [this blog post](https://auth0.com/blog/full-stack-java-with-react-spring-boot-and-jhipster/). Today, I noticed that if you add an album, then add a photo to that album, it fails. The error in the console is:

[code]

If I delete all albums and then add a photo, it works.

##### **Motivation for or Use Case**

It should be

[2021-11-10 20:11] mraible commented on #16942
[This comment](https://github.com/jhipster/generator-jhipster/issues/7608#issuecomment-512334089) from @cbornet might help explain why we don't offer it:

The recommendation seems to be to evaluate RSocket instead which I can only agree with :smiley:

[2021-11-10 20:12] mshima commented on #16982
@mraible is this related to the merged bootstrap5?

[2021-11-10 20:18] mraible commented on #16982
No, I don't think so because this app was created with v7.3.1.

[2021-11-11 09:35] deepu105 opened #16985 "Update and fix the Istio configurations"
Seems like the Istio setup is broken and outdated for the latest Istio version(1.11). Need to be updated with the latest specs and routing needs to be fixed

[2021-11-11 09:41] Tcharl commented on #16942
So should jhipster move to RSocket instead of Websocket?

[2021-11-11 09:44] Semo commented on #16942
Thanks for your response. AFAIK, if a WebSocket connection is about to establish it does a handshake with the backend and requests an UPGRADE. Is it impossible to establish a "wss://" exchange with some "handler"  and do an, i.e. JWT authenticated request?

Btw. I found that issue you mention [webflux does not work with stomp](https://github.com/spring-projects/spring-boot/issues/12932#issuecommen

[2021-11-11 09:51] Tcharl commented on #12497
Tips page created and review pending: https://github.com/jhipster/jhipster.github.io/pull/1171

[2021-11-11 10:43] joro88 commented on #16477
@pascalgrimaud I thought bugreports are written when software does not meet specification.

If that's not the case for jhipster, you could close the issue for third time without doing anything.

We see jhipster project does not meet specs. Missing milestone with ~1 year is not an issue for project lead.

And when we ask, we get question back: "you want to take the lead on this"?

[2021-11-11 11:29] deepu105 commented on #14479
@sendilkumarn I'm still running into this, the routing doesn't seem to work? were you able to create entities in other microservices when you tested them? I have tested with multiple versions of Istio from 1.8 to 1.11 and the routing to microservices doesn't work

[2021-11-11 11:31] atomfrede commented on #16477
JHipster is fully open source. We do it all in our free time. We never promised to deliver something. We usually change or postpone features too later releases. While I agree side by side would be cool too have it's mostly about how you organize custom code so for the first try a documented approach is a good starting point as proposed in the mentioned pull request.

[2021-11-11 12:48] deepu105 commented on #16985
It seems like I'm stuck again with the same problem I reported many months ago in https://github.com/jhipster/generator-jhipster/issues/14479 The problem seems to be a combination of Spring cloud gateway and Istio which both does the same thing. I'm gonna try and disable Spring Cloud gateway and see if that works

[2021-11-11 14:56] deepu105 commented on #16985
@jhipster/developers did anyone try this combo?

[2021-11-11 15:14] mraible commented on #16985
I haven't used Istio in any of my examples recently.

[2021-11-11 15:28] deepu105 commented on #16985
Ya I have been trying different things to see what goes wrong, It works if I switch to Zull instead of Spring Cloud Gateway. There is n't much on the web on this combination and I'm honestly stuck as I'm not familiar with Spring Cloud

[2021-11-11 15:38] pascalgrimaud commented on #16985
We have 0 feedback from our final users, so I'm not sure it's an option which is used in real production
Is it important to keep and maintain this option?

[2021-11-11 15:40] deepu105 commented on #16985
Ya probably we should remove Istio support as it seems I'm the only one using it

[2021-11-11 15:51] deepu105 commented on #16985
I can also just extract it into a blueprint, but it would still not work with the default gateway

[2021-11-11 16:35] Tcharl commented on #16985
Hi @deepu105 ,

I plan to try an jhipster istio microservice stack in the next few monthes for personnal project, I also bought the book (not read yet) and really want to try.
The blueprint won't be a problem, but removing something that is really hard to setup would be terrible (even if it has to be pimped a little bit to work).
Once I'll have my kube up and running, I'll be able to maintain that

[2021-11-11 16:38] deepu105 commented on #16985
In a way a blueprint might be better since Spring Cloud Gateway provides similar features as Istio so for an Istio setup we don't need Sping cloud gateway and Zuul might be enough (even better IMO) so maybe we should Just move the Istio files to a blueprint and create a Zuul based gateway instead. After spending a day on this I'm honestly leaning towards just using Zuul

[2021-11-11 17:18] sendilkumarn commented on #14479
last time I checked it was working with Spring Cloud Gateway and Zuul. I have used it on one of my presentation too. But it was 6 months before.

Are you sure you have setup Istio, creds, and Roles correctly?

[2021-11-11 18:20] qmonmert commented on #16982
@mraible I created a React App with your JDL and I don't reproduce the bug 😕

[2021-11-11 20:02] mrts commented on #12558
By the way, I would strongly suggest that we use `<script setup>` that was introduced in Vue 3.2. It is so good that it hurts - you just write variables and functions in the `<script setup>` block and they become available in the template scope automatically and become reactive when you use `ref`.

Here's a minimal example from the [release blog post](https://blog.vuejs.org/posts/vue-3.2.html):
[c

[2021-11-11 20:33] deepu105 opened #16988 "Update blueprints documentation"
Seems like there is been some internal changes to blueprints in v7 but the docs don't seem to be updated.

Stuff missing in docs, from what I could see

- sharedOptions
- custom commands

Also probably the blueprint generator needs to be updated to work with latest version

[2021-11-11 20:56] deepu105 opened #16989 "Error when using blueprints"
While trying to run a blueprint (I have to say it's been a while since I did this and I don't even recognize my own code :wink: and quite tired of debugging all the Istio stuff, so may be I missed something obvious) there are these errors

[code]

JHipster version: 7.3.1 main branch
Blueprint generator version: main branch

[2021-11-11 21:01] deepu105 commented on #16989
Ok seems like this function is no longer present, so we need to update the blueprint generator

[2021-11-11 22:03] mshima commented on #16989
My proposal is to move the blueprint generator into generator-jhipster https://github.com/jhipster/generator-jhipster/issues/15869.
IMO jhipster should drop the use of `yo` command.

[2021-11-11 22:08] mshima commented on #16810
@pascalgrimaud is the npm taking too long yet?
We could stop providing some features like workbox by default.

[2021-11-11 22:16] pascalgrimaud commented on #16810
I didn't test it recently, so I'll test it tomorrow

[2021-11-12 00:47] mshima commented on #16901
Already fixed.
Duplicate of https://github.com/jhipster/generator-jhipster/issues/16173 and https://github.com/jhipster/generator-jhipster/issues/15884

[2021-11-12 00:47] #16901 closed

[2021-11-12 07:10] deepu105 commented on #14479
Zuul was removed in 7.0.0 so unless you checked before that I'm not sure how it worked. I did some bisect and the last version this worked was in 7.0 alpha before migrating to spring gateway. My Istio setup is based on the default demo profile, what creds and roles did you setup?

[2021-11-12 07:13] deepu105 commented on #16985
Today I'm gonna give this another shot, this time trying to make it work without SCG and purely with Istio

[2021-11-12 07:15] deepu105 commented on #16989
I agree @mshima

[2021-11-12 07:16] deepu105 commented on #15869
Let's do this. We really need to make it easier to make blueprints

[2021-11-12 13:42] mshima commented on #16982
@mraible can we convert this issue to fix unhandled exceptions instead?
Drop react from
https://github.com/jhipster/generator-jhipster/blob/cc5fcdd73fed569276dd17cba0db0bb40a57a991/generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs#L49-L57
And make react tests to pass at node 16.

[2021-11-12 13:46] mshima commented on #16744
The internal changes were not enough to fix Node 16 support.
Node 16 fails on unhandled rejections.
React and Vue frontends have unhandled exceptions.
React problem looks trivial.

[2021-11-12 13:53] mshima opened #17000 "Frontend build warns about deprecation."
##### **Overview of the issue**

Build frontend keeps warning about webpack deprecation.

![image](https://user-images.githubusercontent.com/1417183/141477796-dcf693f7-b96b-4203-b63f-0a61fa1b8c82.png)

##### **Motivation for or Use Case**

While this is not an error, it's annoying.

##### **Reproduce the error**

Generate an application with any client framework and run it
`npm start`

##### **JHi

[2021-11-12 15:40] indiepopart commented on #14931
I am having the same issue for entities that declare pagination in the JDL. The `sort` piece of the query is not supported with the default configurations.

[2021-11-12 15:57] cordial commented on #14931
I gave up in the end.

[2021-11-12 16:36] crowne opened #17001 "getUser() is undefined for type ..."
##### **Overview of the issue**

This bug results in a compilation error.
If a ManyToOne relationship is defined in jdl as follows:

[code]
The Roster domain class is generated as expected with a member variable : User changedBy

However the RestController RosterResource contains the following generated code which does not compile:
[code]

##### **Motivation for or Use Case**

This is a bug becaus

[2021-11-13 08:14] crowne commented on #17001
As a work-around to this problem, if I change the relationship to `Employee` instead of `User`
then the code is generated differently (more simply),
and the compilation error does not occur.

[code]

[2021-11-13 12:49] deepu105 commented on #16985
Damn it took me forever but I think I fixed it, seems like we need to rewrite the URLs on istio side as well, and technically SCG can be removed and it would still work fine, but also works with it

[2021-11-13 13:10] Tcharl commented on #16985
Who said code was kubernetes agnostic?

[2021-11-13 15:55] vicpermir commented on #17001
The problem seems to be in:

https://github.com/jhipster/generator-jhipster/blob/0115869878f7fe667853fdb2ad339738093fee45/generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs#L180-L189

Same problem in lines L249-L257 and lines L312-L320

The method names `getUser()` and `getUsers()` are both hardwired and don't contemplate a different relationship name. Is thi

[2021-11-13 16:30] #16985 closed

[2021-11-13 21:33] #16570 closed

[2021-11-14 04:55] anothergoodguy commented on #16884
Dear Team,

Any suggestions on this, we would like to move from haszelcast to infinispan.

Thanks in advance!

[2021-11-14 05:20] sulaiman-allemyar opened #17006 "Jhipster conflicts with all entities after adding a new property to an entity"
After adding a new property to an entity, the Jhipster conflicts with all entities and you must resolve all conflicts which is too much time consuming. for example if you have two entities Product and Stock, then after adding a new property to Product the Jhipster conflicts with Stock also.

I have also used older versions of Jhipster 6.x.x but this issue was not on those versions.
Is there any so

[2021-11-14 10:32] crowne opened #17007 "Error running generator app: Error: Cannot find module 'yeoman-environment/transform'"
##### **Overview of the issue**

I am using a fork of JHipster which is up to date with main.
When I try to run jhipster I get an error, stacktrace shown below.
If I switch to tag v7.3.1 then the error does not occur.

[code]

##### **Motivation for or Use Case**

I can't use jhipster, this will need to be solved for the next version.

##### **Reproduce the error**

clone jhipster
npm link
try to

[2021-11-14 12:59] crowne opened #17008 "User class is not generated in Gateway but is referenced by an Entity via microservice"
##### **Overview of the issue**

The jdl below defines a Gateway app with no database and a microservice with 3 entities [Department, Employee, Roster].
Employee has a OneToOne relationship with User.
The microservice compiles correctly, however the Gateway compile fails because the pkg.domain.Employee class refers to User class which is not generated in the Gateway application.

##### **Motivatio

[2021-11-14 14:45] mshima commented on #17007
@crowne what node version are you using?

[2021-11-14 14:49] mshima commented on #17001
@vicpermir would be great if you could create the PR.

Should be something like:
[code]

[2021-11-14 16:22] crowne commented on #17007
v14.18.0

[2021-11-14 17:33] vicpermir commented on #17001
Had to make a few changes due to method capitalization and plurals, generated a few projects with these changes and all worked fine.

Let me know if I did anything wrong.

[2021-11-14 20:16] mshima commented on #17007
Subpath exports is supported since v12.7.0 https://nodejs.org/api/packages.html#subpath-exports.
So this is not a bug.

Probably you are using the generator-jhipster from git, updated the repository, but forgot to run `npm ci` to update dependencies.
Closing as invalid for now.

[2021-11-14 20:16] #17007 closed

[2021-11-14 23:44] ascelineboullen commented on #13595
Hello !
I just updated the Figma link https://rebrand.ly/jhipster.
I have to do some more margin / icons and photos adjustments and it will be good, but you can already give your feedback ;). Thanks !

[2021-11-15 02:30] #17001 closed

[2021-11-15 06:00] pascalgrimaud commented on #16706
Thanks for providing so much details
I'll have a look

[2021-11-15 07:15] crowne commented on #17007
Thanks @mshima
`npm ci` fixed the issue.

Do you think we should update
https://github.com/jhipster/generator-jhipster/blob/main/CONTRIBUTING.md#setup

to add the step of running `npm link` and then running `npm ci` ?

[2021-11-15 07:38] pascalgrimaud commented on #16810
Before it took 3min on my machine.
Now, it's 2min, so it's better, thanks @mshima

[2021-11-15 08:30] pascalgrimaud commented on #16706
@utelemaco :

I tested on my machine and everything works fine.
I check our daily builds with Docker and it looks fine too: https://github.com/hipster-labs/jhipster-daily-builds/runs/4207299441

I don't have any issue, related to npm install. I have a lot of warning but it's normal (related to deprecated lib).

![image](https://user-images.githubusercontent.com/9156882/141747862-4f3d5e9f-cac2-4744

[2021-11-15 08:56] gmarziou opened #17016 "No documentation for npmw"
##### **Overview of the issue**

In JHipster 7.3.1, a new script `npmw` has been added but I couldn't find any doc about it, I searched generated README.md and jhipster.tech.
Even in the file itself there's no comments.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configurati

[2021-11-15 10:28] mshima commented on #17007
@crowne that would be great. Could you provide the PR please?

[2021-11-15 10:52] pascalgrimaud commented on #17016
We are really bad for updating our documentation. We focus on adding new features :-(
Same thing for yo-resolve, incremental changelog (not enough), modernizer plugin, microfrontend, entity by package etc etc.

[2021-11-15 14:29] crowne commented on #17007
I will do so.
New problem for me, jhipster is crashing with "ERROR! Callback called multiple times",
this is apparently a known issue for node versions > 14 according to #16744

[2021-11-15 14:45] mshima commented on #17007
@crowne update to main if you are using git.
Downgrade node if you are using release.

[2021-11-15 15:10] pascalgrimaud commented on #17007
@mshima : should I do a release to fix that ? As I'm pretty sure a lot of users already upgraded Node version to use LTS

[2021-11-15 15:24] alishahwee commented on #16116
This is still occurring in 1.6.2

[2021-11-15 15:28] pascalgrimaud commented on #13595
Nice work @ascelineboullen : love the new design
I have only 1 feedback at the moment: the site needs to be responsive, but I'm pretty sure it will be

[2021-11-15 15:32] MathieuAA commented on #13595
That's awesome! Nice job @ascelineboullen!!

[2021-11-15 15:36] deepu105 commented on #13595
Excellent work! :clap:

Few small comments:

- I would put teams in a separate page as we have today and keep modules/blueprints at the end of the page like today
- I think we should retain the quick start section

[2021-11-15 15:46] avdev4j commented on #13595
I really like the new logo with the JHipster family and the whole branding.
The colors are great,

Maybe I would put sponsors before companies that use JHipster.

Anyway, you find the best solution to release more frequently by cloning
Pascal. Good job!

On Mon, Nov 15, 2021 at 4:37 PM Deepu K Sasidharan ***@***.***>
wrote:

[2021-11-15 16:01] jdubois commented on #13595
Yes it looks awesome! I mostly have comments about the content:

- Like @avdev4j I'd rather have the sponsors before the users (the sponsors support us truly with $$$, the users are usually free riders)
- Their is some wording issues: it's "JHipster", not "Jhipster"
- I'm not sure about the news section: it's awesome to show our events, but this needs to be updated frequently and we're usually bad

[2021-11-15 20:18] mshima commented on #17007
@pascalgrimaud yes, sure. Would be great to have https://github.com/jhipster/generator-jhipster/pull/16991, https://github.com/jhipster/generator-jhipster/pull/16990 and maybe https://github.com/jhipster/generator-jhipster/pull/16880 merged.

[2021-11-15 20:20] pascalgrimaud commented on #17007
If you feel confident, go ahead and merge these PRs. I'm trusting you and the daily builds, to know if it's ready for a release or not

[2021-11-15 20:55] #16520 closed

[2021-11-15 23:22] indiepopart commented on #14931
Adding some notes on the issue. It seems related to fielddata not enabled in the text fields in elasticsearch. Text fields are not available for sorting by default. The recommended way is to use multi-field mapping, and have the keyword field for sorting. I see the multi-field mapping is present in the index mapping. But the query sent to elasticsearch is not using the keyword field and fielddata

[2021-11-15 23:48] indiepopart opened #17018 "UncategorizedElasticsearchException Please use a keyword field instead. Alternatively, set fielddata=true"
##### **Overview of the issue**

Search for entities that had `paginate` in the JDL fail with the following exception:

[code]

##### **Motivation for or Use Case**

Search queries sent to elasticsearch are not using the keyword field.
The issue seems related to fielddata not enabled in the text fieldslacsearch. Text fields are not available for sorting by default. The recommended way is to use mu

[2021-11-16 00:13] mraible commented on #16276
Pending in https://github.com/jhipster/generator-jhipster/pull/16880.

[2021-11-16 00:29] mraible commented on #17018
Added bug bounty in hopes of getting this fixed soon.

[2021-11-16 08:53] wmarques commented on #13595
Really like the new design, awesome job 👏

[2021-11-16 10:59] mshima commented on #17016
yo-resolve documentation would be better to be on yeoman site, but the documentation there was outdated before I've become a contributor. And unfortunately I am the only one active there (because jhipster). Maybe jhipster should consider to do some arrangement with yeoman.
I think we should always generate `.yo-resolve` with comment on how it works.
And explain the generated files and file structu

[2021-11-16 11:58] mshima opened #17031 "Microfrontend support."
##### **Overview of the feature request**

Microfrotend support is experimental and implementation is not normalized.

- [ ] Cypress: allow to be generated at the microservice side (don't generate common tests).
- [ ] JDL: allow to refer to an application, instead of entities. `microservices foo, bar` instead of `entities foo, bar`.
- [ ] Angular: move entities menu from the gateway to the microse

[2021-11-16 13:50] colameo commented on #13595
congrats! really cool :-)

[2021-11-17 01:36] #16276 closed

[2021-11-17 11:22] #16269 closed

[2021-11-17 16:41] utelemaco commented on #16706
@pascalgrimaud

Thanks for checking this issue.

It seems it is a docker issue on mac os. Updating docker didn't solve the problem. So, I resolved it by **removing docker and reinstalling it from scratch**. I was quite reluctant to this strategy because I would lose all the images and containers I had in my machine. I tried several alternatives (using different configurations for mounting volumes,

[2021-11-17 16:41] #16706 closed

[2021-11-17 17:09] nickshoe opened #17035 "Send ContentSecurityPolicy (CSP) header only if client is generated?"
When using JHipster for backend-only development, or when splitting frontend and backend, the CSP header sent by Spring makes no sense.
[Policy Delivery](https://www.w3.org/TR/CSP2/#policy-delivery) seems to make sense only for html apps running in the browser; in fact, another way to specify CSP is by setting an HTML `meta` element (as defined [here](https://www.w3.org/TR/CSP2/#delivery-html-meta

[2021-11-18 06:28] mraible commented on #13595
This looks fantastic!

A couple typos I noticed:

- JHipster online should be JHipster Online
- Github should be GitHub
- Grettings Java JHipster should be Greetings Java Hipster

[2021-11-18 09:57] ascelineboullen commented on #13595
Thanks for your feedbacks ! 😀
I will rework on it this week end again to make somes fixs, and apply your differents feedbacks, and I will design a responsive view to show you how it could be on a mobile, yes @pascalgrimaud , no worries !

[2021-11-18 12:03] nickshoe commented on #17035
We could add instructions for setting the CSP header when separating the front-end and the API server, since the front-end will be served by a different HTTP server (nginx, Apache, ...) that would normally not address CSP.

[2021-11-18 20:30] mshima commented on #17007
@pascalgrimaud you probably should release now.

[2021-11-18 20:32] pascalgrimaud commented on #17007
@mshima : ok, I'll prepare it for tomorrow and will ask in the mailing list. Thanks !

[2021-11-18 20:56] ecostanzi commented on #16884
Sorry I'm quite busy in this period. I tried to reproduce but I could not find a solution. I've used Infinispan without the service registry in my projects. I'll try again later this month

[2021-11-18 21:07] mshima commented on #17007
@pascalgrimaud 👍 thanks.

[2021-11-19 00:12] mshima commented on #17007
@pascalgrimaud npm test is broken but not failing.
I will try to fix.

[2021-11-19 07:03] jdubois commented on #16178
Keep it open

[2021-11-19 12:15] mshima opened #17064 "Replace react-infinite-scroller."
##### **Overview of the feature request**

react-infinite-scroller is more than 3 years without a new release, and don't have official react@17 support.
We should replace it with another module. Maybe react-infinite-scroll-component.
And finally drop legacy-peer-deps.

##### **Motivation for or Use Case**

Replace not supported module.

##### **Related issues or PR**

- [ ] Checking this box is ma

[2021-11-19 14:38] yangliuyu commented on #16772
spring boot 2.6.0 is released.

[2021-11-19 14:54] mraible commented on #16772
@yangliuyu Thanks for the heads up. I've updated both of the above PRs.

[2021-11-19 16:03] JinnaBalu opened #17066 "Issue with Generating ADMIN UI"
##### **Overview of the issue**

Tried creating the application with admin UI, it failed to create the whole project.

[code]

##### **Reproduce the error**

Select the following while creating the project.

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "applicationTyp

[2021-11-19 16:38] mshima commented on #17066
Fixed in 7.4.0.

[2021-11-19 16:38] #17066 closed

[2021-11-19 19:16] swarajsaaj commented on #16486
Redundant `require` removed from https://github.com/jhipster/react-jhipster/blob/6f8b5147ed182e3adb6e06ccf20d57d2e39f4a2a/src/language/translator-context.ts#L34. Please hint if there can be other solutions or this impacts anything else.

PR in progress at https://github.com/jhipster/react-jhipster/pull/79

[2021-11-20 06:28] ksilz commented on #16960
Another reason for going with Node 16 is that it’s the first node release with native Mac ARM64/M1 support. Here’s [the last Node 14 release](https://nodejs.org/download/release/v14.18.1/): It just has `*-darwin-x64*` files. Here's [the 16 one:](https://nodejs.org/download/release/v16.13.0/): It also has `*-darwin-arm64*` files.

[2021-11-20 06:28] ksilz commented on #16744
Another reason for going with Node 16 is that it’s the first node release with native Mac ARM64/M1 support. Here’s [the last Node 14 release](https://nodejs.org/download/release/v14.18.1/): It just has `*-darwin-x64*` files. Here's [the 16 one:](https://nodejs.org/download/release/v16.13.0/): It also has `*-darwin-arm64*` files.

[2021-11-20 16:59] qmonmert commented on #17064
I'm on it!

[2021-11-20 18:11] mraible commented on #16744
@mshima Can this be closed now?

[2021-11-20 18:27] pascalgrimaud commented on #16744
@mraible : this PR https://github.com/jhipster/generator-jhipster/pull/16883 is still opened, so we should not close this

[2021-11-20 21:33] mraible opened #17072 "`jhipster upgrade` doesn't work from 7.3.1 to 7.4.0"
##### **Overview of the issue**

[code]

##### **Motivation for or Use Case**

I was hoping to use this command to update a recent application I created.

##### **Reproduce the error**

[code]

##### **Related issues**

No

##### **JHipster Version(s)**

7.4.0 &&

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summa

[2021-11-20 22:49] mshima commented on #16744
@mraible unfortunately there are 1 bug with react and 1 bug with vue that needs to be fixed before we can switch to node 16.

Just changed https://github.com/jhipster/generator-jhipster/issues/16982 title to fix unhandled exception in React.

This additional $200 should go to fix unhandled exceptions in VUE (jest test and cypress).
https://github.com/jhipster/generator-jhipster/blob/cc5fcdd73fed56

[2021-11-20 23:09] mraible commented on #16744
Please accept the full bounty for this one. Then create a new issue and
let's assign 200 to that one.

On Sat, Nov 20, 2021 at 15:50 Marcelo Shima ***@***.***>
wrote:

[2021-11-20 23:12] mshima commented on #12558
Having same toolkit for every client framework is hand for maintenance.
They share the same translation process, same rtl support, same webpack plugins for specific things like notification, microfrontend, browser sync.
Hopefully this new development finally will get us there https://github.com/bootstrap-vue/bootstrap-vue/pull/6845.

[2021-11-20 23:41] mshima commented on #17072
Will take a look soon.

[2021-11-20 23:57] vicpermir opened #17073 "ngx-cookie-service dependency broken (regression)"
##### **Overview of the issue**
https://github.com/jhipster/generator-jhipster/pull/16906 broke release 7.4.0 due to unsatisfied `@angular/common@13.0.0` dependency.

##### **Motivation for or Use Case**
Should work. Deploy tests to detect this?

##### **Reproduce the error**
To reproduce just create a new empty angular project with `session` auth and `websocket` and it explodes with this:

[code]

[2021-11-21 01:11] mshima commented on #17073
Indeed, I saw but forgot about it. We don’t have angular test with websocket to catch the peer conflict.
@vicpermir can you provide the PR reverting the dependency?

[2021-11-21 07:16] vicpermir commented on #17073
PR created.

[2021-11-21 08:17] atomfrede commented on #13390
Keep it open

[2021-11-21 08:51] pkral3 opened #17075 "vue "jhipster entity" 7.4.0 not showing"
##### **Overview of the issue**
jhipster 7.4.0 vue
jhipster entity book
the book is not showing in web

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
7.4.0

##### **JHipster configuration**
Run with Vue: jhipster ; jhipster entity book

##### **Entity configuration(s) `entityName.json` files gen

[2021-11-21 09:09] #17073 closed

[2021-11-21 09:09] mshima commented on #17073
Thanks.

[2021-11-21 10:19] pascalgrimaud commented on #17075
I confirm the issue.
The component, service, model are correctly generated, but nothing about router, navbar menu etc.

[2021-11-21 10:22] pascalgrimaud commented on #17075
additional information:
- it works well with JDL
- it is broken with CLI: jhipster entity

[2021-11-21 10:26] pascalgrimaud commented on #17072
@mraible : does this command work for you ? I tested it several times in real projects for several customers and it never works for me.

[2021-11-21 12:58] vishal423 opened #17076 "Improve stale issue notifications"
##### **Overview of the feature request**
Remove stale issue notification for items currently in progress, assigned, or open valid issues.

##### **Motivation for or Use Case**
Since most team members work in their free time, such alerts are an annoyance

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2021-11-21 14:33] mraible commented on #17072
It hasn't worked in a while, but it sure is cool when it does!

On Sun, Nov 21, 2021 at 03:26 Pascal Grimaud ***@***.***>
wrote:

[2021-11-22 03:49] SudharakaP commented on #15523
Keep it open please.

[2021-11-22 12:19] henry2man opened #17092 "Gateway microservice with MySQL creates an unsupported non-reactive gateway app"
**Describe the bug**
Using Jhipster online (https://start.jhipster.tech/generate-application)  to generate a new Gateway App with MySQL generates a non-reactive app that doesn't starts due to a missing configuration error related with Spring Cloud Gateway. As per https://github.com/jhipster/generator-jhipster/issues/15933#issuecomment-897700281 (\cc @mraible) all gateways must be reactive ones.

O

[2021-11-22 12:20] henry2man commented on #15933
Just for reference, I've found the same error using JHipster Online, caused by an invalid code generation: https://github.com/jhipster/jhipster-online/issues/330

[2021-11-22 12:40] pascalgrimaud commented on #17092
@henry2man: thanks for reporting this. I transfered this ticket to this repository, to give better visibility.

JHipster Online is not well maintained, unfortunately as there is no reactive option in front page.
Same thing for Gateway, which is not reactive.

I'm adding a bounty on this, if someone is motivated to fix it.

[2021-11-22 13:00] mshima commented on #17092
I thought this was fixed already, it's pretty trivial.
Will create the PR.

[2021-11-22 15:17] #17064 closed

[2021-11-22 15:20] qmonmert commented on #17064
@pascalgrimaud I claim my bounty :) https://opencollective.com/generator-jhipster/expenses/56160

[2021-11-22 15:36] pascalgrimaud commented on #17064
@qmonmert : approved

[2021-11-22 18:59] henry2man commented on #17092
I thought you would be completely aligned with JHipster, my apologies.

@pascalgrimaud I propose an idea: What if JHipster Online was a hybrid between the current part that allows generating projects in GitHub or in ZIP but that, when defining the properties of the project, did so by directly launching the `jhipster` command in a simulated shell console?

In this way, even if it were something mor

[2021-11-22 19:00] #17092 closed

[2021-11-22 19:00] #17075 closed

[2021-11-22 19:00] #17076 closed

[2021-11-22 19:21] pascalgrimaud commented on #17092
yes it should be aligned but I think we forgot some options / features, when improving generator-jhipster

Maintaining the front is not difficult, it's just the main front page to update.
The backend uses real generator-jhipster so it should be the same.

I don't think adding a shell console would be used a lot. We already have this -> https://github.com/jhipster/jhipster-guides and it's not used

[2021-11-22 19:28] mshima commented on #17092
Once we have a file with option like we have in modular, it should be easier to link jhipster-online.
https://github.com/jhipster/generator-jhipster/blob/main/generators/java/options.cjs

In meantime would be nice and probably not difficult to implement a jdl alternative.

[2021-11-22 19:37] pascalgrimaud commented on #17072
I'll try to give more details the next time I tried, but I need to be carefull to not copy/paste here some information, related to the code of my customer :)

[2021-11-22 19:41] mshima opened #17096 "Vue: fix unhandled exceptions."
##### **Overview of the issue**

Following https://github.com/jhipster/generator-jhipster/issues/16744#issuecomment-974722473.

Unhandled exception causes warning in tests using node 14 and fails using node 16.
And requires workaround at cypress:
https://github.com/jhipster/generator-jhipster/blob/cc5fcdd73fed569276dd17cba0db0bb40a57a991/generators/cypress/templates/src/test/javascript/cypress/sup

[2021-11-22 19:43] mshima commented on #15617
I will try to reproduce soon.

[2021-11-22 19:45] mshima commented on #17096
Added bounty following https://github.com/jhipster/generator-jhipster/issues/16744#issuecomment-974724475.

[2021-11-22 23:43] RDsideNow commented on #17072
I am having a similar issue

ERROR! Error executing app --reproducible --no-force --with-entities --no-dry-run --no-whitespace --no-bail --no-install-path --no-skip-regenerate --no-skip-yo-resolve --from-jdl --no-skip-cache --no-skip-install --no-force-install --no-ask-answered --no-defaults --no-skip-git --microfrontend

[2021-11-22 23:56] RDsideNow opened #17099 "Microfrontend Gateway Doesnt Create or Update V7.4.0"
- Please follow the issue template below for bug reports.
- If you have a support request rather than a bug, please use [Stack Overflow](http://stackoverflow.com/questions/tagged/jhipster) with the JHipster tag.
- For bug reports it is mandatory to run the command `jhipster info` in your project's root folder, and paste the result here.
- Tickets opened without any of these pieces of information w

[2021-11-23 00:03] RDsideNow opened #17100 "Elastic Search With Angular UI Fails To Search From the Browser"
##### **Overview of the issue**

When searching in the UI no results are filtered based on what is searched.

##### **Motivation for or Use Case**

Elastic search is not working properly

##### **Reproduce the error**

Import attached jdl create a few order entities and search for something specific that would filter out other orders.  If i use the swagger tool it works, but when using the UI on t

[2021-11-23 06:22] #17016 closed

[2021-11-23 10:09] Brouilles commented on #13973
Same here. With Java project and also jHipster.Net.

[2021-11-23 10:15] mshima commented on #17099
Try adding clientFramework to the microservice.

[2021-11-23 10:18] Mixermachine opened #17103 "JHipster Configuration Hazelcast"
##### **Overview of the issue**

Hy JHipster-Team,

I'm currently migrating an application to JHipster 7.4 and I found some things that look odd to me.
The JHipster documentation still references `io.github.jhipster.config.JHipsterProperties` in [https://www.jhipster.tech/common-application-properties/](https://www.jhipster.tech/common-application-properties/).
Shouldn't that be `tech.jhipster.con

[2021-11-23 10:32] Brouilles commented on #13973
My JDL file here
[shop.jdl.txt](https://github.com/jhipster/generator-jhipster/files/7587293/shop.jdl.txt)

[2021-11-23 12:06] pascalgrimaud commented on #17103
The class comes from here: https://github.com/jhipster/jhipster-bom/blob/main/jhipster-framework/src/main/java/tech/jhipster/config/JHipsterProperties.java

So I think it is still valid.

About our documentation, it is not correct, the package has changed

[2021-11-23 12:37] anothergoodguy commented on #16884
sure @ecostanzi...

thanks for the quick response!

[2021-11-23 12:41] RDsideNow commented on #17099
WARNING! /usr/local/lib/node_modules/generator-jhipster/generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
ERROR! /usr/local/lib/node_modules/generator-jhipster/generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs:47
    45|   const username = Cypress.env('E2E_USERNAME') ?? 'admin';

[2021-11-23 13:00] Mixermachine commented on #17103
@pascalgrimaud
Yes that is why I created the issue :)
I just wanted to notify you as this might hinder new developers.

Do you know where the setting for the hazelcast management-center has gone?
I need to migrate my application to the new jhipster version and have to configure the management-center properties.

[2021-11-23 13:05] pascalgrimaud commented on #17103
Looking at the history: https://github.com/jhipster/jhipster-bom/commits/main/jhipster-framework/src/main/java/tech/jhipster/config/JHipsterProperties.java

There is this PR and commit:
- https://github.com/jhipster/jhipster-bom/pull/40
- https://github.com/jhipster/jhipster-bom/commit/d3f8548213fe423cc8d59f25f527e246a8751bcf#diff-f975304bdee225c6a3dd937233e0fee06f930a6104e3e31e14590d569d31da5b

W

[2021-11-23 14:13] Mixermachine commented on #17103
Oh ok
We still use Hazelcast 3.11.

Seems like I need to manually configure the Hazelcast node somehow

[2021-11-23 14:40] mshima commented on #17072
This bug is fixed.

[2021-11-23 14:40] #17072 closed

[2021-11-23 17:59] #17099 closed

[2021-11-24 03:15] iconben commented on #10031
@pascalgrimaud Hi Pascal, I ran into the same issue and found there was solution for this closed issue, should it be reopened and fixed? Thanks.

[2021-11-24 04:36] EnziinSystem opened #17105 "Error parsing file src/test/javascript/cypress/plugins/index.ts SyntaxError"
My environment:

- Ubuntu 20.04
- Nodejs v14.18.1
- jHipster v7.4.0

Then create an application:

[code]

The error message:

[code]

[2021-11-24 05:23] EnziinSystem opened #17114 "Application finished with exit code: 1"
My environment:

- Ubuntu 20.04
- Nodejs v14.18.1
- jHipster v7.4.0

Then create an application:
[code]
The application generated with a success message:
[code]
However, I run build:

`./mvnw`

The error message:
[code]

[2021-11-24 05:32] pascalgrimaud commented on #10031
@iconben : sure :-)

[2021-11-24 06:10] sanjeevsree opened #17115 "JHipster generating all files again while switching OS"
All the entities are re-generated again when I run my code after switching my OS from mac to windows.

I tried to update a single entity using jdl. It works fine in mac whereas when I try the same in windows environment all the entities are getting regenerated again.

I am getting that the entities are identical in my mac system but it is asking to be overwritten in windows.

Tried running inside

[2021-11-24 07:17] nomuna commented on #17105
I could reproduce the problem on my machine and was able to fix this adding the missing semicolon.
:D

Pull request submitted. I have also noticed that a new key named _cypressCoverage_ lands in the .yo-rc.json wich doesn't appear in the jdl grammar... Was able to track it down in the file generator-base.js L2633. Is it going to be added to the jdl some time in the future?

[code]

[2021-11-24 07:48] #17105 closed

[2021-11-24 08:35] gmarziou commented on #17115
What are the differences? Have you run `git diff` to check? Could it be a misconfiguration of git for handling end of lines?

[2021-11-24 09:13] nomuna commented on #17114
Have you checked if the h2 db driver is listed as dependency in the pom.xml?

[2021-11-24 09:14] ko5tik commented on #17100
Also looking on it -   there is  no annotations on entity classes beside @document.  so  basicaly nothing gets indexed.

[2021-11-24 10:30] nomuna commented on #17114
The reason appears to be that both _h2_ and _r2dc-h2_ are added as test scope dependencies in the pom.xml.

[code]
Remove _<scope>test</scope>_ from both and it should start.

[2021-11-24 10:40] nomuna commented on #17114
Yeah there is also a ticket/issue open addressing the same issue. #16790

[2021-11-24 16:27] amanganiello90 opened #17117 "One-to-many relationship not bidirectional in angular"
Hi, I want to know if there is a way to generate (from the jdl model) the bidirectional one-to-many in Angular client.
I have an app generated with jhipster 6.10.5 .

Thanks in advance.

[2021-11-24 17:37] geraldhumphries commented on #2251
@naris Actually, you can have sorting without paging! A `PagingAndSortingRepository` has a `findAll(Sort sort)` method. You need to have an endpoint on your API that accepts a `Sort` rather than a `Pageable`, then pass that Sort object into the `findAll` method of the repository. You can also write your own repository methods that accept `Sort`.

Here's a good example: https://stackoverflow.com/a/

[2021-11-24 23:02] marcosechague commented on #9032
Thanks @czarbl, this works for me!

[2021-11-25 11:48] vishal423 opened #17124 "Code regeneration with minor changes doesn't remember the yeomen overwrite prompt response"
##### **Overview of the issue**

1. Generate a new monolithic project with some entities
2. Modify JDL to add a new field in an existing entity
3. Regenerate project with `--with-entities` option
4. You should notice a prompt for modified files asking to review the change. Enter `a` to overwrite this and all others
5. You still see the prompt for the remaining files. The overwrite prompt response

[2021-11-25 13:54] #17124 closed

[2021-11-25 15:55] hokrobert opened #17129 "Angular sends whole entity instead of the reference field to the backend"
##### **Overview of the issue**

While we did some test upgrades for our application, I noticed a change in behavior of the Angular UI.
Lets assume you have two entities.
Customer and Installation.
One To Many relation and the customer is a required reference for an installation.

When creating an installation the ui sends the id (or the key field) of the customer including all fields for the inst

[2021-11-25 16:14] mshima commented on #17117
We don’t support that at the backend as well (for writing, we don’t cascade).
It doesn’t make sense to have it in angular.
Should not be difficult to implement as a blueprint.

[2021-11-25 16:15] #17114 closed

[2021-11-25 16:34] mshima opened #17132 "Unambiguous Priorities"
##### **Overview of the feature request**

RFC https://github.com/jhipster/generator-jhipster/pull/17131
Rendered https://github.com/jhipster/generator-jhipster/blob/main/rfcs/3-jhipster-rfc-unambiguous-priorities.md

Update:
Priorities name was moved as static class member.
Current import for `generator-jhipster/priorities` implies that we have same priorities for every generator, which is not tr

[2021-11-25 19:47] apozo-copyright opened #17134 "Running with a different profile from command-line not working for gradle monolith generation"
##### **Overview of the issue**

Running from command line with a different profile does nothing: `gradlew -Pprod`.
Application keeps showing: No active profile set, falling back to default profiles: dev,api-docs

##### **Related issues**

https://github.com/jhipster/generator-jhipster/issues/6947

##### **Suggest a Fix**

There are 2 problems:
1. The `it.replace('#spring.profiles.active#', profil

[2021-11-25 19:50] fcordobamejias opened #17135 "Liquibase could not start correctly - MSSQL Server production database"
##### **Overview of the issue**
Create a new project and select H2 database for development and MSSQL Server as a Production database. When you finished the project creation you need to run the ./mvnw command and you will see the following error:

2021-11-25 13:37:47.751  WARN 69463 --- [    test-task-1] t.j.c.liquibase.AsyncSpringLiquibase     : Starting Liquibase asynchronously, your database mi

[2021-11-26 07:30] ko5tik commented on #16136
Also having this issue.  Any action planned to address it?

[2021-11-26 07:44] ko5tik opened #17142 "Elasticsearch is generated for all entities - not only for those which are actually marked with it"
##### **Overview of the issue**

Only one entity in my project is marked with   "searchEngine": "elasticsearch" -   yet repositories  and code are generated for all those entities.   While it is not a show stopper,   it affects performance  and  misleads other developers.

##### **Motivation for or Use Case**

I would like to have search repositories only for those classes  that are marked for it

[2021-11-26 08:54] antoniosch85 opened #17143 "One-to-many relationship backend"
Hi,

I have a relationship one to many Person to Car.
I created some records but when call API getPerson the cars attribute is null in json response.

Is there a way to get the list of car in getPerson API ?

[2021-11-26 18:12] mshima commented on #17129
Angular will send back whatever the backend returned.
JHipster 6 has flatten relationships, JHipster 7 doesn’t.
Non DTO will always return the entire entity.
DTO on the other hand is supposed to return the id and the label field only.

[2021-11-27 11:03] Tcharl commented on #17142
Hi,

It's fixed by https://github.com/jhipster/generator-jhipster/pull/16612.
Feel free to contribute

[2021-11-27 11:04] Tcharl commented on #17135
Hi,

It's fixed by this one

https://github.com/jhipster/generator-jhipster/pull/16612.

Feel free to contribute, I'm really busy right now

[2021-11-27 12:06] ko5tik commented on #17142
Hi Charlie,

Looked into  your PR and  I  did not see any commits for server side
service templates.   Maybe I missed something?

========[] Lines game back in Appstore - check it out! []===============
https://play.google.com/store/apps/details?id=de.pribluda.games.android.lines

Blog:  https://www.pribluda.de

On Sat, 27 Nov 2021 at 13:03, Charlie Mordant ***@***.***>
wrote:

[2021-11-27 14:08] Tcharl commented on #17142
sorry wrong pasted to ticket

[2021-11-27 14:17] Tcharl commented on #16477
And note that the doc is currently in review: https://github.com/jhipster/jhipster.github.io/pull/1171

[2021-11-28 00:54] bkenn commented on #16136
This is an issue with Spring Data Elasticsearch as of version 4.0.

See [documentation](https://docs.spring.io/spring-data/elasticsearch/docs/current/reference/html/#elasticsearch.mapping).

Spring changed their serialization implementation from Jackson to MappingElasticsearchConverter. I can't find a way to force MappingElasticsearchConverter to consider JsonIgnoreProperties during serialization.

[2021-11-28 10:32] Tcharl commented on #16136
@bkenn , as we are already using JsonIgnore properties, the fix seems trivial: can you please add your two new beans into the jhipster framework? or at leat provide the implementations?

[2021-11-28 14:09] RDsideNow commented on #16462
Keep open

[2021-11-28 16:20] ko5tik commented on #17142
OK,   looked into source code and discovered that
 if

 `  seacrhEngine: "elasticsearch"`

  is specified in .yo-rc.json ,   config is generated  for elastic search bean,  and also for every entity unless :

   `"searchEngine": false`

is specified in the entity JSON file.

Even worse,    when elastic search is activated for entity  but not  on the top level   search repositories etc.  are generat

[2021-11-28 17:09] ko5tik commented on #17142
To verify insert following:
`        it('shall not generate search specific artifacts because elastic search is false on top level', () => {
          assert.noFile([
            `${SERVER_MAIN_SRC_DIR}com/mycompany/myapp/repository/search/FooSearchRepository.java`,
            `${SERVER_TEST_SRC_DIR}com/mycompany/myapp/repository/search/FooSearchRepositoryMockConfiguration.java`,
          ]);

[2021-11-28 20:13] mshima commented on #17142
@ko5tik glad to see you looking for a solution.

That's actually the current design.
Why? microservices.
Take a gateway that imports entities from 2 microservices, one with search and another without.
The gateway (frontend) has selective search support to expose all features of each microservice.

1. A gateway exposes search at the frontend, even without enabling it at the gateway itself. The sugg

[2021-11-28 20:29] mshima commented on #16462
Yes, kind of.
The `entityName` is currently:
The `entityName` used at generated source.
https://github.com/jhipster/generator-jhipster/blob/1de9167f7960c12a6934f0f564337edf08a110c4/utils/entity.js#L110

And the entity jhipster model name, used to refer relationships at `.jhipster/*.json` models.
Entity itself:
https://github.com/jhipster/generator-jhipster/blob/1de9167f7960c12a6934f0f564337edf08a1

[2021-11-28 20:37] mshima commented on #17142
Sounds good for the backend.
Can you create the PR?

[2021-11-28 22:53] Simsal opened #17147 "Upgrade to 7.4.0: relationship type is not synchronized"
##### **Overview of the issue**

ERROR! Error at entity UserExtra: relationship type is not synchronized {
    "relationshipType": "one-to-many",
    "otherEntityName": "userExtra",
    "otherEntityRelationshipName": "userExtra",
    "relationshipName": "userExtra",
    "otherEntity": "[UserExtra Entity]",
    "otherEntityField": "id",
    "ownerSide": false,
    "collection": true,
    "otherSide

[2021-11-29 08:51] pascalgrimaud commented on #14949
Probably it's because the Sonar analysis is broken since June:

![image](https://user-images.githubusercontent.com/9156882/143836452-17e85862-8661-4dfc-adaa-23fb262884df.png)

[2021-11-29 10:59] ko5tik commented on #17142
Gateway exposes search at the frontend only if  entity explicitly opted in.   Indexing is created  unless entity explicitely opts out. And JDL import does not create explicit opt out -  say when I say " search  that with elastic search" I surely do not mean "also search and index everything else".   This is kind of misleading and has to   be fixed and  / or clarified in the documentation

So here

[2021-11-29 16:24] deepu105 commented on #13595
@ascelineboullen can I make a request for the family image. Can you please include more diverse characters from the collection there as there are too many white characters in this and we want a better mix

[2021-11-29 21:44] ascelineboullen commented on #13595
@deepu105 , yes I were talking about it with @avdev4j.
Actually, I'm still working on the responsive version, but I will do that asap, with the differents fixs needed! ;).
I continue!

[2021-11-30 00:09] mraible commented on #16275
Keep open please.

[2021-11-30 05:47] mraible opened #17175 "Migrate from Springfox to Springdoc"
##### **Overview of the issue**

Springfox doesn't work with Spring Boot 2.6.0, so we should [migrate to Springdoc](https://springdoc.org/#migrating-from-springfox).

##### **Motivation for or Use Case**

We should be able to keep up with Spring Boot releases.

##### **Related issues**

https://github.com/jhipster/generator-jhipster/pull/16787#issuecomment-982130426

##### **JHipster Version(s)**

[2021-11-30 12:37] vishal423 commented on #16315
@fbiville, I have assigned the issue to you.

[2021-11-30 15:57] mraible commented on #17175
If no one grabs this today, I might take it on.

[2021-11-30 16:33] mshima commented on #17175
Let me take a look.

[2021-11-30 17:23] Tcharl opened #17187 "Switch to cucumber junit 5"
##### **Overview of the feature request**

cucumber is now compatible with junit 5!

##### **Motivation for or Use Case**

Mixing JU4 and 5 is a pain: i've spent more than one hour figuring out why my test wasn't executed due to a ju4 `@Test` import...

##### **Related issues or PR**

I've made a working POC on my side, will push the PRs ASAP.
I'll unfortunately need a review for the Gradle side,

[2021-11-30 19:29] henry2man commented on #11740
Hi folks. I'been facing issues like this one with a newly created JH microservice. In my case I obtained wrong `LocalDates` representing one day minus the real ones.

I have been trying many versions from 8.0.22 onwards without success. Finally I have only been able to fix the problems with `LocalDate` only when I have downgraded to the latest valid version of `mysql-connector-java` (`8.0.19`), re

[2021-11-30 19:32] pascalgrimaud commented on #11740
I thought it was fixed... But yes, if there is still the issue, we should downgrade.

I can't say, as I'm using PostgreSQL for my customers, I don't use MySQL any more.

[2021-12-01 00:23] mraible commented on #16498
I plan to start this next week. I was hoping we could upgrade to Spring Boot 2.6 first, but that might be difficult.

[2021-12-01 09:47] sdeleuze commented on #16498
Spring Native 0.11.0 should be released next week so good timing.

[2021-12-01 11:36] sanjeevsree commented on #17115
The git diff shows no change but it is time-consuming effort to provide yes or no input for all the files which it asks for overwriting

[2021-12-01 11:57] ko5tik commented on #17142
Pull request fixing this problem:

https://github.com/jhipster/generator-jhipster/pull/17192

[2021-12-01 12:32] vishal423 commented on #17115
Can you provide more details on conflicting file types? Have you modified generated `.gitattributes`?

[2021-12-01 12:35] sanjeevsree commented on #17115
When i try modifying an entity in windows it asks for overwriting all files for all entities

[2021-12-01 23:18] mshima commented on #17000
Fixed with new merge-jsons-webpack-plugin.

[2021-12-01 23:18] #17000 closed

[2021-12-02 09:00] egvimo commented on #15401
The issue also persists in 7.4.0.

[2021-12-02 13:03] CGarces commented on #16685
Ouch! was a good idea but I don't have time to help with the implementation.

[2021-12-03 07:14] henry2man commented on #11740
Maybe @ctamisier @mraible @skmaingi @mshima can say anything else about this?

[2021-12-03 08:06] ctamisier commented on #11740
From what I remember, we had the "one-day" bug when using 8.0.19.
8.0.20 fixed this issue but introduced another issue which has been fixed on 8.0.22.

I just retried with the current `main` branch with a monolith+mysql with an entity having a LocalDate and I don't have the issue.
If I manually downgrade to 8.0.19 I have the issue.

Do you have the issue even without adding any additional UTC para

[2021-12-03 08:20] ctamisier commented on #11740
Could you confirm by debugging that you have `defaultTimeZone=UTC` ?  (as you set mysql server to UTC)

(this is from mysql connector)
![image](https://user-images.githubusercontent.com/766263/144568783-a51d5bc0-ac0e-44d5-ac16-4a2189d8477e.png)

[2021-12-03 10:21] henry2man commented on #11740
@ctamisier Thanks for the directions. Now there are holidays coming, so I won't be able to verify it for a few days. Then I will try to generate a minimal test case to see the impact of the change in dependency, at least in relation to the problem I have now.

[2021-12-03 11:48] pdelaby opened #17205 "Spring health groups configuration position"
##### **Overview of the issue**

The configuration for the `liveness` and `readiness` probes is not where it shoud be :

* it is currently located at `management.health.group`
* it shoud be located at  `management.endpoint.health.group`

cf the [related doc](https://docs.spring.io/spring-boot/docs/2.5.7/reference/html/actuator.html#actuator.endpoints.health.groups)

##### **Motivation for or Use C

[2021-12-03 13:11] #17205 closed

[2021-12-03 14:57] pip25 commented on #17115
I also encountered the problem during entity generation, the cause seems to be that line ending differences (LF vs. CRLF) are treated by JHipster as conflicts while checking the existing files.

[2021-12-03 16:21] pascalgrimaud commented on #17115
So I think it is related to git configuration

[2021-12-03 16:52] amanganiello90 opened #17207 "Embedded elastic search finds nothing from Angular"
##### **Overview of the issue**

After running jhipster monolitich app with Angular client, I try to perform a search from the related box (it calls the search api).

##### **Motivation for or Use Case**

I type the word of an entity column and it returns always empty

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

v6.10.5

##### **

[2021-12-03 16:56] pascalgrimaud commented on #17207
it's probably because the entity is not indexed, as it was inserted by fake data
Try to create the data, and then, search. You should find it.

[2021-12-03 17:11] amanganiello90 commented on #17207
Thanks!!
I have another question: If I call another rest api, that is not the search api, the indexes are always used?

[2021-12-03 17:14] pascalgrimaud commented on #17207
if you wall another rest api which is _search, it will use service -> repository and do the SQL query, unless there is a cache

[2021-12-03 17:19] amanganiello90 commented on #17207
Thanks a lot!!

[2021-12-03 17:19] #17207 closed

[2021-12-03 19:34] pip25 commented on #17115
Not necessarily. Forcing LF line endings in Git does make the problem go away, but that is only a workaround in my opinion. The real problem here is that the JHipster generator wants to create code with LF line endings regardless of the OS it runs on.

[2021-12-03 21:35] CodingSpiderFox commented on #16521
ping

[2021-12-03 23:37] mshima commented on #17115
The fix would be something like this:
[code]

And inject
[code]
below here:
https://github.com/jhipster/generator-jhipster/blob/78f3624e66d1a12c0a45715e557bb2d26e8b59e5/generators/bootstrap/index.js#L197

[2021-12-04 05:09] vw98075 commented on #15744
I have a fix on this issue for our app. I, however, don't know how to make the change for JHipster generator.

[2021-12-04 06:25] pascalgrimaud commented on #17115
The generator exists since more than 5 years, and as far as I remember, we don't have this kind of problem.

Adding this work around can change all projects of our Windows users.

Adding a new question / flag would be over killed.

[2021-12-04 10:57] pip25 commented on #17115
@pascalgrimaud, JHipster actually had similar issues already (see https://github.com/jhipster/generator-jhipster/issues/11231 and https://github.com/jhipster/generator-jhipster/pull/11205). Maybe the previous fix broke somehow?

[2021-12-04 15:02] atomfrede commented on #13390
Hope to find some time before christmas, right now working on another side project. We could also consider switching to java as the gatling language which is now supported (in addition to scala and kotlin). Maybe with that we can provide the gradle/maven plugins again out of box without problems

[2021-12-04 23:24] mshima commented on #17115
Updated fix:
[code]

And inject
[code]
below here:
https://github.com/jhipster/generator-jhipster/blob/78f3624e66d1a12c0a45715e557bb2d26e8b59e5/generators/bootstrap/index.js#L197

And change
https://github.com/jhipster/generator-jhipster/blob/78f3624e66d1a12c0a45715e557bb2d26e8b59e5/generators/bootstrap/index.js#L104
to include `.gitattributes` so it will be committed to disk before using it.

[2021-12-05 06:53] atomfrede commented on #13755
Keep it open

[2021-12-05 16:49] amirensit opened #17212 "Switch to starter module for problem-spring-web"
##### **Overview of the feature request**

Use [the starter module](https://github.com/zalando/problem-spring-web/tree/main/problem-spring-web) for problem-spring-web.

##### **Motivation for or Use Case**

According to docs, it is possible to use the starter module for spring mvc applications.

[2021-12-06 10:30] abdalrhmanMalkraien commented on #9865
check you authority in that file if you use linux-Ubuntue write the the following code
`sudo chown -R $USER fileName`
and then go inside file name `cd fileName`
and finally try with this command to run your project `./mvnw`

[2021-12-06 11:11] Tcharl commented on #17207
To index you' database into elastic, you can use the elasticreindexer module (it's a little bit old so you'll need some small changes, but you'll have the overall idea).

[2021-12-06 11:13] #17018 closed

[2021-12-06 13:00] rjbgaspar commented on #16667
I just checked with JHipster 7.4.1 and problem still persist.

[2021-12-06 17:45] cordial opened #17231 "React Monolith project logging user out on browser page refresh"
##### **Overview of the issue**

Overview of the issue
If I login then reload a page that requires authorization the login dialog will show up even though you already logged in.

Motivation for or Use Case
the user already logged in no need to ask him for credentials.

##### **Motivation for or Use Case**
n/a

##### **Reproduce the error**

1. Generate a monolithic project with react frontend
2. S

[2021-12-06 19:46] qmonmert commented on #17231
I don't reproduce

[2021-12-06 21:45] pascalgrimaud commented on #17231
You're using an old version of JHipster: generator-jhipster@5.7.2
Plz try last version

[2021-12-06 21:45] #17231 closed

[2021-12-06 22:49] cordial commented on #17231
Sorry, that was a typo. my version is actually...     "generator-jhipster": "7.1.0",

[2021-12-07 02:00] #16982 closed

[2021-12-07 16:04] sbouchex opened #17245 "7.5 : Invalid JsonIgnoreProperties values are generated"
##### **Overview of the issue**

I'm importing a jdl and the generated java code got invalid JsonIgnoreProperties values generated whereas it was working fine with 6.x version.

##### **Motivation for or Use Case**

Some fieled are not exported once on the client-side.

##### **Reproduce the error**

- Import the jdl
- Check the Java CalendrierPresence.java class in the "domain" generated code
- I

[2021-12-07 23:31] #17175 closed

[2021-12-08 16:04] sidaoui opened #17253 "Some compilation errors"
##### **Overview of the issue**

I wanted to create a reactive microservice springboot project with Jhipster, so i found this nice tutorial [Reactive Java Microservices with Spring Boot and JHipster](https://developer.okta.com/blog/2021/01/20/reactive-java-microservices), i copied his jdl file but i make some changes (a just add "entitySuffix Entity" in every application config).
The code generate

[2021-12-08 16:17] pascalgrimaud commented on #17187
To be honest, our Cucumber support is bad today.

You should have a look at https://gitlab.com/nerp-ippon/nerp/-/tree/main/webservices/src/test/java/com/ippon/nerp/cucumber

It's far better than what we generate today

[2021-12-09 04:02] rehmetjan commented on #16318
in the POM.xml  add `-M3`
change this:
        <maven-enforcer-plugin.version>3.0.0</maven-enforcer-plugin.version>
to:
        <maven-enforcer-plugin.version>3.0.0-M3</maven-enforcer-plugin.version>
now it works!!

[2021-12-09 11:23] mshima commented on #16744
Following https://github.com/jhipster/generator-jhipster/pull/16883#issuecomment-956416314.
We need to update or add node 16 to matrix:
- react-jhipster
- prettier-java
- jhipster-devbox
- generator-jhipster-blueprint and generator-jhipster-module (are they working?)

Blueprints should switch when switching to jhipster v7.5.0

[2021-12-09 12:08] DanielFran commented on #17096
@mshima This can be closed?

[2021-12-09 12:47] vishal423 commented on #17129
I also noticed this while implementing relationship support in the `svelte` blueprint. If you have a relationship with a `User` entity, then it opens up a security hole and undoes the effect of the special purpose public get all users endpoint.

[2021-12-09 16:47] Tcharl commented on #17187
Oh thanks! I was struggling with some nifty Cucumber behavior, at least I'll succeed to do the upgrade to ju-5, then may see how we can improve the overall

[2021-12-10 11:51] pascalgrimaud commented on #15490
Following this Tweet: https://twitter.com/juliendubois/status/1469225642122166274

Doing it in main generator-jhipster is not a good idea.
The idea will be there: https://github.com/jhipster/jhipster-lite

So this ticket can be closed.

[2021-12-10 11:51] #15490 closed

[2021-12-10 15:12] Tcharl commented on #16790
Maybe that fix could help https://github.com/jhipster/generator-jhipster/pull/16612

[2021-12-10 17:39] amanganiello90 opened #17268 "ElastichSearch in Angular UI does not work after inserting data in entity with relationship"
##### **Overview of the issue**

After running jhipster monolitich app with Angular client, I try to perform a search from the related box (it calls the search api), after inserting data in an entity with relationship. The record appears empty in the relationship fields.

##### **Motivation for or Use Case**

I note that the relationship field is empty, but after updating data the search bar in an

[2021-12-11 14:12] qmonmert commented on #17253
@pascalgrimaud I confirm the bug, I will work on it!

[2021-12-11 15:12] pascalgrimaud commented on #17253
Adding a bounty as it's a bug

[2021-12-11 15:42] nomuna commented on #16318
Ok, this is no longer a warning but an error/a build failure now...

May be just add the working version for the enforcer in the template? I am using Jhipster 7.4.0 and getting this error and have to use the workaround to make the build work.

[2021-12-11 20:55] #17253 closed

[2021-12-11 20:57] qmonmert commented on #17253
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/58098 ;)

[2021-12-11 20:58] pascalgrimaud commented on #17253
Approved

[2021-12-11 21:48] mraible opened #17271 "R2DBC errors after upgrading to Spring Boot 2.6"
##### **Overview of the issue**

The upgrade to Spring Boot 2.6 is happening in https://github.com/jhipster/generator-jhipster/pull/16787. Tests are currently failing for the `vue-gateway` project because of an R2DBC issue.

[code]

##### **Motivation for or Use Case**

I'd like to see JHipster upgraded to Spring Boot 2.6.0 so I can try to integrate Spring Native with the latest release. I have a

[2021-12-12 10:57] cristian-spiescu opened #17273 "Integration of our "foundation" o-s lib w/ JHipster"
## Overview of the feature request

We are the authors of a library which we call "foundation". The project is currently no more publicly available, since we started a curation + documentation process, and we'll re-release it on GitHub once the quality of the doc is up to the standards of a serious o-s project.

## History of "foundation"

We had a couple of projects that we started w/ AppFuse bac

[2021-12-12 14:24] gitsupi opened #17274 "why Liquibase ??"
we are suffering from Liquibase in development time  we really want to be removed this from jhipster core
spring boot never have and  offer liquibase itself

[2021-12-12 14:27] gitsupi commented on #17274
spring boot is here to map ORM and leave mind from SQL and xml...
and you are here to automate it more but you are eliminate

[2021-12-12 14:55] cordial opened #17275 "Jhipster + React + HTTP Session Authentication throws a 500 error when you refresh the browser page while unauthenticated."
##### **Overview of the issue**

Jhipster + React + HTTP Session Authentication throws a 500 error when you refresh the browser page while authenticated. This is propogated to the front end with a toast that says error 500 (see image below).

<img width="757" alt="Screenshot 2021-12-12 at 14 51 31" src="https://user-images.githubusercontent.com/419893/145717220-7a24401a-3efa-4dff-a5ee-889c9754a7cc

[2021-12-12 19:11] pascalgrimaud commented on #17274
You have several solution if you don't like Liquibase:
- don't use JHipster, use directly Spring Initializr, add the Driver of your database. Then, you'll need to run manually SQL query to upgrade your database: create table, alter table, etc. And if you have more than 3 or 4 environments, enjoy to do it manually without Liquibase :)
- you could use `no-liquibase`, in your configuration, it works

[2021-12-12 19:11] #17274 closed

[2021-12-12 19:14] pascalgrimaud commented on #17212
If it can reduce some code and delete some beans, it's a good idea

[2021-12-13 11:58] danielpaukowitsch opened #17293 "Vue Router Role Based Authorization Not working"
##### **Overview of the issue**

It is possible for users with role "USER" to access pages that are marked as "admin-only" in the Vue router file.
The following route is accessable if a "normal" user knows the  URL.

[code]

##### **Motivation for or Use Case**

If a normal user has the URL he could access pages he should not see (if the backend is configured wrong, e.g. only frontend role based a

[2021-12-13 17:09] mraible opened #17294 "Webapp is not built by default after adding Spring Native support"
##### **Overview of the issue**

If I create an app with the following `.yo-rc.json`, and add Spring Native support, no webapp is compiled when I run `./mvnw`. It works if I run `./mvnw -Pwebapp`. Maybe this has something to do with adding a `native` profile for Spring Native?

[code]

##### **Motivation for or Use Case**

Adding a new profile shouldn't change the default behavior of creating the

[2021-12-14 05:34] Tcharl commented on #17271
@mraible it now works on my branch, as long as you don't use gradle or mongo. I'll continue to improve it to have everything green

[2021-12-14 10:49] deepu105 commented on #16989
Keep open

Thanks & Regards,
Deepu

On Mon, Dec 13, 2021 at 1:07 AM github-actions[bot] <
***@***.***> wrote:

[2021-12-15 17:32] vw98075 opened #17316 "InsufficientAuthenticationException Needed To Be Handled"
##### **Overview of the issue**

In an OAuth2 client app, InsufficientAuthenticationException will be threw after some idle time. The exception will be handled by ExceptionHandlerExceptionResolver after refreshing a browser. The followings are the related log messages for the scenario:
[code]
It will be unhandled otherwise. Here is the exception track for the scenario:
[code]

##### **Motivation f

[2021-12-15 17:38] mraible commented on #17316
Just to add a bit of background here. This question was [originally asked on Stack Overflow](https://stackoverflow.com/questions/69857566/how-does-the-user-session-work-for-oauth2-authentication-type-jhipster-applicati?noredirect=1) and I requested an issue be entered. I'm not sure how to solve this, but I like this suggestion:

[2021-12-15 17:59] vw98075 commented on #17316
I was thinking that a solution could be dealing with the exception in the same way as what ExceptionHandlerExceptionResolver does and creates another user session for the same user. I don't have sufficient Spring Security knowledge to do so.

[2021-12-15 18:06] pascalgrimaud commented on #17316
@vw98075 : you should give a try. In ExceptionTranslator:

[code]

[2021-12-15 19:06] vw98075 commented on #17316
@pascalgrimaud Thanks for your suggestion. That doesn't solve the problem, unfortunately.   I add the method to the ExceptionTranslator class and public static final ERR_INSUFFICIENT_AUTHENTICATION = "error.insufficientAuthentication" to  ErrorConstants class with the same outcome.

[2021-12-15 20:04] vw98075 commented on #17316
@pascalgrimaud I insert a system output print into the method body. It doesn't show up in the console when the exception occurs. So, the method isn't invoked when the exception occurs.

[2021-12-15 20:20] pascalgrimaud commented on #17316
I can see this, in the log: com.innowake.components.reposetup.security.UserSessionValidationFilter.doFilter(UserSessionValidationFilter.java:68)

What's this UserSessionValidationFilter ?

[2021-12-15 22:12] vw98075 commented on #17316
The filter does nothing.

[2021-12-16 12:24] ko5tik opened #17322 "Pagination is reset for gateway application"
##### **Overview of the issue**

As gateway application does not hat own database,    it is set to "no::

`    "databaseType": "no",`

This leads to disabling   pagination option in  .jhipste/*.json ifles ,   and templates are not generated
WHile this would be proper behavour for monolitic application,   it is not  for gateay

##### **Motivation for or Use Case**

Would like to have pagination  fo

[2021-12-16 13:49] ko5tik commented on #17322
This change can be piggy-backed on this pull request:

https://github.com/jhipster/generator-jhipster/pull/17252

[2021-12-16 14:13] mshima commented on #17322
@ko5tik let's keep separated.
This issue affects the gateway only.

[2021-12-16 15:30] deepu105 opened #17324 "Gateway application fails when creating from JDL with multiple apps"
##### **Overview of the issue**

When running a [JDL](https://gist.github.com/deepu105/1f0663af2acdb67dd5472c4896b595cf) with multiple apps, the gateway generation fails with the below stack trace. Seems like an issue with reading `clientFramework`. This happens only on version 7.4.1, 7.4.0 works fine.

[code]

##### **Reproduce the error**

Run `jhipster jdl app.jdl --fork` with JDL mentioned abo

[2021-12-16 15:32] deepu105 commented on #17273
This is not something we are willing to take up

[2021-12-16 15:32] #17273 closed

[2021-12-16 15:34] cristian-spiescu commented on #17273
Thanks for your answer. A pitty though.

[2021-12-16 15:37] deepu105 commented on #17273
We are already quite packed with features and stuff, so adding something that we are not even familiar with is not an option. I would suggest you open-source the lib first so people can evaluate and may be even build a PoC with JHipster showing what it can do and the maybe we can reconsider, ofcourse no promises.

[2021-12-16 15:40] cristian-spiescu commented on #17273
OK. This sound promising and it means that maybe the effort to republish the code as OS is worth. I will get back to you once we have news. 😃

[2021-12-16 15:40] deepu105 commented on #16942
Given our websocket support is just minimal its not worth supporting in webflux IMO. It should be trivial to build for users using another method

[2021-12-16 20:47] mshima commented on #17324
Could not reproduce using main.

[2021-12-17 12:20] #17142 closed

[2021-12-17 15:22] mraible commented on #16704
I haven't seen this issue so I need to try and reproduce.

[2021-12-17 15:28] mraible commented on #15744
The easiest way I've found to contribute a fix this this:

- Create a brand new app with JHipster. Check it into GitHub and push it to a main branch.
- Create a branch with your desired changed to make everything work.
- Take the changes and incorporate them into a PR for JHipster. Before you open the PR, test your changes locally and verify a new app's code matches the code from the previous step

[2021-12-17 15:33] mshima commented on #17316
I couldn’t reproduce.

[2021-12-17 17:33] vw98075 commented on #16704
The OAuth2 client app still needs the administration section for admin users. It can be ported from a regular JHipster app with a few changes. For user management, we only make the Profiles/user role field editable due to lacking authorization support on the OAuth server.

[2021-12-17 17:39] vw98075 commented on #17316
You can generate an OAuth client app. Sign in as admin. Leave it idle for 30 minutes or so. Click user administration. You shall see the exception on the console while there isn't any data on the web page.

[2021-12-17 18:04] mraible commented on #17316
You can probably set the session timeout to be a minute to reproduce faster.

On Fri, Dec 17, 2021 at 10:39 V W ***@***.***> wrote:

[2021-12-17 20:13] anothergoodguy commented on #16884
Dear Team,

Any suggestions on this please...

Thanks in advance!

[2021-12-17 23:47] mraible commented on #16704
I just created a screencast today [of this blog post](https://auth0.com/blog/full-stack-java-with-react-spring-boot-and-jhipster/) and the administration screen worked fine for me. I tested on Keycloak and Auth0.

<img width="1468" alt="Screen Shot 2021-12-17 at 16 45 52" src="https://user-images.githubusercontent.com/17892/146620135-c819b114-0288-4ed4-82dc-4cf25538977e.png">
<img width="1468" alt

[2021-12-18 00:40] vw98075 commented on #15744
The related changes are in the jhi-navbar.component.ts..ejs. The file should be universal for all three front-end Javascript frameworks. I made changes based on our application language selections. I am not a Javascript person. So, it will take me longer to have a generic solution.

[2021-12-18 10:46] #17294 closed

[2021-12-18 22:37] Tcharl commented on #17274
Liquibase is really useful for projects that are living and already in production: ORM DDL capability does not handle data and schema migration when there's already and existing one set on target database.

[2021-12-18 22:39] Tcharl commented on #16879
I guess it's fixed because we won't use Swagger anymore with our version supporting SB 2.6

[2021-12-19 10:57] gmarziou commented on #15744
@mraible I think it's asking for too much. You can't expect contributors to know well 3 frameworks.

[2021-12-19 15:03] cordial commented on #17275
the theme is react.

[2021-12-20 00:48] mraible commented on #16772
I still believe.

On Sun, Dec 19, 2021 at 17:08 github-actions[bot] ***@***.***>
wrote:

[2021-12-20 05:33] #17293 closed

[2021-12-20 07:37] qmonmert commented on #17293
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/58856 🙂

[2021-12-20 08:37] pascalgrimaud commented on #17293
@qmonmert : approved

[2021-12-20 12:43] jdubois commented on #16178
Keep it open

[2021-12-20 17:56] DanielFran opened #17362 "Upgrade Keycloak version to 16"
##### **Overview of the feature request**

See https://www.keycloak.org/docs/latest/release_notes/index.html#keycloak-16-1-0

##### **Motivation for or Use Case**

##### **Related issues or PR**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2021-12-20 17:56] DanielFran commented on #17362
cc @vishal423

[2021-12-20 22:24] rickahlander commented on #16136
I would also need a fix.  This is a complete blocker for a jHipster upgrade.  There is no clear workaround.  I've tried the suggestions, and I'm not having much luck.  I'm going to keep at it because we really need this upgrade, but it's frustrating to say the least.  jHipster is generating the @JsonIgnoreProperties annotation, which is also now invalid and incorrect.  So, minimally, this needs to

[2021-12-21 00:09] mraible commented on #16960
This is the way.

[2021-12-21 00:09] mraible commented on #12558
Keep it open.

[2021-12-21 05:50] vishal423 commented on #17362
sure. I will take a look in a day or two

[2021-12-21 08:08] ko5tik commented on #16136
It is     @org.springframework.data.annotation.Transient  annotation which perevents circular indexing.   I worked around the issue by placing some of these to break loops.

[2021-12-21 09:25] deepu105 commented on #16988
Keep open

[2021-12-21 15:22] OmarHawk opened #17373 "Test failure in completely new application without customization"
##### **Overview of the issue**
Hi,

I just ran into an issue, where one single of the 127 automatically generated frontend tests does fail, without any customizations made after the app has been generated - and also without any entities in there. According to the error it sounds like something with multi-language support. I did select German as the first language and English as the second and no

[2021-12-21 18:51] vw98075 commented on #16704
Good to know your article. Did you have the administration section right out of the generator? If so, which version did you use? I used the 7.3.0 and didn't get the administration section (both front end and back end code) at all. And after porting the code from a non-OAuth app over, I don't have the health check data. The OAuth2 server isn't Keycloak. I don't know whether that is the cause of the

[2021-12-21 20:38] vw98075 commented on #15744
I can't push my code change due to "remote: Permission to jhipster/generator-jhipster.git denied to ..."

[2021-12-21 21:23] #17187 closed

[2021-12-21 22:58] gmarziou commented on #15744
It's normal, because this is not how it works. You should push to your clone and then create a pull request to main project.

See https://github.com/jhipster/generator-jhipster/blob/main/CONTRIBUTING.md#submitting-a-pull-request

[2021-12-22 07:15] bkenn commented on #16136
Hello, sorry for the late reply, these last weeks have been crazy.

Here is an example of what I've done to use Converters and configure spring data to use them.

https://github.com/bkenn/eleasticsexample

here is the commit with the work: https://github.com/bkenn/eleasticsexample/commit/6d3875d539e40ddaadbe970ead35650c1a5ca34e

for running locally:

- use java 16
- startup the Elasticsearch compo

[2021-12-22 16:17] deepu105 opened #17384 "Ouath2 authentication is broken when using k8s with istio"
When creating a microservice stack with Oauth2 auth and deploying to istio, authentication t9o microservices ends up in an infinite loop. I was trying to get my standard e-commerce ms stack working with Keycloak and Okta and ended up here. Still trying to figure out whats going on. I don't see any authorization headers being passed around. But I don't see those headers for gateway APIs, which work

[2021-12-22 19:10] mshima commented on #16810
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/59118.

[2021-12-22 19:11] pascalgrimaud commented on #16810
@mshima : approved

[2021-12-22 19:25] qmonmert commented on #17373
Indeed this bug exists since a long time

[2021-12-22 19:30] mshima commented on #17373
Should:
https://github.com/jhipster/generator-jhipster/blob/3af341a9c12707751eb96ea5e0188fd434ae01e5/generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs#L221

Be replaced by `<%= nativeLanguage %>` ?

[2021-12-22 19:32] qmonmert commented on #17373
@mshima you're right, I do the PR

[2021-12-22 20:00] #17373 closed

[2021-12-22 20:40] mohammadsrahman commented on #17384
I experienced the same issue today. I managed to get authorisation to work I think by editing the gateway virtual service. For some reason looks like calls are being made to /service/api/api so adding the extra api to the virtual service kind of stopped the authorisation issue but I am experiencing other issues where entities are not being returned.

[2021-12-22 20:43] pascalgrimaud opened #17386 "JHipster Logo: not well displayed with dark mode"
##### **Overview of the issue**

Following my comment here https://github.com/jhipster/jhipster-artwork/pull/16#issuecomment-999378677

Our logo is not well displayed with dark mode.

The work is in progress by @sabrinapayet to make the logo accessible with light and dark mode.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

[2021-12-22 21:46] pascalgrimaud opened #17387 "Default Vue application: strange user.oauth2.service.ts"
##### **Overview of the issue**

See https://github.com/jhipster/jhipster-sample-app-vuejs/blob/main/src/main/webapp/app/entities/user/user.oauth2.service.ts

Strange file as it's JWT configuration, not OAuth2

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

####

[2021-12-22 23:00] mshima commented on #17384
I recall seen this and created this branch https://github.com/jhipster/generator-jhipster/pull/17388, but it needs more testing.
The expired token is ignored at the gateway side, but not at the microservice side, creating this infinite loop.

[2021-12-23 08:33] deepu105 commented on #17384
You are too fast Marcelo ❤️ I'll do some tests with your branch and let you
know

On Thu, 23 Dec 2021, 12:00 am Marcelo Shima, ***@***.***>
wrote:

[2021-12-23 09:11] deepu105 commented on #17384
I tested your branch but the looping issue is still present at least with Istio + k8s

[2021-12-23 11:30] grajuu opened #17408 "Not able to generate gateway microservice & entities associated with it. Jhipster 7.4.1"
### Not able to generate gateway microservice & entities associated with it.   Jhipster 7.4.1

INFO! Using JHipster version installed globally
7.4.1
 node --version
v16.13.1
 java --version
java 11.0.4 2019-07-16 LTS
npm --version
8.1.2

### JDL i tried

[code]

### Entities  are not generating with following error.

[code]

`**INFO! Generator app child process exited with code 0**`

Thanks in adv

[2021-12-23 12:18] ptokponnon opened #17409 "NoSuchMethodError exception when using ortools in Jhipster project"
##### **Overview of the issue**

I am using google CPSat Solver [Ortools](https://developers.google.com/optimization) in my Jhipster project.
When I try to run with ./mvnw , I get a compilation error: Exception in thread "main" java.lang.NoSuchMethodError: com.google.protobuf.GeneratedMessageV3.isStringEmpty(Ljava/lang/Object;)Z
Please, how to resolve it?
Here is the output.
$ ./mvnw
[code]

#####

[2021-12-23 14:20] mshima commented on #17316
I tried to reproduce the stack trace again and failed.

So the application works as expected using angular and react.
Once the session times out, the ajax call fails and forces a reauthentication.
Doesn't work using Vue.

Perhaps this is a vue only bug?

[2021-12-23 16:08] M4jor-Tom opened #17411 "Readonly entity fields in jdl"
##### **Overview of the feature request**

Something like that would be interesting:

entity Object {
&ensp;density Double required
&ensp;volume Double required
&ensp;mass Double readonly as density * volume //Creates a getter with readonly frontend/CRUD support
&ensp;eligibleFoo Foo readonly as null //Same as before, returning just null so we can set watever we want
}

*The entity Object is NOT r

[2021-12-24 08:39] M4jor-Tom opened #17416 "Missing dot in enums translate"
##### **Overview of the issue**

On the entity update menu, a fail of translation with option beacons' translate() function result

##### **Motivation for or Use Case**

Upon jdl execution, I can't directly show the execution result to my client, I still have to correct a missing dot for enum translation into entities update screens.

Example jdl:

enum MyEnum {
&ensp;ONE
&ensp;TWO
&ensp;THREE
&en

[2021-12-24 10:07] betterlq opened #17417 "Got 404 when calling the api of microservice through gateway url."
##### **Overview of the issue**

I generate a gateway with generator version 7.4.1 and deploy it. I also deploy a microservice with the same base64-secret. Both of them registried successfully. But I got 404 when calling the api of microservice through gateway url.
like:http://10.241.27.125:8080/services/miraclerequirement/api/projects

{
    "type": "https://www.jhipster.tech/problem/problem-with

[2021-12-24 12:08] ptokponnon commented on #17409
[Here](https://github.com/protocolbuffers/protobuf/issues/9236), I read that this is due to protobuf jar conflict, so I added the protobuf 's latest release in the pom.xml like this.
[code]
And it works.

[2021-12-24 12:15] mshima commented on #17416
Should be fixed at >v7.4.0.
See https://github.com/jhipster/generator-jhipster/commit/6351d3fe92fa4df9b0f26f33077965600bee2bf0#diff-11dabdbc0777dcd283b76eea684f0d6eb03dd6a00383bdb2b304589d85e9e7ea

[2021-12-24 12:15] #17416 closed

[2021-12-24 12:17] mshima commented on #17411
At angular you can use `@Readonly` annotation.
Not sure about react or vue.

[2021-12-24 12:18] M4jor-Tom commented on #17416
Thanks !

[2021-12-24 12:21] M4jor-Tom commented on #17411
Is that annotation to set in the JDL ?

[2021-12-24 12:21] mshima commented on #17409
Glad you fixed.
Not related to jhipster.

[2021-12-24 12:21] #17409 closed

[2021-12-24 12:22] mshima commented on #17411
Yes.
[code]

[2021-12-24 12:25] mshima commented on #17387
Just need a rename, the service looks legit.

[2021-12-24 12:27] mshima commented on #17408
Looks duplicate of https://github.com/jhipster/generator-jhipster/issues/17324

[2021-12-24 12:27] #17408 closed

[2021-12-24 12:29] pascalgrimaud commented on #17387
Ok, if it is used, we should rename it

[2021-12-24 12:29] M4jor-Tom commented on #17411
Thanks for help, I thought it didn't exist, sorry for the fake issue, it works for React, as well (didn't try full execution, but could see that Foo.json would specify "readonly": true)

[2021-12-24 12:32] mshima commented on #17384
The PR was from a previous problem I found.
Not actively working on this right now.

[2021-12-24 12:35] mshima commented on #17411
We lack documentation for annotations and customizations.
Hopefully we can improve it soon.

[2021-12-24 12:37] mshima commented on #17387
No oauth condition:
https://github.com/jhipster/jhipster-sample-app-vuejs/blob/2a822d0825cd16b5eb89431c64c498ff74ffc80e/src/main/webapp/app/main.ts#L29

[2021-12-24 12:40] mshima commented on #17387
Probably is used for relationship with user.
https://github.com/jhipster/generator-jhipster/blob/1de9167f7960c12a6934f0f564337edf08a110c4/generators/client/templates/vue/src/main/webapp/app/main.ts.ejs#L40-L42

[2021-12-24 12:41] mshima commented on #17322
Should be fixed now

[2021-12-24 12:41] #17322 closed

[2021-12-24 12:45] pascalgrimaud commented on #17387
It was added here: https://github.com/jhipster/generator-jhipster/pull/13476

Need some investigation before doing something:
- rename or remove for JWT

[2021-12-24 12:46] mshima commented on #17096
Websocket support needs a rewrite to completely drop unhandled from cypress.
But we probably should open a new issue for it.

[2021-12-24 16:22] deepu105 commented on #17384
no worries

[2021-12-24 23:36] M4jor-Tom commented on #17411
Yes, I've got another idea but not sure I should open an feature issue for that reason, what do you think if we could use a several-crossed-relationships otherfield ?

For example, we have those entities: User{login} <OneToOne> UserData{foo} <OneToMany> Post{content},
and we'd like to show User.login in Post through UserData's relations.
We'd have that:

relationship OneToMany {
ensp;UserData to P

[2021-12-25 01:04] M4jor-Tom commented on #17411
Back to that, I tried it, but ommiting Foo.name is readonly: true in Foo.json, nothing seems to change otherwise.
Indeed, I was able to set a @Readonly field and its new value persisted.

Is there something I am still missing ?

[2021-12-25 13:48] mshima commented on #17411
This feature looks quite specific.
Not sure it’s appropriate to have it implemented.

Readonly support is quite specific, supported by angular for id fields.
You may be better luck to use mapstruct:
https://github.com/jhipster/generator-jhipster/blob/c6f390468c156a602e7603bd976eadd93151bff1/test-integration/samples/jdl-entities/entities.jdl#L7

 Those features are related to the unmerged composite

[2021-12-25 17:06] M4jor-Tom commented on #17411
What I anderstood about all that, as a mostly a React and Vue and non-expert programmer, after reading https://www.pluralsight.com/guides/rendering-read-only-data-with-angular to anderstand what @Readonly should make with angular, is that Angular should disable Update and Delete functionnalities from user interface, so we could still Create, and Read what's been generated whatever acts in backend.

[2021-12-25 21:33] CodingSpiderFox opened #17419 "Prevent messing up the home directory"
I wanted to create a new project and forgot to create a new directory (Linux system)

I realized that after I went through the initial generation of the project.
Now I have a lot of files and folders in my homedirectory and I need to be careful not to delete the wrong ones during cleanup.

I want jhipster to ask a yes/no question whether to continue if it discovers to be run from the home/<user>/

[2021-12-25 21:43] pascalgrimaud commented on #17419
Unless I'm wrong, there should be a big warning when the folder is home directory

In my opinion, it's enough.
Adding a new question is overkilled as in majority of case, the answer will be the same: the user won't generate the project in home directory

[2021-12-25 21:45] #17362 closed

[2021-12-26 07:36] CodingSpiderFox commented on #17419
Obviously the warning is not enough

[2021-12-26 08:16] vicpermir commented on #17419
My opinion is the initial warning is enough, but in any case you should be able list all the files/folders in your home directory ordered by date (creation or last modified) and do a quick cleanup.

[2021-12-26 08:39] CodingSpiderFox opened #17420 "In project with keycloak, authentication is lost after second request when restarting the backend server"
##### **Overview of the issue**

I generated the project, starte the keycloak container and database server, ran the web UI and copied the cookie for authentication into my postman.
Then I ran the GET request on my entity which worked.
Then I stopped the server and started it again.
Then I ran the GET request in postman once more and it succeeded.
Then I ran it a third time and it gave me a 401 er

[2021-12-26 12:51] Tcharl commented on #17006
Hi,

Sorry but I'm not able to reproduce: are you customizing your entity in a way?

[2021-12-26 14:13] #16960 closed

[2021-12-26 14:27] pascalgrimaud commented on #17420
@CodingSpiderFox : I encounter a similar but not exactly the same issue. Can you try this fix plz ? https://github.com/jhipster/generator-jhipster/pull/17396

[2021-12-26 16:45] qmonmert commented on #17275
@pascalgrimaud I don't reproduce

[2021-12-26 18:33] antoniosch85 opened #17425 "CacheConcurrencyStrategy.READ_WRITE not working"
##### **Overview of the issue**

The annotation CacheConcurrencyStrategy.READ_WRITE seems not working. Always an empty result is returned, I need to restart server to see the correct return.

##### **Motivation for or Use Case**

I am not able to use the cache. In order to work, I have to eliminate the annotation
@Cache(usage = CacheConcurrencyStrategy.READ_WRITE)

##### **Reproduce the error**

I

[2021-12-26 19:55] pascalgrimaud commented on #17275
Closing this, as it can't be reproduced
Plz try to provide more information

[2021-12-26 19:55] #17275 closed

[2021-12-26 20:08] CodingSpiderFox commented on #17420
I think it is a different cause

[2021-12-26 20:45] M4jor-Tom commented on #13687
I still have that problem with a 7.4.1 react app with an entity with a bidirectional self OneToOne relationship, I fixed it using JsonIgnore annotations instead of generated JsonIgnoreProperties which seemed perfectly suitable for that jdl, excepted it's not because of [that issue from FasterXML/Jackson-databind](https://github.com/FasterXML/jackson-databind/issues/405). Should that get fixed or r

[2021-12-27 02:09] cordial commented on #17275
what's the point, you arbitrarily closed it already.

[2021-12-28 16:36] pascalgrimaud opened #17436 "Entities with JpaRepository only"
##### **Overview of the feature request**

It could be a 1st step of @jdubois's idea in the mailing list.
I wonder if we could use the JDL to generate only the entities and jpa part, and ignoring Service, DTO, Rest, front, etc

Maybe we could only keep the liquibase part, I don't know.

##### **Motivation for or Use Case**

If the JDL can work in all Spring Boot projects, without the requirement o

[2021-12-28 16:38] pascalgrimaud commented on #17436
Cc @mshima as you're our expert on this part. What do you think?
I can try to implement it, if you find the idea not bad and if you think it's doable

[2021-12-28 17:02] pmverma commented on #17425
I notice the same issue with my application and today I can confirm it.
This is really a serious bug since we are getting incorrect results with OneToMany.

Here is a reproducible jdl.

[code]

Steps to reproduce

1. Generate application with above jdl file. `jhipster import-jdl jdlcontent.jh`
2. Add the following code to `ParentService.findOne` method to print `-ToMany` side.
[code]
3. Start the

[2021-12-28 17:06] MathieuAA commented on #17436
It's easy to do. Again, the generation part is done by the generator and there's no change to do in the "JDL part" of the code base: once the .JSON files are generated, it's up to a generator to read the JSON entity files and do its magic.

[2021-12-28 17:08] pascalgrimaud commented on #17425
Adding a bounty as the bug is confirmed by you, @pmverma
If you know how to fix it, plz go ahead!

[2021-12-28 17:33] mshima commented on #17436
Can somewhat be accomplished by `jhipster jdl bug-tracker.jh --ignore-application --db sql --skip-client`

Missing the `--skip-rest` option.

I will try a entity only jdl.

[2021-12-28 17:38] pascalgrimaud commented on #17436
Interesting! Will try it soon.
Don't hesitate to ping me if you need me to do something

[2021-12-28 17:40] mshima commented on #17436
Application is currently required to parse the jdl.

[2021-12-28 17:51] MathieuAA commented on #17436
@mshima Yes, it's kinda mandatory so as to validate the provided entities. Removing this check can easily be done though

[2021-12-28 18:51] pascalgrimaud commented on #11122
For all users who participated to this ticket, you can have a look at this project: https://github.com/jhipster/jhipster-lite

A generated project with JHipster Lite will help to adopt a DDD approach

[2021-12-28 18:55] pascalgrimaud commented on #4661
FYI, this project will help to have this approach: https://github.com/jhipster/jhipster-lite

[2021-12-29 14:03] atomfrede commented on #17425
It looks like the problem seems to be related to the caching of the old parent entity. When assigning a new parent the old one is not changed and stays in the cache. When you save/update the old parent the cache is consistent again. Not sure if thats the root cause and if thats how the hibernate cache is supposed to work.

[2021-12-29 14:31] antoniosch85 commented on #17425
If you update the parent the cache is updated, the issue occurs only when a new parent has been inserted.
I think it is how the hibernate cache is supposed to work.

[2021-12-29 16:16] joro88 commented on #16477
What I want is just to keep this issue open, please.
A lot of work has done in 7.x. Obviously all of it is prioritized over SBS / side-by-side.
Maybe I made wrong assumption that SBS would give more benefit to mostly anyone. The assumption was based on jhipster feedback I have seen outside. And on some comments that even your dev team do this work – but manually.
P.S. Thanks for great product you

[2021-12-30 06:54] pascalgrimaud commented on #13595
work in progress

[2021-12-30 14:44] Tcharl commented on #17008
Always buggy...

[2021-12-30 14:53] pmverma commented on #17425
The issue here is we are not synchronizing bi-directional associations although we already have the synchronization code in parent classes.
[How to synchronize bidirectional entity associations with JPA and Hibernate](https://vladmihalcea.com/jpa-hibernate-synchronize-bidirectional-entity-associations/)
Naturally, we would manage the synchronization from the parent side however if you want to do i

[2021-12-30 15:03] pmverma commented on #17419
For reference, it was discussed in https://github.com/jhipster/generator-jhipster/issues/7896 and https://github.com/jhipster/generator-jhipster/pull/7898

[2021-12-31 00:24] mraible commented on #16275
Still want.

[2021-12-31 10:41] ALLAOUI-DSI opened #17449 "Integration tests fail when org.liquibase.ext.liquibase-mssql in classpath"
##### **Overview of the issue**

When a project is created using the cli, and the prod DB is set to SQLSERVER, the integration tests fail with the following error messages (no edits to the generated files):
[code]

##### **Motivation for or Use Case**

A newly created project should pass all the tests.

##### **Reproduce the error**

Generate a new project with no options, and pick SQLSERVER as th

[2021-12-31 15:22] mshima commented on #17387
It's a bug.
Vue is using admin url to fetch user relationships, so it fails for non admin users.
Found while implementing cypress session.

[2022-01-01 13:05] AjayLaande commented on #17324
I ran into the above issue with version 7.4.1, but it works on 7.4.0

The Gateway app generation fails with the below error/exception

INFO! Using JHipster version installed globally
INFO! Executing import-jdl microservice-ecommerce-store-k8s.jdl
INFO! The JDL is being parsed.
INFO! Found entities: Product, ProductCategory, Customer, ProductOrder, OrderItem, Invoice, Shipment, Notification.
INFO!

[2022-01-01 17:39] #17387 closed

[2022-01-01 18:04] pascalgrimaud commented on #17387
Thanks @mshima

[2022-01-01 18:48] mraible commented on #16498
Still plan to work on this once Spring Boot 2.6 is integrated.

On Fri, Dec 31, 2021 at 17:08 github-actions[bot] ***@***.***>
wrote:

[2022-01-02 00:52] Tcharl commented on #15401
I still don't get the thing about this 'incremental changelog' feature, when we have the liquibase-maven-plugin that is maintained by the liquibase community thus bullet proof...
I would have preferred to get a 'smart' integration of it within the jdl generation process (and of course also integrated with the reactive framework, which is not the case today).

Usage of the liquibase-maven-plugin:
1

[2022-01-02 08:19] deelocodes opened #17460 "Deploy your app for free 🚀"
Hey @jhipster, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://dee

[2022-01-02 17:13] qmonmert opened #17468 "Improve Sonar analysis"
Improve Sonar analysis https://sonarcloud.io/project/overview?id=jhipster-sample-application

##### **Overview of the issue**

Improve code quality

##### **Motivation for or Use Case**

##### **Reproduce the error**

Start local Sonar
`./mvnw -Pprod clean verify sonar:sonar`

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

#####

[2022-01-02 17:16] qmonmert commented on #17468
PRs:
- https://github.com/jhipster/generator-jhipster/pull/17465
- https://github.com/jhipster/generator-jhipster/pull/17466

[2022-01-02 17:30] #17386 closed

[2022-01-02 17:33] qmonmert commented on #17468
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/59965

[2022-01-02 17:34] pascalgrimaud commented on #17468
Thanks for your huge work here @qmonmert
Adding a bounty for all of these PRs as it's a pain for:
- reproduce
- fix
- relaunch Sonar Analysis...

[2022-01-02 17:36] #17468 closed

[2022-01-02 18:15] mshima commented on #17324
Should be fixed in 7.5.0

[2022-01-02 18:15] #17324 closed

[2022-01-03 10:10] fbiville commented on #16315
Hello, thanks for your patience, this will be picked up soon.

[2022-01-03 12:15] atomfrede commented on #17425
I totally agree, loading the parent inside child service is ugly (tried it too). So maybe we can somehow decouple it with some spring events (or jpa events?).

[2022-01-04 01:07] vw98075 commented on #15744
The change I make for this matter is only on Vue. I have a look at Angular and React, but can't find the related code. As a result, I don't make the same code change for those two sets of front-end code.

[2022-01-04 03:59] mshima opened #17478 "Backend tests should not reuse unique keys."
##### **Overview of the issue**

At spring-boot v2.6.0 migration, reactive mongodb tests started having lots of random backend tests failures.
Those failures look driver related, but we can fix the failures by improving our tests and stop reusing unique keys like login and emails.

See https://github.com/jhipster/generator-jhipster/pull/16787.

##### **JHipster Version(s)**

main

##### **JHipster

[2022-01-04 05:34] atomfrede commented on #13390
Keep it open

[2022-01-04 05:54] pascalgrimaud commented on #13390
@atomfrede : I added the label work in progress

[2022-01-04 10:07] shakib04 commented on #7843
found this problem with Angular. I have added a key and message in global.json. but it shows **translation-not-found**

how can solve this?

[2022-01-04 12:36] vmartowicz opened #17487 "Unable to start microservice application with sleuth/zipkin enabled"
##### **Overview of the issue**

When zipkin maven profile is enabled on microservice application, unable to create taskexecutor bean.

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'liquibase' defined in class path resource [io/github/jhipster/sample/config/LiquibaseConfiguration.class]: Unsatisfied dependency expressed through method 'liquibase'

[2022-01-04 14:01] ko5tik opened #17488 "Implement new interfaces for ElasticSearch Entity indexing"
##### **Overview of the feature request**

Current logic for entity indexing:

[code]
Has a major flaw - it does not index  that is actually contained in database.   DTO coming from  REST layer may mot contain all the relations (which are managed by other entity)  and thus indexing result will not reflect actual data stored in database.

To overcome this situation,   indexing shall be performed ov

[2022-01-04 15:05] gmarziou commented on #7843
@shakib04 Please don't comment on a 3 years old closed issue. If you have a problem with current version open a new issue with all requested details.

[2022-01-04 17:04] ongrieh opened #17489 "Front end swagger-ui/index.html is not recognizing jhiPrefix correctly"
##### **Overview of the issue**

Since the update to Jhipster 7.5 it is not possible to use the OpenAPI UI if a custom jhiPrefix is used in the JDL file. The reason is that no authentication token is passed to the UI correctly.
![image](https://user-images.githubusercontent.com/45212418/148095838-0843bf5d-59f5-445e-8333-f26c18282044.png)

##### **Motivation for or Use Case**

Being able to use the

[2022-01-04 18:33] ongrieh commented on #17489
Hi @mshima, thank you for linking #17490. It truly looks as if it fixes this issue 😀

[2022-01-04 18:36] ko5tik commented on #17488
Actually I moved it out into separate service, so it does not collide with generated code when I have to regenerate - I am aware that special considerations shall be made when calling async methods and new transactions  on the same beans

[2022-01-04 20:24] #17489 closed

[2022-01-05 06:53] roh0sun opened #17497 "Generator failing with Cypress"
##### **Overview of the issue**

Generator fails when JWT, Cypress is selected.

##### **Motivation for or Use Case**

Can't apply 7.5.0 version to existing projects with Cypress.

##### **Reproduce the error**

[code]

##### **Suggest a Fix**

Could be fixed like below?

/generator-jhipster/generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs
[cod

[2022-01-05 09:49] mshima commented on #17497
That’s odd the variable is there:
https://github.com/jhipster/generator-jhipster/blob/587d7e014bae6b0e017ff8d55c6549858c3a5082/generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs#L29-L33

[2022-01-05 09:53] mshima commented on #17497
Ought it’s a node 16 only function.
https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/String/replaceAll
need to replace it for node >=12.20 compatibility.

[2022-01-05 12:52] #17497 closed

[2022-01-06 01:17] RDsideNow commented on #17100
Can this be reopened?

[2022-01-06 07:19] ko5tik commented on #17100
Can you look / supply  what is actually indexed in the elasticsearch?   Actual implementation performs indexing on the objects
coming from the rest  service,  and they may be not the   objects stored in your database.

I opened an issue :  https://github.com/jhipster/generator-jhipster/issues/17488

[2022-01-06 11:01] ko5tik commented on #17488
Additional improvement:  search repostory shall offer methods utilising  Query  ,  not only string query.

[2022-01-06 11:28] marcolafranca opened #17506 "cypress generator: code coverage error"
##### **Overview of the issue**

In JHipster wizard, if I enable cypress code coverage, then I get an error in project project creation.
![image](https://user-images.githubusercontent.com/29198466/148375175-5ae674ec-2bdb-4f5c-94e6-04bc299f71be.png)

[code]

##### **Motivation for or Use Case**

I think it may be a bug related to the cypress generator

##### **Reproduce the error**

Just launch the

[2022-01-06 12:03] RDsideNow commented on #16462
Can this be reopened?

[2022-01-06 13:00] mshima commented on #17506
You can use `--ignore-errors` and fix the generated code.

[2022-01-06 13:01] #17506 closed

[2022-01-06 19:45] pascalgrimaud opened #17509 "Update License to 2022"

[2022-01-06 20:05] pascalgrimaud commented on #17509
@jhipster/developers : the majority of main repo were updated.
I'm letting the respective stream leads to update their project (quarkus, kotlin, etc)

[2022-01-06 22:40] colameo opened #17512 "keystore not generated when project folder name has spaces"
##### **Overview of the issue**

the generation of the keystore is not working when project folder name contains spaces (see below).

##### **Reproduce the error**

- create a project folder folder with spaces
- cd <project>
- jhipster jdl ./mymodel.jdl

Welcome to JHipster v7.5.0
Application files will be generated in folder: **/Users/serano/Development/My Project With Spaces**
 _________________

[2022-01-07 05:22] sbouchex commented on #17245
keep open

[2022-01-07 18:37] mshima opened #17516 "Eclipse errors on commit with husky "env node no such file or directory""
##### **Overview of the issue**

Maybe an environment problem, but currently husky is erroring on eclipse making impossible to commit from gui.
We already have everything required on our project for husky.

##### **Motivation for or Use Case**

Better developer experience.

##### **Reproduce the error**

- Generate a jhipster project.
- Change something and try to commit.

##### **Related issues**

[2022-01-07 20:11] 99Farhan opened #17518 ""type": "https://www.jhipster.tech/problem/problem-with-message", "title": "Internal Server Error", "status": 500, "detail": "Cannot invoke \"de.almaphil.alpharepository.web.rest.UserSettingsResource.getMobilityConfigForUser(java.lang.Long)\" because \"this.userSettingsResource\" is null", "path": "/api/user/%7BuserId%7D/mobility-config", "message": "error.http.500""
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this

[2022-01-07 20:12] 99Farhan commented on #17518
pls help me with this
how to do i get data of two repository in a class

[2022-01-07 20:32] atomfrede commented on #17518
Can follow the issue template and provide the requested information? Otherwise no one will be able to provide any help.

[2022-01-08 07:18] #17509 closed

[2022-01-08 09:28] #17516 closed

[2022-01-08 11:55] codecholeric commented on #10552
@fabioportieri (Just stumbled over this, so I realize this is very old :wink:) That sounds strange, because if you did the refactoring suggested, then your OpenAPI implementations would reside within `web.rest` and thus wouldn't have any problems to call classes in `web.api.model`? Or did I just misunderstand?

I actually think the complaint is correct, the OpenAPI generated types are parts of the

[2022-01-08 12:03] codecholeric opened #17520 "Introduce more sophisticated ArchUnit architecture test"
##### **Overview of the feature request**

I was wondering if it would make sense to replace the predefined [ArchUnit test](https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/test/java/package/ArchTest.java.ejs) with one that is a little bit more sophisticated to give a better demo of what it can do. One thing that comes to mind would be to define a layered ar

[2022-01-08 12:13] pascalgrimaud commented on #17520
For your information, we have a complete Arch Unit Test for JHipster Lite project

See https://github.com/jhipster/jhipster-lite/blob/main/src/test/java/tech/jhipster/lite/HexagonalArchTest.java

These tests are used to respect the Hexagonal Architecture, so thanks so much for this wonderful project.

Then, I'm sure we can improve the one, generated by generator-jhipster

[2022-01-08 14:15] codecholeric commented on #17520
I can just create a PR with the above suggestion then to check if it passes on all environments or if there are technical components I overlooked (after all the combination of all possible generation options is pretty complex meanwhile as I found out when I tried to refactor the test infrastructure in the past :joy:)

In the end for any custom app it usually makes sense to extend these tests once

[2022-01-08 14:24] mshima commented on #17520
This would be a great start for v8.

[2022-01-08 15:03] pascalgrimaud commented on #17520
@codecholeric : I tried to do it in main generator-jhipster last summer but I was stuck by the complexity, so I gave up, and start from scratch with JHipster Lite.

That's the goal of JHipster Lite, to generate projects with Hexagonal Architecture. And the cool result is our coverage is at 💯% 😎

[2022-01-08 18:21] p-caetano commented on #17487
It seems related with https://github.com/spring-cloud/spring-cloud-sleuth/issues/2094.
Workaround here: https://github.com/spring-projects/spring-framework/issues/27844#issuecomment-1002866885

[2022-01-09 01:06] mshima commented on #17129
That’s the reason for public and admin user.
Public only exposes a few fields and is used for relationships.

[2022-01-09 14:48] vmartowicz commented on #17487
@p-caetano thanks for the response.
Should I understand I need to set the property spring.sleuth.async.enabled to false until spring fixes the bug?
Does it impact the generated jhipster microservice? (not yet tested on my side)

##### **Suggest a Fix**
For the first part of the current bug (zipkin version missing), the fix could be to add the zipkin dependency in the BOM I think?

[2022-01-10 11:50] #17512 closed

[2022-01-10 12:46] sbouchex opened #17529 "Upgrade H2 database to 2.0.206+"
##### **Overview of the issue**

A RCE has been reported on H2 database (see https://github.com/h2database/h2database/security/advisories/GHSA-h376-j262-vhq6), so an upgrade is needed

##### **Motivation for or Use Case**

RCE

##### **Reproduce the error**

see https://github.com/h2database/h2database/security/advisories/GHSA-h376-j262-vhq6

##### **Related issues**

##### **Suggest a Fix**

Upgr

[2022-01-10 13:46] ongrieh opened #17531 "swagger-ui fails to render using monolith application with service-discovery and jhipster-registry."
##### **Overview of the issue**

Swagger UI works fine with JHipster generated applications as long as no JHipster Registry is used. It seems that the `/management/jhiopenapigroups` provides an empty response. I am uncertain whether this is a JHipster Registry or a JHipster Generator issue. In the past JHipster Registry was always adjusted to updates of JHipster Generator.

##### **Motivation for

[2022-01-10 13:57] DanielFran commented on #17529
@sbouchex Not sure we can do the upgrade since it includes some breaking changes. See spring-projects/spring-boot#29200

[2022-01-10 14:14] pascalgrimaud commented on #17531
@ongrieh : not sure but I can be related to the migration from springfox to springdoc -> https://github.com/jhipster/generator-jhipster/pull/17194

[2022-01-10 14:57] ongrieh commented on #17531
Hi @pascalgrimaud, I agree to your assumption. The issue occurred after updating to version 7.5 and does not show for versions below. In addition time `/management/jhiopenapigroups` is newly introduced.
Regards

[2022-01-10 17:10] mshima commented on #17531
From the screenshot it's frontend related.
What browser are you using?
We are using Promise.allSettled: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/allSettled

[2022-01-10 19:12] mshima commented on #17531
There are 2 problems here.
1 - frontend should not fail to show the ui, in any case.
2 - jhipster-registry is failing to return the definition.

I could not reproduce your problem with default config, ex:
[code]
Looks like you have fine tuned timeouts.

In any case, for frontend:
I will create a PR improving errors.

For jhipster-registry:
v2 apis should be replace with v3 apis:
https://github.com

[2022-01-10 21:29] ascelineboullen commented on #13595
Thank you @pascalgrimaud for the message to stop the bot, I missed it! I had COVID and it was a little bit difficult this last weeks... 🙏

For the news: I I have not finished yet but I fixed some issues that you noticed me (illustration for example) and I'm working also on the responsive view. I will do an update soon (Probably this week end)! 😃

[2022-01-10 21:41] pascalgrimaud commented on #13595
oh no worry @ascelineboullen
Take care of yourself, it's more important than Open Source project.

There is no deadline in Open Source project, so take the time you need, really.

[2022-01-10 21:46] ascelineboullen commented on #13595
Thank @pascalgrimaud, I know, but now I'm ok, so I will be able to continue on it! 😄

[2022-01-10 22:45] ongrieh commented on #17531
Hi @mshima, I can confirm that the given configuration

`jhipster jdl --inline "application { config { baseName foo applicationType gateway authenticationType oauth2 }}"`
`npm run docker:others:up`
`./mvnw`

works fine and as expected. But the setting I am using is more like:

` jhipster jdl --inline "application { config { baseName foo applicationType monolith authenticationType jwt serviceDiscov

[2022-01-10 23:51] mshima commented on #17096
Completely fixed with https://github.com/jhipster/generator-jhipster/pull/17435

[2022-01-10 23:51] #17096 closed

[2022-01-11 08:15] atomfrede commented on #17035
It sound promising to have it in the html meta part. But I guess we loose the configuration via properties, while the question is if that is really needed.

[2022-01-11 08:24] pblanchardie commented on #12740
@pascalgrimaud FYI I opted for the replacement of `/admin/users/:login` with `/admin/users/:id` on both API and frontend for reasons explained above.

[2022-01-11 09:12] pascalgrimaud commented on #12740
@pblanchardie : I didn't follow exactly the discussion here. I decided to reopen all "stale" and "auto closed" tickets, so we won't hide any more these tickets

[2022-01-11 10:05] standors commented on #10031
is here stil some problem? I found out that the current generator generates code with distint enabled by filter parameter with name 'distinct'.
[code]

[2022-01-11 10:58] deepu105 commented on #15964
This is not supported by design, I think the prompt showing up could be a regression, when you disable i18n there shouldn't be a language selection prompt AFAIR. IMO its a lot of work to do this properly at the moment so unless someone is willing to con tribute this I think we wont do this

[2022-01-11 12:56] #16772 closed

[2022-01-11 13:11] vishal423 commented on #15399
I think we can close as node 16.x is now available with npm 8.x as default in CI and most of the packages are now migrated to the new lock version.

[2022-01-11 13:11] #15399 closed

[2022-01-11 13:13] vishal423 commented on #12697
Closing as the issue has been addressed.

[2022-01-11 13:13] #12697 closed

[2022-01-11 14:56] #17518 closed

[2022-01-11 14:56] deepu105 commented on #17518
please reopen after following the issue guidelines

[2022-01-11 14:59] deepu105 commented on #17384
for some more context, normal microservices with reactive gateway works fine with OAuth, its only with Istio there is issue.

[2022-01-11 15:08] deepu105 commented on #16945
We already have too many features and I don't think there is bandwidth for doing SSR as well

[2022-01-11 15:08] #16945 closed

[2022-01-11 15:14] deepu105 commented on #17487
@vmartowicz would you consider doing a PR to add version to BOM

[2022-01-11 15:26] deepu105 commented on #16917
providing those commands via npm is just a utility, which I personally don't even like, but its just a nicety and I don't think its worth adding a layer of code to make it cross-platform, if you are using this on windows you can easily fix it by changing the command so I don't think this should be fixed

[2022-01-11 15:26] #16917 closed

[2022-01-11 15:27] #16885 closed

[2022-01-11 15:29] #16879 closed

[2022-01-11 17:16] mshima commented on #15964
Let's keep this open.
Api to implement this is ready, just need to customize the templates:

Take:
https://github.com/jhipster/generator-jhipster/blob/980ca577b72a846208d2fec0d85267a995bc8e53/generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs#L27

`<p class="lead" <%= jhiPrefix %>Translate="home.subtitle">This is your homepage</p>`

Should be replaced by:
`<p clas

[2022-01-11 17:55] mshima commented on #17531
Another issue should be opened to generate jhipster-registry.

[2022-01-11 18:07] DanielFran commented on #16744
@pascalgrimaud I believe that we should share the bug bounty between me and @mshima, and open specific issues for the remaining projects.
What do you think?

[2022-01-11 18:14] mraible commented on #16772
I don't need any of the bounty. I already get paid to work on JHipster! ;)

On Tue, Jan 11, 2022 at 11:04 Daniel Franco ***@***.***>
wrote:

[2022-01-11 18:22] pascalgrimaud commented on #16772
No @DanielFran, claim 500$ -> @Tcharl and @mshima same claim. No share.
It's well deserved as it's a huge amount of work

[2022-01-11 18:24] pascalgrimaud commented on #16744
Same opinion than for Spring Boot 2.6
Claim the bounty, and @mshima can do the same. No need to share as it's a lot of work here too

[2022-01-11 18:26] DanielFran commented on #16772
Thanks @pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/60928

[2022-01-11 18:26] pascalgrimaud commented on #16772
@DanielFran : approved

[2022-01-11 18:28] DanielFran commented on #16744
Thanks @pascalgrimaud Bug bounty claimed: https://opencollective.com/generator-jhipster/expenses/60929

[2022-01-11 18:41] pascalgrimaud commented on #16744
@DanielFran : approved

[2022-01-11 21:42] sbouchex commented on #17245
The problem is also in the 7.5 version : Generated code is the same

[2022-01-11 21:57] #12344 closed

[2022-01-11 22:00] Tcharl commented on #17271
Bounty claimed here: https://opencollective.com/generator-jhipster/expenses/60950

[2022-01-11 22:00] Tcharl commented on #16772
Thank @pascalgrimaud , same here: https://opencollective.com/generator-jhipster/expenses/60950

[2022-01-11 22:12] #12341 closed

[2022-01-11 22:14] #14352 closed

[2022-01-11 22:38] #17245 closed

[2022-01-11 23:04] pascalgrimaud commented on #16772
@Tcharl : approved

[2022-01-11 23:55] nomuna commented on #17436
So I tried the following with the current version.

[code]
_21-points_mvn.jh_ is a file 21-points.jh where the build tool was set to maven.

The convent of the directory after the command is run is as follows

![skip_client_ignore_app_21_points](https://user-images.githubusercontent.com/14033335/149039592-037a15e4-eb53-46ba-948d-0207905bd8be.png)

So the functionality is "there". I can not imagine

[2022-01-12 08:33] pascalgrimaud commented on #17436
@nomuna : it depends on your needs and on your project:
- sometimes, you have Entities you don't want to expose in API
- it's not specially a good practice to expose the entity as this, you should always map to another object
- Rest Controller is not the only one input of your application, you can have Listener, CLI, etc

[2022-01-12 10:37] nickshoe commented on #17035
@atomfrede I propose to leave the CSP configuration as it is right now (properties + `SecurityConfiguration` class), but to only generate the related code when the user wants the client to be generated.

[2022-01-12 16:13] nomuna commented on #17436
So basically if you add another option to disable the rest stuff and repository stuff it would be enough, yes?

At the moment whoever needs this functionality could remove the rest/repository code. Not saying that the ticket does not make sense or anything. Just pointing out what is there and see how far I can go using the already available means so that what can and should be done is clarified.

[2022-01-12 16:18] pascalgrimaud commented on #17436
@nomuna : here some use cases

1st use case:
- init your project with Spring Initializr https://start.spring.io/
- add appropriate dependencies
- use JHipster to generate Entities and Jpa Repositories

2nd use case:
- existing Spring Boot project
- use JHipster to generate Entities and Jpa Repositories

So as discussed in the mailing list, we think it could be a great option to use the JDL in exis

[2022-01-12 18:17] vishal423 opened #17550 "On a slow internet connection, Okta/Auth0 JWK retrieval API fails with socket timeout"
##### **Overview of the issue**
The default timeout configured by Spring security is ~500ms. On a slow internet connection, it's rare to get the response within this threshold limit. Since JHipster supports Okta/Auth0 integration, it would be cool to provide an easy way to configure this.

Stack trace:
[code]

##### **Motivation for or Use Case**
I can't use Okta/Auth0 with JHipster

##### **Repro

[2022-01-12 18:39] nicoraynaud opened #17551 "JCenter repository dependencies causing failed build"
##### **Overview of the issue**

When generating a project (or building an existing one after a clean) using **gradle**, the build fails because some plugins are searched for on jcenter that returns an HTTP 502 bad gateway since recently (probably because of the decomissioning of their repo last year)

[code]

##### **Motivation for or Use Case**

Cannot generate and build a jhipster app anymore

[2022-01-12 18:55] mikereiche commented on #13544
Hi @pascalgrimaud - I see this has been reopened - but it looks like the couchbase tests are passing.  Please let me know if there is any other information.
https://github.com/hipster-labs/jhipster-daily-builds

[2022-01-12 19:47] pascalgrimaud commented on #13544
Yes, I reopen stale tickets, as they have been auto closed
As it's solved, I can close it. Thanks :-)

[2022-01-12 19:47] #13544 closed

[2022-01-12 20:20] julillosamaral commented on #17531
I just posted this here: https://github.com/jhipster/generator-jhipster/pull/17533#issuecomment-1011412546

As I said in that comment, the endpoint `/services/${service}/management/jhiopenapigroups` in my service is returning me a 404 Not Found.

I moved from jhipster 7.0.1 to 7.5.0.

Why the registry is involved in this? Isn't the open api definition on the microservice that serves the api or is

[2022-01-12 21:13] #16485 closed

[2022-01-12 21:15] julillosamaral commented on #17531
I bit more of insight.

After posting the last message I started watching the PR created that was migrating away from springfox.
I noticed the jhipster command didn't create the file `com.katalyst.config.OpenApiConfiguration` so I did it manually.

After adding that class with the code taken from the PR adding springdoc the application started failing with a bean injection exception so regenerated

[2022-01-12 22:31] pascalgrimaud commented on #16485
I'm removing the stale label, as it's solved

[2022-01-13 00:12] RDsideNow commented on #17100
Yea ill have to take a look but i think the issue is with the fe request to the backend.

[2022-01-13 00:13] RDsideNow commented on #17100
Only reason i say so is with the swagger ui i could successfully use the search feature. Just not from the list page with the search box

[2022-01-13 00:46] mshima commented on #17531
@julillosamaral `OpenApiConfiguration` isn’t required to have the swagger ui working.
Just the `application.yml` should be enough.

[2022-01-13 04:04] Zacorich commented on #16136
Seems like the best solution for time being.

[2022-01-13 08:21] ko5tik commented on #16136
It is definitely working,   have no idea how to add this atomatically

[2022-01-13 10:18] pblanchardie commented on #17115
@mshima being on Windows does not mean that we want files to be generated with CRLF. When git `core.autocrlf` is `false`, LF files are not automatically transformed to CRLF and I think it's better when everyone use LF both remotely and locally to avoid that kind of issue.

I did not check what have been done in the past to handle that in generator-jhipster, my 2 cents.

The specific problem mentio

[2022-01-13 18:19] DanielFran commented on #17551
It was an incident in gradle side: https://status.gradle.com/incidents/nv93msj8q658

[2022-01-13 18:25] nicoraynaud commented on #17551
Thanks for the status link.

it says it was also JCenter though

[code]

[2022-01-13 18:25] nicoraynaud commented on #17551
Thanks for the link !

[2022-01-13 18:36] Zacorich commented on #16136
Here is the official release of the feature that stopped using annotations that are still generated by jhipster(@JsonIgnoreProperities, @JsonIgnore etc) : https://spring.io/blog/2020/05/27/what-s-new-in-spring-data-elasticsearch-4-0  ;

Overriding Spring Data Elasticsearch or writing utility classes is a regress. Suggested fix of this thread is right path to go :

We can still keep older generated

[2022-01-13 21:18] nicolas63 commented on #13261
thanks @pascalgrimaud to reopen this issue, I am very interested to have this feature for the dotnet blueprint

[2022-01-13 21:26] nicolas63 commented on #15664
this problem can be closed I solved the problem a few months ago but now I have some errors after the 7.2 migration maybe you can help me ?

[2022-01-13 21:46] #15664 closed

[2022-01-13 21:49] pascalgrimaud commented on #13261
No problem, it's an auto reopen for all stale tickets
Not sure if someone wants to work on this

[2022-01-14 08:23] roh0sun opened #17565 "Vue client: userManagementService is not provided"
##### **Overview of the issue**

For Vue client, userManagementService is not provided for admin/user-management.

##### **Motivation for or Use Case**

Runtime errors occur in admin/user-management menu.

##### **Reproduce the error**

Create a new app as follow:
[code]

##### **Suggest a Fix**

New UserService added to entities.
But admin/user-management still use userManagementService.

##### *

[2022-01-14 08:54] vmartowicz commented on #17487
@deepu105 After more reading, I think the bug does not come from the BOM.
I think the zipkin maven profile in generated jhipster app should include the folowing dependency **spring-cloud-sleuth-zipkin** instead of **spring-cloud-starter-zipking** which was included in spring-cloud-sleuth-dependencies version 2.x but not in 3.x.
In this one it seems to be **spring-cloud-sleuth-zipki**.
So I think t

[2022-01-14 08:55] deepu105 commented on #17487
If you can test and confirm if it works then yes please update

Thanks & Regards,
Deepu

On Fri, Jan 14, 2022 at 9:54 AM Vincent MARTOWICZ ***@***.***>
wrote:

[2022-01-15 01:22] yhorndt commented on #17565
I've noticed this as well.
When you create a sample app via jhipster online and choose vue as the client side framework, all other functionalities work, but user management.
The refresh button just keeps turning and in the browser console the following errors will appear:
[code]

[2022-01-15 08:47] vishal423 commented on #17550
Thanks @bdemers for the suggestion. Unfortunately, it's not that straightforward as we use `JwtDecoders` to prepare the `NimbusJwtDecoder` and don't have control to override the rest operations to specify a timeout. There was a similar issue reported highlighting the inability to override timeouts in spring-projects/spring-security#10610 however, was closed with documentation reference listing sug

[2022-01-15 14:28] qmonmert commented on #17565
I confirm the bug @pascalgrimaud

[2022-01-15 15:30] pascalgrimaud commented on #17565
Adding a bounty as it's a confirmed bug

[2022-01-15 16:55] qmonmert commented on #16116
@pascalgrimaud there's not a compile warning on the main branch, we can close this ticket

[2022-01-15 17:22] qmonmert commented on #13774
@pascalgrimaud not reproduce today on the main branch

[2022-01-15 17:24] deepu105 commented on #13774
The ability lib was already replaced

On Sat, 15 Jan 2022, 10:52 pm Quentin, ***@***.***> wrote:

[2022-01-15 17:25] #13774 closed

[2022-01-15 18:03] #16116 closed

[2022-01-16 09:04] kristoflarcher opened #17570 "Cant create new entiry via UI"
You can close ticket

[2022-01-16 12:49] CarlosVallsCiscar opened #17571 "Browsersync not updating web after upgrading to 7.5.0 with Angular"
##### **Overview of the issue**
After updating my monolith app to 7.5.0 the hot reload has stopped working.

This message appears in the console every few seconds and the web is never updated:
[code]

##### **Motivation for or Use Case**
Main feature stops working.

##### **Reproduce the error**
I have created a new project and still have the same problem.

##### **Related issues**
Not found

####

[2022-01-16 13:32] #17570 closed

[2022-01-16 13:32] kristoflarcher commented on #17570
i solved this issue

[2022-01-16 16:57] qmonmert commented on #17571
@pascalgrimaud I confirm bug

[2022-01-16 17:37] pascalgrimaud commented on #17571
Adding a bounty as it's a bug

[2022-01-16 22:27] Tcharl commented on #17488
Why do you want the exact same content from a sql db and an elastic db?

Looks normal to have everything in a sql db (because it's relational so you can query any relation), but only the document (without relations) in a noSQL one.

If you really want it, be sure to have the exact same content as the DTO in the NoSql db, no more, no less, and to avoid cycling dependency.

Ex:
EntityA----*to1-relat

[2022-01-16 22:34] Tcharl commented on #17425
V8 could be the occasion to go modulith

[2022-01-17 02:37] roh0sun opened #17573 "Vue client: Web resource cache invalidation is not working"
##### **Overview of the issue**

After 7.4.1, Webpack output option doesn't includes contenthash filename.
So cache invalidation is not working.
Also missing in MiniCssExtractPlugin too.

##### **Motivation for or Use Case**

Cache invalidation is not working for Vue client apps.

##### **Reproduce the error**

Generate a new app with Vue client option.

##### **Suggest a Fix**

Need to declare co

[2022-01-17 02:47] mshima commented on #17573
@roh0sun looks like you know how to fix. Can you provide the PR?

[2022-01-17 03:00] roh0sun commented on #17573
I think I don't know how the Webpack works sufficiently.
Actually, I don't know anything about webpack.
I just pointed recent changes and Vue/React differencies.

[2022-01-17 07:30] ko5tik commented on #17488
My object model can be changed from the frontend,   and also  from some backend process.  SO DTO coming from the frontend does not necessary has all the proper data and relations.  When this DTO  is mapped to domain class,   and then passed to  elastic for indexing it will be out of sync with real  data model. So my proposed solution is  to perform index in a separate thansaction (read only and wi

[2022-01-17 08:29] ko5tik commented on #17488
Say, you  have kind of CRM.    There is conversation ( entity A )   which   has a lot  of phone calls ( entity B ) with own metadata.     And I definitely need to search for conversations   by phone numbers of those calls ( and other metadata ) -  so they ought to be in one document

[2022-01-17 12:48] #17571 closed

[2022-01-17 12:59] qmonmert commented on #17571
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/61430 ;)

[2022-01-17 13:00] pascalgrimaud commented on #17571
@qmonmert : approved

[2022-01-17 18:47] #17520 closed

[2022-01-17 22:59] ascelineboullen commented on #13595
For information, I updated the mockup: I fixed all the wording errors that you reported, thanks 😃 .

Next: I'm still thinking about your feedback on the structure of the pages (split the team part on another page, how to design the getting started, the news, etc...). In parallel I continue on the responsive version.

I will do another update soon !

[2022-01-18 08:50] vmartowicz commented on #17487
@deepu105 I m working on it

Regards
Vincent

[2022-01-18 09:25] taoyonggang commented on #17384
This bug isn't fixed at latest version.

[2022-01-18 10:33] jdubois commented on #13595
Thank you @ascelineboullen for your hard work!

[2022-01-18 13:33] pmverma commented on #17425
For v7, if there is no major concern I would like to go with solution2.
For v8 or future major versions, we still can have some other suitable solution.

[2022-01-18 17:53] #17565 closed

[2022-01-18 20:26] qmonmert commented on #17565
@pascalgrimaud https://opencollective.com/generator-jhipster/expenses/61550 ;)

[2022-01-18 20:27] pascalgrimaud commented on #17565
@qmonmert : approved

[2022-01-18 21:27] bdemers commented on #17550
@vishal423,
Were you able to confirm there were no network issues? (firewalls, proxies, etc)?

If your code is generated similar to this:
https://github.com/jhipster/generator-jhipster/blob/980ca577b72a846208d2fec0d85267a995bc8e53/generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs#L327-L342
You should be able to inject a `RestTemplateBuilder` (which supports ti

[2022-01-19 05:09] vishal423 commented on #17550
@bdemers, I don't see any issue with my network configuration (no proxy, Linux env). I feel it's network latency to reach out to Auth0/Okta endpoints from India on a decent Wifi connection.

I am trying to follow up with @jgrandja on this. So far it seems we need to rewrite most of the code ourselves to make it work. You can refer to https://github.com/spring-projects/spring-security/issues/10610#

[2022-01-19 12:30] SandraAhlgrimm opened #17612 "Add .devcontainers"
##### **Overview of the feature request**

Adding devcontainers will enable jhipster users to use GitHub Codespaces or VS Code with well configured out of the box.

A devcontainer.json file in your project tells VS Code how to access (or create) a development container with a well-defined tool and runtime stack. This container can be used to run an application or to sandbox tools, libraries, or ru

[2022-01-19 12:46] pascalgrimaud commented on #17612
It could be a good idea and it won't impact existing projects which don't use GitHub Codespaces, so it can be generated by default

@SandraAhlgrimm : can you post an example of this file?

[2022-01-19 15:00] OmarHawk opened #17613 "Incremental changelog doesn't remove *_content_type column on removal of an AnyBlob field"
##### **Overview of the issue**

We do have a schema, where there is a column with type AnyBlob in there. The application was initially generated using the --incremental-changelog flag.

The Entity looks initially like this (also can be reproduced with larger schemas of course):
`
entity DemoRouter {
   contentString AnyBlob
}
`

This initial schema looks like this in the liquibase changeset:
`

[2022-01-19 16:59] OmarHawk opened #17614 "Building (also a completely new) React based jhipster application is failing"
##### **Overview of the issue**

At the moment, an application that is completely newly set up using React as a frontend framework fails to build due to some changes in underlying libraries. This is the output with error that is produced during compilation:

[code]

##### **Motivation for or Use Case**

Build is failing.

##### **Reproduce the error**

Generate an application with React
Build via

[2022-01-19 19:38] idexxt2 commented on #17614
I confirmed (ran into this last night) that this also happens on the latest patched version of MacOS Monterey on an M1 MacBook Pro using several versions of Node/NPM (14.18.3, 16.13.1, 16.13.2).  I also experienced it on Mint Linux 20.3 and on a Windows 10 PC under WSL2 with Ubuntu.  I was able to make a freshly generated (and broken as described above) application work by comparing an existing ap

[2022-01-19 19:40] qmonmert commented on #17614
thanks @OmarHawk and @idexxt2 can you provide your .yo-rc.json file?

[2022-01-19 19:47] idexxt2 commented on #17614
`{
  "generator-jhipster": {
    "applicationType": "monolith",
    "baseName": "BrokenNodeTest",
    "jhipsterVersion": "7.5.0",
    "skipUserManagement": false,
    "skipCheckLengthOfIdentifier": false,
    "skipFakeData": false,
    "jhiPrefix": "jhi",
    "entitySuffix": "",
    "dtoSuffix": "DTO",
    "testFrameworks": [],
    "blueprints": [],
    "otherModules": [],
    "pages": [],
    "cr

[2022-01-19 19:48] qmonmert commented on #17614
thanks

[2022-01-19 19:55] DanielFran commented on #17614
We have actually same issue in "main" branch, it started yesterday I believe...

[2022-01-19 19:57] mshima commented on #17614
I think was fixed by https://github.com/jhipster/generator-jhipster/pull/17607.

[2022-01-19 19:57] qmonmert commented on #17614
@idexxt2 can you try to remove you node_modules and package-lock.json and start `npm install` with this package.json

[code]

[2022-01-19 19:58] qmonmert commented on #17614
@mshima yes it works in local, I re-started build ant it seems working

[2022-01-19 20:11] idexxt2 commented on #17614
@qmonmert  - yes, removing my node_modules directory and package-lock.json and using  package.json file provided above makes the app work.

[2022-01-19 23:28] #17531 closed

[2022-01-20 06:39] jonyhartron opened #17626 "Application hangs when hasAnyAuthority function is used multiple times on same page with different role :- VueJS"
Describe the bug
Using Vue as UI, the browser is getting hanged when using hasAnyAuthority function on multiple places on single vue page with different roles.

To Reproduce
Steps to reproduce the behavior:

Create jhipster monolith application using VueJS for frontend.
Go to jhi-navbar.vue file
Copy the line v-if="hasAnyAuthority('ROLE_ADMIN') && authenticated" and use this to somewhere else like

[2022-01-20 06:40] #17626 closed

[2022-01-20 06:42] jonyhartron opened #17627 "Application hangs when hasAnyAuthority function is used multiple times on same page with different role :- VueJS"
**Describe the bug**
Using Vue as UI, the browser is getting hanged when using hasAnyAuthority function on multiple places on single vue page with different roles.

**To Reproduce**
Steps to reproduce the behavior:

1. Create jhipster monolith application using VueJS for frontend.
2. Go to jhi-navbar.vue file
3. Copy the line v-if="hasAnyAuthority('ROLE_ADMIN') && authenticated" and use this to so

[2022-01-20 07:23] OmarHawk commented on #17614
Yes. Just increaing that version number and building freshly works.

[2022-01-21 11:05] Rajpratik71 opened #17639 "Google app engine deployment is failing while building package"
##### **Overview of the issue**

Google app engine deployment is failing while building package

[INFO] --- spring-boot-maven-plugin:2.5.8:repackage (default) @ xxxx-xxxxx ---
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  26.202 s
[INFO] Finishe

[2022-01-21 13:32] Zacorich commented on #16136
I followed following tutorial on how to configure Elasticsearch mapping that seems to be the official one: https://www.baeldung.com/spring-data-elasticsearch-tutorial . I noticed that org/springframework/data/elasticsearch/core/index/MappingBuilder.java:181 line where we ignore nested fields is called only during index creation and never during when MappingElasticsearchConverter does its work whic

[2022-01-21 13:48] JeroenAdam commented on #16136
A sidenote, I'm having the same issue with Jhipster v7.4.
Not only was I able to save my entity which contained values for two ManyToMany fields/entities, I could save again and again without the StackOverflowError, each time 200 response from frontend. I could navigate to all of my entities, save and resave. No StackOverflowError.
Awesome but when I get back to my application at a later time, the

[2022-01-21 14:42] ko5tik commented on #16136
Look at the data coming from the frontend to the backend ( and being saved indexed ) - there will be no loops actually,   because relations managed by other side are not transferred.  But when you load  your persistent entity and pass it  to search repository  all the relations will be initalised and you will get   your loops.

I have a pull request related to this problem in the works: https://gi

[2022-01-21 17:41] tomaytotomato opened #17640 "Jhipster Admin Interface - User Management unresponsive / errors Vue.js"
##### **Overview of the issue**

When logging into Admin interface, there are console errors when trying to Add new users or view users.

The UI then becomes unresponsive.

[code]

##### **Motivation for or Use Case**

I am just starting to use JHipster but it seems this is breaking the default Admin pages

##### **Reproduce the error**

1. Use JDL file below
2. Build locally in a folder `jhipster

[2022-01-21 17:42] tomaytotomato commented on #17627
I this this might be related to my issue?

https://github.com/jhipster/generator-jhipster/issues/17640

[2022-01-21 17:58] atomfrede commented on #17612
This should create a `.devcontainer.json` for the generated project and not development of jhipster itself, right?

[2022-01-21 18:11] Tcharl opened #17641 "Look at some Jhipster third party dependencies to sponsor"
You all know that Jhipster is well sponsored by backers and that this project is a lucky one.

Community may look at Jhipster third party dependencies that are struggling to find funds and sponsor them back.

Do you have some ideas regarding dependencies that are in this situation?
Please raise your hand if you are in that situation.

[2022-01-21 19:00] pascalgrimaud commented on #17641
I think about Mongock project -> https://github.com/mongock/mongock

See https://github.com/jhipster/generator-jhipster/pull/16787#issuecomment-1002700136

Cc @dieppa

[2022-01-22 00:38] networkinss opened #17643 "User admin kicked out trying to access Entity"
##### **Overview of the issue**

I made a complete new fresh installation with
a) registry
b) microservice app
c) gateway

 I could login with admin admin.
 I could reach every page except entity view.
 There was one entity created in microservice (apidoc) and re-generated by gateway.
 It was listed in the menu entry (showing link /apidoc).
 In the moment that I click the link "Apidoc", it shows t

[2022-01-22 13:49] mshima commented on #17640
Already fixed.
Duplicated of https://github.com/jhipster/generator-jhipster/issues/17565

[2022-01-22 13:49] #17640 closed

[2022-01-22 14:10] tomaytotomato commented on #17640
How do I get this fix? Thanks

[2022-01-22 14:52] dieppa commented on #17641
First of all thanks for this, @pascalgrimaud and @Tcharl. We(@oliver, @dhivesh and myself) really appreciate you taking Mongock into account for this.

The timing for this is great as we are actually working in adding our sponsorship model. We expect to have it available next week...Our  backlog is growing at pace and we are committed  to keep up with the market needs, grow the community of contri

[2022-01-22 14:59] ko5tik commented on #14840
Primary cause is  circular loop in object model - which was prevendet by @JsonIgnoreProperties before,    but new version of elasticsearch does not look for it at all.   I created a pull request for related issue ( https://github.com/jhipster/generator-jhipster/pull/17561 ) but there is no automatic handling of  object loops.   One solution would be to place @Transient on fields of entities which

[2022-01-23 03:55] deepu105 opened #17649 "Remove fake data or find an alternative for faker.js"
Since the faker.js library is no longer maintained we should either drop the feature or find alternative for v8

[2022-01-23 04:19] vishal423 commented on #17649
I believe there is an official fork of same. We should instead migrate to that in next minor/patch release

[2022-01-23 10:04] gmarziou commented on #17649
You mean this one? https://github.com/faker-js/faker

I just discovered this story, I'm glad JHipster pins exact versions to protect its users.

[2022-01-23 10:07] pascalgrimaud commented on #17649
Agree, that's why it's so important to use exact versions

[2022-01-23 17:52] #15869 closed

[2022-01-24 02:15] taoyonggang commented on #17384
The right solution is removing the auth fuction from code .And then add OPA config with Istio.

Ref:
https://istio.io/latest/blog/2021/better-external-authz/
https://medium.com/google-cloud/external-authorization-server-with-istio-1159b21682bb

[2022-01-24 04:13] deepu105 commented on #17384
Probably, but the gateway is able to login with OAuth and microservices
hence should be able to auth using JWT so maybe configuring OPA for that
could work without removing auth

Thanks & Regards,
Deepu

On Mon, Jan 24, 2022 at 7:45 AM taoyonggang ***@***.***>
wrote:

[2022-01-24 14:10] pgrabowski1 opened #17662 "HTTP 404 after second usage of endpoint in JHipster Control Center 0.5.0"
##### **Overview of the issue**

I'm using API tab in JHipster Control Center. When I use any of gateway endpoints for the first time I get HTTP 200. But when I use it or any other endpoint once again, I get the following response:

[code]

When I refresh the page I see the following error
[code]

Below I added request headers.

Successful header:
[code]

Failed header:
[code]

The only difference

[2022-01-24 15:13] OmarHawk commented on #17614
Closed - as this was fixed with the last release.

[2022-01-24 15:13] #17614 closed

[2022-01-24 15:21] mshima commented on #17640
@tomaytotomato use new 7.6.0 release.

[2022-01-24 15:59] SandraAhlgrimm commented on #17612
Yes. For the generated project. I am currently working on having one for the default options to discuss.

[2022-01-24 23:39] ozkanpakdil commented on #16498
Latest jhipster has SB 2.6.3 😃 watching this

[2022-01-25 21:09] DanielFran commented on #17649
Closed by https://github.com/jhipster/generator-jhipster/pull/17669

[2022-01-25 21:09] #17649 closed

[2022-01-26 06:55] assimbly opened #17677 "Release all sample projects"
Currently, some sample projects are releases and available as tags. For example:

https://github.com/jhipster/jhipster-sample-app/tags
https://github.com/jhipster/jhipster-sample-app-react/tags

Not all sample repositories are however released/taged. Would be nice to have all generated sample projects available as tags (for easily downloading old versions and scripting purposes).

[2022-01-26 07:17] assimbly commented on #17677
Note that this can part of the CI/CD pipeline, but also JReleales (https://jreleaser.org/) has options for this.

[2022-01-26 14:26] omoniyi24 opened #17678 "JDL Sample on https://www.jhipster.tech/jdl/applications"
##### **Overview of the issue**
The JDL generator fails when the code sample on the “Complete example breakdowns”  section of https://www.jhipster.tech/jdl/applications site is run.

##### **Motivation for or Use Case**
Thd JDL sample returns error below

[code]

##### **Reproduce the error**

Step 1: create a my_file.jdl
step 2: visit https://www.jhipster.tech/jdl/applications, find in page "Comp

[2022-01-26 17:50] SandraAhlgrimm commented on #17612
I am experimenting with a jhipster generated project with all settings left as default here:

https://github.com/SandraAhlgrimm/jhipster-sample-devcontainer/tree/main/.devcontainer

[2022-01-26 17:54] pascalgrimaud commented on #17612
Thanks @SandraAhlgrimm
It looks pretty simple and could be generated by default in generated JHipster projects

[2022-01-27 14:35] SandraAhlgrimm commented on #17612
Great. I'll go ahead and propose a PR

[2022-01-28 09:19] Tcharl commented on #13050
I guess this one is fixed: our ci doesn't throw any error on CI test

[2022-01-28 09:19] #13050 closed

[2022-01-28 13:19] mshima commented on #17678
Closes in https://github.com/jhipster/jhipster.github.io/pull/1189

[2022-01-28 14:32] pascalgrimaud commented on #17006
@Tcharl : it is similar to these tickets
- https://github.com/jhipster/generator-jhipster/issues/13365
- https://github.com/jhipster/generator-jhipster/issues/14678
- https://github.com/jhipster/generator-jhipster/issues/13833

First, using jdl + json only flag, then using jhipster entity with single entity should do the job

[2022-01-28 14:52] Tcharl commented on #16428
There's no 'login' attribute in your 'Grader' entity. The only solution is to link your 'TaskWatch' entity to 'User to get the login

[2022-01-28 14:52] #16428 closed

[2022-01-28 16:32] Tcharl commented on #17147
Hi,

Can you please use ticket formatting (sections) and post your entire JDL? e.g. containing the `RepetitionCycle`, `StudyGroup`, `Game` and `GameRecords` entities?

Thank you!

[2022-01-28 17:18] Tcharl opened #17691 "Using testcontainers for unit tests instead of h2 mem"
##### **Overview of the feature request**

This issue to get vote for moving all test from h2mem (if not selected as a dev database) to their respective testcontainers sql databases

##### **Motivation for or Use Case**

- Tests will be more accurate with the dev runtime environment
- Removing the h2mem dependency in poms
- Removing the 'testcontainers' spring profile in favor of their respective

[2022-01-28 20:33] vw98075 opened #17692 "Upgrage Error For 7.6.0"
##### **Overview of the issue**

I run into some trouble upgrading to the latest JHipster 7.6.0 on my project.

After having the latest version (by running "npm update -g generator-jhipster"), I run

[code]
to upgrade my project. And I get the following at the end of the process:
[code]
I follow the instruction and run
[code]
and have the following output:
[code]
Rerunning
[code]
with outcome:
[co

[2022-01-28 23:07] vw98075 commented on #17692
Close it for now. I missed one step during the upgrade.

[2022-01-29 00:01] vw98075 commented on #17692
The pom file is messed up.

[2022-01-29 00:01] #17692 closed

[2022-01-29 08:14] #13385 closed

[2022-01-30 03:49] smunoz2 opened #17694 "warning for java reserved words in jdl"
##### **Overview of the issue**

When I try to add an entity using the jdl feature I was getting the following error:

[code]

What I found is that I was using the a java reserved word <b>"native"</b> in one of my entities field. When I renamed the field to <b>"nativePeople"</b> it works.

##### **Motivation for or Use Case**

For me this is a bug because the stack error doesn't show a correct err

[2022-01-31 08:34] ManuelTS commented on #16318
I can confirm this issue with the following dependencies:

[code]
Where using the `maven-enforcer-plugin` version `3.0.0` causes the error and `3.0.0-M3` not. However, I don't get a warning within the git actions pipeline, but an error
[code]

[2022-01-31 12:50] #17147 closed

[2022-01-31 12:50] Simsal commented on #17147
7.5.0 Upgrade worked as expected

[2022-02-02 01:34] vw98075 opened #17743 ""Command failed with exit code 127: npm run clean-www" After Upgrading"
##### **Overview of the issue**

After upgrading the JHipster generator to the 7.6.0 version from the 7.3.1, I upgrade my project with the command
[code]
It took me near two days to walk through the process. I get the following error at the end.
[code]
Based on a suggestion on https://stackify.dev/551074-sh-1-rimraf-not-found-whenever-i-run-npm-run-build-within-vagrant-installed-o,  I add
[code]
i

[2022-02-02 11:09] CGarces opened #17756 "CRUD front-end not generated for embedded entity."
##### **Overview of the issue**

I'm using the "one-to-many relationship" sample for embedded entities as documented at https://www.jhipster.tech/managing-relationships/#embedded-entities-for-couchbase-and-mongodb

JHipster not generates the CRUD code for the embedded entity.

Just generate the code for "country", and "Region" is included in the model, but not used.

##### **Motivation for or Use

[2022-02-02 18:27] Ebsan commented on #7862
@cordial could you make that into a pull request? That looks good to me. Also, the property has changed to `spring.elasticsearch.rest.uris` I believe.

[2022-02-02 19:30] vishal423 opened #17757 "Architecture test failure with skip user management option"
##### **Overview of the issue**
If you generate a new application with skip user management option, then, the generated application has Junit test failure related to Architecture tests.
Refer build # https://github.com/jhipster/generator-jhipster-svelte/runs/4917371747?check_suite_focus=true#step:13:577 for error details

Refer JDL at https://github.com/jhipster/generator-jhipster-svelte/blob/main

[2022-02-02 20:21] mshima commented on #17757
Removing the service layer from the ArchitectureTest can be problematic, since it's possible to add an entity with service on an existing project.
@codecholeric is there a way to ignore empty groups?

[2022-02-02 20:35] brandonfl opened #17758 "Add possibility, during the generation, to embed Keycloak into spring"
##### **Overview of the feature request**

For the default OpenID Connect server that is Keycloak, I see that it was possible to embed a Keycloak server into Spring.
Here is the article related : [https://www.baeldung.com/keycloak-embedded-in-spring-boot-app](https://www.baeldung.com/keycloak-embedded-in-spring-boot-app)

I think it can be a good addition for people using, for example, monolithic

[2022-02-02 21:07] cordial commented on #7862
Since i wrote that I came to try to actually try running Elasticsearch with mongo/react in JHipster. There seemed to me a lot more steps needed than what is written above to get it up and running with entities indexed (and reindexing). There is the reindexer add-on, but that is written for Angular and SQL type DBs, and I couldn't really work out how to modify it to fully work. It also produced cod

[2022-02-02 21:12] Ebsan commented on #7862
Yeah, I agree it needs a lot of work. I'm going through the same issues you're going through and I'm updating the reindexer module right now to work with the correct version of spring data elasticsearch. I may release a new version since the current one isn't being maintained (https://www.jhipster.tech/modules/marketplace/#/details/generator-jhipster-elasticsearch-reindexer).

I don't know what th

[2022-02-02 21:48] cordial commented on #7862
ok. I do have some code that 'nearly' works that I could send you if you need 'help'. But again, I'm using React/Mongo, which I imagine you arent.

[2022-02-02 22:14] Ebsan commented on #7862
Yeah that would be very helpful, thank you. How would you like to send it?

[2022-02-02 22:42] cordial commented on #7862
[code]

[2022-02-02 22:44] cordial commented on #7862
i had a lot of issues with the no of shards/replicas and how to set them properly.

[2022-02-03 05:46] mraible commented on #17758
I'm not sure this is a good idea. It would prevent an app from switching to another OIDC provider. If it's possible to configure it AND still allow switching to another provider, I'll consider it.

[2022-02-03 05:56] mraible opened #17774 "Fix deprecated property that allows circular references"
##### **Overview of the issue**

When upgrading to Spring Boot 2.6, we had to set the following properties. I believe the former (`allow-bean-definition-overriding`) was already there and might be necessary. The second one that allows circular references seems like a bug.

[code]

##### **Motivation for or Use Case**

When trying to upgrade Spring Native with the latest release, I received this er

[2022-02-03 11:25] mshima commented on #17743
Npm repository is missing.
You should run `npm install`

[2022-02-03 11:25] #17743 closed

[2022-02-03 11:52] mshima commented on #17677
We would need to create workflows to do that.

[2022-02-03 14:16] OmarHawk opened #17775 "TechnicalStructureTest failure due to access to ApplicationProperties"
##### **Overview of the issue**
Hi,

I just updated from 7.5.0 to 7.6.0.

When building my application, a generated test runs to perform a TechnicalStructureTest. This one complains about access to

`layer 'Config' ('..config..')`

which is forbidden from anywhere.

`where layer 'Config' may not be accessed by any layer`

But since the auto-generated (and by me filled with life) config file `Appli

[2022-02-03 14:22] Akuka opened #17776 "The filters / criteria are no longer supported in Swagger (Spring Docs)"
##### **Overview of the issue**

The filters / criteria are no longer supported in Swagger (Spring Docs)

This is how it was at JHipster v7.4.1 (and in the official docs https://www.jhipster.tech/entities-filtering/)
![image](https://user-images.githubusercontent.com/3299903/152358448-c9c6e996-10b7-4e80-bb93-2b007710e0c6.png)

This is how it looks like at JHipster v7.5.0 or v7.6.0:
![Screen Shot 2

[2022-02-03 14:27] pascalgrimaud commented on #17776
I can confirm the issue

[2022-02-03 14:46] OmarHawk commented on #17775
Btw. whitelisting the ApplicationProperties with a file "archunit_ignore_patterns.txt" within the src/main/resources folder containing

`.*ApplicationProperties.*`

serves as a workaround for now.

[2022-02-03 14:46] Akuka opened #17777 "Ribbon missing on dev profile"
##### **Overview of the issue**

Ribbon missing on dev profile

JHipster v7.5.0 and lower:
![image](https://user-images.githubusercontent.com/3299903/152363376-7e3d2136-a2d6-4b6c-b839-2a0ec50d57ff.png)

After upgrade to JHipster v7.6.0:
![image](https://user-images.githubusercontent.com/3299903/152365568-ab41a1ef-1418-412c-87fa-0e473cbf831d.png)

##### **Motivation for or Use Case**

##### **Repro

[2022-02-03 15:18] Tcharl commented on #17436
Hello,

If you implement it, please keep in mind the discussion we had here: https://github.com/jhipster/generator-jhipster/issues/14416

IMHO inclusive options will fix one pain point we'll face in regard to exclusive syntax

[2022-02-03 15:22] pascalgrimaud commented on #17436
I don't plan to implement it and not sure if we should do it.
I can play with git, by reverting some part I don't want, and it should do the trick

[2022-02-03 18:26] #17777 closed

[2022-02-03 19:05] mshima commented on #17776
Adding `@org.springdoc.api.annotations.ParameterObject` should be the fix and works, but springdoc is failing to determine the generic type.

[2022-02-03 19:49] assimbly opened #17782 "Release data on the release page"
Currently, the various releases are listed on: https://www.jhipster.tech/releases/

The release date can be found out from the URL: **https://www.jhipster.tech/2022/01/23/jhipster-release-7.6.0.html**

Would be nice if that date is also on the release page as well (I saw the release date only a second look).

[2022-02-03 22:03] indiepopart opened #17785 "Elasticsearch exception No mapping found for [date.keyword] in order to sort on"
##### **Overview of the issue**

Search for entities that had paginate in the JDL, after sorting by date, fail with the following exception:

[code]

##### **Motivation for or Use Case**

In entities that had `paginate`in the JDL, after sorting the table by a non-text field, subsequent search fails, as the query builder assumes the sort field has multi-field mapping, and has a keyword field for so

[2022-02-03 22:16] yshaoliang opened #17786 "SQL syntax errors such as "SELECT... LIMIT 0,20 WHERE id = 1" will result"
1. About "sqlrenderer.Render(select)"" missing query for where clause
In EntityManager.java:
public String createSelect(Select select) {
	return sqlRenderer. render(select); //  Marked here as [1]
}
The "where" attribute in the select object has the value "WHERE id = 1", but "return sqlrenderer.Render(select);" Where in the returned string is missing.

2. SQL syntax error caused by:
RowsFetchSpec<

[2022-02-04 02:15] codecholeric commented on #17757
@mshima there is a method `optionalLayer(..)` (see https://www.javadoc.io/doc/com.tngtech.archunit/archunit/latest/com/tngtech/archunit/library/Architectures.LayeredArchitecture.html#optionalLayer(java.lang.String) ). If you define the layer this way it may be empty...

[2022-02-04 02:27] mraible commented on #17271
This still happens with JHipster 7.6.0.

[code]

Steps to reproduce:

[code]

[2022-02-04 06:12] bytejan opened #17790 "SpringDoc migration broke compatibility with OpenAPI Specification v2.0"
**Overview of the issue**

Since jhipster 7.5, the api first code generation does not work anymore since it uses swagger annotations that are not recognized by springdoc, for example ApiModelProperty

##### **Motivation for or Use Case**

Right now it is not possible to create an api first application.

##### **Reproduce the error**

1) Create a clean jhipster application (7.5 or 7.6), and select

[2022-02-04 09:01] mheidt commented on #16710
The issue is  the "required" of the @id field in the .jh file.
In former projectes we didn't define the id, so that jhipster was generating them by itself.
But having the @id defined ourselves as required, the DTO object gets a @NotNull id, which mustn't be as this object is passed in the POST and is rejected by the @Valid.
Only the PUT has an id already.
The best would be, if jhipster is not sett

[2022-02-04 11:16] #17786 closed

[2022-02-04 11:34] sdeleuze commented on #17271
Is this issue native specific?

[2022-02-04 14:06] mraible commented on #17271
Yes, it works fine when I run the app using `mvn spring-boot:run` or using my IDE.