[2016-03-04 14:46] fraf commented on #3080
![no_graphic](https://cloud.githubusercontent.com/assets/17450381/13530162/4ba48c44-e220-11e5-82c4-b0b17dac528d.jpg)

[2016-03-04 14:51] jdubois commented on #3080
Did you try `npm install` and `bower install`?

[2016-03-04 14:53] fraf commented on #3080
no. But normally the yeoman-maven-plugin do it when I simply do :
mvn clean package
or
mvn spring-boot:run

[2016-03-04 14:55] jdubois commented on #3080
OK, but maybe you had some kind of network issue and didn't see it in your logs. Can you try the commands?

[2016-03-04 15:02] fraf commented on #3080
I found the bug :) : the faulty is gulpjs !
I regenerated the application with grunt like in v2.27.0 generator.
And then all is working fine like first time.

[2016-03-04 15:07] #3080 closed

[2016-03-04 15:50] jdubois commented on #3075
I'm testing this

[2016-03-04 16:07] gmarziou commented on #3046
@jdubois and @PierreBesson, any comment?

[2016-03-04 16:41] jdubois commented on #3046
I didn't know about this configuration, so my opinion is probably not very good.
For me, using `${eureka.instance.appname}` looks easier: no extra configuration, and the name can be easily found

[2016-03-04 17:08] jdubois commented on #3075
Lost one hour because your rememberme key was empty :-(
And could not reproduce, it just worked out of the box...
Can you try it on the "devbox" with a fresh project, and explain what you did? Because you obviously did something else.
I'm closing this as I could not reproduce.

[2016-03-04 17:08] #3075 closed

[2016-03-04 17:24] jdubois commented on #2948
Hi guys,

I'm sorry I didn't have time to look at this earlier. I will study this
over the week-end.
But if it's too buggy to use Undertow, let's not make the whole JHipster
3.0 release at risk for it. Tomcat still works very well, so in case of
doubt we will stick to Tomcat.

Julien
Le 4 mars 2016 3:44 PM, "rksanket" <notifications@github.com> a écrit :

[2016-03-04 17:28] notflorian commented on #2948
I found this in the spring boot documentation : http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-developing-web-applications.html#boot-features-spring-mvc-static-content

Maybe there is a bug with the root of the ServletContext on Windows with Undertow, can we put the static ressources in a directory `static` at the root of the war?
Or we can customize the location with

[2016-03-04 17:29] PierreBesson commented on #3046
I agree that something should be done as the current situation is only a workaround.
I think replacing baseName by eureka.instance.appname or spring.application.name is not enough because the "route path" can be configured to be different than the app name. For example:
[code]
This is an use case that we want to support.

I like the Zuul filter solution as in the end, only the gateway knows about

[2016-03-04 17:38] PierreBesson opened #3082 "[FEATURE] Add centralized monitoring for microservices"
Following this [thread](https://groups.google.com/forum/#!topic/jhipster-dev/v3VphFzI9jA) on the JHipster mailing list, I successfully managed to integrate metrics into the application logs and have them shipped to ELK. So I would like to propose a PR for this if you are OK with it.

I used dropwizard's Slf4jReporter on the advice of @cbornet and then used the logstash socket forwarder I recently

[2016-03-04 17:42] gmarziou commented on #3046
I'd like also to review the API routes as discussed here: https://groups.google.com/forum/#!topic/jhipster-dev/krdM25gyj6k

[2016-03-04 17:46] gmarziou commented on #3082
It looks really promising

[2016-03-04 17:56] PierreBesson commented on #3082
It should be discussed if my approach of using logstash-logback-encoder is better than [elastic/elasticsearch-metrics-reporter-java](https://github.com/elastic/elasticsearch-metrics-reporter-java). Both collect the same dropwizard metrics. My solution has the advantage that it is using the same socket to send logs and metrics. Also it is already enriching the logs to add the appname, instanceId, h

[2016-03-04 19:08] deepu105 commented on #3080
i think its cox of some path issue we need to make  patch relese

Thanks & Regards,
Deepu

On Fri, Mar 4, 2016 at 11:07 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-04 19:46] pascalgrimaud commented on #2948
thanks @rksanket and @notflorian
So finally, this command works for Windows users: `java -jar jhmysql-0.0.1-SNAPSHOT.war --spring.resources.static-locations=classpath:/`

[2016-03-04 20:08] notflorian commented on #2948
Yes, but by doing so we can access with a simple HTTP GET unprotected ressources like : `http://localhost:8080/org/springframework/boot/loader/Launcher.class`.

For me, it would be more secure to have all static files in a single directory.

[2016-03-04 20:10] pascalgrimaud commented on #2948
Of course, using my command above is not the solution !!
I just wanted to confirm the classpath issue ;)

[2016-03-04 20:33] erikkemperman commented on #2948
Progress, yay!

I'll rebase my [PR](https://github.com/jhipster/generator-jhipster/pull/2945), which was blocked by this issue but perhaps, reading the above, it might end up helping in some small way to resolve it.

Give me an hour or so, I'm not at a decent computer right now and there are some conflicts, looks like they're due to the gulpfile having been shuffled in recent commits to master.

U

[2016-03-04 21:29] erikkemperman commented on #2948
All right, I've rebased that PR.

If you change following line in the generated gulpfile:
[code]
into
[code]
then `mvn -Pprod package` will leave the static assets in `[war-root]/static/`, and hopefully it works without the commandline classpath argument.

But in my opinion this would be an ugly workaround for what is basically an upstream bug. It also doesn't address the issue for -Pdev builds, a

[2016-03-04 21:40] cbornet commented on #2661
I propose to close and follow issues and feature requests in the module.

[2016-03-04 23:11] bytor99999 opened #3083 "[FEATURE] Entity Search Component for Related objects"
##### **Overview of the issue**

Currently on Many To One relationships the UI generates a nice drop down with the first page of data of the associated Entity type. However, as applications get more and more data, the drop down cannot include all the possible values. Typically, in an application you might have the drop down allow typing to do a search of possible values.

##### **Motivation for or

[2016-03-05 01:33] deepu105 commented on #2948
That seems good, i wont have time today so ill check this first thing in
the morning

If it works we can merge and close this finally
On 5 Mar 2016 05:29, "Erik Kemperman" <notifications@github.com> wrote:

[2016-03-05 01:35] deepu105 commented on #2661
Ok
On 5 Mar 2016 05:40, "Christophe Bornet" <notifications@github.com> wrote:

[2016-03-05 01:42] deepu105 commented on #3083
We already include ui bootstrap which has an autocompletion component which you can easily use for this. Or you can use ui-select or something similar as well.

We will not be doing it as default at this point our hands are quite full already. If you want you can propose a PR and we will see if it can be integrated

[2016-03-05 01:42] #3083 closed

[2016-03-05 01:43] deepu105 commented on #2988
Guys does this need more work or can we close this

[2016-03-05 01:46] deepu105 commented on #2933
I use babun with oh my zsh as well so let me see if it works there

[2016-03-05 02:35] bytor99999 commented on #3083
Thanks. Now if I could get that working again. ;)

[2016-03-05 03:38] dscowan commented on #3075
Sorry about the rememberme.  That was suggested in the bug posting comments =).   I created a new project to test this and am seeing the same results. Here is the log from project creation

        ██  ██    ██  ████████  ███████    ██████  ████████  ████████  ███████
        ██  ██    ██     ██     ██    ██  ██          ██     ██        ██    ██
        ██  ████████     ██     ███████    █████

[2016-03-05 03:41] dscowan commented on #3075
I also see the same doing ./gradlew test

[2016-03-05 04:59] deepu105 commented on #3083
But only if you could get the ui bootstrap directive working else we can't
add another dependency for this

On Sat, 5 Mar 2016 10:35 am Mark Spritzler, <notifications@github.com>
wrote:

[2016-03-05 08:22] jdubois commented on #3075
Oh for the rememberme key it was me being stupid, I should have spotted this earlier!
I don't know what to do with your issue as I can't reproduce it... Are you using a specific Java version, what is your OS?

[2016-03-05 08:26] jdubois commented on #2988
Yes @PierreBesson is going to work on this next week.
My new idea is that we could have our own Docker Compose Generator:

- You run it from your parent directory, and it scans through all the JHipster apps it can find
- It prompts you with a list of applications, and you select the ones you want
- Then it does a Docker Compose v2 configuration, adding the registry and ELK (optional)

So then you

[2016-03-05 08:34] jdubois commented on #3082
- I'd rather have only one ELK for everything, and not an ELK stack and a Graphite/Grafana. This looks easier to set up and use.
- As you have a solution for alerting, then ELK doesn't have any big drawbacks
- With your approach you can directly send the right data to the socket: that seems much more efficient to me, and as we are going to send a lot of data, this is very important

So for me this

[2016-03-05 08:40] cbornet commented on #3075
@dscowan are you sure that you're using the tagged generator : you say you use 2.27.1 but in your logs it's 2.27.0

[2016-03-05 08:56] cbornet commented on #3082
+1

[2016-03-05 09:03] cbornet commented on #3082
@PierreBesson is your logstash conf only available for micro services ? Because it is certainly interesting to have the monitoring also for monoliths.

[2016-03-05 09:33] deepu105 commented on #2988
That sound nice
On 5 Mar 2016 16:26, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-05 09:43] deepu105 commented on #3082
Kirbana looks cool so +1 from me
On 5 Mar 2016 17:03, "Christophe Bornet" <notifications@github.com> wrote:

[2016-03-05 14:14] deepu105 commented on #2965
if its too much trouble lets not do this now and lets do it sometime later as a minor release

[2016-03-05 14:17] deepu105 commented on #3014
I would assume that people might use rate limiting as a production option and in that case should have a Cassandra instance setup anyway so if someone wants to try out in dev as well they would setup an instance I guess

[2016-03-05 14:20] deepu105 commented on #2948
may be we should stick to tomcat for now and its more stable anyway. we can try to move to undertow sometime later after ironing out all these issues

[2016-03-05 14:39] #2964 closed

[2016-03-05 14:40] deepu105 commented on #2964
@pascalgrimaud I have fixed this can you check.I guess there might not be much of a duplicate key issue in real usage what do you think?

[2016-03-05 15:35] pascalgrimaud commented on #2964
Thanks @deepu105 : I will check it! But with your modifications, it will limit duplicate key

[2016-03-05 15:50] gmarziou commented on #2948
+1 for Tomcat

[2016-03-05 18:14] jdubois commented on #3014
Yes it was only to help with the "dev" profile, but now that we have Docker everywhere this isn't useful anymore.

[2016-03-05 23:15] pascalgrimaud commented on #2964
I made some comments on your commit : https://github.com/jhipster/generator-jhipster/commit/0c89a18d999d2678ec9c7d7085328eaf931e85aa

But honestly, I spend a couple of hours on this, and there is no real solution to avoid duplicate keys with really long entities : https://github.com/pascalgrimaud/generator-jhipster/tree/check-installation-java8/travis/samples/app-default-from-scratch/.jhipster

So

[2016-03-06 02:03] deepu105 commented on #2964
Yes those would be very rare edge cases and we can just document that for
users to change manually
On 6 Mar 2016 07:15, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-03-06 05:30] zia13 opened #3086 "CSS is not loading properly"
When application is run, then UI is not seems ok. May be there are some problems during css loading.
I thought I couldn't generate successfully. But I tried several times and get same problems always.
*Please check my attached image.

![ui problem](https://cloud.githubusercontent.com/assets/3162490/13552457/bb019c20-e38e-11e5-8b89-e907a0afbf63.PNG)

[2016-03-06 07:05] deepu105 commented on #3086
you havent followed our [issue guidelines](https://github.com/jhipster/generator-jhipster/issues/new?body=*%20**Overview%20of%20the%20issue**%0A%0A%3C!--%20if%20an%20error%20is%20being%20thrown%20a%20stack%20trace%20helps%20--%3E%0A%0A*%20**Motivation%20for%20or%20Use%20Case**%20%0A%0A%3C!--%20explain%20why%20this%20is%20a%20bug%20for%20you%20--%3E%0A%0A*%20**JHipster%20Version(s)**%20%0A%0A%3C!--

[2016-03-06 07:05] #3086 closed

[2016-03-06 07:13] deepu105 opened #3087 "Registry sub generator"
What should be our recommended approach to get the registry for development? should it be
1. cloning the repo and running it locally
2. get the docker image and run it
3. get from maven central

I guess option 2 is pretty much done but if option 1 and 3 are also recommended then it might be worth providing a sub generator `yo jhipster:registry` which would download the repo and set it up for devel

[2016-03-06 08:34] pascalgrimaud commented on #3087
Option 1 is just 3 commands:
[code]
I don't think it is worth to write sub generator to do it

Option 2 is already done at [Docker Hub](https://hub.docker.com/r/jhipster/jhipster-registry/)

About Option 3, I don't see how it is supposed to be integrated and launched with gateway / microservice app.

[2016-03-06 08:44] jdubois commented on #3087
Hi,

Doing a sub-generator is overkill, we have everything working as a runtime
without anything to generate

Now for your 3 questions:

1. cloning the repo and running it locally -> it already works, and it
works like any other JHipster application, so that will work for everyone
2. get the docker image and run it -> it already works, and for me it's
easier than option 1, if you have Docker runni

[2016-03-06 10:48] deepu105 commented on #3087
Fair enough

[2016-03-06 10:48] #3087 closed

[2016-03-06 13:06] jdubois commented on #2933
OK, I lost a couple of hours on this:

- It's in fact quite stupid, it just adds the auto completion to your `.bash_profile` or `.zshrc`. So nothing magical, it just works as usual, and it's not portable.
- I tried to do it with Omelette, doing a specific "jhispter:autocompletion" sub-generator for that -> so it added a line to my `.zshrc` that broke my oh-my-zsh configuration. I could not log in

[2016-03-06 13:48] jdubois commented on #2933
I'm closing this as it's very low priority and can cause big issues, so let's not focus on this.

[2016-03-06 13:48] #2933 closed

[2016-03-06 13:50] jdubois commented on #2948
OK, lots of time wasted here, and we need to move on -> let's go back to Tomcat

[2016-03-06 13:54] jdubois commented on #2948
So I reverted the commit: https://github.com/jhipster/generator-jhipster/commit/6f101fae3ce10d014eec7c7fa80eb7187424cb65

[2016-03-06 13:58] #2948 closed

[2016-03-06 14:09] jdubois commented on #2661
So let's close this :-)

[2016-03-06 14:09] #2661 closed

[2016-03-06 14:11] jdubois commented on #2965
Yes this looks tricky to me, and I don't want to take risks now.

Can we put it as a tip first, on http://jhipster.github.io/tips/ -> @wmarques can you do this in our "3.0" branch on the website?

And then, after our 3.0 release, in a couple of months, let's open this again and work on it again.

[2016-03-06 14:11] #2965 closed

[2016-03-06 14:13] rksanket opened #3089 "Swagger UI missing with Gulp"
##### **Overview of the issue**

With gulp, swagger API UI does not show up.

##### **Motivation for or Use Case**

We need swagger API to show up irrespective of gulp or grunt

##### **JHipster Version(s)**

2.27.1 latest

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
[code]

##### **Browsers and Operating System**

All browsers, Win7

##### **Reproduce the e

[2016-03-06 14:20] jdubois commented on #3089
I see you are running with "prod" profile -> this is normal, by default Swagger is only available in "dev" profile, for security reasons (and this is documented somewhere!). You can remove the @Profile on the Swagger configuration so it works on both profiles.

[2016-03-06 14:20] #3089 closed

[2016-03-06 14:38] deepu105 commented on #2933
yes you are right I lost couple of hours to find out that it doesnt work in
windows as well.
And you are right its too complicated compared to the value it gives so ya
lets not waste time on this.

Thanks & Regards,
Deepu

On Sun, Mar 6, 2016 at 9:48 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-06 14:45] deepu105 commented on #2965
There is a tip on our site already for this. May be @wmarques
<https://github.com/wmarques> can update that

Thanks & Regards,
Deepu

On Sun, Mar 6, 2016 at 10:11 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-06 14:54] deepu105 commented on #3086
btw check closed issues before opening new as well https://github.com/jhipster/generator-jhipster/issues/2993

[2016-03-06 14:54] deepu105 commented on #3080
related to https://github.com/jhipster/generator-jhipster/issues/2993

[2016-03-06 14:55] deepu105 commented on #3076
@pascalgrimaud do we have to update the cache repo

[2016-03-06 15:00] pascalgrimaud commented on #3076
The cache repo is not mandatory, it's just to speed up the build.
I recently update this, so it should be good for now

[2016-03-06 15:25] vivekmore commented on #2855
Good point @cicoub13 !
In that case I'd like to vote for keeping Twitter

[2016-03-06 15:30] deepu105 commented on #3076
Ok
On 6 Mar 2016 23:00, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-03-06 17:45] gmarziou commented on #2785
nomnoml seems to target only UML class diagrams.

I went for ASCII art using [asciiflow](http://asciiflow.com) and [Ditaa](https://github.com/stathissideris/ditaa).

The benefits I see are:

- ASCII art diagram could be inserted in README.md of Registry and Gateway
- generated image for http://jhipster.github.io/

<pre>
                                                  +--------------+

[2016-03-06 17:46] pascalgrimaud commented on #2785
beautiful !

[2016-03-06 17:50] gmarziou commented on #2785
Thanks.
I thought that may-be we could use color to indicate docker containers we provide: registry and ELK.

Also ELK could be detailed in its 3 components.

[2016-03-06 19:07] jdubois commented on #2785
Great, indeed! I've been doing the same one with Keynote, but here it must be easier to generate a custom diagram, and of course version it.

[2016-03-06 19:14] jdubois commented on #2855
OK, so in that case it looks logical to keep Twitter, and I'm closing this.

[2016-03-06 19:14] #2855 closed

[2016-03-06 22:56] gmarziou commented on #2785
Here is another version using blue for Dockerized components and detailing ELK.
Not sure which one is better.

![jhipster 3 0 architecture](https://cloud.githubusercontent.com/assets/361007/13557803/12e52ce6-e3f7-11e5-808b-eed115c3e264.png)

[2016-03-07 01:07] deepu105 commented on #2855
But still if current twitter setup is broken someone has to apply the
workaround fix I guess
On 7 Mar 2016 03:14, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-07 04:48] RGFnaGFuIEd1bmF5 opened #3092 "Liquibase couldn't find changelogs"
When i change this "classpath:config/liquibase/changelog/.."  path into this "src/main/resources/config/liquibase/changelog/.." its running very well.

[2016-03-07 04:54] deepu105 commented on #3092
@RGFnaGFuIEd1bmF5 please follow our issue [guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue).
Im unable to make out what is your problem and what you are trying to do

[2016-03-07 04:54] #3092 closed

[2016-03-07 05:04] deepu105 opened #3093 "Fonts and Images are not revisioned during gulp build"
With our grunt build we used to revision the images and fonts as well but with our current gulp build it doesnt seem to be the case.

Does the images and fonts need to be versioned? They would change very rarely in most of the cases

[2016-03-07 06:37] pascalgrimaud opened #3094 "docker-compose : refactoring file name"
At the moment, the 2 docker-compose files to start database/elasticsearch are:
- `src/main/docker/dev.yml`
- `src/main/docker/prod.yml`

As we will add more docker-compose files in future, we should rename these 2 files to be clearer.
Can I suggest: `db.dev.yml` and `db.prod.yml`
But the prod file can only contain elasticsearch when using oracle, so maybe it's not a good idea

Same question for `r

[2016-03-07 07:00] deepu105 commented on #2785
+1 for colors

[2016-03-07 07:00] deepu105 commented on #3057
closed via https://github.com/jhipster/generator-jhipster/commit/d70fdf6809161a03478f997851dfa1841db2b380

[2016-03-07 07:00] #3057 closed

[2016-03-07 07:01] deepu105 commented on #3042
@gbrehmer would you consider doing a PR?

[2016-03-07 07:02] deepu105 commented on #2869
closed via #2945

[2016-03-07 07:02] #2869 closed

[2016-03-07 07:16] deepu105 commented on #3094
Ill vote for a less confusing option for new users

Thanks & Regards,
Deepu

On Mon, Mar 7, 2016 at 2:38 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-03-07 07:37] jdubois commented on #3067
Oh.
I haven't thought of this.
Looks like an excellent idea, and it would only work with our
sub-generator, not the Liquibase Maven goal.
I need some time to think of it, but at the moment it's +1000 from me!!
Le 7 mars 2016 7:55 AM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-03-07 07:53] atomfrede commented on #3094
People using oracle are not beginners, so I guess using ``db.prod.yml`` even when it does not contain the database (when using orcale) is ok for me. I would prefix all containers provided by us with ``jhipster`` or ``jhi`` as you suggested.

[2016-03-07 08:10] andidev commented on #3067
+1000 for me as well! This is  really annoying

[2016-03-07 08:47] pascalgrimaud commented on #3067
Good idea! :+1: too!

[2016-03-07 08:49] deepu105 opened #3097 "Remove Jquery dependency"
Hello @jhipster/developers I have removed that last dependency on bootstrap js and used ui-bootstrap directives which means we now do not depend on bootstrap js (we were using it only of the navbar collapse and dropdown) here is the commit https://github.com/jhipster/generator-jhipster/commit/ecd57f12f14dfd0b2208b30a1be0564340c05f11

we had jquery as a dependency for bootstrap and since we do not

[2016-03-07 09:07] PierreBesson commented on #3094
For the registry, we can call it jhipster-registry.yml as you suggest. It seems like an improvement.
I feel that this file is supposed to define the *dependencies* of an app, not restricted to database and elasticsearch. We can imagine it that in the future it might be used for many other things like a rabbitmq broker (needed in spring cloud bus, I have started to take a look at it...).
So I would

[2016-03-07 09:13] deepu105 commented on #3094
Ok I kind of like what @PierreBesson suggested so +1 for that

[2016-03-07 09:14] deepu105 commented on #3067
I didnt think of the liquibase goal hmm will it cause issues?

[2016-03-07 09:15] deepu105 commented on #3067
since this would be kind of a breaking change I would prefer to do it for 3.0 or not do at all for now

[2016-03-07 09:16] PierreBesson commented on #3082
@cbornet I initially developed it for micro-services so it is currently only available for micro-service and gateway apps but I will enable it for all apps if @jdubois agrees.

So lets go full ELK. Also when JH3 will be released I plan to do an article to explain how to set up your apps for centralized logging and metrics.

[2016-03-07 09:16] deepu105 commented on #3093
@erikkemperman what do you think of this?

[2016-03-07 09:21] deepu105 commented on #2889
Im ok either way @erikkemperman do you wanna try this out?

[2016-03-07 09:29] erikkemperman commented on #3093
I don't see why `gulp-rev` wouldn't work on images or fonts, so this sounds like a great idea to me!

And if everything under `app` and `content` were to have a revision hash, then I suppose the timeToLiveInDays property could be bumped up by quite a bit as well?

[2016-03-07 09:37] lourai commented on #3067
Go for it in 3.0, good !

Remember, if we really want to get confortable in update entity (and xx service base on) update process, we need to tricks every generated files to avoid custom code to be erased. Using abstract generated class/interface and empty not re-generated usable class/interface for exemple, but maybe you have better idea ?

By the way, i'll be happy to help on this one !

[2016-03-07 09:41] #2954 closed

[2016-03-07 09:42] jdubois commented on #3097
If it's not used, let's just remove it... It's trivial to add it back with Bower for people who have a need for it.

[2016-03-07 09:44] jdubois commented on #3082
+1 for going full ELK
Is it a lot of work to have it generated for the monolith? For me it's less important, but if that's easy let's do it.

[2016-03-07 09:47] erikkemperman commented on #3093
Hm maybe that last part was too aggressive; there's also the html in there. I hadn't realized this before, but these are all kept separate, also in production builds. In other apps I've worked on we used to put all the html snippets in a single file, with revision hash. Would that make sense for jhipster?

[2016-03-07 09:53] PierreBesson commented on #3082
@jdubois it is really easy, actually just removing some <% if microservice %> conditions.

[2016-03-07 09:54] erikkemperman commented on #2889
I think that would be an interesting experiment, but I'm going to be really busy with some other things the next week, maybe even a bit longer...

[2016-03-07 09:54] jdubois commented on #3082
OK let's do it then!

[2016-03-07 10:07] jdubois commented on #3014
I have removed the code (commit will be pushed in the next minutes), all it needs is the Docker compose configuration to have Cassandra running -> @PierreBesson as you have already done this for "normal" Cassandra apps, can you do it?

[2016-03-07 10:17] erikkemperman commented on #3097
Note; I think just removing jquery will not work, or in other words jqlite is not sufficient. Something like zepto will indeed be needed to do selectors -- or otherwise rewrite quite a few `angular.element` calls. I noticed this when upgrading wiredep recently; initially it reversed the order of jquery and angular includes and lots of things stopped working.

[2016-03-07 10:35] deepu105 commented on #3093
Actually in production builds the html files were never used, Im not sure why we were keeping them.

If you notice in app.js we have all html files converted into a js map by ngTemplates in grunt build and I guess the gulp build is missing this. we need to add this using https://github.com/miickel/gulp-angular-templatecache or something similar
[code]

[2016-03-07 10:39] erikkemperman commented on #3093
Yeah, agreed. And then I guess everything under `app` and `content` can be revisioned, and the Expires cache header cranked up to "forever"!

[2016-03-07 10:40] PierreBesson commented on #3014
OK. You are just asking me to add the correct dev.yml / prod.yml for the gateway ?

[2016-03-07 10:40] deepu105 commented on #3093
yup you are right. Would you have time to do this? else ill try late next week

[2016-03-07 10:42] erikkemperman commented on #2889
For anyone wanting to take a stab at this, the [gulpfile](https://github.com/angular-fullstack/generator-angular-fullstack/blob/master/app/templates/gulpfile.babel(gulp).js) of angular fullstack might be provide some inspiration. I especially like their use of `lazypipe` for re-usable gulp blocks.

[2016-03-07 10:44] deepu105 commented on #3097
yes zepto would be nice to have it has all that we need at < 2kb, Jquery on
the other hand is too much dead code actually

Thanks & Regards,
Deepu

On Mon, Mar 7, 2016 at 6:17 PM, Erik Kemperman <notifications@github.com>
wrote:

[2016-03-07 10:45] deepu105 commented on #2889
I looked at it but was a lot of tasks, anyway this is not very important
now can be done later also after 3.0 release

Thanks & Regards,
Deepu

On Mon, Mar 7, 2016 at 6:42 PM, Erik Kemperman <notifications@github.com>
wrote:

[2016-03-07 10:45] erikkemperman commented on #3093
Really busy with another project just now... Maybe there'll be an evening where I don't come home tired (as we say in dutch, "with square eyes") and feel up to it, but I can't promise anything.

[2016-03-07 10:55] deepu105 commented on #3097
anybody against switching to Zepto?

[2016-03-07 11:01] deepu105 commented on #3093
Its ok, do it if you find time else ill try it next week :) no worries

Thanks & Regards,
Deepu

On Mon, Mar 7, 2016 at 6:45 PM, Erik Kemperman <notifications@github.com>
wrote:

[2016-03-07 11:34] deepu105 commented on #3067
you are welcome to do PR @lourai

[2016-03-07 12:25] pascalgrimaud commented on #3094
Personaly, I don't care about name, because I use alias sh, to launch compose, instead of using : `docker-compose -f src/main/docker/...`. It's for our users, to not confuse them :-)

- `dev.yml` -> `db.dev.yml`
- `prod.yml` -> `db.prod.yml`
- `registry.yml` -> `registry-dependencies.yml` ? `registry-extensions.yml` ? Or `jhipster-registry.yml` because it's a JHipster project -> [jhipster-registry

[2016-03-07 13:01] PierreBesson commented on #3094
`jhipster-registry.yml` is good as it is a jhipster project. Don't worry about my side project, it is experimental for now. I would propose we go either with:
* `db.dev.yml` (not completely true but easier to understand for beginners)
* `dep.dev.yml`

[2016-03-07 13:45] wmarques commented on #2965
Yes I'm updating this.

[2016-03-07 14:47] pascalgrimaud commented on #3094
I don't understand the `dep.dev.yml` ?

[2016-03-07 14:52] fraf opened #3100 "Test generation failure : regexp pattern constraint not taken into account in test generated code"
To summarize :

When I generate the entity "typeFichier", having a field named "cdSens", the generated test file is named "TypeFichierResourceIntTest".
Its data members are generated like below :

[code]

That generated code is wrong ! Because I specified a regexp pattern restriction on field "cdSens" : ([U,D]).
Consequently, tests fails ! I can't package the webapp anymore.

Should be :

[code]

[2016-03-07 14:55] jdubois commented on #3100
Yes it's a limitation when we generate entities with REGEXP.
It's documented here: http://jhipster.github.io/creating-an-entity/

I'm not happy with this limitation, but we have already worked on this for some time, and couldn't find any good solution, as we don't know what will match your regexp.

The solution, of course, is that you write the correct data that maps your regexp, and then the test

[2016-03-07 14:55] #3100 closed

[2016-03-07 15:37] PierreBesson commented on #3094
I meant "dependencies".

[2016-03-07 15:40] pascalgrimaud commented on #3094
yes but what is the origin file ?
**?** -> dep.dev.yml

[2016-03-07 15:54] PierreBesson commented on #3094
dev.yml -> dep.dev.yml

[2016-03-07 16:16] jd-carroll commented on #3094
Would it make sense (is it possible) to add a sub folder? That way there
could be a db sub folder and in that folder a dep.dev.yml and dep.prod.yml.

On Monday, March 7, 2016, Pierre Besson <notifications@github.com> wrote:

[2016-03-07 16:43] pascalgrimaud commented on #3094
it's possible to move to db sub folder, but we have to do same for all Cassandra folders...
Let's do simple:
- `dev.yml` -> `db.dev.yml` (I think `dep.dev.yml` is a little bit confuse)
- `prod.yml` -> `db.prod.yml`
- `registry.yml` -> `jhipster-registry.yml`

Are you all ok for this ?
@deepu105 too ? => because you will use Docker soon! :smile:

[2016-03-07 16:47] PierreBesson commented on #3094
Yes I'm OK with this. It's better than what we have now.

[2016-03-07 17:07] wmarques commented on #3093
I took a look at this. For now in prod build the HTML files seems used, I can see the requests in my console.
So I added a template-cache task in gulp but they seems always requested... I don't understand why, because my templates.js file is generated correctly and loaded..
If you have any advices, you can check commits [here](https://github.com/wmarques/generator-jhipster/commits/gulp-templatecac

[2016-03-07 18:34] erikkemperman commented on #3093
Nice! So with this fixed, I guess next thing is making sure that everything in `app` and `content` passes through gulp-rev, and then set Expire header in far future. This will save many requests!

[2016-03-07 18:50] varghgeorge commented on #3018
@gmarziou
I am trying to create a service for swagger (based on different threads related to aggregated swagger documentation) which will return the list of swagger json URLs so that one single instance of swagger can display details of all services (similar to ApiResourceController).

Test project: https://github.com/varghgeorge/swagger-single

Is this something you are currently working on? If y

[2016-03-07 19:02] roblight commented on #2387
Just wondering why this hasn't been released yet.  Waiting for 3.0?  Thanks!

[2016-03-07 19:08] geraldhumphries commented on #2387
Yeah, this will go into the release for 3.0. 2.27.* versions are just maintenance releases for minor fixes, and I think this one is too big for that.

[2016-03-07 19:09] gmarziou commented on #3018
This is just one class: [GatewaySwaggerResourcesProvider](https://github.com/gmarziou/generator-jhipster/blob/90e256c4bc201587ac05c6e2ed65080fd1d1093c/generators/server/templates/src/main/java/package/config/apidoc/_GatewaySwaggerResourcesProvider.java) that of course uses the Eureka registry, we will have to refactor it a little for springfox 2.4.1 and also we are going to implement a Zuul filter

[2016-03-07 21:46] gmarziou commented on #2785
v3_preparation branch is 57 commits behind master for jhipster.github.io

How should we proceed to submit PRs for JH3 in a way that would be as smooth as possible?

This makes me wonder whether we should keep the v2 site available somewhere or just replace it.

[2016-03-08 00:09] deepu105 commented on #3094
Yup im ok, I have already started to use it :) its pretty cool though a
little rough in windows
On 8 Mar 2016 00:47, "Pierre Besson" <notifications@github.com> wrote:

[2016-03-08 00:14] deepu105 commented on #3093
@wmarques may be it should be part of the usemi  process in the htmlmin task, check how its done in the grunt file in the 2.x branch. Ill take a closer look at your commit later today

[2016-03-08 00:25] #3094 closed

[2016-03-08 01:13] moifort opened #3103 "Add Gulp Inject to automatically inject js in index.html"
I have implemented gulp-inject with gulp-angular-file to inject automatically (in a good order) new js files inside index.html and it's work well.

I will make a PR, but before, i want to know if it's a good idea to remove the functionality that add js inside index.html and let the gulp task to do the job?

[2016-03-08 01:14] moifort commented on #3103
Duplicate with #2889

[2016-03-08 01:34] deepu105 commented on #3103
I would prefer the gulp task to do it, we might have to invoke the task after entity creation as well to add the js

[2016-03-08 01:43] dscowan commented on #3075
Yes.  The original log was generated on a windows machine.  I then tried it on my mac book which still had 2.27.0 on it for this log that was generated above.  Same result on both.

[2016-03-08 02:27] moifort commented on #3103
So you agree?

I just make the test and it's work perfectly and remove 167 code lines  from generator. No more js injection to manage inside the generator.

[2016-03-08 04:10] deepu105 commented on #3093
ok im gonna try this out now

[2016-03-08 04:17] deepu105 opened #3105 "Fix eslint warning about unused variables injected in angular controllers"
as per discussion here https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/DqVSbTskrjw/cipLhz6KAgAJ

[2016-03-08 04:23] deepu105 commented on #3093
@wmarques sorry I didnt see your edit before. If its fixed can you PR this plz

[2016-03-08 07:19] deepu105 commented on #3093
I played around a bit and I guess moving from usemin would be a good idea to achive font/image rev and templateCache like this http://blog.jonasbandi.net/2014/12/gulp-is-wild-west.html

which is exactly what angular fullstack guys are doing as well https://github.com/angular-fullstack/generator-angular-fullstack/blob/master/app/templates/gulpfile.babel(gulp).js#L529

im gonna give it a try so @wma

[2016-03-08 08:14] ajinkyaghorpade commented on #2225
Still getting same issue with jhipster 2.27.2

[2016-03-08 12:03] deepu105 commented on #3093
Ok I switched to useref successfully and Im able to add image rev(works well) and template cache properly but somehow angular app is not loading templates from cache and its trying to load from html :(

@erikkemperman @wmarques any idea what could be wrong, I have spend few hours on this trying different combinations but still no luck :crying_cat_face:

## here are the new tasks
[code]

## here is

[2016-03-08 12:12] #3105 closed

[2016-03-08 12:19] jdubois commented on #2225
This is an old issue, it is solved, so you are probably not having the "same" issue. Please open up a new ticket with the details.

[2016-03-08 12:27] ashakhov opened #3109 "Incorrect entity ID generation with PostgreSQL"
##### **Overview of the issue**
ID generating annotation
`@GeneratedValue(strategy = GenerationType.AUTO)`
 in Postgres is working as GenerationType.SEQUENCE. All entities are using the same sequence of ids, so if we have User, Book and Chapter entities, first of books will get id 1001. If we then create a Chapter, its id will be 1002, next one is 1003, next Book is 1004 etc.
Everything works OK i

[2016-03-08 13:24] deepu105 commented on #3109
It has same issue in Oracle as well
On 8 Mar 2016 20:27, "Andrii Shakhov" <notifications@github.com> wrote:

[2016-03-08 13:24] wmarques commented on #3093
Try to add `root: 'app'` in your templateCache options object. Also you can add `moduleSystem: 'IIFE'` to wrap the file in an IIFE function.

[2016-03-08 13:26] deepu105 commented on #3093
Oh yes ill try that
On 8 Mar 2016 21:24, "William Marques" <notifications@github.com> wrote:

[2016-03-08 13:26] gmarziou opened #3110 "[Gateway] 'gulp build' never exits"
##### **Overview of the issue**

Running 'gulp build' on Gateway generated from today master #8c672b3f82238352de3a65bc8a21b8b0224aa476 never exits though build is finsihed.

Env: Windows 7, Node v4.2.4, gulp-cli 1.2.1

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

[2016-03-08 13:29] wmarques commented on #3093
I got the same problem and adding root: `'app'` fixed this, check the generated `templates.js` file if it has the right paths to the templates.

[2016-03-08 13:32] moifort commented on #2848
I working on it now

[2016-03-08 13:36] cbornet commented on #3109
Is this a problem ?

[2016-03-08 13:43] jdubois commented on #3109
I don't understand the issue, this is how Hibernate/JPA is working by default, and as per our [Policy 1](http://jhipster.github.io/policies/) we use their default configuration.
Besides, I personally think this is a good configuration, as long as you have the hilo algorithm (I need to check how this work here as this depends on the database implementation and the Hibernate version, but this should

[2016-03-08 13:44] deepu105 commented on #3110
I tried and its working as usual for me on windows 10. Are you having the issue only in gateway app type? could be an intermittent glitch can you try again?

[2016-03-08 13:45] jdubois commented on #3014
Yes, can we have it in a specific Docker compose configuration, as it's optional? For both dev and prod.

Then the only issue is how to create the schema at startup, like what we have for MySQL -> is it possible to run a CQL script at startup? But this in a 2nd time.

[2016-03-08 13:49] deepu105 commented on #3093
@wmarques awesome man that works :) Ill do a PR now

[2016-03-08 13:57] deepu105 commented on #3109
I mean I haven't tried posgres but with Oracle I had this problem where all
the entities were using a single sequence (hibernate_sequence) for ID and
hence resulted in non continuous IDs within an entity means Ill have
scattered IDs. I tried changing strategies but it was all behaving the same
so I just gave up as it seemed like a hibernate or Oracle issue to me. I
wasn't showing the IDs to the en

[2016-03-08 14:02] ashakhov commented on #3109
It was a kind of _unexpected behaviour_. Generated applications meant to be database-agnostic, right? I haven't seen any generated database-specific code other than setting of field types in liquibase changesets. But they are not, it works one way with MySQL and another one with Oracle or Postgres. It does not affect data integrity, primary keys are correct, but it was strange that first created e

[2016-03-08 14:08] jdubois commented on #3109
Well, as we are based on JPA, which is the Java standard, and as JPA works that way, the idea is that this *is* the expected behavior.
So yes the PK are scattered, but that shouldn't be an issue as they are just a technical key (another "good practice").
And I agree the JPA "best practice" can be strange to people who don't know how JPA works.

We can discuss a long time about what the "best pract

[2016-03-08 14:08] #3109 closed

[2016-03-08 14:09] wmarques commented on #2988
I started working on this generator, do you have any idea about the name ? It has to start with `generator-`.

[2016-03-08 14:41] jdubois commented on #2988
`generator-jhipster-docker-compose` ? You would need to have JHipster in the name, as it would only work with a JHipster application.
Otherwise people might get confused on what you can do with it.

[2016-03-08 15:00] wmarques commented on #2988
Let's go for this name then ! I started my work on this [repo](https://github.com/wmarques/generator-jhipster-docker-compose).
I'm already able to generate a docker compose with apps in subdirectories and with or without ELK metrics.

[2016-03-08 15:19] pascalgrimaud commented on #2988
I'll try to help on my free time! don't hesitate to ping me @wmarques

[2016-03-08 15:26] PierreBesson commented on #2988
I will be working on this as well.

[2016-03-08 15:40] deepu105 commented on #2988
@wmarques may be you should start the repo in https://github.com/hipster-labs so that we all can work  on it and once its ready we can move it to jhipster org?

[2016-03-08 15:41] deepu105 commented on #2988
@PierreBesson @wmarques I have invited both of you to that team as well

[2016-03-08 15:47] wmarques commented on #2988
Thanks ! It's done [right here](https://github.com/hipster-labs/generator-jhipster-docker-compose)

[2016-03-08 15:54] deepu105 commented on #2988
:+1:

[2016-03-08 16:42] PierreBesson commented on #3046
@gmarziou, I've got the response rewritting filter to work, removed the hardcoded pathmapping and everything works. I have used Jackson's ObjectMapper to manipulate the JSON instead of the Jolt library that you suggested.
I am doing the PR now.

[2016-03-08 16:58] gmarziou commented on #3046
Great.
I only proposed Jolt because I thought it would not require defining a POJO (json to java to json) but I admit I never used it.

[2016-03-08 17:22] dpalita commented on #3075
I haven't had time to investigate, but I got this error when I tried to run my app with IntelliJ 16 EAP (it runs fine with IntelliJ 15 or via command line).
There is also a new inspection checking spring boot configuration that reports the same error : org.h2.jdbcx.JdbcDataSource is not assignable to java.sql.Driver
Last thing I noticed using the new auto-completion in spring boot configuration fi

[2016-03-08 17:33] gmarziou opened #3114 "[FEATURE] Set server.port when generating micro service applications"
##### **Overview of the issue**

With micro services architecture, it's becoming annoying to generate applications that by default are configured on port 8081 for services.

With BFF pattern, it would not be unusual to have several gateways (e.g. one for angular app, one for mobiles). So, the same applies to port 8080 for gateways,

Changing the port manually after generation is painful because yo

[2016-03-08 17:40] jdubois commented on #3114
Another solution that needs testing: use port "0".
The application will then have a random port (from the available free ports).
And you will be able to find it through the registry.

[2016-03-08 17:54] gmarziou commented on #3114
Good point but unfortunately there are some issues like https://github.com/spring-cloud/spring-cloud-config/issues/93

[2016-03-08 18:35] varghgeorge commented on #3018
Thanks @gmarziou. I have it working now with a static list of resources.

Ran into some issues using Zuul. Looks like ProxyRouteLocator is not available in the latest cloud version? Didn't get a chance to investigate further. Will check and update.

[2016-03-08 19:48] moifort commented on #2848
Okey, I just finish the social authentication for JWT, it was not easy... I will make a first PR tonight

[2016-03-08 20:11] pascalgrimaud commented on #3110
@gmarziou : just tried your configuration with Windows7, I got the same thing
There are errors + popup => when I close the popup, the build is finished

[2016-03-08 20:59] gmarziou commented on #3110
Interesting, I did not notice the popup but maybe it was showing on my second screen.
Is this the expected behavior?
How would it work when called from maven on Jenkins?

[2016-03-08 21:03] pascalgrimaud commented on #3110
IMO, the popup shouldn't block the build
About Jenkins, I don't know, but for our Travis, @deepu105 made this change:
https://github.com/jhipster/generator-jhipster/blob/master/travis/scripts/04-tests.sh#L13

[2016-03-08 21:03] gmarziou commented on #3018
Yes, downgrade to 1.1.0 M4, we haven't yet migrated to M5

[2016-03-08 21:06] gmarziou commented on #3110
Looking at the pom*;xml, I don't see nay such options for maven:

[code]

[2016-03-08 21:14] pascalgrimaud commented on #3110
No, it's for `gulp build`, and not `mvn package`

[2016-03-08 21:24] gmarziou commented on #3110
What do you mean? It's attached to `generate-resources` so it should be called on `mvn package`.

[2016-03-08 21:27] pascalgrimaud commented on #3110
Oh forget my comment, you're right!

[2016-03-08 21:34] gmarziou commented on #3110
I just tested that it works fine on Linux, don't know for OSX.
So I guess we have a problem on Windows only and we can solve it easily by passing this option.

[2016-03-09 00:10] deepu105 commented on #3075
@cbornet could this be related to the xhanges you made for auto identification of DB from url?

[2016-03-09 00:11] deepu105 commented on #3075
Oops sorry i guess you answered that already

[2016-03-09 00:25] deepu105 commented on #3110
Its strange that I dont have the problem in windows 10 may be a windows 7
only issue?
On 9 Mar 2016 05:34, "Gaël Marziou" <notifications@github.com> wrote:

[2016-03-09 00:27] gmarziou commented on #3110
I'll try tomorrow at work but anyway it seems to me that the --no-notification should be the right setup in maven when build is made on Jenkins on a server that does have a desktop to display thse notifications.

[2016-03-09 00:28] gmarziou commented on #3110
I don't know how to do it for gradle.

[2016-03-09 00:29] deepu105 commented on #3110
Yes for all automated builds it should be set. Ill take look on why it
would block coz there is a specific line of code to avoid this on
`gulp/errorHandler.js`
On 9 Mar 2016 08:27, "Gaël Marziou" <notifications@github.com> wrote:

[2016-03-09 00:32] gmarziou commented on #3110
OK, I didn't know so maybe my PR is useless, no worries it was fast.

[2016-03-09 01:01] deepu105 commented on #3110
I think its anyways good to have no notification on builds
On 9 Mar 2016 08:33, "Gaël Marziou" <notifications@github.com> wrote:

[2016-03-09 01:17] moifort commented on #2848
@amitjindal If you want you can see my work on the PR #3116

[2016-03-09 03:35] #3110 closed

[2016-03-09 05:12] #3103 closed

[2016-03-09 07:51] #3093 closed

[2016-03-09 08:42] deepu105 commented on #3097
I think this requires more work then I thought and considering that using zepto will require some workarounds as well Im closing this

[2016-03-09 08:42] #3097 closed

[2016-03-09 08:45] deepu105 commented on #2785
maintaining versioned docs is a pain :(
I don't know how we can maintain another version for 2.x may be we can copy the current site as it is and put in subfolder and link to it like `jhipster.github.io/2x/`

[2016-03-09 08:47] deepu105 commented on #2785
or we can create a new repo called docs-2x in jhipster org and put current site as it is in the gh-pages branch and it will automatically be served in `jhipster.github.io/docs-2x/` similar to how I hosted JDL-Studio

[2016-03-09 10:05] gmarziou opened #3117 "Camel cased app names are not correctly handled"
##### **Overview of the issue**

When generating an application with a camel cased name like `GatewayMobile`, the M capitalization is not used in several places resulting in names that do not follow their respective naming conventions

|  Object              | actual name     | expected name |
|  ------------------- |  ------------------- |   ------------------- |
| maven artifact | gatewaymobile

[2016-03-09 10:48] jdubois commented on #2785
Yes the versioned documentation is necessary, and I have no idea how to do it -> probably like @deepu105 says I need to do a specific repo for that, like for JDL Studio. Then I'm afraid we have many absolute URLs, so that can be really annoying.

[2016-03-09 10:54] jdubois commented on #3114
OK, then indeed that would be a new question in the generator, for gateways and microservices apps only.

[2016-03-09 11:17] deepu105 commented on #2785
I guess Jekyll might handle it coz we append `{{site.url}}` on all urls, may be we can create a repo and try it out by copying from current site. Even if that fails we can assign the correct path to `site.url` var in global jekyll `_config.yml` and it should work

[2016-03-09 11:19] deepu105 commented on #2785
so when someone visits `jhipster.github.io/docs-2x/` they will be seeing a whole new site like JDL studio so there is no interference with the v3 site and v2 site and its easy for us to maintain both seperateley

[2016-03-09 12:18] gmarziou commented on #3114
Yes and also I don't know how random ports would work with Docker

[2016-03-09 12:27] PierreBesson commented on #3114
I guess for docker we can override the random port by passing a fixed port as command line arg and then expose this port.
For docker ports are not a problem as you can map a container port to any port on the host.

[2016-03-09 12:34] gmarziou commented on #3114
Yes but in this case, wouldn't you want to have random port on the host too?

[2016-03-09 12:46] deepu105 opened #3118 "Add sub generator to import JDL files"
This is to give an out of the box experience for our users. From GA stats seems like lot of people are using JDL studio already and providing a sub generator in the main jhipster generator will benefit more people to use JDL effectively and easily.

Ill look at adding jhipster uml as a dependency and to invoke it with provided JDL file. May be we can add more features like pasting JDL directly on

[2016-03-09 13:18] MathieuAA commented on #3118
None. Just ***patiently*** waiting for the dumped JSON files to be deprecated =)

I guess some work from JHipster should be expected...

@jdubois I'm considering moving the JDL DSL away from JHipster UML, and having a proper GitHub JHipster project for it.

[2016-03-09 13:33] PierreBesson commented on #3114
@gmarziou It seems `docker run -P` deals with attributing a random port on the host. For docker-compose, the [`ports`](https://docs.docker.com/compose/compose-file/#ports)option can attribute a random port on the host.

[2016-03-09 13:50] wmarques commented on #3117
I'm working on this in [this branch](https://github.com/wmarques/generator-jhipster/tree/fix-camel-cased-apps).

[2016-03-09 13:58] moifort commented on #3082
Sorry, maybe too little late. I use RELK (R for redis) on my JHipster project with docker. So this is the configuration:

[code]

The Logstash behind applications only read the files in the log directory and tag the log to know where they come from. It's not parse the log for elastic it send raw data to the Redis. Redis is used for queuing, the Logstash behind parse the log to elastic.

Our config

[2016-03-09 14:34] wmarques opened #3122 "setDocumentRoot should not be called when running .war with java -jar"
##### **Overview of the issue**
When i do `docker-compose -f app.dev.yml up` it throws me an EmbeddedServletContainerException.
StackTrace:
[code]
##### **Motivation for or Use Case**
I saw this when working on the jhipster-docker-compose generator.

##### **JHipster Version(s)**
Master

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
[code]
##### **Browsers and

[2016-03-09 14:38] jdubois commented on #3118
Yes the JDL could be a separate JHipster project.

Here it means people who install JHipster automatically have JHipster UML installed too, which can only be good in terms of usage of JHipster UML.

[2016-03-09 14:39] PierreBesson commented on #3082
@moifort thanks a lot for sharing your monitoring conf. It is really interesting for me to see how these kind of tools are used. The Redis queuing part is interesting but I am not sure if we would need it.

Initially, I was going to do it like you with a logstash per app reading the log files but then on the advice of @jdubois, I investigated how Papertrail (a popular log monitoring SaaS product)

[2016-03-09 14:49] CarlKlagba commented on #3118
Having a sub generator for JDL would make JSON files more and more obsolete, wouldn't it?
I am all for it.

[2016-03-09 14:52] PierreBesson commented on #3122
cc @pascalgrimaud

[2016-03-09 15:06] pascalgrimaud commented on #3122
do you manage to start the gateway without docker ?
1) mvn package
2) java -jar target/*.war

[2016-03-09 15:12] pascalgrimaud commented on #3122
The master gateway can start : https://travis-ci.org/jhipster/generator-jhipster/jobs/114780202
I will have a look as soon as I can !

[2016-03-09 15:15] PierreBesson commented on #3122
It works with java -jar.

[2016-03-09 15:17] pascalgrimaud commented on #3122
Can you try with the old Dockerfile ? => https://github.com/jhipster/generator-jhipster/commit/9549cd56f53ce1b014a897d1a836aae3e7f40196#diff-32b8317d0b1b30923d5bd5aaa167a0b2
The base image is FROM java:openjdk-8u72-jre
And the new Dockerfile use openjdk... I suspect the jdk version.

[2016-03-09 15:20] moifort commented on #3082
@PierreBesson I am not mature enough and we have a very low activity on the application. But the most interesting part come from metric logs. We use it for analyzing the number of request and the time spend by method with `@Timed` annotation. But the thing is, you will never find a perfect dashboard, you need to create your dashboard according to your needs.

The first image is the application das

[2016-03-09 15:25] wmarques commented on #3122
Works  with java -jar, but still having same issue when switching to the old Dockerfile

[2016-03-09 15:25] deepu105 commented on #3118
Yes having JDL as separate project would be better we can reuse it as a
dependency where needed. I can may be use it directly to parse in JDL
studio as well.

If JDL gets widely used may be one day we can drop the json files and have
all entitiy config in a .jh file

Ill start work on this soon
On 9 Mar 2016 22:49, "CarlKlagba" <notifications@github.com> wrote:

[2016-03-09 15:26] pascalgrimaud commented on #3122
ok guys, I will have a look after day work

[2016-03-09 15:33] jdubois commented on #3118
Do you want me to create the project? What name should I use, "jhipster-domain-language"?

[2016-03-09 15:35] #3046 closed

[2016-03-09 15:39] MathieuAA commented on #3118
Sounds nice. And it has JHipster in it.

[2016-03-09 15:46] deepu105 commented on #3118
Yup it sounds good. Add me to that repo as well
On 9 Mar 2016 23:39, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-03-09 16:05] PierreBesson commented on #3082
Thanks a lot for your answers. I will try to do those dashboards.

Your approach does seem indeed to have many advantages ! For now we are going to stay with our current approach as it is really easy to use but I will investigate your approach.

I think that it might not be too complicated to write some config to setup a file appender and a "local logstash" to read the file and forward the logs. E

[2016-03-09 16:09] cbornet commented on #3082
@moifort your "UDP reconnection" problem is strange considering there is no connection with UDP ...
This should be tested with the logback-logstash-appender : restart ELK and see if the app still sends its logs.

[2016-03-09 17:16] PierreBesson commented on #3082
@cbornet, @moifort. I just tried to stop and restart the elk-elasticsearch and elk-logstash container several times and luckily the logs have been able to be collected just fine :relieved:. But after looking at logstash-logback-encoder's issue tracker there have been some problems in the past especially with the TCP appender.

[2016-03-09 18:25] cbornet commented on #3082
@PierreBesson it seems the values are imported by logstash as strings where they should be integers so that we can graph them. Do you have this issue ?

[2016-03-09 18:33] amitjindal commented on #2848
@moifort Thanks!
I checked and it seemed to work great. I will keep playing with this a bit to see if I find any problem.
PS: In `CustomSignInAdapter.java` around line 18 the import for TokenProvider is hardcoded to `com.mycompany.myapp.security.jwt.TokenProvider` which is incorrect. I only needed to correct that to get this working.

[2016-03-09 18:40] PierreBesson commented on #3082
@cbornet I had not thought about this. That might explain why I had trouble plotting things... I guess we should alter a bit the logstash.conf and it will convert them to numbers.

[2016-03-09 19:09] cbornet commented on #3082
Yes. Use mutate + convert

[2016-03-09 19:17] PierreBesson commented on #3082
@cbornet would this solution [this solution](http://stackoverflow.com/questions/31031895/logstash-kv-filter-converting-strings-to-integers-using-dynamic-mapping) suits you. The alternative would be to use "mutate" and harcode all fields that should be converted to numbers.

[2016-03-09 19:38] cbornet commented on #3082
Since we know the fields in advance, I believe hardcoded field would be more performant.

[2016-03-09 20:27] #3114 closed

[2016-03-09 21:36] cbornet commented on #3082
Here is my conf
[code]
and now I can graph all metrics in kib :smile:

[2016-03-09 22:02] pascalgrimaud commented on #3122
I made some tests, I think the cause is from : https://github.com/jhipster/generator-jhipster/commit/5eac95eb697d0d8b2e3dc1f87fd5dca4cad53553#diff-4ac12e0abae2ba3bd72788629c00c4ab

I tested on this branch:
`git checkout -b test-issue-3122-6f101fae3 6f101fae3ce10d014eec7c7fa80eb7187424cb65`
and it works fine.

The main issue comes from the package.war
To reproduce (no need docker) :
1) generate a s

[2016-03-09 22:26] erikkemperman commented on #3122
I can take a look tomorrow afternoon (CET), but my first guess is it might be the `setDocumentRoot` call in WebConfigurer.java? Does it work without that call? Or catching any exception from that?

If I remember correctly this was only needed when running in IDE, but now I guess the relative path there might be a problem when issuing the `java -jar` command from directory other than project root?

[2016-03-09 22:49] moifort commented on #2848
Thanks for the import problem. If you have any remark or improve to my current code tell me!

[2016-03-10 07:32] pascalgrimaud commented on #3122
Yes the war file works without setDocumentRoot
I didn't test with an IDE

[2016-03-10 08:32] pascalgrimaud commented on #3122
@PierreBesson @wmarques : if you confirm my tests, can you change the title to an appropriate plz ?

[2016-03-10 08:48] erikkemperman commented on #3122
I can confirm that the `setDocumentRoot` call is causing this issue.

Without it, the war works independent of where it is relative to the cwd at the time of the `java -jar` command.

Unfortunately I can also confirm that without it, running the application in the IDE with prod profile doesn't work (well, it seems to work but you actually get the dev assets because those are at the default locatio

[2016-03-10 09:02] wmarques commented on #3122
Thanks for your feedbacks, I updated the title tell me if it's not accurate with the issue !

[2016-03-10 09:11] erikkemperman commented on #3122
Well, the problem is not so much that the path is wrong, but that the war should be portable and therefore there is no right path, if you know what I mean. We should not call `setDocumentRoot` at all when running from the war-file.

I have made a PR [#3125](https://github.com/jhipster/generator-jhipster/pull/3125) which addresses this. The detection of whether it's running from the war-file or not

[2016-03-10 10:39] cbornet commented on #3082
I have played a little with the metrics and I have an issue : as fields have the same name (eg. value), I couldn't draw them on the same graph (eg. jvm.memory.heap.used's value together with jvm.memory.non-heap.used's value)
So I think it would be better to have the metric name instead of value as JSON key.
@moifort since your charts show different metrics plotted on the same chart, could you shar

[2016-03-10 10:42] cbornet commented on #3082
Or maybe just prefix the fields name with the metric name

[2016-03-10 10:51] jdubois opened #3126 "Warnings about graceful-fs"
When creating a new app with JHipster 3.0, we have several warnings about `graceful-fs``

     graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible

Those look quite serious and should be solved before we release.

[2016-03-10 10:53] moifort commented on #3082
Yes sure! just in case all my fields are prefix with metrics_. Here the JSON file for **JVM metrics**.

## Visualizes

[code]

## Dashboard
[code]

[2016-03-10 10:54] PierreBesson commented on #3082
@cbornet I've tried your conf, I checked and it seems that you didn't forget any field, so I added your logstash config to generator-jhipster-docker-compose. So it will be available by default.
We will also have logging/metrics automatically enabled for all apps that register themselves to the config server at startup (see [this](https://github.com/hipster-labs/generator-jhipster-docker-compose/bl

[2016-03-10 11:00] moifort commented on #3082
@cbornet do you want the logs the application.

[2016-03-10 11:00] deepu105 commented on #3126
Where are we using graceful fs?
On 10 Mar 2016 18:51, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-10 11:03] wmarques commented on #3126
Seems that they are dependecies in Node internal module : http://stackoverflow.com/questions/35491905/npm-warn-deprecated-graceful-fs3-0-8-graceful-fs-version-3

[2016-03-10 11:03] cbornet commented on #3082
@moifort yes, a metric log in JSON format

[2016-03-10 11:08] deepu105 commented on #3126
I did a project search and seems like we do not use it anywhere in our
code, then I dont know why we are declaring it in our package.json. Can we
remove it

Thanks & Regards,
Deepu

On Thu, Mar 10, 2016 at 7:03 PM, William Marques <notifications@github.com>
wrote:

[2016-03-10 11:08] deepu105 commented on #3126
@jdubois are using an older node version?

[2016-03-10 11:10] luciano-deriu commented on #1829
I'm also facing this issue on 2.27.1 with Gulp, Gradle, Node 5.7, Windows 10.

@panser, thanks for that tip.

[2016-03-10 11:20] wmarques commented on #3126
I'm using 4.4.0 (LTS) and have same warning messages. By the way I also have an error that says "cannot find module 'gulp-angular-templatecache"

[2016-03-10 11:41] cbornet commented on #3082
I could do it with the current logstash conf and the timelion plugin !
Expression :
[code]
![kibana](https://cloud.githubusercontent.com/assets/11633333/13668393/d3bb43d4-e6bc-11e5-9659-46cdc37dc150.png)
An issue is that timelion doesn't seem to care about the dark theme...

[2016-03-10 13:30] #2987 closed

[2016-03-10 13:42] gbrehmer opened #3127 "REST Api Call returns 406 instead of 400 for invalid passwords"
##### **Overview of the issue**

Calling api/account/change_password returns HTTP Status Code 406 in case of invalid password requests (instead of Bad Request 400).

##### **JHipster Version(s)**

2.27.0

##### **Reproduce the error**

Calling REST api with an invalid (e.g. too short) password

##### **Suggest a Fix**

Change Produces-Annotation ContentType to TEXT_PLAIN

[2016-03-10 13:58] #3117 closed

[2016-03-10 14:21] moifort commented on #3082
@cbornet

## Visualize Spring log stack by level

[code]
## Top 15 of the most call request (m1) + Top 15 longest request execution

[code]

[2016-03-10 14:54] cbornet commented on #3127
Well, if we look at the code we see that we try to send a code HttpStatus.BAD_REQUEST with a text/plain content ("Incorrect password").

[2016-03-10 15:15] cbornet commented on #3082
@moifort I was more speaking of the log itself.
Currently we have:
[code]
But it seems not good for Kibana.
I'm tryng to have something more like
[code]
Almost there :smile: Keep you posted

[2016-03-10 15:39] gbrehmer commented on #3127
Not acceptable status code is often bound to Accept/Content-Type Header use cases, e.g. if you set Accept-Header as client to text/plain and backend can only produce application/json Content-Type.

[2016-03-10 15:41] moifort commented on #3082
Oh sorry, for metric I dont use `logstash appender`, we write the metrics on a specific log file and we parse it with logstash here my conf it's he can help you:

[code]

[2016-03-10 15:45] gbrehmer commented on #3127
btw it's the same for api/register. In case of validation errors, the ExceptionTranslator try to return a ErrorDTO, but register method only defines text/plain as possible content-type. I would say it's more a Spring MVC missing feature/bug, but currently you have to define both content-types (because complex type like ErrorDto can not be converted to text/plain automatically) and to add explicitl

[2016-03-10 16:00] cbornet commented on #3082
I see: you have different queries for each visualization ! I thought only one query was possible...
So your config is very close to jhipster's. I also think prefixing is needed to avoid name clash (eg. on type). Or we can also set a "target" to have the metrics grouped in a JSON sub-field

[2016-03-10 16:11] cbornet commented on #3082
@moifort how did you get your "JVM metrics" visualisation ? With the visualize editor or writing by hand ?

[2016-03-10 16:23] cbornet commented on #3082
@moifort unless I am mistaken your logstash conf doesn't permit to mix jvm.memory.heap.* with jvm.memory.non-heap.* on the same graph. Am I correct ?

[2016-03-10 16:36] PierreBesson commented on #3082
Wow guys ! Excellent work. I have a surprise for you: a new sub project: **JHipster Monitor** based on Kibana. It loads dashboards automatically [hipster-labs/jhipster-monitor](https://github.com/hipster-labs/jhipster-monitor). Also Kibana config will be able to be customized in the future... I have also pre-installed Timelion as this plugin seems to be popular.
For elasticsearch and logstash I us

[2016-03-10 16:59] jdubois commented on #3014
OK I've used the incredible configuration from @pascalgrimaud -> it works perfectly, I had nearly nothing to do!!!

[2016-03-10 17:00] #3014 closed

[2016-03-10 17:07] cbornet commented on #3082
:clap: I will PR on this then

[2016-03-10 17:12] moifort commented on #3082
@cbornet I dont know if I understand you, because my logstash configuration does not filter my on value, because the `jvm.memory.heap` or `jvm.memory.non-heap` are  defined in `metrics_name` field. I send all metrics to my elastic.

It's in my Kibana that I make the filter. You can import my visualize conf, hope I answer to your question.

[code]

[2016-03-10 17:17] cbornet commented on #3082
What I mean is that with this logstash conf, it's for instance not easy to plot jvm.memory.non-heap.used, jvm.memory.heap.used, jvm.memory.total.used and jvm.memory.total.max on the same graph because the choice of metric is done by a query and not by a field name

[2016-03-10 17:17] PierreBesson commented on #3082
@cbornet Thanks. I'm particularly interested in Dashboards that can show data of all microservices at a glance. I don't know if it's what you are working on. For this I do something with the bucket on the X-axis.

![screenshot from 2016-03-10 18 16 12](https://cloud.githubusercontent.com/assets/513471/13677861/3338e332-e6ec-11e5-8131-eece31146595.png)

[2016-03-10 17:21] cbornet commented on #3082
Yes that's what I tried do but it only works for simple things. I didn't manage to do the graph I did with timelion that you can see in my comment above for instance.

[2016-03-10 18:54] gmarziou opened #3130 "Upgrade to Spring Cloud 1.1.0.M5"
Currently wer'e using Spring Cloud 1.1.0.M4, 1.1.0.M5 introduced some breaking changes in ProxyRouteLocator used by Gateway code that will require some adaptation.

[2016-03-10 19:30] MathieuAA opened #3132 "Is one question missing in the app generator?"
Hello!

##### **Overview of the issue**

There seems to be one question missing.

![image](http://i.imgur.com/CfYByHn.png)

Am I the only one having this issue?

Update, number 14 seems to be missing too. I guess that it's answer-dependent, and it might be why questions are missing...

Update 2: is there a 17th question?
![image2](http://i.imgur.com/9tYCR0j.png)

`node -v # v5.6.0` and `npm -v # 3

[2016-03-10 19:52] Vaelyr commented on #3006
I think the problem was misunderstood here.

When you run ./gradlew, it also runs the concat and minify tasks which are unnecessary in default dev build, because they are not used. My minify takes good 30 seconds and it's just wasted time on these gulp tasks. This shouldn't be. Grunt in the other hand works fine.

[2016-03-10 21:19] jdubois commented on #3132
It's my fault: after asking for the app type, if you are doing a microservice, I added a question to ask for the server port.
So there's a "hidden" question here.
Not sure how we could solve this...

[2016-03-10 21:57] MathieuAA commented on #3132
So all the paths share a common set of questions, and answering differently could hide/display questions...
Maybe making everything a bit more "dynamic" could help. I see [here](https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-constants.js#L12) that there's 16 questions. And it's hardcoded, so everytime someone adds a question this number is incremented.
I don't know

[2016-03-11 00:42] deepu105 commented on #3006
You are right gulp build is not required for dev
On 11 Mar 2016 03:52, "Vaelyr" <notifications@github.com> wrote:

[2016-03-11 00:49] deepu105 commented on #3132
Im working on this will commit mostly today
On 11 Mar 2016 05:57, "Mathieu ABOU-AICHI" <notifications@github.com> wrote:

[2016-03-11 02:31] jhhobbs opened #3133 "CSS fails to load at first launch with Gulp"
Just wanted to note a similar (or maybe the same issue) to [this issue](https://github.com/jhipster/generator-jhipster/issues/952), although I'm not using compass

CSS failed to load at first launch with Gulp.

jhipster v. 2.27.2

OSX 10.10.5

[code]

I ran `gulp serve` and the css loaded.

Thanks for the awesome work!

[2016-03-11 03:24] deepu105 commented on #3133
Are you sure you are running the latest version coz this was fixed in 2.27.2

[2016-03-11 03:25] deepu105 commented on #3133
Did your app generation finished properly with `npm install`, `bower install` and `gulp install` running successfully?

[2016-03-11 05:29] deepu105 commented on #3132
@jdubois I have fixed the order of questions and number sequence https://github.com/jhipster/generator-jhipster/commit/24dd708fe5c158cc8cce69db874382aea427f6c3

But the total questions will remain same irrespective and to get correct total questions I can try to do some hacky stuff but may not be worth the effort. Should we just show the current question number alone instead of showing `current/to

[2016-03-11 05:30] deepu105 commented on #3132
closing this as reported issue is resolved

[2016-03-11 05:30] #3132 closed

[2016-03-11 05:32] jhhobbs commented on #3133
The application generation output says 'Welcome to the JHipster Generator v2.27.2'.  I looked for lines in the output that stated explicitly that `npm install`, `bower install` or `gulp install` was successful but did not see any.  I'm not getting any errors when running the generator and can attach the output if that would be helpful.  Thank you.

[2016-03-11 05:35] deepu105 commented on #3133
I confirm this its coz the sass task is not run during initail install

You can run `gulp sass` to solve this for now, we will add sass task to the initial run

[2016-03-11 05:48] deepu105 commented on #3133
closed via https://github.com/jhipster/generator-jhipster/commit/f1362b12bc9eb3e8f74d1d02b45880d248343ebe

[2016-03-11 05:48] #3133 closed

[2016-03-11 07:27] erikkemperman commented on #3122
So the PR was merged... There might be a better way to detect running from war, I'd love to hear about it!

In the mean time though it would be good if you guys can confirm this works for your use case, and if so close the issue?

[2016-03-11 08:17] deepu105 commented on #3122
@wmarques @pascalgrimaud can you guys check plz?

[2016-03-11 08:23] pascalgrimaud commented on #3122
I can test on linux tonight. Tests which must be done:
- Windows / OSX / Linux
    - Maven / Gradle
        - the package.war in target/ folder or build/lib/ for gradle
        - move the .war to another folder, and
        - with IDE
        - of course, the default ./mvnw or ./gradlew should work

[2016-03-11 08:28] deepu105 commented on #3122
@pascalgrimaud btw what do you think of @erikkemperman suggestion to remove the setDocumentRoot as the need to run an app in prod from IDE is very rare and if done should be only for debugging purpose?

[2016-03-11 08:45] pascalgrimaud commented on #3122
When developping / debugging, start the app in prod profile is optional, so IMO it's not so important.
Anyway, the user would be able to test his app in prod profile using : ./mvnw -Pprod or ./gradlew -Pprod

[2016-03-11 09:00] PierreBesson commented on #3122
For me, th only way I knew to launch the app in prod profile was using the Maven IDE plugin and switch the profile there.

[2016-03-11 09:33] erikkemperman commented on #3122
Maybe just to clarify, the case I was talking about (and which breaks without the `setDocumentRoot` call) is in Eclipse STS (and I imagine IntelliJ): Run/Debug as application. You can edit run/debug configurations and add VM arguments, such as `spring.profiles.active`.

But I think this might be quite a rare thing to do, and it is the only reason the `setDocumentRoot` call is in there. So if this

[2016-03-11 09:55] wmarques commented on #3122
@deepu105 it works fine with docker and `java -jar` command in target folder and `./mvnw`.

[2016-03-11 10:01] deepu105 commented on #3122
may be we could add a spring.profile variable to activate this something
like -Pdebug  or -Pide

ANd we can document it so that if anyone wants to run prod profile from IDE
s/he could pass this additional environment variable along with -Pprod

Thanks & Regards,
Deepu

On Fri, Mar 11, 2016 at 5:55 PM, William Marques <notifications@github.com>
wrote:

[2016-03-11 10:18] deepu105 commented on #3126
I have removed the dependency from package json, but in node modules its downloaded again as its required by some other dependency

Did some digging seems Mocha uses a glob version which depends on older graceful-fs they have corrected it https://github.com/mochajs/mocha/pull/2144 but havent release yet. SO im closing this

[2016-03-11 10:18] #3126 closed

[2016-03-11 10:19] deepu105 commented on #3122
Guys Im closing this, plz reopen if there is any issue

[2016-03-11 10:19] #3122 closed

[2016-03-11 10:20] deepu105 commented on #3118
started here https://github.com/deepu105/generator-jhipster/tree/jdl/generators/import-jdl
waiting for the JDL project

[2016-03-11 10:24] marcelinobadin opened #3135 "AbstractAuditEntity does not need to have @NotNull"
##### **Overview of the issue**
Nowadays, AbstractAuditEntity has @NotNull annotation on its fields, also, the annotations to fill the fields with @CreatedBy, @CreatedDate, so on so forth. Those annotations make @NotNull unnecessary because it will fill the fields with the correct information every time.

Of course, on the database it can be forced to be not null, but in the domain @NotNull is irr

[2016-03-11 10:28] michlis opened #3136 "[Feature] Entity changes in separate liquibase changesets"
##### **Motivation for or Use Case**
This applies mostly to projects in early development stage with likely changes in entities. Imagine **existing** entity X has been modified e.g. by adding new fields and updated by jhipster. Both flows with changes in `X.json` and `yo jhipster:entity X` or JDL's `*.jh` and ` jhipster-uml ` applies here.

Expected result is updated code and also entity table in

[2016-03-11 10:40] jdubois opened #3137 "Add cache replication configuration"
This is mostly for JHipster 3.0 with microservices, when you want to scale your nodes.

Currently ehcache only works in "standalone" mode, so if you scale your services you will get cache synchronization issues.

Please note we have the same issue with Hazelcast, but I'm focusing on ehcache here as it's the default cache, and it's what the vast majority of people use. Once this is done, we could o

[2016-03-11 10:47] deepu105 commented on #3136
This would require as to compare and do diffs of existing entities which is a lot of work and complex to do and we are pretty much occupied on current priorities.

Ill leave this open for other @jhipster/developers to comment

[2016-03-11 10:49] jdubois opened #3138 "BrowserSync proxy configuration for all APIs"
I am modifying this because of the Gateway in JHipster 3.0.

-> I'm going to do this right away, this ticket is to document the change and discuss it, as it's quite ugly, and maybe find a better solution afterwards

The issue with BrowserSync and the gateway is that we add microservices on-the-fly. So BrowserSync doesn't know about those new services, and can't forward API requests to them -> that

[2016-03-11 10:50] deepu105 commented on #3137
@jdubois why do you think hazelcast has the issue? it is clustered by deafult and should work out of the box. I have done both ehcache and hazelcast and and Im happy with how hazelcast works in clusters compared to ehcache which is not realtime sync, I have tried the ehcache synchronization and it wasnt that great. For micro services I would suggest making hazelcast as the cache option as it would

[2016-03-11 10:52] deepu105 commented on #3137
Also doing with hazelcast would be much easier as normally it will autodiscover if the same application is found in the network and we can even restrict that by IP with a single line in yaml

[2016-03-11 10:54] jdubois commented on #3136
For updating entities I'm using the Liquibase Maven goal, in fact -> this comes because of the new "re-generate" entity feature, and indeed this can be very complex

[2016-03-11 10:55] jdubois commented on #3137
Oh, if that's a lot simpler with Hazelcast we can start with it, and make it the default for microservices... Let's do a first test with Hazelcast before.

[2016-03-11 10:58] deepu105 commented on #3137
Actually hazelcast will make more sense for microservices, Our default hazelcast config worked for me with an app running on 4 nodes on the same network.

The only issue I had was when I ran dev and staging app on same network as they joined clusters due to auto discovery so I just added a IP whitelisting config to hazelcast in cache config.

may be I can add the same config, its few lines, to our

[2016-03-11 11:02] jdubois commented on #3137
Oh if you already know the config, and even have it running in prod, can you do this?
I'll rename the ticket accordingly!

[2016-03-11 11:13] deepu105 commented on #3137
Yup ill give it a try
On 11 Mar 2016 19:02, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-11 11:35] #3138 closed

[2016-03-11 11:38] gmarziou commented on #3138
This could be a good reason for prefixing proxified services with /api on gateway.

[2016-03-11 11:38] tnr2394 commented on #1394
Render blocking javascript means such a javascript or ajax call that is generated from your page which gets the content from over the network delaying the rendering and hence loading of the page. So all we need to do is avoiding more of ajax calls to server while rendering the page.

[2016-03-11 11:43] gmarziou commented on #1394
Please avoid commenting an old closed issue, open a new one if you have propositions or submit a PR.

[2016-03-11 12:39] jdubois commented on #3138
Ah yes you are correct! I'll first do the `/management` part, that's my next task this afternoon...

[2016-03-11 13:25] dscowan commented on #3075
I just updated jhipster to 2.27.2 and generated a new app. I am still seeing the same issue.  I am generating the app and then loading it in eclipse mars R2.   I then attempted to run UserServiceIntTest and get the same cannot cast error

Caused by: java.lang.ClassCastException: Cannot cast org.h2.Driver to javax.sql.DataSource
	at java.lang.Class.cast(Class.java:3369) ~[na:1.8.0_66]
	at com.zaxxe

[2016-03-11 13:26] #3130 closed

[2016-03-11 13:39] khouloudkhadija commented on #1509
Sorry I don't if this is the right place to ask this question but I don't understand "npm test" what did this command do exactly ? Could you please explain

[2016-03-11 15:34] gmarziou commented on #1509
You're correct, it's not the right place. This command runs tests on the generator itself, it's useful only if you plan to contribute to the generator project.

[2016-03-11 16:37] khouloudkhadija commented on #1509
That is exactly what I'm doing, I'm trying to modify  the source code of the jhipster generator and  when I run this command I have different errors (npm ERR! Test failed. See above for more details.) and I don't understand the cause of these errors specially that I didn't make a big modification, I just modified a html file to test it. (Sorry but where can I ask and get more information about the

[2016-03-11 16:46] jdubois commented on #3082
I'm closing this as it's done in this new separate project: https://github.com/jhipster/jhipster-console

[2016-03-11 16:46] #3082 closed

[2016-03-11 17:05] gmarziou commented on #1509
First thing it to check that the test passed before you make any change, if they did not pass then maybe it's temporary and we're working on it or your node environment is broken.
Ask your question  on gitter or stackoverflow as explained here: http://jhipster.github.io/help/

[2016-03-11 17:57] francisyuya opened #3139 "updating user entity to add foreign key"
##### **Overview of the issue**

Hi. I have create a project with jhipster. I added some entities. in my database schema, I have a relationship between the entities "user" (default jhi_user entitie generate by jhipster) and "activity field" (user has a field of activity).

This is a summary of my user entitie :

/**
 * A user.
 */
@Entity
@Table(name = "jhi_user")
@Cache(usage = CacheConcurrencySt

[2016-03-11 18:40] dscowan commented on #3075
I believe I might have narrowed this down.  I generated a new app using maven and had no issues.  Then went back to my gradle version and it failed.  It appears the app/src/test/resources/config/application.yml is not being loaded in the gradle version.  This causes the datasource to be incorrectly configured.  Not exactly sure why this is though yet.

[2016-03-11 19:14] amitjindal commented on #2848
Hi @moifort
I tested the following scenarios:
(After removing the username validation so I can use email as username)

#### Case 1: I sign in as a G+ user.
This creates an account with email as username. Then I logged out and clicked forgot password. This allowed me to change password. Now I am able to login via G+ as well as email (as username) and password.

#### Case 2: I created an account usi

[2016-03-11 20:38] geraldhumphries opened #3140 "Functions for dealing with LocalDate in DateUtil are named LocaleDate"
##### **Overview of the issue**

Functions for dealing with `LocalDate` in `date-util.service.js` are named `LocaleDate`. Small typo.

##### **Suggest a Fix**

I will open a pull request to fix the function names.

[2016-03-11 22:16] PierreBesson commented on #2988
The docker-compose generator has been added to the jhipster org on github.

@pascalgrimaud There remains only one thing to do to close this issue. All uses of 'Links' need to be removed from app.yml so that those files can be extended. If you don't have time to do it I will do it early next week. It shouldn't be an issue as docker compose now creates a default network linking images.

[2016-03-12 00:25] moifort commented on #2848
@amitjindal thanks for your feedback :+1: !

**Case 1 and case 2:** Yes, I allow this case when I begin to develop the social functionality (hope is not a security leak), maybe it can be cool to make like Stackverflow and associate several social account to one account through a screen.

1. Yes, it will be a better user experience if it's auto login at the first time.
2. I didn't notice, I will in

[2016-03-12 01:24] deepu105 commented on #3139
This is not a jhipster issue, you have modified the code that we generated and hence you should ask this in stack overflow with a jhipster tag.

[2016-03-12 01:24] #3139 closed

[2016-03-12 01:30] #3140 closed

[2016-03-12 09:33] pascalgrimaud commented on #2988
There is one thing too.
I wonder if for microservices, we should use `expose` instead of mapping `port`. If we use mapping `port`, we won't be able to start multi different microservices, using a different mysql database.

IMO :
mapping `port` => monolith
`expose` => microservice

[2016-03-13 04:03] deepu105 commented on #3136
I wouldnt want to take this up now as its too complex to do and maintain @michlis if you want to give it a try plz go ahead and do a PR and we will see how we can accomodate

[2016-03-13 04:03] #3136 closed

[2016-03-13 05:10] jhhobbs opened #3143 "FAST profile does not skip liquibase or springfox-swagger"
**Overview of the issue**

I attempted to use the fast profile and the startup output showed that the app was still running liquibase and springfox-swagger - perhaps I'm missing something?  Thanks for your help.

**JHipster Version(s)**
2.27.2

**Related issues**

[#2468](https://github.com/jhipster/generator-jhipster/issues/2468)

[code]

[2016-03-13 06:42] deepu105 commented on #3143
The fast profile is removed in the current master so  there is no more fast
profile. But if your version is 2.27.2 it might be still there
On 13 Mar 2016 13:10, "jhhobbs" <notifications@github.com> wrote:

[2016-03-13 08:59] jdubois commented on #3143
- Are you sure you are using version 2.7.2? Did you get it from NPM or did you clone/fork our Github repo? I'm asking this as there are a couple of strange logs.
- For Swagger yes you are right: I realize it's now running even in fast profile. I don't know who changed this (should do a `git blame`!) but that's clearly on purpose in the code, and the documentation might not have been updated accord

[2016-03-13 09:26] jdubois commented on #3137
Thanks @noctarius who pointed me to exactly what I want with Hazelcast - [here is the code](https://github.com/hazelcast-incubator/eurekast/blob/master/src/main/java/org/hazelcast/discovery/eurekast/EurekaDiscoveryStrategy.java).

So the idea is that:

- Hazelcast is used as our 2nd level cache, like normally with JHipster
- But when we scale our service, for example using `docker-compose scale`,

[2016-03-13 09:29] noctarius commented on #3137
Eureka discovery doesn't work yet, trying to build it based on Eureka 2 (RC2), anyhow the examples seem to be outdated (from master) - still fighting :)

If anybody has experience with Eureka 1 I'm happy to do a discovery plugin based on the older version as well. Generally speaking, building a discovery plugin based on Hazelcast 3.6, it basically is 3 classes and you're done.

Happy to help out o

[2016-03-13 10:57] jdubois commented on #3137
- Yes we got good experience with Eureka 1, our whole JHipster 3.0 microservices architecture is built around it! We will of course migrate to Eureka 2 when it's production-ready.
- For this kind of project, we usually do our own classes, that we generate for our users. If that's successful and the 3rd-party project is happy with it, we then try to contribute it back to the project: that's how our

[2016-03-13 13:34] jdubois commented on #3137
Guys, I've got something running which is much, much simpler :-)
@deepu105 have you started working on it? Otherwise just wait a little bit until my code is ready, I'll commit it directly

[2016-03-13 14:25] deepu105 commented on #3137
Nope I haven't started yet. Plz do even I was wondering why it wouldn't
work simply out of the box using the default discovery mechanism
On 13 Mar 2016 21:35, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-13 14:28] jdubois commented on #3137
I got the cluster running, and it looks all easy & simple, but my entities are not in sync between my cluster nodes.
As the cluster looks fine I'm wondering if we don't have another, older issue. Do you have this working fine in multicast ?

[2016-03-13 14:34] deepu105 commented on #3137
Yes I didn't have any issues reported in my prod apps so far
On 13 Mar 2016 22:28, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-13 16:51] pascalgrimaud commented on #2988
@PierreBesson : I replaced all links by external_links, and as you said, it works well.

[2016-03-13 17:10] jdubois commented on #3137
OK I got it working locally (on "localhost"). I'm pretty confident my configuration is also good with a real cluster, and I'm committing it as tomorrow I'll have a full cluster to test this :-)
So we should know quickly if it works in all situations!

[2016-03-13 17:44] #3137 closed

[2016-03-13 23:21] thiagogcm opened #3147 "Error with findByUserIsCurrentUser generated by entity subgenerator"
##### **Overview of the issue**
When using the method findByUserIsCurrentUser generated by the entity subgenator:
Ex:
[code]

I get the following error:

org.springframework.expression.spel.SpelEvaluationException: EL1008E:(pos 10): Property or field 'username' cannot be found on object of type 'java.lang.String' - maybe not public?
        at org.springframework.expression.spel.ast.PropertyOrFiel

[2016-03-14 01:13] dscowan opened #3148 "AWS war upload times out after 2 minutes"
JHipster v 2.27.2

During the upload of the war the default AWS s3 timeout of 2 minutes is hit if on a slow connection.  modified s3.js to add httpOptions timeout

          var s3 = new this.Aws.S3({
                params: {
                    Bucket: bucket,
                    Key: warKey
                },
                signatureVersion: 'v4',
                **httpOptions: {timeout: 60000

[2016-03-14 02:39] deepu105 commented on #3137
Ill test it as well, im gonna do a microservice demo day after tomorrow as
well
On 14 Mar 2016 01:44, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-14 02:45] deepu105 commented on #3137
Thats very similar to what i did to restrict IPs except I knew the ip so
had them in yml beforehand
On 14 Mar 2016 10:39, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2016-03-14 02:50] jhhobbs commented on #3143
Thanks for the reply.  I installed JHipster from NPM and am sure it's v. 2.27.2.

For the time being, I've commented out the @Configuration annotation on the class declaration in SwaggerConfiguation.java to prevent swagger from running.  My domain is slightly complicated, with 50+ entities and a number of bidirectional relationships which swagger was recursing through in a manner that made it trou

[2016-03-14 02:53] deepu105 commented on #3143
As I said earlier this wont be an issue in the next release as there is no
more fast profile. But Im now thinking may be we should add a no-swagger
switch
On 14 Mar 2016 10:50, "jhhobbs" <notifications@github.com> wrote:

[2016-03-14 03:21] jhhobbs commented on #3143
I would use it.  Also, from posts on stackoverflow and jhipster github issues, it seems others have had similar issues.

[2016-03-14 03:31] henri-tremblay opened #3150 "Allow to easily set the maximumPoolSize in Hikari"
##### **Overview of the issue**

Hikari allows to set many properties in `HikariConfig`. For instance the maximumPoolSize. However, the  current usage of the `DataSourceBuilder` and the fact that the `JHipsterProperties` are not passed anymore to the `dataSource()` method makes this almost impossible.

There are only two solutions for someone using a generated application:
1. Change the code pass

[2016-03-14 04:45] deepu105 commented on #3150
ping @cbornet

[2016-03-14 04:53] deepu105 commented on #3137
I have made hazelcast default when choosing gateway or microservice

[2016-03-14 04:53] deepu105 commented on #3148
ping @wuethrich44

[2016-03-14 08:19] cbornet commented on #3150
With the new datasource configuration that should just be setting "spring.datasource.hikari.maximum-pool-size" property in application-dev.yml.

[2016-03-14 08:40] wuethrich44 commented on #3148
I run into timeout issues too, so if this option fix that issue then it would be nice if you could provide a PR.

[2016-03-14 08:43] deepu105 commented on #3150
@henri-tremblay plz refer reply from @cbornet

[2016-03-14 08:43] #3150 closed

[2016-03-14 09:00] deepu105 opened #3151 "add profile switches to disable swagger, cache, liquibase"
Based on discussion https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/jhipster-dev/Jeh8bYV_sdM

[2016-03-14 09:45] tomvanrossom commented on #1940
I think there is still an issue with storing and retrieving the entityValue of an EntityAuditEvent.

**With** the `@Lob` annotation, all my `*IntTest` are running **fine** with the `FixedH2Dialect`
**Without** the annotation on entityValue, all the integrations tests **fail:**

**Without** the annotation running my server against Postgres-db with the `FixedPostgreSQL82Dialect`, the entityValue is

[2016-03-14 12:15] dienlh opened #3152 "sorry! plz help me fix bug jpaRopository with @Query anotation."
Query : select customer from Customer customer where (?1 ='' or ?1 is null or customer.ic_passport_number like %?1%).
Page<Customer> findAllByIcPassportNumber(Pageable pageable,String ic_passport_number);
i can't get all data like %?1% but using Mysql, with this query i can get all data with like %?1%

[2016-03-14 12:21] gmarziou commented on #3152
Closing as you did not follow our guidelines

[2016-03-14 12:21] #3152 closed

[2016-03-14 12:23] gmarziou commented on #3152
https://jhipster.github.io/help/

[2016-03-14 13:42] deepu105 opened #3153 "[Internal] remove underscore string and use lodash"
Lodash has most of the string methods we use https://lodash.com/docs#camelCase

we can may be remove the underscore.string dependency and use lodash alone.

@jdubois I guess underscore was added by you any specific reason?

[2016-03-14 13:45] jdubois commented on #3153
It's only there for historic reasons -> yes +1 to remove it

[2016-03-14 16:38] wmarques opened #3154 "Cannot run application with prod profile using Spring.profiles.active option"
##### **Overview of the issue**

All is in the title, I ran `mvn package -Pprod` then `java -jar -Dspring.profiles.active=prod target/*.war `and it outputs me that I run with profiles `dev, prod`, which is not possible so the app crashes.

But if i run `mvn -Pprod` it works fine in prod profile.

##### **JHipster Version(s)**

master

##### **JHipster configuration, a `.yo-rc.json` file generated

[2016-03-14 16:42] jdubois opened #3155 "Remove "dev" profile"
Today we have either the "dev" profile or the "prod" profile, and they are mutually exclusive.

-> why do we even have a "dev" profile? Let's just have a "prod" profile, and then we switch wether the user is in "prod" or in "!prod".

This is linked to #3151 #3154

[2016-03-14 17:02] jdubois commented on #3155
OK, that was stupid :-)

We need this to load the application-dev.yml or application-prod.yml file...

[2016-03-14 17:02] #3155 closed

[2016-03-14 17:13] wmarques commented on #3153
+1 for me too

[2016-03-14 17:57] jdubois opened #3156 "Migrate from Gulp Wiredep"
We are using Gulp Wiredep, but it is not maintained anymore:

https://github.com/taptapship/wiredep

So we should find an alternative solution

[2016-03-14 19:28] notflorian commented on #3154
I also had this issue recently, and I solved it by running `java -jar target/*.war --spring.profiles.active=prod` instead, as it is written in the [production documentation](http://jhipster.github.io/production/)

[2016-03-14 20:11] thiagogcm opened #3159 "[SUGGESTION] greenkeeper"
Sorry if this isn't the right place for it.
Have u guys already considered https://greenkeeper.io/ to keep npm dependencies up to date?

[2016-03-14 21:26] causevic opened #3160 "Dropdown menu not working in 2.27.2"
**Issue:** When clicking on navbar menus after jhipster generates app, nothing happens.
**Expected:** Menu items should be displayed.

This is the case for non-authenticated (Language), as well as authenticated menu items (Entities, Administration, Account).

The issue is that the src/main/webapp/index.html includes bootstrap twice, see below:

[code]

Here's my bower.json:

{
  "name": "21points"

[2016-03-14 21:53] lordlothar99 commented on #2244
Hi all
I just saw the one @geraldhumphries described, it's just copy/paste to add it to generator ; I can do it if you don't have time to.

I recently had some issues with db/es desynchronization...so I added some tests in my own projects.
Maybe it would be useful to include them too ; in every `createEntity()`, `updateEntity()` and `deleteEntity()` methods, just to ensure data is identical in sea

[2016-03-14 21:59] gmarziou opened #3161 "[Gateway] app name hard coded to gateway"
##### **Overview of the issue**

When generating a gateway named "buddy", I found that several configuration files used "gateway" instead:
- bootstrap-*.yml
- application-*.yml

[2016-03-14 22:23] geraldhumphries commented on #2244
@lordlothar99 go ahead. If there are really no performance impacts then it should be okay, but I bet it depends on your computer. I have only tested on an HDD, are you maybe using an SSD?

[2016-03-14 22:27] lordlothar99 commented on #2244
yes I got a SSD... well, let's try with a first version, and then we'll see if it's fast enough on any machine

[2016-03-14 22:30] #3161 closed

[2016-03-14 23:26] jdubois commented on #3154
Oh yes, sorry @wmarques I forgot about that.
I have no idea why `--spring.profiles.active=prod` works and not `-Dspring.profiles.active=prod `... But yes that's how it has always worked.
So I guess we should close this as "not a bug", but that's really misleading (if I'm getting wrong with it - and I wrote that documentation!! - then most people could get wrong), and I'd like to understand with th

[2016-03-14 23:27] #3154 closed

[2016-03-15 00:34] deepu105 commented on #3153
@wmarques im bit held up do you wanna try this?

[2016-03-15 00:38] deepu105 commented on #3156
@jdubois We already have an issue for this #2889 so im closing this and will update there

[2016-03-15 00:38] #3156 closed

[2016-03-15 00:42] deepu105 commented on #2889
Wiredep is not maintained anymore it seems.

https://github.com/taptapship/wiredep

So we should find an alternative solution soon

[2016-03-15 00:47] deepu105 commented on #3159
We already use david-dm to track dependency but there is no automation. Im
not sure if we need to automate that as it could cause many issues
On 15 Mar 2016 04:11, "Thiago Moura" <notifications@github.com> wrote:

[2016-03-15 00:49] deepu105 commented on #3160
Are you using material-ui module?  Or did you install that yourself?

In either case this wont be an issue with next version as the bootstrap js
is not used anymore
On 15 Mar 2016 05:26, "Emir Causevic" <notifications@github.com> wrote:

[2016-03-15 00:49] deepu105 commented on #3160
Oh also its not a jhipster issue, material ui adds additional bootstrap sass dependency

[2016-03-15 00:49] #3160 closed

[2016-03-15 01:53] sendilkumarn commented on #3160
@causevic  you can remove bootstrap.js from requires in bower.json then it will be fine.

[2016-03-15 05:08] pascalgrimaud commented on #3154
The documentation is correct
-D is used for JAVA_OPTS

[2016-03-15 08:19] sendilkumarn commented on #3153
#3163 Please check and merge if it is okay.

[2016-03-15 09:01] deepu105 opened #3164 "Missing i18n keys for gateway"
The gateway shows health for additional items for which i18n keys are missing

![image](https://cloud.githubusercontent.com/assets/1107223/13772512/903ca442-eacf-11e5-969f-9e026933990f.png)

[2016-03-15 09:24] succeeddoctor opened #3165 "Use an other argument with login and password to authenticate"
Hi,

 I m working on a project based on Jhipster and i need to use an other information in autthentication like :

 login, password, organization. So we can have in JHI_USER table different rows with some login and password and with differents organisations.

 I searched in code but i don't find how to do this.

 Can you help me please.

 Thanks

[2016-03-15 09:29] deepu105 commented on #3165
This is a stack overflow item, plz post it to SO and tag it with Jhipster and someone will help you

[2016-03-15 09:29] #3165 closed

[2016-03-15 10:57] deepu105 commented on #3164
fixed via https://github.com/jhipster/generator-jhipster/commit/3888bcff83c5399ca33478933adc988065f4160a and https://github.com/jhipster/generator-jhipster/commit/7dc00a4f15ec64b46e902952200569c9e370acff

[2016-03-15 10:57] #3164 closed

[2016-03-15 11:17] khouloudkhadija commented on #995
Hi  guys , I generate an application with jhipster generator and when I tried to run this application the execution was successful and without error but the display of the application was strange and when I inspect the home page of the application I got this error : "the server responded with a status of 401 (Unauthorized)"

[2016-03-15 11:21] deepu105 commented on #995
Plz dont post on old closed issues, open a new ticket following our issue template if you have any issue

[2016-03-15 11:22] khouloudkhadija commented on #995
ok i'm sorry

[2016-03-15 12:20] thiagogcm commented on #3159
It creates a new branch for the commit. You still can wait travis and merge manually. See this example from openlayers repo: https://github.com/openlayers/ol3/pull/4975

[2016-03-15 12:31] deepu105 commented on #3159
@jhipster/developers what do you think?

[2016-03-15 12:40] jdubois commented on #3159
I'm also using VersionEye -> https://www.versioneye.com/user/projects/52a77778632baca59e000003#tab-dependencies

There are just too many tools here!

[2016-03-15 13:04] unkndev commented on #2019
The Spring documentation says:
" In general we prefer Flyway because it is easier on the eyes, and it isn’t very common to need platform independence: usually only one or at most couple of platforms is needed."

https://docs.spring.io/spring-boot/docs/current/reference/html/howto-database-initialization.html#howto-use-a-higher-level-database-migration-tool

[2016-03-15 13:10] atomfrede commented on #2019
Please don't comment on old tickets. Flyway doesn't support a diff against exising databases, wo we will not support flyway in the near future.

[2016-03-15 13:18] deepu105 opened #3166 "microservice app always complain missing registry"
Gateways and Microservices always complain of missing config server in logs though everything works fine
[code]

[2016-03-15 13:21] gmarziou commented on #3166
Yes I confirm this behavior

[2016-03-15 13:36] sendilkumarn commented on #3153
#3163  is ready for merge. Please check.

[2016-03-15 13:43] sendilkumarn commented on #3148
This should be more project specific. This option is available as optional in their SDK. I don't think we have to add this.

[2016-03-15 16:59] moifort opened #3167 "Remove Twitter from Spring social connector"
I juste analyze if we can use Twitter if Twitter. Recently you can have the email field. But there is some problems:

* You can have the email but you need to make a special request to Twitter (it's a bit heavy process)
* Apparently Twitter social connector didn't manage to get the email field
* I try and it's didn't work for me :disappointed:

Link #2855

[2016-03-15 17:00] jdubois commented on #3167
For me it's not our issue -> we just configure Spring Social, and then if people want to have the email field with Twitter they need to do the paperwork

[2016-03-15 17:10] moifort commented on #3167
The problem is that the email is mandatory in `User` entity.

[2016-03-15 17:17] jdubois commented on #3167
Yes, if they don't configure their Twitter account it won't work -> for me it's the same thing as configuring the secret key, etc. If their Twitter configuration isn't correct, that's not working.
But if that annoys you, just remove it: Google and Facebook are far more important anyway.

[2016-03-15 17:23] jdubois commented on #2785
I just updated the v3 branch with a lot changes. It's not over yet, but at least there's no issue in merging to "master" when needed.
You can see my changes here: https://github.com/jhipster/jhipster.github.io/commits/v3_preparation

I'll need help on the front-end stuff and on the different options, as I didn't follow everything closely enough.

[2016-03-15 17:51] erikkemperman commented on #3154
Sorry to comment on closed issue, but I was thinking that since the war is now exclusively dev or prod, the prod one really shouldn't require an additional argument... Having said that, I have not yet thought of a clean way to implement this, but first wanted to ask if anyone agrees this makes sense?

[2016-03-15 17:55] jdubois commented on #3154
Yes I agree it makes sense!
Le 15 mars 2016 6:52 PM, "Erik Kemperman" <notifications@github.com> a
écrit :

[2016-03-15 17:59] succeeddoctor commented on #3165
I post this in stack overflow http://stackoverflow.com/questions/36014723/jhipster-how-do-i-add-an-extra-field-to-user-identity-for-authentication can you answer me there.

 Thanks

[2016-03-15 18:03] moifort commented on #3167
@jdubois yes don't worry, if it's ok for you it's ok for me :). I just want that you have all informations to judge it!

[2016-03-15 18:03] #3167 closed

[2016-03-15 18:26] moifort opened #3169 "Use id instead of login in UserManager controller"
After my PR #3116, @amitjindal report a problem about deleting a social user through user management screen.

Since we removed the format rule of `login` field in `User` entity, we can create login with special character. The problem is, when we create a social user without login we set it with his email, and if you want to delete it, we send DELETE url with the email address in query param and it

[2016-03-15 19:03] lordlothar99 commented on #2244
I created PR #3168 and tests are ok, but some jobs are failed (Cannot find module 'phantomjs-prebuilt') ; seems like that's nothing to do with my changes -> in my opinion the PR is ok

[2016-03-15 19:10] notflorian commented on #3154
Yes, very good idea!

[2016-03-15 19:27] andidev commented on #3169
+1
I also do remember this

[2016-03-15 20:40] BhawaniSingh commented on #3169
Hmm we can send email in request body too, I know its not common practice but its not discouraged by the specs

https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html

[2016-03-15 20:55] gmarziou opened #3171 "[Gateway] registry's gateway.yml file"
##### **Overview of the issue**

The registry has a [gateway.yml](https://github.com/jhipster/jhipster-registry/blob/master/central-config/gateway.yml) file in central-config, this does no longer work since a gateway is not necessary named "gateway". This file contains only this:

[code]

I think this property should be added to bootstrap.yml or application.yml of generated gateways.

[2016-03-15 21:06] gmarziou commented on #3171
@PierreBesson as you created this file, do you have any comment?

[2016-03-15 21:54] lordlothar99 opened #3172 "Jpa EntityListener used to synchronize ElasticSearch with database"
##### **Overview of the issue**

[Enhancement] For SQL + ElasticSearch applications, usage of EntityListener

##### **Motivation for or Use Case**

For applications using ElasticSearch, `EntityResource` / `EntityServiceImpl` call both `EntityRepository.save()` and `EntitySearchRepository.save()` ( resp `update()` / `delete()` ), which is not very elegant ; but the real problem is when an attached

[2016-03-15 21:59] gmarziou opened #3173 "[Gateway] one gateway shows other gateways API"
##### **Overview of the issue**

Minor issue: in case of multiple gateways, the swagger json on one gateway shows the /api/gateway resource of the other gateways.

[2016-03-15 22:36] lordlothar99 opened #3175 "EntityMapper should be invoked from EntityResource only even if EntityService is present"
##### **Overview of the issue**

[Enhancement] `EntityMapper` should be invoked from `EntityResource` only even if `EntityService` is present

##### **Motivation for or Use Case**

In my point of view, `EntityService` shouldn't bother with DTO <-> Entity conversion, that's only `EntityResource` responsibility. `EntityService` should only see entities, and not make any reference to `rest` package

[2016-03-15 22:50] gmarziou opened #3176 "App should fail when unable to connect to Registry"
##### **Overview of the issue**

Microservices apps and gateways should fail when unable to connect to Registry

##### **Suggest a Fix**

By setting this in bootstrap.yml

     spring.cloud.config.fail-fast: true

App will fail this way:

[code]

[2016-03-16 00:33] deepu105 commented on #3154
For dev purpose its just easier to just run mvn/gradlew and start in dev
without passing anything so that behaviour shouldn't change. But in case of
a war file it would be more for prod by default so if there is a way to set
prod as default profile when running as a war then that should be ok
On 16 Mar 2016 03:11, "Florian Fauvarque" <notifications@github.com> wrote:

[2016-03-16 03:26] amitjindal commented on #3169
I think delete should have been done with ID to begin with. Not sure why it was done with username?
I can't imagine a security leak with this. If you think bruteforce, that can be done via a dictionary attack also against the delete API. And for such concerns we have UUID primary keys.

Using ID also falls into the same entity pattern used in all the rest controllers, so I think this should be con

[2016-03-16 04:04] deepu105 commented on #3153
closed via #3163 @sendilkumarn add the fix #issuenumber for autoclose next time

[2016-03-16 04:04] #3153 closed

[2016-03-16 04:07] deepu105 commented on #3175
Ok if you can make a clean PR without much code duplication then plz do

[2016-03-16 06:47] erikkemperman commented on #3154
I was thinking to set the maven/gradle profile used when building the war as default spring profile when running it.

But I haven't figured out a nice way to do this yet. I tried to use the `spring.profiles.default` property for this (and leave `profikes.active` empty) but that doesn't work because `application-<profile>.yml` is not loaded.

Will try again this evening.

[2016-03-16 07:05] jdubois commented on #3176
Excellent !!!
Is there also an option to wait a couple of minutes and retry?

[2016-03-16 07:12] deepu105 commented on #3127
closed via #3158

[2016-03-16 07:12] #3127 closed

[2016-03-16 08:40] gmarziou commented on #3176
Yes there is a retry but I haven't tested it yet and it's important because I'm wondering whether it can fail fast also later after app successfully started and when registry goes down.

[2016-03-16 09:13] PierreBesson commented on #3176
I just tested it and there is no retry.

[2016-03-16 09:14] PierreBesson commented on #3176
Spoken too fast, it seems that there is a retry config...

[2016-03-16 09:44] jdubois commented on #3175
I didn't code that part so I don't know it very well, but if the EntityService imports a DTO then that's an architecture issue: packages in business layer of the app should not reference packages in the Web/REST layer. So yes this should be changed.

[2016-03-16 09:48] jdubois commented on #3169
Yes the ID is supposed to be an internal, technical ID, so when we do a "delete" we use the login -> this has been done like that at the beginning and this looks like a good decision to me, so I would like to keep it that way.
I know the issue with the ".com" in the URL, we already have had it, and it's already been solved, have a look [here](https://github.com/jhipster/generator-jhipster/blob/mas

[2016-03-16 09:51] moifort commented on #3169
@jdubois oh my bad!

[2016-03-16 09:51] #3169 closed

[2016-03-16 09:52] PierreBesson commented on #2988
@pascalgrimaud, I agree with you. Let's use `port` for monolith and `expose` for microservice. That way, monolith user can still easily connect to their db but for micro-services we are not bothered in dev with multiple db on the same port.

[2016-03-16 14:03] ARAtIntBitTech commented on #789
Any tutorial on how to deploy the app on ElasticBeanStalk - AWS?

[2016-03-16 14:08] jdubois commented on #3154
Be careful if you do this: it also mean we need to stop generating Docker and Docker Compose file for dev, as they use a packaged WAR file.

- So if we remove the "dev" packaging we must also remove the "dev" Docker configuration -> please also remove it in your commit, it's the app.dev.yml and db.dev.yml files in teh src/main/docker folder, and there's probably not much else to do.
- We also need

[2016-03-16 14:25] jdubois opened #3180 "Remove the "dev" Docker and Docker Compose configurations"
This ticket comes from [this conversation](https://github.com/jhipster/generator-jhipster/issues/3154#issuecomment-197182011).

The idea is from @erikkemperman and I'd like to have feedback from at least @pascalgrimaud as he's the expert of this part.

- Having a "dev" packaged WAR file doesn't have any usage, and in fact it could be an issue as people could deploy it in "prod" by mistake -> so th

[2016-03-16 14:32] erkieh opened #3181 "Sorting is not working in 3.0"
From current master 3e9436ef9d7b60b9edec9ec7dedee582a49f0d8c I recieve "Uncaught TypeError: $scope.callback is not a function" when I try to sort an entity table.

I tried replacing the $scope.callback() with vm.callback() in the sort.directive.js, that gets the sorting to work, but the icon does not change. triggerApply recieves an array of undefined elements.

[2016-03-16 14:41] pascalgrimaud commented on #3180
I will read all conversations and answer it tonight

[2016-03-16 14:41] deepu105 commented on #789
Check the Aws sub generator
On 16 Mar 2016 22:05, "AR" <notifications@github.com> wrote:

[2016-03-16 14:44] deepu105 commented on #3181
@geraldhumphries this seems related your recent change can you plz take a look

[2016-03-16 14:45] erikkemperman commented on #3180
Perhaps to avoid misunderstandings... I was thinking to set the maven/gradle profile used when building the war as the default spring profile when running/deploying that war.

So if I do `mvn -Pprod package` then I would like to get the `prod` profile when I run `java -jar target/xxx.war` (or deploying it) without having to specify `--spring.profiles.active=prod` (or `-Dspring.profiles.active=prod

[2016-03-16 15:05] geraldhumphries commented on #3181
Okay, looking into it.

[2016-03-16 16:04] jdubois commented on #3180
Oh, maybe I'm going to far here....

OK, the current system is working well, I've never heard complaints about it: let's not break it now that the 3.0 release is approaching.

I'm closing this, but this is something we should think of in the future.

[2016-03-16 16:04] #3180 closed

[2016-03-16 16:04] #3181 closed

[2016-03-16 16:05] #3176 closed

[2016-03-16 16:12] erikkemperman commented on #3180
So you're just closing this issue of "removing `dev`" -- but do you still agree that the default profile for running the war should be the one that was used to build it? If not please let me know, then I won't spend any time on that :-)

[2016-03-16 16:17] jdubois commented on #3180
Yes the default profile is the one used to generate the war -> maybe we should write this in the war name, otherwise you can't know if a war is for prod or dev, and that can lead to errors

[2016-03-16 16:23] lordlothar99 commented on #3175
I'm working on the PR...

[2016-03-16 16:34] deepu105 commented on #3180
Thats exactly what i did in my last app I appended the profile to war name
so that i know what war goes were, I had dev, sit, uat, dr and prod
environment with different db and service urls
On 17 Mar 2016 00:17, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-16 16:59] jdubois commented on #3173
In fact it sees the gateway as another service, so it manages it the same as a microservice. I need to check what we can pass in the "metadata" section of the service registry, maybe we can tag our services, and in this case ignore the services tagged as "gateway".

[2016-03-16 17:20] gmarziou commented on #3173
Yes good idea

[2016-03-16 17:56] PierreBesson commented on #3171
OK, the idea of this was to check if the config server is found as the configserver.status URL can only be displayed if the config server is found.

At the time I didn't know of the common config: application.yml. So this file should be removed and replace an application.yml file like this:

[code]

If it's OK for you I will PR this to the registry.

[2016-03-16 18:35] ARAtIntBitTech commented on #2261
hey @superandrew , how did you get the token for the simple http session security option? Mobile.

[2016-03-16 21:34] gmarziou commented on #3171
OK for me

[2016-03-16 22:10] pascalgrimaud commented on #3180
**About packaging**. These use cases is for development:
- `mvn` => **dev** profile
- `mvn -Pdev` => **dev** profile
- `mvn -Pprod` => **prod** profile
- start main() in IDE => **dev** profile

When packaging
- `app.war` => like suggested by @erikkemperman, it should depend on the profile which has been used for packaging

I like the @deepu105's idea. I think it should be:
- `mvn package` or `mvn

[2016-03-16 22:30] andrey-chorniy commented on #1283
@deepu105 could you please describe how to use jhipster-react ? command "yo jhipster-react" do not generate app for me

[2016-03-17 01:09] deepu105 commented on #1283
Its still a work in progress and not yet released.
On 17 Mar 2016 06:31, "Andrey Chorniy" <notifications@github.com> wrote:

[2016-03-17 05:45] erikkemperman commented on #3180
Thanks for the detailed response!

I'm not sure if it's possible to have `dev` be the default for the `spring-boot:run` goal while `prod` is the default for the `package` goal... I think that's just not how the `activeByDefault` switch works in maven?

I've tried yesterday to "promote" the maven profile into a spring profile, but I could only come up with a pretty ugly method... Maybe someone has

[2016-03-17 07:55] deepu105 opened #3189 "Console error in gateway from Zuul filter"
When running a gateway app, there seems to be some console errors related to Zuul filters, though it doesn't seem to apparently affect anything its printed for all the requests to microservices

[code]

[2016-03-17 08:06] deepu105 opened #3190 "Move JDL documentation from UML to new section on menu"
Currently the JDL documentation is under Jhipster UML https://jhipster.github.io/jhipster-uml/#jdl

I would propose to move it up to be in a section called JDL

so menu would be like below

![image](https://cloud.githubusercontent.com/assets/1107223/13839942/26b0e9e8-ec5a-11e5-8fb1-5263fc4946f8.png)

@MathieuAA FYI

[2016-03-17 08:21] deepu105 opened #3191 "disable close on backdrop click on entity modals"
Currently our entity create/edit views are shown in a modal lightbox which is nice. But the default setting enables close on click of any space outside the modal and if some one accidentally clicks or drags outside the modal body its closed and we loose all the data that is typed in. Its very annoying at times. We anyway have a close button on the modal to close it

By adding `backdrop : 'static'`

[2016-03-17 08:26] pascalgrimaud commented on #3180
JH3.0 is so closed... so, @erikkemperman, I think it can be done later
The only thing to be sure is to test that all use cases work

About renaming docker-compose files, what do you think ? cc @PierreBesson @wmarques

[2016-03-17 08:42] jdubois commented on #3190
Or have a global menu for "graphical generation" but we need a better word
for this.
Le 17 mars 2016 9:06 AM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-03-17 08:46] deepu105 commented on #3190
JDL seems to be catching on so I was thinking it would be good to put that
as a separate item

Thanks & Regards,
Deepu

On Thu, Mar 17, 2016 at 4:42 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-17 08:48] wmarques commented on #3180
I like your idea @pascalgrimaud. So now the docker-compose files will only be about the prod profile right ?

[2016-03-17 08:51] erikkemperman commented on #3180
Well, I think there has to at least be some solution for the `setDocumentRoot` trouble. Maybe the best immediate thing to do is remove it altogether. That would break the case of running prod profile from the IDE, but everything else should work.

[2016-03-17 09:11] wmarques opened #3192 "Error in JSON parse on get request entity in MongoDB app"
##### **Overview of the issue**
When my app tries to get all Foos, the URL in href is wrong, it only put the first 2 numbers of the ID. So when I click on it, angular throws me an error `unexpected end of input`.
This occurred when running the mongoDB app with gateway in prod profiles, using docker-compose generator.
It works in a monolithic application.

##### **JHipster Version(s)**

last master

[2016-03-17 09:37] lluiscanals commented on #3191
Hi all,
    In a recent project I implemented that when browser's return button is clicked modal is closed, because in small screens you can't click outside the modal (no space left). Maybe this could be also implemented. If you want I can create a separete issue.

[2016-03-17 09:57] jdubois commented on #3180
Hi guys,

- All the propositions from @pascalgrimaud are good for me -> I have the time to do it today, so I'm going to start this
- I'm also writing the v3 documentation at https://github.com/jhipster/jhipster.github.io/tree/v3_preparation so this need to be in sync
- I don't understand the `setDocumentRoot` issue very well, but for me it's important to be able to run the prod profile from the ID

[2016-03-17 10:21] wmarques commented on #3192
Alright I found where it's from. My gateway is in SQL DB and my microservice is using MongoDB, so the `entityUrlType` was an int instead of string, I'm going to PR a fix.

[2016-03-17 10:23] jdubois commented on #3190
Maybe have a "GUI tooling" section, which has: the JDL spec, JHipster UML, and the JDL studio

[2016-03-17 10:26] jdubois opened #3193 "Migrate generator-jhipster-docker-compose to a sub-generator"
The [JHipster Docker Compose generator(https://github.com/jhipster/generator-jhipster-docker-compose) is useful to everyone who wants to do microservices.

Migrating it to a sub-generator means that:

- It's installed for everyone from the start
- It's documented and easy to use in the main documentation

My proposal is that we call it "docker-compose", so that people only need to run "yo jhipster

[2016-03-17 11:36] deepu105 commented on #3191
I wouldnt want it to close when hitting enter thats bad UX

Thanks & Regards,
Deepu

On Thu, Mar 17, 2016 at 5:38 PM, Lluis Canals Ros <notifications@github.com>
wrote:

[2016-03-17 11:42] deepu105 commented on #3190
In that case we need to think of a better name then `GUI tooling', I would
prefer simply `Tools` rather than GUI tools

Thanks & Regards,
Deepu

On Thu, Mar 17, 2016 at 6:23 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-17 11:43] deepu105 commented on #3193
I wanted to open this as an issue myself :) +1 it should be a sub gen

Thanks & Regards,
Deepu

On Thu, Mar 17, 2016 at 6:26 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-17 11:58] lluiscanals commented on #3191
Clicking enter? That's not what I said.

[2016-03-17 12:03] deepu105 commented on #3191
Did you mean escape key? I thought you meant MAC term

Thanks & Regards,
Deepu

On Thu, Mar 17, 2016 at 7:58 PM, Lluis Canals Ros <notifications@github.com>
wrote:

[2016-03-17 12:09] lluiscanals commented on #3191
Oh sorry, I was referring to browser "back" button, not return button. Sorry for the misunderstanding.

[2016-03-17 12:15] deepu105 commented on #3191
That already works here as we use routes for modals as well

Thanks & Regards,
Deepu

On Thu, Mar 17, 2016 at 8:09 PM, Lluis Canals Ros <notifications@github.com>
wrote:

[2016-03-17 12:22] lluiscanals commented on #3191
Yes, you are right, if the modal is in routes is ok. Thanks.

[2016-03-17 13:03] #3118 closed

[2016-03-17 13:22] #3192 closed

[2016-03-17 13:27] jdubois commented on #3159
OK not many comments here: thanks for pointing this @thiagogcm as it might be handy in the future, but we've already have enough tools for the moment

[2016-03-17 13:27] #3159 closed

[2016-03-17 13:27] jdubois commented on #3151
Closing this as the PR is merged

[2016-03-17 13:27] #3151 closed

[2016-03-17 14:07] geraldhumphries opened #3200 "Module pages in jhipster.github.io seem to be broken"
##### **Overview of the issue**
The version, author, compatibility, etc. aren't loading properly when viewing the info page for a module. Example: http://jhipster.github.io/modules/marketplace/#/details/generator-jhipster-elasticsearch-reindexer

##### **Browsers and Operating System**

Windows 10, Firefox and Chrome

[2016-03-17 14:34] geraldhumphries commented on #3200
Oh, they started working again.

[2016-03-17 14:34] #3200 closed

[2016-03-17 15:11] deepu105 commented on #2785
here are some updates https://github.com/jhipster/jhipster.github.io/pull/217

[2016-03-17 15:15] deepu105 commented on #3151
i havent added the no-cache yet but its ok

Thanks & Regards,
Deepu

On Thu, Mar 17, 2016 at 9:27 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-17 15:20] wmarques commented on #3191
I'm doing this

[2016-03-17 15:25] deepu105 commented on #3191
+1

Thanks & Regards,
Deepu

On Thu, Mar 17, 2016 at 11:20 PM, William Marques <notifications@github.com>
wrote:

[2016-03-17 15:29] wmarques commented on #3191
So I add backdrop: static only for entity management modals ?

[2016-03-17 15:41] deepu105 commented on #3191
Yes just for entity create and edit views
On 17 Mar 2016 23:29, "William Marques" <notifications@github.com> wrote:

[2016-03-17 15:43] thiagogcm commented on #3159
No hassle! When I saw this I thought it could be useful, not to just keep track but to automate this task. But I agree that are too many tools to manage.

[2016-03-17 15:43] wmarques commented on #3191
@deepu105 maybe also for new user and edit user then ?

[2016-03-17 15:46] deepu105 commented on #3191
Yup can
On 17 Mar 2016 23:43, "William Marques" <notifications@github.com> wrote:

[2016-03-17 16:01] PierreBesson commented on #3166
I have done a PR to fix this issue https://github.com/jhipster/jhipster-registry/pull/23.
And it even works in docker: https://github.com/jhipster/jhipster-registry/pull/24

`docker pull jhipster/jhipster-registry` to force re-downloading of latest image. By default it gets its conf from the registry's git repo but it can be changed easily with an environment variable.

[2016-03-17 16:02] PierreBesson commented on #3171
@gmarziou, It is done in https://github.com/jhipster/jhipster-registry/pull/23.

[2016-03-17 16:59] fraf opened #3202 "Spring-boot-dev : Error live reload"
I installed Jhipster OTB, generated entities, created a Service and a DTO.
All works well.
I started the application with mvn spring-boot:run.
I've got the following final logs at console :+1:

I navigate for example to user management page to list all users.All is ok,

I decided to test "livereload" feature of spring boot.
Then I go for editing java file "UserResource.java". At "getAllUsers()" me

[2016-03-17 17:07] jdubois commented on #3202
You have a DTO, that comes from your MapStruct configuration, which has not run, so your class has not been compiled -> have a look at how MapStruct has to be configured, that depends on your IDE.

[2016-03-17 17:07] #3202 closed

[2016-03-17 17:49] #3193 closed

[2016-03-17 18:09] #3171 closed

[2016-03-17 18:12] jdubois commented on #3180
I've done the Docker migration, so we now have mysql.yml, mongodb.yml....
But I have afterthoughts, it would be better to have all services in a 'services.yml': otherwise it's impossible to do the global Docker Compose for microservices, as we don't know which files we will need. Anyway, it's always easier to have the same file everywhere.

[2016-03-17 21:40] lazaropj commented on #2848
First, thank you.
I am hoping so eagerly.
1) I can use to login with Facebook?
2) I already have a project in production. How do I upgrade to this change?

[2016-03-17 22:16] moifort commented on #2848
@lazaropj you're welcome :)

1) Yes it's work for facebook, but for Http session and JWT authentication only (oAuth is not implemented yet)
2) It's always a difficult part, the simple way (for me) it's to see the PR  #3116 and #3183, go to *Files changed* tab and make the change directly in your project.

[2016-03-17 22:33] gmarziou commented on #3171
I think the URL is wrong, I changed it to make it clickable::

jhipster/jhipster-registry/pull/26

[2016-03-17 22:57] rodrigomaio commented on #3006
Should this be reopened? I guess it's broken for everyone using last version + gulp + gradle, or did I miss something?

[2016-03-17 23:20] gmarziou commented on #3166
Works fine now

[2016-03-17 23:20] #3166 closed

[2016-03-17 23:50] deepu105 commented on #3006
What do you mean by its broken?
On 18 Mar 2016 06:58, "Rodrigo Souza" <notifications@github.com> wrote:

[2016-03-18 01:45] rodrigomaio commented on #3006
Creating a project (v2.27.2 + Gradle + Gulp) and running ./gradlew seems to build for prod, e.g. no development tag (upper left), does not show swagger API menu option...

[2016-03-18 02:00] deepu105 commented on #3006
Can you open a new issue with proper details required using the issue
template
On 18 Mar 2016 09:45, "Rodrigo Souza" <notifications@github.com> wrote:

[2016-03-18 02:27] rodrigomaio opened #3204 "Running ./gradlew (Gulp + Gradle) seems to build for prod"
##### **Overview of the issue**

Creating a project (v2.27.2 + Gradle + Gulp) and running ./gradlew seems to build for prod

##### **Motivation for or Use Case**

Default build should be DEV env, e.g. show swagger API menu option, non-minified css/js, development tag (upper left)

##### **JHipster Version(s)**

2.27.2

##### **JHipster configuration, a `.yo-rc.json` file generated in the root fold

[2016-03-18 03:01] #3191 closed

[2016-03-18 03:01] deepu105 commented on #3190
Im gonna put them under tools for now

[2016-03-18 03:01] #3190 closed

[2016-03-18 06:27] atomfrede commented on #3204
I have a fix at hand. Will do a PR this evening.

[2016-03-18 07:23] pascalgrimaud commented on #3180
all services in  ̀services.yml` is a good idea too

[2016-03-18 09:29] deepu105 commented on #2785
@erikkemperman would you be willing to do item 22 in the todo since you did the PR?

[2016-03-18 09:30] deepu105 commented on #2785
Ill do items 7, 10 , 11 and 25 as well by this week

[2016-03-18 09:47] PierreBesson commented on #2785
I will add documentation about the jhipster registry (spring cloud config part) and jhipster console.

[2016-03-18 10:12] deepu105 commented on #2848
@moifort are you planning to do this for Oauth as well or can we close this?

[2016-03-18 11:47] moifort commented on #2848
Yes i Will plan it, that's why I didn't close the ticket.

Thibaut.

[2016-03-18 12:16] lordlothar99 opened #3206 "Set default spring.jpa.show_sql to false"
##### **Overview of the issue**

Hibernate queries executions slow down build execution, and fill the console ; developers would rather activate them when necessary, but parameter default value should be `false`

##### **JHipster Version(s)**

2.27.0

[2016-03-18 12:19] jdubois commented on #3206
I thought this was only true in the "dev" profile? Are you sure?

[2016-03-18 12:25] lordlothar99 commented on #3206
it was in both `src/main/resources/config/_application-dev.yml` and `src/test/resources/config/_application.yml` ... in my opinion it's better to set it to `false`, so builds are faster ; anyway, developers can always put it to `true` in their own dev environment

[2016-03-18 12:26] lordlothar99 commented on #3206
PR is #3207

[2016-03-18 13:12] bosofelipe opened #3208 "Error on create an app with jhipster bower.json"
##### **Overview of the issue**

Not work the jhispter project creation

##### **Motivation for or Use Case**

I need create an app but bower crash the creation

##### **JHipster Version(s)**

last version

##### **Reproduce the error**

When i run "yo jhipster" show this error

[code]

What do I do?

[2016-03-18 13:16] deepu105 commented on #3208
This is not a JHipster issue, look at the error logs, seems like you are executing something on a directory where you do not have access. If you are on mac/linux try with sudo else try to run in a folder where you have access

[2016-03-18 13:16] #3208 closed

[2016-03-18 13:23] jdubois commented on #3206
No that's on purpose: we output SQL statements in dev so that people see what they are doing. It's not slowing anything down, it's just outputed to the console. Or you have a much, much bigger issue as you are doing a ton of SQL requests (and that's what is slow).

[2016-03-18 13:23] #3206 closed

[2016-03-18 15:40] Meriem19 opened #3210 "org.jhipster.config does not exist"
Hello,
I'm stuck with that error, package org.jhipster.config does not exist.
How can i fix it

Please help

[2016-03-18 15:43] dpalita commented on #3075
In my case (IntelliJ 2016.1 loading an IntelliJ 15 project) it was because IntelliJ changed the way they handle gradle project and they need to be reimported (at least to get the classpath right).
It is now working fine, the problem was that build/resource/main was not on the classpath.

[2016-03-18 15:49] jdubois commented on #3210
Please follow our guidelines for submitting a bug.

[2016-03-18 15:49] #3210 closed

[2016-03-18 15:50] jdubois commented on #2988
This is now documented and working fine, so I'm closing this!

[2016-03-18 15:50] #2988 closed

[2016-03-18 16:06] deepu105 commented on #2785
ok this is good progress so far :)

[2016-03-18 16:09] deepu105 commented on #2785
@jdubois for the presentation (item 11) how do you want me to proceed. Should I use the same presentation and update just the content or do you want me to do a fresh presentation?

[2016-03-18 16:12] jdubois commented on #2785
@deepu105 it should be in the same presentation, as people want to have a good overview of everything

This doesn't have to be huge, some slides to add that we also support the microservices architecture, with a diagram, and saying that we use the Netflix stack

Can you also add something on our Docker Compose support? This is really great stuff, I don't know if people realize this.

[2016-03-18 16:20] wmarques commented on #3189
How can i reproduce this error ?

[2016-03-18 16:22] deepu105 commented on #3189
No idea, may be try this when I was running the gateway with 2 microservice
apps this kept on printing for every server request to microservice

Thanks & Regards,
Deepu

On Sat, Mar 19, 2016 at 12:20 AM, William Marques <notifications@github.com>
wrote:

[2016-03-18 16:25] deepu105 commented on #3135
@jdubois what is your opinion on this. I also find the @NotNull annotations annoying as it fails bean Validatios coz the data is filled by spring after bean validations

[2016-03-18 16:27] deepu105 commented on #2244
closed via #3168

[2016-03-18 16:27] #2244 closed

[2016-03-18 16:28] jdubois commented on #3189
Don't you have an issue with the spring.application.name key?

[2016-03-18 16:30] deepu105 commented on #3147
can you check if this works with session based auth?

[2016-03-18 16:30] deepu105 commented on #3147
cc @jdubois this is with JWT so might be a bug

[2016-03-18 16:33] deepu105 commented on #2899
@andidev could this be a mapstruct bug?

[2016-03-18 16:34] deepu105 commented on #3189
I didnt have any apparent issue, Just found the erros on console apps were
working fine

Thanks & Regards,
Deepu

On Sat, Mar 19, 2016 at 12:28 AM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-18 16:37] jdubois commented on #3135
yes it can be removed

[2016-03-18 18:09] lordlothar99 commented on #3175
PR #3212 created. I let you guys have a look at those change ; it seems like there are plenty, but actually generated code if very close to previous version. I tried to clean both generated and generator codes.

[2016-03-18 20:52] antonevane commented on #2283
@TonyLuo Have you  found a solution. I have the same issue with `prod` profile.

[2016-03-18 22:29] gzsombor commented on #3175
It's really hard to follow, your proposed changes, but the original idea behind the DTOs/mapper/service implementation is that to decapsulate the API from the actual persistence implementation and from the actual REST endpoints. So the caller only needs to know the DTO, and he can freely call the services, he doesnt need to care about persistence contexts and transaction handling. Yes, sometimes o

[2016-03-18 23:15] bosofelipe opened #3215 "Error on login with user created"
##### **Overview of the issue**

When i try logged with user created show this error

angular.js:12520Broken interceptor detected: Config object not supplied in rejection:
 https://github.com/chieffancypants/angular-loading-bar/pull/50(anonymous function) @ angular.js:12520

##### **Motivation for or Use Case**

Error on loggin

##### **Browsers and Operating System**

Chrome

##### **Reproduce th

[2016-03-18 23:16] bosofelipe commented on #3208
Sorry I just run chmod 777 on folder an app working now!

tks @deepu105 !

[2016-03-18 23:18] lluiscanals commented on #2283
You have to include this part in gruntfile,

copy: {
            fonts: {
                files: [{
                    expand: true,
                    dot: true,
                    flatten: true,
                    cwd: 'src/main/webapp',
                    dest: '<%= yeoman.dist %>/assets/fonts',
                    src: [
                      'bower_components/bootstrap/fonts/*.*',

[2016-03-18 23:21] jdubois commented on #3215
I can't reproduce, we need your app version and options....

[2016-03-18 23:21] #3215 closed

[2016-03-18 23:35] pascalgrimaud opened #3216 "Can't create microservice in sub folder once docker-compose sub generator is launched"
##### **Overview of the issue**

I can't create another microservice in sub folder, once the docker-compose sub generator is launched 1 time.

##### **JHipster Version(s)**

master

##### **Reproduce the error**

1) create root folder for gateway+microservices and go inside
2) create a sub folder and create a microservice inside
3) go to root folder, launch `yo jhipster:docker-compose`
4) select t

[2016-03-18 23:38] jdubois commented on #3216
Do you have a `.yo-rc.json` file in your root folder? This is a common and very annoying issue coming from Yeoman.

[2016-03-18 23:39] pascalgrimaud commented on #3216
Yes, can/should I remove it ?
[code]

[2016-03-18 23:47] pascalgrimaud commented on #3216
Ok I got it. As you said, it comes from Yeoman not our sub-generator -> I close the ticket.

If I launch `yo jhipster:docker-compose` at root folder, the `.yo-rc.json` file is generated, so I have to delete it to create other microservice.

If I launch `yo jhipster:docker-compose` in one of the sub folder microservice, new informations will be  added inside the initial `.yo-rc.json`:
[code]

[2016-03-18 23:47] #3216 closed

[2016-03-19 01:04] gandrade commented on #3135
#3218

[2016-03-19 01:37] deepu105 commented on #3216
Pascal thats usual yeoman behaviour you cant create run a generator in
another generated apps subfolder. I.e you shouldn't have a yo-rc file on
any of your parent folder when yiu are running else yeoman automatically
will set the parent as root. Its documented on their website
On 19 Mar 2016 07:35, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-03-19 01:39] deepu105 commented on #3216
You you run docker-compose on its own sub folder which should be a sibling
of other gateway and mocroservice app folders. May be we should document
this clearly
On 19 Mar 2016 07:48, "Pascal Grimaud" <notifications@github.com> wrote:

[2016-03-19 01:41] deepu105 commented on #3135
Closed via #3218

[2016-03-19 01:41] #3135 closed

[2016-03-19 02:59] deepu105 commented on #2785
@cbornet about item 13, I dont see the Junit reporter configured anywhere. jenkins seems to be there is that enough? can you check and let me know . For now I have removed that section from docs

[2016-03-19 04:45] deepu105 commented on #2785
@jdubois I have updated presentation [here](https://github.com/jhipster/jhipster.github.io/pull/221) see if its enough or do you want to add more stuff?

[2016-03-19 07:54] deepu105 commented on #3175
@gzsombor are you trying to say that entity <-> DTO conversins should be happening in the service layer? When I implemented the service layer I too had similar opinion like you above but comment from @jdubois above got me thinking and yes I was not taking separation of concerns into account and I now kind of feel that he is right since service layer sits behind the web it shouldn't be dependent on

[2016-03-19 08:16] pascalgrimaud commented on #3216
Thank you, yes, the folder where we should run this sub gen, should be documented

[2016-03-19 08:27] cbornet commented on #2785
@deepu yes, karma-jenkins-reporter is a fork of karma-junit-reporter

[2016-03-19 10:04] gzsombor commented on #3175
@deepu105 : yes, this is my opinion. These DTOs are declaration of the communication protocol between the various other modules, and the UI also. So I can understand, if someone wants to put it into the web layer, but I like to think about as a way to separate independent functionalities inside one application. In our projects, if we have a xyz functionality, then we try to separate the code into

[2016-03-19 10:50] jdubois commented on #3175
I totally agree with @gzsombor on his 3 points.

There is also a 4th solution, which is provided out-of-the-box by Spring Boot, but which I have not used (I have used this pattern *a lot* in the past, but not the Spring Boot implementation): using the Open Session in View pattern.

- Pros: very convenient, people don't even have to know about lazy loading
- Cons: there's a performance hit (your tr

[2016-03-19 10:54] deepu105 commented on #3175
You do have a valid point. As you said this could be a very opinionated
thing so im leaving a blank vote here as Im ok both ways.
Lets see what @jdubois has to say
On 19 Mar 2016 18:04, "Zsombor" <notifications@github.com> wrote:

[2016-03-19 10:57] deepu105 commented on #3175
Actually that might be a good idea we can move dtos to either service layer
or in a common pacakge
On 19 Mar 2016 18:54, "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2016-03-19 11:23] deepu105 commented on #2785
So that leaves only two more items to do :)

[2016-03-19 11:47] jdubois commented on #2785
Great job!!!

[2016-03-19 12:06] deepu105 opened #3220 "setDocumentRoot breaks apps in cloudfoundry"
This is a tracking ticket for issue discussed in commit https://github.com/jhipster/generator-jhipster/commit/c9f5949654d4f6d6fd01e296a85ae47f72ed9ef7#commitcomment-16742432

This is actually a blocking issue for cloudfoundry deployment and we need to do something for this

cc @jdubois @atomfrede @erikkemperman

My suggestion is to do something like below as a workaround for now, this would only a

[2016-03-19 12:19] deepu105 opened #3221 "generated ELK logstash container fails with error in windows when the project is not in users home folder"
##### **Overview of the issue**

This is migrated from https://github.com/jhipster/generator-jhipster-docker-compose/issues/3

when doing `docker-compose up -d` the elk_logstash_1 container fails with below error
[code]

##### **JHipster Version(s)**

Master

##### **Browsers and Operating System**

Windows 10

##### **Reproduce the error**

generate a new docker-compose setting with the docker co

[2016-03-19 12:21] deepu105 commented on #3221
as @pascalgrimaud suggested Img onna try with placing the projects under the user folder

cc @PierreBesson @wmarques

[2016-03-19 12:49] lordlothar99 commented on #3175
I totally agree on all principles you guys talked about (layers separation, dependencies between modules, responsibility of each module..), but I'm afraid I disagree with you guys on their implementation ! in my opinion, moving DTO to service layer is indeed a violation of single responsibility of service module... as you said, DTO are dedicated to data-transfer with a specific technology, and the

[2016-03-19 12:58] erikkemperman commented on #3220
I still think it should be possible to accurately detect whether we're running from a war or not, without a separate profile, but unfortunately I have very little time these days. So this proposal of `prod,debug` looks awkward to me but is obviously better than current broken situation.

[2016-03-19 13:18] deepu105 commented on #3221
@pascalgrimaud that works. So I moved the test apps into `C:\Users\Deepu\jhipster-docker-compose-demo` and logstash starts up without any errors. But this is not ideal IMO, we should either find a solution or tell windows users that this is a limitation in windows

When I went to `http://192.168.99.100:5601/` to view the kibana dashboard its didnt load there was some error, but if I click on Dashb

[2016-03-19 13:56] deepu105 commented on #3175
I dont think we should add a switch for this, we should decide on a path
and stick to that.
worst case we can vote and close the case :)

Thanks & Regards,
Deepu

On Sat, Mar 19, 2016 at 8:49 PM, François Lecomte <notifications@github.com>
wrote:

[2016-03-19 14:16] pascalgrimaud commented on #3221
It's a limitation in Windows + Docker, because we use a mount volume here

[2016-03-19 17:03] jdubois commented on #3220
I'm sorry I didn't follow this closely enough -> why do we have setDocumentRoot in the first place? I looked in the code and couldn't find an explanation (oh, and this should be documented, also)
We didn't have this before, and it seems that it's causing quite a lot of issues

[2016-03-19 17:27] erikkemperman commented on #3220
It's needed when running prod profile outside of the war (eg IDE or spring-boot:run) because the optimized web assets are no longer in the default location at `src/main/webapp`. Before they were in `src/main/webapp/dist` and there was a server filter to append the last bit of that path.

The problem is that `setDocumentRoot` shouldn't be called when running inside of the war: it is unnecessary bec

[2016-03-19 18:20] jdubois commented on #3220
OK, thanks for the explanation @erikkemperman
Indeed, this looks buggy, and we will have issues with other app servers or clouds... So the `setDocumentRoot` should be avoided.
I don't like to have a new profile, it's complication things, and "prod_debug" is strange, when you already have a "dev" profile.
As this is a blocker issue, and there is no easy solution, I have 2 proposals:

- Go back to t

[2016-03-19 18:38] erikkemperman commented on #3220
I don't see how a servlet filter could fix the situation, without also reverting the directory layout changes and the gulp build.

I still hope for an easy solution though... I'm going to try if the simple file existence check I mentioned works. I think it might solve the whole thing,  and the experiment shouldn't take a long time.

[2016-03-19 18:43] jdubois commented on #3220
Yes, when I mentioned the Servlet filter, I meant going back to the previous situation.

I'm not saying I want to remove this forever, just that we need more time to find a solution.

[2016-03-19 18:51] jdubois commented on #3221
On Mac I have also an issue with a mounted volume, this time for the Elasticsearch container:

    Exception in thread "main" java.lang.IllegalStateException: Unable to access 'path.data' (/usr/share/elasticsearch/data/elasticsearch)
    Likely root cause: java.nio.file.AccessDeniedException: /usr/share/elasticsearch/data/elasticsearch

Is this related? I don't understand why we need those? If it'

[2016-03-19 19:27] pascalgrimaud commented on #3221
Under OSX, you have to put your project under `/Users` to be able to mount volume

If it doesn't work, try to comment these 2 lines:
https://github.com/jhipster/generator-jhipster/blob/master/generators/docker-compose/templates/elk.yml#L8-L9

[2016-03-19 20:13] erikkemperman commented on #3220
@jdubois I believe I have finally figured out a more or less decent test, made a [PR](https://github.com/jhipster/generator-jhipster/pull/3222).

[2016-03-19 21:18] gmarziou commented on #3175
I prefer to have the DTOs as part of the service API, this works perfectly in JHipster's context.
If a user is not happy to have the DTOs depend on JSON, he just can remove JSON annotations and code JSON serialization in another layer.
This discussion would not apply to microservices ;)

[2016-03-19 23:38] jdubois commented on #3221
Thanks Pascal I already tried it:

- My dashboards were empty, so it looks like you need the volume
- I don't understand what it's used for
Le 19 mars 2016 8:27 PM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2016-03-20 02:57] #3220 closed

[2016-03-20 02:58] deepu105 commented on #3220
Finally it works :)

[2016-03-20 03:04] deepu105 commented on #3221
Its not elegent to have projects under the user folder especially in windows where it looks very strange :(

Hope we can find some workaround

[2016-03-20 03:08] deepu105 commented on #2785
@erikkemperman sorry for the locked ticket we were trying to avoid any spam when we draft release notes here. Anyway ill open it till the todo are done.

You can try to add those to using in development and using in production section of the docs

[2016-03-20 07:11] pascalgrimaud commented on #3221
From official [Docker doc](https://docs.docker.com/engine/userguide/containers/dockervolumes/)

You don't have to put project under User folder, only the shared volume. So you have to change the path on your own docker-compose file, if your projects are in another folder.
There are 2 differents uses of volume:
- **to persist data** => [_mysql.yml](https://github.com/jhipster/generator-jhipster/blo

[2016-03-20 08:00] pascalgrimaud commented on #2785
I'm reviewing all part concerned by Docker and will do some PR

Tips : just tried this : `docker run --rm --label=jekyll --volume=$(pwd):/srv/jekyll -it -p 4000:4000 jekyll/jekyll:pages` to test/view the updated website ;-)

[2016-03-20 08:07] jdubois commented on #3147
Yes I haven't got the time to check, but there is one logical explanation.
With JWT you haven't got a User object, as it works without the user management code - that's the whole point of JWT, and why microservices scales with JWT!
So with Spring Security, instead of having a "Pincipal" on which you can get the username, you just got a "Principal" which is a String (and that String is the user's l

[2016-03-20 08:09] jdubois commented on #2785
@pascalgrimaud Docker is awesome :-)

[2016-03-20 08:12] pascalgrimaud commented on #2785
Happy you like Docker !!!

I'm updating the migration jdubois -> jhipster organization
https://hub.docker.com/r/jhipster/jhipster/tags/ -> see the tag v2.27.2

[2016-03-20 08:39] deepu105 commented on #3221
cant we make the current project folder as the shared volume for that
docker file or does it have to be global?

Thanks & Regards,
Deepu

On Sun, Mar 20, 2016 at 3:11 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-03-20 10:09] atomfrede commented on #3204
I'll close the issue. Will be in the next 2.x release.
@jdubois I think we can release 3.0 first or both at the same time.

[2016-03-20 10:09] #3204 closed

[2016-03-20 10:14] deepu105 commented on #3204
it would be better to release a patch b4 3.0 as we should try to minimize
2.x releases after 3.0 to avoid confusion and to drive 3.0 adoption. so 2.x
patches after 3.0 should be aggregated and released only if there is enough
upgrade value or if there is critical bug

Thanks & Regards,
Deepu

On Sun, Mar 20, 2016 at 6:09 PM, Frederik Hahne <notifications@github.com>
wrote:

[2016-03-20 10:16] atomfrede commented on #3204
@deepu105 Absoluty right. I was thinking of some sort of "final" 2.x release parallel to the 3.0 release and make clear 2.x is more or less end of life.

[2016-03-20 16:18] jdubois commented on #3204
I can do a new 2.x bug-fix release tomorrow (Monday). I haven't followed what's happened here, is the code ready for a release?

[2016-03-20 18:04] pascalgrimaud commented on #3221
@deepu105 : I think you can, but you have to configure your VM. Maybe this [link](https://github.com/boot2docker/boot2docker#virtualbox-guest-additions) can help you (I didn't test it)

What I tried is (under Windows)
1) git clone jhipster-console into `D:\jhipster\jhipster-console`
2) create a folder at `C:\Users\Ibu\projets\volume` -> this folder will contain all my volumes
3) copy all necessary

[2016-03-20 18:41] wuethrich44 commented on #3148
I think for users with slow internet connection this option is quite useful and other user have to wait a little bit longer if there is no internet connection. So I would add this.

@dscowan Could you provide a PR?

[2016-03-20 19:38] jdubois commented on #3221
Concerning my issue with Elasticsearch: yes the solution is to remove the "volume" for the elk-elasticsearch image.
I don't think it causes any issue, excepted that your data is kept inside the image, which isn't an issue as far as I know.
@PierreBesson is it good for you?

[2016-03-20 19:43] PierreBesson commented on #3221
@jdubois if the volume is causing some issues on windows & Mac os then you can comment it out. I just thought that it was really useful for preventing loss of data.

[2016-03-20 19:45] jdubois opened #3228 "Docker-Compose / JHipster Registry "native" profile not taken into account"
I'm using:

- A microservices architecture
- JHipster Registry
- ELK

All this running with the docker-compose sub-generator.

When I run Docker Compose, JHipster Registry is started with the correct `SPRING_PROFILES_ACTIVE=prod,native` env variable (from Docker Compose, and I can validate this opening a console in the container), but the app starts with the log `The following profiles are active:

[2016-03-20 20:17] atomfrede commented on #3204
Yes it is. Problem was the frontend was always build for production.

[2016-03-20 20:35] jgasmi commented on #1491
Any news regarding Infinispan and when it will be included in the generator ?

[2016-03-20 20:42] jdubois commented on #1491
It won't be included anytime soon:

- Nobody has expressed any interest in it
- Hazelcast is working great, and we are even more thightly integrated with it in our microservices approach, and the end result just awesome!

[2016-03-20 22:39] pascalgrimaud commented on #3221
@PierreBesson :
- I think we can comment "volume" for data -> so the user can uncomment to store data
- but currently, we can't comment "volume" for configuration, right?

[2016-03-21 00:56] deepu105 commented on #3228
I didnt see anything specific for a native profile in the code. Did I miss
anything?
On 21 Mar 2016 03:45, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-21 00:59] deepu105 commented on #1491
You can add it with a Jhipster module if you want btw
On 21 Mar 2016 04:42, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-21 01:39] deepu105 commented on #3228
I did a project search and seems its not used anywhere in the generated apps, its set only on the registry's docker file and profile is defined in registry but doesnt seem to do anything specific

[2016-03-21 03:44] sendilkumarn commented on #3189
@deepu105 [Check this out](https://github.com/spring-cloud/spring-cloud-netflix/issues/262)

[2016-03-21 03:47] deepu105 commented on #3189
@sendilkumarn thanks @PierreBesson @jdubois @wmarques check the link above

[2016-03-21 08:52] PierreBesson commented on #3228
@deepu105, the native profile comes from here: http://cloud.spring.io/spring-cloud-config/spring-cloud-config.html#_environment_repository

[code]

[2016-03-21 08:54] deepu105 commented on #3228
Oh Ok my bad didnt do enough research

Thanks & Regards,
Deepu

On Mon, Mar 21, 2016 at 4:52 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-03-21 09:18] PierreBesson commented on #3221
@pascalgrimaud, yes we need volumes for configuration as they are very convenient.

[2016-03-21 09:21] superandrew commented on #2261
@ARAtIntBitTech basically I handled a 401 keeping in memory the original call. So when a call /resource/param1 fails, i perform the call to /authenticate and if it succeeds I save the token and then I execute the original call with the refreshed token, until it isn't valid anymore.

[2016-03-21 10:11] #3228 closed

[2016-03-21 10:21] deepu105 commented on #2785
thanks a lot @erikkemperman

[2016-03-21 10:23] deepu105 commented on #2785
just one more item left @PierreBesson I hope you are on to it :)

[2016-03-21 10:24] deepu105 commented on #2785
@jdubois I guess we can use this thread to draft a release note as well what say?

[2016-03-21 10:30] jdubois commented on #2785
@deepu105 oh yes, I forgot I had to write the release notes... I'll start today.

[2016-03-21 10:36] deepu105 commented on #2785
No worries just put in a skeleton and we all can update it with changelogs and finally you can jsut edit the post and copy the markdown from here :)

[2016-03-21 10:37] deepu105 commented on #2785
btw I have locked this conversation again to collaborators to avoid any vandalism

[2016-03-21 10:51] deepu105 commented on #2899
I tried to create the same using entity sub gen and it has same issue. I dont understand why, seems like something to do with mapstruct I guess

[2016-03-21 10:56] PierreBesson commented on #2785
@deepu105 I'm on it since the end of last week. I will PR a new page on alerting with everything on it.

[2016-03-21 10:59] deepu105 commented on #2899
I have opened an issue on mapstruct https://github.com/mapstruct/mapstruct/issues/789

[2016-03-21 11:47] jgasmi commented on #1491
My only concerns with Hazelcast are regarding HTTP session clustering and the license behind that.

[2016-03-21 12:25] deepu105 commented on #1491
What concern?
On 21 Mar 2016 19:47, "Jamel Gasmi" <notifications@github.com> wrote:

[2016-03-21 12:28] jgasmi commented on #1491
That the HTTP Session clustering is not open source. Please correct me if I'm wrong.

[2016-03-21 12:41] NickGDev commented on #1491
it's available in the OSS code base but the documentation states, that particular feature falls under the enterprise license...

"Tomcat Session Replication in Hazelcast Enterprise is a Hazelcast Module where the state of each created HttpSessionObject is kept in the Hazelcast Distributed Map"

https://hazelcast.com/use-cases/web-session-clustering/tomcat-web-session-replication/

Hazelcast is gre

[2016-03-21 13:14] antonevane commented on #2283
@lluiscanals thanks for hint, I had similar in my the Grunt.js and I found typo.

[2016-03-21 13:17] deepu105 commented on #1491
Really :O this needs to be investigated. cc @jdubois
On 21 Mar 2016 20:41, "Nick" <notifications@github.com> wrote:

[2016-03-21 13:23] deepu105 commented on #1491
Ok this is available as open source as well  http://hazelcast.org/use-cases/clustering/

Cc @jdubois

[2016-03-21 15:34] jdubois commented on #1491
We already had an answer from @gregrluck saying it would stay Open Source, that's good enough for me.

[2016-03-21 19:33] lordlothar99 commented on #2244
Hi all. I recently created some additional tests on my side, and I randomly face some `org.elasticsearch.indices.IndexAlreadyExistsException: [xxx] already exists` exceptions during context load, due to `elasticsearchTemplate.createIndex(entityClass);` calls...
And as @geraldhumphries said, time for reset is annoyingly increasing build time...
@geraldhumphries suggestion works fine for me : use on

[2016-03-21 23:01] jdubois commented on #2785
All doc is done now, excepted maybe for the alerting stuff (but that's minor).

The v2 doc is available at https://github.com/jhipster/v2-documentation/tree/gh-pages and you can see it live at http://jhipster.github.io/v2-documentation/

So I'm closing this!

[2016-03-21 23:01] #2785 closed

[2016-03-21 23:01] lordlothar99 commented on #2244
PR #3231 created. tests ok on my computer

[2016-03-21 23:02] jdubois commented on #3189
I can't reproduce and I don't understand the issue...

[2016-03-21 23:04] jdubois commented on #3221
OK, so we have volume issues only on Windows now (that's solved for me on Mac).

If that's a limitation on Windows, can we just document it?

[2016-03-22 00:45] deepu105 commented on #3189
Ok let me try again and post the config
On 22 Mar 2016 07:02, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-22 00:48] deepu105 commented on #3221
You mean the default generated config works for you?  Irrespective of where
you have your project?

For me the default config works only if i keep my project in the
users/username folder which would be the weirdest place to keep stuff in
windows :P
On 22 Mar 2016 07:04, "Julien Dubois" <notifications@github.com> wrote:

[2016-03-22 00:57] deepu105 commented on #2785
:+1:

[2016-03-22 01:51] mrinalsharma commented on #2112
@jvence Was this issue ever resolved? I see the same issue.

[2016-03-22 05:18] deepu105 commented on #2785
@jdubois I have cleaned up some docs here https://github.com/jhipster/v2-documentation/pull/1

and for current repo here https://github.com/jhipster/jhipster.github.io/pull/227

[2016-03-22 05:20] deepu105 commented on #3148
close via #3232

[2016-03-22 05:20] #3148 closed

[2016-03-22 06:32] deepu105 commented on #2112
This is an old issue lot of things have changed since, plz open new issue
if you are facing problems
On 22 Mar 2016 09:52, "mrinalsharma" <notifications@github.com> wrote:

[2016-03-22 08:00] jdubois commented on #3221
Sorry, I'm using my "user" folder, but I don't find that strange... I have
Linux background and that's what I have always done.
Can we just document it as a Docker requirement (or limitation!) and be
done with it?
Le 22 mars 2016 1:48 AM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

[2016-03-22 08:52] PierreBesson commented on #3189
I also didn't succeed to reproduce this error.

[2016-03-22 09:11] ARAtIntBitTech opened #3233 "CORS Filter issue"
http://stackoverflow.com/questions/36142155/cors-origin-spring-boot-jhipster

I am not sure if it's specifically a JHipster issue or a stack overflow question. Please feel free close this issue if it doesn't relate to here.

##### **Overview of the issue**

CORS issue

##### **JHipster Version(s)**

v2.27.2

##### **Browsers and Operating System**

Ubuntu

##### **Reproduce the error**

http://loc

[2016-03-22 09:30] deepu105 commented on #3221
Yes I know in linux/mac people are used to that, but in windows since there
are multiple drives people rarely keep stuff under os drive and I have
never seen anyone actually using the User folder at all.
Anyway Im ok if its documented(may be even highlighted), anyway people
deploying this using windows/mac should be very less, prod deployments will
mostly be linux. mac/windows will be mostly just

[2016-03-22 09:34] deepu105 commented on #3143
Since we are removing FAST profile in v3.0 and since this is not a breaking issue in 2.x im closing this as we wont be doing anything about this

[2016-03-22 09:34] #3143 closed

[2016-03-22 10:13] jdubois commented on #3221
And we should push the use of the DevBox -> no problem with that if you are with the DevBox as it's running on Linux.

[2016-03-22 10:22] jdubois commented on #3233
As we shouldn't cross-post messages, I'm closing this -> if you don't have an answer on SO, please give us more information on what you did (your config file) and open a new ticket

[2016-03-22 10:22] #3233 closed

[2016-03-22 10:37] cicoub13 opened #3235 "JWT - Authentication Token Key is not jhi-authenticationToken in sessionStorage"
##### **Overview of the issue**

When using JWT authentication type :
* Authentication token key in localStorage is `jhi-authenticationToken` (rememberMe checked)
* Authentication token key in sessionStorage is `ngStorage-authenticationToken` (rememberMe not checked)

Prefix is not set when using sessionStorage.

Added in https://github.com/jhipster/generator-jhipster/pull/2927

##### **Motivation

[2016-03-22 11:16] ARAtIntBitTech opened #3237 "CORS Filter issue"
Created a simple JHipster app with OAuth2. Uncommented the CORS lines in the application.yml file to enable CORS.

[code]

And in the "Webconfigurer"

[code]

Soon after that, whenever I make the token request, I get the below error in the browser

`http://localhost:8080/oauth/token?username=admin&password=admin&grant_type=password&scope=read. Response to preflight request doesn't pass access cont

[2016-03-22 11:18] cbornet commented on #3237
We need your .yo-rc.json file as requested when you opened the issue

[2016-03-22 11:19] deepu105 commented on #3235
Thank you do let us know
On 22 Mar 2016 18:37, "Cyril Beslay" <notifications@github.com> wrote:

[2016-03-22 11:19] jdubois commented on #3237
Duplicate from #3233 - what's happening here?

[2016-03-22 11:20] ARAtIntBitTech commented on #3237
`{
  "generator-jhipster": {
    "baseName": "HelloWebServices",
    "packageName": "com.intbit.hello",
    "packageFolder": "com/intbit/hello",
    "authenticationType": "oauth2",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "no",
    "websocket": "no",
    "databaseType": "sql",
    "devDatabaseType": "postgresql",
    "prodDatabaseType": "postgresql",
    "searchEngine": "no",

[2016-03-22 11:21] ARAtIntBitTech commented on #3237
@jdubois  you requested me to create a new issue without cross posting messages, which I understood as sharing the SO link. So I wrote all the info that I could. Added the .yo-rc.json as well.

[2016-03-22 11:22] jdubois commented on #3237
Sorry I didn't see you were the same person!
What's happening with StackOverflow?

[2016-03-22 11:24] ARAtIntBitTech commented on #3237
@jdubois .. no problem at all. I didn't get any response on SO. Also, I have a feeling this is a JHipster issue. I created a new project and see the same problem there.

[2016-03-22 11:27] jdubois commented on #3237
Yes I agree this looks like a JHipster issue, I'm reopening this.

[2016-03-22 13:48] cbornet commented on #3237
@ARAtIntBitTech Does your request work non-cross-domain ? Can you post the curl request in this issue (in firefox: right click -> Copy as cURL) ?

[2016-03-22 14:03] cbornet commented on #3237
If there is a pre-flight request (OPTIONS), also post it.

[2016-03-22 14:30] wmarques opened #3238 "Wrong Cassandra Dockerfile path in docker compose subgen"
##### **Overview of the issue**

The path for Cassandra dockerfile is` dockerfile: cassandra/Cassandra.Dockerfile` but this path is not right if we run the subgenerator.

##### **Motivation for or Use Case**

##### **JHipster Version(s)**

last master

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Browsers and Operating System**

Last Chrome,

[2016-03-22 14:31] cicoub13 commented on #3235
Issue reproduced out of JHipster.
Issue created on ngStorage repo (https://github.com/gsklee/ngStorage/issues/206)

[2016-03-22 14:44] ARAtIntBitTech commented on #3237
@cbornet  I have a sample project running at 9090. This makes the ajax call.

[code]

And this is the response in the console of client (Chrome browser)

`XMLHttpRequest cannot load http://localhost:8080/oauth/token?username=admin&password=admin&grant_type=password&scope=read. Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the

[2016-03-22 14:46] wmarques commented on #3238
I managed to get this work by modifying the `context` in the generated `docker-compose.yml`, I replaced `.` by `../msapp2/src/main/docker`, which is the relative path to the docker directory of my microservice, maybe we can handle it this way for the moment ?

[2016-03-22 14:55] cbornet commented on #3237
Can you give the curl request that **exactly** matches the one from your browser (with all Host, Origin, Referer headers ...) ? You can get it from your browser developper tools

[2016-03-22 15:03] ARAtIntBitTech commented on #3237
Hope this helps. If this also doesn't help in troubleshooting, I have the env ready for testing. Feel free to mail me ar@intbittech.com. I can do a screenshare.

<img width="1236" alt="screen shot 2016-03-22 at 11 01 41 am" src="https://cloud.githubusercontent.com/assets/11681651/13956063/87212baa-f01d-11e5-8e74-67e0c21d73e2.png">

[2016-03-22 15:37] cbornet commented on #3237
Can you right-click on your OPTIONS request, select "Copy as cURL" then paste here ?

[2016-03-22 15:39] ARAtIntBitTech commented on #3237
Sorry, here you go

`curl 'http://localhost:8080/oauth/token?username=admin&password=admin&grant_type=password&scope=read' -X OPTIONS -H 'Host: localhost:8080' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:45.0) Gecko/20100101 Firefox/45.0' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8' -H 'Accept-Language: en-US,en;q=0.5' --compressed -H 'Access-Co

[2016-03-22 16:30] cbornet commented on #3237
Actually, this is fixed on the master in commit https://github.com/jhipster/generator-jhipster/pull/2650/commits/34ff27f916e631f33a8e6d61c4da88ec6552923d
On v2.x, the OPTIONS were authorized for logged-in users but this is not enough: for CORS to work, the security for OPTIONS must be completely removed.

@ARAtIntBitTech can you test that it works for you by adding ```.antMatchers(HttpMethod.OPTIO

[2016-03-22 17:26] ARAtIntBitTech commented on #3237
@cbornet  thank you for looking into this. But I already have that in the config "OAuth2ServerConfiguration"

[code]

`curl 'http://localhost:8080/oauth/token?username=admin&password=admin&grant_type=password&scope=read' -X OPTIONS -H 'Host: localhost:8080' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:45.0) Gecko/20100101 Firefox/45.0' -H 'Accept: text/html,application/xhtml+xm

[2016-03-22 18:13] cbornet commented on #3237
As I said, the config in OAuth2ServerConfiguration is insufficient. Please try the fix in SecurityConfiguration.
It is normal that the Basic Token is removed in pre-flight request : they remove every custom headers and that is why you are not authorized.

[2016-03-22 18:32] ARAtIntBitTech commented on #3237
@cbornet sorry, misread your statement earlier. And thank you for clarifying my doubt. However, I added the line to ignore the options and it still doesn't work

[code]

Now it says

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:8080/oauth/token?username=admin&password=admin&grant_type=password&scope=read. (Reason: CORS header 'Acce

[2016-03-22 19:39] cbornet commented on #3237
Strange: it works on my setup with your exact curl request. Can you add -v option to your curl command and paste the result here ?
This is the result to your curl command with -v on my computer
[code]

[2016-03-22 19:41] cbornet commented on #3237
Are you sure it is the OPTIONS pre-flight request that is now blocked and not the POST request ?

[2016-03-22 20:21] ashakhov opened #3240 "Broken foreign key constraints generator"
##### **Overview of the issue**

In some cases generated project can not execute liquibase changesets because of failing creation of foreign keys.
Value of variable `otherEntityTable` in [entity generator](https://github.com/jhipster/generator-jhipster/blob/0c89a18d999d2678ec9c7d7085328eaf931e85aa/generators/entity/templates/src/main/resources/config/liquibase/changelog/_added_entity.xml#L104) is

[2016-03-22 21:03] ARAtIntBitTech commented on #3237
Hey @cbornet  I just tested this out on my local system. Both the OPTIONS pre-flight request and POST worked. I received the access token Thanks!!!!!.
But when I uploaded the war file on a server and executed the AJAX call from my local machine it shows an error. 403 forbidden.

This is the CURL from the browser
`curl 'https://dev1.intbittech.com/test/oauth/token?username=admin&password=admin&gran

[2016-03-22 22:13] #3238 closed

[2016-03-22 22:41] cbornet commented on #3237
Does your browser attempt to send the POST ? Or is it blocked at the OPTIONS request ?

[2016-03-22 22:42] cbornet commented on #3237
Did you set withCredentials flag to true in your AJAX call ?

[2016-03-22 22:50] ARAtIntBitTech commented on #3237
@cbornet browser is able to send the OPTIONS and get a 200 back. But the POST request is blocked. I get a forbidden.

<img width="1233" alt="screen shot 2016-03-22 at 6 42 57 pm" src="https://cloud.githubusercontent.com/assets/11681651/13970374/b28dd7ac-f05e-11e5-9272-bb462c18f6d8.png">

And yes my ang js call includes withCredentials: true

`$http({
                    method: 'POST',

[2016-03-23 00:40] gandrade commented on #3042
PR #3242

[2016-03-23 01:49] deepu105 commented on #3221
@pascalgrimaud could you document this or let me know on what is the correct alert to add?

[2016-03-23 05:10] pascalgrimaud commented on #3221
I already did a warning about volume in installation page. Maybe do the same for ELK/jhipster-console?

[2016-03-23 05:18] ARAtIntBitTech commented on #3237
@cbornet any idea? I checked the cors config of my nginx server.

[code]

[2016-03-23 05:43] deepu105 commented on #3221
ok let me see

Thanks & Regards,
Deepu

On Wed, Mar 23, 2016 at 1:10 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2016-03-23 05:59] cbornet commented on #3237
Can you paste the curl -v of the POST request ?

[2016-03-23 06:48] deepu105 commented on #3221
via https://github.com/jhipster/jhipster.github.io/pull/231

[2016-03-23 06:48] #3221 closed

[2016-03-23 06:55] SyedIlyasAtIntBitTech commented on #3237
@cbornet I was able to hit the oauth url from mozilla firefox and am getting the bearer token but it does not work in chrome.

`curl 'http://dev1.intbittech.com/goatwebservices-0.0.1-SNAPSHOT/oauth/token?username=admin&password=admin&grant_type=password&scope=read' -X POST -H 'Host: dev1.intbittech.com' -H 'User-Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:43.0) Gecko/20100101 Firefox/43.0' -

[2016-03-23 07:52] cbornet commented on #3237
Can you paste the curl command and response for Chrome then ? Don't forget to set -v option.
Also I see that you are setting the CORS headers in nginx and not in the jhipster app which is a possibility but note that it's not really a jhipster issue anymore...

[2016-03-23 08:41] SyedIlyasAtIntBitTech commented on #3237
@cbornet

Curl command from chrome:
curl 'http://dev1.intbittech.com/goatwebservices-0.0.1-SNAPSHOT/oauth/token?username=admin&password=admin&grant_type=password&scope=read' -X POST -H 'Authorization: Basic R09BVFdlYlNlcnZpY2VzYXBwOm15U2VjcmV0T0F1dGhTZWNyZXQ=' -H 'Origin: http://dev1.intbittech.com' -H 'Accept-Encoding: gzip, deflate' -H 'Accept-Language: en-US,en;q=0.8' -H 'User-Agent: Mozilla/5.

[2016-03-23 09:29] wmarques commented on #3240
`joinTableName` seems snake cased, it's composed by `entityTableName` and `relationshipName`. `EntityTableName` is snaked cased in the entity subgenerator and `relationshipName` is snaked cased using `getTableName` function, which snake case and lowercase the string passed in parameter.

[2016-03-23 09:34] deepu105 commented on #3240
No ideal fix would be to snake case what the user passes as well

[2016-03-23 09:42] deepu105 commented on #3240
I dont understand what is the issue here, all table names are snake acse and even if you pass a table name its snake cased in the entity sub generator. But if you edit the json and camel case a table name then that's your problem.

Im closing this as its not a JHipster issue

[2016-03-23 09:46] ashakhov commented on #3240
Issue is that constraints in generated changeset for above-mentioned entity look like that:
[code]

[2016-03-23 09:57] wmarques commented on #3235
Not a JHipster issue so I'm closing this, thanks for the report

[2016-03-23 09:57] #3235 closed

[2016-03-23 10:18] ashakhov commented on #3240
OK, it's up to JHipster-UML v.1.6.3 that generated CamelCased table names by default.

[2016-03-23 10:53] wmarques opened #3244 "Use eslint in the generator itself"
As per https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/-L8ZlfaLPJY/aBfKVqYlBwAJ

Eslint supports natively some coding styles, like Airbnb's one. Using this tool will prevent code unconsistency in our various JS files.

[2016-03-23 11:37] deepu105 commented on #3240
Ok let me take another look
On 23 Mar 2016 18:18, "Andrii Shakhov" <notifications@github.com> wrote:

[2016-03-23 11:43] ashakhov commented on #3240
Seems like it was fixed in one of [recent commits](https://github.com/jhipster/jhipster-uml/commit/5e2728d6cd40efc07939954f7c38d3d1b9a9fb3c#diff-eb0fce4be6d89b66837d9c1c6afe3f66) for jhipster-uml but merged only yesterday.

[2016-03-23 11:43] #3240 closed

[2016-03-23 14:25] cbornet commented on #3237
The request above is not cross-domain so it has nothing to do with CORS (I believe you don't even see any preflight OPTIONS request). This looks like some nginx or tomcat configuration issue and I don't think we can help much here. What I can say is that if I remove the Origin and Cookie headers, then the request is OK so there must be something related to that.
You should check in the logs which

[2016-03-23 14:28] deepu105 commented on #3237
since this doesnt seem like a Jhipster issue Im closing this. Plz feel free to ask us to reopen if you think this an issue within jhipster

[2016-03-23 14:28] #3237 closed

[2016-03-23 14:34] cbornet commented on #3237
There remains the question of backporting #2650 to v2.x branch.

[2016-03-23 14:44] deepu105 opened #3245 "Gradle buildDocker task stuck"
##### **Overview of the issue**

The `buildDocker` task is always stuck at 94% without completion

[code]

the dockerfile and .yml files are copied to the build/docker folder

here is the detailed log of the build task onwards
[code]

##### **JHipster Version(s)**

master

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Browsers and Operating Sy

[2016-03-23 14:44] deepu105 commented on #3245
ping @atomfrede @PierreBesson

[2016-03-23 14:50] PierreBesson commented on #3245
Hi @deepu105,
A few minutes the Alpine CDN was down, so the image could not install openjdk8. It came back up minutes ago, can you try your gradle docker build again to see if the problem is solved ?

[2016-03-23 14:52] PierreBesson commented on #3245
Also Julien is moving all images to openjdk-8-jdk-alpine which is a new official openjdk docker image  based on alpine, so the problem will not happen in the future.

[2016-03-23 14:55] deepu105 commented on #3245
oh ok ill try again. Thanks @PierreBesson

[2016-03-23 15:10] deepu105 commented on #3245
I tried with latest change but its still stuck at the same place. I think the image is created though coz when I do `docker-compose up -d` i do see the app being started in docker without any erorr so this seems like the process just not finishing

[2016-03-23 15:12] lubo08 commented on #1293
I think that problem is that also admin parts of html are exposed to the client even client is log in as user not admin still there is admin code. This can happened in secure application. Just use thymeleaf with spring security to do not expose this part of code to the client.

`<li ng-class="{active: $state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown point

[2016-03-23 15:15] lubo08 opened #3246 "Admin part of code is exposed to the non admin clients."
I think that problem is that also admin parts of html are exposed to the client even client is log in as user not admin still there is admin code. This can't happened in secure application. Just use thymeleaf with spring security to do not expose this part of code to the client.

`<li ng-class="{active: $state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown poi

[2016-03-23 15:16] jdubois commented on #3246
No, we can't serve it with Thymeleaf, this is pure static HTML pages, so you can serve it from an HTTP server or from a CDN.
There is no security risk, it's just presentation code.

[2016-03-23 15:16] #3246 closed

[2016-03-23 15:17] deepu105 commented on #3246
this is not gonna happen and this is not an issue, its only the html thats loaded and not the data, without the data this doent pose any security concern

[2016-03-23 15:17] deepu105 commented on #3246
@jdubois you beat me to it :P

[2016-03-23 15:27] lubo08 commented on #3246
OK but is not security issue if me as a hacker I'm able to see what admin can do? This help so much to discover weakness of the system. Doesn't matter if there are data or not. User shouldn't see what is admin able to do.

[2016-03-23 15:32] PierreBesson commented on #3245
@deepu105, generating a docker image from your .yo-rc.json works well on my linux system.

If you don't see the `BUILD SUCCESSFUL` message. That means that the image didn't build so actually the `docker-compose up` you launch must be using an image that you build in the past and that was also named app1.

Can you try the following:
* check if the image is already present with `docker images`
* rem

[2016-03-23 15:38] deepu105 commented on #3246
I dont know what weakness one can discover from html code!! In that case
the client side js code you expose can expose way more weakness than any
html by your logic

Thanks & Regards,
Deepu

On Wed, Mar 23, 2016 at 11:27 PM, lubo08 <notifications@github.com> wrote:

[2016-03-23 15:39] deepu105 commented on #3245
ok will try, I guess this might be a bug with the docker gradle plugin on
windows

Thanks & Regards,
Deepu

On Wed, Mar 23, 2016 at 11:32 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-03-23 15:42] deepu105 commented on #3166
@PierreBesson Im still seeing this with app generated using latest master. on both gateway and microservice

[code]

[2016-03-23 15:43] deepu105 commented on #3166
bt I used docker-compose sub gen to generate registry hope the image is updated with the fix

[2016-03-23 15:46] PierreBesson commented on #3166
@deepu105, do you have the last version of the registry ? This is properly dealt with on 3.0.0 as we have put a tag on the registry image.

[2016-03-23 15:47] jhulick commented on #1293
@lubo08 After about a year mulling over these SPA security ideas, I've done exactly what you are recommending on a Spring Boot project by using of Thymeleaf to shard a SPA into domains for security (ex. user, admin, etc). While this might seem simple, it creates lots of duplication and one-offs in the client code - a bad smell for coding/maintenance. I've yet to find a really good approach, dynami

[2016-03-23 15:49] lubo08 commented on #3246
https://en.wikipedia.org/wiki/Attack_surface

Just simple rule even with OWASP security. Minimize risk as possible and do not expose and of course also admin parts of javascript is included also. just split admin javascript code and do not include to html if user is not admin.

[2016-03-23 15:50] deepu105 commented on #3166
I dont understand Imusing the sub gen on master to generate the files which has this
[code]

isnt this the latest?

[2016-03-23 15:51] PierreBesson commented on #3166
@deepu105 try running docker pull jhipster/jhipster-registry and see if it is downloading a newer image.

[2016-03-23 15:52] deepu105 commented on #3166
ok

[2016-03-23 15:54] deepu105 commented on #3189
Ok i couldnt reproduce with current master as well so im closing this.

btw I see some other errors on gateway may be @PierreBesson FYI
[code]

[2016-03-23 15:54] #3189 closed

[2016-03-23 15:56] jhulick commented on #3246
@deepu105 the primary issue as I see is not about exposing admin html code but the security roles to the client. A hacker could determine privilege escalation by looking at the markup. With that said, I've commented on the closed issue #1293 and also agree with you and @jdubois

[2016-03-23 16:33] deepu105 commented on #3246
I understand were you are coming from but these are concern only for extremely secure apps. for normal scenarios presentation code shouldn't cause a security concern. For your concern about roles on the client I have something to fix that but will need to find some time to do that on the generator but could be soon.

So yes if you are overly concerned you can use thymeleaf we ship it OOTB anyways

[2016-03-23 22:07] lubo08 commented on #3246
Just please consider this as I would like to use it for bank applications also. I think this is great project so I think can't be so hard thinking little bit more secure. Just consider that If hacker have admin look and feel can much easier prepare some social attack and create some admin looks website and send link to administrator to fill some sensitive data. You never be ready to prevent agains

[2016-03-23 22:55] ruddell commented on #3147
I looked into the issue and by removing the .username, the query is successful and findByUserisCurrentUser returns the correct results.

[2016-03-23 22:56] gmarziou commented on #3246
@lubo08 what about contributing yourself?
I'd be curious to see how you implement this and deal with template caching and ui routing.

[2016-03-24 00:09] deepu105 commented on #3246
I would rather rethink my architecture for such critical app. You should
probably consider a microservice like architecture with a gateway for
public access  (this shouldn't have any admin stuff in it at all ) and a
dedicated gateway for admin (this shouldn't be exposed to public and should
be behind a firewall/reverse proxy)

You can reuse some backend services between the 2 gateways. This would

[2016-03-24 00:38] bosofelipe opened #3248 "Heroku deploy"
##### **Overview of the issue**

Heroku deploy

##### **Motivation for or Use Case**

Not working heroku deploy

##### **JHipster Version(s)**

2.27

##### **Reproduce the error**

When I run yo jhipster:heroku

show error

{ [Error: Command failed: mvn package -Pprod -DskipTests=true && heroku deploy:jar --jar target/*.war --app https://c
npm WARN optional Skipping failed optional dependency /cho

[2016-03-24 00:43] deepu105 commented on #3248
We need your .yo-rc file if you need help plz follow our issue guidelines.

[2016-03-24 00:44] deepu105 commented on #3248
its clearly stated in the bug report template as well

[2016-03-24 00:46] bosofelipe commented on #3248
@deepu105

{
  "generator-jhipster": {
    "baseName": "eventfy",
    "packageName": "br.com.boso.eventfy",
    "packageFolder": "br/com/boso/eventfy",
    "authenticationType": "session",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": "no",
    "websocket": "no",
    "databaseType": "sql",
    "devDatabaseType": "h2Disk",
    "prodDatabaseType": "postgresql",
    "searchEngine": "no

[2016-03-24 01:06] deepu105 commented on #2899
From the comments on mapstruct issue I created seems like funny bean spec thingy

[code]

@jdubois I rememeber we doing something like this on the domain classes once. I guess we need do the same in this case as well

[2016-03-24 01:10] deepu105 commented on #1995
Ok im gonna work on this soon. we can have something basic first then we can see how to improve that. this would also solve the concern raised in #3246 about having role details on the client code

[2016-03-24 01:11] bosofelipe commented on #3175
Mapstructs works fine at jhipster?

[2016-03-24 01:18] deepu105 commented on #1995
@trevershick with our new microservice support your way of doing the dynamic roles seems more future proof to me, could you share your current code for this so that I can try to incorporate some of it? or if you have time we can collaborate on a fork and merge it here

I would also be trying to make it configurable in a microservice architecture so that you have visibility over our microservice ap

[2016-03-24 02:17] dscowan opened #3249 "aws deployment does not save inputs"
Version 2.27 deployment requires re-entry of inputs on every run.   It would be helpful if the input was cached and used on subsequent runs.

[2016-03-24 02:41] deepu105 commented on #3249
we wont be adding features to 2.x branch since we have 3.0 out already. I guess this is something that can be considered for current version. will see what can be done

[2016-03-24 02:41] deepu105 commented on #3249
cc @wuethrich44

[2016-03-24 06:18] #3147 closed

[2016-03-24 06:38] lordlothar99 commented on #3175
Yes it is!

Le jeu. 24 mars 2016 02:11, Felipe Thiago Boso <notifications@github.com> a
écrit :

[2016-03-24 06:59] jdubois commented on #3246
Yes, if that's your need, just do 2 gateways, one public and one private. You shouldn't have your admin API opened publicly anyway.

[2016-03-24 07:01] jdubois commented on #3248
I cleaned up your ticket, and your title is not clear... Can you put a clear title?

[2016-03-24 07:02] jdubois commented on #3248
Oh, and did you read your error:

    Not compatible with your operating system or architecture: fsevents@1.0.9

So we need your OS, node version, etc, as required in the guidelines.

[2016-03-24 07:02] jdubois commented on #3248
Closing this as the guidelines are not followed

[2016-03-24 07:02] #3248 closed

[2016-03-24 07:08] deepu105 commented on #3248
@bosofelipe plz open a new ticket with all required details

[2016-03-24 07:25] lubo08 commented on #3246
OK thank you just even this app will be inside private network. Security audit didn't allow application with public admin parts. of course API will be protected but also html sources and javascript have to be protected. Maybe generator should offer if you want use angular templates or  completely run on thymeleaf templates.

[2016-03-24 07:28] japharr commented on #3246
You can also use the login user role in the server code to determine what will be returned to the html view..

[2016-03-24 08:13] jdubois commented on #3246
I agree this isn't clearly explained on our website, we should update the
security section.
Le 24 mars 2016 8:28 AM, "Jaleel Adesina" <notifications@github.com> a
écrit :

[2016-03-24 10:33] sebastienmoreno opened #3251 "Add unicity constraint in entities field"
hi,
would it be interesting to be able to add unicity constraint on entity fields when generating ?

I guess, today it is possible in post-generation by modifying liquibase configuration and JPA annotations but not directly by the generator itself.

Regards,
Sebastien

[2016-03-24 11:05] lubo08 commented on #3246
Maybe this could be the way https://dzone.com/articles/thymeleaf-fragments-and
Just even for single public application not so much with security concern I do not want to have public admin parts and micro-service environment is not always the case. Just would be nice to have this as default.

[2016-03-24 12:07] deepu105 commented on #3246
@lubo08 Sorry but as myself and @jdubois highlighted we wont be doing this in the near future as there is a way to do your use case more elegantly (using a microservice architecture which we would suggest)

[2016-03-24 12:47] lubo08 commented on #3246
So any of users who use jhipster without micro-service architecture are not concern about social attack when hacker mask own site to admin page of your site and sent this to your users? What you think how many of 100 users will fill this form with sensitive data (password, credit card number, etc.)? 5% 10%?

**So if I'm concern about security have to chose micro-service or otherwise I didn't have

[2016-03-24 12:57] jdubois commented on #3246
JHipster is just a generator, it can't do everything for everyone. What you describe here is an incredibly complex attack, with someone un-scrambling the minimized admin screens, changing them so they work with another backend, managing to trick users into using his website (and that means people entering their credentials on another website! Isn't this really complex??)... So if you have such a n

[2016-03-24 12:57] deepu105 commented on #3246
I think you are just exaggerating something which is a very rare case. If you choose to have admin and public part of a very sensitive app on the same package then you have more architecture security concerns to worry about then static presentation asset which possess minimum risk.

To me you have choose a poor architecture for a very sensitive app. I work for a big enterprise client and I would n

[2016-03-24 12:58] deepu105 commented on #3246
@jdubois we are always in sync :joy:

[2016-03-24 14:22] devlanp opened #3252 "Microservice application generation ends at 12/16"
Team,

I do understand that this one is minor just to make this app more awesome. The microservice application ends at 12/16 question !

Welcome to the JHipster Generator v3.0.0
Application files will be generated in folder: D:\Workspace\STS\test
? (1/16) Which *type* of application would you like to create? Microservice application
? (2/16) What is the base name of your application? test
? (3/16)

[2016-03-24 14:23] seghers commented on #3148
I think an ending "," is needed ..?

[2016-03-24 14:29] deepu105 commented on #3252
Yes we know. Its a very minor glitch which would require some very complex
code, which I did and removed later, which is tough to maintain.

Thanks & Regards,
Deepu

On Thu, Mar 24, 2016 at 10:22 PM, devlanp <notifications@github.com> wrote:

[2016-03-24 14:32] devlanp commented on #3252
Never mind! Awesome work otherwise. Trying the app now :-)

[2016-03-24 14:34] deepu105 commented on #3148
@seghers thanks for pointing it out. Its corrected

[2016-03-24 14:37] seghers commented on #3148
You're fast, was making a request, Please ignore it.

[2016-03-24 14:46] jdubois commented on #2899
@deepu105 yes we follow the spec, which is completely weird, see this: https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L1455
And yes, that crazy :-)

[2016-03-24 15:50] #3252 closed

[2016-03-24 15:52] deepu105 commented on #2899
I think we need to do that for DTO as well

Thanks & Regards,
Deepu

On Thu, Mar 24, 2016 at 10:46 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-03-24 16:33] wmarques commented on #3244
 @jhipster/developers if you guys agree on a style (or to use for the moment some simple rules like mandatory commas, triple equals, indent) I can start working on this

[2016-03-24 17:24] deepu105 commented on #3244
ok for me

Thanks & Regards,
Deepu

On Fri, Mar 25, 2016 at 12:33 AM, William Marques <notifications@github.com>
wrote:

[2016-03-25 08:16] spyhunter88 opened #3255 ""No qualifying bean of type [**Mapper] found for dependency" when use DTO"
Basically, the Mapper instance does not Inject into Service.
It does not start when startup in Eclipse after I add DTO, I don't know the many-to-one relationship cause this or not, but this exception come from Mapper in DTO.

Of course it runs from Eclipse before I add Entity with DTO.

[code]

##### **JHipster Version(s)**
JHipster 3.0.0

My yo.rc.json
[code]

And the entity config:
Claim
[code]

[2016-03-25 08:50] spyhunter88 commented on #3255
Sorry, I can not compile by maven because multiple JAVA JRE, then then target/generated-source does not appear. This now be resolved.

[2016-03-25 08:50] #3255 closed

[2016-03-25 08:55] khouloudkhadija opened #3256 "Jhipster 3.0"
I'm using the new version of jhipster 3.0, and when I create a new application and I run it without any error, no thing is displayed on my browser just a white page with the famous word "footer", I can't understand the problem and I can't solve it.

##### **Motivation for or Use Case**

##### **JHipster Version(s)**

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder

[2016-03-25 08:57] #3256 closed

[2016-03-25 09:23] lourai opened #3257 "Having jHipster 2.x and 3.x on same dev computer"
##### **Overview of the issue**

We have 2 jHipster 2.x in production and still under heavy dev ... And muist bootstrap a new one (so we go 3.0 !) : how can we manage both env (as i'll need to continue using the entity generator and cloudfoundry deployement script for our 2.x projects) ?

I think it's a major issue for the future as the project growth (and u all must be thanks for the job done so

[2016-03-25 09:37] jdubois commented on #3257
2 "easy" solutions:

- Use our Docker installation, that's one of its main usage for me
- Use one "devbox" per project

Now here is how I work, I find it very good but I'm not sure it's good for everyone else:

- I have a clone of the project, and did an "npm link" to it
- When I want to use another version (which happens all the time as I do maintenance work and tests), I use the tag or branch I

[2016-03-25 09:42] rmrtnkmr commented on #1407
I developed a gradle project using jhipster. the project run on local machine but when i deploy war file of this project on tomcat server and login in project as a admin or register as new user it generate error with 404 (registration failed or login failed)
i used postgresql  database

[2016-03-25 09:53] notflorian commented on #1407
Please, do not comment in a old closed issue, and open a new one following [this template](https://github.com/jhipster/generator-jhipster/issues/new).
Thanks.

[2016-03-25 10:02] deepu105 commented on #3257
@lourai its really not within our control as its an npm thing. and there is nothing much we can do except what Julien said above as your suggestion are not practical (we are not a company making money with this you know to do that kind of maintenance)

One thing we did and hoped to work was we had `yo` and `generator-jhipster` in the dependency of the generated projects package json and i theory n