[2018-06-22 19:20] binakot commented on #7836
@pascalgrimaud sure, why not 😊

[2018-06-22 19:27] pascalgrimaud commented on #7837
I didn't have a look in detail, but I think it is intended.

The uaa application is considered as a Microservice so it is not availabled from external network. Only the registry and the gateway should have a mapping port.

So, if you start all your applications with Docker, it should work fine.

But if you start uaa with docker and all other applications in local (as the gateway), it won't work as

[2018-06-22 19:38] binakot commented on #7837
I think this docker-compose file is not for production. It is a development way to run everything on developer's computer to work with service (UAA here). And without port binding I cannot to do requests to UAA server even from localhost. If I'm not right, for what docker-compose file need in JHipster UAA template? When I run Gateway application with the same way I got second Registry.

[2018-06-22 19:40] deepu105 commented on #7836
This is already fixed in master #7820

[2018-06-22 19:40] #7836 closed

[2018-06-22 19:47] binakot commented on #7836
Sorry, missed this one 👍

[2018-06-22 19:48] deepu105 commented on #7834
@pascalgrimaud yes I'm also able to reproduce after pulling the latest changes from master, I guess the change in reporter causes this. I believe originally you added a junit reporter and it was fine, may be the change to sonar reporter is causing this. Is it possible to switch back to junit reporter

[2018-06-22 19:51] deepu105 commented on #7834
@wmarques are you ok with switching back to "jest-junit" reporter

[2018-06-22 19:52] jdubois commented on #7834
No we needed to change this with @wmarques in order to have both Jest and Junit reports in the target folder, so they can be picked up by Sonar.
Previously, the issue was we had the correct test coverage, but not the correct test result (we had the Jest test coverage but not the Jest test result), which is pretty bad.

[2018-06-22 20:12] enreas commented on #7810
I'm working on a project with JHipster and Elasticsearch in macOS. In development mode, it went fine with version 4.14.4. Using the same profile, version 5.0.0 doesn't work, it shows the same errors @mraible described.

I've installed a standalone Elasticsearch server (`brew install elasticsearch`), edited **/usr/local/etc/elasticsearch/elasticsearch.yml** to change `cluster.name` to `elasticsearc

[2018-06-22 20:19] deepu105 commented on #7834
But with @pascalgrimaud's old code it was still writing the report right?

[code]

[2018-06-22 20:23] AlexandreCassagne opened #7838 "WebSocket support in (non-gateway) microservice"
##### **Overview of the feature request**

WebSocket support in (non-gateway) microservice. At the moment, it seems that Zuul is stripping the Upgrade/Connection headers after being relayed by the gateway.

##### **Motivation for or Use Case**
Implementation of a feature that requires Websocket.
In keeping with the microservice architecture, I do not believe it would be right for the gateway to se

[2018-06-22 20:36] deepu105 commented on #7834
Oh, ok I see that the output format is different for the result. May be we can try this https://github.com/jest-community/jest-junit#example-4

[2018-06-22 20:37] pascalgrimaud commented on #7834
The report is correct for **jest-junit**, but not the format.
See the **Generic Execution** part at https://docs.sonarqube.org/display/SONAR/Generic+Test+Data

With **jest-junit**, we have:

[code]

With **jest-sonar-reporter**, we have:

[code]

So the report for **jest-sonar-reporter** is the correct one.

[2018-06-22 20:40] deepu105 commented on #7834
@pascalgrimaud also isnt sonar suppose to understand Junit format? as per this https://docs.sonarqube.org/display/PLUG/Code+Coverage+by+Unit+Tests+for+Java+Project

[2018-06-22 20:46] deepu105 commented on #7816
Sorry but this is not something we can take up, we are already overwhelmed with features.

[2018-06-22 20:46] #7816 closed

[2018-06-22 21:05] AlexandreCassagne commented on #7838
[code]

Above is the log in the microservice receiving incorrect headers. Refactoring this code to the gateway works perfectly.

[2018-06-22 21:12] pascalgrimaud commented on #7834
It is supposed to... I'm a little bit confuse.

But when I look at this graph: https://sonarcloud.io/project/activity?custom_metrics=tests&graph=custom&id=io.github.jhipster.sample%3Ajhipster-sample-application

It seems like the unit tests from frontend were just added recently. Sonarcloud didn't see them since the beginning ?

[2018-06-22 21:13] #7787 closed

[2018-06-22 21:17] pascalgrimaud commented on #7834
I found the fix.
I'm doing some tests and will do a PR.

[2018-06-23 00:43] shai2017 commented on #7798
I am facing same issue with generator-jhipster@5.0.0

[2018-06-23 02:11] xsalefter commented on #7810
I had a problem with elasticsearch in AWS and most elasticsearch PaaS available. The only option is to use JEST, and then [spring-data-jest](https://github.com/VanRoy/spring-data-jest) instead of default spring's data-elasticsearch.

@jkutner how did you make elasticsearch works out of the box in heroku? Did you pick any Heroku's add-ons (bonsai, searchly) and then "add" it after dyno initialized?

[2018-06-23 06:31] yudar1024 opened #7840 "create microservice , build.gradle file miss quotes in line 190."
`-- generator-jhipster@5.0.0

[code]

[2018-06-23 06:57] pascalgrimaud commented on #7840
it has been fixed by https://github.com/jhipster/generator-jhipster/pull/7824

[2018-06-23 06:57] #7840 closed

[2018-06-23 09:21] deepu105 commented on #7840
@jdubois since this is the 3rd person opening the same issue maybe we should do a patch release. WDYT?

[2018-06-23 09:21] unikzforce opened #7841 "Jhipster 5.0.0 generated build.gradle lacks a double quotation in specific line"
##### **Overview of the issue**
there is a problem in generated build.gradle. it lacks a quotation symbol in an specific line in dependencies.

I've generated a microservice gateway, and a UAA service. in both of them there is a problem.
generated:
`    compile "org.springframework.retry:spring-retry`
but it should be:
`    compile "org.springframework.retry:spring-retry"`
it lacks a double quotat

[2018-06-23 09:24] Tonterias opened #7842 "TextBlob fields validations stopped working in V5"
##### **Overview of the issue**

Jhipster v5 does not like TextBlob fields validations:

[code]

This worked fine in version 4.13.

##### **Motivation for or Use Case**

As Gaël said, if it was working before, it should be a bug: https://stackoverflow.com/questions/50992210/how-to-create-a-field-validation-for-textblob-in-jhipster-v5-0-using-jdl

##### **Reproduce the error**

Try creating an Enti

[2018-06-23 09:30] deepu105 commented on #7828
@pmverma if the issue is with manula upgrades then probabaly you will need to make some changes as quite a lot changed from v4 to v5,

I'm not sure if we can help on this one. Hence i'm closing this as I dont think its a bug(as auto upgrade works)

Do ask to reopen if you still think its a bug with JHipster code

[2018-06-23 09:30] #7828 closed

[2018-06-23 09:42] deepu105 commented on #7798
@shai2017 this doesn't seem like a JHipster bug, it seems more like an issue with the custom code you added. Hence this should be in stack overflow, see our guidelines below. If you still think its a JHipster bug please do ask us to reopen. Also, check [this](https://stackoverflow.com/questions/50857590/jhipster-custom-component-get-http-localhost9000-api-account-401-unauthorize#comment88806990_50

[2018-06-23 09:43] #7834 closed

[2018-06-23 10:36] binakot opened #7843 "translation-not-found[error.url.not.found] in gateway on every page"
Just generated JHipster 5.0.0 gateway application and run with docker-compose.
On every page I get `translation-not-found[error.url.not.found]`, but translations seems working. I have 2 langs: `en` and `ru`.

<img width="342" alt="2018-06-23 13 31 08" src="https://user-images.githubusercontent.com/1783893/41808700-19a34d5a-76ea-11e8-8ea0-f998af302ba9.png">

yo-rc.json:

[code]

[2018-06-23 10:46] pascalgrimaud commented on #7840
It seems Gradle is not well tested in hipster-labs.
I will work on this later to cover:
- gradle with microservices
- gradle with react

[2018-06-23 11:00] mraible commented on #7675
I tried changing `Entry` to `Post`. Not I get an error about relationships with NoSQL.

[code]

This shouldn't happen because I only have a `Product` entity for in my MongoDB app, and it has no relationships.

[code]

My Node version:

[code]

[2018-06-23 11:22] digital-nomad17 commented on #7816
I made the mistake that this was a feature specific to another spa generator.

It's a feature builtin to webpack - https://webpack.js.org/configuration/dev-server/#devserver-overlay for future reference.

[2018-06-23 11:25] mraible opened #7844 "Add delete tests to Protractor tests"
##### **Overview of the feature request**

The current Protractor tests verify that add works, but they don't delete the records. This means that when you run the tests, test data is left around.

##### **Motivation for or Use Case**

Because I like to run e2e tests, but not have the test data lying around after.

##### **Related issues or PR**

https://github.com/jhipster/generator-jhipster/issue

[2018-06-23 11:28] pascalgrimaud commented on #7844
it's a very good idea. We need this.

[2018-06-23 11:39] mraible commented on #7844
The only complicated thing I’ve seen is the add tests create relationships between entities, so deletes will need to happen in reverse order.

[2018-06-23 12:33] deepu105 commented on #7843
May be translation is missing for those keys, can you check if the keys are present in the json files

[2018-06-23 12:37] binakot commented on #7843
@deepu105 Nope, its here

<img width="243" alt="2018-06-23 15 36 38" src="https://user-images.githubusercontent.com/1783893/41809743-4e618370-76fb-11e8-8d2b-235de459ccac.png">

[2018-06-23 12:40] deepu105 commented on #7843
That's for the backend. Not sure which error this is as you dindt provide
any stack trace. Also check the front end i18n files, it should be in
error.json can you check if the files have the keys

Thanks & Regards,
Deepu

On Sat, Jun 23, 2018 at 2:37 PM Ivan Muratov <notifications@github.com>
wrote:

[2018-06-23 13:01] binakot commented on #7843
I got this errors only when I run with `docker-compose -f src/main/docker/app.yml up -d`.
I just run app on localhost with `./gradlew` and problem gone. I will try to find the reason...

[2018-06-23 13:14] binakot commented on #7843
How to reproduce:
* Generate new gateway with JHipster 5.0.0 and config above
* Build docker image `./gradlew bootWar -Pprod buildDocker`
* Run with docker-compose `docker-compose -f src/main/docker/app.yml up -d`
* Open http://localhost:8080

There are no any logs about translation problem.
Only about `public key expired`, because I didn't run UAA server:

[code]

[2018-06-23 13:54] deepu105 commented on #7843
@binakot you have 2 issues.
1. There is something going wrong which throws an error(You need to figure this out by examing the stack trace at the backend as well in the browser console, maybe an API request failed)
2. When the error is thrown the translation mechanism tries to translate the key `error.url.not.found`, which means it expects a file named `error.json` in your `src/main/webapp/i18n/en

[2018-06-23 14:32] xetys opened #7845 "uaa broken with gradle"
##### **Overview of the issue**

If you generate a JHipster UAA server with gradle, it fails to boot and build with the following exception:

[code]

This is because of this line in build.gradle

[code]

##### **Reproduce the error**

generate a JHipster UAA server with gradle as build tool

<details>
<summary>Full Exception</summary>
<pre>
java.lang.IllegalStateException: Error processing conditi

[2018-06-23 17:00] pascalgrimaud commented on #7837
Ok I see your usecase.

UAA is used like a Registry so we should do the same thing: exposing the port 9999, so you can start your Registry + UAA in Docker and start the microservices in local for developing.

For the Microservices, we should not expose the port by default, otherwise, we can't scale.

@binakot : would you like to PR for exposing UAA port in Docker ?

[2018-06-23 17:07] xetys commented on #7837
I actually don't get why it's needed for you to get this key from
localhost. The endpoint is used by other microservices to get the key to
sign JWTs and this happens internal. So for this, uaa doesn't need to be
exposed. One use case is, if you want an external all to do the same. For
this I would go through over the gateway anyways.

So it looks like the need for UAA port being exposed is specifi

[2018-06-23 17:11] pascalgrimaud commented on #7837
@xetys : I think @binakot uses this workflow in dev:
- start Registry in Docker
- start UAA in Docker (exactly the same than Keycloak, which exposes port 9080)
- start in local for dev: gateway, ms1, ms2, etc.

So in this case, I think ms1, ms2 can't access to UAA right ?

[2018-06-23 18:10] shai2017 commented on #7798
hi Deepu,

In my opinion this is the problem of Jhipster Webpack version conflict. It is not working when using Lazy loading of additional module. i have copied exactly admin module structure (bare minimum).

It is working fine in dev mode but not generating output folder in production mode.

[2018-06-23 18:20] binakot commented on #7837
@pascalgrimaud, yes, this is true. I run registry, uaa, postgres (everything except service I'm working on) in containers. I think this is right way to dev or not? Is there good recipe to run registry, uaa, gateway and service on my working machine for development?

[2018-06-23 18:50] xetys commented on #7837
"So in this case, I think ms1, ms2 can't access to UAA right ?"

No, it shouldn't. If ms1 want's to access uaa, ms1 first asks eureka the IP. Eureka responds with the UAAs internal IP and ms1 shouldn't have any issues to contact UAA that way.

@binakot Do you do something different here? The only issue is, that I have to hardcode hostname "registry" or "jhipster-registry" to 127.0.0.1 in /etc/host

[2018-06-23 19:06] binakot commented on #7837
@xetys I'm talking about direct access via browser or curl from my host.
Hardcode registry in /etc/hosts is good advice, but this won't help in my case.
I understand the reason why there was not a port mapped, but what is the use of docker-compose in uaa project?

[2018-06-23 19:12] binakot commented on #7843
@deepu105 about second point:

This is content of i18n files:

en-`error.json`:

[code]

ru-`error.json`:

[code]

There is no `error.url.not.found` key.

[2018-06-23 19:17] xetys commented on #7837
The same as for microservices in general: quickly start your stuff for
development. I'll give an example from my company's day 2 day.

We have like 30 unique microservice applications, all getting users from
UAA, but doing totally different stuff. When we need to code some new
stuff, we use docker compose to start all microservices needed for the new
to work. For totally new projects it's just reg

[2018-06-23 19:55] binakot commented on #7837
@xetys I see, thanks ☕️
Probably I just create separate docker-compose file for run registry, uaa, gateway and required services  together.

[2018-06-23 19:58] deepu105 commented on #7798
@shai2017 that doesnt make sense, if it was a JHipster config issue, how can the admin module work but not others. @wmarques what do you think?

[2018-06-23 19:59] pascalgrimaud commented on #7837
@xetys : you're our boss for UAA here, so I will follow your advices

[2018-06-23 20:00] deepu105 commented on #7843
ok so seems like missing translation

[2018-06-23 20:08] xetys commented on #7837
@binakot no, why? just use stuff like this:

[code]
 all with one file

[2018-06-23 20:18] binakot commented on #7837
@xetys uaa has own postgres, gateway has own postgres and so on. I need to map databases on different ports.

[2018-06-23 20:41] #7845 closed

[2018-06-23 21:18] xetys commented on #7837
only if you want that for some reason. It's not required. When these containers run by docker-compose, they see each other over DNS. So uaa requests postgresql:UAA@uaa/UAA and is routed to the proper docker IP.

You need to expose this ports only if you want to access from localhost, like:

* open the JHipster registry in your browser using localhost:8761
* open the gateway in your browser
* acces

[2018-06-24 07:55] ernsyn commented on #7810
This issue is does not affect Heroku only. It affects AWS. However now with JHipster v5, it affects development mode as well.

[2018-06-24 07:57] ernsyn commented on #7822
@pascalgrimaud, JHipster v5 now has issues with Elasticsearch even in dev mode. See https://github.com/jhipster/generator-jhipster/issues/7810.

[2018-06-24 07:57] binakot commented on #7837
Right, but anyway I need to modify postgresql.yml using in app.yml, because in every template it uses 5432 port. And when I try to run with docker-compose uaa and gateway, docker tells me something like 'error: port is already binding'.

Then it should not be port exposing for databases in docker-compose at all.

And if I understand correctly I should:
* Run registry in docker container with port

[2018-06-24 08:40] xmeng1 opened #7848 "ERROR in MergeJsonWebpackPlugin: Error parsing the json file [./src/main/webapp/i18n/uz-lat/global.json]"
##### **Overview of the issue**
get error when yarn run after generation

ERROR in MergeJsonWebpackPlugin: Error parsing the json file [./src/main/webapp/i18n/uz-lat/global.json]
error Command failed with exit code 2.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documen

[2018-06-24 09:02] deepu105 commented on #7540
PR merged

[2018-06-24 09:02] #7540 closed

[2018-06-24 09:03] deepu105 commented on #7540
Entity modules can also be easily lazy loaded with same approach

[2018-06-24 09:11] deepu105 commented on #7848
I think some special character in `src/main/webapp/i18n/uz-lat/global.json` might be causing issue. Can you remove any special chars in that file and try again? if it works let us know

[2018-06-24 09:14] deepu105 commented on #7843
Ok actually this key is in global.json and they are present and hence not sure whats wrong here. @binakot could you investigate a bit more

[2018-06-24 10:13] pascalgrimaud commented on #7810
@ernsyn : just tried in dev, it works fine for me. But I use the `elasticsearch.yml` docker-compose file to start my Elasticsearch, which contains: `command: -Enetwork.host=0.0.0.0 -Ediscovery.type=single-node`

So maybe it's related to this, as we used some specific options to start Elasticsearch.

[2018-06-24 14:27] ernsyn commented on #7810
@pascalgrimaud: You started an ES instance manually? Or did I misunderstood you.

As for me, in previous versions, I did not need to start any ES instance manually in dev mode and it all works fine. I'm guessing this issue is due to the use of a newer version of ES hence the error. As suggested in above comments, using https://github.com/VanRoy/spring-data-jest fixes the problem.

[2018-06-24 14:35] alialrabi opened #7849 "Bad performance with prod profile."
##### **Overview of the issue**

I have big gateway project  with angular libraries, ,very bad performance with dev profile but after deploying with prod profile performance enhanced but still take long time to start and refresh app (almost take 15 second to refresh app).

browser app show size of the following files ,That seems too much

polyfills.bundle.js  2.3 MB
vendor.bundle.js  5.2 MB
vendor

[2018-06-24 15:09] deepu105 commented on #7849
@alialrabi I'm not sure what you expect us to do here. You seem to have added a lot of libs on top of what JHipster has (and you seem to have dev dependencies in-app dependency, which is bad)

Also, you say you have a big app, so obviously the bundle size becomes bigger and slows down the app.

We added lazy loading support in JHipster v5, so you could check that and see how you can reduce your in

[2018-06-24 15:09] #7849 closed

[2018-06-24 17:09] #7667 closed

[2018-06-24 20:46] mraible opened #7850 "Refreshing browser with OAuth authentication takes to back to homepage"
##### **Overview of the issue**

If you login to your JHipster app with OAuth for authentication, and navigate to any other page, then refresh your browser, you'll end up at `/#/login`. The expected behavior is that you'd end up back at the same page.

##### **Motivation for or Use Case**

Browsersync doesn't work so well with this behavior.

##### **Reproduce the error**

Create a new app with JH

[2018-06-24 20:55] mraible commented on #7850
NOTE: Everything works great when you use Angular with OAuth. If you refresh in an admin screen, you stay on that screen.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "org.jhipster.blog",
      "na

[2018-06-24 22:14] xmeng1 commented on #7848
I think I find the reason of the issue, there are two more commas in the JSON template
https://github.com/jhipster/generator-jhipster/blob/caa1ba98234063de0a007864b361835eaccd8f5e/generators/languages/templates/src/main/webapp/i18n/uz-lat/global.json.ejs#L96

and

https://github.com/jhipster/generator-jhipster/blob/caa1ba98234063de0a007864b361835eaccd8f5e/generators/languages/templates/src/main/we

[2018-06-25 02:54] carrotagileit commented on #7470
@gmarziou  your advice is great, works perfect. I have same problem, locked on 4.14.2. cannot upgrade. Thanks a lot. save a lot of time.

[2018-06-25 03:42] Blackdread opened #7852 "Fail to update from 4.14.0 to 5.0.1 - ownerSide is missing in .jhipster/xxxxxxxxx.json for relationship"
##### **Overview of the issue**

Fail to update from 4.14.0 to 5.0.1 - ownerSide is missing in .jhipster/MessageSeen.json for relationship

Another warning that happens just before but seems to default to a value:

##### **Motivation for or Use Case**

Cannot update.
I can manually fix one file at a time by checking and adding the missing data in json but maybe there is an automatic solution

####

[2018-06-25 05:02] mraible opened #7853 "Heroku sub-generator is broken in v5 on Linux"
##### **Overview of the issue**

I created a brand new app with 5.0.1 this evening and it won't deploy to Heroku from my Linux laptop. I believe it could be a Linux issue since I've rarely experienced this on Mac, so I figured I'd enter an issue.

Here's the log I get after running `jhipster heroku`:

[code]

Since it prompted me to install the Heroku CLI again, I tried running the suggest command

[2018-06-25 05:29] binakot commented on #7837
@xetys Thanks for good explanation. Now I have no questions.
In my case I just need to remove port exsposing for databases from docker-compose files of uaa, gateway and services, because they all mapping 5432. Issue cab be closes. ☕️ 🍪

[2018-06-25 06:12] #7837 closed

[2018-06-25 06:52] deepu105 commented on #7853
Is the CLI available on path? I don't have this issue on my machine the
last time I tried (few months ago)

On Mon, 25 Jun 2018, 7:02 am Matt Raible, <notifications@github.com> wrote:

[2018-06-25 06:56] deepu105 commented on #7238
Closing this. The two outstanding items are tricky and there are workarounds for those anyway

[2018-06-25 06:56] #7238 closed

[2018-06-25 09:35] Tonterias commented on #7842
Sorry, I hope that helps now. Thanks.

[2018-06-25 09:48] Tonterias commented on #7853
Hi,

It had problems trying to deploy to heroku in Windows too. I gave a error message saying:

	Deprecated Gradle features were used in this build, making it incompatible with Gradle 5.0

(Latest Gradle version is 4.8). Weird, isn’t it?

If I can reproduce it, I will post more information. Sorry, but I deleted it.

[2018-06-25 09:51] Tonterias opened #7854 "Error when generation App from module"
##### **Overview of the issue**

ERROR in ./src/main/webapp/app/entities/post/post-update.component.ts
Module not found: Error: Can't resolve 'app/entities/blog' in 'D:\BasuraTemporal\Borrar\BOOTSRAP\JHispter\Packtpub\newstest501\src\main\webapp\app\entities\post'
 @ ./src/main/webapp/app/entities/post/post-update.component.ts 10:13-41
 @ ./src/main/webapp/app/entities/post/index.ts
 @ ./src/main/

[2018-06-25 12:58] mraible commented on #7853
It looks like the Heroku generator checks if Heroku CLI is installed with `heroku --version`. If I run that, it works:

[code]

If I run `heroku plugins`, the `heroku-cli-deploy` plugin is installed too:

[code]

I just tried running `jhipster heroku` in my project again this morning, and this time it works. ¯\_(ツ)_/¯

This happened to me last week as well, so maybe it's just a bug that happens wh

[2018-06-25 12:58] #7853 closed

[2018-06-25 13:40] deepu105 commented on #7853
@mraible are you sure you weren't drunk :wink:

[2018-06-25 16:52] ruddell commented on #7798
@deepu105 I was able to reproduce it. Webpack shouldn’t fail when adding a second lazy-loaded module. I couldn’t get any specific error message though

[2018-06-25 18:39] dcaravana commented on #7842
Not sure how relevant is to mention here (this may require a separate issue), but TextBlob rendering with React is wrong with v5 as it just renders an `input` of type `text` instead of a `textarea`.

[2018-06-25 18:42] mraible commented on #7842
I can confirm this is true.

[2018-06-25 19:05] congruentsquare opened #7857 "Online generator selecting angular"
##### **Overview of the issue**

Online jhipster-generator javascript framework selection not working. Is anyone having issues with generating a react jhipster app?

##### **Reproduce the error**

Selecting 0auth 2.0 authentication causes angular to be selected.

[2018-06-26 03:56] Srimukh99 opened #7859 "cant bring up application on the localHost"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this

[2018-06-26 04:15] pascalgrimaud commented on #7859
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-06-26 04:15] #7859 closed

[2018-06-26 06:28] anil-coditas opened #7860 "I have created a jhipster project without cache implementation, but now I want to implement cache. is it possible to do so?"
--------------^ Click "Preview" for a nicer view!

We primarily use GitHub as an issue tracker, if your issue is not a **bug** or **feature request** then sorry you are not in the right place :wink:.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This will help the project to keep a clean issue tracker

[2018-06-26 06:29] #7860 closed

[2018-06-26 06:29] anil-coditas commented on #7860
Adding on stackoverflow

[2018-06-26 06:30] bhelm opened #7861 "import-jdl does not report unknown data type correctly"
##### **Overview of the issue**
jhipster import-jdl reports a reserved keyword error but actually should report an invalid data type.

##### **Reproduce the error**
try to import this entity:
[code]
->
[code]
Changing DateTime to ZonedDateTime solves the issue, but the importer should state a correct error instead of a misleading one.

##### **JHipster configuration**

##### **JHipster Version(s)*

[2018-06-26 06:40] ernsyn opened #7862 "App with Elasticsearch does not work in dev mode"
##### **Overview of the issue**

I created a a JHipster v5.0.1 monolithic app with Elasticsearch. When starting up, the following errors were displayed.

[code]

I tried saving a simple entity with just one field and got the following exception.

[code]

##### **Motivation for or Use Case**

Was expecting elasticsearch to work in development mode.

##### **Reproduce the error**

Install the JHipst

[2018-06-26 07:28] deepu105 commented on #7861
cc @MathieuAA

[2018-06-26 08:19] ernsyn commented on #7862
I see. Just to confirm, the embedded Elasticsearch cluster no longer works?

[2018-06-26 08:36] #7862 closed

[2018-06-26 08:38] jdubois commented on #7857
Thanks, I've spotted the issue, let me fix this

[2018-06-26 09:23] PierreBesson commented on #7857
This seems to be fixed and not posted in the right issue tracker. So I'm closing it;

[2018-06-26 09:23] #7857 closed

[2018-06-26 09:31] jdubois commented on #7854
I'm sorry but I can't reproduce...
Only difference is that I ran `jhispter import-jdl ./src/main/scripts/raro.jh` which is our newer command. Also, I'm on the master branch, but I don't think anything as changed on this part since 5.0.1 (which is very new).

Did you run `yarn install` correctly before? Did you have any error when generating your application initially?

I'm closing this as I can't

[2018-06-26 09:31] #7854 closed

[2018-06-26 09:35] jdubois commented on #7838
As you say, this isn't supported by Zuul for the moment, so we're basically stuck.

Anyway, I'm not sure it would be a good idea to have a Websocket opened that goes from through the gateway, in terms of network issues and efficiency. I'm usually using Kafka to send messages between my microservices and my gateway, and then the gateway is the only one doing Websockets. I'm pretty sure this scales

[2018-06-26 09:35] #7838 closed

[2018-06-26 11:42] congruentsquare commented on #7857
It's working now. If I run into another issue, I'll make sure I submit to the right github project. Thank you.

[2018-06-26 12:16] pascalgrimaud commented on #7848
fixed by https://github.com/jhipster/generator-jhipster/pull/7863

[2018-06-26 12:16] #7848 closed

[2018-06-26 12:42] mraible opened #7864 "React slow to load in production"
##### **Overview of the issue**

I created an example app, blog post, and screencast about how to develop a Photo Gallery PWA with React and JHipster.

Blog: https://developer.okta.com/blog/2018/06/25/react-spring-boot-photo-gallery-pwa
Screencast: https://youtu.be/GlJWUqy1SJM
Source: https://github.com/oktadeveloper/okta-react-photo-gallery-example
Heroku: https://gallery-pwa.herokuapp.com/

You

[2018-06-26 13:45] deepu105 commented on #7864
Yes definitely,

Dod you use master? can you check if the new lazy loading stuff makes any
difference?

Thanks & Regards,
Deepu

On Tue, Jun 26, 2018 at 2:42 PM Matt Raible <notifications@github.com>
wrote:

[2018-06-26 14:53] mraible commented on #7864
I tried with master and it's even slower (22). https://gallery-pwa-master.herokuapp.com/

<img width="1396" alt="screen shot 2018-06-26 at 8 49 15 am" src="https://user-images.githubusercontent.com/17892/41920456-fa19d70c-791d-11e8-9076-f5f0e2203feb.png">

Here's what changed when I upgraded. https://github.com/oktadeveloper/okta-react-photo-gallery-example/compare/jhipster-master

I upgraded by r

[2018-06-26 15:02] vcupelloni opened #7865 ""401 Unauthorized" error in every call between gateway and microservice generated with JHipster5 and Okta integration enabled"
##### **Overview of the issue**

After updating JHipster, it seems that you can no longer correctly call the connected microservice APIs.

##### **Reproduce the error**

With JHipster 5 create a Gateway with Okta integration and Angular 6
After that create a microservice.
Connect both of them to a standard JHipster registry.

Tring to make a get to the microservice from swagger interface in the ga

[2018-06-26 15:30] vcupelloni opened #7866 "java.lang.StringIndexOutOfBoundsException in UserService.java"
##### **Overview of the issue**

Gateway generated with JHipster5 and configured to work with Okta have issues in UserService

`java.lang.StringIndexOutOfBoundsException: String index out of range: -1`
	at java.lang.String.substring(String.java:1967)
	at `com.mycompany.myapp.service.UserService.getUser(UserService.java:261)`
	at com.mycompany.myapp.service.UserService.getUserFromAuthentication(Use

[2018-06-26 16:02] gmarziou commented on #7866
Please paste output of `jhipster info`

[2018-06-26 16:04] gmarziou commented on #7865
Please paste ou`tput of `jhipster info`

[2018-06-26 16:12] vcupelloni commented on #7866
✘ vcupelloni@ROMLAPA0693  ~/test/gateway> jhipster info
Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "gen

[2018-06-26 16:14] vcupelloni commented on #7865
This is the output from the gateway and the microservice app.

 ✘ vcupelloni@ROMLAPA0693  ~/test/gateway> jhipster info
Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder

[2018-06-26 17:43] mraible commented on #7853
Installing using curl seems to fix the problem:

[code]

[2018-06-26 18:06] mraible commented on #7864
FWIW, I created my blog demo with JHipster 5, Angular 6, and JWT. It doesn't score very good on performance either. App is at https://jhipster-5-demo.herokuapp.com, performance score seems to be in 40s or 50s.

[Lighthouse Report.pdf](https://github.com/jhipster/generator-jhipster/files/2138345/Lighthouse.Report.pdf)

[2018-06-26 18:57] deepu105 commented on #7864
That's really strange. lazy loading is supposed to give better
performance(btw note that it works only in prod profile)

So the performance is bad only in the lighthouse score or is it bad
visually when using the app as well? I didn't see any performance issue
visually when I was trying them.

I'll try lighthouse when I find time

Thanks & Regards,
Deepu

On Tue, Jun 26, 2018 at 8:06 PM Matt Raibl

[2018-06-26 19:05] DennerLemos opened #7867 "Error creating project 5.0.1"
I am facing a problem when generating a new project with version 5.0.1, in version 4.14.5 when generating a project I had the option to login with the social media, however in version 5.0.1 this option is not available, it was removed? or has the form of choice changed?

[2018-06-26 19:07] raharrison commented on #7864
Loading both React versions isn't great visually for me (clean load). I can clearly see the translation placeholder strings on the landing page whilst the loading bar scrolls and it finally catches up and fills in the correct content.

The Angular version isn't excellent, but still noticeably better. At least I don't see any translation placeholders anywhere. (Note that this might be made worse by

[2018-06-26 20:20] fil512 opened #7868 "JDL react "update" page fails to submit unselected values for dropdowns of required relationships"
##### **Overview of the issue**

Successfully jhipster import-jdl a simple model.  One entity has two OneToMany _required_ relationships.
In dev, test data for required entities are inserted using liquibase.
App launches with no errors using "gradle bootRun" and "yarn start"
I navigate to the "create entity" page for my entity with the required relationships.
The create entity page looks good.  Dr

[2018-06-26 20:37] jdubois commented on #7867
Yes it was removed, that's not an error (next time, please write a better ticket title).
The first reason is that "Spring Social" isn't actively maintained anymore, so we had lots of problems with it.
With JHipster, it's replaced by OAuth2 authentication, typically with Keycloak.
With the new OpenID Connect support in Spring Security, I hope that in the future we could also directly have a Google

[2018-06-26 20:37] #7867 closed

[2018-06-26 20:39] fil512 commented on #7868
Here is the generated code that seems to be causing the problem.  At load, we start with a gameId of 0:

[code]

Then gameid is only updated when the dropdown is changed:

[code]

[2018-06-26 20:46] atomfrede commented on #7864
I have an older jh 4 app here, deployed via dokku on digital ocean (as far as I know). Can only test the login page as I don't have any credentials to that system at hand. It seems to be much better as that app scores 62 for performance (and I'm pretty sure there is much room for improvement in some custom code).

![screenshot-20180626224225-526x761](https://user-images.githubusercontent.com/20340

[2018-06-26 22:02] PierreBesson commented on #7838
I think our best bet to achieve that would be to use Spring Cloud Gateway which advertise websocket support. But we would still need to run some tests to see if performance is acceptable.

[2018-06-27 05:17] atomfrede commented on #7864
Just a plain bundle analyzer screenshot. I think we should have a look at the font awesome stuff (maybe load it async or so). Also lodash seems pretty large and not sure if we need everything from lodash or lodash at all. Also moment is quite large. Maybe we can check what features we need of moment and maybe replace it with a smaller library.

![screenshot_2018-06-27 webpack bundle analyzer](http

[2018-06-27 05:30] ernsyn commented on #7862
Ok, thanks for the clarification @deepu105 & @jdubois.

[2018-06-27 06:38] mkysoft commented on #7868
Same of us.

[2018-06-27 07:41] agaspardcilia commented on #7868
I was able to reproduce the error. I'll try to fix it today.

[2018-06-27 07:42] vishal423 commented on #7864
+1 to upfront load only default translation bundle. I also tried this before, however, noted translation issues on current page. I will see if I can get some time to re-look into that.

Also, we should think about splitting one big bundle to lazy loaded module specific bundles.

[2018-06-27 08:08] deepu105 commented on #7864
Yes we can optimise a lot. For lodash its suppose to treeshake and remove
unused. If its not working then we can just add the methods from lodash
that we are using directly to package instead of full package.

For moment tree shaking doesnt work due to its packaging so ya if there is
a lighter lib, we can consider switching to that.

I'm not happy with the new fontawesome stuff. I would prefer som

[2018-06-27 09:20] hellereye opened #7869 "yarn start fails generated by JHipster v5.0.1 React app"
##### **Overview of the issue**

I've generated a JHipster / React app  I get the following when I run yarn start throws:
ERROR in Entry module not found: Error: Can't resolve './src' in '/Users/admin/dev/test/myapp'

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

Release 5.0.1

##### **JHipster

[2018-06-27 09:35] #7869 closed

[2018-06-27 09:38] hellereye commented on #7869
I upgraded yarn to 1.7.0, it's running;

[2018-06-27 10:33] DanielFran opened #7870 "Error using liquibase with H2Memory"
##### **Overview of the issue**

Creating new microservice v.5.0.1 with H2Memory in Dev result with an error executing liquibase scripts.

##### **Motivation for or Use Case**

See stackstrace:
[code]

##### **Reproduce the error**

Create new microservice and import jdl.
Start microservice in dev profile and error happens.

##### **Related issues**

##### **Suggest a Fix**

Add ';DB_CLOSE_ON_EXIT

[2018-06-27 12:03] PierreBesson commented on #7870
Thank you for respecting our guidelines but next time please enclose your stacktrace with  ```. I have edited your post for you.

[2018-06-27 12:29] DanielFran commented on #7870
@PierreBesson thanks for the update.

This is strange, adding even ';DB_CLOSE_ON_EXIT=FALSE' to the url, sometimes it works, sometimes it don't !?!

Are you able to confirm the issue?

[2018-06-27 12:38] PierreBesson commented on #7870
Can you make sure you run `mvn clean` as this is using h2 disk, the data is stored in `target`

[2018-06-27 12:43] DanielFran commented on #7870
Obviously, what a dumb! 👍

Will do the PR...

Thanks

[2018-06-27 12:44] jdubois commented on #7870
Liquibase with H2 in memory doesn't work as far as I know.
Liquibase needs to access your running instance, and for this you need an opened port to H2, and I don't think it's available, at least not by default.

-> if you have this running it's great news, because I couldn't make it work!! So this needs to be documented

[2018-06-27 12:46] PierreBesson commented on #7870
@jdubois I think what you mean is `mvn liquibase:diff` doesn't work with H2. For liquibase itself it is supposed to work.

[2018-06-27 12:49] jdubois commented on #7870
Oh sorry I read too quickly, indeed @PierreBesson you are correct

[2018-06-27 12:54] ruddell commented on #7828
@pmverma JHipster migrated the http services to the core module in https://github.com/jhipster/generator-jhipster/pull/7110, the upgrade generator handles that but if you upgrade manually you have to change the imports throughout your project.  The upgrade generator should keep your custom changes

[2018-06-27 13:51] agaspardcilia commented on #7842
@dcaravana @mraible I'll try to PR something about that today or tomorrow.

[2018-06-27 14:38] #7868 closed

[2018-06-27 14:54] ruddell commented on #7852
I couldn't reproduce this with the prompts or JDL so not sure how your entity JSON got in that format.  Tested generating with both v4.10.0 and v5 and the ownerSide field was always set

[2018-06-27 16:15] binakot commented on #7843
Sorry for late response, now I'm here.
Let's see. Now I lost all translations 🙉

My env:

[code]

This is my `yo-rc.json`

[code]

After generation I just run gradle and yarn:

[code]

Gradle output (with removed eureka client's stack traces):

[code]

Yarn output:

[code]

Chrome page + console:

<img width="1396" alt="2018-06-27 18 54 31" src="https://user-images.githubusercontent.com/1783893/41

[2018-06-27 16:18] binakot commented on #7843
I'm pretty sure that the problem in React.
If I generate same project, but only with Angular 6, everything works fine!

<img width="1551" alt="2018-06-27 19 16 14" src="https://user-images.githubusercontent.com/1783893/41986433-c4a9d37a-7a3e-11e8-8e67-14d6ede6fe09.png">

<img width="822" alt="2018-06-27 19 16 28" src="https://user-images.githubusercontent.com/1783893/41986438-c94bff3e-7a3e-11e8-82

[2018-06-27 18:22] RohanHSBC opened #7873 "Opening Login model Scrolls the page to bottom."
Hi Guys, just figured out a small glitch on UI side whenever you open the login model on the homepage which has scrollable content after the popup is opened the page automatically scrolls to the bottom.

![image](https://user-images.githubusercontent.com/17309736/41992036-03667282-7a65-11e8-8cfd-3599d7118e75.png)

Please find screenshot for reference.

[2018-06-27 18:59] Tonterias commented on #7854
So do I. I just can't reproduce it. Good.

- Regarding Import: It doesn't work (for me) if I do not use....yo jhipster:import-jdl ./src/main/scripts/raro.jh

Do I have to upgrade anything?

Thanks

[2018-06-27 19:12] ruddell commented on #7854
I would just use `jhipster` without the `yo`.  Yeoman is probably picking up an older version, maybe you installed with both npm and yarn (usually fixable by removing it from both and installing with the one of your choice).

[2018-06-27 19:18] jdubois commented on #7865
Could you put a more descriptive title?

[2018-06-27 19:24] jdubois opened #7875 "Extract a "LiquibaseConfiguration" config bean from "DatabaseConfiguration""
Currently in the `DatabaseConfiguration` configuration bean, we configure Liquibase. This is not very good:

- I think it's cleaner to have a more descriptive class name to configure Liquibase, like `LiquibaseConfiguration`
- It would also be easier for people who want to remove Liquibase (probably just delete the file), as I see this is something many people want to remove

That would also fix a

[2018-06-27 20:20] fil512 commented on #7868
This fix resolves my issue.  THANK YOU for solving it so quickly!!!

[2018-06-27 21:38] wmarques commented on #7798
Let me try to reproduce and analyze this. The lazy loading is handled by `@ngtools`

[2018-06-28 06:43] vishal423 commented on #7843
I also hit into same issue on react. Easy way to reproduce is to deploy only frontend code using yarn. However, if you switch across menu, then, this should go away.

[2018-06-28 06:58] atomfrede commented on #7864
Regarding font awesome I will try to update to the latest version later. According to https://github.com/FortAwesome/react-fontawesome/issues/70#issuecomment-399874742 the treeshaking problems should be resolved, which will reduce the bundle size a lo I guess.

When it comes to lodash there is some 3rd party lib that depends on lodash (maybe it is even jhipster-react). I tried lodash-es and that s

[2018-06-28 07:11] #7786 closed

[2018-06-28 07:14] deepu105 commented on #7843
Hi there has been some i18n related fixes merged to master. Can you guys try the master branch and let us know if the problem still exists?

https://github.com/jhipster/generator-jhipster/pull/7835#pullrequestreview-132710142

[2018-06-28 07:15] deepu105 commented on #7843
@agaspardcilia since you already did some i18n fix can you check bif that fixed this as well?

[2018-06-28 07:19] vishal423 commented on #7843
I think the problem is in error-middleware while reading error response.

[2018-06-28 07:41] vishal423 commented on #7843
some more debugging and the issue is with the way we do translations when the key is not found (scenario I described above would result into error message text to be treated as key and there wouldn't be any translations and it returns complete bundle of that locale)

[2018-06-28 07:45] vishal423 commented on #7843
[code]

[2018-06-28 09:02] deepu105 commented on #7873
I also noticed this, but I have no idea why it happens. A workaround is to
call `window.scrollTo` on the componentWillUnmount step of the login
component

Thanks & Regards,
Deepu

On Wed, Jun 27, 2018 at 8:22 PM Rohan <notifications@github.com> wrote:

[2018-06-28 09:12] deepu105 commented on #7875
+1

Thanks & Regards,
Deepu

On Wed, Jun 27, 2018 at 9:24 PM Julien Dubois <notifications@github.com>
wrote:

[2018-06-28 09:38] vishal423 commented on #7843
The issue that I identified is slightly different than the one initially reported here. In my case, error message was passed to fetch corresponding translation, whereas the issue reported here doesn't hit into that scenario. Later evening will try to do the PR for the one that I identified.

[2018-06-28 10:23] #7875 closed, assigned to nobody

[2018-06-28 11:40] pascalgrimaud commented on #7870
Just tried it, I confirm the issue

[2018-06-28 12:12] mraible commented on #7864
For another comparison of v5 vs v4. www.21-points.com is currently running [4.6.2](https://github.com/mraible/21-points/blob/master/.yo-rc.json#L7).

Performance score when not logged in is 23.

<img width="1718" alt="lighthouse-not-logged-in" src="https://user-images.githubusercontent.com/17892/42033424-138941d2-7a9a-11e8-8258-8f24a9d32f78.png">

Performance score when I'm logged in is 17.

<img

[2018-06-28 12:35] atomfrede commented on #7864
It is very confusing. On my machine the score for the login page is `63`. But maybe a problem of running chromium?

[2018-06-28 13:07] #7870 closed

[2018-06-28 16:50] deepu105 opened #7880 "React: Fix lazy loading"
The lazy loading doesnt see to work correctly due to the use of `commonjs` instead of `esnext` in tsconfig. Also some optimizations needs to be done in webpack config.

[2018-06-28 20:28] atomfrede commented on #7864
So maybe I have found the problem why fontawesome is not treeshaked. Let me investigate a little bit further. It seems to be a problem of older babel, uglifyjs and fontawesome. https://github.com/FortAwesome/Font-Awesome/issues/13260

[2018-06-28 21:28] MathieuAA commented on #7861
@deepu105 Either I don't pay attention to the notifications, or I'm going blind. Maybe both. I'll create an issue for this in JCore to link to this one and deal with this tomorrow. I'm going to close this.

[2018-06-28 21:28] #7861 closed

[2018-06-28 21:57] MathieuAA commented on #7861
It's fixed and will be shipped with v3.1.0

[2018-06-28 23:02] atinsingh opened #7881 "Not able to compile app for prod."
##### **Overview of the issue**
I am trying to build a gateway app for Prod but it week on failing with this error
INFO]        [] -> factory:13ms building:2495ms = 2508ms
[INFO]     + 303 hidden modules
[INFO]
[INFO] ERROR in ./src/main/webapp/app/app.main.ts
[INFO] Module not found: Error: Can't resolve './app.module.ngfactory' in '/Users/atinsingh/OneDrive/xx/xx-gateway/src/main/webapp/app'

##

[2018-06-29 06:11] duymap opened #7885 "Can not run "yarn start" (jhispter version 5.0.1)"
##### **Overview of the issue**
When I generate project using jhipster, select React as front-end. After completing generation, I ran "yarn start" and saw the below issue:

ERROR in multi (webpack)-dev-server/client?http://localhost:8080 ./src
Module not found: Error: Can't resolve './src' in '/Users/formos/duy/test'
 @ multi (webpack)-dev-server/client?http://localhost:8080 ./src

Tried to delelt

[2018-06-29 06:42] deepu105 commented on #7881
@atinsingh There isn't enough information to go around here. Please follow our guidelines.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.

[2018-06-29 06:45] deepu105 commented on #7885
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-06-29 06:45] #7885 closed

[2018-06-29 06:48] deepu105 commented on #7864
@mraible @atomfrede @vishal423 guys I'm planning to look into this weekend. If you guys have any updates let me know here so that I don't spent time on things you already did/found out

[2018-06-29 06:55] Blackdread commented on #7852
ok, no idea either.
I can manually correct the json when error happens

[2018-06-29 07:22] jdordoigne opened #7886 "Changes in global.scss loaded before bootstrap.scss"
##### **Overview of the issue**

In jhispter 5, bootstrap rules have priority over styles in global.scss

##### **Motivation for or Use Case**

We have override bootstrap style in global.scss in our  jhipster 4 application. After migration in v5 all our style are broken.

##### **Reproduce the error**

For exemple add a button in home.component.html
<button class="btn btn-primary">Jhipster</button

[2018-06-29 07:59] atomfrede commented on #7864
@deepu105 I will post my findings and what I did yesterday after this evening and maybe propose a PR for the fontawesome treeshaking (which might be easier to see than a comment here).

[2018-06-29 08:00] deepu105 commented on #7864
sure

Thanks & Regards,
Deepu

On Fri, Jun 29, 2018 at 9:59 AM Frederik Hahne <notifications@github.com>
wrote:

[2018-06-29 08:34] MathieuAA commented on #7852
A possible solution: if you generated your entities with the JDL and your JDL is up-to-date, let it overwrite your JSON files. If they weren't generate with the JDL, use the `export-jdl` subgen and try to do the same.

[2018-06-29 08:56] xetys opened #7888 "Gradle prod build: error: package org.h2.server.web does not exist"
##### **Overview of the issue**

In JHI4 I used this command to build my gradle powered application using

[code]

which always did a great job, as it calls all required task, running tests and so on.

With JH5 this doesn't work anymore. It looks like h2 is compiled only for the default gradles dev profile, not when prod is enabled.

A workaround to this would be to

[code]

or using CI cache/arti

[2018-06-29 09:22] Blackdread commented on #7852
I used JDL, will do your solution.
Thx.

[2018-06-29 09:22] #7852 closed

[2018-06-29 09:32] xetys opened #7889 "No Database Option with UAA gateway"
##### **Overview of the issue**

I know this was possible due some point I didn't realized: When generating a gateway using UAA it's no more possible to select 'no database', what was possible earlier.

##### **Motivation for or Use Case**

In the common use-case where a user uses UAA, there is often no need in having a database on the gateway, same as for OAuth2.
##### **Suggest a Fix**

Make it

[2018-06-29 09:44] xetys opened #7890 "UAA support in React"
I was fearing this would be the case. When doing react on UAA, it tries to do it the JWT way, what of course cannot work.

A few points here:

- [x] You cannot login over the UAA endpoint
- [ ] The react app handles JWT in local/session storage

I will do a PR to bring UAA support to react. While I will find further sub-issues, I'll note them down here.

[2018-06-29 10:15] xetys commented on #7890
OK that's a bit different: you can log in, but the axion interceptor sends access tokens if there are some left (you will see it if you work with both, ng and react apps on localhost)

And it totally ignores "remember me", which has a real implementation using OAuth2 refresh token grant in UAA.

so:

- [ ] Add Remember Me support

[2018-06-29 10:17] xetys commented on #7890
Because of the cookie handling, here's one more:

- [ ] UAA gateway needs proper CSRF handling to make write requests

[2018-06-29 10:32] xetys opened #7891 "import-jdl broken with react when using microservices"
##### **Overview of the issue**
As of the old (and currently supported) JDL standard, it is possible to use the

[code]

statement in JDL to specify the source microservice for the gateways endpoints.

This still works great for Angular 6. But in React it's broken, as it does wrong import statements in the models.

Here is my app.jh

[code]

This generates a model like this one:

[code]

The gener

[2018-06-29 12:51] vishal423 commented on #7864
@deepu105 , I didn't get much chance to look, however, I am sure caching isn't applied on i18n resources. I will move those under content directory. For lazy loading of remaining bundles, I still need to check.

[2018-06-29 12:53] deepu105 commented on #7864
I'll fix lazy loading, i'm already looking into it

Thanks & Regards,
Deepu

On Fri, Jun 29, 2018 at 2:51 PM vishal423 <notifications@github.com> wrote:

[2018-06-29 14:28] vishal423 opened #7892 "Maven build failure - probably with no cache"
##### **Overview of the issue**

I synced my test project with latest master and noted below stack trace.

***************************
APPLICATION FAILED TO START
***************************

Description:

Parameter 1 of constructor in com.mycompany.myapp.config.LiquibaseConfiguration required a bean of type 'org.springframework.cache.CacheManager' that could not be found.
        - Bean method 'c

[2018-06-29 17:29] wilsonjl5 opened #7896 "Must remove the .yo-rc.json file if app is ever generated in the home directory"
##### **Overview of the issue**

When creating a test application for jHipster 5 I accidentally generated the app in my home directory. After noticing my mistake, I removed the files and created a new directory for my application. When trying to generate it I ran into the following issue: the previously generated project's .yo-rc.json file is being used as the config for any and all jHipster proje

[2018-06-29 17:36] deepu105 commented on #7896
Its a yeoman feature/limitation. So basically there is nothing that we can do here. You just need to be careful.

[2018-06-29 17:36] #7896 closed

[2018-06-29 17:38] deepu105 commented on #7896
To give some more info: yeoman has this feature so that you could generate stuff from any folder of your app.

Also we print a message at the beginning to say where the app is being generated.

[2018-06-29 18:15] pascalgrimaud commented on #7896
Hi @wilsonjl5 from IpponUS :)

It happens to me several times and I hate it.
What it could be done is to check if we are in home directory, then, displaying a very big warning.

[2018-06-29 19:40] jdubois commented on #7896
Yes I think we all hate this Yeoman "feature"!

[2018-06-29 21:38] PierreBesson commented on #7896
We could try to detect it and ask for confirmation (then it's hard to support windows, Linux and Mac OS). Also as once suggested to me by @jdubois we should create a `jhipster doctor` command to troubleshoot common problems like having a `yo-rc.json` in the home directory.

[2018-06-29 21:55] atomfrede commented on #7864
I can't make a proper PR today, so I try to summarize what I did to make font awesome tree shaked. But unfortunately  I just realized the webpack build is not working as it has ts-lint warnings (`no-submodule-imports`). So without adding `@fortawesome` to the whitelist it may be better trying to adapt the webpack config, but here is what I did:

1st update fa deps

[code]
With this all imports mus

[2018-06-30 02:33] sh1973 opened #7897 "Table JHI_USER already exists when building uaa to prod"
##### **Overview of the issue**

Hello!

I'm sorry if I'm making a mistake reporting this here, but I JHIpster documentation does not say anything about this error, or about what I could be doing wrong, and I have also looked everywhere.

I'm willing to help resolve this problem for others too if necessary.

I'd like to build uaa for production.

./mvnw works fine and uaa project builds and runs o

[2018-06-30 07:47] #7795 closed

[2018-06-30 07:47] #7827 closed

[2018-06-30 10:39] vishal423 commented on #7864
@deepu105, I have some changes for lazy loading of i18n bundles. Let me know if you would like those

[2018-06-30 10:47] deepu105 commented on #7864
Yes please

On Sat, 30 Jun 2018, 12:39 pm vishal423, <notifications@github.com> wrote:

[2018-06-30 14:23] muralihr opened #7899 "Token Exchange security vulnerability for API calls"
##### **Overview of the issue**

We have buillt a set of APIs which are specific to a user ; Let us say
`/api/customerdata/**/**/11 `
Step 1 > if we send the token of the user 11 we get a proper response;

`curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' --header 'Authorization: Bearer token1' '//api/rental-trips/findOpenTripByMember/12'`

Now if we repla

[2018-06-30 14:33] jdubois commented on #7899
I'm sorry but I'm not sure I get what you mean - are you using JWT authentication? In that case, if you take another user's token, then you are logged in as that user, I don't get where the issue is. And what's the link with Firebase?

[2018-06-30 15:13] muralihr commented on #7899
step 1 >
I log in with the api/authenticate with username muralihr - i get a token say token1 and a user ID say 11
then i log in as user jdubois1 - i get a token say token 2 - and user Id say 12;
Now my API is having the userId as the input ;
so/ api/userId/11/data/x can be accessed by both 11 and 12 if they use a valid token irrespective of the userId;

[2018-06-30 15:28] ruddell commented on #7899
This is an issue with how you secured your endpoints, I'm guessing you only made sure the user requesting has the ROLE_USER which means any user can request any other user's endpoint.

I see two options:
 - Instead of having the userId as a request parameter (which anyone can change), get the current user through [SecurityUtils.java](https://github.com/jhipster/jhipster-sample-app/blob/master/src/

[2018-06-30 15:38] muralihr commented on #7899
OK ~ Thanks ~ I had forgotten about PreAuthorize and PostAuth from spring and wanted Jhipster to generate the PreAuthorize and PostAuth  filters for all APIs ~  My suggestion was the design in jhipster to include PreAuthorize and PostAuth ;
Thanks @ruddell

[2018-06-30 15:38] #7899 closed

[2018-06-30 15:54] muralihr commented on #7899
Found one more way to do the job ~

http
		.authorizeRequests()
				.antMatchers("/user/{userId}/**").access("@webSecurity.checkUserId(authentication,#userId)")

[2018-06-30 16:04] muralihr commented on #7899
Additional http://www.baeldung.com/spring-security-method-security

@PostAuthorize("#username == authentication.principal.username")
public String getMyRoles2(String username) {
    //...
}

[2018-06-30 16:51] jdubois commented on #7897
It's a bit hard to read, but from my understanding you changed the data that should be loaded in the JHI-USER table, and maybe even changed the schema.
So that all depends on what you did with your app - if you started it with the original JHipster data, and then added some new data or changed something, then you need to update your Liquibase files accordingly. That means creating a new changelog,

[2018-06-30 16:51] #7897 closed

[2018-06-30 16:52] jdubois commented on #7897
Please don't hesitate to comment, that was hard to read, so I might didn't understand everything.

[2018-06-30 18:44] manisi opened #7902 "alertAsToast located Behind of the ElasticSearch panel"
when set  alertAsToast :true  the messages of alert rise  back of search panel .
<img width="1374" alt="screen shot 2018-06-30 at 22 58 33" src="https://user-images.githubusercontent.com/3120328/42128209-46a04ff2-7cbb-11e8-8427-362504cf42bf.png">

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**
jh

[2018-06-30 19:33] deepu105 commented on #7902
I think some zIndex issue

On Sat, 30 Jun 2018, 8:45 pm manisi, <notifications@github.com> wrote:

[2018-06-30 20:49] bertwin commented on #7864
It may also be worth looking at this problem with uglify:
https://twitter.com/greweb/status/1013122437884542978

[2018-07-01 04:49] RohanHSBC commented on #7873
Just figured out a workaround for this, the issue is caused when you set the focus on input after the modal has opened. The page scroll can be prevented by commenting the code that sets the focus in file.

**login.componect.ts**

`
ngAfterViewInit() {
           //this.renderer.invokeElementMethod(this.elementRef.nativeElement.querySelector('#username'), 'focus', []);
    }
`

[2018-07-01 08:16] pascalgrimaud opened #7904 "🚀 CICD: improvement"
Following my demo at JHipster Conf, I will improve the CICD sub generator.

Here the list of what will be done:

- you can only choose 1 pipeline instead of selecting all (if you want to add a new pipeline, simply relaunch the generator) -> it's easier to maintain.

- add Artifactory support (only for Maven for now)

- add Sonar support for GitLab CI and Travis CI -> now, it is very easy to push t

[2018-07-01 08:21] pascalgrimaud commented on #7904
I'll try to support as much options / configuration as possible, but it will be hard to support all:
- Jenkins / GitLab CI / Travis CI
- Yarn / NPM
- Maven / Gradle
- perform inside Docker
- Artifactory
- Sonar
- Docker Push
- Heroku

[2018-07-01 08:52] #7892 closed

[2018-07-01 08:53] #7696 closed

[2018-07-01 09:30] Vaelyr commented on #7798
Running into the same problem. Added another lazy loaded module and getting no production build output.

[2018-07-01 13:25] arabbani opened #7906 "No option to select spring-social integration"
##### **Overview of the issue**

When using with jhipster v5.0.1, there is no way to select spring-social feature during application generation

##### **Motivation for or Use Case**

Previous versions of jhipster had this feature

##### **Reproduce the error**

jhipster --jhi-prefix app

? Which *type* of application would you like to create? Monolithic application (recommended for simple projects

[2018-07-01 13:29] deepu105 commented on #7906
This option has been removed. Please see our release notes

[2018-07-01 13:32] arabbani commented on #7906
Any workaround?

[2018-07-01 13:43] deepu105 commented on #7906
You could try this
https://www.jhipster.tech/tips/024_tip_enabling_social_login_with_oauth2.html

Thanks & Regards,
Deepu

On Sun, Jul 1, 2018 at 3:32 PM Arif Rabbani <notifications@github.com>
wrote:

[2018-07-01 13:44] deepu105 commented on #7906
@jdubois I think we missed to mention this on the release notes for 5.0 or was it another one?

[2018-07-01 13:52] jdubois commented on #7906
Is should have been in a beta release, at least that was openly discussed many times, including several times on Twitter.
I don't get it, nobody was interested in this feature and nobody wanted to contribute, but now it's removed we have many complaining it was removed.
Anyway, the real solution is to have an OpenId Connect configuration that works for Keycloak/Okta/Google/Github/JHipster UAA but

[2018-07-01 13:59] deepu105 commented on #7906
@jdubois I checked the release notes of Beta, we missed it. I guess we need to mention this somewhere in the docs

[2018-07-01 14:13] arabbani commented on #7906
Thanks a lot

[2018-07-01 14:15] arabbani commented on #7906
i missed the discussion. It was a very useful feature

[2018-07-01 14:20] xetys commented on #7904
Maybe a kubernetes deploy?

[2018-07-01 14:39] pascalgrimaud commented on #7904
It is not planned in this PR, but it can be done later if someone is motivated :)

[2018-07-01 15:43] manisi commented on #7902
@deepu105  Thanks, that was exactly

[2018-07-01 18:07] sendilkumarn commented on #7902
@manisi Will you be interested in doing a PR for this ?

[2018-07-01 18:40] manisi commented on #7902
@sendilkumarn  ok ,thanks.

[2018-07-01 18:57] manisi opened #7908 "No mapping found for [_score] in order to sort on"
##### **Motivation for or Use Case**

when table data is null and if enter any character in search panel,this error rise:
Caused by: org.elasticsearch.index.query.QueryShardException: No mapping found for [_score] in order to sort on

##### **Reproduce the error**
<img width="1365" alt="screen shot 2018-07-01 at 23 17 03" src="https://user-images.githubusercontent.com/3120328/42137656-8d0e4f14-7d8

[2018-07-01 19:12] jdubois opened #7909 "Upgrade to Yeoman 3"
See https://github.com/yeoman/generator/releases/tag/v3.0.0

[2018-07-01 19:29] ruddell commented on #7908
I can't reproduce with an entity both with and without pagination.  Please post your entity configuration so I don't waste more time.

Looks similar to https://github.com/jhipster/generator-jhipster/issues/5908

[2018-07-01 19:48] manisi commented on #7908
@ruddell  urwelcome ruddell  :)
entity config :

entity City{
cityCode Integer,
cityName String required,
active Boolean
}

entity Ostan{
ostanCode Integer,
ostanName String required,
active Boolean
}

relationship ManyToOne {
  City{ostan} to Ostan
}
relationship OneToOne {
  Personel{user} to User
}

paginate  City, Ostan  with infinite-scroll

paginate Personel with pagination
service all with

[2018-07-01 20:07] pascalgrimaud opened #7911 "Sonar vulnerabilities: D"
See https://sonarcloud.io/dashboard?id=io.github.jhipster.sample%3Ajhipster-sample-application

Sonarcloud has probably changed some rules.
So currently, we got a `D` for vulnerabilites.

We need to fix that

[2018-07-01 22:37] deepu105 commented on #7909
From release notes it doesnt look like a major change for us. I'll try to
do this when I find time. I upgraded all dependencies today morning but
this want released then I guess

Thanks & Regards,
Deepu

On Sun, Jul 1, 2018 at 9:12 PM Julien Dubois <notifications@github.com>
wrote:

[2018-07-01 22:51] PierreBesson commented on #7911
It seems that Sonar introduced a new role about entities returned directly from controllers : https://sonarcloud.io/organizations/default/rules?open=squid%3AS4684&rule_key=squid%3AS4684

This is a well know debate (I have seen this discussed many times on Twitter) and I'm sure @jdubois has an opinion on the subject. I personally would not say it is a vulnerability but some people have a strong vie

[2018-07-01 23:48] ruddell commented on #7908
This is the same issue I linked above.  Setting a default sort doesn't fix the issue, it just changes the error message to reference that field instead of `_score` which is set in the entity.component.ts

Closing based on the same reasons/discussion in the original ticket https://github.com/jhipster/generator-jhipster/issues/5908#issuecomment-315439102, if you have a solution please comment

[2018-07-01 23:48] #7908 closed

[2018-07-02 06:04] sharmaraju352 opened #7912 "unable to verify user using UAA server"
I have created UAA server and gateway using JHipster 5. When i sign up from gateway i get a verification link on my email. But when i click on it it calls endpoint from UAA server running on 9999 port. However there is no front to it, so i get an error saying Your request cannot be processed.

When i simply create application using gateway without UAA using JWT authentication it works flawlessly.

[2018-07-02 06:09] jdubois commented on #7912
I'm guessing you just didn't generate the front end of the UAA server - I'm sorry but you give too little information here, how are we supposed to find out the issue?

[2018-07-02 06:30] sharmaraju352 commented on #7912
When we generate gateway then only it asks for front end right?

1) I have created UAA Server first (runs on 9999)
2) Then i have created gateway(runs on 8080) and chose OAuth2 for
authentication which uses UAA server
3) Then I started registry (runs on 8761) and launched UAA and gateway.
4) Everything works perfectly till this stage. But now when i sign up, i
get a verification link(localhost:999

[2018-07-02 06:31] sharmaraju352 commented on #7912
When we generate gateway then only it asks for front end right?

1) I have created UAA Server first (runs on 9999)
2) Then i have created gateway(runs on 8080) and chose OAuth2 for authentication which uses UAA server
3) Then I started registry (runs on 8761) and launched UAA and gateway.
4) Everything works perfectly till this stage. But now when i sign up, i get a verification link(localhost:999

[2018-07-02 07:32] cbornet commented on #7911
The other one where we disable csrf looks like false positive to me: we also configure the session to be stateless. We should open an issue on sonar for that.

[2018-07-02 08:15] jdubois commented on #7911
I am strongly against having DTOs by default: for me they unnecessarily complicate the design, and usually hinder performance. This is against our goal of simplicity, and one of reasons why generators in the Java world (which typically use DTOs) have been less successful than those in alternative languages (which usually don't do DTOs).
Then, of course you need DTOs when your project grows or when

[2018-07-02 08:43] Icarus0xff commented on #1995
I decide to not use jhipster because of this issue. But after almost 2.5 years, is there any solution of this issue? I think jhipster is great, but this feature is so important for me to build enterprise management system with micro services architecture.

[2018-07-02 08:46] cbornet commented on #7911
Or exclude the rule if we don't agree with it.
We always validate our input with JSR303 `@Valid` so it's again a false positive for me...

[2018-07-02 08:55] jdubois commented on #7911
Yes agreed @cbornet - I guess you mean modifying the property in the pom.xml ? Let's do this, so we keep having Sonar on our sample app, which is nicer.

[2018-07-02 09:18] cbornet commented on #1995
If it's an important feature for you, maybe you could contribute it ?

[2018-07-02 10:57] talk2korah commented on #7865
same issue can someone please respond.

[2018-07-02 11:01] jdubois commented on #7865
@talk2korah you could be more helpful and give more details or examples. I'm giving this a try.

[2018-07-02 11:04] jdubois commented on #7865
And as we have no entities here, how am I supposed to test anything??? I'll just test with Swagger, but people please stop complaining and send correct bug reports instead. And please remember we do this on our free time - this is currently my lunch hour, I'd much rather have a coffee with my colleagues then spend time trying to understand what you might have done.

[2018-07-02 11:31] PierreBesson commented on #7911
+1 @cbornet and even if we changed the sample app, people would notice this on their own apps anyway.

[2018-07-02 11:33] jdubois commented on #7865
OK so I tested with an entity I created, and I stayed with Keycloak -> I confirm this isn't working. This should have been tested, I don't understand what went wrong here - @mraible could you have a look? I'll try to debug this

[2018-07-02 11:42] PierreBesson commented on #1995
@laurentsorin has developed the role management feature for his project and demonstrated it in a sample app: https://github.com/laurentsorin/jhipster-role-sample/tree/role-management
He planned to create a blueprint for it but he is lacking time and feedback.
If you would like, you could create the blueprint yourself and if it is good enough, it can be promoted to "official" status.

[2018-07-02 11:45] PierreBesson commented on #1995
@laurentsorin, you have not added a licence for your code. Maybe you could put it under Apache2.

[2018-07-02 11:49] jdubois commented on #7881
No info for 3 days, and we have far too many opened tickets

[2018-07-02 11:49] #7881 closed

[2018-07-02 11:51] jdubois commented on #7714
Yes that would be awesome, but there hasn't been any comment for 1 month and we have 50 opened tickets, so basically we don't have the bandwidth to do this.
PR is welcome from anybody who wants to do this, of course.

[2018-07-02 11:51] #7714 closed

[2018-07-02 11:52] jdubois commented on #7691
Should be easy to do and everybody agrees on it, but at the moment we have too many opened tickets so this won't be done in the next few months.
So I'm closing this because of lack of bandwidth.
Please, if anybody is interested, a PR is welcome.

[2018-07-02 11:52] #7691 closed

[2018-07-02 11:55] jdubois commented on #7669
For me this is still a very important feature, but we clearly don't have the bandwidth to do it, so sadly I'm closing this.

[2018-07-02 11:55] #7669 closed

[2018-07-02 11:56] deepu105 commented on #7843
@binakot can you try with latest master if this is fixed?

[2018-07-02 11:59] jdubois commented on #7665
OK, so I guess we studied this enough... In the long run this looks like the end for Zuul, if the Spring team do not support it.
However, I'm not confident in Spring Cloud Gateway: it hasn't been tested in real life, and in the past most implementations done by the Spring team have been failures, so I wouldn't go that way.

For me we should stick with Zuul 1 by default for the next year, as it's e

[2018-07-02 11:59] #7665 closed

[2018-07-02 12:03] jdubois commented on #7865
I also confirm this doesn't work in prod mode, this is a really big issue.

[2018-07-02 12:28] vcupelloni commented on #7865
@jdubois  I'm very sorry I did not provide all the information you need at the beginning. I had not used entities because I had noticed that APIs for user and account information also gave that problem out of the box. :(

[2018-07-02 12:29] talk2korah commented on #7865
here is all about what i have done

1)created a application form https://start.jhipster.tech/#/

2)added it to git https://github.com/talk2korah/TestApp

3)cloned application to a folder

4)run mvn cmd in the app folder- page successfully loaded in 8080

5)downloaded jhipster registery from https://github.com/jhipster/jhipster-registry/releases

6)added it beside the app folder

7)run java -jar jh

[2018-07-02 12:35] jdubois commented on #7865
Well @vcupelloni I'm also very sorry I didn't trust you earlier, because you were right... This is indeed totally broken, but that was supposed to work - that's a major feature! So this is very surprising this doesn't work at all.
That part has been coded by @mraible with a the help of @farrault - I hope they can be available to help here.
I'll do my best, but I won't be able to work this until to

[2018-07-02 12:51] sharmaraju352 commented on #7912
" You could even copy everything what is past the ? And use it manually."

I did'nt get it. should i chnage the port number from 9999 to 8080 (
localhost:9999/activate?key=some_random_key). There is no such path in
gateway.

How should i get users activated using UAA ?

And the mail link is localhost:port_number_of_whoever_sending_email. In
this case UAA is sending emails, so it is 9999.

On Mon,

[2018-07-02 13:17] vishal423 commented on #7864
@mraible, can you check with latest master as that contain caching improvements along with lazy loading of locale specific bundles.

[2018-07-02 14:42] farrault commented on #7865
@jdubois : So it is a regression, right ? This exact same test you've just done worked before, or you are not so sure ?
I am note able to generate the app easily right now (and tomorrow too), but if someone put the generated code somewhere, I can check.

[2018-07-02 14:47] jdubois commented on #7865
Yes @farrault that should be a regression, I tested it as well as many other people. From what I can see, the token is not sent to the underlying microservice, and I don't know why. Many that's because we upgraded to Spring Cloud stable release - I don't think we tested after that, but as it was working on a milestone release, who could have thought that would break to use a stable release?
Anyway

[2018-07-02 14:54] mraible commented on #7865
I just created a gateway and microservice using OAuth 2.0 for authentication and everything seems fine for me. I did not generate a controller, but I'll try that now.

[2018-07-02 14:57] jdubois commented on #7865
@mraible maybe that's caused by one of the options in the `.yo-rc.json` file - but I didn't see anything strange there

[2018-07-02 15:00] mraible commented on #7865
Creating a controller on my gateway and accessing it via Swagger works too.

<img width="1399" alt="screen shot 2018-07-02 at 8 56 47 am" src="https://user-images.githubusercontent.com/17892/42171212-f384b760-7dd5-11e8-872f-0282c4df2fc5.png">

The only change I had to make was to add `DB_VENDOR` to Keycloak's Docker file.

[code]

Here's the info from my gateway:

##### **JHipster Version(s)**

[c

[2018-07-02 15:17] mraible commented on #7864
I tried the latest code on master and it still doesn't do well when testing with Lighthouse.

<img width="1399" alt="screen shot 2018-07-02 at 9 16 36 am" src="https://user-images.githubusercontent.com/17892/42172258-bbc583ba-7dd8-11e8-963e-227ed16b007f.png">

[2018-07-02 15:22] jdubois commented on #7865
Very interesting, thanks a lot @mraible -> with your configuration it works. Which explains why all our tests were working.
And that's also why we always ask for `.yo-rc.json` configurations :-))))

Then I have no idea what the difference is between the 2 configurations, and why one works and not the other. We'll need to do a diff and test with each different option.

[2018-07-02 15:31] atomfrede commented on #7864
Can you try the tree shaking approach for fontawesome? Just curious how
much that helps

Matt Raible <notifications@github.com> schrieb am Mo., 2. Juli 2018, 17:17:

[2018-07-02 15:42] jdubois commented on #7865
And the culprit is ..... Gradle!
I have no idea why, but the issue only happens with Gradle, not Maven. So the quick fix is to migrate to Maven -> @vcupelloni @talk2korah  could you test and validate? In the `.yo-rc.json` you just need to change `gradle` by `maven`.

[2018-07-02 15:47] ndywicki commented on #7886
Hello,

Ok I'm not crazy ! ;-)
Same issue also with our Jhipster migration v4 to v5.
Our corporate style sheet imported a the end of the global.scss but is loaded before the boostrap.

I've also tried an `yarn run webpack:build`

[2018-07-02 15:49] xetys commented on #7912
You mix it up a bit. The port is not the point.

Inside the mail you get a link. It points to a frontend. Normally that's correct, as in monolith

[2018-07-02 15:53] xetys commented on #7912
Oops, I hate my phone doing this. Missed a click.

I just proceed: in a monolith or JWT based approach, the app sending emails and the frontend is the same. In UAA it's not. So the link your MailService is putting into the mail, points to a frontend on the UAA, which doesn't exist.

If you take the link in the mail and try to open it on the gateway, this should work. To fix this you should change

[2018-07-02 15:59] ruddell commented on #7912
This is configurable via the `jhiptser.mail.base-path` variable. We can set 8080 [in dev](https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/resources/config/application-dev.yml#L113) for UAA apps, in prod [you have to change it anyway](https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/resources/config/application-prod.yml#L109)

[2018-07-02 16:12] vcupelloni commented on #7865
@jdubois
Changed from Gradle to Maven, regenerated all the stuff and now it works!

![image](https://user-images.githubusercontent.com/12106367/42174665-6bbfe6c6-7e23-11e8-929f-fc9907c6a722.png)

[2018-07-02 16:37] deepu105 commented on #7864
Guys please check my PR, it should improve things a lot. I'm trying to treeshake lodash now

[2018-07-02 16:40] deepu105 commented on #7864
also RxJS is a huge dependency when enabling websockets.
I dont remember who added it but may be we need to look for a lightweight alternative for that as we dont need all RxJS functionality

[2018-07-02 17:14] pascalgrimaud commented on #7865
Gradle is not tested at all with microservices. I need to add it to hipster labs

[2018-07-02 17:32] binakot commented on #7843
@deepu105 I confirm, everything worked.
Just generated gateway with React via JHipster from master branch, there is no translation errors.

[2018-07-02 19:11] jdubois commented on #7865
Yes that's why we missed it but there's not supposed to be any difference here.
I need to generate both projects and do a diff. I hope it's not too bad, they don't have the same algorithm for transitive dependencies calculation and that can be quite complex.

[2018-07-02 20:14] gmarziou commented on #7911
What about excluding this rule in pom.xml only if DTO option is not enabled ?

[2018-07-02 21:06] jdubois commented on #7865
OK so I did a diff, and that was really awful to do, so let me write the result here. With Gradle, we have:

- One more dependency: hibernate-entitymanager-5.2.17.Final.jar -> this is crazy as we need that also with Maven, and that just doesn't make any sense.
- One less dependency: spring-cloud-security-2.0.0.RELEASE.jar -> and this definitely looks like the culprit!!

[2018-07-02 21:17] jdubois commented on #7865
Tested and it works :-)
Fix is coming!

[2018-07-02 21:18] #7865 closed

[2018-07-02 21:35] cbornet commented on #7911
DTO is an entity option, not an app one

[2018-07-02 21:40] vcupelloni commented on #7865
Thank you so much for your effort and time guys!

[2018-07-02 21:45] #7889 closed

[2018-07-02 22:30] gmarziou commented on #7911
Right :) Though in JDL you can enable it on all entities using `*` as other entity options.

[2018-07-03 04:54] talk2korah commented on #7865
@jdubois

it works.. thank you guys 👍

[2018-07-03 04:56] jdubois commented on #7865
Thanks everyone, that was a hard one :-)

[2018-07-03 06:30] vishal423 commented on #7886
@jdordoigne, If you want to override bootstrap styles, then, you should add those overrides to `bootstrap-variables.scss` which is loaded before bootstrap in global.scss and correctly override the defaults.

[2018-07-03 06:35] vishal423 commented on #7886
I do see an issue as `bootstrap-variables.scss` filename should be `_bootstrap-variables.scss` as it's partial. I will look into that

[2018-07-03 06:38] #7864 closed

[2018-07-03 06:38] #7880 closed

[2018-07-03 06:56] deepu105 commented on #7886
@jdordoigne, @vishal423 is right. You are doing it at the wrong place. This is documented on the webiste as well https://www.jhipster.tech/customizing-bootstrap-4/

@vishal423 yes the partial file is better with `_` in front but I think it works without as well. Please do PR if you like to change that. I'm closing this one as its not an issue

[2018-07-03 06:56] #7886 closed

[2018-07-03 07:02] axelhodler opened #7917 "Compilation fails if no database is selected during initial generator run"
##### **Overview of the issue**

During `compileJava` classes are missing and the compilation fails if no database is selected

[code]

##### **Motivation for or Use Case**

It does not allow me to create a microservice without a database

##### **Reproduce the error**

* Launch generator v5.0.1
* Pick: Microservice application
* Pick: random port, name and package name
* Pick: JHipster Registry
*

[2018-07-03 07:02] deepu105 commented on #7886
@vishal423 seems like its my bad. I guess I introduced the issue. I just fixed it now partials should be correct

[2018-07-03 07:20] deepu105 commented on #7917
I think this is fixed in #7915

[2018-07-03 07:20] #7917 closed

[2018-07-03 07:32] sharmaraju352 commented on #7912
Even if i do so (forwarding user to gateway instead of UAA), Users are not getting verified. It just simply loads the landing page, and nothing happens.

[2018-07-03 07:39] farrault commented on #7865
@jdubois : so it was my fault ;-( I only add spring-cloud-security to the pom.xml, not the build.gradle in my initial proposition ... Sorry ...

Do you think the diff you made to find the difference in the classpath can be automated ?

@pascalgrimaud : maybe the tests only need to be enhance to compare the classpath in both generation mode ? Which may be a lot lighter than relaunching all the test

[2018-07-03 07:43] jdubois commented on #7865
No problem @farrault - you did an awesome work on OAuth2 support, and this part is really tricky

[2018-07-03 07:43] pascalgrimaud commented on #7865
In fact, my idea is to add a daily builds for gradle+microservices similar to what it is done for maven+microservices:
https://github.com/hipster-labs/jhipster-travis-build/blob/microservices/.travis.yml#L90-L96

Because, Gradle is not enough tested

[2018-07-03 07:47] vishal423 commented on #7886
With latest master, I am seeing below error for angular monolithic project. I just upgraded my node version to 8.11.3. Any clue?

[2018-07-03 07:52] farrault commented on #7865
@pascalgrimaud Please note that this particular problem only shows up when a gateway make a call to a microservice : you do not have *yet* this kind of combined test, have you  ?

To be able to compare the classpath for every combination in the matrix would ensure you a great coherence between maven and gradle.
( I guess it is not straighforward however, maybe the first step is to be enable to gen

[2018-07-03 07:59] pascalgrimaud commented on #7865
As discussed with Pierre Besson, the idea would be to:
- create a microservice with entities
- create a gateway with the entities of the microservice
- start everything, then launch protractor tests -> the calls will be tested here

[2018-07-03 08:21] PierreBesson commented on #7865
Yes we need to do this, being able to generate apps from a JDL file will help us greatly here. What I would like to be able to do, is that people could just drop in a JDL file such as this in hipster lab to have the end 2 end setup tested every day :
[code]

[2018-07-03 09:30] jdubois commented on #7906
Yes, well the idea is that it should comes back with the new Spring Security OpenID Connect implementation that is under development, but we'll need help for this, we clearly don't have the manpower to do everything at the moment.
BTW there is another solution as of today: you can use Keycloak or Okta, and connect them with Google.

[2018-07-03 09:44] xetys commented on #7912
I'll reproduce this and report my results

[2018-07-03 12:16] MathieuAA opened #7919 "Yarn issues with links"
##### **Overview of the issue**

When someone clones this repo and uses `yarn link` (yarn >= v1.6.0) to:
  - dev
  - use the latest features

Template paths from yeoman might not be read as intended.

##### **Motivation for or Use Case**

If using `yarn link` makes the template path from yeoman not read correctly, anyone cloning this repo and doing a `yarn link` could experience this issue.
If tem

[2018-07-03 12:45] vishal423 commented on #7919
I am also seeing below error while generating new angular monolithic project (fresh project):

Yarn version:
  1.7.0

Node version:
  8.11.3

Platform:
  linux x64

Trace:
[code]

It could be unrelated, however, good to assert.

[2018-07-03 12:52] agaspardcilia commented on #7919
@chrisdns Also had an error that may or may not be related:

<details>
<summary>Trace</summary>
<pre>
yarn install v1.7.0
info No lockfile found.
[1/5] Validating package.json...
[2/5] Resolving packages...
warning enzyme > rst-selector-parser > nearley > nomnom@1.6.2: Package no longer supported. Contact support@npmjs.com for more info.
warning image-webpack-loader > imagemin-gifsicle > gifsicle

[2018-07-03 12:57] vishal423 commented on #7919
@agaspardcilia , @chrisdns  If you check yarn-error.log, then, you should see same stacktrace as I pasted in above comment.

[2018-07-03 13:10] deepu105 commented on #7919
for the record i'm having the issues we discussed even with Yarn 1.6.0 and hence i'm using NPM for all linking purpose now

[2018-07-03 13:12] deepu105 commented on #7919
The issue posted by @vishal423 and @chrisdns is a bug from Yarn version 1.7.0 onwards. I forgot the yarn issue number for that, thats why many of us downgraded to yarn 1.6.0 and I still have weird issues while using link.

[2018-07-03 13:16] jdubois commented on #7919
Yes I'm also getting this with Yarn 1.6.0.
Seriously, this is totally fucked, we are losing days because of that - I know I'm getting angry, but I keep going to their website that prints in big "FAST, RELIABLE, AND SECURE DEPENDENCY MANAGEMENT" on the main page, and I just hate them now.

[2018-07-03 13:19] MathieuAA commented on #7919
@deepu105 I'll try some things tonight, mainly combinaisons of JHipster/yarn but also with yeoman.
Yeoman seems to be in the center of this, that's why I think we can solve it.

@jdubois now you know how I felt when we had lunch. Don't lose your hair because of this though :)

[2018-07-03 13:19] MathieuAA commented on #7919
The thing that's bugging me is that template paths seem to be off. This is not normal at all.

[2018-07-03 13:20] vishal423 commented on #7919
@deepu105 , I think you mean by below issue. Eagerly waiting for 1.8 release.
https://github.com/yarnpkg/yarn/issues/5876

[2018-07-03 13:22] jdubois commented on #7919
Oh thanks @vishal423 that's definitely the issue - and also my current workaround

[2018-07-03 13:22] MathieuAA commented on #7919
@jdubois they seem to have fixed it in the nightly version... But that doesn't solve the link issue =(

[2018-07-03 14:24] vishal423 opened #7921 "Conflicting generator-jhipster node version dependencies"
##### **Overview of the issue**
generator-jhipster package.json specify node version dependency as `">=8.9.0"` whereas, it's dependency eslint@5.0.1 require node version to be in this range - "^6.14.0 || ^8.10.0 || >=9.10.0"

##### **Motivation for or Use Case**

##### **Reproduce the error**
Checkout generator-jhipster in new directory. With node v8.9.1 which is compatible with package.json, yarn

[2018-07-03 14:34] vishal423 commented on #7921
sure. should i update to >=v8.10 ?

[2018-07-03 14:35] MathieuAA commented on #7919
How so?Le 3 juil. 2018 15:28, Daniel Franco <notifications@github.com> a écrit :NPM is targetting to 1.8.0.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-03 14:42] DanielFran commented on #7919
They already add yarn 1.8.0 as RC: https://www.npmjs.com/package/yarn
See in tab versions

[2018-07-03 14:53] vishal423 commented on #7919
@MathieuAA , can you try downgrading your nodejs version to v8.10.0 (probably refreshing node_modules of generator-jhipster) and try with yarn v1.7.0. It's weird, but, while doing another change, it started working on my machine :)

[2018-07-03 14:57] vishal423 commented on #7919
For me, it fixed the 1st issue (of template paths), but, not the second one. For that we might need to go with workaround provided by yarn team or wait for v1.8 which might happen soon.

[2018-07-03 15:08] clarenced commented on #7866
Can I provide help for this issue ?

[2018-07-03 15:13] deepu105 commented on #7919
@vishal423 what was the node version you were on? I'm on 8.11.3 and have the template path issue when using Yarn.

[2018-07-03 15:42] vcupelloni commented on #7866
Hi, I haven't said anything before because I don't know the reason behind the use of '-' instead of '_' to split the locale code.

As far as I know the standard is the IETF Language Tag, so en-US, but is also true that, for instance, POSIX format is en_US and this is exactly the same validation made by Okta on their Profile Management page:

![image](https://user-images.githubusercontent.com/12106

[2018-07-03 15:47] mraible commented on #7866
@vcupelloni If you'd like to submit a pull request with your suggested fix, I'd be happy to merge it.

[2018-07-03 15:54] vishal423 commented on #7919
I too faced this issue with v8.11.3, but, not with v8.10.0. Before that, I
was using v8.9.1 and never ran into any issue. Yarn was always v1.7.0

~Vishal

On Tue 3 Jul, 2018, 8:43 PM Deepu K Sasidharan, <notifications@github.com>
wrote:

[2018-07-03 16:00] PierreBesson commented on #7750
The GAE support issue is only lacking documentation to be closed.
Reminder for @ludoch and @saturnism to PR to [jhipster/jhipster.github.io](https://github.com/jhipster/jhipster.github.io).

[2018-07-03 18:38] MathieuAA commented on #7919
Interesting, there may be a lead, thanks @vishal423 !!

[2018-07-03 18:46] deepu105 commented on #7919
Yes I never thought a minor node version could cause issues. May be it has
some regression or bugs

On Tue, 3 Jul 2018, 8:38 pm Mathieu ABOU-AICHI, <notifications@github.com>
wrote:

[2018-07-03 19:01] MathieuAA commented on #7919
The easiest way to test that is to use `nvm`, I'll try with different versions right now

[2018-07-03 19:19] MathieuAA commented on #7909
@deepu105 @jdubois

This is like christmas for me, as when we'll bump the version I'll finally be able to implement multi-application generation.

[2018-07-03 19:47] vcupelloni commented on #7866
@mraible with great pleasure!
Just give me some time to read the guideline ;)

[2018-07-04 00:17] AliAMQ opened #7924 "Unable to update entity type via JDL ("String" to "Enumeration")"
##### **Overview of the issue**

Getting error while updating data type of a data field using JDL ("String" to "Enumeration"):
"The name 'fieldname' is a reserved keyword and can not be used as an entity field name."

##### **Motivation for or Use Case**

I need to update the data type of a data field from "String" to "Enumeration" so I can defined values values for the field.

##### **Reproduce t

[2018-07-04 04:12] AliAMQ commented on #7924
Thank you!

[2018-07-04 06:30] pascalgrimaud commented on #7919
I encounter this, few weeks ago.
For your information, I'm using:
- Node 8.11.3
- Yarn 1.7.0

**Not to do**:
- mkdir app && cd app
- yarn link generator-jhipster
- jhipster + answer questions -> there will be some error during the yarn install, it's hard so see it. So, some sub generator can fail, depending the library which weren't download

An example of output from Microservice:
[code]

Error o

[2018-07-04 07:52] pasqualevitale opened #7925 "Blueprint write phase, ENOENT: no such file or directory"
##### **Overview of the issue**

The bug is related to the usage of implemented blueprint, this case is about spring-controller sub-generator, but it seems the same for the others sub-generator.
When you simply implements:
[code]
during the app generation with this blueprint, in `_writing` is thrown
[code]
The generator tries to open `D:\tests\b-helloworld\generators\spring-controller\templates\sr

[2018-07-04 08:35] PierreBesson commented on #7906
If I remember well, the previous social login feature was only available for session auth which was a problem as it was not compatible with jhipster microservices, so it's logical it was phased out.

[2018-07-04 08:51] jdubois commented on #7919
I got it working using a Yarn nightly build (version 1.9.0-20180627.0947 ) so that's definitely a Yarn bug

[2018-07-04 08:51] deepu105 commented on #7925
This has been fixed in master #7887
Can you please try with master and let me know?
Make sure you are following the process

During development of blueprint, please note the below steps. They are very important.

1. Link your blueprint globally

Note: If you do not want to link the blueprint(step 3) to each project being created, use NPM instead of Yarn as yeoman doesn't seem to fetch globally lin

[2018-07-04 09:05] pawprosk opened #7926 "Lazy loaded modules production failure"
##### **Overview of the issue**

In production mode (monolithic application) version 5.0.1 I found bug related to lazy loaded modules.
I have created (on newly generated application) new module (copy&paste&rename home.component) and added it to app-routing.module.ts

`RouterModule.forRoot(
            [
                ...LAYOUT_ROUTES,
                {
                    path: 'admin',

[2018-07-04 09:37] pascalgrimaud commented on #7925
@deepu105 :
I saw in the logs `D:\tests\b-helloworld\generators\spring-controller\templates\src\main\java\package\web\rest\Resource.java.ejs`

I compared:
- server: https://github.com/jhipster/generator-jhipster/blob/master/generators/server/index.js#L453-L455
- spring-controller: https://github.com/jhipster/generator-jhipster/blob/master/generators/spring-controller/index.js#L106

I didn't apply

[2018-07-04 09:37] vishal423 commented on #7926
possible duplicate of #7798

[2018-07-04 09:54] pasqualevitale commented on #7925
@deepu105, just to confirm the @pascalgrimaud response, also trying with the master "up to date" the problem still happen

[2018-07-04 10:08] pawprosk commented on #7926
Yes indeed is duplicated - sorry for duplicating - tried to find any similarities earlier but different output was described there.

[2018-07-04 11:00] ecostanzi opened #7927 "React - Infinite-scroll loading entities twice after entity update"
##### **Overview of the issue**

If Infinite scroll is enabled on an entity, after I update one of them, the FE loads the list twice after an entity update. The first part of the list contains the old entities, the second part contains the first page, containing the UPDATED entity.

##### **Reproduce the error**

I detected the problem in a production like environment (war file build with ./mvnw -

[2018-07-04 11:33] jdubois commented on #7767
Without service discovery, Hazelcast and Inifispan won't be able to scale. Like Ehcache, which never scales in fact :-)
-> this 3 could only be options for people who do not want to scale their servers, which could be a choice

Then we now have Memcached support, and that would still work everywhere.

[2018-07-04 11:36] jdubois commented on #7739
I spoke yesterday with @cyrille-leclerc and I'd really like this ticket to move forward: @jstrachan I understand that you are based in London, would you be available to make a trip to Paris to one of our monthly JHipster hackathon? There will be @PierreBesson and @pascalgrimaud who are our 2 best experts on this, and I'm pretty sure that would be a very productive day.

[2018-07-04 11:39] deepu105 commented on #7925
@pascalgrimaud oh sorry I didn't realize the fix wasn't on those subs. yes let's do the same as you did for others

[2018-07-04 12:58] chrisdns commented on #7927
It must be related to the fact that when you click the save button on the edit page, you need to scroll down and this is triggering the function that fetches the next page that is causing the bug

That was not expected :sweat_smile:
I'll try to fix that, thank you for reporting the issue

[2018-07-04 14:37] ruddell commented on #7926
Closing as a duplicate, thanks for reporting.

[2018-07-04 14:37] #7926 closed

[2018-07-04 14:42] jdubois commented on #7911
Oh I just saw the CSRF error, and indeed that's a false positive.

I don't have any solution for this, unless we enable the check again. Maybe that could be useful for some people. Of course there should be a small performance hit, and that token could be misleading for some people (who will think it's doing something).

With those new issues I feel that Sonar is going too far, and that makes them

[2018-07-04 15:16] pawprosk commented on #7798
Only for reference I have similar problem with monolith application, everything works fine if there is no other lazy module defined in route - I’m not sure if first „lazy” module is loaded eager by angular thats why it deploys nice and easy - with multiple entities application starts to loading very slow so lazy modules in that situation should help a lot to avoid loading all entities on first pag

[2018-07-04 15:41] mraible commented on #7739
I spent the last couple days trying to get Jenkins X to work with a project that uses the frontend-maven-plugin. I started by importing my project, but since it doesn't have a `package.json` or `pom.xml` in the root directory, it didn't work. I've since figured out how to fix, and the sample Jenkins file you posted @jstrachan will likely be a good help.

Currently, I'm stuck on node-sass installin

[2018-07-04 17:14] AliAMQ commented on #7924
I was a little bit confused because I guess it's fine to use "Enumeration" as data type with the sub-generator:

"Enumeration: A Java Enumeration object. When this **type** is selected, the **sub-generator** will ask you what values you want in your enumeration, and it will create a specific enum class to store them." (https://www.jhipster.tech/creating-an-entity)

[2018-07-04 17:19] GuiF007 opened #7928 "Ci-Cd Jenkins - Frontend tests finally stage does not work : No result on reports !"
##### **Overview of the issue**
Tested on jHipster 5.0.1, on a fresh install and a freshly generated Jenkinfiles.
The "Frontend tests" crashes on Jenkins with the following error :
`ERROR: Aucun des rapports de test ne contient de résultat`

Jenkinsfile :
[code]
(Note that I'm on Windows....)

target\test-results\jest\TESTS-results.xml on my workspace :
[code]

End of the execution :
[code]

#####

[2018-07-04 19:48] pascalgrimaud commented on #7928
Can you post:
- the jhipster info
- the generated Jenkinsfile

The last weeks, I tried to improve the CICD sub gen, so I know I fixed some issue I found. I should do a PR as soon as I fixed the issues I found

[2018-07-04 19:54] pascalgrimaud commented on #7928
And as you are with Windows, not sure this path can work:
`junit '**/target/test-results/jest/TESTS-*.xml'`

[2018-07-04 20:37] rdfrancois commented on #7904
suppose i am ... can i take the job ? :-)

[2018-07-04 22:08] GuiF007 commented on #7928
If it can help, jHipster 5.0.0-beta.3 has the jest-junit package and configuration, but all other versions hasn't this package.

[2018-07-04 22:21] pascalgrimaud commented on #7928
maybe related to https://github.com/jhipster/generator-jhipster/pull/7796 and https://github.com/jhipster/generator-jhipster/pull/7812

I will have a close look on it

[2018-07-04 22:31] pascalgrimaud commented on #7928
I think I understand the issue. See my comment here:
https://github.com/jhipster/generator-jhipster/issues/7834#issuecomment-399574597

We did the change for Sonar, but maybe broke the results for Jenkins.

So the fix would be to keep both results, and point to the correct folder when using Jenkins and / or Sonar

[2018-07-04 22:53] GuiF007 commented on #7928
You're right, it seems you need to keep both format, one for junit and Jenkins, the other for Sonar.

On your comment, the file provided by jest-junit is the same format as the file that karma provides, and it works fine... Completely unable to test right now, maybe I will give a try tomorrow at work.

[2018-07-05 04:31] vishal423 commented on #7798
I had quick look and it's really weird. Even after enabling logs, don't see anything useful that can provide insight into such behavior.

[2018-07-05 05:36] pascalgrimaud commented on #7904
@rdfrancois : thanks but I should PR soon, so you can do the review and test if you want

[2018-07-05 08:34] jdubois commented on #7928
Yes we modified it for Sonar, I didn't know there was an impact on Jenkins!

[2018-07-05 10:25] kkraemer42 opened #7930 "Provide a deployment option for Azure"
##### **Overview of the feature request**

I think it would be nice to have a handy way to deploy Jhipster microservices as container to azure (as already possible for aws using the aws-containers subgenerator).

##### **Motivation for our Use Case**

I am a volunteer at a nonprofit. We are currently redesigning some of our applications and are using the azure nonprofit subscription which allows u

[2018-07-05 13:10] jdubois commented on #7930
We'd love to have this, but unless someone volunteers to do it, it just won't be done by the current team:

- Azure is one of the only cloud providers that do not sponsor us: we have very limited money thanks to https://opencollective.com/generator-jhipster and we are not going to use it to give it to Microsoft. Google, Heroku, CloudFoundry, AWS, etc all give us specific free credits, as we then h

[2018-07-05 20:36] atomfrede opened #7932 "Remove moment.js"
##### **Overview of the feature request**

Moment.js is quite large and I think we should try to get rid of it and provide a smaller alternative. I think day.js seems like a good alternative

##### **Motivation for or Use Case**

Our bundles are quite large and we should keep it as small as possible. With that we can save for angular around 20kb gzipped. (224kb with moment and 3 locales vs 210kb w

[2018-07-05 21:34] sh1973 commented on #7897
Thank you jdubois for your time!

I could not reproduce the issue... just generated a new uaa service, added the custom authorities and it worked fine, even on the same database.

[2018-07-06 10:01] PierreBesson commented on #7932
We should investigate potential replacements:

- [date-fns](https://date-fns.org/) (based on the native JS Date type)
- [jd-joda](https://github.com/js-joda/js-joda) (custom implementation of a date API in JS that map to java 8 date types)
- [dayjs](https://github.com/iamkun/dayjs) (same API as moment)

[2018-07-06 11:51] atomfrede commented on #7932
I would either go with date-fns or dayjs as jd-joda mimics the quite complex java api :) Personally I prefer dayjs as it replaces moment quite easily for many functions and can be extended via plugins.

[2018-07-06 12:38] PierreBesson commented on #7932
Oh and one thing I don't like about moment (or maybe it is a problem about js itself) is that the locale format is not the same as the java one ex "fr-FR" vs "fr_FR", currently composite locale i18n is broken on our backend i18n because of this.

[2018-07-06 13:42] atomfrede commented on #7932
Oh yes I know :)

[2018-07-06 15:59] nward1234 opened #7935 "JHipster 5.0.2 generated Angular is calling REST endpoint to create a record 3 times when Save button is clicked"
##### **Overview of the issue**

JHipster 5.0.2 generated Angular is calling REST endpoint to create a record 3 times when I click the **Save** button on the UI. As a result, 3 records get created rather than just 1 in the DB. The two extra records have all null values other than the ID. It appears that Angular is sending only one request, but the controller method is being invoked multiple times

[2018-07-06 16:42] nward1234 commented on #7935
Actually, it now appears that Angular is not sending the extra requests, but the rest controller `createAddress()` method is getting involved multiple times. I checked the network traffic in the Chrome dev tools window and I see only the one POST as expected. But, I set a breakpoint in the controller method in Eclipse and the method is being invoked multiple times. H

However, it also seems to not

[2018-07-06 17:34] ruddell commented on #7935
Do you have multiple browser windows open to port 9000?  Those windows are controlled by Browser Sync and will synchronize the actions taken (such as submitting a form).

Creating an entity is fully covered by the Travis Protractor tests so it should have been caught there if it was an issue.

[2018-07-06 17:43] jdubois commented on #7935
From what I understand this is not after creating the first record, but after creating a couple of them?

[2018-07-06 17:44] nward1234 commented on #7935
Yes, I do have multiple browser windows open on port 9000 and I just now figured out that this is the issue. The number of extra records created is the number of extra browser windows I have open on port 9000 when using `yarn start`. If I access the web app at `localhost:8080`, no issue and if there is only one browser window on 9000, no issue.

I started an app that I have that used JHipster 4.14

[2018-07-06 17:46] nward1234 commented on #7935
Julien, I wasn't sure before if it happened the first time or not, but now it appears to be consistent every time based on the number of windows open on `localhost:9000`.

[2018-07-06 17:48] jdubois commented on #7935
Oh yes that's BrowserSync. And you probably had something already on port 9000 - in that case we take the next available port.
Anyway, problem solved, and that has been working like that since the very early times of JHipster.

[2018-07-06 17:48] #7935 closed

[2018-07-06 17:49] jdubois commented on #7935
Oh, and that's supposed to be a very cool feature, not a bug :-)

[2018-07-06 17:54] nward1234 commented on #7935
Ah, OK. Thanks.

[2018-07-06 19:50] deepu105 commented on #7935
Yes BrowserSync is a testing feature

Thanks & Regards,
Deepu

On Fri, Jul 6, 2018 at 7:54 PM Nathan Ward <notifications@github.com> wrote:

[2018-07-07 08:38] jdubois commented on #7738
2 weeks later, let me do a quick summary of what happened (or not!):

- We had 10 👍 and 0 👎 so I think everybody agrees here
- I had no news from Sharat Chander, I'm going to try to reach him again through Twitter
- @loydjayme25 as you are the main author here, are you OK with all of this?
- I'm going to reach for a few people to do our "board"

Then concerning all the discussions about the logo n

[2018-07-07 11:09] alaxcc opened #7937 "JHipster5 webpack configure error,can't build"
when run yarn webpack:build,output:
yarn webpack:build v0.21.3
$ yarn run cleanup && yarn run webpack:build:main
yarn run v0.21.3
$ rimraf target/{aot,www}
✨  Done in 0.35s.
yarn run v0.21.3
$ yarn run webpack --config webpack/webpack.dev.js --progress --profile
yarn run v0.21.3
$ node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js
Hash: fe4d1bbb00176c8ff5b2
Version: webpack 4.8.0
T

[2018-07-07 11:34] pascalgrimaud commented on #7937
Use Yarn 1.6.0

[2018-07-07 11:34] #7937 closed

[2018-07-07 11:35] pascalgrimaud commented on #7937
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-07-07 12:19] #7891 closed

[2018-07-07 12:45] binakot opened #7938 "No translations for health checks"
Good day.
Few missing translations on health checks page.

yo-rc.json:

[code]

health.json:

[code]

Screenshot:

<img width="1033" alt="2018-07-07 15 13 29" src="https://user-images.githubusercontent.com/1783893/42411006-92dcc38c-81fc-11e8-8050-07bd883af684.png">

[2018-07-07 14:41] pauloegk commented on #7450
I'm also having the same problem, building an application without jhipster lazy loading works correctly

[2018-07-07 14:52] ruddell commented on #7450
@pauloegk This is being tracked in https://github.com/jhipster/generator-jhipster/issues/7798

[2018-07-07 19:08] pauloegk commented on #7798
Hi everyone, I have the same problem, will this be fixed?

[2018-07-07 19:39] deepu105 commented on #7938
Would you consider doing a PR too add the translation to templates

Thanks & Regards,
Deepu

On Sat, Jul 7, 2018 at 2:45 PM Ivan Muratov <notifications@github.com>
wrote:

[2018-07-07 19:40] deepu105 commented on #7938
Its ok John already did the PR

Thanks & Regards,
Deepu

On Sat, Jul 7, 2018 at 9:38 PM Deepu K Sasidharan <
deepu.k.sasidharan@gmail.com> wrote:

[2018-07-07 19:48] deepu105 commented on #7798
This is being tracked and will be fixed at some point, but cant give a timeline since its OSS and someone needs to find time

[2018-07-07 21:32] brunoborges commented on #7930
Hi @jdubois, as you may know, I am part of the Azure for Java Cloud Developer Advocacy team, and I'd be happy to find ways we can support JHipster.

We recently submitted sponsorship to AdoptOpenJDK with Azure credits, and I'm sure we can find a way to sponsor JHipster too. I just need more details of what is needed.

My email is brborges at microsoft dot com.

[2018-07-07 21:37] jdubois commented on #7930
Hey Bruno, of course I know you!! I'll email you with more details.
To everyone following this thread: this is great news, we'll always be happy to have contributors on Azure support, so don't hesitate to participate.

[2018-07-07 21:48] brunoborges commented on #7930
As to access to Azure resources, a free account should give enough time (12 months) for some free quota in some services, plus free credits (up to $200 during the first 30 days for not-always-free services), enough to build and test the support.

https://azure.microsoft.com/free

But again, happy to help beyond that for sure!

I'll be waiting for your email and then we will follow up.

Cheers mate

[2018-07-08 08:55] binakot commented on #7938
@deepu105 👍
@ruddell Thanks!

[2018-07-08 09:12] binakot commented on #7904
It would be great to support the Docker Swarm deploy.
It's very similar to Docker Compose, but using different terms.
All you need is a slightly different way to write a yaml file and use `docker stack` command set.

[2018-07-08 09:20] binakot commented on #7675
Hey, guys.
Sorry for offtop, but where did you find this syntax that let you to create applications with domain model via JDL?  I cannot find this documentation on official site :(
If I really can generate gateway+uaa+services from one jhl file - it's awesome 😮

[2018-07-08 09:31] binakot commented on #7060
I think most of these requests are around of adding extra fields to already existing User entity.
Few days ago I worked on this problem too. It's a lot of template code.
I found few helpful links: https://stackoverflow.com/questions/36289146/add-attributes-to-user-entity-in-jhipster and https://www.jhipster.tech/tips/022_tip_registering_user_with_additional_information.html

I don't like the idea

[2018-07-08 09:39] binakot commented on #7904
@deepu105 Not quite. K8S is the most powerful and popular solution, but extremely difficult for small teams. My company is using Docker Swarm in production and it's very popular case for similar companies. With a staff of up to 25 people, where 3-5 developers do not make sense to use such a complex solution.

![dhkpj5lwsaay6eo](https://user-images.githubusercontent.com/1783893/42418545-6fd5ea30-82

[2018-07-08 09:52] MathieuAA commented on #7060
@binakot Adding fields to the User entity is an avoidable problem because the User entity is generated during application generation. If you want to add more fields, or to make any kind of modification (adding, modifying, removing things) I suggest you use the "side-by-side" approach.
I see you don't like composing with the User entity, have you thought of using plain' old inheritance?
You create

[2018-07-08 10:32] binakot commented on #7060
@MathieuAA Hmm, just using inheritance is may be the best way. I just need to extend User class and replace all User class using with my child class. I will try to work around this way.

[2018-07-08 14:50] deepu105 commented on #7904
@binakot ok I did some research and you are right [swarm is not dead](https://www.bretfisher.com/is-swarm-dead-answered-by-a-docker-captain/) but docker isn't doing much to keep it alive in terms of new features etc it seems. Anyway I think people like @PierreBesson @srinivasa-vasu @xetys and @pascalgrimaud are best to answer these

[2018-07-08 15:02] binakot commented on #7904
@deepu105 Yes, you are right. Swarm is not so popular and hype as K8S. It's developing slow and passive. In future it will be deprecated and forgotten. But it works and it's enough. Btw we got new release 1.2.9 one month ago.

[2018-07-08 15:56] PierreBesson commented on #7904
I am against supporting docker swarm. We already have so much to do to improve our kubernetes generator, I would much rather support only one docker orchestrator. The main problem is that it takes too long to test a full architecture manually and we still have no automated end 2 end test for kubernetes.

Personally, I have been really disappointed by docker swarm, especially the fallacy that the s

[2018-07-08 19:28] magaton commented on #7904
My vote goes to hashicorp nomad.
It is not complex, it does one thing and does it right.
Plays nicely with consul that jhipster already supports.
And the nicest thing is that it doesnt require docker. It can happily run
fat jars.

On 8 July 2018 at 17:57, Pierre Besson <notifications@github.com> wrote:

[2018-07-08 23:05] #7938 closed

[2018-07-09 00:33] ruddell commented on #7890
I fixed the gateway functionality when using UAA auth in #7939, fixing the localstorage issue mentioned in your second post in #7940

CSRF is handled by the cookie and it looks like it's working.

About refresh tokens- they are handled by the gateway when a token is near expiration in [RefreshTokenFilter.java](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/s

[2018-07-09 05:39] binakot commented on #7904
Okey, guys, thanks for feedback. I couldn't disagree with you.
Btw I will think about to develop a module for Docker Swarm ☕️

[2018-07-09 05:43] vishal423 commented on #7890
@ruddell , regarding CSRF handling, I believe, the pending item was related to passing `X-XSRF-TOKEN` header along with 'XSRF-TOKEN' cookie (angular HttpClient implicitly does this). Can you check if that's also done?

[2018-07-09 05:45] pascalgrimaud commented on #7904
@binakot : cool ! don't hesitate to tweet and mention `@java_hipster` as soon as you release it

[2018-07-09 07:39] Swapnilkumbhar31 opened #7941 "select2 is not a function"
When adding a third party js library like select2, which requires its original js library too.
We are using ng2-select2, which has dependency of select2.full.js and jquery.

Jhipster/Yarn is not attaching the library to element. It is giving following error.

![image](https://user-images.githubusercontent.com/40987435/42436717-928a59bc-8378-11e8-8079-e947a81e7107.png)

We tried adding it in .angul

[2018-07-09 07:55] PierreBesson commented on #7904
@binakot @magaton +1 for a nomad and swarm module. If you want it can be hosted in our [hipster-labs](https://github.com/hipster-labs) sub-organisation.

[2018-07-09 08:22] jdubois commented on #7904
I've also been **very** disappointed by the Docker marketing here, I trusted them and I feel they tricked me.
As far as I'm concerned Docker Swarm is dead, and I'd rather focus on upgrading our Docker Compose configuration files, as they use an older version.

[2018-07-09 08:30] deepu105 commented on #7941
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-07-09 08:30] #7941 closed

[2018-07-09 12:33] sharmaraju352 commented on #7912
Hi, have you reproduced it ? It's been quite some time now.

[2018-07-09 12:47] deepu105 commented on #7912
@sharmaraju352 we are doing this for free in our free time, so it will be done only when it is done.

[2018-07-09 14:30] ruddell commented on #7912
The issue here is that we use two different URL paths for Angular/React on the activate and password-reset pages ([activationEmail.html](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/resources/templates/mail/activationEmail.html.ejs#L16-L22)).  The EJS condition is in the email but the UAA doesn't have a clientFramework so it defaults to the Angula

[2018-07-09 15:55] jdubois commented on #7904
Well, to me that hack looks a lot to what was announced at Dockercon: https://blog.docker.com/2018/06/design-applications-in-docker-desktop/ - maybe it would be worth to compare both
Anyway, this is very popular and we need to improve it, even if it already works great today.

[2018-07-09 16:00] PierreBesson commented on #7904
@jdubois Yes but we know how to do better ejs template imports. And really this "revolutionary feature" from docker looks really underwhelming.

[2018-07-09 16:12] xetys commented on #7890
@ruddell no that's working fine
 btw thanks a lot for the help on this issue here!

About the CSRF stiff, that was somehow strange when I tested it...it didn't work for the few first requests, but later it worked. I also couldn't reproduce it later then. I will try out your two PRs tonight, and if all these points are made, I'll close this issue.

[2018-07-09 16:27] clement26695 opened #7943 "Bug in multiselect when using react and many-to-many relationship"
##### **Overview of the issue**

This bug concern the multi select in react. I created 2 entities, book and author, and a many-to-many relationship between these two entities. When I try to create a book, I can't select the authors I want to associate to this book. I think the error is coming from (not ?) parsing the option id in authorsUpdate (<%= relationshipFieldName %>Update) from string to nu

[2018-07-09 17:54] ivangsa opened #7944 "Support for rich document models for mongodb (embedding and referencing)"
Hi,

I would like to add support for rich documents a relations for mongodb to jhipster

I think it would be easy to add support for both embedded/nested objects and collections as well as references between entities

I've been doing some work but I'm quite new to js development and I'm stuck with debugging some errors and finding my way with mocha tests..

https://github.com/ivangsa/generator-jhi

[2018-07-09 20:51] deepu105 commented on #7943
I thought @agaspardcilia or @chrisdns did something around this to fix an issue. Are these related?

[2018-07-09 20:54] iceddante commented on #7944
I too opened an issue a while back for this. The objection then, which is still relevant with your post, is that these changes would not be compatible with the front-end generation. Not without quite a bit of development and introducing a lot of complexity to front-end templates anyway. I suppose requiring headless generation is one workaround. Creating a separate module to do a NoSQL JDL import i

[2018-07-09 22:40] GuiF007 commented on #7928
@pascalgrimaud, I make it works adding back jest-junit and changing the name of its output file, to not interfere with the one for SonarQube.

One weird thing, with same code, Jenkins shows me a number of tests that changes everybuild... Well...

[2018-07-10 03:46] pascalgrimaud commented on #7928
nice @GuiF007 !
Can you PR plz ?

[2018-07-10 07:12] agaspardcilia commented on #7943
It might be some side effect from my last fix. It shouldn't take long to fix.

[2018-07-10 07:14] agaspardcilia commented on #7943
You seem to have find a fix @clement26695. Would you mind making a PR for it?

[2018-07-10 07:40] anjia0532 opened #7945 "GoogleContainerTools/jib"
##### **Overview of the feature request**

now, jhipster use [`spotify/dockerfile-maven`](https://github.com/spotify/dockerfile-maven) to build docker image.

Jib's Goals

1. Fast - Deploy your changes fast. Jib separates your application into multiple layers, splitting dependencies from classes. Now you don’t have to wait for Docker to rebuild your entire Java application - just deploy the layers

[2018-07-10 08:55] wmarques commented on #7932
I often use `date-fns`, it does the job and doesn't need any webpack config to handle locales so that's a pretty good alternative IMO

[2018-07-10 09:30] wmarques commented on #7798
I can confirm the issue, I'm working on it... But as webpack is output 0 error even in verbose, it's going to be difficult to fix :(

[2018-07-10 10:18] mkysoft opened #7946 "Entity name translation missing for react"
##### **Overview of the issue**

Entity name translation missing for react.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Use v5.0.2 for test. Check src/main/webapp/app/shared/layout/header/menus/entities.tsx file for entity names.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

v5.0.2
##### **JHipster configuration**

##### **Entity confi

[2018-07-10 12:40] GuiF007 commented on #7928
I will, it will be a my first in the generator, but let's try, doesn't seem sooo complicated.

[2018-07-10 13:05] mrts commented on #7708
Istio 1.0 is coming on July 18, maybe it's better to update to 1.0 instead of 0.8? See https://groups.google.com/forum/#!msg/istio-dev/tcDEwvBaTgw/jyziQbrICAAJ

[2018-07-10 13:16] clement26695 commented on #7943
Yeah, sure ! I'll try to do that this afternoon or tomorrow.

[2018-07-10 13:43] wmarques commented on #7798
In fact in development mode it doesn't create another chunk so we also have the issue in dev mode.

[2018-07-10 14:06] wmarques commented on #7798
I created a sample repo to reproduce this: https://github.com/wmarques/jhi-lazy-fail
Just clone it, run yarn build and you will see the issue.
In dev mode it works, you can click on "user-management" and it will lazy load a dumb component I created just to test.
It seems to be related to https://github.com/angular/angular-cli/issues/8865, I'll comment this, hoping they know what is failing...

[2018-07-10 14:51] wmarques commented on #7798
I got something after disabling the `HTMLWebpackPlugin`... Seems to be the cause of the bug

[2018-07-10 15:47] wmarques commented on #7798
FINALLY FIXED THIS 🎉
Had to manually orders chunk in the HTMLWebpackPlugin, I don't know why it was broken, but it works, will provide a PR soon.

[2018-07-10 16:00] #7946 closed

[2018-07-10 16:02] deepu105 commented on #7946
Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-jhipster/issues/new) and
3. our [Help page](http://jhipster.github.io

[2018-07-10 16:29] deepu105 commented on #7925
@pascalgrimaud should I do this or are you already on it?

[2018-07-10 16:32] deepu105 commented on #7925
Also this means the same issue will be present in the spring-service sub as well, also in order to efficiently fix this we need to convert the writing phase to use metadata json similar to server/client

[2018-07-10 16:33] pascalgrimaud commented on #7925
Today, with @PierreBesson, we fixed the jhipster-registry which is currently broken :-( it was our priority

Then, I'd like to finish my CICD subgen before vacations, so I'm a little bit busy.

If you can do it, yes, please.
Otherwise, I'll do it after my PR for CICD

[2018-07-10 16:34] pascalgrimaud commented on #7925
to answer to you, I didn't start this yet, it's just on my todo list

[2018-07-10 16:44] deepu105 commented on #7925
sure, if I manage to find time before you i'll make a comment to let you know that i'm starting

[2018-07-10 16:45] pascalgrimaud commented on #7925
ok, I will do the same

[2018-07-10 19:58] pawprosk commented on #7798
Tested fix - everything works like a charm now - Thank you @wmarques 🥇

[2018-07-10 20:53] #7798 closed

[2018-07-10 20:55] #7943 closed

[2018-07-11 00:04] pauloegk commented on #7798
Thanks @wmarques

[2018-07-11 02:16] liwang9 opened #7951 "how to make the new imported entity with JDL import persistent in Postgres DB"
I am new to use JHipster, After I imported some entities using jhipster import-jdl jdl-file.hl, I can see these entities in the gateway UI, Enities->Blog, for example. But when I click on the entity, A 404 error appears that seems to need "fully authentication". then disappeared.

First question I have, How can I get rid of this error? it apparently needs JWT token to access the api (I used JWT to

[2018-07-11 04:17] pascalgrimaud commented on #7951
For question, please use StackOverFlow, not here as it's a bug tracker.

And as you give 0 information about your configuration, your options, it will be really hard to help.

[2018-07-11 04:17] pascalgrimaud commented on #7951
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-07-11 04:17] #7951 closed

[2018-07-11 06:19] pascalgrimaud commented on #7919
Should we keep this ticket opened ?
Not sure we can do something on our side, unless migrating back to NPM by default.

[2018-07-11 06:47] mkysoft opened #7952 "Enum translation missing for React UI"
##### **Overview of the issue**
Enum value translation missing for React UI.

##### **Motivation for or Use Case**
Enum values used as text on React UI.

##### **Reproduce the error**
Create test entity with enum field.

##### **Related issues**

##### **Suggest a Fix**
Need changes on below files in folder generators/entity-client/templates/react/src/main/webapp/app/entities

- entity.tsx.ejs
- e

[2018-07-11 06:47] pascalgrimaud commented on #7928
I confirm it fixed the issue. One thing I would change is:
- use default output with jest-junit: TESTS-results.xml
- rename the output for Sonar: TESTS-results-sonar.xml (in package.json and in pom.xml)

[2018-07-11 08:33] brunoborges commented on #7930
To get this conversation started, I would appreciate some feedback on how you believe JHipster based apps would be best deployed on Azure, or at the very least, which method you'd prefer to see implemented first.

- [ ] Uber JARs deployed to [Azure App Service](https://azure.microsoft.com/en-us/services/app-service/). App Service compares with platforms like Heroku and AWS Elastic Beanstalk.
- [ ]

[2018-07-11 08:34] deepu105 commented on #7919
Lets close it for now, hoping the next yarn release will fix things, if we
encounter issues again we can see

On Wed, 11 Jul 2018, 8:19 am Pascal Grimaud, <notifications@github.com>
wrote:

[2018-07-11 08:35] #7919 closed

[2018-07-11 08:39] deepu105 commented on #7930
@brunoborges Jhipster can create simple monolith apps and complex microservices hence I think option 1 (azure app service) will fit well for monolith applications and option 3 will fit well for microservice apps, since we already have 3 k8s based deployment flavours

[2018-07-11 08:41] deepu105 commented on #7930
And to answer your question to start with I think it might be easier to do option 1, since it can be modelled after the heroku sub generator

[2018-07-11 08:55] atomfrede commented on #7930
I have seen application insights (pretty impressive) last week during the review of another team. So it would be great to have it configured automatically

[2018-07-11 09:54] agaspardcilia commented on #7952
Indeed, I'll try to fix that today.

[2018-07-11 10:11] brunoborges commented on #7930
@atomfrede do people deploy JHipster apps on Tomcat? If yes, that's easy to configure. If not and the only way is Spring Boot uber jar apps, then the [App Insights Spring Starter](https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-java-applicationinsights?view=azure-java-stable) needs to be added to the project.

But I believe App Insights would go to a Phase 2 thou

[2018-07-11 10:14] brunoborges commented on #7930
@deepu105 ACI is like Fargate. One can get a Docker container up and running with two Azure CLI commands.

[code]

For Kubernetes, since AKS is vanilla managed Kubernetes service, I wonder if there is anything really to be implemented here.

[2018-07-11 10:17] deepu105 commented on #7930
@brunoborges I get your point. Then I guess its best to start with option 1 for now. @PierreBesson what do you think, does this sound ok to you?

[2018-07-11 10:19] deepu105 commented on #7930
@kkraemer42 in the meantime can you see if you can use AKS for your microservice? you should be able to generate all required K8S setup using the Kubernetes sub generator

[2018-07-11 10:19] brunoborges commented on #7930
Back to K8S, any suggestion where I could add a documentation contribution about Azure Kubernetes Service? Perhaps some pointers on how to get an Azure account, and how to create a basic Kubernetes cluster for deploying JHipster app, and then how to set up `kubectl` for that.

[2018-07-11 10:22] deepu105 commented on #7930
We have documentation for [k8s](https://www.jhipster.tech/kubernetes/), [Openshift](https://www.jhipster.tech/openshift/) and so on and maybe we could add a page for Azure as well. You can do a PR to https://github.com/jhipster/jhipster.github.io and refer to the steps in K8S page and then with instructions specific to Azure

[2018-07-11 12:58] PierreBesson commented on #7930
Yes option 1 is a good start. The 1st step is to create a documentation page with instructions for doing a simple monolith deployments. If the setup can be automated similarly to heroku/gae then a subgen can be created.
@brunoborges don't hesitate to do a PR and we will try to help you as much as we can but as was said before, sadly the team can't invest too much time in this.

For kubernetes, wha

[2018-07-11 14:04] kkraemer42 commented on #7930
Hello again,

glad to see that this conversation is so active! @deepu105 thanks for the recommendation, I will definitively try this!

Maybe I can wrap this also, but I do not have any experience with this.

[2018-07-11 15:49] cmcruzata opened #7955 "Cannot resolve symbol(Servicio_) in ServicioQueryService, generated by generator-jhipster 14.4.5"
##### **Overview of the issue**
I enabled filtering on this entity and this error occurred. The parameter Servicio_ is cannot be solved.

##### **Motivation for or Use Case**

This was generated by  generator-jhipster .

##### **Reproduce the error**

Generating the entity enable the filter option.

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

generator-jhipste

[2018-07-11 20:44] GuiF007 commented on #7928
Perfect, I was wondering how to rename files, things done now, let's work now ;)

[2018-07-11 21:22] xsalefter commented on #7955
@cmcruzata See documentation described [here](https://www.jhipster.tech/configuring-ide-eclipse-gradle/) (Configure Eclipse with Gradle), and read section
**2. Add apt generated source folder to build path** .

I just realized that only eclipse+gradle that have documentation about how to add JPA Meta Model. The eclipse+maven documentation page miss this explanation.

If this is true, then this is

[2018-07-11 21:34] sendilkumarn opened #7956 "Blueprint - Entity Generator Issues"
##### **Overview of the issue**

Check out jhipster/jhipster-kotlin#36

##### **Motivation for or Use Case**

##### **Reproduce the error**

Check out jhipster/jhipster-kotlin#36

##### **Related issues**

##### **Suggest a Fix** || **Suggesting what could be the issue**

* Using this [method](https://github.com/jhipster/generator-jhipster/blob/05040a24a9b650ac82d33cf4f16091edfa8d3f21/generators/e

[2018-07-11 21:35] jdubois commented on #7955
For Maven this should be automatically configured with Eclipse, but of course that depends on the IDE (there are many flavors of Eclipse and many ways to misconfigure it)

[2018-07-11 23:57] youssef199400 opened #7958 "Trés urgente probleme"
Mon projet fin d'etude est realisé par le generator-jhipster et j'ai utilisé  pg admin.
Le probleme est :
- je ne peut pas connecter avec le compte admin ansi que les autre compte "user".
-je ne peut pas ajouter des comptes.
Toujour message d'erreur de verification des donnés s'affiche.
Je ne sais pas comment corrige cet erreur et demain la presentation de mon projet.

My project of study is reali

[2018-07-12 00:11] youssef199400 opened #7959 "Big problem connexion DB"
My project of study is realized by the generator-jhipster and I used pg admin.
The problem is :

I can not connect with the admin account and the other account "user".
I can not add accounts.
Always data verification error message is displayed.
I do not know how to correct this error and tomorrow the presentation of my project.

[2018-07-12 01:07] pascalgrimaud commented on #7958
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-07-12 01:07] #7958 closed

[2018-07-12 01:09] pascalgrimaud commented on #7959
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-07-12 01:09] #7959 closed

[2018-07-12 02:56] cmcruzata commented on #7955
I'm using Intellij IDEA 2018.1 and active profile IDE, dev. Wait, wait, it's working after running lifecycle: clean, validate and compile. Thanks for all @jdubois  and @xsalefter

[2018-07-12 05:29] jdubois commented on #7959
I understand this is very important for you but this is no a bug on our side and we have no information to reproduce or test... you cannot connect using "admin/admin"? Maybe you changed the password? You could try to reset it - if your smtp server isn't configured you'll see the mail in the console. You can also find the hashed value of the password in the Liquibase changelog, you can put it back

[2018-07-12 06:58] jdubois commented on #7955
Oh in Intellij you need to click on "enable annotation processors" in the settings

[2018-07-12 09:18] jdubois commented on #7945
It looks good but it won't work with JHipster, it has no support to build the front-end, and it requires a classpath that probably won't work well with Spring Boot (that second point could perhaps be worked out, but not the first one).
So at the moment I don't think we can use it.

[2018-07-12 10:55] mandudeboy opened #7961 "Bootstrap button contrast not compliant with WCAG (not accessible)"
##### **Overview of the issue**

Some of the buttons used throughout the GUI, for example for "view" and "edit" in the entity pages, fail the contrast requirements from WCAG 2.0 level AA.

##### **Motivation for or Use Case**

For anyone using jHipster in projects that have accessibility requirements, the background colours need to be manually modified to comply with regulations.

##### **Reproduc

[2018-07-12 10:59] deepu105 commented on #7961
Can you do aPR with your suggestions?

[2018-07-13 01:33] anjia0532 commented on #7945
yeah, ['could not find or load ${start-class}' when trying this with spring boot pet clinic](https://github.com/GoogleContainerTools/jib/issues/170)

[2018-07-13 08:50] jdubois commented on #7945
Thanks @anjia0532 - jib would be great for us, but it needs to do more than just "hello world" apps :-)

[2018-07-13 08:50] #7945 closed

[2018-07-13 10:44] yatendragoel opened #7965 "Is Node.js Backend on the Roadmap? :)"
##### **Overview of the feature request**
The way we have an option between React and Angular on the frontend side, Is Node.js backend as an alternative option for SpringBoot backend on the roadmap?

##### **Motivation for or Use Case**
React frontend goes hand-in-in with Node.js backend

[2018-07-13 11:33] pascalgrimaud commented on #7965
No, NodeJS as a backend, is not on our roadmap.
But have a look at https://www.jhipster.tech/modules/creating-a-blueprint/

Now, you can code a specific generator for the backend, similar to what is done with Kotlin (see https://github.com/jhipster/jhipster-kotlin)
Don't hesitate to tell us if you decide to start this blueprint. I'm pretty sure you can find people for contributing.

[2018-07-13 11:36] jdubois commented on #7965
Yes, we also have people who want a Java EE, PHP and .NET backend... We just can't do everything, but we welcome and will help people doing those projects.

[2018-07-13 11:36] #7965 closed

[2018-07-13 14:16] GuiF007 commented on #7928
Hum... It seems my fix doesn't work on Windows... `yarn test` gives me the following error :

[code]

If I change to
`        [ 'jest-junit', { output: './target/test-results/jest/TESTS-results.xml' } ]
`
I got both files but still the second error...

[2018-07-13 14:18] pascalgrimaud commented on #7928
let's reopen this ticket, to find a solution

[2018-07-13 14:19] GuiF007 commented on #7928
I'm checking with a fresh project from jhipster, maybe it's my specific project that won't work...

[2018-07-13 14:32] GuiF007 commented on #7928
jhipste

[2018-07-13 14:32] #7928 closed

[2018-07-13 14:40] GuiF007 commented on #7928
I'm sooooo stupid, really stupid, tired on this end of week... I copied stupidly the ejs file of jest.conf.ejs... Well, I forgot to replace BUILD_DIR variable... My bad... End of week, deeplyy 😝

[2018-07-13 16:24] abhinav910 opened #7966 "Swagger UI latest version support (3.17.3)"
##### **Overview of the feature request**

Swagger UI very old version (2.2.10) is used which does not provide the support for Open API

##### **Motivation for or Use Case**

Open API support

[2018-07-13 17:08] pascalgrimaud commented on #7966
I don't remember well why we didn't upgrade but there was a reason.

Ping @cbornet as I'm pretty sure you know the answer :-)

[2018-07-13 17:46] gmarziou commented on #7966
Even if we updated swagger-ui to 3.17.3, you would not get openapi support because it's not supported by springfox.

[2018-07-13 18:51] cbornet commented on #7966
Indeed, Springfox doesn’t support OpenAPI yet. We didn’t migrate to the new UI at the time because there was no easy way to pass the auth token. It seems there are solutions now. But do we want to move to the new UI ? I’m not sure I prefer it over the current one :smile:

[2018-07-13 19:01] deepu105 commented on #7966
Yes, we didn't migrate since the new version lacked some features which
were available in the old version.

Here is the PR where I attempted to upgrade
https://github.com/jhipster/generator-jhipster/pull/5645

But then we cant stay with the old version forever and would have to
upgrade at some point. If someone can revive the PR and fix the outstanding
items it would be great.

Thanks & Regards,
D

[2018-07-14 04:20] sonee123 commented on #5019
Hii,
How to remove Jhi-card for a particular (home.component.html) page from a main.component.html page .
i don't want to Jhi-card on home.component.html page.Please help me!

[2018-07-14 05:19] lutfi198 opened #7967 "React: saving failed when using relationship to Jhipster User"
##### **Overview of the issue**

I am using example from https://github.com/mraible/jhipster5-demo. I used Postgresql for dev and pro. Project with entities are generated successfully.

When I create new Blog and saving, i got this error.

Exception in com.asdev.blog.web.rest.BlogResource.createBlog() with cause = 'java.lang.IllegalStateException: org.hibernate.TransientPropertyValueException: obj

[2018-07-14 05:34] lutfi198 commented on #7967
i tested with 5.0.1, works good too

[2018-07-14 09:12] gmarziou commented on #5019
@sonee123 please don't post questions in our issue tracker.

Please use [gitter](https://gitter.im/jhipster/generator-jhipster) or [stackoverflow](https://stackoverflow.com/questions/tagged/jhipster) for questions

[2018-07-14 11:55] deepu105 commented on #7927
closed via #7934

[2018-07-14 11:55] #7927 closed

[2018-07-14 11:55] deepu105 commented on #7927
@chrisdns plz add the fix #no keyword for autoclose next time

[2018-07-14 11:57] deepu105 commented on #7842
@agaspardcilia please add the fix #no for autoclose next time

[2018-07-14 11:57] #7842 closed

[2018-07-14 12:01] PierreBesson commented on #7966
I am against migrating to swagger UI 3. The UI is awful and does not bring any new features (that I know of). I would rather move to ReDoc to provide API documentation (but the interactive querying is not possible yet).

In the end, we have something that work really well for now. So I'm not so keen on changing things and risk making things worse.

[2018-07-14 16:08] ruddell commented on #7967
I tested with the v5.1.0 and master and couldn't reproduce.  In v5.1.0, there's a role restriction [on getting users from the api](https://github.com/jhipster/jhipster-sample-app/blob/a9b789f832b3bc508721605a66fb72e2e8edd01d/src/main/java/io/github/jhipster/sample/web/rest/UserResource.java#L145) that might be causing you issues (blog page loads the list of users), try removing that line.

[2018-07-14 16:16] jdubois commented on #7967
Please don't cross post: https://stackoverflow.com/q/51335228/150868 - time lost doing this means less time for us to answer, and it's annoying for other users.

[2018-07-14 21:41] octgsoftware commented on #7124
I am running into this with JHipster v5.1.0 with and without translation.

[2018-07-15 02:14] octgsoftware commented on #7124
I was able to get the translations working with the following:

jhipster import-jdl test.jdl --force --skip-ui-grouping --client-root-folder ""

[2018-07-15 03:06] lutfi198 commented on #7967
i found the cause, there are differences between blog-update.tsx generated by 5.1.0 and 5.0.1. The difference that producing the error is

<AvInput id="blog-user" type="hidden" name="user.id" value={this.state.userId} />

5.1.0 did not generated above code. I added the code in 5.1.0 and works perfectly.

[2018-07-15 03:07] lutfi198 commented on #7967
Sorry i click the wrong action button

[2018-07-15 09:11] pascalgrimaud commented on #7925
@deepu105 : I'm starting this, right now

[2018-07-15 12:03] pascalgrimaud commented on #7967
I don't understand.
In your config, you used Angular : `"clientFramework": "angularX"`
And in your last message, you mentionned `blog-update.tsx` which is related to React

[2018-07-15 12:09] pascalgrimaud commented on #7956
@sendilkumarn : recently, with Deepu, we fixed some issues with blueprint. It is released with generator-jhipster 5.1.0, so maybe the kotlin generator must upgrade from 5.0.2 to 5.1.0 ?

[2018-07-15 13:11] lutfi198 commented on #7967
that's the name of my directory. i edited my comment.

[2018-07-15 13:39] #7956 closed

[2018-07-15 13:43] deepu105 commented on #7956
@pascalgrimaud this was a different issue

[2018-07-15 13:48] #7925 closed

[2018-07-15 13:52] deepu105 commented on #7967
cc @agaspardcilia @chrisdns

[2018-07-15 14:19] deepu105 commented on #7956
Well, some healthy competition is good for the project :P

Thanks & Regards,
Deepu

On Sun, Jul 15, 2018 at 2:10 PM Pascal Grimaud <notifications@github.com>
wrote:

[2018-07-15 14:48] ludoo0d0a opened #7974 "Better naming strategy"
##### **Overview of the feature request**

I used a lot [generator-jhipster-db-helper](https://github.com/bastienmichaux/generator-jhipster-db-helper) project, plus a few personal scripts, to help me to map **existing database schema** on JDL or json entities (and then java entities).
Since the project [won't be maintained anymore](https://github.com/bastienmichaux/generator-jhipster-db-helper/iss

[2018-07-16 06:31] #7909 closed

[2018-07-16 06:42] pascalgrimaud commented on #7974
The project [generator-jhipster-db-helper](https://github.com/bastienmichaux/generator-jhipster-db-helper] is perfectly what you need and did the job. Unfortunately, you said the project won't be maintained because of lack of time by the authors.

I saw the ticket https://github.com/bastienmichaux/generator-jhipster-db-helper/issues/59 and it should be very easy to fix it, as it is related to a pa

[2018-07-16 07:12] ludoo0d0a commented on #7974
I understand your point of view. but a simple fix in this helper implies a lot of tests for a lot of scenarii + compatibility with previous version should be kept.
I see this as : "the fluttering of a butterfly's wings can unleash a storm"

And this ticket is just one amongst other limitations.
The idea was to treat the problem at is source.

[2018-07-16 08:12] deepu105 commented on #7909
@MathieuAA its done. I'm not sure what you meant by that this upgrade will help you, coz from what I understand they just return promise now, along with the callbacks they already have, so instead of passing callbacks as arguments now you can pass them as promise.then

[2018-07-16 08:14] deepu105 commented on #7974
@pascalgrimaud is right. I have worked with this part of the generator a lot initially and really complex to maintain, so I wouldn't be interested in making it even more complex at this point.

[2018-07-16 08:19] deepu105 commented on #7974
@ludoo0d0a to add on to it, JHipster was never meant to be used with existing DB, and hence for the core team, this is not reasonable as it adds a lot of maintenance hell. Adding column names alone via JDL might be doable(only via JDL not via entity generator) so if you are willing to contribute that part then maybe we could consider it. Then you would have to convince @MathieuAA to add support fo

[2018-07-16 08:56] MathieuAA commented on #7909
They had callbacks? Funny, didn't find suitable examples of that. I thought they added callbacks & promises in that version

[2018-07-16 08:58] deepu105 commented on #7909
yup they had http://yeoman.io/generator/Generator.html#run

[2018-07-16 09:40] 62mkv opened #7977 "provide clear instructions for users behind corporate proxy"
##### **Overview of the issue**

When trying to create JHipster application by running `jhipster`, the following WARNING occurs:

[code]

I've already set this option, and the command `git ls-remote git://github.com/octocat/Spoon-Knife.git HEAD` is actually passing OK on my laptop, it just takes >75 seconds here and, probably, timeout value is less than that, thus failing the command.

##### **Mot

[2018-07-16 09:49] jdubois commented on #7977
The documentation is at https://www.jhipster.tech/configuring-a-corporate-proxy/

BTW I'm going to remove the Bower part in the documentation, that's obsolete.

If you are being a proxy, you'll probably have trouble with Maven and NPM, so a lot of stuff won't work, but that depends on what you doing in your company. Many companies have internal Maven/NPM mirrors, for example.

[2018-07-16 10:06] depzor opened #7978 "Build failed: mvn clean test sonar:sonar due missing TESTS-results-sonar.xml"
##### **Overview of the issue**

Build failure when running :
mvn clean test sonar:sonar

[ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.4.0.905:sonar (default-cli) on project licenses: Error during parsing of generic test execution report '<project- folder>/target/test-results/jest/TESTS-results-sonar.xml'. Look at the SonarQube documentation to know the expecte

[2018-07-16 11:23] pascalgrimaud commented on #7978
I already fixed this, in my PR: see https://github.com/jhipster/generator-jhipster/pull/7970/files#diff-46af807fe730aba11ead7c88e7e79a31L124

You need to remove this line, in your `pom.xml` as you use microservice and don't have the front part

[2018-07-16 11:35] 62mkv commented on #7977
this documentation does not mention `git config url."https://"` part, by the way. also, proxy environment variables have to be specified as well, at least I could not find another way to get "webdriver-manager update" running. I understand that as JHipster is a mixed soup of all kind of tools, may be it's not exactly our concern here, but as users struggle with this when trying to use JHipster its

[2018-07-16 11:36] deepu105 commented on #7978
closing as there is another ticket to track that PR

[2018-07-16 11:36] #7978 closed

[2018-07-16 11:36] 62mkv commented on #7977
and I still don't understand - why and how is JHipster using "git://" connection to GitHub ? Is it for JHipster Marketplace ?

[2018-07-16 11:40] mxxcx opened #7979 "Infinite loading missing first page"
##### **Overview of the issue**

Using infinite loading when you reach the end of the list and scroll back, the first page is missing, seems to be a react-hipster 0.5.4 error and it didn't happened it 0.5.3. The bellow gif should make it clearer.

https://gyazo.com/77511857f6509b190ad336eb8898b22e

##### **Motivation for or Use Case**

I don't think is the intended behavior, at least it wasn't lik

[2018-07-16 11:41] pascalgrimaud commented on #7977
When using JHipster, we check the git connection:
- https://github.com/jhipster/generator-jhipster/blob/master/generators/app/index.js#L175-L177
- https://github.com/jhipster/generator-jhipster/blob/master/generators/generator-base-private.js#L792-L803

It has been done because, with AngularJS, `bower` needed to pull some repositories in github. Now, with Angular and React, we don't need this, so

[2018-07-16 11:41] jdubois commented on #7977
No that must have also be for Bower, so it should be removed -> do you see my commit above? Could you do a PR to the documentation so it can be improved? We should also link to that page in the error message

[2018-07-16 11:45] deepu105 commented on #7979
could you please follow our guideline :anger:

cc @agaspardcilia

[2018-07-16 11:52] mxxcx commented on #7979
it doesn't happen with all entities, don't see what other info I can give, the gif should explain the issue.

[2018-07-16 12:04] jdubois commented on #7966
Following @PierreBesson advice, I'm closing the ticket

[2018-07-16 12:37] abhinav910 commented on #7966
I guess @deepu105 already did some work for Swagger UI v3. The current UI does not provide the support for Open API json but v3 UI provides the support. I have checked both the version.

I thought jhispter always provide the support for latest version of components. My two cents.

[2018-07-16 13:13] cmoine opened #7980 "Logout doesn't close the session on KeyCloack"
##### **Overview of the issue**

Logout doesn't close the session on KeyCloack. As a result, when we click on "Login" just after a "logout",
Keycloack (probably other OAuth servers as well) re use the previously opened token.

##### **Motivation for or Use Case**

- security issues obviously
- We cannot logout/login to another user, which is quickly very annoying (I need to login to KeyCloack admi

[2018-07-16 13:16] deepu105 commented on #7979
@mxxcx its easy for you to think that the given info is enough (it might be in this particular case) but often we end up wasting time due to a small piece of missing info and that's why we have issue submission guidelines and we expect you to respect them. We built the `jhipster info` command to make it easy for you to provide this. I don't think we are expecting anything unreasonable form the use

[2018-07-16 13:18] deepu105 commented on #7979
@mxxcx also there was some fixes around this area recently from @agaspardcilia so can you please test the current master branch and see if the issue still exists

[2018-07-16 13:24] deepu105 commented on #7966
@abhinav910 as @cbornet highlighted even if we update the UI lib it still wouldn't work since spring fox doesn't support it yet. I think we can do the upgrade once spring fox supports openAPI. Personally, I don't have any issue with the new UI, but it does lack some features compared to the old one.

And we would never support something just coz its new, it needs to be justified as well, in most c

[2018-07-16 13:25] cbornet commented on #7966
@abhinav910 Swagger UI is "just" the front-end part. The lib that generates the OpenAPI/Swagger spec is [Springfox](http://springfox.github.io/springfox/) and it currently doesn't generate OAIv3 specs (see https://github.com/springfox/springfox/issues/2124). As soon as springfox supports OAI, be sure that JHipster will do the upgrade. But for now there's no rush.
Also note that the "API first" opt

[2018-07-16 13:31] mxxcx commented on #7979
From what I see, the issue is in the react-jhipster plugin `loadMoreDataWhenScrolled` function, which you can also see bellow:
https://gyazo.com/a9e45cc2563da12bc09e3cea30f0b393

After 3rd page if there is a 4th page `(links.first === links.last)` false,  it tests `if (incomingData.length === currentData.length)`.

Since current is 40 and incoming is 20 is goes into the `else` and test `if (incomi

[2018-07-16 13:34] agaspardcilia commented on #7979
@deepu105 You must be mistaking me for @chrisdns, I never did anything on pagination.

[2018-07-16 13:35] deepu105 commented on #7979
@mxxcx if you know the root cause can you submit a PR with the fix?

[2018-07-16 13:35] deepu105 commented on #7979
Sorry @agaspardcilia, indeed it was @chrisdns

[2018-07-16 13:40] mxxcx commented on #7979
@deepu105 I can't understand why it was done like this, the naive fix may be to not test `if (incomingData.length === itemsPerPage) { data = incomingData; }` and just concatenate, current data/new data but I think there must be some reason.

[2018-07-16 14:08] pascalgrimaud commented on #7980
Maybe duplicate of https://github.com/jhipster/generator-jhipster/issues/6941 ?

[2018-07-16 14:14] cmoine commented on #7980
Yes, correct, I guess you can close this ticket, sorry for this.

[2018-07-16 14:14] #7980 closed

[2018-07-16 14:48] mraible commented on #6941
I recently learned that Okta doesn’t support OIDC Back-Channel Logout. I did [figure out how to do it using a redirect on the frontend](https://developer.okta.com/blog/2018/06/18/spring-boot-angular-auth-code-flow#logout-with-okta).

[2018-07-16 14:51] chrisdns commented on #7979
I will fix that

[2018-07-16 16:20] gmarziou commented on #7974
Column names in JDL would help also users who are forced to use naming conventions defined by DBAs even for greenfield projects.

[2018-07-16 19:29] ivangsa commented on #7944
Hi

I was offline these days,

I understand that the gui generators were developed for jpa relations

I think it's worth give it a try.. The main purpose is to use it for microservices but once it can generate the backend we can see how the front ends works with it

There is a branch in my forked repo (mongodb-with-relations) with work in progress, there are still some tests that doesn't work

you

[2018-07-16 21:20] #7904 closed

[2018-07-17 05:01] #7977 closed

[2018-07-17 05:08] pascalgrimaud commented on #7974
@gmarziou : do you suggest adding the table-name option to JDL ?
https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/index.js#L51

[2018-07-17 06:05] deepu105 commented on #7974
Table name is already supported by JDL, the suggestion is to add colum names

On Tue, 17 Jul 2018, 7:08 am Pascal Grimaud, <notifications@github.com>
wrote:

[2018-07-17 08:06] delkant opened #7986 "React - id value not present when linking through field on a relationship using JDL -> Entity{fk(field)}"
##### **Overview of the issue**

No id present when updating an entity if the relationship was defined to be linked through field different from default(the ID)
i.e.(using name):
`relationship OneToMany {
  Author{book(name)} to Book{writer(name)}
}`
##### **Motivation for or Use Case**
Updating an existing value on DB.

Server will throw and exception since the id of the relationship(which exists

[2018-07-17 08:14] deepu105 commented on #7986
@agaspardcilia can you check this

[2018-07-17 08:58] palaman commented on #5908
Im dealing with the same issue.
My application:
Monolitic, Mysql, Development. I'm inserting the initial data with csv in Liquibase.

I have tried to run the [jhipster-elasticsearch-reindexer](https://github.com/geraldhumphries/generator-jhipster-elasticsearch-reindexer) but didn't work. I have confirmed this adding a new entity directly with the frontend. This entity it's correctly indexed and se

[2018-07-17 09:08] agaspardcilia commented on #7986
It's supposed to be fixed with #7981. I'll make sure it's working properly tho.

[2018-07-17 18:36] lazzrov commented on #7124
I also have translation issues, but for a monolith. I add new words with translations but they are not found when I use jhiTranslate (not even an error is reported)

[2018-07-18 03:14] xsalefter commented on #7974
@ludoo0d0a another alternative is you fork the generator-jhipster-db-helper and make change for your own project and to support JHipster 5+. Even better, contact the original project owner to add link to your project in readme with words like, " .... if you need use this in JHipster 5+ project, use <link_to_your_project_name> instead .... ".

[2018-07-18 08:38] rahul230691 commented on #6566
I upgraded everything for my project and uninstalled/installed everything couple of time to get this issue fixed, but no luck. On creating component using Angular CLI, getting the following error - "Could not find an NgModule. Use the skip-import option to skip importing in NgModule".
Versions on my system are -  ng --version
Angular CLI: 6.0.8
Node: 8.11.3
OS: win32 x64
Angular: 6.0.9
... animati

[2018-07-18 09:38] deepu105 commented on #7986
@agaspardcilia can you add fix #no for this as well on the ticket

[2018-07-18 11:45] 62mkv opened #7990 "confusing wording in JHipsterConstants"
##### **Overview of the issue**

The code for JHipsterConstants (as generated by monolithic application generator) contains these lines:

[code]
One would expect to either have `SPRING_PROFILE_SWAGGER` *enable* Swagger, or have it called `SPRING_PROFILE_NO_SWAGGER`

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

depends on th

[2018-07-18 12:20] jdubois commented on #7990
Yes indeed -> by default you have "swagger", and with "no-swagger" you remove it

[2018-07-18 13:40] deepu105 commented on #7990
@62mkv would you like to do a PR to correct it?

[2018-07-18 13:43] 62mkv commented on #7990
I guess that @jdubois has different suggestion in mind. Judging by his comment

[2018-07-18 14:58] 62mkv commented on #7990
wth I have no idea I was closing this

[2018-07-18 15:16] ssc-hrep3 opened #7992 "JWT in JHipster: Improve security by supporting protection against token sidejacking (XSS)"
##### **Overview of the feature request**

For securing the application, JHipster supports an authentication with JSON Web Tokens (JWT). Those tokens are currently provided by a TokenProvider in Java and then sent to the Angular front-end. The front-end then stores the token either in the session storage or the local storage.

The session storage as well as the local storage allow direct access to

[2018-07-18 17:01] ssc-hrep3 commented on #7992
By having a short life, the security vulnerability of JWT tokens in this implementation, gets limited, but not removed at all. We are planning to allow our user base to use the remember-me feature. Then, the (jHipster-default) time period, in which the token can be used by an attacker, is up to a month.

As you've mentioned, the usability is also an issue, when the users get logged out too often.

[2018-07-18 17:21] gmarziou commented on #7992
@ssc-hrep3 I think it's a good improvement, it should be the default behavior IMO even if it should be configurable in case your API has to be consumed only by non browser clients.

I'm not worried about session stickiness as there's no session server-side in this approach and as long as cookie domain is correctly it should be fine.

[2018-07-18 18:15] furtivusMaj commented on #3533
Thank you so much for this thread @Meriem19  and @jdubois
jhipster --force --with-entities
worked just fine with me after hours of regenerating projects and trying to find a solution. :smile:

[2018-07-18 19:24] jdubois commented on #3533
@furtivusMaj may the --force be with you!

[2018-07-18 19:51] cbornet commented on #7992
For microservices I guess it shall only be done on the gateway

[2018-07-19 02:18] vishal423 commented on #7992
I think we already use HttpOnly cookie to store JWT token in case of
microservices (at least I am sure of its use with UAA) and CSRF check is
enabled on gateway.

On Thu 19 Jul, 2018, 1:22 AM Christophe Bornet, <notifications@github.com>
wrote:

[2018-07-19 03:32] abiton opened #7994 "Server side application generation should not include webapp and other files"
##### **Overview of the issue**

I use `jhipster server` to generate a server side application, but get webapp and other pages, js files, which should not be here.

I use `jhipster import-jdl <some.jh> for the above project, the generator try to generate some page file and get a error:
[code]
##### **Motivation for or Use Case**

server-side app just for rest-api

##### **Reproduce the error**

##

[2018-07-19 03:40] GuiF007 opened #7995 "Add a defined name on unique constraint and OneToOne relationship on liquibase changelogs."
##### **Overview of the feature request**

All unique constraints should have a defined name in liquibase changelogs.

##### **Motivation for or Use Case**

I had the case I needed to remove a OneToOne between two relationship. So I created a change on liquibase and I was completely unable to remove this relationship when unit testing because H2 and Oracle give different default name. We fixed tha

[2018-07-19 03:42] GuiF007 commented on #7995
I can try to do a PR on this if you think it's necessary.

[2018-07-19 07:30] chrisdns commented on #7979
@mxxcx would you mind testing out this pull request ? There are also some changes in react-jhipster lib

[2018-07-19 08:14] jdubois commented on #7995
That's a good idea indeed - but I'm not sure how you can have a unique name that you can reproduce (there can be several relationships for 2 entities, for example)

[2018-07-19 08:15] ecostanzi commented on #7994
Hi abiton! Did you try to use the skipClient for you jdl entities?
https://github.com/jhipster/generator-jhipster/issues/7327

[2018-07-19 08:57] deepu105 commented on #7992
Another reason why we store the jwt is for Swagger client, so whatever
improvement is done should work with swagger client as well

On Thu, 19 Jul 2018, 4:18 am Vishal Mahajan, <notifications@github.com>
wrote:

[2018-07-19 08:59] deepu105 commented on #7994
@abiton I suggest you use `jhipster --skip-client` rather than using `jhipster server` directly, since its for very advanced users who know how jhipster subs work. As @ecostanzi suggested in this case since you used `jhipster server` you need to pass `--skip-client` flag for other sub gens

[2018-07-19 08:59] #7994 closed

[2018-07-19 09:00] deepu105 commented on #7994
I think i'm gonna remove docs for direct usage of these subs as its better to use the flags

[2018-07-19 09:19] deepu105 commented on #7995
The only way to reproduce would be to save it in the entity config json file

On Thu, 19 Jul 2018, 10:14 am Julien Dubois, <notifications@github.com>
wrote:

[2018-07-19 10:11] GuiF007 commented on #7995
The idea is just to add `uniqueConstraintName="ux_*entityName*_*columnName*"` in the generated liquibase file. I don't understand why I need to save the name ?!

[2018-07-19 10:16] jdubois commented on #7995
Indeed, I might have said something stupid here.

[2018-07-19 10:52] brunnels commented on #7112
looks like customization to the .jhipster entity json and blueprint is the way forward with this.  I'm working on something if anyone wants to help.

[2018-07-19 10:55] deepu105 commented on #7112
@brunnels yes that would be a great start

[2018-07-19 11:14] Tonterias opened #7996 "JDL import gives weird answers to an error"
##### **Overview of the issue**
I do not think notificationReazon is a reserved word. I was trying to spot another problem so I paste only part of the JDL file. The real reason is that the notificationReason Enum was not included.

D:\BasuraTemporal\Borrar\BOOTSRAP\JHispter\JHipsterPress04>yo jhipster:import-jdl ./src/main/scripts/redux.jh
The JDL is being parsed.
Error: The name 'notificationReas

[2018-07-19 11:44] MathieuAA commented on #7996
Hi, I'm gonna check that.

[2018-07-19 12:07] yelhouti commented on #7112
@brunnels I can help, but first I think we should work on  repo like, this: https://github.com/yelhouti/jhipster-composite-key
to show how we expect the final result to be.
Once we agree  we code the blueprint.
Also, I think that at the same time we could work on Ids, with different type (ex: String...)
You can contact me on gitter to be more efficient.

[2018-07-19 12:13] MathieuAA commented on #7112
Such an interesting feature, good luck guys! I'll be sure to update the JDL once this is done. One question though, why a blueprint? 

[2018-07-19 12:17] yelhouti commented on #7112
@MathieuAA I agree, I would prefer having this in the main project.

[2018-07-19 12:20] MathieuAA commented on #7112
Unless I'm wrong about blueprints (which I may be), this should be on the main project as this is a "small thing". Not to minimize the impact of the work, but I don't see how this can't be in the main project... Or a module at least.Le 19 juil. 2018 14:17, yelhouti <notifications@github.com> a écrit :@MathieuAA I agree, I would prefer having this in the main project.

—You are receiving this becau

[2018-07-19 12:42] yelhouti commented on #7112
If we want end to end support (JDL -> .json -> code) support, we indeed must have this in the main project, or else we would have to modify json manually...

[2018-07-19 12:42] deepu105 commented on #7112
@MathieuAA the problem is this is a PITA to maintain as it will complicate the templates, especially the angular and react ones a lot and I think its better to start as a blueprint. If the blueprint becomes popular we can always integrate it into generator. But for now we have enough complexity IMO

[2018-07-19 13:05] MathieuAA commented on #7112
Exactly. I have an idea for this. Le 19 juil. 2018 14:42, yelhouti <notifications@github.com> a écrit :If we want end to end support (JDL -> .json -> code) support, we indeed must have this in the main project, or else we would have to modify json manually...

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-19 13:13] yelhouti commented on #7112
@deepu105 I understand your hesitation, the problem is that if we don't have JDL support it would a PITA for all the users to use it.  Also I don't think the fornt end will get complicated as it's equivalent of DTOs...

[2018-07-19 13:14] yelhouti commented on #7112
@MathieuAA could you check the gitter example please: https://gitter.im/jhipster/generator-jhipster

[2018-07-19 13:35] Simsal opened #7997 "Using h2db in prod profile breaks after upgrade to jhipster 5.1.0"
##### **Overview of the issue**

Using h2db in prod profile breaks after upgrade to jhipster 5.1.0 (was runable in 4.x)

Error message:

##### **Motivation for or Use Case**

I don't really have the need for a db and so using h2db as a file on my prod system was suitable. After upgrading my application from 4.x to 5.1.0 the prod package breaks.

##### **Reproduce the error**

1. generate new jhips

[2018-07-19 13:38] jdubois commented on #7997
We don't support H2 in prod profile, so there's no guarantee this should work from our side.
But yes I already saw this issue, I think the driver was left by mistake in 4.x, and now we remove it in 5.x. That's supposed to be an improvement, as people normally don't need this :-)
You should just put the driver back in your pom.xml.
And of course I don't recommend at all to do this in production!

[2018-07-19 13:38] #7997 closed

[2018-07-19 13:51] MathieuAA commented on #7112
Almost good enough for me... But if it's a blueprint, I need to find a way to support what the blueprint enables.For instance, if a user doesn't use the blueprint, how can I know that the being-parsed JDL is valid and doesn't use something only logical and accepted for a blueprint?I have an idea about that, but this needs testing.

[2018-07-19 13:56] Simsal commented on #7997
Thank you mate 👍
put the driver back in and now it works again

[2018-07-19 13:58] jdubois commented on #7997
Awesome :-)

[2018-07-19 14:02] luisRubiera opened #7998 "TypeError: this.http.get(...).map is not a function in *new entity service with date attribute*"
##### **Overview of the issue**
`yarn run webpack:test` fails on services that have a `.map` in the response . with the following error :
[code]

##### **Motivation for or Use Case**

i want to be able to generate entities and then never touch the generated code and use it in extended classes, to correct this i have to modify the test and this does not respect the constraint (as it is a best pract

[2018-07-19 14:41] ruddell commented on #7998
The code in your error message is from an entity generated with `generator-jhipster` version `<= v5.0.1`, in `>=v5.0.2` it has a call to `pipe` around the call to `map` ([see v5.0.2 template](https://github.com/jhipster/generator-jhipster/blob/v5.0.2/generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs#L67)).  Make sure when you run the `entity` generator i

[2018-07-19 14:52] luisRubiera commented on #7998
thanks for the answer, is there anyway to upgrade the generators generated code or we have to rollback?

[2018-07-19 14:54] MathieuAA commented on #7996
Is it the same thing? If so, it's already available in the master branch of the generator. Thanks Jon

[2018-07-19 15:02] ruddell commented on #7998
The `upgrade` generator should upgrade your entities along with your project.  You can also manually upgrade your entity's generated code by re-generating the entity.

Here's an example upgrade from v5.0.2 -> v5.1.0 using `jhipster upgrade`: https://github.com/ruddell/jhipster-examples/commit/bc942df68ac7f62d9f240115e018afbab8a39dd8#diff-d8e8adb6035ee8b7b2b11d0c471cfe22

[2018-07-19 15:07] vspdontukurthi commented on #3323
Just add below snippet at application.yml where located at gatway-ms that works perfect

ribbon:
    eureka:
        enabled: true
    connection-timeout: 3000
    ReadTimeout: 60000
# See http://cloud.spring.io/spring-cloud-netflix/spring-cloud-netflix.html
zuul: # those values must be configured depending on the application specific needs
    host:
        max-total-connections: 5000
        max

[2018-07-19 15:12] ruddell commented on #7996
Yep, same issue as https://github.com/jhipster/generator-jhipster/issues/7924 and https://github.com/jhipster/generator-jhipster/issues/7861

[2018-07-19 15:49] erikyuzwa opened #7999 "strategies and suggestions for SPA and SEO"
##### **Overview of the issue**

While I understand from the outset that my issue is very likely NOT a jHipster issue, I'm not sure which domain it's actually in. And I'm pretty sure that if other jHipster users have to consider SEO at some point then they'd have come across the same challenges. I was hoping to just hear any suggestions or strategies that the jHipster community pursues for such a

[2018-07-19 17:18] deepu105 commented on #7999
As you said this is not a JHipster issue, its an SPA issue in general. I'm happy to consider this a feature request if someone has a solution. I for one don't have any solution for this at the moment.

[2018-07-19 17:43] jdubois commented on #7999
I've done this for 2 different clients, and I've been willing to implement this in OSS for a long time, but I would need a couple of days for this (which I don't have). I'll try to explain what should be done, at least.

[2018-07-19 18:46] globtroter commented on #6447
I have the same issue. Usage org.gradle.daemon=false in gradle.properties helps me but I don't know why

[2018-07-19 19:09] atomfrede commented on #6447
Please don't comment on sooo old issues, if you think you have found a jhipster bug, please provide a new issue following the guidelines, such we can help you.

[2018-07-19 19:12] atomfrede commented on #7888
Did you check what maven is doing? I think I build it the same as in maven :thinking:

[2018-07-19 19:14] ivangsa commented on #7944
Hi

this work is already in progress, there is plenty of work and testing to be done
if you want to join you can try it following these steps

`git clone https://github.com/ivangsa/jhipster-core.git`
`git clone https://github.com/ivangsa/generator-jhipster.git`

`cd jhipster-core`
`git co mongodb-with-relations`
`yarn link`

`cd ../generator-jhipster`
`git co mongodb-with-relations`
`yarn link jhi

[2018-07-19 21:36] erikyuzwa commented on #7999
same here @deepu105 - too specific of an issue depending upon each environment to make a sane feature request. Thanks regardless.

@jdubois - I would love to hear any tidbits you can share, or advice on the approach you went with. I've done this for clients on regular architectures, but I've never looked at this before now on the SPA side of things..

[2018-07-19 21:47] JazzBrotha commented on #7961
I'll grab this one if it's ok?

[2018-07-20 06:38] nagarajasr opened #8002 "App generation with --skip-server fails with "TypeError: Cannot read property 'toLowerCase' of undefined""
##### **Overview of the issue**

i am trying to generate a jhipster app with "--skip-server" option (server was generated separately). but the generator fails with a TypeError as shown below:

[code]
##### **Motivation for or Use Case**

i am unable to generate an app with --skip-server option

##### **Reproduce the error**

see above
##### **Related issues**

search did not reveal any similar iss

[2018-07-20 07:17] nagarajasr commented on #8002
when i run ```yo jhipster:client --db xxxxxx --jhi-prefix zzz --npm --auth uaa```, i get an error saying ```ERROR! when using --auth uaa, a UAA basename must be provided with --uaa-base-name```
after adding the "--uaa-base-name" option, the app gets generated.
"jhipster app --help" does not indicate that uaa-base-name option must be specified
also, elsewhere i read that yo jhipster:server was mean

[2018-07-20 08:20] co5dt opened #8004 "'Typical europaen' characters in login regex"
##### **Overview of the issue**

Login with Google is failing when Jhipster app is created with social login, in this case with Google. This happens when the Google user has 'typical europaen' characters in their name. For example, a person called Wilhelm Weiß will always fail, as jhipster will try to create a user with login _wilhelm_weiß_ .

##### **Motivation for or Use Case**

People with spec

[2018-07-20 08:29] co5dt commented on #8004
I'd love to push my changes and have read and followed the [guidlines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), yet I currently receive:

[code]

My suggested change in generators/server/templates/src/main/java/package/config/Constants.java.ejs:

<     public static final String LOGIN_REGEX = "^[_.@A-Za-z0-9-]*$";
---

Sorry, I my first attempt in submitting a f

[2018-07-20 09:30] jdubois commented on #7961
Oh yes @JazzBrotha please do, thanks!

[2018-07-20 09:31] jdubois commented on #7961
@JazzBrotha I'm adding you to a project team so the ticket can be assigned to you

[2018-07-20 09:34] jdubois commented on #7944
@ivangsa great to see this going forward, this was requested by so many people! I'll tweet about this to try to attract more contributors

[2018-07-20 09:59] jdubois commented on #7999
Here's a quick summary of what needs to be done - I'll try do it at some point, but if anybody wants to volunteer he's most welcome.

- For both Angular and React, switch the router to use HTML5 pushstate (that means no more hashbangs in the URL).
- On the server side, create a Spring MVC controller that redirect all trafic coming from the Angular/React URLs to the "/" page.

The difficult part is

[2018-07-20 11:40] pascalgrimaud commented on #7911
@jdubois : so what should we do for the CSRF error ? Should we add to ignore list the rule https://sonarcloud.io/coding_rules?open=squid%3AS4502&rule_key=squid%3AS4502 ?

[2018-07-20 11:41] PierreBesson commented on #7944
@jdubois Maybe we could offer a reward for people who help on this feature as we discussed before on the mailing list about the "bug bounty" program.

[2018-07-20 11:41] pascalgrimaud commented on #7961
done @JazzBrotha

[2018-07-20 11:47] pascalgrimaud commented on #8004
@co5dt : to contribute to JHipster
- first, fork the project -> https://github.com/jhipster/generator-jhipster/fork
- then clone on your local your fork: https://github.com/co5dt/generator-jhipster
- add remote upstream: `git remote add upstream https://github.com/jhipster/generator-jhipster`
- create a new branch in local, before doing some change
- once it's finished, push to your fork on github

[2018-07-20 12:06] atomfrede commented on #8004
@pascalgrimaud , it's pull request, not merge request (we're not on gitlab :-D)

But @co5dt follow what @pascalgrimaud wrote and you will be able to contribute. You can also have a look at our contribution guidelines: https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup

[2018-07-20 12:48] jdubois commented on #7911
Yes @pascalgrimaud we should ignore it: for JWT tokens we are not subject to CSRF attack (we are vulnerable to XSS, not CSRF). As we have no session at all, that's not possible to have such an attack. I even tested it, to be totally sure, and my attack failed.

[2018-07-20 14:11] pascalgrimaud commented on #7911
Ok, I will do another PR tonight for this, so we can close this ticket

[2018-07-20 14:21] jdubois commented on #7117
Not sure if everything is done, but v5 is out for some time and the current documentation is good enough for me, let's close this

[2018-07-20 14:21] #7117 closed

[2018-07-20 17:50] #7990 closed

[2018-07-20 19:48] vishal423 commented on #7890
I believe my last PR should cover the remaining part. `X-XSRF-TOKEN` header is added by default by axios just like angular, so, no specific handling required.

[2018-07-20 22:13] abhisheksharma85 commented on #6450
Can someone please guide me or share any resource on how to achieve microservice to microservice calls.

I have 3 microservices where sometime I need to call each other as well as a call to gateway to get user-details.

I am so lost

I m using jhipster with jwt

Looking for jhipster + FeignClient. I don't want to hard code any url or IP addresses.. I want to get host and ip using Eureka also want

[2018-07-21 02:48] pascalgrimaud commented on #6450
@abhisheksharma85 :
read this ticket closely and this https://github.com/jhipster/generator-jhipster/issues/3649 too
You have all answers there.

[2018-07-21 09:27] DjihadBengati opened #8007 "ERROR in multi (webpack)-dev-server/client?http://localhost:8080 ./src"
I am using the version 5.1.0 of JHipster and i get this error when I'm launching the 'yarn start' command.

##### **Overview of the issue**

WARNING in configuration
The 'mode' option has not been set, webpack will fallback to 'production' for this value. Set 'mode' option to 'development' or 'production' to enable defaults for each environment.
You can also set it to 'none' to disable any default

[2018-07-21 09:50] pascalgrimaud commented on #8007
can you try to upgrade Yarn ?
yarn 0.27 is too old

[2018-07-21 10:03] philippludwig commented on #6566
Can confirm this issue, generating components is broken with 6.0.8.

[2018-07-21 14:29] #7911 closed

[2018-07-21 20:29] DjihadBengati commented on #8007
Great thank you ! it works (*_*)

[2018-07-21 20:29] #8007 closed

[2018-07-22 08:20] mxxcx commented on #7979
@chrisdns Why something as simple as this won't do it?
https://gyazo.com/2590d6249ca8ec251b065eccf94b896b

[2018-07-22 13:18] DanielFran commented on #7112
@brunnels @ yelhouti I can help also if needed.

[2018-07-22 13:21] yelhouti commented on #7112
@DanielFran I'll invite ou on gitter

[2018-07-22 15:52] azizkhani opened #8010 "Remove EntityDeletePopupComponent"
One of my idea is decrease codes and make Jhipster simpler  . I think we can remove this code and move delete method to EntityComponent like UserMgmtComponent
What is your idea about change this and remove 30 line of code ?

change code of deletion of entity to like user-management

remove this code
[code]

and add this code to

[code]

and change html like this

[code]
to

[code]

[2018-07-22 16:32] xmeng1 commented on #6858
@Ederagp  method works, exclude the h2 file which lead to this issue (after connect to H2, the file in this folder change and after check this change, the devtools restart the server)
[code]

[2018-07-22 18:59] deepu105 commented on #8010
Sorry, I dont think its needed at this point. And I would rather have this as a component with or without route.

[2018-07-22 18:59] #8010 closed

[2018-07-23 06:49] javadev opened #8012 "Error: MomentLocalesPlugin: Moment.js doesn't include a locale you specified: ua. Check the plugins `localesToKeep` option"
##### **Overview of the issue**

I generated jhipster 5.1.0 + react application and can not build it on my pc.

[code]

##### **Motivation for or Use Case**

I think it happened because of my locale ua.

##### **Reproduce the error**

Generate jhipster 5.1.0 + react application. Setup locale ua. Try to build war file.

##### **Related issues**

https://github.com/moment/moment/issues/2979

##### *

[2018-07-23 07:40] javadev commented on #8012
I solved this issue.

![screenshot_54](https://user-images.githubusercontent.com/348496/43063539-68c41dfe-8e5c-11e8-9fe3-0c7340831f93.png)

[2018-07-23 07:51] chrisdns commented on #7979
@mxxcx check out the react-jhipster lib, i have created a pull request with your requested changes, but this would not work with the generator code as is with the delete/edit/create stuff, that's why i made some other changes on the generator to manage this. I was trying to do it all in loadMoreDataWhenScrolled but that was not the solution, now it should be good

[2018-07-23 10:53] tonny008 commented on #5558
Angular cli not working in the latest version. which is v5.1.0

[2018-07-23 11:59] mxxcx commented on #7979
@chrisdns looks good

[2018-07-23 11:59] #7979 closed

[2018-07-23 14:44] vsomasvr commented on #7810
The following is what I find
**jHipster** **v <5** was using **Elasticsearch** **v 2.x** which had support for Elasticsearch in embedded mode (that's the reason we didn't need an instance of Elasticsearch running outside.)
With **jHipster** **v >= 5** the **Elasticsearch** has been upgraded to **v 5.x** (as a part of upgrade to **spring-boot** **2.x**) which dropped embedded Elasticsearch, so it n

[2018-07-23 18:55] AlexandreCassagne opened #8014 "Gateway Incorrectly Reports UAA's Error Status"
##### **Overview of the issue**
When calling UAA, the translated exceptions from a login 'bad request' are converted to status 500, when routed through the gateway.

<img width="1070" alt="500_should_be_400" src="https://user-images.githubusercontent.com/541043/43096453-2999a9d4-8e87-11e8-9ae4-f9e672943c58.png">

As you can see above, in postman, the request's status code is 500, and in the body o

[2018-07-23 22:06] PierreBesson commented on #5558
Yes this has also been reported to me. But @tonny008 please open a new issue.

[2018-07-24 03:21] hfye commented on #5545
When I create UAA server with other name, i.e, MY_UAA. The gateway failed to discover and connect to the UAA server with exception:

ava.lang.IllegalStateException: Request URI does not contain a valid hostname: http://my_uaa/oauth/token

[2018-07-24 03:40] ruddell commented on #5545
@hfye See #8015 and the linked issue

[2018-07-24 07:40] agaspardcilia commented on #7873
@PierreBesson Yeah, it's not working on firefox as you mentioned. I've found a simple css fix that works, but it messes a lot with what's behind the modal.
The fix is:
[code]
but I wouldn't recommend using it.

[2018-07-24 08:06] deepu105 commented on #7873
Is there any other workaround for Mozilla?

Thanks & Regards,
Deepu

On Tue, Jul 24, 2018 at 9:40 AM Alexandre GC. <notifications@github.com>
wrote:

[2018-07-24 09:37] sukantaa opened #8017 "Angular 6 Config Not working"
I am using spring boot 2 with angular js 6. I have added one component, html and router under Admin and added the route in the nav-bar html but I am getting following error
core.js?09c9:1601 ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'children' of undefined
TypeError: Cannot read property 'children' of undefined
    at copyConfig (router.js?6580:581)
    at Array.map (<ano

[2018-07-24 10:08] PierreBesson commented on #7873
Well there should be a solution, as with the reactstrap's `autofocus` (eg. in [jhipster-sample-react](https://github.com/jhipster/jhipster-sample-app-react/blob/master/src/main/webapp/app/modules/login/login-modal.tsx#L47)) it seems to work fine. But the solution might be complex. Ultimately the property will be implemented in firefox I'm sure.

[2018-07-24 11:32] PierreBesson commented on #8017
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-07-24 11:32] #8017 closed

[2018-07-24 11:40] PierreBesson commented on #8012
@javadev Could you submit a PR to fix this, so that other Ukrainian users won't have the bug. Maybe we can patch this method: https://github.com/jhipster/generator-jhipster/blob/d237bd8a56521826482c0c28f3679bfaa4f7b169/generators/generator-base-private.js#L269

Or maybe the *UA* locale should be renamed *UK* ?

[2018-07-24 12:12] javadev commented on #8012
@PierreBesson I found this bug only for React not for Angular.

[2018-07-24 12:32] Tcharl opened #8018 "OAuth and liquibase lead to referentialintegrity exception when upgrade"
##### **Overview of the issue**

When running ./mvnw liquibase:diff on an oauth project lead to the generation of a constraint between users and authorities (the user_authorities file).

But, as the users do not exist in the database, this lead to a referentialintegrity exception at startup.

Before PRing, I wanted to know why there is a user.csv file while using oauth: aren't they automatically a

[2018-07-24 13:59] mraible commented on #8018
The authorities table should be pre-populated because JHipster hard-codes the ROLE_ADMIN and ROLE_USER values in the UI code. If you’re saying the certain usernames to certain roles is also pre-populated, that’s probably not necessary for OAuth.

[2018-07-24 14:01] jiangzhixiao commented on #7112
i think this is great feature

[2018-07-24 14:07] ruddell commented on #7873
FYI there are two related issues in the ng-bootstrap repository
https://github.com/ng-bootstrap/ng-bootstrap/issues/938
https://github.com/ng-bootstrap/ng-bootstrap/issues/1776

[2018-07-24 15:49] vishal423 commented on #7873
Did anyone tried last solution in #1776 to check if that solves issue seen here?

[2018-07-24 17:03] mikeyfreake commented on #2101
In particular, the field that needs to be updated in `.yo-rc.json` is this:
`"searchEngine": "elasticsearch"`
to this:
`"searchEngine": false`

[2018-07-24 18:47] Tcharl commented on #8018
@mraible,

Yes, for the authority table it is sure that it should be persisted (for now), but I don't see the point on the actual user.csv nor the user_authorities.csv in the oauth context.
I just wanted to be sure that these rows aren't used anywhere

[2018-07-25 06:32] JazzBrotha commented on #7961
I have discovered that there is also a color contrast issue with the generated bootstrap navbar, The link text color does not have sufficient contrast to the navbar background color. Do you want me to fix this in the same branch or do you want a separate GitHub issue for this?

[2018-07-25 08:14] deepu105 commented on #7961
You can do in same branch

Thanks & Regards,
Deepu

On Wed, Jul 25, 2018 at 8:32 AM Mattias Östblom <notifications@github.com>
wrote:

[2018-07-25 14:24] RothAndrew opened #8021 "Incorrect casing is used for gateway service urls when using JHipster entity generator in Microservice Mode"
##### **Overview of the issue**

Generating an entity in a Microservice Gateway using `jhipster entity [entityName]`, and selecting `Yes` when asked "Do you want to generate this entity from an existing microservice?" uses the wrong alpha-casing for the `resourceUrl` and `resourceSearchUrl` (if elasticsearch is turned on).

Note: This may only be the case when using **Consul**. I have not tested a

[2018-07-25 14:33] RothAndrew commented on #8021
Screenshots for posterity...

![image](https://user-images.githubusercontent.com/16000938/43207324-ced4a704-8ff5-11e8-8340-c5e0ca476732.png)

![image](https://user-images.githubusercontent.com/16000938/43207392-0163603e-8ff6-11e8-8546-cc4e51e04ab8.png)

![image](https://user-images.githubusercontent.com/16000938/43207467-294ab30e-8ff6-11e8-8c98-1ef66100c87a.png)

[2018-07-25 14:43] RothAndrew commented on #8021
Alternative solution that may be preferable depending on requirements is to automatically do a `toLowerCase` on Microservice Apps when generating them. Changing TestApi's `spring.application.name` property to `testapi` in application.yml fixed the issue as well.

[2018-07-25 18:58] pascalgrimaud commented on #8012
I confirm the issue.

Currently, we don't have the issue with Angular because the dependency `moment-locales-webpack-plugin` is different between Angular and React

For Angular:
- moment-locales-webpack-plugin: 1.0.5

For React:
- moment-locales-webpack-plugin: 1.0.7

Downgrading the `moment-locales-webpack-plugin` dependency in React to use the version `1.0.5`  works.

[2018-07-26 08:07] PierreBesson commented on #8021
I'm not sure we should even allow uppercase on application names but yes the solution is to force lowercase in the proper places.

[2018-07-26 09:06] #8012 closed

[2018-07-26 11:17] yrojha4ever opened #8027 "generator-jhipster have no option to generate angularjs app in framework section even for 4.14.4 version"
##### **Overview of the issue**
Recently, generator-jhipster have no option to generate angularjs app in framework section even for 4.14.4 version. Website says AngularJS 1.X support is removed in JHipster 5, but I am using JHipster 4 still not able to generate AngularJS app, it was working before.

##### **Reproduce the error**
![image](https://user-images.githubusercontent.com/4167541/43259279-4

[2018-07-26 13:01] ruddell commented on #8027
The OAuth2/OIDC auth type was never implemented for the AngularJS client, so the combination is not possible.

[2018-07-26 13:01] #8027 closed

[2018-07-26 18:26] zapphyre opened #8029 "constraint [pk_jhi_persistent_audit_event] violation;"
##### **Overview of the issue**

##### **Motivation for or Use Case**

This issue persist on very basic operations like login without any for me observable/explainable behaviour so only option I have after getting this is to truncate audit tables. I don't like to do that on the production.

##### **Reproduce the error**

`PersistentAuditEvent` was not tampered with, issue just have appeared with J

[2018-07-27 00:48] Falydoor opened #8031 "Button size while hovering in React is not consistent"
##### **Overview of the issue**

When hovering a link entity's button (ex: "Create new entity", "View", "Edit", "Delete" and "Back"), the size of the button changes. If the button is not a link (ex: "Save"), the size doesn't change.

The size of the button changes because the text becomes **bold**.

##### **Motivation for or Use Case**

This behavior makes the buttons not consistent and the layout

[2018-07-27 03:13] erikyuzwa commented on #7999
thanks a lot @jdubois - I think that's a pretty good starting point myself. :+1:

[2018-07-27 06:24] pascalgrimaud commented on #8031
I agree with you.
Angular and React applications should be consistent

[2018-07-27 09:06] #7305 closed

[2018-07-27 09:33] deepu105 opened #8033 "Feature: conditional dev webpack builds on maven/gradle run"
##### **Overview of the feature request**

This is an idea I got while tinkering with some stuff. Currently, we do a webpack build as soon as app is generated so that when you run `mvnw` or `gradlew` you get a working app. Though this is the way we have been doing it for a while it has some disadvantages
1. If the initial webpack build fails for some reason, you get a blank page when starting the

[2018-07-27 10:06] #7902 closed

[2018-07-27 10:13] deepu105 commented on #7873
@PierreBesson as @vishal423 suggested can you try this as well?
[code]

[2018-07-27 10:16] deepu105 commented on #7873
@PierreBesson I tried it and seems to work
[code]

[2018-07-27 10:33] PierreBesson commented on #7873
Yes I just tried it this morning and it works well. I'm commiting it later.

[2018-07-27 11:07] mraible commented on #8033
+1 to anything that helps solve the blank page issue.

[2018-07-27 11:11] deepu105 commented on #8033
I can do the gradle part, but would appreciate help with Maven any volunteers @jhipster/developers ?

[2018-07-27 11:49] pascalgrimaud commented on #8033
I thought about this some months ago, but never had the time to investigate.
So +1

[2018-07-27 12:35] atomfrede commented on #8033
@deepu105 Great idea, because I had the exact same problem the last couple of days. Created a fresh project, yarn fails, need to do it manually. For first time users not great

[2018-07-27 12:42] vishal423 commented on #8033
do you also plan to install UI dependencies (with --force) during clean install?

[2018-07-27 13:02] jdubois commented on #8033
With AngularJs 1 we used to have a nice error page that you did @deepu105 - it would be awesome to have something similar