[2016-12-25 16:33] deepu105 commented on #4674
I have added you as collaborator for the `jhipster` npm namespace. How would you like the npm library to be called `ng-jhipster` or `jhipster` ? if we do `ng-jhipster` it will give us the freedom to retain `jhipster` namespace in the future say if we wanna break free from yeoman and be a standalone generator like `angular-cli` then we could publish it as `jhipster` at that time.

[2016-12-25 16:34] jdubois commented on #4674
Oh the `ng-jhipster` is already created when you first asked for it :-)
All members of the dev team have write access to it, like for `generator-jhipster`

[2016-12-25 16:35] deepu105 commented on #4674
nice :)

Thanks & Regards,
Deepu

On Sun, Dec 25, 2016 at 5:34 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-25 16:35] jdubois commented on #4674
Yes let's call it `ng-jhipster`, as we might also use something than Angular at some point

[2016-12-25 16:36] deepu105 commented on #4674
ok ill move something to it soon.

[2016-12-25 17:35] jdubois commented on #4762
I spent a couple of hours on this, this is **much** more complex than expected!!! There's definitely stuff do here anyway, as for NG2 we must have a "dev" and a "prod" dist folder.

[2016-12-26 08:04] alexee commented on #4326
Does not look as a solution for me, what if I need jar to be executable?

[2016-12-26 09:07] gmarziou commented on #4326
@alexee, please don't comment an old closed issue. Open a new one with all required details.

[2016-12-26 10:33] jdubois commented on #4762
I opened ticket https://github.com/spring-projects/spring-boot/issues/7756 on Spring Boot for the original issue.
As we need even more flexibility with Angular 2, with a "dev" and a "prod" folder for the generated JavaScript, I'm not sure anymore that we can simplify the existing mechanism. I need to do more testing, and hopefully find a workaround for the original issue.

[2016-12-26 10:42] jdubois commented on #4724
Still, I believe it goes too far for a first version of the JHipster lib.
Yes, I think it's a great idea, and I believe it's what we should do in the future.
But I don't want to do it yet, having a JHipster lib is already a huge shift from what we do, I want first to have feedback from users before going farther.
So I'm closing this for the moment, but if the feedback is positive on the JHipster l

[2016-12-26 10:42] #4724 closed

[2016-12-26 10:45] jdubois commented on #4674
OK, let's do it this way, it's simple and doesn't have any specific impact on what we usually do.
I would just do a reference to the JHipster libs when we do the release notes for a new generator version.

[2016-12-26 10:45] #4674 closed

[2016-12-26 13:27] deepu105 commented on #4674
is that will be perfect and betetr for maintanance and people can always
refer to the POM/package json to see what version is used

Thanks & Regards,
Deepu

On Mon, Dec 26, 2016 at 11:45 AM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-26 15:03] jdubois commented on #4317
@allahbaksh this is for JHipster 4, it's not released yet, and not documented yet

[2016-12-26 15:17] gmarziou commented on #4674
Think to contributors, all of them surely knows how to make it work for the lib either by importing its module in IDE or using .m2 but personally I have no idea how to make it the same for a npm library

[2016-12-26 15:39] jdubois commented on #4762
Got it :-)
This is because of https://github.com/spring-projects/spring-boot/issues/7752
Many many many thanks to @felx who found the issue, I spent hours on this believing it was our fault!!

Bottom line is:

- Our current system is complex, but I haven't found a better way to do it
- It will become even more complex with Angular 2, as we will need 2 build folders, one for dev and one for prod ->

[2016-12-26 15:39] #4762 closed

[2016-12-26 17:24] allahbaksh commented on #4317
By the way if we install yarn through npm on MAC some time it has issues. Spent almost 3 hours on figuring out this.

[2016-12-26 17:46] gmarziou commented on #4317
On Windows also there are issues, I could not make it work with nodist, I had to switch back to simpler standard installation of Node

[2016-12-26 17:53] PierreBesson commented on #4709
I might have overestimated my JS/yeoman skills. If someone else is able to work on this, please help.

[2016-12-26 17:55] gmarziou commented on #4762
Could we have a simpler setup if we were clearly splitting client code from server in 2 modules?

I did it for a ng2 gateway and it was easier to work with angular-cli, it was also simpler with webpack than previously with gulp. In a way, it consists in using Jenkinsfile to build and assemble the 2 parts in prod, while in dev you benefit from webpack server proxification.

[2016-12-26 18:24] deepu105 commented on #4674
With typescript its similar in an IDE

Thanks & regards,
Deepu

On 26 Dec 2016 4:17 p.m., "Gaël Marziou" <notifications@github.com> wrote:

Think to contributors, all of them surely knows how to make it work for the
lib either by importing its module in IDE or using .m2 but personally I
have no idea how to make it the same for a npm library

—
You are receiving this because you were mentioned.

Re

[2016-12-26 18:25] deepu105 commented on #4762
I haven't started to work on prod profile for ng2 as its not a priority for
the beta support it will need to be tackled after we release the first
version

Thanks & regards,
Deepu

On 26 Dec 2016 4:39 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2016-12-26 19:48] mohamed2a opened #4768 "Webpack compilation error with Protractor"
##### **Overview of the issue**

During the webpack compilation, I have this :
[code]

##### **Motivation for or Use Case**

I can't run my generated application.

##### **Reproduce the error**

Start generating a new application, during the prompt choose "Protractor". At the end, run your application, the webpack compilation fails !

##### **JHipster Version(s)**

Version 3.12.1
It's a regression

[2016-12-26 21:11] gzsombor commented on #4762
Why do we need 2 separate frontend build? The full, minified, compressed js with source maps are good enough, in my experience. The less the difference between the prod and the dev environment is, the better.
 In one of my project, we removed it altogether, because there were some issues, which is only popped out in minified angularjs code, and building two war files, one for the staging server, w

[2016-12-26 23:06] deepu105 commented on #4762
Yes I'm also of the same opinion that for ng2 we should have same build
with sourcemaps for frontend in prod and when running watch we will just
disable uglify to make builds faster. Its doable with webpack. So in the
end everything will be output as the same files

Thanks & Regards,
Deepu

On Mon, Dec 26, 2016 at 10:11 PM, Zsombor <notifications@github.com> wrote:

[2016-12-27 00:40] allahbaksh commented on #4317
webpack is throwing error var shouldExtract = !!(options.allChunks || chunk.isInitial());
TypeError: chunk.isInitial is not a function. Any workaround for this.

[2016-12-27 04:22] ramzimaalej commented on #4110
@here guys did run into this issue ?

2016-12-26 22:26:54.606 DEBUG 30127 --- [  XNIO-2 task-1] c.t.ng2bs4.aop.logging.LoggingAspect     : Enter: com.thoughtworks.ng2bs4.web.rest.errors.ExceptionTranslator.processRuntimeException() with argument[s] = [org.springframework.http.converter.HttpMessageNotReadableException: Could not read document: Can not deserialize instance of java.lang.String out of

[2016-12-27 08:03] hookszhang opened #4770 "Configuring HTML 5 mode not working"
I want config AngularJS html5mode and try to follow this tip https://jhipster.github.io/tips/010_tip_configuring_html_5_mode.html.

There are two problems with this tip.

- The first problem(I founded the solution)

In Redirection filter part
[code]
I added above controller to rest package. AngularJsForward is works but web socket don't works.

Web console print
[code]

Then, I have updated the pr

[2016-12-27 08:15] jdubois commented on #4770
This is a tip submitted by a user, this isn't something we generate or we can support. I'm not surprised it doesn't work with Websockets or Gulp, the person who wrote the tip probably just didn't use those.

This is going probably to be the standard with our Angular 2 version (JHipster 4), so what you tell here is very important for our next release: if you find solutions, please post them, or eve

[2016-12-27 08:21] jdubois commented on #4627
I've tested this and this is indeed an issue with HikariCP.

This isn't really our fault, for me it's a bug in HikariCP when using hot reload.

We could do a trick on the client side to solve this, but for me we should leave it this way:

- This is an HikariCP bug, they will probably correct it at some point, we should better wait for this
- This is only happening with hot reload in dev mode, and

[2016-12-27 08:21] #4627 closed

[2016-12-27 08:23] jdubois commented on #4770
I'm closing this as this is not a bug in the generator... It could be seen as a feature request, but we're going to do it in JHipster 4, so this is already taken into account.

In the meantime, if you find a solution please update the tip. This could also be a good question on StackOverflow.

[2016-12-27 08:23] #4770 closed

[2016-12-27 08:26] jdubois commented on #4709
Then @PierreBesson I would rather close this, and we can still have a look at it later. We already have too much work at the moment, I want to focus on JHipster 4.

[2016-12-27 08:26] #4345 closed

[2016-12-27 10:47] tkman59 commented on #4770
I have the same problem.
I just fix on the file  server.js :
var proxyRoutes = [
        '/'
    ];

[2016-12-27 10:49] jdubois commented on #4770
@tkman59 can you add it as a PR to the tip? It's on https://github.com/jhipster/jhipster.github.io/tree/master/tips

[2016-12-27 12:57] jdubois commented on #4534
So I have something very simple working:

- Generating components, etc, works, with 2 limitations:
  - Tests would be generated in the same folder as the components, and not in our `src/test` folder, so I had to disable them in the `angular-cli.json` file. I haven't found a way to configure that, this is something that should definitely be done.
  - CSS files were causing problems, the TS compiler

[2016-12-27 12:59] #4534 closed

[2016-12-27 13:20] jdubois commented on #4685
Closing as the PR has been merged, and properties are now re-ordered correctly.

[2016-12-27 13:20] #4685 closed

[2016-12-27 14:19] tkman59 commented on #4770
Yes I can ;)

[2016-12-27 14:27] hookszhang commented on #4770
@tkman59 It works for me! Thank you!

[2016-12-27 15:01] deepu105 commented on #4534
Please keep in mind being compatible with angular cli doesn't mean we
should support every command or do everything it does.

To me being compatible is letting users use angular cli to generate
components/pipes/services and our builds being able to work with that.
Thats all

Thanks & regards,
Deepu

On 27 Dec 2016 1:59 p.m., "Julien Dubois" <notifications@github.com> wrote:

[2016-12-27 16:48] jdubois commented on #4534
Agreed @deepu105 , and this is already OK, that's why I closed this.

[2016-12-27 17:16] imduffy15 opened #4776 "Sleep vs Checking for connectivity"
The default DockerFile sleeps for 10 seconds waiting for the database to be available:

[code]

Would it not be better to parse the `SPRING_DATASOURCE_URL` environment variable to extract the hostname/port and check them until successful connection rather than sleeping for magic number?

[2016-12-27 17:24] jdubois commented on #4776
Yes but that's way more difficult to achieve... In fact there are many ways to configure Spring: the main YAML file, a specific YAML file with a profile, an env variable, a config server... And people might use any of those methods, or a combination of them. So that's very hard to do something similar in a Shell script.
And then you need to check the connection, etc.

A better solution might be to

[2016-12-27 17:40] ramzimaalej opened #4777 "Signup is broken with Angular 2 and internationalization"
##### **Overview of the issue**

Signup is broken for app generated using master branch of jhipster-generator

##### **Stacktrace**
`016-12-27 12:34:52.390 DEBUG 33957 --- [ XNIO-2 task-14] c.t.ng2bs4.aop.logging.LoggingAspect     : Enter: com.thoughtworks.ng2bs4.web.rest.errors.ExceptionTranslator.processRuntimeException() with argument[s] = [org.springframework.http.converter.HttpMessageNotReada

[2016-12-27 17:47] jdubois commented on #4533
Same issue in our "angular 2" version, I'm correcting both.

[2016-12-27 18:01] jdubois commented on #4776
I'm closing this because I don't think anybody is going ever to code this. Lots of time, lots of tests, for not a big gain in the end.

[2016-12-27 18:01] #4776 closed

[2016-12-27 18:02] #4533 closed

[2016-12-27 18:12] pascalgrimaud commented on #4776
@imduffy15 : I'm the one who coded this, and as @jdubois said, I did this because it was very easy and fast. Going further would be complex and no real gain.

You can look the migration script which waits the Cassandra cluster:
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/docker/cassandra/scripts/_autoMigrate.sh#L16-L34

[2016-12-27 18:19] jdubois commented on #4777
I confirm the issue. This is just with Angular 2, not AngularJS 1, so it must just be in the Angular register component.

[2016-12-27 18:28] jdubois commented on #4777
And it only fails when you have internationalization...

[2016-12-27 18:45] PierreBesson commented on #4776
@imduffy15 I like jour idea but it would add extra complexity, add an entrypoint script and depends on the database chosen. Also it would not work in a microservice setup where the database credendials are provided by a config server. So I don't think we can integrate this in JHipster. Anyway thanks for the feedback.

[2016-12-28 00:20] imduffy15 commented on #4776
Cool! Thanks for the input all 😊.

[2016-12-28 07:44] #4777 closed

[2016-12-28 08:55] deepu105 commented on #4777
@ramzimaalej can you please test and confirm this in master

[2016-12-28 10:09] jdubois commented on #4709
Let's close this and focus on JHipster 4. This looks complex, we don't have the time.

[2016-12-28 10:09] #4709 closed

[2016-12-28 10:12] jdubois commented on #4703
There's a new `prepare-jhipster-4` branch available on https://github.com/jhipster/jhipster.github.io/tree/prepare-jhipster-4 - let's update this for JHipster 4!

[2016-12-28 10:18] jdubois commented on #4768
No problem for me, I guess we upgraded something in the master branch in the meantime! That's quite impressive to see Protractor working on Angular 2, great work @mohamed2a @mraible !!

I saw a couple of issues on this, I'll open up a separate ticket for this.

[2016-12-28 10:18] #4768 closed

[2016-12-28 10:20] jdubois commented on #4768
Sorry @mohamed2a I have the same issue with Karma, did you meant Karma instead of Protractor?

[2016-12-28 10:38] jdubois commented on #4302
I just tested everything here, and it looks like we have a very good progress.

I'm seeing 3 main issues:

- Firefox still hangs with Protractor. I would like to use Chrome by default instead -> I think we stick to Firefox as it's easier to get it installed on a CI server, but we can't stay with something broken for so long. @pascalgrimaud  you're the boss here, are you OK to move to Chrome?
- I'm

[2016-12-28 10:46] pascalgrimaud commented on #4302
@jdubois : yes, I'm ok! I'm pretty sure it's possible with Travis

[2016-12-28 10:48] jdubois commented on #4302
Thanks @pascalgrimaud ! I'm also doing this for AngularJS, so we are consistent in our builds.

[2016-12-28 11:15] mohamed2a commented on #4768
@jdubois It works with karma, it fails when I choose Protractor in my generated application.

[2016-12-28 11:49] jdubois commented on #4768
@mohamed2a even now? That's really weird

[2016-12-28 12:14] jdubois commented on #4302
Migration to Chrome done: https://github.com/jhipster/generator-jhipster/commit/4976da7060c3cfe5fbcd8132dc81f70d50fd8131

[2016-12-28 12:39] jdubois commented on #4302
Concerning my 3 issues:

- Migration to Chrome is done
- Protractor issues are because it doesn't work with i18n yet -> not really a bug, that's a use case that hasn't been coded yet. I'll have a look at it.
- Karma issue is fixed with https://github.com/jhipster/generator-jhipster/issues/4768#issuecomment-269471299

This is looking good!

[2016-12-28 13:22] pascalgrimaud commented on #4302
@jdubois : I didn't expect that it would work immediatly, without doing anything to our Travis build!

See the Travis logs:
[code]

[2016-12-28 13:34] jdubois commented on #4302
@pascalgrimaud magic :-)

[2016-12-28 14:17] ramzimaalej commented on #4777
@deepu105 It works now. Thanks guys!

[2016-12-28 16:43] jdubois commented on #4302
@mraible well, I have no issue with logout in Chrome, so I guess it's solved :-)

I have the same issue as you, it's really annoying to run the integration tests on my laptop as I can't use my browser anymore during that time.

But I don't have a better solution: this has been failing on Firefox for a long, long time, and we can't release JHipster 4.0 with something broken.

[2016-12-28 17:05] jdubois commented on #4163
@gmarziou is right, and let's keep things simple for the moment: AngularJS 1 is frozen, and Angular 2 is already enough work... It's very easy to customize to your taste once generated, so this shouldn't be a big problem in the end.

[2016-12-28 17:05] #4163 closed

[2016-12-28 17:56] ramzimaalej commented on #4110
For the Avatar feature, here is my PR: https://github.com/jhipster/generator-jhipster/pull/4772

[2016-12-28 18:14] jdubois commented on #4188
This is probably linked to #4533 - we'll need to test this again when #4713 is merged

[2016-12-28 19:00] VictorADS commented on #4407
Can I have more information on this one ?

[2016-12-28 20:14] sylvainlecoy commented on #4756
I confirm the bug as well and reverting to spring boot 1.4.2 fixed the 404 error on main profile as well (not only dev).

[2016-12-28 20:24] pascalgrimaud commented on #4756
@sylvainlecoy : you can look this ticket https://github.com/jhipster/generator-jhipster/issues/4762
The upgrade to 1.4.3 has been done

[2016-12-28 20:33] sylvainlecoy commented on #4756
Well I have the issue with spring boot 1.4.3. Downgrading to 1.4.2 fixed my 404 on default profile.

[2016-12-28 22:55] mohamed2a commented on #4768
Thank you @jdubois.

Best regards

[2016-12-29 05:47] pascalgrimaud commented on #4685
In fact, it's not finished.
All dependencies are not ordered correctly. Launching `mvn install` will still change the pom.xml.

I started to work on it, but it's a huge work, so I think I will do it later

[2016-12-29 08:54] #4704 closed

[2016-12-29 09:21] sylvainlecoy commented on #4756
@pascalgrimaud If I upgrade again to spring boot 1.4.3 I actually get the issue. My JS files are in src/main/webapp, is it something that has been changed ? Do I need to configure something now ? Its unclear in the change log of the ticket you mentionned how it affect my project.

Thanks for your time.

[2016-12-29 10:23] pascalgrimaud commented on #4756
@sylvainlecoy : have a look at this commit https://github.com/jhipster/generator-jhipster/commit/a9e5189bf018f932b9b6834e81877e255586308d

You have to use the old version of spring boot devtools:
[code]

[2016-12-29 12:32] jdubois commented on #4685
OK, that's not very important...

[2016-12-29 13:22] egorlitvinenko commented on #1817
I have this problem on Linux with npm from anaconda3, but without any environment errors in log, just error with phantomjs.

[2016-12-29 14:18] jdubois commented on #4407
Just checked the box for "User Management pagination doesnt work properly" -> I tried with 50 users, no problem for me

[2016-12-29 14:23] yhjhoo commented on #2990
@jdubois

Yes this is "normal".

We don't generate any UI anymore on the microservices, so there is no Swagger UI there
The idea is that the UI is now on the gateway: when you log into the gateway, the "API" menu is there like in the monolith app, but now you have a dropdown list and you can have access to the Swagger doc from the microservices from there. All the documentation is now in one place

[2016-12-29 14:44] jdubois commented on #4407
Checked the box for "add uiSrefActive back once the related issue is fixed upstream" as we do have the attribute, and it's working fine in the navbar

[2016-12-29 15:13] deepu105 commented on #4407
I think the uiSrefActive thing was for the main navbar item highlight when
a submenu is selected. It doesnt seem to work now. There was a ui-router
bug for that

Thanks & Regards,
Deepu

On Thu, Dec 29, 2016 at 3:44 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-29 15:17] jdubois commented on #4407
@deepu105 you mean, "it does seem to work now", right?

[2016-12-29 15:21] jdubois commented on #4703
- Installation with Yarn is added
- Full documentation of the JHipster properties is added (and that's why I just cleaned them up!)

Most of the work left would be on https://jhipster.github.io/development/ and https://jhipster.github.io/using-angularjs/ for Angular 2, and https://jhipster.github.io/customizing-bootstrap/ for BootStrap 4.

If there is too much difference, which is probably the cas

[2016-12-29 15:26] deepu105 commented on #4407
No it doesnt work.

Say for example go to the metrics screen and look at the admin menu its not
highlighted. selected menu and parent needs to be highlighted. ui router
has a contains directive or somthing for that

Thanks & Regards,
Deepu

On Thu, Dec 29, 2016 at 4:17 PM, Julien Dubois <notifications@github.com>
wrote:

[2016-12-29 15:28] jdubois commented on #4407
Oh sorry @deepu105 I was just looking at the sub menu, not the main menu... Unchecking....

[2016-12-29 15:50] jdubois commented on #4110
Let's not aim for something too complex, I'd like to release JHipster 4 at some point -> for me, once #4772 is merged, we should close this

[2016-12-29 17:58] marcus2vinicius commented on #413
@bluecitymoon thank you

[2016-12-29 20:13] sylvainlecoy commented on #4756
@pascalgrimaud Thank you for the tip, is this a quick fix or I need a better way ? I mean its a temporary regression or I have to update something on my future projects to maintain compatibility ?

[2016-12-29 20:28] pascalgrimaud commented on #4756
@sylvainlecoy : it's a tempory fix here. But the real problem comes directly from spring boot, not from our project. So I'm pretty sure the spring boot team will fix it.

[2016-12-29 21:50] SWEnthusiast commented on #4402
@jdubois I have similar issue, I am using jhipster 3.12.2. There is no resolution provided in the link provided. What should be changed in the pom?

[2016-12-29 21:53] pascalgrimaud commented on #4402
@SWEnthusiast : look my PR here https://github.com/jhipster/generator-jhipster/pull/4420

For me, there are 2 solutions:
- Invert order: Brooklyn first, then Brixton, in your pom.xml
- Use Camden.SR3 instead of Brixton.SR7

[2016-12-29 22:06] pascalgrimaud commented on #4756
@sylvainlecoy : and here, the commit from spring boot: https://github.com/spring-projects/spring-boot/commit/61c931943f19f96db1c0b21e1563a56a116f77d8 with full explaination

[2016-12-29 22:10] SWEnthusiast commented on #4402
The second solution worked for me. Now I am not seeing this error.
Thanks @pascalgrimaud

[2016-12-29 22:18] deepu105 commented on #4110
@jdubois yes indeed this is never a blocker it was just a wishlist

[2016-12-29 22:19] PierreBesson commented on #2990
@jhjhoo this was requested before and we don't want to do it.
Just enable the swagger profile to have the swagger docs on tour microservices, as for swagger-ui, the only solution we support is passing through the gateway is supported and works out of the box !

[2016-12-29 22:27] jdubois commented on #4110
Great, let's do it :-)

[2016-12-30 01:40] yhjhoo commented on #2990
@PierreBesson

How to enable swagger profile?  I saw this log entry "Web application configuration, using profiles: [swagger, dev]"

Does it mean I have enabled swagger? How to access it? I tried to access http://localhost:8081/swagger-ui.html but not able to see it.

[2016-12-30 06:17] pascalgrimaud commented on #2990
@yhjhoo : remember that a microservice doesn't have UI. If you want a UI, you have to create a gateway
By default, you can access to the swagger api at http://localhost:8081/v2/api-docs/

[2016-12-30 10:52] antid0te commented on #4407
Hi, i have a blank page when running `npm run webpack:dev`.
I watch at the webpack's config, from my understanding, you are using browser-sync-webpack-plugin but it is either not configured to forward request to webpack devServer or to serve resource directly.
Is it a miss, a bug or i totally dont understand your config ?

[2016-12-30 10:54] VictorADS commented on #4407
@antid0te You need to use` ./mvnw` before running `npm run webpack:dev` and then you can access your site at localhost:9000

[2016-12-30 11:12] antid0te commented on #4407
@antid0te Thanks, it's working now. There is a bug with translation if you dont check 'enable internationalization support' in the generation wizard.

`Unhandled Promise rejection: Template parse errors:
Can't bind to 'jhi-translate' since it isn't a known property of 'span'. ("="text-xs-center">
                        <span class="tag" [ngClass]="getTagClass(health.status)" [ERROR ->]jhi-transla

[2016-12-30 11:50] VictorADS commented on #4407
Can you link me your .yo-rc.json pls  ?

[2016-12-30 13:13] antid0te commented on #4407
Weird, i try to reproduce the problem by regenerate the project with the options i picked, but i can't reproduce it.

[2016-12-30 13:19] VictorADS commented on #4407
Okay I think I know what's the problem. When we have no translation we should use j`hi-translate="'health.status.' + health.status"` and with translation it should be `jhi-translate="{{'health.status.' + health.status}}"`

[2016-12-30 16:23] VictorADS commented on #4301
Options I tested and that worked :

- [x] Default options with i18n
- [x] Default options without i18n
- [x] Default options regenerate existing app ( I had entities and i needed to regenerate them all to make it work)
- [x] With no pagination
- [x] With pager
- [x] With pagination
- [x]  With Text
- [x] Different relationship types
- [x] Import from JDL

Needs more testing :
- [ ] Different field

[2016-12-30 21:23] deepu105 commented on #4407
@sendilkumarn @erkieh I tried both your version of jhiSort, jhiSortBy directives but both doesnt seem to work. I tried in user management screen. can you guys check? check the latest version in ng-jhipster lib

[2016-12-30 22:40] gmarziou opened #4793 "Duplicate function track<Entity>ById when 2 relations with same entity"
##### **Overview of the issue**

Using ng2, I have 2 entities MatchResult and Player.
MatchResult has 2 relations with Player: winner and loser.

The `match-result-dialog.component.ts` file cannot compile due to duplicate function `trackPlayerById`

##### **Motivation for or Use Case**

Compilation error.

[code]

##### **Suggest a Fix**

Maybe the functions should be named according to relation n

[2016-12-31 01:07] sendilkumarn commented on #4407
@deepu105 remove the callback function and check. The UI works. But there is somwthing that has to be changes in ui-router's trsnsition.

[2016-12-31 08:26] poornerd commented on #4113
@marlonsf did you find any good tutorials or documentation? I could use it right now, too

[2016-12-31 10:25] deepu105 opened #4794 "Angular 2 TODO for next"
This ticket is to track TODO items after the angular2 release as per #4549

Items with **- to verify first** needs to be checked/tested first to see if already implemented

**Angular**
- [x] fix any commented out and FIXME/TODO in code  **- to verify first** @JulienMrgrd
- [x] Support AOT where possible  **- to verify first**
- [x] polish templates
- [x] check [styleguide](https://angular.io/docs/

[2016-12-31 10:54] sylvainlecoy commented on #4756
@pascalgrimaud Thanks for the info and your time.

[2016-12-31 13:40] aldranvijay commented on #4407
Getting following error on **yarn install** :
[code]
Is it normal ?

[2016-12-31 16:09] deepu105 commented on #4407
You seem to have old node version try with 6+ LTS

Thanks & regards,
Deepu

On 31 Dec 2016 2:40 p.m., "Ranvijay Singh" <notifications@github.com> wrote:

[2016-12-31 22:22] deepu105 commented on #4110
closing this as the core todo are done.

[2016-12-31 22:22] #4110 closed

[2016-12-31 22:27] deepu105 commented on #4392
closing this and moving todo items to #4794

[2016-12-31 22:27] #4392 closed

[2017-01-02 10:24] vogloblinsky opened #4798 "[FEATURE] Add addNpmDependency & addNpmDevDependency functions"
I am working on a jhipster-module which add a npm dependency to a jhipster project.
The function addBowerDependency is available, and it would be nice to have the same for npm.

I propose this PR : [#4797](https://github.com/jhipster/generator-jhipster/pull/4797)

[2017-01-02 10:33] pascalgrimaud commented on #4798
@vogloblinsky : once the PR is accepted, could you PR for updating this page too ?
https://jhipster.github.io/modules/creating-a-module/

[2017-01-02 10:34] vogloblinsky commented on #4798
Yes, i was searching right now the source ?

[2017-01-02 10:39] huiqiangyang opened #4799 "Jhipster-ionic Generator Exception"
Hello my friends, I need your help ,today I want to use  `JHipster Ionic Generator` , when I geneator code,show this error
[code]
My system is Ubuntu,node version v6.9.2 ,npm version 4.1.1, Jhipster version latest
Could you tell me a method to solve  this question,thank you~!

[2017-01-02 10:42] pascalgrimaud commented on #4799
Could you open a ticket to the appropriate project : https://github.com/ruddell/generator-jhipster-ionic/issues ?

[2017-01-02 10:42] #4799 closed

[2017-01-02 11:03] huiqiangyang commented on #4799
@pascalgrimaud I`m sorry, this error appear in `[BETA] JHipster UAA server (for microservice OAuth2 authentication) ` too , is my one plugin version has too low? are you meet this question?

[2017-01-02 11:06] pascalgrimaud commented on #4799
If you have an issue with the generator-jhipster it self, we need:
- full description
- all steps, so we can reproduce your error
- your configuration file: .yo-rc.json, entities.json if you have, etc.
- all information on all your tools

You can simply follow the template, and use yo jhipster:info

[2017-01-02 12:06] vogloblinsky commented on #4798
@pascalgrimaud i had for my jhipster module to edit the main gulpfile.js at the root of the generated project for adding a new gulp task.
Is it ok if i read the file, and override it with `jhipsterFunc.rewriteFile` ?

[2017-01-02 12:28] pascalgrimaud commented on #4798
@vogloblinsky : I would say, it's your module, so you can do what you want! That's what I find modules so powerful.

[2017-01-02 13:13] vogloblinsky commented on #4798
ok @pascalgrimaud, just waiting for the PR validation for updating the public page ;)

[2017-01-02 13:25] deepu105 commented on #4798
closed via #4797

[2017-01-02 13:25] #4798 closed

[2017-01-02 14:07] vogloblinsky opened #4801 "[FEATURE] Add addNpmScript function"
Like for this feature (https://github.com/jhipster/generator-jhipster/issues/4798), i know need a addNpmScript for adding a npm script for the Angular 2 jhipster project.

I propose this PR : [#4802](https://github.com/jhipster/generator-jhipster/pull/4802)

[2017-01-02 17:43] #4793 closed

[2017-01-02 18:15] xetys commented on #4301
I am currently testing the default options with SASS enabled. I know SASS is not our main focus, but it is not really working, as:

* hot reload is working somekind strange, not for all files
* you can change the main.scss, but it doesn't affect the main.css

so

didn't work

 - [ ] Default with SASS

[2017-01-02 18:25] jmkhael opened #4804 "Running Docker in the docker container fails with Cannot connect to the Docker daemon"
* **Overview of the request**

Add the ability to run docker from within the docker container, in order to successfully execute commands such as from within it:

`./gradlew bootRepackage -Pprod buildDocker`

Note that the docker container is started with:

[code]

and  /data/apps/jhipster/app is owned by id=1000.

* **Motivation for or Use Case**

In order to use an already packaged jhipster dev c

[2017-01-02 20:57] PierreBesson commented on #4804
@jmkhael  you have a good idea here ! I think it would be OK to add the jhipster user to the docker group so that you can do a docker build from within docker.
However some remarks :
- Although sudo is not installed but you can log in as root with the `-u 0` arg to the docker cli.
`-v $(which docker):/usr/bin/docker` : this doesn't work out of the box with Docker for Mac and for good reason, also

[2017-01-02 21:41] #4801 closed

[2017-01-02 22:00] pascalgrimaud commented on #4804
Honestly, I only use `jhipster/jhipster` images for regenerating old version of JHipster or testing another config (node, npm etc) and never use it for development
What you mention here is interesting (same subject about Running Docker in Jenkins inside Docker), but can be hard because it need to be tested on 3 OS (Linux, Mac and Windows).

And I suppose there are very few users who use this image

[2017-01-02 22:08] cbornet commented on #4804
You could do a user namespace remap. See [here](https://docs.oracle.com/cd/E37670_01/E75728/html/ol-docker-userns-remap.html). It works on Linux. Don't know on Mac...

[2017-01-02 22:14] pascalgrimaud commented on #4804
@jmkhael : to answer to your questions, you can read https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md

To resume:
- fork the project
- clone your fork
- go inside your project
- create a local branch
- edit the Dockerfile at the root folder
- then, you can build a new image with: `docker build -t jmkhael/jhipster .` and test your image

[2017-01-02 22:17] cbornet commented on #4804
@jmkhael Actually, what you should do is not running in privileged mode (this is bad for security) but add the uid 1000 to the docker group of the **host** . Then use `-u 1000` when bash logging.

[2017-01-03 01:27] yhjhoo commented on #2990
@pascalgrimaud  Yeah, I noticed microservice doesn't have UI. But is it possible to just enable swagger-ui.html? It seems like the swagger-ui.html become inaccessible after enable @EnableResourceServer .  I have tried standalone microservice here https://github.com/yhjhoo/swaggerDemo and I am able to access it.

[2017-01-03 01:49] vogloblinsky commented on #4663
@jdubois
The module is ready and available : https://jhipster.github.io/modules/marketplace/#/details/generator-jhipster-compodoc

[2017-01-03 03:36] anjia0532 opened #4810 "@AuthorizedFeignClient invoke other services throw timeout"
1.  jhipster-registry v2.5.7
1. uaa v3.12.2
1. microservices1(e.g. named app1) v3.12.2
1. microservices2(e.g. named app2) v3.12.2

when the first time app1 invoked the app2 thow time-out exception,but since the second is successful.

[code]
App2FeignClient

[code]
AuthorizedFeignClient

[code]

Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipst

[2017-01-03 05:12] pascalgrimaud commented on #4810
Can you try to put this configuration ?
[code]

Currently, this config is only for gateway. I think we should extend it to microservices

[2017-01-03 06:05] pascalgrimaud commented on #2990
@yhjhoo : I understand your need, but as discussed before, it won't be done in the generator-jhipster.
Your demo is not a microservice. It's a simple application with swagger, without security

There are 2 solutions:
1) you can code yourself what you need, just keep in mind this page should not be able in production profile
2) simply generate a gateway and start it. That's what I always do

[2017-01-03 09:22] anjia0532 commented on #4810
yes, this is my `gateway\src\main\resources\config\application.yml`
[code]

and it's not real time-out,because the since the second is successful,the first invoke must be failure.

[2017-01-03 09:27] pascalgrimaud commented on #4810
I already have the same issue like you: 1st request failed with timeout, 2nd successful
You have to put this configuration in your microservices, not only in gateway

[2017-01-03 12:39] anjia0532 commented on #4810
ok,i'll have a try. thank you  :)

[2017-01-03 12:49] jmkhael commented on #4804
thank you all for the helpful comments.

Indeed, this resembles the Docker in a Docker but launching siblings containers on the host. (discussed [here](https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/))

To make the use case a bit clearer, what I'd like to accomplish is to use a Raspberry Pi as a "development environment". The idea is that i'd like to rebuild a Raspberry P

[2017-01-03 12:51] gmarziou commented on #4810
Reason why first request on a proxied service takes longer and may timeout is because REST clients are lazy instantiated.

See https://github.com/spring-cloud/spring-cloud-netflix/issues/1334 for a workaround.

[2017-01-03 13:21] xetys commented on #4810
hey,

i currently running this configuration in JHipster Registry for overall configuration:

[code]

which you then can override using specialized config files, as well as env vars etc.

with this, my feign clients do also retries. I hope this configs are still the right one, if nothing changed since last cloud releases

[2017-01-03 13:36] JinnaBalu commented on #4714
I am unable to find out the solution for this kind of issue, I have tried replcing the node.exe with supported version, but still facing the same issue.

[2017-01-03 13:39] cbornet commented on #4804
Yes but be warned that you are using the root user of the host. Probably not very secure...

[2017-01-03 13:45] cbornet commented on #4804
Also I don't think you need to add a docker group in the container. Docker should use the permissions from the host. Just use in your container a uid that has permissions on the host.

[2017-01-03 13:48] jmkhael commented on #4804
indeed. that's what i did with the group-add.

[2017-01-03 13:50] cbornet commented on #4804
Note : we should probably force the uid/gid of the jhipster user to a defined value. This is what is done in the [node Dockerfile](https://github.com/nodejs/docker-node/blob/master/6.9/Dockerfile) for instance.

[2017-01-03 13:52] cbornet commented on #4804
@jmkhael I mean you shouldn't need to do any `groupadd` !

[2017-01-03 13:56] cbornet commented on #4804
Just saw that my earlier comment about using -u 1000 is wrong since we currently don't force the jhipster uid.

[2017-01-03 14:06] jmkhael commented on #4804
@cbornet i retried without the group-add it doesn't seem to work.

This is what happens:

[code]

Knowing that on the host:
$ id
uid=15085(jmkhael) gid=5000(murex) groups=5000(murex),979(docker)

[code]

[2017-01-03 14:44] cbornet commented on #4804
Try `docker exec -it --user=15085:979 jhipster bash`
But then you will have another issue : the uid/gid you doesn't exist in the docker container. And bower doesn't like that...

[2017-01-03 15:02] jmkhael commented on #4804
@cbornet indeed.
I also faced other errors related to permissions...

I have no name!@25bfc2bfe160:/home/jhipster/appdocker$ yo jhipster:docker-compose
/usr/lib/node_modules/yo/node_modules/mkdirp/index.js:90
                    throw err0;
                    ^

[code]

The group-add works for most cases till now.

[2017-01-03 15:20] cbornet commented on #4804
Oh ! I didn't see you were talking of the `--group-add` option ! Yes, that should work !

[2017-01-03 15:30] kennyx46 opened #4812 "gulp/browserSync doesn't serve the page"
##### **Overview of the issue**

gulp/browserSync doesn't serve the page

##### **Reproduce the error**
start both processes
`gulp`
`./mvnw`

press ctrl+shift+r in the browser few times in a row or run protractor e2e test few times in a row (sometimes 3-4 times is enough, sometimes about 10). After few times the loading page chrome indicator is shown but it takes about 2 minutes to actually load t

[2017-01-03 15:37] cbornet commented on #4804
@jmkhael tested the group-add and it works well. Good catch !

[2017-01-03 15:44] cbornet commented on #4804
@jmkhael would you PR to add this to the jhipster.github.io doc ?

[2017-01-03 16:01] jmkhael commented on #4804
@cbornet: I will do so.

I will also prepare an JHipster image for the Raspberry Pi.
I can submit a pull request for that too if you think it is worth sharing.

[2017-01-03 16:33] jmkhael commented on #4804
I've created [Pull 368](https://github.com/jhipster/jhipster.github.io/pull/368) for the documentation.

[2017-01-03 16:37] PierreBesson opened #4813 "JWT Build broken on master"
I noticed that JWT apps generated from the current master fails to boot. So it means that all microservices fail to boot as well 😢.

Here is the error :
[code]
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

ls: no suc

[2017-01-03 17:12] xetys opened #4814 "incomplete/failing styles setup for CSS and SASS"
I was playing around the last days with the styles, as I need to kick off a JHipster 4 project on sass, and it was not really successfull, until I spent some hours with @arelav (my frontend guru from Viber :grinning: ) and finally made it working...

## for CSS and SCSS

as of many guides for ng2 and demo code + angular cli code, there is a practice of including component specific stylesheets (scs

[2017-01-03 17:27] jdubois commented on #4812
tons of people (including me) are using this all the time, so I'm pretty confident it works :-)

As you are using a rather old version of JHipster, I'm guessing this is an environment issue between the BrowserSync version and Chrome. Could you try a newer version?

[2017-01-03 18:09] pascalgrimaud commented on #4813
Maybe an issue in your .m2 folder? Can you look the first lines of your logs?

I dont see the issue on Travis

[2017-01-03 18:56] ruddell commented on #4813
I had a similar problem with the latest spring security update, deleting the invalid zip fixed it for me

[2017-01-03 19:01] deepu105 commented on #4814
I agree that what we do might not be best but I have some concerns over the
approach suggested by angular. Ill write it in detail later as im on my
phone now

Thanks & regards,
Deepu

On 3 Jan 2017 6:12 p.m., "David Steiman" <notifications@github.com> wrote:

[2017-01-03 19:08] anibalardid opened #4816 "gulp serve delete content of index.html"
Hi, sometimes when I run `gulp serve` the content of index.html is erased/deleted and the webpage started in browser as blank.

It didn't happened allways, it happens sometimes without relation ...

I'm using this repo:
https://github.com/jhipster/jhipster-sample-app-gradle.git

This is the info of _yo jhipster:info_ :

elcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)*

[2017-01-03 19:47] pascalgrimaud commented on #4813
Just tested it, I don't have any issue.
Probably issue when downloading the Spring Security jar ? I already downloaded it, few days ago

[2017-01-03 20:02] jdubois commented on #4816
You are coding stuff on the Gradle sample? Not sure about this: OK this is supposed to work, but I haven't worked on this sample for a long time, I'm not sure it's stable.
Do you have the same issue with a "normal" generated project ?
My other issue is that if we can't reproduce it, we're basically stuck..

[2017-01-03 20:06] anibalardid commented on #4816
Hi, thanks for the answer, I didn't test with the normal jhipster generator, I will try and comment tomorrow ;)

[2017-01-03 20:12] pascalgrimaud commented on #4812
Just tested it and I dont have the issue.
Reading your ticket, it seems you start gulp first, then mvnw ? It should be mvnw first, then gulp, instead

1/ running mvnw alone -> can you access to the application ? http://localhost:8080
2/ do you have some antivirus or addblock in chrome?

[2017-01-03 20:39] pascalgrimaud commented on #4816
Just played with the same repo: https://github.com/jhipster/jhipster-sample-app-gradle.git
I don't have any issue at all... editing html / js files, everything reload correctly at http://localhost:9000

The only things I can see are:
- the version of node: 6.2.2 is not a LTS and I think it's not a stable version at all. Can you upgrade to 6.9.2 LTS ?
- yarn 0.16.1 : I don't think you use yarn, but

[2017-01-03 20:42] ruddell commented on #4816
I've seen this issue a few times but not recently (I switched to node LTS so that might help).  People in the Gitter chat have also mentioned the same issue.

I could never figure out how to reproduce it, it seems random.

[2017-01-03 20:53] gmarziou commented on #4714
Problem is probable not node.exe, it is %1.
It seems you have cloned our sample repo, please try generating an app the normal way as it will run some verifications or your environment

[2017-01-03 21:04] jdubois commented on #4816
Code execution is never random :-)
If we can't reproduce it, I'm closing this, so we don't lose time on this. Anyway this will be totally changed with JHipster 4 :-)

[2017-01-03 21:04] #4816 closed

[2017-01-03 21:07] jdubois commented on #4813
Yes, download issues sometimes happen, and that's something I hate with Maven!
Closing this -> @PierreBesson just download your .m2 folder and retry :-)

[2017-01-03 21:07] #4813 closed

[2017-01-03 21:08] jdubois commented on #4812
Oh yes, and we already had tons of false issues because of ad blockers... Have a look with another, "clean" browser.

[2017-01-03 21:08] #4812 closed

[2017-01-03 21:10] pascalgrimaud commented on #4810
I'm closing this, as I'm pretty sure these configuration can be a solution.

@xetys : there are a lot of different configurations, but it depends on business case

[2017-01-03 21:10] #4810 closed

[2017-01-03 21:14] pascalgrimaud commented on #4804
I think documentation should be enough, as it's a specific use case

[2017-01-03 21:17] jdubois commented on #4804
OK, I've had a look at it and it's good -> I just want to do a few changes before merging

[2017-01-03 21:17] #4804 closed

[2017-01-03 21:28] xetys commented on #4814
I am very excited about the concerns, as view encapsulation is one of the core features of angular 2. In fact, this feature can be disabled optimal, as I did for the main.css.

However the current state makes SASS working, so I definitely want to come out in some consensus, were we find a solution where SASS is working, as this is needed very strong today.

[2017-01-03 21:46] xetys commented on #4810
Yes I know. I added my to show the ribbon configuration, which was missing in the examples before

[2017-01-03 22:43] deepu105 commented on #4814
Ok first of all I'm not completeley against this idea but I dont 100% agree with what the angular/react gurus say, call me a bit old school but below are my concerns.

if you are building an app which is gonna have 100% custom styles for each and every component then it makes sense to follow this pattern and apply styles per component, this is more applicable for desktop apps built with electron a

[2017-01-03 22:55] xetys commented on #4814
turning view encapsulation off on main component is disabling shadow dom only for this component, but not for the embedded.

To your concern about the global stylesheet, you still can put your global stylesheet inside main css, like before, so there is no must to use component level stylesheets. This is why view encapsulation is turned off.

[2017-01-03 23:02] deepu105 commented on #4814
I understand that but im just saying if somebody wants to scope some style
to the main component itself it will not be possible then they would have
to make another wrapper. Thats why i prefer a global stylesheet and then
scoped ones when required

Thanks & regards,
Deepu

On 3 Jan 2017 11:55 p.m., "David Steiman" <notifications@github.com> wrote:

[2017-01-03 23:10] xetys commented on #4814
in the "ideal" use case, there should not be much custom code on the main component, as it is used to collect the downgoing components.

as an alternative I can do the same trick to main.css like I did for vendor.css already. This wouldn't change a lot, but you then could scope a encapsulated main component as well..

should I add a an empty css/scss file generation for entities, to show this is p

[2017-01-04 07:19] deepu105 commented on #4814
I think we could either add documentation or an empty css but then there
might be too many empty css.  So im leaning towards documentation with a
sample on our home screen and navbar which has some custom css that can be
scoped

Thanks & regards,
Deepu

On 4 Jan 2017 12:10 a.m., "David Steiman" <notifications@github.com> wrote:

[2017-01-04 09:29] PierreBesson commented on #4813
@rudell, thank you this fixed my problem.

[2017-01-04 09:55] wmarques commented on #4814
I agree with most of what @deepu105 said, however when you do component you might want to customize it without doing it in one big css file, it prevents also from impacting other elements in your app.
So i'm ok for the solution you proposed, keep a "main" file containing the Bootstrap tweaks and global customizations, and let's add navbar/home stylesheets to show our users how to customize a compo

[2017-01-04 12:12] xetys commented on #4814
one of my problems was, that we load the global style inside vendor, and this feels really wrong. But its needed, as a user defined global style has nothing to do with vendor, and vise versa...

as I am not the frontend expert here, I just tried another approach by adding the global style into webpacks entry. It works, but dunno if this is inaccurate for some reasons...

so long, global css return

[2017-01-06 11:10] VictorADS commented on #4794
@deepu105  I got HMR working but there is a problem. When we change angular 2 files like html or ts the whole angular 2 module is refreshed causing a blink in the screen. I thought it was i18n loading but in reality I'm pretty sure it's ui-router that causes it because I tried angular/router and everything works fine.

If you can it I made a repo :
https://github.com/VictorADS/ngHmr

The branch ma

[2017-01-06 11:12] deepu105 commented on #4794
ok lets do it after our release when we move to angular router

[2017-01-06 12:47] gmarziou commented on #4794
@VictorADS maybe this could be avoided by importing all deps in vendor.ts so that main bundle contrains only jhipster code

[2017-01-06 16:49] deepu105 commented on #4302
@jhipster/developers guys is anybody working on finishing the remaining karma tests?

[2017-01-06 16:53] deepu105 commented on #4188
@VictorADS @flaviencathala @sendilkumarn could you please check if this is still an issue?

[2017-01-06 17:43] gmarziou opened #4823 "NG2: no error handling on GET one entity"
##### **Overview of the issue**

Error while loading details of an entity is not handled

##### **Reproduce the error**

Create an entity called `Player`.

Modify resource method `getPlayer(id)` so that it throws a RuntimeException.

It returns an HTTP error 500 with correct JSON response:

[code]

Click on view button on list of entities, the transition to detail state is made but the view is emp

[2017-01-06 18:26] davidweianibone commented on #487
Hi, I'm trying to debug my application using Netbeans. I added the line mentioned above but still cannot debug. seems like a connection issue. Do I need to add the secret key somewhere to be able to connect ?

[2017-01-06 18:46] pascalgrimaud commented on #4302
@deepu105 : maybe @mohamed2a ? Related to what he tried here https://github.com/jhipster/generator-jhipster/pull/4795

[2017-01-06 18:47] mraible commented on #4302
@deepu105 Not me, too many other things to work on right now. Maybe the week of Jan 16.

[2017-01-06 18:56] mohamed2a commented on #4302
@deepu105 I will work on fixing the karma test during the next week

[2017-01-06 22:43] gmarziou commented on #4823
I have been able to resolve the entity before transitioning to detail state and when there is an error the transition fails and the user stays on list view.

[code]

with a very thin component which declares the resolved player as an injected value:

[code]

The only thing I don't know is how to show an error message to the user when player could not be resolved. @christopherthielen could you expl

[2017-01-07 02:05] seawenzhu commented on #4794
Hi @deepu105
What is plan when you move to angular router?

[2017-01-07 02:23] seawenzhu commented on #4549
Hi,
Is there a definite time about angular2 release plan?

[2017-01-07 08:48] indrekru commented on #3722
Obviously you have some other setup procedure on your environment, which most developers don't go through. And still a lot of people fall into the same trap, looking at the same topic being discussed throughout the years.

I can describe my situation: No nginx, no hazelcast, just a spring boot application. I run my app in a "screen" simply with "java -jar myapp.jar" straight from the tomcat, no pr

[2017-01-07 10:16] ERLP opened #4824 "Error creating bean with name 'entityManagerFactory'"
When trying to start the jboss server, am getting the below exception and server comes to a halt after this exception. Can help to assist on this issue?

Env: Redhat Linux

[server=HornetQServerImpl::serverUUID=e0a7879b-bb97-11e6-927f-f791b5307ce3]]@14a8b8dc doing deliver. messageReferences=0
18:00:00,550 INFO  [stdout] (ServerService Thread Pool -- 62) 2017-01-07 18:00:00.550  WARN 8755 --- [read

[2017-01-07 11:24] deepu105 commented on #4824
This is a bug tracker and not a support channel
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["c

[2017-01-07 11:24] #4824 closed

[2017-01-07 16:18] steelcoder commented on #3060
Hi everyone, I think UUID should be supported for relational databases (maybe with a performance warning for MySQL users). The main motivation for us is to prevent scraping of our database (non disclosure). For example, with sequential id, a scrapper can scan all entities with a for loop!

 @amitjindal : can you publish your module? maybe the community could enjoy and contribute on such a feature?

[2017-01-07 17:21] christopherthielen commented on #4823
A couple of options I've used in the past:

Use something like a Toast library to show an error when they click the link -- something like http://codeseven.github.io/toastr/demo.html

Something like (pseudo code):
[code]

Another way is to handle the transition promise rejection from .go().

[code]

As a note to self: this second example might be a good argument for a new attribute related to `uiS

[2017-01-07 18:10] jdubois commented on #3060
The ID is a technical key, it shouldn't be used for this. For instance, it shouldn't change, so it should be safe to share, which is typically not your case.
What you need is a business key, which is what we do for the user login, for the activation key, and for the password reset key.

[2017-01-08 02:57] gmarziou commented on #4823
Thanks a lot.

I implemented successfully first option as a global hook in `register-transition-hooks.ts`

[code]

Ideally, I'd like to be able to register specific hooks per entity (from within entity source folder) but it seems hooks can be registered only by `UIRouterModule.forRoot()` and not by `UIRouterModule.forChild()`.

[2017-01-08 17:07] ramzimaalej commented on #4549
what's left guys, and for which module do you need help ?

[2017-01-08 18:48] deepu105 commented on #4549
@ramzimaalej would appreciate help to migrate and fix remaining app karma tests and the karma tests for entity on the ng2 branch take a look at #4302 or you could also help with #4407 or #4301

[2017-01-08 18:51] deepu105 commented on #4823
@gmarziou please note that `AlertService` has been moved to `ng-jhipster` lib

[2017-01-08 23:22] gmarziou commented on #4823
OK, it's a good thing. I have looked at it and I may contribute some comments.
I must say that the comments from ui-router are very good, great work @christopherthielen

[2017-01-09 00:32] ramzimaalej commented on #4549
@deepu105 I don't see the branch ng2. Do you have the commit hash to restore it?

[2017-01-09 05:22] pascalgrimaud commented on #4549
@ramzimaalej : the old ng2 branch has been merged into master

[2017-01-09 09:37] #4814 closed

[2017-01-09 11:06] VictorADS commented on #4794
@gmarziou I tried but the blink is still there. Besides this little visual issue the HMR works great and it reloads the page really fast.
So can I make a PR ?

[2017-01-09 11:07] deepu105 commented on #4794
Yes we can live with the blinks I guess

Thanks & Regards,
Deepu

On Mon, Jan 9, 2017 at 12:06 PM, VictorADS <notifications@github.com> wrote:

[2017-01-09 11:08] deepu105 commented on #4794
Could you also try to do some lazy chunks?

Thanks & Regards,
Deepu

On Mon, Jan 9, 2017 at 12:07 PM, Deepu K Sasidharan <d4udts@gmail.com>
wrote:

[2017-01-09 15:25] Paul-Etienne commented on #3724
I have got this exact problem but downgrading to a former version isn't a solution for me.
This issue should stay open and looked into.

[2017-01-09 16:00] deepu105 commented on #3724
@Paul-Etienne this has been fixed long back if you have an issue i suggest you open a new ticket with all required details

[2017-01-09 16:02] Paul-Etienne opened #4833 "Model importation failing without error."
I am working on a JHipster application and had successfully imported my model back in summer.
Now though, I must have updated the generator because the importation isn't working anymore.
The `jhipster-uml file.jh` command is throwing an error  :

But this is a normal behaviour since a more recent version of jhipster-uml.
However, the command `yo jhipster:import-jdl file.jh` isn't working either, t

[2017-01-09 16:08] deepu105 commented on #4833
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-01-09 16:08] #4833 closed

[2017-01-09 16:31] medmes commented on #4703
Is this issue still opened ? i want to contribute.

[2017-01-09 16:53] deepu105 commented on #4703
Yes please

Thanks & Regards,
Deepu

On Mon, Jan 9, 2017 at 5:31 PM, Mohammed MESAOUDI <notifications@github.com>
wrote:

[2017-01-09 16:59] VictorADS commented on #4794
@deepu105  What I understood about lazy chunks loading is that we load the modules when we try to access a specific state. Wouldn't it be better to migrate to angular-router then add lazy loading ?

[2017-01-09 17:06] deepu105 commented on #4794
Yes you are right. I was talking more about webpack chunks sorry for the
confusion

Thanks & Regards,
Deepu

On Mon, Jan 9, 2017 at 5:59 PM, VictorADS <notifications@github.com> wrote:

[2017-01-09 18:25] pascalgrimaud commented on #4833
Sorry but it wil be hard to help you if we dont have enough information to reproduce your issue.

[2017-01-09 23:41] jdubois commented on #4407
I checked the "favicon" item because of https://github.com/jhipster/generator-jhipster/commit/36216381cdcfcc90238804b6263cd64d1b9a751a -> not a very pretty way to correct this, but it works

[2017-01-10 02:17] darthjoel commented on #4189
Experienced this issue today.  As I workaround, I removed the session cookies in an interceptor:

[code]

Works for my situation because I want a stateless REST API anyway.  Hazelcast is just in the mix for data caching.

[2017-01-10 02:17] xiangwan opened #4836 "elasticsearch is broken"
##### **Overview of the issue**

this file
generators/entity/templates/client/angular/src/main/webapp/app/entities/pagination-template.ejs
 has lost search() and close()

and the input  name attribute must be exist
 <input type="text" class="form-control" [(ngModel)]="searchQuery" name="searchQuery"

##### **JHipster Version(s)**

4.0

My English is not good,I hope you can understand.

哪位同学看到了，可以帮

[2017-01-10 05:42] jdubois commented on #4836
That's normal, JHipster 4 is being coded, this part isn't finished yet, we know it.
Help is welcome if you want to do a PR.

[2017-01-10 05:42] #4836 closed

[2017-01-10 05:54] PrashanthRaghu opened #4837 "Jhipster generated entity compilation issue with entityTableName 'Test'"
##### **Jhipster generated entity compilation issue**

Latest source code of entity generator throws a compilation issue in the maven test compile phase

P.S: I am using the latest code of jhipster from github.

##### **Motivation for or Use Case**

I am trying to generate a basic entity on a project.

##### **Reproduce the error**

$yo jhipster
Monolithic Project, Angular 2, Mysql production and

[2017-01-10 06:13] pascalgrimaud commented on #4837
Can you:
- provide your log error
- use `yo jhipster:info` : you didn't show your node, yarn, npm version, etc.

[2017-01-10 06:27] pascalgrimaud commented on #4837
Ok, I see. There is a conflict between:
- your entity: com.sensei.newapp.domain.Test
- the class from junit: org.junit.Test

Maybe we should exclude this entity name.

[2017-01-10 06:44] xiangwan commented on #4836
I will try do this later

[2017-01-10 07:58] pascalgrimaud opened #4838 "Error when gulp install with angular1 + websocket + noi18n"
##### **Overview of the issue**

When generating a project with angular1 + websocket + noi18n,
there is an error in the tracker.state.js

Here the error log:

[code]

##### **Suggest a Fix**

In fact, there is a simple missing `}`

As the copy template is specific (see https://github.com/jhipster/generator-jhipster/blob/master/generators/client/files-angularjs.js#L238-L245)
immediatly, I don't see

[2017-01-10 08:21] jdubois commented on #4837
Yes we should exclude the entity name

[2017-01-10 08:23] #4837 closed

[2017-01-10 08:24] jdubois commented on #4838
Very surprised we haven't found this before! Can you do a PR?

[2017-01-10 08:27] pytsekas commented on #4189
We had same problem, as it was hard to reproduce and debug just tried to get rid of these session IDs and commented out these lines in configuration:

`config.getMapConfigs().put("clustered-http-sessions", initializeClusteredSession(jHipsterProperties));
initClusteredHttpSessionFilter(servletContext, disps);`

[2017-01-10 08:29] pascalgrimaud commented on #4838
I didn't find a quick fix, that's why I didn't PR immediatly.
I'll try to have a look tonight (as day work begins right now...)

[2017-01-10 08:34] jdubois commented on #4189
I'm sorry but this is definitely not helping: if you don't need clustered HTTP sessions, why on earth did you select this option?
I'm starting to believe there is no bug at all here, just people confused with the option.

[2017-01-10 08:36] jdubois commented on #4189
As there has been a huge refactor and a version upgrade since the original ticket, if you still have an issue here (and now what "clustered http session" means, for instance that your classes must be Serializable), then please create a new ticket with your full configuration, as required by the project guidelines.
I'm locking this specific ticket, as this is just going nowhere.

[2017-01-10 09:49] shimopus opened #4839 "[FEATURE] Closed community for JHipster"
I want to propose a new feature for JHipster generator.

Now we have only one option for user creation flow - registration (or new user creation by administrator which is equal). But if I want to create closed community where new users could be only created by the administrator or somebody with special role it is impossible.

So my proposal is:
1) Add an option for generator - closed community
2)

[2017-01-10 09:55] deepu105 commented on #4839
@shimopus sorry but this is a very specific business requirement and you should be able to achieve this by adding a new role and setting its permission accordingly. I don't think we would want to add business use cases and complicate our maintenance further. If you want to make such a feature accessible to the community you could always build it as a module for JHipster https://jhipster.github.io/

[2017-01-10 09:55] #4839 closed

[2017-01-10 10:14] deepu105 commented on #4838
@pascalgrimaud could you try with this regex
`/(\,[\s]*(resolve)\:[\s]*[\[]?[\{][\s]*(translatePartialLoader|token: 'translate')[\[]?[\'a-zA-Z0-9\$\,\(\)\{\.\<\%\=\-\>\;\s\:\[\]]*(\;[\s]*\}\][\s]*\}|\)[\s]*\}\]))|(import\s\{\s?[a-zA-Z0-9\=\<\>\%]*LanguageService\s?\}\sfrom\s[\"|\']ng-jhipster[\"|\']\;)/g`

[2017-01-10 10:16] deepu105 commented on #4838
you can see it in action here http://regexr.com/3f1f2

[2017-01-10 10:21] shimopus commented on #4839
@deepu105 Why you are calling it business use case? For me social login business use case too by this logic.

We can not add new role and permission for it as Admin role already have all permissions. But we can add an option to prevent self-registration for the generated solution. Why not?

@gmarziou, @jdubois  What do you think?

[2017-01-10 10:25] jdubois commented on #4839
I'm sorry I don't have time for this at the moment. Looks indeed like a specific business case.

[2017-01-10 10:36] jdubois commented on #4301
You also need to test entities with Elasticsearch, with and without i18n at least.

[2017-01-10 12:35] gzsombor commented on #4839
I had to implement similar features, so I wouldn't say it's too far fetched.
We've ended up implementing 'feature switches' - which is just a map of keys and values stored in the database. And added to the public ones to a  ProfileInfoResponse-like DTO, so the client could act accordingly. But obviously I haven't created a module / generator for this.

[2017-01-10 12:36] jdubois commented on #4839
OK but anyway that's a lot of work and we need to focus on JHipster 4

[2017-01-10 13:50] VictorADS commented on #4794
What part of the app do you want to lazy load ? I was thinking about admin / account / entities module but that would be done within the routing files.

[2017-01-10 15:10] deepu105 commented on #4839
I have tried to add role management to Jhipster long ago exactly for such
reasons and then I gave up as there wasnt enough interest. I'm really
against adding such specific functionality in the core as we already have
enough complexity to manage now. Thats why I said it could be built as a
module. Else the best way to handle such requirements is to build a dynamic
role management into JHipster and

[2017-01-10 15:11] deepu105 commented on #4794
​I'm not very sure. I think now the majority of the time is spent in
compiling stuff. can we try to make sure that the vendor files are not
compiled during file changes in app first.​

Thanks & Regards,
Deepu

On Tue, Jan 10, 2017 at 2:50 PM, VictorADS <notifications@github.com> wrote:

[2017-01-10 16:00] Paul-Etienne opened #4840 "Model importation failing silently"
##### **Overview of the issue**

When running the command `yo jhipster:import-jdl file.jh`, the only result is :

The jdl is being imported.
paulo@paulo-laptop:\~/Documents/...$

So I am told that the importation is in progress and then nothing.

##### **Motivation for or Use Case**

If this is a repeatable problem to every project with the same configuration, this is a major issue preventing from

[2017-01-10 16:08] Sarevok117 opened #4841 "Datepicker and pagination not affected by internationalization"
##### **Overview of the issue**

Datepicker still has the bottom buttons in English even when another language is selected.
Days and months are all translated though.

The pagination, especially the "Showing n - n of n items." isn't translated either.

##### **Reproduce the error**

I simply generated an entity with a ZonedDateTime field and enabled the pagination.

##### **Suggest a Fix**

I fixe

[2017-01-10 16:11] VictorADS commented on #4794
I'm looking into DLL webpack plugin which might be what you want

[2017-01-10 17:26] jdubois commented on #4841
I remember coding this: indeed, the DatePicker isn't internationalized. This is an external component, from Angular UI, and its internationalization system doesn't really work well with Angular Translate.

-> it looks like you found a solution, so a PR is welcome

For the pager it's another issue, so that should be another ticket.

Anyway, this AngularJS 1 code, we're not going to improve it now,

[2017-01-10 17:28] jdubois commented on #4840
Can you try with the latest version? We've had 8 releases since JHipster 3.4.x, so this might be corrected now.

[2017-01-10 17:42] jdubois commented on #4840
I've just tested it on the master branch, using AngularJS 1 (in the master branch we have the new Angular 2 option), I couldn't reproduce.

As you have an old version, I guess this has been resolved in the mean time.

As the "import-jdl" option isn't very old, you probably have an unstable version -> can you try directly with JHipster UML? As you said, it was working fine, and in fact I've never h

[2017-01-10 17:42] #4840 closed

[2017-01-10 17:54] Paul-Etienne commented on #4840
Le problème est que la commande jhipster-uml ne fonctionne pas non pour
l'importation d'un modèle .jh pour jhipster-uml 2.0.0, cela renvoie une
erreur comme vu sur ce report :
https://github.com/jhipster/jhipster-uml/issues/210

Je vais essayer avec une version plus récente de JHipster plus tard ce soir
ou demain. Je vous tiens au courant.
Le seul souci étant que cela freine le développement de mo

[2017-01-10 17:59] deepu105 commented on #4840
English please

Thanks & regards,
Deepu

On 10 Jan 2017 6:54 p.m., "Paul-Etienne" <notifications@github.com> wrote:

[2017-01-10 18:07] Paul-Etienne commented on #4840
My apologies, I thought this conversation was only between Julien Dubois
and me.

I was saying that the jhipster-uml command doesn't work either for
importing a model, as stated in this report :
https://github.com/jhipster/jhipster-uml/issues/210 the command doesn't
deal with JDL files anymore.
Which leaves me no command to import my updated model.

I am going to try to reproduce the issue with th

[2017-01-10 18:21] pascalgrimaud commented on #4840
@Paul-Etienne : look old tickets. There are some same issues you mentionned
https://github.com/jhipster/generator-jhipster/issues/3870

I suggest you to use latest version of jhipster.
If you cant, you can look how these old tickets has been resolved and patch your forked projects.

[2017-01-10 18:42] pascalgrimaud commented on #4838
it seems to fix the issue. I'm doing the PR!
Thanks!

[2017-01-10 19:57] #4838 closed

[2017-01-10 20:22] gmarziou commented on #4839
Maybe I don't understand it the same way.
For me it's just about offering an alternative to self registration which is invitation, This could be very useful for social groups or for small working groups

[2017-01-10 20:25] ecukalla opened #4843 "Entity generator issue for one-to-one relation with User"
##### **Overview of the issue**

When I create a monolitic jhipster app configured as follow:

    cat .yo-rc.json
    {
      "generator-jhipster": {
        "jhipsterVersion": "3.12.2",
        "baseName": "testapp",
        "packageName": "com.company.testapp",
        "packageFolder": "com/company/testapp",
        "serverPort": "8080",
        "authenticationType": "jwt",
        "hibernateCa

[2017-01-10 20:45] jdubois commented on #4843
I just tried it (using the master branch, but as you're on 3.12.2 there shouldn't be a difference here), using your files, and I had no issue at all. I correctly have my list of users (using the IDs - of course that's not perfect and I would use the first/last name instead, but that's not the point).
Then I don't understand the second part of your ticket -> when you re-generate the app it does wor

[2017-01-10 21:00] jdubois commented on #4843
OK, you have this on the first time, and not when you regenerate, I can reproduce it!

[2017-01-10 21:02] ecukalla commented on #4843
Yes, the second time, or when you add something new to the Subscriber entity, the issue disappears.

[2017-01-10 21:04] jdubois commented on #4843
That's really a great ticket, because we can't test it with our CI (we keep regenerating projects, not doing one from scratch).
By the way I'll probably use the "login" instead of the "id", it's more useful.

[2017-01-10 21:18] #4843 closed

[2017-01-11 13:37] mikizdr commented on #936
@sdoxsee is quiet right. It should change the line:

$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

with this one:

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

in main.scss or index.scss or what ever *.scss file is named.

[2017-01-11 20:44] danielpetisme opened #4847 "Add FeignConfiguration to uaa server"
##### **Overview of the issue**
The uaa server centralises Authentication and Authorisation mechanism, thus it's responsible of the `User` concept. In a micro-services architecture the components interacts to get all the information. In the current design the uaa component isn't configured to use Feign.

##### **Motivation for or Use Case**

In my particular case, the User has a set of devices. Be

[2017-01-11 20:55] mydevalias commented on #1053
I noticed this happens a lot for me if one time I start the server normal and after I start it in debug. For now I did a quick fix and I threw RememberMeAuthenticationException instead of CookieTheftException in CustomPersistentRememberMeServices.getPersistentToken. This will redirect to main page and users can re-login

[2017-01-12 10:40] sergio-otero opened #4848 "[FEATURE] Add support for long paths in Windows for liquibaseDiffChangelog gradle task"
Gradle has a known problem with long classpaths in Windows, as it generates an exception "java.io.IOException: CreateProcess error=206, The filename or extension is too long"

http://stackoverflow.com/questions/39756475/execution-of-gradle-bootrun-fails

JHipster has already applied the workaround to the bootRun task but it's missing in liquibaseDiffChangelog in v3.12.2 as can be checked executing

[2017-01-12 10:45] atomfrede commented on #4848
Would you mind to create a PR with your changes?

[2017-01-12 10:47] deepu105 commented on #4848
we are already doing the manifest solution for gatling and prod build for
windows already> i wonder if there is a way to extract this into a common
method or somthing

Thanks & Regards,
Deepu

On Thu, Jan 12, 2017 at 11:45 AM, Frederik Hahne <notifications@github.com>
wrote:

[2017-01-12 12:47] liuyatao commented on #3166
How to deal with this problem?

[2017-01-12 12:48] liuyatao commented on #3166
How to deal with this problem?  @deepu105

[2017-01-12 13:48] PierreBesson commented on #3166
Please don't comment on an old issue.
For support requests please use Stackoverflow or Gitter and not the Github issue tracker, remember that we mostly work on JHipster during our free time.
Regards,
Pierre

[2017-01-12 18:15] ctamisier opened #4849 "liquibase:diff and required relation with entity generator"
##### **Overview of the issue**
When generating an entity with 'yo jhipster:entity' and specifying a required relation.
If we run 'mvn clean compile liquibase:diff', the changelog contains a dropNotNullConstraint.

the generator produces in the java class:
`@ManyToOne
    @NotNull
    private User user;`

##### **Motivation for or Use Case**

It is a required relation so we do not want a dropNotNu

[2017-01-12 18:31] gmarziou commented on #4849
Please include your .yo-rc.json as it could be related to your database or other options

[2017-01-12 18:36] marcelinobadin opened #4850 "Is there a reason to not have social login on gateway?"
I can see that there is a social login for JWT when I choose monolithic application and because of that I was wondering why we don't have social login when we are using microservices architecture?

[2017-01-12 18:47] jdubois commented on #4850
This is because we use JWT for securing the micro-services. We would need to generate a JWT token on the gateway, which is basically what we do with UAA: shouldn't be very hard to do, it's just we haven't done it yet. This is mostly because there isn't a lot of interest in Social login.

PR is welcome if anyone wants to do it.

[2017-01-12 18:47] #4850 closed

[2017-01-12 18:49] jdubois commented on #4849
Without your `.yo-rc.json` we can't test it, this highly depends on the database you use.

Then, you also need to check if it's a Liquibase bug or not, this might not be our fault at all.

[2017-01-12 18:49] jdubois commented on #4849
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-01-12 19:00] marcelinobadin commented on #4850
Ok, probably when a move my app from the monolithic to microservices I can work on this. Thanks.

[2017-01-12 21:16] ctamisier commented on #4849
I am adding some info about this issue, this will help me to find out if this can fixed on jhipster side or liquibase side.

I tried with postgres 9.6 and mysql 5.7.16 and I have this same behavior.

with those JPA annotations:
`@ManyToOne `
`@NotNull `
`private User user;`
Liquibase concludes that user can be null (not what we want).
It wouldn't be the case (I tried it) if the type is a String (n

[2017-01-12 21:29] jdubois commented on #4849
Re-opening this as you gave more information

[2017-01-12 21:31] jdubois commented on #4849
Yes you are correct, I don't think Liquibase picks up validation annotations -> what you suggest makes sense, can you test it?
Then that could be an easy PR if you want to do it (otherwise we can do it, of course, but it's just so you get credit for your work)

[2017-01-12 21:36] jdubois commented on #4841
I'm closing this as this is a limitation in JHipster 3.x (it comes from an external component, not our specific code), and it will be replaced in JHipster 4 (where we probably still have this kind of issue).
If anybody wants to improve this, a PR is definitely welcome.

[2017-01-12 21:36] #4841 closed

[2017-01-12 21:44] ctamisier commented on #4849
Yes I will check the entity generator code.

Actually I realized that it does not work even with a String type. (The entity generator adds nullable=false on the `@Column`, and I didn't pay attention to this :( ).

So it does not intelligently picks up on the `@NotNull` annotation as I mentionned.

So the work would be to add `@ManyToOne(optional = false)` when we choose that the field is required.

[2017-01-12 22:03] jdubois commented on #4372
Closing this as it's very complex, and we should focus on JHipster 4 at the moment, see the PR at https://github.com/jhipster/generator-jhipster/pull/4403#issuecomment-272292087 for more info

[2017-01-12 22:03] #4372 closed

[2017-01-12 22:07] ctamisier commented on #4849
there are 2 solutions and both works (I tried):
either modifying `@ManyToOne(optional = false)`
or adding a new annotation`@JoinColumn(nullable = false)`

[2017-01-12 22:09] jdubois commented on #4847
@xetys you're the boss on this part, can you take a look?
@danielpetisme I guess it's just that this wasn't coded yet, I'm not sure there's any issue or tricky part here

[2017-01-12 22:10] jdubois commented on #4849
I haven't tested, but doing `@ManyToOne(optional = false)` is one less line, and easy to read, so I would go with this.
Can you make the PR? Have a look at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md it's honestly not that difficult

[2017-01-12 22:24] ctamisier commented on #4849
Yeah I did the change but I want to run it locally.
I did `ln -s ~/projects/generator-jhipster generator-jhipster` in my `/usr/local/lib/node_modules` like I do when I want to try a local generator-jhipster.

But it does use the templates in the generator/server directory but not the ones in generator/entity as I updated `_Entity.java` file...

[2017-01-12 22:27] jdubois commented on #4849
You need to do a "link" in the project itself (same as doing a "ln -s" in fact...), see https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#setup

BTW this isn't updated for JHipster 4, and we now support Yarn -> works exactly the same, but much faster!

[2017-01-12 22:31] ctamisier commented on #4849
Ok I got it

[2017-01-13 03:14] nghib opened #4855 "Cannot find module 'randexp' issue"
#### **Overview of the issue**

yo jhipster:entity FileStore --regenerate

module.js:471
    throw err;
    ^

Error: Cannot find module 'randexp'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)

##### **Reproduce the error**

FileStore.json
{
    "fluentMet

[2017-01-13 03:22] nghib opened #4856 "Failed to generate Blob, AnyBlob, ImageBlob, TextBlob types"
#### **Overview of the issue**

yo jhipster:entity FileStore --regenerate

Found the .jhipster/FileStore.json configuration file, entity can be automatically generated!

The entity FileStore is being updated.

events.js:160
      throw er; // Unhandled 'error' event
      ^

TypeError: /Users/nghib/spring/generator-jhipster/generators/entity/templates/server/src/test/java/package/web/rest/_EntityR

[2017-01-13 05:36] pascalgrimaud commented on #4855
Plz use yo jhipster:info
So we have your .yo-rc.json to reproduce and all version about your tools too

[2017-01-13 05:37] pascalgrimaud commented on #4856
Same comment
Plz use yo jhipster:info
So we have your .yo-rc.json to reproduce and all version about your tools too

[2017-01-13 05:52] nghib commented on #4855
this is my .yo-rc.json

{
  "generator-jhipster": {
    "baseName": "myapp",
    "packageName": "com.rf.myapp",
    "packageFolder": "com/rf/myapp",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": false,
    "websocket": "spring-websocket",
    "databaseType": "sql",
    "devDatabaseType": "h2Memory",
    "prodDatabaseType": "

[2017-01-13 05:52] nghib commented on #4856
this is my .yo-rc.json

{
  "generator-jhipster": {
    "baseName": "myapp",
    "packageName": "com.rf.myapp",
    "packageFolder": "com/rf/myapp",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "hibernateCache": "ehcache",
    "clusteredHttpSession": false,
    "websocket": "spring-websocket",
    "databaseType": "sql",
    "devDatabaseType": "h2Memory",
    "prodDatabaseType": "

[2017-01-13 07:08] gmarziou commented on #4855
If Pascal asked you to paste infos from Plz yo jhipster:info, it's because it lists also your environment like nodejs version, etc... your .yo-rc.json file is not enough.

[2017-01-13 07:13] gmarziou commented on #4856
@nghib, If Pascal asked you to paste infos from `yo jhipster:info`, it's because it lists also your environment like nodejs version, etc...
Your `.yo-rc.json` file is not enough.

[2017-01-13 07:18] gmarziou commented on #4823
I put this on hold until we clarify whether we support both ui-router and ng router or only ng-router.

[2017-01-13 07:21] kaidohallik commented on #4855
I think `npm install` or `yarn install` should fix the problem. New module in `package.json`.

[2017-01-13 07:33] sergio-otero commented on #4848
I'm not an expert in NodeJS, Yeoman, etc., but I'll give it a try this weekend

[2017-01-13 07:36] seawenzhu commented on #4855
Hi, I have the same issue:
➜  dos-server git:(dev) yo jhipster:entity factory
module.js:471
    throw err;
    ^

Error: Cannot find module 'randexp'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/Users/seawenzhu/GitHub/generator

[2017-01-13 07:49] kaidohallik commented on #4855
It's possible that `npm link` or `yarn link` should be re-executed in generator-jhipster folder. It's possible that must run `npm link generator-jhipster` or `yarn link generator-jhipster` in generated project folder.

[2017-01-13 07:57] kaidohallik commented on #4855
Clarification: `npm install` or `yarn install` should be executed in linked `generator-jhipster` folder.

[2017-01-13 08:05] pascalgrimaud commented on #4855
@Kaidohallik is right. As you use master version, the main package.json can change so you have to update your libs when needed, with yarn or npm

[2017-01-13 08:05] #4855 closed

[2017-01-13 08:10] seawenzhu commented on #4855
Hi all after rerun after npm link, it is working now. Thanks!
So after every I update generator-jhipster source code, I should run
1.  npm link in generator-jhipster source code folder
2. npm link generator-jhipster in my project folder

[2017-01-13 08:11] jdubois commented on #4855
Yes I merged a PR last evening that was using it, so if you're on the master branch you need to do an "npm install".
Totally normal stuff with NPM, but not easy at first time (I always have the issue myself!!)

[2017-01-13 08:20] jdubois commented on #4849
Closing as the PR is merged

[2017-01-13 08:20] #4849 closed

[2017-01-13 08:20] jdubois commented on #4849
Thanks @ctamisier for the PR!!

[2017-01-13 08:23] jdubois commented on #4856
I'm seeing `"clientPackageManager": "yarn"` here, so you're on the master branch, this hasn't been released yet.
We can't support what's on the master branch, this is currently being developed, and not ready to use. So that's perfectly normal you have issues, please use a released version if you want to have something stable.

[2017-01-13 08:23] #4856 closed

[2017-01-13 08:38] pascalgrimaud commented on #4856
I just wonder if it's possible to have `"fieldType": "Blob"` in your json file
It should be `image`, `any` or `text`, according to this code: https://github.com/jhipster/generator-jhipster/blob/master/generators/entity/prompts.js#L601-L622

Any way, you didn't give information, on how you generate the json file: with entity sub generator, with jdl studio, etc...

[2017-01-13 10:04] jdubois commented on #4407
I checked the "sass" item: just tested it, it works very well

[2017-01-13 14:14] xetys commented on #4847
there are the good news and the bad news...

the good: if you just copy all the things into the UAA to retrieve information from other services using OAuth 2 client auth flow, then it will simply work as expected.

The less good: despite the UAA works along the OAuth2 protocol, it initially performs a auth request to itself, to to log itself in, to get a token. In theory the UAA could skip this st

[2017-01-13 14:26] ramzimaalej commented on #4302
@mohamed2a can we pair on that ?

[2017-01-13 15:58] MitchDresdner opened #4859 "Error: State 'settings' is already defined"
##### **Overview of the issue**

JHipster Generator v3.12.2

Following the Matt Raible - JHipster mini-book I created the sample entities, after which the UI stopped displaying and I found the following stack trace:

Uncaught Error: [$injector:modulerr] Failed to instantiate module minibookApp due to:
Error: State 'settings' is already defined
    at registerState (http://localhost:8080/bower_comp

[2017-01-13 16:00] MitchDresdner commented on #4859
Seems using the table name 'settings' caused a collision in the namespace  :)

[2017-01-13 17:02] jdubois commented on #4859
@deepu105 should we add all our default "states" to our "reserved keywords"? Like "password", "register", "sessions", "audit", "configuration".... Why don't we use a prefix for those?

[2017-01-13 17:41] jdubois commented on #4847
OK so I guess there is a solution for the moment, and if @xetys has the time, and if enough people want this, this could be improved and part of JHipster.
As UAA is still in beta, and this seems to be quite specific, I'm closing this -> first we release a version that works, then we improve it :-)

[2017-01-13 17:41] #4847 closed

[2017-01-13 18:52] deepu105 commented on #4859
I think we could. it wasnt added since no body complained I guess

Thanks & Regards,
Deepu

On Fri, Jan 13, 2017 at 6:02 PM, Julien Dubois <notifications@github.com>
wrote:

[2017-01-13 20:15] gmarziou commented on #4859
As reported the problem exists in angular 1 but I amde some test and it exists also in ng2 and modules don't help because ui-router has only one namespace for state names.
My test was to change name of healthState from "jhi-health" to "settings" and it fails even though conflicting states are in 2 modules: AdminModule and AccountModule.

This cannot happen with ng2 router because there are no stat

[2017-01-13 21:38] jdubois commented on #4859
Of course, that's stupid of me: the URL should be unique, as the REST endpoints, so what I said makes no sense at all :-)
Then there is always the trick of using a prefix, but many people dislike to have "jhi" everywhere, and we decided to keep those to a minimum.

So, as this has been working for ages without any issues, let's keep the current names/features, but limit the names in our reserved k

[2017-01-13 22:06] jdubois commented on #4859
More information on the URL conflict (not just the state conflict, like @gmarziou ): with Angular 2, you can indeed create 2 components with the same URL, in 2 different modules. I just created one entity called "Configuration", and it works. Of course, that's pretty stupid, because you have twice the same URL, and they both work when you click on them from the navbar!! And in case you wonder, whe

[2017-01-13 22:17] #4859 closed

[2017-01-13 22:47] ecukalla opened #4860 "Issue with camel case entity when doing a many to many relation"
##### **Overview of the issue**

On a microservice jhipster app I add two entities `Channel(name, description)` and `ProductData(name,number)`
Than I do a many to many relation owned by ProductData. After `yo jhipster:entity` is finished and I try to start (./mvnw) the app or test (./mvnw test) or even open it on an IDE I'll get errors.

    ➜  micro git:(master) ✗ ./mvnw
    [INFO] Scanning for p

[2017-01-13 22:57] jdubois commented on #4860
This has already been corrected by https://github.com/jhipster/generator-jhipster/commit/8a5d0474dac240663254ee7d4c7eb1562b87a4a4

Yes this is a tricky bug, we should do a release for this soon

[2017-01-13 22:57] #4860 closed

[2017-01-14 00:03] mohamed2a commented on #4302
Okey @ramzimaalej

[2017-01-14 08:49] ggaulard opened #4862 "Missing file with angular 2 and social"
##### **Overview of the issue**

Missing file

##### **Reproduce the error**

After generating the angular 2 (on master branch) with social there is a missing file:
There it is:
Module not found: Error: Can't resolve './login.component.html' in '/Users/ggaulard/Workspace/zenika/platon/src/main/webapp/app/account/social'

##### **JHipster Version(s)**

"jhipsterVersion": "3.12.2",

##### **JHipster

[2017-01-14 08:53] jdubois commented on #4862
Hey welcome back @ggaulard :-)
To everyone on the team, we own *a lot* to @ggaulard because he's the one who created our logo!!

To answer your question, it's probably not finished yet (not sure we coded the social login yet for Angular 2!!).

[2017-01-14 09:21] jdubois commented on #4862
I just checked https://github.com/jhipster/generator-jhipster/issues/4301 and indeed that's not tested, and probably not coded yet.

For Angular 2 we are only focusing on the "default" options at the moment, but having most of the options (like this one) shouldn't be very hard.

This allows us to work on a much better developer experience than what you currently have, and hopefully release somethi

[2017-01-14 09:21] #4862 closed

[2017-01-14 11:05] danielpetisme commented on #4847
Since my user was involved in a bidirectionnal relation, I deported the details to the other service and add `<not-uaa-service>/api/users/` and `<not-uaa-service>/api/account` endpoints. From a design point of view is not completely stupid (even if I would prefer to gather routes).

@xetys I think having a kind of loopback authentication for the uaa service isn't chocking in a first implementation

[2017-01-15 00:36] mfalzetta commented on #3616
For that another person wate time.

My problem is because i have data in my data base saved in a application version generated from jHipster without Elasticsearch.
After update for version with Elasticsearch the old data is not found and a error "error.internalServerError"is shoed in the page.

[2017-01-15 00:39] jdubois commented on #3616
Yes you need to index the old data, of course. There's a reindexer module but I have never used it.

[2017-01-15 00:56] mfalzetta commented on #3616
If you can answer me, please...

My entity search, only works for one field.

Im try to understand why, because i ready this "Search superpowers are also added to the AngularJS UI, so you can search in your entity’s list screen."

You have a suggestion where to look in code/configuration?

Thanks a lot.

[2017-01-15 01:07] jdubois opened #4866 "Marketplace is broken again"
Going to https://jhipster.github.io/modules/marketplace/#/list only shows 10 modules, when there should be 31.... Maybe they added some pagination ?

[2017-01-15 01:09] mfalzetta commented on #3616
Sorry, works perfect!
I was looking for indexed data.

[2017-01-15 01:27] nghib commented on #4856
Thanks @pascalgrimaud so much. It's my bad. I mapped jdl datatypes to json entity and It's not identical. I enjoy hacking .json entities directly because feeling debug jdl take more time.

[2017-01-15 09:16] jdubois opened #4867 "Remove the use of the Web layer in the service layer"
As discussed in #4865

We have some Web/REST objects being called from the service layer, which is an architecture error, and causes package tangling (this should be seen by Sonar, I need to check).

Typically, the `ManagedUserVM` shouldn't be used in the service layer, that's why we have a `UserDTO`-> the `VM` is for "View Model", that's used for displaying in the Angular/HTML views, and the `DTO

[2017-01-15 09:46] deepu105 commented on #4866
Hey there is a new official npm search api. May be ill give that a shot

Thanks & regards,
Deepu

On 15 Jan 2017 2:07 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-01-15 10:04] jdubois commented on #4866
Yes that's the way to go if that supports CORS... By the way we have the same issue with the "install modules from the marketplace" question in the generator, so this also needs to be changed (and in that case couldn't we use the NPM CLI? How is Yeoman doing this?) - @gzsombor you coded this part, does this make sense to you?

[2017-01-15 11:42] gzsombor commented on #4867
In my opinion, the DTO-s should be returned from the service layer - and calling the service layer from the web layer should use DTO-s as well - so the web layer doesn't depend on the back-end domain model. This has the following advantages, at least:
* You can create and ship a separate API modul - which just contains the necessary DTO's, which can be used in any java based rest client, without e

[2017-01-15 12:17] jdubois commented on #4867
@gzsombor we totally agree for the DTO -> the VMs are different, they are only needed for displaying on the Web layer, something specific.

So we have:

- Entities by default: that's the easiest to use and manage
- DTOs as an option, served by the service layer: better for everything you just said, including lazy loading and business rules
- VMs as an option, served by the Web/REST layer: only for

[2017-01-15 12:46] deepu105 opened #4868 "Ng2: Webpack + Maven build workflows"
A discussion about optimal dev workflow for the new Ng2 option started here https://github.com/jhipster/generator-jhipster/pull/4858#issuecomment-272567120

So I propose the below options. I would like to know if you guys agree @jhipster/developers @jdubois @gmarziou @VictorADS @cbornet

**Generator:**
After generation is complete run `yarn install && yarn webpack:build` so that when maven/gradle

[2017-01-15 13:29] jdubois commented on #4868
There should be an option to run Webpack with only the "main" build: most of the time, the "vendor" will not move, so there is no need to rebuild it all the time, and that will make start up a lot faster.
Otherwise I totally agree.

[2017-01-15 14:08] gmarziou commented on #4868
Fully agree also.

Yes, it could be named "webpack:dev:main" or "webpack:dev:app"

angular-cli has 2 tests scripts, "test:watch" is really useful for TDD sessions.

[code]

[2017-01-15 14:16] gmarziou commented on #4868
Minor detail but could `yarn webpack:build` be run automatically by `postinstall` after install?

This way maybe we could have "webpack:dev" only watch at main as any change in deps would require a `yarn install`.

[2017-01-15 17:01] gmarziou opened #4871 "Heroku deploy fails on Windows because of lack of wildcard expansion"
##### **Overview of the issue**

Running on Windows, `yo jhipster:heroku` fails when uploading jar file because command prompt does not expand wilcard like `target\*.war` before passing it to heroku deploy task.

Moreover, it would not work because what is passed uses forward slashes.

##### **Motivation for or Use Case**

To show some love to our Windows users ;)

##### **Reproduce the error**

[

[2017-01-15 17:05] gmarziou commented on #4871
@jkutner are you still maintaining the heroku sub generator? What do you think of doing the wildcard expansion in the sub  generator?

[2017-01-15 18:32] deepu105 commented on #4868
pk we can an app only build option for people who wants that but not sure if many will use that as the time difference wont be that huge.

@gmarziou we already have `test` and `test:watch`
and yes the build ca be a postInstall step as well

[2017-01-16 08:56] Paul-Etienne commented on #4840
Sorry for the late answer, I've tried running the command `yo jhipster:import-jdl` on a fresh install of the latest version of JHipster (being 3.12.2) and it's working.

My problem is that it's not working on my updated project, I'm having the same issue.
The thing is, there seems to be a problem with the upgrade process as this is the result of a jhipster:info :

##### **JHipster Version(s)**

[c

[2017-01-16 11:08] VictorADS commented on #4868
Wouldn't it be easier if we could dynamically load the vendor with a shell script in the webpack config ?
That way running `yarn run webpack:dev` would create the vendor bundle only if it is not present

[2017-01-16 12:09] lancescape opened #4875 "yo jhipster:heroku not working properly after 'heroku destroy [app name]'"
##### **Overview of the issue**
heroku destroyo [app name]  will make make future "yo jhipster:heroku' and such commands not work any more  due to missing herokuAppName on server

issues the yo:jhipster heroku command will result in
[code]

##### **Motivation for or Use Case**

##### **Reproduce the error**
execute
yo jhipster:heroku
heroku destory [herokuAppName]

##### **Related issues**

#####

[2017-01-16 12:16] jdubois commented on #4867
@gzsombor I'm pretty sure we agree here, there is just a small misunderstanding: I'm going to refactor this in a branch, and let you have a look.

[2017-01-16 13:17] deepu105 commented on #4868
Please no shell script magic

Thanks & regards,
Deepu

On 16 Jan 2017 12:08 p.m., "VictorADS" <notifications@github.com> wrote:

[2017-01-16 13:31] Rosetjau opened #4876 "Use Oracle12cDialect instead of Oracle10gDialect"
##### **Overview of the issue**

Use the Hibernate dialect for the current Oracle Database version

##### **Motivation for or Use Case**

According to the [official documentation](https://jhipster.github.io/using-oracle/) only Oracle version 12c or higher is supported. However if you choose Oracle as your persistence layer the generated application will use the dialect for Oracle 10g instead of Or

[2017-01-16 13:40] jdubois commented on #4876
Sounds great to me, our only problem is that we don't have an Oracle license, so we can't test -> if you have the opportunity to test, yes please do the PR

[2017-01-16 13:45] Rosetjau commented on #4876
Ok, as soon as I have an Oracle instance up I will test and then make a pull request.

[2017-01-16 13:55] VictorADS commented on #4868
Even something as simple as this ? I'm only using node api
[code]

[2017-01-16 14:00] jkutner commented on #4871
Yes, I'm maintaining. I'll get this fixed.

[2017-01-16 14:19] jdubois commented on #4867
@gzsombor please have a look at #4877 and tell me what you think

[2017-01-16 14:39] jdubois commented on #4875
@jkutner I affected the issue to you, is this OK with you?

[2017-01-16 14:54] jkutner commented on #4875
@jdubois yes, please continue to do this or I will miss issues related to Heroku.

[2017-01-16 15:02] #4871 closed

[2017-01-16 15:55] jdubois commented on #4848
@sergii-ostroverkhov did you have the time to test this during the week-end?

[2017-01-16 16:22] sergii-ostroverkhov commented on #4848
@jdubois I guess, you have meant @sergio-otero

[2017-01-16 16:25] jdubois commented on #4848
Oh sorry @sergii-ostroverkhov it autocompleted your name because you also contributed to the project!
Too many contributors :-)

[2017-01-16 16:26] #4867 closed

[2017-01-16 17:03] #4188 closed

[2017-01-16 18:04] deepu105 commented on #4868
if you using only javascript and node API then no probs I thought you were
talking about bash scripts

Thanks & Regards,
Deepu

On Mon, Jan 16, 2017 at 2:55 PM, VictorADS <notifications@github.com> wrote:

[2017-01-16 18:27] xetys opened #4882 "gateway fails to start with UAA"
##### **Overview of the issue**

This is a issue for my self. Our current gateway fails to start, when configured using UAA.

Failing cause is:

[code]

##### **Reproduce the error**

just generate an uaa gateway and try to start

##### **Suggest a Fix**

I don't know exactly, which new component requires the userDetailsBean, and if it is needed on gateway when auth is uaa, and user management is

[2017-01-16 18:39] pascalgrimaud commented on #4882
@xetys : it's strange because Travis build for uaa is green... did you have a look to the logs of our Travis build?

[2017-01-16 20:31] deepu105 opened #4884 "Travis tests are flaky"
Our travis builds are acting very flaky recently. We had to restart several jobs to get it pass.
Here is an example https://travis-ci.org/jhipster/generator-jhipster/jobs/192443191

Most of the times the failure is from Protractor and sometimes JWT or cassandra builds

Its really annoying and time wasting

cc @pascalgrimaud @jdubois

[2017-01-16 20:32] deepu105 commented on #4876
When I coded the feature there was no 12c dialect and the latest I git was 10g though 12c DB was there.
But if it works without any issues and if you can test it then please PR

[2017-01-16 20:41] deepu105 commented on #4866
I'm gonna give https://npms.io/ a shot which is the search engine used by NPM cli and yes from the generator we should be able to use it

https://npms.io/search?q=keywords%3Ajhipster-module

[2017-01-16 20:54] pascalgrimaud commented on #4884
Yes I notice that since we migrate from firefox to chrome. I try to analyse the reason but it's really hard because it's totally random.

So sorry @deepu105 but be sure as soon as it's possible, I ll try to reduce these random failures.

[2017-01-16 20:56] mraible commented on #4884
One of the reasons I switched to Firefox last year was because I saw issues with Chrome and logging out. Sometimes it worked, sometimes it didn't. It always worked with Firefox. However, it looks like there's still issues with Protractor and the latest Firefox. https://github.com/angular/protractor/issues/3750

[2017-01-16 21:22] sergio-otero commented on #4848
Just submitted the PR.

Testing in Windows i found that depending on the order of 'configurations.liquibase.plus' vs 'sourceSets.main.runtimeClasspath' i get a runtime error 'Unexpected error running Liquibase: liquibase.structure.core.ForeignKey.addForeignKeyColumn(Lliquibase/structure/core/Column;)Lliquibase/structure/core/ForeignKey;'

The problem is that the classpath has 'liquibase-core-3.5.3

[2017-01-16 22:30] gmarziou commented on #4871
Thanks a lot @jkutner, I tested your fix successfully.

[2017-01-16 23:46] ruddell commented on #4188
Tested and it seems fixed, but we lost an entity state...  The entity-detail.edit state is now merged with entity.edit, resulting in a weird UX (the state in the background of the dialog shows the entity listing).  Do we want to add the state back?  It might cause this issue again

[2017-01-17 03:54] anjia0532 opened #4887 "microservice use mysql-docker insert unicode throw SQLException"
exception like this

[code]
PR #4886

[2017-01-17 07:58] jdubois commented on #4887
Closing as Pr is merged.

[2017-01-17 07:58] #4887 closed

[2017-01-17 07:59] jdubois commented on #4884
Most failures I had recently were legitimate, I didn't notice that.
I'll be more careful about it.

[2017-01-17 08:21] anjia0532 opened #4888 "openjdk+cxf throw java.lang.ClassNotFoundException"
i know it's not jhipster's bug .

my microservice need invoke other SOA service and i choose cxf.

pom.xml

[code]

i build docker image and run it , throw exception  `java.lang.ClassNotFoundException: com/sun/tools/internal/xjc/api/XJC`

i modify `\src\main\docker\Dockerfile` change `FROM openjdk:8-jre-alpine` to `FROM java:8` rebuild and run it, it's ok.

[2017-01-17 08:25] hookszhang commented on #4888
Include the cxf-rt-core in your Maven dependencies.

[2017-01-17 08:39] jdubois commented on #4888
Indeed, not a JHipster bug...

[2017-01-17 08:39] #4888 closed

[2017-01-17 08:39] anjia0532 commented on #4888
@hookszhang thanks , but it's not work([like this](http://stackoverflow.com/questions/13039670/apache-cxf-dynamic-client-creation#answer-30467528)).i follow the [first page](http://stackoverflow.com/search?q=java.lang.ClassNotFoundException%3A+com%2Fsun%2Ftools%2Finternal%2Fxjc%2Fapi%2FXJC) in the stackoverflow and it's not work before i change the openjdk to oracle jdk

[2017-01-17 09:39] xuyukuan opened #4889 "Ng2: sort directive throw error"
##### **Overview of the issue**
I run ng2 version and open the user management page. then I try to click the sort field to sort data, but no response, I open the console and got below error:

I debug the code and find the line which throw the error:
[code]

[2017-01-17 09:46] jdubois commented on #4889
Yes we know it, it's one of the last remaining things to be coded at #4407

[2017-01-17 09:46] #4889 closed

[2017-01-17 09:47] #4866 closed

[2017-01-17 09:51] #4848 closed

[2017-01-17 10:26] sergio-otero commented on #4450
I've made tests with a 5M row table in MySQL and it takes 1.2s to perform the select count
When executing Gatlin tests, i receive timeouts because the pool gets full.
Changing to Slice solves the problem and the performance is very good: 5-20ms

[2017-01-17 10:36] jdubois commented on #4848
Liquibase should be at version 3.5.3, it's probably a mistake in the Gradle build -> I'm upgrading it and linking it to this ticket.

[2017-01-17 11:21] jdubois commented on #4876
When you do the change, please do a search on the whole project, `Oracle10gDialect` is used 4 times normally

[2017-01-18 00:28] gmarziou commented on #4794
Maybe an additional task:

- [ ] add some needles for modules, for instance in `vendor.ts`.

[2017-01-18 00:58] gmarziou commented on #4549
Maybe an additional task unless you want it for after the release:

- [ ] add some needles for modules, for instance in `vendor.ts` and `vendor.css`

[2017-01-18 08:19] deepu105 commented on #4794
Yes I missed it

Thanks & regards,
Deepu

On 18 Jan 2017 1:28 a.m., "Gaël Marziou" <notifications@github.com> wrote:

[2017-01-18 09:55] bahadyr opened #4892 "JHipster Websocket"
##### **Overview of the issue**

I have a jhipster generated spring boot web app. I added websocket support from spring boot site (https://spring.io/guides/gs/messaging-stomp-websocket/).

App fails when starting in a docker container. But work normally on localhost.

[code]

[2017-01-18 09:58] jdubois commented on #4892
Please follow our guidelines.... We don't even have a version number here, how are we supposed to work!
Besides, I see in your stacktrace you use Webjars in your app, which is something we certainly don't do, so I have no idea what you did after generating the app.

[2017-01-18 09:58] jdubois commented on #4892
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-01-18 09:58] #4892 closed

[2017-01-18 10:30] jdubois commented on #4407
Checked the "sort" item because of #4893

[2017-01-18 10:30] jdubois commented on #4889
Should be OK soon, see #4893

[2017-01-18 10:46] nebrass commented on #4564
This issue still happens in **3.12.2**, as @pascalgrimaud mentionned before, there is always a missing `import com.hazelcast.config.MapConfig;` in `CacheConfiguration.java`

[2017-01-18 11:05] jdubois commented on #4564
@nebrass I don't understand your issue, we don't allow this configuration anymore, were you able to "force" it somehow?

[2017-01-18 12:44] nebrass commented on #4564
@jdubois I did'nt change anything in the generator neither in the config files. I just used the version 3.12.2 to generate an application:

[code]

After the project is created, there is a missing `import com.hazelcast.config.MapConfig; in CacheConfiguration.java` as @pascalgrimaud  mentionned before.

I hope these details will help to solve this issue.

[2017-01-18 12:56] pascalgrimaud commented on #4564
Probably because when selecting mongodb, you don't have the question with "do you want to use Hibernate 2nd level cache -> no / yes with ehcache / yes with Hazelcast"

Maybe related to this commit @jdubois : "Remove the option to use ehcache 2nd level cache AND Hazelcast session clustering" -> https://github.com/jhipster/generator-jhipster/commit/afa9064c10ad75a7e356d06539cde662442965c6#diff-bf48b

[2017-01-18 13:03] nebrass commented on #4564
@pascalgrimaud I updated my question, I added this:
The method that the returns the `MapConfig` is :
[code]
Which is a private class, and never used. Is this expected to be used elsewhere?

[2017-01-18 16:58] jdubois commented on #4564
Oh, OK, that's why we ask your `.yo-rc.json` files in the requirements -> there is a case where this does makes sense, I'm reopening this and I'll test this soon.

[2017-01-18 17:29] deepu105 commented on #4884
@pascalgrimaud since its mostly protractor can we try to catch if there is a failure and retry once again just the protractor step?
I know its not a solution but I'll rather have that then to go and restart builds manually

[2017-01-18 18:09] #4564 closed

[2017-01-18 18:29] pascalgrimaud commented on #4884
@deepu105 : it's sound ok for me. I will give a try

[2017-01-18 22:20] mraible opened #4900 "Error when using Sass with latest master branch"
[Reported on Twitter](https://twitter.com/wstidolph/status/821790225332510720), by someone trying to build the blog from my [Get Started with JHipster 4](http://www.eclipse.org/community/eclipse_newsletter/2017/january/article3.php) article.

##### **Overview of the issue**

[code]

##### **Motivation for or Use Case**

Project won't build.

##### **Reproduce the error**

`npm link` on latest mast

[2017-01-18 22:51] gmarziou commented on #4900
Wasn't it fixed by #4851 ?

[2017-01-19 00:20] wstidolph commented on #4900
I'm the one who reported a problem to  Matt via twitter. My issue manifested a bit differently - after the app was generated (no reported problems) it fails on first .\mvnw with an npm complaint about not finding a node-sass binding for Win10 64 bit node 6. I got the same error whether I started by copying in Matt's .yo-rc and running ```yo jhipster``` or running ```yo jhipster``` and answering th

[2017-01-19 05:18] svict4 commented on #3821
I was having this issue on a newly generated project on Windows 10 as well.
The problem was [reported to Gradle ](https://github.com/gradle/gradle/issues/882) and has been[ fixed recently](https://github.com/gradle/gradle/pull/1155).

Either wait for Gradle's new version to propagate downstream, or update to the fixed nightly build directly by going into `<jhipster installation>\gradle\wrapper` an

[2017-01-19 06:31] jdubois commented on #4868
@VictorADS is there anything else to do here? Let's close this !

[2017-01-19 07:48] jdubois commented on #4900
Interesting... On a related note, we officially only support LTS releases of Node, so currently this is Node 6.
But, if you're using Homebrew on Mac (which I do, and which I expect most people do), if you install Yarn, it will bring Node 7 as a transitive dependency. So in the end, most people (including me) are using Node 7...

[2017-01-19 08:33] VictorADS commented on #4868
@jdubois I guess you can close it

[2017-01-19 09:50] nebrass commented on #4564
I tested it, and it's working like a charm :+1:
Thank you @jdubois & @pascalgrimaud ! :smile:

[2017-01-19 10:02] deepu105 commented on #4900
I had no issues with node sass on windows 10 with node 6. So i guess there
might be somthing wrong with the way you have setup your environment. you
could try to install node-sass globally to see if it solves the issue

Thanks & Regards,
Deepu

On Thu, Jan 19, 2017 at 8:48 AM, Julien Dubois <notifications@github.com>
wrote:

[2017-01-19 10:03] deepu105 commented on #4868
@jdubois nope its not fully done yet as I still need to improve this as per my proposal. So plz keep it on

[2017-01-19 10:14] jdubois commented on #4564
@nebrass thanks for testing!!!!! This is really tricky code, and it was refactored by the Hazelcast and the ehcache teams, so I'm really happy you could test it.

[2017-01-19 10:15] jdubois commented on #4868
OK @deepu105 keep us posted!

[2017-01-19 11:47] jdubois opened #4904 "Refactor the use of SecureRandom in the persistent token (for session authentication)"
We have several issues with the way we generate the persistent token for session authentication:

- We use a `Base64` class from Spring Security which is documented as "for internal use"
- The `SecureRandom` can generate `/` characters, and there is a new security mechanism in Spring Security that forbids to use of `/` as a query parameter when it is encoded in base64 (so this HTTP request will fa

[2017-01-19 11:56] #4904 closed

[2017-01-19 12:08] jdubois commented on #4900
Closing as this seems solved

[2017-01-19 12:08] #4900 closed

[2017-01-19 12:36] mohamed2a commented on #4768
I noticed that a lot of karma tests related to angularJs have been removed, why ? look at [the karma spec folder](https://github.com/jhipster/generator-jhipster/tree/master/generators/client/templates/angularjs/src/test/javascript/spec/app)

[2017-01-19 12:45] PierreBesson opened #4905 "Create a property for the JHipster Registry password"
While working on deploying microservices to Kubernetes I noticed something that we could improve.
Here :
[code]
This is not really good as it mixes up the secret "admin" with the configuration for the registry host. The secret should be in a separate environment variable.

This is particularly bad if we want to transmit the serviceUrl host with the config server then it should not contain the secr

[2017-01-19 13:53] deepu105 commented on #4768
Yes we need to put them back

Thanks & regards,
Deepu

On 19 Jan 2017 1:36 p.m., "Mohamed AIT ABDERRAHMAN" <
notifications@github.com> wrote:

[2017-01-19 14:56] jdubois commented on #4905
Yes, please put it in the JHipster lib

[2017-01-19 14:56] mohamed2a commented on #4768
I deleted the comment :

Because I just found out that they are always here :)

[2017-01-19 15:39] mraible opened #4909 "Upgrade to webpack 2.0.0"
Now that [webpack 2.0.0 is released](https://www.infoq.com/news/2017/01/webpack-2-final-documentation), we should upgrade to it.

I tried and failed. Here's my .yo-rc.json:

[code]

Here's my `package.json` with updated dependencies (using `npm-check -u`):

[code]

And finally, here's a [DZone article](https://dzone.com/articles/migrating-to-webpack-2-some-tips-and-gotchas-a-gee) that explains iss

[2017-01-19 19:14] gzsombor commented on #4407
Checked the 3 tracker issue, it's seems to be working - the logout problem was fixed by #4908, the other two were #4819 I believe.

[2017-01-19 20:59] jordanbaucke opened #4910 "NoClassDefFoundError org/hibernate/bytecode/instrumentation/internal/FieldInterceptionHelper"
##### **Overview of the issue**

When attempting to deploy application to Tomcat8 container, I received a "NoClassDefFoundError":

##### **Motivation for or Use Case**

I was unable to deploy my application to Tomcat8 application container.

##### **Reproduce the error**

Tomcat8 install:
[code]

##### **Suggest a Fix**
Added the following dependency (Gradle)
`    compile "org.hibernate:hibernate-

[2017-01-19 21:18] gmarziou commented on #4910
Looks like a classpath issue between spring boot and tomcat 8. Definitely not aJHipster issue.

[2017-01-19 21:18] #4910 closed

[2017-01-20 01:43] edwardbeckett commented on #1185
FWIW ~  I manually scripted both `dbo.jhi_persistent_audit_evt_data` and `dbo.jhi_persistent_audit_event` to a new query window in SQL Server Management Studio. Then modified dbo.jhi_persistent_audit_evt_data.event_id to add `IDENTITY(1,1)`

After dropping them and then adding `IDENTITY` the app seems too be working okay now... ( ymmv )

[Modification Script](https://gist.github.com/edwardbeckett/

[2017-01-20 04:00] amitjindal commented on #3060
Just got this notification. Sorry for delayed response. Let me clean that up and I will publish. I am not as good in these generators so probably will need help.

[2017-01-20 08:17] jordanbaucke commented on #4910
@gmarziou thanks I'll take it up with them

[2017-01-20 09:03] KristiyanYordanov opened #4912 "Monolithic app crashes every day"
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)
git version 2.9.2.windows.1
node: v6.5.0
npm: 4.0.5
bower: 1.8.0
gulp:
[11:00:49] CLI version 3.9.1
[11:00:49] Local version 3.9.1
yeoman: 1.8.5
##### **Overview of the issue**

I start my web application with:  java -jar app.war -Dspring.profiles.active=p

[2017-01-20 09:27] jdubois commented on #4912
I'm sorry but there is no way we can reproduce your issue.... Can we have your full stacktrace? Here there's just the end of it, maybe there's something interesting before?

Is your app crashing everyday at the same hour? Like here it crashed just after 22:30, is it crashing at 22:30 everyday? This would mean you have some external process, probably a backup process, that hangs the application.

F

[2017-01-20 09:27] #4912 closed

[2017-01-20 09:57] jdubois commented on #4407
Thanks @gzsombor !! As everything is checked, I'm closing this :-)

[2017-01-20 09:57] #4407 closed

[2017-01-20 10:02] jdubois commented on #4693
Closing this as #4903 is merged

[2017-01-20 10:02] #4693 closed

[2017-01-20 10:30] deepu105 commented on #4909
Ok ill do this tomorrow

[2017-01-20 10:46] cbornet commented on #4693
Yes even though running the protractor tests is not part of the PR. But this will be a lot of work so no need to keep this issue opened.

[2017-01-20 11:04] #4884 closed

[2017-01-20 17:02] archangel269 commented on #3805
Hi @jdubois, can you please comment on the security issues you discovered? I have a need to build something similar in my JHipster application and I'd like to make sure I don't create any security problems! Thanks!

[2017-01-20 17:16] geraldhumphries commented on #3805
Here's the  SO question I opened about it: http://stackoverflow.com/questions/39103547/is-it-safe-to-expose-the-elasticsearch-search-api-directly-through-your-applicat

The answer is very good and explains why you can't give full access to users.

On the other hand, if you view my [pull request](https://github.com/jhipster/generator-jhipster/pull/4013) you can see that this is implemented with a w

[2017-01-20 17:29] geraldhumphries commented on #3805
One of the [issues](https://github.com/elastic/elasticsearch/issues/11511) referenced in the SO answer might shed some light on ways to break ES using queries.

For example: https://github.com/elastic/elasticsearch/issues/17522

I haven't tested that one using my PR to see if it's possible to perform a query like that, however.

[2017-01-20 17:35] jdubois commented on #4823
It's going to be NG Router, so can we remove the "on-hold" tag?

[2017-01-20 19:34] gmarziou commented on #4823
Sure, I close it. I check the behavior with ng router.

[2017-01-20 19:34] #4823 closed

[2017-01-20 22:36] jdubois commented on #4876
I'm currently running Oracle 12c in a Docker container on my Mac, using https://hub.docker.com/r/sath89/oracle-12c/ !!! This is really great, I'll try to have this by default.

[2017-01-20 22:37] deepu105 opened #4915 "Ng2: webpack build fails with heapdump"
After #4858 was merged whenever I run webpack:build or webpack:dev it fails with JS heapdump. Same error right after project creation when postInstall runs webpack. Below is the stack trace. I'm too tired at the moment to look into it as I'm fixing and cleaning up #4846

looks like something is taking up a lot of memory and crashing the nodeJs VM

I'm on linux with a Xeon processor and 32GB RAM so

[2017-01-20 22:50] deepu105 commented on #4301
Test cases reset as we switched to Ng2 router :(

[2017-01-20 22:52] VictorADS commented on #4915
@deepu105  I never had this issue but I found [that ](https://github.com/webpack/webpack/issues/1914)
So we kinda have to wait for them to fix it...

[2017-01-20 22:54] #4876 closed

[2017-01-20 22:55] jdubois commented on #4876
And it's done!!! That's really incredible to use Oracle on my Mac using Docker.

[2017-01-20 22:55] mraible commented on #4915
I just created a new app based off my [jhipster4-demo/yo-rc.json](https://github.com/mraible/jhipster4-demo/blob/master/.yo-rc.json). It generates and run fine with `/.mvnw`. Running `yarn start` works too, but it sure is noisy.

[code]

MacBook Pro (Retina, 15-inch, Mid 2015)
2.5 GHz Intel Core i7
16 GB 1600 MHz DDR3

[2017-01-20 23:02] deepu105 commented on #4915
May be Its handled differently on mac resulting in memory usage within 1.7G, but could lead to memory leak for you guys as well on watch if so then this will be a blocker for us.
Tomorrow i'll try to tweak around

[2017-01-21 00:24] vadim-shb commented on #2505
It is time to create KHipster with Kotlin, Spting and Angular 2 :)

[2017-01-21 01:15] gmarziou commented on #4703
I tried to find a way to present instructions about frontend tools for both ng1 and ng2 in development.md.
I used tabs and to be able to mix markdown with HTML I have added a jekyll plugin.

Here are the changes in my clone:

https://github.com/gmarziou/jhipster.github.io/tree/dual-doc

Here is how it looks, maybe we should have split documents with comon partials.

![screenshot from 2017-01-21 01

[2017-01-21 09:34] deepu105 commented on #4703
But markdown with html already works on our doc site doesnt it. Why is a
new plugin required

Thanks & regards,
Deepu

On 21 Jan 2017 2:15 a.m., "Gaël Marziou" <notifications@github.com> wrote:

[2017-01-21 09:46] jdubois commented on #4703
My main concern is, does it work well with GitHub pages? Not all plugins are supported, and sometimes they don't work as expected (who knows what version of Jekyll they use, how they tune it, how they upgrade it...).
Then, visually it's quite cool, and otherwise we would probably end up with 2 different pages: there are pros and cons for each methods, but this looks simpler for everyone.

[2017-01-21 10:03] gmarziou commented on #4703
Deepu, markdown did not work within `<div>`, maybe the reverse works.
Do you have an example?

Julien, I'll test with Github pages on my clone, first time ;)
Gem versions were conflicting, I solved it by requiring version 1.0 of the plugin rather than 1.1.
BTW, any reason why Gemfile.lock was excluded from git? It's like yarn.lock it must be shared, not surprising as Bundler people also contribute

[2017-01-21 10:34] deepu105 commented on #4703
Yes take a look at the team.md page it has nested html inside markdown

Thanks & regards,
Deepu

On 21 Jan 2017 11:03 a.m., "Gaël Marziou" <notifications@github.com> wrote:

[2017-01-21 10:37] deepu105 commented on #4703
Ok wait a minute I think I got your point you are trying to write markdown
inside a DIV. Ya thats doesnt work

Thanks & regards,
Deepu

On 21 Jan 2017 11:34 a.m., "Deepu K Sasidharan" <d4udts@gmail.com> wrote:

[2017-01-21 12:12] pascalgrimaud commented on #4915
Just try on my xps13, 8go ram, ubuntu 16.10 (Linux xps 4.8.0-22-generic #24-Ubuntu SMP Sat Oct 8 09:15:00 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux)
I don't have issue @deepu105 :
- ./mvnw
- yarn run webpack:dev

[2017-01-21 12:54] deepu105 commented on #4915
Ok thats really weird

Thanks & Regards,
Deepu

On Sat, Jan 21, 2017 at 1:12 PM, Pascal Grimaud <notifications@github.com>
wrote:

[2017-01-21 13:01] deepu105 commented on #4915
Ok its really strange. I deleted my node modules and retried and it works. So i'm closing this for now

[2017-01-21 13:01] #4915 closed

[2017-01-21 13:42] gmarziou opened #4918 "Each entity should have its own module"
While working on fixing entity pagination with ng router, I found that entity.module.ts was 300 lines long for only 11 entities and also it was difficult to expose `<Entity>ResolvePagingParams` as a provider in this file without putting lot of logic in generator.

This is why I propose that each entity should have its own module.

[2017-01-21 18:32] jaumesm opened #4920 "webpack:build error on microservice gateway"
##### **Overview of the issue**

`webpack:build` **error** on microservice gateway

[code]

##### **JHipster Version(s)**

Fork of master **generator-jhipster** at last [Jan 21, 2017 commit](https://github.com/jhipster/generator-jhipster/commit/d0d72113bdff493ce4f63d99a943fb75459bb127) and `npm link`
[code]
##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
[code]

[2017-01-21 20:25] deepu105 commented on #4918
Yes it might be good. But we should find a way to reduce some boiler plate

Thanks & regards,
Deepu

On 21 Jan 2017 2:42 p.m., "Gaël Marziou" <notifications@github.com> wrote:

[2017-01-21 20:28] deepu105 commented on #4920
These parts are work in progress and since this is unreleased code im closing this. But it will fixed soon. You could do a PR to fix it if you like. Anyway thanks for report

[2017-01-21 20:28] #4920 closed

[2017-01-21 20:29] deepu105 commented on #4920
It seems like missing export on index file

[2017-01-21 20:37] jdubois commented on #4920
@deepu105 by the way the master branch doesn't work without i18n, maybe there's a link

[2017-01-21 22:03] augurpl opened #4921 "Fail to run application due to webpack error from some entities"
##### **Overview of the issue**

I've created test jh4 application to check new features. I've generated 4 entities with JDL studio. While building, got webpack error and failed to complete build.

##### **Motivation for or Use Case**

I cannot run application.

##### **Reproduce the error**

1. generate monolith application
2. import entities from jdl
3. regenerate everything with command: yo jhi

[2017-01-21 22:20] jdubois commented on #4921
You're on the master branch, and the build is currently broken as we are migrating to NG Router, so there's not much to say here... It's under development.
If you want something stable, use a released version.

[2017-01-21 22:29] augurpl commented on #4921
Ok, understood. I thought it might help with development.  Is there any point with letting you know of any of bugs in master branch?

[2017-01-21 22:35] mraible commented on #4909
I see this same error when trying to run `yarn test` in an application created from master (Version: webpack 2.1.0-beta.25).

[code]

My `.yo-rc.json` file:

[code]

[2017-01-21 22:44] jdubois commented on #4921
It always help, that's why I kept it open, but just don't be surprised if you have issues, at least at the moment: it's a very specific period, we are changing our router, so this breaks everything

[2017-01-21 22:58] mraible commented on #4909
I was able to fix the sass loading issue by adding the following as a rule in `karma.conf.js`:

[code]

Then, because I'm using i18n, I had a number of failures trying to run `heath.component.spec.ts`. I added all the following providers:

[code]

However, I can't get past the following error.

[code]

[2017-01-21 23:19] jdubois commented on #4921
Hopefully we will have something stable next week, it shouldn't take too long.

[2017-01-22 00:27] deepu105 commented on #4909
Matt btw I got webpack 2.0 working ill commit it tomorrow

Thanks & regards,
Deepu

On 21 Jan 2017 11:58 p.m., "Matt Raible" <notifications@github.com> wrote:

[2017-01-22 03:16] gmarziou opened #4923 "Inconsistent route paths for composed entity names"
The route paths generated for an entity with camel cased name like TournamentType are not consistent:
- the normal routes (list and detail) use dash case: tournament-type
- the popup routes use camel case: tournamentType

[code]

The addEntityToMenu() function which is used to add entries to the navbar use dash case.

I think we should be consistent.
If we use dashcase then we may have problems wi

[2017-01-22 03:34] gmarziou commented on #4918
I did it on a branch, it works fine for 10 of my entities and fail for one.

https://github.com/gmarziou/generator-jhipster/tree/module-per-entity

This is very strange, all the entities have same configuration, but for this one 2 routes have lost their component and the router rejects stops. It looks like a framework bug.

[2017-01-22 08:37] deepu105 commented on #4923
I think it might be an overlooked mistake. I guess its better to have dash
case for urls as it is better for SEO and is common practice

Thanks & regards,
Deepu

On 22 Jan 2017 4:16 a.m., "Gaël Marziou" <notifications@github.com> wrote:

[2017-01-22 08:51] jdubois commented on #4923
Yes, definitely dash!

[2017-01-22 11:00] gmarziou commented on #4923
OK, but what do you think of my proposal to use dash AND to separate the entity name from the "action"? @sendilkumarn any comment?

[2017-01-22 14:12] sendilkumarn commented on #4923
@gmarziou yeah dashed definitely. I guess it is my mistake.

[2017-01-22 14:14] sendilkumarn commented on #4918
👍 for the idea. we can have that.

[2017-01-22 14:30] Burdu opened #4925 "[FEATURE] Run Cassandra migration tool on startup"
I put some code together to execute the Cassandra migration tool on startup for dev purposes. It works on dev profile currently, but can be tweaked to work for prod as well.
It is a bit low level, but does the job.

##### **Related issues**

https://github.com/jhipster/generator-jhipster/pull/3593

##### **Suggest a Fix**

    @Configuration
    @EnableConfigurationProperties(CassandraProperties.c

[2017-01-22 14:32] jdubois commented on #4925
Since the first time I worked on this, it was totally refactored by @raphaelbrugier -> Raphaël, what do you think about this?

[2017-01-22 14:49] gmarziou commented on #4703
Can someone explain me how to publish my fork ?
I activated gh pages but I can see only a broken site:
https://gmarziou.github.io/jhipster.github.io/

Working only with master is also painful, so far I'm not impressed by gh pages 😞

[2017-01-22 14:51] jdubois commented on #4703
@gmarziou I have no idea :-(
I only test this with Jekyll in Docker, but I know there are differences with Github pages, because they have different plugin versions, and not all plugins are available...
That's why I'm careful about this!!

[2017-01-22 15:02] gmarziou commented on #4703
Ok then the only way test is to push to master, I'll create a smaller repo

[2017-01-22 15:15] unikzforce opened #4926 "[Feature] Choosing The scope of the DTO type to return in REST resources dynamically"
##### **Overview of the issue**

Suppose you have to DTOs for your User entity: the heavyweight one, UserFullDTO, and the light
one, UserLightDTO. and suppose the Generated resources could get the type of DTO you need as a query parameter ---> localhost:8080/api/users?scope=full

a map could be generated for user --- Map<String, Class> --- which contains pair("full", UserFullDTO.class) and pair("t

[2017-01-22 15:22] gmarziou commented on #4926
Could you élaborate further? What would the method signature in the resource controller ?

[2017-01-22 16:28] unikzforce commented on #4926
My DTOs could change like this:
class PipelineFullDTO extents AbstractPipelineDTO {
}
class PipelineLightDTO extents AbstractPipelineDTO {
}
in which the AbstractPipelineDTO is the parent for both. it could be reduced to an interface of course. i haven't thought about it precisely yet.

then I would then generate a Converter,,which would call the suitable function with respect to the scope
class P

[2017-01-22 16:29] unikzforce commented on #4926
sorry i will edit my codes to make it readable, as soon as i learn how to do it

[2017-01-22 16:32] raphaelbrugier commented on #4925
Yes, this could make sense in development, having the scripts automatically executed when you restart the application.

I would avoid doing this in production.
The main problem is that if you are deploying multiple instances of a new version, there is nothing preventing the script to be run in parallel on each instance. Unlike liquibase which has a lock mechanism.

Notes that the script has some [

[2017-01-22 16:36] unikzforce commented on #4926
and all of these is possible only if we could get some little extra information from the user before generating ,, some pairs --->
"full"    ----for---> PipelineFullDTO and
"light"  ----for---> PipelineLightDTO

[2017-01-22 16:44] unikzforce commented on #4926
and about the swagger and springfox ... i don't know yet, i'm only familiar with swagger but only a little. i've to take a look at them first for any comments about them

[2017-01-22 16:58] tan9 opened #4927 "Angular 2 `entity` sub-generator generated resources using angularjs 1 fileset."
##### **Overview of the issue**

When using `entity` or `import-jdl` sub-generator with Angular 2. The wrong file set (for angularjs 1.x) always been picked and resources generated as following:

[code]

##### **Motivation for or Use Case**

Since I chosen the Angular 2 as client framework, entity generation should generate the right file set.

##### **Reproduce the error**

1. `yo jhipster`, sele

[2017-01-22 17:07] gmarziou commented on #4926
Ok so it looks like a lightweight graphql for which we had a request : #4251
I think the same answer could apply here but I let others comment.

[2017-01-22 17:11] gmarziou commented on #4927
Did you run npm link generator-jhipster in your project before running yo jhipster ?

[2017-01-22 17:11] unikzforce commented on #4926
tnx, i'll see that soon

[2017-01-22 17:11] unikzforce commented on #4926
One thing that you may Mention is that the "AbstractPipelineDTO"  may lack value for the people who want to get DTO's properties... the fact is maybe we should separate Generated Resource classes and provide  Some Custom Resource classes... like spring data
in spring data we've seen sweet repository interfaces, and if someone needed a custom repository method she could create her custom repository

[2017-01-22 17:14] deepu105 commented on #4927
you need to run `npm link generator-jhipster ` in the generated project as said above by Gmarziou

[2017-01-22 17:14] #4927 closed

[2017-01-22 17:15] unikzforce commented on #4926
it seems that GraphQL has some personality ... attractive

[2017-01-22 17:20] deepu105 opened #4928 "[Enhance] Upgrade to Bootstrap 4.0.0 to latest release"
Upgrade bootstrap to 4.0.0-alpha.6 or latest and update ng-bootstrap to latest.

BS4 alpha 6 has some breaking changes. Flexbox is now default hence it disrupts our UI.

We need to move `navbar-toggleable-md` class from inner div to the nav element
We also need to add below to navbar.css/scss for getting link colors back
[code]

There seems to be float issues as normal css float wont work in flexb

[2017-01-22 17:31] deepu105 commented on #4909
its done

[2017-01-22 17:31] #4909 closed

[2017-01-22 17:32] deepu105 commented on #4921
fixed

[2017-01-22 17:32] #4921 closed

[2017-01-22 17:52] deepu105 commented on #4703
We need to also document that webpack needs to be globally installed in order to have chilprocess run without error from mvn/gradle
`npm i webpack -g` or yarn equivalent

[2017-01-22 18:04] tan9 commented on #4927
@gmarziou , @deepu105 Yes, I **DID** link to the source repository. So that I was able to issue [those PRs](https://github.com/jhipster/generator-jhipster/pulls?utf8=%E2%9C%93&q=is%3Apr%20author%3Atan9) recently.

The main jhipster generator works fine, and every single change I made in my local repository take effect to the generated app. However, I can not make the `entity`/`import-jdl` work as

[2017-01-22 18:07] tan9 commented on #4927
@gmarziou , @deepu105 , I found the point. I only link the jhipster source for global npm not the project I'm running.

Sorry for wasting your time.

[2017-01-22 18:16] gmarziou commented on #4927
Don't worry, it happened to me last week too ;)

[2017-01-22 18:19] gmarziou commented on #4703
I never installed webpack globally and it works fine for me.

[2017-01-22 18:45] deepu105 commented on #4703
It fails when executing child process from mvn after a clean with new HMR stuff. Anyways I fixed it to work without a global. ill commit that soon

[2017-01-22 18:48] jdubois commented on #4927
Yes that's quite tricky!

[2017-01-22 19:45] deepu105 commented on #4923
@gmarziou im gonn a change this to your proposal as im fixing tests

[2017-01-22 19:49] gmarziou commented on #4923
Thanks, I will review and test yourPR

[2017-01-22 19:49] deepu105 commented on #4923
I'm modifying it a bit to follow what we had for ng1 its more standard I guess but we can ofcourse change if there is a better way

[2017-01-22 20:02] gmarziou commented on #4923
I guess that our ng1 conventions were highly driven by the notion of state, ng2 routes may lead to slightly different conventions. In partiicular I think we could have a componentless route to be able to manage authorities globally for the entity or to add a resolve property. This would be the equivalent of ui-router abstract state.

You can do it with my suggestion to use anaction.

[code]

[2017-01-22 21:03] deepu105 commented on #4923
i'm talking about the ng1 urls, which IMO follows REST url conventions closeley

[code]

[2017-01-22 21:51] deepu105 commented on #4923
Ahhh its much harder to get it working with ng-router. I'm hating it more and more. i'm giving up for now. Ill just correct existing routes and commit it. @gmarziou if you wanna give it a shot please go ahead.

[2017-01-22 22:19] tan9 commented on #4927
@jdubois , I finally got why the project's version number still stick to 3.12.2.
Is it possible to distinguish from project version to template version, so that one can be more easily aware of the version they used?

[2017-01-22 22:27] #4868 closed

[2017-01-22 22:34] deepu105 commented on #4923
its bit more consistent now but it would be nice to have the below as it would be close to the REST conventions
[code]
then even with this the routes of model dialog look really weird something like `http://localhost:8080/#/user-management(popup:user-management-new)` hope their is a better way to do this like ui-router

[2017-01-22 22:49] deepu105 commented on #4703
you cannot publish it as it is. You need to make it your default GH page or
You can publish it a s sub domain of your GH page at max by having it on
the gh-pages branch of any project. then you can access say for example
deepu.github.io/my-gh-page-site

Thanks & Regards,
Deepu

On Sun, Jan 22, 2017 at 7:19 PM, Gaël Marziou <notifications@github.com>
wrote:

[2017-01-22 23:33] gmarziou opened #4930 "Ng2 router should store destination route"
To avoid forgetting it as this is the last issue to solve before being able to remove ui-router completely from package.json

`register-transition-hooks.ts` used to configure ui-router , it had 3 responsibilities on state transitions:

1. store destination state in case to bring user to it later in case she has to login first
2. support for external URLs in ui-router
3. set page title

Only first

[2017-01-23 06:11] sarbajeet1 commented on #3513
Mannual will be good

[2017-01-23 09:05] pascalgrimaud commented on #4301
Some issues I found this morning:
- maven build in dev:
    - invoke the run webpack:build:dev : discussion with @deepu105 here https://github.com/jhipster/generator-jhipster/commit/88ba738f406b656ae1e9dd68517dac33929a290c#commitcomment-20570911

- pagination
    - in user management page, the pagination doesn't work
    - when generate an ng2 project (with BankAccount, Operation and Label as enti

[2017-01-23 09:46] jdubois commented on #4926
Yes I know people will want to do "light" and "heavy" DTOs, and that's what I don't like too much about this pattern, because you end up with lots of classes.

- We can't do it now, the DTO as been in BETA for years (literally), so first it needs to be out of beta before we do something more complex
- Indeed, GraphQL could be a better solution - then it's not ready yet, as its implementation is no

[2017-01-23 09:46] #4926 closed

[2017-01-23 09:56] jdubois commented on #4925
Oh yes thanks @raphaelbrugier I forgot about the locking issue!!

I'm sorry @Burdu but we just can't do this: without a good locking mechanism, that's going to fail in many cases. Of course you could only have it in dev mode, but then it's a bit weird to have it work differently in dev and prod.

Another issue I have is that you run a `.sh` script in your app, so it probably will fail on Windows.

[2017-01-23 09:56] #4925 closed

[2017-01-23 11:49] unikzforce commented on #4926
okay, i understand, would you please tell me what is graphql draft repository ? can we see that draft?

[2017-01-23 13:19] sergio-otero commented on #4848
I've found a problem with liquibaseDiffChangeLog with LocalDatime being converted to tinyblob due to having in the classpath liquibase hibernate-core-5.0.11 and hibernate-core-5.2.4.

Now that the liquibase version is fixed in gradle.build, the line

configurations.liquibase.plus(sourceSets.main.runtimeClasspath)

can be changed to

sourceSets.main.runtimeClasspath.plus(configurations.liquibase)

[2017-01-23 13:38] jdubois commented on #4926
I'm talking about https://github.com/graphql-java/graphql-java

[2017-01-23 13:40] VictorADS commented on #4930
I'm on it

[2017-01-23 14:48] jdubois commented on #4875
@jkutner we will soon be in code freeze mode, for JHipster 4 -> will you be able to fix this in the next couple of days? Otherwise this will go for the next release

[2017-01-23 14:48] jdubois commented on #4882
@xetys do you confirm the issue? We will soon be in code freeze mode, for JHipster 4 -> will you be able to fix this in the next couple of days? Otherwise this will go for the next release

[2017-01-23 14:53] jkutner commented on #4875
I'll take a look at it today. I should be able to provide a solution before the freeze.

[2017-01-23 15:33] gmarziou commented on #4930
Great, one thing I did not understand is that this code seems to be related to session authentication while in my understanding it should work for others as well (JWT in particular)

[2017-01-23 16:37] xetys commented on #4882
I will take a look ASAP

[2017-01-23 17:02] #4875 closed

[2017-01-23 17:07] VictorADS commented on #4930
@gmarziou  @sendilkumarn So far I've tried to reproduce what we were doing with ui-router using the `RoutesRecognized` event from the Router but that way, for example, if the user is logged in and he tries to acces the register page it will start rendering the html for register, then it will redirect to the home page ( because a connected user shouldn't access register). So my idea is to use anoth

[2017-01-23 18:20] gmarziou commented on #4930
CanActivate seems good, I just wonder whether it could be set globally rather than for each route.
Something I haven't tested like

     { path: '**', canActivate: [StoreRouteGuard] },

[2017-01-23 18:31] ruddell commented on #4882
I couldn't reproduce this locally using NG1 (gateway NG2 webpack fails, seems unrelated)

[2017-01-23 22:13] pascalgrimaud commented on #4882
@xetys : same, I couldn't reproduce... maybe a problem with your spring security lib? Pierre got a problem when downloading spring security here https://github.com/jhipster/generator-jhipster/issues/4813

[2017-01-23 22:40] pierre-filliolaud opened #4938 "javax.inject dependency is missing in pom file for jhipster v3.12.2-snapshot"
##### **Overview of the issue**

javax.inject dependency is missing in pom file when java SE is used as default jvm (Java(TM) SE Runtime Environment (build 1.8.0_25-b17)).
This issue exists in jhipster-generator v3 dev version not in v3 released

##### **Motivation for or Use Case**

The XML pom file must be fixed manually by adding in pom file:
		<dependency>
            <groupId>javax.inject</gr

[2017-01-23 22:44] jdubois commented on #4938
Yes it was removed on purpose, as it became useless.

Why do you need it, do you have a compilation issue somewhere ?

[2017-01-23 22:45] pascalgrimaud commented on #4938
it has been removed here : https://github.com/jhipster/generator-jhipster/issues/4554
The generated code shouldn't have `@Inject` anymore

[2017-01-23 22:47] jdubois commented on #4938
I'm sure this is because you didn't do a "yarn link generator-jhipster" on your project.

[2017-01-23 22:47] #4938 closed

[2017-01-23 22:49] pierre-filliolaud commented on #4938
@jdubois by default Jhipster requires Java SE version not JavaEE version. Let me know if I am wrong.
I dont see @Inject in UserResource class but I still have it in new generated Service see my Item.json file.

[2017-01-23 22:51] deepu105 commented on #4930
The workarounds to make stuff work with ng router seems to be growing. Its
making me wonder is it worth the switch

Thanks & regards,
Deepu

On 23 Jan 2017 7:20 p.m., "Gaël Marziou" <notifications@github.com> wrote:

[2017-01-23 22:54] pascalgrimaud commented on #4938
@pierre-filliolaud : don't you have this ?

[code]

[2017-01-23 22:55] pierre-filliolaud commented on #4938
Here is what I get after "yarn link generator-jhipster" on my project.

jhipster-angular2 pierre$ yarn link generator-jhipster
yarn link v0.18.1
error No registered module found called "generator-jhipster".
info Visit https://yarnpkg.com/en/docs/cli/link for documentation about this command.

FYI, I followed the tuto from Matt Raible at http://www.eclipse.org/community/eclipse_newsletter/2017/janu

[2017-01-23 22:57] pierre-filliolaud commented on #4938
@pascalgrimaud no, here is what I get:

@RestController
@RequestMapping("/api")
public class ItemResource {

    private final Logger log = LoggerFactory.getLogger(ItemResource.class);

    @Inject
    private ItemService itemService;

    /**
     * POST  /items : Create a new item.
     *
     * @param item the item to create
     * @return the ResponseEntity with status 201 (Created) and with b

[2017-01-23 22:57] pascalgrimaud commented on #4938
@pierre-filliolaud : you need to do this
- in your generator-jhipster: yarn link
- in your generated project: yarn link generator-jhipster

[2017-01-23 23:02] pierre-filliolaud commented on #4938
After doing
* in your generator-jhipster: yarn link
* in your generated project: yarn link generator-jhipster

I am getting the expected result!

Tks!

`@RestController
@RequestMapping("/api")
public class Item2Resource {

    private final Logger log = LoggerFactory.getLogger(Item2Resource.class);

    private static final String ENTITY_NAME = "item2";

    private final Item2Service item2Service

[2017-01-23 23:06] jdubois commented on #4938
Well, working on the master branch isn't a great idea, we will release a stable version soon.

[2017-01-23 23:07] pierre-filliolaud commented on #4938
My bad the "npm link generator-jhipster" command is present in the tutorial.

[2017-01-23 23:31] jdubois commented on #4882
Closing as your PR is merged

[2017-01-23 23:33] pascalgrimaud commented on #4882
@jdubois : what is the PR you're talking about ? I don't see any PR related to this ticket

[2017-01-23 23:36] bajdekm opened #4939 "Unable to start generated project due to relationships problem"
I have problem with generated project. Everytime when Im trying to generate relationship between two Entities I get similar problem:

`[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 14.200 s
[INFO] Finished at: 2017-01-24T00:27:39+01:00
[INFO] Final Memory: 47M/133M
[INFO] -----------------------------------------------------

[2017-01-23 23:40] pascalgrimaud commented on #4939
Can you follow the template issue and provide :
- full information about your configuration and tools -> use yo jhipster:info
- all steps so we can reproduce your issue -> describe your steps

[2017-01-23 23:42] pascalgrimaud commented on #4882
oh probably https://github.com/jhipster/generator-jhipster/pull/4937 but it's not related to UAA. It's related to ng2+gateway which failed

[2017-01-23 23:45] jdubois commented on #4882
Oh sorry it's late :-)
Re-opening....

[2017-01-23 23:46] jdubois commented on #4939
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-01-23 23:46] #4939 closed

[2017-01-24 01:31] gmarziou commented on #4703
As this plugin was not supported by github, I tried another approach using jQuery to load fragments.

Here is the result: https://gmarziou.github.io/github-pages-sandbox/test

Here test.html contains the [tab structure](https://github.com/gmarziou/github-pages-sandbox/blob/master/test.html#L134-L149) and
[content loading](https://github.com/gmarziou/github-pages-sandbox/blob/master/test.html#L158-

[2017-01-24 02:37] nixgadget opened #4942 "OneToMany relationship not generating liquibase column"
##### **Overview of the issue**
It appears that if I include a column (`subOrganization`) for the OneToMany relationship specified as in the `jdl` below however in the corresponding  generated liquibase changeset the column is missing.

[code]

##### **Motivation for or Use Case**
Trying to establish a OneToMany relationship for one of the columns in OrgHierarchy,
[code]

The generated liquibase d

[2017-01-24 02:42] nixgadget commented on #4942
Is this due to this issue ? https://github.com/jhipster/generator-jhipster/issues/1569

[2017-01-24 05:38] svict4 commented on #1130
I just encountered this problem and fixed with your solution @pmarrone @walllzzz

In my situation, I was working through a guide to add a new user role and I must have forgotten to follow the recommended workflow when I was editing the database (i.e. run `liqibase:diff`) or somehow messed up a file.

In any case, when I attempted to build my project `./mvnw` I was receiving a liquibase error durin

[2017-01-24 07:32] MathieuAA commented on #4942
I'll take a look at this issue later today.

Le 24 janvier 2017 03:37:38 GMT+01:00, Kasun Talwatta <notifications@github.com> a écrit :

--
Mathieu ABOU-AICHI

[2017-01-24 09:19] VictorADS commented on #4930
@deepu105  I wouldn't call this workarounds, it's just another way to treat routes. Also, even though it was easier in ui-router, I remember it had some problems with regards to the transition hooker. I think migrating to ng-router is for the better

[2017-01-24 10:05] deepu105 commented on #4930
I hope so

Thanks & Regards,
Deepu

On Tue, Jan 24, 2017 at 10:19 AM, VictorADS <notifications@github.com>
wrote:

[2017-01-24 11:10] bajdekm opened #4946 "jhipster entity generator not able to create relationships"
I'm trying to generate simple project with few entities and relationships between them. I am not able to launch my project due to following error:

`
Downloaded: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-compiler-manager/2.8.1/plexus-compiler-manager-2.8.1.jar (5 KB at 2.2 KB/sec)
Downloaded: https://repo.maven.apache.org/maven2/org/codehaus/plexus/plexus-compiler-api/2.8.1/p

[2017-01-24 11:16] jdubois commented on #4946
In your `Participant`, you configured a one-to-many relationship to `Meeting`, and said it was called `participant` in the `Meeting` class. But no such relationship has been created in the `Meeting` entity.
Have a look at the documentation about relationships, or use the JDL (as it handles those in an easier way).

[2017-01-24 11:16] #4946 closed

[2017-01-24 16:28] deepu105 opened #4949 "Change index.ejs back to html file as we dont use ui router visualizer anymore"

[2017-01-24 16:31] jdubois commented on #4949
Yes big +1 !!!
That was my initial idea with @flaviencathala but now it's cool that we can remove this. I think there was a specific dependency in package.json to handle this, you should be able to remove it.

[2017-01-24 17:59] deepu105 commented on #4949
Nope we still need the plugin to place dependencies on the html

Thanks & Regards,
Deepu

On Tue, Jan 24, 2017 at 5:31 PM, Julien Dubois <notifications@github.com>
wrote:

[2017-01-24 18:35] SWEnthusiast opened #4952 "Error when running microservice + gateway applications without registry"
##### **Overview of the issue**
I am trying to run both my micro service and gateway applications without the service discovery(eureka).
1. Unable to connect to the micro service from gateway
2. Can't see the swagger documentation for micro services under Admin->API
3. Unable to access the endpoints from POSTMAN

##### **Motivation for or Use Case**
When applications doesn't need registry

##### *

[2017-01-24 19:02] gcoban opened #4954 "Generated application can not start properly with OAuth and Oracle Database"
##### **Overview of the issue**

Generated application can not start properly with OAuth and Oracle Database because foreign key called "fk_oauth_client_token_user_name" defined in 00000000000000_initial_schema.xml is too long (31 chars) for an Oracle object name. Oracle object names can be 30 chars length at most.

##### **Motivation for or Use Case**

Generated application can't be started.

###

[2017-01-24 19:35] jdubois commented on #4952
It cannot work without Eureka (or Consul). That's how the gateway finds the microservices.

[2017-01-24 19:35] #4952 closed

[2017-01-24 19:37] jdubois commented on #4954
This is fixed on #4947 can you check?

[2017-01-24 19:38] jdubois commented on #4954
Oh sorry it looks the same but it's not!

[2017-01-24 20:49] jdubois opened #4955 "Add support for the JHipster Registry in monolith applications"
The JHipster Registry is only available for microservices, but there is some interest in using it in a monolith:

- It allows to scale the monolith if Hazelcast is used as a second level cache (that's the only way for the cache to find the other instances on-the-fly)
- It can help to configure the monolith (as it comes with a Spring Cloud Config server

I personally need this for the option (Hazel

[2017-01-24 20:50] jdubois commented on #4954
We should change this now, as we are preparing JHipster 4, so it's the only time when we can break our API (major release)

[2017-01-24 21:07] MathieuAA commented on #4942
When you have a unidirectional OtM relationship, the entity creator (the object that creates the JSON files) converts it into a bidirectional (it is the best solution for this use case). So no, the issue you mentioned isn't related. I've checked your JDL and your JSON files (by manually creating the entities), there's nothing wrong with them.
From that, I've also checked the liquibase files. You'r

[2017-01-24 21:23] nixgadget commented on #4942
@MathieuAA thanks. That was my suspicion too. I saw no problems with the JPA code either.

So does that mean we'l need to raise this as a liquibase bug or a bug in the JDL generation itself ?

[2017-01-24 21:27] MathieuAA commented on #4942
The JDL generation is perfect as far as I'm concerned (first thing I checked, obviously :)). I've done the exact same thing as the JDL importer does, but only manually (with the Q&As) and I got the same problem as you.
@jdubois I think I've already seen this kind of issue in the past, but I don't remember how it went last time (and I can't find something similar in the issues). Do you have an idea

[2017-01-24 21:39] #4949 closed

[2017-01-24 21:41] deepu105 commented on #4942
Might be we missed a condition in the liquibase template. I havent had a
look but i'll start from there.

Thanks & Regards,
Deepu

On Tue, Jan 24, 2017 at 10:28 PM, Mathieu ABOU-AICHI <
notifications@github.com> wrote:

[2017-01-24 21:42] deepu105 commented on #4942
but I dont have time as I'm going through ng2 stuff

Thanks & Regards,
Deepu

On Tue, Jan 24, 2017 at 10:41 PM, Deepu K Sasidharan <
deepu.k.sasidharan@gmail.com> wrote:

[2017-01-24 21:43] MathieuAA commented on #4942
@deepu105 I'll look into it. Thanks for the pointer

[2017-01-24 21:44] jdubois commented on #4942
I'll also have a look, @deepu105 your work on NG2 is more important

[2017-01-24 21:59] deepu105 commented on #4301
@jhipster/developers guys moe hands here please. Plz tick off the options that works without any issues (except known issues if any) If there are issues and if you cant do PR then plz open a ticket so that me or someone else can try to fix it

[2017-01-24 22:31] Burdu commented on #4925
I understand.
Please note that you still have no locking mechanism if you start multiple docker instances sharing the same volume for cassandra data

[2017-01-24 22:35] jdubois commented on #4942
I'm sorry but I can't reproduce.

I modified a few things, so here's what I tested:

- I modified your `.yo-rc.json` to use "H2 Disk", so I didn't need to use Oracle
- I removed `OrgType` in your JDL as it isn't described

-> I don't think those should make any difference.

Then I generated the app with the current master branch:

- I do have 2 constraints generated
- BTW my constraint files don't

[2017-01-24 22:35] #4942 closed

[2017-01-24 22:38] #4954 closed

[2017-01-24 22:41] s-t-x opened #4958 "Gradle error on some Windows machines, jHipster v3.12.2"
##### **Overview of the issue**

Gradle build produces this error on Windows machines, where gradle cache path contains spaces:

##### **Motivation for or Use Case**
My user name on Windows contains spaces and this is the problem here.

##### **Suggest a Fix**
I patched my classpath so that it does not contain spaces any more and the error is gone. This needs a better approach, like surrounding cl

[2017-01-24 22:46] nixgadget commented on #4942
@jdubois Thanks for your findings. Are you able to share your entity json files or even the JDL file. So I can verify what Im trying to do is as you suggested.

At a high level all I'm trying to do is,

[code]

[2017-01-24 22:46] deepu105 commented on #4958
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-01-24 22:46] #4958 closed

[2017-01-24 22:48] jdubois commented on #4942
It should be the same JDL as you, here it is:

[code]

But once again, for a hierarchy, I don't think you should do this kind of mapping.

[2017-01-25 01:06] s-t-x opened #4960 "Gradle error on Windows when classpath contains spaces, jHipster v3.12.2"
##### **Overview of the issue**

Starting jhipster produces this error on Windows, when gradle build is used and classpath to gradle caches contains spaces:

##### **Motivation for or Use Case**

If classpath to gradle caches contains spaces, you cannot run jhipster at all.

##### **Reproduce the error**

1. Install jHipster on any Windows where path to gradle cache contains spaces. (The most like

[2017-01-25 01:54] ruddell opened #4961 "Back Button and Dialog Issues"
##### **Overview of the issue**
The back button on the entity-detail-component doesn't work if you use the edit button first.  [Watch this GIF for the full experience.](https://cloud.githubusercontent.com/assets/4294623/22273347/16da2268-e255-11e6-9f0a-b85f864dc2d6.gif)

This also affects the browser back button after editing/deleting any entity/user from the listing page.
##### **Reproduce the er

[2017-01-25 08:46] pascalgrimaud commented on #4955
I like the idea, but for me, it's a lot of work, depending how far you want to go.
Do you want this for JHipster 4?

[2017-01-25 08:51] pascalgrimaud commented on #4960
I understand the issue with space in classpath, but I'm not sure it is only related to JHipster.

For me, 'avoid spaces in folder name' is a good practice for developers.
That's why I always install tools on personnal folders like `C:\app`, `D:\app`, etc... instead of letting by default 'C:\program files' which contains a space...

[2017-01-25 09:10] jdubois commented on #4955
No I'm respecting my own "code freeze" for JHipster 4, so it would be for a later version.

[2017-01-25 09:27] PierreBesson commented on #4955
It is not a lot of work at all. When working on Consul, I have actually already organised the code to be able to do that in the future...
I will try to do it when I have the time.

[2017-01-25 09:38] pascalgrimaud commented on #4955
Do you mean :
1) rework the current jhipster-registry project, for being able to use with monolith
2) or add additional question to generate a fresh registry on generator-jhipster

I thought about the 2 so I think I misunderstood :smile:

[2017-01-25 10:14] PierreBesson commented on #4955
@pascalgrimaud I think Julien mistyped "using it in a monolith" he certainly meant "using it **with** a monolith"

[2017-01-25 10:21] pascalgrimaud commented on #4955
@PierreBesson : I was dreaming about a JHipster Registry with Angular2 :stuck_out_tongue:

[2017-01-25 10:22] PierreBesson commented on #4952
Well, there is actually a way to do it that might be desirable for some use cases (if you use the service discovery provided by your platform instead of Eureka or Consul) but we have not documented yet.
I helped someone make it work on Stackoverflow :
http://stackoverflow.com/questions/40905303/integrate-eureka-with-kubernetes-issue/41000005#41000005
As I'm not using it myself I have not tried it

[2017-01-25 12:23] jdubois commented on #4703
Don't waste time on this, a basic HTML page with a summary is perfect, and
will always ne better for SEO (and a lot of people also use our search box)

Le 24 janv. 2017 2:31 AM, "Gaël Marziou" <notifications@github.com> a
écrit :

[2017-01-25 12:23] jdubois commented on #4960
We don't have this with Maven so for me this yet another Gradle issue

Le 25 janv. 2017 9:51 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2017-01-25 12:26] jdubois commented on #4955
I just want to connect the monolith to the existing Registry, like we do
for microservices.

Only way to scale with Hazelcast !

Le 25 janv. 2017 11:21 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

@PierreBesson <https://github.com/PierreBesson> : I was dreaming about a
JHipster Registry with Angular2 😛

—
You are receiving this because you authored the thread.
Reply to this email dir

[2017-01-25 13:45] deepu105 commented on #4961
This has always been troublesome and has become more so after router migration so if you have any nice way of dealing with please do so :)

[2017-01-25 13:48] #4961 closed

[2017-01-25 14:02] deepu105 commented on #4955
@jdubois why do you say its the only way? doesnt hazelcast automatically create and join clusters if you have app nodes running in the same IP segment, you could also blacklist/whitelist to specific IPs. I have used that and it works very well and out of the box previously. It worked while running using inbuilt Tomcat and when deployed to JBoss containers as well when I used

[2017-01-25 14:39] jdubois commented on #4955
It's the only way if you don't have multicast enabled. And multicast doesn't work on AWS and on Docker Swarm.

[2017-01-25 14:41] deepu105 commented on #4955
Ahh ok that explain it

[2017-01-25 15:10] SWEnthusiast commented on #4952
@PierreBesson  Thanks for providing the link but in my case I don't want to use Kubernetes discovery either. I am trying to make connections to my micro services through an API gateway but for my sandbox testing I don't have the API gateway in place so all I want is to connect directly to the end points and get the response.

This is how my config looks.

[code]

[2017-01-25 15:33] PierreBesson commented on #4952
@SWEnthusiast it doesn't matter that you are not using kubernetes. You will be able to setup a ribbon serverList to an existing hostname like I show in my SO post. You can use /etc/hosts to redirect an hostname to localhost.

But I don't understand, did you really expect that your gateway can automatically find your microservice without a registry :smile: ? It seems to me that it would be better t

[2017-01-25 16:16] SWEnthusiast commented on #4952
I have added the config property to the `application-dev.yml` file like this
![image](https://cloud.githubusercontent.com/assets/24440575/22298278/f14f5d1c-e2ed-11e6-960c-90cfe45b2618.png)

The error in the console looks like this
![image](https://cloud.githubusercontent.com/assets/24440575/22298551/e4eb0afc-e2ee-11e6-9e4b-1ca2152086b4.png)

It's my team's decision to not use registry so I am tryi

[2017-01-25 16:20] banya16 opened #4964 "Pb with show index page"
All mornings, when i do connect to my app, i do refresh my page beacause for the first entry we can't show index page.

All nigths i stop application and all mornings i restart them.

I thinks the problem come to cookies or cache.

Do you had this probleme ?

[2017-01-25 16:22] jdubois commented on #4952
Yes but this is the bug tracker for JHipster, so if you don't use what we do, that's not the right place to report a bug.

[2017-01-25 16:23] jdubois commented on #4964
This ticket has been closed as the guidelines are not followed.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md#submitting-an-issue), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhi

[2017-01-25 16:23] #4964 closed

[2017-01-25 16:35] banya16 opened #4965 "gateway + OAuth2 + UAA: the main page needs to be reloaded on first entry"
##### **Overview of the issue**

When i come on application i have a white page.

##### **Motivation for or Use Case**

All users do refresh page for enter in my application.

##### **Reproduce the error**

All mornings, when i do connect to my app, i do refresh my page beacause for the first entry we can't show index page.

All nigths i stop application and all mornings i restart them.

I thinks

[2017-01-25 16:47] ddidier opened #4966 "Backslashes in validation patterns are not escaped in `translateValues`"
##### **Overview of the issue**

Backslashes in validation patterns are not escaped in the `translateValues` causing an unrecoverable client-side error.

##### **Motivation for or Use Case**

Add a valid pattern to a field, here a "non blank" pattern.

##### **Reproduce the error**

1. Generate an entity X with the validation pattern `^.*[\\S]+.*$` (see attachment below)
2. Open the `Create a new

[2017-01-25 16:48] deepu105 commented on #4965
You seem to be using a gateway with UAA authentication. You need to give us the yo-rc files of all the apps you have as what you have provided is too little info to reproduce the issue cc @xetys

[2017-01-25 16:50] deepu105 commented on #4966
would appreciate if you can do a PR. anyway thanks for the report

[2017-01-25 16:53] ddidier opened #4967 "[FEATURE] Add a "not blank" field validation rule to the entity generator"
For a `String` field, it would be nice to be able to generate a "non blank" validation rule using:

- `org.hibernate.validator.constraints.NotBlank` on the server side for the entity and the DTO
- `^.*[\S]+.*$` on the client side

[2017-01-25 17:10] deepu105 commented on #4967
We already have required and if you need something more like non whitepace check use the regex option

[2017-01-25 17:17] PierreBesson commented on #4955
I got it to work on my branch. Still needs some polish...
![screen shot 2017-01-25 at 18 00 59](https://cloud.githubusercontent.com/assets/513471/22301170/5e307894-e32a-11e6-8c31-f78619201ede.png)
![screen shot 2017-01-25 at 18 00 19](https://cloud.githubusercontent.com/assets/513471/22301178/62e58ff0-e32a-11e6-8066-9deb9736e3c0.png)

[2017-01-25 17:20] ddidier commented on #4967
That's what I've done but I thought this might be a common enough requirement. Anyway, this is just a feature request :)

[2017-01-25 17:22] deepu105 opened #4968 "Upgrade to latest ng2-translate"
The last time i tried to upgrade to latest ng2-translate version for the library I had so many issues. There wasnt any breaking change reported on the changelogs but somehow things were messed up. So I didnt upgrade.
Need to see if we can upgrade and fix issues after our Beta release

[2017-01-25 17:44] jdubois commented on #4955
Not sure you understand the concept of "code freeze" :-)
But OK if that's simple, as I need this for my demo tomorrow :-)

Le 25 janv. 2017 6:17 PM, "Pierre Besson" <notifications@github.com> a
écrit :

[2017-01-25 17:45] jdubois commented on #4968
I didn't study it, but I saw there was now an official i18n support in
Angular 2, so this is like NG Router and probably we should migrate to it.

Le 25 janv. 2017 6:22 PM, "Deepu K Sasidharan" <notifications@github.com> a
écrit :

The last time i tried to upgrade to latest ng2-translate version for the
library I had so many issues. There wasnt any breaking change reported on
the changelogs but so

[2017-01-25 17:55] jdubois commented on #4965
Can you rename the title to something more explicit?

[2017-01-25 17:56] jdubois commented on #4967
Not sure if a lot of people would need this, and yes it should be a regexp.
For me we should stick to the standard & basic validators, at least for the
moment (we can discuss this again when AngularJS 1 is removed, and Angular
2 is very stable).

Le 25 janv. 2017 6:20 PM, "David DIDIER" <notifications@github.com> a
écrit :

[2017-01-25 18:27] #4967 closed

[2017-01-25 19:12] deepu105 commented on #4968
I would pass their option :smiling_imp:

really I have to compile and deploy a separate app for each language?
This is why I'm starting to like React more and more as they dont force their stuff on to users and you are free to mix and match and still works. I really hate the direction Ng2 is going trying to do everything

[2017-01-25 19:23] ddidier opened #4969 "Search is broken with Angular 2"
##### **Overview of the issue**

Search fields on index pages don't work (ElasticSearch) with Angular 2.

##### **Motivation for or Use Case**

n/a

##### **Reproduce the error**

1. Open an index page
2. Create some entities
3. Search with a value belonging to an existing entity
4. All the entities are displayed

The request sent is `http://localhost:9000/api/platforms?page=0&size=20&sort=id,asc`

[2017-01-25 21:19] gzsombor commented on #4968
So you can't switch between the languages on the fly? The whole app needs to be re-loaded? Strange feature ...

[2017-01-25 22:10] jdubois commented on #4965
And do you have a stacktrace (server side) or log (in your browser debug console) when that empty page shows?

[2017-01-25 22:14] jdubois commented on #4960
I'm closing this as:

- This is a Gradle bug (we don't have the issue with Maven), so maybe they will correct this in a next release
- There is an easy workaround, and indeed I would recommend you not to use a space on Windows (and not to use Windows at all!)

[2017-01-25 22:14] #4960 closed

[2017-01-25 22:24] deepu105 commented on #4968
like most other strange design decisions of NG2

[2017-01-25 22:33] jdubois opened #4972 "one-to-many is broken with Angular 2"
In the current master, if you create a one-to-many relationship, which is not required, and then create an entity without the relationship (as it's not required), you get a:

    Cannot read property 'outlets' of null

And the UI is broken.

My configuration is below, you can test it with the `Buzz` entity.

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code

[2017-01-25 22:52] #4905 closed

[2017-01-26 06:59] pascalgrimaud commented on #4301
Here all Travis builds with only ng2 app:
https://travis-ci.org/pascalgrimaud/generator-jhipster/builds/195433340

It seems to be an issue with elasticsearch which should be fixed in this PR https://github.com/jhipster/generator-jhipster/pull/4970

It wont replace manually tests but I think it can help

[2017-01-26 07:16] deepu105 commented on #4301
Can you also try to enable protractor and Karma tests on all options?

Thanks & regards,
Deepu

On 26 Jan 2017 7:59 a.m., "Pascal Grimaud" <notifications@github.com> wrote:

[2017-01-26 07:22] pascalgrimaud commented on #4301
Karma tests are already enabled for all options.
And for protractor, yes I can! I will do that

[2017-01-26 07:46] banya16 commented on #4965
Hi,

Thank you for rename title.

yo-rc file gateway :

{
  "generator-jhipster": {
    "jhipsterVersion": "3.5.1",
    "baseName": "gatewayOAuth2",
    "packageName": "fr.smatis.gateway",
    "packageFolder": "fr/smatis/gateway",
    "serverPort": "8080",
    "authenticationType": "uaa",
    "uaaBaseName": "uaa",
    "hibernateCache": "hazelcast",
    "clusteredHttpSession": "no",
    "websocket"

[2017-01-26 08:16] #4969 closed

[2017-01-26 09:28] jdubois commented on #4918
@gmarziou looks like you are stuck on this one, can we help you?

[2017-01-26 09:41] VictorADS commented on #4972
Should be fixed by #4948

[2017-01-26 10:06] jdubois opened #4973 "Remove the TODO in Angular 2"
In our Angular 2 code, we currently have 4 TODO items.

Those should be removed before we release:

- [ ] TODO replace ng-file-upload dependency by an ng2 depedency
- [ ] TODO Find a better way to format dates so that it works with NgbDatePicker
- [x] TODO: real pager implementation
- [ ] TODO Use Response class from @angular/http when the body field will be accessible directly

[2017-01-26 10:13] #4966 closed

[2017-01-26 10:23] jdubois commented on #4968
I'm definitely not a big fan of how the Angular team behaves and works....

I'm putting this on "hold", let's have a look after the JHipster 4 release.

[2017-01-26 10:24] jdubois commented on #4928
Let's do this after the code freeze, this isn't urgent.

[2017-01-26 11:04] xetys opened #4975 "NoSuchMethodError if using gradle"
##### **Overview of the issue**

when using gradle, there are various steps in jhipster application, which lead to a

[code]

*  #4882
* generating any simple entity in a microservice (JWT and UAA)

this does not happen when using maven

##### **Reproduce the error**

[code]

This happens also on gateway, and also using JWT...so this is not a uaa specific issue. I try to find out why it works on t

[2017-01-26 11:06] pascalgrimaud commented on #4975
@xetys : did you try to clean your .m2 folder ? It seems like you have a corrupted spring security library

[2017-01-26 11:19] xetys commented on #4975
removing m2 did not changed the situation...currently testing on a third machine

[2017-01-26 11:26] xetys commented on #4975
I reproduced this issue on a clean machine....just generated a jwt microservice with a simple foo entity and started the tests

[2017-01-26 11:32] xetys commented on #4975
really strange, this happens exclusively in gradle...I will update this issue to make it more clear

[2017-01-26 12:10] atomfrede commented on #4975
@xetys I will try too. Sounds like a missing dependency or some dependency missmatch. Have you tried to look (I use IDEA for that, quick and simple) which versions are resolved when using maven and which when using gradle?

[2017-01-26 12:41] #4930 closed

[2017-01-26 13:13] pascalgrimaud commented on #4301
With protractor enabled for all builds: https://travis-ci.org/pascalgrimaud/generator-jhipster/builds/195487021

- Cassandra + ng2: fail on protractor tests
- OAuth2 + ng2: fail on protractor tests

[2017-01-26 13:52] pascalgrimaud commented on #4975
@xetys : ok, I manage to reproduce it.
There is an issue with the lib from gradle.

Here an extract of the dependency tree from
[code]

Here from gradle:
[code]

A quick fix in `your gradle.build` file, to force the `spring-security-core` version:
[code]

As I'm not a Gradle user, I will let you guy doing the appropriate fix

[2017-01-26 13:54] jdubois commented on #4972
Indeed, it's fixed, thanks @VictorADS !!

[2017-01-26 13:54] #4972 closed

[2017-01-26 14:15] jdubois commented on #4882
Closing this as the issue is now #4975

[2017-01-26 14:15] #4882 closed

[2017-01-26 14:21] atomfrede commented on #4975
@pascalgrimaud @xetys It looks like we are overwriting ``spring-security-core``, as the [spring-boot documentation ](http://docs.spring.io/spring-boot/docs/current/reference/html/appendix-dependency-versions.html)says the blessed version ``4.1.4.RELEASE``.

[2017-01-26 15:41] xetys commented on #4975
but as this haoppens for uaa, why it do also fails for JWT microservices? Or am I missing something

[2017-01-26 16:15] mraible commented on #4975
Spring Boot 1.5 (due out this week) depends on Spring Security 4.2. Might fix this issue.

[2017-01-26 16:28] atomfrede commented on #4975
@xetys Maybe because of the not present overwrite here:

`` testCompile "org.springframework.security:spring-security-test"``

[2017-01-26 16:46] juandavidgc opened #4979 "Problems importing JDL"
##### **Overview of the issue**

I'm trying to import a "jh" file. I'm using jdl studio, and I'm using the default template downloaded from the jdl studio web page.

##### **Motivation for or Use Case**

I'm starting with the project and it's my first example.

##### **Reproduce the error**

1. Go to https://jhipster.github.io/jdl-studio/ and download the file (without touching the code).
2. Creat

[2017-01-26 17:04] wmarques commented on #4979
@juandavidgc did you run `yo jhipster` before trying to import the file ? Then you should have a `.yo-rc.json`
Also, please be more respectful about our work ("Just fix it!", really ?)

[2017-01-26 17:11] jdubois commented on #4979
Just add a `.yo-rc.json`!
:-)

[2017-01-26 17:11] #4979 closed

[2017-01-26 17:32] jdubois opened #4980 "Upgrade to Spring Boot 1.4.4"
Spring Boot 1.4.4 has been released: https://spring.io/blog/2017/01/26/spring-boot-1-4-4-available-now

As we are in "code freeze", we should not upgrade now, unless we have a very good reason to do so.

[2017-01-26 17:41] deepu105 commented on #4979
Just read the documentation!

[2017-01-26 17:43] mraible commented on #4980
So has Spring Boot 1.5.

https://search.maven.org/#artifactdetails%7Corg.springframework.boot%7Cspring-boot-starter-parent%7C1.5.0.RELEASE%7Cpom <https://search.maven.org/#artifactdetails|org.springframework.boot|spring-boot-starter-parent|1.5.0.RELEASE|pom>

If you want Spring Security 4.2 w/o overriding the version, that’s a good reason to upgrade IMO.

[2017-01-26 17:55] deepu105 commented on #4301
Thanks @pascalgrimaud I was wondering if we could test most of the options here with some kind of automation. with some script or something that can iterate through options and generate apps according to the options and build, lint, test. we cover some cases in travis but it might be nice to have such a script so that we can test everything locally (or in docker or something)

[2017-01-26 17:59] pascalgrimaud commented on #4301
@deepu105 : what do you think about using the Travis builds from hipster labs orga ? As it is free and not used as often as jhipster orga

[2017-01-26 17:59] deepu105 commented on #4301
Yes we can use that if thats possible

[2017-01-26 18:00] deepu105 commented on #4301
also how difficult it is to configure Travis to run protractor tests on all builds when something is merged to master but not for PR builds?

[2017-01-26 18:01] pascalgrimaud commented on #4301
Ok I ll give a try. Maybe I will need you to connect the repo to Travis, so I will ping you :P

[2017-01-26 18:04] pascalgrimaud commented on #4301
Not difficult, just a variable to detect the branch which is currently tested by Travis.
So we can have a better build when merging into master, and a lighter build for PR. Or the other side if you prefer

[2017-01-26 18:07] deepu105 commented on #4301
@pascalgrimaud yes it would be nice not to tax travis too much so I guess we could add protractor to alls config only when the branch is master what do you think @jdubois

Btw im fixing the 2 broken builds in your branch on our master

[2017-01-26 19:15] deepu105 commented on #4301
@jdubois @pascalgrimaud since we have frozen ng1 development it should stay stable hence what about switching some of the travis builds to test ng2 and keep ng1 only for few something like below

Ng1:
[code]
Ng2:
[code]

[2017-01-26 19:24] deepu105 opened #4982 "NG2 with Oauth option fails to login for second time"
##### **Overview of the issue**

Application logs in fine for first time but If we logout and then login again its fails with below code
[code]

This also fails protractor tests https://travis-ci.org/pascalgrimaud/generator-jhipster/jobs/195487039

This can be reproduce withe our Oauth 2 build

##### **Suggest a Fix**

Not sure if this is something caused by NG2

##### **JHipster Version(s)**

[co

[2017-01-26 19:28] pascalgrimaud commented on #4301
I woud prefer switching full ng2, and keeping only 3 builds for ng1

Travis provides cron jobs: https://docs.travis-ci.com/user/cron-jobs/ (I never test it!!)
I can create a repo on Hipster labs, and every nights, the same builds can run for NG1, so there are no regression
I can create a full build for gradle too :)
There are a lot of possibilities, simply discuss and tell what you want

[2017-01-26 19:46] deepu105 commented on #4301
I kept the other builds in ng1 as `hazelcast-cucumber, and `mariadb-kafka` really shouldnt depend on clientSIde so we could double them as ng1 test as well and 2 of them are microservice so no cleint, `jwt` is already on ng2 so the other one can stay for ng1. mysql and plsql shouldnt differ based on client and our ng2 prod is not proper yet so lets keep it for ng1 now we can later switch them.

[2017-01-26 19:47] deepu105 commented on #4301
@pascalgrimaud you are the travis expert here so I'll follow your lead for setting stuff up in labs org.

[2017-01-26 19:51] deepu105 commented on #4301
Let me know once you create the repo there i'll make you its admin so that you can setup stuff

[2017-01-26 19:59] pascalgrimaud commented on #4301
@deepu105 :
- Just created the repo here: https://github.com/hipster-labs/jhipster-travis-build (hope you're ok with the name :p)
- The 1st travis build in Hipster labs organization: https://travis-ci.org/hipster-labs/jhipster-travis-build/builds/195652235

[2017-01-26 21:32] deepu105 commented on #4301
another way to decrease build time and reduce loading travis is to use one more free CI to run some builds  in parallel :) may be even AppVoyer or circleCI?

[2017-01-26 21:40] pascalgrimaud commented on #4301
Sure it's possible with CircleCI. For AppVeyor, I never use it as I dont know powershell syntax :p

About https://github.com/hipster-labs/jhipster-travis-build, now we have same (current/old) builds here: https://travis-ci.org/hipster-labs/jhipster-travis-build/
I param a CRON to trigger automatically a build every 24h <- I need to confirm it works
Or you can launch a build by pushing text in a du

[2017-01-26 21:45] gmarziou commented on #4918
Well it's difficult because it seems to depend on my entities, I'll try to reproduce it with a smaller project and see if I can find something

[2017-01-26 21:51] deepu105 commented on #4301
On the build console log it says its forking that project. How are we telling it to fork this project and run tests on it?

[2017-01-26 21:54] deepu105 commented on #4301
Oh sorry I see that you are doing that from a script

[2017-01-26 22:04] pascalgrimaud commented on #4301
I will check everything tomorrow morning, time to sleep :sleeping:

[2017-01-26 22:41] DjihadBengati commented on #1441
I had this problem with the v3.12.2 and the only solution to resolve it was to delete my database and create a new one.

[2017-01-27 01:49] gmarziou commented on #4918
I just rebased on master and still have the same problem, I even tried ng 4.0 beta 5 and it fails the same.

https://github.com/gmarziou/generator-jhipster/tree/module-per-entity

I have narrowed the problem from 11 to 3 entities and setup a repo that shows the problem on `yarn start`

https://github.com/gmarziou/issue-module

[2017-01-27 06:09] jdubois commented on #4301
- yes let's go NG 2 with our "normal" Travis builds, as NG 1 is frozen.
- I'm curious to see what it does with our Sonar analysis
- for NG 1 we could have a daily batch working with "hipster labs", that's good enough.
- I'd rather have everything on Travis than use different systems, it's already too complex like this
- I'll contact Travis to see if we can have something better. And if we need to

[2017-01-27 06:10] jdubois commented on #4918
Thanks, this should be our top priority at the moment.

[2017-01-27 06:55] pascalgrimaud commented on #4301
@jdubois : I didn't change the project `app-default-from-scratch` -> jhipsterSampleApplication which is concerned by the Sonar analysis. It is still with NG1
Do you want to switch to NG2 ?

[2017-01-27 07:19] deepu105 commented on #4918
Ill take a look at it today

Thanks & regards,
Deepu

On 27 Jan 2017 7:10 a.m., "Julien Dubois" <notifications@github.com> wrote:

[2017-01-27 07:41] pascalgrimaud opened #4985 "Travis: improvement for NG2"
##### **Overview of the issue**

As NG1 is frozen, our Travis builds should cover NG2

The project from Hipster Labs https://github.com/hipster-labs/jhipster-travis-build will launch a nightly build : https://travis-ci.org/hipster-labs/jhipster-travis-build/

##### **Related issues**

Following discussion here: https://github.com/jhipster/generator-jhipster/issues/4301

##### **Suggest a Fix**

So

[2017-01-27 07:47] jdubois commented on #4301
Yes let's try doing the Sonar analysis on NG 2. No idea if Sonar
understands TypeScript !

Le 27 janv. 2017 7:55 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2017-01-27 09:13] aledesc opened #4986 "[FEATURE] constants for jdl"
##### **Overview of the issue**

possibility to declare constants in the jdl so they can be reused along the script

##### **Motivation for or Use Case**

it would be nice to use expressive constanst for length of String fields for example, I do have some field that are descriptions, and give them 1600 chars (aprox. a page of plain text) , but for other String fields I allocate 1024 Kb, so 1Mb or

[2017-01-27 09:32] VictorADS commented on #4301
@deepu105 I'm Currently testing the `--skip-server` flag and it appears to be broken on both ng1 and ng2.
It breaks because of a` Depency Injection Error ` since we have no `AuthServerProvider`. It is easily fixable but I would like to know what is the use case behind this option ?

[2017-01-27 09:38] MathieuAA commented on #4986
Hi!
First, this issue should go in the JHipster Core project, as the generator only deals with the import feature.
This use case is not that common, but I think it would be nice to have that.
I'm closing this, and re-opening another issue in the right project.
Thanks for the suggestion

[2017-01-27 09:38] #4986 closed

[2017-01-27 09:55] #4975 closed

[2017-01-27 10:07] deepu105 commented on #4301
It is for people who want to generate a front end app seperateley. There are cases where you would like to have your client and server deployed in different containers. It should be easily fixable

[2017-01-27 10:11] deepu105 commented on #4301
@jdubois I dont think it will become too complex. Actually I think it would be quite the opposite. Its just about writing another `circle.yml` and then we can then split our builds into 2 parallel builds thus reducing build time and also increasing coverage as we can then enable Protractor on all builds without worrying about build time increase. It would be much easier than finding a sponsor I be

[2017-01-27 10:14] deepu105 commented on #4985
:+1: for reducing logs as we are only concerned about error logs there. we could also try to specify log levels so we dont see all the info and debug logs I guess

[2017-01-27 10:19] jdubois commented on #4985
yes error logs are a huge problem for me, as most of the time I read them on my phone...

[2017-01-27 10:32] pascalgrimaud commented on #4985
@jdubois : it's funny because I do the same, scroll, scroll, scroll and boring about Hibernate logs!

[2017-01-27 10:33] pascalgrimaud commented on #4985
About Sonar, I don't see a Typescript profile: https://sonarqube.com/profiles
Do you confirm me you want to switch to NG2 for Sonar analysis ?

[2017-01-27 10:36] jdubois commented on #4985
Yes, everybody is going to switch to NG2 anyway... This is like the rest of the build, in fact.
Probably Sonar will add one soon (we have it at work, so I guess SonarQube will update their config soon)

[2017-01-27 11:37] kaidohallik commented on #4918
I tested and found in `tournament-dialog.component.ts` following:
[code]
Shouldn't these imports refer to tournament-type and ranking-list subdirectories?
I have to go and can't test to the end before evening, sorry. I thought that I give that finding as hint.

[2017-01-27 11:48] gmarziou commented on #4918
Good point, I'll try

[2017-01-27 11:58] gmarziou commented on #4918
In fact ther is a barrel in entities, it was easier to generate from existing generator

[2017-01-27 13:00] gmarziou commented on #4918
This was an excellent hint: I used the imports both in `tournament-dialog.component.ts` and in the `@NgModule` of `tournament-module.component.ts` and now it works.

I made the changes in generated code:

https://github.com/gmarziou/issue-module/commit/04343a3285a1db6bd24877d0bc63c08d6f1c1961

Now I must do it in the generator which means I need to iterate on related entities which already exists

[2017-01-27 13:51] deepu105 commented on #4918
Ok something about barrels. When suing a barrel it works well when we import the barrel from a directory which is not a subfolder of the folder where `index.ts` with barrel is defined. So in short if we have a barrel for entity it should be at the entity folder and should be used only when importing any of the entity components outside of that folder but within the folder we should always import b

[2017-01-27 15:36] jdubois commented on #4980
Spring Boot 1.5 is not officially released, and is not a patch version, so for sure we will not upgrade now.
For Spring Boot 1.4.4 I'll have a look, as I'm not very useful for Angular 2, and as I'm going to test the whole stack anyway for our JHipster 4 release.
I will also update the JHipster server lib, and the JHipster Registry.

[2017-01-27 16:33] asanzdiego opened #4989 "Images can't be loaded with Angular2"
- [x] For bug reports run `yo jhipster:info` in your project folder and copy paste the info after the **Suggest a Fix** section or fill the below template manually.
- [ ] For feature requests, label the title with [FEATURE] and explain your use case and ideas clearly below, you can remove sections which are not relevant.
- [x] Remove sensitive info if any
- [x] Make sure the first checkbox is foll

[2017-01-27 16:36] jdubois commented on #4989
Yes I know, image uploads have not be implemented yet -> @deepu105 I talked with @VictorADS yesterday about it, should we have this for JHipster 4? We could skip this feature for the moment.

[2017-01-27 16:50] asanzdiego commented on #4989
Thanks for the quick reply. For me, this feature is important. If you help me a little, maybe I'll be able to develop it myself, and do a pull-request. I know well Angular2 and SpringBoot, but I don't know nothing about [yeoman](http://yeoman.io/authoring/). :(

[2017-01-27 16:52] deepu105 commented on #4989
Let me see if I can get it working with some alternative library else we
will disable it for ng2

Thanks & regards,
Deepu

On 27 Jan 2017 5:50 p.m., "Adolfo Sanz De Diego" <notifications@github.com>
wrote:

[2017-01-27 16:53] jdubois commented on #4989
@asanzdiego have a look at https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md - it's really pretty simple, as long as you remember to do "yarn link generator-jhipster" everywhere (yes this is the dev version, it's no longer "npm" but "yarn", even if it's probably working the same in the end).

[2017-01-27 17:02] wmarques commented on #4301
I checked some options with @VictorADS

[2017-01-27 17:06] deepu105 commented on #4989
Leave it will close later

Thanks & regards,
Deepu

On 27 Jan 2017 6:02 p.m., "Adolfo Sanz De Diego" <notifications@github.com>
wrote:

[2017-01-27 17:53] devlanp opened #4991 "Invoking /management/refresh on service endpoints results in service getting de-registered."
##### **Overview of the issue**

Invoking /management/refresh on service endpoints results in service getting de-registered.

##### **Motivation for or Use Case**

Was trying to reload the configurations using @RefreshScope

##### **Reproduce the error**

1. Bring up Registry
2. Bring up any service
3. Call /management/refresh on the service.

##### **Related issues**

https://github.com/spring-cl

[2017-01-27 18:08] jdubois commented on #4991
Looks like a Spring Cloud issue, you should comment on their ticket, we can't do anything about it.

[2017-01-27 18:08] #4991 closed

[2017-01-27 21:25] jdubois commented on #4980
I tested even the microservices in Docker, everything worked fine, so let's upgrade to 1.4.4!

[2017-01-27 21:37] pascalgrimaud commented on #4980
@jdubois : did it fix devtools 1.4.3 which bug?
https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/_pom.xml#L1262

[2017-01-27 21:38] jdubois commented on #4980
@pascalgrimaud no idea, I need to check

[2017-01-27 21:59] jdubois commented on #4980
@pascalgrimaud yes it's working

I'll commit & close this tomorrow, I need to wait for Maven Central to sync the JHipster lib 0.0.11

[2017-01-28 08:04] #4980 closed

[2017-01-28 08:10] jdubois opened #4994 "Microservices + no database + Elasticsearch is failing"
This was [posted on Twitter](https://twitter.com/karunakerreddyv/status/825215462275289088).

We've had this issue for a very long time, as I never thought of doing this:

- Application type: microservices
- No database (this option is only available for microservices)
- Elasticsearch

As Elasticsearch uses entities, it "requires" a database at the moment. But we could have a simple setup that jus

[2017-01-28 08:34] jdubois commented on #4994
Just tested it, in fact this option is not available, so I did think of it!!
No idea what the person on Twitter did exactly, so I'm closing this.

[2017-01-28 08:34] #4994 closed

[2017-01-28 08:36] gzsombor commented on #4994
I guess, they used ElasticSearch as a full blown persistence layer, just like Cassandra or MongoDB or MySQL.

[2017-01-28 08:37] jdubois commented on #4994
Yes, this is an option we could also have, but not during the code freeze. And I need to check in the stats if many people really use the "no database" option, to know if that's worth doing.

[2017-01-28 09:04] jdubois opened #4996 "Build is broken because of _Elasticsearchonfiguration.java"
Sorry everyone, I broke the build with https://github.com/jhipster/generator-jhipster/commit/e5a7fced3be5418d197b9173cfbe3133d72c7dea

I must have some filesystem issue, on my laptop the file is correctly named `_Elasticsearchonfiguration.java` (and tests pass!!), but on GitHub I see it `_ElasticSearchonfiguration.java` (with the capital S). And I'm not able to rename it: doing a `git status` afte

[2017-01-28 09:08] #4996 closed

[2017-01-28 09:11] pascalgrimaud commented on #4996
I already had this issue when I was on Windows.
Maybe you have to use `git mv old_file new_file` if I remember well

[2017-01-28 09:21] pascalgrimaud commented on #4985
The 1st nightly build : https://travis-ci.org/hipster-labs/jhipster-travis-build/builds/195992165
The Cron Jobs from Travis work well !!

[2017-01-28 09:23] gmarziou opened #4998 "[ng2] Too many compilation warnings in browser"
In ng2, when using `yarn start` the browser's console shows too many compilation warnings about files that the user cannot change:  `reflect-metadata/Reflect.ts`, `polyfill.ts`, .... As a result, user has to scroll up a lot to see real errors.

We should find a way to exclude them to have a greater user experience.

[2017-01-28 09:31] jdubois commented on #4996
Yes I understand this on Windows, but I'm on a Mac! Never occurred to me before!
Thanks!!!

[2017-01-28 09:46] deepu105 commented on #4998
Absoluteley but this can be part of our post release improvement can you add this as an item in #4794

[2017-01-28 17:34] sonersivri commented on #4263
this occurs when RAM has not sufficient space for npm install
may be swap is closed

[2017-01-28 20:28] smouelhi opened #5000 "CacheConfiguration.java template is generating the class with missing imports."
##### **Overview of the issue**

When creating a miscroservice gateway, the CacheConfiguration.java is missing some dependencies.

##### **Motivation for or Use Case**

the project doesn't build after jhipster creation.

##### **Reproduce the error**

Create a microservice gateway, select kafka hazel cast and web sockets, build the project --> CacheConfiguration.java is missing some imports.

####

[2017-01-28 20:52] pascalgrimaud commented on #5000
Hi @smouelhi ! I confirm your issue. Would you like to do a PR ?

[2017-01-28 21:39] #5000 closed

[2017-01-28 21:45] firefoxNX commented on #4900
On macOS Sierra with node 6.9.4, yarn 0.0.19.1 and got the same issue. Fix by @wstidolph did not work. I removed 'postcss-loader' on https://github.com/mraible/jhipster4-demo/blob/master/webpack/webpack.common.js#L83 and it worked.