[2015-07-22 07:51] deepu105 commented on #1753
@andidev I guess if you are gonna attempt this then ill wait as I was thinking of doing this issue https://github.com/jhipster/generator-jhipster/issues/1721

[2015-07-22 08:01] andidev commented on #1753
You can do your #1721 if you want. I have to finish #1468 first.

[2015-07-22 09:06] Mavlarn commented on #1730
In my system, I always use userId, so I got user with login from DB and get id from user, for almost request. Although I use some common code to do that, but I think it is useful to store user id in security context too.

[2015-07-22 12:26] jdubois commented on #1753
Just to confirm: yes the current format wasn't something I thought of, so it definitely needs to be refactored.

Let me give you some explanation:

- At the beginning, I was doing everything in memory, and I wasn't saving anything in a JSON file.
- Then we had this great PR where someone was basically dumping the memory to a JSON file, and then we where able to re-run the generator again, that was

[2015-07-22 12:28] jdubois commented on #1724
Yes, I don't think we could/should change this. We delete this folder to get again the latest version of everything, as well as re-download stuff (as there can also be download issues, so you do a "mvn clean" to have something clean to start up again).

[2015-07-22 12:28] #1724 closed

[2015-07-22 12:41] jdubois commented on #1754
Yes, I agree this is an issue.

The current solution is to do like @gmarziou -> just re-run the generator, like explained in the documentation

And as @MatthieuLebigre says it's often not very difficult, I do it all the time.

Anyway, in the future I do hope that those files get refactored (like in #1753 like @andidev says) so they are easier to upgrade.

[2015-07-22 12:41] #1754 closed

[2015-07-22 12:44] jdubois commented on #1737
Yes I confirm this issue!
We should release a fix for this, this is really bad!

[2015-07-22 13:25] andidev commented on #1468
Could somebody review my PR #1757
It was a bit more tricky to make it work than I thought.

[2015-07-22 15:03] deepu105 commented on #1750
Oh ya i didn't think of that one, coz all my posts were doing creation. I guess yes that can be improved

[2015-07-22 17:16] myspivey opened #1759 "Duplicate Oath2 Tokens Created"
Sporadically getting duplicate tokens with heavy use. Appears to be the following issue, https://github.com/spring-projects/spring-security-oauth/issues/276

[2015-07-22 18:51] myspivey commented on #1759
Also came across this, https://github.com/spring-projects/spring-security-oauth/issues/463.

Looks like step one of the fix is making sure that authentication_id in oauth_access_token is unique. The second being to retry the request on DuplicateKeyException.

[2015-07-22 21:15] marcelinobadin commented on #1370
To work the solution proposed by @lanbuithe be sure to have in your app.js config section the following

[code]

[2015-07-23 04:10] michaelisvy commented on #1685
@jdubois yes this is definitely related. May be we should close this issue and redirect to #1628?

[2015-07-23 04:21] michaelisvy commented on #1628
I think there is a way to configure m2eclipse so we don't need to configure all those pluginExecutionFilters. I've just removed them from my pom.xml file and it still works fine.

When I've imported my project into Eclipse there was a prompt that proposed to me something such as "Do not configure annotation processing". I've said yes and everything seems to be solved.

Project has no more issues (

[2015-07-23 04:54] vw98075 commented on #1370
Sorry for being unfamiliar with the file. Where to put those two lines of code in app.js?

[2015-07-23 09:02] vitornobrega opened #1760 "Problem with DTO - MapStruct"
I generated a single entity without relations and select DTO with MapStruct. When i run the application, i get an error NoSuchBeanDefinition for the new mapper.

Here is a printscreen with the log.
http://prntscr.com/7vzak7

This feature is working??

[2015-07-23 09:29] Vaelyr commented on #1760
You have to run your application with mvn spring-boot:run or add processor:process goal to your launch script or just run it once.

[2015-07-23 10:20] #1685 closed

[2015-07-23 10:20] jdubois commented on #1760
Yes @Vaelyr is correct you need to have the post-processing phase to run -> maybe we should document it better?

[2015-07-23 10:20] #1760 closed

[2015-07-23 10:26] vitornobrega commented on #1760
yes, the document should explain that when you run program with Main class

[2015-07-23 10:34] marcelinobadin commented on #1370
@vw98075 in the .config. But sorry, my mistake. It still not working for me.

[2015-07-23 12:08] tomhughesnice commented on #1370
@marcelinobadin @vw98075 Working for me.

I just made the two changes

	At generator-jhipster 2.18.0, upgrade sockjs-client to 1.0.1 version in bower.json and update tracker.service.js as above
	var loc = window.location;
	var url = '//' + loc.host + loc.pathname + 'websocket/tracker';
	var token = localStorageService.get('token');
	if (token && token.expires_at && token.expires_at > new Date().ge

[2015-07-23 12:55] marcelinobadin commented on #1370
@tomhughesnice Hi. When you look in your browser console is it not returning websocket errors?

[2015-07-23 14:03] marcelinobadin commented on #1370
Found my problem. Since I have created my project using version prior 2.7.0 and I am updating since then, one thing that got missing was the WebSecurityConfiguration which should have

[code]

instead of what I had on my version

[code]

(see the difference in the ant-style pattern)

Corrected and it is working fine.

But anyway the solution from @lanbuithe and the other I have published should be

[2015-07-23 16:35] jdubois commented on #1737
This is really strange as it used to work -> I'm going to push a correction, but I wonder what happened here!

[2015-07-23 16:35] #1737 closed

[2015-07-24 00:05] myspivey opened #1762 "Object Versioning and Comparison for Auditing"
Not sure if I am the only one interested in this, but looking at a solution such as http://javers.org/ to track object changes and push those to Audit events. This is useful say if an admin changes a users role or some other property. Knowing who made that change, when, and what exactly they changed. This idea extends to any entity created during the process. If something like this is already impl

[2015-07-24 00:09] myspivey commented on #1762
The two key features that make it look like a good fit for Jhipster:
http://javers.org/documentation/spring-integration/#auto-audit-aspect
http://javers.org/documentation/repository-configuration/#choose-javers-repository

[2015-07-24 01:00] deepu105 commented on #1737
I guess this is coz of changes for the entity modal states, all create updates should return the entity now i guess

[2015-07-24 08:12] gzsombor commented on #1762
Seems interesting.

[2015-07-24 09:31] mhicauber opened #1763 "App fails to deploy under 60sec in heroku"
Same issue as #1601 I guess. I'm on a "Hobby" dyno which allow a 60sec boot time.

I have the following at startup :

`2015-07-24T09:19:27.620300+00:00 app[web.1]: [WARN] org.springframework.core.io.support.PathMatchingResourcePatternResolver - Skipping [/app/target/gestionimmo-0.0.1-SNAPSHOT.war] because it does not denote a directory
2015-07-24T09:19:56.426844+00:00 app[web.1]: [INFO] com.xxx.co

[2015-07-24 15:51] krishnakumarp opened #1764 "@Version for jpa entities"
Currently the jpa entities generated using JHipster does not contain @version annotation. This is very commonly used for optimistic locking.

Please add @Version field to jpa entities optionally.

[2015-07-24 17:43] jdubois commented on #1763
Yes, I know about this:

- The free tier is just too slow, basically you can't work with it -> I guess that if you pay this becomes OK, and anyway you need to pay to go into production
- The slowest is thing is the database stuff: Hibernate + Liquibase. This is why we remove Liquibase in the "fast" profile. You could do the same, but then you would need another solution to update your database.

[2015-07-24 17:43] #1763 closed

[2015-07-24 18:12] mhicauber commented on #1763
Ok thanks I'll give a go at the dyno one level up.

[2015-07-24 18:42] mraible commented on #1763
If you request a 120 second timeout on a Hobby dyno, Heroku will make the change for you.

[2015-07-24 20:21] mhicauber commented on #1763
Thanks a lot - increasing boot timeout to 120 seconds did the trick.
I dropped them a ticket and they answered minutes after. That's the fastest support answer I ever got.

[2015-07-24 20:46] atomfrede commented on #1762
Yes, looks quite nice.

[2015-07-24 21:00] myspivey commented on #1762
Seems like their is interest, I've started poking around at implementation however am rather new to Java. Anyone with more experience able to offer their insights as to if this will be a good fit and complexity of implementation. I will report back anything I come up with and submit PR's as best I can.

[2015-07-25 03:14] Qinwroks commented on #1750
when a PR will be submit? this can be a real key feature!

[2015-07-25 04:56] deepu105 commented on #1762
I think if this is compatibel with Spring data then it will be a very good addition to JH
@myspivey thank you I was looking for such a solution and was fiddling with spring data audit features to get it done, This seems very interesting, does it support Oracle DB?

[2015-07-25 04:57] deepu105 commented on #1762
OK i missed it, it does support `MongoDB, H2, PostgreSQL, MySQL, Oracle and Microsoft SQL Server` just cassandra is missing

[2015-07-25 05:04] deepu105 commented on #1762
@jdubois @atomfrede @gzsombor @andidev @gmarziou guys do you think this will be a good addition in JH? I have this requirement in my current project so im gonna go ahead and try this in my app anyway so if you guys think its good I can collaborate with @myspivey to bring this into JH

[2015-07-25 05:06] deepu105 commented on #1762
even better @myspivey  if you already have something thats working with jhipster generated app plz share the repo ill use that :joy:

[2015-07-25 06:03] andidev commented on #1762
:+1:
Sounds great if it's possible to use! Guess it would be an option in the entity generator and maybe by the default the user would be Audited?

[2015-07-25 07:49] gzsombor commented on #1762
I've tried to add to one of my jhipster app, and it was very easy. I've only one problem, https://github.com/javers/javers/issues/180 - will see, if the source of the problem is me, or in javers :wink: Otherwise, I think, this could be a great addition.

[2015-07-25 07:51] michaelisvy commented on #1628
So when I install a fresh version of Spring Tool Suite, things are pretty easy. When importing my JHipster project as a Maven project, it proposes to "setup the Maven plugin connector" for maven-processor-plugin (see below):

![image](https://cloud.githubusercontent.com/assets/1440137/8888558/7067828e-32e4-11e5-8c45-db530a14b08f.png)

After the import, everything goes fine.
 I don't need all the m

[2015-07-25 07:54] gzsombor commented on #1750
I going to merge some code from @deepu105 -s branch, and after we could add it to JHipster. Or I'm open to more ideas, what should it include too :smile:

[2015-07-25 07:56] jdubois commented on #1762
I understand that everybody looks very positive about javers, and I didn't have a close look at it yet, my main concerns are:

- I don't want to add yet another library to the project, I'm worried this is getting too heavy and complex
- I don't know Javers or its team, and it only has 90 stars: what is this project going to do in the future? I don't want to tie JHipster to a project that could die

[2015-07-25 07:58] jdubois commented on #1628
@michaelisvy looks good! So nothing to do in the end? Can you have a look at https://jhipster.github.io/configuring_ide_eclipse.html and tell us if something needs to be updated?

[2015-07-25 09:05] deepu105 commented on #1525
guys I have successfully implemented the role management for the usecase i explained above. I user spring security `AccessDecisionManager` and `AfterInvocationManager` along with `@Secured` annotation on resource methods. I used a custom annotation to provde restriction rules but thats not required for Jhipster. So @phouverneyuff I guess there is an easier way to do custom role creation and mapp i

[2015-07-25 09:10] Vaelyr commented on #1525
@deepu105 are you able to share your implementation?

[2015-07-25 09:11] deepu105 commented on #1525
@Vaelyr not at this moment as it has some customer specific code inside but ill cleanup and post some snippets soon

[2015-07-25 09:22] deepu105 commented on #1525
I have removed some specific business logic code also the `AfterInvocationManager ` may not be required. Its needed only if you want to filter returned objects with some logic
[code]

[code]

[2015-07-25 09:30] gmarziou commented on #1753
I'm developing an Hybrid app on top of Cordova/Ionic using JHipster as a backend,
I am thinking about prototyping a separate ionic entity sub generator that would read the json format and generate ionic client side in another module.
So anything that could simplify this entity JSON format would help.

[2015-07-25 10:24] deepu105 commented on #1762
@jdubois it seems like Apache licensed, im gonna use it anyways coz it seems better than my triggers+spring data audit approach i was trying for my app, def saves time for me :smile:  coz my users are asking for granular audit details

@gzsombor did you use it to show the audit changes in a UI? if so will you be able to share your approach :grimacing:

[2015-07-25 10:41] andidev commented on #1753
@gmarziou
Interesting, I have started working on it. I'll probably provide a PR next week.

[2015-07-25 10:45] andidev commented on #1721
I have started working on #1753, have you done anything yet? Don't think the conflicts will be that large.

[2015-07-25 11:16] gmarziou commented on #1697
A potential solution for this would be to copy the springfox HTML page into JHipster webapp so that we can add some code to read the token from localstorage and attach it to iframe window this is [how it was done previously in JHIpster](https://github.com/jhipster/generator-jhipster/commit/d5a94adc95a20fe8c7b58c142301d7b434673f89).

Most of the problems come from the fact that swagger-ui is a JS a

[2015-07-25 11:29] gmarziou commented on #1753
Great

[2015-07-25 12:15] deepu105 commented on #1721
no i haven't started, ill follow whatever method that you will come up with for the underscored names. Anyway this is not urgent so ill wait for ur PR and follow

[2015-07-25 14:40] dilipkrish commented on #1697
While any of the suggested solutions like angular-swagger and angular-swagger-ui are certainly viable. However, think there is some level of customization/configurationn that needs to provided via JHipster regardless. I personally prefer the springfox approach since its driven by spring configurations.

We already support to some extent [bootstrapping the security configuration](http://springfox.g

[2015-07-25 16:01] #1566 closed

[2015-07-25 16:09] jdubois commented on #1764
Yes it's a very useful annotation, I used to do a lot of Spring Webflow + JSF and this was really great (yes, I'm a big fan of JSF, that must surprise many hipsters here!)

By default we only generate the "basic" JPA mapping, so we won't do "version" by default, of course.

It could of course be an option, but we only do options if we add a real added-value. If that's asking a new question, just s

[2015-07-25 16:09] gmarziou commented on #1697
Thanks a lot for your responsiveness.

I did not get that we were using springfox's swagger-ui.html.

I din't underts

There's one thing that I  don't understand, what you presented is mainly server-side configuration exposed to client and read by springfox.js. For oauth2 authentication or token-based

[2015-07-25 16:25] gmarziou commented on #1697
Thanks a lot for your responsiveness.

I did not get that we were using springfox's swagger-ui.html.

If I understand correctly the SecurityConfiguration server-side bean would tell client-side springfox.js that this is a token based security and where to find the token. So for instance it could be a key and the storage service like 'window.localStorage'.

[2015-07-25 16:27] jdubois commented on #1732
For Spring Boot 1.3.0 we didn't do any test yet -> that's good to know, but that's normal if it fails at the moment

[2015-07-25 16:27] #1732 closed

[2015-07-25 16:33] cbornet commented on #1697
Also I don't see the advantage of using password flow Oauth2 alone compared to plain old basic auth... Especially in JS applications where you can't even hide the client_secret.

[2015-07-25 16:51] myspivey commented on #1762
If someone wants to share the java side (that bits taken me some time), I
can tackle the UI and share the implementation.

On Sat, Jul 25, 2015 at 4:24 AM, Deepu k Sasidharan <
notifications@github.com> wrote:

[2015-07-25 17:02] dilipkrish commented on #1697
Not really. I don't claim to be an expert in oauth, but her is my understanding
- The oauth protocol and flow handles how the token exchange dance happens. So I don't think we need to specify the client side storage and retrieval model etc.
- In addition  apiKey and basic auth, swagger-ui exposes a model to configure the different players in this oauth dance as well, i.e. login url, token endpoint

[2015-07-25 17:14] gmarziou commented on #1697
But JHipster supports also x-auth-token authentication, so in this case my proposition would be correct I guess.

[2015-07-25 17:38] gmarziou commented on #1697
I think the value in using oauth2 password profile over basic auth is that the credentials are sent only once to the server rather than with each request and also there's a logout mechanism.

[2015-07-25 17:44] phouverneyuff commented on #1764
+1

[2015-07-25 18:14] Excrulon commented on #1370
I'm having this issue as well. I put in all of the fixes as mentioned above and it kinda works. I still can't get it to work unless I comment out the configureInbound() method. I'm not exactly sure what this method is doing or if we need it. Any ideas?

Also, the posted javascript fix above isn't quite correct. You can't just use localStorageService. It isn't in jhipster. That appears to be some a

[2015-07-25 18:21] dilipkrish commented on #1697
👍🏻

In any case, I do need some help to resolve the bean resolution problem I mentioned above 👆🏻

[2015-07-25 18:57] gmarziou commented on #1697
Do you have some code to share?

[2015-07-25 19:14] tomhughesnice commented on #1370
@Excrulon You should probably try to understand how Angular framework and dependancy injection works before getting involved with these kind of fixes. Try this course https://www.codeschool.com/courses/shaping-up-with-angular-js, its free and helps you get a grasp on the fundamentals.

In answer to the original question, you need to load the localStorageService as a dependancy.
Change this
.factor

[2015-07-25 19:42] Excrulon commented on #1370
Obviously, I realize that. I was simply stating how the person above was posting a fix for this when localStorageService is not used in tracker.service.js. That was my point. No reason to inject that when regular javascript gets the job done just fine, plus there's the fact that the person didn't tell anyone to inject it. Thus, it throws errors by default. If you all want to bring in another depen

[2015-07-25 20:42] tomhughesnice commented on #1370
@Excrulon Not be condescending, just being thorough. From your previous question I assumed you had little Angular experience as you didn't seem understand how localStorageService works.

The localStorageService prefix's all values being stored with 'ls' by default. You should use this service as its used across the Jhipster application for all localstorage operations. One feature of the localStora

[2015-07-25 20:46] Excrulon commented on #1370
Got it, thanks. Will change my code to use that.

[2015-07-25 21:49] bartoszwalacik commented on #1762
hi guys, I'm a JaVers committer, JaVers is OSS and won't become proprietary, it's rather lightway library. I've seen https://github.com/javers/javers/issues/180 and i'am going to fix it (if it is a bug).

[2015-07-26 02:00] pulkitnandan opened #1766 "It's broken."
On a fresh windows 10 machine I have installed, node, npm, bower, yo, jhipster and yo jhipster closes cmd in which it was launched. Nothing fancy to do for this bug reproduction. It exits withouth exception error and nothing generated.

[2015-07-26 02:04] pulkitnandan commented on #1766
Tested same in original windows 7. Same effect.

[2015-07-26 04:42] deepu105 commented on #1762
@myspivey i implemented it in a sample app and its working fine i did a custom ui as well to fetch changelogs

[2015-07-26 05:11] deepu105 commented on #1762
![image](https://cloud.githubusercontent.com/assets/1107223/8892648/c1603c4a-3397-11e5-8415-e662605f3869.png)

[2015-07-26 05:12] deepu105 commented on #1762
so if @jdubois and other core dev members agree i can provide a PR

[2015-07-26 07:33] Qinwroks commented on #1525
@deepu105 really good job :+1:

[2015-07-26 09:05] gmarziou commented on #1766
Help us to help you by providing more information:

   node -v
   yo doctor

Does it fail the same when you run another yeoman generator like

   npm install -g generator-angular
   yo angular

[2015-07-26 09:26] ahhk2015starsml commented on #1731
This last worked with jhipster 2.16.1 since it used a custom swagger-ui/index.html file.
The problem is the swagger requests do not attach any authentication tokens to the rest requests anymore, so you get 401 authentication errors.

You can compare the missing code here
https://gist.github.com/ahhk2015starsml/e8c0676c96303c59ef4d

[2015-07-26 09:34] roaned opened #1767 "node-gyp"
Hi, i try to install jhipster. But everytime i have this problem:
[code]

i install express 2013 and python 27, that are requirments of node-gyp. Can explain where i was wrong?

[2015-07-26 10:16] jdubois commented on #1767
I don't know about node-gyp, it seems to come from BrowserSync : can you also send this ticket to BrowserSync, and link it here?

[2015-07-26 10:21] jdubois commented on #1766
@gmarziou is right -> we need more information than "it's broken", did you read our guidelines before sending this ticket? I'll reopen this if you send those informations.

Our stats do show that no ones uses JHipster with Windows 10, and I don't even know if node and all its dependencies are supported on Windows 10. Anyway, as it also doesn't work on Windows 7 you probably have some other error (

[2015-07-26 10:21] #1766 closed

[2015-07-26 12:35] deepu105 commented on #1731
I guess it was never working coz swagger part was always in an iFrame and the tokens are not added to http headers @gmarziou isnt that right?

[2015-07-26 12:52] gmarziou commented on #1767
Welcome to the joy of Node on Windows.

Windows has a maximal length of 248 chars for a path and npm uses a tree as structure of node_modules folder, it will become flatter with npm 3.0,.

So either you try to shorten as much as possible the path of your project 'C:\projects\java\jhipster\testPulito' -> 'C:\testPulito' or you try to [install npm 3 beta](https://github.com/felixrieseberg/npm-window

[2015-07-26 13:02] gmarziou commented on #1731
Kind of,  @jdubois copied the swagger-ui.html and modified it to retrieve token from localstorage  but it seems that we no longer store the token in localstorage, so it has probably worked but failed to work  once the token was removed from localstorage (I haven't searched in history when and why it changed).

I explained more the potential solutions in #1697

[2015-07-26 13:34] Selectorrr commented on #1370
@tomhughesnice @marcelinobadin What type of authorization do you use?  oauth2?
I guess this solution proposed by @lanbuithe did'n work for xauth.

[2015-07-26 13:40] pnreddysvu commented on #1731
Token was removed from localstorage as part of the fix #1417

[2015-07-26 14:15] gmarziou commented on #1731
Thanks, so it's probably when things stopped working.

I think there were several errors here:
- putting the password in a token in localstorage
- removing the token completely, it should have been kept but containing only the server token
- rather than localstorage  we could have used sessionstsorage

[2015-07-26 14:45] dilipkrish commented on #1697
I have a fork with [just a simple change](https://github.com/dilipkrish/jhipster-sample-app/commit/88947110bfc546b3ffe17692d47e6976794e76b0). Upgraded the dependencies locally to 2.1.2 and added the security bean.

I was expecting [this bean](https://github.com/springfox/springfox/blob/master/springfox-swagger-common/src/main/java/springfox/documentation/swagger/web/ApiResourceController.java#L52-

[2015-07-26 14:48] deepu105 commented on #1750
@gzsombor lets add the basic feature from our forks and then improve on top of it

[2015-07-26 14:53] lchenaction opened #1768 "Mismatch settings with the test application.yml"
This issue is related to #759

When you choose MySQL, the test application.yml is still using H2. that's why they are running differently with the CLOB.

Could you make the test application.yml to follow the dev one?

[2015-07-26 14:54] roaned commented on #1767
@gmarziou i put the folder in disk C but i have the same error. I install npm 3, but when i see versione, i use anyway npm version 2.11.3.

@jdubois ok now i send ticket to BrowserSync.

[2015-07-26 14:55] gmarziou commented on #1768
Could you please propose a pull request?

[2015-07-26 14:56] lchenaction commented on #1768
What is a full request?

[2015-07-26 15:25] roaned commented on #1767
my bad, i didn't done a good research. So i have a big problem with this visual studio version. I try to install UBUNTU. Thank you for help me :)

[2015-07-26 15:52] MathieuAA opened #1769 "Blob issue"
4 tests fail when creating an entity with 3 (blob) fields.

The original [issue](https://github.com/jhipster/jhipster-uml/issues/32).

**Here is the JSON file**, generated with JHipster (not JHipster-UML, but the result is the same):
{
    "relationships": [],
    "fields": [
        {
            "fieldId": 1,
            "fieldName": "myField",
            "fieldType": "byte[]",
            "fie

[2015-07-26 16:07] andidev commented on #1769
@MathieuAA
Okay I see the problem. The test data in the test is always 3 bytes which violates the validation rules.

[2015-07-26 16:08] andidev commented on #1769
Have you started working on it already or should I fix it?

[2015-07-26 16:17] gzsombor commented on #1750
Here it goes !

[2015-07-26 16:19] gmarziou commented on #1768
Yes but it seems you are a test environment ready for validating a fix, I thought you would like to contribute.

[2015-07-26 16:49] andidev commented on #1769
I started working on this so you know.

[2015-07-26 16:56] MathieuAA commented on #1769
Ok, good! I can't work at the moment anyway. Thanks.

[2015-07-26 17:59] diegoacuna commented on #1370
The solution proposed by @lanbuithe works for me, I've oauth2 token configuration for security. It seems that the oauth token was not been sent on the websocket request.

[2015-07-26 21:07] gmarziou commented on #1697
@dilipkrish I got it working just by renaming the bean method in SwaggerConfiguration because I think it was conflicting with JHipster own SecurityConfiguration.

[code]

[2015-07-26 23:51] dilipkrish commented on #1697
Doh!!! Thanks for solving the mystery :)

That should've also demonstrated what I meant in the discussion above. Basically exposing a configuration in combination with the specified security schemes in the `Docket`

[2015-07-27 00:20] #1728 closed

[2015-07-27 00:21] jabelardo commented on #1728
fixed

[2015-07-27 01:12] deepu105 commented on #1750
@gzsombor looks good to start with. @jdubois can you plz merge this if you
are ok with it
On 27 Jul 2015 00:17, "Zsombor" <notifications@github.com> wrote:

[2015-07-27 04:49] krishnakumarp commented on #1764
I think @Version is required for all entities that have a edit option on UI, since without this, users could overwrite changes made by other users (without optimistic locking).

[2015-07-27 05:19] deepu105 commented on #1768
@gmarziou but in the test setup isnt it better to have H2 as test scripsts will insert lot of data as part of gatling tests, which would be not ideal in the actual test mysql DB

[2015-07-27 05:20] deepu105 commented on #1762
@bartoszwalacik I'm facing issues with Javers if I enable CGLIB proxying in spring, I have opened a ticket https://github.com/javers/javers/issues/181

[2015-07-27 05:50] Vaelyr commented on #1735
Should be paragraph with form-control-static class.

[2015-07-27 07:56] andidev commented on #1769
This can be closed now, fixed by #1771

[2015-07-27 07:57] #1769 closed

[2015-07-27 09:43] jdubois commented on #1767
OK, as @gmarziou wrote, this is a Windows issue, with the file path being too long.

[2015-07-27 09:43] #1767 closed

[2015-07-27 09:45] jdubois commented on #1768
@lchenaction do you mean with our new support for the BLOB type?

[2015-07-27 09:48] jdubois commented on #1750
OK that's a lot of work and a lot of new code.
That reminds me that for JHipster 3.0 we should create our own JHipster library (a JAR file that would be on Maven central): there is no need to generate all that code for users, they will not modify it.
-> I have no issue with the JS code, but for the Java part we add a new "api" package, add some DTOs to handle errors, etc, and that's quite a lot of

[2015-07-27 09:59] deepu105 commented on #1750
@jdubois I guess you are right, we can identify stuff that people will not modify usually and put them up in a jar.

Btw the angular alert service introduced can be used by JH users throughout the application to put up toast style notifications like `AlertService.success("Message")` where success can be replaced with `error`, `info` or `warning` we can add it to the docs i guess

[2015-07-27 10:07] jdubois commented on #1750
@deepu105 oh yes, all this needs to be documented, this is a huge part I forgot!!!

[2015-07-27 11:55] marcelinobadin commented on #1370
Hi! @Selectorrr my authorization is OAuth2. But as @Excrulon said, it still returns "connected to server undefined".

Actually after all discussions during this weekend I really don't you if I miss something or not. But anyway, at least is not returning error on the java console and the only thing is this "connected to server undefined".

Again, I think my major problem is that I'm upgrading my pr

[2015-07-27 11:55] pulkitnandan commented on #1766
Try this on any system with slow internet connection. It seems to be a issue of node on windows 10. Please check your stats back again as I've installed it like 20 times on windows 10 and it failed every time.

[2015-07-27 13:15] gmarziou commented on #1766
Then it should fail for any other yeoman generator as well as any other gradle build when it resolves dependencies the first time. Sorry but there's nothing we can do to help you.

[2015-07-27 13:20] gmarziou commented on #1768
@deepu105 yes h2 is simpler in the sense that nothing is persisted. On another hand, if an app uses some database specificities, it would be better to test with same db engine but it means using another database instance as the tests must be isolated from modifications in dev.

[2015-07-27 13:32] lchenaction commented on #1768
This all makes sense. It's a trade off. The problem is H2 and MySQL does treat the CLOB differently. Or the hibernate complains about. What I did is just copy the dev settings to test. I think we can leave the choice to developers.

Sent from my iPhone

[2015-07-27 14:27] slucky31 opened #1772 "Invalid CSRF Token"
Hi,

I'm testing swagger and all the generated post failed with error 403 and message :

I'm using generator-jhipster v2.18.0
Here is my config :

[code]

[2015-07-27 14:32] gmarziou commented on #1772
Did you login as admin before going to the swagger URLs?

[2015-07-27 14:54] slucky31 commented on #1772
Yes login as admin.

I try to create an instance of an entity create with jhipster-uml

For the URL, see the following images
![capture1](https://cloud.githubusercontent.com/assets/2489283/8909058/c373bd98-347f-11e5-8a65-53fdfedb48d6.PNG)
![capture2](https://cloud.githubusercontent.com/assets/2489283/8909064/c56b2668-347f-11e5-9fd6-38ebd03063b4.PNG)
![capture3](https://cloud.githubusercontent.com/

[2015-07-27 15:55] lluiscanals opened #1773 "Logged in user can access and register a new user"
When logged in you should not have access to the new user registration view.

[2015-07-27 16:53] krishnakumarp opened #1774 "AbstractAuditingEntity not working for update for entities with dto"
I tried to use the generated AbstractAuditingEntity to add audit fields to one of the application's entity. The update use case did not work correctly. It was failing with a constraint violation error that createdBy cannot be null. This property is marked as @NotNull in the generated class. But this field will be null in the update mode.

I'd to change this class to modify the definitions of creat

[2015-07-27 18:18] gzsombor commented on #1774
What cleared out the 'createdBy' field? It should be there, when it's retrieved from the database.

[2015-07-27 18:20] gzsombor commented on #1762
Have you added the HibernateUnproxyObjectAccessHook to the Javers bean ? Without it caused some issues for me, because Javers access the fields directly, without calling the getters - which is proxied by hibernate.

[2015-07-27 21:18] bartoszwalacik commented on #1762
@gzsombor you can configure Javers to use getters, see http://javers.org/documentation/domain-configuration/index.html#property-mapping-style. Think it should be aligned with your Hibernate mapping style (getters vs fields)

@deepu105 ok but I need a failing test which reproduces the problem

[2015-07-28 01:58] krishnakumarp commented on #1774
I mask these fields out in dto layer. It is normal not to pass these audit fields to dto and back. You dont want to update created_* fields with updates. So these fields should be marked as updatable=false and should  not have @NotNull

[2015-07-28 04:32] marcelinobadin commented on #1611
I have the same problem and I don't have a clue why this happens. Any one can help me?

[2015-07-28 05:17] deepu105 commented on #1749
@gmarziou after the addition of template ng_validator.ejs im finding the below error when i run with translation false.

This is coz for removing translation i have used a regex to strip translation content from html

in script-base.js line 223, the engine function throws error as it is unable to find the include file. I guess file name can be passed but how do we solve when we use more than one t

[2015-07-28 05:19] deepu105 commented on #1749
@gmarziou I guess we need to add some tests for entity sub as well so that we can identify any issues before releases

[2015-07-28 05:27] deepu105 commented on #1749
@gmarziou for now I have added below line before calling the engine method and it works

[code]

but I dont know how to tackle this when there are multiple .ejs files in future

[2015-07-28 05:46] bluecitymoon commented on #783
how is going on with this?thanks

[2015-07-28 08:35] gmarziou commented on #1749
The include path is resolved relatively to the template including it.
Why is stripContent running on the template rather than on the generated file?

[2015-07-28 11:57] andidev opened #1776 "Cannot open entity page for generated entities including a field with type enum"
Here is my entity.json
[code]

I'm using it with a jhipster application with default options. It seems that it is possible to open the entity main page at all. Not sure why since I get no error message.

[2015-07-28 12:43] jdubois commented on #1768
The aim here is to have H2 in test, with Hibernate doing the persistence work -> in theory, this is the easiest option for developers.
Then, it's our job (JHipster) to make sure it works smoothly for developers -> as far as I'm concerned it has always been working fine, until we added the BLOB type, which is very new, and that's why it still has the BETA tag.
-> I don't think we have anything to d

[2015-07-28 12:43] #1768 closed

[2015-07-28 12:43] jdubois commented on #1773
Yes -> that's not really a security issue, but it's not very logical, I agree

[2015-07-28 12:48] jdubois opened #1777 "Study what we can do with the Yeoman Desktop app"
See https://github.com/yeoman/yeoman-app

[2015-07-28 14:09] jdubois commented on #1777
- This is still very young, too buggy to be used
- It kind of works OK with JHipster, which is good

[2015-07-28 14:09] #1777 closed

[2015-07-28 14:10] jdubois commented on #1750
As this is merged I'm closing it, @deepu105 can you write some documentation on the website?

[2015-07-28 14:10] #1750 closed

[2015-07-28 14:13] jdubois commented on #1772
Isn't this a duplicate of #1731 ?

[2015-07-28 14:52] jdubois opened #1778 "Remove the GZip filter code"
See https://github.com/jhipster/generator-jhipster/commit/88038652b395f3f78e415f4f442f30088ac5c08b#commitcomment-12397890 we might have some copyright issue here, so we need to recode this.

[2015-07-28 15:59] cbornet commented on #1697
@gmarziou With basic auth, you generally use the session to provide the login/logout/expire/don't send credentials everytime that is in Oauth2.
In fact the power of Oauth2 is authorization, not authentication. Oauth2 in JHipster would truly be interesting if we implemented the authorization code flow with an authorization form to do 3-legged auth of the API. Otherwise, I would stick to basic auth.

[2015-07-28 18:33] fbricon commented on #1628
So I tested https://github.com/jhipster/jhipster-sample-app/ in JBoss Developer Studio (JBDS) 9 and stock Eclipse WTP (Mars).

As @michaelisvy mentioned, maven-processor-plugin requires a specific configurator, provided by m2e-apt (available by default in JBDS). The m2e-apt feature is automatically discovered by m2e and needs to be installed by the user (See previous screenshot). I don't know why

[2015-07-28 18:47] marcelinobadin opened #1779 "org.springframework.boot.context.web.ErrorPageFilter - Cannot forward to error page for request"
Does any one can help me with this? I am using my application on AWS Elasticbeanstalk. So, I'm deploying the war.original file and I'm getting this error message.

The full message is:

[code]

[2015-07-28 19:09] jdubois commented on #1779
We just have announced an [unreleased version of AWS support](http://jhipster.github.io/aws.html), but no work has been done on Beanstalk yet.
As we are not sponsored by AWS, we unfortunately can't work on this (unless someone sponsors us, but this has never happened yet).
You could also post this on Stackoverflow, or ask AWS support, but we can't help you here as we can't test anything.

[2015-07-28 19:09] #1779 closed

[2015-07-28 19:11] marcelinobadin commented on #1779
What do you need to develop it?

[2015-07-28 19:29] jdubois commented on #1779
Money :-)
The project has no funding, and we all work for free here. As long as we don't need AWS for ourselves, nobody is going to spend his own money on AWS credits.

[2015-07-28 19:33] marcelinobadin commented on #1779
Sorry, i had to be more specific. I mean, how much do you need? If you are talking about to use the elasticbeanstalk with t2.micro instances, how many hours do you need per month for how long. May be i can help you.

[2015-07-28 20:02] slucky31 commented on #1772
I don't think so. The user resource : GET /api/users is Ok for me in Swagger Docs.

[2015-07-28 22:26] CodyBrokeIt commented on #1370
Yes, the proposed solution will work for OAuth because spring is smart enough to look for the token in the query string parameters. I guess that's part of the OAuth spec.

It will not work for the Token based authentication because there is only logic to pull the token from the headers, not the url.

So I think there are two ways to fix this for token based authentication. Both will take some work

[2015-07-28 23:34] renancunha opened #1780 "Support to multiple html templates"
Hello everyone, what I'm proposing here is an enhancement.

Would be nice to the end-user of the generator have the possibility (during the project creation) to choose an html template (for the generated application) of his choice.

In the current state JHipster always will generate the UI based on fixed html templates.
My idea is to give the choice of user create his own templates and the generat

[2015-07-29 00:44] deepu105 commented on #1750
@jdubois yup sure

[2015-07-29 00:57] deepu105 commented on #1749
I guess i had trouble getting this approach working on the rendered template in memory, but if you're able to change it plz do so

[2015-07-29 01:01] deepu105 commented on #1750
#1775 is merged
@gzsombor is it possible to move all the error i18n content to error.json instead of global.json?  I couldn't figure out where it is setup to use global.json

[2015-07-29 01:03] deepu105 commented on #1750
@gzsombor else we can have it in the entity json as well so that during entity generation we can generate the i18n keys for the field names

[2015-07-29 01:30] Qinwroks opened #1781 "Add Multiple Datasource Support"
My JH App currently using mysql, now i want use mongodb. is there a way to do that?

@jdubois will u consider to add multiple ds support?

[2015-07-29 04:40] michaelisvy commented on #1628
@fbricon  Thanks Fred that's really helpful.
I've just tried both scenarios (install the plugin when prompted and install the plugin using a quick fix). They both work fine. Julien, we should update the Eclipse guide.

And I agree with Fred, there are lots of unused imports that should be cleaned up.

Fred: since you know the internals of Eclipse: would you know what is the best way to exclude som

[2015-07-29 07:14] Qinwroks commented on #1370
i got the same error.
i am using jh2.18,oauth + mysql. and i tried mongodb + oauth. the problem still there.

![2015-07-29 3 10 30](https://cloud.githubusercontent.com/assets/728884/8951898/67fb99aa-3604-11e5-99b9-607db731f78b.png)

![2015-07-29 3 10 53](https://cloud.githubusercontent.com/assets/728884/8951908/727daa9e-3604-11e5-927c-41f183f89515.png)

[2015-07-29 09:05] atomfrede commented on #1781
You want to use mongodb in addition? A "simple" solution would be to create a second jhipster app with mongodb support (remove all ui related stuff maybe) and let your current app communicate via rest api with the mongodb enabled app.

[2015-07-29 09:09] jdubois commented on #1781
Yes we currently can't have 2 datasources at the same time.
The only option is to have a "micro service" approach with 2 apps.

[2015-07-29 09:09] #1781 closed

[2015-07-29 09:11] jdubois commented on #1780
We have 2 kind of templates:

- The ones from AngularJS -> here we stick to the default AngularJS system, and I don't think we could/should change this. It would be very, very difficult to change this.
- The server-side templates, with Thymeleaf -> it looks only very few people use them, so I don't see the need to add more

[2015-07-29 09:11] #1780 closed

[2015-07-29 09:24] Vaelyr commented on #1721
Wouldn't custom implementation of Hibernate naming strategy be an option, that would make them underscored and also maybe pluralize, which isn't supported either. Spring has their own too: http://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/orm/jpa/hibernate/SpringNamingStrategy.html

[2015-07-29 09:24] gmarziou commented on #1628
I don't think they should be cleaned up by generator (unless they prevent compilation)  because IDEs can fix them easily and this adds much complexity to the generator templates.

[2015-07-29 09:51] jdubois commented on #1721
Oh sorry, then this is an issue for me: we always use the underlying technologies with their default configuration (unless this causes some issue). So if we use a custom Hibernate strategy, this is not the default anymore.

[2015-07-29 10:59] gzsombor commented on #1774
Yes, sure, you dont want to put that fields into a DTO, and blindly update it. It's the drawback for using the same DTO for sending to the client, and receiving from the client.
 But, as we don't generate that auditing DTO for that entity, we can't put that ignore flags inside the mapstruct based mapper.
 I don't think it would be a wise decision, to mark the entity's created_ field as it can be n

[2015-07-29 11:00] gzsombor commented on #1652
You can't generate nested entities with JHipster, so the problem caused by the user.

[2015-07-29 11:05] gzsombor commented on #1750
Yes, we can move it to the error.json, but generally it's not a good idea, to have lot's of localization files - it makes the initialization more complex (That error.json would be needed on every page, so it would be loaded, when the global.json loaded) - and having lot's of http requests could cause other problems as well. For example, on mobile / slow connection, it could even fail with timeouts

[2015-07-29 11:06] jdubois commented on #1652
You are correct

[2015-07-29 11:06] #1652 closed

[2015-07-29 11:07] malikhan5049 commented on #1652
by nested entities I meant one's with you have relationships anyway I
figured out how to do that just add @valid annotation to the nested entity
and spring will validated it

On Wed, Jul 29, 2015 at 4:01 PM, Zsombor <notifications@github.com> wrote:

[2015-07-29 11:30] Qinwroks commented on #1781
Got it!

[2015-07-29 11:59] gmarziou commented on #1697
@cbornet I misunderstood you, I thought you were talking about http basic auth while you were talking of jhipster session auth.

[2015-07-29 12:03] gmarziou commented on #1697
@dilipkrish I don't understand how your proposal works, so I will try to re-implement our logic in our own copy of swagger-ui/index.html which retrieves token from localstorage to fixthis issue and related ones in short term then I'll see what can be done for longer term.

[2015-07-29 13:02] krishnakumarp commented on #1774
But we will not update it accidentally, once we mark it as , updatable = false. No?
While creating entity it is populated by AuditingEntityListener, so no chance of that being null.
Minimally, we could mark those fields as updatable = false.

[2015-07-29 15:09] jdubois commented on #1628
I'm trying as hard as possible to have the correct imports all the time -> as @gmarziou wrote this is a lot of work, but still I try to generate the classes correctly.
If there is work to do to optimize them, I will create a specific ticket.

[2015-07-29 15:10] jdubois opened #1783 "Optimize Java imports"
As mentioned in #1628 have a look at the Java imports and optimize them if necessary

[2015-07-29 15:16] jdubois commented on #1600
We can now discuss this on the dev mailing list, and at the moment we have enough ideas!

[2015-07-29 15:16] #1600 closed

[2015-07-29 15:22] cbornet opened #1784 "It should not be possible to have enum values starting by a number in the entity generator"
? What is the class name of your enumeration? myEnumType
? What are the values of your enumeration (separated by comma)? 1foo,bar

Produces:
[code]
which is illegal.
The entity generator should verify that the enum values don't start with a number.

[2015-07-29 15:36] cbornet commented on #1697
@gmarziou Yes, my first comment was not very accurate, sorry... :-)

[2015-07-29 15:57] jdubois commented on #1779
I'm not using beanstalk, but I guess having a small instance running (with the database service) is enough. I have no idea of the price, either.
We also need someone from the dev team who would be interested in doing this, of course.

[2015-07-29 15:59] andidev commented on #1784
This can easily be done with a regex test in a else if case here
https://github.com/jhipster/generator-jhipster/blob/master/entity/index.js#L259

[2015-07-29 16:06] dilipkrish commented on #1697
@gmarziou youre better qualified so I'll leave it in your capable hands. If there is something I can pull in to `springfox-swagger-ui`  to make the packaging easier let me know.

[2015-07-29 16:14] fbricon commented on #1628
I was specifically pointing at the sample app, not the scaffolding results in general (much harder to achieve).
I dunno if you regenerate the sample app every time you change your scaffolding mechanism. If not, then just clean it once, else, good luck with #1783 :-)

[2015-07-29 16:19] fbricon commented on #1628
As for the Javascript exclusion thing, there's no easy way to do it. JSDT notoriously sucks, however I know that in the upcoming Mars SR1 release, users will be able to disable Javascript parsing (per project or globally, I don't know), so you won't get these pesky js errors all over the place.

[2015-07-29 17:04] jdubois opened #1785 "notification system refactoring"
@deepu105 @gzsombor

I'm not happy with having a new top-level "api" package. Is it only used in the "web.rest.errors" package? Then that class should be moved there.

[2015-07-29 17:10] gmarziou commented on #1697
Thanks, i'll probably have a better understanding after this first step.

[2015-07-29 17:13] jdubois commented on #1783
I did a first check, and indeed we have a lot of errors.

- We should use the optimization feature from Intellij IDEA without any modification (free licenses are available for the project team)
- The package of the application can go anywhere, so this one will never be good -> we will put it at the bottom of the imports

This is complexified by the use of Java 7, so this clean up could wait until

[2015-07-29 17:25] jdubois commented on #1613
@ygrenzinger I'm closing this as it's in fact a duplicate from #1158

As a personal note, I hope we can talk together about this soon :-)

[2015-07-29 17:25] #1613 closed

[2015-07-29 17:27] jdubois commented on #1627
@pmarrone I'm not sure there is an easy solution to this, unless the token is issued by the front-end (for example, by Hapijs).
I'm closing this as we can't fix this, unless you have a new idea?

[2015-07-29 17:27] #1627 closed

[2015-07-29 18:24] marcelinobadin commented on #1779
I can help you with this. I don’t know how we can control this but thinking about to have a beanstalk application with one environment with a RDS mysql database using both T2.small machines we are talking about something about USD50.00 / month. I can help you.

I will find you how I can create the enviroment and you use it on my account, or create a new one for you… but sure, I will help with this

[2015-07-29 18:27] ygrenzinger commented on #1613
No problem. Hope it will be useful. It's a piece of work :)

[2015-07-29 20:56] jdubois commented on #1779
OK, I'll ask the dev team if that interests someone on our mailing list

[2015-07-29 22:24] andidev commented on #1753
So I think my work here is finally done.

Heres a list of the json properties that has been moved out from the json file into the memory:
*relationship level*
- relationshipNameCapitalized
- relationshipFieldName
- otherEntityNameCapitalized

*field level*
- fieldNameCapitalized
- fieldNameUnderscored
- fieldInJavaBeanMethod
- fieldIsEnum
- fieldValidate

*root level*
- fieldsContainOwnerManyToMan

[2015-07-30 00:49] deepu105 commented on #1750
But in this case it need not be loaded on every page right?  As the directive is init only once in the index.html wont it be sufficient to load error.json once during initial load?

[2015-07-30 01:12] deepu105 commented on #1779
One t2.small tomcat instamce with mysql RDS is good enough i guess. I have used similar config a lot.

By the way did you try the AWS generator from the master branch?  It will deploy in EBS with an RDS DB

 Can you provide some more details?  Are u using EBs with tomcat 8?  And are u deploying in dev profile or prod?

[2015-07-30 01:30] deepu105 commented on #1753
+1
@andidev Can you plz test with enableTranslation:false as well just to make sure.
and may be refactor the npm tests as well accordingly if needed.
I guess the relationshipFieldName property will be overriden if user chooses that in entity generator rite?

[2015-07-30 01:32] deepu105 commented on #1785
@jdubois I guess it can be moved but i think @gzsombor might have put it there with the future jhipster jar on mind,  am i right @gzsombor?

[2015-07-30 02:43] bluecitymoon commented on #413
The solution is updating the MD5SUM to the new value which you can get in the error log.

for example,
update DATABASECHANGELOG set MD5SUM = '7:06db5cbe9543b2531533d8badfe9cad9' where id = 20150729084026

[2015-07-30 04:47] MathieuAA commented on #1753
We will test it on our side and do some JSON cleaning, it should take long.

[2015-07-30 06:44] gzsombor commented on #1750
Yes, but what the reason for splitting the error messages from global.json to error.json, if it's needs to be loaded always together, in the very beginning of the app lifecycle ? You are wasting your resources.
 Ideally, JHipster should have 3-4 separate json files for the built-in functionalities, (for example 1 for the anonym usage, 1 for the logged in user, and 1 for the admin screens). The oth

[2015-07-30 06:52] gzsombor commented on #1774
yes, that would make sense

[2015-07-30 07:44] andidev commented on #1753
@deepu105
`enableTranslation:false ` should not be a problem since it is a global project property living in .yo-rc.json.
`relationshipFieldName` property is never asked in the entity generator rite and therefore it is not overridden. Though it could be overridden if wanted in the entity.json file.

[2015-07-30 08:17] jdubois commented on #1613
@ygrenzinger not sure you understood the "personal note" part -> you might soon have a great project manager if you work in Suresnes

[2015-07-30 08:30] cbornet commented on #1784
A more flexible solution could also be to authorize the "1foo" value and use an enum class like this:
[code]
Capitalizing the enum names would even be better regarding naming conventions.

[2015-07-30 12:56] gmarziou commented on #1096
Thanks @lifeisfoo I just used it and it works like a charm.

[2015-07-30 12:58] gmarziou commented on #1772
I have a solution but I'd like to have a solution that works also for  #1731 before a PR.

[2015-07-30 13:29] gmarziou commented on #1731
I have opened issue swagger-api/swagger-ui#1503 to get a way to set the auth token before fetching the swagger spec file.

[2015-07-30 14:07] wzomer opened #1787 "SOAP in jHipster?"
What do you recommend as a solution to consume SOAP webservices in a jHipster application? Jax-ws or Spring WS?

Thanks.

[2015-07-30 14:47] jdubois commented on #1787
This should rather go to Stackoverflow, it is not a bug or feature request.

I would recommend (since you ask) CXF:

- Spring WS doesn't seem very active anymore
- I've had a very good experience with CXF recently, with a JHipster + Cassandra application (I just changed the REST endpoints to use CXF instead): easy to use, no bugs, good performance, and a happy customer!

[2015-07-30 14:47] #1787 closed

[2015-07-30 14:50] jdubois commented on #1759
Fixed by #1782

[2015-07-30 14:50] #1759 closed

[2015-07-30 14:52] #1753 closed

[2015-07-30 14:54] wzomer commented on #1787
Right! Thanks for your reply.

[2015-07-30 17:03] bescott1 opened #1788 "Update sonar plugin and add code coverage"
The sonar plugin is outdated, and no longer compatible with the latest sonar server, it should be updated to 2.5.

Sonar analysis is incomplete without code coverage reports. There should be code coverage for Java and Javascript.

I will add Jacoco and Karma-coverage to solve this issue. I'm only able to add it to the maven configuration.

[2015-07-30 17:30] atomfrede commented on #1788
If required I can have a look at the gradle integration via https://docs.gradle.org/current/userguide/sonar_runner_plugin.html

[2015-07-30 17:38] jdubois commented on #1788
Yes that would be really great !

[2015-07-30 17:45] ygrenzinger commented on #1613
Ok I now understand. Yes normally it's confirmed. We can talk about this in September :)

[2015-07-30 17:48] jdubois commented on #1613
Great news!!! Must be the first time I meet a JHipster contributor in real life!

[2015-07-30 21:59] bartoszwalacik commented on #1762
I've solved https://github.com/javers/javers/issues/181
This is not a Javers issue but a Spring bug, fixed in Spring 4.2.0.RC2

[2015-07-31 09:38] deepu105 commented on #1785
note to self: and also need to write filed names to error section in global json when generating entities
cc @gzsombor

[2015-07-31 09:41] deepu105 commented on #1526
need to write this as a tip, but this is low priority for now

[2015-07-31 09:47] jdubois commented on #1785
I also don't like some parts of the UI:

- It is not the same as what we have in the "admin" pages -> we need to be consistent across all pages
- We should normally use only the normal Bootstrap classes, so that people can use their own theme. Here, the "alert" class is even changed -> this should be done like the in "password.html" page, for example

[2015-07-31 10:23] #1743 closed

[2015-07-31 10:38] maddy1512 opened #1793 "There seems to have some problem with cacheBuster, it always gives 400 Bad Request"

[2015-07-31 10:41] atomfrede commented on #1793
Some details would be great (which configuration, which requests...).

[2015-07-31 11:32] jkili commented on #1370
Same here (mongodb+oauth on Heroku):

2015-07-31T11:21:05.716969+00:00 app[web.1]: [ERROR] org.springframework.web.socket.messaging.StompSubProtocolHandler - Failed to send client message to application via MessageChannel in session gffj3d7v. Sending STOMP ERROR to client.
2015-07-31T11:21:05.716976+00:00 app[web.1]: org.springframework.messaging.MessageDeliveryException: Failed to send message to

[2015-07-31 12:09] jdubois commented on #1793
The issue isn't with cachebuster -> cachebuster is just so that resources are not cached by some browsers, see https://github.com/saintmac/angular-cache-buster

-> your 400 error is something else, you need to have a look at what's happening server side

[2015-07-31 12:09] #1793 closed

[2015-07-31 14:10] deepu105 commented on #1785
@jdubois the consistency part needs to be done I agree(we can remove the html alert at other page level and use the `AlertService`, this will also help to remove some markup and if else logic from those pages). The change to Alert class is done only for the positioning to make it appear like a toast, that too only when within `.alerts` and not altering appearance and hence it will work with any bo

[2015-07-31 14:20] deepu105 commented on #1750
@gzsombor yes i get your point and yes that is better for performance and resource usage but imagine if you have 100s of entities and add all the fields in a single file for translation is gonna be very tough to manage. But i dont have a solution for this as im not very familiar with angular translate. My original consideration of error.json was just becoz it is already present and user shouldnt b

[2015-07-31 17:03] jdubois commented on #1764
This happens mostly if you have some long-running Hibernate sessions -> this is exactly why I was using it, as I was using Spring Webflow with them.

Otherwise, it kinds of depends on your business case, and I wouldn't use them by default.

Besides, for each technology we use its default configuration, and:

- only override it if there is a serious issue for us (for example, because of our Angular

[2015-07-31 17:03] #1764 closed

[2015-07-31 17:42] gmarziou commented on #1750
You could have best of both worlds by having separate files for ease of maintenance combined into one at build time like we do for javascript files.

[2015-08-01 06:09] deepu105 commented on #1750
@gmarziou  ya thats an option. Does grunt/gulp uglify task work for json files?

[2015-08-01 10:15] gmarziou commented on #1750
I don't know but there are dedicated tasks to minify json and to concatenate them.

[2015-08-01 10:17] deepu105 commented on #1750
Might be worth considering, but will it affect how translate services load
files when the routes are loaded?

On Sat, Aug 1, 2015 at 6:15 PM, Gaël Marziou <notifications@github.com>
wrote:

--
thank you,
Deepu.k.s

[2015-08-01 10:51] fontanellif opened #1797 "Duplicated alert.service.js"
Hi, i notice that the file alert.service.js is duplicated :

- generator-jhipster/app/templates/src/main/webapp/scripts/components/util/_alert.service.js
- generator-jhipster/app/templates/src/main/webapp/scripts/components/alert/_alert.service.js

i think that the first, under util directory, could be deleted. Right?

[2015-08-01 10:52] deepu105 commented on #1797
yes im making a PR with those changes currently

On Sat, Aug 1, 2015 at 6:51 PM, Filippo Fontanelli <notifications@github.com

[2015-08-01 12:50] deepu105 commented on #1797
closing this as the PR has been done https://github.com/jhipster/generator-jhipster/pull/1798

[2015-08-01 12:50] #1797 closed

[2015-08-01 12:54] #1785 closed

[2015-08-01 16:09] #1526 closed

[2015-08-01 16:23] gmarziou commented on #1750
It depends on how we decide to do it, I'm not yet clear in how works the notification system, I need to play with it. Anyway, I think minification of i18n files could make sense anyway for a prod build and I'm even wondering if they are versioned versus caching. Overall, I think we should treat them as style sheets having fragments minifiied and merged into one file, that would probably simplify s

[2015-08-01 22:50] gmarziou opened #1800 "Empty alerts on errors 403"
Hi team,

I had a problem of invalid CSRF cookie, in login screen this resulted in 2 requests in error and 2 empty alerts being displayed. My app was configured with "enableTranslation": true.

POST /api/authentication error 403
{"timestamp":1438467827536,"status":403,"error":"Forbidden","message":"Invalid CSRF Token 'null' was found on the request parameter '_csrf' or header 'X-CSRF-TOKEN'.","pat

[2015-08-02 00:37] phouverneyuff opened #1802 "Missing import in DTO when use option Blob in entity Generator"
I made one PR for this -> https://github.com/jhipster/generator-jhipster/pull/1801

[2015-08-02 02:25] deepu105 commented on #1800
Oh yes, i guess i was sending the message as fallback for no translation
scenario, but i guess we should put a null check and overwite the message
if key is null, ill do a PR today

On Sun, 2 Aug 2015 6:51 am Gaël Marziou <notifications@github.com> wrote:

[2015-08-02 03:31] deepu105 commented on #1800
@gmarziou can you check if this is fine? im already excluding 401 errors but not sure if we should exclude all 403s can you suggest `!(response.status == 401 && response.data.path.indexOf("/api/account") == 0 )` a similar pattern for 403 if that needs to be excluded.

This is done in errorhandler.interceptor.js

[2015-08-02 08:02] Qinwroks opened #1804 "question on include JHipster the maven dependency way"
is there a way to simplify the use of jh just like spring-boot way.

spring-boot way: just include spring-boot dependencies, so it is very simple.

or jh can use the spring-boot-starter way.

**if jh could provide a way like spring-boot or spring-boot-starter, then each jh version update, i should just change the jhipster version in my pom.**

[2015-08-02 08:53] deepu105 commented on #1804
I definitely do not understand your query can you be more specific or detailed

[2015-08-02 09:34] gmarziou commented on #1804
@Qinwroks JHipster is a code generator not a dependency, so you can't depend on it, the generated code is yours.

[2015-08-02 11:28] jdubois commented on #1804
I think this is kind of the idea I have for JHipster 3, with some code in a specific JAR file.
-> this is not possible at the moment, but I will definitely try to do this in the next major version

[2015-08-02 11:28] #1804 closed

[2015-08-02 12:24] sdoxsee commented on #1762
Haven't looked much into javers yet. How does it compare to envers? Javers sounds promising.  Raw envers is not clean to work with and spring-data-envers is a buggy and stagnant project (see https://github.com/spring-projects/spring-data-envers/issues/33)

[2015-08-02 12:29] jdubois commented on #1762
Sorry, I didn't understand it was like Envers. In that case, this is used in very specific situations, and I would not recommend it for everyone.

[2015-08-02 13:32] gmarziou commented on #1800
@deepu105 I tested your patch, yes it fixes the empty message issue but the user experience is not very satisfying because these messages are somehow redundant with the ones from the LoginController.

To reproduce, go to login screen and enter wrong password, you'll get this:

![image](https://cloud.githubusercontent.com/assets/361007/9026318/3838d3de-392b-11e5-8a59-890c64dbb634.png)

I think it's

[2015-08-03 00:39] deepu105 commented on #1800
Are you using OAuth?  Ill see how this can be tackled. Which error message do you think is preferred?

[2015-08-03 01:31] Qinwroks commented on #1804
@jdubois ,OK THANKS!

[2015-08-03 03:32] gmarziou commented on #1800
It was either session auth or xauth token but not oauth2.

I think there should not be any notification alert in this screen because the controller already provides the only message that is meaningful to an end-user.

In fact, I'm not convinced by automatic alerts as implemented by jhAlertToast directive because they are not contextual and because I don't know how to disable them depending on the

[2015-08-03 04:48] deepu105 commented on #1800
@gmarziou I guess i have to agree about the default in switch part.

1. I didn't think of these as contextual as the idea was to have universal alert which can be used regardless of which view you are in, similar to the concept of push notifications. you can simply add an alert form anywhere and it shows up as a toast.
2. I guess for now we can remove the default block and do auto alerts only for

[2015-08-03 06:44] renszarv commented on #1800
Having a separate 'error-display' directive, which can be added/removed from individual forms could solve the disparity issue on the login form. Of course, that would mean that the nice 'toast' based, global alerts should be disabled.

[2015-08-03 06:45] gzsombor commented on #1800
Having a separate 'error-display' directive, which can be added/removed from individual forms could solve the disparity issue on the login form. Of course, that would mean that the nice 'toast' based, global alerts should be disabled.

[2015-08-03 06:49] deepu105 commented on #1800
@gzsombor I guess you had it that way originally and I thought that one can be a global addition as it would be easy to maintain.
I think we can have a hybrid,ill move the directive to individual views instead of index.html that way if you do not want it you can just remove the directive. I guess for now ill make it look like existing alerts , if peoplewant to have themas toast they can simply add

[2015-08-03 06:51] gzsombor commented on #1800
:+1:

[2015-08-03 07:35] maheshkaranjkar opened #1806 "Create classes using database"
Hi Team,

Is it possible to create classed using existing database tables.

Regards
Mahesh

[2015-08-03 07:37] deepu105 commented on #1806
its not possible to reverse engineer from DB, but if you are able to model your DB to UML classes then you can use [Jhipster UML](http://jhipster.github.io/jhipster_uml.html) to generate your app

[2015-08-03 07:37] #1806 closed

[2015-08-03 07:39] deepu105 commented on #1802
@phouverneyuff next time when you submit PR add Fix #issueNumber in the commit message so that the related issue is autoclosed when PR is merged

[2015-08-03 07:39] #1802 closed

[2015-08-03 08:46] deepu105 commented on #1800
Hi guys,
done I have split the alert directive into a normal alert `jh-alert` and error alert `jh-alert-error` and have moved these into the entity html files so that these can be removed from a view if not required.

Also changed the look and feel to be consistant with remaining alerts on JH default theme

@gmarziou @jdubois  is this OK now?

![image](https://cloud.githubusercontent.com/assets/11

[2015-08-03 11:10] gmarziou commented on #1800
:+1:

That's much better, this way we have a good default mechanism but still we give the developper the possibility to do it differently.

[2015-08-03 13:16] maheshkaranjkar opened #1807 "SQL server 2012 table is not getting created"
Hi Guys,

 We are trying to use jhipster with SQL  server, we have done all necessary configuration mentioned in Tips section http://jhipster.github.io/tips/004_tip_using_ms_sql_server.html .

Also we are able to run application first time . but wehn we created entity its not giving any error but table is nit getting created in database.

Following are files I have changed

POM.xml

<code>

<!-- a

[2015-08-03 14:28] bescott1 commented on #1788
This has been done for maven, just needs the gradle version.

[2015-08-03 14:43] deepu105 commented on #1807
Did you restart the server after ceeating the entity?
On 3 Aug 2015 21:16, "Mahesh Karanjkar" <notifications@github.com> wrote:

[2015-08-03 14:49] deepu105 commented on #1807
Also sql server is not officially supported by Jhipster so the date value needs to be manually added if you are using date i guess. Anyway since we do not support ms sql and most of us dont have a way to test we may not be able to help, you can try to post this in gitter to get some help. The tutorial was from @Zyst so he might be able to help you

[2015-08-03 14:49] #1807 closed

[2015-08-03 15:04] maheshkaranjkar commented on #1807
Thanks deepu for your reply,

yes you are right problem was date field. I removed date field and it work fine.

Cheers !!
Mahesh

[2015-08-03 15:40] cah-andrewfitzgerald opened #1809 "DTO mapping fails on many to one relationships."
There is a mismatch between angular and the DTO for many-to-one relationships.

Create an Author entity (using the DTO option), and a Book entity (Also using the DTO option) where Book has a many-to-one relationship (writtenBy) to Author.

Using the generated admin interface, create an Author, then create a Book written by that author.

Upon saving, the book will have a null author. This is becaus

[2015-08-03 16:18] renancunha commented on #1755
@vw98075 @jdubois I used the default date filter of the angular to solve this. Currently the generator prints the plain text that was received by the server.

By default, for fields of LocalDate type I format using the "shortDate" pattern ("M/d/yy") and for fields of DateTime type I used the "short" pattern ("M/d/yy h:mm a").

Remembering that these standards (short, shortDate etc) are defined by

[2015-08-03 16:32] atomfrede commented on #1788
I will take care of it.

[2015-08-03 17:18] vw98075 commented on #1755
Thanks for looking into this issue. Will the default format be fixed or vary based on locale?

[2015-08-03 17:33] renancunha commented on #1755
@vw98075 varies based on locale. The app loads an locale file with these definitions according with current language.

Here is the file when the current language is english:
https://github.com/angular/bower-angular-i18n/blob/master/angular-locale_en.js

All these files are already included in the project.

[2015-08-03 21:26] Selectorrr opened #1810 "MongoDb repos with ElasticSearch."
I think they are not compatible.
Example: https://github.com/Selectorrr/petsroom-jh
[code]

[2015-08-03 21:45] pmarrone commented on #1627
This is what worked for me.
I changed this line in CsrfCookieGeneratorFilter from this

    cookie.setPath("/");

to this

     String applicationPath = request.getServletContext().getContextPath();
     if (applicationPath.isEmpty()) {
         applicationPath = "/";
     }
     cookie.setPath(applicationPath);

This way, the generated cookies are valid only for the given context path, and it als

[2015-08-04 01:39] marcelinobadin commented on #1525
Great! +1

[2015-08-04 02:21] renancunha commented on #1809
I agree with you @cah-andrewfitzgerald, I think it should be resolved in angular side. Maybe this solution is a little bit ugly, but make more sense...

[2015-08-04 07:36] jdubois commented on #1810
Yes, it's written here in the documentation: http://jhipster.github.io/using_elasticsearch.html

"This option has some limitations [...] It only works with SQL databases".

Also, you shouldn't have the option available with the generator: if you choose MongoDB, you can't choose ElasticSearch. I've tested it in the latest version and it works this way.

BTW, you should read our guidelines, and send

[2015-08-04 07:36] #1810 closed

[2015-08-04 07:40] maheshkaranjkar commented on #1807
Hi Guys.

After updating latest liquibase version even table with Datetime field its working fine.
Updated Pom.xml
<code>

<liquibae.version>3.4.1</liquibase.version>

</code>

Regards
Mahesh

[2015-08-04 08:10] deepu105 commented on #1807
@maheshkaranjkar you can submit a PR to upgrade liquibase version in maven and gradle files if you like.

[2015-08-04 09:32] FaustXVI commented on #1569
What about using the `@JoinColumn` annotation to avoid the mapping table ?
Let's use the JHipster documentation's exemple :
[code]
What we want is the Car table to have the owner's id, so let's assume we have it.
You can map the Car in the Owner like this :
[code]
What do you think ?

[2015-08-04 09:49] jdubois commented on #1569
I'm feeling stupid here! Yes, let's re-open this!

[2015-08-04 09:56] marcelinobadin commented on #1779
Hi! Sorry, I was on vacation for a few days. No, getting back to business. I will help you guys. What you think is the best choice, I provide you with AWS keys or I do a donation for you via paypal?

[2015-08-04 10:00] marcelinobadin commented on #1779
@deepu105 answering your questions. I tried this sub-generator yesterday and as I'm using continuous integration with automated deploys it is not working or at least I need to know where I can store the configurations to run jhipster:aws automatically (and smoothly) to deploy on different enviroments. I also notice that you are using the configuration version 1.4.1 which is good because in the new

[2015-08-04 10:42] deepu105 commented on #1800
@jdubois can i merge this?

[2015-08-04 12:29] atomfrede commented on #1715
It's part of the tips and tricks section now, as the setup is very easy.

[2015-08-04 12:30] #1715 closed

[2015-08-04 12:36] jdubois commented on #1800
@deepu105 oh yes, and this corrects the CSS "alert" class which I didn't like

[2015-08-04 13:38] atomfrede commented on #1710
anybody able to reproduce it?

[2015-08-04 13:49] RobWin commented on #1715
Thx!

[2015-08-04 14:38] #1800 closed

[2015-08-04 21:05] marcelinobadin opened #1812 "How do I change the favicon.ico from the spring leaf to my own figure?"
My favicon.ico file is in the same level as the index.html. Is that right? If so, why I always get the spring leaf as my favicon?

[2015-08-04 21:12] kileniklawski commented on #1698
This seems to be related to a yeoman generator issue: https://github.com/yeoman/generator/issues/835

I think the best course of action is to fix the root cause in the yeoman generator. I'll be watching the issue to see if I can help.

[2015-08-04 21:50] gmarziou commented on #1812
That was supposed to work this way but it does not work anymore probably since we moved static resources under assets folder.

Your  file should be here: src/main/webapp/static/favicon.ico

[2015-08-04 21:53] vitornobrega opened #1814 "Unable to call services from Angular Factory"
I generate an app from hipster generator and create a new factory to call my services.

All the existing services are called with x-csrf token in the headers but when i try to make a Get or a Post with my factory, i get de error 401, Unauthorized

In my app config, i have this:

 //enable CSRF
    $httpProvider.defaults.xsrfCookieName = 'CSRF-TOKEN';
    $httpProvider.defaults.xsrfHeaderName = 'X-

[2015-08-04 21:59] gmarziou commented on #1812
In fact it could be at different places as you can see in [spring-boot ResourceProperties](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/web/ResourceProperties.java)

[code]

Anyway, it's a bug on our side, either we fix it by changing JHipster favicon.ico location and comments in index.html or we must add

[2015-08-04 22:18] gmarziou commented on #1814
Yes this is automatic and it works otherwise you could not login into the app.
This is very likely an issue in your code, it should be posted on stackoverflow and you may want to provide more information there:
- What makes you think it's a CSRF issue?
- Did you change the SecurityConfiguration?
- How is your REST controller written?
- Were you logged in?

[2015-08-04 22:18] #1814 closed

[2015-08-04 22:35] vitornobrega commented on #1814
I'am not logged in. This is in the registration process. I need to call a service to get reference data.

The rest controller is like another services.
I need to change something in the security config?

[2015-08-04 22:43] gmarziou commented on #1814
For reference, the [question on stackoverflow](http://stackoverflow.com/questions/31819918/angular-jhipster-how-to-send-x-csrf-token-in-all-http-requests/31820608#31820608)

[2015-08-04 22:56] vitornobrega commented on #1814
I already had this configuration on my security config.

I create a similar service file like the generated services for entities and try to call api/walletslist before log in and it works! But i need to have my factory.

In the generated services file, all requests have $resource and i have $http to make requests in the factory.
For this reason, i think i am missing something in the factory but i

[2015-08-04 23:19] gmarziou commented on #1814
On Stackoverflow please

[2015-08-05 00:08] marcelinobadin commented on #1812
Thank you. I just added this ./static folder to assets, included it on the Gruntfile.js to copy this to the dist and in the index.html I added

[code]

in the <head> section.

It worked very fine.

[2015-08-05 02:03] michaelisvy commented on #1628
@fbricon Fred, one question based on this link:
https://github.com/jhipster/jhipster-sample-app/blob/master/pom.xml#L380
do you think that we can remove the whole plugin declaration?
Or should we remove the <configuration> tag and still declare the m2eclipse plugin?

Removing the whole plugin works well on my machine. Just wanted to confirm with you :).

Thanks!

[2015-08-05 02:09] michaelisvy opened #1815 "Misc improvements to the JHipster POM"
* JHipster declares the Hibernate version explicitly:

[code]
Current version provided by Spring Boot is 4.3.10.Final. Can't we rely on the default?

Same goes for json-path (same version is declared in JHipster and Spring Boot. Can we just rely on Boot?

* json-path is declared as follows:
[code]
There are some warnings in Eclipse because the version and scope are not necessary. Can we remove the

[2015-08-05 08:55] gmarziou commented on #1815
JHipster uses same property names as Spring Boot for dependencies, so this enable teh app developer to overwrite what SB offers which can be useful sometimes when we need  to upgrade for a fix in Hibernate that is not included in the version referenced by SB pom.

I just did it yesterday in my app.

[2015-08-05 08:59] gmarziou commented on #1812
Great, I keep the issue open because I'd like to discuss with dev team about how we fix it.

[2015-08-05 09:25] michaelisvy commented on #1815
Thanks. I'm familiar with Spring Boot but was more asking why we redefine that property in particular (and not all the other libs).
We usually consider that it's easier to let Spring Boot come with the default version of libs unless there is a specific issue.

In the case of Spring Security, I get it. The version coming with Boot is too old and JHipster wants to use the latest Spring Security. Tha

[2015-08-05 09:26] jdubois commented on #1815
Yes, we need to have a look at each commit log for those versions -> they are normally here because we had an issue with the version provided by Spring Boot (by default we use the Spring Boot versions, and only override them if we have a good reason to do so)

[2015-08-05 09:44] MathieuJ opened #1816 "webapp bower libs not in gitignore"
The bower_component folder has been moved to src/main/webapp but the gitignore file does not reference it, therefore all the bower libs are added and commited.
It feels like just like the node modules they should not be commited.
I can fix it but is my idea correct ?

[2015-08-05 09:48] jdubois commented on #1816
No this is not an issue, they should be commited.
This has been discussed previously here many times, you can also see http://addyosmani.com/blog/checking-in-front-end-dependencies/

[2015-08-05 09:48] #1816 closed

[2015-08-05 10:01] atomfrede commented on #1788
How is the js coverage supposed to be displayed on the sonar Web interface? Are there any additional plugins required?

I will downgrade the jacoco plugin, because jacoco changed there coverage format which seems not to be compatible to sonar yet.

Currently gradle generates the same output as the maven build, but I can't see js coverage in the Web interface.

[2015-08-05 10:04] MathieuJ commented on #1816
Désolé, j'avais cherché mais rien trouvé dessus dans la discussion

sorry then, i searched in the jhipster issues but counldn't find anything about it

[2015-08-05 11:17] smart987 opened #1817 "Phantom installation failed error while trying to create new application"
Hi, Please find the error stack while I am trying to create new application, I have entered all the options through command prompt to create the new application but while generating application I am getting the following error stack in my command prompt. Can any one help me in resolving this.

-----------------------------------------------------------------------------------------------------

[2015-08-05 11:49] gmarziou commented on #1817
This is not a jhipster issue, you should report it to phantomjs project.

Your node environment is not correct as you can see in the many errors you got.
-  'EPERM' : wrong file permissions on path: 'D:\smartcuttings\node_modules\phantomjs\lib\phantom\phantomjs.exe
- Error: Can't find Python executable "python", you can set the PYTHON env variable. you did not install Python or did not configure i

[2015-08-05 11:49] #1817 closed

[2015-08-05 11:57] gmarziou commented on #1778
By the way, I always disbale it in prod because I always have a reverse proxy in front of my jhipster apps that does it.
Is it really useful?

[2015-08-05 12:05] fbricon commented on #1628
Yes, looks like the whole lifecycle-mapping plugin definition can be
skipped altogether.

On Tue, Aug 4, 2015 at 10:03 PM, michaelisvy <notifications@github.com>
wrote:

--
"Have you tried turning it off and on again" - The IT Crowd
And if that fails, then http://goo.gl/tnBgH5

[2015-08-05 12:27] gzsombor commented on #1778
At least 2, that I'm aware of :)

[2015-08-05 13:10] michaelisvy commented on #1628
Perfect, thanks!

[2015-08-05 14:07] gmarziou commented on #1778
:) Is that internal apps?

[2015-08-05 14:12] andidev opened #1819 "one to one relationships with dto does not compile"
This is since PR #1757
Working onit

[2015-08-05 14:15] kutzi commented on #1778
Even without a remote proxy, your application server can handle this already. At least Tomcat and Jetty can do it.
I've also removed the GzipFilter and just enabled it in Tomcat.

[2015-08-05 14:20] gzsombor commented on #1778
One of them is internal, one is external.
Is is possible to switch on the gzip compression with spring-boot ? That would be awesome ...

[2015-08-05 14:23] jdubois commented on #1778
- If you have a frontend or an app server that can do the gzipping, then the filter isn't useful (obviously). It is here for "normal people" who are just running JHipster as a JAR file, and/or who don't want to configure such a feature
- We should propose to disable it as an option in our .yml file
- I thought that would be included in Spring Boot at some point, but it still isn't -> we have a str

[2015-08-05 14:30] kutzi commented on #1778
jdubois: but if you run JHipster from the JAR, it means that you're using an embedded Jetty (or Tomcat) and again can use their gzip support?

[2015-08-05 14:32] jdubois commented on #1778
@kutzi  yes but then you need to configure them:

- they can't be configured through Spring Boot (at least when I coded the filter)
- they have different implementations

Here the idea is that we have a common implementation, with a common configuration, that we can tune specifically for JHipster.

[2015-08-05 14:36] kutzi commented on #1778
For Tomcat we just do in application.yml:

server:
    tomcat.compression: 1024
    tomcat.compressableMimeTypes: "text/html,text/xml,text/plain,text/css,application/json,application/xml,application/javascript,image/svg+xml"

[2015-08-05 14:39] jdubois commented on #1778
@kutzi if that's configurable from the application.yml then it's really different, in that case we should use this (at the time I remember it wasn't possible).

My opinion is that we should:

- remove the GZIP filter
- use the configuration from @kutzi in the production application.yml file

[2015-08-05 15:16] deepu105 commented on #1817
Btw i used to get the same error but thatscoz of mcafee antivirus which
does a realtime check on .exe files causing phantom.js intall to go into
some kind of file lock.

So if you have mcafee turn it off and try npm install.  Not sure about
other antivirus

On Wed, 5 Aug 2015 7:50 pm Gaël Marziou <notifications@github.com> wrote:

[2015-08-05 15:22] bescott1 commented on #1788
There's a bug I didn't catch:

Maven and karma have different base path. The base path of maven is the project root, the base path of karma is {projectDir}/src.

Karma creates the lcov report where all files are based on the karma base path, when passed to Sonar through maven, Sonar cannot resolve the paths in the lcov file.

The fix as I see it would be to synchronize the base path of both to the

[2015-08-05 15:24] atomfrede commented on #1788
I'll have a look as the ``karma.conf`` must be changed to default gradle output paths (at the moment they always point to mavens target directory)

[2015-08-05 15:28] deepu105 commented on #1778
Seems to be possible with spring boot property so we can config in `.yml` file

[Spring Boot Properties](http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html)

[code]

[2015-08-05 15:31] #1735 closed

[2015-08-05 16:54] gmarziou commented on #1778
In fact [SB offers 2 possibilities](http://docs.spring.io/spring-boot/docs/current/reference/html/howto-embedded-servlet-containers.html#how-to-enable-http-response-compression)
- the server built-in one  showed by @kutzi
- the one using a GZipFilter provided by the server which offers more control over URL mappings, ...

[2015-08-05 16:58] gmarziou commented on #1817
Right, so many potential issues with npm and Windows, I even got trouble once because I defined EDITOR environment variable :imp:

[2015-08-05 17:53] marcelinobadin commented on #1812
Well, it works fine once I run in development mode (java -jar ....war) but once I send it to AWS it stops to work and the spring leaf is all I have. If I found some solution I will post here. Thanks.

[2015-08-05 19:10] gmarziou commented on #1812
It's probably related to StaticResourcesProductionFilter which is active in production profile

[2015-08-06 01:21] deepu105 commented on #1778
But shouldn't we avoid adding a new dependency just for this so either
spring boot property or a custom gzip filter sounds better for me
On 6 Aug 2015 00:54, "Gaël Marziou" <notifications@github.com> wrote:

[2015-08-06 03:42] michaelisvy commented on #1628
@fbricon I have removed the m2eclipse config and it's all good except that we have this warning:
[code]

I think the m2e connector is there but we still have this warning. Is there something we can do to remove it?
After that our config will be perfect.
Thanks!

[2015-08-06 06:31] fbricon commented on #1628
Ah, it can be safely ignored but I reckon it's annoying.

Currently m2e doesn't provide a way to mute these messages from m2e's
default lifecycle mappings.

You have 2 choices for now:
- document that it can be safely ignored and document how this can be muted
by adding the following pluginExecution in the workspace lifecycle mapping
in Preferences > Maven > Lifecycle Mappings  > Open workspace li

[2015-08-06 08:42] michaelisvy commented on #1628
Hi Fred, thanks for that. I would say the best thing is to leave this warning for now.

In the meantime, do you think it would make sense to have m2e provide some configuration that would mute those messages? I'd be happy to open an issue if you'd like.

[2015-08-06 09:02] gmarziou commented on #1778
i agree that we should be careful bringing in a new dependency so I looked at [jetty-servlets pom](https://github.com/eclipse/jetty.project/blob/master/jetty-servlets/pom.xml) and it has several deps on other jetty modules, so it could potentially cause problems.

So you're right, it's probably better to go for spring boot property, document it and in this doc section add few words on alternative

[2015-08-06 11:53] jdubois commented on #1731
@gmarziou another solution, which would be simpler:

- In "dev" mode the Swagger page is publicly accessible (no Spring Security at all)
- In "prod" mode it is not available at all

Anyway, "seeing" the API isn't really a security issue, as you can already see it from the AngularJS services.

[2015-08-06 12:02] gmarziou commented on #1731
Great idea.
I'll implement it.

[2015-08-06 14:21] mir333 opened #1823 "better app layer separation"
Hi
Currently the rest layer has injects of services (business logic layer) and repositories (persistence layer). It be good to have a option to enforce a clean layer separation during project generation and/or entity generation.
If enabled the rest layer would have only inject of services and the repositories will be hidden under the service layer.
This change will contribute to cleaner code and d

[2015-08-06 16:16] jdubois commented on #1823
Hi,
This might be a matter of personal preference, but I do not want to have Spring services in my application without a good reason (this is explained [in the service sub-generator documentation](http://jhipster.github.io/creating_a_service.html)), so this design is in fact on purpose.
For me, the real persistence layer is in fact the JPA implementation (being some sort of giant DAO), and I don't

[2015-08-06 16:39] #1729 closed

[2015-08-06 16:42] jdubois commented on #1815
@michaelisvy I commited your PR

-> for Hibernate and Liquibase this is because I had some bugs some time ago, but now that both of them have newer versions they must be corrected. We should use Spring Boot's versions, but this is needs to be tested first.

[2015-08-06 17:03] gzsombor commented on #1823
I always generate a separate service class for each of the entities. This way transaction handling is more clear(no more problems with lazy loading) - much harder to accidentally create 2 transactions for one REST call. And, obviously, if you put your business logic into services,instead of REST controllers, then you can more easily re-use it in other parts of your system (otherwise you have to in

[2015-08-06 17:47] thewhatsupguy opened #1824 "Duplicate functions generated in Repository"
So I am trying to create an entity where two of the attributes have many to one relationships with the id of JHI_USER. This works fine except for generating findAllForCurrentUser twice in the Repository.java file.

Removing the duplicate manually makes it work just fine.

To reproduce this issue

.yo-rc.json

{
  "generator-jhipster": {
    "baseName": "xxx",
    "packageName": "com.yyy.xxx",

[2015-08-06 18:38] alchemistgo87 opened #1825 "How to deploy changes to the frontend once the app is live under production."
I have a concern since the backend and frontend stays together, how one can deploy new changes to the frontend once the app is live and if we don't want to risk any downtime. How is it done? Can someone help please?

[2015-08-06 18:41] jdubois commented on #1824
I haven't tested but I'm pretty sure this is indeed a bug!

[2015-08-06 18:45] jdubois commented on #1825
If you use our default build system, with everything in one WAR file, you can't. You need to redeploy your application.

- Of course you could package your front-end code differently, but it's a lot more trouble
- This doesn't need to involve a downtime, you could do some blue/green deployment (in fact that's how it's supposed to be done normally)
- You're just going to have 10 seconds downtime an

[2015-08-06 18:45] #1825 closed

[2015-08-06 18:49] jdubois commented on #1823
Yes, let me elaborate a little bit more:

- The basic idea is that we do a CRUD app, as simple as possible
- Indeed, you need to know how Hibernate is working, but that's a pre-requisite for using JHipster (I know most people can't understand how it works...)

The way I work, indeed, is generating the CRUD entity, and then add a service and refactor when I need it.

[2015-08-06 19:21] alchemistgo87 opened #1826 "Is it safe to deploy Jhipster app to AWS (Since it is mentioned to be in Beta version on Jhipster website)"

[2015-08-06 19:26] alchemistgo87 opened #1827 "How can I implement Oauth2 and JWT for authentication (with mongodb as primary database)"
I am using mongodb as my primary database. I need to implement Oauth2 authentication along with JWT Tokens so that every time the request does not hit the database for authentication. But I am not able to get a proper answer to this. Can anybody help?

[2015-08-06 19:30] jdubois commented on #1826
We can't test it, as it's a paying service. So as far as I'm concerned it's not safe, but people are using it and it seems OK.
Anyway, as always with OSS, we don't provide any guarantee.

[2015-08-06 19:30] #1826 closed

[2015-08-06 19:31] andidev commented on #1824
I guess we should still create two methods but the find method names should also contain the field name.
E.g. in this case we should create

[code]

Changes need to be done in [_EntityRepository.java](https://github.com/jhipster/generator-jhipster/blob/master/entity/templates/src/main/java/package/repository/_EntityRepository.java#L30)

I think this simple line of code should do it
[code]

[2015-08-06 19:40] alchemistgo87 commented on #1826
But they provide free service for a year, so you can easily test it and stop the service after testing.

[2015-08-06 20:05] jdubois commented on #1826
@alchemistgo87 yes, I got a free year in 2010 :-)

[2015-08-07 03:41] deepu105 commented on #1778
can't we extract the needed stuff and make our own jar? its open source
right.

Even the current gzip filter what is the problem in using if its derived
from an open source ehcache implementation, the licence allows
copying,modifying and distributing. so i dont think we are violating
anything in the first place. and if we need to put in a notice on the class
that it is derived from ehcache what is

[2015-08-07 03:42] deepu105 commented on #1778
I would love to see Jhipster becoming a micro library as well, with useful utilities and less bloat, may be this should be part of our 3.0 discussion as well

[2015-08-07 03:48] deepu105 commented on #1731
:+1: i wouldnt turn on swagger in production as its consuming precious prod resources.
I would even disable liquibase in prod as for me a quality software should be tested well in a test environment and moved to prod and if there are DB updates in prod it should have clear manual process to avoid any issues in prod

[2015-08-07 03:57] deepu105 commented on #1823
@jdubois even i would kind of agree with @gzsombor on this. currently as my application grow im having a service for each of my controller and for large business centric applications that would be a  necessity. The current service sub gen is kind of useless for me as i can do a class creation faster in Intellij/eclipse, I wouldnt need a code generator for that, so the service generator would actua

[2015-08-07 03:59] deepu105 commented on #1823
@jdubois i wanted to propose this earlier but i was afraid that you would reject it straight away due to the same statement on the documentation site :wink:

[2015-08-07 04:01] deepu105 commented on #1827
@alchemistgo87 this shouldbe askedon Stackoverflow with the Jhipster tag please.

[2015-08-07 04:01] #1827 closed

[2015-08-07 04:04] deepu105 commented on #1826
@alchemistgo87 it is indeed safe, i have been using it, manually it can be done and no issues, the sub gen just automates it so why dont you just try it out?

[2015-08-07 06:55] alchemistgo87 opened #1828 "Not able to generate war files in target folder using gradle."
I am trying to create war files using the command: ./gradlew -Pprod bootRepackage in ubuntu. But no target folder or war files are being created, though it shows: "Build Successful" at the end. Where am I going wrong?

[2015-08-07 07:39] alchemistgo87 opened #1829 "Cannot find module '..\node_modules\npm\bin\npm-cli.js' when running "gradlew -Pprod bootRepackage""
I am new to this, so please bare with me. What I am doing is trying to deploy my jhipster code. For that I need to build war file. So I run the command gradlew -Pprod bootRepackage in command prompt. My project has no node_modules folder and so it is throwing error : Cannot find module '..\node_modules\npm\bin\npm-cli.js' .

[2015-08-07 07:44] jdubois commented on #1829
This is an NPM installation problem, not a JHipster bug.

Have a look at the NPM documentation, you have nice videos etc: https://docs.npmjs.com/

[2015-08-07 07:44] #1829 closed

[2015-08-07 07:48] alchemistgo87 commented on #1829
But why is it looking for node_modules folder in my project instead of the global folder where npm is installed?

[2015-08-07 08:12] atomfrede commented on #1828
Gradle generates its artifacts in ``build\libs`` folder.

[2015-08-07 08:12] #1828 closed

[2015-08-07 08:23] alchemistgo87 commented on #1828
While running yo jhipster:cloudfoundry command it is trying to find it from target folder. Is there any workaround for this?

[2015-08-07 09:41] alchemistgo87 opened #1830 "Circular Reference error with MongoDb"
I am using Jhipster with mongodb as main database. Its running properly in localhost:8080. But when i deploy it to cloudfoundry, it crash with following exception:
Nested exception is org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'mongoDbFactory': Requested bean is currently in creation: Is there an unresolvable circular reference?

[2015-08-07 09:52] atomfrede commented on #1830
Maybe it has something to do with

[2015-08-07 09:54] atomfrede commented on #1828
@jdubois It looks like cf is only compatible with maven (at least the cf ``index.js`` only contains mvn build commands)

[2015-08-07 10:16] gmarziou commented on #1829
If your project has no node_modules project, it's because the install pahase after generation did no succeed or you did not follow the procedure in our doc.
Run it manually:

    npm install
    bower install

[2015-08-07 10:17] jdubois commented on #1830
Yes this is not supported, as [written in the documentation](http://jhipster.github.io/cloudfoundry.html)

This is because of Mongeez, but you can easily do it manually, it's just a matter of running the scripts manually. We should remove Mongeez and find a better solution, eventually.

[2015-08-07 10:17] #1830 closed

[2015-08-07 10:24] gmarziou commented on #1827
i think he did it at same time: http://stackoverflow.com/questions/31864288/how-to-implement-oauth2-along-with-jwt-authentication-in-spring-boot

[2015-08-07 10:29] alchemistgo87 commented on #1830
All right. Thank you for the help.

[2015-08-07 10:32] alchemistgo87 commented on #1829
Got It. Actually I created the Jhipster project on a different machine and committed the code to be run on my machine. Now node_modules folder path is in .gitignore, so not committed. Should I remove the node_modules from .gitignore and recommit?

[2015-08-07 10:47] alchemistgo87 commented on #1830
By the way what is Mongeez actually used for?
I have one more question:
If I remove the following lines from Jhipster code would it work:

@Bean
    @Profile("!" + Constants.SPRING_PROFILE_FAST)
    public Mongeez mongeez() {
        log.debug("Configuring Mongeez");
        Mongeez mongeez = new Mongeez();
        mongeez.setFile(new ClassPathResource("/config/mongeez/master.xml"));
        monge

[2015-08-07 10:51] atomfrede commented on #1830
Mongeez is used for database migrations when using mongodb. Yes it might work, but you'll have no data in your mongodb.

[2015-08-07 10:54] alchemistgo87 commented on #1830
ohh no data. Then how should I fix this issue. How should I deploy withoug mongeez as my main db is mongodb.

[2015-08-07 10:58] atomfrede commented on #1829
If ``node_modules`` is not existing ``./gradlew -Pprod bootRepackage`` executes ``npm install``, so you should keep ``node_modules`` ignored. Which version of the generator are you using? Which operating system are you using?

[2015-08-07 11:02] alchemistgo87 commented on #1829
All Right. I am using windows and the latest version of Jhipster: 2.19.0

[2015-08-07 11:08] alchemistgo87 commented on #1829
I ran the following command on windows cmd: gradlew -Pprod bootRepackage. It Build Successfully but it did not generate any node_modules folder.

[2015-08-07 11:15] atomfrede commented on #1829
Okay, I can't check it now on windows. @deepu105 Can you try it? But it sounds like a npm missconfiguration.

[2015-08-07 11:26] alchemistgo87 commented on #1829
One more thing. If I run yo jhipster:cloudfoundry from windows it gives error:  The goal you specified requires a project to execute but there is no POM in this Directory. Please verify you invoked maven from the correct directory.

Now since it supposed to be gradle build how can we make cf understand this.
I found something here (Can we use this?): https://github.com/cloudfoundry/cf-java-client/

[2015-08-07 11:39] PrashanthRaghu opened #1831 "Error in the location response when creating an asset leading to performance test failures"
When we try to create an entity from the web client, I observed that the Location header in the response is returned as null rather than the ID assigned to the entity object.

It's because the create method for each entity uses the ID from the DTO obtained from the client where the ID is obviously null. This causes all the performance tests in gatling to fail when they are getting the object creat

[2015-08-07 11:58] jdubois commented on #1831
Is it only when using the DTO, with MapStruct?

[2015-08-07 12:02] jdubois commented on #1823
Anyway, I don't want this as the default:

- by default, for a CRUD entity, this would just be an extra useless layer
- normally, you use a service when you want to coordinate some logic between several repositories, so here it wouldn't be a good use case anyway

Two options for me here:

- add a new "service" option in the entity sub-generator -> I'm not a big fan but that's easy to do and won't

[2015-08-07 15:04] wutgit opened #1832 "CSRF protection"
I encounter slight issues with CSRF protection. I've read that big 965 issue comments and still do not have the full picture what is correct way to fix it.

Workflow:

1. Login into application
2. Stop server, start server again.
3. Now, when issuing any POST request, browser sends current CSRF token (which was valid before server stop).
4. Server responds with 403, because there is no CSRF token

[2015-08-07 15:09] alchemistgo87 opened #1833 "What changes needed to be done to run Jhipster with mongodb on server? Getting Circular Reference error."
I am getting the following error on server's console. But the Jhipster code with mongodb is running on localhost perfectly. So what changes I need to make in "DatabaseConfiguration.java" and "CloudMongoDbConfiguration.java" classes of the Jhipster code.

    2015-08-07T14:52:12.000+00:00 [App/0] OUT Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name '

[2015-08-07 15:42] gmarziou commented on #1833
Have you added or customized code since app generation?

[2015-08-07 15:47] mir333 commented on #1823
I would go with extending the entity sub generator. It makes the code generation easier. It's just it's just one enter press more for the user.
The second approach would require 2 generator calls and the second call would need to overwrite the first generator's result.

[2015-08-07 15:58] briancmills opened #1834 "OAuth Authentication won't allow some special characters in passwords"
Certain special characters, specifically '+', won't be allowed in passwords when you are using OAuth because the password is not URI encoded before being posted to the authentication service.

Steps to reproduce:

* Generate a new application with all default answers, except using OAuth tokens for authentication.
*  Run the webapp and login as 'admin'
*  Change the password for admin to '12345+'
*

[2015-08-07 16:06] jdubois commented on #1834
Sounds like an issue, indeed! Could you provide a PR?

[2015-08-07 16:10] gmarziou commented on #1834
Looks similar to #620

[2015-08-07 16:38] briancmills commented on #1834
Sure, I will take a stab at a PR.

[2015-08-07 17:23] alchemistgo87 commented on #1833
I have just added more entities and apis to the code. But did not do anything with the configuration.

[2015-08-07 18:49] gmarziou commented on #1833
How are you running the app? mvn, gradle or through the Application class? which profile?

[2015-08-07 19:11] jdubois commented on #1833
I've tested it on my local machine and I have no issue.
We need more information (version n°, etc, have a look at our guidelines)

[2015-08-07 19:11] #1833 closed

[2015-08-07 19:20] seghers opened #1836 "Executing the WAR file without an application server wont work with hazelcast"
I tried to follow the guide (https://jhipster.github.io/production.html)
- Executing the WAR file without an application server

It worked for most tested projects except when hazelcast was enabled.
mvn and gradle both have the error.

[code]

used : java -jar jhipster-0.0.1-SNAPSHOT.war

part of the trace:

[code]

[2015-08-07 19:33] jdubois commented on #1836
We've had Hazelcast configuration issues in the past, which JHipster version are you using?

[2015-08-07 19:35] jdubois commented on #1628
Closed as discussed with @michaelisvy

[2015-08-07 19:35] #1628 closed

[2015-08-07 19:37] jdubois commented on #1824
I didn't test this, but yes it sounds really logical. When I created that function we couldn't map an entity twice, this is why the code has this issue.
@andidev could you do a PR and close the ticket with it?

[2015-08-07 19:41] seghers commented on #1836
current 2.19.0

[2015-08-07 19:41] fbricon commented on #1628
@michaelisvy there may be an existing bug open already. If not, you can open one

[2015-08-07 19:44] jdubois commented on #1836
And can you reproduce it with https://github.com/jhipster/jhipster-sample-app-hazelcast ? (I'm sorry I don't have the time to test)

[2015-08-07 19:52] seghers commented on #1836
cloned the project and it worked...

mvn -Pprod package
java -jar jhipster-0.0.1-SNAPSHOT.war

I removed hazelcast from my project and now it runs aswell

[2015-08-07 19:53] alchemistgo87 commented on #1833
@gmarziou I am using gradle. @jdubois  for me also its working on local machine. The problem comes after I deploy it to my cloudfoundry instance. I have pasted the error which is shown in the logs of cloudfoundry server.

[2015-08-07 21:59] Overflow012 opened #1837 "How to update database connection from pom.xml"
I have the below configuration in pom.xml
[code]
That xml was creted automatically when I was created the JHipster project. I changed the database configuration in
**application_dev.yml**
[code]
And then when I run: *mvn liquibase:diff*
I get the exception:
[code]

[2015-08-07 22:11] seghers commented on #1837
<password></password>
to ?
<password>-------</password>

[2015-08-07 22:16] gmarziou commented on #1837
This is a question for stackoverflow not an issue, so I'm closing it*
In fact you already have a question that I answered

http://stackoverflow.com/questions/31883195/jhipster-and-database-connection

[2015-08-07 22:16] #1837 closed

[2015-08-07 23:38] cgagne opened #1838 "NullPointerException when execute 'mvn liquibase:diff'"
We have a null pointer exception when I run the mvn command line liquibase:diff on a @manyToMany relationship defined below please see:
http://stackoverflow.com/questions/31808537/nullpointerexception-when-execute-mvn-liquibasediff

The proposed work arround is to downgrade liquibase version to 3.3.1 (from 3.3.2).

From my undestanding it was supposed to be fix in 3.3.2 see:
https://github.com/jhi

[2015-08-08 03:20] deepu105 commented on #1836
@seghers so you mean no more issues? i'm closing this then. Plz reopen if there is an issue

[2015-08-08 05:42] deepu105 commented on #1815
@atomfrede shouldnt the same be done for Gradle as well?

[2015-08-08 06:01] atomfrede commented on #1815
Yes gradle should use the same versions as mvn. Need to have a look at the "blessed" dependencies of the gradle spring boot plugin which versions they provide and compare them to the current versions in maven.

[2015-08-08 06:02] deepu105 commented on #1815
ill commit a PR with some dependency updates first can you take a look and
remove the ones that are in spring boot

On Sat, Aug 8, 2015 at 2:01 PM, Frederik Hahne <notifications@github.com>
wrote:

--
thank you,
Deepu.k.s

[2015-08-08 06:09] atomfrede commented on #1815
Here is the list of "blessed" dependencies. When they are provided without explicit version these versions are used: http://docs.spring.io/spring-boot/docs/current/reference/html/appendix-dependency-versions.html

[2015-08-08 06:11] jdubois commented on #1836
Hang on, there's something that might be wrong: the test project uses Hazelcast both for the 2nd level cache and the http session clustering. I did some specific configuration to have the same cache instance for both.
@seghers uses only the 2nd level cache -> that might be the issue, so I'm reopening this until this is tested

[2015-08-08 06:50] deepu105 commented on #1815
but most of it are bit outdated

On Sat, Aug 8, 2015 at 2:09 PM, Frederik Hahne <notifications@github.com>
wrote:

--
thank you,
Deepu.k.s

[2015-08-08 06:57] jdubois commented on #1838
Yes I remember this NPE issue but that is supposed to be fixed.
Can you also open an issue on Liquibase and link it here?

[2015-08-08 06:59] seghers commented on #1836
in clean project same issue:

[code]

[2015-08-08 07:01] jdubois commented on #1832
Yes, it seems logical that we have a worflow issue here.
I'm not sure how we should handle this (I'm only using the "default" authentication), maybe refresh the browser?

[2015-08-08 07:10] jdubois commented on #1815
Yes but there might be many issues with those dependencies, so we'd better go with what is already tested by the Spring team, and then only change (upgrade or downgrade!) what doesn't suit us. For exemple Liquibase (we do much more Liquibase testing than the Spring team!)

[2015-08-08 07:18] jdubois commented on #1788
I don't know how good Sonar is for auditing JavaScript code -> if you can make it work, of course that would be better, but let's not make this slow us down!
Can you send a PR that updates Sonar and just makes the Java part work (which is the important part for me)?

[2015-08-08 07:27] jdubois commented on #1778
OK, so:

- let's remove our own GZip filter. I don't want to take any risk here: ehcache belongs now to Software AG, which is clearly not an Open Source friendly company.
- as we use Tomcat in our normal configuration, let's stick with the Tomcat conf. It's much easier, and doesn't provide any risk.
- yes in the future we might do our own library, but it would be in several months (probably)

[2015-08-08 07:34] jdubois commented on #1776
Do you still have the issue? Does anybody also have this ?
Can you check if you have an error in your browser console ?
I'm closing this as it works for me, and looking at your JSON file you are on an older version

[2015-08-08 07:41] jdubois commented on #1762
Hi all,
So I've had a closer look and this is indeed like Envers.
This is clearly not something we should have by default. I've already seen a couple of failed projets because people did not understand what Envers was meant to do, and were abusing it (not an Envers issue, but a people issue... As often with Hibernate)
The use-case for this is very specific, we can't have this by default for everyo

[2015-08-08 07:41] #1762 closed

[2015-08-08 07:46] jdubois commented on #1774
So this is specific to using DTOs:

- can you update the title of the ticket to reflect this? (I can't do it with the mobile app)
- @gzsombor I'm not sure I understand the solution correctly, could you do a PR or write à small exemple?

[2015-08-08 07:50] jdubois commented on #1733
OK this looks a good idea indeed.
Have you checked if this had any impact on the SQL requests? I don't know how this works behind-the-scenes.

[2015-08-08 07:55] jdubois commented on #1721
This has also been discussed in the PR as well as on the dev mailing list, and we need to decide what to do here.
From my understanding it would be better this way, but we would break some compatibility (with foreign keys), is that correct?

[2015-08-08 08:31] deepu105 commented on #1721
@jdubois yes for existing Jhipster generated apps this might give error when old tables are linked to new, but personally I think thats a easy to fix issue for the user as the error thrown by liquibase is very straight forward, other than that I dont think this will cause any issues

[2015-08-08 08:37] deepu105 commented on #1815
Ok I took a look we have `dropwizard_metrics_version`, `javax_transaction_version` and `hibernate_entitymanager_version` which can be removed

[2015-08-08 08:52] ycbcy commented on #1776
Hi,

I still have this issue with a freshly and newly created entity (based on 2.19.0 and with wizard).

The field in question is :

        {
            "fieldId": 3,
            "fieldName": "quality",
            "fieldType": "FormatQuality",
            "fieldValues": "retina,hd,sd,tablet,phone"
        }

There is no message on console because it failed during the init of the stateProvider o

[2015-08-08 08:56] jdubois commented on #1776
Oh, that might be linked to the new optional i18n option!
I'm reopening this, thank you!

[2015-08-08 09:00] ycbcy commented on #1776
My Pleasure,

I spent my night on this troubleshooting before finding that was enum which blow my work :package:

Happy to help

[2015-08-08 09:41] deepu105 commented on #1776
@jdubois its not enableTranslation issue, coz the $translatePartialLoader.addPart(''); blocks are inside `if` check this seems more like some i18n file missing to me

@ycbcy what is your `.yo-rec.json` config and entity config?

[2015-08-08 09:45] ycbcy commented on #1776
Sorry deepu105 I can't find any yo-rec.json file.

Did you mean yo-rc.json file instead ?

[2015-08-08 09:47] deepu105 commented on #1776
its Ok i got it reproduced

@andidev  @jdubois  problem is in below snippet
[code]

this is producing `$translatePartialLoader.addPart('');`

[2015-08-08 09:54] deepu105 commented on #1776
there is no `enumInstance` in the json file as well, hi @jabelardo I think you did the PR for this will you be able to take a look at this?

[2015-08-08 11:07] deepu105 opened #1840 "change liquibase xml changelog to json or YML"
currently liquibase changesets are the only xml stuff we have. Liquibase supports yml and json as well, so if we convert to any of that we can be truly xml free.

I would prefer Json as it is easier to read and process

[2015-08-08 11:19] gmarziou commented on #1840
What about pom.xml? :smile:  Unless you use gradle of course.

I'm wondering whether maven liquibase plugin could read datasource properties from our application.yml to avoid duplcation.

[2015-08-08 11:20] deepu105 commented on #1840
ya that part is also annoying

[2015-08-08 11:22] gmarziou commented on #1840
I just read their docs, unfortunately it can read only properties file but maybe we could generate properties from yml as part of the build.

[2015-08-08 12:21] lluiscanals opened #1841 "Generating new entity. Pluralization."
Hi, I have created new entinty (address) with this configuration:

"relationships": [
        {
            "relationshipId": 1,
            "relationshipName": "user",
            "otherEntityName": "user",
            "relationshipType": "many-to-one",
            "otherEntityField": "login"
        }
    ] ......
   "changelogDate": "20150807161042",
    "dto": "mapstruct",
    "pagination": "i

[2015-08-08 13:46] MathieuAA commented on #1841
Hi!

The first "thing" is more of an enhancement, and i believe [this](https://www.npmjs.com/package/inflection) lib can do the trick (I suggest you create a separate "issue" for that).
The second "thing", however, is an issue. If you have time, can you do a PR for this?

[2015-08-08 14:42] cgagne commented on #1838
Bonjour, as requested I will open an issue at Liquibase. Thanks

[2015-08-08 16:37] jdubois commented on #1840
The issue with yml and JSON is that you don't have validation or auto-completion.
And with JSON you can't even write comment.
So for this kind of thing XML looks a lot better to me.

[2015-08-08 16:47] gmarziou commented on #1840
Fully agree with you about lack of comments in json, such a pain for npm and bower.

Auto-completion is the same issue in yml and xml: you need a reference, if you don't have an xsd or dtd then xml is not better.

You can have auto-completion for yml in IDEA, I just found it recently, it"s like HTML when it does not know a tag you can ask it to learn it, JHipster could generate this file, it would

[2015-08-08 17:10] deepu105 commented on #1840
The  comments argument makes sense.
On 9 Aug 2015 00:47, "Gaël Marziou" <notifications@github.com> wrote:

[2015-08-08 18:10] atomfrede commented on #1788
Java part is already working. I can leave the JS part as it is, than it works right now for maven only.

[2015-08-08 18:35] atomfrede commented on #1815
Removing the explicit version in fact downgraded ``HikariCP`` don't if thats an issue, but maybe.

[2015-08-08 18:39] atomfrede commented on #1840
I also have not that much of a problem with xml changesets, so let's keep them.

[2015-08-08 19:02] bourdux opened #1843 "Generated tests for entities fail if there is a constraint on the string length"
## Summary

When generating test classes for an entity, and if a string field is specified to have a specified length, the generated tests fail.

jhipster-version : 2.19.0

## Reproduction

Generate an entity with a String field with a length constraint:

Entity field:

[code]

Test failure:

[code]

## Error source

The source of the error lies in the generated default fields.

[code]
Since `SAMP

[2015-08-08 19:24] gpulluri commented on #1370
Hi,

I just updated to the latest version of jhipster and I get the same error.

[ERROR] org.springframework.web.socket.messaging.StompSubProtocolHandler - Failed to send client message to application via MessageChannel in session hp4qrfkx. Sending STOMP ERROR to client.
org.springframework.messaging.MessageDeliveryException: Failed to send message to ExecutorSubscribableChannel[clientInboundChann

[2015-08-08 19:37] #1824 closed

[2015-08-08 20:13] jdubois commented on #1843
Yes I know about it, I even think it's documented in the sub-generator.
The problem is that it's really hard to implement correctly. The biggest issue is of course for the regex pattern!!!!
So unless someone has a great new idea here, this unfortunately can't be solved.

[2015-08-08 20:17] jdubois commented on #1788
Yes it's already a big improvement, I'd be really happy to have a Sonar audit on the app: this was one my original goals, but I didn't work on this for at least a year.
@atomfrede can we close this for the moment ?

[2015-08-08 20:22] atomfrede commented on #1788
@jdubois Yes. I'll provide a PR with gradle integration in the next couple of days.

[2015-08-08 20:22] #1788 closed

[2015-08-08 20:23] jdubois commented on #1841
- pluralization has already been widely discussed. The current system isn't perfect from a "human" point of view but at least everybody can find the URLs easily, and if you want to get them from another language (which wouldn't have the same pluralization lib) then it's also easy to use.
If you want a better name it's also very simple to change, anyway.
- your other issue comes from Mapstruct. It'

[2015-08-08 20:23] #1841 closed

[2015-08-08 20:45] bourdux commented on #1843
@jdubois Well, I agree. I think it is not really worth the effort to integrate a string generator from regexp to do this :) Even if such librairies do exist :

- https://code.google.com/p/xeger/
- https://github.com/mifmif/Generex

@atomfrede Alright, thanks, I found it in the validation section of the entity documentation.

At least, users will surely see this issue now when they are faced with t

[2015-08-08 20:56] paivaric commented on #1744
+1

[2015-08-08 23:07] andidev commented on #1843
We could generate a random string of the correct length so it works for all cases except regexp. Is this better than nothing? This would fix at least this issue.

I've done this for the blob field. I could take a quick look at it.

[2015-08-08 23:40] andidev commented on #1819
PR #1845 fixes the compilation issue, though the other entity id cannot be set cause of #1809

[2015-08-08 23:41] andidev commented on #1809
the same problem with one to one realtionships

[2015-08-09 00:40] gmarziou commented on #1454
It still exists in 2.19.0.

[2015-08-09 01:58] gmarziou commented on #1454
@dstackowiak @lunias

Could try to change version of proxy-middleware as below in package.json?

    "proxy-middleware": "0.13.1"

For me, it fixes the CSRF issue

[2015-08-09 04:21] gvsrini opened #1848 "EhCache is not getting disabled fully on fast boot"
In CacheConfiguration.java file we have this code:
[code]

But it appears the cache is still being created when running FAST profile.

More info here:
http://stackoverflow.com/questions/31756501/what-is-the-best-way-to-disable-ehcache-in-jhipster

[2015-08-09 09:57] andidev commented on #1776
`enumInstance` should be there there as it is an in memory variable retreived from fieldType, see https://github.com/jhipster/generator-jhipster/blob/master/entity/index.js#L1164

[2015-08-09 10:18] andidev commented on #1776
Though it looks like it is not added to the inmemory field object.

[2015-08-09 12:22] bourdux commented on #1843
@andidev if you take this approach, it might also be a good idea to generate a comment in the test class stating that `DEFAULT_FIELD` and `UPDATED_FIELD` were randomly generated due to the length constraint.

[2015-08-09 19:09] hyuan commented on #1649
@jdubois  if you like I can write the generator based on my sample code -https://github.com/hyuan/jhipster-sample-app. Maybe you'd like the micro-services approach, but we can let jhipster to generate a simple UAA with this feature, at least it's one step closer to your plan. What's your opinion?

[2015-08-09 20:48] andidev commented on #1749
This is really good! We need to make our templates more readable.

I proposed a [PR](mde/ejs#105) to the ejs team which means that after the next release of ejs we will be able to refactor e.g.

[code]

to
[code]

and the output will still be the same.

I think it could be a good idea to start using the space and tab slurping tags `<%_` and `_%>` as much as possible and avoid placing if-cases at e

[2015-08-09 21:15] andidev commented on #1843
Yes you are right. Is this clear enough?

[code]

and for strings with regexp validation maybe we should add a TODO comment like this
[code]

[2015-08-09 21:37] bourdux commented on #1843
@andidev seems cleer enough to me. However I would use two more constants such as `MIN_LENGTH_FIELD` and `MAX_LENGTH_FIELD` so the test becomes clearer.

Maybe we could then add validation test as well to improve the code coverage.

Something like that could work I guess:

[code]

which would generate something like that in my example:

[code]
Then we can do the same thing for min length.

[2015-08-09 21:51] andidev commented on #1843
That would be best solution. The problem is the lack of time.

I have done the mentioned simple solution for field type blob and hence it would be a matter of a simple copy and paste to do if for filed type string. I have other stuff that I need to prioritize right now.

PR's are welcome though :wink:

[2015-08-09 21:59] #1776 closed

[2015-08-09 21:59] andidev commented on #1776
@ycbcy and @deepu105
Thanx for the feedback, I was clueless on this one

[2015-08-09 22:01] bourdux commented on #1843
@andidev well, I guess I could make a PR. Just let me finish my first project based on JHipster :) Then perhaps I can take the time to install the generator development environment. Yes, I did read CONTRIBUTING.md :P

[2015-08-09 22:06] gmarziou commented on #1749
Wow you're amazing and ejs project woners are very welcoming.

We may have to wait for ejs release and then yeoman release to integrate it.
Or maybe we could start using it earlier by using github url in package.json?

[2015-08-10 01:34] xjiaoyang commented on #1370
should someone make a PR?

[2015-08-10 05:40] jdubois commented on #1749
Yes this is amazing!!!

[2015-08-10 06:38] pnowy commented on #1733
The change doesn't have any impact to SQL queries. We still provide the Pageable abstraction to JPA repository. The only change is the way how we handle the Pageable creation (with argument resolver instead of "manually" creation).

I will put the changes into template and give you the update when the pull request will be finished.

[2015-08-10 07:35] andidev commented on #1749
I'm amazed as well how well open source works in the node network. It's really cool how one can contribute this easy.

@gmarziou
The only problem is that the ejs is included as a transitive dependency. But maybe it is possible to override those as well.
I'm not 100% sure but maybe we can start using the latest version of ejs without waiting for yeoman to release it. This is since they include thei

[2015-08-10 07:55] maheshkaranjkar commented on #1809
Hi Guys,

One more update, I am also facing same issue, I tried to update table from back end to see if at front end its fetching proper details.

Yes in default view its showing proper value. but when I open it in edit and view mode value came as blank.

Regards
Mahesh

[2015-08-10 11:51] deepu105 commented on #1749
awesome :+1:

[2015-08-10 12:01] #1834 closed

[2015-08-10 12:11] deepu105 commented on #1848
yup i noticed this too yesterday, not only ehcache same for hazelcast as well

[2015-08-10 12:15] deepu105 commented on #1840
ok agree lets close this then.

[2015-08-10 12:15] #1840 closed

[2015-08-10 12:23] deepu105 commented on #1619
@mraible is this still an issue? its been open for a while so im closing it. Plz reopen this if you think its a JHipster issue. cheers

[2015-08-10 12:23] #1619 closed

[2015-08-10 12:26] deepu105 commented on #1611
this doesnt seem like a JHipster issue, plz reopen if you think its a Jhipster issue

[2015-08-10 12:26] #1611 closed

[2015-08-10 16:45] mraible opened #1850 "expectedGET missing for language.json"
After upgrading my app from JHipster 2.16.0 to 2.19.0, I found that `password.directive.spec.js` and `auth.services.spec.js` both needed the following added to their `beforeEach`:

[code]

Not sure it this was an oversight or something unique to my project.

[2015-08-10 17:16] myspivey commented on #1762
Couldn't the work around be that we set it up so its not abused or optional? Right now the default auditing abilities really do nothing, and are not useful in most terms. Seems defeatist to just close this saying it does not benefit the community when there seems to be a pretty big draw to expanding the current auditing system to actually be useful. That does not seem very use-case specific from m

[2015-08-10 17:48] gmarziou commented on #1848
I may not be able to work on it this week.

[spring boot 1.3](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-1.3.0-M1-Release-Notes#caching-auto-configuration)  has some enhancements about caching that could require us to rework this part. More generally it seems 1.3 is going to require some JHipster work.

[2015-08-10 18:53] andidev commented on #1819
Sorry still an issue, merging a fix right away.

[2015-08-10 18:59] andidev commented on #1809
Working on this, PR is soon ready.
I'm fixing it on the angular front end side

[2015-08-10 19:09] jdubois commented on #1762
The current auditing features are only for security:

- they work well as far as I know
- they are provided to everyone as we have a strong focus on security (I think most people will be happy to have them) and they are for a very limited scope
- they are very easy to remove and are standard in Spring

Using Javers for our entities is something entierly different.

[2015-08-10 19:37] atomfrede commented on #1850
Looks like a bug.

[2015-08-10 21:08] andidev commented on #1850
Not sure that this is a bug, language.json where removed in version 2.17.0, see [this commit](https://github.com/jhipster/generator-jhipster/commit/f51ea1c325fcdb86dcd44874170ca7dad8ef8ec2)

[2015-08-10 21:11] andidev commented on #1850
Are you sure that you upgraded correctly?

You probably missed that this line was removed from `app.js`
-                    $translatePartialLoader.addPart('language');

Closing this since it seems to be invalid.

[2015-08-10 21:11] #1850 closed

[2015-08-10 21:14] andidev commented on #1843
Should we maybe label this as enchasement instead of bug?

[2015-08-10 21:14] atomfrede commented on #1850
You're right I was looking for the language json in my fork without luck.

[2015-08-10 21:29] mraible commented on #1850
Thanks @andidev - I removed the reference from app.js, deleted the language.json files in my project and was able to remove the expectation in my tests. I appreciate the quick turnaround on this.

[2015-08-11 01:42] deepu105 commented on #1848
Ya thats correct,  may be we should mark this item as willdolater

[2015-08-11 03:21] mraible commented on #1619
This is still an issue. I can see two ways to fix it on Heroku:

1. Get the source deploy working so I can "git push heroku" and have the build happen there. This is how JHipster's Heroku support used to work.
2. Figure out how to deploy two JARs on Heroku using the heroku-deploy plugin.

I've opened a support ticket with Heroku to try and solve this from their side.

[2015-08-11 06:12] andidev commented on #1784
So I implemented validation of the enum values.

Looks to me that having enums starting by a number i a special case. We should create a new issue for that if it is wanted.

[2015-08-11 08:00] alchemistgo87 commented on #1649
Hi @hyuan have you been able to implement this using mongodb? I need to implement the same solution using mongodb.

[2015-08-11 08:10] andidev opened #1853 "elasticsearch data dir created when running "mvn clean install""
create a default config with `"searchEngine": "elasticsearch"`

run `mvn clean install` (or actually mvn test)

this creates an elasticsearch `data` dir in the root which is not ignored by git.

- Either we add the `data` dir `.gitignore` (as in #1713)
- Or we configure the location of the data dir to `target/elasticsearch/data` in the **test** resources `_application.yml` file (as in #1738)

@jdu

[2015-08-11 09:43] jdubois commented on #1853
Yes the directory has changed, can you check? It should be correct.

[2015-08-11 09:59] andidev commented on #1853
I can confirm that when running `mvn spring-boot:run` the data dir is created in the `target/elasticsearch` path since it is confugured in [application-dev.yml](https://github.com/jhipster/jhipster-sample-app-elasticsearch/blob/master/src/main/resources/config/application-dev.yml#L38-L39)

However when running `mvn clean install` the test will use the configuration in the test resources folder and

[2015-08-11 12:16] jkutner commented on #1619
To include the New Relic agent JAR in the slug, run a command like this:

[code]

Then modify your `Procfile` to include the `-javaagent:newrelic-agent.jar` option.

To deploy by pushing the source code, you can follow this guide:
http://jkutner.github.io/2015/05/25/jhipster-heroku-git.html

[2015-08-11 14:53] gmarziou commented on #1848
@gvsrini would you consider submitting a PR?

[2015-08-11 14:54] #1454 closed

[2015-08-11 16:30] artjomg commented on #1370
I am having issues to connect to the websocket/tracker via a simple spring-integration web socket client too.
[code]
You can simply create a test app for testing

[code]
and the xml

[code]

[2015-08-11 19:43] alfredorueda opened #1854 "Filter cannot find symbol: variable filter"
We used JHipster to generate a project like the example in the documentation (Human Resources Oracle Example)

![uml](https://cloud.githubusercontent.com/assets/8808034/9207998/3f5e4c96-4071-11e5-890c-10dab460bf24.png)

When we added the entities incrementally, so JHipster UML generator asked us Ynaxdh and we overwritten all our files. After that, errors appeared in our project (the project with e

[2015-08-11 21:48] thiagogcm opened #1855 "language subgenerator not working"
I tried to install a language with  yo jhipster:languages  without success. Anybody else with this problem ?
using latest version

[2015-08-11 22:14] andidev commented on #1854
This is a bug that will be fixed next release. It occurs when you have an Entity with two one to one relationships where one is owner and the another one is not.

You can fix this by modifying
[code]

to
[code]

[2015-08-11 22:14] #1854 closed

[2015-08-11 22:21] ChrisMaher commented on #379
Seems to be a whitespace for me before ''Sessions' I deleted the space and retyped.

Some problem with Word Wrapping.

[2015-08-11 22:57] seghers commented on #1855
Work on a new default project.

[2015-08-12 01:52] deepu105 commented on #1855
@thiagogcm you have to give more info then that man. what is the configuration you use, do you see any new language added in the i18n folder, was there any error etc.

Its working for me.
So reopen with those details please. else provide steps to reproduce

[2015-08-12 01:52] #1855 closed

[2015-08-12 05:26] atomfrede commented on #1853
I would say we should add it to ``application.yml`` in **test** resources.

[2015-08-12 10:20] tonyob opened #1856 "State change error when navigating to an entity page, when using enumerations and translation"
Commit 387e0311da2bd7881b7db43b54a0d08d524eb802 introduced an issue when using translation and enumerations on generated entity pages.

Lines 24 & 48 of entity/templates/src/main/webapp/app/_entity.js are referencing an attribute which does not exist on the field object.

I'm presuming we should be adding the enumInstance attribute from line 980 of entity/index.js to the field object so it can be

[2015-08-12 11:09] andidev commented on #1856
You presume right and it is already done in #1849. It will be fixed in next release.

[2015-08-12 11:09] #1856 closed

[2015-08-12 12:10] alchemistgo87 commented on #1525
Its a great feature. How soon will this feature be released?

[2015-08-12 12:47] #1697 closed

[2015-08-12 12:47] #1731 closed

[2015-08-12 12:47] #1744 closed

[2015-08-12 12:47] #1772 closed

[2015-08-12 14:48] bescott1 commented on #1788
Actually most of the JS part is working. The analysis is working, the only part that is missing is the JS coverage in sonar.

I can take over and work on the gradle integration and fixing the JS coverage bug. I haven't done gradle yet but this will be a good intro to it.

[2015-08-12 14:54] atomfrede commented on #1788
@bescott1 The gradle part is already working fine (PR follows). I also have successfully added the JS coverage to sonar, but there are some problems with it due to some strange wiredep behaviour, so I'll leave it out for now. Just need to add some minor improvements to the ``karma.conf`` before I create the PR.

[2015-08-12 14:55] bescott1 commented on #1788
ok, if you give me some details on what is still broken I can attempt to fix it.

[2015-08-12 15:03] atomfrede commented on #1788
Need to have a look at home and try to commit the PR until the end of week. Tehn we can have a look how to get the coverage to sonar. Your hint with the ``basePath`` was absolutly tright by the way, but you have to change some more stuff which gets overwritten by wiredep afterwards again.

[2015-08-12 23:52] andidev opened #1857 "Make relationship ids clickable in entities and entity detail views"
Relationship ids should be made clickable for easier navigation in the entities view and the detail view.
When clicked the view should be changed to the entity detail view of the entity.

This is a really small fix and gives a lot of value. Ready to do a PR. Only waiting for #1851 to be merged before.

[2015-08-13 00:00] andidev opened #1858 "Show ids for many to many relationship in entities and entity detail view"
The relationship ids are shown in the entities view and entity detail view for many-to-one entities and one-to-one entities (owner side). However they are missing for many-to-many relationships on owner side.

We should add the relationship ids and make them clickable as described in #1857.

[2015-08-13 01:22] deepu105 commented on #1858
Dont forget the case when user choose some other field for display other than the ID

[2015-08-13 02:59] hyuan commented on #1649
@alchemistgo87 Not yet. But I think it should be very similar.

[2015-08-13 12:51] andidev commented on #1857
Wait with merging this until I say so, I just saw some difference I need to check.

[2015-08-13 13:33] salvatorenovelli opened #1859 "Generate a required (non-nullable) value inside an Entity relationship"
Hello I'm generating some Entity with the jhipster generator.

When I generate an entity relationship, I'd like to make the value in that field mandatory but unfortunately, the generator doesn't provide that option.

Is it possible to implement this functionality?

Regards

[2015-08-13 13:54] salvatorenovelli opened #1860 "Generating an entity with a filed type of Enum will prevent the entity page to be loaded"
I'm trying to generate an entity with a filed type of Enum but unfortunately the generated code doesn't behave as espected.

<b>Cause:</b>
I've been executing this generator sequence:
[code]
<b>Expected behaviour:</b>
The entity is generated and accessible via the web interface.

<b>Actual behaviour:</b>
The entity is present in the navbar but when you click it nothing appens. No error in the brow

[2015-08-13 14:13] alchemistgo87 opened #1861 "Why is the support for Atmosphere removed from jhipster?"
I want to implement atmosphere for websocket and fallback mechanisms. But in the latest version of jhipster the support of Atmosphere has been removed. There is only support for spring websockets now. What steps should I take to move from spring websockets back to atmosphere?

[2015-08-13 14:34] jdubois commented on #1861
Please don't cross-post:
http://stackoverflow.com/questions/31965368/why-is-the-support-for-atmosphere-removed-from-jhipster

Why is it removed? Because I don't have the time to do everything...

[2015-08-13 14:34] #1861 closed

[2015-08-13 14:45] andidev commented on #1860
This is will be fixed in the next release.
Meanwhile you can manually fix this issue by adding your instance name in the empty string.
In your case
[code]

[2015-08-13 14:45] #1860 closed

[2015-08-13 14:48] alchemistgo87 commented on #1861
All right. By the way, whatever work you and your team have done is really commendable. Its really helpful and I wish you all the very best !!

[2015-08-13 14:51] jdubois commented on #1861
I'd love to have Atmosphere back, but I already spent several days on it and I didn't succeed. If you find out a solution, don't hesitate to share!

[2015-08-13 14:53] alchemistgo87 commented on #1861
I will, for sure (Y)

[2015-08-13 15:12] salvatorenovelli commented on #1860
Thanks! :+1:

[2015-08-13 16:04] jamesjieye commented on #244
@irepan It works for me. Thank you!

[2015-08-13 17:17] tuncayxx opened #1862 "Gulp serve is failing on Windows 7"
I have all tools installed om Windows but when typing Gulp serve it fails saying compass.bat couldn't be found even I installed compass via nodejs ?

[2015-08-13 20:29] gmarziou commented on #1862
How did you install compass via  nodejs?

As far as I know nodejs does provide only grunt or gulp plugins for compass.
What do you get when you run `compass -v`?

That said if you don't need compass and only sass compilation you can use node-sass as explained in issue #1527. Eventually, it will be merged in jhipster.

[2015-08-13 20:29] #1862 closed

[2015-08-14 00:31] paivaric commented on #1370
+1

[2015-08-14 09:54] thaihau opened #1864 "Date picker is not working on safari browser 8.0.6"
# Summary
Date picker is not working on safari browser. But working on chrome.
jhipster-version : 2.19.0

# Environment
Browsers and Operating System
Safari: Version 8.0.6 (10600.6.3),  OS: Yosemite 10.10.3

Left handed is chrome, right hand side is safari.
![screen shot 2015-08-14 at 5 47 42 pm](https://cloud.githubusercontent.com/assets/851803/9271480/c08aa0de-42ac-11e5-9c17-450e89ffe632.png)

[2015-08-14 10:09] gmarziou commented on #1864
In fact there is no datepicker code, we set the input type to "date" and the browser decides how to render it, currently only Chrome and mobile browsers support it.

[2015-08-14 10:10] #1864 closed

[2015-08-14 12:16] tuncayxx commented on #1862
it is actually "grunt serve" that is NOT working.

I installed grunt as described on JHIpster setup page like: npm install -g grunt-cli

I get this error:

C:\code\jhipster-demo>grunt serve
Running "clean:server" (clean) task

Running "wiredep:app" (wiredep) task
Running "wiredep:test" (wiredep) task
Running "ngconstant:dev" (ngconstant) task
Creating module demoApp at src/main/webapp/scripts/app/

[2015-08-14 14:36] alchemistgo87 opened #1865 "Single account for multiple OAuth Provider (Facebook, Google plus) using Jhipster generated code with OAuth2 implmentation."
I want to implement Social Singup along with self Oauth2 signup as provided by Jhipster. Also I want user to be logged in to the same account if he logins from one or another OAuth provider. How should I go about implementing this? I have followed the solution provided here #1649. But It does not seem to be proper for my usecase.

Can anybody help me with the steps I should follow to implement thi

[2015-08-14 15:50] deepu105 commented on #1865
Stack overflow plz, and tag with jhipster

[2015-08-14 15:50] #1865 closed

[2015-08-14 15:52] gmarziou commented on #1862
Warning: Command failed: C:\Windows\system32\cmd.exe /s /c "compass.bat --version"
   'compass.bat' blev ikke genkendt som en intern eller ekstern kommando,

No it 's not grunt the problem, as I told you JHipster's build uses compass command for grunt or gulp.
Read my first answer with questions I asked and recommendations, it's still valid.

[2015-08-14 17:43] DarkmanMuMoo commented on #892
Hi i just wonder that is it more better to implement  some AbstractAuthenticationFilter for doing login process instead of let UserXAuthTokenController do this. ???

[2015-08-14 21:02] #1784 closed

[2015-08-14 21:06] jdubois commented on #1836
@seghers do you have the problem with https://github.com/jhipster/jhipster-sample-app-hazelcast ? I'm trying to reproduce the issue.

[2015-08-14 21:09] jdubois commented on #1721
@deepu105 can you check that this works fine with the SpringNamingStrategy ? And if so, can you put this strategy by default for Hibernate?
Then I'm OK to merge this, as long as we a good documentation for upgrading (can you write it here, and I'll copy/paste it in the release notes)

[2015-08-14 21:12] jdubois commented on #1853
Yes there is a misunderstanding here -> I agree with @atomfrede it should be added to the application.yml in the test resources

[2015-08-14 21:13] jdubois commented on #1655
This has been opened for more than 1 month, is anybody working on this? Otherwise I will close it.

[2015-08-14 21:14] jdubois commented on #1674
@savoisn any progress on your sub-generator? I'm trying to close tickets that are not being worked on.

[2015-08-14 21:15] jdubois commented on #1527
@deepu105 yes that's clearly worth a PR. I'm not using this personally, but I see a lot of issues with Ruby and Compass, so if it can solve them that would be really good.
If you don't have the time to work on it, please close the issue, it has been opened for too long.

[2015-08-14 21:19] andidev commented on #1853
I'm merging it then!

[2015-08-14 21:19] #1853 closed

[2015-08-14 21:19] seghers commented on #1836
@jdubois No

[2015-08-14 21:26] jdubois commented on #1836
@seghers I can't understand how you can have the error with a clean project, but not with the sample project. They both have the same Hazelcast configuration! Only difference is that we are on the "master" branch, but I don't think we changed anything concerning Hazelcast recently.

[2015-08-14 21:26] jdubois commented on #1853
Yes!

[2015-08-14 21:42] jdubois commented on #1711
HTML5 Boilerplate only has a 404.html page, so let's stick to what they have done.

[2015-08-14 21:45] #1711 closed

[2015-08-14 22:15] gmarziou commented on #1749
I think we should close this issue by copy/pasting some of the explanations to the CONTRIBUTING.md file. I can do it.

[2015-08-14 22:18] jdubois commented on #1749
@gmarziou yes OK! I still need to get used to those, but it's really cool!

[2015-08-15 00:55] deepu105 commented on #1721
@jdubois  ill check and update you, may be we can plan a seperate release for this

[2015-08-15 00:57] deepu105 commented on #1527
I was waiting for a go ahead from you, ill work on this next week
On 15 Aug 2015 05:15, "Julien Dubois" <notifications@github.com> wrote:

[2015-08-15 03:26] deepu105 commented on #1721
@jdubois I had a look, currently we are not defining any strategy as we have the `@Table` annotation, this will override any strategy right? Im not a hibernate expert!
But if im not wrong we would have to generate the table names in liquibase files manually anyway and isnt if wise to have the same in entity with `@Table` as well so that there is no mismatch?

my current PR is just an improvement o

[2015-08-15 05:08] deepu105 commented on #1859
you mean to have a relationship to be a required item?

[2015-08-15 05:11] deepu105 commented on #1778
I dont know if its the gzip filter or the grunt prod optimizations but my client side resources served on load was 10+ MB in dev profile and it has reduced to 1.1 MB in prod profile. Thats just awesome

[2015-08-15 09:30] hantsy commented on #1158
@cbornet  it seems the latest AngularJS 1.4.x supports ISO8601 format, and the `date` filter accept a timezone paratmer.

[2015-08-15 10:48] roaned commented on #1189
i asked here:

[link to Liquibase Issue 90](https://github.com/liquibase/liquibase-hibernate/issues/90)

[2015-08-15 14:36] jdubois commented on #1823
OK, let's make this an option of the entity sub-generator, it's indeed much easier.

I'm marking this as "will do later" as this isn't an urgent need -> if more people are interested by this, don't hesitate to participate, or even propose a PR!

[2015-08-15 16:36] tuncayxx commented on #1862
Why is there difference between Mac and Windows when it just works when you type grunt serve in Mac but the command not working in the Windows ? I didn't run compass - v yet .

[2015-08-15 18:18] gmarziou commented on #1862
Because Windows sucks for NodeJS, I know it from first hand experience as I work on both Windows and Ubuntu.

[2015-08-15 22:40] andidev opened #1872 "java 6 compilation fails since HikariCP-java6 version 2.4.0 is not in maven repo"
[code]

[2015-08-15 22:47] andidev commented on #1872
closing this and using the dev channel instead

[2015-08-15 22:47] #1872 closed

[2015-08-16 03:44] deepu105 commented on #1862
Have u installed ruby for windows?  In mac it comes preinstalled, in
windows you have to install it and then the compass gem, hope you did that
as its clearly mentioned in the docs,  sorry i didn't go through this
thread fully so if i missed something sorry.

Anyways we are moving to node sass which is faster and cleaner so i
wouldn't be worried about compass anymore
On 16 Aug 2015 02:19, "Gaël Ma

[2015-08-16 06:28] jdubois commented on #1831
I've tested with MapStruct and:

- I can't reproduce the issue
- the code is indeed correct, it's fetching the id from the entity

I think your real issue is a validation issue: have a look at the logs, you will see why your entity was rejected.
I'm going to improve the documentation on that part, as this isn't trivial.

[2015-08-16 06:28] #1831 closed

[2015-08-16 08:29] jdubois commented on #1714
Done

[2015-08-16 08:29] #1714 closed

[2015-08-16 08:36] andidev commented on #1714
Looking good! Though Blob seems to be misspelled to blog.

[2015-08-16 08:41] brettwooldridge commented on #1872
Java 6 support is dropped from the HikariCP 2.4.0 release forward.  Support for HikariCP-java6 continues on the 2.3.x branch (2.3.9 being the latest).  Java 6 has reached ["End of public updates"](https://blogs.oracle.com/java/entry/end_of_public_updates_for) and presents a security risk going forward.  [Even Java 7](http://www.oracle.com/technetwork/java/javase/eol-135779.html#Java6-end-public-up

[2015-08-16 09:30] andidev commented on #1872
Good to know, thanks for the info. Then will keep version 2.3.9 when the java 7 option is used.

@jdubois
How is the stats looking for java 7 option, is it time dump the support?

[2015-08-16 10:52] deepu105 commented on #1721
Oops it is indeed configured in the yml jpa section, ill do a change and check

[2015-08-16 11:16] brettwooldridge commented on #1872
@andidev just to be clear, HikariCP 2.4.0 supports **Java 7** and Java 8.  Java 6 is maintained on the 2.3.x release train.

[2015-08-16 11:36] andidev commented on #1872
Okey we are using HikariCP-java6 for java 7 option. What your saying is that we coukd use plain HikariCP version instead?

[2015-08-16 11:44] brettwooldridge commented on #1872
@andidev That is correct.

[2015-08-16 14:47] Maury1329 opened #1874 "Table referencing other table not yet created"
I have been trying JHispter for a few weeks now.
I created a data UML diagram in Modelio, exported it to .XMI format and created the structure with jhipster-uml. Then I manually edited my .jhipster\*.json files to include my validations etc.
I regenerated my entities based on my manual changes, using the entity sub-generator.
All well, so far.
When I ran the project with "mvn spring-boot:run", MyS

[2015-08-16 19:54] ankitgoel1987 opened #1875 "Issues with deploying app on AWS - No Solution Stack named '64bit Amazon Linux 2015.03 v1.4.1 running Tomcat 8 Java 8' found"
Hi,

I am trying to deploy my application built using JHipster on AWS by following the steps mentioned in this document - http://jhipster.github.io/aws.html

It fails. This is what I see printed on my command prompt.

Create S3 bucket
Bucket <bucketName> already exists

Upload WAR to S3
War uploaded successful

Create database
Database created successful

Waiting for database (This may take severa

[2015-08-16 21:20] andidev commented on #1872
Thanks, I'll PR the changes then!

[2015-08-16 21:40] andidev commented on #1874
When you manually edited your .jhipster*.json files did you also add new relationships?

When you mean `complex data structures` could you provide provide an example of the relationships between entities that you are trying to create?

[2015-08-17 00:21] deepu105 commented on #1875
this has been fixed in master, please wait for the next release

[2015-08-17 00:21] #1875 closed

[2015-08-17 00:48] ankitgoel1987 commented on #1875
@deepu105 : Thanks for the response. Is there a way I can apply the fix on my local installation? We have a pressing need to deploy our app on AWS and waiting for the next release of JHipster does not look like a viable solution.

[2015-08-17 00:51] deepu105 commented on #1875
you can fork the master branch, do a pull to your local and then go into
the folder and do a `npm link` this will make the generator point to this
folder and now if you run `yo jhipster` or any sub gen it will be based on
wats in this folder.

If you cant fork/pull then just download the master zip and unzip to a
folder and do the same as above

On Mon, Aug 17, 2015 at 8:48 AM, Ankit Goel <notific

[2015-08-17 07:24] tuncayxx commented on #1862
What should I exactly do in order to make the 'grunt serve' to work on Windows 7 as on Mac?

The documentation on jhipster https://jhipster.github.io/installation.html does not saying anything about Ruby, gem and node-sass ?

[2015-08-17 08:29] tuncayxx commented on #1862
Thank you, guys,

I installed Ruby and installed compass via Ruby and it is working now :)

[2015-08-17 08:49] khachaturs opened #1877 "Infinite loop"
Project is set up and is working fine on local machine, but when I deploy to the server it stats redirecting to login page all the time.

During debugging i found this condition in app.js file

if (response.status == 401 && response.data.path!="/api/account") {
  // redirecting to login page
}

again, it works fine on local machine, but on the server when it calls "api/account", returned  "respons

[2015-08-17 09:58] deepu105 commented on #1877
are you deploying the app with a context or is it just straight boot run?

the above code infact was to avoid that kind of looping

[2015-08-17 11:13] afedulov opened #1878 "Compilation error: duplicate class"
Mapstruct causes compilation error.

Steps to reproduce:
1) Generate entity: "yo jhipster:entity foo" having one String field and select DTO option
2) mvn install

Result:

[code]
Target folder contains duplicate classes:
generated-source/annotaions/org/projectname/web/rest/mapper/FooMapperImpl.java
generated-source/org/projectname/web/rest/mapper/FooMapperImpl.java

The difference between those c

[2015-08-17 11:21] Maury1329 commented on #1874
@andidev , I will send the .json files in a few days (after I finish some other pending work).
Since I exported them as XMI, I only added a few fields and validations, but not the relationships.
In Modelio I did not add field validation (contraints!?!), because I did not know how. Modelio's documentaion is about screen shots and not explanations .
I will rename some things, run again and make sure

[2015-08-17 11:36] jdubois commented on #1878
I guess you also have your IDE running, and that it created that other class. Can you confirm this?

-> in that case it would be an IDE configuration to do, and it is not explained in our documentation

[2015-08-17 11:39] jdubois commented on #1877
@deepu105 indeed, this is supposed to be solved (and I've never had the issue myself!)

So @khachaturs I'm closing this as:

- you did not provide your JHipster version number (we don't know if it's fixed or not)
- you did not provide your JHipster options (this is probably linked to your security configuration)
- and the title of your ticket is not explicit

Please, also have a look in the ticket

[2015-08-17 11:39] #1877 closed

[2015-08-17 11:45] michaelisvy commented on #1815
Thanks for finishing the job. I realise I had missed plenty of libs by just focusing on the default settings in the generator. How did you guys test all of that? Did you just generate several projects by hand and deploy them? Or is there a more automated way?

[2015-08-17 11:57] afedulov commented on #1878
Running "mvn clean install" from a console with IntelliJ shut down produces the same error.

[2015-08-17 13:20] bonhamcm commented on #1853
Thank you!

[2015-08-17 13:47] afedulov commented on #1878
I have found out what the problem was. I had an issue described in https://github.com/jhipster/generator-jhipster/issues/1558 and in order to solve it I have added this dependency, as advised as a workaround by one of the posters:
[code]
Removing the processor from main dependencies resolves the problem of erroneous classes generation, but causes IntelliJ to fail with the "java: Annotation process

[2015-08-17 13:47] #1878 closed

[2015-08-17 13:57] jdubois commented on #1878
@afedulov could you help us to improve the documentation on this?

[2015-08-17 16:39] MathieuAA commented on #1874
Hi,

At first glance, it looks like an inverted association problem (the dependency is not where it should have been).
If you could do two things, that would be great:
  - create an issue in the JHipster-UML page (JHipster issues may or may not be related, but since you used JHipster-UML...) and close this one;
  - send us your JSON files and the XMI so that I can run some tests to confirm an issu

[2015-08-17 20:17] jdubois commented on #1874
Yes, for me this is a jhipster-uml issue... Maybe also we can't generate everything, if there is some kind of cyclic dependencies between entities, but I haven't seen it yet.

-> I'm closing this, please open it up in jhipster-uml instead

[2015-08-17 20:17] #1874 closed

[2015-08-17 21:45] #1809 closed

[2015-08-17 21:45] #1819 closed

[2015-08-17 21:45] #1857 closed

[2015-08-17 21:46] #1527 closed

[2015-08-17 21:50] jdubois commented on #1815
We have some automated tests available here:
http://jhipster.github.io/build_status.html

But a lot of issues are found manually, we have a lot of options, and many
parts which can be tested automatically... That's why I'm always careful
when we upgrade stuff!

On Mon, Aug 17, 2015 at 1:45 PM, michaelisvy <notifications@github.com>
wrote:

--
Julien Dubois

Twitter: @juliendubois <http://twitter.c

[2015-08-17 21:59] gmarziou opened #1880 "Generate project README.md with build instructions"
The project README.md file should contain basic instructions about how to setup environment and use build process according to the tools chosen during generation (maven/gradle and grunt/gulp).

[2015-08-17 22:01] gmarziou commented on #1862
Ironically, next release will use node-sass and so remove the requirements on Ruby and Compass.

[2015-08-17 22:42] diggers commented on #840
I'd be interested to know what is the suggested way to return entities that the user owns.

When establishing one to many relationships between entities, i.e: User -> Car a user_id column is added to the Car table, however the Principal is not exposing the User id to filter on.

Should User implement a custom UserDetails that exposes the ID? or there is a better way?

[2015-08-17 22:56] Zyst commented on #1807
Sorry read this quite a bit later, took a vacation which led me to have no internet for nearly a month.

Glad you fixed your issue @maheshkaranjkar

It seems you figured out how to use dates, so I won't elaborate further.

[2015-08-18 01:51] michaelisvy opened #1881 "Reorganizing the JHipster documentation"
Hi,
I think the JHipster documentation is getting big and it would be nice to reorganize it so users can find information faster.

Main goals:
- avoid to use words such as "introduction", "setup", "presentation" etc and try to be more specfic
- some pages should be broken into several pages  (such as "Using in development")
- Separate out "environment setup" from "core JHipster tasks" such as crea

[2015-08-18 03:12] mraible opened #1882 "Auditing AUTHORIZATION_FAILURE for anonymousUser"
I deployed a JHipster app to Heroku in mid-June. You can see it at http://www.jhipster-book.com/. I've made a few data entries, but haven't done much with it for the most part. The good news is it's been up and running with no issues for over two months. However, this evening I received the following email from Heroku:

Looking at my database, the `jhi_persistent_audit` tables have just over 8000

[2015-08-18 07:22] tuncayxx commented on #1862
Nice :)

-tuncay

On 18 August 2015 at 00:01, Gaël Marziou <notifications@github.com> wrote:

[2015-08-18 09:54] jdubois commented on #1710
it looks like nobody is able to reproduce this, so I'm closing it.

[2015-08-18 09:54] #1710 closed

[2015-08-18 09:56] jdubois commented on #1882
Yes it's a good feedback.
Besides, for performance reasons, I'm not sure it's good to have this enabled by default -> shouldn't we disable it by default, and make it optional with a change in the application.yml file? I'm not sure this is issued by most people, any feedback on this?

[2015-08-18 10:06] afedulov commented on #1878
Sure, here it is:

https://docs.google.com/document/d/1UiK5ZUWSJ2bAwM4Cg25QjoERtudYrWWPi7qJF97qNUw/edit?usp=sharing

The whole thing actually turned out to be much more convoluted, than initially expected.

[2015-08-18 15:05] PeterEltgroth commented on #1828
I'm currently using the [Cloud Foundry gradle plugin](http://docs.run.pivotal.io/buildpacks/java/build-tool-int.html#gradle-security). Follow the directions at the top of [the page](http://docs.run.pivotal.io/buildpacks/java/build-tool-int.html#gradle-security) to setup your Cloud Foundry credentials for the plugin, then in build.gradle add:

Note:
* The application, target, etc names below are ex

[2015-08-18 15:20] deepu105 commented on #1882
I had similar issue with this table having too much rows that too i had an sso authenticating every request so i have a DB job that clears data that is older than a month.
I personally feel that the user activity audit in its current form is not very useful, if we are able to make it log one request per login with some more info this might be more useful.

[2015-08-18 16:56] vw98075 opened #1885 "Build Fails on the 2.19 with Gradle"
After upgrading to the 2.19 version from the 2.18, I can't get my project built. The following is the stack trace:

Caused by: java.lang.NoClassDefFoundError: org/gradle/mvn3/org/apache/maven/model/building/ModelBuildingException
        at io.spring.gradle.dependencymanagement.DependencyManagementPlugin.class$(DependencyManagementPlugin.groovy)
        at io.spring.gradle.dependencymanagement.Dep

[2015-08-18 17:03] vw98075 commented on #1885
Never mind. After upgrading spring-boot-gradle-plugin to 1.3.0.M4. This problem is gone.

[2015-08-18 17:03] #1885 closed

[2015-08-18 17:10] mraible opened #1886 "gradlew clean does not delete target/test-classes"
I discovered this after generated a bunch of entities, then reverting everything in Git, after I'd run the tests. When I ran `./gradlew test`, it didn't delete `target/test-classes`. I fixed this by adding the following to my `build.gradle` file.

[code]

[2015-08-18 17:12] atomfrede commented on #1886
Thanks for the hint. Will integrate it.

[2015-08-18 19:09] atomfrede commented on #1881
Looks good so far to me. I would like to have the Tips'n Tricks at the root menu level and ``Install a new Language`` belongs to ``Core JHipster tasks`` I think.

[2015-08-18 20:07] #1886 closed

[2015-08-18 20:13] jdubois commented on #1881
I would also like to:

- rename all the pages with underscores to use a dash instead ("create_a_new_app" -> "create-a-new-app") as it's better for SEO. What's bad is that we will have tons of 404 errors (I tried to do a redirect rule with Jekyll but that failed!)
- migrate everything from HTML to MarkDown (only reason we have HTML is that I didn't know we could use MarkDown in the first place!)
-

[2015-08-18 20:38] jdubois commented on #1882
I'm not sure we can tune this easily, the auditing is done automatically... I would rather remove it completely. Besides, there's a performance overhead and I'm not sure most people would want this.

Then, we could add some options:

- to have the auditing on again
- to have some security rules that are not provided by default (as Spring Security doesn't have a backend). My idea (from years ago!!)

[2015-08-18 23:02] levrun opened #1890 "Deploying fresh app to heroku - Only PostgreSQL is Supported for Heroku generator"
Hi, guys.
I'm trying to use following doc http://jhipster.github.io/heroku.html in order to try heroku deployment:
* Install heroku toolbelt
* Logged to heroku in command line
* run: yo jhipster:heroku
But in result I've got following error:
[code]
How I could fix/solve this issue?

[2015-08-18 23:11] mzatko opened #1891 "weblogic 12c deployment"
I successfully deployed generated jhipster.war.original to weblogic 12c without any exception.
Front-end seems to be running however any REST request ends with 404-not found... Any ideas what could be a problem?

For successful deployment I had to remove all tomcat and websocket(anyway not chosen in jhipster config) dependencies from generated war.

[2015-08-19 02:14] pulkitnandan commented on #1766
On this "Linux ip-172-31-31-37 3.13.0-48-generic #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
" machine it fails again.

ubuntu@ip:~$ npm cache clean && npm install yo

-

Yeoman Doctor
Running sanity checks on your system

✔ Global configuration file is valid
✔ Node.js version
✔ No .bowerrc file in home directory
✔ No .yo-rc.json file in home directory
✔ npm version

[2015-08-19 02:39] pulkitnandan opened #1892 "Error: Cannot find module 'yeoman-environment'"
On this "Linux ip 3.13.0-48-generic #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
" machine it fails again.

ubuntu@ip:~$ node -v
v0.12.7
ubuntu@ip:~$ npm -v
2.13.5

ubuntu@ip:~$ npm cache clean && npm install yo

spawn-sync@1.0.13 postinstall /home/ubuntu/node_modules/yo/node_modules/cross-spawn/node_modules/spawn-sync
node postinstall
yo@1.4.7 postinstall /home/ubunt

[2015-08-19 02:50] deepu105 commented on #1890
What database did you choose for the application generated.
Please provide your .yo-rc.json

[2015-08-19 02:51] deepu105 commented on #1891
Is this an issue or info?  Anyways we do not officially support web logic and seems like you fixed it anyways so closing

[2015-08-19 02:51] #1891 closed

[2015-08-19 02:53] deepu105 commented on #1891
@mzatko You could consider writing a tip in the jhipster documentation project

[2015-08-19 02:55] deepu105 commented on #1892
This is definitely a environment or setup issue and doesnt have anything to do with jhipster, can you try installing the angular-generator and see if it works

[2015-08-19 03:22] pulkitnandan commented on #1892
Yes it was done without errors.

[2015-08-19 03:40] mzatko commented on #1891
Sorry for not being clear enough. My problem is that REST "backend" is not working at all... All REST requests end up with "404 not found"

[2015-08-19 04:47] mraible opened #1893 "Security risk: User's password is shown in the logs"
User's passwords are displayed when logging:

[DEBUG] org.jhipster.health.web.rest.UserResource - REST request to get all Users
Hibernate: select user0_.id as id1_4_, user0_.created_by as created_2_4_, user0_.created_date as created_3_4_, user0_.last_modified_by as last_mod4_4_, user0_.last_modified_date as last_mod5_4_, user0_.activated as activate6_4_, user0_.activation_key as activati7_4_, user

[2015-08-19 05:04] jdubois commented on #1893
Correct!
I merged your PR.

[2015-08-19 05:04] #1893 closed

[2015-08-19 05:20] mraible opened #1895 "When creating an entity that ends in s, two ss are created"
I created a couple entities with plural names. For example: points and preferences. All the endpoints, some templates and other variables were named pointss and preferencess. This was difficult to fix all over the place. It'd be great if JHipster somehow detected plurals and didn't use two 's'.

On a related note, I have WebSockets in my project and I noticed the following requests being made:

[c

[2015-08-19 05:38] pulkitnandan commented on #1892
I have reached somewhere to the end of jhipster installation after re-installing node using

echo 'export PATH=$HOME/local/bin:$PATH' >> ~/.bashrc
. ~/.bashrc
mkdir ~/local
mkdir ~/node-latest-install
cd ~/node-latest-install
curl http://nodejs.org/dist/node-latest.tar.gz | tar xz --strip-components=1
./configure --prefix=~/local
make install
curl -L https://npmjs.org/install.sh | sh
node -v

then

[2015-08-19 06:38] pulkitnandan commented on #1892
After creating a user and adding it to sudo group reinstalled node, bower, grunt-cli, yo, jhipster and then yo jhipster stuck for 30 minutes in 1 MBPS connection @

   create src/main/webapp/scripts/app/account/settings/settings.controller.js
   create src/main/webapp/scripts/app/admin/admin.js
   create src/main/webapp/scripts/app/admin/audits/audits.html
   create src/main/webapp/scripts/app/adm

[2015-08-19 07:44] michaelisvy commented on #1881
@atomfrede I have reflected both changes above. We'll have to see if we don't have too many first level sections.
@jdubois sure, those changes can be done in the end.

[2015-08-19 08:34] pulkitnandan commented on #1892
After installing thorugh

git clone https://github.com/joyent/node.git
cd node
git checkout v0.12.7 #Try checking nodejs.org for what the stable version is
./configure && make && sudo make install

It's the same as installing with nvm.

[2015-08-19 12:25] gmarziou commented on #1892
It's not a JHipster issue, it's a failure during `npm install`, the fact that angular generator works does not prove anything as it doesn't use same node packages.

You tried 2 ways to install node: apt-get which requires sudo and nvm which does not require sudo, I would recommend you stick with nvm.

Make sure you cleaned up everything related to node: ~/.nvm, /tmp, local node_modules and npm cac

[2015-08-19 12:25] #1892 closed

[2015-08-19 12:27] gmarziou commented on #1895
Plural in which language? ;)

[2015-08-19 12:30] gmarziou commented on #1891
I suppose you have a context path while in jhipster embedding tocat we haven't.

[2015-08-19 12:34] gmarziou commented on #1766
npm cache clean && npm install yo

[2015-08-19 14:36] mzatko commented on #1891
Hi @gmarziou, thank you for your answer. That was my first idea, however everything looks correct. When there is context-path for webapp, there is context-path for REST as well. Requests from angular are sent to correct endpoints. However I checked if there are endpoints without context-path and there are none. It seems like with weblogic REST services simply aren't configured. I tried with wildfl

[2015-08-19 15:02] deepu105 commented on #1895
Ya its a tough issue unless we add some specific library to handle that.
Another case is when you use names like country it creates countrys :P i
guess there are many such variations

On Wed, 19 Aug 2015 8:27 pm Gaël Marziou <notifications@github.com> wrote:

[2015-08-19 15:08] mraible commented on #1895
In AppFuse, we use a StringUtils class that gets the plural for the word:

https://github.com/appfuse/appfuse/blob/master/plugins/appfuse-maven-plugin/src/main/java/org/appfuse/tool/StringUtils.java

Any idea how to get past /points/new creating an alert? This seems like a bug.

[2015-08-19 15:13] gzsombor commented on #1895
In the javascript router config, you should put '/something/{id:int}'  instead of '/something/:id'.

The problem is that sometimes ui-router first picks /something/:id, when it doesn't know that id should be a number.

[2015-08-19 15:21] mraible commented on #1895
That worked @gzsombor! Thanks for the tip.

[2015-08-19 16:08] jdubois commented on #1890
It can only work with Postgresql, that's written in the documentation at http://jhipster.github.io/heroku.html

-> I'm closing this as this is not an issue, it's a limitation that is documented.

If you want to work with another database it probably isn't very difficult, have a look at the generated code. Of course, that depends of the database you want to have!

-> If you do it, for example with

[2015-08-19 16:08] #1890 closed

[2015-08-19 16:41] gmarziou commented on #1891
Could you try with [Spring Boot REST service example](https://spring.io/guides/gs/rest-service/)?
JHipster should be very close to this example but it should be simpler to debug.

[2015-08-19 18:01] mzatko commented on #1891
Hi @gmarziou, finally I found solution, maybe it could help someone:
* Most important is to add `implements WebApplicationInitializer` to class ApplicationWebXml definition as weblogic searches only direct implementations. It will be then:
[code]
* changes to pom.xml: as I am using java8, I had to upgrade javassist by adding javassist.version property; to exclude websocket and jetty jars from war

[2015-08-19 19:07] gmarziou commented on #1891
Thanks for having written this solution.

[2015-08-20 02:04] freakjony1 opened #1896 "Deploying fresh app to Openshift I get an error with NPM INSTALL"
Hi guys,
              I'm trying to use following doc http://jhipster.github.io/openshift.html in order to try openshift deployment:
                    After I run __git push__, I get this error

warning: push.default is unset; its implicit value is changing in
Git 2.0 from 'matching' to 'simple'. To squelch this message
and maintain the current behavior after the default changes, use:

  git co

[2015-08-20 04:25] kevintvh opened #1897 "Page access security issue"
Hi Everyone,

Anyone got any issues related to URL access permissions ? We could define roles in pageabc.js#".state" and these roles are only apply when we logged in but anonymous does not work and anonymous could also access to the URL.

For example: http://localhost:8080/#/top_secret need to be accessed by "ROLE_ADMIN" but this URL could be accessed by anonymous user at the moment (Spring securi

[2015-08-20 04:33] kevintvh opened #1898 "JHipster OAuth2 security issue : Client secret has been exposed in JHipster JS code"
There are a few questions in our JHipster chat (https://gitter.im/jhipster/generator-jhipster) but no one anwser them. Just pick one of questions:

So I would like to create a ticket here for everyone to discuss / fix this issue.

Check src/main/webapp/scripts/components/auth/provider/auth.oauth2.service.js

[code]

Does back end check is necessarily? when client_id and client_secret known to the

[2015-08-20 06:47] jdubois commented on #1896
Looks like a lot of errors to me!!
It's not very clear for me, at least there are some strange stuff:

- You have some NPM errors, and I don't think NPM is supposed to run on OpenShift (I might have forgotten something, but for me we only use Maven & Java, and that's what is in our hooks anyway)
- You have something wrong anyway: I have no idea how you want to have ElasticSearch running, but it wo

[2015-08-20 06:49] jdubois commented on #1897
Have a look at the "Authorizations" part at http://jhipster.github.io/using_angularjs.html that should answer your question!

[2015-08-20 06:49] #1897 closed

[2015-08-20 06:52] jdubois commented on #1898
Isn't this a duplicate from #586 and #1661 ? Can you have a look at them?

[2015-08-20 07:38] d0x commented on #733
Do you have a plan to move to another solution?

[2015-08-20 08:18] jdubois commented on #733
Yes I want to use another solution. I just haven't worked on it yet -> if you are interested you can take the lead on this!

[2015-08-20 10:12] afedulov opened #1899 "Making API more RESTful"
I have noticed that some endpoints in the project do not quite match widely accepted practices of building RESTful APIs. For instance, AuditResource contains two URL mappings:
``` /audits/all ``` and ```/audits/byDates``` . It seems to me, that both of them are redundant. GET request to /audits/ without parameters completely defines the semantics of /all. GET request to /audits/ with start and end

[2015-08-20 12:01] gmarziou commented on #1899
Feel free to propose a PR.

[2015-08-20 13:19] andidev commented on #1899
This sounds like a good idea. Would make a lot more sense to me.

[2015-08-20 13:41] julienguiraud opened #1900 "No browser refresh when changing HTML resources"
After installing a new app, running grunt serve and changing audit.html, the browser  does not refresh.

When we insert the path `'src/main/webapp/scripts/**/*.html` in `browserSync.dev.bsFiles.src` after line 83, that works but only after relaunching `grunt serve`.

Windows 7 64 bits
JHipster : 2.19.0
Chrome, FF last versions
node : 0.12.6
npm : 2.11.2

Issues raised in 4 differents PC with almos

[2015-08-20 14:01] afedulov opened #1901 "AuditEventConverter marked as @Configuration"
Just want to clarify. Is there a reason for the AuditEventConverter to be marked as @Configuration? Would it not be better to just convert its methods to static instead of injecting it?

[2015-08-20 14:34] andidev commented on #1900
If you are using firefox try doing this:
https://support.mozilla.org/sv/questions/905902

If you are using chrome try this:
http://stackoverflow.com/questions/5690269/disabling-chrome-cache-for-website-development

did it solve your issue?

[2015-08-20 14:40] cleecds opened #1902 "Reloading an entity page causes the the menu item labels on the navbar to mysteriously change to attribute names"
We have three entity pages. On one of the pages, when we refresh the page, the menu item labels on the navbar would erroneously change to attribute names. For example, items such as Home, Entities, Account, Administration, etc. would change to global.menu.home, global.menu.entities.main, global.menu.account.main, etc. Is anybody experiencing this issue? Thanks.

[2015-08-20 14:46] julienguiraud commented on #1900
Thanks for your answer but I don't want to change my browser settings.

I did not try your solution also because I think it won't solve my problem for these two reasons:
* index.html is correcly refreshed.
* the workaround described above works.

That's why I think that it is not a cache problem but perhaps I am wrong...

[2015-08-20 14:46] andidev commented on #1902
Need more info on this. Could you provide a screenshot and tell us what browser you using?

[2015-08-20 14:58] andidev commented on #1902
Okey it's the translation keys you are seeing.
I think I have experienced this as well but not sure when. Do you get this issue after generating a new jhipster app without doing any modification?

[2015-08-20 15:03] afedulov commented on #1902
+1. Can confirm the same behavior.

[2015-08-20 15:07] afedulov commented on #1902
Ok, I've got this one. On one the generated entities this is missing in the $stateProvider configuration:
[code]

[2015-08-20 15:08] cleecds commented on #1902
Hello andidev and afedulov,

Thank you for your responses. We are getting this issue after the jhipster app has been customized. Also we are using Firefox as the browser.

[2015-08-20 15:19] gmarziou commented on #1901
Not sure why it is  @Configuration, I would rather annotate it as @Service or @Component, static methods are evil for testing.

[2015-08-20 15:34] afedulov commented on #1901
Agreed. I did not see the last method which contains some custom details for mapping WebAuthenticationDetails. I might imagine a situation where it could be beneficial to override these details for testing. However if not for that last method, I would say that static methods would have been just fine here. They are not the source of absolute evil, just have to be used judiciously. Anyhow, the sing

[2015-08-20 15:44] gmarziou commented on #1901
Could you test if it works with @Service?

[2015-08-20 15:58] afedulov commented on #1901
I can test, and I am almost sure it will, the only problem with changing it is the location of the class. It is currently located in the config/audit/ package. Which emphasizes that it was considered as a kinda-sorta configuration detail by the author. If we change it to @Service than it should probably also be relocated into service package. My proposition is to mark it @Component and move it int

[2015-08-20 16:14] gmarziou commented on #1901
Yes I agree. @jdubois as the author of this class, what do you think?

[2015-08-20 16:17] jdubois commented on #1899
Yes this is an API that was coded very early in the project, it can definitely be challenged. Regarding #1882 are you using this API @afedulov ? Do you find it useful? I'm thinking of removing it, or at least disabling it by default

[2015-08-20 16:18] jdubois commented on #1901
I think I coded this at the very beginning of the project, and I don't remember why this isn't a Spring Bean!

[2015-08-20 17:13] andidev commented on #1900
Sorry must have read this issue to fast. So are you saying browser sync is not configured to sync files in the script folder?

[2015-08-20 17:57] cleecds commented on #1902
afedulov,

After adding the missing codes to the entity's js file, we're not able to get to the entity page either by the navbar pulldown or by url. Is there something additional we have to do? Thanks.

[2015-08-20 19:02] andidev commented on #1900
Shouldn't the already existing configuration `'src/main/webapp/**/*.html',` on [line 96](https://github.com/jhipster/generator-jhipster/blob/master/app/templates/Gruntfile.js#L96) handle the refresh of html files in the script folder?

This sounds rather like a browserSync issue than a jhipster issue.

[2015-08-20 19:12] andidev commented on #1900
So I can't reproduce this. Browser refresh of the `audit.html` file works for me in both firefox and chrome.
Though I'm sitting on OSX.

This is most certainly an browserSync issue since the configuration seems to be correct.

[2015-08-20 19:44] andidev commented on #1902
@afedulov
Are you using the latest version of jhipster? You should have `$translatePartialLoader.addPart('global');` line in your code snippet you provided if you are so my guesses is that you are not.

@cleecds
What version of jhipster are you using?

I can't seem to reproduce this. Are you manually refreshing the page or is it Browser Sync that does it for you?

[2015-08-20 19:54] cleecds commented on #1902
@andidev
We are using $translatePartialLoader.addPart('global'); in our codes. We upgraded to Jhipster 2.19.0 few days ago. We are manually refreshing the page.

[2015-08-20 20:41] gmarziou commented on #1902
How are you running your app: `mvn spring-boot:run` or using Application.main?
Are you using grunt serve?
Are you on Windows?

[2015-08-20 20:45] sfoubert opened #1903 "Cassandra and date validation rules"
Generating entity for cassandra with Date field and validation rules gives this error :
[code]
Indeed, response.fieldType 'Date' is not handled for fieldValidateRules only 'DateTime'

[2015-08-20 20:51] andidev commented on #1902
Is it only one of the entities that causes this problem? Does the browser console show any errors?

The code snippet that afedulov provided should not be missing in the latest version of jhipster according to the source code in the generator unless it is manually removed.

[2015-08-20 20:53] adkhaila opened #1904 "api access rejected"
Hello Julien,

for token based authentication , user admin is directly rejected when clicked
menu : Administration > API. It works fine for other menus.

We are adopting jhipster in our company for a new project , it's for an admin console so it would be a good start

I have an issue with thsi webapp when imported into eclipse and run by spring boot :
when i clic , i get :+1: 401 : {"timestamp":14

[2015-08-20 21:15] gmarziou commented on #1904
Wait for next release 2.20, it contains fixes for the swagger-ui part.

[2015-08-20 21:15] #1904 closed

[2015-08-20 22:15] afedulov commented on #1882
Would this modification to the CustomAuditEventRepository seem too hacky?

[code]
This would have the benefit of filtering quite useless authentication failures (as Julien proposes, this should be handled on a different level) and at the same time keep potentially useful audit information logs.

[2015-08-20 22:25] mraible commented on #1882
I think this would work. It might be useful to know when real users fail to
login, but I guess everyone is anonymous before authenticating.

On Thu, Aug 20, 2015 at 4:16 PM, Alexander Fedulov <notifications@github.com

[2015-08-20 22:39] julienguiraud commented on #1900
You are right. I just posted an issue on BrowserSync project.

Thanks for your support.

[2015-08-21 02:11] sdoxsee commented on #1898
I just wrote a short bit about this on stackoverflow.com http://stackoverflow.com/a/32062458/1098564
You can take the client secret out altogether but I don't think it buys you anything in security unless you change the jhipster architecture to use a server-side proxy.

[2015-08-21 02:37] i4irshad opened #1905 "Unable to see home page of bookstore"
Hi,

I tried running bookstore application by following the steps mentioned in your website
After running Application.java or mvn spring-boot:run I am unable to see the entire content of home page
It only shows "This is your footer"
Can you please suggest where I am going wrong

Thanks,
Irshad

[2015-08-21 02:42] freakjony1 commented on #1896
OK I delete de app and I made the new one without ElasticSearch, but I when i try to access I've got an 503 Service Temporarily Unavailable error.

__Logs File__
__demo2.log__
[INFO] com.mycompany.myapp.Application - Starting Application on ex-std-node686.prod.rhcloud.com with PID 179726 (started by 55d5b8c77628e1b08e000127 in /var/lib/openshift/55d5b8c77628e1b08e000127/diy)
[DEBUG] com.mycompany.

[2015-08-21 07:41] jdubois commented on #1905
You probably didn't install NPM correctly, have a look at your log messages.

[2015-08-21 07:41] #1905 closed

[2015-08-21 08:12] #1858 closed

[2015-08-21 08:19] sfoubert commented on #1903
Sorry, i had to update my generator 2.16.1 to last version (2.19)
The commit https://github.com/jhipster/generator-jhipster/commit/9200ad9fcdc3e11dea4296819ab1769e9ac703fd#diff-ae050cf19ecf93f86e9bbdcad125936b
fix the problem

[2015-08-21 08:19] #1903 closed

[2015-08-21 08:51] afedulov commented on #1902
@andidev I have generated those entities from different machines, maybe even using different jhipster versions. It is hard to say now, because I have upgraded since than. It seems to me that enableTranslation option might be the source of the problem in my case. It controls the addition of the above-mentioned block and at the same time is nowhere to be found in the .yo-rc (probably because project

[2015-08-21 11:25] i4irshad commented on #1905
even after updating npm (2.14.0) there is no success

[2015-08-21 12:16] honsali commented on #1905
I encountered the same pb when I used the http://127.0.0.1 url
try with http://localhost:8080

[2015-08-21 12:20] afedulov commented on #1899
@jdubois I definitely consider this part of JHipster useful, but probably not for an obvious reason. When I just started with the project it has provided a great way to see how a very typical task of presenting data based on date range filtering can be achieved using this technology stack. I think that it is another way to look at this module. The power of JHipster is it ability to show developers

[2015-08-21 12:45] andidev commented on #1899
To be consistent, we should also make the same changes to the entity REST API.

[2015-08-21 12:59] afedulov commented on #1899
@andidev do you mean those being generated? They are actually quite OK in their current form, I think. We could move MediaType.APPLICATION_JSON_VALUE to the top of the class and also mapping to /api/foo instead of having /foo on every method. Or do you have something else in mind?

[2015-08-21 13:33] i4irshad commented on #1905
tried both the ways but neither of them worked :(
where can I get to see the logs and debug it

[2015-08-21 13:58] deepu105 opened #1907 "Enchancement: Add track by id to all ng-repeat directives"
@jdubois @gmarziou @andidev @gzsombor @atomfrede  Do you think it would be good to add a default track by `entity.id` on all `ng-repeat` It should improve performance of DOM as per angular docs

https://docs.angularjs.org/api/ng/directive/ngRepeat
http://www.codelord.net/2014/04/15/improving-ng-repeat-performance-with-track-by/

[2015-08-21 14:33] NetoDevel opened #1908 "Embedded Tomcat"
the hello world example I try to run and always gives this error. "ubuntu 64bits"

"Hikari Housekeeping Timer (pool HikariPool-0)" #15 daemon prio=5 os_prio=0 tid=0x00007f78d8307800 nid=0x3c89 waiting on condition [0x00007f78ce6ea000]
   java.lang.Thread.State: TIMED_WAITING (parking)
        at sun.misc.Unsafe.park(Native Method)
        - parking to wait for  <0x00000000fc15ae38> (a java.util.co

[2015-08-21 14:34] andidev commented on #1899
Sorry I thought we used foo/all for entities. My bad forget my comment.

[2015-08-21 14:38] jdubois opened #1909 "Entity links to the User entity do not work"
@andidev I'm assigning this to you because I know you coded this part.

For me we can't release version 2.20.0 until this is solved -> @andidev please tell me if you have the time to work on it, so I know if I have to correct this myself

Just do a many-to-one relationship to the User entity, you will have a JavaScript error when clicking on the user entity. This is because it hasn't been generate

[2015-08-21 14:42] jdubois commented on #1907
Looks good to me!

On Fri, Aug 21, 2015 at 3:58 PM, Deepu k Sasidharan <
notifications@github.com> wrote:

--
Julien Dubois

Twitter: @juliendubois <http://twitter.com/#!/juliendubois>
Phone: +33 (0)6 25 02 34 18

[2015-08-21 14:42] andidev commented on #1909
I'll have a look at it tonight

fre 21 aug 2015 16:38 Julien Dubois <notifications@github.com> skrev:

[2015-08-21 15:05] jdubois commented on #1908
Hi,
Can you follow our [issue submission guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md)

Here I can't help you: my own sample applications work perfectly, so I can't reproduce.

[2015-08-21 15:05] #1908 closed

[2015-08-21 15:21] NetoDevel commented on #1908
It was because of java 8 @jdubois

[2015-08-21 15:47] rblazquez commented on #789
Im trying AWS deployer and get the following problem ...

"
Create S3 bucket
Bucket preveges created successful

Upload WAR to S3
War uploaded successful

Create database
Database created successful

Waiting for database (This may take several minutes)
Database available at jdbc:mysql://preveges.co5e9kgwtldd.eu-central-1.rds.amazonaws.com:3306/preveges

Create/Update application
✖ No Solution Stac

[2015-08-21 15:53] cleecds commented on #1902
@gmarziou
We are running the app with mvn spring-boot:run. I don't believe we are using Grunt. How do I verify? In the Firebug console, it's showing:

Error: Could not resolve 'the app' from state 'site'
transitionTo@http://www.companyt.com/bower_components/angular-ui-router/release/angular-ui-router.js:3074:1
go@http://www.company.com/bower_components/angular-ui-router/release/angular-ui-router.j

[2015-08-21 16:06] rblazquez opened #1910 "No Solution Stack named '64bit Amazon Linux 2015.03 v1.4.1 running Tomcat 8 Java 8' found."
Im trying to deploy jHipster in AWS and have this output:

[code]

Im not sure why it tries to load this stack version since ive used Java 7 in the generator.

Can you give me some clues on how to fix this?

[2015-08-21 16:15] gmarziou commented on #1905
Just run `npm install` in your jhipster project directory and copy/paste the errors here.
You could also collect more informations by running rff-doctor:

   npm install -g rff-doctor
   rff-doctor

[2015-08-21 16:33] gmarziou commented on #1902
Regarding grunt, you would know if you were using this efficient workflow top develop your app, see 'Using the Java server and Grunt together{ in http://jhipster.github.io/development.html

So the logs are pretty clear, you have a link to a state named 'the app' and it could not be resolved by angular-ui router.
So, I'm not sure it's a good idea to name a state with spaces in it, then you probably

[2015-08-21 16:47] cleecds commented on #1902
@gmarziou
I have just verified that we are using Grunt.

My mistake. I forgot the underscore in 'the_app' when I was typing my last reply. It should be the_app.

[2015-08-21 16:52] cleecds commented on #1902
By the way, I got the above error after implementing the snippet below:

resolve: {
                    translatePartialLoader: ['$translate', '$translatePartialLoader', function ($translate, $translatePartialLoader) {
                        $translatePartialLoader.addPart('the_app');
                        $translatePartialLoader.addPart('global');
                        return $translate.refr

[2015-08-21 17:02] deepu105 commented on #1907
Ok ill add this after next release

[2015-08-21 17:06] deepu105 commented on #789
This issue is fixed wait for next release also read the issue threads its mentioned already

[2015-08-21 17:08] deepu105 commented on #1910
Fixed already will be in next release please search existing issues before opening new

[2015-08-21 17:09] deepu105 commented on #1905
Also check if wiredep has injected all bower items in index.html else run
grunt/gulp build
On 22 Aug 2015 00:15, "Gaël Marziou" <notifications@github.com> wrote:

[2015-08-21 17:18] rblazquez commented on #1910
True, sorry.

Looking at
https://github.com/jhipster/generator-jhipster/issues/1875

[2015-08-21 18:25] gmarziou commented on #1907
Yes it's a good idea.

[2015-08-21 18:26] #1910 closed

[2015-08-21 18:34] gmarziou commented on #1902
Where and why did you do that?

[2015-08-21 18:51] cleecds commented on #1902
@gmarziou
Are you referring to where and why we added the snippet? afedulov mentioned that the snippet was missing from the entity's JS file. He believed it would fix our original issue. So we went ahead and added it. Thus that's how we got to the error in the console. Our original issue is the menu item labels on the navbar would erroneously change to attribute names whenever we manually refresh

[2015-08-21 19:04] andidev commented on #1902
Try regenerating that entity and see if there is any differences in the code.
Could you also provide your .yo-rc.json file content and the entity json file content of the entity causing this. The .yo-rc.js file is located in the root while the entity json is located in the .jhipster folder.

[2015-08-21 20:36] gmarziou commented on #1902
OK so it means that 'the_app' is the name of the entity, I wonder whether this underscore would break generated code somehow.

[2015-08-21 20:59] gmarziou commented on #1902
I just tested `yo jhipster:entity the_app`, beside producing ugly class names or non conventional routes and url, it seems to work fine.

[2015-08-21 21:45] andidev commented on #1909
So I am working on this right now. One question, is many-to-many relationships supported to the User entity?

[2015-08-21 21:48] jdubois commented on #1909
It should be supported on the non-owning side, but I haven't checked this for a long time!

[2015-08-21 21:49] andidev commented on #1909
Okey so I'll fix the issue there as well

[2015-08-21 22:03] andidev commented on #1909
fix ready just need some testing, working on that

[2015-08-21 22:15] andidev commented on #1909
tested for dto mapstruct and dto no option with one-to-one, many-to-one and many-to-many relationship.

so you can merge this

[2015-08-21 23:14] Vaelyr commented on #1895
https://www.npmjs.com/package/pluralize

This one works, would require to add a variable into template I assume and replace entity name usage locations where it is required.

[2015-08-21 23:28] Vaelyr opened #1912 "AWS - Database settings & table names"
I tested my application on AWS. Deployment works fine, except that table names in MySQL are generated all in upper case due to the default parameter group setting `lower_case_table_names` which defaults to 0 and the schema default collation seems to be case sensitive.

This results all the database queries to throw an invalid SQL exception from Hibernate. I had to change all table names to lower c

[2015-08-22 00:34] andidev commented on #1900
I am having trouble now as well with the entity pages. Though my browserSync seems to refresh the page but no changes are visible. However refreshing the page on port 8080 (non broswer sync) seems to work fine.

I also noticed that using the ip address instead of localhost:3000 seems to work.

I feel I'm going slightly mad, nothing makes any sense anymore.

[2015-08-22 01:28] deepu105 commented on #1910
Fyi, this due to a recent change done in EBS by AWS
On 22 Aug 2015 02:26, "Gaël Marziou" <notifications@github.com> wrote:

[2015-08-22 01:33] deepu105 commented on #1900
I dont know if its just me who thinks chrome doesnt obey cache rules, it
doesn't refresh files even with a cntrl+f5 i have to keep the console open
with caching disabled all the time. Any one else experience the same?
On 22 Aug 2015 08:34, "Anders Steiner" <notifications@github.com> wrote:

[2015-08-22 06:06] andidev commented on #1900
I always keep the console open so I wouldn't know. Did not now about ctrl f5.
Though I'm also having issues with chrome sometimes crashing with bluescreens after a resresh. Are you experiencing that as well @deepu105?

[2015-08-22 06:36] jdubois commented on #1909
Great, you even do more tests than me!

[2015-08-22 06:36] #1909 closed

[2015-08-22 08:28] i4irshad commented on #1905
@gmarziou
Tried running the npm install -g rff-doctor from jhipster project directory. Below is the output

Irshads-MacBook-Pro:jhipster Irshad$ npm install -g rff-doctor
/usr/local/bin/rff-doctor -> /usr/local/lib/node_modules/rff-doctor/bin/rff-doctor
rff-doctor@0.2.3 /usr/local/lib/node_modules/rff-doctor
├── figures@1.3.5
├── q@1.4.1
├── semver@4.3.6
├── lodash@3.10.1
├── which@1.1.1 (is-absol

[2015-08-22 08:37] i4irshad commented on #1905
bower install did the trick :)
Able to see the home page...
Thank you all :+1:

[2015-08-22 10:00] rblazquez opened #1913 "AWS deployment fails for us-east-1 location"
It fails to create the bucket with the message: "The specified location-constraint is not valid"

[2015-08-22 10:09] rblazquez commented on #1910
Ive tried the solution you posted at #1875 and was not able to make it works. However it is easy to complete the beanstalk configuration manually and it works.

Even when at the moment it does not does all the work, it saves time and effort.

[2015-08-22 11:58] gmarziou commented on #1895
I suppose it does work only for English.

[2015-08-22 11:59] Vaelyr commented on #1895
I personally consider API-s or code written in any other language than English very rigid.

[2015-08-22 12:08] gmarziou commented on #1895
Customer decides.

[2015-08-22 12:09] Vaelyr commented on #1895
Developer shouldn't agree and should say no ;)

[2015-08-22 13:26] gmarziou commented on #1895
:smile:

[2015-08-22 15:11] deepu105 commented on #1900
No blue screens just the cache issue
On 22 Aug 2015 14:06, "Anders Steiner" <notifications@github.com> wrote:

[2015-08-22 15:16] deepu105 commented on #1895
Ok never knew you could actually write code in non latin?
On 22 Aug 2015 21:26, "Gaël Marziou" <notifications@github.com> wrote:

[2015-08-22 17:16] jdubois commented on #1913
Can anyone else test this or propose a solution?
As we can't test it, I have no idea what we can do...

[2015-08-22 19:29] mraible commented on #1895
I discovered another bug related to this today. The double 's' does not cause a problem in functionality, but it does cause an issue with variable names in the list screen controller. In particular, the "list" of entities is named the plural version, as is the entity that gets passed to the edit dialog. There's some variable name collision that takes place when editing, but it rears its ugly head